[2021-06-15 14:17] karthik25 opened #76955 "Support for 4.4.x version of Mongo"
Hello,

There is this statement in this document - "Specifically, this MongoDB connector supports versions up to 4.2."

So, I was wondering when support for 4.4.16 version of mongo would be coming.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05eed8d3-001c-543f-afb2-823a2cff8a35
* Version Independent ID: 148

[2021-06-15 14:18] Krold opened #76956 "Deprecated code"
This tutorial is massively deprecated.
public interface InstanceIdResult is deprecated.
public class FirebaseInstanceId is deprecated.

A nightmare and a waste of time trying to run this!
Please, update.

[2021-06-15 14:18] byronthe123 commented on #76916
@AjayKumar-MSFT - the example in the quickstart link ([Quickstart: Add Chat to your App | JavaScript](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/chat/get-started?pivots=programming-language-javascript#start-a-chat-thread)) is correct. The issue is in the npm Readme page found at the following link: https://www.npmjs.com/package/@azure/communication-chat?activeTab=rea

[2021-06-15 14:33] timmcfadden opened #76958 "The screenshot for Enable Integration is old"
The screenshot shows clicking on threat detection but that doesn't exist anymore.  Is is now called Integrations
![screenshot](https://user-images.githubusercontent.com/5409336/122071931-26e93080-cdc5-11eb-853b-c3129f218f9a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05da473f-3b1d-8b8b-ea7a-68d0e7e62c31
* Versi

[2021-06-15 14:40] Bishoy opened #76959 "Can you please include the phonetic sets of el-GR and ar-EG"
I have a project where I'm mainly using SSML for synthesizing audio and I would appreciate having the phonetic sets for both greek and arabic as a reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa500b3f-b01e-862e-94d3-91d42dae7bad
* Version Independent ID: 41da757e-159d-9029-9e04-1f4c1202c73b
* Content: [Spe

[2021-06-15 14:59] yanivlavi commented on #76657
I recommend you do not relay on search results in your integration. Future API version will not include search results.
Please use either dimensions or the links to get to the alert context. If you have to use the results, I recommend doing it via logic app and the provided LA API link we provide.

[2021-06-15 15:01] yanivlavi commented on #76657
This is an example of a metric measurement alert template: https://docs.microsoft.com/azure/azure-monitor/alerts/alerts-log-create-templates#template-with-cross-resource-query-up-to-api-version-2018-04-16

[2021-06-15 15:22] michaelgobz commented on #76855
I actually tired that and
Blew up with some error of the driver not found
Then I changed to the one from the connection strings from the Sql server instance the error persisted

[2021-06-15 15:29] JamesTran-MSFT commented on #76945
@sringler
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 15:31] JamesTran-MSFT commented on #76946
@Hbaele
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 15:31] JamesTran-MSFT commented on #76948
@slebodat
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-15 15:33] mike-urnun-msft commented on #76728
@braveamita Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-15 15:33] #76728 closed

[2021-06-15 15:34] JamesTran-MSFT commented on #76958
@timmcfadden
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 15:34] mike-urnun-msft commented on #76694
@MarkIannucci Thanks for helping us drive improvements towards MS Docs! Since you already have an open PR currently under review, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-15 15:34] #76694 closed

[2021-06-15 15:35] pioardi opened #76961 "Clarify how event grid is authenticating on source and destinations"
It is not so clear how event grid service is authenticating to a source or a destination.
For example if an event grid system topic has as source a storage account and as destination a service bus topic.

The example above is working and event grid topic has no system assigned identity enabled, how that works under the hood ?

Thanks in advance

---
#### Document Details

⚠ *Do not edit this secti

[2021-06-15 15:35] AjayKumar-MSFT commented on #76942
@alephenne, That's a good catch! Thanks for taking time to share your feedback. We have raised a PR and the changes will published soon.

[2021-06-15 15:38] AjayKumar-MSFT commented on #76944
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-15 15:38] mike-urnun-msft commented on #76801
@SandeepGuduru Since we haven't heard back, we will now proceed to close this thread. If there is no such documentation, please consider posting on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) where MS engineers & other community SMEs are present to answer any questions around troubleshooting and how-to scenarios.

[2021-06-15 15:38] #76801 closed

[2021-06-15 15:41] AjayKumar-MSFT commented on #76956
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-15 15:54] AjayKumar-MSFT commented on #76602
chamikasandamal, Thanks for additional info. I 'm checking on this and will get back to you shortly.

[2021-06-15 15:58] jitendraRai opened #76963 "Azure B2C Error code AADB2C90287 is missing"
[Enter feedback here]
Reference:- https://stackoverflow.microsoft.com/questions/262578

The Error code "AADB2C90287" needs to be updated into the Error code document.

Error code site URL:- https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes

Microsoft.Cpim.Protocols.OAuth2.OAuthException: The request contains invalid redirect URI 'http://localhost:3033/',

Below is the Kusto Q

[2021-06-15 16:06] manoskow commented on #76746
Hi @screamingworld ! Thanks for your patience! The limitation we set in our documentation indicating support of single video stream for web SDK is from a quality prospective, implementing rendering of multiple video stream is available from a functionality prospective as demonstrated in our calling samples, but is highly impacted by network conditions and mechanisms to handle multiple videos resol

[2021-06-15 16:06] manoskow commented on #76746
We are updating the docs to make that more clear

[2021-06-15 16:15] benjaminjamesowens opened #76964 "Review claim in sentance"
I believe the sentence "Audit logs: The audit logs activity report gives you access to the history of every task that's performed in your tenant." is not accurate. You could be lead to believe that anything within Teams, SharePoint/OneDrive or Exchange would be captured here, but as I understand that's not the case.  For example, creating a transport rule wouldn't get capture here, change a Teams

[2021-06-15 16:17] gaborvar opened #76965 "Inconsistent use of "customer-managed" in section "Server-side encryption using customer-managed keys in customer-controlled hardware""
Hi, great article on a foundational topic. Thanks!
Under subsection "Server-side encryption using customer-managed keys in customer-controlled hardware" the text refers to _server-managed_ keys in customer controlled HW. As the section is about customer-managed, not server managed keys, i am wondering if this really refers to service managed.

Also, in the table the header uses a term not introduc

[2021-06-15 16:21] JamesTran-MSFT commented on #76963
@jitendraRai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 16:22] b-juche commented on #76740
Connected @elfcounsel with technical stakeholders for further discussion.  The setting needs further vetting before doc changes can be made.  Win ( @elfcounsel ) has been looped in.  For now I'm closing this ticket.  We'll continue discussion through email.

[2021-06-15 16:22] b-juche commented on #76740
#please-close

[2021-06-15 16:22] #76740 closed

[2021-06-15 16:23] JamesTran-MSFT commented on #76964
@benjaminjamesowens
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 16:24] Krold opened #76966 "Deprecated code and unuseful tutorial"
This tutorial is massively deprecated.
`public interface InstanceIdResult` is deprecated.
`public class FirebaseInstanceId` is deprecated.

A nightmare and a waste of time trying to run this!
Please, update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5d

[2021-06-15 16:24] #76956 closed

[2021-06-15 16:24] GitaraniSharma-MSFT commented on #76869
Affinity is maintained using a HTTP cookie as mentioned in this [doc](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-http-settings).
![image](https://user-images.githubusercontent.com/67630903/122089375-50857480-ce24-11eb-9620-8b2183127152.png)

[2021-06-15 16:28] JamesTran-MSFT commented on #76965
@gaborvar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-15 16:31] MonikaReddy-MSFT commented on #76952
@jonwbstr - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-15 16:32] YutongTie-MSFT commented on #76951
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-15 16:32] MonikaReddy-MSFT commented on #76952
@jonwbstr -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-15 16:32] #76952 closed

[2021-06-15 16:37] KranthiPakala-MSFT commented on #76955
Hi @karthik25
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-15 16:37] psmanhas commented on #69658
@rbgigo I again reached out to our internal team on this and the latest update estimated quarter is CY2021Q3. We do not have a more specific release date we can share right now but rest assure it is being worked upon.

Thanks

[2021-06-15 16:41] KeishaW commented on #76803
@Oury-MSFT  Ok noted. Should the Quickstart documentation be updated to both say that it only works in West Central US and that only specific types of subscriptions will work?

[2021-06-15 16:43] YutongTie-MSFT commented on #76959
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-15 16:44] ealsur commented on #76933
This is a bug on the SDK, unrelated to the documentation page.

[2021-06-15 16:47] Oury-MSFT commented on #76803
@JasonMAnderson Please see customer feedback should the documentation be updated to mention that Ledger only works in West Central US and only specific type of subscriptions will work and we list out the subs name.?

[2021-06-15 16:50] leandmilo commented on #75273
Hi guys, any update with this article about Provisioning? Thanks in advance @JamesTran-MSFT  @jeevansd  @v-rant?

[2021-06-15 16:51] bjmcoop opened #76967 "Incorrect or incomplete information"
On this page it states that there is a limit of 150 groups for SAML tokens.  That's not correct (either in part or entirely).  I have an account recently that is in 95 groups and it is not passing the group list and instead passing the API token.  I've limited the Enterprise App that's in question to only send Security Groups (which reduces it to 65 groups) and that isn't working either.

---
####

[2021-06-15 16:57] julieMSFT commented on #75818
@edfreeman Thank you for contacting Microsoft. I have updated the documents with "Data Exfiltration Protection" instead of "DEP". You will see the changes today. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you agai

[2021-06-15 16:57] julieMSFT commented on #75818
#please-close

[2021-06-15 16:57] #75818 closed

[2021-06-15 16:59] aahill commented on #76951
@rurounijones going back in time, I think this is the section you're referring to?

https://github.com/MicrosoftDocs/azure-docs/blob/b460ff65753190c7e93f604d0d56b4dc419dfa20/articles/cognitive-services/LUIS/luis-how-to-azure-subscription.md#assign-a-query-prediction-runtime-resource-without-using-the-luis-portal

Could you check if the information you need is in the current article; in the "Azure

[2021-06-15 17:01] julieMSFT commented on #72312
@sasever I have reviewed your suggestions. We will update the article to address your concern with "Has many unique values. The column can have some duplicate values.  All rows with the same value are assigned to the same distribution. Since there are 60 distributions, some distributions can have >1 unique values while some may end with zero value. " I have updated the article today and you should

[2021-06-15 17:01] julieMSFT commented on #72312
#please-close

[2021-06-15 17:01] #72312 closed

[2021-06-15 17:03] #75405 closed

[2021-06-15 17:09] fernandoferrini commented on #76692
Hi, was wondering if you have any update on this. Thanks.

[2021-06-15 17:27] scale-tone opened #76969 "Links to sample code are completely broken"
E.g. the paragraph that explains how to narrow down access to a subscription level - that paragraph doesn't actually explain that.  Instead it references some sample code project - and that sample code is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent

[2021-06-15 17:30] JamesTran-MSFT commented on #76768
@JustYT
I just wanted to check in and see if you were able to review my previous comment?

[2021-06-15 17:31] jsh121988 opened #76970 "Link Broken"
The Azure Synapse Pathway link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae03af6-d883-f2df-d3bb-4b5918dff639
* Version Independent ID: c3e99656-3ce5-0246-16aa-f643c7664cf2
* Content: [Azure Synapse Analytics: Migration guide - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analy

[2021-06-15 17:33] #76923 closed

[2021-06-15 17:35] mike-urnun-msft commented on #76949
@ziodave @spelluru Closing this issue for now. Feel free to reopen if anything further on the matter.

[2021-06-15 17:35] #76949 closed

[2021-06-15 17:36] sunnyhay commented on #76526
Thanks for the feedback @shivanissambare.

[2021-06-15 17:36] #76526 closed

[2021-06-15 17:50] mike-urnun-msft commented on #76807
Great feedback, @jvalente-salemstate! Given the scope of updates, we are assigning this issue to the content author to review further and take the next course of action.

[2021-06-15 17:58] jmcarthurcorr opened #76972 "Missing _GOV licenses for GCC tenants"
The documentation for licensing is missing standard GCC tenants. Licenses typically have ~_GCC~ _GOV suffixes appended to the standard license/sku identifiers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [P

[2021-06-15 18:03] bandersmsft commented on #76944
@gclementimicrosoft You're right. The set up experience was recently changed. I've updated the article accordingly. Thanks for letting us know about this issue.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/162495

#please-close

[2021-06-15 18:03] #76944 closed

[2021-06-15 18:04] denious opened #76973 "Incorrect format of the 'scope' parameter"
All documents that mention the scope explain it as simply a "space-separated list of scopes". What the documentation does not mention is that the correct format is `https://{tenant}/{application id}/{scope}`.

Where is this format documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052

[2021-06-15 18:05] JamesTran-MSFT commented on #76972
@jmcarthurcorr
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 18:09] MashaMSFT commented on #75831
Hi @rvahaver , thanks for your feedback! Actually, since this is the name of the IP resource, the limitation is the length of the registry entry, which is 256 characters. I'm not sure how often customers are hitting that limitation so I'm not sure if there is value in adding it to the documentation since we're not documenting max limits elsewhere.

I'm going to close this as a won't-fix for now bu

[2021-06-15 18:09] #75831 closed

[2021-06-15 18:11] mpdavis21 opened #76974 "Update the document to clarify that nothing can use the disallowed ranges in the same vnet as AKS."
[Customers need more emphasis on what is NOT allowed in Azure in regards to Kubernetes service address range documentation.
]
The documentation states what must not overlap, but the customer is looking for more clarity such as the below.
**no subnets can have those disallowed ranges if they exist in the same VNet as an AKS cluster**

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-06-15 18:12] mike-urnun-msft commented on #76853
@mandarsj Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2021-06-15 18:24] dzsquared commented on #76855
@michaelgobz did you successfully "Install the ODBC driver, SQLCMD, and the Python driver for SQL Server" as included in the prerequisites?

[2021-06-15 18:35] SadiqhAhmed-MSFT commented on #76934
@mpowrie We are working with the REST API documentation team to publish them. Current ETA for doc availability is a month or two.

[2021-06-15 18:46] SadiqhAhmed-MSFT commented on #76950
@mtrangel89 From the description provided "customize backup policy" what I understand is, you want to modify your Azure VM backup policy which is currently configured with daily and weekly. If so, you can modify backup policy. Here are the steps to perform from Azure portal - https://docs.microsoft.com/en-us/azure/backup/backup-azure-manage-vms#modify-backup-policy
From CLI - https://docs.microsof

[2021-06-15 18:47] aholler2 opened #76975 "Update Microsoft.Devices/IotHubs API Versions in ARM Template Reference Docs"
Update Request: https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/iothubs

I'd love it if you updated the Microsoft.Devices/IotHubs documentation in the ARM template reference documentation. It is missing two different API versions so far which I can find in the ARM schema GitHub repository.

Schema has been auto-generated here:
https://github.com/Azure/azure-rest-api-specs/blob/m

[2021-06-15 18:52] anechaud commented on #54665
is this feature added? can we add reference to local file template json?

[2021-06-15 19:07] pkaushik23 opened #76977 "Document should not advise for "VerifyUserHasAnyAcceptedScope ""
In the section "**Verify the scopes on each controller action**"(https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles#verify-the-scopes-on-each-controller-action), the document should not advise for an obsolete method (_VerifyUserHasAnyAcceptedScope_), instead should advise for **[RequiredScopes]**

---
#### Document Details

⚠ *Do

[2021-06-15 19:23] itsnotaboutthecell opened #76978 "POWER_BI_PRO_CE"
Can you please document a description of the POWER_BI_PRO_CE license that is available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](http

[2021-06-15 19:26] RDukes425 opened #76979 "Add Note for Redirect URI's for Azure Government"
Is it possible to make a note for the Redirect URI as it relates to Government customers?
Could the verbiage be something to the effect "If the Redirect URI is left as www.microsoft.com, the User will not need to sign in" or "Please update the Redirect URI to a website for the user to sign in ie. Web Application, Azure Gov Portal, My Applications Portal, etc"

Reason: Customer encountered issue wh

[2021-06-15 19:28] AjayKumar-MSFT commented on #76942
@alephenne, The PR has been merged and the doc reflects the changes. Thanks again for bringing this to our attention. It's much appreciated.

![image](https://user-images.githubusercontent.com/44606227/122111986-fa252f80-ce3d-11eb-9db2-081730290464.png)

[2021-06-15 19:28] #76942 closed

[2021-06-15 19:33] rboucher commented on #67073
#label:"CreateAzMonWIFeb2021"

[2021-06-15 19:39] sjflanagan opened #76980 "Conflicting information on Server version support for Cloud Prov Agent"
Conflicting information on Server version support:

https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/tutorial-single-forest

In your on-premises environment
Identify a domain-joined host server running **Windows Server 2012 R2** or greater with minimum of 4 GB RAM and .NET 4.7.1+ runtime

https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-prerequisites

An

[2021-06-15 19:43] ezYakaEagle442 opened #76981 "How to create an App Service Java App on Azure Arc"
About Step 5. Deploy some code , this is a basic sample with NodeJS.

What about a Java App requiring a build step ? how to get the build completed ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdb7930-0ada-090c-7f95-eafcabf3ad66
* Version Independent ID: 850011e6-6f39-0574-6438-8811373f6846
* Content: [Quickstart:

[2021-06-15 19:43] sosimon commented on #76442
Case number is 2105280010001958

On Fri, Jun 11, 2021 at 2:19 PM TravisCragg-MSFT ***@***.***>
wrote:

[2021-06-15 19:52] inaun opened #76982 "Documentation is inaccurate and incomplete"
This documentation is talking about versions of DRS that do not appear to exist in *any* version of Front Door. In the Azure portal, DefaultRuleSet_1.0 is the highest version that shows for any version of Front Door. DRS 1.1, 1.2, and 2.0 simply do not exist.

Additionally, the MDRS (Microsoft_DefaultRuleSet) managed rule sets are not discussed at all! It appears that "DRS" is supposed to cover th

[2021-06-15 20:00] gfree76 opened #76983 "Docs seem out of date"
When I go to the enterprise application, and go to the Provisioning blade, I don't see an option for restricting the scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6960e6-1a0c-267f-4ec4-2ff7574b1f09
* Version Independent ID: b08f7ae9-2b9a-c629-74e8-71a403543b97
* Content: [Configure SCIM provisioning for Micro

[2021-06-15 20:01] JamesTran-MSFT commented on #76978
@itsnotaboutthecell
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 20:03] JamesTran-MSFT commented on #76977
@pkaushik23
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-15 20:14] divargas-msft opened #76984 "Step 13 from Oracle Linux 7.0 and later section - Azure Data source section"
* There is an error in the Azure data source section in step 13 in the following section:

* That error causes issues with the OVF file not being found, there is an issue with the Azure datasource yaml configuration (it does not have the indentation:

**Current configuration:**

[code]

**Proper configuration:**

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-06-15 20:17] JamesTran-MSFT commented on #76973
@denious
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-15 20:18] lysacor opened #76985 "Documentation regarding .NET Core ~>3.0 with VNET integration and traffic being routed to the Internet via an Azure Firewall (or any other firewall)"
[Enter feedback here]
After speaking with Azure support re: 2106030040004393 it was discovered a .NET Core behavioral change was made that impacts app services using VNET integration.

Apparently a previous version of .NET Core, when performing SSL certificate validation, would send the validation traffic (CRL/OCSP/etc..) via the outgoing IPs allocated to the app service upon build, instead of usi

[2021-06-15 20:34] #53585 closed

[2021-06-15 20:37] KranthiPakala-MSFT commented on #76970
Hi @jsh121988
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-15 21:02] brandwe commented on #71871
Agreed. Intune will do this in next quarter when we GA Firstline Worker. Will be same process as MaM capable apps: https://docs.microsoft.com/en-us/mem/intune/apps/apps-supported-intune-apps

[2021-06-15 21:03] brandwe commented on #71871
This can be closed. No permission to do so.

[2021-06-15 21:04] brandwe commented on #70348
Agreed. Intune will do this in next quarter when we GA Firstline Worker. Will be same process as MaM capable apps: https://docs.microsoft.com/en-us/mem/intune/apps/apps-supported-intune-apps. @mmacy I have no ability to close, ec.

[2021-06-15 21:04] SaiKishor-MSFT commented on #76720
@ishmeet177 The answer conveys that you cannot create the same port for any listener. I don't think this needs more clarification at the moment. Let me know if you have any more questions/concerns. Thank you!

[2021-06-15 21:05] psignoret commented on #74269
@schmitch You're absolutely right that sending `prompt=consent` _must not_  be interpreted as a guarantee that the user will actually be prompted for consent, or is in any form of administrator. (Because, like you say, the user could just remove `prompt=consent` from the URL.)

I wasn't quite able to understand what you're trying to do. If you're trying to determine whether the signed-in user is a

[2021-06-15 21:08] SaiKishor-MSFT commented on #76824
@spissay Hits for threat intelligence rules are logged in the AzureFirewallNetworkRule category.  [Here is link to the discussion of this and a sample log entry.](https://docs.microsoft.com/en-us/azure/firewall/threat-intel#logs). Regarding reporting this data on slack, please allow me sometime to get back to you on this. Thanks!

[2021-06-15 21:10] #76970 closed

[2021-06-15 21:10] KranthiPakala-MSFT commented on #76970
The PR for the fix has been created and it will be merged soon.

Here is the  correct download link - https://www.microsoft.com/download/details.aspx?id=103061

Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-15 21:15] JasonMAnderson commented on #76803
@Oury-MSFT this limited region situation is very temporary.  Additionally, I don't know the absolute answer to which subscriptions can/cannot access; only that MSDN (benefits) and MSINTERNAL cannot.  All others should, but I can't test to be certain.

[2021-06-15 21:16] #71871 closed

[2021-06-15 21:16] SaiKishor-MSFT commented on #76830
@epinto Thank you for reaching out to Github.

[This document here](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-portal#enable-nsg-flow-log) that talks about enabling NSG Flow Logs mentions:

The storage account may take around minute to create. Don't continue with remaining steps until the storage account is created. In all cases, the storage account mus

[2021-06-15 21:20] rurounijones commented on #76951
Ahoi aahill. thank you for the quick response.

Yes indeed https://github.com/MicrosoftDocs/azure-docs/blob/b460ff65753190c7e93f604d0d56b4dc419dfa20/articles/cognitive-services/LUIS/luis-how-to-azure-subscription.md#assign-a-query-prediction-runtime-resource-without-using-the-luis-portal contains the section I need.

The Azure CLI section is not a useful replacement as it assumes the reader has al

[2021-06-15 21:23] rurounijones commented on #76951
Ahoi aahill. thank you for the quick response.

Yes indeed https://github.com/MicrosoftDocs/azure-docs/blob/b460ff65753190c7e93f604d0d56b4dc419dfa20/articles/cognitive-services/LUIS/luis-how-to-azure-subscription.md#assign-a-query-prediction-runtime-resource-without-using-the-luis-portal contains the section I need.

The Azure CLI section is not a useful replacement as it assumes the reader has al

[2021-06-15 21:31] mike-urnun-msft commented on #75652
@ozbillwang We're proceeding to assign this issue to the content author to review further and take the next course of action.

[2021-06-15 21:33] KranthiPakala-MSFT commented on #76983
Hi @gfree76
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2021-06-15 21:34] SaiKishor-MSFT commented on #76880
@dshiraj

<img width="1109" alt="VM" src="https://user-images.githubusercontent.com/68254272/122126351-74c26080-cde6-11eb-9e8e-b525a3926101.png">
As seen above, I was able to disassociate the Pubic IP from the NIC using the same commands as given in the document. Are these the same steps that you followed? Please send me a snapshot. Thank you!

[2021-06-15 21:35] tfitzmac commented on #76084
@ElanShudnow - thanks for this feedback. To avoid breaking anyone's process that is not expecting the new column, I have created a [new csv file with the 3 values](https://github.com/tfitzmac/resource-capabilities/blob/master/move-support-resources-with-regions.csv). I'm adding a link to that file in the article.

[2021-06-15 21:35] PatrickFarley commented on #76865
I think this is too in-depth to put in the quickstart, even though it's a best practice. Is this a scenario that's not already covered under [Manged Identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)?

[2021-06-15 21:35] tfitzmac commented on #76084
#please-close

[2021-06-15 21:35] #76084 closed

[2021-06-15 21:38] SaiKishor-MSFT commented on #76879
@dshiraj As mentioned in the other Git issue, please share a snapshot of all the comands you give and the snapshot of the Public IP overview page so I can understand better. Thank you!

[2021-06-15 21:44] mike-urnun-msft commented on #76961
@pioardi Thank you for your feedback! We will review and update as appropriate.

[2021-06-15 21:45] mike-urnun-msft commented on #76969
Hi @scale-tone - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-15 21:53] JamesTran-MSFT commented on #76967
@bjmcoop
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-15 22:03] artisticcheese opened #76987 "Syntax for powershell customizer is not correct"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#powershell-customizer

`inline` element is expecting an `array` so correct syntax should look like

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-ea67a0350718
* Version Independent ID: 20667a9c-cd22-ce77-d4d

[2021-06-15 22:18] pjboardman commented on #34451
To add on to @PMatthaei 's reply, I had the same issue with [fastify](https://www.fastify.io/docs/latest/Server/#listen). Changed binding to 0.0.0.0 and it started working

[2021-06-15 22:26] kagarmoe opened #76989 "Broken Image Links"
Hi! Both the images on this page are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6985c1-fec9-dddd-e6f1-83dd9510e711
* Version Independent ID: ddf7c9f1-101a-fdf9-2af4-c9e537a52c2d
* Content: [Embed Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/embed-cloud-shell)
* Content Source: [ar

[2021-06-15 22:29] Anand-Moghe opened #76990 "Can we add MSMQ server as supported data sources for on-premise data gateway?"
Is it possible to use Azure LogicApp to connect to on-prem **MSMQ** server using on-prem data gateway?
If so then why is it not listed on the supported data sources list while Microsoft support IBM MQ series etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independent I

[2021-06-15 22:39] TakiyaNakano-MSFT opened #76991 "please remove the discription regarding Office 365 authentication"
[Enter feedback here]
please refer to the discission IcM 243029169.
Office 365 authentication is dependent on Regional Discovery Service, and shutting down of Regional Discovery Service is ongoing. This, Office 365 authentication of Azure Data Factory doesn't work any more.
https://docs.microsoft.com/en-us/power-platform/important-changes-coming#regional-discovery-service-is-deprecated

Please rem

[2021-06-15 22:56] schmitch commented on #74269
@psignoret ah well great answer! yeah basically what you wrote in stackoverflow is what we did. we requested permission via prompt=consent and than we made a graphql request for global administrator. we figured that out ourself. but I think something like that should at least made it into the comments ;-) it's really easy to screw this up and that opens a huge security issue (especially with multi

[2021-06-15 22:59] MarileeTurscak-MSFT commented on #76980
@sjflanagan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-15 23:06] InformTechPro opened #76993 "Monitoring Contributor - publish monitoring dashboards as a shared dashboard."
The article states that Monitoring Contributor can publish monitoring dashboards as a shared dashboard. Additional information is needed. For a dashboard is a Microsoft.Portal resource type and Monitoring Contributor has only Read permissions to Microsoft.Portal. We need to clarify how the "Publish monitoring dashboards as a shared dashboard" permissions are allowed without having write access to

[2021-06-15 23:07] Oury-MSFT commented on #76890
@venkateshtarra Thank you for being patient while we were looking at this issue.
![image](https://user-images.githubusercontent.com/78940872/122130471-8575d500-cdec-11eb-9db8-3dedb2594f0d.png)
The Authority should be set to the Azure Active directory tenant associated with your subscription and there should be no GUIDs in the **box labeled Allowed object IDs**. You will also notice that the box is

[2021-06-15 23:19] MisterReally opened #76994 "Link to whitepaper broken/dead"
Clicking on link named "Cloud-based API Management: Harnessing the Power of APIs" no longer works (at least in Chrome/Win10)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e98f59-eb03-4692-db13-ac0c61a6dd3c
* Version Independent ID: 55059f88-2aa2-b916-03e7-0589cc166555
* Content: [Azure API Management overview and ke

[2021-06-15 23:23] collinstevens opened #76995 "Hard to understand Note on Concurrency throttles"
I believe the sentence, "Even if millions of orchestrations or entities are in the "Running" state, only orchestrations or entities or do not count towards the throttle limit unless they are loaded into active memory.", in the document has a grammar issue.

I cannot make sense of it as it is written.

I believe it is supposed to read as "Even if millions of orchestrations or entities are in the "R

[2021-06-15 23:24] hctrr opened #76996 "Policy write: Contributor vs. Policy Contributor"
Based on the [built-in roles page](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles) the breakdown for contributor and Policy Contributor would overlap as Contributor has both write and delete for all actions within `Microsoft.Authorization`, however that is not the case when a user attempts to create (write) a new policy at the scope they have `Contributor` rights o

[2021-06-15 23:25] BharathNimmala-MSFT commented on #76640
@simon-an Our sincere apologies for delay in getting back to this thread, reached out to our internal team to further expand on your queries, as we need more information to better understand your scenario will get back to you.

Will keep this thread updated as we have more information.

[2021-06-15 23:28] BharathNimmala-MSFT commented on #76953
@InformTechPro Thank you for your feedback , we will review it and get back to you at the earliest.

[2021-06-15 23:30] cgillum commented on #76995
That's embarrassing 😅. I recently updated this article and probably made that grammar mistake while trying to rephrase it (and sadly it wasn't caught during review). Thanks @collinstevens for opening this GitHub issue to let us know. I think I might change it to the following (a slight variation of your suggestion).

Let me know what you think.

[2021-06-15 23:32] collinstevens commented on #76995
@cgillum that looks good to me! Makes a lot more sense as well.

[2021-06-15 23:36] mike-urnun-msft commented on #76994
Hi @MisterReally - It seems to be working fine: https://j.mp/ms-apim-whitepaper

It should prompt a download of a PDF file: [microsoft_azure_api_management_white_paper_20150520.pdf](https://github.com/MicrosoftDocs/azure-docs/files/6659295/microsoft_azure_api_management_white_paper_20150520.pdf)

[2021-06-15 23:37] mike-urnun-msft commented on #76990
Hi @Anand-Moghe - Thank you for your feedback! We will review and update as appropriate.

[2021-06-15 23:42] mpowrie commented on #76934
Thanks @SadiqhAhmed-MSFT!

[2021-06-15 23:43] Karishma-Tiwari-MSFT commented on #76974
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-15 23:44] Karishma-Tiwari-MSFT commented on #76979
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-15 23:46] mike-urnun-msft commented on #76995
@cgillum PR is up for your review.

@collinstevens Thanks again for helping us drive improvements towards MS Docs! Once the PR is approved & merged, this issue will self-close.

[2021-06-15 23:47] Karishma-Tiwari-MSFT commented on #76984
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-06-16 00:10] minhe-msft commented on #76209
@stawo,
Thank you for the feedback. I have fixed the issue you reported by updating the Python, .Net, and REST code samples with new APIs.

[2021-06-16 00:10] minhe-msft commented on #76209
#please-close

[2021-06-16 00:11] #76209 closed

[2021-06-16 00:13] #76995 closed

[2021-06-16 00:18] gcontrabass opened #76998 ".NET Core has been deprecated - need update to code for Function App"
Function App code meant to work in .NET Core runtime. That is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a5bd255-3da7-da79-f9fc-6b49164e410a
* Version Independent ID: eaa13933-48b4-0df1-99eb-2259c52e2008
* Content: [Tutorial: Implement IoT spatial analytics](https://docs.microsoft.com/en-us/az

[2021-06-16 00:24] josmill opened #77000 "What is meant by "create a target server per source server""
"In the target region, create a target server for each source server..."
What does this mean. The documentation then links to setting up a secondary database, here: https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-security-configure#how-to-configure-logins-and-users

Can you clarify on what it means to create a target server for each source server?

Do I have to set

[2021-06-16 00:39] ecfan commented on #76990
Hi @Anand-Moghe,

Thanks for your question! Based on the [Connector reference list for Azure Logic Apps](https://docs.microsoft.com/connectors/connector-reference/connector-reference-logicapps-connectors), no connector is available for Microsoft Message Queue (MS MQ).

If you'd like to submit a request to the product team, please post your request at the [Azure Logic Apps product feedback page](ht

[2021-06-16 00:40] #76990 closed

[2021-06-16 01:10] pieterhancke opened #77001 "More detail on roles"
Hi, can you please provide more details on the roles and their specific access. The table specifies that a Security Reader cannot edit Policy (which is true) - but can a Reader view policy? From my testing a Reader is limited to viewing built-in policy but cannot see custom initiatives. What role / permission is required to view all content in ASC?

---
#### Document Details

⚠ *Do not edit this s

[2021-06-16 01:14] lipalath-ms opened #77002 "Question about parallelization in Azure Durable Functions using SubOrchestrator"
I followed the article and wrote the following code where 1) OrchestratorFunction has activity function to get all jobs and for each job, 2) there is suborchestrator function and suorchestrator function has multiple activity functions.

[code]
Does this code run all the jobs in parallel? Meaning the time taken to execute 10 jobs and 1000 jobs will be the same? When I tested running 10 jobs and 100

[2021-06-16 01:17] jianleishen commented on #76991
thank you @TakiyaNakano-MSFT . We are working on this to guide user migrate from O365 to SP (see this: https://docs.microsoft.com/en-us/azure/data-factory/connector-troubleshoot-guide#error-code-dynamicsfailedtoconnect). Meanwhile, when choosing O365, it's been redirect to GDS already.

[2021-06-16 01:19] MonikaReddy-MSFT commented on #76987
@artisticcheese - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-16 01:44] MonikaReddy-MSFT commented on #75727
@karlgots - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-16 01:54] sparameswaran78 commented on #49494
we had the same issue and no fix for this, we have disable legacy application long back and blocked conditional access to access office 365 services and it is allowed only from US but notice in the azure logs attempt through imap from diff countries

[2021-06-16 01:54] Derek1101 opened #77004 "Azure IoT hub private endpoint supported for China"
Hi there, we got a customer feedback pointing out that IoT hub private endpoint is supported for China, would you kindly confirm and add it in section **China** if so?  Thank you.
![image](https://user-images.githubusercontent.com/13619681/122145995-cfac9400-ce88-11eb-83cb-651fa36189e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-06-16 02:03] ZollnerdMSFT commented on #76156
Generally, AAD Premium features operate with an honor system/auditing approach rather than hard blocking you if you are not in compliance. A feature may work without the proper licenses being in place, but that would put you out of compliance with Microsoft licensing terms and could cause problems down the line.

#please-close

[2021-06-16 02:03] #76156 closed

[2021-06-16 02:26] sokoloffmaks opened #77005 "update documentation confirming whether service tag can be used in UDRs (preview)"
hi can you pls update documentation adding extra column on the right confirming whether service tag can be used in UDRs (preview ) or not ..
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure serv

[2021-06-16 02:35] #75727 closed

[2021-06-16 02:38] RyanHill-MSFT commented on #76602
@chamikasandamal try removing `v2.0` from the issuer endpoint and let us know if that works.

[2021-06-16 02:50] RyanHill-MSFT commented on #76921
@rbkaspr we are aware of this documentation gap. This V2 is in preview and we will be making documentation updates to better clarify the differences. If you having issues configure E2E user auth, please see https://github.com/MicrosoftDocs/azure-docs/issues/75135#issuecomment-852390211.

[2021-06-16 02:52] mauricio-msft commented on #76857
You're right @DerekHerman-MSFT, I will do do that, thank you!

[2021-06-16 02:53] spelluru commented on #76969
Hi @scale-tone - I see that the link that refers to https://code.msdn.microsoft.com/Using-Shared-Access-e605b37c is broken. This site (code.msdn.microsoft.com) was shut down. I will try to find the sample. Is there any other link that's failing for you? Thanks.

"For a working sample that illustrates this procedure, see the [Using Shared Access Signature (SAS) authentication with Service Bus Subsc

[2021-06-16 02:55] RyanHill-MSFT commented on #76966
Thank you for your feedback @Krold and apologies for this experience. I've assigned this issue to the content author to address.

[2021-06-16 02:57] bjmcoop commented on #76967
It appears this may have been falsely reported.  The users that were testing found a lot of nested groups that were several layers deep.  Apologies for any confusion.

Brian McCann
Solutions Architect – Platform Services & Architecture
CO-OP Financial Services
1845 Satellite Boulevard
Suite 300, Duluth, GA 30097
Be there. Be more.
C 909-204-0838
E ***@***.***

________________________________
From

[2021-06-16 02:58] RyanHill-MSFT commented on #76981
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);">Thanks for the feedback! We are currently investigating and will update you shortly.<br></div>

[2021-06-16 03:05] RyanHill-MSFT commented on #76985
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-06-16 03:34] lrtoyou1223 commented on #61781
@pnarsi
yes, you are right. In current version of ADF managed vnet, you are allowed to access data stores without PE. But in future, we plan to provide some data exfiltration features like allow customers to block all public access, setup some rule to control outbound traffic.
Feel free to contact me if you further questions about this. Thanks a lot.

[2021-06-16 03:35] lrtoyou1223 commented on #61781
@pnarsi , could we close this issue?

[2021-06-16 03:41] pnarsi commented on #61781
@lrtoyou1223 thanks for the clarification. I can see that a note has been added to the docs so from a documentation perspective so we can close this. I'll follow up offline around this future data exfiltration capability.

[2021-06-16 03:41] #61781 closed

[2021-06-16 03:41] venkateshtarra commented on #76890
@Oury-MSFT  Thanks for your detailed response and updating GitHub link with latest content. I am very happy with your quick turn around . I will try from my end with updated link and closing this issue now.

[2021-06-16 03:41] #76890 closed

[2021-06-16 03:45] MayankBargali-MSFT commented on #77002
@lipalath-ms Thank you for your feedback! We will review and update as appropriate.

[2021-06-16 03:48] lrtoyou1223 commented on #67058
#please-close

[2021-06-16 03:48] #67058 closed

[2021-06-16 03:58] jianleishen commented on #76991
@KranthiPakala-MSFT  we don't yet have immediate plan to remove this **term** on UI but backend it already redirects user to GDS.  refer to the O365 deprecation plan and we will plan it properly along with this. https://docs.microsoft.com/en-us/power-platform/important-changes-coming#deprecation-of-office365-authentication-type-and-organizationserviceproxy-class-for-connecting-to-dataverse

[2021-06-16 04:14] gfaraj commented on #47611
@RyanHill-MSFT Just checking in here to see if there's any updates. Thanks!

[2021-06-16 04:14] Oury-MSFT commented on #76803
@KeishaW are you using Sql Ledger or Azure Confidential Ledger?

[2021-06-16 04:21] islamtg opened #77006 "sink error when attempting"
Hello I am getting the following error

{ "errorCode": "2200", "message": "Failure happened on 'Sink' side. ErrorCode=UserErrorFailedFileOperation,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The request to 'Unknown' failed and the status code is 'BadRequest', request id is ''. <!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\"\"http://www.w3.org/TR/html4/strict.dtd\

[2021-06-16 04:27] SwathiDhanwada-MSFT commented on #76993
@InformTechPro Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-16 04:31] v-hagamp commented on #64699
#please-close

[2021-06-16 04:31] #64699 closed

[2021-06-16 04:42] AjayKumar-MSFT commented on #76975
@aholler2, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 04:45] AjayKumar-MSFT commented on #76982
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 04:50] AjayKumar-MSFT commented on #76989
@kagarmoe, Thanks for bringing this to our attention! Your feedback has been shared with the content owner for doc (images) update.

[2021-06-16 04:54] AjayKumar-MSFT commented on #76996
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 04:58] michaelgobz commented on #76855
@dzsquared I was working in an online colab notebook environment , Could that be a problem

[2021-06-16 04:59] SadiqhAhmed-MSFT commented on #76934
@mpowrie Closing this issue for now.

[2021-06-16 05:03] SadiqhAhmed-MSFT commented on #77000
@josmill Thank you for the question. We will look into this and get back to you shortly.

[2021-06-16 05:11] AjayKumar-MSFT commented on #76998
@gcontrabass, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 05:14] lrtoyou1223 commented on #59809
We have already added several credential sync troubleshooting in our public docs, please see:
[Credential sync issue causes credential loss from HA](https://docs.microsoft.com/en-us/azure/data-factory/self-hosted-integration-runtime-troubleshoot-guide#credential-sync-issue-causes-credential-loss-from-ha)
[Self-hosted integration runtime nodes out of the sync issue](https://docs.microsoft.com/en-us

[2021-06-16 05:14] lrtoyou1223 commented on #59809
#please-close

[2021-06-16 05:14] #59809 closed

[2021-06-16 05:16] lrtoyou1223 commented on #69754
@jikuja , generally customers don't need to uninstall/reinstall SHIR for any setting change. It only happens when certain version of SHIR has some regression, but it's very rare and typically only suggested when it's mandatory.

[2021-06-16 05:16] lrtoyou1223 commented on #69754
#please-close

[2021-06-16 05:16] #69754 closed

[2021-06-16 05:17] #76934 closed

[2021-06-16 05:18] SadiqhAhmed-MSFT commented on #76732
@TimoNordstrom-Nordcloud Closing this issue for now as no action pending from our end.

@v-amallick Please update this thread once the doc is updated.

[2021-06-16 05:18] #76732 closed

[2021-06-16 05:20] SadiqhAhmed-MSFT commented on #76638
@Johnnytechn For this issue, I would suggest you to reach out to Azure technical support for further investigation.

[2021-06-16 05:20] #76638 closed

[2021-06-16 05:21] vinishgeorge opened #77007 "Can you please add the Java sample for auto scaling the VM on azure batch"
1. Can you please add the information to how we can auto scale a VM withAutoScaleFormula and withAutoScaleEvaluationInterval?
2. The documentation only has .net and python examples . Can you add java examples too ?
3.  I cannot find any java docs for the library too. can that be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-06-16 05:23] BharathNimmala-MSFT commented on #76911
@jks05c Post validation with our internal team, it has been called out that currently the release is in progress and the documentation reflects the new feature which would be available by end of this week . So requesting you to review the portal UI early next week and please feel free to circle back if you are still not seeing it in the UI as per document.

Sorry for the experience and thanks for

[2021-06-16 05:23] #76911 closed

[2021-06-16 05:25] SadiqhAhmed-MSFT commented on #76600
@trkeya For visibility.

[2021-06-16 05:28] marktab commented on #76909
@GiftA-MSFT the issue has been fixed, please close

[2021-06-16 05:37] AjayKumar-MSFT commented on #76521
@denious, Apologies for the delayed response. We're discussing on this internally and will share an update soon. Thanks for your patience!

[2021-06-16 05:43] AjayKumar-MSFT commented on #76618
@arturtamborski, Apologies for the delay! We're discussing on this internally and will post an update soon.

[2021-06-16 05:45] AjayKumar-MSFT commented on #76602
@chamikasandamal, As Ryan mentioned, kindly try removing `v2.0` from the issuer endpoint.
If the issue still persists, I wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, and your app name, I will follow-up with

[2021-06-16 05:45] #76602 closed

[2021-06-16 05:46] vishnurajnr opened #77009 "Unable to set a variable using SetVariable activty"
[Enter feedback here]

Unable to select the dropdown value for Variable Name
![image](https://user-images.githubusercontent.com/5379205/122164309-38e5d480-ce94-11eb-90cd-4d44ae3ee135.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5180c2b-1ea6-3924-dc01-3f7c9296774b
* Version Independent ID: f040eee7-35fb-676c-ad3

[2021-06-16 05:51] ShaikMaheer-MSFT commented on #76860
@oremao We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-16 05:51] #76860 closed

[2021-06-16 05:56] ShaikMaheer-MSFT commented on #76903
@jianleishen Could you please validate feedback and update as appropriate. Thank you.

[2021-06-16 06:13] VikasPullagura-MSFT commented on #77007
@vinishgeorge
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-16 06:13] VikasPullagura-MSFT commented on #77007
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2021-06-16 06:20] ShaikMaheer-MSFT commented on #77009
@vishnurajnr Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-16 06:25] ShaikMaheer-MSFT commented on #77006
@islamtg Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-16 06:34] kalyankrishna1 commented on #74283
#reassign:idg-sam

[2021-06-16 06:36] jianleishen commented on #76903
thank you for the feedback and concern. see this pr for adding clarity for this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/162560

[2021-06-16 06:44] HarshitaSingh-MSFT commented on #76878
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-16 06:50] HarshitaSingh-MSFT commented on #76927
Hello @Fronizzle, thanks for taking time to share your valuable feedback! Can you please share the article you are referring to here?

[2021-06-16 06:52] dheerajkumar-solanki opened #77010 "Secret Paths in Environment Variable"
According to the [Docs](https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secrets#store-the-path-to-a-secret-in-an-environment-variable), "environment variables are not accessible from a program running in Spark". But, I tried accessing environment variables in spark code in Databricks Notebooks as well as Databricks Jobs which are submitted through Spark-Submit Option, I was able

[2021-06-16 07:28] SadiqhAhmed-MSFT commented on #77000
@josmill For SQL DB move cross region, we treat SQL server as a document resource where we ask customers to either leverage  an existing server in target region or create a net new server.
This is because we don’t have a move technology/mechanism for SQL server to move cross regions yet.

E.g If you are looking to move two SQL DBs A and B which are associated to SQL severs 1 and 2. You would need

[2021-06-16 07:36] mcurko opened #77012 "Please detail step 7"
This step is unclear. The web.config already looks like the one in the documentation. Were it an existing project, what content should be added or modified in web.config ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95c9506f
* Version Independent ID: 6f818cb1-5c1e-22a0-dbb5-cb065d880775
*

[2021-06-16 07:38] jasonhorner opened #77013 "Replicated Tables documentation not entirely complete / accurate"
per the video the actual architecture of the replicated tables is:

![image](https://user-images.githubusercontent.com/7981510/122177561-f9db6300-ce42-11eb-945e-b294ca0d7b5a.png)

however the current image doesn't show this level of detail

![image](https://user-images.githubusercontent.com/7981510/122178082-7ec67c80-ce43-11eb-9668-90013d8264e4.png)

furthermore the text here
https://docs.microsof

[2021-06-16 07:39] JayaChatterjee-MSFT commented on #76931
@ggailey777 do you approve this change?

[2021-06-16 07:39] HarshitaSingh-MSFT commented on #76938
I have tested this and it looks true, let me get back to PG and ask some more clarification on this.

[2021-06-16 07:42] davihern commented on #76933
Thanks for the information!

[2021-06-16 07:42] #76933 closed

[2021-06-16 07:44] davihern commented on #76933
Close, since documentation is correct.
SDK bug in v2 (for 32 bit) will be fixed. Alternative is to compile&run the process in 64 bits

Recommended to upgrade to newer SDK v3

[2021-06-16 07:51] vishnurajnr commented on #77009
Thanks. I have raised it in the [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)
https://docs.microsoft.com/en-us/answers/questions/438272/azure-data-factory-set-variable-not-working-no-opt.html

I think the documentation can be improved to state the usage of the Set Variable- like if this activity can not be used at the beginning of a pipeline or put some common usage

[2021-06-16 08:04] AshokPeddakotla-MSFT commented on #76716
@wesmc7777 Since this needs a complete change assigning this issue to you for further updates.

[2021-06-16 08:16] shashishailaj commented on #77001
@pieterhancke Thank you for the query. We will investigate and update the thread.

[2021-06-16 08:24] DDFXulei opened #77014 "Access keys is under Security + networking tab now"
Access keys is under **Security + networking** tab now

![image](https://user-images.githubusercontent.com/29651679/122184806-2d5bd300-cebf-11eb-83b4-8df29dcc7c0e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247d9900-c024-7ed5-3ea2-6541606c7712
* Version Independent ID: ce928556-d603-1722-79bb-67fbaf81da37
* Con

[2021-06-16 08:31] shashishailaj commented on #77005
@sokoloffmaks Thank you for your suggestion . We will engage the content team to review and consider the same.

Thank you.

[2021-06-16 08:34] CHEEKATLAPRADEEP-MSFT commented on #77013
@jasonhorner  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-16 08:43] CHEEKATLAPRADEEP-MSFT commented on #77014
@DDFXulei Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/162570](https://github.com/MicrosoftDocs/azure-docs-pr/pull/162570)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2021-06-16 08:43] #77014 closed

[2021-06-16 08:51] Fronizzle opened #77015 "Hello @Fronizzle, thanks for taking time to share your valuable feedback! Can you please share the article you are referring to here?"
Hello @Fronizzle, thanks for taking time to share your valuable feedback! Can you please share the article you are referring to here?

_Originally posted by @HarshitaSingh-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/76927#issuecomment-862097574_

[2021-06-16 08:55] CHEEKATLAPRADEEP-MSFT commented on #77010
@dheerajkumar-solanki  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-16 09:08] phwecker opened #77017 "documented option of installing via NPM causes javascript errors"
when following the instructions for installing the javascript packages using NPM, the page throws the following errors :

Uncaught ReferenceError: exports is not defined
    at atlas-indoor.js:2702
map.htm:65 Uncaught TypeError: atlas.control.LevelControl is not a constructor
    at map.htm:65

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-06-16 09:10] jasonhorner opened #77018 "Clarify impact of CRUD operations to the base table when there is a materialized view"
the documentation seems to imply:

require low maintenance on the views. All incremental data changes from the base tables are automatically added to the materialized views in a **synchronous manner.** This design allows querying materialized views to return the same data as directly querying the base tables.

does this imply there is an overhead to insert update and delete operations to the base

[2021-06-16 09:13] phwecker opened #77019 "after following steps, no indoor map is rendered"
after following steps in https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps and this doc, the expected result is not rendered, only a blank mapping window.

there are mo java script errors in the page and using the query steps in https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps do result in expected data, so the map import seems to have wor

[2021-06-16 09:30] baswijdenes opened #77020 "Forbidden errors when trying to update a Managed Identity SPN"
I read this issue and I have the same:
https://github.com/MicrosoftDocs/azure-docs/issues/22700

I cannot update an SPN created for Managed Identities because I'm not the owner, but unfortunately I cannot add an owner even when I'm global Admin. I created a seperate app registration and tried it with application permissions but that doesn't work either.

Module:
I’m using AzureAd module version 2.

[2021-06-16 09:40] SwathiDhanwada-MSFT commented on #77012
@mcurko Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-16 09:43] 2Deep2Dive opened #77022 "Clean Up Script not working"
[Enter feedback here]
The Clean up script is missing the following registry key
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Azure Site Recovery\Registration

without removing this key, the VMM server will be in the registered state to the old resource name, even after deleting all the resources at the Azure portal, and it will not be possible to re-register the VMM with any new resources

---
#### Docum

[2021-06-16 09:59] RohitMungi-MSFT commented on #76788
@rjxby I have reached out internally to author of the page to provide your feedback. This repo is private so issues cannot be filed directly. Thanks for helping us with this information.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-06-16 09:59] #76788 closed

[2021-06-16 10:11] HarshitaSingh-MSFT commented on #77022
Hello @2Deep2Dive , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-16 10:27] miqm opened #77023 "Display name for emea-ch-zrh-edge Availablility Tests source location"
The display name for `emea-ch-zrh-edge` is `France Central (Formerly France South)`.
However, there's a `France Central` location with `emea-fr-pra-edge`.

The id suggests it's not France but Switzerland North (CH is the international code for Switzerland, zrh suggest Zurich)

This also affects the display name in Application Insights.

Could you verify?

---
#### Document Details

⚠ *Do not edit

[2021-06-16 11:20] felipmiguel opened #77025 "Assign the Owner role to the Azure Spring Cloud Resource Provider clarification"
[Enter feedback here]
This page mentions that it is necessary to assign _Owner_ role to _Azure Spring Cloud Resource Provider_ to the vnet. I didn't know that also the resouce providers also have a Service Principal and I tried to assign my own user to that rol. The documentation refers to https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-tutorial-deploy-in-azure-virtual-network#gra

[2021-06-16 11:24] OffColour opened #77026 "Account Key and Firewall with Azure Files"
This page only shows account key as an option for Azure Files.
The page on Blobs says that you need to use Managed Identity if accessing a storage account will Firewall settings enabled.

Setting up a scan for Azure Files doesn't give managed identity as an option.

So this looks like you can't use Purview to scan Azure Files where the firewall has been setup as using the Access Key gives a 403 er

[2021-06-16 11:29] JayaChatterjee-MSFT commented on #76883
Hello @t-souravgoel I see a similar issue has been discussed here: https://stackoverflow.com/questions/65231702/how-to-pass-multiple-parameters-to-azure-durable-activity-function

However, you may want to use Value Tuple as per https://github.com/Azure/azure-functions-durable-extension/issues/152#issuecomment-367156971

https://www.geeksforgeeks.org/tuples-in-python/
https://realpython.com/python-

[2021-06-16 11:29] psignoret commented on #75213
@mmacy The "Other permissions granted" table shows up only if other permissions are granted _tenant-wide_ (e.g. by an admin, via admin consent). Other permissions granted by individual users, on their own behalf, will not be noted.

[2021-06-16 11:29] #76883 closed

[2021-06-16 11:37] #77009 closed

[2021-06-16 12:01] r0nen opened #77027 "SDK for Development"
Hi,
Is there any way to receive the SDK other than sending an email to support@cyberx-labs.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea72ca8a-ff49-a131-a2dc-42af17d6027f
* Version Independent ID: 02e41595-0b48-2da7-45a1-49d080a97042
* Content: [Horizon SDK - Azure Defender for IoT](https://docs.microsoft.com/

[2021-06-16 12:07] AshokPeddakotla-MSFT commented on #77019
@phwecker Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-16 12:08] AshokPeddakotla-MSFT commented on #77017
@phwecker Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-16 12:14] ThijsLecomte opened #77028 "Data sources for different rules"
[Enter feedback here]
What is the reasoning behind the different data sources for the Fusion rules?
Take the following as an example [Multiple VM deletion activities following suspicious Azure AD sign-in](https://docs.microsoft.com/en-us/azure/sentinel/fusion#multiple-vm-deletion-activities-following-suspicious-azure-ad-sign-in). This will combine alerts from MCAS/IDP with Azure events, more parti

[2021-06-16 12:16] #75213 closed

[2021-06-16 12:22] yoelhor commented on #50330
Dear @johnhydemtm365,

I have checked the ROPC flow again with two different Azure AD B2C tenants, using the **new** app registration. I seems to work as expected. It takes a couple of minutes for the metadata configuration to take affect.  Please let me know if you mange to make it work.

I'm also updating the doc with the troubleshooting section. This GitHub issue will be closed when the changes

[2021-06-16 12:36] marki555 opened #77031 "Wrong link to "AI enrichment" feature"
Link to feature "AI enrichment" points to a different content - https://docs.microsoft.com/en-us/azure/search/search-security-manage-encryption-keys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f26025-af57-17c6-0b51-b64d46b450fe
* Version Independent ID: d60c32f2-f86e-7773-db4b-8f59dbcabf5d
* Content: [Choose a pri

[2021-06-16 12:43] domo536 opened #77032 "Problem Faced"
Hi, im facing a problem when creating a new B2C Tenant. However, I could not find the error code from this website https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/common-deployment-errors.

Below is a screenshot of the problem that I faced, can you help me to solve this?
![image](https://user-images.githubusercontent.com/85671043/122221066-83db0880-cee3-11eb-863e-00428e73c9

[2021-06-16 12:48] #50330 closed

[2021-06-16 12:54] mumian commented on #77032
@domo536 - lookup the error code "SubscriptionNotRegistered" in the referenced article.  Let us know if the solution provided doesn't solve the issue.

#please-close

[2021-06-16 12:54] #77032 closed

[2021-06-16 13:01] domo536 commented on #77032
Okay, I'll try it again tomorrow. It's already out of my working hour.

[2021-06-16 13:09] SnehaAgrawal-MSFT commented on #77031
@marki555 Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-16 13:10] ErikMogensen opened #77033 "Should mention which Azure services require certificates with exportable private keys"
The article should mention which Azure services require that the certificates have an exportable private key and which services are able to use a certificate with a non exportable key.

For instance, Application gateway requires that the listener certificates have an exportable private key, whereas API Management does not require it for the certificates used for the hosts.

Does certificates with

[2021-06-16 13:12] #76909 closed

[2021-06-16 13:16] MayankBargali-MSFT commented on #76908
@sashkotarasenko Sorry for hear about your experience. I have followed up the document and couldn't observe the same issue. Can you please confirm whether you have verified the section [Configure your local environment](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-node?tabs=azure-cli%2Cbrowser&source=docs#configure-your-local-environment) and verify if you have

[2021-06-16 13:17] MayankBargali-MSFT commented on #76771
@Leonardo-Ferreira Following up to see if you can provide more details on the document issue so we can assist you further.

[2021-06-16 13:21] SarveshPandey opened #77034 "How to move 200 database to Azure SQL DB when online DMS is not supporting?"
We have to move data from On-premise SQL Server to Azure SQL Database (Elastic Pool). But according to this doc, Online DMS is not supporting now only offline is available.
Can someone help us out to design a migration plan on moving 200+ database to Azure SQL DB.

Note - Database size are more then 100Gb

Also, why to use offline DMS now when we can do the same thing using DMA application.

---
#

[2021-06-16 13:23] AjayKumar-MSFT commented on #77004
@Derek1101, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 13:25] shubhi97 opened #77035 "other options for online Migration using DMS"
[Enter feedback here]
I have 200 database and I want to migrate it from on-premises to Azure SQL with continuous sync. what are the other option I can follow to get this sync as Online Migration From DMS is no longer supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
* Versio

[2021-06-16 13:26] rsrinivasanhome opened #77036 "Query - System.Diagnostics.Trace.TraceError("hello world") not viewable in appservice"
I have built a .net core 3.1 api .  In one of the controller api I have added the statement
System.Diagnostics.Trace.TraceError("Hello World");

I can see the output in the debug -> Output window.

I have tried following this documentation but could never see this output anywhere in the app service logs .  Am I missing something.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-06-16 13:28] yoelhor commented on #76963
Dear @jitendraRai , thanks for the feedback. I'm updating the article with the missing error message. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published).

[2021-06-16 13:30] #76963 closed

[2021-06-16 13:32] alexs77 opened #77037 "Link broken "Tutorial - Use quickstart templates for Azure Resource Manager Bicep development - Azure Resource Manager""
Under _Recommended content_, there's this link:

- Title: Tutorial - Use quickstart templates for Azure Resource Manager Bicep development - Azure Resource Manager
- URL: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/bicep-tutorial-quickstart-template

There is no content at https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/bicep-tutorial-quickstart-

[2021-06-16 13:49] fjuhasz opened #77039 "Content issue"
[Enter feedback here]
Hi,

When the documentation details the features of the service why do not you use the same terminology as it is in the table.
The table show the feature availability by plan and the "Features" section would provide a 2-3 sentences description for each of them using the same name as in the table. Now the feature names and descriptions are two different things.

BR,
Ferenc

--

[2021-06-16 13:53] abhijeet-MSFT opened #77040 "Include required role/permissions to create trust."
Please include the role/ permissions required by admin to create an inbound trust on Azure AD Domain Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b720fc-6c21-35d9-c2e1-1604d5b9d194
* Version Independent ID: ddd44a92-411f-b107-41b6-9b9a40e0c82e
* Content: [Tutorial - Create a forest trust in Azure AD Domai

[2021-06-16 13:53] weyCC81 opened #77041 "Conditional Access & Identity Protection is not available as Global Reader (AAD)"
No access as Global Reader in the Azure Active Directory admin center to Conditional Access & Identity Protection

Please add the following to "Global reader role has a few limitations right now"
* Azure Active Directory admin center - No access to Conditional Access & Identity Protection in the Web

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-06-16 14:03] yelevin commented on #76785
@ThijsLecomte Thank you for your question.
The section of the document that you describe does not contain instructions. It explains the actions taken by the validation script, which you can run if you suspect your connection has not been made properly or you are not receiving data that you expect to receive.
Since Cisco ASA logs, while not strictly CEF, are ingested into the CEF table ("CommonSecu

[2021-06-16 14:09] tfitzmac commented on #77037
@alexs77 - thanks for making us aware of this issue. That article has been deleted but the redirect was incorrect. I'll fix the redirect.

[2021-06-16 14:12] Crafoord commented on #49245
This still seems to be an issue, got our socket working by switching from "F1" tier to "B2".

[2021-06-16 14:16] vipulsparsh commented on #76696
@msmimart Can you have a look at this ?

[2021-06-16 14:16] AjayKumar-MSFT commented on #77015
@Fronizzle,  To avoid duplication. As @HarshitaSingh-MSFT mentioned in #76927 (comment) - We request you to share the Azure doc URL there.
E.g. If this is the Azure doc for which your feedback is applicable to -
https://docs.microsoft.com/azure/active-directory/fundamentals/add-users-azure-active-directory

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting

[2021-06-16 14:16] #77015 closed

[2021-06-16 14:17] luishdemetrio opened #77042 "The Portugal Portuguese (pt-pt) translation is incorrect."
I noticed today that the word Hash is being translated to Haxixe (Cannabis) for Portugal Portugues language. Do you know if there is a way to fix it?

US: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-distribute

![image](https://user-images.githubusercontent.com/49683427/122235747-52871c00-ce94-11eb-8b80-3c2db729cff2.png)

PT-PT: https://doc

[2021-06-16 14:18] anthonychu commented on #76887
@davidmrdavid can you please verify this?

[2021-06-16 14:18] vipulsparsh commented on #76713
@sgolota If it does not have a  column selection page here, then this is by design.  Feel free to raise a feedback on our feedback page :  https://feedback.azure.com/forums/169401-azure-active-directory

[2021-06-16 14:18] #76713 closed

[2021-06-16 14:19] tfitzmac commented on #77037
Yes, all of the tutorial content for Bicep has been replaced by Microsoft Learn content. I am redirecting all of those links to [Bicep in Microsoft Learn](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/learn-bicep).

[2021-06-16 14:21] pmsousa opened #77043 "Translation unintelligible"
Portuguese translation has several language mistakes and turns sentences into complete nonsense or unintelligible.

An example is the translation of "vNet Peering" with "espremiá-lo vNet". The word doesn't even exist!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d655e62-511c-5c94-da5f-8ae2fa48927f
* Version Indepe

[2021-06-16 14:22] AjayKumar-MSFT commented on #77018
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 14:22] LwsSt opened #77044 "Page does not explicitly say which Azure Key Vault permissions are required for an application to read an encrypted column"
When creating an application which reads encrypted columns from Azure SQL, it's not entirely clear what minimum set of permissions are required in order for the application to work properly.

The CLI snippets (for Powershell and Azure CLI) under _Create a key vault to store your keys_ have these lines respectively:

`Set-AzKeyVaultAccessPolicy  -VaultName $vaultName  -ResourceGroupName $resourceGr

[2021-06-16 14:23] adagioajanes commented on #33601
This may not be fully on topic, but I feel it needs to be addressed here. The pricing makes no sense what-so-ever. How is it that the smallest manual deployment of Application Gateway v2 ($0.28/hour), costs nearly as much as a single Large Application Gateway v1 ($0.32/hour)?

I know this isn't the location for recommending Microsoft make the pricing better. Instead, the documentation needs to sho

[2021-06-16 14:27] AjayKumar-MSFT commented on #77020
@baswijdenes, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 14:28] AjayKumar-MSFT commented on #77023
@miqm, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 14:31] vipulsparsh commented on #77001
@pieterhancke The custom policy initiative utilizes Azure policy and thus needs permission for that as well.

Azure Policy has several permissions, known as operations, in two Resource Providers:

[Microsoft.Authorization](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftauthorization)
[Microsoft.PolicyInsights](https://docs.microsoft.com/en-us

[2021-06-16 14:32] RaghuramP commented on #48662
You can try the following sample code, its not perfect this is very close, any App for which SAML was enabled and disabled later will also be listed, and if there are multiple certs you will have multiple start and end dates.
$SPs=Get-AzureADServicePrincipal -All $true | Where-Object {($_.Tags -contains "WindowsAzureActiveDirectoryGalleryApplicationNonPrimaryV1") -and ($_.Tags -contains "WindowsAz

[2021-06-16 14:33] AjayKumar-MSFT commented on #77025
@felipmiguel, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 14:34] tfitzmac commented on #76851
@nekdima - thanks for this feedback. That content is present in [Use Azure Key Vault to pass secure parameter value during Bicep deployment](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/key-vault-parameter?tabs=azure-cli) but we need to add a link to that article in the other article about parameters.

I'll add that link.

[2021-06-16 14:35] AjayKumar-MSFT commented on #77026
@OffColour, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-16 14:39] tfitzmac commented on #76851
I see now there is also an example that needs to change.

[2021-06-16 14:48] aralvar opened #77045 "Zone change is not supported"
Please document that zones cannot be added/updated/removed once the resource is created. The resource cannot be updated from regional to zonal or vice-versa.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9461e901-80bd-8dbb-b866-76dd7f7fcef4
* Version Independent ID: 06daf40b-6a98-57bb-768d-6d296567f100
* Content: [Azu

[2021-06-16 14:51] pochiraju commented on #77035
Please send us email at dmsfeedback@microsoft.com with more specifics about your migration and downtime requirements that migration needs to meet.  We need to understand the  size of the databases, if all these databases needed to be migrated in a single migration window or can be migrated in phases.

[2021-06-16 15:11] spissay commented on #76824
Thanks SaiKishore,

Happy to get on a call to discuss this in detail.

Thanks,
Shashank

From: SaiKishor-MSFT ***@***.***>
Sent: 15 June 2021 16:09
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Shashank Pissay ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Clarification on Alert and Deny Feature (#76824)

@spissay<https://github.com/spissay> Hits for threat intelligence

[2021-06-16 15:15] tfitzmac commented on #76851
The updates will be published today.
#please-close

[2021-06-16 15:15] #76851 closed

[2021-06-16 15:16] RyanHill-MSFT commented on #47611
Hi @gfaraj, I sent you an email back on 6/7 asking for additional information. I'll send it again just in case you missed.

[2021-06-16 15:17] tfitzmac commented on #77037
The fixed redirects will be published today.
#please-close

[2021-06-16 15:17] #77037 closed

[2021-06-16 15:17] gfaraj commented on #47611
Oh, sorry about that, I probably missed it, thanks!

[2021-06-16 15:19] tfitzmac commented on #76937
@vhorne - can you take a look at this request Azure Firewall limits?

[2021-06-16 15:21] MichaelBrooks-Informatyx opened #77047 ""Code sample to create permission" makes no sense"
This code sample comprises just two lines. The first line declares and assigns a variable, but this appears to be a pointless operation because the second line makes no use of that variable.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-299432737ffb
* Version Independent ID: b2b292bb-1beb-aaef-

[2021-06-16 15:21] chunliu commented on #76039
Based on my test, it can be deployed on non-AKS cluster now. The deployment requires a storage class, a load balancer and a static public IP for the load balancer.

[2021-06-16 15:28] MichaelBrooks-Informatyx opened #77048 "Conflicting scope of resource tokens"
Under heading "Resource tokens" it says "Resource tokens: Provide access to specific containers, partition keys, documents, attachments, stored procedures, triggers, and UDFs.".
Under heading "Permissions" it says "A permission resource is associated with a user and assigned at the container as well as partition key level.".
Assuming that "access" from the 1st sentence and "permission" from the 2n

[2021-06-16 15:36] RyanHill-MSFT commented on #47611
No worries 😊

[2021-06-16 15:39] JamesTran-MSFT commented on #77041
@weyCC81
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-16 15:40] JamesTran-MSFT commented on #77040
@abhijeet-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-16 15:46] sandervandevelde opened #77049 "URL redirect "https://aka.ms/iot-security-github-cs" is unclear"
See the https://docs.microsoft.com/en-us/azure/defender-for-iot/how-to-deploy-linux-cs#installation section.

The "https://aka.ms/iot-security-github-cs" URL redirection ends in this bing search URL: "https://www.bing.com/?ref=aka&shorturl=iot-security-github-cs".

The closed match seems to be this 2 years old https://github.com/Azure/Azure-IoT-Security-Agent-CS which is on par with the fact this

[2021-06-16 15:46] yoelhor commented on #76696
I'm checking this issue. Will keep you posted soon.

#assign: @yoelhor

[2021-06-16 15:46] PRMerger19 commented on #76696
 yoelhor is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-16 15:53] MicrosoftGuyJFlo commented on #68481
#please-close Just use something that works for your organization and set standards you can follow.

[2021-06-16 15:53] #68481 closed

[2021-06-16 16:02] AjayKumar-MSFT commented on #77028
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 16:05] HeidiSteen commented on #77031
@marki555  Thanks for letting us know!  The link is fixed in the next pull request and will be live later today.

#please-close

[2021-06-16 16:05] #77031 closed

[2021-06-16 16:07] danhellem commented on #76578
I just tested, reproduced the error, and validated a fix. Will submit a PR today to get the docs updated.

[2021-06-16 16:08] AjayKumar-MSFT commented on #77027
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 16:15] #76885 closed

[2021-06-16 16:17] Oury-MSFT commented on #77047
@MichaelBrooks-Informatyx  Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-06-16 16:19] paratz opened #77051 "Error during sign-in - The credentials provided for the AzureCostManagement source are invalid."
Hello Everyone,

We are trying to use the powerBI App and we get the following error:
Failed to update data source credentials: The credentials provided for the AzureCostManagement source are invalid.

**We've assigned to the user the "Enterprise Administrator Role (read only)" at the https://ea.azure.com. Also this same user has the role of "Cost Contributor" at the Tenant Management Group.**

![

[2021-06-16 16:25] himanshusinha-msft commented on #76738
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-16 16:32] mllipi opened #77052 "Documentation does not mention that Storage account ( General Purpose v1) does not support Private endpoint."
[Enter feedback here]

Limitation link (https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations) should mentions that Storage account ( General Purpose v1) does not support Private endpoint.

![image](https://user-images.githubusercontent.com/49646183/122258142-a01d7c00-cec8-11eb-976e-74369b2de435.png)

This was stated over a year ago and no changes in the documen

[2021-06-16 16:42] jitendraRai opened #77053 "UserJourney must include DefaultCpimIssuerTechnicalProfileReferenceId when using Transfer subjourney."
Reference:- https://stackoverflow.microsoft.com/questions/262834

Please update the document as mentioned in the SO Question. (https://docs.microsoft.com/en-us/azure/active-directory-b2c/subjourneys)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa334514-803c-a2dc-3a05-af10070c46d4
* Version Independent ID: aa2ebc9b-bb

[2021-06-16 16:44] yoelhor commented on #76696
The HTML labels are there.  In the **classic** template you can see them:

![image](https://user-images.githubusercontent.com/20111866/122241366-29ce4900-cecb-11eb-8c20-68817643d779.png)

In **Blue** template they are hidden. But, you can use CSS to change the appearance.

![image](https://user-images.githubusercontent.com/20111866/122259622-09a68600-cedb-11eb-9bfb-38e6d9f87651.png)

[2021-06-16 16:44] mbinnix commented on #75918
Why is this closed. No answer to my question has been posted.  I sent the email requested and have received no response.

MBx

[2021-06-16 16:48] crisansou opened #77054 "Documentation doesn't explain how to install wheel files using SDK or REST API"
Hi,

I would like to install wheel files using Azure DevOps, but the documentation only explains how to install the library through the workspace. Is it possible to use SDK or REST API for this? If this is possible, can you guiys explain what needs to be done, please?

Best regards,
Cristina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-06-16 16:48] KeishaW commented on #76803
@Oury-MSFT I am using SQL Ledger

[2021-06-16 17:00] tsrob50 opened #77056 "Azure Virtual Desktop vs. Windows Virtual desktop"
The documentation indicates to assign the new role to Azure Virtual Desktop.  My test subscription does not have AVD, it's still showing Windows Virtual Desktop.  This could be problematic for others with existing subscriptions trying to follow the directions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac2ed89-73b

[2021-06-16 17:06] yoelhor commented on #77053
Dear @jitendraRai , thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published).

[2021-06-16 17:06] #77053 closed

[2021-06-16 17:11] YutongTie-MSFT commented on #76751
Thanks for the information.

@siddharthnobellIdtn
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-16 17:11] #76751 closed

[2021-06-16 17:11] AjayKumar-MSFT commented on #77034
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 17:12] spissay opened #77057 "Reg: Storage accounts should use customer-managed key for encryption"
I modified this policy to include "Deny" Effect. I was under the impression that this policy should block the storage account creation if one doesnt select the encryption for Tables and Queues. But it doesnt seem to work.. It denies even after we select the option to use customer managed keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-06-16 17:17] baanders commented on #76578
The update to this article has now been published ([link to the updated section](https://docs.microsoft.com/azure/digital-twins/how-to-parse-models#code-with-the-parser-library)). Thank you @aguywithcode and @danhellem for the fix!

#please-close

[2021-06-16 17:17] #76578 closed

[2021-06-16 17:19] LuChen-Microsoft commented on #76916
Hi, the issue was fixed in code after the SDK published. We updated the Quickstart doc, but currently there's no release for the latest readme. The readme fix should be contained in the next SDK release version.
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/communication/communication-chat

[2021-06-16 17:19] XiaoyuMSFT commented on #77018
@jasonhorner  During DMLs on a materialized view's base tables, there's minimum impact caused by synchronizing the MV data.  The bigger maintenance impact is actually on the MV over time.  This is because all the data changes from base tables are accumulated on MV side and becomes an overhead in MV that requires manual maintenance by users.  Please check https://docs.microsoft.com/en-us/sql/t-sql/

[2021-06-16 17:23] dzsquared commented on #76855
If you are not able follow the prerequisites in that environment, then the code samples cannot be expected to work.  I would recommend working with the environment/hosting to ensure the prerequisite components are available.

[2021-06-16 17:24] ajburnle commented on #51675
#reassign:@ajburnle

[2021-06-16 17:24] ajburnle commented on #51675
#re-assign:@ajburnle

[2021-06-16 17:26] ajburnle commented on #51675
#reassign:@ajburnle

[2021-06-16 17:28] himanshusinha-msft commented on #77054
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-16 17:43] kkurkowski commented on #51708
Use the "SecretVersion" in your configuration reference.
`@Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret;SecretVersion=ec96f02080254f109c51a1f14cdb1931)`
[Use Key Vault reference](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#reference-syntax)

[2021-06-16 17:47] johnmc-tc commented on #51708
That would mean updating configuration when keyvault value has a new version added, which is not viable or acceptable in most cases.

[2021-06-16 17:51] YutongTie-MSFT commented on #76842
@aronchick Hello David, are you seeing problem when you are using the default image? Could you please use the default image or one of the images Microsoft provides to see if the problem is specific to your image? I have no seen any problem in my end. So please do a quick check.

[2021-06-16 18:02] brjohnstmsft commented on #76682
#please-close

[2021-06-16 18:09] #76768 closed

[2021-06-16 18:11] ThijsLecomte commented on #76785
That's clear to me thanks, it's just that I am commenting because I was confused about it. It looks like the documentation is wrong, a note or something like that would be great :)

[2021-06-16 18:16] psmanhas commented on #76667
@ChrisSommers The issue if fixed and the fix is rolled to all public region. Can you please check and confirm if you are still facing any issue on same?

Thanks

[2021-06-16 18:19] ChrisSommers commented on #76667
I confirm that this issue appears to be fixed now.  Thank you

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: PreetiManhas-MSFT ***@***.***>
Sent: Wednesday, June 16, 2021 7:17:02 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: ChrisSommers ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] P15 disks can no longer be shared (#76667)

[2021-06-16 18:19] YutongTie-MSFT commented on #76959
Thanks for your feedback again! The best place for product feedback is https://feedback.azure.com/forums/932041-azure-cognitive-services?category_id=395740 This forum is for document scope only. But I do forward this feedback to product team for you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will g

[2021-06-16 18:19] #76959 closed

[2021-06-16 18:24] aronchick commented on #76842
I do not have a problem with the default image, or an image from a private repo. Only the public image.

I _think_ I was able to get it to work by adding `"library/python:3.9.5-slim-buster"`

Were you able to repro? Can you try the same?

[2021-06-16 18:28] JamesTran-MSFT commented on #76948
@slebodat
Thank you for your question!

This is currently only available for the Azure Container Registry. If you'd like this feature to be available within Azure DevOps, I'd recommend creating a feature request using our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback), or reaching out to our DevOps team within their [Azure DevOps Developer Community](https://develope

[2021-06-16 18:34] ssivas commented on #76692
Hello,
I appreciated patience on this thread. I have been testing few scenarios also trying to get more insight from product team.
Kindly allow us sometime, I should able to share my findings. Thanks.

[2021-06-16 18:37] SaiKishor-MSFT commented on #76524
@tesharp Any update?

[2021-06-16 18:37] SaiKishor-MSFT commented on #76720
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-16 18:37] #76720 closed

[2021-06-16 18:40] JamesTran-MSFT commented on #76965
@gaborvar
Thank you for pointing this out!

I created a PR to update the wording to "service-managed" and it's currently waiting for the author to review and sign off. I also assigned this issue to the author to investigate and update the "client managed" column header as needed.

![image](https://user-images.githubusercontent.com/36619112/122274231-3173fa80-ce97-11eb-970c-9631d51053ed.png)

Pleas

[2021-06-16 18:41] KranthiPakala-MSFT commented on #77033
Hi @ErikMogensen - Thanks for reaching out. Could you please share the document link which you are referring to so that we can loop in the relevant team to review the feedback?

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questions). We have our

[2021-06-16 18:42] JamesTran-MSFT commented on #76973
@denious
Thank you for your time and patience!

When it comes to the correct format being **https://{tenant}/{application id}/{scope}**, are you able to share a screenshot of where you're seeing that?

Any additional information is greatly appreciated.
Thank you!

[2021-06-16 18:44] mike-urnun-msft commented on #76853
Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-16 18:44] #76853 closed

[2021-06-16 18:45] cephalin commented on #22714
Dear customers, we've been waiting on the product team to provide definitive information on this, and unfortunately the time has come for us to retire old issues that have gone stale. We're really sorry. #please-close

[2021-06-16 18:46] #22714 closed

[2021-06-16 18:50] msangapu-msft commented on #48294
Sorry for the delay. We're working to improve this documentation.
#reassign:msangapu-msft

[2021-06-16 18:51] msangapu-msft commented on #48294
#reassign:msangapu-msft

[2021-06-16 18:52] SaurabhSharma-MSFT commented on #77048
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 18:55] slebodat commented on #76948
@JamesTran-MSFT I understang that this is a feature of Azure Container Registry!
However, my question was regarding step no 2 [Add the necessary lines to your GitHub workflow and perform a scan](https://docs.microsoft.com/en-us/azure/security-center/defender-for-container-registries-cicd#step-2-add-the-necessary-lines-to-your-github-workflow-and-perform-a-scan), and whethere the same can be achive

[2021-06-16 18:57] SaurabhSharma-MSFT commented on #77044
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-16 19:02] SaiKishor-MSFT commented on #76830
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-16 19:02] #76830 closed

[2021-06-16 19:04] Justinha commented on #74824
#please-close

[2021-06-16 19:04] #74824 closed

[2021-06-16 19:08] rolyon commented on #76996
#assign:rolyon

[2021-06-16 19:17] rboucher commented on #58948
Thank you for your contribution to the Azure Monitor documentation.  We have created a workitem for this issue in our internal backlog database.  We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-16 19:17] #58948 closed

[2021-06-16 19:17] tshaiman commented on #76865
indeed , my tutorial may not fit in the quickstart, but it might fit in the "How-To" guides or as a separate section in the docs.
the key point here is that the official docs today state [here ](https://docs.microsoft.com/en-us/python/api/overview/azure/search-documents-readme?view=azure-python#authenticate-the-client)

**_"The api-key is the sole mechanism for authenticating access to your search

[2021-06-16 19:18] JamesTran-MSFT commented on #76948
@slebodat
Thank you for the quick follow up and clarification!

I reached out to my team to see if this can be achieved within the DevOps pipeline instead of GitHub, and will update as soon as possible.

[2021-06-16 19:22] KranthiPakala-MSFT commented on #77042
Hi @luishdemetrio
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will  provide an update as appropriate.

[2021-06-16 19:22] AjayKumar-MSFT commented on #76916
@LuChen-Microsoft, Thanks for your insights/comments.
@byronthe123, We'd been discussing on this internally. As Luchen mentioned, the readme fix should be contained in the next SDK release version.  We will close this for now, thanks for bringing this to our attention, your feedback is much appreciated.

[2021-06-16 19:24] MicrosoftGuyJFlo commented on #76878
#please-close

[2021-06-16 19:24] #76878 closed

[2021-06-16 19:27] rolyon commented on #76996
Hi @hctrr
Thanks for your feedback. This looks like expected behavior. In the Contributor role, note that the following permission is listed in **NotActions** instead of Actions:
`Microsoft.Authorization/*/Write`

Since it is listed in NotActions, it is subtracted from the wildcard (*) permission in Actions. Therefore, the Contributor role, does not grant the following permission:
`Microsoft.Autho

[2021-06-16 19:29] rolyon commented on #76996
Let us know if we did not answer your question or if you have additional feedback.
thanks
#please-close

[2021-06-16 19:29] #76996 closed

[2021-06-16 19:33] hctrr commented on #76996
@rolyon thank you for your response and completely understand - I'm not sure how i missed the **NotAction**

insert facepalm

[2021-06-16 19:38] SaiKishor-MSFT commented on #77052
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-16 19:39] tesharp commented on #76524
Yes, I will try to explain the setup.

There are 2 origin groups:
- backoffice-test
- api-test

each pointing to different App Service (using Custom host since they are in different subscription).

Currently there is only one route called backoffice. Its using a custom domain test.mydomain.com, both HTTP and HTTPS protocol and origin set to backoffice-test. This has a pattern match rule set to /*.

[2021-06-16 19:40] SaiKishor-MSFT commented on #76524
@tesharp If you don't mind, can you add a snapshot of the config and error?

[2021-06-16 19:41] Justinha commented on #75647
@rtrigueiro Fido2 is marked Yes as Primary now. Am I misunderstanding your comment?

[2021-06-16 19:44] SaiKishor-MSFT commented on #77045
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-16 19:46] SaiKishor-MSFT commented on #77043
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-16 19:47] JamesTran-MSFT commented on #77041
@weyCC81
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-16 19:53] SaiKishor-MSFT commented on #77039
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-16 19:53] bandersmsft commented on #77051
Hi @paratz,

As noted in the prerequisites section (https://docs.microsoft.com/azure/cost-management-billing/costs/analyze-cost-data-azure-cost-management-power-bi-template-app#prerequisites) of the article, EA admin read-only is insufficient. Only the full EA admin role is currently supported. The Cost Management team is aware that customers would like to use EA read-only role, but that hasn't be

[2021-06-16 19:54] Justinha commented on #76010
#please-close

[2021-06-16 19:54] #76010 closed

[2021-06-16 19:55] tesharp commented on #76524
Actually I cannot... I wanted to try to recreate the /api/* route now to reproduce the error message, but it allowed me this time. I was doing the same as last time, but this time it is possible to create the api route. It only showed that same error message as soon as I selected domain without changing path, but as soon as I changed path it was ok.

I dont know if there has been any change since

[2021-06-16 19:57] bandersmsft commented on #76710
Hi @sarahyoon,

Thanks for letting us know about this issue. I've verifed that the screenshot we have in the aricle is out of date and I'll get it updated as soon as I can.

[2021-06-16 19:59] paratz commented on #77051
Hello @bandersmsft, the prerequisites states the following:

To connect to data, you must use an Enterprise Administrator account. The Enterprise Administrator (read only) role is supported.

can you confirm? maybe the documentation is outdated?

Thanks,

[2021-06-16 20:01] Oury-MSFT commented on #76805
@shubhi97 Please send us email at dmsfeedback@microsoft.com with more specifics about your migration and downtime requirements that migration needs to meet. We need to understand the size of the databases, if all these databases needed to be migrated in a single migration window or can be migrated in phases as mentioned by @pochiraju . I will close this Git Issue for now as a duplicate to [this on

[2021-06-16 20:01] #76805 closed

[2021-06-16 20:10] ozhernan opened #77062 "Please Add Azure Percept links to this page"
[Enter feedback here]

Percept is missing in this page

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3485aba5-b234-dcb7-0e9f-a473c3335582
* Version Independent ID: 55b2938c-41c1-4dec-a1df-925988b91035
* Content: [Azure IoT support and help options](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-sup

[2021-06-16 20:11] wesmc7777 commented on #76421
#please-close

[2021-06-16 20:11] #76421 closed

[2021-06-16 20:12] pochiraju commented on #76342
#sign-off

[2021-06-16 20:13] pochiraju commented on #76342
sign-off

[2021-06-16 20:18] YutongTie-MSFT commented on #76842
@aronchick Hello David, I can not reproduce this. Do you have a support plan? I can offer you a free support ticket for this issue if you don't have one to assign a support engineer looking into your case. Please feel free to share your Azure Subscription ID to me so that I can do it.

[2021-06-16 20:22] MicrosoftGuyJFlo commented on #76614
Good comparison of LTSC and SAC in the Windows Server docs already. #please-close

[2021-06-16 20:22] #76614 closed

[2021-06-16 20:26] MicrosoftGuyJFlo commented on #76945
That may be the case but is outside of the default configuration. #please-close

[2021-06-16 20:26] #76945 closed

[2021-06-16 20:30] lobrien commented on #75217
Can we close this WI then? #Please-close

[2021-06-16 20:30] #75217 closed

[2021-06-16 20:34] BharathNimmala-MSFT commented on #76686
@ianc911 My sincere apologies for delay in getting back to this thread . I am further assigning this issue to our document author @v-amallick to further evaluate your query and update the document as needed.

[2021-06-16 20:41] YutongTie-MSFT commented on #76842
Close this at this moment since we are working offline. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-16 20:41] #76842 closed

[2021-06-16 20:45] michaelgobz commented on #76855
@dzsquared I will follow that,  correct my self.
Thank you for the time

[2021-06-16 20:47] mpdavis21 opened #77063 "Determine appropriate storage type may need to mention access across nodes."
[Enter feedback here]
Customers are missing that azure disks do not allow multiple pods to access a disk across multiple nodes.  In some situations, if a pod is deleted or crashes and the connection between the failed pod and disk is not cleared up the connection will remain and you will be unable to attach a new pod to the disk until it is released from the node.
maybe add a 3rd bullet that says

[2021-06-16 20:50] bandersmsft commented on #77051
#assign:bandersmsft

[2021-06-16 20:58] Oury-MSFT commented on #76662
@SarveshPandey  Could you please respond to the above question asked by @emlisa

[2021-06-16 20:59] dzsquared commented on #76855
#assign-to:dzsquared
#please-close

[2021-06-16 20:59] #76855 closed

[2021-06-16 21:06] bandersmsft commented on #77051
@paratz I'm very sorry. I misspoke early. Yes, the Power BI app does support EA admin read-only, as the article says. From the look of the error, it looks like the credentials aren't correct for the enrollment. Are other users with EA admin or EA admin read-only roles able to connect?

[2021-06-16 21:11] Lucas-MSFT opened #77064 "Missing step to add SP credentials secret with client id and password if using SP"
Had to troubleshoot a customer's process of implementing Key Vault and in this page the step is missing IF you are using SP:

kubectl create secret generic secrets-store-creds --from-literal clientid=<AZURE_CLIENT_ID> --from-literal clientsecret=<AZURE_CLIENT_SECRET>

Found it by viewing CSI driver docs, https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver on the "service principals

[2021-06-16 21:17] Oury-MSFT commented on #76803
@KeishaW EA and PayG will work.  We will be expanding regions in July. Thanks for providing your feedback to help us improve our documentation.
Closing the issue for now but feel free to reach out if you have additional query.

[2021-06-16 21:17] #76803 closed

[2021-06-16 21:24] #76620 closed

[2021-06-16 21:39] pospospos2007 opened #77065 "Azure template isssue."
Hi, Can you help me with this issue? When I using your Azure template to create VM (clicking "Deploy to Azure button" button ), the iot edge is not installed. It was installed and working fine when I tried at fisrt time, but not work any more after I deleting the VM and recreating the VM.

Can you let me know how can I fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-16 21:40] SatishBoddu-MSFT commented on #77062
Hello @ozhernan thanks for the feedback.

Our SME will review your feedback.

[2021-06-16 21:40] JamesTran-MSFT commented on #77064
@Lucas-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-16 21:45] TheITguy666 commented on #22097
I cannot find a clear description of policy evaluation precedence on the document

[2021-06-16 21:50] anaraju opened #77066 "Incorrect link"
The link for "Learn how to create a private endpoint for Azure SQL" is incorrectly pointing to
https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-portal
It should be pointing to
https://docs.microsoft.com/en-us/azure/private-link/tutorial-private-endpoint-sql-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-06-16 21:51] SaiKishor-MSFT commented on #76928
@Disparaitre Here is the [Github thread](https://github.com/MicrosoftDocs/azure-docs/issues/76533) with the same issue that was recently opened. Please follow the other thread to avoid duplicates. Thank you!

[2021-06-16 21:52] bandersmsft commented on #76831
Hi @sanjaydatasciencedojo Here are a couple examples:

-	Assume your reservation quantity is for one VM. VM1 ran from 1:00 PM to 2:00 PM and VM2 ran from 1:30 PM to 2:00 PM for the scale set. The reservation will be applied to VM1 completely and VM2’s usage will be charged at pay-as-you-go rates.
-	If the reservation quantity was for two VMs, the reservation will be applied to both automatically.

[2021-06-16 21:52] #76831 closed

[2021-06-16 21:54] JamesTran-MSFT commented on #76948
@slebodat
Thank you again for your time and patience!

I reached out to my team and we found a [Tech Community article](https://techcommunity.microsoft.com/t5/azure-security-center/enhance-your-ci-cd-deployment-by-using-vulnerability-assessments/ba-p/2102516) that references an [Azure DevOps pipeline template](https://github.com/Azure/Azure-Security-Center/blob/main/Container%20Image%20Scan%20Vuln

[2021-06-16 21:55] pospospos2007 commented on #77065
I fixed this issue by clean all related resource.

[2021-06-16 21:55] #77065 closed

[2021-06-16 21:57] SatishBoddu-MSFT commented on #77065
Thanks, I was about to respond!
👍

[2021-06-16 22:40] bandersmsft commented on #76710
@sarahyoon I've updated the article for the step you mentioned and refreshed the screenshot. Again, thanks very much!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/162697

#please-close

[2021-06-16 22:40] #76710 closed

[2021-06-16 22:58] shoter opened #77067 "CiCD section for iotedge lacks clickable URLs that would navigate us to page with description of given task"
This section should have link to tasks described in it:
![image](https://user-images.githubusercontent.com/3819892/122305355-0a551180-cf07-11eb-809a-7aadd453bb34.png)

For example this link to iot edge task:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/azure-iot-edge?view=azure-devops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-06-16 23:13] rtrigueiro commented on #75647
Hi Justinha,
I'm sorry, I missed the "only" in:
"Shouldnt the table reflect this and have FIDO2 marked with "Yes" **_only_** at Primary Authentication as it cannot be used as MFA/Secondary Authentication?

The info on the table is contradictory to the info on the blue box:
<img width="446" alt="fido2" src="https://user-images.githubusercontent.com/36214010/122306596-a29bc800-cf00-11eb-95d4-c0477e9

[2021-06-16 23:18] iris-hpaterson commented on #76696
Cheers, thank you.

I see the `display=none`'ed label and I'll unhide it from my my CSS.

Would it be possible to note this behaviour in the documentation, or create more consistent default behavior? We're using full custom HTML and CSS, rather than a template, so this undocumented behavior is quite unusual.

[2021-06-16 23:26] ajburnle commented on #71914
#reassign:@amsliu

[2021-06-16 23:27] ajburnle commented on #71914
#reassign:amsliu

[2021-06-16 23:29] ajburnle commented on #76946
#reassign:amsliu

[2021-06-16 23:41] amsliu commented on #71914
@malterman Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2021-06-16 23:41] #71914 closed

[2021-06-16 23:48] apwestgarth commented on #76981
@ezYakaEagle442 do you have the WAR file which you wish to deploy, if so follow - https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#deploy-war-file

[2021-06-16 23:54] Marusyk commented on #76423
Hi @milismsft
But how can I use "mount"? What should I specify for destination?
`"type=bind,source=%LOCALAPPDATA%\CosmosDBEmulator\bind-mount,destination=C:\CosmosDB.E`mulator\bind-mount"

[2021-06-16 23:59] mvzink opened #77070 "Key Vault Storage Account key management no longer using global Key Vault service principal?"
Is the "Give Key Vault access to your storage account" section still accurate?

It appears that we now have to give the appropriate Storage Account permissions to whichever principal is going to attempt the `set_storage_account` API call on the Key Vault, and that the Key Vault service uses that principal's permissions to attempt `Microsoft.Storage/storageAccounts/listkeys/action` on the Storage A

[2021-06-17 00:09] MasayukiOzawa commented on #76039
@chunliu Thanks for your reply.
I also tested it and was able to deploy it on AKS on HCI on-premises.

In the on-premises environment, it was necessary to run  [Enable custom locations on cluster](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/custom-locations#enable-custom-locations-on-cluster) .

I thought it would be better to include it in the App service on Ark documentation as w

[2021-06-17 00:21] MonikaReddy-MSFT commented on #77063
@mpdavis21 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-17 00:28] milismsft commented on #76423
@Marusyk Are you asking how mount woks with Windows based Docker Cosmos DB emulator image or the Linux based on?
For Windows based replace in the above the "source" with some local path that you know the container will have full permissions, not just to read but also to write. For Linux based image, the default path for the emulator's data is "/tmp/cosmos" and you can opt to use that as the "desti

[2021-06-17 00:30] Karishma-Tiwari-MSFT commented on #77056
Windows Virtual Desktop is being renamed to Azure Virtual Desktop. The documentation has been updated with the same. The portal should also update soon.

Apologies for the confusion caused.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-17 00:30] #77056 closed

[2021-06-17 00:35] MonikaReddy-MSFT commented on #76987
@artisticcheese - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 00:35] #76987 closed

[2021-06-17 01:05] xunfan opened #77071 "Brazil region pairs is confusing"
Brazil has two regions but has two region pairs in this page, first is brazilsouth vs southcentralus, while the other is brazilsoutheast vs brazilsouth. I guess the first pair is stale and needs to be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID:

[2021-06-17 01:20] 72911e opened #77072 "mkdirs"
mkdirs doesn't work in abfss.  it can create a container but doesnt create any directories below this on gen2 with hierachial namespace.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1af686-fd41-47e8-a6cb-70197f33bc67
* Version Independent ID: 6cc4bc4f-850d-9061-d66d-68620b4baa29
* Content: [D

[2021-06-17 01:24] nitinme opened #77073 "Dummy issue to test doc - Please do not close"
Dummy issue to test doc - Please do not close

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400d903c-36d4-e20b-d2fc-b80b53b00ceb
* Version Independent ID: 210dbaf5-eda5-f50e-8d8e-18b86daff035
* Content: [What is Azure Form Recognizer? - Azure Applied AI Services](https://docs.microsoft.com/en-us/azure/cognitive-servic

[2021-06-17 01:25] nitinme opened #77074 "Dummy issue to test doc - Please do not close - Metrics Advisor"
Dummy issue to test doc - Please do not close

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 548ca45c-5034-0fab-43a7-e2365083fd82
* Version Independent ID: 1dacf768-16ee-2621-6544-c1a8cf1f31e5
* Content: [What is the Azure Metrics Advisor service? - Azure Applied AI Services](https://docs.microsoft.com/en-us/azure/cogn

[2021-06-17 01:25] nitinme opened #77075 "Dummy issue to test doc - Please do not close - Immersive Reader"
Dummy issue to test doc - Please do not close

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c291da28-d78c-54f3-91c9-25191b21ff62
* Version Independent ID: 1b3bd26a-a033-9e40-7c64-5feb311241bc
* Content: [What is Azure Immersive Reader? - Azure Applied AI Services](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2021-06-17 02:18] ChaitanyaNaykodi-MSFT commented on #76896
Hello @sven73,
It will be helpful if you could look at the [difference in authentication](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity) for both the machines.
If the issue still persist, can you please file a support request or raise a question on the [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/index.html) as we primarily

[2021-06-17 02:18] #76896 closed

[2021-06-17 02:28] KrishnaG-MSFT commented on #77037
@tfitzmac Thanks for the quick response. :+1:

[2021-06-17 02:31] msangapu-msft commented on #72998
Hi @IgnacioAlvarezArenas thank you for your feedback. Let me review this and see how we can update the doc. Thank you.

[2021-06-17 02:34] TravisCragg-MSFT commented on #77066
@anaraju Thanks for the feedback! I hate updated the link, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 02:34] #77066 closed

[2021-06-17 02:40] msangapu-msft commented on #47130
@PHATGZA Sorry for the delay. Please note this feature is in-preview and more importantly, not a tested scenario where a DB is running on Azure Storage. As you mentioned, we recommend using a DB service like Azure DB for MySQL. Keep a lookout for updates to this article within the next few weeks. However, SQLite will still be an unsupported scenario.
#please-close

[2021-06-17 02:40] #47130 closed

[2021-06-17 03:07] msangapu-msft commented on #47130
I'll update the article to add a note this is unsupported.

[2021-06-17 03:08] msangapu-msft commented on #45639
Sorry for the delay. I'm working on getting this added.

[2021-06-17 03:26] BharathNimmala-MSFT commented on #76754
@elvirk Apologies for the delay in getting back to this thread, we are verifying your query with our internal team and will get back to you at the earliest.

[2021-06-17 03:36] CHEEKATLAPRADEEP-MSFT commented on #77072
@72911e The file system utility accesses **Databricks File System (DBFS)**, making it easier to use Azure Databricks as a file system.

This example lists available commands for the Databricks File System (DBFS) utility. Not for Azure Storage accounts.

Hope this helps.

[2021-06-17 03:39] shirleymeow opened #77076 "Broken Link: Recovery Services Vault FAQ"
Recovery Services Vault FAQ link is broken.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq.yml#recovery-services-vault

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa66854-15b8-fd3d-bdea-db337fc7419e
* Version Independent ID: 25b34e26-65ec-2095-b332-e06fbb657d7c
* Content: [How to move Azure B

[2021-06-17 03:46] AjayKumar-MSFT commented on #77036
@rsrinivasanhome,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 03:50] AjayKumar-MSFT commented on #77049
@sandervandevelde, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 03:51] AjayKumar-MSFT commented on #77057
@spissay, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 03:54] AjayKumar-MSFT commented on #77067
@shoter, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 03:58] CHEEKATLAPRADEEP-MSFT commented on #76872
@msdpalam  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 03:58] #76872 closed

[2021-06-17 03:59] CHEEKATLAPRADEEP-MSFT commented on #76886
@leifbro Could you please review the PR and approve?

[2021-06-17 04:12] AjayKumar-MSFT commented on #77070
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-17 04:19] 72911e commented on #77072
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-utils

this dbutils documentation includes mkdirs.  Mkdirs is supposed to work on
abfs and abfss drivers for Azure Blob File Systems.  It doesnt

On Wed., Jun. 16, 2021, 9:36 p.m. CHEEKATLAPRADEEP-MSFT <
***@***.***> wrote:

[2021-06-17 04:35] pratibhashenoy opened #77079 "The IP address prefix 127.30.0.0/24 is not matching with the diagram in section - "Ingress SNAT (BGP-Enabled VPN Site)""
The Diagram and the explanation with regards to the IP address 127.30.0.0/24 is confusing in the section "Ingress SNAT (BGP-Enabled VPN Site)", the diagram shows as 172.30.0.0/24 whereas the explanation it is mentioned as 127.30.0.0/24.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 511c8c14-818b-9447-63e6-3481d35aaa92

[2021-06-17 04:41] compuwizpiyu opened #77080 "Deploying spark-nlp model using custom docker image fails in Azure Machine Learning"
## Issue while deploying spark-nlp model to AML
I am trying to deploy a SPARK-NLP trained model from [here](https://johnsnowlabs.github.io/spark-nlp-workshop/databricks/index.html#python/annotation/Spark%20NLP%20start.html) to Azure Machine learning (using Python environment)

While deploying I am using a custom docker image provided by the spark-nlp documentation [here](https://nlp.johnsnowlabs.c

[2021-06-17 04:41] CHEEKATLAPRADEEP-MSFT commented on #77072
@72911e Please do check the above response and do let us know if you have any questions.

[2021-06-17 04:48] paddytrick1 opened #77081 "Replace "Use this account everywhere on this device" with "Allow my organisation to manage my device""
This article refers to the "Use this account everywhere on this device" descriptor for workplace join / Azure AD registration.  This is no longer used and the current text is "Allow my organisation to manage my device".  This should be an customisable value, but in the meantime this is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-06-17 04:49] 72911e commented on #77072
Thanks, i did.  My followup point us the dicumentation isnt dbfs specific
as i read it.  mkdirs does t work on abfs and abfss drivers

On Wed., Jun. 16, 2021, 10:41 p.m. CHEEKATLAPRADEEP-MSFT <
***@***.***> wrote:

[2021-06-17 05:02] ErikMogensen opened #77082 "It should be mentioned which Azure services require certificates with exportable private keys"
The article should mention which Azure services require that the certificates have an exportable private key and which services are able to use a certificate with a non exportable key.

For instance, Application gateway requires that the listener certificates have an exportable private key, whereas API Management does not require it for the certificates used for the hosts.

Does certificates with

[2021-06-17 05:03] ErikMogensen commented on #77033
Sorry, something got wrong when I created this issue. I tried the link again on the article page on now the issue got that metadata. So #77082 replaces this issue.

[2021-06-17 05:03] #77033 closed

[2021-06-17 05:12] znrk opened #77083 "Missing 172.16.0.0/12."
172.16.0.0/12 is one of the private address spaces defined in RFC 1918.
Why is this IP address space not included in this document?
Is it a simple mistake or will it become unusable on VNet in the future?

If it becomes unusable, you should include a note to alert the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-06-17 05:24] BharathNimmala-MSFT commented on #76754
@elvirk Post validation with our internal team it has been called out that currently GitLab for SCI with Azure Automation is not supported. Hope the information helps , please let us know if you have any additional queries.

At this point it appears that there's no further edits or updates needed to the documentation . We will go ahead and close this issue for now, however if you have any further

[2021-06-17 05:24] #76754 closed

[2021-06-17 05:35] HarshitaSingh-MSFT commented on #76927
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-17 05:38] HarshitaSingh-MSFT commented on #76939
I have made this change and the PR is gone for review. You can expect the changes to merge soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 05:38] #76939 closed

[2021-06-17 05:45] HarshitaSingh-MSFT commented on #76785
Sure, we will make changes to the doc accordingly. Is there anything else you want help with?

[2021-06-17 05:53] RohitMungi-MSFT commented on #77080
@compuwizpiyu Thanks for the question. This forum or issues page is used for bugs in content of Azure documentation and might not be the right forum to address this scenario. We would recommend to post the question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum with the appropriate tag.

In your case, since a custom image is used you would need to activate co

[2021-06-17 05:59] RohitMungi-MSFT commented on #77075
Dummy issue- not to close.

[2021-06-17 06:05] RohitMungi-MSFT commented on #77073
Dummy issue - Not to clsoe

[2021-06-17 06:05] RohitMungi-MSFT commented on #77074
Dummy issue - Not to close

[2021-06-17 06:43] PennyZhou-MSFT commented on #65645
@edfreeman @prctjliwei Thanks for calling out this question. According to the latest information, the maximum number of parallel runs of inner activities is 50. I will also update the "20" to "50" in this document https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity

[2021-06-17 07:06] v-hagamp commented on #74485
#please-close

[2021-06-17 07:06] #74485 closed

[2021-06-17 07:09] v-hagamp commented on #74633
#please-close

[2021-06-17 07:09] #74633 closed

[2021-06-17 07:23] teomonda commented on #74824
Thank you, Justin, so I understand that the conclusion is that this is after all a per tenant licensing.

[2021-06-17 07:29] ThijsLecomte commented on #76785
Just trying to clear up confusing, thanks :)

[2021-06-17 07:29] #76785 closed

[2021-06-17 07:48] jianleishen commented on #71865
hello @fvarga01  This is not verified and thoroughly tested by PG so it is not suggested to declare this workaround in the official doc. Thank you for providing the feedback. closing it now.

[2021-06-17 08:03] take-4c opened #77085 "What hosting plan could we select to control the IP address of outbound traffic from our functions by using a virtual network NAT gateway to direct traffic through a static public IP address."
Hi Team,

This page says the following.

"You can control the IP address of outbound traffic from your functions by using a virtual network NAT gateway to direct traffic through a static public IP address. You can use this topology when running in a Premium plan. "

So at first I thought that we had to select Elastic Premium plan for this topology.
But we should be able to select also Premium V2 o

[2021-06-17 08:08] jianleishen commented on #71865
#please-close

[2021-06-17 08:08] #71865 closed

[2021-06-17 08:30] chamikasandamal commented on #76602
If I remove the `v2.0`, it will be V1 endpoint right? As I mentioned, first code is using V1 endpoint and that is working without any issues with AuthSettingsV2. My question here is how to use v2 authorization endpoint with AuthSettingsV2.

[2021-06-17 08:31] Marusyk commented on #76423
@milismsft thanks.
It seems I setuped https for my browser. But when I connect from VisualStudio app I got:

![image](https://user-images.githubusercontent.com/9221694/122361070-985ce680-cf5f-11eb-869a-a63ba4b494b3.png)

[2021-06-17 09:00] HarshitaSingh-MSFT commented on #77076
Hello @shirleymeow, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 09:03] HarshitaSingh-MSFT commented on #77085
Hello @take-4c, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-17 09:08] qualitas-software commented on #19171
Using ARM I managed to setup Event Grid Diagnostics to be sent to Log Analytics Workspace by adding this to the resources section of my Event Grid ARM template :

    {
        "name": "[concat(variables('Resources').EventGrid, '/', 'Microsoft.Insights/', variables('Resources').Workspace)]",
        "type": "Microsoft.EventGrid/topics/providers/diagnosticSettings",
        "apiVersion": "2017-05-0

[2021-06-17 09:24] qualitas-software opened #77087 "ARM template example"
It might be useful to link an ARM template example.

I added a comment to a github issue to show how I did it: https://github.com/MicrosoftDocs/azure-docs/issues/19171#issuecomment-863070474

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0509cf1e-09a8-5cca-aaaa-2dede16e18ef
* Version Independent ID: 1524b0e5-9328-120a-

[2021-06-17 09:29] frochi42 opened #77088 "Java code example missing"
Please also add a code example for Java-clients. Something like

MongoCollection<Document> collection = mongoDB.getCollection("collectionName");
        String index = collection.createIndex(Indexes.ascending("_ts"),
                new IndexOptions().expireAfter(10L, TimeUnit.SECONDS));

would be sufficient. I was only able to find that out with the help of customer support.
[Enter feedback here]

[2021-06-17 09:34] JackCaster opened #77089 "See (and debug) schedules for a pipeline"
[Here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-trigger-published-pipeline#view-your-scheduled-pipelines) it says that we can view the scheduled pipelines. This is partly true. We can see the endpoint but we cannot see the triggers that we set for starting the pipeline (e.g., recurrence or blob trigger). Is there a way to monitor the triggers within the Azure ML portal? How c

[2021-06-17 09:39] MayankBargali-MSFT commented on #76771
@Leonardo-Ferreira As there was no respsonse. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-17 09:39] #76771 closed

[2021-06-17 09:43] FinitelyFailed opened #77090 "Missing moby-engine packe in microsoft apt-repo. Unable to install."
Hi, I'm trying to follow this guide: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2020-11

But it fails when trying to install moby-engine.

[code]

The moby packages seems to be missing from the microsoft repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dc

[2021-06-17 09:54] JackCaster commented on #77089
For example, I set a schedule for my pipeline endpoint with:
[code]
but got
[code]
yet, the schedule appears 'Active' despite not working
[code]
How can I start debugging this issue?

[2021-06-17 10:05] AgnesLi666 opened #77091 "The step 7 in creation private endpoint part will not work if the private link service is in a different tenant subscription"
[Enter feedback here]
The guidance is not 100% right on below part:
In the step 7 of creation of private endpoint, it is telling us to use "connect to an Azure resource in my directory" and choose the resource type as private link service. But usually, the user creating the private endpoint is not in the same subscription of the owner of the private link service. The private link service is not in

[2021-06-17 10:07] fengjhwa commented on #38898
I want to clarify what the flag should I check, from the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema-definitions#log-alerts) is `IncludeSearchResults`
My testing there have 2 flags `IncludeSearchResults` and `IncludedSearchResults`, and seems `IncludedSearchResults` is correct one, and IncludedSearchResults also discuss in this thread
![image](http

[2021-06-17 10:16] v-hagamp commented on #68191
#please-close

[2021-06-17 10:16] #68191 closed

[2021-06-17 10:33] samkuls opened #77092 "Getting error when runnin LUIS image on kubernetes "Endpoint connection failed with status 'Invalid'""
Hi, When i am trying to run luis image on kubernetes am getting below error. I am referring correct endpoint and api key

Using '/input' for reading models and other read-only data.
Logging to console.
Warning: HTTPS_PROXY option not supported. Proxy http://xxxxxxxxxxxt:3128 will not be used.
Using HTTP proxy http://xxxxxxxxxxxxxxxxxxxx:3128.
Submitting metering to 'https://luisendpoint-authoring.

[2021-06-17 11:14] alexs77 opened #77094 "Examples in Azure PowerShell and CLI differ"
The examples given in the _Azure PowerShell_ and _Azure CLI_  blocks differ, for no good reason.

Azure CLI has an extra `--parameters storageAccountType=Standard_GRS`. Also the name of the resource group differs from the one shown in the PowerShell block. And the order of arguments also isn't identical.

I'd suggest to make them be the same.

Going to submit a PR in a few moments.

---
#### Docum

[2021-06-17 11:15] alexs77 commented on #77094
See https://github.com/MicrosoftDocs/azure-docs/pull/77095

[2021-06-17 11:15] duckie commented on #64083
Actually, this is not an ACR behavior but a bug in azure cli. See: #18528

[2021-06-17 11:18] HarshitaSingh-MSFT commented on #77076
I have made this change, pls expect it to reflect soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 11:18] #77076 closed

[2021-06-17 11:25] SwathiDhanwada-MSFT commented on #77094
@alexs77  Thanks for your valuable feedback and for contributing to Azure documents.

@mumian Kindly review the PR submitted by @alexs77 .

[2021-06-17 11:26] SwathiDhanwada-MSFT commented on #76932
@v-manish Have you got chance to look into the comment made by content author ? Kindly revert with requested information.

[2021-06-17 11:29] yoozek commented on #39634
@msrini-MSFT @SaiKishor-MSFT
Any updates here? I have the same problem. I was able to update it from AZ CLI/PowerShell but it fails on virtual network deployment from ARM Template.

I'm adding to subnet object, but deployment fails.
[code]

When I look on this resource in Azure Resource Explorer these properties are missing for subnet objects.
If I get vnet from PowerShell I can see this is disabl

[2021-06-17 11:40] cristipogacean opened #77096 "broken link?"
[Enter feedback here]
It seems the metric-collector-module link in Note#2 (marked below) is broken
![image](https://user-images.githubusercontent.com/14314727/122389369-29888900-cf71-11eb-8dcf-832e6a193478.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6f53323-f01c-5eb0-6f98-c0c8914bd610
* Version Independent ID:

[2021-06-17 11:42] duckie opened #77097 "AKS integration on ACR: Document the workaround for the "Owner on Subscription" restriction."
It is documented that to run the ACR integration, one needs to be "Owner, Azure account administrator, or Azure co-adminstrator role on the Azure subscription" (see #64083).

This is not entirely correct, especially since being Owner of the subscription is neither enough nor required:  you need actual graph API permissions to run this successfully.

The actual requirement of ACR is "Owner on the t

[2021-06-17 11:49] joachimloe opened #77098 "Redis Enterprise not listed"
The Redis Enterprise is not listed in the table of private links

Please add:

Private link resource type / Subresource | Private DNS zone name | Public DNS zone forwarders
-- | -- | --
Azure Cache for Redis Enterprise (Microsoft.Cache/RedisEnterprise) / redisCache | privatelink.redisenterprise.cache.azure.net | redisenterprise.cache.azure.net

---
#### Document Details

⚠ *Do not edit this sectio

[2021-06-17 12:02] tesharp commented on #76524
That is good. I will get back if this appears again, and make sure to take screenshots :)

[2021-06-17 12:02] #76524 closed

[2021-06-17 12:24] beandrad opened #77100 "Outdated command in manage workspace access"
The command `az ml workspace share` is no longer available in the latest az cli version (see [docs](https://docs.microsoft.com/en-us/cli/azure/ml/workspace?view=azure-cli-latest#az_ml_workspace_share)). It'd be nice to include instructions on how to manage access using the latest az cli version.

The following doc pages are also affected:
- https://docs.microsoft.com/en-us/azure/machine-learning/h

[2021-06-17 12:33] ssivas commented on #77081
@paddytrick1, Thank you for sharing this feedback . We will investigate and update the thread.

[2021-06-17 12:34] ssivas commented on #77082
@ErikMogensen , Thank you for sharing this feedback . We will investigate and update the thread.

[2021-06-17 12:39] AjayKumar-MSFT commented on #77071
@xunfan, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 12:45] kekatahi opened #77101 "Request to update the Notification Hub tutorial document"
Please update the tutorial with the latest information. This tutorial isn't user-friendly.
Especially , [this completed code](https://github.com/Azure/azure-notificationhubs-android/tree/v1-preview/notification-hubs-test-app-refresh) is not completed one since some library remains old and we cannot build it as it is on the latest android studio .We also hope to fix [Connect your app to the notific

[2021-06-17 12:46] RohitMungi-MSFT commented on #77089
@JackCaster I can confirm that the pipeline schedules cannot be viewed on the UI yet. This is a pending item with the designer UI.
The schedules can be viewed and managed from the [SDK ](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.schedule(class)?view=azure-ml-py#create-for-pipeline-endpoint-workspace--name--pipeline-endpoint-id--experiment-name--recurre

[2021-06-17 12:47] G0PINATH-SWO opened #77102 "Contributor doesnt have Microsoft.Authorization/policyDefinitions/write permissions"
[Enter feedback here]
Contributor doesnt have Microsoft.Authorization/policyDefinitions/write
Document says Microsoft.Authorization/*/write access for contributor.
![rbac_policy_write](https://user-images.githubusercontent.com/85602753/122399305-046e3780-cfbe-11eb-885f-2ee114d5a916.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-06-17 12:50] fvarga01 commented on #71865
So, if I understand correctly, currently there is no ADF support for Salesforce SALES cloud  at this time. Correct?

[2021-06-17 12:55] lechnerc77 opened #77103 "Azure Table storage input bindings for Azure Functions - Usage"
The description of Azure Table storage input bindings for Azure Functions contains a section about the usage (<https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table-input?tabs=javascript#usage>).

In case of the language of JavaScript the statement is that the attributes `partitionKey` or `rowKey` should not be used. However, making use of them in JavaScript does

[2021-06-17 13:00] ssabat commented on #65159
https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#parallel-copy-from-sql-database has been updated.
#please-close

[2021-06-17 13:00] #65159 closed

[2021-06-17 13:14] shashishailaj commented on #77083
@znrk Thank you for your feedback . We will investigate and update the thread.

[2021-06-17 13:16] nkumars opened #77104 ""identities" is not part of HttpRequest to API Connectors for custom OpenId Connectors"
We have a case to make the decision based on ```identities``` property received as part of HttpRequest body in API Connectors, unfortunately it is not returned for custom OpenId Connectors while it works for Facebook and Google at least.

Below is the screenshot of the sample request we receive in API Connectors.
![image](https://user-images.githubusercontent.com/7982858/122403642-25be2c00-cf9c-11

[2021-06-17 13:17] pemsft opened #77105 "Guidance relating to Azure Classic resources such as Cloud Services"
Thank you for the excellent documentation!

It would be valuable to also mention Azure Classic resources and link to corresponding guidance in the table:
https://docs.microsoft.com/en-us/azure/role-based-access-control/transfer-subscription#understand-the-impact-of-transferring-a-subscription

Role-based access control (RBAC) differ in current Azure Resource Manager (ARM) based Azure and in Azure

[2021-06-17 13:22] jyeblog opened #77106 "Clarifications"
[Enter feedback here]
For this section:
[Find accounts you have access to](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest#find-accounts-you-have-access-to)

1. First issue:
Both REST and AZ CLI does not return this section:
[code]
When using REST method, the entire section is missing
When using AZ CLI, it re

[2021-06-17 13:26] MonikaReddy-MSFT commented on #76441
Hello @rlrossiter - Thanks for reaching out for being patient.

You can Get the CSCFG using the
Rest API: https://docs.microsoft.com/en-us/rest/api/compute/cloud-services/get
Powershell: https://docs.microsoft.com/en-us/powershell/module/az.cloudservice/get-azcloudservice

The CSDEF is part of the CSPKG and was not available in GETs for RDFE as well. But as part of migration we should be providing

[2021-06-17 13:26] #76441 closed

[2021-06-17 13:29] SumanthMarigowda commented on #76929
@maku0119  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-17 13:32] richardojel opened #77107 "Please update MCOMEETADV to MCOMEETADD on this page"
[Hi guys, I see that this page was recently updated. Since 3rd party ACP providers are no longer supported we need to change the Sku name listed from MCOMEETADV to MCOMEETADD . see also https://dev.azure.com/Supportability/UC/_wiki/wikis/UC.wiki/141864/Automatically-replace-3rd-party-ACP-providers]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-06-17 13:33] AshokPeddakotla-MSFT commented on #77096
@cristipogacean Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-17 13:47] lesmoris-rp opened #77108 "Difference between text and picture in rules"
There is a problem with https://docs.microsoft.com/en-us/azure/virtual-network/media/tutorial-filter-network-traffic/security-rules.png

In the tutorial, it whows:

![image](https://user-images.githubusercontent.com/84500418/122409058-21394980-cf83-11eb-8919-d35e8549e89a.png)

but in the pciture you can see it shows:

![image](https://user-images.githubusercontent.com/84500418/122409125-2f876580-c

[2021-06-17 13:55] rboucher commented on #38898
Can you clarify this statement? In the second half you've listed the same string twice (IncludedSearchResults).

My testing there have 2 flags IncludeSearchResults and IncludedSearchResults, and seems IncludedSearchResults is correct one, and IncludedSearchResults also discuss in this thread

How are you testing? With a live alert in your system?

[2021-06-17 14:03] grove opened #77110 "Are Lsv2-series NVMe disks covered by Host-based encryption?"
The document says that "NVMe disks not encrypted", but what does that mean? I understand that they are not encrypted by default, but do they support Host-based encryption?

Right now it is very unclear if enabling host-based encryption on Lsv2-series NVMes in Azure Kubernetes Service means that those disks are encrypted or not. Please update the documentation so that it explains how this actually

[2021-06-17 14:05] ssabat commented on #66597
Added vacuum preSQL example for Sink.
#please-close

[2021-06-17 14:13] frazhamid opened #77111 "Advisory: Clarification on "Discover applications that are managed out of compliance""
Hi,

Would someone be able to assist in helping with my understanding of what is meant by the Task named "Discover applications that are managed out of compliance"?

Any further details or examples would be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d94b849-74d8-eb5f-4689-2f3365708844
* Version I

[2021-06-17 14:16] ssabat commented on #66432
Added a section for variables behavior at pipeline level.
#please-close

[2021-06-17 14:16] #66432 closed

[2021-06-17 14:17] ManasaDevadas opened #77112 "Log analytics gateway binary location - update to agent management"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 093a2178-a60d-bcda-1243-c8fdd89b0252
* Version Independent ID: cdf94d78-1aad-c2dd-4a8c-38ceccda0816
* Content: [Connect computers by using the Log Analytics gateway - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/gateway)

[2021-06-17 14:18] SwathiDhanwada-MSFT commented on #77112
@ManasaDevadas Thanks for reaching out . Can you please elaborate on your feedback or issue ?

[2021-06-17 14:20] GiftA-MSFT commented on #77100
@beandrad we'll review your feedback and get back to you shortly. Thanks.

[2021-06-17 14:21] ssabat commented on #66541
@mkulisic thanks for feedback. We are looking into disbaling start times on existing triggers for scenarios you have mentioned.  Until then, plese use work around suggested.
#please-close

[2021-06-17 14:21] #66541 closed

[2021-06-17 14:28] AdCCooN opened #77113 "Hololens 2 | Azure Spatial Anchors in Unity - crash when SessionLogLevel.All is set"
Hello guys,

So I was trying to set up the azure spatial anchors in my project following this docs https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project

Unity Version: 2020.3.6f1
ASA Core - 2.10.0-preview1
ASA Windows - 2.10.0-preview1

The problem is that if I don't set the LogLevel on my cloud spatial anchors session my app seems to work on Hololens 2 but I get no S

[2021-06-17 14:28] oshrat-kaplan opened #77114 "port 8787"
[Enter feedback here]
add to https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#server-not-enabled
to check what is the port that is set in databricks-connect configure and if it is 8787
add spark.databricks.service.port 8787 to spark config of the cluster

i had databricks-connect configured a year+ ago so it was set to 8787

i kept getting the error below even though

[2021-06-17 14:30] ManasaDevadas commented on #77112
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/gateway#download-the-log-analytics-gateway - Download is not under quick start now and is under agent management. Please correct the information and image.

[2021-06-17 14:42] ssabat commented on #68706
Thanks @HarithaMaddi-MSFT  for feedback.

https://github.com/MicrosoftDocs/azure-docs/issues/66541  addresses similar issue with workaround.
We are working on feature to disable start times as you move to prod from dev,and cancel failed past runs.
#please-close

[2021-06-17 14:42] #68706 closed

[2021-06-17 14:47] MhAllan opened #77115 "Missing call ring when app isn't open on Windows"
There is no information of how to make the application ring on Windows when it receives a call when the application is not open. We see Android and iOS have Push Notifications documentation but nothing for Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45723fb2-21e8-8125-5c0d-1a5fba357fe3
* Version Independent

[2021-06-17 15:04] gllebede commented on #77113
Thank you for the bug report. It doesn't look like the problem is in the documentation, but it may be a bug in the SDK. I'll investigate it.

[2021-06-17 15:16] #76946 closed

[2021-06-17 15:20] GiftA-MSFT commented on #76846
@easonlauys, thanks for your feedback. Actually, `spearman_correlation` is valid metric, but not default primary metric. I went ahead to update the document accordingly. Thanks.

[2021-06-17 15:24] jogikalpesh opened #77116 "TXT record domain verification for child/sub domain"
I have two independent Azure Active directories. I have registered one domain name "**jogikalpesh.com**"

I have configured "**jogikalpesh.com**" in first Azure AD custom domain names. I was asked to add TXT record and it got added without any problem.

I am trying to configure "foo.jogikalpesh.com" in second Azure AD custom domain names. I have added following TXT record for this subdomain.  When

[2021-06-17 15:45] manishmsfte commented on #67224
#please-close comment

[2021-06-17 15:45] #67224 closed

[2021-06-17 15:54] milismsft commented on #76423
@Marusyk The error you see in the VS app is most likely cause by how you setup your Cosmos client app to access the emulator's endpoint. By default a Cosmos client gets configured to access the endpoint in "Direct" mode and in your case, for the emulator running as a Docker container, you need to access that using the IP address of the instance rather than "localhost". Alternatively you can config

[2021-06-17 15:54] AjayKumar-MSFT commented on #77087
@qualitas-software, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 15:56] manishmsfte commented on #75808
#please-close comment

[2021-06-17 15:56] #75808 closed

[2021-06-17 15:58] kavita7669 opened #77117 "how do we get on notification emails for any changes for this certificates or certificate authorities changes?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f82e-b1a7-41cfa694fa58
* Version Independent ID: 60a94729-02ad-0ef1-a642-63351d0171ea
* Content: [Azure TLS Certificate Changes](https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes)
* Content Source: [art

[2021-06-17 15:58] AjayKumar-MSFT commented on #77090
@FinitelyFailed, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 16:02] AjayKumar-MSFT commented on #77092
@samkuls, Thanks for question!

Is your feedback applicable to this Azure doc or some other Azure doc (please share the URL) .
https://docs.microsoft.com/azure/cognitive-services/luis/luis-container-howto?tabs=v3

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-06-17 16:04] GitaraniSharma-MSFT commented on #76882
@varunrom , We have assigned this to the content owner/author for review.

@damendo , please review this as it has been reported in https://github.com/MicrosoftDocs/azure-docs/issues/75373

[2021-06-17 16:05] JamesTran-MSFT commented on #77102
@G0PINATH-SWO
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 16:06] AjayKumar-MSFT commented on #77091
@AgnesLi666, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 16:07] manishmsfte commented on #76736
reassign: @manishmsfte

[2021-06-17 16:08] JamesTran-MSFT commented on #77105
@pemsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-17 16:09] GitaraniSharma-MSFT commented on #76897
@taraldr , the feature is still in preview as mentioned here : https://azure.microsoft.com/en-us/updates/release-of-new-azure-cdn-microsoft-standard-capability/
It has not gone GA yet but will soon. We do not have a definite ETA though.

[2021-06-17 16:09] #76897 closed

[2021-06-17 16:10] JamesTran-MSFT commented on #77107
@richardojel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-17 16:11] GitaraniSharma-MSFT commented on #77004
@Derek1101 , We have assigned this to the content owner/author for review.

@asudbring , could you please review this feedback and get it confirmed & updated accordingly.

[2021-06-17 16:13] yoelhor commented on #76696
You add use the following CSS to your HTML page:

[code]

Hope that answers your question,  Yoel

[2021-06-17 16:19] JamesTran-MSFT commented on #77116
@jogikalpesh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 16:22] JamesTran-MSFT commented on #77117
@kavita7669
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 16:23] JamesTran-MSFT commented on #77104
@nkumars
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 16:23] JamesTran-MSFT commented on #77111
@frazhamid
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 16:33] Vallentyne opened #77119 "List of roles should perhaps include the full set of roles including peering scenarios"
On the FAQ the roles shown are slightly misleading, if peering is in use the vnet read role is also needed.  It's shown later down the page, but if you stop reading when you find this (as I did) then you miss finding out about the other role.  Minor, perhaps, but could be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-06-17 16:49] JamesTran-MSFT commented on #76501
@yayoayala
Thank you for your time and patience throughout this issue!

I just wanted to follow up and let you know that I'm still waiting for an update from our engineering team. However, if this an urgent issue and you would like to work closer with our support team, please let me know.

[2021-06-17 16:51] JamesTran-MSFT commented on #76948
@slebodat
Thank you for your time and patience throughout this issue!

I received another update this morning, and since this feature is currently in the preview phase, this is only available for GitHub Workflows. When it reaches GA, it’s possible that this will be expanded to include DevOps.

[2021-06-17 16:51] #76948 closed

[2021-06-17 16:56] JamesTran-MSFT commented on #76973
@denious
Thank you for your time and patience throughout this issue!

Since @yoelhor will be updating the documentation, I'll go ahead and close out this issue. Please allow some time for the PR to be created and the changes to reflect.

Thank you again for your time and patience!

[2021-06-17 16:56] #76973 closed

[2021-06-17 17:02] JamesTran-MSFT commented on #77102
@G0PINATH-SWO
Thank you for pointing this out!

I checked our documentation and it's showing that the Contributor role **does not** have the Microsoft.Authorization/*/Write action.
![image](https://user-images.githubusercontent.com/36619112/122442024-fcc57900-cf52-11eb-9359-df72a3caf0b2.png)

Since our documentation is currently reflecting the right actions, I'll go ahead and close this out.
Thank

[2021-06-17 17:02] #77102 closed

[2021-06-17 17:07] msftradford commented on #73521
Thanks for the feedback @jstiefel! We are working on an update to the tutorial (internal: #32449817).

[2021-06-17 17:12] JamesTran-MSFT commented on #77116
@jogikalpesh
Thank you for your time and patience throughout this issue!

When adding a subdomain, you should be able to just "Add a custom domain" and the subdomain is automatically verified by Azure AD.
![addSubDomain](https://user-images.githubusercontent.com/36619112/122443513-86297b00-cf54-11eb-8ece-b271a4563b00.gif)

If you have any other questions, please let me know.
Thank you!

[2021-06-17 17:13] Oury-MSFT commented on #77035
@shubhi97 Did you send an email to dmsfeedback@microsoft.com?

[2021-06-17 17:27] bandersmsft commented on #76847
Hi @jonwbstr,

If you just want to change the directory of a subscription without impacting billing, then a change directory is possible for a subscription. See https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory#associate-a-subscription-to-a-directory.

To convert an EA agreement to PAYGO, a direct EA to PAYG transfer should be po

[2021-06-17 17:27] #76847 closed

[2021-06-17 17:31] andrewrondeau-optirtc opened #77120 "The link to "Azure Key Vault authentication fundamentals" is broken."
[Enter feedback here]

The link to "Azure Key Vault authentication fundamentals" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c9927ad-7623-cb87-3dd3-0ad9e807a71d
* Version Independent ID: 318d9a5c-67c9-7bc8-8b6e-6c6c500e2060
* Content: [Azure Key Vault Keys, Secrets, and Certificates Overview](https://doc

[2021-06-17 17:36] JamesTran-MSFT commented on #77117
@kavita7669
Thank you for your question!

Within the documentation it mentions the specific dates that these [changes will happen](![image](https://user-images.githubusercontent.com/36619112/122445961-f6d19700-cf56-11eb-9ec1-625e5d34557a.png)).

![image](https://user-images.githubusercontent.com/36619112/122445967-f933f100-cf56-11eb-99cc-852066cf31ac.png)

If you'd like to get notifications for an

[2021-06-17 17:36] #77117 closed

[2021-06-17 17:42] JamesTran-MSFT commented on #77120
@andrewrondeau-optirtc
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-17 17:45] mihammer opened #77121 "Linux OS LVM support needs updated"
The Troubleshooting section on this page makes this comment:
The OS disk uses a Logical Volume Manager (LVM) scheme. Although limited LVM data disk support is available, an LVM OS disk isn't.

According to this page, OS with LVM is supported:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#supported-vms-and-operating-systems

Please revise this page to remove

[2021-06-17 17:48] JamesTran-MSFT commented on #77120
@andrewrondeau-optirtc
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

**Current link:**
![image](https://user-images.githubusercontent.com/36619112/122447657-d1de2380-cf58-11eb-8726-50d0516d4894.png)

The link above AKV authentication fundamentals - "Authentication to Azure Key Vault" leads to [the correct article](https://d

[2021-06-17 17:48] #77081 closed

[2021-06-17 17:58] yunjchoi commented on #76727
Hi @RicardoNiepel, I updated the doc to explain about the Linux App support for Auto Heal. Can you close this issue?

[2021-06-17 18:02] lukealton commented on #76055
We hit this as well, but the error message we're saying indicates hyphens are not acceptable and only letters and numbers are allowed. Would be nice to have this called out in the documentation.

![tempsnip](https://user-images.githubusercontent.com/35177573/122449812-854c1580-cf63-11eb-92d6-555055deacf4.png)

[2021-06-17 18:02] mumian commented on #77094
@alexs77 Thank you for your comment.  I have approved your PR.

#please-close

[2021-06-17 18:02] #77094 closed

[2021-06-17 18:11] mumian commented on #77037
@tfitzmac - thank you for making the change.

[2021-06-17 18:15] SaiKishor-MSFT commented on #76880
@dshiraj Any update?

[2021-06-17 18:16] SaiKishor-MSFT commented on #77119
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-17 18:18] SaiKishor-MSFT commented on #77108
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-17 18:19] MonikaReddy-MSFT commented on #77121
@mihammer -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-17 18:19] SaiKishor-MSFT commented on #77098
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-17 18:20] MonikaReddy-MSFT commented on #77110
@grove -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-17 18:27] MashaMSFT commented on #76580
Hi @JFulfordMS , thanks so much for reaching out! Upon further investigation, this has moved beyond the assistance we're able to provide via docs. We'll need to investigate this further. Would you mind submitting a support ticket? More info: [Get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help?view=sql-server-ver15).

I'll close out this Git Issue for the time being but please

[2021-06-17 18:27] #76580 closed

[2021-06-17 18:29] AzureAzim opened #77122 "No CLI or Command line reference to secure traffic"
There is no references here to perform these activities not in a GUI (such as via CLI, Powershell, or REST)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16bc007d-51ba-468a-9f96-ffe9026482db
* Version Independent ID: 674d284b-9be7-748f-f132-a2968544f84d
* Content: [Secure traffic destined to private endpoints in Azure

[2021-06-17 18:30] ggailey777 commented on #34200
Fixed #please-close

[2021-06-17 18:30] #34200 closed

[2021-06-17 18:35] GuyPaddock commented on #39944
The article says that there is access to the central store...

[2021-06-17 18:37] GuyPaddock opened #77123 "Not Possible to Access SYSVOL Volume on Azure AD:DS"
This article says:

However, based on https://github.com/MicrosoftDocs/azure-docs/issues/39944 and the fact that my domain admin credentials don't seem to allow me to browse the `SYSVOL` volume on the AAD:DS servers, it seems like this is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6670151-45dd-1dca-42dd

[2021-06-17 18:41] julieMSFT commented on #75367
#reassign:julieMSFT

[2021-06-17 18:46] da5is opened #77124 "Missing PrivateLink DNS from SAP Documentation"
The following FQDN is now in use and is documented in the SAP documentation - this document needs to be updated to include it.

*.blob.storage.azure.net

Ref:  https://docs.microsoft.com/en-us/azure/backup/backup-azure-sap-hana-database#allow-access-to-service-fqdns

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af1

[2021-06-17 18:47] #76916 closed

[2021-06-17 18:56] mmacy commented on #70348
@brandwe Thanks for addressing your issue. Close and reassign issues by using hashtag comment automation. Submit a comment with the following to perform the appropriate action:

- `#please-close` - closes the issue
- `#reassign:<github-alias>`

Closing this one out for you: #please-close

[2021-06-17 18:56] #70348 closed

[2021-06-17 18:57] mmacy commented on #71871
@brandwe Thanks for addressing your issue. Close and reassign issues by using hashtag comment automation. Submit a comment with the following to perform the appropriate action:

- `#please-close` - closes the issue
- `#reassign:<github-alias>` - reassigns the issue to the specified GitHub alias

[2021-06-17 19:00] #76727 closed

[2021-06-17 19:11] skl commented on #63362
@Caoxuyang can you please share exactly how you blocked IMDS? I have also tried a network policy and, although it works for other IPs, it is not working for 169.254.169.254 which remains accessible.

[2021-06-17 19:17] smitpatel opened #77125 "TRUNC is missing from table"
There is page for it but it is not mentioned in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86094f28-44e4-d133-d4c7-d1b0f0b211d0
* Version Independent ID: 0ddfc4a8-6ee9-8f14-1cd2-d9384022a7d2
* Content: [Mathematical functions in Azure Cosmos DB query language](https://docs.microsoft.com/en-us/azure/cosmo

[2021-06-17 19:22] JasonCard opened #77126 "Image partially not visible when using dark theme browser setting"
The image under "Pattern #4: Monitor" heading is partially not visible when using dark theme browser setting (other images have white backgrounds):
![image](https://user-images.githubusercontent.com/18313964/122460084-90547500-cf66-11eb-875d-193cc3da7dac.png)

This is the original image in light theme:
![image](https://user-images.githubusercontent.com/18313964/122460179-abbf8000-cf66-11eb-95d2-08

[2021-06-17 19:31] kishorerv25 opened #77127 "More information on azure APIM preview feature"
[I need to know more information on the preview version, is this available for us to use or we need to wait as automatically comes up on our APIM , this preview feature]
https://docs.microsoft.com/en-us/azure/api-management/websocket-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7f7f164-158a-29a4-4ce9-e809ce85be5

[2021-06-17 19:31] AjayKumar-MSFT commented on #76919
@amasover, Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-17 19:40] y08it105 commented on #45931
Hi Guys,
We did this today at our place, This wipes out the global variables also , along with the GIT repo config.
Thanks!

[2021-06-17 19:44] RyanHill-MSFT commented on #76602
If you want to use v2 endpoint @chamikasandamal, you will have to issue an AAD v2 bearer token. Currently, only AAD v2 bearer tokens are accepted and many clients aren't configured for. However, there is work being done so EasyAuth can accept both v1 and v2 access bearer tokens at that endpoint.

[2021-06-17 19:45] msmimart commented on #72117
Hi @CF8000, thanks so much for your patience. Probably a better way to state this limitation is that there's no need to set up direct federation for tenants that are already verified in Azure AD. We have a doc update in the works that will publish shortly. I'll update this issue when that's complete. Thanks again for your feedback.

[2021-06-17 19:46] BharathNimmala-MSFT commented on #77023
@miqm Thanks again for your query, post validation with our internal team regarding the query. The information we could share is that the tags don't necessarily reflect the actual location. The test is run from the generic name aka France Central. Hope this information helps, please feel free to circle back if you have any further queries.

At this point it appears that there's no further edits or

[2021-06-17 19:46] #77023 closed

[2021-06-17 19:48] Oury-MSFT commented on #77125
@smitpatel Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-06-17 19:56] danbu opened #77128 "UNIVERSAL_PRINT_NO_SEEDING"
"UNIVERSAL_PRINT_NO_SEEDING" license was added to our Student A3 licenses there doesn't appear to be any documentation as to what this is and how it differs from regular Universal Print licensing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-

[2021-06-17 20:06] scout208 opened #77129 "Add a step to copy the Azure Identity Service template file to a new file in Provision Device with a virtual TPM on Linux doc"
In the documentation page for **Provision device with a virtual TPM on Linux VM**, in the section [**Configure device with provisioning information**](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux?view=iotedge-2020-11#configure-the-device-with-provisioning-information), the second step is `sudo nano /etc/aziot/config.toml`. This is a little misleading

[2021-06-17 20:12] synapp opened #77130 "Missing Powershell to Elevate access for a Global Administrator"
This page is missing the Powershell command to Elevate access for a Global Administrator.
A CLI & REST API example are present, but Powershell is not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a394517e4b4
* Content: [Elevate acc

[2021-06-17 20:14] CelesteDG commented on #74244
#reassign:@davidmu1

[2021-06-17 20:22] CelesteDG commented on #74973
#product-question

[2021-06-17 20:22] sasanmcp opened #77131 "How about subscriptions of NICs?"
Can the Nic you're adding to a VM be part of a separate subscription than the VM or VNet? we want to have one customer-facing NIC and one management NIC on each VM, charging customer-facing one to one subscription and management to another one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27a5f434-01e8-7819-bdc6-52b2

[2021-06-17 20:22] MicrosoftGuyJFlo commented on #77041
@weyCC81 I am able to access Conditional Access and Identity Protection with my account that only has Global Reader assigned to it. Are you using an Administrative-unit scoped role or a custom role?

[2021-06-17 20:25] #74993 closed

[2021-06-17 20:27] BryanTrach-MSFT commented on #74993
@rezazein Thank you for brining this to our attention. We have created a PR and merged it which contains a note that the document does not cover the Static Web App feature that is part of Azure Storage. The change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue th

[2021-06-17 20:29] CelesteDG commented on #75244
#reassign:@davidmu1

[2021-06-17 20:31] BryanTrach-MSFT commented on #75327
@subhankars Thank you for sharing the feedback. We have gone ahead and shared it with the product group. At this time, they had no updates to share.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-17 20:31] #75327 closed

[2021-06-17 20:36] miqm commented on #77023
So this means there are 2 locations for France Central?

[2021-06-17 20:41] meganbradley opened #77132 "test issue"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-17 20:41] meganbradley commented on #77132
#please-close

[2021-06-17 20:41] meganbradley commented on #77132
#please-open

[2021-06-17 20:57] CelesteDG commented on #74973
@wcneumann219 - Thank you for your feedback. We've recently gone through some changes in our docs team so have not been able to triage the incoming issues during this time. We now have a work item on our end to track your question and we're working with the feature team to address. Thank you.

[2021-06-17 20:57] Oury-MSFT commented on #77047
@MichaelBrooks-Informatyx  Are you referring to the below code sample.?
![image](https://user-images.githubusercontent.com/78940872/122471271-e845a880-cf73-11eb-8e1b-936c6c6b96c3.png)

[2021-06-17 20:59] wi5nia commented on #7650
#please-open
We are having the same issue

[2021-06-17 21:05] Oury-MSFT commented on #77125
@ginamr Please see customer feedback above. Is the trunc function part of the mathematical functions in Cosmos DB. Is yes, should it be added in the table .?

[2021-06-17 21:05] JamesTran-MSFT commented on #77128
@danbu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-17 21:05] tfitzmac commented on #7650
@wi5nia - does your issue involve directly referencing a key vault from a VM property?

[2021-06-17 21:06] JamesTran-MSFT commented on #77130
@synapp
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-17 21:07] ggailey777 commented on #36849
As far as I can tell, the article here does indicate `reserved` must be set. Please reopen if there's another issue. #please-close

[2021-06-17 21:07] #36849 closed

[2021-06-17 21:07] wi5nia commented on #7650
We are deploying a Service Fabric cluster which uses of course VMSS and have an ARM template which references a Azure KeyVault in different subscription because we want to have one centrally managed by IT AKV which is integrated with DigiCert. This way we can centrally purchase certificates, distribute them and renew.

[2021-06-17 21:08] ggailey777 commented on #36591
Clarified by removing confusing inline directory example #please-close

[2021-06-17 21:08] #36591 closed

[2021-06-17 21:12] ggailey777 commented on #38894
@star286 my assumption is that `SendBillingEvent` is an event that adds the current day to a billing tally or something. Thanks for the feedback. #please-close

[2021-06-17 21:12] #38894 closed

[2021-06-17 21:14] James-Hamil-MSFT commented on #76967
All good, thanks for clarifying!

[2021-06-17 21:14] #76967 closed

[2021-06-17 21:18] rolyon commented on #77130
Hi @synapp
Thanks for your feedback. There aren't specific PowerShell or CLI commands to elevate access for a Global Administrator. (The CLI example is just making a REST API call.)
thanks

[2021-06-17 21:20] rolyon commented on #77130
Let us know if you have any additional feedback.
thanks
#please-close

[2021-06-17 21:20] #77130 closed

[2021-06-17 21:23] samiarahman opened #77133 "New-AzSqlDatabaseRestorePoint does not work for Azure SQL Data Warehouse"
[Enter feedback here]
When following the steps in this documentation to create a restore point, it does not work.

When attempting to execute this with server name as the synapse workspace name and the database as the sql pool name, we see error saying

 New-AzSqlDatabaseRestorePoint -ResourceGroupName $ResourceGroupName - …
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-06-17 21:33] mike-urnun-msft commented on #77103
Hi @lechnerc77 - Thank you for your feedback! We will review and update as appropriate.

[2021-06-17 21:33] yayoayala commented on #76501
Hi James, I really appreciate the time an effort. I have a work around, thanks in advance!

[2021-06-17 21:38] BharathNimmala-MSFT commented on #77023
@miqm Sorry if there was confusion for earlier response. We have two locations France Central and France south, below are the naming conventions of the tags.

emea-fr-pra-edge is France central
emea-ch-zrh-edge is France south

Please let us know if you have any further queries.

[2021-06-17 21:40] James-Hamil-MSFT commented on #76810
Hi @jto-bianchini , I see that you have a support ticket open. Please continue there as we have an engineer assigned to the case.

Best,
James

[2021-06-17 21:40] #76810 closed

[2021-06-17 21:43] JamesTran-MSFT commented on #76501
@yayoayala
Thank you for the follow up and I'm glad that you were able to find a workaround for this issue! Feel free to post it here so others running into this same issue can easily reference your workaround.

Since you resolved this, I'll go ahead and close this out and update as needed, with any words from our engineering team.
Thank you again for your time and patience throughout this issue.

[2021-06-17 21:43] #76501 closed

[2021-06-17 21:44] jhampson-dbre opened #77134 "Are Managed Instance connections always encrypted by TLS?"
Under "Configure my client to connect securely to SQL Database/SQL Managed Instance", the documentation states:

In the first sentence, it says that Managed Instance enforces encryption for Redirect connection. Then the next sentence goes on to say "For Azure SQL Managed Instance... [t]he Redirect connection type currently doesn't support encryption enforcement", which seems to contradict the firs

[2021-06-17 21:49] bandersmsft commented on #77051
@paratz We you able to determine if the problem was due to the user's credentials?

[2021-06-17 22:01] JamesTran-MSFT commented on #77123
@GuyPaddock
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-17 22:07] bandersmsft commented on #76733
@jason934 Oh, I see now. https://docs.microsoft.com/azure/cost-management-billing/manage/ea-portal-administration#change-azure-subscription-or-account-ownership describes how to transfer account ownership for a single subscription. That's mentioned in this article's third sentence. EA admins can do that in the EA portal so a support ticket is not needed. Is that what you're trying to do?

[2021-06-17 22:08] MartinJaffer-MSFT commented on #45931
Thank you for sharing @y08it105 .  I believe the global variables were introduced after this thread was closed.  Your contribution has helped update this.

[2021-06-17 22:18] JnHs commented on #77007
Hi @vinishgeorge - thanks for sharing your feedback.
For the first question, does this section clarify or do you still have additional feedback/questions? https://docs.microsoft.com/en-us/azure/batch/batch-automatic-scaling#evaluate-an-autoscale-formula
Regarding the request for Java examples, I've created a task for this suggestion and will work with the PM to prioritize that update against other

[2021-06-17 22:32] ejsealms opened #77135 "How do you index into a variable array?"
I have a variable array with two entries. Sometimes, I want to only access the first element. When I try to deploy my template, it tells me that my syntax is invalid when I try to do
"[variables('locations')][0]"

and when I try to do
"locations": "[variables('locations')[0]]".

Is there a way to access only one element of a variable array?

---
#### Document Details

⚠ *Do not edit this section.

[2021-06-17 22:33] James-Hamil-MSFT commented on #77104
Hi @nkumars , have you done any use logging like the document mentioned? If you're able to get an error code we can pinpoint the issue.

Best,
James

[2021-06-17 22:41] rwike77 commented on #72459
@morgansimonsen I've added a procedure for [adding custom signing keys](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#security-considerations).  This procedure calls Graph directly, I'll try to work something out using New-AzureADServicePrincipalKeyCredential too.  You do need to add the signing key to the service principal and not the application,

[2021-06-17 22:41] #72459 closed

[2021-06-17 22:41] MarileeTurscak-MSFT commented on #77111
An application can be out of compliance if it is flagged that way by a policy rule. This is described in the "Determine Non-Compliance" document: https://docs.microsoft.com/en-us/azure/governance/policy/how-to/determine-non-compliance

To view compliance detailes:

Launch the Azure Policy service in the Azure portal by selecting All services, then searching for and selecting Policy.

On the Overvi

[2021-06-17 22:41] #77111 closed

[2021-06-17 22:42] rwike77 commented on #73042
@khharper I've added a procedure for [adding custom signing keys](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#security-considerations).  This procedure calls Graph directly, I'll try to work something out using New-AzureADServicePrincipalKeyCredential too.  I'm closing this issue for now, feel free to re-open if need be.  #please-close

[2021-06-17 22:42] #73042 closed

[2021-06-17 22:46] meganbradley commented on #77132
#please-open

[2021-06-17 22:49] KranthiPakala-MSFT commented on #77133
@samiarahman
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-17 22:50] KranthiPakala-MSFT commented on #77114
@oshrat-kaplan
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-06-17 23:00] #77132 closed

[2021-06-17 23:02] yane3628 opened #77136 "Add disclaimer about the insecure configuration if allowing all client URLs with "*""
In section [Enable CORS](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#enable-cors) add a note that allowing all client URLs is not recommended as it's insecure to do so. See [note in ASP.Net documentation](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-5.0#set-the-allowed-origins) for example.

---
#### Document Details

⚠ *Do not

[2021-06-17 23:15] mike-urnun-msft commented on #77126
@JasonCard Thank you for your feedback! We will review and update as appropriate.

[2021-06-17 23:27] mrochon opened #77138 "Possible values for Challenges include mfa"
The doc says that the only value is block. I am getting 'mfa', which I presume means that mfa was calculated as required to continue signin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49122f8-0ba8-08f1-c8cf-52634dfd0d0e
* Version Independent ID: ea718f8a-e004-47b5-2feb-1eade3835301
* Content: [Conditional Access t

[2021-06-17 23:28] Karishma-Tiwari-MSFT commented on #77097
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-17 23:42] BharathNimmala-MSFT commented on #77135
@ejsealms Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-06-17 23:51] KranthiPakala-MSFT commented on #77042
Hi @luishdemetrio
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-06-17 23:51] KranthiPakala-MSFT commented on #77042
@XiaoyuMSFT could you please review this feedback? - thank you

[2021-06-17 23:52] BharathNimmala-MSFT commented on #77106
@jyeblog Thank you for reaching out to us with your queries and feedback on the document. We will review it and also check with our internal team and get back to you at the earliest.

[2021-06-17 23:57] eelliottms opened #77139 "Create Pod steps should probably be last"
The content of these pages is great, however I was having an issue when getting to the last step of having to modify the pod to use the persistent volume claim.  Trying to update the pod results in an error of Forbidden as you can apparently only change the spec.containers.image, spec.activeDeadlineSeconds or spec.tolerations.

Recommend replacing the pod update step with the pod creation steps.

[2021-06-18 00:00] KranthiPakala-MSFT commented on #77115
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 00:02] KranthiPakala-MSFT commented on #77122
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 00:03] KranthiPakala-MSFT commented on #77124
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 00:18] Oury-MSFT commented on #77134
@jhampson-dbre  Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-06-18 00:37] JasonWHowell commented on #65645
Looks like we've addressed the issue and the docs will be released shortly. We'll close out the issue for now, but if you have continued questions, let us know. Thanks for the great feedback!
#please-close

[2021-06-18 00:37] #65645 closed

[2021-06-18 00:58] hpsin commented on #75548
#please-close - thanks James!

[2021-06-18 00:58] #75548 closed

[2021-06-18 01:06] freythman opened #77140 "Sidebar links on AVS FAQ result in 404"
Links in the sidebar direct to a 404 page. I believe this is because the links append `.yml` to the URL.

Example of a Sidebar Link (Click on Resources > FAQ > Storage) `https://docs.microsoft.com/en-us/azure/azure-vmware/faq.yml#storage`
The working URL `https://docs.microsoft.com/en-us/azure/azure-vmware/faq#storage`

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-06-18 01:26] SamaraSoucy-MSFT commented on #76763
@gaikovoi I did get confirmation from the product team that they are actively working on adding support for scenarios like yours, but it isn't close enough that they have a timeline I can share with you.

I am going to close this thread. If you have any further follow up questions, please @ me and I'll receive a notification to come back and answer them.

[2021-06-18 01:26] #76763 closed

[2021-06-18 01:34] PennyZhou-MSFT commented on #65545
@samirvora-MS Thanks for the feedback. This "Advanced recurrence options" is only available when the "Recurrence" is chosen as "Days", "Weeks" and "Months". I will implement this in our document https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger
![image](https://user-images.githubusercontent.com/83812325/122492017-9e160300-d017-11eb-991a-587a801bd8b1.png)
![image](h

[2021-06-18 01:41] BharathNimmala-MSFT commented on #76640
@simon-an Apologies for the delay , post validation with our internal team it was recommended that this scenario needs more deeper investigation on the environment you have and guide you accordingly. This can be better served if you [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team. Requesting you to please create a support ticket with our team.

Ple

[2021-06-18 01:41] #76640 closed

[2021-06-18 01:41] denious commented on #76973
I have figured out that it is and isn't the right format, depending on how the B2C application is set up, so both the sample and the documentation are correct, unfortunately. See screenshots below.

**App ID not set**
![image](https://user-images.githubusercontent.com/7120854/122492781-062eff80-cfac-11eb-8488-532753a8248a.png)

**App ID set**
![image](https://user-images.githubusercontent.com/7120

[2021-06-18 01:43] BharathNimmala-MSFT commented on #77088
@frochi42 Thank you for your query , our team will review it and get back to you at the earliest.

[2021-06-18 02:08] ssabat commented on #72346
Thanks @jasonhorner , we do have a note on the page like this just below GUI where you input parameters.

  If you are creating your pipeline and trigger in [Azure Synapse Analytics](../synapse-analytics/overview-what-is.md), you must use `@trigger().outputs.body.fileName` and `@trigger().outputs.body.folderPath` as parameters. Those two properties capture blob information. Use those properties in

[2021-06-18 02:08] #72346 closed

[2021-06-18 02:28] fengjhwa commented on #38898
Hi @rboucher, it's a live alert
I just want to know which one is the correct flag I should check, from my live alert `IncludedSearchResults` is correct
But `IncludeSearchResults` is from MS document, thank you

[2021-06-18 02:47] PennyZhou-MSFT commented on #65545
This issue has been addressed and the implantation has also been added into our ACOM Docs, which will take some time to take effect . We'll close out the issue for now, but if you have continued questions, let us know. Thanks for the great feedback!
#please-close

[2021-06-18 02:47] #65545 closed

[2021-06-18 03:00] SarveshPandey commented on #76662
Hi Team

We can't use Azure SQL datasync as its have many limitations and we looking
for scenario where we simply migrate 200 database effortlessly by using
some scripts.

Can you help us with this?

Regards,
Sarvesh Pandey

On Thu, 17 Jun, 2021, 2:28 am Oury-MSFT, ***@***.***> wrote:

[2021-06-18 03:17] CHEEKATLAPRADEEP-MSFT commented on #77140
@freythman  Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/162900](https://github.com/MicrosoftDocs/azure-docs-pr/pull/162900)

![image](https://user-images.githubusercontent.com/79183421/122500453-70798b80-d010-11eb-87ea-d7fee0bc0ea9.png)

The changes should be live soon. In future, if you see any minor bug fixes in the doc

[2021-06-18 03:18] CHEEKATLAPRADEEP-MSFT commented on #77140
@shortpatti Could you please review the PR and approve?

[2021-06-18 03:57] AjayKumar-MSFT commented on #77127
@kishorerv25, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 03:59] AjayKumar-MSFT commented on #77136
@yane3628, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 04:01] AjayKumar-MSFT commented on #77131
@sasanmcp, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 04:10] MayankBargali-MSFT commented on #77127
@kishorerv25 As mentioned in the document:

This preview feature should automatically available on your existing APIM instance as the deployment is still in progress.
Please **Note** there are limitation as mentioned [here](https://docs.microsoft.com/en-us/azure/api-management/websocket-api#limitations). If your APIM is created under the "**Consumption SKU**" then this feature will not be availabl