[2018-02-27 03:16] tysonn opened #5031 "Test issue"
test issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb50b0d-cfec-fa96-7d2d-e462e79dbd9d
* Version Independent ID: c7f85f8b-fca5-fa58-8c96-4e9593f0bbc7
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-vsts-iis-cicd)
* [Content Source](https://github.com/Microsoft/azure-docs/blo

[2018-02-27 03:16] #5031 closed

[2018-02-27 04:01] j-martens opened #5033 "The term wrangle isn't really clear."
Maybe replace with prepare data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cdbfe21-960c-a8d5-5fe9-7d3c4ef81f5c
* Version Independent ID: 450f10cf-3c3e-5fb1-ce15-d1fa01148f69
* [Content](https://docs.microsoft.com/en-us/azure/machine-learning/preview/tutorial-classifying-iris-part-1)
* [Content Source](https://git

[2018-02-27 04:04] YeeSuan95 opened #5034 "Person Group enquiries"
Recently i posted a comment on this page. However, the comment section have revamped to this feedback section and my question has not been replied yet. So i will post again.

1. How many person groups can i have?
2. 1 person group can contain how many person?
3. 1 person can contain how many images?

I would like to clarify this matter as i'm confused. In this page, 1 group can contain 10,000 pers

[2018-02-27 05:01] j-martens commented on #5033
#in-process

[2018-02-27 07:09] jayeshdshah opened #5039 "Azure CLI"
Great with PS but can we have CLI version also for the same...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-vm)
* [Content So

[2018-02-27 07:09] jayeshdshah opened #5040 "Azure CLI"
Great with PS but can we have CLI version also for the same...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-vm)
* [Content So

[2018-02-27 07:16] jayeshdshah commented on #5040
Azure CLI #5040

Closing this #5040 as it was duplicated by mistake..  The same issue is opened under #5039.

[2018-02-27 07:16] #5040 closed

[2018-02-27 09:22] larrylieberman opened #5042 "Clean up resources: mention stopping the docker container for edge?"
Might you not also want to mention that they will still have the edge container running in docker on their local machine, that they should stop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* [Content](https://docs.mic

[2018-02-27 09:31] ravianand1988 opened #5043 "Best practice to send Push notification to Mobile App"
Hi,
I followed this documentation and successfully able to implement as well. but my requirement is how could I send push notification to mobile Android/IOS app when temperature is reached to certain level or what would be best practice to achieve same?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a6b2e7-

[2018-02-27 10:23] martijnkrijger-p opened #5045 "Error"
When i launch the PS i do get an error:

PS C:\Windows\System32\WindowsPowerShell\v1.0> $Setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ).id
Get-AzureADDirectorySetting : Cannot bind argument to parameter 'Id' because it is null.
At line:1 char:44
+ ... Setting -Id (Get-AzureADDirectorySetting | where -Property Display

[2018-02-27 11:12] K232 opened #5046 "Android Client is not registered with Notification hub"
I'm trying to add Push Notifications to my Xamarin Forms app. Azure Notification Hub works fine, I see my server sent several messages. But they do not appear on my Android. I've implemented AzureNotificationHubService https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push#registering-with-the-azure-notification-hub, nor AndroidManifest or Fireb

[2018-02-27 11:36] K232 commented on #5046
Hmm, seems to be a problem of my emulator because on Hardware it works :-)

But nothing is displayed. Application output  says:
[FirebaseNotificationService] Notification message body: Notification Hub test notification
[sfx] Unknown style!!! : com.android.internal.util.NotificationColorUtil@b5a3a2e

Downloaded demo app also has warnings on new Notification.Builder because SetSound is deprecated a

[2018-02-27 11:57] akadir83 opened #5047 "Is there an error on Line 30 of the sample code?"
_$elasticpool = -AzureRmSqlElasticPool -ResourceGroupName $resourcegroupname_

Looks like there's some missing text. I might be wrong, but shouldn't that say:

$elasticpool = **New**-AzureRmSqlElasticPool -ResourceGroupName $resourcegroupname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdc8111-10fa-acff-f219-b17432

[2018-02-27 12:19] Werner-MOC opened #5048 "Paragraph Credentials"
As the storage location for Backups should allways be outside of Azure Stack, it does not make any sense to use Credentials from Azure Stack Administrator. Bad and missleading example: for example, you may use the Azure Stack administrator credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a868d70f-4b98-7a38-5

[2018-02-27 12:44] mzielinski-spartez opened #5049 "What to use instead of SDK?"
In the document you say: "The deprecation of the Azure Multi-Factor Authentication Software Development Kit (SDK) has been announced. This feature will no longer be supported for new customers.". It's not clear what should be used instead of this SDK. Also, a link to the mentioned announcement would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-02-27 12:48] ronbok opened #5050 "PowerShell?"
This document is link to from the Portal UI and yet there's no PowerShell documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8044041d-2554-47fb-4021-438cea025440
* Version Independent ID: 90ba5743-5e79-880a-4b7a-2527f5cfee27
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/troublesho

[2018-02-27 12:55] janis91 opened #5051 "Node.js"
I cannot figure out how to validate the client certificate with a node.js app.
Does anyone know this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2b0b-c19a1b873b64
* [Content](https://docs.microsoft.com/en-us/azure/app-service/app-serv

[2018-02-27 14:52] SamirFarhat opened #5053 "API Gateway Management integration with VNET : Basic and Standard Tier"
When designing a micro-services application, and using service fabric, it's highly recommended that the API Management Gateway stays near the Service Fabric cluster, for performance purposes. Today, only the premium tier provides integration with VNET, which is a stopper for using API Gateway for small/medium projects. I think that features like this should be provided on other tiers.
Or provide a

[2018-02-27 16:03] markm555 opened #5055 "Invoke Web Request fails"
invoke-webrequest `
  https://github.com/Azure/AzureStack-Tools/archive/master.zip `
  -OutFile master.zip

This command fails with the following error:
invoke-webrequest : The request was aborted: Could not create SSL/TLS secure channel.

This command works:
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
Invoke-WebRequest -Uri https://github.com/Azure/AzureStack-T

[2018-02-27 16:17] #5033 closed

[2018-02-27 16:50] jeremiahjordanisaacson opened #5056 "Issue with Xrdp"
Issue, the sudo apt-get install xrdp  - command installs a newer version that has issues connecting to the VM after you RDP. The screenshots don't reflect my experience when trying this with Ubuntu. Can you verify this approach is still working?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-765

[2018-02-27 16:55] Consequences opened #5057 "Unable to sign in: unable to verify the first certificate"
I'm having issues getting the application to connect to our Storage accounts. I added our internal root CA (which is used to MitM intercept HTTPS traffic that passes through our transparent proxy) but I still get the same error when I try to connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-761

[2018-02-27 16:56] Consequences commented on #5057
C:\Program Files (x86)\Microsoft Azure Storage Explorer\resources\app\node_modules\applicationinsig…:20 ApplicationInsights:Sender
[Error: unable to verify the first certificate at TLSSocket.<anonymous> (_tls_wrap.js:1088:38) …]
0
:
Error: unable to verify the first certificate at TLSSocket.<anonymous> (_tls_wrap.js:1088:38) at emitNone (events.js:86:13) at TLSSocket.emit (events.js:188:7) at TLSS

[2018-02-27 17:20] graham-sportsmgmt opened #5059 "Confusing & convoluted"
This is not a straightforward way to learn how to use the documentdb node sdk, with all the use of internal objects and self/this references that node developers don't use as a standard.  The mongodb and dynamodb tutorials are much simpler and help users of all levels come up to speed quicker.  Please remove the "opinionated design" and just show how the sdk works.

---
#### Document Details

⚠ *D

[2018-02-27 17:31] Consequences commented on #5057
I was able to fix this using the Edit > Certificates > Import drop down. Once I added the root CA, and intermediate CA certificates it worked.

[2018-02-27 17:44] amanarneja commented on #5034
Thanx for the feedback!
I have assigned this to the author and we will get back to you with both a response and an update to the document.

[2018-02-27 17:54] amanarneja commented on #5039
Thanx for the feedback!
I have assigned it to the author to investigate adding CLI into the document and they will get back to you.

[2018-02-27 17:58] amanarneja commented on #5042
Thanx for the feedback Larry!
I have assigned this issue to the author to investigate and update.

[2018-02-27 18:08] amanarneja commented on #5043
Great that you got the notifications to work!
For the implementation specific question, would be better to post on Stackoverflow, so that the community can help answer the question. The link below should take you to Notification Hub specific section in Stack Overflow.
https://stackoverflow.com/questions/tagged/azure-notificationhub

[2018-02-27 18:08] #5043 closed

[2018-02-27 18:13] amanarneja commented on #5045
We are investigating and will get back to you.

[2018-02-27 18:15] patrick-steele opened #5060 "Need correct link for "Azure Event Grid""
In the "Next Steps" section, the link to "Azure Event Grid" goes to the same link as "Azure Functions".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de93e314-ae26-29c3-1594-377081ddb002
* Version Independent ID: a65af49c-ba04-b76a-b510-a8646d5056e6
* [Content](https://docs.microsoft.com/en-us/azure/service-bus-messag

[2018-02-27 18:19] iainfoulds commented on #5039
Thanks for the feedback, @jayeshdshah

We do already Azure CLI 2.0 equivalents for all of our tutorials. You can view the _Create and Manage Linux VMs with the Azure CLI_ version, and the rest of the CLI tutorials, here - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-vm

[2018-02-27 18:23] amanarneja commented on #5046
Thanx for the feedback!
I have assigned this to the author to take a look if there are any issues with the steps in the document. Stay tuned :)

[2018-02-27 18:28] amanarneja commented on #5047
Thanx for reporting! We are working on a fix.

[2018-02-27 18:32] amanarneja commented on #5048
Thanx for pointing this out! I have assigned the issue to the author to investigate and update.

[2018-02-27 18:35] amanarneja commented on #5049
Thanx for the feedback!
I have assigned this issue to the author to investigate and update as appropriate.

[2018-02-27 18:38] amanarneja commented on #5050
Thanx for the feedback!
I have assigned this to the author to review and update as appropriate.

[2018-02-27 18:45] amanarneja commented on #5053
Hey Samir
This is great feedback, can you please post @ https://feedback.azure.com/forums/293901-service-fabric so that the product team can triage and investigate it?
Also, for additional product feedback we now have the "Give Product Feedback" button in the documents next to "Give Documentation Feedback" that will take you to the appropriate feedback channel.

[2018-02-27 18:45] #5053 closed

[2018-02-27 18:49] amanarneja commented on #5055
Thanx for the feedback! We are investigating this issue.

[2018-02-27 18:51] amanarneja commented on #5056
Thanx for the feedback! We are investigating this issue.

[2018-02-27 18:51] jeremiahjordanisaacson commented on #5056
Thanks!

[2018-02-27 18:53] iainfoulds commented on #5050
Thanks for the feedback, @ronbok

There are portal troubleshooting steps detailed, since the doc is linked to from the Azure portal. For our Linux docs, we typically do not cover PowerShell. The Azure CLI 2.0 is available in the Azure Cloud Shell, which you can also access through the portal, and the CLI steps are often more direct, if new, than using PowerShell cmdlets.

Adding @JarrettRenshaw an

[2018-02-27 18:53] SyntaxC4 commented on #5060
@ggailey777 @tdykstra @tfitzmac Can you please take a look?

[2018-02-27 18:55] amanarneja commented on #5057
Great that you figured it out and are now unblocked!
I am assigning this to the author to see if this will be a good scenario to add to the troubleshooting guide.

[2018-02-27 18:56] conceptdev commented on #5046
@K232 can you provide the link you used to download the demo app? Thanks!

[2018-02-27 19:00] amanarneja commented on #5059
Thanx for the feedback. I have assigned this to the author to evaluate your feedback and get back to you.

cc @tysonn so that you can keep track of this issue.

[2018-02-27 19:02] graham-sportsmgmt commented on #5059
I'd be happy to contribute or assist with a new tutorial if you like.  We have been using documentdb in production for nearly a year.

[2018-02-27 19:03] dev3395 commented on #5056
I'm having problems too. Not sure if it's the same thing or maybe misconfig on my part. I'm using Ubuntu 17.10. I can RDP to the xrdp login dialog but it can't connect to sesman on 127.0.0.1:3350 from there. Below is what netstat shows. Maybe it's an IPv4 vs 6 issue in my case?

$ sudo netstat -plnt | grep rdp
tcp6       0      0 ::1:3350                :::*                    LISTEN      20022/xr

[2018-02-27 19:03] amanarneja commented on #5060
Hey Patrick
Thanx for the feedback! We have assigned the issue to the authors to update as appropriate.

[2018-02-27 19:06] jeremiahjordanisaacson commented on #5056
I was experiencing the exact same thing. Any idea on how to resolve? Thanks!

[2018-02-27 19:12] NileshGhodekar opened #5065 "GDPR - conspicuous typo"
In the release notes for 1.1.749.0, GDPR is expanded as General Date Protection Regulation with Date instead of Data :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5bc6d02-8ce9-e15d-4221-4aad75db260a
* Version Independent ID: 8a375b59-d371-361a-b77f-3658059b4bee
* [Content](https://docs.microsoft.com/en-us/azure/ac

[2018-02-27 19:15] spacecat opened #5067 "Multi-container (web front-end + back-end (mongodb/azure sql) app sample/quickstart"
I've successfully deployed the azure vote app to a Kubernetes cluster in AKS but as a .NET developer I am more interested in a .NET Core 2.x / MongoDB /Azure SQL multi-container application (in AKS). Would you kindly provide some examples or point me into the right direction with some links?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-02-27 19:17] ronbok commented on #5050
![2018-02-27_14-14-56](https://user-images.githubusercontent.com/7467308/36749448-c64337e6-1bc8-11e8-9e20-3fe75ad2062b.jpg)
My point was that the Portal UI professes to provide both and the documentation clearly does not.  The Azure CLI isn't a desired solution here, PowerShell is.

[2018-02-27 19:20] iainfoulds commented on #5050
Okay, understood. We'll need to work with the portal team in the short-term to update that link text then.

[2018-02-27 19:33] mwittenbols opened #5068 "Typo: NGIX should be NGINX"
The sentence "This document walks through a sample deployment of the NGIX ingress controller in an Azure Container Service (AKS) cluster" at the top of the page contains a typo. It should read: "This document walks through a sample deployment of the NGINX ingress controller in an Azure Container Service (AKS) cluster"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-02-27 19:35] dev3395 commented on #5056
Glad to know it's not just me. I'm stopping for now since this GUI path was meant to make my life easier :). If I were pursuing now my next step might be to verify it with a local Ubuntu VM. I've always started with local console access to Ubuntu so the xfce4 and xrdp stuff is all new to me.

[2018-02-27 19:36] AnalyticJeremy opened #5069 "Azure for R developers"
For many popular programming platforms (like [Python](https://docs.microsoft.com/en-us/python/azure), [Ruby](https://github.com/Azure/azure-sdk-for-ruby/blob/master/README.md), and [node.js](https://docs.microsoft.com/en-us/javascript/azure/)), we have a "Getting Started with Azure" page.  These pages help experienced users of those languages apply their existing skills on our Azure platform.

How

[2018-02-27 19:36] AnalyticJeremy commented on #5069
I will volunteer to work on this issue.

**Proposed Title:** Azure for R developers
**Proposed Abstract:** Azure allows data scientists and statisticians to harness the power of the cloud when running their R scripts.  This article walks through the Azure services that support R and provides recommendations for various scenarios.

**Proposed Outline**
- Introduction
- Services That Support R
  * R

[2018-02-27 19:43] aydeisen opened #5070 "Excel file of 'Security Center common configuration identifiers and baseline rules' outdated"
This document references a link to a spreadsheet with the security settings that can be monitored by Security Center
https://gallery.technet.microsoft.com/Azure-Security-Center-a789e335

This spreadsheet is clearly outdated, as a download of the BaselineConfiguration.json file with the default Microsoft rules contains rules that are not in the spreadsheet.  It would be great if this could be updat

[2018-02-27 19:47] mimig1 commented on #5059
#in-process

[2018-02-27 19:49] iainfoulds commented on #5056
Sorry you're encountering problems.

There are variations between distros in terms of the XFCE or XRDP version they install, yes. Most customers prefer to use an LTS version of Ubuntu, which is where most of our docs are geared towards. I just tested this on an Ubuntu 16.04 LTS VM created from the CLI quickstart as to linked to from the doc, and I receive the expected XRDP login dialog.

![xrdp](h

[2018-02-27 20:02] mimig1 commented on #5059
Thanks for your feedback @graham-sportsmgmt. Do you think it would be better to remove the article until a better replacement is available, or leave this online until the better replacement is available? And are you interested in making improvements to this tutorial, or would you suggest starting fresh? We've received similar feedback not too long ago - so we realize this article needs an overhaul

[2018-02-27 20:05] jeremiahjordanisaacson commented on #5056
Thanks! This is great!

[2018-02-27 20:11] graham-sportsmgmt commented on #5059
It's one of the few documents out there, it's probably best to leave it in place for now.

I'd recommend that it be replaced fresh with a simple node/express/pug step by step tutorial that illustrates CRUD.  That is where most people want to start with documentdb.

[2018-02-27 20:15] iainfoulds commented on #5056
@jeremiahjordanisaacson This issue will close once the PR with the updates is merged. We publish twice per day, so there will be a little delay before the updates become visible for you. For now, so long as you create an Ubuntu 16.04 LTS VM, the steps should work just fine.

Thanks.

[2018-02-27 20:18] #5056 closed

[2018-02-27 20:20] ronbok commented on #5050
Fixing the Portal UI will inevitably result in forgetting to write the missing PowerShell section unless someone puts it on your backlog.

[2018-02-27 20:21] RavnJesper opened #5072 "Edge support"
Hello
When will you add support for Edge?
We have Edge as default browser in our Windows 10 setup.
We cannot deploy this needed feature before Edge is supported.
This has been a problem for almost 6 month now. It makes no sense to me, what is going on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1db2d3-8e7d-0c60-f

[2018-02-27 20:28] iainfoulds commented on #5050
I've reached out on both issues so that work can be reviewed and implemented accordingly. As noted above, PowerShell typically isn't included in the Linux docs, so the support team can review and create a backlog item if they deem it appropriate. Otherwise, at least the confusion on PowerShell being expected in the doc can be addressed by updating the text in the portal.

[2018-02-27 20:51] amanarneja commented on #5065
@NileshGhodekar Thanx for catching that, fix is in the process of being merged!

[2018-02-27 20:57] amanarneja commented on #5068
@mwittenbols - Thanx for pointing this out, I have a pull request out for update and will get mergedsoon.

[2018-02-27 21:00] #5065 closed

[2018-02-27 21:03] mimig1 commented on #5059
What do you think about the code provided in this github sample - https://github.com/burkeholland/cosmos-express-es6? It refactors the code in the current tutorial with Promises and ES6 and has CRUD for the database and collection. We're thinking about using that code as the basis for the new tutorial. Thoughts?

[2018-02-27 21:10] #5060 closed

[2018-02-27 21:10] graham-sportsmgmt commented on #5059
It's still convoluted and someone who is learning how to use the sdk still has to trace back through multiple levels of objects and files to figure out what is going on.  Promises and ES6 would be the very last things I'd add in order to make the introductory tutorial more friendly.

I believe that the goal here would be to help the maximum number of people learn the essentials of the SDK in the s

[2018-02-27 21:12] MohitGargMSFT commented on #5047
Assigning it to @CarlRabeler to modify the powershell script

[2018-02-27 21:27] goatmale opened #5074 "Easier method of setting"
Under Montioring > Diagnostics setting > you can set the AppInsights Key directly which is significantly easier then downloading the JSON template and redeploying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f622e23a-a292-a3a3-3a09-2cd3d8ba3b1d
* Version Independent ID: c1da0084-d981-4096-9036-4a6d08fa0f7a
* [Conten

[2018-02-27 21:32] MicrosoftGuyJFlo commented on #5049
@mzielinski-spartez The note about the deprecation was added by the PM in the following commit
https://github.com/MicrosoftDocs/azure-docs/pull/3902/commits/bd1e95520722d72a1beffa8cf25c7ef3d71def2b
@richagi might be able to provide some additional guidance regarding the deprecation.

The recommendation now that the SDK is no longer available to new customers is to write your app to support modern

[2018-02-27 21:32] MicrosoftGuyJFlo commented on #5049
#in-progress

[2018-02-27 21:37] MohitGargMSFT commented on #5051
I will assign this to author to enhance the document to include code sample to do client certificate validation for node.js app.

However, you may try below which could help unblock you for now.

If client auth certificate is created as a CA, then any certificate which is signed by this one will validate.

`var options = {
    key: fs.readFileSync('certs/server-key.pem'),
    cert: fs.readFileSync

[2018-02-27 21:37] bdcoder2 opened #5076 "Instructions result in a project that starts with 15 errors ..."
In the section entitled "Create an Azure Functions project" - I followed steps 1 through 4 to create the project.   Unfortunately, the file "Function1.cs" reports the following errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Http' does not exist in the namespace 'System.Net' (are you missing an assembly reference?)	test1	D:\vsprojects

[2018-02-27 21:40] mimig1 commented on #5059
Ok, thanks for the candid feedback. I imagine you've seen this tutorial? https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-get-started What are your thoughts on it?

[2018-02-27 21:47] amanarneja commented on #5070
@aydeisen  Thanx for reporting! I have assigned this to the content author to investigate and update as appropriate.

[2018-02-27 21:51] graham-sportsmgmt commented on #5059
I had seen an earlier version. it's not bad.

Take a look at this: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.NodeJs.html

[2018-02-27 22:57] daveclynn1 opened #5078 "Confusing Guidance"
Under the section "Common things to check after completing installation of the master target"

The bullet:
The master target should have at least one VMFS datastore attached. If there is none, the Datastore input on the reprotect page will be empty, and you can't proceed.

This is misleading.  This bullet implies that a VMFS data store can be mounted to a Master Target server (which is running eit

[2018-02-27 23:02] MohitGargMSFT commented on #5045
Hi,

You see above error if there is no property as DisplayName for the AD Tenant.  If just you run Get-AzureADDirectorySetting, the result will show current property.

If you go to this section "Set the naming policy and custom blocked words" and this will create property named DisplayNamewith value Group.Unified. Then command you referred will work as expected.

[2018-02-27 23:16] dev3395 commented on #5056
Thanks for the quick response! I'll try with 16.04 LTS. No special reason I need to use 17.10, and you're right that LTS will probably save me from variation surprises like this.

[2018-02-27 23:28] mimig1 commented on #5059
Thanks for the feedback. In what aspect would you be interested in contributing to the new article? We can draft the content and you work with you get your feedback early, or if you wanted to draft something and submit it in a PR we can work with you that way. Let me know your preference.

[2018-02-28 00:08] garciare opened #5081 "Does adding the domain(s) in O365 suffice for these steps?"
I added the domains (hosted in GODADDY) in the O365 Admin Portal.  I believe that validates these steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c4822cc-fffd-de33-f7c7-54abc198e896
* Version Independent ID: 8b0e044c-02ce-c623-32b4-095dbfe2c459
* [Content](https://docs.microsoft.com/en-us/azure/active-directory/

[2018-02-28 00:10] tysonn commented on #5069
@AnalyticJeremy - Thanks for the suggestion and offer to collaborate, Jeremy. I have assigned this contribution idea to Robert, he would be a first point of contact for this discussion, I believe.

@rloutlaw - Let me know if there is someone else that needs to be assigned.

[2018-02-28 00:51] rloutlaw commented on #5069
@AnalyticJeremy I did a quick review and survey of the Azure R ecosystem on Azure and looked at the existing content planning around this area. This request for this issue is already in the process of being addressed. I'll follow up with you and the content owner directly.

[2018-02-28 00:59] WhippsP opened #5082 "Use Azure Storage Explorer rather than B2CAzureStorageCLient"
Could I suggest a change to use Azure Storage Explorer rather than a custom built tool. This tool also allows you to configure CORS.
https://azure.microsoft.com/en-gb/features/storage-explorer/

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd3416961
* Version Independent ID: 2f76d983-a940-fa

[2018-02-28 01:12] graham-sportsmgmt commented on #5059
I'd like to draft something and submit in a PR, please advise on where/how you'd like me to do that.

Thanks!

[2018-02-28 01:13] amanarneja commented on #5072
@RavnJesper - We are checking with the appropriate team and will get you an answer soon.

[2018-02-28 01:20] amanarneja commented on #5074
@goatmale - Thanx for your feedback! I have assigned the issue to the content author to investigate this further.

[2018-02-28 01:22] amanarneja commented on #5076
@bdcoder2 Thanx for reporting, we are investigating the issue.

[2018-02-28 01:27] amanarneja commented on #5078
@daveclynn1 - Thanks for the suggestion! I have assigned to the content owner to evaluate the suggestion and update the doc.

[2018-02-28 01:36] amanarneja commented on #5082
@WhippsP Thanks for your suggestion, we are investigating and will get back to you.

[2018-02-28 01:41] amanarneja commented on #5067
@spacecat Since this a request for an additional sample, can you post the request at https://github.com/Azure/AKS/issues.

[2018-02-28 01:41] #5067 closed

[2018-02-28 01:56] mattbriggs commented on #5048
Thank you for your feedback. I can see how that would seem misleading. In order to use the Instrastructure Backup Service, you need "a domain user account and credentials, for example, you may use the Azure Stack administrator credentials." This service is running on Azure Stack. Your target location for the backups, you are right, should ideally be in a physically removed location. However, not e

[2018-02-28 02:03] Paul-Dempsey opened #5083 "sample in doc uses Adm authorization which has been retired,"
AFAIK Adm authorization has been retired in favor of AzureAuthToken, so the sample in this doc is out of date. The samples on GitHub have been updated to use AzureAuthToken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50c6bac-e94b-b5fd-ce29-4572260ad137
* Version Independent ID: 1482b754-906e-2f4e-d710-afcff2f5473e

[2018-02-28 02:06] MohitGargMSFT commented on #5081
Changing your name servers with GoDaddy to Office 365 will allow Office 365 to manage your DNS rather than GoDaddy.

However, you can logon on to your registrar, which in our example is http://godaddy.com, and after logging in, select the drop-down menu from under your login name, choosing Manage Domains and under manage DNS copy the Host value and the TXT Value exactly from the verify screen in y

[2018-02-28 02:06] #5081 closed

[2018-02-28 02:25] Paul-Dempsey opened #5084 "Unclear where and how this can be used in the API"
- Exactly where in the request do you supply this? Is this simply embedded in the source text somewhere?

- What do you mean by "HTML mode"? Do you mean when an API request includes `<ContentType>text/html</ContentType>` (and maybe text/xml)?

Can you give an example using the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-02-28 02:34] Justingoodin opened #5085 "Good job at the software, glad you made it and not someone else"
Still hard to get grasp at the place where I am personally but still staying the whore and taking in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Version Independent ID: 8c986086-9343-4b99-ae53-f4fd1159d4f8
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2018-02-28 02:36] Paul-Dempsey commented on #5084
After re-reading several times, I think I decoded what this was trying to say is that you apply the markup to the word or phrase for which you want to provide a fixed translation. This is somewhat parallel to the mechanism for "Do not translate": `<div class="notranslate">`_untranslatable-text_`</div>`, which unfortunately, and inconsistently, is apparently only usable in text/html and text/xml.

[2018-02-28 02:40] dcbrown16 opened #5086 "Levels"
RE: One of the following values: “Critical”, “Error”, “Warning”, “Informational” or “Verbose”
Are these values defined somewhere? All I can find is in the API for SharePoint:
https://msdn.microsoft.com/en-us/library/office/ff604025(v=office.14).aspx
Clear definitions are important for customers to know what they are setting when using Alerts.

---
#### Document Details

⚠ *Do not edit this section

[2018-02-28 03:20] mimig1 commented on #5059
Great! You can use the raw markdown from the original file as a guide - https://raw.githubusercontent.com/MicrosoftDocs/azure-docs/master/articles/cosmos-db/sql-api-nodejs-application.md. You can update the metadata at the top of the article as needed, but it will largely stay the same. You can use the heading structure as a guide as well. Once you have a draft ready, you can send submit a pull re

[2018-02-28 03:48] #5068 closed

[2018-02-28 04:28] tysonn commented on #5085
No apparent action required on this, closing and locking due to language that may not align with the intent of our code of conduct.

[2018-02-28 04:28] #5085 closed

[2018-02-28 04:37] femsulu commented on #5055
Thanks Mark, I am able to repro this issue and have engaged the document author to review and update the erroneous cmd.

[2018-02-28 04:43] amitkalia2 opened #5087 "Simple and Easy to understand"
Simple and Easy to understand....Very nicely explained each section ....  :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f943d8-4739-3678-79e3-4880a73d567b
* Version Independent ID: 82481a91-f3f0-5765-332c-92b63b7eda6e
* [Content](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-fe

[2018-02-28 06:28] Werner-MOC commented on #5048
But even then,  any Azure Stack component inside Azure Stack itself is totally locked down (secured) and would not fullfill the requirements for doing backups, beside the fact that no serious thinking person would even do a Backup to this place.

Von: Matt Briggs [mailto:notifications@github.com]
Gesendet: Mittwoch, 28. Februar 2018 02:57
An: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com

[2018-02-28 07:01] janis91 commented on #5051
This would be the way to do it when creating the server with https. But my tests with this didn't work, because I think Azure doesn't allow a nodejs https server. I want to validate it like stated in the documentation here: With the header 'X-Arr-ClientCert'.

[2018-02-28 07:23] K232 commented on #5046
Hi @conceptdev , it's from https://developer.xamarin.com/samples/xamarin-forms/WebServices/TodoAzurePush/ .

[2018-02-28 08:36] liranms opened #5088 "Request units calculation when reading from secondary"
Suppose I'm reading from a collection in a secondary (geo replicated) CosmosDB region - Does this read counts towards the general RU limit of the collection on the primary region ?
In other words - is the RU limit per region or the sum of all operations in all regions must be lower than the limit ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-02-28 09:20] kilasuit opened #5089 "Guidance link goes to a 404"
The above link "Azure Key Vault throttling guidance" points to a non exisiting file and returns a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b3e7270-ab3a-eff5-899f-f22bc45e6551
* Version Independent ID: 23fb7096-6a3c-13bf-33a7-69b9dcc6bfe4
* [Content](https://docs.microsoft.com/en-us/azure/key-vault/key-

[2018-02-28 09:27] mguntli opened #5090 "Specify message format of saved IoT Hub messages in storage container"
Please extend the documentation to specify the file format used by the files stored in the storage container.
After some research I found that it's the Apache Avro format (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0bc375-145f-3e45-e1e9-1

[2018-02-28 11:05] josefehse opened #5091 "Regarding Virtual Machine Limitations"
Where it says "Virtual machines created from Marketplace resources cannot be moved across subscriptions. Deprovision the virtual machine in the current subscription, and deploy again in the new subscription.", it should say "Virtual machines created from Marketplace resources cannot be moved to other resource groups or across subscriptions. Deprovision the virtual machine in the current subscripti

[2018-02-28 11:06] c031917 opened #5092 "blob path in full script section is wrong"
In full python script section references to blob are reading adftutorial instead adfv2tutorial, e.g.
blob_path= 'adftutorial/input

In single code sections it is correct.

Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0fee977f

[2018-02-28 14:03] mimig1 commented on #5059
Following up - @graham-sportsmgmt, we are using git issues to triage feedback from the community. For fixes that are non-immediate, we are closing the issues once the triage has occurred and the long term plan has been identified. So I’d like to suggest that we close this issue, and I will work with you independently to incorporate your updated tutorial into the documentation. Does that work for y

[2018-02-28 14:24] brainwane opened #5093 "switch pypi.python.org links to pypi.org"
I suggest you prepare to switch your PyPI link to the project release page on the new PyPI, https://pypi.org/project/azure-storage/0.30.0/ . You can subscribe to https://mail.python.org/mm3/mailman3/lists/pypi-announce.python.org/ to make sure you'll get a heads-up when the new Python Package Index replaces legacy PyPI. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-02-28 14:27] MGodfrey50 opened #5094 "LRS Description"
Has the LRS description been confused with ZRS?  Or does LRS replicate to paired data centers?  I was under the impression that not every region had paired data centers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b084d947-abfd-a8f9-b09f-d07f39eb5ad7
* Version Independent ID: a935fe20-e074-1fb0-1810-5cf384abb55e
* [

[2018-02-28 14:33] martijnkrijger-p commented on #5045
Hi,
weird enough the result of Get-AzureADDirectorySetting is .....
blanco

PS C:\Windows\System32\WindowsPowerShell\v1.0> Get-AzureADDirectorySetting

PS C:\Windows\System32\WindowsPowerShell\v1.0>

i am not intending to set blocked words, how can i achieve the following: prefix for group names

Thanks

[2018-02-28 15:05] spottedmahn opened #5095 "Confusing Article to a Newbie"
That seems really odd, there's an important note on the topic of the article that says don't do what is referenced in the documentation?

---

The first set of screenshots seem to be from the old portal.  Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c7fada-fd97-33d2-428d-7724d62de92c
* Version Independ

[2018-02-28 15:11] dronkoff opened #5096 "Please add 93.184.221.200:443 to the list"
Record from log C:\Program Files\Microsoft Application Insights\Status Monitor\diagnostics.log from restricted environment where ports are open only according to this list.

[2018-02-28T18:03:54.470+03:00][pid: 5508]: System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: A connection attempt failed because the connected party did not properly resp

[2018-02-28 15:14] dronkoff opened #5097 "Add www.nuget.org to the list"
Application Insights Status Monitor doesn't work without it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* [Content](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses#outgoing-ports

[2018-02-28 15:33] amanarneja commented on #5089
@kilasuit Sorry about that, fix is on its way !
Here's the correct link for your reference : https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-throttling

[2018-02-28 15:35] graham-sportsmgmt commented on #5059
That will work for me.  I can be reached at graham@sportsmgmt.net.  Thanks!

[2018-02-28 15:35] #5059 closed

[2018-02-28 15:40] kailashravuri opened #5099 "Simple and easy usage example - what about publish through Powershell ??"
This documents helps in making a simple and easy stream analytics project. This helps in understanding the basics of the analytics job. It would be helpful to describe how to publish this to Azure using powershell. No one uses visual studio in controlled environments to publish jobs as part of Dev-Ops pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-02-28 15:43] kailashravuri commented on #5099
I don't know why it created an issue in GiHub, i just added it as a comment to the

[2018-02-28 16:27] makauf commented on #5049
@MicrosoftGuyJFlo,
do you know what's with MS own products, like:
https://docs.microsoft.com/en-us/microsoft-identity-manager/pam/use-azure-mfa-for-activation
ETA Early 2018... now?

[2018-02-28 16:29] CarlRabeler commented on #5047
@stevestein to fix

[2018-02-28 16:41] spottedmahn opened #5100 "Daemons/server-side apps via Client Credential Flow"
The documentation says this is not supported but the [user voice feedback item](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18529918-aadb2c-support-oauth-2-0-client-credential-flow) says you can do this now:

[Daemons/server-side apps](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps#daemonsserver-side-apps)

[user voice](https:/

[2018-02-28 17:05] JoNevi opened #5102 "Sentence ends in the middle of"
In the "Differences..." section for the row "Pass information from activity to custom logic" the v2 description ends with 'and'... and just leaves the reader hanging.  The suspense is killing me!  And..... what?

Oh, and an example of how to pass ExtendedProperties would be great as well.  Specifically how to reference them in the .exe code.

---
#### Document Details

⚠ *Do not edit this section.

[2018-02-28 17:26] brantb opened #5104 "Code sample grants incorrect role"
Under "Grant AKS access to ACR", the following text appears (emphasis mine):

But the code snippet following includes:

    az role assignment create --assignee $CLIENT_ID --role Contributor --scope $ACR_ID

`--role Contributor` should be `--role Reader`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c0

[2018-02-28 17:38] rloutlaw commented on #5069
We're engaging with @AnalyticJeremy on this directly. #please-close

[2018-02-28 17:51] dave-007 opened #5105 "Doesn't explain what difference Storage and StorageV2 are in the portal."
Doesn't explain what difference Storage and StorageV2 are in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* [Content](https://docs.microsoft.com/en-us/azure/storage/common/storage-create-storage-account)
*

[2018-02-28 17:51] conceptdev commented on #5046
Thanks @K232, note that your emulator must be configured with Google Play Services (ie "a virtual device that has Google APIs set as the target"). The **Play** app should be present on the emulator - we'll make this more obvious in the doc.

We've identified this as a common cause of push notifications not working on emulators, since Google Play Services/Google APIs aren't automatically present in

[2018-02-28 18:04] dave-007 opened #5107 "storage based endpoint has load option greyed out."
Advise user how to proceed in this case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78647b5d-18f1-f152-908b-b206a3f0b94a
* Version Independent ID: c06049c9-91d0-3b0c-2053-57b2188944d0
* [Content](https://docs.microsoft.com/en-us/azure/cdn/cdn-preload-endpoint)
* [Content Source](https://github.com/Microsoft/azure-d

[2018-02-28 18:05] #5039 closed

[2018-02-28 18:06] #5069 closed

[2018-02-28 18:15] amanarneja commented on #5083
@Paul-Dempsey Thanks for the feedback Paul! I have assigned this issue to the content author for investigation.

[2018-02-28 18:17] erickool opened #5108 "Soft match on UPN only works on non-federated accounts"
It appears that all forms of soft matching won't work if an AAD account is created with a UPN suffix from a federated domain. Nor can the immutableId be changed for an AAD account (even when not yet synced) that is in a federated domain. The PowerShell Set-MsolUser command gives the error "You must provide a required property: Parameter name: FederatedUser.SourceAnchor" but that property is hidden

[2018-02-28 18:19] amanarneja commented on #5084
@Paul-Dempsey Thanks for the feedback! I have assigned this issue to the author who can work on making the content easier to understand.

[2018-02-28 18:23] amanarneja commented on #5086
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to help make the definitions clear.

[2018-02-28 18:25] amanarneja commented on #5087
@amitkalia2 Thanks for the encouragement!

@dstrockis - Great work on the doc ! :)

[2018-02-28 18:27] amanarneja commented on #5088
@liranms We are looking into this question and will get back to you.

[2018-02-28 18:30] amanarneja commented on #5090
@mguntli Great feedback! I have assigned the issue to the author who will work on an update.

[2018-02-28 18:40] spottedmahn opened #5109 "Not in the Tree On the Left"
This document is not in the tree on the left, why not?

![image](https://user-images.githubusercontent.com/14079228/36806107-09801370-1c8d-11e8-837c-c6f5140203c0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 364505fb-93a3-7d6d-decb-0856f6ab1b42
* Version Independent ID: 07d04623-6517-c1da-95fa-8a2b500e9c61
* [Con

[2018-02-28 18:49] amanarneja commented on #5092
@c031917 - Good catch, fix is on the way :)

[2018-02-28 18:54] stevestein commented on #5047
@amanarneja - I updated the PowerShell script so the fixed article should go live soon. Thanks for pointing this out!

[2018-02-28 18:54] amanarneja commented on #5093
@brainwane Thanks for the headsup! We will track this change.

[2018-02-28 19:00] turbo opened #5110 "Add this feature to the AuthorizationManagementClient in the C# SDK"
This feature is missing in the C# SDK while being immensely important for back-end cross-subscription services. Please add it ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a394517e4b4
* [Content](https://docs.microsoft.com/en

[2018-02-28 19:00] amanarneja commented on #5095
@spottedmahn Thanks for reporting this! I have assigned this issue to the content author who will followup on your concerns.

[2018-02-28 19:12] chrisetler opened #5111 "Custom signing key Section does not Mention acceptMappedClaims as an alternative"
The document mentions that you must use a Custom Signing key, but doesn't mention that you can get around that limitation by simply editing the app manifest to set "acceptMappedClaims" to true. Not only is the latter option much easier to set up and to maintain, and makes ID token validation much easier to do, it is also much more secure because it does not require a symmetric key to be transferre

[2018-02-28 19:13] amanarneja commented on #5108
@erickool We are looking into this and will get back to you.

[2018-02-28 19:14] amanarneja commented on #5107
@dave-007 We are looking into this and will get back to you.

[2018-02-28 19:21] amanarneja commented on #5099
@kailashravuri Thanks for the feedback! I have assigned the issue to the content author to investigate.

[2018-02-28 19:23] micahmckittrick commented on #5091
@josefehse Thanks for the feedback.

However, the current statement appears to be correct. You **are** able to move VMs created from marketplace resources across **resource groups in the same subscription**. However you are **not** able to move VMs from the marketplace across to **another subscription**.

[2018-02-28 19:24] amanarneja commented on #5100
@spottedmahn Thanks for reporting this. I have assigned the issue to the content author to take a look and update as appropriate.

[2018-02-28 19:27] amanarneja commented on #5105
@dave-007 Thanks for the feedback! I have assigned the issue to the content author to look into and update the document as appropriate.

[2018-02-28 19:28] amanarneja commented on #5111
@chrisetler Thanks for the feedback! I have assigned the issue to the author to take a look and update the document as appropriate.

[2018-02-28 19:29] josefehse commented on #5091
Hi. You can ping me internally and I can show you the screens. I’ve had the issue yesterday and machines on the same subscription couldn’t be moved.
I have confirmed with other people internally and the information was that it was not possible.

Thank you

Jose Fehse

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Micah<mailto:notifications@github.com>
Sent: W

[2018-02-28 19:30] amanarneja commented on #5110
@turbo Would be great if you can add this product feedback to https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to vote on it and for the product team to triage and add to their backlog.

[2018-02-28 19:30] #5110 closed

[2018-02-28 19:34] amanarneja commented on #5104
@brantb - Thanks for the feedback. We are investigating and will get back to you on this ASAP.

[2018-02-28 19:38] micahmckittrick commented on #5091
Discussed offline. Issue is that you CANNOT move a resource to another resource group if that VM was created from a Marketplace image that comes with a Plan attached. For example, a 3rd party offer such as Palo-Alta.

Hence, the doc should reflect that moving resources between resource groups in the same subscription **is** supported as long as there is not a Plan attached to that marketplace imag

[2018-02-28 19:40] giemch opened #5112 "Bad formatting"
Title of this page has bad formatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* [Content](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad)
* [Content Source](htt

[2018-02-28 19:41] mtillman commented on #5095
@amanarneja please reassign this to @MarkusVi Thanks.

[2018-02-28 19:45] senor-rink opened #5113 "Typo"
in the section "Selecting a good sourceAnchor attribute" it says
"Should not be based on user's name, these changes". It should be "these change"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8ace26-7d4f-fc36-020c-08b3625410d2
* Version Independent ID: d4cbad64-8022-ff84-9b5f-5433ae1cc64d
* [Content](https://docs.mi

[2018-02-28 19:48] mtillman commented on #5109
@priyamohanram please look at this issue. Is this an old page that should be redirected to https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications?

[2018-02-28 19:50] billmath commented on #5111
I have sent an email to the PM for some clarification.

[2018-02-28 19:52] stephlocke opened #5114 "Curl command example"
It would be helpful to have a curl command example here for the image url endpoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* [Content](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-servic

[2018-02-28 20:24] ankitC opened #5118 "Schema identifier should not be a hyperlink"
There are multiple places in the document where we mention that the schema identifier for Groups is http://schemas.microsoft.com/2006/11/ResourceManagement/ADSCIM/Group. This is the identifier and it should not be a hyperlink.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version

[2018-02-28 20:30] DavideDelVecchio opened #5119 "Add command to enable widgets"
I found that among the prerequisites it is needed the following command
jupyter nbextension enable --py widgetsnbextension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c66347d2-1537-5a87-2cf4-5e6d9a0e3ad4
* Version Independent ID: 711fdff8-894e-b451-a50b-6069edf5d2c5
* [Content](https://docs.microsoft.com/en-us/azure

[2018-02-28 20:37] Adam-Smith-MSFT commented on #5088
"A read is 1 RU regardless of the number of items stored or the number of concurrent requests running at the same time". I agree it's not specific to where the RUs go to the primary or secondary region. I'll forward your feedback to the author.

[2018-02-28 20:46] MicrosoftGuyJFlo commented on #5049
@makauf What is your question? @billmath is the writer for that topic that you mention. He may be able to provide some additional insight.

[2018-02-28 20:49] MicrosoftGuyJFlo commented on #5049
@mzielinski-spartez I would like to go ahead and close out this issue if that's ok with you. Feel free to reach out if you have any further concerns.

[2018-02-28 20:53] tangedahl opened #5121 "Output not showing up"
I'm having difficulties getting the final sentiment scores to show up in the output with the slightly newer Azure Portal layout.  Even when i'm running my Stream Analytics job I'm not getting any inputs so likely the CSV file is not coming in correctly from the Blog storage after its been uploaded there.  Also the name of the file in the documentation doesn't match that of the file in GitHub "samp

[2018-02-28 21:06] charliebrownCTL opened #5122 "DocuSign Admin Portal"
Newbie Here: I'm walking thru this setup and I added the Docusign App to my environment. I don't see an Docusign Admin Portal ( I don't know the Url)   and I don't know what administrator account that I use? To do this walk - thru do I need to be already using Docusign?
step I'm stuck at
In a different web browser window, login to your DocuSign admin portal as an administrator.

---
#### Document

[2018-02-28 21:33] danroot opened #5123 "How does one change or set the Review Tool API Key?"
When creating a team, it is not an option to use an existing Cognitive Services key.  I see no way to change it in this document. (see screenshot under "API", marked with a "1".)   If it can't be changed, then it means that the review tool can never be used with anything except a trial key.  If it can be changed, then please update this document to show us how.

---
#### Document Details

⚠ *Do no

[2018-02-28 21:41] russellds opened #5124 "ExpressRoute does not accept new VPN Gateway SKUs"
In this article you list VpnGw1/VpnGw2/VpnGw3 as the new SKUs, however, when you set the Gateway Type to ExpressRoute it only accepts Standard, High Performance, and Ultra Performance. There seems to be a major discrepancy between the documentation and what is actually implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-02-28 21:41] seanshankus opened #5125 "Configure Azur Storage Plugin not aligned with plugin fields"
I'm trying to use this plugin and this documentation isn't helping.  I see that the fields in the plugin are different from the documentation.  Examples would be a plus as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524766cb-497a-8f7e-63c7-b86e1de48b8a
* Version Independent ID: 07ba0c57-97b7-e298-f8b0-4a1de60b

[2018-02-28 21:44] tangedahl commented on #5121
Maybe SQL query is wrong based on the ML web service fields??  Any assistance is appreciated.

[2018-02-28 21:45] billmath commented on #5049
@makauf  There is no ETA at the moment but I can confirm the devs are still working on this.  We will be updating the article as soon as we have something.  Thanks!

[2018-02-28 21:57] reisbel opened #5126 "error: unrecognized argument: --sku-name GP_Gen4_2"
**Command:**
az mysql server create --resource-group myresourcegroup --name mydemoserver  --location westus --admin-user myadmin --admin-password  *** --sku-name GP_Gen4_2 --version 5.7

**Error**
az mysql server create: error: unrecognized argument: --sku-name GP_Gen4_2

Instead, I can see the param [--performance-tier {Basic,Standard}] in the command documentation.

---
#### Document Details

⚠

[2018-02-28 22:04] neilpeterson commented on #5104
This has been updated in this PR:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/34230

@brantb if this looks good to you, I will close this issue.

Thanks

[2018-02-28 22:13] JatinBavishi opened #5127 "Doc update comments"
1) Found out that ASC (App Service Certificates) feature is not available in Azure Govt cloud yet. So this article needs to mention that as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43df0f7a-2994-4df2-3852-d38a300259f6
* Version Independent ID: 2e4898ff-331d-be69-e620-347605c5552c
* [Content](https://docs.mi

[2018-02-28 22:15] makauf commented on #5049
@billmath thanks for the info. it calms me to hear that there is still something in progress for that gap.
@MicrosoftGuyJFlo my questionin other words; Microsoft Identity Manager rely on the Azure MFA SDK (in special the authentication package) and because MIM use it in workflows, its not feasible to switch to modern auth nor app proxy .. as its not used in the publishing process... and i wanted t

[2018-02-28 22:17] MicrosoftGuyJFlo commented on #5049
@makauf ok glad we could get you the info you need. Thanks @billmath for responding.

[2018-02-28 22:18] MicrosoftGuyJFlo commented on #5049
#please-close

[2018-02-28 22:32] MohitGargMSFT commented on #5072
Thanks for the feedback. Please use below link to submit the feedback which will be triaged by product team.

[http://feedback.azure.com/forums/169401-azure-active-directory](url)

Please note that for Windows 10, the recommendation is to use **Azure AD Join** for the optimal single sign-on experience with Azure AD. If you have enabled both Azure AD Join and Seamless SSO on your tenant, SSO from A

[2018-02-28 22:32] #5072 closed

[2018-02-28 22:50] Adam-Smith-MSFT commented on #5107
@dave-007 , the load feature is currently limited to Azure CDN from Verizon products (Standard and Premium) only and not Akamai, this could be one reason, however, if you are using CDN from Verizon products, and still experiencing the issue, I'd recommend posting a thread in MSDN: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azurecdn , I'll ensure you'll get an answer from there

[2018-02-28 22:57] fswgm opened #5128 "Sample reports would be useful too"
I think these samples are quite useful - but one other thing that would be useful is an actual example report, without needing to run any code. That is, show me what a default report looks like. Apologies if I missed those elsewhere in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee022017-8f87-7f2a-0569-798

[2018-02-28 23:08] markgalioto commented on #5094
#in-process

[2018-02-28 23:53] autocloudarc opened #5130 "Also add files to SysWOW64 directory."
One of my customers encountered this particular problem for a Windows 2016 Server Core VM image in Azure which was also a domain controller, which still generated an error in the c$\WindowsAzure\Logs\Plugins\Microsoft.Azure.Security.AzureDiskEncryption\1.1.0.4\BitlockerExtension.log file as follows:

2018-02-27T19:20:02.2424602Z  [Info]:   BitlockerPrep::RunCommand C:\Windows\System32\BdeHdCfg.exe

[2018-03-01 00:09] bdcoder2 opened #5131 "Example code results in compiler errors?"
Using Visual Studio v15.5.7 Community - What Azure Function template was used to generate the code shown in Input - C# example 2?, ie:

    using System.Net;
    using System.Net.Http;
    using System.Collections.Generic;
    using Microsoft.Azure.WebJobs;
    using Microsoft.Azure.WebJobs.Extensions.Http;

    [FunctionName("CosmosDBSample")]
    public static HttpResponseMessage Run(
        [H

[2018-03-01 00:27] #5107 closed

[2018-03-01 00:32] mimig1 commented on #5088
The RU limit is per region. There is throughput isolation, so what happens in one region does not affect what happens in other regions. It's covered well in this video - https://azure.microsoft.com/en-us/resources/videos/planet-scale-nosql-with-documentdb/ - near 11 min 45 sec.  I will update the documentation shortly.

[2018-03-01 00:32] mimig1 commented on #5088
#in-process

[2018-03-01 01:06] amanarneja commented on #5102
@JoNevi Really is a cliffhanger :) I have assigned it to the content owner to help us get to the bottom of this mystery.

[2018-03-01 01:12] amanarneja commented on #5112
@giemch Thanks for pointing this out! fix is on the way :)

[2018-03-01 01:14] amanarneja commented on #5113
@senor-rink Thanks for pointing this out! A fix should be out shortly.

[2018-03-01 01:19] amanarneja commented on #5118
@ankitC Great point! We are working on a fix.

[2018-03-01 01:26] amanarneja commented on #5122
@charliebrownCTL You are correct, one of the prerequisites listed in the doc is "A DocuSign single sign-on enabled subscription". Once you are signed up with Docusign you should have the appropriate portal and credential information from them.

[2018-03-01 01:26] #5122 closed

[2018-03-01 01:29] bdcoder2 commented on #5076
Updated NuGet package for project -- which resolved the errors.

[2018-03-01 01:29] #5076 closed

[2018-03-01 01:31] dcbrown16 opened #5133 "Confusing description"
"Software as a Service offerings, like Office 365 and Dynamics 365, were created to be accessed securely and reliably via the Internet. Therefore, we only recommend ExpressRoute for these applications in specific scenarios."
"Connectivity to all other Microsoft online services (Office 365, Dynamics 365, and Azure PaaS services) is through the Microsoft peering."
These sentences are both under "Mic

[2018-03-01 01:33] amanarneja commented on #5124
@russellds The SKU's called out in this document pertain to the -GatewayType VPN options. We have additional documentation on ExpressRoute andthe available SKU options for it @ https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways

[2018-03-01 01:35] amanarneja commented on #5125
@seanshankus Sorry about that, we are taking a look and will get back to you.

[2018-03-01 01:35] JunyuanZheng opened #5134 "Jo"
Can you provide us example files for the `TrustFrameworkBase.xml` & `TrustFrameworkExtensions.xml`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version Independent ID: 76f7519d-3040-646d-93a0-2657812d81e9
* [Content](https://docs.microsoft.com/en-us/azure/active-directory-b2c/a

[2018-03-01 01:37] amanarneja commented on #5126
@reisbel Thanks for the feedback! I have assigned this issue to the content author to validate and update the document as appropriate.

[2018-03-01 01:39] dcbrown16 commented on #5133
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#expressroute-for-office-365-and-dynamics-365
It looks like the first sentence is a copy from this page, that might be why it doesn't fit here.

[2018-03-01 01:41] amanarneja commented on #5128
@fswgm Thanks for the encouragement on the quality of samples as well as the feedback! I have assigned this issue to the content author to look into and update as appropriate.

[2018-03-01 01:44] amanarneja commented on #5131
@bdcoder2 Thanks for reporting the issue! We are investigating and will get back to you.

[2018-03-01 01:47] amanarneja commented on #5133
@dcbrown16 Thanks for the feedback! I have assigned it to the content author to look into and update as appropriate.

[2018-03-01 01:47] mhallst2 opened #5135 "App not appearing in browser"
Once I run "nodejs server.js" I get the response "Server up: http://localhost:3300

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96bb1f6-db30-0051-c1d7-341dc170c392
* Version Independent ID: 2a5fec2c-2650-37dc-52f0-6b66f42c1254
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-mean-st

[2018-03-01 01:51] motowilliams opened #5137 "Consistent comments between language examples for actor-reminders section"
At https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-timers-reminders#actor-reminders the two line of Java code comments shows
[code]
where the C# code does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a492fe-4ea3-2972-e4bd-e25f95b210bf
* Version Independent ID: 31b848a4-c9ce

[2018-03-01 01:54] amanarneja commented on #5096
@dronkoff Thanks for the feedback! I have assigned the issue to the content author to take a look and update as appropriate.

[2018-03-01 01:55] spelluru commented on #5102
@sharonlo101 - Can you please help? Eric had updated the article with this section. Thanks!
@douglaslMS, the current owner of data-factory content, for awareness.

[2018-03-01 01:59] bdcoder2 commented on #5131
[CosmosDB("test", "test", ConnectionStringSetting = "CosmosDB", SqlQuery = "SELECT top 2 * FROM c order by c._ts desc")]

Should be:

[DocumentDB("test", "test", ConnectionStringSetting = "CosmosDB", SqlQuery = "SELECT top 2 * FROM c order by c._ts desc")]

[2018-03-01 02:00] amanarneja commented on #5097
@dronkoff Thanks for the feedback! I have assigned this to the content author to investigate and update as appropriate.

[2018-03-01 02:05] amanarneja commented on #5137
@motowilliams Thanks for the feedback! Fix is on its way :)

[2018-03-01 02:08] amanarneja commented on #5093
@femila Can you please take a look and update as appropriate.

[2018-03-01 02:08] motowilliams commented on #5137
I also created [PR 5138](https://github.com/MicrosoftDocs/azure-docs/pull/5138) for this.

[2018-03-01 02:11] amanarneja commented on #5119
@DavideDelVecchio Thanks for the feedback! We are investigating and will update as appropriate.

[2018-03-01 02:21] ajlam commented on #5126
@reisbel, can you double check if you have installed the Azure CLI extension? `az extension add --name rdbms`

[2018-03-01 02:29] amanarneja commented on #5134
@JunyuanZheng I have assigned this issue to the content author to update the document with the examples.

[2018-03-01 02:31] amanarneja commented on #5130
@autocloudarc Thanks for the feedback! We are following up with the team on this and will get back to you.

[2018-03-01 02:39] russellds commented on #5124
Then perhaps you should update the document to refer to the ExpressRoute document for additional information about ExpressRoute SKUs. Just because another document exists, doesn't mean that the current document is clear.

[2018-03-01 02:39] brantb commented on #5104
LGTM! 🥂

[2018-03-01 02:40] amanarneja commented on #5127
@JatinBavishi Thanks for the feedback. I am working with the product team and will update the document as appropriate.

[2018-03-01 02:42] amanarneja commented on #5123
@danroot Thanks for the feedback! I have assigned this issue to the content author to investigate and update the document as appropriate.

[2018-03-01 02:44] amanarneja commented on #5121
@tangedahl Can you please post this question @ https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics this will allow the team to ask you some additional questions and the answer will be helpful to other users as well.

[2018-03-01 02:44] #5121 closed

[2018-03-01 02:47] amanarneja commented on #5135
@mhallst2 Thanks for reporting. I have added the content author to investigate and respond as appropriate.

[2018-03-01 02:58] pigling opened #5139 "iOS device not registered in Notification hub"
I follow the whole instruction for notification. However, there is no notification shown after inserting new item in app. I checked the device registration and there is no registration device. I also check other MS documents for Xamarin/Azure push integration. There are some specific registration through notification endpoint while I don't see in this code. Is this the reason for my problem? Thank

[2018-03-01 03:00] tysonn commented on #5114
@stephlocke - Thank you for the suggestion/feedback. The folks listed in the article as the content owners don't work here now, so I am going to have to track down the current product owner.

[2018-03-01 03:03] #5112 closed

[2018-03-01 03:03] #5137 closed

[2018-03-01 03:04] #5092 closed

[2018-03-01 03:19] whytoe opened #5140 "Having problems with multiple node configurations and the Credential Asset Example doesnt work"
I tested the exact script found in the Credential Example above named *Configuration CredentialSample* using
$Cred = Get-AzureRmAutomationCredential -ResourceGroupName "ResourceGroup01" -AutomationAccountName "AutomationAcct" -Name "SomeCredentialAsset"

Error in Azure Portal:
Get-AzureRmAutomationCredential : No subscription found in the context.  Please ensure that the credentials you
provided a

[2018-03-01 03:35] devszr opened #5141 "Adding an MSI VM resource to the AD security group"
Hi,

Is it possible to add a VM with an MSI extension to the AD security group ? If there is a limit of 16 entries in an Azure Key Vault access policy, does it mean we cannot grant Key Vault access to more than 16 MSI enabled VMs ?

Thanks.

/Dev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a20a94-cfda-1b7f-572a-36

[2018-03-01 03:42] micahmckittrick commented on #5131
@bdcoder2 I am assigning this to the content author to better answer your question.

@ggailey777 please advise.

[2018-03-01 04:09] sanjeev3 commented on #5123
@danroot, The default trial key displayed in the review tool is used for two purposes: 1) In the workflows to call the Content Moderator API and 2) Calling the review API to create reviews and jobs and workflows from your applications.

The "Try" features uses an internal key that's not visible.

Once you enter your Azure Resource ID and the Azure key in the corresponding fields in the "Whiteliste

[2018-03-01 04:26] markgalioto commented on #5094
@MGodfrey50 , thank you for your question. I don't think LRS was confused with ZRS (because this wording existed before Availability Zones), but you are correct that LRS isn't necessarily replicated across a paired datacenter. For LRS, the three copies of the data are spread across a single storage scale unit hosted in a datacenter. I'll make the update to this article. Thanks again.

[2018-03-01 04:36] neilpeterson commented on #5104
#please-close

[2018-03-01 04:44] MarkIannucci opened #5142 "Where do we put the ApplicationInsights.config file if we use the Microsoft.ApplicationInsights NuGet Package?"
The entry for how to handle ApplicationInsights.config settings if you're using the Microsoft.ApplicationInsights NuGet package is woefully inadequate.  It is unclear if the NuGet Package even uses an ApplicationInsights.config file, and if the file isn't automatically created for you (which I just learned is the case if you're using the NuGet Package), it doesn't tell you where to put a file you

[2018-03-01 04:49] MarkIannucci commented on #5142
If you're attempting to answer my specific question, take a look at this portion of the documentation:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-snapshot-debugger#configure-snapshot-collection-for-aspnet-core-20-applications

For the author of this article, perhaps it would be best to indicate that if you're using .Net Core 2.0 you don't use a config file, and that t

[2018-03-01 05:03] markgalioto commented on #5094
#resolved

[2018-03-01 05:06] ericbrunner opened #5143 "Missing Targeted Push with Template"
Hi

How to send a push message with a template to a targetted userId?

best
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abd3f3e3-cd6a-ad01-90cc-5c72e81a54d2
* Version Independent ID: de6f830f-869e-61ca-5541-9d0cd0305f52
* [Content](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-notifi

[2018-03-01 05:15] #5047 closed

[2018-03-01 05:16] amanarneja commented on #5095
@mtillman Done! @MarkusVi  - All yours :)

[2018-03-01 05:18] #5104 closed

[2018-03-01 05:34] amanarneja commented on #5137
@motowilliams Sorry about that didn't realize that you had a PR as well. I short circuited mine and it just got merged. Thanks for championing our documentation for consistency and accuracy.

[2018-03-01 05:38] mmercan opened #5145 "provide powershell alternatives for azure cli"
azure cli is great but I would like to see powershell cmdlet alternatives for those commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42bdcad8-1662-dfc3-417c-b3253270e6a0
* Version Independent ID: c94c3219-456a-c2f2-5530-2fba955e63cd
* [Content](https://docs.microsoft.com/en-us/azure/container-service/kubernetes/

[2018-03-01 05:57] Rachitgupta1994 opened #5147 "Outdated documentation"
There is no such option as Single Sign On in azure ad now. Atleast not in my directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f97b43d9-4a25-1552-c719-f0f0b418b0a8
* Version Independent ID: 13445782-bdb8-b9fa-b130-630bb770187c
* [Content](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-

[2018-03-01 06:08] mimig1 commented on #5088
I've submitted a PR for the fix and am waiting on tech review of the new material.

[2018-03-01 06:55] mimig1 commented on #5088
@liranms - The following information will be published tomorrow morning to address this issue in https://docs.microsoft.com/en-us/azure/cosmos-db/request-units, and I'm assuming this addresses this issue. This issue is set to auto close when the pull request with that fix is merged into our build for publication. If this does not meet your needs, please let me know. Thank you!

Throughput isolatio

[2018-03-01 08:10] ianpowell2017 opened #5149 "Xamarin IOS example please"
Would it be possible you could do a Xamarin IOS example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26be6221-1fbc-c630-db58-223a34b40e07
* Version Independent ID: 78506c32-c57f-3149-84b3-d0a35d4bf36b
* [Content](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-ios-apple-apns

[2018-03-01 08:12] #5049 closed

[2018-03-01 08:14] Jeremywhiteley commented on #5059
How about including authentication and using resource tokens in an example?  There isn’t one example using authentication except for Xamarin and again it doesn’t follow best practices either.   I am so frustrated that you don’t publish real world examples.

[2018-03-01 08:14] ianpowell2017 opened #5150 "Links = 404"
*Use Notification Hubs to push notifications to users
*Use Notification Hubs to send breaking news
*Notification Hubs How-To for iOS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* [Content](https://docs.microsoft.com/e

[2018-03-01 08:38] gary918 opened #5151 "Please correct the typos"
$CLIENT_ID = $  should be CLIENT_ID=$ (remove the first '$' and spaces)
$ACR_ID = $ should be ACR_ID=$  (remove the first '$' and spaces)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
* Version Independent ID: 134b8ba0-b085-076a-d2e1-16d0ddff5586
* [Content](https://docs.microsoft.

[2018-03-01 08:41] kylefu8 opened #5152 "Link missing from TOC"
The link for this page is missing from TOC in the left panel. Are you willing to add it into How To section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d404ca02-47ed-d3c9-bf4e-52cd0b0d61ba
* Version Independent ID: 5fadfbea-ddcb-8342-32b3-00a8595f3437
* [Content](https://docs.microsoft.com/en-us/azure/application-g

[2018-03-01 08:46] Ingelhag commented on #5112
Yesterday this article had a video - now it's gone :(

[2018-03-01 09:21] ctahok opened #5154 "Identifying peerings"
It would be nice if you could add steps to determine what peering a subscription have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77567f6e-945d-22d5-50c4-1fd0b4226465
* Version Independent ID: 761d0238-7929-db9d-e750-265f7e415663
* [Content](https://docs.microsoft.com/en-us/azure/expressroute/how-to-move-peering)
*

[2018-03-01 09:21] davidbritch commented on #5046
@K232 Before an Android app can receive push notifications, it must register with Firebase Cloud Messaging, which generates a registration token and returns it to the app. This is accomplished by:

- Declaring a receiver in the Android manifest.
- Implementing the Firebase Instance ID service (which is what the `FirebaseRegistrationService` class does).

When the app receives a registration token

[2018-03-01 10:13] StevenWDK opened #5155 "Migration Guide On-prem -> Cloud + Cloud -> On-prem"
I am looking forward to the migration section... :)
Some customers have started out on On-Prem MFA+ADFS and I've found it hard to find any updated one-source migration planning guidance to get the MFA back in the cloud.
It could look something like:
Before You start
Architecture
Security Roles setup consideration in Azure - Delegation: Helpdesk, Security Admins,
Analyse setup LDAP, RADIUS, OAUTH e

[2018-03-01 10:19] RookIsTheBest opened #5156 "Location limited to "Global""
I was interested to know if it is possible to limit the Location for creating an Action Group to specific Locations, instead of setting it to 'Global'.
So I made a Template to test my question:

Deployment validation failed.
Additional details from the underlying API that might be helpful: The provided location 'West Europe' is not available for resource type 'microsoft.insights/actiongroups'. Lis

[2018-03-01 10:26] helderpinto opened #5157 "Cores per subscription vs. VM total cores per region"
It is said that the Cores per subscription maximum limit is 10,000. After looking at the VM total cores per region maximum limit (Resource Manager), though not specified, I believed that this limit would never be higher than the subscription limit. However, I have a customer which has currently a soft limit for Total Regional vCPUs (Resource Manager) much higher than 10,000. How's this possible? I

[2018-03-01 10:31] Anmolgan81 opened #5158 "How to upload a Linux Image built on Ubuntu 16.04LS, Into Azure Market Place"
How can I upload my image into Azure Marketplace, my image is running with Ubuntu 16.04LS, and I want to upload it into the Azure Market Place, I see various documentaion but they talk about only Windows based image but not Linux based images.

How can I upload my Image, can someone share the steps of this?

[2018-03-01 10:39] davidbritch commented on #5046
@K232 Also, I've fixed the deprecated SetSound API. However, I've no problems with Resource.Drawable.ic_stat_ic_notification. If it wasn't in the project, the app wouldn't build.

[2018-03-01 10:53] #5156 closed

[2018-03-01 11:01] KirillSelyukov opened #5159 "Privacy Statement URL removal"
Is it possible to remove 'Privacy Statement URL' for an application on ' https://apps.dev.microsoft.com/' so that it is not shown to user when her consent is requested?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18882e74-1275-a04f-cd7a-9fa170e6b853
* Version Independent ID: decf2e12-59ba-2707-53cb-adb72a781987
* [C

[2018-03-01 11:10] eifinger opened #5160 "Routing D2C messages to a module"
In the old feedback section one guy came up with a WHERE clause to route all D2C messages into a module. If you read this, can you post the solution again?
Without it the only way to capture D2C messages is using "FROM /messages/* INTO BrokeredEndpoint("/modules/{moduleId}/inputs/{input}")" which is causing recursion as the output of the module itself is also being routed into the module again

--

[2018-03-01 11:27] stephlocke commented on #5114
Here is one I wrote yesterday
[code]

\* keys and guids truncated

[2018-03-01 11:50] achekh opened #5162 "URL to LUIS website is not displayed"
The markdown-like tags [LUIS][luis-reference-regions.md] displayed instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7449f6c8-ce19-3f32-d5de-e0308df266cf
* Version Independent ID: 6e26fc4a-270f-3eba-ee79-6ee7e7538f5b
* [Content](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/home)
* [Content Sourc

[2018-03-01 12:30] mattcowen opened #5164 "Working example of securing WCF communication please"
CreateClientAsync isn't being called when I follow this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d1ffc2-b8c3-fbaf-edc4-6c378089c327
* Version Independent ID: 081f8fa0-285d-ec0d-feaf-9449a90077a2
* [Content](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-secure-co

[2018-03-01 13:24] amalik99 opened #5165 "Does not work when logged in with PIN"
We're trying to enable Seamless SSO with RDS environments, works well when the user is logged in to the Windows using AAD username/password, does NOT work when logged in with PIN.

Windows 1709, AAD Joined Computers. Works okay with other resources such as file server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1

[2018-03-01 13:27] michaeldunnOMM opened #5166 "No mongo error on first npm start"
When I executed 'npm start' for the first time after installing, I expected to see a Mongo error as per your documentation but it seems to have successfully connected to Database:        mongodb://localhost/mean-dev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faff12d0-cc36-0867-a297-a8b59a863fdd
* Version Independen

[2018-03-01 13:58] mvark opened #5167 "Azure VMs are billed per-second"
As Azure VMs are billed per-second, I think this sentence in the article should be corrected - "Paying the SQL Server license per usage means that the per-minute cost of running the Azure VM includes the cost of the SQL Server license"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a863cb0-c5d3-87d6-7c4d-28a1316d70f8

[2018-03-01 14:10] trailmax opened #5168 "How to change blob tiers?"
Blob level access tiering is very useful. But how would I go about changing blob's tier? Can this be done in Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9-c473-51a07226f83a
* [Content](https://docs.microsoft.com/en-us/azure/s

[2018-03-01 14:14] moutroschmidt opened #5169 "Corrección de texto para su correcta lectura"
En "Conjuntos filtrados" donde aparece s1 debiera decir s[1]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 179ee09d-24d6-51da-c883-cf7880e7f00d
* Version Independent ID: 50d7184c-1678-c8af-6f99-e2148c9cfb02
* [Content](https://docs.microsoft.com/es-es/azure/machine-learning/studio/azure-ml-netsharp-refer

[2018-03-01 14:16] moutroschmidt commented on #5169
así mismo, donde aparece d1 debiera decir d[1]

[2018-03-01 14:34] DougMay212 opened #5170 "TableInput/TableOutput Overview/Examples"
I don't see any usage instructiosn for the @TableInput and @TableOutput annotations - perhaps you could include an overview of how to use them here?.I can't seem to find an example anywhere...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e85de04-2f8b-68ea-eeb9-dcc65f216332
* Version Independent ID: db26953c-f234-382

[2018-03-01 14:49] aydeisen opened #5172 "Correction for Windows under supported client types"
The table should say that Windows Server 2008 and higher only supports assessments, and then on the next line, it says that Windows Server 2008 R2 SP1 and higher is supported with .NET and WMF prerequisites.  These two overlap with conflicting requirements
It might be clearer with three separate line items:

| Operating System | Notes |
|-|-|
|Windows Server 2008 - Windows Server 2008 R2 RTM | Onl

[2018-03-01 15:07] silentbobbert opened #5173 "Is this incomplete?"
This does not seem to be a complete end to end guide of HOW to set up Azure Files for shared storage across nodes. Surely we need to know WHICH storage account is being used? Surely we need to create a secret to hold the account name/key? Surely before it can be used the configuration yaml needs to reference an account or a secret somewhere?

Please stand in my shoes for a minute. Create a brand n

[2018-03-01 15:11] reisbel commented on #5126
@ajlam The issue was about the rdbms extension version, I fix it updating to the latest version.

**Check installed version**
az extension list

**Update to the latest version:**
extension update --name rdbms

I had the version 0.0.2, after executing the update command, now I have the version 0.0.3 and everything works.

[2018-03-01 15:11] udude17 opened #5174 "Revise Dynamics CRM online B2B Support Statement to SUPPORTEd"
Please see this link
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/invite-users-azure-active-directory-b2b-collaboration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-336b308c564f
* Version Independent ID: d6eca215-d352-50b0-994e-0077a5e54fe6
* [Content](https://docs.mi

[2018-03-01 15:33] graham-sportsmgmt opened #5175 "Need intermediate & advanced DocumentDB tutorials"
There are a number of intermediate+ topics that could use more coverage for DocumentDB.  These include:

- Paginating result sets with continuation tokens
- Effective use of Stored Procedures
- How to leverage user security
- Real-world data modeling & design

[2018-03-01 15:34] graham-sportsmgmt commented on #5059
Jeremy, I agree with this too.  I just opened this topic to collect topics for tutorials/articles that we'd like to see beyond the basics:

https://github.com/MicrosoftDocs/azure-docs/issues/5175

[2018-03-01 15:41] sturcotte06 opened #5176 "your documentation suck"
Hi, your documentation suck. L2man.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3444bf7d-425c-06b4-3994-192d5d405823
* Version Independent ID: 25cb57d3-cc6a-4548-073c-144af0800c4c
* [Content](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect)
* [Content Source](https://githu

[2018-03-01 16:35] mrbullwinkle commented on #5074
@amanarneja can you reassign this one to me. I will coordinate with @ramach-msft on getting this issue addressed.

[2018-03-01 16:59] sebbsan opened #5178 "configuring a blob output binding with a shared access signature"
Hi,
I want to have a Blob Output Binding via a shared access signature. Unfortunately I couldn't find any documentation on this anywhere. I tried to enter a SAS connection string for the output binding, but it didn't work. Where can I find more information?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2

[2018-03-01 17:02] mrbullwinkle commented on #5096
#in-process

[2018-03-01 17:02] mrbullwinkle commented on #5097
#in-process

[2018-03-01 17:19] amanarneja commented on #5119
PR created, will merge shortly.

[2018-03-01 17:33] leftler opened #5179 "How can this be done in a automated way."
From the description on this page and the fact it states

there appears to be no way to generate new app registrations programmatically. Is that correct and if so is there anything on the near term roadmap that will allow us to do it in a automated way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c2ea43-4468-6ce2-

[2018-03-01 17:40] poortom1004 opened #5180 "64 and 32 bit"
I would suggest mentioning that the installer is architecture-specific.  If you click the download link, you only get the installer for the OS architecture that you are currently running on.  This is an issue for application deployment admins.  So let them know they need to visit the download link from both a 64 and 32 bit machine in order to get both installers.  Or better yet, provide discrete 6

[2018-03-01 17:42] nabhishek commented on #5102
It indeed is a typo. We will update it. BTW the usage of extended property is demonstrated in the documentation.

[2018-03-01 17:42] amp64 opened #5181 "Typo"
Under "Create a new project", Into.plist should be Info.plist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* [Content](https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notific

[2018-03-01 17:42] AlexKeySmith opened #5182 "Placeholder text for version"
A heads up there's a missing bit of text saying "<fill in>" here:

System.Net.HttpClient starting version <fill in> supports automatic injection of the correlation Http Headers and tracking the http call as an Activity.

-thanks
Alex.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
*

[2018-03-01 17:51] amp64 commented on #5149
Yes please, can't read ugly Objective-C code.

[2018-03-01 18:12] amanarneja commented on #5094
#please-close

[2018-03-01 18:12] #5094 closed

[2018-03-01 18:12] Adam-Smith-MSFT commented on #5139
@pigling Thanks for the feedback, we are currently investigating the issue.

[2018-03-01 18:18] tysonn commented on #5094
@markgalioto - We're using #please-close as our keyword :)

[2018-03-01 18:18] Adam-Smith-MSFT commented on #5140
@whytoe  Thanks for the feedback, we started investigating the issue.

[2018-03-01 18:20] Adam-Smith-MSFT commented on #5141
@devszr Thanks for the feedback, we started investigating the issue.

[2018-03-01 18:24] Adam-Smith-MSFT commented on #5142
@MarkIannucci Thanks for the feedback, we started investigating the issue.

[2018-03-01 18:25] JennieHubbard commented on #5114
@stephlocke Thank you for that!! @Blackmist Larry is there someone who can take a look at this one?

[2018-03-01 18:36] Adam-Smith-MSFT commented on #5145
@mmercan Thanks for the feedback, we started investigating the issue.

[2018-03-01 18:37] parakhj commented on #5134
As mentioned in this [getting started guide](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom), you can use our [starterpack ](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack)to get started.

[2018-03-01 18:43] chanaka-jostle opened #5187 "How to mount a Azure File Service Snapshot on Linux"
Hello,

Can you please tell me how I can mount an Azure File Service snapshot on Linux. I can successfully mount the File Service container without issues but I would like to mount a snapshot to restore files using cifs?

Thanks
Chanaka

[2018-03-01 18:43] Blackmist commented on #5114
@JennieHubbard @stephlocke Tracking down the current owner of this document now.

[2018-03-01 18:50] Adam-Smith-MSFT commented on #5147
@Rachitgupta1994  Thanks for the feedback, we started investigating the issue.

[2018-03-01 18:55] SyntaxC4 commented on #5051
Adding @cephalin as FYI

[2018-03-01 18:55] davidmu1 commented on #5135
#in-process

[2018-03-01 18:56] SyntaxC4 commented on #5143
Adding @ggailey777, @tdykstra as FYI

[2018-03-01 19:10] amanarneja commented on #5176
No apparent action required on this, closing and locking due to language that may not align with the intent of our code of conduct.

[2018-03-01 19:12] #5176 closed

[2018-03-01 19:36] MohitGargMSFT commented on #5108
@erickool Thanks. I am assigning this to author to add more details on UserPrincipalName soft match section based on your feedback.

[2018-03-01 20:14] CeciAc opened #5188 "Could you fix typo?"
@tkato-2018 commented on [Thu Feb 22 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/451)

Typo
--------------------------------------------
@RuleName = "Capture UPN when AccountType is User and issue the IssuerID"
c1:[
    Type == "http://schemas.xmlsoap.org/claims/UPN"
]
&&
c2:[
    Type == "http://schemas.microsoft.com/ws/2012/01/accounttype",
    Value == "User"
]
=> issue(

[2018-03-01 20:20] Adam-Smith-MSFT commented on #5150
@ianpowell2017  Thank you for your valuable feedback, we are investigating the issue.

[2018-03-01 20:20] DeanGross opened #5189 "Guidance for AAD groups"
could you please provide recommendations for creating and managing Azure AD groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f23ab5
* Version Independent ID: 1e240640-ff8c-8183-bd28-ebe3aa4674ff
* [Content](https://docs.microsoft.com/en-us/azure/security/azure-security-identity-manag

[2018-03-01 20:24] Adam-Smith-MSFT commented on #5151
@gary918 Thank you for the valuable feedback. We are investigating the issue

[2018-03-01 20:26] devszr commented on #5141
It looks like it works when using the Azure CLI but not through the portal or the SDK. I was able to successfully add the objectid of my MSI enabled VM to the AD security group using the command `azure ad group member add .....` .
I'll post a question in the Java SDK section as well.

[2018-03-01 20:28] Adam-Smith-MSFT commented on #5155
@StevenWDK Thank you for the valuable feedback. I'll pass your suggestions to the content team :).

[2018-03-01 20:28] jwhiteDev commented on #5150
@Adam-Smith-MSFT please assign this to @dimazaid

[2018-03-01 20:35] Adam-Smith-MSFT commented on #5154
@ctahok Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 20:37] MicrosoftGuyJFlo commented on #5155
@StevenWDK the product group is working on a migration path for MFA Server users to the cloud. It is on the roadmap but the dates are not yet ready to publish. It is something that many customers have asked for and we definitely want to get it right. We will publish new docs when it becomes available. Thanks for your feedback it is greatly appreciated.

[2018-03-01 20:38] MicrosoftGuyJFlo commented on #5155
#in-progress

[2018-03-01 20:39] Adam-Smith-MSFT commented on #5152
@kylefu8  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 20:45] Adam-Smith-MSFT commented on #5157
@helderpinto Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 20:57] Adam-Smith-MSFT commented on #5158
@Anmolgan81  Thanks for the feedback, you should check this document which touches on uploading Linux images to the market place: https://docs.microsoft.com/en-us/azure/marketplace-publishing/marketplace-publishing-vm-image-creation

[2018-03-01 21:04] Adam-Smith-MSFT commented on #5159
Thank you for the feedback. We are investigating the issue.

[2018-03-01 21:07] Adam-Smith-MSFT commented on #5160
@eifinger Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:10] Adam-Smith-MSFT commented on #5162
@achekh  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:14] Adam-Smith-MSFT commented on #5164
@mattcowen Thank you for the valuable feedback. We are investigating the issue.

[2018-03-01 21:15] blair0011 opened #5190 "Why isn't MAX and MIN available"
I would like to be able to select the max id value, but it looks like I have to write my own udf to do just that. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2d5e809-bfb2-4d56-559f-c79be337b14e
* Version Independent ID: 085bc019-49d8-8a38-ec35-c1fa53d8d20d
* [Content](https://docs.microsoft.com/en-us/azure/cos

[2018-03-01 21:16] Adam-Smith-MSFT commented on #5165
@amalik99  Thank you for the valuable feedback. Could you submit your product feedback to https://feedback.azure.com/forums/169401-azure-active-directory ?

[2018-03-01 21:17] davidmu1 commented on #5135
@mhallst2 Sorry you weren't successful. I just ran through the steps and was successful:

![capture](https://user-images.githubusercontent.com/1656464/36870067-b03aab56-1d52-11e8-8002-f78bfd375176.PNG)

Is it possible that you missed a step somewhere? Also, if running these steps in the Cloud Shell, the shell may timeout and will kill the server process running in the shell on the Linux VM. Please

[2018-03-01 21:18] #5165 closed

[2018-03-01 21:18] Yazooo opened #5191 "Pass-through authentication is not currently supported when using Windows 10 devices joined to Azure AD."
For PTA it is written Pass-through authentication is not currently supported when using Windows 10 devices joined to Azure AD. Article from01/03/2018.
PTA Current Limitations article (https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication-current-limitations) says :"Supported Scenarios: Azure AD domain joins for Windows 10 devices".

[2018-03-01 21:27] Adam-Smith-MSFT commented on #5166
@michaeldunnOMM  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:29] Adam-Smith-MSFT commented on #5167
@mvark  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:37] Adam-Smith-MSFT commented on #5168
@trailmax thanks for the feedback. There is an option to use **Azure CLI** to change the tiers, you can check the following link: https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_set_tier
And using **Powershell** using **Set-AzureRmStorageAccount**, more info can be found here: https://docs.microsoft.com/en-us/azure/storage/common/storage-powershell-gui

[2018-03-01 21:38] #5168 closed

[2018-03-01 21:44] Adam-Smith-MSFT commented on #5169
@moutroschmidt Gracias por la respuesta. Envió la solicitud al equipo de edición.

[2018-03-01 21:46] Adam-Smith-MSFT commented on #5170
@DougMay212 Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:49] Adam-Smith-MSFT commented on #5172
@aydeisen  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:50] Adam-Smith-MSFT commented on #5173
@silentbobbert Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:52] Adam-Smith-MSFT commented on #5174
@udude17  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 21:55] JennieHubbard commented on #5169
@cjgronlund

[2018-03-01 21:57] Adam-Smith-MSFT commented on #5175
@graham-sportsmgmt  Thanks for the feedback. I'm going to close this case since it is a reference to an existing open case.

[2018-03-01 21:57] #5175 closed

[2018-03-01 22:03] Adam-Smith-MSFT commented on #5178
@sebbsan Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 22:04] georgewallace commented on #5172
@Aydeisen Thanks for the feedback, I see how that is confusing, I am planning to update the table like the following (minus the black). Does this make more sense?
![image](https://user-images.githubusercontent.com/6796566/36872245-77158024-1d59-11e8-9500-c5be7d0371a1.png)

[2018-03-01 22:06] JennieHubbard commented on #5099
@kailashravuri good point and great idea! I have put this in our backlog as something to do soon! They will update this item once they publish the PS.

[2018-03-01 22:06] JennieHubbard commented on #5099
#please-close

[2018-03-01 22:13] leemac opened #5192 "JIRA Azure Active Directory integration: We receive "Invalid response. Empty Destination value. Please contact your Azure AD admin.""
Everything looks good on both AD and JIRA, however we recieve "Invalid response. Empty Destination value. Please contact your Azure AD admin." when logging in. It brings us to login with Azure AD, then after providing a PW it bring us back to JIRA with the above message. Any ideas? Seems someone else had an issue but it was lost with this new feedback system, no idea if anyone found a solution. We

[2018-03-01 22:15] ericpberry opened #5193 "Metadata URL error"
When I paste the Metadata URL into the JIRA plugin, it shows a validation error
"Invalid Federation Metadata URL"

The URL from our Azure AD does look slightly different from this documentation's screenshot..
https://login.microsoftonline.com/<guid-removed>/federationmetadata/2007-06/federationmetadata.xml

Any ideas to get this to work?

---
#### Document Details

⚠ *Do not edit this section. It

[2018-03-01 22:19] neilpeterson commented on #5173
@silentbobbert - the content should work. It's not quite step-by-step, for instance the doc does not include `kubectl create` for each manifest.

The workflow should be:

- Create storage account - [here](https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#prerequisites)
- Create Storage class - here the account can be dynamically picked up by sku type (example 1), or by name (exampl

[2018-03-01 22:26] neilpeterson commented on #5151
Thanks for raising this issue. Some inadvertent updates were introduced to this doc.

These changes have been reverted here - https://github.com/MicrosoftDocs/azure-docs-pr/pull/34326

@gary918 if this looks good to you, I will close out this issue.

[2018-03-01 22:27] MohitGargMSFT commented on #5113
@senor-rink I have made necessary change in the document. It going to required validation process and will go live soon. Thanks again for your help.

[2018-03-01 22:32] v-geberr commented on #5162
#in-process @achekh

Thank you for taking the time to report this issue. The fix is building now.

[2018-03-01 22:39] aydeisen opened #5194 "ARM Template section"
Can this article be augmented to include non-GUI methods of enabling a backup during VM creation, such as through ARM templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7102948-dcb5-bc73-3a61-a4764ae6a77d
* Version Independent ID: 4a234f8c-1f05-ab83-a46c-add8b701346f
* [Content](https://docs.microsoft.com/en-us/

[2018-03-01 22:46] Adam-Smith-MSFT commented on #5179
@leftler  Thank you for the valuable feedback. I forwarded your feedback to the content team.

[2018-03-01 22:46] JasonWHowell commented on #5126
#please-close

[2018-03-01 22:50] micahmckittrick commented on #5164
@mattcowen I have assigned this issue to the content author to investigate and update the doc as required.

[2018-03-01 23:00] neilpeterson commented on #5173
@silentbobbert in the interim, if I can help unblock anything or assist with the tech, let me know. Happy to help.

[2018-03-01 23:05] micahmckittrick commented on #5143
@ericbrunner I have assigned this issue to the content author to better answer your question and review your request to add this template to the doc.

[2018-03-01 23:20] MohitGargMSFT commented on #5141
Great that you figured out a solution.

[2018-03-01 23:20] #5141 closed

[2018-03-01 23:27] bebattis opened #5197 "Various Updates"
Hi,

There are few items (some big, some small) in this article that I think need addressing..
1) The current MMAgent Configuration Snippet has a bad character encoding on the second "Import-DscResource" line
2) The "Windows SDK Components for Windows Installer Developers" external link is dead
3) The example script for extracting the ProductId (per the MVP) works for .msi installers, while the DS

[2018-03-01 23:53] conceptdev commented on #5046
The doc and sample have been updated with the feedback from this conversation #please-close

[2018-03-01 23:53] twooley commented on #5174
@udude17 Thanks for reporting this. I'm on the content team and am looking into this.

[2018-03-01 23:54] trailmax commented on #5168
@Adam-Smith-MSFT Thanks for looking into this. However, I've previously seen `Set-AzureRmStorageAccount` and it can only change storage tier on entire account, not per blob. And unfortunately I can't make use of Azure CLI - I'm writing PowerShell script to be executed on Azure Automation.
I've looked through all storage related PowerShell commands and did not find one to set a tier per blob. I jus

[2018-03-01 23:55] twooley commented on #5174
#in-process

[2018-03-01 23:58] MohitGargMSFT commented on #5118
@ankitC The change has been made in the document and is going through the validation process. It will be live soon. Thanks again for your help.

[2018-03-02 00:11] MohitGargMSFT commented on #5147
@Rachitgupta1994 As already mentioned in the document that this article applies particularly to apps that were added from the Azure Active Directory application gallery. If you have non-gallery application please check this - https://docs.microsoft.com/en-us/azure/active-directory/active-directory-appssoaccess-whatis#application-not-in-the-gallery

[2018-03-02 00:12] neilpeterson commented on #5173
#in-process

[2018-03-02 00:12] Adam-Smith-MSFT commented on #5180
@poortom1004  Thank you for the valuable feedback. I assigned it to the content author.

[2018-03-02 00:12] neilpeterson commented on #5151
#in-process

[2018-03-02 00:13] mrbullwinkle commented on #5097
@dronkoff Thanks again for the feedback! I updated the article to include nuget.org. Can you check the [updated article](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses) and confirm if this addresses this issue?

[2018-03-02 00:15] Adam-Smith-MSFT commented on #5181
@amp64 Thanks for the feedback. I assigned the issue for further investigation.

[2018-03-02 00:18] Adam-Smith-MSFT commented on #5182
@AlexKeySmith Thanks for the feedback. I assigned the issue for further investigation.

[2018-03-02 00:21] Adam-Smith-MSFT commented on #5187
@chanaka-jostle Thanks for the feedback. I assigned the issue for further investigation.

[2018-03-02 00:29] camiloborges opened #5198 "High Availability"
it would be good to include a note as to what the high availability options are, and if there is none, then make it explicit. This

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* [Content](https://docs.microsoft.com/en-

[2018-03-02 00:30] Adam-Smith-MSFT commented on #5188
@CeciAc Thanks for the feedback. I assigned the issue for further investigation.

[2018-03-02 00:34] aydeisen commented on #5172
@georgewallace Thank you for reviewing this.  It definitely looks much cleaner and clearer that way.

[2018-03-02 00:35] Adam-Smith-MSFT commented on #5189
@DeanGross
For the implementation of the specific question, it would be better to post on MSDN, so that the community can help answer the question. The link below should take you to AAD specific section
https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-03-02 00:35] SyntaxC4 commented on #5178
Adding @tdykstra as FYI

[2018-03-02 00:39] Adam-Smith-MSFT commented on #5190
@blair0011 Thank you for the valuable feedback. I forwarded your feedback to the author.

[2018-03-02 00:41] SyntaxC4 commented on #5170
adding @ggailey777 & @tdykstra as FYI

[2018-03-02 00:43] Adam-Smith-MSFT commented on #5191
@Yazooo  Thank you for the valuable feedback. I forwarded your feedback to the author.

[2018-03-02 00:51] MicrosoftGuyJFlo commented on #5192
@MarkusVi FYI...

[2018-03-02 00:51] MohitGargMSFT commented on #5159
@KirillSelyukov Please open a MSDN forum post with your query so that community members could assist with your requirement. Below is the URL for MSDN forum -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform

[2018-03-02 00:51] #5159 closed

[2018-03-02 00:51] DeanGross commented on #5189
I'm confused by the response, i don't understand why this would be considered a dev topic. The page that I added the comment to is all about best practices, i'm just asking for another section to discuss best practices for AAD groups

[2018-03-02 00:53] mtillman commented on #5191
@Adam-Smith-MSFT Please assign this issue to @billmath for resolution.

[2018-03-02 00:54] Adam-Smith-MSFT commented on #5192
@jeevansd Could you have a look at this ?

[2018-03-02 00:59] Adam-Smith-MSFT commented on #5193
@ericpberry  Thank you for the valuable feedback. I forwarded your feedback to the author.

[2018-03-02 01:01] cjgronlund commented on #5169
#in-process

[2018-03-02 01:01] Adam-Smith-MSFT commented on #5194
@aydeisen  Thank you for the valuable feedback. I assigned case to the author.

[2018-03-02 01:02] MicrosoftGuyJFlo commented on #5198
@camiloborges Today you can configure a second Azure AD Connect instance and put it in staging mode but it requires manual intervention if the original server were to go down. It is something that the product group is aware of and working on but no dates to share. Users would still be able to sign in, just writeback operations would fail in the context of this article.

Information regarding stagi

[2018-03-02 01:03] ravi-karur opened #5199 "Undelivered events"
Hi , After 24 hrs if the message is still undelivered,  How can we back up the Event/message and retry for the failed subscribers?  Is it possible to override this behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-a58a84bb618

[2018-03-02 01:03] rloutlaw commented on #5170
@DougMay212  thanks for the feedback.

I'd like to get some Java samples added to Table storage section of this content:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table

And then link back to it from the annotations table in the Java Functions developer's guide content you opened this issue for

[2018-03-02 01:03] Adam-Smith-MSFT commented on #5197
@bebattis  Thank you for the valuable feedback. I forwarded your feedback to the author.

[2018-03-02 01:05] MicrosoftGuyJFlo commented on #5198
#in-progress

[2018-03-02 01:07] jeevansd commented on #5192
@Adam-Smith-MSFT Yes, I am looking into this issue.

[2018-03-02 01:08] Adam-Smith-MSFT commented on #5199
@ravi-karur Thank you for the valuable feedback. I forwarded your feedback the author.

[2018-03-02 01:09] jeevansd commented on #5192
@leemac Yes today our plugin support JIRA 6.0 - 7.2 But we are testing JIRA 7.8 which is the latest version. Provide us some time and we will come up with the solution. In the mean time can you please reach back to us on this email address SaaSApplicationIntegrations@service.microsoft.com and we will schedule the call with you to resolve your issue.

[2018-03-02 01:52] mandarsudame opened #5200 "Secrets Mount is not available for Ubuntu 17.10"
Tried to deploy a template with secrets mount but my application inside the container doesn't seem to find the mount.
Is this supported for Ubuntu 17.10?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d6ee7d-0923-1aa5-22b4-40111b956972
* Version Independent ID: d3faedce-47a0-28f0-2ecf-2d27a8ae431f
* [Content](https:/

[2018-03-02 01:59] ericpberry commented on #5193
Please ignore. I was forgetting to append the application id query string.

On Thu, Mar 1, 2018, 6:59 PM Adam-Smith-MSFT <notifications@github.com>
wrote:

[2018-03-02 02:10] billmath commented on #5191
@Yazooo  thank you for pointing this out.  I need to follow-up with the PM and verify this.  I believe the pta limitations doc is more accurate but let me verify.  Thanks!

[2018-03-02 02:25] georgewallace commented on #5172
@aydeisen This will go live in the morning.  Once it is live I will confirm then close this issue.  Thank you so much for taking the time to provide feedback on the docs.

[2018-03-02 02:27] dougznorman opened #5201 "words hidden on right side of screen"
Hi.  I am reading this full screen on my laptop and the words are cut off on the right side of the page.  For example on the Tenant parameter description the first line ends like this: ...request can be used to control and the next line starts like this: can sign into the application.  Notice that the word who is missing(I cannot see the word who).

---
#### Document Details

⚠ *Do not edit this s

[2018-03-02 02:31] dougznorman commented on #5201
This appears to be because of the Feedback/edit/share frame on the right side of the window.  Since when I reduce the size of my window that part goes away and I can read the full text.  This appears to be an overlay problem that is really annoying.

[2018-03-02 03:08] micahmckittrick commented on #5091
@josefehse I have updated the doc. The changes should be live shortly. Thanks again!

[2018-03-02 03:08] #5091 closed

[2018-03-02 03:16] RolandLeFranc opened #5202 ".NET Core"
Do you guys have a sample web app in .NET Core (not .NET Framework)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b04e33-be5f-f9de-e034-a83d2e9a5e18
* Version Independent ID: 71611fc5-c00d-380c-fa2a-e0ec98c47bba
* [Content](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-code-sample

[2018-03-02 03:40] jeevansd commented on #5193
@Adam-Smith-MSFT Can you please close this one?

[2018-03-02 03:59] leemac commented on #5192
Wow you guys are fast. Will do tomorrow! Probably some time next week, would love to get this working for our team and I'm sure other's will appreciate as they upgrade.

[2018-03-02 04:27] univhack opened #5204 "Github repo no longer exists"
The repo used in this example no longer exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f57967c
* [Content](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api)
* [Content Source](https://g

[2018-03-02 05:31] #5119 closed

[2018-03-02 05:50] #5193 closed

[2018-03-02 05:51] #5126 closed

[2018-03-02 05:51] #5099 closed

[2018-03-02 05:51] #5046 closed

[2018-03-02 07:07] Rachitgupta1994 commented on #5147
The link you shared is outdated as well. It shows steps for old portal, which no longer exists. What i exactly need is to protect a SAML based app using Azure AD. I knew how to do this using old portal, but not in new one. Kindly point me to the steps that will help in configuring the same with the new portal.

[2018-03-02 07:32] su-jie commented on #5099
Hi kailashravuri, please check the document at https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-tools-for-visual-studio-cicd which talks about how to use the Stream Analytics CI.CD NuGet package to build the projects in an arbitrary machine. In the document it has the guide link to deploy using powershell. Feel free to contact me if you have more questions.

[2018-03-02 09:18] zzmike76 opened #5206 "Error during upload"
hello

Am trying to run the IoT examples on my Mac , followed the guide but when reaching the "Arduino upload" step am getting this error (both in VS code and Arduino IDE)

Archiving built core (caching) in: /var/folders/v0/0nt8pb_527g7mldbxs6_tkhc0000gp/T/arduino_cache_188867/core/core_AZ3166_stm32f4_MXCHIP_AZ3166_upload_method_OpenOCDMethod_a826083ea02dbe525d154deeb5f635ae.a
/Users/michele/Libra

[2018-03-02 10:43] JoNevi opened #5207 "Datasets?"
As of 2-Mar-2018 I have started receiving an error when running a pipeline that was working fine up until yesterday.  Today I get the error message "code":"BadRequest","message":"Activity ds-clientupload failed: The name of the entity contains invalid characters"

I can't see anything in the documentation that says this is prohibited?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-02 11:16] bastyuchenko opened #5208 "Blob trigger vs EventGrid trigger"
Hi! Great post!
However, I haven't understood what is the benefit to use of EventGrid trigger instead of Blob trigger? It seems that I could create a blob trigger in a function and implement the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-

[2018-03-02 12:44] CataLin-GIT opened #5210 "Automatic DomainJoin when creating the VM"
It would be great if you can create a NEW VM via Portal and Domain-Join in a simple step. Additionally automate this process via PowerShell/REST API :)

Best regards,
CataLin

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8990625-ef1b-16be-0ccb-e15b0a585656
* Version Independent ID: 19facf9c-326e-00af-b455-88d8cbf525a

[2018-03-02 13:53] XR219 opened #5214 "No more Google Apps for Work"
Hi all. Google Apps at work no longer exists, it all seems to be G-Suite now unless I'm missing something. I'm not sure if Google have changed something recently, but also on the step to Authorise the Automatic provisioning, after logging in Google present a warning that the App is insecure and even if you proceed to permit the access required, the popup page when its (trying) to hand back to azur

[2018-03-02 13:57] liquidblack opened #5215 "Link target for linux agent goes to windows agent"
The link for "Azure Linux Agent User Guide" actually goes to the Windows agent details (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/agent-user-guide)- needs correcting to https://docs.microsoft.com/en-us/azure/virtual-machines/linux/agent-user-guide or similar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-02 14:13] gregoakley opened #5216 "Repo path gives 404"
https://github.com/Azure-Samples/dotnet-core-api

It's broken!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f57967c
* [Content](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#feedback)
* [

[2018-03-02 14:13] spottedmahn opened #5217 "Document the parameters that can be passed to B2C"
I think it would be helpful to document the parameters that can be passed to B2C when obtaining tokens.

Example: `client_id`, `response_type`, `scope`, etc.

On [OAuth 2.0 authorization code flow -> Use an edit-profile policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code#use-an-edit-profile-policy) is a table that has some of the parameters

[2018-03-02 14:23] antonjanrutten opened #5218 "MakeCert"
The makecert link specifies that the makecert command is deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6928a89c-cd36-28ad-c6bc-007b8f14666b
* Version Independent ID: 0a2e8890-3197-d3a6-d127-4149cb770d13
* [Content](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-mak

[2018-03-02 15:46] artieroggeband opened #5219 "How to configure a pipeline to write to a private mongodb instance using the self-hosted IR?"
Based on the paragraph below from the documentation on this page, it should be possible to "write" or copy "to" mongodb using the IR, The Visual configuration in V2 doesn't let you choose mongodb linked services as a sink.  What are the automation templates to configure that?
Prerequisites

To copy data from a MongoDB database that is not publicly accessible, you need to set up a Self-hosted Integ

[2018-03-02 15:46] billmath commented on #5191
@Yazooo  wanted to let you know that I did confirm that it is supported.  I have updated the doc you commented on and the statement about it being unsupported should be gone later today.  Thanks again for this.  Let me know if there is anything else, otherwise I will go ahead and close this later today.
Thanks!

[2018-03-02 15:56] georgewallace commented on #5140
@whytoe I tested the sample and was able to repro your experience.. I am working to determine if it is a problem with the sample or a bug.  I will let you know soon.

[2018-03-02 15:58] billmath commented on #5108
@erickool  Thanks for the feedback.  Let me verify this with some of the developers and follow up with you.  We have some additional UPN info here:  https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-userprincipalname but I think it needs some more information on "soft matching".  I will follow-up.  Thanks!

[2018-03-02 16:08] keithdoyle9 opened #5220 "Insecure request warnings/errors."
Cool tutorial, but you should make sure to either disable the secure requests warnings/errors or include that in the packages used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e458d65d-3c89-3e41-fdf7-613523fcc78a
* Version Independent ID: 4ca7bedf-6435-d19d-9a47-fa0a686da00c
* [Content](https://docs.microsoft.com/en

[2018-03-02 16:12] billmath commented on #5111
@chrisetler I just wanted to let you know that first, we are in the process of updating this doc, so a future version should call out using acceptMappedClaims.  Second, I verified that it is okay to use acceptMappedClaims if it's an app that is configured on the tenant (as opposed to a multi-tenant app or SAML SP).  And if the client side code handles key rolls – since tokens will be signed with t

[2018-03-02 16:16] Adam-Smith-MSFT commented on #5147
@Rachitgupta1994 thanks for the update, I'll assign the feedback to the author to update or make changes to both mentioned articles.

[2018-03-02 16:28] eifinger opened #5221 "Unable to connect Nucleo to Transparent Gateway"
Hi I tried to connect a Nucleo to a transparent gateway which was setup following this tutorial and it didn't work.
1. I followed the tutorial here to set up the edge gateway and supplied the rootCA in my Azure IoTHub
2. I setup the Nucleo following this tutorial: https://github.com/Azure/azure-iot-device-ecosystem/blob/master/get_started/stm32cube-stm32nucleo-c.md
3. I appended contents of the ro

[2018-03-02 16:36] DaveDXC opened #5222 "The script New-AzSADGraphServicePrincipal seems to be ASDK specific"
The script New-AzSADGraphServicePrincipal is using the infrastructure node AZS-ADFS01. On an Azure Stack integrated system deployment, the infrastructure nodes have network ACL's to protect them from user access.
The script also has a hard coded reference to AZS-ERCS0. The prefix (AZS) is user defined in integrated system deployments.
Is there an alternative method for creating ADFS service princi

[2018-03-02 16:41] Adam-Smith-MSFT commented on #5189
@DeanGross thanks for the feedback, my advice was to check on forums to get a broader input from users already using the solution, I'll assign the comment to the author to see if they can provide you with additional insights as you wish.

[2018-03-02 16:46] YuriDio commented on #5189
Hi @Adam-Smith-MSFT why this topic was assigned to me? I don't work at the content organization anymore.

[2018-03-02 16:48] Adam-Smith-MSFT commented on #5189
@YuriDio You were marked as the author in the metadata, please ignore, I'll assign it to the manager in charge to update the content.

[2018-03-02 16:57] kuhussai commented on #5168
With the launch of Archive Storage, we also launched blob-level tiering. https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers#blob-level-tiering

[2018-03-02 17:03] Adam-Smith-MSFT commented on #5168
@trailmax  thanks for the feedback, i'll assign it to the author to provide further insights.

[2018-03-02 17:15] rothja commented on #5167
@mvark Thanks for your feedback. So are you saying that all of the per-minute billing references should be changed to reflect per-second?

[2018-03-02 17:20] rootik opened #5223 "Quick question"
There is no possibility to upgrade/migrate disks to managed type in place. Am I right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de8b25b9-40b8-7886-504a-d4d965a6063c
* Version Independent ID: 1ce08aa6-a547-2a3c-83aa-d52ed2f0e4e0
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-

[2018-03-02 17:39] brouwer opened #5224 "Delete policy vs delete locator?"
The first bullet point under considerations:
- You cannot delete an AssetDeliveryPolicy associated with an asset while an OnDemand (streaming) locator exists for that asset. The recommendation is to remove the policy from the asset before deleting the policy.

Remove the policy before deleting the policy? I think this is supposed to be 'remove the locator from the asset before deleting the policy'

[2018-03-02 17:46] #5158 closed

[2018-03-02 17:57] silentbobbert commented on #5173
Thanks @neilpeterson. Perhaps there is an issue due to the preview status of AKS. I have followed your steps as you laid out above (choosing Azure Files instead of Disks) but the PVC just stays pending. Its been pending for hours. It should not take very long to generate a secret and possibly create a share in Files - if it even does that?

One mistake I made - I tried to use Premium Storage. Prem

[2018-03-02 18:08] Adam-Smith-MSFT commented on #5200
@mandarsudame Thanks for the feedback. I assigned the issue to the author for further investigation.

[2018-03-02 18:09] v-geberr commented on #5162
Hi @achekh, the link is now fixed. Let me know if you experience the issue again.

[2018-03-02 18:11] Adam-Smith-MSFT commented on #5201
@dougznorman Thanks for the feedback. I assigned the issue for further investigation.

[2018-03-02 18:17] neilpeterson commented on #5173
@silentbobbert can you run `kubectl describe PersistentVolumeClaim <name>` on the PVC. There may be an event with some useful information attached.

Agreed on the docs, I will update by next week.

Think of ACS Engine as an open sourced incubation project for AKS. Features (like Windows Containers) are added to ACS Engine, vetted, and then once fully vetted / validated these features are merged in

[2018-03-02 18:17] Adam-Smith-MSFT commented on #5202
@RolandLeFranc Thanks for the feedback. I assigned the issue to the author for further investigation.

[2018-03-02 18:22] Adam-Smith-MSFT commented on #5204
@univhack Thanks for the feedback. I assigned the issue to the author for further investigation.

[2018-03-02 18:22] cephalin commented on #5204
@univhack Please check. It was private and I just made it public.

[2018-03-02 18:25] Adam-Smith-MSFT commented on #5206
@zzmike76  Thanks for your feedback. Could you please create a forum thread here: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub  about this case to help you resolve the issues you are encountering ?

[2018-03-02 18:25] #5206 closed

[2018-03-02 18:26] manojsubramani opened #5225 "VSS Writer to Service Name mapping"
In the error table above, for error detail "Snapshot operation failed due to VSS Writers in bad state", it would be nice to have a mapping table between the VSS Writer and the actual service name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f030558-66a5-d963-54a2-3f71643c5ef0
* Version Independent ID: 2cdf6775-5ee9

[2018-03-02 18:32] Adam-Smith-MSFT commented on #5207
@JoNevi Are you currently using V1 or V2 of Data factory ? Also which entity is named "ds-clientupload" on your side ?

[2018-03-02 18:35] Adam-Smith-MSFT commented on #5208
@bastyuchenko Thanks for the feedback. I assigned the case for further investigation.

[2018-03-02 18:37] Erikre commented on #5149
@Adam-Smith-MSFT - I no longer work on NH content. I believe you'll need to check with the PM owner. Thanks

[2018-03-02 18:40] Adam-Smith-MSFT commented on #5210
@CataLin-GIT  Thanks for the feedback. There is a blog post which touches on the topic you've mentioned here: https://blogs.msdn.microsoft.com/igorpag/2016/01/25/azure-arm-vm-domain-join-to-active-directory-domain-with-joindomain-extension/
Let us know if this helps.

[2018-03-02 18:41] cephalin commented on #5216
Sorry just made it public

[2018-03-02 18:44] Adam-Smith-MSFT commented on #5214
@XR219 Thanks for the feedback. I assigned the case to the author for investigation.

[2018-03-02 18:47] jeevansd commented on #5214
@XR219 Yes, now it is G-Suite. We are working with them to update the branding of the app. Thanks for reporting that Insecure warning. We will raise this issue with them and will get it approved. I think now they have a publisher verification process and in that it shows this warning.

[2018-03-02 18:47] neilpeterson commented on #5151
These have been updated. I am going to close this issue.

#please-close

[2018-03-02 18:50] bastyuchenko opened #5226 "Wrong syntax"
It seems the "dot" at the end of the following statement in the article is redundant
docker push <docker-id>/mydockerimage:v1.0.0 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* [Content](https://docs.microsoft.com/en

[2018-03-02 18:50] Adam-Smith-MSFT commented on #5215
@liquidblack Thanks for the feedback. I assigned the case to the author for investigation.

[2018-03-02 18:52] Adam-Smith-MSFT commented on #5216
@gregoakley Thanks for the feedback, the author has fixed the problem.

[2018-03-02 18:52] #5216 closed

[2018-03-02 18:52] bearrito opened #5227 "SRC code"
Where is the github src corresponding to the code in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e
* [Content](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topi

[2018-03-02 18:55] Adam-Smith-MSFT commented on #5217
@spottedmahn Thanks for the feedback, I assigned the case for further investigation.

[2018-03-02 18:58] Adam-Smith-MSFT commented on #5218
@antonjanrutten Thanks for the feedback, I assigned the case for further investigation.

[2018-03-02 19:01] Adam-Smith-MSFT commented on #5219
@artieroggeband Thanks for the feedback, I assigned the case for further investigation.

[2018-03-02 19:03] micahmckittrick commented on #5181
@amp64  I have made the changes and updated the doc. They should go live shortly. Thanks again!

[2018-03-02 19:03] #5181 closed

[2018-03-02 19:03] Adam-Smith-MSFT commented on #5220
@keithdoyle9 Thanks for the feedback, I assigned the case for further review.

[2018-03-02 19:08] Adam-Smith-MSFT commented on #5221
@eifinger Thanks for the feedback, could you post your issue in this forum ? https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub

[2018-03-02 19:08] #5221 closed

[2018-03-02 19:13] amanarneja commented on #5074
@mrbullwinkle  - Done :) all yours.

[2018-03-02 19:18] Adam-Smith-MSFT commented on #5187
Today, it is not possible to mount an Azure file share snapshot on Linux. This is because the Linux SMB client does not support mounting snapshots like Windows does. We would like to contribute this feature to Linux in the future, so your question is very helpful for us in prioritizing this work, More info can be found here: https://github.com/Azure/azure-cli/issues/5712

[2018-03-02 19:18] #5187 closed

[2018-03-02 19:21] Yliche commented on #5056
Mine works but the RDP session seems extremely laggy and slow to use with the kali linux vm. It's painful.

[2018-03-02 19:22] Adam-Smith-MSFT commented on #5188
@CeciAc Could provide which specific document/link or repos you found the typos in ?

[2018-03-02 19:24] gustavob10 opened #5229 "i deployed web apps on Dev one node cant see the scalling options on settings"
hello I deployed Web apps RP on 1801 SDK I am trying to create some worker roles on dedicated but the option to scale on settings is not there.
do I have to do anything to make it appear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba102ce6-c79f-33fe-fadb-a77a4c5cdd8f
* Version Independent ID: a9880805-67c0-f951-a7e

[2018-03-02 19:30] douglaslMS commented on #5102
#in-process

[2018-03-02 19:33] mrdfuse opened #5230 "question: how to support multiple fqdn's going to the same ingress controller"
Since you assign a fqdn name to the ingress public ip, is it possible to have multiple fqdn names resolve to the same ingress and do host based routing? I know how to configure the ingress routes but the Azure part is not clear to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
*

[2018-03-02 19:36] #5210 closed

[2018-03-02 19:43] douglaslMS commented on #5102
@JoNevi I've removed the superfluous "and" in PR 34424 which has not been merged. The updated page will probably be published later today. Thank you for bringing this to our attention.

[2018-03-02 19:43] douglaslMS commented on #5102
#please-close

[2018-03-02 19:47] PatAltimore commented on #5179
@leftler Would MS Graph work for you? https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/application_post_applications

[2018-03-02 20:03] #5151 closed

[2018-03-02 20:06] plzm opened #5231 "Managed storage clarifications"
It would be great if this article spelled out the following:
1. Per the article: container images are "encrypted at rest". Is BYOK supported? If not, are keys managed per customer?
2. In managed storage, how are different customers' images separated from each other? Does each customer get a distinct managed storage account, or ?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-03-02 20:13] SyntaxC4 commented on #5178
@mathewc is SAS with blob storage possible?

[2018-03-02 20:14] mmacy commented on #5200
Hi @mandarsudame, yes you should be able to use all supported volume types with Ubuntu 17.10. Do your container logs show any information that might help determine the cause of your issue?

To tail the logs of a container using the Azure CLI:
`az container logs -g myResourceGroup -n mycontainer

To attach local STDOUT and STDERR to your container's:
`az container attach -g myResourceGroup -n mycon

[2018-03-02 20:18] SyntaxC4 commented on #5051
I've followed up with @naziml via email to see if we can get this addressed. Thanks for flagging this for us @janis91!

[2018-03-02 20:21] kgremban commented on #5042
Hi @larrylieberman thanks for the feedback. The original intention of this section was to remind people that they should remove any Azure services that may charge money if they leave them running. But I can see how it would be useful to know how to remove the simulated device from your environment as well. This is a small command (iotedgectl uninstall) that will be easy to add to the documentation

[2018-03-02 20:22] joseph4tw opened #5232 "Code sample issue"
Hello,

If you create the collection manually and run the sample app, when you click on Edit, you get the following error:
"PartitionKey extracted from document doesn't match the one specified in the header"

The code in the sample app specifies a partition key that is listed in the docs as optional. I tried to resolve this by re-creating the collection manually, but I can't find how to create the

[2018-03-02 20:31] joseph4tw commented on #5232
Follow-up, I just noticed that if I specify the storage capacity to `Unlimited` then I get an option to specify the `Partition key` which could be set to `/category`, but you can't do that with the `Fixed (10 GB)` option, which the docs show to use. The problem is that the code sample assumes you set the `Partition key` which isn't the case.

So either the docs need to be updated or the sample app

[2018-03-02 20:46] markgalioto commented on #5194
#in-progress

[2018-03-02 20:49] cherylmc commented on #5218
Hi @antonjanrutten - Yes, you are correct. MakeCert is deprecated. This is directly mentioned in the article in the first bullet statement. However, if you don't have access to a Windows computer from which you can run the PowerShell cmdlets, MakeCert is a good workaround and still perfectly valid.

[2018-03-02 20:49] cherylmc commented on #5218
#please-close

[2018-03-02 20:50] #5218 closed

[2018-03-02 20:53] bandersmsft commented on #5197
#in-progress Initial mail send to @bebattis and Matt will tirage/pick up.

[2018-03-02 21:05] cherylmc commented on #5133
Hi @dcbrown16 - Thanks! Looking into it!

[2018-03-02 21:06] cherylmc commented on #5154
@ctahok  Thanks! Looking into it!

[2018-03-02 21:15] mathewc commented on #5178
@watashiSHUN did this work for blobs here: https://github.com/Azure/azure-webjobs-sdk/issues/1320. He can comment more on where the feature is at currently.

[2018-03-02 21:17] mariojvargas commented on #5056
Worked like a charm! Thank you!

[2018-03-02 21:17] SnehaGunda commented on #5166
#in-process

[2018-03-02 21:17] SnehaGunda commented on #5190
#in-process

[2018-03-02 21:19] kgremban commented on #5042
I meant #in-process

[2018-03-02 21:21] kgremban commented on #5160
Hi @eifinger I found this in the old comment storage (aka my old email notifications) but it was posted on a different article. Is this what you're looking for?

"FROM /messages/* WHERE NOT IS_DEFINED($connectionModuleId) INTO BrokeredEndpoint(\"/modules/&lt;your module name&gt;/inputs/&lt;input name&gt;\")"

[2018-03-02 21:21] kgremban commented on #5160
#in-process

[2018-03-02 21:28] mmacy commented on #5200
I've just verified that secret volumes mount successfully in Ubuntu 17.10:

[code]

[2018-03-02 21:29] d5omino opened #5234 "poorly done..."
this document is for someone that already knows how to perform these steps. Very poorly documented with requirements and assumptions missing. Just not up to snuff sorry. i would take it down, and  redo it from the perspective of a person that DOES NOT know how to write images to storage (azure to be precise) very disappointing and quite frustrating trying to fill in the mostly empty blanks.

---
#

[2018-03-02 21:30] eifinger commented on #5160
Perfect, this was exactly what I was looking for. Thank you so much Kelly!

[2018-03-02 21:30] #5160 closed

[2018-03-02 21:31] georgewallace commented on #5172
#in-process @aydeisen  Do you mind reviewing the doc and making sure if it clear now? If so I will close this issue.

[2018-03-02 21:32] georgewallace commented on #5140
#in-process @whytoe I have corrected the documentation to have the right cmdlet.  Do you mind to review the article? If it works for you I will close the issue.

[2018-03-02 21:35] d5omino commented on #5234
after re-reading my thoughts are the same. The entire first half of the document is completely superfluous. A person reading this article is not here to learn how to use power-shell to provision azure resources. That simply is NOT the topic of the article. it is to learn how to write to azure storage specifically images. why would you spend more than half of your article outlining how to create a

[2018-03-02 21:37] mmacy commented on #5200
#in-process

[2018-03-02 21:42] johnkemnetz commented on #5086
Hey @dcbrown16  -- We chatted about this over email. Unfortunately, right now we don't have better definitions for the levels. I've added this to our backlog as something to fix in the product itself. Thanks!

[2018-03-02 21:44] Adam-Smith-MSFT commented on #5226
@bastyuchenko Thanks for the feedback, I've assigned the case to the author for investigation.

[2018-03-02 21:49] Adam-Smith-MSFT commented on #5222
@DaveDXC Thanks for the feedback, I assigned the issue to the author for further investigation.

[2018-03-02 21:53] Adam-Smith-MSFT commented on #5223
@rootik There is a possibility to convert  unmanaged disks to managed as per the following link: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/convert-unmanaged-to-managed-disks.md , it's in general but it's not specific to scale sets.

[2018-03-02 21:56] Adam-Smith-MSFT commented on #5231
@plzm  Thanks for the feedback, I assigned the case to the author.

[2018-03-02 22:02] Adam-Smith-MSFT commented on #5224
@brouwer  Thanks for the feedback, I assigned the issue to the content team.

[2018-03-02 22:03] akalbfell opened #5236 "Ike v1 or v2"
I had issues using route based vpn gateway and ikev2 with my ASA. Tunnel would drop, not come up, all sorts of odd things. Finally read somewhere MS doesn't support that setup for the ASA. Using policy based vpn gateway and ikev1 I have had no issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400bf897-2cdd-39e8-85

[2018-03-02 22:04] Yosbellin opened #5237 "Localidad México"
¿Que partners de ExpressRoute estan autorizados en México ?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e56a6244ed9
* [Content](https://docs.microsoft.com/es-es/azure/expressroute/expressroute-locations-providers#fe

[2018-03-02 22:05] Adam-Smith-MSFT commented on #5234
@d5omino  Thanks for the feedback, I assigned the issue to the author for further investigation.

[2018-03-02 22:07] Adam-Smith-MSFT commented on #5225
@manojsubramani Thanks for the feedback, I assigned the issue to the author for further review.

[2018-03-02 22:07] mmacy commented on #5231
Hi @plzm, thanks for your interest!

1.  No, BYOK is not supported. The storage account that backs your registry uses [Storage Service Encryption (SSE)](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption). There is a FAQ at the bottom of that article with a few details on keys:

  **Q: Who manages the encryption keys?**

  A: The keys are managed by Microsoft.

  **Q:

[2018-03-02 22:10] TerryLanfear commented on #5070
@aydeisen - Thank you for your feedback.  We are in the process of updating the spreadsheet.  The updated version should be published in the next few days, I'll follow-up when it is.  I have also forwarded your suggestion  for JSON snippets.  Thanks, Terry

[2018-03-02 22:19] RGoodmanAxioma opened #5238 "Error with packages"
At step 3 of the tutorial, when running the new application, I get the error:

An unhandled exception of type 'System.IO.FileLoadException' occurred in Unknown Module.
Could not load file or assembly 'Microsoft.Azure.DocumentDB.Core, Version=1.8.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)

Ho

[2018-03-02 22:19] ShevaDas commented on #5201
@dougznorman Could you provide some more details about this, specifically your browser version and OS version?

[2018-03-02 22:27] Digitalmatrix2 opened #5239 "well good"
thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* [Content](https://docs.microsoft.com/en-gb/azure/app-service/app-service-web-get-started-html)
* [Content Source](https://github.com/MicrosoftDocs/azure-docs-pr/blo

[2018-03-02 22:35] MicrosoftGuyJFlo commented on #5155
#in-process

[2018-03-02 22:36] MicrosoftGuyJFlo commented on #5198
#in-process

[2018-03-02 22:40] erickool commented on #5108
You might want to look up the support case REG:118010817427198 where I asked why soft-match-on-UPN wasn't working. The answer (after a long back and forth) is that soft-match only works in managed (non-federated) domains. The article does mention this WRT proxy address matching but didn't have the related caveat for UPN matching.

We have a desire for a provisioning workflow where an AAD object is

[2018-03-02 22:48] mtillman commented on #5189
@DeanGross Hi Dean, to address your immediate concern, we have a lot of content in the AAD documentation on managing groups. A good place to start would be [Manage access to resources with Azure Active Directory groups](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-manage-groups).

[2018-03-02 23:05] leftler commented on #5179
@PatAltimore Would that work against a B2C Active directory? I already do it for my B2B directory.

[2018-03-02 23:22] leftler opened #5240 "Full code for program in demo video."
The code for the program shown in the video is available at https://github.com/Azure/api-management-samples/tree/master/delegation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a8f-ca9a-ec92-d088f43e0401
* Version Independent ID: a56f0f32-4fb5-55b5-54d4-d26b39384316
* [Content](https://docs.microsoft.com/en-

[2018-03-02 23:30] SyntaxC4 commented on #5226
Hi @bastyuchenko, Thank you for raising this issue. According to the Docker documentation, a PATH is required for the [docker build](https://docs.docker.com/engine/reference/commandline/build/#build-with-path) command.

#please-close

[2018-03-02 23:31] naziml commented on #5051
I will work with folks here on coming up with better docs on this. In the meantime, take a look at the code snippet on how to acquire the client cert from https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth. It's in C# but you should get the gist of what's needed there.

[2018-03-02 23:33] SyntaxC4 commented on #5226
@bastyuchenko my mistake, upon closer look of your issue, you were mentioning the line for `docker push`. You are correct, I will work towards resolving this issue. Thanks again for raising this issue.

[2018-03-02 23:52] #5226 closed

[2018-03-02 23:53] SyntaxC4 commented on #5239
Hi @Digitalmatrix2, Thank you for your comment, I hope that you took the opportunity to rate the article using our feedback tool in the bottom right hand corner of the screen.

#please-close

[2018-03-03 00:11] SnehaGunda commented on #5190
@blair0011 The min/max functions are defined in a different doc: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query#Aggregates . Let us know if that doesn't help. I understand that it would be easy to find everything in one location. We will work on merging them or find a better way to represent the content.

[2018-03-03 00:11] micahmckittrick commented on #5240
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-03 00:13] #5239 closed

[2018-03-03 00:14] amanarneja commented on #5227
@bearrito Unfortunately we don't have a corresponding github src for the code in the doc. This is great feedback though, and we will look into it for the future. Let me know if the code in the document is not working.

[2018-03-03 00:14] #5227 closed

[2018-03-03 00:16] amanarneja commented on #5230
@mrdfuse I have assigned this to the author Neil, to take a look and see if he can help you out.

[2018-03-03 00:17] Adam-Smith-MSFT commented on #5237
@Yosbellin puedes usar el botón Proporcionar "comentarios del producto" porfavor ? no tenemos informacion del producto en mexico.

[2018-03-03 00:17] #5237 closed

[2018-03-03 00:19] SnehaGunda commented on #5166
@michaeldunnOMM The error is expected at the initial run, I just tested it on my machine.  In your case there might be another instance of MongoDB running on your machine, and the app managed to connected to it. Let us know if you are blocked in further steps.

[2018-03-03 00:21] Adam-Smith-MSFT commented on #5236
@akalbfell thanks for the feedback, I assigned the case to the author for further review.

[2018-03-03 00:24] amanarneja commented on #5229
@gustavob10 Sorry about that experience. To be able to debug and understand this issue better, can you please post it on https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azurestack and some one from the community support team will work with you for a resolution.

[2018-03-03 00:24] #5229 closed

[2018-03-03 00:31] Adam-Smith-MSFT commented on #5238
@RGoodmanAxioma  Thanks, There is a possible suggestion in this blogpost: https://blogs.msdn.microsoft.com/keithmg/2012/03/20/strong-name-validation-failed-exception-from-hresult-0x8013141a/ , However, for further validation, I'll assign it to the author.

[2018-03-03 00:39] zackJKnight opened #5243 "Syntax Error - Safari on Mac"
Step 10 on Run a Playbook - I get the following error. To fix, I manually manipulate spaces to adhere to yaml syntax (had to do some reading). Thanks for the yaml lesson, but the tutorial doesn't work without some problem solving!
exception: while parsing a block collection
  in "<unicode string>", line 1, column 1:
    - name: My first Ansible Playbook
    ^
expected <block end>, but found '<bloc

[2018-03-03 01:15] dougznorman commented on #5201
Sheva,

Hi.  Thank you for looking into this.

I am trying to view this page on a Lenovo laptop with 16GB ram running
Windows 8.1.
I am using Google Chrome: Version 63.0.3239.108 (Official Build) (64-bit)

Thank you.

Doug Norman.

On Fri, Mar 2, 2018 at 3:19 PM, Sheva Goldberg <notifications@github.com>
wrote:

[2018-03-03 01:26] amanarneja commented on #5243
@zackJKnight Glad we could help you in your learning journey. This issue helped me learn the YAML syntax as well :) . Spacing and unicode characters always get tricky, I was able to reproduce the problem and have submitted a fix that seems to work.

[2018-03-03 01:31] amanarneja commented on #5232
@joseph4tw Thanks for pointing out the discrepancy and also for digging deep and actually sharing what you found!
I have assigned this issue to the content author to investigate and see if the document needs an update or the sample.

@mimig1 tagging you here as FYI. @SnehaGunda - Please take a look while Mimi is out.

[2018-03-03 01:33] #5102 closed

[2018-03-03 01:38] #5243 closed

[2018-03-03 02:53] joseph4tw commented on #5232
@amanarneja happy to help! 👍

I was also willing to make a PR to update the sample code, but then I thought about it and figured I should let the doc authors decide what is best.

[2018-03-03 03:08] neilpeterson commented on #5230
@mrdfuse - I was able to get this working.

Steps taken:

- Created the NGINX ingress controller + kube-lego.
- registered a new Azure FQDN to the ingress public IP address.
- Pointed a custom domain name and the same public IP address.
- Started two pods / services.
- Used the following manifest for the ingress object.

[code]

The results are that the domaine names resolve to the appropriate ser

[2018-03-03 04:54] jssuthahar opened #5247 "Response status code does not indicate success: 401 (Access Denied).'"
I have tried to create Mobile Application UWP and xamarin and genearted new key and replaced but getting System.Net.Http.HttpRequestException: 'Response status code does not indicate success: 401 (Access Denied) error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3033b485-4b2b-9a56-3446-f268f170fcc8
* Version Independ

[2018-03-03 05:15] handcyclist opened #5248 "Incomplete connection with Azure IoThub from Raspberry Pi 3, cannot send messages to device"
Hello:
I installed the Azure IoT SDK for C on my Raspberry Pi3 that I purchased earlier this year (2018). I am using simulated data. The program sends data to the IoT hub and I can see that the message count increases in my portal dashboard. After the first set of data is sent, and after the "interval" time, I get the following error: Error: Time:... File:/root/Source/azure-iot-sdk-c/serializer/sr

[2018-03-03 05:15] tysonn commented on #5124
@cherylmc - Hey Cheryl, could you review this feedback from @russellds and the response from @amanarneja to see if an enhancement needs to be made to the doc? Thanks!

[2018-03-03 05:20] tysonn commented on #5045
@MohitGargMSFT - Reopening based on customer comment - could you review the new comment from @martijnkrijger-p ?

[2018-03-03 06:49] WootJay opened #5249 "App Service plan mode"
"App Service plan mode" make me confused. Is this App Service plan pricing tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f5ea0e-d951-7e7f-142e-3509b2ec5eda
* Version Independent ID: eea6bd7f-8790-caa0-aed8-bc0e79680bbd
* [Content](https://docs.microsoft.com/en-us/azure/app-service/web-sites-staged-publishing#f

[2018-03-03 08:48] mvark commented on #5167
Azure VMs are billed per-second.

The sentence in the article creates an impression that VMs are billed  per-minute. I don't know if SQL Server license usage is billed per second too. Either remove the word "per-minute" or please reword the sentence appropriately so that it is clear that VMs are billed per-second & specify whatever is the billing mechanism for SQL Server license with VM. This can

[2018-03-03 09:15] shriiitk opened #5251 "Example of change feed consumption"
I am looking for python code example to listen to change feed and process each item. Pointer to any relevant code would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a960cd1-4cc3-5fd2-7d07-b2264a21eceb
* Version Independent ID: 33e5eced-2094-d072-5daa-65a09a678be5
* [Content](https://docs.microsoft.com/en

[2018-03-03 12:49] AlexPshul commented on #5247
Just tried the lab and can confirm that the issue is happening also to me.

[2018-03-03 16:57] wolftrace opened #5252 "UserError: The provided properties are insufficient to retrieve data from data store"
Able to get to the Dataset properties step.   "Test Connection" says "Connection successful", however, when trying to "Import Schema" it gives an error:

"UserError: The provided properties are insufficient to retrieve data from data store., activityId: 0df9863d-e740-4758-8c87-6b50dccfe13e"

Have populated the "Advanced" area of the Dataset with what is outlined in the article, but that does not h

[2018-03-03 18:56] wminos opened #5253 "'New-AzureRmServiceFabricCluster' occurs error unlike 'az sf cluster create'."
Same az cli sample script doesn't occurs below error.
(az cli script: https://docs.microsoft.com/en-us/azure/service-fabric/scripts/cli-create-cluster)
'az sf cluster create' doesn't require **Set-AzureRmKeyVaultAccessPolicy**.

## [Error Message]
WARNING: Access policy is not set. No user or application have access permission to use this vault. Please use **Set-AzureRmKeyVaultAccessPolicy** to se

[2018-03-03 19:20] piffie opened #5254 "outdated?"
I ran into an error that it cannot find the scaffolding file... then i found a github issue stating its outdated... maybe mark it that way? https://github.com/Azure/azure-powershell/issues/3936

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51fa6592-d9d4-37e7-1d7b-90e0d39716ef
* Version Independent ID: 681707f2-0fa0-4d

[2018-03-03 19:21] wminos opened #5255 "Is there easy way to create cluster with reverse-proxy enabled using powershell or azcli without template?"
az sf cluster create --resource-group $ResourceGroupName --location $Location \
  --cluster-name $ClusterName --cluster-size $ClusterSize --os WindowsServer2016DatacenterwithContainers \
  --vault-name $VaultName --vault-resource-group $ResourceGroupName \
  --certificate-subject-name $Subject --certificate-password $Password --certificate-output-folder . \
  --vm-sku $VmSku --vm-user-name $VmUser

[2018-03-03 19:32] wminos commented on #5255
I have more questions.
The reverse proxy on the service fabric is disabled by default.
Isn't recommended to use a service address through that?
If so, I wonder what is the most recommended method for open-api service.

[2018-03-03 19:46] JasonBSteele opened #5256 "Example missing for creating a Subscription for a Service Bus Namespace in the Portal"
In the "How to create Azure Event Grid Subscriptions for Service Bus Namespaces" section the example given shows "how to subscribe to an Azure Function or a Web Hook without any specific filtering".
Shouldn't it provide an example of creating a subscription for a Service Bus Namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-03-03 20:00] JozoSlejko opened #5257 "Wrong link"
"Best practices for Azure VM security" link is pointing to Service Fabric security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* [Content](https://docs.microsoft.com/en-us/azure/security/security-best-practices-and-p

[2018-03-03 20:04] femsulu commented on #5255
@wminos Thanks for your comments. I have forwarded your questions to the content author to review and provide an answer. Thanks for your patience.

[2018-03-03 20:12] akunaatrium opened #5258 "Add documentation about using a statically provisioned Azure Files volume"
I suppose instead of creating a StorageClass, an actual PersistentVolume resource has to be created that refers to an existing Azure Storage Account and a specific file share in it. If there is no definite documentation of the AzureFile plugin for PersistentVolume then it should be created. All I have found thus far are some random blogs on the internet.

---
#### Document Details

⚠ *Do not edit

[2018-03-03 20:25] femsulu commented on #5247
@jssuthahar, @AlexPshul, Thanks for bringing this to our attention. I have forwarded your comments to the content authors to investigate further and resolve.

[2018-03-03 20:45] femsulu commented on #5248
@handcyclist , Sorry you are encountering an issue with your IoT-hub project. I have forwarded your issue to the content owner to investigate further and share some advice.

[2018-03-03 21:12] mrdfuse commented on #5230
Thanks Neil! Guess I was too focused on the part where AKS creates all the necessary resources for each fqdn, but indeed you only need that once for the ingress ip record and you can point other A records at the same ip address... Thanks again!

[2018-03-03 21:12] #5230 closed

[2018-03-03 21:27] femsulu commented on #5249
@WootJay , I have forwarded your question to the content author. In the meantime, can you please clarify your question?  Are you asking for clarification of the list and price breakdown of all offered App service plan modes published [here](https://azure.microsoft.com/en-us/pricing/details/app-service/)?

[2018-03-03 21:34] femsulu commented on #5251
@shriiitk, Thanks for your comment. I have forwarded your request to the content owner to see if we can share any additional pointers or/and code snippets.

[2018-03-03 21:42] Cloudmersive opened #5259 "How do you create a custom connector from Visual Studio Logic Apps?"
Is this not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f1410cc-4cf2-323e-b928-6776910abadb
* Version Independent ID: 4a1f0921-ace4-f30d-8d00-f42201963bd8
* [Content](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-deploy-from-vs)
* [Content Source](https://github.com/Microsoft/azure-docs/blo

[2018-03-03 21:42] femsulu commented on #5252
@wolftrace Sorry you have encountered this error. I have forwarded your issue to the content owner to investigate further and help resolve.

[2018-03-03 21:54] amanarneja commented on #5257
@JozoSlejko Thanks for Reporting! I have a pull request out to update that and also a few more link issues in the document. Should be merged and updated soon :)

[2018-03-03 21:55] femsulu commented on #5253
@wminos , Thanks for bringing this issue to our attention. I have passed this on to the content owner for further investigation.

[2018-03-03 21:57] amanarneja commented on #5258
@akunaatrium Thanks for the feedback. I have assigned this issue to the author to check if there is some documentation that he can refer to you or add to the backlog to create.

[2018-03-03 22:05] femsulu commented on #5254
@piffie, Apologies for the error. I have passed on your comment to the content owner for further investigation.

[2018-03-03 22:12] femsulu commented on #5256
@JasonBSteele, Thanks for the feedback. I have passed your comment onto to the content author for further review.

[2018-03-03 23:52] femsulu commented on #5251
@shriiitk, May I also recommend you share your question on https://stackoverflow.com/questions/tagged/python. I'm sure you will find a few members of the community with sample code to get you started.

[2018-03-04 01:52] WootJay opened #5260 "App service plan tier which support SSL"
Hi,

Refer to following section.
Should Tier = Basic or above, as Free Tier does not support SSL.

# Create an App Service plan in Free tier.
New-AzureRmAppServicePlan -Name $webappname -Location $location `
-ResourceGroupName $webappname -Tier Free

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468

[2018-03-04 02:05] mattbriggs commented on #5048
#please-close

[2018-03-04 02:12] WootJay commented on #5249
@femsulu, I asked for clarification for the word "App service plan mode".
When I found the wording "App service plan mode", I was think this is another term refer to working mode of the app service plan.

After reading the content further, it seem "App service plan mode" is "App Service plan pricing tier".
Would it be more clear and explicit to use the term "App Service plan pricing tier" instead

[2018-03-04 02:33] sanjeev3 commented on #5123
The document is now updated with more explanations.

[2018-03-04 03:50] aydeisen commented on #5172
@georgewallace Thank you for the quick turn around.  It looks much clearer that way.  This issue can be closed

[2018-03-04 03:50] #5172 closed

[2018-03-04 06:12] femsulu commented on #5260
@WootJay, thanks for your feedback. I forwarded your comment to the content author for further review.

[2018-03-04 06:15] #5048 closed

[2018-03-04 07:07] daviburg opened #5261 "Backup retention period setting does not show"
Backup retention period setting does not show on the pricing tier tab, neither during nor after creation. Is this feature not yet available or temporarily not visible in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87acebd6-ed05-01de-f018-42c724e2e042
* Version Independent ID: 3cd829f3-614b-3f26-a92f-1bb7

[2018-03-04 07:14] #5257 closed

[2018-03-04 07:25] amanarneja commented on #5259
@Cloudmersive  - The complete documentation for creating Custom Connectors is present @ https://docs.microsoft.com/en-us/azure/logic-apps/custom-connector-overview. There are quite a few ways to create custom connectors or custom APIs to use with your logic apps, so if the document does not guide you to exactly what you are looking for, can you post the question @ https://social.msdn.microsoft.com

[2018-03-04 07:25] #5259 closed

[2018-03-04 07:27] amanarneja commented on #5232
Thanks again @joseph4tw . @SnehaGunda - once you figure out the next steps, update this thread, also let Joseph know if he should just submit the PR.

[2018-03-04 07:27] femsulu commented on #5261
@daviburg , thanks for your comment. I forwarded your feedback to the content author for further review.

[2018-03-04 07:39] gary918 opened #5262 "The second figure"
The second figure is misleading.  When creating a new OMS Workspace, for the 'Resource Group', should we choose 'Use existing' for 'myResourceGroup' instead of 'Create new'?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4690b453-0a95-936a-5574-fae8470d816e
* Version Independent ID: b97d67eb-8d7a-c610-a5fe-a72d

[2018-03-04 10:06] wminos opened #5264 "How do you define service dns name per environment(dev,stage,prod,...) at project manifest?"
Development Environment
* VS2017 Service Fabric Solution
* one cluster / one apptype / multiple environment app
  * AppType: MyAppType
  * Apps
    * fabric:/MyApp/Dev (dev.myapp)
    * fabric:/MyApp/Qa (qa.myapp)
    * fabric:/MyApp/Stage (stage.myapp)

Reverse proxy service url can be defined at ApplicationParameters>Cloud.xml>Application>Name.
(ex. AppName=fabric:/MyApp/{Env}, ServiceName={Serv

[2018-03-04 10:11] ericbrunner opened #5265 "Sample does not work"
Hi,

I tried to create the GitHub Webhook sample in C# in the portal and in a second project in VS2017. None of both projects work. Even when I create the project in the portal and try the TEST folder on the right hand side. I get that error response.

{
  "Message": "Could not find a valid configuration for WebHook receiver 'github' and instance 'githubwebhookcsharp1,_master'. The setting must be

[2018-03-04 10:12] ericbrunner commented on #5265
![image](https://user-images.githubusercontent.com/6480047/36944459-e5f5317a-1f9c-11e8-8cf1-b47e9627d480.png)

[2018-03-04 10:24] neerajyadav opened #5266 "No "Like Count" in twitter connector"
When we use action "Get user timeline", it returns array of TweetModel. This tweet model does not return LikeCount of a tweet. Twitter API seems to return the data but logic app connector is not parsing it. Reading Like Count of every tweet is significantly important I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-03-04 10:27] ericbrunner commented on #5265
After a googling I found that helpful [link](https://social.technet.microsoft.com/wiki/contents/articles/38139.invoke-azure-functions-using-github-webhook.aspx)

I noticed that when I clickc <> Get Url in Azure functions I always get the ?clientId=default attached to the end of the URL. Which doen't work.
![image](https://user-images.githubusercontent.com/6480047/36944530-b5c8fd18-1f9e-11e8-9091-1

[2018-03-04 10:46] santhoshjt75 opened #5267 "Error in Powershell"
Is the syntax correct for the NewAzureVM script? I get an error "A parameter cannot be found that matches parameter name 'Name'.". Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-77f7-d78a-415db2deeae7
* Version Independent ID: 7ec4a1b0-6545-97e5-449c-f5e72df0242e
* [Content](https:

[2018-03-04 14:09] mrdfuse opened #5268 "demo is broken cause of nginx issue"
At the moment this demo does not work, only the service exposed at the base path is accessible. See this issue https://github.com/kubernetes/ingress-nginx/issues/2132

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* [Con

[2018-03-04 15:00] BinnacleSolutions commented on #5236
Hello Gentlemen,

IKEv2 does work between Azure and FTD but not out the box. A bit of tweaking has to take place. I have implemented 4 of these IKEv2 Tunnels in the Field with no issues. Actually, one client in particular, was trying to get away from IKEv1 since they stated they needed IKEv2 for some sort of AD integration they were attempting through the tunnel. If FTD/ASA is on the FMC already,

[2018-03-04 15:03] BinnacleSolutions commented on #5236
Also, if you want IKEv2, it has to be route-based on the Azure side, since IKEv2 is not supported on Policy-Based Azure.

[2018-03-04 15:29] silentbobbert commented on #5173
Thanks @neilpeterson I have set up a hybrid cluster using ACS Engine, because I need Windows containers. It started at version 1.7.x and its now up to 1.8.8 and it doesnt seem to be able to go any higher at the moment.

I ran the `describe PersistentVolumeClaim` command and I am now seeing an error message, but I dont know how to resolve it.

This feels like a bug, but not sure where!

Any ideas h

[2018-03-04 15:42] silentbobbert commented on #5173
I found this right after my last message -
[https://github.com/kubernetes/kubernetes/issues/59543](url)

workaround is run:

`kubectl create clusterrole system:azure-cloud-provider --verb=get,create --resource=secrets
kubectl create clusterrolebinding system:azure-cloud-provider --clusterrole=system:azure-cloud-provider --serviceaccount=kube-system:persistent-volume-binder`

This seems to give the

[2018-03-04 17:04] micahmckittrick commented on #5262
Thanks for the feedback! When creating a new OMS work space as well as any other resource in Azure, it is up to you to decided when to place things inside a new resource group or an existing one. So in the case of this specific doc there is not a right or wrong answer. It is up to you to decided how you want your resources managed and what resource group they should be affiliated with. Check out t

[2018-03-04 17:04] #5262 closed

[2018-03-04 17:08] micahmckittrick commented on #5264
@wminos  I have assigned the issue to the content author to investigate further and provide a response.

[2018-03-04 17:11] micahmckittrick commented on #5265
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-04 17:19] micahmckittrick commented on #5266
Thanks for the feedback! We want to make sure your suggestion gets in the hands of the product team. Luckily we have a dedicated channel for exactly that! Suggest that you provide your feedback here so others who also feel this feature would be beneficial can vote and the product team can consider adding it.

https://feedback.azure.com/forums/287593-logic-apps

[2018-03-04 17:19] #5266 closed

[2018-03-04 17:39] micahmckittrick commented on #5267
@santhoshjt75 I tested the script and successfully ran it. What this likely means is you need to update your PowerShell module to the latest version. You can use the following to ensure you are up to date:

https://www.microsoft.com/web/handlers/webpi.ashx/getinstaller/WindowsAzurePowershellGet.3f.3f.3fnew.appids

In addition, if you prefer to remove the need to keep your module up to date you can

[2018-03-04 17:39] #5267 closed

[2018-03-04 17:41] micahmckittrick commented on #5268
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-04 18:05] JoNevi commented on #5207
Hi Adam,

Data Factory v2.

At the time I had a dataset called ds-clientupload, but I have now renamed it to dsclientupload and the error message has gone away.  If it helps: the dataset was connected to a linked service that points to a blob store.

ADF v2 doesn't seem to like the - character any more.  Yet a week ago this same pipeline was running absolutely fine.

Weird.

Cheers,

John

_______

[2018-03-04 19:03] mrdfuse commented on #5268
As mentioned in kubernetes/ingress-nginx#2132: The issue with the article is the prefix of the annotations, it should be nginx.ingress.kubernetes.io. I changed the annotation and now it works indeed. So the article should be updated I think.

[2018-03-04 20:08] neilpeterson commented on #5268
@mrdfuse what is the version of your cluster? Can you add you ingress manifest here?

I am running a cluster at version 1.7.9 and the doc works. If I update the manifest to this, the non root route does not work.

[code]

I will upgrade my cluster and try again, but want to compare notes with you.

[2018-03-04 20:59] neilpeterson commented on #5268
I've just upgraded my cluster to 1.8.7, and the doc still works fine. If I update the annotation to `nginx.ingress.kubernetes.io/rewrite-target: /` the non root path does not work.

We have several reports of this issue, I can never get a repro :).

@mrdfuse any information you can share, including the ingress manifest you've used will help me resolve.

Thanks

[2018-03-04 21:11] mrdfuse commented on #5268
[code]
This is my ingress, the services are the same as in your own example, I just named them jenkins and sonar because that is what I'm trying to setup at work. And I wanted to test it with a 'real' domain instead of cloudapps because again, that is my goal at work.

[code]

Let me know if I can give you additional info.

We have noticed on AKS that some bugs occur on older clusters, even when u

[2018-03-04 21:13] mrbullwinkle commented on #5096
@dronkoff as discussed over e-mail this IP address corresponds to a regional address of api.nuget.org. Since Microsoft doesn't own the IP we can't add it to the doc as it may change over time. We have, however, added api.nuget.org to the doc to hopefully help mitigate this issue in the future. Thanks again for bringing this to our attention.

[2018-03-04 21:14] mrbullwinkle commented on #5096
#please-close

[2018-03-04 21:15] mrbullwinkle commented on #5097
As per conversation over e-mail this issue is being closed. Thanks again for submitting the issue.

[2018-03-04 21:16] mrbullwinkle commented on #5097
#please-close

[2018-03-04 21:26] mrbullwinkle commented on #5182
#in-process

[2018-03-04 22:16] akalbfell commented on #5236
Thanks for the response. I should have mentioned I didn't make any changes to the parameters of the phase 1 settings when usuing Ikev2 route based. My issues were with default settings.

[2018-03-04 22:32] mrbullwinkle commented on #5074
#in-process

[2018-03-04 22:35] neilpeterson commented on #5268
Thanks @mrdfuse - this is perfect, I will investigate.

[2018-03-04 22:35] neilpeterson commented on #5268
#in-progress

[2018-03-04 22:36] neilpeterson commented on #5258
@akunaatrium - I will have something published tomorrow.

#in-progress

[2018-03-04 22:56] tysonn commented on #5247
@DavidLiCIG - David, you are listed as the author of this Cognitive Services article, could you please review the customer feedback on the article?

cc: @cjgronlund

[2018-03-04 23:38] bichuga opened #5271 "Blocked from publishing despite install startup task"
I set up this startup task to deploy .net 4.7.1. to my Classic Azure Worker role but I'm blocked from publishing with the error:

warning WAT210: Microsoft Azure Cloud Service projects only support roles that run on .NET Framework versions 4.0, 4.5 and 4.6.  Please set the Target Framework property in the project settings for project 'MyWorker' to .NET Framework 4.0, .NET Framework 4.5 or .NET Fra

[2018-03-05 00:31] handcyclist opened #5273 "Issues running Azure IoT SDK for C on Ubuntu 14.04 (kernel 142)"
Hello:
Just want to report some issues:
1. I had a partial failure running the samples "simplesample_mqtt" (in serializer) and "iothub_ll_telemetry_sample" (in iothub_client); they ran once and then stopped but did not exit, had to use Ctrl-C. (only tried these ones)
Before running the samples and building the SDK I had run setup.sh from .../azure-iot-sdk-c/build_all/linux.
2. The issue #1 above h

[2018-03-05 00:45] tysonn commented on #5149
@femila - The MVC completion list shows you are the content manager for Notification Hubs. Could you identify a current contact for this article?  cc: @arob98

[2018-03-05 00:52] tysonn commented on #5224
@mingfeiy @SyntaxC4 @Juliako - We are not able to assign directly to @mingfeiy in the GitHub UI, so assigning to content team for Media Services to ensure follow up on this issue.

[2018-03-05 01:17] antonba commented on #5240
I no longer work on that team. Please contact @miaojiang or @vladvino for help.

[2018-03-05 01:40] tysonn commented on #5149
@spelluru - Assigning to you, Angela told me you are working in this area now - if you could drive a response, that would be great :)

[2018-03-05 02:05] micahmckittrick commented on #5271
@bichuga as per the doc and the error Azure Cloud Service Projects only support .NET 4.0, 4.5 and 4.6. Looks like you are attempting to deploy 4.7. Hence, you will need to use one of the support frameworks instead of 4.7.

[2018-03-05 02:06] micahmckittrick commented on #5273
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-05 02:31] bichuga commented on #5271
I downloaded the service fabric SDK and all of a sudden I'm no longer blocked from attempting to publish. Maybe that's all I needed?
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started

[2018-03-05 05:09] ZzzMao commented on #5247
@jssuthahar , @AlexPshul , Can you try to use the code below
[code]

The API root has changed to the new Cognitive Lab URL.

[2018-03-05 06:22] neilpeterson commented on #5268
@mrdfuse - the issue was with the chart / nginx version on my end. Doc update with the annotation fix and some text around updating the chart repo will publish tomorrow.

I will update this issue once complete.

[2018-03-05 06:55] ChandraAzureKid opened #5274 "Great start!"
My first lesson on AI and how can I possibly explain what I have learnt...absolutely great start and I am hungry for more!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* [Content](https://docs.microsoft.com/en-us/azur

[2018-03-05 07:47] jithinjosepkl opened #5275 "Missing Info on RDMA capable instances"
1. Specify a new virtual network in a region in which the RDMA-capable instance size you want to use is available.
- Can you please add a link to RDMA capable regions?

2. Windows Server operating system: To support RDMA connectivity, specify a Windows Server 2012 R2 or Windows Server 2012 operating system for the compute node VMs.
- This does not match with info on the other page (https://docs.mi

[2018-03-05 08:18] JozoSlejko opened #5276 "App Service limitations"
Moving across subscriptions - external certificate uploaded to App Service cannot be moved, validation fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* [Content](https://docs.microsoft.com/en-us/azure/azure-resour

[2018-03-05 09:09] SteveBurkettNZ opened #5277 "Needs update for new Application Insights tiers"
States: "You can only link Standard or Premium Application Insights resources..."

However Application Insight tiers are now called Basic and Enterprise. (https://azure.microsoft.com/en-us/pricing/details/application-insights/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb6e003-773e-035b-984b-369d439b56b4
* Versio

[2018-03-05 10:20] th389 opened #5278 "Using conda on py35 virtual environment"
It is worth mentioning/fixing that conda default installs to root (py27) environment no matter which conda is selected in the command.  I.e. even if py35 virtual environemnt is activated, and if you use sudo /anaconda/envs/py35/bin/conda install <package> it will install to the root environment.

To install to the py35 environment you need to add -n py35, so:
sudo /anaconda/bin/conda install <pack

[2018-03-05 10:23] AlexPshul commented on #5247
Hi @ZzzMao,
Thanks, adding the new Cognitive Lab URL fixed it.

[2018-03-05 10:30] djpirra opened #5279 "Stored Procedure call to update statistics is not correct."
To be able to correctly call the example procedure you should provide the parameters @create_type and @sample_pct since they don't have default values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa006a6-e5d1-7965-f63c-3a0fcf31978b
* Version Independent ID: 2aa95f50-f079-a8e5-c993-97a66d2a74ce
* [Content](https://d

[2018-03-05 11:40] tsplab opened #5281 "az aks get-upgrades: command not available"
I am using azure-cli 2.0.23 and the commande az aks get-upgrades is not available.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* [Content](https://docs.microsoft.com/fr-fr/azure/aks/upgrade-cluster

[2018-03-05 12:01] aircelgag opened #5282 "WorkGroup"
Hi,

in the video you've explained about the domain joined laptop which open portal page and sign-in is not required, excellent.!! :)  i had a question on this, how about the workgroup machines ? will they still be able to access the apps and o365 (forget about single sign on, am considered about services, if any of the user whose identity is in on prem AD and Azure AD, but he's trying to authenti

[2018-03-05 12:51] beckot opened #5283 "The Azure CLI download doesn't work on Chrome. Maybe fix this or just mention it in the documentation?"
See subject.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* [Content](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-acr)
* [Content Source](https://github.com/Microsoft/azure-docs/blob/master/a

[2018-03-05 12:59] whytoe commented on #5140
Sure, I will try now.

[2018-03-05 13:23] whytoe commented on #5140
I still receive two warnings and this is a Microsoft example

Warning 1: 3e2b9aac-1ee9-4ba9-9179-cc24b5eadbdf:[localhost]:The configuration 'CredentialSample1' is loading one or more built-in
resources without explicitly importing associated modules. Add Import-DscResource –ModuleName
'PSDesiredStateConfiguration' to your configuration to avoid this message.

2.3e2b9aac-1ee9-4ba9-9179-cc24b5eadbdf

[2018-03-05 13:23] PatrickvEk opened #5284 "How to Enable/Disable Alerts"
I was looking for a way to disable/enable alerts via a Runbook, first it looked like there is no way enable/disable alerts.

The Add alert cmdlet also updates the rule if an alert rule already exists for the given properties.
According to:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/insights-powershell-samples#create-metric-alerts

Therefore I created a little script that was

[2018-03-05 13:29] LanderVe commented on #5151
If you are using powershell the $ should be there, maybe update the docs for both scenarios (PS and Bash)

[2018-03-05 13:30] LanderVe opened #5285 "use AKS consistently"
from the docs: "Authentication needs to be configured between the AKS cluster and the ACR registry. This involves granting the ACS identity the proper rights to pull images from the ACR registry". --> This involves granting the AKS...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
*

[2018-03-05 13:33] yosukekumasaka opened #5286 "rule's detail is not written"
About "911100  Method is not allowed by policy", according to CRS3.0 Offitial documentation,  GET/HEAD/POST/OPTIONS are allowed by default. But as I tried it in Application Gateway's WAF, DELETE was also allowed, and PROPFIND is DENIED.
It seems that the rule is customized so that REST API can normally work, it's OK.
But in Application Gateway's documentation page, it's not explained. So, we can s

[2018-03-05 13:39] flyisland opened #5288 "ORACLE_SID=gg1??"
in the `Create the database on myVM1 (primary)`, creating a db with sid=cdb1, why setting the variable `ORACLE_SID=gg1`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e91e0d-1797-abae-1941-29e91cc05b77
* Version Independent ID: 7e55f1a5-54b2-cf04-af3a-813d2e855539
* [Content](https://docs.microsoft.com/en-us/azure/v

[2018-03-05 13:44] jssuthahar commented on #5247
Thanks, @ZzzMao  ,

It's working now, after adding updated END url

 var text = txtvalue.Text;
            EntityLinkingServiceClient client = new EntityLinkingServiceClient("API Key","https://api.labs.cognitive.microsoft.com");

            var linkResponse = await client.LinkAsync(text);
            var result = string.Join(", ", linkResponse.Select(i => i.WikipediaID).ToList());
            thi

[2018-03-05 14:19] mguntli opened #5290 "Redirect Uri Field does not exist when registering new Application in AzureAD"
Step 1 Register Application, Point 5 (create a new web application): The "Redirect Uri" does not exist in Azure AD.
It's now labelled as "Sign-on URL" in Azure (5th of March 2018)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0574fe6c-3e23-b803-f12b-aa698d238d5b
* Version Independent ID: bf7ebc09-c16f-0b1e-53f8-35f305

[2018-03-05 14:23] mguntli opened #5291 "Azure AD > App Registrations > Settings > Properties > Required Permissions"
Step 1 Register Application, Point 8 (Grant permissions across your tenant for your application): The "Required Permissions" has now it's own tab in Settings in the category "API Access" and is not anymore below Settings > Properties

Wrong: Settings > Properties > Required Permissions
Current: Settings -> Required Permissions

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-03-05 14:54] rothja commented on #5157
@helderpinto Thank you for the feedback. I'm looking into this now.

[2018-03-05 15:04] v-geberr commented on #5162
#please-close

[2018-03-05 15:06] achekh commented on #5162
Yep, now everything looks perfect!

[2018-03-05 15:06] #5162 closed

[2018-03-05 15:10] rothja commented on #5157
#in-process

[2018-03-05 15:12] markwragg commented on #5151
I agree with @LanderVe, I came here to submit the opposite change to this as I was following the guide and using PowerShell and assumed the missing `$`'s were a typo.

[2018-03-05 15:35] jtuliani opened #5294 "What about Service Endpoints for SQL Database access?"
The last section ('Routes') describes how force-tunnelling traffic via an on-prem endpoint could break ASE access to SQL DB. However, the solution given is unsatisfactory--it says to simply allow the ASE subnet to have direct Internet access. There was a reason for the force-tunnelling (e.g. to run traffic through an on-prem security appliance), and this approach breaks this requirement.

Can we n

[2018-03-05 15:36] banzo opened #5295 "Documentation is missing the one important information"
see https://github.com/Azure/azure-powershell/issues/1978

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 086e6da1-b8fb-cb5a-e06a-8cccb5a74d56
* Version Independent ID: fd19967a-26a8-3469-f87f-a8a618c1ff2d
* [Content](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image)
* [Content Source](https:/

[2018-03-05 15:47] RGoodmanAxioma commented on #5238
Thanks for your response. I haven't followed those instructions because:

1) I'm not running Win7 x64 nor Vista x64 (am I? I'm running Windows 8.1 Pro as described above)
2) The blogpost says "It should be pointed out that disabling SN verification isnt very secure but you may have your own reasons," which I don't really. Shouldn't the DLLs downloaded via NuGet already be signed/secured/whatever i

[2018-03-05 15:55] mimig1 commented on #5232
@snehagunda @joseph4tw - I'm back. Feel free to assign this to me.

[2018-03-05 15:59] mimig1 commented on #5251
#in-process

[2018-03-05 16:02] spelluru commented on #5149
#in-process

[2018-03-05 16:04] Adam-Smith-MSFT commented on #5238
@RGoodmanAxioma , Thanks for the update, the case is already assigned to the author, they should review it soon.
@AndrewHoh

[2018-03-05 16:05] neilpeterson commented on #5151
@LanderVe @markwragg - we are working on a solution that will allow the code blocks to be switched between multiple languages (like a tab for bash and PowerShell). This should roll out soon.

For now, we have chosen the most likely environment for the given tech.

[2018-03-05 16:06] mimig1 commented on #5251
Asked devs to see if they can add an example to https://github.com/Azure/azure-documentdb-python/tree/master/samples.

[2018-03-05 16:11] cherylmc commented on #5124
I can go ahead and add a link to ExpressRoute so that people who land on the wrong page (the page for a virtual network gateway that uses the -GatewayType VPN) can easily navigate to ExpressRoute, as these are two very different uses of a virtual network gateway object and do not behave similarly.

[2018-03-05 16:13] spelluru commented on #5149
Thank you @tysonn :).

@ianpowell2017 @amp64 - Thank you for the feedback on the article.

The "Push to specific users" iOS tutorial builds on the Get Started iOS tutorial (https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-ios-apple-push-notification-apns-get-started).

There is another version of the Get Started tutorial that uses **Xamarin**: https://docs.microsoft.com/e

[2018-03-05 16:13] Adam-Smith-MSFT commented on #5207
Thanks for the update John, I'll assign it to the author to verify if the (-) is still supported on Data factory V2

[2018-03-05 16:25] micahmckittrick commented on #5271
Was there a reason you installed the Service Fabric SDK? I don't see any mention of it in the doc this issue was opened for. Seeing as the original error you were getting was just a warning and not an actual blocking error I can only assuming by installing the Service Fabric SDK it installed some dependency you were missing.

I will go ahead and close this issue for now. If the error comes back up

[2018-03-05 16:25] #5271 closed

[2018-03-05 16:28] micahmckittrick commented on #5240
Thanks for the update @antonba I suggest updating the content source to avoid this assignments in the future. @miaojiang and @vladvino I have reassigned to you. Can you please take a look?

[2018-03-05 16:52] sbisanzSockeye opened #5296 "Typo in document"
There is a small typo under the "Encryption" heading.  Instead of "SQL Database secures you data" it should say "SQL Database secures your data"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2b2800-b8b3-a8f3-a14f-8dc95eb133ba
* Version Independent ID: d92ac8c6-7812-9654-6d72-fcb8b61b8423
* [Content](https://docs.mic

[2018-03-05 17:05] leftler opened #5297 "Ocp-Apim-Trace-Location missing on a 401?"
I am trying to diagnose a a 401 response I am getting from my backend api. While trying to follow the steps when I attempt to do a trace I get the following HTTP response

And the trace tab displays

It appears that APIM is not adding the trace header when a 401 is returned. Is that expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-03-05 17:14] glstream opened #5298 "Sparse Examples for SDK's"
It would be awesome to see an example of this in the Python SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8c8b1a-3b61-1dde-c11c-69043a56dfef
* Version Independent ID: 9ad9804b-27c1-f1ea-2dd3-c20a4d9857fc
* [Content](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-spark)
* [Content Sourc

[2018-03-05 17:16] ShaneCourtrille opened #5299 "Azure CLI Docs are v1 specific"
It appears that the Azure cli docs are Azure CLI v1 specific as Azure CLI v2 uses az instead of azure as the keyword.  It also doesn't have an az site.  The docs here should be specific by Azure CLI version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Version Independent ID: 74

[2018-03-05 17:17] ShaneCourtrille commented on #5299
It actually appears that the Streaming with Azure CLI are for v2 and the downloading with Azure CLI are v1.

[2018-03-05 17:44] ggailey777 commented on #5131
@tdykstra can you take a look at this issue? I think that there is a versioning issue where older packages still have the DocumentDb attribute. You made the recent change to CosmosDb, which is I think the attribute in the newer version. Thanks!

[2018-03-05 17:47] neilpeterson commented on #5281
@tsplab - this command was added in version 2.0.27 of the CLI. You will need to upgrade or use cloud shell.

#in-process

[2018-03-05 17:48] neilpeterson commented on #5285
@LanderVe - thanks, we will update.

[2018-03-05 17:53] mrbullwinkle commented on #5142
@Adam-Smith-MSFT please assign this one to me. I have been in touch with @pharring and I will have him looped in on the pull requests to resolve this one.

[2018-03-05 18:08] grizzljt commented on #5155
Which direction should one take assuming both of these scenarios are true:
we are securing web applications published through Azure AD App Proxy
with users located in an On-premises Active Directory

Specifically we are trying to publish an on-premise SharePoint through Azure AD App Proxy while enabling MFA.

[2018-03-05 18:19] mhallst2 commented on #5135
Turns out I forgot to open port 3300. The web app works fine now. Thanks for testing the tutorial for me.

[2018-03-05 18:35] cjgronlund commented on #5169
@moutroschmidt Gracias! La actualización del artículo está aquí: https://docs.microsoft.com/en-us/azure/machine-learning/studio/azure-ml-netsharp-reference-guide
¿Está bien?

[2018-03-05 18:39] neilpeterson commented on #5258
@akunaatrium - doc is here https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

I am going to close this issue. If you have any additional questions or requests, feel free to re-open or submit a new issue.

Thanks

#pleas-close

[2018-03-05 18:42] kgremban commented on #5042
@larrylieberman The changes that I made are live now in the documentation. Would you check to see if they addressed your issue?

[2018-03-05 18:43] mattbriggs commented on #5055
Yes ... I am getting the same issue. I think this may be related to the recent update in GitHub, but I'll follow up. #in-process

[2018-03-05 18:58] amanarneja commented on #5274
@ChandraAzureKid Thanks ! Wishing you well on your AI and Machine Learning journey! :)

[2018-03-05 19:03] RolandLeFranc opened #5302 "TrustFrameworkExtensions"
Step 4. Where do I get the TrustFrameworkExtensions.xml file that I need to modify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af62e857-35e1-498d-5a8f-49fe9c15ca9c
* Version Independent ID: 40e1240b-e79e-f6e8-28c9-c61731fa64cf
* [Content](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-