[2020-07-02 04:35] VikasPullagura-MSFT commented on #58263
@amadav
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-02 04:43] ram-msft commented on #58257
@ammills01 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-07-02 04:45] VikasPullagura-MSFT commented on #58021
@leofmoura
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-02 04:45] #58021 closed

[2020-07-02 04:45] ram-msft commented on #58258
@dargilco Thanks for the feedback. We will update you shortly.

[2020-07-02 04:47] amanmcse commented on #58267
@frankdrewes Could you please share a screenshot/snip of your working REST Technical Profile with URL as SendClaimsIn parameter. We will then review and update the document accordingly.

[2020-07-02 04:50] ram-msft commented on #58256
@dargilco Thanks for the feedback. We will update you shortly.

[2020-07-02 04:56] amanmcse commented on #58209
Thanks @hpsin.
@NhatDuy1407 Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-07-02 04:56] #58209 closed

[2020-07-02 04:59] SubhashVasarapu-MSFT commented on #58268
@InfiniteQ2 , Thanks for reaching out. We will investigate and update this thread.

[2020-07-02 05:13] dcurwin commented on #57765
@trstroem We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

#please-close

[2020-07-02 05:13] #57765 closed

[2020-07-02 05:21] ryotokuro commented on #58155
@rfrankeny I believe you need to attach the url at the end of the remote command.

If we look at the git command here:
`git remote add azure <deploymentLocalGitUrl-from-create-step>`

The documentation states that you should "**Replace <deploymentLocalGitUrl-from-create-step> with the URL of the Git remote that you saved from Create a web app.**"

For you, this might look like:
`git remote add azu

[2020-07-02 05:23] amanmcse commented on #58207
@NhatDuy1407  You need to use prompt=login parameter in your request which will force the user to enter their credentials. When the request contains prompt=none, it will ensure that the user is NOT presented with any interactive prompt to enter the credentials.
For more details, please refer to the prompt parameter under [Send the sign-in request](https://docs.microsoft.com/en-us/azure/active-dire

[2020-07-02 05:23] #58207 closed

[2020-07-02 05:28] frankdrewes commented on #58267
Here's an example :

    <TechnicalProfile Id="REST-GetCID">
      <DisplayName>Get customer CID</DisplayName>
      <Protocol Name="Proprietary" Handler=
"Web.TPEngine.Providers.RestfulProvider, Web.TPEngine,
Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
 />
      <Metadata>
        <Item Key="ServiceUrl">{Settings:CID-ApiUrl}/{user_id}</Item>
        <Item Key="SendClaimsIn">Url</Item>

[2020-07-02 05:28] ryotokuro commented on #12312
I know this is 2 years old but this seems pretty simple - how do I go about doing this?

[2020-07-02 05:47] AmitavaHazra opened #58270 "Issue with Azure AD metadata import in linux based system with Tomcat as application server"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-federated-single-sign-on-non-gallery-applications

Facing issue while importing SAML SSO Azure AD IDP metadata in SP (Linux based system. Tomcat as application server).

Error:
SignatureValidationFilter      : Signature trust establishment failed for metadata entry https://sts.windows.net/XXXXXXXXXX.

We also

[2020-07-02 06:00] SadiqhAhmed-MSFT commented on #57570
Closing this issue for now as this needs to be investigated further by the support professional.

[2020-07-02 06:00] #57570 closed

[2020-07-02 06:06] break9111 opened #58271 "Under what conditions does this event (double multi-factor authentication) occur?"
I read below sentences. But I cannot understand that under what conditions this event (double multi-factor authentication) occur.
Please give us supplementary explanation of detail condition.

From my understanding, MFA can be set and enabled for each tenant, and I don't think the home tenant setting is applied when resource tenant authentication is performed.

---
#### Document Details

⚠ *Do not

[2020-07-02 06:06] VikasPullagura-MSFT commented on #58269
@sormita
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-02 06:09] suterma commented on #22538
See https://galdin.dev/blog/md5-has-checks-on-azure-blob-storage-files/ for how to get a comparable MD5 hash.

[2020-07-02 06:15] Grace-MacJones-MSFT commented on #57971
Hi @burma-shave, yes that is correct.

[2020-07-02 06:21] ErcNovelT commented on #58239
@SaurabhSharma-MSFT thanks for your prompt reply. Indeed, my comment was more related to an Azure portal issue coming on the bulk invite feature and not on the document content. As you said, maybe it's not the place to talk about this issue here.

The document I was referring to is the bulk invite template CSV that you have to download, fill/complete and upload back to the portal to send multiple

[2020-07-02 06:26] sitapriyanka commented on #40048
This Worked for me
**dotnet tool update --global dotnet-ef**
_Tool 'dotnet-ef' was successfully updated from version '3.0.0-preview4.19216.3' to version '3.1.5'._

[2020-07-02 06:38] KrishnaG-MSFT commented on #58007
Closing this issue for now as there is no response on it.

[2020-07-02 06:38] #58007 closed

[2020-07-02 06:39] KrishnaG-MSFT commented on #58047
Closing this issue for now as there is no response on it.

[2020-07-02 06:39] #58047 closed

[2020-07-02 06:51] trstroem commented on #57765
Hi David,

This is OK, please close.

Regards,
Trond

From: David Curwin <notifications@github.com>
Sent: Thursday, 2 July 2020 07:14
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Trond Stroemme <Trond.Stroemme@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Why assign SAP_INTERNAL_HANA_SUPPORT to backup user? (#57765)

@trstroem<http

[2020-07-02 07:13] MayankBargali-MSFT commented on #58192
Yes it should work: https://docs.microsoft.com/en-us/azure/service-bus-messaging/private-link-service#add-a-private-endpoint-using-azure-portal

[2020-07-02 07:21] SwathiDhanwada-MSFT commented on #58122
@abhinavdawra  Thanks for reaching out !! AFAIK, Azure PowerShell and Azure CLI deployment scripts are not supported for Windows environment.  I would recommend you to navigate [here](https://feedback.azure.com/forums/281804-azure-resource-manager) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of your suggestion to raise visibi

[2020-07-02 07:25] SwathiDhanwada-MSFT commented on #58260
@lucasmaj Thanks for your valuable feedback. Assigning it to content author @mrbullwinkle for reviewing the issue and updating the document accordingly.

[2020-07-02 07:32] RohitMungi-MSFT commented on #57830
@PatrickFarley With respect to the point below can we add the supported formats in the Note section for MDY too?

@bignorm64 Our product team has reviewed this request and have added this as a a feature to be implemented in our future release of the container. We do not have an ETA for general use to public but we have a backlog item internally tracking this.

[2020-07-02 07:34] MayankBargali-MSFT commented on #58193
@dbrennan Thanks for reporting this item! I have updated the doc and it'll be published tomorrow. We appreciate the feedback!

[2020-07-02 07:37] #58193 closed

[2020-07-02 07:38] srini1978 commented on #50659
We are planning to configure Hyperscale with only 1 read scale out. Question is to avoid dirty reads, how do we ensure that the read scale out node is created in the same data center. What is the known latency between read-writes and reads ?

[2020-07-02 07:39] SubhashVasarapu-MSFT commented on #58253
@markturpinMSFT , Global VNet Peering now supports Standard Load Balancer. Previously, resources in one virtual network could not communicate with the front-end IP address of an internal load balancer over a globally peered connection. The virtual networks needed to be in the same region. With this [announcement](https://azure.microsoft.com/en-in/updates/global-vnet-peering-now-supports-standard-l

[2020-07-02 07:39] HeinzLm opened #58274 "No "Technical" Issue Type available"
[Enter feedback here]

When I try to open a support ticket the only available issue types are "Billing" and "Subscription management".
Tried different tenants and different ways to open the blade.

How do the other issue types become available? How can I request technical support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-07-02 07:44] ChiragMishra-MSFT commented on #58259
@caksoylar Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

@normesta Can you please take a look at this enhancement request?

[2020-07-02 07:54] FMauroy opened #58275 "Wrong value given for IOTEDGE_LOG environment variable"
Hi, I tried to add the IOTEDGE_LOG environment variable as stated on this page, to have more info in the logs, but the "Azure IoT Edge Daemon" service doesn't start afterwards. When I run it "by hand", it states:

`.\iotedged.exe -c .\config.yaml
thread 'main' panicked at 'Could not create Windows EventLogger: Error { inner: ParseLevelError(())

Log level "edgelet=debug" is invalid }', src\libcore

[2020-07-02 08:17] gowdhamankarthikeyan opened #58276 "User.Country should be compared with 3 digit country code"
user.department –eq "Marketing" –and user.country –eq "US"
-- This is wrong example.

It should be with 3 letter country code.

 user.department –eq "Marketing" –and user.country –eq "USA"

[2020-07-02 08:37] LudoNieuw opened #58277 "The 'data encryption' option is not present in portal"
This is how it looks:
![afbeelding](https://user-images.githubusercontent.com/51162806/86336230-e2b25e00-bc4f-11ea-94f0-6b3ec6579999.png)

And the documented 'Data encryption' header is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69bbc102-70ab-4f6a-182b-a01993c8d254
* Version Independent ID: a49f9a7d-7934-d0

[2020-07-02 08:38] psmanhas commented on #57373
@robinho81 Apologies for the delay in response.

Ideally one cluster certificate issue should be able to issue certificate for multiple domains without any issue. Cert issuer is designed to issue multiple certificate in the same cluster.

With the limited information, it is difficult to predict the problem you might be facing while issuing certificate. I would suggest you to follow the [Troublesho

[2020-07-02 08:39] kummanish commented on #58277
hi @LudoNieuw , can you please check the limitation of the data encryption listed here : https://docs.microsoft.com/en-us/azure/mysql/concepts-data-encryption-mysql#limitations

Does this apply to your resource ?

[2020-07-02 08:44] LudoNieuw commented on #58277
Hi there Kummanish,

Does this only apply to the situation when using your own keys? When using
the default Azure-managed keys, what are the encryption measures taken? Is
application-level encryption performed, for instance?

For me, it was not clear that article was only about self-managed keys.

Best,

Ludo

Op do 2 jul. 2020 om 10:39 schreef kummanish <notifications@github.com>:

[2020-07-02 08:45] VikasPullagura-MSFT commented on #58115
@lgmorand I have checked with internal team on this ask to get more information to share, below is the information:

1. If you use multiple across multiple zones your cluster's availability is just as high as if you spread a single pool across 3 zones so its not like you can't reach the same resiliency. Also, agree that a warning probably makes sense.

2. Yes you can deploy an AZ aware cluster the

[2020-07-02 08:48] kummanish commented on #58277
Hi @LudoNieuw ,
Yes the Data encryption is only applicable when you want to use your custom key stored in the Key Vault.
By default the data is always encrypted using Microsoft managed key and Microsoft controls the key policies.
So if you create a MySQL server, the data is always encrypted.

https://docs.microsoft.com/en-us/azure/mysql/concepts-security#at-rest

Let me know if this clarifies the

[2020-07-02 08:53] LudoNieuw commented on #58277
Thanks!
Good to know about the at-rest encryption. But what about encryption at the
application level (so not on hardware level, but while the application is
running). Does it decrypt and re-encrypt on-the-fly when queries are done,
or does it bulk decrypt when it is being accessed?

thanks in advance!

Ludo

Op do 2 jul. 2020 om 10:48 schreef kummanish <notifications@github.com>:

[2020-07-02 09:04] AjayKumar-MSFT commented on #57857
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-07-02 09:04] #57857 closed

[2020-07-02 09:06] Marc013 commented on #48902
@dgcaron,
With your help I was able to remove the VNet using PowerShell.
Thank you very much!

[code]

[2020-07-02 09:12] donniekerr opened #58278 "VM no longer supports iotedge because VM force build upgrade"
VM no longer supports iotedge because VM force build upgrade

Need instructions on how to downgrade the OS so that the Tutorial will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart create an A

[2020-07-02 09:12] amragawad opened #58279 "About step 4 under the prepare the environment section"
Hi,

Under the "_prepare the environment_" section, is "_Step 4: Application-consistent backup for Linux VMs_" Mandatory to perform the backup [it seems it should be optional], or can I perform an end-to-end backup using only RMAN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a94920a-7a0c-7776-2ce8-3f651ab4462c
* Ve

[2020-07-02 09:24] kummanish commented on #58277
Hi @LudoNieuw
The data-in-motion encryption is using SSL, TLS provision offered by the platform. Please refer to the documentation here : https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl

[2020-07-02 09:38] LudoNieuw commented on #58277
Thanks for the clarification and help!

Regards,

Ludo

Op do 2 jul. 2020 om 11:24 schreef kummanish <notifications@github.com>:

[2020-07-02 09:39] JasSuri commented on #56756
Mass confusion here.
You can definitely do what you are looking to do, except that this is all Azure AD functionality, not Azure AD B2C. So you are not looking to invoke any B2C user flow etc. B2C auths cannot get access to Microsoft APIs, only your own APIs.

- AAD tenant - contains only AAD endpoints. It is a single token issuer
- B2C tenant - contains **both** AAD and B2C token endpoints. There

[2020-07-02 09:39] lgmorand commented on #58115
Hi Vikas,

That's answers perfectly my questions. thanks for your help !

[2020-07-02 09:45] kummanish commented on #58277
hi @LudoNieuw can you please go ahead and close the github request.

Regards,
Manish Kumar

[2020-07-02 09:47] JarroVGIT opened #58281 "DataBricks reference seems incorrect"
On this page there is a 'Important' block, with the following statement:
_"If your subscription includes an Azure DataBricks namespace, roles that are scoped to the subscription will not grant access to blob and queue data. Scope roles to the resource group, storage account, or container or queue instead."_

However, we do have (multiple) Databricks workspaces in our subscription (and in other sub

[2020-07-02 09:51] Rookian commented on #49429
@michaelsync we found a way of adding a Managed Identity to SQL Server when running under a Service Principal. See [here](https://github.com/MicrosoftDocs/sql-docs/issues/2323#issuecomment-652907219)

[2020-07-02 09:52] #58115 closed

[2020-07-02 09:56] AshokPeddakotla-MSFT commented on #58275
@FMauroy Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-07-02 09:57] AshokPeddakotla-MSFT commented on #58278
@donniekerr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-02 09:57] JarroVGIT opened #58282 "Access to specific container is not working according to documentation"
When I give a specific user (which does not have any role within the subscription yet) grant the '_Reader_' role on a Storage Account level, and '_Storage Blob Data Contributor_' on the Container level, this user is still unable to access the Blobs via the portal with the following error:

![image](https://user-images.githubusercontent.com/13659033/86344633-c962df00-bc5a-11ea-9814-8d27cedf1039.png

[2020-07-02 10:03] JarroVGIT commented on #58282
This issue can be closed, it turned out we actually had to wait a couple of minutes when the roles are applied to the user. Apologies!

[2020-07-02 10:03] #58282 closed

[2020-07-02 10:04] KrishnaG-MSFT commented on #58276
@gowdhamankarthikeyan [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else

[2020-07-02 10:08] #58277 closed

[2020-07-02 10:12] vipulsparsh commented on #57989
@Killer47x  You can add the contoso.com as UPN suffix under Fabrikam.com and change the UPN for the users on prem, when the AAD cloud provisioning agent sync it, it will map it with the contoso domain. As you would have already verified contoso domain in AAD.   You can use powershell script to change it for large set of users.

Let me know if you have any questions.

[2020-07-02 10:20] memildin commented on #58119
@BASFmthibodeaux,
Thanks so much for taking the time to leave us your feedback
This alert has not yet been released. If you've seen it, it was sent in error and should be ignored.
When the alert is released, it'll be added to this page.
I'm closing this as an open issue for now, but feel free to continue to comment here.

Thanks

#please-close

[2020-07-02 10:20] #58119 closed

[2020-07-02 10:22] memildin commented on #58236
@priyankareddy20,
Thanks for the question. I'm researching your issue to improve the page based on your suggestions. Relevant changes will be made in the next possible publish.
I'm closing this as an open issue for now, but feel free to continue to comment here as necessary.
Appreciate your contribution to our community.
#please-close

[2020-07-02 10:22] #58236 closed

[2020-07-02 10:41] Marusyk commented on #58197
yeah, sorry, my fault. Everything works well after installing System.Reactive.Core package. Thanks

[2020-07-02 10:41] #58197 closed

[2020-07-02 10:46] priyankareddy20 commented on #58236
But I did not receive an answer.Is it possible to enable azure security
center at management group level.

As management group document says only about security policies.

On Thu, Jul 2, 2020, 12:23 Mel <notifications@github.com> wrote:

[2020-07-02 10:50] rfrankeny commented on #58155
@ryotokuro I must have forgotten to copy the whole command.  I did have the url in the command and I am still getting the same fatal error.

[2020-07-02 10:54] akumaranchath commented on #58020
@hrasheed-msft : Opened a support request. Awaiting confirmation.

[2020-07-02 10:58] yesoreyeram opened #58285 "Deploying management group level resources through tenant deployment"
When doing tenant level deployment, there is an option to nested deployment to subscription as shown below.

[code]
In the same way how to target a management group? I would like to deploy to particular management group. How to specify the management group id in `Microsoft.Resources/deployments`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-02 11:06] vipulsparsh commented on #58176
@solarfusionuk  We will close this now, if you have any further question please tag me so that we can re-open if required.

[2020-07-02 11:06] #58176 closed

[2020-07-02 11:08] DrachovDmytro opened #58286 "Missed details about access token for live accounts."
We are receiving **_non-JWT_** access token when authenticate live users (example_email@outlook.com) using url
[code]

In manifest of app we have
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsof

[2020-07-02 11:15] MisiekBest opened #58287 ""Health Monitoring" link redirects to the same page"
Hi!
Just a minor thing that I found on this page.
The last section of "What is Azure AD Connect" points to "Health Monitoring", which redirects to the beginning of the same page.

Probably previously it was described on a dedicated page since the link looks like this:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-hybrid-identity-health
but now it automatically redirects the

[2020-07-02 11:16] LucaOtto commented on #57960
Yes, I’m really puzzled by this and I’m not sure how it happened.

Distinti Saluti /Best Regards

Luca Ottonari
Azure<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microsoft.com%2Fit-it%2F&data=02%7C01%7CLuca.Ottonari%40microsoft.com%7C05dd4980557d492ea63a08d7fe1cfc3c%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637257272767295082&sdata=AYtZRUZC%2B3OKIczQuWEmJ0wuc7xpLLiVw

[2020-07-02 11:25] win2000b opened #58288 "Moving to another subscription within the same tenant"
The steps mentioned are for moving a key vault to another subscription in a different tenant.

Is there any guidance on moving between subscriptions in the same tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c0970b2-3ec4-2222-0080-0fcb1249c5e6
* Version Independent ID: 1d3c2a12-d0ce-7839-f0d0-36c57fb11545
* Co

[2020-07-02 11:27] robin-martin opened #58289 "AAD Connect Wizard confusion and SelfSigned Certificate more steps needed"
During the Azure Active Directory Connect Wizard I got as far as here:
**On the AD FS farm screen, make sure Configure a new AD FS farm is selected**
But the next step is wrong, as we haven't installed ADFS yet. The screenshot also needs updating.
**Select Use a certificate installed on the federation servers and click Browse**

When we select, provide a password protected PFX certificate file we

[2020-07-02 11:52] DOMZE opened #58290 "State that the Virtual Machine resource name should be 15 chars or less"
The extension will fail when it will try to AAD join itself with status code -2145648639

**Cause:** Azure Device Registration Service finds the resource id parameter is invalid when it attempts to stamp the AzureResourceId value on the DevicePhysicalIds attribute of the device object. This field is the hostname of the machine, but in Azure, AAD will use the resource name of the virtual machine.

[2020-07-02 11:56] SwathiDhanwada-MSFT commented on #58285
@yesoreyeram Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-02 12:13] VikasPullagura-MSFT commented on #58249
@m1o1 Based on this VMSS cli [document](https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest), you can use `--ssh-key-values sshkey1.pub sshkey2.pub` to pass multiple public keys.

![image](https://user-images.githubusercontent.com/48944027/86357391-62a9e980-bc8b-11ea-91dd-651199baac4c.png)

[2020-07-02 12:19] gitjeph opened #58291 "broken link"
The link on the bottom of the page is broken.
It's in this section: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/nested-virtualization#set-up-intranet-connectivity-for-the-guest-virtual-machine

The link should be to this page.
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network

We're using this information o

[2020-07-02 12:26] SnehaAgrawal-MSFT commented on #57849
@alirezacads Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-02 12:29] PriceChild opened #58292 "WEBSITE_NODE_DEFAULT_VERSION not supported on Linux function apps"
Please see the following comment:

https://github.com/Azure/azure-functions-host/issues/3406#issuecomment-652504713

In short, `WEBSITE_NODE_DEFAULT_VERSION` is not supported and is not intended to be supported by Linux apps?

Instead, a properties/siteProperties/properties/LinuxFxVersion must be set to a different value.

I haven't tested this myself yet, but aim to figure out the format required

[2020-07-02 12:31] sriswathir opened #58293 "how to enable transparent connectivity between Guest VMs and Azure VMs page not found"
[Enter feedback here]
For instructions on how to enable transparent connectivity between Guest VMs and Azure VMs, please reference page is not found in MS.
here is the link:
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-07-02 12:34] MonikaReddy-MSFT commented on #57996
@cijothomas & @mrbullwinkle - Thank you very much for providing your insights.
@michaelbunney -
Thanks again for bringing this to our attention. I am going ahead and assigning this to author for getting the doc updates.

[2020-07-02 12:35] MonikaReddy-MSFT commented on #58051
@syedhamjath - Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-02 12:35] #58051 closed

[2020-07-02 12:43] manikandantk88 commented on #57863
Interactive has been mentioned one of the authentication flows like authorization code, Implicit Flow etc. In this section, "How each flow emits tokens and codes", tablet column list out token, refresh token, authorization code details etc.

As a Mobile Developer, I couldn't know how the token is refreshed once the token validity is expired. Whether it is session based or refresh token based, I wa

[2020-07-02 12:50] laminsamba opened #58294 "Azure API Management OAuth 2.0 configuration using the developer portal interactive console."
Issue: I am configuring an API application in APIM management and configuring the OAuth 2.0 to protect the API. However, the application is using “Authorization code” as authorization grant type to generate an OAuth2 token. The API Management generates the redirect_Uri. Currently, the redirect_uri that APIM generates is pointing to the legacy developer portal whilst I want it to point to the new d

[2020-07-02 12:56] jihu opened #58295 "Is it possible to configure a shorter polling interval for new certs in the keyvault?"
`"The instances also poll Key Vault at 24-hour intervals to retrieve a renewed version of the certificate, if it exists."`

Is it possible to configure a shorter polling interval for new certs in the keyvault? Currently, if the cert cached in the Application Gateway is incorrect, but a correct one is in the keyvault, waiting up to 24 hours for the new certificate to be loaded could be a no-go. Tha

[2020-07-02 12:59] ddegasperi commented on #36941
Same for me

[2020-07-02 13:03] jspotanski opened #58296 ""common" endpoint rejecting personal account and requiring work/school"
I'm trying to create a [Tailscale ](https://tailscale.com/) account with my Microsoft account, but even at the .../common/... endpoint I'm getting this error:
`You can't sign in here with a personal account. Use your work or school account instead.`
The docs say this should support both personal and AAD Microsoft accounts. Are there valid reasons this could be happening?

---
#### Document Details

[2020-07-02 13:18] Xergy opened #58297 "Include a screenshot of what the Linux console looks like..."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ba2ac9-6097-7af1-5200-190d2bbbbd08
* Version Independent ID: 35206463-40cf-7af2-a713-cecb70972a1e
* Content: [Connect to a Linux VM using Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-ssh)
* Content Source: [articl

[2020-07-02 13:22] ericthomas1 commented on #57820
This is very unfortunate. The Azure Advanced Threat Protection (ATP) product would be **much more useful** if you could take action based on scan results.

**Example:**
- Blob uploaded
- ATP scan completes
- Results are "no malware found"
- A webhook or other PUSH notification allows action to be taken on blob

The only option today is:
- Blob uploaded
- ATP scan completes
- We have to poll the RE

[2020-07-02 13:34] 1RedOne opened #58298 "Does the Extension / ARM template apply the normal Exclusions?"
From a discussion we were having, it would be good to know if the Extension will apply the default Exclusions one gets when enabling Windows Defender / Microsoft Antimalware, if no value is provided in the ARM template / extension config.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-9

[2020-07-02 13:42] MaxMommersteeg commented on #44973
Not sure if this is the right location, but the API documentation for `UploadAsync` is still incorrect.

See:
https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobclient.uploadasync?view=azure-dotnet#Azure_Storage_Blobs_BlobClient_UploadAsync_System_IO_Stream_System_Threading_CancellationToken_

I don't think this API is actually updating the blob, since when doing so I get the foll

[2020-07-02 13:45] ignaciofls opened #58299 "Broken link at second paragraph "architecture and design principles of Python, see this article.""
[Enter feedback here]
I get a 404 when accessing the link, probably named of the sink page moved

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be943f78-3388-c77f-4c64-d38013952ef9
* Version Independent ID: 6bfc173f-05c9-52d0-a401-3e659e9df1d1
* Content: [Execute Python Script: Module reference - Azure Machine Learning

[2020-07-02 13:52] YutongTie-MSFT commented on #57993
@erhopf Hi, could you please check this issue and update the document if necessary? Thanks.

[2020-07-02 13:53] VikasPullagura-MSFT commented on #58279
@amragawad
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-02 13:57] RodrigoGroener opened #58300 "Video link outdated"
Video link is outdated. New video under: https://www.youtube.com/watch?v=LRoc-na27l0
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a token - Microsoft id

[2020-07-02 13:58] creationsoft opened #58301 "using Azure.DigitalTwins.Core.Serialization; needs to be before DigitalTwin creation code block"
The following code block will not run as it requires the 'using' statement in the Title to be entered before.

Suggest changing the following:
using System.Text.Json;

to
using System.Text.Json;
using Azure.DigitalTwins.Core.Serialization;

// Initialize twin data
BasicDigitalTwin twinData = new BasicDigitalTwin();
twinData.Metadata.ModelId = "dtmi:com:contoso:SampleModel;1";
twinData.CustomProper

[2020-07-02 14:02] evillegas92 commented on #13639
Hi @mrbullwinkle thanks for your response! I had tried that but with no luck. Only repairing Visual Studio worked.

[2020-07-02 14:04] GiftA-MSFT commented on #58299
@ignaciofls we will review your feedback and get back to you shortly. Thanks.

@likebupt please review above feedback for doc update. Thanks.

[2020-07-02 14:09] VikasPullagura-MSFT commented on #58298
@1RedOne
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-02 14:13] VikasPullagura-MSFT commented on #58291
@gitjeph
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-02 14:14] VikasPullagura-MSFT commented on #58293
@sriswathir
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-02 14:15] vipulsparsh commented on #57820
@ericthomas1 Thanks for the feedback Eric. I understand your concern. I will pass on the feedback to respective teams.

[2020-07-02 14:16] teamstap100 commented on #51790
I am still encountering this error on a fresh node.js app with authentication turned on. I have set WEBSITE_AUTH_DISABLE_IDENTITY_FLOW to true, and even tried creating the app in West Europe, and I'm still getting 431 errors when navigating back to the app when I have a session already active.

[2020-07-02 14:16] fowl2 opened #58302 "Link to AAD Federation interoperability guidelines 404s"
this link seems like it's no longer available: https://www.microsoft.com/download/details.aspx?id=56843

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e70f22-6947-70c0-73f9-1d3b309820df
* Version Independent ID: b6fc77d4-2c0f-2101-8a24-1845325f7696
* Content: [Azure AD federation compatibility list](https://docs.micr

[2020-07-02 14:35] mrbullwinkle commented on #13639
Thanks for following back up, glad to hear you got it working again.

[2020-07-02 14:39] writex opened #58303 "Missing a word?"
This sentence is missing one or more words:

"The code for different application instances run as separate processes even when hosted by the same Service Fabric node."

Maybe it should say runs instead of run? ... The code...runs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623fdbd4-8de2-37c4-22cd-14d40b4bb0e9
* Ver

[2020-07-02 14:41] GrzegorzHejman opened #58304 "Authenticate to the backend with managed identity - is the api://client_id_of_backend wrong?"
Is the information regarding the use of managed identity to authenticate with a backend service (Your own Azure AD Application) correct?

When I try to use the client ID of the backend as described - resource="api://Client_id_of_Backend" I always get 500 server error response and the information in the trace says "Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS500011:

[2020-07-02 14:45] prashanthvenumula commented on #36581
Hi, I have the same issue (403 Forbidden - Authorization failed.) using the Azure API for FHIR with Postman. I am able to get access token but when I hit **/Patient** end point I am getting 403 forbidden Authorization failed error...

![image](https://user-images.githubusercontent.com/17801302/86373117-ac50ff00-bca0-11ea-9f50-fc01516df63e.png)

I am unable to add object id to the "Allowed object I

[2020-07-02 14:45] ms32035 commented on #57689
https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/azure-blob-storage?P1=1593699711&P2=1&P3=1&P4=Wet5Hau761fQ6UorxuYiqfVnrqpmuTkHWvHSrBNBaKc%3D&se=2020-07-02T14%3A21%3A51Z&sig=W9KNrhj%2BMI1Rw%2FqAvo6WqGXcxTHMD1paw%2Bst3Bs7pnw%3D&sp=r&sr=b&sv=2015-02-21

You can try `1.3-linux-arm32v7` which seems to work, only different file permissions

[2020-07-02 14:49] str1ke-cw commented on #57689
@ms32035  Thank you for the reply. I will do that. For the link I get a: `ERROR 403: Time-Limited URL validation failed`

[2020-07-02 14:54] TomShinder commented on #58298
This article appears to have been migrated from a very old blog post. Might be worth getting in touch with the product group.

[2020-07-02 14:56] ms32035 commented on #57689
https://mcr.microsoft.com/v2/azure-blob-storage/tags/list

[2020-07-02 15:01] shashishailaj commented on #58274
@HeinzLm Thank you for your query. Do you have a valid support plan ? "Billing" and "Subscription management" cases are free however for any technical support you require to subscribe at least a [developer support plan](https://azure.microsoft.com/en-in/support/plans/developer/) which will cost you around $29/month . Alternatively , you can also ask for help on our Community forum [Microsoft QnA](

[2020-07-02 15:02] SaurabhSharma-MSFT commented on #58300
@RodrigoGroener Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-02 15:07] shashishailaj commented on #58270
@AmitavaHazra Thank you for your query . We use github for documentation improvement . The guidance on the page is generic guidance for any type of non-gallery application . The issue you have described would require troubleshooting and I would suggest you to open a thread on Microsoft QnA for troubleshooting issues unrelated to bugs in the azure documentation and we will help you get it answered

[2020-07-02 15:11] shashishailaj commented on #58271
@break9111 Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:14] shashishailaj commented on #58286
@DrachovDmytro Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:14] shashishailaj commented on #58287
@MisiekBest Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:15] shashishailaj commented on #58288
@win2000b Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:16] shashishailaj commented on #58302
@fowl2 Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:18] shashishailaj commented on #58290
@vipulsparsh Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:18] shashishailaj commented on #58289
@robin-martin Thank you for your feedback . We will investigate and update the thread.

[2020-07-02 15:22] psmanhas commented on #58298
Hello Tom,

Thank you for your email!!!

Can you please help me with the Product Group contact who can help us out on this issue.

This will help me in assisting the customer better so looing forward to your response.

Regards
Preeti

From: Tom Shinder <notifications@github.com>
Sent: Thursday, July 2, 2020 8:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Preeti Singh Manha

[2020-07-02 15:24] shashishailaj commented on #58274
@HeinzLm Hope the explanation above helped. We will now close this issue. Should you have any further query , please feel free to tag me to your reply and I will be happy to help . Thank you.

[2020-07-02 15:24] #58274 closed

[2020-07-02 15:48] AmitavaHazra commented on #58270
@shashishailaj,

the below link for Microsoft QnA is not working.
request you to open a new thread on Microsoft QnA .

[2020-07-02 15:49] dreeves14 opened #58306 "Direction listed in Azure where this page references are wrong."
Information provided in Azure is wrong. For starters, there is no way to send TCP logs from DS as the options are only UDP or TLS. Whether that makes a difference for this you tell me.

Secondly, it states I need to run the agent command, but if I already ran a similar command for sending logs to my Sentinel Collector for Mimecast, do I need to run that agent again? One would assume that the CEF c

[2020-07-02 15:53] SubhashVasarapu-MSFT commented on #58295
@jihu , Thanks for reaching out. We will investigate and update this thread.

[2020-07-02 15:53] AmitavaHazra commented on #58270
I have got link . Thanks.

[2020-07-02 15:53] #58270 closed

[2020-07-02 15:54] chwolfe opened #58307 "404s to Form Recognizer SDK links"
[Enter feedback here]

In the left rail, and in this note:

_The code snippets in this guide use remote forms accessed by URLs. If you want to process local form documents instead, see the related methods in the reference documentation._

![image](https://user-images.githubusercontent.com/811031/86380873-9caec780-bc5a-11ea-969f-77602847da0a.png)

---
#### Document Details

⚠ *Do not edit this sect

[2020-07-02 16:00] JQUINONES82 commented on #38914
Another trick...i don't take ownership of this trick, someone showed me.
If you have an enterprise devops account, there is a way to allow devops to read the keyvault secrets for your library.
If you have a personal account this does not work.

You could open up the firewall to the Azure /11 network, setup the connection from devops to azure with the keyvault.  Setup the variable library and add t

[2020-07-02 16:01] v-demjoh commented on #49502
#please-close

[2020-07-02 16:01] Mlavieri opened #58308 "It appears admins are exempt from Naming Policies"
It appears that Admins are exempt from naming policies however the wording in the document of 'can be exempt' reads that there is a way to also apply the policy to the admin accounts: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-naming-policy#roles-and-permissions

This also conflicts directly conflicts with the verbiage on this page that states admins are exem

[2020-07-02 16:01] #49502 closed

[2020-07-02 16:01] KrishnaG-MSFT commented on #58282
@JarroVGIT Glad to know it's working. Thanks for the update.

[2020-07-02 16:04] KrishnaG-MSFT commented on #58281
@JarroVGIT Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-02 16:05] JamesTran-MSFT commented on #58248
@abhisharm
I walked through the documentation and wasn't able to reproduce your issue.
- Are you using a new storage account or an existing one?
- Can you try these steps with a new storage account?

**Repro steps taken:**
-I created a new storage account and enabled key vault logging using an existing vault.

_$sa = New-AzStorageAccount -ResourceGroupName "kvLogging" -Name "keyvaultlogstestsa" -T

[2020-07-02 16:07] KrishnaG-MSFT commented on #58292
@PriceChild Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-02 16:08] lanicolas opened #58309 "Azure Security Center Policy Initiative no longer in Preview"
The command for policy initiative assignment searches for an initiative that is no longer in Preview, as it is looking for an exact match, no policy definition ID is returned.

Register-AzResourceProvider -ProviderNamespace 'Microsoft.PolicyInsights'
$Policy = Get-AzPolicySetDefinition | where {$_.Properties.displayName -EQ '**[Preview]: Enable Monitoring in Azure Security** Center'}
New-AzPolicyA

[2020-07-02 16:10] JamesTran-MSFT commented on #58309
@lanicolas
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 16:12] rrperkin commented on #56756
OK, now I'm even more confused.

First there's this, from December 4th of last year: [https://azure.microsoft.com/en-us/updates/b2c-deprecate-msol/]

So... which is it? Deprecated or not deprecated?

[2020-07-02 16:19] hansenms commented on #36581
Please check your token and make sure that the `oid` claim of the token corresponds to that client you have added and also verify that you are indeed running in Azure RBAC mode (and not local RBAC mode). See https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac#confirm-azure-rbac-mode

Finally, commenting on closed issues is tricky. We often miss those, so if you have an issu

[2020-07-02 16:20] win2000b opened #58310 "More Information on how to move"
It would be very useful if links were attached to the migration steps for each product.
For example Azure Automation Accounts, just say YES. So you would think its easy. When in fact features need disabling, workspaces unlinking and accounts deleted. This is not mentioned anywhere just the runbook. Would be useful to expand or have links for resources where additional steps are required.

Example:

[2020-07-02 16:20] plettb commented on #57984
This really has nothing to do with not being able to log in to an account.  It has to do with the behavior of the process.  I don't even have OPPORTUNITY to try logging in.  None of the accounts I'm using are stale.  I use all of them on a daily basis.

[2020-07-02 16:23] YutongTie-MSFT commented on #58307
@chwolfe
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-02 16:25] abhisharm commented on #58248
Hey James,
It seems like there is a delay for the container to get created. I came
back 30 minutes later and it was there.
Thanks for your help!

On Thu, Jul 2, 2020, 11:05 AM James Tran - MSFT <notifications@github.com>
wrote:

[2020-07-02 16:25] hpsin commented on #57863
Got  it.  "Interactive" is not a flow, it's just a description that applies to many flows.  It just means that the user visited the login page in a browser and that prompt=none wasn't used, so that the user had a chance to *interact* with the page.

So the authorization code flow, in mobile development, is an "interactive" flow because the user interacts with the login page.  When you use the refr

[2020-07-02 16:26] VikasPullagura-MSFT commented on #58303
@writex
Thanks for the feedback! I will update the document.

[2020-07-02 16:29] priyashetty-gh commented on #58079
@crisansou - The sample cmdlets in PowerShell are applicable to the ACL of the root directory of a container/filesystem. We will  update the PowerShell doc to clarify this and include samples in SDK docs for additional guidance on getting ACLs for the root directory. Will let you know once this is done.

[2020-07-02 16:32] anbene commented on #57356
Hello @SwiftDavid

I've reviewed this thread. I appreciate your feedback, that will help us improve the commercial marketplace.

If I understand correctly, one of the registration forms in Partner Center did not accept your VAT number. To address this issue, first we need to understand where exactly it occurred - there are many forms in Partner Center. The easiest way to pinpoint the issue would b

[2020-07-02 16:37] JamesTran-MSFT commented on #58248
@abhisharm
Thank you for the quick response! I'll go ahead and close out this thread.

If you would like to continue the discussion feel free to reach out on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) or create a new issue.

[2020-07-02 16:37] #58248 closed

[2020-07-02 16:42] SaurabhSharma-MSFT commented on #58306
@dreeves14 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-02 16:43] SaurabhSharma-MSFT commented on #58294
@laminsamba To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-02 16:45] hpsin commented on #58286
This is expected.  Remember, access tokens are for the API **only** - not for you.  Please see the note at the top of the page:

[!IMPORTANT] Access tokens are created based on the audience of the token, meaning the application that owns the scopes in the token. This is how a resource setting accessTokenAcceptedVersion in the app manifest to 2 allows a client calling the v1.0 endpoint to receive a

[2020-07-02 16:55] Gigio77 opened #58312 "Deleting dual authentication"
I am attempting to remove the dual authentication for my microsoft office 365 email.  I only have the option of removing the authentication app but not my phone number for verification.  How do I remove the dual authentication completely so i can simply login with a password and nothing. else?

[2020-07-02 16:57] PramodValavala-MSFT commented on #58026
@alexchen2016 Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-02 16:57] #58026 closed

[2020-07-02 16:58] aodugga opened #58313 "Reference the SH-IR release notes provided in our Download Centre to check for any recent fixes"
We recently had a Support Case, where the customer's SH-IR writing to parquet format was queuing and would not complete. We engaged engineering to investigate the issue for us and ultimately we learned that the issue faced by the customer had already been fixed by engineering and had been rolled out in a new version on the Download Centre about two weeks earlier

This release is generally updated

[2020-07-02 17:00] shashishailaj commented on #58270
@AmitavaHazra My apologies . I have corrected the link . https://docs.microsoft.com/answers/index.html . I saw your link on QnA . https://docs.microsoft.com/en-us/answers/questions/42146/index.html . Please allow us some time and we will try to find the reason for the same . Thank you.

[2020-07-02 17:03] hpsin commented on #58296
My expectation is that the Tailscale team has not enabled MSA users for sign in.  Supporting MSA is both a matter of using V2 for sign in, and enabling the MSA+AAD sign in audience in their app manifest.

Finally, they may be requesting a token for a non-MSA scope/API, but that's not the case here.  Tailscale just needs to update their app to actually accept MSA users.

[2020-07-02 17:03] m60freeman opened #58314 "Intelligent insights is a preview feature, not available in the following regions: West Europe, North Europe, West US 1 and East US 1"
"Intelligent insights is a preview feature, not available in the following regions: West Europe, North Europe, West US 1 and East US 1."

Is this still true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b82de-519d-aed9-8271-6c92eb710cbb
* Version Independent ID: cdb3277c-a8c6-5069-692e-548ab5374cb6
* Content: [Mon

[2020-07-02 17:11] aahill commented on #56122
The container support article lists the services we currently offer for containerization. You may be able to use these containers to develop an offline bot scenario, but unless it's listed here, it's not a docker container we provide.
https://docs.microsoft.com/azure/cognitive-services/cognitive-services-container-support
#please-close

[2020-07-02 17:11] #56122 closed

[2020-07-02 17:12] CharmanderJieniJieni commented on #55410
@DixitArora-MSFT I got the same question, would you please clarify on this? looks like what you mentioned conflicts with what is mentioned in this document https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#scheduling

[2020-07-02 17:13] shawon017 opened #58315 "AZ_BATCH_APP_PACKAGE not invoking"
I am trying to invoke one app_package using cmd as below -
string taskCommandLine = string.Format(@"cmd /c %AZ_BATCH_APP_PACKAGE_ffmpeg#4.3%\ffmpeg-4.3-win64-static\bin\ffmpeg.exe -i {0} {1}", inputMediaFile, outputMediaFile);

But getting - "system cannot find the path specified"

I am referring to this doc - https://github.com/Azure-Samples/batch-dotnet-ffmpeg-tutorial

Please help.

Note - I ha

[2020-07-02 17:15] cynthn commented on #58291
@eross-msft Looks like you deleted the linked article - where should we redirect? Thanks :)

[2020-07-02 17:16] aahill commented on #54743
@GiftA-MSFT this is something the product group should look at. Please reassign this to the product contact.

[2020-07-02 17:17] rrperkin commented on #56756
There's also this: [https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin)

[2020-07-02 17:19] shawon017 commented on #58211
H i'm following this doc - https://github.com/Azure-Samples/batch-dotnet-ffmpeg-tutorial,

Trying to run this command -
string taskCommandLine = string.Format(@"cmd /c %AZ_BATCH_APP_PACKAGE_ffmpeg#4.3%\ffmpeg-4.3-win64-static\bin\ffmpeg.exe -i {0} {1}", inputMediaFile, outputMediaFile);

but every time I'm getting the same message in stderr.txt file. But to test when I tried "cmd /c echo test > sa

[2020-07-02 17:20] cwang25 commented on #58136
After trying different approach.

I found is...
Using Visual Studio Code in-built function to deploy will deploy successfully.
Didn't figure out FTP approach yet..

[2020-07-02 17:21] aahill commented on #54250
I've created an item to investigate.

#please-close

[2020-07-02 17:21] #54250 closed

[2020-07-02 17:23] rrperkin commented on #56756
Finally, there's the basic fact of my question, which is that my question asked about demos and guidance to do this from the docu page _referenced in this issue:_

I want to know how to do the thing that documentation says "you can use". A login.microsoftonline.com endpoint for an interactive or implicit flow takes you through the work-or-school workflow, which doesn't even do a lookup in a B2C di

[2020-07-02 17:27] aahill commented on #53162
@ram-msft this is something the product group should look at. Please reassign this to the product contact.

[2020-07-02 17:29] AmitavaHazra commented on #58270
Thanks shashi. I will be waiting for your reply over there.

[2020-07-02 17:30] NavtejSaini-MSFT commented on #58314
@m60freeman We are checking this and will get back to you.

[2020-07-02 17:31] KranthiPakala-MSFT commented on #58313
@aodugga Thank you for bringing this to our notice and helping us to improve the docs. We will engage with appropriate team on further steps and will keep you posted.

Thanks again.

[2020-07-02 17:32] aahill commented on #57097
Merged this PR

#please-close

[2020-07-02 17:32] #57097 closed

[2020-07-02 17:33] SatishBoddu-MSFT commented on #58301
@creationsoft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-02 17:34] shawngib commented on #52844
Thought I would add to the thread as this is causing issues when workbook is added to blueprint. First deploy of blueprint is successful but when blueprint is updated, re-published with new version and reassigned it fails with "A workbook with the same name already exists". The expected work flow would be workbook is either not deployed if no changes were made to it or re-deployed with changes as

[2020-07-02 17:36] baanders commented on #54519
Hi @johnnzy1 !

**Azure Digital Twins has recently released a new version of the service** (the changes referenced by @asergaz above).

Interfaces and implementation details have changed, and there is a new set of documentation describing the new service (see: [Azure Digital Twins Preview Documentation](https://docs.microsoft.com/azure/digital-twins/)). The Postman article for this issue has now b

[2020-07-02 17:38] memildin commented on #58309
@lanicPanic please take a look at this updated draft:
https://review.docs.microsoft.com/en-us/azure/security-center/security-center-powershell-onboarding?branch=pr-en-us-121010

[2020-07-02 17:38] wedaly opened #58316 "Azure Key Vault with Kubernetes tutorial uses Managed Identity Contributor role instead of Managed Identity Operator"
Under the "Use managed identities" section, the tutorial says to assign the "Managed Identity Contributor" role to the AKS cluster.  However, the [aad-pod-identity docs say to assign the "Managed Identity Operator" role](https://github.com/Azure/aad-pod-identity/blob/7dfdaa7d99e3a8f507d41a9e91fdb179e85b393b/docs/readmes/README.role-assignment.md#performing-role-assignments).  I believe the latter

[2020-07-02 17:46] Xergy opened #58317 "Add example for Linux Cut and Paste or text"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e035d394-de3e-5c25-b539-08a7fa840032
* Version Independent ID: 0c51d3f0-f7ca-9af1-d6f1-02840d4ea4e1
* Content: [Copy and paste to and from a virtual machine: Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bastion-vm-copy-paste)
* Conten

[2020-07-02 17:48] dbrennan commented on #11268
Still hitting this problem 2 years after originally filed :-(

[2020-07-02 17:49] femsulu commented on #57907
Hi @rameshjanjyam , sorry for the delay here. Spoke to Adam who has been assisting you on a separate channel to better understand how to assist. Since this is a doc-management channel and there are no issues with the content, shared the relevant ARM resource with Adam to help you get traction on this issue.

Will now close this issue here but will continue to work with Adam offline if needed.

Tha

[2020-07-02 17:49] #57907 closed

[2020-07-02 17:50] femsulu commented on #57907
@mumian  - FYI

[2020-07-02 17:53] mike-urnun-msft commented on #57775
@darkantoine Hope the answer above is helpful and clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-02 17:53] #57775 closed

[2020-07-02 17:59] JasSuri commented on #56756
See [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1771) on deprecation. It is not relevant in getting tokens for MS Graph API, since that is hitting the AAD portion of your AAD B2C tenant.

**You cannot use an account signed up through an Azure AD B2C flow to get tokens for a Microsoft API.**

You can [create **Azure AD** accounts](https://docs.microsoft.com/

[2020-07-02 18:03] mhopkins-msft commented on #57995
@shwetamathur7 Thank you for calling this to my attention. I've removed that sentence from the topic. The update should be published in the next day or so.

Thanks!
 ~ *Mark*

#please-close

[2020-07-02 18:03] #57995 closed

[2020-07-02 18:06] MikeOwino opened #58318 "username"
What's the username at windows security it keeps rejecting mine

[2020-07-02 18:13] BharathNimmala-MSFT commented on #58310
@win2000b Thank you for sharing the feedback, i have assigned this issue to our document author @tfitzmac to further evaluate the feedback and update the document accordingly.

[2020-07-02 18:13] dreeves14 commented on #58306
Thank you!

    Dalton Reeves
    Senior Systems Administrator + Technology
    P (314) 655-5523 | F (314) 309-3103
    dreeves@anderscpa.com | anderscpa.com
    800 Market Street, Suite 500 | St. Louis, MO 63101

    ANDERS CPAs + ADVISORS
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, July 2, 2020 11:43 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dalt

[2020-07-02 18:17] BharathNimmala-MSFT commented on #57889
@JHStarner  Apologies for delayed response on this. Thanks again for sharing the feedback and will take this as a backlog item with our document authoring team to see if we nee to enhance the document accordingly to update the language for the upcoming sprint.

Closing this issue for now, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and

[2020-07-02 18:17] #57889 closed

[2020-07-02 18:20] MarileeTurscak-MSFT commented on #58316
@wedaly
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 18:21] dpolivy opened #58319 "Include link to configuring this setting via ARM template"
It would be nice to include a link/examples to configuring this setting via ARM templates, too. It looks to be the `proxyOverride` parameter.

https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2018-06-01-preview/managedinstances

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7decb7a-e9ff-ad4a-21fe-386e42d

[2020-07-02 18:21] MarileeTurscak-MSFT commented on #58308
@Mlavieri
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 18:24] gregorvilkner commented on #53783
From @lorne-olo

Yes, this is the bit that is not covered I believe - would be great if the IAccount that goes into the token cache could be extended to include other claims.

My (not pretty) workaround down @mmacy 's recommendation: context is B2C in a WPF application using an MsalAuthHelper and TokenCacheHelper. After sign in, I silently pull another token, simply to get those other attributes (

[2020-07-02 18:27] Grace-MacJones-MSFT commented on #57971
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-02 18:27] #57971 closed

[2020-07-02 18:31] RyanHill-MSFT commented on #57960
@LucaOtto, can you send an email to _AzCommunity[at]microsoft[dot]com so we can look more closely at this issue.

[2020-07-02 18:40] ShajithThaze opened #58321 "HANA Active-Active"
Azure Team,

Do you have similar documentation for HANA Active-Active setup with Pacemaker on Azure? Similar to SAP SCS/ERS cluster, we will have multiple front-end IP for HANA Read-Write and Read-Only in the Azure Load Balancer.

Here is the SUSE Documentation on the CLUSTER WITH SAP HANA SR - PERFORMANCE OPTIMIZED scenario: https://documentation.suse.com/sbp/all/pdf/SLES4SAP-hana-sr-guide-PerfOp

[2020-07-02 18:47] sujitks commented on #58165
Hi @mamccrea

We were trying to mount the storage account's blob container over the private link by using the dbutils.fs.mount method. It was giving us following error:

shaded.databricks.org.apache.hadoop.fs.azure.AzureException: com.microsoft.azure.storage.StorageException: This request is not authorized to perform this operation.
-----------------------------------------------------------------

[2020-07-02 18:54] taytran0 commented on #58316
@wedaly Yes! You are correct!

The reason I used the "Managed Identity Contributor" role in the tutorial was because of all the permissions and auth issues I kept encountering while trying to deploy the pod. So I just gave the AKS cluster that role with the hopes that I don't run into any of those issues later on. However, assigning that role of "Managed Identity Operator" to the cluster will do j

[2020-07-02 19:00] jdorecae opened #58324 "What should go in the second settings, Components_dev Application Insights_Workspace Resource Id?"
Hello,
Thanks for the good tutorial. I however ran into an issue. Your section about updating Application Insight from the Portal shows only one setting, Components_fabrikam_dev_name. I see the equivalent of that parameter for my app, but I have another one that is required and it is called,in my case, Components_dev Application Insights_Workspace Resource Id and it is a mandatory field. I'm not e

[2020-07-02 19:01] phil-shin opened #58325 "Errors array in Copy Activity is always empty, even when the activity fails. Functionality does not work as expected or as implied by documentation."
Errors array in Copy Activity is always empty, even when the activity fails. Functionality does not work as expected or as implied by documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce90bd31-8d12-6e26-c88b-1a9c3a943a40
* Version Independent ID: 8ee9e774-cdbb-b417-7362-a5e6bc11eb60
* Content: [Fault tolera

[2020-07-02 19:09] jeffwmiles opened #58326 "Application Gateway integration with Security Center still possible?"
This page describes integrating an Azure Application Gateway with Azure Security Center, however there doesn't appear to be this functionality in Azure Security Center any longer.

It describes Partner Solutions panes and "Application" resources, but these do not appear.

![image](https://user-images.githubusercontent.com/40004712/86399974-19df3a00-bc65-11ea-9a0d-64478c8768ce.png)

Is it still pos

[2020-07-02 19:11] #58249 closed

[2020-07-02 19:14] Mike-Ubezzi-MSFT commented on #57917
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-02 19:14] #57917 closed

[2020-07-02 19:24] wedaly commented on #58316
Interesting -- I was getting a permission denied error when using the contributor role.  Looking at the [role definition](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#managed-identity-contributor), I see that it's missing the necessary "assign/action" permission.  The permission denied error went away when I switched to the operator role, which has that permissio

[2020-07-02 19:26] aliuy commented on #58099
You can append toString() on the IQueryable generated by the LINQ Provider to examine the query. Reference: https://stackoverflow.com/questions/41023747/how-can-i-trace-the-query-produced-by-the-documentdb-linq-provider

The LINQ Provider is responsible for escaping the input as opposed to delegating the responsibility.

[2020-07-02 19:27] MarileeTurscak-MSFT commented on #58158
Thanks @astaykov ! It looks like someone already made a pull request to remove this because I'm not seeing that text in the article anymore.

If you're still seeing it feel free to make a pull request to have it removed, or post a screenshot in the comments and I'll make sure it's gone.

[2020-07-02 19:27] #58158 closed

[2020-07-02 19:28] igorzi84 opened #58328 "Deserializer is not able to find None as valid enum in <enum 'CopyStatusType'>"
Trying to list all blobs (az storage blob show) and getting ErrorCode:OperationTimedOut on some of the blobs.
Blobs where not all properties set is returned with
**azure.core.pipeline.policies.http_logging_policy : Response status: 500**

From the the --debug output
**msrest.serialization : Deserializer is not able to find None as valid enum in <enum 'CopyStatusType'>**
**msrest.serialization : De

[2020-07-02 19:31] SatishBoddu-MSFT commented on #58189
@chmagitt
Just checking back! Please let us know if you need further help.

[2020-07-02 19:39] taytran0 commented on #58316
@wedaly Can you share the error specifically?

You're right it doesn't have the "assign/action" permission so now I'm confused as to how I got my pod deployed and functioning in the first place. I'll run through this tutorial again and check to make sure. I'll get back to you as soon as possible.

[2020-07-02 19:41] KumariSupriya commented on #58263
We don't support Public Ip for standard SKU on IMDS. Only Public IP addresses with basic SKU are available when using instance metadata service IMDS. Standard SKU is not supported. Refer [here](https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-addresses#standard)

[2020-07-02 19:47] schnitz76 opened #58330 "What about education?"
This tells me nothing about the licensing I need for an education sku.  I don't have:

Azure AD Free | Microsoft 365 Business Standard | Microsoft 365 Business Premium | Azure AD Premium P1 or P2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 650b028a-16b9-f560-a2aa-8613d85ffce6
* Version Independent ID: 0e2c2f6b-65bd-

[2020-07-02 19:52] insaneJO commented on #29183
@MoRMongol  did u find the solution to that . Im facing the same thing ? i dont see how we can target specific vm

[2020-07-02 19:55] SaurabhSharma-MSFT commented on #58312
@Gigio77 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-02 19:59] v-demjoh commented on #50934
This page has been substantially re-written and now appears at this URL:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-create-application-with-simple-commands
Feedback on this new publication is most welcome.

[2020-07-02 19:59] v-demjoh commented on #50934
#please-close

[2020-07-02 19:59] #50934 closed

[2020-07-02 20:00] v-demjoh commented on #50946
This page has been substantially re-written and now appears at this URL:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-create-application-with-simple-commands
Feedback on this new publication is most welcome.

[2020-07-02 20:00] v-demjoh commented on #50946
#please-close

[2020-07-02 20:00] #50946 closed

[2020-07-02 20:00] v-demjoh commented on #50948
This page has been substantially re-written and now appears at this URL:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-create-application-with-simple-commands
Feedback on this new publication is most welcome.

[2020-07-02 20:00] v-demjoh commented on #50948
#please-close

[2020-07-02 20:01] v-demjoh commented on #50949
This page has been substantially re-written and now appears at this URL:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-create-application-with-simple-commands
Feedback on this new publication is most welcome.

[2020-07-02 20:01] v-demjoh commented on #50949
#please-close

[2020-07-02 20:07] marklphillips commented on #51523
<includeroutes> works for me as documented, but I cannot exclude routes using <excluderoutes> - whatever I include in the XML file is ignored.

[2020-07-02 20:12] insaneJO commented on #28077
Hello Everybody

I have the same difficulty as reported here . I am unable to SSH to my instance in the scale set .
I have tried the following
1. adding NAT rules For port 22
2. opening up the port in NSG

Also
![sssh](https://user-images.githubusercontent.com/67760574/86404977-757ee700-bca8-11ea-90bd-e47950ac2a46.PNG)

There is no option to select either of my instances . It just shows blank or n

[2020-07-02 20:29] #54895 closed

[2020-07-02 20:31] zr-msft commented on #54895
thank you for the feedback @Johnnybu !

I have updated the steps in the article to specifically add the *stable* repository. The changes should be available soon.

[2020-07-02 20:32] marklphillips commented on #42991
When a client connects to the VPN using the Azure VPN Client with Azure AD authentication, the client's primary IP address (of it's LAN or WiFI adapter) is registered with our on-premises DNS server. The VPN-specific IP address is not registered. This means that the client's DNS name resolves to an un-routable IP address (with respect to the VPN). How can this be resolved?

For example, a client h

[2020-07-02 21:05] MarileeTurscak-MSFT commented on #58144
@tajaber I think that's right as per my understanding it does not need to be domain joined for all AAD Connect scenarios. For example, if you run an installation on a non domain-joined server, you get the screenshot prompting you to use custom settings.

![image](https://user-images.githubusercontent.com/13383753/86403946-8a855700-bc63-11ea-970c-987ca95b0590.png)

I'm assigning this to the content

[2020-07-02 21:09] SaurabhSharma-MSFT commented on #58315
@shawon017 I suggest you to please open an issue on the mentioned sample repository as this issue is not related to Microsoft documentation.

[2020-07-02 21:10] wayneme75 opened #58332 "PowerShell Script does not work"
This script does not work. New-AzMySqlServer is not a recognized commandlet

$Password = Read-Host -Prompt 'Please enter your password' -AsSecureString
**New-AzMySqlServer** -Name mydemoserver -ResourceGroupName myresourcegroup -Sku GP_Gen5_2 -GeoRedundantBackup Enabled -Location westus -AdministratorUsername myadmin -AdministratorLoginPassword $Password

---
#### Document Details

⚠ *Do not edit

[2020-07-02 21:13] SaurabhSharma-MSFT commented on #58304
@GrzegorzHejman Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-02 21:14] SaurabhSharma-MSFT commented on #58297
@Xergy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-02 21:15] asears opened #58333 "Get-AzSqlDatabaseBackupLongTermRetentionPolicy -current parameter does not exist"
Getting -current parameter does not exist with example code, and example code could be cleaned up for $server variables not in use.

Powershell
Version
-------
5.1.17763.1007

See latest docs
https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqldatabasebackuplongtermretentionpolicy?view=azps-4.3.0

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-02 21:15] zr-msft commented on #48297
Thank you for the feedback @vikranthm !

Please reopen if you continue to have issues.

#please-close

[2020-07-02 21:15] #48297 closed

[2020-07-02 21:18] ajlam commented on #58332
Hi @wayneme75 - the Az.MySql PowerShell module is still in preview and you'll need to install it separately. You can use the following command:  `Install-Module -Name Az.MySql -AllowPrerelease`

[2020-07-02 21:33] shabirjan opened #58335 "Unable to use the code in Azure Functions"
[Enter feedback here]

Hi
I am trying to upload files to my Datalake from Azure Functions, and the code provided here doesn't;'t work in Azure Functions, I am using Version 3 of Azure Functions. Can someone please point me to correct direction here. I need to write files to Azure Datalake Gen2 from my HTTPTrigger Azure Function.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-07-02 21:34] dbrennan opened #58336 "Section "Map the temporary cdnverify subdomain" shouldn't direct you to permanant endpoint"
The section "Map the temporary cdnverify subdomain" says you can jump ahead to "Map the permanent custom domain" if you don't have production traffic, but if you skip over "Associate the custom domain with your CDN endpoint" it won't work and you'll get a weird error message. The first section should clarify that you always need to add the custom domain to your CDN endpoint no matter what option y

[2020-07-02 21:50] kgremban commented on #54453
@SpaceKatt From your thumbs-up, I take it that you approva of arsing's alternative update to just using the OWNER rule instead of GROUP and OWNER. I've updated the docs to reflect this, so will close this issue now. If you have any further questions or comments, please feel free to post here and we can reopen the issue if necessary.

Thanks for bringing this to our attention!

#please-close

[2020-07-02 21:50] #54453 closed

[2020-07-02 21:54] shawon017 commented on #58315
But can you do some help? Just stuck only that point. APP_PACKAGE is not executing, oother than that everything is working.

[2020-07-02 21:55] kcheeeung opened #58337 "Confusing/Misleading Document"
# Problem
The messages contradict each other. The bottom message suggests that it is possible to use a storage account in a different region than that of the HDInsight cluster. For the top message, it does not match what is said on the bottom. This says it is completely impossible. Is usage possible with a different region, but just not recommended?

I need to know this. Thanks.

# Description
In

[2020-07-02 21:55] Grace-MacJones-MSFT commented on #57108
Hello @haydenbr, thank you so much for your patience! As of right now, there isn't a class or interface that describes this metadata so you do have to create an interface on your own. I have shared this valuable feedback with the engineering team and they are now aware of this limitation.

We will close this out for now but if you feel you need more information please just let us know. Thanks agai

[2020-07-02 21:55] #57108 closed

[2020-07-02 21:56] kgremban commented on #57689
@mbialecka could you take a look at this issue?

[2020-07-02 21:58] BharathNimmala-MSFT commented on #57981
@Alex-Derbyshire Apologies for delayed response. Assigning this issue to our document author  @rayne-wiselman to further evaluate the feedback and share any pointers.

[2020-07-02 21:59] femsulu commented on #57977
Hi @mumian, can you share guidance on question below or redirect to a PG contact that can help?

Is there an updated apiversion of the Microsoft.Resources/deploymentScripts that does support a newer azure cli ie 2.2.0 or hiher?

[2020-07-02 22:09] ellismg opened #58339 "Syntax error in code snippet"
The code sample for JavaScript under the "Use with Azure Functions" section has a syntax error.

The line:

[code]

is missing the closing `"` around the options string.  This causes the code sample to also render oddly because there rest of the code is rendered as if it is part of a string.

The line instead should read:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-07-02 22:14] qiufasheng opened #58340 "If Azure App Service's custom domain verification will prevent domain taking over"
[Enter feedback here]
I don't understand very well the statement in italic in the doc.
If the original owner release the resource and a hacker takes it over, if the CNAME is still in DNS, then the hacker will receive all the users traffic, and be able to control contents. The verification is only used to verify ownership of the custom domain when the application was initially set up, and it won't

[2020-07-02 22:20] muttavarapu commented on #21690
I was facing the same issue `AADSTS700016` when trying to get the token with manually created app registrations and bot channel setup. I was trying to create a teams Chatbot. It was working when the bot was setup using teams App Studio. I compared the manifests of both and the  manifest for App Studio created one has `"signInAudience": "AzureADandPersonalMicrosoftAccount"` and `"accessTokenAccepte

[2020-07-02 22:29] mike-urnun-msft commented on #58339
@ellismg Thank you for your feedback! We will review and update as appropriate.

[2020-07-02 22:43] Grace-MacJones-MSFT commented on #58057
Hi @m-sterspace, thanks again for sharing your feedback with us! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2020-07-02 22:43] #58057 closed

[2020-07-02 22:50] KranthiPakala-MSFT commented on #58325
@phil-shin
Thanks for the feedback. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-02 22:51] bignorm64 commented on #57830
Thanks @RohitMungi-MSFT that's the outcome I was looking for.

[2020-07-02 22:52] KranthiPakala-MSFT commented on #58337
@kcheeeung
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-07-02 23:09] PatrickFarley commented on #56591
Maybe someone else has updated this doc, but I'm seeing the same reqs as listed above for 3.0

[2020-07-02 23:14] framled commented on #20758
@rachel-msft thanks, I restart the server and works great.

[2020-07-02 23:42] jeevaeastpoint opened #58343 "Guidelines on how to allow a app specific db users to allow the masked coloumn."
How do we grant access to allow an application specific DB user to view the masked data?
One of the Azure security center recommendation is not to use previleged DB users to allow access for the web app. So we used a non previleged DB user who has limited access. But we are also using Dynamic data masking and due to which the data displayed in the app is showing the masked data. What is the best p

[2020-07-03 00:11] jamesbannan opened #58344 "VM creation from Shared Image Gallery does not pass Purchase Plan details"
I have encountered a bug in Azure DevTest Labs when creating a new VM which is based on a Shared Image Gallery image which includes Purchase Plan information.

I have created a custom image using the CIS Red Hat Enterprise Linux 7 image from the Azure Marketplace. This image has been stored as an image within a Shared Image Gallery (which is also attached to a DevTest Labs instance), and the share

[2020-07-03 00:27] rrperkin commented on #56756
So... I need to

- locate the "Active Directory" blade for the ADB2C tenant in the Azure Portal (Microsoft_AAD_IAM, I guess?)
- create a `$"{name}@{tenant}"` user using the "Create User" selection, not the "Create Azure AD B2C User" or "Invite User" (at Microsoft_AAD_IAM/UsersManagementMenuBlade/AllUsers?)
- assign that user the roles needed to access AD objects (from Microsoft_AAD_IAM/UserDetails

[2020-07-03 00:32] Mike-Ubezzi-MSFT commented on #58038
@trandev We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-03 00:32] #58038 closed

[2020-07-03 00:50] Grace-MacJones-MSFT commented on #58078
Hi @dsi28, thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2020-07-03 00:50] #58078 closed

[2020-07-03 00:51] Mike-Ubezzi-MSFT commented on #58218
@horns-k Thank you for this suggestion. In looking at [Azure Updates](https://azure.microsoft.com/en-us/updates/?updateType=retirements&category=databases) for updateType=Retirements, I could not find any means to identify when services were retired, or updated. The Azure SQL service has a nice set of [release notes](https://docs.microsoft.com/en-us/azure/azure-sql/database/doc-changes-updates-rel

[2020-07-03 00:59] Mike-Ubezzi-MSFT commented on #58332
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-03 00:59] #58332 closed

[2020-07-03 01:39] jamesbannan commented on #58344
Further to this, looking at the auto-generated ARM template when deploying the CIS RHEL Marketplace Image to DevTest Labs, the `properties` section includes the following information, including the `planId`:

[code]
Looking at the same deployment template but specifying the shared image as the source, the `properties` section includes the `sharedImageId` property but does not include the `planId`,

[2020-07-03 01:42] ramuvr opened #58345 "AzureADPreview Module - AzureADDirectorySetting"
When you run Get-AzureADDirectorySetting under step 3 of 'Enable sensitivity label support in PowerShell' you get

"Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try
again."

---
#### Document De

[2020-07-03 01:47] ramuvr commented on #58345
If I use AzureADPreview\Connect-AzureAD I can run the command fine.

[2020-07-03 01:47] mike-urnun-msft commented on #54981
@harouny Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-03 01:47] #54981 closed

[2020-07-03 01:48] Mike-Ubezzi-MSFT commented on #58333
@asears Thank you for bringing this to our attention. I can confirm that the `-Current` parameters being passed in the two [View LTR policies](https://docs.microsoft.com/en-us/azure/azure-sql/database/long-term-backup-retention-configure#view-ltr-policies) PowerShell examples are not supported. I was able to run the statements individually minus the -Current without issue. Also, the `get all LTR p

[2020-07-03 02:10] Mike-Ubezzi-MSFT commented on #58343
@jeevaeastpoint Thank you reaching out. Just to confirm, when you view data exposed via the web application, the DDM is not being applied and there is no masking of sensitive data? I want to ensure your issue and question are well understood. The best practice answer depends on where the data masking needs to take place. Is it only data exposed via the web application or is it also for data expose

[2020-07-03 02:22] #58339 closed

[2020-07-03 02:23] KrishnaG-MSFT commented on #58328
@igorzi84 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest yo

[2020-07-03 02:25] MayankBargali-MSFT commented on #58339
@ellismg Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-03 02:27] KrishnaG-MSFT commented on #58318
@MikeOwino [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest y

[2020-07-03 02:47] PramodValavala-MSFT commented on #58132
@steveculshaw Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-03 02:47] #58132 closed

[2020-07-03 03:01] Yonathan159 opened #58346 "Slots support tags but no posible add tags when deploy a slots"
[Enter feedback here]

Hi every one,
I find the issue with support tags for slots into web app if well i can add tags for a slots when this already create it not  allow add tags when the slots its deploy, this cause that i have a issue with a police for requiered tags, because this resource it into the list to evaluate in indexed mode but really this resource no allow add tags on deploy process (c

[2020-07-03 03:04] PramodValavala-MSFT commented on #58292
@PriceChild Thanks for raising this issue! We have assigned this issue to the content author to review and update the docs accordingly.

[2020-07-03 03:25] barbados-clemens opened #58347 "Issue with json string response is beeing truncated"
I am trying to send a response from an http listener, C#, to the listener which is hosted code in Azure, specifically the default Bot Framework project.

when sending a simple response such as `"{\"hits\":[],\"query\":\"blah\"}"` the content I receive on the bot side is an empty string

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/23272162/86427836-e4f8d480-bcb0-11e

[2020-07-03 03:30] ryotokuro commented on #58155
Can you try `git remote -v` and verify there is a remote for fetch and push that looks like `azure https://github.com/rfrankeny/dotnet-core-api.git` ?

[2020-07-03 03:31] VikasPullagura-MSFT commented on #58303
The doc is updated and changes will go live soon.

[2020-07-03 03:31] ryotokuro commented on #58155
If there is, you might have to commit before you push your changes.
Perhaps doing something like `git commit -m "deployed app" and then doing `git push azure master` might resolve the error.

[2020-07-03 03:32] #58303 closed

[2020-07-03 03:34] sep3digital opened #58349 "Does not support authentication against computer accounts created in AD DS"
Any idea when this feature will be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Overview - On-premises AD DS authentication to Azure file shares](https://docs.microsoft.com/en-us/azure/storage/fi

[2020-07-03 03:48] prashanthvenumula commented on #36581
Sorry for commenting here, Yes I am using Azure RBAC mode only(not local RBAC), I observed oid in my token is not the object id of my client, Can I know how can add my object id as oid in the token?

[2020-07-03 03:51] hansenms commented on #36581
You need to add the user, if that is you, then your user, to the list of FHIR Data Contributors. In your screenshot, you have added your client application, not the user getting the token.

[2020-07-03 03:51] ram-msft commented on #56591
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-03 03:51] #56591 closed

[2020-07-03 04:00] prashanthvenumula commented on #36581
Thank you so much its working after adding my self as FHIR Data Contributor... Thank you again :)

[2020-07-03 04:13] krispenner opened #58350 "VNet Integration for Linux App Service - PORT environment variable still required"
_Originally posted by @AjayKumar-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/34451#issuecomment-509112992_

VNet Integration for Linux App Service has gone GA but the PORT environment variable is still required to be used in the app. I'd just like to understand if that is expected and confirm if it still plans to be deprecated or not. For my Linux web app, I still see PORT set and i

[2020-07-03 04:23] SwathiDhanwada-MSFT commented on #58324
@jdorecae Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-03 04:33] BharathNimmala-MSFT commented on #58346
@Yonathan159 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-03 04:43] BhargaviAnnadevara-MSFT commented on #58113
@atrauzzi I suppose [this](https://github.com/MicrosoftDocs/azure-docs/issues/58112#issuecomment-651927023) reply from #58112 gives direction towards PHP support for Azure Monitor.

Are there any other queries pertaining to the document in question?

[2020-07-03 04:45] SaurabhSharma-MSFT commented on #58317
@JJ Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-03 04:47] SaurabhSharma-MSFT commented on #58319
@dpolivy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 04:47] BhargaviAnnadevara-MSFT commented on #58344
@jamesbannan Thanks for the question and the details! We're investigating this and will get back to you shortly.

[2020-07-03 04:57] alirezacads commented on #57849
Thanks Sneha

[2020-07-03 05:17] zhoucengchao opened #58351 "'pick hostname from backend address' option is now 'Pick hostname from backend target'"
'pick hostname from backend address' option is now 'Pick hostname from backend target'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a317f1-deef-4ba7-5839-f39ce3733655
* Version Independent ID: d85aa8fe-7270-d073-ea56-d1c0759383b8
* Content: [Enabling end to end TLS on Azure Application Gateway](https://docs.microso

[2020-07-03 05:18] SwathiDhanwada-MSFT commented on #58033
@roofiq Just following up to check if you need further assistance on this issue.

[2020-07-03 05:21] BharathNimmala-MSFT commented on #57932
@justinyoo Thanks again for bringing this to our notice and apologies for the experience you are having. As per our [current documentation](https://docs.microsoft.com/en-us/connectors/twitter/) the twitter connector should be supported by Logic Apps regions except Azure China, please refer here for additional details.

Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDoc

[2020-07-03 05:21] #57932 closed

[2020-07-03 05:31] MayankBargali-MSFT commented on #57766
@pandainlove Can you confirm if you Az Module is installed in the machine from where you are executing the command https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.3.0
If it is installed then please verify what is the version using below command:
Get-InstalledModule -Name Az -AllVersions

The latest version is 4.3.0 for Az Modle. If it is not the latest then follow the a

[2020-07-03 05:45] YutongTie-MSFT commented on #57991
@ashishapcps Hi Ashish,  for this issue you can use the layout API as mentioned [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview#layout-api)to get the table format.

To get the key value pairs directly from a table you have to use the response to get the values as per row/column index
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognize

[2020-07-03 05:45] #57991 closed

[2020-07-03 05:46] RohitMungi-MSFT commented on #58105
@diberry Thanks for approving the change. @dargilco The change should be updated in the document in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-03 05:46] #58105 closed

[2020-07-03 06:14] SnehaAgrawal-MSFT commented on #58350
@krispenner Thank you for your feedback! We will review and provide an update as appropriate.

[2020-07-03 06:17] VikasPullagura-MSFT commented on #57222
@cynthn Thanks for updating the document.

[2020-07-03 06:17] VikasPullagura-MSFT commented on #57222
@LingMST The doc is updated now. Closing the issue.

[2020-07-03 06:17] #57222 closed

[2020-07-03 06:24] justinyoo commented on #57932
@BharathNimmala-MSFT Thanks for explanation. So, if we assume the document you mentioned above is true, my technical challenge was just a trivial thing. Let me double check if I can create the Twitter connector in the same region, Korea Central.

[2020-07-03 06:25] SafwanHussain opened #58352 "Azure monitor metric alerts trigger fails when created from ADF ->monitor -> alerts & metrics"
When a metric alert on a azure adf pipeline is created from **adf->monitor->alerts & mertic**s navigation, the alert trigger fails,
when similar alert is created with no change at all is created but from **Monitor -> create new alert** , the trigger fires and the alert is received via email(setup in action group). Can someone help me with this if i am missing something here.

[2020-07-03 06:26] mqlkmd opened #58353 "Specifying Tcp Idle Timeout for private IP"
The documentation mentions how to change the Tcp Idle Timeout for the associated Public IP resource.
How do we specify it for the private IP assigned to the Application Gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e98

[2020-07-03 06:26] ryotokuro commented on #58318
+1 this looks like more of a forum question rather than a documentation change.

But to answer this @MikeOwino we need context behind this question. Provide some screenshots and what you're doing so we know what the actual issue is. Thanks!

[2020-07-03 06:34] KrishnaG-MSFT commented on #58321
@smithashajith Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:35] KrishnaG-MSFT commented on #58326
@jeffwmiles Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:36] KrishnaG-MSFT commented on #58330
@schnitz76 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:38] KrishnaG-MSFT commented on #58335
@shabirjan Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:40] KrishnaG-MSFT commented on #58336
@dbrennan Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:42] KrishnaG-MSFT commented on #58340
@qiufasheng Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 06:44] KrishnaG-MSFT commented on #58352
@SafwanHussain [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I sugge

[2020-07-03 06:45] ryotokuro commented on #58291
@gitjeph [documentation for nested virtualization](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization) exists here, perhaps that can help you set it up.

I notice the two links are quite similar but most likely different pages:
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network
h

[2020-07-03 06:56] genlin commented on #58166
@VYSAKH1,  The steps should apply to SUSE SP4 no matter if it is upgraded from SP3. If you have a issue when upgrade the SUSE VM, please contact [Azure support](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2020-07-03 07:02] ryotokuro commented on #58266
Looks like the bottom link is fine.

The second last link could refer to a few different articles.

- Here is [one article](https://docs.microsoft.com/en-us/cloud-app-security/session-policy-aad) that goes over what session control allows and steps on creating a cloud app security session policy
- [This section](https://docs.microsoft.com/en-us/cloud-app-security/what-is-cloud-app-security#policy-

[2020-07-03 07:06] loekd opened #58356 "Running 'az aks update-credentials' fails if SPN secret value is not surrounded with double quotes"
this statement may fail if the secret is not surrounded with double quotes:

[code]
error output:
[code]

I recommend to change this statement into:

[code]

Running this statement will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633

[2020-07-03 07:07] aspnet4you commented on #49949
@tomkeatingfei - Thanks for sharing the answer. It saved me a lot. :)-

[2020-07-03 07:09] vipulsparsh commented on #58290
@MicrosoftGuyJFlo Can you look into this ?

[2020-07-03 07:10] ryotokuro commented on #58257
@ammills01 Just to make sure I'm not overlooking something but, it's not trying to retrieve from _https://**{custom_name}**.cognitiveservices.azure.com_ is it?

You have replaced {custom_name} with your own, correct?

[2020-07-03 07:11] vipulsparsh commented on #57989
@Killer47x Let us know if you have any questions. We will be closing this soon, please tag me if you have concerns and we can re-open this to work further.

[2020-07-03 07:13] Vlad-Stryapko commented on #17901
As it currently stands, the documentation is misleading. If there are data loss concerns, they should be stated explicitly instead of making people believe a disk cannot be shared by multiple pods while it, in fact, can.
@iainfoulds
Are the aforementioned data loss concerns still valid given each pod writes to a separate folder on the disk?

[2020-07-03 07:16] andyturn31 opened #58358 "Permanent workspace delete does not work"
Hi
I've attempted to delete a workspace permanently using the instructions here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace#permanent-workspace-delete

However, the result is still that the workspace is soft-deleted and cannot be recreated.  Note: i don't wish to recover the workspace - i want to create a new one with the same name in a different tenancy.

Pleas

[2020-07-03 07:20] genlin commented on #51946
@JohnRusk, Thanks for the your comment. We have updated the article to clarify the maximum size for the data disk:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image

I will process to close this issue. Feel free to reopen it if you have any additional comment or question about this issue.

#please-close

[2020-07-03 07:21] #51946 closed

[2020-07-03 07:26] diegodct opened #58359 "RHEL 8.2"
I´m missing RHEL 8.2, already available in Azure portal.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00768bd6-7aab-694a-e6c8-80daf8d41f99
* Version Independent ID: c1be58b6-143e-9c2c-73ed-5bd06a58542c
* Content: [Red Hat Enterprise Linux images in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/workloa

[2020-07-03 07:27] SubhashVasarapu-MSFT commented on #58353
@mqlkmd , Thanks for reaching out. We will investigate and update this thread.

[2020-07-03 07:29] SubhashVasarapu-MSFT commented on #58351
@zhoucengchao , Thanks for reaching out. We will investigate and update this thread.

[2020-07-03 07:33] vipulsparsh commented on #58271
@break9111 Let's try to understand this with an example :

Let’s say a Contoso user (Sally) is invited to Fabrikam and Fabrikam has enabled MFA for B2B users.

If Contoso has MFA policy enabled for App1 but not App2, then if we look at the Contoso MFA claim in the token, we might see the following issue:

Day 1: A user has MFA in Contoso and is accessing App1, then no additional MFA prompt is show

[2020-07-03 07:35] vipulsparsh commented on #58289
@billmath Can you look into this ?

[2020-07-03 07:36] bhushang19 commented on #44425
Is there any update on this?

[2020-07-03 07:38] shabirjan commented on #58335
@KrishnaG-MSFT  Just to provide you bit more details, I am using Java Azure Functions. I am able to connect to my file system, directory and I can call getAccountName successfully, but when i try to create folder or file, the function execution is stuck and i just get 500 without any error.

[2020-07-03 07:46] joerianto83 commented on #52844
I have a workaround for this, at least in our DTAP deployment by always remove all workbooks or the specific workbook first then deploy it again.  Based on the quote of @gardnerjr , this works fine until now, it's not the most solid solution, but I can continue.

[2020-07-03 08:26] Prabhakar96-dev opened #58360 "Unable to create an invitation using Graph API with Application permission type"
On invitation creation, Microsoft Graph can automatically send an invitation email directly to the invited user. Reference [link](https://docs.microsoft.com/en-us/graph/api/invitation-post?view=graph-rest-1.0&tabs=http) . I am able to send invitation with **Delegated** Permission type, but  when I used **Application** Permission type it's throwing an exception. The below is the exception

{
"error

[2020-07-03 08:29] foramkumar-parekh opened #58361 "cannot get the email address when login using Azure Active Directory."
The document is well crafted and helps setup the authentication with local as well as Azure Active directory very well.

The one issue I face here is that I need the email address with which the user has logged in. For this, I tried giving _signInNames.emailAddress_ as well as the _email_ as the output claim.

The _signInNames.emailAddress_ works for authentication with a local account but I am no

[2020-07-03 08:32] AjayKumar-MSFT commented on #58350
@krispenner, Thanks for posting this question and sharing your valuable feedback.
Firstly, apologies for any inconvenience with this problem, I completely understand the concern here.

I noticed that you have also raised this question on Microsoft Q&A [thread](https://docs.microsoft.com/en-us/answers/questions/42385/index.html), and mentioned that "it is affecting all 20 of my Linux App Services.

[2020-07-03 08:34] andyturn31 opened #58362 "Automation Accounts only support 15 tags"
Hi

I need to apply more than 15 tags to an Automation Account (Microsoft.Automation/automationAccounts)

If i attempt to add more with through powershell, ARM template or portal i get an error: Too many tags:

	{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage

[2020-07-03 08:55] thorhj opened #58363 "Description of New-AzRoleAssignment with RoleDefinitionId uses incorrect parameters"
The description of how to assign a role using the unique role ID is wrong:

[code]

Using the above parameters to call `New-AzRoleAssignment` throw an `AmbiguousParameterSet` error. On the [documentation page](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azroleassignment?view=azps-4.3.0) for the function, it describes that you can only use `-RoleDefinitionId` together with `

[2020-07-03 08:55] birdnathan opened #58364 "NTFS Permissions"
I believe you should add a "Assigning NTFS Permissions" section to these docs. As per https://docs.microsoft.com/en-us/azure/virtual-desktop/create-file-share#configure-ntfs-permissions

By default "Everyone" will have full access to the Azure Netapp Files volume. I know I need to change the ACL's but there is no mention of this on this page to keep others right, even a reference to this might hel

[2020-07-03 08:55] SumanthMarigowda-MSFT commented on #58349
@sep3digital Thanks for your question. We are checking on this and will respond to you soon.

[2020-07-03 09:02] SnehaAgrawal-MSFT commented on #58082
@MishalValiyakath Just checking if you have chance to see previous response on this.

[2020-07-03 09:11] SubhashVasarapu-MSFT commented on #58251
@durayakar , Appreciate your patience. The document you were referring here is guiding to adjust diagnostic settings for Azure load balancer basic SKU and not for standard SKU. For standard SKU please go though this [document](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics) for enabling diagnostics. Here is the screenshot for Basic SKU,
![image](https://use

[2020-07-03 09:11] #58251 closed

[2020-07-03 09:12] SubhashVasarapu-MSFT commented on #58253
@markturpinMSFT , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-03 09:12] #58253 closed

[2020-07-03 09:14] SnehaAgrawal-MSFT commented on #58101
@cpenner312 Apologize with the inconvenience with this issue! Referencing this issue  https://github.com/Azure/azure-cli/issues/14208 for better track on this. Will close here.

Thanks again for raising this issue.

[2020-07-03 09:14] #58101 closed

[2020-07-03 09:17] SubhashVasarapu-MSFT commented on #58268
@InfiniteQ2 , Appreciate your patience. Could you please mention which SKU(Basic/Standard) of VWAN was deployed in your environment?

[2020-07-03 09:18] vipulsparsh commented on #58361
@foramkumar-parekh Thank you for reaching out. We will investigate this and reach out to you.

[2020-07-03 09:20] vipulsparsh commented on #58345
@ramuvr  Thanks for reaching out. We will investigate this and update.

[2020-07-03 09:20] #58107 closed

[2020-07-03 09:20] SwathiDhanwada-MSFT commented on #58362
@andyturn31 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-03 09:22] SnehaAgrawal-MSFT commented on #58107
@Hakuroda Thanks again for the feedback! I have created PR for this and this will be merged soon.

[2020-07-03 09:23] SwathiDhanwada-MSFT commented on #58358
@andyturn31 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-07-03 09:24] SubhashVasarapu-MSFT commented on #58295
@jihu , Appreciate your patience. This functionality of reducing the poll interval is not available as of now. You should the change the Keyvault cert to different version so that it will be pulled immediately. Once fetched then you can change it back to version less so that it will be periodically retrieved again.

[2020-07-03 09:27] KalyanChanumolu-MSFT commented on #58213
@william-liebenberg We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-03 09:27] #58213 closed

[2020-07-03 09:28] InfiniteQ2 commented on #58268
@SubhashVasarapu-MSFT -- Standard

[2020-07-03 09:31] jihu commented on #58295
Hi @SubhashVasarapu-MSFT ,

I'm not sure what you mean with "You should the change the Key Vault cert to different version so that it will be pulled immediately". We **are** inserting the cert with a new version, but the Application Gateway is not checking the Keyvault on every request, and because of the 24 h polling interval it can take a long time before it notice the new version.

[2020-07-03 09:32] Prabhakar96-dev commented on #58360
I'm able to invoke API using Application permission type, but not  received and email.

[2020-07-03 09:33] #58360 closed

[2020-07-03 09:36] Klaas- opened #58365 "Usage of SAP_INTERNAL_HANA_SUPPORT"
Hi,
the Azure HANA Backup wants to use SAP_INTERNAL_HANA_SUPPORT. It seems this is very discouraged by SAP:
see help: https://help.sap.com/viewer/b3ee5778bc2e4a089d3299b82ec762a7/2.0.05/en-US/de421861bb571014846288086be76719.html
and sap note 2081857 https://launchpad.support.sap.com/#/notes/2081857 - there is even an active check that warns once an hour to remove these privileges from the user.

[2020-07-03 09:36] KalyanChanumolu-MSFT commented on #58025
@sebgod Apologies for the delay in getting back to you.
You can retrieve the IP's programmatically using the [Service Tag Discovery API](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#use-the-service-tag-discovery-api-public-preview)

The [Json files](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#discover-service-tags-by-using-downloadab

[2020-07-03 09:37] KalyanChanumolu-MSFT commented on #58025
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-03 09:37] #58025 closed

[2020-07-03 09:46] ram-msft commented on #58090
@adhamod I have raised the PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/121104 for the same.
@KellyDF Could you please review the same.

[2020-07-03 09:52] PriceChild commented on #58292
https://stackoverflow.com/a/58518078 has some example syntax for the required settings.

[2020-07-03 09:55] Tim-Bijnens opened #58366 "Docs stop without further links on how to actually implement it in an application, only basic "you have to use the application ID" , this is not really enough information, I was hoping to find a way on how to implement it."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddcad97f-02c6-4307-7ed8-85ba7ae23ecc
* Version Independent ID: 51a5e20b-c221-ee05-cb44-a479bfcf1a00
* Content: [Configure Always Encrypted by using Azure Key Vault - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/always-

[2020-07-03 09:58] the-mod opened #58367 "Permanent delete of Log Analytics"
In the Documentation ([LINK](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/platform/delete-workspace.md)) you write for permanent deletion:

`Add '-force' tag to permanently delete your workspace`

so use the command:

`PS C:\>Remove-AzOperationalInsightsWorkspace -ResourceGroupName "resource-group-name" -Name "workspace-name" -Force`

In the Docu of `Remove-AzOper

[2020-07-03 10:03] SubhashVasarapu-MSFT commented on #58326
@jeffwmiles , Appreciate your patience. Yes, the integration of APPGW WAF with security center has gone through a lot of changes till date. In order to integrate and implement this solution, please go through this latest [document](https://docs.microsoft.com/en-us/azure/security-center/security-center-partner-integration) that explains how to Integrate security solutions in Azure Security Center.

[2020-07-03 10:15] ram-msft commented on #58202
@cahann @Hazem El-Hammamy In Luis portal when we download and import the json file for app, In the pop window when we click on "upgrade now" we are seeing the upgrade failed. Could you please help with the correct json file.

![image](https://user-images.githubusercontent.com/49180516/86459019-cd1e6080-bd43-11ea-9505-316d29f48dee.png)

![image](https://user-images.githubusercontent.com/49180516/86

[2020-07-03 10:17] SubhashVasarapu-MSFT commented on #58351
@zhoucengchao , Appreciate your feedback. The document has been edited accordingly and it would take some time for the changes to get reflect over the document.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-03 10:17] #58351 closed

[2020-07-03 10:23] christophe-havard-sonarsource opened #58368 "No need for SAML plugin"
Since Sonarqube 7.8, there is no need for the SAML plugin as it is embedded.
You can find it under **Administration > Configuration > Security**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5afd778b-76b5-b410-266b-046a437ee6b0
* Version Independent ID: 3eb0aa0f-4135-8193-6b0d-915ec703fbcb
* Content: [Tutorial: Azure

[2020-07-03 10:25] psmanhas commented on #57373
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-03 10:25] #57373 closed

[2020-07-03 10:27] psmanhas commented on #58263
@KumariSupriya Hey thanks for providing the information.

[2020-07-03 10:28] martinnaughton opened #58369 "The javascript link brings you to java tutorial"
[Enter feedback here]
At the bottom of the page the javascript link brings you to the java tutorial instead of the javascript one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a95a4ec9-663d-9ff2-be4a-14bb2e2c706c
* Version Independent ID: e76934ea-305e-927f-3d54-d4df38d48892
* Content: [Quickstart: Create an event hub

[2020-07-03 10:34] VikasPullagura-MSFT commented on #58356
@loekd
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-03 10:36] VikasPullagura-MSFT commented on #58364
@birdnathan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-03 10:36] VikasPullagura-MSFT commented on #58364
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-07-03 10:38] VikasPullagura-MSFT commented on #58359
@diegodct
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-03 10:38] VikasPullagura-MSFT commented on #58359
@asinn826
Can you please check and add your comments on this doc update request as applicable.

[2020-07-03 10:39] CHEEKATLAPRADEEP-MSFT commented on #58369
@martinnaughton Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/121109](https://github.com/MicrosoftDocs/azure-docs-pr/pull/121109)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2020-07-03 10:39] #58369 closed

[2020-07-03 10:40] KrishnaG-MSFT commented on #58360
@Prabhakar96-dev Hope you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so going forward, if issue is intended to update

[2020-07-03 10:41] MayankBargali-MSFT commented on #58162
Hi @leoscricca

Please find my below comments

_Is DotLiquid kept up to date?_
Yes on the connector perspective it is always up to date. If there are changes at the Dotliquid end/new feature/new tags added then connector PG will add it to the connector as soon as they are added in Dotliquid

_What is the version of the current Logic Apps-Liquid connector?_
Connector PG always updates it to the lat

[2020-07-03 10:42] KrishnaG-MSFT commented on #58367
@the-mod Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 10:43] MayankBargali-MSFT commented on #58192
@RonnieQuan Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-03 10:43] #58192 closed

[2020-07-03 10:45] KrishnaG-MSFT commented on #58365
@Klaas- Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-03 10:52] SwathiDhanwada-MSFT commented on #58358
@andyturn31 Can you please try to force delete the workspace using the [REST API](https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces/delete) ?

![image](https://user-images.githubusercontent.com/48976275/86462269-f5f52480-bd48-11ea-9eab-af4a7b84f32e.png)

And also while providing the values make sure to click on  + symbol after adding force= true value pair.

![image](https://user-i

[2020-07-03 10:57] Raregine opened #58370 "Clearing IoT Edge Certs folder: Clarification needed on Intructions"
Please provide more clarity on the instructions below. Must all the files in the two folders below be deleted?

Thanks!

5. If you've used any other certificates for IoT Edge on the device before, delete the files in the following two directories before starting or restarting IoT Edge:

Windows: C:\ProgramData\iotedge\hsm\certs and C:\ProgramData\iotedge\hsm\cert_keys

Linux: /var/lib/iotedge/hsm/

[2020-07-03 11:05] vipulsparsh commented on #58368
@christophe-havard-sonarsource  Thanks for the feedback. We will investigate and update accordingly.

[2020-07-03 11:12] SadiqhAhmed-MSFT commented on #58365
@pvrk FYI.

[2020-07-03 11:17] andyturn31 commented on #58358
Thanks very much, that worked fine.
The issue in Powershell remains but i have managed to achieve what i needed using REST API.

[2020-07-03 11:17] #58358 closed

[2020-07-03 11:18] VikasPullagura-MSFT commented on #58166
@genlin Thanks for adding your comments.

[2020-07-03 11:18] atrauzzi commented on #58113
Not really, as it's an unsupported SDK and isn't vendor agnostic.

[2020-07-03 11:28] psmanhas commented on #58356
@loekd I tried following the document and I did not encounter the issue which you mentioned:

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/35990743/86464948-3c994d80-bd4e-11ea-9677-7ae51e39637e.png)

However I will be reaching out to the author of the doc and get the confirmation.

[2020-07-03 11:30] AdamSharif-MSFT opened #58371 "Network limits for B-series VMs?"
B-series VMs do not seem to show the network throughput limits, unlike other VMs - are these 'unlimited' network throughput, or is this variable too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e1904473af31
* Content: [B-series bu

[2020-07-03 11:37] VikasPullagura-MSFT commented on #57538
@bluonic Apologies in delayed response.

I checked with internal team on this, and got the confirmation that this policy works everywhere.

On the single-session SKU it is enabled by default, on multi-session it is disabled by default.

Hope this information helps.

[2020-07-03 11:37] VikasPullagura-MSFT commented on #57538
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-03 11:37] #57538 closed

[2020-07-03 11:39] loekd commented on #58356
I think I may have had a "/" character in the secret, making it an invalid web request

[2020-07-03 11:44] sccmfan opened #58372 "add automated user provisioning documentation"
Currently, it is also possible to use automatic user provisioning from Azure AD to Citrix ShareFile/Content Collaboration.
It would be great to have official documentation on how to configure it, instead of reinventing the wheel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627963d6dd8
* Vers

[2020-07-03 11:52] pvrk commented on #58365
Adding @Shradha Barpute<mailto:shbarp@microsoft.com> to respond.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Friday, July 3, 2020 4:42:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kartik Pullabhotla <pullabhk@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micro

[2020-07-03 12:02] MayankBargali-MSFT commented on #58347
@barbados-clemens Thank you for your feedback! We will review and update as appropriate.

[2020-07-03 12:03] Rinshad opened #58373 "Cost of each container under a storage account"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-03 12:04] gitjeph commented on #58291
This is the original link
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network

[2020-07-03 12:10] LucaOtto commented on #57960
Hi @RyanHill-MSFT . It seems that this email address is no longer valid.

Thanks
Luca

[2020-07-03 12:10] PramodValavala-MSFT commented on #58190
Messages have to be "pushed" and "pulled" from Service Bus by an external service. So, a function app would have to pull messages from a service bus entity, which can be achieved by using the [official service bus trigger binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp).

Since service bus have "pull" schematics, the service should

[2020-07-03 12:14] AshokPeddakotla-MSFT commented on #58370
@Raregine Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-03 12:19] PramodValavala-MSFT commented on #58232
@thomas-mutter Thanks for catching that! 2.1.0 is the latest version and should work for v3 as well, as it is targeted for .NET Standard.

I believe there is no doc with such compatibility information but the READMEs of the respective extensions should have some information on it. Nonetheless, thanks for the feedback! We have assigned this issue to the content author to review and update according

[2020-07-03 12:22] msshradhabarpute commented on #58365
Here are details on why we need to use this role for Azure Backup and how we may not be able to get rid of it totally!

The reason for this role was to get few verification and validation information regarding backups and that information was only accessible via this role. We heard the concern about this role earlier and even talked about SAP HANA team about this. They agreed that the information

[2020-07-03 12:34] memildin commented on #58309
@lanicolas thanks for taking the time to leave this comment and help make the docs better.
I've made the change to the page and it'll go live early next week.
I'm closing this issue but feel free to comment here again.
#please-close

[2020-07-03 12:34] #58309 closed

[2020-07-03 12:42] bobsyourmom opened #58374 "Should your kql query should be for Category field, not CategoryValue?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3675fdf-bb64-d92d-3d3c-b4b3aa0dd0d2
* Version Independent ID: ab6754aa-a227-3c9c-6e99-d89ddfa25c78
* Content: [Azure Activity log - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log)
* Content Source: [articles

[2020-07-03 12:43] VikasPullagura-MSFT commented on #58371
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-03 12:43] VikasPullagura-MSFT commented on #58371
@ayshakeen
Can you please check and add your comments on this doc update request as applicable.

[2020-07-03 12:57] VikasPullagura-MSFT commented on #58321
@rdeltcheva Can you please add your comments.

[2020-07-03 13:15] #58147 closed

[2020-07-03 13:26] JJDE opened #58375 "clarify "which allows CSP partners sell your products""
point1:
i had the issue that my offerings was NOT installable into CSP Subscriptions by customers... the docu here is misleading , at least for me. The settings are not only needed if you want to enable CSP Providers to sell your solution they are also mandatory if an existing customer runs subscriptions via CSP model and want to install the offer
point2:
"In addition to publishing your offers thr

[2020-07-03 13:29] ryotokuro commented on #58291
Yes, looks like the page was deleted so perhaps the above link may suffice in the meantime.

[2020-07-03 13:29] AjayKumar-MSFT commented on #34451
Everyone, apologies for all the frustration and inconvenience with this issue. We have relayed this issue to our product engineering and have been discussing on this internally. We will respond on this shortly.

For those the issue still persists, please share one of your WebApp name directly or [indirectly ](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publ

[2020-07-03 13:34] SwathiDhanwada-MSFT commented on #58374
@bobsyourmom Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-03 13:48] elstanescu opened #58376 "Missing "" in Bash command in Disable system-assigned managed identity from an Azure VM section"
Correct one:
curl 'https://management.azure.com/subscriptions/<SUBSCRIPTION ID>/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM?api-version=2018-06-01' -X PATCH -d '{"identity":{"type":"None"}}' -H "Content-Type: application/json" -H "Authorization: Bearer <ACCESS TOKEN>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-03 13:56] SwathiDhanwada-MSFT commented on #58374
@bobsyourmom Thanks for your feedback. I made necessary changes to the document and they will be live soon.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-03 13:57] #58374 closed

[2020-07-03 13:59] RyanHill-MSFT commented on #57960
@LucaOtto I've updated the email address. Was missing markdown character.

[2020-07-03 14:21] atn832 opened #58377 "What laptops can run Azure Kinect?"
I would like to buy a new laptop to use the Azure Kinect. How do I know which laptops can run it? Is it safe to assume that most laptops from 2019-2020 would have compatible host controllers? Would the Surface Laptop 3 work? Would Dell XPS 13 (2020) work too?

The page mentions that there are known issues with "ASMedia USB host controllers", and that "Windows, Intel, Texas Instruments (TI), and Re

[2020-07-03 14:22] KrishnaG-MSFT commented on #58128
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-03 14:22] #58128 closed

[2020-07-03 14:24] KrishnaG-MSFT commented on #58131
@ganga1980 Thanks a lot for the quick response!
@sormita Hope the insights / link provided by @ganga1980 was helpful to resolve your issue.
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and

[2020-07-03 14:24] #58131 closed

[2020-07-03 14:31] igorzi84 commented on #58328
Got it

[2020-07-03 14:31] #58328 closed

[2020-07-03 14:48] AshokPeddakotla-MSFT commented on #58377
@atn832 Please have a look at the  https://docs.microsoft.com/en-us/azure/Kinect-dk/system-requirements.
Also assigning this issue to the content author to evaluate and update as appropriate.

[2020-07-03 14:51] atn832 commented on #58377
Thank you for pointing me to that page. How can I be sure that a laptop with a "Seventh Gen Intel® CoreTM i3 Processor" or more, will have USB host controllers that are from either Windows, Intel, Texas Instruments (TI), and Renesas, and are not from ASMedia?

[2020-07-03 15:13] sindkor opened #58379 "Broken link: Configure Role Based Access Control (RBAC)"
The linked page under "Configure Role Based Access Control (RBAC) to configure additional security groups for your clusters." seems to be broken. It sends me to a "review.docs.microsoft.com"-url. If I remove the "review"-part it works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c

[2020-07-03 15:19] ericthomas1 opened #58380 "No "Diagnostic Settings" option under "Monitoring" section of Function App"
Hello,

I'm trying to enable Monitoring for my Function App by following the instructions here, but there is no `Diagnostic Settings` option.

Please advise.

Thank you

![image](https://user-images.githubusercontent.com/42788729/86482064-09cb6700-bd06-11ea-887f-4f370fb525bb.png)

![image](https://user-images.githubusercontent.com/42788729/86481971-ddafe600-bd05-11ea-998b-63ef364ec31a.png)

---
##

[2020-07-03 15:45] julioas09 commented on #58128
In my case it is not showing, though I can select it as a value for the y axis, but not display both :(

![Annotation 2020-07-03 174451](https://user-images.githubusercontent.com/3543529/86483714-ed0a5000-bd54-11ea-818b-9e443216bd08.jpg)

[2020-07-03 15:49] amanmcse commented on #30802
I have posted another solution to this problem here: https://medium.com/@amanmcse/ropc-username-password-flow-fails-with-aadsts50126-invalid-username-or-password-for-federated-90c666b4808d?sk=7c4c55332c5b27d0546abf3d3487e85b

[2020-07-03 16:14] NunoBem commented on #47611
@RyanHill-MSFT I just got my app update rejected by Apple.

Some search took me here. How is this issue Closed? The deadline was 30Jun, there's no solution?

@m-andersen can we migrate "easily" our users to Firebase?

[2020-07-03 16:21] RyanHill-MSFT commented on #47611
@NunoBem the product team has a public preview ready for release. Release schedules have been muddled due to the current pandemic. Not that it's an excuse but a reason for such delays. Reach out to me at _AzCommunity[at]microsoft[dot]com_ so I can provide you the document on how to use OpenID configuration so you can get your app certified. I certainly apologize for this gap but rest assured the t

[2020-07-03 16:29] awpetree opened #58382 "Cassandra Connector Metrics for Cosmos"
[Please update doc to include Cassandra Connector metrics. Cassandra Connector Avg Replication Latency and Cassandra Connector Replication Health Status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure M

[2020-07-03 16:36] SaurabhSharma-MSFT commented on #58363
@thorhj Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-03 16:37] SaurabhSharma-MSFT commented on #58366
@Tim-Bijnens Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 16:37] SaurabhSharma-MSFT commented on #58372
@sccmfan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 16:38] SaurabhSharma-MSFT commented on #58373
@Rinshad To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-07-03 16:39] SaurabhSharma-MSFT commented on #58376
@elstanescu Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-03 16:40] SaurabhSharma-MSFT commented on #58379
@sindkor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 16:41] SaurabhSharma-MSFT commented on #58375
@JJDE Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 16:42] SaurabhSharma-MSFT commented on #58380
@ericthomas1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-03 16:43] SaurabhSharma-MSFT commented on #58382
@awpetree Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-03 16:48] SatishBoddu-MSFT commented on #58154
@elhorton Once we receive the exact location of the new content to be added, we will create a PR.

[2020-07-03 16:49] SatishBoddu-MSFT commented on #58200
@DNorthcott
Just checking back! Please let us know if you need further help.

[2020-07-03 16:53] matayp opened #58383 "Feedback - AddToTime - Unexpected behaviour"
Was using the AddToTime function in ADF to add a month to a date and it literally added 1 unit to the month. I didn't expect this behaviour, my assumption was that it would add one calendar month not add a literal integer to the month value. The impact of this was that my pipeline went from pulling data for 31/01 to 28/02 to 28/03. I ended up in an infinite loop because my exit clause was checking

[2020-07-03 17:21] mrochon opened #58385 "POST needs 'p=' before journey name"
The POST statement is missing p-parameter in front of the journey name, should be: ?p=B2C_1A_...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21f5240-6fe2-41ec-293a-2e3b33522706
* Version Independent ID: 095c2d6b-8691-74b6-99d5-db0ee1017194
* Content: [Configure the resource owner password credentials flow with cust

[2020-07-03 17:46] jeffreykey opened #58386 "AzCopy synchronous?"
[Enter feedback here]

This page states that AzCopy runs synchronously but other (more?) pages seem to indicate that it's async.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure B

[2020-07-03 18:59] PatrickFarley commented on #56446
I've fixed the indentation so hopefully the block structure is more clear. The text in between snippets is important for snippets of this size
#please-close

[2020-07-03 18:59] #56446 closed

[2020-07-03 18:59] PatrickFarley commented on #56104
I've removed the self construct. I don't know why it was in the sample code to begin with, but the devs have removed it from there as well
#please-close

[2020-07-03 18:59] #56104 closed

[2020-07-03 19:00] PatrickFarley commented on #57268
I've added the client SDK quickstarts to the top of the list here
#please-close

[2020-07-03 19:00] #57268 closed

[2020-07-03 19:16] markturpinMSFT commented on #58253
Will the documentation be updated in order to reduce confusion with customers?

[2020-07-03 19:27] PatrickFarley commented on #57760
I've updated the Python sample code. Note that in other languages, the sample code hasn't yet been updated; we are working on creating sample code for them as well.
#please-close

[2020-07-03 19:27] #57760 closed

[2020-07-03 19:36] cahann commented on #58202
We offer a new entity type that is v2 of the composite entities which should povide better accuracy, users have the option to upgrade to try it out. If your JSON is failing please share it. Below is a link for the documentation for more details:

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/migrate-from-composite-entity

[2020-07-03 19:39] PatrickFarley commented on #57963
Thank you, I've fixed that code snippet
#please-close

[2020-07-03 19:39] #57963 closed

[2020-07-03 20:39] osaid202 opened #58387 "[Table's not updated to show that "Web app that signs in users" scenario does support platforms such as Java.]"
Looking at the table furthest down, the only icon indicating support for the web app scenario is .NET. However, clicking on the [detailed web app guide here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-overview?tabs=aspnetcore) shows more supported frameworks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-07-03 20:43] osaid202 commented on #58387
Looking at the table furthest down, the only icon showing support for web app scenario is .NET. However, clicking on the [detailed web app guide here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-overview?tabs=aspnetcore) shows more supported frameworks.

[2020-07-03 20:52] durayakar commented on #58251
Thank you,
The link below doesn't have information on how to enable diagnostic logging for a "standard" load balancer... Am I missing something?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: suvasara <notifications@github.com>
Sent: Friday, July 3, 2020 5:11:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Duray AKAR <durayakar@hotmai

[2020-07-03 21:20] wpbrown opened #58388 "supportingScriptUris download fails if there is a redirect"
The deploymentscript.sh bootstrap should use -L in curl to follow redirects when downloading supporting artifacts.

Trying to use the download latest URL redirect for github, you just end up with the redirect page body being downloaded...

`<html><body>You are being <a href=\\\"https://github.com/wpbrown/azmeta-pipeline/releases/download/v2.0.0/db_init.pyz\\\">redirected</a>.</body></html>`

---
#

[2020-07-03 21:45] ammills01 commented on #58257
Yes, {custom_name} was just a placeholder that represents my Cognitive Services instance. This issue is pretty common in PowerBI, specifically when hitting a custom URL for data. The workaround I've seen is to put a root URL in there that returns a 200 then build the rest of the endpoint in the configuration before calling it to fetch data. I tried that with every part of this CS URL but nothing r

[2020-07-03 22:13] barbados-clemens commented on #58347
Thanks for taking a look. I've created a minimum reproducible repo for you to look over in more depth or hand off for anyone who might need to test.

https://github.com/barbados-clemens/azure-hybrid-relay-repoducable

Let me know if there's anything else you need from me to reproduce.

[2020-07-03 22:25] NickAjderian opened #58389 "Can't get past the Terms Of Use page"
I can't get past https://eu.luis.ai/user/termsOfUse ... I've set up and I think migrated my LUIS account to my Azure account but Continue, although enabled, doesn't work.

When the page calls https://api.eu.luis.ai/webApi/v2.0/user/termsOfUse I'm getting a 500 error

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-07-03 22:36] bdnts opened #58390 "Is it "cognitive" or "cognitiveservices""
Under **Create Environment Variables**, the endpoint is listed as https://<your-custom-subdomain>.api.cognitive.microsoft.com
It should be api._cognitiveservices_.microsoft.com according to Azure Portal --> Keys and EndPoints

Cheers
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3de1b4-a118-efae-0e72-7953c8e891b3
* V

[2020-07-03 22:41] mrochon opened #58391 "Use consisten placeholder names for client_id and resourceId"
The Starter Pack uses ProxyIdentityExperienceFrameworkAppId and IdentityExperienceFrameworkAppId in the
login-NonInteractive TP. Please use same names in the ResourceOwnerPasswordCredentials-OAuth2 TP on this page rather than 0000... I use automation to replace these with the correct ids for my tenant, which the change in naming breaks.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-03 22:46] YutongTie-MSFT commented on #58090
@ram-msft I have sign-off this and it's good to merge. @KellyDF  FYI
@adhamod
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-03 22:46] #58090 closed

[2020-07-03 23:34] JustinGrote commented on #54844
I had similar issue.
![image](https://user-images.githubusercontent.com/15258962/86501138-09a18a80-bd4b-11ea-805f-d49519c5fb8b.png)

[2020-07-04 01:52] jaydarius opened #58393 "'group deployment' - deprecated command"
I suggest using the 'deployment group' command where the above deprecated command is found in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289fc6e1-bd82-0127-2b40-57e55c5b1452
* Version Independent ID: 45842a1e-fff5-9eda-e3d0-131000cc9f3a
* Content: [Tutorial - Deploy multi-container group - template - Azu

[2020-07-04 02:19] KrishnaG-MSFT commented on #58388
@wpbrown Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-04 02:23] SaurabhSharma-MSFT commented on #58383
@matayp Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 02:24] SaurabhSharma-MSFT commented on #58385
@mrochon Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 02:25] SaurabhSharma-MSFT commented on #58386
@jeffreykey Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 04:23] RTTrickster opened #58395 "EnableSoftDelete flag on new-azkeyvault deprecated?"
Documentation on this page (https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-powershell#new-key-vault) indicates the use of new-azkeyvault with the -EnableSoftDelete flag, however;

Flag is no longer present here: https://docs.microsoft.com/en-us/powershell/module/az.keyvault/New-AzKeyVault?view=azps-4.3.0

Flag does not work from powershell: New-AzKeyVault : A parameter cannot

[2020-07-04 05:17] TheMoroccanBoss commented on #27135
Easier said than done. while working for MSFT for a short spell, one can understand why the docs are made this way an evolving stream of feedback is always needed!

[2020-07-04 05:29] Rinshad commented on #58373
Hi Saurabh,

I referring below two documents to understand Azure cost analysis. But both these documents don't have any information about how to view the cost of each container and bandwidth in a storage account.

https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-acm-cost-analysis
https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-analysis-common-use

[2020-07-04 05:30] ram-msft commented on #58258
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-04 05:30] #58258 closed

[2020-07-04 05:36] ram-msft commented on #58202
@cahann Thanks for the details. The Json file that we are trying downloaded from the following [document](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-review-endpoint-utterances#download-json-file-for-app) and we got the upgrade failed error.

[2020-07-04 05:38] ram-msft commented on #58256
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-04 05:38] #58256 closed

[2020-07-04 05:56] ramya-rao-a opened #58396 "Broken link in Notification Hubs landing page"
- The relevant Azure service or technology:
    - Azure Notification Hubs
- A link to the published documentation article that you have feedback about:
    - https://azure.microsoft.com/en-us/services/notification-hubs/
- Clear, specific feedback that the author can act on.
    - The link "Get started with Notification Hubs" under "Documentation" points to a broken link https://docs.microsoft.com/

[2020-07-04 07:15] palma21 commented on #54113
It's port 22 not port 2222.

[2020-07-04 07:17] palma21 commented on #35932
you can add the FQDN for NTP in the network rules section of Azure FW.

See the full FW example here: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#restrict-egress-traffic-using-azure-firewall

[2020-07-04 07:18] palma21 commented on #37943
This should be updated, let me know if you see any issue now.

[2020-07-04 07:19] palma21 commented on #38512
This feedback has been incorporated and example provided on what is for:
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#add-a-dnat-rule-to-azure-firewall

[2020-07-04 07:24] goh-chunlin opened #58397 "Missing of Implicit Grant Section in Authentication Advanced Settings"
According to the screenshot in the documentation, we should be able to specify the tokens to be issued by the authorisation endpoint, as shown below.
![image](https://user-images.githubusercontent.com/8535306/86507391-7596f800-be0a-11ea-80a1-40fe0d8e13c5.png)

However, this "Implicit Grant" section is no longer visible under the Advanced Settings section in the latest Azure Portal, as shown in the

[2020-07-04 07:24] palma21 commented on #50031
Those changes were communicated via AKS comms channels.

- https://github.com/Azure/AKS/issues/1476
- https://github.com/Azure/AKS/releases/tag/2020-03-09

Which can be subscribed to (email) and added to RSS feeds as well. (https://github.com/Azure/AKS/releases)

And portal notifications and emails were sent to all customers about the change. (which happened effectively now in June)
The documents

[2020-07-04 07:26] palma21 commented on #53059
You can specify FQDN in network rules, on Azure firewall. For the rest you should use the AKS FQDN tag.

See here for an example: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#restrict-egress-traffic-using-azure-firewall

[2020-07-04 07:28] palma21 commented on #54103
That is a bug on periscope not on the docs. We will make sure the images are not pulled from non-mentioned repos.

[2020-07-04 07:38] sakabio opened #58398 "Azure Cognitive services showing 'Resource Not Found'"
# azure.cognitiveservices.search.newssearch.models._models_py3.ErrorResponseException: Operation returned an invalid status code 'Resource Not Found'

I am trying to use the news API to get news, however its not workiging as expected. I followed the example here.
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/quickstarts/client-libraries?pivots=programming-language-pyth

[2020-07-04 07:40] goh-chunlin commented on #25484
Thanks for your reply, @hansenms .

Yes, we have followed the Azure RBAC documentation you provided above. However, when we sent a POST request to https://xxxxxxxx.azurehealthcareapis.com/Patient, it still told us that we are forbidden to access the Azure APIs for FHIR.
![image](https://user-images.githubusercontent.com/8535306/86507640-70d34380-be0c-11ea-85f2-9f18b121b53a.png)

The following scre

[2020-07-04 07:43] hansenms commented on #25484
Looks like you have given your app access to the FHIR API, but are you getting a token on behalf of the app (service principal) or are you getting a token for a user? Are you signing in as a user when getting a token in Postman? If you are signing in as a user, then give that user access to the FHIR API.

[2020-07-04 08:22] goh-chunlin commented on #25484
Dear @hansenms ,

Thank you for pointing out.

Following the tutorial (https://docs.microsoft.com/en-us/azure/healthcare-apis/tutorial-web-app-public-app-reg), it will actually lead to the path of "signing in as a user". Hence, your suggestion of giving that user access to the FHIR API is important.

Thanks again for your fast response. =)

[2020-07-04 08:27] KrishnaG-MSFT commented on #58387
@osaid202 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-04 08:33] KrishnaG-MSFT commented on #58389
@NickAjderian Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-04 08:34] KrishnaG-MSFT commented on #58390
@bdnts Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-04 08:35] KrishnaG-MSFT commented on #58391
@mrochon Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-04 08:37] KrishnaG-MSFT commented on #58393
@jaydarius Thanks for the feedback.
Assigning @dlepow for visibility, review and document enhancement consideration as appropriate.

[2020-07-04 09:02] janlunddk commented on #11268
@dbrennan , the easiest workaround is to pull a new set of credentials using `az aks get-credentials --name --resource-group [--admin] [--context] [--overwrite-existing]
`

[2020-07-04 10:17] Prabhakar96-dev opened #58400 "Can I change the logo invitation using Microsoft Graph API"
I would like to customize the company logo in invitation mail (Reference doc) [invitation api](https://docs.microsoft.com/en-us/azure/active-directory/b2b/invitation-email-elements) Any reference guide are there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b47cdf9-26e4-ade2-f04f-99d14f8c74b9
* Version Independent I

[2020-07-04 11:26] stephaneey opened #58402 "Dynamic scaling issue"
Hello,

In this page, you make the following statement:

All instances should have the same processorName.
Each instance needs to have a different instance name (WithInstanceName).

However, writing the following piece of code:

` ChangeFeedProcessor changeFeedProcessor = cosmosClient.GetContainer(databaseName, sourceContainerName)
                .GetChangeFeedProcessorBuilder<Wine>("changeFeedSa

[2020-07-04 12:26] diberry commented on #58202
@ram-msft This file has been fixed but not published yet.

[2020-07-04 12:49] diberry commented on #58389
@KrishnaG-MSFT @NickAjderian The service team is aware of the issue.

[2020-07-04 13:54] SaurabhSharma-MSFT commented on #58395
@RTTrickster Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 14:02] SaurabhSharma-MSFT commented on #58396
@sethmanheim Can you please help on this issue.

[2020-07-04 14:04] SnehaAgrawal-MSFT commented on #58082
@MishalValiyakath Since We didn't here back from you we will now close you this out. Let me know if you have further question on this.

[2020-07-04 14:04] #58082 closed

[2020-07-04 14:08] SaurabhSharma-MSFT commented on #58398
@sakabio Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-04 14:10] SaurabhSharma-MSFT commented on #58400
@Prabhakar96-dev Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 14:11] SaurabhSharma-MSFT commented on #58397
@goh-chunlin Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 14:14] SaurabhSharma-MSFT commented on #58402
@stephaneey Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 14:14] #58318 closed

[2020-07-04 14:14] MikeOwino commented on #58318
found the solution thanks

[2020-07-04 15:18] vnextcoder opened #58404 "Monthly Fixed Pricing."
[Enter feedback here]
Dears

There is no mention of Monthly fixed pricing on the Pricing Matrix for the Logic Apps https://azure.microsoft.com/en-us/pricing/details/logic-apps/, but this particular page mentions Fixed Monthly Price for the Logic Apps using ISE environment.

Can you please validate and update the Documentation appropriately

Thanks

---
#### Document Details

⚠ *Do not edit this se

[2020-07-04 15:22] OrionLethe13 opened #58405 "Azure DIsk Encryption"
Need to add a section about disabling Azure Disk Encryption. The following command is required to disable encryption and allow for migration:

Disable-AzVMDiskEncryption -ResourceGroupName "myrgname" -VMName "myvmname"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89ac262-76f7-45fd-d1ab-3a8702167483
* Version Indepen

[2020-07-04 15:44] Calvin-Yuhui-Liu opened #58406 "Cannot find the "Analytics" option in "Overview" menu"
I cannot find the "Analytics" option in "Overview" menu... assuming this document needs some update? Thanks.
![image](https://user-images.githubusercontent.com/42446782/86516041-5a0ffb00-bdd2-11ea-8593-6329f0a2ca72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdca08d8-4a1d-f11c-9e3e-6627ea0f18bc
* Version Indepe

[2020-07-04 16:06] Vegas588 opened #58407 "Clarify what the tag includes"
Hi. Can you please give more information here on what URLs the AzureKubernetesService tag includes? It's kind of a black-box here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab53ab25-92d7-ffc9-be5c-16ea5aff52ea
* Version Independent ID: 82d1240f-f358-7731-d308-4003cefc28c8
* Content: [Use Azure Firewall to protect

[2020-07-04 16:25] pandainlove commented on #57766
@MayankBargali-MSFT My Az module version was 3.8.0 and now I updated to 4.3.0 I still don't see Get-AzWebSiteLog. I also checked the documents I can't see anything about this function. I only saw functions starts with Get-AzWebAppxxx.

Or do you mean I need to use Get-AzureWebsiteLog instead? This looks to belongs to a different module called Azure.

I am new with Azure powershell, now I am a litt

[2020-07-04 16:35] icdavid opened #58408 "Please add CLI steps"
It would be helpful to include steps for adding the role using Azure CLI in addition to using the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc95f42-25e6-42ba-a3d9-94ed896d7383
* Version Independent ID: 00936b2f-959b-b55f-60d3-deaa7bea6e17
* Content: [How to use a system-assigned managed identity to access

[2020-07-04 17:54] SwathiDhanwada-MSFT commented on #58033
@roofiq We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-04 17:54] #58033 closed

[2020-07-04 18:12] jeremybytes opened #58410 "Tutorial has some steps missing"
In order to get the tutorial working, I had to make the following changes (Visual Studio 16.6.2 / .NET Core 3.1.301):

1. Index.cshtml
For the Html.ActionLinks (Edit, Details, Delete), I had the change "new { /* id=item.PrimaryKey */ }" to new { id = item.Id }"
Note: after creating the "Index" view, there is the following text:
"Once done, Visual Studio opens the cshtml file that it creates. You c

[2020-07-04 19:21] icdavid opened #58413 ""Cosmos DB Account Reader" is actually "Cosmos DB Account Reader Role""
The title says it all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc95f42-25e6-42ba-a3d9-94ed896d7383
* Version Independent ID: 00936b2f-959b-b55f-60d3-deaa7bea6e17
* Content: [How to use a system-assigned managed identity to access Azure Cosmos DB data](https://docs.microsoft.com/en-us/azure/cosmos-db/managed-ide

[2020-07-04 20:06] BharathNimmala-MSFT commented on #58405
@OrionLethe13 Thank you for your feedback, assigning this to our document author  @tfitzmac to further evaluate the feedback and enhance the document accordingly.

[2020-07-04 20:25] AmirGeorge commented on #58389
@KrishnaG-MSFT  @NickAjderian we deployed a hotfix for the issue. Please confirm.

[2020-07-04 20:48] dc995 opened #58414 "Increase clarity of compiled version of sdk and make copy/paste sections work without modification"
[Enter feedback here]

If there is a copy and paste then that command should probably "work"

C:\gitrepo\vcpkg>.\vcpkg.exe integrate install
Applied user-wide integration for this vcpkg root.

All MSBuild C++ projects can now #include any installed libraries.
Linking will be handled automatically.
Installing new libraries will make them instantly available.

CMake projects should use: "-DCMAKE_TOO

[2020-07-04 21:39] SjoerdV opened #58415 "Update documentation with additional imposed limits for property ClassificationDescriptions"
- Character limit for property ClassificationDescriptions is 300
- Commas can not be escaped

If one oversteps these limits this is the error that is returned:
_Set-AzureADDirectorySetting : Error occurred while executing SetDirectorySetting
Code: Request_BadRequest
Message: Property ClassificationDescriptions is invalid.
InnerError:
RequestId: GUID
DateTimeStamp: Fri, 05 Jan 2018 18:36:14 GMT
Htt

[2020-07-04 22:05] gxtaillon opened #58416 "Only python samples are provided"
I'm following links from the .NET Core documentation[0] pointing to service-to-service docs but they now indicate s2s is no longer best practices. Following the link to this page, only python are to be found.

Can .NET Core samples also be added?

Probably related to #53473 as well

Best

[0] https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storage-providers

[2020-07-04 22:08] kashyap-bhatt-by opened #58417 "Put more effort"
`Example: azcopy list [containerURL]`

What is that?! Are you jocking??
Can you add examples of containerURL? Can it have path prefix? Does it need SAS? Any other way to auth?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e51917b-9baa-83bd-5890-df2a7c839cbd
* Version Independent ID: 58e7120b-a575-1ced-0f14-1a3fd897af

[2020-07-04 22:21] ecfan commented on #58404
@jonfancey, perhaps the charges are billed monthly, not so much that the pricing is monthly?

[2020-07-04 22:54] D3-LucaPiombino opened #58418 "MissingMethodException while trying to follow the walkthrough in the page"
Hi,
it seems that there are some issues with the nuget packages in the private feed.

Following the steps in the page, when i try to execute the code, the following exception is thrown:

[code]

at the line:

[code]

Full example code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93995189-17c6-cbd5-6ad7-48998

[2020-07-04 23:55] SaurabhSharma-MSFT commented on #58404
@vnextcoder Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-04 23:56] SaurabhSharma-MSFT commented on #58406
@Calvin-Yuhui-Liu Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-04 23:57] SaurabhSharma-MSFT commented on #58407
@Vegas588 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-04 23:58] SaurabhSharma-MSFT commented on #58408
@icdavid Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-04 23:59] SaurabhSharma-MSFT commented on #58410
@jeremybytes Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-05 00:00] SaurabhSharma-MSFT commented on #58413
@icdavid Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 00:01] SaurabhSharma-MSFT commented on #58414
@dc995 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 00:04] SaurabhSharma-MSFT commented on #58415
@SjoerdV Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 00:06] SaurabhSharma-MSFT commented on #58416
@gxtaillon Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-05 00:07] SaurabhSharma-MSFT commented on #58417
@kashyap-bhatt-by Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 00:09] SaurabhSharma-MSFT commented on #58418
@D3-LucaPiombino Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 00:11] SaurabhSharma-MSFT commented on #58315
@VikasPullagura-MSFT Are you able to help on this issue ?

[2020-07-05 04:41] masskugeen opened #58419 "bfgnb"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24f2953b-2900-322d-dbfd-a53846e75940
* Version Independent ID: 25af9875-58cf-69d5-478d-08fb888d12dc
* Content: [Quickstart: Use the Face client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/Face/Quicksta

[2020-07-05 05:47] ampac28 opened #58420 "Facing issue - Another Amqp client opened a receiver link."
[Enter feedback here]

I am facing issue with Azure Device twin notifications using Java IoT SDK 1.21 . In current application we are running a Cron job on Amqp connection every 1 minute and there is another Device Twin Handler class is written to subscribe a twin notification for Desired properties . Some how the twin notification after few minutes is not coming to Device side application (our Ja

[2020-07-05 08:53] insankim opened #58422 "metadata_url contains wrong API version in Python sample"
API version 2019-01-01 does not have EventSource, Description. If we run the sample script with version 2019-01-01, python will throw error when there is a scheduled event found.

#!/usr/bin/python

import json
import socket
import urllib2

metadata_url = "http://169.254.169.254/metadata/scheduledevents?api-version=2019-01-01"
this_host = socket.gethostname()

Should be changed to
metadata_url = "

[2020-07-05 09:10] yelevin commented on #57810
@fbinotto So here's what I found out:
While it does indeed work within the Log Analytics substructure that Azure Sentinel is based on, it's not supported as a feature in Sentinel itself at this time.  Feel free to use it at your own risk.

[2020-07-05 09:16] fbinotto commented on #57810
@yelevin ok thanks for the follow up.

[2020-07-05 09:16] #57810 closed

[2020-07-05 09:20] m-andersen commented on #47611
@NunoBem we integrated firebase auth to the server. However, you will have to find your own solution if you need to migrate existing users. We were not public yet so we were in luck user IDs on server could change without everything broke

[2020-07-05 09:57] imabedalghafer opened #58423 "More explanation please on the NSG note"
Hello Team,

Thank you so much for this feature , but would you please provide us with more details about the note below:
![image](https://user-images.githubusercontent.com/52040217/86530127-d54edb00-bebe-11ea-9e86-6efaf47be387.png)

as trying to install the extension on a VM with NSG enabled, there was no issues.
Trying to modify the NSG while the extension installed also did not face any neither

[2020-07-05 11:57] KrishnaG-MSFT commented on #58419
@masskugeen  [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if your feedback is intended to update / correct / enhance anything in referred Azure document then please elaborate your feedback with mor

[2020-07-05 12:53] ashinzekene opened #58425 "Microsoft.Percentage"
On this page there's a mention of `Microsoft.Percentage` for using conditional features. Is `Microsoft.Percentage` a special variable. Are there other special variables? Is there a reference for all the special variables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90245485-cff2-095d-24b1-0df6542d74e6
* Version Inde

[2020-07-05 13:10] rebremer opened #58426 "Windows VM AAD preview: Cannot use SQL Server Microsoft Studio (SMSS) with Azure Directory - Integrated"
Hi,

I was succesfully deployed a "Windows 10 Pro, Version 1809" VM using AAD preview and was able to login with my AAD credentials. Also, when I went to the portal.azure.com I was succesfully logged without providing any credentials (SSO). However, the following went wrong:

- When I installed SQL Server Microsoft Studio (SSMS) 18.5 on the VM, used as authentication "Azure Active Directory - Inte

[2020-07-05 13:31] Ahmad-Al-Ali opened #58428 "Missing info related to Premium tiers under Set Java runtime options section"
the docs only mentions recommendations for basic and standard tiers, should add recommendations for premium tiers as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df68e904-7b05-38ba-4203-50eb8491946f
* Version Independent ID: 921377f7-e428-143d-70e4-c9efc25e41d1
* Content: [Configure Windows Java apps - Azure Ap

[2020-07-05 13:46] abhijitkakade914 opened #58429 "How can we debug Python or C# Azure IoT Module in VS Code"
Hello Team ,

We are trying to debug Azure IoT Edge module in VS Code, we have installed all required prerequisites but it shows below exception.

Error

Connect ECONNREFUSED 127.0.0.1:15678

![image](https://user-images.githubusercontent.com/46191820/86534126-26b69480-bed6-11ea-97d2-d0e75bfdedd2.png)

Can you please help us to resolve this issue ASAP ?

or if you have any link or document which c

[2020-07-05 14:59] SeaDude opened #58430 "Need Python Examples!"
Python Function Apps have been in [GA since 2018](https://azure.microsoft.com/en-us/blog/azure-functions-gets-better-for-python-and-javascript-developers/). Please add Python examples to all Azure Function docs where other runtime code samples exist.

This document and [this one](https://github.com/MicrosoftDocs/azure-docs/issues/54512) are examples.

Thank you

---
#### Document Details

⚠ *Do no

[2020-07-05 16:02] icdavid commented on #58408
Actually here is some sample CLI to add the role for a Function App:

[code]
Where:
- `<dbAccountName>` is a Cosmos DB account name
- `<dbGroup>` is the name of the resource group that contains the Cosmos DB account
- `<functionName>` is the name of an Azure Function that has a system-assigned managed identity
- `<functionGroup>` is the name of the resource group that contains the Azure Function

[2020-07-05 17:32] SaurabhSharma-MSFT commented on #58420
@ampac28 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:33] SaurabhSharma-MSFT commented on #58422
@insankim Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:34] SaurabhSharma-MSFT commented on #58423
@imabedalghafer Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:35] SaurabhSharma-MSFT commented on #58425
@ashinzekene Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:37] SaurabhSharma-MSFT commented on #58426
@rebremer Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:38] SaurabhSharma-MSFT commented on #58428
@Ahmad-Al-Ali Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-05 17:39] SaurabhSharma-MSFT commented on #58430
@SeaDude Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-05 17:42] SaurabhSharma-MSFT commented on #58429
@abhijitkakade914 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-05 17:53] BhargaviAnnadevara-MSFT commented on #58114
@pnarsi Build and release tasks connect to your Azure Subscription using the provided [Service Connection](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml). When a Service Connection is created, say over a given Subscription and Resource group, it is assigned the (built-in) [Contributor Role](https://docs.microsoft.com/en-us/azure/role-

[2020-07-05 17:56] danielbjork opened #58431 "Allowed Authentication Methods doesnt match Azure portal options"
Allowed Authentication Methods doesn't match Azure portal options

Azure portal:
Mobile app notification
Mobile app code
Email
Mobile phone
Office phone
Security questions

Documentation:
Mobile app notification
Mobile app code
Email
Mobile phone
Office phone

So basically Security Questions is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-05 18:10] BhargaviAnnadevara-MSFT commented on #58113
@atrauzzi Apologies for the inconvenience, but as @DawgFan mentioned, this is WIP as of now.

Please watch [this](https://azure.microsoft.com/en-in/blog/topics/monitor/) space for any new announcements or updates to Azure Monitor, and provide your feedback for [Azure Application Insights](https://feedback.azure.com/forums/357324-application-insights), or [Azure Monitor](https://feedback.azure.com/

[2020-07-05 18:10] #58113 closed

[2020-07-05 18:34] NitroAMD opened #58432 "crictl runtime-endpoint"
Please add the need for the crictl runtime-endpoint:

--runtime-endpoint value, -r value  Endpoint of CRI container runtime service (default: "unix:///var/run/dockershim.sock") [$CONTAINER_RUNTIME_ENDPOINT]

Suggestion to add the following:
**export CONTAINER_RUNTIME_ENDPOINT=unix:///var/run/containerd/containerd.sock**

Without, you get the following error while executing "crictl ps":
FATA[0002]

[2020-07-05 18:40] phatcher opened #58433 "Troubleshooting Logs: Wrong Framework"
For .NET Core it suggests adding Microsoft.AspNet.ApplicationInsights.HostingStartup, however this package only supports .NET Framework, so it's compatible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b9aed0-b6a7-d3e9-d616-85e865966444
* Version Independent ID: df2e545f-7f65-82b7-c793-2d04d91d7d9e
* Content: [Trou

[2020-07-05 23:44] arcotek-ltd opened #58436 "Capturing the image details missing."
Unless I am blind, you may want to add a note on a few rather important points:

1) The VM that you which to add needs to be sysprep'd (generalised or specialised). Windows: Sysprep, Linux: waagent.
2) The VM needs to be converted to an image, or as you call it "Capture".

You may want to link to: https://docs.microsoft.com/en-gb/azure/virtual-machines/linux/capture-image

Thanks

---
#### Documen

[2020-07-06 00:05] Mirona opened #58437 "Azure AD implementation with SharePoint Online"
Hello,

This shows that customizing a sign-in page is available for SharePoint Online implementation.
I want to use Azure AD for sign-up as well as password and profile management as written here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview

Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-06 00:05] Toledocollege opened #58438 "toledocollege.edu.jo"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad393cc1-3395-fb17-b441-3d8998ed515b
* Version Independent ID: d4ebda6b-1528-e553-b37e-df586e6cb606
* Content: [Tutorial - Create an Azure Active Directory Domain Services managed domain](https://docs.microsoft.com/en-gb/azure/active-directory-domain-

[2020-07-06 00:19] NavtejSaini-MSFT commented on #58099
@HuaTang92 Please let us know if you have any other question or we will go ahead and close the thread.

[2020-07-06 00:21] #58149 closed

[2020-07-06 00:22] NavtejSaini-MSFT commented on #58031
@jschrap Can you please provide more information here.

[2020-07-06 01:18] SaurabhSharma-MSFT commented on #58431
@danielbjork Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-06 01:19] SaurabhSharma-MSFT commented on #58432
@NitroAMD Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-06 01:20] SaurabhSharma-MSFT commented on #58433
@phatcher Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-06 01:21] SaurabhSharma-MSFT commented on #58436
@arcotek-ltd Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-06 01:22] SaurabhSharma-MSFT commented on #58437
@Mirona Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-06 02:06] break9111 commented on #58271
@vipulsparsh
Thank you for the detailed explanation!
I understood as follows. But, My understanding is not good and there are two possible patterns.
Which is correct? Or are they wrong? (Pattern 1 or Pattern 2 or Other?)

My understanding 1(Pattern 1)
Day1: A user has accessed App1, so the user was needed  to complete the MFA in Contoso. Fabrikam's MFA is not relevant at this time.
Day2: MFA in Co

[2020-07-06 02:14] RayBrindley opened #58439 "Can't leave organisation if external organisation lock account"
When an external organisation locks the account, you cannot remove yourself as a guest. This causes a problem whenever trying to get a token via PowerShell and other services, where you get error messages indicating the account has been locked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa

[2020-07-06 02:17] YutongTie-MSFT commented on #58146
@tohnperfect Thanks for the feedback, I have seen the document has been [updated ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/120701)for the following line:
`upload_result = trainer.create_images_from_files(project_id, ImageFileCreateBatch(images=image_list))`

The latest python SDK updated the signature for create_images_from_files to take an ImageFileCreateBatch instead of the list of i

[2020-07-06 02:17] #58146 closed

[2020-07-06 02:50] JoseFMP opened #58441 "Documentation missleading: "Setting it to '/' mounts the entire Azure Storage.""
During the whole text in this page we understand the mount path is the path within the docker container where we want to mount the root of the azure files storage. We understand we cannot mount specific paths from the azure files storage into the container. Then suddenly we get this sentence out of the blue:
[code]

How can you explain it?
This documentation should make very clear when talking abo

[2020-07-06 02:50] cqueern opened #58442 "Suggest adding a row in the table for Azure Container Registry"
Suggest adding a row in the table for Azure Container Registry:

Azure Container Registry | *.Azurecr.io

Thanks for all your hard work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790ff17b-0306-897d-f0df-59dd92441426
* Version Independent ID: 6bfac7c1-8909-73f9-4212-26cc7ffaaa81
* Content: [Reference list of Azure

[2020-07-06 02:52] JoseFMP opened #58443 "Documentation missleading: "custom-id" but there is nothing like a custom-id"
The complete text is refering to a misterious `custom-id` . Reality is in the Azure portal, CLI, ARM, terraform... nowhere there is a property called `custom-id`. The most similar thing we can see is a `name` on the bindings of the storage accounts with the web app. Of course this is very confusing, and the wording should be more similar to what we see in the UI, Azure CLI, etc.

---
#### Document

[2020-07-06 02:54] JoseFMP opened #58444 "Docker compose example not obvious"
It is not obvious if at the end of the docker compose file we need to declare the volumes or not. It would be wonderful to have a complete, toy example file instead of 3 lines capture of the file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae64682-9fd6-28e0-4c60-a003cc06f92c
* Version Independent ID: fa1d2de6-c27d

[2020-07-06 03:33] YutongTie-MSFT commented on #58307
@PatrickFarley Hi Patrick, could you please help this issue? Thanks.

@chwolfe
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-06 03:47] chillryan commented on #47611
Hi @m-andersen, I've just sent you an email outlining how to configure your Azure App with Sign-In with Apple. Should you run into issues, please feel free to let me know.

[2020-07-06 03:48] RyanHill-MSFT commented on #47611
Hi @m-andersen, I've just sent you an email outlining how to configure your Azure App with Sign-In with Apple. Should you run into issues, please feel free to let me know.

[2020-07-06 03:53] PramodValavala-MSFT commented on #58190
@RonnieQuan Just following up here... Hope my previous comment clears things up.

[2020-07-06 03:54] kthompson23 opened #58445 "apiVersion in ingress route example no longer supported as of 1.16"
In the [create-an-ingress-route](https://docs.microsoft.com/en-us/azure//aks/ingress-internal-ip#create-an-ingress-route) section, the example Ingress resource uses the `extensions/v1beta1` apiVersion. As of 1.16 this is no longer supported and instead should be `networking.k8s.io/v1`.

See [api-deprecations-in-1-16](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/)

[code]
---
####

[2020-07-06 04:17] SwathiDhanwada-MSFT commented on #58367
@the-mod Thanks for reaching out!! To troubleshoot or check whether the log analytics workspace is force deleted or not. I would suggest you to  send mail to AzCommunity@microsoft.com by including your Azure subscription ID , Log analytics workspace name  and a link to this GitHub thread (for context) and we can continue the conversation.

[2020-07-06 04:26] VikasPullagura-MSFT commented on #58166
@VYSAKH1
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-06 04:26] #58166 closed

[2020-07-06 04:32] MayankBargali-MSFT commented on #57766
@pandainlove Thanks for your response. Yes, Az module will be the replacement of Azure RM : https://azure.microsoft.com/en-in/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/
I have reached out to my team to confirm if there is any az command in PowerShell to stream the logs. For a workaround, you can use any of the methods

1. azure cli az cmdlet : https://docs.microsoft.com/en-u

[2020-07-06 04:34] VikasPullagura-MSFT commented on #57847
@laurenhughes
Can you please check and add your comments on this doc update request as applicable.

[2020-07-06 04:40] VikasPullagura-MSFT commented on #58293
@sriswathir I am linking similar issue [#58291](https://github.com/MicrosoftDocs/azure-docs/issues/58291).
Please follow the linked issue for updates on this.
I am closing this issue.

[2020-07-06 04:40] #58293 closed

[2020-07-06 04:40] SwathiDhanwada-MSFT commented on #58362
@andyturn31 Thanks for reporting this. I am checking internally with engineering team and will keep you posted on the issue.

[2020-07-06 04:43] palma21 commented on #58432
Thanks for the feedback. We will configure that on the nodes instead of requiring that step.

it will merge this week so I won't open a ticket for it on the AKS gh but feel free if you want to.

[2020-07-06 04:45] VikasPullagura-MSFT commented on #58432
@palma21 Thanks for sharing the details.

[2020-07-06 04:49] SwathiDhanwada-MSFT commented on #58285
@yesoreyam I believe you might have missed to check this, you can use schema mentioned in [this document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-management-group#schema). Kindly check and revert if you have further questions.

[2020-07-06 04:53] KranthiPakala-MSFT commented on #58127
@cstainie  We have assigned the issue to the content author to investigate this and update the document as appropriate.

Thanks.

[2020-07-06 04:57] nikunj-phutela commented on #56566
I had the same issue, is there any fix for this?

[2020-07-06 05:12] SubhashVasarapu-MSFT commented on #58326
@jeffwmiles ,We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-06 05:12] #58326 closed

[2020-07-06 05:15] SubhashVasarapu-MSFT commented on #58110
@jason-ra , Appreciate your patience. We have assigned this issue to the respective content author for providing better insights.

[2020-07-06 05:16] ChiragMishra-MSFT commented on #58141
@spelluru Can you please take a look at this?

[2020-07-06 05:17] AjayKumar-MSFT commented on #58441
@JoseFMP, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-06 05:22] VikasPullagura-MSFT commented on #58445
@kthompson23
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-06 05:23] VikasPullagura-MSFT commented on #58445
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-07-06 05:24] hannesne opened #58447 "How to pass relative path parameters to a nested logic app?"
I can only see how to passa body to a nested logic app, not the relative path parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version Independent ID: 02b19cbb-7ff3-4f3f-06d1-8a0ccb4ad707
* Content: [Call, trigger, or nest logic apps - Azure Logic Apps](https://docs.micr

[2020-07-06 05:33] KalyanChanumolu-MSFT commented on #58343
@jeevaeastpoint Its been a while we heard from you.
We will proceed to close this issue now.

You can also post questions on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility

[2020-07-06 05:33] #58343 closed

[2020-07-06 05:34] hrasheed-msft commented on #57365
@abhaydiwan We'll assume that you were able to resolve your issue and proceed to close this issue. If you need any further assistance, please feel free to reply to this thread again. Thank you.

[2020-07-06 05:34] hrasheed-msft commented on #57365
#please-close

[2020-07-06 05:34] #57365 closed

[2020-07-06 05:45] PramodValavala-MSFT commented on #58447
@hannesne This is covered in [this section](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#relative-path) of the doc.

[2020-07-06 05:54] VYSAKH1 commented on #58166
Thanks @genlin . I've reached out to Azure Support and have a case opened with SUSE.

[2020-07-06 05:57] SatishBoddu-MSFT commented on #58200
@DNorthcott Just checking back! please let us know if you are still stuck and we would be happy to help you on this issue.

[2020-07-06 05:58] SatishBoddu-MSFT commented on #58189
@chmagitt Just checking back! please let us know if you are still stuck and we would be happy to help you on this issue.

[2020-07-06 06:04] AjayKumar-MSFT commented on #57986
We will close this out, but if you feel you need more information please just let us know.

[2020-07-06 06:04] #57986 closed

[2020-07-06 06:15] KalyanChanumolu-MSFT commented on #58413
@icdavid Thank you for pointing out the issue and helping us in making our documentation better.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.

We will close this issue now.

[2020-07-06 06:15] #58413 closed

[2020-07-06 06:17] VikasPullagura-MSFT commented on #58269
@ganga1980 Thanks for sharing your inputs on this.

@sormita Can you please try the suggestion.

[2020-07-06 06:18] SatishBoddu-MSFT commented on #58414
@dc995 Thanks for the feedback! We have already fixed the feature name and the document is also updated 3 days ago.
Related to [Update quickstart-create-pnp-device-windows.md #121121](https://github.com/MicrosoftDocs/azure-docs-pr/pull/121121)
https://github.com/microsoft/vcpkg/issues/12180

Error: :1:47: invalid character in feature name (must be lowercase, digits, '-')
on expression: azure-iot-s

[2020-07-06 06:20] anastasia-ms commented on #56566
In the prerequisites section of the docimebt, there is a tip that contains the following url and explanation for the issue you are encountering. I will update the document to include more links to that information.

https://docs.microsoft.com/en-us/azure/azure-maps/how-to-manage-creator#access-to-creator-services

On Jun 7, 2020, at 8:05 AM, JonSatch <notifications@github.com> wrote:

﻿

[Enter fe

[2020-07-06 06:27] shashishailaj commented on #58439
@RayBrindley Thank you for your feedback . We will investigate and update the thread.

[2020-07-06 06:41] BarakSilverfort opened #58448 "Version history is not updated to latest versions?"
We've downloaded the latest version (3.1.77.0) from the official site, but this version is not documented in the help portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e51-c77f8a6aa59c
* Version Independent ID: e11ed733-2e65-7000-87b0-4adfcb16db21
* Content: [Azure AD Connect Health Version His

[2020-07-06 06:59] michaelhambe opened #58449 "Yaml pipeline example is incomplete"
Hi,

I'm having some problems completing the pipeline.

Can we get some more detail around the yaml implementation?
Why are all the examples in c#, except for the yaml example, which is implemented in yarn/node?

I have modified my solution to include the tests demonstrated here:
https://github.com/Azure-Samples/documentdb-dotnet-todo-app

My pipeline successfully starts the emulator, restores and

[2020-07-06 07:06] wmmartins opened #58450 "term.startDate and term.endDate are missing in SaaS Fulfillment API response"
[Get subscription endpoint](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-httpsmarketplaceapimicrosoftcomapisaassubscriptionssubscriptionidapi-versionapiversion) doesn't return term.startDate and term.EndDate for active subscriptions with 'per user' plan . These fields are only returned for subscriptions with flat plan. Is this a bug?

---

[2020-07-06 07:07] AnuragSharma-MSFT commented on #58333
@asears  Thank you for pointing out the issue, we have updated the document content accordingly.
The changes should be live once the PR is approved.

Also the $server variable are used as below. Please let us know if any specific ones are not used and we can correct the document accordingly.

![image](https://user-images.githubusercontent.com/66360845/86565336-46f15c80-bf85-11ea-985a-019be4723adc.

[2020-07-06 07:10] #58333 closed

[2020-07-06 07:37] #57989 closed

[2020-07-06 07:47] dastewa opened #58451 "LinkedIn Account Connections in B2C"
Hi Team,

The steps in "How do I delete my Azure AD B2C tenant?", specifically #12 stating "If present, under LinkedIn account connections, select No, then select Save." suggests that Azure B2C supports LinkedIn account connections. If so, how do we enable this (it's not in the portal)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-07-06 07:58] SwathiDhanwada-MSFT commented on #58324
@jdorecae Thanks for your question.  You should provide the ResourceId of the workspace ( ex : /subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourcegroups/rgname/providers/microsoft.operationalinsights/workspaces/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX ) .  For more information about the Template reference , you can refer [this document](https://docs.microsoft.com/en-us/azure/templates/microso

[2020-07-06 08:00] Klaas- commented on #58365
Alright, that sounds reasonable.

Is there a mailing list/rss feed/github repo/whatever that I can subscribe to for updates? @msshradhabarpute  @pvrk

[2020-07-06 08:00] rsitrifork opened #58453 "Admin Consent for User Assigned Access"
After enabling user assigned access for an enterprise application I have created, the login screen no longer asks for user consent, but instead requires admin consent. I have not been able to locate this behavior in any documentation, is this expected behavior or a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16

[2020-07-06 08:04] BASFmthibodeaux opened #58454 "Unusual change of access permissions in a storage blob container --> not in list"
[Enter feedback here]

Within this list is not the following items which is alerting inside of the Azure Security Center for the Blob section.

##Unusual change of access permissions in a storage blob container

Is there any way that it can be updated or noted as a potentially updated field?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-07-06 08:09] MayankBargali-MSFT commented on #58162
@leoscricca Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-06 08:09] #58162 closed

[2020-07-06 08:16] yesoreyeram commented on #58285
I am sure i have seen that but that doesn't answer.  My question is about this page https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-tenant . I am looking for templates for the highlighted scenario.

![image](https://user-images.githubusercontent.com/153843/86571368-303d0c80-bf69-11ea-9232-f6efda28f8ba.png)

[2020-07-06 08:17] CharlesCara opened #58455 "Split page to make it more clear"
Since the instructions are fundamentally different for Kubernetes 1.18 and higher, it would be better to split this into two pages:  one for versions below 1.18 and another for later versions of Kubernetes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 427

[2020-07-06 08:22] dominicbetts commented on #58111
Hi @Chao0000 - thanks for pointing this out. I'm updating the article to fix the indenting - the changes should be live shortly.
Regards, Dominic

[2020-07-06 08:24] dominicbetts commented on #58111
#please-close

[2020-07-06 08:24] #58111 closed

[2020-07-06 08:27] rachelxj-ms opened #58457 "User-assigned identities cannot be used. My test says differently"
After I tested reference secret from Key vault successfully, I turned off system-assigned managed identity.
I created a user-assigned identity (myuserassignedidentity0706), and assigned key vault Contributor to myuserassignedidentity0706, add access policy (GET secret to myuserassignedidentity0706), I can still reference secret from Key Vault in this way.

The doc says "User-assigned identities ca

[2020-07-06 08:28] kewu-93 opened #58458 "Add the description for tag AzureLoadBalancer for Network security groups on the Application Gateway subnet"
[Enter feedback here]

Regarding the Network security groups on the Application Gateway subnet part: https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#network-security-groups-on-the-application-gateway-subnet

We have pointed out the TCP ports 65200-65535 for the v2 SKU with the destination subnet as **Any** and source as **GatewayManager** service tag must be allow

[2020-07-06 08:37] shashishailaj commented on #58438
@Toledocollege Thank you for your post. As you have not provided any description it is difficult for us to understand your requirement. We use github for improvements in the azure documentation . Could you please let us know as to what section of the document are you referring to so that we can help you better ?

[2020-07-06 08:41] shashishailaj commented on #58442
@cqueern Thank you for pointing that out. We will investigate and update the thread.

[2020-07-06 08:43] shashishailaj commented on #58448
@BarakSilverfort Thank you for pointing this out. We will have this reviewed with the article authors and update as needed.

[2020-07-06 08:45] shashishailaj commented on #58454
@BASFmthibodeaux Thank you for your suggestion . We will investigate and update the thread.

[2020-07-06 08:46] shashishailaj commented on #58453
@rsitrifork Thank you for your feedback . We will investigate and update the thread.

[2020-07-06 08:47] shashishailaj commented on #58451
@dastewa Thank you for your feedback . We will investigate and update the thread.

[2020-07-06 08:51] rachelxj-ms commented on #58457
My mistake. the doc is correct

[2020-07-06 08:54] stawo commented on #20351
@j-martens @hning86 , could you provide an update on this issue?
It's marked as closed, but people (including me) are still affected by it.

[2020-07-06 08:56] jain6968 commented on #57184
same issue, potentially when will it be resolved?

[2020-07-06 08:57] VikasPullagura-MSFT commented on #58455
@CharlesCara
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-06 08:57] VikasPullagura-MSFT commented on #58455
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-07-06 09:00] harithamaddi commented on #58383
Hi @matayp,

Thanks for posting the question. The documentation for [AddToTime ](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#addToTime) function specifies "Add a number of time units to a timestamp" which states that this is not intended function for calendar dates retrieval.

As an workaround, please check if using following expression to derive

[2020-07-06 09:01] pratimvengurlekar commented on #19456
I am unable to connect Azure Devops pipeline Microsoft hosted agent to storage account. Is this going to get resolved

[2020-07-06 09:12] sormita commented on #58131
Can you please change the error text from 'Install-Module Az.Accounts -Repository PSGallery -Force' to ''Install-Module Az.Accounts'? PSGallery is not required once it is setup using the instructions in Ganga's link.

[2020-07-06 09:27] phenixita opened #58459 "Control pod scheduling using node selectors and affinity"
`kubectl label node aks-nodepool1 hardware:highmem` exits with error: at least one label update is required.
It should be:
`kubectl label node aks-nodepool1 hardware=highmem`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae17603-813b-f1ef-e161-c229d49a2541
* Version Independent ID: 5c1dcea0-0cda-0233-2356-be63be77680

[2020-07-06 09:28] Nitive commented on #49245
Switching Linux B1 → Linux B2 and then switching back helped

[2020-07-06 09:32] amanmcse commented on #58199
@sir-wally  If you configure Conditional Access Policy to trigger MFA and disable per-user MFA, you will not be required to re-register for MFA because disabling per-user MFA doesn't clear the MFA methods. When you are using CA Policy for MFA, you don't need to enable per-user MFA, keep them in disabled state only.

Hope that clarifies. Feel free to tag me in your reply if you have any questions.

[2020-07-06 09:32] #58199 closed

[2020-07-06 09:33] AshokPeddakotla-MSFT commented on #58237
@rgamage Thanks for bringing to this to our notice. I further verified the doc and it has troubleshooting guide with steps to resolve the issue related to DNS. I am assigning this issue to content author @kgremban for further clarity and update the doc as necessary.

[2020-07-06 09:33] keyz182 opened #58460 "Open Service Broker recommended, but is no longer maintained"
Under the section [Open Service Broker for Azure](https://docs.microsoft.com/en-us/azure/postgresql/concepts-aks#open-service-broker-for-azure), when clicking the first link, you're taken to [this page](https://github.com/Azure/open-service-broker-azure/blob/master/README.md).

The first line of the readme is:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-07-06 09:36] dazinator opened #58461 "Where to configure SAML SSO for App Registration?"
In the doc is states:

I can't find where to enable SAML SSO in the App registration portal. Could this be clarified - or perhaps link to a doc that states how to configure SAML in the app registration portal?

Many Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-62bc-d427-4b1783a1fa0a
* Version Ind

[2020-07-06 09:47] ram-msft commented on #58245
Thanks for the feedback. @diberry Could you please help with the re-writing of the following [section](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-app-iteration#import-and-export-a-version).
![image](https://user-images.githubusercontent.com/49180516/86580037-c68a2600-bf9b-11ea-85e9-c30682093580.png)

[2020-07-06 09:53] AjayKumar-MSFT commented on #58457
@rachelxj-ms,  Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.