[2020-04-17 11:22] dinesh71 commented on #52648
Thanks, @souravmishra-msft  Actually we are trying to look for document where we can pass multiple scopes of different apis. We couldn't find any document on it. We are trying to see if we can pass multiple apis as in
 scope=openid offline_access profile api://customerapi/user.readAll api://vendorapi/User.ReadAll

[2020-04-17 11:25] AshleyYang25 opened #52656 "Error when running stage script in session host."
1.Do we need to run all stage, register, D-stage, D-register scripts in a session host from hostpool?
2. When run stage #region mountvhd script, got this error.
Mount-Diskimage : A required privilege is not held by the client.
At line:4 char:5
+     Mount-Diskimage -ImagePath $vhdSrc -NoDriveLetter -Access ReadOnl ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Ca

[2020-04-17 11:27] SnehaAgrawal-MSFT commented on #52241
@upmygit Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-04-17 11:27] #52241 closed

[2020-04-17 11:28] joaopgrassi opened #52657 "Make it clear that Log categories/levels are not inherited by ApplicationInsights provider"
After banging my head on why we were not seeing `Information` logs on AI and reading this page at least 3 times and thinking I was doing something stupid, I found this other issue https://github.com/MicrosoftDocs/azure-docs/issues/39784 with the exact same problem.

The answer was that the ApplicationInsights logging provider does not inherit from the top-level logging level/category. In order to

[2020-04-17 11:28] #52173 closed

[2020-04-17 11:33] DannyLee12 commented on #22676
Has this been resolved? Does the UI still drop all pods immediately?
Looking to scale via terraform. But I would assume that all the tools use the same apis?

[2020-04-17 11:37] Prabhakar96-dev opened #52659 "JWT Validation policy in APIM level"
[#](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#ValidateJWT) Azure documentation issue guidance

As per below code snippet it's working fine. I would like to append "tenant id"  to the issuer, like **<value> issuer-1/tenant_id</value>**. Here how I can read tenant id from JWT to append to existing value.

Current code working fine.
`<required-cl

[2020-04-17 11:39] StefanIvemo opened #52660 "Developer portal internal VNet setup"
Can you please clarify the part regarding accessing the developer portal through an Application Gateway when running API Management in internal vNet mode? The article states the following:

If your API Management service is in an internal VNet and you're accessing it through Application Gateway from the Internet, make sure to enable connectivity to the developer portal and the management endpoints

[2020-04-17 11:50] ggerogiokas opened #52661 "setting the default compute instance environment as compute"
Hi,

I am still confused with how you would you use the default environment on a compute instance.  I have already configured it manually going onto to doing the required conda/pip installs jupyterlab.  I want to use it as a compute target with the python sdk.

Would I have to enable/disable docker options, the image, and I don't want to redefine my environment?  Though I just want to use the defa

[2020-04-17 12:03] NikosSpanos commented on #52204
@sidramadoss Do you have any solution regarding this thread? Thank you in advance for your attention on this issue.

[2020-04-17 12:08] paragbharne opened #52663 "Getting Error for "Get-AzRoleAssignment""
I have tried to implement the auto scale for the WVD Cluster, During the creation of Automation Account facing below error through script.

Get-AzRoleAssignment : Cannot find principal using the specified options
At C:\temp\createazureautomationaccount.ps1:89 char:20
+ $RoleAssignment = (Get-AzRoleAssignment -SignInName $Context.Account)
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-04-17 12:17] amanmcse commented on #52549
@wouterdevinck Thank you for pointing this out. Based on the workaround you have mentioned, I understood that localization for continue button at signup page stops working with Page contract selfasserted 2.0.0.
Apart from that, have you noticed any other built-in strings with the same issue?

[2020-04-17 12:26] Simon-Gregory-LG opened #52664 "Output iteration doesn't match examples"
Maybe I'm missing something, but I'm not sure the `"copy": [ {}, {} ]` property should be in an array form as shown in the definition at the top of the page.

It seems that the examples showing `"copy": { }` as an object make more sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 834eb528-d20c-19cb-6785-a1061703f15

[2020-04-17 12:31] Apoc70 opened #52665 "The documentation for bulk creating users does not represent the current AAD functionality"
Other issues opened for this documentation were closed, because the feature is/was in preview. The Azure AD portal does not state anything that the bulk create feature is in preview.

The example CSV is localized, which, for my understanding, does not make any sense. The column headers are used for localized information but should be the real header names required by the import process.

Any modif

[2020-04-17 12:48] ToddBowman commented on #40842
@shalinoid Is there any way that a customer can know when a key has been rotated and get a history of when that happens?

[2020-04-17 12:50] yeswps commented on #32319
@aquibqureshi26
I had a ticket open with MS and it went nowhere. However for Canada Central Region, I've found a work around.  Here are the steps:

1. Screenshot and document original diagnostic settings
2. Remove diagnostic agent
3. Make sure system assigned managed identity is enabled for the VM
4. Re-enable diagnostic agent, it will ask to create a new storage account <vmname>guestdiag
5. Modif

[2020-04-17 12:51] er-mohd-ali opened #52666 "I have used in app authentication to authenticate user. How can I change forgot password URL."
Hello,
I have used easyauth service in azure web app to authenticate the user against azure AD B2C so I don't have control over the code now I want user to use forgot password link to reset their password using password reset b2c policy but I don't know how to trigger b2c policy.

Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-04-17 12:56] JasSuri commented on #52666
EasyAuth doesnt really support this. You can follow this
https://cgillum.tech/2016/08/10/app-service-auth-and-azure-ad-b2c-part-2/

Or this sample that bakes password reset into the sign in/up journey.
https://github.com/azure-ad-b2c/samples/tree/master/policies/embedded-password-reset

[2020-04-17 13:04] AjayKumar-MSFT commented on #47191
This issue is now fixed. Thanks everyone for sharing valuable feedback.

[2020-04-17 13:04] #47191 closed

[2020-04-17 13:05] mesteves commented on #52385
Hi @ChiragMishra-MSFT ,

Thanks for the recommendation, and did as you suggested.

Here is the thread opened in stackoverflow:
https://stackoverflow.com/questions/61272370/sftp-connection-customization-parameterization

Thanks again,
Manuel

[2020-04-17 13:07] spelluru commented on #51617
@kiranshashiny - we don't have the specific Python sample that uses the activemessagecount property. These are the samples we have: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus/samples.

@axisc Ashish - do you have one? Thanks.

[2020-04-17 13:10] alexanderbikk opened #52667 "forward request - how to increase the default timeout"
According to [documentation](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#ForwardRequest) this code sample must increase the timeout of forward request
[code]
Also I investigate [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/43757)  and saw that it's possible to set the timeout up to 4 minutes

I'm trying to set the timeout for 120 seconds

[2020-04-17 13:18] jochenvanwylick opened #52668 "Is ARM example on this page still up-to-date?"
I'm looking for an ARM template that has all the rules for the NSG configured, as mentioned above. Is this page example still up-to-date ? https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version

[2020-04-17 13:32] RohitMungi-MSFT commented on #52661
@ggerogiokas Thanks for the question. I believe you want to use an environment along with the SDK while using it with compute target. Here is an example from the [How to use environments](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#use-environments-for-training) page to use an environment for compute target.

Here is another [example ](https://docs.microsoft.com

[2020-04-17 13:33] AshokPeddakotla-MSFT commented on #52495
Looks like you are also facing the same issue as https://github.com/MicrosoftDocs/azure-docs/issues/52271.

I am able to repro the issue.  Assigning the issue to the content author to evaluate and update as appropriate.

@robinsh Please look into this issue as earliest. When running the sample getting the below screen. Are there known issues/code changes done recently?

![image](https://user-image

[2020-04-17 13:34] AshokPeddakotla-MSFT commented on #52271
Looks like you are also facing the same issue as https://github.com/MicrosoftDocs/azure-docs/issues/52495.

I am able to repro the issue. Assigning the issue to the content author to evaluate and update as appropriate.

@robinsh Please look into this issue as earliest. When running the sample getting the below screen. Are there known issues/code changes done recently?

![image](https://user-images

[2020-04-17 13:40] cakriwut opened #52671 "Warning variable type="map""
on variables.tf line 8, in variable "tags":
   8:  type        = "map"

Terraform 0.11 and earlier required type constraints to be given in quotes,
but that form is now deprecated and will be removed in a future version of
Terraform. To silence this warning, remove the quotes around "map" and write
map(string) instead to explicitly indicate that the map elements are strings.

---
#### Document Det

[2020-04-17 13:46] tfitzmac commented on #52664
@Simon-Gregory-LG - thanks for catching this mistake. I have submitted a fix that should get published this morning.

[2020-04-17 13:46] tfitzmac commented on #52664
#please-close

[2020-04-17 13:46] #52664 closed

[2020-04-17 13:47] DieterHaagAdesso opened #52673 "CORS Error on B2C Login in MSAL Javascript 1.2.2"
We're currently using MSAL JS Library Version 1.2.2 in an Angular 8 Singel Page Application.
When we use the login onmicrosoft everything is working as expected, once we try to use the Tenant-Name B2CLogin.com we get a CORS error with the following Message:

Access to XMLHttpRequest URL-TO-Wellknown from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request

[2020-04-17 13:56] jochenvw commented on #52668
I mean this page: https://github.com/Azure/azure-quickstart-templates/blob/master/201-api-management-create-with-internal-vnet/azuredeploy.json

[2020-04-17 13:57] MonikaReddy-MSFT commented on #52234
@lisaguthrie , Can you take a look at the customers request and provide any insights you may have.

[2020-04-17 14:01] AndyHerb commented on #44659
@mimckitt - would it be possible to keep this issue open until it's actually fixed as per the comment form @jakaruna-MSFT?  Closing this now and updating documentation (in an unknown and un-referenced location) at a future point is harder to track and doesn't give an easy way of people to know when it's been fixed - or even when it's actively being worked upon.

[2020-04-17 14:01] Donovand4 opened #52674 "[GUID] Casting incorrect"
[Enter feedback here]
The casting of [GUID] is invalid as "N/A" cannot be case as GUID. The [GUID] should be removed.
Old: $msDSConsistencyGuid = [GUID] $csvFile.'mS-DS-ConsistencyGuid'

New: $msDSConsistencyGuid = $csvFile.'mS-DS-ConsistencyGuid'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e906851f-7f69-1344-c2e5-a

[2020-04-17 14:04] nelsonflorez11 commented on #52600
Hi
Laptop
  "azure-cli": "2.3.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.3.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aro": "0.4.0"

Cloud Shell
  "azure-cli": "2.2.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.2.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions"

[2020-04-17 14:09] spelluru commented on #51617
Here is a .NET example on accessing MessageCountDetails:

https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/ManagingEntities/QueueCRUD/Program.cs

`
var queueRuntimeInfo = await managementClient.GetQueueRuntimeInfoAsync(queueName).ConfigureAwait(false);
Console.WriteLine($"Retrieved runtime information of queue\n " +
                    $"Active messa

[2020-04-17 14:11] sidramadoss commented on #52204
@NikosSpanos - at this time of public preview we are supporting ML models deployed on AKS. We are working on adding support for models deployed on ACI as well. This should be available within the next few weeks. Can you try deploying your model to AKS instead and giving it a shot? That should work.

[2020-04-17 14:12] wouterdevinck commented on #52549
The issue occurs for all built-in strings (ux elements, error messages) when switching from selfasserted 1.2.0 to 2.0.0, not just the continue button.

[2020-04-17 14:22] Mahesh-MSFT opened #52675 "Need clarity on instance(s) and scale units"
This documentation refers to word "instance(s)" in many places. It is not clear though what is meant by instance. Is it the instance of AGW service itself or the "scale units"?

Azure portal experience provides scale unit as a field to configure the scaling bounds in auto-scaling mode and a fixed value in fixed capacity mode.

If the sizing and pricing is based on scale unit then this document sho

[2020-04-17 14:31] vjc216 commented on #44582
Hello, I figured I would post an update from my side.  I have since entered an Azure Support Request regarding this and it has been confirmed a bug in the Elastic Jobs engine.  I was told a file for fix would be entered.  Thank You.

[2020-04-17 14:31] paramjitsingh-param opened #52676 "mdm integration with azure ad"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7aca4a4-9951-2132-3910-cf83ba66a048
* Version Independent ID: 2509fd1f-60e7-66ce-fc7e-c16b8cf73865
* Content: [Conditional Access require managed device - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/conditional-acc

[2020-04-17 14:49] NikosSpanos commented on #52204
@sidramadoss Thank you for your reply. As already noted on my initial thread, I did try the AKS cluster deployment on a function of Azure Stream Analytics job and indeed it worked. By "worked" I mean that the function signature of the AKS scoring API was successfully recognized. Contrary to the ACI scoring API which was not recognized.

Since the Machine Learning Service Function on Azure Stream A

[2020-04-17 14:53] vhorne commented on #52253
@Andriy-dev

Perhaps the information in this article will help:

https://docs.microsoft.com/en-us/azure/firewall/tutorial-hybrid-portal#prerequisites

[2020-04-17 15:01] tgiorgio opened #52677 "Update information about Active Directory Audience field"
There's no description about the  Audience field so there's no way to know that is the same Tenant ID or not. Please make it clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f2bf88-b3d3-0dc4-7258-614929d2ffc6
* Version Independent ID: 94a5a807-8690-08cb-ff81-a935f762a069
* Content: [Configure Azure AD authentica

[2020-04-17 15:05] mozakir commented on #41402
The error message on this document is not yet updated. Kindly update the error message "Allocation failed. VM(s) with the following constraints cannot be allocated, because the condition is too restrictive. Please remove some constraints and try again. Constraints applied are:
  - Availability Zone
  - VM Size"
This has not been updated from quite sometime.

[2020-04-17 15:08] CeciAc opened #52678 "Access Datastore from Train Script"
@philippschaefer4 commented on [Fri Apr 17 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/649)

Hey,
is there any other way to access data on a datastore than creating a dataset as it is described above? Is it perhaps possible to mount the datastore as storage?

There is probably the possibility to login to your workspace, get the datastore and download the data. But that seems not

[2020-04-17 15:11] PramodValavala-MSFT commented on #52203
@mperdeck Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-17 15:11] #52203 closed

[2020-04-17 15:13] SubhashVasarapu-MSFT commented on #51808
@theheatDK , We have assigned this issue to the content author for updating the doc accordingly.

[2020-04-17 15:14] samcookies commented on #47176
I gave up on this. Three different MS engineer tried to help and they have no clue why MFA not working, after back and forth with MS for three weeks, I quit.
I even provision new RDS and NPS server while I have MS on the line, in case I missed something but no luck.

Try to find alternative solution... I ended up making my remote app behind the FW because I have 2FA on the VPN.

[2020-04-17 15:14] cynthn commented on #52610
@vermagit You can either make the update yourself, or work with Julia to get the changes into the docs. Thanks!

#reassign @ju-shim

[2020-04-17 15:15] SubhashVasarapu-MSFT commented on #51984
@dr-ivan , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-17 15:15] #51984 closed

[2020-04-17 15:16] sidramadoss commented on #52204
@NikosSpanos - Thanks for calling this out. We should've been more clear about the staggered rolled out of supported scenarios. We have updated our docs with this [limitation](https://docs.microsoft.com/en-us/azure/stream-analytics/machine-learning-udf#prerequisites).

We prioritized AKS first as this is the [recommended option ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deplo

[2020-04-17 15:19] SubhashVasarapu-MSFT commented on #51985
@haymansfield , Appreciate you patience. The hierarchy of Azure subscription management goes in the below mentioned way,
Root Management Group --> Human Resources --> Dev/Test subscriptions.
Root Management Group --> Marketing --> Free Trial subscription
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-17 15:19] #51985 closed

[2020-04-17 15:20] BharathNimmala-MSFT commented on #52382
@nwipfli Thanks again for bringing this to our attention, i have a raised a PR to update the document. Once reviewed and approved the document will be updated accordingly next week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be hap

[2020-04-17 15:20] #52382 closed

[2020-04-17 15:22] ggerogiokas commented on #52661
Hi,

Thanks, I have followed some of the bits on managing environment and
registering an environment which should make it reusable in a new compute
instance.
However, in my case it doesn't seem to work.  In the meanwhile I am trying
to create a clean conda environment in the compute instance where I got it
working in a different environment which
does not work when I try to reproduce in a differen

[2020-04-17 15:22] 2552Software commented on #8227
Thank you for the note and yes, I am seeing the samples go away and I do understand why at least at some level.

What is confusing to me is how to do a resource login in MSAL.NET such as ADAL.NET's authenticationContext.AcquireTokenAsync(Resource, ClientId, new Uri(LocalRedirectUri), new PlatformParameters(PromptBehavior.Auto)); I do not think this is possible.

I am also a bit confused because th

[2020-04-17 15:23] BharathNimmala-MSFT commented on #51764
@saket-ms Thank you for helping on this thread.

@rich-davies Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-04-17 15:23] #51764 closed

[2020-04-17 15:24] diberry commented on #51562
@xtianus79 Please reopen this issue when you have time to clarify the question. #plese-close

[2020-04-17 15:25] NikosSpanos commented on #52204
@sidramadoss Thank you for the update. I am glad that at least I could help on clearing this out. Should we close this issue for now, or shall keep it open?

[2020-04-17 15:27] VictorioBerra opened #52679 ""Use Key Vault from App Service with Managed Service Identity" points to an article using the same approach?"
https://docs.microsoft.com/en-us/samples/azure-samples/app-service-msi-keyvault-dotnet/keyvault-msi-appservice-sample/

Sorry, I dont see a feedback button on this page. So I had to create an unlinked post.

If you read the above link, the first sentence says this:

That link takes you here: https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app

Which con

[2020-04-17 15:28] vhorne commented on #35491
The Application Gateway limits are current.
#please-close

[2020-04-17 15:28] #35491 closed

[2020-04-17 15:31] vhorne commented on #42516
Doc updated
#please-close

[2020-04-17 15:31] #42516 closed

[2020-04-17 15:32] MSSedusch commented on #44659
I will update this issue once we extension is released. @mimckitt can you reopen? thanks

[2020-04-17 15:37] 36roentgen commented on #20758
I experienced this issue 04/17/2020.  The IP was added through the portal gui.  Toggling the above setting allowed a normal connection otherwise "psql: FATAL:  no pg_hba.conf entry for host"

[2020-04-17 15:39] ggerogiokas commented on #52661
with a new build it works if I upgrade conda prior to creating a new
build.  And for this reason even if I register the environment when it
defines the docker container with
an old version of conda it fails with the following error:

On Fri, Apr 17, 2020 at 4:21 PM george gerogiokas <drago121012@gmail.com>
wrote:

--
George Gerogiokas

[2020-04-17 15:41] davidlane-iteratec commented on #51627
I am having a similar problem: everything is set up as detailed on this page. The diagnostic setting AppServiceAppLogs is set and files are showing up under /LogFiles/Application/ but AppServiceAppLogs remains empty in the log analytics workspace. How to proceed?

[2020-04-17 15:42] vhorne commented on #48017
#reassign:winthrop28

[2020-04-17 15:50] ChelloApps commented on #40095
We are experiencing the same issue, seems a bit weird that this has been going on for so long without a resolution??

[2020-04-17 15:52] vhorne commented on #48866
#reassign:winthrop28

[2020-04-17 15:55] jedjohan commented on #52624
@chenkennt, so it seems active/active is the road I will go, thanks! Guess that means that the 2 SignalR services will kind of split the connections (users) between themself based on some fancy rules (latency?). And thats totally ok. But...  when I want to send a (server initiated) message to a user, do I need to, hmm...  keep track of which SignalR service(x2)/app server(x2) they are connected to

[2020-04-17 15:56] BharathNimmala-MSFT commented on #51810
@Chai-NED Apologies for the delayed response on this , was validating couple of things with our internal teams before i could respond back on this.

Thanks again for bringing this to our notice. Regarding retaining the data for a longer period of time, you can archive diagnostic metrics data to an Azure Storage account. This is configured in diagnostic settings in Azure Monitor. It primarily refer

[2020-04-17 16:07] RonnieQuan opened #52681 "Tagging on Policy Defintion or Policy Assignment"
Is it possible to add a link to supported resource for tag
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftauthorization
and indicate policy does not support tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c863-2c60f0e06f94
* Version Independent ID: f

[2020-04-17 16:11] iainfoulds commented on #51091
There are doc updates staged for changes in the naming of the plans, due to go into effect next week.

The current Azure AD pricing page does outline Office 365 E1 & F1 https://azure.microsoft.com/pricing/details/active-directory/. They'd fall under the Office 365 Business Premium, E3, or E5 here.

Microsoft 365 Business previously included a subset of Azure AD Premium P1, but is now rolling out t

[2020-04-17 16:11] #51091 closed

[2020-04-17 16:11] DCtheGeek commented on #52681
#assign:DCtheGeek

[2020-04-17 16:12] DCtheGeek commented on #52681
@RonnieQuan Thanks for the feedback.  Can you clarify what you see as the confusion by not including this link?  Policy objects themselves don't support tags (as your link shows), but Policy works with tags via **mode** and things like **modify** and **append** effects. I think saying that "policy does not support tags" would be confusing due to this.

@MicrosoftDocs/azure-cxp-triage Please label

[2020-04-17 16:13] MattHartz commented on #51296
@banisadr I ended up putting in a support ticket in Azure. After working with a rep for a few days, it turns out that my API was returned as "Chunked" which wasn't supported. A patch was applied yesterday on Microsoft's end and now it works.

I had a sneaky suspicion that was the issue. Glad to see it's resolved.

@taysco Try again without using the validationUrl!

[2020-04-17 16:13] #51296 closed

[2020-04-17 16:14] iainfoulds commented on #52221
Sorry for the issues you're encountering, @dmprantz

I don't have answers as to the product direction and roadmap here, but you're welcome to post product feedback and feature requests - https://feedback.azure.com/forums/169401-azure-active-directory. The product team reviews these for customer scenarios to look at implementing.

You can also ask in the Microsoft Q&A site for suggestions or workar

[2020-04-17 16:14] #52221 closed

[2020-04-17 16:17] vuza commented on #51627
I'll write `AzCommunity[at]Microsoft[dot]com` as @SnehaAgrawal-MSFT suggested and let you @davidlane-iteratec know. @SnehaAgrawal-MSFT would it make sense to reopen this issue?

[2020-04-17 16:18] BharathNimmala-MSFT commented on #51744
@dgancho My sincere apologies for delayed response on this, i missed track on this particular issue. I will be looking into this issue today/tomorrow and respond back.

[2020-04-17 16:21] iainfoulds commented on #50007
I'm not sure if @shashishailaj was able to help set up an advisory support request to review some of your options, or if you were able to ask about some of these design considerations on the Microsoft Q&A discussions forum for Azure AD DS may also be able to help - https://docs.microsoft.com/answers/topics/azure-ad-domain-services.html

It's not really going to provide support for what you need in

[2020-04-17 16:21] #50007 closed

[2020-04-17 16:26] rdelormeCHS opened #52682 "The authentication doesn't work"
I'm trying to connect to get notified when a new email hits a shared inbox. Cannot even get past the 1st step to connect to office outlook. My main credentials do not work (oauth error), and I cannot change it to the actual account I want to use because the thing picks up the account i'm logged into the azure portal as. Even when selecting to sign in as a different user, i put the email address in

[2020-04-17 16:30] jscaravilli commented on #51630
What's with the cost estimate sheet? It factors in the number of nodes twice into the calculation ..

=IF($F$27="Month",N44+O44+(AC44*B44),N44+O44+(AC44*B44*12))  -- in this example, AC44 already equals ($25*node count)

[2020-04-17 16:37] cwester72 opened #52683 "P2S AAD Authentication"
When you switch from Certificate authentication to AAD does it still use the existing certificate? Is there anything we need to worry about expiring such as the cert or the XML file?

Thanks!
Craig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b-eff387f3ffef
* Version Independent ID: ded2a816-93c

[2020-04-17 16:39] santhoshbomma9 opened #52684 "Outdated information?"
Given(assuming) all the Azure Applications offers are moved to Partner Center, is this information outdated? or do you have links to any new docs for the partner center?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4e0b1c-aa57-599d-8807-34ecc81b836d
* Version Independent ID: 8143e10c-7cf2-73bf-325e-d6fb68b72e58
* C

[2020-04-17 16:39] SaurabhSharma-MSFT commented on #52655
@SergGu Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-17 16:39] iainfoulds commented on #49269
Thanks for the feedback, @anarii. I've created a PR to add this information, which should publish today.

#in-progress

[2020-04-17 16:40] SaurabhSharma-MSFT commented on #52673
@DieterHaagAdesso Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-17 16:41] SaurabhSharma-MSFT commented on #52674
@Donovand4 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-17 16:43] SaurabhSharma-MSFT commented on #52676
@paramjitsingh-param can you please provide more details of your ask ?

[2020-04-17 16:43] #49269 closed

[2020-04-17 16:44] luis-sanchez-globant opened #52685 "Advanced filter doesn't work as expected"
I have a blob storage with a single container, I setup a service bus topic to receive the event messages and without filtering it works like a charm, I get everything.
I setup from the portal the single filter, which uses the "begins with" option, and it works well only with the portion "/blobServices/default/containers/YourContainer/MaybeAnotherLevel/"
All my blobs follow a pattern like this: Nam

[2020-04-17 16:44] banisadr commented on #51296
Well thank you @MattHartz for helping us catch that issue and build a better product :)

[2020-04-17 16:45] simonvane commented on #42106
Hi @olitomlinson ,

No, I'm afraid I didn't (see https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live). I gave up. @SnehaGunda asked @KalyanChanumolu-MSFT or @Mike-Ubezzi-MSFT  to reopen the issue but it is still closed.

I think they are saying that it is your case 1 ie we will never be charged for TTL deletes even with autopilot but I've not seen a clear explanation of what is going on.

[2020-04-17 16:54] jscaravilli opened #52686 "ASR Deployment Planner - Cost Estimate calculation?"
Hello,

Regarding [https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner-history](url) , what's with the cost estimate sheet? It factors in the number of nodes twice into the calculation at $M$40. Can someone please comment on the validity of this formula? Not seeing the logic in it.

`=IF($F$27="Month",N44+O44+(AC44*B44),N44+O44+(AC44*B44*12))` -- in this example,

[2020-04-17 16:58] proyb6 commented on #52638
Under Update Data

https://docs.microsoft.com/en-sg/azure/mysql/connect-go

[2020-04-17 17:01] ManoKanmani commented on #52464
@cmmdesai

Sir, I sent you the email. Kindly check and do the needful.

[2020-04-17 17:01] ManoKanmani commented on #52065
@cmmdesai

Sir, I sent you the email. Kindly check and do the needful.

[2020-04-17 17:01] rachel-msft commented on #20758
@36roentgen, could you please add more information of the steps you took or a screenshot?

What IP did you add in the portal, your personal IP? What did you toggle? I'm not exactly sure what you're trying to achieve.

[2020-04-17 17:05] tamram commented on #40842
@ToddBowman - There's currently no API that exposes this functionality.

[2020-04-17 17:08] KalyanChanumolu-MSFT commented on #42106
@simonvane We would be happy to reopen the issue for you.
Since Sneha provided email alias of the product group, we were hoping you had gotten in touch directly.

[2020-04-17 17:10] MarileeTurscak-MSFT commented on #52676
@paramjitsingh-param  Here are the guidelines for MDM integration with Azure AD. https://docs.microsoft.com/en-us/windows/client-management/mdm/azure-active-directory-integration-with-mdm

If you have more specific feedback please feel free to create a new issue or ask a question on [Q&A](https://docs.microsoft.com/en-us/windows/client-management/mdm/azure-active-directory-integration-with-mdm).

[2020-04-17 17:10] #52676 closed

[2020-04-17 17:12] Karishma-Tiwari-MSFT commented on #51368
Update: The team has made the fix for this and is in PR review. Will share the update when it is merged.

[2020-04-17 17:13] Karishma-Tiwari-MSFT commented on #52133
@MashaMSFT Did you get a chance to look into this question? Thanks for your help. :)

[2020-04-17 17:13] amitbapat commented on #52649
Please assign this to @ShaneBala-keyvault

[2020-04-17 17:14] dlepow commented on #48142
Closing this issue based on doc enhancement. Thanks again for pointing it out.
#please-close

[2020-04-17 17:14] #48142 closed

[2020-04-17 17:14] ToddBowman commented on #40842
If we needed that information for a security audit, can we get it by submitting a support request?

[2020-04-17 17:18] SubhashVasarapu-MSFT commented on #52211
@aspnet4you , Appreciate you patience. when we use the Install-Module command (which is part of PowerShellGet or simply PSGet) to install a new module to the local system, it queries what commands are exported by the requested module and checks that list against all the existing modules already installed on the system to see if there are any conflicts, i.e. if any of the commands have the same nam

[2020-04-17 17:18] #52211 closed

[2020-04-17 17:19] Karishma-Tiwari-MSFT commented on #51258
@masnider Would you be able to share your insights into the customer's issue? Thanks :)

[2020-04-17 17:21] Karishma-Tiwari-MSFT commented on #52639
I see that you closed this issue. Is this issue resolved? Let me know.

[2020-04-17 17:22] ddavis-100 opened #52687 "pip install azureml-interpret-contrib"
I believe there's a typo above. 'pip install azureml-contrib-interpret' instead worked for me. It's stated as 'pip install azureml-interpret-contrib' above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71ab89d-aa07-b190-ac65-7d9eea831ec6
* Version Independent ID: 532fc833-12a1-01e3-74b5-f4a4523f4831
* Content: [Expl

[2020-04-17 17:24] Karishma-Tiwari-MSFT commented on #52671
Thanks for your contribution by creating a PR for the update. The doc author is reviewing the PR. I will close the issue once the PR is merged.

[2020-04-17 17:25] koocies commented on #30211
Also having a hard time finding information on "FaultDomainRedirect" and O356 logs do not contain a error ID. Can we have this issue readdressed please?

[2020-04-17 17:30] Karishma-Tiwari-MSFT commented on #52153
Thank you for your valuable feedback. The product team is aware of the language pack issues and working/testing on these language pack scenarios. They are prioritizing this work, as well as working on updated documentation. As this would take some time, I will close this issue. I will keep you updated on the progress by sharing on this thread.

[2020-04-17 17:30] #52153 closed

[2020-04-17 17:31] billmath commented on #49141
@lightupdifire Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:31] #49141 closed

[2020-04-17 17:31] ashoka99 commented on #30464
@SaurabhSharma-MSFT. I dont' see any solution or alternative option for this issue. Can you please address this issue ?

[2020-04-17 17:32] mekinney opened #52688 "Please give some specific complete practical examples"
Please give some specific complete practical examples.  For instance, ignore index.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2dc930c-33a3-d54e-2253-1b1b5a693c17
* Version Independent ID: 7dc5aee5-f473-10c8-5299-d5d0b52b7077
* Content: [Standard rules engine reference for Azure CDN](https://docs.microsoft.co

[2020-04-17 17:32] KranthiPakala-MSFT commented on #51554
Hi @mikanyg , thanks for sharing the details.

@djpmsft Here is the SR# - 120041722001987 for this case.

Since we have a SR to track this case, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-17 17:32] #51554 closed

[2020-04-17 17:33] lobrien commented on #52563
This is a feature request, not a documentation issue.

[2020-04-17 17:33] BadFame opened #52689 "API: Batch Speech-to-Text - Sentiment is null"
**Describe the bug**
Today (04/17/2020 09:33:41), we received a notification from our automated job that Sentiment is not being provided even when it is explicitly being requested as part of the batch speech-to-text service configurations.

The sentiment property is set to null while retrieving the transcription results (SegmentResults > NBest > Sentiment) from the service. This sudden failure of

[2020-04-17 17:33] billmath commented on #49216
@pksorensen Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:34] #49216 closed

[2020-04-17 17:34] iainfoulds commented on #51806
Thanks for the feedback, @identityiskey

I'm working on a PR to incorporate these comments. The doc update should publish today. Localized versions usually then publish within a week or two.

#in-progress

[2020-04-17 17:35] billmath commented on #49762
@XhellarchX  Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:35] #49762 closed

[2020-04-17 17:36] billmath commented on #49866
@HenkPoley Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:36] #49866 closed

[2020-04-17 17:38] billmath commented on #50200
@danmyhre Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:38] #50200 closed

[2020-04-17 17:38] ashoka99 opened #52690 "How can I add azure restricted claim "UPN" as a default User Attributes in SAML SSO apps ?"
I am trying to set "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" to name and namespace, it said "This claim type is restricted".
I know "UPN" is under "SAML restricted claim set" in PowerShell page, but I could set
this attribute to support the SAML SSO.

Check here :
Table 2: SAML restricted claim set
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-c

[2020-04-17 17:39] #52159 closed

[2020-04-17 17:40] genixpro opened #52691 "Out of date"
This page appears to be out of date, as the menu I see when I go into "Disks" on my Virtual Machine has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4daf704c-11bc-45d4-2172-79df07d3c853
* Version Independent ID: 8ef4acac-d2f4-332d-73ba-dbbbeaa04e65
* Content: [Download a Linux VHD from Azure - Azure Linux Vi

[2020-04-17 17:40] billmath commented on #50795
@GuyPaddock Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around alot.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-17 17:40] #50795 closed

[2020-04-17 17:40] jennifermarsman opened #52692 "Suggestions for Cognitive Search Custom Skill Python doc page"
* Move the sample request body up to the first section (test locally) instead of introducing it in a later section (test on Azure).
* In the "Publish your function" section, there is not currently a "Get Function URL" button that I see.
* In the "Test the function in Azure" section, you should address needing a function key.  This is different from running locally where you don't need a key, so th

[2020-04-17 17:50] slopezv2 opened #52696 "Problem installing microsoft.azure:azure-eventhubs-spark_2.11 in cluster"
Hi, I have a problem with the library, many times It does not install with error messages: Library resolution failed. Cause: java.lang.RuntimeException: javax.mail:mail download failed, Library resolution failed. Cause: java.lang.RuntimeException: org.apache.commons:commons-collections4 download failed.  using Databricks runtime 6.5, How I can solve it ? few times install well, and many times fail

[2020-04-17 17:50] j03Martin opened #52697 "ListKey is honestly useless"
Because you have to use ListKeys in the resource section, you cannot manipulate the return without linking templates. If you are going to provide functions, please make them usable in the resources, outputs, and variables at least.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a4ab1
* Ve

[2020-04-17 17:54] jennifermarsman commented on #52692
We should tell them explicitly to use a header with "x-functions-key" as the key and their actual key as the value, and where they can find the actual key in the portal.

[2020-04-17 17:55] CameronDevine opened #52698 "Citation Count Mismatch"
_This is a copy of MicrosoftDocs/microsoft-academic-services#139_

Using the Project Academic Knowledge [API](https://docs.microsoft.com/en-us/academic-services/project-academic-knowledge/reference-paper-entity-attributes) with the evaluate query `Id=2141775109` returns the `CC` attribute showing that this paper has been cited 229 times. However, the evaluate query `RId=2141775109` returns only 22

[2020-04-17 17:56] BharathNimmala-MSFT commented on #52621
@GraceZhangM Thanks again for bringing this to our notice , i have raised a PR to reflect the feedback. Once the PR reviewed and approved through next week the document will be updated accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further feedback please tag us in your repl

[2020-04-17 17:56] #52621 closed

[2020-04-17 17:58] LuisCabrer commented on #52692
@jennifermarsman I can get to this at some point... but please feel free to make changes directly... I won't be bothered.

[2020-04-17 17:59] TravisCragg-MSFT commented on #52653
@smolesen Can you post a link to the doc where it is done from the portal?

[2020-04-17 18:04] realdanielbyrne opened #52699 "All I need is a link."
These help articles should be headed with a section listing all relevant links for tldr surfers.  For instance, this page still does not show a link to download an invoice for the monthly support fees.  Specifically the Subscriptions page does not provide a way to download the invoice for the support subscription.  Either way however, I had to scroll through half the page even to get that link, an

[2020-04-17 18:10] yobyot opened #52700 "Please correct usage"
At this anchor (#discover-aliases-for-resource-properties), please correct incorrect usage of contraction for "it is" by replacing with the possessive "its."

Grammar 101.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 331fe5bb-eb50-3603-c2ab-748f852f9729
* Version Independent ID: 856fd88a-7bc9-ecb4-95d6-a43f6b75fda8
*

[2020-04-17 18:12] chaneyw opened #52701 "vCore Resource Limits REST API"
I am wondering if the vCore Resource Limits listed on this webpage are available through the REST API somewhere. The capabilities for Azure SQL Database doesn't seem to have these specs. Is there a way to return these very relevant values (Memory, IOPS, etc) via a REST API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-17 18:13] DCtheGeek commented on #52700
#assign:DCtheGeek

[2020-04-17 18:14] DCtheGeek commented on #52700
@yobyot Thanks for catching this and pointing it out.  I'll get it fixed right now.  As soon as the fix merges, this issue will automatically be closed.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-04-17 18:20] #52700 closed

[2020-04-17 18:22] nibaccam commented on #52308
@usuyama does this answer your questions? If not, please provide additional clarity and @rastala  and myself (@nibaccam)

[2020-04-17 18:27] nibaccam commented on #52306
@swanderz thank you for reporting this gap. An internal task item has been created to address your suggestion. We will now proceed to close this thread.
#please-close

[2020-04-17 18:27] #52306 closed

[2020-04-17 18:30] tartieret opened #52702 "Specifying partition key for EventHub output binding"
When using the Event Hub output binding, how can we set the partition key of the output message? I'd like to use this feature in a Python function but the info is not available in any language

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0710db32-eb75-fffb-ca4b-05b1ebf1bda9
* Version Independent ID: a3bb9285-597b-4b2

[2020-04-17 18:42] varundesai85 opened #52703 "What aadTenantURI to use for Azure GOV."
Getting an error Tenant xxxx request is being redirected to the National Cloud 'microsoftonline.us'. when we use https://login-us.microsoftonline.com and when we use https://login.microsoftonline.us getting an error "Provider Error 3399548937: The value specified for 'clientId' must be non-empty."
Is there any other URI to use for Azure GOV environment.

---
#### Document Details

⚠ *Do not edit t

[2020-04-17 18:50] jdanton opened #52704 "Comment about CLI Comment"
The comment # The logical server name has to be unique in the system should really say # The logical server name has to be unique in all of Azure for clarity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Version Independent ID: 3bcd4ccd-9b70-65d0-a720-57fd9a566767
* Content: [Cre

[2020-04-17 18:51] HeidiSteen commented on #29916
@syedhassaanahmed The managed key document that Nati posted in the previous response is the most recent security feature.  Possibly he can share a roadmap with you, but I really don't know.

[2020-04-17 19:02] lukepfeiffer10 commented on #48272
Added bump to this as I hit an error today trying to use this as a reference when deploying the resource to Azure.

[2020-04-17 19:12] Karishma-Tiwari-MSFT commented on #52189
Sorry for the delay on this.
Can you please confirm that the following password requirements were met:

Minimum of 16 or 18 characters and include a number, lowercase characters, uppercase characters and a symbol.

Symbols allowed are:  @ # $ % ^ & * - _ ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( )

If not, try this and let me know.

[2020-04-17 19:14] BharathNimmala-MSFT commented on #52684
@santhoshbomma9 Thank you for your query, we will look into and get back to you at the earliest.

[2020-04-17 19:15] TravisCragg-MSFT commented on #52654
@Prabhakar96-dev can you post a link to the doc you are following?

[2020-04-17 19:17] KranthiPakala-MSFT commented on #52126
@basilwong After having conversation with internal team, it is recommended to whitelist all Azure IP Ranges and Service Tags – US Government Cloud (all the IP address from downloaded JSON file)

Azure Gov has different set of prefixes. Here is the download link for Azure Gov IP Ranges - [Azure IP Ranges and Service Tags – US Government Cloud](https://www.microsoft.com/en-us/download/details.aspx?i

[2020-04-17 19:17] BharathNimmala-MSFT commented on #52697
@j03Martin  Thank you for the feedback, our team will further look into it and get back to you at the earliest.

[2020-04-17 19:17] xtianus79 commented on #32472
@DashleenBhandari-MSFT and @BryanTrach-MSFT so how do you actually do this?

[2020-04-17 19:17] jmorgansmith commented on #52392
In the JSON example under “Add Additional Columns during copy“ (https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#add-additional-columns-during-copy), you show how to create the additional columns under “source” but you don’t show how to use/map/reference them under “sink”.

Thanks,
Morgan

[2020-04-17 19:18] scotch83 commented on #52492
In the server managed authentication section (https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library#serverflow) I think the reference to the MobileServiceClient is broken.
Maybe the class has changed namespace or dll. But also the LoginAsync used in the snippet is receiving only one parameter, while in the API reference no method accepts only

[2020-04-17 19:27] tesych commented on #38553
@Alberto-Vega can you please close this issue. Thanks!

[2020-04-17 19:34] nzthiago opened #52706 "Missing batch & session information"
As per https://github.com/Azure/azure-functions-servicebus-extension/issues/15 the Service Bus trigger now supports reading batches and also sessions. This page should include a description of both and examples as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Indepe

[2020-04-17 19:37] tamram commented on #52580
#reassign: @tamram

[2020-04-17 19:41] TravisCragg-MSFT commented on #52698
@CameronDevine This repository is for Microsoft Azure. It looks like you are looking for assistance with Microsoft Academic Services. According to the ToC for Academic Services, the best place for assistance is on StackOverflow using the "project-academic-knowledge" tag.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2020-04-17 19:41] #52698 closed

[2020-04-17 19:43] tamram commented on #52580
@seanmcdonnellblog - The parameter is still there - see the reference for Azure PowerShell v. 3.7:

https://docs.microsoft.com/powershell/module/az.storage/set-azrmstoragecontainerimmutabilitypolicy?view=azps-3.7.0

And it still works. I just ran through all of the examples in the article successfully, including that one.

Can you check your syntax? If it's still not working for you, I recommend p

[2020-04-17 19:43] #52580 closed

[2020-04-17 19:44] ziesemer commented on #52375
Agreed, this is agonizingly slow.  Past an hour already, will see how many hours this turns into...

[2020-04-17 19:48] CameronDevine commented on #52698
@TravisCragg-MSFT So far nothing has been posted to StackOverflow with the "project-academic-knowledge" tag, and I don't have enough reputation to add it.

[2020-04-17 19:48] RonPattersonBadger commented on #52375
I have waited upwards of 5 hours.  So you need to be patient.  I have to wonder if there is some process that kicks off "on a schedule" to deal with these requests.  Like  you see with Exchange and it's treatment of retention policy.

[2020-04-17 19:50] natinimni commented on #29916
Hello @syedhassaanahmed , unfortunately there haven't been any change in the status of supporting AAD authentication to Azure Cognitive Search (still not supported).
That said, Azure Cognitive Search does support MSI, allowing customers to grant their search services with access to other resources in Azure. This is usefully in certain scenarios:
- Encryption at rest with customer managed keys - MS

[2020-04-17 19:54] gwenbettwy opened #52707 "Name"
This should say TLS not SSL.
This is a continuous problem throughout the documentation.  What is worse is the alternating of names between TLS and SSL.

SSL is the OLD name.  We need to change the documentation to reduce current/future confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cf867a2-715e-aae3-2b4e-d0

[2020-04-17 19:56] SaurabhSharma-MSFT commented on #52466
@RobertCadd Have you enabled adaptive application control earlier ? What all settings are changing in applocker policy rule enforcement ? Where did you check that MMA is updating the applocker policy ?

[2020-04-17 20:06] techiechap opened #52708 "ssh key section"
key_data filed is missing in the create virtual machine section, the document says "Provide a public SSH key in the key_data field"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Quickstart - Use Terraform to

[2020-04-17 20:07] TravisCragg-MSFT commented on #52698
@CameronDevine you are correct, it does not exist. Project Academic Knowledge is part of Microsoft Academic Graph, [which also has no questions for it's StackOverflow tag](https://stackoverflow.com/questions/tagged/microsoft-academic-graph).

It looks like this has ties to cognitive services, @YutongTie-MSFT do you have any idea where to get support for Microsoft Academic Graph?

[2020-04-17 20:10] CameronDevine commented on #52698
@TravisCragg-MSFT I also received some help on a previous issue with project academic knowledge from @DarrinEide.

[2020-04-17 20:11] SaurabhSharma-MSFT commented on #52674
@Donovand4 It seems correct as "N/A" is stored in $mSDSConsistencyGuidValue and GUID cast is happening on $group.'mS-DS-ConsistencyGuid' object which then stored on to  $mSDSConsistencyGuidValue variable.

[2020-04-17 20:12] MarkusVi commented on #44668
#sign-off

[2020-04-17 20:14] iainfoulds commented on #51806
This update has merged and will publish for the en-us locale in a few hours.

#please-close

[2020-04-17 20:14] jakehockey10 commented on #15398
Was the question ever answered?  It doesn't seem so.  Yes, the documentation still does not show how to only update a select few documents.  But not sure why this is closed then?  Is this possible?  If so, how?

[2020-04-17 20:18] Karishma-Tiwari-MSFT commented on #52383
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/111837

[2020-04-17 20:18] #52383 closed

[2020-04-17 20:19] KranthiPakala-MSFT commented on #52696
@slopezv2
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-04-17 20:20] ecfan commented on #48272
Hi @jmichaud-ips, @abatishchev, and @lukepfeiffer10, we're currently working to update this content. Thanks!

[2020-04-17 20:25] KranthiPakala-MSFT commented on #52392
@jmorgansmith Thanks for the details. We have assigned the issue to the content author to further review the feedback and update the document as appropriate.

[2020-04-17 20:26] KranthiPakala-MSFT commented on #52392
Hi @linda33wj , could you please have a look at this feedback. Thank you.

[2020-04-17 20:28] Donovand4 commented on #52674
When you run the code as it shows on docs it errors on the guid cast. Would you prefer if I send you the changes that I made?

Sent via mobile.

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, April 17, 2020 9:12:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Donovan du Val <donovand4@hotmail.com>; Mention <mention@noreply.

[2020-04-17 20:29] gwenbettwy opened #52710 "SSL to TLS"
SSL is the old name.  All references to this network security protocol should use the term TLS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e263226e-4621-b3d6-5837-d8da089dce75
* Version Independent ID: 423bb68b-3524-64a8-61e1-b02825c34681
* Content: [Frequently asked questions - Azure Dedicated HSM](https://docs.mic

[2020-04-17 20:31] Minewiskan commented on #52259
@gaikovoi - Regarding #2, you are correct. Mail-enabled is no longer required. That sentence has been removed from all locations it was stated. I'm not entirely sure what you mean in your first question, but groups of any kind cannot be used as _service principals_. I cannot answer #3, it's outside the scope of this GitIssue. You might want to post any additional questions like this to the forum.

[2020-04-17 20:31] #52259 closed

[2020-04-17 20:31] ecfan commented on #48272
Update should go live this afternoon after 4 PM PST. I'm closing this issue as resolved, but if the update doesn't appear, please ping me, thank you!

[2020-04-17 20:32] #48272 closed

[2020-04-17 20:32] YutongTie-MSFT commented on #52308
@usuyama
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-17 20:32] #52308 closed

[2020-04-17 20:33] mallecespedes opened #52711 "Shared Key location"
Hi, where do I find the Shared Key to perform HTTP requests on blob storage? Is it the same key as the access key or SAS token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd487659-ee50-61e5-1438-2ff48a592a7e
* Version Independent ID: 6d67aaff-2063-a48f-ca83-5ee8bd4b013b
* Content: [Call REST API operations with Sha

[2020-04-17 20:41] Mike-Ubezzi-MSFT commented on #52513
@stevestein In reviewing this PowerShell example and as the customer has pointed out, the variable `$syncAgentInfo` has not been established anywhere is the script. The `New-AzSqlSyncMember` cmdlet is looking for the on-premise SQL Database ID (`SqlServerDatabaseId` as per the second [example](https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqlsyncmember?view=azps-3.7.0#examples))

[2020-04-17 20:44] jeffthink opened #52712 "There is a lack of clarity on using virtualenvs with the __app__ directory structure"
Python azure function apps have a recommended structure that leaves it unclear where the python virtual environment should live.  Python projects usually have it in the project root, but that doesn't seem to work seamlessly for a Python Function App.  See details below.

The recommended structure is:
[code]

If I do the following:

1. `python -m venv .venv`
2. `./.venv/bin/activate`
3. `cd __app__

[2020-04-17 20:49] realdaweiyao opened #52713 "Keep it simple , please"
Hi guys,

  I must be honest here as a reader of the document, this is by far the most complex security documentation I have ever read.  I think it is due to the following two reasons.

  1.  Too many new terms invented
  2.  So many words in one long sentence to explain a simple technical step.

 It seems at the time to invent one new service, you also invent many new terms just to mean the same

[2020-04-17 20:51] iainfoulds commented on #52618
Thanks for the feedback, @DaFitRobsta

I've created a PR to remove the LDAPS rule from the list, but also add a link to the secure LDAP tutorial and recommendations for restricting external traffic if needed - https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-configure-ldaps#lock-down-secure-ldap-access-over-the-internet

[2020-04-17 20:55] jwisener opened #52714 "Utc calculation is crappy"
So if we save and/or embed queries (into tools) and need the timestamp to be for specific timezone, with what you are stating I have to go and touch everything to when DST rolls around. Needs a better way to convert to a specific timezone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199d3a41-f8bc-6da2-7b96-f47cdafbe

[2020-04-17 20:55] TravisCragg-MSFT commented on #52675
@Mahesh-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-17 20:56] TravisCragg-MSFT commented on #52677
@tgiorgio Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-17 21:03] #52618 closed

[2020-04-17 21:04] SaurabhSharma-MSFT commented on #49786
@arowse-pfl The fix is now available in production and you can now see alternativeEmailAddress in the exported file.
![image](https://user-images.githubusercontent.com/38112130/79613908-4ba82200-80b4-11ea-96c6-38cfd2d37688.png).  Please let me know if you are able to see it now.

[2020-04-17 21:09] RotateAt60MPH opened #52715 "Code prerequisites are not complete"
The article (Tutorial: Develop a C IoT Edge module for Linux devices) appears to be be missing the prerequisite that provides the standard Azure C/C++ header files and libraries that are needed to compile this sample.  e.g.  #include "iothub_module_client_ll.h" that is now in the C/C++ module template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-17 21:13] sv-data-science commented on #52413
Hi, I got the same error, were you able to solve your issue @axdemendoza ?

[2020-04-17 21:15] SaurabhSharma-MSFT commented on #52713
@realdaweiyao Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-17 21:16] SaurabhSharma-MSFT commented on #52710
@gwenbettwy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-17 21:19] DaFitRobsta commented on #52618
Perfect and thank you for the quick response!

[2020-04-17 21:20] TravisCragg-MSFT commented on #52683
@cwester72 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-17 21:21] anzaman commented on #52683
No need to worry about the root certificate expiring.

[2020-04-17 21:21] TravisCragg-MSFT commented on #52688
@mekinney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-17 21:21] Mike-Ubezzi-MSFT commented on #52598
@sdg002 I took your example record to make 4 records, each with unique Date values per record (not per property) and I am able to filter on a specific date with the following:

`SELECT * FROM c WHERE STARTSWITH(c.SomeDate, "2014-12")`

[Example_Records.txt](https://github.com/MicrosoftDocs/azure-docs/files/4495271/Example_Records.txt)

[2020-04-17 21:22] artmasa opened #52716 "Customization for charts"
Is there any documentation on how to customize the look of the chart. `AnalyticsPart` charts look so bad compared to `MonitorChartPart` ones.
I would like to remove the legend on the side and show the metrics below at all times instead of on hover. It looks like you are wasting so much space with non visible metrics.
Any one that can point to the json schema documentation to control these aspects

[2020-04-17 21:23] axdemendoza commented on #52413
@sv-data-science No, I'm still waiting for them to fix it.

The workaround was to create a separate VM running Ubuntu server and attach the VM to the ML Workspace using the Python SDK with SSH. It's not the same as able to create a ML Compute Instance though. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets#vm

[2020-04-17 21:23] TravisCragg-MSFT commented on #52683
@cwester72 If you ever switch off of AAD Authentication, you will need to have a current certificate, but an expired certificate will have no effect on AAD authentication.

Please let me know if you have any additional questions.

[2020-04-17 21:28] Mike-Ubezzi-MSFT commented on #52598
If I run the following query on the Example_Records.txt dataset:

`SELECT * FROM container c WHERE c.SomeDate > '2014-10-30T23:14:25'`

I get the following record:

    {
        "id": "09152014103",
        "OrderDate": "2014-12-15T23:14:25.7251173Z",
        "ShipDate": "2014-12-30T23:14:25.7251173Z",
        "SomeDate": "2014-12-30T23:14:25",
        "Total": 100,
        "_rid": "TsppAKzUV-8DA

[2020-04-17 21:29] Mike-Ubezzi-MSFT commented on #52598
If I run the same query but with Less Than + Equals, I get the other three records minus the 4th dated in December:

`SELECT * FROM container c WHERE c.SomeDate <= '2014-10-30T23:14:25'`

    {
        "id": "09152014101",
        "OrderDate": "2014-09-15T23:14:25.7251173Z",
        "ShipDate": "2014-09-30T23:14:25.7251173Z",
        "SomeDate": "2014-09-30T23:14:25",
        "Total": 113.39,

[2020-04-17 21:30] Mexicoder commented on #26050
@BhargaviAnnadevara-MSFT  @morgangrobin  I have a few questions.

Is there any updates as to a replacement?

Are there any examples you know of with this DIY approach. I am particularly interested in multi-regional availability tests?

Is there any plan to deprecated the TrackAvailability() API that is mentioned in the DIY option?

Is there any recommended alternative that integrates with Azure Mo

[2020-04-17 21:31] TravisCragg-MSFT commented on #52703
@varundesai85 the URL given for Azure Gov should be correct. If you have followed the instructions and this is not working for you, your best bet is to open a support request. If you do not have a support plan, please let me know.

[2020-04-17 21:42] ecfan commented on #39078
Hi @KOFlynn,

After consulting with the engineering team, they responded that the "before" version actually combined the inbound IP addresses for Logic Apps in North Europe and the outbound IP addresses for managed connectors in North Europe.

Inbound IPs for Logic Apps:
13.79.173.49/32, 40.112.90.39/32, 52.169.218.253/32, 52.169.220.174/32

Outbound IPs for managed connectors:
13.69.227.208/28, 5

[2020-04-17 21:46] MarkusVi commented on #50910
@SaurabhSharma-MSFT - there are no plans to add code snippets to this article at this point.

[2020-04-17 21:58] nbachm opened #52717 "New entry in "Service provider offers" per registration definition deployment"
I want to manage multiple customer subscriptions in the same customer tenant.
That means I need to deploy the identical service provider registration definition (OffernameXYZ) to all that subscriptions (done via arm-template, also tested via PowerShell New-AzManagedServicesDefinition).
Now, the entry OffernameXYZ appears as many times in the customer's Azure portal in "Service provider offers" as

[2020-04-17 22:05] sv-data-science commented on #52413
I'll try the work around. Thanks for sharing!

[2020-04-17 22:06] Mike-Ubezzi-MSFT commented on #52701
@chaneyw Thank you for the inquiry. The [Azure SQL Database REST API](https://docs.microsoft.com/en-us/rest/api/sql/) operations do not include the capability to return service tier level settings. Can you please Up Vote and comment upon the following UserVoice entry: [REST service for the enumeration of SQL Azure databases on a SQL Azure server](https://feedback.azure.com/forums/217321-sql-databa

[2020-04-17 22:10] michalmar opened #52718 "What .NET version does Stream Analytics uses for custom deserialization?"
I am creating custom deserializer and using System.Text.Json but I am getting error: `Could not load file or assembly 'System.Buffers, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51` when deploying to SA job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee5eb72-a0cb-7cd5-7cba-0acea5bcff74
* Versio

[2020-04-17 22:19] DanielHabenicht commented on #34607
@tamram Hi this is not working for RBAC Credentials, like mentioned here: https://github.com/Azure/cli#configure-azure-credentials-as-github-secret

Should I open another issue or do you reopen this?

[2020-04-17 22:21] RobertCadd commented on #52466
I found in  Microsoft.IntelligencePacks.SecurityPolicy.175.xml that the applocker policy will be overwritten unless "RuleCollectionExtensions" is present in the policy.

			# Identify if ServicesEnforcement feature is enabled
			if($appLockerLocalPolicy -match "RuleCollectionExtensions")

so as a work around I created a rule with "RuleCollectionExtensions" in the description.  This was very confus

[2020-04-17 22:22] TravisCragg-MSFT commented on #52708
@techiechap Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-17 22:23] MaximilianLiebe opened #52719 "Command: sudo su -"
When I executed this command today the console asked me for the 'oracle' user password which I tryed to found unsuccessfully so I went to the Azure Portal then to the VM and in the options I reseted the password for the 'oracle' user to some strong password and then I could execute successfully the 'sudo su -' command because now I know the 'oracle' password ;).

---
#### Document Details

⚠ *Do n

[2020-04-17 22:24] MarileeTurscak-MSFT commented on #52665
@Apoc70
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-17 22:24] TravisCragg-MSFT commented on #52715
@RotateAt60MPH Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-17 22:27] GinoLock commented on #51816
Also, what about availability in azure cli?

[2020-04-17 22:32] KranthiPakala-MSFT commented on #52594
@dgdrake Please do share the forum link here once it is created.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-17 22:32] #52594 closed

[2020-04-17 22:36] mike-urnun-msft commented on #52659
@Prabhakar96-dev Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 22:36] Karishma-Tiwari-MSFT commented on #52504
Thanks for sharing the feedback. Since the steps to update the credentials is present in other documents, we will leave this doc as is. However, your information provided by you will stay here with this doc for others to reference. As we get more similar feedback, we might consider including it in this doc in future. :)

[2020-04-17 22:36] #52504 closed

[2020-04-17 22:39] Karishma-Tiwari-MSFT commented on #52656
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-17 22:40] Karishma-Tiwari-MSFT commented on #52691
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-17 22:43] peachorchid opened #52720 "dotnet-ef database update Fails"
dotnet-ef database update fails with the following:

It was not possible to find any compatible framework version
The framework 'Microsoft.AspNetCore.App', version '2.2.0' was not found.
  - The following frameworks were found:
      2.1.2 at [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
      2.1.6 at [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
      2.1.17 at [C:\Progra

[2020-04-17 22:45] Karishma-Tiwari-MSFT commented on #52719
Thanks for sharing this information. We will keep the doc as is for now, but as we get similar feedback from others as well, we will consider updating the doc. However, the issue would stay with this doc for others to reference.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-04-17 22:45] #52719 closed

[2020-04-17 22:47] Karishma-Tiwari-MSFT commented on #52663
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-17 22:49] tamram commented on #34607
@DanielHabenicht - Could you clarify for me exactly what is not working? Thanks!

[2020-04-17 22:52] ecfan commented on #39078
Another alternative is to replace the specific IP addresses with the Logic Apps [service tags](https://docs.microsoft.com/azure/virtual-network/service-tags-overview), which work across regions where Logic Apps is available. However, for the managed connectors outbound IPs, you must still specify the addresses.

- Logic Apps inbound service tag: **LogicAppsManagement**
- Logic Apps outbound servic

[2020-04-17 23:00] johncdawson commented on #52710
Changes made. Likely published Monday.

[2020-04-17 23:01] DanielHabenicht commented on #34607
Yep,
I am trying to create a Storage and upload files from it for every PR.

1. I create a Service Principal with this guide: https://github.com/Azure/cli#configure-azure-credentials-as-github-secret
2. I create a storage account with: `az group deployment create --resource-group covapp --template-file .github/workflows/az-storage-template.json --parameters storageAccounts_name=${{ env.STORAGE_NAM

[2020-04-17 23:03] morgangrobin commented on #26050
Hey there,

There is a doc [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/availability-azure-functions) that goes more in-depth on the DIY approach.

I'm not working on this project any longer so I've forwarded this question to my colleague Carter who can hopefully help with your other questions.

[2020-04-17 23:07] mike-urnun-msft commented on #52660
@StefanIvemo Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:08] ems75 commented on #28845
@fauhse , I am working on a POC with a similar scenario described above. But with shared storage.
I am using Azure File Sync in a two-node Windows 2019 File Failover Cluster.
I installed az module and File Sync agent on both nodes. I also registered both nodes on my Storage Sync Service.
Initially, everything works fine, including the file synchronization on my Sync Group (I can see all the files

[2020-04-17 23:08] himanshusinha-msft commented on #52316
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-04-17 23:08] #52316 closed

[2020-04-17 23:09] mike-urnun-msft commented on #52667
@alexanderbikk Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:09] MarileeTurscak-MSFT commented on #52679
@VictorioBerra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-17 23:10] mike-urnun-msft commented on #52668
@jochenvanwylick Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:10] mike-urnun-msft commented on #52685
@luis-sanchez-globant Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:11] mike-urnun-msft commented on #52682
@rdelormeCHS Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:13] mike-urnun-msft commented on #52706
@nzthiago Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:13] mike-urnun-msft commented on #52702
@tartieret Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:14] mike-urnun-msft commented on #52712
@jeffthink Thank you for your feedback! We will review and update as appropriate.

[2020-04-17 23:21] Mike-Ubezzi-MSFT commented on #52704
@jdanton Thank you for brining this to our attention. I made a Pull Request with the following update:

`# Set a logical server name that is unique to Azure DNS (<server_name>.database.windows.net)`
`servername=server-$RANDOM`

The default `server-$RANDOM` value would have ensured that the server name value would be unique but, in the case where a customer desired a specific instance name, they co

[2020-04-17 23:21] #52704 closed

[2020-04-17 23:29] MarkusVi commented on #45863
Fixed.

#please-close

[2020-04-17 23:29] #45863 closed

[2020-04-17 23:34] mikebudzynski commented on #52660
@StefanIvemo

Yes.

The management endpoint is used both in the administrative view and in the published portal:

- In the published portal, all dynamic content (e.g., user information, list of APIs, list of Products, API details, etc.) is fetched via the management endpoint. We have plans to introduce a new endpoint for this purpose, most likely in the second half of this year, so you'll be able

[2020-04-17 23:34] mikebudzynski commented on #52660
#please-close

[2020-04-17 23:34] #52660 closed

[2020-04-17 23:35] Mike-Ubezzi-MSFT commented on #52707
@gwenbettwy Thank you for bringing this to our attention. This is more than a minor doc update, as you stated, this needs to be made throughout the documentation. I am going to have the content owner review this and have updates made through a planned effort.

[2020-04-17 23:37] KranthiPakala-MSFT commented on #52718
@michalmar Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

In the meantime could you please tell us what is the .NET version you are using?

[2020-04-17 23:45] Mike-Ubezzi-MSFT commented on #15398
@jakehockey10 Thank you for bringing this to my attention. I believe at the time this functionality was verbally communicated without an example provided. Let me revisit this but did want to provide what is likely the method that will need to be used: See the [Upsert a Document](https://github.com/Azure/azure-cosmos-dotnet-v2/blob/204cf2f4bc562bef47525fbafdc6e34806e869f2/samples/code-samples/Docum

[2020-04-18 00:18] TravisCragg-MSFT commented on #52096
@mohamed-shehata-m [Service endpoints does not work with traffic from outside the Virtual Network, including from a P2S VPN](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview#secure-azure-service-access-from-on-premises). You will need to NAT the traffic first in order to use Service Endpoints.

Have you looked at [Azure Private Endpoints](https://do

[2020-04-18 00:40] gopitk opened #52722 "Input format for no-code ONNX model deployment"
I have deployed an ONNX model (image classification) using no-code deployment on an ACI. That was successful. Also tested the model locally. But when I try to hit  the web service it does not seem to like the input. Is there a particular encoding or formatting it expects?

In my test I am just using curl to post data to the web service:
[code]
My input json snippet (req.json) as per the ONNX model

[2020-04-18 00:43] garyericson commented on #51583
@Mike-Ubezzi-MSFT - Thanks for your work on investigating this.

@rhubley - The preview for Azure SQL Database Machine Learning Services is currently closed and the plan is to shut down the service permanently at the end of June. There will be a replacement announced sometime before then. Since the preview is closed, we're not planning to update documentation. So I'm going to go ahead and close th

[2020-04-18 00:43] #51583 closed

[2020-04-18 00:46] krishnakrkhatri commented on #30802
Was this issue ever resolved? I am facing the same issue.

[2020-04-18 00:47] TravisCragg-MSFT commented on #52720
@peachorchid Can you post a link to the Azure Doc you are referring to?

[2020-04-18 00:55] Chitra27 opened #52723 "Azure app service private endpoint"
When private endpoint feature will be announced publicly?. Currently in which plan it is supported?

[2020-04-18 00:59] ianjirka commented on #29145
I can confirm https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys is still broken without the step provided by @SBajonczak

[2020-04-18 01:09] GiftA-MSFT commented on #52458
Thank you @marktab.

[2020-04-18 01:09] #52458 closed

[2020-04-18 01:42] ziesemer commented on #52703
@TravisCragg-MSFT - I'm quite confident that something has changed or broken with Azure Government here, across multiple users / computers / networks / tenants.  (I work for a Microsoft Gold Partner.)

I opened support request # 120041424003408 for the same issue on Tuesday for one government tenant ("A"), where we were attempting to configure a new P2S VPN connection with AAD auth.  I was actuall

[2020-04-18 01:47] GiftA-MSFT commented on #52687
@ddavis-100 we will review your feedback and get back to you shortly. Thanks.

[2020-04-18 01:48] femsulu commented on #52686
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-18 01:49] GiftA-MSFT commented on #52678
@CeciAc we will review your feedback and get back to you shortly. Thanks.

[2020-04-18 01:49] femsulu commented on #52714
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-18 01:51] GiftA-MSFT commented on #52689
@BadFame we will review your feedback and get back to you shortly. Thanks.

[2020-04-18 01:53] GiftA-MSFT commented on #52722
@gopitk we will review your feedback and get back to you shortly. Thanks.

[2020-04-18 02:27] femsulu commented on #52716
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-18 02:30] femsulu commented on #52717
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-18 02:46] TravisCragg-MSFT commented on #52657
@joaopgrassi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 02:47] J-Prashant opened #52724 "Updated Sample"
Kindly help with updated example.  Document Class Sample and Class in Example differs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push notifications to Xamarin.Android apps using Azure Notification H

[2020-04-18 02:49] TravisCragg-MSFT commented on #52690
@ashoka99 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 02:55] TravisCragg-MSFT commented on #52711
@mallecespedes Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 02:56] TravisCragg-MSFT commented on #52699
@realdanielbyrne Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 03:14] efreeman518 opened #52726 "Azure.Cosmos sdk4 - GetItemLinqQueryable?"
When will GetItemLinqQueryable (or equivalent LINQ based query) be available in sdk4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cf376a4-4551-ef9d-f7dc-da6e8850398c
* Version Independent ID: e5023416-823e-62bc-2c32-d6e829eead18
* Content: [Manage Azure Cosmos DB SQL API resources using .Net V4 SDK](https://docs.mi

[2020-04-18 03:40] asif1380 commented on #51652
Hi @Karishma-Tiwari-MSFT , @Heidilohr

I am following below microsoft documentation
https://docs.microsoft.com/en-us/azure/virtual-desktop/diagnostics-log-analytics

under section "Example queries",  there is 3 table given **WVDActivityV1_CL**, **WVDErrorV1_CL**, **WVDCheckpointV1_CL** some time  only **WVDActivityV1_CL** table comes sometime WVDActivityV1_CL and the second table come after 10 min

[2020-04-18 03:53] zayn008 opened #52727 "Custom branding for Oauth2 client?"
I have an application that uses Oauth2 with Azure AD to authenticate, however company branding is not shown until user has entered their email. How can I fix this so the authentication request returns on a company branded page rather than the default Microsoft page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e6

[2020-04-18 04:56] mikebernal opened #52728 "4 parameters instead of 2 in the Pipeline run"
I'm following a tutorial at Pluralsight in which the instructor only have two Parameters (FolderPath_SourceStore, FolderPath_DestinationStore) which are the sink and staging.

What value should I put in these four new parameters?
1. SourceStore_Location - ?
2. SourceStore_Directory - ?
3. DestinationStore_Location -?
4. DestinationStore_Directory - ?

P.S. I just put sink and staging to one of the

[2020-04-18 05:19] smolesen commented on #52653
It described here, how to do it from the portal:
https://docs.microsoft.com/en-us/azure/event-grid/secure-webhook-delivery

[2020-04-18 06:22] kiranshashiny commented on #41001
Please post how your connection string looks like
I'd imagine someting like this. Has the String "Endpoint at the beginning"

Endpoint=sb://name.servicebus.windows.net/;SharedAccessKeyName=<SomeAccessKey>;SharedAccessKey=<HJjuewjdfdnKIK>

[2020-04-18 06:24] Fokko opened #52729 "Typo in casing"
The table c is lowercase, so:
/*+ RANGE_JOIN(C, 500) */ *

Should be:
/*+ RANGE_JOIN(c, 500) */ *

Not a biggie, but it triggers my OCD :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 766e3fdd-3427-8a47-2755-403a912e9481
* Version Independent ID: 2fe6a7b8-ed62-cbec-8351-21d3a4132635
* Content: [Range Join optimizatio

[2020-04-18 06:38] ggailey777 commented on #52379
@robcamer from the threads I've read, it seems like this is a goal that's been hard to achieve, technically:

+ https://github.com/Azure/Azure-Functions/issues/155
+ https://github.com/Azure/Azure-Functions/issues/1194

I've pinged the team to see if there's any clear guidance for what to do in the meantime.

[2020-04-18 06:45] kiranshashiny opened #52730 "Getting a ConnectionClose('ErrorCodes.UnknownError')"
Please mention that in the documentation as to what it means.
I am using Python 3.7, running on Windows 10.
== Cut and Paste ==
import os
from azure.servicebus import ServiceBusClient
CONNECTION_STR="Endpoint=sb://personalservicebus.servicebus.windows.net/;SharedAccessKeyName=PersonalAccessKeyName;SharedAccessKey=personalAccessKey"

servicebus_client = ServiceBusClient.from_connection_string(conn_

[2020-04-18 07:19] ggailey777 commented on #51286
@mathiasbl this constructor is only supported when using the WebJobs SDK directly. I've opened this issue to make sure that's noted in the source code documentation: https://github.com/Azure/azure-webjobs-sdk/issues/2477

[2020-04-18 07:20] #51286 closed

[2020-04-18 07:23] ggailey777 commented on #51027
Thanks @collinstevens for pointing this out and for the PR to fix. As I mentioned in your PR, your commit is now published, so thanks again for taking the time to help us out. #please-close

[2020-04-18 07:23] #51027 closed

[2020-04-18 07:26] ggailey777 commented on #50280
Thanks @estensen for letting us know. We are in the process of updating this article for the latest UI.

[2020-04-18 07:29] ggailey777 commented on #50324
Reassign to @craigshoemaker for his suggestions on how we might clarify this issue.
#reassign:craigshoemaker

[2020-04-18 07:42] DixitArora-MSFT commented on #52395
@kitingChris Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-18 07:42] #52395 closed

[2020-04-18 07:46] DixitArora-MSFT commented on #52514
@spelluru  Thanks for contributing to the PR.

@gmndrg PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-18 07:46] #52514 closed

[2020-04-18 07:53] DixitArora-MSFT commented on #52730
@kiranshashiny Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the details of the specific section in the documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-18 07:55] wolfma61 commented on #52689
@BadFame - which region are you using?

[2020-04-18 08:07] bhaskar39 opened #52731 "WVD issues while connecting from outside network"
Hi Team,

I have setup the WV environment and is working from web-client. I am able access all the assigned resources over the webclient, however I cannot access the same using the Desktop Client. I am getting "Remote Desktop is not connecting to the remote computer" from my home network (outside the Azure VNet). But If I do the same from the same network (within Azure VNet) where the session host

[2020-04-18 08:31] 1c7 opened #52732 "What's the maximum limit for Batch Transcription? I mean file size and duration"
For example, max file size is 100mb?
max duration is 1 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [What is batch transcription - Speech service - Azure Cognitive Services](https://docs.microsoft.com

[2020-04-18 08:35] 1c7 commented on #52732
I am using Batch Transcription: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

I am not using any SDK, just get auth token using HTTP and create transcription task with REST API.

1. I upload audio file to Azure Storage Account's Container
2. get a public accessable URL
3. send that URL to batch transcription REST API to "Creates a new transcription"

[2020-04-18 08:38] ripsy85 commented on #47176
HI Sam,
I have fixed the issue and it's working. The only thing is that your receive the message / approval for the MFA while you are logging into the RD without have any prompt on the screen.

[2020-04-18 08:57] bartvermeersch commented on #52083
Thanks @curtand, but you are referring to an AzureAD Group, the text on the page is referring to an Office 365 group (aka Unified group or Microsoft 365 group)

See also
https://github.com/MicrosoftDocs/azure-docs/issues/17219#issuecomment-431394268
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/compare-groups?view=o365-worldwide

[2020-04-18 09:02] helshabini opened #52733 "Enabling HTTP application routing with an Internal Load Balancer"
Currently, HTTP application routing deploys an nginx ingress controller on an external load balancer.
Typically, you can attach the following manifest with the nginx ingress helm to set up the ingress controller to listen on an internal load balancer IP rather than an external internet facing one:
controller:
  service:
    loadBalancerIP: &lt;Internal-Loadbalancer-IP&gt;
    annotations:
      se

[2020-04-18 09:41] amitkub opened #52734 "Can't access BatchReadReceiptAsync using the FormRecognizerClientExtensions"
I installed the latest Nuget, I can't access BatchReadReceiptAsync using the FormRecognizerClientExtensions

[2020-04-18 09:47] JeremyTBradshaw commented on #50910
Thanks and it's ok.

[2020-04-18 09:47] #50910 closed

[2020-04-18 10:35] ningweinw opened #52735 "azurewebsites.net domain is not authorized by Google"
The instruction for application registration on Google doesn't work, it fails at setting "Authorized JavaScript Origins" and "Authorized Redirect URI". These settings require the domain "azurewebsites.net" to be added as authorized domain. When trying to add this domain in the Google API project -> OAuth consent screen configuration, I got error "Invalid domain: must be a top private domain."

---

[2020-04-18 10:43] dandamudisanjay commented on #28027
I have just send another one. Please could you let us know the update on this issue?

[2020-04-18 11:22] pheu commented on #52606
@Grace-MacJones-MSFT. Thank you. I tried with many locations eventually I was able to create the server in "East US" location. Still I think it's unclear, since the "West Europe" is listed by `az appservice list-locations --sku FREE`.

[2020-04-18 11:57] DeanGross opened #52736 "Update status"
This page indicates that the Connect Health agent has not been updated in over 9 months, is this really true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e51-c77f8a6aa59c
* Version Independent ID: e11ed733-2e65-7000-87b0-4adfcb16db21
* Content: [Azure AD Connect Health Version History](https://do

[2020-04-18 13:22] ems75 commented on #28845
Just an update...I came this morning to the portal and now my cluster has an "online" status back again after some hours being "Appears Offline". I haven't done anything. Still don't understand what happened.

[2020-04-18 13:24] luismejia9 opened #52737 "Datalake V2"
Hello team.

Does this script work for datalake V2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd361
* Content: [Calculate size of a blob container with PowerShell - Azure Storage](https://docs.microsoft.com/en-us/azure/st

[2020-04-18 13:35] KAnderson opened #52738 "misplaced and confusing section"
In the IOS section "OPTION 2: Using token-based authentication", right after using token based authentication is a section called "Configure the notification hub for APNS" which I believe was meant to be at the bottom of OPTION 1 because it comes right after having configured the notification hub using tokens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-04-18 14:08] samcookies commented on #47176
What did you additional to the documentation ?

From: ripsy85 <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Saturday, April 18, 2020 at 4:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: samcookies <samual.cookies@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure MFA to secure RD gatew

[2020-04-18 14:09] P2P-Nathan opened #52739 "Match on Setting"
Currently, the documentation reads:
 &gt; Match on: Only visible if 'Match multiple rows' is enabled.

The opposite appears to be true in usage as well as logically.  This field is only visible if 'Match multiple rows' is NOT enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df966217-591d-c60d-35ae-86e56a6c32a2
*

[2020-04-18 14:38] aquibqureshi26 commented on #32319
I Agree currently as it's in preview i'm doing the same. But i thought there is some other UI on which anirudh's team was working on and i thought it has been released.

[2020-04-18 14:38] souravmishra-msft commented on #52723
@Chitra27, Thank you for sharing your query. It would be great if you can share the Microsoft doc that you are following here to help you better.

[2020-04-18 14:39] souravmishra-msft commented on #52724
@J-Prashant, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:41] souravmishra-msft commented on #52726
@efreeman518, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:46] souravmishra-msft commented on #52727
@zayn008, Thank you for sharing your query. it would be great if you can share us a screenshot to understand exactly at what point you are expecting the Company branding to come up and it doesnt come up. Also, do share me the request that is being sent to /authorize or /token endpoint of Azure AD. In case it contains /common/oauth2, then the branding would only come up after the user enters his up

[2020-04-18 14:47] souravmishra-msft commented on #52728
@mikebernal, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:49] souravmishra-msft commented on #52729
@Fokko,thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:50] souravmishra-msft commented on #52731
@bhaskar39, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-18 14:51] yangyu1900 opened #52740 "Storage Limit Inconsistent"
According to this document https://github.com/projectkudu/kudu/wiki/Understanding-the-Azure-App-Service-file-system, I believe application content files are kept in persistent storage as they are rooted in d:\home or /home. And if this is the case, then https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits says Basic Plan has

[2020-04-18 14:51] souravmishra-msft commented on #52732
@1c7, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:53] souravmishra-msft commented on #52733
@helshabini, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 14:55] souravmishra-msft commented on #52734
@amitkub, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-18 14:55] ripsy85 commented on #47176
My issue was one of the 3 RDGs. For some reason the LoadBalancing Timeout
was still set to 5 secs.
Also the new NPS Server (new because I haven't use the main one I use for
Radius/WiFi and Vpn) was using IPv6 which was for some reason creating
issues.

On Sat, 18 Apr 2020 at 15:08, samcookies <notifications@github.com> wrote:

[2020-04-18 14:56] souravmishra-msft commented on #52735
@ningweinw, Thank you for sharing the query. can you please share me the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-18 14:56] souravmishra-msft commented on #52736
@DeanGross,
thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-04-18 15:05] souravmishra-msft commented on #52648
@dinesh71, Thank you for sharing the update. As mentioned in my previous comment you cannot specify more than one scope in a single request for a single api. To specify the scope for different apis to fetch a token for them, you would have to create separate request for each api.
Hope this helps.

[2020-04-18 15:09] BadFame commented on #52689
I have little over 300 transcriptions on which all of them are returning null. I am using eastus2.

[code]

[code]

[code]

[2020-04-18 15:09] pheu commented on #49043
I have the same problem. I'm getting:
[code]

[2020-04-18 15:16] landisj opened #52741 "Bad link to Azure Blueprint GitHub repo. (missing "101-" in renamed "101-builtins" results in unfriendly but pretty 404"
Azure Blueprint GitHub repo.
https://github.com/Azure/azure-blueprints/tree/master/samples/builtins

Should be https://github.com/Azure/azure-blueprints/tree/master/samples/001-builtins

Link broken by https://github.com/Azure/azure-blueprints/commit/74264a6c3b3df0441b505b0662742cdae68343fd#diff-bf987dac41314b56081bdbabba9d11bf

BTW, would be nice if GitHub (at least provided link on 404 page) to

[2020-04-18 15:18] DCtheGeek commented on #52741
#assign:DCtheGeek

[2020-04-18 15:19] DCtheGeek commented on #52741
@landisj Thanks for pointing this out, I'll fix it right now.  Once the update merges (which happens prior to publishing the updated doc), this issue is automatically closed. Thank you!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-04-18 15:27] #52741 closed

[2020-04-18 15:27] kgopi1 opened #52743 "Example using Azure Powershell"
Hi , Using the Managed identity from VM , i need to access to Storage account to download / upload the data . Can we get example using Powershell ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Access Azure

[2020-04-18 15:32] DeanGross opened #52745 "What about when these steps don't work"
Please provide some information about what to do when the above steps don't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1120db7-908f-e245-e87b-6582b7793594
* Version Independent ID: e061e44d-57cb-2743-25a9-665c35da2b91
* Content: [Azure AD Connect Health - Health service data is not up to date alert](https://

[2020-04-18 15:35] guo-sun commented on #52429
That's super helpful @jcbrooks92, thanks! The [documentation](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-google) on how to configure the providers refers to "Settings > Authentication / Authorization" so I missed the option under "Platform Features > Networking". In the preview flow it is indeed under "Settings" - it'd be great if the docs also mentioned t

[2020-04-18 15:35] DixitArora-MSFT commented on #52740
Hi @yangyu1900 Thanks for reaching out. We will review and update as appropriate.

[2020-04-18 15:41] ashoka99 commented on #52690
@TravisCragg Thank you so much for your response. I am waiting for this to implement one of our vendor SAML SSO implementation. If possible, please let us know as soon as possible.

[2020-04-18 16:00] xtianus79 opened #52746 "This document has very good intentions but it's very misplaced in it's core intention for what is really going on. This document is completely inadequate for starting their own web app"
This document left me through 5 solid work days of trying to figure out what was going from a core understanding so I could actually deploy my own application. This document isn't even remotely adequate to deploy anything. It leaves a person wondering what is going on rather than getting anyone started on building their own webapp.

I love VS code there's no doubt it's the best editor out there bu

[2020-04-18 16:05] cevanno commented on #52193
Thanks for the tip.  I am looking at this now.

________________________________
From: FlorianBorn71 <notifications@github.com>
Sent: Tuesday, April 14, 2020 12:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: cevanno <cevanno@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Conversion of 40M poly model results in 0 poly due to absolute

[2020-04-18 16:22] xtianus79 commented on #32472
I figured out how to do this and this information should be added in documentation because it would prevent someone from running any angular app until this is implemented.

[2020-04-18 16:22] mcollier opened #52747 "Extended JSON Format Switch"
Is the `--handle-extended-json-format` switch still needed?  According to https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#arm, the switch is now used by default.  Should the documentation be updated to reflect that the switch is no longer necessary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-18 16:34] #52533 closed

[2020-04-18 16:34] BhargaviAnnadevara-MSFT commented on #52657
@joaopgrassi Thanks for the feedback! I have assigned the issue to the content author to evaluate the requested enhancement and update as appropriate.

[2020-04-18 16:38] BhargaviAnnadevara-MSFT commented on #52533
@yull1860 Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-04-18 16:46] jcbrooks92 commented on #52429
@guo-sun I see now, yeah that is misleading, thank you for pointing that out. The preview experience that will be the new experience in the feature brings parity between the functions and app service blades.

[2020-04-18 16:47] RotateAt60MPH commented on #52715
Additional information.  It appears that the missing prerequisite is only to support intellisense on vscode and is not critical for compiling/executing since that is done on the target edge device.  It is probably worth mention in the article that if you want to browse program definitions into the azure iot c sdk (which is the missing prereq), then you need to install 'vcpkg' and install the azure

[2020-04-18 16:51] #52743 closed

[2020-04-18 16:52] kgopi1 commented on #52743
able to get the details using Connect-AzAccount -identity . MSI got authenticated able to connect the storage account .

[2020-04-18 17:12] spmanjunath opened #52748 "Error while using string.Split("|||") function."
While using the below policy expression an 'incorrect values' error is thrown:
[code]
From the documentation it appears that there is support for System.String type, however the above error seems to suggest otherwise.  Please clarify if it is something that is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-18 17:52] ThomasITS opened #52749 "Is there a way I could subscribe to 3 different WVD tenants with the app? I use WVD for three different organizations."
Is there a way I could subscribe to 3 different WVD tenants with the app? I use WVD for three different organizations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Windows Virtual Desktop Windows

[2020-04-18 17:54] mikebernal commented on #38364
Need help.
My release pipeline is failing because it couldn't find the ARMTemplate which I already including on the pipeline.
Here is the error:
Cannot find path 'D:\a\r1\a\psdf\psdf-factory-dev\ARMTemplateForFactory.json' because it does not exist.

[2020-04-18 18:09] SaurabhSharma-MSFT commented on #52674
@Donovand4 sure, please and I will try to execute the code to actually see if any issue.

[2020-04-18 18:24] ggailey777 commented on #47369
@ajklotz I've verified what you are seeing in the portal. Apparently, the portal isn't displaying the disabled status, AND the portal testing still appears to work. However, when you call the URL endpoint from the browser or cURL, you get the expected 404 response.

I've written to the portal UX folks to report this, and I'll update this thread when I get something that you can track. In the meant

[2020-04-18 18:24] #47369 closed

[2020-04-18 18:43] helshabini commented on #52733
Hi, I actually found a workaround, to export the ingress controller service to YAML, add the azure-load-balancer-internal annotation for it, then reapply the YAML. That will replace its external-ip address with a VNet one.

[2020-04-18 18:53] AshishRay opened #52751 "Azure Stack SQL"
Which of these SQL Server options {SQL databases, SQL managed instances, SQL virtual machines}, as discussed in the table above, are actually offered in Azure Stack (i.e. your hybrid on-premises cloud)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1e395a1
* Version Independent ID: 9348ee7

[2020-04-18 18:57] AjayKumar-MSFT commented on #52358
@strangecyan, Thanks for this great question.
As mentioned in [this document ](https://docs.microsoft.com/azure/app-service/containers/app-service-linux-intro#limitations)- The Azure portal shows only features that currently work for Web App for Containers. As we enable more features, they will become visible on the portal.
For bringing clarity, there are two separate docs for App Service ([Window

[2020-04-18 19:20] peachorchid commented on #52720
Oops!

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb

[2020-04-18 20:03] mikebernal commented on #51554
@mikanyg , I'm having the same problem. how did you solve yours?

[2020-04-18 20:31] MarileeTurscak-MSFT commented on #52591
Thank you! I've reported this to the owner of the video. Will update the thread when they have a resolution.

[2020-04-18 20:31] #52591 closed

[2020-04-18 20:50] justpowershell opened #52752 "email address does not accept mail"
"Microsoft is committed to assist customers in their migration. Email AzureFilesMigration@microsoft .com for a customized migration plan as well as assistance during the migration."

The above email address (without the space) is a restricted DL that does not allow email from unknown senders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-04-18 21:03] amitkub commented on #52734
azure-sdk-for-net/sdk/cognitiveservices/FormRecognizer

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/FormRecognizer/src/Generated/FormRecognizerClientExtensions.cs

[2020-04-18 21:10] ggailey777 commented on #51303
I'm take this offline with @soninaren #please-close

[2020-04-18 21:10] #51303 closed

[2020-04-18 21:13] syedhassaanahmed commented on #52058
+1 We have the same issue. Potentially we'll execute the following from an Azure DevOps pipeline and can't use an Azure AD user for this purpose as the login fails due to MFA policy
[code]
Error
[code]

[2020-04-18 21:16] alex-mason-jdas opened #52753 "Missing documentation on grant_type and scope"
The page declares the need to define bearerToken but not grant_type and scope

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29b9-b779-88a6-b53a-84b4a6cc1f9b
* Content: [Secure a Restful service in your Azure AD B2C - Azure AD B2C](https://docs.microsof

[2020-04-18 21:47] laultman commented on #43764
Error while creating database ReAccessGovh38deei42:
 {"headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}. Brand new Cosmos DB instance using the default settings for the database.

[2020-04-18 22:09] TravisCragg-MSFT commented on #52737
@luismejia9 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 22:11] TravisCragg-MSFT commented on #52738
@KAnderson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 22:13] TravisCragg-MSFT commented on #52739
@P2P-Nathan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 22:44] TravisCragg-MSFT commented on #52745
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-18 22:46] TravisCragg-MSFT commented on #52746
@xtianus79 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-18 22:47] TravisCragg-MSFT commented on #52747
@mcollier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-18 22:58] TravisCragg-MSFT commented on #52748
@spmanjunath Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-18 22:59] TravisCragg-MSFT commented on #52749
@ThomasITS can you post a link to the doc you are referring to?

[2020-04-18 23:09] TravisCragg-MSFT commented on #52743
@kgopi1 Thanks for the follow up. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-18 23:12] lokijota commented on #41412
Hi all. I also can't get the ISE SQL Adapter to work with SQL Authentication . Non-ISE works fine but customer can't go live with non-ISE.

[2020-04-18 23:15] TravisCragg-MSFT commented on #52751
@AshishRay You can find [more information about Azure Stack's SQL offering Here](https://docs.microsoft.com/en-us/azure-stack/operator/azure-stack-sql-resource-provider?view=azs-2002).

Azure Stack's SQL provider functions similar to Azure SQL, but is not Azure SQL. There are no other SQL offerings in Azure Stack, but you can deploy a Virtual Machine and run a SQL Server on that machine.

Please l

[2020-04-19 00:04] StingyJack commented on #41001
@kiranshashiny  - this is for SQL, your connection string looks like its for an azure service bus. Totally not the same thing, but I included it below in the script.

@VanMSFT  - I asked a pretty straight forward and what should have been a simple question that did not get answered and was closed. I read that as it seems like you probably cant get an answer from the product team either.  I do know

[2020-04-19 00:06] StingyJack commented on #47257
@VanMSFT  - see the last comment on the linked issue for the example of how to make this work.

[2020-04-19 00:52] AshishRay commented on #52751
Thanks! Is there any webpage that documents the difference between Azure Stack's SQL Provider and Azure SQL (or the full-fledged SQL Server)? I am aware of https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-considerations?view=azs-2002.

[2020-04-19 00:53] RonnieQuan opened #52755 "What this region asazureeus28-aspaaseastus2.asazure.windows.net?"
I have analysis service created in eastus2, so the URL is aspaaseastus2.asazure.windows.net
But we try to connect to this analysis service, our firewall logs shows a deny to FQDN asazureeus28-aspaaseastus2.asazure.windows.net?

Can you please provide more region information? Is this Azure legitimate region asazureeus28-aspaaseastus2.asazure.windows.net?

---
#### Document Details

⚠ *Do not edit t

[2020-04-19 01:47] RonnieQuan opened #52756 "List SAS Token"
Can you please add section on how to list SAS token?
REST API or ARM listAccountSas function are the only options?
no SDK, no CLI, no Powershell?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#list
https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listaccountsas

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-19 02:15] MachineIntelligenceCN opened #52757 "Is it possible to bypass the workspace configuration for local use?"
I am trying to run this tutorial on [azure notebooks](notebooks.azure.com). I can't enter the code from https://microsoft.com/devicelogin to generate configuration file. Is it possible to bypass the workspace configuration for local use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b9a9

[2020-04-19 02:45] MashNagesh commented on #32711
Hi - Iam facing the same issue.
Azure ML SDK Version:  1.2.0.
scikit-learn version is 0.20.3.

Both `from sklearn.externals import joblib` and `import joblib` are not working.
Created the model using Compute instance(not Notebook VM) 24 hours back.

[2020-04-19 03:38] Andriy-dev opened #52758 "Preserve original POD ip for cluster external destinations ?"
If pod sending the traffic outside the cluster it get NATted to the Node IP address. Is there a way to preserve the original IP address ( the ip allocated to the pod by ipam ) ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4f3a-8b1b-17

[2020-04-19 04:17] RonnieQuan commented on #52681
When I search whether a tag can be applied to policy or policy assignment, I looked up policy document, but couldn't find the information.
I didn't know to locate the information from another document called "Managing resources documentation"

[2020-04-19 04:55] kummanish commented on #52707
Hello gwenbettwy, because Azure Database for MariaDB support both SSL and TLS as a part of our offering we should not treat it as one. We can have a server without TLS and still use only SSL.

[2020-04-19 05:22] mikebernal opened #52760 "Couldn't get pass pre deployment script while building release"
My build couldn't get pass the Azure Powershell predeployment script that I've copied from the documentation https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#automate-continuous-integration-by-using-azure-pipelines-releases

Here is the log:

## Validating Inputs
## Validating Inputs Complete
## Initializing Az module
Import-Module -Name C:\Modules\az_3.5.0\Az.

[2020-04-19 05:27] RonnieQuan opened #52761 "management groups activity logs archive to storage account and search from log analytics workspace"
I'm looking for information regarding archiving management group level activity log to storage account.
is it supported or only subscription level activity log can be archived to storage account?
Same question for collect the log to log analytics workspace.

I'm looking for similar information
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-collect

---
#### Document Det

[2020-04-19 06:03] srini1978 commented on #50659
Any updates on this ?

[2020-04-19 06:12] srini1978 opened #52763 "Changetracking and Temporaldb data"
If we enabled Read scale out on Azure hyperscale db, can the read only copy access change tracking and temporal db information ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Read queries on replicas - Azure

[2020-04-19 06:41] BakkerJan opened #52764 "Powershell or Graph API"
Can we activate the SMS sign in with PowerShell or GrapAPI when users already registered their phone number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e90747-a144-01b7-8066-31b31e4eb6aa
* Version Independent ID: 4855c2d8-d647-1ca0-fe5f-670495df5042
* Content: [SMS-based user sign in for Azure Active Directory](h

[2020-04-19 06:42] capraynor opened #52765 "InvalidShare State Reported When Mounting Azure File Storage."
We are about to mount this container: https://portal.azure.com/#blade/Microsoft_Azure_Storage/ContainerMenuBlade/overview/storageAccountId/%2Fsubscriptions%2Fa65bcaae-c271-45b7-a522-c40a32289353%2Fresourcegroups%2Fjs-playground-dev%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fjsplaygrounddevaccount/path/jsplaygrounddevaccountcontainer/etag/%220x8D7E4175F83C168%22

to this appservice:
https:

[2020-04-19 07:15] usuyama opened #52766 "Python native logging settings"
I tried logging.basicConfig as suggested in my training scripts, but it didn't change the log level when running on Azure ML training.

For example, at the top of the main script:
[code]
This works when I run it on my local machine (info-level logs to stdout); however, on Azure ML training, only warning and above logs show up on the 70_driver_log.txt.

Similarly, the specified log format works on

[2020-04-19 08:18] gunzip opened #52767 "extensions.csproj and extension bundle"
1) How do the packages listed in extensions.csproj behave when you have also an extension bundle listed into the host.json file ? In other words, is there any way to selectively update / override the version pointed by the  bundle ? (locally and/or when deploying into the app service ?)
If you deploy both the bundle and extensions.csproj, which file would pick the function runtime ?

https://docs.

[2020-04-19 08:20] catAngangco opened #52768 "Using own Blob Storage"
I've been able to follow this tutorial successfully. When I try to create an external data source with my own data from my own blob storage, the url from the portal starts with https:// so I get this error.
"Scheme of the input URI is not supported. Please revise the following scheme and try again: 'https'"
When I change it to the 'wasbs://' format, it runs successfully. But when I try to create a

[2020-04-19 08:23] ram-msft commented on #52412
@alanflanders There could be a possibility that a soft limit might be set on your subscription due to the recent health pandemic to support business continuity and essential services. Here is a link to the recent [update](https://azure.microsoft.com/en-us/blog/update-2-on-microsoft-cloud-services-continuity/).
you can request a [quota increase](https://docs.microsoft.com/en-us/azure/azure-portal/s

[2020-04-19 08:27] ram-msft commented on #52413
@rescog There could be a possibility that a soft limit might be set on your subscription due to the recent health pandemic to support business continuity and essential services. Here is a link to the recent [update](https://azure.microsoft.com/en-us/blog/update-2-on-microsoft-cloud-services-continuity/).
you can request a[ quota increase](https://docs.microsoft.com/en-us/azure/azure-portal/support

[2020-04-19 08:38] ram-msft commented on #52422
@peterinnesmsft Thanks for the feedback.
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-authoring-steps#troubleshooting-errors-with-the-migration-process
@diberry can you please check on this.

[2020-04-19 09:07] jorgecarleitao opened #52769 "How to set a custom scope to be v2.0?"
Currently, when a client requests an access token for a custom scope through

`https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token`

 that access token's `ver` is `1.0`. This is counter-productive because the claim `iss`,

`https://sts.windows.net/{tenant_id}/`

 *is not* equal to the the key `iss` on the openid-configuration at

`https://login.microsoftonline.com/{tenant_id}/v2.0/.wel

[2020-04-19 09:54] zayn008 commented on #52727
@souravmishra-msft Hi Thanks for your response! **it does contain /common/oauth2** and match what you've said, is it possible to change this/is there an alternative or is it just the way it is?

I get this screen before entering my details then it takes me to the branded page after entering my email
![2020-04-19 (1)](https://user-images.githubusercontent.com/12057490/79684590-a1063f80-822a-11ea-8c

[2020-04-19 10:08] seanmcdonnellblog commented on #52580
Thanks @tamran :)

[2020-04-19 11:35] sorrigit commented on #51219
This issue is not fixed. To be honest, it looks like comment is closed even while issue is still not fixed. Based on all the other comments the general issue is the incompatibility of outdated .dot net framework 2.2.0 which is needed by the source but there is no hint yet how to get this fixes using current .net core framework 3.1.3 - the only answer I see couple of times "We are currently investi

[2020-04-19 11:37] BigBaldyBoy commented on #44248
I agree, I'm on free subscription, no card added yet.  couldn't add vm in European locations, switched to US and I was immediately given a server..

[2020-04-19 12:03] ahmet-kara opened #52770 "Connection without using DPS after provisinioning"
At steps 7-8, it seems device is connecting to IoT Hub without any need of DPS after first boot. But, according to the samples and API reference documentation; device should always create a provisioning client and call the register api at each boot, even it is already provisioned. At this context; should we consider that each device boot will be evaluated as "DPS operation" and device will be char

[2020-04-19 12:42] SumanthMarigowda-MSFT commented on #52752
@justpowershell Thanks for the question! We are investigating and will update you shortly.

[2020-04-19 12:43] SumanthMarigowda-MSFT commented on #52756
@RonnieQuan Thanks for the question! We are investigating and will update you shortly.

[2020-04-19 13:58] memildin commented on #51297
@msandbu, I've tried messaging you. Are you able to expand any more on your request?

[2020-04-19 14:12] cevanno commented on #52193
There is no general problem with either model I tried.  They load in unity and works fine in their apps.  But there may need to be some requirement of the ARR that I am not accounting for.  Thanks to your info on the *info.json file.   I had uploaded a high and low poly model for this test (neither worked) but for now let me provide answers based on the low poly model to make sure polycount is not

[2020-04-19 14:18] nandha2143 opened #52771 "In Document "https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway" it is not clear how the application gateway created with ssl offloading certificate"
In Document "https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway" it is not clear how the application gateway created with ssl offloading certificate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Indepe

[2020-04-19 14:20] #52470 closed

[2020-04-19 14:34] usgvja opened #52772 "Receiving execution policy error with Azure Functions Core Tools (2)"
Hi,

Same issue as https://github.com/MicrosoftDocs/azure-docs/issues/41771
following https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/functions-create-first-function-vs-code?view=azurermps-4.2.0&pivots=programming-language-python from scratch.

The doc doesn't work from this step
![image](https://user-images.githubusercontent.com/63963718/79690665-d70fe780-825b-11ea-84bb-0d5176ad49ac.p

[2020-04-19 14:51] MarileeTurscak-MSFT commented on #52753
@alex-mason-jdas
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 15:24] MarileeTurscak-MSFT commented on #52755
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 15:39] axdemendoza commented on #52413
If the issue was due to a vCPU quota limit, wouldn't it apply to all VMs and not just ML Compute Instances? Because we can create all the VMs we want, up to the vCPU quota of 4, but even trying to create a MLCI with 1 vCPU throws that error.  "The specified subscription has a total vCPU quota of 0 and is less than the requested compute training cluster and/or compute instance's min nodes of 1 **wh

[2020-04-19 16:13] RonnieQuan opened #52774 "Access Storage Account When Install Diagnostic Extension"
I'm looking for information in following section
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/template-description#extensions

1) Is there an integration with RABC access to storage account using built-in roles in ARM template or can only use SAS key, access key?
roles: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal#rbac-roles-for-blobs-and-qu

[2020-04-19 16:14] alanflanders commented on #52412
Thanks for the response, but I don’t think that’s it. I can SSH into the compute. It just doesn’t show up as a target to generate a profile.

[2020-04-19 16:39] MarileeTurscak-MSFT commented on #52757
@MachineIntelligenceCN
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 16:41] jtuliani opened #52775 "Need to clarify: how long does auto-provisioning of the MMA take on a new VM"
Suppose I enable auto-provisioning of the MMA (aka Log Analytics Agent) via Security Center.

A very important question is: how long after a new VM is provisioned does it take for SC to kick in and provision the MMA?

According to https://techcommunity.microsoft.com/t5/azure-security-center/azure-security-center-monitoring-agent-deployment-options/ba-p/817520 it could be up to 16 hours!!!

It woul

[2020-04-19 17:00] BhargaviAnnadevara-MSFT commented on #52770
@ahmet-kara Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-19 17:10] NavtejSaini-MSFT commented on #52763
@srini1978 We are checking this and will get back to you.

[2020-04-19 17:11] CharmanderJieniJieni opened #52776 "Where are role definitions stored in Azure bankend"
Is role definition stored in Azure AD? We want to get clarified once we create new custom roles, where does it reside

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Azure built-in roles for Azure RBAC](https:

[2020-04-19 17:35] warnov commented on #46251
3 months have passed!

[2020-04-19 17:35] warnov commented on #52688
We DO really need practical samples!

[2020-04-19 17:40] ahmet-kara commented on #52770
Sample first boot sequence code from the documentation that I followed;
https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509

There is no example of how to connect at following boots after provisioning.

[2020-04-19 18:07] realdaweiyao commented on #52713
Thank you Saurabh for a prompt response.

SaurabhSharma-MSFT <notifications@github.com> 于2020年4月17日周五 下午11:15写道：

[2020-04-19 18:32] NavtejSaini-MSFT commented on #52380
@browseaware We are going ahead and closing this thread for now. If you need any further help please comment and we will try to help further.

[2020-04-19 18:32] #52380 closed

[2020-04-19 18:36] Sirlupinwatson1 commented on #39837
We could add some information on the DOCS here with subsection and points definition. It's still unclear.

[2020-04-19 18:48] balivo opened #52777 "Best way to validate Scopes when using Azure Functions with Azure AD B2C"
Hi!

I use Azure Functions (without API Management, for now) and how to check if the authenticated user is authorized to access some endpoint?

Make a call to "/.auth/me" and check with the user have the Endpoint Scope available (increasing the Function execution time and costs)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-19 18:49] JoeRistine opened #52778 "Azure SQL Private Endpoint - Certificate warning for privatelink.database.windows.net zone"
Using the recommended zone for Azure SQL `privatelink.database.windows.net` presents a certificate error when establishing an encrypted SQL connection since the certificate used by Azure SQL doesn't contain a SAN for `*.privatelink.database.windows.net`.

The recommendation according to this article is to not override the zone used for public endpoints, so how can an encrypted connection be achiev

[2020-04-19 18:59] ispy-deep commented on #51559
Hi. Just n graphic designer with a x that keep my Microsoft account hostage when he made himself under his company banner the Business. He is n Microsoft partner . After the he got his own he refuse to release.

[2020-04-19 19:01] NavtejSaini-MSFT commented on #52451
@vytux-com The Database copy is based on Geo Replication technology. This is how the technology is used as explained here:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication#active-geo-replication-terminology-and-capabilities

![image](https://user-images.githubusercontent.com/52257742/79697086-a7a6ae00-824e-11ea-9891-94ca92b02776.png)

Hopefully this helps you

[2020-04-19 19:08] JoeRistine commented on #52778
Here is additional info on the tests I've run.

Testing with a host record `xx.privatelink.database.windows.net` and connecting with an encrypted SSMS connection returns the following error. If I check the `Trust server connection` option, the connection succeeds.

![image](https://user-images.githubusercontent.com/45176497/79697145-08ce8180-824f-11ea-9816-64c70d6833f0.png)

Testing with a host re

[2020-04-19 19:09] MarileeTurscak-MSFT commented on #52758
@Andriy-dev
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:13] MarileeTurscak-MSFT commented on #52760
@mikebernal
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:20] NavtejSaini-MSFT commented on #52432
@TheAsteroid Thanks for the feedback and glad that you were able to get answers for your question. We are assigning this to our doc author for checking if document can be enhanced.
@yegu-ms Please check if we can further enhance this document.

[2020-04-19 19:22] Jared-Harrington-Gibbs commented on #52033
Hey @MicrosoftGuyJFlo, Thanks for the clarification. I'll try to update the documentation and submit a pull request whenever I have some time on my hands.

[2020-04-19 19:23] MarileeTurscak-MSFT commented on #52761
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:25] ealsur commented on #52726
V4 preview is using AsyncEnumerable and asyn iterators. This is in sync with the Azure Core SDKs. Linq provider is not async and thus not included at this point until we have a clear guideline from the Azure Core SDK https://github.com/Azure/azure-sdk-for-net/blob/master/README.md

[2020-04-19 19:27] MarileeTurscak-MSFT commented on #52764
@BakkerJan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:28] NavtejSaini-MSFT commented on #52476
@arefinsami There is a use case where the databases in the different subscriptions but in same tenant.
This Stack issue explains this further.
https://stackoverflow.com/questions/48301691/azure-sql-sync-between-subscriptions

Hope this helps.

[2020-04-19 19:29] MarileeTurscak-MSFT commented on #52765
@capraynor
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:31] JonVinson opened #52779 "Notification Hubs Back-end"
It would be nice to if there were a version of the "Modify you iOS app" section for C#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26be6221-1fbc-c630-db58-223a34b40e07
* Version Independent ID: 78506c32-c57f-3149-84b3-d0a35d4bf36b
* Content: [Send push notifications to specific users using Azure Notification Hubs](h

[2020-04-19 19:36] MarileeTurscak-MSFT commented on #52766
@usuyama
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:45] MarileeTurscak-MSFT commented on #52767
@gunzip
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:48] MarileeTurscak-MSFT commented on #52768
@catAngangco
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 19:49] MarileeTurscak-MSFT commented on #52769
@jorgecarleitao
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 20:05] cconrado opened #52780 "Parameter deployment schema"
Hi There,

Hasn't the schema date changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141525e0-3406-45a1-e34d-ed7f6697267b
* Version Independent ID: aaf6fde8-448b-397f-8725-ef51c61325e2
* Content: [Create parameter file - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/template

[2020-04-19 20:49] arefinsami commented on #52476
@NavtejSaini-MSFT, the subscriptions are in the same tenant and I am an owner of both of these subscription and still in the web UI I don't see the other subscription showing up in the dropdown menu while adding a member.

How can I do it using PowerShell instead?

[2020-04-19 20:52] usgvja commented on #52772
Actually, the package v3 exists on choco but is currently unmoderated.
Then you need to hard code the last version to install it with choco, after this install it works.

Please retrieve the version number from https://chocolatey.org/packages/azure-functions-core-tools-3
then in the case where VERSION = 3.0.2358, run this command in PowerShell (admin) :
choco install azure-functions-core-tools-3 -

[2020-04-19 21:15] larspars commented on #52449
This page also incorrectly claims that Standard Verizon CDN supports brotli: https://docs.microsoft.com/en-us/azure/cdn/cdn-features

[2020-04-19 21:20] MarileeTurscak-MSFT commented on #52777
@balivo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-19 21:56] alex-mason-jdas commented on #52753
FWIW I was able to get it working by declaring grant_type and scope similar to bearerToken as string

[2020-04-19 22:27] syedhassaanahmed commented on #52058
@PiotrPerak I found a workaround to this problem. You can login to the SQL Server using the SQL Authentication and when creating the user, instead of below
[code]
do the following, specifying SID
[code]
SID can be calculated as specified [here](https://stackoverflow.com/a/56150547).

[2020-04-19 22:56] vytux-com commented on #52451
I understand that, that's why I was surprised that it said the copy is as at the time of the request. This is clearly not correct. The copy is synced as at the time on the db copy/end of seeding which in most cases will be several hours after the copy request.

What is even worse is that there is no way to even guestimate the completion time as even using database views the completed percentage go

[2020-04-19 23:08] dotnetgator opened #52783 "Information about user flows listed above is inaccurate"
The text above reads "User flows in Azure AD B2C follow the three-file pattern depicted above".

Using the getAsXml API used by the Azure Portal Download User Flow button to retrieve user flows and flipping the bit (getBasePolicies=false) to fetch all files, it is evident that this is not the case. In fact some User Flows currently leverage a 5-file deep hierarchy:
RP --&gt; Base-v1 --&gt; B2CTrus

[2020-04-19 23:15] dotnetgator opened #52784 "Update User Flow/Custom Policy recommendation to indicate that the decision to move to Custom Policies currently most likely requires a complete switchover."
The language above: "Choose user flows for most scenarios"

Does not completely capture the idea that within a given application, the decision to select Custom Policies for one policy generally means that User Flows cannot be used, since today User Flows and Custom Policies cannot share token singing keys.  As a result, although middleware or client configuration gymnastics can be used (with some

[2020-04-19 23:40] chrisbasoglu commented on #52224
fixed. please close.

[2020-04-19 23:52] fowl2 commented on #41744
@ram-msft I would appreciate it if someone could look at my comment :)

[2020-04-19 23:56] dcbrown16 opened #52785 "Missing from ToC"
Is this page still relevant? It seems to have been dropped from the ToC and should be added back in if it's still applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f830218-a56b-6a7e-d6e7-7736896d3f91
* Version Independent ID: ae33d704-d0b7-d478-8602-cc787f706d72
* Content: [Credential assets in Azure Automati

[2020-04-20 00:02] SaurabhSharma-MSFT commented on #52559
@moiiran I have used your predicates logic and tried using two different passwords one with lowercase - ö and another with uppercase Ö and both are treated as different letters(one lowercase and another uppercase).  If I am trying to pass lowercase in case of uppercase or vice versa the password is not working and I am getting error when hitting the continue button.  I am also able to create a new

[2020-04-20 00:02] SaurabhSharma-MSFT commented on #52666
@er-mohd-ali Please let us know if you have any other questions.

[2020-04-20 00:13] MGoedtel commented on #52785
@dcbrown16 - Oops, I overlooked that.  I'm revising some tutorial articles and I just edited the TOC to add it back.  Thanks for bringing this to my attention! #please-close  Should go live tomorrow or Tuesday the latest.

[2020-04-20 00:13] #52785 closed

[2020-04-20 00:18] Andy-KW commented on #27745
I had the same issue and figured it out. I had set the custom DNS servers on my DC only, so any new servers could not resolve the domain. Changed the custom DNS servers to the VNet and all ok now.
Easy to figure out when you have a VM to log into and test from.
Cheers

[2020-04-20 00:32] cahann commented on #41744
- Yes, each owner can create a different resource with max of 10 per subscription per region
- Yes, can be switch to a different resource in the same region

[2020-04-20 00:49] enema17484 opened #52786 "403 when using managed identity to call microsoft graph"
I'm getting a 403 forbidden when i try to use API Management managed identity to call graph api
![image](https://user-images.githubusercontent.com/56966553/79704356-f5e89b00-82a8-11ea-8c1c-d051e99ef247.png)

to replicate:
![image](https://user-images.githubusercontent.com/56966553/79704375-19abe100-82a9-11ea-9ed6-f678741a29be.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-04-20 00:58] BhargaviAnnadevara-MSFT commented on #52770
@ahmet-kara Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-04-20 01:09] GraceZhangM opened #52789 "Please help added the issue and fix of WindowsServerVersionsSupportedWithCaveat"
Please help add the issue and fix of WindowsServerVersionsSupportedWithCaveat in the part 'Assessment readiness issues'

WindowsServerVersionsSupportedWithCaveat means the OS on that machine might be Windows Server 2003. Hence it is conditionally supported. We can migrate it to azure, but there will be no support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-20 01:28] ksm8bjm opened #52790 "Cloud tiering"
1. I enabled cloud tiering on my on-premise server. Do I need to enabled cloud tiering on my Azure cloud server endpoint?
2. Is it possible to set or add a feature to tiering by year instead of volume percent? We have projects from 2014-2017 that would love to tiered instead of set percent of the volume.  Or maybe Powershell script to loop through each folder and files to check the dates.

---
###

[2020-04-20 01:36] rphoon opened #52791 "Picture in step 5 doesn't show the metrics for SQL Managed Instance."
Looks like the picture is not showing the metrics for SQL Managed Instance but SQL database instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16105842-d07f-1bab-de12-fd0da4ffa19c
* Version Independent ID: 548a8551-3404-471d-55e0-1f05e341277a
* Content: [Setup alerts and notifications for Managed Instance (Azure p

[2020-04-20 01:38] Hcm440 commented on #50389
Hi Team,

There are issues in the specified code while updating a record in cosmos DB.
Please refer to the details below :

**Issue statement**:  The issue is in executing the following line of code. As per the example, It created the record "Created new item: 3 - Complete Cosmos DB Node.js Quickstart ⚡". But while updating the record, It is unable to find the id, though the record is there in the

[2020-04-20 01:59] TravisCragg-MSFT commented on #52771
@nandha2143 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-20 02:33] egorpavlikhin opened #52792 "Node count of 1 is recommended, but not supported. Docs could be a lot clearer about this."
Recommended node count for Bronze tier is said to be one, yet buried further down is a very important note that basically means that 1 node clusters are unusable in all practical sense and will require re-creation to do almost anything. Even deploying applications to it doesn't work reliably (because it will fail EnsureAvailability check and get stuck).

This is such an important limitation it sho

[2020-04-20 03:14] DashleenBhandari-MSFT commented on #52779
@JonVinson , Thanks for raising the issue. We will investigate and update you.

[2020-04-20 03:34] SwathiDhanwada-MSFT commented on #52789
@musa-57 Can you please review the request and update the document if necessary?

[2020-04-20 03:42] ram-msft commented on #52412
@alanflanders Thanks for the details. Can you please add more details about your data set files.
@tsikiksr can you please check on this.

[2020-04-20 03:48] lyrana commented on #51636
tagging @Shipra1Mishra

[2020-04-20 03:56] jakaruna-MSFT commented on #51862
@SuDHarmik I will assign this issue to the author to answer your question.

Since you are looking for a specific database, you can contact that provider for more information.

[2020-04-20 04:01] AjayKumar-MSFT commented on #51974
@rafaelberrocalj, Apologies for the delay!
You will have to leverage startup scripts to install locale packages and set your environment to language of your choice. These are the packages needed: locales and locale-all.
To do this, please follow the steps outlined here: https://azureossd.github.io/2020/01/23/custom-startup-for-nodejs-python/ and install locales and locale-all packages. Then config

[2020-04-20 04:02] rajukmr opened #52793 "issue while updating a record in cosmosdb using this nodejs example"
Hi Team,

There are issues in the specified code while updating a record in cosmos DB.
Please refer to the details below :

**Issue statement**:  The issue is in executing the following line of code. As per the example, It created the record "Created new item: 3 - Complete Cosmos DB Node.js Quickstart ⚡". But while updating the record, It is unable to find the id, though the record is there in the

[2020-04-20 04:07] AjayKumar-MSFT commented on #52358
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-04-20 04:16] SwathiDhanwada-MSFT commented on #52243
@ybutola To troubleshoot your issue further, I would request you to send mail to AzCommunity@microsoft.com by including your Azure subscription ID and a link to this GitHub thread (for context) and we can continue the conversation.

At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now.

[2020-04-20 04:16] #52243 closed

[2020-04-20 04:19] SwathiDhanwada-MSFT commented on #52274
@edwardshao Hope the previous comment provided by sshams79 helps with your question. We will close the issue for now. If there are further questions , kindly revert and we will glad to assist you.

[2020-04-20 04:19] #52274 closed

[2020-04-20 04:26] Prabhakar96-dev commented on #52654
@TravisCragg-MSFT I followed the [On-Behalf-Of flow](https://github.com/Azure-Samples/ms-identity-java-webapi)  reference.

[2020-04-20 04:26] VikasPullagura-MSFT commented on #52636
@shwetazambre I will now proceed to close this issue.

You can open a new issue once you have the information ready or you can mention my name in the comment on this issue, that way I can reopen this issue and we will continue the discussion.

[2020-04-20 04:26] #52636 closed

[2020-04-20 04:35] SwathiDhanwada-MSFT commented on #52780
@cconrado  Thanks for your comment.. We will review it and get back to you shortly.

[2020-04-20 04:36] SwathiDhanwada-MSFT commented on #52776
@CharmanderJieniJieni Thanks for your comment. We will review it and  get back to you shortly.

[2020-04-20 04:38] shashishailaj commented on #52775
@jtuliani Thank you for your query . We will have this reviewed and updated accordingly.

[2020-04-20 04:39] SwathiDhanwada-MSFT commented on #52774
@RonnieQuan Thanks for your comment. We  will review and get back to you shortly.

[2020-04-20 04:39] ChiragMishra-MSFT commented on #52473
@normesta Can you please take a look at this?

[2020-04-20 04:44] ram-msft commented on #52413
@axdemendoza As of now please raise a azure support ticket to work with technical support team on the limitations for compute instances. In the azure portal on the Usages + quotas page for the required vCPU family, you can search the current quota of your chosen region by using the filters displayed in the page. And you will see current usage and quota limit values are displayed at the end of the

[2020-04-20 04:49] VikasPullagura-MSFT commented on #52792
@egorpavlikhin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-20 04:49] SnehaAgrawal-MSFT commented on #52429
@guo-sun We will close this out but if you feel you need more information please just let us know.

[2020-04-20 04:49] #52429 closed

[2020-04-20 04:49] VikasPullagura-MSFT commented on #52792
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-04-20 04:55] shashishailaj commented on #52786
@enema17484 Thank you for your query. We will investigate and update the thread further.

[2020-04-20 04:56] shashishailaj commented on #52784
@dotnetgator Thank you for your feedback . We will investigate and update this thread further.

[2020-04-20 04:58] SnehaAgrawal-MSFT commented on #52628
@amenaUSF Thanks for the feedback! Could you please confirm for which region you are trying to deploy to help you better on this.

[2020-04-20 05:00] amenaUSF commented on #52628
Hey

The issue was sorted :) thank you anyway
However I feel like the documentation is still a little misleading. - there’s no mention of whether we need to check the box for enable migrations or not and also in my case, even after I enabled migrations, It didn’t migrate the data into the azure database from my local sql one.

But everything is fixed and problem solved :) thank you for reaching ou

[2020-04-20 05:03] shashishailaj commented on #52783
@dotnetgator Thank you for your feedback . We will have content authors look into this and update as needed after review

[2020-04-20 05:07] shashishailaj commented on #52790
@ksm8bjm Thank you for your feedback . We will investigate and update this thread .

[2020-04-20 05:42] jakaruna-MSFT commented on #51828
A free support ticket is enabled and the details are sent to your mail.

I will close this out for now. If you need additional help please open a new issue.

Once your issue is resolved, post the resolution here.

If the resolution needs doc update, then open a new issue by referring to this one

[2020-04-20 05:42] #51828 closed

[2020-04-20 05:58] smolesen commented on #52653
Finally found some documentation about it here:
https://docs.microsoft.com/da-dk/cli/azure/ext/eventgrid/eventgrid/event-subscription?view=azure-cli-latest

[2020-04-20 06:05] ram-msft commented on #52503
@SteveDuchene We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:05] #52503 closed

[2020-04-20 06:05] VikasPullagura-MSFT commented on #52733
@helshabini As you mentioned that you have figured out a work around by changing and reapplying the yaml is working for you. Hope there are no issues with the DNS resolution with the approach you tried.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-20 06:05] #52733 closed

[2020-04-20 06:07] SumanthMarigowda-MSFT commented on #51658
@jackchenquest We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:07] #51658 closed

[2020-04-20 06:07] ram-msft commented on #52502
Duplicate of https://github.com/microsoftdocs/azure-docs/issues/52503.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:07] #52502 closed

[2020-04-20 06:11] #52224 closed

[2020-04-20 06:13] VikasPullagura-MSFT commented on #52758
@Andriy-dev Can you try using `externalTrafficPolicy: Local` reference [here](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip). Hope that works.

[2020-04-20 06:13] VikasPullagura-MSFT commented on #52758
@MicrosoftDocs/aks-pm Can you please add your comments on this.

[2020-04-20 06:14] SumanthMarigowda-MSFT commented on #52315
@wsmckenz Just an update:  If your organization requires port 445 to be blocked per policy or regulation, or your organization requires traffic to Azure to follow a deterministic path, you can use Azure VPN Gateway or ExpressRoute to tunnel traffic to your Azure file shares.
[Storage account firewall settings](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-overview#s

[2020-04-20 06:15] asergaz commented on #38553
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:15] #38553 closed

[2020-04-20 06:20] clarenceb opened #52794 "Unrecognized argument `--subscription` when creating service principal"
The command `az ad sp create-for-rbac --subscription &lt;subscription-uuid&gt; --sdk-auth | base64 -w0` is invalid and return this error:

[code]

Change it to:

[code]

as is shown here: https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-existing.md#using-a-service-principal

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-20 06:26] SumanthMarigowda-MSFT commented on #52375
@RonPattersonBadger Apologies for delay in responding here!
Are you still finding any difficulties, what is the error are you getting while providing the access?

It dependents on owner what share-level permissions can be provided/given to the  users:

Storage File Data SMB Share Reader allows read access in Azure Storage file shares over SMB.
Storage File Data SMB Share Contributor allows read, w

[2020-04-20 06:26] #52375 closed

[2020-04-20 06:32] cmmdesai commented on #33867
#please-close

[2020-04-20 06:32] #33867 closed

[2020-04-20 06:35] ram-msft commented on #52552
@amitkumarshukla Can you please check on this.

[2020-04-20 06:36] RohitMungi-MSFT commented on #52661
@ggerogiokas It looks like an issue with the dependencies that is causing an issue while using it on different computes and seems like an local issue and an upgrade of conda worked for you.

Due to the nature of these issues it would be easier to work with an engineer 1:1 through our support channel where the environment can be replicated with the same setup and appropriate remediation steps can b

[2020-04-20 06:42] souravmishra-msft commented on #52477
@ElmoGonzo, Closing this ticket for now.

[2020-04-20 06:42] #52477 closed

[2020-04-20 06:45] souravmishra-msft commented on #52648
@dinesh71, Closing the thread as of now.

[2020-04-20 06:45] #52648 closed

[2020-04-20 06:52] ram-msft commented on #52611
@comconn We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:52] #52611 closed

[2020-04-20 06:52] ram-msft commented on #52612
@comconn We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 06:52] #52612 closed

[2020-04-20 06:55] souravmishra-msft commented on #52727
@zayn008, Thank you for sharing the update. This "**/common**" endpoint is mostly used when you plan to code an application that would be used by multiple tenants. Like you develop your application and distribute it to other tenants to use in their respective tenants, These type of apps is called multitenant apps and they usually need the **/common** endpoint. If you know that your application is

[2020-04-20 07:00] souravmishra-msft commented on #52735
@ningweinw, Just wanted to follow up with you to check if you can share  the Microsoft Doc you are referring to, so that its easier for us to get this assigned to the right team.

[2020-04-20 07:02] SubhashVasarapu-MSFT commented on #52794
@clarenceb , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-20 07:03] chenheng0910 opened #52795 "Error: login_required"
I am developing a mobile application.
According to the [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) I successfully get the **authorization code** and logged in successfully. But I want to use silent login when logging in for the second time.
I added the **login_hint** parameter and modified ** prompt = none**, but the result returned **"login_requ

[2020-04-20 07:07] pvrk commented on #52388
@Noutlaw1 : We are looking into this and will clarify. Thanks for your patience.

[2020-04-20 07:08] chenheng0910 commented on #52795
I do n’t know if the front-end request parameters are correct, or the server has settings that need to be modified. I hope someone can help me.

[2020-04-20 07:10] amanmcse commented on #52278
@juniwang  This scenario is not directly supported, but here's a suggested approach to solve your problem:

- Only application A should have access to the key vault.
- The key vault will manage both SAS tokens - the one that provides full permission and the one that provides table-read permission.
- Application A must retrieve the table-readonly SAS token and send the value to application B using

[2020-04-20 07:10] #52278 closed

[2020-04-20 07:25] ningweinw commented on #52735
Hi

Following is the link, it fails at step 1 on Google side, I think Microsoft
needs to work with Google to allow the azurewebsites.net domain, thanks

https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-google

Best Regards
Ning Wei

On Mon, Apr 20, 2020 at 3:00 PM souravmishra-msft <notifications@github.com>
wrote:

[2020-04-20 07:25] ziesemer commented on #52375
@SumanthMarigowda-MSFT - Please consider re-opening this, even just for this reason:

This is directly related to the documentation.

Please specify what the expected time frame is for permissions to take effect, e.g. "within 2 hours", or that "an update job runs every 6 hours", or whatever the case may be.  Then this can be used as guidance as to if / when support tickets should be opened for thi

[2020-04-20 07:26] #49374 closed

[2020-04-20 07:34] TomAafloen opened #52796 "Same step twice?"
The steps 5a and 5b has already been configured, in steps 4a and 4b. Maybe keep the steps in 5, since the complete URL (including the CUSTOMER ID) is provided for you there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b77d3b-8182-f0d5-4c32-54bbc4cf6efd
* Version Independent ID: 211e5ba6-7ef8-2581-0997-8de92f7cd276

[2020-04-20 07:36] gunzip opened #52797 "confusing naming"
The html title of the page is 'durable entities', the in page title is 'entity functions' and the menu link is 'stateful entities',
it's not clear if they all refer to the same concept. Probably we need to converge on only one label ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f
*

[2020-04-20 07:41] juniwang commented on #52278
Thanks @amanmcse for the reply. Using multiple KVs makes perfect sense to me. Will have a try

[2020-04-20 07:55] fujie opened #52798 "the meaning of value "Trustframework" for SingleSignOn"
in this reference, it says possible values for SingleSignOn is "Suppressed", "Tenant", "Application", or "Policy". but in the sample policy there is a value "TrustFramework" for SingleSignOn;
  &lt;SingleSignOn Scope="TrustFramework" KeepAliveInDays="7"/&gt;
What the meaning of the value "TrustFramework"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-20 08:06] ggerogiokas commented on #52661
Hi Rohit, could you send me a link to the support channel? Do you mean a
github issue?

Thanks,
George

On Mon, Apr 20, 2020 at 7:36 AM RohitMungi-MSFT <notifications@github.com>
wrote:

--
George Gerogiokas

[2020-04-20 08:07] cveld commented on #50744
@SumanthMarigowda-MSFT I am confused here; at the start of your story you are mentioning classic alerts. But we are not using classic alerts in particular. We are using the classic monitoring section in general. As shown on your screenshot in the documentation:

![image](https://user-images.githubusercontent.com/6196260/79728511-53530b00-82ee-11ea-9a7a-7e9adba293a7.png)

Nevertheless, further down

[2020-04-20 08:11] itamar56 opened #52799 "Peak hours range doesn't consider DST"
The timezone calculation does not take the daylight saving time into account. so during summer time, the peak start time and end time will be set 1 hour earlier. Instead of using a fixed time zone offset. Something like this can be done (While passing the TimeZoneID from the LogicApp):

function Convert-UTCtoLocalTime2
{
	param(
		$TimeZoneID
	)
        $ConvertedTime = [System.TimeZoneInfo]::Conv

[2020-04-20 08:12] amanmcse commented on #52783
@dotnetgator I have added below text under **Policy files** section:

[2020-04-20 08:22] neeleshray-msft commented on #52398
@curtand Could you check on this documentation please ?

[2020-04-20 08:23] Donovand4 commented on #52674
This is the error I received when using the default code that is on the docs page.

PS C:\Users\vmadmin\Desktop> .\update.ps1 -dn "CN=MFAEnforcedRDP,OU=Groups,DC=contoso,DC=com" -inputCsv .\filename.csv
Cannot convert value "N/A" to type "System.Guid". Error: "Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
At C:\Users\vmadmin\Desktop\update.ps1:25 char:1
+ $ms

[2020-04-20 08:34] RobMcZagBDS opened #52800 "Pipeline expressions enabled for all types of parameters"
Hi, this page stated that pipeline expressions should be available only for parameters of type String.
This is not what happens in the product, as I have one parameter of type TimeStamp and I can use pipeline expressions.
Not that they work, but I can use them.
This coupled with the mostly incompatible languages of the two expression languages creates a mess to understand what's right, what's wron

[2020-04-20 08:40] parsnep opened #52802 "Log Analytics Encryption"
What Encryption is used for the storage of the Log Analytics service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666f89ba-3403-727a-0651-cdc6e779ab86
* Version Independent ID: eb01a389-ea85-75d6-84a3-1535f3395abf
* Content: [Log Analytics data security - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-m

[2020-04-20 08:40] Murthy582 opened #52803 "Data Lake Gen2 as Source - Issue with Wildcard filenames"
Referring to the below section in documentation.
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-lake-storage#azure-data-lake-storage-gen2-as-a-source-type

Wildcard filenames are not working and failing with 'Path not found error'.
If I specify full file name instead of wildcard name, it is working fine.
This is happening specifically when I pass wildcard filename as a pa

[2020-04-20 08:43] FlorianBorn71 commented on #52193
I don't see an attached file?

Yes, a bounding box is defined by two positions (min/max) in 3d space, _not_ position and size.
Please note that units are specified in meters. So a coordinate like 1465.6 means it is >1km off the camera.
There can be two main issues with large coordinates which I want to outline now. For simplicity, I leave y and z as placeholders:

Case 1: The box is far off-center

[2020-04-20 08:44] matthklo commented on #35411
Thanks Pal! You really save my day! That is exactly the same error of my case.

[2020-04-20 08:45] TravisCragg-MSFT commented on #52778
@JoeRistine Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-20 08:48] BartR96 opened #52804 "Incorrect url listed at "Update your connection string" section"
In the newer versions of the Azure portal/ Cosmosdb the Gremlin endpointed is listed as a websocket secure url (wss://&lt;azure storage account name&gt;.gremlin.cosmos.azure.com:443/). When the "student" of this quickstart would use this url in this example the SDK returns the exception: "System.Net.WebException: The remote name could not be resolved: 'wss'". It also does this when you specify the

[2020-04-20 08:52] pemar-MSFT opened #52805 "Edit Tumbling Window Triggers"
These triggers must be deleted/recreated to update the start date and the recurrence. The documentation should make this explicit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e90a49ad-b872-757e-4f63-7fac92327d2b
* Version Independent ID: 60e35bd6-449c-20f7-245f-f55cec44546a
* Content: [Create tumbling window trigger

[2020-04-20 08:57] DixitArora-MSFT commented on #52797
Hi @gunzip Thanks for reaching out. We will review and update as appropriate.

[2020-04-20 08:57] RobMcZagBDS opened #52806 "Compatibility between expression language"
Hi, first I would like to say that in general the parameter passing using two different language is complicated to understand and the lack of examples (especially beyond the trivial myParam = 'myValue') makes difficult and frustrating to work with this product.

It would be nice to have more and more complex examples, so that one can better pick up how the mechanism work.

Trivial problem I am fac

[2020-04-20 08:58] SubhashVasarapu-MSFT commented on #52227
@johnpudd , Appreciate your patience. We are actively investigating and checking with Verizon team on this issue. I'll be right with you.

[2020-04-20 08:59] AshokPeddakotla-MSFT commented on #52652
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-20 09:01] neeleshray-msft commented on #52399
@Coopem16  As of today, this is restricted to the Cloud applications as of today.
We will be closing this thread now. Let us know if you need further help.

[2020-04-20 09:01] #52399 closed

[2020-04-20 09:02] aykay76 opened #52807 "Obsolete method in example "Copy a blob""
FYI:

'TransferManager.CopyAsync(CloudBlob, CloudBlob, bool, CopyOptions, SingleTransferContext, CancellationToken)' is obsolete: 'Replaced by overload that takes CopyMethod'

Using the following package references:

    &lt;PackageReference Include="Microsoft.Azure.Storage.Blob" Version="11.1.3" /&gt;
    &lt;PackageReference Include="Microsoft.Azure.Storage.Common" Version="11.1.3" /&gt;
    &lt

[2020-04-20 09:04] neeleshray-msft commented on #52485
@gregmoore-ertech We would suggest you to open a new **[Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/)** with us on this as we would need logs and further insights on your environment.

[2020-04-20 09:04] #52485 closed

[2020-04-20 09:07] SnehaAgrawal-MSFT commented on #52628
@amenaUSF Glad to know that issue resolved! Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-20 09:07] #52628 closed

[2020-04-20 09:13] neeleshray-msft commented on #52526
@iainfoulds Could you check on the same ?

[2020-04-20 09:19] neeleshray-msft commented on #52525
@DKT2510 Password Reset History is a part of the Password Policies in Azure AD. There is nothing separately you would have to configure. Ref - https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#password-policies-that-only-apply-to-cloud-user-accounts

We are closing this thread now. Let us know if you need further help.

[2020-04-20 09:19] #52525 closed

[2020-04-20 09:20] neeleshray-msft commented on #52524
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/52525

[2020-04-20 09:20] neeleshray-msft commented on #52524
Closing Thread

[2020-04-20 09:20] #52524 closed

[2020-04-20 09:22] neeleshray-msft commented on #52736
@billmath Could this be verified ?

[2020-04-20 09:24] neeleshray-msft commented on #52635
@billmath Could this be incorporated to the document ?

[2020-04-20 09:27] neeleshray-msft commented on #52511
@dcc-spartan At the first Log-On, Azure AD by default forces a Password Change, this is by design. The "_ForcePasswordChangeOnLogOn_" syntax is for Admins to utilize when they want an existing user to change their passwords again at the next LogIn, possibly due to Account Breach scenarios.

Let us know if we can assist you further on the same,

[2020-04-20 09:27] #52511 closed

[2020-04-20 09:29] sebhe opened #52808 "screenshots"
Above screenshots seem to be outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cc2555-0450-11f2-a75f-f58e1780bd3a
* Version Independent ID: 28dbe157-cf9f-04fb-8830-ad3f53a53bd8
* Content: [Deny Public Network Access - Azure portal - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/howto-de

[2020-04-20 09:30] neeleshray-msft commented on #52515
@SergGu As of today, this is not a possibility. You can suggest your idea on the **[Azure Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory)** for our Engineers to check on the same.

[2020-04-20 09:30] #52515 closed

[2020-04-20 09:32] capraynor commented on #52765
@MarileeTurscak-MSFT

Thanks for your response, and sorry, my bad, the correct operation should be:
1. Create a share in here:
![image](https://user-images.githubusercontent.com/3467515/79736532-84523080-832c-11ea-93db-d87721814873.png)
2. Fill in share name in here:

![image](https://user-images.githubusercontent.com/3467515/79736691-c8453580-832c-11ea-9c5a-6db551b709d1.png)
3. Then the path mapp

[2020-04-20 09:32] capraynor commented on #52765
This one is not well-documented. Please consider to create a document for this step.

[2020-04-20 09:52] SergGu commented on #52515
Thank you for clarifications. This means in the current format the dashboard is useless for most of the customers. But It is still a good start.

FYI - I added more points to the existing feature request "Accurate MFA Reporting in Azure in Usage & Insights" https://feedback.azure.com/forums/34192--general-feedback/suggestions/40201543-accurate-mfa-reporting-in-azure-in-usage-insight

[2020-04-20 09:56] SergGu commented on #52515
P.S. Can you please add lack of filtering to "Limitations" section? Thanks
Link - https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/authentication/howto-authentication-methods-usage-insights.md#limitations

[2020-04-20 09:57] shakiladominic commented on #33818
@yegu-ms This issue is actually closed but I couldn`t still find the steps to setup Azure App Configuration for Service fabric ASP.Net Core API. Can you point me to the right documentation please?

[2020-04-20 09:57] ram-msft commented on #52413
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 09:57] #52413 closed

[2020-04-20 10:00] ChiragMishra-MSFT commented on #52806
@RobMcZagBDS Thanks for the feedback. I am really sorry for the inconvenience. I am assigning the issue to the content owner to evaluate and update as required.

@kromerm Can you please take a look at this?

[2020-04-20 10:00] davidobrien1985 opened #52810 "Updates? Windows?"
What happened to this initiative? Is this dead?
Will there ever be Windows support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cea95e2-c775-c363-d468-2232c2b51f4a
* Version Independent ID: c87ec30c-b0b7-d6e5-403b-a6d9991248b0
* Content: [Collect custom metrics for Linux VM with the InfluxData Telegraf agent - Azur

[2020-04-20 10:06] ram-msft commented on #52529
@slavizh Can you please add more details about the metric that you are trying.
I could see the metrics as displayed below.
https://docs.microsoft.com/en-us/azure/machine-learning/monitor-resource-reference#metrics

[2020-04-20 10:09] amanmcse commented on #52549
@wouterdevinck I tested this and found that the behavior is different for different languages. When I used` ui_locales=nl`, localization for all built-in strings was not working and with `ui_locales=hi` only a few strings were not translated.

Even though there is different impact on different languages, selfasserted 2.0.0 is definitely breaking localization. I will be engaging our Product Team to

[2020-04-20 10:11] ram-msft commented on #52551
@artsheiko Thanks for the feedback. @trevorbye can you please check on this for adding the long-running multi-utterance sample also.

[2020-04-20 10:15] yoelhor commented on #52798
Thank you for bringing this to our attention, the doc will be fixed later today.

[2020-04-20 10:16] Bibekg001 opened #52811 "OTP conflict at tenant level"
Hi Team,
OTP doesn't work for account for which Microsoft account is created, but it is not tenant specific; Find below scenario for clarification;
If a user have OTP authentication turned off and federation is not created for a tenant, while inviting a GUEST USER(eg.test@gmail.com) he/she is asked to create a MS account during signing in.
Now suppose we have different tenant for which OTP authent

[2020-04-20 10:21] VikasPullagura-MSFT commented on #44142
@TyNev Can you please check and add your comments.

[2020-04-20 10:23] babu3009 commented on #51757
I am receiving the same error 500 issue. can this be fixed ?

[2020-04-20 10:23] yoelhor commented on #52753
Thank you for bringing this to our attention. I'm fixing the doc

[2020-04-20 10:27] lucarv commented on #51296
Hello

You close this issue but it is still broken. Please reopen until properly fixed.

From: Bahram Banisadr <notifications@github.com>
Date: Friday, 17 April 2020 at 18:45
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tayo Carvalhal <Tayo.Carvalhal@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Following documentation for Webhook,

[2020-04-20 10:33] Andriy-dev commented on #52758
Thank you @VikasPullagura-MSFT , as far as I see externalTrafficPolicy: Local is applicable to SVC/ ingress traffic only. However I’m trying to understand how to keep the pod IP if pod sending egress traffic to VNET connected with VNET peering . To note I tried to create cluster with network plugin azure and outboundtype UDR ( or LB) and behavior is the same.

[2020-04-20 10:43] rafaelscruz commented on #40662
Hello, I'm facing this problem. I'm sure I assigned the Storage Blob Data Contributor, on the Azure Data Lake Storage Gen2 account. How can I resolve this problem?

[2020-04-20 10:51] hire-him opened #52812 "Tutorial steps broken ?"
average@Azure:~/quickstart$ az webapp up  --location westeurope --name harshu
Could not auto-detect the runtime stack of your app, see 'https://go.microsoft.com/fwlink/?linkid=2109470' for more information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d

[2020-04-20 10:59] smstuebe opened #52813 "The registration ID is alphanumeric, case insensitive, ..."
The description for the registration id states

but what's really implemented is:

The registration ID is alphanumeric, **lower case**, and may contain special characters including colon, period, underscore and hyphen.

If you try to enroll a device with the certificate containing CN=ABCD123, it will fail, because the registration id can only contain lower case characters.

---
#### Document detai

[2020-04-20 11:05] amanmcse commented on #52535
@sgdesmet I am checking internally with product team on this. I will post the update on this thread.

[2020-04-20 11:05] sscchh2001 opened #52814 "Permitted Virtual Machines should not include Microsoft.Compute/disks"
Disks resources do not have Microsoft.Compute/imagexxxx attributes. Anyone follow this guidance will fail to create VM.
{
        "field": "type",
        "in": [
          "Microsoft.Compute/disks", &lt;this type should be deleted&gt;
          "Microsoft.Compute/virtualMachines",
          "Microsoft.Compute/VirtualMachineScaleSets"
        ]
      },

---
#### Document Details

⚠ *Do not edit t

[2020-04-20 11:06] ChiragMishra-MSFT commented on #52805
@pemar-MSFT Thanks for the feedback. I am assigning it to the content owner to review and update.

@djpmsft Can you please take a look at this?

[2020-04-20 11:07] ThomasITS commented on #52749
URL is https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-windows-7-and-10

[2020-04-20 11:08] ChiragMishra-MSFT commented on #52800
@RobMcZagBDS Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-04-20 11:11] yoelhor commented on #52024
The document will be updated later today.

#please-close

[2020-04-20 11:11] #52024 closed

[2020-04-20 11:11] impothnis commented on #52373
@TravisCragg-MSFT @himanshusinha-msft - Really appreciate if you could share some information on this

[2020-04-20 11:17] jhueppauff opened #52815 "Missing type Microsoft.OperationsManagement/solutions"
Seems like there is an undocumented restriction.

E.g. in my case I used the PMSGallery/Updates Product and I couldn't use a lower case for "name". If I do I get a Bad request exception.
Not completly sure if it must match the Product Name or just a simple lower/upper case issue?

https://docs.microsoft.com/en-us/azure/automation/automation-update-management-deploy-template#deploy-template

---
##

[2020-04-20 11:20] #52753 closed

[2020-04-20 11:21] #52798 closed

[2020-04-20 11:22] jokarl opened #52817 "CosmosDB output bindings documentation does not match actual properties"
Creating a output binding to cosmosDB manually in a function generates the following snippet:

[code]
But according to the documentation it should actually be:
[code]

Using first config in vscode and running `func start` generates the following error:

Using `cosmosDB` instead (as the documentation says), works. _But_ using cosmosDB as type in the Function App in Azure does not work at all. In th

[2020-04-20 11:24] wouterdevinck commented on #52549
Thank you, I didn't think to test in other languages. Will drop a mail.

[2020-04-20 11:25] VikasPullagura-MSFT commented on #52814
@sscchh2001 Thanks for pointing this out.

PR has been submitted for the doc update, changes will go live soon.

[2020-04-20 11:31] kalyankrishna1 commented on #52216
#please-close

[2020-04-20 11:31] #52216 closed

[2020-04-20 11:31] #41620 closed

[2020-04-20 11:39] marioanton opened #52818 "No need to fully use FQDN"
You can use user@servername in the login field and use an IP address to connect to the server

Thanks

This is related to
```Use the Fully Qualified Domain Name (FQDN) of the server in connection strings for your clients. Any login attempts made directly to the IP address shall fail. This behavior is by design, since private endpoint routes traffic to the SQL Gateway in the region and the FQDN nee

[2020-04-20 11:43] femsulu commented on #52402
HI @bandersmsft , the customer is reporting that the instructions on add/update TAX ID don't match with what he/she's seeing in the Account Center portal.

@CeciAc  - is this accurate? can the customer send a screenshot of the issue to AzCommunity@microsoft.com and include a link to this GitHub thread for context

[2020-04-20 11:43] #52402 closed

[2020-04-20 11:45] yogeshverma1 opened #52820 "Tiller is no longer part of Helm"
Tiller is now removed from Helm, this (https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#package-management-with-helm) section needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Co

[2020-04-20 11:49] alex-mason-jdas opened #52821 "Bearer token caching"
For a REST API that is being used continually, a bearer token approach should be able to cache the bearer token rather than continually get a new one.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29b9-b779-88a6-b53a-84b4a6cc1f9b
* Content: [Secure a Re

[2020-04-20 11:53] johnatanbs commented on #50962
Thank you so much, been looking for a good free VPN for a while now.

[2020-04-20 12:11] ashoksamal6363 commented on #9406
is this available in north europe? i am getting this issue.

[2020-04-20 12:20] bhushan7337 commented on #39701
I encountered same problem while performing policy assignment which has deployIfNotExists effect, The managed identity is created which requires role assignments. I have contributor and Policy contributor role which is not sufficient and hence User Access Administrator role is needed.
This can be a blocker sometimes as remediation becomes time consuming.

[2020-04-20 12:24] PramodValavala-MSFT commented on #52667
@This is indeed the way to set the timeout, at least on the APIM level. Also, as mentioned in this doc, values above 240 seconds may not work due to the network infrastructure dropping connections.

As for your case, could you share how you are making the request to APIM to test this scenario. I believe it is possible that the client you are using is timing out.

[2020-04-20 12:29] townendk commented on #50422
Hi @viswanadham-k thank you for the update. I have updated my automation account script and now can see that the scale down job no longer fails.

This may warrant a separate thread but now that this seems to be working OK, could I please get clarification on what the script SHOULD be doing? I've found it does not scale down hosts that have got users logged into them. I was expecting for these user

[2020-04-20 12:33] Feday commented on #52549
Hello there, I can also confirm this issue happening for pt-br language. Thanks.

[2020-04-20 12:50] abbgrade commented on #52536
@CHEEKATLAPRADEEP-MSFT I need it, if the Azure SQL is in a VNet.

[2020-04-20 12:50] VikasPullagura-MSFT commented on #52820
@yogeshverma1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-20 12:51] VikasPullagura-MSFT commented on #52820
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-20 12:55] dotnetgator commented on #52783
Thank you @amanmcse . I think that is a good start to include and to help dispel the confusion, though I am a little hung up on the "each type" language - there is no need in policy files that each file be of a "base", "extensions", "RP" type. In fact User Flows do *not* follow this approach. They have what could be considered an RP file, a Base file, and then 3 "other" things in the middle (one o

[2020-04-20 12:55] SwathiDhanwada-MSFT commented on #52793
@rajukmr Thanks for your comment. We will review the issue and get back to you shortly.

[2020-04-20 12:55] VikasPullagura-MSFT commented on #52799
@itamar56
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-20 12:56] dotnetgator commented on #52783
One more note @amanmcse . Please do not forget/omit the fact that the text about the User Flows currently in there is simply incorrect. User flows *do not* use a 3-file hierarchy, and although you do have to jump through some hoops to do so, it is something that can be checked.

[2020-04-20 12:56] VikasPullagura-MSFT commented on #52799
@stgeorgi @RoopChevuri can you please add your comments on this.

[2020-04-20 12:57] SwathiDhanwada-MSFT commented on #52802
@parsnep Thanks for your comment. We will review your question and get back to you shortly.

[2020-04-20 12:57] PramodValavala-MSFT commented on #52772
@usgvja Apologies for the experience but looks like this is an issue that cascades up to `npm` itself. This issue, Azure/azure-functions-core-tools#1821, covers the same and mentions the `npm` issue, npm/cli#470 causing this.

Since the issue seems to be specific to the powershell script, I believe [changing the default shell in VS Code](https://code.visualstudio.com/docs/editor/integrated-termina

[2020-04-20 12:59] shashishailaj commented on #52796
@TomAafloen Thank you for your feedback . We will have this checked and update the thread.

[2020-04-20 12:59] SwathiDhanwada-MSFT commented on #52810
@davidobrien1985 Thanks for your comment. We will review your question and get back to you shortly.

[2020-04-20 13:01] SwathiDhanwada-MSFT commented on #52815
@jhueppauff Thanks for your comment. We will review your request and get back to you shortly.

[2020-04-20 13:01] shashishailaj commented on #52795
@chenheng0910 Thank you for your query. We will have this looked into and update the thread.

[2020-04-20 13:03] KalyanChanumolu-MSFT commented on #52638
@proyb6 Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2020-04-20 13:03] shashishailaj commented on #52796
@v-nagta @chetansriv @jeevansd  Could you please have this reviewed and update the thread?

[2020-04-20 13:05] #52638 closed

[2020-04-20 13:07] jakeives95 commented on #31078
Hello,

It's now 2020 and all of the useful information resides under this 'closed' feedback topic, which I find very annoying.

If device registration GPO doesn't work and you're suggesting that clearing the device registration SCP from Active Directory and using the ClientSideSCP Method is the only way to achieve a controlled rollout, could you please remove the below article, as it was the the

[2020-04-20 13:09] ivanaliptakova opened #52822 "Nulls always last"
Using composite index and including items with not defined values, is following use case possible?
ORDER BY last name ASC -&gt;items with last name will be sorted ASC, items without lastName defined will be last
ORDER BY last name DESC -&gt;items with last name will be sorted DESC, items without lastName defined will be last

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-04-20 13:13] jakeives95 commented on #31078
Also, is there any ETA on when the device registration GPO will be working again? As I say, there is conflicting information on the internet regarding this topic and it would be good understand if this is still an issue or not.

[2020-04-20 13:13] edemen opened #52823 "What is 'Runs'?"
Please clarify somewhere on this page what 'Runs' and 'Avg Base Rate' are.
Am I supposed to find out from the website that defines SPECInt benchmark? I have tried going there, but did not see anything about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID:

[2020-04-20 13:17] KalyanChanumolu-MSFT commented on #52474
@b-slim The Java SDK referenced above is still the best way to work with Table API.
The Java V12 SDK has support for Blobs, Queues and Files.

[2020-04-20 13:28] tsrob50 commented on #52365
I don't see "Tenant Administrator" as a role available in Azure AD.  Can you specify what Azure AD role is required to manage organizational relationships?

[2020-04-20 13:31] dcurwin commented on #50541
The document has now been updated, thanks.

#please-close

[2020-04-20 13:31] #50541 closed

[2020-04-20 13:32] namithakrshn opened #52824 "Override SSO sessions held by the external IDP"
As per the documentation https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-reference-sso, Azure AD B2C does **NOT** override the SSO sessions held by the external parties.
I am working on a scenario where authentication is delegated to an external OIDC provider, but I would still want Azure AD B2C to handle the session management once the authentication is completed. Is it

[2020-04-20 13:36] stuart7777 commented on #51589
Is there are timeframe for when the sign-in frequency for MFA will be available, as we have a requirement for this?

[2020-04-20 13:44] bkeefeON opened #52825 "Where do I go to troubleshoot problems?"
When I submit a list, each entry fails with the error "No user with this user name/object ID exists in this group. Change the user name/object ID in the file to match the user name/object ID of an existing user in this group  and resubmit your request."

Yet, each user name I have used does exist, and some are even already part of the group from initial testing.  These are all guest users.  Can I

[2020-04-20 13:48] microkost opened #52826 "helm install nginx needs chart name"
# Use Helm to deploy an NGINX ingress controller
helm install nginx stable/nginx-ingress \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux

Error: This command needs 1 argument: chart name

---
#### Document Details

⚠ *Do not edit this sec

[2020-04-20 13:49] MGoedtel commented on #52442
#please-close as this issue has been idle for several days with no response to my questions.  The formatting issue with the template was addressed in a PR last week.

[2020-04-20 13:49] #52442 closed

[2020-04-20 13:52] souravmishra-msft commented on #52795
@chenheng0910, Thank you for reaching out. In Authorization code flow, initially you would have to request for a code from the **/authorize** endpoint of AAD by getting the user to login to AAD interactively and once you get the code, you would have to submit the code to **/token** endpoint of AAD.
**Sample request:** https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id={client

[2020-04-20 13:55] bgawale commented on #16562
any specific technical reason for not having these stored procs on basic tier? would certainly be useful if these are made available on basic tier too as usually once the sync in place, the tier can be upgraded after completing the dev? thoughts?

[2020-04-20 13:59] gregmoore-ertech commented on #52485
It resolved after a couple of days. First the dropdown became empty about 36-48 hours after the guest access was removed, and as of today the dropdown is no longer showing.

Thanks,
Greg Moore

From: neeleshray-msft <notifications@github.com>
Sent: Monday, April 20, 2020 3:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Greg Moore - Tech <greg.moore@eagleriver.tech>; Mention

[2020-04-20 13:59] GiftA-MSFT commented on #52687
@ddavis-100 thanks for your feedback. Updates should reflect soon.

[2020-04-20 14:00] andrediasbr commented on #43686
When using AGIC in shared mode with helm3, I got the error: info: skipping unknown hook: "crd-install"
It seems to be related to helm 3 not supporting crd-install hook.
https://github.com/Azure/application-gateway-kubernetes-ingress/issues/720
https://v3.helm.sh/docs/topics/charts_hooks/

[2020-04-20 14:04] MGoedtel commented on #50331
I've escalated your feedback to the Automation PM's and ask that they directly respond to your feedback. #in-progress

[2020-04-20 14:05] KalyanChanumolu-MSFT commented on #52804
@BartR96 Thank you for the detailed feedback.
We will evaluate this from our end and come back with an update.

[2020-04-20 14:07] KalyanChanumolu-MSFT commented on #52808
@sebhe Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-04-20 14:09] RyanHill-MSFT commented on #51424
We will now proceed to close this thread @juanand. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-20 14:09] #51424 closed

[2020-04-20 14:10] asudbring commented on #52688
Assigning to PM for review
#reassign@mdgattuso

[2020-04-20 14:10] SwathiDhanwada-MSFT commented on #52443
@o-l-a-v As per document, user of the customer tenant can deploy ARM template. As per my understanding user can be AOBO or any user who has Owner role.
![image](https://user-images.githubusercontent.com/48976275/79760632-fbdc8b80-833d-11ea-98e0-01a13d4f8c61.png)

@JnHs  Can you please provide your insights on the same?

[2020-04-20 14:15] MGoedtel commented on #44022
#reassign:bwren to review and implement changes.

[2020-04-20 14:16] MGoedtel commented on #40953
#reassign:bwren to review and implement changes.

[2020-04-20 14:17] MGoedtel commented on #52357
Will clarify this in the article as part of this sprint (created work item).  #please-close. If this doesn't appropriately address the question, then please re-open it.

[2020-04-20 14:17] #52357 closed

[2020-04-20 14:18] MadDenker opened #52827 "Needed to close current project in VSCode before instructions would work"
I was unable to create a new Azure Functions Project in VS Code.  After clicking the "Create New Project" button and entering the project name, nothing happened.  I then closed the project I had open and after that I could follow your steps to "Create your local project".  Please add a note in case others have the same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-20 14:19] asudbring commented on #51706
Assigning to PM for review

#assign:@christiankuhtz

[2020-04-20 14:20] #51660 closed

[2020-04-20 14:23] Coopem16 commented on #52399
So this link is incorrect?
https://docs.microsoft.com/en-us/mem/intune/developer/apps-prepare-mobile-application-management

[cid:image001.jpg@01D616FD.C6D36CD0]

If you develop an LOB app with the intune SDK, It will not support the two Conditional Access policies highlighted above?

Thanks

​​​​​
[cid:image002.png@01D616FD.C6D36CD0]

From: neeleshray-msft <notifications@github.com>
Sent: Monday,

[2020-04-20 14:24] DCtheGeek commented on #52681
@RonnieQuan Thanks for the added clarity. I'll discuss this request with the team.

[2020-04-20 14:24] KalyanChanumolu-MSFT commented on #52791
@rphoon Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-04-20 14:26] #39357 closed

[2020-04-20 14:27] Klaas- commented on #49961
@asinn826 only the 8.1 images get updated, not the 8-LVM or 8-lvm-gen2
[code]

[2020-04-20 14:31] qianweicheng opened #52828 "How to access Office365 via OAuth2(MFA)+EWS"
[Enter feedback here]

I have deployed an App using OAuth2+EWS to fetch Emails from Office365. But
this doc says that EWS is a legacy authentication and will stop supporting after October 13th, 2020.
Our email client uses IMAP & Exchange and has no plan to use Graph API. Is Graph API the ONLY way to access Office365 after Oct 13th, 2020?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-20 14:32] jakaruna-MSFT commented on #52209
Please send an email as requested.
I will close this out for now. If you need additional help please open a new issue.

Once we receive your email, we will enable the support ticket for you.
Once your issue is resolved, post the resolution here.

If the resolution needs doc update, then open a new issue by referring to this one

[2020-04-20 14:32] #52209 closed

[2020-04-20 14:34] thuld commented on #52650
@curtand and progress on this topic?

[2020-04-20 14:35] johncdawson commented on #52710
Changes live.

[2020-04-20 14:36] #52687 closed

[2020-04-20 14:36] dkotars opened #52829 "Risky sign-ins report view has changed"
The risky sign-ins report view for AD premium no longer looks like the example above and should be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae-f921-3ce34965bba2
* Content: [Risky sign-ins report in portal](https://docs.microso

[2020-04-20 14:37] samcookies commented on #47176
I’ll try the same see if IPv6 disable fixes the my issue as well.

But could you please send me the screenshots of your Connection Request Policy and Network Policy, just want to see what options you have enabled/disabled there.

If you like you can send it to my personal email : samual.cookies@gmail.com

Thanks

Sam Cook

From: ripsy85 <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs