[2019-01-25 02:43] v-maroge opened #23261 "How see the notification codes and set alerts on them via LogAnalytics."
Our customer would like to set up an alert based on 1. Express Route notification code 5502 and,  2. Service Endpoint Monitor for connection to services such as Office 365 and Dynamics 365 via Express Route. In the document, it indicates that this is possible through Log Analytics search. However, I am having a hard time to find examples to write a query for 1. and 2. Is it possible to get a speci

[2019-01-25 02:44] akumria opened #23262 "Linux mount command is incorrect"
`# mount -o remount, rw / mnt / DataBoxDisk / mountVol1 ß`

It is unclear why there is a stray 'ß' at the end, also, the path i.e. /mnt/D... should not contain spaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 544bfa1a-4e25-de4a-bc20-b9b0f09fe23c
* Version Independent ID: bc627abd-0e75-7e99-422e-249a3950c6e7
* Con

[2019-01-25 02:49] lmolkova commented on #22916
@brettsam do you know if APPINSIGHTS_QUICKPULSEAUTHAPIKEY is deployed and can be used already?

@rwatjen we do not support configuring QuickPulse in V1, and in V2 we have (or will have soon) APPINSIGHTS_QUICKPULSEAUTHAPIKEY environment variable to set the auth key on the quick pulse module.  Other than that, QuickPulse works by default in V1 and V2. If you have any issues, please let us know.
If y

[2019-01-25 02:49] atfernando commented on #22886
@SaurabhSharma-MSFT ,

Yes, error above is from the preview module. It keeps giving error "Invalid value specified for property 'systemLabels' of resource 'Device'." regardless of input data.

[2019-01-25 02:57] brettsam commented on #22916
Yes, APPINSIGHTS_QUICKPULSEAUTHAPIKEY is now released. Looks like it was released in v2.0.12265, so should be available in that build and any higher.

Here's the commit for reference: https://github.com/Azure/azure-functions-host/commit/5f9743183fd201feaa5ed9eb98bf9a379fd57eff

[2019-01-25 03:06] dcbrown16 commented on #22906
Thanks @neeleshray. Please consider adding that info to this doc or the naming conventions doc below for general reference. You can close when a decision is made either way.
https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions

[2019-01-25 03:44] femsulu commented on #23230
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-25 03:44] #23230 closed

[2019-01-25 03:45] andrewatfornax opened #23263 "Missing Critical Information re: Path-based Routing"
Unfortunately, it seems to me like this documentation is missing some critical information. The entire purpose of this documentation, as I understand it, is to demonstrate how to set up an App Gateway resource to selectively (via Path-based Routing) expose some of the APIs in an internal-mode API Management resource - but not all of them.

However, in the App Gateway setup steps, when we get to St

[2019-01-25 03:45] SumanthMarigowda-MSFT commented on #23149
@squasta Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-25 03:47] femsulu commented on #23228
@ccarls-cloudfit Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-25 03:51] CHEEKATLAPRADEEP-MSFT commented on #23234
@CeciAc The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2019-01-25 03:51] #23234 closed

[2019-01-25 04:03] YASWANTHM-MSFT commented on #23262
@akumria, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-25 04:03] djaus2 opened #23264 "If using a VM, need containers as well"
In the discussion of targets, its says
'''
Enable virtualization so that your device can host containers
If it's a Windows computer, enable the containers feature. In the start bar, navigate to Turn Windows features on or off and check the box next to Containers.
If it's a virtual machine, enable nested virtualization and allocate at least 2-GB memory.
'''
- You need to enable containers in the VM

[2019-01-25 04:03] CHEEKATLAPRADEEP-MSFT commented on #23260
@arnabganguly Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-25 04:11] CHEEKATLAPRADEEP-MSFT commented on #23232
https://github.com/MicrosoftDocs/azure-docs/issues/23231

[2019-01-25 04:16] CHEEKATLAPRADEEP-MSFT commented on #23231
@CeciAc Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-25 04:17] CHEEKATLAPRADEEP-MSFT commented on #23232
@CeciAc  Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-25 04:18] CHEEKATLAPRADEEP-MSFT commented on #23229
@CeciAc Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-25 04:34] jakaruna-MSFT commented on #22840
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-25 04:34] #22840 closed

[2019-01-25 04:36] AjayKumar-MSFT commented on #23212
@raja4014, Thanks for the question! We are investigating and will update you soon.

[2019-01-25 04:47] AjayKumar-MSFT commented on #23250
@crowcoder, Thanks for the feedback! We are currently investigating and will update you soon,

[2019-01-25 04:50] raghavan20 opened #23265 "When a consuming module is offline"
Let's say an Edge device is operating offline (no Internet connection) and there are two modules, `publisher` and a `consumer`. `publisher`  is producing messages continuously say one per second. The `consumer` module consumes messages and pushes to an API other than IOTHub in the Cloud. Because the device is offline, the `consumer` cannot push the message, it `REJECT`s the message and believe thi

[2019-01-25 04:56] shashishailaj commented on #22717
@Igorbek Great to know that it worked for you .

@djhallxyz We will be closing this issue now . Please let us know in case you have any queries and we can help you with the same.

Thank you .

[2019-01-25 04:56] #22717 closed

[2019-01-25 05:03] aquibqureshi26 commented on #22838
Thanks Saurabh. You can close this thread

[2019-01-25 05:15] kazshi commented on #22907
@CHEEKATLAPRADEEP-MSFT @markjbrown It would be great if you could provide ETA or existing information since this query was from one of my customer. Thanks.

[2019-01-25 05:18] CHEEKATLAPRADEEP-MSFT commented on #22907
@markjbrown @SnehaGunda Could you please provide update on the above issue?

[2019-01-25 05:35] ManojReddy-MSFT commented on #22948
@danjus10 I have replied regarding this in the MSDN forum : https://social.msdn.microsoft.com/Forums/en-US/12b407cf-9c34-4f51-8b8e-fde8b4cca87e/managing-saas-users-amp-groups-via-azure-ad-scim?forum=WindowsAzureAD

Let's continue the conversation there. I am closing this issue for now.

[2019-01-25 05:35] #22948 closed

[2019-01-25 05:47] AjayKumar-MSFT commented on #23200
@FreakyAli, We will close this out but if you feel you need more information on this topic please just let us know.

[2019-01-25 05:47] #23200 closed

[2019-01-25 05:56] femsulu commented on #23171
Reassigning to Chirag as this is related to Event Hubs & Data Lake.

[2019-01-25 06:06] ManojReddy-MSFT commented on #23243
@gtageek Thanks for reporting this. I have updated the doc "If Fabrikam is a non-permitted tenant for the Contoso instance" and it will be reflected shortly.

[2019-01-25 06:06] #23243 closed

[2019-01-25 06:08] SubhashVasarapu-MSFT commented on #23257
@v-maroge We are currently investigating and will update you soon.

[2019-01-25 06:09] AjayKumar-MSFT commented on #22163
@Tkeyy, We will close this out, but if you feel you need more information on this topic please let us know.
@btardif, Thank you for fixing this!

[2019-01-25 06:09] #22163 closed

[2019-01-25 06:12] rbcoach commented on #23211
Thank you for fast answer. Azcopyv10 is in preview now, so i wait until it will be in production version.

[2019-01-25 06:12] #23211 closed

[2019-01-25 06:12] raghavan20 commented on #23265
is there some kind of table that says what features are supported before and after v1.0.4? what about the Docker image versions for `edgeHub` and `edgeAgent`?

The setup I have
-   iotedge: 1.0.5-1
-   edgeHub: 1.0
-   edgeAgent: 1.0

Does the above have all offline capabilities?

[2019-01-25 06:18] imeya opened #23273 "Can we use code to call azure powershell cmdlet/scripts in an azure web app?"
Inside an azure web app(like a mvc project), I want to use the following code to call some azure powershell scripts/cmdlet, is it possible?

using (PowerShell ps = PowerShell.Create())
    {
        ps.AddCommand("some azure powershell cmdlet").Invoke();
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4968f0a-740

[2019-01-25 06:20] ManojReddy-MSFT commented on #23040
@zakpole We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-25 06:20] #23040 closed

[2019-01-25 06:33] fiftin opened #23274 "No info about Appliance Resource Provider"
In this doc mentioned about Appliance Resource Provider service principal. But I can't find any info about what is it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0fffdd2-ba15-6f6a-555f-8e61aaf1ef25
* Version Independent ID: 504fb936-3105-ee42-c5d2-03d37a526b32
* Content: [Use Azure Key Vault with Managed Applicati

[2019-01-25 06:37] fiftin commented on #23274
Can I use this service principal to grant access to Storage Account?

[2019-01-25 06:37] femsulu commented on #22811
@mbell85 got an update from the engineering team that this has been fixed. Please reply if this isn't the case and we will gladly re-open.

@georgewallace  - fyi we should remove the note on the doc saying this is still a known issue or revise it to say the known issue has been resolved.

[2019-01-25 06:37] #22811 closed

[2019-01-25 06:41] SubhashVasarapu-MSFT commented on #23168
@deltadan Thanks for the feedback! I have assigned the issue to the content author for better assistance.

[2019-01-25 06:50] SubhashVasarapu-MSFT commented on #23204
@TimorKalerman I have assigned this issue to author for better assistance.

[2019-01-25 07:03] SaurabhSharma-MSFT commented on #22886
@atfernando Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand  can you please help on this issue.

[2019-01-25 07:03] neeleshray commented on #22939
@cdanvergara
The Maximum number of Hardware Tokens that can be assigned to each user is Five.

@MicrosoftGuyJFlo  John, could this be added to the FAQs under the question - "_Can I use hardware tokens with Azure Multi-Factor Authentication Server?_"

[2019-01-25 07:06] neeleshray commented on #22906
@CelesteDG  Could this be added to the document ?

[2019-01-25 07:07] ManojReddy-MSFT commented on #22950
@adeinde "Require approved client app" can be used any application integrated with Azure. If you configure a CA policy for salesforce that says approved client app is needed, then users coming from apps which are not approved will not be able to access salesforce.

"Require approved client app" this condition only applies for Android / IOS device platform.

[2019-01-25 07:19] PramodValavala-MSFT commented on #23213
@fgebhardt Thanks for the feedback! The issue has already been taken up for next week's sprint tracked here - Azure/azure-functions-templates#830.

@soninaren Could you close this issue as well once the fix is merged?

[2019-01-25 07:32] YutongTie-MSFT commented on #22870
@jssuthahar Hi, I have tried but can not reproduced this issue also. Please contact us as Alberto mentioned. I will close this issue here since it is not a document issue. Thank you.

[2019-01-25 07:32] #22870 closed

[2019-01-25 07:36] YutongTie-MSFT commented on #23256
@edrickwong Hi Edrick, thank you for the feedback. I changed your document information according to your link and assign it to the author.

@kgremban Hi Kelly, please check this issue. Thanks.

[2019-01-25 07:38] YutongTie-MSFT commented on #22945
@PatrickFarley Hi Patrick, please check this issue. If you need me to assign it to other engineer, please tell me.

[2019-01-25 07:39] YutongTie-MSFT commented on #23251
@alch-msft Hi Alvin, is there anyway to delete it or set it as private? Thank you.

[2019-01-25 07:43] AjayKumar-MSFT commented on #23225
@rbhadti94, Thank you for your feedback!
As mentioned in the same document, ‘If you downloaded the files in a ZIP file, extract the files first. For example, if you downloaded a ZIP file from GitHub, you cannot deploy that file as-is. GitHub adds additional nested directories, which do not work with App Service.’ Kindly ensure that all the files are extracted.
You need to create a ZIP archive of e

[2019-01-25 07:52] SamirFarhat opened #23277 "External Template in a private Git repository"
Hi,
What are the supported sources for an external template?
It's said 'https or https' but we see that you support additional authentication with storage accounts (sas).
Can we make the same with a Git repo with PAT token for example ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec87df7-43e5-2d11-3546-9f338

[2019-01-25 07:52] #22835 closed

[2019-01-25 07:52] akraines commented on #22835
Thanks

[2019-01-25 07:54] djaus2 opened #23278 "Mostly OK with a VM target."
Once the Virtualization was sorted out (see previous Feedback) the rest of this tutorial worked fine. Unlike with IoT-Core, non-local deployment worked well, and the SimulatedTemperatureSensor deployed quickly and ran without any issues. A reboot when just the EdgeAgent was running was OK. But when the SimulatedTemperatureSensor was installed, the IoTEdge service required manual restarting upon re

[2019-01-25 07:55] ksix commented on #19493
@ManojReddy-MSFT yep thanks that's good.

[2019-01-25 07:56] rwatjen commented on #22916
@lmolkova Thank you for the information, that was pretty much what I was trying to achieve. I had not noticed the new app setting in the release notes or docs.

Is it planned to backport this to Functions V1?

[2019-01-25 08:03] Qq20180503 commented on #23090
@SubhashVasarapu-MSFT May I know if there is any update on this question?

[2019-01-25 08:07] mtiwa1983 commented on #23219
Hi Mike,
Thanks for your response, I am able to use Logic Apps for sending email with Outlook365 account. But what I want is a way to replace the sender name with some generic content e.g. "noreply@domain.com". I am actually trying to recreate some email notifications in Azure logic apps which we have already been sending through dbmail. And in dbmail it was possible to display any generic sender

[2019-01-25 08:37] dcbrown16 commented on #14638
@tolandmike looking for this information for another case.

[2019-01-25 08:38] IMAMBAKS opened #23280 "When going to 127.0.0.1:8001/ui it won't show the dashboard"
Instead it shows the following data:

  "paths": [
    "/apis",
    "/apis/",
    "/apis/apiextensions.k8s.io",
    "/apis/apiextensions.k8s.io/v1beta1",
    "/healthz",
    "/healthz/etcd",
    "/healthz/ping",
    "/healthz/poststarthook/generic-apiserver-start-informers",
    "/healthz/poststarthook/start-apiextensions-controllers",
    "/healthz/poststarthook/start-apiextensions-informers",

[2019-01-25 08:38] KrishnaG-MSFT commented on #23140
@russellseymour I have tried to reproduce the issue by using the sample template from the provided page and couldn't see any errors (as TypeNotFound, BadJson) while the deployment of the ARM template.

But looks like there are real issues with the sample template so makes sense @bwren to make necessary revisions.

Few of my observations are:
1. To successfully deploy the ARM template, we must remo

[2019-01-25 09:00] ArvidBaa commented on #20351
Ok, here goes.

For all of the following examples I get the `ws` object using the code given earlier:
[code]

1. I have an existing `AksCompute` with name `AKS-compute`. I have created it using Jupyter notebook and I am able to both fetch and use it in the notebook. When trying to fetch it inside the pipeline with the following script:
[code]
I get the following error:
[code]
If I try to create a

[2019-01-25 09:04] kazshi commented on #21948
@cherylmc Do you have any ETA for fixing? It would be great if you could provide any information since the original question/feedback is from my customer.  Thanks.

[2019-01-25 09:05] ChiragMishra-MSFT commented on #23171
@imeya Since the issue is not related to this doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-lake).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types

[2019-01-25 09:05] #23171 closed

[2019-01-25 09:11] imeya commented on #23171
@ChiragMishra-MSFT , link is [here](https://social.msdn.microsoft.com/Forums/en-US/79c25675-728c-428d-9e3a-c1fd511331d9/error-badrequest-occurs-when-create-a-event-hubs-using-c?forum=AzureDataLake).

[2019-01-25 09:13] ivanignatiev commented on #22760
@TravisCragg-MSFT  sorry for reopening the issue, but the last question and after I think this thread can be closed completely.

How network traffic will flow ? Trough AzCopy or directly between Azure Stack instances?

Thank you !

[2019-01-25 09:13] ChiragMishra-MSFT commented on #23171
@imeya Thanks for sharing the link. Stay assured that we are investigating into the issue and also the community might have insights to share on the same.

[2019-01-25 09:16] PramodValavala-MSFT commented on #23263
@andrewatfornax Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-01-25 09:20] AmanGarg-MSFT commented on #23280
@IMAMBAKS Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-25 09:31] SarithaMaran commented on #21005
@kgremban No i have not tested it yet. Will check it for sure.

[2019-01-25 09:33] BryanTrach-MSFT commented on #23018
@DanielYnformed I tried doing a quick search as well but came up empty handed. My suggestion would be to reach out to the experts and engineers on the [MSDN Forums ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azureapimgmt)who handle APIM. This doc is about Azure App Service and we try to keep feedback scoped to the specific docs. Thank you for your understanding.

We will now

[2019-01-25 09:33] #23018 closed

[2019-01-25 09:39] doragui opened #23282 "mount azure file share persist"
run the script of mount file share persist . when we firstly mount it with the parameter Credential, reboot the VM. it won't find the credential stored in the windows credential to reconnect file share. we have to input the password again to connect the azure file share

so if you want to mount the file share persist, please remove the credential from the mount at the first time, the correct scrip

[2019-01-25 09:42] dcbrown16 opened #23283 "AAD token lifetime"
My understanding is that the AAD tokens issued with Web Apps are valid for 8 hours. If you can confirm that, can it be documented here? And I assume this lifetime is valid for the refresh token as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba

[2019-01-25 09:49] ChiragMishra-MSFT commented on #23188
@Anmolgan81 Unfortunately as of now, wildcard filters are not supported for folder names, they are only available for file names (within the same folder). Hence there's no direct way to copy multiple folders using a copy activity.

However, with the use of a forEach activity paired with a parameterized linked service, you should be able to achieve the same. There's a doc for [copying data from mul

[2019-01-25 09:51] Anmolgan81 commented on #23188
S3 wont create seprate containers for each S3 Bucket folder would it??

[2019-01-25 09:52] jakaruna-MSFT commented on #23172
@ericrad please share your comments

[2019-01-25 09:53] ChiragMishra-MSFT commented on #23188
Aren't the folders in the same bucket already? In that case, there should be no issue of separate containers and with the right access policy, you should be able to copy.

[2019-01-25 09:53] BryanTrach-MSFT commented on #22485
At this time, Azure Notification Hubs does not support W3C Push APIs. We suggest you share your feedback at [Azure Feedback for Notification Hubs](https://feedback.azure.com/forums/218849-notification-hubs). The product group frequently reviews this site for product ideas and feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2019-01-25 09:53] #22485 closed

[2019-01-25 09:54] jakaruna-MSFT commented on #23245
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 09:54] rifaterdemsahin opened #23284 "How do I connect to this VPN ?"
onm my local box i am getting this error
Get-VpnConnection -Name "DevOps-vnet"
Get-VpnConnection :  The profile DevOps-vnet is not a VPN connection profile. : The data is invalid.
At C:\Repo\vpnHelper.ps1:11 char:1
+ Get-VpnConnection -Name "DevOps-vnet"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidData: (DevOps-vnet:root/Microsoft/...S_VpnConnection) [Get-VpnConnec

[2019-01-25 09:58] jakaruna-MSFT commented on #23258
Thanks for the question! We are investigating and will update you shortly.

[2019-01-25 10:10] Anmolgan81 commented on #23188
Am talking about creating the containers same as the folders present in the S3 bucket, we cannot go about creating seprate containers for each folders.

Regards
Anmol Ganju

________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Friday, January 25, 2019 3:23:34 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How ca

[2019-01-25 10:10] YASWANTHM-MSFT commented on #23282
@doragui, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-25 10:11] algorni opened #23285 "Group Certificate link broken"
Hi,
i've noticed that this link seems broken:

https://github.com/Azure/azure-iot-sdk-csharp/tree/master/provisioning/service/samples/GroupCertificateVerificationSample

In that GIT Hub repo there is written (under samples folder):

Service provisioning samples were moved to Azure-Samples/azure-iot-samples-csharp repository

Now the new link should be:

https://github.com/Azure-Samples/azure-iot-s

[2019-01-25 10:11] richbeales commented on #16997
I thought Cosmos had already reached GA? The current limit is being hit just doing a simple date query (get last 3 days of documents), making cosmos useless for us at the moment.  Off to MongoDB Atlas.

[2019-01-25 10:13] viktoreinarsson commented on #23167
Hi everyone.

@sergaz-msft : You are correct. I was trying to run this on my Windows 10 Enterprise (non-IoT).

We got this to work by running the IoT Edge Runtime on a Linux system by using the IoT Edge Dev image: https://github.com/Azure/iotedgedev.

It would be nice to be able to run this on a Windows 10 Enterprise host :)

[2019-01-25 10:14] ChiragMishra-MSFT commented on #23188
Unfortunately, there's no direct way to do that, specially in case of multiple folders.

[2019-01-25 10:39] DenisBiondic opened #23286 "Fields of application"
Hi,

I wonder if this feature could be envisioned to be used in a consumer area, let's say we would have 100.000 devices in home WLAN networks, and we would like to communicate with a HTTP (REST) endpoint which is also in WLAN but not publicly exposed. Pricing model seems to suggest that this is not the primary use-cases behind direct streaming, because pricing is too limited?

Quote from https://

[2019-01-25 10:55] Owe-Kristiansen opened #23287 "Please document error 900941"
Please document error 900941

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/re

[2019-01-25 11:21] raleonardo commented on #23090
Hi,
What I experience is that I can associate the vmss as a backend for the load balancer, save it, but then the deployment completes but then the backend pool exists but is unassociated.
![screenshot_20190125_121616](https://user-images.githubusercontent.com/4942798/51742807-12dcf100-209b-11e9-8607-c64822e4a3af.png)
![screenshot_20190125_121901](https://user-images.githubusercontent.com/4942798/5

[2019-01-25 11:23] DarranShepherd opened #23288 "awverify.domain.tld can be used to verify wildcard domains"
Azure DNS does not allow you to create a TXT record for a subdomain of awverify.* as shown in the docs. You also cannot create a TXT record for * if you already have a CNAME because you are migrating.

In this circumstance, it appears that creating a TXT record for the awverify subdomain also suffices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-25 11:43] simonech opened #23289 "Filter in subscription creation is not optional"
Applied PR so all works, but it enters a loop, since the thumbnail is created inside the same container, thus triggering the event again, and this forever :)
So I guess point 4 when creating the subscription is not optional in case you reuse the storage account for other purposes, but filter must be set otherwise thumbnails will trigger the event again.

---
#### Document Details

⚠ *Do not edit t

[2019-01-25 11:57] AjayKumar-MSFT commented on #23212
@raja4014, Do you receive any specific error messages when you attempt to login?  If I understand your question correctly that you wish to change the display name; you can change the display name with -display-name <admin_user> and If you intend to update an existing admin, you can try:’ az sql server ad-admin update’- checkout the document https://docs.microsoft.com/en-us/cli/azure/sql/server/ad-

[2019-01-25 12:20] algorni commented on #23285
Thanks! You were really fast!

[2019-01-25 12:53] branstraub opened #23291 "Portal UI - EastUS"
The Azure portal has the option to create VMs on AZ on EastUS, which is currently not available.

Is that a bug? Also, is there any roadmap to deploy AZs on EastUS?

B.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Co

[2019-01-25 12:59] SadiqhAhmed-MSFT commented on #23261
@v-maroge Thanks for the question! We are actively investigating and will get back to you soon.

[2019-01-25 13:01] ChiragMishra-MSFT commented on #23188
I will now proceed to close this issue. If you have any more queries, please feel free to comment and tag me.

[2019-01-25 13:01] #23188 closed

[2019-01-25 13:11] SadiqhAhmed-MSFT commented on #21137
@MikeSpark For now we are closing this issue. If you've follow up questions feel free to reach out to us and will be glad to help you in this matter.

[2019-01-25 13:11] #21137 closed

[2019-01-25 13:14] SadiqhAhmed-MSFT commented on #21191
@kvenkazure We will proceed to close this issue for now. If you still need assistance in this regard, suggest you provide more information and we will continue the discussion.

[2019-01-25 13:14] #21191 closed

[2019-01-25 13:16] SadiqhAhmed-MSFT commented on #21960
@adithyaonline We will proceed to close this for now. Let us know if you've additional feedback or questions in regards to this and we shall continue our discussion further.

[2019-01-25 13:16] #21960 closed

[2019-01-25 13:23] dsadsa897897r opened #23292 "Redirect http to https"
Once enabled, what's the best way to redirect (and force) from http to https when the CDN is pointing to a static website?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure

[2019-01-25 13:27] Melakh1 opened #23293 "Standard IP Address and NSG"
The statement "Are secure by default and closed to inbound traffic. You must explicit whitelist allowed inbound traffic with a network security group" confusingly implies NSGs can be allocated to IP Addresses but I believe this is incorrect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c7626c7-1ea9-61ff-2219-2da2ef2

[2019-01-25 14:03] bwren commented on #23140
This content is out of date with alerts moving into Azure Monitor.  I'm following up with the engineering team to see if it's going to be updated or retired.

[2019-01-25 14:03] sergaz-msft commented on #23286
@DenisBiondic  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 14:06] sergaz-msft commented on #23264
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 14:07] sergaz-msft commented on #23278
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 14:10] sergaz-msft commented on #23265
@raghavan20 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 14:15] Tiberriver256 commented on #12725
@wingflanagan - I can also confirm. It appears that there may have been a change. Tokens gained via the directed method expire in 12 hours. Tokens gained via a normal authorization flow expire in 14 days.

[2019-01-25 14:23] iricigor commented on #13717
Yeap, instructions must include step about modifying DNS settings for the VNet. Otherways, instructions, as they are now, are always failing. Also, in my experience, it also required a reboot of VM, so it should also include a warning about it.

[2019-01-25 14:33] ianrkent commented on #18215
@kobulloc-MSFT   I am getting the same problem as mentioned in this issue.  It was an error message reported when running azds prep --public

![image](https://user-images.githubusercontent.com/12898267/51751978-23e32d80-20ae-11e9-9744-150d4641690a.png)

[2019-01-25 14:53] eschmitt-nydrilling opened #23296 "Password-less authentication (phone sign-in, MFA) using single device for multiple tenants"
Is password-less authentication (phone sign-in, MFA) using a single device (smartphone) for user accounts on multiple tenants on the roadmap for Azure AD? Is the current limitation of only 1 account/device per tenant going to be lifted in the future? Or, is this a hard-limitation that can't be improved for technical/security reasons?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-01-25 14:56] AmanGarg-MSFT commented on #23280
@IMAMBAKS

You should be able to see the dashboard at http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/overview?namespace=default

Or you can also use the command `az aks browse --resource-group <RG> --name <NAME>` which will open up a browser with the Kubernetes UI.

Some more information [here](https://github.com/Azure/vscode-kubernetes-tools/issues/105)

[2019-01-25 14:58] isamllr opened #23297 "External Hive Metastore & Key Vault"
The documentation does not mention other options to use external Azure Services and their resiliency features like an external Hive metastore in Azure SQL and Key Vault - would be great if we could add these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be07cf2-e36b-7e52-e531-8eae2ea1f63d
* Version Independent ID: 1

[2019-01-25 14:58] CeciAc opened #23298 "Autocomplete is reversed"
@SebastianAtWork commented on [Fri Jan 25 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/246)

https://docs.microsoft.com/de-de/azure/azure-functions/functions-bindings-service-bus#hostjson-settings autocomplete is exactly the opposite of what it actually does in functions 2.0

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.m

[2019-01-25 15:04] vhorne commented on #22962
#please-close

[2019-01-25 15:05] CeciAc commented on #23298
Hi team,
I'm moving this here to check if the definition is what the contributor reports
best

[2019-01-25 15:08] CoderKooke commented on #13479
The client-app, backend-app then API is completely unnecessary!!  App secured via AD and added to AD during create, permissions granted via client app (api manager).  This has been torture.

[2019-01-25 15:10] hassanbabaie commented on #22962
@vhorne perfect, thanks

[2019-01-25 15:15] ciphertxt commented on #15523
You can purge using the CLI today by loading the front-door extension:

[code]

And then use the `purge-endpoint` command in the `front-door` sub-group:

[code]

[2019-01-25 15:33] SubhashVasarapu-MSFT commented on #22962
@hassanbabaie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 15:33] #22962 closed

[2019-01-25 15:34] CeciAc opened #23299 "Hidden Comment has been displayed"
@miyamam commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1827)

The following hidden comment has been displayed. Could you confirm and remove or hide them?
-------
title:Machine Learning Studio モデルが Web サービスになるまでの過程 titleSuffix: Azure Machine Learning Studio description:Azure Machine Learning モデルが開発中の実験から運用可能な Web サービスになるまでにたどる過程の概要を説明します。 services: machine-

[2019-01-25 15:39] CeciAc commented on #23299
Hi team,
we sent this to the production team to investigate and they replied this:
"Error comes from a source issue:
There is an uncommon spacing and lack of breaklines between metadata and the article's text.
This been reported a couple of times.
Error does not reproduce in source live but is visible in source github."
![imagen](https://user-images.githubusercontent.com/26746247/51755799-4ec58580

[2019-01-25 16:00] sergaz-msft commented on #21305
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 16:00] #21305 closed

[2019-01-25 16:02] msangapu commented on #23034
@cephalin Can we include these details in the config article?

[2019-01-25 16:02] #22112 closed

[2019-01-25 16:03] sergaz-msft commented on #21306
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 16:03] #21306 closed

[2019-01-25 16:08] JorgeCupiV opened #23300 "Blob Storage Contributor Role does not exist for the service principal"
The closest role is the one called "Storage Blob Data Contributor" and it does not work for authentication as it says that this service does not have the permissions needed.
<img width="593" alt="error" src="https://user-images.githubusercontent.com/44839253/51757758-42d3c680-2092-11e9-8007-e0b096da0a46.PNG">

Instead, I used the role "Storage Account Contributor" and it worked.

<img width="298"

[2019-01-25 16:08] sergaz-msft commented on #21179
@helderpinto thanks again for the great feedback. After syncing with @rezasherafat I was informed that we will address this topic on the next releases of this doc and also on some near-future blog posts.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 16:08] #21179 closed

[2019-01-25 16:10] sergaz-msft commented on #22798
@romankiss quick update that we are working on this and will provide some feedback end of this month. Thanks for your great feedback and patience.

[2019-01-25 16:28] arsalangithubs opened #23301 "Downtime for Scaling up the App service?"
Is there a downtime required for scaling up the Azure app service, as nothing is mentioned anywhere in this doc, and is an important consideration, can someone update us about it, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f25ba237-c44c-acfa-1674-8a1928a39d70
* Version Independent ID: 3b3b1096-b0ab-0131-125

[2019-01-25 16:34] viktoreinarsson commented on #23167
@sergaz-msft ok that would be great.

The issue might be the current version of Windows, it´s 1803, which isn´t the October update.
![image](https://user-images.githubusercontent.com/11527776/51758769-6876c500-20be-11e9-83f6-6fc2d124ba9d.png)

The reason is IT policy which manages the updates but I think some of my co-workers have the October update. I can get them to try it out.

[2019-01-25 16:43] PramodValavala-MSFT commented on #23289
@CeciAc Thanks for the feedback! We will review and update the doc accordingly if needed.

[2019-01-25 16:49] christophkarner commented on #20844
@mattbriggs Thanks for your update. In my case, the AzS registration is not to the same tenant as it is deployed to.

So
1.) If I need to check which tenants are onboarded:
I logon to the deployment tenant and check it with `Get-AzureRmResource | ? { $_.resourceType -like "Microsoft.Subscriptions.Admin/directoryTenants" }`
So far everything was fine from the beginning.

2.) If I need to check whic

[2019-01-25 16:49] #20844 closed

[2019-01-25 16:54] thackerc commented on #23251
Also, it is referenced here: https://stackoverflow.com/questions/51100350/microsoft-academic-graph-search-retrieving-all-papers-from-a-journal-within-a

[2019-01-25 16:55] v-piwijs commented on #23217
Thanks for your comment.  The page is now updated with information for Family 6 and installed .NET versions.  Installed .NET versions are 3.5 and 4.7.2 (supporting .NET 4.0+ through .NET 4.7.2).

SDK version is 2.9.6+

[2019-01-25 16:56] tabeth commented on #19456
@renattomachado

I came across this particular issue as well. If your application is not mission critical (that is, even a second of public access could cripple your business) I recommend the following:

1. Set your firewall settings in Azure for your storage account.
2. In your release (or build) set your permission for your storage account to all networks programatically, like the following (thi

[2019-01-25 16:56] the-grayest commented on #22484
I confirm same issue.

[2019-01-25 17:03] ciphertxt commented on #15523
@jason-j-MSFT @sharad4u - Can you reopen this issue? It should still be addressed in the docs.

[2019-01-25 17:03] SaurabhSharma-MSFT commented on #22838
@aquibqureshi26 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-25 17:03] #22838 closed

[2019-01-25 17:06] SaurabhSharma-MSFT commented on #23048
@trevor-schmidt This is how the custom alert designed and looks in UI and you can’t customize the alert’s appearance in the UI. However, you can jump from the alert to the search query result (which will have more details about the alert), you just need to click on the hyperlink.
![image](https://user-images.githubusercontent.com/38112130/51760810-452d2500-2080-11e9-8971-a6bf73c7f861.png)

[2019-01-25 17:14] mbell85 commented on #22811
Excellent. I'll take a look this afternoon and let you know.

[2019-01-25 17:16] cijothomas opened #23302 "Correctness and more details needed"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#get-started In this section,
cleary mention the package required, and also call out asp.net core also support live stream.
This is the package required to enabled LiveStream:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.PerfCounterCollector/
The doc should state this clearly.

https://docs.microsoft.com/en-us/azur

[2019-01-25 17:17] #8130 closed

[2019-01-25 17:18] rezasherafat commented on #23286
Hi @DenisBiondic, are devices in your usecase each exposing a REST endpoint, or are devices clients to a REST endpoint in their WLAN? Note that our current feature allows an entity with IoT *service identity* to communicate with a *device*. Does your usecase involve the reverse?
Feel free to contact me on my email if needed: rezas @ microsoft.com. As for pricing, we can discuss how that as well on

[2019-01-25 17:19] PramodValavala-MSFT commented on #23189
@UtsaVakani As mentioned in the doc under this section, you have to import `Microsoft.Azure.EventHubs`.
[EventData](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.eventdata?view=azure-dotnet) from this package has the [Body](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.eventdata.body?view=azure-dotnet) property.

@bigdatamoore The API reference that

[2019-01-25 17:20] phw198 commented on #7452
This is quite possible - just set `StrongAuthenticationMethods` to `null`.
[code]

[2019-01-25 17:22] #7227 closed

[2019-01-25 17:24] mgfink commented on #19424
Just to echo some of the earlier comments more detail / examples would be much appreciated along with functionality to allow "complex" exclusions.  This is in part because we do not want to be less restrictive than we need to be.

Things like:
* Exclude a field selector (ie. header name) and contents as stated above in @jsiegmund post
* Exclude a cookie that contains "X" when it triggers rule "Y"

[2019-01-25 17:36] daveba commented on #23042
Also, this article has been updated to reflect the new `Az` Azure PowerShell module.  It was tested with the prereqs and the commands completed successfully.

[2019-01-25 17:42] YutongTie-MSFT commented on #23010
@csiebler Thank you for the temporary workaround, we will investigate deeper.

[2019-01-25 17:42] RehanSaeed opened #23304 "Exposing the Kubernetes Dashboard using Azure Active Directory"
The docs say:

&gt; You can also integrate Azure Active Directory authentication to provide a more granular level of access.

But then don't say how this can be done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Cont

[2019-01-25 17:43] MicahMcKittrick-MSFT commented on #22225
@wp1107 any update?

[2019-01-25 17:45] MicahMcKittrick-MSFT commented on #23160
@lunar87 I will close for now. When ready let me know and we can reopen and continue.

[2019-01-25 17:45] #23160 closed

[2019-01-25 17:45] YutongTie-MSFT commented on #23166
@rboy1 @lsmith999999 Thank you for the details.

@Jann-Skotdal Hi Jann, can you please check this feedback. I agree the above suggestion and I think we can improve it. Thank you.

[2019-01-25 17:49] algorni opened #23305 "What about the authentication schema to IoT Hub?"
The article do not describe if X.509 certificates can be used to authenticate (attestate) IoT Edge based devices to the IoT Hub (with or without DPS).

While creating a "IoT Device" identity in IoT Hub you can explicitly select X.509 certificates as Authentication type.
When you try to create "IoT Edge" identity you can select just Symmetric Key.

---
#### Document Details

⚠ *Do not edit this sec

[2019-01-25 17:50] MicahMcKittrick-MSFT commented on #8791
@cynthn @iainfoulds @sptramer @axelgMS could any of you help direct me on who this should be assigned to? The listed author appears to no  longer be at MSFT.

[2019-01-25 17:51] MicahMcKittrick-MSFT commented on #9409
@aljo-microsoft looks like I can no longer assign to the listed author. Could you take a look?

[2019-01-25 17:51] danielithiessen opened #23306 "Blob output path partitioning preview not working"
When I follow the link to Azure Portal with "microsoft_azure_streamanalytics_bloboutputpathpartitioning=true&Microsoft_Azure_StreamAnalytics_bloboutputcontainerpartitioning=true"
the tooltip on the Blob Output Path pattern gives the option to use a column from my query, however, when I try to validate my output I get an error saying: "Format error found when testing the Blob PathPattern. Error: In

[2019-01-25 17:52] Karishma-Tiwari-MSFT commented on #23252
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 17:52] YutongTie-MSFT commented on #23244
@ilya-babanov
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal
Hi Jann, can you please check this product issue? Thank you.

[2019-01-25 17:53] cynthn commented on #21342
@jakaruna-MSFT can you reassign this issue to the author @genlin. Thank you!

[2019-01-25 17:53] hrasheed-msft commented on #21828
@rishabh0202 please let us know if you have been able to add a linked service for an ADLS Gen2 account or have reached out to Azure support for additional assistance. Thanks.

[2019-01-25 17:53] Jann-Skotdal commented on #23244
@ilya-babanov Thank you for reporting this product issue. I have notified our engineers and they are working on a fix.

[2019-01-25 17:54] YutongTie-MSFT commented on #23010
@mx-iao Hi, can you please take a look of this issue? If necessary, I can file a bug for it. Thank you.

[2019-01-25 17:55] Karishma-Tiwari-MSFT commented on #23304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 18:00] jeffreymcclain opened #23307 "Grammar Mistake"
Incorrect: "Your password is not working and you want to reset it."
Correct: "Your password is not working, and you want to reset it."

There should have a comma before the "and".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17269bea-f1b4-61e4-72f8-86a8b1c7c49d
* Version Independent ID: 89d5ed09-39bd-2113-9dfb-59fae1

[2019-01-25 18:02] Mike-Ubezzi-MSFT commented on #23291
@branstraub Thank you for bringing this to our attention. The issue might be that the Virtual Machine size you have selected is not available in that specific availability zone. Can you try selecting a different VM size?  The following documentation [Create a Windows virtual machine in an availability zone with the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/creat

[2019-01-25 18:12] kgremban commented on #22866
All I can do is document the supported scenarios for our service, not weigh in on potential workarounds. If you want, you can reach out directly to the SDK team using one of the links in the Need Support? section of their contributor guide: https://github.com/Azure/azure-iot-sdk-python/blob/master/.github/CONTRIBUTING.md

[2019-01-25 18:18] Mike-Ubezzi-MSFT commented on #23299
@cjgronlund @j-martens This is an issue with a document that is not correctly formatted in the repository and hence, the metadata does not get read correctly and the workflow breaks, as demonstrated by the comments in this issue. Another challenge is that the document is in Japanese.  The English version of the document is: [How a Machine Learning Studio model progresses from an experiment to an o

[2019-01-25 18:18] cynthn commented on #8791
@MicahMcKittrick-MSFT I suspect it is @roiyz-msft who is already assigned to a similar Windows topic.

[2019-01-25 18:19] Mike-Ubezzi-MSFT commented on #23299
The Japanese version: [Machine Learning Studio モデルが実験から運用可能な Web サービスになるまでの過程](https://docs.microsoft.com/ja-jp/azure/machine-learning/studio/model-progression-experiment-to-web-service).

[2019-01-25 18:24] Alberto-Vega-MSFT commented on #23297
@isamllr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 18:24] yshahin opened #23310 "Azure Log Analytics Log-Type docs incorrect"
I tried sending Log-Type with numeric as well as _ and they both worked.
Is this documentation out of data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content: [Log Analytics HTTP Data Collector API](https://docs.m

[2019-01-25 18:25] kgremban commented on #23264
@djaus2 Can you clarify what you mean in the second bullet point? It sounds like you used a VM image that wasn't based on the October update version of Windows 10, and had to manually update the VM? Or is there some virtualization package you had to upgrade? I'm not sure what you had to do, or what you think should be updated in the documentation.

[2019-01-25 18:30] kgremban commented on #21915
@djaus2 I updated the quickstarts this morning and attempted to address your feedback about not realizing that after the installation is complete it still takes a while for the service to start up, with the new line:

As for the installation issues on IoT Core, I'm not going to document those steps because that's a product bug that should be resolved soon.

Is there anything else that I can do fro

[2019-01-25 18:31] UtsaVakani opened #23311 "Unclear usage of client object"
client.CreateStoredProcedureAsync(containerUri, newStoredProcedure);
Of which class is client an object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8b38-6339-48ee7a4c54b3
* Content: [How to call stored procedures, triggers, and user-define

[2019-01-25 18:31] DenisBiondic commented on #23286
hi @rezasherafat, I've sent an email, and I will then post all helpful conclusions (without NDA details) here as well.

[2019-01-25 18:33] bbi-yggy commented on #20494
Hi @cgillum, thanks for responding this this thread. To be clear, I have everything working with my app - I logged this issue because the documentation does not seem to be consistent with how it actually works. I am also now 5 weeks more experienced with Azure and Google auth, so possibly I was more easily confused back in December. :-)

[2019-01-25 18:34] femsulu commented on #23274
@fiftin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-25 18:34] MarileeTurscak-MSFT commented on #23287
@Owe-Kristiansen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-25 18:34] j-martens commented on #23299
There was a strange character. Let me know if this happens again. But the fix for this article is now in the English version.

[2019-01-25 18:35] MarileeTurscak-MSFT commented on #23296
@eschmitt-nydrilling
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-25 18:35] MarileeTurscak-MSFT commented on #23307
@jeffreymcclain
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-25 18:36] femsulu commented on #23277
@SamirFarhat Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-25 18:41] Karishma-Tiwari-MSFT commented on #22920
@DavidBerg-MSFT @cynthn Do either of you know the reason for choosing SPECInt for Windows and CoreMark for linux? Please share your thoughts. Thanks. :)

[2019-01-25 18:42] Karishma-Tiwari-MSFT commented on #23144
@iainfoulds Did you get a chance to look at this. It looks like a doc-bug. If you can confirm on this, I will remove the mention of aks-engine-autoscaler form the list. Thanks :)

[2019-01-25 18:43] Karishma-Tiwari-MSFT commented on #23154
Thanks @dlepow
@mganeshphani Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-25 18:43] #23154 closed

[2019-01-25 18:46] mqunbar commented on #11612
@MicrosoftGuyJFlo So there is still no way to get around the issue of a Hybrid device joined computer off network whose user needs to change there password and login locally? Really want to get off VPNs!

[2019-01-25 18:47] rolyon commented on #12976
Hi @aryapankaj
Sorry for the delay. We finally got this article updated. And we have been making other updates to the PIM docs.
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azure-pim-resource-rbac
Thanks for your feedback.

[2019-01-25 18:47] rolyon commented on #12976
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-01-25 18:48] #12976 closed

[2019-01-25 18:56] #23299 closed

[2019-01-25 19:00] Grace-MacJones-MSFT commented on #23301
Hi @arsalangithubs, generally there is no downtime. Scaling up should only take seconds to apply and affect all apps in your App Service plan. However, keep in mind that some App Service plans can't scale up to the PremiumV2 tier if the underlying App Service deployment doesn’t support PremiumV2. If your app runs in an App Service deployment where PremiumV2 isn't available, or if your app runs in

[2019-01-25 19:00] #23301 closed

[2019-01-25 19:02] MarileeTurscak-MSFT commented on #23307
@jeffreymcclain since these are two independent clauses I agree that there should be a comma. The pull request is here and should go live in 24 hours: https://github.com/MicrosoftDocs/azure-docs-pr/pull/64142

In the future feel free to make your own pull requests when you notice small fixes like this.

[2019-01-25 19:02] MarileeTurscak-MSFT commented on #23307
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-25 19:02] #23307 closed

[2019-01-25 19:03] kgremban commented on #20666
Thanks!
@AshokPeddakotla-MSFT #please-close

[2019-01-25 19:04] georgewallace commented on #23015
@Ba4bes I have an updated version of the doc coming out either Monday or Tuesday.. When configuring it through the portal we use your credentials to get an oauth and refreshtoken, to set the minimum permissions its best to do it through PowerShell. You can visit [Authenticate access with personal access tokens](/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate) to lea

[2019-01-25 19:05] Jayanthvss commented on #11383
Any updates?

[2019-01-25 19:06] mark-vw opened #23312 "Updating secrets should not require redeploy"
The current process for managing secrets does not cater well to updates. Having to update the app manifest and redeploy to update secrets (eg passwords) is not ideal. Having an app settings update function in SF could address this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15436b0f-9b50-269f-7cab-36740b1f862c
* Ve

[2019-01-25 19:06] lsmith999999 opened #23313 "Please clarify the 5000 character limit"
In the "Request body" section here at this writing:

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate?tabs=curl#request-body

Can you clarify the statement:

"The entire text included in the request cannot exceed 5,000 characters including spaces."

Does this refer to the actual text to be translated (presumably), or does it include the *entire* JSON st

[2019-01-25 19:07] MarileeTurscak-MSFT commented on #23287
@priyamohanram do you have documentation for this error?

[2019-01-25 19:11] kgremban commented on #22783
@djaus2 IoT Edge 1.0.5 installs moby as the default docker engine for IoT Edge when you're running windows containers on windows devices. When you run `docker` commands directed at IoT Edge modules, you need to specify that you're using the moby engine by including `-H npipe:////./pipe/iotedge_moby_engine` in your docker commands.

If you only have the moby engine on your device and don't intend t

[2019-01-25 19:14] iainfoulds commented on #23144
@Karishma-Tiwari-MSFT Yes, looks like the name change was part branding of the underlying aks-engine itself. As the chart is deprecated, it can just be removed from the example output. Thanks.

[2019-01-25 19:21] TravisCragg-MSFT commented on #23293
@Melakh1 Thanks for the feedback! Standard IP Addresses can be allocated to network interfaces, public standard load balancers, Application Gateways, or VPN Gateways. Not all of these resources are guaranteed to have a NSG behind them.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 19:21] MicahMcKittrick-MSFT commented on #23312
@mark-vw thanks for the feedback.

As this is product feedback please leave your suggestion on our UserVoice page

https://feedback.azure.com/forums/293901-service-fabric

[2019-01-25 19:21] #23312 closed

[2019-01-25 19:24] avooca opened #23316 "Full File Screen for Unsupported Characters"
Not sure why the example is for only 2, here's all of them:

New-FsrmFileGroup -Name "AFS Unsupported characters" -IncludePattern @(("*"+[char]0x00000090+"*"),("*"+[char]0x0000008F+"*"),("*"+[char]0x0000009D+"*"),("*"+[char]0x00000081+"*"),("*"+[char]0x0000007F+"*"),("*"+[char]0x0000008D+"*"),("*"+[char]0x0000FDD0+"*"),("*"+[char]0x0000FDD1+"*"),("*"+[char]0x0000FDD2+"*"),("*"+[char]0x0000FDD3+"*"

[2019-01-25 19:26] alathrop opened #23317 "Character limits for key phrase extraction"
I am using service level S1 indexing an Excel spreadsheet in blob storage and get the following error:
"message": "Skill #2: Document was truncated to 50000 characters before KeyPhrase extraction\r\nSkill #1: An error occurred when attempting to obtain entities from portions of input text\r\n"

Is the truncation to 50,000 characters a limit just for key phrase extraction? I'm assuming this is diff

[2019-01-25 19:32] pareshmu commented on #21948
There is no need for a VNET for only pure O365 monitoring via NPM. GOOD catch. I will go update the requirements at the top and add caveat for Microsoft peering O365 monitoring using NPM.

[2019-01-25 19:35] dmarlow opened #23318 "The Windows Azure SDK for .NET - 3.0 changes"
Is there a place where changes are outlined for what's in version 3.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3a47-bb7ae25970db
* Version Independent ID: 4fe15edb-81b7-6122-829b-7a321a72e3bf
* Content: [Learn about the latest Azure Guest OS Releases](https://docs.microsoft.com/en-us/azure/clo

[2019-01-25 19:35] TravisCragg-MSFT commented on #23292
@dsadsa897897r Most people use a URL rewrite to force the traffic to HTTPS. the process depends upon what kind of CDN you are using. for  [Azure CDN premium offering from Verizon, you can find instructions Here.](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-https-custom-domain-cdn#http-to-https-redirection).

[2019-01-25 19:39] HeidiSteen commented on #17083
I just updated this article with tested instructions on how to enable Blob storage and view the logs (JSON) in Visual Studio code: https://docs.microsoft.com/en-us/azure/search/search-monitor-usage

I could not get Log Analytics to work and filed a bug accordingly.  I also moved the Power BI reporting info to the Search Traffic Analytics document to avoid confusion.  I confirm you can't use Power

[2019-01-25 19:40] Adam-Smith-MSFT commented on #23300
@JorgeCupiV Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 19:41] Adam-Smith-MSFT commented on #23316
@avooca Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-25 19:42] mrdfuse commented on #14304
I agree, in the past it was mentioned explicitly somewhere that this was not possible. Since I couldn't find it anymore my hopes were high but alas.

[2019-01-25 19:47] MarileeTurscak-MSFT commented on #23296
Hi @eschmitt-nydrilling , at the moment I am not aware of any roadmap and would not be permitted to say if I was.

There are several feature requests out for this in User Voice right now which you can subscribe to and upvote:

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35695318-passwordless-signon-with-single-device-and-multipl
https://microsoftintune.uservoice.com

[2019-01-25 19:48] #23296 closed

[2019-01-25 19:49] TravisCragg-MSFT commented on #23284
@rifaterdemsahin Azure Doc Issues are designed for feedback or issues about the documentation. This question is best suited for the [Azure Networking MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork&filter=alllanguages). Azure uses some custom configuration with their VPNs, you can [get more information Here about the typical setup process](http

[2019-01-25 19:52] CeciAc opened #23319 "Networking connection policy"
@djimmo commented on [Fri Jan 25 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/215)

The keyword "new" should be removed when created the authKey string in the example in the Networking connection policy:

var serviceEndpoint = new Uri("https://contoso.documents.net");
var authKey = "your authKey from the Azure portal";
DocumentClient client = new DocumentClient(serviceEndpoint, a

[2019-01-25 19:53] MicahMcKittrick-MSFT commented on #23318
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 19:55] MicahMcKittrick-MSFT commented on #14304
@sadedil @mrdfuse I think that is a valid point.

@iainfoulds could you take a look? I think it would be good to mention in the doc.

[2019-01-25 20:00] way2arun opened #23320 "Authorization Key Creation trouble while using ARM Template"
Getting the below error, while trying to create auth key through arm template
ERROR: Deployment failed. Correlation ID:  ..... {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "UpdateAttemptedWithStaleTimeStamp",
        "message": "Sto

[2019-01-25 20:04] #20440 closed

[2019-01-25 20:05] #20666 closed

[2019-01-25 20:05] #21180 closed

[2019-01-25 20:05] TravisCragg-MSFT commented on #22760
@ivanignatiev AzCopy facilitates the flow of traffic between the 2 storage accounts, the blobs should go directly between the storage accounts.

[2019-01-25 20:07] itanex opened #23321 "No current updates for "Move an app to another App Service Plan""
Is there a plan to update this document with ALL the identified requirements as provided in the closed answers #1220, #12892, #12891, #11672, #7281?

This document hasn't been updated in over a year now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31

[2019-01-25 20:12] rolyon commented on #23222
Hi @CeciAc
The description is trying to convey that you cannot manage access for others. Perhaps a clearer description would be something like:
- Lets you manage and access storage accounts, but you cannot grant access to other security principles.
Unfortunately I cant modify this description because it is a string within Azure. I can provide this feedback to the storage team.

[2019-01-25 20:13] iainfoulds commented on #23129
That clarification has been added as part of a wider update to the networking docs, and should publish next week.

#please-close

[2019-01-25 20:16] #23129 closed

[2019-01-25 20:17] iainfoulds commented on #23022
Yes, some features such as pod managed identities or FlexVol are in preview. However, the best practice guidance of not including credentials, in this example, in your application code is still valid. The examples show these approaches, but there are other third-party solutions that perform similar roles for Key Vault integration, and you're welcome to use one of those or build their own solution

[2019-01-25 20:17] MashaMSFT commented on #21380
Hi @jdms754 , thanks so much for bringing this to our attention! We've updated the images and they should go live this afternoon. I will proceed with closing out this Issue, but please feel free to contact us if you need anything further! Thanks again :) #please-close

[2019-01-25 20:20] #23022 closed

[2019-01-25 20:33] stevebus commented on #23305
HI @algorni - x.509 based authentication for IoT Edge devices is not yet supported.  That work is in-progress.  Once it's supported, we'll update the doc.

[2019-01-25 20:37] TravisCragg-MSFT commented on #16661
@simonua my apologies for taking so long to get to this. Caching does have a bearing on when the CDN will reacquire content from the source. If you change the caching setting, the old content will retain its original values until purged.

[Please see the Note at the bottom of this doc.](https://docs.microsoft.com/en-us/azure/cdn/cdn-caching-rules#global-and-custom-rule-processing-order)

We will n

[2019-01-25 20:37] #16661 closed

[2019-01-25 20:40] davidmu1 commented on #23136
The engineering team says that this is a portal issue and will be addressed soon.

#please-close

[2019-01-25 20:42] Mike-Ubezzi-MSFT commented on #23311
@UtsaVakani Thank you for your detailed feedback and in requesting clarification. In almost all cases the code samples are examples only and represent partial representations of a fully functional client. In this case, the client is calling the `CreateStoredProcedureAsync` method. The `client` part of `client.CreateStoredProcedureAsync` is part of the [DocumentClient Class](https://docs.microsoft.

[2019-01-25 20:45] Mike-Ubezzi-MSFT commented on #23319
@CeciAc Thank you for bringing this to our attention. I am assigning this to the content author to evaluate and update as appropriate.

[2019-01-25 20:46] Mike-Ubezzi-MSFT commented on #23319
@SnehaGunda Looks like there is a minor but very important doc edit to be made. Thanks!

[2019-01-25 20:50] Phydeauxman opened #23322 "Onboarding fails for Windows VM"
Using the info in the section "Template example for a Windows VM". Extension installs but VM does not get onboarded to Azure Automation. Grabbing the "RegistrationURL" value at execution time by running the command below and passing the value into Terraform:

$endpoint = (Get-AzureRmAutomationRegistrationInfo -ResourceGroupName $tf_state_rg -AutomationAccountName $autoAcctName).Endpoint

Grabbing

[2019-01-25 20:52] Mike-Ubezzi-MSFT commented on #23311
@UtsaVakani The correct syntax for .NET is a `using` statement, such as:

`namespace DocumentDB.Samples.Queries

{
    using Microsoft.Azure.Documents;
    using Microsoft.Azure.Documents.Client;
    using Microsoft.Azure.Documents.Linq;
    using Newtonsoft.Json;
    using System;
    using System.Collections.Generic;
    using System.Collections.ObjectModel;
    using System.Configuration;
    u

[2019-01-25 21:02] Karishma-Tiwari-MSFT commented on #23144
https://github.com/MicrosoftDocs/azure-docs-pr/pull/64161
@davidmatson Thanks for bringing this to our attention. I have created a PR and changes will be live shortly.

[2019-01-25 21:11] Mike-Ubezzi-MSFT commented on #22928
@furmangg I am going to have the content team evaluate and update the example provided.

[2019-01-25 21:13] soninaren commented on #23213
@PramodValavala-MSFT I don't have permissions to close this issue. I have merged the fix in the corresponding repo. Can you close this issue.

[2019-01-25 21:13] Mike-Ubezzi-MSFT commented on #22928
@sharonlo101 The filter activity code sample fails validation when attempting to use in ADF pipeline. Is this version dependent? The error generated is:

Wait Activity Wait time in seconds cannot be '@item'. It should be a whole number

[2019-01-25 21:15] eHealthManny commented on #16543
I get the same error in the portal when trying to upload a pem file. I receive this error in powershell when trying to upload a pem file via the command Import-AzKeyVaultcertificate. The cert has a key and certificates

[code]

[2019-01-25 21:19] davidmu1 commented on #22949
Removed the comma.

#please-close

[2019-01-25 21:26] galiniliev opened #23324 "Wrong path when installing Istio for Windows"
it should be

[environment]::SetEnvironmentVariable("PATH", $PATH + "; C:\Program Files\Istio\", "User")

instead of
[environment]::SetEnvironmentVariable("PATH", $PATH + "; C:/Program Files/Istio/", "User")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0c

[2019-01-25 21:30] aljo-microsoft commented on #9409
@MicahMcKittrick-MSFT
This context is already in the document:
"
Permitted values for field DD (day) are numbers between the range 1-28 and "last".
"

@novino merged the change 8 days ago: https://github.com/MicrosoftDocs/azure-docs/commit/6521ca97fdbd323ba2453f0642a7ee1b66035907#diff-b7c38cc707b99fe47fc7c442c2cadcca

#please-close

[2019-01-25 21:33] MicahMcKittrick-MSFT commented on #9409
Thanks @aljo-microsoft

The issue is old so it is likely the update was pushed and the PR was just not linked. Thank you :)

[2019-01-25 21:33] #9409 closed

[2019-01-25 21:41] Alexander-Stulov opened #23326 "Cosmos Db SQL API: Redundant amount of physical partitions"
During initial import we increased RU to 200K. Cosmos Db SQL API created 20 physical partitions with 10K throughput each.
During regular day we just need 30K Ru. That would mean each physical partition would have only 1,5K RU allocated and a lot of redundant partitions with possible expensive cross-partition calls (total data size is less than 30GB)

Is there way to decrease amount of physical par

[2019-01-25 21:44] mx-iao commented on #23010
Hi @csiebler @YutongTie-MSFT
I believe the next upcoming release of the Azure ML SDK will no longer have the azure-cli packages as a dependency. @rastala can confirm

[2019-01-25 21:46] #22808 closed

[2019-01-25 21:46] TravisCragg-MSFT commented on #22728
@Teodelas We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 21:46] #22728 closed

[2019-01-25 21:47] Mike-Ubezzi-MSFT commented on #22934
@Anmolgan81 Apologies for the delay in getting back to you with an answer. In this scenario, FTP is simply a means to get data from one point to another. Once the data has arrived at the ingestion point for Data Factory to begin processing, the Copy Activity comes into play. Because you has multiple folders where this data can be ingested from you need to follow these instructions: [Scheduling and

[2019-01-25 21:48] branstraub commented on #23291
HI Mike,
I've tried this on a customer subscription, the issue doesnt seem to be related to the VM size:

The template deployment failed with error: 'The resource with id: '/subscriptions/xxxx-xxx-xxxx/resourceGroups/xxxx/providers/Microsoft.Compute/virtualMachines/vm' failed validation with message: 'The resource type 'virtualMachines' does not support availability zones at location 'eastus' and

[2019-01-25 21:53] #22942 closed

[2019-01-25 21:53] jaffadog opened #23327 "CA and Service Principals"
Can CA policies be applied to service principals (service accounts using app passwords/key)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7832d3-260c-66c8-f145-c25d568dcbcd
* Version Independent ID: 077385e1-5d33-99ac-14c3-2f373840e2f7
* Content: [Azure Active Directory conditional access FAQs](https://docs.microso

[2019-01-25 21:59] shizn commented on #22862
@sergaz-msft this has been fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/63825 could you help close? Thanks

[2019-01-25 22:02] v-piwijs commented on #23318
Azure SDK for .NET release notes can be found here: https://azure.microsoft.com/en-us/downloads/archive-net-downloads/

[2019-01-25 22:02] v-piwijs commented on #23318
#please-close

[2019-01-25 22:05] Mike-Ubezzi-MSFT commented on #23291
@MicahMcKittrick-MSFT Can you provide some additional input on this issue? This is a product bug for Availability Zones, where VMs being deployed to EastUS as part of an AZ fail to deploy. The Portal is allowing the customer to select something that is not quite supported yet. Have you seen this?

[2019-01-25 22:08] branstraub commented on #23291
Portal UI:

<img width="770" alt="screen shot 2019-01-25 at 19 07 51" src="https://user-images.githubusercontent.com/6980887/51775464-97983100-20d4-11e9-9337-0d7072c8127a.png">

[2019-01-25 22:13] Mike-Ubezzi-MSFT commented on #22925
@SnehaGunda This is related to another issue with regard to tutorials, where a note should be added to indicate a public IP address needs to be whitelisted (if one hasn't already) for the tutorial to work successfully. This relates to almost all CosmosDB tutorials where a client is attempting to connect to the DB Service API.

[2019-01-25 22:18] Mike-Ubezzi-MSFT commented on #22922
@alexjmoore I see that this document has been updated. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 22:18] #22922 closed

[2019-01-25 22:22] Mike-Ubezzi-MSFT commented on #22953
@akshay8082 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 22:22] #22953 closed

[2019-01-25 22:29] srkalava opened #23330 "Update public documentation with expanded AZ support"
Public documentation for Service Bus and Event Hubs does not reflect the recent updates on AZ expansion yet. Here are the news from 2 days ago:

- https://azure.microsoft.com/en-us/updates/service-bus-and-event-hubs-availability-zones-now-generally-available-ga/
- https://azure.microsoft.com/en-us/blog/azure-service-bus-and-azure-event-hubs-expand-availability/

---
#### Document Details

⚠ *Do no

[2019-01-25 22:33] Mike-Ubezzi-MSFT commented on #23037
@docgregt Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If you do, this needs to go to support and a support ticket needs to be opened. If you do not have an Azure support plan, can you send me your subscription GUID and I can send you instructions to have an incident ticket created. Please send your subscription GUID to AzCommunity at Microsoft.com along w

[2019-01-25 22:34] YutongTie-MSFT commented on #23313
@lsmith999999 Thank you for the feedback, I will assign to the author to update the document for more details.

@Jann-Skotdal Hi Jann, can you please help update the document? Thanks.

[2019-01-25 22:37] MicahMcKittrick-MSFT commented on #23291
@mmccrory could you advise on this? I see that East US is not yet GA for AV zones so it should not be showing up in the portal. I can file a bug if there is not already one. Else, have we gone GA in East US? I have not heard anything as of yet.

https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

![image](https://user-images.githubusercontent.com/32313503/51776505-5c830700-20ae-

[2019-01-25 22:37] #23318 closed

[2019-01-25 22:38] Karishma-Tiwari-MSFT commented on #23318
@v-piwijs Thank you :)
@dmarlow We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-25 22:38] sakvin1 commented on #22804
I encountered the same issue as boreys.

[2019-01-25 22:39] edrickwong commented on #23256
@YutongSun Hi YuTong, so what I was originally intending to convey is that the the [deploying page](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where) on Azure ML docs seem to have different instructions on how to install Azure IoT Edge than on the Azure IoT Edge documentation. After looking at the script it's pulling, it seems like it's a wrapper for the Azur

[2019-01-25 22:40] branstraub commented on #23291
Sure, next time i'll file the bug. But actually a CX of mine found it.
I repro on my sub and confirm it.

Also, btw. Will be great to know the ETA of the rollout of AZ for EastUS :)

B.

[2019-01-25 22:41] MicahMcKittrick-MSFT commented on #23322
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 22:43] YutongTie-MSFT commented on #23256
@edrickwong Thank you for the detail.

@aashishb Please check this feedback. Thank you.

[2019-01-25 22:44] MicahMcKittrick-MSFT commented on #23324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-25 22:46] salilbapat commented on #20351
Thanks for the information. For some reasons I thought that you are able to create AKS compute but not deploy services to it via pipelines. But looks like you are not able to do any AKS related operations in the pipeline. I checked internally and this is an expected behavior right now. Using the compute creation/attach classes and accessing AKS services need a slightly different auth mechanism whi

[2019-01-25 22:51] Mike-Ubezzi-MSFT commented on #23037
Additionally, the migration tool has three date formatting options, and I have reached out to the product group to add a 4th option to keep the source formatting.

![screenshot 181](https://user-images.githubusercontent.com/37126106/51777102-850c0080-20b0-11e9-8a7a-0a956ac7656d.png)

[2019-01-25 22:54] Mike-Ubezzi-MSFT commented on #23037
@docgregt  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Additionally, if you send us your subscription GUID per the previous request, we get you to support to have a ticket opened if you do not have an Azure support plan.  Thank you!

[2019-01-25 22:54] #23037 closed

[2019-01-25 23:04] lsmith999999 commented on #23313
Thanks for the feedback. While you're at it, just above the line I cited it says:

"The array can have at most 25 elements"

Does that mean a maximum of 25 translations per post? It would seem so but I tested it with a few more (translating from English to one target language) and all were successfully translated. Am I missing something? (shouldn't I have received an error and/or translation cut-o

[2019-01-25 23:13] femsulu commented on #23310
@yshahin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-25 23:18] Mike-Ubezzi-MSFT commented on #22947
@scubajon Wanted to check-in on this issue. Can you ensure that the `Allow access to Azure services` is enabled across the services being leveraged as part of this tutorial? Also, is the Blob container completly locked down or what is the current access policy?

[2019-01-25 23:22] Mike-Ubezzi-MSFT commented on #23150
@karthikthangapandian Did this get resolved? We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 23:22] #23150 closed

[2019-01-25 23:30] Mike-Ubezzi-MSFT commented on #22946
@anujku We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 23:31] MicahMcKittrick-MSFT commented on #23324
@galiniliev thanks for the find! I corrected the doc. Once the PR merges the changes will go live in a few hours.

[2019-01-25 23:31] #23324 closed

[2019-01-25 23:33] scubajon commented on #22947
Unfortunately, my Free Trial subscription just ended so I am no longer able to access the Blob container.

[2019-01-25 23:34] maneeshbhat21 opened #23332 "Secops: Disk Encryption KEK/Secret Expiry"
Hi team,
The documentation is pretty nicely done.but just wanted to provide some feedback ,not sure if am unable to find the info here or if it available somewere else..From security point of view,we define the security matrix in our organization and based on the facts about the ADE on server the article doesnot anywere mention about the expiry of the keys or secrets that we want to keep according

[2019-01-25 23:38] TravisCragg-MSFT commented on #22711
@Kevin-Manson I was able to get this working successfully, please let me know if you need further assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-25 23:38] #22711 closed

[2019-01-25 23:40] #23144 closed

[2019-01-25 23:41] Karishma-Tiwari-MSFT commented on #23197
@paulpuvi06 Is there an Azure doc that you have been following? Did you get a chance to open a forum post for this one? Please share the link to the forum post here so that we can track it and make sure you get help there. Thanks :)

[2019-01-25 23:49] docgregt commented on #23037
Not sure what the 4th would be for, but if I specify string then it should not be changed. Specifying Epoch implies parsing. But I guess whatever it takes to allow source to be unchanged.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Gro

[2019-01-25 23:53] xingwu1 opened #23333 "Wrong versions"
The version 2017-04-02 in https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#instance-metadata-data-categories should be 2018-04-02.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
*

[2019-01-25 23:57] mumoryan opened #23334 "Confusion in NotActions"
In Contributor - NotActions, Microsoft.Authorization/*/Delete and Microsoft.Authorization/*/Write have negative descriptions "Can't delete..." which are inconsistent with other NotAction descriptions (such as the Microsoft.Blueprint/blueprintAssignments/delete	"Delete any blueprint artifacts").

Is this by design and a Contributor role CAN delete roles and role assignments, or not?

---
#### Docum

[2019-01-26 00:01] Karishma-Tiwari-MSFT commented on #23252
@taromielnaz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-26 00:02] TravisCragg-MSFT commented on #17973
@jtuliani I was unable to reproduce this issue with reverse lookup, but I was able to get the "internal.cloudapp.net" suffix in some circumstances.

when looking up a server, you must add a domain with the request. For 2 VMs in the same VNET with a DNS Zone, doing an NSLOOKUP on just the VM name will produce a "internal.cloudapp.net" name. doing an NSLOOKUP on the VMName qualified with the domain

[2019-01-26 00:02] #17973 closed

[2019-01-26 00:13] cynthn commented on #23252
@taromielnaz thanks for the feedback! The doc in question is specific to managed disks, which require VMs deployed using the Resource Manager model. Snapshots aren't supported for Classic deployments. You can snapshot an unmanaged disk, but that creates a managed disk.

#please-close

[2019-01-26 00:22] julieMSFT commented on #15001
@kyella @01sarthak Thank you for your input on this issue. I have corrected the link to the original recording on channel9, [https://channel9.msdn.com/Events/Ignite/2016/BRK3291](url).  I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-26 00:37] djaus2 commented on #23264
_I have extended the relevant section a little as below:_
## Prerequisites
### Cloud resources
….
...
### IoT Edge device:
- A Windows computer or virtual machine to act as your IoT Edge device. Use a supported Windows version:
	- Windows 10 or IoT Core with October 2018 update (build 17763)
	- Windows Server 2019
- Enable virtualization so that your device can host containers
	- If it's a Windows

[2019-01-26 00:38] MicahMcKittrick-MSFT commented on #23333
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-26 00:42] MarileeTurscak-MSFT commented on #23327
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-26 00:42] MarileeTurscak-MSFT commented on #23332
@maneeshbhat21
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-26 00:43] djaus2 commented on #21915
Ok done, thx

[2019-01-26 00:43] MarileeTurscak-MSFT commented on #23334
@mumoryan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-26 00:50] djaus2 commented on #22783
Yes it would be useful to include this in the documentation. As I understand it, Moby is the only option on IoT-Core (correct me if I'm wrong).  Some example would be useful.
eg Instead of ```docker image list```
run:
[code]
Output:
[code]

[2019-01-26 00:53] #23136 closed

[2019-01-26 01:01] djaus2 commented on #22783
And finally, post above for restarted on reboot **DOES** work:
Firstly:
[code]
Then issue the commands in order:
[code]
Then get:
[code]
**Wala** :smiley:

[2019-01-26 01:03] TravisCragg-MSFT commented on #23320
@way2arun are you able to get the key via the Portal, Powershell, or CLI?

to view how a template normally stores objects, you can view it in [resources.azure.com](resources.azure.com).

[2019-01-26 01:03] SaurabhSharma-MSFT commented on #23203
@SamirFarhat Please refer to [Tutorial: Azure Active Directory integration with SAML SSO for Bitbucket by resolution GmbH](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/bitbucket-tutorial) to integrate Bitbucket with AAD.

[2019-01-26 01:15] SaurabhSharma-MSFT commented on #22935
@yahiaman Multiple AAD connect sync servers connected to the same Azure AD tenant is not supported except for a staging server and Azure AD Connect supports installing a second server in staging mode. A server in this mode reads data from all connected directories but does not write anything to connected directories.   Please refer to [Topologies for Azure AD Connect](https://docs.microsoft.com/en

[2019-01-26 01:16] SaurabhSharma-MSFT commented on #23029
@jvdjeery We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-26 01:16] #23029 closed

[2019-01-26 01:16] SaurabhSharma-MSFT commented on #23125
@russell456 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-26 01:16] #23125 closed

[2019-01-26 01:22] SaurabhSharma-MSFT commented on #23205
@ghilead The certificate in this case is a self-signed certificate in the user certificate store on your computer and you can create those certificates using `New-SelfSignedCertificate` Powershell command.  Please refer to [Authenticating to Azure AD in daemon apps with certificates](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-daemon-certificate-credential/) sample

[2019-01-26 01:22] SaurabhSharma-MSFT commented on #23195
@rupalgohel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-26 01:22] #23195 closed

[2019-01-26 01:34] Mike-Ubezzi-MSFT commented on #23288
@DarranShepherd Thank you for this detailed feedback. Are you wanting an update to the documentation or making a general product-feedback recommendation. With this additional information, I can have an update made to the documentation but, this information is also very useful to those who are looking for the same solution and look through previous GitHub issues opened against this document.

[2019-01-26 01:37] Grace-MacJones-MSFT commented on #23283
Hi @dcbrown16, what documentation are you referring too? and yes lifetime is valid for the refresh token

[2019-01-26 01:38] Mike-Ubezzi-MSFT commented on #23317
@alathrop Thank you for this detailed feedback. We are investigating and will update you when we have accurate information to respond with.

[2019-01-26 01:38] rboucher commented on #21837
@stephbaron  Can you comment?  Are checks for Service Bus on the horizon?

[2019-01-26 01:42] Mike-Ubezzi-MSFT commented on #23321
@itanex Thank you for bringing this to our attention. I am going to assign this to the content author (@cephalin) to evaluate and update as appropriate.

[2019-01-26 01:44] Mike-Ubezzi-MSFT commented on #23306
@danielithiessen Thank you for bringing this to our attention. We are investigating and will update you when we have accurate information t provide.

[2019-01-26 01:46] Mike-Ubezzi-MSFT commented on #23330
@srkalava Thank you for bringing this to our attention. I am assigning this to the content author to evaluate and update as appropriate.

[2019-01-26 01:53] artemuwka commented on #23240
@johnthcall, even if one zone becomes unavailable the account is still available for both reads and writes. Will update the article shortly. Thanks for the feedback!

[2019-01-26 02:05] way2arun commented on #23320
yes, through az cli its working perfectly fine, I am able to create the auth key and take it to the connection and establish the link to circuit. I am trying to do the same function through ARM template, where I am getting the error.

[2019-01-26 02:30] SnehaGunda commented on #22306
@garfbradaz Thanks for the feedback, it's in our plan to add instructions for subqueries, distinct and querystats operators, we are working on updating the docs.

[2019-01-26 02:42] rimman commented on #16997
Thanks for your feedback. We are working on addressing the above case you've encountered. Please connect with us at AskCosmosDB@microsoft.com and we can help you with your use-case. Thanks.

[2019-01-26 02:54] HeidiSteen commented on #23317
Hi @alathrop, it's a limit on the key phrase extraction skill: https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-keyphrases#data-limits

Cognitive skills limits are not documented in service limits, but I'll take an action item to include a section that summarizes them.

[2019-01-26 03:05] way2arun commented on #23320
this is  easy to replicate, through ARM template, if you are trying to create 1 or more (try more than 1) authorizations, it will make the circuit to fail and throw an error, and prompt to refresh, after that you can see the keys created

[2019-01-26 04:00] femsulu commented on #23013
@msprateektaneja, was able to Confirm the "Activity log export to Eventhub" feature is still in Preview. The document and screenshot referenced above are out of date.
@johnkemnetz - FYI we will need to update the doc to reflect the above. Can you please add this to your backlog.

Closing this issue but happy to re-open if there are any further questions.

[2019-01-26 04:00] #23013 closed

[2019-01-26 04:05] femsulu commented on #23147
thanks @yaench
@guidooliveira We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-26 04:05] #23147 closed

[2019-01-26 04:52] neeleshray commented on #22706
We would be closing this thread now. If you need further assistance, kindly re-open the thread.

[2019-01-26 04:52] #22706 closed

[2019-01-26 04:53] neeleshray commented on #21963
We would be closing this thread now. If you need further assistance, kindly re-open the thread.

[2019-01-26 04:53] #21963 closed

[2019-01-26 04:55] neeleshray commented on #22743
@rbrayb  We would look into the same.

@davidmu1  David, Could a note be added to the document for the same ?

[2019-01-26 06:29] nschonni opened #23340 "typo "connectivty" -> "connectivity""
The following articles have the typo "connectivty" in the file name, which should be "connectivity"
https://docs.microsoft.com/azure/networking/connectivty-interoperability-preface
https://docs.microsoft.com/azure/networking/connectivty-interoperability-configuration
https://docs.microsoft.com/azure/networking/connectivty-interoperability-control-plane
https://docs.microsoft.com/azure/networking/c

[2019-01-26 07:53] msprateektaneja commented on #23013
@femsulu Thank you for your response. Would you happen to have a road map around this? When can this be expected to be GA?

[2019-01-26 08:53] mike-urnun-msft commented on #22787
Hi @cowinr Thanks for pointing this out and helping us drive improvements towards MS Docs! We have updated the sample to reflect the detail accurately and the changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-26 08:53] #22787 closed

[2019-01-26 09:10] peter-foreman opened #23352 "Wrong variable name in resize and reset"
Resize & Reset get the gateway in variable $gw, but they use $gateway on the next line. Clearly $gateway is not set producing an error.  e.g.
$gw = Get-AzureRmVirtualNetworkGateway ...
Reset-AzureRmVirtualNetworkGateway -VirtualNetworkGateway $gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23ea6caa-e264-886b-18

[2019-01-26 09:41] yahiaman commented on #22935
Thank you for replying but my question concern the topology in the link :
On adfs two forests, two aadconnects and two tenants

[2019-01-26 10:06] arkiaconsulting commented on #16396
In the 2.1.4.0 version of the emulator, one can see a /EnableGremlinEndpoint in the command line parameters. Does this mean that the Graph Api is now supported ?

[2019-01-26 10:09] mike-urnun-msft commented on #22884
@kazshi you'll likely get an error that reads **"Host thresholds exceeded: [Connections]"**

Following docs discuss concurrency in more detail:
- [Host Health Monitor](https://github.com/Azure/azure-functions-host/wiki/Host-Health-Monitor)
- [JobHost ServicePointManager settings](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#jobhost-servicepointmanager-settings)
- [Numerica

[2019-01-26 11:07] Agalyadevi opened #23353 "Object Dection with Video"
Hi Team,
Computer Vision API is detecting images. Video Indexer API is analyzing videos. Is there any API to detect images with video?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: becedba4-d880-1927-3032-57bf5fe90b5a
* Version Independent ID: 76bd87ed-1757-1082-8d9c-a07007bab186
* Content: [Tutorial: Generate metadat

[2019-01-26 11:57] jonmach opened #23354 "Error running the 'Adding Classifier' stage"
Hi,

I'm trying to deploy this on a DSVM in the East US 2 Region. I had to regress to Tensorflow 1.10 and the minimum versions of a number of other libraries and I am now stuck on the 3rd part of this where I attempt to do:

classifier_input, classifier_output = Resnet50.get_default_classifier(feature_tensor, model_path)

I get the following error:

AttributeError                            Traceb

[2019-01-26 12:09] Phydeauxman commented on #23322
@MicahMcKittrick-MSFT The error in the extension logs is not helpful in troubleshooting at all:

`[ERROR] Registration of the Dsc Agent with the server https://usge-agentservice-prod-1.azure-automation.us/accounts/9bc187cb-8c07-487e-9d10-33ff1a8de162 failed. The underlying error is: The attempt to register Dsc Agent with AgentId 0964A8A9-20D1-11E9-A80E-001DD800E145 with the server https://usge-age

[2019-01-26 13:03] sandervandevelde commented on #21403
Thanks @veyalla, can your share the related environment variable 'storageFolder' too?

[2019-01-26 13:31] Phydeauxman commented on #23322
@MicahMcKittrick-MSFT I resolved the problem but I think it would be very helpful to add more detail to the documentation. What was causing the issue was the incorrect value in the `NodeConfigurationName` field. What I had in there was the name of the configuration but what it needed was the ConfigurationName.NodeName. As seen from the Azure portal, the name of my configuration is `DCVMConfig`. In

[2019-01-26 13:41] kristerkarto opened #23355 "App is stuck on Browser and redirecting back to app"
Followed documentation, but I am not able to get the redirect back working properly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80570ef3-8293-8dd2-4092-9a532280b1c7
* Version Independent ID: 00d8be20-a306-af04-04f8-652361349e15
* Content: [Get Started with authentication for Mobile Apps in Xamarin iOS](https://docs

[2019-01-26 13:51] erich-wang commented on #21773
@BigBadPhysicist , the issue has been fixed in latest version: Azure IoT Edge Tool - Preview 0.1.6, thanks.

[2019-01-26 13:55] erich-wang commented on #22372
@djaus2 , it seems you customized the location for user project templates thru Options ->Projects and Solutions -> Locations. Anyway, the issue has been fixed in latest version: Azure IoT Edge Tool - Preview v0.1.6, please have a try, thanks.

[2019-01-26 14:07] kristerkarto commented on #23355
Figured it out - in your example the following line on step 2 in ios.Xamarin:
         AppDelegate.ResumeWithURL = url => url.Scheme == "zumoe2etestapp" && client.ResumeWithURL(url);
Should be:
         AppDelegate.ResumeWithURL = url => url.Scheme == "{url_scheme_of_your_app}" && client.ResumeWithURL(url);

Its also worth noting that url.Scheme will be lowercase as far as I noticed, so I changed

[2019-01-26 14:42] washraf commented on #21983
@suchiagicha
Thanks it worked.

[2019-01-26 15:00] snpdev opened #23356 "AKS-Engine is not for DC/OS, Swarm Mode, and Swarm."
In the AKS Engine section of the document, it states: "Kubernetes, DC/OS, Swarm Mode, and Swarm orchestrators can be deployed with AKS Engine."

If I'm not mistaken, DC/OS and Swarm were removed from AKS-Engine (See https://github.com/Azure/aks-engine/pull/92). They are supported in ACS-Engine, however "no further development or releases in ACS-Engine are planned" per https://github.com/Azure/aks-

[2019-01-26 15:10] SamirFarhat commented on #23203
Hi,
Just checking if this scenario is supported.
Thanks

[2019-01-26 15:46] docgregt commented on #23037
Here is the SR Contact:
My name is Naga Vijay Krishna Velaga.  I am the Support Professional who will be working with you on this Service Request. You may reach me using the contact information listed below, referencing the SR number 119012524003240.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:gr

[2019-01-26 16:15] harouny opened #23357 "Incorrect code in C# example of "Querying all instances""
There is a small mistake in the C# example of "Querying all instances" where a variable that doesn't exist is in use: "starter" I believe the durable "client" was meant to be used instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4cbb-3d82-bda2bc032487
* Version Independent ID: a34e246c-7c65-461f-44

[2019-01-26 16:24] Anmolgan81 opened #23358 "What account does SSISDB uses to execute the packages ?"
What account will SSISDB uses to execute the packages? will it use the same account as of the managed instance to execute the packages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311ed7bd-e869-3e77-4601-235149e54c03
* Version Independent ID: 7f767d44-195c-d869-ab43-606feb470447
* Content: [Run SSIS package with Exe

[2019-01-26 16:31] harouny commented on #23357
Oh I didn't notice the edit button and reading docs in a small mobile screen isn't making it any easier :)

[2019-01-26 16:38] ArvidBaa commented on #16731
I just realized that I only got an answer to part of my question. If posting the question again I would rephrase it and not put so much focus on not finding my way through the documentationm and instead on the second part, the reason why I was looking.

I still wonder if it would be possible to retrieve the model object without having to reference it by name. The scoring file is part of the Image

[2019-01-26 17:06] EmanMH opened #23359 "The items.query doesn't work"
Although I have items.readAll working when I am trying to use items.query with the same as the example in azure functions it doesn't return the items, it only returns context object like the following
 ClientContext {
     cosmosClientOptions:
      { endpoint: 'mydburl',
        auth: [Object],
        consistencyLevel: 'Session',
        connectionPolicy: [Object],
        defaultHeaders: [Objec

[2019-01-26 17:13] MicahMcKittrick-MSFT commented on #23322
@Phydeauxman thanks for the extra details. We will take a look and see what we can add to the doc :)

[2019-01-26 17:14] MicahMcKittrick-MSFT commented on #23273
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-26 17:15] MicahMcKittrick-MSFT commented on #23340
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-26 17:16] MicahMcKittrick-MSFT commented on #23356
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-26 17:53] AjayKumar-MSFT commented on #23212
@raja4014, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-26 17:53] #23212 closed

[2019-01-26 17:56] mohsinonxrm commented on #12074
Okay, so let me add a little more detail, at least in my case:
Following instructions from https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-sdk on Windows 10 Enterprise (latest)/VS 2017 (latest) works fine.
Same instructions, steps on Windows 10 Pro (latest)/VS 2017 (latest) don't work (same error as in the screen shot of Zir01).
I've

[2019-01-26 18:07] DMSeger opened #23360 "didReceiveRemoteNotification is deprecated"
This method is deprecated in iOS 10+, and the tutorial should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431c3a81-db2a-b34d-0f2c-50d71dc10c49
* Version Independent ID: c44dd034-b17a-663f-2f33-99c1f04edfbe
* Content: [Push notifications to iOS apps using Azure Notification Hubs](https://docs.microsoft.co

[2019-01-26 18:15] jpetitte opened #23361 "Zone Name Key List"
Is there a key to how zone names are assigned in the URL? For example, if the storage account is in a resource group in East US, is it always keyed to z13? If so, is there a list of locations and their zone numbers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independen

[2019-01-26 18:19] paddyhitch opened #23362 "More options to practice/tutorials for Budgets"
Am frustrated that there are no options to practice/demo creating budgets in Azure without having access to an EA subscription.

Even if this was a Microsoft Learn option via a sandbox would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-

[2019-01-26 18:38] ChiragMishra-MSFT commented on #23358
@Anmolgan81 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-01-26 18:58] jgallucci32 opened #23364 "Support for non-Azure object storage"
In the guide it says:

The Avere FXT software was written to support multiple object storage sources such as Amazon S3, SwiftStack, etc. Does the vFXT filer come with the same core filer binaries as the on-premise counterpart, or did Microsoft dummy down the version to only support Azure Blob? This would be a good annotation for customers looking to migrate to vFXT filer from exsting FXT filer dep

[2019-01-26 19:08] jgallucci32 opened #23365 "Support for Azure Stack?"
Missing from the FAQ is support of vFXT for Azure Stack. I get the question probably isn't as "frequent", but it would be good to know. Customers with on-premise Avere deployments and Azure Stack could benefit greatly by migrating from a hardware-based solution to a software-defined one, reducing the amount of hardware which is required for a private cloud.

---
#### Document Details

⚠ *Do not ed

[2019-01-26 21:50] AmanGarg-MSFT commented on #23280
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-26 21:50] #23280 closed

[2019-01-26 22:40] #22926 closed

[2019-01-26 23:18] suneetnangia opened #23394 "Performance of domain endpoint"
Hi,
What is the performance limit of the domain endpoint? is it a collective performance of all the topics it has?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e3faf4-5ce6-02de-593e-6fef7cb11017
* Version Independent ID: 0ee16b16-d4dd-1743-2431-4d8cbb38c170
* Content: [Event Domains in Azure Event Grid](htt

[2019-01-27 00:00] mike-urnun-msft commented on #23219
Hi @mtiwa1983 Currently, SMTP connector will only use the email that you've authenticated for the `From` field. Please consider submitting a feature request for this scenario at [Azure UserVoice](https://feedback.azure.com/forums/287593-logic-apps?category_id=145803&query=smtp).

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we

[2019-01-27 00:00] #23219 closed

[2019-01-27 00:55] mike-urnun-msft commented on #23041
Hi @zooba Thanks for pointing this out and helping us drive improvements towards MS Docs! We have added the use of `Invoke-WebRequest` via Powershell as an option and these changes should reflect on this documentation within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-27 00:55] #23041 closed

[2019-01-27 00:58] leftmostlane opened #23395 "Windows Server 2019"
Is Windows Server 2019 a supported OS for Azure Disk Encryption?  The article only mentions Windows Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad29
* Content: [Prerequisites - Azure Disk Encryption for IaaS V

[2019-01-27 01:19] Alexander-Stulov opened #23396 "Cosmos Db: Collection throughput provisioning"
I set throughput on a database level and now within that database I'm going to create a collection with dedicated throughput.
Will this result in creation of dedicated physical partition or it will use existing? Will it split new collection data over all existing physical partitions or use dedicated?

[2019-01-27 01:20] Alexander-Stulov commented on #23326
Thanks!

[2019-01-27 01:20] #23326 closed

[2019-01-27 01:53] mike-urnun-msft commented on #23394
Hi @suneetnangia Thank you for your feedback! We will review and update as appropriate.

[2019-01-27 02:55] codescream opened #23397 "Speech recognition Enrollment body content"
[In the body content of the enrollment API, // Request body
            byte[] byteData = Encoding.UTF8.GetBytes("{body}"); Is the body just the audio file location?]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Cont

[2019-01-27 06:27] djaus2 opened #23398 "All OK on Win 10 VM"
All works seamlessly on Windows 10 VM hosted by Hyper-V on Win 10 desktop.
Except for the reboot/restart issue as resolved in [post #22783](https://github.com/MicrosoftDocs/azure-docs/issues/22783).

As I had already exercised this tutorial with a MinnowBoradMax, all I had to do was step 4. of  _"Deploy and run the solution"_  but using the new hub for the VM as created in the Quickstart/Windows D

[2019-01-27 08:13] djaus2 commented on #13397
I "fell over" at this point until I realised that you use the right-click menu to paste, not Cntrl-V etc.
I would recommend a very very short tutor as a side page with a reference to it.

[2019-01-27 08:20] AjayKumar-MSFT commented on #23352
@peter-foreman, Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-27 08:59] MSSedusch commented on #22203
You cannot turn off the idle time completely. 30 minutes is the maximum value. If you set the keep alive parameter in the ASCS profile (enque/encni/set_so_keepalive) and in the OS (net.ipv4.tcp_keepalive_time) connections should always be kept alive and you should not see connections drop because of the ILB idle timeout.

Hope that helps.

[2019-01-27 09:05] AjayKumar-MSFT commented on #23353
@Agalyadevi,  Thanks for the question! We are investigating and will update you shortly.

[2019-01-27 09:12] CloudCrusader opened #23399 "LB vs AppGW"
in the drawings on this page the primary location uses L4 LB and in the failover location AppGW.
would be more logic if its the way around ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fca0e3-fec9-2c72-63a3-a2e1b0a7aad8
* Version Independent ID: 1e80ea20-77d6-1ecd-76cd-224438972648
* Content: [Disaster recovery u

[2019-01-27 09:16] AjayKumar-MSFT commented on #23360
@DMSeger, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-27 09:34] Mike-Ubezzi-MSFT commented on #23359
@EmanMH Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:37] Mike-Ubezzi-MSFT commented on #23361
@jpetitte Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:39] Mike-Ubezzi-MSFT commented on #23362
@paddyhitch Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:43] Mike-Ubezzi-MSFT commented on #23364
@jgallucci32 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:46] ladsouza commented on #17812
Exact same issue. Following the steps verbatim. A bit more details to "security configuration issue on the customer side" might help us (customers) troubleshoot.

What configuration on the customer side is at fault ?

[2019-01-27 09:46] Mike-Ubezzi-MSFT commented on #23365
@jgallucci32 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:49] Mike-Ubezzi-MSFT commented on #23395
@leftmostlane Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:51] Mike-Ubezzi-MSFT commented on #23396
@Alexander-Stulov Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:55] Mike-Ubezzi-MSFT commented on #23397
@codescream Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 09:58] Mike-Ubezzi-MSFT commented on #23398
@djaus2 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 10:01] Mike-Ubezzi-MSFT commented on #23399
@CloudCrusader Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 10:02] rkarlin commented on #22793
Hi @javiermicrosoft
thanks for your feedback. I'm looking into it with the product team and will update you.
thanks

[2019-01-27 10:04] kasmodia opened #23400 "mdsdHttpProxy value"
I cannot get any information on this particular configuration, and I get an error in my linux logs about this mdsd service not being able to start:

2019/01/27 09:33:50 [Microsoft.Azure.Diagnostics.LinuxDiagnostic-3.0.117] RunCmd systemctl status mdsd-lde
2019/01/27 09:33:50 ERROR:CalledProcessError.  Error Code is 3
2019/01/27 09:33:50 ERROR:CalledProcessError.  Command string was systemctl statu

[2019-01-27 10:09] ladsouza commented on #17812
The errors seems to because of the URL being called by the script

Is this correct (from the provided script) ... + $SubscriptionId + $OfficeTennantId +.... are both Ids supposed to be concatenated together ?

$connectionAPIUrl = $ARMResource + 'subscriptions/' + $SubscriptionId + '/resourceGroups/' + $ResourceGroupName + '/providers/Microsoft.OperationalInsights/workspaces/' + $WorkspaceName + '/

[2019-01-27 10:54] ladsouza commented on #17812
I cant find any reference on google for:

Microsoft.OperationalInsights workspaces/connections

[2019-01-27 10:57] ladsouza commented on #17812
Am I looking in the right place ?

https://docs.microsoft.com/en-us/azure/templates/microsoft.operationalinsights/allversions

[2019-01-27 11:48] LeonB87 opened #23401 "ASE recommended subnet size is different"
In the note on top, it is suggested to create a /24 subnet to host the ASE.

But during the tutorial at step C,  a /25 subnet is recommended.

"c. Select the size of the subnet. Remember to select a size large enough to accommodate future growth of your ASE. We recommend /25"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-01-27 11:50] djaus2 opened #23402 "Azure VM worked OK"
This tutorial worked OK for me using an Azure VM. Was able to reuse IoT Hub setup from other related tutorials.
Only problem I had was pasting the connection string (use right-click context).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3

[2019-01-27 12:20] klchung commented on #20171
Executed the instructions (preview) provided and also updated the sshd_config and aad_admins, but the same error persists, i.e. "Permission denied" when attempting to ssh login with my AAD account to a SLES 12 SP3 Linux virtual machine.

Please advise on next steps, and thanks in advance.

[2019-01-27 13:04] siebeh opened #23403 "typo"
"You can also try our troucleshooter for VNet Peering issues" Should read troubleshooter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure Virtual Network peering](https://docs.microsoft.com/en-us/azure/v

[2019-01-27 13:35] rkarlin commented on #22793
Hi @javiermicrosoft
We took a look and unfortunately aren't sure where you see the problem. Can you please provide specific information about which strings look outdated?
thanks!

[2019-01-27 14:31] german1983 opened #23404 "You mentioned that `Each property can have multiple values` but I can't make it work"
In this document when referring to properties it states that `Each property can have multiple values`, but when I try any of the following (based on Gremlin documentation) it isn't working:
- g.V(v).property('name','value1').property('name','value2')
OR
- g.V(v).property('name','value1') +g.V(v).property('list', 'name','value2')

I would expect Vertex V to have a property called 'name' that should

[2019-01-27 14:45] yogiGueta opened #23405 "ADFS metadata.xml does not contain my claims, i can see them in the profile object (after authentication) but not in the metadata.xml ADFS provide me (url link)"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-27 15:17] Darryl-G commented on #22203
Hello,

Thanks for getting back to me.

We found the exact same parameter changes were required to prevent enqueue
client comms TIME_OUT short dumps. O my after searching SAP notes and
checking SUSE manuals.
Therefore I can confirm that what you suggest is the fix.
It would be really great if this information could be included somewhere on
the MS reference architecture pages. Even if it was a note

[2019-01-27 15:51] ladsouza commented on #17812
Faced the exact same issue (with script #2), realised that my error was that I had specified one of the GUID values incorrectly.

[2019-01-27 15:55] Mike-Ubezzi-MSFT commented on #23400
@kasmodia Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 15:58] Mike-Ubezzi-MSFT commented on #23401
@LeonB87 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 15:58] loopfish opened #23406 ""principalId" is not the same as "servicePrincipalClientId", so what is it?"
What is the mystery "principalId" parameter, automatically generated when deploying an AKS cluster from the ARM templates the Portal provides? It is not the "servicePrincipalClientId" or "servicePrincipalClientSecret" which I supplied.

It is referenced by the resource type": "Microsoft.Resources/deployments",
        "name": "ClusterSubnetRoleAssignmentDeployment".

I am trying to use the ARM tem

[2019-01-27 16:01] Mike-Ubezzi-MSFT commented on #23402
@djaus2 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 16:04] Mike-Ubezzi-MSFT commented on #23403
@siebeh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-27 16:06] StingyJack opened #23407 "The link in VS that brings me here has other items that dont seem to be explained here"
![image](https://user-images.githubusercontent.com/15381181/51803473-988ba880-2223-11e9-94f8-27ff6d0e9bc4.png)

Can they be added to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3087d087-02d5-0ae2-5276-b8a24b5dd5ef
* Version Independent ID: 38ce6ed2-1640-4e48-f1e4-f5442f1c6714
* Content: [Service Fabric program

[2019-01-27 16:08] Mike-Ubezzi-MSFT commented on #23404
@german1983 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 16:27] tshinkle opened #23408 "The code appears to build fine. The certificates are all loaded. But I cannot connect. There has to be a step missing. Do we need to create client certificate on the cluster? When I try to open the service fabric explorer I get a not authorized message. Not sure why?"
The code appears to build fine. The certificates are all loaded. But I cannot connect. There has to be a step missing. Do we need to create client certificate on the cluster? When I try to open the service fabric explorer I get a not authorized message. Not sure why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac10

[2019-01-27 17:43] mcb0035 commented on #14066
I am aware of the documentation that describes how to use the cmdlets.  The
problem is they do not exist:

Set-AzureRmJitNetworkAccessPolicy : The term
'Set-AzureRmJitNetworkAccessPolicy' is not recognized as the name of a
cmdlet, function, script file, or operable program. Check the spelling of
the name, or if a path was included, verify
that the path is correct and try again.
At line:1 char:1
+

[2019-01-27 17:44] pcchauhan120 opened #23409 "The method "await client.ExecuteStoredProcedureAsync<string>(uri, options, newItem);" doesn't return from waiting state"
When I use the above method I am facing issues. I have already the storedprocedure in the cosmosDB and while trying to execute it I am facing issues.I think that it is entering waiting state

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8b38-

[2019-01-27 17:48] StingyJack opened #23410 "I realize that its a legitimate language keyword..."
... and that the compiler makes use of it often, but its hard for me to want to read any further when there is a GOTO in the first example, and that GOTO doesn't have a valid label for it to go to.  The bracing style is also counter to convention, is this for C# or JavaScript?

I wouldnt normally comment on this kind of thing but this is about a newer API and I just read through a large list of ve

[2019-01-27 17:52] rbhadti94 commented on #23225
Hi @AjayKumar-MSFT - Thanks for the response.

It turns out that I was restoring/publishing/zipping the sample app (linked in my original issue) using the following commands:
[code]
However this *fails* for the API app service because the Azure API App service runs natively off a Windows based App service plan. And by default```dotnet publish``` produces an app for a linux target system. Hence dep

[2019-01-27 18:28] jdiazfernandez opened #23411 "Compilation problem - "Build and debug IoT Edge solution with multiple modules""
I'm following the tutorial step by step but I got a compilation error when I try to "Build and debug IoT Edge solution with multiple modules" although I did not create module 2. I only want to debug  the tempSensor module that simulates data and pipes these data to Azure IoT Hub through my IoTEdgeModule1.

1&gt;------ Operación Compilar iniciada: proyecto: AzureIoTEdgeApp1, configuración: Debug An

[2019-01-27 19:12] dbaynard opened #23412 "Redirect `endpoint` -> `endpoint.html`"
I've just uploaded a directory tree which looks like this (minimum example):

[code]

When I go to the base url, it transparently displays the `index.html` contents. However, the link to `/about` on that page gives an error. I'd expect it to redirect (whether explicitly or transparently) to `/about.html`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-01-27 19:30] Mike-Ubezzi-MSFT commented on #23405
@yogiGueta Thank you for the detailed feedback. We are actively investigating but we need more information before we can  provide you a comprehensive answer, as it pertains to the documentation. Is there a document you are sourcing or are you simply asking a product related question? If there is a document, can you share that document link with us?

[2019-01-27 19:34] Mike-Ubezzi-MSFT commented on #23405
You might be asking for documentation but it is not completely clear as the title is stated. Thank you.

[2019-01-27 19:38] Mike-Ubezzi-MSFT commented on #23406
@loopfish Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 19:39] Mike-Ubezzi-MSFT commented on #23407
@StingyJack Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 19:44] ahmeddhouib commented on #17965
SOLUTION 👍 👍 👍 👍 👍 👍 ::
👍 👍 👍
the following repoURL does not contain the template

https://github.com/raymondlaghaeian/AzureMLWebAppTemplate_RRS_v2

download template from below url and follow the steps given in the article

https://github.com/raymondlaghaeian/AzureMLTemplates/blob/master/AzureMLRRSWebTemplate.zip

[2019-01-27 19:45] Mike-Ubezzi-MSFT commented on #23408
@tshinkle Thank you for the detailed feedback. We are actively investigating but we need to understand the documentation that you are attempting to follow in order to provide a comprehensive response and address any documentation gaps.

[2019-01-27 19:45] ahmeddhouib commented on #19172
SOLUTION 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍
the following repoURL does not contain the template

https://github.com/raymondlaghaeian/AzureMLWebAppTemplate_RRS_v2

download template from below url and follow the steps given in the article

https://github.com/raymondlaghaeian/AzureMLTemplates/blob/master/AzureMLRRSWebTemplate.zip

[2019-01-27 20:07] yogiGueta commented on #23405
Hi,
Thank you for replying.
I will try to explain myself:
I created an app and configured it as SP, using ADFS as IDP. I followed
this link and created some claims:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization

When I open the metadata.xml ADFS that was created for me, I can't see my
claims. I need those claims to be in the metadata.xml

[2019-01-27 20:42] kevtacular opened #23413 "App Registration with Azure CLI"
Is it possible to automate application registration via Azure CLI? If so, where can I find the documentation? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c760-1a37-57728171395d
* Content: [Tutorial - Register your applications in

[2019-01-27 21:36] tshinkle commented on #23408
I am following the documentation
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint

Part one of the tutorial worked fine and I was able to deploy it to an
Azure cluster. However, since I followed the second part in the link above
I appear to have errors in my clusters and I am unable to access them
properly to manage them. I am using a s

[2019-01-27 22:33] shapeh opened #23414 "I don't see checkbox for Show deleted blobs"
I go to Storage Explorer (preview) but there is no "Show deleted blobs checkbox" when I select one of the containers.
Where is this located?

We are using North Europe, general purpose v1, GRS, standard performance.
Soft delete = enabled in the Azure Portal, but also in code:

            ServiceProperties serviceProperties = BlobClient.GetServiceProperties();
            serviceProperties.DeleteR

[2019-01-27 23:07] mike-urnun-msft commented on #22785
Thank you for your feedback! Given the scope of change required, we have assigned this issue to the author to review further and take the right course of action.

[2019-01-27 23:40] Mike-Ubezzi-MSFT commented on #23409
@pcchauhan120 Thank you for the detailed feedback. We are actively investigating but need some additional feedback. Are you calling this method from a client via the .NET SDK or have you create a stored procedure and are calling this via REST? Can you also provide an example of your code where you execute this functionality. Thank you!

[2019-01-27 23:44] Mike-Ubezzi-MSFT commented on #23410
@StingyJack Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-27 23:47] Mike-Ubezzi-MSFT commented on #23411
@jdiazfernandez Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 23:49] Mike-Ubezzi-MSFT commented on #23412
@dbaynard Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 23:50] dcbrown16 commented on #23283
Thank you. The 8 hours is not documented that I see, I confirmed it internally (with MS). I'd like to see that documented on this page unless there is some reason not to.

[2019-01-27 23:54] Mike-Ubezzi-MSFT commented on #23413
@kevtacular Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-27 23:55] Mike-Ubezzi-MSFT commented on #23414
@shapeh Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-28 00:19] shapeh commented on #23414
Just noticed that it has changed to dropdown now:

![capture](https://user-images.githubusercontent.com/29387615/51808869-4c2f7f80-229a-11e9-8ed1-2dea03175c28.PNG)

On a side note, it would be nice if it were possible to permanently delete the deleted files before retention expiry. Also column sorting does not work properly when viewing active+deleted files - e.g. clicking on Status or Remaining D

[2019-01-28 00:41] msavino659 commented on #22718
Closing is fine. Thanks!

[2019-01-28 00:45] nmikuni opened #23415 "Custom image from Portal"
It looks like currently we can deploy VMSS with custom image by portal.
Please also update the document! thank you very much for this improvement :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ce0660-0573-ca8f-462f-78e7593fea64
* Version Independent ID: db5b936f-60ab-bc78-cc90-b8834cce009a
* Content: [Reference a

[2019-01-28 00:46] nmikuni commented on #23415
![image](https://user-images.githubusercontent.com/33822072/51809202-8708d600-22e1-11e9-87ad-d9341c7771b6.png)

[2019-01-28 00:50] mike-urnun-msft commented on #22884
Hi @kazshi

There's no direct answer to this question as the results may vary depending on multiple factors involved in your unique scenario.

If you're on a consumption plan, the runtime will continue to scale out (by design) to meet demand and there's no specific way of setting maximum for the number of instances that spun up as it might defeat the purpose of the consumption based plan. In this

[2019-01-28 00:50] #22884 closed

[2019-01-28 01:02] kazshi commented on #22884
@mike-urnun-msft  Thanks for your comment!

[2019-01-28 01:50] Mike-Ubezzi-MSFT commented on #23415
@nmikuni Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 02:04] blouwagie opened #23416 "Named locations, where to find, make clear"
Hi,
There are at least three Conditional Access Interfaces in Azure. Only one of them has the "Named locations" option. It is the one that you reach by going to Azure Active Directory &gt; Conditional Access.
The Intune &gt; Conditional Access does not contain the "named locations" configuration button (although you can use a named loction in a condition)
The "conditional access" service does not

[2019-01-28 02:19] forester123 opened #23417 "Remove Classic Management Portal related info"
Classic Management Portal was retired long time ago. Below content should be removed:

What can I do in the Management portal?
The classic Azure Management portal is being retired gradually. We encourage you to use the Azure portal, which combines management and account functions while giving you greater flexibility to manage your Azure resources.

You can continue to use the Management portal to:

[2019-01-28 03:17] kazshi opened #23418 "Traffic Manager log schema"
Currently "Schema not available." for Traffic Manager, but now the schema is available in the following link (actually I reached this content from the following), please update the table accordingly.  Thanks.

Enable diagnostic logging in Azure Traffic Manager | Microsoft Docs
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-diagnostic-logs#traffic-manager-log-schema

---
###

[2019-01-28 03:37] genlin commented on #22750
@nmikuni  Thanks for the feedback. I will check with our engineer, and will get back to you soon.

[2019-01-28 03:56] SaurabhSharma-MSFT commented on #22935
@yahiaman ok, I am not ware of any specific step to step guide or document related to your scenario.  But you can refer to [Custom installation of Azure AD Connec](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom) if that helps.
I also suggest you please open a new MSDN forum post with the scenario details and community will help address your query. Plea

[2019-01-28 03:58] SaurabhSharma-MSFT commented on #23048
@trevor-schmidt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-28 03:58] #23048 closed

[2019-01-28 04:01] Mike-Ubezzi-MSFT commented on #23416
@blouwagie Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-28 04:06] Mike-Ubezzi-MSFT commented on #23418
@kazshi Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-28 04:12] SaurabhSharma-MSFT commented on #23203
@SamirFarhat I am not sure if the Bitbucket endpoint can be configured via Azure AD application proxy however I have assigned this issue to content author to investigate and update the document if required.
@barbkess Can you please provide your inputs if this is a supported scenario ?

[2019-01-28 04:14] SaurabhSharma-MSFT commented on #23205
@ghilead We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-28 04:14] #23205 closed

[2019-01-28 04:17] Grace-MacJones-MSFT commented on #23273
Hi @imeya, what are you trying to achieve with your scripts/cmdlet? are you trying to configure app settings? deploy or manage additional resources?

[2019-01-28 04:24] bneelon85 opened #23419 "Windows 10 Users need version 1809 to use this tutorial"
I have been following this tutorial verbatim on my windows 10 laptop with no issues until I got to https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#download-and-install-the-iot-edge-service

Powershell gives me the message:
"The container host is on unsupported build version 17134.
Please use a container host running one of the following build versions for running Windows containers:
177

[2019-01-28 04:41] bneelon85 commented on #23419
Whelp...I thought I read the prerequisites, but now I actually understand them. Any idea when 1809 will be fully available? I tried downloading from http://www.catalog.update.microsoft.com/Search.aspx?q=KB4476976 but it said the update is not applicable to my computer...

[2019-01-28 04:46] v-maroge opened #23420 "Sharing Express Route circuit among different subscription/tenant"
&gt; ExpressRoute authorizations can span subscription, tenant, and enrollment boundaries with no additional configuration required.

This seems to be limited only to Private Peering since the configuration requires VNET gateways. Is it possible to share an express route circuit among different subscription/tenant for Microsoft peering?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-01-28 04:49] jaredr80 commented on #23420
Microsoft peering provides private access to public services, that may or may not be specific to a single customer (i.e. single tenant vs. multi-tenant are both available on Microsoft peering). Subscription/tenant/enrollment do not apply for Microsoft peering.

#close

[2019-01-28 04:54] SubhashVasarapu-MSFT commented on #23090
@Qq20180503 Thanks for the feedback! I have assigned the issue to the content author to investigate on this.

[2019-01-28 04:59] SubhashVasarapu-MSFT commented on #23257
@v-maroge Thanks for the feedback! I have assigned the issue to the content author to help you on this.

[2019-01-28 05:10] imeya commented on #23273
@Grace-MacJones-MSFT, like get the status of vms, use this cmdlet Get-AzureRmVM

[2019-01-28 05:20] kogesaka opened #23421 "Managed Application Operator Role and Managed Applications Reader authority (action) is Wrong."
I think the authority (action) granted to Managed Application Operator Role and Managed Applications Reader is opposite.

As with this document, the execution result of Get-AzRoleDefinition is likewise reversed.

Name             : Managed Application Operator Role
Id               : c7393b34-138c-406f-901b-d8cf2b17e6ae
IsCustom         : False
Description      : Lets you read and perform actions

[2019-01-28 06:03] veyalla commented on #23419
@bneelon85 If you are not particular about using Windows containers, you could install [Docker Desktop (Windows)](
https://download.docker.com/win/stable/Docker%20for%20Windows%20Installer.exe) and use the command below to run Linux Containers

[code]

[2019-01-28 06:12] dcbrown16 opened #23433 "Update link"
Getting a 405 trying to fix this myself.
"If you want to know more about Azure Backup, read this overview."
Link should be updated to backup-overview instead of backup-introduction-to-azure-backup.
The latter appears to be the Backup info from the obsolete OMS documentation section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-01-28 06:21] PramodValavala-MSFT commented on #23189
@UtsaVakani Just following up here... Did my previous comment help?

[2019-01-28 06:21] jakaruna-MSFT commented on #23190
@imeya I tried out and got the same error. I still didn't figure out the cause. I suspect its because of firewall.
Can you follow this [troubleshooting document](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/remote-tools-troubleshoot-azure-vm-issues) and check if that helps.

[2019-01-28 06:47] SadiqhAhmed-MSFT commented on #23433
@dcbrown16 Thanks for the feedback! Assigned this issue to the content owner for further review.

@saurabhsensharma Could you please review the document and update as appropriate.

[2019-01-28 06:52] SadiqhAhmed-MSFT commented on #23417
@forester123 Thanks for the feedback! We have assigned this issue to the content author for further review.

@v-wimarc Could you please review the doc and update as appropriate?

[2019-01-28 06:56] Venug1234 opened #23455 "Not able to communicate with MQTT"
I followed same procedure as given in the python sample application. While running this module on my raspberry pi board i see below error.
Sending message: {'temperature': 33.46,'humidity': 75.37, 'Timestamp': November 21, 2018 - 01:35:10PM}
Sending message: {'temperature': 30.51,'humidity': 70.45, 'Timestamp': November 21, 2018 - 01:35:25PM}
Error: Time:Wed Nov 21 13:35:31 2018 File:/usr/sdk/src/

[2019-01-28 06:57] MamoruKurashima opened #23457 "could not reset ssh"
A VMAccessForLinux extension with name enablevmaccess already exists. Updating it with your settings...
Deployment failed. Correlation ID: 65ff78cb-52ed-4021-b9da-2339fc00006f. VM has reported a failure when processing extension 'enablevmaccess'. Error message: "Enable failed: expected string or buffer".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-28 07:04] SubhashVasarapu-MSFT commented on #23352
@peter-foreman Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-28 07:10] sujithq commented on #17492
Personally I still would like to see this working but the project is on hold since November.

[2019-01-28 07:11] imeya commented on #23190
@jakaruna-MSFT , thank you. I will take a try as per that doc.

[2019-01-28 07:13] PramodValavala-MSFT commented on #23357
@harouny Just wanted to check if you would like to contribute the fix for this 😄

[2019-01-28 07:18] gseletko opened #23468 "Missing SiteRecoveryIPAddresses for Australia Central and Australia Central 2 regions"
The documentation and the SiteRecoveryIP.xml (https://aka.ms/site-recovery-public-ips) are missing ServiceIP and MonitoringIP1 details for regions "Australia Central" and "Australia Central 2"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-0970-db0

[2019-01-28 07:22] KrishnaG-MSFT commented on #23114
@ericcwk Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-28 07:22] #23114 closed

[2019-01-28 07:32] yahiaman commented on #22935
Thank you,
My question is related to this scenario :
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-single-adfs-multitenant-federation

[2019-01-28 07:35] AjayKumar-MSFT commented on #23317
@alathrop,  We will close this out, but if you feel you need more information please just let us know.
@HeidiSteen, Thank you!

[2019-01-28 07:35] #23317 closed

[2019-01-28 07:39] AjayKumar-MSFT commented on #23401
@LeonB87 , Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@ccompy) for further review.

[2019-01-28 08:00] AjayKumar-MSFT commented on #23225
@rbhadti94, Thank you for your detailed feedback and sharing the solution that worked for you. Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-01-28 08:07] ManojReddy-MSFT commented on #23250
@crowcoder The feature is working for me and it should work for you as well. There is no opt-in mechanism. Can you include a screenshot of the application settings from your app service ?

In your KUDU environment(https://APPNAME.scm.azurewebsites.net), can you confirm the following ?

1)Under environment variables , are MSI endpoint/MSI secret populated ?

2) Do you see the app setting with key v

[2019-01-28 08:07] newbienewbie opened #23489 "STT : respond with a 400 instead of 401 if the language parameter is not provided"
[The documents](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis#regions-and-endpoints) describes the behavior as below :

Actually, if I test the stt service without the `language` parameter :

[code]

The server will respond with a message of 400 :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-28 08:13] Anmolgan81 commented on #23358
Am not talking about connecting.to.data sources, am talking about what account will SSIS IR use to execute the job?

Regards
Anmol Ganju

________________________________
From: Sandy Winarko <notifications@github.com>
Sent: Monday, January 28, 2019 9:54:28 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What account does SSISDB uses to execute the p

[2019-01-28 08:22] ManojReddy-MSFT commented on #23405
@yogiGueta I am a little confused about your configuration. The steps provided in the article indicate how to to customize claims sent from Azure AD to the SAAS applications.

If your domain is federated with ADFS, then Azure AD will work as SP for your ADFS and for all the applications Azure AD will work as IDP. Also which Metadata are you referring to ?

Azure AD publishes a tenant specific data

[2019-01-28 08:35] genlin commented on #22801
@jonwbstr Thanks for the suggestion. I would suggest customer to contact SendGrid for the latest information of the offers.

#please-close

[2019-01-28 08:39] imeya opened #23503 "how can I get the disk snapshots older than 7 days?"
Is there a way I can use python to get the disk snapshots older than 7 days directly?

Now I'm using compute_client.snapshots.list(), which can list all the disk snapshots, but can not specify(or I don't know how to) a condition whose created time older than 7 days.

I know I can first fetch all the disk snapshots, then do a filter. But I want to directly archive that.

thanks.

---
#### Document

[2019-01-28 08:41] angoyal-msft commented on #23404
@german1983 for adding multiple values for a property please try the following command:
g.V(v).property(list,'name','value1').property(list,'name','value2')

While for other queries, I am assigning this issue to the other Author of this document to help you better.

@LuisBosquez could you please help customer with the Azure Cosmos DB Gremlin document.

[2019-01-28 08:42] yogiGueta commented on #23405
look at this link please: [https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications]
It explain how to Configure single sign-on to non-gallery applications in Azure Active Directory - this is what i did.
Now in this paper there is a section called: [https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign

[2019-01-28 08:47] harouny commented on #23357
Ok mate, will do :)

[2019-01-28 08:54] Grace-MacJones-MSFT commented on #23273
@imeya unfortunately no, it is not possible to do this in Azure Web Apps.  App Service is very different from VM hosting. In App Service, you never get direct access to the VM, and you can't run any script that affects the VM at a global level.

However, you could try running your Azure cmdlets using Visual Studio 2017. You can install the Powershell tool with Visual Studio Installer or from VS ex

[2019-01-28 08:54] #23273 closed

[2019-01-28 08:56] AshokPeddakotla-MSFT commented on #23455
@Venug1234 Thanks for the feedback! can you please link the document that you are referring to?

[2019-01-28 08:58] imeya commented on #23273
@Grace-MacJones-MSFT , if I did that, then publish to azure web app, the powershell cmdlet can be executed inside web app? thanks.

[2019-01-28 09:04] Grace-MacJones-MSFT commented on #22776
@raja4014 thanks for your patience. Are you referring to the access token for Azure SQL Database from App Service mentioned in documentation?

[2019-01-28 09:09] YASWANTHM-MSFT commented on #23282
@doragui, Are you getting any error while mounting the Azure file share using power shell script mentioned in the document? if so, could you help us with the error code to help better on this.

[2019-01-28 09:11] YASWANTHM-MSFT commented on #22538
@akosibananaman, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-01-28 09:11] #22538 closed

[2019-01-28 09:16] sffamily commented on #23005
@jtheisen Your scenario looks like a typical 1-directional (server to client) push or broadcast. Then if Python is desired, there are two ways for your scenarios: 1) via REST API https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-rest-api 2) via Azure Functions binding, in serverless mode. Azure Functions support Python.

[2019-01-28 09:17] MSSedusch commented on #22203
The profile parameter (enque/encni/set_so_keepalive) and the OS (net.ipv4.tcp_keepalive_time) settings are already documented in the article. What settings do you think are still missing from our guides?

[2019-01-28 09:38] yogiGueta commented on #23405
"If you have made some customization to the app, they are not displayed publicly in the metadata file."
So there is any other way for me to know the custom claims in front? (i need to compare between the custom claims keys i created to the **values** return in those claims in the Profile object after authentication)

[2019-01-28 09:39] sffamily commented on #23005
@jtheisen, For client SDK, we don't have official Python client SDK yet. and may not have it in near term based on the current schedule. But we welcome community to modify the existing ASP.NET compatible Python client for ASP.NET core. Alternatively, can try Python client app with its own user agent as web app?

[2019-01-28 09:54] jtheisen commented on #23005
@sffamily I don't get the last sentence. What do you mean by "own user agent"?

[2019-01-28 10:05] ManojReddy-MSFT commented on #23405
No, Azure portal is the only way to check the SAML customizations. There is a PS / Graph API approach for customizing claims and this feature is still in preview. You can find more details about it [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#claims-mapping-policy-assignment).

[2019-01-28 10:07] ToniaDemchuk commented on #14350
I have the same issue, but I don't want to load this scripts in the head - it is blocking operation and atlas.min.js load near 2 sec.
That is not applicable to my application to wait 2 sec for map if I use SPA and don't use map on the main page.

I tried to load the atlas.min.js via `scriptjs` library asynchronously. But it fails with `applicationinsights_js_1.AppInsights.downloadAndSetup is not a

[2019-01-28 10:10] yogiGueta commented on #23405
Thank you.

On Mon, Jan 28, 2019, 12:05 K N Manoj Reddy <notifications@github.com wrote:

[2019-01-28 10:13] Darryl-G commented on #22203
So it is. You're right.
I didn't read those sections as I had assumed incorrectly that they were
purely ERS setup related.
Thanks!

On Mon, 28 Jan 2019, 09:17 Sebastian Max Dusch <notifications@github.com
wrote:

[2019-01-28 10:15] ManojReddy-MSFT commented on #23405
@yogiGueta We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-28 10:15] #23405 closed

[2019-01-28 10:19] bpraveen4u commented on #13871
Any update, facing same issue.

[2019-01-28 10:20] elad488 commented on #23224
Hi, I've been using this to revert changes to VMs and anytime i switch the OS disk the desktop files I changed remain as they are despite switching the disk successfuly.
Process:
1. Snapshot disk -> create managed disk from snapshot
2. Make a change on the desktop files.
3. Swap disk to the snapshot managed disk i created in step 1 (expecting to restore the files state)
4. everything stays the sam

[2019-01-28 10:20] abshamsft commented on #21308
@xarly: Thanks for pointing this out. We've corrected the variable name

[2019-01-28 10:20] abshamsft commented on #21308
#please-close

[2019-01-28 10:34] jakaruna-MSFT commented on #23356
@snpdev  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-28 10:40] vikranthsuravarapu opened #23509 "Principle ID"
This documentation is not clear to find the principle ID .
How can we find the principle id of user ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version Independent ID: 7484bf47-59da-5eaf-17c3-ccaecf45f185
* Content: [Manage access using RBAC and Azure Resource Manager templat

[2019-01-28 10:40] LTUTE opened #23510 "amp mail is not valid"
hello, the mail amp-testdrive@microsoft.com does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7947496e-c042-15bd-d6c1-ee2738a91119
* Version Independent ID: 98730184-8c1e-9ece-09e7-31abdd60ccd2
* Content: [Virtual Machine Offer Publishing Guide for Azure Marketplace](https://docs.microsoft.com/en-us/azure/m

[2019-01-28 10:41] jakaruna-MSFT commented on #23503
Thanks for the question! We are investigating and will update you shortly.

[2019-01-28 10:42] jakaruna-MSFT commented on #23457
Thanks for the question! We are investigating and will update you shortly.

[2019-01-28 10:45] PramodValavala-MSFT commented on #23289
@simonech You are right. This would end up in a loop. 😄

Thanks for noticing this! We are assigning this issue to the content author to review and update accordingly.

[2019-01-28 10:51] dtoomey opened #23511 "Horizontal Scroll requirement is annoying!"
Why have a fixed width table within a fixed width page that you need a horizontal scroll bar for? Makes it really difficult to read the doco.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d636bc55-8cfe-9056-16b5-16fa149bdb98
* Version Independent ID: ae8574db-c516-8fe5-723f-9c8a29c63506
* Content: [Application upgrade

[2019-01-28 10:51] rs38 opened #23512 "diagnostic settings with azure monitor"
can you provide some querys that can help to troubleshoot connections issues similar to cosmosDB? I cannot find sth. like source ips...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60f34411-4231-8861-a753-763cfdfb3f99
* Version Independent ID: 7a0d8024-c130-c945-7a35-eb711e99ae66
* Content: [Troubleshoot connection i

[2019-01-28 10:51] djaus2 opened #23513 "Trying to deploy CSharpModule to Linux VM"
Can't deploy CSharpModule:
[code]
???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Tutorial create custom C# module - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)

[2019-01-28 10:52] bneelon85 commented on #23419
@veyalla thanks for this. I dont particularly care as I already have Docker Desktop. I'm targeting using a Windows Device as my edge device when I attempt my own solution after the tutorials. Is there any advantage to Linux vs Windows containers or vice versa in a production environment?

And thank you @djaus2, I will try that soon. Would my PC be in Dev mode from enabling Windows Subsystem for Li

[2019-01-28 10:54] Anmolgan81 commented on #23358
In my case, I have a package that goes into the sharepoint library and pick all the files and put those into the azure storage account file share, now we are not providing any credentials for accessing the sharepoint library so its automatically taking the default credentials, now our account has full permissions on sharepoint, when we try to execute the package from the SSISDB it gets failed, we

[2019-01-28 10:55] sergaz-msft commented on #23402
Hello @djaus2 , did you use Azure CLI to ssh to your VM? If using PuTTY it should be very straight forward:

"To copy from Windows and paste into PuTTY, highlight the text in Windows, press "Ctrl-C," select the PuTTY window, and press the right mouse button to paste. To copy from PuTTy and paste into Windows, highlight the information in PuTTY and press "Ctrl-V" in the Windows application to paste

[2019-01-28 10:56] Anmolgan81 commented on #23358
@swinarko this local account that SSIS IR use to execute the package, can we add a proxy to it so that I execute the package in context of my actual credentials?

[2019-01-28 10:56] djaus2 commented on #23513
The build isn't making it to the repository.
Had a Windows version in repository, now deleted.
When building get msg:
[code]

[2019-01-28 10:57] sergaz-msft commented on #23411
@shizn is this a known issue? Thanks

[2019-01-28 10:58] djaus2 commented on #23513
NB: Have set to amd64 in VS Code status bar. Is there somewhere else this needs to be set?

[2019-01-28 11:01] Anmolgan81 commented on #23358
@swinarko can I add two sets of credentials for a package to be executed, for example all of my package should be executed in context of abc@xyz.com and some of the package requires azure file share, then how can I provide 2 sets of credentials to azure SSISDB?

[2019-01-28 11:05] djaus2 commented on #23513
Or is it that the CS version of the module can't run under Linux?

[2019-01-28 11:17] LazarusX commented on #23167
Hi @viktoreinarsson, could you try changing `C:/ContainerData` to `C:\\ContainerData`? You can verify if the binding works by `docker exec` into the container.

[2019-01-28 11:21] rs38 commented on #23512
e.g. how can I find failed connections?

[code]

when connected to Azure Monitor Diagnostics, it only shows successfull connections.

[2019-01-28 11:21] SadiqhAhmed-MSFT commented on #23468
@gseletko Thanks for the comment! We are actively investigating and will get back to you soon.

[2019-01-28 11:35] jtuliani opened #23514 "Bandwidth options don't match portal"
Bandwidth options don't match portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe411166-7001-5d28-c286-def540fa690d
* Version Independent ID: 224e81f0-7093-2f50-cf57-92470f77055a
* Content: [Azure ExpressRoute circuits and peering](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings)

[2019-01-28 11:55] wilgert opened #23517 "Not clear how to use the Java Agent on Azure Web Apps"
We have a Spring Boot app that's deployed to Azure Web Apps. It's unclear to me how I can get the Java agent on the Azure Web App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71343d5-5b28-5066-ec28-fafc4023aba3
* Version Independent ID: f5aaafd0-8961-2e5f-90eb-92fa16fa5828
* Content: [Performance monitoring for Jav

[2019-01-28 11:59] v-makta opened #23518 "Please add the detailed setting method of autotuning to this public information."
Please add the detailed setting method of autotuning to this public information.

Even if the user does not contact the support desk, you can set it just by reading this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ef45327-7cdf-fc60-2a04-b785bc12f4cf
* Version Independent ID: b4f8c915-9651-14df-92d7-fa13877

[2019-01-28 12:05] danimir commented on #23518
@v-makta This page does provide instructions to turn on Automatic tuning due to which I do not understand your ask. Can you please be very specific what exactly do you think needs to be improved? Thanks.

[2019-01-28 12:11] AmanGarg-MSFT commented on #23517
@wilgert Thank you for the question! We are investigating this and will get back to you shortly.

[2019-01-28 12:16] danimir commented on #23518
@angoyal-msft For the time being unless this ask is clarified, this is an invalid ask. Thanks.

[2019-01-28 12:16] AlekseySokol opened #23519 "Azure AD Connect with ADFS configuration and multiple federated domains in O365"
Hello!
If I want to reconfigure Azure AD connect server from Password Hash Sync to ADFS but in our on premise infrastructure we have multiple UPN suffixes for users. those domains are federated and in O365 domains setup in status "complete" .
I go to Change user sign-in--&gt;Federation with AD FS--&gt; put credentials on AD FS Farm choose "Use an existing AD FS Farm--&gt; select primary ADFS serve

[2019-01-28 12:16] KbLev commented on #22693
Your statement above is not accurate, I asked Microsoft support for clarification.

There are two types of roles in Azure - Azure RBAC Roles and Azure AD Roles.
My question was regarding custom Azure AD roles, your response was about Azure RBAC roles :)

According to MS Support - At the moment it is not possible to create custom Azure AD Roles. The feature was requested many times and it's in thei

[2019-01-28 12:21] gavimoss commented on #16848
I'm having the same issue as Ghander above, the "To Do List Service" API is greyed out when I go Required Permissions -> Add -> Add API Access -> Select an API.

[2019-01-28 12:24] AlexFilipin opened #23520 "Monitor sign-in and audit logs guidance"
Whats the Microsoft recommendation to achieve the alerts for the emergency access accounts?
Would this be sending of SignInLogs to Log Analytics and configure a alert there? Or rather stream to event hub?
Not sure about the time it takes for the events but this would be time critical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-28 12:31] jamtur01 opened #23521 "Python functions require a venv"
Documentation should mention that creating a Python function requires a venv:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create a function on Linux using a custom image (preview)](https://docs.mic

[2019-01-28 12:42] msprateek opened #23522 "Export Activity Logs to Event Hub"
Case - On the Azure Monitor > Azure Activity Logs, I apply filters based on Resources, Resources groups, etc and then click on "Export to Event Hub" to create a log profile.

Question 1 - Is the log profile persistent in a way that it will continually keep exporting the Azure Activity Logs till the log profile is deleted/reset? Or does that require an export to be configured as and when I need to

[2019-01-28 12:45] pmillart opened #23523 "provide sample"
Can we have a github repository to provide some samples for Terraform, ansible, ARM, ... for a simple VM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content: [Azure partner and customer usage attribution](https://

[2019-01-28 12:50] piizei opened #23524 "Examples outdated"
The example code for databrick is not reflecting the latest SDK version.
Would also be nice to have documentation how to execute existing spark job in databricks .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0e6-174c-5264-2a11eb41b6fb
* Content

[2019-01-28 12:50] jakaruna-MSFT commented on #23503
@imeya Snapshot list operation dont have that feature.
You can use [Azure Resource Graph](https://docs.microsoft.com/en-us/rest/api/azureresourcegraph/resources/resources) to achieve that.
For example a query like this
`"where type =~ 'Microsoft.Compute/snapshots'|where properties.timeCreated < now(-7d)|project name,properties.timeCreated"`
returns all the snapshots older than 7 days.
You can cust

[2019-01-28 12:59] viktoreinarsson commented on #23167
Hi @LazarusX: I have the same output:

ColdPathStorage    | [2019-01-28 11:26:10.832] [backend] [info] [Tid:1] [MetaStore.cc:95] [Initialize] Initialize MetaStore. Status:IO error: While fsync: a directory: Invalid argument
ColdPathStorage    | [2019-01-28 11:26:10.886] [backend] [error] [Tid:1] [MetaStore.cc:135] [Initialize] DB Open failed with Invalid argument: Column family not found: : Contai

[2019-01-28 13:01] theheatDK opened #23525 "OMS agent => Log Analytics agent"
Hi,
This article mentions "Microsoft Monitoring Agent", "Operations Management Suite VM extension" and "OMS virtual machine extension". As far as I can figure out there is only one agent and it is now called "Log Analytics agent".
It is a bit confusing to figure out that ASC does not have an agent and that it uses "Log Analytics agent".
I would be good if this was explained and the new naming used

[2019-01-28 13:03] LazarusX commented on #23167
Could you run `docker exec -it ColdPathStorage /bin/sh` and verify if `/blobroot` contains the files you expect?

[2019-01-28 13:14] kumar-sujit commented on #21654
@offColour : Does this integration allows me to have Role Based access controls for Jira projects defined in the groups managed by Azure AD itself.

In otherwords can we sync user groups between Azure AD and Atlassian cloud ?

[2019-01-28 13:28] Sethu2488 opened #23526 "Front Door - GA"
I would like to know when this feature (i.e. Front Door) will be generally available. Any ETA would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door Service](https://docs.micros

[2019-01-28 13:32] deadlyfingers commented on #19011
I'm getting an error at the step of creating the cluster `az aks create ...` with azure-cli 2.0.55 on Mac OS X 10.14.

Error:
az: error: argument _command_package: invalid choice: aks

[2019-01-28 13:35] sandeshmanoharV2 opened #23527 "How to show generated thumbnail sprite vttt file on azure media player if the asset is AES Encrypted"
[Enter feedback here]
How to show generated thumbnail sprite vttt file on azure media player if the asset is AES Encrypted.

My video asset is encoded and encrypted using AES encryption which is having video file, image file, vtt file and we want to play the video with thumbnail sprite on hover of timeline frame... Using JWT token having content delivery  key
token : Bearer=eyJhbGciOiJIUzI1NiIsInR

[2019-01-28 13:43] crowcoder commented on #23250
1. Yes, MSI_ENDPOINT and MSI_SECRET are populated.
2. I see the key vault reference, however, my connection strings *do not show in the Connection Strings section* of the Kudu display. They show in the Environment Variables section as:

SQLCONNSTR_MasterMenuSystemSQLConnectionString
SQLCONNSTR_AppVersionConnectionString

![keyvaultreferences](https://user-images.githubusercontent.com/4210624/51839

[2019-01-28 13:46] pvrk commented on #20105
@Warent2454 : We are planning to make powershell commands for SQL backup and restore by Feb mid-end. Would that work for you? It's better to use PS commands since they handle lot of validations at the client end before proceeding to call REST APIs.

[2019-01-28 13:47] PramodValavala-MSFT commented on #23298
@CeciAc @SebastianAtWork The description for `autoComplete` explains itself correctly but the default value is the one at fault.

It is actually `true` by default as defined in its [JSON Schema](https://github.com/Azure/Azure-Functions/blob/master/schemas/host.json#L462) as well.

I have merged a PR which fixes this for English. We will now proceed to close this thread. If there are further questi

[2019-01-28 13:47] #23298 closed

[2019-01-28 14:25] klchung commented on #20171
Got it working with additional steps below after following the instructions provided:
1. verify home directory of AAD account in SLES VM via: getent <AAD account>
2. create home directory, e.g. /home/<AAD account but without the "@abc.com">
3. create the .ssh subdirectory
4. create the "authorized_keys" and populate with public keys for remote access without password prompt

[2019-01-28 14:32] mrbullwinkle commented on #23302
Changes to address this GitHub Issue have been merged internally. The updates will go-live around 10:30 AM (UTC-8).

[2019-01-28 14:33] mrbullwinkle commented on #23302
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-28 14:34] lsmith999999 opened #23529 "Error handling information is inconsistent"
Hi there,

Couple of issues regarding your error handling docs:

1) This is a fairly minor issue but the "Errors" section on this page (https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference) seems to suggest that errors should be detected by checking the returned 6 digit JSON error string as described on the page. For individual API functions like "Translate

[2019-01-28 14:34] SadiqhAhmed-MSFT commented on #23261
@v-maroge You can write queries basis resource type. However, we do not have scenario specific samples to write queries. As a reference you can use this [link](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-queries). For further technical discussion, recommend you post your question in the [Stack Overflow forum](https://stackoverflow.com/questions/tagged/azure-log-analy

[2019-01-28 14:37] sergaz-msft commented on #22866
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 14:37] #22866 closed

[2019-01-28 14:38] shashishailaj commented on #23520
@AlexFilipin Thank you for your feedback . We will investigate and get back to you on this.

[2019-01-28 14:39] j-martens commented on #23354
@tedway - who owns this FPGA content.    cc: @Blackmist

[2019-01-28 14:40] mrbullwinkle commented on #22916
The associated doc has been updated internally to include information on the environment variable to secure the live metrics stream for Azure Functions v2 apps. The change will go-live around 10:30 AM (UTC-8)

[2019-01-28 14:40] BharathNimmala-MSFT commented on #23302
Thank you Michael.

[2019-01-28 14:40] #23302 closed

[2019-01-28 14:40] sergaz-msft commented on #23286
Thank you @DenisBiondic , for now I will close the issue and wait that you post more feedback.
If there are further questions regarding this matter that couldn't be answered by email, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 14:40] #23286 closed

[2019-01-28 14:41] shashishailaj commented on #23509
@vikranthsuravarapu PrincipalId actually means the object guid of the user. You can find it from the azure portal for the specific user or use [azure Powershell](https://github.com/Azure/azure-powershell/releases/download/v6.13.1-November2018/Azure-Cmdlets-6.13.1.24243-x64.msi) and use the cmdlet [Get-AzureADuser](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azur

[2019-01-28 14:41] Warent2454 commented on #20105
@pvrk Is it possible that i already have access to the powershell commands in preview? we have a perfect use case for this. Thanks!

[2019-01-28 14:42] sopelt commented on #22131
@YASWANTHM-MSFT @yzheng-msft  is there a tracking ticket (or could you use this one) in order to update interested users when this is GA (or at least available in other regions)?

Thank you in advance!

[2019-01-28 14:44] rschinkoeth commented on #15779
i have this exact same issue. i also double checked if this is correct:
The NameID being passed is not in an email address format. To resolve, in the User Claims (Attributes) I changed it to be:
Name identifier value: user.mail [nameid-format:emailAddress]

-> it is

and i used another business/corporate app in azure portal to provision my users (which is working)

[2019-01-28 14:46] sergaz-msft commented on #23305
@stevebus do we have an entry on [Azure IoT Feedback](https://feedback.azure.com/forums/907045-azure-iot-edge) where @algorni and others can vote for it?
Thanks!

[2019-01-28 14:52] shashishailaj commented on #23519
@AlekseySokol thank you for your query. You can choose any of the federated domain because even though you have multiple federated domains due to usage of multiple DNs suffixes, all of them are federate to the same Identity provider which is you local ADFS infrastructure. Please let us know in case this was helpful and we will take this forward accordingly.

[2019-01-28 14:53] shashishailaj commented on #23525
@theheatDK thank you for your feedback . We will investigate on this and continue the conversation on this thread further .

[2019-01-28 14:57] sergaz-msft commented on #22862
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 14:57] #22862 closed

[2019-01-28 15:03] henrique07santana opened #23530 "Creating Table Using Json"
Hi. When I've tried to run create table using json, got this error: Error in SQL statement: AnalysisException: Unable to infer schema for JSON. It must be specified manually.;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent ID: 837e74fd-2554-8de6-7203-2924006204

[2019-01-28 15:06] ThierryBT opened #23531 "Error in command"
Good morning and sorry for my English,

There is an error in command for this link :
https://docs.microsoft.com/en-us/azure/automation/automation-dsc-diagnostics
Chapter "Set up integration with Log Analytics"
Point 4, the command isn't :
Set-AzureRmDiagnosticSetting -ResourceId &lt;AutomationResourceId&gt; -WorkspaceId &lt;WorkspaceResourceId&gt; -Enabled $true -Categories 'DscNodeStatus' (Catego

[2019-01-28 15:11] lsmith999999 opened #23532 "Why add the "Ocp-Apim-Subscription-Key" header"
See https://github.com/MicrosoftTranslator/Text-Translation-API-V3-C-Sharp/issues/4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be131cb-91ae-2aac-863f-a72612d535b0
* Version Independent ID: a74f26c9-de93-a08e-0525-30340e366cc7
* Content: [Quickstart: Get list of supported languages, C# - Translator Text API - Azure

[2019-01-28 15:14] qrick26 opened #23533 "Powershell example works with "TryIt" shell but not with AzureRM 5.7.0"
This may be a setup issue however, I'd appreciate any guidance.  I have a managed image and trying to create a VM using the Powershell example above.  I have the AzureRM module installed, version 5.7.0.  When I attempt the command in a local Powershell prompt I get the familiar "new-azurermvm : Object reference not set to an instance of an object."  If I use the exact command in the "TryIt" shell

[2019-01-28 15:17] AlexandraIM opened #23534 "Popup on marker"
In the first example when you show how to create HTML  marker there is an option that creates a popup for the marker but there is no code to show how this popup can be opened.
This can be added like with this code :
map.events.add('click',marker, () =&gt; {
            marker.togglePopup();
   })
 Please add it. I will be very useful.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-01-28 15:18] sergaz-msft commented on #21915
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 15:18] #21915 closed

[2019-01-28 15:27] sergaz-msft commented on #23398
Hi @djaus2 I am not sure if you are providing feedback to enhance the doc or just kudos? Can you detail :)?

Thanks!

[2019-01-28 15:32] sanpil commented on #23524
Hi, can you elaborate on the first part of your question? Which sample code does not work with the latest version of the SDK? Where do you get the error?

We will look into spark job support. Thanks for the feedback.

[2019-01-28 15:43] mapoitras opened #23535 "How do I create Application Insight using CLI."
I can't find any documentation on creating Application Insight using CLI.  There is only an example using Powershell and ARM templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c8783dc-d0fd-8f1f-88a3-5db2495a1428
* Version Independent ID: 076efce2-ff9e-2d2a-ba9b-7d760c5eea0b
* Content: [Automate Azure Applicatio

[2019-01-28 15:44] simonua opened #23536 "Comody CA is rebranding as Sectigo. When will Azure add the new trusted CA?"
Some supporting links:

New Sectigo root & intermediate certs as of 01/14/19:
- https://www.thesslstore.com/blog/sectigo-to-start-issuing-from-new-roots-on-january-14th/

Name Change Information
- https://sectigo.com/sectigo-story-faq
- https://www.thesslstore.com/blog/comodo-ca-changes-its-name-to-sectigo/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-28 15:47] CaioCPSilva opened #23537 "Problems to run the back-end application"
At the Step 3 of the 'Read the telemetry from your Hub' topic, i tried to do the instruction quoted, but the following error appeared:

PS C:\Users\STD&gt; cd C:\Users\STD\azure-iot-samples-node-master\iot-hub\Quickstarts\read-d2c-messages
PS C:\Users\STD\azure-iot-samples-node-master\iot-hub\Quickstarts\read-d2c-messages&gt; npm install
audited 458 packages in 1.981s
found 0 vulnerabilities

PS C

[2019-01-28 15:54] StefanSchoof opened #23538 "Latest Minor Node Version"
I have Code running with Node 10 and I like to run this on the latest possible minor version (since there are security updates between)? Is there an an way to set WEBSITE_NODE_DEFAULT_VERSION to only the major version or is there some other way to get the latest available minor Version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-01-28 15:59] sergaz-msft commented on #14350
@dsk-2015 @KingdomOfEnds can you take a look? Thanks!

[2019-01-28 16:01] msmimart commented on #16921
For now we can close this issue, but please feel free to comment on any additional info or clarification you'd like to see. Thanks! #please-close

[2019-01-28 16:04] cynthn commented on #23190
@imeya Thanks for the feedback! For PSexec to work, ports 445 and 135 need to be open on the NSG.

[2019-01-28 16:04] deadlyfingers commented on #19011
Update: got it working after clearing old config from previous azure-cli install and making sure the brew link to python3 was updated ok.
`az --version`
[code]

[2019-01-28 16:05] BhargaviAnnadevara-MSFT commented on #23535
@mapoitras Thanks for the question! We're investigating this and will get back to you shortly.

[2019-01-28 16:05] rboucher commented on #21145
@eggind.  I've been thinking about this suggestion since you filed it.  All of these alert types,  "Metric Alerts", "Log Alerts", and "Activity Log Alerts" had previous incarnations.  They are now combined and the docs we have for creating them point to the new option.  So they are both the newer alerts and the classic alerts.  As such, I don't think it makes sense to move these items under "class

[2019-01-28 16:07] mrbullwinkle commented on #23535
A similar question is being tracked here: [https://github.com/Azure/azure-cli/issues/5543](https://github.com/Azure/azure-cli/issues/5543). There is currently not a way to create new Azure Monitor Application Insights resource via the cli other than using the generic `resource create`. The documentation for Azure Monitor specific cli commands can be found [here](https://docs.microsoft.com/en-us/cl

[2019-01-28 16:11] Molotch opened #23540 "Batch read"
The EventHub connector for Spark azure-eventhubs-spark supports batch reading data from an EventHub using a StartPosition and EndPosition defined as EnqueuedTime. Is this a feature of the EventHub or the connector? I didn't find the same settings in the .NET client and nothing here in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-28 16:16] JozoSlejko opened #23541 "Limitations"
It says:
The below Microsoft services are required to be on a virtual network
Azure App Service
Azure Functions
Can App service with vNet integration access the service bus with service endpoint?
Or this means only App Service Environment can access the service bus with service endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-01-28 16:17] YASWANTHM-MSFT commented on #23530
@henrique, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-28 16:21] jshurak opened #23542 "Clarity on Acronym"
The acronym EMS is used with no reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe2fc28-2c44-e088-f079-067bafd1ae58
* Version Independent ID: 6b987664-a403-4b79-4faa-eb4465c33a40
* Content: [Azure Active Directory Identity Protection](https://docs.microsoft.com/en-us/azure/active-directory/identity-protectio

[2019-01-28 16:21] Salampop commented on #17171
the links are working, but the files are corrupted.

[2019-01-28 16:31] mailtogurvindersingh opened #23543 "Microsoft Peering"
Please correct this misleading statement- When you say bi-directional connectivity between your WAN and Azure PaaS services through the Microsoft peering routing domain. There is no option you can enable connectiovity towards WAN from native Azure WebApps unless you use ASE.

Connectivity to Microsoft online services (Office 365, Dynamics 365, and Azure PaaS services) occurs through Microsoft peer

[2019-01-28 16:32] mailtogurvindersingh opened #23544 "Microsoft Peering"
Please correct this misleading statement- When you say bi-directional connectivity between your WAN and Azure PaaS services through the Microsoft peering routing domain. There is no option you can enable connectiovity towards WAN from native Azure WebApps unless you use ASE.

Connectivity to Microsoft online services (Office 365, Dynamics 365, and Azure PaaS services) occurs through Microsoft peer

[2019-01-28 16:40] crowcoder commented on #23250
@AjayKumar-MSFT Is this feature only supported by certain app service plan sku's? I'm on S1 with this app service.
@benny-gold what sku are you running in?

[2019-01-28 16:41] Rabbit994 opened #23545 "SQL Backup to URL link just leads back to same page"
While I'm sure it's trying to show me the video, since the video has SQL command it would like me run, it would be nice if there was written out instructions including SQL Commands I need to run on premise to start the backup to blob storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 759e5bd8-e4f0-24aa-ab48-c2820f

[2019-01-28 16:46] SubhashVasarapu-MSFT commented on #21308
@xarly  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 16:46] #21308 closed

[2019-01-28 16:49] ravikiran-srini commented on #15574
This is the workflow I follow

1) Created VNet, Joined the Azure SSIS IR to VNet
2) SSIS Package is moving data from SQL Server (installed on my laptop) to blob storage
3) Used Point-to-site VPN to connect my laptop to VNet. (I know you said Site-to-site but, let's this is just for POC)
4) Opened all required ports, firewall etc.,

Package still fails. Please let me know where do I log a support r

[2019-01-28 16:51] jimdial commented on #20995
@sietec Thanks for the feedback. I've updated the images so that they no longer have the red line. The changes will publish later today. #please-close

[2019-01-28 16:51] BhargaviAnnadevara-MSFT commented on #23535
@mrbullwinkle Thanks for the response!

@mapoitras You can also follow [this](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?toc=%2fcli%2fazure%2ftoc.json&bc=%2fcli%2fazure%2fbreadcrumb%2ftoc.json&view=azure-cli-latest) page to check the latest updates to Azure CLI. Thanks for reaching out to us!

[2019-01-28 16:52] Karishma-Tiwari-MSFT commented on #23511
@dtoomey Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 16:53] mdgattuso commented on #23292
Rules features similar to the URL rewrite rule Travis mentioned are not yet available for Azure CDN Standard tiers. This is in development and will be available later this spring.

[2019-01-28 16:53] jimdial commented on #21255
@nmikuni The Azure Monitor tag has been added to the article. If you still have questions, please let us know. Thanks. #please-close

[2019-01-28 16:55] frvigano opened #23546 "Some improvements"
1. The link to the dataset does not work.
2. The link to how to set the storage point to the very same article
3. Grant "Storage Blob Data Contributor (Preview)" is required to have the account working with adl gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a000caa-6f6e-de6c-fb18-a342a6b1221b
* Version Independen

[2019-01-28 16:56] Karishma-Tiwari-MSFT commented on #23197
@paulpuvi06 We will now close this issue. Please share the forum post link here when you get a chance.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-28 16:56] #23197 closed

[2019-01-28 16:57] sm1th opened #23547 "Last video in the series"
The next to last paragraph says: "Check back for an additional video in this tutorial series that will cover deploying the application and globally replicating your data."

Is this video going to be posted? If not, maybe a link should be added instead, directing the user to resources on how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-28 16:58] Karishma-Tiwari-MSFT commented on #22203
@Darryl-G Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-28 16:58] #22203 closed

[2019-01-28 16:59] djburnham opened #23548 "I found that you need the full pathname for the notebook"
In step 4e) it says use /adftutorial/mynotebook for the reference to the notebook. This did not work for me; I needed to use the full pathname /Users/user@wherever.com/adftutorial/mynotebook to get this to work.
Also as a comment, this tutorial is about the minimum you can get away to show this integration, the explanation is very thin and the example given is not much use in and of itself.

---
#

[2019-01-28 17:01] jimdial commented on #22773
@iamdravenman Thanks for catching! The extra # has been removed. The change will publish later today.

[2019-01-28 17:05] mbell85 commented on #22811
Hey guys. It's still not working right for me. Change tracking isn't showing anything for file changes at all. Example of one of my rules:

Group: SHARES
Enabled: True
Path: H:\ Shares \ Accounting \ * (no spaces, just for formatting purposes here); I've also tried *.*
Type: File (Have also tried folder)
Recursive: True (Have also tried false)
Upload File: False

[2019-01-28 17:06] KehindeOwens opened #23549 "PIM MFA Activation Graph API"
Hello,

I am attempting to use the "selfactivate" rule within the Graph API for PIM. Unfortunately, when using this API with the roles that require MFA by default (User Administrator) the error message comes back that states "Elevation Requires Multi-Factor Authentication" but doesn't actually begin the process of conducting MFA. This is a huge blocker for our project, is this being worked on?

--

[2019-01-28 17:08] Alberto-Vega-MSFT commented on #21765
@jn-altius We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 17:08] #21765 closed

[2019-01-28 17:09] veyalla commented on #23419
@bneelon85 If you need access to hardware such as USB, BLE from IoT Edge modules (containers), Linux is preferred for now. Also Azure ML based modules are Linux only for now.

Note: Linux containers on Windows via Docker Desktop is a dev-only scenario (which looks like what you are trying to do), it is not recommended or supported in production.

Hope this helps.

[2019-01-28 17:09] jimdial commented on #22864
@kaevans Were you using PowerShell or the Azure CLI in the Cloud Shell? Which line in the sample scripts failed for you, and what error did you receive? Thanks

[2019-01-28 17:12] benny-gold commented on #23250
Good question. I'm on dynamic D1

[2019-01-28 17:12] jimdial commented on #22956
Thanks @IanMercer for catching. This has been fixed.

[2019-01-28 17:12] mbell85 commented on #22811
I've also double checked that the machines are enabled in Change Tracking and that the appropriate automation account and Log Analytics workspace is connected. I've also updated to the latest version of the Microsoft Monitoring Agent and given it more than 72 hours.

[2019-01-28 17:16] jimdial commented on #22965
@KevinMZiegler  Thanks for catching. I've added the "to". The change will publish later today. #please-close

[2019-01-28 17:19] CelesteDG commented on #20935
The updated info is now live.
#please-close

[2019-01-28 17:22] jimdial commented on #23218
@jtuliani  The CLI and PS are supported. I've added links to both articles in the Next steps section. The changes will publish later today.

[2019-01-28 17:32] kaevans commented on #22864
@jimdial yeah, apologies for that. I should have written up a repro. I don't have access to the environment I was using for testing to create a new repro. I tried both bash and PowerShell using cloud shell, both reported a problem that the current user did not have permission to the remote VNet. Using the same commands from a local bash shell worked, and this is consistent with what is described i

[2019-01-28 17:33] #21983 closed

[2019-01-28 17:33] SubhashVasarapu-MSFT commented on #20995
@sietec We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 17:33] #20995 closed

[2019-01-28 17:34] MicahMcKittrick-MSFT commented on #22225
@wp1107 I will close for now. When ready let me know and we can reopen and continue.

[2019-01-28 17:34] #22225 closed

[2019-01-28 17:35] rs38 commented on #23512
https://blogs.msdn.microsoft.com/azuresqldbsupport/2019/01/25/lesson-learned-68-azure-database-sql-connectivity-checker/

[2019-01-28 17:36] jimdial commented on #23403
@siebeh Thanks for catching. I fixed the typo. The change will publish later today.

[2019-01-28 17:37] Mike-Ubezzi-MSFT commented on #23547
@sm1th Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 17:39] MicahMcKittrick-MSFT commented on #23224
@JamesTerHark can you look at the portal after the switch to see if the changes are being displayed there?

[2019-01-28 17:39] Mike-Ubezzi-MSFT commented on #23545
@Rabbit994 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 17:39] MicahMcKittrick-MSFT commented on #23236
@ttelfer any update?

[2019-01-28 17:41] MicahMcKittrick-MSFT commented on #23400
@kasmodia I don't fully understand what you are doing and where you are seeing the issue. Can you elaborate on the scenario please?

[2019-01-28 17:43] MicahMcKittrick-MSFT commented on #23407
@StingyJack valid point. I will assign to the authors to review and see if we can add more information.

@aljo-microsoft @vturecek can you take a look? Seems like if we are linking customers to this page it should cover all the deployment options.

[2019-01-28 17:44] Adam-Smith-MSFT commented on #22489
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-28 17:44] #22489 closed

[2019-01-28 17:45] MicahMcKittrick-MSFT commented on #23533
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 17:45] Adam-Smith-MSFT commented on #23216
@jaypaddy Are you able to answer the above questions?

Thanks,

[2019-01-28 17:48] Mike-Ubezzi-MSFT commented on #23545
@CarlRabeler @srdan-bozovic-msft I tagged this as an enhancement given the ask from the customer.

[2019-01-28 17:49] Alberto-Vega-MSFT commented on #23537
Hi @CaioCPSilva  On step [2. Open the ReadDeviceToCloudMessages.js](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#read-the-telemetry-from-your-hub) have you replaced the connectionString variable with a connection string that looks like this?

`HostName={YourIoTHubName}.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey={YourSharedAccessKey}`

I'm try

[2019-01-28 17:52] dlepow commented on #23161
Article is now updated to include WS2018 SKUs. Thanks again @zbourdeau for pointing this out.
#please-close

[2019-01-28 17:52] theheatDK opened #23551 "Permissions needed to purge log data"
Hi,
What kind of permissions is needed to run the purge?
We need to create an alert if somebody tries to delete Log Analytics data. How can this be achieved?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-4337-13eb-bffd-24743ea225ef
* Version Independent ID: 7750ece3-de32-b966-5dd8-c06bcadd5ba7
*

[2019-01-28 17:52] Mike-Ubezzi-MSFT commented on #23512
@rs38 Thanks for providing this additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 17:53] georgewallace commented on #22927
@ld0614 I have a PR that I will merge today that adds the section to the troubleshooting guide and provides the link to the appropriate permissions in the RBAC doc. It will close this issue when it is merged but if you have further questions reach out, reopen or open a new issue.

[2019-01-28 17:55] Mike-Ubezzi-MSFT commented on #23512
@jan-eng The [Azure Database Connectivity Checker](https://blogs.msdn.microsoft.com/azuresqldbsupport/2019/01/25/lesson-learned-68-azure-database-sql-connectivity-checker/) is something that should be considerd as part of the T[roubleshoot connection issues to Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/howto-troubleshoot-common-connection-issues) document.

[2019-01-28 17:56] nicwillemse opened #23552 "Stored Procedures"
The documentation stipulates that Stored Procedures are not supported, this is not true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7f70535-1e83-54f0-4bc8-b80f5919f118
* Version Independent ID: 57f5c3a0-7a24-ce56-d84c-542d85ffe6a9
* Content: [Connect to Oracle Database - Azure Logic Apps](https://docs.microsoft.co

[2019-01-28 17:57] #23161 closed

[2019-01-28 17:57] theheatDK commented on #23551
Looks like you need the Data Purger role:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#data-purger

[2019-01-28 18:00] CaioCPSilva commented on #23537
Hi @Alberto-Vega-MSFT!

Based on your answer, my connectionString doesn't have the "SharedAccessKeyName" as a parameter.
Can i insert this manually in the ReadDeviceToCloudMessages.js archive?

Thanks for your help!!

[2019-01-28 18:00] bneelon85 commented on #23419
@djaus2 that worked for me. thanks for pointing that out.

Thanks for the answer @veyalla. That was my understanding of Docker Desktop as well and kind of why I asked. If I stick with Windows Containers, would I be able to have, lets say, some Python running on the Host machine collecting telemetry data and then passing that on data to an IoT Edge module(container)?

[2019-01-28 18:02] theheatDK opened #23553 "Alert if a user is purging data?"
Hi,
Is there a way to get a custom alert if a user tries to purge data?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-4337-13eb-bffd-24743ea225ef
* Version Independent ID: 7750ece3-de32-b966-5dd8-c06bcadd5ba7
* Content: [Guidance for personal data stored in Azure Log Analytics](https://docs.micr

[2019-01-28 18:02] YutongTie-MSFT commented on #23251
@cjgronlund FYI

[2019-01-28 18:04] Adam-Smith-MSFT commented on #23361
we don't actually have a list in our documentation, I'll add the author to see if we have/post it. Could you share with us the process that requires you to have the zone number ?

Thanks,

[2019-01-28 18:06] MicahMcKittrick-MSFT commented on #23408
@tshinkle when you say you have errors in the cluster, what do you mean? Can you provide a screenshot?

[2019-01-28 18:07] Adam-Smith-MSFT commented on #23412
@dbaynard it should work, as long as the about.html is in the same root as the index.html. Azure website is currently still case sensitive, is it possible to check if the about.html is referenced in lower case in your redirect ?

[2019-01-28 18:07] MicahMcKittrick-MSFT commented on #23245
@dazbocooper I will close for now. If you have additional questions let me know and we can always reopen and continue the discussion.

[2019-01-28 18:10] jdipaola7 opened #23554 "Hybird Domain Joined Scenarios..."
The following statement should be rewritten:

FROM: For Hybrid Domain Joined scenarios, a scenario exists where the SSPR workflow will complete without needing an Active Directory domain controller. Connectivity with a domain controller is required to use the new password for the first time.

TO: For Hybrid Domain Joined scenarios, the SSPR workflow will successfully complete without needing an Ac

[2019-01-28 18:10] Alberto-Vega-MSFT commented on #23534
Hi @AlexandraIM ,

Thanks for your valuable feedback! How to open the popup is covered in the docs under **Add a popup** -> [Understand the code](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-popup#understand-the-code) section where there is an example.

Do you think it a note linking to that page would be useful? Or how can we make this better? :)

[2019-01-28 18:12] MicahMcKittrick-MSFT commented on #23291
Thanks @branstraub. I just send an email offline on this issue and included you in the convo. I will close this for now and we will continue offline.

[2019-01-28 18:14] MarileeTurscak-MSFT commented on #23542
@jshurak
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-28 18:15] Adam-Smith-MSFT commented on #23414
@shapeh I will raise the feedback to the PG team, do you still have any specific questions regarding the product or just the sorting, and permanently deleting files before retention ?

[2019-01-28 18:19] roygara commented on #21083
@Agazoth
@benstott-eduserv Following up, looks like the way this now works is you need to reference the result itself. For example, after performing $queueMessage = $queue.CloudQueue.GetMessageAsync($invisibleTimeout,$null,$null)

You would then do

$queueMessage.Result

And this will get you to the actual message, from there you can work as normal. This is because GetMessageAsync isn't returning

[2019-01-28 18:19] cjgronlund commented on #23251
@nitinme is the manager/owner for Cognitive Services. If you have questions, I may be able to help, or ping Khairun Jamal or Presley Yuan.
Thank you, @YutongTie-MSFT!