[2018-05-23 22:53] #8025 closed

[2018-05-23 22:55] femsulu commented on #8965
@richardspitz confirming the fix is now live. Thanks again for bringing this to our attention. We will now close this issue.

[2018-05-23 22:55] #8965 closed

[2018-05-23 22:56] hpsin commented on #8779
This is a great question, and we'll definitely need to update the docs on this (for v1 and v2).

SSOut depends on your browser, and only signs the user out of applications on the web for applications that have been signed into on that browser.  When your user is sent to the Azure signout page, the page opens invisible IFrames, each one pointing to a different applications configured LogoutUrl.  Ea

[2018-05-23 22:59] kobulloc-MSFT commented on #9036
@FredlArts Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 22:59] kobulloc-MSFT commented on #9028
@andrewatfornax Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 23:00] kobulloc-MSFT commented on #9023
@MetehanBolat Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 23:04] YutongTie-MSFT commented on #9066
@Blackmist Thank you very much, it has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@AlexanderYukhanov Thank you for your quick action!

[2018-05-23 23:05] #9066 closed

[2018-05-23 23:06] YutongTie-MSFT commented on #9068
@Blackmist Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@lliimsft Hi, this is a doc-enhancement issue, can you please check it out and update the document as necessary? Thanks a lot!

[2018-05-23 23:10] Mike-Ubezzi-MSFT commented on #9081
@AndriyGorda Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 23:11] YutongTie-MSFT commented on #9086
@anrothMSFT Thank you for your quick action. It works for me now.

@edacostacegb Hi, thank you for your feedback. It has been fixed and it works for me now. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-23 23:11] #9086 closed

[2018-05-23 23:12] BryanTrach-MSFT commented on #5444
@rothja I removed the preview tag from the premium tier. I'm not sure where to locate the necessary quotas/limits regarding the isolated tier. cephalin has an internal ticket on the item.

@cephalin Do you know if you'll be able to add a column about the isolated tier and it's quotas/limits to the doc?

[2018-05-23 23:13] TravisCragg-MSFT commented on #9090
@falloutxAY Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 23:28] Mike-Ubezzi-MSFT commented on #9080
@skreebydba Thanks for the feedback. I wanted to confirm that you are in fact using _Azure SQL Database Managed Instance_? It appears that the temp db limitation has been removed but I did not see anything that you can change collation. So, I want to confirm that you are using Azure SQL Database Managed Instance and not Azure SQL Database. Thank you!

[Collation](https://docs.microsoft.com/en-us/a

[2018-05-23 23:29] jeffgilb commented on #9082
Hi @rfsonders, the SQL RP documentation is actually being updated tomorrow for the new SQL RP bits. For now, the SQL RP update can be found here: https://aka.ms/azurestacksqlrp1804

[2018-05-23 23:29] jeffgilb commented on #9082
#please-close

[2018-05-23 23:30] SaurabhSharma-MSFT commented on #9000
@leopignataro The steps which you have provided to load via Azure portal is for uploading a certificate directly to a web application. However, the PowerShell commands in the documentation is for associating the certificate to a Azure AD Application and providing permissions to the application for accessing certificate from Azure Key Vault.

[2018-05-23 23:32] BryanTrach-MSFT commented on #9061
@daviburg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-23 23:34] TravisCragg-MSFT commented on #9082
@rfsonders We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 23:34] #9082 closed

[2018-05-23 23:34] Adam-Smith-MSFT commented on #9036
@FredlArts Thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/258995-azure-backup-and-scdpm. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-23 23:34] #9036 closed

[2018-05-23 23:41] tfitzmac commented on #9055
@jhgbrt - we have a solution and we should have this article updated by tomorrow.

[2018-05-23 23:41] Adam-Smith-MSFT commented on #9023
@MetehanBolat you are correct, it is related to the TLS being disabled: https://github.com/Azure/azure-powershell/issues/3945.
It might be a prerequisite for the encryption to take place. I'd recommend posting in MSDN forums : https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDiskEncryption or StackOverflow since it's not document related.

[2018-05-23 23:41] #9023 closed

[2018-05-23 23:41] tfitzmac commented on #8979
@WiktorJagusiak - we have a solution for viewing events, and we should have this article updated by tomorrow.

[2018-05-23 23:42] TravisCragg-MSFT commented on #9083
@rfsonders Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 23:45] #9083 closed

[2018-05-23 23:45] rfsonders commented on #9083
This issue can be closed.

[2018-05-23 23:45] Adam-Smith-MSFT commented on #9059
@Sambsamb Thanks for the comment, Could you please post the question either on https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazureonlinebackup or StackOverflow since this is not related to a document issue?

Thanks,
Adam

[2018-05-23 23:45] #9059 closed

[2018-05-23 23:46] TravisCragg-MSFT commented on #9083
@rfsonders We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 23:48] johnkwaters commented on #9062
So the client and the server code are unchanged between using a 'local SignalR' and Azure signalr, except for the two parts in the server Startup:

#if !AZURESIGNALR
            services.AddSignalR();
#else
            var signalRConnectionString =
                ConfigurationRoot.GetSection("Azure:SignalR").GetValue<string>("ConnectionString");
            services.AddSignalR().AddAzureSignalR(s

[2018-05-23 23:53] johnkwaters commented on #9062
But to answer your question - NO - there are no errors. No console errors, no network errors. I see the negotiate request. I see the web sockets connection establishing.

Information: WebSocket connected to wss://northstardevsignalr.service.signalr.net:5001/client/?hub=stopshub&id=Bh_2UuNJXgNXwEHt_8qp9w&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOjQsInVzZXJuYW1lIjoicHRzYWRtaW5Ab

[2018-05-23 23:54] johnkwaters commented on #9062
And if I decode the access_token above it looks correct

{
  "userid": 4,
  "username": "ptsadmin@northstar.app",
  "tenantid": 4,
  "role": "TenantAdmin",
  "exp": 1527123060,
  "iss": "northstarapi",
  "aud": [
    "northstar",
    "https://northstardevsignalr.service.signalr.net:5001/client/?hub=stopshub"
  ],
  "nbf": 1527119460,
  "iat": 1527119460
}

[2018-05-24 00:00] rfsonders opened #9096 "Add - Contained DB to documentation"
Documantation update.
Add a reference to configuring Contained Database Authentication on all AlwaysOn Group Replicas. Off Stack implementation for a SQL AlwaysOn Group.
As part of the HA connectivity, you can supply a SQL login (Hence the containment), which remains at the DB level only. Again hence the containment.

--Execute on all HA replicas.
EXECUTE sp_configure 'contained database authentic

[2018-05-24 00:01] BryanTrach-MSFT commented on #9079
@geirsagberg We have gone ahead and added that clarification. The change should be reflected publicly within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-24 00:01] #9079 closed

[2018-05-24 00:04] kazshi commented on #9033
Yes, I read the document. But I couldn't understand what the message means exactly, looks like it's status rather than an error to me. Does the message mean that the user was prompted but did not respond? or something similar? I'd like to know more additional information.  Thanks.

[2018-05-24 00:07] TravisCragg-MSFT commented on #9062
The [Azure SignalR Service Samples page](https://github.com/aspnet/AzureSignalR-samples) contains some information about compatibility in the [Updates of Azure SignalR Service Runtime and SDK](https://github.com/aspnet/AzureSignalR-samples#updates-of-azure-signalr-service-runtime-and-sdk) section.

Did you base your app on the ASP.NET SignalR or the ASP.NET Core SignalR?

[2018-05-24 00:09] rfsonders commented on #9082
We should reopen this case. The new SQL RP you referenced also fails with many errors.
Log files details below.

VERBOSE: Using Subscription: 'Default Provider Subscription'
VERBOSE: Performing the operation "Creating Deployment" on target "system.local.sqladapter".
New-AzureRmResourceGroupDeployment : 8:01:52 PM - Error: Code=MultipleErrorsOccurred; Message=Multiple error occurred:
BadRequest. Pl

[2018-05-24 00:11] SaurabhSharma-MSFT commented on #9052
@PatrickvEk Thanks for finding the issue. I have assigned this issue to content author to investigate and update the document as appropriate.

@msmbaldwin I am able to repro the issue. Can you please check and update the command in the documentation.

[2018-05-24 00:17] andretms commented on #8025
@CelesteDG , @MohitGargMSFT - this issue is fixed and the content was updated to reflect it.

[2018-05-24 00:29] TravisCragg-MSFT commented on #9096
@rfsonders Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 00:30] jason-j-MSFT commented on #8281
@bwren we have a suggestion to add guidance to the Powershell example in the document regarding line 71:
 "time-generated-field" = $TimeStampField

I'm not sure I agree with this since the code seems to work in its current form, and the issue was found after it was modified.

[2018-05-24 00:35] rahulguha commented on #9041
Sure - I was stuck in basic VM creation - and always got msg that
essentially told me "size not available for the subscription you are
using". One time it gave bunch of sizes that are suppose to be available
without any luck.
I wondered if that was happening because of ssd vs hdd selection as
different types are available for ssd or hdd.
Finally gave up and created VM from portal.
Everything later

[2018-05-24 00:48] curtand commented on #9087
Hi @MohitGargMSFT , I'm publishing the update now. I'll @ you when it's merged. Thanks!

[2018-05-24 00:48] curtand commented on #9087
#in-progress

[2018-05-24 00:51] johnkwaters commented on #9062
AspNetCore.

    <PackageReference Include="AutoMapper" Version="6.2.2" />
    <PackageReference Include="AutoMapper.Extensions.Microsoft.DependencyInjection" Version="3.2.0" />
    <PackageReference Include="EPPlus" Version="4.5.1" />
    <PackageReference Include="GeoTimeZone" Version="3.2.0" />
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.2.1" />
    <Pack

[2018-05-24 01:19] johnkwaters commented on #9062
Note - if I remove the [Authorize] attribute from my Hub class, I do get OnConnectedAsync.
But - I need my Hubs to be only called by authenticated users (and it works fine with plain vanilla AspNetCore SignalR.

[2018-05-24 01:30] skreebydba commented on #9080
Mike,

Yes, I am using Managed Instance.  I will run the file add again and send
screenshots.

Frank

On Wed, May 23, 2018 at 6:28 PM, Mike Ubezzi <notifications@github.com>
wrote:

--
Frank Gill
Blog: skreebydba.com
Twitter: @skreebydba <http://twitter.com/skreebydba>

The cure for boredom is curiosity.  There is no cure for curiosity.
-Dorothy Parker

[2018-05-24 01:47] ejazr83 commented on #8896
Thanks @MarkusVi , Do you have an approximate time when this will be done? weeks or months?

[2018-05-24 01:56] MicahMcKittrick-MSFT commented on #9074
@AshishDhawal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-24 01:57] MicahMcKittrick-MSFT commented on #9084
@aappddeevv Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-24 02:10] HK-Zhang opened #9098 "monotonic writes, and read your own writes (RYW) guarantees of Bounded Staleness?"
[Enter feedback here]
It is mentioned in the article that monotonic read guarantees exist within a region both inside and outside the "staleness window."
Does the monotonic writes, and read your own writes (RYW) guarantees exist within a region both inside and outside the "staleness window." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-05-24 02:29] MicahMcKittrick-MSFT commented on #9056
@MikeRayMSFT @Mike-Ubezzi-MSFT would either of you have any idea on this one? I don't see why it would break anything but I am not 100% on that.

[2018-05-24 02:41] Wayne-Shen commented on #8914
Close due to duplicate issue #8915

[2018-05-24 02:41] #8914 closed

[2018-05-24 02:46] linda33wj commented on #8938
@mikedobing good to know. :) We will close this issue then.
#please-close

[2018-05-24 03:07] SnehaGunda commented on #7545
#please-close

[2018-05-24 03:14] johnkwaters commented on #9062
I am looking at that wss connection to the SignalR service above:

wss://northstardevsignalr.service.signalr.net:5001/client/?hub=stopshub&id=5N_GqVK2qAhTz1lagtMjNQ&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOjEzLCJ1c2VybmFtZSI6ImFyY3RpY0Bub3J0aHN0YXIuYXBwIiwidGVuYW50aWQiOjUsInJvbGUiOiJUZW5hbnRBZG1pbiIsImV4cCI6MTUyNzEzNDM0OCwiaXNzIjoibm9ydGhzdGFyYXBpIiwiYXVkIjpbIm5vcnRoc3RhciIsI

[2018-05-24 03:33] #8633 closed

[2018-05-24 03:46] toruita opened #9099 "Service Bus Diagnostic logs schema."
There is no schema information for "Diagnostic logs schema". Though it says "Each entry has string fields that use the format described in the following section.".
Could you please add the information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23735779-3536-079f-9d5c-1b5780924dfc
* Version Independent ID: 9f358dfa

[2018-05-24 03:47] toruita commented on #9099
Could you please add the information?

[2018-05-24 03:59] yannduran opened #9100 "Pointless Change"
This change seems pointless to me, and I can see it confusing people as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sigin-in experience updates](https://docs.microsoft.com/en-us/azure/multi

[2018-05-24 04:01] #9100 closed

[2018-05-24 04:15] TanviShrivastav opened #9101 "predictions = sess.run(prob_tensor, {input_node: [bgr_image]})"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-24 04:16] TanviShrivastav commented on #9101
predictions = sess.run(prob_tensor, {input_node: [bgr_image]})
NameError: name 'bgr_image' is not defined
Couldnt fix this. Please help and let me know where the bgr_image is defined?

[2018-05-24 04:45] tonyaom commented on #9051
Thanks so much conceptdev, do you have a timeline for that?

[2018-05-24 04:59] CelesteDG commented on #8779
Tagging @danbtl and @monteledwards - Hello. In case you didn't see it, please see above response from @hpsin (our PM in this area). Thank you.

[2018-05-24 05:07] barbkess commented on #8981
@michelejohlbs : Thanks for letting me know about your problem with the date.  I will be the primary person updating this and other app management articles moving forward, and will update the date when i make changes.

[2018-05-24 05:26] cveld commented on #8529
Thanks for the great response! You can close the ticket.

Op wo 23 mei 2018 00:15 schreef Kelly Gremban <notifications@github.com>:

[2018-05-24 05:39] ggailey777 commented on #9026
@rocifier this is being worked on literally right now 😁

[2018-05-24 05:43] #7732 closed

[2018-05-24 05:48] SaurabhSharma-MSFT commented on #8999
@CelesteDG Thank you.
@GrantErickson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 05:48] #8999 closed

[2018-05-24 05:51] GrantErickson commented on #8999
Thanks for the quick feedback. Sounds good.

[2018-05-24 06:00] femsulu commented on #9003
@sancheza , A fix has been deployed to resolve the syntax error. will send a final update once the fix is live.

[2018-05-24 06:07] TravisCragg-MSFT commented on #9099
@toruita Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 06:10] TravisCragg-MSFT commented on #9101
@TanviShrivastav could you please post the document that you are referring to?

[2018-05-24 06:11] TanviShrivastav commented on #9101
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python
This one. The last portion, in predicting the image.
Thank you.

[2018-05-24 06:12] MohitGargMSFT commented on #8776
@cabtilx Please note that you need to understand on the license works and you will get billed when you want to use MFA feature for users who do not have licenses. Please refer to this section [Option 2 - Bundled licenses that include MFA](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#option-2---bundled-licenses-that-include-mfa) of [How to get Azure M

[2018-05-24 06:14] TravisCragg-MSFT commented on #9101
@TanviShrivastav  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 06:37] faraazc opened #9103 "Qna maker v4 Rest api guide does not show train api"
Qna maker use to have train api in v2.but it is.missing in v4 .Is.it not.supported

https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da7600

[2018-05-24 06:49] vinodnanduri commented on #8142
We are also facing the exactly same issue with the webactvity , when i call an azure function from the ADF. Is there anyone to help with this?

[2018-05-24 06:52] smoms commented on #8945
@nitinme  can you pls indicate where is specified that you need to create native app **and** that you have to grant specific application permission?

[2018-05-24 07:28] anirugu opened #9104 "I didn't find anything about MX record"
How I can add MX record, please check and help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0807a931-f927-1f61-8b8b-fcaf64342f3f
* Version Independent ID: 0083adf2-464e-7ed2-f242-c8f765a58c80
* Content: [Get started with Azure DNS using the Azure portal](https://docs.microsoft.com/en-us/azure/dns/dns-getstarted-port

[2018-05-24 07:37] rich-davies commented on #7635
Yes, that’s right

From: Ji Eun Kwon [mailto:notifications@github.com]
Sent: 23 May 2018 19:28
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Davies <Richard.Davies@sainsburys.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] JSON Schema? (#7635)

@rich-davies<https://clicktime.symantec.com/a/1/Rb2GmTkSZrUPr218epoRPa_qQeYb6SHg0sEYnDx84M0

[2018-05-24 07:48] JanaAbhijit opened #9105 "Azure Maps - atlas JS Error"
Not sure if the https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1.0  JS or CSS Link is valid.   JS throwing atlas is not defined error.  Could you please check if the url is still valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c

[2018-05-24 08:00] ZzzMao commented on #5247
Hi @sidtandon2014 , you can get the request size limitation on our [API Reference page ](https://dev.labs.cognitive.microsoft.com/docs/services/56f0eabfca730713cc392442/operations/56f0eabfca73070e44d0f39c):

    Response 413
    Request entity is too large, the limit of a document is 10KB

And the Entity Linking service is now available in [Cognitive Services Text Analytics API](https://azure.micr

[2018-05-24 08:14] #8981 closed

[2018-05-24 08:34] CassiuxKlei commented on #8506
I just redeployed the ASDK to update 1804 and the password expiration is now set to 384 days by default. So there is no need to reset it to 180 days :)

[2018-05-24 08:35] CassiuxKlei commented on #8506
/edit: 364 days

[2018-05-24 08:37] SychevIgor opened #9106 "classic portal that no longer available. and some other issues"
Update screenshots with classic portal that no longer available. Most probably we need to drop or rewrite sections "4.2 Deploy a VM from a user VM image".
Maybe also in a text we can change test like "new" or "preview" portal, because this portal is no longer new or preview.  Screenshots of this new portal also require some updates, because I can't recognize any text on it- quality is super low. B

[2018-05-24 09:01] tromika commented on #9054
Thanks @YutongTie-MSFT

[2018-05-24 09:05] SychevIgor opened #9107 "Is this page should exist?"
Is this page should exist? Content is absent, but *.md file exist in a git repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006b7ab0-9c98-b9aa-30c8-be6d1c7c0c04
* Version Independent ID: a7cea626-0ef6-c49d-8025-0a93ad596d4f
* Content: [To be submitted](https://docs.microsoft.com/en-us/azure/marketplace-publishing/i

[2018-05-24 09:05] clondon commented on #8795
Hi,   I have to ask what the effect for a global company with many remote locations and traveller would be? I see alerts for remote desktop sessions which is normal BAU.

[2018-05-24 09:05] jacob-j opened #9108 "Issue when changing from C-Sharp to Node"
The command with repo-url doesn't change to the Node repo when changing language.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure Event Grid to automate resizing uploaded images](https://docs.microso

[2018-05-24 09:07] SychevIgor opened #9109 "classic portal that no longer available. and some other issues"
Update screenshots with classic portal that no longer available. Most probably we need to drop or rewrite this article.
Maybe also in a text we can change test like "new" or "preview" portal, because this portal is no longer new or preview. Screenshots of this new portal also require some updates, because I can't recognize any text on it- quality is super low. But what I can determine- is a green

[2018-05-24 09:07] jwood803 commented on #6976
Should this be reopened? As far as I can see, there isn't an ML Batch Execution activity and using the Custom Activity doesn't seem to be an option. Thanks!

[2018-05-24 09:07] rbrussaard opened #9110 "DR initialism introduction"
The first time an initialism or acronym is used in the document, the words should be written out with the short form placed in parentheses immediately after. This will be pleasant for the reader.

Please change "single databases support the same kind of disaster recovery capabilities. " To "single databases support the same kind of disaster recovery (DR) capabilities. "

---
#### Document Details

[2018-05-24 09:12] huxuan commented on #8918
Hi @somanshreddy, the problem should have been resolved. Please feel free to let us know if there is any further problem.

[2018-05-24 09:17] RascoPK commented on #6589
Fully agree - we need up to date list
And if possible some API to make it easier when we run PowerShell script to take most up to date list.

[2018-05-24 10:30] maniSbindra opened #9111 "The link https://azure.microsoft.com/blog/azure-ad-authentication-for-azure-storage-now-in-public-preview/ seems to be broken"
The Link in the  sentence "For additional information about Azure AD integration for Azure Blobs and Queues, see the Azure Storage team blog post, Announcing the Preview of Azure AD Authentication for Azure Storage" which poinnts to https://azure.microsoft.com/blog/azure-ad-authentication-for-azure-storage-now-in-public-preview/ is broken.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-05-24 11:00] SergiuEnachi commented on #9077
hurry up! as we're in the process of choosing a cloud solution to migrate to, and we require SQL business performance

[2018-05-24 11:13] somanshreddy commented on #8918
Thank you for the quick response. The problem has been resolved.

[2018-05-24 11:37] pnotenb opened #9112 "Documentation is not clear on what happens if event could not be delivered"
The documentation says: 'By default, Event Grid expires all events that are not delivered within 24 hours.'
Since it is a default I guess it can be changed.
What is it that can be changed:
- The 24 hour range
- The fact that the event expires
It is also not clear what is exactly meant by an expired event. Deleted, dead lettered, ...

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-05-24 11:38] pnotenb commented on #9112
If the behavior cannot be changed, then the documentation should remove the word 'default'

[2018-05-24 11:42] ksujanpaul commented on #7192
I think there is no need of converting the model into frozen GraphDef because we can use .pb model directly with python

[2018-05-24 11:44] ksujanpaul commented on #9101
predictions = sess.run(prob_tensor, {input_node: [bgr_image]})
NameError: name 'bgr_image' is not defined

yeah it is the only error even i could resolve
and there is no alternative to change the variable name 'bgr_image'

fix this issue asap please

[2018-05-24 11:44] ksujanpaul commented on #9101
couldn't resolve*

[2018-05-24 11:48] tanvi2797 commented on #9101
Bgr_image is an undefined parameter. Replace it with augmented_image as that is the last modification that we have done on the input image. It works for me now.

[2018-05-24 12:00] dorcohen8 opened #9114 "Can I use Speaker Recognition with Video Indexer?"
Can I use Speaker Recognition with Video Indexer?

[2018-05-24 12:22] gwellbrock opened #9116 "Session Timeout"
Where do I put in the provider to have a longer session timeout?  It appears to be kicking users after 18 minutes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6140fc46-12df-9736-6b59-f08cf69581a8
* Version Independent ID: 374fe1b1-a2ff-cd1e-3e75-371a06ea1151
* Content: [Cache ASP.NET Session State Provider](https://d

[2018-05-24 12:33] JamesTStanley opened #9117 "Why is the EA portal documentation secured?"
This page links to the Azure EA portal documentation, which in order to access you have to sign in to the EA portal. Why can't the EA portal's documentation be publicly accessible like all other documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16fe42f0-e9d3-bcb2-fba9-e16015a76543
* Version Independent ID:

[2018-05-24 12:40] cephalin commented on #5444
Still need to prioritize the work as it takes time to gather numbers from the PU.

[2018-05-24 12:40] da1rren opened #9118 "Elastic Pool Support"
I'm not sure if this command supports importing into an elastic pool.

You can specify -ServiceObjectiveName ElasticPool but then you encounter an exception 'Elastic pool name must be specified' but there doesn't appear to be any way to provide the name.

It would be great if you guys could provide some clarity in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-05-24 13:06] vinaykumar-rm opened #9119 "Download function app project through API"
How can i download function app project through API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zi

[2018-05-24 13:12] cabtilx commented on #8776
@MohitGargMSFT I do not understand.  You say we will get billed for users who do not have licenses.  MFA is free for Office 365 users with an E3 or E5 yes?  My point is that, via Office 365 MFA (note: NOT Azure MFA) I can enabled a list of trusted IP addresses but this affects all MFA users in Office 365.  The feature comparison for MFA says that trusted IPs is not a free feature. How can I licens

[2018-05-24 13:13] sebader opened #9120 "Missing example for MSI in .NET application, e.g. an Azure Function"
Unfortunately there is one - IMHO - important sample missing: how to use the new storage AAD authorization with MSI (managed services identity) within a .NET app, e.g. an Azure Function. So I figured this out on my own I wanted to share the code here. Feel free to include it in the docs:

[code]

And like this, you can use your container object to read the blobs, create new ones etc... (depending

[2018-05-24 13:27] vincepower commented on #9106
As I've also discovered in the last day or two, all the documentation related to uploading a VHD, making it into an image, and publishing it to the Marketplace is still primarily referencing the classic portal and unmanaged storage.

[2018-05-24 13:44] hadr10 opened #9121 "unable to get metrics"
I have got this error message: unable to get metrics for resource cpu: unable to fetch metrics from API: the server could not find the requested resource (get pods.metrics.k8s.io)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c

[2018-05-24 13:45] gutjahr opened #9123 "Clarification on 'Square logo image'"
I am looking for a bit of clarification on where exactly the 'Square logo image' will show up.

The tooltip in the Azure Portal says:
'The square logo is used to represent user accounts in your organization, on Azure AD web UI and in Windows 10'

This page here however says:
'This image appears during setup for new Enterprise Windows 10 PCs. It provides context to employees when they set up their

[2018-05-24 13:57] oderza commented on #9101
I agree with @tanvi2797 , all you need to do is replace bgr_image with augmented_image and it works like a charm.
`predictions = sess.run(prob_tensor, {input_node: [augmented_image]})`

[2018-05-24 14:11] richardcox13 opened #9124 "How to use portal to set app service auto-scaling notifications?"
1. The prompt in the portal says: "Additional Administrator email(s)", but just get a validation on entering multiple emails (whether space, comma, or semi-colon separated). How to set multiple email addresses without using automation?

2. There are no "administrator" or "co-administrator" roles in subscription access control. What roles will get notified when these check boxes are used?

---
####

[2018-05-24 14:18] tamram commented on #9111
@maniSbindra - Thanks for your feedback!

This is a known issue and will be fixed by around 11 am PST today.

#please-close

[2018-05-24 14:27] cezane opened #9125 "How to receive messages published to "/events"?"
Hi. I am trying to implement a PoC in which I have to publish some data and receive them to do some processing. I have to python scripts: one for publish operation and other for subscribe.

I am publishing to `devices/device_id/messages/events/`, using MQTT and X509 certificates. The publishing process is working. But I do not know how to treat these published messages. I tried subscribing to `dev

[2018-05-24 14:37] #9111 closed

[2018-05-24 14:41] ksujanpaul commented on #9101
yeah got it thank you @tanvi2797 @oderza for the response

[2018-05-24 14:44] moojjoo commented on #9071
Yes it is SharePoint for on-premise, but directly related to Azure AD - https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication   This issue is SAML 2.0 and SAML 1.1, so I would say this very related to Azure.

[2018-05-24 14:49] chlsmith opened #9126 "this example doesn't do much"
Could you add some information regarding how to use data that is posted into the HTTP request?  This says you can optionally add things to the trigger or use some of it later, but I don't see how to do so.

Maybe a working example that shows how to do something specific.   How to take a post and send an email from it, leaving nothing but the email address to send to for the user to fill in.

---
#

[2018-05-24 15:05] dankellett opened #9128 "Feature value"
I came to this article from an automated email explaining that one of my Azure services are now in an action group. Not knowing what this new (to me) feature was, I clicked on a link in the email that landed me here. This article does a less than awesome job explaining what value this feature provides me. I think the intro here deserves a bit more attention.

---
#### Document Details

⚠ *Do not e

[2018-05-24 15:26] BryanLa commented on #8925
@TravisCragg-MSFT - #please-close

[2018-05-24 15:30] sidtandon2014 commented on #5247
Thanks ZzzMao

[2018-05-24 15:38] jeffgilb commented on #9096
Thanks @rfsonders, I'll run this idea by the team.

[2018-05-24 15:38] jeffgilb commented on #9096
#please-close

[2018-05-24 15:38] dem108 opened #9129 "Some numbers missing"
Maximum number of alternate questions
Maximum number of question-answers
are missing from current version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b62d38a-cace-8b96-a56d-e5dfadc8192b
* Version Independent ID: 21c3de87-8adb-aa2b-2fc7-f7db10315bee
* Content: [QnA Maker Limits - Azure Cognitive Services](https://d

[2018-05-24 15:43] Yliche opened #9130 "Question: Why doesn't this work with data lake store as the HDInsight primary storage?"
See title. We want our HDInsight to live in the data lake store instead of the storage account. The reason for this is storage account blob containers can easily be flipped to public, in which you immediately report a breach..just like every AWS breach so far.

There is no way to do this with data lake store.

[2018-05-24 15:54] danbtl commented on #8779
@hpsin Thank you for your answer, this is very helpful and I was now able to implement the SSOut in our custom application.

@CelesteDG I stumbled upon one more thing in my testing that might be noteworthy: The LogoutUrl **must not** be an HTTP URL, or the browser will silently fail to load the IFRAME due to mixed-content restrictions. @hpsin maybe the application configuration could validate if t

[2018-05-24 16:08] BeauMarwaha opened #9131 "Official Release Date?"
Is there any timeline on when the Netezza Copy Data functionality in Azure Data Factory will be officially released for production use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e5d5db-588f-05e8-2d5d-ad5ea5eec4af
* Version Independent ID: 61b2a229-8f69-d28e-1861-dd276ddda7d0
* Content: [Copy data from Netezza us

[2018-05-24 16:11] samgithub-duplicate commented on #8057
I'm new to b2clogin, so I gave it a spin in my NetCore app.  Unfortunately, it cannot retrieve the discovery document.  The error is

InvalidOperationException: IDX10803: Unable to obtain configuration from: 'https://<MyTenant>.b2clogin.com/<MyTenantID>/.well-known/openid-configuration

Note: I'm using the actual tenant name/id

[2018-05-24 16:29] toddrob opened #9133 "Missing steps on how share a managed application in the Service Catalog with the end user"
I've seen multiple people not understanding this part of managed applications and I think a documentation update could get this knowledge shared better.  You need to grant a user or group at least reader access to the managed application definition to share with the end user (not the development team permissions through the definition file).  Also, you need to ensure that the end user has selected

[2018-05-24 16:45] Mike-Ubezzi-MSFT commented on #9098
@HK-Zhang Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-24 16:49] faridabharmal commented on #8144
After I logged in, I am back to square 1.
Pulling azure-vote-back (redis:)...
latest: Pulling from library/redis
ERROR: no matching manifest for windows/amd64 in the manifest list entries

I tried
C:\Learnings\Containers\azure-voting-app-redis>**docker pull redis**
Using default tag: latest
latest: Pulling from library/redis
**no matching manifest for windows/amd64 in the manifest list entries**

[2018-05-24 16:55] AshishDhawal commented on #9074
Just wanted to update, when i am on the path "WSL" /mnt/c/user  the file cloud-init can not passed ,  i created the same file under WSL  /home/user and passed it, fortunately it worked. i can access the app through browser,
while accessing the VM i received Resource unavailable.
debug1: connect to address xx.xx.xx.xx port 22: Resource temporarily unavailable
ssh: connect to host  xx.xx.xx.xx port

[2018-05-24 17:02] Mike-Ubezzi-MSFT commented on #9118
@da1rren Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 17:04] kobulloc-MSFT commented on #9130
@Yliche Thank you for the feedback!  We take our security very seriously and will get back to you shortly.

[2018-05-24 17:06] nitinme commented on #8945
@smoms - In the "Prerequisites" section of the article that you referenced in the issue (https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-end-user-authenticate-rest-api), you see this listed as the second bullet point. It states that you must create a native application.

Also,, if you follow the link in the second bullet point in the prerequisites, it talks about granting th

[2018-05-24 17:06] faridabharmal commented on #8144
I miss read that information and was running in the windows mode. When I switched to Linux, it worked. Thanks

[2018-05-24 17:10] curtand commented on #9087
Hi @MohitGargMSFT ,
The fixes are merged and should be live by 10:50 AM. Thanks!
#please-close

[2018-05-24 17:11] curtand commented on #8490
Hi @JoelHazelton I've got your request on my backlog and after this week's customer onsite is over, I'l sit down with my PM to discuss it.

[2018-05-24 17:12] Mike-Ubezzi-MSFT commented on #9118
@CarlRabeler With the various 'SQL' offerings available with Azure, it might make sense to add something equivlant to what is being used for documentation and related products.

![screenshot 15](https://user-images.githubusercontent.com/37126106/40500809-cded5c5a-5f3a-11e8-9138-066658627a28.png)

[2018-05-24 17:14] skreebydba commented on #9080
Mike,

Here is the query I ran to add the file and a screenshot of results before
and after.  You can't specify the physical FILENAME, but it works.

USE master;

SELECT DB_NAME(database_id) AS [Database],
[name],
physical_name
FROM sys.master_files
WHERE database_id = 2;

USE [master]
GO
ALTER DATABASE [tempdb]
ADD FILE
(
NAME = N'tempdev14',
SIZE = 16384KB ,
MAXSIZE = 33554432KB ,
FILEGROWTH = 1

[2018-05-24 17:15] CarlRabeler commented on #9118
I am working to address this now.

[2018-05-24 17:16] MicahMcKittrick-MSFT commented on #9119
@vinaykumar-rm Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-24 17:16] Mike-Ubezzi-MSFT commented on #9116
@gwellbrock Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-24 17:16] MicahMcKittrick-MSFT commented on #9121
@hadr10 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-24 17:18] MicahMcKittrick-MSFT commented on #9074
Thanks for the update @AshishDhawal

@iainfoulds can you take a look to see if we need to update this doc?

[2018-05-24 17:18] Mike-Ubezzi-MSFT commented on #9110
@rbrussaard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 17:20] kobulloc-MSFT commented on #9114
@dorcohen8 Thank you for the question!  We are investigating this and will get back to you shortly.

[2018-05-24 17:22] TravisCragg-MSFT commented on #9101
@ksujanpaul We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-24 17:28] SaurabhSharma-MSFT commented on #9123
@gutjahr Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-24 17:39] curtand commented on #8605
Thanks @LedoGit . I agree. There's a different issue holding up publication of the fix that I'm trying to work thru with my PM. Unfortunately, we have customer onsite meetings all this week and he's mighty busy. I am pursuing this.

[2018-05-24 17:40] RanteCorp opened #9137 "Test"
Just testing...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf395b11-607d-1421-3b71-4dc442535a1c
* Version Independent ID: c5f1f9fc-6b74-5cd4-b411-6676863e6d1a
* Content: [Quickstart - Create a Linux VM with the Azure CLI 2.0](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli)
* Content

[2018-05-24 17:42] #9137 closed

[2018-05-24 17:45] Davilink opened #9138 "The portal doesn't work correctly with Firefox (Version 61)"
When i click on the name of AppService to access the detail panel (for start/stop/restarting or to change the configuration, etc...), it throw an exception in the web console and it take a long time to switch to the detail panel (at first a thought that the portal wasn't working, at all).

![image](https://user-images.githubusercontent.com/1498932/40502223-4ccbd0ca-5f58-11e8-8341-76af3fe0c585.png)

[2018-05-24 17:48] kasperkamperman commented on #7192
@ksujanpaul I don't want to use it with Python but with tensorflow.js... (which is javascript, so it's not related to Tensforflow for Python).

[2018-05-24 17:51] gk14 commented on #8142
We are having the same issue.  Any update on this ?

[2018-05-24 17:51] leopignataro commented on #9000
@SaurabhSharma-MSFT I followed the steps on the article and the effect seemed to be the very same as the procedure I described.

Certificate associated with Azure AD Application with Powershell:

![image](https://user-images.githubusercontent.com/384066/40502413-4559ad40-5f61-11e8-82eb-f508274402ea.png)

Certificate associated with Azure AD Application through the Portal:

![image](https://user-im

[2018-05-24 17:52] gwellbrock commented on #9116
I have and it keeps timing out at 18 minutes.  It appears to work there
though because when I set it to 5 minutes it does time out at 5 minutes but
never past 18 exactly.  When I move back the SQL server session state the
60 works.

On Thu, May 24, 2018 at 1:22 PM, Wesley McSwain <notifications@github.com>
wrote:

[2018-05-24 17:52] balajimadgundi commented on #6317
Above guide works, but feature is still in preview, when Azure AD support for SAML 1.1 will be released for public?

[2018-05-24 18:05] K55Cris opened #9139 "Guidelines for ES-ES"
What are the Transcription Guidelines for ES-ES

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd96c013-7799-7663-8fbc-34f7b6851313
* Version Independent ID: e13ade0a-7a2e-037f-558a-ad5552b2aef1
* Content: [Transcription guidelines in Custom Speech Service on Azure](https://docs.microsoft.com/en-us/azure/cognitive-serv

[2018-05-24 18:06] tobiasb opened #9140 "Home page"
How do I customize the content of the developer portal's home page? We are using authentication delegation with an external identity provider and I would like to remove the "Sign Up" button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54275fa6-b72e-d7d6-b162-0e6beb4c0d14
* Version Independent ID: 676fc019-0dff-5d15-

[2018-05-24 18:13] vasivara-MSFT commented on #9022
@ozzy1873 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 18:13] #9022 closed

[2018-05-24 18:13] msLinuxNinja opened #9141 "Title for "Install CUDA drivers for NC, NCv2, NCv3, and ND-series VMs" needs to be updated to include NV-Series"
Tile for "Install CUDA drivers for NC, NCv2, NCv3, and ND-series VMs" needs to be updated to include NV-Series, while NV-Series can be used for GRID, it can also be used for normal GPU accelerated workloads. The current titles might indicate that if you have an NV-Series but don't plan to use GRID you still need to install GRID drivers. Or that NV-Series is not suited for other GPU workloads other

[2018-05-24 18:15] kobulloc-MSFT commented on #9103
@faraazc Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-24 18:15] kobulloc-MSFT commented on #9105
@JanaAbhijit Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-24 18:16] TravisCragg-MSFT commented on #9104
@anirugu navigate to your DNS zone in the portal, and select "+Record Set". Next, select the "MX" type, and fill out the required fields.

![image](https://user-images.githubusercontent.com/38542241/40503659-aeb55ed8-5f43-11e8-9457-6b47c6fcad32.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-05-24 18:16] #9104 closed

[2018-05-24 18:17] TravisCragg-MSFT commented on #8842
@igorkass We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-24 18:17] #8842 closed

[2018-05-24 18:18] MicahMcKittrick-MSFT commented on #8972
@whataride I will close this for now. If you have additional questions feel free to reopen and we can continue.

[2018-05-24 18:23] smoms commented on #8945
@nitinme  many thanks!

[2018-05-24 18:23] vasivara-MSFT commented on #9130
@Yliche You can choose data lake storage as your primary storage. Please take a look at this [document](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-hdinsight-hadoop-use-portal) for more guidance.

[2018-05-24 18:30] Yliche commented on #9130
This is listed on this link:
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-spark

Important

Spark Activity does not support HDInsight Spark clusters that use an Azure Data Lake Store as primary storage.

[2018-05-24 18:31] CarlRabeler commented on #9077
See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance

[2018-05-24 18:31] SaurabhSharma-MSFT commented on #9033
@kazshi The document seems updated by the author with more details yesterday.

"This error occurred due to "Keep me signed in" interrupt when the user was signing-in. Please file a support ticket with Correlation ID, Request ID and Error code to get more details."
Hope this helps.

[2018-05-24 18:34] mike-urnun-msft commented on #9126
Hey @chlsmith  - Please refer to following documentation for such an example: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#set-up-an-http-endpoint-for-your-logic-app

I hope this helps!

[2018-05-24 18:40] jason-j-MSFT commented on #8681
@wesmc7777 could you take a look at this?

[2018-05-24 18:49] MrRoyce opened #9142 "Fails to install Yarn"
I'm trying to install the setup package on Windows 10.  It is throwing the following message:

Copying files...
58 File(s) copied
3 File(s) copied
Installing Node packages ...
Error occurred when running yarn install

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independe

[2018-05-24 18:54] MrRoyce opened #9143 "and yes, I ran the install.cmd as administrator"
I ran the install.cmd as administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to cloud: Connect IoT DevKit AZ3166 to Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ar

[2018-05-24 19:00] teemumantymaki opened #9144 "ubuntu keeps asking me password.."
what ever I do, mac terminal, cli, cloudshell it keeps asking me passowrd.

I have read all of this documents and comments and still nothing.

does it matter if our domain services are in different vnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b5

[2018-05-24 19:02] conceptdev commented on #9051
The .NET Standard update has been approved and should be merged soon (at which point, it will be very easy to manually update to Xamarin.Forms 3.0 after downloading).

The template will be updated to Xamarin.Forms 3.0 soon after the .NET Standard change goes live.

#please-close

[2018-05-24 19:05] davelee212 opened #9145 "$subnetIndex not set"
In step 5 "Set the Network Settings", the example makes use of variable $subnetIndex but this isn't set anywhere so throws an error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-8ce5-9ba6-8df7-58ab0b89dd5c
* Content: [Deploy and manage backups for

[2018-05-24 19:06] vasivara-MSFT commented on #9130
@Yliche Yes. That is true and in that case, you have to use azure blob storage. That being said, All stored data are encrypted and you can find out more about security on storage [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-security-guide).

[2018-05-24 19:10] joymon opened #9146 "Is there any way to pass spark.yarn.maxAppAttempts through Livy"
Spark-Submit supports the parameter spark.yarn.maxAppAttempts. Does the Livy support this parameter? If so could you please let me know what is the livy parameter name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4472f8f1-7879-22cc-9c8d-5ccca7f0358a
* Version Independent ID: 19443dd3-1562-c748-2cc4-7e19b3aa01f4
* Co

[2018-05-24 19:14] tompostler opened #9147 "RuntimeStatus documentation is incomplete"
While developing some Durable Functions, I noticed that the `RuntimeStatus` was returned as `Pending`. This is inconsistent with the documentation on possible values for `RuntimeStatus`. Furthermore, it appears there could also be a `Canceled` state [according to the source](https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/OrchestrationRunti

[2018-05-24 19:16] Yliche commented on #9130
There are multiple concerns with azure blob storage.

For example, it's extremely easy for someone to flip a container to public access...in which case you would immediately have to report a data breach. This is exactly how all of AWS data breachs have occurred I believe.

Also, you could try to mitigate that with the firewall settings but the firewall settings aren't the same as every other azure

[2018-05-24 19:22] anirugu commented on #9104
yes, done, thanks

[2018-05-24 19:24] jamma27 opened #9148 "Typo"
hi -- need to check the word Prompted -- it's misspelled in Create a new Azure AD tenant paragraph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f450-1302-5ffe491ca129
* Version Independent ID: 0d96d50d-a349-3408-3b93-d8b084e1cbd1
* Content: [How to get an Azure AD tenant](https://docs.microsoft.com/en-u

[2018-05-24 19:28] TomCJones opened #9149 "content of page does not agree with portal - i don't see Monitoring + Managment anywhere"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-24 19:30] CelesteDG commented on #9148
Hello @jamma27 - Thank you very much for your feedback and good catch. We appreciate it.

If you spot any other typo(s) in future, please feel free to click the **Edit** button on the top right-hand side of each page. It will bring you to a page in GitHub and you can edit that page to suggest a fix. We'll get notifications and we can accept your change and you get credited for the contribution.

[2018-05-24 19:31] SaurabhSharma-MSFT commented on #9000
@leopignataro Yes..  I got it. I have assigned this issue to author to update the documentation.
@msmbaldwin Can you please help updating the document.

[2018-05-24 19:32] CHDAFNI-MSFT opened #9150 "Wrong title or article"
Per the table of contents, this is supposed to be a document for "Scale out process servers for VMware replication"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a91be1-6427-42a3-91fd-8959927d967c
* Version Independent ID: 0c61e618-e466-57c7-7bf8-2e8e756e50f4
* Content: [Set up a process server in Azure for VMware V

[2018-05-24 19:35] #9087 closed

[2018-05-24 19:39] SimonLuckenuik opened #9152 "Provide more accurate information about versioning for in-flight instances"
I consider this topic has being very important, easy to forget and tricky to debug, so I would like to have more information to prevent any issues. By reading the document, it sounds that once you go in Production with your code, it should not change at all since any small logic change is breaking for the replay. My remarks are around the fact that I don't want to lose data and keep my in-fligh in

[2018-05-24 19:46] kobulloc-MSFT commented on #9016
@NigelbrownIBM We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-24 19:46] #9016 closed

[2018-05-24 19:47] kobulloc-MSFT commented on #8427
@spelltwister We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-24 19:47] #8427 closed

[2018-05-24 19:50] banisadr commented on #9099
@toruita I'm no longer working on Service Bus, I believe @sethmanheim is the content owner for the team.

[2018-05-24 19:50] tdykstra commented on #9030
@lordcheeto Can we close this issue since the work is being tracked by https://github.com/Azure/azure-functions-host/issues/2890 ?

[2018-05-24 19:51] tdykstra commented on #8488
@bob53050  Did that answer your question -- can we close this issue?

[2018-05-24 19:52] tdykstra commented on #8413
@koolkarni Can we close this issue?

[2018-05-24 19:54] tdykstra commented on #8406
@paulmarshall Any reason not to go ahead and close this issue?

[2018-05-24 19:56] MohitGargMSFT commented on #8776
@cabtilx If you have premium license you can enable trusted IP addresses feature and that will be enabled at tenant level. So all the users in the tenant will be able to use the feature. However, as per license agreements you must use the MFA related premium feature for set number of users and premium license can be assigned to those number of users. In case you want to use the MFA premium feature

[2018-05-24 19:57] MicahMcKittrick-MSFT commented on #9041
@rahulguha were you running this in the cloud shell or on a local machine using Azure CLI? Also, do you have more than one subscription?

[2018-05-24 19:58] sethmanheim commented on #9099
@toruita I believe that statement is referring to the section below it, "Operational logs schema."

[2018-05-24 19:58] vasivara-MSFT commented on #9130
I totally understand your concern and we take security very seriously. With that being said, you could also post your feature request [here ](https://feedback.azure.com/forums/270578-data-factory) and depending on votes(Popular request) for this feature and importance, the team will try to prioritize and implement it.

[2018-05-24 19:58] nitinme commented on #8945
@smoms - You're welcome

@vasivara-MSFT - Please close this issue.

[2018-05-24 19:59] nitinme commented on #7525
@jason-j-MSFT Please close this issue

[2018-05-24 19:59] #8945 closed

[2018-05-24 19:59] nitinme commented on #8177
@vasivara-MSFT - Please close this issue

[2018-05-24 20:01] MicahMcKittrick-MSFT commented on #9121
@hadr10 at this step in the document are you getting this error?

[2018-05-24 20:03] YutongTie-MSFT commented on #9129
@dem108 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-24 20:05] gramidt opened #9153 "Using <TENANT_ID>.b2clogin.com support?"
Will <TENANT_ID>.b2clogin.com be supported in addition to <TENANT_NAME>.b2clogin.com? We're currently using our directory to whitelabel our product and accomplish it by using our TENANT_ID where the TENANT_NAME would normally be.

If not, can we please make sure this is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-05-24 20:08] alexmarshall132 opened #9154 "Missing documentation about query types"
Can you please update this documentation to indicate how to enable / make use of cross-partition querying ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cac5a8-aa7f-8aba-d47e-e78249efa031
* Version Independent ID: 09c34890-b4f0-be28-9813-bb8066631f6f
* Content: [Copy data to/from Azure Cosmos DB using Data Factory]

[2018-05-24 20:11] TuroczyX commented on #8885
Thanks @SaurabhSharma-MSFT ! It works properly!

[2018-05-24 20:13] YutongTie-MSFT commented on #9114
@dorcohen8 Hi, in video indexer, we have speaker indexing function. Video Indexer has the ability to map and understand which speaker spoke which words and when. Thanks!

[2018-05-24 20:17] JeremyTBradshaw commented on #9007
Thanks for confirming.  I also have successfully tested the ActiveSync CA policy since, and in an environment with ADFS - worked perfectly.  It seemed to take overnight to finally start working, so at first when it wasn't working I started wondering if it is one or the other.

[2018-05-24 20:17] #9007 closed

[2018-05-24 20:18] YutongTie-MSFT commented on #9103
@faraazc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this should be a doc-bug, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-24 20:30] vasivara-MSFT commented on #8177
@djpirra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 20:30] #8177 closed

[2018-05-24 20:30] larryms opened #9157 "Sections on Azure managed disks don't seem relevant"
This document is titled 'Securing PaaS web and mobile applications using Azure Storage', but in two sections, it refers to Azure managed disks.

The first section, "Use managed disks for VMs", does not seem relevant at all given the security context of the article.

The second section, "Azure Disk Encryption for VMs", is relevant to the security context of the article, but doesn't seem relevant gi

[2018-05-24 20:31] koolkarni commented on #8413
Sure thanks

On Thu, May 24, 2018, 12:52 PM Tom Dykstra <notifications@github.com> wrote:

[2018-05-24 20:33] Yliche commented on #9130
I actually have done this already. Thanks.

[2018-05-24 20:35] vasivara-MSFT commented on #9130
@Yliche We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 20:35] #9130 closed

[2018-05-24 20:39] kobulloc-MSFT commented on #9105
@JanaAbhijit I wasn't able to get this to work on my first attempt either.  It turns out that the JS and CSS links are valid (and are the same used in the quickstart, which I was successfully able to get working), but there are some additional lines needed to get this to render (highlighted in blue below):

![image](https://user-images.githubusercontent.com/37556655/40512417-a5e439aa-5f57-11e8-9ce

[2018-05-24 20:40] alexgman opened #9159 "is there an on-prem version of this post? what do we do if our cluster is not hosted in azure?"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b235917b-dc5a-096c-9251-cabe49a57efd
* Version Independent ID: d71864c9-fd57-55ca-f096-720a9a61fd7f
* Content: [Azure Service Fabric Monitoring and Diagnostics Overview](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-overview)
* Content

[2018-05-24 20:46] srrengar commented on #9159
Hi @alexgman we are working on publishing guidance for standalone clusters. In the mean time @dkkapur can you provide general guidance for standalone monitoring and diagnostics?

[2018-05-24 20:46] galabriel commented on #5621
Hi jason-j-MSFT, I am having the same issue, how did you solve it?

[2018-05-24 20:48] femsulu commented on #9003
@sancheza, to clarify, the issue is not with the single quotes but rather an issue was caused by a malformed quote due to a copy/paste prior to publishing the doc. Again this is being fixed along with some other minor updates and the fix will be completely pushed out soon. @DCtheGeek or myself will update this thread once all the fixes are live. Thanks for your patience.

[2018-05-24 20:56] TravisCragg-MSFT commented on #9062
@johnkwaters it definitely seems that the [authorize] is having an issue. have you reviewed the[ Azure Signalr Tutorial on Authenticating using OAuth](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-authenticate-oauth)?

[2018-05-24 21:10] Powerhelmsman opened #9160 "Broken link in DevTest Labs docs"
In the DevTest Labs docs page (https://docs.microsoft.com/en-us/azure/devtest-lab/), the link to 'Get Started creating VM artifacts with Azure DevTest Labs' is broken (leads to a 404)

This issue is transferred from https://github.com/MicrosoftDocs/feedback/issues/6

[2018-05-24 21:20] iainfoulds commented on #9074
@MicahMcKittrick-MSFT I can't replicate this, can you? The location of the cloud-init file shouldn't make a difference. The steps in the doc and the cloud-init file are correct.

[2018-05-24 21:28] KevinXTian opened #9161 "Debug C# Script Locally"
Is C# Script debug supported locally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Develop and run Azure functions locally](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local)
* Cont

[2018-05-24 21:38] iainfoulds commented on #8330
Sorry you ran into issues, @kasunsjc . As the error message states, when multiple NICs are connected to a VM instance, they cannot connect to different virtual networks. Different subnets, within the same virtual network, are fine.

I've created a PR to update the doc to make this limitation clear.

[2018-05-24 21:42] #8488 closed

[2018-05-24 21:48] johnkwaters commented on #9062
Yes, I reviewed that. It uses a different auth scheme and includes cookies, I am using Jwt.

J

From: TravisCragg-MSFT <notifications@github.com>
Sent: Thursday, May 24, 2018 1:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Waters <john.waters@cto4hire.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Do not receive OnConnected and OnDi

[2018-05-24 21:50] TravisCragg-MSFT commented on #9062
@wesmc7777 can you provide any insight on this?

[2018-05-24 21:53] LionOfJewdah opened #9162 "faces API image vs. payload discrepency"
The image doesn't match the payload, which should be
```[ { "age": 29, "gender": "Female", "faceRectangle": { "left": 447, "top": 195, "width": 162, "height": 162 } }, { "age": 11, "gender": "Female", "faceRectangle": { "left": 355, "top": 87, "width": 143, "height": 143 } } ]```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-24 21:56] TravisCragg-MSFT commented on #9106
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@vincepower If you come across any pages that still contain references to the old portal, you can raise an Issue and we will notify the content authors.

[2018-05-24 21:57] TravisCragg-MSFT commented on #9107
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:00] TravisCragg-MSFT commented on #9108
@jacob-j Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:00] KellyDF commented on #9162
Hi I'm the Product Manager for Computer Vision API. Thanks for your feedback.

Can you share some more information? What is the discrepancy you are seeing? I see you are calling the face feature of the Computer Vision API. What are you seeing that you don't expect to?

[2018-05-24 22:00] TravisCragg-MSFT commented on #9109
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:02] tamram commented on #9120
@sebader - We have an article that shows how to use Azure AD from storage with an MSI:

https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi

Does this sufficiently address the scenario? We point to the MSI docs to describe how to get the token.

[2018-05-24 22:02] TravisCragg-MSFT commented on #9112
@pnotenb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:03] TravisCragg-MSFT commented on #9117
@JamesTStanley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:05] TravisCragg-MSFT commented on #9124
@richardcox13 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-24 22:06] MicahMcKittrick-MSFT commented on #9161
@KevinXTian Thanks for the question! We are investigating and will update you shortly.

[2018-05-24 22:08] MicahMcKittrick-MSFT commented on #9152
@SimonLuckenuik Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-24 22:09] MicahMcKittrick-MSFT commented on #9147
@tompostler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-24 22:09] TravisCragg-MSFT commented on #9125
@cezane Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:10] MicahMcKittrick-MSFT commented on #9144
@teemumantymaki Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-24 22:11] MicahMcKittrick-MSFT commented on #9141
@msLinuxNinja Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-24 22:11] TravisCragg-MSFT commented on #9154
@alexmarshall132 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:13] MicahMcKittrick-MSFT commented on #9137
@RanteCorp thanks for reaching out. If you have an issue please open a new problem.

[2018-05-24 22:14] TravisCragg-MSFT commented on #9160
@Powerhelmsman the link you provided is not valid. Can you please send me the page that you are referring to?

[2018-05-24 22:14] TravisCragg-MSFT commented on #9153
@gramidt can you please link the page you are referring to?

[2018-05-24 22:15] vasivara-MSFT commented on #9146
@joymon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 22:15] TravisCragg-MSFT commented on #9149
@TomCJones  can you please post a link to the documentation page you are referring to?

[2018-05-24 22:17] wesmc7777 commented on #9062
@johnkwaters, @TravisCragg-MSFT: Is this a duplicate of the same issue we are looking into here? [https://github.com/aspnet/AzureSignalR-samples/issues/15](https://github.com/aspnet/AzureSignalR-samples/issues/15)

[2018-05-24 22:18] TravisCragg-MSFT commented on #9143
Duplicate of #9142

[2018-05-24 22:18] #9143 closed

[2018-05-24 22:19] LionOfJewdah commented on #9162
Yes hi, I'm a new SWE intern at Microsoft in the Universal Store team (and
haven't yet figured out how to sign into GitHub with my MS account--which
also means it's using my school email for feedback on MSDN apparently.) If
you'd prefer, you could email me directly at t-dasilv@microsoft.com. The
issue in the document is that the image is annotated with an 11 year old
girl and a 29 year old woman,

[2018-05-24 22:20] PatAltimore commented on #9063
@HowardEdidin Thanks for the feedback. I published an update to add the missing classes. https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-messages-overview#classes-used-by-message-types

This should give you the information you need. I'm going to request the issue be closed. If you have additional feedback about the issue, you can reopen it.

Thanks, Pat

#please-cl

[2018-05-24 22:21] MicahMcKittrick-MSFT commented on #9144
@teemumantymaki I am not sure if this is setup to be used with Azure AD and Domain Services.

@iainfoulds could you verify?

[2018-05-24 22:24] rifuller opened #9164 "How do I process messages off an event hub?"
I'm confused by this doc page.  There's a lot of code samples but not simple instructions for how to create the function so you can actually start to write code.  I'm on the Azure portal trying to create a function that can process messages posted to an event hub.  How do I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-05-24 22:27] KevinXTian commented on #9161
Will that work for the C# Script (.csx)?

[2018-05-24 22:28] #9164 closed

[2018-05-24 22:28] LionOfJewdah commented on #9162
Oh, the image didn't upload in gmail. Here's the screenshot:

<img width="656" alt="capture" src="https://user-images.githubusercontent.com/19232265/40516781-1efa0fea-5f67-11e8-8625-2a30f52b043a.PNG">

[2018-05-24 22:28] rifuller commented on #9164
Disregard.  I found a different create function page that has event hub trigger as an option.

[2018-05-24 22:28] furmangg commented on #5621
My approach was to use an Lookup activity against an HTTP linked service:
https://github.com/furmangg/automating-azure-analysis-services/blob/master/README.md#adfv2

See the ProcessAzureAS sample there.

[2018-05-24 22:30] SyntaxC4 commented on #9061
@MicrosoftDocs/azure-cxp-triage Can  you assign this to @ecfan?

[2018-05-24 22:31] SyntaxC4 commented on #8596
@MicrosoftDocs/azure-cxp-triage Can you please assign to @dksimpson?

[2018-05-24 22:33] TravisCragg-MSFT commented on #9062
@wesmc7777 I believe it is.

@johnkwaters You are much better off following up on the original thread. If you would like to get some different directions on where to go, you might want to try the MSDN forums or StackOverflow.

[2018-05-24 22:34] TravisCragg-MSFT commented on #9063
@HowardEdidin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-24 22:34] #9063 closed

[2018-05-24 22:38] wesmc7777 commented on #9062
Yes, I don't have any insight beyond what is already being investigated. I'll follow the [issue against the AzureSignalR-samples repo](https://github.com/aspnet/AzureSignalR-samples/issues/15) to see if I can provide any further insight and if this may have any impact on current or future docs for this service.

[2018-05-24 22:38] tfitzmac commented on #9112
@pnotenb - thanks for this feedback. I submitted a change to remove "By default," and clarify that Event Grid will stop attempting to deliver the event after 24 hours.

[2018-05-24 22:39] tfitzmac commented on #9055
@jhgbrt - the topic was updated with a new event viewer app.

[2018-05-24 22:39] tfitzmac commented on #9055
#please-close

[2018-05-24 22:41] tfitzmac commented on #8979
@WiktorJagusiak - the update to the PowerShell article will get published tomorrow morning. In the meantime, you can look at the CLI version for the new event viewer app - [Create and route custom events with Azure CLI and Event Grid](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart).

[2018-05-24 22:41] tfitzmac commented on #8979
#please-close

[2018-05-24 22:44] iainfoulds commented on #9144
@MicahMcKittrick-MSFT Correct, this is separate from joining a Linux VM to an Azure Active Directory Domain Services managed domain. This extension allows a user to natively log in using Azure Active Directory credentials, not domain-join the Linux VM itself.

For additional information on performing a domain join instead, there are docs for [Ubuntu](https://docs.microsoft.com/azure/active-directo

[2018-05-24 22:44] ratchetwrench opened #9165 "Pandas DataFrame to Table"
How would I write a Pandas DataFrame to table storage?

[code]
Does not seem to work:
AzureHttpError: Bad Request
{"odata.error":{"code":"PropertyNameInvalid","message":{"lang":"en-US","value":"The property name is invalid.\nRequestId:0a290785-6002-00b4-69ad-f3746a000000\nTime:2018-05-24T22:19:20.9543727Z"}}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-05-24 22:45] SyntaxC4 commented on #8136
@BryanTrach-MSFT Yes please. Also ping @ccompy and @Jen7714

[2018-05-24 22:47] MicahMcKittrick-MSFT commented on #9144
Thanks for confirming @iainfoulds!

@teemumantymaki please take a look at the above reference for more information. If you have issues joining the native AAD let us know. I will close this for now but feel free to reopen and we can continue if you have additional queries.

[2018-05-24 22:47] #9144 closed

[2018-05-24 22:48] SyntaxC4 commented on #7875
@ggailey777 Can you check to see where this can land on a sprint?

[2018-05-24 22:49] #9058 closed

[2018-05-24 22:55] douglaslMS commented on #6976
#in-progress

[2018-05-24 22:55] iainfoulds commented on #9041
The Azure CLI 2.0 may have chosen SKUs that aren't available in a given region - the Azure Pass and Azure Free account do have a some limitations on core counts and capacity that's hard to then line up in docs. The portal should show what's available for your subscription, so I'm glad you were able to create a VM there. It also sounds like the rest of the LAMP install was successful.

If you have

[2018-05-24 23:02] banisadr commented on #8959
Hi @tyrotoxin - feedback received and totally agreed, this is does make life a little more difficult at scale. I've added a backlog item for us to add header fields to address this issue.

[2018-05-24 23:04] Adam-Smith-MSFT commented on #9145
@davelee212 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 23:05] Adam-Smith-MSFT commented on #9150
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-24 23:05] tfitzmac commented on #9058
@KevinXTian - thanks for this feedback. I added some more details to the article to clarify that you can get to subscription metrics two ways. I added the way you suggested but it doesn't work for all event sources. So, I clarified the steps for the other way too.

It should get published tomorrow morning.

[2018-05-24 23:09] Mike-Ubezzi-MSFT commented on #9055
@jhgbrt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 23:09] #9055 closed

[2018-05-24 23:14] kgremban commented on #8529
@mike-urnun-msft could you #please-close this issue.

[2018-05-24 23:15] johnkwaters commented on #9062
Yes this is the same issue as the other thread, which has come a little further.

[2018-05-24 23:16] banisadr commented on #6730
@kpstolk, we do have a backlog item to address this for the very purpose you have called out. In the interest of full transparency, enabling custom batch semantics on a per-endpoint basis at scale is a non-trivial item for us to implement which is why we don't have it yet. That said, we have intended to add this from the very beginning which is why we deliver in a batch of 1 today (don't want to b

[2018-05-24 23:25] mike-urnun-msft commented on #9126
@chlsmith We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-24 23:25] #9126 closed

[2018-05-24 23:27] gregmalley opened #9166 "the server could not find the requested resource (get pods.metrics.k8s.io)"
I have the same problem as issue #9121: failed to get cpu utilization: unable to get metrics for resource cpu: unable to fetch metrics from API: the server could not find the requested resource (get pods.metrics.k8s.io)

[2018-05-24 23:28] YutongTie-MSFT commented on #9139
@K55Cris Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-24 23:29] femsulu commented on #9128
@dankellett  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-24 23:32] femsulu commented on #9133
@toddrob Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-24 23:33] Mike-Ubezzi-MSFT commented on #8723
@nuiwos After going through this tutorial (setting up a Linux based Docker IoT-Edge option), I was successful in deploying the solution and viewing events in Visual Studio.

`C:\Users\miubezzi\projects\IoT_ML>az ml env show -g miubezzi-iot -n miubezzi
{
  "Cluster Name": "miubezzi",
  "Cluster Size": "N/A",
  "Created On": "2018-05-24T22:01:05.6729999999999999Z",
  "Location": "eastus2",
  "Provis

[2018-05-24 23:33] SaurabhSharma-MSFT commented on #9157
@larryms Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-24 23:34] femsulu commented on #9138
@Davilink Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-24 23:39] YutongTie-MSFT commented on #9162
@LionOfJewdah Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-24 23:41] Mike-Ubezzi-MSFT commented on #8726
@israels Did you deploy an Azure Linux VM or did you set-up the IoT Edge modules/runtime on a Linux host running in the same LAN environment as your Win10 host? I was successful setting up the tempSensor IoT Edge tutorial using an Azure Linux VM. I will walk through the Windows option tomorrow.

What is super helpful is if you run the following command `docker logs -f tempSensor` to see what the l

[2018-05-24 23:41] Powerhelmsman commented on #9160
@TravisCragg-MSFT This is from anonymous user through User Voice. So I can't contact to user and provide the detail. If the link is not valid. I suggest to close it so far.

[2018-05-24 23:43] TravisCragg-MSFT commented on #9160
@Powerhelmsman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-24 23:43] #9160 closed

[2018-05-24 23:53] Mike-Ubezzi-MSFT commented on #9165
@ratchetwrench Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-25 00:08] Mike-Ubezzi-MSFT commented on #8846
@turbolego There are a couple steps in the below section that are important to ensure the device is connected and running:

1. Make sure you have the correct connection string.
2. Make sure the `node ConnectedAirConditioner.js` command is run in the correct folder/directory.

[Configure client code for real device](https://docs.microsoft.com/en-us/azure/iot-central/tutorial-add-device#configure-cl

[2018-05-25 00:18] KevinXTian opened #9168 "Event Grid Trigger Endpoint"
Could you please update the document to specify that the event grid trigger endpoint should be http://localhost:7071/admin/extensions/EventGridExtensionConfig?functionName={functionname} according to https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#manually-post-the-request? Both of the HTTP and webhook triggered functions endpoint and Non-HTTP triggered functio

[2018-05-25 00:19] tfitzmac commented on #7701
#please-close

[2018-05-25 00:19] tfitzmac commented on #7650
#please-close

[2018-05-25 00:47] mzhukovs commented on #9051
Thanks for the responsiveness @conceptdev

[2018-05-25 00:47] #9051 closed

[2018-05-25 01:02] conceptdev commented on #8379
Hi @eschrader, we are in the process of updating these docs, since the preferred code-sharing mechanism is now .NET Standard over PCLs, and we wish to reflect this in the docs and samples.

Regarding the App Service Mobile Apps technology, not a lot has changed in the past two years - it's open source, so you can check out the source code [linked from here](https://github.com/Azure/azure-mobile-ap

[2018-05-25 01:08] gramidt commented on #9153
Sure thing, @TravisCragg-MSFT!

https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

[2018-05-25 01:08] #8979 closed

[2018-05-25 01:10] eschrader commented on #8379
Aah,  I see. I am looking for the Azure PaaS app tutorials so I can build an app using the latest architecture and services provided by Azure. Thanks for working on this.

Sent via the Samsung Galaxy S7 active, an AT&T 4G LTE smartphone

-------- Original message --------
From: Craig Dunn <notifications@github.com>
Date: 5/24/18 6:02 PM (GMT-08:00)
To: MicrosoftDocs/azure-docs <azure-docs@noreply.

[2018-05-25 01:36] Tiano2017 commented on #8905
@tfitzmac right that's something to add in root shema. we'll take a look at it later.

[2018-05-25 01:54] hughobrienjet opened #9171 "transaction cost discrepancy"
The rate of $0.0036 per 100,000 transactions is out of sync with the rate of $0.0005 per 10,000 transactions on this page: https://azure.microsoft.com/en-gb/pricing/details/managed-disks/

Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e4ed29-a7ca-55fe-b867-cff017e0bba8
* Version Independent ID: 1a2

[2018-05-25 01:57] GrantMeStrength opened #9172 "Dry Run means no files created"
The ‘ng new’ command won’t create any files, as you’ve included -d

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b1a797d-d242-ed0e-2bd0-0384c6cbea25
* Version Independent ID: 4d14019b-207a-5567-1b00-b8dfc78b0476
* Content: [MongoDB, Angular, and Node tutorial for Azure - Part 2](https://docs.microsoft.com/en-us/azure

[2018-05-25 02:11] masters3d opened #9173 "Can you add REST API documentation to manage roles"
I am trying to figure out a way to do this from the REST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5624f3e-5fbf-6f0f-93cf-a4d5aa93ccf8
* Version Independent ID: 9ca6d22b-e684-4e65-cab3-c272189a3ddc
* Content: [Add or change Azure admin subscription roles](https://docs.microsoft.com/en-us/azure/billing/billing-add

[2018-05-25 02:15] JanaAbhijit commented on #9105
@kobulloc-MSFT  Thank you for reverting back.  However for me, problem is remain same.  I took the above snippet mentioned, with updated Key. When I run it, I get a blank screen and console shows same JS undefined error - atlas.  Wondering, if this is something could be related with location ?

![error](https://user-images.githubusercontent.com/12181773/40522628-79550d9a-5fef-11e8-838b-3258289f283

[2018-05-25 02:48] MicahMcKittrick-MSFT commented on #9164
@rifuller thanks for the update!

[2018-05-25 02:49] MicahMcKittrick-MSFT commented on #9168
@KevinXTian Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-25 02:51] MicahMcKittrick-MSFT commented on #9171
@hughobrienjet thanks for the feedback! I believe the pricing page is correct. However I am assigning this to the doc author to verify and if needed update the doc.

@yuemlu can you take a look?

[2018-05-25 02:53] MicahMcKittrick-MSFT commented on #9166
@gregmalley please continue to work off the orgional issue you opened. I have requested more information from you on that issue.

Duplicate of #9121

[2018-05-25 02:53] #9166 closed

[2018-05-25 03:12] GrantMeStrength opened #9175 "Heroes.component.html"
This file seems to be created already, so can skip these steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 435b849c-e5df-bcdf-44df-ec053cf1368f
* Version Independent ID: 918ebbe6-ec72-bca2-f514-8a1d1c60f906
* Content: [MongoDB, Angular, and Node tutorial for Azure - Part 3](https://docs.microsoft.com/en-us/azure/co

[2018-05-25 03:19] GrantMeStrength opened #9176 "src/client/styles.scss"
This file was created in src/styles.scss - no client directory was created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 435b849c-e5df-bcdf-44df-ec053cf1368f
* Version Independent ID: 918ebbe6-ec72-bca2-f514-8a1d1c60f906
* Content: [MongoDB, Angular, and Node tutorial for Azure - Part 3](https://docs.microsoft.com/en

[2018-05-25 03:39] t-khanh opened #9177 "Node and Application not show on Azure Service Fabric portal when change port in load balancer rule"
Someone could help me for this issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218506d1-caba-0633-ecaa-b92cf58cbc9b
* Version Independent ID: 9e31487a-71a3-4093-10f9-ebad85e609d8
* Content: [Create an Azure Service Fabric container application on Linux](https://docs.microsoft.com/en-us/azure/service-fabric/servi

[2018-05-25 03:51] GrantMeStrength opened #9178 "Display the component and Create the Service"
The ‘Display the component’ section  refers to a template which was already created.

The ‘Create the service’ section differs from my code, where hero.component and hero.service seem mixed up.

Running the sample from VSCode produces an error, but ng serve at least displays a webpage, albeit without any Here information displayed, only the Hero header.

I’m using WSL and the current version of no

[2018-05-25 04:10] gregmalley commented on #9166
I solved this by deploying the kubernetes metrics sever into my cluster. The latest version of kubernetes that is deployed by default in azure did not have it included. See: https://github.com/Azure/AKS/issues/318

[2018-05-25 04:12] Juliako commented on #5827
Made a small update in this commit https://github.com/MicrosoftDocs/azure-docs/commit/54ac4676e4b34f3dd70a418405882f07581522f7#diff-489a0b79b3ab822a1dfcada083498724
Let me know if you think I should add something else to make it clearer.

[2018-05-25 04:12] Juliako commented on #5827
#please-close

[2018-05-25 04:15] Supraconductor opened #9179 "missing some imports for sample to run"
Thanks for this sample. I tried it and found that some imports are missing - no big deal, but just to avoid people to search for it:

import cv2
from PIL import Image
import numpy as np

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-

[2018-05-25 04:19] Juliako commented on #6278
Any further upload would simply fail.

[2018-05-25 04:19] Juliako commented on #6278
#please-close

[2018-05-25 04:49] areddish commented on #9179
@Supraconductor Thanks for the feedback! I'll get it updated to include the imports.

[2018-05-25 05:00] kobulloc-MSFT commented on #9105
@JanaAbhijit That is odd.  I can confirm that it works for me (Washington, United States) in spite of an error about the location (Uncaught Error: Invalid LngLat latitude value: must be between -90 and 90).  My best guess is that what you are seeing has something to do with your location.  Do you mind if I ask where you are?

@kgremban Are you aware of anything that would prevent this from working

[2018-05-25 05:03] kobulloc-MSFT commented on #9140
@tobiasb That's a good question.  We are looking into customizing the developer's portal home page and will get back to you shortly.

[2018-05-25 05:05] #9179 closed

[2018-05-25 05:27] kasunsjc opened #9180 "vNet Peering Limitation"
Hi Guys,
Its very useful if its possible to add limitations of vNet Peering.
As an example when we peered a vNet peered vNet cant create a gateway & etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure V

[2018-05-25 05:37] classaction commented on #6349
This is still an issue (2 months after it was opened). Please fix your documentation.

[2018-05-25 05:52] JanaAbhijit commented on #9105
@kobulloc-MSFT  - I am accessing this from India. I did a quick web availability test through Application Insights, and seems like it is working fine across all region, but  I could not test it with any Asia / India specific region.  But seems like it could be a specific region related issues which needs to be fixed.

[2018-05-25 05:58] vishalkhatal commented on #9105
@kobulloc-MSFT @kgremban  - I have created a Virtual Machine in East US location and try to run the above code. It works successfully. But when I tried to run the same code from India location, It is giving me an error saying "atlas is not defined".

Could you pls create a VM in India location and try to see if it works at your end or not? Because it seems like following URLs are not accessible fr

[2018-05-25 06:07] hadr10 commented on #9121
I set autoscale as you write here (kubectl autoscale deployment azure-vote-front --cpu-percent=50 --min=3 --max=10) but nothing happens after one hour, so I tried to investigate problem. When I run command kubectl describe hpa I get this error. This error message I can see also in dashboard for pods

[2018-05-25 06:14] wesmc7777 commented on #8909
If a server goes down, all clients connected to that server will be disconnected (though there is no physical connection between client and server, we still have a “logical” concept of connection between them). The clients need to reconnect and be routed a good server. So a reconnect approach is needed.

[2018-05-25 06:18] TravisCragg-MSFT commented on #9153
@gramidt Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-25 06:29] TravisCragg-MSFT commented on #9177
@t-khanh  could you please send me a link to the document you are referring to?

[2018-05-25 07:01] sebader commented on #9120
I just figured it might be good to have one complete example together. But your decision if you don't want to blow up this doc page :)

[2018-05-25 07:03] teemumantymaki commented on #9144
Hi,

this Ubuntu is fresh install, and NOT joined to a domain. I was just wondering, if it should be, but seems not.

[2018-05-25 07:03] sebader opened #9183 "Nuget package version is not -preview"
The article mentions Nuget package "WindowsAzure.Storage/9.2.0-Preview". But when looking it up on Nuget, the package is not marked as "-preview", but as (stable) 9.2.0: https://www.nuget.org/packages/WindowsAzure.Storage/9.2.0
Not sure if the doc is wrong or if the package should indeed be still marked as -preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-05-25 07:19] navilwayne opened #9184 "Support for MQTT protocol devices"
- Our devices are sending data to IoT Hub using MQTT protocol.
- Our IoT Hub deployed on East US region & using S1 with 5 units.
- Now we want to implement HA & DR for IoT Hub solution, how we can achieve via MQTT protocol on device side.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6874376-9df5-65b7-6908-eaaba67992

[2018-05-25 07:31] #9112 closed

[2018-05-25 07:32] vinaykumar-rm commented on #9119
i just want to down full function app.

On Fri, May 25, 2018 at 1:30 AM, Micah <notifications@github.com> wrote:

[2018-05-25 07:42] SnehaGunda commented on #9081
@AndriyGorda when you say basic plan are you referring to Try Azure Cosmos DB accounts? this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/faq#try-azure-cosmos-db-subscriptions calls out that support tickets can't be created with try Cosmos DB for free accounts. Let me know if that doesn't help or if you are looking for something different.

[2018-05-25 07:51] algattik opened #9186 "distcp and impact of checksums?"
It is written that distcp supports copying deltas. However distcp with "-update" option will compute checksums, which means streaming the entire content of the ADLS in the secondary region into Hadoop in the primary region every time the command is run. This appears to be unfeasible at scale? Is any best practice available?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-25 07:54] sariyandath commented on #8994
@

[2018-05-25 08:07] lordcheeto commented on #9030
Yeah, I'll close the issue.

[2018-05-25 08:07] #9030 closed

[2018-05-25 08:09] kpstolk commented on #6730
@banisadr Thanks for the update!
I was already experimenting with option 1 so I think for the time being we will try to go that way. Hopefully at some point we can replace it with just Event Grid when batching is available.

FWIW: I created an idea on [Uservoice](https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/34320094-allow-batching-of-events-to-azure-functions) about batchi

[2018-05-25 08:12] kazshi commented on #9033
Thanks for your response.
But I'm still not clear.
"Please file a support ticket with Correlation ID, Request ID and Error code to get more details." - is this really what user should do? I think an error message usually should provide "problem" and "solution (action user to take)". I'm asking because I got a question from a customer about this error code originally, and the customer wants to know

[2018-05-25 08:13] t-khanh commented on #9177
Link:https://docs.microsoft.com/en-us/azure/service-fabric/create-load-balancer-rule

In current, I have an issue as below
- Change load balance rule of Service Fabric then Node and application are not shown on Service Fabric overview tab. And I can not connect to service fabric cluster by port 19080

[2018-05-25 08:14] pwiggers commented on #8967
@tfitzmac The code now works as expected and it makes a lot more sense. Just one more remark about the newly added code, the URL underneath "returned for storage account" ends up in a 404.

[2018-05-25 08:18] DavidJFowler opened #9187 "Update configuration instructions"
The article needs updating to use the Azure portal rather than the deprecated features of the API Management Publisher portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18a8a3ac-153d-90b9-4c66-cc6207eaafac
* Version Independent ID: 35488468-4002-093e-1155-00c7fd063d13
* Content: [Authorize developer accounts by usi

[2018-05-25 08:29] roneto commented on #8827
Hello Markus,

When enforcing a CA policy for all Apps even though you exclude an app (Example ExO) you´ll always be prompt for the challenge you configured on the CA policy because it will need to have access to Ms Graph (Azure AD) as everything relies on Azure AD.  When I say MS Graph I´m not referring to Graph Explorer. For Graph explorer we can do the exclusion for the app in the Azure Portal

[2018-05-25 08:32] rpus opened #9188 "Direct your graph!"
Surely you must add arrowheads to the edges of your sample-graph picture (in order for it to accurately illustrate the relations it models)!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8584b48f-a94a-04b9-b754-7e77974053c2
* Version Independent ID: cab88f8b-b622-5568-64c3-ccae1922b206
* Content: [Introduction to Azur

[2018-05-25 09:11] turbolego commented on #8846
I tried again today without editing the code or anything just to have a screenshot to show you guys that there was an issue, and today it works!

Could it be something on my side? Perhaps i used a bad network connection last time i tried this?
I will be retrying the other examples that resulted in weird connection issues now! Thanks!

![screenshot_64](https://user-images.githubusercontent.com/2650

[2018-05-25 09:21] whataride commented on #8972
@MicahMcKittrick-MSFT Thanks for the suggestion. I haven't tried PowerShell remote session, but I used a python module called paramiko to SSH into the linux VM and run a script. That worked well for me.

[2018-05-25 09:30] #8846 closed

[2018-05-25 10:36] dominicbetts commented on #9125
@cezane - could you give some more background about why you're using the MQTT protocol directly rather than using the IoT Hub SDKs? Thanks!

[2018-05-25 10:36] bottkars commented on #9082
@rfsonders, did you ztry with the metering subscription instead oif the Default one ?
works for me with latest Tools and Tackling the Metering Subs

`if ($Subscription = Get-AzureRmSubscription -SubscriptionName "Metering Subscription")
  {
  Write-Host "Setting Environment to Metering Subscription"
  Select-AzureRmSubscription -Subscription $Subscription
  }

[2018-05-25 10:37] saveenr commented on #8431
We've fixed the documentation. It should be published shortly.

[2018-05-25 10:39] AndriyGorda commented on #9081
Hi Sneha,

No, I'm referring to Azure support plans:

https://azure.microsoft.com/en-us/support/plans/

The issue is that you can NOT restore Cosmos DB database having default
Basic Support plan.

Azure Portal simply does not let you create a support ticket of required
category.

Regards,

Andriy Gorda | Engineering Manager
GlobalLogic
*P* +38.057.766.76.67 e*xt 2637* *M* +38.095.598.30.24   *S* a

[2018-05-25 11:03] csihome opened #9191 "This docs is out of date"
This is misleading developer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bd1414-d29f-fe3b-503f-365692c77ca5
* Version Independent ID: 8627b318-bd95-0176-bfd5-6cb20f661692
* Content: [How to use Azure Service Bus queues with Java](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to

[2018-05-25 11:22] kskvarci opened #9192 "Supported CLI Commands"
The documentation notes "The preview extension adds a new --auth-mode parameter to supported commands:".
Please include details in the documentation surrounding what Azure CLI commands are supported via the storage-preview extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18dcb813-6d62-ea30-4a33-1e350c9380cd
*

[2018-05-25 11:45] msvijayn commented on #8760
API JSON/Swagger spec has been updated via PR [3112](https://github.com/Azure/azure-rest-api-specs/pull/3112)

@abversqr - FYI

[2018-05-25 11:56] ntramaseur opened #9193 "Misleading link"
Looking for details on firewall requirements for Azure Backup (URLs/IPs/Ports) this link looked ideal (https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#what-firewall-rules-should-be-configured-for-azure-backup-br) but I see no firewall rule details mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-25 12:06] kskvarci opened #9194 "Granting access to other integrated services"
Update this document with a note to provide clarity around impact of default deny rule on other services that may integrate with storage. For example, when enabling storage account firewall, logic app integration to the account will break.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a6

[2018-05-25 12:51] mydim opened #9195 "good topic"
very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Database feature comparison](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features)
* Content Source: [articles/sql-dat

[2018-05-25 12:52] dotnetgator commented on #7693
@mattchenderson I don't know if you've followed the discussion at https://github.com/dotnet/corefx/issues/8807#issuecomment-391828577 about this, but I want to be sure they understand the need/priority...some of the conversation has been around "how many upvotes" the missing property gets...my sense is that proper support of MSI's and the pivot effect that has on secret management in Azure goes be

[2018-05-25 13:43] thdotnet opened #9196 "missing class ImageUrl"
This article is missing the code related to the class ImageUrl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f09455f-1fba-636e-ac93-df5baa195331
* Version Independent ID: 3195e796-5415-36f3-50a9-e2dbac846339
* Content: [Azure Content Moderator - Moderate images using .NET](https://docs.microsoft.com/en-us/azure/cogni

[2018-05-25 13:45] sariyandath commented on #8994
@tknandu I sent a mail with the exact conditions and awaiting replay.

[2018-05-25 13:50] SimonLuckenuik opened #9197 "Add warning/note about losing events (WaitForExternalEvent) in the Counter example, if RaiseEventAsync is called while ContinueAsNew is being executed"
Refer to following issue: https://github.com/Azure/azure-functions-durable-extension/issues/67 for more details (no workaround for now). That Counter example should probably be removed since it contains a bug out of the box (approach should not be used!)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25806f05-b46f-d122

[2018-05-25 13:57] sanjeev3 commented on #9196
@thdotnet, thanks for the feedback. Could you please elaborate so I can be sure I am fixing the right problem? Skype call?

[2018-05-25 13:58] ecfan commented on #9061
@daviburg Thanks, David! I created a work item for this issue and will address promptly as this issue blocks customers. Will report back when done.

CC: @SyntaxC4 @BryanTrach-MSFT

[2018-05-25 14:01] locohost opened #9198 "Missing documentation: You need an 11.5 in Web Role steps: Add 2 input controls"
When you press F5 to make sure the page looks correct, it will be missing 2 critical components...

Add 2 input controls, 1 for Customer, another for Product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e588da-fc1e-19bf-51a3-ce1286481c16
* Version Independent ID: 15e22e55-653c-4961-2c89-91ed5ea7787c
* Content: [.N

[2018-05-25 14:01] moojjoo commented on #9071
The problem is resolved - I will be forking the article and try to push some updates for the article on the road blocks I ran into.

[2018-05-25 14:09] SimonLuckenuik commented on #5561
@cgillum, can you confirm that the only impact of [Singleton] is around billing (being charged while waiting for the singleton lock to be released)? I don't mind paying to wait if it provides me with an easy/ready to use Singleton pattern. Otherwise it means, re-implementing the Blob lease approach that was already implemented by Microsoft, documented [here](https://github.com/Azure/azure-webjobs-

[2018-05-25 14:20] cdaniel96 commented on #8513
@jkwon2013, thank you for your answer. My case is something like this. I'm assigned as _subscription owner_ in a partner Directory and I have the "Lab Creator" Role in Azure Lab Services. I'm using a company account and what I see is **"My Virtual machines"** page, instead of **"My Labs"** page. Please, reach me if you get any question :)

[2018-05-25 14:25] dragerz opened #9199 "Update AD FS SSL certificate Missing"
Have version 1.1.819.0, but do not have the option "Update AD FS SSL certificate"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 033dfa5c-5c1d-7306-67b7-4cb2657e6fc5
* Version Independent ID: f2553363-c3a4-2c22-caad-f863d6cb8a5a
* Content: [Azure AD Connect - Update the SSL certificate for an AD FS farm](https://docs.

[2018-05-25 14:32] logicfox opened #9200 "Certificates should be enabled for Signed Responses and Signed Assertions"
The Azure AD SAML integration with Slack works only when Signed Responses and Signed Assertions are enabled. Disabling either of those results in a signature validation error in Slack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919ac673-c2e9-6768-1071-7607c5c6a5c9
* Version Independent ID: 7620fb9f-2085-ab9b-60dd-7

[2018-05-25 14:37] anuragtokhi opened #9201 "Http 500 Status Code needs to be listed"
A recent change now returns HTTP 500 status code when an Orchestration failure occurs. This needs to be listed in in the Response section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf0635e-8f74-f942-2570-f95407193a30
* Version Independent ID: e927ae06-5528-9757-9f3d-65e7520d941e
* Content: [HTTP APIs in Durable Fu

[2018-05-25 14:46] cloudvae commented on #8905
great. Look forward to it. How about the Functions (user defined function recently added)? It is not in the schema. Could you also add it to the root schema?
Thanks.

[2018-05-25 14:58] zhulixuan commented on #8909
Maybe my question is not clear.  Three parties: servers, client and signalr service.  Servers have 2 vms: sa and sb.  Client cc connects to servic ss.
According to your answer,  message from cc is always routed by ss to sa.  My question was: when sa is down, ss automatically route message from cc to sb.
Do you mean cc needs explicitly do a reconnention in this situation?  Would cc detect sa down?

[2018-05-25 15:01] locohost opened #9202 "Missing documentation: No where in tutorial is OnlineOrder Model code defined"
When you get to step 13 in Create Worker Role, you will get an error on the model properties. This is because there is nothing in the documentation on adding code to the OnlineOrder Model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e588da-fc1e-19bf-51a3-ce1286481c16
* Version Independent ID: 15e22e55-653c-4961-2c

[2018-05-25 15:07] dkkapur commented on #9159
@alexgman - the general guidance would be dependent on if your cluster can be connected to the internet or not. In the case that it is offline and cannot be connected, I would recommend the ELK stack. In the case that you can connect your cluster up to the internet, OMS Log Analytics + AI (similar to what we have in the documentation online) becomes a viable option. You can also look at Dynatrace

[2018-05-25 15:21] thdotnet commented on #9196
Sure,
Please add me on Thiago.custodio at hotmail

On Fri, 25 May 2018 at 10:57 Sanjeev Jagtap <notifications@github.com>
wrote:

[2018-05-25 15:25] cshahria opened #9203 "Sign on experience discourages usage"
The daily reminder to enter the email address discourages collaboration in my organization. I am not sure if there is missing SSO or other authentication method applied on our end, but the initial login to a workstation should suffice. I enjoy using the O365 services yet the login and sharing process should be simplified. It could be a configuration issue on my end so any hints are welcome to make

[2018-05-25 15:26] locohost opened #9204 "Missing documentation in OnlineOrder Model does not allow this app to run"
Missing documentation in OnlineOrder Model does not allow this app to run. Put a break in HomeController in Submit(order) and it shows ModelState.IsValid but order is nothing. It has no data from the form so the BrokeredMesssage is loaded with errors. This a not a functioning app with so much missing info in this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-25 15:36] josephge2018 opened #9205 "One Drive Login Screen Change Issue"
Hi, team,
  Your recent changes for One Drive login broke our embedded browser - we got JavaScript exception after we input username (and try to transit to password page). It seems you are using JavaScript Promises that breaks our browser. It is extremely difficult for us to change our browser so we are wondering whether you can roll back your change or avoid using JavaScript promises so that our

[2018-05-25 15:41] #6278 closed

[2018-05-25 15:50] israels commented on #8726
@Mike-Ubezzi-MSFT , if you refer to my original post, this was installing and running the IoT edge runtime on a Win10 laptop.  I originally had Docker running with Windows containers, which I could not get working to pull down and run modules.  After switching to Linux containers within Docker it worked.

[2018-05-25 16:20] #8330 closed

[2018-05-25 16:21] Mike-Ubezzi-MSFT commented on #9195
@mydim Thanks for the feedback!

[2018-05-25 16:21] #9195 closed

[2018-05-25 16:23] Mike-Ubezzi-MSFT commented on #9188
@rpus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 16:27] georgewallace commented on #8908
@MicrosoftDocs/azure-cxp-triage Please close this issue the documentation has been updated.

[2018-05-25 16:28] georgewallace commented on #8908
@MicrosoftDocs/azure-cxp-triage Also please update the label to the correct service label of automation

[2018-05-25 16:30] Mike-Ubezzi-MSFT commented on #9176
@GrantMeStrength Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 16:32] Mike-Ubezzi-MSFT commented on #9175
@GrantMeStrength Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 16:34] Mike-Ubezzi-MSFT commented on #9172
@GrantMeStrength Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 16:34] cezane commented on #9125
Yes, @dominicbetts . I just want to have control on exactly what is being done. I imagined that the Azure IoT Hub would work as a pub/sub system, in which some devices could send messages in order to other devices/systems could receive these messages and processing them as desired. It seems the IoT Hub does not work this way, right? I do not know if I was clear. In case positive, can you help me u

[2018-05-25 16:36] SnehaGunda commented on #9081
@AndriyGorda thanks for the clarification, as you can see in that page, the technical support column for Basic plan is blank, so support isn't offered for that plan. Because its a top level feature that's common across all Azure services, the content is covered in support plan page and not specific to cosmos DB docs!

[2018-05-25 16:49] dlepow commented on #9141
@msLinuxNinja - Yes, thanks for the suggestion! You are correct that you can install CUDA drivers on an NV-series VM if you don't plan to use GRID and want to run GPU-accelerated compute workloads. According to my product team colleagues, though, we don't expect this to be a common customer scenario, so for the time being we won't call it out separately in the doc. Was one of the NC/NCv2/NCv3/ND s

[2018-05-25 16:56] msLinuxNinja commented on #9141
@dlepow Thanks for the reply 👍  two things, first I don't think this requires a new document rather simply update the title to include NV-Series so that it indicates that CUDA can also be installed on NV-Series and that this family is not strictly only for GRID.

Second, regarding the size and workload, NV-Series use Maxwell GPUs which are a generation newer that the Kepler GPUs found in the NC-Se

[2018-05-25 17:03] wesmc7777 commented on #8989
I think you can use the `-e` parameter with `docker run`:

[code]

This is mentioned in the sample here: [https://github.com/aspnet/AzureSignalR-samples/blob/master/docs/azure-integration.md](https://github.com/aspnet/AzureSignalR-samples/blob/master/docs/azure-integration.md)

[https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?tabs=basicconfiguration&view=aspnetcore-2.

[2018-05-25 17:08] wesmc7777 commented on #8681
@jason-j-MSFT, @alex-dokienko: The REST API support for SignalR Service is still very limited. Currently we don’t provide an API to add user to a group, mainly because right now there is no way to know connection ID (which is needed by addToGroup API) from a user. So in this case, the team recommends using multiple hubs to simulate groups for now.

[2018-05-25 17:13] odvoskin opened #9210 "Remove old video from AzureCon"
Remove this line with linked video from AzureCon:
ASEs enable high-scale app hosting with secure network access. For more information, see the AzureCon Deep Dive on ASEs.

Instead, replace with the following:
ASE comes with its own pricing tier, learn how the {{Isolated offering}} helps drive hyper-scale and security.
https://channel9.msdn.com/Shows/Azure-Friday/Security-and-Horsepower-with-App-Se

[2018-05-25 17:26] vasivara-MSFT commented on #9029
@ryansuryanto Since we haven't received any response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 17:26] #9029 closed

[2018-05-25 17:27] kobulloc-MSFT commented on #9187
@DavidJFowler Thank you for pointing this out!  I will let the document author know that we need to update the content with the now deprecated API Management Publisher Portal.

[2018-05-25 17:27] dlepow commented on #9141
@msLinuxNinja - Got it, and fair point. I'll work on a tactical doc update to address this. Thanks!

[2018-05-25 17:29] Adam-Smith-MSFT commented on #9194
@kskvarci Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 17:29] Adam-Smith-MSFT commented on #9193
@ntramaseur Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 17:30] Adam-Smith-MSFT commented on #9192
@kskvarci  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 17:39] cbrooksmsft commented on #9194
@kskvarci , the very top of this documents includes this note:

Does this address your concern?

[2018-05-25 17:48] mtillman commented on #7105
@MicrosoftDocs/azure-cxp-triage - please assign this issue to @barbkess who is taking ownership of the app mgmt space.

[2018-05-25 17:52] Adam-Smith-MSFT commented on #9183
@sebader  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 17:54] kobulloc-MSFT commented on #9184
@navilwayne It's great that you building a solution with Azure!  The best place for specific answers about implementations are going to be the forums:

https://social.msdn.microsoft.com/Forums

https://stackoverflow.com/

We actively look through posts there, and will do our best to get you going in the right direction.

[2018-05-25 17:54] #9184 closed

[2018-05-25 17:56] SnehaGunda commented on #8126
@NIVJAIN are you saying the connection strings specified in the portal for Node.js 3.0 driver doesn't work?

[2018-05-25 17:57] SaurabhSharma-MSFT commented on #9157
@larryms After going through the documentation I see what you are saying and I agree with you. I am assigning this to content author to review and update the documentation.

[2018-05-25 18:00] kobulloc-MSFT commented on #9191
@csihome Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-25 18:00] SaurabhSharma-MSFT commented on #9199
@dragerz Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-25 18:06] ggailey777 commented on #7538
This has been addressed and the [fix is live](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#add-bindings): #please-close

[2018-05-25 18:07] ggailey777 commented on #9026
This has been addressed and the [fix is live](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#add-bindings): #please-close

[2018-05-25 18:08] wesmc7777 commented on #9062
Ok, I'm closing this duplicate to keep all communications centralized in the open samples repo issue

[2018-05-25 18:13] mtillman commented on #7729
@kalyankrishna1 Thanks for bringing this to our attention. None of the information in that section is valid. So we're going to take it out for now. Change coming in a new commit.

[2018-05-25 18:15] SaurabhSharma-MSFT commented on #9200
@logicfox Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-25 18:20] SaurabhSharma-MSFT commented on #9203
@cshahria Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-25 18:22] SaurabhSharma-MSFT commented on #8970
@andyjballgit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 18:22] #8970 closed

[2018-05-25 18:31] Sambsamb commented on #9059
It appears the documentation is inaccurate after all. See this link ([https://social.msdn.microsoft.com/Forums/azure/en-US/008eed72-2030-48f7-9e6f-92097b119c3b/microsoftbackup-provider-stuck-in-registering-state?forum=windowsazureonlinebackup]) which suggests that "Microsoft.Backup" provider is no longer supported.

[2018-05-25 18:31] ggailey777 commented on #9108
Unfortunately, we don't have a JavaScript-specific version of the underlying sample function app.
#please-close

[2018-05-25 18:33] dkkapur commented on #8875
@artisticcheese are you looking for a way to secure a cluster for machines that are not part of AD? in that case, cert based security is likely the way to go. Could you give me a little more context on your scenario? Thanks!

[2018-05-25 18:37] artisticcheese commented on #8875
So it will not be possible to secure using Windows credentials without computers being part of AD?

[2018-05-25 18:38] #9044 closed

[2018-05-25 18:39] ggailey777 commented on #6945
Unless there are any specific documentation improvement suggestions, #please-close

[2018-05-25 18:42] mganeshphani opened #9214 "general purpose storage account is only supported"
Looks like we are only supporting General Purpose storage account.. can we put that statement in here

New-AzureRmVM : Long running operation failed with status 'Failed'. Additional Info:'Boot diagnostics uses
StorageAccountX  which is a Blob storage account. Please retry with General purpose storage account.'
ErrorCode: StorageAccountTypeNotSupported
ErrorMessage: Boot diagnostics uses StorageAcc

[2018-05-25 18:48] SaurabhSharma-MSFT commented on #9033
@kazshi This error is related to the "Keep me Signed in" feature however Azure AD gives an option to hide the remain signed in prompt. Admins can choose to hide this new prompt for users by using the “Show option to remain signed in” setting in company branding through [Azure Admin portal](https://aad.portal.azure.com/).  Please can you try the same.

[2018-05-25 18:50] bwren commented on #8281
I'll go ahead and add a sentence to the description of that field saying it can't be null.  I think the script stands on its own since it specifies the data it's working with.  And we pretty clearly describe the fields in the header.

[2018-05-25 18:50] bwren commented on #8281
#please-close

[2018-05-25 18:55] Tiano2017 commented on #8905
right. functions need to be added as well.

[2018-05-25 18:57] bdcoder2 commented on #6945
I hope the above appears in the documentation -- it is explanations like the one above that make things so much clearer to understand.

Thanks!

[2018-05-25 18:57] CelesteDG commented on #9148
The typo is fixed and update is live.
@SaurabhSharma-MSFT - #please-close. Thank you.

[2018-05-25 18:58] CelesteDG commented on #9071
Thank you, @moojjoo

@SaurabhSharma-MSFT - #please-close. Thank you.

[2018-05-25 19:00] ggailey777 commented on #9168
@KevinXTian I feel like the feedback you are providing doesn't apply to this topic (see the **Document Details** above). Can you please let us know what topic your comments are referring to? Thanks.

[2018-05-25 19:07] SnehaGunda commented on #9081
@AndriyGorda hope the above explanation helps, we will now close this issue, feel free to reopen if you have any further questions

#please-close

[2018-05-25 19:11] mtillman commented on #7981
@MicrosoftDocs/azure-cxp-triage please assign this issue to @eross-msft  who is working on our new AAD fundamentals content. @mzbowe Thanks for this feedback. We'll make sure we incorporate this information into our new pages.

[2018-05-25 19:16] ggailey777 commented on #6945
@bdcoder2 we aren't trying to minimize your feedback on the content. The info from @tdykstra's comment is found in the docs [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#methods-recognized-as-functions).

It's possible that we have a discoverability issue in our docs, but it's had to elucidate this because you made your comment on the [portal-based Fu

[2018-05-25 19:17] maxal1917 opened #9215 "Should date part be included to partition key"
Hi,

I have a question. For IoT kind of data, does it make sense to include date part (like year) into partition key? For the purpose of convenience, it's easer to make Partition Key just with device Id, as you described it. However, let's say device sends data once per minute, which will make it half million per year (our real case), my concern that if we don't implement purging, the number of re

[2018-05-25 19:21] YutongTie-MSFT commented on #9196
@thdotnet Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sanjeev3 Thanks for your quick action.

[2018-05-25 19:22] johnkwaters commented on #8989
Are those double underscores?

Sent from my iPhone

[2018-05-25 19:26] SnehaGunda commented on #8841
@TWolverson Azure Cosmos DB SDK has a dependency on the Mono.Csharp package so it's required to install. Hope this helps. I will update the doc to add a line about it.

[2018-05-25 19:27] mtillman commented on #8499
@MicrosoftDocs/azure-cxp-triage this issue appears to be more support-related than documentation. Please relabel as a support request and assign to the appropriate person for further assistance to this customer.

[2018-05-25 19:35] TWolverson commented on #8841
I don't believe that adequately answers the question. Why does it have a dependency on it? Where does the fundamental requirement for Mono appear in CosmosDb (or any other Azure offering for that matter) when .net is cross-platform?

[2018-05-25 19:40] georgewallace commented on #8986
@zarchigl Sorry for the delay in responding.. Yes you can add new VMs by modifying the resource groups the solution targets.. they are stored in two variables External_Start_ResourceGroupNames and External_Stop_ResourceGroupNames.  One is for the start logic, the other is for the stop logic.  If you add a VM to the resource groups referenced in these variables they will be automatically added.  If

[2018-05-25 19:43] mtillman commented on #8604
@billmath I believe the "sing on" was a typo in @cuixi1222's issue, but not the actual issue. I think he was referring to the fact that the feature is called "seamless single sign-on (SSO)" and not just "single sign-on". Is that correct @cuixi1222?

[2018-05-25 19:44] bdcoder2 commented on #6945
@ggailey777 - Understood -- and thanks to everyone at MS for listening and making updates quickly -- REALLY appreciated.

Just finding more and more often, the documentation is lacking in critical details or missing altogether -- I am running in to this more and more, for example, some MS API docs are completely empty:

[https://docs.microsoft.com/en-us/dotnet/framework/security/json-web-token-han

[2018-05-25 19:46] mtillman commented on #8692
#please-close

[2018-05-25 19:50] MicrosoftGuyJFlo commented on #8020
@peternield I have added this to my backlog to get added to an upcoming docs update. Will have to get details from the product group as I do not have detail on this today.

[2018-05-25 19:50] MicrosoftGuyJFlo commented on #8020
#in-process

[2018-05-25 19:51] MicrosoftGuyJFlo commented on #7974
@jotheman03 This has been added to my backlog to get added to an upcoming docs update.

[2018-05-25 19:51] mtillman commented on #8754
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-05-25 19:51] MicrosoftGuyJFlo commented on #7974
#in-process

[2018-05-25 19:53] MicrosoftGuyJFlo commented on #8493
Opened a bug for @eross-msft since she owns the branding doc now. Recommended that this be added as an affected URLs list to that doc.

[2018-05-25 20:05] SnehaGunda commented on #8841
@TWolverson I sent an email to our dev team with your question, will respond back when I hear back.

[2018-05-25 20:07] TWolverson commented on #8841
Thank you and in hindsight I apologise if thus far I have sounded abrupt - my intention was only to drive for clarity and it certainly wasn't my intention to sound confrontational which regretfully all my previous posts do somewhat, so I apologise if it was taken that way.

[2018-05-25 20:08] nuiwos commented on #8723
Were you referring to this tutorial, https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-linux? If so, I was also able to get it to run also. However, the issue I encountered wasn't in that tutorial. It's in this tutorial, https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning. There is a link in the prerequisite section that points to https://docs.mi

[2018-05-25 20:11] mtillman commented on #7729
#please-close

[2018-05-25 20:15] mtillman commented on #8885
@MicrosoftDocs/azure-cxp-triage please relabel as a doc-enhancement since this is not a blocking issue in the current docs.

[2018-05-25 20:16] CelesteDG commented on #8751
Hello @felnne - Apologies for my delayed response as I initially missed this issue from my query. Have you had a chance to see this topic: https://docs.microsoft.com/en-us/azure/architecture/resources/diagrams

It contains links to several official resources including one for Microsoft Azure, Cloud and Enterprise Symbol / Icon Set - Visio stencil, PowerPoint, PNG, SVG here: https://www.microsoft.c

[2018-05-25 20:22] jeevansd commented on #9200
@logicfox Do you have to specifically change this setting in the Azure AD Enterprise Apps -> Single sign-on page. We have defaulted some settings for the gallery app and that should work.
Can you please confirm?

[2018-05-25 20:26] billmath commented on #8284
@chwilfing  thank you for submitting this.  It is taking me longer then expected to get a response so I have created a work item for this, as this is going to require me to get some verification from the engineering team.  At this point I am going to close the issue and I will re-open this once I have an updated.  Thanks again!

[2018-05-25 20:26] billmath commented on #8284
#please-close

[2018-05-25 20:28] billmath commented on #6684
@jeremyhagan  thank you for submitting this. It is taking me longer then expected to get a response so I have created a work item for this, as this is going to require me to get some verification from the engineering team. At this point I am going to close the issue and I will re-open this once I have an updated. Thanks again!

[2018-05-25 20:28] billmath commented on #6684
#please-close

[2018-05-25 20:31] billmath commented on #8485
@ivratche  thank you for submitting this. It is taking me longer then expected to get a response so I have created a work item for this, as this is going to require me to get some verification from the engineering team. At this point I am going to close the issue and I will re-open this once I have an updated. Thanks again!

[2018-05-25 20:31] billmath commented on #8485
#please-close

[2018-05-25 20:33] danielsollondon commented on #8590
Yes, you should move the type handler version when possible, as the publisher may deprecate and remove it at some time, you can rely on "autoUpgradeMinorVersion": true, for a short period until you change your scripts.

[2018-05-25 20:34] cynthn commented on #7460
@MicahMcKittrick-MSFT can you please reassign to OMS - probably @johnkemnetz ?

[2018-05-25 20:39] danielsollondon commented on #8804
Thank you for the feedback, we have made some updates, should be published soon.

[2018-05-25 20:39] Mike-Ubezzi-MSFT commented on #8723
@nuiwos You need to deploy an IoT Edge container (Linux or Windows) to work with the Machine Learning tutorial. I was initially having issues setting that up. After having that set-up, I was able to complete the [Deploy Azure Machine Learning as an IoT Edge module - preview](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning) tutorial.

[2018-05-25 20:39] vasivara-MSFT commented on #9131
@BeauMarwaha I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 20:43] danielsollondon commented on #7898
Thank you for this, updated the docs

[2018-05-25 20:43] danielsollondon commented on #7898
publishing very soon!

[2018-05-25 20:48] Mike-Ubezzi-MSFT commented on #8726
@israels We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 20:48] #8726 closed

[2018-05-25 21:00] #8754 closed

[2018-05-25 21:03] femsulu commented on #9173
@masters3d Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-25 21:04] chetansriv commented on #8711
@lyyeh This is fixed, can you please confirm.
#please-close

[2018-05-25 21:04] douglaslMS commented on #5970
@jamesbascle First, I apologize for the delay in getting back to you. Microsoft has not yet published official schemas for the JSON files that you're asking about. The best resource to refer to is the [public Swagger spec(s) for the API](https://github.com/Azure/azure-rest-api-specs/blob/74ea44e47d94f971aee9d0f0635536b5893d1b8f/specification/datafactory/resource-manager/Microsoft.DataFactory/previ

[2018-05-25 21:06] douglaslMS commented on #5970
@jamesbascle Since your issue doesn't call for any corrections to the documentation, I'm going to go ahead and request that it be closed. Keep in mind the [ADF forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory) where instead or reaching one person, you'll reach a large body of ADF team members and subject matter experts.

[2018-05-25 21:07] douglaslMS commented on #5970
#please-close

[2018-05-25 21:07] kobulloc-MSFT commented on #9191
@csihome I spoke with the document author and this is very high on our list of documents to update.  Thank you for pointing this out and I would expect an update in the near future.

[2018-05-25 21:07] kobulloc-MSFT commented on #9021
@shobman We are going to close this thread but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-25 21:07] #9021 closed

[2018-05-25 21:11] #5970 closed

[2018-05-25 21:12] zhiweiwangmsft commented on #7601
#please-close

[2018-05-25 21:18] CelesteDG commented on #8912
Hello @robert-cleric - Thank you for your comment. I checked with our feature team and received the following info: SpringBoot Azure AD has the user generate a client secret, so it’s not using implicit flow and isn’t a “true” SPA – it still has a backing service, it still handles routes, etc. it’s doing back-end auth.

Please let us know if you have any follow up comments or questions. Thank you.

[2018-05-25 21:20] CarlRabeler commented on #9118
Please assign to Xiaochen Wu <Xiaochen.Wu@microsoft.com>

[2018-05-25 21:20] douglaslMS commented on #6049
@JoNevi I apologize for the delay in responding. You're correct that the linked service does not have a type property of "connectionString." I have opened a PR to fix that. The corrected page will probably be published on Tue 5/29 (assuming no weekend or holiday publishing.) A great resource for checking properties and JSON is the [public ADF Swagger specs in JSON format](https://github.com/Azure/

[2018-05-25 21:20] mtillman commented on #6589
@MicrosoftDocs/azure-cxp-triage please close this issue as a dupe for [this issue](https://github.com/microsoftdocs/azure-docs/issues/7033).

[2018-05-25 21:20] douglaslMS commented on #6049
@JoNevi Since I've made the doc fix required to resolve the issue that you reported, I'm going to request that this issue be closed. Thanks for bringing this mismatch to our attention.

[2018-05-25 21:21] douglaslMS commented on #6049
#please-close

[2018-05-25 21:27] YutongTie-MSFT commented on #9114
@dorcohen8 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 21:27] #9114 closed

[2018-05-25 21:27] douglaslMS commented on #6976
@nermeen12 @bhavikpatel91 @jwood803 I am following up on this and hope to have an answer by Tuesday (after the Monday holiday in the US).

[2018-05-25 21:30] douglaslMS commented on #8039
@HemantChandurkar I apologize for the delay. I am following up on this again. Keep in mind the [ADF forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory) where instead or reaching one person, you'll reach a large body of ADF team members and subject matter experts.

[2018-05-25 21:31] MohitGargMSFT commented on #8776
@cabtilx We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-25 21:31] #8776 closed

[2018-05-25 21:32] douglaslMS commented on #8039
@HemantChandurkar Where is the Python script that you're referring to, please? Is it within the context of a Spark activity that you want to run a Scala script?

[2018-05-25 21:34] SaurabhSharma-MSFT commented on #8947
@jadesa You can also look into getMemberObjects for your purpose. Here is documentation link -  [user: getMemberObjects](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_getmemberobjects).
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 21:34] #8947 closed

[2018-05-25 21:38] douglaslMS commented on #8346
@HemantChandurkar For your first comment, thank you for bringing this to our attention. I have a separate PR to delete one of the two instances of the "arguments" property. The updated page will probably be published on Tuesday (after the weekend and Monday holiday in the US.)

[2018-05-25 21:39] douglaslMS commented on #8346
@HemantChandurkar For your second comment, you'll see that in the JSON, both instances of the "arguments" property (one of which I'm in the process of deleting) are defined as arrays, not as individual strings.

[2018-05-25 21:40] douglaslMS commented on #8346
@HemantChandurkar As I've fixed the doc issue identified in the first of your two comments, I'm going to request that this issue be closed.

[2018-05-25 21:40] douglaslMS commented on #8346
#please-close

[2018-05-25 21:41] jason-j-MSFT commented on #8812
@javias I do not see a way to only allow IPs from Application Insights through your storage account firewall.  You could try to allow the IPs here:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses#outgoing-ports

This IPs are specified as outgoing, however, and may not be consistent with IPs you would see from incoming traffic from Application Insights.  The li

[2018-05-25 21:43] #6049 closed

[2018-05-25 21:50] twooley commented on #7492
@vaananth Hello. This article has been significantly updated. Please review the updates and let us know if you have additional questions. I'm closing this issue for now. Thanks!

[2018-05-25 21:51] twooley commented on #7492
#please-close

[2018-05-25 21:53] #8881 closed

[2018-05-25 21:53] Mike-Ubezzi-MSFT commented on #8879
@MrRoyce We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 21:54] Mike-Ubezzi-MSFT commented on #8723
@nuiwos We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 21:55] wesmc7777 commented on #8989
Correct

[2018-05-25 21:56] iainfoulds commented on #8881
@tanaka-takayoshi I updated the doc to note that if the AAD domain and username domain don't match, you can use the object ID for the `--assignee-object-id`. Hopefully this helps others in future situations. Glad that you were able to correctly assign the RBAC policy once you done this.

[2018-05-25 21:57] MohitGargMSFT commented on #8973
@cstainie Please check the external collaboration settings introduced in Azure Active Directory. Login to Azure Portal, navigate to Azure Active Directory, select User Settings. In the user setting blade, select Manage external collaboration settings option under External Users and it opens below blade where you can select options for invited guest users based on your requirement.

![s1](https://u

[2018-05-25 22:02] TolliLF commented on #8277
It won't have optimal performance if you leave column count at 2, but as you say there is no way to change it after the fact when you add more disks.  You should also add disks in multiples of the column count. Take a look at this article:
https://social.technet.microsoft.com/wiki/contents/articles/15200.storage-spaces-designing-for-performance.aspx
Take note of this point:
"If you choose a high c

[2018-05-25 22:04] MohitGargMSFT commented on #9153
@gramidt Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-25 22:05] #8281 closed

[2018-05-25 22:06] #7729 closed

[2018-05-25 22:07] TravisCragg-MSFT commented on #9177
@t-khanh If you have an existing load balancer and you changed the port your application uses, you will need to create a new load balancing rule

If you created a new load balancer you will need to create a load balancing rule on the port your application uses.

Make sure your load balancer has a rule to connect to the port your app is using, and also double check that your app is listening on tha

[2018-05-25 22:08] twooley commented on #8564
#in-progress
@Codefearingguy Hello. We are looking into this and have filed a work item to track this issue. We'll update this thread when we have more information. Thanks!

[2018-05-25 22:11] TravisCragg-MSFT commented on #8908
@cammurray We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-25 22:11] #8908 closed

[2018-05-25 22:11] noellelacharite commented on #8988
Hi, I have reached out to the PM that owns the messaging around this and will track progress to getting messaging created and getting the docs updated. thank you!

[2018-05-25 22:11] tylerd opened #9220 "Build Errors"
After following the instructions above I get errors when running `make`

pi@raspberrypi:~/src/remote_monitoring/cmake $ make
Scanning dependencies of target sample_app
[ 33%] Building C object CMakeFiles/sample_app.dir/remote_monitoring.c.o
In file included from /usr/local/include/azureiot/iothubtransportmqtt.h:7:0,
                 from /home/pi/src/remote_monitoring/remote_monitoring.c:1:
/usr/l

[2018-05-25 22:13] #9148 closed

[2018-05-25 22:14] TravisCragg-MSFT commented on #9062
@johnkwaters I am closing this thread as a Duplicate of https://github.com/aspnet/AzureSignalR-samples/issues/15.

[2018-05-25 22:14] #9062 closed

[2018-05-25 22:15] TravisCragg-MSFT commented on #9108
@jacob-j We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-25 22:15] #9071 closed

[2018-05-25 22:16] Mike-Ubezzi-MSFT commented on #8994
@sariyandath We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion but, given the direct dialog being facilitated outside this GitHub issue you are free to post the final solution here for reference.

Thank you,
Mike

[2018-05-25 22:16] #8994 closed

[2018-05-25 22:16] noellelacharite commented on #8669
I am working with the service team to investigate.
#in-progress

[2018-05-25 22:16] Mike-Ubezzi-MSFT commented on #9002
@briscomo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-25 22:16] #9002 closed

[2018-05-25 22:17] #6417 closed

[2018-05-25 22:20] nuiwos commented on #8723
Please don't close this issue. It's not resolved.

I did deploy the tempsensor module on Linux according to https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-linux. But the command,

az ml env show -g nui-mlexperiment-rg -n nuimlenv

still produced provisioning failed.

{
  "Cluster Name": "nuimlenv",
  "Cluster Size": "N/A",
  "Created On": "2018-05-25T21:59:19.909Z",
  "Lo

[2018-05-25 22:26] TravisCragg-MSFT commented on #9201
@anuragtokhi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 22:27] nitinme commented on #8388
@adumont Thanks for your questions and interest in Azure Databricks. I am looking at this scenario now and my guess is that we might not need access from Azure Databricks to Data Lake Store at the resource level. We can confine the access just to the folder/file level where the data is stored.

Let me set up a working solution and I'll update the article accordingly.

[2018-05-25 22:29] nuiwos opened #9221 "Azure ML container creation"
https://github.com/MicrosoftDocs/azure-docs/issues/8723 was closed before it was resolved. Can you please re-open the issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-fc0d-af3c-5b41-944665674cfc
* Content: [Deploy Azure Machine Learning with A

[2018-05-25 22:29] TravisCragg-MSFT commented on #9214
@mganeshphani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 22:30] Mike-Ubezzi-MSFT commented on #8723
@nuiwos The purpose of this GitHub repository is to facilitate discussion and improvement of the documentation. The best means for troubleshooting issues is via the forums. But, in the case of deploying the machinelearningmodule, I am unable to get the container to start. So, I will continue to work on this.

**Set the Environment:**
az ml account modelmanagement set -n miubezzi -g miubezzi-iot

*

[2018-05-25 22:31] Mike-Ubezzi-MSFT commented on #9221
@nuiwos Closing as duplicate. #8723

[2018-05-25 22:31] #9221 closed

[2018-05-25 22:34] shobman commented on #9021
Hi@kobulloc-MSFT - thanks for the reply.

I've gone ahead and voted for the idea, here:
https://feedback.azure.com/forums/34192--general-feedback/suggestions/34355095-application-insights-support-for-multiple-enviro

Cheers!

[2018-05-25 22:35] TravisCragg-MSFT commented on #9198
@locohost Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 22:36] kobulloc-MSFT commented on #9105
@JanaAbhijit , @vishalkhatal, @kgremban  I tried this using a VM in (South) India and I can verify that I am seeing the same failures on atlas.min.css?api-version=1.0 and atlas.min.js?api-version=1.0.  This appears to be an issue specific to that region.

It's a holiday weekend in the US so this may take a bit longer than usual, but we'll see if we can get some more region specific information.

[2018-05-25 22:36] filter-coffee opened #9222 "Inconsistent instance names"
Based on the details at https://azure.microsoft.com/en-us/pricing/details/cloud-services/ Extra-Small is A0, Small is A1, Medium is A2, Large is A3 and Extra Large is A4. Can we fix this inconsistency in naming of instances?

[2018-05-25 22:36] nuiwos commented on #8723
Can you find out possible causes

"Provisioning State": "Failed"

from the command "az ml env show -g nui-mlexperiment-rg -n nuimlenv"?

[2018-05-25 22:36] CelesteDG commented on #8955
Hello. The changes are now in master and should go live soon.
![image](https://user-images.githubusercontent.com/16906646/40568761-64bf9d22-6031-11e8-8f6b-14d5f873bb0d.png)

[2018-05-25 22:36] TravisCragg-MSFT commented on #9202
@locohost Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 22:37] TravisCragg-MSFT commented on #9204
@locohost Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-25 22:39] BukeMan commented on #6589
@mtillman this is not a dupe as the other issue was opened 9 days after this one.
@MohitGargMSFT please reopen this one and close another one. thanks!

[2018-05-25 22:40] kobulloc-MSFT commented on #9021
@shobman Thank you for submitting your suggestion.  I've added my vote and it will be triaged by the product team in the near future.

[2018-05-25 22:40] Mike-Ubezzi-MSFT commented on #8723
@kgremban @sergaz-msft Can you assist with this? The machinelearningmodule container image will not start, and the below are the last 10 lines in the log file:

2018-05-25 21:42:14,964 INFO exited: gunicorn (exit status 3; not expected)
2018-05-25 21:42:15,965 INFO gave up: gunicorn entered FATAL state, too many start retries too quickly
2018-05-25 21:42:16,967 WARN program_exit: bad result line:

[2018-05-25 22:41] tylerd commented on #9220
**FIX**

I "installed" the azure/azure-c-shared-utility GitHub project using the following commands

[code]

It seems like this lib is no longer installed with the Azure IoT C SDK

[2018-05-25 22:44] kobulloc-MSFT commented on #8976
@ggailey777 Are you aware of anything that would cause a conflict error for a student account?

[2018-05-25 22:44] nuiwos commented on #8723
I couldn't even get to the step you got to. Can you please find out possible causes for

"Provisioning State": "Failed"

from the command "az ml env show -g nui-mlexperiment-rg -n nuimlenv"?

[2018-05-25 22:46] Mike-Ubezzi-MSFT commented on #9004
@cbailiss This information is not available at this time and given the preview status of Azure SQL Database Managed Instance, and the fact that you need to be approved to deploy it, this information is not readily available. This question might be best suited for one of the supported forums.

[2018-05-25 22:51] CelesteDG commented on #8751
#in-progress

[2018-05-25 22:52] CelesteDG commented on #8762
Hello @MohitGargMSFT @femsulu - Can you help #please-close this issue? No repro. Thank you.

[2018-05-25 22:55] #8762 closed

[2018-05-25 22:57] guillemsola opened #9223 "PSCredentials with configuration data"
There is a nice section about Handle Credentials that says

But if one of the great things about DSC is separating the What from the How using Configuration Data, there is no documentation about how to securely use this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73fd631-582f-dca6-b537-16043459d03d
* Versi

[2018-05-25 23:02] cynthn commented on #8804
@deyjcode thankd for the great feedback. Daniel has updated the articles :)

@MicahMcKittrick-MSFT Daniel updated the docs today. Should publish in the next couple of days. Can you #please-close? Thanks!

[2018-05-25 23:03] Mike-Ubezzi-MSFT commented on #8723
@nuiwos I suspect that by deployment failed, it means that the container image was not uploaded to your Azure Container Repository. I have run this part of the tutorial 3x ([Create the Azure ML container](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning#create-the-azure-ml-container)) and I have three copies of the container image in my repository, as well as on my

[2018-05-25 23:04] cynthn commented on #8590
@akramwaseem thanks for the feedback. Daniel responded above.

@MicahMcKittrick-MSFT can we #please-close?

[2018-05-25 23:05] cynthn commented on #7898
@MicahMcKittrick-MSFT can we #please-close now that Daniel has made the updates?

[2018-05-25 23:07] Mike-Ubezzi-MSFT commented on #9215
@maxal1917 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-25 23:14] nuiwos commented on #8723
This step was before creating or uploading any container image. This was in the model management setup. Please look at the environment setup section in https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/deployment-setup-configuration. This link was in the prerequisite section of https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning.

[2018-05-25 23:35] wesmc7777 commented on #9116
@gwellbrock We are checking with ASP.NET team to see if any ASP.NET specific behavior may explain this. We don't think of anything in the Redis layer that would explain this.

[2018-05-25 23:44] #9210 closed

[2018-05-25 23:44] BryanTrach-MSFT commented on #9210
@odvoskin Thank you for the updated information. We have gone ahead and made the requested changes.

[2018-05-26 00:30] ggailey777 commented on #6945
@bdcoder2 please continue to report the documentation issues that you find. We are trying to get better at tracking and fixing these.

[2018-05-26 00:56] vancourse commented on #7701
Tom,

Please close the issue.

Thank you for all your help.

Ravi

On Tue, May 22, 2018 at 2:25 PM Tom FitzMacken <notifications@github.com>
wrote:

[2018-05-26 01:25] TravisCragg-MSFT commented on #9026
@rocifier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:25] #9026 closed

[2018-05-26 01:26] TravisCragg-MSFT commented on #8957
@TolliLF We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:26] #8957 closed

[2018-05-26 01:27] TravisCragg-MSFT commented on #8938
@midomsft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:27] #8938 closed

[2018-05-26 01:27] TravisCragg-MSFT commented on #8923
@DuoKristina We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:27] #8923 closed

[2018-05-26 01:27] TravisCragg-MSFT commented on #8910
@jonathanfishbein1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:27] #8910 closed

[2018-05-26 01:28] TravisCragg-MSFT commented on #8896
@ejazr83 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:28] #8896 closed

[2018-05-26 01:28] TravisCragg-MSFT commented on #8894
@asingh1989 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:28] #8894 closed

[2018-05-26 01:29] TravisCragg-MSFT commented on #8893
@asingh1989 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:29] #8893 closed

[2018-05-26 01:29] TravisCragg-MSFT commented on #8850
@Phydeauxman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:29] #8850 closed

[2018-05-26 01:30] TravisCragg-MSFT commented on #8822
@EstebanSmits We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:30] #8822 closed

[2018-05-26 01:30] TravisCragg-MSFT commented on #8804
@deyjcode We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:30] #8804 closed

[2018-05-26 01:30] TravisCragg-MSFT commented on #8711
@lyyeh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:30] #8711 closed

[2018-05-26 01:31] TravisCragg-MSFT commented on #8692
@rraugusto We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:31] #8692 closed

[2018-05-26 01:31] TravisCragg-MSFT commented on #8590
@akramwaseem We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:31] #8590 closed

[2018-05-26 01:31] TravisCragg-MSFT commented on #8529
@cveld We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:31] #8529 closed

[2018-05-26 01:32] TravisCragg-MSFT commented on #8485
@ivratche We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:32] #8485 closed

[2018-05-26 01:32] TravisCragg-MSFT commented on #8470
@wcom939 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:32] #8470 closed

[2018-05-26 01:32] TravisCragg-MSFT commented on #8367
@NickDorak We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:32] #8367 closed

[2018-05-26 01:32] TravisCragg-MSFT commented on #8362
@KarlZ  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:32] #8362 closed

[2018-05-26 01:33] TravisCragg-MSFT commented on #8346
@HemantChandurkar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:33] #8346 closed

[2018-05-26 01:33] TravisCragg-MSFT commented on #8284
@chwilfing We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:33] #8284 closed

[2018-05-26 01:33] TravisCragg-MSFT commented on #8190
@bigredmachine We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:33] #8190 closed

[2018-05-26 01:33] TravisCragg-MSFT commented on #8076
@gewarren We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:33] #8076 closed

[2018-05-26 01:34] TravisCragg-MSFT commented on #7913
@justrhysism We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:34] #7913 closed

[2018-05-26 01:34] TravisCragg-MSFT commented on #7898
@maddyloo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:34] #7898 closed

[2018-05-26 01:34] TravisCragg-MSFT commented on #7771
@vitaliiTolmachov We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:34] #7771 closed

[2018-05-26 01:34] TravisCragg-MSFT commented on #7701
@vancourse We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:34] #7701 closed

[2018-05-26 01:35] TravisCragg-MSFT commented on #7681
@jpalo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:35] #7681 closed

[2018-05-26 01:35] TravisCragg-MSFT commented on #7653
@Rich-Lang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:35] #7653 closed

[2018-05-26 01:35] TravisCragg-MSFT commented on #7650
@tonybendis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:35] TravisCragg-MSFT commented on #7601
@nrotzinger We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:35] #7601 closed

[2018-05-26 01:36] TravisCragg-MSFT commented on #7545
@Dawny33 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:36] #7545 closed

[2018-05-26 01:36] TravisCragg-MSFT commented on #7538
@jefferybennett We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:36] #7538 closed

[2018-05-26 01:36] TravisCragg-MSFT commented on #7492
@vaananth We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:36] #7492 closed

[2018-05-26 01:38] TravisCragg-MSFT commented on #7029
@cubanp3te We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:39] ggailey777 commented on #5955
Hey @Mike-EEE, unless you have any other feedback on [this specific topic](https://docs.microsoft.com/azure/azure-functions/functions-create-your-first-function-visual-studio), can we #please-close this thread?

Thanks!

[2018-05-26 01:41] TravisCragg-MSFT commented on #6945
@bdcoder2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:41] #6945 closed

[2018-05-26 01:41] TravisCragg-MSFT commented on #6684
@jeremyhagan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:41] #6684 closed

[2018-05-26 01:41] TravisCragg-MSFT commented on #5827
@gerhardcit We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 01:41] #5827 closed

[2018-05-26 01:44] TravisCragg-MSFT commented on #9220
@tylerd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 01:45] ggailey777 commented on #5977
Hey @julielerman, are [these the kinds of examples](https://docs.microsoft.com/en-us/sandbox/functions-recipes/cosmos-db) that you are expecting to see in our docs?

Thanks!

[2018-05-26 01:49] TravisCragg-MSFT commented on #9222
@filter-coffee Thanks for the feedback! Unfortunately this is not the proper place for feedback on the billing areas. The best place to give this feedback is [Feedback.Azure.Com](https://github.com/aspnet/AzureSignalR-samples/issues/15).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussi

[2018-05-26 01:49] #9222 closed

[2018-05-26 01:50] TravisCragg-MSFT commented on #9223
@guillemsola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 01:56] DCtheGeek commented on #9223
@guillemsola Thanks for the feedback!  I'll review this with the team to clarify.  #in-progress

[2018-05-26 03:08] DCtheGeek commented on #7567
@danmyhre Thank you again for your feedback. The details for REST API (which ARMClient calls) is available at Create or Update At Management Groups here: https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions/createorupdateatmanagementgroup.  The full list of operations for Policy Definitions is here; https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions.  I've added

[2018-05-26 03:19] DCtheGeek commented on #7571
@danmyhre Thank you again for the feedback.  We have created a Work Item to clean up all of the samples to provide more consistency with PowerShell, CLI, and REST API (which ARMClient uses).  As there are roughly 60 samples now (see https://github.com/azure/azure-policy), this is expected to complete over the next two Sprints. I'll be upgrading a sample in the samples repository and updating the c

[2018-05-26 04:26] DCtheGeek commented on #7575
@thuansoldier We published a new article today to provide this information (https://docs.microsoft.com/en-us/azure/azure-policy/policy-effects).  Thanks again for the feedback!  #please-close

[2018-05-26 04:29] DCtheGeek commented on #8708
@rkyttle The page has now been updated.  Thank you again for the feedback!

@MicrosoftDocs/azure-cxp-triage I noticed this is missing the appropriate label.  Can you please add 'azure-policy/svc' and #please-close.  Thanks!

[2018-05-26 04:31] DCtheGeek commented on #8784
@TomShinder The page has been updated with the links I provided and a few other pages have also been updated with additional information on management groups.  Thank you again for the feedback!  #please-close

[2018-05-26 04:34] DCtheGeek commented on #9003
@sancheza The page has now been updated to fix the code issue (which was actually with the dashes, not the quotes) and ensured the rest of the examples are correct.  Thank you again for the feedback!  #please-close

[2018-05-26 04:38] #8708 closed

[2018-05-26 04:41] DCtheGeek commented on #7731
Contributor has not provided response to inquiry from product team in 30 days.  There have been several updates to the service since issue opened, so if this continues to be an problem, please create a new issue so we can address.  Thank you for contacting us.  #please-close

[2018-05-26 04:41] aliuy commented on #8841
The doc is a little out of date. Early versions of the .NET Graph SDK used mono – it was removed in a later version (0.3.1-preview)... With that said, we recommend using the [official open source Gremlin.Net driver](https://www.nuget.org/packages/Gremlin.Net/) instead of our preview Cosmos DB .NET Graph SDK.

[2018-05-26 06:46] cbailiss commented on #9004
Thanks for the update, however that is disappointing.  Scaling time is an important to know and could be a key differentiating factor when deciding which variant of Azure SQL database to use.

[2018-05-26 07:01] usama-masood commented on #8733
@SaurabhSharma-MSFT I used this link to deploy azure db workspace.
https://azure.microsoft.com/en-in/resources/templates/101-databricks-workspace/

Inside the parameters to this ARM template parameter file, when i give location in camel case, wrong deployment occurs. i.e workspace is deployed but launch url is not correct.

[2018-05-26 08:00] TravisCragg-MSFT commented on #7535
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:00] #7535 closed

[2018-05-26 08:00] TravisCragg-MSFT commented on #7567
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:00] #7567 closed

[2018-05-26 08:00] TravisCragg-MSFT commented on #7571
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:00] #7571 closed

[2018-05-26 08:01] TravisCragg-MSFT commented on #7575
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:01] #7575 closed

[2018-05-26 08:01] TravisCragg-MSFT commented on #7731
@roldengarm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:01] #7731 closed

[2018-05-26 08:01] TravisCragg-MSFT commented on #8784
@TomShinder We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:01] #8784 closed

[2018-05-26 08:01] TravisCragg-MSFT commented on #9003
@sancheza We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-26 08:01] #9003 closed

[2018-05-26 11:49] vlele opened #9229 "Service Fabric Mesh"
Great article. Needs to be updated for Service Fabric Mesh - as a hosted service  would it is support the following capabilities?

Install any custom MSI
Install any app on the VMs.
Ability to define/execute start-up tasks
Can listen to ETW events

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4abb1-48c0-178e-a37e-2

[2018-05-26 13:56] vlele opened #9230 "Reference to Cloud Services"
Since this article is about App Services, it will help to explain the context for referencing the term "Cloud Services"

For example consider this statement below

Note that due to how cloud services work, the specific virtual machine responsible for hosting a UNC share will change over time. It is guaranteed that UNC shares will be mounted by different virtual machines as they are brought up and

[2018-05-26 13:59] Molotch opened #9231 "Dataset properties when using stored procedure"
It would be helpful if you included the fact that the sqlserverdataset table property should contain the stored procedure's table-valued parameter name. Ie if your table-valued parameter name in the stored procedure referenced in the sqlsink is @inputTable the table name in the output dataset should be set to intputTable. In the example above it's quite unclear what the "Marketing table" actually

[2018-05-26 14:55] KjetilEVRY opened #9232 "Provide instructions about converting from ADFS to SSO"
Is it necessary to run the Convert-MsolDomainToStandard, when you are going from ADFS to PTA/PW sync with SSO in the lastest version of AAD Connect? Very little information about this. In my mind, this should be handled when you change the User Sign-in method in AAD Connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-26 14:56] miicahjardine opened #9233 "Further guidance required"
Hello,

I created two test storage accounts in a RG and applied the Storage Blob Data Contributor (Preview) at the RG scope a test user.

When I logged into either storage explorer or data explorer as the test user I could not even see the storage accounts, so as I added the test user as a reader to the RG.  I could now see the storage accounts, but cannot access the blobs, as I receive an error t

[2018-05-26 15:09] skmkzyk opened #9234 "Add NAT descriptions"
When applying NSG to Azure VM's NIC, it's ok to specify "\*" for destination address as no need to limit address range.
But in case of applying NSG to subnet, its destination address could be different from "\*" to specify address.

When using Public IP to Azure VM, and applying incoming NSG to subnet, how to decide its destination address whether global or private?

According to I tested, incomin

[2018-05-26 15:16] miicahjardine commented on #9233
right, found the answer, powershell it is at the moment.  thnkx

[2018-05-26 15:16] #9233 closed

[2018-05-26 15:58] Q4living opened #9235 "The demo code doesnt work"
While using the sample code, the connection string does not match with github and the serializer doesnt work.

Need to resolve this ASAP for a client POC because they are on Azure ....

[pylint] E1101:Module 'gremlin_python.driver.serializer' has no 'GraphSONSerializersV2d0' member

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-05-26 16:24] denishol opened #9236 "Typo "on-premises Azure AD"?"
This document states "This setting only applies to Windows 10 devices that are joined to an on-premises Azure AD." I think this is a typo, because, Azure AD is (currently) not on-premises. I think the sentence shoud be:  "This setting only applies to Windows 10 devices that are joined to an on-premises AD."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-26 17:47] command0r opened #9237 "PS Variables"
Guys, please update the documentation so that the variable assignments are correct: $CLIENT_ID and $ACR_ID respectively in "Configure ACR authentication".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
* Version Independent ID: 134b8ba0-b085-076a-d2e1-16d0ddff5586
* Content: [Kubern

[2018-05-26 19:06] DaveAurionix opened #9238 "At General Availability, will `az aks get-credentials` enforce kubectl to connect with credentials unique to each AAD user logged in via `az login` instead of returning shared credentials that are the same for all users?"
At General Availability, will `az aks get-credentials` enforce kubectl to connect with credentials unique to each AAD user logged in via `az login` instead of returning shared credentials that are the same for all users?  I'm concerned that production clusters need to be secure at General Availability such that kubectl credentials to access the cluster can't walk out of the organisation.  If an AA

[2018-05-26 20:10] msangapu commented on #8932
I apologize for the delay in providing an update. I was out sick. This was fixed on the day it was opened. Please close.

[2018-05-26 20:35] TravisCragg-MSFT commented on #9231
@Molotch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 20:36] TravisCragg-MSFT commented on #9235
@Q4living Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 20:37] ggailey777 commented on #7184
@ydogandjiev sorry for the delayed response. I think that the recommended way to do what you are trying to do is to use the [Cosmos DB SQL API client](http://azure.github.io/azure-documentdb-js/) in your function to explicitly do the delete, as shown in [these examples](https://docs.microsoft.com/azure/cosmos-db/sql-api-nodejs-samples#document-examples).

[2018-05-26 20:39] TravisCragg-MSFT commented on #9232
@KjetilEVRY Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-26 20:40] TravisCragg-MSFT commented on #9236
@denishol Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 20:41] TravisCragg-MSFT commented on #9229
@vlele Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 20:43] TravisCragg-MSFT commented on #9230
@vlele Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-26 20:45] ggailey777 commented on #9229
@rwike77 are you the right person to help with Service Fabric Mesh?

[2018-05-26 20:51] ggailey777 commented on #8976
@jphogberg just to confirm, you were able to see the **Add event subscription link** in the portal?
![image](https://user-images.githubusercontent.com/1388263/40580068-dc5dc20e-60eb-11e8-95e8-d854dcc6452c.png)

[2018-05-26 20:55] jphogberg commented on #8976
@ggailey777 yes, I could follow the next step in the guide as well and choose the "Create Event Subscription" settings as described. Once it was actually setting it up however I received an error, and looking into the error it was of type "Conflict". I tried several times with the same result, each time making sure I followed the guide starting from Part 1.

[2018-05-26 22:47] PingPongSet commented on #6564
Can anyone explain why Proxy help micro-services?

[2018-05-26 23:03] kgreed opened #9240 "Things that were confusing"
1) As I describe at https://stackoverflow.com/questions/50547314/please-specify-valid-openapi-specification-file/50547616#50547616
2) The documentation does not take me through the screens that I experience when I go to the developer portal.  I had to figure out to click Api Documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-26 23:09] luckyshop opened #9241 "Jacob@conrocosa"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-26 23:40] kgreed opened #9242 "Change the button name to Create"
Under "Enable response mocking" Step 7 should read "Select Create"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a4-6856-3705a705e23c
* Content: [Mock API responses with the Azure portal](https://docs.microsoft.com/en-us/azure/api-managemen

[2018-05-27 00:57] theheatDK opened #9243 "Why this solution when a "proper" solution is planned?"
Hi,
This is not the first automation solution from Microsoft to schedule stop/start of VMs.
While I appreciate the effort what we need is a simple solution build in to the platform not a complex automation solution.
It looks like this planned https://feedback.azure.com/forums/320373-devtest-labs/suggestions/17509267-support-auto-start-from-vm-blade.
But it has been a couple of years. It would be n

[2018-05-27 00:59] kgreed opened #9244 "docs don't match screen"
Under "To see the original response:"
Select the API tab.
Should say "Select the APIs tab"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f650a0b5-a147-ff23-533e-5a5481b3f02e
* Version Independent ID: 5271aa75-8a47-62fd-1e35-d0a23c58a6e2
* Content: [Transform and protect your API with Azure API Management](https://docs

[2018-05-27 01:08] kgreed opened #9245 "words / screen mismatch"
Under "Set the transformation policy"
The instructions say All Operations but the screen shows that GetSpeaker is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f650a0b5-a147-ff23-533e-5a5481b3f02e
* Version Independent ID: 5271aa75-8a47-62fd-1e35-d0a23c58a6e2
* Content: [Transform and protect your API with A

[2018-05-27 01:55] TravisCragg-MSFT commented on #9241
@luckyshop could you please post a brief description of your issue, as well as a link to the page that you are referring to?

[2018-05-27 01:57] TravisCragg-MSFT commented on #9243
@theheatDK Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-27 01:57] TravisCragg-MSFT commented on #9240
@kgreed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-27 01:58] TravisCragg-MSFT commented on #9242
@kgreed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-27 01:59] TravisCragg-MSFT commented on #9244
@kgreed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-27 02:00] jaider opened #9246 "obsolete"
app.UseOpenIdConnectAuthentication(...) is obsolete. http://go.microsoft.com/fwlink/?linkid=845470

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41684cfd-250e-251f-b059-1ca2ea2464bf
* Version Independent ID: d3b0a0ea-5d1f-0408-61bf-1fd95bacf00c
* Content: [Call a secured web api ASP.NET Azure Active Directory B2C](htt

[2018-05-27 02:01] TravisCragg-MSFT commented on #9245
@kgreed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-27 03:19] mzhukovs commented on #9051
Sorry one more quick one on this - what about updating the C# backend for AzureMobileApps  to latest .NET Core and EF Core? Or is [what it says here](https://github.com/Azure/azure-mobile-apps-net-server/issues/215) confirmed - i.e. this will not happen any time soon/at all? Is it best to jut use regular web api then? Thanks in advance for your insight @conceptdev

[2018-05-27 04:06] TravisCragg-MSFT commented on #9246
@jaider Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-27 04:28] MarkusVi commented on #9236
Hi @denishol, you are absolutely right, this is a typo. Thanks for bringing this up. I have staged a fix for this.

#please-close

[2018-05-27 04:51] nbering commented on #8212
I think the issue linking might have been broken... as the document appears to have been moved and is served with a redirect. The new URL is:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux

[2018-05-27 05:01] TravisCragg-MSFT commented on #9236
@denishol We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-27 05:01] #9236 closed

[2018-05-27 07:41] HowardvanRooijen opened #9248 "Broken Link"
The link https://blogs.msdn.microsoft.com/apimanagement/2018/03/28/important-changes-to-openapi-import-and-export/ in the call out "See this document for important information and tips related to OpenAPI import." is broken. Should it point to https://blogs.msdn.microsoft.com/apimanagement/2018/04/11/important-changes-to-openapi-import-and-export/

---
#### Document Details

⚠ *Do not edit this sec

[2018-05-27 07:56] StevenZhang81 opened #9249 "How to access remote hive table from current hive console"
Hi,
we have a computing scenario that is we need to do join operation for 2 tables in hive.
For example, in clusterA we create a table A in Hive and in clusterB, we created a table B in Hive which mapping to a Hbase table in clusterB. Then we want to write below SQL statement in Hive in clusterA like this :
select a.col1, b.col2 from ta inner join tb on ta.col3 = tb.col3

is there a way allow us t

[2018-05-27 08:19] sheheryarnaveed commented on #8669
Yeah I am facing the same problem. The api used on microsoft computer vision api website gives better result for OCR as compared to the v1.0 version api given on cognitive services. I believe the difference of v1.0 and v2.0 is the reason behind that. May I know how long is it going to take for getting the v2.0 version to get public?

[2018-05-27 09:21] usahh opened #9250 "Inspiration"
Inspiration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce7d1e8-e4b9-6152-4fbe-5d3f3d9f0583
* Version Independent ID: 7676911e-6a80-06f1-b429-a3ce399c386e
* Content: [How to add an existing Azure subscription to your Azure AD directory](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-how-su

[2018-05-27 09:22] usahh opened #9251 "Ms az"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-27 10:06] JozoSlejko opened #9252 "WATM acronym"
Please explain the usage of WATM acronym for Azure Traffic Manager in this article. It seems this acronym is in fact an older one and isn't used any more. Microsoft Azure Traffic Manager is the name of the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa6b22d-e969-1a7b-5598-a34e0f6314a6
* Version Independent

[2018-05-27 12:27] theheatDK opened #9253 "Example with existing vnet"
Hi,
In this example the GatewaySubnet subnet is created together with the vnet. In most real life situations you will have an existing vnet where you have to add the GatewaySubnet subnet. When you do this you run in to a situation where the new subnet does not have an Id. It would be nice with an example or hints how to get around this.
Here is an example of somebody else that also has run into th

[2018-05-27 12:33] theheatDK commented on #9253
Hi,
Looks like it works if you execute Get-AzureRmVirtualNetwork again after adding the subnet:

$vnet = Get-AzureRmVirtualNetwork -ResourceGroupName $rg_name -Name $vnet_name

Add-AzureRmVirtualNetworkSubnetConfig -Name $subnet_name -VirtualNetwork $vnet -AddressPrefix $subnet_address | Out-Null
Set-AzureRmVirtualNetwork -VirtualNetwork $vnet | Out-Null
Get-AzureRmVirtualNetwork -ResourceGroupNam

[2018-05-27 12:33] mzhukovs opened #9254 "Azure Mobile App Backend Upgrade to .NET Core?"
With .NET Core 2.1 around the corner - will Azure Mobile Apps finally be upgraded to .NET Core and latest Entity Framework Core as well? Also, when I click on Product Feedback here, it takes me to the Azure Mobile App page (literally the app, not Azure Mobile Apps framework).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-05-27 16:28] jinek opened #9255 "Threre is no need to Sleep(1000)"
Flush is synchronous operation, internally it calls InMemoryTransmitter.Send(telemetryItems, timeout).Wait();
That means current thread will be blocked until Task returned by Send method is finished.

If somehow there are internal asynchonous operation is it guaranteed to finish within 1 second?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-27 16:34] mahanpathak opened #9256 "redirectURI"
a few examples of redirect URI could have saved a lot of time .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e20651-5b2b-bd0b-dc92-a4a3643776ef
* Version Independent ID: c9e25d10-4298-c95d-d24a-25a45c47e9ac
* Content: [Authorization code flow - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b

[2018-05-27 17:50] kobulloc-MSFT commented on #9249
@StevenZhang81 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-27 17:52] kobulloc-MSFT commented on #9252
@JozoSlejko Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-27 17:53] kobulloc-MSFT commented on #9248
@HowardvanRooijen Thank you for catching this!  We'll get that link corrected shortly.

[2018-05-27 17:55] kobulloc-MSFT commented on #9255
@jinek Thank you for pointing this out.  We'll look into this and get back to you shortly.

[2018-05-27 17:56] kobulloc-MSFT commented on #9253
@theheatDK Thank you for the feedback!  We will take a look at this and will get back to you shortly.

[2018-05-27 17:58] kobulloc-MSFT commented on #9250
@usahh Thank you very much!

[2018-05-27 17:58] #9250 closed

[2018-05-27 17:58] conceptdev commented on #9051
The final comment on that thread is from the product team, which basically confirms only the .NET Framework version is available.

[2018-05-27 17:59] kobulloc-MSFT commented on #9256
@mahanpathak Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-27 18:00] kobulloc-MSFT commented on #9254
@mzhukovs Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-27 18:03] kobulloc-MSFT commented on #9251
@usahh It doesn't look like you have a document question, so I'm going to close this.  If there is a document question you need answered, please open a ticket and we'll get back to you promptly.

[2018-05-27 18:03] #9251 closed

[2018-05-27 18:08] conceptdev commented on #9254
There is an [answer on .NET Core question](https://github.com/Azure/azure-mobile-apps-net-server/issues/215) from the product team, and also [here](https://github.com/MicrosoftDocs/azure-docs/issues/9051#issuecomment-392302436). There are no plans to upgrade.

Thanks for the tip on the **Feedback** button, I'll try to get it pointing to a better location.

[2018-05-27 18:46] megadix opened #9257 "docker push always fails partially with EOF"
When I try the `docker push` step, it consistently fails to upload the last layers. It retries a couple of times, then prints EOF and exists.
E.g.:

[code]

Is this because I'm using the free tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dc1f78-5ef2-391c-732f-740c0ca12880
* Version Independent ID: ffad8c17-c1e

[2018-05-27 20:43] aydeisen commented on #8277
@TolliLF: So, since we're discussing the best practice document, what is the best practice?  Add disks to the existing pool or create a new pool with the new column count and migrate the databases?

[2018-05-27 22:59] SeaDude commented on #8883
Had to login and logout of qnamaker.ai to get a tenant option to display.

[2018-05-27 22:59] #8883 closed

[2018-05-27 23:04] SeaDude opened #9258 "Great tutorial"
I write tech docs for a living. This tutorial was awesome and it worked without issue. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996eb4d1-198e-a69a-b9c5-d247db46d025
* Version Independent ID: 5bfe27b3-22e9-efa8-6a1c-3637aa39a049
* Content: [Tutorial - Secure a Linux web server with SSL certificates in A

[2018-05-27 23:53] rickd18 commented on #9100
Agreed.... why waste the time Microsoft?????
Nothing better to do.?!

[2018-05-27 23:56] rickd18 commented on #9203
Agreed. Even when you agreed to stay signed-in...

[2018-05-28 00:09] kobulloc-MSFT commented on #9257
@megadix Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-28 00:14] kobulloc-MSFT commented on #9258
@SeaDude (Including @iainfoulds and @MicahMcKittrick-MSFT )  Thank you very much for the positive feedback :)  We are working very hard to make high quality documents and it's always great to get compliments like this.  Thank you!

[2018-05-28 00:14] #9258 closed

[2018-05-28 00:19] limjianan opened #9259 "Coding"
This is an audit sample- hence the output file should be audit.json instead of signin.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee022017-8f87-7f2a-0569-7989dfc9359f
* Version Independent ID: 0dc5d542-1167-7645-4b9f-a80ea8e29c95
* Content: [Azure Active Directory reporting audit API samples](https://docs.micro

[2018-05-28 00:49] markmassad opened #9261 "The more information on Azure Diag extension is insufficient and out of date"
The more information on Azure Diag extension is an old blog post and not authoratively sufficient for enterprise customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2de55b5-9d87-fdb9-3040-6bdf3cf8ff0b
* Version Independent ID: 4e3fbc53-a0d2-182a-9d57-b94caba27fbf
* Content: [Azure VM extensions and features for

[2018-05-28 01:18] andrew-best-diaxion opened #9263 "Sequencing of steps in this document differs from the "JIRA SAML SSO by Microsoft - Quick start""
This document says the high level steps are:
- Configure Azure AD Single Sign-On - to enable your users to use this feature.
- Create an Azure AD test user - to test Azure AD single sign-on with Britta Simon.
- Create a Microsoft Azure Active Directory single sign-on for JIRA test user - to have a counterpart of Britta Simon in Microsoft Azure Active Directory single sign-on for JIRA that is linke

[2018-05-28 01:19] andrew-best-diaxion opened #9264 "Update for current JIRA versions"
The doco above says the plugin us supported up to to JIRA 7.2.
JIRA is now at version 7.9. Is this supported?
I ran this in JIRA 7.8 and it worked fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial

[2018-05-28 01:28] platipusica commented on #8132
Hi there!
Thanks for this tutorial.
In web.2.7.config file, line 6:
D:\home\site\wwwroot\env\Scripts\activate_this.py

File web.3.4.config, line 4:
value="D:\home\site\wwwroot\env\Scripts\python.exe" />

I do not think this file exist anywhere on our Azure account?

Please advice.

Thanks

Dean

[2018-05-28 02:08] bingosummer opened #9266 "Does Accelerated Networking support multiple network interfaces?"
Is it possible to document whether Accelerated Networking supports multiple network interfaces? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure virtual machine with Accelerated Networkin

[2018-05-28 02:43] karataliu opened #9268 "Configuration link for Azure Storage all unavailable"
Azure Storage	Preview	May 2018	Azure portal
PowerShell
Azure CLI	REST
.NET
Java
Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support Managed Service Identity](https://docs.microso

[2018-05-28 03:00] scarson opened #9269 "Dynamics 365 administrator role has typo in Azure AD, and documentation role name does not match console role name"
The documentation titles this role "Dynamics 365 service administrator", while in the Azure AD console it's listed as "Dynamic 365 administrator". The documentation should likely drop the "service", while the role name in the console is missing the "s" in "Dynamics".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767a

[2018-05-28 03:01] scarson commented on #9269
<img width="1280" alt="azuread-dynamics365admintypo" src="https://user-images.githubusercontent.com/9357767/40595293-ac72d270-61e8-11e8-857e-09b92214ae98.png">

[2018-05-28 03:02] scarson commented on #9269
<img width="1280" alt="azuread-dynamics365admintypo" src="https://user-images.githubusercontent.com/9357767/40595356-eddd60c2-61e8-11e8-83db-150e439913ea.png">

[2018-05-28 03:03] scarson commented on #9269
<img width="1280" alt="azuread-dynamics365admintypo" src="https://user-images.githubusercontent.com/9357767/40595389-0e221594-61e9-11e8-9adc-f91a18d1b1e1.png">

[2018-05-28 03:14] #9025 closed

[2018-05-28 03:17] scarson opened #9270 "Inconsistent capitalization of "Administrator" and other admin role strings in documentation, which also doesn't match the capitalization in the Azure AD console"
Azure AD console has all "administrator" strings in the console lower cases, while the documentation shows a mix (though mostly upper case). Inconsistent within documentation sections as well. For example, under Available Roles it's "Billing Administrator", while under Administrator permissions it's "Billing administrator". Side note that "permissions" in the "Administrator permissions" should lik