[2019-09-04 02:53] DixitArora-MSFT commented on #38044
@petehe For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 02:53] #38044 closed

[2019-09-04 02:56] DixitArora-MSFT commented on #38224
Hi @yevster Thanks for your feedback. We will review and update as appropriate.

[2019-09-04 02:59] DixitArora-MSFT commented on #38213
Hi @fernandoBRS Thanks for your feedback. We will review and update as appropriate.

[2019-09-04 03:04] DixitArora-MSFT commented on #38217
Hi @fernandoBRS Thanks for your feedback. We will review and update as appropriate.

[2019-09-04 03:04] redliu312 commented on #33387
meet the issue too and like @vpopescu said, the workround for now is
*add kubernetes_version: [verison]* in the yaml, e.q:

[code]

[2019-09-04 03:05] KrishnaG-MSFT commented on #38183
@StormRider01 Verified and updated the document as required. Thanks.

[2019-09-04 03:05] #38183 closed

[2019-09-04 03:08] IshamMohamed opened #38234 "Is using failover groups with managed instances still in preview?"
In Azure portal, it does not say this is in preview, but this page and https://docs.microsoft.com/en-my/azure/sql-database/sql-database-auto-failover-group page also says "Auto-failover groups for Managed Instance is in public preview" - can I use this in production workload?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-04 03:15] sasha-melamed opened #38235 "broken link?"
see this sentence:
For more information, see [Switch licensing model](virtual-machines-windows-sql-ahb.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a863cb0-c5d3-87d6-7c4d-28a1316d70f8
* Version Independent ID: e56cf79c-d919-92d7-d3a0-05ada08ba17b
* Content: [Manage costs effectively for SQL Server on Azure virtua

[2019-09-04 03:21] sgandewar commented on #38173
Does this feature work currently? I have added 2 alert rules and none of them are getting triggered even when Monitor condition 'Fired' meets.

[2019-09-04 03:38] rwike77 commented on #38050
@hpsin, can you answer this one?  Thanks

[2019-09-04 03:39] KrishnaG-MSFT commented on #38173
Assigning @ananthradhakrishnan for visibility, help and to review & provide insights on this feedback.

[2019-09-04 03:46] MicahMcKittrick-MSFT commented on #38215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 03:47] MicahMcKittrick-MSFT commented on #38216
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 03:47] JoelHazelton opened #38236 "Sign-in frequency with Seamless SSO"
We have a managed domain with Seamless SSO enabled and a 12-hour sign-in frequency policy. I've noticed that when a user is prompted to re-authenticate to any desktop app (e.g. Outlook, Teams, etc) per the 12 hour sign-in frequency policy, they are always prompted to enter a password rather than leverage single sign-on. Conversely, when a user manually signs out of an application, when they log ba

[2019-09-04 03:47] MicahMcKittrick-MSFT commented on #38222
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 03:48] MicahMcKittrick-MSFT commented on #38226
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 04:10] joyceywho opened #38237 "Set up microphone in Azure Kinect DK links to hardware specification is confusing."
When trying to follow the step of “Set up microphone in Azure Kinect DK” from Access Azure Kinect DK microphone input data page, it links to Azure Kinect DK hardware specifications. It feels a bit weird as users are expected to get the steps on how to get started to work on Azure Kinect DK microphone array instead of learning the hardware spec.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟

[2019-09-04 04:14] aquibqureshi26 opened #38238 "Powershell Sample Link for configuring Outbound Rule in Std LB"
Hi Team,

At the end of the page we can get how we can configure outbound rule using azure cli. But When i searched i cannot find PowerShell cmdlets to configure outbound rule. Can you please attach link in this page please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 029a0976-dcb7-84ea-121d-429749985a1a
* Version I

[2019-09-04 04:24] RohitMungi-MSFT commented on #38228
@KingdomOfEnds Thanks for the feedback and submitting the [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/87350) @vijetajo Could you please review and approve the PR?

[2019-09-04 04:25] eyast opened #38239 "Contradiction of statements ?"
in the foundational capabilities section, a table describes that the property "Delivery Guarantee" has the value "At least once" for both queue types.
But in the subsequent section entitiled "additional information", there's a bullet point that reads

"Service Bus queues support the At-Least-Once delivery guarantee."

it is unclear if the "at least once" property is exclusive to Service Buses, or

[2019-09-04 04:29] souravmishra-msft commented on #38218
@lucafabbri365 , Thank you for bringing this up. We are looking into this and will update the document.

[2019-09-04 04:30] hpsin commented on #38050
Yes PKCE is supported and recommended. I'm not sure what led to this question being asked - @kmathgir can you expand?

[2019-09-04 04:33] msrini-MSFT commented on #38238
@aquibqureshi26 , Thank you for your feedback. I will assign this issue to author to add PS commands.

[2019-09-04 04:34] souravmishra-msft commented on #38227
@Samsinite , We are looking into this and will be back with some more details on this shortly.

[2019-09-04 04:34] msrini-MSFT commented on #38238
@asudbring , Can you take a look?

[2019-09-04 04:37] msrini-MSFT commented on #38179
@ronaldmeran , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 04:38] msrini-MSFT commented on #38180
@OffColour , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 04:39] msrini-MSFT commented on #38200
@sugarjig , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 04:40] msrini-MSFT commented on #38209
@cyamasaki8 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 04:41] shashishailaj commented on #38223
@jerms0518 Thank you for your query. We will investigate and update the thread.

[2019-09-04 04:43] msrini-MSFT commented on #38229
@iizotov , Azure DDOS is a service which is used to protect resources which has a public IP and deployed in a VNET.

Azure DDOS Standard is not used for Azure DNS. Azure DNS is a global service and it is protected by the Infrastructure itself.

Let me know if you have any further questions.

[2019-09-04 04:43] shashishailaj commented on #38230
@VNJoe Thank you for your query. We will investigate and update this thread.

[2019-09-04 04:45] RohitMungi-MSFT commented on #38159
@shafalfa We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 04:45] #38159 closed

[2019-09-04 04:45] neeleshray-msft commented on #38233
@aszalacinski  Thank you for your feedback. We will investigate and update the document.

[2019-09-04 04:46] msrini-MSFT commented on #38225
@xenalite , thank you for your feedback.

@sharad4u , can you share your thoughts on how we can prevent this issue in the future?

[2019-09-04 04:47] shashishailaj commented on #38236
@JoelHazelton Thank you for your query. We will investigate and update the thread .

[2019-09-04 04:50] rkttu-devsisters opened #38240 "remix.ethereum.org has new layout"
remix.ethereum.org has new web site layout and this tutorial does not fit the current status. Please update the content of this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27fa8d9-403c-653d-6a73-df7c358ac493
* Version Independent ID: ba7cc0cd-6d4e-bf8e-6f27-d8f0e333d240
* Content: [Connect MetaMask to an

[2019-09-04 04:50] thi-baut opened #38241 "Azure AD B2C limits?"
Hi, are the limits for Azure AD also applying to Azure AD B2C? I am looking for the maximum number of objects that can be created in Azure AD B2C.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure s

[2019-09-04 04:52] AlexanderTodorovic commented on #38115
@YutongTie-MSFT I've attached the steps from the UI. Does this help to resolve the issue? Thanks, Alex
![iw3](https://user-images.githubusercontent.com/7408389/64226642-2a2a6980-cf1b-11e9-8803-e4e8129cf6e1.jpg)
![iw4](https://user-images.githubusercontent.com/7408389/64226643-2ac30000-cf1b-11e9-8127-68b41892c514.jpg)
![iw1](https://user-images.githubusercontent.com/7408389/64226644-2ac30000-cf1b-1

[2019-09-04 04:54] VikasPullagura-MSFT commented on #38235
@sasha-melamed Thanks for the feedback. I have raised a PR for fixing the broken link, the changes will be live once it is approved.

[2019-09-04 04:58] ManojReddy-MSFT commented on #38158
@msandeep22 Thanks for sharing the link. I have updated the doc and it will be published shortly.

[2019-09-04 05:04] #38158 closed

[2019-09-04 05:22] AshokPeddakotla-MSFT commented on #38240
@rkttu-devsisters Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-04 05:29] femsulu commented on #37862
@qianw211, can you please review and confirm?

[2019-09-04 05:30] souravmishra-msft commented on #38218
@lucafabbri365 , Thanks for reporting this. I have made the changes to the doc and the changes would be visible shortly.

[2019-09-04 05:36] femsulu commented on #37922
@tomArcherMsft - any insights please?

[2019-09-04 05:39] PanuSaukko commented on #38181
Thanks for the answer. You can close the issue.

[2019-09-04 05:51] ManojReddy-MSFT commented on #37843
@Roywizeman We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-04 05:52] #37843 closed

[2019-09-04 05:52] prabansa commented on #37527
@hansmbakker
Thanks for sharing the feedback. Storing endpoint key is like storing any other secret in KeyVault. Also if you update the keys (using Refresh Endpoint Keys API), those keys need to be synced in KeyVault.
Hope that helps.

[2019-09-04 05:52] SubhashVasarapu-MSFT commented on #37963
@dcallagh, Just checking whether you got some time to check my previous response. Let us know for further analysis.

[2019-09-04 06:01] cassm199 commented on #35466
do you have any updates on this issue?

[2019-09-04 06:11] kewu-93 opened #38242 "Unit error in Chinese version"
English version page: https://azure.microsoft.com/en-us/pricing/details/expressroute/ the unit of the bandwidth is Mbps/Gbps.
While in Chinese version: https://azure.microsoft.com/zh-cn/pricing/details/expressroute/ the unit is Mbp/Gbp.
Please correct the typo error in the Chinese version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-04 06:18] johngodel opened #38243 "Face API call failed on frame"
I get the following response, "Face API call failed on frame (eg. 261). Exception: Operation returned an invalid status code 'NotFound'. What should I do?
![Captureface](https://user-images.githubusercontent.com/42683896/64230260-28bc5b00-cea1-11e9-8fa4-afab83b0533a.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2019-09-04 06:20] KetanChawda-MSFT commented on #38006
@surajsupremegolf Since this issue is not related directly to the doc, I would recommend you to create a issue on the [Azure Functions product repo](https://github.com/Azure/azure-functions-host/issues). Once you post your issue on repo, it will have visibility across the product owners which is a better suited audience for such types of issues.

I have find a similar [issue](https://github.com/Az

[2019-09-04 06:20] #38006 closed

[2019-09-04 06:21] jsiegmund opened #38244 "cdnverify does not work when transferring between two Verizon hosted endpoints"
During a migration we have found that the use of the "cdnverify" record does not work as documentation describes when moving between two CDN endpoints which are both hosted on Verizon. This was confirmed by a Verizon support engineer:

"The cdn verify process works when migrating from another cdn provider, but when moving from one profile to another, this will not be helpful. We have a duplicate c

[2019-09-04 06:32] hansmbakker commented on #37527
@prabansa the issue is not how to get a secret into KeyVault.

The issue is how to get the endpointKey out of a QnA Maker instance using an ARM template.

[2019-09-04 06:36] PramodValavala-MSFT commented on #38239
@eyast Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-09-04 06:37] iizotov commented on #38229
Understand that. To rephrase my original question, are there any mechanisms in place that would give Azure customers using Azure DNS peace of mind that said service is resillient to DDoS attacks? If so, this should be reflected in the documentation.
Thanks!

[2019-09-04 06:38] msrini-MSFT commented on #38242
@kewu-93 , Thank you for your feedback. Unfortunately, I will not be able to do the change as pricing is not Azure doc repro.

@mialdrid , Can you comment on how we can get this fixed?

[2019-09-04 06:46] ThalathBhagya commented on #38169
Hi @jrudlin , document is updated with correct file name "vcredist2013_x6" so closing this issue.

[2019-09-04 06:46] ThalathBhagya commented on #38169
#please-close

[2019-09-04 06:46] #38169 closed

[2019-09-04 06:58] scoriani opened #38245 "Typo on SQL Server process name"
It is "sqlservr.exe" and not "sqlserver.exe".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c2dff-dcca-2a91-8f0b-9dc0853c5fb5
* Version Independent ID: f59e13bd-bcd1-c7e6-dd45-4a7834a6c8db
* Content: [General-purpose service tier - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database

[2019-09-04 07:00] msrini-MSFT commented on #38209
@cyamasaki8 , It should work. As long as there are no overlaps of IP address between VNETs. Also when you have both Express route and the VPN gateway co-existing in a VNET, Express route gateway will be primary. So make sure that the address prefix of WAN VNET is not been advertised to Express route by any means.

Let me know if you have any further questions.

[2019-09-04 07:02] msrini-MSFT commented on #38244
@jsiegmund , Thank you for your feedback. We will investigate and get back to you shortly.

@mdgattuso , Can you take a look at this issue ?

[2019-09-04 07:20] JamesHeathcote commented on #37989
Speaking with an engineer the problem has been escalated to a escalation manager as my issue could be reproduced.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, September 3, 2019 10:08:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Heathcote <james.heathcote@unily.com>; Me

[2019-09-04 07:22] AshokPeddakotla-MSFT commented on #38237
@joyceywho Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-04 07:23] RohitMungi-MSFT commented on #38243
@johngodel Could you please let us know the documentation/steps or quickstart link that you are using before this error is seen?

[2019-09-04 07:27] jorgensigvardsson commented on #13090
Another thing to understand is that uniqueness is only ensured within partitions. If your partition key is not part of the unique key, then the uniqueness of items in the collection might not be what you want!

[2019-09-04 07:34] mcheale-tonik opened #38246 "Better clarification around not using hierarchical namespace"
Although it states use cases of why not to use the hierarchical namespace it leaves me with questions around if there's any downsides to enabling it, e.g. cost or file level performance impact. Additionally whether the feature can be enable/disabled once provisioned would help.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-04 08:34] simonvane opened #38248 "Watch for page changes"
Is there a way in which I can choose to follow certain pages and be notified of changes to them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ed2449-4122-2660-56be-78ceebd0de66
* Version Independent ID: b5b1c94e-3efe-b234-5366-79823678f237
* Content: [Monitor Azure Event Grid message delivery](https://docs.microsof

[2019-09-04 08:46] IanKemp commented on #33475
So "soon" doesn't mean within 3 months, I take it?

[2019-09-04 08:48] dralpus opened #38249 "Is there a way to modify existing container RUs?"
All the samples show how to set RUs when creating the container. It is possible to change RUs from the portal, but is there a way to modify this programmatically?

Is there a way to modify existing container RUs? I am particularly interested in Node.js API implementation.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-04 08:53] SubhashVasarapu-MSFT commented on #38232
@cogran, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-04 08:55] AshokPeddakotla-MSFT commented on #38167
@rbrundritt Thanks for looking into this issue.
@sujayvsarma As mentioned, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 08:58] SwathiDhanwada-MSFT commented on #38137
@edlang From the information provided , i could infer that you are using on premise gateway for scheduling the refresh. As it's more related to Power Bi, i would recommend you to raise the issue using either of these methods
1) https://community.powerbi.com/
2) If you have Pro license , you can raise [support ticket](https://powerbi.microsoft.com/en-us/support/pro/)
3) https://github.com/Microsoft

[2019-09-04 09:09] AshokPeddakotla-MSFT commented on #37980
@menmikimen Did you get a chance to the above response? Please share the requested details.

[2019-09-04 09:10] BhupalPatil opened #38250 "Viewing Device Data more interactively using azure service (paas/saas)"
Hi Team,  This documentation talks about viewing device message on Power BI or using Web app.

is there any option (saas or paas) available within azure portal itself to view the messages more interactively? Don't want to build new application or use power BI tool. looking for something within Azure itself which lets view the messages sent by devices more interactively (apply filter/report etc...)

[2019-09-04 09:20] iilyin commented on #37611
Unfortunately, issue is still there, even when I use  https://login.microsoftonline.com/ivanilyinscandgmail.onmicrosoft.com for login and consent.
I get the following error when I try to login with guest user after admin granted consent:

invalid_grant: AADSTS65001: The user or administrator has not consented to use the application with ID '090492c9-fb3f-4ffd-95de-00284f06f957' named 'Test'. Send

[2019-09-04 09:22] AjayKumar-MSFT commented on #33417
joalcava, Apologies for the delay! I noticed that you have already raised a GitHub issue on this.
However, since this channel is reserved for ‘Azure docs’ questions- For doc feedback and content improvements, we recommend posting technical questions on the [technical forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview) where one of our specialized engineers

[2019-09-04 09:22] KetanChawda-MSFT commented on #38248
@simonvane Can you please elaborate on pages? What do you actually mean by pages in context of this document?

[2019-09-04 09:23] saurabhsensharma commented on #37929
@karlochacon, we only support 64-bit operating systems. Please refer to this link for the official support statement for MARS Agent. https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#support-for-direct-backups

[2019-09-04 09:24] saurabhsensharma commented on #37929
#please-close

[2019-09-04 09:24] #37929 closed

[2019-09-04 09:26] simonvane commented on #38248
I mean any documentation page in  https://docs.microsoft.com/en-us/. The
documentation changes rapidly, especially for Azure, and it would be great
to be notified of those changes for topics I am interested in . This could
either be a specific page or a page and all it's child pages.

On Wed, 4 Sep 2019 at 10:22, KetanChawda-MSFT <notifications@github.com>
wrote:

[2019-09-04 09:26] KalyanChanumolu-MSFT commented on #38245
@scoriani Thank you for reporting this issue, I have updated the doc accordingly.
The changes should be live by EOD.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-09-04 09:26] #38245 closed

[2019-09-04 09:39] DixitArora-MSFT commented on #38164
@mfalkvidd You can inject the CosmosClient directly.

[There's an example of this in the Cosmos client samples directory ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/AzureFunctions/AzureFunctionsCosmosClient.cs)which includes the following code:

private CosmosClient cosmosClient;

public AzureFunctionsCosmosClient(CosmosClient cosmosClie

[2019-09-04 09:47] DixitArora-MSFT commented on #38153
@piquet-h There is already a workaround for this discussed in [GitHub issue.](https://github.com/MicrosoftDocs/azure-docs/issues/18326) . This workaround was shared initially on [StackOverflow](https://stackoverflow.com/questions/44916811/difference-among-the-azure-cosmosdb-query-explorers-results-and-the-azure-funct/44918767#44918767). As there is a already an open issue which is been looked by A

[2019-09-04 09:47] PramodValavala-MSFT commented on #26312
Apologies for not getting back sooner.

@krispenner Thanks for helping out! You are right about the request being made via a proxy and **not** by the browser directly. My bad. I seem to have confused the behavior with another service.

Except consumption, all tiers have a static IP with a few exceptions as [documented here](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto

[2019-09-04 09:47] DashleenBhandari-MSFT commented on #38131
@sirquits , Since you managed to fix the issue , I will go ahead and close the issue. Please feel free to reopen the issue if you need any assistance.

[2019-09-04 09:47] #38131 closed

[2019-09-04 09:50] DashleenBhandari-MSFT commented on #38093
@joalcava , Could you please elaborate the issue? Which time zone are we trying to set? Where do you check after updating the app settings.

[2019-09-04 09:50] KetanChawda-MSFT commented on #38248
@simonvane This channel is for driving improvements towards the content of MS Docs, Since this issue is not related directly to the doc content,  I would recommend you to create a issue on [this github repo](https://github.com/MicrosoftDocs/feedback/issues) Once you post your issue, it will have visibility across the platform owner which is a better suited audience for such types of issues.

[2019-09-04 10:00] nehaob26 commented on #26312
@PramodValavala-MSFT : Hi , Thanks for your input, I was going through the documentation and it seems to secure my backend api in consumption plan I need to use client certificate authentication https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates-for-clients
Trying to implement that.

[2019-09-04 10:01] piquet-h commented on #38153
That is not a workaround for this issue. It is related to the fact that nested properties are not supported.

It is not related to escaping parenthesis or geospatial queries.

If you look at the code that implements it, you can see that the dictionary only implements one layer deep.

The dictionary should recurse if it finds a dot in the template.

Get Outlook for Android<https://aka.ms/ghei36>

_

[2019-09-04 10:06] kaank commented on #20914
Sections are still empty in 2019

[2019-09-04 10:11] KarlGW commented on #38165
For those like me, that need to filter/get date ranges, I found this (found in the Azure SDK for Go source code for UsageDetails):

`&$filter=properties/usageStart eq 'yyyy-MM-dd 00:00:00'`

And

`&$filter=properties/usageStart eq 'yyyy-mm-dd HH:MM:ss' and usageEnd 'yyyy-mm-dd HH:MM:ss'`

[2019-09-04 10:12] iAmSaugata opened #38251 "Complete Logout from Azure"
Hi,
is there anyway to configure complete logout from Azure, when i logout from AWS Management Console. Currently I have configured MFA, and I can logon to AWS Management Console using the direct App URL, and during logon it asking me to send MFA notification to my mobile, which is perfectly fine, and after I approved it from my mobile, I am able to logon to AWS Management Console, but while i log

[2019-09-04 10:12] abazanov commented on #34392
@mmacy is there anyway you could let me know when I would be able to `Create consumer user accounts` through Microsoft Graph SDK? Everywhere I read, I am encouraged to not opt for the Azure AD Graph, but I need to create consumer accounts in by B2C tenancy. Thanks.

[2019-09-04 10:15] mfalkvidd commented on #38164
Thanks @DixitArora-MSFT
Sorry for being unclear.

I'm not actually interested in using the Cosmos client. I just expected the documentation on how to use dependency injection to actually use the dependencies that are injected.

Imho, the documentation could be made clearer by either of:
a) Remove everything that mentions Cosmos, since the cosmos service isn't used
b) Add the CosmosClient to the Ht

[2019-09-04 10:20] jtracey93 opened #38252 "Is the CSV getting updated every time changes are made to this page?"
Hey,

It doesn't look like the CSV is getting updated every time there is a change to this page.

Is there any chance this could be automated or exposed via an API etc... for each resource?

Let me know

Cheers

Jack

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f4e1d2-5b58-3d7c-6a97-d0e7bcacd402
* Version Independe

[2019-09-04 10:20] SumanthMarigowda-MSFT commented on #38246
@mcheale-tonik Thanks for your question. We are checking on this and will respond to you soon.

[2019-09-04 10:22] KalyanChanumolu-MSFT commented on #38234
@IshamMohamed Thank you for your interest in SQL Managed Instance.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-04 10:25] AshokPeddakotla-MSFT commented on #33068
@UlucFVardar Have you had a chance to see the above response?

[2019-09-04 10:35] SadiqhAhmed-MSFT commented on #38165
@KarlGW Thanks for updating the post with the details.

[2019-09-04 10:44] AshokPeddakotla-MSFT commented on #38250
@BhupalPatil Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 10:51] KrishnaG-MSFT commented on #38252
@jtracey93 Thanks for your comment. The feedback has been shared with the content owner for further review.

[2019-09-04 10:57] WillFulmer commented on #5155
Likewise. Any update?

[2019-09-04 11:05] SadiqhAhmed-MSFT commented on #38241
@thi-baut Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-09-04 11:25] #38123 closed

[2019-09-04 11:25] KetanChawda-MSFT commented on #38123
@skmunichetty Thank for pointing this out. I have created a PR which will update the document with suggested changes. It will take 24 hrs to refresh the content in public document.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 11:33] boqsernmcpopsern commented on #22913
@danielkboyer  @macio-matheus

see: https://azure.microsoft.com/en-us/updates/a-new-set-of-azure-sdks-is-now-available-in-preview/

[2019-09-04 11:35] joalcava commented on #38093
@DashleenBhandari-MSFT  I have figured out, the problem is the list of accepted values for TimeZones that [is in the docs,](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-time-zones) none of them works with Linux.
For example, to set the time zone to **UTC -05:00 Bogota, LIma, Quito**, you can set the environment variable '**WEBSITE_TIME_ZONE**' to **'SA Pacific Stan

[2019-09-04 11:40] joalcava commented on #33417
@AjayKumar-MSFT Thanks for your response, I have figured out how to solve it. However there is no information about it in the docs, the values on the list of available timezones does only work with Windows.
The values that do work in Linux are the ones retrived by the package tzdata (on debian)

[2019-09-04 11:44] gabrielnespoli opened #38253 "Trigger system variables are incorrect in Trigger Type Comparison"
Instead of
  triggerOutputs().windowStartTime
  triggerOutputs().windowEndTime
Should be
   @trigger().outputs.windowStartTime
   @trigger().outputs.windowEndTime

https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipeline-execution-triggers#trigger-type-comparison

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-04 11:51] SubhashVasarapu-MSFT commented on #38160
@nehatiwari1994, Ideally there should be no downtime for application gateway in disabling or enabling the owasp rule. The only thing you have to concern about is the rule usage and traffic rules on it. If you are really not bothered about that rule then you can proceed. But, again have a vision on the vulnerabilities.

[2019-09-04 11:57] KrishnaG-MSFT commented on #38177
@adamrmcclain I tried to reproduce the issue but surprisingly I was able to see the content "**{"jsonMessage": "test", "object": true}**" as description in webhook payload without any issues. I would suggest you to please double check, re-try and see if the issue gets resolved for you.

[2019-09-04 12:01] KrishnaG-MSFT commented on #38205
@yobyot Verified and updated the document as required. Thanks.

[2019-09-04 12:01] #38205 closed

[2019-09-04 12:07] karthiksubramanians commented on #38146
This is the code I am using to set preferred locations:

[code]

The logs show that the read and write endpoint are still pointing to the portal endpoints and not the regional specific endpoints.

Regarding REST API, i created the postman collection for azure services and all other rest calls like databases, collections, querying documents is working fine. Is the authorization for the regions only

[2019-09-04 12:08] rayne-wiselman commented on #37336
Hi, this isn't a doc issues since the doc correctly states that we supported OSes supported by Azure. However, the product team will take this as an item. Thanks for your feedback!

Closing as doc issue. #please-close

[2019-09-04 12:08] #37336 closed

[2019-09-04 12:09] rayne-wiselman commented on #36486
Now added. Thanks!
#please-close

[2019-09-04 12:09] #36486 closed

[2019-09-04 12:17] FSou1 opened #38254 "Update a list of available regions of Azure Cognitive Services"
The list of available regions under the **multi-service subscription** chapter is out of date (e.g. the `centralus` region is missing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69823924-7def-6548-4f85-4ab9b8075d46
* Version Independent ID: 9593dc98-656c-a73a-cbe6-ce201e497b11
* Content: [Translator Text API V3.0

[2019-09-04 12:21] ragedrk opened #38255 "ux customization - video tag not working"
Hello, tag video seems supported but not working, only the very first frame is loaded, it does not play or stream, like the Azure B2C injected html load the page and then stop asking for content from the video source.
mp4 and webm doesn't work, CORS allowed and working, html code is correct because the page works fine when called directly and not by Azure B2C.
Tried with source video file both on

[2019-09-04 12:22] ragedrk commented on #38255
Hello, tag video is supported but not working, only the very first frame is loaded, it does not play or stream, like the Azure B2C injected html load the page and then stop asking for content from the video source.
mp4 and webm doesn't work, CORS allowed and working, html code is correct because the page works fine when called directly and not by Azure B2C.
Tried with source video file both on a p

[2019-09-04 12:30] msrini-MSFT commented on #38249
@dralpus , thank you for posting here.

Can you please reference the doc which you are referring to?
What is the Azure service that you are referring here?

[2019-09-04 12:33] sujayvsarma commented on #38167
@rbrundritt  @AshokPeddakotla-MSFT

Azure AD method is not really viable for the following reasons. The Setup / configuration path is really convoluted. You have THREE "applications" to deal with:
- Azure Maps Application
- The Azure AD registration of the Azure Maps Application
- The App Service that you would be creating that runs the site that uses the Maps

The docs that currently provide conf

[2019-09-04 12:39] ChiragMishra-MSFT commented on #38253
@gabrielnespoli Thanks for bringing this to our notice. We are investigating into it and will update as appropriate.

[2019-09-04 12:46] NeoAcheron opened #38256 "API List access"
Would it be possible to get these lists from an API for automation and system checks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Diagnostic Logs supported services and schemas](https://docs.microsof

[2019-09-04 12:46] xenalite opened #38257 "Where to find why health probes are failing?"
I had health probes failing on one of my instances. I could not figure out why Front Door did not connect to it.
Are there any logs or diagnostics information about the result of health probes and why Front Door might think the back end is down?
I looked in Log Analytics, but only found logs for incoming requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-04 12:50] KrishnaG-MSFT commented on #38256
@NeoAcheron Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-04 12:52] Ozzian commented on #30814
https://github.com/janitorr/AzureFunctionConfigurationTest/pull/2

So it seems that the binder actually just picks the first "seems legit" value from the local.settings.json

[2019-09-04 13:00] scottmckenzie commented on #33417
@joalcava Are you setting `WEBSITE_TIME_ZONE` or `TZ` env variable?

[2019-09-04 13:02] joalcava commented on #33417
@scottmckenzie WEBSITE_TIME_ZONE

[2019-09-04 13:04] msrini-MSFT commented on #38229
@iizotov ,

“DDoS Protection Basic helps protect all Azure services, including PaaS services like Azure DNS.”

https://docs.microsoft.com/en-us/azure/security/fundamentals/ddos-best-practices#azure-offerings-for-ddos-protection

[2019-09-04 13:23] msrini-MSFT commented on #38257
@xenalite , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 13:23] Cepheus0815 opened #38258 "Description of Contributor role is false"
currently it says: "Lets you manage everything except access to resources." - The opposite is true. You can manage all resources, but are not allowed to grand access to others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a959

[2019-09-04 13:24] ffuentetech commented on #25225
I confirm it´s no possible to create more than 5000 endpoints per Classic Web Service.
When I try to create another one I get the following message:

`Error: [403 (Forbidden)]: { "error": { "code": "MaximumEndpointCountReached", "message": "Maximum number of endpoints reached: 5000. Delete endpoints or see online help for options to increase the number of endpoints for your workspace type." }`

Th

[2019-09-04 13:26] adamrmcclain commented on #38177
Weird, I still can't seem to get it to work. I'm attaching a couple of screen shots here to hopefully better demonstrate what I have set up. Maybe I'm doing something wrong elsewhere.

Alert Rule:
<img width="914" alt="Screen Shot 2019-09-04 at 9 11 00 AM" src="https://user-
images.githubusercontent.com/8482272/64258501-60ed8900-cef5-11e9-8c6a-8533ae935a2a.png">

Alert Action:
<img width="1109" al

[2019-09-04 13:31] cephalin commented on #34086
#reassign:cephalin

[2019-09-04 13:31] cephalin commented on #37050
#reassign:cephalin

[2019-09-04 13:31] cephalin commented on #36118
#reassign:cephalin

[2019-09-04 13:32] cephalin commented on #34242
#reassign:cephalin

[2019-09-04 13:32] cephalin commented on #34181
#reassign:cephalin

[2019-09-04 13:33] msrini-MSFT commented on #38257
@xenalite , What is the probe config that you have defined in AFD?

Can you do a curl from your machine to http/https://backendpool/ and share me the results?

[2019-09-04 13:37] rocketraman opened #38259 "Private DNS does seem to work together with Azure AD DNS"
In my testing, it does seem like the Azure AD DS DNS does forward queries to private DNS, if it is configured. However, this page makes no note of this feature. Can it be updated to include this capability?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c94

[2019-09-04 13:48] mgfink opened #38261 "https://azs-playground.search.windows.net is unavailable"
I see the DNS is registered; however, the web site just gives you a timeout.  Is this site still supported?

azs-playground.search.windows.net. 3569	IN CNAME azsepnsgn.cloudapp.net.
azsepnsgn.cloudapp.net.	29	IN	A	65.52.58.32

$ http http://azs-playground.search.windows.net
http: error: Request timed out (30s).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-04 13:58] msrini-MSFT commented on #38251
@iAmSaugata , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-04 14:01] PramodValavala-MSFT commented on #38156
@cparker4486 After mentioning the list of actions, you can access them through the [`workflowContext`](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-add-run-inline-code#workflowcontext) object. Something like this

![image](https://user-images.githubusercontent.com/43602528/64261719-940e3780-cf4a-11e9-9000-23938713252c.png)

We have assigned this issue to the content author for furt

[2019-09-04 14:03] atelic opened #38262 "Advanced Settings with Custom Policies"
Is it possible to use advances settings such as the square logo image with custom policies? I've uploaded an image to that field but it still does not appear in my verification emails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-7

[2019-09-04 14:05] ashemedai opened #38263 "Register your application in your tenant steps do not match anymore"
The section `Register your application in your tenant` talks about clicking on `Settings`, however this section is now called `Certificates & secrets`, after which you click on `New client secret` to create a secret to use with your application. You still provide a description and duration, but click on `Add` afterwards.

I normally would send in a PR, but last time I tried checking out a docs rep

[2019-09-04 14:09] PramodValavala-MSFT commented on #38152
@piquet-h Thanks for the feedback! I believe the underlying issue should be resolves as part of the issue that you've mentioned. In the meantime, I guess a note in the doc should help customers hitting the same issue.

We are assigning this issue to the content author for further review.

[2019-09-04 14:09] SaurabhSharma-MSFT commented on #38263
@ashemedai Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 14:10] RyanHill-MSFT commented on #37847
@saikumaru I was able to reproduce your issue. I have assigned the issue to the content author as we investigate further so that we can correct the document as appropriate.

[2019-09-04 14:10] SaurabhSharma-MSFT commented on #38262
@atelic Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 14:11] cedricfronteau commented on #38170
Yes, you can "secure" communications between two web apps using VNET integration & service endpoints: https://markheath.net/post/securing-backend-appservice-webapps

[2019-09-04 14:13] SaurabhSharma-MSFT commented on #38258
@Cepheus0815 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 14:18] PramodValavala-MSFT commented on #26312
@nehaob26 Yes. Its actually [this doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates) that you would need to refer to for authentication between APIM and your backend.

[2019-09-04 14:31] NavtejSaini-MSFT commented on #37777
@JonCole Please let us know if any other information is required in this regard.

[2019-09-04 14:32] NavtejSaini-MSFT commented on #36110
@julie-ng @SnehaGunda Please let us know if any other information is required in this regard.

[2019-09-04 14:33] NavtejSaini-MSFT commented on #37857
@LuisBosquez Please let us know if any other information is required in this regard.

[2019-09-04 14:34] githubavi opened #38266 "How to use logger in Powershell Function?"
How to use logger in Powershell Function? Is there any ILogger equivalent or should we use Write-Host or Write-Output for the same purpose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e0c8d77-40f9-aee0-0e9c-fa83be6f4ee3
* Version Independent ID: 77bc47cc-1abb-5b78-2f80-5e03d67d374a
* Content: [Create your first Pow

[2019-09-04 14:35] ryandle commented on #38046
Thanks. This helps and matches my understanding. Can this issue be used to
track updating the documentation with this new information?

On Mon, Sep 2, 2019 at 11:07 PM souravmishra-msft <notifications@github.com>
wrote:

[2019-09-04 14:36] NavtejSaini-MSFT commented on #37251
@prashanthmadi Any updates regarding this? Please let us know if any other information is required in this regard.

[2019-09-04 14:37] NavtejSaini-MSFT commented on #38080
@anosov1960 Please let us know if any other information is required in this regard.

[2019-09-04 14:37] NavtejSaini-MSFT commented on #37851
@stevestein Please let us know if any other information is required in this regard.

[2019-09-04 14:37] NavtejSaini-MSFT commented on #37748
@stevestein Please let us know if any other information is required in this regard.

[2019-09-04 14:38] NavtejSaini-MSFT commented on #37635
@yegu-ms Please let us know if any other information is required in this regard.

[2019-09-04 14:39] NavtejSaini-MSFT commented on #38186
@TahsinKhan7 If there are no questions at the moment we are going ahead and closing this issue. If you have any question, please get back to us.

[2019-09-04 14:39] #38186 closed

[2019-09-04 14:40] NavtejSaini-MSFT commented on #38023
@oslake Please let us know if any other information is required in this regard.

[2019-09-04 14:40] NavtejSaini-MSFT commented on #37077
@rohitnayakmsft Can this edit be made to the document. Please let us know if any other information is required in this regard.

[2019-09-04 14:41] NavtejSaini-MSFT commented on #38040
@olignat The Link provided does not work and throws a 404 error. Please check. Please let us know if any other information is required in this regard.

[2019-09-04 14:45] sgdesmet opened #38267 "Please explain the usage of the api-version metadata key"
The [account linking example in the advanced policies pack](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/account-linking) uses the undocumented(?) `api-version` metadata key:

     <TechnicalProfile Id="AAD-UserReadUsingUserIdentity">
          <Metadata>
            <Item Key="api-version">1.6</Item>
            <Item Key="Operation">Read</Item>
    ...

 -

[2019-09-04 14:46] MagnusAnvill commented on #22676
@ondrejhlavacek, thx for your input.

So it seems there really was an issue with no draining at scale down, in earlier versions of AKS when using `az aks scale`? I'm no longer part of project so I can't easily verify.

[2019-09-04 14:47] jerrylhamk commented on #9331
I could actually connect to the VM, and I looked around and found what seems to be the custom script that is used to initialize the Jenkins server. Here's the contents of `/var/lib/waagent/custom-script/download/0/stderr`:

I ran `/var/lib/waagent/custom-script/download/0/install_jenkins.sh` again with the same parameters that were listed in `/var/lib/waagent/custom-script/download/0/stdout`, and

[2019-09-04 14:50] NavtejSaini-MSFT commented on #37420
@julieMSFT Please let us know if any other information is required in this regard.

[2019-09-04 14:50] maganvill commented on #22676
@ondrejhlavacek, thx for your input.

So it seems there really was an issue with no draining at scale down, in earlier versions of AKS when using `az aks scale`? I'm no longer part of project so I can't easily verify.

[2019-09-04 14:51] NavtejSaini-MSFT commented on #37776
@sivethe Please let us know if any other information is required in this regard.

[2019-09-04 14:52] NavtejSaini-MSFT commented on #35212
@KavithaJonnakuti @stevestein Any update regarding this issue.

[2019-09-04 14:52] bojanz27 commented on #27024
Very disappointed that MS still has not consolidated the article to exclusively use Microsoft.Azure.ServiceBus namespace.

[2019-09-04 14:53] ArmandoPitotti opened #38268 "Enable CORS"
For Allowed Methods you also need PUT verb.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd3416961
* Version Independent ID: 2f76d983-a940-fa5f-abe0-4c851e377608
* Content: [Tutorial - Customize the interface of user experiences - Azure Active Directory B2C](https://docs.microsoft.com/en-us

[2019-09-04 14:59] NavtejSaini-MSFT commented on #37912
@lukepuplett Please let us know if the above link has helped you or you need further help in this regard.

[2019-09-04 14:59] NavtejSaini-MSFT commented on #37293
@johnpaulkee Please let us know if any other information is required in this regard.

[2019-09-04 15:06] cyamasaki8 commented on #38209
Hi Harthik,  Yes there will be no overlap of IP addresses.  I understand ER will be primary.  Can you clarify  "address prefix of WAN VNET is not been advertised TO Express route ?"  Specifically, what is WAN VNET.  I guess if you answer this one, this 2nd question would sound moot, but which direction are you talking about when saying, "TO Express Route,"  from on-premise site into ER or from the

[2019-09-04 15:07] thedavegray opened #38269 "Delete blob and snapshots at the same time?"
This is an interesting feature. One question though, what happens if you delete the blob and snapshot in the same go. e.g.

blob.Delete(DeleteSnapshotsOption.IncludeSnapshots);

Are they both marked as soft delete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent

[2019-09-04 15:12] cparker4486 commented on #38156
@PramodValavala-MSFT Thanks for your screenshot but I remain confused because this doesn't appear any different than simply clicking on the token in the little popup menu.

Having said that, the one difference I do see is that you're referencing the name through the array's index rather than dot notation. When clicking I believe it would look like `workflowContext.actions.Compose.outputs`.

If tha

[2019-09-04 15:16] HeidiSteen commented on #38261
@mgfink Hello, the azs-playground service works for me.  Can you try again?  Guessing it was an intermittent issue.

[2019-09-04 15:25] jhakulin commented on #35466
Apologies for the slow response,

Currently, only following kits are supported for 8 channel audio capture when used with Conversation Transcription feature:
ROOBO Smart Audio Circular 7-Mic DK (https://ddk.roobo.com/)
Azure Kinect DK (https://azure.microsoft.com/en-in/services/kinect-dk/)

Are you using one of these or building the 8-channel audio some other way ?

[2019-09-04 15:27] msrini-MSFT commented on #38209
@cyamasaki8 , I mentioned WAN VNET as the VNET which has Azure WAN.

I meant the direction from On-Premises to Express Route. As you mentioned there are no overlaps this should be fine as you are not going to advertise WAN vnet address space to Azure Express route.

Your scenario should work.

[2019-09-04 15:30] paul-lorica commented on #37115
I wanted to instantiate a class with an ILogger. I then needed the LoggerFactory to create the ILogger.

I was going this route because I had multiple implementations of the same interface. In the end, I just created an interface for each implementation.

[2019-09-04 15:33] jeepwran commented on #32621
@benbelow, fairly new to Azure functions myself and was looking for guidance on how this might (or should not) be done as well and came up with this: would simply adding the existing framework provided IConfiguration to the overriding configuration address this issue?

        public override void Configure(IFunctionsHostBuilder builder)
        {
            builder?.Services.AddSingleton<IConfig

[2019-09-04 15:34] amang2205 opened #38271 "Additional security page no longer exists"
Given the new experience, the https://account.activedirectory.windowsazure.com/Proofup.aspx now redirects to https://mysignins.microsoft.com, which doesn't have a section for App Passwords.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1

[2019-09-04 15:35] ChristopherGLewis opened #38272 "Powershell"
No powershell commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768ba2bd-c8a7-9393-2cfd-387a3fc27783
* Version Independent ID: fd920bf1-26ab-5b26-2f45-97ec1d0303ca
* Content: [Red Hat Enterprise Linux images in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/rhel-images)
* Content Source: [a

[2019-09-04 15:35] jakaruna-MSFT commented on #37967
@mlearned I am assigning this issue to you t investigate further and update the doc.

First update is to add node selector for the [helm install](https://docs.microsoft.com/en-us/azure/aks/ingress-tls#install-cert-manager) command for cert manger

We still need to figure out how to add node selectors for the HTTP solver pod and update the doc

[2019-09-04 15:39] markjbrown commented on #38203
This is not possible using the production Cosmos DB service. All connections to Cosmos DB must be over SSL.

Thanks.

#please-close.

[2019-09-04 15:39] #38203 closed

[2019-09-04 15:41] rohitnayakmsft commented on #37899
It means any other subscription - same/different tenant does not matter. Bottom line is with this setting we have no checks on where the connection is orginating from ; except that it is from inside the Azure boundary i.e. originating from one of the IP addresses that we recognize as those within ranges defined for our data centers.

Rohit Nayak

Sr. Program Manager – SQL Db Security Team

_______

[2019-09-04 15:43] eanyanwu commented on #27537
Any progress on this?
It still doesn't look like dashboard are even present in the ARM template reference here:
https://docs.microsoft.com/en-us/azure/templates/

[2019-09-04 15:47] benbelow commented on #32621
Yes, this is very similar to what we ended up doing in one of our projects to enable user secrets.

We attached the existing configuration slightly differently:

[code]

but the upshot is the same.

Ideally I would still like this to be covered in more detail in the documentation.

[2019-09-04 15:50] mike-urnun-msft commented on #38266
Hi @githubavi - Thank you for your feedback! We will review and update as appropriate.

[2019-09-04 15:56] lukos opened #38274 "Cannot create service principal"
When running az ad sp create-for-rbac, it fails with: The client 'luke@...' with object id '84e...' does not have authorization to perform action 'Microsoft.Authorization/roleAssignments/write'....

I am a global administrator in Azure so I don't understand the error. Also, I would just do the same thing in the portal instead but creating the SP in the portal is so confusing. It's asking for redir

[2019-09-04 15:57] mike-urnun-msft commented on #36510
Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-04 15:57] #36510 closed

[2019-09-04 15:57] PatAltimore commented on #38240
@rkttu-devsisters, Thanks for the feedback. I have an existing backlog item to update the article. I should get to it soon. Until it's updated, you can choose "Use previous version" in Remix.

Thanks,
Pat

#in-progress

[2019-09-04 15:58] lukos opened #38275 "The call to create-for-rbac has an incorrect parameter"
Although the system corrects it, for some reason create-for-rbac expects names to be passed in the format http://name and the example above does not show the http bit. Perhaps it would be better to explain that applications are always identified by URL so you either use the real one or have to make up another logical url instead.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-09-04 16:01] krispenner commented on #26312
FYI, the static IP address of the APIM is exclusive to only the one APIM instance. I had this confirmed with the APIM team yesterday and they updated their documentation to clearly state that, shown below. The reason I had asked is that a static IP address in the cloud doesn't explicitly state it's not shared with other resources, only that it won't change. So for backend access whitelisting purpo

[2019-09-04 16:03] YutongTie-MSFT commented on #38254
@FSou1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 16:07] mamccrea commented on #38033
#please-close

[2019-09-04 16:07] #38033 closed

[2019-09-04 16:09] artisticcheese opened #38276 "Incorrect information about restore disk scenario"
Disk is not copied to storage account you specify, instead it's being created in Resource Group your specify for managed disks.

![image](https://user-images.githubusercontent.com/13176884/64272562-3acfe500-cf05-11e9-9ee4-3d93054f76b0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-dd9c-8357-a0485b23b

[2019-09-04 16:12] Karishma-Tiwari-MSFT commented on #36614
Thanks @Jatinder-Luthra for sharing this information. I am reaching out to the right doc owner offline to get this updated.

[2019-09-04 16:14] JonKragh commented on #26312
@krispenner thank you for your work on this. Where did you end up on the protection on the App Service side? (other than IP restrictions).

@PramodValavala-MSFT if security is a core value of APIM, a full documented solution of APIM->App Service is a gap in the documentation.

[2019-09-04 16:17] YutongTie-MSFT commented on #38254
@swmachan Hi, could you please help to check this issue? In both the document and the "[Product available by region](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all&products=cognitive-services)" I can not find any details for which region we provide our service.

![image](https://user-images.githubusercontent.com/38084098/64272730-cb51f980-cef4-11e9-97ed-2e5317a401e0.

[2019-09-04 16:19] keithelm opened #38278 "Wrong value for max workers/logins per pool"
In the table at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-elastic-pools#general-purpose-service-tier-generation-5-compute-platform-part-2, it lists the max workers per pool and max logins per pool at 33600 which appears to be a typo.  Similar limits in other tables list the limits at 3360.  The 33600 value is also higher than the limit in the largest ti

[2019-09-04 16:20] #38181 closed

[2019-09-04 16:20] #38001 closed

[2019-09-04 16:20] FrankHu-MSFT commented on #37917
@test123114 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-09-04 16:20] #37865 closed

[2019-09-04 16:21] FrankHu-MSFT commented on #38127
Hey @fowl2 I'm following up on this. Can you please respond in regards to the last reply?

[2019-09-04 16:22] FrankHu-MSFT commented on #38178
Hey @DeanGross could you post a screenshot of what you're currently seeing?

[2019-09-04 16:26] ramya-rao-a commented on #37737
@DEV3L Can you please share the version of the SDK you were using?

The current stable version for the event hubs SDK in python is 1.3.1
The sample at [Send or receive events using Python - Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-python-get-started-send) work with this version.

https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/eventhub/azure-

[2019-09-04 16:26] dcurwin commented on #38276
#assign:sogup

[2019-09-04 16:31] MicahMcKittrick-MSFT commented on #38272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 16:32] julieMSFT commented on #29867
@xanatzar Hello, I have raised this issue to the engineering team. They will review it in their security review board to investigate possible fixes. The reason the first column not on the grant list is surfaced is to provide information to debug scripts. I have created work item 1593373 to track this issue so will close this issue.  We will respond to you once we have an answer.  The @notification

[2019-09-04 16:32] julieMSFT commented on #29867
#please-close

[2019-09-04 16:32] #29867 closed

[2019-09-04 16:36] xenalite commented on #38257
I no longer have the health probes failing because I investigated it and found a misconfiguration.
However, there are a number of issues that could be preventing back end health probes from being successful:
1. Wrong host header
2. Wrong host name
3. Unreachable host - may be reachable from my machine but not Front Door
4. Wrong protocol - HTTP / HTTPS probes
5. Wrong health probe endpoint - 404
6

[2019-09-04 16:36] mgfink opened #38279 "Azure now supports CRS 3.1"
This document should be updated to reflect support for the latest version.  Also, any notable differences from 3.0 -&gt; 3.1 would be nice to see as well.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d1f0bd-9465-c7d8-1006-32e050a2419d
* Version Independent ID: 0d3bd3f8-6759-02ea-4a30-fc7b40f2c30e
* Content

[2019-09-04 16:36] shashishailaj commented on #38230
@VNJoe We are sorry for a less than pleasant experience with the product. At this point what I understand from your comments is that you would not like to see the risky sign-ins preview reports. I assume that you have a azure AD premium P2 tenant and Azure AD identity protection was enabled once due to which you have azure AD identity protection enabled. Azure AD Identity Protection is a capabilit

[2019-09-04 16:44] msrini-MSFT commented on #38257
@xenalite , It is a valid feedback. In Application Gateway we do have an option to see the error description when the health probe fails.

It is a product ask and I will pass on the feedback to the product group. Thank you for your valuable feedback again!!

[2019-09-04 16:44] #38257 closed

[2019-09-04 16:44] mgfink opened #38280 "Azure now supports CRS 3.1"
This document should be updated to reflect support for the latest version. Also, any notable differences from 3.0 -&gt; 3.1 would be nice to see as well. Thanks!

Similar feedback submitted via https://github.com/MicrosoftDocs/azure-docs/issues/38279

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9c5b784-df0f-30cc-154

[2019-09-04 16:44] SlavaK-ov commented on #14607
I still cannot disable the default built-in logger from writing to the storage, despite the fact that the App Insights is enabled and captures the same information. I.e. it seems that the ILogger log (i.e. log.LogInformation("......".)) writes the same info twice: to the app insights and to the blob storage. What I did is just simply created a new Azure function for test purposes. The AzureWebJobs

[2019-09-04 16:47] VNJoe commented on #38230
No, I definitely do not have this product, Identity Protection, nor AD Premium P2.  Yet it's still forced on my tenant in some way.

![image](https://user-images.githubusercontent.com/49563744/64274804-26461980-cf12-11e9-9f69-4e8c20fbcf89.png)

[2019-09-04 16:47] #38235 closed

[2019-09-04 16:50] RyanHill-MSFT commented on #38170
Thanks for your response @cedricfronteau! @Nimleth once you've added your restriction rule configured to 'Allow' your vnet, the default rule will switch to 'Deny' in which case your app will respond with 403 to traffic outside your vnet.

[2019-09-04 16:54] FrankHu-MSFT commented on #38274
@lukos Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:54] FrankHu-MSFT commented on #38275
@lukos Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:56] prajster commented on #35358
DO NOT CLOSE THIS CASE, i have provided all the details you asked for, please try the commands with AzureRM module and let me know if you need anymore details.

[2019-09-04 16:56] scottkdavis opened #38282 "Module Documentation"
There is no documentation anywhere (docs.microsoft.com and google search) on what each of the telemetry modules do. Given we are changed for volume of telemetry ingested, we need to know what we can/should turn off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independen

[2019-09-04 16:57] FrankHu-MSFT commented on #38271
@amang2205 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:57] FrankHu-MSFT commented on #38268
@ArmandoPitotti Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:57] FrankHu-MSFT commented on #38267
@sgdesmet Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:57] FrankHu-MSFT commented on #38259
@rocketraman Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:57] FrankHu-MSFT commented on #38255
@ragedrk Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 16:59] ramit-rulz commented on #35767
I am seeing this error today intermittently for multiple data flow activity runs. Any way to troubleshoot this?

[2019-09-04 17:00] FrankHu-MSFT commented on #38255
Hey @ragedrk can you clarify what the request is? It seems like you're saying that the b2c video tag doesn't seem to be working properly when injected?

Could you provide a screen recorder or a gif or a set of screenshots with explanation of this happening?

[2019-09-04 17:01] jaredtait commented on #37381
Thank you @Mul-ti-pass for keeping this going.  I am interested in using Azure DevOps as well as Application Insights when it reaches Fedramp requirements at any level.

[2019-09-04 17:02] lukos opened #38283 "Why are we creating AzureCredentials?"
In the .net example, you create AzureCredentials from the SdkContext class but these credentials are then not used in the following access to the key vault client, which creates its own credentials. This is not explained so it is unclear whether it is old code or something magic is happening!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-04 17:03] FrankHu-MSFT commented on #38283
@lukos Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 17:04] #37408 closed

[2019-09-04 17:05] KranthiPakala-MSFT commented on #38069
Please share the MSDN/stackoverflow link for tracking this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-09-04 17:05] #38069 closed

[2019-09-04 17:05] rohitnayakmsft commented on #37077
Deleted the section from docs and submitted change as part of PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/87328

[2019-09-04 17:07] MicahMcKittrick-MSFT commented on #38216
@tfitzmac @HeidiSteen would either of you know the best place to direct this feedback?

[2019-09-04 17:08] BryanTrach-MSFT commented on #20914
@msangapu-msft Can you please take a look at this feedback and see if any action is necessary? Once done, please use the hashtag please-close.

[2019-09-04 17:10] BryanTrach-MSFT commented on #38261
@mgfink Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-04 17:11] MicahMcKittrick-MSFT commented on #38222
@edwardbartholomew absoluetly! We always encourage the community to submit PRs to help better the documentation :)

Please feel free to submit any PR and we will review.

CC @TomArcherMsft @rloutlaw @tysonn

[2019-09-04 17:11] #38222 closed

[2019-09-04 17:11] HeidiSteen commented on #38216
@MicahMcKittrick-MSFT  I think the right fix is to revise these descriptions.  I'll do that right now.

[2019-09-04 17:12] MicahMcKittrick-MSFT commented on #38226
@Infinitism I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-04 17:13] krispenner commented on #26312
@JonKragh I was using IP restrictions, which if you are able to use is probably one of the easiest ways to secure a backend.

However, I prefer to use Azure AD authentication so I can manage additional users via Azure AD group memberships that need access to the backend APIs directly. I also don't need to bother with any scripts to update IP restrictions across our 30+ backend API app services whe

[2019-09-04 17:13] MicahMcKittrick-MSFT commented on #38272
@ChristopherGLewis generally users who are using Linux Based VMs will opt to use CLI vs PowerShell. Hence, we tend to focus on CLI for Linux based VMs. You can still complete the tutorial using PowerShell as they do have all the similar commands. At this time we do not plan on adding a PowerShell example to this doc. However the feedback is noted and you comment will remain on this doc so if other

[2019-09-04 17:13] #38272 closed

[2019-09-04 17:14] MicahMcKittrick-MSFT commented on #38216
Great! Thank you Heidi :)

@fernandoBRS thanks for bringing this to our attention. We will work on modifying the doc. Once the PR merges the changes tend to go live after a few hours.

[2019-09-04 17:14] #38216 closed

[2019-09-04 17:16] MashaMSFT commented on #38234
Hi @IshamMohamed , thanks for contacting Microsoft! Yes, as of 9/4/2019, failover groups with managed instances are still in preview. Unfortunately, we do not have a specific date for when it will be released, but it's in the works, and we hope to move it out of preview soon.

Thanks!
Masha from the SQL Docs team

[2019-09-04 17:20] fvalentiner commented on #37499
@patrickgalbraith did you find a solution to use the Quickbooks api? I'm currently trying to use a manually obtained token but it expires every hour

[2019-09-04 17:26] fernandoBRS commented on #38216
Thanks @MicahMcKittrick-MSFT and @HeidiSteen !  :)

[2019-09-04 17:26] atelic commented on #38262
Okay, it looks like it might just take a bit to show up. The image is really pixelated though even at 240x240 and 300 dpi

[2019-09-04 17:29] dlepow commented on #36909
@porrascarlos802018 - Thanks for the great doc suggestion. Tracking as a [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1593389) for an upcoming sprint, and as a Microsoft FTE you can track progress there. Closing this issue per our usual guidelines.
#please-close

[2019-09-04 17:29] #36909 closed

[2019-09-04 17:30] KranthiPakala-MSFT commented on #35767
@nabhishek Could you please have a look at the this? Looks like, this error details has to be updated in the documentation. - Thanks!

[2019-09-04 17:34] rachel-msft commented on #38185
There are generally no limits on number of databases or schemas (unless it's a Postgres limit). Superuser access is reserved; you get a highly privileged admin account. Not all Postgres parameters are modifiable, and those that are not have values that may vary depending on the sku selected. We recommend creating a server and exploring further for your specific use case.

[2019-09-04 17:36] HeidiSteen commented on #38261
@BryanTrach-MSFT Hi Bryan, I am not able to repro this issue.

[2019-09-04 17:40] Mike-Ubezzi-MSFT commented on #38278
@keithelm Thank you for bringing this to our attention. We are reviewing this and will make an update to the document as appropriate.

[2019-09-04 17:43] sho74 opened #38284 "Manual failover Powershell not working"
Manual failover is not working based on script provided in this article. After executing Set-AzResource..... no any errors, but (Get-AzResource.....).Properties.Locations display that nothing is changed. On Web also no any changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1555e87b-459c-1f2b-1591-46730e141189
* Ve

[2019-09-04 17:43] Mike-Ubezzi-MSFT commented on #38278
@stevestein @oslake If the correct values can be confirmed, I can make updates to the document as needed.

[2019-09-04 17:49] AhsanSAlam opened #38285 "401 - The audience is invalid"
Hi,

My issue is very similar to the issue number 30483 where I'm getting (WWW-Authenticate →Bearer error="invalid_token", error_description="The audience is invalid") when I attempt to access Patient resource. Please note that I was able to get the access token without any problem.

I'm suspecting, when I went through "Deploy Azure API for FHIR using Azure portal", I kept the Audience unchanged t

[2019-09-04 17:49] rbrundritt commented on #38167
There is a lot of different ways in which Azure AD can be setup and integrated into an application. You can find a bunch of documentation on how to do this [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-how-to-integrate). These methods are used across all Azure products. As such, rather than Azure Maps creating duplicate documentation on how to integrate Az

[2019-09-04 17:51] msrini-MSFT commented on #38280
@mgfink , Thank you for your feedback. I am closing this issue as a duplicate of [this ](https://github.com/MicrosoftDocs/azure-docs/issues/38279)issue.

[2019-09-04 17:51] #38280 closed

[2019-09-04 17:52] msrini-MSFT commented on #38279
@mgfink , Thank you for your feedback. I will investigate and get back to you shortly.

[2019-09-04 17:55] msrini-MSFT commented on #38279
@vhorne , can you get this doc updated with the latest ruleset version 3.1?

[2019-09-04 17:59] BharathNimmala-MSFT commented on #38282
@scottkdavis  Thank you for sharing your feedback on this. We will further look into this and get back to you.

[2019-09-04 17:59] AvanadeAndrej opened #38287 "VM Extension"
Was the VM Extension in Step 3B of how-a-system-assigned-managed-identity-works-with-an-azure-vm deprecated in January?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [Managed identities for Azure resources](h

[2019-09-04 18:00] LeroyK commented on #35033
The Sku **Datacenter-Core-1903-with-Containers-smalldisk** is now listed as supported, but it still gives the following error when trying to deploy a VMSS with that Sku.
[code]

[2019-09-04 18:02] billmath commented on #16150
I have not heard back from engineering yet.  At this point I am going to open up a work item for this so that we can investigate this further.

#please-close

[2019-09-04 18:02] #16150 closed

[2019-09-04 18:04] MotoX183 opened #38288 "Role Permissions Incorrect - microsoft.aad"
Role permissions for User Administrator (may apply to other roles as well) list "microsoft.aad.directory" which has been deprecated. Role permission format should be "microsoft.directory".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a

[2019-09-04 18:06] #38228 closed

[2019-09-04 18:08] billmath commented on #37153
@amang2205 Thank you for the feedback.  Currently Edge is not supported with SSO.  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso#feature-highlights
One it is, we will update this doc.  Thank you.

#please-close

[2019-09-04 18:08] #37153 closed

[2019-09-04 18:11] billmath commented on #37296
@islandsins You do not need  'https://device.login.microsoftonline.com'.  That was a requirement when it fist launched but is not longer required.

@SaurabhSharma-MSFT please assign this to @MicrosoftGuyJFlo so he can update the AD doc.  Thanks!

[2019-09-04 18:12] morrisonjohna opened #38291 "Please update"
Under the section 'Create a Data Factory', Step 3 is out of date.  There is no '+New' link anymore, and there is no 'Data + Analytics' choice anymore.  Also the screenshot is no longer accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3adb930-4c78-e69a-eeb9-d01e90e8aaa6
* Version Independent ID: f0560a94-e26f-a

[2019-09-04 18:14] cherylmc commented on #38209
Are you asking if you can connect a VNet that already has an ER gateway to a vWAN hub? If so, the answer is no. You have to remove the gateway and then you can connect it to the vWAN hub.  However, you can of course have multiple VNets using the same ER circuit. Does this help?

[2019-09-04 18:15] StarkCaptain commented on #27611
I am disappointed about this as well. Making this decision for customers is not the best path forward. This also is in direct conflict with the fact you can add a permanent assignment without this requirement. Overall this decision makes no sense to me. Let customers choose how they can implement security best practices.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/

[2019-09-04 18:15] HeidiSteen commented on #32086
@jimmywim  Sorry this took so long!  When you have a minute, can you verify whether the revision to the intro paragraph addresses your issue?  https://docs.microsoft.com/en-us/azure/search/search-example-adventureworks-modeling

The introduction now states the indexing requirement for flattened rowsets, and that this article is an illustration of how to create a flat rowset, given a relational dat

[2019-09-04 18:16] Weatwagon commented on #35466
We have purchased an Azure Kinect DK. I would like to test the issue with audio recorded by the Azure Kinect. What tool do we use to capture an audio recording? Azure Kinect DK recorder https://docs.microsoft.com/en-us/azure/kinect-dk/azure-kinect-recorder has a note that it does not record audio. Using audacity the Azure Kinect with the Windows WASAPI the device is recognized as 7 channel. Do you

[2019-09-04 18:16] MicahMcKittrick-MSFT commented on #38285
@AhsanSAlam please provide us with the link to the documentation you are following so we can better assist

[2019-09-04 18:21] billmath commented on #37436
@jonwbstr  Thank you for your feedback.  I have gone ahead and created a work item for this issue.   Thank you!

#please-close

[2019-09-04 18:21] #37436 closed

[2019-09-04 18:21] kvansaders opened #38292 "Outbound IP Addresses - are they static?"
"The set of outbound IP addresses for your app changes when you scale your app between the lower tiers (Basic, Standard, and Premium) and the Premium V2 tier."

Do these addresses change when the tier has not been changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3f7-569f-42b5efdf3918
* Version Ind

[2019-09-04 18:21] YutongTie-MSFT commented on #25225
@xiaoharper Hi Xiao, please check the follow-up also please tell me if you need a feedback in UserVoice to be created. Thank you.

[2019-09-04 18:21] pepitoe commented on #37296
Great thanks for clarifying.

[2019-09-04 18:23] sandeepraichura opened #38293 "Gen2 VM property !"
I think we can add a Gen2 VM property to the VHD if we want to Create Gen2 VM's which is missing in the documentation: https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az-disk-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6034e25f-4b16-66ce-eb44-305000dbd625
* Version Independent ID: e4a5dc

[2019-09-04 18:23] islandsins commented on #37296
Great thanks for clarifying.

[2019-09-04 18:25] gkgaurav31 opened #38294 "Need sample Java Code to create/upload file to Gen2 Storage"
I am trying to use the following code. The same url works from POSTMAN but fails from the java application running locally:

public static String getGen2filecreation(String filepath) {
		TimeZone timeZone = TimeZone.getTimeZone("GMT");
		Calendar calendar = Calendar.getInstance(timeZone);
		SimpleDateFormat simpleDateFormat = new SimpleDateFormat("EE,dd MMM yyyy HH:mm:ss zzz", Locale.US);
		simple

[2019-09-04 18:25] sandeepraichura opened #38295 "Gen2 VM Property !"
I think we can add a Gen2 VM property to the VHD if we want to Create Gen2 VM's which is missing in the documentation: https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azdiskconfig?view=azps-2.6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent

[2019-09-04 18:26] cyamasaki8 commented on #38209
No.  I believe what you describe, "VNET ER GW to vWAN hub" is in preview,
so I'm not attempting to do this yet (I think this could be my long-term
strategy though when it goes to GA).  What I'm trying to understand is
whether I can attach a VNET that already as a Virtual Network Gateway
(which has a ER connection) or do I have to remove the VNGW, i.e. a VNET
with no VNGW in order to attach to the

[2019-09-04 18:27] AhsanSAlam commented on #38285
Sorry,
I got the error trying to follow the instructions here:
https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial

This is in context of "Deploy Azure API for FHIR using Azure portal"
https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir-paas-portal-quickstart

[2019-09-04 18:28] MicahMcKittrick-MSFT commented on #38295
duplicate of #38293

[2019-09-04 18:28] #38295 closed

[2019-09-04 18:28] MicahMcKittrick-MSFT commented on #38293
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-04 18:30] MicahMcKittrick-MSFT commented on #38294
@gkgaurav31 Please provide us with the link to the documentation you are following so we can better assist.

[2019-09-04 18:30] YutongTie-MSFT commented on #38107
@vikramdadwal  For now, the Populate your KB section displays an Enable multi-turn extraction from **URLs, .pdf or .docx files** check box.
![image](https://user-images.githubusercontent.com/38084098/64281164-66ec6580-cf07-11e9-9448-2a2c33b103fa.png)

[2019-09-04 18:31] DevGuy80 opened #38296 "Module Missing Parameter"
In both the Az module and AzureRM module, the New-AzSqlServerDnsAlias and New-AzureRmSqlServerDnsAlias cmdlets are missing -DnsAliasName or any variation of the parameter. Any attempt to "guess" the parameter fails. Additionally, the documentation does not include any reference to the actual -DnsAliasName parameter or an equivalent parameter. How are we supposed to use this cmdlet if it doens't ev

[2019-09-04 18:32] cyamasaki8 commented on #38209
Thanks.  When Express Route connection to vWAN becomes GA, as right now it looks to be Preview, will this be the preferred instead of setting up ER connections to all my VNETS?

[2019-09-04 18:32] djarvis opened #38297 "As of June 2019 or so, cannot read data from any CosmosDb"
Connecting to an earlier CosmosDb works fine.

Connecting to a recent CosmosDb works, but when you click on a container, "Expression.Error: Access to the resource is forbidden".

[2019-09-04 18:33] Nickomang commented on #13598
@EVMartinez, Thanks for your contribution, I'm sure you aren't the only one who has been misled by the awkward use of the term 'functional level' in the doc. We've updated the article in question, and will consider the issue closed.

Nick

#please-close

[2019-09-04 18:33] #13598 closed

[2019-09-04 18:34] billmath commented on #38013
@JeremyTBradshaw Thank you for your feedback. I have gone ahead and created a work item for this issue. Thank you!
#please-close

[2019-09-04 18:34] #38013 closed

[2019-09-04 18:35] MicahMcKittrick-MSFT commented on #38285
@AhsanSAlam thanks for that! I will assign to the content author to review and comment further.

[2019-09-04 18:35] cherylmc commented on #38209
Only if you want to use Virtual WAN. It's your choice. You can continue to use ER the way you always have if you prefer. Do you presently have 2 virtual network gateways for your VNet (one ER and one VPN), or just one gateway?

[2019-09-04 18:36] MicahMcKittrick-MSFT commented on #38296
@DevGuy80 please provide us with the link to the documentation you are following so we can better assist.

[2019-09-04 18:37] DevGuy80 commented on #38296
https://docs.microsoft.com/en-us/azure/sql-database/dns-alias-powershell

[2019-09-04 18:38] DevGuy80 commented on #38296
Also this documentation:
https://docs.microsoft.com/en-us/powershell/module/az.Sql/New-azSqlServerDnsAlias?view=azps-2.6.0

[2019-09-04 18:38] MicahMcKittrick-MSFT commented on #38297
@djarvis thanks for reaching out. For support related issues, we suggest you either create a technical support ticket or reach out via MSDN

https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb

This GitHub repo is only used to identify and fixed Azure Documentation related issues. Please post your issue on the CosmosDB MSDN page and one of our engineers will take a look

[2019-09-04 18:38] #38297 closed

[2019-09-04 18:39] MicahMcKittrick-MSFT commented on #38296
@DevGuy80 thanks for that! I have assigned this to one of our SQL engineers to investigate further.

[2019-09-04 18:39] swmachan commented on #38254
Here's the link on regions where translator service is deployed - https://docs.microsoft.com/en-us/azure/cognitive-services/Translator/reference/v3-0-reference#base-urls

[2019-09-04 18:41] DevGuy80 commented on #38296
@MicahMcKittrick-MSFT Thank you! Having this cmdlet working would be great!

[2019-09-04 18:42] Unclevertitle opened #38298 "Adding Klingon (pqaD) as an output language seems to break translation results."
I ended up with zero translations in my results instead of 61. No error messages returned.

This isn't really a big deal because it's Klingon (and then a variant of it to boot) but you might want to remove the language from this list just in case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-0

[2019-09-04 18:43] billmath commented on #37937
@tylerpieper You are correct.  Good catch!

I have gone ahead and updated the doc and you should see the changes after 6:30 EST.  Thanks!

#please-close

[2019-09-04 18:43] #37937 closed

[2019-09-04 18:43] hansenms commented on #38285
If you keep the Audience for the FHIR service as https://azurehealthcareapis.com then you do not need to create a separate resource application. That one already exists in your AAD tenant. If you create a new resource application with the URI of the FHIR service (and there are good reasons to do that, e.g. to use SMART on FHIR), then you need to change the Audience of the FHIR service to match the

[2019-09-04 18:44] Adam-Smith-MSFT commented on #38269
@thedavegray Thank you for the valuable feedback,we are investigating the issue.

[2019-09-04 18:50] billmath commented on #38056
@jlee-vi You are correct.  Good catch!  It should be pointing here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-azure-ad-connect

I have gone ahead and updated the documentation and you should see it fixed later today.   Thanks!

#please-close

[2019-09-04 18:50] #38056 closed

[2019-09-04 18:51] RamonArguelles commented on #33628
If there are no further issues, @SnehaAgrawal-MSFT, can this now be closed?

[2019-09-04 18:52] Mark7even commented on #24550
Was there any resolution to this?

[2019-09-04 18:55] MicrosoftGuyJFlo commented on #38230
@VNJoe based on the screenshot you do not have Azure AD Premium P2 licenses or Identity Protection enabled in your directory.

[2019-09-04 18:56] cyamasaki8 commented on #38209
One.  I started with a VPN gw.  Then, I added ER Gw, but I had to blow out
the VPN gw before I could add the Express Route.  This was a few years ago;
not sure whether this still applies.  Anyway,  I have one VNGW that has an
ER and S2S VPNs.  Now, I have other locations--on-premise sites not
connected to the ExpressRoute that want access to the Azure VNETs.  I can
leverage SDWAN for these new sit

[2019-09-04 18:56] cynthn commented on #38293
@sandeepraichura  Thank you for the feedback! Gen 2 VMs on Azure are still in preview. Once they are generally available, we will do more documentation to integrate the option into other docs for general usage.

You can check out the preview docs for Gen 2 here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/generation-2

I will create a tracking work item to make sure this gets upd

[2019-09-04 18:56] #38293 closed

[2019-09-04 18:57] #38218 closed

[2019-09-04 18:57] MicrosoftGuyJFlo commented on #38218
Should publish later this afternoon. Thanks!

[2019-09-04 18:59] AhsanSAlam commented on #38285
Thanks for the quick reply. I got it to work by keeping the Audience in FHIR and the URI resource application consistent - https://[myservice].azurehealthcareapis.com. Only caveat, the Audience in the FHIR service is read-only. I had to delete the resource group and recreate.

[2019-09-04 19:03] MarileeTurscak-MSFT commented on #38251
I believe you can set it up by configuring this endpoint:
https://<yourDomainPrefix>.auth.<region>.amazoncognito.com/saml2/logout

Logout url should like:
https://<YOUR_DOMAIN>.auth.<YOUR_REGION>.amazoncognito.com/logout?
client_id=<YOUR_CLIENT_ID>&logout_uri=<URL_SCHEME>

I am confirming because I am not 100% certain. @jeevansd do you have insights into this?

[2019-09-04 19:08] KranthiPakala-MSFT commented on #38291
@morrisonjohna Thank you for the feedback and bringing this to our notice. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-09-04 19:08] shashishailaj commented on #38038
@thi-baut I believe you are considering a use case of application to application call in which one application is azure AD application and another is your LOB app running on-prem or in your own infrastructure. In this type of structure i believe you can use self signed certificate as well . You can either create a symmetric pre-shared Key or an asymmetric keys based Certificate signed by a CA. The

[2019-09-04 19:09] #38038 closed

[2019-09-04 19:09] KranthiPakala-MSFT commented on #38291
Hi @swinarko, could you please have a look at the feedback from @morrisonjohna? - Looks like the doc needs to be updated. Thanks you!

[2019-09-04 19:11] YutongTie-MSFT commented on #38115
@AlexanderTodorovic Hi, I have tried several time but all worked for me. Do you have a support plan under your Azure Subscription account?

[2019-09-04 19:21] MikeGriffinReborn opened #38300 "Is AzureServiceTokenProvider.GetAccessTokenAsync() thread safe?"
This is important information to know, I don't want to "new" a AzureServiceTokenProvider on every page request instead would rather hold onto a static instance of one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Con

[2019-09-04 19:29] bpw320 opened #38301 "How to - Advanced Options/protect the whole site"
for regular web app, not MVC, how to protect the whole web site?
in global.aspx:

GlobalConfiguration.Configuration.Filters.Add(new AuthorizeAttribute()); //?

this does not work

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf04450a-028e-cc23-d9b3-880a1b5c0fd5
* Version Independent ID: ac05d3c4-0379-0f34-9e17

[2019-09-04 19:31] MicahMcKittrick-MSFT commented on #38301
@bpw320 please provide us with the link to the documentation you are following so we can better assist.

[2019-09-04 19:32] bpw320 commented on #38301
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-asp-webapp

Thanks

[2019-09-04 19:33] vlado101 opened #38302 "Is it possible to have Scenario "Step 3" shown step by step guide?"
When reading through "Scenario 3: Start/Stop automatically based on CPU utilization" I was confused as to how to set it up. Is it possible to have that process filled with screenshots of step by step process of setting this up? When looking at the steps I seem to get lost as to what to do first from start to finish to just set up that process.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-09-04 19:33] YutongTie-MSFT commented on #38202
@managedcoder Hi Russ, I have created a PR to fix it. The change will be alive soon. Thank you again for the good catching!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-04 19:34] #38202 closed

[2019-09-04 19:34] MicahMcKittrick-MSFT commented on #38301
@bpw320 thanks for that! I have assigned it to the appropriate engineer to investigate further.

[2019-09-04 19:41] TravisCragg-MSFT commented on #37710
@jed-lomax We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 19:41] #37710 closed

[2019-09-04 19:45] NavtejSaini-MSFT commented on #38284
@sho74 We are checking this and we will get back to you regarding the same.

[2019-09-04 19:47] YutongTie-MSFT commented on #38220
@annaymj Hi Anna, you can deploy and reuse your model, but I don't think you can download the whole feature. Could you please provide more details about you scenario so that we can help you to look for the solution? Thanks.

[2019-09-04 19:48] Mitaric commented on #36175
This issue appears to have re-appeared.  I am receiving the following error: "The page cannot be displayed because an internal server error has occurred."  Is this something that you are aware of?

[2019-09-04 19:49] YutongTie-MSFT commented on #38298
@Unclevertitle
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 19:52] njbuch opened #38303 "Python for IotEdge local module endpoint?"
I want to test the local blob storage on my edge device, I have a running module (which is called 'localstorage', that is waiting for some containers now. But I cannot get the Python code working.

Trying  `block_blob_service = BlockBlobService(endpoint_suffix="http://localstorage:11002/root",account_name='root',account_key='&lt;long and secret&gt;')`

I get the following error:
 `No handlers coul

[2019-09-04 19:52] BharathNimmala-MSFT commented on #38133
@mrbullwinkle Can you please help evaluate the feedback shared by @naleczynskia and enhance the documentation to reflect the same. Thank you

[2019-09-04 19:53] MarileeTurscak-MSFT commented on #38301
Hi @bpw320 ,

This article is about an MVC. I would recommend checking the documentation for Single Page Apps (SPAs) to see how this is done. There are some examples in other Azure and ASP.NET documentation:

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0

https://github.com/Azure-Readiness/HOL-Intro-to-Azure/tree/master/build-si

[2019-09-04 19:53] njbuch commented on #38303
I should add that without specifying the endpoint_suffix it works like a charm, but depends on the internet connectivity...

[2019-09-04 19:54] MarileeTurscak-MSFT commented on #38301
Hope this helps! We will proceed to close this thread.

If you have further questions feel free to open an issue on one of those docs or open a thread on MSDN.  https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-09-04 19:54] #38301 closed

[2019-09-04 19:54] TravisCragg-MSFT commented on #36809
@saif-chaudhry This was an issue on the Azure end where the incorrect amount of ports were being calculated when an update was done to the NIC. We apologize for the inconvenience, and this will be fixed in the future. For now you can ignore the available port numbers that are given in the error. As a workaround, you will need to adjust the incoming ports before making changes to the NSG.

We will

[2019-09-04 19:54] #36809 closed

[2019-09-04 19:56] SaurabhSharma-MSFT commented on #38262
@atelic Good to hear that you are able to get it now.  You can provide this as a feedback at https://feedback.azure.com/forums/169401-azure-active-directory.  This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-09-04 19:58] TravisCragg-MSFT commented on #33601
@joeRistine @lenCardinal can you post your Support Request # (SR#) here as well? I would love to see what they say.

I am also going to re-open this issue and assign it to the doc author to re-evaluate the pricing descriptions & examples and make sure they are correct.

[2019-09-04 20:00] JoeRistine commented on #33601
Sure, it's 119082724004940 @TravisCragg-MSFT

[2019-09-04 20:02] annaymj commented on #38220
Hi Yutong,

    We would like to see the what the Preprocessing did, esp the text
features.

     Another question related to the model prediction, we have deployed the
model and get an URI. How can we make prediction? Any good tutorial or link
you can share with us.

Thanks!
Anna

On Wed, Sep 4, 2019 at 12:47 PM YutongTie-MSFT <notifications@github.com>
wrote:

[2019-09-04 20:02] sun-acmx opened #38304 "Sample config file that sets one or multiple roles"
From the doc, it is very ambiguous how I can set the client roles. It just states set the fabric settings with name, admin, user and value fields. But how and where in the config file exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cd782f-1035-e3af-7696-d26850dec04d
* Version Independent ID: 6f3e7017-fbbe-84a

[2019-09-04 20:04] MarileeTurscak-MSFT commented on #38271
@eross-msft is this something that could be added to the documentation?

[2019-09-04 20:06] femsulu commented on #38302
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-04 20:07] femsulu commented on #38276
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-04 20:08] cherylmc commented on #38209
Thanks for clarifying! I'm going to check with the PM that owns this product and get her feedback. This is something I have not addressed yet in the articles in this manner.

[2019-09-04 20:09] adiun commented on #38203
@markjbrown FYI this issue (and the referenced article) is about developing against the local emulator, not production service. I'm fine with closing, but definitely hope this is addressed soon. It's the only piece in our Azure-based stack that requires Windows to develop locally.

[2019-09-04 20:16] eross-msft commented on #38271
@MarileeTurscak-MSFT @FrankHu-MSFT, @amang2205  The App passwords page appears only if it's  been turned on for the organization by your admin. If you're your organization's admin and you're looking for how to turn this on, you can find the info here: https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#app-passwords

We purposely talk about app passwords

[2019-09-04 20:18] Eric-Swiggum commented on #20558
Run `SELECT @@Servername` and verify. Check the Failover Group in your Azure Portal & check to see if the database is still a part of the Failover Group! I encountered this error helping someone else and we were baffled. I finally checked the failover group and the database was NOT a part of it. Yet it was listed in SSMS when connecting with the listener ... bizarre.

[2019-09-04 20:19] eross-msft commented on #38271
#please-close

[2019-09-04 20:19] #38271 closed

[2019-09-04 20:20] FrankHu-MSFT commented on #38097
Hey @wolegibj do you have any proof of this issue occurring? I'm currently engaging some more members of the team to look into this.

Thanks!

[2019-09-04 20:22] eross-msft commented on #38005
@jonwbstr  Thank you for this insight into our customers thoughts, it's really appreciated since we usually don't get this level of detail. I definitely think your FAQ items are valid and should be included in our content.  I will add your recommendations to my backlog (work item list) for updating the article as I can. In the meantime, I'm going to close this issue, but I will keep your info and

[2019-09-04 20:22] #38005 closed

[2019-09-04 20:23] MarileeTurscak-MSFT commented on #38259
Thanks @rocketraman

I made a pull request to make a note to add this. https://github.com/MicrosoftDocs/azure-docs-pr/compare/master...MarileeTurscak-MSFT:patch-153

I also made a second pull request on the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/87440

[2019-09-04 20:23] #38259 closed

[2019-09-04 20:24] MarileeTurscak-MSFT commented on #38259
@iainfoulds

[2019-09-04 20:25] MarileeTurscak-MSFT commented on #38259
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87442

[2019-09-04 20:27] YutongTie-MSFT commented on #38254
@swmachan Could you please help to check if the centralus region is missing? Thank you.

[2019-09-04 20:28] AhsanSAlam opened #38307 "How to get access to the audit logs?"
According to this document "Quickly track where your data is going with built-in audit logs. Track access, creation, modification, and reads within each data store".

How can I view the audit logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfd4bc9d-c837-de57-8a7a-7e7ce06a5e57
* Version Independent ID: 1d0706f8-f24

[2019-09-04 20:29] m-sterspace commented on #37949
In addition, is there any ways to set a default role, either through the api or through the gui?

[2019-09-04 20:29] sandeepraichura opened #38308 "Stop-Deallocate to resize Data Disk"
There isn't clarity on whether the VM should be stopped-deallocated when you resize the data disk of a VM, from the portal it appears that if the disk is allocated to a VM that VM should be deallocated before you change the size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Vers

[2019-09-04 20:38] MarileeTurscak-MSFT commented on #38150
By this feature, do you mean certificate credentials in general?

I believe that this is possible but I have reached out to the product team to confirm.

[2019-09-04 20:43] rayne-wiselman commented on #37817
Added a note in three articles. Should show up within a few hours
https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware#migration---limitations
https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-hyper-v#migration-limitations
https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-agent#replicate-vms

Thanks
#please-close

[2019-09-04 20:43] #37817 closed

[2019-09-04 20:44] rayne-wiselman commented on #37498
Fixed. Thx!
#please-close

[2019-09-04 20:44] #37498 closed

[2019-09-04 20:44] garrettmsft7 commented on #30424
What was the resolution? I'm getting the exact same error.

[2019-09-04 20:50] SaurabhSharma-MSFT commented on #38258
@Cepheus0815 sorry but I do not get you and I believe the description of Contributor role is correct.

[2019-09-04 20:52] lukepuplett commented on #37912
No, it's not help, I need; it's that the documentation is lacking. As per @jfcomst original issue to "include details about using DateTimeOffset", the article still lacks details about using `DateTimeOffset`.

Consider that the article is titled **Working with dates in Azure Cosmos DB** and yet it doesn't mention the recommended BCL type for dates and times, i.e. `DateTimeOffset` even once. That's

[2019-09-04 21:00] SaurabhSharma-MSFT commented on #38274
@lukos Are you logged into the correct tenant or subscription to create the service principal.  You can try using az login with --tenant parameter or az login with --subscription parameter.

[2019-09-04 21:03] paul-lorica commented on #32004
Just to make matters clear for future readers -

The injected ILogger or ILoggerFactory will get injected properly but NOT actually write to any Logging Providers - in my case I was expecting to see it write to Application Insights and the Console. Due to the bug https://github.com/Azure/azure-functions-host/issues/4345

{
	"version": "2.0",
	"logging": {
		"logLevel": {
			"Default": "Information

[2019-09-04 21:06] markjbrown commented on #38203
Hi @adiun. I see. Can you please email us at askcosmosdb@microsoft.com. This is more of a support request and can better help you there.

Thanks.

[2019-09-04 21:07] northtyphoon commented on #8504
Thanks for the update.

[2019-09-04 21:07] #8504 closed

[2019-09-04 21:07] PatMyron opened #38309 "Document number of availability zones per region"
"To ensure resiliency, there’s a minimum of three separate zones in all enabled regions."

Do all 10 of the Azure regions that currently support availability zones have exactly 3 availability zones? Do any of these regions have more than 3 availability zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f

[2019-09-04 21:08] durtal opened #38310 "testing azure functions that require environment variables"
Hi,
I'd like to start testing my functions (majority are httptriggers, node runtime) but run into errors when functions require environment variables (set in local.settings.json) such as a storage account, a storage account key, API keys.
How can I ensure that this data is available to the function during testing using jest.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-09-04 21:08] Mike-Ubezzi-MSFT commented on #38278
@keithelm A PR has been submitted and will be published by tomorrow morning. Thanks again for bringing this to our attention.

[2019-09-04 21:09] markingmyname commented on #10197
@ConnorKirk ConnorKirk

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this issue still a concern for you?

Due to the age of this issue, we will continue to close this issue.

Please let us know.

[2019-09-04 21:12] markingmyname commented on #10197
#please-close

[2019-09-04 21:12] #10197 closed

[2019-09-04 21:16] vhorne commented on #31407
Updated. Should be live in a few hours.
#please-close

[2019-09-04 21:16] #31407 closed

[2019-09-04 21:18] markingmyname commented on #11464
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:18] #11464 closed

[2019-09-04 21:19] markingmyname commented on #11517
@ranjanp

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-09-04 21:19] #11517 closed

[2019-09-04 21:20] markingmyname commented on #11519
@RobBarat

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-09-04 21:20] #11519 closed

[2019-09-04 21:21] ichkoj opened #38311 "events 31044 31034"
Keep getting error 31044; 31034 on one of our DCs but the other one is working just fine. Explain what are these!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Independent ID: 9f218d06-c2e6-19c2-6413-542c5e88ec64
* Content: [Self-service password reset troubleshooting - A

[2019-09-04 21:21] markingmyname commented on #12450
@bigdatamoore

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gl

[2019-09-04 21:22] NavtejSaini-MSFT commented on #38284
@sho74 The answer is in the special note of the following link which says :
"Multi-master accounts cannot be manually failed over"
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account#manual-failover

When you used the code for creating the cosmos db account you set the multi write property as true - "enableMultipleWriteLocations"="true".

As you see in the following scr

[2019-09-04 21:23] markingmyname commented on #12477
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:23] #12477 closed

[2019-09-04 21:24] markingmyname commented on #12600
@ghost

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly co

[2019-09-04 21:24] #12600 closed

[2019-09-04 21:27] markingmyname commented on #13871
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:27] #13871 closed

[2019-09-04 21:30] TiloGit opened #38312 "Suggest to check current status via PS"
here a handy script you might want to add to your page:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Azure Multi-Factor Authentication user states - Azure Active Directory](https://docs.microsoft.co

[2019-09-04 21:32] axisc commented on #38239
@eyast - Thanks for the feedback
   * At least once is supported by both Service Bus and Storage Queues.
   * Service Bus also supports "At-most once" delivery semantics.

@spelluru - could you remove the line from the additional information that may be causing the confusion?

[2019-09-04 21:36] mrbullwinkle commented on #38133
Thanks for reporting this, we'll get this info updated in the docs this week!

[2019-09-04 21:37] psallis opened #38313 "Global peering"
Are then plans for Global peering to be enabled for Regional VNet Integration?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https://docs.microso

[2019-09-04 21:37] markingmyname commented on #14280
@know-where

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will glad

[2019-09-04 21:37] #14280 closed

[2019-09-04 21:39] markingmyname commented on #14410
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:39] #14410 closed

[2019-09-04 21:41] markingmyname commented on #15105
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:41] #15105 closed

[2019-09-04 21:41] TechArtistG opened #38314 "Azure Deadline repo is missing"
The link is dead that points to the Deadline integration repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b7b310-19ae-bdfe-d136-d5c574df5d2c
* Version Independent ID: 5a1489bc-753d-0f27-feca-67c4cd05548e
* Content: [Render manager support - Azure Batch](https://docs.microsoft.com/en-us/azure/batch/batch-rendering-

[2019-09-04 21:42] markingmyname commented on #15531
@ranjanmicrosoft

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will

[2019-09-04 21:42] #15531 closed

[2019-09-04 21:42] ajlam commented on #38197
@sorcia25 - can you please confirm if you loaded the time zone tables in the server? You can do this by using the following command: `CALL mysql.az_load_timezone();`

You must load these tables before you can use named time zones.

ref: https://docs.microsoft.com/en-us/azure/mysql/howto-server-parameters#populating-the-time-zone-tables

[2019-09-04 21:42] MartinJaffer-MSFT commented on #36574
Linking to [MSDN issue](https://social.msdn.microsoft.com/Forums/c5d70faa-564c-4275-a8d1-17c4f7a67bb7/cannot-consume-defined-datasets-in-azure-ml-batch-execution?forum=AzureDataFactory)

[2019-09-04 21:43] markingmyname commented on #16998
@MarkAtAgilliance

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We wil

[2019-09-04 21:43] #16998 closed

[2019-09-04 21:43] markingmyname commented on #17525
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-04 21:43] #17525 closed

[2019-09-04 21:44] markingmyname commented on #17665
@MarkAtAgilliance

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We wil

[2019-09-04 21:44] #17665 closed

[2019-09-04 21:45] markingmyname commented on #17611
@Moodu

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly co

[2019-09-04 21:45] #17611 closed

[2019-09-04 21:47] Karishma-Tiwari-MSFT commented on #38308
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 21:47] axisc commented on #38226
@Infinitism , Thanks for sharing the feedback.

Typically, using a queue helps decouple the sender and receiver applications. The expected contract in this case is that once the message is dispatched from the sender, it will be received by the receiver. The benefit is that the sender can "fire and forget" and you can scale up/down the receiver side to ensure quick processing and simpler programmin

[2019-09-04 21:47] #38226 closed

[2019-09-04 21:48] Karishma-Tiwari-MSFT commented on #38314
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 21:49] Karishma-Tiwari-MSFT commented on #38304
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-04 21:51] ROSMITHJ-MSFT opened #38315 "ApplicationGatewayFirewallLog has no documentation."
Hello,

In this article, there are three logs mentioned:

ApplicationGatewayAccessLog
ApplicationGatewayPerformanceLog
ApplicationGatewayFirewallLog

There are only descriptions on the first two, with no information given or mentioned on the ApplicationGatewayFirewallLog. Please remedy if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-09-04 21:51] FrankHu-MSFT commented on #38267
hey @sgdesmet

Thanks for letting us know about this. the Api-version is expecting to be removed at some point as the AAD Graph Api currently has plans to be deprecated. Please see : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api-quickstart

Specifically this section : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph

[2019-09-04 21:52] msangapu-msft commented on #33505
Hi @upliftertom - I wanted to follow-up here. Were you able to resolve this? Any update you can share?

[2019-09-04 21:54] FrankHu-MSFT commented on #38268
Hello, thanks for providing us this information! We're currently putting this into the docs. We appreciate your feedback as it's very helpful.

@ArmandoPitotti Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please reopen this git issue if you have anymore concerns. Thanks

[2019-09-04 21:55] FrankHu-MSFT commented on #38127
@fowl2 As there hasn't been a response in a while, I will be closing out this git issue by end of day tomorrow, please reopen this git issue if you have anymore concerns. Thanks

[2019-09-04 21:55] #37917 closed

[2019-09-04 21:56] FrankHu-MSFT commented on #37611
hey @iilyin you be working with the support team on this issue to figure out what's wrong in your environment. thanks

[2019-09-04 21:58] patrickgalbraith commented on #37499
@fvalentiner I ended up building a custom Azure function that calls the API and handles the token refreshing. I called this function using a copy activity.

[2019-09-04 21:59] ericdrobinson opened #38316 "Setting Path Mappings in the Portal Does Nothing"
From what I can tell, setting the Path Mappings in the Azure Portal doesn't have any affect on the container. My app 100% requires a configuration file to be in a known location (as well as custom log output). This is trivial to do with local Docker and should be straightforward in the app. The Path Mappings look exactly like what I need but no amount of twiddling of the settings results in the co

[2019-09-04 22:07] markingmyname commented on #7804
@si1

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2019-09-04 22:07] #7804 closed

[2019-09-04 22:08] markingmyname commented on #8181
@jeffhebrank

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gla

[2019-09-04 22:08] #8181 closed

[2019-09-04 22:09] markingmyname commented on #9154
@alexmarshall132

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will

[2019-09-04 22:09] #9154 closed

[2019-09-04 22:10] markingmyname commented on #9519
@dcbrown16

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladl

[2019-09-04 22:10] #9519 closed

[2019-09-04 22:10] markingmyname commented on #10073
@juhka

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly co

[2019-09-04 22:10] #10073 closed

[2019-09-04 22:14] markingmyname commented on #10237
@djpmsft for awareness

[2019-09-04 22:16] SaurabhSharma-MSFT commented on #38263
@ashemedai The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-09-04 22:16] #38263 closed

[2019-09-04 22:24] lei0706w commented on #35466
You can try to record 7 channels using Audacity, and add an extra silenced channel of the same length as other 7 channels.

Ideally, customers are suggested to use Speech Devices SDK for Windows for conversation transcription when using Azure Kinect DK. It will automatically handle recording 7 channel audio +  1 silenced channel as well as do the speech recognition.  You can find Speech Devices SD

[2019-09-04 22:29] axisc commented on #37055
@Infinitism, you can use Role assignments to assign a role & *scope* to a specific service principal.

The roles are
- Service Bus Data Owner
- Service Bus Data Sender
- Service Bus Data Receiver

Now the scope could be your
- entire Azure subscription
- Resource Group
- specific Service Bus namespace
- specific Queue
- specific Topic (and it's related subscriptions)
- specific Subscription.

You

[2019-09-04 22:29] #37055 closed

[2019-09-04 22:29] msmbaldwin commented on #38275
Hi, @lukos. I updated the quickstart to the following:

Thank you for the feedback, we appreciate it! #please-close

[2019-09-04 22:29] #38275 closed

[2019-09-04 22:30] LenCardinal commented on #33601
Mine was: 119081624004021

I did not receive any response from Support on this case. Eventually, I just figured out that V2 AG’s are billed at a minimum of 20 CU’s per hour (explained in my earlier posts). Support did not refute it.

As for the documentation (assuming I’m understanding this correctly, based on Joe’s, others’, and my experiences), the Pricing section of the doc should be updated to

[2019-09-04 22:31] msmbaldwin commented on #38283
Hi, @lukos. I removed AzureCredentials from the code sample at https://github.com/Azure-Samples/key-vault-dotnet-core-quickstart/tree/master/akvdotnet. This change is reflected in the article as well.

Thank you for the feedback, we appreciate it! #please-close

[2019-09-04 22:31] #38283 closed

[2019-09-04 22:32] Alberto-Vega-MSFT commented on #37992
@ofekdadu Thanks again for your feedback! Closing this issue since the changes have been merged

[2019-09-04 22:32] #37992 closed

[2019-09-04 22:37] ericdrobinson commented on #38316
On a hunch I removed the spaces [and capitalization] from the "**Name**" field entries in my configuration. Suddenly the path mappings (and my app) started to work.

The documentation currently has this for the description:

It does not mention that this name is actually **_used_** by the system and must not have spaces. Please adjust the documentation to reflect this (or let me know what other vo

[2019-09-04 22:45] RudyEvers commented on #29053
Is there a solution for this problem? I am running Ubuntu 16.04 with the blob module.
 I also tried creating a container on Azure Storage Explorer v1.9.0 but unable to create in the container section of the Blob storage, it is loading indefinitely and any commands of creating container doesn't output results.

[2019-09-04 22:53] arduppal commented on #38120
Did you get a chance to look at this? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#azure-blob-storage-quickstart-samples

[2019-09-04 22:53] SaurabhSharma-MSFT commented on #38300
@MikeGriffinReborn Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 22:54] SaurabhSharma-MSFT commented on #38287
@AvanadeAndrej Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-04 22:58] RudyEvers opened #38319 "Unable to create container in blob storage module Edge"
**Situation**
I am in the middle of a project and want to use blob edge technology.
I have deployed an Azure Blob storage Module on an Ubuntu 16.04 vm. Everything is running with no errors. I tried creating a container on Azure Storage Explorer v1.9.0 but unable to create in the container section of the Blob storage, it is loading indefinitely and any commands of creating container doesn't output

[2019-09-04 22:58] Alberto-Vega-MSFT commented on #38303
@njbuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 23:03] mbialecka commented on #38303
@njbuch Please use full connection string as described in the [doc](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#connect-to-your-local-storage-with-azure-storage-explorer). Example:

[code]

Note that this example will work only from within another IoT module.

[2019-09-04 23:09] dcbrown16 commented on #9519
@markingmyname I created a PR here.
https://github.com/MicrosoftDocs/azure-docs/pull/38320

[2019-09-04 23:14] diberry commented on #37766
#in-progress

[2019-09-04 23:15] diberry commented on #35661
#please-close

[2019-09-04 23:15] #35661 closed

[2019-09-04 23:18] Kirlac commented on #38040
This is correct - I'm also getting a 404 from that link.

I apologize, I thought I had responded saying that but I guess my comment didn't post. Maybe the link is for a private repository which I do not have access to or something?

[2019-09-04 23:32] mike-urnun-msft commented on #38215
Hello @fernandoBRS - Could you provide us with the URL of the issue again? The link you've given us in your feedback seems to be referencing a Pull Request that is unrelated to this topic.

Moreover, given the scope of this doc, it might be better to add such details to the doc below instead:
- [Azure Functions Python developer guide](https://docs.microsoft.com/en-us/azure/azure-functions/function

[2019-09-04 23:36] olignat commented on #38040
I am wrapping up a public articles on this topic and it should be available shortly. I'll see if I can get it published in the next few days.

[2019-09-04 23:40] axisc commented on #37033
@rswgnu Thanks for sharing the feedback.

The exceptions listed here are for the .NET framework. The Python SDK can be viewed [here](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus)

[2019-09-04 23:41] bhall7718 commented on #35335
Any update on this? It has been two months?

[2019-09-04 23:42] #37033 closed

[2019-09-04 23:42] MartinJaffer-MSFT commented on #38075
I have reached out internally for verification.

[2019-09-04 23:47] cawrites commented on #38122
@chino0913 can you type the text of the error  message in your reply? Can you supply the steps you took to generate the error.

[2019-09-04 23:53] mike-urnun-msft commented on #38266
@githubavi In short, yes. Please review the following doc for more: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#logging

[2019-09-04 23:54] fernandoBRS commented on #38215
Hi @mike-urnun-msft , sorry for the wrong issue number. This is the right one: https://github.com/Azure/azure-functions-python-worker/issues/81

[2019-09-04 23:55] FrankHu-MSFT commented on #36379
Hey @rahulraj40 as the change has been made to the doc and this looks like this is correct. I will be closing out this github issue. I'll circle back around if this is incorrect. Thanks!

[2019-09-04 23:55] #36379 closed

[2019-09-04 23:55] fernandoBRS commented on #38215
@mike-urnun-msft totally agree with you to add it on the developer guide doc.

[2019-09-04 23:56] MicahMcKittrick-MSFT commented on #38307
Thanks for the feedback! We are currently investigating and will update you shortly.

CC @hansenms in case he has anything to add in the meantime.

[2019-09-04 23:57] MicahMcKittrick-MSFT commented on #38309
Thanks for the question! We are investigating and will update you shortly.

[2019-09-05 00:04] mike-urnun-msft commented on #38215
Thanks @fernandoBRS!

cc: @ggailey777 @asavaritayal

[2019-09-05 00:04] mgfink commented on #38261
I still can't access and confirmed it times out when I hit it from urlitor.com

[2019-09-05 00:05] FrankHu-MSFT commented on #38312
@TiloGit Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 00:05] FrankHu-MSFT commented on #38288
@MotoX183 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 00:05] FrankHu-MSFT commented on #38311
@ichkoj Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 00:07] FrankHu-MSFT commented on #38312
Hey @TiloGit  thanks for providing us this script! We appreciate it, we'll take a look into it and see if we might be able to put this in our docs.

Thanks again!

[2019-09-05 00:09] YutongTie-MSFT commented on #38107
@vikramdadwal I highly recommend you to post your feedback to the User Voice forum, the product team is reviewing the feedback carefully. https://cognitive.uservoice.com/
Thank you for the feedback again. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-05 00:09] #38107 closed

[2019-09-05 00:12] iizotov commented on #38229
ack, thanks for the link.

[2019-09-05 00:12] #38229 closed

[2019-09-05 00:13] diberry commented on #35643
@abhigyank Please post this on the https://github.com/Microsoft/Recognizers-Text github repository. #please-close

[2019-09-05 00:13] #35643 closed

[2019-09-05 00:14] cawrites commented on #37785
Hello @marchCharmois the workflow and images have been updated for this content, please review.

[2019-09-05 00:18] diberry commented on #37527
I think this issue is solved in that it isn't currently supported.

#please-close

[2019-09-05 00:18] #37527 closed

[2019-09-05 00:18] diberry commented on #37706
#please-close

[2019-09-05 00:27] djaus2 commented on #8509
I fell for this as well then finally worked out the problem was this.
The documentation needs a comment to cover this.

eg in "Call the direct method" Part 2:
2. Open the BackEndApplication.cs file in a text editor of your choice.

Add:
Make sure the assigned Device name matches your Device name.
Look for the line:
var response = await s_serviceClient.InvokeDeviceMethodAsync("MyDotnetDevice", meth

[2019-09-05 00:30] kumarallamraju opened #38325 "Incorrect URL to VM creation with accelerated networking"
[Enter feedback here]
This page provides a link to "VM creation with accelerated networking using Azure Portal". But when you click on the link, it actually takes you to the regular VM creation wizard. For accelerated networking, the networking screen should show the accelerated networking On/Off option. Perhaps you can fix the link

Portal creation
Though this article provides steps to create a v

[2019-09-05 00:33] payiAzure commented on #36123
will the scripts be available for helping on the jobs migration before 9.30? Hope to use scripts to make the migration more efficiency other than create/config jobs on portal one by one.

[2019-09-05 00:35] trivee opened #38326 "VirtualNetwork service tag includes 168.63.129.16"
Apparently the VirtualNetwork tag expands to include 168.63.129.16/32 (i.e. AzureLoadBalancer). This is not made explicit in the documentation. I stumbled upon this problem when I added a custom rule denying traffic from the VNet, and expected the default rule allowing probes from the load balancer to work - it didn't.

I suggest adding something like the following:

**VirtualNetwork** (Resource M

[2019-09-05 00:37] hansenms commented on #38307
For the OSS FHIR Server for Azure, the logs are available in the Application Insights instance deployed with the service. The components for self-service access to audit logs for the managed Azure API for FHIR will be available in the portal shortly and follow the pattern for monitoring of other services.

[2019-09-05 00:38] Grace-MacJones-MSFT commented on #38313
Hi @p1p3, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 00:47] kumarallamraju commented on #38325
Nevermind, you already provided the explanation to enable the accelerated networking in the Networking tab. Closing this issue now

[2019-09-05 00:47] #38325 closed

[2019-09-05 00:48] tkumark commented on #37899
Than you Rohit for the explanation. I think the way you explained should be documented rather than the current explanation where they say "any subnet". https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#prerequisites-1

I might have misinterpreted what Colin Murphy said in the video about this feature. But it would be nice if this setting is limite

[2019-09-05 01:03] Grace-MacJones-MSFT commented on #38292
Hi @kvansaders the outbound IP addresses are not static but normally does not change. Azure App Service does not support fixed outbound IP due to its architecture considerations, instead, you have a range of IPs that could be used.

The outbound IP addresses are per stamp/scale unit that the apps are on. It is not specific to a certain webspace or resource group.You can find the stamp/scale unit i

[2019-09-05 01:03] #38292 closed

[2019-09-05 01:04] trivee commented on #38326
Sorry, looks like a duplicate, I didn't notice that the same issue was posted 2 months ago.

[2019-09-05 01:06] tellarin commented on #35643
@diberry, @abhigyank, this is outside the scope for Recognizers-Text, so that repo is not the right place for it. Unfortunately there's no update on this yet, still in the roadmap for discussion.

[2019-09-05 01:08] rocketraman commented on #38259
@MarileeTurscak-MSFT broken pull request links?

[2019-09-05 01:12] aldelar opened #38329 "error in example"
Time when the trigger was scheduled to invoke the pipeline run. For example, for a trigger that fires every 5 min, this variable would return 2017-06-01T22:20:00Z, 2017-06-01T22:25:00Z, 2017-06-01T22:29:00Z respectively. --&gt; SHOULD BE: Time when the trigger was scheduled to invoke the pipeline run. For example, for a trigger that fires every 5 min, this variable would return 2017-06-01T22:20:00

[2019-09-05 01:13] aldelar opened #38330 "error in example for trigger.startTime"
Time when the trigger actually fired to invoke the pipeline run. For example, for a trigger that fires every 5 min, this variable might return something like this 2017-06-01T22:20:00.4061448Z, 2017-06-01T22:25:00.7958577Z, 2017-06-01T22:29:00.9935483Z respectively. (Note: The timestamp is by default in ISO 8601 format) --&gt; SHOULD BE: Time when the trigger actually fired to invoke the pipeline r

[2019-09-05 01:43] Anand-Moghe opened #38331 "Security Assertion Markup Service (SAML) tokens, for the authentication and authorization of API Consumers"
Is there a way to implement authentication and authorization of API consumers using Security Assertion Markup Service (SAML) tokens on API Management ?

If it is possible, can you please kindly point me to the Azure Docs that could explain this integration? If SAML is not supported, is this in the future road map?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-05 01:46] mike-urnun-msft commented on #38310
Hi @durtal - Thank you for your feedback! We will review and update as appropriate.

[2019-09-05 02:03] roxxette opened #38332 "Different auth methods needed for the last step"
As I know, HDInsight disables WebHDFS inside cluster.
So for the last step, to check result of hive output, we have to use ADSL WebHDFS.
That means, we need a different auth method to get the result.

For this use case, this is very not friedly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88405fdd-d909-1772-2b0d-a6a

[2019-09-05 02:04] KehindeOwens opened #38333 "Administration Access inaccessible with this plugin."
Hello,

All appears to work well with this plugin except that when I (a Jira administrator) attempts to access anything involving me to re-authenticate it re-directs me back to my Jira dashboard. For example, I attempted to access the "User Management" blade and needed to input my creds, normally i'd use my Crowd creds but decided to use "Login with Azure AD". The authentication worked but sent me

[2019-09-05 02:19] eyast opened #38334 "incorrect text"
in the text, it reads "For the five-minute period illustrated," (under assessing database utilizatoin pattern).
But the graph does not show a 5 minutes period.
the X axis shows either 60 seconds, or 60 minutes (I believe, it's the latter)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b117

[2019-09-05 02:27] ispysoftware commented on #30381
Can confirm this is still thoroughly broken

[2019-09-05 02:31] KrishnaG-MSFT commented on #38315
@ROSMITHJ-MSFT Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-05 02:34] KalyanChanumolu-MSFT commented on #38028
@baumatron Thank you for reaching out to us.
This is being assigned to the content author to evaluate and update as appropriate.

@SnehaGunda I couldn't find a sample to get the metrics for mongo api.
Could you please help.

[2019-09-05 02:34] KrishnaG-MSFT commented on #38325
@kumarallamraju Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-05 02:45] sujayvsarma commented on #38167
Like I've said repeatedly. Azure documentation on authentication sucks. Terminology needs to be improved a lot. Docs need to be in sync with what's on the portal.

This anonymous mode thing - no one has even heard of it. Why isn't there more visible documentation of what it is, how to use it, how not to use it, etc?

[2019-09-05 02:46] StingyJack commented on #37777
@NavtejSaini-MSFT - not sure why you are asking @JonCole when I'm the one who asked the question and am pointing out something missing from the docs that cost me a bunch of hours.

[2019-09-05 02:49] neeleshray-msft commented on #38034
You can use the Powershell cmdlet with various settings.

To get current setting
`Get-AzureADMSGroupLifecyclePolicy |Format-List`

To retrieve Lifecyclepolicy of a selected group
`Get-AzureADMSLifecyclePolicyGroup -Id`

To check what policy, if any, is assigned to a Group
`Get-AzureADMSLifecyclePolicyGroup -Id (Get-AzureADMSGroup -SearchString default).Id`

We will be closing this thread now, let

[2019-09-05 02:49] #38034 closed

[2019-09-05 02:49] mike-urnun-msft commented on #38331
Hi @Anand-Moghe - Thank you for your feedback! We will review and update as appropriate.

[2019-09-05 02:51] KalyanChanumolu-MSFT commented on #38334
@eyast Thank you for the feedback.

Could you please point me to the graph where you are seeing a discrepency so that I can check this for you. The graphs in the example illustrate the DTU at a 5 minute interval.

![image](https://user-images.githubusercontent.com/8835012/64308053-abced580-cfb5-11e9-8069-49bf6463b91b.png)

[2019-09-05 02:51] SubhashVasarapu-MSFT commented on #38326
@trivee, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-05 02:51] neeleshray-msft commented on #38233
@mmacy
Could this document be checked for updated samples ?

[2019-09-05 03:07] DashleenBhandari-MSFT commented on #38093
@joalcava , Thanks for the feedback. We will work to update the document.
@genlin , Could you please look into the document and update it accordingly.

[2019-09-05 03:49] #33628 closed

[2019-09-05 03:49] SumanthMarigowda-MSFT commented on #38017
@iLikeAzureSQL Firstly, apologies for the delay in responding here. You may refer to the cmd foo azcopy:
azcopy cp "https://<source-storage-account-name>.blob.core.windows.net/<container-name>/<blob-path>?<SAS-token>" "https://<destination-storage-account-name>.blob.core.windows.net/<container-name>/<blob-path>"
Read here: https://docs.microsoft.com/en-us/cli/azure/storage/blob/copy?view=azure-cli

[2019-09-05 03:49] #38017 closed

[2019-09-05 03:49] DaveClarkey opened #38335 "Documentation out of date - Version 1.4.13.0?"
This week our Agent Updater installed version 1.4.13.0. Microsoft Support have confirmed that 1.4.13.0 is a currently released version enabled for the Auto Update option. Could you publish the changes please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 2

[2019-09-05 03:50] Ben67366 opened #38336 "[New-AzWebAppSlot] Is it possible to create a slot and clone the settings from target WebApp?"
I want to create a slot and clone the settings from target WebApp.
I can do this with web side.

![image](https://user-images.githubusercontent.com/25456777/64310435-029ad600-cfdb-11e9-8bfb-2173cbf455db.png)

Is it possible to do it though Az Powershell too?

I readed the documents here. But seems it is not possbile?
https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebappslot?v

[2019-09-05 03:51] KranthiPakala-MSFT commented on #38330
@aldelar Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-09-05 03:51] KranthiPakala-MSFT commented on #38329
@aldelar  Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-09-05 03:54] dcbrown16 opened #38337 "Availability of 7.7 images"
7.7 was available from RedHat on 8/6/2019. It has certainly been more than three business days as described here. Are there plans to release images with 7.7?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768ba2bd-c8a7-9393-2cfd-387a3fc27783
* Version Independent ID: fd920bf1-26ab-5b26-2f45-97ec1d0303ca
* Content: [Red

[2019-09-05 04:01] SumanthMarigowda-MSFT commented on #38057
@test123114
You can refer to the suggestion mentioned in this [SO ](https://stackoverflow.com/questions/57719242/generate-signed-url-for-azure-blob-storage-using-java-sdk)thread

The below mentioned links will provide more info and idea on your query. Tru the suggestion mentioned and let me know the status.
https://stackoverflow.com/questions/54237618/error-when-accessing-sas-url-through-java-serv

[2019-09-05 04:15] #38164 closed

[2019-09-05 04:16] DixitArora-MSFT commented on #38164
@mfalkvidd I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 04:17] AjayKumar-MSFT commented on #38316
@ericdrobinson, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-09-05 04:18] PawandeepK001 opened #38338 "Limit on number of logic apps connected to On Premise Data Gateway?"
Is there any limit on number of logic apps connected to Data gateway? In the documentation, it is mentioned that the amount of data sent can affect the results. How to measure the limit in this case and where to stop?
I would also like to know best practices for using data gateway for different app services. If I have a enterprise Data Gateway, is it okay to use a single data gateway for different

[2019-09-05 04:18] KranthiPakala-MSFT commented on #38329
@aldelar The PR (#87496) for the fix has been created and it will be merged soon. Changes will reflect in 24hrs. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you!

[2019-09-05 04:18] #38329 closed

[2019-09-05 04:18] KranthiPakala-MSFT commented on #38330
@aldelar The PR (#87496) for the fix has been created and it will be merged soon. Changes will reflect in 24hrs. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you!

[2019-09-05 04:18] #38330 closed

[2019-09-05 04:21] rayifu opened #38339 "The link of Twistlock and Aqua Security is broken link"
The link of Twistlock and Aqua Security is broken link.
the page is 404 not found.

So would you please fix the link of Twistlock and Aqua Security.

twistlock:
- column: 33
    - before: https://azuremarketplace.microsoft.com/marketplace/apps/twistlock.twistlock?tab=Overview
    - after: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/twistlock.twistlock?tab=Overview

Aqua Security:

[2019-09-05 04:29] thi-baut commented on #38038
Thanks for the reply @shashishailaj. The scenario you mentioned is close to my use case: the system of a subsidiary entity is authenticating to Azure AD using a JWT token signed by the private key of its certificate. Azure AD has a copy of the public key (AsymmetricX509Cert) and can validate authenticity of the token, and let the subsidiaries system authenticate is the token signature is legit. Th

[2019-09-05 04:36] shafalfa commented on #38159
@RohitMungi-MSFT <https://github.com/RohitMungi-MSFT>

I have a few more questions about this preview version.

1. Is there any indication of when it will become the standard / stable version?

2. How would you advise us if we wanted to use this in a production environment? Would the pricing be the same as for the existing version?

3. Are you also working on updating the client library to use thi

[2019-09-05 04:42] shashishailaj commented on #38333
@KehindeOwens Thank you for your query. We will investigate and update the thread .

[2019-09-05 04:42] shashishailaj commented on #38335
@DaveClarkey Thank you for pointing this out . We will engage with the content authors on this to get it updated .

[2019-09-05 04:46] souravmishra-msft commented on #38227
@Samsinite, We do not recommend multiple Redirect URIs to be present under one AAD App registration, as AAD picks up the URI present top of the list. Its advisable to have one redirect URI per AAD App Registration.

[2019-09-05 04:49] BevanG commented on #38258
The description is technically OK, but "Lets you manage everything except access to resources." is being interpreting by the OP as not being able to access resources. "Lets you manage everything except granting access to resources." or "Lets you manage everything except RBAC for resources." would clear it up.

[2019-09-05 04:53] msrini-MSFT commented on #38319
@RudyEvers , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-05 04:55] jakaruna-MSFT commented on #37490
@dcbrown16 I will close this issue for now since and follow up with the product team internally.
It will be difficult to find out the required permissions by trial and error.
We found the required permissions  while calling reset password from Rest api and cli.
But we are unable to find the required permissions for password reset in Portal.
i will initiate a email thread internally and follow up o

[2019-09-05 04:55] msrini-MSFT commented on #38249
@dralpus , do you have any update for me?

[2019-09-05 04:57] BevanG opened #38340 "RBAC - Can't find "Create" action"
I've reviewed the following 2 documents and I can find any reference to being able to restrict access to Create resources:
[https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles)
[https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions](https://docs.microsoft.com/en-

[2019-09-05 04:58] #37490 closed

[2019-09-05 05:00] nakazax opened #38341 "Misspelling: mySampleDatabase > mySampleDataWarehouse"
In the sentence No. 2 of the section "Create a server-level firewall rule", I think "mySampleDataWarehouse" is correct instead of "mySampleDatabase".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID: 8db6b4e9-fd3a-8b45-1283-7f7144772a88
* Content: [Quickstart:

[2019-09-05 05:03] SnehaAgrawal-MSFT commented on #38163
@v-tawe Thanks for asking question! Just to confirm if you have navigated to your web app you already created. Sharing screen shot here, might be helpful. Let us know how that goes.
![image](https://user-images.githubusercontent.com/46553948/64313179-7aabd080-cfc8-11e9-8ba6-b650af9cd0c9.png)

[2019-09-05 05:03] souravmishra-msft commented on #38046
@msmbaldwin, Can this ask be incorporated in the current documentation?

[2019-09-05 05:06] githubavi commented on #38266
Thanks, the link helps a lot.
-Avi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Urnun <notifications@github.com>
Sent: Thursday, September 5, 2019 5:23:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Avijit Samanta <avijit.samanta@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to

[2019-09-05 05:12] souravmishra-msft commented on #38218
@lucafabbri365, The documentation is already updated. Do let us know if you need any further help.

[2019-09-05 05:20] VikasPullagura-MSFT commented on #38339
@rayifu Thanks for your feedback. When I tried opening the links, they are automatically redirecting (en-us) and the expected pages are being opened without any 404 error.

Can you please share the url to which the page is redirecting when you click on the link.

[2019-09-05 05:30] johngodel commented on #38243
This is happening immediately after the run sample code under https://github.com/microsoft/Cognitive-Samples-VideoFrameAnalysis

[2019-09-05 05:33] DixitArora-MSFT commented on #38217
@fernandoBRS  I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 05:33] #38217 closed

[2019-09-05 05:36] johngodel commented on #38243
![image](https://user-images.githubusercontent.com/42683896/64314619-7bab1680-cf64-11e9-83b7-2e943d209254.png)

[2019-09-05 05:42] chino0913 commented on #38122
Hi,

Please find below the text of the error message (some info has been omitted)

Activity Log

Activity App Location Date
Failed log on (Failure message: General failure) Office 365 Australia Sep
2, 2018 8:48 AM
Failed log on (Failure message: General failure) Office 365 Australia Sep
2, 2018 8:48 AM
Failed log on (Failure message: General failure) Office 365 Australia Sep
2, 2018 8:48 AM
Failed

[2019-09-05 05:49] olofhellman opened #38342 "After following the instructions here, when my code actually runs, I get a SqlException"
I'm trying to run a simple "put one item in a table" code using Entity Framework
When my code gets to
      this.DBContext.SaveChanges();
I get the error:
       System.Data.SqlClient.SqlException: 'Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.'
I have my azure user selected in Visual studio, and a connection string as specified here:  ""Server=tcp:&lt;server-name&gt;.database.windows.net,

[2019-09-05 05:50] xinyiz1226 opened #38343 "Need to mention IoT Hub PnP support is available in certain regions"
In document https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-create-pnp-device, https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-connect-pnp-device and https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-connect-pnp-device-solution, they don't mention user need to create IoT Hub in certain regions for PnP features. If users come from search engine and do not read https://do

[2019-09-05 05:55] CHEEKATLAPRADEEP-MSFT commented on #38332
@roxxette  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-09-05 06:14] lucafabbri365 commented on #38218
Hello @souravmishra-msft<mailto:notifications@github.com>,
thank you for your feedback.

Regards,
Luca

From: souravmishra-msft <notifications@github.com>
Sent: Thursday, September 5, 2019 7:13 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luca Fabbri <luca.fabbri@livemail.it>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Typing error (#38218)

[2019-09-05 06:14] msrini-MSFT commented on #38343
@xinyiz1226 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-05 06:17] msrini-MSFT commented on #38338
@PawandeepK001 , can you please share me the documentation Link which you are referring here to help you better?

[2019-09-05 06:19] KalyanChanumolu-MSFT commented on #38341
@nakazax Thank you for pointing the issue. I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-09-05 06:23] msrini-MSFT commented on #38336
@Ben67366 , Thank you for posting here. We will investigate and get back to you.

[2019-09-05 06:26] know-where commented on #14280
@markingmyname It's not an issue really and I'm not sure if it belongs here, but the activity() function is still undocumented.

[2019-09-05 06:28] KalyanChanumolu-MSFT commented on #38341
@nakazax The changes are merged. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-05 06:28] #38341 closed

[2019-09-05 06:32] Ashish-Jovial commented on #37652
@PramodValavala-MSFT  Do we have any update on it? My project is facing the same issue, we tried to create SQL DataWarehosue using ARM templates in Azure portal but i hadn't created, it given same error. Please update me about this issue as resolve.

ashishjain709@gmail.com
![3EEDDB30](https://user-images.githubusercontent.com/5494030/64317314-f4e25200-cfd4-11e9-927e-ccf23089574b.PNG)

[2019-09-05 06:32] AshokPeddakotla-MSFT commented on #34985
@Satya519364 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-05 06:32] #34985 closed

[2019-09-05 06:33] RohitMungi-MSFT commented on #38243
@johngodel Could you please try to use another system where the Microsoft .Net core framework is installed correctly. This looks like an error with the framework in your system. I have tried the same and it looks like it works fine.
![image](https://user-images.githubusercontent.com/46958063/64317360-15121100-cfd5-11e9-8caa-7ae900731e2d.png)

[2019-09-05 06:42] shashishailaj commented on #38340
@BevanG Thank you for your query. We will investigate and update later.

[2019-09-05 06:44] shashishailaj commented on #38340
@BevanG Could you please share the documents you have gone through for reference and I will check the same further . I would need to test the same on my side . Please let me know and I will help you further.

Thank you.

[2019-09-05 06:45] SnehaAgrawal-MSFT commented on #38342
@olofhellman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 06:51] BhupalPatil opened #38344 "Is Azure IOT C SDK compatible with Ingenico Telium 2 OS?"
Hi Team,
Is [Azure IoT C SDKs and Libraries](https://github.com/Azure/azure-iot-sdk-c) and [sample](https://github.com/Azure/azure-iot-sdk-c/blob/7a426159c1187715934a793e3e0b84bf955ea2a4/iothub_client/tests/iothubclient_uploadtoblob_e2e/iothubclient_uploadtoblob_e2e.c) compatible with Ingenico Telium 2 OS?

Thanks
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-09-05 06:55] rayifu commented on #38339
thank you for replying
https://docs.microsoft.com/ja-jp/azure/container-instances/container-instances-image-security
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-image-security

perhaps, I think the lang of browser setting.
now, i happend 404 error when I set japanease.
and when I go to page of docs at after ja-jp to en-us , I happend 404 at both page of docs  and

[2019-09-05 07:06] olofhellman opened #38345 "No instructions on how to create AD Admin"
The section "Create an Azure AD administrator for Azure SQL server" says  "A second SQL Server administrator must be created", but there are no instructions on how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3

[2019-09-05 07:12] BryanTrach-MSFT commented on #38261
@mgfink Since Heidi or myself are unable to reproduce the issue, I think it would be best if we put you in touch with a support engineer as it seems to be something with your setup. Can you please reach out to me at azcommunity@microsoft.com with your subscription ID and the URL of this post? We look forward to your reply.

[2019-09-05 07:12] #38261 closed

[2019-09-05 07:21] BevanG commented on #38340
@shashishailaj  I have updated the ticket

[2019-09-05 07:24] BhupalPatil opened #38346 "File Upload summary (File name/link, who uploaded it, when etc...)"
Is there any option to get summary of file upload? That is file name and link, who uploaded it, when it was uploaded?

Is the file upload summary written somewhere already? if not what is possible option to capture it? use azure function and write it to DB manually? or use IOT Hub Diagnostics/Alert settings? any other recommended option without writing code/function/calling IOT API etc...?

Thanks

[2019-09-05 07:24] PawandeepK001 commented on #38338
I am referring to FAQ section in this documentation: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-install#general
there is a question on network bandwidth.

[2019-09-05 07:26] tecris opened #38347 "Cloud-init security considerations"
"when specifying private keys in cloud-config, care should be taken to ensure that the communication between the data source and the instance is secure" from https://cloudinit.readthedocs.io/en/latest/topics/modules.html#ssh.
Can you please explain from azure point of view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-09-05 07:39] MarcCharmois commented on #37785
Hello @cawrites, thank you so much! It seems that you have a way with less steps than mine and before, great! I will test and give you a feed back asap. :-)
Marc

[2019-09-05 07:47] johngodel commented on #38243
Hello
I just try to use on another system where the Microsoft .Net core framework is installed correctly. But no difference. Same error. However why .NET core?

[2019-09-05 07:49] johngodel commented on #38243
![image](https://user-images.githubusercontent.com/42683896/64322244-0ac12a00-cf77-11e9-8be6-5c8d27db99b5.png)

[2019-09-05 07:51] Nimleth commented on #38170
Great, thanks. This means we have far less use for ASE which we're trying to get rid of.

[2019-09-05 07:51] #38170 closed

[2019-09-05 07:56] KetanChawda-MSFT commented on #38331
@vladvino / @mikebudzynski Can you please share your thoughts here.

[2019-09-05 07:59] forester123 opened #38348 "GPT support OS disk"
The doc says GPT partitioning only available for data disk. But I created a SUSE Linux VM from marketplace, the OS disk is GPT format. Am I misunderstand anything? This VM only has OS disk, no data disk.
![image](https://user-images.githubusercontent.com/13616574/64323119-6aaae580-cff6-11e9-9c04-1d5c12c497ba.png)

![image](https://user-images.githubusercontent.com/13616574/64323059-4fd87100-cff6-1

[2019-09-05 08:00] KetanChawda-MSFT commented on #38248
@simonvane Thanks for the raising the[ issue](https://github.com/MicrosoftDocs/feedback/issues/1893) in Microsoft Feedback repo. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 08:00] #38248 closed

[2019-09-05 08:04] DixitArora-MSFT commented on #38224
@yevster  I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 08:04] #38224 closed

[2019-09-05 08:05] slime-uk opened #38349 "VMSS with custom image - rolling upgrade possible but does it check health monitor"
We have a VMSS with a rolling upgrade policy set.  The VMSS has 8 instances based off a custom packer image.  We deploy the HealthMonitorWindows extension and it correctly reports healthy and unhealthy when it should.  We have a number of instances that are reporting unhealthy correctly (by design as they are busy so we do not want them to be upgraded).  We then change the properties of the VMSS t

[2019-09-05 08:30] AshokPeddakotla-MSFT commented on #38344
@BhupalPatil As this is out of the scope of this document, In order to best address your question, please open an issue [here](https://github.com/Azure/azure-iot-sdk-c/issues).

[2019-09-05 08:42] mdddev commented on #33480
So it is working now and it turns out everything was set-up correctly. It was a networking issue.

- My function app was configured to have inbound vnet connectivity to a specific (delegated to the function app) subnet. This subnet in turn had a key vault service endpoint enabled.

- In the key vault firewall rules, this subnet has been allowed to have access

As described in my earlier post:

- W

[2019-09-05 08:44] VikasPullagura-MSFT commented on #38337
@dcbrown16 Thanks for the feedback, I am checking on this with the team and will update here once I hear back from the team.

[2019-09-05 08:54] jakaruna-MSFT commented on #38348
@forester123
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 08:55] VikasPullagura-MSFT commented on #38339
@rayifu Thanks for responding with all your findings.

I have assigned the issue who takes care of the document localization. This will be addressed soon.

[2019-09-05 08:55] VikasPullagura-MSFT commented on #38339
@ishasahni1 Can you please look into this issue and add your comments.

[2019-09-05 08:55] ManojReddy-MSFT commented on #38288
@MotoX183 I have assigned this to the author to update the doc with the new format.

[2019-09-05 08:58] BhupalPatil commented on #38344
Thanks @AshokPeddakotla-MSFT

I have raised issue on suggested area. we can close this one.

[2019-09-05 09:02] lightupdifire opened #38352 "Deleted objects"
Hello,
Would be great to add information about deleted objects,
As example:
Today we have an App/User/Device with their display name, object ID etc.
Today "User A" from "Device B" try access application "App C" at 12:00 AM.
Tomorrow we delete "App C/User A/Device B",
After few days, admin detect suspicious activity, and query Sign-in logs for time interval "two days ago at at 12:00 AM,
Then info a

[2019-09-05 09:02] lukos commented on #38274
I found out that I was a subscription contributor so I didn't have permission. I saw that I was a Global Administrator elsewhere so there must be some crossover with terms but at least I know now! Thanks.

[2019-09-05 09:02] #38274 closed

[2019-09-05 09:03] RohitMungi-MSFT commented on #38243
@johngodel Since the error seems to be from a call to mscorlib.dll it looked like an issue with the framework version. I am unable to replicate the same error though. What are the settings given for the endpoints of face and vision?

It looks like some users have used the endpoint as the following:

![image](https://user-images.githubusercontent.com/46958063/64327359-2c5af980-cfe9-11e9-9056-3c0e9f

[2019-09-05 09:08] AshokPeddakotla-MSFT commented on #38344
@BhupalPatil Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 09:08] #38344 closed

[2019-09-05 09:10] AshokPeddakotla-MSFT commented on #37980
@menmikimen
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
You can also  open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverf

[2019-09-05 09:10] #37980 closed

[2019-09-05 09:13] AshokPeddakotla-MSFT commented on #38343
Thanks for the feedback! I have assigned the issue to the content author @miagdp to evaluate and update as appropriate.

[2019-09-05 09:19] nehatiwari1994 commented on #38160
Thanks for the revert. We tested and haven't faced any downtime or disruption. It would help if this section is added in the page. We had to disable the rules for some testing and observation

[2019-09-05 09:30] jakaruna-MSFT commented on #38348
@roygara i verified that the OS disk is with gpt partition.
Please add your comments

[2019-09-05 09:30] aloneguid opened #38353 "Credentials lost on application restart"
Every time application starts we need to re-authenticate with UI again. Can you advise how to cache tokens between app restarts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b69d53-2f6f-38bc-321d-f5330518670e
* Version Independent ID: d0a8b8ab-02bf-d588-465c-03dc1e1fd013
* Content: [Get started with Microsoft ident

[2019-09-05 09:38] andreasmarx opened #38354 "Synchronization frequency (20-30 minutes) is missing in some languages"
Hi.
Synchronization frequency (20-30 minutes)  is missing in the en-us (and for example en-gb too) language of this page.
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/synchronization
https://docs.microsoft.com/en-gb/azure/active-directory-domain-services/synchronization

In these languages the frequency is stated:
https://docs.microsoft.com/fr-fr/azure/active-directory-d

[2019-09-05 09:39] RohitMungi-MSFT commented on #38159
@shafalfa We have reached out to our product team for more updates that can answer your questions. We shall update you as soon as we receive a response.

[2019-09-05 09:40] SnehaAgrawal-MSFT commented on #35869
@Mitaric Apologize for late response! Make sure URL is wrapped in quotes and & needs to be escaped in most shells since it’s a special character.

[2019-09-05 10:23] SnehaAgrawal-MSFT commented on #37822
@grillba We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

[2019-09-05 10:23] #37822 closed

[2019-09-05 10:26] SwathiDhanwada-MSFT commented on #38155
@tfitzmac  Can you please provide your thoughts on this?

[2019-09-05 10:34] ishepherd commented on #35316
Ping! @brettsam @lmolkova

[2019-09-05 10:46] mikewo commented on #38200
I believe this is handled via the Diagnostics settings under Azure Monitor. Essentially that's where you end up if you do it via the portal. Check out the https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettings/ for REST and *-AzDiagnosticSetting cmdlets for PowerShell. I'm not sure what it would look like in ARM, but you can reverse engineer it maybe from a known setup and the ARM ex

[2019-09-05 10:47] ragedrk commented on #38255
Hello @FrankHu-MSFT!
Yes that's right, I've created a very simple page to be used as custom one for a UserFlow.
It simply contains the <div id="api"><div> and another with the video with video autoplay loop muted width and heigth.
As soon as the Page loads from a UserFlow only the first frame from the video is loaded and displayed (the black box in the image), the injected fields and data are corr

[2019-09-05 11:15] ragedrk commented on #38255
quick update, it seems that the only video tag that doesn't work is autoplay because controls and muted are working.

`
<video autoplay loop muted controls width="320" height="240">
			<source src="https://xxxx.blob.core.windows.net/xxxx/xxxx.mp4" type="video/mp4" />
</video>
`

[2019-09-05 11:21] prajster commented on #35358
This is half information. either the script has not been tested fro managed disks or there is some command missing. the is no vdhurl or
RecoveryAzureStorageAccountId for the last command to go through.

please find the powershell output below,
$TempASRJob = New-ASRReplicationProtectedItem -AzureToAzure -AzureVmId $VM.Id -Name (New-Guid).Guid -ProtectionContainerMapping $UKSToUKWPCMapping -AzureToA

[2019-09-05 11:32] jonimattila opened #38356 "Claim username"
I could not get login working but after removing namespace completely and replacing source attribute to user.onpremisessamaccountname i finally got it working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ffa73bf-e4cb-d6bc-3a9f-ec190ab1f5fd
* Version Independent ID: 8b025543-22d3-2dda-e9dd-f1f75f082ba4
* Content: [T

[2019-09-05 11:47] rayne-wiselman commented on #35358
@SadiqhAhmed-MSFT Please reopen. @sujayt please review

[2019-09-05 11:59] jakaruna-MSFT commented on #38347
@tecris Generally cloud init configs will be stored somewhere and refrenced while creating the VM.
Usual locations will be gihub or storage account or local machine.
I think the document is mentioning about the how the file is going to be pulled and from the place where its stored to the instance.

@danielsollondon please add if i am missing something

[2019-09-05 12:05] jakaruna-MSFT commented on #38349
@slime-uk
Thanks for the question! I will check with the internal teams and let you know.

[2019-09-05 12:05] jakaruna-MSFT commented on #38349
@mayanknayar please share your comments

[2019-09-05 12:14] dzoech opened #38357 "Obsolete NSG rule on windows"
Regarding point 3 "For Windows clusters only, set up an Azure Network Security Group (NSG) rule that opens up port UDP/53  [...]" I think this is not required anymore. At least it works for me without a specific NSG rule.
(SF cluster on windows 1803)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10d2be5c-2f24-2c0c-395

[2019-09-05 12:16] SadiqhAhmed-MSFT commented on #38241
@thi-baut The Azure AD objects limits apply to Azure AD B2C as well. Because the service is built on top of Azure AD. HTH

Let me know if you've any further questions.

[2019-09-05 12:16] durtal commented on #38310
Hi @mike-urnun-msft,
I have managed to find a solution that sees all the tests run, it involves reading in the `local.settings.json` file and then assigning the values in there to the environment, so the top of my `index.test.js` file looks like below:

[code]

However if there's a better solution, that'd be good.
Cheers

[2019-09-05 12:16] #38310 closed

[2019-09-05 12:31] jakaruna-MSFT commented on #38349
@slime-uk Whats the upgrade policy for your VMSS? (Automatic or rolling)
From your issue description it looks like you are using "rolling"

[2019-09-05 12:32] jmprieur commented on #38353
Thanks for the feedback, @aloneguid
we'll update the article. Meanwhile you might want to have a look at the [Desktop scenario](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-overview), and the desktop sample](https://github.com/azure-samples/active-directory-dotnet-desktop-msgraph-v2)

[2019-09-05 12:37] slime-uk commented on #38349
Hi,

Yeh. It’s set to Rolling.

Playing with the percentages on the 3 settings I think it IS looking at the results of the health monitor but sadly only to decide if the batch can start/continue. What it is not doing is then looking to see if an instance/VM is healthy/unhealthy before targeting it for the upgrade.

This is possibly/probably by design. What we’d actually like is it to check this he

[2019-09-05 12:39] JayaSaiSontineni opened #38358 "Any possibility of creating 3D Model using Azure Kinect external synchronization , please provide some suggestions"
I was trying to get the 3D Mesh output file, Please provide how we can get the 3D Mesh output file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58a1f3e-c828-1567-0a87-c1dd02b8f61b
* Version Independent ID: 8bd1acf3-f151-0a91-7994-c06882595adb
* Content: [Use Azure Kinect recorder with external synchronized units](ht

[2019-09-05 12:40] JayaSaiSontineni opened #38359 "Any possibility of converting multiple video's recorded from multiple Kinect cameras using external synchronization to a single video."
Needed documentation on how to merge two videos recorded using external synchronization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58a1f3e-c828-1567-0a87-c1dd02b8f61b
* Version Independent ID: 8bd1acf3-f151-0a91-7994-c06882595adb
* Content: [Use Azure Kinect recorder with external synchronized units](https://docs

[2019-09-05 12:42] JayaSaiSontineni opened #38360 "Can I generate a 3D 360 volumetric capture video using Azure Kinect"
Please provide necessary steps or documentation on how to record a 3d 360 volumetric capture from Azure Kinect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58a1f3e-c828-1567-0a87-c1dd02b8f61b
* Version Independent ID: 8bd1acf3-f151-0a91-7994-c06882595adb
* Content: [Use Azure Kinect recorder with external synchroni

[2019-09-05 12:54] njbuch commented on #38303
Thanks, I will try this, but is the version planned to be upgraded, it seems that the forced 2017 versions seems a little outdated?

[2019-09-05 12:54] harshavemuluru-gep opened #38361 "How to use azure container registry image to configure a azure batch node using python."
https://docs.microsoft.com/en-us/azure/batch/batch-docker-container-workloads#prefetch-images-for-container-configuration

Please direct me to a python version code for this :
https://docs.microsoft.com/en-us/azure/batch/batch-docker-container-workloads#prefetch-images-from-a-private-container-registry

Thanks
Harsha

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-09-05 12:55] njbuch commented on #38120
@arduppal - yes, I am working on it, will revert when I have solved the challenge, other dialogue going on here: [link](https://github.com/MicrosoftDocs/azure-docs/issues/38303)

[2019-09-05 13:03] gkohen commented on #31375
Please reopen

[2019-09-05 13:06] Weatwagon commented on #35466
@lei0706w  I will try to create the audio file and test with a silenced channel. Do you know if it needs to be on a specific channel?

I'm familiar the the sample app. It seems to function fine. Though I prefer .net stack over java development. I would like to use a recording of a previous conversation because right now I'm driving my co-workers crazy asking them to "hey say something" (open offic

[2019-09-05 13:10] Canis-Lupis commented on #38076
Even after signing-in it didn't appear.  Eventually, however, it did.  So, if anything, just mention that it might take awhile before users start seeing the new branding.
________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Tuesday, September 3, 2019 2:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWul

[2019-09-05 13:13] ROSMITHJ-MSFT opened #38362 "Define the different types of memory mentioned in this article"
In the article, the following is mentioned about Memory working set and Memory RSS:

"Memory working set shows both the resident memory and virtual memory (cache) included and is a total of what the application is using.

Memory RSS shows only main memory, which is the resident memory. This metric shows the actual capacity of available memory."

These definitions need to be improved, as they refer

[2019-09-05 13:16] mohakevin opened #38363 "change PITR retention from Azure CLI"
When is it available to change PITR retention from Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database automatic, geo-redundant backups](https://docs.microsoft.com/en-us/azure/sql-dat

[2019-09-05 13:22] AshokPeddakotla-MSFT commented on #38346
@BhupalPatil Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 13:24] KrishnaG-MSFT commented on #38362
@ROSMITHJ-MSFT Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-05 13:28] lmicverm opened #38364 "dynamically provided parameters are not used in the exported ARM templates"
At the moment it is possible to use dynamic content for your pipeline connections. However, if you want to use them in an automated CI/CD setup, this is not possible.

I followed the microsoft best practices for setting up CI/CD with Azure DevOps (DEV env is linked to git, the other envs are not: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment).

I want to par

[2019-09-05 13:35] Greggomatic commented on #38342
@SnehaAgrawal-MSFT @olofhellman We are experiencing the same issue as well following this guidance.

System.Data.SqlClient.SqlException (0x80131904): Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.

[2019-09-05 13:47] stdistef opened #38365 "Severity is vague - please correct"
I received an email from my customer today indicating the top of this page never defines which severity level is critical.   0 or 4?     I found other blogs that show 0 is Critical.    Can we just say that here.   Map them all 0,1,2,3,4.
Sev 0 = Critical
Sev 1 = Error
Sev 2 = Warning
Sev 3 = Informational
Sev 4 = Verbose

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-09-05 13:58] fredrikdaveus commented on #33157
Hi, I'm experiencing the same issue. What seems to be the problem is that although the keyvault allows access from the appGw subnet (via the Firewalls and virtual networks settings blade in the keyvault configuration); and the appGw subnet is being input to New-AzApplicationGateway via the -GatewayIpConfigurations argument the appGw do not seem to be able to access the keyvault (the identity has a

[2019-09-05 13:58] PramodValavala-MSFT commented on #38124
@kevin808 I believe both of the bindings also have an `eventHubName` property which can be used instead of editing the connection strings. This also has the flexibility of fetching the entity names from an app setting - `%AppSettingName%`.

[2019-09-05 14:00] KrishnaG-MSFT commented on #38365
@stdistef Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-05 14:09] PramodValavala-MSFT commented on #38338
@PawandeepK001 Logic Apps aren't really connected to the gateway as such but any connectors that require access to on-premises data have their requests routed through the gateway when executed. Technically, there is no limit on the number of connections that I am aware of. And the requests are really [sent via a service bus queue](https://docs.microsoft.com/en-us/data-integration/gateway/service-g

[2019-09-05 14:12] broom010 opened #38366 "Error 11001 getaddrinfo failed"
I get an error ([Errno 11001] getaddrinfo failed) when using the code demo on:

https://docs.microsoft.com/en-us/azure/cognitive-services/bing-local-business-search/quickstarts/local-search-python-quickstart#feedback

I was able to get the API working with the following code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-05 14:16] #38262 closed

[2019-09-05 14:19] broom010 commented on #38366
I'm going to close the issue because of the working solution above.  If anyone comes across the same error, I hope this helps.

[2019-09-05 14:19] #38366 closed

[2019-09-05 14:26] bwren commented on #38103
This article is quite old and is going to get retired. To answer the specific question, that query should use the new query language which would simply be the name of the table 'AutomationJob_CL' (Remove the 'Type='.

[2019-09-05 14:27] festivus opened #38367 "Supported operating systems out dated"
The list of supporting operating systems seems to be outdated. Windows Server 2019 is now supported, although i'm not sure abour the core version. https://techcommunity.microsoft.com/t5/Azure-Service-Fabric/Azure-Service-Fabric-6-4-Refresh-Release/ba-p/792051

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a09cfeaf-9c26

[2019-09-05 14:33] NavtejSaini-MSFT commented on #37777
@StingyJack The comment was to check with @JonCole that he has everything from you to add these details or point you to right direction.

[2019-09-05 14:35] NavtejSaini-MSFT commented on #38284
@sho74 Please let us know if you require anything else or we will go ahead and close this thread by EOD.

[2019-09-05 14:47] KrishnaG-MSFT commented on #38366
@broom010 Glad to know that the issue is self resolved. Thanks for the update.

[2019-09-05 14:59] msangapu-msft commented on #20914
Hi team, there's a long-term effort to merge both the Linux and Windows articles and currently we're not resourcing to writing more for this doc that will be deprecated.

#please-close

[2019-09-05 14:59] #20914 closed

[2019-09-05 15:05] NavtejSaini-MSFT commented on #37899
@tkumark We have added the comment from @rohitnayakmsft in the section for this topic. Once he approves we will go ahead and close this issue.

Additionally you can add your idea regarding restricting access at user voice for Azure SQL.
https://feedback.azure.com/forums/217321-sql-database

[2019-09-05 15:11] NavtejSaini-MSFT commented on #38234
@IshamMohamed Hopefully the above answer helped you.

Preview products will have different service agreement etc. so you should be sure if you want to use them for your production environments. This document provides the same information.
https://techcommunity.microsoft.com/t5/Azure/What-is-the-difference-between-Azure-Portal-and-Preview-Azure/m-p/263941

We will now move forward to close this iss

[2019-09-05 15:11] #38234 closed

[2019-09-05 15:11] MGoedtel commented on #38151
@juyama & @KrishnaG_-MSFT - Thanks for your feedback.  While some of those utilization metrics are described here - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-analyze#view-performance-directly-from-an-aks-cluster, I'll create a work item to add a description for each of these metrics, which are standard Kubernetes metrics that we collected from the cluster.

[2019-09-05 15:12] mgfink commented on #38261
It's working for me now....was operator error :-^   Thanks for investigating!

[2019-09-05 15:12] AbbeyMB opened #38368 "How do I arrange the prompts in the order I want them in, in the QnA Maker?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-05 15:12] SpicySyntax opened #38369 "No information on how to secure the Container and Service"
The setup here is great for getting a demo working, but I am unsure how I would be able to secure one of these containers in production. Specifically, this setup exposes a public IP for the service over http. Anyone can access this container. I was wondering if there is some kind of key I could add to the container so only my API can access this service by adding to a header (Or something comparab

[2019-09-05 15:13] mfalkvidd commented on #38164
@DixitArora-MSFT could you add a reference to the PR here (or reference this issue from the PR)?

[2019-09-05 15:13] tecraveiro opened #38370 "Stuck at "Create an App Service plan""
This section could really use some screenshots, I cannot find the "Hosting Plan" section in the Azure Portal so I'm assuming the portal changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0af698-4a74-9098-691f-ecbbb0419398
* Version Independent ID: d5fe9b9e-c802-423d-ac8e-dba87fa8766e
* Content: [Tutorial - Share

[2019-09-05 15:17] NavtejSaini-MSFT commented on #37077
@pmcilreavy The section has been deleted. We are going ahead and closing this issue. Please get back to us if any other question.

[2019-09-05 15:17] #37077 closed

[2019-09-05 15:21] zacabrer opened #38371 "Stream diagnostic logs from resource in Region1 to EventHub namespace in Region2"
Howdy,

Currently there is a constraint that you cannot stream resource diagnostic logs to an EventHub namespace in another region than the resource. Example: Azure Load Balancer in WestEurope cannot stream diagnostic logs to EventHub deployed to EastUS. Here is a sample of error text generated from the Azure Portal when attempting the above configuration:

Failed to update diagnostics for 'ELBWes

[2019-09-05 15:22] Ansssss opened #38372 "ServiceBusTriggerAttribute link is broken"
The link titled "ServiceBusTriggerAttribute" above is broken. It points to "https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/ServiceBusTriggerAttribute.cs" which goes to a github 404 page because tehre is no "Microsoft.Azure.WebJobs.Extensions.ServiceBus" folder available. Also I think the code example is wrong, it sounds like AccessRights ar

[2019-09-05 15:23] NavtejSaini-MSFT commented on #38185
@armbraggins Hopefully you have got answers to your question. Please get back to us if you have any other question. We are going ahead and closing this issue for now.

[2019-09-05 15:23] #38185 closed

[2019-09-05 15:24] eanyanwu opened #38373 "Guidance concerning sending certain types of performance counters to application insights sink"
I'm trying to send the following counters to an application insights sink:
\Network Interface(&lt;interface-name&gt;)\Bytes Received/sec
\Network Interface(&lt;interface-name&gt;)\Bytes Sent/sec

Unfortunately, it doesn't look like there is an option to use "_Total" to sum together the counts across network interfaces. Additionally, I can't use the "*" if I want to send these to an application ins

[2019-09-05 15:30] eanyanwu commented on #38373
Update: It looks like one can indeed specify a performance counter like so:
`\Network Interface(*)\Bytes Sent/sec`
and get it sent to an application insights sink.

Does this mean that the Note no longer applies?

[2019-09-05 15:32] tecris commented on #38347
@jakaruna-MSFT thanks for the prompt reply.

[2019-09-05 15:32] vhorne commented on #31936
@csweet89 An article was created to address log analytics topic. Please feel free to create a PR to add any queries you find useful.
https://docs.microsoft.com/en-us/azure/application-gateway/log-analytics

#please-close

[2019-09-05 15:32] #31936 closed

[2019-09-05 15:32] markingmyname commented on #14280
@know-where

I will bring this up with the Product Team and work with them to address this.

Thank you for bringing this to our attention.

Have a great day!

@djpmsft for awareness

[2019-09-05 15:34] jeevansd commented on #38333
@KehindeOwens I think you missed the note in the doc here. When you enable the force login and want to use Admin functionality at that time you can use the query string parameter to enable the normal username password flow.
This way you can use the admin functionality in JIRA.

To enable the default login form for admin login on login page when force azure login is enabled, add the query parameter

[2019-09-05 15:34] jeevansd commented on #38333
#please-close

[2019-09-05 15:34] #38333 closed

[2019-09-05 15:37] tecraveiro commented on #38370
I see, it's in Visual Studio. Constantly jumping around between Unity / VS / Azure Portal in that tutorial leads to confusion, please clearly illustrate which action to do where.

[2019-09-05 15:37] #38370 closed

[2019-09-05 15:40] MicahMcKittrick-MSFT commented on #38368
@AbbeyMB please provide us with the link to the documentation you are following so we can better assist.

[2019-09-05 15:44] DixitArora-MSFT commented on #38372
Hi @Ansssss Thanks for your feedback. We will review and update as appropriate.

[2019-09-05 15:45] btardif commented on #27087
@cephalin I think this was fixed with #76638 #please-close

[2019-09-05 15:45] #27087 closed

[2019-09-05 15:47] AbbeyMB commented on #38368
Thank you, but I'm not sure what you mean by documentation. I'm building a knowledge base in a QnA Maker. Within the QnA Maker there is the option to add follow-up prompts. When I edit the prompts they move around and don't stay in the order I want them to be in. For example, the bot will respond with, to a question with, "please tell me what program you are referring to?" and the follow up prompt

[2019-09-05 15:50] MicahMcKittrick-MSFT commented on #38368
The purpose of this GitHub repo is to identify and fix issues with Azure Documentation. If your question is related to generic troubleshooting or questions not related to a specific set of documentation we suggest you post your question with on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home)or [Stack Overflow](https://stackoverflow.com/)

Else, if you have a support plan you can also

[2019-09-05 15:51] DixitArora-MSFT commented on #38153
@brettsam Appreciate your inputs in this ?

[2019-09-05 15:52] dlepow commented on #38067
Doc update published to address this issue.
#please-close

[2019-09-05 15:52] #38067 closed

[2019-09-05 15:55] langstonj opened #38375 "Not seeing Teams"
Not seeing Teams as an 'Add and action' option.  Perhaps things have changed as this is documentation is over a year old.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28360a4e-c758-66f0-39fd-518e480d80d9
* Version Independent ID: 52f4d95e-627c-07d7-a4a3-95b31fc616d4
* Content: [How to trigger complex actions with Azu

[2019-09-05 15:56] stefsch commented on #28700
Documentation has been updated to list out all of the supported SKUs.

#please-close

[2019-09-05 15:56] #28700 closed

[2019-09-05 15:58] IEvangelist commented on #38369
Hi again @SpicySyntax, it seems as though our paths are crossing more and more frequently. I have this ask into the engineering team and I'll report back my findings as soon as I hear back from them -- thank you :pray:

[2019-09-05 16:00] sharma-pankaj commented on #38146
I would recommend a few things here:

First, can you please call OpenAsync before checking for the endpoints. This will ensure that the client is initialized and it has fetched the data from the server. Additionally, since you were looking to find out the regions where the requests were being sent, can you please make the calls to perform the operations and check the endpoints? Please let me know.

[2019-09-05 16:03] iainfoulds commented on #38354
Thanks for the feedback, @andreasmarx

The 20-30 minute sync statement was removed from the en-us docs last week, and is filtering down through the localized docs. Per the product group, there is no defined service level agreement on what the synchronization time may be. Although it should happen within this time period, there's no guarantee. To reduce confusion in the instances where synchronizat

[2019-09-05 16:03] #38354 closed

[2019-09-05 16:03] NavtejSaini-MSFT commented on #38345
@olofhellman We are checking this and we will get back to you.

[2019-09-05 16:05] mahoekst opened #38377 "Update config to use the V2 AAD endpoint"
We should really update the page to point to the V2 endpoint for AAD. Perhaps add a page how to configure the common endpoint as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d522-966ed17ea27f
* Version Independent ID: 91e3eeb7-8602-9e26-21c3-1fa70d03a354
* Content: [Set up sign-in for an Azur

[2019-09-05 16:06] fvalentiner commented on #37499
@patrickgalbraith thanks for the info. Is there a way that you could share some detail about the function to give me a push is the configuration?

[2019-09-05 16:06] stefsch commented on #23135
Powershell updated as noted above.
Doc edit submitted as well: https://github.com/MicrosoftDocs/azure-docs/pull/38376

#please-close

[2019-09-05 16:06] #23135 closed

[2019-09-05 16:06] NavtejSaini-MSFT commented on #38363
@mohakevin We will definitely try to help you regarding this. But please elaborate your question a bit.

[2019-09-05 16:06] thedrum808 commented on #36225
Wait, hold on. Why is there a recommendation in the Azure Portal to exclude if there's no built-in way to do this? And what if MFA goes down (as it did last year)? Microsoft recommends to keep a break-glass account for this exact purpose (https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access).  How can we accomplish this without exceptions?

[2019-09-05 16:16] mbialecka commented on #38303
This is the only version that is supported right now as mentioned [here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#supported-storage-operations).

[2019-09-05 16:16] saif-chaudhry commented on #36809
@TravisCragg-MSFT thanks for the update and understood the clarification around NSG.

However, I still like to know what is the maximum # I can set to "allocatedOutboundPorts"? (the NSG issue aside)

_From the document example, under the Modify SNAT port allocation section;

it states that

**"Each public IP address can contribute up to 51,200 ephemeral ports"**

that is not the case either for my

[2019-09-05 16:18] KrishnaG-MSFT commented on #38354
@iainfoulds Thanks for the quick response. 👍

[2019-09-05 16:27] Karishma-Tiwari-MSFT commented on #38314
@mscurrell Can you please help with finding the right link to the Azure deadline repository, I couldn't find it. Thanks :)

[2019-09-05 16:28] FrankHu-MSFT commented on #38255
Hello @ragedrk I see, interesting. Let me get back with my team and see if we can figure out what's going on. Stay tuned, thanks!

[2019-09-05 16:36] spelluru commented on #38239
@axisc - done. removed the line from the additional information. Thanks.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted#additional-information

#please-close

[2019-09-05 16:36] #38239 closed

[2019-09-05 16:40] suwatch commented on #38342
First, try verify if MSI is actually enabled.   Go to [Kudu Debug Console](https://github.com/projectkudu/kudu/wiki/Kudu-console), check the MSI_ENDPOINT and MSI_SECRET env and perform below call to get token.

[code]