[2019-02-15 23:04] #20874 closed

[2019-02-15 23:05] MarileeTurscak-MSFT commented on #24962
Yes it does, as far as I am aware. https://blogs.technet.microsoft.com/cbernier/2018/08/06/android-kiosk-enrollment-and-microsoft-intune/
https://www.robinhobo.com/how-to-setup-android-enterprise-corporate-owned-dedicated-devices-with-microsoft-intune/

[2019-02-15 23:06] TravisCragg-MSFT commented on #24820
@gridpatrik the instructions for 1901 are now present!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 23:06] #24820 closed

[2019-02-15 23:06] MarileeTurscak-MSFT commented on #24962
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-02-15 23:06] #24962 closed

[2019-02-15 23:08] TravisCragg-MSFT commented on #18292
@tolstyiii unfortunately I cannot give any info at this time.

[2019-02-15 23:10] TravisCragg-MSFT commented on #24020
@weyCC81 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 23:10] #24020 closed

[2019-02-15 23:10] TravisCragg-MSFT commented on #23913
@alexvy86 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 23:10] #23913 closed

[2019-02-15 23:10] TravisCragg-MSFT commented on #23718
@Mahesh-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 23:10] #23718 closed

[2019-02-15 23:10] aljo-microsoft commented on #25048
@lukepuplett
I've closed the other issue, and this one will be closed shortly.

Please review the following:
https://docs.microsoft.com/azure/service-fabric/service-fabric-diagnostics-event-generation-app
https://docs.microsoft.com/azure/service-fabric/service-fabric-health-introduction
https://docs.microsoft.com/azure/load-balancer/load-balancer-custom-probe-overview
https://azure.microsoft.com/r

[2019-02-15 23:12] TravisCragg-MSFT commented on #25071
@javierruizjimenez Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-15 23:13] TravisCragg-MSFT commented on #25072
@javierruizjimenez Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-15 23:19] #25048 closed

[2019-02-15 23:23] jjindrich commented on #25058
No, it's the point. Thanks. Btw it makes sense to commented in on tutorial

[2019-02-15 23:23] #25058 closed

[2019-02-15 23:24] MicahMcKittrick-MSFT commented on #25082
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 23:25] TravisCragg-MSFT commented on #25057
@rphensley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-15 23:29] TravisCragg-MSFT commented on #25024
@Werner-MOC Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-15 23:29] KingdomOfEnds opened #25090 "Power BI Workspace Dataset Creation"
Sorry! One more. Have been going through the document and was having some difficulties with Power BI integration. It works but I might have missed a step. When I successfully connect to Power BI through the **Output** setting of the Stream Analytics Job, it doesn't create a dataset automatically in my Power BI dashboard workspace.

I tinkered around with this and got it to work if I (using an old

[2019-02-15 23:30] TravisCragg-MSFT commented on #25044
@jbpaux Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-15 23:34] TravisCragg-MSFT commented on #25039
@RogerDawson App Service Environments will not be affected, as they are directly In the VNET. Web Apps are joined via a P2S configuration and the configuration is managed by Microsoft. There should be no side effects.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2019-02-15 23:34] #25039 closed

[2019-02-15 23:38] Grace-MacJones-MSFT commented on #24907
@v-maroge yes, it communicates over the internet.  This functionality is being delivered through a 3rd party (Sendgrid). Microsoft recommends that Azure customers employ authenticated SMTP relay services (typically connected via TCP port 587 or 443, but often support other ports too) to send e-mail from Azure VMs or from Azure App Services.  These services specialize in sender reputation to minimi

[2019-02-15 23:38] #24907 closed

[2019-02-15 23:39] TravisCragg-MSFT commented on #25061
@rphensley VPN Gateways will no longer be using self signed certificates, so they will be obsolete after the update.

The clients current root certificate will no longer be of any use once the cert has been transitioned.

[2019-02-15 23:45] tfitzmac commented on #23277
As long as you construct a valid URL that Resource Manager can use to access the template, any environment should be supported. For the private repo in GitHub, the linked URL must be in the format:
https://raw.githubusercontent.com/exampleuser/reponame/master/templatename.json?token=<tokenvalue>

You could construct that value by passing in a parameter value for the token. However, it seems like t

[2019-02-15 23:45] tfitzmac commented on #23277
#please-close

[2019-02-15 23:47] MarileeTurscak-MSFT commented on #25075
@sasanmcp thanks for updating! Closing this out.

[2019-02-15 23:47] #25075 closed

[2019-02-15 23:48] MarileeTurscak-MSFT commented on #25086
@sasanmcp
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-15 23:51] Mike-Ubezzi-MSFT commented on #25083
@pharring Thank you for this detailed feedback. I have assigned this to the content owner to be evaluated and addressed.

[2019-02-15 23:53] MicahMcKittrick-MSFT commented on #25082
@setht2 what are the errors you are getting when you try to sign in using the method mentioned in your comment?

Based on this it should be possible

https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-1.3.0#sign-in-with-a-service-principal

[2019-02-15 23:56] alkohli commented on #25054
@MikeWise2718 As per our offline discussion, I am going to go ahead and close this issue. Meanwhile, we will try to figure out if there is a way to address this as in a rolling screenshot or suggest some inline syntax validation for the review deployment page. Thanks! #please-close

[2019-02-15 23:56] setht2 commented on #25082
Thank you, Micah. The errors vary depending on what I'm trying.

"keyset does not exist" is one, which i think is related to permissions.

Just pointing me in the direction of that URL (which I perused, among many others) helps. Knowing that should work helps.

I'm basically trying to find the most efficient way to do this without over-engineering it.

[2019-02-15 23:58] chetansriv commented on #19432
@fam-man Tutorial updated, please review.

[2019-02-15 23:58] chetansriv commented on #19432
#please-close

[2019-02-15 23:58] MarileeTurscak-MSFT commented on #25086
Thanks @sasanmcp! I created a pull request here with the change. These generally go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/66710

Hope you have a great weekend!

[2019-02-15 23:58] #25086 closed

[2019-02-15 23:59] cherylmc commented on #25061
Updating article to make this clear. Thanks for bringing this point up.

[2019-02-15 23:59] cherylmc commented on #25061
#please-close

[2019-02-15 23:59] Mike-Ubezzi-MSFT commented on #25084
@pharring Thank you for the detailed feedback. I will have the content author evaluate and update the documentation as appropriate.

[2019-02-15 23:59] setht2 commented on #25082
The issue with that method in the URL is this: $pscredential = Get-Credential
That's going to open a user dialog. I need to be able to set Creds prior to logging into Azure.

[2019-02-16 00:01] PatAltimore commented on #25044
@jbpaux Your feedback makes sense. We'll work on reworking the content. Thanks!

Pat
#in-progress

[2019-02-16 00:01] rolyon commented on #24963
Hi @neeleshray
You can assign this issue to me. I'll work on updating the docs.

Hi @daweins
I'll work on adding the ResourceHealth action to VM Operator example custom role.

[2019-02-16 00:02] TravisCragg-MSFT commented on #25061
@rphensley We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-16 00:02] #25061 closed

[2019-02-16 00:04] Mike-Ubezzi-MSFT commented on #25085
@pharring Thank you for taking the time to detail the issue with this tutorial. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-02-16 00:15] KingdomOfEnds commented on #25087
Oops - didn't submit to the right document.

[2019-02-16 00:17] Joll59 opened #25094 "File format support."
Having a hard time locating information on file formats that are supported by the service.
It should be an easy search and find, I can't locate that data easily.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8162cca-9883-c168-a631-bb6a06d979d2
* Version Independent ID: 8f9d41d1-79c7-ff5f-25d2-318c506877e2
* Content:

[2019-02-16 00:32] MicahMcKittrick-MSFT commented on #25082
@setht2 yeah that specific example does have the get cred part. Which obviously we would have to code in. I will play around a bit with this and let you know what I find.

In the meantime, I also found this on doing it via CLI

https://blogs.technet.microsoft.com/jessicadeen/azure/non-interactive-authentication-to-microsoft-azure/

Regardless, I will do some tests and let you know what I find.

[2019-02-16 00:33] MicahMcKittrick-MSFT commented on #25070
Thanks for that @vikramdadwal

I will play around with this a bit and get back to you.

also, adding @aljo-microsoft if you are able to elaborate a bit more on this feature

[2019-02-16 00:34] cijothomas commented on #24496
We need to explicitly mention that extension will backoff if
a. Mirosoft.Applicationinsights dll is detected.
b. Microsoft.AspNet.TelemetryCorrelation dll is detected.
c. System.Diagnostics.DiagnosticSource dll is detected.

a - was added by default project templates in older versions of visual studio.
b,c - are added in default project templates in recent/latest visual studio.

[2019-02-16 00:37] tfitzmac commented on #23138
@v-maudel - thanks for this suggestion. In my tests, I found that registering DevtestLab was required for disabling autoshutdown but I did not see any effect from registering Scheduler.

I will add to the article.

[2019-02-16 00:37] ams0 opened #25095 "How is SSH used?"
Can you elaborate on:

[code]

If I am the only one possessing the private key of the SSH pair, how does Azure interact with my nodes? I thought it was thru the Linux Azure `waagent` mechanism, which I believe do not require SSH?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc83c-c911-4d82-98af-ed8880ca6c4a
* Vers

[2019-02-16 00:42] setht2 commented on #25082
Micah, I just now got it working after several days. I will post steps here later for others as it was not clear to me what needed to be done. For what it's worth, none of the documentation I have seen with respect to Azure Batch really lays this out end-to-end. Thank you for your timely response. I will post the steps here soon.

[2019-02-16 00:44] MashaMSFT commented on #24885
Hi @zachjacobs , thanks for contacting Microsoft! Let me look into this :)

[2019-02-16 00:44] MicahMcKittrick-MSFT commented on #25082
@setht2 thanks for the update! Glad to hear you got it working. I would love to see what you did. That way we can take a look and get it integrated into the documentation. Seems to me like a reasonable scenario that many people would want. So it would be good to have included in a doc somewhere at least.

[2019-02-16 00:49] setht2 commented on #25082
Thank you again, Micah, and I promise to get you the steps we took to get this working. It's straight-forward once one knows what to do (and what NOT to do). THANKS!

[2019-02-16 00:50] Alberto-Vega-MSFT commented on #25054
@MikeWise2718 Since you have an offline conversation going on. We will now proceed to close this thread. Please feel free to tag me in your reply if you need to continue the discussion here and we will reopen the issue.

[2019-02-16 00:50] #25054 closed

[2019-02-16 00:51] mayurpuli opened #25096 "Any connectors available to copy data from OneDrive to Azure"
Hello: I was checking if there is a way to copy data from Onedrive to Azure Blob Storage and ViceVersa possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy Activity in Azure Data Factory](https://doc

[2019-02-16 00:56] tfitzmac commented on #23138
I think I directed my response to the wrong person.

@JuanCarlosHerreraBlandon - thanks for bringing this to my attention. I am updating the article to include this scenario. It looks to me like only Microsoft.DevTestLab needs to be registered.

[2019-02-16 00:57] Alberto-Vega-MSFT commented on #25049
@poelstra Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 01:00] Mike-Ubezzi-MSFT commented on #25085
This tutorial breaks at the [Diagnostic logs table](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-no-code#diagnostic-logs-table-mapping) mapping step.

![screenshot 271](https://user-images.githubusercontent.com/37126106/52891943-24b62f00-3143-11e9-8f28-51d72f91d5c3.png)

[2019-02-16 01:03] JasonFreeberg commented on #25062
Hi @abhiramani-iptiq can you confirm you are using the following version and configurations in the Maven POM.

[code]

[2019-02-16 01:04] Mike-Ubezzi-MSFT commented on #25083
In the [Create update policy](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-no-code#create-update-policy) section.

![screenshot 272](https://user-images.githubusercontent.com/37126106/52892023-c0e03600-3143-11e9-8c62-4d06301f8f49.png)

[2019-02-16 01:05] MashaMSFT commented on #24885
Hi @zachjacobs , unfortunately, the article is correct and automated backups are supported on just the standard and enterprise editions - not express. I hope that helps and please let me know if I can be of further assistance :) Thanks!

[2019-02-16 01:08] SaurabhSharma-MSFT commented on #24957
@rolyon Can you please help here on getting the clarification on the ask.

[2019-02-16 01:08] SaurabhSharma-MSFT commented on #24859
@boqsernmcpopsern We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-16 01:08] #24859 closed

[2019-02-16 01:09] SaurabhSharma-MSFT commented on #24943
@abarrafo Can you please provided the details as request by @prashanthyv.

[2019-02-16 01:11] SaurabhSharma-MSFT commented on #25046
@happyadam73 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-16 01:11] #23138 closed

[2019-02-16 01:13] aljo-microsoft commented on #24034
@preethasubbarayalu

Could you provide content for this question?

[2019-02-16 01:23] Mike-Ubezzi-MSFT commented on #25096
@mayurpuli Thank you for the inquiry. It looks like there is a new connector that is in preview with regard to Office 365: [Copy data from Office 365 into Azure using Azure Data Factory (Preview)](https://docs.microsoft.com/en-us/azure/data-factory/connector-office-365)

**Tutorial:** [Load data from Office 365 by using Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/load-o

[2019-02-16 01:23] SaurabhSharma-MSFT commented on #25059
@Carsenik The relying party (web or mobile) sends the "campaignID" parameter as query string parameter and details are mentioned at [Step 8.2](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom-dynamic#step-82-change-your-code-to-accept-a-query-string-parameter-and-replace-the-background-image) of the document.

[2019-02-16 01:27] BorisB2015 commented on #24746
@dcbrown16 - I'm trying to clarify this point with Red Hat and hence did not respond right away.

RHUI use is typically reserved for RHEL PAYG instances. I'm sure that you are also aware that RHEL 7.1 EUS has ended on March 31, 2017 per [RHEL Lifecycle](https://access.redhat.com/support/policy/updates/errata/) - so your support may be impacted by this and will depend on your agreement with Red Hat

[2019-02-16 01:28] Mike-Ubezzi-MSFT commented on #24617
@AlexanderTodorovic We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-16 01:28] #24617 closed

[2019-02-16 01:28] BorisB2015 commented on #24746
For now, I will request #please-close

If you have further questions - please post here or reopen the issue. Thanks!

[2019-02-16 01:30] Mike-Ubezzi-MSFT commented on #24872
@Tulkis We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-16 01:30] #24872 closed

[2019-02-16 01:31] Mike-Ubezzi-MSFT commented on #24949
@MCKPRO We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-16 01:31] #24949 closed

[2019-02-16 01:31] canbilgin commented on #25056
@wmengmsft thats excellent news, thank you very much for the info.

[2019-02-16 01:31] Mike-Ubezzi-MSFT commented on #24964
@mitch-b We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-16 01:31] #24964 closed

[2019-02-16 01:32] MarkusVi commented on #24882
Hi @ermacia91, could you please provide a few more details? Not sure if I'm reading this right...

[2019-02-16 01:33] Mike-Ubezzi-MSFT commented on #24814
@richprze We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-16 01:33] #24814 closed

[2019-02-16 01:39] Alberto-Vega-MSFT commented on #23782
@wrende I apologize for the delayed response. Somehow I missed to assign ownership of this issue @viv-liu I see that other types have notes on the document like "Note: The data type of the Event measurement is string." Is it possible to add one for location?

[2019-02-16 01:50] aliceku commented on #23229
I have a new version of the CLI commandlets ready, I tested this afternoon and this should address all the reported issues and more mistakes I found.

[2019-02-16 02:17] MikeStephens-MS commented on #22396
@MohitGargMSFT  please assign to me.

[2019-02-16 02:17] MikeStephens-MS commented on #19030
@ManojReddy-MSFT be assign to me

[2019-02-16 02:18] MikeStephens-MS commented on #18906
@MarileeTurscak-MSFT please assign to me

[2019-02-16 02:19] MikeStephens-MS commented on #18262
@SaurabhSharma-MSFT please assign to me

[2019-02-16 02:19] MikeStephens-MS commented on #18253
@MarileeTurscak-MSFT please assign to me.

[2019-02-16 02:20] MikeStephens-MS commented on #18122
@MarileeTurscak-MSFT please assign to me.

[2019-02-16 02:20] MikeStephens-MS commented on #17215
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:21] MikeStephens-MS commented on #15107
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:22] MikeStephens-MS commented on #14791
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:22] MikeStephens-MS commented on #14605
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:23] MikeStephens-MS commented on #14305
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:23] MikeStephens-MS commented on #13717
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:24] MikeStephens-MS commented on #13653
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:25] MikeStephens-MS commented on #10258
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:26] MikeStephens-MS commented on #9764
@DiegoRamirez-MSFT Please assign to me

[2019-02-16 02:27] MikeStephens-MS commented on #8620
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:27] MikeStephens-MS commented on #8619
@DiegoRamirez-MSFT Please assign to me

[2019-02-16 02:28] MikeStephens-MS commented on #8028
@DiegoRamirez-MSFT Please assign to me.

[2019-02-16 02:47] imeya commented on #25028
@ChiragMishra-MSFT, this [page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-get-connection-string#get-connection-string-from-the-portal).

The screenshot of it:

![sas-event](https://user-images.githubusercontent.com/25738099/52893540-457c9400-31d8-11e9-9e67-2a9163ad3b71.JPG)

[2019-02-16 03:17] AshokPeddakotla-MSFT commented on #25090
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 03:17] gperrego opened #25097 "How do you add a node type to an OnPremise Cluster?"
How do you add a node type to an OnPremise Cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6803a0f-eda8-acf7-c598-d4679833de08
* Version Independent ID: f441710f-8f4e-d46c-5eab-132940f4445f
* Content: [Add a node type to an Azure Service Fabric cluster](https://docs.microsoft.com/en-us/azure/service-fabric/vir

[2019-02-16 03:26] hoksource commented on #24614
Thank you very much for the complete response. I just added the parameter in my azure app service connection string. will do on succeeding connection strings created on azure app service to azure sql database.

[2019-02-16 05:04] wasabii opened #25098 "SRV record format"
Can the format of the SRV records be explained?

Normal SRV record format is _service._proto.name. And this would normally return a full list of the various hosts the service is running at: including port numbers.

Instead, it looks like if I resolve 'name', I get back one SRV record. For one random host. There seems to be no pattern of _service._proto that I can successfully use.

This makes very

[2019-02-16 05:10] ermacia91 commented on #24882
I work with FastTrack and this is a point of contention for our customers. It is only referenced once in our docs and only as that point you made. I am just saying we should add a note stating explicitly that when using Conditional Access, IPV6 ranges are not supported by it.

[2019-02-16 05:15] richpowell commented on #24919
@msrini-MSIT ok, did this but still not coming up. Got a walk through you can recommend?

[2019-02-16 05:19] abshamsft commented on #25079
+@Viny Nigam<mailto:Viny.Nigam@microsoft.com>  the new PM owner for NPM

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Saturday, February 16, 2019 3:21:52 AM
To: MicrosoftDocs/azure-docs
Cc: Abhave Sharma; Assign
Subject: Re: [MicrosoftDocs/azure-docs] Contrast with Service Endpoint Monitor (#25079)

Assigned #25

[2019-02-16 05:25] femsulu commented on #25067
@Saltzmea Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-16 05:25] #15333 closed

[2019-02-16 05:27] femsulu commented on #25077
@way2arun Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-16 06:04] AshokPeddakotla-MSFT commented on #25088
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 06:44] MicahMcKittrick-MSFT commented on #25095
Thanks for the question! We are investigating and will update you shortly.

[2019-02-16 06:45] MicahMcKittrick-MSFT commented on #25097
Thanks for the question! We are investigating and will update you shortly.

[2019-02-16 06:46] MicahMcKittrick-MSFT commented on #25098
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 07:00] angoyal-msft commented on #25094
@Joll59
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-16 07:17] #24953 closed

[2019-02-16 07:44] ChiragMishra-MSFT commented on #25028
@imeya Yes it is indeed as you thought.

- Manage covers send, receive, create, delete event hubs for a particular namespace.
- Send is used to send events to the event hub(s) in a Namespace.
- Listen is used to read from an event hub in a Namespace to any store.

Hope this helps.

[2019-02-16 07:47] ChiragMishra-MSFT commented on #24934
@sidramadoss Thanks for leaning in to provide info.

@rmosselveld I will now proceed to close this issue. Feel free to still comment on it if you have any concerns.

[2019-02-16 07:47] #24934 closed

[2019-02-16 07:47] ChiragMishra-MSFT commented on #24935
@jn-altius I will now proceed to close this issue. Feel free to still comment if you want further clarifiaction.

[2019-02-16 07:47] #24935 closed

[2019-02-16 07:49] ChiragMishra-MSFT commented on #25017
@imeya I will now proceed to close this issue. Feel free to comment if you have any concerns.

[2019-02-16 07:49] #25017 closed

[2019-02-16 07:50] ChiragMishra-MSFT commented on #25018
@imeya I will now proceed to close this issue. Feel free to comment if you have any concerns.

[2019-02-16 07:50] #25018 closed

[2019-02-16 07:50] ChiragMishra-MSFT commented on #25020
@imeya I will now proceed to close this issue. Feel free to comment if you have any concerns.

[2019-02-16 07:50] #25020 closed

[2019-02-16 07:51] ChiragMishra-MSFT commented on #25027
@imeya I will now proceed to close this issue. Feel free to comment if you have any concerns.

[2019-02-16 07:51] #25027 closed

[2019-02-16 07:51] ChiragMishra-MSFT commented on #25028
@imeya I will now proceed to close this issue. Feel free to comment if you have any concerns.

[2019-02-16 07:51] #25028 closed

[2019-02-16 08:07] mhricov27 opened #25100 "Create Nodejs app problem"
I try to do Node app like is in that document bud when I run wepage I have this problem.
<img width="960" alt="2019-02-16" src="https://user-images.githubusercontent.com/47677649/52896572-44446a80-31ca-11e9-9297-e30e7898b0df.png">

[2019-02-16 08:53] AlexanderTodorovic commented on #24617
@Mike-Ubezzi-MSFT It works fine now. Thank you!

[2019-02-16 09:54] lukepuplett commented on #25048
Thanks. I'm not sure this is satisfactory or perhaps everyone on my team and the other guy that posted on the other thread are misunderstanding the health model.

My issue is that the current behavior of the local Reverse Proxy service, when an instance is unhealthy, is not stated in the documentation, i.e. that the RP will continue to send traffic to an instance that is known to be in a status "E

[2019-02-16 11:32] SamirFarhat commented on #23277
I think that it would work with Azure Repo too.

[2019-02-16 12:03] hubez commented on #23974
@kgremban I have and it is good! There is a nuance where on the shell all the brackets and double-quotes have to be escaped with a \, but that's obvious enough.

Thanks!

[2019-02-16 12:03] #23974 closed

[2019-02-16 12:04] kvenkazure opened #25102 "What is BYOC"
What is the expansion of BYOC  , please include in the description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8ff
* Content: [Integration runtime in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factor

[2019-02-16 12:07] hubez commented on #23975
@kgremban I am using Jenkins as my CI platform, but it's moot because it's just executing the Azure CLI tool. I am doing delete + create today, but an update would be superior. I guess I open a request with the tools team on that improvement. Thanks!

[2019-02-16 12:13] kvenkazure opened #25103 "Detailed explanation between Self-hosted IR vs Azure IR"
Azure integration runtime
Dispatching the following transform activities in public network: HDInsight Hive activity, HDInsight Pig activity, HDInsight MapReduce activity, HDInsight Spark activity, HDInsight Streaming activity, Machine Learning Batch Execution activity, Machine Learning Update Resource activities, Stored Procedure activity, Data Lake Analytics U-SQL activity, .Net custom activity,

[2019-02-16 12:50] branstraub opened #25104 "Cannot recover a VM to the paired region from a GRS Backup"
According to this: https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#restore-a-vm-during-an-azure-datacenter-disaster

Its possible if your Backup Vault its enabled on GRS mode (which in my case is) to recover your VMs to the paired Azure region.

But i cannot seem to find via the portal the option to restore to a Vnet or a storage account on such region.

In my case its f

[2019-02-16 14:25] davidculverson opened #25106 "Outgoing Claim userPricipalName should be userPrincipalName"
Using the suggested claim name in step 11. of userPricipalName gives the following error in Azure Application Insights when clicking 'Run now':

""Message"": ""A Claim of ClaimType with id \""issuerUserId\"" was not found, which is required by the ClaimsTransformationImpl of Type \""Microsoft.Cpim.Data.Transformations.CreateAlternativeSecurityIdTransformation\"" for TransformationMethod \""CreateA

[2019-02-16 14:40] msrini-MSIT commented on #24919
@richpowell , Please follow the below steps:

1. Make sure the service is listening on port 80 and 443. You can check using the command "netstat -anp"
2. Make sure you are not blocking the traffic on your local Firewall
3. NSG can be applied on NIC as well as subnet. Make sure NSGs on NIC as well as subnet has allow rule for port 80 and 443
4. If you have any User Defined Routes, try removing thos

[2019-02-16 15:27] femsulu commented on #25104
@branstraub Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-16 15:28] ToddChitt opened #25107 "Error specifying Items property in ForEach"
I have used the layout of this article and managed to morph it a little so that there is a Lookup activity that gets the list tables instead of a tableList Pipeline Parameter. It has worked out great.
Now I'm trying to setup another pipeline in the same way. Only difference I see is that THIS one has been converted to GA.

In the ForEach activity, the Items property is set to:
    @activity('Looku

[2019-02-16 15:50] femsulu commented on #24785
@johnkemnetz  - reassiging to @johnkemnetz to review and consider documentation enhancement or new doc content to address which resources support the multi-workspace scenario?

[2019-02-16 15:56] gperrego commented on #25097
I think I may have figured it out but I would like you guys to verify this is the correct answer?  https://stackoverflow.com/questions/51089716/service-fabric-on-premises-add-node-and-node-type-correlation/54724499#54724499

Pretty much you need to update the existing configuration and then add the node.  These does seem to be a "bug" or the lack of flag in the powershell to pass the options for s

[2019-02-16 16:10] femsulu commented on #25043
AFAIK, the keys defined in the sample JSON should honor the case defined in the sample Schema referenced in the doc. The upper case defined in the Sample Schema currently matches what's defined in the sample so not sure why it's failing for you. Adding content author @dan-wesley for input

[2019-02-16 16:19] sensubrata opened #25110 "az aks: 'update' is not in the 'az aks' command group."
Update commands not available for az aks.

PS C:\Users\SubrataSen> az --version
azure-cli (2.0.54)

acr (2.1.11)
acs (2.3.13)
advisor (2.0.0)
ams (0.3.1)
appservice (0.2.10)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.5)
billing (0.2.0)
botservice (0.1.3)
cdn (0.2.0)
cloud (2.1.0)
cognitiveservices (0.2.4)
command-modules-nspkg (2.0.2)
configure (2.0.19)
consumption (0.4.1)
container (0.3.10)
core (

[2019-02-16 16:21] gperrego commented on #25097
It looks like the windows credentials bug was marked as fixed in 6.4 as stated by @masnider at the very bottom of this issue: https://github.com/Azure/service-fabric-issues/issues/974

We still need clear direction on the node type though.  I'm also not clear on when adding a node if I should be updating my cluster configuration json or not?  I'll post that into the AddNode article though.

[2019-02-16 16:39] sensubrata commented on #25110
Sorry did not understand I have to enable preview feature before.

[2019-02-16 16:39] #25110 closed

[2019-02-16 17:09] AjayKumar-MSFT commented on #25002
@zzulueta, The document has been updated appropriately. Thanks again for bringing this to our attention.
We will close this out, but if you feel you need more information on this topic please just let us know.

[2019-02-16 17:09] #25002 closed

[2019-02-16 17:39] MicahMcKittrick-MSFT commented on #25110
@sensubrata thanks for reaching out and closing the issue once resolving :) If you have any other questions just let us know.

[2019-02-16 17:40] MicahMcKittrick-MSFT commented on #25087
@KingdomOfEnds thanks for reaching out and closing out the issue. If you have further questions just let us know.

[2019-02-16 17:42] #10704 closed

[2019-02-16 17:42] #17269 closed

[2019-02-16 17:43] #19432 closed

[2019-02-16 17:43] #20806 closed

[2019-02-16 17:43] #21264 closed

[2019-02-16 17:43] #21560 closed

[2019-02-16 17:44] #22600 closed

[2019-02-16 17:44] #22648 closed

[2019-02-16 17:44] #23010 closed

[2019-02-16 17:44] #23277 closed

[2019-02-16 17:45] #24010 closed

[2019-02-16 17:45] #24746 closed

[2019-02-16 17:45] #25066 closed

[2019-02-16 17:56] jgallucci32 opened #25111 "Incorrect IAM role listed for Managed Disks - Take 3"
Issues #18409 and #22406 were closed out correctly changing the documentation, however, the latest 1901 documentation uses the original content from pre-1808 release. It appears the most recent changes did not make it into the pull request used for the 1901 release. This ticket is to track the issue which has been propagated again to this document. Here is the original issue:

The article says to

[2019-02-16 18:10] AjayKumar-MSFT commented on #25102
@kvenkazure, Thank you for raising this question! BYOC stands for- Bring Your Own Cluster. We have made this appropriate change in the document and it will be updated soon.

[2019-02-16 18:15] rbhadti94 commented on #23225
@vatsparth  - For Docker based web apps, the image should be self-contained. i.e. your Docker entrypoint needs to call/run an executable which can run the web application. E.g.
[code]

[2019-02-16 18:22] AjayKumar-MSFT commented on #25103
@kvenkazure, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-02-16 18:27] AjayKumar-MSFT commented on #25107
@ToddChitt, Sorry for any frustration with this issue. Thanks for posting this query! We are currently investigating and will update you soon.

[2019-02-16 18:33] BharathNimmala-MSFT commented on #24768
Thanks for sharing the details @lukdlu.  We're going to need some additional information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription, Azure Dev Test Labs instance details and a link to this thread so we can verify and direct the request accordingly. We'll continue to investigate this with you directly and will update the thread

[2019-02-16 18:33] #24768 closed

[2019-02-16 18:35] Alberto-Vega-MSFT commented on #25111
@jgallucci32 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 18:41] Alberto-Vega-MSFT commented on #25106
@davidculverson Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-16 18:44] Alberto-Vega-MSFT commented on #25100
@mhricov27 Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-16 18:45] BharathNimmala-MSFT commented on #24764
Thanks for sharing the details @lukdlu. We're going to need some additional information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com with your Subscription, Azure Dev Test Labs instance, setup details and a link to this thread so we can verify and direct the request accordingly. We'll continue to investigate this with you directly and will update the th

[2019-02-16 18:46] #24764 closed

[2019-02-16 18:49] AjayKumar-MSFT commented on #25035
@rohitBaravkar, Just checking in to see if you have had a chance to see the previous response. Could you please provide the requested information to assist you further?

[2019-02-16 18:50] AjayKumar-MSFT commented on #25033
@dsJoe, Just checking in to see if you have had a chance to see the previous response. Could you please provide the requested information to assist you further?

[2019-02-16 18:51] AjayKumar-MSFT commented on #25013
@imeya, Just checking in to see if the above suggestions helped or you need further assistance on this topic.

[2019-02-16 19:03] ToddChitt commented on #25107
@AjayKumar-MSFT
I figured it out: On the Lookup component, there is a check box (under Settings, maybe) for "First Row Only" or similar. Since I'm processing rows in a set, I needed that OFF. ON is the default.

That fixed the issue.

Would still like to know how it thinks it wants to do a LENGTH() function.

Thanks.

[2019-02-16 19:08] jzuchora87 opened #25113 "Provide updated samples for Forecast API"
The filters provided on the page below with the api version listed are not functioning as expected. It ignores the 'Grain' filter and defaults to daily. https://docs.microsoft.com/en-us/rest/api/consumption/forecasts/list Any ideas?

URI = https://management.azure.com/subscriptions/$subid/providers/Microsoft.Consumption/forecasts?=Grain eq 'Monthly'&api-version=2018-10-01

---
#### Document Detail

[2019-02-16 19:26] mhricov27 commented on #25100
Here is tutorial https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs

[2019-02-16 21:21] davidefiocco commented on #24351
Hi @MarkusKoenig73 , the snippet provided in the guide worked for me using `azureml.core.VERSION` 1.0.15 (should be fairly current, and I got via `pip install --upgrade azureml-sdk`).

What seems for me missing in the tutorial in a line with `from azureml.core import Datastore` instead.

[2019-02-16 23:06] gperrego commented on #25097
Its already documented, I found it but it wasn't all that easy to find.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes#add-node-types-to-your-cluster

Any chance we can move that section up to the top of this?  Or at least make it a major category so it shows up on the right nav?  It was listed under the GMA section, I didn't read that

[2019-02-16 23:41] BharathNimmala-MSFT commented on #24779
@serkanyazicioglu As per current [documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript) the recommendation is to put the [script] (https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#add-the-sdk-script-to-your-app-or-web-pages) code immediately before the closing </head> tag.

If you are seeing this issue happening consistently , we would like to work

[2019-02-16 23:43] #24779 closed

[2019-02-17 00:40] takekazuomi commented on #14323
@MGoedtel  Thank you.
In the API Document, it is as follows.
`` `
Types Versions
workspaces 2015-11-01-preview
workspaces / dataSources 2015-11-01-preview
workspaces / linkedServices 2015-11-01-preview
workspaces / savedSearches 2015-03-20
workspaces / storageInsightConfigs 2015-03-20
`` `
https://docs.microsoft.com/en-us/azure/templates/microsoft.operationalinsights/allversions

This API document

[2019-02-17 00:52] SeaDude opened #25115 "JupyterLab?"
Hello,
Great docs! The above docs list `Jupyter Notebook Server`, `Jupyter Hub` AND `Jupyter Lab` as being installed in the Ubuntu DSVM. However, when running [`jupyter lab` to start the service](https://jupyterlab.readthedocs.io/en/stable/getting_started/starting.html) as `root` user of the VM, I get the error:
[code]
Can you tell me what I need to do to enable Jupyter Lab?
Thank you

---
#### Do

[2019-02-17 00:56] SeaDude commented on #25115
aha! nevermind!
Just figured it out. Instead of going to `https://my.ip.add.ress:8000/user/jupyter/notebooks`, instead I find Jupyter Lab at `https://my.ip.add.ress:8000/user/jupyter/lab`.

[2019-02-17 02:12] samaea opened #25116 "No mention around the message size restrictions when logging using the builtin Azure Diagnostics."
For example, using diagnostic logs you can log the body of the message, but it’s limited to 1kb. Similarly, using the log-to-eventhub[1] policy, the message size is limited to 80kb.

If you want to log anything greater than 80kb, you would need to use the send-request or send-request-one-way policies[2]. There is no size limit, but it will increase memory consumption depending on the number of con

[2019-02-17 03:48] SeaDude opened #25117 "More details on Jupyter configs?"
Hello,
Because users can execute arbitrary code in Jupyter Notebooks, its critical to understand how users are handled in the Ubuntu (and Windows) DSVM.
My org requires more details on:
- Jupyter Hub/Lab server configs
- Jupyter Hub/Lab user configs, authentication mechanisms, etc.
Will you provide these additional elements?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-17 03:51] SeaDude commented on #25117
Specifically, the [Jupyter Security docs state:](https://jupyter-notebook.readthedocs.io/en/stable/security.html#security-in-the-jupyter-notebook-server) "...If you enable a password for your notebook server, token authentication is not enabled by default..."
How does the vm handle these things?

[2019-02-17 04:28] tonymitchell opened #25118 "Find-and-replace example doesn't handle explicit port number."
The Conference API is returning two forms of the URL, one with the port and one without.  The find-and-replace example doesn't work correctly when a port number is present, and returns an invalid URL:

"href": "https://conferenceapi.azurewebsites.net:443/speakers",
"href": "https://conferenceapi.azurewebsites.net/speaker/1",

become:

"href": "https://apiphany.azure-api.net/conference:443/speakers

[2019-02-17 04:49] mike-urnun-msft commented on #25116
Hi @samaea Thank you for your feedback! We will review and update as appropriate.

[2019-02-17 05:07] saifuddin123 opened #25120 "ipv6 is invalid option"
[Enter feedback here]
Adding docker demon settings "ipv6": true, "fixed-cidr-v6": "2001:db8:1::/64" says ipv6 is invalid option. I couldn't proceed any further.

Docker details:
Version 2.0.0.3 (31259)
Channel: stable
Build: 8858db3
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a831bb7-e76a-a4d3-3312-36d4090e1b80
* Ve

[2019-02-17 05:07] mike-urnun-msft commented on #24978
@arunbethini Have you tried this yet? https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2016-06-01/integrationaccounts/maps

[2019-02-17 05:10] mike-urnun-msft commented on #24721
@mas-dse-juremigi Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-17 05:10] #24721 closed

[2019-02-17 05:11] tonymitchell opened #25121 "Update content to use new Alerts (non-classic) functionality"
Alerts (classic) is no longer available from the menu. It is available from within the new Alerts page, however is going to be retired soon, so it would be helpful to update this content to use the new Alerts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: a

[2019-02-17 05:12] mike-urnun-msft commented on #24723
Hi @taromielnaz Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-17 05:12] #24723 closed

[2019-02-17 05:21] mike-urnun-msft commented on #24759
Hey @dhmorrison Just following up here to see if there's anything specific that you recommend we improve for the section that discusses testing of your function app, otherwise, we'll proceed to close this thread. Please consider reviewing [Contributor Guide](https://review.docs.microsoft.com/en-us/help/contribute/?branch=master) in case you'd like to submit a PR :)

[2019-02-17 05:31] Alberto-Vega-MSFT commented on #25113
@jzuchora87 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-17 05:38] Alberto-Vega-MSFT commented on #25115
@SeaDude I'm glad you resolved this. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-17 05:38] #25115 closed

[2019-02-17 05:40] Alberto-Vega-MSFT commented on #25117
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 05:40] Jask2002 opened #25122 "Do you have sample for the published content specifically for What-if analysis RateCard API"
What-if analysis -

You can determine whether it is more cost-effective to run workloads in another region, or on another configuration of the Azure resource. Azure resource costs may differ based on the Azure region you're using.
You can also determine if another Azure offer type gives a better rate on an Azure resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-17 05:41] Alberto-Vega-MSFT commented on #25118
@tonymitchell Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-17 05:45] Alberto-Vega-MSFT commented on #25120
@saifuddin123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 05:46] Alberto-Vega-MSFT commented on #25121
@tonymitchell Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-17 05:52] Alberto-Vega-MSFT commented on #25122
@Jask2002 Thanks for taking the time to provide feedback! We are always looking on how to make this documentation better for our customers. Would you please elaborate more? Not sure if I understand what the ask is?

[2019-02-17 06:05] dsJoe commented on #25033
Hi Ajai

I was referring to the files in my default work space.

Command to delete any of the files from my default data store will do.

*Thanks and Regards*
*JyothisDas MS*
*PH:9545517980*

On Sun, Feb 17, 2019 at 12:20 AM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-02-17 07:12] Jask2002 commented on #25122
Thanks, 
As it is. Mentioned in the article for Rate card API section "what if" section. 
Is there sample for the same scenario where it compare cost across datacenters? 
Thanks Jas

Sent from Yahoo Mail on Android

  On Sun, Feb 17, 2019 at 11:22, Alberto Vega<notifications@github.com> wrote:
@Jask2002 Thanks for taking the time to provide feedback! We are always looking on how to make this docum

[2019-02-17 08:03] cbailiss opened #25123 "Confusing Table Values"
Under the heading "Pools in Virtual Machine configuration", in the "Pools in Virtual Machine configuration" table, the "Unsupported sizes" column in confusing.  For all except two rows, under the "Unsupported sizes" column it says "All".  Does this mean all sizes are not supported?  I assume not, but it does read that way.  If all sizes actually are supported, then it would be better to change the

[2019-02-17 08:05] cbailiss commented on #25123
Ahh, I just noticed the "except" in the text.

[2019-02-17 08:05] #25123 closed

[2019-02-17 08:22] ravikiran-srini opened #25124 "User Properties"
Deleting User Properties in the activity, does not go away, Still I can see the properties in JSON and the Monitoring section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1667bd5c-cfec-f8d8-f455-285fe51b97c4
* Version Independent ID: e1426374-a7b8-25a1-dd8a-0fd60ff2738b
* Content: [Visually monitor Azure data factor

[2019-02-17 08:52] orspod commented on #25083
@pharring, thanks for your feedback and for catching the typo.

[2019-02-17 08:58] orspod commented on #25083
#please-close.
#25105 was created and approved to make requested change.

[2019-02-17 09:08] msrini-MSIT commented on #25123
@cbailiss , Thank you for your post.

When it stated "All" , it means all the VMs in that series are not supported.

I just reconfirmed by deploying a Batch and I couldn't select B series as it is not supported.

As you just figured this out, i will go ahead and close this thread.

[2019-02-17 09:11] cbailiss opened #25125 "Banking/Usage for tiny spikes in CPU - Average CPU or Max CPU?"
The article refers to per minute and per hour, which is confusing me a bit!  Over what interval is the banking/usage calculation actually done?  I believe from the article it is per minute (it appears that way in the example) but I am not certain.
CPU usage is also inherently spikey.  So, I am wondering how this mechanism takes that into account.  If the CPU banking/usage calculation is done per m

[2019-02-17 09:50] cbailiss opened #25126 "Initial CPU credits?"
Quickly creating a test B-series VM, I can see (from the "CPU Credits Remaining" in the metrics pane in the Azure Portal) what looks like 500 credits.  This isn't mentioned in this article.  Is this just an initial allocation so that the instance has reasonable performance during setup/build?  I assume these expire after a certain amount of time?

---
#### Document Details

⚠ *Do not edit this sec

[2019-02-17 10:30] orspod commented on #25085
@pharring, thank you for your feedback. I am investigating your questions and will update accordingly.

[2019-02-17 10:30] orspod commented on #25084
@pharring, thank you for your feedback. I am investigating your question and will update accordingly.

[2019-02-17 10:35] ejazr83 commented on #24914
Thanks, the .NET daemon sample is great and if the equivalent for that for other languages like Java can be done, that would be great!

[2019-02-17 10:48] Nandhini0692 commented on #10865
Is it possible to append in cloud File ?

[2019-02-17 10:53] orspod commented on #25007
@bryanklewis, thanks for your feedback. I am working on updating the documentation to answer your questions. In the meantime, @radennis, will you address the question above?

[2019-02-17 11:41] cbailiss commented on #25126
This is potentially a case of unclear numbers in the metrics view in the Portal.
The above was using the "Sum" aggregation in the chart.
Having had the machine running for a couple of hours now and choosing the "Avg" aggregation in the chart the numbers align better with that given in the documentation above.  So, I think "Sum" is misleading - not sure what it is summing over, but I assume there a

[2019-02-17 13:13] johannordin opened #25128 "link to nodejs sample gives 404"
link to nodejs sample gives 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa063fd-3b2d-e00d-c382-9ca749254616
* Version Independent ID: 217e50e6-f9ed-d4ad-1d6a-04fbc87aaa4b
* Content: [Single-page apps using implicit flow in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/a

[2019-02-17 14:00] vd3d opened #25129 "Graph Database Support"
Hi,

Is there some news about the Graph DB support in the emulator please ?

We are waiting for almost 9 month unfortunately. Is there an expected release date ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* C

[2019-02-17 14:49] pnkjtr opened #25130 "Kiali container doesn't come up"
I used the command given in this documentation to install Istio, which has Kiali.enabled as true " --set kiali.enabled=true" , but when run this command,  I see Kiali container doesn't come up. it is looking for kiali secret, which is not there.

I did Kubectl describe pod &lt;kiali-pod&gt; , see the following error flagged:

Events:
  Type     Reason     Age                   From

[2019-02-17 16:02] saifuddin123 opened #25133 "Not able to start docker linux SF cluster"
[Enter feedback here]
Hi,
i am trying to deploy linux container on local SF cluster. following this link mentioned below to start a local linux SF cluster.  using the command docker run --name sftestcluster -d -v //var/run/docker.sock:/var/run/docker.sock -p 19080:19080 -p 19000:19000 -p 25100-25200:25100-25200 mysfcluster. it seems to start the cluster/image, but couldn't connect to cluster using

[2019-02-17 16:27] corykroll opened #25134 "SignalR Service Mapping from App Services"
It would be helpful to understand how SignalR services directly map to App Services to solidify the wiring behind the scenes.  Take the following code from your example:

app.UseAzureSignalR(routes =&gt;
{
    routes.MapHub&lt;Chat&gt;("/chat");
});

There appears to be some magic here that the App Services says "any requests to the SignalR service that points to the "chat" Hub direct to me".  But

[2019-02-17 16:32] DCtheGeek commented on #15145
@MicrosoftDocs/azure-cxp-triage Looks like this should be closed.  #please-close

[2019-02-17 17:13] Laithong opened #25135 "laithong"
hello

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f07171-f936-3d88-fbcb-d200605fd90d
* Version Independent ID: 22aad290-7d51-429b-f59e-dd339355c753
* Content: [Quickstart: Call your Bing Custom Search endpoint using Node.js](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-custom-search/call-endpoint

[2019-02-17 18:01] Alberto-Vega-MSFT commented on #25124
@ravikiran-srini Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:11] Alberto-Vega-MSFT commented on #25125
@cbailiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:12] Alberto-Vega-MSFT commented on #25126
@cbailiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:25] SychevIgor commented on #8262
@mike-urnun-msft @msmbaldwindo you have plans to fix it? 9 months is a long enough time isn't it...

[2019-02-17 18:25] MicahMcKittrick-MSFT commented on #25130
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:26] MicahMcKittrick-MSFT commented on #25133
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:27] SychevIgor commented on #11685
Would be nice to see some changes for this item. 6m since the report date is a long

[2019-02-17 18:27] GlennMillerNZ opened #25136 "Connector Test Website"
The Connector Test website below doesn't include ports 80 or 443.
https://aadap-portcheck.connectorporttest.msappproxy.net/
Only has port 8080, 9090 and 9091 under Control.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29476a19-fc48-64f9-af0b-4a548e6ad550
* Version Independent ID: 9310af87-2e31-ae74-0433-60e8b3d1b3be

[2019-02-17 18:28] SychevIgor commented on #13135
@LuisCabrer could you please look on a previous question? or if you have some reasons to not include this link - please tell it and I will close.

[2019-02-17 18:31] AjayKumar-MSFT commented on #25013
@Imeya, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-17 18:31] #25013 closed

[2019-02-17 18:33] Alberto-Vega-MSFT commented on #25128
@johannordin Thanks for your reaching out! I tested two links in this doc and both worked for me. (Althoug I see that the repo for Node.js sample it's been archived)

1. The one at the top of the article where it says: To help you get started, take a look at our Node.js

2. Under [Samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-spa#samples) secti

[2019-02-17 18:35] Alberto-Vega-MSFT commented on #25129
@vd3d Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 18:40] #15145 closed

[2019-02-17 18:54] yieniggu opened #25137 "Can't Create contract nor take contract actinos in Azure Blockchain Workbench using API"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

First I created the service principal, as the docs request, for getting the bearer token and access the api resources.

Then, perform a GET request to /api/v1/applications/workflows/ and get the following results:

[code]

### Any log messages given by the failure

[code]
Finally, the log of the response shows:

[c

[2019-02-17 18:56] Alberto-Vega-MSFT commented on #25134
@corykroll Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-17 18:58] Alberto-Vega-MSFT commented on #25135
@Laithong Thanks for reaching out! Would you please provide some detail?

[2019-02-17 18:59] Alberto-Vega-MSFT commented on #25136
@GlennMillerNZ Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 19:03] SychevIgor opened #25138 "Drop line with ubuntu 17.10 as it's not available anymore"
ubuntu 17.10 no longer available in Azure. Please remove it from a list, to avoid any confusion.

Script to test it:
az vm image list-skus --location "north europe" --publisher "Canonical" --offer "UbuntuServer" --query "[].name"
[
  "12.04.3-LTS",
  "12.04.4-LTS",
  "12.04.5-LTS",
  "14.04.0-LTS",
  "14.04.1-LTS",
  "14.04.2-LTS",
  "14.04.3-LTS",
  "14.04.4-LTS",
  "14.04.5-DAILY-LTS",
  "14.04.

[2019-02-17 19:17] Alberto-Vega-MSFT commented on #25137
@yieniggu Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-17 19:19] yieniggu commented on #25137
Hello,

sure! This is the documentation I followed.

Authenticating and calling the api:
https://github.com/Azure-Samples/blockchain/blob/master/blockchain-workbench/auth-samples/nodejs/index.js

Creating the service principal:
https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench/scripts/workbench-serviceprincipal

[2019-02-17 19:20] ggrammatikos commented on #24561
I also followed these steps. But the problem solved when I logged in the Portal with the Service Admin User. I couldn't find this instruction. To reproduce the problem try to deploy the Azure Batch Service with not Service Admin user, login with a contributor role user.

[2019-02-17 19:22] Alberto-Vega-MSFT commented on #25138
Hi @SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-17 19:22] SychevIgor opened #25142 "Is ubuntu 17.10 still supported?"
Based on this page https://wiki.ubuntu.com/Releases 17.10 no longer supported by Canonical.
Do Microsoft support their apps in unsupported version of OS?

And a second question- what about support on ubuntu 18.10? May we use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Versi

[2019-02-17 19:23] mike-urnun-msft commented on #8262
Hi @SychevIgor Apologies for delay. It looks like the .md file, which this feedback was made against, no longer exists. In order to make sure your feedback is addressed by the right team, could you provide URL of the specific documentation that this feedback is most applicable to?

[2019-02-17 19:24] SychevIgor commented on #8262
awesome. thank you!

[2019-02-17 19:24] #8262 closed

[2019-02-17 19:25] SychevIgor opened #25143 "Is ubuntu 17.10 still supported?"
Based on this page https://wiki.ubuntu.com/Releases 17.10 no longer supported by Canonical.
Do Microsoft support their apps in unsupported version of OS?

And a second question- what about support on ubuntu 18.04 and 18.10? May we use any?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736c

[2019-02-17 19:34] Alberto-Vega-MSFT commented on #25142
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 19:36] ggailey777 commented on #25142
@ahmedig do we need to update the documented Ubuntu versions?

[2019-02-17 19:39] Alberto-Vega-MSFT commented on #25143
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-17 19:56] jzuchora87 commented on #9312
Hello, Is there any update on this? I still do not see it in AzureRm.Sql 4.12.1 and with vCore default to 7 days, this is going to cause us a headache.

[2019-02-17 20:04] mike-urnun-msft commented on #24759
@dhmorrison Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-17 20:04] #24759 closed

[2019-02-17 20:20] mike-urnun-msft commented on #24984
Hi @anas2204 Thanks again for pointing this out and helping us drive improvements towards MS Docs! We have updated the links to go their correct pages and the changes will reflect within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-17 20:20] #24984 closed

[2019-02-17 20:36] jzuchora87 opened #25144 "cmdlet for PITR in AzureRm.Sql 4.12.1"
Hello, the cmdlet Set-AzureRmSqlDatabaseBackupShortTermRetentionPolicy is not in AzureRm.Sql 4.12.1. Any update on when this will be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database au

[2019-02-17 20:55] #25083 closed

[2019-02-17 21:34] Anand-Moghe opened #25145 "Typos in document regarding "Azure Active Directory > Users and groups > ""
The document has few references to "Azure Active Directory > **Users and groups** > ". Unless I am missing something, I don't think there is a pane in AAD with display title as "Users and groups". Users and Groups are two separate pane. This could be confusing to read and understand.

Shouldn't this be changed to "Azure Active Directory > **Groups** > "  or "Azure Active Directory > **User** > " i

[2019-02-17 21:36] dealaus commented on #9312
@jzuchora87 The cmdlets were included in [Az.Sql 1.2.0](https://www.powershellgallery.com/packages/Az.Sql/1.2.0).

There won't be any new Releases to the AzureRM* modules other than for bug fixes and maintenance. More details: https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.3.0

[2019-02-17 21:39] robinsh commented on #25090
It doesn't create the dataset until the data starts streaming. So you have to start up the app that sends the messaging and wait a bit, especially for stream analytics. It takes up to 10-15 minutes to really start sending the data through and for the dataset to show up.

[2019-02-17 21:41] robinsh commented on #25088
Well, *I* know about it, because I've run this tutorial a bunch of times. I thought it was just me, but I'm glad to see it's not. It seems to be a problem with the PowerBI authentication. Sometimes it won't authenticate me at all, and sometimes it will work in Firefox but not Edge. I'm sorry about this, I understand your frustration. Let me ping the PowerBI guys and see if they have any comment.

[2019-02-17 21:47] frostygoth opened #25146 "Just a minor typo with the spelling of NSG in the below section"
Hello,

The section "We recommend creating the required Azure !!!NGSs!!! before initiating failover. You can then associate NSGs to failed over VMs automatically during failover" has one of the NSGs spelled incorrectly. I tried to point it out with exclamation marks in the quoted section.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-17 22:28] richpowell commented on #24919
So, back to my original question. This feature is supposed to work on a "trial" / free tier? I must be missing something, I've attempted several times on ubuntu lts

[2019-02-18 01:18] kazshi commented on #24132
@KetanChawda-MSFT I got answers for the questions from a PM and provided to my customer. However, I'd prefer to open this until the content would be updated.  Thanks.

[2019-02-18 01:27] Alberto-Vega-MSFT commented on #25144
@jzuchora87 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 01:35] Alberto-Vega-MSFT commented on #25145
@Anand-Moghe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 01:47] SeaDude opened #25148 "Jupyter labextensions not working?"
Hello,
As `root` user on the dsvm, running the `jupyter labextension install xzy` command results in the error: `Error executing Jupyter command 'labextension': [Errno 2] No such file or directory`.
I can run and interact with jupyterlab, but i'm unable to add extensions. What am I missing?
Thank yoU!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-18 01:49] Alberto-Vega-MSFT commented on #25146
@frostygoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-18 02:03] imeya commented on #25018
@ChiragMishra-MSFT , thanks for your answer. And I also want to know is there any scenario we can use the event-hub-level connection string(I'm now learning event hubs by following the official doc, and not found any scenario/sample with using event-hub-level connection string till now)

[2019-02-18 02:05] Alberto-Vega-MSFT commented on #25148
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 02:07] saifuddin123 commented on #25120
docker was in windows container mode. switching to linux containers and restarting took the option.

[2019-02-18 02:07] #25120 closed

[2019-02-18 02:20] SeaDude commented on #25148
I'm able to run the command as `non-root user`, but the vm hangs (has been hanging for ~10 mins) at 60% CPU usage and network/disk I/O hangs at a constant usage. (I'm unable to paste images into this comments on the docs).

[2019-02-18 02:28] KeiroKamioka0000 opened #25149 "Is SAS Key/Token will be logged?"
When Store Explorer upload the file to the Blob Storage, does the used SAS Key/Token will be logged at Storage Analytics Log?

Storage Analytics log format
https://docs.microsoft.com/ja-jp/rest/api/storageservices/storage-analytics-log-format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d67

[2019-02-18 02:36] SeaDude commented on #25148
`CTRL + C` (multiple) did not shut down the ssh session. Went to Azure portal and clicked `shutdown`. VM has been 5+ minutes shutting down...
![image](https://user-images.githubusercontent.com/8636973/52924743-e192c200-32e2-11e9-8cf3-b6b039a32c57.png)

[2019-02-18 02:38] SeaDude commented on #25148
Interesting observation... The `Disk operations / sec` shows `blank` for a while during this issue.
![image](https://user-images.githubusercontent.com/8636973/52924799-1c94f580-32e3-11e9-9f14-129b234a4f0e.png)

[2019-02-18 02:38] SubhashVasarapu-MSFT commented on #24525
@mbell85 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 02:38] #24525 closed

[2019-02-18 02:39] rolyon commented on #24957
Hi @bjd145
Thanks for your feedback. A "Don't know" response basically indicates that you don't whether user's continued access should be approved. It would be up to the administrator to decide whether the user will continue to have access.
We are working on a update to this article that we will publish soon. Hopefully it will make the steps a little clearer.
thanks

[2019-02-18 02:40] SeaDude commented on #25148
Epic 9 min shutdown
![image](https://user-images.githubusercontent.com/8636973/52924880-7eedf600-32e3-11e9-9a31-d8219313b840.png)

[2019-02-18 02:43] SeaDude commented on #25148
Lets try this again...
![image](https://user-images.githubusercontent.com/8636973/52924979-e7d56e00-32e3-11e9-9a48-61992009e3b8.png)

[2019-02-18 02:45] tlagore opened #25150 "Linux Function does not have MSI_ENDPOINT or MSI_SECRET after adding application as a MSI"
After adding the application (a linux python function) as a managed service identity, then restarting the function, the application settings are not populated with the MSI_ENDPOINT or MSI_SECRET. I have tried disabling and enabling multiple times, as well as restarting the application, but they do not populate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-02-18 02:46] YASWANTHM-MSFT commented on #25149
@KeiroKamioka0000 , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-18 02:47] SeaDude commented on #25148
The command `jupyter labextension uninstall jupyterlab-drawio` also hangs at `$webpack`. We're now approaching the 40 min mark...
![image](https://user-images.githubusercontent.com/8636973/52925078-56b2c700-32e4-11e9-89ff-7056d173f667.png)
At my measly rate of $100/hr, we're approaching a $70 error here.

[2019-02-18 02:50] MarileeTurscak-MSFT commented on #25145
Hi @Anand-Moghe , you're right - I believe the pane used to be called "Users and groups" but now Users and Groups are in separate panes. I am assigning this to the content author, @curtand, to look into. I'm happy to make a PR to add the screenshots and update the navigation as well if that's easier.

[2019-02-18 02:57] SeaDude commented on #25148
Hm... still froze...
![image](https://user-images.githubusercontent.com/8636973/52925315-ac3ba380-32e5-11e9-8a63-02fe61f309c8.png)
This time `CTRL + c` worked... here is the results
[code]

[2019-02-18 02:59] saifuddin123 commented on #25133
Logs:
D:\Temp\ServiceFabric\service-fabric-linux-cluster>docker run --name sftestcluster -d -v //var/run/docker.sock:/var/run/docker.sock -p 19080:19080 -p 19000:19000 -p 8080:8080 -p 3306:3306 -p 25100-25200:25100-25200 mysfcluster
904e9c53e5ace54bcce12cd54bb106000a65d2796aa9726160dc5d892087c219

D:\Temp\ServiceFabric\service-fabric-linux-cluster>docker logs sftestcluster
 * Starting OpenBSD Secu

[2019-02-18 03:04] SeaDude commented on #25148
FWIW:
![image](https://user-images.githubusercontent.com/8636973/52925596-e2c5ee00-32e6-11e9-8c43-b9e7c1344bae.png)

[2019-02-18 03:18] SeaDude commented on #25148
Related to https://github.com/jupyterlab/jupyterlab/issues/4276 ?

[2019-02-18 03:19] kazshi opened #25151 "Upgrade the VM Agent"
"The Azure VM Agent for Windows is automatically upgraded."
Does it mean that the installed Agent on existing deployed Windows VMs is automatically upgraded? or only for new VMs? I'd like to make it clear since I'm not sure from the current context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd

[2019-02-18 03:25] mjpagan opened #25152 "Installation settings typo"
Appears that under the Installation Settings there is a errant greater than symbol in the command

Usage ./install -d -r &lt;MS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a76fc326-1f03-f650-efcd-808721f572de
* Version Independent ID: ddf0b76a-4bb5-2ebe-101f-76dde45ff80e
* Content: [Install the Mobility Service manu

[2019-02-18 03:38] kazshi opened #25153 "The current downloadable agent is not the latest"
The current downloadable agent from the link in the Manual installation section is not the latest version (2.7.41491.898), the latest version is 2.7.41491.901. Please update the downloadable file from the link (and the cmd line). Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911

[2019-02-18 03:44] NKUCodingCat commented on #9121
Hey guys,

It seems I met something seems similar here

Is it what AKS#318 met? or just caused by mis-configurate in somewhere? I am a literally newbie of AKS &  K8s

$ kubectl describe hpa
Error from server (NotFound): the server could not find the requested resource

$ kubectl get hpa
NAME               REFERENCE                     TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
azure-vote-f

[2019-02-18 03:58] SeaDude commented on #25148
Kind of upset as there is no way I can find to install JupyterLab Extensions... ugh.
![image](https://user-images.githubusercontent.com/8636973/52927214-41db3100-32ee-11e9-8a0c-9f55a0ad4867.png)

[2019-02-18 04:13] DashleenBhandari-MSFT commented on #25150
@tlagore Managed Identity is in public preview for App service on Linux and apps for containers.

There is a bug currently where the values aren't set in the kudu container, but they are set in the site's main container ​so if you check kudu or bash it won't show up, but if you ssh you'll be able to check the environment to confirm.

Please let me know if this helps.

[2019-02-18 04:15] SumanthMarigowda-MSFT commented on #25152
@mjpagan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-18 04:19] mhricov27 commented on #25100
Olready solved but referent way through blank javascript app  in visual studio and after publish to azure.

[2019-02-18 04:19] #25100 closed

[2019-02-18 04:19] yieniggu opened #25154 "Create Azure blockchain workbench contract instance from Node.js using the api"
I'm not being able to create a new contract instance from a Node.js simple api test.

Here is my code, and the response:

[code]
And the log:

[code]

I've tried with every variant: taking out the workflowActionInput definition from the body, enclosing the variable names in doble quotes and quotes, but none of thes have worked. The main fact is that i've imported the collection found in: https://g

[2019-02-18 04:28] tlagore commented on #25150
Thanks for the quick response. You are correct, the environment variables do actually exist. However, both of the variables are empty.

APPSETTING_WEBSITE_AUTH_ENABLED=False
...
**MSI_ENDPOINT=**
...
**MSI_SECRET=**
...
ScmType=None
KUDU_SYNC_CMD=kudusync
FRAMEWORK_VERSION=microsoft/azure-functions-python3.6:2.0
WEBSITE_NODE_DEFAULT_VERSION=8.11.1
SCM_BIN_PATH=/opt/Kudu/bin
PHP_VERSION=7.2

[2019-02-18 04:32] dcbrown16 commented on #22964
@diberry circling back to the original question here, my main goal is still to figure out whether "For large KBs, the testing can be automated through generateAnswer APIs." was intended to refer to any more robust automation features than what is documented about Active Learning.
If I'm understanding correctly, Active Learning basically records questions that are similar to what is already registe

[2019-02-18 04:34] ManojReddy-MSFT commented on #25026
@mcurko I am unable to see the screenshot. Can you please upload it directly from Github ?

Also can you check the Az.Keyvault module version once ?

[2019-02-18 04:42] KetanChawda-MSFT commented on #24988
@KeiroKamioka0000 Checking in to see if the above post helped answering your question.

[2019-02-18 05:03] ChiragMishra-MSFT commented on #24929
@JasonWHowell Thanks for leaning in to clarify here.
@dhananjaypatkar Hope your issue was resolved. I will now proceed to close this issue. Feel free to still comment if you need any more clarification.

[2019-02-18 05:03] #24929 closed

[2019-02-18 05:11] KrishnaG-MSFT commented on #24285
@miguelangelopereira I have checked internally with content author @rayne-wiselman and have got update that the article is up-to-date. So ideally if there is any news on Debian 9 support or any other information then the article would be updated appropriately.

[2019-02-18 05:11] KrishnaG-MSFT commented on #24285
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-18 05:11] #24285 closed

[2019-02-18 05:20] CHEEKATLAPRADEEP-MSFT commented on #23232
I have a new version of the CLI commandlets ready, I tested this afternoon and this should address all the reported issues and more mistakes I found.

[2019-02-18 05:20] CHEEKATLAPRADEEP-MSFT commented on #23231
I have a new version of the CLI commandlets ready, I tested this afternoon and this should address all the reported issues and more mistakes I found.

[2019-02-18 05:21] CHEEKATLAPRADEEP-MSFT commented on #23229
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-18 05:21] #23229 closed

[2019-02-18 05:21] DashleenBhandari-MSFT commented on #25150
@tlagore This is a bug currently where the values aren't set in the kudu container however if you ssh you'll be able to check the environment to confirm.

[2019-02-18 05:21] CHEEKATLAPRADEEP-MSFT commented on #23232
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-18 05:21] #23232 closed

[2019-02-18 05:21] CHEEKATLAPRADEEP-MSFT commented on #23231
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-18 05:21] #23231 closed

[2019-02-18 05:28] PramodValavala-MSFT commented on #24921
@cveld Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 05:28] #24921 closed

[2019-02-18 05:30] kazshi opened #25155 "no link about Azure storage accounts"
"For more information on Azure storage accounts, see the links at the end of this article." is in "Requirements and restrictions" section, but I cannot find "the links at the end of this article" about Azure storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version I

[2019-02-18 05:30] yieniggu commented on #25154
UPDATE: Apparently the transaction couldn't complete. Looking in the application insights error log it complaints about this:

Expecting 2 input parameters but found 1.

How is this possible? I think there are two main options, either the documentation is wrong or the api constructed for the blockchain workbenchs is broken...

[2019-02-18 05:32] KeiroKamioka0000 commented on #24988
Thanks! Sorry for delayed notification!

[2019-02-18 05:32] #24988 closed

[2019-02-18 05:36] shashishailaj commented on #24858
@arnrist We have recorded your request and informed the author . However this may take some time. At this point we have closed this request but the uservoice request is in the pipeline. We do not have a specific timeline to share for the same because there are a lot of requests which have a higher demand from customers however , we hope to get this looked into soon. We encourage you to use the use

[2019-02-18 05:38] CHEEKATLAPRADEEP-MSFT commented on #24985
@YoDaMa You are most likely hitting Event Hub's 5 readers limit.

To avoid exceeding the Event Hubs limit of five readers per consumer group per partition, it's a best practice to designate a consumer group for each Stream Analytics job. There is also a limit of 20 consumer groups per event hub. For more information, see [Troubleshoot Azure Stream Analytics inputs](https://docs.microsoft.com/en-us

[2019-02-18 05:48] tlagore commented on #25150
Sorry, can you please let me know how to ssh?
documentation shows https://<func-name>.scm.azurewebsites.net/webssh/host

but this produces SSH CONNECTION CLOSE - Error: connect ECONNREFUSED 172.19.0.4:2222Error: connect ECONNREFUSED 172.19.0.4:2222

I am owner of the subscription. Do I need to enable ssh on container? Do you have documentation for this?

Thank you

[2019-02-18 05:54] Rajeswari-Mamilla commented on #19764
Please refer to https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview
#please-close

[2019-02-18 05:54] CHEEKATLAPRADEEP-MSFT commented on #25124
@ravikiran-srini After deleting the user properties, try to click on “Publish All” to update the JSON code.
Hope this helps.

[2019-02-18 06:01] CHEEKATLAPRADEEP-MSFT commented on #24971
@ravikiran-srini Tumbling window triggers are a type of trigger that fires at a periodic time interval from a specified start time, while retaining state. Tumbling windows are a series of fixed-sized, non-overlapping, and contiguous time intervals

**Tumbling window trigger:** **Supports a one-to-one relationship**. Only one pipeline can be triggered.

**Schedule trigger:** **Supports many-to-many

[2019-02-18 06:01] a142173 commented on #24951
Is there anyway to do this via ARM template?

[2019-02-18 06:04] neeleshray commented on #24963
@rolyon
Thanks Robert for your assistance.

[2019-02-18 06:05] fkeller-datameer opened #25156 "Is this documentation still valid?"
Following the above doc doesn't work since a few days. We had our offer published working using this, but since some time, it is not working at all. Already the UI step is not working and shows all cluster options and does not take care of the createuidefinition.json file. All steps afterwards are also not working. At the moment our offer is not usable.

---
#### Document Details

⚠ *Do not edit t

[2019-02-18 06:05] neeleshray commented on #24434
@itguysocal
We will be closing this issue now. Let us know if you need further help.

[2019-02-18 06:05] #24434 closed

[2019-02-18 06:09] DashleenBhandari-MSFT commented on #25150
Here is the document - https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support
Do you have custom docker image?

[2019-02-18 06:12] flanakin commented on #18121
No, there's no way to change the key-based API's column names. Have you tried using the ARM UsageDetails API?
https://docs.microsoft.com/rest/api/consumption/usagedetails

If you need something more, please share details on https://aka.ms/costmgmt/feedback so we can prioritize it and give others a chance to vote it up.

[2019-02-18 06:12] kritcs18 opened #25157 "Add how to upload large data to an Azure storage in Python"
Hi,
I've realized that there is the docs to guide how to upload large data to an Azure storage account here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-scalable-app-upload-files . but there's only in C#. Would be great if you could add in Python language (and other languages).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-18 06:16] CHEEKATLAPRADEEP-MSFT commented on #25156
@fkeller-datameer Thanks for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-02-18 06:21] tlagore commented on #25150
Hello Dashleen, thanks for the response. It would seem the ssh documentation there is for web apps. I am dealing with an azure function. Is the documentation the same? All of the documented methods fail for the function.

[2019-02-18 06:26] dcbrown16 opened #25158 "Clarify Functions support"
This document is linked from the Functions ToC but it's not clear which Functions are supported. Does this method work for App Service Plan Functions and Consumption Functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac8

[2019-02-18 06:28] Adityagrao opened #25159 "Invalid subscription key"
I have tired with a subscription key for search and also the "Cognitive Services" key which is a bundle of search and vision.
tired using swagger inspector.
As parameters :
q = what is circumference of the earth
market = en-us
As headers :
Ocp-Apim-Subscription-Key : &lt;key&gt;

Response
{
    "statusCode": 401,
    "message": "Access denied due to invalid subscription key. Make sure to provide a

[2019-02-18 06:31] imeya opened #25160 "Is it possible to update the Failure anomalies' setting via powershell?"
Is it possible to update the Failure anomalies' setting via powershell? like add my custom email address, and check/uncheck the "Email subscription's owner, contributors and readers"?

I know it's maybe impossible according to this [feedback](https://feedback.azure.com/forums/357324-application-insights/suggestions/19579972-enable-arm-configuration-of-smart-detection-rules). But I want to know if

[2019-02-18 06:32] ericcwk opened #25161 "The template deployment error show that "pergb2018" is not a valid option for price tier now."
New-AzureRmResourceGroupDeployment : 12:34:33 PM - Resource Microsoft.OperationalInsights/workspaces 'AIAPOC' failed with message '{
  "error": {
    "code": "BadRequest",
    "message": "Pricing tier doesn't match the subscription's billing model. Read http://aka.ms/PricingTierWarning for more details."
  }

Noted that i have just executed the same template last week. This option is still valid o

[2019-02-18 06:44] balakrishna222111 opened #25162 "New-AzureRmResourceGroupDeployment : CantAddAndRemoveCertificatesAtSameTime"
# I am trying deploy cluster

## Facing an issue like below

 New-AzureRmResourceGroupDeployment : 12:03:12 PM - Resource Microsoft.ServiceFabric/clusters 'clusterName' failed with
message '{
  "error": {
    "code": "CantAddAndRemoveCertificatesAtSameTime",
    "message": "Can't add and remove certificates at the same request.",
    "details": []
  }
}'

- [ ] New-AzureRmResourceGroupDeployment :

[2019-02-18 06:48] kazshi commented on #24460
Hi @SnehaGunda , do you have any information of how to change the lower limit for the case? Thanks.

[2019-02-18 06:52] tlagore commented on #25150
I am closing this issue, because tests have shown I do indeed have access to these environment variables, even though I can't see them through portal or portal cli.

[2019-02-18 06:52] #25150 closed

[2019-02-18 06:57] jreypo commented on #19019
The documentation makes reference to ACS-Engine where it should make reference to AKS-Engine, which is the new name of the project. It is also hosted in a new [GitHub repo](https://github.com/Azure/aks-engine).

[2019-02-18 07:03] CHEEKATLAPRADEEP-MSFT commented on #25159
@Adityagrao If you copy and paste GET in any browser gives the same error message.

**Note:** Project Answer Search API uses the **Bing v7 endpoint** to get answers to interrogative queries.

**Steps to run Project Answer Search:**

**Step1:** Get an access key for the free trial Cognitive Services Labs
**Step2:** **Project Answer Search** => **[Click Subscribe](https://aka.ms/answersearchsubscrip

[2019-02-18 07:13] SumanthMarigowda-MSFT commented on #25157
@kritcs18 Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-18 07:18] Grace-MacJones-MSFT commented on #24951
@Ayanmullick @a142173 based on my knowledge and research there isn't a way to implement this via ARM or powershell.

@cephalin any ideas on how to accomplish this via powershell or ARM?

[2019-02-18 07:25] mike-urnun-msft commented on #22789
Hi @VanpouckeBen Apologies for the delay in response. To get CORS working, you can add the CORS headers directly from your code, as below:

[code]

I've tested on my end on gen 3 raspberry pi and confirmed that this works. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-18 07:25] #22789 closed

[2019-02-18 07:30] jakaruna-MSFT commented on #24273
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-18 07:30] #24273 closed

[2019-02-18 07:30] jakaruna-MSFT commented on #24275
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-18 07:30] #24275 closed

[2019-02-18 07:32] jakaruna-MSFT commented on #24653
@cynthn Please check and update the doc as required.

[2019-02-18 07:34] KetanChawda-MSFT commented on #24973
@StingyJack If its just the comments in the local.settings.json file you can still make the comments as shown below:

[code]
Here is an [issue](https://github.com/Azure/azure-functions-core-tools/issues/354) which is discusses what you are asking but is closed now.

This repo is mostly for documentation feedback and it would be best to direct your query to the above issue or create a new issue in

[2019-02-18 07:45] Grace-MacJones-MSFT commented on #25155
Hi @kazshi, thanks for bringing this to our attention. I've created a pr to update this doc. The change should be reflected in a couple of hours. In the meantime, you can learn more about Azure storage account [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview).

We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2019-02-18 07:45] #25155 closed

[2019-02-18 07:46] DeMoriarty opened #25163 "run.log() is not working inside of loops"
for i in range(100):
    run.log('loss', loss)
this doesn't work, however,
run.log('Final loss',final_loss)
works properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-710771255ec6
* Content: [Track experiments & training metrics

[2019-02-18 07:53] imeya opened #25164 "How to specify matching more than one characters in match condition?"
If I want to match the following: 5 numbers, then followed by one or more other characters, like 12345aabb or 99887bb.
How can I achieve that use match condition?

Related link: https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#conditions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-18 07:54] ChiragMishra-MSFT commented on #25107
@ToddChitt Glad that the issue was resolved.
The length function is used internally to loop through the elements.
I will now proceed to close the issue. Feel free to still comment if you want any further clarifications.

[2019-02-18 07:54] #25107 closed

[2019-02-18 07:56] ChiragMishra-MSFT commented on #25034
@mamccrea Thanks for leaning in to clarify here.

@ampac28 Hope the issue was resolved.
I will now proceed to close this issue. Feel free to still comment if you want any further clarification.

[2019-02-18 07:56] #25034 closed

[2019-02-18 08:01] ChiragMishra-MSFT commented on #25163
@DeMoriarty Thanks for bringing this to our notice. We are investigating into the issue and will be back with updates shortly.

[2019-02-18 08:01] jfbosch commented on #24080
Thank you much.

I understand that, however, even if you await a task returned by a method on the DurableOrchestrationContext , and call ConfigureAwait(false) on that, it can cause the problem.

[2019-02-18 08:01] jakaruna-MSFT commented on #24910
@rahulchoudhary242 I followed the document and i am able to create the database with the command provided in the document.
If the same command is not working for you, Please provide the error details.

[2019-02-18 08:02] KetanChawda-MSFT commented on #25036
@timmkrause Document states that you have to create a `.zip` of the function app project folder.

Its just a simple zip of the existing function app project folder

Below are few more articles that you can refer to understand the `Run-From-Package` command:

https://github.com/Azure/app-service-announcements/issues/110
https://github.com/Azure/app-service-announcements/issues/84
https://docs.micro

[2019-02-18 08:02] DashleenBhandari-MSFT commented on #25150
Thanks for the update! Please let us know if you need any further help on this.

[2019-02-18 08:05] jakaruna-MSFT commented on #24998
@cynthn Author is not available in the github. Please take care of this issue.

[2019-02-18 08:09] MarkusKoenig73 commented on #24351
Great, I did not know that it works in the latest version. So we can close this. thanks!

[2019-02-18 08:09] #24351 closed

[2019-02-18 08:13] eliasbats opened #25165 "Need to access a GUI console through Azure Portal"
There are various reasons why RDPing through port 3389 is not acceptable. Mainly because of security reasons, but also because of practical reasons. For example it would be extremely useful to be able to see my VM boot, or I would like to access my VM GUI from a corporate environment that does not allow RDP connections over the internet. Can Azure provide such a service?

---
#### Document Details

[2019-02-18 08:19] Klaas- commented on #20354
@DiegoRamirez-MSFT / @TomArcherMsft was this closed without being resolved?

[2019-02-18 08:30] johannordin commented on #25128
for me this link under samples gives 404: https://github.com/Azure-Samples/active-directory-b2c-javascript-singlepageapp-nodejs-webapi

this link under the 4th paragraph also gives 404 https://github.com/Azure-Samples/active-directory-b2c-javascript-singlepageapp-nodejs-webapi

[2019-02-18 08:30] AjayKumar-MSFT commented on #25035
@rohitBaravkar, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-18 08:30] #25035 closed

[2019-02-18 08:32] mcurko commented on #25026
<img width="871" alt="untitled" src="https://user-images.githubusercontent.com/15943715/52937656-0e38ef00-3360-11e9-8d50-07aae2695a49.png">
<img width="411" alt="untitled2" src="https://user-images.githubusercontent.com/15943715/52937657-0e38ef00-3360-11e9-8846-bed852d67e64.png">

[2019-02-18 08:37] SnehaAgrawal-MSFT commented on #24918
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-18 08:37] SnehaAgrawal-MSFT commented on #25000
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-18 08:39] scegg commented on #24918
Okay. You can close this ticket.
At the client side, there is no tech guy who can perform your test at this moment. They are end users with no OM skills.

[2019-02-18 08:48] DashleenBhandari-MSFT commented on #25158
@dcbrown16 Thanks for raising the issue.
Custom Domains are supported for both functions apps in App Service Plan and Consumption Plan.
For function apps in a Consumption plan, only the CNAME option is supported.
Please refer: https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-configure-custom-domain

[2019-02-18 08:50] dcbrown16 commented on #25158
Thanks @DashleenBhandari-MSFT, sorry I wasn't more precise. I'm actually looking more at the SSL cert binding procedure on this page, is that also supported on both types of Function?

[2019-02-18 08:54] Jask2002 commented on #7695
Same issue(Windows 10+ Chrome)

When I copy paste in vi editor in cloud shell, I found "a" was missing from the first line

apiVersion: apps/v1

[2019-02-18 09:02] BhargaviAnnadevara-MSFT commented on #25160
@imeya Thanks for the question! We're investigating this and will get back to you shortly.

[2019-02-18 09:14] Adityagrao commented on #25159
I can't use this with an Azure Account? I want to use this with my work Email

[2019-02-18 09:32] RohitMungi-MSFT commented on #25033
@dsJoe Which service or documentation of Azure are you referring to? Can you copy paste the URL of the documentation that you are following?

[2019-02-18 09:37] dsJoe commented on #25033
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-access-data

*Thanks and Regards*
*JyothisDas MS*
*PH:9545517980*

On Mon, Feb 18, 2019 at 3:02 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2019-02-18 09:58] nelisbijl opened #25168 "Prerequisites to cryptic"
Don't know how to achieve: 'This account must have permission to start and stop the virtual machine.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1683116-76e6-ff15-aba7-54c95eabf882
* Version Independent ID: 23274e28-3e28-f4c7-d59d-57ef1c441887
* Content: [My first graphical runbook in Azure Automation](https://doc

[2019-02-18 10:04] TwoPatient commented on #24358
Hello @sergaz-msft we are trying to provision a downstream device device with a x509 certificate, not the edge device, and that it always gets registered with authentication type ‘Self Signed’ instead of ‘CA Signed’.
The group enrolment settings in the DPS are set with the ‘CA Certificate type’.

[2019-02-18 10:06] jakaruna-MSFT commented on #25019
@hugree I followed the doc and i am able to pull the images using user-assigned identity.
Can you check  the identity key in the command `az vm show -n <vmname> -g <resource group>`.
It should have the user assigned identity.

[2019-02-18 10:07] dominicbetts commented on #20467
Hi @manchejs0 - we haven't heard from you in a while. I'm going to close this issue, but if you want to follow-up please reopen it. Thanks!
Dominic
#please-close

[2019-02-18 10:10] dominicbetts commented on #13604
Hi @jajens - there's now a page in the IoT Central docs that lists the supported browsers: https://docs.microsoft.com/azure/iot-central/iot-central-supported-browsers
Thanks for raising this issue.

#please-close

[2019-02-18 10:15] KrishnaG-MSFT commented on #25161
@ericcwk  Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-18 10:23] xenalite opened #25169 "IP Address of API Server"
I am using AKS cluster with advanced networking. I applied subnet-wide NSG with limited outbound connectivity. I want to lock down outbound communication from the cluster as part of security hardening processes to only communicate to the API server.

I allowed VNET Ports * -&gt; Internet Ports 80,443 (outbound internet connectivity). All other outbound traffic was blocked. With this rule in, comma

[2019-02-18 10:23] pdhimate opened #25170 "Error: Run Login-AzureRmAccount to login"
I get to see this: Azure Automation: error "Run Login-AzureRmAccount to login."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ea5e93-b220-57c1-b011-865b7da3c5a6
* Version Independent ID: 179a79da-0e12-716e-725e-9db6b8f20282
* Content: [Deploy an Azure Resource Manager template in an Azure Automation runbook](https:/

[2019-02-18 10:36] nelisbijl commented on #25168
Got it working (made some other mistake in following the walkthrough). Apparently the automation account does already have the required permission. Still no idea how and where to grant that permission if it where missing.

[2019-02-18 10:37] RohitMungi-MSFT commented on #25033
@dsJoe Here is one MSDN forum on [how to delete the datasets from your ML studio](https://social.msdn.microsoft.com/Forums/azure/en-US/2fd7c86c-3536-4761-b86a-1aa6e2c259e2/how-do-i-delete-a-dataset). The [download ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-access-data#download)of data will download the container or folder in the share based on the prefix value.

[2019-02-18 10:42] BartVanBerkel opened #25171 "Enable Azure Storage Advanced Threat Protection using an ARM template"
Advanced Threat Protection is currently in preview, but would it be possible in the future to enable this with an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Monitoring Threats in Azure Stora

[2019-02-18 10:43] ManojReddy-MSFT commented on #25026
@mcurko Can you please share the output of the command Get-AzContext ?

[2019-02-18 10:44] TWolverson opened #25172 "How am I supposed to know what value to pass for -resourceType?"
I'm trying to assign Storage Blob Data Reader (Preview) to a service principal at the container scope, and whatever I choose for the -resourceType parameter as specified in 'Create a role assignment for a group at a resource scope', the command is rejected with a mysterious error message: "Scope '/subscriptions/{susbcriptionid}/resourceGroups/{rgname}/{storageaccountname}' should have even number

[2019-02-18 10:44] jakaruna-MSFT commented on #25074
@CeciAc I think the user tried to execute `sudo su -` as the oracle user.
That wont work. Because oracle user dont have sudo privileges.
While creating a VM we would have given a username. Lets say "azureuser".
We need to login as the "azureuser" and then try to login as root using the `sudo su -` command. Here we need to give the password for the user "azureuser".

In that document also, The line

[2019-02-18 10:46] BartVanBerkel opened #25173 "Azure Storage Advanced Threat Protection or Detection?"
Shouldn't this be Advanced Threat Detection? The first line of this doc states: "Azure Storage Advanced Threat Protection detects anomalies"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Monitoring Threats i

[2019-02-18 10:49] sergaz-msft commented on #25154
Hello @yieniggu , thank you for your feedback! As this is not related with a specific doc on docs.microsoft.com may I kindly ask you to open an issue on the respective github repo from the sample you are testing? https://github.com/Azure-Samples/blockchain/issues

If this is the related issue let us know: https://github.com/Azure-Samples/blockchain/issues/146

Thank you!

[2019-02-18 10:54] pauska opened #25175 "Permissions required to manage views"
What permissions or role(s) is required to manage/use views? Can the documentation please be updated to explain this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509bc5b8-98b4-001c-0111-bc9f2e4645a5
* Version Independent ID: 3f44c969-e9a0-fc09-17e0-df9ecb842712
* Content: [Create views to analyze data in Azure Log A

[2019-02-18 10:58] dsJoe commented on #25033
Ok. Thanks a lot
*Thanks and Regards*
*JyothisDas MS*
*PH:9545517980*

On Mon, Feb 18, 2019 at 4:07 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2019-02-18 10:59] mcurko commented on #25026
<img width="892" alt="untitled" src="https://user-images.githubusercontent.com/15943715/52946597-a80a9700-3374-11e9-87a3-28f8cf9579ab.png">

[2019-02-18 11:01] CHEEKATLAPRADEEP-MSFT commented on #25014
@kanchencostco It should be the directory path of the Azure Data Lake Storage where the sample data is ingested in the previous step.

I have ingested the sample data into sample data folder in Azure Data Lake file system as shown.

![image](https://user-images.githubusercontent.com/44426401/52946570-52e17c00-339a-11e9-8d47-8aea55131eb1.png)

And the SQL query looks like this:
[code]
Hope this hel

[2019-02-18 11:02] YutongTie-MSFT commented on #24704
@adhishthite
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-18 11:02] #24704 closed

[2019-02-18 11:03] YutongTie-MSFT commented on #24718
@adhishthite We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-18 11:03] #24718 closed

[2019-02-18 11:04] YutongTie-MSFT commented on #24735
@yorgzero We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-18 11:04] #24735 closed

[2019-02-18 11:06] YutongTie-MSFT commented on #25033
@dsJoe
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-18 11:06] #25033 closed

[2019-02-18 11:08] sergaz-msft commented on #24737
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag @Alberto-Vega-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 11:08] #24737 closed

[2019-02-18 11:09] jakaruna-MSFT commented on #25169
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 11:10] jakaruna-MSFT commented on #25165
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 11:10] CHEEKATLAPRADEEP-MSFT commented on #25159
@Adityagrao You can use any one of the (Microsoft account/Github/LinkedIn) to sign into labs.
![image](https://user-images.githubusercontent.com/44426401/52947157-f1baa800-339b-11e9-96fe-0aee7caf085e.png)

[2019-02-18 11:13] jakaruna-MSFT commented on #25153
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 11:13] YutongTie-MSFT commented on #24799
@alch-msft Hi Alvin, I can not find any document for filter of extended metadata. Do we have any for that? Can you please check this issue and update the document if necessary? Thanks a lot.

[2019-02-18 11:15] dmt87uk opened #25178 "Inconsistency in usage of data worker node terminology"
In "Number of nodes for each cluster type", for the Hadoop type, you call the nodes 'data' in the type definition, but 'worker' in the diagram. Also note in https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-high-availability-linux where you define the type of nodes in Hadoop, you do not refer to data nodes at all, only workers.

---
#### Document details

⚠ *Do not edit this section. It i

[2019-02-18 11:15] jakaruna-MSFT commented on #25151
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 11:19] YutongTie-MSFT commented on #24842
@wolfma61 Hi Wolfgang, do we have any sample or document for Web API? I can not find any under Azure doc repo.

[2019-02-18 11:21] mike-urnun-msft commented on #24978
@arunbethini Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-18 11:21] #24978 closed

[2019-02-18 11:22] SumanthMarigowda-MSFT commented on #25173
@BartVanBerkel Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-18 11:26] SumanthMarigowda-MSFT commented on #25171
@BartVanBerkel Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-18 11:31] ampac28 opened #25179 "Need more info routing message to both build in endpoint & Custom endpoint"
"To deliver messages to the built-in endpoint as well as to a custom endpoint, add a route that sends messages to the events endpoint."

Can you please little elaborate like what you mean by saying "events endpoint"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb7f4d6-d50b-d5b3-71f0-e935b6a6f315
* Version Independen

[2019-02-18 11:33] dominicbetts commented on #24599
Hi @stansw - thanks for getting in touch. It looks like the links are working again and you should now be able to download the template.
I'm going to go ahead and close this issue, but if you have further questions please reopen it.
Dominic

#please-close

[2019-02-18 11:38] ITEMuyideen opened #25180 "Add Failover Clustering features to both SQL Server VMs"
I am having problems to login via rdp with corp/install on the sql server vms the error is "the credentials that were used to connect to ....... did not work. Please enter new credentials, but I added Corp\Install as administrator on the vms and I can see them on it, is there any further test I can do. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-02-18 11:41] timmkrause commented on #25036
I don't think that is a good idea. I should deploy a package where my `.csproj` and `.cs` files are included? What if `Debug` **and** `Release` folders are part of the package in a local scenario?

I will go with `/t:Publish /p:PublishDir="$(Build.ArtifactStagingDirectory)/MyFunction"` and zipping that folder within a build pipeline step. For me it feels like more control and a cleaner ZIP file.

[2019-02-18 11:46] colinrippeyfinarne commented on #24862
@ManojReddy-MSFT I have tried to re-create this scenario this morning and it is now working! So I am able to register as a facebook user - consent to the app in facebook, and then when I get navigated to the user attributes screen the Continue button is enabled.

Perhaps a transient issue was at play "somewhere" but my issue has gone away.

[2019-02-18 11:50] ManojReddy-MSFT commented on #25026
@mcurko In this context (user) the command  should definitely create an access policy definitely. Can you confirm that it is not creating the access policy when you create a KV ?

[2019-02-18 11:55] cveld commented on #24921
@PramodValavala-MSFT I can confirm that I am using the Durable functions monitoring pattern. For clarity I have set up a repro in the following repo: https://github.com/cveld/Durable-Functions-Monitor-1-sec

[2019-02-18 11:57] mcurko commented on #25026
Yes, you can see that on the 2 images attached above.

[2019-02-18 12:01] dmt87uk commented on #25178
In fact the HBase and Storm diagrams in that section don't match the 'nodes' listing of servers either.

[2019-02-18 12:03] ManojReddy-MSFT commented on #25026
@mcurko I understand. The warning in the previous image states that it is probably created by a service principal.

I will check with couple of other users and will check internally to see if this is a bug.

[2019-02-18 12:07] CHEEKATLAPRADEEP-MSFT commented on #25178
@dmt87uk Worker nodes (also known as data nodes). That’s the reason they are used like wise in description and the diagram. I understand this makes the confusion for the new users. Once you understand [different types of nodes in HDInsight cluster](https://blogs.msdn.microsoft.com/azuredatalake/2017/03/10/nodes-in-hdinsight/) and concepts of [Apache Hadoop](https://en.wikipedia.org/wiki/Apache_Had

[2019-02-18 12:09] KrishnaG-MSFT commented on #25164
@imeya Please use the match condition by setting the value to "#####." and let me know if that doesn't help you. Thanks.

[2019-02-18 12:13] KrishnaG-MSFT commented on #25168
@nelisbijl Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-18 12:17] letmaik opened #25181 "Clarify authentication and keys"
This article starts with:

The article describes *only* how to setup SSL, but it doesn't say how key-based authentication works and I have a feeling it confuses the SSL certificate private key (in the article only named "key") with the primary/secondary [authentication keys](https://docs.microsoft.com/en-gb/python/api/azureml-core/azureml.core.webservice.webservice.webservice?view=azure-ml-py#get-

[2019-02-18 12:29] ITEMuyideen commented on #25180
The Account was disabled , so I had to enable it. Thank you

[2019-02-18 12:29] #25180 closed

[2019-02-18 12:34] KrishnaG-MSFT commented on #25170
@pdhimate May I know at what step in the provided article you are receiving the error ?

Generally you get that error (Run Login-AzureRmAccount to login) if you didn't have below code in the runbook.

(Pre-requisite to run below commands in a runbook under an Azure Automation account is to configure your Automation account as RunAs account)
[code]

Or else generally you get that error (Run Login-A

[2019-02-18 12:36] bioslikk commented on #25049
I have the same problem when trying to create a AKS cluster.
Is there a workaround in the meanwhile ?

[2019-02-18 12:41] yieniggu commented on #25154
Indeed that's the related issue, but as you can see it seems that the repo is dead and no one is giving suppport for the problems...

[2019-02-18 12:44] CeciAc opened #25183 "404 link"
@frankpettersson commented on [Fri Feb 15 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/139)

[Skriv din feedback här]
404 link https://msdn.microsoft.com/library/azure/hh969248.aspx

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: b15f287d-ebe7-d328-9ad6-f617f34e58e3
* Version Independent I

[2019-02-18 12:45] CeciAc commented on #25183
Hi team,
this link leads to a 404 page and therefore replicates the error in the localized versions of the page
![imagen](https://user-images.githubusercontent.com/26746247/52951978-f95d5b00-3361-11e9-9f87-2bc4373f3769.png)

[2019-02-18 12:54] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness Your feedback has been shared with the content owner for further review.

[2019-02-18 12:59] SumanthMarigowda-MSFT commented on #23896
@jn-altius Necessary changes has been made and doc has been updated!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 12:59] #23896 closed

[2019-02-18 13:03] SumanthMarigowda-MSFT commented on #24863
@doctordns Doc has been updated with the necessary changes! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 13:03] #24863 closed

[2019-02-18 13:04] mrmueller opened #25184 "Role claim not issued"
Hi,

I just spent some time finding out why my role did not end up in a claim.
Seems like the "value" attribute cannot be "null".

see https://social.msdn.microsoft.com/Forums/en-US/74e4816b-b812-4cef-b73b-eb21e43bf27e/azure-ad-attribute-userassignedroles-not-being-sent-in-saml-response?forum=WindowsAzureAD

In hindsight the documentation seems clear, however when i first read it, I did not catch

[2019-02-18 13:06] lightupdifire opened #25185 "Device Compliance"
Hello,

Would be very useful to query device compliance status by Dynamic groups.
User vote created, but maybe, there is a way already?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group m

[2019-02-18 13:11] TomArcher commented on #20354
@DiegoRamirez-MSFT We are awaiting a new release of the plugin. That is supposed to happen sometime this month. Until then, there's nothing we can do.

[2019-02-18 13:11] CeciAc opened #25186 "txt post typo"
@frankpettersson commented on [Fri Feb 15 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/138)

before "@" line 2 there's a ´

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Självst

[2019-02-18 13:12] CeciAc commented on #25186
Hi team,
the user is reporting a typo inside the code example

![imagen](https://user-images.githubusercontent.com/26746247/52953244-b309fb00-3365-11e9-878d-0d66818b9790.png)

[2019-02-18 13:16] DashleenBhandari-MSFT commented on #25158
@dcbrown16 , yes SSL certificates is supported for both types of Functions. The procedure remains same as described on the page.

[2019-02-18 13:19] CiciPang opened #25187 "Update document require"
Dear experts,
It seems like that information is a little bit out of date. The organization account now can go to Azure Portal and click account name &gt; View account from the upright to access the https://account.activedirectory.windowsazure.com/r/#/profile.
Could you update it? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-02-18 13:38] jakaruna-MSFT commented on #25126
@cbailiss All Burstable VM's get a initial credit and that will not expire automatically. Like you guessed, That's like earned credit and  decreases when usage is above the base performance.
I will check about the "sum" in the chart and post a comment.

[2019-02-18 13:39] Ayanmullick commented on #23948
@angoyal-msft ,  But AKV supports keys in the below formats only

- JSON Web Key (JWK)
- JSON Web Encryption (JWE)
- JSON Web Algorithms (JWA)
- JSON Web Signature (JWS)

https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#azure-key-vault

Is there any documentation on how to do BYOK TDE on AzSQL with the Win CA generated key?

[2019-02-18 13:43] jakaruna-MSFT commented on #25125
Cpu credits are calculated per minute. But i am not sure about how(average or max) that cpu utilization is calculated for that minute. I think it will use Azure monitor metrics in the backend.
I will get more information from the product team.

[2019-02-18 13:49] diberry commented on #22964
@dcbrown16 Yes, your summary is correct. The system finds the queries but there is a human accept/reject step to improve the system. I'll work to clarify that in the docs.

[2019-02-18 13:56] vdjundjenac opened #25190 "Identical schemas"
It seems that both schemas (pictures) are identical whereas in the text it references one as active/active and other active/passive. Probably the pictures should be the same however shouldn't the text coloring be appropriate (active/passive)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a92416d-c7fb-fb7e-8a38-726a63

[2019-02-18 14:06] jakaruna-MSFT commented on #25151
@kazshi Document mentions that update happens at the provisioning time. So i think Agent will not be upgraded for the running vms automatically. For custom images, upgrades are manual.

@roiyz Please provide your comments.

[2019-02-18 14:10] Ashera138 opened #25192 "Minor typo"
One of the notes states: "Granting permissions make take a few minutes to fully process."

The word 'make' should be 'may'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API in Azure Active Dir

[2019-02-18 14:18] jakaruna-MSFT commented on #25153
@kazshi Thank you very much for reporting it.

@roiyz Please take care of this issue.

[2019-02-18 14:18] eaidland commented on #16061
If you deploy an arm template with metric alerts, then disable them in the portal and redeploy you'll get an internal server error.

[2019-02-18 14:18] msjuergent commented on #25190
Could you please change

## Active/passive deployment
In cases where you are not finding an acceptable delta between the network latency within one zone and cross zone network traffic, the architecture you can deploy has an active/passive character from the SAP application layer point of view. You define an 'active' zone, which is the zone you deploy the complete application layer into and where y

[2019-02-18 14:19] demetrioi commented on #14410
Hi @dday515

"The driver team should provide a new connector in March with all the issues resolved. "

https://social.msdn.microsoft.com/Forums/en-US/62842ed9-43ed-432d-9f0a-9979ede949ec/is-there-any-rows-limit-on-jira-connector-platformapiissues-entity?forum=AzureDataFactory

[2019-02-18 14:21] sergaz-msft commented on #25179
Thanks for your feedback @ampac28 . By events endpoint we mean the name of the Buil-in endpoint when you are adding a route:

![image](https://user-images.githubusercontent.com/22173500/52956888-51a75380-3388-11e9-87ec-abb2009df492.png)

This is, if you need to send messages both to the default endpoint and any other endpoint you need to be sure that you select both. Since when you select a custom

[2019-02-18 14:27] Ilanak opened #25193 "Result object type"
Hi,

Where can I find the definition of the transcription result?
I've looked for it in Microsoft.CognitiveServices.Speech dll, but I can't find any object containing this kind of object:

"AudioFileResults": [
		{
			"AudioFileName": "Channel.0.wav",
			"SegmentResults": [
				{
					"RecognitionStatus": "Success",
					"Offset": 12100000,
					"Duration": 78400000,
					"NBest": [
						{

[2019-02-18 14:27] TBurda commented on #21694
Hi,
When will Windows server 2019 be support in azure container instances?

Thank you for answer.

[2019-02-18 14:29] TBurda opened #25194 "ACI Create - Base image windows server core 2019"
Hi,
Cannot create containers, when base image is Windows Server core 2019. When will Windows server 2019 be support in azure container instances?

Thank you for answer.

[2019-02-18 15:01] CeciAc opened #25196 "run.log() is not working inside of loops"
@DeMoriarty commented on [Mon Feb 18 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/361)

for i in range(100):
    run.log('loss',loss)
this doesn't work, however,
run.log('Final loss', final_loss)
works properly.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-7107

[2019-02-18 15:03] CeciAc commented on #25196
Hi team,
I moving this here since the user is making a suggestion on the code
best

[2019-02-18 15:18] JozoSlejko commented on #23541
I found my answer in this article https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet
App Service v1 integration does not support it, v2 integration does.

[2019-02-18 15:21] CeciAc opened #25197 "GPO path to policy is wrong"
@DirkRinge commented on [Mon Feb 18 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/259)

In the documentation above it is state that the policy can be found at: Computer Configuration &gt; Policies &gt; Administrative Templates &gt; Windows Components &gt; Workplace Join &gt; Automatically workplace join client computers.
But at least with 1809 the path is Computer Configuration &g

[2019-02-18 15:24] AshokPeddakotla-MSFT commented on #24349
@mmjensen Since we did not hear back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-18 15:24] #24349 closed

[2019-02-18 15:25] CeciAc commented on #25197
Hi team, moving this here since the user is referring to the original documentation (which replicates in the other languages()

[2019-02-18 15:34] billmath commented on #24368
Yes, you can see the supported configurations here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-hybrid-identity-design-considerations-tools-comparison#on-premises-to-cloud-synchronization

Currently the only supported connectors are the Azure AD connector and the generic LDAP connector under specific conditions.  Additional connectors are planned but are currently only sup

[2019-02-18 15:35] billmath commented on #24368
#please-close

[2019-02-18 15:35] DCtheGeek commented on #25029
Thanks for submitting the fix for this @Danrawlings-msft !

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-18 15:37] billmath commented on #23942
@IanYates Thank you for the feedback.
@neeleshray, yes it could but you would need to contact the author of the blog.  I don't have any way of directly updating this.  Thanks!

#please-close

[2019-02-18 15:39] billmath commented on #23137
@anwarmahmood1 Thank you for the feedback.  Yes, this is currently on our radar and will be updated as soon.   Thanks!

#please-close

[2019-02-18 15:39] billmath commented on #22364
Verifying with engineering

[2019-02-18 15:42] hurtn opened #25199 "INCORRECT ROLE"
Could not find the Blob Storage Contributor Role. The Azure Databricks documentation https://docs.databricks.com/spark/latest/data-sources/azure/azure-datalake-gen2.html#azure-data-lake-storage-gen2 refers to the Storage Blob Data Contributor role which works perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32

[2019-02-18 15:48] jakaruna-MSFT commented on #25165
@eliasbats Accessing a VM Console (GUI) is not possible now.
But we have features for troubleshooting a VM from portal.

- Accessing boot diagnostics and screenshot the vm ([link](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/boot-diagnostics))
- [serial console](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-windows)

If you are lo

[2019-02-18 15:50] DCtheGeek commented on #25164
@imeya In addition to the correct answer from @KrishnaG-MSFT, we have a Sample to show what this could look like: https://docs.microsoft.com/azure/governance/policy/samples/allow-multiple-name-patterns

Also, the new **value** accessor could be used to check for length of the name, test various parts with split, and more.  You can read about **value** here: https://docs.microsoft.com/azure/governa

[2019-02-18 16:07] billmath commented on #21624
@TroyMartinNet Thank you for the feedback.  I have created a work item to investigate adding this in a future update.  Unfortunately, because priorities shift around, I can't commit to exactly when this might be addressed.  At this point, we can go ahead and close this issue and I will re-open it and reply once I have an update.  Thanks!

#please-close

[2019-02-18 16:07] jakaruna-MSFT commented on #25095
@ams0 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-18 16:08] LorenzPensaert commented on #23213
Can't add 'Durable Azure Function' anymore once selecting 'Add new Azure Function', any reason why this is missing?

[2019-02-18 16:25] faceless7171 commented on #17367
@jason-j-MSFT there is open issue on the feedback portal:
https://feedback.azure.com/forums/270578-data-factory/suggestions/34786936-adf-web-activity-posting-json-content-with-array
Also on the Web activity documentation page I can see: "JSON array - Supported
(At present, JSON arrays don't work as a result of a bug. A fix is in progress.) - Unsupported"
https://docs.microsoft.com/en-us/azure/data

[2019-02-18 16:26] snehithm commented on #22105
@nhart12, could you share the ARM template and parameter files with me off-line at snmuvva AT Microsoft DOT com?

[2019-02-18 16:31] mack0196 opened #25201 "CosmosDB Throttling Condition"
I have 2000 RU/s set for my single Cosmos DB collection. I have spikes of activity every 3 minutes. I am using the .NET client, so I get the automatic retry using 429 response headers when Cosmos is throttling. However I don't understand how Cosmos decided to throttle.

What period of time is considered for RU consumption vs RU settings when starting and ending throttling?

---
#### Document Detai

[2019-02-18 16:32] KrishnaG-MSFT commented on #25175
@pauska Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-18 16:34] PramodValavala-MSFT commented on #23213
@LorenzPensaert You should see `Durable Functions Orchestration` now as mentioned in this doc which is a complete template for getting started with durable functions.

[2019-02-18 16:34] #23213 closed

[2019-02-18 16:37] RohitMungi-MSFT commented on #25181
@letmaik Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 16:41] RohitMungi-MSFT commented on #25193
@Ilanak  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 16:44] RohitMungi-MSFT commented on #25196
#25163

[2019-02-18 16:45] DCtheGeek commented on #5759
@MicrosoftDocs/azure-cxp-triage Looks like this should be closed. #please-close

[2019-02-18 16:46] BharathNimmala-MSFT commented on #5759
Thank you David.

[2019-02-18 16:46] #5759 closed

[2019-02-18 16:48] RohitMungi-MSFT commented on #25163
#25196
Updated a duplicate issue for reference.

[2019-02-18 16:51] YASWANTHM-MSFT commented on #25199
@hurtn, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-18 16:52] RohitMungi-MSFT commented on #25196
We will now proceed to close this thread as this is a duplicate. If there are further questions regarding this matter, please check the [referenced issue](https://github.com/MicrosoftDocs/azure-docs/issues/25163) and comment @RohitMungi-MSFT and we will gladly continue the discussion.

[2019-02-18 16:52] #25196 closed

[2019-02-18 16:56] sirdank opened #25202 "Managed Service Identity"
Does mesh actually support MSI? az mesh identity appears not to exist and I don't see anything in the portal for configuring it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 456baee5-dee3-2217-cde6-ac2cd5f6c084
* Version Independent ID: b717744d-01e4-aa6b-70ce-7be23833fba5
* Content: [Storing and Using Azure Service

[2019-02-18 17:09] AshokPeddakotla-MSFT commented on #25090
@KingdomOfEnds We hope the above reply answers your query. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-18 17:09] #25090 closed

[2019-02-18 17:17] sirdank opened #25203 "Application logs"
"Application logs - these are defined as the logs from your containerized applications, based on how you have instrumented your application (e.g. docker logs)"

What exactly does this mean? "Based on how you have instrumented your application" is especially unclear to me. Is this identical to the docker logs for each container? Is it the System.Diagnostics.Trace output? Unhandled exceptions only?

[2019-02-18 17:25] letmaik opened #25204 "Identical links"
The links for "Configure an AKS cluster to use pod managed identities" and "Assign and use pod managed identities in your code" point to the same URL. This is a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1d6d66-150a-fb76-8fca-ef36487acbb7
* Version Independent ID: aa5453d8-6fdd-fbb2-446f-ea63e7ee09

[2019-02-18 17:26] stansw commented on #24599
I verified the links are live again. Thank you @dominicbetts!

[2019-02-18 17:26] #24599 closed

[2019-02-18 17:34] mjalas opened #25205 "Should owner and path be separate list items under write_files"
Should owner and path be in different list item in the example below? Are owner, path and content keys not supposed to be part of one object?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3da20d-57c3-1dcf-ada6-e9ded556e028
* Version Independent ID: bc6f80e2-38c9-aafe-cbe9-2eaf94117474
* Content: [Tutorial - C

[2019-02-18 17:34] cainellinFTC opened #25206 "AADB2C90037: An error occurred while processing the request."
I followed yours instructions, by running the policy with local login (B2C user) on https://jwt.ms/ i see the statements,
with the AD login this error appears on the site https://jwt.ms/

Can you help me ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version Independent ID: 76f7

[2019-02-18 17:35] heliomgg opened #25207 "Claims token endpoint called by GET and access token sent as query string parameter"
Hi,
I am creating a new Technical Profile using protocol OAuth2.
And I'm configuring the metadata item HttpBinding as "POST". This documentation says that this value sets "The expected HTTP binding to the access token and claims token endpoints.".
However, the Claims token endpoint is being called by GET, not POST. And the access token is being sent to the claims endpoint as a query string paramet

[2019-02-18 17:39] ptwentypt opened #25208 "APP Password delay (from creation to usability)"
We have been experiencing a delay of 10 to 15 minutes from the time we create a new APP password in O365 until it is usable by the user. Is this the expected behavior?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a

[2019-02-18 17:51] KingdomOfEnds commented on #25088
@robinsh - Thanks! I appreciate it very much!

[2019-02-18 17:52] KingdomOfEnds commented on #25090
@robinsh - Thanks, super helpful!

[2019-02-18 18:05] MicahMcKittrick-MSFT commented on #25180
@ITEMuyideen thanks for reaching out and for closing out the issue.

[2019-02-18 18:05] MicahMcKittrick-MSFT commented on #25190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:06] MicahMcKittrick-MSFT commented on #25202
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 18:06] nhart12 commented on #22105
@snehithm I've sent the requested files

[2019-02-18 18:06] MicahMcKittrick-MSFT commented on #25203
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 18:07] MicahMcKittrick-MSFT commented on #25204
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:07] MicahMcKittrick-MSFT commented on #25205
Thanks for the question! We are investigating and will update you shortly.

[2019-02-18 18:09] JozoSlejko opened #25209 "Enable service endpoints"
"Once configured to be bound to at least one virtual network subnet service endpoint, the respective Event Hubs namespace no longer accepts traffic from anywhere but authorized subnets in virtual networks."
This statement is not true in all cases.
Service endpoint combined with IP firewall can allow access to Event Hub public endpoint. Enabling service endpoint allows access from specific vNet sub

[2019-02-18 18:11] MicahMcKittrick-MSFT commented on #25162
@balakrishna222111 please share the document you are following so we can better assist.

[2019-02-18 18:11] MicahMcKittrick-MSFT commented on #25194
@TBurda can you please provide the document you are following so we can better assist?

[2019-02-18 18:20] BryanTrach-MSFT commented on #25201
@mack0196 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:22] MicahMcKittrick-MSFT commented on #25097
Thanks for the update @gperrego

I will assign to the content author to see if we can make it easier to find

[2019-02-18 18:23] MicahMcKittrick-MSFT commented on #25098
@wasabii I will assign to the content authors to review and see what we can do.

[2019-02-18 18:23] BryanTrach-MSFT commented on #25172
@TWolverson Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:24] BryanTrach-MSFT commented on #25184
@mrmueller Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:25] BryanTrach-MSFT commented on #25185
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:26] BryanTrach-MSFT commented on #25187
@CiciPang Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:27] BryanTrach-MSFT commented on #25192
@Ashera138 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:29] BryanTrach-MSFT commented on #25197
@DirkRinge Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:30] BryanTrach-MSFT commented on #25186
@frankpettersson Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:32] BryanTrach-MSFT commented on #25183
@frankpettersson Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 18:37] orspod commented on #25084
@pharring, thank you for the fixes. You are correct. I created PR#66800 to fix the tutorial.

[2019-02-18 18:40] ggailey777 commented on #25036
@timmkrause you are correct that for a compiled project like C#, the "project root" folder is actually generated in the `bin/release` folder, and is documented [here](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-class-library#functions-class-library-project).
![image](https://user-images.githubusercontent.com/1388263/52970395-7b508280-3368-11e9-9b72-90f7386ae13a.png)
This arti

[2019-02-18 18:41] ggailey777 commented on #25036
@KetanChawda-MSFT We can #please-close this comment, unless @timmkrause has any further suggestions to improve this article. Thanks Tim!

[2019-02-18 18:42] bgeudens opened #25210 "System.ArgumentException"
Hello,

I follow the instructions on https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-csharp. I try to run the device-local proxy on my Raspberry Pi 3 Model B. Because the .NET core SDK does not run on the Raspberry, I compile iot-hub/Quickstarts/device-streams-proxy/device/ on my laptop, copy the dll and related files to my Raspberry, and then run:

dotnet ./DeviceLo

[2019-02-18 18:42] orspod commented on #25084
#please-close

[2019-02-18 18:44] timmkrause commented on #25036
Sounds good. To me it would make sense to add these two links (maybe other scenarios as well?) to `articles/azure-functions/deployment-zip-push.md` so that users are aware of **what** to "Zip deploy".

[2019-02-18 19:16] BryanTrach-MSFT commented on #25206
@cainellinFTC Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:17] BryanTrach-MSFT commented on #25207
@heliomgg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:20] BryanTrach-MSFT commented on #25210
@bgeudens  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:21] BryanTrach-MSFT commented on #25208
@ptwentypt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:22] bgeudens commented on #25210
I just found out that, during public preview, IoT Hub device streams are only available in the Central US and Central US EUAP regions. My hub is in West-Europe. I will try tomorrow with an IoT hub in Central US.

[2019-02-18 19:23] jaredmny opened #25211 "How to edit alert action groups / notifications?"
How does a user edit alert action groups so that notifications/emails can be generated for active alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ad7262-ea2b-b1c2-2e3c-d4303719af05
* Version Independent ID: 59fc39f6-9ce1-6919-0c93-ff202a39a7a8
* Content: [Monitor virtual machine health with Azure Monitor for V

[2019-02-18 19:24] BryanTrach-MSFT commented on #25209
@JozoSlejko Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:27] BryanTrach-MSFT commented on #25211
@jaredmny Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-18 19:29] BryanTrach-MSFT commented on #13604
@jajens We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:29] #13604 closed

[2019-02-18 19:30] BryanTrach-MSFT commented on #19764
@ediazrod We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:30] #19764 closed

[2019-02-18 19:31] BryanTrach-MSFT commented on #20467
@manchejs0 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:31] #20467 closed

[2019-02-18 19:31] BryanTrach-MSFT commented on #21624
@TroyMartinNet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:31] #21624 closed

[2019-02-18 19:32] BryanTrach-MSFT commented on #23137
@anwarmahmood1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:32] #23137 closed

[2019-02-18 19:32] BryanTrach-MSFT commented on #23942
@IanYates We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:32] #23942 closed

[2019-02-18 19:33] BryanTrach-MSFT commented on #24368
@amel00 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-02-18 19:33] #24368 closed

[2019-02-18 19:33] BryanTrach-MSFT commented on #25029
@Danrawlings-msft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 19:33] #25029 closed

[2019-02-18 19:40] rolyon commented on #24716
Hi @shraboin
I made the following changes to the docs:
Included DataActions in all the built-in roles list.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
Added a link to the Understand role definitions article, which talks more about DataActions.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
Added a link to Azure Storage security

[2019-02-18 19:40] rolyon commented on #24716
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-02-18 19:44] gregdorian commented on #25074
Thx jakaruna!! you were right!! I was trying to connect as an Oracle user!!!

[2019-02-18 20:04] BharathNimmala-MSFT commented on #24716
Thank you Robert.

[2019-02-18 20:04] #24716 closed

[2019-02-18 20:18] setht2 commented on #25082
Here are the basic steps we performed to get this working:
** Prerequisites
	Install .NET Framework 4.7.2 or later and Azure PowerShell AZ on Batch VMs.
** Create & Export Certificate
	New-SelfSignedCertificate -Type Custom -KeySpec Signature -Subject "CN=AzureBatchCert" -KeyExpor
tPolicy Exportable -HashAlgorithm sha256 -KeyLength 2048 -CertStoreLocation "Cert:\LocalMachine\My" -KeyUsageProperty

[2019-02-18 20:26] sergaz-msft commented on #24895
Hello @Milan991 can you confirm that the error shows when you complete the first step of [Provision graph](https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet#provision-graph) ? This is after running `dotnet run ProvisionSample` ? It looks like a device with the same ID already exists, did you try to remove [clean up resources](https://docs.microsoft.com/en-us/azu

[2019-02-18 20:47] JasonWHowell commented on #25007
@bryanklewis I found the following information from preview timeframe, but I haven't tested it first hand, so the experience could vary in the current version. See if this helps for now:

Dynamic routing means that events read from a single Event Hub can land in different tables in your Kusto cluster.

This requires the following properties to be added to the EventData.Properties bag:
- Table - na

[2019-02-18 20:59] mike-urnun-msft commented on #23541
@JozoSlejko Great to hear that you've located an answer and are now unblocked! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-18 20:59] #23541 closed

[2019-02-18 21:03] branstraub commented on #25104
Any update on this issue?

[2019-02-18 21:58] bgoldman69 commented on #22088
this update seems like it should be complete common sense.  Any chance we can get the product manager to read this thread?

[2019-02-18 22:29] sergaz-msft commented on #25210
Thanks for the feedback @bgeudens. Let us know how it goes and if the issue can be closed. For reference - https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-streams-overview#regional-availability

[2019-02-18 22:43] aleazofeifam commented on #10120
@asmalser-msft do you know if this has been solved or if another workaround would be to do what Erik mentioned in the post above this one?

[2019-02-18 22:48] tplas opened #25214 "Managed Identity access to SQL MI ?"
Is there a version of this article for Azure SQL MI, instead of Azure SQL DB ?  (Cloud Shell commands would be different)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection with man

[2019-02-18 22:55] robertdsmithii opened #25215 "Section seems to have formatting issues."
The following text seems to be missing some HTML info, thus making the font look out of place:

"For VMs that support premium SSDs (DS-series, DSv2-series, and GS-series), we recommend storing TempDB on a disk that supports premium SSDs with read caching enabled. There is one exception to this recommendation; if your TempDB usage is write-intensive, you can achieve higher performance by storing Te

[2019-02-18 23:01] sergaz-msft commented on #24837
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @AshokPeddakotla-MSFT  in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 23:01] #24837 closed

[2019-02-18 23:06] sergaz-msft commented on #25137
Hello @yieniggu I will close this issue as duplicate form the most recent one: https://github.com/MicrosoftDocs/azure-docs/issues/25154 . We will target both issues there or ideally on the https://github.com/Azure-Samples repo.

Thank you!

[2019-02-18 23:06] #25137 closed

[2019-02-18 23:19] sergaz-msft commented on #25154
@yieniggu thank you for your feedback once more. @brendalee will follow-up with you here Azure-Samples/blockchain#146 .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-18 23:19] #25154 closed

[2019-02-19 00:13] viroikhm opened #25216 "Is the upgrade reversible?"
Hi. Can it be reversed back to VM Backup Stack v1 after the upgrade to Instant Restore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore Capability](https://docs.microsoft.com/en-us/azure/

[2019-02-19 00:29] mganeshphani opened #25217 "Associating Server and client App IDs for RBAC enabled cluster"
Following statement:
"Azure AD can only be enabled when you create a new, RBAC-enabled cluster. You can't enable Azure AD on an existing AKS cluster."

makes me believe that if I created a cluster with RBAC Enabled... later I cannot associate Azure AD App ID's with the cluster for authentication.. which is not true, I can still use "az aks update-credentials"

---
#### Document Details

⚠ *Do not

[2019-02-19 00:56] KeiroKamioka0000 opened #25219 "Uplimit of Projects"
Is there are the Up limits of the number of projects, Experiments, Web Services for Microsoft Azure Machine Learning Studio?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea6aa65-3cbb-83d5-0f16-23b58c52cb88
* Version Independent ID: 91fa8a56-cde6-06e2-b1bb-d521a7819c30
* Content: [Manage and request resource

[2019-02-19 01:05] BryanTrach-MSFT commented on #25214
@tplas I am not aware of this doc existing. We have assigned your feedback to the doc author to have them review it and provide feedback.

[2019-02-19 01:06] BryanTrach-MSFT commented on #25215
@robertdsmithii Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 01:09] BryanTrach-MSFT commented on #25216
@viroikhm Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 01:15] BryanTrach-MSFT commented on #25219
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 01:16] BryanTrach-MSFT commented on #25217
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 01:18] navyasric commented on #24807
@PixelStroke Thank you for reporting the issue and providing details. This PR has updated the doc and sample: https://github.com/MicrosoftDocs/azure-docs-pr/pull/66825

[2019-02-19 01:31] KeiroKamioka0000 opened #25220 "Is there are maximum numbers of Web Services can be deployed at time"
Hello, is there are maximum number of Web Services can be deployed at time?

If there is how many is it, does it will total number of deployed Web Services including the classic?

Thanks,

-Keiro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72793e60-5fdd-3769-b1cb-92fa4372cb18
* Version Independent ID: 568055fb-f42c-

[2019-02-19 02:24] MicahMcKittrick-MSFT commented on #25217
@mganeshphani the statement in the doc is correct. You cannot integrate Azure AD login on existing cluster. You can only integrate it and use Azure AD to login on new, RBAC enabled clusters.

https://docs.microsoft.com/en-us/azure/aks/aad-integration?view=azure-cli-latest#access-cluster-with-azure-ad

So if you have a cluster already made you won't be able to follow this doc to get AD login workin

[2019-02-19 02:36] KeiroKamioka0000 opened #25221 "West Europe?"
According from step in this document, it seems like region must be West Europe.
Is my understanding are correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d92f050-73a2-c519-2046-2aba7caeecb0
* Version Independent ID: e0fe7de0-ce70-de87-32c7-fe498552f9be
* Content: [Migrate AWS VMs to Azure with the Azure Site Rec

[2019-02-19 02:55] john-louden opened #25223 "Odd Situation"
Hi,

This is a bit left of field, and the documentation doesn't cover it. How does the S2P solution handle trusted domains? For Example if an on-premise domain has a two way trust with another domain can a user in the secondary domain log on to Azure VPN P2S using the secondary domain creds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-02-19 03:55] ManojReddy-MSFT commented on #23887
@richie1080 We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-19 03:55] #23887 closed

[2019-02-19 03:56] ManojReddy-MSFT commented on #24834
@nkumars We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-19 03:56] #24834 closed

[2019-02-19 03:58] ManojReddy-MSFT commented on #24862
@colinrippeyfinarne I am not sure why the behavior was different. We will now proceed to close this thread. If you have further questions or if you face the issue again, please tag me in the comments and I will gladly continue the conversation.

[2019-02-19 03:58] #24862 closed

[2019-02-19 03:59] KeiroKamioka0000 opened #25225 "Maximum amounts of End Points"
Hello, is there are the maximum amounts of End Points can be made?
Is it same as maximum concurrent calls of 200 ???

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1d268ae-0b44-7cc8-650b-cf16db33ef2a
* Version Independent ID: aa6cdc97-1864-6280-50e4-89b6acf70bdf
* Content: [Create web service endpoints - Azure

[2019-02-19 04:07] RohitMungi-MSFT commented on #25220
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 04:21] mudithaa commented on #25049
I just ran into the same issue when running the command
 az aks create -g my-resource-group-name -n cluster-name

[2019-02-19 04:24] mudithaa commented on #25049
here's the full error
Deployment failed. Correlation ID: 99b9f39c-9883-461b-8414-8e521749631a. resources.DeploymentsClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="DeploymentNotFound" Message="Deployment '03c3b07b-1bd0-4091-9ed7-8fcec61b5cad' could not be found."

[2019-02-19 04:48] ampac28 commented on #25179
@sergaz-msft : In this case do you want me to create one route using build in queue endpoint & one route using custom endpoint. Am I correct ?

My requirement is that we have other routes & multiple consumer groups to our IoT hub based on different consumers & data providers. And one data provider is sending devices telemetry to a particular consumer group and to one logical device in IoT hub.

No

[2019-02-19 04:54] v-maroge opened #25226 "Upgrading tier without down time."
When manually upgrading the tier, will there be any downtime or requirement of stopping the service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40247cfc-6520-b7e5-4dc5-c20cdca4444c
* Version Independent ID: f5b2e751-e1fe-3962-e2ab-fcccb848b43e
* Content: [Azure Notification Hubs: Frequently Asked Questions (FAQs)](

[2019-02-19 05:04] suhuruli commented on #25120
@saifuddin123 , thanks for the issue. We will modify the documentation to have an explicit call out to switch to Linux mode.

[2019-02-19 05:05] Sogup commented on #25216
It is a one directional upgrade. Once upgraded to Instant restore, you cannot go back.

From: viroikhm <notifications@github.com>
Sent: Tuesday, February 19, 2019 5:44 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sonia Gupta <Sonia.Gupta@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Is the upgrade reversible? (#25216)

Hi. Can it be

[2019-02-19 05:10] suhuruli commented on #25133
Can you make sure the ports that you are specifying aren't in use by another process on the host?

[2019-02-19 05:22] SaurabhSharma-MSFT commented on #24946
@mmendozaf We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-19 05:22] #24946 closed

[2019-02-19 05:26] genlin commented on #23599
@dcbrown16, The RBAC permission can manage all resources (including classic) by using Azure portal. You will need to add RBAC owner as co-administrator if you still use the [Azure Service Management PowerShell Module(old PowerShell module for classic resources)](https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/add-azureaccount?view=azuresmps-4.0.0) to manage the resource.

[2019-02-19 05:31] RohitMungi-MSFT commented on #25225
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-19 05:39] aspnet4you opened #25229 ""no such index" error when adding data source"
I followed this documentation and I am able to access Grafana from my desktop browser (after I updated the nsg rules!). When I add data source as described in this post, I get "no such index" error message. Not sure where to look for debugging details. Can someone point me to the right direction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-02-19 05:42] jakaruna-MSFT commented on #25169
@iainfoulds Please take care of this issue.

[2019-02-19 05:43] dcbrown16 commented on #23599
Thanks @genlin! I know ASM is slowly fading out, but can we make that info clear in the doc?

[2019-02-19 05:45] genlin commented on #23599
@dcbrown Sure, I will update the article. Thank you for the feedback!

[2019-02-19 05:48] aspnet4you commented on #25229
![grafana-data-source](https://user-images.githubusercontent.com/33773493/52992683-184a0480-33d7-11e9-8e10-0e438990f983.JPG)

Also, I did not understand this line in Install Elastic search-
sed -i s/#cluster.name:.*/cluster.name:\ grafana/ /etc/elasticsearch/elasticsearch.yml

[2019-02-19 06:12] scegg commented on #24918
I created a test based on https://docs.microsoft.com/en-us/azure/app-service/scripts/powershell-backup-onetime?toc=%2fpowershell%2fmodule%2ftoc.json

I works succeeded (backup status = succeeded) in powershell. But in portal, the backup is displayed as not configured and still has the same problem while creating one.

[2019-02-19 06:12] imeya commented on #25164
@KrishnaG-MSFT, thank you, I will take a try later. just a quick question, if the match condition "#####" can represent "12345aabb", then it means the "match" somehow like "like" operator, right? if yes, what's the difference between them(match and like)?

thanks.

[2019-02-19 06:16] KrishnaG-MSFT commented on #25168
@nelisbijl Yes, the Automation RunAs account does already have the required permission (i.e., permission to manage the Azure resources) that is inherited from Subscription.

To grant the permission if it is missing, follow https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal

Before granting the permission, you may go through https://docs.microsoft.com/en-us/azu

[2019-02-19 06:23] PramodValavala-MSFT commented on #25116
@samaea I'm not sure if Diagnostic Logs do have a limit but Event Hubs surely do which is now 1 MB per event (refer [doc](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas)) _but_ I believe the body of the messages aren't logged as part of the diagnostic logs though they can be included with the `log-to-eventhub` policy.

You are right about the increase in memory consumption whe

[2019-02-19 06:24] genlin commented on #23599
@dcbrown16， I have submitted a pull request to update the article. I will process to close the issue when the pull request is merged. Feel free to reopen this issue if there is any additional comment about this problem. Thanks again for helping to improve our content experience.

[2019-02-19 06:32] yoyogin opened #25230 "Clarification on umask"
The umask description doesn't match the one that is provided in ADLS Gen2 swagger - https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2018-11-09/DataLakeStorage.json

Can you please clarify?

You can find enclosed below the description from swagger for your convenience:

"Optional and only valid if Hierarchical Namespace is

[2019-02-19 06:32] scegg commented on #24918
Currently, on my site and our customer site, this problem cannot be repo any more. This issue can be closed.

Specially, on our customer site, no one make any changes at all. It likes the problem vanished.

[2019-02-19 06:37] KrishnaG-MSFT commented on #25175
@pauska To manage a Azure resource you would require owner or contributor role access. In this case you would require either owner or Log Analytics contributor role access. Please refer https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles for more information.

@bwren Can you please provide your insights on this and update the document with all the required permissions o

[2019-02-19 06:42] ManojReddy-MSFT commented on #25192
@Ashera138 Thanks a lot for reporting this. I have updated the doc and it will be fixed shortly.

[2019-02-19 06:46] JihongL opened #25231 "Stuck IoT Edge Machine Learning Module, module stopped"
Hi, I stuck following document **Deploy Azure Machine Learning as an IoT Edge module**.

I'm following a tutorials of Azure IoT Hub. There is no issue with deploy Function module and ASA module, but ML module.

I noted my status below.

Regards,
Jihong.

**Related Documents**
- [Deploy Azure Machine Learning as an IoT Edge module](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-mac

[2019-02-19 06:47] ManojReddy-MSFT commented on #25187
@CiciPang Thanks for the feedback. The current method described in the article still works. However the new method is much simpler and I have assigned this to the author to update the doc accordingly.

[2019-02-19 06:58] jakaruna-MSFT commented on #25205
@mjalas Thanks for reporting. owner, path and content keys should be part of same object.

[2019-02-19 06:58] #25192 closed

[2019-02-19 07:12] ManojReddy-MSFT commented on #25106
@davidculverson Thanks for reporting this. It looks like @skmkzyk has already submitted a pull request to fix this typo. It will be approved by the author and will be updated shortly.

If you are interested you can submit the PR if you identify any further issues like this. It's only a few steps. I'll walk you through them, and if you don't want to or don't have time, you can go ahead and create a

[2019-02-19 07:12] #25106 closed

[2019-02-19 07:15] pranabdas457 commented on #24842
Hi Wolfgang, any update on this. We need the solution ASAP. Please help

[2019-02-19 07:28] imeya opened #25232 "Regarding the time Period and Frequency."
In this [section](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-overview#alert-rule-with-static-condition-type): it sets the Period to "over last 5 minutes", and set Frequency to "1 minutes".

So the question is that if I create such alert in 2:00 pm, then it only works during 1:55 pm to 2:00 pm. and for actions which are taken after 2:00 pm, this alert does not take

[2019-02-19 07:40] lightupdifire commented on #25185
@BryanTrach-MSFT ,
Thanks! It would be very useful for combination of multiple Conditional Access policies and other rules.

[2019-02-19 07:45] SumanthMarigowda-MSFT commented on #25230
@yoyogin Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-19 07:48] CHEEKATLAPRADEEP-MSFT commented on #24985
@YoDaMa We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:48] #24985 closed

[2019-02-19 07:48] bcube opened #25234 "webApi"
Sorry that I still cannot figure out what should be the value of "webApi". Could you please provide the details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version Independent ID: cefd38c9-5c1e-c381-0549-ded07f752f97
* Content: [Tutorial - Enable authentication in a single-pag

[2019-02-19 07:48] CHEEKATLAPRADEEP-MSFT commented on #25124
@ravikiran-srini We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:48] #25124 closed

[2019-02-19 07:48] CHEEKATLAPRADEEP-MSFT commented on #24971
@ravikiran-srini We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:48] #24971 closed

[2019-02-19 07:49] CHEEKATLAPRADEEP-MSFT commented on #25159
@Adityagrao We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:49] #25159 closed

[2019-02-19 07:49] CHEEKATLAPRADEEP-MSFT commented on #25014
@kanchencostco We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:49] #25014 closed

[2019-02-19 07:49] CHEEKATLAPRADEEP-MSFT commented on #25178
@dmt87uk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-19 07:49] #25178 closed

[2019-02-19 08:18] dcbrown16 commented on #23599
@genlin on a completely different case I'm researching, I just heard that, for example, SQL DB audit log failure notifications are sent to subscription admins and co-admins. This seems like a "hidden" feature of the co-admin setting. Is there any way we could expose more info about that?

[2019-02-19 08:20] Milan991 commented on #24895
@sergaz-msft After I've deleted previously created IoTHub and Device Twin I was able to pass previous error, now everything work fine.
I'm hopping that in the following releases of Device Twin we would be able to select our own already created IoTHub.

I'm closing issue for now with remark for IoTHub configuration feature in future.

[2019-02-19 08:20] #24895 closed

[2019-02-19 08:23] kacperryniec commented on #22700
Hi, I see the issue is still assigned to @daveba...
Any chance to get this looked into reasonably soon? I'd love to use the feature in the project we're involved into but since it does not work properly I might have to look for alternative solutions.

[2019-02-19 08:23] neeleshray commented on #18262
@MikeStephens-MS
Thank you Mike.

[2019-02-19 08:30] SubhashVasarapu-MSFT commented on #25229
@aspnet4you Thanks for your feedback. We are looking in to this issue and will update you as soon as possible.

[2019-02-19 08:31] SubhashVasarapu-MSFT commented on #25223
@john-louden Thanks for your feedback. We are looking into this issue and will update you as soon as possible.

[2019-02-19 08:34] Werner-MOC opened #25236 "-DestinationPath is not a valid parameter for Expand-Archive anymore"
-DestinationPath is not a valid parameter for Expand-Archive anymore.
This works: Expand-Archive .\master.zip -Force

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5a72b51-d148-bade-cc0a-fb42f486a4be
* Version Independent ID: 49f509e7-a6e4-ab65-5405-63bfa5adbe4d
* Content: [Download Azure Stack tools from GitHub](http

[2019-02-19 08:36] femsulu commented on #25221
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-19 08:38] femsulu commented on #24924
@georgewallace can you assist with this pls?

[2019-02-19 08:41] jakaruna-MSFT commented on #25130
@pnkjtr I am able to reproduce the issue.
I think its better to open an issue with the istio.

@iainfoulds you comments please.

[2019-02-19 08:44] SytemKonsult commented on #7222
I registered a new azure free trial account provided my Visa info, then everytime I logged in, I noticed Azure is charging me for more than a dollar. so within the day, I removed my subscription

[2019-02-19 08:45] kazshi commented on #24333
Hi @angoyal-msft , Do you have any updates on this? Thanks.

[2019-02-19 08:47] DashleenBhandari-MSFT commented on #25226
@v-maroge , No there is downtime while upgrading the Notification Hub manually. We do not need to stop the service.

[2019-02-19 08:47] jakaruna-MSFT commented on #25130
Looks like secret is not included in the helm chart purposefully.
https://github.com/istio/istio/issues/9392

[2019-02-19 08:50] jakaruna-MSFT commented on #25074
@CeciAc @gregdorian
I will close this out for now. If you need additional help please let me know and we can reopen and
continue.

[2019-02-19 08:50] #25074 closed

[2019-02-19 08:58] erich-wang commented on #23411
@jdiazfernandez, sorry for late response. What is your setting "Language for non-Unicode programs" in control panel? I guess your're using some language other than "English(United States)", please change to "English(United States)". Meanwhile I'm checking if anything I could do from my side.

[2019-02-19 09:03] KetanChawda-MSFT commented on #25036
@timmkrause  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 09:03] #25036 closed

[2019-02-19 09:04] KetanChawda-MSFT commented on #24973
@StingyJack We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-19 09:04] #24973 closed

[2019-02-19 09:05] AjayKumar-MSFT commented on #25102
@kvenkazure, The document has been updated . We will close this out, but if you feel you need more information please just let us know. Thanks again for raising this question.

[2019-02-19 09:05] #25102 closed

[2019-02-19 09:06] rayne-wiselman commented on #12387
@gmoed Hi, the requirement for Azure VM internet access is documented here - https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-vms-prepare#prerequisites

Here's what I got from the team: YFor IaaS VM backup, internet access is needed for control commands only but for SQL backup, the back data also needs internet access.

[2019-02-19 09:14] philipverlinden opened #25237 "Dyanmics CRM Connector and SSIS-Runtime"
Can the Dynamics CRM connector also be used in SSIS-Runtime flows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data from and to Dynamics CRM or Dynamics 365 (Common Data Service) by using Azure Data F

[2019-02-19 09:16] stevehurcombe opened #25238 "Do I need to worry about deleting partitions?"
I've chosen UserId as a partition key.
Therefore if a user deletes their account, and I've deleted all their documents, if I've read this correctly, I don't need to worry about deleting the partition (key).
It would be great if the documentation could clarify that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da32a6

[2019-02-19 09:27] shrivara opened #25239 "Cannot create cluster using azure-cli with --vnet-subnet-id flag"
Attempting to create a cluster with the command provided in the docs with `--vnet-subnet-id` flag results in `No registered resource provider found for location 'westus2' and API version '2018-01-01-preview' for type 'virtualNetworks'` failure:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d

[2019-02-19 09:35] nkumars commented on #24834
@ManojReddy-MSFT , I cracked it, the issue was in the details provided in the document.

It states as follows:
"In Valid OAuth redirect URIs, enter
https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp
..."

Actually, it is suppose to be as follows:
"In Valid OAuth redirect URIs, enter
**https://login.microsoftonline.com/your-tenant-name.onmicrosoft.com/oauth2/auth

[2019-02-19 09:35] raghavan20 commented on #23584
I have one device running a module say A which was restarted 30 mins ago. the module is coded with logic to report runtime information (stats, last encountered error) using `reported` properties. but when i looked at module twin, it had old runtime information indicating that it did not get updated for a long time.

last reported message from module on the device:
[code]

last seen module twin fro

[2019-02-19 09:35] rayne-wiselman commented on #22169
@happyadam73 Hi, for Azure VMs we use SSE to encrypt data at rest, and send it across HTTPS.
-	We support backup for IaaS VMs encrypted at rest with ADE (data + OS)
-	We don’t currently support client-side encryption performed outside Azure
-	We don’t currently integrate with SQL encryption.
 I'll add this to the documentation. Thanks!

[2019-02-19 09:37] CHEEKATLAPRADEEP-MSFT commented on #25237
@philipverlinden From the same document: It states as
"When you copy data into Dynamics, the default Azure Integration Runtime can't be used to execute copy. In other words, if your source linked service doesn't have a specified integration runtime, explicitly create an Azure Integration Runtime with a location near your Dynamics instance. Associate it in the Dynamics linked service as connectVia

[2019-02-19 09:41] abhishek-kumar-mishra opened #25240 "Will the request be sent to VM which is down in case of HA configuration?"
If I have the same hybrid connection configured in 2 VMs (HA scenario) and one of the VMs (VM1) goes down suddenly. Will the subsequent requests be sent to the VM (VM2) until VM1 is up again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent ID: 516bc8a7-d927-d080

[2019-02-19 09:41] ManojReddy-MSFT commented on #24834
@nkumars I understand that adding "https://login.microsoftonline.com/your-tenant-name.onmicrosoft.com/oauth2/authresp" probably fixed the issue in your sceanrio.

However "https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp" is also valid and recommended redirect URL. b2clogin.com is explicitly used in b2c workloads and we recommend using b2clogin.com. This is ex

[2019-02-19 09:42] PramodValavala-MSFT commented on #25116
@samaea We are assigning this issue to the content author to review and update accordingly.

[2019-02-19 09:44] vijay-agrawal opened #25241 "public_ip_address_allocation is deprecated - update the snippet"
Gives warning Warning: azurerm_public_ip.myterraformpublicip: "public_ip_address_allocation": [DEPRECATED] this property has been deprecated in favor of `allocation_method` to better match the api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc

[2019-02-19 09:55] MegoCs commented on #21211
i am having an issue related to that point i have created the function app from Visual studio.
then deployed it to Azure.deployment is done.
but when i open the function it gives an error panel says
"Function (SmsQueueReader) Error: The binding type(s) 'serviceBusTrigger' are not registered. Please ensure the type is correct and the binding extension is installed."
it is working locally within vis

[2019-02-19 09:56] DashleenBhandari-MSFT commented on #25240
@abhishek-kumar-mishra , yes all the subsequent requests will be sent to the VM which is up and running.
https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections#redundancy

[2019-02-19 10:00] angoyal-msft commented on #25238
@stevehurcombe
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-19 10:03] nujiel commented on #21049
We are using it on a Ubuntu 16.04.4 LTS and it works fine.

[2019-02-19 10:17] gitathrun opened #25242 "The dockerfile information about the base docker image"
Hi, try to get some information about the latest base docker image of
CPU: mcr.microsoft.com/azureml/base:0.2.1
GPU: mcr.microsoft.com/azureml/base-gpu:0.2.1

But it is just redirect to ACR homepage without any detail information, currently, I only know the GPU base docker image has CUDA 10.

Is it possible to have some page that is able to show us how the base image is built? such as its dockerfi

[2019-02-19 10:36] iAmoric commented on #17737
Sorry to reopen this issue.
I have the same problem:

But I cannot install/run azure-cli on my pi (installed from apt):

I'm also working on raspberry pi (Raspbian-stretch) and I have docker, python, pip installed.

Any idea ?

[2019-02-19 10:44] squasta opened #25244 "Line 8 of AZ CLI script generate an error"
tested on WSL with AZ CLI 2.0.58
following command crashes :
read SP_ID &lt;&lt;&lt; $(az ad sp create-for-rbac --password $SP_PASSWORD --skip-assignment --query [appId] -o tsv)

I changed this command to the following that works better :
read SP_ID=$(az ad sp create-for-rbac --password $SP_PASSWORD --skip-assignment --query [appId] -o tsv)

---
#### Document Details

⚠ *Do not edit this section.

[2019-02-19 10:56] blueelvis opened #25246 "Is there a limit on the number of secrets/certificates/keys which can be stored in a single Key Vault?"
Hi,

Is there a limit on the number of secrets/certificates/keys which can be stored in a single Key Vault? Also, what is the number that should be stored at max as per Microsoft for optimum performance.

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b3e7270-ab3a-eff5-899f-f22bc45e6551
* Version Indepe

[2019-02-19 10:58] #25205 closed

[2019-02-19 11:03] abhishek-kumar-mishra commented on #25240
Thanks for the reply. I saw that redundancy thing but as it talks about randomly assigning the requests, I got confused.

[2019-02-19 11:05] GuyHarwood opened #25247 "Node JS compatability"
Does this work for all flavours of app service?

i am using and specifically interested in support for...

-  Azure Functions v2 with Node JS
- Web App for Containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Cont

[2019-02-19 11:08] DashleenBhandari-MSFT commented on #24925
@cyau73 Since I have not heard back from you, I am closing this issue.
If you need any further assistance feel free to re-open the issue.

[2019-02-19 11:08] #24925 closed

[2019-02-19 11:19] AllenVisser opened #25248 "Log Analytics Workspace Pricing Tier daily cap"
Agent not responsive or missing ID:
Could also be when the Log Analytic Workspace has reached its daily cap? When on an OMS pricing Tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd031e3-d36b-dae2-1ddc-f12439563545
* Version Independent ID: 836c4826-05c8-3af8-30e8-ff67552ea958
* Content: [Azure Security Center T

[2019-02-19 11:34] shashishailaj commented on #22700
@arluca @priyamohanram Could one of you please update this thread as to when the article can be updated ?

[2019-02-19 11:38] phill-holland commented on #25049
I am getting the same error too.  This is my first time experimenting with AKS, but I was just following the instructions from https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/create-cluster-cloud-shell (the link was from visual studio which was shown during the process of adding orchestration)

[2019-02-19 11:40] bioslikk commented on #25049
The current workaround is to change the location from WestEurope to another location like 'westus'. This solved it for now.

[2019-02-19 11:41] jdiazfernandez commented on #23411
@erich-wang The problem was solved when I restarted. Thank you a lot.

I'd like also to highlight that,  when you try to 'Set the IoT Edge device connection String', it is necessary to execute VS2017 as administrator because if you execute VS2017 without administrator permission then you obtain the following error :

iotedgehubdev setup -c HostName=myIoTHubTutorial.azure-devices.net;DeviceId=myEdg

[2019-02-19 11:44] hemantpro opened #25249 "ExpressRoute for AzureAD"
Good document, can we have same kind of documentation for Azure AD or if it is available then please attach a link...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5eca587-c07b-3251-3ed5-e3c540548f2d
* Version Independent ID: 176cbf35-22fd-3770-ebb3-7547a9eef2b2
* Content: [Prerequisites - ExpressRoute : Azure](https

[2019-02-19 11:48] nkumars opened #25250 "Additional claims for all users signing from different IP's via B2C Ad"
I have a requirement, wherein I provide multiple IP's (Identity Providers) to login with and after successful authentication, I must get additional claims to my application that are only in B2C AD. Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent

[2019-02-19 11:57] DashleenBhandari-MSFT commented on #25005
@batizar If there are no further questions, can I go ahead and close the issue?

[2019-02-19 12:00] simisoz commented on #25049
I also got the same error all day long.

[2019-02-19 12:06] phill-holland commented on #25049
I tried to change the location from WestEurope to EastUS and I still get the same error.  This is after I deleted the new group and new aks, and started from scratch.

[2019-02-19 12:08] bioslikk commented on #25049
Changing it to 'westus' solved it for me, can you use this location instead ?

[2019-02-19 12:09] sergaz-msft commented on #24358
Hello @TwoPatient can you confirm if you are following a specific doc for that? If not what is the SDK you are using to do it? I will redirect to the correct repo where you can ask the question and get support from our development team. Thank you!

[2019-02-19 12:33] KrishnaG-MSFT commented on #25232
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-19 12:35] bgeudens commented on #25210
You can close the issue. It works against an IoT hub in Central US.

Kind regards

[2019-02-19 12:35] #25210 closed

[2019-02-19 12:46] abhishek-kumar-mishra commented on #25240
Hey @DashleenBhandari-MSFT, We just tried this but for us, when we shutdown the 1st VM, the subsequent calls are failing and maybe not getting redirected to the 2nd VM.
We have a SOAP service in the VMs that we are trying to call from a wcf service hosted in Azure app service.
When the 1st VM is up the requests gets processed successfully, but we get the following message when we stop the it, inst

[2019-02-19 12:48] sergaz-msft commented on #23167
@kgremban , @howlin0811 can this issue be now closed? Thank you.

[2019-02-19 12:51] sergaz-msft commented on #23264
@kgremban did we acknowledged @djaus2 suggestions and will consider them for the next update to the doc?

[2019-02-19 12:54] djaus2 commented on #23264
Antonio, thx for the follow up.

[2019-02-19 12:57] phill-holland commented on #25049
Nope, still didn't work.  I was hesitant to try 'westus' originally because in the link that wasn't one of the location options;

"First, create the resource group. Use one of the currently supported regions (EastUS, EastUS2, CentralUS, WestUS2, WestEurope, SoutheastAsia, CanadaCentral, or CanadaEast)."

[2019-02-19 12:59] SubhashVasarapu-MSFT commented on #25236
@Werner-MOC Thanks for your feedback.We are investing on this and will update you as soon as possible.

[2019-02-19 13:01] rkarlin commented on #24269
Hi @JulianHayward can you please provide the version of the Az.Security module that you're using?
thanks,
Rachel

[2019-02-19 13:01] kung-foo commented on #20631
any update?

[2019-02-19 13:03] SubhashVasarapu-MSFT commented on #25249
@hemantpro Thanks for your feedback. We are investigating on this and will update you as soon as possible.

[2019-02-19 13:06] bioslikk commented on #25049
@phill-holland If that didn't work I don't know how else to solve it for now. Lets hope they fix this issue soon 😄

[2019-02-19 13:12] KrishnaG-MSFT commented on #25164
@DCtheGeek Thanks for the clarification! :)

@imeya To answer your question on match and like operators, yes, both are somehow similar here because of "." in match operator (which is explained [here](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#conditions)) in comparison with "*" wildcard in like operator but IMHO in general, the match operator ideally is

[2019-02-19 13:13] saifuddin123 commented on #25133
i checked and none of the ports are in use. after i start the cluster, i see a message about low memory.

[2019-02-19 13:15] fdmarcin opened #25252 "Incorrect information in the example (Create a storage account)"
The page states for the Portal:

In the Portal, the default for `Replication` is `Read-access geo-redundant storage (RA-GRS)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Quickstart: Create a storage accoun

[2019-02-19 13:16] davidparker commented on #22729
@mike-urnun-msft   think ya missed the point, this issue is when you DONT want to use a queue trigger.  I have the same issue.   Go to portal,   create an azure function, choose twilio output.   Do normal code that is not from a queue, but a post and it fails to load twilio with above error

[2019-02-19 13:17] phill-holland commented on #25049
thanks :D  I'm doomed with these kind of issues any how.  I'm giving the web portal a go rather than the command line.  It's slower than Nigel Farage during a post brexit witch hunt.

[2019-02-19 13:23] mvput opened #25253 "Azure AD B2C with Azure AD Multi Tenant custom policies"
I want to add Azure AD as IdP to the Azure AD B2C using custom policies. I have used the following setup guide.  https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-commonaad-custom.

The local sign-in functionallity works fine. When I want to sign-in with an Azure AD account I get the following error (traced using Application Insights).
[code]
The claim provider

[2019-02-19 13:25] gacurtin opened #25254 "P30 disk labeled incorrectly on Premium Disk Chart"
On the Premium Disk chart the P30 disk is labeled as S30

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
* Version Independent ID: 93637a78-fc66-6c5d-7845-a4fad0045c7d
* Content: [Select a disk type for Azure IaaS VMs - managed disks](https://docs.microsoft.com/en-us/azure/virtual-ma

[2019-02-19 13:25] StingyJack commented on #24973
@KetanChawda-MSFT - sorry, thought I posted this the other day but it was still in the edit buffer.

It's not just being able to use comments, its being able to use most of the rest of the .net framework. Little of which is going to be useable without hardcode or reinventing the wheel with json. WCF, protected configuration (not actually relevant to this), connection strings, assembly binding redi

[2019-02-19 13:26] phill-holland commented on #25049
Yup, the azure portal website seems to work better rather than via the azure cloud shell and the command instructions you're told to type via the web link, I've had success with this and not needing to make location changes to that desired.

[2019-02-19 13:30] JulianHayward commented on #24269
Az.Security module version: 0.7.1

[2019-02-19 13:34] daleholborow opened #25255 "The C# code is incorrect (no overload of method takes two params)"
For correct version, see: https://social.msdn.microsoft.com/Forums/en-US/491ddd45-71c6-4472-a272-2a46c20755e5/logic-app-500-error-error-runcsx1715-error-cs1501-no-overload-for-method-createresponse?forum=azurelogicapps

using System.IO;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Http;
using Microsoft.Extensions.Logging;
using System.Text.RegularExpress

[2019-02-19 13:40] pauska commented on #25175
@KrishnaG-MSFT Hi. I'm fully aware that you require owner, co-owner or contributor to manage Azure resources in general. I'm asking what permissions or roles the Azure Log Analytics View Designer requires., as this is not visible for our users with Log Analytics Contributor role, only owners.

[2019-02-19 13:47] YASWANTHM-MSFT commented on #25252
@fdmarcin, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and update the document as appropriate

[2019-02-19 13:54] Nilis312 opened #25256 "Supported OS/Browsers and HTML 5 client support"
I miss the information on which OS / browsers and RDP clients this is working ?
Also is the HTML 5 web client supported with NPS + Azure MFA ? Or is this only for the RDweb ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b5

[2019-02-19 13:56] rkarlin commented on #14066
@motowilliams possibly, but I can't change the PowerShell module and I can change the documentation here. @SaurabhSharma-MSFT can you assign this issue to someone from the PowerShell team to see if there's a problem locating these cmdlets?

[2019-02-19 14:01] huxxcb opened #25257 "Script compile fail"
The script supplied in the example fails to compile.
This is the call stack.
2019-02-19T12:18:10.765 [Information] Executing 'Functions.RemoveHTMLFunction' (Reason='This function was programmatically called via the host APIs.', Id=22dd6e38-c83b-4a5b-8542-65568b0bef0f)
2019-02-19T12:18:10.810 [Error] Function compilation error
Microsoft.CodeAnalysis.Scripting.CompilationErrorException : Script comp

[2019-02-19 14:06] j-martens commented on #16204
Hope this helps. If it does, #please-close.

[2019-02-19 14:07] j-martens commented on #22574
@TravisCragg-MSFT are you still investigating?

[2019-02-19 14:33] TwoPatient commented on #24358
Hi @sergaz-msft we attended a Microsoft IoT and AI Insider Lab, so were provided examples there and followed documentation on how to set up IoT Edge and x.509 certificates on the downstream device so that it connects to the gateway. But I don't believe there was specific documentation for the DPS.

We were using the C# IoT DeviceClient and ProvisioningDeviceClient for DPS.

[2019-02-19 14:35] Werner-MOC commented on #25236
Hint: I have seen on ASDK server system the parameter is available, but not on my Windows 10 Admin Client ...

[2019-02-19 14:43] DashleenBhandari-MSFT commented on #25240
@abhishek-kumar-mishra I am checking on the same and will update you shortly.

[2019-02-19 14:45] bcube opened #25259 "OAuth 2.0 not working"
I followed this example and selected "OAuth 2.0" under "Setting &gt; User authorization" for the Echo API. Then, I created a html file with and trigger a ajax call to the Echo API "https://{myapi}.azure-api.net/echo/resource-cached?param1=sample"

I assume that I should received an error after the call because this API is supposed to be protected by my OAuth Server. However, the call try without a

[2019-02-19 14:55] daweins commented on #24963
Thanks!
-Dave-

David Weinstein | Principal Program Manager, Azure Customer Advisory Team (CAT) | 720-878-8132 | daweins@Microsoft.com<mailto:daweins@microsoft.com>

From: Robert Lyon <notifications@github.com>
Sent: Friday, February 15, 2019 4:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Weinstein (AZURECAT) <daweins@microsoft.com>; Mention <mention@noreply.github.

[2019-02-19 14:58] ld0614 opened #25261 "Unclear on premium licensing requirements"
While its stated that `If you plan to use Identity Protection features with your guest users, you'll need Azure AD Premium P2 licenses in the same 1:5 ratio to cover the guest users.` its not clear if when the guest user already has a P2 license assigned in their origin tenant they fall into this category.  It is also not clear if the user needs the licensing in the origin tenant at all.

---
####

[2019-02-19 15:06] TehWardy commented on #17959
I've hit the same issue today ...
This doesn't work as documented here:
https://docs.microsoft.com/en-us/sql/relational-databases/tutorial-sql-server-backup-and-restore-to-azure-blob-storage-service?view=sql-server-2017#restore-database-from-windows-azure-blob-storage-service

... i got the push of the backup from our on premise servers up in to the blob store but now can't restore them in to the

[2019-02-19 15:07] #25215 closed

[2019-02-19 15:15] gitathrun opened #25262 "Docker image creation faild"
I am currently working on docker image creation step in Azure Machine Learning Service, but the feedback from the ACR always shows
[code]

I follow the setting of this tutorial [how-to-deploy-and-where](https://docs.microsoft.com/en-gb/azure/machine-learning/service/how-to-deploy-and-where#configureimage) with Model object, image_configure, myenv.yml and score.py all standby.

Is there any where I

[2019-02-19 15:17] jwargo commented on #25226
#please-close

[2019-02-19 15:19] ArvidBaa commented on #16204
In [the notebook](https://github.com/Microsoft/AMLDataPrepDocs/blob/master/how-to-guides/datastore.ipynb), it is not explained how the database is actually connected to the workspace Datastore in the beginning. However, I assume the instructions given in [this notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/am

[2019-02-19 15:19] SumanthMarigowda-MSFT commented on #25041
@StingyJack Apologies for the delay! Just for clarification: Have you referred to this article: https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-emulator-using#initializing-and-running-the-storage-emulator

[2019-02-19 15:20] dominicbetts commented on #25179
@sergaz-msft - I made a small change to the article to clarify that it's talking about the built-in events endpoint.

[2019-02-19 15:21] amandadebler opened #25264 "Update PowerShell instructions for new Az module"
Scripts use old AzureRm cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e2500f-e1f5-bc87-6e5c-f41b59265049
* Version Independent ID: d212be48-7d05-847d-3045-cea82e6ba603
* Content: [Manage Azure Automation Run As accounts](https://docs.microsoft.com/en-us/azure/automation/manage-runas-account)
* Content Sourc

[2019-02-19 15:21] #25146 closed

[2019-02-19 15:22] amandadebler commented on #25264
and I see that this was already requested and rejected in https://github.com/MicrosoftDocs/azure-docs/issues/24424

[2019-02-19 15:23] tudort-iquest commented on #24951
The Azure CLI commands above can be executed also from the local computer, from PowerShell 5.*, if Azure CLI is installed locally (https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli-windows?view=azure-cli-latest) and AzureAD PowerShell module is installed (Install-Module AzureAD).
Of course, it is necessary to login first:
az login
and to select the right subscription if necessary:
az ac

[2019-02-19 15:39] GHoh commented on #17959
Paul,

At the time I posted this, it was only possible to restore a database using the .bak file.  I was told that the ability to restore using .bak, .diff and .trn should be available near the end of this quarter.

Gina

This information is being shared per a communication with Borko at Microsoft as of December (see excerpt from email below).  We are looking forward to being able to restored from

[2019-02-19 15:52] SHANE0MAC opened #25265 "Please update section: The agent may be installed by using one of the following methods"
To include Auto Provisioning when enabled in Azure Security Center
Auto Provisioning - This enables the automatic installation of the Microsoft Monitoring Agent on all the VMs in your subscription. If enabled, any new or existing VM without an installed agent will be provisioned.
https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection

---
#### Document Detail