[2019-04-01 13:39] MZDN commented on #28351
I have sf azure linux cluster. Either a portal view help nor a command is provided to enable that portion of code.

[2019-04-01 13:40] annerejula opened #28457 "Not able to fetch Custom Metrics (for Azure Windows VM) using Azure Monitor REST API"
**Custom Metric Updated through Diagnostics Config:**
I have enabled custom metric by configuring Azure Monitor Sink ,by updating the Diagnostic extension for Windows VM ( https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineextensions/update)

The custom metric being "\Memory\% Committed Bytes In Use" has been updated in the Diagnostics config file :
[VM-Diagnostics.txt](https://github

[2019-04-01 13:41] j-martens commented on #28159
@xzhu1900  If this solves your issue, #please-close.  @nibaccam - please update the docs if needed.

[2019-04-01 13:44] j-martens commented on #28376
@swanderz - To see some logs, visit [Azure portal](https://portal.azure.com) and  go to your workpsace and select **Workspace > Experiment > Run > Logs**.   We've just fixed the docs. #please-close.

[2019-04-01 13:50] hansmbakker opened #28459 "Unclear whether / how it is possible to let App Service access resource (CosmosDB) that can only be accessed from vnet"
(I'm not sure whether this is an App Service or Cosmos DB docs issue; this is a crosspost from the [ticket for the Cosmos DB docs](https://github.com/MicrosoftDocs/azure-docs/issues/28461))

This issue is related to [this post on Stackoverflow](https://stackoverflow.com/questions/54901038/access-a-cosmos-db-in-a-virtual-network-from-a-function-app).

From the docs page that I'm creating this issue

[2019-04-01 13:53] JavedEqbal opened #28460 "Multiple Placement Groups | More clarity needed"
Just a quick question regarding vmss "placement groups".

Document quotes that "A placement group is a construct similar to an Azure availability set, with its own fault domains and upgrade domains."

When we disable "Single Placement Group" deployment for vmss we can scale vmss to more than 100 VMs but does that necessarily place the VMs to multiple cluster or it may/may not ?

---
#### Document

[2019-04-01 13:54] Chris-May commented on #24489
This issue appeared for me on a project that I've been working on for a while.

The only thing I changed was updating `azure-functions-core-tools` on Friday in another project.

I've been using `python 3.7.2` and these packages:
[code]
and
`azure-cli@0.10.18` `azure-functions-core-tools@2.4.498`

[2019-04-01 14:00] hansmbakker opened #28461 "Unclear whether / how it is possible to let App Service access resource (CosmosDB) that can only be accessed from vnet"
(I'm not sure whether this is an App Service or Cosmos DB docs issue; this is a crosspost from the [ticket for the App Service docs](https://github.com/MicrosoftDocs/azure-docs/issues/28459))

This issue is related to [this post on Stackoverflow](https://stackoverflow.com/questions/54901038/access-a-cosmos-db-in-a-virtual-network-from-a-function-app).

From the docs page that I'm creating this iss

[2019-04-01 14:01] SadiqhAhmed-MSFT commented on #28265
@richardspitz As EA customer you actually dont get invoice for Azure service usage. Only for Marketplace service charges you get invoice, which is billed as overage and also when you exhaust the commitment you will be billed and the invoice is generated. Reference: https://docs.microsoft.com/en-us/azure/billing/billing-understand-your-bill-ea

If you're an indirect customer then the partner who si

[2019-04-01 14:02] StarkCaptain commented on #28277
I did try this several times, as I mentioned I was only able to get this to work with the owner role assigned.

[2019-04-01 14:03] hrushib commented on #28128
Alternately, you can do this [using Azure Resource Manager](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-config-upgrade-azure). Note that you need to update `fabricSettings`  as well as `addonFeatures` with the values mentioned in Backup Restore service enablement document.

[2019-04-01 14:12] msrini-MSFT commented on #28455
@shaikhosama , Thank you for bringing this up. I will follow up with the Product group and get back to you shortly with an update.

[2019-04-01 14:23] BhargaviAnnadevara-MSFT commented on #28456
@Blackbaud-ChrisBlythe Thanks for the question! We're investigating this and will get back to you shortly.

[2019-04-01 14:24] #27718 closed

[2019-04-01 14:26] YutongTie-MSFT commented on #28064
@JoshuaMcNichols
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-01 14:26] #28064 closed

[2019-04-01 14:26] yanrez commented on #28147
I don't know actually. I agree it will become outdated again, and unsure what is the right corse of actions. Also it looks like current image itself is not documented anywhere

[2019-04-01 14:26] BhargaviAnnadevara-MSFT commented on #28441
@arnaldoUltebra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-01 14:27] bdschaap opened #28462 "Encryption at Rest for Function Apps"
Can you clarify whether storage for Function Apps is encrypted at rest?  This issue indicates that App Service is encrypted at rest so I suspect that Function Apps is as well.
https://github.com/MicrosoftDocs/azure-docs/issues/11299

More specifically, I'll be enabling App Insights which can temporarily use local storage if it's unable to transmit the data to App Insights for whatever reason.  How

[2019-04-01 14:28] sowndarrajandr commented on #28439
Hi Manoj,
Please check the screenshots i attached.
It may be HTTPS in future but in the past and right now it is HTTP.
If it is going to be HTTPS please let me know the effective change date so, that i can inform some of my customers who have only allowed the HTTP endpoint.

![ER_Issue](https://user-images.githubusercontent.com/22645794/55335134-2c921e80-54b8-11e9-97d8-abd8f590295c.PNG)
![ER_Issue

[2019-04-01 14:33] arjunmanohar opened #28464 "Typo - aplications"
Under the section: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-multi-model-features#when-to-use-multi-model-capabilities, the word application is misspelled in '... and integrate it with a variety of tools and aplications that can use SQL language...'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-01 14:44] typesafedev commented on #25488
Please update the salesforce SAML2 integration docs with this change. Thanks. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-sf-app-custom

[2019-04-01 14:45] robaker commented on #28149
How long until the default iteration issue is fixed please? My code uses this feature and now its stuck on the old version of the model. If it's not fixed soon I'll have to rework it to specify the iteration and then remember to update it every I publish a new iteration :-(

[2019-04-01 14:51] danimir commented on #28347
@StingyJack - The only alternative you can consider is by calling API [Get-AzureRmSqlDatabaseRecommendedAction](://docs.microsoft.com/en-us/powershell/module/AzureRM.Sql/Get-AzureRmSqlDatabaseRecommendedAction) from your custom application providing performance recommendations for Azure SQL Database in the Portal. To use the API you will however need to have appropriate technical knowledge to impl

[2019-04-01 14:58] sc-bperry commented on #25476
First, let me apologize for the tone in my previous comment. I was at a point of exhaustion but that's not an excuse for lack of cordiality. After figuring ADF parameterization out, I see how difficult this is to succinctly document this concept. I also see you've updated the doc and it's much improved. Here are a couple of things that I think helped me understand this better.

1. Explicitly under

[2019-04-01 15:01] #28376 closed

[2019-04-01 15:05] MicahMcKittrick-MSFT commented on #28460
Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 15:07] MicahMcKittrick-MSFT commented on #28128
Thanks @hrushib for suggesting that as well :)

@jfalameda we will close this for now. If you are still having issues just let us know and we can always reopen and continue the discussion.

[2019-04-01 15:07] #28128 closed

[2019-04-01 15:14] pronoyb opened #28468 "Incorrect document"
This is an incorrect document referring to an older version of the product.
These instructions are creating issues for Druva customers. This article needs to be taken down.

The correct steps are mentioned in the article below: https://docs.druva.com/Knowledge_Base/Druva_Cloud_Platform_(DCP)_Console/How_to/How_to_configure_SSO_for_Druva_Cloud_Platform_using_the_IdP_Azure_AD

Pronoy Banerjee
Senior

[2019-04-01 15:15] ronortloff commented on #28296
pr 71538 created to address this.

[2019-04-01 15:16] ronortloff commented on #28296
#please-close

[2019-04-01 15:17] stvfks opened #28469 "AADSTS7000112 is not listed."
Please provide documentation missing error code “Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS7000112: Application 'XXX'(XXX) is disabled." Is AADSTS70001 obsolete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-

[2019-04-01 15:18] Mike-Ubezzi-MSFT commented on #28464
@arjunmanohar Thank you very much for providing this feedback. We will get this updated.

[2019-04-01 15:23] mbell85 commented on #24525
@SubhashVasarapu-MSFT I'm revisiting this. I actually already have a working site-to-site VPN connection. Do I have to create a new VPN Gateway to use active-active mode? The reason I thought I could convert my current connection from active-standby to active-active is due to the portal showing the option in my Azure VPN Gateway configuration. This would seem to be more simple than having to creat

[2019-04-01 15:25] MicahMcKittrick-MSFT commented on #28351
@MZDN ah yes. The business standard for managing a production cluster is to use Visual Studio and JSON templates. So the examples as shown here you would need to update the cluster json or modify them in visual studio.

@srrengar is there any other options to enable syslog via portal or cli?

[2019-04-01 15:35] Mike-Ubezzi-MSFT commented on #28461
@hansmbakker Thank you for detailing the issue you are encountering, Are you saying that the 4 steps you detailed in `"My solution was to:"` still resulted in the following statement `"Unfortunately, this does not work. How do I make the App Service correctly access Cosmos DB through the VNet?"` ?

Or, you followed the 4 steps (as detailed) and got it working but when you follow the documentation,

[2019-04-01 15:45] rossdo88 opened #28471 "Unable to connect to Blob storage container"
When i tried to connect Azure blob via Azure storage explore, error:
Error - Unable to retrieve child resources in Azure Storage Explorer

when open by browser:

<Error>
<Code>InvalidUri</Code>
<Message>
The requested URI does not represent any resource on the server. RequestId:88282800-14f3-4963-a5da-07a260a6f58b Time:2019-04-01T14:13:09.8399259Z
</Message>
<UriPath>http://rachel:11002/</UriPath>

[2019-04-01 15:45] jasonkatz424 commented on #27791
I have this same problem.  Global admin, TenantCreator role, and have gone through all deployment steps.

[2019-04-01 15:49] colinrubbert commented on #27791
@jasonkatz424 see my previous comment, see if that works https://github.com/MicrosoftDocs/azure-docs/issues/27791#issuecomment-477215147

Also, check your resource group and make sure everything was deployed properly and no failure, then double check that your WVD Host Pool is in the same region and vnet as your Azure Active Directory Domain Services is located, it makes a massive difference.

[2019-04-01 15:50] mcintyre321 commented on #27591
Hi, this is a screenshot from the Azure portal. As you can see, the sample container app includes an mssql container.

![image](https://user-images.githubusercontent.com/275706/55341259-3a3aaa80-549e-11e9-9fb1-1c9b1a190699.png)

[2019-04-01 15:51] sllewe commented on #28032
Please understand - I am not trying to be obtuse here....

But where am I supposed to run that command? Azure Active Directory Domain Services has no mechanism to run these commands against. There is no Azure AD Connect Service/Install in play here - this is the Built in Synchronization function built into the controller. I am trying to run a sync between it, and Azure AD.

[2019-04-01 15:54] stephen-cairns commented on #27941
Thanks for coming back to me.
So just for complete clarity of my understanding can you p;lease confirm that you mean BOTH the "ingress controller (nginx)" and the "ingress resources (rules)" are best placed in their associated namespace?
I.e. 3 separate micro-service solutions (each deployed in their own namespaces) would all have a set of ingress controllers and a set of ingress rules defined wit

[2019-04-01 15:56] roygara commented on #28327
@techiearun Thanks for reaching out, I did a small check and it looks like all those blogs are gone now. I can't offer any replacement links or anything as I don't know what was in the blog post, so all I can do is remove the link and its mention from our docs.

[2019-04-01 16:01] cap273 opened #28475 "Is this still the recommended way to monitor Azure VPN Gateway (vs Network Performance Monitor or others)?"
Azure changes quickly, and I see that this content was last updated December 2017, and essentially relies on reactively querying the status of the VPN Gateway to see if it is reporting itself as unhealthy.

Is there a better first-party solution to monitor the Azure VPN Gateway (and that quickly identifies a dropped VPN connection)? Maybe Network Performance Monitor, or implementing Connection Mon

[2019-04-01 16:07] techiearun commented on #28327
@roygara Thanks for you response.   Removing the link and its mentions will keep it clean.  Second part my question is about Nagle usage itself.  Has anything got changed in recent changes ?

[2019-04-01 16:08] hansmbakker commented on #28461
@Mike-Ubezzi-MSFT thank you for your response.

After the 4 steps of my solution (+whitelisting the ip of my development machine) it did not work.

So what I’m asking is:
- is this solution supposed to work?
- is there something I need to change to make this work?

I couldn’t find an answer to both questions in the docs.

The reason I prefer not to whitelist the IP from the app service is that tha

[2019-04-01 16:08] bwren commented on #28240
Thanks for the comment.  Actually, in that script $TimeStampField is a global variable, so the Post-LogAnalyticsData function picks it up okay.  I just did a test to verify, and it worked as expected.

[2019-04-01 16:08] bwren commented on #28240
#sign-off

[2019-04-01 16:09] MashaMSFT commented on #27479
Hi @sqlazure , since it's been some time, I will assume your issue is resolved and proceed with closing out this Git Issue. However, please feel free to respond if you need anything further. Thanks again for your suggestion! #please-close

[2019-04-01 16:11] MicahMcKittrick-MSFT commented on #28460
@JavedEqbal by default when you create a scale set we create a single placement group that can hold up to 100 VMs. A placement group is just like an Availability set but designed for Scale Sets instead of standalone VMs.

So if you disable single placement group because you want to have more than 100 VMs it will allow you to scale up to 1000 VMs and have additional placement groups.

So for exampl

[2019-04-01 16:11] MashaMSFT commented on #27485
Hi @tonesandtones , it's been some time since we've heard from you so we have to assume that your issue has been resolved. As such, we will proceed with closing out this Git Issue. However, if you need further assistance, please reply to this Git Issue. Thanks for contacting Microsoft! #please-close

[2019-04-01 16:13] MicahMcKittrick-MSFT commented on #28423
@NandishNM what additional information are you looking to have? We do explain this step and show an example

![image](https://user-images.githubusercontent.com/32313503/55342799-70583a00-545e-11e9-98a8-b03e3b04b83b.png)

[2019-04-01 16:16] MicahMcKittrick-MSFT commented on #28443
@Rutikhal I would start by checking out the tech communities forum where we are currently support Windows Virtual Desktop

https://techcommunity.microsoft.com/t5/forums/searchpage/tab/message?advanced=false&allow_punctuation=false&filter=location&location=forum-board:WindowsVirtualDesktop&q=%20New-RdsRoleAssignment%20:%20User%20is%20not%20authorized%20to%20query%20the%20management%20service.

Some

[2019-04-01 16:16] #28443 closed

[2019-04-01 16:17] bwren commented on #28240
#please-close

[2019-04-01 16:23] pratikmehta9 opened #28477 "Diagram has IMDS outside the VM"
The diagram in this page shows IMDS outside the boundary of Azure Virtual Machine, which looks wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [Managed identities for Azure resources](https://docs.micros

[2019-04-01 16:25] JonShelley opened #28478 "Updates needed to be able to use 3D remote graphic software tools on Windows"
To be able to use GPU for remote graphics applications (HP-RGS, Teridici, TGX, Horizon View, ...) you need to disable the Hyper-V video driver and you need to make sure that the GPU is using WDDM instead of TCC.

To disable Hyper-V video go to the device manager -> display adapters. Right click on Hyper-V video driver and select disable.

Next, run nvidia-smi and see if the gpu 0 is in TCC mode or

[2019-04-01 16:28] srrengar commented on #28351
not at this time, you need to add this JSON to your ARM template and deploy that as Micah said. Search for "Fabric settings"

[2019-04-01 16:29] SumanthMarigowda-MSFT commented on #28448
@gokul2018 Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 16:29] YutongTie-MSFT commented on #28159
@xzhu1900
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-01 16:29] #28159 closed

[2019-04-01 16:29] Minewiskan commented on #28165
@GaretAnderson - Hi Garet. Yes, that is a known issue (in SSMS). Not sure why, it's been that way for two years. I'm checking with engineering.
#in-progress

[2019-04-01 16:36] kobulloc-MSFT commented on #28132
@ToddTaylor We have been able to get the "Don't see Snapshot? Troubleshoot" link to appear, so it does still exist.  I'm assigning this to the content author so they can update the documentation accordingly.

![image](https://user-images.githubusercontent.com/37556655/55344217-afd45580-5461-11e9-9480-aec8f4bbfa69.png)

[2019-04-01 16:42] markjbrown commented on #27990
We have published an update to this doc which fixes the issue.

#please-close

[2019-04-01 16:44] yzheng-msft commented on #28448
The support for files is on the roadmap.

[2019-04-01 16:51] sekharbvp commented on #22676
Hi, Is it safe to assume that based on the logic in https://github.com/Azure/aks-engine/blob/master/cmd/scale.go, scale in would get rid of nodes that have been added later (highest ending number)? Thanks!

[2019-04-01 16:53] msangapu commented on #27591
Hi @mcintyre321. This area is to discuss feedback on this article and it's not the correct place for portal feedback. You should provide your feedback through the portal/support to ensure it gets to the correct team.

For persistent storage, see the Application Setting here: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#custom-containers .

If you'd like to cr

[2019-04-01 16:56] markjbrown commented on #28189
@pournejati We generally do not recommend customers exclude everything, then selectively add paths to include in the index. Very often customers who use this approach end up wondering why their queries do not work when their schema changes because they forgot to modify their indexing policy.

The approach we recommend is to index everything by default and selectively exclude paths. Typically this

[2019-04-01 16:56] swanderz commented on #28376
@j-martens love the responsive fix. thanks.

Can I request that more information about the log files be added. Using the logs has been crucial to getting things running in AML. Currently this issue refers to one of the only places in the docs that references what to do when things aren't working as they should. Check a [related diatribe of mine](https://github.com/Azure/MachineLearningNotebooks/is

[2019-04-01 16:57] #27990 closed

[2019-04-01 16:59] yort5 opened #28479 "Out-of-date?"
This tutorial seems out of date now? I created a Web App Bot per the instructions, but it did not contain any reference to _services.LuisServices, nor did the Application Settings in Azure have any botFileSecret or botFilePath. The appsettings.json did have values for the Luis app that was created as well as the MicrosoftAppId/Password, but no .bot files.

---
#### Document Details

⚠ *Do not edit

[2019-04-01 17:05] mcintyre321 commented on #27591
Now I'm confused. Your colleague @DashleenBhandari-MSFT says "you should not run PROD DBs in a container", but you suggest the mysql container is prod ready?

How is the mysql container data persisted? It looks like tutorial says how to back the wp container is backed by disk, but not the mysql instance (or am i missing something?)

[2019-04-01 17:07] MarcinJuraszek commented on #28171
OK. My bad. I did run `py -3.6 -m venv .env`, but not the second line (TBH, last time I read it I assumed that's the output of the previous command ...). Now after running both of them and issuing `func init` with python in the same PowerShell window things seem to be working.

[2019-04-01 17:09] Karishma-Tiwari-MSFT commented on #28478
@JonShelley Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-01 17:10] PatrickFarley commented on #28149
@robaker I have notified the PM about this urgent issue and am awaiting a response.

[2019-04-01 17:12] msangapu commented on #27591
Hi @mcintyre321 The tutorial uses Azure DB for MySQL. Please take some time to review it properly.

[2019-04-01 17:15] femsulu commented on #28457
@annerejula Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-01 17:22] jasonkatz424 commented on #27791
The DSC extension did have an error upon deployment.  Maybe that's it?  I tried your suggestion above, but to no avail.

[2019-04-01 17:30] j-martens commented on #28376
@swanderz - thanks for your feedback. Adding this to our backlog to tackle soon. We appreciate this info so much.

[2019-04-01 17:36] femsulu commented on #28471
Hi @rossdo88 Sorry for the issue you are experiencing. We are happy to help but this channel is reserved for documentation issues/bugs.

For the best possible response, we recommend posting your issue on either our [Storage Forum Channel](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata)where one of our engineers will engage asap.
Your other option is to open a serv

[2019-04-01 17:37] #28471 closed

[2019-04-01 17:40] curtand commented on #18405
We have reworked the documentation and removed those references. Keep your eye on roles docs, because we're expanding the doc set.

@DeanGross
@MarileeTurscak-MSFT
#please-close

[2019-04-01 17:41] MarileeTurscak-MSFT commented on #28401
@Adi2007 since this issue is not actionable I am closing it out. Please feel free to make a new issue describing your exact problem with a specific article and giving clear suggestions for improvements.

[2019-04-01 17:41] #28401 closed

[2019-04-01 17:50] iainfoulds commented on #28105
Sorry you ran into issues, @yuwzho.

Confirmed with product group that this is a known problem. I don't have an ETA on an engineering fix. I'll update the doc to note the current behavior for now.

#in-progress

[2019-04-01 17:51] BryanTrach-MSFT commented on #12308
@xavierrouhaud We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 17:51] #12308 closed

[2019-04-01 18:00] SaurabhSharma-MSFT commented on #28039
@borys86 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-01 18:00] #28039 closed

[2019-04-01 18:01] colinrubbert commented on #27791
@jasonkatz424 try to restart the VM, for whatever reason when I did that it then had a successful deployment.

[2019-04-01 18:01] Grace-MacJones-MSFT commented on #28462
Hi @bdschaap, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 18:06] curtand commented on #18542
@marc-be
Thanks for the kudos!!! You're the first one I have received through GitHub.

Hi  @Maelito77
Contact sumitp@microsoft.com

@SaurabhSharma-MSFT
#please-close

[2019-04-01 18:06] primodg opened #28483 "New-AzDiskConfig has been replaced by New-AzureRmDiskConfig"
The cmdlet New-AzDiskConfig has been replaced with New-AzureRmDiskConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f5da69-0386-feb0-469a-788ae89d3a3d
* Version Independent ID: 27031537-f436-7252-b73c-7f8edbc176cc
* Content: [Azure PowerShell Script Sample - Create a VM from a snapshot](https://docs.microsoft.com

[2019-04-01 18:09] #28483 closed

[2019-04-01 18:15] stgeorgi commented on #28308
@ShehzadUIT have you assigned users to the group where the Outlook is published? Also after users signs in with the client can you please try Get-RdsDiagnosticActivities -UserName <user signing in> -TenantName <tenant> and see if there are failures / messages tied to getting the feed.

[2019-04-01 18:16] vainolo commented on #28446
@Mike-Ubezzi-MSFT - answer is in the documentation. Please close this issue

[2019-04-01 18:17] SaurabhSharma-MSFT commented on #27943
@Jnchi Can you please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-04-01 18:17] BryanTrach-MSFT commented on #28462
@bdschaap The above statement is for Azure Storage Blobs in general. Any service connecting to Azure Storage Blobs will have it's data encrypted at rest.

So as long as your Azure Function is using Azure Storage Blobs for storage, then you should be fine.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2019-04-01 18:17] #28462 closed

[2019-04-01 18:18] MarileeTurscak-MSFT commented on #28477
@pratikmehta9
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-01 18:19] patrick-at-atomic-charge opened #28484 "createRun ???"
Based on this documentation:
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-rest-api#create-pipeline-run

I should be able to use /createRun. However, it does not seem to exist. The V2 documentation for PipelineRun does not even contain a "Create" entry. It only offers "Cancel", "Get", and "Query by Factory".

See here: https://docs.microsoft.com/en-us/rest/api/

[2019-04-01 18:19] MarileeTurscak-MSFT commented on #28469
@stvfks
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-01 18:20] MarileeTurscak-MSFT commented on #28468
@pronoyb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-01 18:21] patrick-at-atomic-charge commented on #28484
Never mind. I found this "conveniently" located within the Pipeline resource, rather than Pipeline Runs. Can we get a V3 where "Create" is an operation on Pipeline Run?

[2019-04-01 18:21] #28484 closed

[2019-04-01 18:22] Jnchi commented on #27943
Thanks for your help. I post here once they figure out the issue.

[2019-04-01 18:25] rolyon commented on #28438
Hi @SadiqhAhmed-MSFT, @MicrosoftDocs/azure-cxp-triage
These strings come from Azure. Can you assign this to the CDN team to review?
thanks

[2019-04-01 18:28] CawaMS commented on #28388
@JeffGSparks thank you for your feedback. We thought about this and the thing is Visual Studio needs to be able to decrypt the file to display content in VS. If that's the case, encrypting the file won't make the information more secure because if user has access to the file he will have access to Visual Studio and will be able to view the secret values anyway.
If there is more comment or feedback

[2019-04-01 18:31] SaurabhSharma-MSFT commented on #27943
@Jnchi Sure, thanks.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-01 18:31] #27943 closed

[2019-04-01 18:31] Karishma-Tiwari-MSFT commented on #28077
@HowardHoffman Thank you for sharing the details. We are sorry for the inconvenience caused. Please refer to this doc for now, which has all the steps to create VMSS. We will get this document updated as well with the information related to NSG.
@cynthn This issue is a known one, as it was reported by customers on [this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-

[2019-04-01 18:34] CeciAc opened #28485 "Missing script to create SP"
@Lycrosa commented on [Fri Mar 29 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/271)

Missing script to create SP

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* Content

[2019-04-01 18:35] bwren commented on #27927
In most cases, it should be relatively immediate, but this is more of a technical question that I would assume relates to different data sources.  I'll add it to our discussions with the PMs if they want to add some technical detail to the docs.

[2019-04-01 18:35] bwren commented on #27927
#please-close

[2019-04-01 18:35] kobulloc-MSFT commented on #28366
@onovotny Thank you for bringing this to our attention!  I'm going to assign this to the document author so they can update the documentation accordingly.

[2019-04-01 18:35] CeciAc commented on #28485
Hi team,
I had the engineer team checked this and replied this error was due a source issue:
_"Issue could be fixed by adding a extra breakline between comment and Include call"_
![imagen](https://user-images.githubusercontent.com/26746247/55351062-cc898100-5493-11e9-97ce-4f226599fa40.png)

[2019-04-01 18:37] rbrundritt commented on #25749
Can you verify that you are not trying to access Azure Maps from an unsupported region as documented here: https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#supported-regions

[2019-04-01 18:40] CeciAc opened #28486 "Layout table Bindings is broken"
@djeffa commented on [Wed Mar 27 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/233)

The layout of the table in the Bindings paragraph is broken and only shows a texted based table that isn't aligned

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* V

[2019-04-01 18:42] #28486 closed

[2019-04-01 18:43] #28105 closed

[2019-04-01 18:43] gsilva5 commented on #12265
docs have been updated: https://github.com/MicrosoftDocs/azure-docs-pr/pull/71563

[2019-04-01 18:43] MicahMcKittrick-MSFT commented on #28485
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 18:44] StenPetrov opened #28487 "So much content that's not directly .NET"
Split the common parts - portal, setup etc. with a "Prerequisites" link - and leave just .NET stuff under the .NET page.
Same goes for the .NET solution in github - it's good to see well structured solution with views, models, controllers.... unless what the user is actually after is 10 lines of code: connect, create, insert, update, delete

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-01 18:45] MarileeTurscak-MSFT commented on #28468
Passing your feedback on to @jeevansd

[2019-04-01 18:51] Karishma-Tiwari-MSFT commented on #28150
@mganeshphani Sorry for the delay.
As shared in [this document](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#limitations),

dns-name-label property for container group described here:
1. https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az_container_create
2. https://docs.microsoft.com/en-us/rest/api/container-instances/containergro

[2019-04-01 18:55] Grace-MacJones-MSFT commented on #28459
Hi @hansmbakker , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-04-01 18:58] seshenoy opened #28489 "MSI for Azure Cosmos DB table storage"
Is this Possible for Azure CosmosDB Table Storage ? I tried the same for SQL and it works but for Table storage I get the error :
adal_error.AdalError: Get Token request returned http error: 400 and server response: {"error":"invalid_resource","error_description":"AADSTS500011: The resource principal named &lt;MY RESOURCE&gt; was not found in the tenant named &lt;MY TENANT&gt;. This can happen if

[2019-04-01 19:01] shashishailaj commented on #28160
@rolyon Could you please provide some clarification on this issue.

[2019-04-01 19:14] shashishailaj commented on #28378
@Bit-Shifts This is a B2C error I am not sure which sample you have run this error into however could you please try the B2c custom policy starterpack https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack and follow the SocialAndLocalAccounts setup . If you do that I believe that should work and you may not get this error. Please let us know in case this worked.

[2019-04-01 19:19] shashishailaj commented on #28277
@StarkCaptain Thank you for confirmation. I am assigning this to the authors for review with engineering.

@rkarlin Could you please have this reviewed by engineering . If this gets confirmed we may need to update the documentation.

[2019-04-01 19:22] seshenoy opened #28492 "MSI for CosmosDB"
Is this Possible for Azure CosmosDB Table Storage ? I tried the same for SQL and it works but for Table storage I get the error :
adal_error.AdalError: Get Token request returned http error: 400 and server response: {"error":"invalid_resource","error_description":"AADSTS500011: The resource principal named &lt;MY COSMOSDB RESOURCE&gt; was not found in the tenant named &lt;MY TENANT&gt;. This can h

[2019-04-01 19:24] seshenoy opened #28493 "MSI for blob"
FYI... MSI has been enabled for BLOB storages as well on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities for Azure resources](https://docs.microsoft.com/en

[2019-04-01 19:29] CeciAc commented on #16981
@Sara-Nicolini @BryanTrach-MSFT @DavidPrio
This issue was fixed, #pleaseclose

[2019-04-01 19:31] tamram commented on #28492
@seshenoy - Right now Azure AD integration is supported only for blobs and queues, and not for tables.

Please check with the Cosmos DB team about whether they have plans to support Azure AD integration for Cosmos DB/Table storage.

#please-close

[2019-04-01 19:50] jeevansd commented on #28468
@pronoyb Please feel free to edit this article by clicking the Edit button on the top right corner. Then you can submit that change to us using the PR on github and we can review them to publish it.
CC: @chetansriv @v-viinde

[2019-04-01 19:51] femsulu commented on #28451
@dohughes-msft Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-01 19:56] dacarubio opened #28494 "Microsoft Peering Routing Requirement"
Hi Team,

Just a quick question on the MS peering content on this document. It was noted that  for Microsoft peering " We remove private AS numbers in the AS PATH for the prefixes received on Microsoft Peering. You need to append public AS numbers in the AS PATH to influence routing for Microsoft Peering"

So if we have a situation like the On-premise Data Centres will be connected to Megaport MCR

[2019-04-01 20:00] mcollier opened #28495 "Incomplete answer"
The answer to the question "Is Azure Front Door Service a dedicated deployment for my application or is it shared across customers?" is incomplete.  The sentence at "However, by creating a Front Door you define the specific configuration required for your application and" is missing content after the "and".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-04-01 20:02] georgewallace commented on #28451
@dohughes-msft Run command does not require an Automation account to work.  Is there somewhere you are seeing states this? As for running the scripts, az cli is only used for Linux machines and PowerShell is only used for Windows machines. Can you please clarify what it is you are having issues with?

[2019-04-01 20:03] daveknaus opened #28496 "Prerequisites for schema editor?"
What are the system prerequisites for the schema editor?  When I click 'Create New' in the Schema Editor, nothing happens.  When check the log, it looks like it's trying to invoke Simba and javafx.  Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96736d22-b3e0-290d-3615-5468859d0c9c
* Version Independent

[2019-04-01 20:08] HowardHoffman commented on #28077
@Karishma-Tiwari-MSFT I was kind of coming to the conclusion that the section on specifically adding the Network Security Group was the missing piece.  A small request - can we make the discussion about 'allowing traffic to the VMs' a bit more generic than just web servers?  While it's true that many Azure customers will be deploying Web Servers in their VMs, since Microsoft already has so very ma

[2019-04-01 20:09] Ayanmullick commented on #28286
@MicahMcKittrick-MSFT, The above doesn't create the device in AAD. Is there a separate extension for that?

[2019-04-01 20:13] SaurabhSharma-MSFT commented on #28355
@mores Can you please provide us details how are you validating the JWT Tokens ?

[2019-04-01 20:13] brlewi commented on #27619
test

[2019-04-01 20:13] MicahMcKittrick-MSFT commented on #28286
Not sure what you are referring to. Can you elaborate?

[2019-04-01 20:13] mark6628 commented on #16527
Hi, I have started working on Azure Resource Graph and my resource group has resources 1082 but even using first parameter as -First 5000 it is returning 1000 entries only not more then that.

[2019-04-01 20:15] mark6628 commented on #16527
PS /root> $query = "project name, type, resourceGroup, subscriptionId, tags"                                                                                            PS /root> $Result = Search-AzGraph -Query $query  -Subscription 7484ec2d-e33a-478e-b532-1fbcd9980b2e -First 5000
PS /root> $Result.count
1000
PS /root>

[2019-04-01 20:17] HowardHoffman commented on #28077
@Karishma-Tiwari-MSFT Also, it would probably be good to also update https://github.com/Azure/azure-docs-powershell-samples/blob/master/virtual-machine-scale-sets/complete-scale-set/complete-scale-set.ps1 to contain enough logic to allow inbound traffic, of some sort, in to the Scale Set.

Appreciate all your hard work.  Thank you.

[2019-04-01 20:18] mark6628 commented on #16527
hosting-sws-active-001                    7484ec2d-e33a-478e-b532-1fbcd9980b2e
![image](https://user-images.githubusercontent.com/30395468/55356837-4730bb80-54e9-11e9-97c2-262bd6e1aa59.png)
Some how azure resource graph is taking hidden types as well.

[2019-04-01 20:29] jaryder commented on #28288
@KetanChawda-MSFT
Thank you!  Those were helpful workarounds.  Please incorporate that information into the web page text.  Folks will definitely appreciate it.

[2019-04-01 20:36] aishanibhalla opened #28498 "Language specific documentation missing for module twin"
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-module-twin-getstarted#update-the-module-twin-using-python-device-sdk : second point needs to be updated as per the language (same problem in case of C and Node). Carries forward the documentation from .NET platform

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-04-01 20:40] ThomasPiskol opened #28499 "CONNECT failed: RefusedNotAuthorized"
When using the sample code above, I'm not able to connect by using X509 CA certificates. It's only working when using self-signed certifactes or SAS token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Version Independent ID: 20974d4d-f6d8-9ba5-9985-e8f803e9a36f
* Content: [Tutor

[2019-04-01 20:41] mattbriggs commented on #28436
@jakaruna-MSFT  I believe that you would need to anticipate how to monitor the utilization of each VM in your tenant but setting up monitoring yourself. For example, when creating a marketplace VM you might add an extension that would load an agent for monitoring. 1) However, I need to touch bases with some people to find out if that is the case or if there is another option using the existing set

[2019-04-01 20:56] SaurabhSharma-MSFT commented on #28477
@pratikmehta9 The diagram seems correct to me.  Azure IMDS service is available outside the VM and accessible only from within the VM using via the Azure IMDS endpoint.

[2019-04-01 20:56] Bit-Shifts commented on #28378
@shashishailaj I need the meaning of this error code. I have a custom policy that I created based off of the custom policy starter pack and getting this error. I need to be able to debug this error not just use the basic sample starterpack policy.

[2019-04-01 20:57] Mike-Ubezzi-MSFT commented on #28487
@StenPetrov Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-04-01 20:57] SnehaGunda commented on #27683
@zarenner  and @wmengmsft thanks for pointing out the issue, actually this doc is a duplicate of the following table API tutorial. we have recently updated the following tutorial and fixed the comment pointed out in this issue. I submitted another PR to delete the old sample doc and redirect it to the new tutorial:

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

Ho

[2019-04-01 20:58] totodile94 commented on #19435
Can you please update the link ? The link says Build not found

[2019-04-01 20:58] mores commented on #28355
com.nimbusds.jwt.proc.ConfigurableJWTProcessor jwtProcessor = new com.nimbusds.jwt.proc.DefaultJWTProcessor();

java.net.URL endpoint = new java.net.URL( "https://login.microsoftonline.com/" + tenant + "/discovery/v2.0/keys" );

com.nimbusds.jose.jwk.source.JWKSource keySource = new com.nimbusds.jose.jwk.source.RemoteJWKSet( endpoint );

com.nimbusds.jose.JWSAlgorithm expectedJWSAlg = com.nimbusds

[2019-04-01 21:02] mattbriggs commented on #28436
@jakaruna-MSFT If you are using a multi node (integrated systems)  version of Azure Stack, you can access a reporting pane here: https://docs.microsoft.com/en-my/azure/azure-stack/azure-stack-manage-storage-shares . Is that what you were looking for?

[2019-04-01 21:06] #28479 closed

[2019-04-01 21:06] mpsingh24 opened #28503 "Management Service in west US"
The management service is deployed in the west US region.  It would be great to have this mentioned and clarified in the article. This comes as a surprise for customers with data residency requirements. As an example on provisioning the service from Azure Portal in the Canada Central region, all components (App Service, App Insights, etc.) are provisioned in Canada Central except the "Cognitive Se

[2019-04-01 21:07] #28492 closed

[2019-04-01 21:08] #28347 closed

[2019-04-01 21:08] #28446 closed

[2019-04-01 21:08] #28296 closed

[2019-04-01 21:08] #28261 closed

[2019-04-01 21:09] SnehaGunda commented on #23891
@RaithHandac @scolapicchioni Thanks for the feedback and apologies for the delay in getting back on this. We have released a new version of Table API .Net standard SDK that no longer has a dependency on the Microsoft.Azure.Storage.Common package. We have updated the QuickStart and the tutorial docs with new samples and the Nuget packages. And I have delete and redirected the doc referenced in this

[2019-04-01 21:12] #28240 closed

[2019-04-01 21:12] #28079 closed

[2019-04-01 21:12] #27927 closed

[2019-04-01 21:12] TravisCragg-MSFT commented on #28494
@dacarubio Unfortunately I do not have experience with Megaport MCR Routers, but I believe your understanding is correct.

You can also search for best practice documentation with Azure and Megaport on how others have handled this in the past. If you have any issues setting everything up or with routing, you can always contact Azure Support for any particular routing issues.

[2019-04-01 21:13] #27800 closed

[2019-04-01 21:13] #27683 closed

[2019-04-01 21:13] #27485 closed

[2019-04-01 21:13] TravisCragg-MSFT commented on #28494
@msrini-MSFT do you have anything you can add?

[2019-04-01 21:14] #27479 closed

[2019-04-01 21:15] #6243 closed

[2019-04-01 21:16] #18405 closed

[2019-04-01 21:16] MarileeTurscak-MSFT commented on #18405
Thanks, @curtand

[2019-04-01 21:16] #18542 closed

[2019-04-01 21:17] #24487 closed

[2019-04-01 21:17] TravisCragg-MSFT commented on #28495
@mcollier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-01 21:17] #27477 closed

[2019-04-01 21:22] carteixeira opened #28504 "Missing information about dependency of the location of a Resource Group"
This document talks about the metadata that is saved in a specific location, but it does not mention if there is any dependency on the location. See below:

When creating a resource group, you need to provide a location for that resource group. You may be wondering, "Why does a resource group need a location? And, if the resources can have different locations than the resource group, why does the

[2019-04-01 21:24] sebagomez opened #28505 "How to bind the storage account"
I'm following the tutorial trying to understand how to work with persistent storage. I understand that the volume gets added in the yaml file, and that a config must be set to true (WEBSITES_ENABLE_APP_SERVICE_STORAGE). The thing I don't get is that in the yaml file the volume is supposed to be binded to `${WEBAPP_STORAGE_HOME}/site/wwwroot` but I don't know where WEBAPP_STORAGE_HOME point to, and

[2019-04-01 21:28] TravisCragg-MSFT commented on #28475
@cap273 This is still the recommended way using Azure Network Monitor. If you require more frequent or active alerting, you can try using 3rd party software to monitor the connection.

There are other tricks, such as[ monitoring the health of the gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-troubleshoot-site-to-site-cannot-connect#step-7-verify-the-azure-gateway-health-p

[2019-04-01 21:28] #28475 closed

[2019-04-01 21:29] dacarubio commented on #28494
Whats the link for best practice documentation with Azure and Megaport  in terms of routing?

[2019-04-01 21:34] mike-urnun-msft commented on #28486
@CeciAc Keeping this issue close for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-01 21:38] jfalameda commented on #28128
Thank you Micah,

I managed to fix it following your guidance.

Thanks a lot.

Kind Regards,
/ José.

El lun., 1 abr. 2019 a las 17:07, Micah (<notifications@github.com>)
escribió:

[2019-04-01 21:38] Mike-Ubezzi-MSFT commented on #28496
@daveknaus Thank you for bringing this to our attention. Which version of the Azure Cosmos DB ODBC driver are you currently using? I am unable to reproduce this. I also have no data but I am able to invoke the schema editor:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(346).png?sv=2018-03-28&sr=b&sig=HkisjwaLZ0m2x16JCeKYhqeRmrKs5LSTjmX7ck5Yb30%3D&st=2019-04-01T21%3A29%3A48Z&s

[2019-04-01 21:38] roygara commented on #27043
Since there's no further questions:

#please-close

[2019-04-01 21:40] totodile94 opened #28506 "Proper steps for cosmos db build task in CI Pipeline"
Following the below article gives docker not found error. Adding a docker cli task before cosmos db task solves docker not found error but gives below error

Can you check and update the docs as required ?

- Azure Cosmos DB Emulator build task for Azure devops
- https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-04-01 21:41] TravisCragg-MSFT commented on #28494
Megaport documents how to s[et up ExpressRoute and configure routing Here](https://knowledgebase.megaport.com/megaport-cloud-router/mcr-er-azure/).

[2019-04-01 21:44] Mike-EEE commented on #6243
Hi @MarileeTurscak-MSFT from what I understand this issue is not resolved.  Do I create a new issue to track?

[2019-04-01 21:58] daveknaus commented on #28496
Thank you for the quick reply.  Mine is quite different from yours; I downloaded this from the link in the docs page, and it's the same version referenced in this documentation.
![2019-04-01 16_50_12-ODBC Data Source Administrator (64-bit)](https://user-images.githubusercontent.com/47277413/55361972-4e7ea780-549e-11e9-95e6-6cbaff16cbcd.png)

And here is the error message I get when I to 'Create Ne

[2019-04-01 21:59] Mike-Ubezzi-MSFT commented on #28433
Given the scenario in which the information is being presented; reverse engineering the process to first identify the desired database platform the migration is to `Target`, a list of supported `Source` database platforms can be presented. The Target -> Source analogy works in this case.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment

[2019-04-01 21:59] #28433 closed

[2019-04-01 22:05] MicahMcKittrick-MSFT commented on #28351
thanks @srrengar that is what I figured.

@MZDN I will close for now as the only option you have is to update the JSON and update the cluster as mentioned in this doc. If you have additional questions just let us know.

[2019-04-01 22:05] #28351 closed

[2019-04-01 22:07] Mike-Ubezzi-MSFT commented on #28435
@yuharucan The document provides the supported status for the detailed migration scenarios. It is not meant to be a development/availability status of all forthcoming migration scenarios as it relates to a timeline. The document is intended to provide a yes/no status as it relates to supportability, for both offline (single) and continuous (online) migration scenarios.

[2019-04-01 22:08] RobertClarke commented on #5643
It appears this issue is still unresolved, I'm seeing the same error:

{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'trigger().outputs.windowStartTime' cannot be evaluated because property 'windowStartTime' doesn't exist, available properties are 'headers, body'.",
    "failureType": "UserError",
    "target": "Copy_opk"
}

[2019-04-01 22:08] BryanTrach-MSFT commented on #26379
@paule96 The de-de page uses the exact same shortcut URL as the en-us page. When using a en-us browser I am properly redirected no matter if I am using the en-us page or the de-de page.

en-us URL: https://go.microsoft.com/fwlink/?LinkId=246619
de-de URL: https://go.microsoft.com/fwlink/?LinkId=246619

Sample from de-de page:
### <a name="web-server-logs"></a>Webserverprotokolle
Webserverprotokoll

[2019-04-01 22:10] MicahMcKittrick-MSFT commented on #28483
Thanks for reaching out and closing the issue. I am assuming you saw the note at the top that the new powershell module uses Az instead of AzureRM so this doc is updated.

[2019-04-01 22:11] BryanTrach-MSFT commented on #16981
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 22:11] #16981 closed

[2019-04-01 22:14] #27043 closed

[2019-04-01 22:15] lowndesc commented on #28387
For example, in the drone.json file used as a sample definition in this article, the messages contain only telemetry with simple data-types (double, text). However, a drone normally has a primary function to capture and transmit binary images. Earlier in this tutorial, it is stated the definition and message schema both support binary data types, but there is no example of how the behaviour and me

[2019-04-01 22:17] jeevansd commented on #28356
@sandeepshivhare Is this issue resolved per my suggestion above? Can you please confirm?

[2019-04-01 22:17] jeevansd commented on #28356
@chetansriv FYI

[2019-04-01 22:18] SnehaGunda commented on #24664
@liupeirong Thanks for pointing out the issue, and sorry about the delay. You are right the data type is incorrect. I submitted a fix to update the doc.

We encourage public contributions too! In future if you see any minor issues with the doc, please feel free to submit the edit button on the right hand corner and submit a PR, you will be added as a contributor to the doc.

We will close this iss

[2019-04-01 22:19] jeevansd commented on #26555
@JasperWind Can you please update this article directly by clicking the Edit button on the top right corner? After that submit the request and we can review the request and push the changes to the article.
CC: @chetansriv

[2019-04-01 22:21] SnehaGunda commented on #24763
@briansboyd thanks for your feedback, I have a work item to address this issue, Will get to it as soon as I can.

[2019-04-01 22:21] EonHale opened #28508 "Vague DNS Explanation"
Is there any way you can elaborate on how to setup DNS properly?  I followed this document step by step and the only way to get a VM (on the same vNet) to communicate to my ILB is to manually set a hosts file.  It says above for "simple testing" but where do I do this for "non-simple testing"?  I've created the wildcard A records as instructed.

---
#### Document Details

⚠ *Do not edit this secti

[2019-04-01 22:22] jeevansd commented on #26280
@chetansriv  Can we add the steps on how to configure the NameID claim in Azure AD?

[2019-04-01 22:22] Mike-Ubezzi-MSFT commented on #28434
@yuharucan Can you please walk through this [Quickstart: Create an instance of the Azure Database Migration Service by using the Azure portal](https://docs.microsoft.com/en-us/azure/dms/quickstart-create-data-migration-service-portal). You are seeking an `offline` migration for RDS SQL -> Azure SQL Database.

What I do see is a tutorial for an `online` migration: [Tutorial: Migrate RDS SQL Server

[2019-04-01 22:26] jeevansd commented on #26214
@JamesDickson108 This is fixed now on Step 4.e. Please review.
@chetansriv Please update the package to show the SAML Logout URL in the UI. After that we can remove the App Registration steps.

[2019-04-01 22:27] jeevansd commented on #25572
@chetansriv To fix this issue.

[2019-04-01 22:28] SnehaGunda commented on #28314
@andylholloway the post you have linked to was responded by Cosmos DB team on Feb 22, 2017, its more than 2 years old. We have had multiple updates to the RU limits since then. The latest minimum RU value for partitioned containers/collections is 400 RU/s the docs are updated with this latest value.

We will close this issue if you don't have any further questions.

#please-close

[2019-04-01 22:28] jeevansd commented on #25569
@chetansriv Can you reach out to Bomgar team and get everything updated?

[2019-04-01 22:31] SergeyKanzhelev opened #28509 "I recieved a request to have a section on removing Application Insights"
It would be useful to have a section here on how to remove Application Insights from your project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0fe1dde-e648-523a-88f5-94811293729d
* Version Independent ID: 053b0d57-ab96-b235-cbe3-59f0c9e65bcb
* Content: [Monitor your ASP.NET Web App  with Azure Application Insights]

[2019-04-01 22:31] jeevansd commented on #25392
@chetansriv Yes we missed it in the last line for adding the map5 variable. So please add that here.

[2019-04-01 22:32] jeevansd commented on #24858
@arnrist We are working on this and as soon as we update the plugin I will let you know here and then we can close this thread.

[2019-04-01 22:32] jeevansd commented on #24858
@chetansriv FYI.

[2019-04-01 22:33] SnehaGunda commented on #26593
@tony-gutierrez thanks for your feedback, I have a work item for this, will work on the doc updates soon.

[2019-04-01 22:33] jeevansd commented on #24672
@poloHex We will reach back to SAP and ask them. In the interim can you also try to reach them and provide some public documentation if they have?
CC: @chetansriv

[2019-04-01 22:35] jeevansd commented on #24278
@klchung We are taking this as a feature request here. Now we will close this thread.

[2019-04-01 22:35] jeevansd commented on #24278
#please-close

[2019-04-01 22:36] jeevansd commented on #24277
#please-close

[2019-04-01 22:37] jeevansd commented on #23989
#please-close

[2019-04-01 22:37] DCtheGeek commented on #16527
@mark6628 Make sure you add the 'id' field to your query output when going over 1000 records, otherwise the autopaging in the CLI/PS won't work.

[2019-04-01 22:39] jeevansd commented on #22223
@henslecd  and @sweetcaoz We are workign with our engineering team on this to get the details on this issue.

[2019-04-01 22:43] poadhika opened #28511 "Will cosmos db automatically increases RU's if requested RU is not suffiicent for the data volume?"
We saw this unusual behavior in cosmosdb throughput provisioning and wanted to understand more.

We assigned a throughput of 10 K RU in the beginning and loaded 10 GB of data. We then reduced the throughput to 400 RU. We noticed that throughput  not was not lowered to 400 but set to 8200. We then again add another 10 GB of data. We noticed that the RU has now increased from 8200 to 8600.

Can you

[2019-04-01 22:43] Mike-Ubezzi-MSFT commented on #28461
@hansmbakker You need to subscribe to [App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environment/intro) to gain the static IP functionality. The App Service by itself does not allow for dedicated IP addresses. So, you can use the `Allow access to Azure services` to allow traffic to your Cosmos instance or build out a whitelist of specific IP addresses...or use VNet. T

[2019-04-01 22:44] iffarrukh opened #28512 "Windows 2016 Customization"
Can we customize Windows 2016 the same way?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD image - Azure](https://docs.microsoft.com/en-au/azure/virtual-desktop/set-up-custo

[2019-04-01 22:44] Karishma-Tiwari-MSFT commented on #28150
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-01 22:44] #28150 closed

[2019-04-01 22:49] #23891 closed

[2019-04-01 22:55] Karishma-Tiwari-MSFT commented on #28210
@dkkapur I know that, If you are quite sure about the authenticity of the source from where you are downloading the file, then you may want to [set an exception](https://www.thewindowsclub.com/download-failed-virus-detected-message-windows-10) in your antivirus software.
Can you please provide your insights/confirm that this is fine to do in this case? Thanks. :)

[2019-04-01 22:55] DJackson625 commented on #22223
As of today this is the synchronization details ( Enterprise applications - All applications<https://aad.portal.azure.com/> SalesForce– Provisioning)

Summary
We have synchronized 705 object(s) of type User to User.
Synchronization was last run on Mon Apr 01 2019 17:07:51 GMT-0400 (Eastern Daylight Time)
Most recent full synchronization was completed Mon Apr 01 2019 17:07:51 GMT-0400 (Eastern Dayl

[2019-04-01 23:03] KeiroKamioka0000 opened #28513 "Does is support the VM with 'SpanVolume', 'raid0', 'Stripe-Disk' ???"
Hello, please consider to add about availability of VM with 'SpanVolume', 'Raid0', 'Striped Disk'
Which are technically merged/combined disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88beaa58-adf5-28ef-5510-01ace6923eef
* Version Independent ID: 02b2de6f-ba0a-d9dc-fd4f-c0c4d3a46107
* Content: [Frequently asked qu

[2019-04-01 23:06] Mike-Ubezzi-MSFT commented on #28496
@daveknaus Do you have java installed? I upgraded to the latest driver version an unable to reproduce your specific issue. Does the `Test` connection button return `Success`?!

![Screenshot (353)](https://user-images.githubusercontent.com/37126106/55365036-d614e800-5497-11e9-80d9-acee1f43fcd3.png)

![Screenshot (348)](https://user-images.githubusercontent.com/37126106/55365049-de6d2300-5497-11e9-9

[2019-04-01 23:13] BryanTrach-MSFT commented on #28229
@arvindrajachourasiya Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-01 23:13] #28229 closed

[2019-04-01 23:13] MicahMcKittrick-MSFT commented on #21032
@micrajesh yes sorry for the delay. I am working on finding some resources to go through this doc and update it.

[2019-04-01 23:19] MicahMcKittrick-MSFT commented on #13937
Working now to address this and #14032

Will close one and work off a single issue.

[2019-04-01 23:19] #13937 closed

[2019-04-01 23:19] SnehaGunda commented on #28110
@FernandoHidalgoSWBI thanks for the feedback, I submitted a fix to update the doc.

WRT to your comment on this: ""Edit Schema" button should be editing the schema of the current DNS... not an schema that needs to be saved and then loaded in the previous window." can you please file a [user voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) request, our product team can look into it

[2019-04-01 23:22] MicahMcKittrick-MSFT commented on #12666
We will close this for now as we have not heard back from you.

[2019-04-01 23:22] #12666 closed

[2019-04-01 23:24] SnehaGunda commented on #28416
@cloudmelon

Accept connections from within public Azure datacenters: If your Azure Cosmos DB account is used by other Azure services like Azure Search, or is accessed from Stream analytics or Power BI, you allow access by selecting Accept connections from within public Azure datacenters.

This doc has more details about both the options: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-con

[2019-04-01 23:29] MarileeTurscak-MSFT commented on #28489
@seshenoy
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-01 23:29] bandersmsft commented on #28328
@wrooot Per Julia Reid, the article is accurate and up-to-date. We aren't supposed to show prices in our screenshots and you should definitely see the No support option.

#please-close

[2019-04-01 23:29] MarileeTurscak-MSFT commented on #28493
@seshenoy
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-01 23:30] rohitsaigal opened #28514 "Groups related overage claims "groups:src1" and "hasgroups" still point to old Azure AD Graph API instead of newer Microsoft Graph API"
General recommendation is to use newer Microsoft Graph API (`https://graph.microsoft.com`) over Azure AD Graph API (`https://graph.windows.net`) as per [Office 365 Developer Blog: Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/)

Groups related APIs are already available as part of Microsoft Graph API v1 for production us

[2019-04-01 23:32] RobertClarke opened #28516 "Copy new and changed files by LastModifiedDate with Azure Data Factory"
Seeing this error when I copy the LastModified_From/LastModified_To parameters word for word:

Activity Copy_opk failed: The expression 'trigger().outputs.windowStartTime' cannot be evaluated because property 'windowStartTime' doesn't exist, available properties are 'headers, body'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-01 23:36] MarileeTurscak-MSFT commented on #28493
Thanks @seshenoy ,
I'm assigning this issue to @MarkusVi to look into.

@MarkusVi can the tables be updated to include Azure Blob Storage?

[2019-04-01 23:43] Grace-MacJones-MSFT commented on #28505
Hi @sebagomez , Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 23:44] davidahoward opened #28517 "convoluted instructions to get root certificate"
Using the MQTT protocol directly, TLS/SSL configuration
DigiCert Baltimore Root certificate - why not just have a link to the certificate, rather than a link to somewhere where you can cut the cert, edit it, and save it... its unnecessarily difficult, and error prone.
"In order to establish a TLS connection, you may need to download and reference the DigiCert Baltimore Root Certificate. This certi

[2019-04-02 00:00] cloudmelon commented on #28416
Hi,

So I am assuming if this cosmos DB used by Azure function should also check this case right ? Thanks.

[2019-04-02 00:05] sudhirap commented on #28238
@LMtx The blobs are not encrypted by the Blob Storage module. Does the attacker have full access to the device when it is compromised? If so encryption keys stored through software locally are not safe. In your scenario does the device have a Hardware Security Module (HSM)? If so your keys could be stored there. However the Blob Storage module needs to know those keys to perform the encryption at

[2019-04-02 00:18] eraoul opened #28518 ""There aren’t SDKs available that will work with Data Lake Storage Gen2 accounts.""
Is there a timeline for an SDK (and Blob Storage APIs) to become available?

I'm using custom python code but it looks like I need to stay with Gen 1 since Gen2 is only usable from Databricks and HDInsight. I'd like to know if I will eventually be able to move to Gen 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46

[2019-04-02 00:18] MartinJaffer-MSFT commented on #28484
Thank you for closing the ticket, @patrick-at-atomic-charge.

[2019-04-02 00:19] MartinJaffer-MSFT commented on #28516
Thank you for bringing this issue to our attention.  We will review the document and get back to you.

[2019-04-02 00:21] davidahoward opened #28519 "api-version=2018-06-30"
For the Username field, use {iothubhostname}/{device_id}/?api-version=2018-06-30, where {iothubhostname} is the full CName of the IoT hub.

?api-version ... doesn't appear to be necessary (anymore)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87

[2019-04-02 00:21] msrini-MSFT commented on #28455
@shaikhosama , Documentation have been updated.

[2019-04-02 00:21] #28455 closed

[2019-04-02 00:22] #12265 closed

[2019-04-02 00:27] himanshusinha-msft commented on #28345
Thanks for the reply .

 This is not something which we can repro at this time , can you please share the subscriptionId with us ? . So that somebody from our side can have closer look on this and help you .

[2019-04-02 00:33] Mike-Ubezzi-MSFT commented on #28511
@poadhika Thank you very much for your interest in Azure Cosmos DB. What has happened is that you have crossed the threshold for a fixed collection and are now likely running a partitioned collection. The max size for a fixed collection is 10Gb. With a partitioned collection with an original RU setting of 10K, is now running an adjusted RU. This RU adjustment only happens in this specific scenario

[2019-04-02 00:34] Mike-Ubezzi-MSFT commented on #28511
Please take a look at the following: [Partitioning in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview)

[2019-04-02 00:41] Mike-Ubezzi-MSFT commented on #28506
@totodile94 Thank you for bringing this to our attention. I am currently investigating and will update this issue with the next steps.

[2019-04-02 00:41] StingyJack commented on #28347
@danimir - whats up with you all asking @Mike-Ubezzi-MSFT to #please-close issues?  If you think you answered it as best as is possible, just close it yourself, though it doesn't usually take me long to catch up and close it if its an answer I can work with.  Asking a 3rd party is just... strange.

[2019-04-02 00:42] sdk-bonsai opened #28520 "Downloading files from compute node"
I have looked into several pages and alternatives of Azure batch documentation, but I did not find how to programmatically download files from compute nodes. The example only shows how to retrieve output files manually from portal, which is not as practical, what if you need to retrieve output files from 100 nodes. Perhaps, such functionality doesn't exist in Azure batch, as of today.

---
#### Do

[2019-04-02 00:45] Mike-Ubezzi-MSFT commented on #28110
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-02 00:45] #28110 closed

[2019-04-02 00:49] JihongL commented on #28311
@AshokPeddakotla-MSFT Thanks for answer.
So, only messages between Edge Hub Module and Azure IoT Hub are stored.
How about communication between Modules? If some module stopped by some reasons during processing, is messages are perished?

[2019-04-02 01:10] mattchenderson commented on #6553
Closing as this is an old issue that should have been handled by the work @cephalin did. If this is still an issue, please reopen.

#please-close

[2019-04-02 01:13] JYOTHIRMAISURI commented on #5716
the required information was release noted on March 14 2018. marking this as complete now.

[2019-04-02 01:14] MikeChristensen opened #28521 "What is the Cluster Manifest and how do I create/edit it?"
A few steps include updating your cluster manifest.  However, where is this file?  If we created a Service Fabric cluster through the Azure Portal, how do we update the cluster manifest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7df6f76-be53-ff44-5d81-aa1c2c2a1c51
* Version Independent ID: 9e3b3112-bcd1-cee5-48ed

[2019-04-02 01:22] JYOTHIRMAISURI commented on #5716
#close

[2019-04-02 01:23] JYOTHIRMAISURI commented on #6515
#close

[2019-04-02 01:27] femsulu commented on #28504
@carteixeira Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 01:37] JYOTHIRMAISURI commented on #20295
@ananthradhakrishnan  please add your comments. thanks.

[2019-04-02 01:47] guhuajun opened #28523 "Is it possible to specify iteration id?"
Is it possible to specify iteration id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* Content: [Example: Use prediction endpoint to programmatically test images with classifier - Custom Vision](https://docs.microsoft.

[2019-04-02 01:47] pournejati commented on #28189
Thanks for the clarification. It helped a lot.

[2019-04-02 01:47] #28189 closed

[2019-04-02 01:48] kobulloc-MSFT commented on #28509
@SergeyKanzhelev Thank you!  I know that there has been interest in seeing this documented.  I will assign this to the document author so they can update our documentation accordingly.

[2019-04-02 01:51] v-samiya opened #28524 "Azure snapshot - downloaded as VHD file (however, the exported file didn't have extention)"
Is it the intended specification for VHDs downloaded this way to be saved as a file without a file extension? Can I manually change the file extension to have it work as a vhd file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-d9c6-574c-c6a4-36b0

[2019-04-02 01:53] easonlauys commented on #28436
Yes, in my scenario it's a multi-node production Azure Stack. The URL that you've provided is towards storage, not physical memory that I'm asking here. The Admin portal only shows the overall capacity on Physical Memory, but it does not drill down to which subscriptions or VMs that are using those memory. We noticed there could be a discrepancies on the figure shown on the dashboard on what is th

[2019-04-02 02:02] mike-urnun-msft commented on #27709
@bdschaap We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-02 02:02] #27709 closed

[2019-04-02 02:05] DeanGross commented on #28446
Thanks for the explanation, but when I see "The classification engine scans your database for columns containing potentially sensitive data and provides a list of recommended column classifications. " it is telling me that the actual data is being scanned. Please update the documentation to make it more clear that it is only the column names that are being scanned.

[2019-04-02 02:08] femsulu commented on #28512
@iffarrukh Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 02:10] femsulu commented on #28513
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-02 02:24] rossdo88 opened #28525 "Unable to connect to Blob storage container"
When i tried to connect Azure blob via Azure storage explore, error:
Error - Unable to retrieve child resources in Azure Storage Explorer

when open by browser:

InvalidUri The requested URI does not represent any resource on the server. RequestId:88282800-14f3-4963-a5da-07a260a6f58b Time:2019-04-01T14:13:09.8399259Z http://rachel:11002/ URL path http://rachel:11002/ doesn't represent any valid re

[2019-04-02 02:59] #28314 closed

[2019-04-02 03:00] neeleshray commented on #27992
@billmath
Bill, could this be verified ?

[2019-04-02 03:02] neeleshray commented on #28289
@danieldobalian
Daniel, could you kindly verify the customer's suggestion ?

[2019-04-02 03:04] neeleshray commented on #28290
@danieldobalian
Daniel, could you kindly verify the customer's suggestion ?

[2019-04-02 03:11] KalyanChanumolu-MSFT commented on #28189
@pournejati We will now proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-04-02 03:40] SnehaAgrawal-MSFT commented on #28508
@EonHale Thanks for the question! We are investigating and will update you shortly.

[2019-04-02 03:49] PramodValavala-MSFT commented on #28139
@petrce Sorry for the long silence. I was able to confirm that this is indeed not possible and unfortunately, there isn't any workaround at the moment.

Please feel free to open a feature request on [UserVoice](https://feedback.azure.com/forums/909934-azure-event-grid) for this.

We are assigning this issue to the content author to review and update the docs accordingly.

[2019-04-02 03:58] arvindrajachourasiya commented on #28229
@RyanHill-MSFT - Answer was convincing enough. Thank you for help.

[2019-04-02 04:02] RohitMungi-MSFT commented on #28503
@mpsingh24 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-02 04:03] wmgries commented on #27889
Hi folks,

Not a Blobs PM, but the IOPS limits are identical for Hot and Cool Standard Storage. Archive storage needs to be rehydrated to Hot or Cool storage before being read.

Hope this helps - please let me know if you have any follow up questions.

Thanks,

Will Gries
PM, Azure Files

#please-close

[2019-04-02 04:03] RohitMungi-MSFT commented on #28523
@guhuajun Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-02 04:04] sebagomez commented on #28505
Actually, I found the solution thanks to a blog post by @rramachand21 ([Announcing Bring your own Storage to App Service](https://blogs.msdn.microsoft.com/appserviceteam/2018/09/24/announcing-bring-your-own-storage-to-app-service/)).

The doc should mention that a link with a storage account must be created via the `az webapp config storage-account add` azure cli command and that the `custom_id` s

[2019-04-02 04:04] KetanChawda-MSFT commented on #28171
@MarcinJuraszek Thank you for the confirmation. I am glad that it worked. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 04:04] #28171 closed

[2019-04-02 04:07] KetanChawda-MSFT commented on #28288
@jaryder Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

@ggailey777 Can we add this as a note in doc ?

[2019-04-02 04:07] #28288 closed

[2019-04-02 04:07] #28432 closed

[2019-04-02 04:13] msfussell commented on #6981
#please-close

[2019-04-02 04:16] PramodValavala-MSFT commented on #28172
@bhimjik Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 04:16] #28172 closed

[2019-04-02 04:20] AshokPeddakotla-MSFT commented on #28498
@aishanibhalla Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 04:22] AshokPeddakotla-MSFT commented on #28499
@ThomasPiskol Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 04:23] SnehaAgrawal-MSFT commented on #28442
@thommck Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-02 04:25] AshokPeddakotla-MSFT commented on #28525
@rossdo88 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 04:27] CHEEKATLAPRADEEP-MSFT commented on #27140
@yohanprs Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-02 04:27] #27140 closed

[2019-04-02 04:30] AshokPeddakotla-MSFT commented on #28519
@davidahoward Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 04:44] CHEEKATLAPRADEEP-MSFT commented on #28518
@eraoul Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?).

Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-04-02 04:47] #28328 closed

[2019-04-02 04:48] mahoekst commented on #28289
Look like it's because of a newer version of the library it broke some of the older code.

[2019-04-02 04:48] jakaruna-MSFT commented on #28214
@Deepudev13 is there any update

[2019-04-02 04:49] jakaruna-MSFT commented on #26438
@mayankag289 is there any update

[2019-04-02 04:51] jakaruna-MSFT commented on #28086
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 04:52] jakaruna-MSFT commented on #28095
@nmikuni I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 04:55] jakaruna-MSFT commented on #28217
@roygara In azure products page, Two services are pointing to the same link. Please refer to my above comment for links.
I think the customer is referring to them only.  Please investigate further and update the document as required.

[2019-04-02 05:03] hieumoscow commented on #26263
Hi team, is this issue resolved? I still run into 500 when trying out newer images.

fail: Luis[0]
      Failed while prefetching App: AppId: e931a9db-854e-4e37-90e5-68f8172260b0 - VersionId: 0.1 No parameterless constructor found for Microsoft.Luis.Train.Feature.IVectorizationData
fail: Luis[0]
      Failed while prefetching App: AppId: 17716244-7508-4354-a172-5e47053ed2f9 - Slot: PRODUCTION No p

[2019-04-02 05:07] santoshmallena commented on #28217
Yes. you are correct my suggestion is why if both services are the same
better to keep as one name right in the product page.

Thanks&Regards,
Santosh Mallena.

On Tue, Apr 2, 2019 at 10:25 AM jakaruna-MSFT <notifications@github.com>
wrote:

[2019-04-02 05:08] phanikkm commented on #26263
Thanks @hieumoscow let me follow-up with my team and get back this week.

[2019-04-02 05:18] AshokPeddakotla-MSFT commented on #28517
@davidahoward Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 05:19] AshokPeddakotla-MSFT commented on #28499
@ThomasPiskol We kindly ask you to file an issue under https://github.com/Azure/azure-iot-sdk-csharp/issues repo for further help on this issue.

[2019-04-02 05:23] yashesvi commented on #28215
Yes the RI will cover the base VM deployed for marketplace. Will update the doc for it. Thanks for the feedback.

[2019-04-02 05:24] AshokPeddakotla-MSFT commented on #28525
@rossdo88 Please follow this [article](https://social.technet.microsoft.com/wiki/contents/articles/40188.error-unable-to-retrieve-child-resources-in-azure-storage-explorer.aspx) to resolve the issue. Let me know if you need further help.

[2019-04-02 05:27] marinnedea opened #28527 "Incorrect kernel"
For CentOS and RHEL you are mentioning the images SKUs instead of kernels, although you ask to check for kernel version using the uname -r command. Also, you forgot to mention all other supported distributions, like CoreOS, Oracle Linux, FreeBSD..etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b

[2019-04-02 05:40] angoyal-msft commented on #28204
@ImrePyhvel I hope your concern has been resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-02 05:40] #28204 closed

[2019-04-02 05:48] jakaruna-MSFT commented on #28521
Thanks for the question! We are investigating and will update you shortly.

[2019-04-02 05:49] jakaruna-MSFT commented on #28520
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 05:51] Maqsoodp commented on #28429
Here is the details -

When trying to upload a file which is within the fileuploadlimit , below rule getting triggered -
Access denied with code 403 (phase 2). Match of "eq 0" against "MULTIPART_UNMATCHED_BOUNDARY" required.

File Size: Less than 10Mb
SKU size: Medium

[2019-04-02 05:56] Mike-EEE opened #28528 ""location near your Dynamics instance" Take II"
It would seem that an issue was closed without being confirmed by the author that it was sufficiently resolved:
https://github.com/MicrosoftDocs/azure-docs/issues/6243

It is my understanding that the documentation has not been updated to present the information as requested, nor was an explanation given on why it was not done.

I asked for confirmation in the issue but did not hear a response (ex

[2019-04-02 05:58] Mike-EEE commented on #6243
FWIW, re-created the issue here:

https://github.com/MicrosoftDocs/azure-docs/issues/28528

Please consider getting confirmation from the author (or at least, answering their questions) before closing an issue.

[2019-04-02 06:06] msrini-MSFT commented on #28429
@Maqsoodp ,

The size of uploaded content not affects this issue, but if you have any boundary-like line in content, the it does.

I am referencing the similar issue here [https://github.com/SpiderLabs/ModSecurity/issues/1804](url)

https://github.com/SpiderLabs/ModSecurity/blob/bc3d3f19154793e23568103b931a15168b34d768/modsecurity.conf-recommended#L77-L120

[2019-04-02 06:07] CHEEKATLAPRADEEP-MSFT commented on #28528
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-02 06:09] msrini-MSFT commented on #28527
@marinnedea , Thank you for your feedback. I will take a look and get back to you shortly.

[2019-04-02 06:13] wrijughosh commented on #28384
Yes I checked and I had an older version of Azure CLI in my local. I think we must mention in the documentation that latest Version or specific or higher version is needed to get the desired result.
Also it would be great to have meaningful error message when we run it in later version.

[2019-04-02 06:22] LMtx commented on #28238
Hello @sudhirap Most of my devices will not have HSM (we will use small cheap devices). Thank you for information - I will implement custom encryption in edge module. In my opinion you should consider implementing storage encryption in edge runtime, storing data as plain text on device is not secure.

[2019-04-02 06:22] #28238 closed

[2019-04-02 06:28] dcbrown16 opened #28530 "Deprecated link"
"For information on managing user accounts programmatically, see the User entity documentation in the API Management REST reference."
The link in this statement at the beginning of the doc, and also linked near the bottom, says it is deprecated. Is there a more recent version somewhere, or is it still valid for the purposes described here?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-04-02 06:30] gsilva5 commented on #21006
Travis is correct.  Appreciate the feedback and we will consider options to make this clearer.

[2019-04-02 06:34] PiyalGeorge opened #28531 "Connect php-MongoDB application with CosmosDB"
Hi, I have a PHP-MongoDB application. I want to connect the application with CosmosDB. I have seen methods by using Nodejs, python drivers etc. Also [this](https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#GetCustomConnection) actually points us to custom drivers, which is my case. I've tried this also, but couldn't find the right answer. I have tried with php-mongodb driver

[2019-04-02 06:48] DixitArora-MSFT commented on #28530
@dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2019-04-02 06:59] mike-urnun-msft commented on #24005
Closing as part of https://github.com/MicrosoftDocs/azure-docs/issues/25898#issuecomment-469145652

[2019-04-02 06:59] #24005 closed

[2019-04-02 06:59] dohughes-msft commented on #28451
@georgewallace yes that's correct, I want to execute a script inside a Linux VM from an automation runbook. CLI is not available for that.

[2019-04-02 07:04] JohnD76 opened #28532 "Can you update this to show how managed disks fit in please."
The article appears to be advising the creation of unmanaged storage accounts, and selecting the GRS option.

Please can you update to include if/where Managed Disks (LRS) fit into this model since most people will be using managed disks for their IaaS deployments.

Managed disks are the default option for IaaS these days and this will break the HA model described above owing to the Data being rep

[2019-04-02 07:29] kazshi commented on #27889
@wmgries Thanks for your comment.
I got the following link
Azure subscription limits and quotas | Microsoft Docs
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#storage-limits

and found the following link.
Announcing larger, higher scale storage accounts | Blog | Microsoft Azure
https://azure.microsoft.com/en-us/blog/announcing-larger-higher-scale-storage-accounts/

[2019-04-02 07:29] torhovland opened #28533 "ApplicationInsightsAgent_EXTENSION_AGENT"
In the troubleshooting section, you refer to `ApplicationInsightsAgent_EXTENSION_AGENT`. Surely, this should be `ApplicationInsightsAgent_EXTENSION_VERSION`, which is mentioned several other places in the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent

[2019-04-02 07:29] kishan19 commented on #27189
Thanks a lot for this.

[2019-04-02 07:50] hansmbakker commented on #28461
@Mike-Ubezzi-MSFT are you saying that my scenario / solution is not possible without an App Service Environment (ASE)?

If the idea is that
- VNET Integration allows access from App Service to VNET
- CosmosDB VNET service endpoint allows access from VNET to CosmosDB
- access can be restricted by CosmosDB to traffic originating from the VNET

Then why can't I route the App Service --> CosmosDB traf

[2019-04-02 07:55] shashishailaj commented on #28514
@rohitsaigal Thank you for your feedback . We will investigate and update further.

[2019-04-02 07:59] YASWANTHM-MSFT commented on #27889
@kazshi, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-02 07:59] #27889 closed

[2019-04-02 08:01] AndyFromVolvo commented on #28345
Hi @himanshusinha-msft

Sure. The subscription ID is ebd81905-bece-43a3-b240-730617db217f

Regards,
Andy

[2019-04-02 08:02] JohnD76 commented on #28532
If you can also add some explanation around the use of Primary and Secondary Storage accounts and how they help support HA across Multiple Geo's this would also be very beneficial to readers.

[2019-04-02 08:03] angoyal-msft commented on #28531
@PiyalGeorge Thanks for your feedback. Could you please refer this [PHP wrapper for Cosmos DB SQL operations (ex DocumentDB).](https://github.com/crassaert/php-azure-documentdb)
Hope it helps.

[2019-04-02 08:07] jakaruna-MSFT commented on #28520
@sdk-bonsai In this tutorial, Output files are placed under Blob service in a storage account.
You can programatically access([Rest](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob), [CLI](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest) and [powershell](https://docs.microsoft.com/en-us/powershell/module/azure.storage/get-azurestorageblobcontent?vie

[2019-04-02 08:09] YASWANTHM-MSFT commented on #28532
@JohnD76, Thanks for the comment!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 08:13] rkarlin commented on #13748
Hi @jfuller28495 I'm sorry this is taking so long. It's a mistake and I've been hunting around trying to find out what it was supposed to be. In the meantime I'm removing it, and will update it as soon as I locate the correct port number. thanks for catching this.

[2019-04-02 08:14] rkarlin commented on #13748
#please-close

[2019-04-02 08:20] YASWANTHM-MSFT commented on #28532
@JohnD76, Thanks for the comment!I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-04-02 08:21] RohitMungi-MSFT commented on #28503
@tulasim88 The [documentation ](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=cognitive-services&regions=canada-central,canada-east)for the available regions of QnAMaker shows it is available in canada central and the portal allows us to create the service in this region but when the service is deployed it only points to westus. Here are the screen shots of the same:

[2019-04-02 08:30] genlin commented on #25394
@ghuntley，The articles has been updated. I will process to close this issue. Feel free to reopen it if you have any additional comment or feedback about this issue.

#please-close

[2019-04-02 08:30] genlin commented on #25772
@bpr-admin，The article has been updated. I will process to close this issue. Feel free to reopen it if there is any additional comment or feedback.

#please-close

[2019-04-02 08:40] RohitMungi-MSFT commented on #28523
@guhuajun I believe you are referring to using the prediction API with the iteration id. In the previous version v2 the iteration id was used in the URL where the URL was similar to the one below.
`https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Prediction/<prediction_id>/url?iterationId=<iteration_id>`

For version v3 the name of the iteration is used in the URL.
`https://sou

[2019-04-02 08:42] rkarlin commented on #27512
Hi @georgiikon Thanks so much for reaching out. Here are some links to the Syslog documentation that might help you configure your Daemon. We're considering how much of their  configuration to include in our own documentation, but for now please use this:
Rsyslog:
https://www.rsyslog.com/doc/v8-stable/tutorials/tls_cert_summary.html
Syslog-ng
https://www.syslog-ng.com/technical-documents/doc/syslo

[2019-04-02 08:42] rkarlin commented on #27512
#please-close

[2019-04-02 09:04] mcintyre321 commented on #27591
Thanks - it would be good to have some explicit text describing the lifecycle of the containers, so that we can make judgements about which containers it is sensible to run, and which should be replaced by PAAS, or backed by disk.

Also some information about how the containers will interact (or not) in multi-instance app services. E.g. Redis is less useful than in a distributed setup if you have

[2019-04-02 09:07] robaker commented on #28149
[This recent update to the sample](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/pull/94/files/9112d607dfaaa5b78ac917c5b2d92c4b21eadfab), removes evidence of a call that could have been used to make an iteration the default and add the iteration name to classification call. Removal of the default iteration, and addition of iteration name to all client code, is a deliberate

[2019-04-02 09:09] ToriParla commented on #28149
I have the same issue, the endpoint has been changed from v2 to v3 and there is no default iteration, just published iteration. You have to specify the iteration when you call the service so it makes a lost of time to maintain client apps with the latest published model :(

[2019-04-02 09:10] bmitisor commented on #27171
As the websocket upgrade requests never complete, I suspect we actually reach the maxConcurrentRequestsPerCpu limit, as described here: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#cross-vm-numerical-limits

[2019-04-02 09:23] robaker commented on #28149
@ToriParla I'm thinking I can set the expected iteration name, to LiveIteration for example, unpublish the old iteration then publish the new iteration with that same name, to avoid having to update the clients for each iteration. There's a brief window where there's no LiveIteration, which is kind of yucky.

[2019-04-02 09:29] jakaruna-MSFT commented on #28521
@MikeChristensen If you have created the cluster from portal, You can go to "Custom fabric settings" and update the parameters.
![image](https://user-images.githubusercontent.com/43405697/55391637-68c88c00-5557-11e9-8ff9-d8157b5b4afc.png)
You need to choose a section and then choose a parameter and update its value.
You can also do that from Programatically.

[2019-04-02 09:30] jakaruna-MSFT commented on #28512
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 09:34] jakaruna-MSFT commented on #28418
@mshahat  I will close this out for now. We will track this issue with the related issue posted in the above comment.

[2019-04-02 09:34] #28418 closed

[2019-04-02 09:43] jakaruna-MSFT commented on #28524
Thanks for the question! We are investigating and will update you shortly.

[2019-04-02 09:47] danimir commented on #28347
This is our process that we follow. Mike is internal to Microsoft, as am I. The question was answered in the best possible way. Thanks.

[2019-04-02 09:50] LaurensHagendoorn opened #28536 "silly image size requirements"
It appears an image where one side is 4200 does not work (image too large), 4199 is excepted, I suppose this is what between 50x50 and 4200x4200 means, but I would expect 4200 to be the upper limit, rather than 4199?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independe

[2019-04-02 09:54] #28536 closed

[2019-04-02 09:54] BhargaviAnnadevara-MSFT commented on #28533
@torhovland Thanks for bringing this to our attention! We're investigating this and will get back to you shortly.

[2019-04-02 09:59] sergaz-msft commented on #27313
Sorry the late response @smoms .

That statement from Chipalo answers the question on UserVoice:

So my answer is still valid, you can use leaf devices connected to an IoT Edge acting as an Identity Translation Gateway. We are hearing the requests from our customers and will prioritize a sample for that.

Thanks!

[2019-04-02 10:03] JosieW commented on #7032
Is there any update on this? I've been looking at pricing for constrained vCPU VMs today and it still doesn't seem to reflect the saving on licence cost.

[2019-04-02 10:20] GeethalakshmiG commented on #23564
We shouldn't be having an issue if OS Disk is encrypted. Pl raise an support case if any issue for us to debug

[2019-04-02 10:21] AshokPeddakotla-MSFT commented on #28387
@troyhopwood Is this scenario possible? Can you please check this and provide your insights?

[2019-04-02 10:22] #25781 closed

[2019-04-02 10:23] GeethalakshmiG commented on #20435
I see all the guidelines are provided. I see no pending requests

[2019-04-02 10:23] #24664 closed

[2019-04-02 10:24] GeethalakshmiG commented on #15610
@rayne-wiselman  Pl check the section which are not hyperlinked properly

[2019-04-02 10:34] jmprieur commented on #16848
@russwilsonii: We are going to update the steps with the new portal experience soon
Meanwhile:
- if you want to use Azure AD v1.0, I'd advise you rather look at the README.md of the following (more recent) sample: https://github.com/azure-samples/active-directory-dotnet-native-desktop
- but if you are open to using the Microsoft Identity Platform v2.0, I'd recommend you have a look to the followin

[2019-04-02 10:35] jmprieur commented on #16848
BTW, I proposed a PR to fix the original issue #28539

[2019-04-02 10:38] guhuajun commented on #28523
Thanks for your answer. I will try.

[2019-04-02 10:38] #28523 closed

[2019-04-02 10:38] jakaruna-MSFT commented on #28521
You can also access the cluster manifest here `http://localhost:19080/Explorer/index.html#/tab/manifest`.
This if for a local cluster. Replace the protocol and hostname as per the cluster name in Azure portal.

[2019-04-02 11:02] tsubasaxZZZ opened #28540 "Describe about benchmarking"
"Optimize application performance" section refere  Benchmarking section, but it doesn't exists.
So it's need describe abount benchmarking.

---
Refer to the Benchmarking section at the end of this article for steps to run common benchmarking tools on Windows and Linux VMs.
---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-02 11:16] diab-mossa commented on #28210
I downloaded it from this page (https://go.microsoft.com/fwlink/?linkid=839354), the windows defender should not consider it as a virus, and it prevents me allowing the app!

[2019-04-02 11:17] ManojReddy-MSFT commented on #28514
@rohitsaigal Thanks for reporting this. Currently Azure AD still sends the AAD Graph endpoint in claims/token. I have reached out to the product team regarding this and got a confirmation that this is going to be changed to MS Graph endpoint. As of now they do not have an ETA for this.

The documentation will be updated accordingly as soon as the change goes live.

[2019-04-02 11:18] robaker commented on #28149
Another breaking change. They abandoned the .NET SDK: Microsoft.Cognitive.CustomVision.Prediction and unlisted it from nuget. The replacement is *almost* identical, so I've got to revisit the code to put it back on a supported SDK. For no benefit.

[2019-04-02 11:19] kristerkarto commented on #28113
I havent been in the office for quite some time. I dont really understand how I can use the

'((DateTime)context.Request.Body.As<JObject>[“foo”]).ToString(“yyyy-MM-ddTHH:mm:ss”)' in the body to create the request? Do you have a screenshot of an example of how this would look in the logic app? I would be able to use SOAP to REST in the connector with this approach?

[2019-04-02 11:21] abelal83 opened #28541 "Azure AKS AAD integration error"
followed the documentation here https://docs.microsoft.com/en-us/azure/aks/aad-integration
but when I try and login I get this error
The client 'xxx.xx@xxxx.com' with object id 'f6115ddd-4126-4ec1-bc59-7dd9acbd0dec' does not have authorization to perform action 'Microsoft.ContainerService/managedClusters/listClusterUserCredential/action' over scope '/subscriptions/a75c7008-66c1-4373-a0f3-xxxxxxxxx

[2019-04-02 11:22] abelal83 opened #28542 "Azure AKS AAD integration error"
followed the documentation here https://docs.microsoft.com/en-us/azure/aks/aad-integration
but when I try and login I get this error
The client 'xxx.xx@xxxx.com' with object id 'f6115ddd-4126-4ec1-bc59-7dd9acbd0dec' does not have authorization to perform action 'Microsoft.ContainerService/managedClusters/listClusterUserCredential/action' over scope '/subscriptions/a75c7008-66c1-4373-a0f3-xxxxxxxxx

[2019-04-02 11:22] #28541 closed

[2019-04-02 11:45] Gerald-Strozyk opened #28543 "Not relevant with Azure AD Connect version 1.2.70.0."
The options in the AD Connect wizard menu version 1.2.70.0 have changed.
Example: to repair the trust, 'Repair AAD and AD FS trust' does not exist anymore. We have to go through 'Manage federation' on the first screen, then 'Reset Azure AD Trust' on the second screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4a

[2019-04-02 12:02] AmirGeorge commented on #26263
Hi @hieumoscow ,

Are you sure you are using the latest container image? Does running the following command return an "Image is up to date" status?
`docker pull mcr.microsoft.com/azure-cognitive-services/luis:latest`

If not and this issue is with the latest container image, please share your .gz files with me over email.

[2019-04-02 12:04] totodile94 commented on #28506
@Mike-Ubezzi-MSFT Changing the agent pool to hostedVS2017 worked.

[2019-04-02 12:05] totodile94 commented on #28506
Can you add info on agent pool to the documentation.  Thanks for the help

[2019-04-02 12:05] Morhpeuss opened #28544 "Docker container won't start"
Hi,

I trained a model in Custom vision. I exported this model to support Docker. I build an image a start a container.

But the container exited. After I attach to the container I see this error:

"Op type not registered 'LeakyRelu' ..."

This looks like Tensorflow exception, but I am not able to resolve it.

[2019-04-02 12:14] robertwood62 opened #28545 "Do IP restrictions apply between Apps on the same ASE?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Restrict client IPs - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions)
* Content Source: [articles/app-service/a

[2019-04-02 12:17] JvDrunen opened #28546 "Wrong command at step 3 in Create a Recovery Services vault"
You are refering to a "old" azureRm command:
Get-AzRecoveryServicesVault -Name "myRecoveryServicesVault" | Set-AzureRmRecoveryServicesBackupProperties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f9ebab-55d5-7f1d-53d4-b09e3e5872ee
* Version Independent ID: 2e50aec5-881e-db9d-3162-e0a2ec53ff2f
* Content: [Azure Quic

[2019-04-02 12:26] jakaruna-MSFT commented on #28540
@tsubasaxZZZ Thanks for reporting.
Bench marking section is missing in the article. We can add the bench marking section or remove the statement which asks us to refer to the end of the article.

I am assigning this issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 12:34] jakaruna-MSFT commented on #28542
@abelal83 Can you let me know which command gave you this error in that document?
I think its `az aks get-credentials`. Let me know if i am right or wrong.

[2019-04-02 12:35] PiyalGeorge commented on #28531
@angoyal-msft , Below is my code by referring the link:

[code]
**But when i run i get result as following**:

object(Crassaert\AzureDocumentDB\AzureDocumentDB)#2 (2) {
  ["request"]=>
  object(Crassaert\AzureDocumentDB\Request\AzureRequest)#3 (3) {
    ["url":protected]=>
    string(34) "testing-sample.documents.azure.com"
    ["key":protected]=>
    string(88) "Hw5c75HwpTG9QecehRWgPgZjGxIY73RLQv

[2019-04-02 12:37] JosieW commented on #7032
Ok on further investigation it seems like it doesn't make any difference when you go from 4 to 2 or 1 vCPU e.g.:

E8 v3 = £2.93/hour
E8-4 v3 = £1.81/hour
E8-2 v3 = £1.81/hour as well

Where as for something like a DS12 v2 the 4,2, or 1 vCPU versions are all £1.48/hour.

Is there a minimum of 4 cores for the PAYG licenses (and therefore the 2 or 1 cpu variants are only beneficial for BYOL)? Or is t

[2019-04-02 12:38] phillipmai commented on #9764
@SaurabhSharma-MSFT any update on this?

[2019-04-02 12:38] jakaruna-MSFT commented on #28541
#28542 Duplicate issue

[2019-04-02 12:40] sujayvsarma commented on #28342
Do you have a response for this yet?

[2019-04-02 12:42] jakaruna-MSFT commented on #28544
@Morhpeuss Can you give me the document which you followed?
If this is not related to any particular doc, Then create a Thread in [MSDN - Azure Container services](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) and the Community will respond to it.

[2019-04-02 12:42] roryap commented on #21892
@wolfma61 Additionally, I'm getting the following response from the https://westus.api.cognitive.microsoft.com/sts/v1.0/issuetoken endpoint:

[code]

[2019-04-02 12:45] jakaruna-MSFT commented on #28545
@robertwood62 Can you give me the Document link which you are referring to?

[2019-04-02 12:49] jwargo commented on #21729
@spelluru Can you please take a look at this?

[2019-04-02 12:51] jwargo commented on #21729
@jefffhaynes Tags are a great way to do this and that's how most of our customers do it. The whole point of tags is to give apps/developers a means to identify users based on something other than the unique ID assigned to a device during registration. Yes, you can target the device directly using the device ID, but you can also use tags to send to groups of users.

[2019-04-02 12:57] Joepvtilburg commented on #27773
Also experiencing this error:

    "id": "/subscriptions/01c0266d-fa91-4918-a9a5-b2a028fc8522/resourceGroups/Test_WVD/providers/Microsoft.Resources/deployments/rds.wvd-provision-host-pool-20190402141619/operations/08586473995036309862",
    "operationId": "08586473995036309862",
    "properties": {
      "provisioningOperation": "EvaluateDeploymentOutput",
      "provisioningState": "Failed",

Any

[2019-04-02 12:58] Benjiiim opened #28548 "Issues with the Slack channel option"
The Slack channel option listed on this page has several issues.
- The hyperlink is pointing to the MSDN forum.
- The displayed URL doesn't work
- The URL is not a valid Slack workplace URL (must end with .slack.com according to https://slack.com/signin)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0a4ffb-2da4-9795

[2019-04-02 13:02] mbell85 opened #28549 "Convert active-standby to active-active"
@SubhashVasarapu-MSFT I'm revisiting this. I actually already have a working site-to-site VPN connection. Do I have to create a new VPN Gateway to use active-active mode? The reason I thought I could convert my current connection from active-standby to active-active is due to the portal showing the option in my Azure VPN Gateway configuration. This would seem to be more simple than having to creat

[2019-04-02 13:14] skiran11 commented on #27712
Hi,
Today, I created event-based triggers on Azure Data Lake Store Gen2.
After publishing the pipeline with the event-based trigger, I could no longer access the files in the data lake store and I received the same error as above in Microsoft Storage Explorer:

This endpoint does not support BlobStorageEvents, SoftDelete or AutomaticSnapshot. Please disable these account features if you would like

[2019-04-02 13:14] robertwood62 commented on #28545
Sure can.

https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions

My question is more about the face that an ASE can have multiple Apps running on it.  I’m curious if we can apply intra-App IP restrictions.  I’d like to allow external traffic to access Web App 1, but not Web App 2.  However, Web App 1 should be able to call Web App 2.  Could this be configured?  If yes, I’

[2019-04-02 13:15] jwargo commented on #20146
@eelitlauree Looking at the REST API (https://docs.microsoft.com/en-us/previous-versions/azure/reference/dn495827(v%3dazure.100)) I don't see a specific API for Baidu.

[2019-04-02 13:18] vhorne commented on #26552
A diagram has been added for the more complex public load balancer scenario.

[2019-04-02 13:21] SubhashVasarapu-MSFT commented on #27880
@nnamedieh , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-02 13:21] #27880 closed

[2019-04-02 13:23] julesman101 commented on #26552
That is absolutely fantastic. Many thanks for making this happen.

[2019-04-02 13:25] VVillar commented on #18030
Yes, I changed from $storageType = 'PremiumLRS'  to $storageType = 'Premium_LRS' and now the script is working.

[2019-04-02 13:26] jwargo commented on #19352
#please-close

[2019-04-02 13:28] jwargo commented on #18299
No immediate plans to add docs around React Native. We've started refreshing all the SDKs and Samples and I'll get to a React Native example as soon as I can, but probably not until later this year. #please-close.

[2019-04-02 13:29] jwargo commented on #14039
#please-close

[2019-04-02 13:29] jwargo commented on #9351
@spelluru is there anything we need to do here? I'm assuming your recent refresh updated this?

[2019-04-02 13:30] jwargo commented on #12238
@spelluru can you please take a look at this one? Do we need to do an update?

[2019-04-02 13:31] jwargo commented on #7573
#please-close resolved through recent docs update.

[2019-04-02 13:35] msrini-MSFT commented on #26552
@julesman101 I will go ahead and close this issue.

[2019-04-02 13:35] #26552 closed

[2019-04-02 13:35] daveknaus commented on #28496
I installed Java, and still cannot launch the schema editor.  I get the same error as above.

Yes, the connection succeeds.  I am however unable to use the connection in any applications.

[2019-04-02 13:42] kilasuit opened #28550 "Images are not properly showing from 12 onwards"
all links for the images are incorrectly showing the URL not the actual images

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf7e612-a8a4-ff95-2dd1-2c0eef051634
* Version Independent ID: edd2ffa9-0b4b-42f6-a3fb-24ef25c9cdec
* Content: [Copy on-premises data by using the Azure Copy Data tool](https://docs.microsoft.co

[2019-04-02 13:49] Blackmist commented on #28143
@QuickNS Thanks for the feedback. I'm checking with engineering as this feels like maybe a product bug. You can set run_config.amlcompute._cluster_max_node_count, which seems to be the way to make it work. But as you say, that's private and not documented in the SDK.

So, I've asked if this is a bug and we should have a public way of setting max nodes for run-based AMLCompute, or if this is by des

[2019-04-02 13:51] VVillar opened #28552 "Incorrect script"
This script get the information of a snapshot and creates another disk. I want to use an existing disk to create a virtual machine as the tittle says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8712c031-cf75-9523-0d70-2e33e7a3ca1d
* Version Independent ID: 87134f0c-b50a-a95b-a2e4-bb2eccd8da2b
* Content: [Azure Powe

[2019-04-02 13:55] AjayKumar-MSFT commented on #28400
@SaltyDH, You could try Get-AzUserAssignedIdentity which gets existing user assigned identities.

Get-AzUserAssignedIdentity -ResourceGroupName <your resource group>

Also, you could leverage Get-AzureADServicePrincipal cmdlet, which gets a service principal in Azure Active Directory with managed identity.
Get-AzureADServicePrincipal | where-object {$_.serviceprincipaltype -eq "managedidentity" }

[2019-04-02 13:56] KetanChawda-MSFT commented on #19352
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-04-02 13:56] #19352 closed

[2019-04-02 13:59] kprpg opened #28553 "Screen shots have changed"
When I went to install version 1902, the screen shots have changed. Please update them to reflect the new screens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46293a4-00e4-46d5-d052-09f49c99d3c9
* Version Independent ID: 885962d7-5273-424f-ebe9-8760065551fb
* Content: [Install the Azure Stack Development Kit (ASDK)

[2019-04-02 14:04] jmprieur commented on #16848
cc: @CelesteDG

[2019-04-02 14:07] KetanChawda-MSFT commented on #28113
@kristerkarto Logic Apps auto generates these liquid templates using the SOAP Stack from WSDL/swagger and manually crafting them is not possible.

There is a plan in place to add an option to disable date parsing in set body policy in future release of APIM, once that is available we will implement it in Logic App as well.

[2019-04-02 14:09] jn-altius opened #28554 "writeBatchSize implications"
Hi there, is there more information available as to what writeBatchSize impacts? There does not seem to be much info about, aside from a couple of SO questions (neither of which have in-depth answers).

For example, where is the buffer that fills? And how big is it? Is there a way to determine this, and combine that with the expected size-per-row in order to calculate the best throughput?

At the

[2019-04-02 14:12] AdamSharif-MSFT opened #28555 "LVM OS disk layout requirements"
Hi,

When attempting to encrypt the OS of a Linux VM using LVM for OS disk, we are directed to this page by the following error:

""LVM OS disk layout does not satisfy prerequisites (
see https://aka.ms/adelvm )".'"

Can we add the LVM prerequisites to this page?

Also, current statement on this page is "The OS disk uses a Logical Volume Manager (LVM) scheme. Although limited LVM data disk support

[2019-04-02 14:12] guyhorn1964 opened #28556 "How to find the Unique APP ID?"
Hi. In this article [https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership](url) Ms describes how to query all user's attributes. To do that I must get the [GUID] of Azure AD Connect if i'm reading the documentation correctly. Then I can do things like that. The problem is that I don't know how to get the GUID.

user.extension_c272a57b722d4eb29bfe3278

[2019-04-02 14:15] areddish commented on #28278
@RohitMungi-MSFT - Repo is now updated.

The prediction id is available in the settings page of the custom vision portal. For each Azure resource it shows the training key, endpoint, and resource id. You can also use the azure portal to find the custom vision prediction resource. The ID is available in the properties page.

[2019-04-02 14:16] dvgrn opened #28557 "typo in penultimate sentence"
"These runbooks should not be ran."  (ran -&gt; run)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284c2dfa-cfa0-11a3-c082-2bd14e4fbd63
* Version Independent ID: 84e724d8-aae8-942f-87ed-0e726f2155f8
* Content: [Using Az modules in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/az-modules#feedback)

[2019-04-02 14:17] jn-altius opened #28558 "What does "dataIntegrationUnits": 0 mean?"
Hi there, I've pulled an ARM template from the Portal and spotted that the default value for dataIntegrationUnits is 0
The Copy Activity I set up copies from Blob to Azure SQL. From the above documentation I believe this should be 4
At runtime, which value will be used? Will DF treat 0 as 'default' and run with 4 DIUs?

Could the above documentation be made clearer?

Thanks.

---
#### Document Det

[2019-04-02 14:19] rothja commented on #7032
@JosieW Thanks. I wonder if this has to do with the 4 core minimum per physical processor that SQL Server is licensed with in the non-Azure licensing world. I'll check with my contacts and get back to you on this.

[2019-04-02 14:22] psjeeper opened #28559 "Set-AzJitNetworkAccessPolicy : Internal server error occurred: Invalid location-based request"
Leveraging the example code in this document yields this error message if using non shortened location code as input:

$JitPolicy = (@{
    id="/subscriptions/[MY SUBSCRIPTION ID]/resourceGroups/[MY RESOURCE GROUP NAME]/providers/Microsoft.Compute/virtualMachines/[MY VM NAME]"
    ports=(@{
     number=22;
     protocol="*";
     allowedSourceAddressPrefix=@("*");
     maxRequestAccessDuration="PT

[2019-04-02 14:24] voicu-matei opened #28560 "What about multiple subscriptions?"
How do you indicate/tag your message with a specific category?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d5
* Content: [Get started with Azure Service Bus topics and subscriptions](https://docs.microsoft.com/en-us/azur

[2019-04-02 14:30] areddish commented on #28445
You can retreive the prediciton id from the settings page of the portal. Copy the full string from the prediction resource id.

![prediction-id](https://user-images.githubusercontent.com/30499261/55410207-4fecb600-5518-11e9-9547-3fbef324bbf9.png)

Alternatively, you can use the [Azure portal](https://portal.azure.com) to navigate to the Custom Vision prediction resource. Select that resource provi

[2019-04-02 14:38] SaltyDH commented on #28400
If I understand these commands correctly, they require authentication to the azure management apis. I'm looking for a local endpoint similar to the msi/token endpoint which will allow me to programmatically enumerate the user managed identities that have been assigned to the app service. This is so that I can provide the correct managed identity to the AzureServiceTokenProvider.

[2019-04-02 14:39] sdk-bonsai commented on #28520
But, is there a way to download from batch compute nodes? That doesn't seem to be documented anywhere. Doing it manually using Azure portal is possible for a few files, but for many files, it is not practical.

[2019-04-02 14:43] msangapu commented on #27591
@mcintyre321 Thank you for the feedback. We will consider it when we update this article.

[2019-04-02 14:48] Mike-Ubezzi-MSFT commented on #28506
@totodile94 Thank you for providing the additional resolution detail. Adding addition reference to the [Microsoft-hosted Agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml) reference documentation, as a link from the tutorial and details explaining that `hostedVS2017` is the correct value for the tutorial but here are the other possible values

[2019-04-02 14:49] rossdo88 commented on #28525
it does not help, delete data in folder means  delete storage you just added

[2019-04-02 14:52] Mike-Ubezzi-MSFT commented on #28506
@deborahc Looks like a minor edit needs to be made to this tutorial so the tutorial completes successfully.

[2019-04-02 14:54] MikeChristensen commented on #28521
The first way works, but a lot of parameters are missing.  For example, I'm attempting to change the "PruneContainerImages" setting in the "hosting" section, but it doesn't appear.

![image](https://user-images.githubusercontent.com/6528426/55412466-5715c300-551c-11e9-8234-e67ae7518c07.png)

[2019-04-02 15:01] wolfma61 commented on #21892
we only document a POST to that endpoint with the subscription key in the header ... unless I'm missing something. So the GET not working could be expected

The sample still works for me ...
we don't support Win7 anymore,
I have no device currently where I could test this ...

[2019-04-02 15:03] hieumoscow commented on #26263
that's it, thanks @AmirGeorge , updating the image works. Thank you & @phanikkm for the support

[2019-04-02 15:16] mdinnocenzo opened #28562 "Cherwell Support Team link is incorrect"
The link for the Cherwell Support Team that directs to csm.cherwell.com needs to go to https://cherwellsupport.com/CherwellPortal instead.

Thanks,
Michael D
Cherwell Support Tier 2 Team Lead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01841428-6c2b-72dc-a21c-a9b4061f2b95
* Version Independent ID: ad568e9c-766a-24e4

[2019-04-02 15:16] georgewallace commented on #28451
@dohughes-msft So that is a problem, there are two ways to solve that. Run it from a [hybrid runbook worker](https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker) where you can install whatever you need locally. Or use the [REST API endpoint](https://docs.microsoft.com/en-us/rest/api/compute/virtual%20machines%20run%20commands/runcommand) for run command... You can ca

[2019-04-02 15:25] cratace commented on #28342
I am also interested in this type of configuration.

[2019-04-02 15:25] shashishailaj commented on #28543
@Gerald-Strozyk Thank you for pointing that out . We will look into this and get it updated after review .

[2019-04-02 15:27] shashishailaj commented on #28559
@psjeeper Thank you for your feedback . We will have this reviewed and updated accordingly.

[2019-04-02 15:29] shashishailaj commented on #28562
@mdinnocenzo Thank you for your feedback . We will review and get the document updated.

[2019-04-02 15:34] georgewallace commented on #28557
@dvgrn Thanks for catching that.  In the future, you can submit a PR directly to the article to correct that finding.  On the article page, click the **Edit** button. You can quickly change the text and submit a PR.  It comes directly to me and I can merge it immediately. I have submitted the fix and it will automatically closed when merged.

[2019-04-02 15:40] mrbullwinkle commented on #28533
@torhovland thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs by 11 AM (UTC -7).

[2019-04-02 15:40] TracyGH opened #28563 "Metadata Name Does Not Allow Base64 '=' character."
Per the documentation above:  "It's recommended that you use URL encoding or Base64 encoding for names and values containing non-ASCII characters."

This seems to work great for the 'value' portion of the HTTP Header pairs, but the 'name' property does not like the '=' character.  I get the following error when trying to save any 'Name' values Base64 encoded because of the terminating equals sign.

[2019-04-02 15:40] mrbullwinkle commented on #28533
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-02 15:45] DixitArora-MSFT commented on #28560
@voicu-matei Thanks for reaching out. We will review and update as appropriate.

[2019-04-02 15:45] SnehaAgrawal-MSFT commented on #28508
@EonHale Thanks for the question! When you use an External VIP, the DNS is managed by Azure. Any app created in your ASE is automatically added to Azure DNS, which is a public DNS.
You may refer this link https://docs.microsoft.com/en-us/azure/dns/dns-zones-records
If issue persists it will be helpful if you elaborate your error.

[2019-04-02 15:48] mrbullwinkle commented on #28509
Thanks @SergeyKanzhelev I created an internal work item to track this and will take care of this during this month's sprint.

[2019-04-02 15:49] EonHale commented on #28508
Thanks, I read that document.  I can tell you this isn't working for
ILB-ASE.  I manually added the records as instructed in this article but
none of my VMs can communicate with my App unless I manually set a hosts
file.  Thanks.

On Tue, Apr 2, 2019 at 11:45 AM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2019-04-02 15:51] Minewiskan commented on #28165
@GaretAnderson - As mentioned, this is a known bug in SSMS that's sort of been there a while. There is no functional negative effect. We bumped up the priority. I added a note to the article in the mean time.
#please-close

[2019-04-02 15:54] mrbullwinkle commented on #28456
A similar question was asked recently and was addressed by the PM who owns availability monitoring here:

[https://github.com/MicrosoftDocs/azure-docs/issues/26050#issuecomment-468814101](https://github.com/MicrosoftDocs/azure-docs/issues/26050#issuecomment-468814101)

adding @morgangrobin for awareness.

[2019-04-02 15:54] MrMCake commented on #28542
I'm having the same issue. It happens when I call
``` az aks get-credentials --resource-group "xyz" --name "xyz" ```
In my case no matter if I assign the group or the user id for access. By any chance: Does the user need to have any sort of RBAC access inside Azure? E.g. reader on the resource group of the deployed cluster? Right now the user is a member in the subscription and an AD group, but ca

[2019-04-02 15:58] jefffhaynes commented on #21729
I ended up bypassing azure hub and consuming the service directly. Tracking tags is an extra step I don’t need.

________________________________
From: John M. Wargo <notifications@github.com>
Sent: Tuesday, April 2, 2019 08:51
To: MicrosoftDocs/azure-docs
Cc: Jeff Haynes; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Use correct mechanism to send to specific users (#21729)

@jefffhaynes<https:/

[2019-04-02 16:03] GreggRevak opened #28564 "How do you know when to reinstall the DC agent?"
The note near the bottom explains that the algorithm may change in Azure and that the new algorithm is not available on premise until you reinstall the DC agent. How do you know when the algorithm has changed and when to reinstall the DC agent. This is a really bad design, since the DC agent for on premise protection is likely to be treated as a "set and forget" agent. So it is likely that the on

[2019-04-02 16:12] mrbullwinkle commented on #28402
@bmanners thanks for pointing that section out it definitely needs to be clarified a bit.

My understanding is we check to see if your application has any dependencies on the following packages: `Microsoft.ApplicationInsights`, `System.Diagnostics.DiagnosticSource`, and `Microsoft.AspNet.TelemetryCorrelation`. If any of those are detected we will automatically backoff runtime monitoring with Statu

[2019-04-02 16:18] sudhirap commented on #28238
@LMtx Thanks for your feedback. Encryption at rest is one of the higher priority investigations that my team will look into. Are you planning to encrypt the blob data before calling the Blob Storage module? How are you planning to persist the encryption key? Note that the Blob Storage module also supports tiering to Azure storage accounts. Any data landing there will need to be decrypted for usage

[2019-04-02 16:18] JasonWHowell commented on #28074
@desarkar Thanks for the question.

We recently changes the PowerShell cmdlets this past week. I think this article is already up to date as a result. Can you please double check the page, refresh it (F5) in the browser, and let us know if it resolves the concern.

Hope you are doing well, Thanks, Jason

[2019-04-02 16:20] eross-msft commented on #28123
@mossywell Thank you for your feedback.
This article is only intended to provide information about how to register a device, if an organization/admin requires it. In the case that you mention, the admins wouldn't require registration and the end-user wouldn't need to go through this process. At a later time we might attempt to provide more insight into registration, but for now we're only trying t

[2019-04-02 16:20] JasonWHowell commented on #28074
@desarkar here's the link for your convenience.
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-customize-cluster-linux#use-a-script-action-during-cluster-creation

[2019-04-02 16:21] willKim19 opened #28565 "Documentation does not detail how to actually download blobs realistically"
This snippet is "How to download blobs"

const downloadResponse = await blockBlobURL.download(aborter, 0);
const downloadedContent = downloadResponse.readableStreamBody.read(content.length).toString();
console.log(`Downloaded blob content: "${downloadedContent}"`);

But reading the blob requires the content.length, a variable defined within the scope. This isn't a realistic use-case, how can I get

[2019-04-02 16:26] JohnDoeKyrgyz opened #28566 "Instructions for using the V1 runtime are missing"
For those of us unfortunate enough to have to use a third party dll that only supports net462 we still need to use the V1 runtime. This documentation does not provide any information about setting up the V1 tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent

[2019-04-02 16:26] desarkar commented on #28074
Hi Jason,

I am doing good, hope you are too..

Yes, the article looks consistent now. Quick note: There is a section which says:
Apply a script action to a running cluster from Azure PowerShell
Before you start, make sure you install and configure Azure PowerShell. For information about configuring a workstation to run HDInsight PowerShell cmdlets, see Overview of Azure PowerShell<https://docs.mi

[2019-04-02 16:28] jakaruna-MSFT commented on #28542
[Azure Kubernetes Service Cluster User Role](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-user-role) is needed for the user to list user credentials of AKS cluster.
[Azure Kubernetes Service Cluster Admin Role](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-admin-ro

[2019-04-02 16:37] Mike-Ubezzi-MSFT commented on #28496
@daveknaus Thanks for this detail. This is perplexing! Could you take a look in Event Viewer (type: eventvwr in windows search) and take a look at application and windows logs for event pertaining to the ODBC driver activity while stepping through the schema editor steps. If events are hard to identify, you could do the following to get a clean set of logs:

- Clear existing logs for Windows Appli

[2019-04-02 16:37] CapKenR opened #28567 "Deployment failed"
Using the Azure CLI above to create a Kubernetes cluster with network policy, I get the following error.

Deployment failed. Error occurred in request., ConnectionError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/c5b0b06c-d53b-40ac-b336-a26fffc4e68f/providers/Microsoft.ContainerService/locations/centralus/operations/eaa6085b-b399-41c1-

[2019-04-02 16:37] jwargo commented on #21729
@jefffhaynes yep, that makes sense. #please-close

[2019-04-02 16:39] BryanTrach-MSFT commented on #14039
@faceoffers28 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 16:39] #14039 closed

[2019-04-02 16:40] BryanTrach-MSFT commented on #18299
@willatathena We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 16:40] #18299 closed

[2019-04-02 16:41] BryanTrach-MSFT commented on #7573
@BermudaLamb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 16:41] #7573 closed

[2019-04-02 16:41] #28557 closed

[2019-04-02 16:44] BryanTrach-MSFT commented on #21729
@jefffhaynes We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 16:44] #21729 closed

[2019-04-02 16:47] himanshusinha-msft commented on #28338
@anmtando : Can you please provide us the subscriptionId for the azure subscription which you are using ?

[2019-04-02 16:49] georgewallace commented on #28003
@KeiroKamioka0000 Thanks for reaching out.  Yes the maintenance window includes 10 minutes for reboots and you should factor that in when setting your maintenance window.  You can configure your system to [pre-download patches](https://docs.microsoft.com/en-us/azure/automation/automation-update-management#pre-download-updates) which will give you more time to install and less time on downloading.

[2019-04-02 16:51] Karishma-Tiwari-MSFT commented on #28552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 16:51] YutongTie-MSFT commented on #28536
@LaurensHagendoorn If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-02 16:51] iainfoulds commented on #28384
For this quickstart, the recommendation is to use the Cloud Shell, which always runs the latest version available. If you choose to run the Azure CLI locally, the doc does note a minimum required version:

![Screen Shot 2019-04-02 at 9 50 25 AM](https://user-images.githubusercontent.com/17856069/55420832-c7c4db80-552c-11e9-9dbf-7849c8a966fc.png)

[2019-04-02 16:54] YutongTie-MSFT commented on #28399
@orgads
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-02 16:54] #28399 closed

[2019-04-02 16:56] #28533 closed

[2019-04-02 16:56] djh82uk commented on #23789
Anyone have an update on this?  I can access if I pull the token or use the kube config file after running "kubectl proxy", but if I run az aks browse I get asked to login via the web (even though I have done az login already) with a device code, entering the code leads me to an error on the cmd line "Oauth token: Unknown Error".  I have setup the cluster with Rbac (with client and server app regi

[2019-04-02 17:03] #28003 closed

[2019-04-02 17:08] SaurabhSharma-MSFT commented on #28032
@sllewe apologies for my understanding but can you please provide scenario details to better assist you.
I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=requ

[2019-04-02 17:13] cynthn commented on #18030
@VVillar Thanks for the feedback! I filed a PR to get the script updated with the correct storage usage.

#please-close

[2019-04-02 17:18] ckarras commented on #20288
@zezha-msft I did various things to make it fail on purpose (disconnect network cable, put computer to sleep/hibernate), etc, since my objective was to test what happens when a large file download fails and I attempt to resume it. I already tried previously to lower the concurrency level, but it just caused the download to fail further in the download, forcing me to re-download 120gb instead of on

[2019-04-02 17:18] #18030 closed

[2019-04-02 17:22] ctahok opened #28568 "The NSG script referred here is deprecated"
This script is deprecated as you can use Network Security Group (NSG) service tags to control outbound connectivity required for ASR replication. You can refer to the below document for details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-e

[2019-04-02 17:25] mstearman opened #28569 "Disk Encryption in lieu of TDE"
Even though TDE is currently available for Hyperscale, would the underlying storage be encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418c8458-948a-4549-fbaa-90a17cd345ee
* Version Independent ID: b5635e09-241c-0eea-61cd-bfef388af124
* Content: [Azure SQL Database Hyperscale FAQ](https://docs.microsoft.com/e

[2019-04-02 17:26] SaurabhSharma-MSFT commented on #27512
@georgiikon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-02 17:26] #27512 closed

[2019-04-02 17:28] Grace-MacJones-MSFT commented on #27962
Hi @nelfer,  I have assigned the issue to the content author to evaluate and update as appropriate, with the necessary information about additional capabilities of the `AppServiceAuthSession `cookie.

[2019-04-02 17:28] erikschlegel opened #28570 "App Service - Multi Container - Kubernetes Pod Scaling Capabilities"
We'd like to use a kubernetes based manifest for deploying a pod manifest to an app service. Does the multi-container feature support kubernetes scaling capabilities like `minReplicas`, `maxReplicas`, `AverageUtilization`, etc?

[2019-04-02 17:28] curtand commented on #18991
Hi @pauska
It's been fixed. It think in March. I Can't find a repro now.

@MohitGargMSFT
#please close

[2019-04-02 17:33] pgbconfirmit commented on #23564
I did raise a support case when this happened and I was told I had to go through very complex steps to delete the VM, attach the orphaned disks to another VM, decrypt the disks using a stored key, then recreate the VM and attach the decrypted disks, as I mentioned in my original post here.

This is clearly a bug that needs to be resolved.

[2019-04-02 17:37] daveknaus commented on #28496
My machine is recording no events for that error.  Here is my version of Windows:
![2019-04-02 12_35_25-Command Prompt](https://user-images.githubusercontent.com/47277413/55423710-1467e100-5544-11e9-8586-a9bc7232c734.png)

Thanks for your help through all this.

[2019-04-02 17:39] aquibqureshi26 commented on #20288
I saw one article in Azure storage team blog, they had mentioned that if we are uploading 100GB of page blob and if transfer is interrupted after 30GB then you don't have to transfer from scratch. it will automatically start from 31 Gb

I believe articles are disabled hence I cannot see it.

https://blogs.msdn.microsoft.com/windowsazurestorage/2013/09/07/azcopy-transfer-data-with-re-startable-mode

[2019-04-02 17:43] jn-altius opened #28572 "maxDequeueCount of 1 runs twice"
I have an Azure Function with the extensions:queues:maxDequeueCount set to 1.

It runs twice :-/

On the first run it errors (due to a problem in a file it is processing). I expect it to fail once and not attempt to process the file a second time.
Before I discovered the maxDequeueCount the same Function would fail 5 times.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-04-02 17:44] poadhika commented on #28511
Thank you for the response.  When we looked at the metrics, we didn't see any additional partitions being added. Does this happens behind the scene?

We are working on one customer facing product where customers are billed on RU's they are requesting. We want to give a good user expereince to them  by showing actual RU's being allocated and therefore we need to undestand how to show  that exact va

[2019-04-02 17:45] Grace-MacJones-MSFT commented on #28363
@AndyEdmonds  thanks for the update! we are glad you were able to resolve your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 17:45] #28363 closed

[2019-04-02 17:48] MicahMcKittrick-MSFT commented on #28567
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 17:56] femsulu commented on #28556
@guyhorn1964 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 17:59] CeciAc opened #28573 "Using custom model IDs does not work like explained"
@strohne commented on [Tue Apr 02 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/273)

When using custom model IDs I get an error:

Could you please explain how to correctly provide the model ID?

My payload example:

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 73fb7e7

[2019-04-02 18:00] Grace-MacJones-MSFT commented on #28505
@sebagomez thanks for bringing this to our attention.

@msangapu can we update the doc with this info?

[2019-04-02 18:00] MicahMcKittrick-MSFT commented on #28570
@erikschlegel can you provide me with the link to the documentation you are referring to? If not related to a specific doc, we do have some scaling docs

https://social.msdn.microsoft.com/Forums/en-US/655cd5c0-a261-4634-af48-5151b00e448c/hns-failed-with-error-object-already-exists?forum=AzureServiceFabric

https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

[2019-04-02 18:00] femsulu commented on #28570
@erikschlegel Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 18:01] CeciAc commented on #28573
Hi team,
I'm moving this here since the user is making a comment about the original documentation
kind regards

[2019-04-02 18:04] MicahMcKittrick-MSFT commented on #28423
@NandishNM any update on this?

[2019-04-02 18:04] MicahMcKittrick-MSFT commented on #28460
@JavedEqbal I will close for now. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-04-02 18:04] #28460 closed

[2019-04-02 18:06] YutongTie-MSFT commented on #28573
@CeciAc Thank you for your feedback, we will investigate it and get back to you soon.

[2019-04-02 18:11] PatrickFarley commented on #26261
Change in PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/71757

[2019-04-02 18:11] Karishma-Tiwari-MSFT commented on #28372
Please refer to [this doc section](https://docs.microsoft.com/en-us/azure/batch/batch-linux-nodes#list-of-virtual-machine-images) which provides a list of Marketplace images complatible with the available batch node agents. However, it is mentioned there:

You can also see a list when you try to add pool to your batch account in Azure portal:

![image](https://user-images.githubusercontent.com/208

[2019-04-02 18:12] YutongTie-MSFT commented on #21892
@wolfma61 Thank you.

@roryap Hi, do you have support plan for your account? IF not, could you please send us an email at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread,
and I can create a free support ticket for you for further help. I have no Win7 device neither....

[2019-04-02 18:15] stijnbrouwers opened #28574 "Worth mentioning to update your cluster"
It might be worth mentioning to update you cluster to at least 1.10.12 when using Azure Disks.

I have been searching for a while on an issue where mounting the disk keeps throwing timeouts (not the first time the pod is created, but after deleting the pod to which the disk is attached).

If you look at the release notes of Kubernetes version 1.10.12 you can see that this is fixed here by andyzhan

[2019-04-02 18:18] SteveMSFT commented on #19134
This has been added to the backlog and #please-close.

[2019-04-02 18:21] roryap commented on #21892
@YutongTie-MSFT 	Thanks I have sent that email per your request.

[2019-04-02 18:23] msangapu commented on #28505
@sebagomez Thank you for your feedback. This update is already in the works (also tracking internally). We're releasing new articles soon and it will be updated along with that. Have a great day!

@Grace-MacJones-MSFT  Thanks Grace!

[2019-04-02 18:26] Grace-MacJones-MSFT commented on #28505
@msangapu  thanks for working on this.

@sebagomez we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 18:26] #28505 closed

[2019-04-02 18:34] MarileeTurscak-MSFT commented on #28555
@AdamSharif-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-02 18:34] pablolaurin opened #28575 "Update code for UWP"
The line:

TodoItemManager.DefaultManager.CurrentClient.ResumeWithURL(protocolArgs.Uri);

Should be:

MobileServiceClientExtensions.ResumeWithURL(TodoItemManager.DefaultManager.CurrentClient,protocolArgs.Uri);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c69fbe-d26e-fbb3-4ee4-adb6ca068d07
* Version Independent ID:

[2019-04-02 18:34] MarileeTurscak-MSFT commented on #28564
@GreggRevak
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-02 18:49] adost10A opened #28576 "PowerShell DSC has a 404 link in it"
under
'''
Learn how to:

Create a basic DSC configuration.
'''
Old Link: https://docs.microsoft.com/en-us/powershell/dsc/resources/website-quickstart (404's)

New Link: https://msdn.microsoft.com/powershell/dsc/quickstarts/website-quickstart (no issue)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c951526d-45ed-d525-6

[2019-04-02 18:53] SubhashVasarapu-MSFT commented on #28549
@mbell85 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-02 18:56] jwargo commented on #20146
@eelitlauree So apparently it's not documented, I'll get that updated as soon as I can. In the mean time, you can see an example of this in the following sample app: https://github.com/Azure/azure-notificationhubs-samples/blob/96e19a03f48322b01c2f3d60ccd8c2fa44daaf2a/notificationhubs-rest-python/NotificationHub.py. It's python, but shows how to use it.

[2019-04-02 18:56] jwargo commented on #20146
#please-close.

[2019-04-02 18:57] Grace-MacJones-MSFT commented on #20146
We will now proceed to close this thread.

[2019-04-02 18:57] #20146 closed

[2019-04-02 18:58] himanshusinha-msft commented on #28345
@AndyFromVolvo :  Can you please send an email to azcommunity@microsoft.com ? Once I have your email address I will send you the details to unblock you .

[2019-04-02 19:01] brucelangston opened #28577 "Outline level of this document has an error at Azure Data Lake, I think"
Why does the font suddenly get bigger and the outline level change at Azure Data Lake? I think these four paragraphs, Azure Data Lake, Azure SQL, Azure Event Hubs, Azure Service Bus, Azure Storage, should be at the same outline level as Azure Key Vault, just above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac

[2019-04-02 19:02] seshenoy opened #28578 "permission at container level"
Hello , I would like to know if I can set RBAC roles/permissions at the container level of a blob storage ? For Ex: I want my API to Add blobs to a certain containers but can only read from another container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b

[2019-04-02 19:05] brucelangston opened #28579 "Examples of using Managed Identities to access Azure SQL Database from an Azure App Service of Azure Function"
I'm struggling to move from the abstract concept of Managed Identities to the practical usage. Some examples would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed iden

[2019-04-02 19:07] SadiqhAhmed-MSFT commented on #27987
@samudravijay As mentioned here:  https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-common-questions#can-i-extend-replication  We don’t support tertiary replication. You can either do On-prem source to On-prem target or On-prem source to Azure as target, and not club both. When you try to enable ASR for an existing Hyper-V replica (HVR) enabled VM, the operation will fail. This is

[2019-04-02 19:07] #27987 closed

[2019-04-02 19:12] MicahMcKittrick-MSFT commented on #28576
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-02 19:13] MicahMcKittrick-MSFT commented on #28574
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 19:14] anmtando commented on #28338
@himanshusinha-msft Azure subscription ID: 321b2a20-1798-463b-9011-55056ff5bc17
ADF Name: glbbirptadfdev

[2019-04-02 19:17] mike-urnun-msft commented on #28566
Hi @JohnDoeKyrgyz Thank you for your feedback! We will review and update as appropriate.

[2019-04-02 19:18] himanshusinha-msft commented on #28338
@anmtando : 	Do you have support plan for your account? IF not, could you please send us an email at azcommunity@microsoft.com?We can create a free support ticket for you for further help.

[2019-04-02 19:19] mike-urnun-msft commented on #28572
Hi @jn-altius Thank you for your feedback! We will review and update as appropriate.

[2019-04-02 19:22] morganroberson opened #28580 "Typo"
The sentence "5. Select Linux Performance Data to enable collection of performance counters on a Windows computer."
should be "5. Select Linux Performance Data to enable collection of performance counters on a Linux computer."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012c35ae-69e3-dfe3-6d99-077915f5f555
* Version

[2019-04-02 19:22] jeevansd commented on #28562
@chetansriv and @v-viinde Can we get this updated please?

[2019-04-02 19:29] TravisCragg-MSFT commented on #28389
@v-comage Thanks! The link has been fixed, and the doc should update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-02 19:29] #28389 closed

[2019-04-02 19:31] spunkjockey opened #28581 "Lookup activity with FTP source with error"
Hello,

I'm trying to retrieve the list of files stored in a certain path of an FTP Server using Lookup Activity and I got the following error:

{
    "errorCode": "2100",
    "message": "ErrorCode=UserErrorMissingPropertyInPayload,
	            'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,
				 Message=FormatSetting property is not initialized.,
				 Source=Microsoft.DataTra

[2019-04-02 19:33] SaurabhSharma-MSFT commented on #28559
@psjeeper You can use the PowerShell cmdlet `Get-AzureRmLocation |Format-Table` to get the location name which can be used to pass to PowerShell.

[2019-04-02 19:33] borys86 commented on #28039
hi Saurabh
I am not asking for personal automation. I am asking how to automate the creation of new eligibility. For example how to configure eligible role of a contributor for a resource group.

[2019-04-02 19:34] borys86 commented on #28039
"PowerShell sample for Privileged Identity Management (PIM) for Azure Resources." link is broken

[2019-04-02 19:36] tamram commented on #28578
@seshenoy - Yes, you can assign RBAC roles that are scoped to the container. Please see [Grant access to Azure blob and queue data with RBAC in the Azure portal](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal?toc=%2fazure%2fstorage%2fblobs%2ftoc.json).

You can also use Azure CLI, PowerShell, or the Storage Resource Provider API to assign RBAC roles.

[2019-04-02 19:40] borys86 opened #28582 "powershell or any other automation tooling to create new PIM assignments"
Are there any automation tools using PowerShell or c# or any other language to automate the creation of new PIM eligibility records? It is not acceptable that we only can use the Azure portal to create a new configuration.
For example, create a new eligible role assignment of a contributor for a resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-04-02 19:40] Adam-Smith-MSFT commented on #28565
There are methods to get the blob length which could be a workaround to get it prior to reading the blob, `public long GetBlockBlobSize(string containerName, string blobName)
{
    try
    {
        CloudBlobContainer container = _blobClient.GetContainerReference(containerName);
        var blockBlob = container.GetBlockBlobReference(blobName);
        blockBlob.FetchAttributes();
        return b

[2019-04-02 19:45] Adam-Smith-MSFT commented on #28563
@TracyGH Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-02 19:53] rashider opened #28583 "Message Receiver Class is not public"
I wanted to use the defer message in my Java listener but the class MesageReceiver does not ahve public access so cannot be used in code. maybe there should be more sample code to show a couple of more implementations in Java for different scenarios.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13cd13b7-63fb-

[2019-04-02 19:56] TravisCragg-MSFT commented on #28553
@kprpg Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-04-02 19:57] MicahMcKittrick-MSFT commented on #17125
@JeanQian we are closing this as we have not heard back in quite some time.

[2019-04-02 19:57] #17125 closed

[2019-04-02 19:58] PatrickFarley commented on #27420
Thank you @RohitMungi-MSFT , I've added the update in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/71782

[2019-04-02 19:59] allenwux commented on #28569
Yes. Both data files/page servers and transactional log are encrypted.

[2019-04-02 20:03] kristerkarto commented on #28113
So from what I understand, my solution right now of creating the request manually using SOAP passthrough is the only option?

[2019-04-02 20:04] MicahMcKittrick-MSFT commented on #13449
At this point we do not believe there to be any missing steps. If anyone still thinks so let us know specifics and we can reopen and take a look.

[2019-04-02 20:04] #13449 closed

[2019-04-02 20:06] MicahMcKittrick-MSFT commented on #9560
Thanks @hpaul-osi for the feedback on this. At this point in time we have decided not to add a note or new doc about this scenario. However, if others come and find this issue and also believe it would be good to have we can always reopen and revisit the request.

[2019-04-02 20:06] #9560 closed

[2019-04-02 20:07] himanshusinha-msft commented on #28558
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-02 20:11] Mike-Ubezzi-MSFT commented on #28511
There is an x-ms-request-charge response header method that can be called with each request to get the specific value. This is part of the .NET client libraey: https://docs.microsoft.com/en-us/rest/api/cosmos-db/common-cosmosdb-rest-response-headers

[2019-04-02 20:12] davidmu1 commented on #27332
The HelpText attribute listing was a mistake. The UserHelpText element should have been used. The article has been corrected.

#please-close

[2019-04-02 20:20] AjayKumar-MSFT commented on #28310
@nmfisher, We had been checking on this internally. @cephalin, could you please review this feedback further.

[2019-04-02 20:21] BhargaviAnnadevara-MSFT commented on #28384
@iainfoulds Thanks for the information!

@wrijughosh Hope this addresses your question. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-02 20:21] #28384 closed

[2019-04-02 20:21] CapKenR commented on #28567
BTW, if you replace `--network-policy calico` with `--network-policy azure`, the cluster creation works. I haven't tried the network policy examples with azure instead of calico but am assuming they should still work.

[2019-04-02 20:22] Norrch2 commented on #27332
@davidmu1

Thank you.

[2019-04-02 20:22] #27332 closed

[2019-04-02 20:26] MicahMcKittrick-MSFT commented on #28567
Thanks @CapKenR I actually just finished running a few tests and am getting a failure as well

![image](https://user-images.githubusercontent.com/32313503/55433716-c60a1080-554a-11e9-993c-3624dfef5b29.png)

I tried the network policy azure as well as that does appear to work.

@iainfoulds @sauryadas Who is the best person to assign this to/ work with to get this sorted out? I see it is still in pr

[2019-04-02 20:32] MicahMcKittrick-MSFT commented on #14032
@matkoliptak I looked through the doc and it appears the AddressAssignments is before the ReservedIP

![image](https://user-images.githubusercontent.com/32313503/55434085-a45d5900-554b-11e9-8524-15f6412fc9d6.png)

I plugged into VS and it did not complain as well. Possibly an update has been pushed. Will close for now. If you still see an issue just let me know.

[2019-04-02 20:32] #14032 closed

[2019-04-02 20:32] sandeepshivhare commented on #28356
Issue is not resolved yet.

On Tue 2 Apr, 2019, 3:47 AM Jeevan Desarda, <notifications@github.com>
wrote:

[2019-04-02 20:34] zezha-msft commented on #20288
Hi @ckarras, thanks a lot for your feedbacks!

We originally did have file-level resumes, but the dominant concern was that files/blobs would be left in a corrupt state if the job fails or gets cancelled. I'll bring up your feedback with the Team to see if we should reconsider this.

We will improve the documentation on this as well. @seguler for visibility.

[2019-04-02 20:37] SaurabhSharma-MSFT commented on #28556
@guyhorn1964 When you install AADConnect in your tenant, it creates an app "Tenant Schema Extension App" in your tenant.  So, if your custom extension properties are synced from on-premises windows AD then then you need to get the GUID of this application from App Registrations blade.
![image](https://user-images.githubusercontent.com/38112130/55434303-29487280-554c-11e9-8661-4b5b11b9ff9b.png).

[2019-04-02 20:38] diberry commented on #27619
@gerisg Can you please move this issue to the QnA Maker portal's "feedback" button? This will move it to the product team's support channel.

[2019-04-02 20:41] MicahMcKittrick-MSFT commented on #15377
@dcbrown16 thanks for the feedback on this. We have been having internal discussion on this for a while now.

I also want to point you to these docs

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/maintenance-and-updates

https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/understand-vm-reboot

It goes over what causes a VM to reboot and talks about different t

[2019-04-02 20:41] #15377 closed

[2019-04-02 20:43] MGoedtel commented on #28580
@morganroberson - I had fixed that a while back and it looks like there was a regression somehow.  Thanks for bringing this to my attention and I'll get this fixed ASAP.

[2019-04-02 20:50] gerisg commented on #27619
@diberry the product team's support channel has a GitHub issues reporting?

[2019-04-02 20:51] Grace-MacJones-MSFT commented on #28575
Hi @pablolaurin, thanks the feedback! We will review and update the docs shortly

[2019-04-02 20:51] MartinJaffer-MSFT commented on #28516
The asterisks(**) appear to be a typo. It should look like:

LastModified_From = @trigger().outputs.windowStartTime
LastModified_To = @trigger().outputs.windowEndTime

[2019-04-02 20:56] RobertClarke commented on #28516
@MartinJaffer-MSFT The asterisks were not included in the parameters when I copied this over.

Thanks,
Robert

[2019-04-02 20:56] SaurabhSharma-MSFT commented on #28355
@mores I think you may be getting this error if "nonce" includes in access token.  Please refer to [SO thread](https://stackoverflow.com/questions/45317152/invalid-signature-while-validating-azure-ad-access-token-but-id-token-works) on the same.  I also suggest you to please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN f

[2019-04-02 20:59] orndorffgrant opened #28585 "No SMART on FHIR proxy checkbox in Azure Portal"
In the "Enable SMART on FHIR proxy" section, it says to go to the Authentication settings and "change the Audience to match the URI of your FHIR API and check the SMART on FHIR proxy checkbox."

In the Azure Portal, on the Authentication settings page of the Azure API for FHIR that I just created, the Authority and Audience fields are disabled, and there is no SMART on FHIR proxy checkbox.

Am I m

[2019-04-02 20:59] diberry commented on #27619
@gerisg The product team asked me to have you post this in their portal's feedback system.
![0402-qna-feedback](https://user-images.githubusercontent.com/41597107/55435815-8265d580-554f-11e9-8bf1-f14af3c7af13.PNG)

[2019-04-02 21:01] SaurabhSharma-MSFT commented on #28555
@AdamSharif-MSFT ADE prerequisites are already documented [here](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites)

[2019-04-02 21:04] aromanrod commented on #28508
I have the same issue.

[2019-04-02 21:05] #28576 closed

[2019-04-02 21:08] tysonn opened #28586 "Cleaning up the issues in the Azure documentation repo"

[2019-04-02 21:09] hansenms commented on #28585
The changes are still rolling out. The docs just published first. Should be there by the end of today or tomorrow.

[2019-04-02 21:10] himanshusinha-msft commented on #28554
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-02 21:12] orndorffgrant commented on #28585
That makes sense - great! Thank you

[2019-04-02 21:12] himanshusinha-msft commented on #28550
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-02 21:12] MartinJaffer-MSFT commented on #28516
@RobertClarke You are getting this error message because you accidentally created a 'ScheduleTrigger' instead of a 'TumblingWindowTrigger'.  Only Tumbling Window Triggers have 'windowEndTime' and 'windowStartTime'.

[2019-04-02 21:12] #28516 closed

[2019-04-02 21:14] Karishma-Tiwari-MSFT commented on #28576
@adost10A Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-02 21:14] MGoedtel commented on #28580
#please-close I just updated the article and signed-off on the PR.  Should go live by tomorrow AM.

[2019-04-02 21:18] tulasim88 commented on #28503
@RohitMungi-MSFT @mpsingh24   - thanks for the feedback. the top location drop down is going away soon, this is a new change in the create service. By design we have the management service of QnA Maker only available in West US. this is only used for the portal & for initial data processing. no customer data is stored in this West US service.
We can explicitly document this new change.

@diberry -

[2019-04-02 21:19] nelroosevelt opened #28587 "Route table and NSGs for the new VNET integration"
Could you clarify on the final status for route tables and NSGs for the new VNET integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https

[2019-04-02 21:21] femsulu commented on #28580
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-02 21:21] #28580 closed

[2019-04-02 21:22] himanshusinha-msft commented on #28550
@kilasuit : We have assigned the issue to the content author . They will evaluate & update the document as appropriate .

[2019-04-02 21:25] dluc opened #28588 "Unable to map ports correctly"
I'm attempting to deploy two microservices, one based on nginx listening on port 10080 and serving static content, and one ASP.NET web api on port 10080 (yes, same ports).  The config works fine locally, e.g. `curl http://localhost` returns the expected content.

When I open http(s)://mysite.azurewebsites.net I should see the static content from nginx, but nothing is returned and after some minute

[2019-04-02 21:28] femsulu commented on #28548
@Benjiiim Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 21:28] himanshusinha-msft commented on #28581
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-02 21:30] femsulu commented on #28548
adding @qianw211 since @yijenj isn't resolving.

[2019-04-02 21:30] Karishma-Tiwari-MSFT commented on #28485
@Lycrosa
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-02 21:35] diberry commented on #28503
Doc change is #in-progress

[2019-04-02 21:39] PatrickFarley commented on #27420
#please-close

[2019-04-02 21:39] #28074 closed

[2019-04-02 21:41] HJToland3 commented on #28435
@yuharucan - I have added a column for status - Private Preview, Public Preview, or Generally Available. The changes should go live tomorrow morning.  Thanks for your feedback.

[2019-04-02 21:42] alexgman commented on #8668
How do we escape json data?
My data looks like this: `{"alex":"http://www.isawesome.com"}` but I need it to look more like this: `{\"alex\":\"http:\/\/www.isawesome.com\"}`

**How do we escape json data?**

[2019-04-02 21:43] HJToland3 commented on #28434
@yuharucan - I have updated the table to reflect current status. The changes will go live tomorrow.  Offline migration of RDS SQL Server to Azure SQL Database or an Azure SQL Database managed instance using DMS is not currently supported.  Thanks!

[2019-04-02 21:45] femsulu commented on #28546
@JvDrunen Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 21:46] femsulu commented on #28546
adding @rayne-wiselman to confirm.

[2019-04-02 21:48] Karishma-Tiwari-MSFT commented on #28552
@VVillar Please follow the steps provided in this document for creating a VM from an existing managed disk: https://github.com/Azure-Samples/managed-disks-powershell-getting-started/blob/master/CreateVmFromManagedOsDisk.ps1

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

 @ramankumarlive The script in this do

[2019-04-02 21:55] HJToland3 commented on #27802
@jtuliani, I have updated the prerequisites in all related tutorials to clarify that we are referring to inbound ports for DMS. Thank you!

[2019-04-02 22:03] qianw211 commented on #28548
@ellacroi Hi Lizzie, I just got this assigned to me.  Do you have the correct link for slack.com?  Or do you know who might be able to help with this info?  Thanks!

[2019-04-02 22:09] PatrickFarley commented on #27600
This has been fixed in this PR - https://github.com/MicrosoftDocs/azure-docs/pull/28522
#please-close

[2019-04-02 22:09] kraigb commented on #28396
Hi @dorox. Cloning a private git repo requires that you have access to that repo. Is this the case such that the error message you're seeing is unexpected? If you don't have access, then the error message would be by design.

[2019-04-02 22:10] YutongTie-MSFT commented on #27600
@roalexan
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-02 22:10] #27600 closed

[2019-04-02 22:12] CarlRabeler commented on #21565
Adding notes to 4 topics pointing specifically to the compliance pages.
@Mike-Ubezzi-MSFT please close

[2019-04-02 22:13] CarlRabeler commented on #22508
@Mike-Ubezzi-MSFT image updated - please close

[2019-04-02 22:15] CarlRabeler commented on #27047
@Mike-Ubezzi-MSFT please close

[2019-04-02 22:16] solomson opened #28593 "Unable to share resources between container instances"
Hello. I'm currently deploying a container group containing 4 different container instances. My understanding from this article under "Container resource requests and limits" is that different container instances should be able to access resources requested by other container instances in the same container group. That is of course as long as they are not in use.

The containers need about 0.1 CPU

[2019-04-02 22:19] CarlRabeler commented on #28444
@davidgristwood Microsoft Learn is working on a learning module to replace this one - it will be available here once it is done: https://docs.microsoft.com/en-us/learn

In the meantime, I am removing the link.

[2019-04-02 22:20] stgeorgi commented on #28512
@iffarrukh yes you can customize a WS 2016 image the same way

[2019-04-02 22:23] charltonstanley commented on #22223
This is also an issue for my organization. Is this functionality actually supported and is currently not working? Or is this more of a feature that will be added in the future?

[2019-04-02 22:30] MarileeTurscak-MSFT commented on #28577
@brucelangston
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-02 22:34] munozrickT4S opened #28594 "Not Clear which Direction the calls are going"
Which direction are the calls allowed/going? My impression is that calls from the App Service TO the on-premise endpoints is possible, but it's not clear if calls can be made FROM an On-premise system TO the App Service. Please make this clear in the documentation. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-02 22:36] MarileeTurscak-MSFT commented on #28579
@brucelangston
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-02 22:39] munozrickT4S opened #28595 "How to secure the Service Bus while still allowing the Hybrid connection to work"
You indicate that two service bus paths are used, but it's not clear if the underlying service bus namespace can be secured through Service Endpoints while still allowing the Hybrid connection to continue function normally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version In

[2019-04-02 22:39] SnehaGunda commented on #28461
@hansmbakker To let appservice access Cosmos DB you should check the accept connections from Azure datacenters option as shown in the screen below:

![image](https://user-images.githubusercontent.com/14284405/55440693-62d5a980-555d-11e9-8158-37e45eb2d915.png)

Azure Cosmos DB account will be accessible from Azure datacenter IP range. This allows services like Search, Data factory, Stream analytics

[2019-04-02 22:41] TheGrungeByte commented on #27715
@v-kaorti Per our discussion, can you please update this and merge the changes? Thanks you!

[2019-04-02 22:48] KeiroKamioka0000 opened #28596 "Does Linux Diagnostic Extension and LAD will be affected by classic alert rules migration"
Hello,

Does Linux Diagnostic Extension and LAD will be affected by classic alert rule migration?
If user have to migrate to new alert rule, does LAD for VMSS has to be upgraded after the migration?

Prepare your logic apps and run books for classic alert rules migration
https://docs.microsoft.com/ja-jp/azure/azure-monitor/platform/alerts-prepare-migration

Use the voluntary migration tool to migr

[2019-04-02 22:51] pareshmu commented on #25821
This is good feedback. We will work towards ensuring it works as we expect and then explain using the screenshots as well.

[2019-04-02 22:52] SaltyDH commented on #28400
To clarify, the http://127.0.0.1:41418/MSI/token endpoint only requires the use of the MSI_SECRET environment variable to successfully request an access token. Is there a way to use this secret to retrieve a list of user managed identities in preparation for calling the MSI/token endpoint?

[2019-04-02 22:52] femsulu commented on #28568
adding @rayne-wiselman for further review.
@ctahok Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-02 22:56] TheGrungeByte commented on #28225
@v-kaorti -  Per our discussion, can you please update this and merge the changes? Thanks you!

[2019-04-02 22:57] TheGrungeByte commented on #28225
@v-kaorti - Per our discussion, can you please update this and merge the changes? Thank you!

[2019-04-02 22:57] sheist opened #28597 "On-premises integration / password writeback is grayed out"
As of January 2019, password write back now available for Microsoft 365 Business, and all the documentation I could find indicates that Azure AD Premium is not required for password writeback.
https://techcommunity.microsoft.com/t5/Microsoft-365-Business-Blog/Self-Service-Password-Reset-with-on-premises-writeback-in/ba-p/312595

After upgrading from Office 365 Business to Microsoft 365 Business, I

[2019-04-02 23:08] PatrickFarley commented on #24006
@YutongTie-MSFT , who are we waiting on? I'd like to see this PR go through

[2019-04-02 23:11] boris-kr opened #28598 "MSI Authentication suppport"
We are currently running the function from ADF using the Web activity, and we are authenticating with MSI (Settings -&gt; Advanced -&gt; Authentication -&gt; MSI). As far as I understand MSI Authentication is not supported when using the new Azure Function activity so we cannot use it. Any plans on supporting MSI Authentication?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-02 23:13] OlemIur commented on #15709
Documentation still doesn't reflect the step mentioned by @davidmu1 as being added.

[2019-04-02 23:19] Adam-Smith-MSFT commented on #28085
@SamuraiApocalypse
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-02 23:19] #28085 closed

[2019-04-02 23:21] xzhu1900 commented on #28159
Thanks for fixing this!

[2019-04-02 23:22] aromanrod commented on #10588
@chenlonghu Thanks for this great tutorial, really very useful!

[2019-04-02 23:23] pinsoftware opened #28599 "The max connection time is set to 10 mins in the reg settings above"
May want to update to something higher

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD image - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-customize-

[2019-04-02 23:23] Adam-Smith-MSFT commented on #28373
@jaypatrick it is actually supported for registering endpoints: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes per the release notes, were looking for any scenario that's specific ?

Thanks,
Adam

[2019-04-02 23:24] pospanet opened #28600 "Bad parameter value for ComputeTarget.name"
Code snippet how to "Attach existing Linux DSVM" having 'attached_vm' as computer target name. But "_" is not allowed there. So if you try to run the code you get error message referring to wrong machine name. 

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a086a867-60ff-3f45-702d-2ea0ce0f4f0c
* Version Independent ID:

[2019-04-02 23:38] Maqsoodp commented on #28429
I'm disabling the rule General ->  200004 (Possible Multipart Unmatched Boundary.)
 for now that's is what i infer from the link after reading through.

Will there be a fix for -- check for all types of file formats irrespective of their encoding. I had and did come to know the PDF files have different encoding which causes trouble for chunk uploads.

Here is @elexisvenator POC to prove this is a

[2019-04-02 23:38] femsulu commented on #28585
re-opened to apply triage labels.

[2019-04-02 23:38] #28585 closed

[2019-04-02 23:39] Karishma-Tiwari-MSFT commented on #28596
Thanks for the question! We are currently investigating and will update you shortly.

[2019-04-02 23:48] femsulu commented on #28586
labeling and assigning to @tysonn

[2019-04-02 23:49] tamram commented on #28578
#please-close

[2019-04-02 23:54] anavinahar commented on #22864
Can we direct this to the cloud shell owners, @TravisCragg-MSFT? Thanks.

[2019-04-02 23:55] dcbrown16 commented on #15377
@MicahMcKittrick-MSFT thanks, I'll maybe ping you internally if this comes up again for our team.

[2019-04-02 23:55] KeiroKamioka0000 opened #28601 "Please consider to add ' what expected to happen when Web App Rebooted'"
Please consider to add to the FAQ, regarding expected affection to Web App when Rebooted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e26e5a4-7b72-ba7e-cfed-e31a4a8aaef9
* Version Independent ID: dc783fe3-bd1a-c25e-2b92-903595c0822e
* Content: [Application performance FAQs - Azure App Service](https://docs.microsof

[2019-04-02 23:59] #28184 closed

[2019-04-03 00:13] yuharucan commented on #28433
Users start "source" which they have existing databaes and they want to understand that which target can they migrate from their databases to.

[2019-04-03 00:27] damienestewart opened #28602 "VotingWeb.cs"
VotingWeb.cs is actually Voting.cs for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tut

[2019-04-03 00:27] #28602 closed

[2019-04-03 00:33] HJToland3 commented on #28433
@yuharucan, this table is intended to show the status of each migration scenario, not which targets are available for each source. You can get a better idea of which targets are available for which resources on this page: https://docs.microsoft.com/azure/dms/dms-tools-matrix. You can also check out the Azure Database Migration Guide at https://datamigration.microsoft.com/.

[2019-04-03 00:36] MicahMcKittrick-MSFT commented on #15377
@dcbrown16 ping me anytime :)

[2019-04-03 00:38] ellacroi commented on #28548
@qianw211 I would have used the same link...time to ask engineering!

[2019-04-03 00:52] GammaFour commented on #26577
How does this work, exactly?  The instrumentation key can't be a constant; it has to come from the configuration file.  In program.c I don't know if I'm sending logging information to my development AI or my production AI.  I tried just removing the parameter from AddApplicationInsights, but that didn't work:

[code]
A code example and appsetting.json example would be very helpful.

[2019-04-03 00:56] dluc commented on #28588
Looks like part of the problem is that nginx base images exposes port 80, and the WebApp service is picking up that as the port for HTTP traffic. For security reasons I was avoiding port 80 and using port 10080, but that is not used, so I changed approach and fixed the problem with a workaround.

Since Docker doesn't have a way to remove ports exposed from base images, it would be nice if WebApps

[2019-04-03 00:58] mike-urnun-msft commented on #28583
Hi @rashider Thank you for your feedback! We will review and update as appropriate.

[2019-04-03 01:14] MarileeTurscak-MSFT commented on #28582
@borys86
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 01:17] MicahMcKittrick-MSFT commented on #28602
@damienestewart thanks for the feedback and closing out the issue. If you still have issues just let us know.

[2019-04-03 01:19] MicahMcKittrick-MSFT commented on #28593
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-03 01:47] Materia-xx opened #28603 "Batch Vms to a classic vnet doc update"
While recently deploying Batch VMs to a classic vnet, we noticed a couple differences in the documentation.
  Instead of Microsoft.ClassicVirtualNetwork use Microsoft.ClassicNetwork for the provider
and the service principal you want to add is "Microsoft Azure Batch" with the spaces. It's confusing because both service principals exist, but only 1 works.
---
#### Document Details

⚠ *Do not edit t

[2019-04-03 01:47] afroz429 opened #28604 "Licensing for on-prem"
We have on-premises Active directory which syncs to Azure AD Free edition. Can we still use this feature for on-premises AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premises Azure AD Password Protec

[2019-04-03 02:13] PramodValavala-MSFT commented on #28358
@nero120 Just following up here... Hope my previous comment helps.

[2019-04-03 02:14] batizar opened #28605 "Configuration for WebJobs 3 in json"
As your explanation here on how to config Service Bus in settings file:

https://docs.microsoft.com/en-gb/azure/azure-functions/functions-bindings-service-bus#hostjson-settings

This section of documentation is not correct if you are developing WebJobs and is confusing. I could only make WebJob picking up configuration details from appsettings.json like this:

[code]

Please add a remark on this p

[2019-04-03 02:16] MartinJaffer-MSFT commented on #28598
Hello @boris-kr and thank you for your question.
I have not found any information yet on if/when support for MSI inside the Function activity will be supported.  I will try reaching out during the next business day.  There is also a potential work-around I'd like to try.

[2019-04-03 02:27] boris-kr commented on #28598
Hi,
It's basically not about MSI inside the function. It's about MSI
authentication between ADF and the function it is calling, when anonymous
access to function is disabled.

On Tue, Apr 2, 2019, 19:16 MartinJaffer-MSFT <notifications@github.com>
wrote:

[2019-04-03 02:44] Mike-Ubezzi-MSFT commented on #21565
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 02:44] #21565 closed

[2019-04-03 02:44] ishepherd commented on #11249
@waheedhussain I'm pretty sure there is no time limit.

When reading post mortems about a South Central US outage last year, the point was made that they prioritise data integrity over availability. As this page explains, failing over GRS means some data is lost. They are therefore very reluctant to do it and they will make you wait instead.

Like the text you quoted: "in some rare occasions we ma

[2019-04-03 02:46] Mike-Ubezzi-MSFT commented on #22508
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 02:46] #22508 closed

[2019-04-03 02:47] Mike-Ubezzi-MSFT commented on #27047
@shmahanta We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 02:47] #27047 closed

[2019-04-03 02:49] hansenms commented on #28585
@orndorffgrant, it should be deployed now. You may have to clear your browser cache.

[2019-04-03 02:50] D-Jeffrey opened #28606 "Windows Server 2019 Supported?"
Assumed when Windows Server 2016 is referenced it should also include Window Server 2019 for Review Supported Devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [How to plan hybrid Azure Active Directory

[2019-04-03 03:15] jragan opened #28607 "Typo in CLR Section"
In CLR Section ( https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#clr ), it reads "CREATE ASSEMBLY FROM FILE is't supported" --&gt; "is't" should be "isn't"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent

[2019-04-03 03:29] SumanthMarigowda-MSFT commented on #28578
@seshenoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-03 03:29] #28578 closed

[2019-04-03 03:36] SumanthMarigowda-MSFT commented on #28407
@jayeshdshah  Just to highlight: Azure AD Authentication for Azure Blobs and Queues.
Azure Active Directory (AD) based access control for Azure Storage Blobs and Queues. Enterprises can now grant specific data access permissions to users and service identities from their Azure AD tenant using Azure’s Role-based access control (RBAC).  Administrators can then track individual user and service acces

[2019-04-03 03:41] KalyanChanumolu-MSFT commented on #28607
@jragan  Thanks for pointing out the issue, I updated the doc accordingly.
The changes should be live EOD or tomorrow. We will now close this issue.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love to take contributions from the community.

[2019-04-03 03:41] #28607 closed

[2019-04-03 03:45] cijothomas commented on #26577
@GammaFour
ConfigureLogging can get HostingContext. So the following would work.
[code]

and example appsettings.json
[code]

[2019-04-03 03:46] cijothomas commented on #26577
@GammaFour let us know if it helped. we'll probably update the doc with this snippet until actual code is modified to read ikey automatically from appsettings.json

[2019-04-03 03:53] rungsoso commented on #15999
builder = dflow_derive.builders.derive_column_by_example(source_columns=['DATE'], new_column_name='date_timerange')
builder.add_example(source_data=dflow_derive.iloc[1], example_value='Jan 1, 2015 12AM-2AM')
builder.preview(count=5)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input

[2019-04-03 03:58] alvinvinalon opened #28608 "Using AzTableRow commands failing in Azure DevOps Azure Powershell Task"
Hi. I've created a simple PS script to create a table in a storage account and add a few rows in it. I followed the examples in this page. However, when it comes to any commands with AzTableRow, the Azure PS task is failing with the error below
2019-04-03T03:49:05.1910209Z ##[error]The term 'Get-AzTableRow' is not recognized as the name of a cmdlet, function, script file, or operable program. Chec

[2019-04-03 04:05] RohitMungi-MSFT commented on #27420
@PatrickFarley Thanks for submitting the change. @thecpshah This change is now updated in the document. Thanks for your feedback.

[2019-04-03 04:05] #27420 closed

[2019-04-03 04:09] CelesteDG commented on #20953
#in-progress

[2019-04-03 04:21] neeleshray commented on #28604
@afroz429
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 04:22] RohitMungi-MSFT commented on #28600
@pospanet Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-03 04:26] femsulu commented on #28588
re-opened to assign triage labels.

[2019-04-03 04:26] #28588 closed

[2019-04-03 04:31] neeleshray commented on #28606
@D-Jeffrey
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 04:36] #28165 closed

[2019-04-03 04:45] jakaruna-MSFT commented on #28597
Thanks for the question! We are investigating and will update you shortly.

[2019-04-03 04:50] RohitMungi-MSFT commented on #28412
@sleebapaul We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-03 04:50] #28412 closed

[2019-04-03 04:51] shashishailaj commented on #28378
@Bit-Shifts Thank you for clarification. I am engaging the author for helping on this further.

@MarkusVi Could you please help with this doc enhancement request for B2C specific error codes just as we have AAD specific ones at https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

[2019-04-03 04:52] #28464 closed

[2019-04-03 04:54] KalyanChanumolu-MSFT commented on #28464
@arjunmanohar Thanks for pointing out the issue, we have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will now close this issue.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love to take contributions from the community.

[2019-04-03 04:54] shashishailaj commented on #28388
@JeffGSparks We hope the clarification provided by @CawaMS Helped . Should you have any further query , please tag any of us to your reply or you an alternatively always open a new request. WE will close this issue now.

Thank you .

[2019-04-03 04:54] #28388 closed

[2019-04-03 04:55] jakaruna-MSFT commented on #26438
@mayankag289  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-03 04:55] #26438 closed

[2019-04-03 04:55] DixitArora-MSFT commented on #28560
@voicu-matei You can configure subscriptions to find messages that have desired properties and then perform certain modifications to those properties.This filtering is accomplished using subscription filters.
[Rules and actions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#rules-and-actions) in messaging explains this.

For a full working exa

[2019-04-03 04:55] jakaruna-MSFT commented on #28214
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-03 04:55] #28214 closed

[2019-04-03 05:00] DixitArora-MSFT commented on #28583
@rashider Just checking if you have gone through this [GitHub sample](https://github.com/Azure/azure-service-bus-java/blob/e3d163eac92213d34dce059f3353d2c819d31fbf/azure-servicebus/src/main/java/com/microsoft/azure/servicebus/MessageReceiver.java) in Java and see if that helps.

[2019-04-03 05:01] SumanthMarigowda-MSFT commented on #28448
@gokul2018 You may keep a track on[ Azure  updates](https://azure.microsoft.com/en-in/updates/)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-03 05:01] #28448 closed

[2019-04-03 05:01] RohitMungi-MSFT commented on #28445
@areddish  Thanks for the update. @thecpshah I am able to use the id and run a .net application successfully. Please check the same with your application.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-03 05:01] #28445 closed

[2019-04-03 05:07] basilhariri opened #28612 "Reading tweets code fails"
I've been trying to get an EventHubs application working on HDI for several hours and keep encountering this error. I can't find any relevant logs and nothing I do fixes this, the code I'm using is identical to the tutorial except for the EventHubs version (I need to use v2.3.9), so I'm not sure what to do anymore. Here's the error I'm running into:

The code failed because of a fatal error:
	Sess

[2019-04-03 05:14] KetanChawda-MSFT commented on #28605
@batizar This document is intended to provide information related to Azure Functions. For WebJobs we have different documents as mentioned below :

[Get started with the Azure WebJobs SDK for event-driven background processing](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
[How to use the Azure WebJobs SDK for event-driven background processing](https://docs.microsoft

[2019-04-03 05:36] SnehaAgrawal-MSFT commented on #28595
@munozrickT4S Thanks for the question! We are investigating and will update you shortly.

[2019-04-03 05:36] RohitMungi-MSFT commented on #28278
@areddish Thanks for the update. @mattfortech with the updated quickstart the application runs successfully for the console application. You can check the same for your web application too.

We also have a [thread ](https://social.msdn.microsoft.com/Forums/en-US/7c9df0b4-1925-4dbc-b4ed-5ca86fd90ea2/custom-vision-prediction-api-unable-to-find-iteration?forum=AzureCognitiveService)in the MSDN forum

[2019-04-03 05:36] #28278 closed

[2019-04-03 05:38] SnehaAgrawal-MSFT commented on #28601
@KeiroKamioka0000 Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 05:39] KetanChawda-MSFT commented on #28566
@JohnDoeKyrgyz  Details for runtime v1 can be found [here ](https://github.com/Azure/azure-functions-core-tools).

Runtime v1 [(v1.x branch)](https://github.com/Azure/azure-functions-core-tools/tree/v1.x) : Requires .NET 4.7.1 Windows Only

**To install v1 with npm:**

**To install v1 with chocolatey:**

[2019-04-03 05:50] dcbrown16 opened #28613 "Specifying a user"
It appears it is now possible to specify a "User" when creating a subscription. What does this do, create a pre-approved subscription for that user specifically?
Please update the doc screenshot and cover this option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b18e22-18d0-f82d-cbd0-e9ca300ee655
* Version Independ

[2019-04-03 05:55] RohitMungi-MSFT commented on #27433
@CeciAc The changes are now updated in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-03 05:55] #27433 closed

[2019-04-03 06:02] AshokPeddakotla-MSFT commented on #28311
@JihongL The responsibilities of the IoT Edge runtime fall into two categories: communication and module management. These two roles are performed by two components that make up the IoT Edge runtime. The IoT Edge hub is responsible for communication, while the IoT Edge agent deploys and monitors the modules.

The IoT Edge runtime performs the following functions on IoT Edge devices:

- Install and

[2019-04-03 06:02] #28311 closed

[2019-04-03 06:03] AshokPeddakotla-MSFT commented on #28437
@RHAD1969 Let us know if the above suggestions helped.

[2019-04-03 06:08] KrishnaG-MSFT commented on #28395
Assigning @tfitzmac for any insights on this.

[2019-04-03 06:20] DixitArora-MSFT commented on #28613
@dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2019-04-03 06:23] AndyFromVolvo commented on #28345
@himanshusinha-msft : Thanks, I've sent the e-mail.

[2019-04-03 06:30] AshokPeddakotla-MSFT commented on #27551
@knowpath We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 06:30] #27551 closed

[2019-04-03 06:40] ManfredLange opened #28625 "Uses link to outdated nuget package"
The article uses an outdated NuGet package (WindowsAzure.Storage) which as of version 9.4 has been split up into multiple NuGet packages. This page and the example code should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0