[2021-06-27 09:44] #77176 closed

[2021-06-27 09:59] #77170 closed

[2021-06-27 10:10] #77487 closed

[2021-06-27 10:40] tom-juntunen commented on #46401
I am still facing this issue:

This is a multi-container image. I am deploying an API written in Python to Linux using Docker Compose, Azure Container Registry and Azure App Service.  Right now I cannot get my container to respond to HTTP pings once it is pushed to the Azure Container Registry. I do have Managed Identity turned on ,per this tutorial, to make sure the web app has access to the cont

[2021-06-27 11:43] yoelhor commented on #76226
It should be the same as the old Azure AD User Management:

![image](https://user-images.githubusercontent.com/20111866/123543212-0ec6c900-d756-11eb-8f16-330e1666a25b.png)

[2021-06-27 11:50] yoelhor commented on #76350
The invite involver the following steps:

1. Admin create a new gust account. This account must be a Microsoft account.
1. Admin asks the user to sign-in to the app, or the app portal `https://myapps.microsoft.com/<verified domain>`

The sign-in involves the following steps:

1. User opens the link
2. Types the username, then the password
3. Go through the consent experience.  If user already acce

[2021-06-27 13:00] GitaraniSharma-MSFT commented on #77520
@aut0pil0t , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-27 13:07] GitaraniSharma-MSFT commented on #77523
@hanslai , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-27 13:09] GitaraniSharma-MSFT commented on #77521
@AmitavaHazra , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-27 15:18] yanivlavi commented on #76657
Here is the docs on getting the token to use with the link:
https://dev.loganalytics.io/documentation/1-Tutorials/Direct-API

[2021-06-27 16:00] GuyPaddock opened #77525 "Typo: "reset of the steps""
This article has a small typo. "reset of the steps" should be "rest of the steps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Tutorial - Create user flows and custom policies - Azure Active Directory B2C]

[2021-06-27 17:05] HarshitaSingh-MSFT commented on #77471
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-27 17:35] mrochon commented on #77170
Thanks Yoel for a detailed explanation. I am looking forward to the doc update. I am still somewhat confused. How is the sequence significant? Since the only precondition-implied action is SKIP, the default, in the absence of preconditions must be do not skip. Hence, seems like an orchestration step is always executed unless **any** of the preconditions evaluates to the value of the ExecuteActionI

[2021-06-27 18:35] ckarrasalithya opened #77526 "Routing query example does not work"
This document says I should enter level="storage" as the query string, as shown in the following screenshot referenced in the document https://docs.microsoft.com/en-us/azure/iot-hub/media/tutorial-routing/message-routing-finish-route-storage-ep.png.

When I enter this and click "Test query", I get the following error message:
"The server didn't understand your query. Check your query syntax and tr

[2021-06-27 19:00] MarileeTurscak-MSFT commented on #77525
@GuyPaddock
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-27 19:01] MarileeTurscak-MSFT commented on #77525
Thanks for pointing this out! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/163823

[2021-06-27 19:01] #77525 closed

[2021-06-27 21:05] bandersmsft commented on #77512
@tudatn Hey there. What kind of account/subscription do you have? As documented:

- The **Upgrade subscription** option in the Azure portal is for a free account.
- The **Upgrade** option is for an Azure for Students Starter account.

If you have one of the account types listed above and you don't see either option, do you have Owner permssion to the subscription?

[2021-06-27 22:26] mifurm opened #77527 "Azure Disk Backup with full support for ARM"
[Enter feedback here]
Currently, you can selectivly backup disk using CLI / PowerShell or POST Request. When we can expect ARM support for that purpose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02c29cc0-53bd-67b8-1e74-51a386c6e6bd
* Version Independent ID: d043bee3-b7f7-baa5-9145-95a6a484d10e
* Content: [Back up

[2021-06-27 23:39] tudatn commented on #77512
I am using a regular account with a Free trial subscription. I was able to upgrade the subscription through the Upgrade now link in the email. There was no option to upgrade subscription or banner in the Azure portal. Not sure now the process is through email, if it is, please update the document. Thanks anyway.

[2021-06-27 23:40] #77512 closed

[2021-06-28 00:06] aaronpowell commented on #77465
Hi @philhagger,

I've reached out to the team regarding the question on group management.

As for `<AAD_CLIENT_ID>`, this is a placeholder in the docs code that you can replace with something in your [application configuration](https://docs.microsoft.com/en-gb/azure/static-web-apps/application-settings) or [key vault](https://docs.microsoft.com/en-gb/azure/static-web-apps/key-vault-secrets) to sec

[2021-06-28 01:34] ryoji-kawamura commented on #75891
@ssivas, Can you please let me know what the status of this correspondence is?

[2021-06-28 02:03] BeigeBadger commented on #43248
Yep, I ran into this issue - I ended up created a Windows Consumption plan so that I could continue working.. even though I already had a Linux App Service Plan with a Web App on Containers running in the same region and resource group. It's a little confusing. 😕

[2021-06-28 02:27] KrishnaG-MSFT commented on #77527
@mifurm Thanks for your comment! We will review and provide an update as appropriate.

[2021-06-28 03:21] AshokPeddakotla-MSFT commented on #77526
@ckarrasalithya Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-28 03:42] AjayKumar-MSFT commented on #77286
@buzzfrog, We have a raised a PR to add more clarity on this (to ensure the default branch is main). Once the PR is merged, the doc changes would be published. Thanks for addressing this, aaronpowell.

[2021-06-28 03:45] AjayKumar-MSFT commented on #77343
@xbnagy, Since we have not heard from you, we will close this for now, if you have any further questions, please let us know.

[2021-06-28 03:45] #77343 closed

[2021-06-28 03:47] #77265 closed

[2021-06-28 03:59] pmia opened #77530 "Error in code - Remove the word "using""
The line - using FileStream uploadFileStream = File.OpenRead(localFilePath);
should be replaced by - FileStream uploadFileStream = File.OpenRead(localFilePath);
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50

[2021-06-28 04:17] steveesp commented on #77479
I tried it today and it works for me. Was there an error message?

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Svijay-msft ***@***.***>
Sent: Friday, June 25, 2021 9:57:07 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Steve Espinosa ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Link not working (#77479)

Thanks for the fee

[2021-06-28 04:27] CHEEKATLAPRADEEP-MSFT commented on #77271
@memark  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-28 04:27] #77271 closed

[2021-06-28 04:29] CHEEKATLAPRADEEP-MSFT commented on #77346
@manish-jain-alept  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-28 04:29] #77346 closed

[2021-06-28 04:29] #77479 closed

[2021-06-28 04:30] ram-msft commented on #77348
@HarshCo Thanks, By default, QnA Maker searches through questions and answers. If you want to search through questions only, to generate an answer, use the RankerType=QuestionOnly in the POST body of the GenerateAnswer request.

[2021-06-28 04:30] GitaraniSharma-MSFT commented on #77479
@mattweale , I have updated the link for latte.exe download in the below section:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency#get-latteexe-onto-the-vms

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-06-28 04:33] GitaraniSharma-MSFT commented on #77485
@CodyBatt , We have assigned this issue to the respective product owner for review.

@anzaman , for your review.

[2021-06-28 04:55] PramodValavala-MSFT commented on #77524
@tomgron Looks like you've found your answer for this.

For others coming across this, the Azure Functions Tools is included as part of the Azure Development Workload starting from Visual Studio 2017 and starting from Visual Studio 2019, its automatically updated with Visual Studio itself.

[2021-06-28 05:04] PramodValavala-MSFT commented on #74360
@johol545 This has now been fixed as part of Azure/azure-webjobs-sdk#2741. The change ensures option 1 you've mentioned.

Note this is feature is in preview and would only be included in the next release of the WebJobs SDK. Unfortunately, there isn't an ETA that I can share. You could always build a nuget for the same but do note that it may contain other fixes as well.

We will now proceed to clo

[2021-06-28 05:04] #74360 closed

[2021-06-28 05:09] SumanthMarigowda commented on #77452
@bhavin07 Can you please elaborate more info on your scenario?

[2021-06-28 05:11] bhavin07 commented on #77452
When I needed to create a copy of container within the same storage account, I had to supply SAS token in target as well.

Documentation only indicates to supply SAS token in source only.

Bhavin
________________________________
From: SumanthMarigowda-MSFT ***@***.***>
Sent: Monday, June 28, 2021 3:09:16 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: bhavin07 ***@***.***>; Mention ***@***.***>
S

[2021-06-28 05:26] AnuragSharma-MSFT commented on #77441
@AwdotiaRomanowna Thanks for reporting this. I have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-28 05:29] GitaraniSharma-MSFT commented on #77328
@oaas , I have reproduced the issue in my lab and you are right. NSG Rule doesn't work if there is an unassociated ASG added to it. Hence, we have assigned this to the content owner/author for review.

@KumudD , could you please add this limitation to the doc?

[2021-06-28 05:43] GitaraniSharma-MSFT commented on #77530
@pmia , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-28 05:48] dominicbetts commented on #26111
#please-close

[2021-06-28 05:48] #26111 closed

[2021-06-28 05:52] BhargaviAnnadevara-MSFT commented on #77190
@edisga Yes, this issue is reproducible with Azure CLI version **2.24.2**, but not the earlier versions like **2.22.1**.

This issue was reported in https://github.com/MicrosoftDocs/azure-docs/issues/76722 a few weeks ago. Here is the [bug report](https://github.com/Azure/azure-cli-extensions/issues/3496) with the **Azure/azure-cli-extensions** that our Azure CLI Engineering Team is looking at. Pl

[2021-06-28 06:23] dimilider opened #77532 "West US 3"
Hey,

West US 3 is missing with its paired region: https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions#azure-regional-pairs - please update the list.

BR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f4

[2021-06-28 06:45] msjoshua opened #77533 "Error in the setup script"
This line in the page:
bash -c "$(curl -sL https://aka.ms/ava-edge/prep_device)"

resolved to https://raw.githubusercontent.com/Azure/video-analyzer/main/setup/prepare-device.sh
the 4th line from bottom has error:
sudo chown -R /localedgeuser:localedgegroup /var/lib/videoanalyzer/logs

extra "/" after -R cause the run invalid

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-06-28 06:57] barbarabel commented on #77467
HI,
I found the link in 4 pages, so I opened 4 issues 😊

Bye/Ciao/MVH,
Barbara Beltrame

From: BharathNimmala-MSFT ***@***.***>
Sent: Friday, 25 June 2021 17.52
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Barbara Beltrame ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Hyperlink points at an obsolete version of the appliance (#77467)

@barbarabel<https://nam06.safelink

[2021-06-28 07:05] code-Miracle49 commented on #77197
Hi @yoelhor, thanks for your response. So I found out that the bearerToken claim is not populated when I call the API to get the access token, the call is successful but the bearerToken output claim to get access_token is not populated

[2021-06-28 07:30] becke-ch-s0-v1 commented on #72450
Hi, thank you for the feedback. I agree with setting "WEBSITE_VNET_ROUTE_ALL = 1" but I cannot set "WEBSITE_DNS_SERVER = 168.63.129.16" because we are using a DNS fowarder as described here "https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#on-premises-workloads-using-a-dns-forwarder" and some calls from the app service are resolving/going OnPrem. Should I instead set "WEBSI

[2021-06-28 07:33] KrishnaG-MSFT commented on #77532
@dimilider Thanks for your comment! We will review and provide an update as appropriate.
@martinekuan - FYI.

[2021-06-28 07:43] lniedzielski commented on #77471
Hi,

I'd like to check whether we are talking about the same thing, as managed identity can be turned on for Static Web App. This is a screenshot from my tenant's portal.

![image](https://user-images.githubusercontent.com/1392640/123598638-04a7d780-d7f5-11eb-98cb-5374df01a8c6.png)

Here is the link to the docs descibing connection to Key Vault using MI:

https://docs.microsoft.com/en-us/azure/sta

[2021-06-28 07:49] v-hagamp commented on #75891
Issue resolved.
#please-close

[2021-06-28 07:49] #75891 closed

[2021-06-28 08:04] sijucm opened #77535 "Retry for Azure cosmosDB output binding with Javascript/NodeJS"
[Enter feedback here]
The article makes some general statements about retries, maximum retries, exponential backoff. But the article does not specify what needs to be done when it comes to Azure CosmosDB and with Javascript. None of the referred pages got any useful information or how to catch the error for throughput violation. The linked pages loops back to the maze of documentation in Microsoft

[2021-06-28 08:08] gasserp opened #77536 "DNS records for Switzerland missing"
The DNS Records used by Azure Automation for the Switzerland Region seem to be missing. We see a lot of requests to:
stzn-jobruntimedata-prod-su1.azure-automation.net:443

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31438aaa-b025-8da4-080e-2f566181f828
* Version Independent ID: 977e4cd6-4934-7051-a47b-a8d3be3e030e
*

[2021-06-28 08:33] mattweale commented on #77479
That’s great.

Thank you.

From: Gitarani ***@***.***>
Sent: 28 June 2021 05:30
To: ***@***.***>
Cc: Matt ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Link not working (#77479)

@mattweale<https://github.com/mattweale> , I have updated the link for latte.exe download in the below section:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency#get-

[2021-06-28 08:59] daphnecys opened #77538 "GitHub CI/CD guide/sample to PHP (Yii2 Framework)"
Can we have a guide to CI/CD pipeline for PHP with GitHub? e.g. for Yii2 framework? I found equivalent for GitLab, but couldn't find any reference for GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bfa228d-37f0-5faf-c415-0fcbfb4e4be5
* Version Independent ID: e5df9ba4-26e2-c646-a674-0e5846e27dde
* Content: [Qu

[2021-06-28 09:28] aschabus opened #77539 "Clarification which Service Instances can access the Key Vault"
Under "Key Vault Firewall Enabled (Trusted Services Only)" it would be good to state which instances of a "Trusted Service" can access the Key Vault when Trusted Services Only is enabled.
So, are only services running in the same Subscription/Tenant enabled or all services of any Subscription/Tenant within Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-06-28 09:44] SwathiDhanwada-MSFT commented on #77536
@gasserp Thanks for your feedback.

Assigning to content author @MGoedtel  for review.

[2021-06-28 09:55] jitendraRai commented on #77104
For a federated Azure Active Directory user or Microsoft account user, please refer this document. It mentioned identities attribute is not included for out of box however for google/facebook and one time password identities attribute provided.
Reference: - https://docs.microsoft.com/en-gb/azure/active-directory/external-identities/self-service-sign-up-add-approvals#user-account-creation-after-man

[2021-06-28 10:05] Svijay-msft commented on #77484
Yes you could use the below command  to enable container retention.

`az storage account blob-service-properties update --container-retention true --container-days  7 --account-name <YOURSTORAGEACCOUNTNANE>`

**Output :**

![image](https://user-images.githubusercontent.com/66949976/123619002-603e8900-d826-11eb-9a3a-6030fd1a4915.png)

[2021-06-28 10:08] PramodValavala-MSFT commented on #77453
@kennetherland Glad to hear that!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-28 10:08] #77453 closed

[2021-06-28 10:12] chaisen2006 opened #77540 "Connect to Private End point of Storage Account"
Hi,

1. Can Self Hosted IR help us to connect to Storage Account which has a private end point enabled ?
2. If we use Azure Managed Vnet Runtime, then connection between the Vnet ( azure Managed ) and Azure Data Factory is over a public IP of Data Factory which is not secured. So Self IR is the only way to get that security correct?

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do

[2021-06-28 10:15] g138 opened #77541 "Unable to run the application. Getting error No such file exists robots933456.txt'"
I am running the angular application and deploying it on Azure.

But it's not running up as it is looking for the `robots933456.txt` route.

It wasn’t the case before today.

Please guide me on how to proceed further.

[2021-06-28 10:33] g138 commented on #32472
Hey, I am getting the same error on running my Angular application, can you please guide me how to proceed further.

Also, this error came today only.

[2021-06-28 10:34] PramodValavala-MSFT commented on #77535
@sijucm Thanks for the feedback! While the document is for Azure Functions, as far as error handling is concerned, there isn't really thing unique to Azure Functions. The general approaches are the same as you would do for any other program. Better logging and using try/catch are the best bets.

And coming to retries, they are only for triggers. So, for input/output bindings, the whole function wo

[2021-06-28 10:48] wvdd007 opened #77542 "Please add a link to the correct Configurationprovider"
The page is correct and everything works fine.  However I was missing a link like https://docs.microsoft.com/en-us/dotnet/core/extensions/configuration-providers#key-per-file-configuration-provider, which - as a programmer - would have made things much easier. (I posted this on stackoverflow and nobody found the answer their either - https://stackoverflow.com/questions/68104851/net-core-configurat

[2021-06-28 10:49] sijucm commented on #77535
Thanks but that is not correct. There is an automatic retry available from the SDK and that is what I look for when I use Azure functions and using the output bindings. As you might be aware, output bindings is handled by Azure functions and that is the functionality for which people use Azure functions. Somewhere down the line when Microsoft in the typical style says: Thanks for coming all this w

[2021-06-28 10:51] ShaikMaheer-MSFT commented on #77540
@chaisen2006 Thank you for sharing feedback. We are actively validating it. We will get back to you soon.

[2021-06-28 11:17] HarshCo commented on #77348
@ram-msft Thank you for the reply, I understand the default functionality of QNA maker without RankerType. I am waiting for your and product team response on the issue explained as rankerType is no working as expected after adding small talk/Chitchat pairs.

[2021-06-28 11:26] ram-msft commented on #77348
@nerajput1607 Can you please comment on this?

[2021-06-28 11:26] samkuls opened #77543 "It should show what all API Swagger UI exposes."
[Enter feedback here]

there should be some  screenshot  image which should shows  exposed API  in Swagger UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac742a64-1e66-4c89-6de5-67c7e818f9cc
* Version Independent ID: 29714c95-3e4c-f153-0a6f-598a736b4564
* Content: [Install and run Docker containers for the Speech s

[2021-06-28 11:47] v-hagamp commented on #66619
#please-close

[2021-06-28 11:47] #66619 closed

[2021-06-28 11:48] qburst-praven opened #77544 "helm variable - controller.service.internal.enable ?"
in the helm install step, dont we need to enable controller.service.internal.enable ? Without that I dont think the helm chart will create an internal LB?

Ref: https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/controller-service-internal.yaml#L1 ;
and https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#additional-internal-load-balancer

[2021-06-28 11:52] tscamell opened #77545 "Include "or secret is deleted but not yet purged" in the reasons description for ConflictError"
The following page details common error codes for KeyVault.
https://docs.microsoft.com/en-us/azure/key-vault/general/common-error-codes

One of which is:
ConflictError : You're requesting multiple operations on same item.

Conflict errors will also occur if the secret has been deleted (but not yet purged). It would potentially be useful to others to include this in the description of when a Confli

[2021-06-28 11:53] #53382 closed

[2021-06-28 12:00] jhancock4d opened #77546 "Insufficient To Be Able To Actually Implement"
In the past this page also included a sample of how to implement the webhook and decode the events etc. Since the Azure Event Grid library changed this page no longer has any samples including the required C# implementation. This should be restored and updated to the latest Azure Event Grid library for web hooks with full example.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-06-28 12:35] HarshitaSingh-MSFT commented on #77471
Assigning to @barclayn for more insights on this.

[2021-06-28 12:59] RohitMungi-MSFT commented on #77515
@gsuttie Yes, the mentioned errors are seen if we try to run the solution. The following needs to be replaced at these line no's.
Using `List<Guid>` instead of `List<Guid?>` as

[code]
@PatrickFarley FYI

[2021-06-28 13:16] snoerenberg commented on #75182
Hi, @jeevansd @JamesTran-MSFT thanks for the update. There is no ETA available or?

Thanks a lot

[2021-06-28 13:29] #53553 closed

[2021-06-28 13:42] Bhodges94 opened #77548 "Start/Stop VMs v2 - Support for App Services"
Is it possible to do the same for app services? but instead of start/stop, scale down/up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472a3f66-eb6d-4699-5a5d-558b69c60b4f
* Version Independent ID: 9529161c-f2b8-0c5b-e62a-dcee86601d47
* Content: [Deploy Start/Stop VMs v2 (preview)](https://docs.microsoft.com/en-us/azu

[2021-06-28 13:42] mdrief opened #77549 "Please update or review Move Workspace session"
I was able to move a WS with Sentinel to another Region/RG and the docs says otherwise.

Here's part of the doc

 Important

Azure Sentinel customers

Currently, after Azure Sentinel is deployed on a workspace, moving the workspace to another resource group or subscription isn't supported.
If you have already moved the workspace, disable all active rules under Analytics and re-enable them after fi

[2021-06-28 13:46] olumideo opened #77550 "This pages needs to be improved"
[Enter feedback here]
It's difficult to follow the explanation given for this all-important topic. Please revise!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API server authorized IP ranges in Azure Kubern

[2021-06-28 13:46] NeedsCoffee opened #77551 "How do we get extensionAttribute data onto device objects?"
This article describes how to filter on the extensionAttribute values of device objects but there appears to be no documentation on how to set these values for device objects. In AD we can set the attributes but these attributes do not synchronise to AAD through AzureAD Connect. And in AAD we haven't found a way to amend/update the values using AAD powershell nor using the graph api. Could somethi

[2021-06-28 13:47] mapi22 commented on #53425
u need to create this iot-hub consumer-group by using az
az iot hub consumer-group create --hub-name MyIotHub --name newconsumergroup

after on linux terminal
EventHubConsumerGroup="newconsumergroup"
export EventHubConsumerGroup

this sets the environment temporarily

control with printenv

[2021-06-28 13:49] AshokPeddakotla-MSFT commented on #77526
@ckarrasalithya Same question is already addressed here: https://github.com/MicrosoftDocs/azure-docs/issues/32681

The "test" button on the message & routing pane is for testing a specific message. You can fill in all the fields, and a message body, and it will test the query and make sure your data format will work. It has nothing to do with testing the overall routing or sending messages. To do

[2021-06-28 13:49] AjayKumar-MSFT commented on #77286
The document reflects the changes now. Thanks again for your feedback
![image](https://user-images.githubusercontent.com/44606227/123647481-bc64d580-d845-11eb-8a98-3f44597d670d.png)

[2021-06-28 13:49] #77286 closed

[2021-06-28 13:52] nathanwlee1 opened #77552 "Another limitation - not supported for on premise gateway?"
Hi

I have done some research and am having issues when using the Databricks connector via the gateway

 (ODBC: ERROR [HY000] [Microsoft][ThriftExtension] (14) Unexpected response from server during a HTTP connection: SSL_connect: certificate verify failed)

This is because its not supported?
As it says here, they need to use the spark connector instead or this scenario?

https://blog.gbrueckl.at/

[2021-06-28 13:52] #56312 closed

[2021-06-28 13:54] cephalin commented on #57549
Old issue. Doc has since been updated. #please-close

[2021-06-28 13:54] #57549 closed

[2021-06-28 14:02] edgarbyoung commented on #76340
I have been unable to reproduce a request that generates alternative languages using the Detect endpoint.
For example:
Text: 'gift'
![image](https://user-images.githubusercontent.com/83294734/123649254-486d0200-d832-11eb-88ba-9280a9db6084.png)

I would expect it to also display Swedish and German as alternatives with a score of 1.0, as they also use the word 'gift'.
Please advise whether it is pos

[2021-06-28 14:10] valdisiljuconoks opened #77553 "Missing table service port mapping in Docker run sample"
Missing table service port mapping in sample snippet to run emulator from docker.

Should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version Independent ID: db1fe92d-d22b-8a32-7061-d7960f41311e
* Content: [Use Azurite emulator for local Azure Storage development](h

[2021-06-28 14:16] SrijitBose-MSFT commented on #77544
@qburst-praven , Thank you for your question.

[This article](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#additional-internal-load-balancer) refers to the creation of an **_additional internal load balancer service_ for the nginx ingress controller besides the public load balancer service created by default**, where both `controller.service.internal.enabled` and `c

[2021-06-28 14:24] aykitaya opened #77554 "Japanese document is not updated."
[Enter feedback here]
I noticed the RP operations of "Microsoft.Advisor" had been decreased at this time.

![image](https://user-images.githubusercontent.com/51616225/123651397-66545a00-d866-11eb-80e1-97259f84c088.png)

However, there are many RP operations left in the Japanese document. It seems to be not updated.
![image](https://user-images.githubusercontent.com/51616225/123651677-a4ea1480-d866

[2021-06-28 14:26] #57670 closed

[2021-06-28 14:28] vit100 opened #77555 "Enable network file share v3 is disabled if Premium account type==FileShare selected."
Enable network file share v3 is disabled if Premium account type==FileShare selected.
The only way to enable Enable network file share v3 is to select Premium account type = block blobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b539-d2ea-48ce

[2021-06-28 14:37] GitaraniSharma-MSFT commented on #77533
@msjoshua , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-28 14:45] vipulsparsh commented on #77542
@wvdd007 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-28 14:45] AronT-TLV opened #77556 "Instructions re: GPUs are counterintuitive"
[Enter feedback here]

If I read the documentation correctly, the taint `GPU:NoSchedule`is for scheduling a pod on a GPU. I presume there is a good reason for choosing this language, but for someone not deeply clear what is going on, this is totally counter-intuitive and confusing. I had to read the documentation multiple times to be sure that this the taint you use to run on a GPU.

---
#### Docu

[2021-06-28 14:49] MGoedtel commented on #77432
@vonschutter - Based on the initial error message returned, it appears you did not provide the right value expected for SubscriptionId. It appears you provided the display name and not the GUID representing the Subscription ID.  You can find the subscription ID via PowerShell using the [Get-AzSubscription](https://docs.microsoft.com/powershell/module/az.accounts/get-azsubscription) or from the por

[2021-06-28 14:49] #77432 closed

[2021-06-28 14:52] SwathiDhanwada-MSFT commented on #77549
@mdrief Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-28 14:52] zacabrer opened #77557 "Missing default SNAT outbound connectivity method?"
This doc only has 4 outbound connectivity methods. What about the 5th? VM with no LB, NAT GW, or ILPIP. In this scenario the VM is assigned a pseudo VIP by Azure for outbound connections which SNATs similar to a Basic SKU public LB.

This is a very common scenario for customers and needs to be addressed in this document for completeness. In this scenario, ICMP isn't supported, this needs to be men

[2021-06-28 14:56] AronT-TLV opened #77558 "Multiple approaches to using GPUs in AKS documentation"
[Enter feedback here]
The documentation on how to use GPUs here matches what is found in the [Kubernetes documentation](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/). However it is totally different than what is recommended on [this](https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-advanced-scheduler) page.

From my own experience, the instructions here work fine

[2021-06-28 14:57] GiftA-MSFT commented on #77543
@samkuls we'll review your feedback and get back to you shortly. Thanks.

[2021-06-28 15:03] MicrosoftGuyJFlo commented on #77551
@NeedsCoffee love your username! I am planning on adding a blurb this week to the doc.

You can update the extensionAttributes using Graph Explorer and the beta devices API endpoint.

https://docs.microsoft.com/graph/api/device-update?view=graph-rest-beta&tabs=http

Patch https://graph.microsoft.com/beta/devices/<Device Object ID>

[code]

[2021-06-28 15:10] KranthiPakala-MSFT commented on #77428
If you have a feature request we request you to please log it here: https://feedback.azure.com/forums/307516-azure-synapse-analytics

If you have a product question please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questions).

We will now proceed to close this thread. If there are further questions regarding

[2021-06-28 15:10] #77428 closed

[2021-06-28 15:11] KranthiPakala-MSFT commented on #77431
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

If you have a product question please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questio

[2021-06-28 15:11] #77431 closed

[2021-06-28 15:13] spelluru commented on #76961
## On the source side
For **system topics** - the implementation (how Azure resources publish events to Event Grid) is an internal detail.
For **custom topics or domains** - access key or SAS token. See [Authenticating publishing clients](https://docs.microsoft.com/en-us/azure/event-grid/security-authenticate-publishing-clients).

## On the destination/handler side

Authentication method | Descrip

[2021-06-28 15:14] spelluru commented on #76961
@pioardi - Thanks for the feedback. Please see the comment above. I will be updating the article soon.

#please-close

[2021-06-28 15:14] #76961 closed

[2021-06-28 15:14] Johns-305 opened #77559 "Doc describes features that don't exist"
Regarding section : Subscribe to a feed

In the current version of RD client (linked in doc), there is no "Connection Center" and clicking + does not offer a Remote Resource Feed option.

Thanks for wasting my time.  There is no excuse for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 671614a5-60a1-e453-1f3b-1c5

[2021-06-28 15:15] mmacy commented on #76536
Using reassign to remove Navya's assignment: #reassign:SaeedAkhter-MSFT

[2021-06-28 15:15] spelluru commented on #77087
@qualitas-software - Thank you for sharing your example. I have updated the following article.

https://docs.microsoft.com/en-us/azure/event-grid/enable-diagnostic-logs-topic#use-azure-resource-manager-template

#sign-off

[2021-06-28 15:15] mmacy commented on #74236
Removing Navya's assignment: #reassign:SaeedAkhter-MSFT

[2021-06-28 15:15] spelluru commented on #77087
#please-close

[2021-06-28 15:15] #77087 closed

[2021-06-28 15:27] IngridAtMicrosoft commented on #74112
This was fixed throughout the docs.

#please-close

[2021-06-28 15:27] #74112 closed

[2021-06-28 15:32] olayemio commented on #75097
@tuckwelladev The issue is now fixed and the links are working again

[2021-06-28 15:34] spelluru commented on #77326
@mlcooper - here's the response from our dev. sorry for the delay.

"Logic Apps crates epoch receivers and they may move receivers from one node to another depending on the service load. During those moves, ReceiverDisconnectionExceptions during epoch receiver creation are counted as user errors on the EH service side. Logic Apps probably collects the failures from EventHubClients so customer can

[2021-06-28 15:34] #77326 closed

[2021-06-28 15:38] zr-msft commented on #62553
Thank you @pnarsi for the feedback!

The quoted text links to the following article:
https://docs.microsoft.com/azure/security/fundamentals/encryption-atrest

Which explains your options, including customer-managed encryption key scenarios.

#please-close

[2021-06-28 15:38] #62553 closed

[2021-06-28 15:44] IngridAtMicrosoft commented on #73757
In the Prerequisites section of the article in question:
Prerequisites
The following are required to complete the tutorial.

Review the Content protection overview article.
Install Visual Studio Code or Visual Studio.
Create a Media Services account.
**Get credentials needed to use Media Services APIs by following [Access APIs](https://docs.microsoft.com/en-us/azure/media-services/latest/access-ap

[2021-06-28 15:45] IngridAtMicrosoft commented on #73757
#please-close

[2021-06-28 15:45] #73757 closed

[2021-06-28 15:46] gamullen opened #77561 "US West 3"
Please add the paired region for West US 3.

Thanks, Gary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity & disaster recovery using Azure Paired Regions](https://docs.microsoft.com/e

[2021-06-28 15:47] zr-msft commented on #62728
Thank you @mariojacobo for the feedback!

Take a look at this article:
https://docs.microsoft.com/azure/aks/internal-lb

which calls out:

If you provisioned your cluster using the *Standard* load balancer, the helm commands you referenced will use the Standard load balancer. If you continue to experience issues, please contact support.

#please-close

[2021-06-28 15:47] #62728 closed

[2021-06-28 15:50] IngridAtMicrosoft commented on #74147
@BhargaviAnnadevara-MSFT  please assign to @johndeu.

[2021-06-28 15:52] baskialdensys commented on #37696
we are facing the same problem, not able to pass \t as a parameter to pipleline using .net SDK. If we pastethe actual tab cahracter within the empty quotes it works in Azure UI. But if we pass the same empty tab chracter from .net sdk it's not working.

[2021-06-28 15:56] zr-msft commented on #62581
Thank you @jtuliani for the feedback!

Earlier in the section of the article you're referring to, there is a link to the following:
https://docs.microsoft.com/azure/aks/operator-best-practices-advanced-scheduler#provide-dedicated-nodes-using-taints-and-tolerations

Which explains the behavior of taints and tolerations in more detail.

In addition, you can review the Kubernetes documentation on tai

[2021-06-28 15:56] #62581 closed

[2021-06-28 15:57] JamesTran-MSFT commented on #75182
@snoerenberg
Thank you for the follow up on this! I reached out to @jeevansd and the latest plugin should be reflecting within the download center.

I'll go ahead and close this out since the plugin has been updated. However, please let us know if this doesn't resolve your issue and I'd be more than happy to continue working with you on this.

Thank you again for the follows ups throughout this is

[2021-06-28 15:57] #75182 closed

[2021-06-28 15:58] ssmiller60 opened #77562 "ENTERPRISE MOBILITY + SECURITY G3/5 missing"
ENTERPRISE MOBILITY + SECURITY G3/5  Plan: EMS_GOV missing from the document, please add it

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for

[2021-06-28 16:01] NeedsCoffee commented on #77551
Well well, what d'ya know! It worked! Thanks @MicrosoftGuyJFlo :)

[2021-06-28 16:01] #77551 closed

[2021-06-28 16:30] MartinJaffer-MSFT commented on #77418
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-06-28 16:34] normesta commented on #77452
Hi @bhavin07, if you provide authorization credentials by using Azure Active Directory (Azure AD), you can omit the SAS token only from the destination URL. This article assumes Azure AD auth. This note appears in the doc. Thanks!

[2021-06-28 16:34] SatishBoddu-MSFT commented on #77402
Hello @rolandkru Just checking in if you have had a chance to see the previous response.
Please let us know if you need further help in this matter, or we good to close this case?

[2021-06-28 16:40] JamesTran-MSFT commented on #77554
@aykitaya
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-28 16:40] JamesTran-MSFT commented on #77545
@tscamell
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-28 16:41] JamesTran-MSFT commented on #77539
@aschabus
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-28 16:42] JamesTran-MSFT commented on #77562
@ssmiller60
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-28 16:43] zr-msft commented on #62760
Thank you @chirangaalwis for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-28 16:43] #62760 closed

[2021-06-28 16:44] halkazwini opened #77565 "Not a complete answer (paragraph) in the FAQ"
Hi,
The paragraph of the answer is not complete:
https://docs.microsoft.com/en-us/azure/vpn-gateway/nat-overview#can-i-use-different-egresssnat-rules-to-translate-my-vnet-address-space-to-different-prefixes-to-different-on-premises-networks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ea585e-6ab4-38b6-0b75-6b53ae43

[2021-06-28 16:47] zr-msft commented on #73940
Thank you @jmandel for the feedback.

I was able to verify the linked article works as currently documented. If you continue to experience issues, please contact support.

#please-close

[2021-06-28 16:47] #73940 closed

[2021-06-28 16:51] SrijitBose-MSFT commented on #77558
@AronT-TLV , Thank you for your question.

[Use GPUs on Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster) helps you provision nodes with schedulable GPU on new clusters (1 nodepool only with schedulable GPU nodes) or on existing clusters (adding a new node pool with schedulable GPU).

[Best practices for advanced scheduler features i

[2021-06-28 16:56] JamesTran-MSFT commented on #77420
@alfredogan
Thank you for the follow up on this! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-28 16:58] zr-msft commented on #69203
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 17:01] zr-msft commented on #67055
Thank you @rb-cloud-guru for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 17:01] #67055 closed

[2021-06-28 17:03] zr-msft commented on #63171
Thank you @wolegibj for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 17:03] #63171 closed

[2021-06-28 17:03] DaveSimioneTS opened #77566 "Extra left square bracket in blueprint sample"
In the section Azure Blueprints, Create blueprint definition, the example code has a typo.  The last blueprint artifact for the policy assignment has an extra "[" in the value for the parameter.

Existing sample:
[code]

Should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb47179-04d1-7d43-23e0-6203a2bf9d

[2021-06-28 17:03] badalk opened #77567 "Issue regarding creation of static volume in availability zone with PV in AKS"
I am trying to create and deploy a workload on AKS with PV referencing the azure disk which i have created in zone 1.  I created the PVC, deployment and other resources.

According the documentation / limitations mentioned on this page
"Kubernetes is aware of Azure availability zones since version 1.12. You can deploy a PersistentVolumeClaim object referencing an Azure Managed Disk in a multi-zone

[2021-06-28 17:19] JamesTran-MSFT commented on #77464
@BakkerJan
Thank you for pointing this out!

I've created a PR to update the documentation and it's currently waiting for the author to review and sign off. Additionally, I've passed along this product feedback to our engineering team to look into and update as needed.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your t

[2021-06-28 17:19] #77464 closed

[2021-06-28 17:29] himanshusinha-msft commented on #77552
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 17:29] p2vyou opened #77568 "support for additional claims"
Is there any public documentation/support for additional claims that can be included in the SAML token from a third party IdP? I am passing first and last name claims from Gsuite IdP to AzureAD, but they are not being processed by AzureAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8

[2021-06-28 17:29] ETsunami commented on #47611
@RyanHill-MSFT @NunoBem @PaulARoy Is there a way any of you have found to get past the app store Sign in with Apple requirements with Azure B2C that isn't getting rid of social logins? Any guidance would be appreciated, thanks!

[2021-06-28 17:32] JamesTran-MSFT commented on #77539
@aschabus
Thank you for pointing this out!

Please refer to our [Trusted Services documentation](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints#trusted-services) for the list of services. I've also created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/3

[2021-06-28 17:32] #77539 closed

[2021-06-28 17:39] RyanHill-MSFT commented on #47611
Can you describe your Auth setup? If you rather discuss offline, send me an email to AzCommunity[at]microsoft[dot]com _ATTN: Ryan_

[2021-06-28 17:54] davidmrdavid commented on #76887
That's correct, @Sti2nd

[2021-06-28 17:59] himanshusinha-msft commented on #77546
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:01] himanshusinha-msft commented on #77548
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:02] ssabat commented on #75412
@hmayer1980

Thanks for your suggestion. You can disable triggers and enable them during ci/cd.   That is why we provide pore/post deployment scripts.

 I checked with PM who owns the feature. Best option is to Cancel and Rerun the pipeline. That way, tumbling window trigger will catch up to past triggers.

#please-close

[2021-06-28 18:02] #75412 closed

[2021-06-28 18:02] Karishma-Tiwari-MSFT commented on #77550
Can you please elaborate on what improvements in the document would help you better, so that the author can make updates accordingly. Thanks.

[2021-06-28 18:03] GitaraniSharma-MSFT commented on #77538
@daphnecys , thank you for your feedback. We have assigned this to the content owner/author for review.

@mlearned , could you please review the suggestion and provide your inputs?

[2021-06-28 18:07] julieMSFT commented on #74885
#assign:julie MSFT

[2021-06-28 18:07] PRMerger20 commented on #74885
julie is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-28 18:09] julieMSFT commented on #74885
@JerryMWeeks Hi, I will go ahead with closing this issue since we have not heard back from you. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-28 18:09] julieMSFT commented on #74885
#please-close

[2021-06-28 18:09] #74885 closed

[2021-06-28 18:16] julieMSFT commented on #77480
#assign-julieMSFT

[2021-06-28 18:18] himanshusinha-msft commented on #77541
Thanks @g138  for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an

[2021-06-28 18:20] dmarlow opened #77570 "No mention of Standard Verizon"
We've been using Standard Verizon for years without any issues with regard to CORS. Then, all of a sudden, we start experiencing some issues. This document doesn't mention if Standard Verizon handles CORS. Can this document please be updated with the current capabilities for all CDN offerings in Azure, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-06-28 18:20] himanshusinha-msft commented on #77553
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:21] julieMSFT commented on #77480
@himanshu-mishra I will make these changes.

[2021-06-28 18:21] himanshusinha-msft commented on #77557
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:22] julieMSFT commented on #77480
#https://github.com/MicrosoftDocs/azure-docs/issues/77480

[2021-06-28 18:22] mlindner-gk commented on #75182
Hi @JamesTran-MSFT,

thanks a lot, we'll review the updated plugin and let you know in case of any issues.

Best regards,
Marco

[2021-06-28 18:23] julieMSFT commented on #77480
@pillaianil Thank you for your contribution to Microsoft Docs. I have made the change and you will see it later today. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-28 18:23] himanshusinha-msft commented on #77555
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:25] himanshusinha-msft commented on #77556
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:25] julieMSFT commented on #77480
#please-close

[2021-06-28 18:25] #77480 closed

[2021-06-28 18:26] himanshusinha-msft commented on #77559
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:29] BharathNimmala-MSFT commented on #77566
@DaveSimioneTS Thanks a lot for taking time to share your feedback, we will review it and update the document as needed.

[2021-06-28 18:30] himanshusinha-msft commented on #77561
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2021-06-28 18:31] himanshusinha-msft commented on #77565
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:32] zr-msft commented on #63293
Thank you @andbaraks for the feedback.

We've updated the article to address your feedback.

#please-close

[2021-06-28 18:32] #63293 closed

[2021-06-28 18:32] jeremiedeveloper opened #77571 "Little mistake on the toString function"
a "y" is missing here
$tomorrowDate = (get-date).AddDays(+1).ToString("**y**yyy-MM-ddTHH:mm:ssZ")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5600ab-b0c4-d463-a6c8-19e877138d6b
* Version Independent ID: 5236a870-4196-c950-a0f4-99aae8d19b2e
* Content: [Rotation tutorial for resources with two sets of credentials](h

[2021-06-28 18:33] himanshusinha-msft commented on #77567
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:37] himanshusinha-msft commented on #77568
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:38] Karishma-Tiwari-MSFT commented on #77556
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-28 18:38] Karishma-Tiwari-MSFT commented on #77559
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-28 18:38] himanshusinha-msft commented on #77571
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:40] himanshusinha-msft commented on #77570
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-28 18:46] zr-msft commented on #63375
Thank you @karataliu for the feedback. There is no longer preview features in the article.

#please-close

[2021-06-28 18:46] #63375 closed

[2021-06-28 18:49] MGoedtel commented on #77536
Hi @gasserp - Thanks for bringing this to my attention.  I'll create a work item for this and check with the product group to confirm and ensure the list is up-to-date for all supported regions.  We should have this updated early in our July sprint.  #please-close

[2021-06-28 18:49] #77536 closed

[2021-06-28 18:50] zr-msft commented on #69845
Thank you @jyama4ta for the feedback!

containerd for linux nodes is no longer listed as preview.

#please-close

[2021-06-28 18:51] julieMSFT commented on #75367
@amarathavale Thank you for contacting Microsoft. Thank you for bringing this issue to our attention. I have removed this article, https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/massively-parallel-processing-mpp-architecture?toc=/azure/synapse-analytics/toc.json&bc=/azure/synapse-analytics/breadcrumb/toc.json, from the TOC.  You should see the update later today. I wil

[2021-06-28 18:52] julieMSFT commented on #75367
#please-close

[2021-06-28 18:52] #75367 closed

[2021-06-28 18:53] KranthiPakala-MSFT commented on #77513
Hi @lrtoyou1223 - Could you please review above feedback and share your inputs. - Thank you

[2021-06-28 18:55] PKPublicCode commented on #77210
Hi Thank you for your reply.

But this is not exactly what I meant to describe. I'm talking about sharing file storage.
My question was about loading application into memory (RAM) when app service plan scaled out (2+ instances).

For example, below how it works with app service plan with one instance per my understanding (correct me if I'm wrong):
Precondition: no http requests were executed for a

[2021-06-28 18:56] cherylmc commented on #77043
I'll send this over to localization. Thank you!

[2021-06-28 19:00] zr-msft commented on #66582
Thank you @karataliu for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:01] tfitzmac commented on #77566
@DCtheGeek - Can you confirm that in this case the extra left bracket is needed? I believe the extra bracket escapes the syntax so it is processed as a parameter of the blueprint rather than the template.

[2021-06-28 19:10] zr-msft commented on #75306
Thank you @mohmdnofal  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:10] zr-msft commented on #74529
Thank you @marywhitney  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:10] zr-msft commented on #72547
Thank you @jimmyjamesbaldwin  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:11] zr-msft commented on #63200
Thank you @yashi-cloud  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:12] julieMSFT commented on #75505
@VitalyMCT Hi the default for RSC is OFF by default at DB level and session level. I have updated the article and you should see the changes later today. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-28 19:12] julieMSFT commented on #75505
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/163903

[2021-06-28 19:13] zr-msft commented on #65177
Thank you @aelmanaa  for the feedback.

We've updated the article to address your feedback.

#please-close

[2021-06-28 19:13] #65177 closed

[2021-06-28 19:14] julieMSFT commented on #75505
#please-close

[2021-06-28 19:14] #75505 closed

[2021-06-28 19:16] zr-msft commented on #64114
Thank you @chirangaalwis for the feedback and the contribution. Your linked PR was merged.

#please-close

[2021-06-28 19:17] DCtheGeek commented on #77566
@tfitzmac You are correct.  The extra bracket escapes the syntax so that the template doesn't process it and the value is passed to Azure Blueprints so that Blueprints can then treat it as a function.  More details are here: https://docs.microsoft.com/azure/governance/blueprints/troubleshoot/general#escape-function-parameter

[2021-06-28 19:18] zr-msft commented on #75688
Thank you @HimanshuZinzuwadia  for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 19:18] #75688 closed

[2021-06-28 19:21] zr-msft commented on #77139
Thank you @eelliottms for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:21] #77139 closed

[2021-06-28 19:27] TheovanKraay commented on #77477
We feel the statement is an accurate representation of the differences in default durability guarantees between Apache Cassandra and Azure Cosmos DB.

The document you have mentioned clearly states that for periodic commitlog sync mode (which is the default), writes are fsynced every 10 seconds (this is the default value). As such, the commit log by default may hold data **only in memory** for up

[2021-06-28 19:29] zr-msft commented on #62583
Thank you @stefandoh  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:29] #62583 closed

[2021-06-28 19:29] julieMSFT commented on #74728
@tifischer Hi, We have updated the document to remove the reference to lineage. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-28 19:29] julieMSFT commented on #74728
#please-close

[2021-06-28 19:29] #74728 closed

[2021-06-28 19:30] jeremiedeveloper commented on #77571
No problem !
Also, I'm not sure that this command is correct for Azure CLI [$tomorrowDate = (get-date).AddDays(+1).ToString("yyyy-MM-ddTHH:mm:ssZ")]
'Get-date' command does not seem to exist in bash.
And to affect a value to a variable, "$" is not necessary

[2021-06-28 19:34] zr-msft commented on #65430
Thank you @davidkydd  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:34] #65430 closed

[2021-06-28 19:47] MarileeTurscak-MSFT commented on #77474
I tested and was able to confirm this limitation. @MicrosoftGuyJFlo is this documented somewhere?

[2021-06-28 19:48] JamesTran-MSFT commented on #77545
@tscamell
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-28 19:48] #77545 closed

[2021-06-28 19:54] julieMSFT commented on #77042
@luishdemetrio Hi and thank you for contacting Microsoft. We have an open issue to resolve this localization issue. I will close this issue for now but we are working on this. I will update you when the issue is resolved. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-28 19:54] julieMSFT commented on #77042
#https://ceapex.visualstudio.com/defaultcollection/CEINTL/_workitems/edit/442250

[2021-06-28 19:55] julieMSFT commented on #77042
#please-close

[2021-06-28 19:55] #77042 closed

[2021-06-28 19:57] zr-msft commented on #65363
Thank you @kshke  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:57] #65363 closed

[2021-06-28 19:58] zr-msft commented on #69716
Thank you @balintbako  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:58] #69716 closed

[2021-06-28 19:58] robinsh commented on #76759
#please-close

[2021-06-28 19:58] #76759 closed

[2021-06-28 19:59] zr-msft commented on #76861
Thank you @vairakkumar-vairaperumal for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:59] #76861 closed

[2021-06-28 19:59] zr-msft commented on #63053
Thank you @emaildanwilson  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 19:59] #63053 closed

[2021-06-28 20:03] MarileeTurscak-MSFT commented on #77554
@rolyon I tried to update but do not have write access to this. Are you able to confirm and add this?

[2021-06-28 20:06] zr-msft commented on #75628
Thank you @fredericbreu1  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:06] #75628 closed

[2021-06-28 20:06] zr-msft commented on #73260
Thank you @cecilphillip  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:06] #73260 closed

[2021-06-28 20:06] zr-msft commented on #63392
Thank you @HoussemDellai  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:06] #63392 closed

[2021-06-28 20:10] zr-msft commented on #63547
Thank you @rharper82 for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 20:10] #63547 closed

[2021-06-28 20:11] tfitzmac commented on #77566
@DCtheGeek - thanks for that answer!

@DaveSimioneTS - hopefully, David's explanation helps with this template.
#please-close

[2021-06-28 20:11] #77566 closed

[2021-06-28 20:16] zr-msft commented on #63589
Thank you @chirangaalwis for the feedback!

Based on the discussion in the thread, it seems like your questions have been answered.

#please-close

[2021-06-28 20:16] #63589 closed

[2021-06-28 20:21] #63674 closed

[2021-06-28 20:26] zr-msft commented on #64651
Thank you @alexjoybc for the feedback.

The article is working as documented in BASH environments such as the Azure Cloud Shell so we won't be incorporating this feedback.

#please-close

[2021-06-28 20:26] #64651 closed

[2021-06-28 20:30] zr-msft commented on #64792
Thank you @pecrow  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:30] #64792 closed

[2021-06-28 20:41] MicrosoftGuyJFlo commented on #77474
Email out to @lujiangfeng666 for feedback

[2021-06-28 20:46] BharathNimmala-MSFT commented on #77500
@ruthbacci Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however i

[2021-06-28 20:46] #77500 closed

[2021-06-28 20:47] MartinJaffer-MSFT commented on #77361
Thank you for your feedback @nunepalli . This has been assigned to the content owner, @minhe-msft , and will be updated as appropriate.
I have also escalated a question on this internally.

[2021-06-28 20:56] zr-msft commented on #72003
Thank you @AdamSharif-MSFT  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:56] #72003 closed

[2021-06-28 20:57] zr-msft commented on #76974
Thank you @mpdavis21  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:57] #76974 closed

[2021-06-28 20:57] zr-msft commented on #64289
Thank you @Gurpreet103  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:57] #64289 closed

[2021-06-28 20:57] zr-msft commented on #72499
Thank you @lissff  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 20:57] #72499 closed

[2021-06-28 21:00] zr-msft commented on #64989
Thank you @lissff for the feedback.

The article has been updated to address you feedback.

#plase-close

[2021-06-28 21:00] #64989 closed

[2021-06-28 21:03] zr-msft commented on #73420
Thank you @Lroca88 for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 21:03] #73420 closed

[2021-06-28 21:06] zr-msft commented on #72174
Thank you @garthoid for the feedback.

The article has been verified to work as documented. If you continue to experience issues, please contact support.

#please-close

[2021-06-28 21:06] #72174 closed

[2021-06-28 21:08] BharathNimmala-MSFT commented on #77443
Thanks a lot @bwren for helping on this.

@mle-ii Apologies again for the experience on this , we have PR in works to update the document and which will be submitted by tonight. Post review and approval the changes would go live in next 24-48 hrs.

Thanks again for bringing this to our notice and helping us improve our Azure documentation. At this point it appears that there's no further edits or

[2021-06-28 21:08] #77443 closed

[2021-06-28 21:08] garthoid commented on #72174
No, please see the comment above from last March as you are assuming something that was not clear to someone starting out. Nice try to do a quick close though.

[2021-06-28 21:11] zr-msft commented on #69775
Thank you @V4A001 for the feedback.

The article has been verified to be working as documented. If you continue to experience issues, please contact support.

#please-close

[2021-06-28 21:11] #69775 closed

[2021-06-28 21:13] zr-msft commented on #70023
Thank you for the feedback @maltalex.

The article currently uses the staging environment for Let's Encrypt.

https://docs.microsoft.com/azure/aks/ingress-static-ip#install-cert-manager

#please-close

[2021-06-28 21:13] garthoid commented on #72174
# FAIL @VikasPullagura-MSFT

[2021-06-28 21:13] #70023 closed

[2021-06-28 21:16] GiftA-MSFT commented on #77543
@aahill please review above feedback for doc enhancement. Thanks.

[2021-06-28 21:18] zr-msft commented on #67099
Thank you @fgauna12  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:18] #67099 closed

[2021-06-28 21:20] zr-msft commented on #74820
Thank you @lukos for the feedback.

The article works as documented when using a cluster with a Standard SKU load balancer, which is the default.

We've added a task to our backlog to add this detail and will prioritize accordingly.

#please-close

[2021-06-28 21:20] #74820 closed

[2021-06-28 21:22] zr-msft commented on #65162
Thank you @felixtsem5 for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 21:22] #65162 closed

[2021-06-28 21:30] zr-msft commented on #65199
Thank you @lolodi  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:30] #65199 closed

[2021-06-28 21:34] zr-msft commented on #65207
Thank you @AdamSharif-MSFT  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:35] zr-msft commented on #65213
Thank you @AdamSharif-MSFT for the feedback.

The article is no longer in preview.

#please-close

[2021-06-28 21:35] #65213 closed

[2021-06-28 21:38] zr-msft commented on #65221
Thank you @AdamSharif-MSFT  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:38] #65221 closed

[2021-06-28 21:38] zr-msft commented on #75550
Thank you @ulflunde  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:39] #75550 closed

[2021-06-28 21:39] zr-msft commented on #70270
Thank you @chrisbloe  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:39] #70270 closed

[2021-06-28 21:47] zr-msft commented on #65228
Thank you @bkarlen for the feedback.

This issue seems to be related to your specific configuration with authorized IP ranges and not the steps in the linked article as documented. If you are still experiencing issues, please contact support.

#please-close

[2021-06-28 21:47] #65228 closed

[2021-06-28 21:55] zr-msft commented on #72732
Thank you @dankuchem for the feedback.

I'm unclear about where you're running into issues.

In this section:

https://docs.microsoft.com/azure/aks/tutorial-kubernetes-deploy-application?tabs=azure-cli#update-the-manifest-file

the action is to update the manifest you cloned from the git repository to your development computer. You then use that updated file in the next section.

#please-close

[2021-06-28 21:55] #72732 closed

[2021-06-28 21:59] jwisener opened #77574 "This does not work for azure functions 5, for example host start --port command line arguments, just simply do not work."
[This document is out of date, these command line arg do not work with azure 5 functions, for example host start --port, causes an "unknown command"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azu

[2021-06-28 21:59] zr-msft commented on #65870
Thank you @hamaker for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 21:59] #65870 closed

[2021-06-28 22:01] bandersmsft commented on #76831
@sanjaydatasciencedojo Yes, the usage will be fully covered as long as VM1 and VM2 are same size and type. Your latest example uses 1/2 hour of usage x 2 (1 hour) and you bought 1 hour of usage, so your usage is fully covered.

[2021-06-28 22:04] zr-msft commented on #66045
Thank you @jcord100  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:04] #66045 closed

[2021-06-28 22:13] zr-msft commented on #66141
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:13] zr-msft commented on #68092
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:13] #68092 closed

[2021-06-28 22:13] zr-msft commented on #73876
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:13] #73876 closed

[2021-06-28 22:13] zr-msft commented on #74206
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:13] #74206 closed

[2021-06-28 22:13] zr-msft commented on #76125
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:13] zr-msft commented on #76693
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:19] zr-msft commented on #72620
Thank you @PingPongSet for the feedback.

At this time, we are not planning on making this update to the documentation.

#please-close

[2021-06-28 22:19] #72620 closed

[2021-06-28 22:20] zr-msft commented on #66576
Thank you @V4A001 for the feedback.

At this time, we are not planning on making this update to the documentation.

#please-close

[2021-06-28 22:20] #66576 closed

[2021-06-28 22:23] zr-msft commented on #66701
Thank you @bacongobbler for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 22:23] #66701 closed

[2021-06-28 22:26] edisga commented on #77190
Hi @BhargaviAnnadevara-MSFT thanks for following up on this thread. Yes I was able to move forward creating first the resource group. If this is a bug in the az cli version, then the doc is fine. Thanks

[2021-06-28 22:28] zr-msft commented on #66846
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:28] #66846 closed

[2021-06-28 22:29] zr-msft commented on #67016
Thank you @bleemus for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 22:29] #67016 closed

[2021-06-28 22:34] joelmdev opened #77576 "Typo correction"
Actual:
"You can override specific host.json values **be** creating an equivalent value as an application setting. "

Expected:
"You can override specific host.json values **by** creating an equivalent value as an application setting. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d

[2021-06-28 22:36] zr-msft commented on #67087
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:36] #67087 closed

[2021-06-28 22:36] zr-msft commented on #71211
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-28 22:36] #71211 closed

[2021-06-28 22:37] ecfan commented on #77425
Thanks for reaching out, @lunar87. I'm investigating with @laveeshb.

[2021-06-28 22:37] ecfan commented on #77425
#assign @laveeshb for investigation.

[2021-06-28 22:38] zr-msft commented on #69342
thank you @ezYakaEagle442 for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-28 22:38] #69342 closed

[2021-06-28 22:45] robinsh commented on #77526
the Routing Tutorial actually shows how to route to a storage account, and shows the query string (level="true") as it is put into the screen. For more information, you can run though that section of the routing tutorial and see it work. https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing
#please-close

[2021-06-28 22:45] #77526 closed

[2021-06-28 23:00] ecfan commented on #77425
Hi @lunar87,

After confirming with @laveeshb, you don't need a storage account until you deploy to Azure. We'll update the doc to remove references to using a storage account during local development. Thanks!

[2021-06-28 23:01] kgremban commented on #73688
@oliverchristen and @SatishBoddu-MSFT Oliver is correct, and currently certificates and symmetric keys are the only way to authenticate with the MQTT broker. Thank you.

#please-close

[2021-06-28 23:01] #73688 closed

[2021-06-28 23:07] ecfan commented on #77425
@lunar87, @laveeshb: I created the work item on the backlog, but will aim to get this fixed promptly as I'm focused on other urgent doc updates. I'll update this thread when new status is available.

[2021-06-28 23:13] kgremban commented on #77165
I'm going to close this issue now, but if you have any further questions on the topic feel free to comment here again and we can reopen it.

Thanks.

#please-close

[2021-06-28 23:13] #77165 closed

[2021-06-28 23:40] inaun opened #77578 "Factual error in documentation needs to be corrected"
This page incorrectly says:

What is the difference between Azure Front Door and Azure Application Gateway?
While both Front Door and Application Gateway are layer 7 (HTTP/HTTPS) load balancers, the primary difference is that Front Door is a global service whereas Application Gateway is a regional service. While Front Door can load balance between your different scale units/clusters/stamp units ac

[2021-06-28 23:44] anomalousdigitalemissions opened #77579 "TestCloudConnection tool name and location"
Under the "Do you have connectivity issues?" section, it says:
... the _TestCloudConnectivity_ tool ... in the folder _%SystemRoot%\Program Files\Microsoft Monitoring Agent\Agent_ ...

Based on a connectivity test I've just completed, I believe it should say:
... the _TestCloudConnection_ tool ... in the folder _%SystemDrive%\Program Files\Microsoft Monitoring Agent\Agent_ ...

---
#### Document D

[2021-06-28 23:52] haalkaz opened #77580 "IM-2 Section"
There is no IM-2 section, there is IM-1 and then IM-3, IM-4.. Maybe IM-3 and the following IM sectioned need to be re-numbered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3662c645-daea-73fb-ce69-85c5698ee4a8
* Version Independent ID: 8bc33e42-7cfa-e93b-75ec-8ce7d2b6734c
* Content: [Azure security baseline for VPN G

[2021-06-29 00:09] JLambEJG opened #77581 "Missing SKUs"
The following SKUs are missing from this page, but are all present in our tenant:

MICROSOFT_REMOTE_ASSIST
VIRTUAL_AGENT_BASE
FLOW_BUSINESS_PROCESS
CDSAICAPACITY
POWERAUTOMATE_UNATTENDED_RPA
MICROSOFT_REMOTE_ASSIST_HOLOLENS
MEETING_ROOM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071

[2021-06-29 00:14] BharathNimmala-MSFT commented on #77317
@dingoryan Thanks again for sharing your feedback on this, we will take this as a backlog item to test it out and validate if the brackets are required , will update the document if needed . We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank y

[2021-06-29 00:14] #77317 closed

[2021-06-29 00:20] MP7373 commented on #77161
Sorry I didn't check back on this until a week.

What if you have the account set to strong consistency but have a client that is set to bounded staleness consistency level?
Is there away to change the number of updates/time per client in that case or is that also set at the account level?

The question is based on having an existing account set to strong consistency but most clients are overridin

[2021-06-29 00:32] nayef-yassin commented on #77226
@javiersoriano The fix is now published! Thanks again.

[2021-06-29 00:50] BharathNimmala-MSFT commented on #77579
@anomalousdigitalemissions Thank you for bringing this to our notice, we will review the feedback and get back to you at the earliest.

[2021-06-29 01:03] chamukallem-msft commented on #58897
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 01:03] #58897 closed

[2021-06-29 01:27] chamukallem-msft commented on #58700
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 01:27] #58700 closed

[2021-06-29 01:38] mike-urnun-msft commented on #77576
Hello @joelmdev - Thank you for reporting this and helping us drive improvements towards MS Docs! I have created a PR that fixes the typo, and once it is merged, this issue will self-close.

[2021-06-29 01:41] #77576 closed

[2021-06-29 01:43] mike-urnun-msft commented on #77574
Hello @jwisener - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-29 02:23] TravisCragg-MSFT commented on #77504
@suncats Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-29 02:30] gzuber commented on #77504
Hi @TravisCragg-MSFT! I'm sorry but I'm no longer on the Service Fabric team, we should probably change the owner of this page I'm just not sure who the appropriate person would be

[2021-06-29 02:32] TravisCragg-MSFT commented on #77504
@gzuber Thanks! I will find the correct owner.

[2021-06-29 03:40] GitaraniSharma-MSFT commented on #77578
@inaun , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 03:42] GitaraniSharma-MSFT commented on #77580
@haalkaz , thank you for your feedback. We'll review this and get ack to you shortly!

[2021-06-29 04:15] #77544 closed

[2021-06-29 04:42] vipulsparsh commented on #77581
@JLambEJG Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-29 05:31] soorajpayyoor opened #77583 "GoDaddy CNAME entry"
When you are adding CNAME record in GoDaddy, make sure that you are entering only the subdomain in the host field and do not add your domain name.

For example:

If you have a domain contoso.com and you are adding a custom domain in Azure Front Door for "login.contoso.com", add only "login" in the host field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-06-29 05:34] ShaikMaheer-MSFT commented on #77447
@JasonWHowell Could you please validate feedback and update as appropriate. Thank you

[2021-06-29 05:35] ShaikMaheer-MSFT commented on #77448
@DavidVivash Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-29 05:36] ShaikMaheer-MSFT commented on #77540
@chaisen2006 Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-29 05:40] rdebnath2-humana commented on #60272
do we need Write permission over existing shared image gallery and existing vnet which I am trying to attach to devtest lab.
Please note that Shared image gallery is in different subscription and vnet is in same subscription that of devtest lab.

I am getting below error while attaching existing vnet and shared image gallery:
The client '<>' with object id '<>' has permission to perform action 'Mi

[2021-06-29 05:44] BhargaviAnnadevara-MSFT commented on #77190
@edisga Yes, thanks for confirming. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-29 05:44] #77190 closed

[2021-06-29 05:58] JasonWHowell commented on #77447
It depends on the level of storage chosen as the link in the doc explains. I think the doc is correct as-is considering the variability.
https://azure.microsoft.com/en-us/support/legal/sla/storage/v1_5/

[2021-06-29 05:58] JasonWHowell commented on #77447
#please-close

[2021-06-29 05:58] #77447 closed

[2021-06-29 06:13] jyama4ta opened #77584 "Wrong CIDR for Hub VNET"
The range is incorrect. It should be '10.0.0.0/16'.
![image](https://user-images.githubusercontent.com/1112490/123746327-73b42780-d8ec-11eb-9c5d-7f550c598ee7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c36-24c5-fa91a5be474a
* Version Independent ID: c6bd0573-22ef-f1d5-5553-000bd8f8c1bd
* Content:

[2021-06-29 06:14] GitaraniSharma-MSFT commented on #77583
@soorajpayyoor , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 06:14] AjayKumar-MSFT commented on #77186
@waltervos, Apologies for the delay. I'd assigned this to our Azure Functions SME, who is looking into this and will respond shortly.

[2021-06-29 06:22] GitaraniSharma-MSFT commented on #77583
@soorajpayyoor , what you mentioned is correct and the same is documented in [this doc](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain#map-the-permanent-custom-domain) as below:

![image](https://user-images.githubusercontent.com/67630903/123747317-6721d600-d8d0-11eb-9256-fb07430b44fb.png)

No change is required in the documentation. Hence, we are closing this issue for

[2021-06-29 06:22] #77583 closed

[2021-06-29 06:24] AjayKumar-MSFT commented on #76985
lysacor, Thanks for taking time to share your feedback. Apologies for the delay. Your feedback has been shared with the content owner for further review. // @RyanHill-MSFT

[2021-06-29 06:26] GitaraniSharma-MSFT commented on #77584
@jyama4ta , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 06:27] GitaraniSharma-MSFT commented on #77584
@jyama4ta , this feedback is already active in https://github.com/MicrosoftDocs/azure-docs/issues/74883 and is assigned to the content owner for updating the doc accordingly. Hence, We are closing this issue as duplicate. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-06-29 06:27] #77584 closed

[2021-06-29 06:31] GitaraniSharma-MSFT commented on #74883
@jocortems , any updates on this issue?

@asudbring , would you be able to help fix the picture with correct CIDR (10.0.0.0/16) as this feedback is getting submitted by multiple customers?
Reference:
https://github.com/MicrosoftDocs/azure-docs/issues/66353
https://github.com/MicrosoftDocs/azure-docs/issues/66337
https://github.com/MicrosoftDocs/azure-docs/issues/69711
https://github.com/MicrosoftD

[2021-06-29 06:40] GitaraniSharma-MSFT commented on #77578
@inaun , you can find the definition of Global vs regional in [this doc](https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/load-balancing-overview#global-versus-regional) as below:

**Global** load-balancing services distribute traffic across regional backends, clouds, or hybrid on-premises services. These services route end-user traffic to the closest available backend.

[2021-06-29 06:40] #77578 closed

[2021-06-29 06:47] ANKGITDEMOS opened #77585 "int sum = parallelTasks.sum(t => t.Result) -> This line will not work because List is of type object Task and not integer."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a396a3be3e8
* Content: [Durable Functions Overview - Azure](https://docs.microsoft.com/en-in/azure/azure-functions/durable/durable-functions-overview?tabs=csharp#a

[2021-06-29 06:48] MartinJaffer-MSFT commented on #77411
Thank you for your feedback. This has been assigned to the content owner, @lrtoyou1223 , and will be updated as appropriate.

[2021-06-29 06:50] GitaraniSharma-MSFT commented on #77580
@haalkaz , the numbering in the IM section and in all other sections is correct since they are not numbers but are Azure ID from the specific security benchmark and only the applicable ones are added in the security baseline for VPN Gateway.

IM section is taken from [Azure Security Benchmark: Identity Management](https://docs.microsoft.com/en-us/security/benchmark/azure/security-controls-v2-ident

[2021-06-29 06:50] #77580 closed

[2021-06-29 06:58] #77441 closed

[2021-06-29 06:59] AnuragSharma-MSFT commented on #77440
@AwdotiaRomanowna This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-29 07:23] olveslind opened #77586 "operationOptions - DisableAsyncPattern"
Hi!

According to the documentation, if you set the option "operationOptions": "DisableAsyncPattern" in an action, you get synchronous call. But when I'm using it in a action calling another logic apps, it seems that the request will reply immedidate with HTTP 202 Accepted without waiting on response from the called logic apps at all. DisableAsyncPattern seems to only mean that "we do not wait at

[2021-06-29 07:30] jeroenmaes commented on #69658
I can confirm this behaviour. The NSG rules are ignored.

[2021-06-29 07:37] EditorJimmy opened #77587 "The platform metric of the storage account only saves 30 days of data, which does not match the retention time in the document"
[Enter feedback here]

In the official doc about platform metric retention.
Link: https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/data-platform-metrics#retention-of-metrics
![image](https://user-images.githubusercontent.com/65010158/123756052-1ff70d80-d8ef-11eb-8b82-a476c98f125f.png)

But I can only see the 30-day platform metric of my storage account.
I also checeked with my colle

[2021-06-29 07:41] DavidVivash commented on #77448
@ShaikMaheer-MSFT thank you for responding. Just to clarify, what I'm asking is for the redundancy to be documented. For keys / secrets etc. uploaded to key vault, the redundancy is known, because it is documented. See, for example: https://docs.microsoft.com/en-us/azure/key-vault/general/disaster-recovery-guidance
What I'm suggesting is the current documentation with respect to public SSH keys is

[2021-06-29 07:45] take-4c commented on #75896
@PramodValavala-MSFT
Are there any updates?

[2021-06-29 07:57] v-amallick commented on #77305
@chriselleman-msft: Thank you for your feedback. Will consult with the product group and get back.

[2021-06-29 09:00] yutaro113 commented on #76938
Sorry for the delay and thanks for the clarification.
1, Yes. We'd like to know the specific action to enable/disable function.
2, Yes, if we add "Microsoft.Web/sites/functions/*" to custom role (both from portal and JSON), it works. But if we specify each role hit by "Microsoft.Web/sites/functions/" (it should be same as "Microsoft.Web/sites/functions/*"), operation became not possible. I'd like

[2021-06-29 09:17] uonie opened #77589 "Storage Accoung Self Recovery requires permission"
The self-Recovery requires user to have permission "Microsoft.Storage/storageAccounts/write" on the scope of which they want to restore, otherwise, the user would see an error "The storage account "****" could not be recovered. If the issue persists, we may not be able to recover this storage account." on the portal.

Can you add this part somewhere in this document?

---
#### Document Details

⚠

[2021-06-29 09:28] SnehaAgrawal-MSFT commented on #77369
@yutaro113 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-29 09:36] vipulsparsh commented on #77521
@AmitavaHazra I followed the steps in my lab and I was able to get the Allow option working totally fine.

![image](https://user-images.githubusercontent.com/63580915/123774971-8f6afe00-d8eb-11eb-85e2-fb1cb2186730.png)

Can you confirm if you followed all the steps correctly ? Let us know if you have any doubts in any step.

[2021-06-29 09:49] iMicknl opened #77590 "Documentation needs to list all possible codes and subcodes for CallEndReason"
Currently the documentation is a great start for troubleshooting ACS issues, however it is missing all subCodes. And error code `0` is missing as well.

These are mainly used in (preview) Teams interop scenario's, but should be listed here as well, since this is currently a black box. We currently face an error with code `410` and subCode `3101`, however since the subCode is not documented, it is

[2021-06-29 09:59] Norafify89 opened #77591 "High Memory Utilization for SQL Express"
Hi,

Is the SQL Express that installed able to set the limit for memory?
I've 6GB of RAM but our utilization of memory is high around 85%.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prer

[2021-06-29 10:01] BhargaviAnnadevara-MSFT commented on #77533
@msjoshua Thanks for the feedback. I have submitted a PR to fix the issue that's in review.
Please track updates to the PR here: https://github.com/Azure/video-analyzer/pull/37

[2021-06-29 10:03] arminghasemazar commented on #44894
Hi. I have the same problem on a fresh deployment. I have created a docker volume called "storagevolume". Then below is my deployment settings:

Container create options:
`{
    "Env": [
        "LOCAL_STORAGE_ACCOUNT_NAME=localstorage",
        "LOCAL_STORAGE_ACCOUNT_KEY=KEY"
    ],
    "HostConfig": {
        "Binds": [
            "storagevolume:/blobroot"
        ],
        "PortBindings": {

[2021-06-29 10:50] AmitavaHazra commented on #77521
@vipulsparsh  yes initially it failed for me. but now it is working as expected. thanks for checking this.
Can you please let me know if there is any sample .net application where exactly we can implement this VC for sign in.
Is there any sample available for that. ? My point is how we can leverage this stand alone use case with an actual application.

[2021-06-29 10:51] hollowdrutt opened #77593 "Conditional deployment in Bicep refers to ARM functionality and template"
The page says:

But that element and template is for [Conditional deployment in ARM templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/conditional-resource-deployment)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f81a386-e237-34ef-51a5-e3dca4e39d97
* Version Independent ID: 0a4679a4-2

[2021-06-29 10:57] ryoji-kawamura commented on #75891
Thanks for the response.
However, the Japanese page has not been fixed.
https://docs.microsoft.com/ja-jp/azure/active-directory/saas-apps/sansan-tutorial
Please check and correct this.

[2021-06-29 11:47] batamig commented on #77226
Thanks @javiersoriano  and @nayef-yassin ! I'm closing this issue for now, but you know where to find us if you have further updates.

#please-close

[2021-06-29 11:47] #77226 closed

[2021-06-29 12:01] iMicknl opened #77594 "JavaScript Calling SDK support matrix could be more clear about mobile support"
Currently Android (Chrome) and iOS (Safari) are listed with some notes around feature support. The browser versions (mainly tied to the OS versions) are not specified.

Currently it is unclear what this means for mobile browser support. Are the last 3 major iOS (14, 13, 12) and Android (11, 10, 9) versions supported, or just the last 3 minor releases. It would be good to clarify the exact device s

[2021-06-29 12:15] nikhilnaregal opened #77596 "Invalid URL 'None': No schema supplied"
I am using  Custom Vision -Python in my Django App
When I train a model(Project A) for the first time everything works fine but while training again (2nd iteration and so on) I get an error after training is completed

    ENDPOINT="https://automatictraining.cognitiveservices.azure.com/"
    TRAINING_KEY=os.environ.get('MSAZURE_TRAINING_KEY')
    PREDICTION_KEY=os.environ.get('MSAZURE_PREDICTION_K

[2021-06-29 12:17] GitaraniSharma-MSFT commented on #77586
@olveslind , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 12:20] GitaraniSharma-MSFT commented on #77587
@EditorJimmy , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 12:21] GitaraniSharma-MSFT commented on #77589
@uonie , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 12:23] GitaraniSharma-MSFT commented on #77590
@iMicknl , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-29 12:29] robsmi-msfte opened #77597 ""Configure Windows Defender" section needs more guidance"
The section "**Configure Windows Defender**" says that .VHD and .VHDX need to be excluded during mount, but there are no details on how exactly to do that.

- Excluded by process?  If so, process name?
- Exclude by path?  If so, what path? (ex. C:\Users)
- Exclude by file extension?  If so, what exactly?  (.VHD and/or .VHDX)

If we exclude by process, that's one thing.  But _I believe that the pat

[2021-06-29 12:42] #77044 closed

[2021-06-29 12:43] NunoBem commented on #47611
I gave up on the social logins because of that. So I'm just using the local (email). But I they have now Apple Login has a preview, did you manage to try it?

[2021-06-29 12:44] RaoulRSV opened #77598 "downgrading notary version to v0.6.0"
As per this page : https://docs.microsoft.com/en-us/azure/container-registry/container-registry-health-error-reference
it is recommended to downgrade notary version to v-0.6.0 "by replacing Docker installation's Notary client manually".

I am using Windows 10 with standard packages including docker. The purpose is to deploy a container to Azure. The context is an error from the docker registry cau

[2021-06-29 12:44] robsmi-msfte opened #77599 ""Disable Storage Sense" settings: per user in the document (should be global)"
The section "Disable Storage Sense" in this document, tells how to disable Storage Sense, for the user currently logged on only.  If you go to Settings, Storage Sense documentation says Storage Sense is disabled until the device/computer/virtual machine runs in to low disk space conditions.

If we are recommending to disable Storage Sense globally, the best approach is to use Group Policy...either

[2021-06-29 12:53] pjrcdf opened #77602 "Unclear wording re: Deprecation of Log Analytics Agent"
In the "Should I switch to Azure Monitor Agent?" section, under the "Tolerance for rework" heading, the article currently states

"A deprecation date published for the Log Analytics agents in August 2021"

This is poorly worded/grammatically incorrect - does it mean the Log Analytics Agent will be deprecated from August 2021, or that a date for deprecation of the Log Analytics agent will be publis

[2021-06-29 12:54] LievensGert opened #77603 "Wrong JSON reference in document"
The JSON structure of the ARM template under "Enable automatic OS image upgrades and disable Windows Updates in the deployment template:" seems to be wrong.

"virtualMachineProfile": {
    "properties": {
      "upgradePolicy": {
        "automaticOSUpgradePolicy": {
          "enableAutomaticOSUpgrade":  true
        }      }    }  }

Is not valid according to the ARM template reference:
https://

[2021-06-29 12:57] johol545 commented on #74360
@PramodValavala-MSFT

As you have implemented option 1 in code, the documentation needs to be updated:

1. Clarify in the parameter description that maxRetryCount specifies the number of retries **in addition** to the initial attempt
2. Correct the example to match the implementation, i.e. there will be 60 attempts in total, not 50.

[2021-06-29 13:05] Vama97 opened #77604 "Using verifiable credential in production"
[Enter feedback here]

Hello. I have tried and issued credentials using the azure verfiable credentials. My team is now working on customising it according to our needs. We were first using the free service to check it out. Now we need to take P2 subscription for the credentials as per your documentation. But on the azure portal shows the message that a global admin access is needed to set up cred

[2021-06-29 13:09] VanMSFT commented on #77134
#reassign:rohitnayakmsft

[2021-06-29 13:10] mumian commented on #77593
@hollowdrutt - thank you for your comment.  I will remove that paragraph.  You can use Bicep CLI to decompile an ARM template to Bicep file.  See https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/decompile?tabs=azure-cli.

#please-close

[2021-06-29 13:10] #77593 closed

[2021-06-29 13:29] jd1984 opened #77605 "Note"
"If you are using Azure AD Connect Cloud Sync, there is a rule by default that writes the OnPremUserPrincipalName onto the user. This rule needs to be modified so that it does not write this property for users that you want to convert from internal to external users."

Hi team,

Please can you provide some more detailed information regarding this?
Why does it need to be modified?
How exactly do we

[2021-06-29 13:35] mirind4 commented on #52660
@mikebudzynski Hey everyone! Has the new endpoint been already released or do we still need to publish the management API to the internet?

In the config.*.json we have found a property called "backendUrl". Is this new endpoint? If not, what is this setting exactly used for?

Thanks in advance for your answer!

[2021-06-29 13:55] SrijitBose-MSFT commented on #77344
@mstavrev  has the issue been observed further?

[2021-06-29 14:08] TMAHS opened #77606 "Suggestion: Add link"
Thank you for this documentation.  A link would be helpful in the section:

Sample REST API for establishing the profiles.
https://github.com/microsoft/fhir-server/tree/main/docs/rest/DaVinciPlanNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 871841aa-3c6f-28c2-78e0-42b4d5101d7f
* Version Independent ID: cb3a716e-2f

[2021-06-29 14:10] LwsSt commented on #77044
Hi @VanMSFT
That text you've highlighted refers to creating a column key, and setting up encryption. And only refers to SQL Server Management Studio.

My issue was more in the context of an application (for example, a developer application written in ASP.NET Core), which permissions are required.

The text you've highlighted mentions `Create` as a required permission, and this is not required for

[2021-06-29 14:15] automatethenetwork opened #77607 "Wrong powershell command?"
The powershell command does not seem to create the throttle rate property created manually via GPO. Looks like the standard QoS command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f7f42b-921b-53b4-f1ed-ea459e43d51f
* Version Independent ID: d741291b-7240-f250-3238-4e06bbc10b14
* Content: [Remote Desktop Protocol

[2021-06-29 14:16] RohitMungi-MSFT commented on #77596
@nikhilnaregal This repo is primarily used to address issues related to documentation of Azure services. This issue seems to be related to Azure custom vision service, are you following any quickstart from the documentation that we can link up with the issue?

If you are seeing an issue with an implementation we encourage to post the same on MS Q&A [forum ](https://docs.microsoft.com/en-us/answers

[2021-06-29 14:21] VanMSFT commented on #77044
@LwsSt - Thanks for the clarification, Lewis. I can add another line just for application permissions, but your assumptions are correct. The permissions required is in the code itself.

@jaszymas @shohamMSFT - Can you guys confirm the minimum application permissions regarding AE with AKV?

[2021-06-29 14:37] KrishnaG-MSFT commented on #77593
@mumian Thanks for the quick response. :+1:

[2021-06-29 14:39] KrishnaG-MSFT commented on #77602
@pjrcdf Thanks for the feedback.
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-06-29 14:40] nikhilnaregal commented on #77596
@

Firstly thank you for your time. I apologize for posting my issue in the wrong repo.

I do publish the iteration after the training
[code]

[2021-06-29 14:44] mroyski opened #77610 "Add-AdlaJobUser.ps1 script failing to set Path"
When running the script provided by the documentation I get the following error:

Write-Error: ACL Propagation failed with the following error: Cannot bind argument to parameter 'Path' because it is null.

I am trying to give access to a service principal that already has reader access to the ADLS account. Is there something else missing from the instructions? Here is the command I am running...th

[2021-06-29 15:04] #58148 closed

[2021-06-29 15:05] TMAHS opened #77611 "Role required for re-indexing?"
What Azure RBAC role or other access control is required for re-indexing operation?  If the request is unsuccessful such as a 401 unauthorized, what can we look for in to resolve that error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27df8083-fc6e-b73d-9172-d91329bc9391
* Version Independent ID: 504e3f3e-650f-3c41-

[2021-06-29 15:09] cephalin commented on #58430
We are planning to supply more python examples to our documentation gradually and we can add one for this doc. However, the main purpose of the sample in this doc is really to show you the access the `X-ARR-ClientCert` header. As the doc spells out clearly, what the customer does with the client cert after that is up to them. App Service doesn't do anything for TLS mutual auth beyond providing the

[2021-06-29 15:09] #58430 closed

[2021-06-29 15:10] MonikaReddy-MSFT commented on #77603
@LievensGert -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-29 15:14] dave22000 opened #77612 "[Documentation Request] PhoneFactor Lockout settings"
The localization for PhoneFactor page specifies multiple error messages for exceeding retry attempts/getting throttled:

- error_sms_throttled
- error_phone_throttled
- error_throttled
- error_449

Can some documentation be provided for what triggers this throttling/lockout? Is it related to the smart lockout settings, or is it a number of attempts within a certain timeframe, or something else?

-

[2021-06-29 15:23] SumanthMarigowda commented on #77452
@bhavin07 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-29 15:23] #77452 closed

[2021-06-29 15:32] pholding opened #77616 "Difference between enabling diagnostic settings and Application Insights for API Management"
It's not clear what the difference is between enabling Diagnostic Settings to write to a Log Analytics Workspace and enabling Application Insights in API Management as they both use a Log Analytics Workspace.

Does one provide more detail than the other or should both be enabled? If they are both enabled then will some data be logged twice (and therefore charged twice)?
---
#### Document Details

[2021-06-29 15:58] bakerm00 opened #77617 "admin provisioning and staged rollout"
clarify statement if staged rollout is utilised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cc988f9-20e7-1e01-1622-fc3ce55b1d13
* Version Independent ID: d1c384ad-e419-126e-cc26-f16217cacf4b
* Content: [FAQs for hybrid FIDO2 security key deployment - Azure Active Directory](https://docs.microsoft.com/en-us/azure/a

[2021-06-29 16:10] MarileeTurscak-MSFT commented on #77617
Hi @bakerm00,

Which statement specifically would you like clarified? Could you elaborate on what was unclear?

[2021-06-29 16:11] stevevi commented on #76245
Thanks @ryanhofdotgov for your feedback.  These changes are now in place in the main comparison article, section titled Guidance for developers.  API Management endpoints are at the end of the table under Web and there is a new section with guidance on how to use Azure CLI and PowerShell cmdlet to retrieve endpoints.  Let me know if this update addresses your requirements.

https://docs.microsoft.

[2021-06-29 16:17] #77357 closed

[2021-06-29 16:30] JamesTran-MSFT commented on #77591
@Norafify89
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-29 16:32] JamesTran-MSFT commented on #77605
@jd1984
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-29 16:33] JamesTran-MSFT commented on #77612
@dave22000
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-29 16:35] JamesTran-MSFT commented on #77604
@Vama97
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-29 16:54] nairmai opened #77618 "TSI gen2 setup tutorial refers to removed IoT solution accelerator"
The [Create a device simulation](https://docs.microsoft.com/en-us/azure/time-series-insights/tutorial-set-up-environment#create-a-device-simulation) section refers back to the Device Simulation solution on the IoT Solution Accelerators page, which has been [removed](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-faq#where-can-i-find-information-about-the-removed-solution-

[2021-06-29 16:59] SatishBoddu-MSFT commented on #77402
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-06-29 16:59] #77402 closed

[2021-06-29 17:02] rolyon commented on #77554
Let us know if you have any additional feedback.
thanks
#please-close

[2021-06-29 17:02] #77554 closed

[2021-06-29 17:09] mikebudzynski commented on #52660
The new endpoint hasn't been released yet. The `backendUrl` is used to point self-hosted portals to the portal's backend in API Management. You can learn more at https://docs.microsoft.com/azure/api-management/developer-portal-self-host

[2021-06-29 17:11] barclayn commented on #75222
@msft-edluo thank you for your feedback. I have created a work item for us to triage internally and make the necessary changes. #please-close

[2021-06-29 17:11] #75222 closed

[2021-06-29 17:23] PatrickFarley commented on #76865
@mike-urnun-msft please assign @HeidiSteen and unassign me so she can address that error in the Search docs

[2021-06-29 17:24] KranthiPakala-MSFT commented on #77610
@mroyski
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-29 17:25] sisingh1212 opened #77619 "Minor typo in the link in the listed key tasks"
[Enter feedback here]
One link on this page mentions: Export risk detection data to your **SEIM**.
instead it should be "SIEM"
<img width="583" alt="image" src="https://user-images.githubusercontent.com/22092454/123841282-5c217280-d8dd-11eb-94e1-46a8df15acde.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171

[2021-06-29 17:27] MarileeTurscak-MSFT commented on #77619
@sisingh1212 thanks for calling this out! Fixing this.

[2021-06-29 17:28] julieMSFT commented on #56614
@nikolapeja6 Hi, The bug for the # in the sql colorizer has been fixed. Thank you for your contribution to Microsoft Docs.

[2021-06-29 17:28] MarileeTurscak-MSFT commented on #77619
Just made a PR to fix this. It should merge shortly. https://github.com/MicrosoftDocs/azure-docs-pr/pull/164013

[2021-06-29 17:28] #77619 closed

[2021-06-29 17:29] barclayn commented on #76821
@jengel thank you for the feedback. I have created a work item to track this work internally and we will get those images updated. #please-close

[2021-06-29 17:29] #76821 closed

[2021-06-29 17:31] HeidiSteen commented on #76865
@tshaiman and @PatrickFarley   For inbound connections to a search search, you have to use an API key.  Only indexers on outbound requests can use a managed identity.

[2021-06-29 17:32] KranthiPakala-MSFT commented on #77517
@lrtoyou1223 - Could you please review the above ask and share your inputs - Thank you

[2021-06-29 17:32] tanieee28 commented on #44894
Yes, i agree and as from the comments from @arduppal it was expected to be added in next update.
Till that time, you can create a container with the name specified ("localblobstorage") in your azureblobstorage module using azure storage explorer App.
Here is the link to get the app, [https://azure.microsoft.com/en-in/features/storage-explorer/]

[2021-06-29 17:43] Oury-MSFT commented on #77606
@TMAHS Thank you for your feedback. We are reviewing the doc and will get back shortly.

[2021-06-29 17:48] cgillum commented on #77585
@ANKGITDEMOS I assume you're talking about this sample?

[code]

I might be misunderstanding, but the list on which we're calling `.Sum()` is `List<Task<int>>`. You might be confusing that with the `workBatch` array, which is `object[]`. However, this `object[] workBatch` array is just used to send inputs to the `"F2"` activity function. It is not used for calculating the final sum.

[2021-06-29 17:50] scottstout opened #77622 "Page Keeps Reloading in Mobile Safari / Mobile Edge and never fully loads"
Page Keeps Reloading in Mobile Safari / Mobile Edge and never fully loads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Azure AD built-in roles - Azure Active Directory](https://docs.microsoft.com/en-us/azur

[2021-06-29 17:51] JamesTran-MSFT commented on #77505
@huwgeric
Thank you for pointing this out! Azure Storage natively supports Azure AD authentication. I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/123841894-f923e180-d8c4-11eb-9cda-9491f9fe0e65.png)

Conflicting Statements:
[Grant your VM's system-assigned managed identity

[2021-06-29 17:51] #77505 closed

[2021-06-29 18:00] HeidiSteen commented on #76865
@tshaiman @PatrickFarley  This issue isn't actionable for me per se.  Cognitive Search has new security capabilities that will require systematic updates to all docs as part of a planned release, but even so, it's a preview capability and not production-ready.

I recommend closing this issue, but @tshaiman if I'm missing something please reach out to heidist at microsoft dot com.

#please-close

[2021-06-29 18:00] #76865 closed

[2021-06-29 18:18] barclayn commented on #77171
@ericsampson thank you for your feedback. I have created a work item so we can track this internally and make the necessary updates. #please-close

[2021-06-29 18:18] #77171 closed

[2021-06-29 18:20] chamukallem-msft commented on #58617
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 18:20] #58617 closed

[2021-06-29 18:22] CharlieDigital commented on #64073
@nickgmicrosoft I pulled this source repo [ms-identity-b2c-javascript-spa](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa)

CTRL+F `code_challenge` and it shows up nowhere in the source code.

The **Run user flow** functionality still does not support defining the `code_challenge` when usin **Run user flow**.

Is there a newer set of issues/docs on this topic to reference?

[2021-06-29 18:23] chamukallem-msft commented on #58490
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 18:23] #58490 closed

[2021-06-29 18:23] guyhay commented on #77336
Afternoon.  I actually don't understand what the task is here.

I have looked at the template, and it's possible that the move to the subdir has caused this confusion.  However, there is no hardcoded path to the EmptyNode.sh  instead we use a parameter and default value and compute the path at runtime.

Parameter is

    "_artifactsLocation": {
      "type": "string",
      "defaultValue": "[deplo

[2021-06-29 18:25] vladvino commented on #77258
@mike-urnun-msft please assign to @mikebudzynski

[2021-06-29 18:25] haalkaz opened #77623 "DDoS Protection selection in Vnet Instructions"
Hi,

Under the section of Create a VNet (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#createvnet), Step 8 says:
"On the Security tab, at this time, leave the default values:

DDos protection: Basic
Firewall: Disabled"

![image](https://user-images.githubusercontent.com/85655443/123848090-ecab8300-d8dc-11eb-9622-8e4d6ab62b2e.png)

While

[2021-06-29 18:26] normesta commented on #77339
Thanks for reporting @celinama . @sachinsbigdata does this align with your expectations of events and secondary regions? I just want to make sure that this is not a bug before documenting this. Thx!

[2021-06-29 18:28] himanshusinha-msft commented on #77594
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-29 18:32] chamukallem-msft commented on #58210
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 18:32] #58210 closed

[2021-06-29 18:35] chamukallem-msft commented on #57669
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 18:35] #57669 closed

[2021-06-29 18:45] stewartadam opened #77624 "Device Simulation referred to in the tutorial no longer exists"
It can no longer be found as described within the doc on the [accelerators](https://www.azureiotsolutions.com/Accelerators) page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0af92ead-7eb6-327d-2e17-a5ad9e630e0a
* Version Independent ID: d8537d64-26bf-8e4c-c6a7-b539c77777f1
* Content: [Tutorial: Set up a Gen2 environ

[2021-06-29 18:46] stewartadam commented on #77624
Duplicate of #77618

[2021-06-29 18:46] #77624 closed

[2021-06-29 18:54] barclayn commented on #77320
@visualstuart thank you for your feedback. We are working on a way to keep this page current. The most current information on the status of managed identities support can be found with the service's documentation. We hope to have a new process to update this page in the next couple of months.  #please-close

[2021-06-29 18:54] #77320 closed

[2021-06-29 18:57] v-steveadams commented on #77618
Thanks @nairmai (and @stewartadam 😄) for pointing this out. We're working on a change and will update you once we have it in place.

[2021-06-29 19:08] Vipin-Sharma opened #77625 "Can we use application insights Java agent with azure function apps?"
On documentation it says we need to provide agent lib path while starting java application, but how do I put agent lib to function app host?

If this is not supported solution for function app then what are other profiling options available for function apps? Documentation or example will be helpful.

This is related to page: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process

[2021-06-29 19:08] chamukallem-msft commented on #57611
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 19:08] #57611 closed

[2021-06-29 19:12] LH-MSFT commented on #32886
Have a need for the same -- do we have any update on this? Would prefer to download a marketplace image without having to provision a VM?

[2021-06-29 19:27] #77611 closed

[2021-06-29 19:27] TMAHS commented on #77611
Recalled.

[2021-06-29 19:29] chamukallem-msft commented on #57323
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 19:29] #57323 closed

[2021-06-29 19:30] grayjeremy opened #77627 "Change return contract of the durable task in powershell"
The durable task response contains a lot of information that isn't necessary for calling applications to have access to (like the url's from Azure China).  Is there a way to customize the response objects here?  Also, I don't see the powershell durable functions published on GitHub.

I think the customization will happen in one of these 2 cmdlets.
Start-NewOrchestration
New-OrchestrationCheckStatu

[2021-06-29 19:35] Karishma-Tiwari-MSFT commented on #77597
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-29 19:36] Karishma-Tiwari-MSFT commented on #77598
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-29 19:38] Karishma-Tiwari-MSFT commented on #77599
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-29 19:39] smay2121 opened #77628 "Typo and clarity in doc would be beneficial"
Type: resposne

As well, clearly indicate in this doc if the "response" waiting from the backend server is the http response code after processing, or if it's the "initial" handshake/tcp response... Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c070b6-1c47-4c7f-b928-317a8c8b452f
* Version Independent ID: 903

[2021-06-29 19:45] Karishma-Tiwari-MSFT commented on #77607
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-29 20:06] chamukallem-msft commented on #57029
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 20:06] #57029 closed

[2021-06-29 20:08] hansukyang opened #77630 "Custom throttling options"
Would it be possible to track API usage by custom metric instead of API calls? I operate a weather data service through this platform and will be metering by how much data is being requested in each call - for instance, one month of weather data vs. 70 years of weather data volumes are very different but still logged as single API call at the moment.

Not sure if this is something that can be acco

[2021-06-29 20:09] chamukallem-msft commented on #56666
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 20:09] #56666 closed

[2021-06-29 20:14] ajburnle commented on #77278
#re-assign:owinfreyatl

[2021-06-29 20:15] ajburnle commented on #77278
#reassign:@owinfreyatl

[2021-06-29 20:15] ajburnle commented on #77278
@OWinfreyATL if you have any questions, let me know!

[2021-06-29 20:17] ajburnle commented on #75981
#reassign:@amsliu

[2021-06-29 20:20] ajburnle commented on #69183
#reassign:@owinfreyatl

[2021-06-29 20:20] chamukallem-msft commented on #56059
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 20:20] #56059 closed

[2021-06-29 20:21] RaoulRSV commented on #77598
Thanks very much.

Le mar. 29 juin 2021 à 21:37, Karishma Tiwari - MSFT <
***@***.***> a écrit :

[2021-06-29 20:22] ajburnle commented on #69998
#reassign:@amsliu

[2021-06-29 20:31] chamukallem-msft commented on #55257
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 20:32] #55257 closed

[2021-06-29 20:34] zr-msft commented on #67180
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:34] #67180 closed

[2021-06-29 20:34] chamukallem-msft commented on #54294
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 20:34] #54294 closed

[2021-06-29 20:39] arminghasemazar commented on #44894
Thanks @tanieee28. Actually I was not successful in manually creating local storage via storage explorer. I will redo and if I face same issue will write here.

@arduppal, any timeline on the updated version? I'm using version 1.4.1.0.

[2021-06-29 20:42] zr-msft commented on #67252
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:42] #67252 closed

[2021-06-29 20:48] tyler555g opened #77633 "Python Function Chaining Example Incorrect Example"
Python example does not show true function chaining. Only shows how to call one function with different parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a535d4d1-4ba0-0da2-9c23-59a64293ccb5
* Version Independent ID: c6e3379a-d55a-61ab-b20b-7cb87aea7881
* Content: [Function chaining in Durable Functions - Azur

[2021-06-29 20:48] inaun opened #77634 "Fix Microsoft documentation"
Microsoft Azure documentation is terrible. That fact cannot be overstated. The documentation is so bad, it is a running joke among IT professionals, and makes Microsoft look bad.

In addition to being horribly incomplete, the documentation is often wrong. Not wrong in little ways either -- huge factual errors that cost customers time and money. We often have to troubleshoot issues directly caused

[2021-06-29 20:49] shoter commented on #77067
Thanks for putting that info on docs. That's cool! :)

[2021-06-29 20:50] zr-msft commented on #67356
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:50] #67356 closed

[2021-06-29 20:51] #77634 closed

[2021-06-29 20:54] frankliclin commented on #28845
Hi Ems75, I would like to know how the Azure Sync with Windows Failover file cluster has been working for you in the last year.  Can you please give the group an update?

By the way, I am planning to set up something liek you did.

Thanks

Frank

[2021-06-29 20:55] JamesTran-MSFT commented on #77591
@Norafify89
Thank you for your time and patience!

The [SQL Server used by Azure AD Connect](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#sql-server-used-by-azure-ad-connect), specifically SQL Server Express has a 10-GB size limit that enables you to manage approximately 100,000 objects. The size of your source Active Directory topology will i

[2021-06-29 20:55] #77591 closed

[2021-06-29 20:57] zr-msft commented on #68653
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:57] zr-msft commented on #67428
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:57] JamesTran-MSFT commented on #77622
@scottstout
Thanks for your feedback! Can you share some more info so i can gain a better understanding of your issue.

- What page keeps reloading?
- Is the Azure AD built-in roles documentation reloading when you're using Safari on your phone and never fully loading on Edge?

Any additionally information would be greatly appreciated.

If you have any other questions, please let me know.
Thank yo

[2021-06-29 20:59] zr-msft commented on #72332
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 20:59] #72332 closed

[2021-06-29 21:01] parasin opened #77635 "Taxi dataset unavailable"
Running the first cell results in:

Py4JJavaError: An error occurred while calling o194.load.
: Operation failed: "This request is not authorized to perform this operation using this permission.", 403, HEAD, https://contosolake.dfs.core.windows.net/users/NYCTripSmall.parquet?upn=false&action=getStatus&timeout=90

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-29 21:01] chamukallem-msft commented on #54191
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 21:01] #54191 closed

[2021-06-29 21:02] zr-msft commented on #74539
Thank you USERNAME for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-29 21:05] chamukallem-msft commented on #53595
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 21:05] #53595 closed

[2021-06-29 21:05] haalkaz opened #77636 "Wrong IP used in configuring the local network gateway"
Hi,

The IP in Diagram 3 is 10.51.255.254 as in this screenshot:

![image](https://user-images.githubusercontent.com/85655443/123866744-17083b00-d8f3-11eb-89d5-257e282d9d9d.png)

But in the instruction, 10.52.255.254 is used instead:

![image](https://user-images.githubusercontent.com/85655443/123867259-bc231380-d8f3-11eb-899c-0abd230a2f4b.png)

Regards,

Hussein

---
#### Document Details

⚠ *Do

[2021-06-29 21:10] prosprice commented on #75574
Still waiting on REST API documentation for the (new) Backup Vault policies, specifically for Blob Storage.

[2021-06-29 21:10] zr-msft commented on #67765
Thank you for the feedback.

Based on the conversation from the linked issue, the issue appears to be resolved. If you continue to experience issues, please contact support.

#please-close

[2021-06-29 21:10] #67765 closed

[2021-06-29 21:10] julieMSFT commented on #76684
#assign:meenalsri

[2021-06-29 21:24] #74539 closed

[2021-06-29 21:24] zr-msft commented on #68116
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-29 21:24] #68116 closed

[2021-06-29 21:26] MartinJaffer-MSFT commented on #77610
Hello @mroyski  and thank you to bringing this to our attention.  I have reproduced the error message.

I believe the issue is caused by line 206:
`$profilePath = Join-Path $env:TEMP "jobprofilesession.tmp"`

In particular, I do not see where `$env:TEMP "jobprofilesession.tmp" is declared elsewhere, so I believe this is the cause of the null.

According to [blob](https://devblogs.microsoft.com/scr

[2021-06-29 21:26] scottstout commented on #77622
Steps to reproduce:

1. Get on an iPhone (latest OS)
2. Go to google and search for Azure Built In Roles
2. Click the first link that comes up.
3. Page keeps refreshing before the load completes and repeats over and over.
4. Paste the same link into edge mobile to see if it helps.
5. Notice that it didn't help.

[2021-06-29 21:28] zr-msft commented on #67784
Thank you for the feedback.

Based on the linked PR, this feedback looks like it was addressed.

#please-close

[2021-06-29 21:28] #67784 closed

[2021-06-29 21:31] SaiKishor-MSFT commented on #77636
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-29 21:31] arminghasemazar commented on #44894
I can't manually create container using the storage explorer. I'm using the following connection string to connect to storage account:

`DefaultEndpointsProtocol=http;BlobEndpoint=http://192.168.0.102:11002/localstorage;AccountName=localstorage;AccountKey=NTUZVOQjzS1976mG1Tnzbm4In1FpZDLQgoXcB7BTJcZpEcFfA+rnbgzcC2mkCXdmyoXQDkReLLr0Glrg8gXcUg==;`

I face the following error:

`Unable to retrieve chi

[2021-06-29 21:37] duongau commented on #77634
Hello @inaun, I apologize for the frustration that you're having in regards to the documentations. I will look into your comment about this article with my team and take the appropriate action. Please do let us know if there are any other concerns you have that we can look into as well for you.

Thank you

[2021-06-29 21:42] JakeMoe commented on #69998
FWIW, I opened a support ticket regarding this (121020423000807), and was told that if I set the KMSI option only, the other options would remain at default, not blank.  I've implemented it that way and it's worked fine for us.

[2021-06-29 21:47] chamukallem-msft commented on #53358
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 21:47] #53358 closed

[2021-06-29 21:47] SaiKishor-MSFT commented on #77628
@smay2121 I have update dthe typo. Thanks for pointing it out.

Regarding the response time. Since this is about[ 502 HTTP Error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/502), it is talking about the initial response from the server when referring to Request time-out. Hops this helps.

We will now proceed to close this thread. If there are further questions regarding this matter,

[2021-06-29 21:47] #77628 closed

[2021-06-29 21:59] chamukallem-msft commented on #53276
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:00] #53276 closed

[2021-06-29 22:06] KranthiPakala-MSFT commented on #77635
Hi @parasin Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-29 22:10] scottstout commented on #77622
Eventually the happens.
![8ACEC511-86B8-45E3-927A-38DF5965EF6E](https://user-images.githubusercontent.com/131694/123873899-dc0b0500-d8fc-11eb-9c88-068ed1c29af6.png)

[2021-06-29 22:14] JamesTran-MSFT commented on #77622
@scottstout
Thank you for the details!

I just tried to reproduce your issue on my phone and wasn't able to.

- Have you tried disconnecting from Wifi and using LTE?
- Or making sure that your internet connection isn't the issue?
- Are you having any problems from a web browser on your computer?

[2021-06-29 22:15] cgillum commented on #77633
Pinging @davidmrdavid

[2021-06-29 22:19] scottstout commented on #77622
Repeated on LTE (and in a private browsing session)

![ED92EF35-0EB9-4EC1-9DC9-B4C4532D3369](https://user-images.githubusercontent.com/131694/123874651-1de87b00-d8fe-11eb-9547-845e0c58b4ff.png)

[2021-06-29 22:21] scottstout commented on #77622
This works fine from my computer.

[2021-06-29 22:24] SaiKishor-MSFT commented on #77482
@asudbring Can you please look into this?

[2021-06-29 22:25] chamukallem-msft commented on #53064
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:25] #53064 closed

[2021-06-29 22:30] chamukallem-msft commented on #52892
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:30] #52892 closed

[2021-06-29 22:31] MartinJaffer-MSFT commented on #77610
@mroyski I fixed my auth issue.  I was also partially off earlier.  Further digging has revealed another error.

Line 205:
`$adlsAccount = $(Get-AzureRmDataLakeAnalyticsAccount -Name $Account).Properties.DefaultDataLakeStoreAccount`
should be
`$adlsAccount = $(Get-AzureRmDataLakeAnalyticsAccount -Name $Account).DefaultDataLakeStoreAccount`
otherwise you will get error `ACL Propagation failed with

[2021-06-29 22:34] chamukallem-msft commented on #52469
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:34] #52469 closed

[2021-06-29 22:37] skanoka commented on #76711
I'm sorry, I found out that this problem is caused by my subscription. Specifically, my subscription had an organization-defined Policy applied to it, and that Policy was rejecting SSH. I tried with another subscription and was able to deploy it. I really appreciate your help.

[2021-06-29 22:37] #76711 closed

[2021-06-29 22:41] chamukallem-msft commented on #52210
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:41] #52210 closed

[2021-06-29 22:45] chamukallem-msft commented on #51975
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:45] #51975 closed

[2021-06-29 22:52] chamukallem-msft commented on #51820
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:52] #51820 closed

[2021-06-29 22:55] chamukallem-msft commented on #51542
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 22:55] #51542 closed

[2021-06-29 23:01] chamukallem-msft commented on #50702
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:02] #50702 closed

[2021-06-29 23:06] chamukallem-msft commented on #50699
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:06] #50699 closed

[2021-06-29 23:13] chamukallem-msft commented on #49939
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:13] #49939 closed

[2021-06-29 23:16] Oury-MSFT commented on #77606
@modillon Please see customer feedback above. Should we raise a PR to create a link in the section mentioned above.? Thanks

[2021-06-29 23:25] danieljarolim opened #77638 "ADLS Gen2 storage accounts not supported - Limitation"
Document does not mention that custom setup does not work with blob stores on ADLS Gen2 storage accounts. This should be mentioned in the limitations section. The driver file copy operation will fail with ADLS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ef48-6270-324e-5821-8557cf332320
* Version Independent ID:

[2021-06-29 23:32] chamukallem-msft commented on #49908
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:32] #49908 closed

[2021-06-29 23:43] chamukallem-msft commented on #49575
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:43] #49575 closed

[2021-06-29 23:45] cynthn commented on #71809
@vikancha-MSFT Can we close this? Did the customer get help? Thanks!

[2021-06-29 23:45] cynthn commented on #75097
#please-close

[2021-06-29 23:45] #75097 closed

[2021-06-29 23:46] chamukallem-msft commented on #48923
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-29 23:46] #48923 closed

[2021-06-29 23:54] cynthn commented on #77287
@bwren Brain, can you check to see if Debian 10 will be supported soon for the Linux Diagnostics Extension?

[2021-06-29 23:58] huipingli2009 opened #77639 "Why I always get transient errors?"
Why I always get transient errors after I created db and logical server with command dotnet run?

Please help.

Thanks,

Henry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196-870b-760f-94a97ae437e8
* Content: [Tutorial: ASP.NET Core with Azure

[2021-06-30 00:31] irenehua commented on #76317
A new iteration of the PowerShell script has been published. Let me know if the issue still persists.

Thanks,
Irene

[2021-06-30 00:36] ANKGITDEMOS commented on #77585
Hi Team,

Apologies for this, I missed to add one assembly of System.Linq.

Please ignore this feedback.

Thanks,
Ankur Mittal

On Tue, 29 Jun, 2021, 5:45 pm Gitarani Sharma, ***@***.***>
wrote:

[2021-06-30 00:53] Karishma-Tiwari-MSFT commented on #77391
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-30 00:57] Karishma-Tiwari-MSFT commented on #77503
Thanks for the valuable feedback.
We will keep the doc as is for now as it is optional. But this GitHub issue will stay with the doc for others to refer in case they run into issues and your feedback will also be visible to doc author. As we get similar feedback from more customers, we will consider updating the doc.
Thanks for bringing this to our attention. We will now close this issue. If there

[2021-06-30 00:57] #77503 closed

[2021-06-30 00:58] Karishma-Tiwari-MSFT commented on #77550
Did you get a chance to go through the comment above? Please let me know the details.

[2021-06-30 01:11] stewartadam opened #77641 "model synchronization needs more detailed instructions"
The "Receiving and identifying twin addition event notification" section and below lacks detail -- the code snippets appear to be partial and it's not clear what users are expected to do with them.

The `Run` method is only a partial Azure function, it has none of the `usings` or class declaration that users will need to create a deployable function. It also calls methods `SendEventToEventHubAsync

[2021-06-30 01:32] SatishBoddu-MSFT commented on #77641
Hello @stewartadam
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-06-30 02:23] SwathiDhanwada-MSFT commented on #76993
@InformTechPro You are indeed correct. With Monitoring Contributor permissions, you cannot publish dashboards as a shared dashboard. I have made necessary changes to this document and changes will reflect soon. Also I will share feedback  with content author to add permissions required to create  dashboard in respective Dashboard document.

We will close the issue for now. If there are further que

[2021-06-30 02:24] #76993 closed

[2021-06-30 02:36] hisasima opened #77642 "About limitation of Azure Firewall."
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-firewall-limits

Rule limits | 10,000 unique source/destinations in network rules

About above limitation, the meaning is not clear. Could you add the example about DNAT, Network and Application rule in order to count the number of combination ?

E,g:
rule collection1
rule1    src ip :

[2021-06-30 02:44] SwathiDhanwada-MSFT commented on #77380
@jcbrooks92 Thanks for bringing this to our notice. I have made necessary changes to the document. Once its approved , the changes will be live soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-06-30 02:44] #77380 closed

[2021-06-30 02:51] mike-urnun-msft commented on #77363
Hi @cgillum - any insights on one?

[2021-06-30 03:10] mike-urnun-msft commented on #77627
Hi @grayjeremy - Thank you for your feedback! We will review and update as appropriate.

[2021-06-30 03:13] mike-urnun-msft commented on #77630
Hi @hansukyang  - Thank you for your feedback! We will review and update as appropriate.

[2021-06-30 03:13] SnehaAgrawal-MSFT commented on #77639
@huipingli2009 Thank you for your feedback! We will review and update as appropriate.

[2021-06-30 03:14] CHEEKATLAPRADEEP-MSFT commented on #77638
@danieljarolim  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-30 04:13] v-amallick commented on #75574
@prosprice: Sorry for the delay in publishing the document. We will be publishing it in the coming week.

Thank you.

[2021-06-30 04:30] ozdemir-mehmet opened #77644 "Typo in SQL Example"
Click the Pre-copy Script input box -> select the Add dynamic content below -> enter the following expression as script -> select Finish.

SQL

Copy
IF EXISTS (SELECT * FROM [@{item().TABLE_SCHEMA}].**[@{item().TABLE_NAME})** TRUNCATE TABLE [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]

^^^^^^

Missing ]

Should be:
IF EXISTS (SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}**]**) TR

[2021-06-30 04:33] vikancha-MSFT commented on #71809
@cynthn This issue can be closed.

[2021-06-30 04:44] ECNUJason opened #77645 "Maybe add a note on remove `https://` for `SPRING_APP_PRIVATE_FQDN`"
[Enter feedback here]
Maybe add a note to let people know to remove `https://` for `SPRING_APP_PRIVATE_FQDN`, otherwise, people may easily get into problem by ignore this.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e16ea416-8fbf-35cb-6675-d4e024a9af33
* Version Independent ID: bf76b399-daac-a178-a73e-6fb9ab7

[2021-06-30 04:49] RohitMungi-MSFT commented on #77596
I would recommend to print the project and iteration id values and check if you are calling the right project for export or check on custom vision portal to see if the publish is successful.

If they are correct then you could also try to check if the export is successful from portal.

[code]

[2021-06-30 04:51] GitaraniSharma-MSFT commented on #77625
@Vipin-Sharma , thank you for your query. We'll review this and get back to you shortly!

[2021-06-30 04:52] ShaikMaheer-MSFT commented on #77644
@ozdemir-mehmet Thank you for sharing feedback. We are actively investigating it. We will get back to you soon.

[2021-06-30 04:57] ShaikMaheer-MSFT commented on #77448
@cynthn Could you please validate and update document as appropriate? Thank you

[2021-06-30 04:57] #77540 closed

[2021-06-30 05:22] Svijay-msft commented on #77484
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-30 05:27] fswgm opened #77646 "SIEM is misspelled on the page"
Should say link to SIEM, but says SEIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Version Independent ID: 2e6b2451-5ff8-a277-90ea-49aa70957977
* Content: [What is Azure Active Directory Identity Protection?](https://docs.microsoft.com/en-us/azure/active-directory/identity-pro

[2021-06-30 05:59] MasterKolka commented on #76203
@SaiKishor-MSFT https://github.com/MicrosoftDocs/azure-docs/pull/75760

[2021-06-30 06:24] snodnipper opened #77648 "Suggestion / enhancement: gradle + GoogleContainerTools/jib to create Docker containers for deployment as Azure Functions"
Feedback only - I really think there is good opportunity to create modern Java / Gradle / GoogleContainerTools/jib documentation so that folks can quickly build and deploy Docker containers to, say, Azure Container Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef3d7e8a-f011-dca1-8834-7d99f934448a
* Version I

[2021-06-30 06:28] RohitMungi-MSFT commented on #77515
@gsuttie I have linked an issue from the quickstart repo to fix the code. The documentation will be fixed automatically after the referenced issue is fixed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-06-30 06:28] #77515 closed

[2021-06-30 06:55] idear1203 commented on #71708
@kosinsky The issue has been fixed in the Az April release . Using the latest Azure CLI, I can retrieve roles correctly.

[code]

[2021-06-30 06:57] SnehaAgrawal-MSFT commented on #77383
@rforster-dev Thanks again for the feedback! Internal discussion on this came out that URL Authorization Rules in the blog was in preview and is no longer supported therefore its not recommended.

We will close this out but if you feel you need more information please just let us know.

[2021-06-30 06:57] #77383 closed

[2021-06-30 06:59] rforster-dev commented on #77383
Thanks for letting me know - if it is now unsupported, what is the alternative for this functionality?

[2021-06-30 07:21] vipulsparsh commented on #77521
@AmitavaHazra There are some 3rd party links which shows some implementations. :
https://damienbod.com/2021/05/10/present-and-verify-verifiable-credentials-in-asp-net-core-using-decentralized-identities-and-mattr/

[2021-06-30 07:39] GitaraniSharma-MSFT commented on #77623
@haalkaz , thank you for your feedback. We'll review it and get back to you shortly!

[2021-06-30 07:45] KrishnaG-MSFT commented on #77587
@EditorJimmy As mentioned in [this](https://github.com/MicrosoftDocs/azure-docs/issues/74144) GitHub issue, _Most metrics in Azure are stored for 93 days. However, you can only query for no more than 30 days worth of data on any single chart. This limitation doesn't apply to log-based metrics. In case , if you see a blank chart or your chart only displays part of metric data, verify that the diffe

[2021-06-30 07:50] SwathiDhanwada-MSFT commented on #77642
Thanks for your feedback @hisasima .

Assigning to content author  @tfitzmac for review.

[2021-06-30 07:55] ryoji-kawamura opened #77649 "The logout URL to be set in Sansan should be a WS-Fed endpoint.(Japanese(ja-jp) page has not been fixed.)"
[Enter feedback here]
The English(en-us) page has been fixed with the following Issue.
https://github.com/MicrosoftDocs/azure-docs/issues/75891

However, the Japanese(ja-jp) page has not been fixed.
https://docs.microsoft.com/ja-jp/azure/active-directory/saas-apps/sansan-tutorial

Please check and correct this.

### en-us
![image](https://user-images.githubusercontent.com/12743140/123923009-8e0d04

[2021-06-30 07:58] jayendranarumugam commented on #70569
Hi @aspnet4you , Voted for your feature, Did you ever came up with any alternate solution for your problem of handling multiple **keyvault** events instead of creating multiple system topics/subscriptions ?
Cc: @MayankBargali-MSFT

[2021-06-30 08:01] KrishnaG-MSFT commented on #77587
@EditorJimmy As mentioned in the above comment, updated the document with a note. The update should go live in sometime i.e., in less than 24 hours. Thanks again for the feedback!

[2021-06-30 08:01] #77587 closed

[2021-06-30 08:09] BeameX opened #77650 "Send instead of recieve"
I think it is meant for it to say send instead of receive in the headline of this section:

https://docs.microsoft.com/en-us/azure/devtest-labs/devtest-lab-auto-shutdown#create-a-logic-app-that-receives-email-notifications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35bfac34-1412-f337-2c7c-736975d7423d
* Version Ind

[2021-06-30 08:16] infuriatedcodex opened #77651 "Include Reference for Multiple Subs and possible PS versions of shell commands"
[Enter feedback here]
Hi,
Almost every tutorial prior provides PowerShell and CLI options but this one only gives CLI for Identity. Guessing a PS version of the command required doesn't exist?

Also, would be great if you could include references on how to change the scope of the working Sub. I think this tutorial assumes you have a single Sub.

Thanks

---
#### Document details

⚠ *Do not edit th

[2021-06-30 08:47] Klaas- opened #77652 "Outdated NIST link"
Hi,
in https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/security/fundamentals/physical-security.md#L65
you're linking to https://csrc.nist.gov/publications/detail/sp/800-88/archive/2006-09-01
but I am guessing you want to link to one that is not withdrawn: https://csrc.nist.gov/publications/detail/sp/800-88/rev-1/final

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit th

[2021-06-30 09:08] Basil-LK commented on #27537
There seems to be no way to generate the same dashboard, multiple times in different environments because the filteredPartIds is generated somewhere but is not provided in the documentation. Copying the same ids will result in an error in which metrics will not be shown.

[2021-06-30 09:20] QuintenPXS opened #77653 "Owners of a MyApps collection - functionality unclear"
Hi

When creating a MyApps collection, in step 3 we can assign an owner.
`Add the users or groups you want to manage this collection. This means they'll have full editing rights to this collection. If you want these users and groups to see this collection in their end user portals, then add them in the Users and groups tab as well.`

Reading the info it appears as if the selected owner should be a

[2021-06-30 09:21] masoncusack opened #77654 "Attaching AKS as inference cluster creates new load balancer with public IP"
Hi folks,

Noticed that when you attach a preconfigured AKS cluster as an inference cluster in AML, it works pretty seamlessly, but secretly creates a load balancer, azureml-fe, which comes with a public IP.

![image](https://user-images.githubusercontent.com/17131668/123936206-deb53b00-d98c-11eb-9ccc-6d6a53e97775.png)

This seems to freak out some companies' security teams, and in some cases rest

[2021-06-30 09:27] supachris28 opened #77655 "Tooling out of date with Visual Studio 16.10"
Debugging functions in Visual Studio 16.10 now allows simple starting of functions directly, but the documentation around changing ports (when running multiple function apps) is not applicable - overriding the launch arguments to specify port doesn't seem to work in any combination. I can't find any documentation to support how to do this.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-06-30 09:55] akamienski opened #77656 "wrong hyperlink definition"
Hello,

hyperlink of New-AzGalleryImageDefinition goes to New-AzGalleryImageVersion page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 1949dddb-5278-5271-4934-d3ace2758bf1
* Content: [Tutorial - Create custom VM images with Azure Po

[2021-06-30 10:03] nickfoster opened #77657 "Fails when using Azure Repos instead of GitHub"
Hi, I tried following this but swapped Github out for an Azure Repos repository since that's where all our work repositories are.

I pointed the ARM Template Deployment task to the azuredeploy.json file in the repo but the deployment fails after successfully creating/validating the resource group.

The yml file looks like this:

`trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Azur

[2021-06-30 10:26] jbreunung opened #77659 "dbutils.notebook.exit is not reflected in Notebook activity output"
According to the documentation dbutils.notebook.exit should create a runOutput element in the activity output in ADF
But it does not appear in my case
ADF and DBWS in West-Europe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbe7639-e81d-ae41-53fb-b0c39d6b8b3f
* Version Independent ID: 3b05bf70-b752-8148-11bf-6c268fa

[2021-06-30 10:27] MCKLMT opened #77660 "docs.microsoft.com crashes on Safari on Monterey beta 2"
Since beta 2 of MacOS Monterey, most of the pages of the website crashes with Safari Version 15.0 (17612.1.18.1.3).

Examples:
- https://docs.microsoft.com/en-us/azure/app-service/
- https://docs.microsoft.com/en-us/azure/cosmos-db/
- https://docs.microsoft.com/en-us/learn/certifications/azure-solutions-architect/renew/
- ...

[2021-06-30 10:41] kasunsjc opened #77661 "Images are blurred and not visible"
[Enter feedback here]

Images on this page are not visible. blurred and unable to read

![image](https://user-images.githubusercontent.com/16514562/123947111-9cf0b880-d9bd-11eb-9646-9c1f9620bb46.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861a34a-7684-3032-b4be-46c470f4b862
* Version Independent ID: 04581fa9-6

[2021-06-30 10:52] cephalin commented on #59847
@ImrePyhvel Sorry for the delay. There are no plans currently to supply an exhaustive set of permissions for each action for App Service. However, it's somewhat straightforward to get a list of minimum permissions. Also, the same steps apply for any action in Azure. For example, to get the minimally required RBAC permissions to read app settings for an app:

1. Log into the Azure Cloud Shell with

[2021-06-30 10:52] #59847 closed

[2021-06-30 10:53] shikhajain7912 commented on #56861
@SubhashVasarapu-MSFT How difficult it is to change the zones of an application gateway after being deployed?

[2021-06-30 10:57] ram-msft commented on #77654
@masoncusack Thanks for the feedback! We will review and update accordingly.

[2021-06-30 10:57] SAIMMINHAS opened #77663 "Delete key vault with the 'Soft-delete' option 'Enabled'"
Hi,

As far as i know, once the Az Key Vault is created, it's Soft Delete feature is enabled by default. I recently created an Az Key Vault with the Soft Delete feature enabled. Is it possible to permanently delete it? as i can't find any option to 'Disable' the Soft Delete feature.

When i deleted it, it told me that 'it will remain in my subscription as a hidden vault.' Does that mean, i'll be c

[2021-06-30 11:10] SnehaAgrawal-MSFT commented on #77461
@darrenferguson Apologies for inconvenience on this. Just to confirm if you are using Node 14 LTS? As The pm2 module is not installed by default in the Node 14 LTS image. Our product team is working on changes to include pm2 in the Node.js blessed images, but there is no exact ETA at this time.

Alternatively you may refer to this similar discussion on SO here: [pm2 not found on Azure App service

[2021-06-30 11:21] GitaraniSharma-MSFT commented on #77645
@ECNUJason , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-30 11:25] freeolive-guru commented on #28072
Recently Got the same issue, with the later version of the Azure Virtual Desktop.

[2021-06-30 11:44] ShaikMaheer-MSFT commented on #77659
@jbreunung Thank you for your feedback. We are actively validating it. We will get back to you soon.

[2021-06-30 12:09] sashkotarasenko opened #77665 "Azure Function can't be started properly from Visual Studio Code"
I don't think there is even sense to explain it here.  And to simplify life of support I'll inform in advance

1) Yes, I've checked the prerequisites
2) Answers like "It should work since it's working on my machine" are not welcome

![azure_func_fail_locally](https://user-images.githubusercontent.com/85489217/123957531-32834c80-d9ac-11eb-9ec7-ece9c1defd35.jpg)

---
#### Document Details

⚠ *Do not

[2021-06-30 12:44] pholdridge commented on #75904
I can see this was added recently and it works on Apple DEP devices, but not on Intune Corporate Identifiers. If we acquire a new company with iPads, we want to utilize Corporate identifiers to mark them as company-owned. We want to only require compliance on company-owned devices. Conditional Access Device Filters doesn't appear to respect corporate identifiers however so it makes the feature use

[2021-06-30 12:52] yah01 opened #77666 "Typo in the guide of creating azure storage account"
There's a typo at the _Create a storage account_ section, at the _Portal_ tab:

should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Create a storage account - Azure Storage](https://docs.microsoft.com/en

[2021-06-30 12:53] sijucm opened #77667 "Missing Durable function in documentation"
In typical Microsoftiness this documentation misses some functionalities of the tool that I find in the internet and random Microsoft documentations. For example: func durable delete-task-hub. What I really wonder is how to give the connection details of the remove function app from which the task hub need to be removed. Or is that not possible?

---
#### Document Details

⚠ *Do not edit this sect

[2021-06-30 13:01] cveld opened #77669 "DNS in Azure DNS Private zones error in the documentation?"
The section **To configure DNS in Azure DNS Private zones** states:

Shouldn't this be comparable to the bring-your-own-dns? I.e.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d67fc0-2fe8-7af2-2989-8be5d6b598b6
* Version Independent ID: 131aa416-5156-c0b6-783e-32144faf9936
* Content: [App Service Environment Network

[2021-06-30 13:04] tonybendis opened #77670 "Typo: resouce-group in batch-pool-no-public-ip-address.md"
Typo: resouce-group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6642341a-eaaa-1d80-550b-0594bb91072e
* Version Independent ID: ea38ea4e-08c6-a747-51af-d49bdffcb7fe
* Content: [Create an Azure Batch pool without public IP addresses - Azure Batch](https://docs.microsoft.com/en-us/azure/batch/batch-pool-no-public-ip-ad

[2021-06-30 13:08] PramodValavala-MSFT commented on #77616
@pholding Thanks for the feedback! We will review and update accordingly.

[2021-06-30 13:09] cmw2 opened #77671 "Show using ConnectionString in InstrumentationKeyMap"
It would be helpful to document in the InstrumentationKeyMap schema that a ConnectionString value can be provided in place of InstrumentationKey. I tested it and it works, but the docs don't show it as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 055bda34-28d6-c32b-78ff-82e91353735f
* Version Independent I

[2021-06-30 13:10] PramodValavala-MSFT commented on #77535
@sijucm Sorry if I wasn't clear before but the retry still does work. If an input/output binding fails, the function is retried based on the retry policy. In most cases, this is acceptable if functions are designed to be idempotent.

In cases where this isn't the case, the SDK is a required fallback. This is true for all out-of-process languages including the latest .NET 5.

[2021-06-30 13:11] AnuragSharma-MSFT commented on #77661
Hi @kasunsjc, I was checking the same document in Microsoft Edge and Google Chrome, and the images are displayed properly.

![image](https://user-images.githubusercontent.com/66360845/123966052-a9334080-d9d2-11eb-8523-1319eb7718e6.png)

Could you please tell me which browser are you using and what is the resolution?

[2021-06-30 13:21] kasunsjc commented on #77661
Hey,

I'm using chromium based edge browser.

[2021-06-30 13:31] MarcvanHouten opened #77673 "Additional clarification on the responsibilities between customer and Microsoft regarding the AKS nodes"
The current description of the responsibilities between customer and Microsoft regarding the AKS nodes is unclear for customers where this is very important like FSI customers.

Below some suggestions to clarify this:

Under the section "Shared responsibility" :
1)	Rephrase "Because your agent nodes" to "Because the agent nodes deployed on behalf of the customer"; It's not the node of the customer

[2021-06-30 13:34] nschroeder-pwc commented on #77484
Yes, this works! Thanks.

[2021-06-30 13:34] #77484 closed

[2021-06-30 13:43] MonikaReddy-MSFT commented on #77673
@MarcvanHouten -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-30 13:45] PramodValavala-MSFT commented on #77586
@olveslind Could you check if you have one of the following configurations in the logic app that is being called?

1. Asynchronous Response
![image](https://user-images.githubusercontent.com/43602528/123970352-ad615d00-d9d6-11eb-9d34-18c225657de7.png)

2. Split On _(When you have an array in your payload and is defined in the schema for POST/PUT triggers)_
![image](https://user-images.githubuserco

[2021-06-30 13:51] MonikaReddy-MSFT commented on #77673
@MarcvanHouten - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-30 13:51] #77673 closed

[2021-06-30 13:52] PramodValavala-MSFT commented on #77648
@snodnipper Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

BTW the [official doc for custom images](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-java) explains how to build custom containers for all supported languages in the general-p

[2021-06-30 13:53] Ayanmullick commented on #49908
I was unable to search you on Teams. Could you share the work item link?

[2021-06-30 13:57] santhoshsomayajula commented on #27537
@***@***.***> @***@***.***> - Can you help here?

Best
Santhosh

________________________________
From: Basil LK ***@***.***>
Sent: Wednesday, June 30, 2021 2:09:09 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Santhosh Somayajula ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] More Documentation Needed on Dashboard ARM Templates (#27537)

There seems to be no way to

[2021-06-30 14:19] SumanthMarigowda commented on #77666
@yah01 Thanks for the question! We are investigating and will update you shortly.

[2021-06-30 14:19] kobulloc-MSFT commented on #77650
@BeameX Thank you for the feedback!  We are investigating and will get back to you shortly.

[2021-06-30 14:27] yah01 commented on #77666
@SumanthMarigowda
I have created a pr to fix this typo:
https://github.com/MicrosoftDocs/azure-docs/pull/77668

[2021-06-30 14:29] PramodValavala-MSFT commented on #77655
@supachris28 Thanks for the feedback! We will review and update accordingly.

[2021-06-30 14:37] digitalzomb opened #77675 "Need for additional clarity"
Something I've had a hard time finding is the solve for this scenario, which I think should be covered in this document:

If we have an exist Microsoft 365 Defender setup for on-premise systems, and we stand up an Azure account down the road, how do we ensure that Azure Security Center data is fed into that specific, already existing Microsoft 365 Defender tenant for continued onboarding?

---
###

[2021-06-30 14:41] mmacy commented on #76926
#reassign:mmacy

[2021-06-30 14:42] GitaraniSharma-MSFT commented on #77649
@ryoji-kawamura , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@jeevansd , could you please update the doc as requested?

[2021-06-30 14:44] w0ut0 commented on #74110
@kgremban is this something you can answer?

[2021-06-30 14:45] GitaraniSharma-MSFT commented on #77646
@fswgm , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-30 14:46] ThomasKur opened #77676 "Prerequisites"
It would be great to have more information regarding the prerequisites to get this working. Like minimum AAD Connect version, Is password hash sync required? Is Azure AD SSO required? Is it working with ADFS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d912434-0693-e158-f371-51b010f8a533
* Version Independent ID: 5

[2021-06-30 14:49] GitaraniSharma-MSFT commented on #77651
@infuriatedcodex , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-30 14:50] GitaraniSharma-MSFT commented on #77652
@Klaas- , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-30 14:52] ricmmartins opened #77677 "Azure Services which uses Action Groups"
On the top of the page we have the following statement:

An action group is a collection of notification preferences defined by the owner of an Azure subscription. **Azure Monitor and Service Health** alerts use action groups to notify users that an alert has been triggered. Various alerts may use the same action group or different action groups depending on the user's _requirements.

As the Azure

[2021-06-30 14:53] GitaraniSharma-MSFT commented on #77653
@QuintenPXS , thank you for your query. We'll review this and get back to you shortly!

[2021-06-30 14:55] GitaraniSharma-MSFT commented on #77656
@akamienski , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-30 14:59] hollowdrutt opened #77678 "Slightly misleading explanation of how to set scope when assigning a role to a resource"
In [Set scope for extension resources in Bicep](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/scope-extension-resources) it says

Which is true for [ARM templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/scope-extension-resources?tabs=azure-cli) where you can write
[code]

But if you try to set the scope using the name of the resource in Bicep

[2021-06-30 15:13] zr-msft commented on #68322
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:13] #68322 closed

[2021-06-30 15:14] craigshoemaker commented on #24179
I have updated the doc to remove references to strongly typed parameters for v1.x functions.

#please-close

[2021-06-30 15:14] #24179 closed

[2021-06-30 15:16] olveslind commented on #77586
Hi!

Thank you for your reply!

I have tried different configurations, but "Asynchronous Response" is set
to "Off" like here since I do not want asynchronous behaviour, but
synchronous call/response.
But a response of 202 immediately is not what I expected from synchronous
behaviour that the documentation explains.
It is more like "fire and forget" . The Asynch "On" behaviour here seems to
be more

[2021-06-30 15:18] zr-msft commented on #71965
Thank you for the feedback.

Based on the discussion here, it seems like your question has been answered. If you continue to experience issues, please contact support.

#please-close

[2021-06-30 15:19] #71965 closed

[2021-06-30 15:20] ankku opened #77679 "failed Task of Azure cosmos Db emulator in Azure Devops yaml pipeline"
failed Task of Azure cosmos Db emulator in Azure Devops yaml pipeline

[[Cosmos db emulator unit test with Azure devops]](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd)

I am trying to test my unit test cases with Azure Cosmos Db emulator. When I ran the task , the pipeline gave me error as target machine actively refused and all queries which was supposed to be tested ran

[2021-06-30 15:22] PramodValavala-MSFT commented on #77665
@sashkotarasenko Could you confirm if you have [extension bundles](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles) configured in `host.json`? Without this, you will require `dotnet` to be installed locally to leverage bindings.

[2021-06-30 15:22] gagarine opened #77680 "Static App: Not clear how to set the region using VS code"
With CLI or portal you can setup the region. But VS code plugin do not seem to offer this option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart: Building your first static site with the Azure Stat

[2021-06-30 15:24] zr-msft commented on #68469
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:24] #68469 closed

[2021-06-30 15:24] zr-msft commented on #69325
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:24] #69325 closed

[2021-06-30 15:24] PramodValavala-MSFT commented on #77667
@ggailey777 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

Based on [the code](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Actions/DurableActions/BaseDurableAction.cs) for the same, looks like you need to set `---connection-string-setting` and `--task-hub-name` arguments.

[2021-06-30 15:28] zr-msft commented on #68843
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:28] #68843 closed

[2021-06-30 15:29] zr-msft commented on #71333
Thank you for the feedback.

Based on the discussion, it seems like this issue is resolved.

#please-close

[2021-06-30 15:29] #71333 closed

[2021-06-30 15:29] zr-msft commented on #73773
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:29] #73773 closed

[2021-06-30 15:29] zr-msft commented on #76123
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:29] #76123 closed

[2021-06-30 15:29] zr-msft commented on #76161
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:29] #76161 closed

[2021-06-30 15:32] #69327 closed

[2021-06-30 15:32] zr-msft commented on #69338
Thank you for the feedback.

We've updated the article to address your feedback.

#please-close

[2021-06-30 15:32] #69338 closed

[2021-06-30 15:38] zr-msft commented on #68754
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:38] #68754 closed

[2021-06-30 15:38] zr-msft commented on #76270
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:38] #76270 closed

[2021-06-30 15:41] craigshoemaker commented on #28140
I added a connection string settings section to the overview to direct readers to use the `AzureSignalRConnectionString` app setting.

#please-close

[2021-06-30 15:41] #28140 closed

[2021-06-30 15:41] cgillum commented on #77363
@Costo thanks for calling this out. I've opened a PR to update the article, listing this restriction.

[2021-06-30 15:41] amanmcse commented on #77523
@hanslai This is assigned to the author to review and update as needed.

[2021-06-30 15:47] zr-msft commented on #73032
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 15:47] #73032 closed

[2021-06-30 15:49] brbarnett opened #77681 "Cannot limit browser client chat operation privileges using access token"
Under User Access, the documentation states that I can set specific chat features for users when I provision an access token:

In practice I don't see how to do this. It looks like when I create a user and then provision a token that's sent to the browser, the token allows the user to take far more actions than I would expect, such as creating new threads. My understanding from the docs is that th

[2021-06-30 15:50] jeevansd commented on #68702
We have already released the latest version of the plugin and the new version support the Gov Cloud URLs. If you still see the issue please let us know.

[2021-06-30 15:50] jeevansd commented on #68702
#please-close

[2021-06-30 15:50] #68702 closed

[2021-06-30 15:52] #77363 closed

[2021-06-30 15:54] zr-msft commented on #69371
Thank you for the feedback.

At this time, we won't be incorporating this change into this article.

#please-close

[2021-06-30 15:54] #69371 closed

[2021-06-30 15:56] zr-msft commented on #69682
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-30 15:56] #69682 closed

[2021-06-30 15:57] MicrosoftGuyJFlo commented on #64092
#reassign:@Justinha

[2021-06-30 15:57] PRMerger8 commented on #64092
GitHub user iainfoulds has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-06-30 15:57] MicrosoftGuyJFlo commented on #64149
#reassign:@Justinha

[2021-06-30 15:58] PRMerger6 commented on #64149
GitHub user iainfoulds has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-06-30 15:59] craigshoemaker commented on #30697
PowerShell examples are now available in each of the binding ref docs.

#please-close

[2021-06-30 15:59] #30697 closed

[2021-06-30 16:01] CelesteDG commented on #74973
#please-close

[2021-06-30 16:01] #74973 closed

[2021-06-30 16:01] zr-msft commented on #69651
Thank you for the feedback.

Please see the following, which i believe answers your question:
https://docs.microsoft.com/azure/aks/azure-files-csi#use-a-persistent-volume-with-azure-files

If you continue to experience issues, please contact support.

#please-close

[2021-06-30 16:01] #69651 closed

[2021-06-30 16:02] craigshoemaker commented on #31001
There are now JavaScript examples in this article. We are tracking this work internally deal with additional languages. I am going to request to #please-close this item as a duplicate.

[2021-06-30 16:02] #31001 closed

[2021-06-30 16:03] huipingli2009 opened #77682 "Error"
[Enter feedback here]Got this error after I pushed code to azure remote:
![image](https://user-images.githubusercontent.com/40966482/123994154-19be6b00-d99b-11eb-81ee-ddf7223d2fd1.png)

Can someone help?

Thanks.

Henry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Indepe

[2021-06-30 16:03] zr-msft commented on #69634
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:03] #69634 closed

[2021-06-30 16:04] MicrosoftGuyJFlo commented on #58576
#assign:@Justinha

[2021-06-30 16:04] MicrosoftGuyJFlo commented on #58254
#assign:@Justinha

[2021-06-30 16:05] MicrosoftGuyJFlo commented on #59609
#assign:@Justinha

[2021-06-30 16:08] zr-msft commented on #69410
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:08] #69410 closed

[2021-06-30 16:10] zr-msft commented on #69491
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:10] #69491 closed

[2021-06-30 16:11] craigshoemaker commented on #32651
This screenshot is updated #please-close

[2021-06-30 16:11] #32651 closed

[2021-06-30 16:22] zr-msft commented on #72221
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #72672
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #73077
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #73803
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #74065
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #74717
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #76130
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:22] zr-msft commented on #70024
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 16:23] SrijitBose-MSFT commented on #77670
@tonybendis Thank you for the feedback. This will be corrected soon.

[2021-06-30 16:24] zr-msft commented on #72136
Thank you for the feedback.

At this time, we are not planning on incorporating your feedback.

#please-close

[2021-06-30 16:24] #72136 closed

[2021-06-30 16:25] craigshoemaker commented on #37252
I updated the C# HTTP trigger sample code.

Thanks, @TsuyoshiUshio!

#please-close

[2021-06-30 16:25] #37252 closed

[2021-06-30 16:25] andrewDoing opened #77683 "Key Information Missing from Diagnostic Settings Templates"
When working with an Diagnostic Settings in ARM templates, we were having trouble getting our delpoyment to work. Eventually we found the following wiki page.

(https://github.com/mrblackistone/LearningDevOpsAndAzure/wiki/Tips-and-Tricks)

In this page, it's explained that the diagnostic settings resource needs to live inside of a resource block within the specified resource.

This key piece of in

[2021-06-30 16:37] BharathNimmala-MSFT commented on #77677
@ricmmartins Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to reflect your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, howev

[2021-06-30 16:37] #77677 closed

[2021-06-30 16:42] ellacroi commented on #38530
Hi @femsulu, this was marked as #please-close. I don' t think it's an active pull request? Could we #please-close?

[2021-06-30 17:01] snodnipper commented on #77648
Thank you @PramodValavala-MSFT, much appreciated.  I did actually follow your referenced documentation _but_ depending on client funding etc. I will be modernising this process for their Java code.

Clearly these are "thoughts of one" etc. _but_ Google's Jib builds containers really quickly and Gradle is a modern build tool, which is referenced in other MS documentation e.g. https://docs.microsoft

[2021-06-30 17:03] SamaraSoucy-MSFT commented on #77683
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-06-30 17:05] zr-msft commented on #70511
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 17:05] #70511 closed

[2021-06-30 17:05] DerekHerman-MSFT commented on #77553
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-30 17:10] SamaraSoucy-MSFT commented on #77671
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-06-30 17:13] VIPULKAM opened #77685 "Sample code is failing while running with python2.7"
[Enter feedback here]
Sample code is failing with python , please update the code which can run with python2 and python3
or make explicitly for python3.

Error while running with Python

❯ python kv_secrets.py
  File "kv_secrets.py", line 7
    KVUri = f"https://{keyVaultName}.vault.azure.net"
                                                    ^
SyntaxError: invalid syntax

Also I am getting some

[2021-06-30 17:15] ggailey777 commented on #77665
@sashkotarasenko sorry for your difficulties here. We are aware that some customers computers aren't enabled to run scripts by default, and we're working to update the article to make that more clearly a prerequisite.

[2021-06-30 17:19] AronT-TLV commented on #77558
This is a really great response with a great deal of useful details and information that ties these ideas together. I would highly recommend you add it as another page to the documentation, perhpas with some additional examples.

In any case, thanks so much for your help @SrijitBose-MSFT

[2021-06-30 17:20] ggailey777 commented on #77665
You should be able to run `Set-ExecutionPolicy RemoteSigned` to enable this https://docs.microsoft.com/previous-versions/windows/it-pro/windows-powershell-1.0/ee176961(v=technet.10)?redirectedfrom=MSDN

[2021-06-30 17:24] algattik opened #77687 "Doc for deployment.template.json"
It would be useful to link to https://docs.microsoft.com/en-us/azure/iot-edge/module-composition?view=iotedge-2020-11 when the deployment.template.json document is introduced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed1fefda-8454-a8a8-23ae-2b0cb317d2e2
* Version Independent ID: cc13a227-6544-b472-c335-f6ee9afdb4

[2021-06-30 17:29] kobulloc-MSFT commented on #77650
@BeameX You are correct--in step 7 we configure the Logic App to send an email, no receive.  I'll get a PR out to address this.

[2021-06-30 17:38] BharathNimmala-MSFT commented on #77657
@nickfoster Thank you for reaching out to us. I have assigned the issue to our document author to further evaulate your query and see if there is any need for document enhancement or any product feedback which we can take it back to our internal Product team.

[2021-06-30 17:39] ems75 commented on #28845
Hi @frankliclin, I used it in a lab environment. I did not bring it to production as I left the company I was working for. Sorry.

[2021-06-30 17:52] algattik opened #77690 "createOptions should not be empty string"
` "createOptions": ""` should be replaced with ` "createOptions": "{}"` to make the manifest valid.
Otherwise the build task throws a warning `Warning: createOptions of module edgeAgent should be an object`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a

[2021-06-30 17:56] JamesTran-MSFT commented on #77663
@SAIMMINHAS
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-30 17:56] JamesTran-MSFT commented on #77675
@digitalzomb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-30 17:57] JamesTran-MSFT commented on #77676
@ThomasKur
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-30 17:58] JamesTran-MSFT commented on #77685
@VIPULKAM
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-30 18:03] SaiKishor-MSFT commented on #76203
@MasterKolka I have assigned this issue to the content author so he can look into the same. Thank you!

[2021-06-30 18:09] BharathNimmala-MSFT commented on #77678
@mumian Thank you for reaching out to us with your query and feedback. I have assigned this issue to our document author @mumian to further review your feedback. Thanks

[2021-06-30 18:10] sashkotarasenko commented on #77665
@PramodValavala-MSFT, I fixed the issue by installing dotnet. But what is really discouraging that it is not described explicitly. There is no mention neither about extension bundles nor dotnet in "Configure you environment" section. So I feel stressed trying to run Java based Function App which fails because it could find dotnet... (It's my previous experience)

[2021-06-30 18:10] malopMSFT commented on #76203
#sign-off

[2021-06-30 18:13] irenehua commented on #76317
#please-close

[2021-06-30 18:13] #76317 closed

[2021-06-30 18:24] mrochon opened #77691 "DisplayClaims contain ValidationClaimsExchangeTechnicalProfiles not ValidationTechnicalProfiles"
The section dealing with ValidationClaimsExchange list the latter as content elements, yet the example shows the former.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d2160b3-a0e0-53f9-4d43-d02f42a6aada
* Version Independent ID: 2897a529-18ac-da7b-4ac6-a0163d947ceb
* Content: [Display control reference - Azure AD B2C

[2021-06-30 18:29] ggailey777 commented on #77665
As @PramodValavala-MSFT points out, you shouldn't need .NET by using extension bundles, which should be the default. I suspect if you can't run scripts on your computer then extension bundles doesn't work and you would have to go the .NET road as you did.

[2021-06-30 18:35] msangapu-msft commented on #73682
Haven't heard back from you. The custom container doc you linked has the details to use private registries.

#please-close

[2021-06-30 18:35] #73682 closed

[2021-06-30 18:36] msangapu-msft commented on #72998
This is currently being worked up. Look for an update w/in the next couple weeks. Thank you.
#please-close

[2021-06-30 18:36] #72998 closed

[2021-06-30 18:37] msangapu-msft commented on #72469
Haven't heard from you. My last response contains the answer. #please-close

[2021-06-30 18:37] #72469 closed

[2021-06-30 18:37] msangapu-msft commented on #72450
@gsethgit FYI

[2021-06-30 18:38] msangapu-msft commented on #72450
#reassign gsethgit

[2021-06-30 18:42] msangapu-msft commented on #45639
#please-close

[2021-06-30 18:42] #45639 closed

[2021-06-30 18:43] felixtsem5 opened #77692 "DNS names behind <namespace>.servicebus.windows.net changed"
From the page it states that the DNS names behind the Service Bus are as follows:
<name>-s1.cloudapp.net
<name>-s2.cloudapp.net
<name>-s3.cloudapp.net

Just did a check and this is what came back

Name:    **ns-sb2-prod-bl2-002**.cloudapp.net
Address:  168.62.54.52
Aliases:  <myservicebus>.servicebus.windows.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-30 18:52] zr-msft commented on #77445
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 18:52] #77445 closed

[2021-06-30 18:52] zr-msft commented on #70211
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-30 18:52] #70211 closed

[2021-06-30 18:54] zr-msft commented on #73517
Thank you for the feedback.

The French translation is now available

https://docs.microsoft.com/fr-fr/azure/aks/servicemesh-osm-about?pivots=client-operating-system-linux

#please-close

[2021-06-30 18:54] #73517 closed

[2021-06-30 18:59] zr-msft commented on #70358
Thank you for the feedback.

After reviewing the article, the scale operations that I see only target the frontend deployment. Closing for now, but let me know if I'm missing something

#please-close

[2021-06-30 18:59] #70358 closed

[2021-06-30 19:00] cephalin commented on #61145
The doc has since been updated already. #please-close

[2021-06-30 19:01] #61145 closed

[2021-06-30 19:01] boris-tarasov-maersk opened #77693 "Move an app to another App Service plan using ARM"
I would like to ask if it is possible to achieve the same result given condition are the same to move a web app to another App Service plan using arm template.

Would it be enough just to update ARM template with name pointing to another App Service plan and apply ARM template? Will it move the app to or will try to recreate an app using another plan?

I can see I can achieve this my updating reso

[2021-06-30 19:04] nairmai opened #77694 "Image background is transparent, makes text unreadable on dark mode"
The [first image](https://docs.microsoft.com/en-us/azure/security/fundamentals/media/isolation-choices/azure-isolation-fig1.png) in this document has a transparent, not white, background while the text in this image is black, making it difficult to read when MSFT Docs is in dark mode.

![Screen Shot 2021-06-30 at 2 01 01 PM](https://user-images.githubusercontent.com/29804832/124017847-cfde8080-d9a

[2021-06-30 19:04] #46013 closed

[2021-06-30 19:06] zr-msft commented on #70589
Thank you for the feedback.

This information is available in the following article:
https://docs.microsoft.com/azure/aks/availability-zones#azure-disks-limitations

At this time, we will not be incorporating this feedback.

#please-close

[2021-06-30 19:06] #70589 closed

[2021-06-30 19:09] zr-msft commented on #70926
Thank you for the feedback @tomkerkhove.

You are welcome to submit a contribution with your idea and we'll review it. Otherwise, this is not an update we are planning on doing.

#please-close

[2021-06-30 19:09] #70926 closed

[2021-06-30 19:14] curtand commented on #49242
Hi @cimares
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The updated information that was requested has not been made available since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal wo

[2021-06-30 19:14] #49242 closed

[2021-06-30 19:15] zr-msft commented on #71713
Thank you for the feedback.

Based on your description, it seems like you're doing something outside the scope of the article. If you continue to experience problems, please contact support.

#please-close

[2021-06-30 19:15] #71713 closed

[2021-06-30 19:19] pritamso commented on #48771
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-30 19:19] #48771 closed

[2021-06-30 19:19] curtand commented on #47337
Hi @dcnoren
Thanks for your dedication to our documentation! Unfortunately, at this time the engineering team has been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We have been unable to resolve your query  since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to

[2021-06-30 19:19] #47337 closed

[2021-06-30 19:20] zr-msft commented on #73953
Thank you for the feedback.

Please see the following article on access and identity for AKS:
https://docs.microsoft.com/azure/aks/concepts-identity

If you continue to experience issues, please contact support.

#please-close

[2021-06-30 19:20] #73953 closed

[2021-06-30 19:21] SadiqhAhmed-MSFT commented on #76950
@mtrangel89 Apologies for the delayed response.

We can't have monthly policy. We can have daily or weekly + others.
Only monthly is not allowed.

[2021-06-30 19:22] zr-msft commented on #72894
Thank you the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-30 19:22] #72894 closed

[2021-06-30 19:23] pritamso commented on #48378
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close