[2021-08-13 11:50] bfeldmann12 commented on #79640
Thanks, I verified that it is working for me now.

[2021-08-13 11:50] #79640 closed

[2021-08-13 12:20] alexgtootle opened #79685 "Proposed solution doesn't work"
[Enter feedback here]
I am trying to overwrite a table in a s3 location which has been interupted during the drop table process. So the interpreter thinks that the associated s3 location still contains that data table. I can't change ownership of the table as the table doesn't exist in my database. Also, the solution you posted doesn't seem to work either. Any help would be greatly appreciated, wa

[2021-08-13 12:23] tfitzmac commented on #79633
@hemantmalik - thanks for the feedback. It looks like this link has already been fixed.
#please-close

[2021-08-13 12:23] #79633 closed

[2021-08-13 12:28] juharris commented on #79592
Yes that page says how to make a Function App but not every type of
Function App allows you to create proxies.

On Thu., Aug. 12, 2021, 23:35 MayankBargali-MSFT, ***@***.***>
wrote:

[2021-08-13 12:47] Jiihaa opened #79686 "When Azure starts to support major versions not clear"
[Enter feedback here]
Right now there is support for version 13 for Postgre for Flexible, but for single server is dragging two major versions behind. Yet
the document states "Each major version of PostgreSQL will be supported by Azure Database for PostgreSQL..." and it shows that support has started may 25th 2021. Please clarify what is your policy to support major versions in these different ver

[2021-08-13 13:05] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido , Thank you for your feedback. However, we _could not reproduce the issue_. Can you please share the Kubernetes version of your AKS cluster and the version of Helm you are using? Can you please confirm that the `azure-vote-front` pod is in _CrashLoop_ with readiness and liveness probes? Essentially, to perform a probe, the kubelet sends an HTTP GET request to the server that

[2021-08-13 13:09] alasdair-stark-amido commented on #79675
I'm not sure what the version was. I did not specify a version so it would have been whatever the default was given the commands that you provided. I have since deleted the resource group.

I can confirm that the pod was in CrashLoop.

When I tried it yesterday I gave it 10 minutes to sort itself out but it just kept failing after every restart.

Alasdair Stark
Consultant

***@***.***<www.amido.co

[2021-08-13 13:16] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido , please do let us know if you are performing this exercise again and if the issue manifests.

[2021-08-13 13:17] alasdair-stark-amido commented on #79675
I performed it twice and it happened both times. The only reason I performed it the second time was to confirm the issue.

Alasdair Stark
Consultant

***@***.***<www.amido.com>
E:
***@***.******@***.***>
W:
www.amido.com

Head Office: 5th Floor, Walbrook Wharf, 78-83 Upper Thames St, London, EC4R 3TD
Amido Ltd is a company registered in England and Wales. Registered number: 07203090. Registered of

[2021-08-13 13:19] dominicbetts commented on #78478
Hi @scout208 - this is on the backlog, but I don't know yet when the updates will happen.

I'll close this issue for now, but I'll add a note here as soon as the updates are complete.

Thanks for your interest!

Dominic

[2021-08-13 13:19] dominicbetts commented on #78478
#please-close

[2021-08-13 13:19] #78478 closed

[2021-08-13 13:29] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido in that case I believe the best course of action would be to open a Microsoft Support Request.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Srijit" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link](https://github.com/MicrosoftDocs/azure-docs/issues/79675) to this thread. I can then ena

[2021-08-13 13:29] arobass commented on #33157
Here is our setup:

Certificate generated and signed in Azure Key Vault by an external CA, public access enabled on Keyvault (no network restrictions).
Application Gateway v2, Standard_v2 with public and private frontend.

When trying to link keyvault with App Gateway, I have the same error as OP.

**To fix my issue:**
I downloaded our certificate from the Keyvault, added a password to the certifi

[2021-08-13 13:40] spelluru commented on #79558
@btmpn - Thanks for the input. Yes. You are right. Azure PowerShell doesn't support it yet. Here are the sample CLI commands I got from our dev. I will update the article with this example.

[code]

[2021-08-13 13:42] tfitzmac commented on #79594
@SenthuranSivananthan - The [Bicep documentation about dependencies](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/resource-declaration?tabs=azure-powershell#set-resource-dependencies) describes the implicit dependency for nested resources.
#please-close

[2021-08-13 13:42] #79594 closed

[2021-08-13 13:43] kevinwolf11 opened #79688 "(Resolved) CREATE PROCEDURE [dbo].[prc_sqldw_update_stats] fails"
Resolved distribution is for Azure DW environments (not sql server on prem or PaaS environments)

When compiling the SP, it fails with the following message:

Msg 156, Level 15, State 1, Procedure prc_sqldw_update_stats, Line 23 [Batch Start Line 0]
Incorrect syntax near the keyword 'WITH'.
Msg 319, Level 15, State 1, Procedure prc_sqldw_update_stats, Line 23 [Batch Start Line 0]
Incorrect syntax

[2021-08-13 13:43] btmpn commented on #79558
Great. Thanks for your effort.

[2021-08-13 13:54] yutaro113 commented on #79560
@AnuragSharma-MSFT , @markjbrown ,
Thank you very much for the quick confirmation and sharing related documents also!
Understood it's not supported via both Portal and SDK due to NoSQL design concept.

[2021-08-13 13:56] yutaro113 commented on #79381
@SnehaAgrawal-MSFT Thanks for the confirmation and update! Understood current situation and will wait for the further updates!

[2021-08-13 14:03] SaurabhSharma-MSFT commented on #79688
@kevinwolf11 Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-13 14:05] SaurabhSharma-MSFT commented on #79686
@Jiihaa Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-08-13 14:13] drcrook1 commented on #79482
Cool; I have several customers with this request and its not documented.  Once they leave a certain scale they need this so they can paginate devices.

[2021-08-13 14:48] exertisrob commented on #79541
Hi,

Got the same issue here on Centos (7.8.2003)

[ExtensionOperationError] Non-zero exit code: 1, /var/lib/waagent/Microsoft.Azure.ActiveDirectory.AADSSHLoginForLinux-1.0.1595.1/./installer.sh install [stdout] Machine OS: centos v7 Installing... Stopping yum-cron.service Configuring microsoft-prod repo Installing aadsshlogin-selinux Public key for aadsshlogin-selinux-1.0.016820001-1.x86_64.rpm i

[2021-08-13 14:54] powertrio77 commented on #78809
Hi,
I'm referring to this learning module:
Create a Regression Model with Azure Machine Learning designer
Create a Regression Model with Azure Machine Learning designer - Learn

|
|
|
|  |  |

 |

 |
|
|  |
Create a Regression Model with Azure Machine Learning designer - Learn

Create a Regression Model with Azure Machine Learning designer
 |

 |

 |

Use visual tools to create machine learning mo

[2021-08-13 14:55] vhorne commented on #75375
@ShachafGoldstein
The product team is asking for repro details. Can you provide repro steps and details about what appears to be broken?

[2021-08-13 14:57] thecpshah commented on #78698
@gaugup hi, if you try to execute the code blocks in this [section](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-aml#raw-feature-transformations), they will throw error.

Also in the same section, the 2nd code block has a comment `# assume that we have created two arrays, numerical and categorical, which holds the numerical and categorical featur

[2021-08-13 15:14] VikasPullagura-MSFT commented on #79681
@FrankCRoth Thanks for pointing this out. We will check and update the document accordingly.

[2021-08-13 15:25] sujitks commented on #58165
@joydeepml you can try this?

folder_name =YOUR_BLOB_CONTAINER
storage_name=STORAGE_ACCOUNT_NAME
storage_key=YOUR_STORAGE_KEY

  storageUrl = "wasbs://" + folder_name + "@" + storage_name + ".blob.core.windows.net"
  storageKeyUrl = "fs.azure.account.key." + storage_name + ".blob.core.windows.net"
  dbutils.fs.mount(
  source = storageUrl,
  mount_point = mount_path,
  extra_configs = {storageKeyU

[2021-08-13 15:29] CarlosAugustoDeSouzaJunior opened #79691 "Linux VM Template"
Hi can you add the template below for linux VM. It works with VM and automation account in  différents souscriptions and it has the rights API version, using automation account register.

{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "vmName": {
      "type": "string",
      "metadata": {

[2021-08-13 15:34] shashishailaj commented on #79679
@PingPongSet Thank you for your query . We will investigate and update the thread

[2021-08-13 15:39] ShachafGoldstein commented on #75375
simply deploy a force tunneling enabled firewall. then deallocate and try
to allocate it back.

there are 2 possibilities, 1 is that it will come back as a regular
firewall, 2 is that (if you added a route table with a 0.0.0.0/0 route) it
will fail while coming online over and over for days.

On Fri, Aug 13, 2021, 17:55 Vic ***@***.***> wrote:

[2021-08-13 16:06] MashaMSFT commented on #73366
Hi @venkat1017 , thanks for contacting Microsoft! The error that you're seeing is likely to be resolved by setting the [RouteTable API](https://docs.microsoft.com/rest/api/virtualnetwork/route-tables) to the latest version. However, it's not clear to me what template you're using to deploy the instance. Is this a Microsoft template? If so, would you mind sharing which template you're using?

Thank

[2021-08-13 16:09] MarileeTurscak-MSFT commented on #79532
Thanks for the feedback! I made a pull request to add the steps. https://github.com/MicrosoftDocs/azure-docs-pr/pull/169046

To enable the AD Recycling Bin, follow these steps:

1. Open the **Server Manager**.
2. Go to **Tools** and select the **Active Directory Administrative Center**.
3. Click on the local domain and select **Enable Recycle Bin**.

@billmath please review the pull request.

[2021-08-13 16:09] #79532 closed

[2021-08-13 16:18] vhorne commented on #75375
The FAQ has been updated with new instructions for forced tunneled firewalls. Will for live around 10:00 am, PST.
#please-close

[2021-08-13 16:18] #75375 closed

[2021-08-13 16:19] MarileeTurscak-MSFT commented on #79520
Thank you, @abarrafo. This does link to an archived repository. I made a pull request to remove the azure-ad-passport link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/169050

CC @mmacy

[2021-08-13 16:19] #79520 closed

[2021-08-13 16:19] #51594 closed

[2021-08-13 16:28] edisga opened #79692 "Update Ruby runtime version in az cli command to RUBY|2.6"
Since RUBY|2.6.2 is not available as part of the runtimes, you might need to change the doc to RUBY|2.6

_az webapp create --resource-group "Linux-ResourceGroup" --plan "Linux-AppServicePlan" --name "edisga-ruby-helloworld" --runtime 'RUBY|2.6.2' --deployment-local-git

Linux Runtime 'RUBY|2.6.2' is not supported. Please invoke 'az webapp list-runtimes --linux' to cross check_

Command that worked

[2021-08-13 16:29] gaugup commented on #78698
@thecpshah could you share the error trace that you see executing this code? The notebook here https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/explain-model/azure-integration/scoring-time/train-explain-model-locally-and-deploy.ipynb uses the example code in docs. Can you find your missing code in this notebook?

Regards,

[2021-08-13 16:33] cgillum commented on #79472
Fair enough. I've opened a PR to add the note about `Stopwatch` in the "Dates and times" category as you suggested.

Normally, I'd suggest using our [Application Insights telemetry](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-diagnostics?tabs=csharp#application-insights) for measuring, reporting, and alerting on execution latencies. However, this code-based mec

[2021-08-13 16:42] cynthn commented on #77230
Thank you for the feedback. I've made the update and it should be live later today.

#please-close

[2021-08-13 16:42] #77230 closed

[2021-08-13 16:43] #79472 closed

[2021-08-13 16:43] JustinGrote opened #79693 "Add a warning note that Gen2 images are not automatically backed up by the default Azure Backup Policies"
See https://github.com/Azure/azure-policy/issues/807

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 940f5217-9f40-0563-27d2-d9e7f7e42005
* Version Independent ID: e088e366-77aa-6358-2540-2c937c6474ec
* Content: [Azure support for generation 2 VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-

[2021-08-13 17:09] himanshusinha-msft commented on #79685
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-13 17:13] psmanhas commented on #79129
@amjads1 Can you please provide your input on the mentioned ask?

Thanks

[2021-08-13 17:14] psmanhas commented on #79587
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-08-13 17:45] SamaraSoucy-MSFT commented on #79392
@poonkodi123 Since I haven't heard back I'm going to close this issue. You can still @ me if you have any additional questions and I will follow up.

[2021-08-13 17:45] #79392 closed

[2021-08-13 17:57] anastasia-ms commented on #71265
Thank you so much for your comment @Mansoormahfoud. The product team is taking your feedback into consideration.

[2021-08-13 18:11] ThomasWeiss commented on #79563
@CRidge The article essentially describes how the service behaves: you can create as many databases as you want in your Azure Cosmos DB serverless account, but only 100 containers can be created in total. What that means is that if you create more than 100 databases, you won't be able to create containers under each of them.

[2021-08-13 18:24] curtand commented on #66097
#assign:@Nicholak-MS

[2021-08-13 18:25] lgflinn opened #79694 "Broken link to list resource-logs"
Broken Link
https://docs.microsoft.com/en-us/monitor-aks-reference.md#resource-logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a58791a-92e9-fa17-b054-cf8e551f16a2
* Version Independent ID: 53142733-2a7b-f971-1b8e-877dbcc414d2
* Content: [Monitor Azure Kubernetes Service (AKS) with Azure Monitor - Azure Kubernetes

[2021-08-13 18:25] curtand commented on #64812
#assign:@Nicholak-MS

[2021-08-13 18:26] ChaitanyaNaykodi-MSFT commented on #79683
Hello @bankarswapnil,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-13 18:26] curtand commented on #62102
#assign:@Nicholak-MS

[2021-08-13 18:27] curtand commented on #59210
#assign:@Nicholak-MS

[2021-08-13 18:31] curtand commented on #66121
Hi @kasgit
This has been fixed and published. Thanks for your contribution!!! #please-close

[2021-08-13 18:31] #66121 closed

[2021-08-13 18:34] duyn9uyen commented on #62945
I am also seeing the same behavior. AZURE_FUNCTIONS_ENVIRONMENT **does not default to Production** when the Function app is running in Azure. We had to add this appsetting and assigned the value ourselves. Docs need updated.

[2021-08-13 19:28] BharathNimmala-MSFT commented on #65971
@daisystevens100 , @ZimMike Thank you for reaching out. My sincere apologies for delayed response on this, with incoming volume this one missed my radar. I am further validating with my internal team to see if any of new features will support this scenario or have any other work around. Will keep this thread updated as soon as I have some additional information.

[2021-08-13 19:29] kobulloc-MSFT commented on #79693
@JustinGrote Thank you for your feedback!  We've assigned this to the document author for review.

[2021-08-13 19:31] yllekz opened #79695 "ACS Exchange Online connectivity documentation might need updating"
[This portion](https://docs.microsoft.com/en-us/azure/cloud-shell/features#manage-exchange-online) of the documentation discusses Exchange Online connectivity in ACS.

When one runs ``Connect-EXOPSSession``, if I am not mistaken, it appears to not use the modern [EXO PowerShell V2 Module](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps). I can ob

[2021-08-13 19:31] spelluru commented on #79558
The article has been updated.
https://docs.microsoft.com/en-us/azure/event-grid/delivery-properties#use-azure-cli

#please-close

[2021-08-13 19:31] #79558 closed

[2021-08-13 19:34] spelluru commented on #79683
@ChaitanyaNaykodi-MSFT - I worked with @bankarswapnil in another channel on this issue and he was able to get it to work with the **Premier** tier namespace.

In the [Create a Service Bus namespace](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example?toc=/azure/event-grid/toc.json#create-a-service-bus-namespace) section, we do mention that **P

[2021-08-13 19:36] James-Hamil-MSFT commented on #79680
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-13 19:48] curtand commented on #68767
hi @brolifen
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your s

[2021-08-13 19:48] #68767 closed

[2021-08-13 19:49] curtand commented on #66520
Hi @bencorley
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2021-08-13 19:50] #66520 closed

[2021-08-13 19:58] SadiqhAhmed-MSFT commented on #79477
@Siby22071989 ARM allow us cross subscription deployment. If you want to deploy resources in other subscription than you currently logged in subscription these resources will be defined inside a nested template (either inline or in a separate JSON file) which is called from the main template. In the nested template you have to specify the other subscription ID of your resource. You can refer this

[2021-08-13 20:02] BharathNimmala-MSFT commented on #79694
@lgflinn Thanks a lot for bringing this to our notice, we will review and fix the link in the document.

[2021-08-13 20:13] ChaitanyaNaykodi-MSFT commented on #79683
Thank you @spelluru for informing me regarding the same! This is very helpful. I will now proceed to close this issue out. Thank you!

[2021-08-13 20:13] #79683 closed

[2021-08-13 20:15] hpsin commented on #77273
@andrewrlee - can you double check that your app is set to organizations only? I've validated that org-only apps can still set this via manifest.  It may be a race condition in the API as well - can you be sure you've saved the app switching to single tenant, then setting this in the manifest?

If all of the above are correct, can you provide a minimal repro of the URL that is rejected?

[2021-08-13 20:16] lgayhardt commented on #79576
I'll remove the incorrect line from the docs for now. Later we can decided if we will add appsettings.json and code equivalent.

Thanks!
#please-close

[2021-08-13 20:16] #79576 closed

[2021-08-13 20:17] BharathNimmala-MSFT commented on #79694
@lgflinn Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to fix the broken link. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if

[2021-08-13 20:17] #79694 closed

[2021-08-13 20:34] linkhp commented on #79377
It could mean that any of the apps you configured in the Google developer console was using embedded webviews for Gmail authentication. They posted instructions on testing compatibility at the bottom of this blog [here](https://developers.googleblog.com/2020/08/guidance-for-our-effort-to-block-less-secure-browser-and-apps.html). You will have to switch your apps over to system browser authenticati

[2021-08-13 21:03] kevinpagliarulo opened #79698 "Azure Government Private Endpoints Needed"
Please add the government endpoints to this doc. I've compiled a list of most of them, but an official list from the PG would probably be best.

Service	PrivateLink DNS Label 	Public DNS Label
Azure SQL	privatelink.database.usgovcloudapi.net	database.usgovcloudapi.net
Azure Automation	privatelink.azure-automation.us	azure-automation.us
Azure Table	privatelink.table.core.usgovcloudapi.net	table.cor

[2021-08-13 21:17] MGoedtel commented on #79691
@CarlosAugustoDeSouzaJunior - Thanks for suggesting the addition of your template example for a Linux VM.  I agree that there should be one for Linux and not just Windows, so let me create a work item for this and after testing/validation, I'll add to the article and get it published. Will look to add this to our September sprint.  #please-close

[2021-08-13 21:17] #79691 closed

[2021-08-13 21:24] robertstarling opened #79699 "/etc/apt/sources.list code sample not working with Ubuntu 18.04"
The following bash sample to update /etc/apt/sources.list did not work on my Ubuntu 18.04 distribution

[code]
The issue is that the sed regex expects the URL to be terminated with /.  However my sources.list was in the following format (no trailing /)
[code]
The following syntax did work for me, and I believe would work equally well in either scenario.
[code]
Side note: are the comment # prefixes

[2021-08-13 21:29] rboucher commented on #79168
No response.  #please-close

[2021-08-13 21:30] #79168 closed

[2021-08-13 21:50] georgeOsdDev opened #79702 "App Service Vnet integration recommended subnet address range table"
![image](https://user-images.githubusercontent.com/1381907/129420577-1839b950-60ab-4da5-8cc4-1b0b7a0cf92e.png)

Table example is little bit confusing. Because `Max horizontal scale(instances)` is described as being limited to 29.
From the perspective of app service quota, maximum instance count for premium v2/v3 is 30.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-

[2021-08-13 22:06] irenehua commented on #79243
@carlost-MSFT Thanks for the feedback! Are you able to unblock yourself using PowerShell or CLI?

[2021-08-13 22:09] evangelinew opened #79703 "Add Capacity Unit to Product Glossary"
Need a term for Capacity Unit. Something like: The size of the Data map in Purview is measured in Capacity Units (CU). A Capacity Unit provides 2GB of storage and a throughput of 25 operations/sec.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e52412-4d39-4566-5895-3f83c8198167
* Version Independent ID: 1ed309b9-5e2

[2021-08-13 22:17] carlost-MSFT commented on #79243
This is not blocking, it's just a suggestion to improve the script.
Thanks for checking.

[2021-08-13 22:19] arunkp89 opened #79705 "Need to update https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-imagelist with the latest available images"
There are new RedHat images available in market place which are missing in current KB.
Can we format the image SKU section into columns, rather than having an individual SKU to make the KB short? as adding each and every image SKU will only increase the length of KB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98dae

[2021-08-13 22:38] tfitzmac commented on #79257
@lintFan - thanks for this feedback. Those 2 resource providers have now been updated. Other resource providers are also in the process of being updated. I have a new generation process for this documentation that will make it easier to keep these articles up-to-date.
#please-close

[2021-08-13 22:38] #79257 closed

[2021-08-13 22:52] himanshusinha-msft commented on #79685
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-08-13 22:52] #79685 closed

[2021-08-13 22:55] kobulloc-MSFT commented on #79699
@robertstarling Thank you for bringing this to our attention.  I've assigned this to the document author for review.

[2021-08-14 00:34] nlcamp opened #79708 "aziotcs user needs access to certs, not iotedge user"
Item 4 under 'Install Certificates on the device' says the **iotedge** user needs to be able to access the certs but in v1.2 it's actually the **aziotcs** user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94792ff1-5976-90f4-5092-0d8d8ff01635
* Version Independent ID: d65482d2-64cc-56b1-c52a-b3ddde07b205
* Content: [

[2021-08-14 00:45] SaurabhSharma-MSFT commented on #79688
@kevinwolf11 I see that you have changed the title to resolved.  Is your issue got resolved ?

[2021-08-14 02:08] steveesp commented on #79533
The changes might have still been deploying at the time. Please try E2s_v3 again with AccelNet.

[2021-08-14 03:47] RyanHill-MSFT commented on #79702
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);">Hi&nbsp;<a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hover

[2021-08-14 03:48] #79702 closed

[2021-08-14 04:22] GuyPaddock opened #79711 "Wrong Order (per schema) of SessionExpiryType and SessionExpiryInSeconds"
In the [very first code example on the page](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#configure-azure-ad-b2c-session-behavior), the `<SessionExpiryType>` and `<SessionExpiryInSeconds>` parameters are shown with `<SessionExpiryInSeconds>` listed first and `<SessionExpiryType>` listed second, but this won't pass schema validation because t

[2021-08-14 04:23] GuyPaddock commented on #79711
Oops; not sure what I was reading but I'm incorrect. All code examples look correct.

[2021-08-14 04:23] #79711 closed

[2021-08-14 04:26] Siby22071989 commented on #79477
@SadiqhAhmed-MSFT : Thank you for looking. However, the above link is for multi deployments using ARM template. What I am asking for is a single ARM template that can create " Budget Alerts" across resource group of multiple subscriptions. For example on Azure portal you can move subscriptions under management scope >> select management scope >> select RG under that scope and then apply budget. Is

[2021-08-14 06:43] Grace-MacJones-MSFT commented on #79692
Hi @edisga,Thanks for your feedback! We will review and update this doc accordingly.

[2021-08-14 07:17] vipulsparsh commented on #79695
@yllekz Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 07:20] vipulsparsh commented on #79698
@kevinpagliarulo Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 07:23] vipulsparsh commented on #79703
@evangelinew Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 07:25] vipulsparsh commented on #79705
@arunkp89 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 07:25] vipulsparsh commented on #79708
@nlcamp Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 07:53] GuyPaddock opened #79712 "For Apple B2C, Sourcing Email from ID JWT is More Reliable"
The documentation for setting up Apple as an OIDC provider for B2C uses an [undocumented feature of B2C](https://www.norris.solutions/post/get-user-name-claims-from-sign-in-with-apple) to be able to read the user's first name, last name, and email address from the OIDC response Apple sends back. However, as noted in the article I just linked to, that user profile information is only available the

[2021-08-14 08:05] pthomas848 opened #79713 "Backup Archive"
[Enter feedback here]
Regarding the detailed cost estimator on https://docs.microsoft.com/en-us/azure/backup/backup-azure-vm-backup-faq  - is this going to get updated with Backup archive pricing please?
Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45baa4f3-2845-ae9b-a94e-b07ff7c44a63
* Version Independent ID:

[2021-08-14 08:44] abandyop opened #79714 "There are too many calculations which might look unnecessarily confusing to a customer"
There's scope of making it a lot more concise.
I as a customer am not sure If i want to see so many calculations in the documentation which might confuse me.... I'd rather like to have a calculator somewhere on Acom or Purview portal itself where I can see my total bill or experiment with calculations.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-08-14 09:18] vipulsparsh commented on #79712
@GuyPaddock Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 09:19] vipulsparsh commented on #79713
@pthomas848 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 09:20] vipulsparsh commented on #79714
@abandyop Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-14 15:52] kamleshkr opened #79716 "Minor grammatical correction suggestion"
[Enter feedback here]

Please check for grammar, under Create a Host Group section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5826bc3-3134-e9d0-9f19-72acd5d7650c
* Version Independent ID: 4860b99f-21ca-b953-9e02-940a0becf12f
* Content: [Deploy Azure dedicated hosts using the Azure portal - Azure Virtual Machines](

[2021-08-14 17:18] JohnnyFun commented on #79113
No problem--I was camping anyway, so apologies for _my_ delay getting back to you.

I just confirmed I still get the error. Here's a screenshot if it helps. Feel free to ask for any other details that might be helpful.

![image](https://user-images.githubusercontent.com/8106379/129455212-60cf6d2d-709d-4acd-bbfb-f22e467e1edd.png)

[2021-08-14 18:03] AjayKumar-MSFT commented on #79566
Thanks for your comments, wanlwanl.  Damag3d, Hope the information provided by wanlwanl was helpful. We will close this thread for now.
For any product specific feature request, you may also share it on [UserVoice ](https://feedback.azure.com/forums/915436-azure-signalr-service) -Users with a similar request, can up-vote you post and add their comments.

[2021-08-14 18:03] #79566 closed

[2021-08-14 18:33] olufea-dev opened #79718 "Self referencing link on page"
[Enter feedback here]
This statement "For more information regarding Azure AD integration, see Authorize access to data in Azure Storage." contains a link that references the same page. Instead of the AAD details page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92eb0299-4a80-5c36-697e-a0dec54a8b46
* Version Independ

[2021-08-14 19:12] AjayKumar-MSFT commented on #79611
@immojojojo,  Thanks again for sharing your valuable feedback on this.

With App Service Plan (ASP) PremiumV2, Apps under the same ASP share the compute resource. [As well, the other dedicated compute tier: Basic, Standard, Premium and PremiumV3)-  run apps on dedicated Azure VMs. Only apps in the same ASP share the same compute resources.

Just to highlight, on a similar lines -

- As highlighted

[2021-08-14 19:38] DeanGross opened #79719 "Integration with Azure AD"
I don't see any instructions about integration with Azure AD. Is this missing or not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cade2fc-6946-8aea-ad7c-8eba05be9d5c
* Version Independent ID: 54b105a2-7761-8102-a40c-17178fb80172
* Content: [Create and manage users - Azure Defender for IoT](https://docs.mic

[2021-08-14 21:31] brkoglu commented on #58211
Hi all, I'm facing the same problem. when I give cmd /c echo %AZ_BATCH_APP_PACKAGE_FFMPEG#4.1.4% the result is %AZ_BATCH_APP_PACKAGE_FFMPEG#4.1.4%

So it seems, that this environment is not filled

[2021-08-14 23:40] weihangChen commented on #34451
same problem, as suggested by @AjayKumar-MSFT , I put my app url here, please help thanks.
[http://marc0814.azurewebsites.net](http://marc0814.azurewebsites.net)

[2021-08-15 00:42] djpmsft commented on #79703
Ack, we will define and add it this week

[2021-08-15 00:42] djpmsft commented on #79703
#please-close

[2021-08-15 00:42] #79703 closed

[2021-08-15 01:58] Burabari-Dev commented on #79519
Yes node version 14.15.3 and git version 2.30.0windows.2
The app runs but the TODO application is not displayed (see attached screenshots
![node-git](https://user-images.githubusercontent.com/78781848/129464539-9417cd8b-05e7-4c61-a061-d3461ed83ad3.png)
![not-found](https://user-images.githubusercontent.com/78781848/129464541-a73ef79f-cf94-414d-8433-cbe4de0c7c82.png)
)

[2021-08-15 03:49] #79475 closed

[2021-08-15 04:08] RyanHill-MSFT commented on #79483
I'll touch basis with the product group on this. Thanks for the find.

[2021-08-15 06:42] atif-hafeez opened #79722 "Charges on polling data"
[Enter feedback here]
Under Section **Cost estimation tips for the Consumption model**, it is stated that if there are 10 events in the pipeline, then all 10 events + 1 trigger request will be metered. My question is regarding those polls where there is no event in the pipeline? In those cases will azure meter those trigger requests?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-08-15 07:23] nicholasdbrady opened #79723 "Missing Reminder: Preview version needed for sample to work"
The documentation says you can use the latest preview version to use extractive summarization, but the latest version is not enough and the link takes the user directly to the python sample file instead of the readme where 'pip install azure-ai-textanalytics --pre' is required for the 'ExtractSummaryAction' to work.

I'd also suggest updating the language on MS Docs and pypi.org (https://pypi.org/

[2021-08-15 08:01] YutongTie-MSFT commented on #79723
Thanks for the feedback! We are currently investigating and will update you shortly.

@aahill FYI

[2021-08-15 08:14] vipulsparsh commented on #79716
@kamleshkr Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-15 08:16] vipulsparsh commented on #79718
@olufea-dev Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-15 08:18] vipulsparsh commented on #79719
@DeanGross Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-15 08:20] vipulsparsh commented on #79722
@atif-hafeez Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-15 10:41] yodobrin opened #79724 "missing required parameter in workspace get method"
[Enter feedback here]
in the section showing how to use service principle authentication, the required parameter for resource group is missing:
from azureml.core import Workspace

_ws = Workspace.get(name="ml-example",
                   auth=sp,
                   subscription_id="your-sub-id")
ws.get_details()_

it needs to be
from azureml.core import Workspace

_ws = Workspace.get(name="ml-exam

[2021-08-15 14:44] memildin commented on #76302
Hi @vboyev-MSFT, thanks for adding those clarifications.

The solution is for you to use the Azure resource ID of the key vault to suppress alerts on that _specific_ KV.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-08-15 14:44] #76302 closed

[2021-08-15 16:41] BharathNimmala-MSFT commented on #79113
@JohnnyFun No problem at all and thank you for circling back. Post validating with our internal team , it has been called out and also been documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/source-map-support#required-azure-role-based-access-control-azure-rbac-settings-on-your-blob-container).

Any user on the Portal using this feature must be at least assigned as a Storag

[2021-08-15 16:46] vibhatrehan commented on #32732
I do not understand why we would need to add the training documents at root level of containers. Its quiet logical to allow keeping them in sub-folders. After debugging the issue for hours, my code finally worked when i moved the sample training documents to root folder

[2021-08-15 17:58] sukhdeepsharma opened #79726 "Wrong endpoint in Linux example"
Linux tags example need correction to endpoint.  platformFaultDomain should be replaced with tags.

Current: http://169.254.169.254/metadata/instance/compute/platformFaultDomain
Correct: http://169.254.169.254/metadata/instance/compute/tags

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service?tabs=linux#sample-3-get-vm-tags

---
#### Document Details

⚠ *Do not

[2021-08-15 19:14] AnuragSharma-MSFT commented on #79534
@jahyen yes that right as unique indexes can be created on empty collections only. The article mentioned by you is specific to version 3.6 but this feature is common to all the versions and hence it is mentioned in the common document instead of specific versions. Please let us know if this helps.

[2021-08-15 19:15] AnuragSharma-MSFT commented on #79543
@khalil-omer I noticed the conflict between the documents. This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-15 19:37] stevevi commented on #78851
Adding @msmimart and @yoelhor for assistance with Azure AD B2C content that needs to be included in this article per Jitendra's customer escalation.  See my email to you dated 26-July-2021.  What Azure AD B2C content needs to be added to make sure the article is accurate?  Thank you.

[2021-08-15 19:38] DeanGross opened #79728 "No content for Security topics"
I don't see any sections for Securing these services. Please add some recommendations/guidance/instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b952be34-253f-fd05-d5ed-1fa885ec6d20
* Version Independent ID: 3f9a1343-c9f3-127f-f911-17d5f34fa0ab
* Content: [What is Azure Video Analyzer](https://docs.microsoft

[2021-08-15 19:40] DeanGross opened #79729 "Missing security documentation"
I don't see any sections about security for this service. Please add the appropriate guidance.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b059be5c-7d30-c412-bdd7-cbe76383ac24
* Version Independent ID: 9df53112-e1e5-e555-eec1-512df3f0fa8d
* Content: [What is Custom Vision? - Azure Cognitive Services](https://docs.mic

[2021-08-15 23:33] powertrio77 commented on #78809
Hi Blanca,
Will these 4 screen shots help? training and inference, training settings and Pipelines.
It still seems confusing as how to apply my new Indicator columns that have 1s and 0s, to a linear regression model.
I have tried Linear (Gradient Descent) and Linear (Least Squares) models. To me, this is the first step I decided to do to enrich my data; to use a categorical column with Linear regr

[2021-08-15 23:39] emardee commented on #79377
I've worked it all out, with a combination of your help here and a support ticket from AzureAD.

What had foxed me was the email from Google telling me I was using Webview, and I falsely presumed it was these Sharepoint users. Subsequent digging reminded me I had a few guests using Teams.... So they will have been the ones generating the warning not my Sharepoint Users! And I can see you have that

[2021-08-16 00:13] YutongTie-MSFT commented on #79724
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-16 00:24] KranthiPakala-MSFT commented on #79714
Hi @abandyop Thanks for the feedback. Could you please point us to the particular section of the document to which you are referring to?

[2021-08-16 01:38] CherylHuan opened #79731 "The statements of restriction of workspace name seems not correct."
The statements are different in section "Troubleshooting" of this page and page [Azure CLI](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/quick-create-workspace-cli#troubleshooting). It states "If you use the same workspace name, but different resource group, subscription or region, you will get an error This workspace name is already in use." But I've tested it in azure portal, it is

[2021-08-16 02:07] VikasPullagura-MSFT commented on #79681
@FrankCRoth The document is updated and changes will go live once the PR is approved.

[2021-08-16 02:07] #79681 closed

[2021-08-16 02:12] BryanTrach-MSFT commented on #79526
@carolga Thank you for the doc idea. We reviewed your feedback and feel this would be best to be further reviewed by the doc author. We have now assigned the feedback to the doc author.

[2021-08-16 02:15] VikasPullagura-MSFT commented on #79705
@arunkp89
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-16 02:15] VikasPullagura-MSFT commented on #79705
@asinn826
Can you please check and add your comments on this doc update request as applicable.

[2021-08-16 02:16] vipulsparsh commented on #79729
@DeanGross  Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-16 02:17] VikasPullagura-MSFT commented on #79726
@sukhdeepsharma Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-08-16 02:20] vipulsparsh commented on #79728
@DeanGross  Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-16 02:20] #79726 closed

[2021-08-16 02:28] joshivinod opened #79732 "Manged identify not explained clearly in section "Enable Studio""
In the section Enable Studio, we suddenly jump into Managed Identity, without any prior context. This step needs more details e.g. Do we have to add members? If so, under which App Type. The documentation is very abrupt at this stage of the setup

_4. On the Members tab, select the managed identity with the same name as your Azure Machine Learning workspace._

---
#### Document Details

⚠ *Do not

[2021-08-16 02:29] MayankBargali-MSFT commented on #79722
@atif-hafeez In the [same section ](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-pricing#trigger-and-action-operations-in-the-consumption-model) it states that "The outbound call is metered and billed as a single execution, whether or not the trigger fires or is **skipped**." If there are no events in the poll then the trigger will be skipped but it will still be billed as mentione

[2021-08-16 02:52] OzBob opened #79733 "Binding renewal - certificate expiry may NOT cause automatic update of Binding"
Recently my App Service Binding to a new certificate did not update when the old certificate expired.

I had manually loaded a new certificate a month ago, and had expected the Binding to automatically move over to the new certificate loaded in the same App Service.

If this does not happen, it should be documented here.

---
#### Document details

⚠ *Do not edit this section. It is required for d

[2021-08-16 03:00] kekatahi opened #79734 "Comparison chart for ADLS Gen2 and Blob storage"
[Enter feedback here]
we should add the comparison chart for ADLS Gen2 like following document in this page. It will help customer determine which storage account they should use.
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-comparison-with-blob-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-08-16 03:04] OzBob commented on #79733
A script that could be useful to others: https://github.com/slapointe/azure-scripts/tree/master/application-gateway blogged at https://www.codeisahighway.com/how-to-detect-expiring-certificates-in-azure-application-gateway/, about detecting expiring certificates.

[2021-08-16 03:28] rachelxj-ms commented on #79596
@vipulsparsh according to this document https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network,
This feature currently works for all Windows virtual network-supported SKUs in the Dedicated (App Service) plan and for Windows Elastic Premium plans. It is also supported with private DNS for Linux virtual network-supported

[2021-08-16 03:54] KrishnaG-MSFT commented on #79731
@CherylHuan Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-16 04:07] CHEEKATLAPRADEEP-MSFT commented on #79578
@MACEL94 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-16 04:16] Svijay-msft commented on #79540
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-16 04:17] HarshitaSingh-MSFT commented on #79524
Since, it is taking longer than expected. I will close this issue for now and will update the thread once the PR gets merged.

[2021-08-16 04:17] #79524 closed

[2021-08-16 04:24] AshokPeddakotla-MSFT commented on #79708
@nlcamp I have assigned the issue to the content author @kgremban to evaluate and update the doc as appropriate.

[2021-08-16 04:33] #79540 closed

[2021-08-16 04:35] AshokPeddakotla-MSFT commented on #79174
@KenanBektas This is fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-16 04:35] #79174 closed

[2021-08-16 04:40] HarshitaSingh-MSFT commented on #79668
@sbwoodside, can you please share a screenshot of where you see this behavior?

[2021-08-16 05:48] jianleishen commented on #79061
Thank you for the feedback, doc has been improved with this info. please help to verify and close. @ShaikMaheer-MSFT

doc link: https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-data-warehouse#supported-capabilities

[2021-08-16 05:53] AshokPeddakotla-MSFT commented on #79141
@ckarrasalithya Doc has been updated. Let us know if you have any other queries.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-16 05:53] #79141 closed

[2021-08-16 06:00] jianleishen commented on #78013
@KranthiPakala-MSFT  just to confirm, if this is to ask adding sample URL to the legacy authentication type?

[2021-08-16 06:08] jianleishen commented on #72725
@syntrixsystems thank you for your feedback. for the error mentioned above, please file a ticket if the connection doesn't work for root cause. without that, it's difficult to improve the doc or identify if it's a specific config issue, etc.

@CHEEKATLAPRADEEP-MSFT please close this given the info here is not sufficient to improve the doc.

[2021-08-16 06:13] rick-hayek opened #79735 "AADB2C: Unable to connect to the metadata endpoint"
Hello,

I was trying to set up my test AD FS (on a on-premise server) as SAML identity provider in b2c.
When I was testing the custom policy, I got the error "AADB2C: Unable to connect to the metadata endpoint"

![image](https://user-images.githubusercontent.com/17425089/129518551-d0994209-3805-4ee6-a802-8859c754f6b8.png)

note:
The AD FS server is an on-prem machine;
I was running the test on the

[2021-08-16 06:16] KranthiPakala-MSFT commented on #78013
@AbhishekShaha - Could you please confirm on the same? - Thank you

[2021-08-16 06:23] KalyanChanumolu-MSFT commented on #79733
@OzBob Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-08-16 06:23] przemos commented on #47170
@jeffhollan , given we're at Aug 2021 already, have the timelines been revised and if so, could you give us the new target date?

[2021-08-16 06:24] KalyanChanumolu-MSFT commented on #79732
@joshivinod Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-08-16 06:25] KalyanChanumolu-MSFT commented on #79734
@kekatahi Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-08-16 06:26] SrijitBose-MSFT commented on #79716
@kamleshkr , Thank you for your feedback. Document is updated and changes will go live once the changes are approved.

#please-close

[2021-08-16 06:26] #79716 closed

[2021-08-16 06:26] jianleishen commented on #73307
hello @MartinJaffer-MSFT  / means 'from root' is a generic pattern in computing, not ADF specifically. So this clarification would not be added into ADF doc for calling out. please close this issue for now. Thank you.

[2021-08-16 06:40] AccessViolator opened #79737 "Inaccurate or incomplete instructions"
In section "Test your custom domain":

7. And do with the copied URL what?
8. "Run user flow endpoint" URL field is read-only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4a65cd-dae6-898a-514b-5bb9238f58a3
* Version Independent ID: 9c2f7824-efed-7108-7c1e-eb2b57f3c0d6
* Content: [Enable Azure AD B2C custom domains

[2021-08-16 06:48] jianleishen commented on #76007
@spowellnet  thank you very much on the feedback. I'd suggest you to create a support ticket to get a bit deeper on the error you met specifically. The ADF linked service section in general provides a list of properties it supports and sample payload. and anything that to be called out. in your case, the info is not sufficient for us to identify that. So more details is needed for doc enhancement.

[2021-08-16 07:27] SnehaAgrawal-MSFT commented on #79519
@Burabari-Dev It seems you are using Windows PowerShell terminal window, could you please try this using Git Bash terminal window
![Users_SNAGRAW](https://user-images.githubusercontent.com/46553948/129526622-58bb3843-4004-4121-8120-4fc6693c1e07.png)

and then navigate to http://localhost:1337 in a browser.
![Todoclient](https://user-images.githubusercontent.com/46553948/129526409-b7618917-665a-456

[2021-08-16 07:30] leizhang1984 commented on #16579
Please use following Azure PowerShell:
get-azureaduser | select -property displayname,dirsyncenabled

Use attributes: dirsyncenabled
if dirsyncenabled is null, then source is Azure Active Directory
if dirsyncenabled is true, then source is Windows Server AD

[2021-08-16 07:30] yoelhor commented on #79737
Dear @PRMerger19

AccessViolator , thanks for the feedback. I'm updating the article with the relevant information: you should copy the  **Run user flow endpoint** to a new browser (to browser tab). There you change the domain name and run it.

A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need

[2021-08-16 07:33] gxgrammatikos commented on #79329
The issue has been solved, it was a misconfiguration with the redirect URI.
Thank you, Yoel for your help.

[2021-08-16 07:33] RohitMungi-MSFT commented on #79729
@DeanGross There is some guidance of securing access using [virtual networks](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?context=%2Fazure%2Fcognitive-services%2Fcustom-vision-service%2Fcontext%2Fcontext&tabs=portal) and [customer managed keys](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/encrypt-data-at-rest) for

[2021-08-16 07:41] romankiss opened #79738 "Autogenerate a device template from a component raw data"
I have tried to auto generate a device template from the raw data sent by device component. The following screen snippet shows  my test:

<img width="952" alt="iotc1" src="https://user-images.githubusercontent.com/30365471/129527915-535d4185-0e8f-4f9f-9e85-bf57c7f6a9cf.PNG">

Note, that the feature is working well for raw data sent by default device component. Is this a limitation or a bug?

Thank

[2021-08-16 08:02] #79737 closed

[2021-08-16 08:04] yoelhor commented on #79735
To investigate this issue we nee the correlation ID. Could you please share the correlation ID?

[2021-08-16 08:19] BhargaviAnnadevara-MSFT commented on #79500
@mb236 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-08-16 08:19] #79500 closed

[2021-08-16 08:20] Tasos-Torou commented on #78637
Hi, sorry I was on AL. Yes, we are testing locally with live data, deploying jobs and viewing deployed jobs.
We are aware that we have to whitelist all the services but is there a list of all the services and the associated ports needed to be whitelisted?

Thanks

[2021-08-16 08:49] vipulsparsh commented on #79695
@yllekz Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-16 08:56] miqm commented on #64660
I think I know what's the problem. It's basically similar to VNET with subnets. Mainly - if you update webapps and make a PUT request updating only linuxFXVersion (property that controls which image to run) and you **not set** acrEnableManagedIdentity to *true*, REST API of AppService will use it's default value - which is **false** - rather than keep what it's currently set.

@ccompy - is this be

[2021-08-16 09:06] GitaraniSharma-MSFT commented on #79659
@tcsougan , We have assigned this to the content owner/author for updating the doc with the requested information.

@vhorne , as discussed in the internal email, could you please add a note about the downtime requirement for the Firewall migration?

[2021-08-16 09:52] emardee commented on #65201
@jwm2409

I've had some success with testing this method myself today.

1. I created a new external user guest invite to a gmail address, (but with send invite email set to **false** to give more time before email gets sent). So I used this command for that (italics shows parts you set):
`New-AzureADMSInvitation -InvitedUserDisplayName "_Name of user_" -InvitedUserEmailAddress _users-email@gmail.c

[2021-08-16 10:18] damianvandenberg opened #79744 "Azure Sentinel alert enrichtment feedback"
Hi Team,

It would be great to know if it's possible to enrich a Sentinel incident (Alert details) with a parameter that holds multiple values in a column from the query results. The docs currently don't provide any information about this.

As of right now, it only returns the first result when adding a {{Parameter}}. However, in this case, the output parameter is dynamic and can hold multiple val

[2021-08-16 10:21] yuanshingk opened #79746 "Typo in cosmosDB HA documentation"
In section "What to expect during a Cosmos DB region outage", there is a typo in the table row 2 column 3, where "consistenvy" should be spelled "consistency"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139a721d-cf90-8b72-f344-9bdf9b2f9738
* Version Independent ID: b2afbc24-ebfc-b225-ee4a-8eaa27838cd0
* Content: [Hi

[2021-08-16 10:34] AnuragSharma-MSFT commented on #79746
@yuanshingk Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-16 10:35] #79635 closed

[2021-08-16 10:41] BasavarajGM opened #79748 "Lack of Fairplay configuration snippet using NodeJS"
Lack of Fairplay configuration snippet using NodeJS. Is there any reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667cfa12-3989-3ceb-7c8a-b000b5763085
* Version Independent ID: 72cf8b2d-8613-a9a9-3839-bd343a9435af
* Content: [Media Services Apple FairPlay license support - Azure Media Services v3](https://doc

[2021-08-16 10:42] AnuragSharma-MSFT commented on #79746
@yuanshingk Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-16 12:10] ramepetla commented on #67128
I think document missing some key information like whether slave will be started automatically after any failover. In our case, slave is not getting started automatically, it is trying to start but failing with no reason

[2021-08-16 12:12] BhargaviAnnadevara-MSFT commented on #79552
@ciufudean Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-16 12:27] benjamincburns commented on #68602
For anyone finding this later on - it's been quite a while. Since my ramblings above I've written a ton of templates, and I feel I understand the two `scope`s a lot better now.

My first word of advice: use Bicep. The addition of typing and RP schema validation is a game-changer. If you do use bicep, these properties will suddenly become more clear.

The top-level `scope` is an artifact of `Micros

[2021-08-16 12:30] Tridy opened #79752 "Configuring the VPN client requires unzip"
the part for the "install required software" should include the install of unzip:
```sudo apt install unzip```
since if it is not installed on Ubuntu by default and "Configure the VPN client" part of the document requires unzip.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2d0a01e6f906
* Versi

[2021-08-16 12:34] jonaselreweny opened #79753 "Broken hyperlink"
The link under tutorials ([Learn: Create a subscription governance policy](https://docs.microsoft.com/en-us/learn/modules/build-cloud-governance-strategy-azure/3-create-subscription-governance-strategy)) is broken and should probably be updated to point to the following [URL](https://docs.microsoft.com/en-us/learn/modules/build-cloud-governance-strategy-azure/10-create-subscription-governance-stra

[2021-08-16 12:37] benjamincburns commented on #68602
I think the real issue here is that there hasn't been a "stable" release of the `Microsoft.Authorization` RP API since 2015, per the [versions page in the REST API reference](https://docs.microsoft.com/en-us/rest/api/authorization/versions). That release is so old that it is no longer shown in the version history on that page.

Maybe that's just a simple omission, but the most recent non-preview r

[2021-08-16 12:53] roblaw80 opened #79754 "Incorrect JSON example provided"
The provided JSON for the role is incorrect, and throws an invalid JSON error when trying to use it in azure.
The correct format should be as follows.
{
    "properties": {
        "roleName": "Automation account Contributor (custom)",
        "description": "Allows access to manage Azure Automation and its resources",
        "assignableScopes": [
            "/subscriptions/XXXXXXXX-XXXX-XXXX-XX

[2021-08-16 13:19] AshokPeddakotla-MSFT commented on #79738
@romankiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-16 13:42] mswieratharper opened #79755 "update for Microsoft Endpoint Manager vs Intune"
This page references how to do this using Intune but Intune has moved.  Please update how to do this using Microsoft Endpoint Manager.

I believe this can be a reference.  https://docs.microsoft.com/en-us/mem/intune/configuration/device-profile-create

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e1d9a-f

[2021-08-16 13:54] jyeblog opened #79756 "Clarification on auto shutdown via ARM template"
[Enter feedback here]

For this section:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b332b2-b671-a5e8-0db0-38aa1378dbaf
* Version Independent ID: 13cd812a-48e4-dd85-3cc8-a0b357a5a453
* Content: [Create and manage a compute instance - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/h

[2021-08-16 14:09] GiftA-MSFT commented on #79756
@jyeblog we'll review your feedback and get back to you shortly. Thanks.

[2021-08-16 14:10] bretamyers opened #79757 "Bugs in stored proc definition"
I think there are multiple bugs in the stored procedure definition for prc_workload_management_by_DWU.

The first one is where we define the DWU when a NULL is passed into the proc. I found that if the DWU of the pool was at DW100c, this value would not be set. It came back to the mem definition where we needed to include decimal places. Note, the commented out line is the old code piece.

	-- Sel

[2021-08-16 14:11] vhorne commented on #79659
Article updated
#please-close

[2021-08-16 14:11] #79659 closed

[2021-08-16 14:15] AshokPeddakotla-MSFT commented on #79738
@dominicbetts Could you please check this issue and provide your insights?

[2021-08-16 14:17] craigshoemaker commented on #79645
Thanks, @gabesmsft! This change is is being addressed in an upcoming PR. I will call to #please-close this issue for now.

[2021-08-16 14:17] #79645 closed

[2021-08-16 14:18] UdokaVrede commented on #79753
Hi, can I fix this issue?

[2021-08-16 14:19] tcsougan commented on #79659
@vhorne please do the modifications take some time to show on the website?

[2021-08-16 14:20] dinive commented on #39899
I am also getting same error when trying to create resource via sandbox,,Please help me if there is any fix to solve this issue
New-AzResourceGroup : Operation returned an invalid status code 'Forbidden'
StatusCode: 403
ReasonPhrase: Forbidden
OperationID : 54df636f-5459-45ec-8721-5ff4113d1f86

[2021-08-16 14:22] asudbring commented on #79388
Sending to PM for review.
#reassign:@ivapplyr

[2021-08-16 14:31] DCtheGeek commented on #79060
@zaalion There's been no response on this for almost 3 weeks and I believe I answered your original question, so I'm going to close this issue.  If you still have questions on this, please feel free to continue the discussion here or even move it to Microsoft Q&A. If you have a new Docs issue, please create a new issue.  Thanks!

#please-close

[2021-08-16 14:31] #79060 closed

[2021-08-16 14:46] sdegenhardt opened #79759 "Scaffolding example is not correct."
This page includes the following command for scaffolding an MVC app.
**`dotnet new mvc --auth SingleAuth`**

I believe it should be "SingleOrg" and not "SingleAuth"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Version Independent ID: 753a9bb3-1e41-83b5-72c2-0d727fa037bb
* Conten

[2021-08-16 15:17] RyanHill-MSFT commented on #79733
Hi @OzBob, certificate renewal will search for uploaded PFXs. Please [respond to the comment](https://docs.microsoft.com/en-us/answers/questions/514649/will-bindings-update-upon-certificate-expiry.html?childToView=515765#comment-515765) so we can help determine what happened.

[2021-08-16 15:21] ii-batman opened #79760 "AD Connect Agent Update question"
I posted [this](https://docs.microsoft.com/en-us/answers/questions/510050/azure-ad-password-protection-installation-question.html) but got no reply:
my questions are:
Am I OK to install the required software for Azure Active Directory Password Protection on both my DC and member servers?
Would the version of Microsoft Azure AD Connect Agent Updater conflict with the version to be installed by the

[2021-08-16 15:26] BhargaviAnnadevara-MSFT commented on #79753
@jonaselreweny Thanks for bringing this to our attention. Yes, the current broken link should actually point to: https://docs.microsoft.com/en-us/learn/modules/build-cloud-governance-strategy-azure/10-create-subscription-governance-strategy

@UdokaVrede Sure, we welcome contributions from the community. Please take a look at the [Prerequisites](https://github.com/MicrosoftDocs/azure-docs#prerequis

[2021-08-16 15:29] tfitzmac commented on #79346
@ckadluba - thanks for this suggestion. I have added the identity object to the documentation. The update should get published today.
#please-close

[2021-08-16 15:29] #79346 closed

[2021-08-16 15:38] marlof opened #79761 "Example ssh command doesnt work in the example"
Example ssh to the new VM doesnt work:
     ssh 10.10.10.10

Would work better as the example:
     ssh azureuser@10.10.10.10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2467-8743-491c-c84c-f6983772f4da
* Content: [Tutorial - Manage Azure disks with

[2021-08-16 15:43] wilfriedwoivre commented on #79153
Any news for this update ?

[2021-08-16 15:45] KrishnaG-MSFT commented on #79673
@seephez The change is reflecting in the document now.

[2021-08-16 15:45] #79673 closed

[2021-08-16 15:48] MarileeTurscak-MSFT commented on #79759
@jmprieur
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 15:58] BharathNimmala-MSFT commented on #79754
@roblaw80 Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2021-08-16 16:06] mmacy commented on #77273
@andrewrlee Hi Andrew, we've been unsuccessful in our attempts to reproduce the behavior you describe. At least three of us, including @JamesTran-MSFT, tried to repro it on Friday afternoon (13-AUG-21) and all were able add a wildcard-based redirect to an app registration configured for _Accounts in this organizational directory only_.

[2021-08-16 16:11] #77273 closed

[2021-08-16 16:26] chtourou-youssef opened #79764 "Path mappings setting is swapped"
Issue :

Microsoft say : Settings that aren't swapped: Path mappings

i create a Linux custom container web app , with two slots , and i map a file share in each of the slot , when swap , i see the screenshot :

![ssssssss](https://user-images.githubusercontent.com/71817433/129596730-0066c7a7-5f75-4bf7-b181-c8c3792168fe.png)

i don't have any application settings in the web app and slot

Could you

[2021-08-16 16:28] shane-kearns opened #79765 "List of postgres public endpoints is incomplete"
The list of postgres public endpoints is incomplete.
For uksouth, one IP address is listed, which is for cr1.uksouth1-a.control.database.windows.net
My deployment has a CNAME pointing at cr2.uksouth1-a.control.database.windows.net (which is unlisted in this table).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07adfd4

[2021-08-16 16:42] scubaninja commented on #75378
@Cmohan Understood :)

The article expects a person to follow it verbatim, when we introduce outliers or other code, there could be any compatibility or outliers present. The aim is to get people started, so when bringing in different/new code, the issue needs to be addressed from that point of view.

I want to thank you for raising this. I found that we have documented this specifically in our do

[2021-08-16 16:47] JamesTran-MSFT commented on #79755
@mswieratharper
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 16:49] scubaninja commented on #75731
#please-close

[2021-08-16 16:49] #75731 closed

[2021-08-16 16:49] scubaninja commented on #75378
#please-close

[2021-08-16 16:49] #75378 closed

[2021-08-16 17:02] aahill commented on #78820
#please-close

[2021-08-16 17:04] GiftA-MSFT commented on #79632
Hi @MoAGitHub, an efficient approach may be to use [ScheduledExecutorService](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ScheduledExecutorService.html). Hope this helps.

@PatrickFarley please review above feedback for doc enhancement.

Thanks!

[2021-08-16 17:09] RohitMungi-MSFT commented on #79617
@mikanygTC The document is now updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. Thanks for spotting this.

[2021-08-16 17:09] #79617 closed

[2021-08-16 17:16] PingPongSet opened #79767 "Detailed Setup for App Registration Endpoint Version 2"
I followed the steps in the link below:

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

How to setup for the steps below? Please provide detailed steps.

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#enable-oauth-20-user-authorization-in-the-developer-console

---
#### Document Details

⚠ *D

[2021-08-16 17:22] SaurabhSharma-MSFT commented on #79765
@shane-kearns Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 17:24] SaurabhSharma-MSFT commented on #79757
@bretamyers Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 17:26] PingPongSet opened #79768 ""AADSTS500113: No reply address is registered for the application". when used with Azure API Management, OAuth 2.0 authorization with Azure AD"
I followed the steps from the link below:

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

But I get an error below even when the `Redirect URIs` of the **client** app has been provided:

[![enter image description here][1]][1]

Please note that v1 of endpoints are used instead of v2 from the same link below:

https://docs.microsoft.com/en-us/az

[2021-08-16 17:27] craigshoemaker commented on #75853
Thanks for your feedback @Monte-Christo. I am going to call to #please-close this issue for now, but we will continue to refine this doc to remove any unnecessary dependencies.

[2021-08-16 17:27] #75853 closed

[2021-08-16 17:28] whhender commented on #79714
@abandyop - Thanks for the feedback! I'll move it down to later in the article so it's not in the main body. Later on this is going to be moved to its own understanding pricing article so it's not confusing the concept itself. Is there anything in particular that seems like too much?

[2021-08-16 17:30] albertoRamon opened #79770 "Dissociate Public IP"
To disociate a PUBLIC IP, you can't use

![image](https://user-images.githubusercontent.com/15262462/129604482-9c450bcd-a741-4b2b-9bb4-cf3d6673441b.png)

The key is: " The Resource '**Microsoft.Network/networkInterfaces/wenl-rdsm-dev-vm-03PublicIP**"

Because this type is:
![image](https://user-images.githubusercontent.com/15262462/129604988-b83e2b2e-7e54-4578-92bc-7be285b6aee8.png)

---
#### Docu

[2021-08-16 17:37] #79770 closed

[2021-08-16 17:40] Cmohan commented on #75378
I submitted a PR myself to update the doc: https://github.com/MicrosoftDocs/azure-docs/pull/79771

[2021-08-16 17:43] lagase opened #79772 "az storage blob move missing"
Hi,

According to public docs at https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_move, it states that az storage blob move is a command that can be leveraged but when executing with the latest version (2.27.1) I get the error "'move' is misspelled or not recognized by the system."

How can I get this move command as this is needed to move over 1 millio

[2021-08-16 17:46] kenwith commented on #77767
@leepylee - thanks for opening the issue here. I know it takes time to provide feedback once you have figured something out and I appreciate it.

I am checking on 1.   On 2 I am not seeing in the diagram where it is showing POST. I see a note in the intro that says the call uses GET instead of POST. Perhaps someone already updated the diagram to match or maybe I am missing it. Do you still see it

[2021-08-16 17:56] zaalion opened #79773 "Enable customer-managed keys using PowerShell"
[Enter feedback here]

Hello,

This document only provides direction on Enable customer-managed keys in the portal. Could you please provide the PowerShell script for automation?

Thanks,
Rez
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac0843e-72cb-b0f5-7149-7d6f035f17be
* Version Independent ID: 8d04c041-4254-3b49-

[2021-08-16 18:00] kenwith commented on #79433
Thanks for the feedback here. I added this to our backlog so we can prioritize it against other upcoming work.

#please-close

[2021-08-16 18:00] #79433 closed

[2021-08-16 18:14] HarshitaSingh-MSFT commented on #79764
Hello @chtourou-youssef , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-08-16 18:15] JayWitt opened #79774 "Role Base Access Control table isn't complete."
The graphic doesn't show the full list of permissions for all of the roles listed. It is just a picture and is not something that can be scrolled. Could this page please be updated to include the full table?

I understand that the instructions explain how to do it within the portal, but it would be helpful to have the full list so that one wouldn't need to build out a cluster just to see what the

[2021-08-16 18:16] HarshitaSingh-MSFT commented on #79748
Hello @BasavarajGM , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-16 18:17] sergeik66 opened #79775 "COPY INTO Error: Not able to validate external location because The remote server returned an error: (403) Forbidden."
Hello there,

The MS documentation [page ](https://docs.microsoft.com/en-us/sql/t-sql/statements/copy-into-transact-sql?view=azure-sqldw-latest#faq)states that there is no limitations on the number of files (PARQUET,ORC) to load into Synapse (SDW) dedicated pool. However, I encounter the following error message trying to execute COPY INTO command with 25,529 blobs in ADLS2 storage account. The sam

[2021-08-16 18:23] harre096 opened #79776 "No explanation about how to deal with CORB issue"
Chrome seems to be blocking  the request. I get CORB error:

Sender.js:414 Cross-Origin Read Blocking (CORB) blocked cross-origin response https://dc.services.visualstudio.com/v2/track with MIME type application/json. See https://www.chromestatus.com/feature/5629709824032768 for more details.

Did I miss something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-08-16 18:28] JnHs commented on #79564
Thank you @qsdfplkj for your feedback - based on your suggestion, we added a note at the top of the document to emphasize that the files should not be shared broadly. Note also that the instructions do recommend signing in before starting the trace, to limit the amount of sensitive information that is included. We appreciate your feedback helping us to improve our documentation! I'm going to close

[2021-08-16 18:28] #79564 closed

[2021-08-16 18:29] jeevansd commented on #78297
Me and Philippe has provide the guidance here for your use case.
#please-close

[2021-08-16 18:29] #78297 closed

[2021-08-16 18:38] AjayKumar-MSFT commented on #79611
immojojojo,  We will close this out, but if you feel you need more information please just let us know.

[2021-08-16 18:38] #79611 closed

[2021-08-16 18:41] AnuragSharma-MSFT commented on #79608
@manios Thanks for your patience. I tried it both from Data Explorer in Azure Portal and through mongo db Shell and it did work fine. However updating the _id is giving me the error. Would it be possible for you to check once either through the Portal or Mongo DB Shell?

[2021-08-16 18:42] AnuragSharma-MSFT commented on #79534
@jahyen Awaiting your response on this.

[2021-08-16 18:43] AnuragSharma-MSFT commented on #79598
@jspawar We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-16 18:44] #79598 closed

[2021-08-16 18:47] RyanHill-MSFT commented on #62931
Hi @andylavrin, apologies for the delayed response. The CIDR notation is correct. The reasoning is to only utilize half the address space for proper one unit scale out/in operations. This allows the scaled unit to have an IP address available to it inside the address space.

[2021-08-16 18:47] #62931 closed

[2021-08-16 18:53] sunnyhay commented on #79249
@Mutilar Yes, I tried the command and it works by giving me the details about this service. Any other suggestion? Would like some sample or detailed document about updating web service using CLI command. Thanks!

[2021-08-16 19:15] Blackmist commented on #79732
Thanks @joshivinod , I'll create a work item to improve the doc around managed identity.

To fill in the gaps in the current doc, when you create an Azure Machine Learning workspace, it automatically creates a managed identity with the same name as the workspace. So if the workspace is named 'foo', the managed identity is also named 'foo'. This managed identity is used to access the services the w

[2021-08-16 19:18] tjkumar opened #79779 "I am getting error when I clicked on run checks button while troubleshooting the update agent on update management for VM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e7b53a-a644-3ada-8363-ae4edc62f503
* Version Independent ID: a5567355-2edb-d722-3a08-2217d33d9510
* Content: [Troubleshoot Windows update agent issues in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-agent-i

[2021-08-16 19:20] Fleid commented on #78637
I'm still not sure I'm understanding the ask. If it's the IP list of all the Azure services, it's available there: https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2021-08-16 19:28] SadiqhAhmed-MSFT commented on #79477
@Siby22071989 This just sounds more like you could easily accomplish this via ARM Template Spec - https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs?tabs=azure-powershell

Then its just a matter of invoking it for each subscription which is able to be done several ways

[2021-08-16 19:29] tjkumar commented on #79779
![update managment agent issues](https://user-images.githubusercontent.com/13216622/129618665-73aa5e70-4e1a-4133-b403-66a4129d2d26.png)

I am getting error when I clicked on run checks button while troubleshooting the update agent on update management for VM,
i trying to check the reason for not configured, but it failed to run the checks itself, but i am able to run the script to to verify the ch

[2021-08-16 19:32] DerekHerman-MSFT commented on #79752
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-16 19:38] MarileeTurscak-MSFT commented on #79759
Thanks @sdegenhardt, your feedback aligns with the feedback posted here: https://github.com/AzureAD/microsoft-identity-web/issues/748

I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/169255

@jmprieur please confirm.

[2021-08-16 19:38] #79759 closed

[2021-08-16 19:39] craigshoemaker commented on #78169
Moving to #please-close this issue as the article is updated with clearer guidance on the AAD-specific values. Will follow up directly with @gabesmsft regarding further required enhancements needed to the doc.

[2021-08-16 19:39] #78169 closed

[2021-08-16 19:40] Mutilar opened #79780 "Service Update Href Broken"
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-update-web-service#update-web-service

Directs to https://docs.microsoft.com/en-us/cli/azure/ml(v1)/computetarget/create#az_ml_service_update instead of
https://docs.microsoft.com/en-us/cli/azure/ml(v1)/service?view=azure-cli-latest#az_ml_v1__service_update
---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-08-16 19:53] MoAGitHub commented on #79632
@GiftA-MSFT Can you please include a sample code on how to use  ScheduledExecutorService with the Microsoft Azure api?

[2021-08-16 19:55] qm13 commented on #78964
@andersand I am unsure I understand your request. Are you referring to this information
https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints

[2021-08-16 19:56] qm13 commented on #78211
#please-close

[2021-08-16 19:56] #78211 closed

[2021-08-16 20:12] praveenambati1233 opened #79781 "Wrong output for az vm run-command invoke command"
Below telnet ip and port is wrong but out shows as provisioning succeeded. Ideally it should fail.

VM : Windows

MYID@Azure:~$ az vm run-command invoke -g MYRG -n MYVM --command-id 'RunPowerShellScript'  --scripts 'telnet 10.0.4.9 8080'
{
  "value": [
    {
      "code": "ComponentStatus/StdOut/succeeded",
      "displayStatus": "Provisioning succeeded",
      "level": "Info",
      "message": ""

[2021-08-16 20:22] MicrosoftGuyJFlo commented on #70398
Correct #please-close

[2021-08-16 20:22] #70398 closed

[2021-08-16 20:25] hemantmalik commented on #79633
Thank you @tfitzmac

[2021-08-16 20:28] leepylee commented on #77767
Hi yes on point 2 the intro note is good thanks. The diagram says (5)
'Azure AD posts a logout response to the application's logout URL' this
could be updates to avoid the minor confusion of using the (lowercase) word
'posts'

cheers
Lee

On Mon, Aug 16, 2021 at 6:47 PM Ken Withee ***@***.***> wrote:

[2021-08-16 20:31] hemantmalik opened #79782 "Updating the content"
[Enter feedback here]
We recently worked with Microsoft partner team to produce a more recent content for Deploying Elastic on Virtual Machines here https://docs.microsoft.com/en-us/learn/modules/deploy-elastic-azure-virtual-machines/. Is there a way to update this page or link it to Learn Module? If updating this page is an option - I'd gladly contribute to the update of the page.

---
#### Docum

[2021-08-16 20:31] DerekHerman-MSFT commented on #79752
A PR has been created to update the documentation. It should go live later today. Thanks for your contribution!

[2021-08-16 20:31] #79752 closed

[2021-08-16 20:35] DerekHerman-MSFT commented on #79761
Thanks for the feedback! A PR request has been made to update the document and the changes should go live later today.

[2021-08-16 20:35] #79761 closed

[2021-08-16 20:49] #79106 closed

[2021-08-16 20:50] tfitzmac commented on #79106
@jodalANP -thanks for this feedback. I added a sentence about the networking resource operating without interruption. The update should get published later today.

[2021-08-16 21:00] smflorentino opened #79783 "Is ICMP supported on Azure Load Balancer now?"
I see that NSGs now support allowing in the ICMP protocol. Does SLB allow ICMP traffic now?
https://azure.microsoft.com/en-us/updates/network-security-group-improvements-now-available/
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69700f5-332c-4f21-2768-8d3a8fd93cc4
* Version Independent ID: c7b68866-7448-cf77-9a86-7b

[2021-08-16 21:03] lintFan commented on #79257
@tfitzmac great thank you!

[2021-08-16 21:18] bwren commented on #79186
Creating a work item to add this.

#please-close

[2021-08-16 21:18] #79186 closed

[2021-08-16 21:19] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido if  the issue fixed, request you to reply back here on the thread with the resolution steps for the benefit of the community.

[2021-08-16 21:22] asinn826 commented on #78678
@devopsleigh - apologies for the late response and thanks for the feedback. I've updated the provided ARM templates slightly to provide some more uniqueness to the deployment - hopefully that fixes the issue. Let me know if you're still having problems.

[2021-08-16 21:24] bwren commented on #78712
I'll take this up with engineering team and take their recommendation on adding these details. Saving them into a work item. Thanks!

#please-close

[2021-08-16 21:24] #78712 closed

[2021-08-16 21:25] BharathNimmala-MSFT commented on #77995
Thanks a lot @MS-jgol for helping on this thread.

@yutaro113 Hope the above information shared by @MS-jgol helps. If you have any further queries please feel free to revert back.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedba

[2021-08-16 21:25] #77995 closed

[2021-08-16 21:28] bwren commented on #78089
Thanks. We just identified this article as out of date and have a new work item get it updated.

#please-close

[2021-08-16 21:28] #78089 closed

[2021-08-16 21:38] bwren commented on #77712
It's not really reasonable for us to add an ARM sample for every Azure service in this article. We included a couple to act as samples so users could create others. We are trying to figure out where the samples or similar guidance for specific services can go though since this is a common request. I'm saving this sample in a work item so we can use it when we figure out the solution we're going to

[2021-08-16 21:38] #77712 closed

[2021-08-16 21:39] b-juche commented on #79245
Per discussion with the team, we are adding the following bullet to remind users:

* If you change the password of the Active Directory user account that is used in Azure NetApp Files, be sure to update the password configured in the Active Directory Connections.  Otherwise, you will not be able to create new volumes, and your access to existing volumes might also be affected depending on the setu

[2021-08-16 21:47] bwren commented on #77683
Creating work item.

#please-close

[2021-08-16 21:47] #77683 closed

[2021-08-16 21:48] b-juche commented on #79245
PR that contains this doc change has been merged for posting.

#please-close

[2021-08-16 21:48] #79245 closed

[2021-08-16 21:50] bwren commented on #77602
Looks like that bad grammar got corrected. Thanks.

#please-close

[2021-08-16 21:50] #77602 closed

[2021-08-16 21:51] JamesTran-MSFT commented on #79541
@lawrencelee-github, @mattbuske, and @exertisrob
Thank you all for your time and patience throughout this issue, and for providing your feedback.

As of right now, our engineering team is looking into this and I will provide any updates from their end as soon as I receive them.

Thank you!

[2021-08-16 21:57] bwren commented on #77416
Fixing now.

#please-close

[2021-08-16 21:57] #77416 closed

[2021-08-16 22:00] YutongTie-MSFT commented on #79780
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-16 22:05] Karishma-Tiwari-MSFT commented on #79782
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-16 22:08] bwren commented on #77112
Created a work item to get this updated.

#please-close

[2021-08-16 22:08] #77112 closed

[2021-08-16 22:08] JasonWHowell commented on #79774
@JayWitt A lot of the open sources components are not described in full in our docs because they are vast and numerous.

I see on the web, some other vendors do have docs for that list that you might find helpful.
https://docs.cloudera.com/HDPDocuments/Ambari-2.7.3.0/administering-ambari/content/amb_roles_and_authorizations.html

Longer term we'll try to do better here. Thanks for the feedback ~Ja

[2021-08-16 22:09] JasonWHowell commented on #79774
#please-close

[2021-08-16 22:09] #79774 closed

[2021-08-16 22:11] bwren commented on #76877
Creating a work item to add this.

#please-close

[2021-08-16 22:11] #76877 closed

[2021-08-16 22:17] bwren commented on #76141
Just created a work item to get this updated.

#please-close

[2021-08-16 22:17] #76141 closed

[2021-08-16 22:22] bwren commented on #75811
Definitely out of date. Created work item to get this updated.

#please-close

[2021-08-16 22:22] #75811 closed

[2021-08-16 22:32] bwren commented on #75640
I think this must have been corrected since I just tested it, and it works exactly as expected.

#please-close

[2021-08-16 22:32] #75640 closed

[2021-08-16 22:32] MarileeTurscak-MSFT commented on #79744
@damianvandenberg
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 22:35] bwren commented on #21566
Old article has been retired.

#please-close

[2021-08-16 22:35] #21566 closed

[2021-08-16 22:52] JamesTran-MSFT commented on #79760
@ii-batman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-16 22:57] MixolydianV opened #79786 "Deprecated link"
The link in the following text:

_You also need to make sure that Microsoft Azure is in your company's allowlist. You can download the list of valid Azure IP addresses from Microsoft Download Center._

Is deprecated as of June 2020. The page it links to lists a number of other potential pages:

_This file will be deprecated by June 30, 2020. Please start using the JSON files listed below. IP Range

[2021-08-16 22:59] JamesTran-MSFT commented on #79755
@mswieratharper
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-16 23:03] mswieratharper commented on #79755
Thank you so much.
mikie

________________________________
From: James Tran-MSFT ***@***.***>
Sent: Monday, August 16, 2021 5:59 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mike Swier ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] update for Microsoft Endpoint Manager vs Intune (#79755)

External Email.

@mswieratharper<https://nam12.safelinks.protection.outlook.co

[2021-08-16 23:34] linkhp commented on #79377
I'll take the suggested improvements. Thank you for your feedback!

[2021-08-17 00:00] TheMorganator opened #79788 "Update to new Snowflake recommended setup"
Snowflake now recommends to use their new SAML2 Security Integration, which has a lot more features like metadata download, signing requests, tweaking NameID etc.
https://docs.snowflake.com/en/user-guide/admin-security-fed-auth-advanced.html#migrating-to-a-saml2-security-integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-08-17 00:29] BharathNimmala-MSFT commented on #79779
@tjkumar Thank you for reaching out.  Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues)channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.

Apologies for your experience , can you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your S

[2021-08-17 00:29] #79779 closed

[2021-08-17 00:49] benjamincburns commented on #76877
@bwren are you able to answer the question that I posed in my previous comment please?

[2021-08-17 01:06] Siby22071989 commented on #79477
@SadiqhAhmed-MSFT : Thank you Sadiqh. I have reviewed: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs?tabs=azure-powershell in the past, but it does not provide a clear direction and there is no schema provided for multi subscriptions. . Do you have any plans to publish an ARM template to include multiple subscriptions?

[2021-08-17 01:09] chenxizhang opened #79790 "The content is outdated, there isn't have "out" folder"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32207331-764e-7954-b175-53928cf39a1e
* Version Independent ID: 3b4dada0-3b79-774e-7e25-2732e5c7a8ae
* Content: [Tutorial: Deploy static-rendered Next.js websites on Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-n

[2021-08-17 01:13] rick-hayek commented on #79735
@yoelhor  Correlation ID: c029b55a-cb2a-4881-aa50-23430adcc739

[2021-08-17 01:18] MS-jeremy opened #79791 "Note of Backup storage redundancy"
[Enter feedback here]
Note of [Backup storage redundancy section](https://docs.microsoft.com/en-us/azure/cosmos-db/configure-periodic-backup-restore#backup-storage-redundancy)
Zone-redundant storage is currently available only in specific regions. Based on the region you select; "**this option will not be available for new or existing accounts.**"

I don't quite understand the quoted statement in

[2021-08-17 01:32] techthoughts2 opened #79792 "Enable hyperlinks of properties in Azure Templates docs"
Often when I am referencing an Azure Template doc I am looking to evaluate a specific property. To that end, it would enhance the user experience if hyperlinks were added to the various properties in the JSON/Bicep output.

Example page: [Microsoft.Web serverfarms](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/serverfarms?tabs=bicep)
[code]

For example, in the above ```kind``` wo

[2021-08-17 01:33] techthoughts2 opened #79793 "Azure Templates property does not indicate available values"
**Describe the bug**
This Azure templates doc page: [Microsoft.Web serverfarms](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/serverfarms?tabs=bicep) indicates the ```kind``` Property but does not articulate the accepted values for this Property. As such I can't populate this field with a degree of confidence that will result in a successful deployment. My only recourse that I hav

[2021-08-17 01:46] KranthiPakala-MSFT commented on #79786
@MixolydianV - Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-08-17 02:11] rockboyfor commented on #73650
@tfitzmac , Is there any update about p2svpngateways movement status? As  I known, the customer/partner have similar requirement or verification on business.

Looking forward to your early reply!

Best Regards,

[2021-08-17 02:13] SanDeo-MSFT commented on #79541
Sorry for the inconvenience. This issue has been resolved now..

[2021-08-17 02:33] SanDeo-MSFT commented on #79541
#please-close

[2021-08-17 02:33] #79541 closed

[2021-08-17 03:01] KrishnaG-MSFT commented on #79776
@harre096 Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-17 03:34] CHEEKATLAPRADEEP-MSFT commented on #79767
@PingPongSet  Thanks for the question! We are investigating and will update you shortly.

[2021-08-17 03:35] CHEEKATLAPRADEEP-MSFT commented on #79768
@PingPongSet  Thanks for the question! We are investigating and will update you shortly.

[2021-08-17 03:36] VikasPullagura-MSFT commented on #79783
@smflorentino Thanks for posting your Query. I am checking on this and will update back here.

[2021-08-17 03:37] CHEEKATLAPRADEEP-MSFT commented on #79772
@lagase  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-17 03:38] CHEEKATLAPRADEEP-MSFT commented on #79773
@zaalion  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-17 03:40] CHEEKATLAPRADEEP-MSFT commented on #79775
@sergeik66  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-08-17 03:41] CHEEKATLAPRADEEP-MSFT commented on #79781
@praveenambati1233  Thanks for the feedback!  We are investigating and will update you shortly.

[2021-08-17 03:51] sbwoodside commented on #79668
Screen shots of RG containing App Service, 22 records when show hidden is off, 30 when on.

Screen shot of activity log showing failed validation (when 22 were selected) and succeeded validation (when all 30 were selected using show hidden).

<img width="1233" alt="Screen Shot 2021-08-16 at 23 48 47" src="https://user-images.githubusercontent.com/47834/129660878-56d614cf-f5bf-4b4f-8364-e341838f58d

[2021-08-17 04:06] MayankBargali-MSFT commented on #79722
@atif-hafeez Just following up here. Hope my previous comment clears things up.

[2021-08-17 04:06] MayankBargali-MSFT commented on #79592
@juharris I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 04:16] MayankBargali-MSFT commented on #79652
@EricBauld The MessageReciever and MessageSession bindings are only available in .NET functions. For Java the incoming Service Bus message is available via a ServiceBusQueueMessage or ServiceBusTopicMessage parameter. Please refer to [usage section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=java#usage).

[2021-08-17 05:09] amanmcse commented on #79505
@logcorner Please refer to the sample here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README.md

[2021-08-17 05:09] #79505 closed

[2021-08-17 05:10] SwathiDhanwada-MSFT commented on #79358
@msHich Kindly provide your inputs on this issue.

[2021-08-17 05:11] amanmcse commented on #79712
@GuyPaddock This is assigned to the author for review.

[2021-08-17 05:16] shashishailaj commented on #79788
@TheMorganator Thank you for sharing this info . We will involve the content team to review the current documentation and see how best we can update the details.

[2021-08-17 05:17] VikasPullagura-MSFT commented on #79783
@smflorentino
As per the linked Azure updates [page](https://azure.microsoft.com/en-us/updates/network-security-group-improvements-now-available/), ICMP is only supported in NSG.

As the Load Balancer is a Layer 4 it only supports TCP and UDP. So, LB will not support ICMP.

Incase of standard LB, where HA is enabled, ICMP traffic is forwarded.

Hope that helps.

[2021-08-17 05:19] SwathiDhanwada-MSFT commented on #79152
@yadavdilip19 Thanks for your valuable feedback. I have created a PR to update the changes. Once its approved , the changes will reflect soon.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-17 05:19] #79152 closed

[2021-08-17 05:22] kenakamu opened #79798 "Cannot run with POST https://{host}/orchestrCannot run with"
Run the sample section mention to run the sample via ```POST https://{host}/orchestrators/E3_Monitor``` but it didn't work.
The URI at least should be /runtime/webhooks/durabletask/orchestrators/{functionName}?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3191ff31-64ac-2a62-d460-1cef5ceddf7f
* Version Independent ID:

[2021-08-17 05:27] SwathiDhanwada-MSFT commented on #79296
@mumain I couldn't find much information about providers() function anywhere. Can you please look into it and update the document accordingly?

[2021-08-17 05:37] yoelhor commented on #79735
Sounds like you have an AD-FS identity provide "ADFSTestExchange1" configure in your policy. The metadata of that identity provider must be publicly available (allows Azure AD B2C to read the metadata). I have tried to access that SAML metadata without success.  Please make sure the SAML metadata endpoint is accessible outside your network (publicly available).

Another option you may consider. La

[2021-08-17 05:41] kenakamu opened #79799 "It's not easy to get Weather Underground API key anymore"
It seems we need local weather station to get API Key. Shall we change sample API to something different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3191ff31-64ac-2a62-d460-1cef5ceddf7f
* Version Independent ID: 2f286018-f0d6-b7a2-beaa-fa32c7720a4d
* Content: [Monitors in Durable Functions - Azure](https://docs.mic

[2021-08-17 05:58] AnuragSharma-MSFT commented on #79791
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-17 05:59] SnehaAgrawal-MSFT commented on #79790
@chenxizhang Thank you for your query. We will investigate and update the thread.

[2021-08-17 05:59] AnuragSingh-MSFT commented on #79648
@samlh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 06:03] AnuragSingh-MSFT commented on #79596
@ggailey777 Can you please provide your input on this. Thank you.

[2021-08-17 06:23] MayankBargali-MSFT commented on #79679
@PingPongSet In this example the [Developer Console](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#enable-oauth-20-user-authorization-in-the-developer-console) is the client app that you have registered in your[ previous step](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#register-an-applica

[2021-08-17 06:40] ChaitanyaNaykodi-MSFT commented on #79502
Hello @sijucm, yes it is true the Virtual network triggers (non-HTTP) section describes about how you can trigger a Non-http triggered function app via Vnet.
In Premium plan for non-Http triggers you need to enable the `Runtime Scale Monitoring` option from function runtime settings which allows you to connect non-HTTP triggered functions to services that run inside your virtual network. The Azure

[2021-08-17 06:40] #79502 closed

[2021-08-17 06:52] yelevin commented on #79744
Your question has been sent to the product team.

[2021-08-17 06:57] logcorner commented on #79505
Hi @amanmcse
The issue is related to a deamond app calling a web api protected by azure ad b2c.
It is not the same case in the sample you suggest me :  https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README.md https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/

[2021-08-17 07:01] GuyPaddock commented on #79588
Thanks, @yoelhor. I think you figured out what I was after; but, in case I wasn't being clear:

- "Normal" CNAME - Manually plugging in the name of the hostname to which a CNAME record points.
- "Alias" CNAME - Select an Azure service and having Azure figure out what the value of the CNAME should point to, dynamically, so the user doesn't have to keep track of what the hostname of the selected ser

[2021-08-17 07:11] vipulsparsh commented on #79719
@DeanGross I reached out to the product team, they are interested in knowing  what kind of integration are you looking for and what will help you in your projects ?

[2021-08-17 07:11] SnehaAgrawal-MSFT commented on #79519
@Burabari-Dev Just checking in see if you have chance to see above response.

[2021-08-17 07:13] kenakamu opened #79800 "// timeout expired comment is wrong?"
The sample E4_SmsPhoneVerification orchestrator function has // timeout expired in else branch, but this branch should be reached when user put wrong challenge digit. It should be // wrong challenge code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f10048-0374-3561-c66d-6279708b1272
* Version Independent ID: 64cbe

[2021-08-17 07:19] yoelhor commented on #79712
Dear @GuyPaddock , thanks for your valuable feedback.  I checked the change, looks good.

I'm updating the article with your suggestion, with more information about how to configure the user flows. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub is

[2021-08-17 07:20] yoelhor commented on #79581
Closing due to inactivity.

#please-close

[2021-08-17 07:20] #79581 closed

[2021-08-17 07:21] yoelhor commented on #79329
#please-close

[2021-08-17 07:21] #79329 closed

[2021-08-17 07:25] #79712 closed

[2021-08-17 07:26] yull1860 opened #79801 "webapp vnet integration has been updated with config vnetRouteAllEnabled , should function app also introduce the same and retire WEBSITE_VNET_ROUTE_ALL ?"
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#routes

The Route All configuration setting **replaces** and **takes precedence ove**r the legacy **WEBSITE_VNET_ROUTE_ALL** app setting.

Please update function app network config doc and sync with webapp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-08-17 07:42] ChaitanyaNaykodi-MSFT commented on #79506
Hello @gathakur, Thank you for the feedback and providing additional details offline. I was able to replicate the issue. Upon further discussion with the functions team it was determined as a known issue and the team is is currently working on enabling support for Five field NCRONTAB expression for .NET 5.0  isolated function apps. I have made a PR which adds a note to the documentation highlighti

[2021-08-17 07:42] #79506 closed

[2021-08-17 07:46] Ronmarsiano commented on #79744
hi @damianvandenberg ,

thank you for you feedback.
I have 2 alternatives for your ask -
1. use custom details - by using custom details you can surface event data in the alerts that are constructed from those events, making the event data part of the alert properties. I am attaching the [link](https://docs.microsoft.com/en-us/azure/sentinel/surface-custom-details-in-alerts) to the documentation f

[2021-08-17 07:58] CHEEKATLAPRADEEP-MSFT commented on #79792
@techthoughts2  Thanks for the question! We are investigating and will update you shortly.

[2021-08-17 07:58] CHEEKATLAPRADEEP-MSFT commented on #79793
@techthoughts2  Thanks for the question! We are investigating and will update you shortly.

[2021-08-17 08:06] cw18-coder opened #79802 "Is the Azure Synapse Spark SQL Connector available in Maven?"
Hi,

I have created a Spark on Azure Synapse project in Intellij Idea. From that project, I would like to read external tables in a dedicated SQL pool into a Spark Dataframe and continue with further downstream processing.

Please could you help me with how to update the POM file to include the following 2 dependencies mentioned in the article:

1. com.microsoft.spark.sqlanalytics.utils.Constants

[2021-08-17 08:12] rick-hayek commented on #79735
@yoelhor  thanks for your reply
I tried the openid approach. seems the metadata also requires public access.
Is it possible the corpnet ADFS can be integrated to Azure AD B2C as an SAML identity provider?

here's our use case:
We have a web application that currently uses AAD B2C for authentication. Customers can use their own Azure AD account or B2C account to use our application.
Now customer wa

[2021-08-17 08:23] dracan opened #79803 "Small grammar fix"
Should be "doesn't", not "don't".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87330ebf-dd47-2616-946b-c4ea21c4b0e9
* Version Independent ID: 61c91ef5-2131-2766-14d6-ed52c24fa49a
* Content: [Protected web API app registration - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/devel

[2021-08-17 08:32] pumpkinclarinnet-MSFT opened #79804 "Update New-AzGalleryImageDefinition to New-AzGalleryImageVersion"
Under the Powershell tab (https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-encryption#powershell) we have the following:
To specify a disk encryption set for an image version, use **New-AzGalleryImageDefinition** with the -TargetRegion parameter:

It should appear New-AzGalleryImageVersion

The hyperlink is correct it goes for https://docs.microsoft.com/en-us/powershell/module

[2021-08-17 08:33] pumpkinclarinnet-MSFT commented on #79804
@olayemio for awareness

[2021-08-17 08:35] MayankBargali-MSFT commented on #79801
@yull1860 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 08:39] MayankBargali-MSFT commented on #79798
@kenakamu Thank you for your feedback! We will review and update as appropriate.

[2021-08-17 08:41] MayankBargali-MSFT commented on #79799
@kenakamu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 08:42] MayankBargali-MSFT commented on #79800
@kenakamu Thank you for your feedback! We will review and update as appropriate.

[2021-08-17 08:45] v-hagamp commented on #78736
Issue resolved.
#please-close

[2021-08-17 08:45] #78736 closed

[2021-08-17 08:46] v-hagamp commented on #75111
The screenshots are updated with the latest, so I am closing this Issue.
#please-close

[2021-08-17 08:46] #75111 closed

[2021-08-17 08:50] Tasos-Torou commented on #78637
Apologies for this. All I want is a list or a table similar to this (https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-safelist-urls?tabs=public-cloud#azure-portal-urls-for-proxy-bypass) listing all the domains and ports I need to whitelist in my firewall to use all the functionalities and services of Azure Developement Extension within Visual Studio 2019.

For example, to test a st

[2021-08-17 08:55] jankoada opened #79806 "Provisioning from unverified domain"
Hi,

the "Connector limitations" section mentions that "Atlassian Cloud allows provisioning of users only from verified domains.", however, Atlassian added this feature as mentioned [here](https://confluence.atlassian.com/cloud/blog/2021/01/easily-provision-users-from-outside-your-verified-domain-to-atlassian-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-08-17 08:55] nobodo opened #79807 "Typo, '> 8 TB' should be '> 8 PB'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05486bc8-5c00-09da-8a8d-856f58f5f2c4
* Version Independent ID: 2c7d5b3e-1d45-fbee-1be1-a207ea8f8eb2
* Content: [Choose Azure File Sync cloud tiering policies](https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-choose-cloud-tiering-poli

[2021-08-17 09:04] #78835 closed

[2021-08-17 09:10] kireque commented on #19569
@Karishma-Tiwari-MSFT Any update on this feature?

[2021-08-17 09:26] xhoy commented on #61528
This is a very good question we would love the answer to! It doesn't seem to be documented any where?

[2021-08-17 09:37] yoelhor commented on #79735
You can download the SAML metadata from your corporate network. Then, upload the metadata in any publicly available web address. For example, use Azure blob storage. Or host the metadata in your web application. Just make sure the metadata has **anonymous** access, and available from the web.

[2021-08-17 09:40] yoelhor commented on #78495
Closing due to inactivity.

#please-close

[2021-08-17 09:40] #78495 closed

[2021-08-17 09:55] sjsaravanan opened #79808 "IMCP to ICMP"
[Enter feedback here]
These tests don't use Internet Control Message Protocol (**IMCP**) , please change this to ICMP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content: [Monitor availability with URL ping tests -

[2021-08-17 10:14] SwathiDhanwada-MSFT commented on #79808
@sjsaravanan Thanks for bringing this to our notice. I have updated the document and the changes will reflect soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-17 10:14] #79808 closed

[2021-08-17 10:18] HarshitaSingh-MSFT commented on #79764
@chtourou-youssef , yes, you are right. You don't seem to have App Settings as per screenshot. Pls note that if you have App Settings, you should have a view like:

![image](https://user-images.githubusercontent.com/25202671/129708489-36e282e7-b127-4c4f-8c09-3625607b7c6d.png)

Also, verify the same for` Target changes `tab. Let me know if this answers your question.

[2021-08-17 10:42] shashishailaj commented on #78799
@loosus The change request is in progress and the content team have been notified of the pull request on this. Once they approve the change will be live in the documentation.

Thank you.

[2021-08-17 10:42] #78799 closed

[2021-08-17 10:48] chtourou-youssef commented on #79764
I'don't have any application settings
the application setting will be swapped if i don't mark **Deployment Slot setting** as checked.

for the path mapping , i think you should update documentation or path the web app to conserve path mapping during swapp

[2021-08-17 10:49] RohitMungi-MSFT commented on #79773
@zaalion The steps to use PowerShell commands should be similar to the ones mentioned in the storage [documentation](https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=powershell).
The only difference I see is you need to install the [Az.CognitiveServices](https://www.powershellgallery.com/packages/Az.CognitiveServices/1.9.0) module instead of the

[2021-08-17 11:00] lolabs opened #79810 "Why must be Postgresql flexible server in a delegated Subnet?"
[Enter feedback here]
Hi,

could you please explain why the postgresql flexible server must be in a delegated subnet?

[https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-networking#choosing-a-networking-option](url)

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfacd9d-6903

[2021-08-17 11:12] GitaraniSharma-MSFT commented on #79662
@roberbr , We have assigned this to the content owner/author for review.

@KumudD , for your review & update.

[2021-08-17 11:13] GitaraniSharma-MSFT commented on #79698
@kevinpagliarulo , We have assigned this to the content owner/author for review.

@asudbring , could you please validate this with PG & update?

[2021-08-17 11:16] AnuragSharma-MSFT commented on #79623
@HavilaDevi These benchmark values are the observation noticed based on testing these pricing tiers and could differ a little. I could not locate the same for basic tier.

@yegu-ms Could you please let us know if we have the same benchmark metrics available for Basic tier?

[2021-08-17 11:16] AnuragSharma-MSFT commented on #79534
@jahyen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-17 11:16] #79534 closed

[2021-08-17 11:18] jan-tosovsky-cz opened #79811 "RHEL 8.4 from May not yet supported in August"
How long it usually takes new RHEL release becomes supported? We do system updates regularly and these incorporate minor system upgrades (8.3 -> 8.4). If our approach is kept in future, there is a risk that updating the system breaks your DR machinery. OTOH updating the system with a delay brings a security risk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-08-17 11:47] ohadbitt opened #79812 "No scala example"
The docs state i can use the equivalent scala example but doesnt refer to such an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29ae0a5-bdf3-7217-27ad-517af8c8e7e5
* Version Independent ID: 57139651-a482-7adc-ed0e-f401da63ef9f
* Content: [Quickstart - Manage data with Azure Cosmos DB Spark 3 OLTP Connector fo

[2021-08-17 12:10] #79555 closed

[2021-08-17 12:11] lannert-ntt commented on #79555
List updated to our satisfaction :)

[2021-08-17 12:11] KrishnaG-MSFT commented on #79811
@jan-tosovsky-cz Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-17 12:19] avd2002dva opened #79813 "Need kernel version update for mobility version 9.43"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix for VMware/physical disaster recovery in Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/s

[2021-08-17 12:27] CHEEKATLAPRADEEP-MSFT commented on #79802
@cw18-coder  Thanks for the question! We are investigating and will update you shortly.

[2021-08-17 12:29] SumanthMarigowda commented on #79535
@smoms Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Is the read/write to and trough the cache transparent for the application? Or is the application deciding when to read from the cache or disk or when to write cached data to disk? It is bit confusing since in another doc I read that SQL Server is managing the the writing through from cache

[2021-08-17 12:29] #79535 closed

[2021-08-17 12:36] SumanthMarigowda commented on #79666
@rmmcgr Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 12:52] MarekLani opened #79816 "Embedding other user flows"
Please can you clarify, whether this embedded experience is limited to sign-in, or for instance edit user profile flow (or others) can be embedded as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cc7b012-d093-e9f3-d2d3-1416f4dfc855
* Version Independent ID: c6a1edb4-c62d-3eb5-7707-2170603d1608
* Content: [Embed

[2021-08-17 12:55] SwathiDhanwada-MSFT commented on #79813
@avd2002dva Thanks for your feedback.

Assigning to content author @JYOTHIRMAISURI for review

[2021-08-17 12:55] whhender commented on #79714
@abandyop - if there's any additional feedback, please feel free to reach out to me directly!

[2021-08-17 12:55] whhender commented on #79714
#please-close

[2021-08-17 12:55] #79714 closed

[2021-08-17 13:16] MhAllan opened #79817 "SignalR Service Limit Check"
According to docs here : https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-signalr-service-limits

We read:
Connections per unit per day for Standard tier | 1,000 | 1,000

Is this right? I can't understand this. because if I have 1000 clients connected for 5 minutes only, does that mean I can't receive any more connections throughout t

[2021-08-17 13:44] yoelhor commented on #79816
You can embed any type of user flow or custom policy.

[2021-08-17 13:44] #79816 closed

[2021-08-17 13:50] Blackmist commented on #79732
@joshivinod I see the problem now; the preview UI for adding a managed identity has specific selections like app service, function, etc. In the case of Azure ML workspace, select "User, group, or service principal", then type in the name of the workspace.

I'll update the docs to be clearer for this UI and also ask the PM team for clarity on whether we should continue calling it a managed identity

[2021-08-17 14:07] MarekLani commented on #79816
thank you for quick response @yoelhor. If I may suggest, I'd change the title of article, to reflect, user flows in general

[2021-08-17 14:10] VikasPullagura-MSFT commented on #79783
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-08-17 14:10] #79783 closed

[2021-08-17 14:16] VikasPullagura-MSFT commented on #79781
@praveenambati1233
Just confirming on the issue once. The issue is that the command output is not as expected. Can you please confirm, so that we can open issue with the Azure CLI for `az vm run-command`

[2021-08-17 14:20] SwathiDhanwada-MSFT commented on #79731
@CherylHuan Thanks for bringing this to our notice. I have made necessary changes to the document and it will reflect soon.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-17 14:23] VikasPullagura-MSFT commented on #79804
@pumpkinclarinnet-MSFT Thanks for pointing this out. The document is updated and changes will go live once PR is approved.

[2021-08-17 14:25] #79731 closed

[2021-08-17 14:26] Justinha commented on #74921
@iinuwa This is added to https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-passwords-faq#is-there-an-api-to-access-the-password-reset-or-registration-reporting-data--

[2021-08-17 14:26] bt115 commented on #79764
Test

[2021-08-17 14:27] #74921 closed

[2021-08-17 14:33] SwathiDhanwada-MSFT commented on #79776
@harre096 Can you please let me know if you are using npm ? If not, can you please add the snippet mentioned in [this link](https://github.com/Microsoft/ApplicationInsights-JS#snippet-setup-ignore-if-using-npm-setup) and try again?

[2021-08-17 14:45] #79804 closed

[2021-08-17 14:55] MiraZJ opened #79821 "Please update the list of "The following services are billed separately""
[Enter feedback here]
Hi team,
Please confirm and update the listed  information from  "The following services are billed separately" (https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-enrollment-invoices#charges-billed-separately")
Thanks for your help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-08-17 14:57] x2601 commented on #62842
I am experiencing the same issue using the same documentation.

[2021-08-17 14:58] yoelhor commented on #79816
I'm updating the title. You will see the changes later today. Thanks again!

[2021-08-17 15:06] Blackmist commented on #79732
@joshivinod Thanks again for reporting this problem and helping us improve the documentation. I've submitted an updated to the document to add a screenshot and steps clarifying how to select the workspace identity to use with this role. The update will be live after our daily publish.

#please-close

[2021-08-17 15:06] #79732 closed

[2021-08-17 15:23] brianfostersopheon commented on #70538
@todosrc I am experiencing the same issue.
urn:com:microsoft:aad:b2c:elements:contract:unifiedssp:2.1.2 seems to be causing the issue.

[2021-08-17 15:24] x509cert opened #79822 "MSAL demo demos wwwwaaayyyy more than MSAL!"
Perhaps it's just me, but a demo showing how to scaffold MSAL calling into MS Graph should JUST show MSAL and Graph. Not JQuery, not Bootstrap, not Popper. A simple demo should be: (1) Login, (2) grab stuff from Graph (3) display it.

The result doesn't have to be pretty nor particularly useful. I think the demo code here is fantastic, but not as a vehicle to teach people who are utterly new to MS

[2021-08-17 15:25] luisquintanilla commented on #75219
No additional updates or customer requests. #please-close

[2021-08-17 15:25] #75219 closed

[2021-08-17 15:26] surenderssm opened #79824 "Broken video link on Azure Event Hub page"
On Azure event hub page, video link is broken.

URL : https://youtu.be/45wgY-VSk9I
![image](https://user-images.githubusercontent.com/12485087/129754890-a07b026d-7811-410a-bb33-36c3d64fb365.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6e2fa9-99f3-7a01-5629-42ff4a762ea8
* Version Independent ID: d3992cd6-6809-d

[2021-08-17 15:38] luisquintanilla commented on #77892
Closing since it is not a documentation related issue. @JordanSimba please feel free to open another issue if you run into issues with the documentation. #please-close

[2021-08-17 15:38] #77892 closed

[2021-08-17 15:44] luisquintanilla commented on #78809
@powertrio77 I believe since the responses were done via e-mail the screenshots / links are not shown here. Can you please try replying via GitHub. Thanks

[2021-08-17 15:47] JamesTran-MSFT commented on #79803
@dracan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-17 15:48] rickyzhang82 opened #79825 "The privileged container can't attach process"
[Enter feedback here]

I followed the instruction to ssh into the AKS node. But I found that the privileged container can't attach process with different UID. Neither can I override the kernel policy.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f

[2021-08-17 15:48] JamesTran-MSFT commented on #79806
@jankoada
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-17 15:50] JamesTran-MSFT commented on #79822
@x509cert
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-17 15:57] luisquintanilla commented on #79756
#assign:@vijetajo
#assign:@sdgilley

@vijetajo can you please take a look. Thanks.

[2021-08-17 16:10] praveenambati1233 commented on #79781
Yes that's correct.

[2021-08-17 16:17] Mutilar commented on #79249
Good to know the extension is working. Have you checked the [CLI reference](https://docs.microsoft.com/en-us/cli/azure/ml(v1)/service?view=azure-cli-latest#az_ml_v1__service_update)? From the error, looks like you need to define your environment on service updates via two parameters:

`--environment-name -e`
Name of Azure Machine Learning Environment for deployment.

`--environment-version --ev`
V

[2021-08-17 16:22] RyanHill-MSFT commented on #79510
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-17 16:30] x509cert opened #79827 "Error calling PublicClientApplication"
PublicClientApplication is undefined unless I change the code to:

const myMsal = new msal.PublicClientApplication(config);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6e5855-ef79-2759-6773-f3a44886cb14
* Version Independent ID: 73154754-ea03-f123-3506-9173f7472322
* Content: [Configure single-page app - Microsoft

[2021-08-17 16:30] spelluru commented on #79824
@surenderssm - Thanks for reporting the issue. Our platform doesn't support embedding YouTube videos in articles anymore, so I will remove the link today. Thanks!

[2021-08-17 16:40] jonwbstr opened #79828 "TOC and document title missmatch"
Hello,

The content is named "Creating and merging a CSR in Azure Key Vault" However the TOC uses the description "Create certificate signing request"

Personally, I like the TOC description "Create certificate signing request" more. It's really weird when the TOC title doesn't match the doc title.

I'm good either way.

Cheers!
-jon

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-08-17 16:40] #79780 closed

[2021-08-17 16:44] #79724 closed

[2021-08-17 16:47] JamesTran-MSFT commented on #79828
@jonwbstr
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-17 16:47] tamram commented on #78577
@G0PINATH-WW - We've investigated this question with the PowerShell development team, and this is a known issue with the Az.Storage module that should be fixed in the near future.

Using the [permissions](https://docs.microsoft.com/rest/api/storageservices/create-service-sas#permissions-for-a-directory-container-or-blob) that require a newer version will result in PowerShell creating the SAS with

[2021-08-17 16:49] kenwith commented on #77767
@leepylee - that makes sense and I see what you mean now. I am working to get the wording in step 5 in the diagram changed to "sends" instead of "posts" unless you think other wording would be clearer.

[2021-08-17 16:49] YutongTie-MSFT commented on #79723
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aahill Hi, this is a feedback of document, could you please take a look and update the document if necessary? Thanks.

[2021-08-17 16:49] VikasPullagura-MSFT commented on #79781
@praveenambati1233 Thanks for confirming. I have opened an issue with Azure CLI [here](https://github.com/Azure/azure-cli/issues/19251).
Please follow this bug reported in the [Azure CLI](https://github.com/Azure/azure-cli/issues/19251) for further updated on this.

I will now close this issue as the issue is not directly related to this document.

Hope the provided information is helpful.
If ther

[2021-08-17 16:49] #79781 closed

[2021-08-17 16:53] lmmarsano opened #79830 ""same subnet as the AKS cluster" vague: need operational definition/explanation"
What is this supposed to mean?
A cluster includes multiple components that can be on different subnets.
This needs to be defined operationally: how do I tell which subnet the AKS cluster is in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb

[2021-08-17 16:54] #79225 closed

[2021-08-17 17:03] himanshusinha-msft commented on #79824
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-17 17:04] iinuwa commented on #74921
Thank you!

[2021-08-17 17:43] sunnyhay commented on #79249
@Mutilar Thanks for the suggestion.
I've tried adding environment params into the command and I got the environment "dev" using this command below.

`az ml environment list -g lsdresources1 -w modelscoring-dev`

Next the service command is modified like below.

[code]

This time I got a new error:

[code]

Would like your opinion on this. And please share with any sample using this command to upda

[2021-08-17 17:44] seanstark opened #79832 "Limitations with Azure Firewall"
[Enter feedback here]

Requesting the docs be updated to provide clearer limitations with Azure Firewall, stating something like below.

- Azure Firewall Premium SKU is not supported
- Azure Firewall with VMs deployed in peered VNETs is not supported
- Azure Firewall Standard and VMs must be deployed in the same VNET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-08-17 17:56] powertrio77 commented on #78809
![model-Aug15-1-train](https://user-images.githubusercontent.com/42945038/129776438-fa9d142c-49c8-4bc4-8157-a65b831bf551.png)
![model-Aug15-1-train-settings](https://user-images.githubusercontent.com/42945038/129776445-d36b4a8f-9bb1-4ff7-8d9a-f133b7369ec7.png)
![model-Aug15-2-inf](https://user-images.githubusercontent.com/42945038/129776448-4f445bb7-4724-4f19-ada6-ec6c97d6ff97.png)
![model-Aug15-3

[2021-08-17 17:56] spelluru commented on #79824
Fixed. #please-close

[2021-08-17 17:56] #79824 closed

[2021-08-17 18:07] JamesTran-MSFT commented on #79832
@seanstark
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-17 18:10] DerekHerman-MSFT commented on #79807
Thanks for reporting this. A PR request has been made and the changes should go live later today.

[2021-08-17 18:10] #79807 closed

[2021-08-17 18:11] MisterDoug99 opened #79833 "The second to last Blob3.txt in the diagram under Create should be Blob5.txt because Blob3.txt has already been created once."
The second to last Blob3.txt in the diagram under Create should be Blob5.txt because Blob3.txt has already been created once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98acfeaa-38a5-dbb6-c717-4fcefe854ffb
* Version Independent ID: 3efdd861-cb2a-3733-35df-65e0473dcde4
* Content: [Change feed in Azure Blob Storage](

[2021-08-17 18:12] SaurabhSharma-MSFT commented on #79688
@kevinwolf11 I believe you have tried on a built-in Serverless SQL pool instead of using a dedicated SQL pool and thus you are getting this error.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Thanks
Saurabh

[2021-08-17 18:12] #79688 closed

[2021-08-17 18:14] jmprieur commented on #79803
@dracan
I don't:
There are 2 subjects (**displayName** and **value**). How could the **be** verb be conjugated to the singular? 2 seems plural to me? or do I miss something?

[2021-08-17 18:15] anaypurohit commented on #79803
testing

[2021-08-17 18:16] anaypurohit commented on #79807
testing

[2021-08-17 18:18] anaypurohit commented on #79688
testing

[2021-08-17 18:23] ErikMogensen opened #79834 "Incorrect information about public virtual IP address"
In the article there is a table where a line about Public virtual IP address has the description:

This article links to the article [IP addresses of Azure API Management]( https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-ip-addresses), which states:

Therefore, the description about IP addresses of Azure API Management is probably wrong.

---
#### Document Details

⚠ *Do

[2021-08-17 18:46] JamesTran-MSFT commented on #79760
@ii-batman
Thank you for your time and patience throughout this issue and I apologize for such a delayed response on your Q&A thread.

Based off your [issue](https://docs.microsoft.com/en-us/answers/questions/510050/azure-ad-password-protection-installation-question.html?childToView=517662), I'll summarize it for my knowledge, and to make sure I correctly understand your issue.

**Goal:**
-You wan

[2021-08-17 18:46] #79760 closed

[2021-08-17 18:47] XiaoyuMSFT commented on #77013
@jasonhorner - Thank you for your feedback.  The video and the text in this article made it clear that the replicate table is one per node.  I agree the picture could be better.  We will add this to the list of documentation diagrams/pictures to improve/update in the future.  Thanks.

[2021-08-17 18:47] XiaoyuMSFT commented on #77013
#please-close

[2021-08-17 18:47] #77013 closed

[2021-08-17 18:56] Oury-MSFT commented on #79810
@lolabs Thank you for contacting Microsoft.
@niklarin Please see customer feedback above. Could you please help answering the above question. Thanks

[2021-08-17 19:00] ivapplyr commented on #79388
Short names are not a requirement from Private endpoints, but from that respective service. Unfortunately we do not have an API for this requirement :/

[2021-08-17 19:07] Oury-MSFT commented on #79812
@ohadbitt  Thank you for your feedback . We are reviewing the doc and will get back shortly. Thanks

[2021-08-17 19:13] adamedx commented on #39665
As of February 2, 2021, this actually worked fine for me after I started looking into it in September 2020. If you're hitting the problem still, are you 100% sure it's the same exact issue?

[2021-08-17 19:18] ecfan commented on #74911
Hi @agrinku, as the answer is delayed, I've created a work item for the engineering to help provide an example. I'll close this thread for now. Thanks for the feedback!

@mike-urnun-msft: #please-close

[2021-08-17 19:18] #74911 closed

[2021-08-17 19:21] Fleid commented on #78637
Thanks for the added context.

Deploying and viewing job, you should be covered with the https/https on *.azure.com (management.azure.com if I remember correctly).

For the data services, I don't think we have a central list. You will have to go to each service page and find what port they are using. For example here's [Azure SQL and Synapse](https://docs.microsoft.com/en-us/azure/azure-sql/databa

[2021-08-17 19:27] ecfan commented on #79648
Hi @samlh, thanks for this request. I've created a work item for triage and prioritization. We'll close the thread for now.

@AnuragSingh-MSFT: #please-close

[2021-08-17 19:27] #79648 closed

[2021-08-17 19:30] MonikaReddy-MSFT commented on #79821
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-17 19:42] KenzoKai commented on #58372
This is still a thing... No documentation for Citrix Sharefile user provisioning...

[2021-08-17 19:51] francesco1119 opened #79835 "Azure Database for MySQL pricing :: missing Display pricing drop-down menu"
I was comparing the pricing tier of MySQL and MariaDB and I noticed that the two pages are different.

For MariaDB I can see the price by month thanks to a drop-down menu: https://azure.microsoft.com/en-us/pricing/details/mariadb/

![image](https://user-images.githubusercontent.com/3397477/129790914-3400c8c0-150c-485f-8d1d-4ee7778ce4b8.png)

But I don't have the same option for MySQL: https://azur

[2021-08-17 20:03] savjani commented on #79835
Thanks  @francesco1119 for the feedback. Let me follow-up

[2021-08-17 20:03] leepylee commented on #77767
'sends' is good

thanks,
Lee

On Tue, Aug 17, 2021 at 5:49 PM Ken Withee ***@***.***> wrote:

[2021-08-17 20:08] SnehaGunda commented on #79746
#please-close

[2021-08-17 20:08] #79746 closed

[2021-08-17 20:11] tamram commented on #79599
#reassign: @tamram

[2021-08-17 20:13] tamram commented on #79599
@kiki-kekat - Currently the manual migration from ZRS to GZRS may work in some scenarios, but it's not guaranteed. So we recommend that you choose a live migration for this option.

We'll update the doc if a manual migration is fully supported in the future.

#please-close

[2021-08-17 20:13] #79599 closed

[2021-08-17 20:19] dave22000 opened #79838 "ROPC responds differently for incorrect email vs incorrect password"

[2021-08-17 20:23] #79838 closed

[2021-08-17 20:28] CMoltedo opened #79839 "Include multiple parameters in example UDF"
Please include examples of multiple parameter functions.  It's easy to understand how to remove parameters, but when there's only one, it's not entirely clear how to add additional parameters and use them.
Having additional alternative examples wouldn't hurt either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69fdf0

[2021-08-17 20:32] BhargaviAnnadevara-MSFT commented on #79753
@jonaselreweny @UdokaVrede I hadn't seen a pull request from you so created one to fix the issue. Please feel free to take a look at the other [open issues](https://github.com/MicrosoftDocs/azure-docs/issues) in this repository to contribute to documentation improvements. We look forward to your contribution.

[2021-08-17 20:33] MarileeTurscak-MSFT commented on #79838
@dave22000 thanks for the feedback. Glad to see you got this resolved.

[2021-08-17 20:53] Mutilar commented on #79249
Adding @trangevi. Sounds like the `--conda-file "./conda-configuration.yml"` is for an image-based webservice that was deprecated. Your webservice is likely environment-base, so you shouldn't need to specify conda-file.

Travis, could you help provide an example?

[2021-08-17 21:09] bgehring commented on #16579
How do I tell if an external use is using OTP or Microsoft personal account or an enterprise account? I am less worried about my internal ad syncing.

[2021-08-17 21:17] wjpigott opened #79841 "Add screen shot to show do not change - "Enrollment Number" or ask product team to make this field Read Only in the app."
[Enter feedback here]
Working through a support case with a customer and it was confusing to them where they would not enter a real number in for the enrollment number. If there is a way to show a screenshot to reinforce that they do not change "Enrollment Number" to a actual 12345678 number I think that would be very helpful. or make the field Read Only with Enrollment Number already present woul

[2021-08-17 21:37] jmprieur commented on #79803
@anaypurohit, testing what?
@JamesTran-MSFT, is it a fake issue?

[2021-08-17 21:41] mike-urnun-msft commented on #79834
@ErikMogensen Thank you for your feedback! We will review and update as appropriate.

[2021-08-17 21:42] crussell52 opened #79843 "MySQL Flexible Server - HA"
It should be noted that provisioning High Availability will require the use of MySQL `GTIDs`.   This may not be suitable for some workloads since it enables certain restrictions [as noted in the MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/replication-gtids-restrictions.html)

Additionally, the read-replica documentation specifically indicates that GTID mode is off by default (ref:

[2021-08-17 21:48] anaypurohit commented on #79803
Hello @jmprieur.

That comment was made by me on that accident. I am extremely sorry for the inconvenience caused by that. I will remove that right now.

[2021-08-17 22:05] savjani commented on #79843
Thanks @crussell52 - very valid feedback. We do use GTID based replication for HA. Adding @SudheeshGH who is our PM owner to update this doc.

[2021-08-17 22:07] SaurabhSharma-MSFT commented on #79757
@bretamyers The PR for the fix has been created and it will be merged once approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thanks
Saurabh

[2021-08-17 22:07] #79757 closed

[2021-08-17 22:13] ivapplyr commented on #78483
Doc has been updated to navigate to Private Link Center

[2021-08-17 22:15] ivapplyr commented on #78483
@sdgilley @SaiKishor-MSFT feel free to confirm

[2021-08-17 22:16] DerekHerman-MSFT commented on #79833
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-17 22:19] BharathNimmala-MSFT commented on #79841
@wjpigott Thanks a lot for bringing this to our notice, we will take this feedback to PG and see how they can enhance in the app to avoid this confusion for the customers. For the interim from document stand point will work with our document author to see what we can do to clarify this in the doc.

[2021-08-17 22:24] JamesTran-MSFT commented on #79803
@dracan
Thank you for your time and patience throughout this issue!

Based off of @jmprieur's comment,  it looks like the instructions are correct since it's referencing to two different values. I'll go ahead and close this out, and if you feel that this still needs to be changed or looked at, please let us know.

![image](https://user-images.githubusercontent.com/36619112/129808565-ed82b86f-6d1f-

[2021-08-17 22:24] #79803 closed

[2021-08-17 22:26] Karishma-Tiwari-MSFT commented on #79282
This has been updated by the doc author.
I will close this for now. If you have additional questions let me know and we can reopen and continue.

[2021-08-17 22:26] #79282 closed

[2021-08-17 22:30] JamesTran-MSFT commented on #79827
@x509cert
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-17 23:01] JamesTran-MSFT commented on #79817
@MhAllan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-17 23:12] MonikaReddy-MSFT commented on #79453
@m-gug - I have reached out the product team and will get back to you as soon as i hear back from them. Thank you for your patience.

[2021-08-17 23:23] anhlqn opened #79844 "Update Redis Cache subresources for Private Endpoints"
I think the working subresources for Redis cache is `redisCache`, not `cache account`. I had to look into the ARM template to find it because it doesn't seem to be documented anywhere else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4

[2021-08-17 23:38] msmimart commented on #73412
@chalewi thanks again for your input. We've incorporated the changes and they should publish soon.
#sign-off

[2021-08-17 23:40] pkshultz commented on #58211
Hi @brkoglu, I think this may have been because the command in the program ([this line](https://github.com/Azure-Samples/batch-dotnet-ffmpeg-tutorial/blob/403aefbf01804f51e597e96eaeeed436fb1fa640/BatchDotnetTutorialFfmpeg/Program.cs#L391), `4.3.1-2020-09-21`) has a different ffmpeg version than what we link to in the tutorial ([`4.3.1-2020-11-08`](https://github.com/GyanD/codexffmpeg/releases/tag/

[2021-08-17 23:47] gfaraj commented on #47611
Sorry @burrowj but no, we haven't found a suitable solution for this. We currently have a separate apple-web provider with the client id for the web app, but this does not work well with the native app.

I haven't gotten a response from Microsoft on this, unfortunately.

[2021-08-17 23:59] duongau commented on #76016
Hi @tcsougan, with AFD the adverify is only used to validate the domain for creation while CNAME is used to validate the ownership when enabling HTTPS managed certificate. The DNS TXT method is only supported in AFD Standard/Premium for domain ownership. Does this help with the confusion? The information displayed in the documentation is correct in explaining this.

[2021-08-18 00:08] burrowj commented on #47611
Microsoft seem to have shutdown, at least in this space.  I'm not getting any responses either so far.  I've managed to get the native app to work to a point.  Could well be something on my end but its hard to troubleshoot.
Going to check out Okta to see what they can offer.
Thanks for getting back to me.

[2021-08-18 00:15] RyanHill-MSFT commented on #47611
Not shutdown, I assure you @burrowj and @gfaraj. I truly apologize for the delayed response. You have not been forgotten; I assure you. @burrowj, send me an email to AzCommunity[at]microsoft[dot]com _ATTN: Ryan_ so we can continue offline.

[2021-08-18 00:33] curtand commented on #54874
Hi @Torxsmind
Thanks for your contribution!!! I spoke to the PIM PM team and they told me it's work they're investigating but it's not currently on their roadmap, so the timeline for resolution may vary based on resourcing.

We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-08-18 00:33] #54874 closed

[2021-08-18 00:35] curtand commented on #55701
Hi @jeevaeastpoint
Thanks for your dedication to our documentation! Unfortunately, we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I have created an internal work item to incorporate your suggestions, but the timeline for resolution may vary based on resourcing. It seems very straightforward.

https://github.com/MicrosoftDocs/azure-d

[2021-08-18 00:35] #55701 closed

[2021-08-18 00:38] rick-hayek commented on #79735
Thank you. It works!

[2021-08-18 00:38] #79735 closed

[2021-08-18 01:00] chalewi commented on #73412
Thank you so much! That's great to hear.

[2021-08-18 01:04] hartilla2005 opened #79846 "github content missing"
https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet is missing (not found) 👍
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version Independent ID: fa53a263-a15a-2449-207a-51b59afb

[2021-08-18 01:09] #79846 closed

[2021-08-18 01:10] wjpigott commented on #79841
Awesome thanks!!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: BharathNimmala-MSFT ***@***.***>
Sent: Tuesday, August 17, 2021 5:19:54 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jeff Pigott ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Add screen shot to show do not change - "Enrollment Number" or ask product team to make

[2021-08-18 01:40] SrijitBose-MSFT commented on #79830
@lmmarsano , Thank you for your feedback. In light of [unique subnets for node pools](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#add-a-node-pool-with-a-unique-subnet-preview) and other similar developments, we are sharing this feedback with the content author.

[2021-08-18 01:42] BharathNimmala-MSFT commented on #79113
@JohnnyFun  Please review the above information and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank

[2021-08-18 01:42] #79113 closed

[2021-08-18 01:46] PVJAZ commented on #40812
Readonly permissions didn't work at the subscription level so ended up making JIT requestor user a Contributor at the subscription level to make it work. Just did this for testing purpose.

[2021-08-18 01:55] eperfilyev opened #79847 "Is Oracle JRE free to use (for commercial purposes) with Self-Hosted Integration Runtime?"
Is Oracle JRE free to use (for commercial purposes) with Self-Hosted Integration Runtime?

This is required to work with Parquet file using Self-Hosted Integration Runtime

Thank you

[2021-08-18 02:13] tcsougan commented on #76016
Hi @duongau, thank you for the clarification. I guess the DigiCert support engineer was wrong because the Front Door used by the customer wasn't AFD Standard/Premium and he insisted that the TXT was the right way and the "adverify" wasn't not a valid way.

Thank you !

[2021-08-18 02:13] #76016 closed

[2021-08-18 02:43] BryanTrach-MSFT commented on #79680
@cveld Thank you for your question.

I do not believe this is a supported scenario, which means even if you get it working today, the functionality could break in the future with no warning since it's not necessarily an intended feature.

With that being said, your best attempt would be to try an ARM template and try to create the hybrid connection but feed the template the preferred app's name. A

[2021-08-18 02:57] SnehaAgrawal-MSFT commented on #79519
@Burabari-Dev Since we didn't here from you. We will close this out but if you feel you need more information please just let us know.

[2021-08-18 02:57] #79519 closed

[2021-08-18 03:08] CHEEKATLAPRADEEP-MSFT commented on #79825
@rickyzhang82  Thanks for the question! We are investigating and will update you shortly.

[2021-08-18 03:11] CHEEKATLAPRADEEP-MSFT commented on #79839
@CMoltedo  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2021-08-18 03:12] CHEEKATLAPRADEEP-MSFT commented on #79847
@eperfilyev  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2021-08-18 03:24] kobulloc-MSFT commented on #79615
@gat-cs Thank you very much for bringing this to our attention.  You are absolutely correct--the `--enable-addons monitoring` parameter is part of the following [az aks create](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create) command.  There's no additional action needed to be taken by the reader and the link does look like it should contain more information on t

[2021-08-18 03:25] vipulsparsh commented on #79719
@DeanGross Can you help us with what do you need ?

[2021-08-18 03:54] GitaraniSharma-MSFT commented on #79844
@anhlqn , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-18 03:54] boubacarsbgmali opened #79848 "Can I help setting and send it"
From my friends is not the following file the best way to go with a great time to get to the same and let you know if I will have to the following link to my favourite part in

[2021-08-18 04:14] SrijitBose-MSFT commented on #79825
@rickyzhang82 , this happens because the pod created by `kubectl debug` does not have `SYS_PTRACE` capability.

One way I could get past this problem was by using the [kubectl-exec](https://github.com/mohatb/kubectl-exec) tool.

Steps I followed:
 - [Install kubectl-exec](https://github.com/mohatb/kubectl-exec#installation)
 - Add `spec.containers[].securityContext.capabilities.add[ "SYS_PTRACE" ]

[2021-08-18 04:29] BhargaviAnnadevara-MSFT commented on #79848
@boubacarsbgmali Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-08-18 04:54] KranthiPakala-MSFT commented on #79525
@leifbro Just checking to see if you have got a chance to review the above feedback? - Thank you

[2021-08-18 04:58] AnuragSharma-MSFT commented on #79608
@manios Awaiting your response on this.

[2021-08-18 05:04] cmanios commented on #79608
Hi @AnuragSharma-MSFT !

Thank you for your quick response! I have double checked and found out the following:

1. This issue happens in a collection which was migrated recently from CosmosDB 3.6 to CosmosDB 4.0 using Terraform. No export and reimport was performed.
2. If I copy the documents to another new collection, then no error occurs.

If you want you can close the issue. Otherwise can you p

[2021-08-18 05:13] manios commented on #79608
Hi @AnuragSharma-MSFT !

Thank you for your quick response! I have double checked and found out the following:

1. This issue happens in a collection which was migrated recently from CosmosDB 3.6 to CosmosDB 4.0 using Terraform. No export and reimport was performed.
2. If I copy the documents to another new collection, then no error occurs.

If you want you can close the issue. Otherwise can you p

[2021-08-18 05:29] MinRam opened #79849 "The Comosdb SQL Document has a redundant comma."
There is a redundant comma after  *"savingsAccount": 5000*
![image](https://user-images.githubusercontent.com/14797464/129842137-f1bb38aa-dab9-4543-9773-5d5ecdb1a79d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c92d76d-38a4-417f-18a1-4590135d2095
* Version Independent ID: f11f316c-7da4-8723-13b0-43edb550bcae
*

[2021-08-18 05:36] dracan commented on #79803
@jmprieur Hmmm... according to Grammarly, you're right...

![image](https://user-images.githubusercontent.com/567988/129842971-eb506cca-2e0e-4ed6-bd2d-9344b37b19a6.png)

As someone who both reads and writes _a lot_ - "don't" just doesn't sound right. I think the last alternative in my screenshot reads better. But given I've clearly got it wrong - I have no objections to this being closed. Sorry ab

[2021-08-18 05:59] taHTN commented on #79605
@SubhashVasarapu-MSFT , Thanks for check this. I will wait for your update.

[2021-08-18 06:18] AnuragSharma-MSFT commented on #79608
@manios Thanks for detailed response. Because of my limited knowledge on Terraform, I have escalated this issue to Product Group. We can keep this issue open till we hear back.

[2021-08-18 06:38] bhaskarbsingh opened #79850 "Content mis-match"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7299ae60-af52-5fcf-cbf7-34bfab0b6d3e
* Version Independent ID: b01704d8-aa5e-4585-2a6d-77bdf5df2752
* Content: [Configure Windows Server Failover Cluster on Azure VMware Solution vSAN - Azure VMware Solution](https://docs.microsoft.com/en-us/azure/azu

[2021-08-18 06:38] bhaskarbsingh commented on #79850
content mis-match

[2021-08-18 06:45] AnuragSharma-MSFT commented on #79849
@MinRam Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-18 07:03] andersand commented on #78964
Well yes, the parent/child bone relationship map. I implemented this myself as I was unable to find such map in the library. It's not a big deal, but would be nice to include.

[2021-08-18 07:28] snitkjaer opened #79852 "Deploy a Linux Hybrid Runbook Worker in Docker"
I would be great to have instructions for deploying to a Linux Docker container also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e38be5b8-d76d-a4f1-c014-7bf9248be2de
* Version Independent ID: 976e5e90-b28c-d7ba-0495-69d92e62ea46
* Content: [Deploy a Linux Hybrid Runbook Worker in Azure Automation](https://docs.micr

[2021-08-18 07:55] SwathiDhanwada-MSFT commented on #79852
@snitkjaer Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-18 08:03] robwe opened #79853 "Incorrect ObjectId for Microsoft Azure Batch"
The page states that the ObjectId for Microsoft Azure Batch is f520d84c-3fd3-4cc8-88d4-2ed25b00d27a, but it is actually 234580b0-a513-45ae-ade4-2f563f9c8b35.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2146b9a6-94f1-b2a8-972e-63602992d092
* Version Independent ID: ec164b99-5fc9-f5a1-6eb7-1d5fb1cad568
* Content: [Cre

[2021-08-18 08:05] CHEEKATLAPRADEEP-MSFT commented on #79775
@sergeik66  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-18 08:05] #79775 closed

[2021-08-18 08:05] rohit-bhakare-tal opened #79854 "OMS agent not collecting docker console logs to azure log analytics"
I have configured microsoft/oms agent using docker image (with log analytics workspace ID and key)
used docker command: - sudo docker run --privileged -d -v /var/run/docker.sock:/var/run/docker.sock -v /var/log:/var/log -v /var/lib/docker/containers:/var/lib/docker/containers -e WSID='workspece-id' -e KEY='log-analytics-key' -p 127.0.0.1:25225:25225 -p 127.0.0.1:25224:25224/udp --name='omsagent' -

[2021-08-18 08:35] Tasos-Torou commented on #78637
Ok thank you. I was looking for a central list but in this case, we can close this ticket. Thank you for your contribution.

[2021-08-18 08:56] GitaraniSharma-MSFT commented on #79844
@anhlqn , it looks like the subresources for both Azure Cache for Redis & Azure Cache for Redis Enterprise are documented incorrectly.

For Azure Cache for Redis, the subresource would be redisCache:
![image](https://user-images.githubusercontent.com/67630903/129869217-68798408-fe4a-4a73-ba4d-95572786020e.png)

For Azure Cache for Redis Enterprise, the subresource would be redisEnterprise:
![image

[2021-08-18 09:02] audunsolemdal opened #79855 "Please clarify rotation paragraph"
[Enter feedback here]

I have multiple Azure function apps referencing the same secrets in a key vault through app config
The references are in this format: `@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/)`

I would expect my app to always use the latest version of the secret after restarting it. However, after creating a new secret and a restart, the old secret ve

[2021-08-18 09:11] #79844 closed

[2021-08-18 09:11] GitaraniSharma-MSFT commented on #79844
@anhlqn , I have corrected both the subresources and it will be reflected in the doc shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-18 09:11] audunsolemdal commented on #79855
I use KUDU to read the values of the secret seen from the function app. The only way I've been able to get the latest secret version is to temporarily remove the app config reference and re-add it.  I have not tried waiting up to 24 hours.

[2021-08-18 09:13] VikasPullagura-MSFT commented on #79850
@bhaskarbsingh Can you please elaborate more on the content mismatch, so that we can fix the document accordingly.
Please share details of mis-match.

[2021-08-18 09:37] huangyingting opened #79856 ""Associate groups with developers" should be "Associate groups with members""
[Enter feedback here]

The title doesn't look right, it says "Associate groups with developers" but what it really talks is ""Associate groups with members"
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-groups#-associate-groups-with-developers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-08-18 10:09] CHEEKATLAPRADEEP-MSFT commented on #79802
@cw18-coder Unfortunately, the above libraries are not available externally.

Apache Spark in Azure Synapse Analytics has a full set of libraries for common data engineering, data preparation, machine learning, and data visualization tasks. The full libraries list can be found at [Apache Spark version support.](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-version-sup

[2021-08-18 10:12] cephalin commented on #79373
Added a section in the doc to explain between master and main and fixed some of the discrepancies. #please-close

[2021-08-18 10:12] #79373 closed

[2021-08-18 10:12] BhargaviAnnadevara-MSFT commented on #79855
@audunsolemdal Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-18 10:17] stefanminehan opened #79857 "Preq-requisites"
The article states "SQL Server 2019 on CU8 or later, on Windows Server 2016 and later" is required for DNN's

However this article states that SQL 2017 works if it has CU 25. Can this be confirmed and then the page updated to reflect this if true? This caused us confusion and potential design changes for our AOAG.

https://support.microsoft.com/en-gb/topic/kb5004767-improvement-availability-group-

[2021-08-18 10:34] VikasPullagura-MSFT commented on #79853
@robwe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-18 10:34] VikasPullagura-MSFT commented on #79853
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2021-08-18 10:49] SwathiDhanwada-MSFT commented on #79854
@rohit-bhakare-tal Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-18 11:37] PramodValavala-MSFT commented on #79800
@kenakamu Not really. The `Task.WhenAny` call returns the first task to finish and if it's not the `challengeResponseTask`, it's the `timeoutTask`.

If the code is incorrect, it just retries until the loop ends and would return `false` at the end.

[2021-08-18 12:02] VikasPullagura-MSFT commented on #79857
@stefanminehan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-18 12:03] VikasPullagura-MSFT commented on #79857
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-08-18 12:06] cw18-coder commented on #79802
Hi @CHEEKATLAPRADEEP-MSFT thanks for providing me with an update.

I am familiar with the Azure Toolkit for IntelliJ and use it extensively. Does your response mean, I can only access these libraries from the interactive console within IntelliJ after connecting to the Synapse Spark pool?

The problem is whether I connect to the Spark Pool to submit a job in batch mode or in interactive mode, an ar

[2021-08-18 12:31] AnuragSharma-MSFT commented on #79623
@HavilaDevi As mentioned in the previous comment, benchmark statistics are the observation based on testing these pricing tiers based on different parameters. If you need any specific stats please let us know and we can try to get that.

[2021-08-18 12:33] AnuragSharma-MSFT commented on #79791
@MS-jeremy This statement seems a little confusing but it tries to say that few regions would support new accounts only and not existing accounts, while few regions other way round.

[2021-08-18 12:39] MS-jeremy commented on #79791
Thanks @AnuragSharma-MSFT for the clarification.

So it means, some regions would only support the new accounts to enable Zone-redundant, while some regions would only support the existing and new accounts? Please correct me if I'm wrong.

And can you please kindly revise the statement so it can be more specific and clear to avoid confusing customers. Thanks!

[2021-08-18 12:43] RyanHill-MSFT commented on #79483
Hi @JacobHollis, you should be able to [configure the startup command](https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-linux#customize-start-up) to use Apache however I'm told nginx/php-fpm is the default for PHP 8. To utilize rewrite rules that mimic .htaccess, check out https://www.nginx.com/blog/converting-apache-to-nginx-rewrite-rules/.

[2021-08-18 12:43] #79483 closed

[2021-08-18 12:54] becke-ch-s0-v1 opened #79858 "Security: ADF Managed Virtual Network: Exclusive or Shared with other companies?"
Hi,
From a security point of view it is not clear to me, based on the documentation (https://azure.microsoft.com/en-us/blog/azure-data-factory-managed-virtual-network/), whether this ADF Managed Virtual Network is exclusive for my/our companies ADF instance or whether there are ADF instances from other companies running in this network that could access our data via the private endpoints?

---
###

[2021-08-18 13:01] Leonardo-Ferreira opened #79859 "Tenant-Type: Production-Scale Tenant"
On my Tenant overview there's a property called "Tenant-Type" and the value is "Production-Scale Tenant".

Is there a way to create others types of tenants, like "Testing" or "Development" where there's no SLAs but the MAUs wouldn't be charged?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d

[2021-08-18 13:24] dominicbetts commented on #79738
Hi @romankiss - it looks like IoT Central is only autogenerating from capabilities in the root component. Let me check with the product team to confirm if this is a bug. Thanks!

[2021-08-18 13:25] shashishailaj commented on #79859
@Leonardo-Ferreira Thank you for your query . We will investigate and update the thread.

[2021-08-18 13:48] jbailey-limgeomatics opened #79860 "Need clarity on the meaning of "unswapped""
In the [Manage settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#manage-settings) section, the last sentence and the note use the term "unswapped", which is not used elsewhere in the document. It's not entirely clear what "unswapped" means without context. Does "unswapped" mean "slot-specific"?

Specifically related to the last sentence in the section befo

[2021-08-18 13:51] SatishBoddu-MSFT commented on #64272
Hello all, in response to the issue, the documentation is already updated, please refer the below information.

**Initial Documentation:** https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#cross-region-dr

**Followed documentation:** [Manual failover and Event Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#manual-failover-and-event-hub)

![image](https://user-images.g

[2021-08-18 13:51] #64272 closed

[2021-08-18 13:51] romankiss commented on #79738
Hi @dominicbetts - thanks for your checking and I hope this is a bug. The autogenerating is a great feature and it should be worked for raw data sent by multi-components.

Thanks
Roman

[2021-08-18 14:07] MoAGitHub opened #79862 "Can OCR api return the text and the language that it detected?"
How can we know the language of the image we sent to the OCR api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afd2df6e-4c2e-eaf8-1fe2-9bae807f5680
* Version Independent ID: d1fb5a5b-a555-4cd0-0330-855681654a38
* Content: [Quickstart: Read client library or REST API - Azure Cognitive Services](https://docs.microsoft.

[2021-08-18 14:15] Leonardo-Ferreira commented on #48950
@amanmcse I followed [this tutorial here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-native-application?tabs=app-reg-ga) and im facing the same error, but I cant find this "Allow Implicit Flow" switch... can you help?

[2021-08-18 14:16] SamaraSoucy-MSFT commented on #79860
Thanks for the question! We will review and get back to you shortly.

[2021-08-18 14:17] SamaraSoucy-MSFT commented on #79856
Thanks for the feedback! We will review and get back to you shortly.

[2021-08-18 14:27] #73412 closed

[2021-08-18 14:32] thecpshah commented on #78698
Thanks @gaugup I will try the notebooks and revert back.

[2021-08-18 14:36] ejmarmonti commented on #58592
Why is this closed?  I still don't see the 'Token configuration' option, same as the screenshot pasted above.

[2021-08-18 14:37] metu opened #79863 "Using default domain names for API Management when integrating with Application Gateway"
Hi there,

In the documentation, the integration between API Management and Application Gateway is done using custom domain names for API Management.

Is it possible to do the integration using the default domain names for API Management if for instance you're setting things up for your development and staging environments and don't necessarily need a custom domain name?

I'm not sure how this wou

[2021-08-18 14:38] boubacarsbgmali commented on #79848
For example if I have a great time in the best way to go with the following
link to my favourite part of the best way to go back and I will have to the
following URL Adobe the Adobe flash player and a great weekend and we are
doing well and the best time for

Le mer. 18 août 2021 à 04:29, BhargaviAnnadevara-MSFT <
***@***.***> a écrit :

[2021-08-18 14:47] SadiqhAhmed-MSFT commented on #79811
@jan-tosovsky-cz We typically release support immediately after a new RHEL version becomes available but we have run into some issues this time, due to which we will only be able to support RHEL 8.4 by end of this quarter (tentatively).

[2021-08-18 14:52] Justinha commented on #73316
@natharatms sorry for delay and thanks for the suggestion. I followed up internally to cover next steps.

[2021-08-18 14:52] ejmarmonti commented on #58592
NVM, I see why it's not there anymore.   Looks like this is just a case of azure documentation not being updated at all reference points.   I'll just updated the userflow of my custom policy, per https://docs.microsoft.com/en-us/azure/active-directory-b2c/app-registrations-training-guide.
![image](https://user-images.githubusercontent.com/20668400/129920646-76cbe5f9-bb75-4486-9ff9-50a2cc97edb6.png

[2021-08-18 15:00] kenakamu commented on #79800
ah okay, I misunderstood the code then. Thank for your reply it makes sense now :)

[2021-08-18 15:00] #79800 closed

[2021-08-18 15:00] Justinha commented on #73711
@Weychris Sorry for delay. I hear you about licensing confusion but in this case I don't see an error. Can you clarify what part seems wrong? Pricing info at https://www.microsoft.com/en-us/security/business/identity-access-management/azure-ad-pricing says cloud users have SSPR in Free tier.

[2021-08-18 15:02] YutongTie-MSFT commented on #79862
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-18 15:08] JnHs commented on #79853
Hi @robwe - thanks for sharing this feedback. I just walked through the steps in the document, and confirmed that when I select Microsoft Azure Batch to add permissions on my subscription, the Object ID displayed is the same as that in the document. Can you explain more about where you are seeing the different ID so I can investigate further?

[2021-08-18 15:12] voloszad commented on #70538
Same here with `        <DataUri>urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.1.7</DataUri>
`

commenting the key as suggested does not make any difference.

[2021-08-18 15:18] yxchiwork opened #79865 "SSAS library Download link is broken"
https://docs.microsoft.com/en-us/analysis-services/client-libraries?redirectedfrom=MSDN&view=asallproducts-allversions&viewFallbackFrom=sql-server-ver15

![image](https://user-images.githubusercontent.com/79183421/130005162-9437f415-677a-4a97-9e7a-f80725af4148.png)

[2021-08-18 15:27] SumanthMarigowda commented on #79667
@Shawn-Yuen  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2021-08-18 15:27] #79667 closed

[2021-08-18 15:28] SumanthMarigowda commented on #79718
@olufea Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-18 15:29] SumanthMarigowda commented on #79664
@Adikota Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-18 15:30] GiftA-MSFT commented on #79632
@MoAGitHub we don't have a sample code at the moment (we'd have to add this request to our backlog). Reassigning to content author for further review. Thanks.

[2021-08-18 15:36] rickyzhang82 commented on #79825
@SrijitBose-MSFT

Awesome! This works like a charm. Please close the ticket.

[2021-08-18 15:36] #79825 closed

[2021-08-18 15:45] gldraphael opened #79867 "Clarify what "these" refers to"
The [note](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped) says:

![image](https://user-images.githubusercontent.com/10794213/129928904-172dca6b-0b28-4880-87df-ba1db62cda02.png)

Perhaps it should be rephrased to:

It's not clear if "these" refers to settings with a `_EXTENSION_VERSION` suffix, or if it refers to all the items in the "Settings th

[2021-08-18 15:52] yoelhor commented on #79859
There is only one type of tenant "Production-Scale Tenant". This **tenant type** property is used a while ago for review tenant. So, it's still there for backward compatibility/support.

[2021-08-18 16:00] SamaraSoucy-MSFT commented on #79863
Thanks for the question! We will review and get back to you shortly.

[2021-08-18 16:02] ii-batman commented on #79760
Hi @JamesTran-MSFT  and thank you for your email, this was the most well written and well-structured emails I came across in a long time. 😃
Thanks also for pushing the case to your devs - appreciated.

[2021-08-18 16:06] arpitjain099 opened #79869 "Command mentioned in Docs doesn't work anymore"
The command mentioned in the documentation doesn't work anymore and needs to be updated
```CURRENT_IP=$(dig @resolver1.opendns.com ANY myip.opendns.com +short)```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d0faa9-cf20-e7b2-be10-4cee86147789
* Version Independent ID: 65588401-dec8-1720-5f7a-c01b959d043f
* Content:

[2021-08-18 16:11] brianfostersopheon commented on #70538
Per this section of Localization Strings documentation, I see that the ~12 localized strings giving us this issue are marked as compatible with Page Layout Version < 2.0.0 .  Our current fix is to simply remove localization for these strings.  Losing localization for these strings is not a long-term solution for us, so we are researching alternative StringIds .... for example, did logonIdentifier_

[2021-08-18 16:14] amanmcse commented on #48950
@Leonardo-Ferreira The interface is changed now, You need to select below checkboxes under the Authentication blade of the application:
![image](https://user-images.githubusercontent.com/33834131/129933938-49d36ec5-900d-4fca-81dd-b940f9884c9e.png)

[2021-08-18 16:15] kobulloc-MSFT commented on #79615
@mlearned has been added to the PR for review.

[2021-08-18 16:28] yoelhor commented on #78069
The Azure AD [schema](https://docs.microsoft.com/en-us/powershell/azure/active-directory/using-extension-attributes-sample?view=azureadps-2.0) article mentions something interesting.  It uses the term "inaccessible". In the notes it says that after you deleted an extension attribute it's counted as an existing one. And **The only way to remove the property value from consideration once it has been

[2021-08-18 16:29] haysjp opened #79871 "Rate Limiting Not Supported in Consumption SKU"
https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#LimitCallRate

This doesn't appear to be allowed by the consumption sku, but doesn't have the same warning as rate-limit-by-key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version I

[2021-08-18 16:56] robwe commented on #79853
In the first image one can see the Role Assignment of Microsoft Azure Batch to my subscription. When I click on the blue Microsoft Azure Batch link, I get the second image. The Application ID is the same as in the documentation, the Object ID not.
Maybe the Object ID depends on the region. My subscription is in West Europe.

![AzureBatchObjectId_1](https://user-images.githubusercontent.com/1179082

[2021-08-18 16:57] YarekTyshchenko opened #79872 "How to specify advanced mount options"
Mounts have advanced syntax in docker that can be used to prevent docker daemon from creating directories that don't exist on the host. See: https://docs.docker.com/storage/bind-mounts/

See https://github.com/moby/moby/pull/19953#issuecomment-898352765 comment on required syntax.

Is it possible to replicate this within "HostConfig" ?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-18 17:07] MayankBargali-MSFT commented on #79652
@EricBauld Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-18 17:07] #79652 closed

[2021-08-18 17:08] MayankBargali-MSFT commented on #79679
@PingPongSet Just following up here. Hope my previous comment clears things up.

[2021-08-18 17:09] MayankBargali-MSFT commented on #79722
@atif-hafeez Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-18 17:09] #79722 closed

[2021-08-18 17:17] MashaMSFT commented on #75947
Hi @chirangaalwis , thanks for contacting Microsoft! Since Dimitri addressed your question, I'll go ahead and close out this Git Issue. However, please feel free to comment should you need further assistance.

Thanks again for reaching out, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:dimitri-furman
#please-close

[2021-08-18 17:17] #75947 closed

[2021-08-18 17:17] laujan commented on #79773
Thanks @RohitMungi-MSFT: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1868989

[2021-08-18 17:18] MayankBargali-MSFT commented on #79450
@solankisamir Can you provide your insights on this.

[2021-08-18 17:23] duongau commented on #75260
@DrEight could you please show us the logs that you're looking at that is showing the "foo" part that you're referring to. I reached out to our devs and was told no where in our code for the health probe does that name appears. Thank you.

[2021-08-18 17:23] EricBauld commented on #79652
Thanks, that does help. It was confusing that some message meta data is available in Java. Such as messageId or correlationId is available and usable as a binding but not listed in the usage section. Yet MessageReceiver is not available even though there is a package protected MessageReciever class and a IMessageReceiver interface.

[2021-08-18 17:25] sunnyhay commented on #79249
Thanks @Mutilar! I've removed the conda param but still fail to get this work. Now the new command is

[code]
Yet the error pops to complain the module issue below.

[code]
In the entry script (score.py) there are several lines to import modules like below. The other lines are ignored here.

[code]
I've specified the path in the command and actually BingPredictUtils.py is under the same "./source"

[2021-08-18 17:31] KranthiPakala-MSFT commented on #79858
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-08-18 17:37] JamesTran-MSFT commented on #79827
@x509cert
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-18 17:38] Leonardo-Ferreira commented on #48950
@amanmcse thank for your reply! Such checkboxes are not available for the tutorial I linked (native app), only web... any ideas on how to make them available?

[2021-08-18 17:49] asudbring commented on #79400
Hi @denschub!

We have updated the doc to reflect this limitation.

Thanks for your contribution!

#please-close

[2021-08-18 17:49] #79400 closed

[2021-08-18 17:58] david-kaczynski opened #79873 "Broken link"
The first link under "Next steps" ([Set up an Azure Machine Learning workspace](https://docs.microsoft.com/en-us/quickstart-create-resources.md)) leads to a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ab4665-2ea9-5312-e107-28d8d7e2a111
* Version Independent ID: 4f862540-1c4f-5b03-a61a-42026ef3b00f
* Content: [

[2021-08-18 18:02] oncore-mk opened #79874 "Correction on Logstash Filter configuration"
Upon troubleshooting, it has been discovered that the Logstash code on the Azure document has an error. There appears to be a " }} " as opposed to " ]} " at the end of the " operationName " and " Version " line. Here is the code as exists on the Azure document:

     add_field => {
       "time" => "%{[records][time]}"
       "systemId" => "%{[records][systemId]}"
       "category" => "%{[records]

[2021-08-18 18:06] ChaitanyaNaykodi-MSFT commented on #79874
Hello @oncore-mk,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-18 18:08] ssivas commented on #79859
#please-close

[2021-08-18 18:08] #79859 closed

[2021-08-18 18:23] XiaoyuMSFT commented on #78036
@CHEEKATLAPRADEEP-MSFT - Please re-assign this to @WilliamDAssafMSFT who will implement the content changes per our offline discussions on this storage documentation issue.  Thanks.

[2021-08-18 18:30] mike-urnun-msft commented on #79871
@haysjp Thank you for your feedback! We will review and update as appropriate.

[2021-08-18 18:34] moagra commented on #79874
#sign-off

[2021-08-18 18:35] jonwbstr opened #79875 "Suggestions?"
The link provided in this section directs to a no longer supported User Voice portal that has been replaced with a page that directs to another page.

https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway/nat-gateway-resource#suggestions

Was that confusing? I thought so too!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-18 18:35] BhargaviAnnadevara-MSFT commented on #79848
@boubacarsbgmali Closing the issue as it is not actionable. Please feel free to open a new issue if you have feedback on the Azure documentation.

[2021-08-18 18:35] #79848 closed

[2021-08-18 18:44] #79753 closed

[2021-08-18 18:48] hakenbeck commented on #76160
hi, uhm was this additional info added to the docs page? I can not find it anywhere

[2021-08-18 18:54] jonwbstr opened #79876 "URL doesn't match document title"
I did a double take when I copy/pasted the url and it didn't match the title. Not a big deal but like I said, it made me wonder if i had copied the correct link!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 085a2b73-b2c0-2942-542b-83888ecfa5b5
* Version Independent ID: d5e9288c-bdc9-3a93-f43c-408da5162e3c
* Content:

[2021-08-18 18:57] SatishBoddu-MSFT commented on #79872
Hello @YarekTyshchenko I am trying to understand the requirement in more detail.

Could you please confirm if you are configuring the local storage in the deployment manifest of Host Config section? like shown in below document/
[Link module storage to device storage](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-access-host-storage-from-module?view=iotedge-2020-11#link-module-storage-to-

[2021-08-18 19:28] UdokaVrede commented on #79753
Alright thank you

On Wed, Aug 18, 2021, 7:44 PM Beau Braig ***@***.***> wrote:

[2021-08-18 19:45] JnHs commented on #79853
Thanks @robwe, I'm looking into this and will provide an update as soon as possible.

[2021-08-18 19:53] Karishma-Tiwari-MSFT commented on #79869
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-18 20:14] rhod1z opened #79877 "App Gateway with Let's Encrypt Not Working - Secret Not Found"
**Describe the bug**
Followed doco here, but it's out of date so had to guess ... https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway. Could really do with some clear doco on how to set this up please :-)

agic                   = mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.4.0
cert-manager    = quay.io/jets

[2021-08-18 20:19] c016smith opened #79878 "Scenarios and documentation about Hybrid Identity"
I noticed there is no mention of Azure AD Connect cloud sync on the Microsoft Hybrid Identity pages (related to Azure AD Connect) so there's not good guidance on scenarios that involve this newer product.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/

Please also identify scenarios that can be tested to see if this Azure AD Cloud Connect would be good to run in parallel with Azu

[2021-08-18 20:22] WilliamDAssafMSFT commented on #78036
Thanks @mkumar1212 a document update is in flight to address. We will have more specifics for you soon.
#reassign:williamdassafMSFT

[2021-08-18 20:24] kpm-at-hfi commented on #36458
I'm using the Portal and not a template. Deleting `WEBSITE_CONTENTSHARE` doesn't seem to work; the old value remains.

Consumption plan. Windows.

What can I do about this? Swapping can't work for me right now.

[2021-08-18 20:31] JamesTran-MSFT commented on #79878
@c016smith
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-18 20:35] Aminadad27 opened #79879 "<button>reply</button>"

[2021-08-18 20:41] mrochon opened #79880 "A simpler alternative"
I have provided a sample showing a [simpler alternative to deploying policies through Azure DevOps](https://github.com/mrochon/B2CPipeline):

1. Loads all policies in a folder, without need to sequence them into base, extensions, etc. - the script works out these dependencies automatically.
2. Automatically determines values for _yourtenant_ and IEF application and proxy ids used in starter packs

[2021-08-18 20:42] Aminadad27 commented on #79879
**_Copyright©️2021 Josué Aminadad González Blanco™️. All rights reserved._**

<!doctype html>

[2021-08-18 20:44] kobulloc-MSFT commented on #79615
@gat-cs There is a PR out for review that will move step 2 into the following section where the command is executed and make it much clearer to the reader both what should be executed and where they can find more relevant information.  This was really valuable feedback and I'd like to thank you again for helping to make the Microsoft docs better!

We are going to close this thread as resolved but

[2021-08-18 20:44] #79615 closed

[2021-08-18 20:47] Aminadad27 commented on #79879
<button>assigned</button>
<button>mentioned</button>
<button>symbols></button>
<button>digits</button>
<button>comands</button>
<button>numbers</button>

[2021-08-18 20:47] Aminadad27 commented on #79879
![image](https://user-images.githubusercontent.com/82472953/129970055-aea90db2-6122-43fd-9303-6164ac9f445a.jpeg)

[2021-08-18 20:54] hamiltonha commented on #79261
@j-mantu

[2021-08-18 21:23] SaeedAkhter-MSFT commented on #76536
@mmacy I reviewed the documentation on the app services side and I agree that it could use an update https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization

I'd suggest we first find a way to make the static web app content more discoverable, and then work with the app services team to iterate on their article to make it more approachable.

Suggested pull request:
http

[2021-08-18 21:26] derekscha opened #79883 "App URLs for configuration need to be updated"
10,000ft has been purchased by Smartsheet and is being rebranded as Resource Manager. As such they're updating the URL and warning that the existing ones will stop working 10/1/2021.
https://help.smartsheet.com/articles/2482418-10000ft-is-now-Resource-Management

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9643a53b-a

[2021-08-18 21:40] ChaitanyaNaykodi-MSFT commented on #79876
Hello @jonwbstr,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-18 21:44] jhubsharp commented on #39361
Confirmed that is not fixed. Adding an empty file is what I needed to do in order to see telemetry events for my function app.

[2021-08-18 21:46] ChaitanyaNaykodi-MSFT commented on #79875
Hello @jonwbstr,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-18 21:48] ozhernan commented on #77062
any updates about this?

[2021-08-18 21:50] mehdilahrech opened #79884 "Incorrect GW BW mentioned on documentation"
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways#ultra-performanceergw3az
circuit BW for below GW should say 10Gbps instead of 1Gbps

Ultra Performance/ErGw3Az
Circuit bandwidth: 1Gbps
Number of routes advertises by the Gateway: 500
Number of routes learned: 9,500

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-08-18 21:57] xedsdead opened #79885 "USE DEDICATED ADMINISTRATIVE ACCOUNTS content is not definitive enough!"
3.3: USE DEDICATED ADMINISTRATIVE ACCOUNTS
"Create standard operating procedures around the use of dedicated administrative accounts. Use the recommendations in Azure Security Centre’s "Manage access and permissions" security control to monitor the number of administrative accounts."

This best practice is not definitive enough. i.e. Should I have accounts that just have the "Domain Administrator"

[2021-08-18 22:16] JamesTran-MSFT commented on #79880
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-18 22:17] JamesTran-MSFT commented on #79883
@derekscha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-18 22:23] JamesTran-MSFT commented on #79885
@xedsdead
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-18 22:28] ChrisRomp opened #79886 "Azure Monitor incorrect hyperlink anchor"
In the "Agents" section, the "Azure Monitor" hyperlink is:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#log-analytics-agent

When it should be:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#azure-monitor-agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97

[2021-08-18 22:42] ChaitanyaNaykodi-MSFT commented on #79884
Hello @mehdilahrech,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-18 22:45] ChaitanyaNaykodi-MSFT commented on #79877
Hello @rhod1z,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
FYI @mscatyao

[2021-08-18 22:53] msmbaldwin commented on #79885
Hi, @xedsdead. This article is from the v1 Azure Security Benchmark and is legacy; it is obsolete and will not be updated.  The v2 (and most current) article is https://docs.microsoft.com/en-us/security/benchmark/azure/security-controls-v2-identity-management . Thank you! #please-close

[2021-08-18 22:53] #79885 closed

[2021-08-18 22:59] bmoreira-cignifi opened #79889 "NGIX or LoadBalancer whitelist"
As a 4th option, Isn’t possible to restrict access to kubernetes services by whitelisting the IP addresses of Azure API Management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88ccef7
* Content: [Use Azure API Management with

[2021-08-18 23:06] PaulCornellDB commented on #72264
I checked with the Databricks Security Engineering Team about this. They said that `X-Databricks-Azure-Workspace-Resource-Id` is meant to automate workspace set up. They don't see what the use case would be for doing this through JDBC, which is why there is no documentation provided accordingly. They recommend that if someone needs to be an admin that they should be made an admin in the workspace

[2021-08-18 23:12] nelroosevelt opened #79890 "AuthV2 uses loginParameters"
For the Cx using the Authentication (not authentication classic),  could the loginParameters in the authsettingsV2 be added and illustrated in the section about how to configure app service to return a usable access token. Also, please provide a link (https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-acquire-cache-tokens#request-scopes-for-a-web-api ) to help with defining the c

[2021-08-19 00:49] PrometheusRising1 opened #79894 "Authentication for "Push to Azure from Git" section doesn't work if signed in"
Context:
"Push to the Azure remote to deploy your app with the following command. When Git Credential Manager prompts you for credentials, make sure you enter the credentials you created in Configure a deployment user, not the credentials you use to sign in to the Azure portal."

The above quote from the article is false if you have an account already logged in - it gives you no way to change from

[2021-08-19 00:58] SatishBoddu-MSFT commented on #77062
@ozhernan We are looking into this.
Cc: @asergaz to help with this page update.

[2021-08-19 01:00] Grace-MacJones-MSFT commented on #79119
Thanks for the update @ramborude10.  These matters are outside the scope of the doc. We try to keep issues scoped to doc feedback in this repro.

With that being said, this does require further investigation. In order to do that, can you please email me at azcommunity@microsoft.com with your subscription ID and the URL of this thread? We will put you in touch with the necessary party who can help

[2021-08-19 01:00] #79119 closed

[2021-08-19 01:01] promisinganuj opened #79895 "Issue with the used public dataset (Seattle)"
In the "Run a Spark SQL job" section, the "Seattle" city safety [dataset](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-seattle-safety?tabs=azureml-opendatasets) has been used. This dataset doesn't have the "source" column populated at all.

Here are the issues:
- The screenshot in point "5" is from Boston dataset instead of Seattle.
- In point "7", the column "source" is used as th

[2021-08-19 01:14] terrymandin opened #79896 "Cannot send message to IoT Hub Device"
I am trying to send a message to an IoT Hub device.  I followed the following steps, but was unable to see the message in the IoT  Explorer.

First, I updated my IoT Edge manifest to allow the pub_client to publish on my new IoT Hub device and used ```az iot edge set-modules``` to update my config:
[code]
Next I used ```mosquitto_pub``` to send the message:
[code]
I didn't see the message appear i

[2021-08-19 01:32] Derek1101 commented on #77004
Hi @asudbring @ivapplyr it's been a month, just want to check if any update on this, thank you.

[2021-08-19 01:44] KrishnaG-MSFT commented on #79886
@ChrisRomp Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-19 01:55] dcbrown16 commented on #55372
I have handled a number of support cases related to the diagnostic settings for Virtual Networks. The last info I heard is that neither VMProtectionAlerts nor AllMetrics are actually functional. I believe they were enabled as part of a preview test that is not moving forward.

[2021-08-19 02:01] MonikaReddy-MSFT commented on #79619
@slavizh - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.