[2019-11-11 11:15] SumanthMarigowda-MSFT commented on #42518
@adzamri Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 11:16] SumanthMarigowda-MSFT commented on #42519
@owenniblock Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 11:17] neeleshray-msft commented on #42531
@MarkDordoy  Thank you for the query. We will check and update on the same.

[2019-11-11 11:18] SumanthMarigowda-MSFT commented on #42521
@unikisi Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 11:21] KrishnaG-MSFT commented on #42530
@pawboelnielsen Hope you have self resolved and hence closed the issue. Thanks for the update.

[2019-11-11 11:29] pkoelemij commented on #20336
Same for me, business o365 premium licenses and the correct rights for the MSOL user are in place. Is there any fix yet?

[2019-11-11 11:37] pawboelnielsen commented on #42530
Hi, yes it seems if you are behind a firewall which only allows outgoing traffic on port 80 and 443 requests to Cosmos fails. I wanted to find documentation on this but is unable to.

[2019-11-11 11:40] ondrejvaclavu commented on #42410
Hi, the entry in exported XML file is like:
azuregateway-XXXX-someID-XXXXX.cloudapp.net

Not sure how to change to …vpn.azure.com

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, November 11, 2019 12:05:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ondřej Václavů <ondrej.vaclavu@outlook.com>; Mention <mention@noreply.github.

[2019-11-11 11:47] noocyte opened #42532 "Wrong URL for consumer accounts only"
Page refers to "https://login.onmicrosoftonline.com/consumers" - this is wrong. It should be: "https://login.microsoftonline.com/consumers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd4f98b7-3d87-6a84-8247-20a8893f7e98
* Version Independent ID: 01482485-7e2b-5621-897b-850618ef3f1e
* Content: [Supported accounts in

[2019-11-11 11:50] AshokPeddakotla-MSFT commented on #42525
@lucarv Could you please elaborate your issue bit more to understand better? in which steps you are getting this error?

[2019-11-11 11:54] lucarv commented on #42525
When trying to save the views created according to the document instrunctions

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, November 11, 2019 12:50:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tayo Carvalhal <Tayo.Carvalhal@microsoft.com>; Mention <mention@noreply.githu

[2019-11-11 11:59] msrini-MSFT commented on #42410
@ondrejvaclavu , Can you re-download the package and check the XML file?

[2019-11-11 12:00] jfayatkim opened #42533 "No information about how to add the exclusion object to the WAF policy"
This page shows how to create an exclusion object using New-AzApplicationGatewayFirewallExclusionConfig but does not show how you then add that exclusion to the WAF policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4cf0428-ac89-d265-d2c2-0a0d932c99c9
* Version Independent ID: 8200ffa3-22ec-39a8-6227-ed1cbe9043a4

[2019-11-11 12:05] jakaruna-MSFT commented on #42409
@t1agob Please provide your comments

[2019-11-11 12:06] ondrejvaclavu commented on #42410
Still …cloudapp.net

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, November 11, 2019 1:00:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ondřej Václavů <ondrej.vaclavu@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure AD profile cannot be imported (#42410)

@ondrejvaclavu<https

[2019-11-11 12:09] jakaruna-MSFT commented on #42524
@SegersIan Thanks for your feedback.

`nodes` can be replaced with `pods` though internally disks are attached to the nodes and shared with the pods.

Using the term `pod` will be good because it will match with the documentation of `ReadWriteOnce` in kubernetes.

@mlearned @zr-msft please provide your inputs

[2019-11-11 12:09] msrini-MSFT commented on #42410
Have you configured OpenVPn only in your VPN gateway?

What is your Gateway SKU?

[2019-11-11 12:13] ondrejvaclavu commented on #42410
Yes, tunnel type is OpenVPN (SSL) only

SKU is VpnGw1

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, November 11, 2019 1:10:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ondřej Václavů <ondrej.vaclavu@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure AD profile cannot be impor

[2019-11-11 12:15] msrini-MSFT commented on #42410
@ondrejvaclavu , Are you downloading the package via PowerShell command?

$profile = New-AzVpnClientConfiguration -ResourceGroupName AADAuth -Name AADauthGW -AuthenticationMethod "EapTls"
$PROFILE.VpnProfileSASUrl

[2019-11-11 12:19] ondrejvaclavu commented on #42410
Yes, exactly like this.

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, November 11, 2019 1:15:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ondřej Václavů <ondrej.vaclavu@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure AD profile cannot be imported (#42410)

@ondrejvaclavu<h

[2019-11-11 12:22] msrini-MSFT commented on #42410
Can you drop an email to azcommunity@microsoft.com with your subscription ID? I will take a look and revert

[2019-11-11 12:25] pvrk commented on #41780
Sorry for the delay in response. I am following this up with my engineering team. Will come back with a response.

[2019-11-11 12:31] jfayatkim commented on #42533
This page needs to be updated to use New-AzApplicationGatewayFirewallPolicyExclusion  and New-AzApplicationGatewayFirewallPolicyManagedRule

[2019-11-11 12:31] webash opened #42535 "VPN gateway offers certificate with a different subject to the DNS name"
For some reason VPN gateway responds to IKEv2 connectivity requests with a certificate containing a subject that doesn't match the FQDN used to find/request the gateway endpoint.

For example, say the gateway I configure my VPN client to connect to is the FQDN azuregateway-01234567-890A-BCDE-F0123-4567890ABCDE-a1b2c3d4e5f6.vpn.azure.com. When I connect to that using a VPN client configured through

[2019-11-11 12:33] delkos opened #42536 "Apache+Azure # mkdir(): Permission denied in a Azure storage account (file share)"
Hi everyone!

I hope someone can help me, I have a CentOS Linux release 7.7.1908 with  Apache 2.4.6 and PHP 5.6.40 and when Apache tries to write it doesn't work: **Warning --> mkdir(): Permission denied**
in a Azure storage account (file share).

I've done several tests:

**Scenario 1 # Local directory**
Apache can write in a local directory.

**Scenario 2 # Symbolic link -> local directory**
Apa

[2019-11-11 12:41] SuHwak commented on #28179
@Karishma-Tiwari-MSFT & @cynthn: Can you direct this question also to a different team member, because as mentioned in another (unanswered) question that "roiyz is not in the team anymore".

[2019-11-11 12:41] fslefevre78 opened #42537 "Remove access to a delegation"
when can we expect the role "Managed Services Registration Assignment Delete Role" become available in the Azure Marketplace offers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3d055aefb03
* Content: [Onboard a customer to Azure

[2019-11-11 12:55] SumanthMarigowda-MSFT commented on #42526
@pconnell99 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 12:56] SumanthMarigowda-MSFT commented on #42527
@cheles Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 12:58] SumanthMarigowda-MSFT commented on #42528
@martinstenhoff Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 12:59] SumanthMarigowda-MSFT commented on #42532
@noocyte Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 13:01] SumanthMarigowda-MSFT commented on #42533
@jfayatkim Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 13:03] pvrk commented on #42196
Updated all documents with latest, relevant REST API versions. Thanks for the feedback.
#please-close

[2019-11-11 13:03] #42196 closed

[2019-11-11 13:20] msrini-MSFT commented on #42410
Please upgrade to Client version 1.1042.24.0 from the Microsoft Store.

[2019-11-11 13:20] #42410 closed

[2019-11-11 13:35] erhopf commented on #42465
#please-close

Thanks @HilaryStoupa - We're correcting this bug in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95507.

[2019-11-11 13:35] #42465 closed

[2019-11-11 13:46] SimonLuckenuik opened #42539 "ARM template for App Service Managed Certificate"
Hi,

What is the appropriate way to automate App Service Managed Certificate? Going to the portal is annoying for us considering that our whole CD pipeline is automated. Ideally, we would love ARM template support.

Thank you!
Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* V

[2019-11-11 13:49] JefTek opened #42540 "Add information describing the Email property of a B2B user for updates"
A common ask of customers is how the email property can be updated on previously invited B2B users.    In the scenario where the external user was invited as a guest,  and later their email changed in the home tenant.  This is not sync'd back to the user objects in the resource tenant where they are invited.

Since the mail property is read-only post create for a B2B user via GraphAPI,  it can be

[2019-11-11 13:53] NavtejSaini-MSFT commented on #42457
@langstonj Please get back to us if you have any questions regarding this.

[2019-11-11 13:54] MatiasUnsvag commented on #40649
I also had the Issue with: "Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: 503 Substatus: 0 Reason: (The request failed because the client was unable to establish connections to 3 endpoints across 1 regions. Please check for client resource starvation issues and verify connectivity between client and server"

But if I initialized the the cosmos client with

[2019-11-11 13:58] NavtejSaini-MSFT commented on #42107
@Tanharuki I believe you have directly contacted the SQL Azure Chat/Security team for this. As they have conveyed they are  not actively working on this right now but they have added it as a 540597 feature request.
So right now this functionality is not available but yes it may be available when Security team starts working on this.
We are closing this thread for the moment.

[2019-11-11 13:58] #42107 closed

[2019-11-11 14:02] NavtejSaini-MSFT commented on #42440
@arkadiysherman Please get back to us if you have any further questions regarding this.

[2019-11-11 14:03] owenniblock commented on #42519
@SumanthMarigowda-MSFT - wrong person :) CCing @owingruters

[2019-11-11 14:05] PramodValavala-MSFT commented on #42526
@pconnell99 Could you try updating `func` to the latest version (2.7.1846) and try again?

[2019-11-11 14:18] NavtejSaini-MSFT commented on #42349
@Elianmrt Can you please confirm the above so that we can change the document.

[2019-11-11 14:25] alvipeo commented on #42499
@YutongTie-MSFT it would be if someone had an answer there.

[2019-11-11 14:27] SumanthMarigowda-MSFT commented on #42535
@webash Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 14:28] SumanthMarigowda-MSFT commented on #42536
@delkos Can you please provide us with the URL of the Azure Doc you are having issues with?
We look forward to your reply.

[2019-11-11 14:30] SumanthMarigowda-MSFT commented on #42537
@fslefevre78 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-11 14:30] techiechap commented on #42434
@MicahMcKittrick-MSFT
I registered for the AKS Pod security preview a couple of days back, while following the documentation [microsoft](https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies) i could not able to enable the policy.
Feature registered as expected,
 Name                                                 State
---------------------------------------------------  ---------

[2019-11-11 14:34] blachole commented on #39533
They were all likely at MS Ignite which is why updates have been lacking. Hopefully they get back to us this week.

[2019-11-11 14:36] jakelumetta commented on #41601
@Mike-Ubezzi-MSFT Hey Mike - hope you had a great weekend.  Just wanted to check in and see if the content team had any questions or suggestions on where a good place for this kind of tutorial would go?

[2019-11-11 14:44] algattik opened #42543 "Namespace should be "container.azm.ms/prometheus""
This sample query worked for me only after replacing "prometheus" with "container.azm.ms/prometheus"

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8235f4-9daf-1049-19d0-ff2d9b74283a
* Version Independent ID: 884a2af0-46f8-db22-0f9f-9e906f34047a
* Content: [How to Query Logs from Azure Monitor for containers]

[2019-11-11 14:45] delkos commented on #42536
Hi @SumanthMarigowda-MSFT!

URL? I dont understand you, sorry :(

The PHP code does:

[code]

and PHP log shows:

[code]

Regards.

[2019-11-11 14:57] pbous123 commented on #42511
https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps#install-powershell

[2019-11-11 14:59] gate502 opened #42544 "Azure AD LDAPS Logging"
What is the best way to check for the logs of Azure AD LDAPS for user access.  It does not show within the user login blade of AAD of a successul ldaps authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84d9f-fbfd-d97d-9826-26947f64d18a
* Con

[2019-11-11 15:01] MonikaReddy-MSFT commented on #42049
Hi @brucedkyle ,
I am glad I was able to help you resolve your issue. I you have any further questions regarding this matter, Please feel free to tag me in your reply and I will be happy to continue the conversation.

[2019-11-11 15:09] kishan19 opened #42545 "Docker permission error"
Hi, I am trying to deploy a local web service on a notebook VM and am meeting a permission error for starting docker. When I read this https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/train-on-local/train-on-local.ipynb it says Docker cannot be used on Notebook VM. please clarify.

The error I get is as below.

ERROR - Failed to create Docker client. Is Doc

[2019-11-11 15:15] syndicatedshannon commented on #42476
@cecilphillip Thank you for the heads up. You are obviously on top of this in issue already; I understand it's complicated and EFCore library-dependent.

Please feel free to close this one. Again, my main issue is the chase the current tip to "simply follow async ctor guidance" caused me. This problem is currently more complex than that.

[2019-11-11 15:17] syndicatedshannon commented on #37830
The issue referenced above is closed; superceded here: https://github.com/aspnet/EntityFrameworkCore/issues/13261

[2019-11-11 15:19] PramodValavala-MSFT commented on #42488
@karpikpl I believe the main difference between using the workflow connector and a standard HTTP connector is the way the nested workflow is triggered (via ARM vs Workflow Trigger URL) and hence the other differences.

We have assigned this issue to the content author for further review and to update accordingly.

[2019-11-11 15:21] syndicatedshannon commented on #42476
Oh, wait. That issue is closed... please still consider updating the document with more clarity.

[2019-11-11 15:22] algattik commented on #42543
my mistake. The "prometheus" logs appeared after some time.

[2019-11-11 15:22] #42543 closed

[2019-11-11 15:26] ashkansirous commented on #42220
Hi @FrankHu-MSFT
Thanks for reply. Of course what I care most is to fix the bug, but doesn't it make more sense to keep the issue open until you solve it and then close it?
To my knowledge, when an issue is closed it means that it has been fix/ or it was irrelevant :) which is not our case. Other poeple would follow the same thread and try to get update on this.
Also, how do I know that you have f

[2019-11-11 15:29] SamaraSoucy-MSFT commented on #42445
I've put in a pull request to update the heading for that sample.

[2019-11-11 15:29] #42445 closed

[2019-11-11 15:36] azav opened #42546 "Signing in as 2 users, when switching users, the second sign in returns credentials for the first user."
Using this sample app, we set up auth against our non prod end point and entered two users.

When switching users, signing in as the second user for the first time works as expected.  Signing in as the second user for the second time returns the email credential for the first user.

Also, the sign out button always returns a keychain error.

Keychain find status: -25300
TID=4607242 MSAL 1.0.0 iOS

[2019-11-11 15:38] Karishma-Tiwari-MSFT commented on #42219
The article says

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-11 15:38] #42219 closed

[2019-11-11 15:47] Karishma-Tiwari-MSFT commented on #42079
I have created a PR and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-11 15:47] #42079 closed

[2019-11-11 15:54] PramodValavala-MSFT commented on #42515
@spacem The correct `host.json` settings for Functions v2 are the ones at [the end of the doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#hostjson-settings). The other is for Functions v1.

As for controlling concurrency, while `maxConcurrentCalls` controls concurrency at the instance level, your function could scale out to multiple instances. You can res

[2019-11-11 16:00] swanderz commented on #42159
ok great. when I look at the what's new page I don't see any link to documentation for batch inference at all anymore. Perhaps it was fixed in a non-public facing release and the change will show up later?

[2019-11-11 16:04] ctimon opened #42547 "S2D Cluster file recovery"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-11 16:04] mpasandideh opened #42548 "no need to create namespace before "helm install" command"
You don't need to create namespace before running "helm install" command. If namespace does not exist, "helm install" will create it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP ingress cont

[2019-11-11 16:04] azav opened #42549 "Errors in Mac code."
func initWebViewParams() {
        self.webViewParamaters = MSALWebviewParameters()
        self.webViewParamaters?.webviewType = .wkWebView
    }

Property misspelled.  It's parameters, not paramaters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b7

[2019-11-11 16:05] ctimon commented on #42547
Could you expand the 'Windows Storage Spaces" paragraph on the file recovery page specifically in the context of recovering files from an S2D Failover Cluster running in Azure?

[2019-11-11 16:17] wukun2015 opened #42550 "Cannot get Async transcription result"
Hello,

 i'm using speech sdk 1.8.0 java for Windows in eclipes and have config pom.xml as required in this article.  Region is eastasia and locale is zh-cn.

But i always met below err when creating a remote Conversation Transcription client.  What else config did i miss ?

Thanks.

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger imp

[2019-11-11 16:21] msrini-MSFT commented on #42535
@webash , It is by design and I will assign this issue to the content author to validate and update the doc.

[2019-11-11 16:21] kumarallamraju opened #42551 "Service endpoint support for App Service is already GA'ed."
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/app-service/app-service-security-controls

Looks like Service endpoint support for App Service is already GA'ed.
In an internal email exchange the  App Service PM (Christina Compy) confirmed this feature is already available. Pls ping me in Teamsso that I can forward you that email. May be the other features are already GA'ed too. Don't

[2019-11-11 16:22] MicahMcKittrick-MSFT commented on #42548
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-11 16:29] orionJag opened #42552 "Azure Functions - C# in Visual Studio 2019"
Hi
   Working on the IoT edge tutorial using VS 2019,  but unable to find "Azure Functions - C#" in the Visual Studio template on project creation for IoT Edge.  Not sure which extension or updates to be installed for this template to appear.

 Please let me know.

Tutorial Link:   https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

[2019-11-11 16:31] GiftA-MSFT commented on #42382
@trevorbye this issue has been reassigned to you, please can you update document with appropriate links as indicated by the user? Please let me know if you require any assistance on my end. Thanks.

[2019-11-11 16:36] artisticcheese opened #42553 "List of logic apps is not populated properly"
Hello,

I have 9 logic Apps in my subscription and yet only 1 of them showing up in dropdown list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f4678a-ede3-4926-8d8b-3d9948704eb8
* Version Independent ID: a3a0e19d-9084-b5d5-0d2d-7a279ef1b2b9
* Content: [Workflow automation (Preview) in Azure Security Center](https:/

[2019-11-11 16:37] echuvyrov commented on #27848
@qafro1 - what are the errors you're seeing?

[2019-11-11 16:40] #42386 closed

[2019-11-11 16:42] artisticcheese commented on #42553
Found out that only logic apps with Azure automation API connections are shown in a list. Documentation needs to updated to note that

[2019-11-11 16:42] diberry commented on #42339
Hi BarryoCathain, if you are using the 3.x runtime package, you are hitting the 3.x endpoint. I'll look over the doc to see where that detail was missed. Still working on ResolveAsync missing.

[2019-11-11 16:45] MicahMcKittrick-MSFT commented on #23038
We have opted not to update this document as its designed to focus around CLI and Powershell and not the portal.

@jharitesh108 to answer your question, you cannot view that information in the portal. It is located inside the VM. Otherwise, if you are integrated with AAD you can managed users in the AAD section of the portal.

[2019-11-11 16:45] #23038 closed

[2019-11-11 16:46] MicahMcKittrick-MSFT commented on #28179
We have opted to not update this doc at the moment. However the comment remains on the doc and if others users find it confusing they can comment and we can always reconsider.

[2019-11-11 16:46] #28179 closed

[2019-11-11 16:46] MicahMcKittrick-MSFT commented on #42417
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-11 16:46] #42417 closed

[2019-11-11 16:46] MicahMcKittrick-MSFT commented on #42419
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-11 16:46] #42419 closed

[2019-11-11 16:50] dlepow commented on #41476
Documentation is now updated to clarify current behavior. Thanks for pointing out the issue!
#please-close

[2019-11-11 16:50] #41476 closed

[2019-11-11 16:51] diberry commented on #42339
@BarryoCathain - do you mean the 3.0 SDK package - as used in code - doesn't have the method? Or do you mean the reference docs don't have that method?

[2019-11-11 16:52] #42518 closed

[2019-11-11 16:54] artisticcheese opened #42554 "Not all recommendations can be onboarded to Logic App"
Example recommendation `System updates should be installed on your machines` can not be onboared or acted upon by LogicApp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f4678a-ede3-4926-8d8b-3d9948704eb8
* Version Independent ID: a3a0e19d-9084-b5d5-0d2d-7a279ef1b2b9
* Content: [Workflow automation (Preview) in Azure

[2019-11-11 16:55] cephalin commented on #42476
#reassign:cephalin

[2019-11-11 16:55] KrishnaG-MSFT commented on #42543
@algattik Thanks for the update.

[2019-11-11 17:02] mattsmall1972 commented on #42029
@arkiaconsulting I reviewed this thread and am a bit confused about your questions.  Let me address what I see:

1) Concerning your statement:
_"Refering to the azure cli documentation, one can generate a SAS token at container level. It would be useful to reflect this use case here, when we need to create a Key Vault SAS definition based on such a SAS token."_

Per [this documenation](https://doc

[2019-11-11 17:03] bandersmsft commented on #42519
@ownniblock Hi. Please see https://azure.microsoft.com/en-us/blog/azure-cost-management-updates-july-2019/#currency It explains how to view costs in different currencies. Keep in mind that Cost Managmenet doesn't convert one currency to another. Instead, it shows billed currencies.
#please-close

[2019-11-11 17:03] #42519 closed

[2019-11-11 17:08] MicahMcKittrick-MSFT commented on #42434
@techiechap you likely need to update the preview extension. I just created a cluster and was able to enable pod security. See below:
[code]

[2019-11-11 17:09] MicahMcKittrick-MSFT commented on #42451
@xSilverboltx I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 17:12] Mike-Ubezzi-MSFT commented on #42056
@OzBob Thank you for this additional detail. It appears there are some gaps in the documentation and will have this reviewed by the documentation team.

[2019-11-11 17:13] MicahMcKittrick-MSFT commented on #42490
@lserpietri thanks for this find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-11 17:13] #42490 closed

[2019-11-11 17:14] MicahMcKittrick-MSFT commented on #42548
@mpasandideh that is correct however for the purpose of this doc we wanted to show users how to create that namespace as well that way they have control over how it is named. It also makes it easier to align to other docs we have. So we will leave the doc as is. We can always reconsider in the future as needed.

[2019-11-11 17:14] #42548 closed

[2019-11-11 17:15] MicahMcKittrick-MSFT commented on #42443
@bradleyruff any update on this?

[2019-11-11 17:16] MonikaReddy-MSFT commented on #42435
Hello @DonFrazier ,
Thank you for reaching out to us.
Please find the Sample of powershell example by calling the Set-AzureRMResource cmdlet with the relevant parameters.
`# Iterate all sites and set the Minimum TLS version to 1.2 (SSL Settings)
Get-AzureRmResource -ResourceType Microsoft.Web/sites | ForEach-Object {
    $params = @{
        ApiVersion        = '2019-11-11'
        ResourceName

[2019-11-11 17:17] SaurabhSharma-MSFT commented on #42549
@azav Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-11 17:18] MicahMcKittrick-MSFT commented on #42461
@bweisberg thanks for this find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-11 17:18] #42461 closed

[2019-11-11 17:18] SaurabhSharma-MSFT commented on #42554
@artisticcheese Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-11 17:20] MicahMcKittrick-MSFT commented on #42467
@mikmikmikmik I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 17:21] SaurabhSharma-MSFT commented on #42553
@artisticcheese Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-11 17:25] DonFrazier commented on #42435
Thanks for this.  Examples with the latest azure powershell module Az will also be helpful going forward.

[2019-11-11 17:30] SaurabhSharma-MSFT commented on #42544
@gate502 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-11 17:31] svangeti opened #42555 "Durable functions support python yet?"
Do we have durable functions supporting python yet? I see this Git here but don't see any documentation on it on this page.
https://github.com/kashimiz/azure-functions-durable-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a3

[2019-11-11 17:31] AlejandroSanchezArocha opened #42556 "Case sensitive code"
In the section from the link below the function is case sensitive and it should be: "sqlContext.read.sqlDB(config)" with DB in upper case.

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-spark-connector#reading-data-from-azure-sql-database-or-sql-server-with-specified-sql-query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-11 17:31] SaurabhSharma-MSFT commented on #42546
@azav Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-11 17:32] surajmb commented on #42210
@ChrisSommers, that's the right understanding. Also, the source IP the backend server sees depends on the backend pool configuration. If the backend pool is a private IP or a domain that resolves to a private IP, the source will be Application Gateway's instance IP addresses (Private). If the backend pool is a public endpoint, then the outbound traffic will be SNATed through the Application Gatewa

[2019-11-11 17:34] SaurabhSharma-MSFT commented on #42540
@JefTek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-11 17:37] mikes-gh opened #42557 "conditional access"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-11 17:37] #42557 closed

[2019-11-11 17:41] PatrickFarley commented on #42287
@ram-msft This is an issue with product behavior, not documentation. Please unassign me

[2019-11-11 17:42] palma21 commented on #39902
That is correct, I'm guessing you have UDRs from the AKS subnet to your firewall which takes precedence for egress instead of the default SLB PIP egress.

We are planning on releasing a feature to disable the automatic IP creation in cases like yours so that IP doesn't add noise/confusion since it won't be used.

Last note, do make sure to check for potential asymmetric routing:
https://docs.micro

[2019-11-11 17:44] seanmcne opened #42558 "Broken links to the github repo for sample"
Example: C# --&gt; .NET Framework is broken, .NET core is broken, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf
* Version Independent ID: 7d902f9e-4f56-30c9-4a39-7d800f92e088
* Content: [Quickstart: Recognize speech from an audio file - Speech Service - Azure Cognitive Service

[2019-11-11 17:51] skantipu commented on #42287
Here is the curl:
`
curl -X POST \
  'https://westus.api.cognitive.microsoft.com/contentmoderator/moderate/v1.0/ProcessText/Screen?autocorrect=false&PII=false&classify=True' \
  -H 'Accept: */*' \
  -H 'Accept-Encoding: gzip, deflate' \
  -H 'Cache-Control: no-cache' \
  -H 'Connection: keep-alive' \
  -H 'Content-Length: 18' \
  -H 'Content-Type: text/plain' \
  -H 'Host: westus.api.cognitive.mic

[2019-11-11 17:53] SwathiDhanwada-MSFT commented on #42255
@bwren We have tried to reproduced the issue from our end. Seems there is a issue when specifying single resource for storing the data of diagnostic logs during a [REST API call](https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettings/createorupdate).

Can you please review the document and update accordingly?

[2019-11-11 17:55] skantipu commented on #42243
@YutongTie-MSFT I think it's a product bug, would appreciate if you can assign the issue to the appropriate team.

[2019-11-11 17:55] DixitArora-MSFT commented on #42552
Hi @orionJag Thanks for reaching out. We will review and update as appropriate.

[2019-11-11 17:56] DixitArora-MSFT commented on #42555
Hi @svangeti Thanks for reaching out. We will review and update as appropriate.

[2019-11-11 17:58] BarryOCathain commented on #42339
Hey @diberry yes I was saying that I couldn't find the ResolveAsync method in the sdk.

Yes, I couldn't see any reference to specific versions of the sdk for matching versions of the endpoint.

[2019-11-11 18:00] owenniblock commented on #42519
Again CCing @owingruters

[2019-11-11 18:14] aolszowka commented on #13087
Pinging @cherylmc Was there updated documentation that intended to ship with the closing of this issue?

[2019-11-11 18:14] GiftA-MSFT commented on #42558
@seanmcne thanks for reaching out. We will review this issue and get back to you shortly.

[2019-11-11 18:20] sergsalo commented on #37362
so, no solution for this? why closed?

[2019-11-11 18:22] Mawazoni commented on #41334
Hi @mprsic , @caleteeter , @AshokPeddakotla-MSFT , @PatAltimore ,

I've fixed the problem with :

ran in an administration window
`npm install -g windows-build-tools`

Source : https://superuser.com/questions/1032689/how-do-i-add-vcbuild-exe-to-windows-10-w-o-visual-studio

[2019-11-11 18:26] MonikaReddy-MSFT commented on #42551
@kumarallamraju ,Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-11 18:26] YutongTie-MSFT commented on #42550
@wukun2015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-11 18:27] GiftA-MSFT commented on #42545
@kishan19 thanks for reaching out. We will review this issue and get back to you shortly.

[2019-11-11 18:27] raduart commented on #42366
Hi @paulbouwer I have repro this issue on customer using 1.3.3 and we got the same problem
a@abc:~/istio-1.3.3$ helm install istio.io/istio --name istio --namespace istio-system --version 1.3.3 \

Error: no kind "Job" is registered for version "batch/v1" in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"
I will repro this installation on another AKS cluster.

But it seems that ISTIO H

[2019-11-11 18:29] NavtejSaini-MSFT commented on #42556
@AlejandroSanchezArocha We are checking this and will get back to you.

[2019-11-11 18:31] christiankuhtz commented on #29719
That's only true if the interface is actually numbered in 127/8. In this case, an additional local interface (loopback) is numbered with the IP address of the frontend IP which is used with a DSR-style addressing or "floating IP" rule.  Source is whatever the original client IP is, destination is the IP address of the frontend. The application binds to the IP address of the frontend IP on the resp

[2019-11-11 18:31] Grace-MacJones-MSFT commented on #42539
Hi @SimonLuckenuik , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-11-11 18:31] jmprieur commented on #42546
@SaurabhSharma-MSFT I'm not the author of this tutorial. @TylerMSFT maybe?

[2019-11-11 18:31] christiankuhtz commented on #29719
@anavinahar fyi

[2019-11-11 18:45] PatrickFarley commented on #42243
@YutongTie-MSFT @skantipu Correct, this is a product bug, please unassign me.

[2019-11-11 18:48] MonikaReddy-MSFT commented on #42322
@wrkettlitz , Sorry for the delay here.

Have you tried restarting after you made the changes to configuration file.
If not, please try to do that and see if it helps.

Also please take a look at this doc for more reference. [Disable Cors Attribute](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.cors.disablecorsattribute?view=aspnetcore-3.0)

I hope this information helps. Please

[2019-11-11 18:49] azav opened #42561 "After clicking Sign Out and then clicking the Call Graph API again, the selected user is still listed as being logged in."
iOS, Xcode 10.3.

Simply put, Sign Out doesn't.  The user is still listed a "Signed in" on the presented web page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089256563f5
* Content: [Getting started with iOS and macOS - Microsoft

[2019-11-11 18:50] azav opened #42562 "Explain what token caching and keychain sharing does and doesn't do."
How does this affect multiple users?  Does it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089256563f5
* Content: [Getting started with iOS and macOS - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-di

[2019-11-11 18:58] SnehaGunda commented on #42227
@FrankGagnon Here is the response we got from our product team for your second question.

There is no more 400 RU/s minimum per container or database. The lowest possible maximum throughput that we currently support is 4000 RU/s(and not 1000RU/s). If you use that option, during the night and weekends you will be paying for 400 RU/s(10% of the provisioned value).

Note that the screenshot in the do

[2019-11-11 18:58] SnehaGunda commented on #42227
We will close this issue if there aren't further questions.

[2019-11-11 19:00] MonikaReddy-MSFT commented on #41931
@paulpce ,We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-11 19:00] #41931 closed

[2019-11-11 19:06] SnehaGunda commented on #42227
#please-close

[2019-11-11 19:07] #42227 closed

[2019-11-11 19:12] Adam-Smith-MSFT commented on #41706
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-11 19:12] #41706 closed

[2019-11-11 19:12] Adam-Smith-MSFT commented on #42251
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-11 19:12] #42251 closed

[2019-11-11 19:13] Adam-Smith-MSFT commented on #42350
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-11 19:13] #42350 closed

[2019-11-11 19:14] AjayKumar-MSFT commented on #41645
I’m excited to share the great **[session](https://myignite.techcommunity.microsoft.com/sessions/81601)** by Christian Compy on ‘Web app network security made easy’  presented at Microsoft Ignite 2019- This session discusses and demonstrate new features of App Service at network level. Learn how to combine features to satisfy your specific application networking requirements with either the multi-

[2019-11-11 19:18] Adam-Smith-MSFT commented on #42475
@yckwan It doesn't have any extra costs when enabling the secure transfer option :)
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-11 19:18] #42475 closed

[2019-11-11 19:20] Karishma-Tiwari-MSFT commented on #42557
Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-11-11 19:20] ahmedelnably commented on #42514
@agowdamsft There are two ways to authenticate (you should choose the one you prefer):
1- Using Service Principal
2- Using the Publishing Profile

The Configure the GitHub secret, the screen shot gives you the guidance on how to reach the secrets page in GitHub. I could add a new screenshot that has the same flow but for the publish profile route, but I believe it may actually confuse the reader.

[2019-11-11 19:35] MashaMSFT commented on #34315
Hi @CeciAc  and @Cedric-Bravo , it's been some time since we've heard from  you so we'll assume your question was addressed and close out the Git Issue. Please let us know if there is anything more we can do for you.

Thanks and hope you both have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2019-11-11 19:35] #34315 closed

[2019-11-11 20:02] davidcorrigan714 opened #42565 "Authorizing multiple scopes"
I'm trying to authorize multiple scopes for a script and having trouble with multiple scopes. If I hit the /devicecode endpoint with two scopes "offline_access 499b84ac-1321-427f-aa17-267ca6975798/user_impersonation https://management.azure.com/user_impersonation" the flow works fine for the user. They go to the site, log in, accept all the scopes and it says they're logged in. Then the /token enp

[2019-11-11 20:03] techiechap commented on #42434
@MicahMcKittrick-MSFT  Thank you,

 az : WARNING: The behavior of this command has been altered by the following extension: aks-preview
At line:1 char:1
+ az aks update `
+ ~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (WARNING: The be...on: aks-preview:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

ERROR: Operation failed with status: 'Bad Request'. De

[2019-11-11 20:08] ElanShudnow opened #42566 "You do need agents installed for Microsoft Peering"
This sentence contradicts other part of the document, "Install and configure software agents. (If you only want to monitor over Microsoft Peering, you do not need to install and configure software agents.)"

The Microsoft Peering section later in the document talks about the agents on-premises need to be able to reach the target Microsoft Peering service in order for it to work.

The first paragra

[2019-11-11 20:10] MicahMcKittrick-MSFT commented on #42434
So the cluster you are trying to enable it on is not setup as an RBAC cluster. If you want to use this feature you have to create an RBAC cluster

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create

![image](https://user-images.githubusercontent.com/32313503/68617472-37fced80-047c-11ea-97c7-904ae770f2cc.png)

I use an internal subscription so this is default for me

[2019-11-11 20:13] kabhari opened #42567 "Minor typo in documentation"
Minor typo:
In `Note`: `When creating an AKS cluster a second resouce group is...` **resource** is misspelled.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart: Deploy an Azure Kubernetes Service clu

[2019-11-11 20:13] techiechap commented on #42434
@MicahMcKittrick-MSFT  Thanks,

I created AKS cluster to check Pod Security policy, how they work, sure i will recreate it, i am not sure if policy can be enabled on the existing clusters?
What if i have some other production clusters? can i enable policy on them ?

[2019-11-11 20:14] artisticcheese opened #42568 "Log Analytics contents are inconsistent for missing updates"
There are 2 tables one is called `Update` and `UpdateSummary`. Second table only contains Windows Machines and no Linux ones. First table contains both Linux and Windows but there is no way to properly query missing updates since table does not have unique ID for each so you end up with a lot of duplicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-11-11 20:15] Jeremy919 opened #42569 "Release date for 1.4.32.0"
Release date for 1.4.32.0 should be 11/11/2019 instead of 8/11/2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-dire

[2019-11-11 20:18] SnehaGunda commented on #41074
@kuniteru Thanks for pointing out the issue, I have reached out to our Dev team for updated methods to achieve the same functionality. I will update the doc when I have all the required details.

[2019-11-11 20:18] MicahMcKittrick-MSFT commented on #42434
You can't enable it after the fact. It has to be done during creation.

You could enable it on other clusters however the feature is in preview so it shouldn't be used on production clusters.

If you look through the sames and outputs in the doc for pod securities you will see they have rbac.XXXX

[code]

[2019-11-11 20:26] rbochz28 opened #42570 "Azure ML tutorials are broken"
Every Azure ML tutorial involving the azureml.opendatasets package does not work. Cannot access data set to go through tutorial.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tut

[2019-11-11 20:27] rbochz28 commented on #42570
Same issue with this tutorial: https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-auto-train-models

[2019-11-11 20:30] NavtejSaini-MSFT commented on #42117
@LuisGonzalezLT We have checked this our team and they responded:
"The new policy impacts the future backups only. In general, the backups are deleted based on the expiration date set for them by the policy in effect at the time of creation. So going forward, the weekly backups will be set to expire in 1 year. The old backups will expire in 10 years since the creation of each. If the 10-year backu

[2019-11-11 20:31] #42117 closed

[2019-11-11 20:32] tfitzmac commented on #42047
@ChristoferLee - thanks for this feedback. I have submitted an update to the article with the latest list of resource providers. It should be published this afternoon.

[2019-11-11 20:32] tfitzmac commented on #42047
#please-close

[2019-11-11 20:32] #42047 closed

[2019-11-11 20:33] techiechap commented on #42434
@MicahMcKittrick-MSFT  I will update you once my terraform template recreate the AKS cluster

[2019-11-11 20:34] cherylmc commented on #13087
We added multiple troubleshooting articles in the past year that directly/indirectly VPN issues.

[2019-11-11 20:34] mikes-gh commented on #42557
Opened by mistake please ignore

[2019-11-11 20:36] agowdamsft commented on #42514
@ahmedelnably the image you have here refers to publishing profile/SCMCREDS https://docs.microsoft.com/en-us/azure/azure-functions/media/functions-how-to-github-actions/get-publish-profile.png based approach when the rest of the content just goes over the Azure Creds based adding to this confusion (you cant use any publishing profile details). You either keep this page on Azure Creds based or add

[2019-11-11 20:37] MicahMcKittrick-MSFT commented on #42434
Sounds good. I think making a note that it requires RBAC would be good in the doc as well so I will work on adding that.

[2019-11-11 20:39] MicahMcKittrick-MSFT commented on #42567
@kabhari thanks for the find! I corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-11 20:39] #42567 closed

[2019-11-11 20:53] dtjensen commented on #42377
Okay - so more information.  If I move the files within the container, rather than let the container load them just from the mount point, the web service does not load correctly and I do not get any debug logging in the console from the LUIS container.  So, it seems that it's ONLY happy when loading the files from the host mount point.

Please let me know if there's another way around this, using

[2019-11-11 20:56] andriysavin commented on #31973
The issue is that the sample code uses incorrect expression: "samples-workitems/{myQueueItem}". Here, the runtime cant resolve the "myQueueItem". If you take a look at the referenced article on binding expressions here https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#trigger-metadata , you'll see that instead "myQueueItem" you should use "QueueTrigger"

[2019-11-11 20:56] trevorbye commented on #42382
@alwortman looks like this notebook got removed entirely. Change will be live soon but for now you can use this one instead to unblock you: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/regression/auto-ml-regression.ipynb

@GiftA-MSFT you can close this issue

[2019-11-11 21:02] dtjensen commented on #42444
I had the API key wrong.  Once I changed it, the error was resolved.

[2019-11-11 21:02] #42444 closed

[2019-11-11 21:04] #42050 closed

[2019-11-11 21:07] johnadali commented on #42270
@PatrickFarley Hi Patrick, do you have any updates on this issue? Please let me know.

Thank you,
John

[2019-11-11 21:07] ahmedelnably commented on #42514
The preferred way is to use the service principal. There is a note in the article that says "You do not need to create a service principal if you decide to use publishing profile for authentication."

We need to explain both auth ways in the same article. I will move the note about authentication to the sections table.

[2019-11-11 21:12] MonikaReddy-MSFT commented on #42435
@DonFrazier ,Sure, I am glad I was able to resolve your issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-11 21:12] #42435 closed

[2019-11-11 21:20] andrePKI commented on #29719
@christiankuhtz Thank you for your explanation. I understand how this works. Still the word loopback may lead people like me and @jamesalroy  to think about 127/8 and RFC 3330. But by now I also understand that with Windows server network config this term is used for many years and is not new.

[2019-11-11 21:22] cherylmc commented on #42535
#reassign:anzaman

[2019-11-11 21:28] sladeedmonds opened #42571 "Please describe the steps required to remove a resource that doesn't exist from Azure Security Center"
Several months ago I deployed a Resource Group with a VM in it running Docker.  This VM ran Docker for several weeks and then the RG and VM were completely removed.  Today still, ASC is reporting "vulnerabilities in container security configurations should be remediated".  On the affected resources blade, the originally deployed RG and VM are still shown.  Again, these resources were removed month

[2019-11-11 21:29] anzaman commented on #42211
The link is in our documentation at https://docs.microsoft.com/azure/vpn-gateway/openvpn-azure-ad-tenant.

Also, you should be able to search the store for "Azure VPN CLient"

[2019-11-11 21:32] cherylmc commented on #42211
Are you using the link that is on this page that talks about Working with client profiles? Because that's the right link. https://docs.microsoft.com/azure/vpn-gateway/openvpn-azure-ad-client#profile
I can make it a bit more apparent because it seems like you've blasted right past this, which can happen in a long doc.

[2019-11-11 21:33] christiankuhtz commented on #29719
No problem. Thank you for the feedback. We have a doc backlog item to provide how to instructions for this scenario.  This document is primarily intended to provide an overview of the functionality in the context of using multiple frontends and how to navigate the scenarios.

[2019-11-11 21:39] roygara commented on #42501
@ramadarla Thanks for reaching out. Throughput is calculated differently for a standard file share than a premium file share. That's why the premium-specific rows refer to the standard-specific row in the standard file share column, and vice-versa. Premium file shares break it out by ingress/egress whereas standard use an all up throughput target. This information is in the table.

Please let us k

[2019-11-11 21:39] wpbrown opened #42572 "Evaluating Capacity section should clarify what uses capacity"
This Evaluating capacity section should clarify what does (and does not) go in to calculating the total capacity required. The index is stored in the capacity and its size is dependent on the input. What of the input though? Is the original input stored in Azure Search such that the capacity required is the input size + index size? The wording of the documentation will lead you to think you need a

[2019-11-11 21:53] MarileeTurscak-MSFT commented on #42492
Hi @vhurryharry

The default is 1 hour - after 1 hour, the client must use the refresh token to (usually silently) acquire a new refresh token and access token. You can set the AccessTokenLifetime. The default is 1 hour, the minimum is 10 minutes, and the Maximum is one day.  https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Example:

1.

[2019-11-11 21:53] #42492 closed

[2019-11-11 21:53] PatAltimore commented on #42485
@mjtpena Thanks for the feedback. The requirements are in the Quickstart prerequisite. I did have them listed in the tutorial but felt I could reduce some scrolling and repetition. But it sounds like it would be helpful to put it back. I'm working on improvements to the installation information. I'll put it in the tutorial too.

Thanks,
Pat

[2019-11-11 21:57] owingruters commented on #42519
My client is being billed in CAD. Still I see this only in euro's

On Mon, Nov 11, 2019 at 7:01 PM Owen Niblock <notifications@github.com>
wrote:

[2019-11-11 21:59] PedroLuz89 commented on #32504
Let us not forget a sample for this guys, thank you in advance!

[2019-11-11 22:02] szolla opened #42573 "VPN Zip File information incorrect"
Whenever I attempt the steps on our existing P2S VPN gateway, i only get the following 3 folders: generic, WindowsAmd64, and WindowsX86.  Is there some setting that is required within the P2S VPN Gateway?  Otherwise this doesn't work and I cannot get the new Azure VPN Client to work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-11 22:03] FrankHu-MSFT commented on #42319
@Farzad-Jalali it would look like the following below.

If you need anymore help in regards to this issue, I would suggest filing a uspport ticket for further engagement.

The request will have the following values per your example.

client_id=6731de76-14a6-49ae-97bc-6eba6914391e
&scope=user.read%20openid%20profile%20offline_access%20<URL_ENCODED_APP_ID_URI>/user_impersonation
&username=MyUsername

[2019-11-11 22:03] #42235 closed

[2019-11-11 22:04] #41371 closed

[2019-11-11 22:05] #41860 closed

[2019-11-11 22:10] Dagizmo opened #42574 "Download a directory error and other issues"
Hello

The section of Download a directory is displaying wrongly

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files#download-a-directory

Download a file syntax display the &lt;SAS-token&gt; template twice.

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files#download-a-file

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-11-11 22:12] PatAltimore commented on #41334
Thanks @Mawazoni,

I'm working on updating the prerequisite instructions. I hope to have the information published soon. Thanks for the feedback.

Pat

#in-progress

[2019-11-11 22:18] anzaman commented on #42573
You need to enable OpenVPN and Azure AD authentication on the gateway. Please see https://azure.microsoft.com/updates/aad-support-in-vpn/preview for details

[2019-11-11 22:18] anzaman commented on #42573
You need to enable OpenVPN and Azure AD authentication on the gateway. Please see https://azure.microsoft.com/updates/aad-support-in-vpn/preview for details

[2019-11-11 22:21] zr-msft commented on #39892
thank you for the feedback @robrich

I have added a work item to update the sample application.

#please-close

[2019-11-11 22:21] #39892 closed

[2019-11-11 22:22] HeidiSteen commented on #41608
Hi everyone, this documentation has nothing to do with Azure Cognitive Search (recently rebranded from Azure Search).  Can you remove the "search/svc" label?  Due to its labeling, this issue is showing up in our queue but its not actionable.

[2019-11-11 22:23] FrankHu-MSFT commented on #42127
hey @shadewlkr I'm following up in regards to this issue. I see that this issue was resolved and answered here : https://github.com/MicrosoftDocs/azure-docs/issues/42126

do you have anymore questions in regards to this?
Or would it be fine to go ahead and close out this issue as a duplicate.

[2019-11-11 22:24] TravisCragg-MSFT commented on #42507
@NormCooke As is discussed [Here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview#why-use-standard-load-balancer), Load Balancer backends can only be Virtual Machines. [Azure SQL DB](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-technical-overview) cannot be a backend for an Azure Load Balancer.

We will now proceed to close this thread. If t

[2019-11-11 22:32] cherylmc commented on #42211
#please-close

[2019-11-11 22:32] #42211 closed

[2019-11-11 22:35] Mike-Ubezzi-MSFT commented on #41608
@timwoelfle We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-11-11 22:35] #41608 closed

[2019-11-11 22:37] TravisCragg-MSFT commented on #42491
@Biju-Joseph It is recommended to do VNET-VNET connections in different subscriptions using PowerShell and the CLI.

I believe there are steps which will usually work in the portal, but it is best to do it in PowerShell or the CLI.

[2019-11-11 22:47] tchristiani commented on #41901
Added to the backlog.
#please-close

[2019-11-11 22:47] #41901 closed

[2019-11-11 22:49] YutongTie-MSFT commented on #42570
@rbochz28
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-11 22:50] tchristiani commented on #42243
This is a product issue. Please submit your issue to the appropriate forum: https://cognitive.uservoice.com/forums/559960-content-moderator and close this doc issue.
Thank you.

[2019-11-11 22:53] YutongTie-MSFT commented on #42243
@PatrickFarley @tchristiani I will do that. Thanks.
@skantipu Thanks for your feedback again, I saw your asking in the User Voice channel. We appreciate your effort.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-11 22:53] #42243 closed

[2019-11-11 22:54] tchristiani commented on #42287
This is a product issue not a doc issue. Please file this with the appropriate product forum: https://cognitive.uservoice.com/forums/559960-content-moderator and close this issue.
Thank you

[2019-11-11 22:56] hugobarona opened #42576 "In the Performance Recommendations documentation is not clear what are the SQL database services that provide this feature. So, do Managed Instance Databases provide this feature? Or only SQL Databases and Elastic Pools?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-11 23:03] BharathNimmala-MSFT commented on #42360
@pookus Thanks again for bringing this to our attention. The issue has been fixed and the document is live with the changes needed. Please revert back if you have any questions.

@spelluru Thanks for reviewing the PR and helping close the issue.

[2019-11-11 23:03] #42360 closed

[2019-11-11 23:05] roygara commented on #41859
@smithcl167 Thanks for reaching out, if you have any further questions please let us know. Otherwise we'll close this issue in two days.

[2019-11-11 23:06] TravisCragg-MSFT commented on #41981
@michelamarie You can detach a public IP and attach it to a different NIC at any time, however there will be a downtime associated with the operation. This can be done programatically with PowerShell or the CLI.

I am not familiar with Keepalived or HAProxy, but you can [review this resource template of setting up HAProxy on Azure](https://azure.microsoft.com/en-in/resources/templates/haproxy-redu

[2019-11-11 23:09] SaurabhSharma-MSFT commented on #42413
@TechieWorld I do not think it is not possible as it is by design. However, I am checking it internally if this is possible or any other alternatives.

[2019-11-11 23:11] KranthiPakala-MSFT commented on #42427
@mikeblakeuk We can at least run a pre-script to clean up data before rerun to achieve idempotency.

[2019-11-11 23:18] soheil-moosavi-accenture opened #42577 "Error fixed"
If you get the following error:
notebook:25: error: Static methods in interface require -target:jvm-1.8
val messageData = EventData.create(message.getBytes("UTF-8"))

notebook:19: error: Static methods in interface require -target:jvm-1.8
val eventHubClient = EventHubClient.create(connStr.toString(), pool)

Solution: is to change cluster's "Databricks Runtime Version" to a higher version such as R

[2019-11-11 23:27] foobarnum commented on #36274
You closed this without updating as to when this feature was planned. When is this limitation going to be removed

[2019-11-11 23:40] vipeller commented on #40855
I managed to reproduce it updating TemperatureFilter to Microsoft.Azure.Devices.Client 1.21.1 - it stopped working with the update. Looking into it.

[2019-11-12 00:15] KranthiPakala-MSFT commented on #42427
There is no sliceIdentifierColumnName option in ADF V2 for SqlSink. You can leverage the preCopyScript or using StoredProcedure to achieve this.

[2019-11-12 00:15] papabee commented on #41583
Hello,
We also need clarity on this, we are creating a centralized authentication service with azure webapps to query our on premise AD(ldap/ldaps) to accept logins for our site. It works until we deploy to azure and the domain cannot be found. Does either vnet integration support ldap queries?

[2019-11-12 00:18] roygara commented on #41277
@jgwinner I heard back from the product team. That Access policy is set automatically, it's so that the SAS can be recalled. It's only used if you use [GetSharedAccessPolicy](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.file.cloudfile.getsharedaccesssignature?view=azure-dotnet#Microsoft_Azure_Storage_File_CloudFile_GetSharedAccessSignature_Microsoft_Azure_Storage_File_Shared

[2019-11-12 00:42] NormCooke commented on #42507
You missed my point. This is an illustration in the article, how is this possible?

[cid:image003.jpg@01D598C8.1CC102B0]

Norm Cooke

From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, November 11, 2019 5:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] H

[2019-11-12 00:50] RyanHill-MSFT commented on #42236
@DavidJFowler, can you provide more information? Is the web app a .NET, NodeJs, or something else? Did you follow tutorial to establish an Azure SignalR Service or are you trying to self-host? Is the web app the signlar host or a client? Are you able to establish a connection of `ws://` rather than `wss://`? What about over `http://`? Since you're trying to establish a secure web socket, did you e

[2019-11-12 00:51] TravisCragg-MSFT commented on #42507
@NormCooke Azure Load Balancers can distribute to SQL Servers (or any other database) that are installed on VMs in Azure. Because Azure SQL DBs do not exist inside your VNET and are not on VMs, you cannot use them for backend pools.

I take it you are referring to the concept that databases that do not natively sync cannot be load balanced?

[2019-11-12 00:54] TravisCragg-MSFT commented on #42573
@szolla can you link the steps that you are following and what you expect to be in the folder?

[2019-11-12 00:54] pbous123 opened #42579 "issue with gatewaysubnet creation"
when I follow this step by step the gatewaysubnet was created without an ID and therefore the creation of the VPN gateway failed - I had to run

$subnet = New-AzVirtualNetworkSubnetConfig -Name "GatewaySubnet" -AddressPrefix 10.0.0.0/24
$vnet = New-AzVirtualNetwork -Name vnet1 -ResourceGroupName testrg2 -Location eastus -AddressPrefix 10.0.0.0/16 -Subnet $subnet
$vnet = Get-AzVirtualNetwork -Name

[2019-11-12 00:55] NormCooke commented on #42507
Yes the illustration is wrong, I teach Azure classes and this illustration is all over the courseware. I have to explain to the students that illustration is wrong. Please fix this illustration.

Norm Cooke

From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, November 11, 2019 7:51 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Ment

[2019-11-12 00:57] TravisCragg-MSFT commented on #42507
@NormCooke I am re-opening the issue and assigning to the author to update to a realistic example.

[2019-11-12 01:08] wangdfgithub opened #42581 "Add the caveats in "how-to-access-data.md" to share customer the truth symlink is not supported for using blob"
Add the caveats in "how-to-access-data.md" to share customer the truth symlink is not supported for using blob.

Feedback
==========
In the documentation for Azure Machine Learning Service https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-access-data the document shall clearly tell customer with a caveats in section of "Accessing source code during training", the symlink is no

[2019-11-12 01:11] CodeHighlights opened #42582 "Item Size Limitation"
The article linking this page, https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits, states that each item is limited to 2 MB (UTF-8 length of JSON representation) in size and that this page would offer advice on how to model around that. This page doesn't talk about that, only performance.

If a blog post's content was large enough to exceed the 2 MB size limit, what are ways to model

[2019-11-12 01:15] avi2183 opened #42583 "Pipeline Runs for 6 Hours or hung"
Environment: Azure Data Factory

One of the Pipeline which execute two sub pipelines runs for more than 6-7 hours. and Sometime Cancellation of these pipelines doesnt work either. I tried to cancel pipeline when saw they were runing for more tan 4 hours. it didnt cancelled or no response at all.

May i check if there is any troubleshooting steps to check whats happening behind the scene or some va

[2019-11-12 01:21] J-Fedor commented on #42569
actually looks like should be 11/8/2019 based on https://www.microsoft.com/en-us/download/details.aspx?id=47594 - guessing someone did day/month/year instead of month/day/year

[2019-11-12 01:21] paulbouwer commented on #42366
@raduart - there is a bug in Helm `2.16.0`. Please ensure you use Helm `2.15.2`.

See the following [Issue #6894 - No kind Job is registered for version batch/v1](https://github.com/helm/helm/issues/6894)

This is fixed in [PR #6897 - fix(kube): Fixes missing API versions](https://github.com/helm/helm/pull/6897) and will be available in Helm `2.16.1`.

[2019-11-12 01:38] femsulu commented on #42292
@yashevi - friendly reminder to add this to the Backlog.

@hpranav
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-12 01:38] #42292 closed

[2019-11-12 01:41] scyto commented on #31168
@MicahMcKittrick-MSFT this is the most confusing document i have ever read, it took 3 reads to realize the Num Words and Min Length were variables - I thought i had to run the wordcount container.  Can i suggest breaking this doc down into scenarios for the unitiated.
1. set variables on create (and use examples lie VarName and VarValue - not the name of greeks
2. modify variables on created conta

[2019-11-12 01:57] MarileeTurscak-MSFT commented on #42571
@sladeedmonds
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 01:59] kyanagimoto commented on #42128
Hi, @paulbouwer

I have a question about "--network-plugin azure" option.
Is it required?

I used "kubenet" for this option, but after change to "azure", istio installation works.

Thanks.

[2019-11-12 02:08] trevorbye commented on #42570
@rbochz28 I just tested on newest SDK version 1.0.74 and the imports work fine for all tutorials. There have a been a lot of changes recently so there could be broken dependencies in your environment. Run `pip install azureml-opendatasets==1.0.74` in a fresh env and give it another try.

[2019-11-12 02:12] jgwinner commented on #41277
I wasn’t configuring SAS, at least to my knowledge.

I did a very, very basic setup.

Brand new O365 client.

Fairly vanilla On-Prem AD.

Setup Azure File Sync.

After setting up the Azure File Sync, went to see what permissions were on the file.

Saw GhostedRecall.

I’m not using any custom code, c# or otherwise. Just the vanilla control panels.

        == John ==

[2019-11-12 02:13] Huemain opened #42584 "Installing AADLoginForWindows on VM created from Image"
Is there any obvious reason why the AADLogin cannot be installed on a windows 10 (1903) VM created from an image where AAD login was enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Sign in to Windows

[2019-11-12 02:18] SinghGurd opened #42585 "More details required about how Approvals work"
Documentation doesn't state what type of Approval is configured e.g. If setting multiple approvers, does approval completes as soon as one of them approve or deny. Additionally, nothing on whether approval behaviour can be changed e.g. serial vs parallel or require approval from at least two users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-12 02:31] jeffhollan commented on #33780
As part of general docs refactoring we removed this sample and show cross-app communication via HTTP.  Thanks for reporting. #please-close

[2019-11-12 02:31] #33780 closed

[2019-11-12 02:32] jeffhollan commented on #34932
Thanks - as part of general docs refactoring we removed this sample.  Appreciate you reporting.

#please-close

[2019-11-12 02:32] #34932 closed

[2019-11-12 02:35] jeffhollan commented on #40126
I don't believe there are any checks in the runtime itself against these libraries.  But will confirm.  All the checks happen on the platform the runtime is running on.  I cannot think of any reason you wouldn't be able to use a .NET Core Linux compatible library within Azure Functions in Kubernetes (or running in a custom container on any hosted platform - Azure Functions Premium included)

[2019-11-12 02:35] KalyanChanumolu-MSFT commented on #42582
@CodeHighlights Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-11-12 02:44] kariyukisusumu opened #42586 "Can we test like a Dos attack?"
In this page, BreakingPoint Cloud is described.
But it seems that this is inconsistent with below

https://www.microsoft.com/en-us/msrc/pentest-rules-of-engagement?rtc=2
-&gt;The following activities are prohibited:
    Performing any kind of denial of service testing.

https://docs.microsoft.com/en-us/azure/security/fundamentals/pen-testing
-&gt; One type of test that you can’t perform is any kin

[2019-11-12 02:53] KranthiPakala-MSFT commented on #42577
@soheil-moosavi-accenture Thanks much for sharing your findings. This information is very helpful for those who come across this issue. Appreciate for taking time and sharing your insights.

Since there is no action required at the moment I will go head and close this issue. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly conti

[2019-11-12 02:56] unikisi commented on #42521
Our scenario:
We are using blob SDK to upload files along with metadata. Our metadata include os version, instrument id, product, etc..

Now we want to use IoTHub to connect instrument side and server side. In IoTHub, we associate with an azure storage, so when we upload files to iothub, the files go to storage. But when we use iothub sdk to upload files, we cant find any property settings for a f

[2019-11-12 03:07] ram-msft commented on #42287
@skantipu Please file the issue in the following content-moderator [ user voice forum](https://cognitive.uservoice.com/forums/559960-content-moderator) so the community can vote and provide their feedback,the product team then checks this feedback and implements this in future releases.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2019-11-12 03:07] #42287 closed

[2019-11-12 03:29] jeffhollan commented on #40126
Also note that there are likely system dependencies you'll need to include in the docker environment for this to work.  But the runtime isn't blocking them.

https://github.com/dotnet/dotnet-docker/issues/618#issuecomment-537253642

[2019-11-12 03:37] paulwrussell commented on #42379
Im getting the same for a function that was working earlier today.

Version: 1.40.0
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:09:34.601Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

[2019-11-12 03:44] VikasPullagura-MSFT commented on #42310
@aripuisto The link is fixed now. I am proceeding on closing this issue.

[2019-11-12 03:44] #42310 closed

[2019-11-12 03:52] SumanthMarigowda-MSFT commented on #42547
@ctimon Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-12 04:01] shashishailaj commented on #42569
@Jeremy919 Thank you for pointing  out the typo . We have initiated a pull request and this will be changed.

[2019-11-12 04:03] shashishailaj commented on #42569
@J-Fedor You are absolutely correct. I have corrected the same and this shall be visible in the next release cycle in 24-48 hours. We will now close this issue.

Thank you.

[2019-11-12 04:03] #42569 closed

[2019-11-12 04:05] shashishailaj commented on #42561
@azav Thank you for your query. We will investigate and update this thread.

[2019-11-12 04:07] shashishailaj commented on #42568
@artisticcheese Thank you for your feedback. We will investigate and update this further.

[2019-11-12 04:08] shashishailaj commented on #42565
@davidcorrigan714 Thank you for your feedback . We will investigate and update this thread.

[2019-11-12 04:09] shashishailaj commented on #42562
@azav Thank you for sharing your query . We will have this checked with the content author if this information can be incorporated in the current document.

[2019-11-12 04:11] ram-msft commented on #42035
@rohancragg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 04:11] #42035 closed

[2019-11-12 04:12] shashishailaj commented on #42585
@SinghGurd Thank you for your query . We will investigate and update this thread.

[2019-11-12 04:13] shashishailaj commented on #42584
@Huemain Thank you for your query . We will investigate and update this thread.

[2019-11-12 04:17] DixitArora-MSFT commented on #42380
@yodies Just following up here... Hope my previous comment helps.

[2019-11-12 04:17] shashishailaj commented on #42586
@kariyukisusumu Thank you for your query. We will investigate the feasibility of this and update the thread.

[2019-11-12 04:19] rbochz28 commented on #42570
I’m simply going into the Azure portal machine learning studio and using the environment that’s automatically created when I open a new notebook. How can I modify the install using the pre-built environments?

[2019-11-12 04:21] shashishailaj commented on #42583
@avi2183 Thank you for your feedback . We will investigate and update this thread further.

[2019-11-12 04:23] shashishailaj commented on #42574
@Dagizmo Thank you for pointing this out. We will investigate and update the thread further.

[2019-11-12 04:25] shashishailaj commented on #42579
@pbous123 Thank you for your feedback . We will investigate and update the thread further.

[2019-11-12 04:30] shashishailaj commented on #42572
@wpbrown Thank you for your feedback . We will investigate and update the thread further.

[2019-11-12 04:31] shashishailaj commented on #42581
@wangdfgithub Thank you for your feedback . We will investigate and update this thread further.

[2019-11-12 04:45] shashishailaj commented on #42576
@hugobarona Thank you for your query. Could you please confirm if your query is about some content on the performance recommendations page https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor . It would give us some more clarity in order to take this further.

Thank you.

[2019-11-12 04:55] PramodValavala-MSFT commented on #42305
@xnicolaguarinox Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 04:55] #42305 closed

[2019-11-12 05:02] AshokPeddakotla-MSFT commented on #42218
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 05:02] #42218 closed

[2019-11-12 05:05] AshokPeddakotla-MSFT commented on #42267
@aisbergde Glad to hear that it was helpful. Adding author @robinsh for further review and update the doc if needed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 05:05] #42267 closed

[2019-11-12 05:12] DixitArora-MSFT commented on #42555
Hi @svangeti Durable Functions 2.0 is GA for C# and JavaScript and contains new functionality in Durable Entities and support for consuming HTTP APIs in the orchestration trigger binding but no official information about Python.

https://azure.microsoft.com/en-gb/updates/new-version-of-durable-functions-available-now/

[2019-11-12 05:13] AshokPeddakotla-MSFT commented on #42325
@jaypaddy Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 05:13] #42325 closed

[2019-11-12 05:14] jackiejaiau commented on #41645
Thanks for your feedback.
Basically vnet intergration will be planned GA in Dec 2019!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AjayKumar-MSFT <notifications@github.com>
Sent: Tuesday, November 12, 2019 3:15:01 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jackiejaiau <jackiestoneage@hotmail.com>; Mention <mention@noreply.github.c

[2019-11-12 05:14] amanmcse commented on #42529
@dipesh-wadhwa, ID Token is used to prove that the user is authenticated and it can be exchanged to get an Access Token. Access token is the token that includes permissions (for authorization) in the form of Roles/Scopes and by using Access token, users/applications get access to the resources/APIs. please refer to [ID Token](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-token

[2019-11-12 05:20] kariyukisusumu commented on #42586
Thank you for your quick reply. I'm waiting for any update.

[2019-11-12 05:22] balboa41 opened #42587 "Error on command SANPOLICY=ONLINEALL"
On the part that has the command to prepare the disks to be set as Online, the command reads:
SANPOLICY=ONLINEALL

But that doesn't work. We need to use "SAN Policy=OnlineAll" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fd6730c-cbee-156b-a606-767a18a590b8
* Version Independent ID: 698c2b92-470f-d885-a095-9

[2019-11-12 05:30] jachin84 opened #42588 "No 'Top' parameter for Search-AzGraph"
The cmdlet Search-AzGraph does not have a top parameter as described in the pagination section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d581716-3b0e-fe98-411c-4c68adc86f82
* Version Independent ID: 608549b3-64dc-162a-9853-0ad766fa1ca7
* Content: [Guidance for throttled requests - Azure Resource Graph](https://d

[2019-11-12 05:38] ChiragMishra-MSFT commented on #42513
@Kannancsq Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suite

[2019-11-12 05:38] #42513 closed

[2019-11-12 05:43] SwathiDhanwada-MSFT commented on #42537
@JnHs I couldn't also find the role "Managed Services Registration Assignment Delete Role" from azure portal. Is it visible only for the customers who has on boarded To Azure resource delegate management  or does the role doesn't exist yet?

[2019-11-12 05:53] ManojReddy-MSFT commented on #42565
@davidcorrigan714 Are you suggesting this as a feature request? I am a bit confused about the ask.

AFAIK, you can receive an access token for only one resource at a time and it can contain multiple scopes. So, having multiple scopes from multiple resources at the same time is causing the issue in your scenario.

[2019-11-12 06:19] davidcorrigan714 commented on #42565
It's a feature request on the token endpoint (unless there is another way to this that I'm not understanding). The problem is that the device code endpoint is essentially a two in one. It's using the scope parameter to both prompt the user to authorize the desired scopes, and specify the desired access tokens. Prompting the user allows multiple scopes, but getting the access tokens does not. So by

[2019-11-12 06:21] DixitArora-MSFT commented on #42552
Hi @orionJag Please try Azure Functions for Visual Studio Code  extension.

https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions

[2019-11-12 06:23] DixitArora-MSFT commented on #42528
@craigshoemaker  Any inputs in this ?

[2019-11-12 06:25] ManojReddy-MSFT commented on #42487
@nauxliu Can you share the expression you are using in the attribute mappings section. This will help me reproduce the issue in my lab.

[2019-11-12 06:38] KetanChawda-MSFT commented on #42393
@basilwong Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 06:38] #42393 closed

[2019-11-12 06:40] paulpce commented on #39856
I'm also facing this issue - I can't lock down access to back end IP addresses that *might change*, but I won't know if it changes unless I *manually download the ranges document and manually check it against what I have configured, weekly*.  Sorry, but this is a horrible workaround.  It makes any service protected by AFD brittle, while NOT implementing this completely nullifies any traffic protec

[2019-11-12 06:43] amanmcse commented on #42134
@abj-immeo, Where do you see mail#[user name]. Could you please share a screenshot or an example of what user name is getting generated?

[2019-11-12 06:43] msrini-MSFT commented on #42586
@kariyukisusumu , yes your understanding is correct. You need to fill the [form ](https://portal.msrc.microsoft.com/en-us/engage/pentest#pentestterms)to notify Microsoft that you are performing penetration test with the IPs that you are performing the test against. Then you can use BreakingPoint cloud to generate traffic against DDoS protection enabled Public IP addresses. Make sure you are not se

[2019-11-12 06:58] nauxliu commented on #42487
@ManojReddy-MSFT
It's the default attribute mapping setting of Salesforce integration.

[code]

[2019-11-12 07:04] rockboyfor opened #42589 "The feture of "public IP prefix" was described as "public IP address prefix" in article."
The user request that there is the description of "public IP prefix" in Azure portal.   The following articles will be involved:  articles/virtual-network/associate-public-ip-address-vm.md
articles/virtual-network/index.md
articles/virtual-network/manage-public-ip-address-prefix.md
articles/virtual-network/public-ip-address-prefix.md

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-12 07:08] wukun2015 commented on #42550
Any update, please ?

Audio upload client can receive the transcription correctly in real-time, but with the same conversationID from audio upload client, the remote conversation client keeps receiving "Poll response status : FAILED" and "Poll response status : null".

btw:

By adding below dependencies, SLF4J err msg has gone.
    <dependency>
      <groupId>org.slf4j</groupId>
      <artifactId>

[2019-11-12 07:12] CHEEKATLAPRADEEP-MSFT commented on #42281
@xinyi-joffre I'm able to successfully run the Notebook without any changes:

Add Parameter to the Notebook activity. You use the same parameter that you added earlier to the Pipeline.

![image](https://user-images.githubusercontent.com/44426401/68649068-da35d780-0547-11ea-8a09-44f6f6229a54.png)

The Pipeline Run dialog box asks for the name parameter. Use /path/filename as the parameter here. Cli

[2019-11-12 07:12] fslefevre78 commented on #42537
It’s available in the Azure Portal as a RBAC role but when you create a Marketplace offer for Managed Services the role is missing.

Van: SwathiDhanwada-MSFT <notifications@github.com>
Verzonden: Tuesday, November 12, 2019 6:44 AM
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: Lefevre, Frederik <frederik.lefevre@comparex.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [

[2019-11-12 07:12] msrini-MSFT commented on #42579
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95605

After Add-AzVirtualNetworkSubnetConfig command, $vnet has to be set instead of $virtualnetwork variable.

I have made changes and raised a PR to update the doc.

[2019-11-12 07:12] CHEEKATLAPRADEEP-MSFT commented on #42281
@xinyi-joffre
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-12 07:12] #42281 closed

[2019-11-12 07:14] kariyukisusumu commented on #42586
@msrini-MSFT , Thank you for your quick reply. I understand your comments. I request to you that each article will be modified because these articles are confusing. Please close this issue

[2019-11-12 07:15] CHEEKATLAPRADEEP-MSFT commented on #41211
@guoch Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-12 07:15] #41211 closed

[2019-11-12 07:16] paulio commented on #35193
This is not anywhere near fixed :(

[2019-11-12 07:17] timsander1 commented on #42328
Hi @Mortana89. I can confirm that Group By works (cross-partition or single partition) in the latest .NET sdk, JavaScript sdk, and the Azure Portal. There is support in the Azure Cosmos DB Emulator as well in version 2.7.0 or later.

[2019-11-12 07:18] msrini-MSFT commented on #42589
@rockboyfor , can you please elaborate your issue ?

In the portal below is the description which you get when you try to create Public IP prefix:

"A Public IP prefix is a range of contiguous static public IP addresses. Azure allocates a static range of addresses to your subscription based on how many you specify. This allows you to associate public IP addresses to virtual machines, load balancer

[2019-11-12 07:19] paulio opened #42590 "Copy & Paste error for NormalizePunctuation"
The section talking about NormalizePunctuation is *still* saying, 'The following utterances show how *diacritics* impacts utterances:'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebec937d-2f6a-e804-76b7-5bbf2be0cd12
* Version Independent ID: 03e3d502-67e9-2b94-ce14-718c1750413e
* Content: [Application settings - LUI

[2019-11-12 07:20] #42586 closed

[2019-11-12 07:21] #42579 closed

[2019-11-12 07:25] dpb519 opened #42593 "ARM Template issue"
When trying to create lab account using ARM Template, even after setting the property "virtualNetworkResourceId", I don't see the virtual network configured in the "Labs Configuration"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9b6b35-01a6-f8bd-da56-a82a52fbe734
* Version Independent ID: cef70127-fb29-bae3-18e7-3

[2019-11-12 07:26] nishankgu commented on #40084
fixed, thanks for reporting.

[2019-11-12 07:27] dpb519 commented on #42593
ARM template that I am using :
{
      "type": "microsoft.labservices/labaccounts",
      "apiVersion": "2018-10-15",
      "name": "[parameters('labServiceAccountName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "enabledRegionSelection": false,
        "idleShutdownMode": "None",
        "idleGracePeriod": "PT10M",
        "provisioningState": "Succeeded",

[2019-11-12 07:30] KranthiPakala-MSFT commented on #42427
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-11-12 07:30] #42427 closed

[2019-11-12 07:32] ShiChen872 opened #42594 "Request an updated version of this document."
Hi Team,

It seems that some of contents are out of date. for example:
Under MFA Server

Read activity report	Global Administrator
Read all configuration	Global Administrator
Read server status	Global Administrator

In fact, Global Reader role is instead of GA as Least privileged role.  Therefore, could team help to review existing document and publish an updated version?

Thank you!
Andy Shi

---

[2019-11-12 07:39] dpb519 commented on #42593
i have updated the api version from "2018-10-15" to "2019-01-01-preview" and it worked.
One thing i noticed is i could not find documentation related the Lab Services deployment using ARM Templates. Please share it.

[2019-11-12 07:39] #42593 closed

[2019-11-12 07:47] abj-immeo commented on #42134
Hi
I see the mail#[user name] in the application when someone logs in using OTP.
The first image is from debugging in Visual Studio, the other is from the Azure AD. As you can see, mail# is prefixed, and this only happens with OTP logins.

![ClaimsIdentity](https://user-images.githubusercontent.com/57409292/68651891-a0090d80-0528-11ea-9823-d7139e532c3f.png)

![AzureAd](https://user-images.githubus

[2019-11-12 07:48] msrini-MSFT commented on #42533
@vhorne, can you please update the documentation with the latest WAF Power Shell command-lets ?

[2019-11-12 07:49] mandiaya commented on #42391
Hi @jeevansd
Is this Add-on compatible with jira 8.2.6?

[2019-11-12 07:53] mandiaya commented on #24858
Hi @jeevansd
Does this add-on compatible with jira 8.2.6?

[2019-11-12 07:53] tandyuk opened #42596 "Older devices"
How do you backup account keys if you have an unsupported device?

Why exactly are older devices unsupported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Backup and recover with the Microsoft Authenticator

[2019-11-12 08:01] shashishailaj commented on #42532
@noocyte WE are checking this with the content author internally and will update this thread.

[2019-11-12 08:04] dzoech commented on #41667
@MicahMcKittrick-MSFT are there any updates on my question? :/

[2019-11-12 08:07] tkruth opened #42597 ""An existing connection was forcibly closed by the remote host" when using Self-Hosted Integration Runtime"
We get error message "An existing connection was forcibly closed by the remote host" when using key vault with Self-Hosted Integration Runtime. Key vault works with Azure SQL connection, but not with On-Premise SQL Server. Connection to On-Prem SQL Server works without Azure Key Vault. SHIR resides on Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-11-12 08:18] souravmishra-msft commented on #42070
@ivratche, We are closing this thread now, please feel free to re-open this if needed.

[2019-11-12 08:18] #42070 closed

[2019-11-12 08:19] paulio opened #42598 "minor spelling mistake"
"June 8rd, 2020." interesting date ;)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937b3640-bf64-9a1f-fe97-da3bc0fdb272
* Version Independent ID: eeb3fcd3-afb3-117d-087e-4558caa2e9c1
* Content: [Prediction endpoint changes in the V3 API - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2019-11-12 08:23] dhhuang opened #42599 "My return code is 200, but the status in the respond body is 'Error', what's this mean?"
My return code is 200, but the status in the respond body is 'Error', the 'error' field is none, how can I get the detail error message?
The API is 'Batch usage event'.
{'status': 'Error', 'messageTime': '0001-01-01T00:00:00', 'resourceId': '9b9b4601-xxxx-xxxx-xxxx-xxxx', 'quantity': 1.0, 'dimension': '2', 'effectiveStartTime': '2019-10-28T19:05:21', 'planId': 'customer-consumption'}

---
#### Doc

[2019-11-12 08:29] ChrisSommers commented on #42210
Thanks suramjb. I'm happy for this issue to be closed now.

[2019-11-12 08:29] MarileeTurscak-MSFT commented on #41984
I believe this is because the SPN has one of the admin roles. Microsoft Rights Management Services would come with this as default because it needs it. I'm closing this out since it's more of a product question than a doc issue. If you have further questions please post to Microsoft Q&A and I will gladly continue the discussion there. https://microsoft.sharepoint.com/:p:/r/teams/MBRSecurityIdentit

[2019-11-12 08:29] #41984 closed

[2019-11-12 08:41] shashishailaj commented on #42532
@noocyte   This has been closed. the changes should be updated in the next 24-48 hours as per next release cycle.

[2019-11-12 08:41] #42532 closed

[2019-11-12 08:42] bureus commented on #42136
@mike-urnun-mstf: Any news :)

[2019-11-12 08:43] paulio opened #42600 "Don't use smart quotes in samples"
The JSON has smart quotes in the sample, this easily creates confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID: b58189d7-aaec-3487-a1c0-452726f940b3
* Content: [Perform sentiment analysis with Text Analytics REST API - Azure Cognitive Services](https

[2019-11-12 08:50] rockboyfor commented on #42589
This articles describe Public IP prefix as the spelling of "Public IP address prefix". Actually, We can only search this feature as Public IP prefix in the the portal.  Maybe it is typo in this articles.  The following articles also contains this typo.
---------------------------------------
https://docs.microsoft.com/azure/virtual-network/associate-public-ip-address-vm
https://docs.microsoft.com/

[2019-11-12 08:53] rockboyfor commented on #42589
@msrini-MSFT , Sorry to add split line to render the previous comments as bold format.

[2019-11-12 08:53] kensugasa opened #42602 "Az command couldn't use classic deployment model"
section : Enable the diagnostics extension if you use the classic deployment model

I think classic deployment model can't use Az command.
But the example which include the section use Az command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Independent ID: 732f5f54-eb4b

[2019-11-12 08:56] simonvane opened #42603 "ARM template examples for rules engine"
Please could you add some examples for setting these rules up in ARM templates? Redirect http to https and redirect www to root domain are common ones that would be good examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b667f198-4035-b35c-117d-5f3843085ba0
* Version Independent ID: 21a5591c-695a-735b-685a-c57544

[2019-11-12 09:16] msrini-MSFT commented on #42589
@rockboyfor , Thank you for your feedback. Public IP address are different from Public IP prefixes.

As you mentioned Public IP prefix are correct and documentation needs to be updated to Public IP Prefix instead of Public IP address prefix.

I will validate with the author and update the doc.

[2019-11-12 09:20] msrini-MSFT commented on #42589
@anavinahar , Can you please confirm that the name of the component has to be "Public IP Prefix" and not "Public IP Address Prefix" ?

[2019-11-12 09:31] hugobarona commented on #42576
@shashishailaj yes that's the page i am talking about. Thank you for the quick response.

[2019-11-12 09:32] DavidJFowler commented on #42236
Hi @RyanHill-MSFT ,

Thanks for the reply. I followed the tutorial to create a c# function app and used the web app hosted at https://azure-samples.github.io/signalr-service-quickstart-serverless-chat/demo/chat-v2/ and also tried a locally hosted web app. I tried again and it's working OK. No idea what has changed.

[2019-11-12 09:32] #42236 closed

[2019-11-12 09:42] efrathaz commented on #40973
Any update on this?

[2019-11-12 09:43] davide-rota commented on #42520
Saw the change but i would just remove the reference to non-admins users since the page is all about Audit Logs and it may be confusing.
The Sign-ins logs page already mentions that non-admins user can see their own logins.

[2019-11-12 09:45] ChiragMishra-MSFT commented on #42583
@avi2183 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow.](https://stackoverflow.com/questions/tagged/azure-data-factory)

Once you post your issue on forums, it will have visibility across the community which is a better suited

[2019-11-12 09:45] #42583 closed

[2019-11-12 09:49] ManojReddy-MSFT commented on #42520
@davide-rota I agree with you. I missed the premise of the article completely. I will submit another PR.

[2019-11-12 09:53] Rajani-Janaki-Ram commented on #42455
You can use  a recovery plan to perform this in scale :

https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-create-recovery-plans

https://docs.microsoft.com/en-us/azure/site-recovery/recovery-plan-overview

[2019-11-12 09:53] Rajani-Janaki-Ram commented on #42455
#please-close unless there are further queries.

[2019-11-12 09:53] #42455 closed

[2019-11-12 09:54] Rajani-Janaki-Ram commented on #42148
@innosam to look into this.

[2019-11-12 09:56] ChiragMishra-MSFT commented on #42597
@tkruth Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-12 09:57] msrini-MSFT commented on #42603
@simonvane , Thank you for your feedback. We will take a look and get back to you.

[2019-11-12 09:57] Rajani-Janaki-Ram commented on #41930
@mayurigupta13 , @sideeksh  - can one of you take a look?

[2019-11-12 10:00] vishalaj1 commented on #38790
Hi,

I agree the solution is not clear, if you already have a git enabled DataFactory and you follow the steps it brings everything in new Repository from DataFactory which might be different then what was in Git repo.

Simple solution worked>
Data Factory-Disconnect Git-ReconnectGit and publish from master worked for me.

[2019-11-12 10:05] Rajani-Janaki-Ram commented on #40638
Germany as a cloud had multiple restrictions and hence youa re unable to select the region of choice in vault creation. What is your target - if its from West Europe to Germany - then you need to refer to https://docs.microsoft.com/en-us/azure/site-recovery/region-move-cross-geos

If it is within Germany - then you need to choose the vault also in a region within Germany.

[2019-11-12 10:06] Rajani-Janaki-Ram commented on #38464
@sujayt  to take a look.

[2019-11-12 10:07] MikkelHegn commented on #36274
This is possible today.

[2019-11-12 10:13] shashishailaj commented on #42075
@markarnolditpro Could you please confirm if you have a credit card associated with your azure account/subscription or you are trying to enable it on a free trial /MSDN based/Visual studio credits based subscription ? Some premium services are not available on these kind of subscriptions because of billing restrictions . Free trial / VisualStudio and MSDN are credits based subscriptions where no c

[2019-11-12 10:14] qafro1 commented on #27848
error msg: azurerm_virtual_machine.myterraformvm: compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="The value of parameter linuxConfiguration.ssh.publicKeys.keyData is invalid." Target="linuxConfiguration.ssh.publicKeys.keyData"

[2019-11-12 10:18] sysadmin-exe opened #42604 "conflicting information"
"For the Application Gateway v2 SKU, you can only choose Public frontend IP configuration. Private frontend IP configuration is currently not enabled for this v2 SKU"

the above quote seems misleading. I can create a private frontend IP on the v2 SKU ap gw.. so what could this mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-11-12 10:18] RohitMungi-MSFT commented on #42600
@paulio Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-12 10:20] SadiqhAhmed-MSFT commented on #42588
@jachin84 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-12 10:20] SadiqhAhmed-MSFT commented on #42588
@DCtheGeek FYI.

[2019-11-12 10:22] msrini-MSFT commented on #42604
@sysadmin-exe , Private IP only mode in Application Gateway V2 SKU is currently not supported. You can deploy Application Gateway V2 with both Private and Public IP address.

Let me know if you have any further questions.

[2019-11-12 10:25] SadiqhAhmed-MSFT commented on #42587
@balboa41 Thanks for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@rayne-wiselman FYI, to review and update the doc as needed.

[2019-11-12 10:38] g0pinath opened #42605 "ARM/CLI/PS support deployment for Azure Sentinel Data Connectors"
Please let me know if there is an ARM/CLI or PS to add connectors to Sentinel.
I found this to enable https://github.com/wortell/AZSentinel/blob/master/docs/Get-AzSentinelIncident.md but not for connecting data sources.

## Tech support and product feedback
If you would like to contact Microsoft about other things, such as product feedback or tech support, please review these guidelines:

- If you

[2019-11-12 10:41] ShabuddinKhan opened #42606 "Difference between LinuxDiagnostic & OmsAgentForLinux ?"
# What is difference between Microsoft.Azure.Diagnostics.LinuxDiagnostic & Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux ?

I know one stores logs to storage and another to Azure Monitor. But no article provides complete information as which one we should use and why ? Do we need to install both to capture all the guest metrics and logs ? Is OMS Agent is enough for VM ?

---
#### Document

[2019-11-12 10:43] danimir commented on #42576
Performance recommendations apply only to SQL Database and Elastic pools. They do not apply to Managed Instance. Thank you.

[2019-11-12 10:46] CHEEKATLAPRADEEP-MSFT commented on #42598
@paulio Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/95622](https://github.com/MicrosoftDocs/azure-docs-pr/pull/95622).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-11-12 10:46] #42598 closed

[2019-11-12 10:51] shashishailaj commented on #42028
@Haribo112 This feature is currently in a preview state however we are trying to get more information on this from the back-end.
If you have Microsoft 365 business license , you should have both the [Intune ](https://docs.microsoft.com/en-us/intune/fundamentals/licenses)as well as [Conditional Access capabilities](https://techcommunity.microsoft.com/t5/Small-and-Medium-Business-Blog/Conditional-Ac

[2019-11-12 10:57] lwajswaj opened #42608 "Need to clarify Global VNET peering isn't supported"
The text:
"When connecting to an Azure Cache for Redis instance that is hosted in a VNET, your cache clients must be in the same VNET or in a VNET with VNET peering enabled. This includes any test applications or diagnostic pinging tools. Regardless of where the client application is hosted, Network security groups must be configured such that the client's network traffic is allowed to reach the R

[2019-11-12 10:58] temitopefunmi commented on #42403
I dont think the old portal is the issue cos i tried logging in the link you sent and i dont even have an existing subscription so there was no switch. There are no existing projects and there are no datasets, everything has been deleted.

[2019-11-12 11:06] hugobarona commented on #42576
Thank you for the information @danimir. I would say it would make sense to make it clear in the article, the same way it is done for Query Performance Insights in this [page](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-monitoring-tuning-index) and for Automatic Tuning in this [page](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning#automatic-tun

[2019-11-12 11:06] #42576 closed

[2019-11-12 11:08] RohitMungi-MSFT commented on #42403
@temitopefunmi Could you please raise a support request against this resource from the Azure Help + Support blade of Azure portal? A support engineer who has access to lookup logs and resource should be able to debug this issue and provide a resolution.

[2019-11-12 11:10] danimir commented on #42576
Thanks. It will be clarified.

[2019-11-12 11:12] temitopefunmi commented on #42403
Okay. Thank you.

[2019-11-12 11:16] shashishailaj commented on #42104
@mjazwiecki We are still awaiting information from the back-end team on this. We will keep the thread updated once we have more information.

[2019-11-12 11:21] shashishailaj commented on #42594
@ShiChen872 Thank you for bringing this to our notice. We will have this reviewed and the article updated accordingly.

[2019-11-12 11:31] andyturn31 opened #42609 "Encryption is now default"
The latest storageAccountPropertiesCreateParameters object now shows as :
Not applicable. Azure Storage encryption is enabled for all storage accounts and cannot be disabled. -

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e8399a-44d0-f8d6-fc55-29e89674faac
* Version Independent ID: 8299d108-b008-1bf8-b6e6-b50a952f5

[2019-11-12 11:35] issacnitin commented on #17648
@PrateekVachher I'm facing this too, were you able to find a resolution?

[2019-11-12 11:39] strantr commented on #42379
We had 3 people all get this error starting at roughly the same time, all on Windows using Visual Studio Code.

The problem for us was identified in the log as:
`Starting inspector on 127.0.0.1:9229 failed: address already in use`

which is the output of the call to
`Starting worker process:node --inspect=9229`...

Running:
`netstat -aon | find "9229"`
Showed LISTENING on that port by a Code.exe p

[2019-11-12 11:45] iazuredeveloper opened #42610 "@Kamyar5353 : Can you please review [this ](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime)article and let us know if that helps ?"
@Kamyar5353 : Can you please review [this ](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime)article and let us know if that helps ?

_Originally posted by @himanshusinha-msft in https://github.com/MicrosoftDocs/azure-docs/issues/30066#issuecomment-487213043_

Hi Team,
I am re-opening this issue since I am facing the same problem while working with data fa

[2019-11-12 11:49] delkos commented on #42536
Hi!

I solved the problem adding `context` to fstab:

[code]

Regards!

[2019-11-12 11:49] ivicamihalic commented on #41135
This is still not fixed. It's making problems as MI deployment via portal is failing in basic scenario with error VnetSubnetConflictWithIntendedPolicy. This is scenario where MI deployment creates new Vnet and subnet in completely new and clean resource group.

It was also failing when tried to deploy MI in existing VNet/Subnet after running prepare script. That failed with GatewayTimeout error, b

[2019-11-12 11:56] shashishailaj commented on #42596
@tandyuk Thank you for your feedback. Which device and platform do you use ? The application is dependent on the iOS and Android platforms and the backup functionality required us to confirm some nuances and use features at OS level and we were dependent on the APIs provided by the OS vendors hence some things were not possible on older versions and its not supported however , If you can  provide

[2019-11-12 12:00] mt299 opened #42612 "Regions"
Is the list of regions still valid? Do only US regions have this feature preview available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a20cc3-d50f-ff9f-d781-ecfeb366807f
* Version Independent ID: 12557b74-5318-f7c6-3098-544bc9634c04
* Content: [Learn about Azure Image Builder for Linux Virtual Machines (preview)]

[2019-11-12 12:00] shashishailaj commented on #42590
@paulio Thank you for pointing this out . We will have the content team review this and change as appropriate.

[2019-11-12 12:02] shashishailaj commented on #42599
@dhhuang Thank you for your feedback . We will investigate and update the thread .

[2019-11-12 12:03] shashishailaj commented on #42602
@kensugasa Thank you for your feedback . We will investigate and update this thread further.

[2019-11-12 12:21] shashishailaj commented on #42605
@g0pinath Thank you for your query. We will investigate and update this thread .

[2019-11-12 12:24] shashishailaj commented on #42605
@g0pinath
I believe you are looking for a way to deploy data connectors and manage Azure Sentinel using Powershell or CLI . At this point we do not have a powershell module specifically for Sentinel provided oficially by Microsoft . However the one which you have pointed is created by 3rd party company Wortell and they manage the same. It does provide some basic features. Alternatively, you can us

[2019-11-12 12:24] jakaruna-MSFT commented on #42612
@mt299
Thanks for the question! We are investigating and will update you shortly.

[2019-11-12 12:24] jakaruna-MSFT commented on #42612
@cynthn Please add your inputs

[2019-11-12 12:26] shashishailaj commented on #42608
@lwajswaj Thank you for your query. We will investigate and update this thread further.

[2019-11-12 12:29] shashishailaj commented on #42609
@andyturn31 Thank you for your feedback . We will investigate and update this thread further.

[2019-11-12 12:31] jakaruna-MSFT commented on #42602
@kensugasa Thanks for the feedback.
You are correct. We will update the document.

[2019-11-12 12:32] shashishailaj commented on #42606
@ShabuddinKhan Thank you for your query. We will have this checked internally and update this thread.

[2019-11-12 12:35] shashishailaj commented on #42610
@iazuredeveloper Thank you for your query. We will investigate and update the thread further.

[2019-11-12 12:41] shashishailaj commented on #42596
@tandyuk Which device and platform do you use ? The application is dependent on the iOS and Android platforms and the backup functionality required us to confirm some nuances and use features at OS level and we were dependent on the APIs provided by the OS vendors hence some things were not possible on older versions and its not supported however , If you can  provide some details we will try to h

[2019-11-12 12:46] sideeksh commented on #41930
There is no service tag named as 'SiteRecovery'. As documented in the very same page, you need to perform the following steps to set up outbound connectivity with service tags:
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-about-networking#outbound-connectivity-for-ip-address-ranges

[2019-11-12 12:46] MonikaReddy-MSFT commented on #42593
Hello @dpb519 ,
I am glad the issue is resolved for you. And thank you for sharing the information that fixed your problem. And we will look for the documentation and provide it to you. Thank you.

[2019-11-12 12:50] msandbu opened #42613 "Need to configure outbound rule?"
In the scenario where you have one internal standard LB and an additional public LB with a health probe and backend pool, there seems to be no need to configure an outbound rule anymore since the VM's in the backend pool got outbound traffic enabled once they were part of the public standard LB, has this changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-11-12 12:53] msandbu opened #42614 "Support for B2B Guest Users on Azure VPN"
Is there any support for Azure AD B2B Guest Usuers? if so it should be reflected in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Create an Azure Active Directory tenant for P2S VPN connect

[2019-11-12 12:57] ramandeep-singh-1983 opened #42615 "Enrichment for Event Grid is not available"
As per the information about Event Grid above:
'You can also add enrichments to messages that are being published to Event Grid by selecting the endpoint as Event Grid. For more information, see Iot Hub and Event Grid.'

It's not possible in IoT Hub message routing UI. The info above refers to this article:  https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid but the article refers b

[2019-11-12 12:58] sysadmin-exe commented on #42604
then i think that statement needs to be changed to what you just shared. that is misleading to as it just almost misled someone and it was kind of difficult having to explain without reproducing in a lab. Thanks

[2019-11-12 13:04] joaopmartinezn opened #42616 "Outdated page"
The steps described in the item 5 are not accurate with Atlassian's new UI. The flow should be https://admin.atlassian.com &gt; select the org &gt; directory &gt; user provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04509836-867e-279f-c1d6-135a237d357e
* Version Independent ID: e05a10ce-c46b-334e-78e2-30b4

[2019-11-12 13:06] raduart commented on #42366
@paulbouwer Thank you for your feedback. I will try to repro this tomorrow on my customer using helm 2.15.2 version

[2019-11-12 13:14] JohnGalt1717 commented on #40126
@jeffhollan the Azure Functions runtime throws if you use EPPlus or any other Excel library that I've found in it.  And it explicitly blocks the calls telling you that they're forbidden. (this is without docker)

On Azure Application Services, code that worked 4 months ago, now throws at run time with a method not found error.  And yes I have all of the dependencies loaded into our docker image.

[2019-11-12 13:28] adityabalaji-msft commented on #42280
Hi @fdmeyere - yes, there is this limitation in sending diagnostics data to a storage account. The storage account and the vault need to be in the same region. So all vaults in a given region (could be from different subscriptions also) can send data to the same storage account, but vaults across different regions cannot send data to the same storage account.

To send data of vaults across differe

[2019-11-12 13:30] thanhnguyen92 commented on #29129
Thanks, it worked for me!

[2019-11-12 13:31] femsulu commented on #40638
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-12 13:31] #40638 closed

[2019-11-12 13:34] jhosteny commented on #36506
@rezasherafat this has been root caused and a fix applied for the C SDK here: https://github.com/Azure/azure-iot-sdk-c/issues/1288. My understanding is that a strategy is still being discussed for fixing this in the Python SDK.

[2019-11-12 13:53] msrini-MSFT commented on #42604
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95638

[2019-11-12 13:57] aralvar opened #42617 "LB rules per NIC for Basic SKU"
In the article we see that we can create up to 300 rules per NIC, but the limit of rules per LB for Basic SKU is just 250
The 300 limit applies only to Std SKU
Would it be possible to create separate tables for Basic and Std SKUs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Ver

[2019-11-12 14:01] Nagaraju-Pateti commented on #38468
any update on it, my question is also the same, we need to configure the alerts for azure Kubernetes services using the ARM template.

[2019-11-12 14:02] j-martens commented on #40084
@gutzeit1106 thanks for reporting. We have fixed the issue and will now proceed to close this issue. You'll see the change live in a few hours. #please-close

[2019-11-12 14:02] #40084 closed

[2019-11-12 14:03] j-martens commented on #42314
@AleksCallebat . Thanks for your feedback. #please-close

[2019-11-12 14:03] #42314 closed

[2019-11-12 14:05] #42604 closed

[2019-11-12 14:05] j-martens commented on #42382
Thank you! #please-close

[2019-11-12 14:05] #42382 closed

[2019-11-12 14:06] j-martens commented on #42570
#reassign:@trevorbye

[2019-11-12 14:07] j-martens commented on #42329
#reassign:@cartacioS

@GiftA-MSFT - this is a support question.

[2019-11-12 14:09] msrini-MSFT commented on #42613
@msandbu , just adding the VM to the backend pool and configuring probe is not enough. You need to create a load balancing rule. Only then VM will be able to pick Lb's IP to go out. Or else you need to create Outbound rule where you can define the number of ports and even configure the Ideal timeout for the outbound connections.

Let me know if you have any further questions.

[2019-11-12 14:12] NavtejSaini-MSFT commented on #42457
@langstonj We are going ahead and closing this thread for now. Please get back to us if any further questions.

[2019-11-12 14:13] NavtejSaini-MSFT commented on #42440
@arkadiysherman We are going ahead and closing this thread for now. Please get back to us if any question.

[2019-11-12 14:13] #42440 closed

[2019-11-12 14:19] Jens-Lorenz opened #42618 "No for exceptions for guest accounts may reduce usability"
First of all: having those baseline policies at no cost is brilliant and will definitely help organisations that start into M365.
The user baseline policy is also great, since it balances security with usability (require MFA based on risk, not as default).

BUT: since there are no exceptions to the policies, the user baseline policy also applies to guest accounts, so guests need to register for MF

[2019-11-12 14:19] ralpje opened #42619 "Replace values in step 9"
Please note that both the ResourceGroupName and the Name (for the gateway) used in the code in step 9 should be replaced with the name of the resourcegroup and the gateway used in step number 8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-7

[2019-11-12 14:22] NavtejSaini-MSFT commented on #41135
@JJussi As confirmed by @srdan-bozovic-msft in a seperate conversation, port 80 is not required. We are creating Pull request to remove port 80 from the note.
@ivicamihalic This thread is being used for correcting the ports mentioned in the document. your issue requires the support ticket, Please create the same.

[2019-11-12 14:26] ctimon commented on #42547
Sure…

On this page https://docs.microsoft.com/en-us/azure/backup/backup-azure-restore-files-from-vm in the ‘Special Configurations’ section, under –

[cid:image001.jpg@01D5993B.3DBB1A50]

I would like to see more detail (Step-by-Step) on how this works since you state the downloaded executable must not be run on the VM itself (I assume because of the way Storage Spaces works) , but another VM wit

[2019-11-12 14:27] bobbytreed opened #42620 "What images are supported"
The note about "Semi-Annual" channel releases is confusing.

on this link: https://docs.microsoft.com/en-us/windows/release-information/ Almost every image is labeled as a Semi-Annual channel release.

I'm trying to deploy an containerized web service and I see the following banner pop up.

Repository/Tag is invalid. Cannot run the specified image as a Windows Containers Web App. App Service suppo

[2019-11-12 14:30] NavtejSaini-MSFT commented on #42349
@Elianmrt As this was the only link we found which was in error, we have created the pull request to correct it.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/95640
Once the Pull request is completed the changes will reflect and we will close this thread.

[2019-11-12 14:33] NavtejSaini-MSFT commented on #42328
@Mortana89 As conveyed by our Product group Azure Cosmos DB Emulator version 2.7.0 or later supports this as well.
Please get back to us if you have any further question or we will go ahead and close this thread by EOD.
@timsander1 Thanks for confirming.

[2019-11-12 14:35] unstephenk commented on #18653
Any update on this? Its been a year since the issue was posted.

[2019-11-12 14:38] Blackmist commented on #42400
Thanks for the feedback @joshkyh

Since this is a general Docker configuration, and isn't specific to Azure Machine Learning, we won't include it the document. I will move the statement about requiring a working Docker installation to be more prominent, and see if there's a better install link than just docker.com that we can reference. Maybe also a note about making sure the Docker hello world ex

[2019-11-12 14:47] msrini-MSFT commented on #42619
@ralpje , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-12 14:51] msrini-MSFT commented on #42619
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95643

[2019-11-12 14:54] lwajswaj commented on #42608
You can reference [this document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-constraints-related-to-global-vnet-peering-and-load-balancers) where it states Redis doesn't support it Global VNET peering as it uses a Basic load balancer

[2019-11-12 14:57] zsmorris commented on #42232
A pricing example breakdown for Premium like the one that exists for Consumption is a must!

[2019-11-12 14:58] #42619 closed

[2019-11-12 15:06] dipesh-wadhwa commented on #42529
@amanmcse got the difference between claims. Please see my comments and few more questions below-

1. `Could you please check if "given name" and "family name" are configured for the Guest user?`
No. Above attributes are not configured for guest users.

2. What is correct way to get "email address" for all users - Members, Guest and External Users?

3. Can you give example or code snippet - How ca

[2019-11-12 15:13] bradleyruff commented on #42443
I will look into that and try again.

Regards,

Bradley Ruff | Azure Systems Administrator
e.  bruff@theprovatogroup.com<mailto:bruff@theprovatogroup.com>
c. 440.465.5620
[cid:image005.jpg@01D59941.D7EAC930]<https://www.theprovatogroup.com/>
[cid:image006.jpg@01D59941.D7EAC930]<https://www.linkedin.com/company/provatogroup/>[cid:image007.jpg@01D59941.D7EAC930]<https://twitter.com/Provato_Group>[ci

[2019-11-12 15:23] erhopf commented on #42558
We're currently triaging this. Thanks for bringing this to our attention.

[2019-11-12 15:29] asubmani opened #42628 "List of Compute services covered by Dedicated Host"
It would be nice if the docs can have a section titled "List of Services covered by Dedicated Host".
E.g. I would like to specifically know if AKS is covered by this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Cont

[2019-11-12 15:32] diberry commented on #42339
@BarryOCathain - I see the issue now - the prediction 3.x SDK is very different than 2.x. This is on backlog and will be resolved soon. #please-close

[2019-11-12 15:32] #42339 closed

[2019-11-12 15:32] diberry commented on #42590
@paulio Thank you for reporting this. It will be fixed today. #please-close

[2019-11-12 15:32] #42590 closed

[2019-11-12 15:33] diberry commented on #41885
@v-kydela Based on yesterday's meeting, what issues do you think the doc has with the confidence score explanations?

[2019-11-12 15:33] NavtejSaini-MSFT commented on #42197
@MashaMSFT Please check the user question and help regarding this issue further.

[2019-11-12 15:35] diberry commented on #42265
#in-progress

[2019-11-12 15:37] Blackmist commented on #42400
Updated doc to make the following changes:
* Added prerequisites section
* Changed link from docker.com to docs.docker.com
* Added info to try docker run hello-world to verify the Docker installation
* Point to Docker documentation for troubleshooting Docker errors.

Doc update will be live later today.

#please-close

[2019-11-12 15:37] #42400 closed

[2019-11-12 15:49] bartvermeersch opened #42629 "Maintenance window"
When doing a traditional cut-over from federated AD FS to managed Azure AD, the documentation states that there might be temporarily service interruptions.
1. Is this also applicable for staged roll-out?
2. If all users were part of a staged roll-out, will there still be potential down-time when doing the cut-over from federated to managed?

"Azure AD might still send some authentication requests

[2019-11-12 16:04] JnHs commented on #42537
@fslefevre78 That is correct. I believe it will be available there before long, but I am not sure of the timing. I will update this page once it becomes available as a selectable role in CPP.

[2019-11-12 16:05] arkadiysherman commented on #42440
I understand your explanation. I still don't think the text is clear as it is, but I can't think of how to rewrite it for clarity.
I'm ok with closing this thread, thanks for getting back to me so quickly.

[2019-11-12 16:09] diberry commented on #42265
Fixed in next publish - #please-close

[2019-11-12 16:09] #42265 closed

[2019-11-12 16:11] j-martens commented on #42581
#reassign:@nibaccam

[2019-11-12 16:14] ctimon commented on #42547
I tried executing the process (with the very little info available in the documentation) on an S2D cluster I have running in my MAG subscription and the process did not work, hence the reason I ask for more details in the documentation.

- Chuck

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Monday, November 11, 2019 10:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.c

[2019-11-12 16:14] azav opened #42631 "PLEASE discuss parameters.promptType."
By using the default, setting of parameters.promptType = .selectAccount; which is in the sample project on GitHub, we ended up wasting days because of complications with multiple users.

Finally, we noticed parameters.promptType = .login, which only lets one account log in at a time.

In the GitHub project, parameters.promptType = .selectAccount; is on line 147 of ViewController.swift.

---
#### D

[2019-11-12 16:18] jtuliani opened #42633 "Permissions confusing"
Doc says (in table) for the Blueprint Operator role: "Blueprint assignment only works if the assignment is done with a user-assigned managed identity."

Following comment says: "If using a user-assigned managed identity, only the user creating the blueprint assignment needs Owner permissions."

These statements appear contradictory. One says a non-owner can do assignment with user-assigned MI. The

[2019-11-12 16:23] diberry commented on #35193
@paulio Please elaborate on what your issue is.

[2019-11-12 16:26] AGBrown opened #42634 "Update documentation to include information about Event Grid subscriptions to $logs file creation"
When $logs container log files are created do they trigger events such as BlobCreated for consumption by event grid and azure functions?

Reacting to and reading log files in real time once they are created would be possible if they did, but so far I cannot get event grid to fire for log file creation through the BlobCreated event with a filter of `/blobServices/default/containers/$logs/`. Can thi

[2019-11-12 16:27] AGBrown commented on #42634
Also see Azure/azure-functions-eventgrid-extension#40 for a related discussion.

[2019-11-12 16:33] eponerine commented on #41969
I can replicate this issue with latest build of AzCopy:

[code]

However, I can successfully download the .ZIP file thru Azure Storage Explorer without issues. The "copy AzCopy command to clipboard" reveals that it adds the following parameters:

`--overwrite=prompt --recursive --from-to=BlobLocal --check-md5 "FailIfDifferent"`

My guess is since the content type is **application/zip**, it's treat

[2019-11-12 16:35] szolla opened #42636 "Error on Step 8"
I get the following error on step 8: Set-AzVirtualNetworkGateway : Vpn client configuration for gateway ```gatewayResourcid``` can have only one of the RadiusServer or vpnclient certificate or AAD Authentication settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Inde

[2019-11-12 16:37] szolla commented on #42573
I have now followed the step in https://azure.microsoft.com/updates/aad-support-in-vpn/preview, but i am still running into problems on Step 8 listed on this page: https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant.  I get an error: Set-AzVirtualNetworkGateway : Vpn client configuration for gateway gatewayResourcid can have only one of the RadiusServer or vpnclient certific

[2019-11-12 16:41] Karishma-Tiwari-MSFT commented on #42628
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-12 16:42] Orta373 opened #42637 "Critical Info left out of this document."
There is a critical piece of info left out of this document around create the MBS Volume.  If you add more than one disk at a time it sets the 'Column' parameter for the virtual disk to the number of disks added and then in the future you must always add that same number of disks to expand the virtual disk.  This is briefly covered in this document on MBS https://docs.microsoft.com/en-us/system-ce

[2019-11-12 16:42] Karishma-Tiwari-MSFT commented on #42620
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-12 16:52] sewatson commented on #22673
Hey all, this is an issue with the 'modifiers' we use for keyboard shortcuts. Please file a user voice request, or up vote one if it exists already. We're assessing how what we can do to update our 'modifiers' to be compatible with varying keyboard formats

[2019-11-12 16:55] SaurabhSharma-MSFT commented on #42631
@azav Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-12 17:00] SaurabhSharma-MSFT commented on #42629
@bartvermeersch Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 17:00] SaurabhSharma-MSFT commented on #42618
@Jens-Lorenz Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 17:02] SaurabhSharma-MSFT commented on #42616
@joaopmartinezn Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 17:06] #42549 closed

[2019-11-12 17:11] sandeepjain98 commented on #41049
it is released but has lot of issue . I have setup bastion host was working fine till yesterday today not able to connect to VM through bastion .. connection to bastion just timeout.

[2019-11-12 17:19] DCtheGeek commented on #42633
#assign:DCtheGeek

[2019-11-12 17:20] femsulu commented on #22673
Thanks @santhoshsomayajula
@sewatson  - You can use [this link](https://feedback.azure.com/forums/223579-azure-portal?query=shortcuts) to share your feature suggestion in Uservoice

[2019-11-12 17:20] femsulu commented on #22673
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-12 17:20] #22673 closed

[2019-11-12 17:21] DCtheGeek commented on #42633
@jtuliani Thanks for pointing this out. I'm going to verify the language with the team and get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2019-11-12 17:22] asudbring commented on #42507
@NormCooke can you post a picture of the illustration that is incorrect?  It's now showing above and i'm not following which one needs to be edited.  Thanks!

[2019-11-12 17:23] KrishnaG-MSFT commented on #42633
@DCtheGeek Added 'doc-bug' and 'in-progress' labels.

[2019-11-12 17:25] rachel-msft commented on #41950
@jdmintz, the stop replication section that is referred to notes that "After replication is stopped between a master server and a read replica, the replica becomes a standalone server." A standalone server has no links to other servers. There is no new replica automatically created.

[2019-11-12 17:27] abhi-nanobi opened #42640 "Powershell script errors out with privilege error"
The execution of the power shell script in Section Configure the Listener is failing with the following message

"Get-ClusterResource : You do not have administrative privileges on the cluster. Contact your network administrator to request access. Access is denied"

I have followed the tutorial. I am logged into sqlserver-0 RDP as the install user for execution of the power shell script. What can

[2019-11-12 17:31] DCtheGeek commented on #42633
@jtuliani The PM just let me know it should read:

I'll get it updated right now.  This issue will automatically close when the change merges. Thank you for pointing this out!

[2019-11-12 17:32] anthonychu commented on #12943
#reassign:anthonychu

[2019-11-12 17:32] anthonychu commented on #13111
#reassign:anthonychu

[2019-11-12 17:32] wchomak commented on #42421
Hello. I am deploying on Server 2019 with SQL 2016. I am struggling with #7. Should I be creating the cluster with powershell or just using powershell to assign a static IP?

[2019-11-12 17:32] anthonychu commented on #19516
#reassign:anthonychu

[2019-11-12 17:33] anthonychu commented on #21023
#reassign:anthonychu

[2019-11-12 17:33] osuleiman opened #42641 "Bash Script Bug"
Hello Team,

I have found a bug in the action script where it does not run if you are deploying an HDInsight cluster within a VNet. The nodes are unable to connect to the public endpoint of the cluster (i.e. https://&lt;clustername&gt;.azurehdinsight.net), we should use the internal public HTTPS endpoint of the cluster or the internal FQDN of the active headnode. The easiest fix can be deployed by

[2019-11-12 17:33] Mike-Ubezzi-MSFT commented on #40649
@pawboelnielsen @MatiasUnsvag Thank you for providing additional information, specifically the document you are attempting to follow. I will open this issue and forward to the content author to review and update as appropriate.

[2019-11-12 17:33] anthonychu commented on #23824
#reassign:anthonychu

[2019-11-12 17:34] anthonychu commented on #24080
#reassign:anthonychu

[2019-11-12 17:35] anthonychu commented on #24172
#reassign:anthonychu

[2019-11-12 17:35] anthonychu commented on #28910
#reassign:anthonychu

[2019-11-12 17:35] anthonychu commented on #29292
#reassign:anthonychu

[2019-11-12 17:36] anthonychu commented on #29306
#reassign:anthonychu

[2019-11-12 17:40] ThomasWeiss commented on #42582
@CodeHighlights Let's first clarify that 2 MB can hold *a lot* of text; you could literally fit an entire book in that size, so it's extremely unlikely to hit this limit for a single blog post.

Now in order to deal with this unlikely situation, you could just split your content over multiple documents by adding a `next` property that holds the ID of the document containing the rest of the content

[2019-11-12 17:44] porrascarlos802018 opened #42642 "Document doesnt explain the reserved memory observed by customers on github issue"
Github issue:
https://github.com/Azure/AKS/issues/1216

clear explanation needs to be provided ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Content: [Concepts - Kubernetes basics for Azure Kubernetes Services (

[2019-11-12 17:45] MicahMcKittrick-MSFT commented on #41667
@dzoech I should hear back this week. Many product group members were out all last week for Microsoft Ignite. So everyone is back and getting through emails. I am still following up :)

[2019-11-12 17:45] NormCooke commented on #42507
[cid:image001.jpg@01D59957.19ACFEF0]

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, November 12, 2019 12:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How do you distribute traffic to a SQL DB (#42507)

@NormCooke<https://github.com/Nor

[2019-11-12 17:46] DCtheGeek commented on #42588
@jachin84 I'm checking with the team, but I believe that should be **First** instead of **Top**. Will update once I know for sure.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-11-12 17:47] Mike-Ubezzi-MSFT commented on #40649
@kirankumarkolli The sample code in [this section (step 5)](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started#Connect) will not result in a successful tutorial. Modifications are needed to make it work. I have assigned this to you to review and update as necessary. Thank you!

[2019-11-12 17:52] alankar7 commented on #9039
According to the page linked below, it now is.

https://azure.microsoft.com/en-us/updates/data-factory-supports-copying-data-into-azure-database-for-postgresql/

[2019-11-12 17:52] mslot commented on #36045
I also experience this. Both on .net core 2.1 and .net core 3.0:

I can still set ASPNETCORE_ENVIRONMENT on local development machine, and it reflects the given environment when starting up the Azure Functions runtime. I don't know if this reflects in same way in Azure, can someone confirm this? Can I set the ASPNETCORE_ENVIRONMENT in Azure and expect the hosting to be resolved properly, or do I n

[2019-11-12 17:53] asudbring commented on #42507
@NormCooke I'm still not able to see that image. Is it this image you are referring to:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/load-balancer/media/load-balancer-overview/IC744147.png

Thanks!

[2019-11-12 17:54] NormCooke commented on #42507
yes

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, November 12, 2019 12:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How do you distribute traffic to a SQL DB (#42507)

@NormCooke<https://github.com/NormCooke> I'm still not able to see

[2019-11-12 17:55] kirankumarkolli commented on #40649
@Mike-Ubezzi-MSFT can you please share more context
1. What;s the OS type (Windows/Linux)
2. Is it a VM on azure or on CorpNet?
3. Do changing the ConnectionMode to Gateway mitigate the issue?

[2019-11-12 17:57] asudbring commented on #42507
That illustration says SQL and not Azure SQL, our other illustrations will specifically call out if it's azure sql and mention it in the description. Its is assumed in a tiered infrastructure that the backend is regular SQL databases.  Are you wanting those sql databases to be designated as on VM's?

[2019-11-12 17:57] Adam-Smith-MSFT commented on #42566
@ElanShudnow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-12 17:59] msrini-MSFT commented on #42636
@szolla , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-12 18:02] NormCooke commented on #42507
You are missing the point. You cannot load balance database traffic whether it is Azure SQL, onpremise database, or sql server on virtual machine.

You cannot load balance database traffic, full stop, period.

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, November 12, 2019 12:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@sync

[2019-11-12 18:07] asudbring commented on #42507
I will verify with PM, but I believe this is referring to SQL Always-on Cluster and the load balancing to the availability group listener, which is load balanced.  I can change the illustration to be more clear that it's not referring to single sql databases but a SQL Always On cluster running in azure.

[2019-11-12 18:14] bandersmsft commented on #41687
@jtuliani Hi there. Here's some clarification from the team about action groups: – *Action Groups are currently only supported for subscription and resource group scopes. This is why the customer is not able to set Action Groups at EA scopes.*

I'll update the article to clarify.
#please-close

[2019-11-12 18:14] #41687 closed

[2019-11-12 18:17] himanshusinha-msft commented on #42641
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-12 18:23] cEricL opened #42643 "Triggers needed for Google Drive - Logic App Actions currently unusable"
This documentation page is outdated and includes inaccurate instructions which do not line up with the current functionality and options.

The current Azure portal options progress like this...

1. In the Logic App designer, create a new blank logic app.
2. In the field "Search connectors and triggers" type Google Drive and select the connector.
3. ....&lt;this is where the process stops due to a

[2019-11-12 18:30] v-maudel opened #42645 "Function not activated"
Text below is machine transaltion

@kumbrink commented on [Mon Nov 11 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/589)

Good day,
Apparently, this feature is not allowed for all licenses. Such information should perhaps be included in a rollout message before spending a long time on a feature.
Best regards

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er i

[2019-11-12 18:32] pschaeflein opened #42646 "Provide information about the instance state in regards to Entities"
In my experience, when a Durable Entity is created, there is also an instance created (analogous to a singleton orchestration). When querying instances, these Entity-related instances always show as Running. At first, this confused me since the controlling orchestration has completed.

I now understand that the Entity acts as an Eternal Orchestration and is always running. I think this page should

[2019-11-12 18:36] anzaman commented on #42573
Please make sure that there are no other configuration options set, also no certificates etc. are there.

[2019-11-12 18:40] guybark opened #42647 "Broken Node.js link"
The Node.js "Windows, Linux, macOS" link tries to go to https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/js-node, and that page isn't found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85

[2019-11-12 18:48] v-maudel opened #42649 "VHD is shown als managed in Azure CLI but there is no page blob in the blob storage"
@jgesch commented on [Tue Nov 12 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/590)

Hello,
I used the command   _az vm list -d_  in the Azure CLI.
There in the output in the parameter storageProfile.dataDisks.managedDisk are the informations about an added VHD to a VM. Does managedDisk imply that the disk is automatically managed? if so, shouldn't it be stored as a page blob?
Bec

[2019-11-12 18:50] MarileeTurscak-MSFT commented on #41233
@itguysocal can you please share your tenant ID to me at AzCommunity@microsoft.com?

[2019-11-12 18:50] cynthn commented on #42612
@danielsollondon Daniel, do we have any new regions supported for Image Builder?

[2019-11-12 18:52] #41133 closed

[2019-11-12 18:54] NavtejSaini-MSFT commented on #42448
@XiaoyuMSFT I had created the PR for fixing this issue https://github.com/MicrosoftDocs/azure-docs-pr/pull/95413 but the PR build is not getting complete as there are links from other IOT documents wrongly associated to this PR.
Please check.

[2019-11-12 18:55] NormCooke commented on #42507
You can only distribute read intent traffic to availability group listener, you cannot make updates so you cannot load balance database traffic.

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, November 12, 2019 1:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Mention <mention@noreply.github.com>
Subject: Re: [Micr

[2019-11-12 18:56] msaburnley commented on #40319
@mschrisran thanks for your feedback! The content has been updated and published. I'm closing this issue.

[2019-11-12 18:56] msaburnley commented on #40319
#please-close

[2019-11-12 18:56] #40319 closed

[2019-11-12 18:58] zrdw opened #42651 "Incorrect max data size for BC_Gen4_1 to BC_Gen4_10"
This doc says 650 max data size for these BC_Gen4 elastic pool skus. This is inconsistent with the portal UI which shows we can create 1TB for all BC_Gen4 pools.
Also please note for the sku GP_Gen5_14 has missing max data size in the doc.

Also please let us know if there's a more reliable way to get the specs for all skus. We have a strong need on the accurate info of all skus.

---
#### Documen

[2019-11-12 18:58] v-kydela commented on #41885
@diberry - The documentation seems to be misleading because it gives users the impression that the primary reason for score differences is different indexes/regions, even though there's nothing inherent about using a different index that would generate a different score. The underlying reasons are not given, and so customers won't be able to come up with solutions on their own. However, the docume

[2019-11-12 19:03] erhopf commented on #42647
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/95645

[2019-11-12 19:03] erhopf commented on #42647
#please-close

[2019-11-12 19:03] #42647 closed

[2019-11-12 19:04] Karishma-Tiwari-MSFT commented on #42640
Thanks for the question. We are currently investigating and will update you shortly.

[2019-11-12 19:04] erhopf commented on #42558
Fixed in the next push. #please-close

[2019-11-12 19:04] #42558 closed

[2019-11-12 19:04] NormCooke commented on #42507
You should change the illustration to refer to business tier not database tier.

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, November 12, 2019 1:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norm Cooke <ncooke@syncpath.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How do you distribute traffic to a SQL DB (

[2019-11-12 19:07] normesta commented on #21901
assign:normesta

[2019-11-12 19:07] FrankHu-MSFT commented on #42645
@v-maudel Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 19:07] asudbring commented on #42507
The illustration just needs to be clearer that's its a tiered infrastructure with a web app to a data tier with SQL AO, similar to this page, also put a blurb in that's its a SQL always on cluster in the description:
https://docs.microsoft.com/en-us/azure/architecture/guide/architecture-styles/n-tier

I will create a work item to make it clearer.

#please-close

[2019-11-12 19:07] normesta commented on #21901
#reassign:normesta

[2019-11-12 19:07] #42507 closed

[2019-11-12 19:09] AlphaCreative-Mike commented on #42215
We just ran into this issue too.  I'll add that when you do export the templates it is using an old version of the API that I have been unable to find documentation for.  It is using "2018-08-01", but the only versions I see in the Azure Documentation are "2019-03-01" or newer.  Documentation: [https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors-allversions](https://docs.

[2019-11-12 19:11] Mike-Ubezzi-MSFT commented on #40649
@mahanteshvk @pawboelnielsen @MatiasUnsvag Your feedback is desired here with regard to OS Type, and client deployment location(s) (Azure or on-premise, etc.). As a customer who is not connecting within the Microsoft CorpNet LAN, your experience is super helpful. Thank you!

[2019-11-12 19:11] aahill commented on #42600
Thanks @pulio, the article has been updated, and should be visible shortly. #please-close

[2019-11-12 19:11] #42600 closed

[2019-11-12 19:14] TylerMSFT commented on #42631
#reassign:oldalton

[2019-11-12 19:14] TylerMSFT commented on #42546
#reassign:oldalton

[2019-11-12 19:14] FuntimeMS opened #42652 "This needs updated"
I ran into several errors trying to compile the sample code on this page.
1. StorageRequestFailedException  does not exist. RequestFailedException exists but requires an additional "using Azure;" statement.
2. A number of the parameters have been renamed.  (SignedStartsOn, SignedExpiresOn, SignedObjectId,  SignedTenantId, etc...)
3. Permissions = "r", causes build error CS0200. I had to comment it

[2019-11-12 19:14] soheil-moosavi-accenture commented on #42577
I recommend updating this tutorial with a newer version of Databricks Run time, since the V5.2 is no longer supported.

[2019-11-12 19:17] #42349 closed

[2019-11-12 19:18] maweeras-msft opened #42653 "Supportability of conditional access for Azure Portal Desktop App is unclear"
This document should specify any limits if present on supporting the Azure portal desktop app (https://portal.azure.com/App/Download) and conditional access. e.g. Can an administrator restrict Azure portal access to hybrid azure AD joined devices and use the desktop app to manage azure resources? Or is this scenario only possible via a web browser that supports device authentication?

---
#### Doc

[2019-11-12 19:19] NormCooke commented on #42507
This is not load balanced. You cannot load balance database read write access. Your illustration is wrong you need to refer to a middle tier as the link you provided illustrates. The link you provided does not load balance the database access. If you think it does you are mis interpreting the purpose of the article.

Norm Cooke

From: Allen Sudbring <notifications@github.com>
Sent: Tuesday, Novemb

[2019-11-12 19:22] NavtejSaini-MSFT commented on #41032
@lovescott The PR was approved and committed to the repo. We are closing this thread.

[2019-11-12 19:22] #41032 closed

[2019-11-12 19:23] jtuliani opened #42654 "Blueprint Operator role to assign Owner to Blueprint service?"
Scenario: I'm deploying a Blueprint via the command line, and I'm using the Blueprint Operator role, not a subscription Owner.

Is the step to assign the Owner role to the Blueprints service still required? The Blueprint Operator doesn't have the permissions to do this, so the scenario breaks. The doc doesn't say the step is unnecessary, but from the description it sounds like this step is only ne

[2019-11-12 19:25] NavtejSaini-MSFT commented on #42556
@AlejandroSanchezArocha Thanks for feedback. We have created the Pull Request to correct this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/95684
Once reviewed and approved, changes will be reflected.

[2019-11-12 19:27] DCtheGeek commented on #42654
#assign:DCtheGeek

[2019-11-12 19:27] ghostme commented on #42443
I have the same issue

[2019-11-12 19:28] rboucher commented on #40500
Hi @darivuki. We had a duplicate list in this article that I removed. The most up to date list is at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema and was updated at Ignite. Slots is there. I haven't seen microsoft.web/serverfarms in the list before.   Say more about that.  Perhaps we have a problem on our side.  We are pulling from a public API to get the li

[2019-11-12 19:28] DCtheGeek commented on #42654
@jtuliani Thanks for the feedback. Validating this and will update shortly.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2019-11-12 19:32] tamram commented on #42652
@FuntimeMS - Can you please tell me which version of the .NET client library you are using?

[2019-11-12 19:33] KranthiPakala-MSFT commented on #42441
@abdale The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

PR Details: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95652

Thank you.

[2019-11-12 19:33] #42441 closed

[2019-11-12 19:34] CharmanderJieniJieni opened #42655 "ARM for autoscale recurrence hour and minute only accepts one input"
Seeing error when deploying autoscaling recurrence using ARM, from this document https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2015-04-01/autoscalesettings#recurrentschedule-object the hours and minutes should be array.

However when i deploy it through ARM, it is complaining "he autoscale setting that you provided has an invalid recurrence schedule with invalid count for min

[2019-11-12 19:35] 2adnan commented on #42392
Unfortunately in Azure provisioned Windows Server 2019 I dont see this option.

[2019-11-12 19:36] RoopAnymous opened #42656 "Jar parametera as mounted datalake path throws error"
To my databricks jar, the parameters are mounted datalake file path. When I pass the paranaters like "dbfs:/mnted_datalake/data/file1.txt" as parameter , I get error that file path doeanot exist.
Is there anyway these mounted datalake path can be passed to databricks jar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-12 19:38] #40963 closed

[2019-11-12 19:38] 2adnan commented on #42392
I only see these three i.e., Your Info, Sign in options, Other Users

[2019-11-12 19:45] lexios commented on #16566
Having the same issue. No email claim in token on multi tenant. I have also raised a case with Azure support. It's definitely a bug or problem.

[2019-11-12 19:47] gertjanschokkaert commented on #42379
Still same problem here, last week all functions were running fine:
versions:
Windows 10 Enterprise
Node v10.14.1
npm 6.4.1
azure-functions-core-tools@2.7.1846

Can somebody help me please? Really stuck here and cannot find working solution on the internet.

[2019-11-12 19:49] KranthiPakala-MSFT commented on #42577
@soheil-moosavi-accenture We have assigned the issue to the content author for further review and update the document as appropriate. Thanks much reporting this to us.

@lenadroid Could you please have a look at the feedback from @soheil-moosavi-accenture. thanks!

[2019-11-12 19:52] erhopf commented on #42209
@upsilondynamics Can you provide more information about your scenario? Do you need to store the synthesized speech as a file? Also, if you let us know what programming language you're using, we can point you to reference for different options for output. Here's an example for [Python](https://docs.microsoft.com/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.audio?view=azu

[2019-11-12 19:53] YutongTie-MSFT commented on #42209
@erhopf Hi Erick, seems all the sample will return a 404 error in this document: https://github.com/Azure-Samples/cognitive-services-speech-sdk#speech-synthesis-quickstarts Could you please help to check? Thanks.

[2019-11-12 19:56] erhopf commented on #42209
@YutongTie-MSFT - Would you mind creating a new issue for this. I don't want to try and triage multiple/varying issues in the same GitHub issue. Thx.

[2019-11-12 20:01] KranthiPakala-MSFT commented on #42202
@stephenfroggatt Apologizes for the late reply. I have reached out to the content author to get the correct SAS URI for the sample explained in the document.

I will keep you posted once I have an update from the author. Appreciate for being so clear and reporting this issue to us.

Thank you.

[2019-11-12 20:01] Andrew-Coughlin-MSFT opened #42658 "Requirements for Port 80 in Script"
The script located at https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet, looks for port 80, however it appears this is not required any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version In

[2019-11-12 20:02] XiaoyuMSFT commented on #42448
@NavtejSaini-MSFT You can close this PR and create a new one to fix the typo.  The issue you ran into with a PR needs to be investigated by the PR owner or GitHub BUILD process owner, not the author of the article.

[2019-11-12 20:09] oising opened #42659 "Entity Client usage section seems incorrect"
You say:

&gt; In .NET functions, you typically bind to IDurableEntityClient, which gives you full access to all client APIs supported by Durable Entities. You can also bind to the IDurableOrchestrationClient interface, which provides access to client APIs for both entities and orchestrations.

This seems ambiguous. There are some entity methods on the orchestration interface, but if you want to u

[2019-11-12 20:09] XiaoyuMSFT commented on #40588
@furmangg Hi, There was a problem that caused the PDW_NODE_ID in pdw_nodes_column_store_row_group to return NULL value.  This has been fixed in our latest release.  Please let us know if that's not the case.

[2019-11-12 20:10] XiaoyuMSFT commented on #40588
#please-close

[2019-11-12 20:10] #40588 closed

[2019-11-12 20:11] NavtejSaini-MSFT commented on #42658
@Andrew-Coughlin-MSFT Thanks for the feedback but the link https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet is giving 404 error.
Please provide the correct link to work on this.

[2019-11-12 20:13] Andrew-Coughlin-MSFT commented on #42658
The link is reference in the following document: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Tuesday, November 12, 2019 2:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Andrew Coughlin <Andrew.Coughlin@microsoft.com>; Mention <mention@noreply.github.com>
Subj

[2019-11-12 20:17] NavtejSaini-MSFT commented on #42448
@XiaoyuMSFT Thanks for the update. I will create new PR.

[2019-11-12 20:20] danobri opened #42660 "Skill did not execute within the time limit - NOT transient"
I have an indexer using the built-in OCR skill running on a 2 hr schedule, and it is failing on the first document every time it runs with the error "Skill did not execute within the time limit".  The documentation suggests this error should be a transient issue, but in my case it's been thrown on every run for almost 24 hours.  What can I do to get past this error?  I don't think the issue is the

[2019-11-12 20:22] hjlarrea opened #42661 "Network Watcher Agent on Target"
Why is it required to install the Network Watcher Agent on the Target machine for the probe. Isn't the agent just required on the server that is going to be sending the packets to validate the connection?

Thank you in advance,
Hernán

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
*

[2019-11-12 20:25] NavtejSaini-MSFT commented on #42651
@zrdw We are checking this and will get back to you.

[2019-11-12 20:25] apraovjr opened #42662 "Remote registry service on machine localhost is disabled"
I get `Remote registry service on machine localhost is disabled.` while running script for .\CreateServiceFabricCluster.ps1 -ClusterConfigFilePath .\ClusterConfig.Unsecure.DevCluster.json -AcceptEULA

[2019-11-12 20:30] sitary opened #42663 "Documentation error re password complexity policies"
Last paragraph just above *Next steps* says 'Make sure you've changed the existing group policies for "Minimum Password Length".' Should say 'Make sure you've changed the existing group policies for "Minimum password age".'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version In

[2019-11-12 20:34] #42328 closed

[2019-11-12 20:38] banisadr commented on #32625
Good catch @peterstouw, I must have been day dreaming about climbing mountains ;)

[2019-11-12 20:40] NavtejSaini-MSFT commented on #42658
@Andrew-Coughlin-MSFT Thanks for confirming, We are assigning this to author for further action

@srdan-bozovic-msft The script link(https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet) provided in the PowerShell example used to go to script which required port 80 rule, which is not applicable anymore.

But the real issu

[2019-11-12 20:45] nixomose opened #42664 "this is awkward."
"we recommend you to use"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8793d6-bb58-2beb-f959-4654d7bdad69
* Version Independent ID: a42a02a9-36b0-70dc-0737-816904f0e1f1
* Content: [Incremental snapshots (preview) for managed disks](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-incremental-sn

[2019-11-12 20:49] MarileeTurscak-MSFT commented on #42327
Hi @mtwelve ,

Apologies for the late reply. I have reached out to the product team for an answer as I am uncertain. I also believe that it should work.

[2019-11-12 20:55] rohinkoul commented on #41669
Updated doc to remove -AllowPrerelease

[2019-11-12 21:03] mtwelve commented on #42327
No worries. We look forward to hearing their response.

We’ve also been trying this with accounts within the customer.onmicrosoft.com being added as Device Admins for devices attached to customer.onmicrosoft.com and they also don’t work for actions requiring elevation.

The only way we’ve managed to use an Azure AD account to satisfy actions on an Azure AD Joined device is if the account in questi

[2019-11-12 21:04] NavtejSaini-MSFT commented on #42448
@XiaoyuMSFT Please review and approve https://github.com/MicrosoftDocs/azure-docs-pr/pull/95701

[2019-11-12 21:07] upsilondynamics commented on #42209
Hey I managed to resolve this issue by using a PullAudioOutputStream like so:

[code]

And I can extract the audio by accessing the  AudioData property on the SpeechSynthesisResult object returned back from **SpeakSsmlAsync** or **SpeakTextAsync**

[2019-11-12 21:09] upsilondynamics commented on #42343
I'd like to re-open this issue, I haven't had time to attempt to replicate but I am responding now.

If I nest multiple <speak> nodes inside of the <ssml> parent body, the synthesizer object does not return the audio data as proper, I am getting a Canceled response for the most part.

I am using the .NET SDK on C#.

[2019-11-12 21:10] erhopf commented on #42343
@redcomet - Can you look into this?

[2019-11-12 21:13] #41669 closed

[2019-11-12 21:13] gdv820 commented on #17648
same error but with Flask, was working a few ago.
![image](https://user-images.githubusercontent.com/20129672/68711328-07da4b00-055f-11ea-8ac7-6a02eb5c19f0.png)

[2019-11-12 21:17] upsilondynamics commented on #42343
The example, provided here:
**https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup**

*Problem: Passing in multiple Voice nodes within a single Speak element does not work:

When I pass in a string of text representing the following SSML:

Into the **SpeechSynthesizer.SpeakSsmlAsync(string)** or **SpeechSynthesizer.SpeakTextAsync(string)**

Methods, I do

[2019-11-12 21:17] Raj-Krishnamoorthy commented on #41909
Hi,

I am looking for an architecture diagram for the topic in the doc.

**High availability with Cosmos DB in the event of regional outages.**
For instance, doc states on a scenario, " Multi-region accounts with a single-write region (write region outage)"  &  here is hand my drawn architecture diagram from what I understood

![IMG_2018](https://user-images.githubusercontent.com/49286341/68711086

[2019-11-12 21:20] thisisbrianstewart opened #42666 "Support for Gen 2 VMs?"
I am trying to create a batch pool that uses Gen 2 VMs, and getting a failure on attempt to create the batch pool.  Are we able to use Gen 2 VMs?  The docs don't specify.

Error Details key=PropertyName value=imageReference
Error Details key=Reason value=The specified imageReference with publisher Canonical offer UbuntuServer sku 18_04-lts-gen2 is not supported.

---
#### Document Details

⚠ *Do n

[2019-11-12 21:25] MarileeTurscak-MSFT commented on #42663
@sitary
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 21:27] MarileeTurscak-MSFT commented on #42663
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/95706

[2019-11-12 21:27] #42663 closed

[2019-11-12 21:30] ghogen commented on #41137
fix queued

[2019-11-12 21:34] roygara commented on #41184
@decturau apologies for the delay, thanks for reaching out. Just to make sure: Are you using Azure active directory with domain services? You've [completed the pre-reqs](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable#prerequisites) and then [followed these steps](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable#e

[2019-11-12 21:34] MicahMcKittrick-MSFT commented on #42642
@porrascarlos802018 can you elaborate? What do you want documented? I don't see anyone from the AKS team confirming or denying anything on that thread so not sure what you want documented.

[2019-11-12 21:36] MicahMcKittrick-MSFT commented on #42664
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-12 21:38] TomArcherMsft commented on #41227
@dabasejumper FYI: I'm working on updating this article now. There are several issues that I'm working through one-by-one.

[2019-11-12 21:40] dmarlow opened #42667 "Rate of scaling up and down"
We're considering using the serverless feature, but we're trying to understand how quickly resources can be made available and if that affected by the size of the database. We're not considering using any form of auto pausing/resuming. Just want to scale between the minimum and maximum cores to stay cost optimized. Does the database size make any difference in how quickly a database can scale up t

[2019-11-12 21:41] dabasejumper commented on #41227
Thanks @TomArcherMsft ... As you go thru the article, there were a few simple misprints for commands too that were easy enough to see and change. Sorry I didn't take note. We're going to revisit this shortly and walk through it again. I'll let you know if I find anything again.

[2019-11-12 21:48] TomArcherMsft commented on #41227
@dabasejumper That's exactly what I"m finding - some copy & paste mistakes and so on. Please do send whatever you find in case I don't catch something.

[2019-11-12 21:49] MicahMcKittrick-MSFT commented on #42666
I know we support gen2 for VMs and VMSS. I don't believe it is possible via batch yet though.

@laurenhughes would you know someone who can confirm?

[2019-11-12 21:51] GiftA-MSFT commented on #42545
@kishan19 please refer to the following [document](https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-deploy-models-with-aml) on how to deploy models in Azure Container Instances. If you continue to experience errors, please let us know what part you're stuck on so we can investigate further. Thanks.

[2019-11-12 21:52] MicahMcKittrick-MSFT commented on #42664
@nixomose I corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-12 21:52] #42664 closed

[2019-11-12 21:56] upsilondynamics opened #42668 "<audio> tag not working within SSML"
Microsoft.CognitiveServices.Speech
C# SDK  Not working

I simply want to embed Audio as mentioned
(https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup

When the following SSML is called into the **SpeechSynthesizer.SpeakSsmlAsync**, the system returns a Cancel error:

**Connection was closed by the remote host. Error code: 1007. Error details: Unsupport

[2019-11-12 21:56] ShaneBala-keyvault commented on #32741
Currently there is no plan to add application gateway to the Trusted Services List.

There is a requirement that a trusted service only runs Microsoft code. Since application gateway can be used to connect to 3rd party websites, we cannot add the service to the trusted service list.

[2019-11-12 21:57] TravisCragg-MSFT commented on #42210
@ChrisSommers We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-12 21:57] #42210 closed

[2019-11-12 22:01] MicahMcKittrick-MSFT commented on #42606
@ShabuddinKhan the Diagnostic Extension can be used for general diagnostic storage. Things such as the /var log and boot operations can be stored to a storage account for later review.

It supports the following collections:
- Collects system performance metrics from the VM and stores them in a specific table in a designated storage account.
- Retrieves log events from syslog and stores them in a

[2019-11-12 22:05] diberry commented on #42339
@BarryoCathain - the sample code is [available](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/dotnet/LanguageUnderstanding/predict-with-sdk-3x/Program.cs) - consider using the [.Net test provided by the engineering group](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Language.LUIS.Runtime/tests/Luis/PredictionTests.cs) as additional

[2019-11-12 22:06] MicahMcKittrick-MSFT commented on #42649
@srvbpigh managed disks are stored in storage account managed by Azure. You don't have direct insights into that container. So if you are looking for disk information it can be found by looking into the "Disks" blade in the portal. Besides that the idea is we deal with storing the VHD and you simply manage it by the disks blade. I will close this but let me know if you have further questions.

[2019-11-12 22:06] #42649 closed

[2019-11-12 22:07] ThunderHorse commented on #41434
@szimmerMicrosoft , I attempted this today by changing a tag as recommended and also by adding a new tag in a second attempt. It does not appear that I can re-enable this way. Were there any other properties that may work for this? Here is an example of my payload:

{
   "properties":{
      "virtualMachineProfile":{
         "scheduledEventsProfile":{
            "terminateNotificationProfile":{

[2019-11-12 22:08] TravisCragg-MSFT commented on #41049
@sandeepjain98 Typically this is caused by something blocking the connection between Azure Bastion and your VM. To troubleshoot further, please post your question on [Azure Networking's MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork&filter=alllanguages).

[2019-11-12 22:18] cawrites commented on #41080
#reassign:  @MarkusVi

[2019-11-12 22:21] davidcorrigan714 commented on #42565
I didn't realize that what I was asking for actually works on the v1.0 version of the api. Guess that solves my issue for now.

[2019-11-12 22:22] MashaMSFT commented on #42197
Hi @brettshearer , thank you for contacting Microsoft! There is no interaction between ADR and ghost cleanup, so ADR doesn’t help with ghost record cleanup.
Versioning generally affects ghost record cleanup since we need the ghosts to be preserved while there are long running transactions that might need to access them, but this doesn’t change with ADR.

I hope that helps and please let us know if

[2019-11-12 22:26] roygara commented on #41277
@jgwinner Ah, "Access policy" on that screen configures SAS. "Access control" configures the Azure AD.

Are you enrolled in the limited private preview for Azure AD DS? You wouldn't be able to use an on-prem AD otherwise. Only an Azure AD with domain services.

[2019-11-12 22:35] szimmerMicrosoft commented on #41434
@ThunderHorse I took a look at your operation -- from the logs it looks like you need to update some other property within the virtualMachineProfile, for us to persist the scheduledEventsPolicy in the virtualMachineProfile

You could add a custom script extension which does nothing ( or any other extension_
You could update any networking settings (unfortunately I do not have a recommendation here

[2019-11-12 22:52] TravisCragg-MSFT commented on #42614
@msandbu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-12 23:04] DanielLarsenNZ opened #42669 "Azure DNS private zones is now generally available"
Please remove public preview wording.
https://azure.microsoft.com/en-us/updates/azure-dns-private-zones-is-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolution for resources

[2019-11-12 23:07] JoelCBennett commented on #31700
Our Event Log is riddled with Event ID 5 errors.  Is this something that can be fixed?

[2019-11-12 23:07] MarileeTurscak-MSFT commented on #42653
@maweeras-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-12 23:08] JoelCBennett opened #42670 "Update Documentation to reflect "Provisioning Logs" Feature"
This page does not discuss the new "Provisioning Logs" for tracking provisioning actions.  Would be helpful to get a guide on this new feature, as it seems to be better targeted than the audit log process described above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Inde

[2019-11-12 23:09] MarileeTurscak-MSFT commented on #42653
I believe that the conditional access policies work the same for each and do not get that granular, with the exception of the O365 portal that can be excluded, but I've assigned this to the content author to update the doc as needed as I agree that it would be good to have a note about this.

[2019-11-12 23:10] TravisCragg-MSFT commented on #42661
@hjlarrea The agent is required on both machines to know if the probe reached the destination machine successfully. if we check the connection between 2 VMs VM1 & VM2, and the connection fails, we have more information about where the failure Is occurring if traffic is reaching VM2 but not returning properly back to VM1.
Please let me know if you need any additional clarity.

[2019-11-12 23:13] TravisCragg-MSFT commented on #42669
@DanielLarsenNZ Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-12 23:17] ChristopherGLewis opened #42671 "This page is out of date"
This page hasn't been updated to 2017.  It is very misleading to assume this is still accurate in Azure today - 2019.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure services](https

[2019-11-12 23:23] amotley commented on #42660
Hello,

Please reach out to support if you see this error continuously for one document as it's not expected. I'll make sure we update our documentation to provide guidance in this case as well.

This issue is expected to be transient, but very rarely there are properties about specific documents that can be problematic for the Cognitive Services OCR API which the OCR skill is backed by. In these

[2019-11-12 23:28] YutongTie-MSFT commented on #42550
@wukun2015 Sorry for the delay. Are you still suffering from "Poll response status : FAILED" and "Poll response status : null" ? Or all the issues have gone? If you still have this issue, I would suggest you to open a support ticket for live trouble shooting since this forum is only for documentations. If you don't have any support plan, please let me know. Thanks.

[2019-11-12 23:36] vinyar opened #42673 "Definitely weird behavior that makes no sense."
All I want to do is create a VM and instead on day two of using Azure I am reading dev comments about how broken this API is..   Scenario is simple. I ask Azure for available VM sizes in my region. Get the size, and feed it to Create VM command, and it fails.

[code]

Lets create a VM with that disk:
[code]
<Fail> even though earlier command claims it was available: The requested size for resource

[2019-11-12 23:36] YutongTie-MSFT commented on #42415
@PanosPeriorellis Hi Panos, could you please help us to check for this issue? Thanks a lot.

[2019-11-12 23:37] vinyar commented on #42673
And my pretty format is gone, and instead there is now an incomprehensible blob of text. This is definitely on forum administrators, but also a sad user experience

[2019-11-12 23:40] ggailey777 commented on #19391
@fiveisprime is this functionality that is planned for the Functions extension, or is there somewhere @brettcannon can request it?

[2019-11-12 23:43] erikest commented on #28132
I also do not see the link to the troubleshooter and my debug snapshots are not showing up.  I've install the extension, enabled them, added myself to the correct Role and waited 15 minutes after exceptions to see something and all I get are profiler traces and no link to the troubleshooter.  Also, troubleshooting docs say:

"You should see at least one file with a name that begins with Uploader_

[2019-11-12 23:49] normesta commented on #42103
Thank you for raising this. I've updated the content to make that clear. Those updates should appear live shortly. Thanks again!

[2019-11-12 23:49] normesta commented on #42103
#please-close

[2019-11-12 23:49] #42103 closed

[2019-11-12 23:50] normesta commented on #41873
Thank you for raising this issue. The source is the first parameter and the destination is the second. I've updated the content to make that clear and also included links to related conceptual articles. Those changes should appear live shortly. Thanks again!

[2019-11-12 23:50] normesta commented on #41873
#please-close

[2019-11-12 23:50] #41873 closed

[2019-11-12 23:52] FuntimeMS commented on #42652
I'm running the sample in VS 2017, the Target Framework is .Net 4.6.1. I also tried the sample in VS 2019 with the same results.

Or are you referring to the Azure NuGet packages?
PM> get-package

Id                                  Versions                                 ProjectName
--                                  --------                                 -----------
Azure.Core

[2019-11-13 00:01] Alberto-Vega-MSFT commented on #42367
@larsonmpdx I'm afraid that fine grained access control is currently not supported. I passed your feedback to the engineering team.
You could also create an entry in the [Azure IoT User Voice](https://feedback.azure.com/forums/321918-azure-iot) so other customers can up-vote your feature request and help the team prioritize it.

[2019-11-13 00:03] padare opened #42676 "Change cluster from certificate thumbprint to common name"
Moving away from certificate thumbprint pinning was a great idea. Moving from that to depending on the CN value in the Subject is problematic. The CN value in the Subject is being quickly moved away from for many reasons, not the least of which is the hard-coded limit of 64 characters (RFC 5280). I just had to tell someone that they are going to have to rename their cluster because of this issue.

[2019-11-13 00:04] Adam-Smith-MSFT commented on #42634
@AGBrown Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-13 00:04] Grace-MacJones-MSFT commented on #42539
Hi @SimonLuckenuik , here’s ARM template to create App Service Managed Certificate.

`{
            "apiVersion": "2019-08-01",
            "location": "[resourceGroup().location]",
            "name": "[variables('certificateName')]",
            "type": "Microsoft.Web/certificates",
            "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms/', variables('

[2019-11-13 00:04] #42539 closed

[2019-11-13 00:07] Adam-Smith-MSFT commented on #42662
@apraovjr  Could you please provide us with the documentation link you were referring to ? If the issue is not related to any Azure documentation, please post your question in MSDN social forums or StackOverflow.

Thanks,
Adam

[2019-11-13 00:09] apraovjr commented on #42662
@Adam-Smith-MSFT This is resolved i will close it

[2019-11-13 00:17] Alberto-Vega-MSFT commented on #42615
Hi @ramandeep-singh-1983 Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-13 00:32] larsonmpdx commented on #42367
thanks. I made this user voice entry:

https://feedback.azure.com/forums/321918-azure-iot/suggestions/39020902-fine-grained-access-control-for-iot-device-streams

[2019-11-13 00:33] MarileeTurscak-MSFT commented on #41983
Hi @Kazzan ,

It needs to be a global admin account for this. You should have one active in the tenant.

Feel free to send me an email at AzCommunity@microsoft.com and I will gladly help troubleshoot or get a support case opened for this.

[2019-11-13 00:33] #41983 closed

[2019-11-13 00:36] SnehaGunda commented on #42453
@MichaelJolley Thanks for pointing out the issue. we had some changes in the stable package list at the backend, and "@azure/cosmos" somehow ended up not being on the list. We added it back and the links are now available.

We will now close this issue if there aren't further questions.

#please-close

[2019-11-13 00:36] #42453 closed

[2019-11-13 00:37] scyto commented on #27199
@TravisCragg-MSFT jxfish is right, this is not the way to doc things for linux folks - the URL should refer to the RAW version (specifically https://raw.githubusercontent.com/Azure/azure-container-networking/master/scripts/install-cni-plugin.sh) then folks would execute their prefered way to get that (usually wget and less frequently curl) to get the file xhmod with +x and run it

[2019-11-13 00:38] santhoshbomma9 opened #42677 "What is the use of the quantity in the returned on the resolve endpoint"
Can you please clarify why/what is returned for quantity in the response payload for the resolve/list subscription/ get subscription endpoints please?
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe875

[2019-11-13 00:40] Alberto-Vega-MSFT commented on #42412
Hi @anjalisn4 Thanks for trying Azure Blockchain. We try to reserve this issues for documentation feedback, that's why we were asking you for the link of the doc.

If you are trying to use the Azure Blockchain Workbench Please follow this guide if you haven't yet https://docs.microsoft.com/en-us/rest/api/azure-blockchain-workbench/#base-url

If this doesn't work please create a thread on the Block

[2019-11-13 00:42] petercmho commented on #42147
I tried paulghodgson solution to re-add the myAzureSQLDBAccessGroup to the main and my database.  It doesn't help because the group is already in both database.

[2019-11-13 00:44] PramodValavala-MSFT commented on #42643
@cEricL Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-13 00:45] kensugasa commented on #42602
Thank you for your replying!
I'm waiting for the fixing.

[2019-11-13 00:46] BernardoMB opened #42678 "Ecoding using transforms"
Is there any document or page that describes how to create a transform to specify a set of rules to generate thumbnails using the REST API version 3.0?

The current documentation does not specify how to properly construct the request body for creating a transform that generates thumbnail when applied via job creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-11-13 00:46] petercmho commented on #42147
I had time to debug it again and found out there is a System.Net.Sockets.SocketException thrown to connect to host 169.254.169.254 port 80.  But I don't know why it attempted to connect to it.  Please reopen this issue.

[2019-11-13 00:47] MicahMcKittrick-MSFT commented on #42676
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 00:48] #42319 closed

[2019-11-13 00:53] PramodValavala-MSFT commented on #42646
@pschaeflein Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-13 00:54] JocaPC opened #42679 "Updating script for VNet creation"
The script for creating VNet is out-dated. Take a look at the script that Srdan Bozovic created here: https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet/delegateSubnet.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b750921-0f6a-6de9-23

[2019-11-13 00:57] gjustice commented on #13911
MS Azure Tech support confirms that traffic to the special IPs, 168.63.129.16 and 169.254.169.254 are routed at the subnet gateway by an invisible routing table and thus will never appear at an NVA or other egress device specified by implementing User-defined routes.  The special routing for these magic IP addresses can be "seen" in the VM host-OS routing tables but not where they are implemented

[2019-11-13 00:58] PramodValavala-MSFT commented on #42659
@oising Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-13 00:59] PramodValavala-MSFT commented on #42526
@pconnell99 Just following up here... Did you get a chance to try with the latest `func` CLI?

[2019-11-13 01:00] gdv820 commented on #17648
Looked in this a little further and there seems to be a problem with the venv. I'm creating the venv on the build agent and then sending it through a zip file to the release pipeline. Disabling the venv helps deploy the app but the reqd libraries don't end up in the app service. To fix I had to pass the pip install command through the startup file. If you'll have a solution which helps copy the ve

[2019-11-13 01:00] MarileeTurscak-MSFT commented on #42456
Hi ,

Have you tried with var scopes = ["api://ddd93270-20d7-43ff-9a09-537e67a3383a/access_as_user"];

Please post this question to Microsoft Q&A as that is the right place for product questions and issues.

https://docs.microsoft.com/answers/index.html

I'm closing this out as it is a duplicate of 42462

Feel free to send me an email at AzCommunity@microsoft.com if you have further questions.

[2019-11-13 01:00] #42456 closed

[2019-11-13 01:02] dcbrown16 commented on #13911
Thanks @gjustice. I attempted a PR with that info, we'll see what the authors want to do.

[2019-11-13 01:02] PramodValavala-MSFT commented on #42515
@spacem Just following up here... Hope my previous comment helps.

[2019-11-13 01:03] ronortloff commented on #41993
doc update published

[2019-11-13 01:04] ronortloff commented on #41993
#please-close

[2019-11-13 01:04] #41993 closed

[2019-11-13 01:06] femsulu commented on #42617
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-13 01:09] rwike77 commented on #40933
Thanks @hpsin for updating the samples.  #please-close

[2019-11-13 01:09] #40933 closed

[2019-11-13 01:12] femsulu commented on #42617
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-13 01:13] femsulu commented on #42637
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-13 01:21] rwike77 commented on #42372
Reassigning to the article author @billmath  #reassign:billmath

[2019-11-13 01:22] rwike77 commented on #42371
Reassigning to the article author @billmath  #reassign:billmath

[2019-11-13 01:25] #42633 closed

[2019-11-13 01:27] femsulu commented on #42655
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-13 01:39] femsulu commented on #42673
Apologies for the issue you are experiencing. we are actively investigating and will get back to you shortly. Thanks for your patience.

@tfitzmac - fyi

[2019-11-13 01:41] FrankHu-MSFT commented on #42127
Hey @shadewlkr can you please respond in regards to the last message? If there's no response by end of day tomorrow I will be closing out this issue.

[2019-11-13 01:42] femsulu commented on #42677
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-13 01:42] Jason1666 opened #42681 "What if using one forest syncing to multiple Azure AD tenants scenario"
We are syncing different users in the same forest to multiple tenants, understood that "The Active Directory forest and all deployed proxy services within a forest must be registered with the same tenant"and "Once deployed and enabled, Azure AD Password Protection doesn't discriminate - all users receive equal security benefits.", my question is that will this registered tenant password policy syn

[2019-11-13 01:44] apraovjr opened #42682 "X509.DevCluster json sample"
Can you please provide sample json for X509.DevCluster Service fabric deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 853125bc-3720-1031-f79e-21aafcd38ee1
* Version Independent ID: 4db45bdd-eef4-bf40-b92d-d98a71c982d4
* Content: [Secure an Azure Service Fabric cluster on Windows by using certificates](https:

[2019-11-13 01:47] tfitzmac commented on #42673
@vinyar - sorry for the troubles you have experienced with VM size. This article shows how to use Get-AzComputeResourceSku instead of Get-AzVMSize. Have you tried using that command? It includes information about which SKUs are available in your subscription.

[2019-11-13 01:48] HJToland3 commented on #42383
#in-progress

[2019-11-13 01:54] DCtheGeek commented on #42588
@jachin84 I confirmed with the team it should be **-First** (PS) and **--first** (CLI) instead of _top_. I'll get this corrected now. When the fix is merged, this issue will automatically close. Thanks for bringing this to our attention!

[2019-11-13 01:55] kishan19 commented on #42545
Hello, what I am talking about is a completely different issue, am trying out a notebook VM, whereas you have responded to using an Azure Container Instance. What I am trying to do is to run the demo given in this page. https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-local-container-notebook-vm#deploy-to-the-notebook-vms

[2019-11-13 01:55] anirudhcavale commented on #42655
@femsulu can you please assign this to @rboucher ?

[2019-11-13 02:01] #42588 closed

[2019-11-13 02:17] leonbrag commented on #42379
I have started to have the same issue. That was no issues prior to today

Version: 1.40.0 (user setup)
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17134

[2019-11-13 02:20] FrankHu-MSFT commented on #42618
hey @Jens-Lorenz thanks for your feedback again, we appreciate your input into this scenario. My suggestion is to file this as product feedback against the uservoice area here : https://feedback.azure.com/forums/169401-azure-active-directory

As the github issues are meant for issues against the docs.

We'll look into this further and get back to you for an update.

[2019-11-13 02:22] FrankHu-MSFT commented on #42618
Are there anymore questions in regards to this github issue? @Jens-Lorenz if not I will be closing out this github issue by end of day tomorrow.

[2019-11-13 02:22] hisasima opened #42683 "Outbound deny rule of NSG for V2."
We can not create any outbound rule to deny for v2. But this limitation is not written in this document. Could you add this limitation into this document ?

E.g.
- Can not create any outbound rule to deny for v2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent I

[2019-11-13 02:26] FrankHu-MSFT commented on #41237
hey @gprl can you please provide a fiddler trace of the success and failure scenario? We'll need that to progress this issue further.

Please send this fiddler trace to frhu[at]microsoft[dot]com.

Links on how to do this can be found here : 

https://blogs.msdn.microsoft.com/maheshk/2016/05/03/easy-way-to-collect-fiddler-log-fiddlercap/

Thanks,
• Frank Hu

[2019-11-13 02:27] FrankHu-MSFT commented on #41872
hey @jaffadog I'm following up on this issue, we're still looking into this issue, I apologize for the long wait.

In addition to the follow up, would it be fine to close this issue as a duplicate? https://github.com/MicrosoftDocs/azure-docs/issues/41875

I believe this issue and the linked issue are both asking the same things?

[2019-11-13 02:33] jgudsell opened #42684 "MFA extension requires undocumented URL - credentials.azure.com"
The MFA extension was logging HTTPS_COMMUNICATION_ERRORs and I was receiving no push notitifciations. Logging on the client firewall showed the extension was making an outbound call on 443 to credentials.azure.com which was being blocked. Unblocking this URL resolved the problem.

This URL is not listed as being required in the above documenation and I have not experienced this requirement on othe

[2019-11-13 02:42] josem0287 opened #42685 "Template not working"
Whenever I try running the template in this page it fails. It seems that it is also trying to create Linux VMs which haven't been defined. I am running it from Az Cli.

The error message is this:
"on .terraform/modules/mycompute/Azure-terraform-azurerm-compute-fb014dd/main.tf line 38, in resource "azurerm_virtual_machine" "vm-linux":
  38: resource "azurerm_virtual_machine" "vm-linux" {"

---
####