[2021-11-10 22:41] gitdram opened #83713 "Editing the Operation name after initial import: Note on the page could have more clarity"
When we import an operation (we used a Logic App for backend), the operation name defaulted to "manual-invoke".

On this page there is a Note toward the bottom that says:

"Every Logic App has manual-invoke operation. To comprise your API of multiple logic apps and avoid collision, you need to rename the function."

But when you go to Edit the front end of the operation after importing it, you can

[2021-11-10 22:54] markjbrown commented on #83338
Hi David.

Yeah that second passage is really talking about all but strong consistency.

I have a PR in progress now to clarify.

thanks.

#please-close

[2021-11-10 22:54] #83338 closed

[2021-11-10 23:02] philhines opened #83715 "Unknown host.json file in documentation"
In order to enable dependency management, you say to edit the host.json file.  Where is this file?  I see a function.json file but no host.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae763f-03a9-b3b0-e7ad-52f9b1559438
* Version Independent ID: 2afd9c78-e5b0-5d34-b809-47d9576399d0
* Content: [PowerShell devel

[2021-11-10 23:09] SidneyPhoon opened #83717 "Error in prebuilt invoice sample code"
[Enter feedback here]
This line does not return any result when analyzing an invoice because the form type should be "prebuilt-invoice" not "prebuilt-document".
poller = document_analysis_client.begin_analyze_document_from_url(
            "prebuilt-document", formUrl)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94

[2021-11-10 23:21] tokesr commented on #83267
Hi @tfitzmac
Just an example. If I try to use this ARM code by MS (https://github.com/Azure/Azure-Sentinel/blob/master/Tools/ARM-Templates/Onboarding/OnboardSentinel.json) on a completely new Subscription it will fail because Microsoft.OperationsManagement is not registered and the ARM template itself does not register the RP automatically.
Part of the error message: "Failed to add Azure Sentinel

[2021-11-10 23:31] FrankAlberto opened #83719 "Error with function.proj file"
This file doesn't work. This give this error: "[Error] Package restore failed with message: 'No such file or directory'"

"Microsoft.Azure.WebJobs.Script.Description.DotNetFunctionInvoker.RestorePackagesAsync(Boolean reloadScriptOnSuccess) at /src/azure-functions-host/src/WebJobs.Script/Description/DotNet/DotNetFunctionInvoker.cs : 235"

function.proj:
`<Project Sdk="Microsoft.NET.Sdk">
    <Prope

[2021-11-10 23:32] jeremiahhoward opened #83720 "DP-3 Missing, Should List CMK"
Would you agree that the category "Data Protection" should be included somewhere in Azure security baseline for Azure Cognitive Search | Microsoft Docs given that we have data encryption options for Customer Managed Key? Encrypt data using customer-managed keys - Azure Cognitive Search | Microsoft Docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-10 23:39] cstirland opened #83721 "scratch change missing info"
when I follow the directions for moving the scratch directory it seems something is missing.  When I copy the folder it hangs copying SSBV, and I can't copy the shortcut by itself.  I assume that has to do with the System State backup.  I have system state backups enabled but I don't have the volume mounted that the article describes, at least it isn't listed in disk management. can that shortcut

[2021-11-10 23:45] spelluru commented on #82076
The following note is added to the Important section. I am making a formatting change and it will appear tomorrow morning. #please-close

 There are different limits on number of event hubs in an Event Hubs namespace depending on the tier (Basic, Standard, Premium, or Dedicated). For these limits, See Quotas.

[2021-11-10 23:45] #82076 closed

[2021-11-11 00:04] #83653 closed

[2021-11-11 00:34] JamesTran-MSFT commented on #83711
@gdang
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 00:35] mike-urnun-msft commented on #83691
Hello @alexdrenea - Thank you for your feedback! You can use the REST API: https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-04-01-preview/subscription/create-or-update

Same operations should also be available in various languages of SDKs made available by [AutoRest](https://github.com/Azure/autorest). For example, Azure for .NET SDK has the same operations: https://docs.microsoft.com/

[2021-11-11 00:39] mike-urnun-msft commented on #83705
Hello @ririarte1 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-11 00:45] joshuawaddell commented on #83486
I am not the author of this content. This should be assigned to @Joshuha ***@***.***>.

Thanks,

Josh Waddell

From: himanshusinha-msft ***@***.***>
Sent: Wednesday, November 10, 2021 11:40 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Joshua Waddell ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] RUN column (Issue #83486)

Assigned #83486<https://nam06.safelinks.prote

[2021-11-11 00:51] mike-urnun-msft commented on #83713
Hello @gitdram - Thank you for your feedback! We will review and update as appropriate.

[2021-11-11 00:56] kobulloc-MSFT commented on #83709
@Carlsul The link is correct assuming the KB number is correct.  Looking at 3 of the neighboring links, they all resolve without issue:

- https://support.microsoft.com/kb/5005698
- https://support.microsoft.com/kb/5006749
- https://support.microsoft.com/kb/4494175

Then we hit KB5005701 and the redirect fails:

- https://support.microsoft.com/kb/5005701

[2021-11-11 01:01] kobulloc-MSFT commented on #83709
@gunnarcms Are you able to verify that 5005701 is the correct KB number?

[2021-11-11 01:02] saf-itpro opened #83724 "URL caption neither match with the heading nor the content of the article a reader is directed to"
The line just after 6th bullet of [this section](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/load-data-overview#extract-load-and-transform-elt) reads: For a loading tutorial, see [Use PolyBase to load data from Azure blob storage to Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/load-data-from-azure-blob-storage-using-copy?bc=/

[2021-11-11 01:05] James-Hamil-MSFT commented on #83695
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-11 01:06] ririarte1 commented on #83705
This one. Step 7.
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-assign-sensitivity-labels

On Wed, Nov 10, 2021 at 7:40 PM Mike Urnun ***@***.***> wrote:

[2021-11-11 01:12] ChaiSwaddipong opened #83725 "Native client?"
Hi - Could you update the page with the regions that the feature is active?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3395d9-6a03-3431-25cc-9e9813bb9059
* Version Independent ID: 90f02c63-2bd0-c8e4-2e7a-ff9eaa3a6f2d
* Content: [Connect to a VM using the native Windows client and Azure Bastion - Azure Bastion](ht

[2021-11-11 02:28] ChaitanyaNaykodi-MSFT commented on #83725
Hello @ChaiSwaddipong, thank you for reaching out. As the note says in the documentation.
![image](https://user-images.githubusercontent.com/67453298/141226224-0fe52f2d-403a-4234-a1fb-be7541367a4f.png)

You should be able to access this feature in a few days. Please let me know if you have any additional questions. Thank you!

[2021-11-11 02:35] ChaitanyaNaykodi-MSFT commented on #83700
Hello @jorge-ataide
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-11 03:15] SnehaAgrawal-MSFT commented on #83703
@kraiz Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-11 03:37] CHEEKATLAPRADEEP-MSFT commented on #83701
@PAOLT Did you get a chance to check the instructions to configure the Hadoop path on Windows mentioned in this document?

![image](https://user-images.githubusercontent.com/79183421/141232815-bab2ba7f-6a7e-43ed-8dde-cd9645147ff0.png)

[2021-11-11 03:50] SadiqhAhmed-MSFT commented on #83721
@cstirland Thank you for your post. What you've mentioned in your post needs to be validated. Would it be possible for you to contact Azure technical support team so that the specialist can work with you on this and assist you further?

[2021-11-11 03:53] ElanShudnow opened #83726 "Public Endpoint accessibility"
There is a huge misconception that Private Link disables the Public Endpoint.  Even in Tim Warner's AZ-700 series on Pluralsight, he mentions that Private Link always disables the Public Endpoints.  This is not true.  While this is true for App Service, it is not true for other services.  For example, when doing a Private Endpoint with SQL, SQL is reachable both on the Private Endpoint and Public

[2021-11-11 04:11] SaiKishor-MSFT commented on #83726
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-11 04:15] v-hagamp commented on #82817
Hi @austin-schaefer,
I am Hamsika from Azure AD documentation team, Will you please provide the valid/latest screenshots to update in the document. Then I'll update the article accordingly.
Please share the screenshots to _SaaSApplicationIntegrations@service.microsoft.com_.

[2021-11-11 04:19] v-hagamp commented on #82749
@PAgustin, Have you raised the update request?

[2021-11-11 04:31] ram-msft commented on #83512
@eric-urban Thanks, Could you please check the below issue to update the document.
![image](https://user-images.githubusercontent.com/49180516/141237261-0b8590a4-78bc-43c4-9629-8cdd1f8dd47e.png)

[2021-11-11 04:36] SumanthMarigowda commented on #83692
@Ilheu Thanks for the question! We are investigating and will update you shortly.

[2021-11-11 04:38] AshokPeddakotla-MSFT commented on #83702
[@xitxat](https://github.com/xitxat) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-11 04:56] PAgustin commented on #82749
Yes. it's been accepted an slated to be completed by 12/14.

On Wed, Nov 10, 2021 at 11:19 PM Hamsika ***@***.***> wrote:

[2021-11-11 04:57] jasonpanggit opened #83727 "Pricing calculation seem wrong in Example 4"
[Enter feedback here]

In example 4, the pricing calculation seems wrong

Variable Costs = $0.0144 * 730 (Hours) * {Max (25/50, 8.88/2.22)} = $23.36 (4 Capacity units required to handle 8.88 Mbps)

The variable cost should be $0.0144 x 730 (hours) x 4 CU = $42.04

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7416de6f-

[2021-11-11 05:50] vhhughes opened #83729 "Instrumentation Key Use is Deprecated and No Longer Supported"
We recently learned through a Premiere Support ticket that use of Instrumentation Keys is not only not recommended, but it is no longer supported. If any problems arise, support can no longer help and upgrading to using Connection Strings is required. The documentation should make this very clear, so customers don't wind up with extended Production telemetry outages like us.

---
#### Document Det

[2021-11-11 05:50] ahgyger opened #83730 "ModuleNotFoundError: No module named 'mylib'"
Running the example fails:

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211c3001-0b17-e774-15f3-3a7beb36c400
* Version Independent ID: 26d53c9e-8824-13dc-5c3a-7286065fdcef
* Content: [Log & view metrics and log files - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-log-view-

[2021-11-11 06:15] PRiekenberg opened #83731 "Microsoft Defender iOS App as approved client app"
Hi, we want to use the Microsoft Defender for iOS App, but it isn't currently available as an approved client app. Because of this we can't log in into the Defender App for iOS with Conditional Access enabled.

Could you please add the Defender for iOS App to the approved client app list?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-11-11 06:25] szabgab commented on #83495
Adding a paragraph such as this:

"In order to remove a file share using the Azure CLI use the [delete command](https://docs.microsoft.com/en-us/cli/azure/storage/share?view=azure-cli-latest#az_storage_share_delete)  or the [DELETE API method](https://docs.microsoft.com/en-us/rest/api/storagerp/file-shares/delete).

This paragraph includes both the "remove" and the "delete" keywords that people of

[2021-11-11 06:28] SadiqhAhmed-MSFT commented on #83690
@assaf-grth There is no automatic backup mechanism that exist while primary region isn't available. However, you can backup your VMs using any backup tool. But we haven't seen a situation where both regions go down at the same time. Microsoft guarantees region availability when either of the regions are affected. To handle such situation, Microsoft recommends using [BCDR with Azure paired regions]

[2021-11-11 06:50] dominicbetts commented on #83702
Hi @xitxat - thanks for pointing this out, we'll get the article updated with the missing steps.

#reassign @v-krishnag

[2021-11-11 06:53] Tichandr commented on #83678
Hello @JamesTran-MSFT, Thanks for your response. I will post my questions in the [https://github.com/MicrosoftDocs/azure-docs/issues/83678](url)

[2021-11-11 07:15] maliksahil commented on #83626
Awaiting PR merge https://github.com/MicrosoftDocs/azure-docs-pr/pull/179485

[2021-11-11 07:21] SrijitBose-MSFT commented on #83563
@amhaugen , thank you for your feedback. The `ProvisioningState` property of the [`PSKubernetesCluster Class`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.aks.models.pskubernetescluster?view=az-ps-6) object does not assume the value "Stopped" on performing a stop operation on the cluster. If the operation succeeds then the `ProvisioningState` property will be set to `Succe

[2021-11-11 07:26] RohitMungi-MSFT commented on #83730
@ahgyger Thanks for spotting this. This is actually part of the [script ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/train-on-local/mylib.py) mylib.py that should return a list of numbers from 0.0 to 1.0 with a 0.05 interval.

Could you try adding the same running your experiment again?

[2021-11-11 07:33] OwainWin opened #83732 "Event Hub Update Disruption"
It would be useful to detail if their is any the disruption of performing the tier change and what this would be would be e.g.
Is processing paused whilst the change is happing and what is the likely duration?
Is there any data or configuration loss?
Or is this a non-disruptive change?

This information is very important as it has a direct impact on how and when an upgrade would be applied and any

[2021-11-11 07:36] SrijitBose-MSFT commented on #83505
@cveld , as mentioned under the [Azure RBAC for Kubernetes Authorization](https://docs.microsoft.com/en-us/azure/aks/concepts-identity#azure-rbac-for-kubernetes-authorization) section later in the document,

Hope this helps!

[2021-11-11 07:38] SrijitBose-MSFT commented on #83245
@circy9 , since we have not heard from you, we shall proceed to close this thread for now. If you have further queries please comment on this thread and we can continue from there.

#please-close

[2021-11-11 07:38] #83245 closed

[2021-11-11 08:23] molotch commented on #83618
Thanks, so it's not just me, there are no logs that show what happens during a scan?

[2021-11-11 08:34] GitaraniSharma-MSFT commented on #83727
@jasonpanggit , thank you for your feedback. We'll review this and get back to you shortly!

[2021-11-11 08:39] ShaikMaheer-MSFT commented on #83520
@mssaperla \ @leifbro Feedback issue assigned to Author. Kindly review PR and merge changes. Thank you.

[2021-11-11 09:00] SumanthMarigowda commented on #83715
@philhines Thanks for the question! We are investigating and will update you shortly.

[2021-11-11 09:27] SwathiDhanwada-MSFT commented on #83363
Assigning to content author @JYOTHIRMAISURI for review.

[2021-11-11 09:32] SimranGhising opened #83734 "application-insights/subsvc Azure-monitor/svc billing/svc Pri1 triaged"
IMO, any Azure page should explicitly identify the costs, if any, or link to the page which does
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content: [What is Azure Application Insights? - Azur

[2021-11-11 09:38] pdebruin opened #83735 "azcliversion 2.0.72 results in ERROR: Please run 'az account set' to select active account"
[Enter feedback here]
For reference see issue https://github.com/Azure/cli/issues/56

To summarize: github actions azure/login and azure/cli recently started using separate incompatible versions of az cli resulting in a confusing error message "ERROR: Please run 'az account set' to select active account", when following the instructions in step 5 and 6 of this page.

Yesterday updates were release

[2021-11-11 09:51] JesvinJoseph commented on #83532
@MartinJaffer-MSFT do you know its version?

[2021-11-11 10:08] rncwnd79 opened #83736 "Information about automatic remediation of new resources"
Hi,

I expected to find some information about when and when not non-resources are automatically remediated after a policy with effect `DeployIfNotExists` or `Modify` was assigned.

On the [What is Azure Policy?](https://docs.microsoft.com/en-us/azure/governance/policy/overview) page, first section it says " It also helps to bring your resources to compliance through bulk remediation for existing

[2021-11-11 10:19] OgeonX commented on #83668
Well.
First of all you have this setting
![image](https://user-images.githubusercontent.com/8281041/141280512-2bd1bc3a-42b8-4804-ad8e-4405a97d8ed2.png)
and when storage is not public all connections are blocked.
youa re supposed to put there address ranges. Cant use what is in
https://www.microsoft.com/en-us/download/details.aspx?id=56519&WT.mc_id=rss_alldownloads_all
as it is not ranges.

CAnt ad

[2021-11-11 10:20] OgeonX commented on #83668
![image](https://user-images.githubusercontent.com/8281041/141281242-fae3cd25-5097-4782-9af7-98e9c1f11e1d.png)
So it says allow azure to connect but you still need to put IP in the list..
What is idea of the whole slider then ?

[2021-11-11 10:31] nunoplopes opened #83737 "ACU page doesn't mention NC series"
The ACU page doesn't mention NC series; I can't find if vCPUs are CPU physical cores or hyper-threaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machin

[2021-11-11 10:38] v-hagamp commented on #83204
#please-close

[2021-11-11 10:38] #83204 closed

[2021-11-11 10:45] JimFarr opened #83738 "Unclear Distribution Logic for Per-App Scaling"
Hi!

I've been investigating how azure distributes appservices with per-app scaling enabled for a POC I'm working on - the docs have this to say about it:

I might be missing something here, as my appservices are being allocated in a heavily biased manner. Here's my methodology:

- created an app service plan with scaleout enabled and 6 workers/instances (tried both standard and premium tiers)
- c

[2021-11-11 10:55] SnehaAgrawal-MSFT commented on #83720
@jeremiahhoward Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-11 10:58] SnehaAgrawal-MSFT commented on #83732
@OwainWin Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-11 11:37] manish1635 commented on #82452
Hi - It seems that there will always be downtime if we are using the ARM template. Any suggestion for preserving app settings? If not, then please also confirm.

[2021-11-11 11:44] SanaChopra commented on #83213
@shreyan1999 Sorry for the late reply
Could you share the steps you took to setup your rpc endpoint? Its possible you maybe configuring it incorrectly. Also could you run ABW troubleshooting script or check ABW traces on App insights on Azure portal to see the exact error you are getting and share it with us? That would help us in figuring out the actual issue

[2021-11-11 13:00] shreyan1999 commented on #83213
No problem. I deployed a "Quorum Devkit" resource by consensys on Azure. In the description of this service it said that there will be rpc endpoints provided with port number 8545. I did the quickstart and then tried connecting it with workbench. It couldnt deploy the workbench and showed an error with the rpc endpoint. I am avoiding the Ethereum consortium service on azure because it says that it

[2021-11-11 13:02] xitxat opened #83740 "Instructions need updating"
Create a logic app
When creating new Logic App select Consumption not Standard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f693815-9f5a-8a0d-568c-894a58e2d03f
* Version Independent ID: a50bfc24-d5ed-c981-fae1-e3a56c94ad7c
* Content: [Tutorial - Export data and visualize insights in Azure IoT Central](https://docs.

[2021-11-11 13:06] jotavar opened #83741 "Hidden character in code snippet causes "az aks create" command do fail"
When copying the JSON contents with the "copy" button there is a hidden character instead of a whitespace after "noProxy": that is only visible if you paste the copied contents to notepadd++. Check the image:

![image](https://user-images.githubusercontent.com/60930147/141302994-d7a2bf31-6dc0-44bd-95db-8795fce4313c.png)

Because of this hidden character the "az aks create" command fails due to inv

[2021-11-11 13:13] mikeblakeuk opened #83742 "How do you clear the MSAL cache"
It would help testing tokens if we could clear the static cache

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6b0d71-daf8-e75a-5157-a8a3c1c8bf1a
* Version Independent ID: 64d94165-c058-3867-fc63-6d816399fde4
* Content: [Token cache serialization (MSAL.NET) - Microsoft identity platform](https://docs.microsoft.com/en

[2021-11-11 13:44] v-hagamp commented on #76639
#please-close

[2021-11-11 13:44] #76639 closed

[2021-11-11 13:47] v-hagamp commented on #78422
#please-close

[2021-11-11 13:47] #78422 closed

[2021-11-11 13:50] LordLauderdale commented on #83204
Im disappointed this was closed before it was resolved. Look the information in the Azure Enterprise App Gallery is still incorrect and this caused massive confusion for companies identifying the correct App and vendor.
![Screenshot 2021-11-11 at 13 45 42](https://user-images.githubusercontent.com/93517464/141309275-9426db31-754a-437b-9e9a-1700255b4184.png)

[2021-11-11 13:56] v-hagamp commented on #82749
#please-close

[2021-11-11 13:56] #82749 closed

[2021-11-11 13:57] gary918 opened #83744 "Can I NOT use recommended private DNS zone name for Azure serivces ?"
Hi, experts,
Here's a table for the recommended private DNS zone name for Azure serivces: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

Don't know if I can use other names? For example, use '**myprivatelink.database.windows.net**' instead of 'privatelink.database.windows.net'? Will that cause any issues?

Thanks & regards,
Gary

---

[2021-11-11 13:59] v-hagamp commented on #55228
#please-close

[2021-11-11 13:59] #55228 closed

[2021-11-11 14:04] johnayoub opened #83745 "AES keys support"
Why are the AES keys only supported in the managed HSM version? Is there a plan to bring support to the regular tier of Key Vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bb0a5f4-0599-b06f-f4eb-09e2fe4e41f6
* Version Independent ID: ae2f1f4b-0961-e0c0-fd0f-1d49c23f3d3f
* Content: [Key types, algorithms, and ope

[2021-11-11 14:05] alexdrenea commented on #83691
Thank you for your reply Mike!
This is definitely pointing me in the right direction...

I was not able to find this info / link / documentation from any of the API Management Docs pages. Did I miss it? If I didn't, do you think it might be a good addition to the main APIm Docs tree to include a reference to the REST endpoints / options to do this?

Thanks again!

[2021-11-11 14:08] v-hagamp commented on #57014
#please-close

[2021-11-11 14:08] #57014 closed

[2021-11-11 14:11] MonikaReddy-MSFT commented on #83736
@rncwnd79  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-11-11 14:11] v-hagamp commented on #51243
#please-close

[2021-11-11 14:11] #51243 closed

[2021-11-11 14:12] MonikaReddy-MSFT commented on #83729
@vhhughes - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-11 14:21] yzorg opened #83746 "new AppService Service Connections: why no Azure SQL, why no CosmosDB"
Why aren't CosmosDB and Azure SQL Server part of this offering, is there preferred "service connection" options for those data services over this offering?  If so it would be nice to recommend what to read for Azure SQL to use instead of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0435c3-3a25-f8a8-30f2-b8b62

[2021-11-11 14:26] v-hagamp commented on #83094
@molfinn
I am Hamsika from Azure AD documentation team, please let me know what to update in the document?
If you have any suggested guide/word file for the Configuration on Cobalt, please share to this [address](SaaSApplicationIntegrations@service.microsoft.com). Then we'll update the document as per it?

[2021-11-11 14:39] v-hagamp commented on #82639
@molfinn
I am Hamsika from Azure AD documentation team,
If you have any suggested guide/word file for the Configuration on Splunk, please share to this [address](SaaSApplicationIntegrations@service.microsoft.com)? Then we'll update the document as per it.

[2021-11-11 14:41] SaiKishor-MSFT commented on #83744
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-11 14:41] spelluru commented on #83435
https://github.com/Azure/azure-event-hubs-go/blob/master/_examples/helloworld/producer/main.go#L32

Fixing it today. Thanks.

[2021-11-11 14:45] andyjballgit opened #83747 "Is there a limit on how many characters can be copied and pasted via Bastion"
[Enter feedback here]

I have a text file of 8298 bytes , when i try and copy and paste into Bastion nothing happens / gets copied

If copy half the file , it works fine , and then 2nd half of file also fine.

Feels like there is a character limit / 8192 perhaps

Windows VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-11-11 14:57] unsignedlongmax commented on #64839
Any update here ? There doesn't seem to be any update in the docs & not sure how to mark Publisher as Verified for Azure AD B2C App Registrations

[2021-11-11 15:08] spelluru commented on #83435
The fix will go live around 10:15 AM PST. Thanks.

#please-close

[2021-11-11 15:08] #83435 closed

[2021-11-11 15:16] LordLauderdale commented on #83204
Oops! My apologies you guys are the best!

[2021-11-11 15:30] mohijazi opened #83748 "Typo in IPv6 support with VPN | First point of limitation section"
At the "limitation" section, there is a type regarding the VPN; instead of writing ipv4, the doc contains v6 :
"VPN gateways currently support IPv6 traffic only, but they still CAN be deployed in a Dual-stacked VNET."

This should be changed to :
"VPN gateways currently support IPv4 traffic only, but they still CAN be deployed in a Dual-stacked VNET""

Also, since ipv6 is not supported with AppGW,

[2021-11-11 15:32] GitaraniSharma-MSFT commented on #83748
@mohijazi , thank you for the feedback. We'll review this and get back to you shortly!

[2021-11-11 15:42] GitaraniSharma-MSFT commented on #83747
@andyjballgit , thank you for your query. We'll investigate and get back to you shortly!

[2021-11-11 15:46] GitaraniSharma-MSFT commented on #83663
@luodun2020 , could you please provide some more details on the issue you are facing?

[2021-11-11 15:46] alisonOCT opened #83750 "Wrong Entity ID for OC Tanner AppreciateHub in Azure App Gallery"
Hi there,

When clients use the O.C. Tanner- AppreciateHub app in the Azure App Gallery to configure SAML SSO, the Entity ID for OC Tanner is incorrect. The Identifier/Entity ID needs to be updated to https://fed.octanner.net. It's currently showing as fed.appreciatehub.com; this is outdated.

Thank you,
Alison

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-11-11 15:57] RyanHill-MSFT commented on #83738
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-11 16:02] JamesTran-MSFT commented on #83745
@johnayoub
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 16:03] JamesTran-MSFT commented on #83750
@alisonOCT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 16:03] mike-urnun-msft commented on #83719
Hi @FrankAlberto - Thank you for your feedback! We will review and update as appropriate.

[2021-11-11 16:04] JamesTran-MSFT commented on #83731
@PRiekenberg
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 16:18] VikasPullagura-MSFT commented on #83737
@nunoplopes
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-11 16:18] VikasPullagura-MSFT commented on #83737
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-11-11 16:28] MicrosoftGuyJFlo commented on #83731
@PRiekenberg You would have to reach out to the Defender team to ask that they configure their app appropriately. #please-close

[2021-11-11 16:28] #83731 closed

[2021-11-11 16:30] v-krishnag commented on #82366
completed the doc updates #please-close

[2021-11-11 16:30] #82366 closed

[2021-11-11 16:30] v-krishnag commented on #82384
completed the doc updates #please-close

[2021-11-11 16:30] #82384 closed

[2021-11-11 16:30] v-krishnag commented on #82435
completed the doc updates #please-close

[2021-11-11 16:30] #82435 closed

[2021-11-11 16:36] VikasPullagura-MSFT commented on #83741
@jotavar Thanks for pointing this, the document is updated and changes will go live soon.

[2021-11-11 16:37] #83741 closed

[2021-11-11 16:39] philhines commented on #83715
@SumanthMarigowda : I had a chat with the original author yesterday and he helped me with this. In retrospect I think the article does cover this sufficiently.  I just missed it.

[2021-11-11 16:39] #83715 closed

[2021-11-11 16:46] b-juche commented on #83602
Thanks again @RutgerKosters - Doc has been updated per discussion with the ANF team.

#please-close

[2021-11-11 16:46] #83602 closed

[2021-11-11 16:52] abdkha opened #83751 "GA Status"
[Enter feedback here]
These VMs aren't available generally for all Zones within a Region.
Example: Dasv5 VMs are only available in Zone 3 in West Europe. When will it be available for the other zones? Or there are no plans for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89844ef3
* V

[2021-11-11 16:53] jtmackoy opened #83753 "Role Assignments limit appears to now be 4000 - doc needs updating"
Role assignments in a subscription now appear to be limited to 4000 - not 2000 as the documentation specifies.

Proof:
![image](https://user-images.githubusercontent.com/7025779/141337368-996f9198-72e9-4246-8c2b-69b756e76165.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5007891-1b7a-1c87-6a0d-ea46cd469f34
* Vers

[2021-11-11 16:57] BharathNimmala-MSFT commented on #83717
@SidneyPhoon Thank you for bringing this to our attention, our team will review and get back to you at the earliest.

[2021-11-11 16:58] jtmackoy commented on #83753
Actually, another of our subscriptions still lists 2000.  Not sure what the difference is.

We've been told that 2000 was a hard-limit, but that clearly is not the case anymore (as per the screen cap I showed).

[2021-11-11 17:02] bandersmsft commented on #82642
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179537

[2021-11-11 17:02] bandersmsft commented on #83115
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179537

[2021-11-11 17:04] bandersmsft commented on #82642
@Dainkimm Thanks for the request. I've updated the article to add the following section. The article will get refreshed live later today.

## Create a subscription as a partner for a customer

Partners with a Microsoft Partner Agreement use the following steps to create a new Microsoft Azure Plan subscription for their customers. The subscription is created under the partner’s billing account and

[2021-11-11 17:04] #82642 closed

[2021-11-11 17:04] bandersmsft commented on #83115
@mosolano Thanks for the request. I've updated the article to add the following section. The article will get refreshed live later today.

## Create a subscription as a partner for a customer

Partners with a Microsoft Partner Agreement use the following steps to create a new Microsoft Azure Plan subscription for their customers. The subscription is created under the partner’s billing account and

[2021-11-11 17:04] #83115 closed

[2021-11-11 17:09] Badabum opened #83754 "Suggestion: replace ngrok with localtunnel"
The doc suggests usage of `ngrok` tool, which is paid and closed source. I found it very useful to debug event grid functions using [localtunnel](https://github.com/localtunnel/localtunnel). It's free, open source tool so might be easier to use for wider audience,
Especially because localtunnel allows you to set subdomain, e.g `func1.loca.lt` that you can reuse, while ngrok, on free tier, gens ran

[2021-11-11 17:10] nelsonmorais commented on #69635
Hi,
I have the exact same issue (can't route based on $twin properties on Edge device)
The workaround mentioned by @omarine worked for me when I set the tags on the module that is sending the telemetry message, in this case the OPCPublisher.

Clearly this is not well documented here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-routing-query-syntax, neither it says that Edge dev

[2021-11-11 17:13] #83321 closed

[2021-11-11 17:14] mimckitt commented on #83737
#reassign: @vikancha-MSFT who works on the N series

[2021-11-11 17:18] JPadster opened #83755 "Network watcher Sample fails if the NetworkWatcherRG does not exist"
The sample on this page fails when the networkWatcherRG does not exist. Evaluation against a resourceGroup that doesn't exist is not possible, so the deployment will never occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26037dbe-b1d1-de0b-9b6c-8f4fb36743ee
* Version Independent ID: 902806bf-c9ff-ff52-de5a-a471d86

[2021-11-11 17:20] JamesTran-MSFT commented on #83753
@jtmackoy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 17:21] mimckitt commented on #82587
You can: https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-6.6.0

I will update the doc now.

Thanks for pointing this out!

#please-close

[2021-11-11 17:21] #82587 closed

[2021-11-11 17:23] mimckitt commented on #82159
#reassign: @ju-shim

@ju-shim please work with Jerry and Avi to see if this is something they want to add.

[2021-11-11 17:24] dileepraotv-github commented on #82268
#please-close

[2021-11-11 17:24] #82268 closed

[2021-11-11 17:24] mimckitt commented on #81390
We are currently reworking all these sections. So updates will becoming shortly to make all this more clear :)

#please-close

[2021-11-11 17:24] #81390 closed

[2021-11-11 17:26] mimckitt commented on #74831
Closing for now. If still an issue, please let me know and I will reopen

#please-close

[2021-11-11 17:26] #74831 closed

[2021-11-11 17:26] mike-urnun-msft commented on #83724
Hello @saf-itpro - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-11 17:28] mike-urnun-msft commented on #83754
Hello @Badabum - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-11 17:31] roygara commented on #83169
@cackler Thanks for reaching out, we appreciate it! I've gone ahead and updated the article, the changes will be live later today.

Accordingly, I'll close this out.

#please-close

[2021-11-11 17:31] #83169 closed

[2021-11-11 17:37] shizn commented on #83746
Hey @yzorg, thanks a lot for the feedback. Cosmos DB is already supported. If you go to the portal experience or using Azure CLI, you should be able to see Cosmos DB option. The product team is working on updating the docs to cover Cosmos DB.
![image](https://user-images.githubusercontent.com/3619378/141343330-00ed4391-2676-49cb-b3f0-b66a6ca0a354.png)

For SQL DB/SQL Server, it's still working in

[2021-11-11 17:38] ash2017 commented on #69635
***@***.*** ***@***.***>, @Alexandra ***@***.***> for investigation.

Ashita Rastogi
Sr. Program Manager, Azure IoT
Email: ***@***.******@***.***>
linkedin.com/in/ashitarastogi<https://www.linkedin.com/in/ashitarastogi>
***@***.***

From: Nelson Morais ***@***.***>
Sent: Thursday, November 11, 2021 9:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ashita Rastogi ***@***.***>; Mention ***@***.*

[2021-11-11 17:42] Grace-MacJones-MSFT commented on #82935
Thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-11-11 17:42] #82935 closed

[2021-11-11 18:13] MonikaReddy-MSFT commented on #83734
@SimranGhising - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-11 18:17] ash2017 commented on #69635
Thanks @Ashita ***@***.***>.  Yes, if the messages come from a module (not just for edge modules but also regular device modules) then the $twin will refer to the module twin not the device twin. (Please see this ***@***.***/1620767114999?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=03efca67-4e36-461c-ac6e-cf749c8e9116&parentMessageId=1620458985891&teamName=IoT%20Support&channelName=IoT%2

[2021-11-11 18:29] DerekHerman-MSFT commented on #83735
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-11 18:30] laujan commented on #83717
Hi @SidneyPhoon, thank you for your feedback. I have updated the documentation and it should be published later today.

#please-close

[2021-11-11 18:30] #83717 closed

[2021-11-11 18:37] kobulloc-MSFT commented on #83751
@abdkha Thank you for your question!  I've assigned this to the document author for review.

[2021-11-11 19:01] StuBeck32 opened #83758 "Need definition of Windows down-level devices"
This is cited without any explanation
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5166e4-5d15-ef1f-1090-576a69e601e8
* Content: [Configure hybrid Azure Active Directory join for managed domains](https://docs.microsoft.com/en-us/az

[2021-11-11 19:09] damarce135 opened #83759 "Manage rules and association using PowerShell incomplete"
(https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-collection-rule-azure-monitor-agent#manage-rules-and-association-using-powershell)

Documentation reference above. In this section, it is supposed to show how to setup the DCR for it to collect data and install the AMA for Log Analytics, but it only shows a few cmdlets with no example of how to properly use them and does not clarify

[2021-11-11 19:10] SidneyPhoon opened #83760 "Error in request when calling prebuilt invoice model with sample code"
[Enter feedback here]
The sample request body is like this, but I get an error ("message": "The parameter urlSource or base64Source is required.").  The problem is resolved when I replaced "source" with "urlSource".  You need to update the sample code

curl -v -i POST "https://{endpoint}/formrecognizer/documentModels/prebuilt-invoice:analyze?api-version=2021-09-30-preview&api-version=2021-09-30-pr

[2021-11-11 19:16] MarileeTurscak-MSFT commented on #83758
@StuBeck32
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 19:18] sgnls commented on #44910
In case anybody stumbles across this, outside of 'misconfigurations' with SSPR, verify that '**Security Defaults**' are not enabled on the tenancy in place of **Conditional Access**; typically this is missed before CAPs are configured and will regress the capability to utilise SMS, phone or email as alternative methods... and subsequently, you won't have the option.

[https://docs.microsoft.com/en

[2021-11-11 19:25] MarileeTurscak-MSFT commented on #83742
@mikeblakeuk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 19:31] explore-code opened #83761 "Control script references non-existing environment 'AzureML-PyTorch-1.6-CPU'"
Current state: The control script references a non-existing environment 'AzureML-PyTorch-1.6-CPU' in line 17:

`env = ws.environments['AzureML-PyTorch-1.6-CPU']`

Desired state: The control script references an existing environment.

In my workspace,

[code]

lists the following available environments:

AzureML-Triton
AzureML-onnxruntime-1.6-ubuntu18.04-py37-cpu-inference
AzureML-tensorflow-2.4-ub

[2021-11-11 19:33] irenehua commented on #83346
This is fixed. Let me know if you still experience issues.

#pelase-close

[2021-11-11 19:38] borgewi commented on #83280
@AnuragSingh-MSFT

In the [guide to deploying ARM templates from a pipeline](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-tutorial-pipeline) it states that the repo can be either public or private. These documentations seem to contradict each other, or am I missing something here?

![image](https://user-images.githubusercontent.com/16647813/141357881-f9f4327c-

[2021-11-11 19:41] #83346 closed

[2021-11-11 20:01] jlichwa commented on #82566
Updated #please-close

[2021-11-11 20:01] #82566 closed

[2021-11-11 20:07] jlichwa commented on #83745
There is no plan to support it on Key Vault.

Key Vault Team
#please-close

[2021-11-11 20:07] #83745 closed

[2021-11-11 20:09] msmbaldwin commented on #52342
#please-close

[2021-11-11 20:09] #52342 closed

[2021-11-11 20:11] msmbaldwin commented on #82600
This has been done; see https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/virtual-desktop-security-baseline. Thank you! #please-close

[2021-11-11 20:11] #82600 closed

[2021-11-11 20:12] noahbirrer-8451 opened #83764 "Role assignment limit increase on subscriptions"
Has the role assignment limit of 2000 been updated to 4000? We have noticed an increase on our subscriptions. Can we get confirmation that 4000 will be the limit moving forward?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d9df941-3116-600e-49f7-a8fa3f732970
* Version Independent ID: 65afc3ee-c285-a8cc-2d8b-a509446f

[2021-11-11 20:14] msmbaldwin commented on #83273
Hi, @trotter-anne. The Azure Security Benchmark v2 controls are now depreciated. See the V3 Data Protection article at https://docs.microsoft.com/en-us/security/benchmark/azure/security-controls-v3-data-protection. If you have feedback on that article, please let me know. #please-close

[2021-11-11 20:14] #83273 closed

[2021-11-11 20:18] msmbaldwin commented on #71016
Hi, @ameetkonnur. This is the Azure Security Benchmark (ASB) v1 page, which is archived and no longer maintained. You can find the latest version of the ASB at https://docs.microsoft.com/en-us/security/benchmark/azure/overview. "Penetration Tests and Red Team Exercises" is no longer a listed control. Thank you! #please-close

[2021-11-11 20:18] #71016 closed

[2021-11-11 20:22] msmbaldwin commented on #65875
Hi, @thommck. We just release the Azure Security Benchmark v3 and, taking your feedback into account, unveiled it with a "What's New in v3" section. See https://docs.microsoft.com/en-us/security/benchmark/azure/overview#whats-new-in-asb-v3. Thank you! #please-close

[2021-11-11 20:22] #65875 closed

[2021-11-11 20:23] msmbaldwin commented on #80352
#please-close

[2021-11-11 20:23] #80352 closed

[2021-11-11 20:40] ahgyger commented on #83730
Thanks @RohitMungi-MSFT - I was able to fix it.
There are a few other dependencies missing on the page scripts. Would be nicer to have each page working independently from each other.

Also having an import to a script to return np.arange() seems like an overkill :).

[2021-11-11 20:40] JamesTran-MSFT commented on #83764
@noahbirrer-8451
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 20:42] mortenjoenby opened #83767 "Error in Intel Platinum model for new Edv5/Edsv5"
"The Edv5 and Edsv5-series runs on the Intel® Xeon® Platinum 8272CL (Ice Lake) processors "

The model number for Ice Lake is not 8272 I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe4daa4d-bf66-35ef-c15c-ab631fea8f96
* Version Independent ID: 77d3a688-118e-9f49-33e3-428cab5fb6b7
* Content: [Azure VM sizes

[2021-11-11 20:44] nickgmicrosoft commented on #64839
Hi, there,

More information can be found [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-microsoft-account?pivots=b2c-custom-policy#verify-the-applications-publisher-domain) and [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-custom-policy).

Are there other scenarios beyond using Microsoft

[2021-11-11 20:54] M-Hoogie opened #83768 "ClaimsSchema Paragraph doc"
It seems like either the docs are out of date or this is a bug for azure b2c. But it seems like the enumeration example in the paragraph does not work.

A snippet of my xml

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f7

[2021-11-11 21:07] JamesTran-MSFT commented on #83750
@alisonOCT
Thank you for pointing this out!

For the Entity ID within the Azure Portal, it looks like you should be able to edit it. However, I'll assign this issue to the author to investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/141369045-74f3af69-a81a-4977-a8f3-141fafef6117.png)

Thank you for your time and patience throughout this issue.

[2021-11-11 21:08] ecfan commented on #82128
Hi @hmntrathore, we've merged an update to the docs, which should appear after 4 PM Pacific Time today. Thanks!

@SamaraSoucy-MSFT: #please-close

[2021-11-11 21:08] #82128 closed

[2021-11-11 21:10] JamesTran-MSFT commented on #83711
@gdang
Thank you for your time and patience throughout this issue!

When it comes to a PowerShell command to get the list of registered apps you can use - [Get-AzureADApplication](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadapplication?view=azureadps-2.0). However, since this issue isn't directly related to improving our docs, and to gain a better understanding of your is

[2021-11-11 21:10] #83711 closed

[2021-11-11 21:11] iwafula025 opened #83769 "AMA support for Microsoft Sentinel"
I notice Microsoft Sentinel is not among service supported by AMA, think it should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e57fdf8-ece5-2bf1-200e-f089691de53f
* Version Independent ID: cd84fac1-b179-6158-e61d-d85d797efdf3
* Content: [Overview of the Azure monitoring agents - Azure Monitor](https://docs.micro

[2021-11-11 21:16] JamesTran-MSFT commented on #83764
@noahbirrer-8451
Thank you for pointing this out!

Within my subscriptions, I was able to see two different values (2000 & 4000) for the [Azure role assignments per Azure subscription limit](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-rbac-limits).

![image](https://user-images.githubusercontent.com/36619112/141370094-88290dde-9e

[2021-11-11 21:16] JamesTran-MSFT commented on #83753
@jtmackoy
Thank you for pointing this out!

Within my subscriptions, I was able to see two different values (2000 & 4000) for the [Azure role assignments per Azure subscription limit](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-rbac-limits).

![image](https://user-images.githubusercontent.com/36619112/141370094-88290dde-9e52-4b67

[2021-11-11 21:16] savjani commented on #82603
thanks @BartVB for the feedback. Could you please clarify which line in the documentation misled you to believe following

"I had expected the firewall rules to completely block access to port 3306, in reality access is blocked by the gateway"

[2021-11-11 21:29] jmprieur commented on #83742
@mikeblakeuk : for public client applications, there is another article explaining how to clear the token cache:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-clear-token-cache

Is it enough? or would you have something else in mind that would have helped you?

[2021-11-11 21:36] dwmuller opened #83770 "Please explain what the launch.json file should contain for API debugging."
Unless you followed just the right recipe, out of many possibilities, for creating your project, the launch.json file might not be set up to just magically start the API in the VSCode debugger. It would be very helpful if this page explained, or provided a reference to, the required content of the launch.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-11-11 21:37] LifeNeverLost opened #83771 "Request for When does Passwordless Mode Auto Disable"
Could you please add a section that tells you what actions will turn off passwordless mode on the mobile Microsoft Authenticator App? For example, if a device password is changed or if Face ID is changed that could turn off passwordless mode.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad

[2021-11-11 21:49] JamesTran-MSFT commented on #83768
@M-Hoogie
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-11 21:50] JamesTran-MSFT commented on #83771
@LifeNeverLost
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-11 21:50] seangifford opened #83772 "Need details to view Deployment history for all deployment scopes"
This document assumes Resource Group scoped deployments, and makes no mention of viewing deployment history of other scopes.  For example, viewing the list of Subscription scoped deployments, which is probably obvious enough (look for the Deployments tab in the Subscription instead of the Resource Group), but isn't obvious at all for Tenant or Management Group scoped deployments.
---
#### Document

[2021-11-11 21:56] dlepow commented on #82999
@josersleal - Thanks for the question. In the call to create a user, the subscriptionID, resourceGroupName, and serviceName are existing properties of the current APIM service. The user ID is chosen by you to identify the user uniquely. Does this information help you delegate user registration?

[2021-11-11 22:16] aralvar opened #83773 "Create PLS when PLS and Load Balancer are in different Resource Groups"
The command provided in the document works when both the PLS and the LB are part of the same Resource Group
When using different RGs, --lb-name should not be included. If you include it, the PLS creation tries to look for that LB name in the same RG as the one for the PLS.
--lb-name is not required if you use ID for --lb-fronted-ip-configs argument.

---
#### Document Details

⚠ *Do not edit this

[2021-11-11 22:33] andrewbrownmsft commented on #83050
Thank you - sincerely! - for this very detailed feedback. It is incredibly valuable. I have forwarded to relevant members of my team, as many of the issues you raise cut across different feature areas. I'm in the process of making some changes this afternoon to the tutorial and import-related pages. Myself or someone else on the team will reply once we've had a chance to review and address the com

[2021-11-11 22:34] abatishchev commented on #83574
@roygara, ping please.

[2021-11-11 22:35] dlepow commented on #81487
@mpapas - Thanks for the feedback, sorry for slow response. This is a helpful suggestion and I'll add it to the article.

[2021-11-11 22:41] mimckitt commented on #83621
We don't currently have the benchmarks available for the new series. We will be updating the doc as they become available.

#please-close

[2021-11-11 22:42] #83621 closed

[2021-11-11 22:59] kfolkes opened #83775 "Clear up the documentation on the Last steps"
[Enter feedback here]
in this section of the the docuementation.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-openapi-definition#download-the-openapi-definition

Download the OpenAPI definition
After your functions have been imported, you can download the OpenAPI definition from the API Management instance.

Select Download OpenAPI definition at the top of the page.

Download

[2021-11-11 23:02] dlepow commented on #81448
The Helm article has been updated for Helm 3.7.1 commands, so I am closing this issue. Thanks again for contacting us.
#please-close

[2021-11-11 23:03] #81448 closed

[2021-11-11 23:08] dlepow commented on #83638
@DamonStamper - Thanks for raising this issue. I'll update the article with your suggestion.

[2021-11-11 23:14] SatishBoddu-MSFT commented on #83740
Hello @xitxat Thanks for your feedback.
Our SME will review your feedback soon.

[2021-11-11 23:15] dlepow commented on #83638
#assign dlepow

[2021-11-11 23:15] rdiazel commented on #28786
I have found that for the policy to work, the audience of the token should be the appID itself. Otherwise, the policy is not applied

[2021-11-11 23:26] himanshusinha-msft commented on #83462
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-11-11 23:27] himanshusinha-msft commented on #83393
Since PR is raised , closing the issue now .

[2021-11-11 23:27] #83393 closed

[2021-11-11 23:29] himanshusinha-msft commented on #83451
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-11-11 23:37] dlepow commented on #82628
@JeffKoMS - It looks like this issue with importing an OpenAPI spec has been fixed, so the backend URL should be populated automatically from the spec. If you have a chance, can you please try it again? Thanks.

[2021-11-11 23:37] MarileeTurscak-MSFT commented on #83640
Hi @mosharafMS,

I was unable to find you on Teams but please feel free to ping/email me about this (info on my page). There is an open work item involving this but it is still in-progress.

Thanks,

Marilee

[2021-11-11 23:39] dlepow commented on #81954
@Jorrit)5 - It looks like there was an issue with importing an OpenAPI spec and it has been fixed, so the web service URL should now be populated automatically from the spec. If you have a chance, can you please try it again? Thanks.

[2021-11-11 23:56] MarileeTurscak-MSFT commented on #83758
Thank you. I made a pull request to add a definition. https://github.com/MicrosoftDocs/azure-docs-pr/pull/179630

@MicrosoftGuyJFlo

[2021-11-11 23:56] #83758 closed

[2021-11-11 23:58] Ayanmullick opened #83776 "PowerShell steps for Continuous deployment thru GitHub actions"
Is there any documentation for the PowerShell steps to configure continuous deployment to Azure Functions using GitHub actions, like there is for [Azure Webapp using AzCLI](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/github-actions?view=azure-cli-latest#az_webapp_deployment_github_actions_add-examples)?

@dingmeng-xue

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-11-12 00:13] MarileeTurscak-MSFT commented on #83640
The limit has changed to 4000, but it's only for for a subset of Azure subscriptions at the moment. The limit has increased to 4000 for some subscriptions that were already near the 2000 limit. There is an open work item to increase the limit to 4000 across the board and also have the documentation reflect this change.

[2021-11-12 00:13] #83640 closed

[2021-11-12 00:18] santhoshb-msft commented on #81171
@SHxKM - Could you point us to the Azure's Java SDK referred in the above question, please?
It might be a good question on the SDK repo.

[2021-11-12 00:26] georgeOsdDev opened #83778 "Required entries of NSG for VNet integrated Azure functions"
I would like to have required entries of NSG VNet integrated Azure functions.
There are some internal outbound connection from Function host or Kudu.
For example,
- request to storage account from function host.
- sync trigger request to https://{functionappname}.azurewebsites.net/admin/host/synctriggers  from Kudu at postDeploy process.
These requests will be fail if NSG( or  firewall with UDR) r

[2021-11-12 00:51] bwren commented on #82791
Thanks! Looks like this already got updated.

#please-close

[2021-11-12 00:51] #82791 closed

[2021-11-12 00:53] bwren commented on #82598
Thanks! Looks like this has been updated.

#please-close

[2021-11-12 00:53] #82598 closed

[2021-11-12 00:57] kobulloc-MSFT commented on #83767
@mortenjoenby Thank you for pointing this out.  It appears the same model number is being used for both Cascade Lake and Ice Lake processors in the documentation.  I'll assign this to the document author for further review.

[2021-11-12 01:06] bwren commented on #80840
Thanks. This did get modified as solutions are in the process of being replaced. We do need to get an update out for this and a couple of other solutions though.

#please-close

[2021-11-12 01:06] #80840 closed

[2021-11-12 01:09] MonikaReddy-MSFT commented on #83755
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-11-12 01:11] MonikaReddy-MSFT commented on #83772
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-12 01:13] MonikaReddy-MSFT commented on #83769
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-12 01:15] MonikaReddy-MSFT commented on #83769
@iwafula025 - Thanks for bringing this to our attention.

But it is mentioned in that docs that Microsoft Sentinel is supported.

[2021-11-12 01:16] #83769 closed

[2021-11-12 01:32] KranthiPakala-MSFT commented on #83671
@chez-charlie , @ssabat - Could you please review this feedback and share your inputs? Looks like related to https://github.com/microsoftdocs/azure-docs/issues/83030 .

Thanks

[2021-11-12 01:36] luodun2020 commented on #83663
To create a private endpoint, you need subnet write permission. In enterprise or shared environment, giving this right to developer would allow them to remove subnets. Most of time security team will not approve this hence developer will lost the ability to create their own private endpoints.  Can we have a way to create private endpoint without subnet/write permission?

[2021-11-12 01:50] MGoedtel commented on #76673
I've retested this using a standard user account and verified the account used to run the POSH script to obtain the token does not need to be an admin account or member of any other elevated group on the local machine. I've reverted the change as a result of this.  As part of this testing, I've confirmed the sample code provided in the article is syntactically correct and works as described.

[2021-11-12 01:55] GitaraniSharma-MSFT commented on #83673
@insankim , as mentioned in issue# https://github.com/MicrosoftDocs/azure-docs/issues/26251, you can enable/disable accelerated networking on NIC while VM is running. But the reason why it is mentioned that you need to stop the VM before you enable accelerated networking on a VM, is to make sure the functionality is not affected. The command will run successfully, but you need to check the functio

[2021-11-12 01:55] #83673 closed

[2021-11-12 01:56] ChaitanyaNaykodi-MSFT commented on #83773
Hello @aralvar
Thank you for your feedback! We will review and update as appropriate.

[2021-11-12 02:00] GitaraniSharma-MSFT commented on #83747
@andyjballgit , I checked with the Azure Bastion product group team and they have confirmed that the limit is 128 KB. They plan to support file transfer in the future and also working internally to increase the copy paste limit.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-11-12 02:00] #83747 closed

[2021-11-12 02:41] sgkim99 opened #83779 "Durable Functions(Fan-in-fan-out tutorials) problems"
Nice examples for durable functions - Cloud backup
I could not find the Http trigger function in this web page for this example. I was very confused as a newbie.
(I think you should put http trigger function in this page for the newbie.)
Finally I found the Http trigger function in the github pages.
But after http trigger, I got the following error messages.
(postman app was used for the POST mess

[2021-11-12 02:59] alkdese opened #83780 "Documentation quality is poor"
Main problem article doesn't have a link to all AKS nginx ingress annotations.
Why there's no link section like "See also"?

[2021-11-12 04:04] AjayKumar-MSFT commented on #83770
@dwmuller, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.
@craigshoemaker, Requesting your comments on this.

[2021-11-12 04:28] ram-msft commented on #83599
Thanks, Please add the header "Content-Length : 0" to the curl command,

or Here is the link to the [custom vision API](https://southcentralus.dev.cognitive.microsoft.com/docs/services/Custom_Vision_Training_3.3/operations/5eb0bcc6548b571998fddeae).

We will update the document with headers.

[2021-11-12 04:34] SumanthMarigowda commented on #83746
@yzorg Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 05:01] ram-msft commented on #83612
Thanks, @PatrickFarley Could you please help to update the document.

[2021-11-12 05:02] RohitMungi-MSFT commented on #83761
@explore-code Thanks for spotting this. From the list of [curated envs](https://docs.microsoft.com/en-us/azure/machine-learning/resource-curated-environments#pytorch) it looks like the mentioned env is not available yet.
@aminsaied Can we go ahead and update the document to use environment for pyTorch-1.3?

[2021-11-12 05:57] HarshitaSingh-MSFT commented on #83661
I have made the changes and you should see them soon in the documentation.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 05:57] #83661 closed

[2021-11-12 05:58] RohitMungi-MSFT commented on #83522
@popujol Unfortunately, the information requested is not available in public domain. We have added an internal feedback item to the product group to check if this information can be made public in future updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-11-12 05:58] #83522 closed

[2021-11-12 06:11] git-divs commented on #83597
I have already shared the URLs in my original note. Sharing the info again. Below links are NOT functional in URL - https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md

https://github.com/MicrosoftDocs/azure-docs/blob/master/contribute
https://github.com/MicrosoftDocs/azure-docs/blob/master/contribute/#quick-edits-to-existing-documents
https://github.com/MicrosoftDocs/azure-doc

[2021-11-12 06:16] RohitMungi-MSFT commented on #83730
Yes, I think it was added from a previous [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/16085)on this page by this [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/54868).
@swinner95 Could you please review the document for missing or redundant scripts as part of the next update?

[2021-11-12 06:19] ShaikMaheer-MSFT commented on #83618
Yes @molotch mean while support ticket is the best way to get quick help on this. Thank you.

[2021-11-12 06:19] #83618 closed

[2021-11-12 06:37] eric-urban commented on #83512
@kinosong @ram-msft - Thanks for letting me know. Speech studio UI has changed over time, and I will refresh the documentation to catch up.

[2021-11-12 06:39] GeethaThatipatri-MSFT commented on #83651
@JoshPorterFKH  this [Documentation](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import?tabs=azure-powershell) has Azure SQL DB and Azure SQL Management Instance.

[2021-11-12 06:44] v-hagamp commented on #82856
#please-close

[2021-11-12 06:44] #82856 closed

[2021-11-12 07:41] dominicbetts commented on #83740
#reassign @v-krishnag

[2021-11-12 08:09] fume opened #83784 "Wrong limitation listed"
The first bullet in the Limitations sections states:
`Configuration can currently be performed using CLI or REST requests. Azure portal or PowerShell are not supported yet.`

Which is now false, since you can create Data-Export rule directly from Azure Portal.

regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d

[2021-11-12 08:18] ToruMakabe opened #83785 "Is Cron event supported?"
This doc describes "Container Apps can scale based of a wide variety of event types. Any event supported by KEDA, is supported in Container Apps". So, [Cron](https://keda.sh/docs/2.4/scalers/cron/) event should be supported. But it doesn't work in my environment.

[code]

I ran `az containerapp create` with --scale-rules option. and the following is the rule.

[code]

Then, I got the error.

[code

[2021-11-12 08:41] SrijitBose-MSFT commented on #83505
@cveld , do you have further queries on this?

[2021-11-12 08:54] asergaz commented on #83437
Hello @pesetskyps I agree that the documentation could be more clear. When I read down the doc, I understand that the Open Inbound only exception is when you use HTTPS Protocol:

If you have a transparent gateway with leaf devices that may send method requests. In this case, Port 443 does not need to be open to external networks to connect to IoTHub or provide IoTHub services through Azure IoT Edg

[2021-11-12 08:55] mattdarwin opened #83786 "Documentation: clarify and improve the service mode documentation"
"Default mode is the default value for service mode when you create a new SignalR resource. In this mode, ... clients can have duplex real-time communication with the hub server. "

"But in default mode client connections are still handled by hub servers and upstream won't work in that mode."

This is slightly contradictory.  the second statement implies that in default mode, client-server communi

[2021-11-12 08:56] asergaz commented on #83530
@Ronelius we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 08:56] #83530 closed

[2021-11-12 09:08] mattdarwin opened #83787 "Autoscaling SignalR Service?"
It would be really helpful if the SignalR service would support autoscaling.

I can scale manually by adjusting the number of units, but how do I know when I need to do this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f191582-0cbe-ef99-5f0c-781365f47b0b
* Version Independent ID: db0c0d78-228a-94b2-312f-e1a1a248ca9

[2021-11-12 10:01] rlabinot opened #83791 "PRT lifetime and refresh"
Hello Community,

I have a question about this documentation that confuses me a bit about the lifetime and the refresh of the token.
The documentation says that the token is valid for 14 days but why does it need to be refresh every 4 hours ?

It is about security ? For example, an user receive the token with 14 days validity but at the fifth day, he is fired so he should no longer have a valid to

[2021-11-12 10:05] sbussink-covadis opened #83792 "Guidance on Virtual Network Instance Address role"
Hi, would it be possible to add some guidance on what role has to be entered in the roleName attribute of the InstanceAddress property of the VirtualNetworkSite configuration? I am talking about the following piece of configuration:

```<InstanceAddress roleName="<role-name>">```

I am a beginner following [this tutorial](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-scale-conf

[2021-11-12 10:18] massive opened #83793 "Ambiguous documentation about increasing maximum storage accounts"
Azure documentation states that:

The exact meaning of the latter paragraph is odd and ambiguous. Me (and my colleagues) read it as _the maximum number of accounts is 250, but you can ask it to be increased to 250_. In other words, you can change it from 250 to 250, i.e. increase it by 0.

I guess the documentation tries to say that you can increase the _default maximum_ of 250 by additional 250 t

[2021-11-12 10:29] sbussink-covadis opened #83794 "Azure Cloud Service (classic) is deprecated"
The "Prerequisites" section mentions creating an Azure Cloud Service, after following the tutorial further it is clear that the classic cloud service is used (as no package definition is included in the Microsoft.Azure.SqlDatabase.ElasticScale.Service.SplitMerge.1.2.0 package, which is required for the non deprecated Azure Cloud Service (extended support)).

I cannot easily continue this tutorial

[2021-11-12 10:34] diogojc opened #83795 "Normalized RU/s definition with ambiguous example"
Hello.

"For example, suppose your max throughput is 20,000 RU/s and you have two partition key ranges, P_1 and P_2, each capable of scaling to 10,000 RU/s. In a given second, if P_1 has used 6000 RUs, and P_2 8000 RUs, the normalized utilization is MAX(6000 RU / 10,000 RU, 8000 RU / 10,000 RU) = 0.8."

The example quoted above is ambiguous since 10,000 RUs is also the maximum amount of RU/s of a

[2021-11-12 10:38] SumanthMarigowda commented on #83759
@damarce135 Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 10:39] SumanthMarigowda commented on #83760
@SidneyPhoon Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 10:46] SumanthMarigowda commented on #83775
@kfolkes Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 10:47] SumanthMarigowda commented on #83776
@Ayanmullick Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 10:48] AnuragSingh-MSFT commented on #83280
@borgewi, thank you for bringing it to our attention. This is being assigned to the content owner to review and makes updates accordingly.

[2021-11-12 10:49] SumanthMarigowda commented on #83778
@georgeOsdDev Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-12 10:50] ram-msft commented on #83599
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 10:50] #83599 closed

[2021-11-12 10:52] AnuragSingh-MSFT commented on #83280
@tfitzmac, could you review the following 2 links which seems to be containing contradicting information:
1. [Why use template specs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs?tabs=azure-powershell#why-use-template-specs) states that _"To deploy the template, you need to either make the template **publicly accessible or manage access with SAS tokens**."

[2021-11-12 10:53] SumanthMarigowda commented on #83515
@surajsurendran683 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 10:53] #83515 closed

[2021-11-12 10:53] jayhamilton opened #83796 "Offer a way to extend this documentation to avoid others from reproducing all of this good content :-)"
This is a far fetched request :-). I work for a large company and we are migrating apps to Azure. We have generated a ton of documentation in wikis that cover this topic (private endpoints). At issue is that we have multiple people creating their own wikis, sharepoint sites, etc.  that are devoted at this topic. At our organization, we have a specific set of requirements that require engineers to

[2021-11-12 10:54] SumanthMarigowda commented on #83513
@surajsurendran683
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If the issue isn't not directly related to the documentation. We

[2021-11-12 10:54] #83513 closed

[2021-11-12 10:58] mikeblakeuk commented on #83742
I want to show that ;
if I use
[code]

and call this twice
[code]
This help show we don't make calls to tokens each time.
The test works on it's own, but if we have any other test that gets a token, the cache isn't clear so _cloudToken1 will be red.

In the ADAL days, we could use **TokenCache.DefaultShared.Clear();**

[2021-11-12 11:00] mikeblakeuk commented on #83742
Shame I can't call `TestCommon.ResetInternalStaticCaches();`

[2021-11-12 11:01] kumarkvk opened #83798 "Enable for an existing AGIC installation"
[Enter feedback here]

--- Tried the following in an existing AGIC installation with a confimap.
Is it possible to update the documentation with the possibility to implement the parameter APPGW_ENABLE_SHARED_APPGW: true in the configmap in this scenario Enable for an existing AGIC installation.

Tried this and it has worked .
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-11-12 11:05] scoriani commented on #83794
Thanks for the feedback! This tutorial is indeed intended to be used with Azure Cloud Service (classic) and customers can always migrate from classic to extended support after they deployed the service. We currently don't have plans to change this, but we will make more explicit that classic version is required.

[2021-11-12 11:46] PramodValavala-MSFT commented on #83779
@sgkim99 This document is built upon the [quickstart article](https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-python-vscode) which covers the HTTP Function required to the start the orchestration.

As for the error itself, this [SO thread](https://stackoverflow.com/a/68458096/10417839) mentions a few cases that could lead to this. Could you check if one of them fits your

[2021-11-12 11:59] BenoityipMSFT opened #83802 "Wrong Url"
[Enter feedback here]
In this paragraph, the link "Polybase with T-SQL is incorrect", it should be pointed to [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-load-from-azure-blob-storage-with-polybase?context=/azure/synapse-analytics/context/context)

_**PolyBase with T-SQL** works well when your data is in Azure Blob storage or Azure Data Lake

[2021-11-12 12:07] yggdrasil-tynor commented on #68917
We'd like to know this as well. It's bee a few months since end of July :)

[2021-11-12 12:08] sagarkul commented on #82962
When we can expect updates?

[2021-11-12 12:10] BenoityipMSFT opened #83803 "Wrong Url"
[Enter feedback here]
In this paragraph, the link "Polybase with T-SQL is incorrect", it should be pointed to [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-load-from-azure-blob-storage-with-polybase?context=/azure/synapse-analytics/context/context)

_**PolyBase with T-SQL** works well when your data is in Azure Blob storage or Azure Data Lake

[2021-11-12 12:10] #83803 closed

[2021-11-12 12:21] aralvar commented on #83773
I forgot to add above that when we are creating this scenario (different RGs), we need to put the LB resource ID for --lb-fronted-ip-configs

[2021-11-12 12:49] sbussink-covadis commented on #83794
Hey @scoriani, thanks for your reply!

Are you sure it is possible to migrate from classic to extended support? I noticed creating extended support from scratch is not possible as the service definition is required (see below screenshot). This service definition is not included in the NuGet package mentioned in the tutorial.

![image](https://user-images.githubusercontent.com/93262474/141469754-09

[2021-11-12 12:55] MonikaReddy-MSFT commented on #83784
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-12 12:56] MonikaReddy-MSFT commented on #83784
@fume - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 12:56] #83784 closed

[2021-11-12 13:06] scoriani commented on #83794
I can confirm that it is possible, i did it several time and can be done over APIs or through the portal (https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/in-place-migration-portal)

[2021-11-12 13:18] CatchSandeepVaid commented on #83546
In standard [OAUTH's Authorization Code Grant flow](https://developer.okta.com/blog/2018/04/10/oauth-authorization-code-grant-type), accessToken is not visible on client Side (as first backend gets the code from auth server (via browser), then using this auth code, backend gets accessToken from auth server (server-server communication and no browser/clientside involved)). but in your example acces

[2021-11-12 13:24] ShaikMaheer-MSFT commented on #83802
@BenoityipMSFT Thank you for sharing feedback. We are actively monitoring it. We will share updates soon.

[2021-11-12 13:27] SadiqhAhmed-MSFT commented on #83755
@JPadster Do you see any error message? Appreciate if you could share the screenshot of the error message.

[2021-11-12 13:30] sbussink-covadis commented on #83794
Ah I see, thanks! I will close the issue now.

[2021-11-12 13:30] #83794 closed

[2021-11-12 13:30] vernazza opened #83804 "Wrong text in Quickstart - Teams interop on Azure Communication Services"
[Enter feedback here]
The phrase "Get started with Azure Communication Services by connecting your calling solution to Microsoft Teams using the JavaScript SDK." is present also for non JavaScript SDKs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814e94a3-80a3-927b-b1ce-d4526435feb4
* Version Independent ID: a304ea23

[2021-11-12 13:42] WillEastbury commented on #83546
Yes, but we do not use the standard flow for a JavaScript SPA, we use the PKCE enabled version (look at RFC7636 for more info).

Bear in mind that the sample is a JS SPA using B2C, and as such it has the following constraints :-

1. The Standard OAuth Auth Code Grant flow requires the publication of a client secret and is designed for server-server communications or trusted clients only, js SPA ap

[2021-11-12 13:56] JoshPorterFKH commented on #83651
You are correct that the documentation says SQL MI.  However, the functionality demonstrated in the documentation around the import database button is not available in SQL MI.  My ask is that you document how to import a bacpac from SQL DB into SQL MI.  Bonus points for cross subscription as many places have separate dev and prod subscriptions.

From: GeethaThatipatri-MSFT ***@***.***>
Sent: Frida

[2021-11-12 14:15] CatchSandeepVaid commented on #83546
Thanks @WillEastbury for the detailed answer and the links. I will go through them and come back to you if i have more queries. Thanks once again...

[2021-11-12 14:44] ram-msft commented on #83593
Thanks, Raise pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/179688 for the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 14:44] #83593 closed

[2021-11-12 14:45] milesgratz opened #83805 "Additional AadCloudAPPlugin Event ID 1007 error codes?"
Are there any additional error codes that could be documented regarding the AadCloudAPPlugin? I am seeing a unique and undocumented error code for Event ID 1007 that I can't find anywhere on the internet.

**Context**:  Win10 21H1, HAADJ, Federated w/ 3rd party IdP, AzureGov GCCHigh

[code]
![image](https://user-images.githubusercontent.com/17114534/141484177-4026364d-af58-401b-939e-a3714857cd33.p

[2021-11-12 14:51] OneMoreNate opened #83806 "Vendor Specific Attributes can be supported"
One of the problems with the MFA Extension is caused when using a One Time Passcode (OTP) as an authentication method and your authenticating device requires Vendor Specific Attributes (VSA) to be sent back in the final Access Accept.  Due to the way that OTPs are handled (two Access Requests are generated) this causes the user to not get connected even if they have successfully authenticated and

[2021-11-12 14:51] IrangaSubasingheMSFT opened #83807 "Database Export Limitation for Hyperscale should be prominently mentioned"
In the Azure SQL DB page should mention the limitation saying that the PowerShell and Portal export operation is not supported clearly as this is a feature many customers would use for exporting the databases to storage accounts. Prefer it can be mentioned here: https://docs.microsoft.com/en-us/azure/azure-sql/database/database-export#powershell

The limitation currently mentioned in the https://d

[2021-11-12 15:06] edmatosm opened #83808 "Fix documentation for step 7 in this article."
Customer are getting stuck at step 7, getting a Request_BadRequest error.

**PROBLEM DESCRIPTION:**
When trying to set up Sensitivity labels for Groups and Sites via PowerShell with this document, https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide, in step 1 you were directed to Assign sensitivity labels to groups - Azure AD | Micros

[2021-11-12 15:19] DirkFrehse opened #83809 "DBFS root Blob storage IP address"
If finding IP address method is something critical to run ADB in private vNET this section should be called out or highlighted clearly. I'm working with a large insurance company and we have been struggling with this for 2 days. We followed the article and created all UDR rules described except this part finding the DBFS IP address and adding it to UDR as it wasn't clear... After opening a support

[2021-11-12 15:40] mike-urnun-msft commented on #83780
Hello @alkdese - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-12 15:41] mike-urnun-msft commented on #83785
Hello @ToruMakabe - Thank you for your feedback! We will review and update as appropriate.

[2021-11-12 15:43] #83605 closed

[2021-11-12 16:59] jmprieur commented on #83742
@mikeblakeuk, do you want to raise an issue in the MSAL.NET repository?

[2021-11-12 17:02] tfitzmac commented on #83280
If you get the raw URL on a template in a private repo, it will include an access token. The options are still the same. At deployment time, access to the template happens either through a public URL or a URL with a token. Template specs are a better option because you manage access through RBAC.
#please-close

[2021-11-12 17:02] #83280 closed

[2021-11-12 17:03] markjbrown commented on #80913
Unless there are other questions am going to close this again.

#please-close

[2021-11-12 17:03] #80913 closed

[2021-11-12 17:07] JamesTran-MSFT commented on #83791
@rlabinot
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-12 17:08] JamesTran-MSFT commented on #83805
@milesgratz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-12 17:09] Jlofq opened #83812 "No Commercial ID Key when running New-AzMonitorLogAnalyticsSolution for WaaSUpdateInsights"
Creating a new WaaSUpdateInsights solution with the New-AzMonitorLogAnalyticsSolution cmdlet does not seem to work.
It creates the solution but no commercial ID key. If you click to regenerate you get a key that you can send to your clients but it still will not work. In the Summary it will say "Performing Assessment" forever without any client being detected.
Tried on at least 10 different tenant

[2021-11-12 17:10] JamesTran-MSFT commented on #83806
@OneMoreNate
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-12 17:11] krispenner commented on #68917
I never followed up with Azure support but we have been using it for over three months now without any issues.

[2021-11-12 17:12] JamesTran-MSFT commented on #83808
@edmatosm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-12 17:20] ChaitanyaNaykodi-MSFT commented on #83798
Hello @kumarkvk
Thank you for your feedback! We will review and update as appropriate.

[2021-11-12 17:32] saasguide commented on #81171
#please-close

[2021-11-12 17:32] #81171 closed

[2021-11-12 17:39] KranthiPakala-MSFT commented on #83809
Thank you for the feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2021-11-12 17:44] saaror commented on #75128
Adding @bradbax here

[2021-11-12 17:47] julieMSFT commented on #83724
#reassign:joannapea

[2021-11-12 17:55] Grace-MacJones-MSFT commented on #83553
Hi @tyler555g , since we have not heard back from you we will now proceed to close this thread. Like @madsd mentioned, feel free to send him your app name so he can let you know when the stamp is updated.

If there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion. Thanks again for your feedback

[2021-11-12 17:55] #83553 closed

[2021-11-12 18:00] felickz opened #83813 "TDE Steps do not work - Integrate Key Vault with SQL Server on Windows VMs in Azure"
A few issues with this article
-  Does not describe access required for service principal to keyvault ( firewall/subnet + access policy for Key List/Get)
-  Does the KeyVault integration support HSM backed asymmetric keys?
-  CLI command exists ([az sql vm update](https://docs.microsoft.com/en-us/cli/azure/sql/vm?view=azure-cli-latest#az_sql_vm_update)) for creating this integration, but article o

[2021-11-12 18:01] JamesTran-MSFT commented on #83753
@jtmackoy
I received a response from our doc author, and a note has been added to reflect the 2000 to 4000 role assignment change.
![image](https://user-images.githubusercontent.com/36619112/141513213-5e9fb31a-48cf-4fc5-bb83-2aa913b075a1.png)
For more info - https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#azure-role-assignments-limit

Thank you for your time and pa

[2021-11-12 18:01] #83753 closed

[2021-11-12 18:01] JamesTran-MSFT commented on #83764
@noahbirrer-8451
I received a response from our doc author and a note has been added to reflect the 2000 to 4000 role assignment change.
![image](https://user-images.githubusercontent.com/36619112/141513213-5e9fb31a-48cf-4fc5-bb83-2aa913b075a1.png)
For more info - https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#azure-role-assignments-limit

Thank you for your time

[2021-11-12 18:01] #83764 closed

[2021-11-12 18:05] sadi354 commented on #83813
Pada tanggal Sab, 13 Nov 2021 02.01, Chad ***@***.***>
menulis:

[2021-11-12 18:22] julieMSFT commented on #82814
#reassign:ryanmajidi

[2021-11-12 18:37] mimckitt commented on #78452
Can you provide more information about your firewall settings?

Did you enable them through the Security section or somewhere else?

![image](https://user-images.githubusercontent.com/32313503/141517890-a8a01e6c-1cd3-4353-8351-37abfa9fa7da.png)

[2021-11-12 18:39] JamesTran-MSFT commented on #83768
@M-Hoogie
Thank you for your time and patience throughout this issue!

Can you share the error message you're receiving or any screenshots of the issue you're running into?

[2021-11-12 18:50] curtand commented on #74926
Hi @RonnieQuan

Thanks for your interest and your contribution! The reason you have found no mention of the issues you care about is that PIM Privileged Access groups are based on using Azure AD role-assignable groups. The conceptual info about role-assignable groups is contained in the following article:
https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept

To save you tim

[2021-11-12 18:50] #74926 closed

[2021-11-12 19:06] SQLAdventurer opened #83814 "One-Click Import walk through example does not work"
[Enter feedback here]
The quick start import example on this page does not work.
These values are not valid - no where on the page did I see that this was not a "working" quick start - all other quick starts I have executed provide working datasets and instructions to try something out.

https://docs.microsoft.com/en-us/azure/synapse-analytics/data-explorer/ingest-data/data-explorer-ingest-data-on

[2021-11-12 19:12] GeethaThatipatri-MSFT commented on #83807
@IrangaSubasingheMSFT Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-12 19:17] jorge-at123 commented on #78452
That is about the Firewall settings in the Networking blade.
![image](https://user-images.githubusercontent.com/85652101/141522717-d5475ebd-abc4-4caf-a6d6-f7b203681357.png)

[2021-11-12 19:22] curtand commented on #74874
Hi @sokoloffmaks

Thanks for your interest and your contribution! The reason you have found no mention of the issues you care about is that PIM Privileged Access groups are based on using Azure AD role-assignable groups. The conceptual info about role-assignable groups is contained in the following article:
https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept

To save you t

[2021-11-12 19:22] #74874 closed

[2021-11-12 19:23] desmondj22 opened #83817 "Microsoft Ignite Sentinel RBAC Role Changes"
Good day can we please update this original RBAC document to reflect the Ignite changes which state that best practices are to use RBAC Role IDs instead of Role Names please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927

[2021-11-12 19:27] SadiqhAhmed-MSFT commented on #83721
@cstirland We haven't heard back from you.

[2021-11-12 19:28] curtand commented on #75048
Hi @tiwaryarchana

Thanks for your interest and contribution. That typo has been fixed. Thanks!

#please-close

[2021-11-12 19:28] #75048 closed

[2021-11-12 19:28] SadiqhAhmed-MSFT commented on #83690
@assaf-grth Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-11-12 19:31] desmondj22 opened #83818 "Microsoft Ignite Sentinel RBAC Role Changes"
Good day can we please update this original RBAC document to reflect the Ignite changes which state that best practices are to use RBAC Role IDs instead of Role Names please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed1f71281

[2021-11-12 19:46] sadi354 commented on #83818
Pada tanggal Sab, 13 Nov 2021 03.32, desmondj22 ***@***.***>
menulis:

[2021-11-12 20:00] kalai-ek opened #83821 "Unable to follow the tutorial. No access to storage"
Unable to follow the tutorial. No access to storage 'abfss://users@contosolake.dfs.core.windows.net/NYCTripSmall.parquet'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9820f3-e186-4f52-7492-cb936823ea80
* Version Independent ID: 2746ca67-f71e-85c6-f5b3-0f828bcbbc68
* Content: [Tutorial: Get started analyze data wit

[2021-11-12 20:06] JamesTran-MSFT commented on #83817
@desmondj22
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-12 20:07] YutongTie-MSFT commented on #83793
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-12 20:07] JamesTran-MSFT commented on #83818
@desmondj22
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-12 20:12] kgremban commented on #82926
Hi @robertstarling I wasn't able to completely reproduce your errors, but did verify that **iotedge config apply** is a required step after providing the connection string so I have made a pull request with that change to the article. I'll resolve this issue after that pull request is merged. If you have further questions or comments on this topic, feel free to post again and we can reopen the iss

[2021-11-12 20:14] #82926 closed

[2021-11-12 20:15] mimckitt commented on #78452
Got it. Thanks! I just looked at mine and I do have firewall enabled but I am not seeing any issues with Boot Diagnostics. Regardless, all traffic should be staying in the datacenter and not entering the public space so I don't see how a firewall would block it.

If you have any other details about your environment that I might be missing please let me know. Otherwise I don't think what you are se

[2021-11-12 20:20] kobulloc-MSFT commented on #83655
@VenkatGowrishankar Cache size has been removed from the documentation and an official statement is being worked on (so I'm afraid that's all the information I have at the moment).  For the time being, cache sizes are unavailable.

[2021-11-12 20:20] saasguide commented on #83059
The publisher has 10 seconds to patch. If they don't patch back by 10 secs, success is assumed.

[2021-11-12 20:29] annerajb opened #83822 "The links / instructions after you click on configuration and policies are wrong. Under manage there is no tags section"
The links / instructions after you click on configuration and policies are wrong. Under manage there is no tags section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926d9f28-c4f5-0891-ebe0-d94a106fdc23
* Version Independent ID: 1e4c6af1-a562-a96f-2560-f74552faec9d
* Content: [Add tags to a lab - Azure DevTest Labs](h

[2021-11-12 20:37] MonikaReddy-MSFT commented on #83729
@vhhughes -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-12 20:37] #83729 closed

[2021-11-12 20:38] MonikaReddy-MSFT commented on #83689
@fullerpc - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-12 20:44] #83638 closed

[2021-11-12 20:46] mimckitt commented on #73071
Updating the script shortly. Thanks!

#sign-off

[2021-11-12 20:46] #73071 closed

[2021-11-12 20:52] #81487 closed

[2021-11-12 21:10] Robert-Lauriston-at-Striim opened #83823 "Striim server no longer requres installation of Oracle JDBC driver"
Hi, Sneha, as of release 3.10.2, the Oracle JDBC driver is bundled with the Striim server.

Robert Lauriston <robert@striim.com>
Technical Documentation Manager
Striim, Inc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ee2601-48a3-58b0-1c39-c8a761f74482
* Version Independent ID: e6eaac91-41ce-c4dc-5342-636d26183a5d

[2021-11-12 21:25] poochwashere opened #83824 "AKS Managed Identity Fails ACR Image Pull"
I deployed an AKS cluster using a Managed Identity. The kubelet created its own Identity using the nomenclature `<cluster-name>-agentpool`.

I ran the `az cli` command to _attach_ the ACR to the cluster.
`az aks update -n <k8s-cluster-name> -g <k8s-resource-group> --attach-acr <my-acr-name>`

I verified that the kubelet managed identity had the proper `AcrPull` permissions on the ACR.

I also manu

[2021-11-12 21:37] tekgnu opened #83825 "AZ CLI SSH Issue"
Comments:
1.  The second example under connecting to Linux does not have the, "--name" parameter for the bastion host.
2.  This should include a step to install that the SSH extension to az cli
3.  It doesn't appear to work in WSL and I am thinking Linux also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3395d9-6a0

[2021-11-12 22:08] mike-urnun-msft commented on #83792
Hello @sbussink-covadis - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-12 22:22] sadi354 commented on #83818
Pada tanggal Sab, 13 Nov 2021 05.06, Sadi Yanor ***@***.***>
menulis:

[2021-11-12 22:24] ChaitanyaNaykodi-MSFT commented on #83825
Hello @tekgnu
Thank you for your feedback! We will review and update as appropriate.

[2021-11-12 22:30] tfitzmac commented on #82304
I added a link to the article that clarifies built-in endpoints vs custom endpoints. The update should get published later today.
#please-close

[2021-11-12 22:30] #82304 closed

[2021-11-12 22:35] cstirland commented on #83721
I am not sure I want to do that. Maybe next week, but I will probably just increase the size of the volume that the scratch is on now to work around this.

[2021-11-12 22:35] Oury-MSFT commented on #83795
@diogojc Thank you for your feedback. We are reviewing this and will get back shortly.

[2021-11-12 22:54] RyanHill-MSFT commented on #83786
Hi [@mattdarwin](https://github.com/mattdarwin), it's not a contradiction. What the note is saying is that if you're using Default mode, you can use the management SDKs, REST APIs, for function APIs to send messages one-way from SignalR service the client, so it's like serverless. But to go the other way, you still need the hub up and running because that's what has all client connection info.

As

[2021-11-12 23:22] GeethaThatipatri-MSFT commented on #83651
@SQLSourabh Im also seeing the same behaviour as customer mentioned .
![image](https://user-images.githubusercontent.com/92763260/141594418-d8367046-ebf0-4c81-bde6-46ee18afe49c.png)

[2021-11-12 23:28] MarileeTurscak-MSFT commented on #82859
Apologies for the late reply, but this issue appears to be more of a product question than a documentation issue. I would recommend creating a support case or opening a new issue on Q&A. https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html

[2021-11-12 23:28] #82859 closed

[2021-11-12 23:54] nikki-c opened #83827 "Change needed to section Ask guests to review their need for access, in general"
Section 5 states
'Remove guest access for guests who were denied, didn't complete the review, or didn't previously accept their invitation. If some of the guests are contacts who were selected to participate in the review or they didn't previously accept an invitation, you can disable their accounts by using the Azure portal or PowerShell. If the guest no longer needs access and isn't a contact, y

[2021-11-12 23:55] kobulloc-MSFT commented on #83822
@annerajb Thank you for bringing this to our attention!  It looks like tags are now located under General instead of Manage.

[2021-11-13 00:00] LoadLibrary commented on #83100
It does not repro with the most recent SDK and sample.
@AMollis What is the camera connected to the machine and selected by using DeviceManager?

[2021-11-13 00:11] himanshusinha-msft commented on #83821
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-11-13 00:13] himanshusinha-msft commented on #83814
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-11-13 00:21] JamesTran-MSFT commented on #83827
@nikki-c
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-13 00:39] LoadLibrary commented on #83100
Please add the following configuration in the `Package.appxmanifest` file.

[code]

Feel free to find the steps required for setting up a call at:
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/get-started-with-video-calling?pivots=platform-windows#request-access

[2021-11-13 00:49] meenalsri opened #83830 "Do encryption scopes apply to ADLS gen2 or just Azure Blob Storage?"
Its not clear if encryption scopes are a feature offered only for Azure Blob Storage or also for ADLS gen2. I followed these links to get to the encryption scopes doc with the understanding that this content applied to ADLSG gen2, but when I tried the capability it failed.
1. https://azure.microsoft.com/en-us/blog/under-the-hood-performance-scale-security-for-cloud-analytics-with-adls-gen2/
2. htt

[2021-11-13 00:55] jtmackoy commented on #83753
Thanks for tracking this down @JamesTran-MSFT!

[2021-11-13 01:29] anavinahar commented on #83571
Hi there, thank you for flagging this issue.

Want to confirm - did you complete this step successfuly? It would have added the health probe. @MCKPRO

## Create the load balancer resource. ##
$loadbalancer = @{
    ResourceGroupName = 'CreateIntLBQS-rg'
    Name = 'myLoadBalancer'
    Location = 'eastus'
    Sku = 'Standard'
    FrontendIpConfiguration = $feip
    BackendAddressPool = $bePool

[2021-11-13 01:53] sgkim99 commented on #83779
@PramodValavala-MSFT
Content-Length = 9   // or 7 --> tried
After trying POST http://localhost:7071/api/orchestrators/E2_BackupSiteContent?req="D:\\Tmp" with postman,
those error messages are shown.
![cap](https://user-images.githubusercontent.com/61255833/141601394-f8af6946-f706-43cd-8d16-47d896af4e23.png)

[2021-11-13 01:55] baardhermansen commented on #83361
Hi @SadiqhAhmed-MSFT

You asked me for the documentation link, not entirely sure i understand; I opened this issue on the page in question, as can be seen under Document details - Content in the issue above.

After i adjusted the statistics level to 2, Your tool started to run without further issues.
Hence this issue regarding possible error in the documentation.

[2021-11-13 02:04] mike-urnun-msft commented on #83787
Hello @mattdarwin - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 02:22] mike-urnun-msft commented on #83804
Hello @vernazza - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 02:24] mike-urnun-msft commented on #83812
Hello @Jlofq - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-13 02:27] mike-urnun-msft commented on #83559
Since we haven’t heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-13 02:27] #83559 closed

[2021-11-13 02:39] mike-urnun-msft commented on #83691
@alexdrenea Of course! We do have link trail to the above REST info off the main menu tree, under **Reference**.

[2021-11-13 04:01] RyanHill-MSFT commented on #83804
Thanks for calling this out, we've got a PR to address it.

[2021-11-13 04:03] kobulloc-MSFT commented on #83824
@poochwashere Thank you for your feedback!  We are investigating this and will get back to you shortly.

[2021-11-13 04:04] joinmeonthebrightside commented on #55126
I am also still facing this issue. Fails to populate stringCollection if the array is empt.

[2021-11-13 04:06] #83804 closed

[2021-11-13 04:33] SumanthMarigowda commented on #83813
@felickz Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-13 04:35] SumanthMarigowda commented on #83823
@Robert-Lauriston-at-Striim Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-13 04:36] SumanthMarigowda commented on #83830
@meenalsri Thanks for your question. We are checking on this and will respond to you soon.

[2021-11-13 04:57] mike-urnun-msft commented on #83432
Hello @sauer000 - Sorry for the late reply. I went through steps of this doc, and validated that everything works as expected. As for the particular error message that you’re seeing, you can fix it by switching between the underlying Linux & Windows OS that Docker runs on. On steps for how to do that, please refer to the answer given by prmanhas-MSFT in the following Q&A post: https://docs.microso

[2021-11-13 04:57] #83432 closed

[2021-11-13 05:21] mike-urnun-msft commented on #83589
@jenellea Sorry about that, it sounds like a front-end issue with specific browsers. Could you provide browser info for us reproduce the issue? Once we’re able to reproduce the issue, we’ll report to the Logic Apps team for fix.

[2021-11-13 05:54] vinimf7714 commented on #23889
very good

[2021-11-13 07:12] Karishma-Tiwari-MSFT commented on #83444
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-13 07:36] Karishma-Tiwari-MSFT commented on #83441
I have created a PR with the update. Changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-13 07:36] #83441 closed

[2021-11-13 07:43] Karishma-Tiwari-MSFT commented on #83380
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-13 07:49] Karishma-Tiwari-MSFT commented on #83284
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-13 08:05] SaiKishor-MSFT commented on #83342
@PatricSten Any update?

[2021-11-13 09:12] coperneeque opened #83832 "Kali linux VMWare image is .vmwarevm not .vmdk"
You recommend downloading a Kali linux image from Offensive Security website. You assume it is in vmdk format. Perhaps it was true when you wrote the tutorial. I have been folowing the tutorial and I can see that Kali linux for VMWare downloads as vmwarevm format (after extraction from 7z) not vmdk.
I have been using qemu-img in  linux to convert from vmdk to vhdx and it can't handle the vmwarevm

[2021-11-13 09:30] PatricSten commented on #83342
Yes, no need to recreate the connection. When updating the prefix the connection “resets”.
BR
Patric

From: SaiKishor-MSFT ***@***.***>
Sent: Saturday, 13 November 2021 09:06
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Patric ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] recreation of the connection is not needed anymore? (Issue #83342)

@PatricSten<https://github.co

[2021-11-13 09:30] coperneeque commented on #83832
I guess it's just my lack of understanding.
The vmwarevm thing is a directory (which I overlooked in the linux console) and inside there are numerous vmdk files. qemu-img can convert the main one of them into the desired vhdx. No problem.

[2021-11-13 09:30] #83832 closed

[2021-11-13 10:15] Nickelodeon111 opened #83833 "continuous export to Log Analytics workspace for security recommendations - record mismatch"
Using continuous export to Log Analytics workspace for Security recommendations.
When running query on Log Analytics workspace for recommendation (Endpoint protection should be installed on your machines), the count of (unhealthy , healthy , not applicable) , does not match when comparing it to query using Azure Resource Graph Explorer. It seems Log Analytics workspace does not pick up older recor

[2021-11-13 10:28] Nickelodeon111 opened #83834 "continuous export to Log Analytics workspace for security recommendations - records not matching"
Using continuous export to Log Analytics workspace for Security recommendations.
When running query on Log Analytics workspace for recommendation (Endpoint protection should be installed on your machines), the count of (unhealthy , healthy , not applicable) , does not match when comparing it to query using Azure Resource Graph Explorer. It seems Log Analytics workspace does not pick up older recor

[2021-11-13 10:29] sgkim99 commented on #83779
Now working. **Put path string in the body section, not in URL. And root directory should be a root of function project. Last, content-length should be the length of the directory path name.**
MS doc should put HttpStart function for the newbie.
Thank you.

[2021-11-13 10:29] #83779 closed

[2021-11-13 11:53] amalik99 opened #83835 "Doesn't work for Personal accounts"
Instructions are incorrect. When i try to sign in to https://myapps.microsoft.com with Personal Microsoft account, i get this

You can only access this site with a work account.

Sign out to log in with another account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Indepe

[2021-11-13 13:00] mosharafMS opened #83836 "functions 4.0 doesn't support table binding"
functions 4.0 and extensions bundle version [3.3.0, 4.0.0)  removed support for table binding while it's not documented here.
If you look at the list of extensions for v 4.0 documented in
https://github.com/Azure/azure-functions-extension-bundles/blob/v3.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json
there's no table.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-11-13 17:25] lolabs commented on #79810
@GennadNY - yes, thank you for answering.

[2021-11-13 17:25] #79810 closed

[2021-11-13 17:45] D-Jeffrey opened #83837 "Are these GPO settings still required?"
Are these GPO settings still required in newer updates of Windows 10 & Windows 11?

There is no place in MEMS Administrative template & MEMS Settings Catalog to apply the "Allow updates to status bar via script" settings in IE Security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3

[2021-11-13 18:16] mike-urnun-msft commented on #83833
Hello @Nickelodeon111 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2021-11-13 18:18] mike-urnun-msft commented on #83834
Hello @Nickelodeon111 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 18:19] mike-urnun-msft commented on #83835
Hello @amalik99 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 18:20] mike-urnun-msft commented on #83836
Hello @mosharafMS - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 18:22] mike-urnun-msft commented on #83837
Hello @D-Jeffrey - Thank you for your feedback! We will review and update as appropriate.

[2021-11-13 19:51] mike-urnun-msft commented on #83629
Hello @LeeSchuenemeyer - Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-13 19:51] #83629 closed

[2021-11-14 01:25] abhishekkhanna-akcompany commented on #53301
Hello Vikas, I am facing the same issue when using a common certificate for cluster and reverse proxy. Is the original issue resolved? Can you please share the resolution steps?

[2021-11-14 02:42] randyramig opened #83838 "partitionKey and collectionThroughput confusion"
Docs say to leave these blank, but the prompts in vscode default to "undefined".  The results in the two json values being added and the function fails to run locally with an unclear message.  See: https://stackoverflow.com/questions/68884389/cosmosdb-output-binding-error-in-azure-functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-11-14 04:23] bgrainger commented on #83597
I just encountered this, too. When you open a PR on this repo, GitHub provides a link to the Contributor's Guide at https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md.

The two links in the following text are broken:

[2021-11-14 06:12] sunilagarwal commented on #83619
Please note that the column - 3 of the table shows capabilities for each of the 3 deployment offerings

[2021-11-14 06:13] sunilagarwal commented on #83619
@please-close

[2021-11-14 06:14] sunilagarwal commented on #83619
#please-close

[2021-11-14 06:14] #83619 closed

[2021-11-14 06:47] ladykraken commented on #83619
This article is helpful for deciding *bettwen* using Postgres as a service,
or renting a VM and running Postgres on it yourself, but there are now
three different versions of Postgres as a service (single server, flexible,
hyperscale), and this article provides no information on how to pick
between them.
*Between

On Tue, Nov 9, 2021, 9:50 AM Jason Masters, ***@***.***>
wrote:

[2021-11-14 08:12] KrishnaG-MSFT commented on #83540
Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-11-14 08:12] #83540 closed

[2021-11-14 08:14] KrishnaG-MSFT commented on #83616
Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-11-14 08:14] #83616 closed

[2021-11-14 08:44] maurizio01 commented on #83516
Dear Microsoft

Maybe do you plan or at least evaluate to allow administrators with a guest account to manage AAD Connect setup/configuration as well ?
Otherwise for administrators which manage several Azure AD tenants it will be a nightmare dealing with several Azure AD acconuts. And there are even security concerns. When an administrator leaves his company normally his account (and therefore his

[2021-11-14 08:44] PRMerger20 commented on #83516
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-11-14 09:00] DianGermishuizen opened #83840 "Global Parameters Storage in GIT contradictory to Real Life"
In this article, it states that the global parameters are stored in a dedicated file in the globalparamters folder in GIT. However, when i setup my own data factory, it stores the values inside the factory json file in the factory folder instead.
Does that mean this documentation is outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-11-14 09:01] KrishnaG-MSFT commented on #83624
@biltongza I have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-14 09:01] #83624 closed

[2021-11-14 09:29] shivams619 opened #83841 "Link to download the data is showing 404 after clicking prezip & download"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent ID: 837e74fd-2554-8de6-7203-2924006204f2
* Content: [Tutorial: Azure Data Lake Storage Gen2, Azure Databricks & Spark](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-us

[2021-11-14 09:51] psyblade12 commented on #82599
I just tested and it seems like it really works under contention!

I run the 2 same queries, concurrently, one is with a 10% resouce and one is 90% resource. The query is CPU-oriented with un-equivalent join (that will surely trigger CPU-consuming nestedloop join algorithm whose time complexity is O(n^2)). All the tables used in the test contain only 1 column with random numbers, one of the tables

[2021-11-14 10:41] assaf-grth commented on #83690
It means that while a VM is failed over to a secondary region, I need to handle its protection manually?

Can you elaborate what does any backup tool mean?

[2021-11-14 11:40] batamig commented on #83439
Hi @AndyLonghurstHESA, thanks for sending your question into docs!
You use this API the same as all other Microsoft Sentinel APIs - documented here:
https://docs.microsoft.com/rest/api/securityinsights/

You can find general information about getting started with REST here: https://docs.microsoft.com/rest/api/azure/

The reason that we've documented this specific API in our main docs instead of th

[2021-11-14 11:40] #83439 closed

[2021-11-14 11:58] batamig commented on #83678
Hi @Tichandr, as discussed over teams, we should take this back to the engineering team to verify and get the correct answers.
Also, as far as I understand, the "Try it" button is only available from the API docs, not the main guides.
I'm going to close this issue in the meantime, but feel free to reach out on email or Teams with further questions / feedback.
Thanks!
#please-close

[2021-11-14 11:58] #83678 closed

[2021-11-14 12:38] SumanthMarigowda commented on #83838
@randyramig Thanks for the question! We are investigating and will update you shortly.

[2021-11-14 13:33] reflash opened #83842 "Debian 10 installation of Azure Functions Core Tools v4"
The documentation states that I should be able to install azure functions core tools v4 on Debian 10,
but I was able to do that for v3 only:
E: Unable to locate package azure-functions-core-tools-4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e

[2021-11-14 15:58] eric-urban commented on #83512
@kinosong @ram-msft - Doc has been updated. Thanks again.

[2021-11-14 16:29] stdistef opened #83843 "Policies require Firewall to be Premium"
[Enter feedback here]
On this page when the reader is being directed to create  the Secured Virtual Hub,
https://docs.microsoft.com/en-us/azure/firewall-manager/secure-cloud-network#create-the-secured-virtual-hub
we are guided to the portal and the the second Tab (Azure Firewall) asks for the Azure Firewall tier config.
The default is Standard.
The doc doesn't say to **select Premium,** so if you

[2021-11-14 17:21] mike-urnun-msft commented on #83840
Hello @DianGermishuizen - Thank you for your feedback! We will review and update as appropriate.

[2021-11-14 17:22] mike-urnun-msft commented on #83841
Hello @shivams619 - Thank you for your feedback! We will review and update as appropriate.

[2021-11-14 17:23] mike-urnun-msft commented on #83842
Hello @reflash - Thank you for your feedback! We will review and update as appropriate.

[2021-11-14 17:26] mike-urnun-msft commented on #83843
Hello @stdistef - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-14 19:02] fflaten commented on #83842
Getting the same error on multiple Debian and Ubuntu distros. Doesn't look like v4 tools are released to apt yet.

[2021-11-14 19:22] jikuja opened #83844 "Azure Graph query example documentation missing important queries"
Current documentation is missing the following examples:

- How to list all resources, **including all sub-resources**
- How to list all resources, **including all  extension resources**
- How to list resources on subscription level, including all sub and extension resources
- How to list resources on management level, including all sub and extension resources

---
#### Document Details

⚠ *Do not

[2021-11-14 21:31] KacperMucha opened #83846 "Enable add-on with private ip enabled"
Is it possible to create the Application Gateway with private ip enabled via the add-on? By default it's being created only with the public ip assigned. I checked available parameters for az aks create command and ARM/Bicep managed cluster [schema](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=bicep). There is addonProfiles property, but even in S

[2021-11-14 21:55] pettys opened #83847 "User authentication session lengths"
User sessions time out very quickly. Is there a way to configure this? Or is there a way to refresh a user's session with minimal impact to the user's experience?

As a general web app building framework, having more persistent user sessions seems like it should be a standard feature. Most web apps today, in my experience, leave you logged in for days or weeks at a time.

At the very least, the do

[2021-11-14 22:35] sunilagarwal commented on #83619
Please reach out to me at sunila@microsoft.com. I think the doc has the info you are looking for but may be I am missing something

[2021-11-15 02:23] KrishnaG-MSFT commented on #83844
@jikuja Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-15 03:22] SadiqhAhmed-MSFT commented on #83690
@assaf-grth It means that while a VM is failed over to a secondary region, I need to handle its protection manually?
Yes

However, you can backup your VMs using any backup tool
When primary region isn't available, your VMs will failover to secondary region. But the primary region will be made available to you in a short span. Hence, we do not offer automatic backup of VMs when primary region isn't

[2021-11-15 03:24] SadiqhAhmed-MSFT commented on #83755
@JPadster We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-11-15 03:26] SadiqhAhmed-MSFT commented on #83721
@cstirland sure. Please let us know if you need any further assistance in this matter.

[2021-11-15 03:34] SadiqhAhmed-MSFT commented on #83361
@baardhermansen I got your point. However, per content owner the doc doesn't any update. What you observed may need investigation by the technical support team.

[2021-11-15 04:34] SaiKishor-MSFT commented on #83846
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-15 04:41] KorKiak commented on #75652
Any updates on this? Is it really "by design"? If so what is how is this "by design"?

[2021-11-15 04:51] SnehaAgrawal-MSFT commented on #83541
@dylian94 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-11-15 04:53] SnehaAgrawal-MSFT commented on #83847
@pettys Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-15 04:57] PiroHiroPiro opened #83849 "The type of disk that can be enabled for shared disks is incorrect."
The type of disk that can be enabled for shared disks is incorrect.

Ref: https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared#frequently-asked-questions
![image](https://user-images.githubusercontent.com/15605155/141724694-e03f1d87-b165-457a-88c4-86b551444f94.png)

As stated at the top of the document, Standard SSDs are now supported in addition to Ultra Disk and Premium Disk.

Re

[2021-11-15 05:10] SamaraSoucy-MSFT commented on #83546
@CatchSandeepVaid I'm going to close this thread for now. You will still be able to respond and we can reopen if needed.

[2021-11-15 05:10] #83546 closed

[2021-11-15 05:12] SamaraSoucy-MSFT commented on #83562
I'm going to assign the issue to the doc author to update appropriately.

[2021-11-15 05:21] SaiKishor-MSFT commented on #83342
@PatricSten Thanks for letting us know. Since this is not required anymore, I will go ahead and close this issue. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-15 05:21] #83342 closed

[2021-11-15 05:40] Vikram1988 commented on #83676
@MikeWedderburn-Clarke the points have been included under the VMware discovery support article as the first section after Introduction. Can you please share where else should we include these limitations? I am not sure if the ask is clear to me

[2021-11-15 05:42] SwetalinaGitHub opened #83850 "How does multi-tenant work and is it secure? Also does single tenant with API permissions (email, openid, profile and User.Read) work same as multi tenant?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

Reference link - https://stackoverflow.com/questions/67811870/azure-bot-app-registration-requiring-multi-tenancy-when-single-tenant-is-prefere#:~:text=The%20multi%2Dtenant%

[2021-11-15 05:52] darkoa-msft opened #83851 "C# example - AAD interactive login does not work"
The C# example using interactive AAD login does not work for a couple of reasons:
1. Client depends on a library that is not included in the nuget (System.Fabric.AzureActiveDirectory.Client.dll)
2. Even if you reference the DLL directly (it is in SDK, if you have it), it cannot be used as-is.

I reverted to using Powershell (undocumented - using no thumbprints)

---
#### Document Details

⚠ *Do no

[2021-11-15 06:14] rolyon commented on #83509
Hi @LifeRyuto
Thanks for your feedback. We've refreshed the operations article.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations
Let us know if you have any additional feedback.
thanks

[2021-11-15 06:15] rolyon commented on #83509
#please-close

[2021-11-15 06:15] #83509 closed

[2021-11-15 06:15] ShaikMaheer-MSFT commented on #83802
@julieMSFT - Could you please validate customer feedback and confirm is document need to updated? After your confirmation I can go head have PR for same.

**My observations:**
Link in document: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/load-data-from-azure-blob-storage-using-copy?context=/azure/synapse-analytics/context/context
Here document explains Polybase usin

[2021-11-15 06:26] BenoityipMSFT commented on #83802
Hi Shaik

In Microsoft study materials, copy into and polybase are two different things. According to internal documents, copy into is the preferred way over polybase because of less limitations.

Although copy into might use polybase under the hood, copy into and polybase are two different things. I raise this issue because it might be confusing people.

Thanks
Ben

Get Outlook for Android<https:

[2021-11-15 06:27] Tarjei-stavanger opened #83852 "Windows IOPS"
If my memory serves me right, the Windows disk I/O is based on slots. That was the case with Windows Server 2012ish. That means that the number of I/O operations per second was dependent on the number of I/O slots the driver supported regardless of disk technology used. Depending also on how many I/O operations the storage supports. The number of slots were not global, but for each drive or volume

[2021-11-15 06:33] VikasPullagura-MSFT commented on #83851
@darkoa-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-15 06:33] VikasPullagura-MSFT commented on #83851
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-11-15 06:40] assaf-grth commented on #83690
And when I will perform the failover and require an older VM backup, I will have to make these actions?
1. Restore the backup to the VM
2. Enable protection to the main region that is available
3. Perform the failover for the restored and re protected backup

[2021-11-15 06:48] darkoa-msft commented on #83851
This has been broken for at least 3.5 years.
https://github.com/Microsoft/service-fabric/issues/72

[2021-11-15 07:16] vibhaskashyap commented on #46126
Apologies for the late response.
L
ooks like below azcopy command to copy data from the source to target location is not supported. Hence only we are able to copy the dataset is using the Azure Data Factory copy command.

--source syntax is not supported for the below azcopy command. Refer attached CLI version details used to execute the below command. Could you please provide the azcopy command t

[2021-11-15 07:36] Klaas- commented on #80205
This is still happening:
https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main @pvrk

[2021-11-15 07:40] ToruMakabe commented on #83785
@mike-urnun-msft I have tried a deployment of Cron scaler again with ARM template instead of Azure CLI, then it was successful. This may be a problem of Azure CLI extension.

It's not a documentation problem, so I will close it. Thank you for your support.

[2021-11-15 07:40] #83785 closed

[2021-11-15 08:22] RohitMungi-MSFT commented on #83679
@deeagar We hope the above response helped clarify the scenario.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-11-15 08:22] #83679 closed

[2021-11-15 08:28] CHEEKATLAPRADEEP-MSFT commented on #83701
@PAOLT  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-15 08:28] #83701 closed

[2021-11-15 08:53] YutongTie-MSFT commented on #83585
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Could you please check on this to see if you have any insight for this? Thanks a lot.

[2021-11-15 09:07] JPadster commented on #83755
Yes, this is still an issue

**Reason for non-compliance**
No related resources match the effect details in the policy definition (Error code: ResourceGroupNotFound)

Existence condition

**Type**
Microsoft.Network/networkWatchers

**Resource group**
NetworkWatcherRG

[2021-11-15 09:25] Jlofq commented on #83812
Hi @mike-urnun-msft
Thanks for the help. Here is the URL to the documentation regarding this.
https://docs.microsoft.com/en-us/powershell/module/az.monitoringsolutions/new-azmonitorloganalyticssolution?view=azps-6.6.0

[2021-11-15 09:43] Jlofq commented on #83812
I sadly just found this documentation where it states that "It is not currently supported to programmatically enroll to Update Compliance via the Azure CLI or otherwise" in a Note. Maybe should be added to the docs page regarding the actual powershell cmdlets as well.
https://docs.microsoft.com/en-us/windows/deployment/update/update-compliance-get-started

[2021-11-15 09:53] falrnacn opened #83853 "How to add a new feature request in Azure?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-15 10:14] lmicverm opened #83854 "Incorrect body for examples regarding events (wrong parameter)"
Example body is not correct for event endpoint.
In each example, the event_type parameter is given in the body, however, this should be "event_types" (note the missing s at the end). If the event_type parameter is used, incorrect event_types are returned as this parameter is not taken into account. Note that in the "Request Structure" part  of the page, the parameter is correctly given (event_type

[2021-11-15 10:34] xonstone opened #83855 "SCIM filter is not valid `emails[type eq "work"] eq "user@contoso.com"`"
In the documentation concerning SCIM there is an example given to [filter users on work emails](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#users). This example isn't a valid SCIM filter.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-

[2021-11-15 10:44] aristosvo opened #83857 "Auto rotation of Azure SQL Server TDE Keys not documented nor working"
Auto rotation like shown in de Azure Portal is not working nor documented:
![](https://user-images.githubusercontent.com/4679374/141494229-af2ad394-6c21-4c14-a577-e3f97a723385.png)

See also:
- https://github.com/hashicorp/terraform-provider-azurerm/issues/14171#issuecomment-968757903

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-11-15 10:51] dejanstamenov commented on #78193
@MonikaReddy-MSFT, @RohitMungi-MSFT - Couple of other minor changes required in the docs as per my latest update above. Thanks!

[2021-11-15 10:54] val3r10 commented on #74823
Hello @Karishma-Tiwari-MSFT  it looks like this doesn't answer the question as annotations like service.beta.kubernetes.io/azure-load-balancer-internal are not documented in those links. Those are the generic annotations of Kubernetes what is missing is a list of annotation specific to AKS and Azure.

[2021-11-15 11:19] ams0 opened #83858 "Mention of incompatibility with Custom VNET"
This page could mention that the feature is currently incompatible with custom VNET. The error I got is:

[code]

Is there a plan to support custom vnets with Managed NAT Gateway?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3ea12e7-6e6d-cfa1-b094-2f33e2e7b64b
* Version Independent ID: cd0f7701-6a0a-425c-1da2-29683d

[2021-11-15 11:37] pvrk commented on #80205
@Klaas- : This is so unfortunate. May I know the versions that you are viewing? Our CDN team is ready for a debug call, if you are OK.

[2021-11-15 11:40] BhargaviAnnadevara-MSFT commented on #83853
@falrnacn Please feel free to submit your feedback and ideas here: **[Azure Feedback Portal](https://feedback.azure.com/d365community)**. If your feedback is for a specific Azure Product like [Azure Active Directory](https://feedback.azure.com/d365community/forum/22920db1-ad25-ec11-b6e6-000d3a4f0789), or [Azure Web Apps](https://feedback.azure.com/d365community/forum/b09330d1-c625-ec11-b6e6-000d3a

[2021-11-15 11:40] #83853 closed

[2021-11-15 11:55] CatchSandeepVaid opened #83859 "OrgName + projectName + Module specific roles?"
Lets say, In our platform, We have 2 (java-spring) web applications. Our platform supports multiple organizations. Each organization can have multiple projects.

1. We want to define authorization access based on "OrgName + ProjectName + WebApp". For example:  user1 has access to "Org1 + Proj1 + WebApp1" and for this combination his role is Role1. How/where to specify this authorization configurat

[2021-11-15 12:00] scherand opened #83860 "Is it possible to use a protected storage account to trigger an az function in consumption plan?"
It would be great to see some information about possible/allowed storage security settings here.

From trial and error I think that for a function that uses a Blob-storage trigger and is hosted in the Consumption Plan, it is a *mandatory requirement* that the storage account the trigger is listening on is "reachable from all networks". Still, I am not 100% sure if this is correct.

Is it possible

[2021-11-15 12:19] braest opened #83861 "Azure SQL Database"
[Enter feedback here]
Dear,
Get-AZSQLDatabaseRestorePoint gives the EarliestRestoreDate ; but not the latest. How can I ensure when the last point in time backup was taken?
Thanks,
Tim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de79f464-39dc-a5ad-0d9d-fab2ed248222
* Version Independent ID: 6cf17fc7-3bdd-c419-8d9d-7

[2021-11-15 12:22] M-Hoogie commented on #83768
No error messages, just not showing the enumeration. So all I get is the `accessPending` instead of the `Your access is pending`

[2021-11-15 12:31] ToruMakabe opened #83863 "Grace period should be documented"
As described in this document, if my application does not respond to the SIGTERM message, then Container Apps control plane send SIGKILL to my container. How much grace period do I have from SIGTERM to SIGKILL?

In my testing, it seemed to be 30 seconds, similar to the default of Kubernetes terminationGracePeriod.

This information has a significant impact on implementation of graceful shutdown, s

[2021-11-15 12:35] hjy1210 opened #83864 "Fail to deploy multi-container app in Azure with Azure container registry"
I push the same docker images `gglapi` and `gglsv` to Docker Hub and Azure, then deploy to Azure app.

Docker Hub's version Succeed but Azure's version failed.

What is wrong with my Azure's version?

Following is my steps in both Docker and Azure version.

## Successfully deploy multi-container app in Azure with docker hub registry
I use command `az webapp create --resource-group gagilianGroup --

[2021-11-15 12:41] Klaas- commented on #80205
So on `Fri Nov 12 14:13:08 2021 +0000` I first picked up the new version `2.0.9.2` , but some mirrors were showing `2.0.9.1` until at least `Sun Nov 14 20:14:20 2021 +0000` which is the last time I downloaded that version. It has been quiet for the last ~16 hours.

The github action simply does this:
`curl -s -L https://aka.ms/scriptforpermsonhana -o msawb-plugin-config-com-sap-hana.sh`

[code]

[2021-11-15 13:18] aminoosh opened #83865 "Very bad documentation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
* Version Independent ID: 0cf3bb9b-c822-b0a6-35d8-785ebcefb4f3
* Content: [Introduction to Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/introduction)
* Content Source

[2021-11-15 13:25] AshokPeddakotla-MSFT commented on #83692
@Ilheu Apologies for the delayed response.  I am unable to reproduce the issue. Documentation works as expected. As error suggests that, please double check the file name which you have specified and also ensure that you have provided same name throughout the steps.

[2021-11-15 13:28] JesperJakobsen opened #83866 "Web App for Containers - Authentication issues with token store after CI/CD deployment"
I'm currently running a application on Azure Web Apps in a custom container, but I'm running into issues after a CI/CD deployment.

The stack running on the Web App are a custom container with Nodejs, but that is really besides the point in this case as the issue are caused by the Web App Authentication not injecting the id tokens into the request headers after a new container is deployed, are the

[2021-11-15 13:31] SadiqhAhmed-MSFT commented on #83755
@georgewallace Could you please look into this and assist further.

[2021-11-15 13:34] SadiqhAhmed-MSFT commented on #83849
@PiroHiroPiro Thank you for the feedback. We will review the content and update as appropriate.

[2021-11-15 13:35] SadiqhAhmed-MSFT commented on #83852
@Tarjei-stavanger Thank you for your post. We will look into this and get back to you shortly.

[2021-11-15 14:00] blackchoey commented on #83312
Hi @vipulsparsh @rwike77 is there any update on this?😊 I'm glad to have a quick answer, updating the document can happen asynchronous

[2021-11-15 14:50] SwathiDhanwada-MSFT commented on #83408
Assigning to content author for review

[2021-11-15 14:51] lmf-mx opened #83867 "NPS extension for Multi-Factor Authentication affects all clients on server"
It should be noted that installing the NPS extension on the server affects all RADIUS Clients (not end devices, but the objects in the NPS server). Anything that connects to that server using username/password will now require to complete an MFA prompt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-

[2021-11-15 14:57] Mrjazz87 opened #83868 "Parameterize inline DataSets for Azure Data Factory"
We are currently using the default export data from [DataVerse to Azure Data Lake](https://docs.microsoft.com/en-us/powerapps/maker/data-platform/azure-synapse-link-synapse). Then we read the data using the following [guide](https://docs.microsoft.com/en-us/powerapps/maker/data-platform/export-to-data-lake-data-adf). When we specify the inline dataset (CDM) and a linked service that is parameteriz

[2021-11-15 15:00] sebhe opened #83869 "More details on TLSEnforcementDisabled"
What exactly is the consequence of leaving TLSEnforcementDisabled being active? What does it mean not to enforce TLS 1.0 / 1.1. or 1.2 as the minimum version?
Will the database server then allow connections on SSLv3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bde8b19a-4ac9-a713-8511-889ba2005ae6
* Version Independe

[2021-11-15 15:04] rnedosekin opened #83870 "Fix commands or mention command environment needed"
[Enter feedback here]
What environment is used for this command?
TOKEN=$(kubectl get secret ${SECRET_NAME} -o jsonpath='{$.data.token}' | base64 -d | sed $'s/$/\\\n/g')
cmd.exe doesn't recognize $
powershell 7.1 doesn't recognize base64 & sed
If you use powershell you also need to use$ for SECRET_NAME variable, aren't you?

SECRET_NAME=$(kubectl get serviceaccount admin-user -o jsonpath='{$.secret

[2021-11-15 15:08] GitaraniSharma-MSFT commented on #83677
@marcelkmfst , as mentioned in [this doc](https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy), NSG and UDR support for private endpoints are in public preview on select regions.

And the preview feature support is explained in the below docs:
https://azure.microsoft.com/en-gb/updates/public-preview-of-private-link-network-security-group-support/
https://azu

[2021-11-15 15:08] #83677 closed

[2021-11-15 15:28] GitaraniSharma-MSFT commented on #83748
@mohijazi , I've corrected the typo and added the application gateway limitation as requested and it will reflect in the doc soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-11-15 15:28] #83748 closed

[2021-11-15 15:29] CloudDevDan opened #83871 "Ubuntu 20.04 (WSL) version 4 install error: Unable to locate package azure-functions-core-tools-4"
I followed the instructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Clinux%2Ccsharp%2Cportal%2Cbash%2Ckeda#prerequisites) on a fresh WSL install of Ubuntu 20.04.

See below output:

[code]

Works for ```azure-functions-core-tools-2``` and ```azure-functions-core-tools-3```, but not 4.

I've looked [here](https://github.com/MicrosoftDocs/azure-docs

[2021-11-15 15:29] VikasPullagura-MSFT commented on #83858
@ams0
Thanks for your Question! We are currently investigating and will get back on this.

[2021-11-15 15:30] GitaraniSharma-MSFT commented on #83663
@luodun2020 , thank you for the details. I have reached out to the Private link product group team to check if this is possible and will respond here as soon as I hear from them.

[2021-11-15 15:51] sbussink-covadis opened #83872 "Broken link to powershell scripts"
Under the "Overview" section there's a link to [Azure SQL Database - Elastic Database tools scripts](https://gallery.technet.microsoft.com/scriptcenter/Azure-SQL-DB-Elastic-731883db). As you can see the link doesn't lead to the scripts. I believe the link should be the same as the link provided in the "Next Steps" section, which leads to [a GitHub page containing the scripts](https://github.com/Az

[2021-11-15 15:55] ShaikMaheer-MSFT commented on #83854
@lmicverm Thank you for sharing valuable feedback. We are actively validating it. We will share updates soon.

[2021-11-15 15:57] mike-urnun-msft commented on #83812
Thank you, @Jlofq! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-15 16:00] jaimeo commented on #83812
I'm no longer in this role. Looking for someone who can address this.

[2021-11-15 16:00] #83655 closed

[2021-11-15 16:02] MicrosoftGuyJFlo commented on #83685
Agreed. I will see how I can try to include this in a future update. [Resilience defaults](https://docs.microsoft.com/azure/active-directory/conditional-access/resilience-defaults) helps with some of this too.

[2021-11-15 16:03] MicrosoftGuyJFlo commented on #83685
#please-close

[2021-11-15 16:03] #83685 closed

[2021-11-15 16:11] scoriani commented on #83872
Thanks, we're fixing the link.

[2021-11-15 16:11] roygara commented on #83849
@PiroHiroPiro Thanks for bringing this to our attention, we appreciate it! These sections have been removed from our article, as they aren't relevant (the information is already accurately represented in the article).

These changes will be live later today, so I'll go ahead and close this out.

#please-close

[2021-11-15 16:11] #83849 closed

[2021-11-15 16:14] chriselleman-msft opened #83874 "ERGw2Az and ErGw3Az circuit bandwidth incorrect"
Under the Testing conditions heading, the Ultra Performance/ErGw3Az circuit bandwidth is listed as 1Gbps, I believe this should be 10Gbps, also the ERGw2Az circuit bandwidth is listed 1Gbps and I believe this should be 2Gbps - please correct both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57b9d6d-27c6-78fd-3b7e-7

[2021-11-15 16:21] saasguide commented on #83059
#please-close

[2021-11-15 16:21] #83059 closed

[2021-11-15 16:27] GiftA-MSFT opened #83875 "Link to File Types in Incorrect"
Link to **File Types** in Incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba3bee4-2f22-8a1f-b392-83133ab6a622
* Version Independent ID: 82b94b6d-5777-6ccb-eabe-1038f5e07ba2
* Content: [SharePoint files - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/h

[2021-11-15 16:27] GiftA-MSFT commented on #83875
@nerajput1607 can you please update link for FileTypes? Thanks!

[2021-11-15 16:27] MarileeTurscak-MSFT commented on #83867
@lmf-mx
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-15 16:34] KranthiPakala-MSFT commented on #83855
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-15 16:36] mohijazi commented on #83748
thank you @GitaraniSharma-MSFT

[2021-11-15 16:37] KranthiPakala-MSFT commented on #83857
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-15 16:54] romankiss commented on #83286
Hi @rido-min and @sandeeppujar,

did you have a change to look at this issue such as sending a telemetry data into batches, where each item has own _eventcreationtime.

Thanks
Roman

[2021-11-15 16:58] SubhashVasarapu-MSFT commented on #83874
@chriselleman-msft, the circuit bandwidth defined in the testing conditions are correct.
Closing this issue as duplicate of [#79884](https://github.com/MicrosoftDocs/azure-docs/issues/79884)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-11-15 16:58] #83874 closed

[2021-11-15 17:03] JamesTran-MSFT commented on #83859
@CatchSandeepVaid
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-15 17:10] SubhashVasarapu-MSFT commented on #83481
@HugoPordeus, Apologies for the delay in response. Are you using NSG with your Azure Bastion resource? Then you must create all the following ingress and egress traffic rules.
Here is a reference doc that clearly explains about using NSG on top of Azure Bastion resource.
If this is not the case, then this needs a deeper investigation. So, we request you to send an email to azcommunity@microsoft.co

[2021-11-15 17:10] #83550 closed

[2021-11-15 17:14] MarileeTurscak-MSFT commented on #83705
Thanks @ririarte1! Looks like this fix got pushed a few days ago. https://github.com/MicrosoftDocs/azure-docs-pr/commit/c7538e85d4d611c92b5261ebcafd3a31a5b1987f#diff-9bbadefa61dedea803a2a20cf44d604ab889ef9b08e6b503ad70402bb6841edf

[2021-11-15 17:14] #83705 closed

[2021-11-15 17:30] MarileeTurscak-MSFT commented on #83867
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/179940

CC @justinha for review

[2021-11-15 17:30] #83867 closed

[2021-11-15 17:32] MonikaReddy-MSFT commented on #83580
Az Backup doesn't support NFS share. You can find this mentioned in the first note.

https://docs.microsoft.com/en-us/azure/backup/azure-file-share-support-matrix

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2021-11-15 17:32] #83580 closed

[2021-11-15 17:34] MonikaReddy-MSFT commented on #83688
@LarsErikPalm - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-15 17:34] #83688 closed

[2021-11-15 17:35] MonikaReddy-MSFT commented on #83689
@fullerpc - Since we have not heard back from you, we will now proceed to close this thread.
However, if you can share additional information regarding the documentation, you are referring and circle back on this thread, we will gladly reopen the issue and continue the discussion. Thank you.

[2021-11-15 17:35] #83689 closed

[2021-11-15 17:41] MCKPRO commented on #83571
Here is My Code...

`## Place virtual network created in previous step into a variable. ##
$vnet = Get-AzVirtualNetwork -Name 'MyVNET' -ResourceGroupName 'MyResource'

## Create load balancer frontend configuration and place in variable. ##
$lbip = @{
    Name = 'MkFrontEnd'
    PrivateIpAddress = '10.10.10.4'
    SubnetId = $vnet.subnets[6].Id
}
$feip = New-AzLoadBalancerFrontendIpConfig @lbip

#

[2021-11-15 17:51] danycontre opened #83876 "How to get delete limits?"
Document outlines that there is a limit for the number of deletes that can be executed in a subscription (15000), but there is no reference on how to show remaining delete requests.

Is there a way to get remaining requests for deletes? if so it would be good to have it included in the doc.

Regards.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-11-15 17:59] ChaitanyaNaykodi-MSFT commented on #83725
Hello @ChaiSwaddipong, Since we have not heard back from you we will now proceed to close this issue out. Please tag me in your response if you have any additional concerns. Thank you!

[2021-11-15 17:59] #83725 closed

[2021-11-15 18:00] Rashair opened #83877 "App Service limits - 500GB or 1TB for isolated?"
In the `App Service limits` section there's a table with `1TB` storage limit for `Isolated` tier.
However, the <sup>5</sup> reference says that:

Is it valid? If so what can be remaining 500GB used for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6

[2021-11-15 18:02] mike-urnun-msft commented on #83860
Hello @scherand - Thank you for your feedback! We will review and update as appropriate.

[2021-11-15 18:02] hepiet opened #83878 "Adding restriction for Function App."
Cloning is not available for Function Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf14087-1765-4636-805c-6faec03d8a9b
* Version Independent ID: 4a6b910d-403e-997a-b010-0942e8ef624c
* Content: [Clone app with PowerShell - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-app

[2021-11-15 18:08] hepiet opened #83879 "Scenarios not supported."
Some of the available services are slightly wrong:
App Service Environments v2 can be Zonal.
ASEv3 and App Service can be zone redundant.

Can you please remove the pink dot (Zonal) from App Services as this might cause a lot of confusion to the customers.

App Services are only Zone Redundant.
App Service Environments are Zonal and Zone Redundant.

---
#### Document Details

⚠ *Do not edit this s

[2021-11-15 18:10] tfitzmac commented on #83267
Thanks for that information. I have added clarification that resource providers in the template are automatically registered, but if a resource creates other resources (like the OperationsManagement resource), they must be manually registered. The update should get published later today.
#please-close

[2021-11-15 18:10] #83267 closed

[2021-11-15 18:23] JamesTran-MSFT commented on #83768
@M-Hoogie
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-15 18:25] JamesTran-MSFT commented on #83859
@CatchSandeepVaid
Thank you for your detailed post!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue. I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-11-15 18:25] #83859 closed

[2021-11-15 18:28] tfitzmac commented on #83877
@Rashair - I believe the difference is that the app could be created in a different resource group and therefore not part of the 500 GB limit for a single resource group and region.
@msangapu-msft can confirm if that in interpretation is correct.

[2021-11-15 18:32] jaimeo commented on #83812
@UCOwner

[2021-11-15 18:34] tfitzmac commented on #83876
@danycontre - thanks for this feedback. There is a header value named "x-ms-ratelimit-remaining-subscription-deletes". I see that it is missing from the doc so I'll add it.

[2021-11-15 18:35] jaimeo commented on #83812
@mike-urnun-msft I don't think I can assign this the appropriate owner b/c they're not in this repo. Neither is the article in question. The article is in windows-itpro-docs.

[2021-11-15 18:42] tfitzmac commented on #83876
I have submitted the update and it should get published later today.
#please-close

[2021-11-15 18:42] #83876 closed

[2021-11-15 18:44] mike-urnun-msft commented on #83812
Thanks, @jaimeo, for looking into this! I'll continue the search and locate the right owner that can address the feedback.

[2021-11-15 18:52] mike-urnun-msft commented on #83863
Hello @ToruMakabe - Thank you for your feedback! We will review and update as appropriate.

[2021-11-15 18:53] mike-urnun-msft commented on #83871
Hello @CloudDevDan - Thank you for your feedback! We will review and update as appropriate.

[2021-11-15 18:59] #83672 closed

[2021-11-15 18:59] bernaljo opened #83882 "Requirements Not mentioned"
In order for the linked service in Data Factory to connect, the folder requires a Windows file share to the User ID. Please mention these requirements in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4e1f4d-cd08-e062-9631-7b54488fc3de
* Version Independent ID: 81f8781c-1164-023c-9cff-d55799a2edfd

[2021-11-15 19:03] mike-urnun-msft commented on #83589
@jenellea I've created a PR that fixes the typo. As for the subsequent items in your feedback, please let us know about the browser information so that we can try to reproduce the issues.

Since we haven't heard from you yet regarding the browser info, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continu

[2021-11-15 19:03] #83589 closed

[2021-11-15 19:03] mike-urnun-msft commented on #83833
Hello @Nickelodeon111 - Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2021-11-15 19:04] mike-urnun-msft commented on #83780
Hello @alkdese - Just following up on my comment above. Let us know if there is a doc that correlates to your feedback, otherwise, we will proceed to close this issue for now.

[2021-11-15 19:05] mike-urnun-msft commented on #83691
Hey @alexdrenea - We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-15 19:05] #83691 closed

[2021-11-15 19:08] MonikaReddy-MSFT commented on #82542
@geno-github -  Thanks for bringing this to our attention and for being patient.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-11-15 19:10] mike-urnun-msft commented on #83614
Hello @CatchSandeepVaid - I hope the above helps bring clarity and answers your questions above.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-15 19:10] #83614 closed

[2021-11-15 19:21] SourceNode commented on #14254
I am also impacted by this. I have Azure SQL Edge installed in a docker container running on an M1 macOS running Aarch64 architecture (arm64). I am okay with moving to Edge, but the problem is not having sqlcmd tools. We heavily use automation and to not have compatible DB management tools is a showstopper.

[2021-11-15 19:32] sarabsandhu opened #83883 "Please provide more Diagram examples of Firewall setup mentioned on this page"
Please provide more Diagram examples of Firewall setup mentioned on this page. When you talk about outbound and inbound addresses, I am not sure what are you talking about. What is direction of communication? Does the inbound means traffic coming into Azure Logic Apps and Outbound means traffic leaving Logic Apps . What does mean outbound and inbound ip addressed in terms of managed and custom con

[2021-11-15 19:35] ChaitanyaNaykodi-MSFT commented on #83571
Hello @MCKPRO thank you for providing additional information. I think the command `New-AzLoadBalancerRuleConfig` is missing the Probe parameter. Can you modify the command above to add a Probe parameter as shown below?

    Name = 'myHTTPRule'
    Protocol = 'tcp'
    FrontendPort = '80'
    BackendPort = '80'
    IdleTimeoutInMinutes = '15'
    FrontendIpConfiguration = $feip
    BackendAddressPo

[2021-11-15 19:43] KranthiPakala-MSFT commented on #83864
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-15 19:45] KranthiPakala-MSFT commented on #83866
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document feedback, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our en

[2021-11-15 19:50] chiblackhawks opened #83885 "Default image digest value incorrect"
When following the instructions to install ingress-nginx with Helm, I continued to run into an issue when aks was creating the container for kube-webhook-certgen. After troubleshooting, I noticed the default digest value associated with the Helm install was not present in my repo. i added the  --set controller.admissionWebhooks.patch.image.digest option with an available digest hash and it worked.

[2021-11-15 19:54] KranthiPakala-MSFT commented on #83868
Thank for reaching our and sharing your feedback. It seems like this feedback is related to a feature request. If that is the case we request you to please share your feedback in [Azure Feedback forum](https://feedback.azure.com/d365community). All the feedback shared in this forum are actively monitored and reviewed by respective product owners. Please do share the feature request suggestion link

[2021-11-15 19:57] KranthiPakala-MSFT commented on #83870
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-15 20:02] KranthiPakala-MSFT commented on #83879
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document feedback, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our en

[2021-11-15 20:04] KranthiPakala-MSFT commented on #83882
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-15 20:07] GeethaThatipatri-MSFT commented on #83861
@braest Thanks for reaching out, We will Investigate and update you shortly.

[2021-11-15 20:09] jimbobbennett opened #83888 "Provide a DPS guide when using IoT Central"
This documentation is great for folks who want to use a device provisioning service that they have created. Azure IoT Central has a DPS under the hood, and to connect from a number of SDKs you need to call the DPS using IoT Central connection details to get back the IoT Hub to connect to.

It would be great to somehow expand on this documentation, either here or in the IoT Central docs to show how

[2021-11-15 20:14] poochwashere commented on #83824
Please close the issue. This was a config issue on my end. I did not realize that 2 IPs had been assigned to my Load Balancer and the cluster was using an unknown IP to access the ACR. Once the secondary IP was removed, the cluster could pull images from the ACR.

[2021-11-15 20:19] chiblackhawks commented on #83885
It looks like the current documentation and its commands only works with the ingress-nginx helm version 3.39.0

[2021-11-15 20:21] kobulloc-MSFT commented on #83824
@poochwashere No worries!  Thank you for the update.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-15 20:21] #83824 closed

[2021-11-15 20:26] GeethaThatipatri-MSFT commented on #83869
@sebhe Thank you for your question. We will investigate it further and update you shortly.

[2021-11-15 20:27] Navoxctr opened #83889 "Instructions do not match current UI with smartsheets"
[Enter feedback here]
Trying to follow along with the instructions but smartsheets changed the UI

Sign in as a SysAdmin in the Smartsheet portal and navigate to Account Admin. (these options do not exist.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a53b5040-1612-5f4b-df45-e58637b8c290
* Version Independent ID: a31

[2021-11-15 20:39] JamesTran-MSFT commented on #83889
@Navoxctr
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-15 20:43] #83571 closed

[2021-11-15 20:43] MCKPRO commented on #83571
Thanks to ChaitanyaNaykodi-MSFT

[2021-11-15 21:04] kabharati commented on #81634
Correct port has been updated.

[2021-11-15 21:05] kabharati commented on #81634
#please-close

[2021-11-15 21:05] #81634 closed

[2021-11-15 21:07] djscheuf opened #83891 "Code Samples Link on Azure App Config for Javascript Page links to a Python Repo"
While reading over this [documentation page](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-javascript?tabs=azure-powershell) for Azure App Configuration Service on NodeJs, the Next Steps section prompts the reader to review the 'Client library samples'. Given the context is starting with a NodeJS project, I would expect the samples linked there to be in the same languag

[2021-11-15 21:11] djscheuf commented on #83891
While I am not sure, I think linking to [here](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/appconfiguration/app-configuration/samples-dev) might be more appropriate.

[2021-11-15 21:13] kabharati commented on #74615
Addressed in below PR.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/179979

[2021-11-15 21:14] kabharati commented on #74615
#please-close

[2021-11-15 21:15] nanditavalsan commented on #74368
#reassign:rRonyMSFT

[2021-11-15 21:15] PRMerger16 commented on #74368
The following users don't have valid GitHub IDs, or are not collaborators on this repo: rronymsft

[2021-11-15 21:17] nanditavalsan commented on #83684
#assign:RonyMSFT

[2021-11-15 21:18] danycontre commented on #83876
Thanks

[2021-11-15 21:30] RonyMSFT commented on #74368
#reassign:Antvgski

[2021-11-15 21:37] GeethaThatipatri-MSFT commented on #83807
@cawrites In this [documentation ](https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tier-hyperscale) it says that Backpac export/Import from Azure Portal, Azure portal, from PowerShell using New-AzSqlDatabaseExport or New-AzSqlDatabaseImport, from Azure CLI using az sql db export and az sql db import, and from REST API is not supported.
![image](https://user-images.githubuserconte

[2021-11-15 21:41] erajuarez opened #83893 "glossary code not working"
Hi,

Last month I translated a document using a glossary and it worked, however today I tried running the same code again and it's not giving me any file as output

My code is like the example you have in the page

what am I doing wrong, or did something changed?

CODE
-------------------
payload=   {
    "inputs": [
        {
            "source": {
                "sourceUrl": myaddress+sourceNa

[2021-11-15 22:07] Grace-MacJones-MSFT commented on #83878
Hi @hepiet,  thanks for your feedback! We will review and update this doc accordingly.

[2021-11-15 22:19] explore-code commented on #83761
@RohitMungi-MSFT, the same runtime error occurs in [Tutorial: Upload data and train a model (part 3 of 3)](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-bring-data) when running _run-pytorch-data.py_.

Line 26 of _run-pytorch-data.py_:
`env = ws.environments['AzureML-PyTorch-1.6-CPU']`

[2021-11-15 22:31] ThomasWeiss commented on #83838
@ggailey777 I believe this is related to your latest updates on this doc

[2021-11-15 22:36] julieMSFT commented on #83802
#assign:joannapea

[2021-11-15 22:38] julieMSFT commented on #77851
#assign:saveenr

[2021-11-15 22:38] KranthiPakala-MSFT commented on #83671
@LuisPicoSogeti  We have a confirmation from product team that the issue has been fixed. Could you please retry and let us know if you see any further issues.

Thank you

[2021-11-15 22:39] julieMSFT commented on #77851
#assign:ryanmajidi

[2021-11-15 22:39] julieMSFT commented on #82543
#assign:saveenr

[2021-11-15 22:40] julieMSFT commented on #82543
#assign:ryanmajidi

[2021-11-15 22:48] Grace-MacJones-MSFT commented on #83878
I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-11-15 22:48] #83878 closed

[2021-11-15 22:54] ronortloff commented on #82599
- Why is it limited to only 60% of CPU resource, if there is only 1 query running. And why is the number 60%, but not 70%, or 50%, or 30%....
Ron: without looking deeper into telemetry, I cannot answer this.  If this info is needed, we'll have to file a support ticket.

- The CPU resource allocation among workload groups, for example, 'higher resource' workloadgroup is capped at 90%, and the norma

[2021-11-15 23:11] rohitnayakmsft commented on #83668
The behavior described in the docs is accurate.  Any IPs other than those in Azure will need to be allow listed using server level firewall rules

[2021-11-15 23:17] KranthiPakala-MSFT commented on #83814
We have assigned the issue to the content author. They will further evaluate and update the document as appropriate.

[2021-11-15 23:30] GeethaThatipatri-MSFT commented on #83668
@OgeonX please see the above Author's comment and let us know if you have any questions.

[2021-11-15 23:45] GeethaThatipatri-MSFT commented on #83869
@sebhe This [Document  ](https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#minimal-tls-version) gives you more information on minimal TLS version
leaving TLSEnforcementDisabled means (For customers with applications that rely on older versions of TLS, we recommend setting the minimal TLS version according to the requirements of your applications. For customers that re

[2021-11-16 00:29] ToruMakabe opened #83899 "The explanation and sample are inconsistent (CPU/Memory)"
This doc describes as "CPU scaling doesn't allow your container app to scale to 0", but the sample is

[code]

Related to Memory is also inconsistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e6cd8ee2972
* Content: [Scaling in

[2021-11-16 00:36] SQLSourabh commented on #83861
The Point-In-Time backups or (Short Term retention backups) is a continuous process, where the log backups happen every 5-10 minutes (a factor of time and activity on the DB), differential backups every 12 or 24 hours depending on the frequency set and full backups every week. To restore the PITR backups, you can specify any point in time between the earliest restore point and current time.

[2021-11-16 00:36] James-Hamil-MSFT commented on #83855
Hi @xonstone , I am verifying this with the author. I will make an edit if so.

Best,
James

[2021-11-16 00:44] bubbletroubles opened #83900 "Typo in diagram"
There is a typo in the diagram - `ExressRoute` instead of `ExpressRoute`
![image](https://user-images.githubusercontent.com/42738824/141874955-aa0d9a8a-7a20-4e05-a7d5-27adbf65fccc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251f9147-c9e9-a17a-3316-0f8a3a3d6f3e
* Version Independent ID: e0714fbd-98f1-d125-f565-a

[2021-11-16 00:45] bobhuang1 opened #83901 "Azurite in Visual Studio 2022 Official Version"
"Azurite is automatically available with Visual Studio 2022 preview, so if you install the preview, you won't have to manually install Azurite."
Now that the official Visual Studio 2022 is here, after installing, where can I find it? The command "azurite" shows it does not exist.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-11-16 00:45] okan-aslaner-bib commented on #74615
[Sarcastic] Thank you for closing the issue without fixing it.

[2021-11-16 00:59] kobulloc-MSFT commented on #83885
@chiblackhawks Thank you for bringing this to our attention!  We will investigate this and get back to you shortly.

[2021-11-16 01:07] GeethaThatipatri-MSFT commented on #83861
@braest please see the above Author's comment and let us know if you have any questions.

[2021-11-16 01:36] mike-urnun-msft commented on #83891
Hello @djscheuf - Thank you for your feedback! We will review and update as appropriate.

[2021-11-16 01:38] mike-urnun-msft commented on #83883
Hello @sarabsandhu - Thank you for your feedback! We will review and update as appropriate.

[2021-11-16 01:45] kabharati commented on #74615
#please-open

[2021-11-16 01:47] kabharati commented on #74615
Hi Okan - Apologies, i have made this change today and pushed it.  I am checking why this is not reflecting.

![image](https://user-images.githubusercontent.com/92822591/141880723-97bbea5d-1ebf-47ba-8457-d2d2fe07372b.png)

[2021-11-16 01:58] ToruMakabe opened #83902 "KEDA ScaledObject spec should be documented"
Container Apps use KEDA [ScaledObject](https://keda.sh/docs/2.4/concepts/scaling-deployments/#scaledobject-spec) internally. Specifications should be disclosed as much as possible so that scaling behavior can be assumed.

pollingInterval and cooldownPeriod are especially important because they are involved in billing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-11-16 02:01] YutongTie-MSFT commented on #83893
@erajuarez Hello, is there any error return?

[2021-11-16 02:04] MinaPiao opened #83903 "Max request size has a minimum value of 1 KB and a maximum value of 128 KB->need correction 8~ 128KB"
[Please update public Doc correctly]
**Current Doc:**
The maximum request body size field is specified in kilobytes and controls overall request size limit excluding any file uploads. This field has a minimum value of 1 KB and a maximum value of 128 KB.

**Need correction:**
**minimum value of 8KB and a maximum value of 128 KB.**

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-11-16 02:21] SamaraSoucy-MSFT commented on #83659
@Cavorter I was able to repro your issue. I've reached out to the product team to see whether this is the intended bahavior.

[2021-11-16 02:26] SamaraSoucy-MSFT commented on #83529
Hi @jesperkristensen I just wanted to give you an update.

I have confirmed your first issue that the link requires the "https://" in front of the link. I'm still exploring the issue with leaving out the queue link in local dev.

[2021-11-16 02:32] ChaitanyaNaykodi-MSFT commented on #83900
Hello @bubbletroubles
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-16 02:33] ChaitanyaNaykodi-MSFT commented on #83903
Hello @MinaPiao
Thank you for your feedback! We will review and update as appropriate.

[2021-11-16 03:07] SamaraSoucy-MSFT commented on #83659
@Cavorter according the the product team this is indeed an issue with the documentation. Leaving out the filter returns any label. In order to filter those with no label you can use `label=%00`.

I've submitted a PR to correct the documentation. It will go live once the doc author has reviewed it.

[2021-11-16 03:07] #83659 closed

[2021-11-16 03:15] SamaraSoucy-MSFT commented on #83891
I've submitted a PR to update the link to https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/appconfiguration/app-configuration/samples/v1/javascript. It will go live once the doc author has approved the change.

[2021-11-16 03:15] #83891 closed

[2021-11-16 03:28] J-Fedor opened #83904 "Suggest some clarification on some statements in the doc"
You have a line in there of

AzCopy uses server-to-server APIs, so data is copied directly between storage servers. These copy operations don't use the network bandwidth of your computer.

But that makes it sound like the local computer isn’t a factor in the performance of the copy, but it is.  CPU matters. Network matters.  Memory probably matters. Maybe it isn’t much of a factor if a few large f

[2021-11-16 03:44] v-hakob opened #83905 "Feedback & request from my customer"
Our cx said this doc is unclear and they thought they could create the AKS cluster using only Windows.

I saw some docs explain the first node pool/system node is Linux based in some docs. If it is possible, could you add the explanation or the link of the doc "Manage system node pools in Azure Kubernetes Service (AKS)" to one of the limitations below?

quote ---
Limitations
The following limitati

[2021-11-16 03:59] markingmyname commented on #74615
the changes did not merge yet.  the changes are scheduled to go live by tomorrow @ 300pm PST.

Thank you.

[2021-11-16 04:00] VikasPullagura-MSFT commented on #83905
@v-hakob
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-16 04:00] VikasPullagura-MSFT commented on #83905
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-11-16 04:17] AshokPeddakotla-MSFT commented on #83888
[@jimbobbennett](https://github.com/jimbobbennett) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-16 04:18] kobulloc-MSFT commented on #83822
Updated screenshot:

![image](https://user-images.githubusercontent.com/37556655/141911284-b56ac9b9-b7f1-4c7f-9b9a-de9d88318342.png)

[2021-11-16 04:25] kobulloc-MSFT commented on #83822
@Juliako [PR 180039](https://github.com/MicrosoftDocs/azure-docs-pr/pull/180039) will resolve this although the screenshot will need to be updated using the image above.

[2021-11-16 04:59] PramodValavala-MSFT commented on #83459
@WillParry Apologies for the delay on this one. I believe the policy should follow the usual order. I did a quick test and can confirm the same.

Also, you could check out the trace for more details on which IP Filter is allowing and denying access. Could you share your policies and traces for tests that you have done?

[2021-11-16 05:04] SadiqhAhmed-MSFT commented on #83721
@cstirland We will now proceed to close this issue. Feel free to ping with question if need any assistance.

[2021-11-16 05:04] #83721 closed

[2021-11-16 05:34] YuichiTorigoe opened #83907 "Supplement to the explanation of maintenance time"
[Enter feedback here]
Would you please change the current description to the following description?

** before

Most nonzero-impact maintenance pauses the VM for less than 10 seconds. In certain cases, Azure uses memory-preserving maintenance mechanisms. These mechanisms pause the VM for typically 30 seconds and preserve the memory in RAM. The VM is then resumed, and its clock is automatically syn

[2021-11-16 05:36] YuichiTorigoe commented on #83907
![image](https://user-images.githubusercontent.com/47016143/141927063-31d00ec8-197a-493c-be86-6638b8f6fc5a.png)

[2021-11-16 05:36] YuichiTorigoe commented on #83907
Clarified additional points.

[2021-11-16 05:44] RohitMungi-MSFT commented on #83761
@explore-code Thanks for spotting this. I have added PRs for both these pages to be updated. Once they are reviewed and approved the change should be available in the document within 24 hours.
@aminsaied Could you please review and approve the requests?

[2021-11-16 05:50] SadiqhAhmed-MSFT commented on #83676
@MikeWedderburn-Clarke Could you please reply to previous post with details?

[2021-11-16 05:50] celica013 opened #83909 "How to Estimate Cost for SQL DB on Premise which want to backed up using Azure BackUp ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-16 05:53] celica013 commented on #83909
There is no option on pricing calculator to estimate monthly cost for backed up SQL DB on premise...

[2021-11-16 05:58] rolyon commented on #83817
Hi @desmondj22
Thanks for your feedback. We added using the role ID to the best practices doc.
https://docs.microsoft.com/en-us/azure/role-based-access-control/best-practices
Let us know if you have any additional feedback.
thanks

[2021-11-16 05:59] rolyon commented on #83817
#please-close

[2021-11-16 05:59] #83817 closed

[2021-11-16 06:05] kobulloc-MSFT commented on #39577
@psshri In addition to the text that was added:

There is a quote from [Mark Russinovich](https://twitter.com/markrussinovich/status/1363988454485368832) which provides a good explanation:

[2021-11-16 06:13] VikasPullagura-MSFT commented on #83907
@YuichiTorigoe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-16 06:14] VikasPullagura-MSFT commented on #83907
@shants123
Can you please check and add your comments on this doc update request as applicable.

[2021-11-16 06:20] YuichiTorigoe commented on #83907
Many Thanks ! @VikasPullagura-MSFT

Hello @shants123

I think naoya has emailed you about this. I would be grateful if you could add it.

[2021-11-16 06:32] kailashmsft commented on #83010
@SumanthMarigowda  can you share an update if the document is updated with the required ports

[2021-11-16 06:36] KalyanChanumolu-MSFT commented on #83823
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-11-16 06:38] SrijitBose-MSFT commented on #83505
@cveld , we have not heard from you in a while. For now, we shall proceed with closing this thread, If you have further queries please feel free to comment on the thread and we shall continue working from there.

#please-close

[2021-11-16 06:38] #83505 closed

[2021-11-16 06:42] SrijitBose-MSFT commented on #83813
@felickz , thank you for your feedback. We have shared the same with the content author(s). This should now be visible in their backlog.

[2021-11-16 06:55] Ngapuke opened #83911 "Missing Azure library azure.iot.device.aio"
I must be missing something fundamental, but I'm getting the following error message for the Python module for this example.

in response to the import statement  ' from azure.iot.device.aio import IoTHubModuleClient '

Everything else is working fine : edgeAgent, edgeHub, and SimulatedTemperatureSensor seem OK.

I'm running this on a Linux machine with Ubuntu 20 and Python 3.7

How do I install a

[2021-11-16 07:04] SomaniVipul opened #83912 "Need to make changes to Port 25 on EA"
[As per the document, it says all the For VMs that are deployed in Enterprise Agreement subscriptions, the outbound SMTP connections on TCP port 25 will not be blocked. However, there is no guarantee that external domains will accept the incoming emails from the VMs. If your emails are rejected or filtered by the external domains, you should contact the email service providers of the external doma

[2021-11-16 07:23] SumanthMarigowda commented on #83904
@J-Fedor Thanks for the question! We are investigating and will update you shortly.

[2021-11-16 07:23] SumanthMarigowda commented on #83901
@bobhuang1 Thanks for the question! We are investigating and will update you shortly.

[2021-11-16 07:36] Boostah opened #83913 "Please document the limitations for Azure DNS zones and Traffic Manager on this page as well"
Hi Team!

Azure DNS zones and Traffic Manager have limitations when it comes to tagging.
These limitations are documented here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources?tabs=json#limitations

However, as https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support is the primary source of information for many customers regarding

[2021-11-16 07:37] Mrjazz87 commented on #83868
Hi Kranthi,

I posted a question on [StackOverflow](https://stackoverflow.com/questions/69975908/azure-data-factory-unable-to-use-inline-dataset-for-common-data-model-when-lin) and got the answer that it's currently not working.

There is a request to enable that feature [here](https://feedback.azure.com/d365community/idea/bdcef032-6f26-ec11-b6e6-000d3a4f032c).

You can close this!

[2021-11-16 07:37] #83868 closed

[2021-11-16 07:49] KrishnaG-MSFT commented on #83913
@Boostah Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-16 07:49] SrijitBose-MSFT commented on #83858
@ams0 , thank you for your feedback. This looks like a limitation currently. We have shared the feedback with the content author(s). This should now be visible in their backlogs.

@zr-msft can we add limitation to the document. Currently, `"outboundType": nagedNATGateway` seems to be disallowed for AKS clusters using existing virtual networks with nodepools. This error can be reproduced with:

[co

[2021-11-16 08:01] nubgamerz opened #83914 "dotnetAcquisitionExtension.existingDotnetPath : MacOS x64"
With regards to the troubleshooting section for acquiring .NET 5.0

The documentation will need to be updated to include x64 machines.

I'm running MacOS M1 chip, which is x64. As such, the manual .NET installation was for x64 machines.

The documentation should be setup to include paths for x64 as well.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-11-16 08:36] hepiet commented on #83879
Hello Kranthi,

I work on the App Services Team and this was discussed with the ASE Product Group Internally therefore there is no doc or article that I can share with you.
It was them that have confirmed for me that what I shared on the pull request is not supported.

Please let me know if this is sufficient. We need to make the doc better for our customer since the information there is incorrect

[2021-11-16 08:43] cpinotossi opened #83915 "Can we store the server side certificate which is used to verify the client certificate inside KeyVault instead of uploading it to AGW directly?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-16 09:14] SadiqhAhmed-MSFT commented on #83690
@assaf-grth Not clear about this - ![image](https://user-images.githubusercontent.com/44458118/141956719-23e276c5-123b-4631-9421-8bf035ff9a65.png)
Lets say you've primary region with ASR protection also enabled Azure backup. If primary region goes down, your VMs will be failed over to secondary region. However, you still have recovery points in recovery services vault (RSV). Now that you've VMs in

[2021-11-16 09:25] mracfa commented on #83441
Hi @Karishma-Tiwari-MSFT , could you please link the PR to this issue so i can track it?

[2021-11-16 09:45] ghiffti opened #83916 "Duplicate sentence on "What is risk?" page"
Hello,

The following sentence is duplicated in the page under the section "[User-linked detections](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#user-linked-detections)"

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25a

[2021-11-16 09:45] AshokPeddakotla-MSFT commented on #83911
[@Ngapuke](https://github.com/Ngapuke) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-16 09:51] JPadster commented on #83755
@SadiqhAhmed-MSFT can you please set the status to Open? It's still appearing "Closed". Thank you

[2021-11-16 09:51] kengaderdus commented on #82318
Dear @aarondglover

We understand that you had a one-on-one discussion with Yoel, and that you resolved the issue. We'll go ahead and close this issue.

#please-close

[2021-11-16 09:51] #82318 closed

[2021-11-16 09:54] kengaderdus commented on #82986
Due to inactivity, #please-close

[2021-11-16 09:54] #82986 closed

[2021-11-16 09:59] braest commented on #83861
**Thanks, so in any case I can be sure that there is a log backup happening at least every 10 minutes.**
**I just would have loved in the command get-AZSQLDatabaseRestorePoint ; it was listed what the most recent backup was. Since there is no MSDB ; I cannot verify within SQL ; nor can I verify on portal/PowerShell/cloud cli.

![image](https://user-images.githubusercontent.com/45714877/141964017-a

[2021-11-16 10:03] SadiqhAhmed-MSFT commented on #83755
@JPadster Sure.

[2021-11-16 10:09] SumanthMarigowda commented on #83654
@Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
You can use Portal , PowerShell and other more option
Azure Blob Storage lifecycle management generally available: https://docs.microsoft.com/en-us/azure/storage/blobs/archive-rehydrate-overview

https://docs.microsoft.com/en-us/azure/storage/blobs/access-tiers-overview?tabs=azure-portal

I'd rec

[2021-11-16 10:09] #83654 closed

[2021-11-16 10:09] HairyPorker opened #83918 "Not clear; screen shot would be better"
[Enter feedback here]
navigation not clear. all using text  which not reflecting the portal; for instance Browse to your "API Management instance." can't really tell what it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab

[2021-11-16 10:11] AgentK88 opened #83919 "Presto Connector - Two Way SSL"
I have a requirement to use the Presto linked service within Azure Data Factory and to use a client certificate and private key. Is it possible to enable and configure TwoWaySSL for the Presto connector? Our third party support suggests the following as additional properties to the connector;

                "TwoWaySSL": 1,
                "ClientCert": "C:\\Users\\alexbla\\Documents\\mycert.pem"

[2021-11-16 10:14] SumanthMarigowda commented on #83597
@git-divs Firstly, apologies for the delay in responding here. Your feedback has been shared with the content owner for further review.

[2021-11-16 10:18] v-bbalaiagar opened #83920 "Add Azure Database for MySQL | MariaDB | Postgres Root CA Cert to host package."
When attempting to use Azure Functions to call SSL-enabled instances of these three Azure DBaaS offerings I currently have to bundle and deploy the BaltimoreCyberTrustRoot.crt.pem file as part of my Azure Function codebase. While this requirement is well documented for each service for generic client use (for example: https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl#step-1-obtain-s

[2021-11-16 10:22] SnehaAgrawal-MSFT commented on #83732
@OwainWin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-16 10:42] falrnacn commented on #83853
Thanks a lot.

[2021-11-16 10:52] linus-rylander commented on #64660
@madsd, we experience that acrUseManagedIdentityCreds is reset to false in some cases when maintenance is perform on the app service plan and the app is restarted. In this scenario no properties on the app service are changed (that we are aware of). Will this fix cover this scenario as well?

[2021-11-16 10:58] dracan commented on #64660
@linus-rylander - This is what I experienced here too...

https://github.com/MicrosoftDocs/azure-docs/issues/64660#issuecomment-948616340

Which is pretty worrying as this can take production down :( I'm surprised the fix hasn't been prioritized as an immediate fix, rather than saying it'll be fixed in a couple of months.

[2021-11-16 10:59] BhargaviAnnadevara-MSFT commented on #83914
@nubgamerz Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-11-16 11:07] nubgamerz commented on #83914
https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/install

[2021-11-16 11:13] ericgoudriaan commented on #81296
@ssivas @Jackson-Woods Hello, several times I asked for the status of this ticket. I never got any response... It's almost been 2 months since this ticket was created. Can you please give me an update? Thx

[2021-11-16 11:20] gkaleta opened #83921 "Update lifecycle of ARO release time lines to reflect current versions"
Update ARO release update versions and timeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0119bc23-6b1e-2e7f-7d32-91f413a783b2
* Version Independent ID: 22ea356d-74a0-a918-fa4f-ae707234e1bb
* Content: [Azure Red Hat OpenShift support lifecycle](https://docs.microsoft.com/en-us/azure/openshift/support-lifecycle?so

[2021-11-16 11:26] fflaten commented on #83842
@reflash they've published v4 to apt 9h ago so you can try again.

[2021-11-16 11:54] SnehaAgrawal-MSFT commented on #83720
@jeremiahhoward Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-16 12:00] Ozzian opened #83922 "Where to find the description of an object of type Jwt"
The documentation of the API Management policy for validating JTW is missing the description of the object it sets into the variable.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content: [Azure API Management access

[2021-11-16 12:01] kjoth commented on #58525
@spelluru  Is there any working python example available?

[2021-11-16 12:02] jamesots-tq opened #83923 "Supported patterns appear to be the same"
On the page listed below it says "The supported patterns depend on whether you deploy Application Gateway v1 or v2:", followed by two tables of data which are identical, rather than showing any differences between v1 and v2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2769aea-56d1-03aa-1949-9818d5ee3ba4
* Version I

[2021-11-16 12:11] azhar2005 commented on #82956
The changes look good to me.

We can skip these steps
_Navigate to the rule and click on three dots of path rule that needs to brought to the bottom of the order.
Click edit, which would open the path rule pane. We do not need to make any changes, click save._
and do not need the pictures

Reword the last line to - "The request routing rule needs to be saved for the changes to be applied".
Rest is

[2021-11-16 12:20] bm97ppc opened #83924 "error in example"
The example given in step 8) of Get the Storage Account access key still has placeholder in it for <mounted-drive-letter

For example:

cmd

Copy
icacls <mounted-drive-letter: /grant john.doe@contoso.com:(M)
icacls <mounted-drive-letter: /grant "Creator Owner":(OI)(CI)(IO)(M)
icacls <mounted-drive-letter: /remove "Authenticated Users"
icacls <mounted-drive-letter: /remove "Builtin\Users"

---
####

[2021-11-16 12:25] SubhashVasarapu-MSFT commented on #83923
@jamesots-tq, Thanks for reaching out. We will investigate and update this thread.

[2021-11-16 12:30] vipulsparsh commented on #83916
@ghiffti Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-16 12:39] KristianJakobsenRMG opened #83925 "Error in subnet in the NAT rule"
Thanks for a great document, I think there is an error in the subnets of the NAT rules, in the text it is 100.x.x.x in the screenshot, it is 10.100.x.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d68352e6abec
* Content: [Configure

[2021-11-16 12:52] JaccoK commented on #69947
Same here, would like to know whether there's a workaround. Annoying to have environment references in the linked service names.

[2021-11-16 13:52] MonikaReddy-MSFT commented on #83909
@celica013 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.