[2020-04-28 03:24] #52987 closed

[2020-04-28 03:35] elvirk opened #53452 "Example doesn't work"
I'm running PS 7 and tried to follow above example, but never get screen with changes:
PS C:\Users\elvir&gt; New-AzResourceGroupDeployment `
&gt;&gt;   -ResourceGroupName ExampleGroup2 `
&gt;&gt;   -TemplateUri "https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/azure-resource-manager/what-if/what-if-before.json"

DeploymentName          : what-if-before
ResourceGroupName

[2020-04-28 03:46] CHEEKATLAPRADEEP-MSFT commented on #53445
@gwenbettwy Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/112994](https://github.com/MicrosoftDocs/azure-docs-pr/pull/112994)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-04-28 03:46] #53445 closed

[2020-04-28 03:52] CHEEKATLAPRADEEP-MSFT commented on #53428
@crisansou Unfortunately, you cannot configure Log Analytics on Databricks using ARM templates.

I would suggest you to use one of the supported methods to configure Log Analytics on Databricks:

- Azure Portal
- Azure PowerShell
- Azure CLI
- REST API

Hope this helps.

[2020-04-28 03:55] VikasPullagura-MSFT commented on #53383
@aanexplus
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 03:57] VikasPullagura-MSFT commented on #53388
@manojkrishs
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 03:58] VikasPullagura-MSFT commented on #53393
@tudort-iquest
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-28 03:58] VikasPullagura-MSFT commented on #53393
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2020-04-28 03:59] VikasPullagura-MSFT commented on #53398
@MScarno
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-28 03:59] VikasPullagura-MSFT commented on #53398
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-04-28 04:01] VikasPullagura-MSFT commented on #53404
@mariojacobo
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 04:01] Mike-Ubezzi-MSFT commented on #45324
Correct repository to file API issues: https://github.com/Azure/azure-rest-api-specs/issues/9253

[2020-04-28 04:05] neeleshray-msft commented on #53448
@zachsaltzman Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 04:07] neeleshray-msft commented on #53450
@jackvdbuk Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 04:10] natanimu opened #53453 "IoRead(Write, Other)OperationsPerSecond unit"
Hi, Please clarify unit for those IoRead(Write, Other)OperationsPerSecond is in count? or BytesPerSecond

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource type - Azure

[2020-04-28 04:11] KrishnaG-MSFT commented on #53452
@elvirk Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-28 04:15] neeleshray-msft commented on #53447
@glomaga Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 04:15] Joe-TJ opened #53454 "It seem this fencing agent does not support China Azure"
I tried to setup the fencing agent and always failed. there is Azure 90002 error of 'cannot find my tenantId'.  I found an interesting log as "INFO: Starting new HTTPS connection (1): login.microsoftonline.com", but login address of China Azure is https://login.partner.microsoftonline.cn/. I'm wandering if this is supported in China Azure.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-04-28 04:18] KrishnaG-MSFT commented on #53453
@natanimu Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-28 04:18] v-nagta commented on #53306
@mhunter77  We have updated the Support contact for the CylanceProtect please review the Doc

#please-close

[2020-04-28 04:18] #53306 closed

[2020-04-28 04:20] SwathiDhanwada-MSFT commented on #53297
[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc).

Please reach out to internal teams for internal sites. As there are no further documentation changes,
we will close the issue for now.

[2020-04-28 04:20] #53297 closed

[2020-04-28 04:37] SwathiDhanwada-MSFT commented on #52802
@bwren Can you please provide your inputs on this issue?

[2020-04-28 04:42] v-nagta commented on #50055
@jeevansd @computernations Yes after following the 4.a and 4.b the next is to download the required certificate.

![image](https://user-images.githubusercontent.com/27479164/80447888-56767880-8938-11ea-9d97-e9e1726003b0.png)

Here you can see there is a download option besides to certificate so you don't need to edit these options. You can directly download the certificate by clicking on the Downl

[2020-04-28 04:50] dcbrown16 commented on #45011
Talked to Vitaly offline and he is going to file a work item on the following doc to have the content about setting metrics alerts specifically for App Insights enriched a little.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/alerts

It might be good for that section to link to the Microsoft.Insights/components section of the metrics list to show what metrics are available for selecting

[2020-04-28 04:50] #45011 closed

[2020-04-28 04:54] jaylondhe opened #53455 "To verify that the certificate was created successfully."
kubectl get certificate --namespace ingress-basic

It always says False

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create ingress with automatic TLS - Azure Kubernetes Service](https://docs.microsoft.com/

[2020-04-28 05:02] TravisCragg-MSFT commented on #52984
@jdkrobinson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 05:02] #52984 closed

[2020-04-28 05:07] AshokPeddakotla-MSFT commented on #53437
@moicodes Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 05:09] knssub opened #53456 "This page need updating"
This page along with few other sections of the Hunting needs updating. Most of the screenshots are not relevant with the current Sentinel GUI.  Options and menu selections are changed, therefore, too confusing to follow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 883ee2e9-ca7d-39aa-0927-234b8883d298
* Version Indepe

[2020-04-28 05:13] balukantu commented on #53374
@VikasPullagura-MSFT Please find the [link](https://docs.microsoft.com/bs-cyrl-ba/azure/cosmos-db/partitioning-overview)

[2020-04-28 05:14] balukantu commented on #53237
@Mike-Ubezzi-MSFT , Any update on the above issue.

[2020-04-28 05:16] VikasPullagura-MSFT commented on #53454
@Joe-TJ
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 05:16] PaddyMaddy commented on #53427
https://www.paddymaddy.com/wp-content/uploads/2020/04/PIM-1.png
Getting this Error When typed dirt URL

[2020-04-28 05:20] ram-msft commented on #52531
@arunrajes This GitHub repo is only for reporting issues in the documentation. I can forward this information.but the correct location for product feedback is the UserVoice site.
https://feedback.azure.com/forums/257792-machine-learning

[2020-04-28 05:20] #52531 closed

[2020-04-28 05:22] PaddyMaddy opened #53457 "PIM Consent Option not available"
As per documentation, you said "As part of the planning process, you must first consent to and enable Privileged Identity Management by following" but PIMConsent options are not available and it is showing as deprecated within the blade.
Reference Image uploaded to my storage at https://www.paddymaddy.com/wp-content/uploads/2020/04/PIM-Consent-issue.png

---
#### Document Details

⚠ *Do not edit t

[2020-04-28 05:26] blueww commented on #52473
@dckfnuance
As I get from feature team: this is expected, the service returns ~5000 items per page.
I plan to add a warning message to the cmdlet, when the list result has continuation token (means not all items are listed).

[2020-04-28 05:36] iristich commented on #51628
+1 as well. I'm trying to migrate to the new Azure.StorageBlobs api from an older version, I'm facing the same issue on trying to get the sas token (currently using `Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer`):
`sasToken = blobContainer.GetSharedAccessSignature(null, policyName);`
Would be super cool if there is a similar way to retrieve a sas token from a `BlobSignedIdentifier`. Than

[2020-04-28 05:47] stgeorgi commented on #46294
@ChrisH82 and @gabrieljtaylor  May I rephrase y question and actually ask few more:
1) Is the ask to write an article that explains how a new master image is rolled out to existing WVD environment?
2) Is the question to describe how one updates and existing golden image? and how to automate this?

Also (this is not aimed to be the permanent solution but I will like your feedback) have you looked a

[2020-04-28 05:50] hisasima commented on #51052
When I enabled service endpoint and firewall of KeyVault, the setting for listener of AppGW was failed. I realized that limitation and I disabled service endpoint and firewall of KeyVault,  the setting for listener of AppGW was successful. Could you check about the limitation ?

[2020-04-28 05:52] lendy007 commented on #53372
I am not referring to any document, I got this issue during using method `Microsoft.Identity.Client.IPublicClientApplication.AcquireTokenByUsernamePassword` and I was trying to search for more information about this error, but found out that it is not documented anywhere...

[2020-04-28 05:58] darrenjoycenz commented on #53300
Hi
Screenshot attached.
Step 6 in the instructions doesn't work if I try and use Outlook connector,
or even the Teams connector - as per article.
No dynamic content is displayed.

[image: image.png]

On Mon, Apr 27, 2020 at 5:35 PM KrishnaG-MSFT <notifications@github.com>
wrote:

[2020-04-28 06:00] gary918 opened #53458 "Some issues"
1) Looks like print(package.location) is not in the format of &lt;acrinstance&gt;.azurecr.io/package:&lt;imagename&gt;
, my output is &lt;acrinstance&gt;.azurecr.io/&lt;imagename&gt;@sha256:xxxxxxx ? Therefore 'az webapp create' and 'az webapp config' need to be changed to use '&lt;acrinstance&gt;.azurecr.io/&lt;imagename&gt;'.
2) In my case, 'az webapp log tail --name &lt;app-name&gt; --resource-

[2020-04-28 06:00] ewotawa commented on #53326
Thanks @CHEEKATLAPRADEEP-MSFT.

When I test my query with the syntax:
`SELECT text, sentiment1(text) AS result`
Azure Streaming Analytics throws the following error:
`{"message":"Function 'sentiment1' is either not supported or not usable in this context. User defined function calls must start with \"udf.\" prefix. Aggregate functions must be used together with a GROUP BY clause. Analytic function

[2020-04-28 06:01] ram-msft commented on #53000
@kevinlinhg We will check with the product team for road map to support text to speech front end Java script for browser.

Please follow the front end java script samples for cognitive services.
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cognitiveservices

[2020-04-28 06:03] SatishBoddu-MSFT commented on #53425
@savyaagarwal64 Make sure to [Get a service connection string for your IoT hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#get-a-service-connection-string-for-your-iot-hub) and [Consumer group name](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#add-a-consumer-group-to-your-iot-hub),  If you are debugging w

[2020-04-28 06:04] amanmcse commented on #53457
@PaddyMaddy Thank you for your feedback . We will investigate and update the thread further.

[2020-04-28 06:05] gary918 opened #53459 "How to deploy image as web app by using azure sdk?"
Do we have any sample code of using azure sdk to deploy the image as web app, something like https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-container-instance ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e5bcc3-fc34-72d4-f708-773009ff3efd
* Version Independent ID: 94ef632e-6443-689b-c

[2020-04-28 06:09] KrishnaG-MSFT commented on #53300
@darrenjoycenz Sorry I don't see any screenshot. I see the below.

![image](https://user-images.githubusercontent.com/45988031/80452896-dc002580-8944-11ea-9a27-2b654a506573.png)

[2020-04-28 06:11] amanmcse commented on #53443
@nhogarth86 I am updating it to "and" as both endpoints are required. This issue will automatically be closed during the merger.

[2020-04-28 06:14] #45807 closed

[2020-04-28 06:15] KranthiPakala-MSFT commented on #45807
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-28 06:17] #53443 closed

[2020-04-28 06:20] darrenjoycenz commented on #53300
Looks like screenshots can't be attached to emails replies.  Try this.
![image](https://user-images.githubusercontent.com/16659400/80453693-e4745280-897c-11ea-8d51-a5eb88bb4a9a.png)

[2020-04-28 06:26] VikasPullagura-MSFT commented on #53353
@bendubuisson Yes, you have to restart the whole container group. Support for restarting a container based on user request is not possible. But, if the container fails based on the restart policy azure will restart.

[2020-04-28 06:26] VikasPullagura-MSFT commented on #53345
@neubineshkuttan
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-28 06:26] #53345 closed

[2020-04-28 06:27] BartVanBerkel commented on #52916
Correct, I want to know if App Service Managed Certificate (free or paid) can be leveraged by Application Gateway v2.

[2020-04-28 06:51] joerianto83 commented on #52844
Hi, I'm also running into the same issue, running the arm template with Incremental and the required parameters to deploy a workbook.. Indeed , as workaround, cleaning up the workbook(remove-azresource) is possible, but this is not workable as I want to use the arm template(multiple resources) as a hole to be redeployed.
otherwise, like @aelmanaa said "_ARM are supposed to be idempotent. Hence: ei

[2020-04-28 06:54] KrishnaG-MSFT commented on #53300
@darrenjoycenz Click on 'See more' that's in right corner and you should be able to see the dynamic content fields as shown in below screenshot.

<img width="589" alt="LoA3" src="https://user-images.githubusercontent.com/45988031/80456396-208ebf80-894b-11ea-8bb4-c488b1c4351f.png">

[2020-04-28 06:58] souravmishra-msft commented on #53287
@hetaldesai, In that case I would suggest you get a support case created so that the engineer can take a look and help you further.
It would be difficult to troubleshoot this over texts.

Closing this thread for now.

[2020-04-28 06:58] #53287 closed

[2020-04-28 07:01] darrenjoycenz commented on #53300
Still doesn't work.

![image](https://user-images.githubusercontent.com/16659400/80456989-a0844c00-8982-11ea-9932-c515b99d8b6d.png)

[2020-04-28 07:03] KrishnaG-MSFT commented on #53300
@darrenjoycenz This time did you add the schema in the above step i.e., 'When a HTTP request is received' step. If you add the schema then only the dynamic content fields show up here.

[2020-04-28 07:06] KrishnaG-MSFT commented on #53302
@GinoLock This is a follow up comment to confirm that currently there are no other updates / changes and so above comment by Matt and myself holds good.

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do l

[2020-04-28 07:06] #53302 closed

[2020-04-28 07:07] darrenjoycenz commented on #53300
Yes.  Sample payload from that article used.
![image](https://user-images.githubusercontent.com/16659400/80457489-8008c180-8983-11ea-87d9-f2fa2d6c9e5e.png)

[2020-04-28 07:13] KrishnaG-MSFT commented on #53300
@darrenjoycenz I realize that now you have used 'Post a message (V3)' action that's related to Teams connector and previously it's 'Send an email(V2)' and I tried to reproduce for Teams action now and could see the dynamic fields as shown below. I think there is some issue from your environment end so I suggest you to refresh signout and relaunch the browser and see if issue gets resolved.

<img w

[2020-04-28 07:19] SumanthMarigowda-MSFT commented on #53152
@jvanzeir We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 07:19] #53152 closed

[2020-04-28 07:22] hisasima commented on #51052
We have to allow all networks on KeyVault because service endpoint or trusted service is not supported. I know similar issue.

https://github.com/MicrosoftDocs/azure-docs/issues/48866

[2020-04-28 07:25] DixitArora-MSFT commented on #53211
@kspoojary Please go through this . It is explained in this with example.

https://medium.com/@jeffhollan/in-order-event-processing-with-azure-functions-bb661eb55428

For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 07:25] #53211 closed

[2020-04-28 07:28] fleed opened #53460 "Dynamic reference in ARM template"
The example provided with the parameters file has hard-coded values.
How is it possible to update it to have a dynamic reference to a KeyVault?
It seems that functions like `[subscription().id]` are not evaluated in that context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26d9d7e2-b16a-0b73-bb1a-f08320f7ccc9
* Versi

[2020-04-28 07:28] darrenjoycenz commented on #53300
Tried it after recreating the app. I've tried it with both Teams and Send an email(v2).   Also relaunched browser. Also tried completely new computer where it's never been used to do Logic Apps. All same outcome.  I have now just tried a new computer, new browser and a completely different Azure subscription and account that is 100% unrelated to my other tenant. Same problem.
  If I do a 'compose'

[2020-04-28 07:29] RobMcZagBDS commented on #52800
@djpmsft Hi Daniel,
  still not 100% sure, but let's see if you agree or can correct / improve my rephrasing of what I understood between your explanation and my struggles.

1) data flow parameters are Java, so strong typed, and there is a layer that will try to convert / cast the passed value / expression into the declared type and would make the value null in case of any conversion error. Are yo

[2020-04-28 07:29] VikasPullagura-MSFT commented on #53331
@clement128
In YAML, there is no option to reuse a single configuration of environment variables across all containers in the group as environment variables are set at the level of the instance, not the group.
So they need to be set independently for each instance in the group.

If you choose a Resource Manager template to deploy the group you can define some user-defined variables/parameters and

[2020-04-28 07:30] #53331 closed

[2020-04-28 07:30] DixitArora-MSFT commented on #53219
@stmax82 Errors raised in an Azure Functions can come from any of the following origins:

- Use of built-in Azure Functions triggers and bindings
- Calls to APIs of underlying Azure services
- Calls to REST endpoints
- Calls to client libraries, packages, or third-party APIs

Recommended error handling practices include the following actions:

- Enable Application Insights
- Use structured error h

[2020-04-28 07:30] #53219 closed

[2020-04-28 07:32] Rockjesse commented on #53008
Thanks, I have sent an email with my detail issue, please have a check.
@YutongTie-MSFT

[2020-04-28 07:33] williamr21 opened #53461 "Error Code 11 undocumented"
Error Code 11 undocumented
Hi,
I'm trying to call an API using POST in Web Activity on a Self Hosted Integration runtime and ended with this error.

, please find below the error details. I could not find any documentation for error 11 though.
Error
Troubleshoot activity failures
{
    "errorCode": "11",
    "message": "Execution worker with type 'WebActivity' is not supported.",
    "failureType"

[2020-04-28 07:33] KrishnaG-MSFT commented on #53300
@darrenjoycenz Please share the schema that you have used. Also separately try below shared schema (that I have used from the referred Azure document) and see if your issue gets resolved.

[code]

[2020-04-28 07:34] DixitArora-MSFT commented on #53225
@mattchenderson I have assigned this to content author for further review and update as appropriate.

[2020-04-28 07:35] VikasPullagura-MSFT commented on #53353
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 07:35] #53353 closed

[2020-04-28 07:36] ChristopheHvd opened #53462 "Update with Azurite for local test"
As Azurite is described (by Microsoft) as the future of local storage emulator, it would be a good idea to update this tutorial with the use of Azurite as development storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7362b2-b991-a5bb-45e8-1e6d9ebb04d5
* Version Independent ID: 6dd2cefe-f557-0ca9-c8cc-6b0e2f762a

[2020-04-28 07:41] #49560 closed

[2020-04-28 07:41] amanmcse commented on #53447
@glomaga Are you looking for skipping the email/phone verification page at password reset and directly enter New password?

[2020-04-28 07:42] fleed commented on #53460
Already available [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli)

[2020-04-28 07:42] #53460 closed

[2020-04-28 07:42] darrenjoycenz commented on #53300
Thanks. Appears to be working now. I am unsure why it was not before. Created another brand new one and it worked. Very strange. Thanks for your assistance.

[2020-04-28 07:43] roshinirevindranathan commented on #45485
I think the answer to my question was already answered by DroverInternal. For the sake of clarity, the following is the exact command that needs to be run.
 az aks create \
--resource-group myResourceGroup \
--name myAKSCluster \
--node-count 2 \
--generate-ssh-keys \
--attach-acr myAcrName \
--location eastus \
--node-vm-size Standard_DS2_v2

" --node-vm-size Standard_DS2_v2 " is an example value

[2020-04-28 07:43] KrishnaG-MSFT commented on #53300
@darrenjoycenz Glad to know that it worked!

[2020-04-28 07:47] saitejakothamasu commented on #52495
I tried commenting 'return' in chart-device-data.js as suggested in the issue #52495. It worked for the localhost but still not able to visualize the data from azure web app. Please comment to the earliest. Thank you

[2020-04-28 07:48] DixitArora-MSFT commented on #53462
Hi @ChristopheHvd Thanks for your feedback. We will review and update as appropriate.

[2020-04-28 07:49] memildin commented on #40812
@MisterCloudTech, I'm sorry this issue is still ongoing for you.
I'm told that Reader and SecurityReader roles can both read policies.
From your replies, it's clear that you're reluctant to grant these roles, can you please explain the issue with using them?

[2020-04-28 07:51] RobMcZagBDS commented on #52925
Hi @MartinJaffer-MSFT ,
  thank you for the clarification confirming my understanding (after a lot of struggling) of this specific function.

As you wrote the different data types in the different context are indeed confusing and IMO you should try to make them evident and explain them, instead of underplaying them.

I understand there might be a desire to present ADF as a unified product, but it

[2020-04-28 07:54] Bangarraju1005 opened #53463 "App services support both Certificate authentication and AAD authentication in parallel"
App services support both Certificate authentication and AAD authentication for an application in parallel?

Adding doc link
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-28 08:03] VikasPullagura-MSFT commented on #53436
@ttilberg
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 08:05] VikasPullagura-MSFT commented on #53461
@williamr21 Thanks for the Feedback.
Can you please share the document url that you are referring.

[2020-04-28 08:07] vbatr commented on #52167
Hi @SaurabhSharma-MSFT ,
Do you have any updates on the issue?

[2020-04-28 08:21] damendo commented on #51808
The doc has been updated to reflect ports and protocols.
Changes should be out soon.

[2020-04-28 08:21] damendo commented on #51808
#please-close

[2020-04-28 08:21] #51808 closed

[2020-04-28 08:22] ynorvo opened #53464 "A little bit confused for <Account ID> in the step 4 of Configure Azure AD SSO"
A little bit confused for &lt;Account ID&gt; in the step 4 of Configure Azure AD SSO

"You will get the &lt;Account ID&gt; value in the Netsuite configuration section which is explained later in the tutorial at step 8 under Netsuite Configuration. You will find the exact domain (such as system.na0.netsuite.com in this case)."

&lt;Account ID&gt; is not the right word for the variable, did confuse

[2020-04-28 08:24] MisterCloudTech commented on #40812
Customers with focus on security do not want to assign higher permissions to users, external or internal, then necessary. The Global Reader provide access to information across the whole tenant, and this is WAY more access than appropriate, for instance, if a user just need VM access to a few specialized Azure VMs.
In the particular case, we have a standard hub-and-spoke setup with a central hub a

[2020-04-28 08:30] Ankzz opened #53465 "Document should also list out the dependency to utilize this with major build tools like maven and gradle"
Document should list the dependency to added as part of the instructions to use the storage libraries:
Maven dependency:
		<dependency>
		    <groupId>com.microsoft.azure</groupId>
		    <artifactId>azure-storage</artifactId>
		    <version>LATEST</version>
		</dependency>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-28 08:39] SubhashVasarapu-MSFT commented on #53005
@amandadebler , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-28 08:39] #53005 closed

[2020-04-28 08:42] foramkumar-parekh commented on #53238
@amanmcse do we have any idea on next steps/check?
Also as the issue is not resolved, can we mark it as open?

[2020-04-28 08:54] KrishnaG-MSFT commented on #53460
@fleed Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-04-28 08:59] yelevin commented on #53456
Thank you for your comment! We are dedicated to improving the accuracy of our documentation. I will be giving this issue my attention.

[2020-04-28 09:05] ChiragMishra-MSFT commented on #53172
@cp-bwg As mentioned in the doc[https://docs.microsoft.com/en-us/azure/data-factory/connector-google-adwords#copy-activity-properties], you can use a custom SQL query to get data for a range.

[2020-04-28 09:06] yelevin commented on #53456
#assign:yelevin

[2020-04-28 09:07] cheles opened #53466 "Latest firmware from SDK 1.4.0"
https://docs.microsoft.com/en-us/azure/kinect-dk/update-device-firmware#verify-device-firmware-version
We need to update this page to latest firmware version:

Loading firmware package firmware\AzureKinectDK_Fw_1.6.108079014.bin.
File size: 1294306 bytes
This package contains:
  RGB camera firmware:      1.6.108
  Depth camera firmware:    1.6.79
  Depth config files: 6109.7 5006.27
  Audio firmwa

[2020-04-28 09:07] SumanthMarigowda-MSFT commented on #53295
@javester Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-28 09:11] jamcguire commented on #53249
Ok will do thank you.

[2020-04-28 09:15] jamcguire commented on #52985
Hi Matt,

Bit confused.  The page which you just linked states South Central US supports automation.  But my understanding is that an Automation account has to be linked/mapped to a Log Analytics Workspace, which according to the documentation here: https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings  does not list South Central US as being supported?

[2020-04-28 09:18] PramodValavala-MSFT commented on #53204
@basilwong Just following up here... Hope my previous comment clears things up.

[2020-04-28 09:18] PramodValavala-MSFT commented on #53308
@SeaDude Just following up here... Hope my previous comment clears things up.

[2020-04-28 09:20] qfyra opened #53467 "Please clarify that the private HttpClient member should NOT be marked as static"
Second code snippet has this line of code:

private readonly HttpClient _client;

I think it would be prudent to note here, in no uncertain terms, that this member should NOT be marked as static  and that it is perfectly fine to DEVIATE from the general advice to mark HttpClients as static (e.g. at https://docs.microsoft.com/en-us/azure/architecture/antipatterns/improper-instantiation/, which clai

[2020-04-28 09:21] KalyanChanumolu-MSFT commented on #53313
@abhirockzz Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-28 09:21] #53313 closed

[2020-04-28 09:25] VikasPullagura-MSFT commented on #53432
@payiAzure Thanks for posting your Question.
This issue can better handled via a support case where the support engineer can live troubleshoot the issue. Request you to open a support case.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I

[2020-04-28 09:25] #53432 closed

[2020-04-28 09:25] qfyra opened #53468 "Dependency injection of HttpClient not working"
I can't get the following code snippet to work:

public HttpTrigger(IMyService service, HttpClient httpClient)
{
    _service = service;
    _client = httpClient;
}

The only way I could get it working was to pass in a HttpClientFactory, like so:

public HttpTrigger(IMyService service, IHttpClientFactory httpClientFactory)
{
    _service = service;
    _client = httpClientFactory.CreateClient();
}

[2020-04-28 09:30] ram-msft commented on #53458
@gary918 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-28 09:31] ram-msft commented on #53459
@gary918 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-28 09:37] aelmanaa commented on #52844
@femsulu  yes indeed I guess I can delete the resource with "az resource delete.." then recreate it.
however, it's just a workaround  as it should be idempotent.

to answer your quesion: I'm running with "Incremental " mode . Parameters are the following (workbookSourceId, workbookDisplayName &  EnvName are passed in a parameter file as they are environment dependent)

[code]

[2020-04-28 09:40] SnehaAgrawal-MSFT commented on #53463
@Bangarraju1005 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 09:43] KrishnaG-MSFT commented on #53320
Assigning to @TomArcherMsft for visibility, review and to provide insights.

[2020-04-28 09:46] KrishnaG-MSFT commented on #53300
@darrenjoycenz Closing this issue for now. If there are any questions or feedback regarding referred Azure documentation then please let us know so that we will gladly continue the discussion.

[2020-04-28 09:46] #53300 closed

[2020-04-28 10:00] john-adkins opened #53469 "'DeploymentDefinition' error when running 'az aks create'"
After following the instructions to register the Windows AKS feature I see the following error when running "az aks create --resource-group staging-r1-aks --name stagingaks --node-count 2 --enable-addons monitoring --kubernetes-version 1.15.7 --generate-ssh-keys --windows-admin-password password-removed --windows-admin-username azureuser --vm-set-type VirtualMachineScaleSets --load-balancer-sku st

[2020-04-28 10:07] strikene opened #53470 "Can I use a model exported from Custom Vision Service locally?"
Can I use a model exported from Custom Vision Service locally

Can I use Microsoft.ML, Microsoft.ML.ImageAnalytics, Microsoft.ML.OnnxRuntime, Microsoft.ML.OnnxTransformer to run the model locally?

I tried to build a core consoleapp, and when I tried to get model scores, there was an unsolvable exception

            MLContext mlContext = new MLContext();
            var data = mlContext.Data.Load

[2020-04-28 10:08] AshokPeddakotla-MSFT commented on #53404
Please note that, when you delete a deployment, any deployed devices take on their next highest priority deployment. If your devices don't meet the target condition of any other deployment, then the modules are not removed when the deployment is deleted.

AFAIK, this is by design. You can easily integrate a direct method for example that would be responsible to remove all unused docker images on y

[2020-04-28 10:08] VikasPullagura-MSFT commented on #53439
@sami1178116 Thanks for posting your Question.
I see there is a support case already opened and support team is assisting you with the issue. You can post your queries on the support case that is active.

[2020-04-28 10:12] VanMSFT commented on #53454
Hi @Joe-TJ! Thanks for bringing up this issue. Unfortunately, we don't list whether certain regions are supported in individual docs, and this will need to be taken up with the Azure team. I have redirected Vikas to follow-up internally. I will close this issue for now, as this is not a Documentation issue. We're sorry for the inconvenience.

@VikasPullagura-MSFT - Please follow-up internally if y

[2020-04-28 10:12] #53454 closed

[2020-04-28 10:19] mariojacobo commented on #53404
@AshokPeddakotla-MSFT  thanks, but I don't think this is relevant to what I was asking. Removing the docker images themselves is not our issue. We see the containers still running after the deployment has been deleted, like in the output of "docker ps" I pasted above.

[2020-04-28 10:21] WillyMoselhy opened #53471 "\\ instead of \"
This path cmdlet
Convert-VHD –Path c:\\test\\MY-VM.vhdx –DestinationPath c:\\test\\MY-NEW-VM.vhd -VHDType Fixed

Should not use \\, so it should be
Convert-VHD –Path c:\test\MY-VM.vhdx –DestinationPath c:\test\MY-NEW-VM.vhd -VHDType Fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016

[2020-04-28 10:22] cubika opened #53472 "Not working for a local development"
I believe it will work after development in Azure. However when I config the key vault reference in the local.settings.json, I only got the original string "@Microsoft.KeyVault(SecretUri=...", how can I make it parsed even in local?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* V

[2020-04-28 10:30] DibyodyutiMondal opened #53473 "When should we call `AzureServiceTokenProvider.GetAccessTokenAsync()`?"
I have read all over the docs, at various places, especially in the article below, about how to authenticate between services.
https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication

This method has been shown in other places in different examples as well.

What I would like is for the page above to also mention/link to some key information related to this.
1. T

[2020-04-28 10:32] DixitArora-MSFT commented on #53468
Hi @qfyra Thanks for your feedback. We will review and update as appropriate.

[2020-04-28 10:32] wilgert opened #53474 "Let keyword in queries does not work as described"
This issues is about this page: https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/datetime-operations

I'm trying to use variables in my queries using the `let` keyword but it give me the following error:

[code]

This is the query I'm trying to run on my Application Insights logs:

[code]

When I hardcode the startTime just like the endTime in this example it works.

---
#### Documen

[2020-04-28 10:33] DixitArora-MSFT commented on #53467
Hi @qfyra Thanks for your feedback. We will review and update as appropriate.

[2020-04-28 10:42] AjayKumar-MSFT commented on #53472
@cubika, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-28 10:50] sandip22490 opened #53475 "WVD - DR Strategy"
Hi there,

Could you please provide details on how to implement DR if you are using the WVD service?

Is there any reference document available for the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [Wha

[2020-04-28 10:50] neeleshray-msft commented on #53464
@ynorvo Thanks for your comment. We will review your request and get back you shortly.

[2020-04-28 10:52] SumanthMarigowda-MSFT commented on #53299
@Thank s for bringing this to our attention, I have assigned the issue to the content author to investigate further and update the document as appropriate.

![image](https://user-images.githubusercontent.com/44606021/80479216-4ed0c700-896c-11ea-9595-a17915b8ccef.png)

[2020-04-28 10:52] wbplomp opened #53476 "What if you change the default route on subnets (e.g. Azure Firewall)?"
This information should be more specific about network routing. For instance, what if you change the default route (0.0.0.0/0) pointing to a virtual appliance; does that mean health probe traffic from 168.63.129.16 will fail? Or is 168.63.129.16 configured like Service Endpoints where you bypass those routes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-28 10:53] VikasPullagura-MSFT commented on #53449
@RainWuGuy
Thanks for your Question! We are currently investigating and will get back on this.

[2020-04-28 10:53] neeleshray-msft commented on #53317
@jolenam We will be closing this thread now. Let us know if you need further help.

[2020-04-28 10:53] #53317 closed

[2020-04-28 10:55] rameshpzen3001 opened #53477 "Getting Context Deadline Exceeded while capturing image using Packer"
I am using a Packer to create an image but sometime it is failing with "Context Deadline Exceeded" error while capturing image... in 15 mins As per the packer, we increased the time out polling_duration_timeout to 1 hour even though it is failing with same error and strage it is still failing in 15 mins only.

2020-04-24T14:27:52.3374864Z ##[debug]**************************************/
2020-04-24

[2020-04-28 10:56] VikasPullagura-MSFT commented on #53473
@DibyodyutiMondal
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-28 10:56] VikasPullagura-MSFT commented on #53473
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-04-28 11:03] AshokPeddakotla-MSFT commented on #53437
Looks like both are available for the latest versions.

https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az-deployment-group-create

https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest#az-group-deployment-create

Adding author @rezasherafat for further review before updating the doc.

[2020-04-28 11:12] VikasPullagura-MSFT commented on #53474
@wilgert Thanks for the Feedback.
Can you please share the document url that you are referring.

[2020-04-28 11:12] #53471 closed

[2020-04-28 11:13] neeleshray-msft commented on #53424
@billmath Could the document be updated ?

[2020-04-28 11:13] VikasPullagura-MSFT commented on #53471
@WillyMoselhy Thanks for pointing this out. I have updated the doc and changes will go live soon.

[2020-04-28 11:16] neeleshray-msft commented on #53448
@zachsaltzman We do not have any roadmap on updating this document for now.

You could in the meanwhile check  on tis blog for **[Azure Sentinel Usage](https://techcommunity.microsoft.com/t5/azure-sentinel/usage-reporting-for-azure-sentinel/ba-p/1267383)**.
Let us know if this helps.

[2020-04-28 11:18] neeleshray-msft commented on #53464
@jeevansd Your views on the same ?

[2020-04-28 11:23] SubhashVasarapu-MSFT commented on #53476
@wbplomp , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-28 11:24] Benjiiim opened #53478 "Enclave Page Cache size"
Would it be possible to add the amount of Enclave Page Cache (EPC) available for each size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca0ec03-776b-fb48-3c1d-82dc11916534
* Version Independent ID: 030f5f5d-992a-1ead-ec17-39faba84cef1
* Content: [DC-series - Azure Virtual Machines - Azure Virtual Machines](https://

[2020-04-28 11:28] VikasPullagura-MSFT commented on #53475
@sandip22490 Thanks for your Question. I am checking with internal team on the documentation for your ask.

However, you can consider [Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-overview) for WVD DR.

[2020-04-28 11:30] SnehaAgrawal-MSFT commented on #53234
@Madrawn just checking if you have chance to see previous response.

[2020-04-28 11:40] VikasPullagura-MSFT commented on #53478
@Benjiiim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-28 11:40] VikasPullagura-MSFT commented on #53478
@susaxen
Can you please check and add your comments on this doc update request as applicable.

[2020-04-28 11:43] AjayKumar-MSFT commented on #52812
Thanks for the follow-up.
Working offline on this further.

[2020-04-28 11:43] VikasPullagura-MSFT commented on #53455
@jaylondhe
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-28 11:43] VikasPullagura-MSFT commented on #53455
@mlearned Please add your comments.

[2020-04-28 11:48] mardahl opened #53479 "Check user objects inheritance is enabled"
In a recent SSPR deployment of mine, I was strugglin' with with the writeback.. just saying that things wherent properly setup.
And I could see in the application event log on the AAD Connect server that there where a lot of errors at the time of me trying to do the reset. The errors mentioned permissions errors, though I had just validated that I had set permissions according to this article.

My

[2020-04-28 11:50] AshokPeddakotla-MSFT commented on #53197
@AndresDevelop  I'm unable to repro your issue.

Are you using URI same as **fully-qualified-iothubname.azure-devices.net**?
**fully-qualified-iothubname** is nothing but your IotHub name you need to modify this as per the hub created.

[2020-04-28 11:51] AshokPeddakotla-MSFT commented on #53292
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-28 11:51] #53292 closed

[2020-04-28 11:54] manuel-schellenberg commented on #38914
+1 this is really crucial. Any comment from Microsoft on that?

[2020-04-28 11:54] KrishnaG-MSFT commented on #53474
@wilgert I believe you are not selecting the first line of the query while running it i.e., I was able to reproduce your issue as shown below. Observe the cursor hasn't selected the first line of the query.

<img width="456" alt="Q1" src="https://user-images.githubusercontent.com/45988031/80484232-ff42c900-8974-11ea-8304-e5e7b41afbec.png">

However, as shown below, if you select the whole query in

[2020-04-28 11:59] VikasPullagura-MSFT commented on #53426
@lgmorand Thank you for your question!

As you have already opened an issue on AKS https://github.com/Azure/AKS/issues/1583, requesting you to please continue the discussion there.

Since this channel is for driving improvements towards MS Docs, and you mentioned this issue is not related directly to the document. I will proceed to close this issue now.

[2020-04-28 11:59] #53426 closed

[2020-04-28 12:04] cephalin commented on #52606
This error is no longer reproducible. #please-close

[2020-04-28 12:04] #52606 closed

[2020-04-28 12:04] StefanSchoof opened #53480 "domainJoinOptions has no Explanation"
In the ARM template is `domainJoinOptions` setting. I think this documentation should provide possible values or a link with more details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2568296a-984a-5dd0-d455-96359880a5e5
* Version Independent ID: efbc5520-001c-d721-2f98-ea241d525750
* Content: [Use a template to join

[2020-04-28 12:07] gabrieljtaylor commented on #46294
@stgeorgi :
1. Yes, an article explaining how a new master image is rolled out to an existing WVD environment is exactly what I'm looking for.
2. I know how to update the existing image already, but I am unsure of whether the updated image should be captured to a new Image resource or if it should overwrite the existing Image. A simple clarification would be nice, but it is likely that this would

[2020-04-28 12:08] cephalin commented on #46477
Sorry for the delay. It's fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/112640 and should be published sometime today. #please-close

[2020-04-28 12:08] #46477 closed

[2020-04-28 12:08] SeryioGonzalez opened #53481 "Broken link in document"
In the following document
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/event-hubs/event-hubs-diagnostic-logs.md

The link Event Hubs API overview in the section next step has a broken link to
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/event-hubs/event-hubs-api-overview.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-04-28 12:09] cephalin commented on #43838
Thanks @fsimonazzi for contributing to the discussion. Since there's an offered answer and since this is a .NET Core discussion (out of scope for App Service docs), #please-close

[2020-04-28 12:09] #43838 closed

[2020-04-28 12:13] pexxi commented on #19261
Hi @normesta ,
The rules engine on Microsoft Standard CDN is limited to 3 actions per rule, so it is too limited to be used for setting all the most necessary headers (atm I would need to add a total of 7 headers). Is there any other options?

[2020-04-28 12:23] amanmcse commented on #53126
@84618315 If you want to use Predicate Validation, the only way to hide the help text for reenterPassword is by using a separate PredicateValidation with empty userhelptext as you have shared.
Another option is not to use PredicateValidation and use RegEX for this purpose, which is by default in the base file of the starter pack and hides help text for reenterPassword by default as well.

[2020-04-28 12:23] #53126 closed

[2020-04-28 12:29] sandip22490 commented on #53118
Any updates on this?

[2020-04-28 12:30] AshokPeddakotla-MSFT commented on #53388
@manojkrishs All links are working properly. could you please point out the specific page/section on the documentation where it gives 404 response? It would be great if you can provide a screenshot for better understanding.

[2020-04-28 12:40] jose-l-carvalho commented on #50919
@mike-urnun-msft any update? I face same issue on a storage account, cannot change IP to static. I cerive this message : Failed to save IP address changes for network interface 'xxxxxxprivateendpoint.nic.b34c0164-3956-4ecd-xxxxx-xxxxxxx'. Error: An error occurred.

[2020-04-28 12:41] wilgert commented on #53474
Wow, I did not know you have to select the query to run it. The ui does not make this clear at all. But thanks for helping me out!

[2020-04-28 12:48] ljunquera opened #53484 "Cannot fit requested classes in a single dex file"
When I try to run the project I get the following error:

Cannot fit requested classes in a single dex file (# methods: 114842 > 65536)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae07d114-c399-29bb-ea3c-40fab750eed4
* Version Independent ID: 38428448-dbff-0155-23ad-6cfb6115183a
* Content: [Microsoft identity platfo

[2020-04-28 12:51] VikasPullagura-MSFT commented on #53477
@rameshpzen3001 Thank you for your question!
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-28 12:53] gkens opened #53485 "propagation"
Please add info on how long after security defaults are enabled for them to take effect.  Please also indicate how to test/verify that they are active

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Acti

[2020-04-28 12:54] amanmcse commented on #53347
@baddaz365 Azure Active Directory Premium P1 or P2 should be assigned only to those users who are using premium features of Azure AD. In this case, premium license should be assigned only to the members of the group that you are adding to the application.

There is an exception for Guest users, in case of which you need to maintain 5:1 user to license ratio, that means, for every 5 guest users who

[2020-04-28 12:54] #53347 closed

[2020-04-28 12:56] BasHamer commented on #53299
I got past it using a storage account key

`Write-Host "////// storage account key"
$saKeys =az storage account keys list -g "$($group)" -n "$($storage)" | ConvertFrom-Json
$saKey = $saKeys[0].Value
Write-Host "////// storage account key"

Write-Host "saKey: $($saKey)"

$containerCreate = az storage container create `
    --n "$($blob)" `
    --account-name "$($storage)" `
	--account-key "$($saKey

[2020-04-28 13:01] Cogax commented on #45642
Any progress here?

[2020-04-28 13:01] KrishnaG-MSFT commented on #53474
Closing this issue for now. If there are further questions or feedback regarding referred Azure documentation then please let us know so that we will gladly continue the discussion.

[2020-04-28 13:01] #53474 closed

[2020-04-28 13:01] RohitMungi-MSFT commented on #53470
@strikene Thanks for the question. Currently the ONNX file exported from the custom vision portal is only supported using Windows ML(preview).  Using this tutorial you can run the model to predict locally using the UWP app.

[2020-04-28 13:08] MonikaReddy-MSFT commented on #53041
@rohancragg , Thank you for your patient. I'm going to assign this to the document author so they can update the document accordingly.

[2020-04-28 13:25] uofifox opened #53487 "Please Correct the CentralUS "Artifact Blob Storage Primary" FQDN"
I am unable to find the IP for the primary blob storage as listed:  "dbartifactsprodcentralus.blob.core.windows.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-defined route settings for Azure Databr

[2020-04-28 13:34] Phatage commented on #52292
Thanks, so this time instead of cloning I just downloaded the release zip
from the page you previously sent me, so I'd imagine cleaning wouldn't do
anything correct? I did run the registry command and restarted but I'm
still getting the same error.

On Mon, Apr 27, 2020 at 8:52 AM Florian Born <notifications@github.com>
wrote:

[2020-04-28 13:36] DeanGross opened #53488 "Confusing sentence"
The following sentence is confusing, I don't understand how someone that is using PHS could turn on PHS, "Organizations that previously turned on password hash synchronization changed their authentication method to use password hash synchronization." please reword

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d32078e

[2020-04-28 13:40] AshokPeddakotla-MSFT commented on #53387
Please help with the link of document on which above document feedback request is created.

Did you check the below already?

We have [open sourced the IoT Edge Virtual Kubelet provider on Github](https://github.com/azure/iot-edge-virtual-kubelet-provider). The repo has instructions on how to set this up on a Kubernetes cluster, connect it to IoT Hub and author IoT Edge deployments as Kubernetes m

[2020-04-28 13:46] swingingsimian opened #53489 "Trying BLOB storage turorial on free account fails."
Hi

I am trying to take advantage of the 30 day free/limited access to run through the tutorials.

Trying this:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=nodejsv10

First error was from:
`  --account-key $blobStorageAccountKey --public-access off`
Apparently `--public-access off` is no longer required here and gives a misleading error.

The show-stoppe

[2020-04-28 13:49] swingingsimian commented on #53489
Full debug output:
`$ az appservice plan create --name myAppServicePlan --resource-group myResourceGroup --sku Free  --debug
Command arguments: ['appservice', 'plan', 'create', '--name', 'myAppServicePlan', '--resource-group', 'myResourceGroup', '--sku', 'Free', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x104558040

[2020-04-28 13:53] dalmat36 opened #53490 "public IP but no response"
I have a public IP however I cannot view the page. When I run the logs command I see an error:
Failed to connect to Redis, terminating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version Independent ID: 46e6645b-48ca-fa7c-1fb9-bc3442fde1d7
* Content: [Kubernetes on Azure tutor

[2020-04-28 13:53] KingDrewcifer commented on #52752
@SumanthMarigowda-MSFT Is this address supposed to work now? Its still sending bounce backs.

[2020-04-28 13:53] gate502 opened #53491 "Linux VM's - Powershell"
In order for the agent-less dependency mapping to run - do we need to have Powershell 2.0 or above on our Linux VM's as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8b3793-2277-68d5-e677-909e898baa9e
* Version Independent ID: 8fa072bf-23d8-9039-30f9-e9fb19a0ba94
* Content: [VMware assessment support in Azure

[2020-04-28 13:55] yuraje commented on #53343
Thank you for the clarification

[2020-04-28 13:55] #53343 closed

[2020-04-28 13:56] glomaga commented on #53447
I have 2 sites configured on my b2c. One site uses OpenID and the other site uses SAML.
When the user login to either of the sites, the SSO works, means, the user can navigate to each one and only enter the credential one time.
I enabled the password Reset for the OpenID site, and the user can finish the process successfully, and enter the site, BUT when he tries to reach the other site SAML, the

[2020-04-28 14:01] ctimon opened #53492 "Permitted Actions"
Seems like the table above reflects a limited number of actions that Security Admins can complete.  Is there a way to include a listing of all the actions a Security Admin can execute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c61e7b5-619a-fbd4-c7de-a1d04a33e61f
* Version Independent ID: c35c73d4-42d5-eb01-bb54-6

[2020-04-28 14:09] asergaz commented on #53383
I have assigned the issue to the content author to evaluate and update as appropriate. Thank you!

[2020-04-28 14:10] DeanGross opened #53493 "Using Graph"
I have seen demos of using the Microsoft Graph to get staged rollout information. Could you please add some references on this page to the instructions for doing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Con

[2020-04-28 14:14] asergaz commented on #53466
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-28 14:21] StefanSchoof commented on #53480
I think this are the flags from [NetJoinDomain](
https://docs.microsoft.com/en-us/windows/win32/api/lmjoin/nf-lmjoin-netjoindomain#parameters) for `fJoinOptions`

[2020-04-28 14:21] neeleshray-msft commented on #53480
@StefanSchoof Thank you for your feedback . We will investigate and update the thread further.

[2020-04-28 14:23] neeleshray-msft commented on #53450
@zchia Could you check on this ?

[2020-04-28 14:24] aanexplus commented on #53383
Thanks.
The Azure Kinect was positioned at the back of the person. Maybe that will help.

[2020-04-28 14:29] VikasPullagura-MSFT commented on #53484
@ljunquera Thanks for the Feedback.
Can you please share the document url that you are referring.

[2020-04-28 14:33] neeleshray-msft commented on #53457
@PaddyMaddy  For PIM Consent, once you have the Azure Portal open, in the top search box, search for "**_Azure AD Privileged Identity Management_**". There you will find the option for "**Consent to PIM**"

We would also be checking on updating the documentation.

[2020-04-28 14:33] neeleshray-msft commented on #53457
@curtand Could this be updated in the document ?

[2020-04-28 14:38] tfitzmac commented on #53452
@elvirk - do you have the preview module installed?

[2020-04-28 14:38] juanp3053 commented on #26079
Is there any updates on this? are there any plans to add the ability for Service Principals to create Managed Storage Accounts in the near future? @MarileeTurscak-MSFT @prashanthyv

[2020-04-28 14:42] souravmishra-msft commented on #53334
@zvrba, I guess in the second step when you are trying to submit the access token issued to WebAPI-1 back to AAD and trying to request another access token for WebAPI-2 you need to mention the grant_type as "**urn:ietf:params:oauth:grant-type:jwt-bearer**"

The request should look something like:

[code]

**Note:** In OBO flow the the the first step where you try to get the first token, it always

[2020-04-28 14:50] premgan commented on #53424
Love the responsiveness 😊

From: neeleshray-msft <notifications@github.com>
Sent: Tuesday, April 28, 2020 6:13 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Premal Gandhi <premgan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Verify configuration using the Microsoft Remote Connectivity Analyzer (#53424)

@billmath<https://nam06.s

[2020-04-28 14:52] sharadrumane commented on #53146
@SQLSourabh i was trying to use "register the DAC" using management studio. i think i am using latest versions of the tools. i will send you the logs of my SQL Edge

[2020-04-28 14:57] sharadrumane commented on #53146
Hello Sourabh,

   PFA for error logs of SQL Edge, please let me know if you need any more
   information on same.

   Thanks in advance.!!!

   Regards,

   Sharad

iotedge logs AzureSQLDatabaseEdge
2020-04-28 14:40:35.240 +00:00 [INF] - Module client initializing ...
2020-04-28 14:40:36.548 +00:00 [INF] - Opened module client connection.
2020-04-28 14:40:36.549 +00:00 [INF] - Setting Product Inf

[2020-04-28 14:57] guardrex opened #53494 "Stray semicolon in code example"
Stray semicolon in code example:

[code]

&gt; ... , "AzureAd"); &lt;-----

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81a334a-eccc-b862-1a45-e58d151b8621
* Version Independent ID: cee85377-c930-2e20-715d-004e5431a92f
* Content: [Configure a web app that calls web APIs - Microsoft identity platform](https://docs.mi

[2020-04-28 15:00] natelaff commented on #26079
I'd rather just handle this myself at this point, but there doesn't seem to be a public API to swap the keys to achieve this same effect (you can regenerate them, but you can't swap key2 into key1), so whatever this process does has access to things that we otherwise can't do.

[2020-04-28 15:00] jmprieur commented on #53494
Thanks @guardrex for catching this.
I've prepared a PR to fix it.

[2020-04-28 15:02] BrianLevenson commented on #45910
This content has been updated, and the intended design is to show the same information with the title "Customer Usage Attribution"

#please-close

[2020-04-28 15:02] #45910 closed

[2020-04-28 15:11] strikene commented on #53470
Thank you for your reply. Can I use windows ml in WPF

[2020-04-28 15:12] akenens opened #53496 "OVF deployable file"
All these steps to deploy are not needed when you just provide a sysprepped OVF file.
Also please change BIOS to EFI so we can use the vSphere security features which are absent when you use BIOS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2773d821-d006-8772-5c1a-34c82cb7812c
* Version Independent ID: e1271f82-2b73

[2020-04-28 15:13] dckfnuance commented on #52473
Adding a warning message in the cmdlet is nice but the documentations need to be updated also.
There should be a note about the 5000 limit in:
https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azdatalakegen2childitem?view=azps-3.8.0
and in:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

E.g. In the section [Set ACLs on all item

[2020-04-28 15:16] VikasPullagura-MSFT commented on #53465
@Ankzz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-28 15:16] VikasPullagura-MSFT commented on #53465
@mhopkins-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-04-28 15:16] MarileeTurscak-MSFT commented on #53494
Closing this out since a fix has been pushed :)

[2020-04-28 15:16] #53494 closed

[2020-04-28 15:17] SaurabhSharma-MSFT commented on #53485
@MicrosoftGuyJFlo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-28 15:17] MarileeTurscak-MSFT commented on #53488
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 15:21] SeaDude commented on #53308
Hi @PramodValavala-MSFT, thank you for the prompt reply. I’m still unclear on something:
- When building an Azure Function using VS Code, are the settings from ‘local.settings.json’ published to the ‘Configuration’ area of Azure?
- Or do I need to manually enter them via Portal GUI?

[2020-04-28 15:21] ChristopherGLewis commented on #18477
We have a DSC module to do this: https://www.powershellgallery.com/packages?q=cMoveAzureTempDrive

[2020-04-28 15:22] MarileeTurscak-MSFT commented on #53492
@MarileeTurscak-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 15:24] MarileeTurscak-MSFT commented on #53493
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 15:25] mamccrea commented on #52293
Glad we could help! I will now proceed to close this issue. If you have any further questions, please reopen the issue.

#please-close

[2020-04-28 15:25] #52293 closed

[2020-04-28 15:28] stevenhayes97 opened #53497 "Example code for ASP.NET?"
Would it be possible to add example code for ASP.NET on this page. It would make it much more helpful for all use cases. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19609d01-2128-d7ec-6ee1-7c9b3e86cb35
* Version Independent ID: 0a5ce83e-b17f-9d1c-786e-50ef3958c203
* Content: [Get a token in a web app that ca

[2020-04-28 15:40] hurtn opened #53498 "Please include details about source options tab"
There are many configuration settings in the source options tab but no documentation to support this. E.g. it is unclear how to use the list of files setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4810e7d6-28ed-d956-44b6-77fe62b579e5
* Version Independent ID: 98b5df43-40de-ee10-e63c-c5f15eca1a16
* Content: [Sou

[2020-04-28 15:41] Caz2012 commented on #25609
I have exactly the same issue "azure The job container job-winffmpegjob does not exist in your linked storage account" in the .Net version - what was the fix ?

NB: I have checked the account keys, url's and names.

[2020-04-28 15:46] SayakMukhopadhyay commented on #23789
Dashboard v2 has launched https://github.com/kubernetes/dashboard/releases/tag/v2.0.0 . But it seems to have partial support for k8s 1.16

[2020-04-28 15:51] atavallai commented on #53412
I think we have this working now. So we don't need to set it up in Event Subscriptions section of the storage account.

We had tried just adding the Event Grid trigger yesterday with no luck, so then we assumed you had to do something with Event Subscriptions. However, we just tried it again and it works as expected.

Thank you all for your help.

[2020-04-28 15:51] #53412 closed

[2020-04-28 15:51] zvrba commented on #53334
Hi,

This is done: the ObO flow is performed with MSAL.NET and Microsoft.Identity.Web code.

Ok, this is the root cause. Is this a limitation of AAD?

[2020-04-28 15:55] jafife commented on #40851
Hi @TravisCragg-MSFT has this one been resolved?

[2020-04-28 15:56] FlorianBorn71 commented on #52292
It seems this is a common Unity problem, as discussed for instance here:
https://forum.unity.com/threads/ioexception-failed-to-move-file-directory-from-temp-stagingarea-data-to-temp-stagingarea-asset.462115/

[2020-04-28 15:56] markjbrown commented on #53374
The purpose of partitioning is to allow your data and load to scale out horizontally. For small, single partition containers the choice makes little difference. A poor choice here will limit your container from ever being able to scale out.

If this is the case then choose a partition key that will be used in most/all of your queries and you should be fine.

Thanks.

#please-close

[2020-04-28 15:56] #53374 closed

[2020-04-28 15:57] amanmcse commented on #53238
@foramkumar-parekh Since this would require deeper troubleshooting, I would suggest you to open a support case for this issue. We use this platform to address documentation related issues and it is more of a configuration issue in your policy files.

[2020-04-28 15:58] abshamsft commented on #52903
The article has been updated for description for the two points regarding description of uri_path and use of prefix {var_}

[2020-04-28 15:59] FlorianBorn71 commented on #52193
#please-close

[2020-04-28 15:59] #52193 closed

[2020-04-28 16:01] bnelson817 opened #53499 "Create a Conditional Access Policy - 7. Under Conditions > Client apps (Preview), set Configure to Yes, and select Done."
This is not possible.  You must select one of the checkboxes in Client apps or the done button will remain greyed out.   Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9307d7f3-2d9b-b2fc-feba-e66d170af5f9
* Version Independent ID: 9a6ef72b-0d1e-0ad2-6e9a-45fa7c16cc56
* Content: [Conditional Access - Requ

[2020-04-28 16:02] msdnguy opened #53500 "Need to update documentaton for the new AMD base NVv4 skus."
[Enter feedback here]
Currently we state in doc https://docs.microsoft.com/en-us/azure/virtual-desktop/configure-vm-gpu
:o take advantage of the GPU capabilities of Azure N-series VMs in Windows Virtual Desktop, you must install the appropriate graphics drivers. Follow the instructions at Supported operating systems and drivers to install drivers from the appropriate graphics vendor, either manual

[2020-04-28 16:09] larsonmpdx opened #53501 "since about Feb 2020 "ServiceUnavailable errorCode 503003" has started when trying to connect"
This product used to work every time, now when connecting from a PC client we get "ServiceUnavailable errorCode 503003" about 80% of the time, so we need to try a few times before we get a successful connection.  Maybe this is an IoT hub configuration issue on our end but I can't tell.  You can message me for our IoT hub name and other details.

---
#### Document Details

⚠ *Do not edit this secti

[2020-04-28 16:11] jolenam commented on #53317
Hi! I created the Application and also already assigned myself the role of Application Administrator (as well as Cloud App Administrator), but I still can't seem to edit any of the properties. Thanks in advance for your help!

[2020-04-28 16:12] LeCampusAzure opened #53502 "HTML markup visible in the page"
This markup is actually visible in the page:
[!div class="mx-imgBorder"]
You may want to correct the image formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07aea4bd-5a4d-da2a-4867-1d23f587bb07
* Version Independent ID: b18d2fbf-2404-9185-d6d9-31752d314d50
* Content: [Quickstart - Create an Azure confidential

[2020-04-28 16:17] SaurabhSharma-MSFT commented on #53210
@lozanov95 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-28 16:17] #53210 closed

[2020-04-28 16:21] fob2000 opened #53503 "Google no longer appears to support Authenticator apps"
According to https://support.google.com/accounts/answer/185839 only Phone, Text, or dongle is supported if you're not using Google Prompt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49de26c3-95f4-2004-8e63-0076c41ddfb3
* Version Independent ID: c304f504-3e8a-591d-6d34-8f2a3277094f
* Content: [Add non-Microsoft acco

[2020-04-28 16:22] Mike-Ubezzi-MSFT commented on #53118
@sandip22490 Apologize for the delay and thank you for the follow-up. The ideal deployment for the secondary would be in a separate region using the BCDR paired region. Please see the following for the paired region alignment: [Business continuity and disaster recovery (BCDR): Azure Paired Regions](https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions). Leveraging a pai

[2020-04-28 16:23] SaurabhSharma-MSFT commented on #52167
@vbatr sorry for the delay on this.  Can you please share the below information along with this thread link on azcommunity[dot]microsoft[dot]com so we can investigate it further.

•	Tenant ID:
•	Application ID:
•	Subscription ID:

[2020-04-28 16:27] martincoetzer commented on #53488
Thank you for this great feedback. I updated the sentence and it will be live soon. #please-close

[2020-04-28 16:27] MarileeTurscak-MSFT commented on #53488
I agree, but I checked the PR logs and it looks like someone already made a pull request to fix this:

It now says:

I would also note that someone can have password hash synchronization enabled in Azure AD Connect, but not set as the sign-in method. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-user-signin

[2020-04-28 16:27] #53488 closed

[2020-04-28 16:28] MarileeTurscak-MSFT commented on #53488
Looks like we commented at the same time, @martincoetzer :)

[2020-04-28 16:29] Ayanmullick commented on #53203
I want to send the sensor telemetry data to Az.IoTHub from Pi. I'd use Powershell 7 to set it up on the latest version of Raspbian on Raspberry Pi 4.

[2020-04-28 16:36] wolfheart01 opened #53506 "Links to SAP documentation are broken"
The links to the SAP documentation like the ones in the sections below are broken. When you click the link you go the SAP help site which says you have been redirected because the site was moved to a new documenation site. Please get the links updated. Thanks.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sap-hana-cloud-platform-identity-authentication-tutorial#configure-sap-cl

[2020-04-28 16:36] julieMSFT commented on #50647
@homeworryfree Thank you for your question. What browser are you using?

[2020-04-28 16:39] Mike-Ubezzi-MSFT commented on #53043
@krooole Can you provide the Azure Database for MySQL version you have deployed and is the UNC path mounted with a drive letter to your local host or are you passing an Azure Storage URL to the location for the data file? If not, can you please set-up a [Windows](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows), [Linux](https://docs.microsoft.com/en-us/azure/s

[2020-04-28 16:40] VikasPullagura-MSFT commented on #53502
@LeCampusAzure Thanks for pointing this out.
I have updated the document and changes will go live soon.

[2020-04-28 16:42] #53502 closed

[2020-04-28 16:46] MarileeTurscak-MSFT commented on #53506
@wolfheart01
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 16:51] VR6Pete commented on #47171
@rhyscooper - Did you find a resolution to this? If so, could you please share your solution / ARM template?

[2020-04-28 16:51] RohitMungi-MSFT commented on #53362
@rajkumar-xilinx Currently Xilinix FPGAs are not supported for deployment on Azure for ML.

[2020-04-28 16:53] abshamsft commented on #52903
#please-close

[2020-04-28 16:53] #52903 closed

[2020-04-28 16:53] MarileeTurscak-MSFT commented on #53499
@bnelson817
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 16:54] MarileeTurscak-MSFT commented on #53497
@stevenhayes97
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 16:55] CBeer7 commented on #51464
Hello @yoelhor .

We are also seeing the exact issue as the original poster.  In addition we are seeing a similar behaviour when calling the AssertBooleanClaimIsEqualToValue Claims Transformation from a AAD Technical Profile called as a Validation Technical Profile.

When the assertion is false we are seeing the expected error message displayed, which suggests an error IS being returned in some fo

[2020-04-28 16:56] vp393001 opened #53508 "Switching from Basic to Advanced"
It took me 2 days to actually figure out how to set up HTTP inbound rule. For that, we have to switch to the advanced option. But was not knowing that it is actually toggle kind of button. I request you to add one screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b29d46b-5a37-3e56-00a5-98971bce4f6c
* Version

[2020-04-28 16:59] netresults-scott opened #53509 "Microsoft 365 'Business Premium' (previosly M365 Business)"
This page could really use some info for the M365-SMB focussed products. Slightly touched on via O365 Business Premium (although this naming is now out of date).

Please provide updated licensing info that includes an overview of MFA availability on the SMB product lines (M365 Business Premium, Standard).

Side note: The documentation in general really needs better differentiation/info for SMB vs

[2020-04-28 17:01] lespaulio commented on #46763
Seeing the same issue. I have a feeling the "no wild cards" thing is new because I'm pretty sure I've set it that way in the past. Not sure what to do for Zoom setup now as they want a wild card in the Reply URL field.

[2020-04-28 17:08] BharathNimmala-MSFT commented on #53270
@sudoxue Thank you for your feedback, the doc will be updated later today. "If your offer is an Add-on app, you must upload an App tests automation file (.app).

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thre

[2020-04-28 17:08] #53270 closed

[2020-04-28 17:08] Grace-MacJones-MSFT commented on #47593
@cephalin can you please take a look at this issue? Thanks

[2020-04-28 17:10] himanshusinha-msft commented on #53487
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-28 17:10] RohitMungi-MSFT commented on #53364
@djpugh Could you please confirm if using the same name for endpoint_name and version_name in deployment config when you are deploying the model fails further updates when you update the version of the endpoint?

[2020-04-28 17:12] himanshusinha-msft commented on #53498
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-28 17:12] cephalin commented on #45727
#please-close

[2020-04-28 17:12] #45727 closed

[2020-04-28 17:12] gnsuryan opened #53510 "Configuring Azure Application Gateway with Backend Pool VMs running applications at different ports"
We have a use case where in an application is available on multiple Servers running on different host machines and port numbers.

For example:
The application is running on different servers as follows.
               Server1  (HostVM1:8001)
               Server2  (HostVM2:8002)
               Server3  (HostVM3:8003)

![Azure_AppGateway_Configuration](https://user-images.githubusercontent.com/297

[2020-04-28 17:15] rhyscooper commented on #47171
@VR6Pete Not exactly, I did get an answer from support (after many weeks of pushing) which pointed me in the direction of the template that could be viewed by clicking "View Remediation Logic" under "Remediation Steps" within the Security Center Recommendation. Unfortunately I haven't actually been able to test this as my Security Centre trial ran out in my dev subscription before I got the answer

[2020-04-28 17:15] adesmet opened #53511 "Security based on subscription"
I'm working for a global organization, and in our to-be architecture we'd have messages of the same type arriving on the same topic. Market-specific applications would be able to subscribe to the topic and through a subscription-filter, they'd only be able to see events for their market.

This requires security based on a subscription. If a SAS token is given to the client application that is allo

[2020-04-28 17:19] DeanGross commented on #53488
Wow, that is world record for fastest documentation correction. The clarification is very helpful, keep up the good work

[2020-04-28 17:19] MarileeTurscak-MSFT commented on #53499
Thanks! I made a pull request to add, "Under **Select the client apps this policy will apply to** ensure that all boxes are checked and select **Done**." https://github.com/MicrosoftDocs/azure-docs-pr/pull/113064

[2020-04-28 17:19] #53499 closed

[2020-04-28 17:25] souravmishra-msft commented on #53334
@zvrba, Yeah, OBO doesnt support Client_Credentials flow as it doesnt make sense for it to use Client_Cred flow, since Client_Cred flow gets you an application token where as OBO flow needs a delegated token. Delegated tokens could only be fetched by users.
You can also check this article: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow.

In here you wou

[2020-04-28 17:30] YutongTie-MSFT commented on #53020
@csteegz Hi Colin, could you please help us check this issue? I don't find any official doc for this. Thanks.

[2020-04-28 17:32] YutongTie-MSFT commented on #53029
@brharr Thanks for the report, we have acknowledged this problem and will update the document. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-28 17:32] #53029 closed

[2020-04-28 17:38] WhitWaldo opened #53512 "Clarification as to AggregateExceptions"
The section at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#remoting-exception-handling indicates that all exceptions are thrown as AggregateException. I propose that the wording should be updated to make it clear that the developer is not intended to instantiate an AggregateException themselves, but rather that the custom exception

[2020-04-28 17:40] jasonyslai opened #53513 "[Azure Mobile App][Xamarin.Forms] - Sync table which up to millions records."
Hi, It's not a doc issue.

I have a trouble to update a table which contains millions of record (about 200MB)
It takes lots of time to insert all records at the first time via Azure App service.
How to optimize it :'( ?

Sync Table :

[code]

Table Schema :
[code]

Api Endpoint (Azure App Service) :

![image](https://user-images.githubusercontent.com/958382/80518340-ebb95180-89b8-11ea-9dbf-1b6d895

[2020-04-28 17:40] mike-urnun-msft commented on #52376
Hey @spmanjunath - Sorry for the delay. You're right, I have reached out to the APIM team for this scenario and they've confirmed this isn't supported at this time. The recommendation is to use JSON payload and, parse & consume accordingly. If you feel strongly about this, please consider submitting a feature request on [Azure UserVoice](https://feedback.azure.com/forums/248703-api-management) for

[2020-04-28 17:40] #52376 closed

[2020-04-28 17:40] gustavorocha commented on #29245
It's not closed. The example of js client is not valid anymore. Also shows a different header key. Could you also provide a simple js example with no external library dependency? It should be proper documentation but at least a proper example? Thanks

[2020-04-28 17:47] PramodValavala-MSFT commented on #53308
@SeaDude The `local.settings.json` file is meant for local development and hence not pushed to Azure by default. But there is an option to push them manually.

Refer [Application Settings in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp#application-settings-in-azure) for more information.

[2020-04-28 17:49] andypituch opened #53514 "Feed URL"
I was not having any luck with the Android Client (on a Chromebook) using https://rdweb.wvd.microsoft.com as the Feed URL. I was able to connect after I stumbled upon a post suggesting to try using https://rdweb.wvd.microsoft.com/api/feeddiscovery/webfeeddiscovery.aspx as the feed. Should this doc be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-28 17:52] JordanSimba opened #53515 "Exampe"
Please put an example of how the paths are constructed inside the application now that the share is mounted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c128b2-3d9d-3195-6f21-5f710e761458
* Version Independent ID: 74a76767-02f3-31c6-ed80-2e71c528cb2b
* Content: [Mount a file share to a Python function app - Azure

[2020-04-28 18:07] timatactia commented on #47593
In the end I had to roll my own CertificateAuthorizationAttribute that derives from AuthorizeAttribute.

I'm using ASP.NET WebAPI on NET Core.

Sorry I cannot provide much more without asking permission from my company due to copyright. I really wish I could post up the complete solution now - I am sure you understand.

    [AttributeUsage(AttributeTargets.All)]
    public class CertificateAuthori

[2020-04-28 18:11] djpugh commented on #53364
It fails when you e.g. update to enable app_insights or change auth

[2020-04-28 18:13] SumanthMarigowda-MSFT commented on #53194
@tezzigator Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused

![image](https://user-images.githubusercontent.com/44606021/80522056-9164c480-89a9-11ea-956c-37b8ef58d2e5.png)

For more information: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#storage-limits

[2020-04-28 18:14] SumanthMarigowda-MSFT commented on #53170
@mauleb
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documen

[2020-04-28 18:14] #53170 closed

[2020-04-28 18:15] SumanthMarigowda-MSFT commented on #53194
@tezzigator We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 18:15] #53194 closed

[2020-04-28 18:16] marcfiu commented on #52186
@Karishma-Tiwari-MSFT and @danielsollondon: CentOS 7.8 is now out and the updated cloud-init appears to work with Azure's metadata service. Any updates on when a CentOS 7.8 public azure image supporting cloud-init will become available?

[2020-04-28 18:27] mamccrea commented on #53326
Hi @ewotawa! I tested this from start to finish without any issues. I found that the instructions say to name the function **sentiment**, but the query uses sentiment1. Ensure that your query matches the name of your function. Also, ensure that you've chosen the **Azure ML Studio** function, not JavaScript UDF.

I see the article appears to be a little out of date, so I'll update it. Hope this hel

[2020-04-28 18:30] marcfiu commented on #52186
Actually @danielsollondon mentioned May.

[2020-04-28 18:31] MGoedtel commented on #52985
@jamcquire - While there are many regions which support an Automation account, as called out on the Product Availability by Regions page. There are only certain regions supported **when** you link your Automation account to a LA workspace (either manually or when required for features like Start/Stop VMs and Update Management).  While South Central US supports an Automation account, it isn't a sup

[2020-04-28 18:31] MarileeTurscak-MSFT commented on #53506
Thanks! I made a pull request to update the links to the working ones. https://github.com/MicrosoftDocs/azure-docs-pr/pull/113079

[2020-04-28 18:31] #53506 closed

[2020-04-28 18:35] didier-danloy opened #53517 "Screenshot for"
Can we get a screenshot to complete the documentation. For example. How to pause the service under "Scale up\down, pause, and resume"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04af7f54-ecc8-f44b-e6f4-f91a1076a881
* Version Independent ID: cb4d74d4-383e-67b4-f603-c775a3fea61d
* Content: [What is Azure Analysis Serv

[2020-04-28 18:40] amanmcse commented on #53216
@rajivkan When a user clicks on **Send Code** and **Verify Code**, we are using Display Controls to call various Validation Technical Profiles (including SendGrid Technical Profile). For Display Controls, the required selfasserted page contract version is 2.0.0 and it will not work with version 1.2.0.

[2020-04-28 18:40] #53216 closed

[2020-04-28 18:45] Grace-MacJones-MSFT commented on #53272
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-28 18:45] #53272 closed

[2020-04-28 18:46] roygara commented on #51685
@MatthewMcD Thanks for reaching out, we appreciate it. In this case that part of the UI has changed enough that getting the UNC path would require several more steps. Instead I'm removing that altogether and providing the UNC path format and an example. That'll be live later today.

Thanks again,

#please-close

[2020-04-28 18:46] #51685 closed

[2020-04-28 18:55] kgremban commented on #53404
@mariojacobo The behavior you see is correct. Removing a deployment doesn't send information to the device to delete its modules. Instead, you should create an empty deployment (containing just the runtime modules) and apply it to the device and it will pick up those changes.

[2020-04-28 19:00] ms-vincent commented on #48350
IoT hub is missing as well: https://docs.microsoft.com/en-ca/azure/iot-hub/virtual-network-support#create-an-iot-hub-with-managed-service-identity

[2020-04-28 19:08] milind8451 commented on #51854
Hi, I checked Key Vault properties and there are no 2 different blades for "Access Policies" and"Advanced Access Policies". It is just "Access polices" where you can set "Enable access to Azure disk encryption". Portal has updated, please update this page as well.

[2020-04-28 19:12] tfitzmac commented on #53399
@connec - thanks again for this suggestion. The updates have been merged and should be published this afternoon. I moved coalesce to the comparison functions, and json to the object functions. Those two are still a bit tricky, so they may need to be moved again in the future.

[2020-04-28 19:12] tfitzmac commented on #53399
#please-close

[2020-04-28 19:12] #53399 closed

[2020-04-28 19:17] csteegz commented on #53020
Enable_GPU is from the old, Image based workflow. If using an environment (https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#create-an-environment), it is not necessary and not supported. You should use environments.

You should create your environment based on the image
mcr.microsoft.com/azureml/base-gpu:intelmpi2018.3-cuda10.0-cudnn7-ubuntu16.04
and install the pyth

[2020-04-28 19:27] Karishma-Tiwari-MSFT commented on #53469
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-28 19:29] uofifox commented on #53487
For reference this is for CentralUS

[2020-04-28 19:31] Absoblogginlutely opened #53519 "Windows Server backup application is not installed when you follow these procedures."
Followed the steps to save the system state and saved to another drive.
Reboot machine into Directory Services Repair Mode.
Launch Windows Server Backup from the console and although the app launched, it states it is not installed (which is kind of odd). As a result of this, there are no actions to pick from in the local backup window.
This can be fixed by installing Windows Server Backup after Ap

[2020-04-28 19:41] hochas opened #53520 "Ecmascript version support"
What versions of ecmascript are supported when writing javascript applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microsoft.com/en

[2020-04-28 19:46] gardnerjr commented on #52844
if you're using a new guid for `workbookId` every time, you aren't creating the same workbook again.  you're creating a *new* workbook with a *new* id, but reusing the same display name, which conflicts with something else with the same name.

i'm not positive the template will work if you reuse the same id, with the same display name, but right now if you're using new ids, you're not recreating t

[2020-04-28 19:47] nuno-barreiro commented on #31372
Hi @jpl2nd ... I started but I was never able to finish that and in the meantime the project went on another direction too, so no need for that anymore.

[2020-04-28 19:50] Absoblogginlutely opened #53522 "Attempting to restore a Windows Server 2012 System State to a 2016 Server Fails."
Attempting to restore backup provides "The specified backup is for a version of Windows that is different from the current version. System state recovery cannot be performed using the specified backup"
However this document has a note at https://docs.microsoft.com/en-us/azure/backup/backup-azure-restore-system-state#recover-system-state-files-to-an-alternate-server that specifies that you can rest

[2020-04-28 19:55] jwisener commented on #39109
I agree, this is such crap, why can the documentation not state on how to handle this properly? Can the documentation not be updated? @mike-urnun-msft

[2020-04-28 20:14] akenens opened #53523 "Caveat: Deletion of a file from a share does not delete the entry in the storage account."
Hi,

Will this caveat be fixed? If so, when?

Might be useful to make this an option : "When a file is deleted from the Azure Data Box Gateway, the file on the storage account needs to be:"

- Not deleted in the Storage account
- Deleted in the storage account.

And if deleted you might be able to add an option for example: Immediately or after x hours, days or months...

---
#### Document Details

[2020-04-28 20:14] akenens commented on #53011
I agree with Joost.

[2020-04-28 20:14] SubhashVasarapu-MSFT commented on #53510
@gnsuryan , We have a good resource [here](https://docs.microsoft.com/en-us/azure/application-gateway/create-multiple-sites-portal) which explains clearly about Creating and configuring an application gateway to host multiple web sites using the Azure portal .
Please let us know if you are looking for more help here.

[2020-04-28 20:15] BryanTrach-MSFT commented on #52948
@dazinator We take your feedback seriously. While products are in public preview they are often treated to be 'used as is' and documentation is not promised until the product fully launches.

We reached out internally and got verification that the team is indeed working on documentation but have not formalized it. They shared this [blog post](https://github.com/jeffwmartinez/windows-container-docs

[2020-04-28 20:19] Grace-MacJones-MSFT commented on #53408
Hello @arsnyder16, this should be GA sometime this year. However, we don't have a specific date for the release at this time. Please continue to check back here or the [Azure Update](https://azure.microsoft.com/en-us/updates/) page for further updates. We appreciate your patience.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-04-28 20:19] #53408 closed

[2020-04-28 20:20] bellomu opened #53524 "Two sets of conflicting Data"
Hello -- it looks like there are two sets of everything and the audit scope check marks are conflicting.  i.e. Azure Lighthouse in one set says it's NOT FEDRAMPed High and another has a check mark, which means it IS FEDRAMPed High. Please clarify.  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9

[2020-04-28 20:20] crisansou commented on #53428
Hi @CHEEKATLAPRADEEP-MSFT ,

Ok, thanks for the info.

Best regards,
Cristina

[2020-04-28 20:20] #53428 closed

[2020-04-28 20:20] Adamus2077 opened #53525 ""Clean up resources" problem"
The documentation above states: "In your Log Analytics workspace, remove the VM from the saved search for the Scope Configuration MicrosoftDefaultScopeConfig-Updates."  There is no such saved search "MicrosoftDefaultScopeConfig-Updates". There is only "MicrosoftDefaultComputerGroup" saved search. And in the "MicrosoftDefaultComputerGroup" saved search, there is no option to remove one VM.
Thanks f

[2020-04-28 20:21] UnsnappedKhan8 commented on #52948
maybe the console isnt yours...

[2020-04-28 20:22] UnsnappedKhan8 commented on #53524
hello

[2020-04-28 20:36] kevinmkane opened #53526 "Is it possible to get intermediate certificates presented by the client?"
I have client certificates set up in a PKI, such that the full chain starts at the trusted root, has one or more intermediate CAs, and then the client's certificate is issued by the last intermediate CA. My client is presenting the entire chain, as I can see from connecting it to a local test server, and so I'm confident it's doing similarly to my function app. The X-ARR-ClientCert header only has

[2020-04-28 20:39] Grace-MacJones-MSFT commented on #52191
Hi @Ricardoaraujo00 Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary

[2020-04-28 20:40] MartinJaffer-MSFT commented on #53498
@hurtn Thank you for bringing this deficiency to our attention.  Before I assign the updates to author, I would like to take a moment to inform you on some of the options.  The available options depend upon the type of source dataset.

The 'List of files' option allows you to define a custom set of files to injest.  Suppose we have the following files in blob storage or Data Lake gen2:
[code]
wher

[2020-04-28 20:43] bendubuisson opened #53527 "Can you use Keyvault reference in web app services directly in the Portal configuration => Configuration?"
From the doc it looks as though KeyVault references are only for ARM templates.
Can I not reference a secret from a Keyvault by going through the portal, my app service instance and add it directly to my application settings?

[2020-04-28 20:44] KumudD commented on #52181
#reassign: @allegradomel

[2020-04-28 20:48] KumudD commented on #49316
#reassign: EricTheRed999

[2020-04-28 20:51] MartinJaffer-MSFT commented on #53498
@kromerm There is a documentation gap for the DataFlow Source Options.  Given how the options change depending upon source type, I need your help.

For example, the [delimited text doc section for data flow properties](https://docs.microsoft.com/en-us/azure/data-factory/format-delimited-text#mapping-data-flow-properties) consists of a link pointing back to [the Source transformation doc](https://d

[2020-04-28 20:52] JayaC19 opened #53528 "When Local_Cache is enabled for the app service"
This document states that only D:\home\site and D:\home\siteextensions are cached. One of Microsoft's customers has confirmed that the entire content of d:\home are cached.

Once we remove WEBSITE_LOCAL_CACHE_OPTION Always this settings, we can totally access the folders inside d:\home. Can we validate this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-04-28 20:54] Phatage commented on #52292
So I got it to work! In my experiences a long filepath has caused issues
with Unity HoloLens builds so I copied over the files to a shorter
directory. It did still copy files from the original folder (and succeeded
somehow) but the VS solution was made and then built with no errors.

Really fascinating app as well, very refreshing to see graphics of that
quality in any HMD let alone the HoloLens'

[2020-04-28 20:56] averkinderen opened #53529 "404 page for the aadadminconsent"
Getting a 404 page when I go to

https://dev-api-portal.xxx.com.au/aadadminconsent

![2020-04-29_6-55-18](https://user-images.githubusercontent.com/8144122/80536898-75334880-89e6-11ea-8b7c-0fa566034e1d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c3

[2020-04-28 21:01] mmushatt opened #53530 "Receiving error http://localhost:6420/#error=invalid_request&error_description=AADB2C90205 when using App Reg Preview Blade"
When using the Azure B2C App Registration ( Preview ) blade Application to create my Web API Application, I receive the following error message:

http://localhost:6420/#error=invalid_request&error_description=AADB2C90205: This application does not have sufficient permissions against this web resource to perform the operation

I've completed all the consent per the documentation, but cannot get thi

[2020-04-28 21:01] Grace-MacJones-MSFT commented on #53528
Hi @JayaC19 , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-28 21:10] SaurabhSharma-MSFT commented on #53016
@gregdru I have tested this in my environment and it works as expected and you don't need to pass "type" with Patch operation.  Please find below screenshots -

**Patch API Call**
![image](https://user-images.githubusercontent.com/38112130/80536650-8a14cb00-8957-11ea-834d-6a9460aced20.png)

** User added to Group **
![image](https://user-images.githubusercontent.com/38112130/80537710-59ce2c00-8959

[2020-04-28 21:11] DaFitRobsta opened #53531 "API Changes"
It's not explicitly defined, but will 1st party tools like O365, D365, and Azure AD Connect be automatically updated to support the new Graph API for Azure AD Roles and Azure Resources?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6b9af88-b067-78b0-a482-377a18f72cdc
* Version Independent ID: d8f81029-66c8

[2020-04-28 21:14] SaurabhSharma-MSFT commented on #53530
@mmushatt Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 21:15] SaurabhSharma-MSFT commented on #53531
@DaFitRobsta Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-28 21:17] SaurabhSharma-MSFT commented on #53509
@netresults-scott Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-28 21:17] sayanghosh123 opened #53532 "Moving key vault to different subscription backed by same AAD"
Is anything required when moving a key vault to a different subscription under the same AAD? Does not look like other than than the RBAC rules themselves (where Azure Blueprint can possibly be used).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b544a2-f2c6-4531-6847-3176aef96b30
* Version Independent ID: ad41fb5d-2

[2020-04-28 21:17] helshabini opened #53533 "Azure Container Registry Service Endpoint is not available in all locations where Container Registry is available."
The document says: "Azure Container Registry (Microsoft.ContainerRegistry): Preview available in all Azure regions where Azure Container Registry is available."

However, when running: "az network vnet subnet create --resource-group southafricanorth--vnet-name $vnet--name $subnet --address-prefixes $cidr --service-endpoints Microsoft.ContainerRegistry" if faults with the following error:

Virtual

[2020-04-28 21:20] gkgaurav31 commented on #34650
We could possibly deploy a zipped jar file, in which case, the zip would get extracted and the content (jar) would be placed under wwwroot. Not the best way to do it, but it should work.
We could possibly add a logic in the kudu API to not extract the file when the extension is .jar?

[2020-04-28 21:21] SaurabhSharma-MSFT commented on #53381
@kevin-jing I am closing this as a [duplicate issue](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi/issues/3) and I believe author is already working internally on other issue.

[2020-04-28 21:21] #53381 closed

[2020-04-28 21:24] bowang-666 opened #53535 "Memory is in GiB but table header shows GB"
In the definition it says "Storage capacity is shown in units of GiB or 1024^3 bytes.", however in table header it shows "Memory (GB)". Can we make it consistent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8107f9ea-8781-23b9-744b-5ca2589593f6
* Version Independent ID: c3ea1a2c-27fe-d556-57f5-3760c7e36adb
* Content:

[2020-04-28 21:43] mhopkins-msft commented on #53314
#please-close

[2020-04-28 21:43] #53314 closed

[2020-04-28 21:46] ljunquera commented on #53484
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-android

[2020-04-28 21:54] TravisCragg-MSFT commented on #53533
@helshabini I was able to reproduce this. I have no issues creating a container registry in West Us, but I am unable to create one in SouthAfricaNorth. I am able to create a Container Registry in SouthAfricaNorth with no issues.

I am going to follow up internally to get more information, I will update you as soon as I am able.

[2020-04-28 22:20] MarileeTurscak-MSFT commented on #53503
@fob2000 Thanks for this feedback. I just tested on my authenticator app and can confirm that I could not add Google in the way described. @curtand I made a pull request to remove the Google information from the article but will leave it open for you to look into.

[2020-04-28 22:20] #53503 closed

[2020-04-28 22:20] MarileeTurscak-MSFT commented on #53503
https://github.com/MicrosoftDocs/azure-docs-pr/pull/113123

[2020-04-28 22:23] vatolinrp opened #53539 "Time aggregations are not explained"
&gt;Time Aggregation (Statistic that is run over raw metric values. Supported time aggregations are Min, Max, Avg, Total, Count)
I cannot seem to find separate descriptions for each of these supported aggregations. For me it is not clear what does "Total" mean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e35140-5a

[2020-04-28 22:36] SaurabhSharma-MSFT commented on #52811
@Bibekg001 I have got an update from product team that this is by design and if the email address corresponds to an MSA account, we will use the MSA account for authentication instead of OTP.

[2020-04-28 22:54] yoelhor commented on #53168
This is a known issue. Sorry, but we don’t have this fix coming up in the next while. As a workaround, when you create a social account, add the local account info as well.

[code]

Before you call the technical profile that persists the data. Make sure you call the `CreateRandomUPNUserName` claims transformation. I think you can leave the password empty.

[2020-04-28 22:56] dcmcsl opened #53541 "Authenticate with Managed Identity (MSI)"
For as application running on App Service or similar this would be much more useful that the application Id/key and would seem to be more inline with current guidance around authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7

[2020-04-28 22:58] yoelhor commented on #52943
This metadata is relevant to page version `urn:com:microsoft:aad:b2c:elements:contract:unifiedssp:1.2.0` and above.

[2020-04-28 22:58] timsander1 commented on #52598
Hi @sdg002, your analysis above is correct! The reason we recommend using the ISO 8601 format is because this is the format that GetCurrentDateTime uses in Cosmos DB: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-getcurrentdatetime

If you wanted to use a different date format, that would be fine. The field is indexed in the same way (a string) regardless of the date format you choose

[2020-04-28 22:58] yoelhor commented on #52874
We'll update the doc in the next month

#please-close

[2020-04-28 22:58] #52874 closed

[2020-04-28 23:00] yoelhor commented on #51428
No response I'm closing this issue

#please-close

[2020-04-28 23:00] #51428 closed

[2020-04-28 23:00] yoelhor commented on #51479
#please-close

[2020-04-28 23:00] #51479 closed

[2020-04-28 23:01] elvirk commented on #53452
I did, I removed PS 7 preview and tried again few time and each time I'm getting same results. I tried this running from VSC and from PS 7 but same.

[2020-04-28 23:03] yoelhor commented on #53212
Thanks for bringing this up to our attention. I'm working on this issue and will fix the doc soon.

[2020-04-28 23:06] #26749 closed

[2020-04-28 23:06] msmbaldwin commented on #26749
Hi, @dtec83, @arsalanzpro , and @samueljamkhandi07:  Per our [FAQ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-faq#is-xfs-filesystem-supported):

We have updated our table of supported Linux distros to include SKU; this should make it clear which gallery images are supported, either for both OS and data disk encryption, or for data disk encryption only.  Thank you

[2020-04-28 23:09] MarileeTurscak-MSFT commented on #53066
PG response:

[2020-04-28 23:11] msmbaldwin commented on #31181
@marinnedea we have reword these articles to make it clear which distros are supported, versus on which ADE can be enabled.  Thank you for your suggestions! #please-close

[2020-04-28 23:11] #31181 closed

[2020-04-28 23:13] MarileeTurscak-MSFT commented on #53066
Hope this helps! So as mentioned, the differences are based on the internal region and the b2b functionality. If you have further questions, feel free to reach out to me at AzCommunity@microsoft.com

[2020-04-28 23:13] #53066 closed

[2020-04-28 23:14] malopMSFT commented on #53533
Added a PR for this one
https://github.com/MicrosoftDocs/azure-docs-pr/pull/113130

[2020-04-28 23:19] TravisCragg-MSFT commented on #53533
@helshabini Azure Container Registry Service Endpoint is not available in the South Africa North Region. The docs are being updated to reflect this limit.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-28 23:19] #53533 closed

[2020-04-28 23:24] cipher1729 commented on #53294
Thank you the responses, I am looking for a way to
1) Create a collection inside a database with c# code that is enabled for auto scale (instead of it being a fixed throughput collection). So basically Cosmos DB SDK support
2) Any estimate on when this might be GA?

[2020-04-28 23:29] DaFitRobsta opened #53543 "What permissions do I need to review "Firewalls and virtual networks" on an Event Hub?"
I noticed a behavior, when a user who has read access to an Event Hub, but no access to the virtual networks associated with "Firewalls and virtual networks", they are unable to review the configuration.  Is this because the user doesn't have read access to the virtual networks?  Is this behavior by design?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-04-28 23:35] DixitArora-MSFT commented on #53520
Hi @hochas Thanks for reaching out. We will review and update as appropriate.

[2020-04-28 23:37] DixitArora-MSFT commented on #53515
Hi @JordanSimba Thanks for reaching out. We will review and update as appropriate.

[2020-04-28 23:38] DixitArora-MSFT commented on #53511
Hi @adesmet Thanks for reaching out. We will review and update as appropriate.

[2020-04-28 23:50] MarileeTurscak-MSFT commented on #53233
My contact on the PG said that he believes this cmdlet isn't trying to add 106 permissions, but that the total set of permissions being applied is 106, including everything that already previously existed.  Can you confirm if any of those permissions are new or shouldn't be there?

[2020-04-28 23:52] MicrosoftGuyJFlo commented on #53485
Note out to the PM who owns the feature.

[2020-04-28 23:56] MarileeTurscak-MSFT commented on #53233
It should be possible to do it with any of those methods. I don't know that we have guides on all three though.

[2020-04-29 00:03] MarileeTurscak-MSFT commented on #53049
Yes, you can review service principals. You can use access reviews for group memberships, enterprise applications, and role assignments. https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overview

The audit reference also shows categories for service principals. https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-audit-activities

Ho

[2020-04-29 00:03] #53049 closed

[2020-04-29 00:03] derisen commented on #42720
It seems the screenshots for the sample needs to be updated to reflect the current UI :/ @mmacy.

[2020-04-29 00:05] Mike-Ubezzi-MSFT commented on #53237
@balukantu Can you please clarify the following statement: `I would like to get the latest configuration values without deploying the changes.`

I followed the [Tutorial: Use dynamic configuration in an ASP.NET Core app](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core3x) and with the documented changes to be made to my Azure Applica

[2020-04-29 00:08] Mike-Ubezzi-MSFT commented on #53012
@erkgpatel
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-04-29 00:08] #53012 closed

[2020-04-29 00:09] Mike-Ubezzi-MSFT commented on #53043
@krooole We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 00:09] #53043 closed

[2020-04-29 00:09] Mike-Ubezzi-MSFT commented on #53118
@sandip22490 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 00:09] #53118 closed

[2020-04-29 00:11] pplavetzki opened #53545 "AAD Pod Identity"
Is there any plans to support the AAD Pod Identity to authenticate and retrieve the File Share rather than needing the K8S secret?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da1e-9c86-88fe-170c-5e6aa9230b5f
* Content: [Manually create Azure Files sh

[2020-04-29 00:16] Karishma-Tiwari-MSFT commented on #53490
Can you please share at which step in the document are you seeing this error?

[2020-04-29 00:18] Karishma-Tiwari-MSFT commented on #53500
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 00:20] Karishma-Tiwari-MSFT commented on #53508
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 00:21] Karishma-Tiwari-MSFT commented on #53512
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 00:23] Karishma-Tiwari-MSFT commented on #53514
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 00:23] vikancha commented on #53500
Content updated with commit #113138 into master.

[2020-04-29 00:24] Karishma-Tiwari-MSFT commented on #53500
Thanks @vikancha
@msdnguy Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-29 00:24] #53500 closed

[2020-04-29 00:25] Mike-Ubezzi-MSFT commented on #53123
@npigit This service became generally available March 30, 2018 - [General availability: Global VNet Peering](https://azure.microsoft.com/en-us/updates/global-vnet-peering-general-availability/)

Is there something specific you are looking for?

[2020-04-29 00:27] Mike-Ubezzi-MSFT commented on #53123
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 00:27] #53123 closed

[2020-04-29 00:28] GFoley83 commented on #43620
Hey @SumanthMarigowda-MSFT any update on when this will go GA?

[2020-04-29 00:29] Mike-Ubezzi-MSFT commented on #53260
@RonnieQuan Please keep us posted but as stated by the PG this will work. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 00:29] #53260 closed

[2020-04-29 00:30] Mike-Ubezzi-MSFT commented on #53263
@abhirockzz Please let us know if you have any additional questions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 00:30] #53263 closed

[2020-04-29 00:33] arun2pillai commented on #38069
Hello, I am running into similar issue as well. My web api can be called in Postman but not from ADF web activity
![ADF_web](https://user-images.githubusercontent.com/41971365/80550854-71c0a280-898f-11ea-949c-1e4079eaa76b.JPG)

[2020-04-29 00:52] razvansalajan opened #53547 "The linked sample does not have the 12th step"
The [linked sample](https://github.com/Azure/azure-notificationhubs-android/tree/master/FCMTutorialApp/src/main/java/com/microsoft/notificationhubs/fcmtutorialapp) does not have the 12th step which is the addition of ``FirebaseMessagingService``. It is using instead the [NotificationHandler](https://github.com/Azure/azure-notificationhubs-android/blob/master/FCMTutorialApp/src/main/java/com/micros

[2020-04-29 00:55] Karishma-Tiwari-MSFT commented on #53257
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 00:56] Karishma-Tiwari-MSFT commented on #53298
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-29 00:56] #53298 closed

[2020-04-29 00:56] jaweekes commented on #23766
Over a year later and the document hasn't been updated, but Linux is supported now (as far as I can tell, as the documentation is old).

[2020-04-29 01:00] mj1856 commented on #34826
Not sure if this is new or not, but I was able to achieve this with the following, after setting up functions for dependency injection:

[code]

Then just omit the connection string on the `EventHub` attribute on the function.  It will use the client registered with the given name.

[2020-04-29 01:04] Karishma-Tiwari-MSFT commented on #53327
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-29 01:04] #53327 closed

[2020-04-29 01:12] Karishma-Tiwari-MSFT commented on #53282
A persistent volume represents a piece of storage that has been provisioned for use with Kubernetes pods. A persistent volume can be used by one or many pods, and can be dynamically or statically provisioned.
If you need to share a persistent volume across multiple pods, use Azure Files.

If this is not what you are looking for, please elaborate on your question so that I can help you better.

[2020-04-29 01:19] wesmc7777 commented on #27534
We will likely add or update the current documentation to make this more clear.  The answer given by @krokoko is correct.

After downloading the Azure IoT C SDK, and creating your `cmake` directory, use the following cmake command to prepare the SDK for building and to reference your custom HSM adapter...

```$ cmake -Duse_prov_client:BOOL=ON -Dhsm_custom_lib=/d/azure-iot/azure-iot-sdk-c/cmake/pro

[2020-04-29 01:23] aheld opened #53548 "Where is the documentation for the server side javascript"
This document only links to the integrated query API.  Where are the docs for the more traditional SDK as used in all these examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8b38-6339-48ee7a4c54b3
* Content: [Register and use stored pro

[2020-04-29 01:33] jennifermarsman commented on #53080
I've created a work item for this in Azure DevOps, so it will be addressed in a future sprint.

[2020-04-29 01:37] BharathNimmala-MSFT commented on #53491
@gate502  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-29 01:37] MashaMSFT commented on #52133
Hi @mananshah19 , thank you for your patience! While it's possible to add disks the virtual machine using an ARM template, the SQL VM resource provider does not currently support managing these disks. This means that you will not be able to see or manage these disks on the storage page of the SQL VM resource in the Azure portal.

I hope that helps and please let us know if you have any further que

[2020-04-29 01:37] #52133 closed

[2020-04-29 01:40] BharathNimmala-MSFT commented on #53539
@vatolinrp Thank you for your query, we will be looking into it and get back to you at the earliest.

[2020-04-29 01:41] BharathNimmala-MSFT commented on #53524
@bellomu Thank you for your query, our team will look into and get back to you at the earliest.

[2020-04-29 01:42] francislatulippe opened #53549 "The script to copy a managed disk from one region to another use the wrong query to collect the size of the source disk"
(see https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-upload-vhd-to-managed-disk-cli#copy-a-managed-disk)

It queries the 'uniqueID' where we want the 'diskSizeBytes'

`sourceDiskSizeBytes= $(az disk show -g $sourceRG -n $sourceDiskName --query '[uniqueId]' -o tsv)`

should be

`sourceDiskSizeBytes= $(az disk show -g $sourceRG -n $sourceDiskName --query '[diskSizeBytes]' -o tsv)

[2020-04-29 01:42] BharathNimmala-MSFT commented on #53525
@Adamus2077 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-29 01:44] BharathNimmala-MSFT commented on #53519
@Absoblogginlutely Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-29 01:48] BharathNimmala-MSFT commented on #53522
@Absoblogginlutely Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-29 01:56] joymon opened #53550 "Broken link assess VMware VMs"
The link [ assess VMware VMs,](https://docs.microsoft.com/en-us/tutorial-assess-vmware.md) is returning HTTP 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b83e320-c9a0-204c-dca5-b0ed60ce2470
* Version Independent ID: 8862ff67-2c6e-cb8f-3f8c-2c1f51a37f68
* Content: [Migrate VMware VMs agentless Azure Migrate Serve

[2020-04-29 02:04] JaneYan-2016 commented on #52975
Thanks for the log. We find that during the agent installation, after GC service started, it received a stop signal from the service control. Is there some apps on the machine to prevent new services starting on the machine?

[2020-04-29 02:08] mike-urnun-msft commented on #53529
@averkinderen Thank you for your feedback. Have you tried in the following format? https://APIM-NAME.portal.azure-api.net/aadadminconsent

[2020-04-29 02:13] tetsuyasodo opened #53551 "Modify the resource group name when issuing "az group create" command"
In this tutorial, a command is described to create a resource group first in "2. Create a resource group" section:

[code]

But here, $CLUSTER parameter should be $RESOURCEGROUP.
And if possible, the output following this command also should be modified:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1

[2020-04-29 02:20] TravisCragg-MSFT commented on #53416
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-29 02:20] #53416 closed

[2020-04-29 02:22] grayjeremy opened #53552 "Trigger Sync"
for the last option in trigger sync, "Send an HTTP POST request to https://management.azure.com/..."
does this require the master key?

Does the cli still support this via "az resource invoke-action --resource-group &lt;rgname&gt; --action syncfunctiontriggers..."

We should also comment on whether a strait http GET to the function does this trigger sync, because  it seems to.

Because of a change

[2020-04-29 02:22] jonwbstr opened #53553 "How do I troubleshoot a backup failure?"
When navigating to App Services &gt; Backups there is an "FAQs" section which has the following article that talks about how to view the backup log. However, the instructions provided don't match the user interface.

How does someone troubleshoot a backup failure?

Common backup failures and ways to overcome them
https://go.microsoft.com/fwlink/?linkid=2064827 -&gt; https://azure.github.io/AppServ

[2020-04-29 02:30] ghost opened #53554 "Requirements' Section Windows Server AD Clarification?"
The second bullet under "Requirements" reads: "Windows Server Active Directory in sync with Azure Active Directory". That implies Windows Server AD (i.e., a traditional DC) is *required*, which does not seem to be the case. Azure AD Domain Services alone is sufficient. I received this info from a MSFT SE today and have since successfully deployed WVD accordingly. No DC/no AD Connect, pooled VMs do

[2020-04-29 02:33] TravisCragg-MSFT commented on #40851
@isamllr This requirement still exists. The action is on the doc author to update the doc with this requirement.

[2020-04-29 02:36] jafife commented on #40851
Thanks @TravisCragg-MSFT what's the ETA? We are going through our old items :)

[2020-04-29 02:39] aashishb commented on #53441
Yes, this is a known issue right now and we're evaluating various technical options to enable this feature on UX in a secured manner. Sorry for the inconvenience.

[2020-04-29 02:54] VikasPullagura-MSFT commented on #53461
@williamr21 Any update on the issue?

[2020-04-29 02:55] VikasPullagura-MSFT commented on #53477
@rameshpzen3001 Any update on the issue?

[2020-04-29 02:56] mprentice22153 commented on #53187
Edit made and I think submitted.  Hopefully I did it right.

[2020-04-29 02:56] SnehaAgrawal-MSFT commented on #53553
@jonwbstr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 02:57] VikasPullagura-MSFT commented on #53484
@ljunquera Thanks for your Question.
We are currently investigating and will get back on this.

[2020-04-29 02:57] SnehaAgrawal-MSFT commented on #53547
@razvansalajan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 03:04] gjbdebug commented on #53475
@sandip22490 - are you looking for a site failover solution or something less like should a node go down?

[2020-04-29 03:06] VikasPullagura-MSFT commented on #53489
@swingingsimian
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 03:09] rurounijones commented on #49742
Had a very useful discussion with @hazemelh which will hopefully result in some improvements to the issues I had above. Closing issue.

[2020-04-29 03:09] #49742 closed

[2020-04-29 03:13] PramodValavala-MSFT commented on #34826
@mj1856 While this would ensure you getting the client object using MSI, I believe the [scale controller](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#runtime-scaling) won't be able to access your Event Hub to scale your function app.

If you have tried this on Azure, could you confirm if you **do** see your Event Hub triggered function being triggered?

This would indeed

[2020-04-29 03:25] VikasPullagura-MSFT commented on #53481
@SeryioGonzalez
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 03:26] sandip22490 commented on #53475
Basically, I am looking for typical DR solution. Based on my understanding WVD is global service and Azure manages HA and resiliency of WVD service and it's components. However, VMs associated within host pool are regional. In the event of regional outage, how one can continue using WVD?

[2020-04-29 03:31] VikasPullagura-MSFT commented on #53501
@larsonmpdx
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 03:35] shriazure commented on #52212
@SumanthMarigowda-MSFT - Hi, do you have any update on this? NSG rules for private endpoints are supported or not?

[2020-04-29 03:39] CHEEKATLAPRADEEP-MSFT commented on #53517
@didier-danloy  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-29 03:39] bhuwan-agarwal commented on #53320
Any update on this?

This is blocking my team from doing an urgent POC.

Pretty sure, it’s blocking real world customers as well.

On Tue, Apr 28, 2020 at 15:13, KrishnaG-MSFT <notifications@github.com>
wrote:

--
Regards,
Bhuwan Agarwal

[2020-04-29 03:50] VikasPullagura-MSFT commented on #53513
@jasonyslai
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 03:57] KalyanChanumolu-MSFT commented on #53548
@aheld Thank you for reaching out.

Are these what you are looking for

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-javascript-query-api

[2020-04-29 04:00] SQLSourabh commented on #53146
@sharadrumane could you also share the error message you are getting when using the tools and the version of SSMS or ADS you are using

[2020-04-29 04:09] VikasPullagura-MSFT commented on #53532
@sayanghosh123
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 04:13] CHEEKATLAPRADEEP-MSFT commented on #53481
@SeryioGonzalez  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-29 04:15] ewotawa commented on #53326
Hi @mamccrea! Thanks for your message. I tried one more time, and the function is returning data! Thanks to you and your team for your support.

[2020-04-29 04:15] VikasPullagura-MSFT commented on #53554
@gjbdebug
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-29 04:16] VikasPullagura-MSFT commented on #53554
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-04-29 04:17] VikasPullagura-MSFT commented on #53496
@akenens
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 04:20] VikasPullagura-MSFT commented on #53545
@pplavetzki
Thanks for the feedback! I am checking with internal team on this, will update back on this issue.

[2020-04-29 04:21] VikasPullagura-MSFT commented on #53545
@MicrosoftDocs/aks-pm Can you please add your comments.

[2020-04-29 04:23] ajithkr-ms commented on #52388
@Noutlaw1 : Issue is specific to 2.0.9177.0 and will continue to be available in future builds. Please try with 2.0.9173.0 for now as workaround.

[2020-04-29 04:26] DixitArora-MSFT commented on #53307
@SeaDude Agree. I will create the internal work item for this and will check for Python examples for Azure functions. I don't have the ETA for this for now but will specifically look for Python examples.

For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2020-04-29 04:26] #53307 closed

[2020-04-29 04:28] VikasPullagura-MSFT commented on #53523
@akenens
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 04:28] DixitArora-MSFT commented on #53462
@ggailey777 I have assigned this to content author for further review and update as appropriate.

[2020-04-29 04:34] saugusto opened #53556 "Missing link"
In the Overview -&gt; Scope Permissions in the second paragraph, this sentence "See the instructions in this article for details" does not have a link to the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 810a218a-80a5-2da0-b540-26347f9ef908
* Version Independent ID: 41c2a12f-99b6-0faa-500b-3e4308cd00de
* Cont

[2020-04-29 04:44] CHEEKATLAPRADEEP-MSFT commented on #53556
@saugusto  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-29 04:51] DixitArora-MSFT commented on #53467
@qfyra In this case,Constructor injection is used to make your dependencies available in a function. **The use of constructor injection requires that you do not use static classes.**

[2020-04-29 04:53] KrishnaG-MSFT commented on #53440
@ThairAbdalla Verified and updated the document as required. Thanks.

[2020-04-29 04:53] #53440 closed

[2020-04-29 04:53] slopezv2 opened #53557 "User parameters"
Is there any way to send properties through the consumer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a30aef-5279-acde-6bc2-dc1f2720c179
* Version Independent ID: 5e686a0a-28d4-c339-b185-da96940a980c
* Content: [Send or receive events from Azure Event Hubs using Python (latest)](https://docs.microsoft.com/en-us/az

[2020-04-29 04:58] nishantrajmitra opened #53558 "Share query via link"
It seems a bug to me. Once we share a link of a query to administrators, they click and get the Get Started page and on they click on Get Started option the query editor opens and runs the query.
Questions:
 Can we skip the welcome getting started page?
Please suggest.

Unable to add screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-29 04:58] DixitArora-MSFT commented on #53511
@adesmet Just checking if you have gone through [this](https://github.com/microsoftarchive/msdn-code-gallery-community-s-z/tree/master/Using%20Shared%20Access%20Signature%20(SAS)%20authentication%20with%20ServiceBus%20Subscriptions) and see if it helps.

[2020-04-29 04:59] SwathiDhanwada-MSFT commented on #53558
@nishantrajmitra Thanks for your comment. We will review your issue and get back to you.

[2020-04-29 05:08] DixitArora-MSFT commented on #53515
@JordanSimba Could you explain little more in detail what exactly the ask is ?

[2020-04-29 05:24] timmmay opened #53559 "Other migration use cases"
Is the script in this article able to be used for ADDS migrations to a new subscription?  Such as when switching from PAYG to CSP billing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39deaffe-a3b4-7909-0e9e-10e14f766bf4
* Version Independent ID: edb0ea30-964d-54c6-9589-f233286a8816
* Content: [Migrate Azure AD Domai

[2020-04-29 05:35] AmitavaHazra commented on #53336
@amanmcse,
B2C > Salesforce > Azure AD. Where, Salesforce was added as IDP for B2C and as SP for another Azure AD tenant. - Yes it is my scenario.
Now above scenario also has worked well after configuring Azure AD as IDP again for Salesforce.
Thanks for your time.

[2020-04-29 05:37] blueww commented on #52473
@dckfnuance
The returned number can change with server behavior change, this is not controlled by powershell code. So we don't plan to add this to Powershell doc.

Besides that, the cmdlet calls rest API https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list. In the rest API doc, it will be updated with server behavior.

[2020-04-29 05:37] blackchoey commented on #53359
Do you mean the messages outputted to console using `print()` were not sent to IoT Hub? You need to use Azure IoT SDK to send messages. `print()` just outputted message to console.

[2020-04-29 05:40] v-tawe opened #53560 "All links for Event Hub APIs are 404"
[Service Manager REST API - Resource Manager REST API](https://docs.microsoft.com/en-us/azure/service-bus-messaging/deprecate-service-bus-management#service-manager-rest-api---resource-manager-rest-api)
Resource Manager - Event Hub API Links in following table for are 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-29 05:41] SwathiDhanwada-MSFT commented on #53550
Thanks for reporting this. I have created pull request to fix the broken link and the changes will reflect within 24 hours.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-29 05:41] #53550 closed

[2020-04-29 05:43] VikasPullagura-MSFT commented on #53526
@kevinmkane
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 05:45] VikasPullagura-MSFT commented on #53527
@bendubuisson
Thanks for the Question! Can you share the document url that you are following.

[2020-04-29 05:49] VikasPullagura-MSFT commented on #53543
@DaFitRobsta Thanks for your Question.
One of engineer from Networking area will review your question and get back on this.

[2020-04-29 05:52] VikasPullagura-MSFT commented on #53535
@bowang-666
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 05:53] foramkumar-parekh commented on #53238
@amanmcse do I need to do it through the Azure portal or is there another link/site where I can create a support issue?

[2020-04-29 05:53] AmitavaHazra opened #53561 "LOB application for Azure AD B2C"
1. Does Azure AD B2C support LOB application (header based, windows integrated , Basic form based authentication, SAML 1.1 etc) .
2. For Azure AD using application proxy we can publish on premises application to cloud for user then what is alternative for application proxy in Azure AD B2C if we want to publish on premises app for consumer.

Can any one suggest please.

---
#### Document Details

⚠

[2020-04-29 05:55] JordanSimba commented on #53515
Once I've mounted a file share `myShare` at `/mount`.
In the application can I access the contents of the share at `/mounted/myShare`?

[2020-04-29 05:58] Kaspanitz opened #53562 "Get-AzLog -MaxEvents should be Get-AzLog -MaxRecord"
Looks like MaxEvents is incorrect in the documentation. It should be -MaxRecord.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa5b26-3e6a-38a9-8871-c8b1d3b80a94
* Version Independent ID: 63115d6a-ea00-20d4-90ed-51773c1ab896
* Content: [View Azure Activity log events in Azure Monitor - Azure Monitor](https://docs.mi

[2020-04-29 06:05] sharadrumane commented on #53146
@SQLSourabh i am not getting any kind of error on my SSMS, the version i am using is 15.0.2000.1331

[2020-04-29 06:06] VikasPullagura-MSFT commented on #53551
@tetsuyasodo
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 06:06] VikasPullagura-MSFT commented on #53549
@francislatulippe
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 06:11] alohaninja commented on #52964
@Grace-MacJones-MSFT - thanks for adding a note for DaaS- ad-hoc profiler.! Affirming the change! 🚀

Can you please also [add a reference to the real time service profiler](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-overview#enable-application-insights-profiler-for-your-application) as well? It seem to be the only cross-platform profiler for netcore.

[2020-04-29 06:14] SwathiDhanwada-MSFT commented on #53562
@Kaspanitz Thanks for your comment. We will review your request and get back to you.

[2020-04-29 06:15] Ozzian opened #53564 "Is screen resolution actually collected?"
The documentation states that Application Insights automatically collects "Device information (for example, Browser, OS, version, language, resolution, model)". But according to issue:  https://github.com/microsoft/ApplicationInsights-JS/issues/452 , it has been removed?

If it is collected, where can I see?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-04-29 06:20] zvrba commented on #53334
This is the surprising part that doesn't make sense. Or, rather, I interpreted "user" as any kind of identity ("user" or "service" principal).

From my POV while managing access control, a "user" is a principal that has access to certain resources when it provides a valid token for the resource, and the same holds for a "service" principal. For the purposes of identity and permissions, they behave

[2020-04-29 06:21] JordanSimba commented on #53515
Once I've mounted a file share myShare at /mount.
In the application can I access the contents of the share at /mount/myShare?

[2020-04-29 06:22] basilwong commented on #53204
We are trying to implement via Azure Functions.

[2020-04-29 06:23] YassineSOUABNI opened #53565 "List "Device registration" among prerequisites"
For better clarity, please list
- "Device registration" among the prerequisites as it is one.
- the fact that a device can be registered to only 1 tenant at a time as a Known limitation instead of Known issue
and that 1 device

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4

[2020-04-29 06:28] SadiqhAhmed-MSFT commented on #53522
@Absoblogginlutely Could you please share the screenshot of the error message?

[2020-04-29 06:29] gnsuryan commented on #53510
Thank you @SubhashVasarapu-MSFT for your quick reply.

I had gone through this documentation on configuring multiple web sites on Azure Application Gateway.

In this specific use case, we do not have multiple websites. It is the same web application that is deployed on a dynamic cluster of servers and when we scaleup/scaledown the cluster, new servers are added/removed from the dynamic cluster.

T

[2020-04-29 06:38] BhargaviAnnadevara-MSFT commented on #20737
The workaround that worked for me is to update the `containerNetworkInterfaceConfigurations` property in Network profile properties to an empty list:

[code]

And then I was able to delete the network profile and subsequently the subnet.

[2020-04-29 06:44] SadiqhAhmed-MSFT commented on #53519
@Absoblogginlutely It does appear to be a weird behavior when the Windows Server backup console is launched and it greets you with a message that it is not installed. However, running the command in step 1 fixes the issue then it should be good.
Just an FYI, any behavioral change or issues with Windows Server backup you should be reaching out to Windows Server community for help. We would be glad

[2020-04-29 06:47] iamalexmang opened #53566 "Which regions are Spain and Israel paired with?"
Spain Central already appears on the Global Infrastructure page on https://azure.microsoft.com (specifically, here), but neither Spain nor Israel are mentioned in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5

[2020-04-29 06:49] omersalam commented on #27534
@wesmc7777
Can you elaborate a little more.
First,  There isn't a way to register my device in group enrollment using sample prov-dev-client-sample where i can provide private and public key which i created using C SDKs. Just like in Python SDKs.
You said create an individual enrollment. Proof of possession is not required for individual enrollment.

With this custom HSM update. How do we provide

[2020-04-29 06:50] ShreyasRmsft commented on #43898
Can confirm adding the above 2 lines works.

[2020-04-29 06:55] souravmishra-msft commented on #53334
@zvrba, yeah, I understand. This does create a lot of confusion. Its great to know that the app got into a working state now.

Closing this thread for now.

[2020-04-29 06:55] #53334 closed

[2020-04-29 06:57] PramodValavala-MSFT commented on #53204
@basilwong Glad to hear that! Please feel free to create posts on [MSDN](https://social.msdn.microsoft.com/Forums/azure/home?forum=azurelogicapps) / [SO](https://stackoverflow.com/questions/tagged/azure-logic-apps) if you run into issues with the custom connector, if you intend to create one.

Since there is no doc update required here, we will now proceed to close this thread. If there are furthe

[2020-04-29 06:57] #53204 closed

[2020-04-29 06:59] souravmishra-msft commented on #53484
@mmacy, Can you please have a look into this?

[2020-04-29 07:06] SadiqhAhmed-MSFT commented on #53077
@rvahaver [Capacity planning for replicating VMware VMs and physical servers](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-plan-capacity-vmware) - Use this article to plan for capacity and scaling when you replicate on-premises VMware VMs and physical servers to Azure by using Azure Site Recovery.

Let me know if you have any further questions in this matter.

[2020-04-29 07:07] PramodValavala-MSFT commented on #53560
@v-tawe Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-04-29 07:08] VikasPullagura-MSFT commented on #53541
@dcmcsl
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-29 07:10] oobedan opened #53567 "GuestAgentSnapshotTaskStatusError"
I have found that in my case I hadn't whitelisted in AppLocker the executable in c:\Packages that runs when the snapshot is triggered. It will generate the GuestAgentSnapshotTaskStatusError

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59156518-1b9d-d0bb-5dea-6a88e39150ef
* Version Independent ID: 3a4f2440-52eb-91a0-3

[2020-04-29 07:11] oobedan opened #53568 "GuestAgentSnapshotTaskStatusError"
I have found that in my case I hadn't whitelisted in AppLocker the executable in c:\Packages that runs when the snapshot is triggered. It will generate the GuestAgentSnapshotTaskStatusError

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3159e0-fb4e-ac85-e88d-f085ac54a13f
* Version Independent ID: 1046a441-8210-84a9-2

[2020-04-29 07:15] JordanSimba opened #53569 "Example to show how to read from fileshare"
Following on from the second tip.
Could someone please show an example of how to read from an Azure FileShare in the deployed case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f894a59-0503-d934-947b-723abc207186
* Version Independent ID: aa79b6b4-65e6-c89d-4e2f-e5ec73089a95
* Content: [Use Python and TensorFlow for

[2020-04-29 07:15] hochas commented on #53520
It seems like when I target ES6 in my tsconfig I get errors:

`2020-04-29T07:12:31.483 [Error] Exception while executing function: Functions.PreloadShipment. mscorlib: ReferenceError: regeneratorRuntime is not defined`

I'm packaging with parcel and a custom build script to adhere to the function folder structure.

When I go down to ES5 in my tsconfig it seems to work and my data gets persisted to

[2020-04-29 07:17] npigit commented on #53123
@Mike-Ubezzi-MSFT
Only Expressroute and VPN Gateway are currently supported for Azure SQL managed instance autofailover group. I need to know when Vnet peering will be supported

[2020-04-29 07:22] npigit commented on #53123
@Mike-Ubezzi-MSFT Based on this document, only expressroute and VPN gateway are supported with an Azure SQL Managed Instance AutoFailover group. I need to know when Vnet peering will be also supported

[2020-04-29 07:24] maxvfischer commented on #45700
@nibaccam What is the status of adding this feature? To me it seems a bit strange that this isn't highly prioritized as it is needed when analyzing different models during a hyperparameter search, a crutial part of the DS-workflow. The logged parameters are shown at the top in the MLFlow Tracking Server, both when you're comparing runs and when you're clicking on an individual run.

Do you have an

[2020-04-29 07:25] balukantu commented on #53237
Let's take an example: I have deployed my WebAPI with one of the property "Sentinel"  value to "xxx". Now I would like to change the value of "Sentinel" to "yyy", and, without redeploying my application in Azure I should get the updated value. We can achieve this functionality using Azure App Config dynamic refresh.

Also, I have gone through the sample project that is provided, and below are my o

[2020-04-29 07:26] lgmorand opened #53570 "Handle Windows Nodes reboot"
Windows Nodes are now GA. What would be our official recommandation to handle them for reboot after patching ?

Kured does not support them yet (a PR is open for one year already)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
* Version Independent ID: 12d0be59-8947-e0a2-d73a-8834f2

[2020-04-29 07:31] anthonychu commented on #53569
You should be able to follow [these instructions](https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-mount-files-storage-linux) to mount the file share and change the paths for model.pb and labels.txt to point to where they are mounted (e.g., `/mounted/model.pb`).

We have an item in our backlog to add deploy to Azure and file share instructions to this tutorial. /cc @gga

[2020-04-29 07:34] CHEEKATLAPRADEEP-MSFT commented on #53081
@rwaithaka  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-29 07:34] #53081 closed

[2020-04-29 07:43] JordanSimba commented on #53569
Assuming that `model.pb` is at the root of the FileShare? ... I'll give it another go an let you know!
Thanks for the prompt response btw 👍

[2020-04-29 07:55] MikeSpark opened #53571 "Custom Vision is missing"
According to https://azure.microsoft.com/en-us/services/cognitive-services/custom-vision-service/#overview, Custom Vision is capable to be deployed as container but not included on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575-0d82-484e9c8db0b4
* Version Independent ID: f441d4c5-cd5c-0557-

[2020-04-29 07:59] desmondgc opened #53572 "Read-only permission to view query text"
Without the ability to view query text, Query Performance Insight is not particularly useful. We'd like to allow developers to review top resource-consuming/long-running queries in production but without granting privileged roles like Contributor/SQL DB Contributor. They should not be able to create/manage databases, for example.

It appears as though this is possible using [custom roles](https://

[2020-04-29 08:01] SQLSourabh commented on #53146
@sharadrumane can you please reach out to the Microsoft contact who's been working with you on the SQL database Edge EAP. It might be easier to get on a screen sharing session to understand the behavior.

[2020-04-29 08:04] griffand commented on #52992
Thanks,

I am not seeing anything that has fixed the issue, which is (in fact) a wider issue that I explicitly stated.

The issue I am raising is basically MS has conflated control and vulnerability throughout the documentation of the service.

The doco states that recommendations are categorized by security controls which in actual fact they are not.

For example this  Link <https://docs.microsof

[2020-04-29 08:08] AshokPeddakotla-MSFT commented on #53324
@dbartz Are you still facing this issue? Please double check the prerequisites and Supported Windows versions and make sure you meet all requirements.

[2020-04-29 08:22] desmondgc commented on #53572
For example, here's a custom role that can be used in combination with the built-in "Reader" role:

[code]

[2020-04-29 08:22] BeMor81 opened #53575 "Stating scopes require just the ClientId"
As well as the double slash rule I have also found despite setting an application URI ID the scope has to be set using just the Client ID so {ClientId}/{Scope} e.g. 00000000-0000-0000-0000-000000000000/user_access and api://00000000-0000-0000-0000-000000000000/user_access doesn't work or what ever the URI maybe set to. I've only found this to be the case on some AAD Application Proxies which were

[2020-04-29 08:29] SwathiDhanwada-MSFT commented on #53568
@oobedan Thanks for your comment. We will review your issue and get back to you.

[2020-04-29 08:30] SwathiDhanwada-MSFT commented on #53567
@oobedan Thanks for your comment. There is similar [issue](https://github.com/MicrosoftDocs/azure-docs/issues/53568) raised by you, so we are closing this issue as duplicate

[2020-04-29 08:30] #53567 closed

[2020-04-29 08:32] FMauroy opened #53576 "Script fails with spaces in the workdir"
Hi, a quick note to say that not all paths are quoted in the script, so if you have a space in the work directory, some parts will fail. Maybe a good idea to add a note at the beginning of the doc to use a simple workdir, like "C:\Temp\Certs". Cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869192a9-b222-7355-f5

[2020-04-29 08:33] vbatr commented on #52167
Hi @SubhashVasarapu-MSFT,

I've tried to configure the exposed api on two different application in two different azure subscriptions. Result is always the same - the required permission is not appearing on user consent page.

Some additional configuration I am using:
I have:
- Azure AD application with configured exposed api
- Azure Bot Channel Registration with configured OAuth Connection setting

[2020-04-29 08:39] SnehaAgrawal-MSFT commented on #53234
@Madrawn Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-29 08:39] #53234 closed

[2020-04-29 08:41] jurjenoskam commented on #52344
Hi @Blackmist, while testing I noticed that updating `hbiWorkspace` on on existing workspace doesn't work (which is expected given the other comments), but what was unexpected is that it still fails *silently*. Other resources return an error at ARM template deployment time when you try to change a property that can't be changed. Is it expected to fail silently when trying to change the value of `

[2020-04-29 08:45] neeleshray-msft commented on #53565
@YassineSOUABNI Thank you for your feedback . We will investigate and update the thread further.

[2020-04-29 08:46] neeleshray-msft commented on #53575
@BeMor81 Thank you for your feedback . We will investigate and update the thread further.

[2020-04-29 08:47] Rodrigossz opened #53577 "Missing Information"
Hello! The Data consistency section doesn't clarify one detail. Procedures and triggers are always executed on the primary replica OF THE PRIMARY REGION of the container. This region detail is not mentioned. Tks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5603f3c9-bd73-8433-fc2a-a53f8bdeec90
* Version Independent ID

[2020-04-29 08:47] neeleshray-msft commented on #53561
@AmitavaHazra Thank you for your feedback . We will investigate and update the thread further.

[2020-04-29 08:48] neeleshray-msft commented on #53559
@timmmay Thank you for your feedback . We will investigate and update the thread further.

[2020-04-29 08:49] BeMor commented on #53575
Thanks, sorry I should have added, of course this in turns sets the audience to the client ID rather than the URI which seems to be what is needed.

[2020-04-29 08:55] AndyButland opened #53579 "Missing type parameter when registering service."
I think this part of the sample...

[code]

... should be specifying the type that the service is implementing.  Like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .

[2020-04-29 09:10] qfyra commented on #53467
English is not my primary language, so forgive me if I'm missing something, but I don't understand how the quoted text relates to the issue I'm addressing. While it is certainly true that constructor injection doesn't work with static classes, neither the class that is referred to in the article that this issue points to, nor the class that is suggested in https://docs.microsoft.com/en-us/azure/ar

[2020-04-29 09:16] schuettecarsten commented on #52404
@rtaylor72 make sure your VM as a system-assigned managed identity

[2020-04-29 09:17] SadiqhAhmed-MSFT commented on #53568
@oobedan Could you please elaborate the issue and provide more details how it is impacting your Azure VM backup?

[2020-04-29 09:18] DixitArora-MSFT commented on #53579
Hi @AndyButland Thanks for reaching out. We will review and update as appropriate.

[2020-04-29 09:19] slavizh commented on #52344
@jurjenoskam It is not that property only. I have noticed it with others as well. For me this is a bug as if you cannot change a property proper error message should be thrown.

[2020-04-29 09:21] VikasPullagura-MSFT commented on #53549
@francislatulippe I have updated the doc, changes will go live soon.

[2020-04-29 09:21] #53549 closed

[2020-04-29 09:26] rishabh1896 commented on #52806
@RobMcZagBDS  How did you solve the issue. I'm facing the same issue sending datetime from a file to data flow as '2020-05-05T16:00:00.000Z'. But it throws error file not found at path where as if i choose the same date from dataflow. it works just fine. Can you please help me with it?

[2020-04-29 09:30] BhargaviAnnadevara-MSFT commented on #53564
@Ozzian Thanks for the question! We're investigating this and will get back to you shortly.

[2020-04-29 09:31] VikasPullagura-MSFT commented on #53315
@lgmorand I checked with internal team on this. And team has updated [documentation](https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster) for creation of 4.3 clusters. Can you please check the updated document and try once.

[2020-04-29 09:31] danmi20 opened #53580 "Missing documentation for async operations."
There is no documentation about async operation here, although it's almost always will much faster to use the async implementation in this case. The docs [here](https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus?view=azure-python) does mention the async operations, but these docs are outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-29 09:35] ChiragMishra-MSFT commented on #53172
@cp-bwg I will now proceed to close this issue. Feel free to still comment and tag me if you have any query on the same.

[2020-04-29 09:35] #53172 closed

[2020-04-29 09:38] jeppe742 opened #53581 "More than two triggers as dependencies"
In the article it says that you can maximum depend on two other triggers.
I just tried with 3 triggers as dependencies, which works fine, and in the UI you seem to can add as many dependencies as you like.
Should the note be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e90a49ad-b872-757e-4f63-7fac92327d2b
*

[2020-04-29 09:42] PerFlodin opened #53582 "Finding the correct version of the connector"
How can I determine which is the latest, fully tested and officially endorsed version of the connector?

* On this page: https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector#bk_working_with_connector it says azure-cosmosdb-spark_2.4.0_2.11_1.4.0
* On the GitHub page, https://github.com/Azure/azure-cosmosdb-spark it says azure-cosmosdb-spark_2.4.0_2.11_2.1.2
* On the Maven download page

[2020-04-29 09:51] wesmc7777 commented on #27534
@omersalam Yes, proof of possession is required for signing certs used with group enrollments (clarified in comment above).

Create your enrollment group configured with the certificate that signs your device certs (root CA or intermediate). When DPS encounters an authentication request with a device cert correctly signed by the signing cert used in the enrollment group, it should authenticate it

[2020-04-29 09:51] VikasPullagura-MSFT commented on #53551
@tetsuyasodo Thanks for pointing this out. I have updated the document, changes will go live soon.

[2020-04-29 09:51] #53551 closed

[2020-04-29 10:01] marcinkoperski commented on #50247
Hi. Any update on the GA time plan ? Zone redundancy, private cluster and multiple nodepools features require standard loadbalancer and without outboundType feature SLB require public IP address, which is against our security policy.

[2020-04-29 10:07] townendk opened #53583 "Client Update"
Despite the article stating that admin rights are not needed for installing, we've found that users on enterprise devices are prompted for UAC elevated credentials when an app update is available. We use Intune to handle the deployment of the app, so the 'fix' for us is to simply update the Intune deployment with the latest MSI. Is it possible to subscribe to a notification whenever app updates ar

[2020-04-29 10:07] pellebjerkestrand commented on #52561
Thanks for the reply. While it's clear that `context.done` does take two parameters (it doesn't crash when given two, and the type seems to be correct), it seems to ignore the last when the first is not `null`. It's this behavior that I was hoping is a bug, so that we in the future can return the correct response to the caller while still giving the runtime an error object.

[2020-04-29 10:11] VikasPullagura-MSFT commented on #53570
@lgmorand
Thanks for the feedback! I have assigned the issue to content author to check and update the document with requested details based on your ask.

[2020-04-29 10:12] VikasPullagura-MSFT commented on #53570
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-29 10:20] onurbabat opened #53584 "Deploy ACI"
The below line returns the following error: "tutorial is not defined":
inference_config = InferenceConfig(entry_script="score.py", environment=tutorial-env)

I think the environment variable is not provided correctly and "tutorial-env" has to be replaced with "myenv" which is the environment variable defined right before this line:
inference_config = InferenceConfig(entry_script="score.py", enviro

[2020-04-29 10:26] OffColour commented on #52212
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview

"NSG is not supported on private endpoints. While subnets containing the private endpoint can have NSG associated with it, the rules will not be effective on traffic processed by the private endpoint."

A bit useless without NSGs

[2020-04-29 10:31] VikasPullagura-MSFT commented on #53535
I have updated the document, changes will go live once the PR is approved.

[2020-04-29 10:31] omersalam commented on #27534
Steps

- I created a certificate, upload on portal verified it.
- I created a group enrollment and leaf certificate.
- I have to paste the public pem and private key in custom hsm file? custom hsm file also has *symetric key value and reg name* what is that? After adding all this. Do i have to run this file or something or will get some kind of output ?
Because still prov_dev_sample takes two inpu

[2020-04-29 10:35] RobMcZagBDS commented on #52806
@rishabh1896 In my case I had to stop quoting the timestamp literal in the parameter default.
Try just to have 2020-05-05T16:00:00.000Z without any quoting.

[2020-04-29 10:36] JordanSimba commented on #53569
worked as expected.
`/mounted` maps to `myShare`.
Looking forward to the documentation.
I'm happy for this to be closed if the documentation is being tracked some other way.

[2020-04-29 10:37] JordanSimba commented on #53515
answered at [#53569](https://github.com/MicrosoftDocs/azure-docs/issues/53569).

[2020-04-29 10:37] #53515 closed

[2020-04-29 10:37] ManuelGWT opened #53585 "Git and CMake not corrent anymore."
there are a view things not working with this example.
wiringPi and build seems to have new places at git also i get this CMake error: CMake Error: The source directory "/home/pi" does not appear to contain CMakeLists.txt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773d535b-29c4-20ca-d260-1d6c20fc43dd
* Version Ind

[2020-04-29 10:38] rishabh1896 commented on #52806
@RobMcZagBDS  I get "Parameter stream  has parsing errors" as error for passing @pipeline.TriggerTime.

[2020-04-29 10:40] Absoblogginlutely commented on #53519
I would just recommend that this step is added to the documentation in the appropriate place.

[2020-04-29 10:40] AshokPeddakotla-MSFT commented on #53576
@FMauroy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 10:44] wesmc7777 commented on #27534
A real device should have the public cert pem and private key in secure storage on the device. For testing purposes you can paste a test cert in the custom HSM example as previously mentioned.

The custom HSM example can used with all [attestation mechanisms](https://docs.microsoft.com/en-us/azure/iot-dps/concepts-security#attestation-mechanism) including symmetric keys.

You build the custom HSM

[2020-04-29 10:48] RaymsDev opened #53586 "Code exemple is broken"
ViewData["Me"] = me;

Cannot resolve symbol 'me'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a27a6a-864a-a37e-e3fd-714f01ba7102
* Version Independent ID: 4b14dfa1-7c7c-e727-b586-7f0abc9bcd57
* Content: [Call a web api from a web app - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-direc

[2020-04-29 10:50] VikasPullagura-MSFT commented on #53378
@TomGeske, thanks for sharing more details.

@ezYakaEagle442 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-29 10:50] #53378 closed

[2020-04-29 10:51] RobMcZagBDS commented on #52806
@rishabh1896 sorry it looks like some error I had at some point, but I do not see any obvious cause to pint you to a solution.

A few questions to clarify your situation:
Is the parameter a pipeline or dataflow parameter?
Is it being passed as pipeline expression or as dataflow one?
With or without expression checkbox?
If you pass just 1 parameter with the

[2020-04-29 10:56] rishabh1896 commented on #52806
![Screenshot 2020-04-29 at 4 25 38 PM](https://user-images.githubusercontent.com/19855673/80588486-14336100-8a36-11ea-82ce-9ae47da7db07.png)
@RobMcZagBDS attached a screenshot

[2020-04-29 11:05] RohitMungi-MSFT commented on #53333
@viju2008 We hope the above suggestions helped you to check if a similar functionality as speech adaption can be used with speech SDK and LUIS.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-29 11:05] #53333 closed

[2020-04-29 11:06] RobMcZagBDS commented on #52806
@rishabh1896 one thing that I am sure is that timestamp format is different between pipeline and dataflow.
In pipeline: 2020-05-05T16:00:00.000Z
In dataflow: 2020-05-05 16:00:00
So you can not just pass and use a timestamp from its string representation.
Inside the dataflow you have to take the string from the pipeline and convert it with dataflow functions.

Not yet sure of the working of the exp

[2020-04-29 11:08] RohitMungi-MSFT commented on #53362
@rajkumar-xilinx We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-29 11:08] #53362 closed

[2020-04-29 11:13] navidarry commented on #32325
This issue is accoured from me on linux openSUSE development with docker .Net veresion

[2020-04-29 11:13] ram-msft commented on #53584
@onurbabat Thanks for the question. We will update you shortly.

[2020-04-29 11:15] ram-msft commented on #53571
@MikeSpark Thanks for the feedback. We will update you shortly.

[2020-04-29 11:16] artsheiko opened #53588 "Update package.location"
When package is packaged, location format is not like the format described.
"The location returned is in the format &lt;acrinstance&gt;.azurecr.io/package:&lt;imagename&gt;." might be replaced with "The location returned is in the format &lt;acrinstance&gt;.azurecr.io/package@sha256:&lt;hash&gt;".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-04-29 11:18] TNLion commented on #44030
I got this working by making sure the script was made an executable and manually doing mount -a

/<path_to_blobfuse>/mount.sh </path/to/desired/mountpoint> fuse _netdev

However when I restart the server it doesnt load the data and I have to run it manually again.

Any ideas why it wont load after a restart

[2020-04-29 11:19] galrito opened #53589 ""createaccount_link" string is not working"
Trying to change the text for the Sign Up link, by using the createaccount_link StringID, produces the following error while uploading the policy on the portal:

[code]

Other IDs, like "createaccount_intro" or "button_signin" are working. Is this a typo on the documentation or a bug on the Azure AD B2C?

Thank you for your help.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-04-29 11:20] SadiqhAhmed-MSFT commented on #53519
@dcurwin To help accommodate this requirement.

[2020-04-29 11:21] artsheiko opened #53590 "What is <imagename> ?"
package.location returns a string in the format &lt;acrinstance&gt;.azurecr.io/package@sha256:&lt;hash&gt;.

What is &lt;imagename&gt; mentioned in "Replace &lt;acrinstance&gt; and &lt;imagename&gt; with the values from returned package.location earlier" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5111706-3d4f-f4

[2020-04-29 11:30] rvahaver commented on #53077
If would be nice if you had a small page under Physical to Azure disaster recovery called “Plan capacity” like you have for VMware and HyperV that pointed you back to the VMware page since it is if you do run VMware in your organization you would not even think to look there for physical servers.  It is also not very obvious on that page that you are also including physical servers.

Can you run t

[2020-04-29 11:37] SwathiDhanwada-MSFT commented on #53365
@tfitzmac Can you please provide your insights on this issue?

[2020-04-29 11:38] SadiqhAhmed-MSFT commented on #53142
@dimilider Closing this issue for now. Please tag me in your reply and provide more details if you need further assistance in this matter.

[2020-04-29 11:38] #53142 closed

[2020-04-29 11:41] ricohomewood opened #53591 "How to add additional Performance counters in InsightsMetrics table like Perf table"
Hello,

This doc seems to be missing information on how to add additional performance counters in the new VMInsights `InsightsMetrics` table like you can do the the now legacy Perf table that is configured in Log Analytics Data source blade.

If Azure Monitor for VMs it the new way to monitor the performance of a VM, how can we add / get the extra performance counters that are on the VM into this

[2020-04-29 11:41] saitejakothamasu opened #53592 "Webapp not showing data in the graph"
I tried commenting 'return' in chart-device-data.js as suggested in the issue #52495. It worked for the localhost but still not able to visualize the data from azure web app. Please comment to the earliest. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independe

[2020-04-29 11:48] ivanignatiev opened #53593 "PrivateEndpointNetworkPoliciesFlag and PrivateLinkServiceNetworkPoliciesFlag explication"
Hello,

I cannot find any documentation about what `PrivateEndpointNetworkPoliciesFlag` and `PrivateLinkServiceNetworkPoliciesFlag` exactly do and why it should be set to  `Disabled `?

`Add-AzVirtualNetworkSubnetConfig` cmdlet does not say anything ether.

Thank you for any information!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-04-29 11:49] Absoblogginlutely commented on #53522
Screenshot included.
![Screenshot - 20200428-154212](https://user-images.githubusercontent.com/21364480/80592779-fa6e2b80-89ed-11ea-8ad4-10fafa4f33ad.png)

[2020-04-29 11:58] aquibqureshi26 opened #53594 "Virtual Network Gateway Route Propogation"
Hi Team,

Below Article points to the current document.
https://azure.microsoft.com/en-in/updates/disable-route-propagation-ga-udr/

But I'm unable to find significance or details about Virtual Network Gateway Route Propagation.
About this feature when i enable or disable on UDR

Can you please update the doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-29 12:01] AshokPeddakotla-MSFT commented on #53197
@AndresDevelop Could you please confirm if you are still seeing this error? Can you please retry with the above suggestions and update?
@nberdy Are there any breaking changes done recently?

[2020-04-29 12:04] jominne commented on #45574
Same error here. I hope the issue will be solved soon!

[2020-04-29 12:08] msfreaks commented on #53469
same issue here

[2020-04-29 12:14] jimhill10 commented on #28117
This is getting very frustrating, almost as much as the angst in opening a ticket to address it.  I have no other means than to do that.  They will walk through the same steps but I can only hope it gets escalated to engineering and then fixed.  I cannot enable MFA for one user no matter what I do. There is no means provided to do it in Powershell, even by using that user's credentials.  Darn frus

[2020-04-29 12:14] Blackmist commented on #52344
Hi @jurjenoskam and @slavizh, I will ping the engineering team to ask on this. If they're able to provide feedback, I can document the behavior. But I cannot request any changes for this behavior. GitHub issues in the azure-docs repo are for documentation feedback only, not break/fix or feature requests.

If you want to provide feedback on the product, use https://feedback.azure.com/forums/257792-

[2020-04-29 12:15] SwathiDhanwada-MSFT commented on #53562
Thanks for the feedback. We have updated the document accordingly and the changes will reflect soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-29 12:16] #53562 closed

[2020-04-29 12:18] SwathiDhanwada-MSFT commented on #53591
@ricohomewood  Thanks for your comment. We will review your request and get back to you.

[2020-04-29 12:27] williamr21 commented on #53461
@VikasPullagura-MSFT Below is the url
https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide

[2020-04-29 12:28] jonclyde opened #53595 "Firewall requirements"
Are firewall requirements accurate? This looks inconsistent with the troubleshooting agent issues page : https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows-troubleshoot. It's not to ideal allow connectivity to/from *.blob.core.windows.net when we want to restrict outbound connectivity; which I think means every customer storage account in Azure would be included, as well a

[2020-04-29 12:32] jatinrai5 commented on #53355
Mike- Thanks a lot for your prompt response. Doc enhancement or a new doc addressing those issues would be best, Current doc does a good job solving a specific problem and that is valuable. There could be second doc linked to the first one, which addresses extensions (2 points in my original message).

Would be highly appreciated if you can update me here once those pieces have been addressed.

[2020-04-29 12:35] VikasPullagura-MSFT commented on #53461
@williamr21 Thanks for sharing the document details.
We are currently investigating and will get back on this.

[2020-04-29 12:40] sai-manoj-kumar opened #53596 "What exactly is a variable and where and how can I create and assign values?"
I didn't find any information or explanation about what is a variable and how it can be set in the documentation. Please point me to the right link if I am missing something? Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d03bfc0e-6636-8847-8a22-1bf280d26b6e
* Version Independent ID: ea462c47-798f-981b-85fd-377

[2020-04-29 12:49] Rookian opened #53597 "RunAs=CurrentUser is not supported in .NET Core"
Please update the documentation and make clear that the connection string option "RunAs=CurrentUser" is not available in .NET Core.

Also make clear that "Azure AD Integrated Authentication" is therefore also not available in .NET Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17824597-7e9b-4ca5-12f7-310b0ce4bdf4

[2020-04-29 12:50] jimhill10 commented on #28117
I figured out a solution!  I am not sure if these are the exact steps I did.  But the root cause was previously having a conditional access policy previously applied to that user.

-Make sure the CA policy for MFA is not enabled.  Mine was the Legacy rule, "Baseline policy: Require MFA for admins (Preview)"
-Disable the MFA for that user in the Office 365 Admin.
https://account.activedirectory.win

[2020-04-29 12:58] irishun opened #53598 "Levels of Entity and Adding the Descriptor"
Hi, thank you for the tutorial!
I have questions regarding labeling the Entity:

1. If I add a top-level entity later, should I delete the labeled lower-level entities, which are used in the schema od the top-level entity?

2. If I add entities as descriptors to an intent/entity, should I keep the lower-level components as well?

Example:
Top-level Entity: FindPerson, which has schema of Name and

[2020-04-29 13:13] Nikos-K commented on #24239
Any updates on this?

[2020-04-29 13:14] rameshpzen3001 commented on #53477
I am sorry I am not sure what document you are referring for. But you can refer this link where exactly I am trying to create a new Image using Packer.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/build-image-with-packer.md

![image](https://user-images.githubusercontent.com/59162929/80599890-43070280-8a49-11ea-895f-d3a2d51af5cc.png)

If you see above

[2020-04-29 13:14] irishun commented on #53598
rephrase:
2. If I add entities (say A) as descriptors to an intent/entity (say B), should I keep A's lower-level components in the descriptors of B as well?

[2020-04-29 13:15] Negwood opened #53599 "Registering the IdentityExperienceFramework and ProxyIdentityExperienceFramework apps through the App registrations (Preview) causes the example custom flows to work only for sign up, but not authentication"
The problem itself is that after registration, the redirect is done properly and the user is redirected with a token. When an attempt is made to sign in with the same user, though, a message 'Invalid username or password' is displayed and the user does not get authenticated. I am certain this was with the correct credentials, as using a wrong email or a wrong password was returning different error

[2020-04-29 13:17] jmprieur commented on #53586
Thanks for the heads up @RaymsDev. I've proposed a PR to fix it.

[2020-04-29 13:17] jmprieur commented on #53586
#please-assign jmprieur

[2020-04-29 13:17] adityabalaji-msft commented on #53014
Thank you for your feedback. We have now added a line regarding Azure Files support: https://docs.microsoft.com/azure/backup/configure-reports#supported-scenarios

[2020-04-29 13:17] adityabalaji-msft commented on #53014
#please-close

[2020-04-29 13:17] #53014 closed

[2020-04-29 13:17] jmprieur commented on #53586
#assign-to jmprieur

[2020-04-29 13:18] jmprieur commented on #53586
#assign jmprieur

[2020-04-29 13:19] AshokPeddakotla-MSFT commented on #53592
@PRMerger16 This issue is duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/52271.
Since this is working locally and not working for web app, I would suggest you,
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get

[2020-04-29 13:19] #53592 closed

[2020-04-29 13:19] adityabalaji-msft commented on #53015
We have now added a section on V1 schema https://docs.microsoft.com/en-us/azure/backup/backup-azure-diagnostics-mode-data-model#v1-schema-vs-v2-schema that the article links to.
Please let us know if this resolves the issue

[2020-04-29 13:19] pierluigilenoci commented on #23789
@SayakMukhopadhyay up to version v2.0.0-rc3 it was fully supported. I used the latest RC with version 1.15 and 1.16 and worked pretty well. I don't know which operation you need to do but for sure 99,99% of normal usage is covered.

[2020-04-29 13:20] AshokPeddakotla-MSFT commented on #52271
Since this has been redirected to support, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-29 13:20] #52271 closed

[2020-04-29 13:22] yogspatel commented on #53469
same issue here

[2020-04-29 13:25] RohitMungi-MSFT commented on #53588
@artsheiko Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-29 13:27] AndresDevelop commented on #53197
@AshokPeddakotla-MSFT yes, I am still seeing this error
`curl -X POST \
  https://Mill5Devp.azure-devices.net/twins/myfirstdevice/methods\?api-version\=2018-06-30 \
  -H 'Authorization: SharedAccessSignature sr=Mill5Devp.azure-devices.net%2Fdevices%2Fmill5id&sig=eJ81GW%2B%2BSb%2BorF3cZIp7GwuzuuK6wCGRvAdXOjPje0E%3D&se=1588170203' \
  -H 'Content-Type: application/json' \
  -d '{
    "methodName": "

[2020-04-29 13:27] #53586 closed

[2020-04-29 13:29] tfitzmac commented on #53452
Can you run this command and list the results:

Get-InstalledModule -Name Az.Resources -AllVersions | select Name,Version

[2020-04-29 13:29] RohitMungi-MSFT commented on #53590
@artsheiko Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-29 13:35] shudson302 commented on #26079
We are developing an enterprise cloud based app based completely on Azure services.  We need this functionality.  Will this be added? @MarileeTurscak-MSFT @prashanthyv

[2020-04-29 13:35] Riff451 opened #53601 "Please provide details on using a test phone number and a test code"
It would be nice to have more info on the use of these metadata keys helpful for debug and testing purposes: allowTestNumberPassthrough, testPhoneNumber, testCode. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5173ffe-41ca-249e-4331-ca29a5146a40
* Version Independent ID: 0296752c-388f-ecff-2a79-f80e2f8c5d42
*

[2020-04-29 13:47] AmitavaHazra commented on #53599
I am also facing same issue (sign up is done, but not able to sign in) but it was working properly few hours back.

[2020-04-29 13:47] oh001738 opened #53602 "Can't connect to Windows Virtual Desktop"
When I try to connect to WVD after following all steps on the tutorial I got the error: "We couldn't connect to the Remote Desktop Gateway because of an orchestration error. If this keeps happening, contact your network administrator for assistance.". I don't find any further information about how to proceed or fix it.

[2020-04-29 13:50] amanmcse commented on #53561
@AmitavaHazra Please find the answers inline.

1. Does Azure AD B2C support LOB application (header based, windows integrated , Basic form based authentication, SAML 1.1 etc) .
No, Azure AD B2C only supports SAML2.0, Oauth and OpenID Connect as of now.

2. For Azure AD using application proxy we can publish on premises application to cloud for user then what is alternative for application proxy in

[2020-04-29 13:53] amanmcse commented on #53415
@glomaga I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any questions.

[2020-04-29 13:53] #53415 closed

[2020-04-29 13:58] VikasPullagura-MSFT commented on #53557
@slopezv2
Thanks for your Question! We are currently investigating and will get back on this.

[2020-04-29 13:59] AmitavaHazra opened #53603 "Adaptive experience for local account"
currently I have below claim provide settings.

    &lt;ClaimsProvider&gt;
      &lt;DisplayName&gt;Local Account SignIn&lt;/DisplayName&gt;
      &lt;TechnicalProfiles&gt;
        &lt;TechnicalProfile Id="login-NonInteractive"&gt;
          &lt;Metadata&gt;
            &lt;Item Key="client_id"&gt;a79860a9-b110-438b-8ce4-c38d3b6e4157&lt;/Item&gt;
            &lt;Item Key="IdTokenAudience"&gt;65273

[2020-04-29 13:59] FlorianBorn71 commented on #52292
That's great to hear! And thanks for sharing the workaround - I will probably add something to the troubleshoot section.
Regarding your other question: Unfortunately Remote Rendering does not run on HL1, and there are also no plans to support it.

Cheers!

[2020-04-29 14:01] dkypuros opened #53604 "Trouble with the pull secret option"
--pull-secret '$(&lt; pull-secret.txt)'

The behavior of this command has been altered by the following extension: aro
Invalid --pull-secret.

Help and Man pages are sparse...
* az aro create --help
* man az aro create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Indepen

[2020-04-29 14:01] VikasPullagura-MSFT commented on #53572
@desmondgc
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-29 14:03] VikasPullagura-MSFT commented on #53566
@iamalexmang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-29 14:03] VikasPullagura-MSFT commented on #53566
@jpconnock
Can you please check and add your comments on this doc update request as applicable.

[2020-04-29 14:04] VikasPullagura-MSFT commented on #53577
@Rodrigossz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-29 14:04] VikasPullagura-MSFT commented on #53577
@timsander1
Can you please check and add your comments on this doc update request as applicable.

[2020-04-29 14:08] cp-bwg commented on #53172
It worked. Thanks for the support here guys.

On Wed, Apr 29, 2020 at 4:36 AM ChiragMishra-MSFT <notifications@github.com>
wrote:

--
Brad Gregory
ComparePower.com

[2020-04-29 14:14] velsietis opened #53605 "Analytics now called Logs in Application Insights Overview"
This guide says "Select **Analytics** from the Overview page of an Application Insights application." but in my view of the Azure Portal it's now "Logs" that you select from the Overview page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c1f2f2-da35-02b0-b59d-1e1f4d982904
* Version Independent ID: f27d9109-3172-742

[2020-04-29 14:22] AmitavaHazra opened #53606 "Sample Rest API and Complete combined steps for this tuitorial"
Can we have a sample Rest API and using that is there any doc to follow this exercise. This doc is just information based but how can we have a complete sample exercise like other doc in this Azure AD B2C series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdba62df-08c7-b16a-fae4-16e549f31ec7
* Version Independent I

[2020-04-29 14:25] mariojacobo commented on #53404
@kgremban ok, understood. thank you

[2020-04-29 14:25] #53404 closed

[2020-04-29 14:29] rkttu commented on #53469
Temporarily, you may bypass this problem by removing the AKS extension preview when you are creating a new AKS cluster.

1. Run `az extension remove --name aks-preview` first.
2. Create an AKS cluster with the command like `az aks create --resource-group $RESGROUP --name $CLUSTER --node-count 2 --enable-addons monitoring --kubernetes-version $K8SVER --vm-set-type VirtualMachineScaleSets --load-bal

[2020-04-29 14:31] Anshulsr77 opened #53607 "Is there any way to disable Monitoring Agent remotely?"
We no longer have the access of the machines we want to disable the agents from. We cannot regenerate keys as  we have many VMs added to the same workspace. Data is still getting logged and we are paying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2be9-0eba-b68a-e3e266e7949c
* Version Independent ID: c931a

[2020-04-29 14:32] aheld commented on #53548
I'm looking for a more detailed set of documentation.

You have this for the integrated javascript: https://azure.github.io/azure-cosmosdb-js-server/
and this for the client SDK: https://docs.microsoft.com/en-us/javascript/api/overview/azure/cosmos-readme?view=azure-node-latest

[2020-04-29 14:42] henriquebelotto commented on #45852
Hello,

I'm sorry, but I still don't see much details about the GetClaims.
Just this line "GetClaims - Indicates that the orchestration step reads the input claims."

Is it possible to provide more details about it?

Thank you

[2020-04-29 14:44] henriquebelotto commented on #52953
Hello!

Thank you very much!!
This helps a lot!
You can close this ticket.

[2020-04-29 14:45] vboyev-MSFT opened #53609 "Not a very scalable way of onboarding"
If i had more than 2 or 3 servers, this would not be a fun exercise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c343e6b1-fa7e-575c-f8eb-9c6a4fdff65b
* Version Independent ID: 50a6c349-2096-f3eb-6720-3016d315ace9
* Content: [How to integrate Windows Admin Center with Azure Security Center](https://docs.microsoft.com

[2020-04-29 14:47] dkypuros opened #53610 "Resource Quota prevents successful cluster deployment."
The default setting for "resource quota" doesn't allow a new Azure user to complete these instructions without engaging Azure support. The ticket process for Sev C cases, takes multple days.

Requesting documentation is updated (prerequisites) to reflect the need to request increase in resource quota or remove the arbitrary requirement. See error below:

Deployment failed. Correlation ID: XXXXXXXX

[2020-04-29 14:49] thekwilson opened #53611 "Make it clear that this is for Inbound traffic only and does not impact Outbound traffic from the App Service"
In Christina Compy's announcement blog post on this she makes it clear that this does not affect traffic outbound from the App Service.  https://azure.github.io/AppService/2020/03/16/Public-Preview-of-Private-Link-on-App-Service.html   That is important and should be noted here as well for completeness and to avoid confusion on what Private Link provides for App Services.

---
#### Document Detail

[2020-04-29 14:50] mmacy commented on #45852
@yoelhor @JasSuri Can we add some additional usage detail around the **GetClaims** OrchestrationStep element? If you post it here I can update the doc.

Cc: @msmimart

[2020-04-29 14:51] AmitavaHazra commented on #53561
If your application is federated with B2C, you can use the standard Azure AD application proxy or WAP (Web Application Proxy) server for public to private address translation to access your LOB app

 - If I understood correctly we need to onboard/publish on premises app using application proxy in Azure AD B2C directory (AAD premium and basic licensed one) ?
Is it same like the way we use applicati

[2020-04-29 14:52] AmitavaHazra commented on #53561
above question is pointed to @amanmcse . please comment

[2020-04-29 14:53] #53308 closed

[2020-04-29 14:55] Antiohne commented on #53303
@skmkzyk When doing some research myself on this topic I found an Azure CLI based solution here: https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/url-path-map/rule?view=azure-cli-latest

[2020-04-29 14:55] mcalnd70 opened #53612 "Spaces and rename changes are breaking"
Worth pointing out here, if you use SPACES in any of the elements that may get used in the ARM templates, this can be fatal when trying to substitute parameters in the Azure DevOps pipeline. There is no syntax checking on ARM export, that I can see, so if you have a connection defined as "Azure Blob 1" then it will put that in the ARM template with spaces.

Recommended you DON'T use spaces anywher

[2020-04-29 14:56] SadiqhAhmed-MSFT commented on #53522
@Absoblogginlutely You are correct, per the documentation it is supported. However, there does seem to be some issue with the platform (Windows or Azure). Recommend you to raise a [technical support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) for further investigation. The ticket enables you to work closely with the support engin

[2020-04-29 14:57] arijit-nanda opened #53613 "Unable To Create VM through PowerShell"
New-AzVm `
    -ResourceGroupName "myResourceGroup" `
    -Location "East US" `
    -VirtualNetworkName "myVirtualNetwork" `
    -SubnetName "default" `
    -Name "myVm1" `
    -AsJob

Unable to create vm with this script,but i have already created resource group,vnet,subnet,pip through powershell,kindly help me regarding this.

# Variables for common values
$resourceGroup = "Kolkata-1"
$location

[2020-04-29 15:02] shueybubbles commented on #30383
Along the same lines - is there a way to clearly delineate the differences between the threat model for a client application compared to the threat model for a service/web application? Which stencils are relevant for modeling an EXE vs modeling a cloud service?

[2020-04-29 15:05] Ericgre commented on #53611
hello, thank you for the feedback, but it's already in the doc :
_Private Endpoint is only used for incoming flows to your Web App. Outgoing flows will not use this Private Endpoint, but you can inject outgoing flows to your network in a different subnet through the VNet integration feature._
Eric

[2020-04-29 15:06] JasSuri commented on #45852
More specifically: Specifies that the orchestration step should process claim data sent to Azure AD B2C from the relying party via its `InputClaims` configuration.

[2020-04-29 15:06] CeciAc opened #53616 "error: Cannot read property 'promise' of undefined"
@PapillonZ commented on [Wed Apr 29 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/652)

When following the tutorial on VSCode and Azure Machine Learning I get an error when I try to create a computer node: error: Cannot read property 'promise' of undefined. This prevents me from creating a computer node in VSCode with Azure Machine Learning. I use the MINST example.

---
#### Doku

[2020-04-29 15:12] thekwilson commented on #53611
Sorry about that Ericgre, my bad, I scanned the document for outbound not outgoing.   This came up in a research point for a customer.   You can close this issue.

[2020-04-29 15:12] #53611 closed

[2020-04-29 15:13] dckfnuance commented on #52473
I still think that the following document should be updated to indicate the limitation. Otherwise people would think the code below will update the ACL for all the child items which may not necessarily be true.

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell#manage-access-permissions
[cid:image003.jpg@01D61E17.353BF050]

From: Wei Wei <notifica

[2020-04-29 15:13] jluk commented on #53545
The integration of AAD pod identity as a managed addon is on the aks roadmap
https://github.com/Azure/AKS/issues/1480

Please use that issue as a tracking item.

For any further requests to the aad pod identity project itself, please direct them here
https://github.com/Azure/aad-pod-identity/issues

[2020-04-29 15:15] ROSMITHJ-MSFT opened #53617 "Data Collection Paragraph Clarification"
Data collection
"Azure Monitor collects all specified performance counters at their specified sample interval on all agents that have that counter installed. The data is not aggregated, and the raw data is available in all log query views for the duration specified by your subscription."

Shouldn't this read that the data is available for the duration specified by your Log Analytics Workspace?

--

[2020-04-29 15:15] mamccrea commented on #53326
Excellent! I'm glad we were able to help. I will now close this issue. If you have any further questions, please feel free to reopen the issue.

#please-close