[2018-09-30 16:55] danmyhre opened #15870 "Workspaces"
Is there any guidance on when new workspaces should be setup?  What are the considerations for segregating into multiple workspaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521c75f5-5d71-10b5-df71-a8a6c0204a2e
* Version Independent ID: 4343bd59-d34e-8d99-a723-292fc27b60bd
* Content: [Log Analytics FAQ](https://d

[2018-09-30 17:07] nicholasriviera opened #15871 "Attempting to add "optionalClaims" to manifest of a v2 registration application throws "Encountered an internal server error""
Adding an "optionalClaims" element to the manifest and clicking "Save" on a v2 registration application throws an "Encountered an internal server error". Seems that v2 app registrations don't support this (see https://social.msdn.microsoft.com/Forums/expression/en-US/e7107dca-cfd1-4c73-8465-15e04b3a1b71/cant-save-manifest-with-optionalclaims-on-app-registration-portal#72aee219-66ec-4ebf-a548-918d2

[2018-09-30 17:19] danmyhre opened #15872 "Changing the Workspace for Security Center"
The options available in the portal do not match this documentation.  In face, in the portal, there is no option to change the workspace that security center uses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content

[2018-09-30 17:46] mattbriggs commented on #15786
@dipito31 This update was is included in the release notes for 1710 (https://docs.microsoft.com/azure/azure-stack/azure-stack-update-1710). The text was relevant to that update. Our current releases version is 1808. 1809 will be out shortly. #please-close

[2018-09-30 17:55] CarlRabeler commented on #15863
@MNF thank you - PR in progress - https://github.com/MicrosoftDocs/azure-docs-pr/pull/53828

[2018-09-30 18:10] MarileeTurscak-MSFT commented on #15864
@fullenw1 I can see this clearly in both modes. I have assigned the issue to the content author, @barbkess , to look into.

[2018-09-30 18:14] KaiWalter commented on #6500
@rhummelmose - Many build VM had to die to deliver us this [information: check my StackOverflow How To post](https://stackoverflow.com/questions/52578135/how-can-i-add-managed-service-identity-to-a-container-hosted-inside-azure-vm-sca)
I guess the key is the dynamic determination of the gateway address inside the container

[2018-09-30 18:15] MarileeTurscak-MSFT commented on #15861
Hi @wensdayh-s I would suggest setting IsOrganizationDefault to $true, as suggested in the post.

The official documentation states to do this and it will not work if it is set to false. https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

[2018-09-30 18:16] MarileeTurscak-MSFT commented on #15861
For product questions and non doc-related issues, we direct all queries to the MSDN forums. If you have further questions I suggest posting there and we will gladly follow up with you. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-09-30 18:16] #15861 closed

[2018-09-30 19:07] Mimetis opened #15875 "Docker post build step failed"
Hello team;
Great work on this tutorial, but I've encountered some difficulties.
Seems Docker post build fails.
Looking at the logs, it seems Docker si not installed in the Jenkins VM.

In Jenkins Options, I set everything possible around Docker to make it installed, but it does not work as expected.

from the VM itself I install Docker using a quite simple  `sudo apt install docker.io` and it wor

[2018-09-30 19:11] TomArcher commented on #15875
@Mimetis Thanks for bringing this to our attention.
@puicchan PC, could you look into this Jenkins/Docker issue?

[2018-09-30 21:05] agrebenyuk commented on #14717
Hi @tfitzmac , thanks for your reply. Am I understanding you right that if I want to validate CDN profile with endpoints I need to supply CDN profile ResourceId only to validation api and it will validate all underlying endpoints as well ? If yes, then this probably needs to be documented somewhere as it does not seem to be obvious and thanks again - it would be very beneficial if you come back wi

[2018-09-30 21:49] JimDaly opened #15878 "Why isn't this topic in the TOC?"
Looks like you are splitting this long topic into three separate topics.
Wouldn't it be better to remove this and redirect to the quickstart-v1-add-azure-ad-app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b28c3b2e-d661-682d-df1b-68d941016e87
* Version Independent ID: b2ebf2b0-f9d3-2583-4e64-54fa083b5a57
* Content:

[2018-09-30 23:37] laultman opened #15879 "Lacks Complete Examples - Confusing"
Overall the content in this topic is fairly clear. The largest complaint I have is the lack of examples for the more complex uses. How do you actually call a function method and pass Bindings in the call. Your code examples only brush across the more in-depth topics.  Because there are no end to end examples it is very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-09-30 23:46] laultman opened #15880 "Lacks enough detail to be useful"
You discuss bindings but only show simple bindings and only show the function code (partially). Nothing really works as there is no examples of calling the functions. Practically useless except for the most basic function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Ind

[2018-09-30 23:58] MarileeTurscak-MSFT commented on #15871
@nicholasriviera I have escalated this issue to the product team for them to look into. @CelesteDG can you confirm if this is the case? The documentation indicates that these are supported in v 2.0

[2018-10-01 01:00] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe Any updates? Did the above explanation help?

[2018-10-01 01:12] laultman opened #15881 "Binding at runtime, Example Needed"
In the section titled: Binding at runtime there is an nice discussion that you can do this but has not sample code to show how. The bullet item: "Pass in an input parameter Binder binder or IBinder binder." clearly indicates that the calling app MUST pass in something in the call. NOWHERE in this entire topic contains an example of calling a function with an Imperative binding. For most non-trivia

[2018-10-01 01:26] dtechie opened #15882 "Python leaf device: TLS handshake failed., System.IO.IOException: Channel is closed when trying to connect to transparent gateway"
This is a follow up on closed issue #14965 raised by krokoko.
&gt;&gt;&gt;
Hello @sergaz-msft
The leaf device is not on the same machine than the edge device (2 different physical devices). I didn't try with other languages yet, i'll try with python.

Ok I will create another ticket and post the link here. Thank you for the support ! :)
&gt;&gt;&gt;

Using python scripts, I'm getting "error:1416F0

[2018-10-01 02:18] ehandani commented on #11095
Hi, is there any update on this? I still get echoed responses upon sending chat.

[2018-10-01 02:38] newtack opened #15883 "Mac Support"
Can you make Cosmos DB emulator available for the Mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/local-

[2018-10-01 03:59] SaurabhSharma-MSFT commented on #15769
@WeidongShen  I believe you can create a VPN gateway and can RDP it from another VM in the same VNet.  However, I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&pr

[2018-10-01 04:58] biren1234 commented on #10258
I not able to authenticate Azure file using AD authentication

[2018-10-01 05:12] sahilpnckr123 commented on #15812
Thank you so much @TravisCragg-MSFT

[2018-10-01 05:22] dcbrown16 opened #15884 "Update link"
"Azure App Service Deployment Credentials" should point here:
https://docs.microsoft.com/en-us/azure/app-service/app-service-deployment-credentials
I tried to edit but it won't let me submit a PR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID: cb469cf8-43e5

[2018-10-01 05:31] brijrajsingh opened #15885 "DIGITS server won't start"
I am trying to start the digits server as a service. I am ssh'ed in to the DSMV machine and running the digits server using this command
`sudo systemctl start digits`
The command runs without any error but when I check the status for the same using the command `sudo systemctl status digits` I see that the server is not started. What is it that I might be missing here
`azureuser@dlvm-linux:/dsvm/to

[2018-10-01 06:14] limjianan opened #15886 "Anyone test this?"
I am sorry, I am trying to follow this in and out but I think I can't get this configured correctly. When configured wrongly, it also very hard to troubleshoot. PingAccess is not offering any support. can we have a simple test case to make sure it is working properly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9dd

[2018-10-01 07:14] AndyButland opened #15887 "Error in calculating truncated_probability"
With the line as provided:

[code]

I get an error of:

[code]

Looks like the line should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Custom Vision S

[2018-10-01 07:29] peterlil opened #15888 "Discrepancy compared to pricing page for D(s)v3 series"
On the [pricing page](https://azure.microsoft.com/en-gb/pricing/details/virtual-machines/linux/) it says:
**D2-64 v3 latest generation**
D2-64 v3 instances are the latest hyper-threaded generation of general purpose instances. D2-64 v3 instances are based on the 2.3 GHz Intel XEON ® E5-2673 v4 (Broadwell) processor, and can achieve 3.5 gigahertz (GHz) with Intel Turbo Boost Technology 2.0. D2-64 v

[2018-10-01 07:41] baaaron opened #15889 "Unable to edit reports since content packs are now apps"
Power BI only provides the AAD reports as an app where it is not possible anymore to edit reports - how can I edit/get reports based on AAD data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb954f67-e65e-9bbe-701e-de1eafe8e26f
* Version Independent ID: 39d9b1d9-8074-12c7-7a04-fb9d545fdb04
* Content: [How to use the

[2018-10-01 07:46] Molotch commented on #15049
After a bit further diggning and rereading the article the Avro schema is apparently Microsoft.ServiceBus.Messaging.EventData and the payload is a byte[] stored in the Body field. I guess that answers my question, all payloads are supported.

[2018-10-01 07:56] AnilKongariMSFT commented on #14497
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 07:56] #14497 closed

[2018-10-01 08:04] rsrinivasanhome opened #15890 "section What password policy is used for local accounts in Azure AD B2C? needs update"
The answer to this question mentions that we can change the default password policy by updating the password policy
of the Azure AD associated to the Azure B2C resource ?  Well it is not clear in the documentation and also we have tried
and not been able to do it.  Can we get some detailed steps on how to change the local password policy of the B2C tenant ?

Please refer to this stackoverflow post

[2018-10-01 08:07] akx commented on #15282
Still the same thing – no response from any of the endpoints I can think of:

[code]

[2018-10-01 08:16] Molotch opened #15891 "Avro specification version"
For compability reasons downstream it would be interesting to know what Avro specification version serialization is targeting and what libraries are used.

As a sidenote an officially supported Avro library for .NET is sorely missed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
*

[2018-10-01 08:30] h28669 commented on #15646
I found this is the standard behavior of Azure Table service. Properties with null values are not stored.
https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-the-table-service-data-model

"The Table service does not persist null values for properties. When querying entities, the above property types are all non-nullable. When writing entities, the above property types are all n

[2018-10-01 08:39] ArvidBaa opened #15893 "'pip install --upgrade azureml-sdk[notebooks,automl]' doesn't work with zsh shell on Mac"
When I try to install `azureml-sdk` with the extras `[notebooks,automl]` as instructed, I only get the message `no matches found: azureml-sdk[notebooks,automl]`. If I try without the extras, the installation finishes without issues.

If I switch back to bash instead of zsh, the installation goes without issues. Is this an issue with zsh or with the Azure ML SDK?

---
#### Document Details

⚠ *Do n

[2018-10-01 08:52] berviantoleo commented on #10926
I see https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#use-powershell tell it can modify MFA using

[code]

But, when I want to Disabled using `$st.State = "Disabled"`. It show error.

[code]

How I should disabled the MFA using Powershell?

[2018-10-01 09:07] Shallaman opened #15894 "TraceWriter and CreateResponse issues"
The code example provided does not work for me using the inportal editor

TraceWriter could easily be replaced by ILogger manually but the CreateResponse method wont compile.

2018-10-01T09:06:23.255 [Error] run.csx(27,16): error CS1501: No overload for method 'CreateResponse' takes 2 arguments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-10-01 09:29] rohancragg opened #15895 "Error running Notebook and change in Notebook Activity settings GUI"
Following this tutorial to the letter, I get an error:

`Could not parse request object: Expected 'key' and 'value' to be set for JSON map fields base_parameters, got 'Key: "input"' instead.`

I also note that the GUI for Notebook Activity I'm seeing is now different to what's show in the tutorial.

Under 'Create a Pipeline': https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using

[2018-10-01 09:43] PumpkinClarinnet commented on #15418
Hey Karishma, any updates on this?

Thanks.

[2018-10-01 10:03] pebbledavec opened #15896 "gpg: no writable keyring found: eof ?"
When installing azcopy on Ubuntu, you'll probably need to run apt-key as root (i.e. the line should read "sudo apt-key adv --keyserver packages.microsoft.com --recv-keys EB3E94ADBE1229CF"), else a "gpg: no writable keyring found: eof" error may be shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c

[2018-10-01 10:24] michael-damatov opened #15897 "SDK 3.2.176 installation broken"
The Service Fabric Cluster SDK 3.2.176 cannot be installed by the Web PI: it fails to install the Service Fabric Runtime 6.3.176 (downloaded file signature is not valid)

Full log file is attached.
[webpi11.txt](https://github.com/MicrosoftDocs/azure-docs/files/2433570/webpi11.txt)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-10-01 10:30] KhaledJemni opened #15898 "Missing information - Ocp-Apim-Subscription-Key autocomplete"
You should add a part to show how to add the API to products to have the subscription key added in an automatic way. It's not clear here, and people who are not familiar with the portal will get lost in it.

Add a screenshot of the product menu, then click on Add, choose your API , and save. This way you will have the subscription key autocompleted.

---
#### Document Details

⚠ *Do not edit this

[2018-10-01 10:47] sahilpnckr123 opened #15899 "CAN'T Register to AZURE WAN"
Refer to issue #15812

Actually i reviewed all the powershell commands and tried it also but i couldn't find a single powershell command to add wan feature.

https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal

[2018-10-01 10:51] Anmolgan81 opened #15900 "How can we create same database in azure sql as in onprem sql server"
I have 200 databases in my onprem sql server How can I automate the Creation of all those databases in azure sql, currently the DMS does not do this and ask for databases to be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f62d-4bfb-

[2018-10-01 10:53] Anmolgan81 opened #15901 "I cannot see the online migration utility in the DMS?"
Is there any reason for this, as I cannot see the online migration utility in my DMS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f62d-4bfb-d6eee57c8b4a
* Content: [Use the Azure Database Migration Service to perform an online migration of

[2018-10-01 11:34] jevgenij-martynenko commented on #14105
@vasivara-MSFT any news on this?

[2018-10-01 12:06] akshitjain commented on #15642
Are these ports 65503-65534 correct?
I whitelisted these ports but the health was still failing.
Have the ports changed?

[2018-10-01 14:01] bhpat opened #15905 "Are there any attributes of the cache-folder that are not supported"
I believe update might be necessary for "Are there any attributes of the cache-folder that are not supported?". I do not believe Reparse points, including DFS links and junction points are supported for MARS File/Folder Backup

Encrypted
De-duplicated
Compressed
Sparse
Reparse-Point. **Add Including DFS links and junction points.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-01 14:03] abhiramani-iptiq opened #15906 "Using our own SSL instead of Lets Entrypt"
Hi
for using lets encrypt we are following this steps based on this documentation.
Steps to use Lets Encrypt
1)install cert manager
2)create cluster issuer object
3)Create certificate object and point to cluster issuer created
4)Create ingress and point to Cluster issuer created

what would be step to use our own SSL
as First step we have created tls secret kubectl create secret tls secretname --c

[2018-10-01 14:29] NeighborGeek opened #15907 "Duplicate bullet point"
Under Supportability, the first bullet point has 3 sub points under it.  Sub points 1 and 3 appear to be identical, with both reading: "Using conditional access policies for Azure MFA Service your support staff can add a user to a group that is excluded from a policy requiring MFA."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-01 14:37] NeighborGeek commented on #15907
After adding this comment, I went ahead and edited the content myself and created pull request #15908 to fix this.  Thanks!

[2018-10-01 14:37] #15907 closed

[2018-10-01 14:47] AnalyticJeremy commented on #15632
Hi, @dumnovnz.  Can you please elaborate a bit?  As far as I know, Azure Data Factory does not directly support R.  Instead, you use ADF to call other Azure services (like Azure ML Server).  Is there a use case that I'm over-looking?

[2018-10-01 14:50] timdbowden opened #15909 "Performance limitations"
Hi there, what are the performance limits on this? We are hitting "Reached maximum number of concurrent runs per pipeline" running from Blob Storage to Azure SQL Server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Co

[2018-10-01 14:59] MicahMcKittrick-MSFT commented on #15888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 15:00] MicahMcKittrick-MSFT commented on #15897
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 15:01] MicahMcKittrick-MSFT commented on #15906
Thanks for the question! We are investigating and will update you shortly.

[2018-10-01 15:08] justcallmetrell commented on #15765
@yuwzho Thanks.

Here are the results:

[root@awx awx]# ansible --version
ansible 2.6.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Jul 13 201

[2018-10-01 15:12] #12052 closed

[2018-10-01 15:14] juliocesarprieto commented on #13704
yes, in Java

[2018-10-01 15:19] YutongTie-MSFT commented on #15887
@AndyButland
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 15:23] danjenglish opened #15910 "Deployment Mode"
One thing I would include in this documentation that is extremely important is the Deployment Mode. It isn't mentioned, but it is included in the script, but "complete" most like should never be used. "Incremental" is most likely the setting that someone would use or possibly just "validation". "Complete" will actually wipe out the resource group and replace it with what is defined in the ARM temp

[2018-10-01 15:31] JoeDavis10 commented on #15818
I'm sorry, it appears that I was unclear.  It appears that according  to the [doc](https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-list-usages), the section should be written exactly as follows:

# Monitor database size
az sql db list-usages \
	--name mySampleDatabase \
	--resource-group myResourceGroup \
	--server $servername

[2018-10-01 15:32] easkerov opened #15911 "Unable to access NSG flow logs using account with Owner role"
I have a resource group with IAM Owner role assigned to Azure AD account which I am using. I have NSG deployed within this resource group and when I try to configure flow logs for this NSG I am getting "Access Denied. You do not have access" error, however, according to documentation, Owner role is more than enough to configure flow logs for NSG: https://docs.microsoft.com/en-us/azure/network-watc

[2018-10-01 15:43] JoeDavis10 opened #15912 "Bug in sample script 2"
I was unclear in my previous report #15818, my apologies.  It appears that according  to the [doc](https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-list-usages), the section should be written exactly as follows:

# Monitor database size
az sql db list-usages \
	--name mySampleDatabase \
	--resource-group myResourceGroup \
	--server $servername

As currently written

[2018-10-01 15:50] sergaz-msft commented on #15845
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-01 15:53] davidmu1 commented on #15822
@JamesTerHark Thank you for your feedback. Yes, the first step under Configure Azure AD as an identity provider in your tenant should be 'Make sure you're using the directory that contains your Azure AD B2C tenant (fabrikamb2c.onmicrosoft.com) by clicking the Directory and subscription filter in the top menu and choosing the directory that contains your tenant.'

@MarileeTurscak-MSFT Thank you for

[2018-10-01 15:54] gzepeda commented on #8837
Hello. No updates on this issue? It is happening for me as well.

[2018-10-01 15:55] jeffgilb commented on #15845
@DaveEM I'm not sure I understand this question. The ASDK should only use a total of two IPs from your network--the ASDK host computer and the NAT VM. Only one NIC should be enabled on the host machine. What machines are pulling DHCP IPs from your network?

[2018-10-01 16:01] bandersmsft commented on #15729
@Tulkis Here's the info I got from the Cloudyn engineering team:

CSP subscriptions are discovered automatically after Cloudyn reads the CSP usage data. So no action is required for a new CSP subscription, except wait for the data to get refreshed.

Adding a new account used for web direct accounts.

#please-close

[2018-10-01 16:04] sergaz-msft commented on #15882
Hello @dtechie and thank you for your feedback!
Since in your scenario it was running before, can you please [recreate the certificates](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#prerequisites) and let us know the result?

Thanks!

[2018-10-01 16:08] Tulkis commented on #15729
@bandersmsft for the moment I still cannot see it but I'll wait for it.
Thank you.

[2018-10-01 16:08] #15729 closed

[2018-10-01 16:10] MicahMcKittrick-MSFT commented on #15713
@wy193777 thanks for that feedback!

@iainfoulds for reference.

I will close this specific one out for now. If you have additional issues or suggestions just let us know :)

[2018-10-01 16:10] #15713 closed

[2018-10-01 16:10] MicahMcKittrick-MSFT commented on #15762
@maxal1917 I will close this out for now. If you have additional questions just let me know.

[2018-10-01 16:10] #15762 closed

[2018-10-01 16:11] MicahMcKittrick-MSFT commented on #15801
Thanks @BharatNarasimman!

I will close for now. If you have additional questions just let us know.

[2018-10-01 16:11] #15801 closed

[2018-10-01 16:11] VikramPendse opened #15913 "Create a QnA Bot - Step 5 - No QnA Maker template available"
As per the Step 5 in "Create a QnA Bot" section, the QnA Maker template not seems to be available in Azure portal. It just says "QnA Bot
Create a question and answer bot based on Frequently Asked Questions (FAQ) documents or product manuals." However Azure portal shows only Basic and Echo templates for C#. Same for node.js option. Need clarity on the template.

---
#### Document Details

⚠ *Do not

[2018-10-01 16:12] ArvidBaa opened #15914 "Notebook: Unclear instructions on how to upload sample images to Azure Blob Container"
To complete the example notebook, there is an instruction to 'Get samples images and upload to Datastore'. There is, however, no instructions on where to actually upload the sample images to an Azure Blob Container. There are a few links to instructions on _how_, but not to _where_. It would be useful if the guide could be a little more detailed on that matter. Where is the Datastore? I have multi

[2018-10-01 16:12] VikramPendse commented on #15913
![qnaissue](https://user-images.githubusercontent.com/18698652/46301044-d7d22180-c5c2-11e8-8dd5-e6f340dbb88c.PNG)
Attaching screenshot from Azure Portal

[2018-10-01 16:13] rwhitcomb-nc commented on #8837
Please fix this bug.  It is not possible to work around it without using the Azure Portal UI, which makes it a blocking issue for anyone trying to use this command for automation.

[2018-10-01 16:15] gzepeda commented on #8837
Did not work for me. It is throwing an authentication error trying to use the URL generated on the Azure Portal.

` HTTP Status Code: 403 - HTTP Error Message: Server failed
to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.`

[2018-10-01 16:16] abhiramani-iptiq opened #15915 "Install not working"
Hi
after installing kubelet.keep getting error in my logs.

time="2018-10-01T15:25:05Z" level=error msg="Pod watcher connection is closed unexpectedly" namespace= node=virtual-kubelet-virtual-kubelet-windows-eastus2 operatingSystem=Windows provider=azure

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-01 16:26] lmoxiel opened #15916 "How do I back up Azure file storage? (UPDATE: Snapshots)"
We can take snapshots of Azure File shares to make point in time backups .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b4c16f-e4ec-d093-8435-f1c4252b4612
* Version Independent ID: b56c07db-b3d2-e20f-57f6-fa90546af418
* Content: [Azure Storage migration FAQ](https://docs.microsoft.com/en-us/azure/storage/common/sto

[2018-10-01 16:28] MicahMcKittrick-MSFT commented on #15867
@rahulrai-in can you please provide a reference doc you are following so I can better assist? Otherwise, I suggest reaching out to our community on [Stack Overflow](https://stackoverflow.com/) for troubleshooting assistance.

[2018-10-01 16:31] michael-damatov commented on #15897
No, I do not have any installation of the SF SDK.

According to the logs, the installer tries to download the file (MicrosoftServiceFabric.6.3.176.9494.exe) with the invalid signature. I've tried to remove the downloaded file, but the installer downloads it again.

[2018-10-01 16:45] MicahMcKittrick-MSFT commented on #15897
@michael-damatov got it. Can you raise this issue directly to the SF team?

https://github.com/Azure/service-fabric-issues/issues

They use this repo to track and fix bugs. They also have access to the SDK packages so can apply a fix if needed.

[2018-10-01 16:47] MicahMcKittrick-MSFT commented on #15906
@abhiramani-iptiq to confirm, are you looking to use a self signed SSL Cert?

[2018-10-01 16:49] MohitGargMSFT commented on #15886
@limjianan Thanks for your feedback! We will investigate and update soon on it.

[2018-10-01 16:50] msilinda opened #15918 "Link to the PowerShell Modules to modify configuration settings"
Can you please add under Additional Resources the links to the PowerShell Modules and commands that would allow us to modify these AWS Enterprise Application settings, like the commands to modify the Provisioning Automatic properties, and to generate new Metadata, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd

[2018-10-01 16:51] MohitGargMSFT commented on #15889
@baaaron Thanks for your feedback! We will investigate and update soon on it.

[2018-10-01 16:52] MohitGargMSFT commented on #15890
@rsrinivasanhome Thanks for your feedback! We will investigate and update soon on it.

[2018-10-01 16:53] ChipClark commented on #15673
any thoughts?

[2018-10-01 16:54] MohitGargMSFT commented on #15907
@NeighborGeek Thanks for helping to improve our content quality.

[2018-10-01 16:54] Karishma-Tiwari-MSFT commented on #15883
@newtack Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 16:55] MohitGargMSFT commented on #15918
@msilinda Thanks for your feedback! We will investigate and update soon on it.

[2018-10-01 16:56] Karishma-Tiwari-MSFT commented on #15885
@brijrajsingh Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-01 16:57] Karishma-Tiwari-MSFT commented on #15898
@KhaledJemni Thanks for the feedback. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-01 16:59] AnilKongariMSFT commented on #15884
@dcbrown16  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 16:59] Blackmist commented on #15893
Hi @ArvidBaa , zsh sees the [ and ] characters and thinks that you're trying to use its globbing feature. To get the command to work with zsh, add `noglob` before the command. So `noglob pip install --upgrade azureml-sdk[notebooks,automl]`.

I'll talk to the writers and see if we can come up with a note, but everything is going to be tested with the 'default' shells of bash (Linux, UNIX, Mac) or c

[2018-10-01 17:02] Karishma-Tiwari-MSFT commented on #15899
@sahilpnckr123 Since you already have an issue open regarding this, we would recommend continuing the discussion with the engineer on this issue. https://github.com/MicrosoftDocs/azure-docs/issues/15812.
I will close this issue now.

[2018-10-01 17:02] #15899 closed

[2018-10-01 17:04] Karishma-Tiwari-MSFT commented on #15905
@bhpat Thanks for your feedback. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-01 17:06] Karishma-Tiwari-MSFT commented on #15915
@abhiramani-iptiq Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 17:06] douglaslMS commented on #15910
@danjenglish Dan, we added a line on Friday about selecting Incremental mode. This will be published today. I still have to add a warning NOT to pick Complete mode. I have to run the wording by the PM and CSS first. I expect that the warning will be added by tomorrow. Thanks!

[2018-10-01 17:06] douglaslMS commented on #15910
#in-progress

[2018-10-01 17:09] Karishma-Tiwari-MSFT commented on #15866
@chaholl Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-01 17:11] Karishma-Tiwari-MSFT commented on #15869
@ashuthinks Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-01 17:12] chetanku commented on #10326
To make it work I had to Grant Permissions( Home
Default Directory - App registrations - AppName - Settings - Required Permissions - Grant Permission) in the azure portal for the server app which is a Web app / API app type. My initial understanding was this step is necessary only for the client application which is a native app type. Is this how it is supposed to be done?

[2018-10-01 17:15] bhpat commented on #15905
Hi,

Please see below -
https://docs.microsoft.com/en-us/azure/backup/backup-azure-file-folder-backup-faq#are-there-any-attributes-of-the-cache-folder-that-are-not-supportedbr
The following attributes or their combinations are not supported for the cache folder:
Encrypted
De-duplicated
Compressed
Sparse
Reparse-Point

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, October 1,

[2018-10-01 17:17] douglaslMS commented on #15909
@timdbowden Azure Data Factory limits are documented here: [Data Factory limits](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#data-factory-limits). Maximum concurrent runs per pipeline is currently 100.

[2018-10-01 17:18] Karishma-Tiwari-MSFT commented on #15418
@PumpkinClarinnet The issue has been assigned to the author @cynthn to update the doc. Thanks.

[2018-10-01 17:19] abhiramani-iptiq commented on #15906
Not self signed. Real SSL from certificate authority

Abhijit Ramani | Cloud Infrastructure DevOps Engineer | ASSISTANT VICE PRESIDENT | iptiQ Americas L&H
iptiQ Americas Inc. | 175 King Street, 10504 ARMONK, UNITED STATES (USA)
Direct: +1 914 828 8397 Fax: +1 914 828 7397 Email: Abhijit_Ramani@iptiq.com<mailto:Abhijit_Ramani@iptiq.com>

From: Micah [mailto:notifications@github.com]
Sent: Monday,

[2018-10-01 17:20] Karishma-Tiwari-MSFT commented on #15905
@bhpat Thanks for sharing the document url. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2018-10-01 17:29] douglaslMS commented on #15491
@Anded We're talking about the contents of the _folderPath_ property of the Custom Activity, correct? [Custom activity](https://docs.microsoft.com/en-gb/azure/data-factory/transform-data-using-dotnet-custom-activity#custom-activity)?

[2018-10-01 17:34] MicahMcKittrick-MSFT commented on #15906
@abhiramani-iptiq got it. I have not personally used that CA before but the steps should be essentially the same as the let's encrypt doc with the exception of pointing to the QuoVadis instead of let's encrypt.

I would suggest you start by looking into the Kubernetes documentation on using TLS certs

https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

From there you could also reach

[2018-10-01 17:34] #15906 closed

[2018-10-01 17:36] mike-urnun-msft commented on #15894
@Shallaman Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-01 17:37] SaurabhSharma-MSFT commented on #15872
@danmyhre Which options you are not getting on the portal?  I am able to see the other workspaces available under "Default Workspace Configuration".  Please find below the screenshot -
![image](https://user-images.githubusercontent.com/38112130/46305239-c3137080-c565-11e8-817b-159e7e8f4a06.png)

Have you created any other log analytics workspace other than the default created by Security Center.
P

[2018-10-01 17:39] MicahMcKittrick-MSFT commented on #15915
@abhiramani-iptiq I ran through this doc but did not run into any issues.

Are you running the commands in Azure Cloud Shell or on a local instance of CLI?

[2018-10-01 17:41] VireshMathapati13 opened #15919 "Link is not valid"
Hi,

"the script" link from Update target VM encryption settings section is not valid.
Can you please check this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5add-7c591680bf7c
* Content: [Configure replication for Azure disk encryption

[2018-10-01 17:41] abhiramani-iptiq commented on #15915
Azure Cloud Shell

Abhijit Ramani | Cloud Infrastructure DevOps Engineer | ASSISTANT VICE PRESIDENT | iptiQ Americas L&H
iptiQ Americas Inc. | 175 King Street, 10504 ARMONK, UNITED STATES (USA)
Direct: +1 914 828 8397 Fax: +1 914 828 7397 Email: Abhijit_Ramani@iptiq.com<mailto:Abhijit_Ramani@iptiq.com>

From: Micah [mailto:notifications@github.com]
Sent: Monday, October 01, 2018 1:40 PM
To: Micros

[2018-10-01 17:43] michael-damatov commented on #15897
Issue reported: https://github.com/Azure/service-fabric-issues/issues/1296

[2018-10-01 17:45] TravisCragg-MSFT commented on #15786
@dipito31 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 17:45] #15786 closed

[2018-10-01 17:57] prara06 opened #15920 "Need Examples"
1. Can you add few service endpoint examples on how to add for sql, storage account.
2. What are the default / baseline thresholds recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1facbcdc-5bf4-2036-e4a1-661d7c2d53ef
* Version Independent ID: 5f1985fa-c239-9d51-f27c-2f323fe2799e
* Content: [Network Performan

[2018-10-01 18:00] SaurabhSharma-MSFT commented on #15918
@msilinda AFAIK this is currently not possible using Power-Shell.
@jeevansd Can you please provide your inputs on the same.

[2018-10-01 18:00] ggailey777 commented on #15894
@Shallaman thanks for reporting this. @mike-urnun-msft we have an internal work item [(1344518)](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1344518) open to track this required update from **TraceWriter** to **ILogger**. It looks like we also need updates for CreateResponse [(1351590)](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1351590). Since we are track

[2018-10-01 18:01] TravisCragg-MSFT commented on #15900
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-01 18:02] TravisCragg-MSFT commented on #15901
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-01 18:03] #15894 closed

[2018-10-01 18:04] douglaslMS commented on #14604
#please-close

[2018-10-01 18:05] douglaslMS commented on #14950
#please-close

[2018-10-01 18:07] ysripath opened #15921 "sample application mismatch - provisioning_client/samples/prov_dev_client_sample/prov_dev_client_sample.c"
I don't see the provision in the sample application "prov_dev_client_sample" for Symmetric Key attestation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f5a0aa-b8b7-c330-d342-973c72ec1328
* Version Independent ID: e4df1e6a-83ac-4469-8a58-dddac952e24e
* Content: [This quickstart shows how to use a symmetric key to p

[2018-10-01 18:08] Anded commented on #15491
That is correct.

[2018-10-01 18:09] #14604 closed

[2018-10-01 18:09] jetsten opened #15922 "Article Clashes with MSFT reccomendation to Not Use Forward Proxies and SSL Interception?!!"
IS this even a valid recommendation these days? Microsoft specifically now says to not Forward Proxy and do SSL interception, and violates Service Agreement:

Microsoft does not recommend using third-party traffic redirection or inspection devices, or any other network solutions that decrypt, inspect, or take protocol-level or content-level action on Office 365 user traffic.

https://support.micro

[2018-10-01 18:12] SnehaGunda commented on #15883
@newtack this is a feature request, Cosmos DB UserVoice is tracking this feature. In order for us to prioritize the request, can you please vote here: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and

[2018-10-01 18:12] randydover opened #15923 "vCenter Server Question"
Is there a way to run the Azure Migrate tool if the organization is using an ESXi host without having a vCenter Server installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2369d635-5ccf-92f1-b534-e2dce47113a1
* Version Independent ID: e3567682-a600-4e20-6d72-f03e025c1e4f
* Content: [Discover and assess on-premises

[2018-10-01 18:12] bganapa opened #15924 "Instruction for silent install of AzCopy"
Could you please add instructions for installing the AzCopy? Is there any other way to install  other than MSI on windows?  If it is only thru MSI, please add instructions with msiexec and the needed options

[2018-10-01 18:15] SnehaGunda commented on #15772
@tiny-dancer as Mike mentioned, this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-samples shows the .Net sample to perform CRUD operations on data stored in Azure Cosmos DB SQL API account. You can also find Java, Python and Node.js samples with the dropdown on the page.

[2018-10-01 18:15] SnehaGunda commented on #15883
#please-close

[2018-10-01 18:15] SnehaGunda commented on #15772
#please-close

[2018-10-01 18:15] msangapu commented on #15648
Thanks @amtrived1 and @XanderM1960 for the feedback.  The quickstart is not intended to consider custom apps/code. We're discussing including additional information to cover the gaps. It will most likely be in a new article. I'll be closing this issue as the sample works as expected with the article steps. Thanks!

#please-close

[2018-10-01 18:16] MohitGargMSFT commented on #15886
@limjianan Please note that the functionality does work if configured as stated in documentation. However, please open a new MSDN forum post to discuss your specific implementation and error you are facing in the test. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof

[2018-10-01 18:19] MohitGargMSFT commented on #15889
@baaaron Please note that this[ Customizing Azure AD Activity content pack](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-power-bi-content-pack#customizing-azure-ad-activity-content-pack)
 section in the document provides steps on how to edit report.

[2018-10-01 18:24] jafreck opened #15925 "Dead link in installation instructions for GRID Drivers on NV/NV2"
The following command is broken:
[code]

The link provided is dead (it looks like the entire domain `gpudrivers.file.core.windows.net/` might be dead now. The link appears here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/n-series-driver-setup.md#ubuntu-1604-lts-1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-10-01 18:27] Kenneth-Abrams opened #15926 "New VNet Integration"
At Ignite 2018, a new VNET integration capability and UI was announced for App Service Plans. I can see that the documentation has been updated and this is in preview for East US regions. I just built a brand new app service with an ASP of standard tier and I am not finding any new capabilities/UI within the Azure Portal.

Can you confirm that this is currently available to the public?

---
#### D

[2018-10-01 18:36] amtrived1 commented on #15648
@msangapu , agreed.. i will close as the sample works perfectly.
@XanderM1960 for your issue if still facing issue we can open another ticket.

[2018-10-01 18:36] #15648 closed

[2018-10-01 18:39] Karishma-Tiwari-MSFT commented on #15891
@Molotch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 18:42] ysripath commented on #15921
Sorry, I was looking for REGISTRATION_NAME and SYMMETRIC_KEY_VALUE in the same file instead of hsm_client_key.c
I found the file. Thanks for your response.

[2018-10-01 18:42] #15921 closed

[2018-10-01 18:46] dlepow commented on #15925
@jafreck - I apologize for the broken link here. We are investigating this issue and will publish an update as soon as possible. In the meantime can you please try this command:
`wget -O NVIDIA-Linux-x86_64-grid.run https://go.microsoft.com/fwlink/?linkid=874272`

[2018-10-01 18:48] TravisCragg-MSFT commented on #15848
@jeffwmiles I have reached out to get more information about the App Gateway WAF in this situation, and will update you as soon as I am able.

[2018-10-01 18:48] jeevansd commented on #15918
@msilinda Yes, this is not possible today using PowerShell. We don't have any PowerShell for SAML setup.

[2018-10-01 18:49] Karishma-Tiwari-MSFT commented on #15828
@DougPetrole From my understanding, if you add new VM to same reservation, it is added to the original 3 year term for that reservation.
As per the info in the [doc](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepay-reserved-vm-instances?toc=/azure/billing/TOC.json#cancellations-and-exchanges), you can exchange your reservation for another reservation that's of equal or greate

[2018-10-01 18:50] jochenvangasse commented on #15926
@Kenneth-Abrams Do you have a link to the announcement @ Ignite 2018?

[2018-10-01 18:51] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe Were you able to make it work using the instructions above?

[2018-10-01 18:51] #15883 closed

[2018-10-01 18:51] Karishma-Tiwari-MSFT commented on #15883
@newtack We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-01 18:54] CarlRabeler commented on #15912
@JoeDavis10 My apologies - I did not read your submission properly - fixing now. Thanks again.

[2018-10-01 18:57] TravisCragg-MSFT commented on #15812
@sahilpnckr123 all of the current examples in the documentation use the Azure Portal to create a WAN. Could you please tell me what you are trying to accomplish with Azure WAN?

[2018-10-01 18:59] LisandroSu opened #15928 "Batch Script Encoding"
@SFuhrmann commented on [Sun Sep 30 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/133)

A hint on the right encoding of the setup.bat file would be nice.

I ran into the issue that the PowerShell script was not executed. In the log file on the local Service Fabric Cluster Node it said "powershell.exe was not found" etc. I spent a lot of time trying to find out why the SF Node did

[2018-10-01 18:59] LisandroSu commented on #15928
Hi team,

Please check the issue reported by the user.

Thanks!

[2018-10-01 19:01] TravisCragg-MSFT commented on #15745
@xdansmith We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 19:02] TravisCragg-MSFT commented on #15585
@Oramit99 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 19:02] #15585 closed

[2018-10-01 19:02] TravisCragg-MSFT commented on #15672
@hajjat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 19:02] #15672 closed

[2018-10-01 19:02] TravisCragg-MSFT commented on #15754
@kiranjshetty We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 19:02] #15754 closed

[2018-10-01 19:03] Kenneth-Abrams commented on #15926
@jochenvangasse I can't find the blog post, but it was part of Christina's talk on App Service Networking. Some of the capabilities I am referring to are highlighted in the last section of this article: "New VNET Integration".

[2018-10-01 19:07] yashesvi commented on #15828
Lets say you purchase 3 Year RI for 50 VMs and 18 months down the line you want to cover 70 VMs with RI discounts - the only option is to purchase 20 RIs separately. These 20 will have their own term.

[2018-10-01 19:07] SaurabhSharma-MSFT commented on #15832
@JamesTerHark Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@davidmu1 I am also getting error while following the steps and uploading the custom policy file.  see screeshot below -
![image](https://user-images.githubusercontent.com/38112130/46309825-69fe0980-c572-11e8-83d7-230799668fc2.png)

Can you please help here.

[2018-10-01 19:09] MicahMcKittrick-MSFT commented on #15897
Thanks @michael-damatov. I am tracking that issue now.

[2018-10-01 19:09] #15897 closed

[2018-10-01 19:11] CarlRabeler commented on #14204
#please-close

[2018-10-01 19:16] CarlRabeler commented on #12988
#please-close

[2018-10-01 19:19] TravisCragg-MSFT commented on #15642
@akshitjain The ports should be the same. Please make sure that you allow traffic from the AzureLoadBalancer Service Tag, as well as make sure that your health probes are configured to a working port.

[2018-10-01 19:31] fullenw1 commented on #15864
Here is how I see it in dark mode here:
[https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-application-management](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-application-management)

![darkmodeview](https://user-images.githubusercontent.com/23318240/46310983-24b4f880-c5c1-11e8-96d8-cdfaf8b5a381.PNG)

[2018-10-01 19:41] hrasheed-msft commented on #15246
@ri-we Thanks for your input. You are correct that users with subscriptions in multiple tenants would have to specify the subscription before creating the app credential. We have incorporated your feedback into the script. Thank you!

[2018-10-01 19:43] TravisCragg-MSFT commented on #15848
@jeffwmiles The WAF will offer protection and will update to include protection against new vulnerabilities automatically, with no configuration needed on your end.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 19:52] johnwest80 commented on #15459
Do we know when this will be ready?

[2018-10-01 20:03] hajjat commented on #15672
@TravisCragg-MSFT Thanks! Turns out the issue is in Linux having an indeterministic naming for NICs on reboot. So if a  VM is created with 2 NICs on Azure, the primary NIC can get mapped to either eth0 or eth1. Indeterministic!

It seems there is an option to enable deterministic naming for NICs in Linux ([link](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networki

[2018-10-01 20:05] SaurabhSharma-MSFT commented on #15721
@seb2k We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-01 20:05] #15721 closed

[2018-10-01 20:07] SaurabhSharma-MSFT commented on #15779
@rschiefer We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-01 20:07] #15779 closed

[2018-10-01 20:08] TravisCragg-MSFT commented on #15672
@hajjat I would recommend opening a support request to look into this further. If you do not have a support plan, please Email me at AzCommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support request for your subscription.

[2018-10-01 20:09] dlepow commented on #15751
@vjamwec13579 - Thanks, this is very helpful feedback. I've added your suggestion to a backlog work item we have to update this autoscale article with additional examples. Adding a portal example is also an excellent idea. I will close this issue since this is a recommended doc enhancement.
#please-close

[2018-10-01 20:09] baaaron commented on #15889
@MohitGargMSFT that is correct as long as somebody uses the organizational content pack. But since Power BI promotes the usage of apps instead of content packs and even states that org content packs will be deprecated, I‘m saying that when you use the Azure AD app report for PBI there is no possibility anymore to edit the reports from the app

[2018-10-01 20:09] christiankuhtz opened #15932 "az cli 2.0 instructions?"
please provide instructions for az cli 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just in time virtual machine access in Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/s

[2018-10-01 20:10] #15751 closed

[2018-10-01 20:13] hajjat commented on #15672
Will do, thanks @TravisCragg-MSFT !

[2018-10-01 20:14] crshovrd41 commented on #15620
Hey @rayne-wiselman any updates from the team? Thanks!

[2018-10-01 20:15] rschiefer commented on #15779
Sorry I missed your question.  I receive that error after going through all the steps and trying to login by clicking the G Suite app on my Apps page.

[2018-10-01 20:18] SaurabhSharma-MSFT commented on #15922
@jetsten Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-01 20:19] SaurabhSharma-MSFT commented on #15932
@christiankuhtz Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-01 20:22] thuansoldier opened #15933 "Missing Azure Database for PostgreSQL server"
Please update roles for Azure database for PostgreSQL server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure resources](https://docs.microsoft.com/en-us/azure/role-based-access-control

[2018-10-01 20:22] allenwux commented on #14640
#please-close

[2018-10-01 20:29] Alberto-Vega-MSFT commented on #15920
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 20:32] CarlRabeler commented on #9080
Got it – will make note in the git issue and then close it

From: Jovan Popovic (MSFT) <notifications@github.com>
Sent: Monday, October 1, 2018 1:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Collation and tempdb files (#9080)

Documentaiton is correct

  *

[2018-10-01 20:39] ecfan commented on #13746
Hi @sparsematrix, we'll publish an update soon that corrects the split() function description:

![image](https://user-images.githubusercontent.com/13206671/46314402-4db49980-c57f-11e8-8f4d-764ca8a5698b.png)

[2018-10-01 20:51] Alberto-Vega-MSFT commented on #15895
@rohancragg Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 20:51] MohitGargMSFT commented on #11975
@BartJocque Great that you figured out the solution and many thanks for sharing with us. This will help us if another customer faces similar situation.

[2018-10-01 20:51] asvyat opened #15937 "How to provide values to the Secure parameters"
In "Secure sensitive information" paragraph, there's no info on how to provide actual values to those secure parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0dd3aa-82c2-4510-1413-a109eddf6303
* Version Independent ID: 21f0f699-9267-821f-07aa-998f7dfc32f2
* Content: [Trigger and action types reference - Azu

[2018-10-01 20:53] MohitGargMSFT commented on #12273
@ziesemer Sure, I will check on it in forum and see if I could help on it. Thanks.

[2018-10-01 20:56] markolbert opened #15938 "Redirect to Custom Attribute Page Not Working"
The Google identity provider is not redirecting to the custom attribute page that can be defined in the Azure AD B2C portal (the Microsoft Account identity provider does the correct redirection). I'm not sure if this is a problem with Google, or with how the Microsoft library is generating urls, or the configuration documentation. But following the instructions above does not work.

I've reported

[2018-10-01 21:03] Eilon opened #15939 "Azure SignalR doc doesn't say where to set key for production"
This doc: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-dotnet-core#create-an-azure-signalr-resource

Has good details on how to set up the environment for local development.

But it isn't clear when using Azure App Services or any other host how/where I should set up the key/connection for production.

Tagging @danroth27 who had similar feedback.

---
#### Document Detai

[2018-10-01 21:03] CarlRabeler commented on #13541
incorporated into docs - so #please-close

[2018-10-01 21:04] CarlRabeler commented on #9004
incorporated into docs - so #please-close

[2018-10-01 21:07] #15772 closed

[2018-10-01 21:09] SaurabhSharma-MSFT commented on #15938
@markolbert Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-01 21:10] tiny-dancer commented on #15772
fyi, this post helped understand the core reason why crud was not in the sql docs: https://stackoverflow.com/a/50418764

[2018-10-01 21:12] brianstringfellow opened #15941 "How to Publish an Application from Visual Studio after Deploying a Cluster with CommonName Instead of Thumbprint?"
I followed the steps here to convert my existing ARM template to use the commonname setting instead of thumbprint. The deployment was successful and I was able to connect to the Service Fabric Explorer using my browser after the typical certificate selection popup. Next, I tried to deploy an application to the cluster just like I had been previously. Even though I can see the cluster connection en

[2018-10-01 21:15] TravisCragg-MSFT commented on #15911
@easkerov I was able to add an owner to a subscription and have them edit the flow logs without an issue. Are you having this with all NSGs in your subscription or only on some specific ones?

[2018-10-01 21:16] MicahMcKittrick-MSFT commented on #15928
@timlt, @tysonn can you help get this to the correct person to handle the feedback since this is not a en-us doc

[2018-10-01 21:18] rcarrara99 commented on #6902
Does Global Reach, or will Global Reach, support QoS? If so, can you provide any details? If not, will the MSFT Global Reach product preserve markings if not honor them?

[2018-10-01 21:30] femsulu commented on #15933
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-01 21:32] rfsonders opened #15942 "K8s Cluster config - initial Resource Group creation fails."
Kubernetes Cluster Settings, initial new resource group creation, fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4072186c-0214-fdab-a2d1-bd7965d76b66
* Version Independent ID: c254d1d2-7fd7-d623-f45b-cd6bc53e3ca2
* Content: [Deploy Kubernetes to Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/use

[2018-10-01 21:34] femsulu commented on #15923
@randydover Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-01 21:40] mattbriggs commented on #15942
@rfsonders Thanks for letting me know. I will let the team know. Do you know which version of Azure Stack you running and if you are using the Azure Stack Development Kit or a multinode Azure Stack? If you aren't sure, you can ask your operator/system admin. #in-progress

[2018-10-01 21:43] JasonWHowell commented on #15246
#please-close

[2018-10-01 21:47] CarlRabeler commented on #6311
#please close
responses have been incorporated into the docs

[2018-10-01 21:51] CarlRabeler commented on #6311
#please-close

[2018-10-01 21:51] Grace-MacJones-MSFT commented on #15939
Hi @Eilon, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-01 21:53] CarlRabeler commented on #9004
Incorporated into docs
#please-close

[2018-10-01 21:54] Grace-MacJones-MSFT commented on #15926
Hi @Kenneth-Abrams, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 21:56] timlt commented on #15928
@MicahMcKittrick-MSFT, you can contact @rwike77 or @TylerMSFT or @jpconnock who are the service fabric team, for follow up.

[2018-10-01 22:06] rolyon commented on #15933
Hi @thuansoldier
Currently, I do not see a built-in role for PostgreSQL. Is that what you are asking?
Because of this, I do not see any updates to make to this article.
thanks

[2018-10-01 22:06] douglaslMS commented on #15491
@Anded I have added the explanation and suggested workaround to the article under the _folderPath_ property. I'll let you know late tomorrow (Tuesday) when the updated page is published, for you to take a look at for me. Thanks.

[2018-10-01 22:12] djberg96 commented on #9402
@tfitzmac Thanks for this, though I'm confused as to why the `contentVersion` isn't a displayed property when I do an `az group deployment show`.

[2018-10-01 22:13] msangapu commented on #9853
Hi team. I was out of office at the time this was raised. I just became aware of it. Let me review this and get back to you this week.

[2018-10-01 22:17] rcarrara99 commented on #15504
Hello, posted on the FAQ but I can't seem to find it so here goes on the Global Reach page...
Does Global Reach support any type of QoS model? If it does, can you elaborate? If not, will the connection preserve if not honor QoS markings for traffic traversing the connection?

[2018-10-01 22:19] rcarrara99 commented on #15504
Ok. I see I unintentionally added this as a comment to the forced tunneling and prefix filtering ask. I'll try again as a separate question.

[2018-10-01 22:21] rcarrara99 opened #15947 "Global Reach - QoS"
Does Global Reach support any type of QoS model? If it does, can you elaborate? If not, will the connection preserve if not honor QoS markings for traffic traversing the connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2e5cb1-6388-4944-b2bb-c98152c5fe65
* Version Independent ID: 841a4807-a4b3-4d4d-31e8-a25c

[2018-10-01 22:28] iainfoulds commented on #15866
I've created a PR to update the doc to remove the parameter for enabling RBAC. It should just be ignored if you specify it since, yes, the CLI now enables RBAC by default.

[2018-10-01 22:32] TravisCragg-MSFT commented on #13911
@dcbrown16 the 169.254.169.254 IP Address has many purposes, including the [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service). In my test environment, I had no issues with the VM & Load balancing when traffic was blocked coming from the 169.254.169.254 IP.

The documentation states that this could have an effect on the VM, a

[2018-10-01 22:34] KumudD commented on #15865
Updated screenshot. Thanks!

#please-close

[2018-10-01 22:35] TravisCragg-MSFT commented on #15865
@frankjlinden We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 22:35] #15865 closed

[2018-10-01 22:39] MicahMcKittrick-MSFT commented on #15941
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 22:39] roygara commented on #15459
@johnwest80 I inquired again, was told by the end of this week it should be rolled out. We'll update the FAQ when it's actually released, though.

[2018-10-01 22:40] femsulu commented on #15937
@asvyat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-01 22:46] diberry commented on #13062
@retrospct @vivekjainAco  @elena20ruiz This document has been corrected to work with Azure Bot Service using Bot Framework 3.x SDK. A 4.x version is in planning. Please let me know if you have any issues with the current document as written.

[2018-10-01 22:51] diberry commented on #8219
@mintxelas @pvanaarde Thank you for reporting this issue. What type of AAD group are you in and what type of group (if not the exact same AAD) is the other collaborator in?

[2018-10-01 22:53] diberry commented on #15913
@VikramPendse Thank you for reporting this issue. From the look of your screenshot, it looks like you chose a 4.x SDK bot. Please verify that you are using an SDK v3 bot. This document applies only to v3 bots.

[2018-10-01 22:56] diberry commented on #14646
@nigelHRBOT Thank you for reporting this issue. I am investigating. #in-progress

[2018-10-01 22:58] #15866 closed

[2018-10-01 22:58] diberry commented on #12949
@lovingpizza Thank you for letting us know about this issue. Qna Maker should work with tsv (tab separated) and xls (MS Excel) files. What type of file with columns are you using? Can you provide a sample of the file?

[2018-10-01 23:02] diberry commented on #11670
@bswieser Thank you for letting us know about this issue. This doc was recently updated. Please let us know if you still have the issue. #in-progress

[2018-10-01 23:08] diberry commented on #11095
@chrisweis Thank for you reporting this issue. I'm investigating. #in-progress

[2018-10-01 23:14] TravisCragg-MSFT commented on #15580
@BryanTrach-MSFT could you help with this issue? There is not a way for me to tell from the Networking side.

[2018-10-01 23:17] binoyjt commented on #15378
@tamram
I think the V2 issue is sorted as per your screenshot.
But the V1 Issue still remains. The Document says that V1 does not have ZRS as an Option for Replication. But in the portal, we still can see the ZRS Option coming up. So is the Portal correct or the document. I can't go ahead with the design if there are conflicting statements.

[2018-10-01 23:17] pvanaarde commented on #8219
@diberry Thank you, we got this working a while ago.

[2018-10-01 23:32] afield1235 opened #15951 "out of date"
this is incredibly out of date and not accurate with screenshots or values. fix please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40756c7c-63eb-10f8-c8c4-17b57877bb7f
* Version Independent ID: 9de82050-9230-0236-c246-b2fd273888ce
* Content: [Tutorial: Azure Active Directory integration with DocuSign](https://docs.m

[2018-10-01 23:43] jason-j-MSFT commented on #15773
@ratchetwrench could you ask your question here in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

If you arrive at any focused feedback for the documentation, add it here and we will reopen the issue.

[2018-10-01 23:43] #15773 closed

[2018-10-01 23:43] Karishma-Tiwari-MSFT commented on #15924
@bganapa Thanks for your feedback. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-01 23:44] jason-j-MSFT commented on #15850
@Mike-EEE sorry for the mixup, @nabhishek could you take a look?

[2018-10-01 23:45] axisc commented on #12584
This article was updated today.

@spelluru  - could you close this?

[2018-10-01 23:47] Karishma-Tiwari-MSFT commented on #15896
@pebbledavec Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-01 23:55] kazshi commented on #12988
@CarlRabeler Thanks!

[2018-10-01 23:55] #12988 closed

[2018-10-01 23:56] kobulloc-MSFT commented on #15659
@duncansmart The fix should go live soon.  Thank you again for bringing this to our attention.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-10-01 23:56] #15659 closed

[2018-10-01 23:58] Karishma-Tiwari-MSFT commented on #15951
@afield1235
Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-02 00:00] diberry commented on #11095
@ehandani Did you change and save the web app bot's application settings to your own KB settings found in the settings page of QnaMaker kb? If you test your question in your KB test window and send the same question to the bot, they should both get the same answer.

[2018-10-02 00:01] Alberto-Vega-MSFT commented on #15735
@vabed I'm afraid that at the moment this is not supported. I have assigned the issue to the content author to evaluate and update as appropriate. @linda33wj I think it would be useful to disclose that in the document?

[2018-10-02 00:02] diberry commented on #10561
@adetutumary This document was updated today. Please review the document and respond if you still have an issue. #in-progress

[2018-10-02 00:03] barbkess commented on #15922
@jetsten : Thanks for raising this issue.  I'm asking the product team for advice on what is correct.

[2018-10-02 00:04] diberry commented on #10450
@robvon Thank you for reporting this issue. The [quickstart creating a KB](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/create-new-kb-csharp) has recently been updated and tested. Please give it a try. #in-progress

[2018-10-02 00:05] diberry commented on #10448
#please-close This appears to be fixed.

[2018-10-02 00:06] diberry commented on #10421
@LukeBayler This document was recently updated. Please review and reopen this issue if you need to. #please-close

[2018-10-02 00:07] diberry commented on #10244
#in-progress Updating document.

[2018-10-02 00:08] afield1235 commented on #15951
This one is out of date since the screenshots are from the old UI and it contradicts the Azure internal document. I can’t link the internal document because it’s part of my tenant login when you access enterprise applications ->configure Docusign. Know what I mean? The doc is generated for the tenant with tenant specific information. It’s wrong and contradicts this one.

I’ll send over another one

[2018-10-02 00:13] MohitGargMSFT commented on #15889
@baaaron Please help me with more information. Power BI Content Pack for Azure Active Directory gives you the ability to further analyze your data to gather richer insights into what’s going on with your directory.

However, are you here reffering to option of integratiing Power BI into your custom application, which require you to define an application within Azure AD?

[2018-10-02 00:17] itguysocal opened #15954 "Conditional Access "Require Approved Client App" blocks Authenticator App"
Please add this to the known issues list: If you have an Azure AD Conditional Access Policy to require approved client apps, then the Microsoft Authenticator app will block you from enabling the 'Enable Phone Sign-In' feature inside the Authenticator App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3

[2018-10-02 00:30] Karishma-Tiwari-MSFT commented on #15924
@bganapa We do have the document for installing the [AzCopy](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy)
I think for Windows, it is MSI download as it requires you to download it, and unzip it.
You can use the same download link to download via Powershell but would still require unzip. You could automate if you would like. But it's not something we support out the box

[2018-10-02 00:34] afield1235 commented on #15951
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/docusign-tutorial
This article has screenshots from the old Docusign UI, these need to be updated. In addition, this document says:
f. As Send AuthN request by, select POST.
g. As Send logout request by, select GET.

but the internal Azure Document says:
f. As Send AuthN request by, select POST.
g. As Send logout request by, select

[2018-10-02 00:38] WeidongShen commented on #15769
@SaurabhSharma-MSFT Thanks! I posted my question at https://social.msdn.microsoft.com/Forums/azure/en-US/24bfc450-b1d0-43cf-9ea3-9a80bdfc01ce/how-to-request-vm-to-vm-access-within-an-azure-vnet-when-using-just-in-time-access-policy?forum=WindowsAzureAD

[2018-10-02 00:38] titobf opened #15955 "Additional Administrator email(s) field not working"
Using the same as the example "email@contoso.com; email2@contoso.com" is marked as invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f795f00-1229-2646-c18e-948b493647b4
* Version Independent ID: 09a2b3c1-1d3e-4df5-d2c1-2efb76f1413f
* Content: [Use the Azure portal to create classic alerts for Azure services](http

[2018-10-02 00:40] rfsonders commented on #15942
Hello. Build 1808 - ASDK environment.

[2018-10-02 00:42] Karishma-Tiwari-MSFT commented on #8219
@Wayne-Shen We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 00:42] #8219 closed

[2018-10-02 00:42] Karishma-Tiwari-MSFT commented on #14923
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 00:42] #14923 closed

[2018-10-02 00:45] anosov1960 commented on #6760
We provide a method for the user to delete some or all LTR backups if they are deemed unnecessary. However, we also maintain at least 7 days of backups for point in time recovery. The user can increase the retention for the PITR backups to maximum 35 days. These backups cannot be deleted by the user.

[2018-10-02 00:53] anosov1960 commented on #7245
@PiniKrisher, pls make sure (a) this is a premium or business critical database and (b) read-scale is enabled. See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out#enabling-and-disabling-read-scale-out-using-the-azure-sql-database-rest-api

[2018-10-02 00:54] antonihanus opened #15956 "The Powershell script is displayed incorrectly above with '&quot' showing instead of a single quote. Looks like the same may be true in the DSC section too."
The Powershell script is displayed incorrectly above with '&quot' showing instead of a single quote.  Looks like the same may be true in the DSC section too.   If you copy with ctrl+C or use the copy button, it also copies &quot instead of an actual single quote.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1826d7a4-

[2018-10-02 00:57] anosov1960 commented on #7245
@Mike-Ubezzi-MSFT, @jstuparitz, the overview sections mentions that only one replica is used. But I will say it at the top to make it clear. Thanks for the feedback.

[2018-10-02 00:59] bganapa commented on #15924
I wish windows has a 'app get' story like Linux..
I could do the following.. may not be worth adding to the docs..

Invoke-WebRequest -Uri http://aka.ms/downloadazcopy -OutFile MicrosoftAzureStorageAzCopy_netcore_x64.msi
msiexec /i  "MicrosoftAzureStorageAzCopy_netcore_x64.msi" /quiet /lvx azcopy.log

[2018-10-02 01:00] anosov1960 commented on #8195
@alexjmoore , thanks for the feedback. The RPO=1 hr is correct. I will correct the documents to avoid confusion.

[2018-10-02 01:03] recklessop commented on #15923
From this page: https://docs.microsoft.com/en-us/azure/migrate/tutorial-assessment-vmware it would appear as though vCenter is required. I have not tried it personally though.

[2018-10-02 01:06] femsulu commented on #15923
that's my understanding as well that the only supported way to run the tool is via vCenter but I've reached out to the Migrate team internally to confirm. Please stay tuned.

[2018-10-02 01:06] anosov1960 commented on #8195
@alexjmoore, the below statement refers to the geo-secondary of a geo-replication relationship. It is not about geo-restore.
"Point-in-time restore on a geo-secondary is not currently supported. Point-in-time restore can be done only on a primary database. For detailed information about using geo-restore to recover from an outage, see Recover from an outage."

The following statement refers to the

[2018-10-02 01:09] dtechie commented on #15882
Hello @sergaz-msft,
Thanks for responding! Can I clarify if I should create a whole new set of certificates? Currently, I have 2 linux transparent gateways - one running edge runtime (preview) and the other runtime (GA). The same certificates are in both gateways. The python script on raspian works on the preview but not GA.

Thanks!

[2018-10-02 01:15] femsulu commented on #15919
@VireshMathapati13 A fix has been commited and we will now close this issue. thanks for raising this.

[2018-10-02 01:15] #15919 closed

[2018-10-02 01:27] amites opened #15957 "MAJOR Security Vuln in Docs"
`body=$(eval echo "'$(curl https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/event-grid/customevent.json)'")`

that is one of the least secure lines of code I've ever seen

assuming you have 100% trust in the github author you're still vulnerable to all kinds of masking type attacks

PLEASE change that, it makes me cringe to think that other devs see it and think it's ok

vari

[2018-10-02 01:30] Karishma-Tiwari-MSFT commented on #15951
@afield1235 Thanks for sharing the document. I have updated the issue with doc details.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 01:32] Karishma-Tiwari-MSFT commented on #15924
@bganapa Thank you for sharing your approach.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 01:32] #15924 closed

[2018-10-02 01:34] Karishma-Tiwari-MSFT commented on #15888
@peterlil Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 01:35] Karishma-Tiwari-MSFT commented on #15828
@DougPetrole Hope that helped. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 01:35] #15828 closed

[2018-10-02 01:36] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 01:36] #15577 closed

[2018-10-02 01:47] dcbrown16 opened #15958 "Storage Explorer"
I believe that the current restriction against Portal access with the new DataActions also applies to Storage Explorer. That is, even if you are assigned a role such as "Storage Blob Data Reader (Preview)", you won't be able to view blobs through Storage Explorer unless you also have a role with the Microsoft.Storage/storageAccounts/listkeys/action operation.
Just wanted to note that for others' r

[2018-10-02 01:51] shanjin90 opened #15959 "screenshot for Docusign UI is out-dated"
screenshot for Docusign UI is out-dated. need to update to latest version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40756c7c-63eb-10f8-c8c4-17b57877bb7f
* Version Independent ID: 9de82050-9230-0236-c246-b2fd273888ce
* Content: [Tutorial: Azure Active Directory integration with DocuSign](https://docs.microsoft.com

[2018-10-02 01:55] #15959 closed

[2018-10-02 02:04] spelluru commented on #15774
@sergaz-msft - I can't update the pricing page. It's done by the product development/marketing team. Mostly the marketing/product management team. I have informed Ashish (@axisc), PM for Service Bus Messaging.

#please-close

[2018-10-02 02:05] spelluru commented on #15667
I have updated the article based on feedback from @ChipClark

I have taken an action item to do a thorough review and edit of this article.

#please-close

[2018-10-02 02:53] tuleism opened #15960 "Guidance docs don't exist"
The TOC at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/guidance/TOC.md contains a lot of articles. However, most of them lead to "Page not found".

Some old fork on Github still have these articles. An example is https://github.com/uglide/azure-content/tree/master/articles/guidance.

[2018-10-02 03:19] aderesh commented on #13733
Totally agree with @rohancragg  and I don't understand why this issue is closed. It is still not clear what is Azure Key Vault application identity nor does it say that this identity is "built-in".  Considering other Key Vault experience, I'd expected Key Vault application to be a "dummy" application a user should register Azure AD and use it's Application Id. Please make this part about "Azure Ke

[2018-10-02 03:26] aderesh opened #15961 "What is Azure Key Vault application identity?"
To reopen https://github.com/MicrosoftDocs/azure-docs/issues/13733

Totally agree with @rohancragg and I don't understand why this issue is closed. It is still not clear what is Azure Key Vault application identity nor does it say that this identity is "built-in". Considering other Key Vault experience, I'd expected Key Vault application to be a "dummy" application a user should register Azure AD

[2018-10-02 03:37] phillipsj commented on #15932
If you will accept a PR for this, I am more than happy to investigate.

[2018-10-02 03:43] rahulrai-in commented on #15867
I was trying to follow this document: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume and using local Kubernetes cluster on Docker-For-Windows which is much like minikube.

[2018-10-02 03:51] ehandani commented on #11095
@diberry yes, I did change and save the setting to my own KB. But still no luck.

[2018-10-02 03:52] berviantoleo opened #15962 "How to Disabled MFA using old version powershell (MSOnline)?"
I see https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#use-powershell tell it can modify MFA using
[code]
But, when I want to Disabled using $st.State = "Disabled". It show error.
[code]
How I should disabled the MFA using Powershell?

[2018-10-02 03:56] berviantoleo opened #15963 "How to Disabled MFA using MSOnline?"
I see https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#use-powershell tell it can modify MFA using
[code]
But, when I want to Disabled using $st.State = "Disabled". It show error.
[code]
How I should disabled the MFA using Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-02 03:57] berviantoleo commented on #15962
Duplicate of #15963, move to #15963.

[2018-10-02 03:57] #15962 closed

[2018-10-02 04:27] TravisCragg-MSFT commented on #15914
@ArvidBaa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 04:30] brutelxr commented on #15779
@rschiefer I was having the exact same issue as you. There is 2 issues with this documentation...
1. The NameID being passed is not in an email address format. To resolve, in the User Claims (Attributes) I changed it to be:
      Name identifier value: user.mail [nameid-format:emailAddress]
2. Whilst G Suite may support auto provisioning by default, you need to turn it on from the Azure AD Provisi

[2018-10-02 04:32] MarileeTurscak-MSFT commented on #15963
@berviantoleo
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 04:32] brutelxr opened #15964 "Errors within G Suite documentation."
Similar to #15779, I also receive the following error after following this tutorial:
Invalid Email
We are unable to process your request at this time, please try again later.

There is 2 issues with this documentation...
1. The NameID being passed is not in an email address format. To resolve, in the User Claims (Attributes) I changed it to be:
      Name identifier value: user.mail [nameid-format

[2018-10-02 04:32] MarileeTurscak-MSFT commented on #15954
@itguysocal
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 06:05] ramankumarlive commented on #8837
Please update the module to get the latest change using the instructions here: https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-6.9.0#install-the-azure-powershell-module

[2018-10-02 06:11] easkerov commented on #15911
@TravisCragg-MSFT I do not have Owner role assigned to subscription but **only to resource group where my NSG is deployed**. If I attach Owner role to subscription it works fine, but I need to have Owner role attached exactly to resource group.

[2018-10-02 06:22] timmyreilly opened #15970 "What is my IoT Device Connection String when running locally?"
I'm following the directions from a recent blog post here: https://blogs.msdn.microsoft.com/iotdev/2018/09/24/introducing-visual-studio-tools-for-azure-iot-edge/#comment-22965

When I go to debug I'm prompted with a dialog that says "Please input IoT Edge Device Connection String" - where do I find that connection string if I'm debugging locally?

---
#### Document Details

⚠ *Do not edit this sec

[2018-10-02 06:40] AndyButland opened #15971 "Error in outputting each prediction"
From testing this script it looks like `predictions` comes back as a nested array, hence to output all the values this line:

[code]

Needs to be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutori

[2018-10-02 06:53] giladmit commented on #7152
There is no relationship between Azure SQL DB Data Classification labels and extended properties.

Thanks,
Gilad

[2018-10-02 07:25] kazshi opened #15972 "Default RU value for LeasesCollectionThroughput"
LeasesCollectionThroughput in the [table](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb#trigger---configuration) doesn't have default RU value - but I learned the default RU value is 1000. Does it mean that the created lease collection capacity is Unlimited and the default value is minimum throughput (and customer should specify 1000<=)? Thanks.

---
#### Docum

[2018-10-02 07:29] richcorless opened #15973 "Invalid Container Create Options JSON template"
The provided template is incorrect and does not pass validation in the Azure Portal, it should be the below. Note the curly braces instead of square brackets for HostConfig:
{
    "Env":[
        "LOCAL_STORAGE_ACCOUNT_NAME=&lt;your storage account name&gt;",
        "LOCAL_STORAGE_ACCOUNT_KEY=&lt;your storage account key&gt;"
    ],
    "HostConfig":{
        "Binds":[
            "&lt;storage di

[2018-10-02 07:48] nabhishek commented on #15850
This has been corrected. @Mike-EEE Thanks for letting us know.

[2018-10-02 08:01] Nardu92 opened #15975 "Changing the "intro" text"
Is possible to change the "intro" text?
For example the "Sign in with your existing account" into "Sign in"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a5dbe-3776-6cbf-41b1-a2b00dcfe95e
* Version Independent ID: 14bb0adf-b9d0-7f70-1d35-ba38e85e0f65
* Content: [User interface (UI) customization in Azure Active Dir

[2018-10-02 08:11] ArvidBaa commented on #15893
Ah, I understand. Since it is mainly an 'issue' with zsh, I completely understand that it doesn't really fit in the scope of this document. It is completely reasonable to focus on the default shell.

Thanks for the quick answer, and also thanks for the explanation of zsh and globbing!

[2018-10-02 08:34] rathishrms opened #15976 "$UsageReporting = True"
for the above line, true should be inside "" for it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ccb9b30-d08b-f263-c23e-abe9e399626a
* Version Independent ID: 98cb2b61-3d61-68a5-dd33-cca41a97a3c2
* Content: [Register the ASDK with Azure](https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-register)

[2018-10-02 08:34] pjt33 opened #15977 "Explain naming scheme of subscriptions"
In step 3 of **To associate an existing subscription to your Azure AD directory**, what should we expect to see in the dropdown? I tried following these instructions, and the only thing I see in the dropdown is "Microsoft", which doesn't fill me with confidence that the correct subscription is being offered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-02 08:38] ArvidBaa opened #15978 "Add information on automatically created resources"
I think it would be wise to add a short section on what other resources that are automatically created when creating a workspace. On the page 'How the service works' under 'Concepts' (https://docs.microsoft.com/en-us/azure/machine-learning/service/concept-azure-machine-learning-architecture), there is a short list on all other resources created. Perhaps a similar (or identical) list could be added

[2018-10-02 08:43] jtuliani opened #15979 "Lists Windows commands, but not Linux commands"
Should include both Windows and Linux commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0-189604018784
* Content: [Run PowerShell scripts in an Windows VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows

[2018-10-02 08:43] timdbowden commented on #15909
Does this mean that the event based trigger is not suite to instances where
we are receiving 100+ blob per second?

On Mon, Oct 1, 2018 at 6:18 PM Douglas Laudenschlager <
notifications@github.com> wrote:

[2018-10-02 08:44] moasifk opened #15980 "Autoscale based on memory"
As per documentation we can autoscale the VMs based memory usage. But there are no metrics defined for that purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale

[2018-10-02 08:48] rathishrms opened #15981 "-EnableUsageReporting replaced by UsageReportingEnabled in 1808?"
-EnableUsageReporting replaced by UsageReportingEnabled in 1808?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ccb9b30-d08b-f263-c23e-abe9e399626a
* Version Independent ID: 98cb2b61-3d61-68a5-dd33-cca41a97a3c2
* Content: [Register the ASDK with Azure](https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-regis

[2018-10-02 08:51] Mike-EEE commented on #15850
Sweeeeeeeet!  Thanks, team!  Keep up the great work. 👍

[2018-10-02 08:51] #15850 closed

[2018-10-02 08:56] jtuliani opened #15982 "CLI support?"
States CLI is supported but doesn't explain command to use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0-189604018784
* Content: [Run PowerShell scripts in an Windows VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-machi

[2018-10-02 08:58] rayne-wiselman commented on #15620
@crshovrd41 There shouldn't be a requirement for this.

Can we check the process through again so that we can identify where our content isn't working for you..

Firstly, are you migrating VMware VMs or physical servers?

[2018-10-02 09:01] jtuliani opened #15983 "What do scripts run as on Linux"
States 'Scripts run as System on Windows'. So what do they run as on Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0-189604018784
* Content: [Run PowerShell scripts in an Windows VM in Azure](https://docs.microsoft.com/en-us/az

[2018-10-02 09:03] jtuliani opened #15984 "Outbound connectivity--to what?"
States 'Outbound connectivity from the VM is required to return the results of the script'. Connectivity to what?  Need IP/protocol/port info.

Also, ideally there should be an NSG Service Tag to make it easy to configure the correct connectivity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b

[2018-10-02 09:07] alexjmoore commented on #8195
I think the word 'daily' here is what is confusing - at least to me.  A daily backup implies up to 24 hours RPO.  In fact looking through documentation there is no other reference to 'daily' backups other than that one sentence, however I believe what you're actually referring to is the most recently replicated PITR backup right?

By the way, It is strange to me that PITR isn't supported in the se

[2018-10-02 09:12] james-hu commented on #15781
@maxal1917 Did you have the InvalidQueryParameterValue issue solved? I got it after enabling HTTP access on the storage account.

[2018-10-02 09:31] james-hu commented on #15781
Figured out! Must put <name>.<zone like z23>.web.core.windows.net in the CNAME record, not <name>.blob.core.windows.net. Would be helpful if this can be documented.

[2018-10-02 09:50] ArvidBaa opened #15985 "Keyboard shortcut for selecting Conda environment in Visual studio code for Mac is missing"
Of course I have faith that most users of VS Code on Mac knows about the corresponding keyboard shortcut for CTRL-SHIFT-P (CMD-SHIFT-P) for opening the Command Palette, but i still think it is worth mentioning.

Also, another thing. Sometimes I have needed to restart VS Code before it could recognize my newly created environments. I'm not sure if it was due to some setting or error on my side, but

[2018-10-02 10:08] maxal1917 commented on #15781
Yes, it somehow got away by itself within couple of hours. Not sure why.

[2018-10-02 10:48] jpr2016git opened #15993 "Review first sentence"
The very first sentence "Azure Security Center analyzes the security state of your Azure resources" should include on-premises resources as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99c6b735-991d-1814-29d3-ff3083e0e4f3
* Version Independent ID: c1119cb4-17eb-6fcb-dc2d-c2eaf3608305
* Content: [Protecting your

[2018-10-02 11:02] #15774 closed

[2018-10-02 11:03] pnda489 opened #15995 "The Azure Function C# CodeSample ist not for V2"
For V2 use this:

    public static class EventGridFunc
    {
        [FunctionName("EventGridFunc")]
        public static async Task&lt;IActionResult&gt; Run([HttpTrigger(AuthorizationLevel.Function, "get", "post", Route = null)]HttpRequest req, ILogger log)
        {

    log.LogInformation($"C# HTTP trigger function begun");
    string response = string.Empty;

    string requestContent = awai

[2018-10-02 11:05] sergaz-msft commented on #15882
Hi @dtechie yes please go ahead and follow the steps like explained in the doc again to create the certificates. Thank you in advance for the effort!

[2018-10-02 11:08] sergaz-msft commented on #15882
@dtechie can you also make sure that you are using latest version 1.0.2? [Azure IoT Edge 1.0.2 release](https://azure.microsoft.com/en-us/updates/iot-edge1-0-2/)

Thank you!

[2018-10-02 11:12] rburgstaller commented on #8245
It would be helpful to get information on how to stop/restart tomcat programmatically.

I too have the problem that my updated files are only visible after restarting the app (when using wardeploy).

[2018-10-02 11:49] cha000 opened #15998 "Step 2 part 2 - Create a filter rule"
I couldn't get the command to work as written. I had to provide an array rather than a comma separated string. Example below.

#Incorrect $rule = New-AzureRmRouteFilterRuleConfig -Name "Allow-EXO-D365" -Access Allow -RouteFilterRuleType Community -CommunityList "12076:5010,12076:5040"

#Correct $rule = New-AzureRmRouteFilterRuleConfig -Name "Allow-EXO-D365" -Access Allow -RouteFilterRuleType Commu

[2018-10-02 12:08] ArvidBaa opened #15999 "'Derive column by example' date values needs correction"
In the section 'Derive column by example' (https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-transform-data#derive-column-by-example), there are a number of prints of the dataset to show the derivation process. In the third of these prints, the dates are listed as
[code]
and so on, but I can only assume that this is incorrect and that it should be
[code]
and so on. This is als

[2018-10-02 12:29] randydover commented on #15923
I put a case in with MS and got a reply that yes vCenter Server is required. Here is the response: While Site Recovery can link directly to an ESXi host, and perform replication, the Azure Migrate environment does require vCenter.  We leverage statistics from the vCenter server when building the assessment details.  As a result, this is a critical component and key requirement for use with the Azu

[2018-10-02 12:32] Eithcowich commented on #15860
I have the same issue.

[2018-10-02 12:37] dtechie commented on #15882
Ok @sergaz-msft. Will go through your suggestions and let you know how they go. Thanks again!

[2018-10-02 12:48] rschiefer commented on #15779
So I changed "Unique User Identifier" attribute to "user.mail" and everything started working.  The only weird thing now is when I go back to the SSO setup for GSuite it has reverted back to "user.userprincipalname" but everything still works.

Thanks for the help.

[2018-10-02 12:54] ArvidBaa opened #16000 "Syntax error in code snippet (and issues running)"
Under the section [Get an existing datastore](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-access-data#get-an-existing-datastore), there is a code snippet that looks like this:
[code]

which raises syntax error due to the ending comma (`,`) in the second row (should be colon (`:`)) and also the trailing quotation mark (`"`) on the third row.

But even if I correct this, I

[2018-10-02 13:02] Blackmist commented on #15893
Glad I could help!

#please-close

[2018-10-02 13:19] tfitzmac commented on #15957
@amites - thanks for this feedback. I have changed the examples to no longer retrieve event data from GitHub. The changes should get published this morning.

[2018-10-02 13:19] tfitzmac commented on #15957
#please-close

[2018-10-02 13:31] sergaz-msft commented on #15970
Hello @timmyreilly . Can you follow the steps on the oficial doc? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-csharp-module

Let us know if you had troubles after following it and we can start from there. I will also change this issue under that doc.

PS: Did you try getting the connection string from the Edge Device through Azure Portal?

Thanks!

[2018-10-02 13:34] sergaz-msft commented on #15973
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 13:38] chetanku opened #16001 "Why ? "The virtual network for the AKS cluster must allow outbound internet connectivity." How can we create an internal AKS cluster with Advanced Networking?"
Why ? "The virtual network for the AKS cluster must allow outbound internet connectivity." How can we create an internal AKS cluster with Advanced Networking?

[2018-10-02 13:39] #15633 closed

[2018-10-02 13:42] sergaz-msft commented on #15655
@dsk-2015 can you please validate that the links provided in the doc are still valid? We had many changes announced on Ignite Conference and this could have been updated.
Thanks!

[2018-10-02 13:50] breyed opened #16002 "No example for ASP.NET Core"
`Microsoft.AspNetCore.Http.HttpContext` differs from the `HttpContext` in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e999ab71-aabf-9917-6f50-8fce3e19a0ae
* Version Independent ID: b072be7c-c060-00af-4027-8422473f74a1
* Content: [Send user context IDs to enable usage experiences in Azure Application Ins

[2018-10-02 13:50] sergaz-msft commented on #15705
Hello @mack0196 , from the description [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.topicdescription.supportordering?view=azure-dotnet#Microsoft_ServiceBus_Messaging_TopicDescription_SupportOrdering):

**TopicDescription.SupportOrdering Property** - Gets or sets the support ordering method.

Let us know if you have further questions?
Thanks!

[2018-10-02 13:50] crshovrd41 commented on #15620
Hi! It’s failing when pushing the MARS agent. v19 requires .NET 4.6.2 which
isn’t supported on Server 2008 SP2. I tried the manual install after the
push failed and that’s how I found out.

I’m migrating from VMware btw.
On Tue, Oct 2, 2018 at 01:58 Rayne Wiselman <notifications@github.com>
wrote:

--
Sent from your iPhone

[2018-10-02 13:53] yohanb opened #16003 "Possible to setup SPA routing?"
Hi,
It's not clear in the documentation if it's possible to setup client-side routing with SPAs.  It seems to only support folder based routing which is something not as common as modern SPA routing.  I get that the web serving capabilities are limited but it would be nice to clear things out in the documentation.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-10-02 13:58] LuisCabrer commented on #15833
Please assign to @ashmaka

[2018-10-02 14:00] jeffwmiles commented on #15848
I would highly recommend that if it is true the WAF has periodic updates of detection signatures, that this be specifically defined within the documentation; to be clear I'm not referring to new vulnerabilities being caught by the core ruleset, but rather a dynamic WAF protection that responds to changing threat landscape and is able to protect from new CVE's.

Right now the document reads, "Web a

[2018-10-02 14:07] vinu04 opened #16004 "Connectiing Azure to Azure Stack"
After following all above steps I was able to established connectivity between the environments.  Thanks you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec5666f-c9b6-2ae6-3a46-3b390d252d19
* Version Independent ID: 671ddf6c-1ce1-191a-4d2b-533244ab14cf
* Content: [Connect Azure Stack to Azure using VPN](https://docs

[2018-10-02 14:10] alohaninja commented on #14831
@sergaz-msft - the inquiry here is not focused just on health diagnostics, but specifically security of IoT devices. What integrations does IoT provide for auditing - would be [great to have IoT listed here](https://docs.microsoft.com/en-us/azure/security/azure-log-audit) as well as tracking/alerting for any anomalous behavior? Can't seem to find any specific references to keeping IoT devices secu

[2018-10-02 14:13] frankhu1234 opened #16005 "AAD V2.0 Applications; Optional Claims are not supported."
The table at the top of this documentation says that v2.0 is supported. However this is NOT supported in the v2.0 endpoint.
Please update the documentation to reflect the current status of Optional claims for the v2.0 endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Versio

[2018-10-02 14:23] spacecat opened #16006 "More documentation and real life examples needed for containerized ASP.NET Core apps behind a reverse proxy"
I've been struggling with redirecting HTTP to HTTPS and redirecting non-www to www in my Kubernetes environment (AKS) the last couple of days. I believe these two very common tasks should be a trvial thing to do in todays agile world.

"Create an ingress controller with a static public IP address in Azure Kubernetes Service (AKS)"

I've successfully completed the above how-to using my own custom d

[2018-10-02 14:27] arshadkazmi42 commented on #15884
@AnilKongariMSFT Can I work on this?

[2018-10-02 14:31] sergaz-msft commented on #14831
Hello @alohaninja , we have a lot of documentation around security and best practices:

[Internet of Things security from the ground up](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-ground-up?context=azure/iot-hub/rc/rc)
[Internet of Things security best practices](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-best-practices?context=azure/iot-hub/rc/r

[2018-10-02 14:40] k-berger opened #16007 "Ingestion frequency on Event-Hub Data-Connections"
Setup:
- 2 nodes Data-Explorer
- Event-Hub with 4 Throughput units

Data:
Sending ~ 2k events per second in 500-element batches to Event-Hub

Expectation:
Data will be indexed in a timely fashion and be available for queries.

Actual result:
There seems to be an enforced frequency of how often the event-hub data will be indexed to Data Explorer. On the charts for Ingestions results, one can clearl

[2018-10-02 14:44] georgewallace commented on #15983
@jtuliani Thanks for reaching out, this doc is specific to Windows, Linux has it's own version of Run Command for Linux. You can see it here. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command

[2018-10-02 14:46] georgewallace commented on #15979
@jtuliani Thanks for reaching out, this doc is specific to Windows, Linux has it's own version of Run Command for Linux. You can see the command for Linux here https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command#available-commands

[2018-10-02 14:46] ggianelli opened #16009 "License information"
Specify the type pf license needed to create groups. Azure AD P2 is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acb4037a-0ffe-8b87-6645-d773551bb34d
* Version Independent ID: 6b6e3230-af26-21e0-b3ba-a78bc5119673
* Content: [Using a group to manage access to SaaS Applications](https://docs.microsoft.com/en-us

[2018-10-02 14:50] georgewallace commented on #15982
@jtuliani Thanks for reaching out, you are correct we don't have the CLI cmdlets in the doc, This was intentional to follow the format that the VM docs follow, PowerShell is displayed for Windows VMs and CLI for Linux VMs. I can see the point though and can add the cli commands to the doc. We do link to the CLI commands in the [benefits](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2018-10-02 14:52] Mike-Ubezzi-MSFT commented on #15556
@dem108 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 14:52] #15556 closed

[2018-10-02 14:53] SaurabhSharma-MSFT commented on #15769
@WeidongShen Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 14:53] #15769 closed

[2018-10-02 14:53] SaurabhSharma-MSFT commented on #15782
@rgf-sylvain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 14:53] #15782 closed

[2018-10-02 14:53] arcotek-ltd opened #16012 "Navigate Resource"
Can you expand on how one navigates to an Azure Resource Group from VSCode, as you mentioned in step 2 of "Prepare a test plan file"?

Do you mean create a folder with the same name as the resource group or actually navigate to the resource group in VSCode?

Why do I need to install Terraform on my local system if it is using Cloud Shell?

TIA

---
#### Document Details

⚠ *Do not edit this sectio

[2018-10-02 14:53] SaurabhSharma-MSFT commented on #15808
@mchudinov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 14:53] #15808 closed

[2018-10-02 14:54] SaurabhSharma-MSFT commented on #15807
@mchudinov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 14:54] #15807 closed

[2018-10-02 14:55] virajpangam opened #16013 "Please provide documentation on "Authenticate with a certificate instead of a client secret" for Spring boot and/or java"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-02 15:03] Mike-Ubezzi-MSFT commented on #15670
@prafullkotecha We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 15:03] #15670 closed

[2018-10-02 15:28] Mike-Ubezzi-MSFT commented on #15722
@cindy951357 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 15:28] #15722 closed

[2018-10-02 15:29] Mike-Ubezzi-MSFT commented on #15766
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 15:30] LisandroSu opened #16014 "Problems"
@orister88 commented on [Tue Oct 02 2018](https://github.com/MicrosoftDocs/azure-docs.hu-hu/issues/42)

- The right file name is AzureMfaNpsExtnConfigSetup.ps1. AzureMfs... vs. AzureMfa...
- If you are trying to Configure NPS extension with the AzureMfaNpsExtnConfigSetup.ps1 script, you will fail, if you are trying to authenticate to O365 with an MFA used account! You need an account from O365 wit

[2018-10-02 15:30] LisandroSu commented on #16014
Hi team,

Please check the issue reported by the user.

Thanks!

[2018-10-02 15:33] domoritz opened #16015 "Broken JSON"
There is a comma missing in https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipeline-execution-triggers#schedule-trigger-definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c2eb-40a04748296c
* Content: [Pipeline execut

[2018-10-02 15:40] meeenz commented on #16000
@arvidbaa thanks for the catch! Will update the code snippet.

[2018-10-02 15:41] SaurabhSharma-MSFT commented on #15959
@shanjin90 Thanks for your feedback and glad to know that you are able to resolve it yourself

[2018-10-02 15:42] mx-iao commented on #16000
@arvidbaa thanks for the catch! Will update the code snippet

[2018-10-02 15:43] SaurabhSharma-MSFT commented on #15961
@aderesh Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:45] SaurabhSharma-MSFT commented on #15964
@brutelxr Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-02 15:48] SaurabhSharma-MSFT commented on #15993
@jpr2016git Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:49] SaurabhSharma-MSFT commented on #15977
@pjt33 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:50] SaurabhSharma-MSFT commented on #16005
@frankhu1234 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:51] SaurabhSharma-MSFT commented on #16009
@ggianelli  Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:51] SaurabhSharma-MSFT commented on #16014
@LisandroSu Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 15:53] jamierichardstevenson opened #16017 "Typo"
Custom Vidoe API link is mispelled

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 541259e1-3f1c-6dc6-db6a-d89082f29255
* Version Independent ID: 0f4990ab-e83e-542f-8bab-827f9734e0af
* Content: [What is Bing Custom Search?](https://docs.microsoft.com/en-gb/azure/cognitive-services/bing-custom-search/overview)
* Content

[2018-10-02 16:10] lukka opened #16018 "IOTHUBMESSAGE_ABANDONED does not imply the message is delivered again"
If the cloud to device message callback returns IOTHUBMESSAGE_ABANDONED, the message is not being resent again to the device.
The documentation states that the "In the last case a message is also sent to IoT Hub, but it indicates that the message should be redelivered", but i could not see this behavior. I just setup a simple sample app that returns always IOTHUBMESSAGE_ABANDONED to any incoming m

[2018-10-02 16:14] ermacia91 opened #16019 ""Pass-through authentication current limitations" link leads to this same article"
The title says it all: "Pass-through authentication current limitations" link leads to this same article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eafd62b3-145a-7c93-e88d-a7fb29814a0d
* Version Independent ID: 999181be-96fa-1be6-36f3-b604f43613ed
* Content: [Azure Active Directory Pass-through Authentication secur

[2018-10-02 16:20] toddjohnson39 opened #16020 "Session Controls - Exchange Online"
When configuring Session Controls within a CA policy it now states "Currently Exchange Online and SharePoint Online are the only cloud apps that support enforced restrictions". I cannot find any information about what app restriction capabilities are available with Exchange Online. Is this coming soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-02 16:25] briannipper opened #16021 "Unable to Use Example for Reference Automation Registration Values"
I really like the idea of using the example listed in this section of the documentation...
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#example-using-referenced-azure-automation-registration-values

However, no matter how I attempt to reference the Automation account I continue to receive an error around "The resource ... referenced is not defined in the template

[2018-10-02 16:30] timhiggs opened #16023 "Major / minor updates slightly wrongly worded"
Hey

It's a small thing, but the use of major/minor in terms of updates isn't quite right.  A _major_ update would be from 5.x to 6.x versus a _minor_ update being from 5.6 to 5.7 - whereas if I understand correctly you patch for version numbers within the release series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-02 16:31] agarwal-akash commented on #16017
#16022

[2018-10-02 16:33] MicahMcKittrick-MSFT commented on #15980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 16:34] briannipper commented on #16021
Seems I should post to GitHub more frequently...

No sooner had I hit the submit button than I found what my problem was...

It would seem that for me to refer to the Automation Account using the reference function I MUST provide the API version. I don't believe that this variable is required; however, the reference DID NOT work unless I included the API version argument.

So the form that DID NOT

[2018-10-02 16:34] MicahMcKittrick-MSFT commented on #16006
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 16:42] MichaelMcCoyDNVGL opened #16024 "Azure CLI implementation"
Please can you provide an Azure CLI implementation of this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7b8bcd-b263-692e-6d14-1663cdedef03
* Version Independent ID: f2307954-8544-d820-cb76-f7fa0a9601db
* Content: [Protect web apps with Azure Application Gateway - PowerShell](https://docs.microsoft.com/en-u

[2018-10-02 16:45] iainfoulds commented on #16006
Thanks for the feedback, @spacecat. This sounds like duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/15410, but I didn't receive a response back there.

This is a valid suggestion, but a little beyond the scope of what we're trying to offer in the docs right now as it's not just an addition to the doc, but a complete end-to-end scenario and sample app. I've added a backlog work ite

[2018-10-02 16:46] iainfoulds commented on #15410
As with https://github.com/MicrosoftDocs/azure-docs/issues/16006, I've added a backlog work item to track this request and will discuss with engineering teams to prioritize accordingly.

@MicahMcKittrick-MSFT For now, #please-close

[2018-10-02 16:46] MGoedtel commented on #15815
@choovick - To answer your questions - 1)that is correct, there are two new regions available but this isn't related to the article specifically. 2)At Ignite we realigned Log Analytics with Azure Monitor, so if you search for Azure Monitor, you will see Log Analytics listed in the Product table.  3)Yes, I neglected to update the parameters for the CLI command and I just revised/validated the artic

[2018-10-02 16:47] crshovrd41 commented on #15620
@rayne-wiselman - My mistake, I meant the Mobility Service. Tough to keep all these names in order. Yes, I've followed everything and all my other servers are working fine with the service. Again, I attempted to install the Mobility service manually and it tells me I need .NET 4.6.2, which, according to MS, is NOT supported on 2008 SP2.

Thanks!

[2018-10-02 16:48] #16006 closed

[2018-10-02 16:48] #15410 closed

[2018-10-02 16:49] #15815 closed

[2018-10-02 16:50] jeevansd commented on #15951
@chetansriv and @v-viinde Can you please update this doc?

[2018-10-02 16:50] rayne-wiselman commented on #15620
Do you already have the configuration server set up? Is it the Mobility push install that’s failing. If so can you send me the screenshot so I can pass that on. Thanks!

From: crshovrd41 <notifications@github.com>
Sent: Tuesday, October 2, 2018 7:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subjec

[2018-10-02 16:51] breyed opened #16025 "Get request telemetry from controller using dependency injection"
In an ASP.NET Core controller, the recommended approach per Microsoft/ApplicationInsights-aspnetcore#763 is to use dependency injection, not create a new `TelemetryClient` object. The [Get a TelemetryClient instance](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#get-a-telemetryclient-instance) section talks about creating instances for other mod

[2018-10-02 16:53] choovick commented on #15815
🎉 Thanks everyone! That was quick.

[2018-10-02 16:55] YutongTie-MSFT commented on #16017
@agarwal-akash Thanks for the quick action.

@jamierichardstevenson Thanks for your response. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 16:55] #16017 closed

[2018-10-02 16:56] YutongTie-MSFT commented on #16000
@mx-iao Thanks for the quick action!!

@ArvidBaa Thanks for reporting the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 16:56] #16000 closed

[2018-10-02 16:56] basavaraj64 opened #16026 "Refresh the HDInsight certificate for Data Lake Store access"
Thank you,  for adding "Refresh the HDInsight certificate for Data Lake Store access" section and script. It is very useful for all HDInsight users. It would be nice  to add post-verification steps to this section..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 020ae447-3bf7-73f8-926a-29e05a1ae671
* Version Independen

[2018-10-02 16:57] msangapu commented on #15860
@ahmedelnably  This looks the same as https://github.com/Azure/azure-cli-extensions/issues/325

[2018-10-02 16:58] MicahMcKittrick-MSFT commented on #15915
@abhiramani-iptiq can you try running through the doc again? I tested it again today and still did not run into any issues.

[2018-10-02 16:59] RoyKimYYZ opened #16027 "Typo or grammar issue:"
Typo or grammar issue:
"The publisher identities that &lt;MISSING WORD?&gt;are granted access to the managed resource group are exempt from the lock."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b519dbe5-6d59-e378-0a03-1b8020ee6adc
* Version Independent ID: 15262875-0a29-1cc9-4c79-20d69084a286
* Content: [Overview o

[2018-10-02 17:00] YutongTie-MSFT commented on #15971
@AndyButland Thanks for the reporting, I will investigate the script and update it shortly!

[2018-10-02 17:00] Karishma-Tiwari-MSFT commented on #16015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:02] Karishma-Tiwari-MSFT commented on #16013
@virajpangam Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-02 17:04] Karishma-Tiwari-MSFT commented on #16012
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:07] ADNewsom09 commented on #15745
@TravisCragg-MSFT can you elaboate on your recommendation to

as Apex records do not support CNAME records

[2018-10-02 17:10] MarileeTurscak-MSFT commented on #15960
@tuleism
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 17:10] Karishma-Tiwari-MSFT commented on #16007
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:13] YutongTie-MSFT commented on #15893
@Blackmist Thanks !!!

@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 17:13] #15893 closed

[2018-10-02 17:13] mike-urnun-msft commented on #15995
@pnda489 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-02 17:14] Karishma-Tiwari-MSFT commented on #16001
@chetanku Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-10-02 17:15] YutongTie-MSFT commented on #10421
@LukeBayler We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 17:15] #10421 closed

[2018-10-02 17:15] YutongTie-MSFT commented on #10448
@robvon We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 17:15] #10448 closed

[2018-10-02 17:16] Karishma-Tiwari-MSFT commented on #15972
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:18] kobulloc-MSFT commented on #16002
@breyed Thank you for the feedback!  We will assign this to the author so they can update the document accordingly.

[2018-10-02 17:19] chetanku commented on #16001
@Karishma-Tiwari-MSFT Here is the link: https://docs.microsoft.com/en-us/azure/aks/networking-overview#advanced-networking-prerequisites . The first point states "The virtual network for the AKS cluster must allow outbound internet connectivity"

[2018-10-02 17:21] YutongTie-MSFT commented on #15978
@ArvidBaa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@shivp950 Hi, this is a doc suggestion and also the customer has some questions about that, can you please check it and update the document as necessary?

[2018-10-02 17:23] corporateg opened #16032 "Limitations Advice applies to Classic VM"
"Backing up virtual machines with a reserved IP address and no defined endpoint is not supported. "

This line is referring to a Classic deployed VM in azure, however, the article title states this guidance is for Resource Manager-deployed VMs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3447ce-fb16-f2ec-126e-91168

[2018-10-02 17:29] amites commented on #15957
Thank you @tfitzmac

[2018-10-02 17:29] #15957 closed

[2018-10-02 17:29] Karishma-Tiwari-MSFT commented on #15958
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:30] Karishma-Tiwari-MSFT commented on #16003
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 17:33] Karishma-Tiwari-MSFT commented on #16023
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:34] femsulu commented on #15955
@titobf Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-02 17:35] MicahMcKittrick-MSFT commented on #15867
@rahulrai-in did you ensure you ran az login before attempting to apply? Sounds like your local cluster is not able to find the file share.

[2018-10-02 17:36] MicahMcKittrick-MSFT commented on #15960
@tuleism we suggest you go through the Azure Docs rather than the GitHub repo itself.
Is there a specific document you are seeing an issue with getting a 404? That is not part of the TOC that is.

[2018-10-02 17:38] MicahMcKittrick-MSFT commented on #15928
Thanks @timlt

@jpconnock, @rwike77 I assigned to you both but let me know how you want me to adjust it.

[2018-10-02 17:41] femsulu commented on #15979
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-02 17:41] #15979 closed

[2018-10-02 17:43] MicahMcKittrick-MSFT commented on #15941
@brianstringfellow Is you cluster running in Azure or on premise?

[2018-10-02 17:43] YutongTie-MSFT commented on #15985
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:43] femsulu commented on #15982
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-02 17:44] TravisCragg-MSFT commented on #15942
@rfsonders We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-02 17:44] #15942 closed

[2018-10-02 17:44] #15982 closed

[2018-10-02 17:44] Karishma-Tiwari-MSFT commented on #15947
@rcarrara99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:45] femsulu commented on #15983
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-02 17:45] #15983 closed

[2018-10-02 17:46] Karishma-Tiwari-MSFT commented on #16021
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:46] femsulu commented on #15984
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-02 17:48] TravisCragg-MSFT commented on #15911
@easkerov This is probably an Issue with Network Watcher Permissions. Network Watcher is based upon a region, and is not in a resource group. You will likely need to add one of the network watcher permissions described in the document in order to manage it.

[2018-10-02 17:48] MicahMcKittrick-MSFT commented on #16001
@chetanku this doc is referring specifically to the Advanced Networking options when creating a AKS clusters. If you choose to use the Advanced networking option then yes, we require the Vnet have access tot he internet. However, we do have another doc for setting up an AKS cluster using an internal Load Balancer instead:

https://docs.microsoft.com/en-us/azure/aks/internal-lb

[2018-10-02 17:49] MohitGargMSFT commented on #16019
@ermacia91 Thanks for your feedback! We will investigate and update soon on it.

[2018-10-02 17:49] Karishma-Tiwari-MSFT commented on #14204
@jhadz81 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 17:49] #14204 closed

[2018-10-02 17:49] YutongTie-MSFT commented on #15999
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 17:50] MikeChristensen commented on #15792
Link not working.  Also, is there another way to install the Service Fabric SDK?  Such as an MSI file or through vs_buildtools.exe?  Or is WebPI the install supported installer?

[2018-10-02 17:50] MohitGargMSFT commented on #16020
@toddjohnson39 Thanks for your feedback! We will investigate and update soon on it.

[2018-10-02 17:50] MicahMcKittrick-MSFT commented on #15962
@berviantoleo thanks for letting us know and closing it out as a duplicate

[2018-10-02 17:52] TravisCragg-MSFT commented on #15848
@jeffwmiles I think that would be a good way to put it, and I agree that this is not clearly outlined in the doc. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 17:53] rschiefer commented on #15779
I was using the new UI.

[2018-10-02 17:57] jeevansd commented on #15779
@rschiefer Can you please submit the ticket with us and then we can check it why this is happening?

[2018-10-02 17:57] brianstringfellow commented on #15941
@MicahMcKittrick-MSFT The cluster is running in Azure.

[2018-10-02 17:57] tapialuism opened #16033 "Step14 - Recover a file"
The temp drive letter is has two files.. "data loss readme......" and "IMC.hiv" where do I locate the file to paste to wwwroot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959d21ed-cd7b-dece-d206-8a207f780dad
* Version Independent ID: e440a3e5-f953-ac2f-334c-4d771ed2d009
* Content: [Tutorial - Back up Windows virtua

[2018-10-02 18:02] mack0196 commented on #15705
I don't understand. Per MS docs and my exp, a topic\queue with partition enabled and messages with sessionID give you FIFO (per the messages with the same SessionID).

With partition enabled and messages with sessionID, what is the difference with SupportOrdering enabled or disabled?

[2018-10-02 18:05] TravisCragg-MSFT commented on #15947
@rcarrara99 could you elaborate what exactly you mean by QoS Model?

[2018-10-02 18:05] spelluru commented on #15705
@axisc - could you please look into it? Thanks.

[2018-10-02 18:06] TravisCragg-MSFT commented on #16024
@MichaelMcCoyDNVGL Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 18:07] thuansoldier commented on #15933
You'd need to check the above roles if possible. I think these are supported. Thank you very much for your prompt response.

[2018-10-02 18:07] chetanku commented on #16001
@MicahMcKittrick-MSFT Thanks for your reply. Yes, I want to use advanced networking. So, If I am understanding this correctly if I use an internal load balancer,  it is not mandatory to have outbound internet connectivity?

[2018-10-02 18:09] #8548 closed

[2018-10-02 18:11] SaurabhSharma-MSFT commented on #15932
@christiankuhtz @phillipsj  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-02 18:12] kobulloc-MSFT commented on #16012
@TomArcher It looks like we could use a bit more clarity in step 2.  Where the document says "Navigate to the azurerm_resource_group and copy the code in the Example Usage code block:", it sounds like we want the reader to navigate to an Azure resource group but what I'm seeing is that we want the reader to simply go to the link provided and copy the Example Usage code block.  I think the undersco

[2018-10-02 18:14] rcarrara99 commented on #15947
Any qos to be honest. Can I apply differentiated services based on qos markings? For instance if in wanted to run some real-time traffic like voice can it be prioritized over other traffic?
Also, and maybe more importantly, is it a guaranteed service? Am I guaranteed the capacity I purchase?
Are there any SLAs in regards to latency, jitter and packet delivery too?

Thank you,
Richard

Sent from my

[2018-10-02 18:17] kobulloc-MSFT commented on #16025
@breyed Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-02 18:27] brlewi commented on #15620
(insert text here)[https://github.com/MicrosoftDocs/azure-docs/issues/14537]

[2018-10-02 18:30] brlewi commented on #15620
(https://github.com/MicrosoftDocs/azure-docs/issues/14537)[hello]

[2018-10-02 18:32] mike-urnun-msft commented on #15660
Hi @serixscorpio We have added an entry to the linux distro list to reflect Ubuntu 18.04 Bionic. The change may take a few hours to reflect on the doc and this issue will auto-close upon next scheduled merge. Thank you for your valuable feedback and contribution to MS Docs!

[2018-10-02 18:33] krokoko commented on #14965
The issue has been created here : https://github.com/Azure/iotedge/issues/387

[2018-10-02 18:41] mike-urnun-msft commented on #15880
Hi @laultman Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-02 18:41] brlewi commented on #15378
`test`

[2018-10-02 18:41] brlewi commented on #15580
`test`

[2018-10-02 18:43] Karishma-Tiwari-MSFT commented on #16032
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 18:43] MarileeTurscak-MSFT commented on #16014
Thanks for your feedback! I created a pull request with the typo fix. I'll wait for approval from @MicrosoftGuyJFlo before merging.

[2018-10-02 18:43] #16014 closed

[2018-10-02 18:44] brentblawat opened #16036 "Device Support for Enterprise State Roaming"
I've been doing some exam prep for an Azure certification, and the prep referred to Enterprise State Roaming being available for Windows 7 & 8 systems. I don't see any documentation stating that it supports 7 & 8. Is there any clarification someone has around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470c6ca

[2018-10-02 18:44] Karishma-Tiwari-MSFT commented on #16021
@briannipper Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@bobbytreed Can you please take a look. Thanks.

[2018-10-02 18:44] brlewi commented on #15580
- [ ] test

[2018-10-02 18:47] Karishma-Tiwari-MSFT commented on #15898
@KhaledJemni Can you please share the url of the document you are referring to?

[2018-10-02 18:47] MarileeTurscak-MSFT commented on #16019
@ermacia91 I have assigned this issue to the content author, @billmath , for follow-up. Thanks!

[2018-10-02 18:49] #15660 closed

[2018-10-02 18:49] TravisCragg-MSFT commented on #15947
@rcarrara99 Unfortunately QoS is not available at this time. If you would like us to add this feature in the future, [you can leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

There is some [QoS Available for Skype for Business](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-qos) in some situations for ExpressRoute.

You can[ find the SLA for Expres

[2018-10-02 18:50] TravisCragg-MSFT commented on #15998
@cha000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 18:51] MohitGargMSFT commented on #15886
@limjianan In case you have opened a MSDN thread, please post MSDN Thread URL here and we will ensure that your query is appropriately addressed in forum.

[2018-10-02 18:51] MohitGargMSFT commented on #15889
@baaaron Please help with above requested information.

[2018-10-02 18:52] TravisCragg-MSFT commented on #16004
@Brenduns Thanks for the fantastic doc!

@vinu04 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-02 18:52] #16004 closed

[2018-10-02 18:53] rcarrara99 commented on #15947
Thank you. Can you tell me if the capacity i purchase is guaranteed?

If I buy 10G Global Reach and I guaranteed 10G of capacity?

Thanks,
Richard

Sent from my mobile phone

On Oct 2, 2018, at 1:49 PM, TravisCragg-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@rcarrara99<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_rcarrara99&d=DwMFaQ&c=gxW9PgscCAGwFI

[2018-10-02 18:54] TravisCragg-MSFT commented on #15976
@rathishrms what line are you referring to?

[2018-10-02 18:55] aekinkjet2561 opened #16037 "Win"
Win

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a309a81b-ea61-d82a-3ff7-5be5bb908c4a
* Version Independent ID: ea5b0931-1397-a0ea-4ad0-2cf2e6200fb8
* Content: [Azure Log Analytics PowerShell Samples](https://docs.microsoft.com/en-us/azure/log-analytics/powershell-samples)
* Content Source: [articles/log-analytics/po

[2018-10-02 18:56] rathishrms commented on #15976
$UsageReporting = True

From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, October 3, 2018 12:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rathish Ravikumar <rathishr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] $UsageReporting = True (#15976)

@rathishrms<https://na01.safelinks.protection.outlook.com/?url=ht

[2018-10-02 18:59] Karishma-Tiwari-MSFT commented on #15885
@brijrajsingh Can you please share the url of the doc you have been referring to?

[2018-10-02 19:04] YutongTie-MSFT commented on #14592
@Aaron-Yue We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 19:04] #14592 closed

[2018-10-02 19:10] CelesteDG commented on #15758
The fix has been merged. #please-close

[2018-10-02 19:13] ramankumarlive commented on #10041
PR to fix the issue: https://github.com/Azure/azure-docs-powershell-samples/pull/149

[2018-10-02 19:34] rolyon commented on #15933
Yes, you can find the list of all the Microsoft.DBforPostgreSQL operations here:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftdbforpostgresql

[2018-10-02 19:35] femsulu commented on #15923
Confirmed. This is not supported. The pre-requisite for the discovery and assessment is that the VMs that you plan to migrate must be managed by vCenter Server and you would need read access to the vCenter server to discover the on-premises VMs.

[2018-10-02 19:37] femsulu commented on #15923
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-02 19:37] #15923 closed

[2018-10-02 19:39] douglaslMS commented on #15909
Sent question to Data Factory team.

[2018-10-02 19:40] jason-j-MSFT commented on #15956
@antonihanus thanks for the catch.

[2018-10-02 19:40] #10041 closed

[2018-10-02 19:41] sanpil commented on #15914
Thanks for the feedback. We are working on updating the notebook.

[2018-10-02 19:42] YutongTie-MSFT commented on #15854
@diberry  Hi, this is a document bug, could you please check it and update the document as necessary? Thanks a lot!

[2018-10-02 19:42] MicahMcKittrick-MSFT commented on #16001
An internal load balancer will not mean the cluster cannot talk to the internet. Rather it means the outside cannot connect to it.

Are you looking to specifically stop any traffic from the cluster to reach the internet? Or are you just looking to ensure no one can access it from a public endpoint?

[2018-10-02 19:46] YutongTie-MSFT commented on #15857
@v-deken Hi, the link to Git is broken, could you please check and update it? Thanks a lot!

[2018-10-02 19:51] Karishma-Tiwari-MSFT commented on #15836
@diegoviso Can you please chime in and share your insight on this? Thanks.

[2018-10-02 19:52] Karishma-Tiwari-MSFT commented on #15836
@rupaks I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 19:52] anosov1960 commented on #8855
@aaronralls Thanks for the feedback. It’s likely that restore failed with some internal error and we return a generic error in that case. Has it been investigated by support? if so can you pls share the ticket nr. If not I encourage you to report asap if you see this again.

[2018-10-02 19:53] thedrum808 opened #16043 "Not all users are seeing this option"
I've got some users in my tenant who can enable phone sign-in on their AzureAD accounts using the Authenticator app, but do not see the sign-in option to use it when signing into a browser with Azure AD. Is this a known issue or new?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
*

[2018-10-02 19:54] Alberto-Vega-MSFT commented on #16037
Hi @aekinkjet2561 It seems like this issue was created accidentally? If not would you please explain if you are having an issue or you have a suggestion for this document?

[2018-10-02 19:54] Karishma-Tiwari-MSFT commented on #15836
@jpconnock Assigning it to you as I couldn't find @diegoviso in the assignee list.

[2018-10-02 19:54] YutongTie-MSFT commented on #15913
@VikramPendse  Does it solve your problem?

@diberry Thanks a lot!

[2018-10-02 19:54] cijothomas commented on #16025
refer this: https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Custom-Configuration#track-custom-traceeventmetric for example usage of getting TelemetryClient in asp.net core apps

[2018-10-02 19:55] Alberto-Vega-MSFT commented on #16026
@basavaraj64 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 19:56] thuansoldier commented on #15933
@rolyon my understanding is that these operations are supported in the RBAC role definition. If so I'd suggest to add to the list of built-in roles. It's just suggestion for informational article.

[2018-10-02 20:17] MohitGargMSFT commented on #15890
Azure AD B2C does provide password lockout. The logic and duration is not a straight forward, "lock out X minutes with exponential cooldown after Y wrong password attempts." There's an intelligent and evolving algorithm that considers many other signals to disambiguate between bad actors and mistakes and other benign scenarios.

Read more about in the [Azure AD B2C Threat Management documentation]

[2018-10-02 20:18] v-deken commented on #15857
On it - sample appears to have undergone some restructuring, the link is now obsolete.

[2018-10-02 20:19] dumnovnz commented on #15632
It does not support R but supports Data Science / ML solutions that could
include AzureML R modules or R code block. Or even could be entirely
written in R; ADF is supposed to orchestrate  those solutions, but there
are no proper documentation to support the users.

On Tue, 2 Oct 2018 at 03:48, Jeremy Peach <notifications@github.com> wrote:

[2018-10-02 20:27] glloyd2010f commented on #15568
any update on this? Getting this enabled would provide a very useful pipeline to deploy our runbooks in a controlled and consistent fashion.

[2018-10-02 20:28] barbkess commented on #15864
@fullenw1 : Thanks for sending this issue.  I have created a backlog item to get this fixed.  It should get fixed very soon.

[2018-10-02 20:30] georgewallace commented on #15568
@glloyd2010f Thanks for reaching out. I am working on getting this into the docs.. here are the required permissions needed.  I will be adding this to the docs this week. Thanks for your patience.

### GitHub

|Scope  |Description  |
|---------|---------|
|**repo**     |         |
|repo:status     | Access commit status         |
|repo_deployment      | Access deployment status         |
|public_r

[2018-10-02 20:33] mattbriggs commented on #15558
@SychevIgor Thanks for feedback. I've removed a confusing screenshot and reviewed the function section and updated the topic. #please-close

[2018-10-02 20:38] MohitGargMSFT commented on #15977
@pjt33 The instructions works as expected for me. I can find all the directory I have access to in the drop down. Please check the account with which you are logged in to Azure Portal and what all directories that account has access to.

[2018-10-02 20:39] Mike-Ubezzi-MSFT commented on #15784
@azusa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 20:39] #15784 closed

[2018-10-02 20:40] cforbe commented on #15999
Thank you for catching that! It's being updated

[2018-10-02 20:41] YutongTie-MSFT commented on #15999
@cforbe Thanks for the quick action.

@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 20:41] #15999 closed

[2018-10-02 20:42] Mike-Ubezzi-MSFT commented on #15859
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-02 20:43] MohitGargMSFT commented on #16005
@frankhu1234 The optional claim is supported in Azure AD 2.0 end point and details of it is provided in the document. Please help me with specific information on what is not supported so that we can check on it accordingly.

[2018-10-02 20:48] SuttyHoo commented on #10795
I am using Postman to run E4_SmsPhoneVerification.

 context.GetInput<string>(); (always returns null)
I have tried to populate the body with a phone number;  (Raw + application/json or text) also used params (key-value pair without success).
What is the trick?
 Thanks

context.GetInput<string>() returns null

[2018-10-02 20:48] pjt33 commented on #15977
@MohitGargMSFT, the question is what *works as expected* looks like. What element(s) of what object(s) are formatted to produce the rendered string?

[2018-10-02 20:48] Karishma-Tiwari-MSFT commented on #15980
@moasifk It looks like we do not have 'metric name' option available for autoscaling the VM based on **memory usage** as per details in this [doc](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-autoscale-overview#autoscale-rule-criteria).

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the doc

[2018-10-02 20:49] YutongTie-MSFT commented on #14924
@v-deken Thanks for the quick action.

@ozyogz We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 20:49] #14924 closed

[2018-10-02 20:49] aljo-microsoft commented on #15320
@SaurabhSharma-MSFT

Why this this issue not closed?

It is not an issue with the documentation, and thus keeping this open doesn't make sense; the user has been provided feedback link to file enhancement requests.

[2018-10-02 20:50] Mike-Ubezzi-MSFT commented on #15821
@silvermoong Currently, at this moment in time, there is no support for .NET Core and Azure Functions 1.x. You must use Azure Functions 2.x.

[Azure Functions Runtime 2.0 breaking changes](https://azure.microsoft.com/en-us/updates/azure-functions-runtime-2-0-breaking-change-notice/)

Please let us know if you have any additional questions.
Regards,
Mike

[2018-10-02 20:50] SaurabhSharma-MSFT commented on #15993
@jpr2016git Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-02 20:54] YutongTie-MSFT commented on #15676
@rquintino Thanks for the feedback, it really help a lot!

@hning86 Thanks Hai.

[2018-10-02 20:54] #15676 closed

[2018-10-02 20:55] Mike-Ubezzi-MSFT commented on #15821
Please (also) see the following: https://github.com/Azure/Azure-Functions/issues/805#issuecomment-425593711

[2018-10-02 20:56] MohitGargMSFT commented on #16020
@toddjohnson39 Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-02 20:58] mike-urnun-msft commented on #15638
Yes, the limitation is imposed by [Azure App Service sandbox](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#definition-of-the-sandbox) in which your NodeJS or other runtimes are run under.

Since this channel is for driving improvements towards this documentation, could you open a thread on MSDN for this issue that you're facing, and tag me here (with URL of the thread) in your re

[2018-10-02 20:58] #15638 closed

[2018-10-02 21:03] SaurabhSharma-MSFT commented on #15320
@aljo-microsoft Sorry, this is being open by mistake.
@inmishrar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 21:03] #15320 closed

[2018-10-02 21:05] Karishma-Tiwari-MSFT commented on #15792
@rwike77 @timlt Can either of you please provide the right link here? Thanks.

[2018-10-02 21:08] SaurabhSharma-MSFT commented on #16009
@ggianelli Licensing information is mentioned at the top of the page and in Important notes section -

[2018-10-02 21:08] SaurabhSharma-MSFT commented on #15918
@jeevansd Thanks for your confirmation.
@msilinda We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 21:08] #15918 closed

[2018-10-02 21:08] jason-j-MSFT commented on #15146
@irgnosis the instructions work fine for me on Windows 10, what OS are you using?
![capture48](https://user-images.githubusercontent.com/37126381/46377133-a7cf6080-c64c-11e8-8aa6-d894a268897d.PNG)

[2018-10-02 21:09] mbrancato opened #16045 "Support for the azure-dns-label-name annotation"
Currently the method to set the DNS hostname for a LB public IP is via  wonky shell script. This annotation is supported by AKS and isn't mentioned on the docs site at all. At a minimum, it should be mentioned as an option while in beta, and then updated thru stable release or as it migrates to a different annotation or method.

Re:
service.beta.kubernetes.io/azure-dns-label-name

---
#### Documen

[2018-10-02 21:09] Mike-Ubezzi-MSFT commented on #15838
I am able to reproduce this:

  Running setup.py (path:C:\Users\miubezzi\AppData\Local\Temp\pip-install-gfc_erfm\future\setup.py) egg_info for package future
    Running command python setup.py egg_info
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\miubezzi\AppData\Local\Temp\pip-install-gfc_erfm\future\setup.py", line 93, in <module>

[2018-10-02 21:10] ggianelli commented on #16009
Yes, I saw that but it is not working with Azure AD P1.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, October 2, 2018 4:08:33 PM
To: MicrosoftDocs/azure-docs
Cc: ggianelli; Mention
Subject: Re: [MicrosoftDocs/azure-docs] License information (#16009)

@ggianelli<http

[2018-10-02 21:13] aljo-microsoft commented on #15171
@Arash-Sabet

API documentation provides this content:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.data.collections?view=azure-dotnet

The document you are referencing is a "How to".

Redundantly documenting our API's in our "How to's", to enable colocating that level of implementation detail, would make our "How to" documentation unusable.

Please reference the appropriat

[2018-10-02 21:13] TravisCragg-MSFT commented on #15981
@rathishrms you are correct, I have verified.

@jeffgilb I am unable to make this change to this doc for some reason, along with the change in #15981.

[2018-10-02 21:14] TravisCragg-MSFT commented on #15976
@rathishrms you are correct on this as well!

@jeffgilb just like #15981, I cannot make this change, I get an error.

[2018-10-02 21:15] LisandroSu opened #16046 "Sign-on URL/Reply Url seems to be incorrect in Documentation"
@jhueppauff commented on [Tue Oct 02 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/136)

I tried to set this up this way described by the Documentation.
But for me it seems I have to configure "https://login.microsoftonline.com/te/{tenant}.onmicrosoft.com/oauth2/authresp" as Reply Url as I got an Error Message which suggested that.

Can you please validate the Information in the d

[2018-10-02 21:15] LisandroSu commented on #16046
Hi Team,

Please check on this issue.

Thanks!

[2018-10-02 21:15] MohitGargMSFT commented on #15977
@pjt33 Please note that as stated in this section of the document [Before you begin](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory#before-you-begin), the account with which you are logged in in Azure Portal need to have Owner permissions on Azure Subscriptiona and that account must be present in both source/target Azure

[2018-10-02 21:16] #15171 closed

[2018-10-02 21:17] jeevansd commented on #15964
@chetansriv Can we update the article to use the NameID as email address instead of UPN? Also to add a note that "Make sure your user already exists in G Suite if provisioning in Azure AD has not been turned on"

[2018-10-02 21:20] frankhu1234 commented on #16005
The optional Claims is NOT supported on the v2.0 endpoint. please try it and you will see. Otherwise please provide a screenshot of this working properly.

[2018-10-02 21:22] cenkersoy opened #16048 "Typo on the page"
The word "Frabric" should be "fabric"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80a333ac-8208-4146-2d99-6b6258b64a3f
* Version Independent ID: 553642a3-6125-062f-350e-2538e3401a5d
* Content: [Deploy a secured Service Fabric cluster in Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack

[2018-10-02 21:30] jtuliani opened #16049 "Do scripts support input?"
The corresponding page for Linux VMs (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command) states that "Scripts that prompt for information (interactive mode) are not supported". Is the same true on Windows? It should either be listed as not supported, or the doc should explain how it is done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-10-02 21:32] TravisCragg-MSFT commented on #12771
@jdogg89 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-02 21:32] #12771 closed

[2018-10-02 21:33] Karishma-Tiwari-MSFT commented on #15869
@ashuthinks You can achieve that using [Azure automation.](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management)

[2018-10-02 21:33] brlewi commented on #15580
`Test`

[2018-10-02 21:36] SaurabhSharma-MSFT commented on #16046
@LisandroSu  Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 21:37] SaurabhSharma-MSFT commented on #16043
@thedrum808 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 21:37] Mike-Ubezzi-MSFT commented on #15863
@MNF We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-02 21:37] #15863 closed

[2018-10-02 21:38] SaurabhSharma-MSFT commented on #16036
@brentblawat Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-02 21:38] aljo-microsoft commented on #15141
@rudeGit
It is NOT true for creating ServiceFabric cluster, as the work flow for creating an SF cluster through portal doesn't provide a means to define these:
https://ms.portal.azure.com/#create/Microsoft.ServiceFabricCluster

Creating a VMSS does:
https://ms.portal.azure.com/#create/microsoft.vmss

@MicahMcKittrick-MSFT
Given this documentation is for Service Fabric, the documentation is correct

[2018-10-02 21:39] TravisCragg-MSFT commented on #15745
@ADNewsom09 you should be able to create a CNAME to point to your @ record.

[2018-10-02 21:40] georgewallace commented on #16049
@jtuliani Thanks for catching this. A fix will be put in to notate the same limitation on powershell.

[2018-10-02 21:42] mattbriggs commented on #16048
@cenkersoy  Thanks for noting this. I've updated the topic. #please-close

[2018-10-02 21:43] Mike-Ubezzi-MSFT commented on #15900
Duplicate of #15689

Customer was invited to reach out to Raj to clarify details. This functionality is currently not avaiable. https://github.com/MicrosoftDocs/azure-docs/issues/15689#issuecomment-425521293

[2018-10-02 21:45] MicahMcKittrick-MSFT commented on #15141
Thanks @aljo-microsoft

I think it would be good add the note as you mentioned. Reading it as it is can be confusing as it does give off the idea that auto scale is not supported for scale sets all up rather than just when provisioning a SF cluster through the portal.

If you are good with the statement you wrote "Currently, you are not able to specify the auto-scale rules for virtual machine scal

[2018-10-02 21:46] #15558 closed

[2018-10-02 21:48] femsulu commented on #16027
@RoyKimYYZ thanks for bringing this to our attention. The typo issue has been fixed and should be live soon. CLosing this issue as resolved.

[2018-10-02 21:48] #16027 closed

[2018-10-02 21:52] ADNewsom09 commented on #15745
@TravisCragg-MSFT

My registrar does not allow it (google domains), also speaking with several other registrars they will not allow it either. see https://serverfault.com/questions/613829/why-cant-a-cname-record-be-used-at-the-apex-aka-root-of-a-domain as an example

[2018-10-02 21:56] rcarrara99 commented on #15947
I'll start a new question. Thanks!

[2018-10-02 21:59] CarlRabeler commented on #15912
PR pending merger now

[2018-10-02 22:00] brlewi commented on #14537
Please ignore above reference as this was a result of testing. Thanks.

[2018-10-02 22:01] aljo-microsoft commented on #14761
@barclayn

I have resolved my issue and it is documented.

[2018-10-02 22:01] #14761 closed

[2018-10-02 22:06] YutongTie-MSFT commented on #14073
@szhaomsft Thanks!

@jjgriff93 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 22:06] #14073 closed

[2018-10-02 22:07] rcarrara99 opened #16051 "Is the Global Reach Add-on Required on both ExpressRoute circuits?"
Do I pay once and it covers both circuits or do I have to pay for the add-on for each circuit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2e5cb1-6388-4944-b2bb-c98152c5fe65
* Version Independent ID: 841a4807-a4b3-4d4d-31e8-a25c540f3bfc
* Content: [Azure ExpressRoute Global Reach](https://docs.microsoft.com/en-us/

[2018-10-02 22:07] CarlRabeler commented on #14186
@jovanpop-msft can you please respond to Sasha's question re: the png image in this document in question.

[2018-10-02 22:09] rcarrara99 opened #16052 "Global Reach Circuit Bandwidth"
Am I guaranteed the full capacity of the service I purchase? If I purchase the 10G Global Reach add-on am I guaranteed full 10G capacity for as long as I am using the service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2e5cb1-6388-4944-b2bb-c98152c5fe65
* Version Independent ID: 841a4807-a4b3-4d4d-31e8-a25c540f3b

[2018-10-02 22:10] romankiss commented on #15698
@anthonychu The current version of the SignalR Service extension bindings is configured with 5001 port. Based on the azure team notification email, the action is required for updating 5001/5002 ports to the standard https port 443.
My question is: Is there a plan (and when we can expect it) new version of the Microsoft.Azure.WebJobs.Extensions.SignalRService  assembly?

Thanks
Roman

[2018-10-02 22:10] #15141 closed

[2018-10-02 22:17] VickiFu opened #16054 "Update"
It is better to add HDInsight, also Microsoft Machine learning Server is not on-prem only solution, you can use it in the Azure too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91925913-8bb4-a7c9-1b43-a466155cabd9
* Version Independent ID: 56367f6b-04c9-0bdf-8769-ff23d1382135
* Content: [Compare the machine learning

[2018-10-02 22:19] TravisCragg-MSFT commented on #15947
@rcarrara99 I am currently checking to see what guarantees & SLAs we have. I will post any updates as soon as I have them here or on a new thread if needed.

[2018-10-02 22:22] mathieu-benoit opened #16055 "Add a note about key containing ":" should be replaced by "__" (two underscores)"
Add a note about key containing `:` should be replaced by `__` (two underscores). Example with `ApplicationInsights:InstrumentationKey` it will be `ApplicationInsights__InstrumentationKey` in AppSettings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80

[2018-10-02 22:30] MicahMcKittrick-MSFT commented on #16045
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-02 22:32] BryanTrach-MSFT commented on #15860
@XanderM1960 and @Eithcowich, can you please verify if [Azure/azure-cli-extensions#325](https://github.com/Azure/azure-cli-extensions/issues/325) is the issue you are having?

[2018-10-02 22:32] binoyjt commented on #15378
That is Strange then.
I still can see the ZRS Option for a V1 Storage account when i choose Australia SouthEast. (Screenshot below)
![image](https://user-images.githubusercontent.com/40192393/46380733-c3874500-c6e6-11e8-9e81-10a689ff77e9.png)

I also Tried West US and I still see the "ZRS" option for the V1 Account. (Screenshot below)

![image](https://user-images.githubusercontent.com/40192393/46

[2018-10-02 22:35] v-deken commented on #15857
Fixed - the entire paragraph, including the link, has been removed.

[2018-10-02 22:35] spacecat commented on #16006
They are different topics but related.
I actually managed to solve that one with some help at SO. Will update the issue accordingly.

This one is about a more in general discussion regarding production workloads scenarios in AKS using TLS, HSTS, HTTPS redirection,  non-www to www rewrite, Ingress, reverse proxy,  load balancer, one single public IP for multiple backend services, ASP.NET Core 2.1+.

[2018-10-02 22:38] SaurabhSharma-MSFT commented on #16005
@frankhu1234 Sorry for the confusion.  As per different reported issues on v2 endpoint on optional claims it seems there is some limitation around using it. I have assigned this issue to content author to investigate and update the document as appropriate with the correct information.
@CelesteDG  Can you please validate and help updating the documentation as appropriate.

[2018-10-02 22:40] dgonzalezp commented on #12374
"State 2: Homed in a Microsoft account and represented as a guest user in the host organization. In this case, the guest user signs in with a Microsoft account." Its not working, is there any workaround?

[2018-10-02 22:42] CelesteDG commented on #15449
@thomaslevesque - Thank you for the feedback. We have an update queued up (should go live tomorrow rnorning) that includes a description about prompt=select_account. It should say:

prompt=select_account sends the user to an account picker where all of the accounts remembered in the session will appear.

Thank you.

[2018-10-02 22:44] ggailey777 commented on #15798
@JohnReeson Thanks for reporting this bug (good catch)--it's being fixed as we speak!

[2018-10-02 22:58] jason-j-MSFT commented on #15839
@bwren could you take a look at this enhancement request?

[2018-10-02 22:58] rwike77 commented on #15792
WebPI is the supported/recommended installer.  Unfortunately, you occasionally see runtime errors when clicking on the download links.  As a workaround, you can also get direct links to the installers from the release notes for a specific Service Fabric release.  The release notes can be found in the various release announcements on the [Service Fabric team blog](https://blogs.msdn.microsoft.com/a

[2018-10-02 22:59] TravisCragg-MSFT commented on #16048
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-02 22:59] #16048 closed

[2018-10-02 23:04] davidsakaria commented on #15860
I too have the same issue:

TypeError: init() takes 1 positional argument but 2 positional arguments (and 2 keyword-only arguments) were given

[2018-10-02 23:05] jason-j-MSFT commented on #15870
@danmyhre also take a look here:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-manage-access

I would think about segregating by user access need, but also data retention and overall data use.

[2018-10-02 23:05] Karishma-Tiwari-MSFT commented on #16033
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-02 23:06] ggailey777 commented on #15798
Fixed in the private repo (#please-close)

[2018-10-02 23:07] YutongTie-MSFT commented on #15887
@AndyButland Hi, I have fixed it. You should see the change shortly. Thanks a lot. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 23:07] #15887 closed

[2018-10-02 23:11] #15798 closed

[2018-10-02 23:11] YutongTie-MSFT commented on #16054
@VickiFu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson Hi, this is a document enhancement, can you please check it and update the document as necessary? Thanks a lot!

[2018-10-02 23:12] iainfoulds commented on #16045
Thanks for the feedback, @mbrancato.

The bash script is to update the Azure public IP address resource created for the ingress controller with the DNS name in a stable, supported manner. In this example, that ingress resource isn't created through regular YAML manifests by the user, rather through the Helm chart. I don't believe that Helm chart currently includes the ability to define that annota

[2018-10-02 23:17] YutongTie-MSFT commented on #15857
@v-deken Thanks! Love your quick action!

@rmandil We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 23:17] #15857 closed

[2018-10-02 23:18] mike-christensen commented on #15792
@rwike77 By "supported/recommended" installer, do you mean there are other ones and/or unsupported ways to install it?  I'm looking for a way to install the SDK and toolkit, but not the runtime.  I've found a way to do it by hand but it took a lot of reverse engineering and is fairly hacky.

[2018-10-02 23:21] MarileeTurscak-MSFT commented on #15975
This functionality is not supported out of the box, and JavaScript isn't supported yet in B2C customization either. There are some workarounds you can use that should work, though. You can hide the "intro" div and then add a div in place and use the CSS "content" attribute to add in your custom text.

Here's the CSS:

/*this hides the default intro text and replaces with your own text*/
.intro {di

[2018-10-02 23:28] Alberto-Vega-MSFT commented on #15810
Thanks for your feedback! Quickbooks Desktop it's not supported by this connector. This doc needs to clarify that to avoid confusion.

A suggestion would be to export data from QuickBooks desktop to comma separated value file and  [Upload it to Azure Blob Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal) Once there you can use Data Factory to put it in

[2018-10-02 23:28] rahulrai-in commented on #15867
I used the connection string to connect to the file share. Even if I have the connection string, would I still need to login to Azure to connect to the share?
I will try the approach and let you know.

[2018-10-02 23:30] dlepow commented on #15925
Article updated with corrected link. Thanks again for pointing it out.
#please-close

[2018-10-02 23:34] jafreck commented on #15925
Thanks!

[2018-10-02 23:34] #15925 closed

[2018-10-02 23:38] SnehaGunda commented on #14963
@jkonecki the ChangeFeedOptions object is passed as a parameter to the CreateDocumentChangeFeedQuery method that is available within the change feed processor SDK. It's not a bug. Please let us know if you have additional questions.

[2018-10-02 23:46] YutongTie-MSFT commented on #15971
@AndyButland Hi, I have fixed the bug, you should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 23:46] #15971 closed

[2018-10-02 23:47] SnehaGunda commented on #13575
@jkindwall thanks for your feedback and sorry about the long delay in getting back on this, we were swamped with the Ignite deliverables. Thanks for the suggestions, we will consider improving this doc per your feedback, adding this to our backlog. @markjbrown FYI

We also encourage community contributions, in future if you are interested to make edits to the doc, please feel free to contribute. Y

[2018-10-02 23:47] SnehaGunda commented on #13575
#please-close

[2018-10-02 23:49] dcbrown16 commented on #15238
Thanks @AnithaAdusumilli, just let me know when the edit goes through and I can close!

[2018-10-02 23:51] YutongTie-MSFT commented on #14973
@xurui203 Any update? Thanks.

[2018-10-02 23:52] YutongTie-MSFT commented on #14811
@beachseeker We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 23:52] #14811 closed

[2018-10-02 23:53] YutongTie-MSFT commented on #15440
@jamesbak Hi, any update on this? Thanks!

[2018-10-02 23:54] YutongTie-MSFT commented on #15386
@rkarlin Hi, any update on this? Thanks!

[2018-10-02 23:57] MarileeTurscak-MSFT commented on #15963
Please make sure you have finished the following steps 1-3 and run the following Windows PowerShell again:

1.Install [Microsoft Online Services Sign-In Assistant for IT Professionals RTW](https://www.microsoft.com/en-us/download/details.aspx?id=41950&tduid=%28bd1e92d8aeac102281d931522e24a0d3%29%28256380%29%282459594%29%28TnL5HPStwNw-6XajFlqDlrOlYv8G3APkxw%29%28%29)

2.Install [Azure Active Direct

[2018-10-02 23:57] YutongTie-MSFT commented on #14603
@farabisameer We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-02 23:57] #14603 closed

[2018-10-03 00:06] Alberto-Vega-MSFT commented on #15813
Thanks for the feedback! Can you post this as a feedback @[Log Analytics User Voice.](https://feedback.azure.com/forums/267889-log-analytics)This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

We will now proceed to close this thread

[2018-10-03 00:06] #15813 closed

[2018-10-03 00:12] berviantoleo commented on #15963
I think it will good enough to place it in Documentation, because it has different things than *Enabled* and *Enforced*. I want to try it first. Thank you.

[2018-10-03 00:15] rwike77 commented on #15792
@mike-christensen WebPI is recommended since it installs multiple components at the same time.  Installing the MSIs manually is also supported.  The direct installer links can be found in the [6.3.187 release notes](https://msdnshared.blob.core.windows.net/media/2018/10/Microsoft-Azure-Service-Fabric-Refresh-2-Release-Notes-SDK-3.x-Runtime-6.3.pdf), which were announced [here](https://blogs.msdn.m

[2018-10-03 00:27] jackbond opened #16057 "Service Fabric compatiblity"
Has anyone got this to run within Service Fabric on a developer machine?

I set the connection string to "RunAs=Developer; DeveloperTool=AzureCli" and login with "az login" but all I get is the following exception...

"Parameters: Connection String: RunAs=Developer; DeveloperTool=AzureCli, Resource: https://vault.azure.net, Authority: https://login.windows.net/[Obfuscated]. Exception Message: Trie

[2018-10-03 00:28] bwren commented on #15839
This actually isn't correct.  We ingest data into Log Analytics from a variety of sources including PaaS resources.  They may not write directly to it like agents in a VM, but we have different ways of getting the data there.  Much of this is described in https://docs.microsoft.com/azure/monitoring/monitoring-data-sources.

[2018-10-03 00:28] bwren commented on #15839
#please-close

[2018-10-03 00:31] marstr opened #16058 "Set-Session-State operation code"
[In the Set-Session-State paragraph](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#request-6), it says that its operation ID is "com.microsoft:peek-message". [In the C# library](https://github.com/Azure/azure-service-bus-dotnet/blob/e1f6e531ac8dc2417d59c03a983d9987e3850989/src/Microsoft.Azure.ServiceBus/Amqp/ManagementConstants.cs#L31), this operati

[2018-10-03 00:41] bwren commented on #15526
@diberry Thanks for catching that.  Those are supposed to be vertical bars which are represented by &#124.  When we added the code delimiters though, it doesn't render the code.  I'll get it fixed.

[2018-10-03 00:41] bwren commented on #15526
#please-close

[2018-10-03 00:41] Alberto-Vega-MSFT commented on #15920
Thanks again for the feedback! I agree that this would add value to this document. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-03 00:58] BryanTrach-MSFT commented on #16055
@mathieu-benoit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-03 01:15] #16045 closed

[2018-10-03 01:16] MicahMcKittrick-MSFT commented on #15867
@rahulrai-in I believe you will because all you are providing is the storage account name. Not an actual storage URI. So I am assuming it is getting confused.

[2018-10-03 01:18] rahulrai-in commented on #15867
But I have already added the connection details as secret in the cluster and referenced it from the volume spec as shown in the document.

[2018-10-03 01:27] MicahMcKittrick-MSFT commented on #15867
You are able to create the secret even if it is incorrect. So although you mentioned the secret if it did not set correctly you could be seeing issues. I am not overly familiar with managing kubernetes via minicube and these docs are fairly specific with their scenarios. So it might not work in the manner you are looking for. In which case I would suggest reaching out to the Stack Overflow communi

[2018-10-03 01:37] johndowns opened #16061 "Bug when deploying Application Insights custom metric alert"
There appears to be a bug when deploying metric alerts with custom Application Insights metrics.

If I deploy a metric alert using an ARM template, as documented on this page, I have to specify the custom metric name in the `metricName` property. However, when I deploy the template, I get the following deployment error:

[code]

I assume this is because there is no data with that metric name in Ap

[2018-10-03 01:38] MicahMcKittrick-MSFT commented on #15941
@brianstringfellow so to confirm here, you have your cluster setup with CommonName Certificates in Azure and you can connect to the SF explorer. But the issue is when you deploy an application to it? It is the application that is not loading? What do you see in the Service Fabric Explorer? Any errors?

[2018-10-03 01:40] mike-christensen commented on #15792
@rwike77 Cool that's super helpful!  So, it appears neither of those MSI files will install on Windows Server Core, which prevents the SDK and tools from being installed on a Docker image.  If it were possible to run the SDK and VS tools in a Windows Docker container, you would make quite a lot of people very happy.  The WebPI installer doesn't appear to work since it tries to muck with the kernel

[2018-10-03 02:17] mike-christensen commented on #15792
I was able to get verbose logs from both MSI installations if you guys want to take a look.  It seems that the SDK errors out due to:

`This product requires Service Fabric Runtime to be installed.`

(Which of course cannot be installed since it mucks with the kernel).

The VS2015 tools installer errors out due to:

`This feature requires Microsoft Visual Studio Community 2015 or higher.`

It's po

[2018-10-03 02:35] tuleism commented on #15960
@MicahMcKittrick-MSFT

No it's not the current Azure Docs. I found an old link to a "guidance" article that doesn't work anymore. So I tried googling and found it in some old forks of `Azure/azure-content-internal`, which doesn't exist anymore.

Now, this repository still have the same structure with a `guidance` directory and the [TOC](https://github.com/MicrosoftDocs/azure-docs/blob/master/artic

[2018-10-03 02:40] thedrum808 commented on #16043
Thanks for the reply. After a little while, it kicked in. Not sure why it took a bit longer for some users, but it is working now. Thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, October 2, 2018 2:37:31 PM
To: MicrosoftDocs/azure-docs
Cc: thedrum808; Mention
Subject: Re: [MicrosoftDocs/azur

[2018-10-03 02:42] berviantoleo commented on #15963
Thank you for your answer. It's very helpful. I can disabled MFA using that steps. This issue can be closed. Also I updated the document within PR (Pull Request) #16056 so another people also know how to disabled MFA.

[2018-10-03 02:42] mbrancato commented on #16045
Thanks for the update @iainfoulds

I understand the reasoning provided, but I was hoping this could be included and mentioned while it is still in a beta version. I'm not sure a design proposal was ever submitted upstream for a more stable annotation usage. That said, the Azure docs include the use of beta features in many places. In fact, the creation of an internal LB, just before this page, exp

[2018-10-03 02:42] #15963 closed

[2018-10-03 02:46] ashuthinks commented on #15869
Hi Karishma ,
That link takes Daily start end and end date I tried that but i can not exclude sat and sunday from that.
requirement is want to start vm every day at 9am till 6pm but on sat and sunday it must be off.

https://docs.microsoft.com/en-us/azure/automation/media/automation-solution-vm-management/azure-portal-add-solution-02.png

[2018-10-03 02:52] sameerdhoot opened #16062 "Update connection instructions to LocalDB"
For question "Can I move the Azure AD Connect database from the local database to a remote SQL Server instance?" under point #1 the server name should be (LocalDb)\.\ADSync (it has an extra backslash).

To connect to a shared instance of LocalDB add .\ (dot + backslash) to the connection string to reference the namespace reserved for shared instances. For example, to connect to a shared instance o

[2018-10-03 02:54] mganeshphani opened #16063 "Can you mention some failure scenarios and possible outcomes in extreme cases"
For example
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-string#substring

what will be outcome of
substring(xyz, 0, indexOf(xyz,'.'))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a07d3c0-6235-85e6-40f5-1417c6cb8ed0
* Version Independent ID: 9c9ad7e3-cb9e-0e50-849d-

[2018-10-03 03:08] kudlatiger opened #16064 "How do I start and stop function app using powershell?"
I have a requirement to stop function apps for some time intervals. How do I do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Create your first function from the Azure Portal](https://docs.microsoft.com/

[2018-10-03 03:35] HannahHsiao opened #16065 "I couldn't find set-up-alert doc"
I couldn't find set-up-alert doc. the old link is : https://docs.microsoft.com/en-us/azure/billing/billing-set-up-alerts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 694a543a-e2f6-1046-b618-01acc45c4dfe
* Version Independent ID: 392351bb-9bba-0e62-c6ef-229c508e311d
* Content: [Prevent unexpected costs, manage billing

[2018-10-03 03:36] virajpangam commented on #16013
We have been following this:
https://github.com/Microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter

But it does not contain any information of how to authenticate with a certificate instead of client secret.

[2018-10-03 04:02] CelesteDG commented on #11847
@MohitGargMSFT @SaurabhSharma-MSFT @MarileeTurscak-MSFT - Per customer comment, they've found the answer. #please-close Thank you.

[2018-10-03 04:29] waynemsft opened #16066 "Questions for Update Management on Azure"
- for the packages listed on update management pages, how update management classify package as "security" and "critical" on CentOS or Ubunt ? based on what database?
- when new CVE was issued, how fast/quick can we see on update management page?
- when will the post-script be executed while VM need to reboot after update?

[2018-10-03 04:49] cregnier commented on #9569
the code that worked for me was:
$AzureContext = Get-AzureRmContext
$CloudAdminCred = Get-Credential -UserName AZURESTACK\AzureStackAdmin -Message "Enter the credentials to access the privileged endpoint."
Set-AzsRegistration -PrivilegedEndpointCredential $CloudAdminCred
-PrivilegedEndpoint AzS-ERCS01 `
-BillingModel Development `
-RegistrationName $RegistrationName `
-UsageReportingEnabled

[2018-10-03 04:50] cregnier commented on #9569
sorry forgot line for:
$RegistrationName = "<unique-registration-name>"

[2018-10-03 04:59] #15839 closed

[2018-10-03 04:59] #6311 closed

[2018-10-03 04:59] #9004 closed

[2018-10-03 05:00] #11847 closed

[2018-10-03 05:00] #13541 closed

[2018-10-03 05:00] #14640 closed

[2018-10-03 05:00] #15526 closed

[2018-10-03 05:01] #15758 closed

[2018-10-03 05:06] cregnier opened #16067 "This also works for post-deployment"
Login to your PEP which is exposed on the ERCS01 VM by running this command on your Hyper-V based HostOS machine:
Enter-PSSession -ComputerName AzS-ERCS01 -ConfigurationName PrivilegedEndpoint

Then do either:
Set-Telemetry -Enable
Set-Telemetry -Disable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66a174db-a7ca-f5f6

[2018-10-03 05:28] devchop opened #16071 "Setting up VNC"
Can you please provide the step for setting up VNC similar to Amaznon EC2 on NV Series??We are facing lots of issue settuping VN and using OpenGL Applications
https://aws.amazon.com/blogs/compute/deploying-4k-gpu-backed-linux-desktop-instance-on-aws/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704

[2018-10-03 05:39] #14950 closed

[2018-10-03 05:47] VikramPendse commented on #15913
@YutongTie-MSFT Yes. This solves my problem. Usually people tend to opt newer version of SDK which I did and hence the expectation was to have similar UI and template option for newer version of SDK. But after reading @diberry  comment I got resolution.Thanks to you and @diberry I am closing this from my end.

[2018-10-03 05:47] #15913 closed

[2018-10-03 06:21] DaveSlinn opened #16072 "Event Hubs tutorial example Power BI tile subtitle is misleading"
In the event hubs tutorial, the streaming analytics query specifies a sliding time window of 1 second but later on, in the Power BI section, the instructions say to enter a subtitle of the Fraudulent users dashboard tile as "Sum in last few minutes".  When you run the example and stream data to the event hub, the number changes rapidly, which is odd if you think it's the value for the last "few mi

[2018-10-03 06:26] jpchauhan opened #16073 "Need Proofreading on YARN Basics"
Lot of information given on YARN Basics, which is great!

However, I feel there is a need of Proofreading on content.

Example:

Sentence (as stated above) “The ResourceManager grants cluster compute resources to applications like MapReduce jobs.”

May be stated as:

The ResourceManager grants cluster’s compute resources to applications like MapReduce jobs.

--Correction: Use of apostrophe

The Re

[2018-10-03 06:30] jpchauhan opened #16074 "How to determine limits of the "Number of Containers"?"
When we say "the cluster has a fixed limit on the number of containers available". How do we determine that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40fdbf85-03fc-7ba1-dca8-4c46ad35500f
* Version Independent ID: 5d635132-623b-ba6a-27d7-1b801fe74fdf
* Content: [Hadoop architecture - Azure HDInsight](https://docs.

[2018-10-03 06:33] sahilpnckr123 commented on #15812
![screenshot 32](https://user-images.githubusercontent.com/43676326/46393786-4ff43080-c704-11e8-9191-4b4b75bff00a.png)

[2018-10-03 06:37] sahilpnckr123 commented on #15812
@TravisCragg-MSFT please refer the above image.

[2018-10-03 06:39] mike-urnun-msft commented on #16058
Hi @marstr Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-03 06:55] aakash2602 commented on #15742
Let me know what to change, I can update the document accordingly!

[2018-10-03 06:59] rsrinivasanhome commented on #15890
I think in this case the documentation needs to be updated

[2018-10-03 07:04] aakash2602 commented on #16065
It seems like this feature is not working so the document is deprecated and removed.

Probably, Microsoft Billing team can give you more details. I was just looking for an issue to create a PR so when I debugged the issue I got the info.

checkout this link - https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/billing

[2018-10-03 07:08] aakash2602 commented on #16058
I am fixing it!

[2018-10-03 07:09] saiasp opened #16076 "Max number of database limit"
How many number of databases can we create in Azure SQL, since we are developing a SaaS model project which requires, hundreds of databases (each one for each tenant)...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f6795f-45de-12da-60dd-cc7be805548c
* Version Independent ID: 7c3571de-62fa-09a2-0cb1-545a6e14f8fe
* C

[2018-10-03 07:11] jkonecki commented on #14963
Hello @SnehaGunda,

I think we are talking about different pieces of code. Sample code in Step 4 doesn't call CreateDocumentChangeFeedQuery at all. There are no more code samples on this page as Step 4 is the last one.

[2018-10-03 07:42] #16076 closed

[2018-10-03 07:43] saiasp commented on #16076
Got the answer here
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-elastic-pools

[2018-10-03 07:51] spacecat opened #16078 "How to keep connection open"
Hi,

How can I keep the Kubernetes Dashboard connection open?

After some minutes of being idle I get the below error and have to re-run the az aks browse command again in my PowerShell window.

Handling connection for 8001
Handling connection for 8001
Handling connection for 8001
E1003 09:43:03.445673   11188 portforward.go:178] lost connection to pod

---
#### Document Details

⚠ *Do not edit th

[2018-10-03 08:11] MikkelHegn commented on #15792
@mike-christensen - We do not support Windows Server Core or running clusters in Windows containers. Please open an issue here: https://github.com/Microsoft/service-fabric/issues to handle that scenario.

The original reported issue her is the WebPI WebHandler not working consistently for the CoreSDK download link. @ChrisSfanos to look in to this. I am not consistently getting to the download usin

[2018-10-03 08:13] solomonaustin5 opened #16079 "Permissions"
Question :- I have an app registered in App registeration. I have granted Microsoft Graph API Permissions as well. Now what i want is, i am creating a new application and want to have the same permissions as the one that is already created only by changing the reply url's. Is it possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-03 08:24] reikor0x opened #16080 "Custom attributes are case sensitive"
Please add a note the the attribute search in the panel is case sensitive. If you search for "Attribute" you will not find "attribute" and vice-versa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f4cc1-1df2-f697-5b04-72f1ee1884d5
* Version Independent ID: e7d8694c-c83a-a230-1a64-4cec67ffb616
* Content: [Azure AD Co

[2018-10-03 08:25] reikor0x opened #16081 "Directory Extension attribute are cse sensitive"
Please add a note the attribute search in the panel is case sensitive. If you search for "Attribute" you will not find "attribute" and vice-versa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Azure AD Connec

[2018-10-03 08:42] nithinkd-geon opened #16082 "How to read messages from default endpoint using azure service bus sdk?"
is it possible to use azure service bus sdk to read message from the default  endpoint? if so
if so how to  set the connection string and queue name for service bus receiver

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eded614-310f-ddab-845d-4cdd6126537f
* Version Independent ID: d32113fd-f7bc-4644-b763-a0f9040f075d

[2018-10-03 08:43] nforss opened #16083 "Scaling services on demand"
The SF Mesh preview looks promising, but I've been looking and cannot find a way to scale the services on demand, other than doing the az deployment from the command line.

What I would like, is a way to create (and delete, both manually and automatically after they've finished their tasks) new replicas from another service. In the Visual Objects example, this could be done by having a button on t

[2018-10-03 08:46] Anmolgan81 commented on #15689
@vchske I have mailed this to viraj, currently we have 1000 databases on which we have 724 db's that uses the same schemas and other of the databases uses some different schemas. How can we migrate these db's to azure sql database's so that sql databases should also be created in azure and migrated as well. Also they want to test the SQL Databases migration into the Managed Instances, how can we g

[2018-10-03 08:46] mchudinov opened #16084 "Under ClaimsProviderSelects... It must be ClaimsProviderSelections"
In the sentence:
Under ClaimsProviderSelects, add the following element...

Not ClaimsProviderSelects, it is ClaimsProviderSelections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Independent ID: 054d298b-937e-9f01-ae56-7025e47e4eec
* Content: [Add ADFS as a SAML identit

[2018-10-03 08:50] thomaslevesque commented on #15449
Thanks @CelesteDG!

[2018-10-03 09:05] sahilpnckr123 commented on #15812
@TravisCragg-MSFT the problem is solved.

[2018-10-03 09:06] ArvidBaa opened #16085 "`train.py` doesn't reference `mylib.py` in Option 2: Use ScriptRunConfig section"
Under [Option 2: Use ScriptRunConfig](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-track-experiments#option-2-use-scriptrunconfig), the second point says that `train.py` references `mylib.py`, but there is no reference in the code snippet for `train.py`. I assume that the line
[code]

in the snippet for `train.py` should instead be something like

[code]

---
#### Documen

[2018-10-03 09:36] jtuliani commented on #15979
I found the page via Google. Having done so, it easy to miss that this is a Windows-specific page, and that there's a separate page for Linux. And even harder to actually find the Linux page, since they're far apart in the left-nav.

I suggest there should be a banner at the top of all such Windows-only pages explaining this is the Windows page and linking to the Linux page. And vice-versa.

[2018-10-03 09:39] sebastien59 commented on #12462
Hi,
I'm having the same problem.
I followed the example here : https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-portal

Yesterday, I had an external IP but I couldn't access it (but it worked on Monday), so I created a new cluster and now the external IP is pending  since 1 hour.

Any ideas ?
Thanks

[2018-10-03 09:45] jrmedd opened #16086 "503 Error when using customize start-up entry point"
Using an application deployed elsewhere, I'm trying to run a Flask application on Azure. My entry point is ```web_app:APP```, which I've configured in startup.txt.

The startup command is found (according to the Docker log) and Gunicorn starts:
[code]
However, I am unable to access the application, ending up with a 503 error. The application runs fine locally, and I've attempted to deploy several

[2018-10-03 09:51] jrmedd commented on #16086
Apologies, I've logged this issue in the wrong place, although this may be a documentation issue if there's a missing step!

[2018-10-03 09:58] Revocsid commented on #6349
Same issue here for northeurope location.
While I created the same environment 6 months ago and everything worked fine.

[2018-10-03 10:02] Sethu2488 opened #16089 "Is Gen5 available in Germany Central."
Is Gen5 available in Germany Central datacenter. If not, any ETA as to when this will be available.
Could not find much information in Azure regions productwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: