[2018-07-25 23:57] MohitGargMSFT commented on #12350
@kylomon I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-25 23:57] michelleryan opened #12384 "Current PowerBI service hosted by my company - can I use embedded PowerBI with the existing license?"
This sounds awesome.  I have a couple questions.  My company uses PowerBI and is hosting my service.  Can I still use PowerBI embedded , without Azure, with the license I already have?  If not, I am still unclear on the pricing to use this option.  We have a custom application using WPF that we would LOVE to use embedded power BI.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-07-26 00:14] dcbrown16 commented on #12330
Thanks @cynthn , in that case I would suggest we link it on the Linux VM doc navigation as well to make all of the options clear to Linux users.

[2018-07-26 00:19] burma-shave opened #12385 "js lanuage-integrated-query limited by pagesize?"
I'm finding that when using Collection.filter, the predicate is only applied to the first 100 documents in the collection by default (irrespective of how many are returned). Whereas with Collection.queryDocuments, the WHERE clause applies to all docs in the partition. Is that the expected behaviour? The docs imply that __.filter() is the same as using a predicate in the WHERE clause.

---
#### Doc

[2018-07-26 00:19] cynthn commented on #12330
@dcbrown16 agreed :) I'll create a work item to create a Linux version and get it into that TOC ASAP. Thank you for the feedback!

#please-close

[2018-07-26 00:22] EmilyNamugaanyi commented on #11753
No, I have not been successful so far.
cheers

Emily Namugaanyi
Developer
*Thought*Works
*, Inc*

On Thu, Jul 26, 2018 at 2:29 AM Micah <notifications@github.com> wrote:

[2018-07-26 00:22] EmilyNamugaanyi commented on #11753
No, I have not been successful so far.

[2018-07-26 00:30] femsulu commented on #12318
@tysonn adding you to this issue as I'm unable to resolve @keithcharlie in GitHub or MS GAL. please help route this to the right content owner/lead

[2018-07-26 00:31] BryanTrach-MSFT commented on #11978
Thank you for letting us know this issue can be closed. Please let us know if there are any concerns in the future.

[2018-07-26 00:40] gmoed opened #12387 "Network traffic flow"
Can you expand a bit on how is the data transferred to the vault on each type of backup?; for a crash-consistent backup should be directly captured in the back-end, but how does it happen for app/file level consistent? is it sent by the OS to the recovery services vault? if so, does that mean that if there is a VPN or Express route configured with forced tunneling, will the traffic go through ER/V

[2018-07-26 00:42] UTA-IdAM opened #12388 "Benefits listing"
by "You can manage your accounts in one central location - the Azure portal."  What is meant by "one central location"? Am I missing something? Without provision to Adobe Creative Cloud I still have to manage (Create/enable-disable/delete) accounts manually. Please clarify or provide instructions on how to accomplish account provisioning from Azure to Adobe Creative Cloud.

---
#### Document Detai

[2018-07-26 00:46] BryanTrach-MSFT commented on #12372
@msLinuxNinja Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 00:49] MarileeTurscak-MSFT commented on #12381
Thank you for the feedback! We are looking into this and will follow up shortly.

[2018-07-26 00:50] SaurabhSharma-MSFT commented on #12200
@jonfinerty We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 00:50] #12200 closed

[2018-07-26 01:01] femsulu commented on #12022
@DCtheGeek per George's OOF msg.

[2018-07-26 01:02] DaveB93 commented on #12379
I'm not sure why I didn't see this before.  I'm now doing

    "mysqlSettings": {
      "type": "array",
      "defaultValue": [
        {"key":"character_set_server","value":"UTF8MB4"},
        {"key":"innodb_file_per_table", "value":"ON"},
        {"key":"innodb_read_io_threads", "value":"8"},
        {"key":"innodb_write_io_threads", "value":"8"},
        {"key":"wait_timeout", "value":"28800"}

[2018-07-26 01:14] wngreenway opened #12390 "Allow Swagger URL to be public"
We have set up a back-end API App Service with Azure AD authentication enabled, though we would like to publish the Swagger URL publicly (so we can import it to Azure API Management). Is it possible to allow the Swagger URL to be accessed anonymously?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02

[2018-07-26 01:16] thuansoldier opened #12391 "Difference between AzureRMAD"
I'd like to know if this is a modern one which replaces AzureRmAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell examples for managing groups in Azure Active Directory](https://docs.microsoft.com/

[2018-07-26 01:35] frostygoth opened #12392 "Broken Link currently pointed to http://www.swagger.io/ needs to be pointed to https://swagger.io"
Issue in section "OpenAPI/Swagger." The link is associated with the words "Swagger Editor."

There is no useful content at http://www.swagger.io. There is only a splash page showing that the web host accepted the request with the error "This domain is successfully pointed at WP Engine, but is not configured for an account on our platform."

I recommend you change the link to https://swagger.io

--

[2018-07-26 01:50] CarlRabeler commented on #11584
#please-close
https://github.com/MicrosoftDocs/azure-docs-pr/pull/47361

[2018-07-26 01:55] polarapfel opened #12393 "Kudos for including this guidance."
Great to see that the documentation includes this guidance for a geo-redundant setup!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf9eec4-f13c-55e0-351a-84c1ea8f5a77
* Version Independent ID: 6cd22d70-e588-24b2-c1ac-2a3eded96fac
* Content: [Create a business continuty plan for your QnA Maker service - Microsoft Cog

[2018-07-26 02:10] patpicos opened #12394 "Window too small?"
Should the tumblingWindow be made larger to catch more fraudulent calls? The current window is set to 1 second, yet the join query is searching for calls made from 2 locations between 1 and 5 seconds. Would a sliding window be more appropriate for this use case to catch calls outside the window boundary, but still meeting the 1 to 5 seconds boundaries.

Thanks

---
#### Document Details

⚠ *Do not

[2018-07-26 02:49] polarapfel commented on #11540
I haven't walked through the whole thing with an actual sample yet, but here's how I understand this /should/ work.

In order not to duplicate questions from the various knowledge bases, the bot only serves as a front desk. You can probably deal with routing to the correct KB endpoint in at least two different ways if you don't want to maintain a large number of intents duplicating the questions f

[2018-07-26 03:01] davihar opened #12395 "Don't Deploy deployment.template.json"
I'm writing this to help others.  In the command:

az iot hub apply-configuration --device-id [device id] --hub-name [hub name] --content [file path]

It isn't clear what file path should be.  I incorrectly used deployment.template.json and got the error shown below logged on the device.  Instead cd into the config directory and deploy deployment.json.

Event Viewer logs:  warn: edgelet_utils::log

[2018-07-26 03:02] EliteTechnicalCare opened #12396 "This article assumes we are using the "new app" option"
The tutorial should include instructions for developers implementing Azure into existing apps as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47c6961f-7f60-31a2-a55e-9e778c2f6577
* Version Independent ID: b9cfb6bf-5ffe-c01b-36b6-1bbd8fc0e2f3
* Content: [Add Authentication on iOS with Azure Mobile Apps](https://

[2018-07-26 03:10] keithcharlie commented on #12318
@ellacroi this article should be removed until it can be replaced as soon as we can... Tx

[2018-07-26 03:16] kazshi opened #12397 "no downtime while moving database from/to elastic pool?"
I would like to make sure the "Additional resources" (in the following sentence) includes 'database' - actually I got a question (any downtime while moving database from/to elastic pool?) from my customers (same question from a few different customers at about the same time) but I couldn't find any specific information (or I'm missing) except the following.  Thanks.

"Additional resources can be a

[2018-07-26 03:21] keithcharlie commented on #12318
Lizzie, Dorin... Thoughts on what to do with this?

keith vidal | w. 805.450.3580

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Wednesday, July 25, 2018 8:30 PM
To: MicrosoftDocs/azure-docs
Cc: Keith Vidal; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Inconsistent TOC Entry (#12318)

@tysonn<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2018-07-26 03:32] SnehaGunda commented on #12277
@Maggern3 thanks for the feedback. You are correct, you can form a composite key by concatenating (and padding, where applicable) multiple property values into a single artificial “partition key” property of the item.

For example, you have a document that looks like:

{
    "deviceId": "abc-123",
    "date": 2018
}

One option is to set partitionKey on /deviceId or /date.

If want to form a compo

[2018-07-26 03:47] johndowns opened #12399 "ARM template support"
Is it possible to configure Continuous Export using ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a72-85d8-6296-d9f0-638907f1382b
* Version Independent ID: 36512771-6c2a-a651-d8e0-fde95f563252
* Content: [Continuous export of telemetry from Application Insights](https://docs.microsoft.com/en-us/azu

[2018-07-26 04:13] MohitGargMSFT commented on #12361
@quinn-madson Thanks for reporting! I can repro it. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-26 04:31] alejandroandreatta commented on #8879
Same issue here. Followed all the steps, connection string is correct, sample app on device working properly and messages are being received by the IoT Hub but the web page is either blank (Firefox) or shows error 500 (explorer).
Another piece of info: if I try
iothub-explorer monitor-events <device-id> --login "<IoTHubConnectionString>"
I cannot see the device to cloud messages
Help please

[2018-07-26 04:32] alejandroandreatta commented on #9466
Same issue here. Followed all the steps, connection string is correct, sample app on device working properly and messages are being received by the IoT Hub but the web page is either blank (Firefox) or shows error 500 (Explorer).
Another piece of info: if I try
iothub-explorer monitor-events <device-id> --login "<IoTHubConnectionString>"
I cannot see the device to cloud messages
Help please

[2018-07-26 04:34] DazzleJim commented on #11592
Hi, the 'Azure readiness status' column still stats 448Gb as the limit.

[2018-07-26 04:36] DazzleJim commented on #11592
Hi, the 'Azure readiness status' column still states 448Gb as the limit.

Cheers...
Darren

Darren.Johns@Microsoft.com<mailto:Darren.Johns@Microsoft.com> (CSA)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: VairavanS-MSFT <notifications@github.com>
Sent: Wednesday, July 25, 2018 9:17:01 AM
To: MicrosoftDocs/azure-docs
Cc: Darr

[2018-07-26 04:49] TaviTruman opened #12401 "Request for WPF/UWP Native Custom Sign-in Screen in XAML"
It would be great if we could develop sign-in forms/screen in XAML for our WPF/UWP apps. Not a fan of having to build a HTML/CSS UI; it is not a great experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0205d9f7-de2b-3469-f990-1ab3ec434654
* Version Independent ID: 5ae4a3cc-7ff1-4418-35f4-2ad27afef5bb
* Content:

[2018-07-26 04:56] gavaskar7 opened #12402 "ARM Support"
Please share the steps to setup External Load Balancer with ARM Deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f7b5030-b043-3385-dca9-23449c4a62d0
* Version Independent ID: e83b0b1a-137e-12b7-b406-2b2c36c9f9ba
* Content: [Configure an external Listener for Always On Availability Groups](https://docs.micros

[2018-07-26 05:20] ajaybha commented on #10530
Hi Kelly,
I think the original comments I made below were for the articles that have now been modified significantly. Around a month back both the “deploy code to Windows device” and “Develop and deploy IOT Edge Module” articles had iotedgectl python module being used to setup & orchestrate the edge runtime on device and while following those steps, there was certain ambiguity on where those steps

[2018-07-26 05:37] vasivara-MSFT commented on #12359
@johnco14 Document has been updated. Thanks for your feedback.

[2018-07-26 05:38] andrewatfornax commented on #9028
FYI, this definitely happens. I'll raise a bug - if the documentation is correct, then the product is wrong!

[2018-07-26 05:42] jhomcy5525 opened #12403 "President"
Love

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version Independent ID: 50b13de9-334d-0db5-492c-862935df2cd9
* Content: [Create and use an SSH key pair for Linux VMs in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mac-create-ssh-keys#next-steps)
* Conte

[2018-07-26 06:21] rayne-wiselman commented on #9028
Hi Andrew. You can post on the forum @ https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=hypervrecovmgr, and/or use the feedback button in the portal.

[2018-07-26 06:30] rayne-wiselman commented on #12372
@msLinuxNinja Hi, where do you see a support statement that Azure only supports single OS disk?
Also, please submit changes in the private repo.

[2018-07-26 06:34] jiayanghe opened #12404 "Question about map.resize()"
This is probably not the right place to post this but I couldn't find anywhere better, I tried to use map.resize() after changing the size of the map container but console complains that map.resize() is not a function

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a83c299e-5f1e-be71-41c6-879815e4801c
* Version Independ

[2018-07-26 06:38] jotheman03 commented on #7974
Hello John,

I understand, and that sounds like a good improvement. Thanks for getting back to me on this!
Met vriendelijke groeten / Kind regards / Mit freundlichen Grüßen,

Jop Gommans
Consultant
[cid:image001.jpg@01D424BB.FB556930]

J.Gommans@itsn.nl

[cid:image002.jpg@01D424BB.FB556930]  +31 888 111111
[cid:image003.jpg@01D424BB.FB556930]  +31 77 3821933
[cid:image004.jpg@01D424BB.FB556930]  +

[2018-07-26 06:41] Zir01 commented on #12074
Hi, I am not sure if this is related.
I got the services running under SF Mesh on my local machine. I encounter a problem when the WebFrontEnd service makes a request to the backend ToDoService API on "http://todoservice:20008/api/todo" This is on line 19 in Index.cshtml.cs in the WebFrontEnd service:

[code]
client.GetAsync(backendUrl) comes back with the following exception:

System.Net.Http.Htt

[2018-07-26 06:56] eskaufel commented on #12334
👍 great documentation by the way, thanks.

[2018-07-26 06:58] Izharsa commented on #12275
Thank you for the reply, how can i request this feature?

[2018-07-26 07:21] keithcharlie commented on #12318
Unfortunately I don' think I can help here because I never worked on TOC - @Lizzie LaCroix<mailto:Elizabeth.LaCroix@microsoft.com>? @Yi-Jen Jong (Bridge Partners)<mailto:v-yijong@microsoft.com>?

From: Keith Vidal
Sent: Thursday, July 26, 2018 6:21 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.

[2018-07-26 07:21] TheAmenRa commented on #12351
I solved requiring all the metadata as attribute "E".

The response body is a pretty mess: it is a stringified json ad this is ok but then there are properties that are json and other that are stringified json. You must lose your time going trial-n-error in order to understand what is going on... it's kinda annoying.

[Here](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowle

[2018-07-26 07:24] ahamin01 opened #12405 "From where can the end users review the Privacy Statement?"
I totally understand that the privacy statement will be shown to the external users when accepting the invitation, but how the user can review the privacy statement later after accepting the invitation? Is this even possible? The only location, where I see the privacy statement in, is when the user leaves the organization as documented here "https://docs.microsoft.com/en-us/azure/active-directory/

[2018-07-26 07:30] phillbl commented on #12288
Hi

We think we found a big though

When you create a rule ping works.  When the rule is deleted it still keeps pinging

That should not happen.  If you the kill the ping and retry it times out

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, July 25, 2018 9:08 pm
To: MicrosoftDocs/azure-docs
Cc: phillb

[2018-07-26 07:31] smoms commented on #12177
@kgremban many thanks! This  isindeed what i was looking for. The first answer to this post was bit confusing. You can pls proceed to close it. Best.

[2018-07-26 07:48] vineetsunny opened #12406 "Automatic Updates for VMSS in service fabric"
Actually I am planning to go for automatic updates without impacting the production environment, but not sure which way can fit well.I gone through "POA" and "Automatic OS upgrades", but Can't able to decide which one is the right option to go ahead. Please suggest the appropriate approach on this.

[2018-07-26 07:56] chaami commented on #11250
Hello @CelesteDG thanks a lot for the changes !
My question is probably now more related to the Azure Portal display in the context of an application creation.
Maybe more related to [active-directory-integrating-applications](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-integrating-applications.md) document (but it doesn't mention the p

[2018-07-26 08:24] axelgMS opened #12407 "cdrom device drivers are necessary on a custom image"
from https://github.com/Azure/WALinuxAgent/issues/978, it looks like cdrom device drivers are mandatory on a custom image - otherwise VMs from that image will fail with:
ERROR Event: name=WALinuxAgent, op=Provision, message=[000008] [CopyOvfEnv] Error mounting dvd: [000007] Failed to get dvd device from /dev

Inner error: The following devices were found, but none matched the pattern [(sr[0-9]|hd[

[2018-07-26 08:37] designportfoliodevelopers opened #12408 "Error: file cannot be installed on this Cloud instance."
Using Jira Cloud, you have to enable Development mode to display the Upload Add-on option under "Settings".

However, we ran into an issue. When you hit Upload Add-on you;re asked for a URL to load the file from. We had to put the file on our server.
When uploading the .obr file using the Upload Add-On option we get an error saying
[URL] cannot be installed on this Cloud instance.
Any ideas?

---

[2018-07-26 08:49] rogerbramon commented on #11795
I guess that the possible outbound addresses explanation also applies for Web apps, right?

[2018-07-26 09:12] davidhendrickmb commented on #12056
Thanks for the updates @mrbullwinkle

[2018-07-26 09:16] davidhendrickmb commented on #12056
@mrbullwinkle is there a JSON file with the availability test IP addresses?
Thanks again,
David

[2018-07-26 09:24] praveendhac opened #12409 "Block "az aks get-credentials --admin" but allow "az aks get-credentials""
# Issue
Allow "az aks get-credentials" but block "az aks get-credentials --admin" by creating Custom Role in AzureAD but there is minimal documentation explaining how to do it.

# Description
Created a custom role
[code]

Login as rmvtestpd@prav.onmicrosoft.com using **az login**

When I apply the role on a user it blocks both clusterAdmin and clusterUser commands with below errors
[code]

[2018-07-26 09:53] TecumsehSamp commented on #8454
@Mike-Ubezzi-MSFT I'm lucky enough to have different Azure environments I can test this on, it definitely isn't specific to a single environment as I was able to reproduce this in the others.

I was also able to reproduce this with a new resource.

[2018-07-26 10:37] tshaiman opened #12411 "Setting a Partition Key"
The article states "you can either set the partition key on an event" , but it is not showed how , and I think the latest SDK version does not allow you to do so .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8a071-97c3-3680-937d-ce96dca97426
* Version Independent ID: fb85004b-e746-fe6a-e3fc-f8a2a2f08c18
* Content

[2018-07-26 10:51] cephalin commented on #7062
the try it block is a special formatting on a MarkDown code block. It's not ready yet.

[2018-07-26 11:30] phillbl opened #12413 "ping test and changing deny rule to allow gets ignored"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-26 11:31] mortslhawmit opened #12414 "Description of .env file"
Is it really required to use the tool to create the .env file?
Im currently upgrading from preview to GA so for me to create the .env file I had to create a "dummy" module just to see how the .env file looks and where its placed, and what it adds to the deploy.template.json file, it feels like this could have been described in the documentation aswell? Or does the tool add something more that i've

[2018-07-26 11:35] githubavi commented on #12055
OK. I understand your point. I already saw that tutorial and it is helpful

[2018-07-26 11:45] Shoshin23 opened #12415 "Unable to find documentation for exporting CoreML model through API"
[Enter feedback here]

Hi Team,
I'm trying to export the core ML model after the training happens through the REST API but can't seem to find any documentation about it. Is it possible to do so right now without using the dashboard.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Ve

[2018-07-26 11:53] mrbullwinkle commented on #12056
@davidhendrickmb unfortunately not yet, but that is one of the possibilities we are asking the engineering team to look at adding.

[2018-07-26 12:11] SQLDataSide opened #12416 "Tenant ID"
In one of the sections you have mentioned ........

"To access the Data Lake Store account from Azure Databricks, you must have the following values for the Azure Active Directory service principal you created:

Application ID
Authentication key
Tenant ID"

......
I feel that asking for the Tenant ID might be a security issues, i am sure that Admin/Devops/security/.... will be very pritective in g

[2018-07-26 12:44] phillbl commented on #12413
hi,

we are testing the azure fw and have noticed a few odd things.

we have spoke1 vnet and spoke2 vnet.  we have routes between the different subnets/vnets and ts working fine.  we can get the machines to ping, when we delete the rule if you have a ping open it still carrys on pinging.  its not until the cmd prompt is closed and tested again that the ping fails.

we also setup a server with a te

[2018-07-26 13:10] rcoccia opened #12418 "Currently, a module cannot receive cloud-to-device messages"
This let me a little bit confused since on the service sdk a sendAsync method exists that accepts as parameters, deviceId, moduleId, and the message;
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.serviceclient.sendasync?view=azure-dotnet#Microsoft_Azure_Devices_ServiceClient_SendAsync_System_String_System_String_Microsoft_Azure_Devices_Message_

---
#### Document Details

⚠ *

[2018-07-26 13:23] jcbrooks92 opened #12419 "FTPS requires TLS 1.1 or higher"
The documentation needs to be updated that FTPS requires TLS 1.1 or higher.

D:\home&gt;curl --tlsv1.0 ftps://waws-prod-sn1-033.ftp.azurewebsites.windows.net
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

curl

[2018-07-26 13:43] bhrionn opened #12420 "Batching of azcli commands"
Would love to see a batch command mechanism (multiple commands in a script) for azure CLI commands... and a custom IDE for CLI if that was possible !?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-ce2e-c9f1dd9ea06b
* Version Independent ID: ace5ecf4-2021-63a7-c28f-73a11767f0be
* Content: [Azure Clou

[2018-07-26 13:52] antonmata opened #12421 "Calling AddAzureSignalR() ignores "Azure__SignalR__ConnectionString""
Using "Azure__SignalR__ConnectionString" as the name for the secret is not working. I am getting the ff error:

[code]

Modifying `secrets.json` and changing the name to "Azure:SignalR:ConnectionString" works. It seems that `AddAzureSignalR()` still expects colons.

OS: Windows 10 build 1803
.NET Core SDK: 2.1.302

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-07-26 14:04] gfelot opened #12422 "GetSpeakers No Ocp-Apim-Subscription-Key autocomplete"
I follow the insctuction and I imported the Swagger file. But I don't have the Ocp-Apim-Subscription-Key header in the calls to test. I followed the first part of this tutorial without issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782

[2018-07-26 14:13] alpinedelight commented on #12271
Same issue here and someone else on stackoverflow: https://stackoverflow.com/questions/48403919/how-to-add-dependencies-in-visual-studio-code-when-deploying-iot-edge-function

[2018-07-26 14:21] tdykstra commented on #11795
Yes, and the article for web apps is here:  https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-addresses#find-outbound-ips

[2018-07-26 14:24] bmilbauer commented on #12005
Thanks. We have an active support case open regarding this issue (unable to restore system state per instructions in the content). I can provide the incident number privately if desired. I don’t want to add it directly to this thread if github will display it publicly.

[cid:sig_logo_f5171a6d-0aac-4537-8cf7-f3b2a514406a.png] <https://ivision.com/>
Bradley Milbauer
Sr. Consultant | Consulting Servi

[2018-07-26 14:25] romanliv opened #12423 "PowerShell deployment script is missing in project"
Do you have any solution for the problem when Resource Group project cannot be deployed to Azure?
There is a discussion on SO, but no good solution proposed: https://stackoverflow.com/questions/39082503/azure-resource-group-2-9-error-powershell-deployment-script-is-missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-07-26 14:36] j-martens commented on #11089
Hi @DinoSourcesRex - while waiting for new documentation, perhaps you can post your support question here:

+ Technical support: Visit [Azure technical support](https://azure.microsoft.com/support/options/) and select Machine Learning.

+ User forum: Ask questions, answer questions, and connect with other users in the [Azure Machine Learning services support forum on MSDN](https://social.msdn.micr

[2018-07-26 14:39] saurabhsensharma commented on #12005
@bmilbauer can you please send an email to saurse [AT] microsoft [dot] com, so I can take a look at the symptoms and logs in detail and advise accordingly? Thanks a lot!

[2018-07-26 14:46] SuHwak commented on #11606
This is what I have now to generate and apply the certificate(s):
[code]

Maybe this will give you guy's/gal's a starting point? Unfortunately the VpnClientSetupAmd64.exe is a GUI only tool. so it needs a couple clicks, but after that the VPN connection is present and working. I've not pasted all of my script, so it might be missing a couple variables... maybe? Please let me know if you need more.

[2018-07-26 15:30] Minewiskan commented on #11928
@joymon We're working on getting something added. This info has to come from a couple different teams, so it may take a while.
#in-progress

[2018-07-26 15:32] vhorne commented on #12233
Investigating...

[2018-07-26 15:38] CarlRabeler commented on #10718
Estimated recovery time is the estimate of how long it will take to complete a recovery. How long it actually takes depends on a number of factors including the amount of transactions to recover. Recovery time objective is your objective for the amount of time that you can accept as the recovery time.
 @anosov1960 for perhaps additional clarity

[2018-07-26 15:43] DCtheGeek commented on #12022
@NicoThiemer I've validated that the RunAsConnection still works, but some of the names have changes (such as the parameter set on Connect-AzureRmAccount). Using the method you mention is an alternative, since the Get-AzureRmAutomationConnection is likely AzureRunAsConnection, which is created with the RunAsConnection and contains information for it. Note that if you use this method (using Get-Azu

[2018-07-26 15:45] vhorne commented on #11901
Hi @frehnejc,

We have some articles dedicated to those topics. For example, for HTTP to HTTPS:
https://docs.microsoft.com/azure/application-gateway/redirect-http-to-https-powershell

and hosting multiple sites:
https://docs.microsoft.com/azure/application-gateway/tutorial-multiple-sites-cli

Is that the information you were looking for?

[2018-07-26 15:50] diberry commented on #12209
@LacikIgor Great questions, thank you for asking them. The minimum score is 0 and the max is 1. Regarding the two scores being close together, so that they might invert on a retraining, I'll investigate that and respond here. #in-progress

[2018-07-26 15:51] diberry commented on #12209
@YutongTie-MSFT please assign to my new alias

[2018-07-26 15:56] vhorne commented on #11894
Hi @frehnejc,

So are you asking for an article that combines the two concepts in

https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-multiple-sites-cli
and
https://docs.microsoft.com/en-us/azure/application-gateway/redirect-http-to-https-cli

?

[2018-07-26 15:58] vhorne commented on #10663
@hobpet Let me know if you want to pursue this issue in the future.
#please-close

[2018-07-26 16:10] brandonh-msft commented on #12364
In a Function you can do the following:
[code]
but you will *only* see the `.Warning` and `.Info` calls, you won't see the Verbose ones. Neither in the console out, or in App Insights.

I've yet to find the combination of Logging Levels to get this to happen, and the docs don't give me the set of values that are valid (hence this bug)

[2018-07-26 16:10] kgremban commented on #11372
@jason-j-MSFT Can you #please-close as Howard's original suggestion has been made?

[2018-07-26 16:11] MarileeTurscak-MSFT commented on #12336
Let me know if this helps! If you need further assistance please open another issue.

[2018-07-26 16:11] #12336 closed

[2018-07-26 16:12] JasonWHowell commented on #11673
The sample code has been updated.
Thanks, Jason

#please-close

[2018-07-26 16:13] kgremban commented on #12177
@Mike-Ubezzi-MSFT #please-close

[2018-07-26 16:15] MarileeTurscak-MSFT commented on #12377
I agree that this is confusing. How would you suggest phrasing this so that more people facing this issue will understand right away what this means? We can make a note that Audience means Resource in the definition if that would be helpful.

[2018-07-26 16:16] sysofwan opened #12425 "Add how a node can obtain "Cluster FQDN | internal IP" especially for container scenarios"
The internal node IP is set in environment variable Fabric_NodeIPOrFQDN - this is not stated anywhere. "localhost" does not work with containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc-5c04-8067-d7107dc2df45
* Content: [Azure Service F

[2018-07-26 16:19] randhirkc opened #12426 "Pls correct the PS command for listing Resource Providers"
This PS command: Connect-AzureRmAccount is incorrect. It should be Login-AzureRmAccount.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd67cf66-c21f-4206-1663-5253492a68c1
* Version Independent ID: b887341a-f009-7580-fcf9-1d4166ec74f9
* Content: [Quickstart - Create and deploy a web app to Azure Service Fabri

[2018-07-26 16:20] maweeras-msft commented on #10799
You need to have a Windows Server 2012 and above based DCs discoverable when running Register-AzureADPasswordProtectionForest . If you dont have any suitable 2012 (and above) based DCs then you will see this error.

[2018-07-26 16:41] ggailey777 commented on #12274
@lohithgn yes please do, 👍 and add the link to it here when you get it done. Thanks!

[2018-07-26 16:43] MarileeTurscak-MSFT commented on #12381
Which part is giving you an issue? What would you suggest changing?

[2018-07-26 16:43] ellacroi commented on #12318
@keithcharlie You want to remove the SaaS guide completely??? I'm going to make the titles consistent per Mike's feedback, but I'm not confident in removing it entirely unless you have a new draft in progress (please let me know).

@v-miclar I'll make this change, but this falls in the category of things that you can do on your own with docs-pr access

@femsulu and @tysonn please meet v-miclar, he

[2018-07-26 16:44] helenabutowatep opened #12427 "Add doc on using dns01 challenges with ClusterIssuers and Issuers"
Since cert-manager has support for dns01 challenges, it would be helpful to describe how this is done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Kubernetes Service (AKS) clus

[2018-07-26 16:45] agvardha opened #12428 "How to customize monitoring in AzureStack?"
[Enter feedback here]
Currently I can see Azure Stack supports 198 Perfmon Counters. TypePerf.exe –q > counters.txt lists the entire support counter list.
Just as an experiment I want to introduce a new counter say "\Processor Information(*)\% Processor Performance"
Question is how do I do it? This is what I want to do
1. Insert a new counter for monitoring
2. Setup my own Warning and Critical thr

[2018-07-26 16:50] htoma opened #12430 "Is the backup available after the first 8 hours"
Thanks for putting this together.
The doc says: "Azure Cosmos DB retains the existing snapshots for all of the deleted partitions within the given container/database for 30 days." However, you should contact the support team in the next 8 hours after deleting the data. Is there any way to retrieve the data after the 8-hour limit?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-07-26 16:52] vhorne commented on #11729
Investigating...

[2018-07-26 17:07] BryanTrach-MSFT commented on #12419
@jcbrooks92 Thank you for the feedback. We will update the article today and update you in a bit.

[2018-07-26 17:09] BryanTrach-MSFT commented on #12396
@EliteTechnicalCare Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-26 17:09] vasivara-MSFT commented on #12404
@jiayanghe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-26 17:15] BryanTrach-MSFT commented on #12390
@wngreenway Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 17:20] vasivara-MSFT commented on #12420
@bhrionn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-26 17:21] MarileeTurscak-MSFT commented on #12388
Thanks for your feedback! We are looking into this and will get back to you soon.

[2018-07-26 17:23] maertendMSFT commented on #7062
I am not sure what you mean, the Try It button exists for PowerShell.  See this example:
![image](https://user-images.githubusercontent.com/30933589/43277754-d62ccdba-90bd-11e8-9cda-ac031359682d.png)

[2018-07-26 17:23] MarileeTurscak-MSFT commented on #12391
We are looking into this and will get back to you shortly.

[2018-07-26 17:23] vhorne commented on #7522
#please-close

[2018-07-26 17:24] MarileeTurscak-MSFT commented on #12401
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-26 17:25] cephalin commented on #7062
@maertendMSFT I wasn't aware. Can you point me to it? I haven't found any PowerShell example that uses try it yet.

[2018-07-26 17:25] JTC-Jeremy opened #12432 "Step missing"
Hi,

I loved this article but it wouldnt work for many of us because it was missing a step.  There needs to be two applications created one for the RD web and one for the RD Gateway endpoints.  I have updated the instructions on my blog at: https://jtcconsulting.ca/publish-remote-desktop-with-azure-ad-application-proxy/ if you want to have a look.

---
#### Document Details

⚠ *Do not edit this se

[2018-07-26 17:25] maertendMSFT commented on #7062
This page has the example :)
https://docs.microsoft.com/powershell/azure/get-started-azureps?view=azurermps-6.5.0

[2018-07-26 17:25] MarileeTurscak-MSFT commented on #12405
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-26 17:25] TaviTruman commented on #12401
Excellent 😉

Sent from my Windows 10 phone

From: Marilee Turscak - MSFT<mailto:notifications@github.com>
Sent: Thursday, July 26, 2018 10:24
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Tavi Truman<mailto:tavi@inknowworks.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Request for WPF/UWP Native Custom Sign-in Screen in XAML (#12401

[2018-07-26 17:30] vasivara-MSFT commented on #12421
@antonmata Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-26 17:31] masters3d commented on #12377
Not sure. I was hoping this would help:
https://social.msdn.microsoft.com/Forums/azure/en-US/1366b552-f66d-4fc5-af1b-2af9b7bfc6c4/unable-to-authenticate-function-with-bearer-token?forum=AzureFunctions
![image](https://user-images.githubusercontent.com/6539412/43278112-ef598ef8-90be-11e8-9d76-1f238b3b4db8.png)

[2018-07-26 17:31] MarileeTurscak-MSFT commented on #12408
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-26 17:32] vasivara-MSFT commented on #12426
@randhirkc Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-26 17:33] UTA-IdAM commented on #12388
As written, it would indicate that user accounts could/would be provisioned in the connected application as well…. This is not the case.

From: Jeevan Desarda <notifications@github.com>
Sent: Thursday, July 26, 2018 12:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Cox, Chris <chris.cox@uta.edu>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] B

[2018-07-26 17:34] bearrito commented on #12297
I have found the following in source. It answers my question, at least for my use case and language

// Registering an event processor class with an instance of EventProcessorHost starts event processing. The host instance
        // obtains leases on some partitions of the Event Hub, possibly stealing some from other host instances, in a way that
        // converges on an even distribution of pa

[2018-07-26 17:35] vhorne commented on #12233
@nerath

Sorry, this not yet possible. But it is a feature on the to-do list!

[2018-07-26 17:38] dvanasseldonk commented on #11991
I was able to create a functional docker image which runs Spark 2.3 after building upon the current mmlspark 0.13 image with the below docker commands.

FROM microsoft/mmlspark:0.13

USER root
RUN apt-get update && apt-get install -y curl apt-transport-https debconf-utils && rm -rf /var/lib/apt/lists/*
RUN curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
RUN curl https://pack

[2018-07-26 17:39] #11991 closed

[2018-07-26 17:45] #12403 closed

[2018-07-26 17:46] MicahMcKittrick-MSFT commented on #12407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 17:48] tdykstra commented on #12364
What does your host.json look like?  Is it possible a category level is overriding the default level?

[2018-07-26 17:50] Adam-Smith-MSFT commented on #12387
@gmoed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-26 17:51] vasivara-MSFT commented on #12406
@vineetsunny can you please provide the url of document in which you had this question?

[2018-07-26 17:52] vasivara-MSFT commented on #12409
@praveendhac Please provide us with the link of documentation in which you had this question.

[2018-07-26 17:52] MarileeTurscak-MSFT commented on #12432
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-26 17:53] Brenduns commented on #12311
#in-progress

[2018-07-26 17:56] jeevansd commented on #12388
No. Yet, we have not enabled the user provisioning for the app. When we will do that at that time we will mention this in the documentation and see our index page where we separately publish the doc for user provisioning to specific apps.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/tutorial-list

[2018-07-26 17:58] jeevansd commented on #12408
If you are using JIRA cloud then you have to use Atlassian Cloud app from Azure AD app gallery. All the instructions for configuring the app are given here. Dont use the plugin in that case.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-tutorial

[2018-07-26 17:58] jeevansd commented on #12408
#please-close

[2018-07-26 17:59] vascofernandes commented on #10588
Please see here the scenario I have in hands.

https://stackoverflow.com/questions/51544913/azure-application-gateway-with-multiple-application-in-a-single-app-service-envi

Regards

[2018-07-26 18:00] MicahMcKittrick-MSFT commented on #12425
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 18:01] yuemlu commented on #9171
The transaction rate of $0.0036 per 100,000 transactions is for Unmanaged Disks in General Purpose v1 Standard storage account. $0.0005 per 10,000 transactions is the price for Standard Managed Disks and Unmanaged Disks in General Purpose v2 Standard storage account.

[2018-07-26 18:02] MicahMcKittrick-MSFT commented on #12402
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 18:02] MicahMcKittrick-MSFT commented on #12403
Thanks for reaching out. If you have a question please let us know and reopen a new issue

[2018-07-26 18:06] cherylmc commented on #11606
@SuHwak - awesome! I've sent this over to the PMs. Thanks!

[2018-07-26 18:08] oanapl commented on #12425
@kavyako , can you please take a look?

[2018-07-26 18:12] mattbriggs commented on #12428
@agvardha Thanks for feedback and question. I'm following up with some folks and will post an answer when I get it. Cheers, Matt #in-progress

[2018-07-26 18:15] naxxxel opened #12436 "Incorrect URL in POST"
Just quoting the other thread where someone brought up the issue...

https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-ff67-a9e2-4272-1710fe6eb863
* Version Independent ID: 6d15d340-f556-6bb0-8b4c-f4535537189b
* Content: [Configure the res

[2018-07-26 18:19] TravisCragg-MSFT commented on #12413
@phillbl can you please provide the ping command you are using? It is likely that a UDP flow is established before the firewall rule, so traffic can flow on that channel as needed.

[2018-07-26 18:20] MicrosoftGuyJFlo commented on #7974
Thanks @jotheman03!

[2018-07-26 18:21] jeevansd commented on #12388
#please-close

[2018-07-26 18:21] brandonh-msft commented on #12364
host.json is completely empty; standard Functions template.

[2018-07-26 18:30] MicahMcKittrick-MSFT commented on #12261
Thanks @TylerMSFT

@n3wt0n I will assign this to @TylerMSFT to review it all and see if we can make the doc more clear.

[2018-07-26 18:32] TravisCragg-MSFT commented on #12244
@brwilkinson 2 instances are the recommended minimum for a production workload, but it is possible to do 1, mainly for testing purposes.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-26 18:32] #12244 closed

[2018-07-26 18:32] TravisCragg-MSFT commented on #12283
@jmorabito11 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-26 18:32] #12283 closed

[2018-07-26 18:34] MicahMcKittrick-MSFT commented on #12407
@axelgMS I have assigned this to the content author to review and update the doc as needed

[2018-07-26 18:36] MicahMcKittrick-MSFT commented on #12426
@randhirkc the command Connect-AzureRmAccount is valid as well. Are you seeing issues running through this doc? If so can you explain?

[2018-07-26 18:38] TravisCragg-MSFT commented on #11515
@Phydeauxman I absolutely understand, but in this case an app gateway will not be able to do what you are trying to do unless you separate your different apps in to different ASEs, so they will have different IP endpoints.

If you did open a support request, could you please provide the SR#? I can track & help the support engineer with context.

[2018-07-26 18:50] MohitGargMSFT commented on #12385
@burma-shave Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-26 18:50] MohitGargMSFT commented on #12397
@kazshi Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-26 18:51] MohitGargMSFT commented on #12430
@htoma Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-26 18:52] mike-urnun-msft commented on #12418
@rcoccia Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-07-26 18:54] MicahMcKittrick-MSFT commented on #12287
@singhkays can you take a look at this document and ensure it still makes sense? As well as chime in on this issue

[2018-07-26 18:57] mike-urnun-msft commented on #12414
@mortslhawmit Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-07-26 18:58] MicahMcKittrick-MSFT commented on #12299
@TylerMSFT I am not finding any mention of this in the docs. Can you take a look and consider adding it or if not possible then specifying that for others to reference?

[2018-07-26 19:00] jason-j-MSFT commented on #12394
@patpicos
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 19:01] jason-j-MSFT commented on #12411
@tshaiman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 19:02] vasivara-MSFT commented on #7522
@derekschauland We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:02] #7522 closed

[2018-07-26 19:03] MikeRayMSFT commented on #12402
@gavaskar7 please see review https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-ps-alwayson-int-listener

[2018-07-26 19:03] vasivara-MSFT commented on #7974
@jotheman03 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:03] #7974 closed

[2018-07-26 19:03] vasivara-MSFT commented on #9315
@Wintekso We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:03] #9315 closed

[2018-07-26 19:03] nheinbaugh commented on #12393
I also found this really helpful! Cheers!

[2018-07-26 19:03] vasivara-MSFT commented on #10209
@JeremyTBradshaw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:03] #10209 closed

[2018-07-26 19:03] vasivara-MSFT commented on #10290
@gutjahr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:03] #10290 closed

[2018-07-26 19:04] vasivara-MSFT commented on #10379
@ivan-shaporov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:04] #10379 closed

[2018-07-26 19:04] vasivara-MSFT commented on #10663
@hobpet We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:04] #10663 closed

[2018-07-26 19:04] nheinbaugh commented on #12393
The documentation has really gotten better over the last few years, and this github integration is really helpful

[2018-07-26 19:04] vasivara-MSFT commented on #11182
@johnneycao We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:04] #11182 closed

[2018-07-26 19:05] vasivara-MSFT commented on #11372
@HowardEdidin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:05] #11372 closed

[2018-07-26 19:05] MicahMcKittrick-MSFT commented on #12362
@iakko I am not finding any docs explicitly that show you how to do it. We do have some docs on creating AKS using Terraform some of which go over assigning IP addresses

https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-tf-and-aks

https://docs.microsoft.com/en-us/azure/terraform/terraform-create-vm-cluster-module

You also have the terraform doc on how to create

[2018-07-26 19:05] vasivara-MSFT commented on #11421
@Gimly We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:05] #11421 closed

[2018-07-26 19:06] porrascarlos802018 opened #12437 "Update required"
Accelerated network was by default set to false, I changed it by :
1.	Updated my PowerCLI to latest version.
2.	Executed this command:
az vm deallocate --resource-group testvmnicacce --name acceleratednictest
where: resource group name is testvmnicacce and machine name is acceleratednictest
3.	And this other:
az network nic update --resource-group testvmnicacce --name acceleratednictest -n acceler

[2018-07-26 19:06] vasivara-MSFT commented on #11427
@lkuhn65 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:06] #11427 closed

[2018-07-26 19:06] vasivara-MSFT commented on #11584
@SteveL-CXP We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:06] #11584 closed

[2018-07-26 19:06] vasivara-MSFT commented on #11673
@Jack1007533560 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:06] #11673 closed

[2018-07-26 19:07] vasivara-MSFT commented on #12177
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:07] #12177 closed

[2018-07-26 19:08] vasivara-MSFT commented on #12375
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:08] #12375 closed

[2018-07-26 19:08] vasivara-MSFT commented on #12388
@UTA-IdAM We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:08] #12388 closed

[2018-07-26 19:08] vasivara-MSFT commented on #12408
@designportfoliodevelopers We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-26 19:08] #12408 closed

[2018-07-26 19:10] MicahMcKittrick-MSFT commented on #12425
Thanks @oanapl

I am assigning this to the content author to review and update as needed.

@kavyako if you have anything to add to help out let us know :)

[2018-07-26 19:13] eric-camplin opened #12438 "No Perms to create Resource Manger Group and no existing"
how to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal)
* Con

[2018-07-26 19:14] MicahMcKittrick-MSFT commented on #7032
@rothja would you happen to have any update on this?

We had a customer reach out via MSDN noticing the changes are still not reflecting in the pricing calculator

https://social.msdn.microsoft.com/Forums/en-US/218d83f7-4f80-4868-9c1b-9abf905e090b/why-do-core-constrained-sql-server-vms-cost-same-as-unconstrained?forum=windowsazurepurchasing

[2018-07-26 19:21] JMayrbaeurl opened #12440 "Deployment manifest sample is wrong - using 'moduleContent' Json attribute from preview"
The Json attribute for the modules configuration in the deployment manifest json file was changed from 'moduleContent' to 'modulesContent' at GA. See the REST API for applyConfiguration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa-7dde-c18f

[2018-07-26 19:23] jeffpatton1971 opened #12441 "Please Review"
This documentation is outdated and it's last update is 07/24/2017, apparently the only way the documentation team does a review is when someone attempts to find a pertinent piece of information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c377fa1e-2274-704a-dcfa-4ac02659bf87
* Version Independent ID: 1ba8a48b-a99e-0

[2018-07-26 19:35] cynthn commented on #12438
@eric-camplin Hi Eric - it's been a long time :)  What kind of subscription are you using? You can also send me an e-mail or a meeting request if you need help.

[2018-07-26 19:35] SaurabhSharma-MSFT commented on #12391
@thuansoldier which cmdlet you are talking about, get-azureadgroup,get-azureadgroup, etc are available in previous Azure Active Directory PowerShell for Graph versions like 2.0.0.30.

[2018-07-26 19:38] JefTek opened #12443 "Hybrid Azure AD Joined is more than just Windows 10"
Hybrid Azure AD joined devices - to get a Windows 10 device that is joined to an on-premises AD registered with Azure AD.

should be

Hybrid Azure AD joined devices - to get a Windows 10 or supported down-level device that is joined to an on-premises AD registered with Azure AD.

The other statement here "This setting only applies to Windows 10 devices that are joined to an on-premises AD." should

[2018-07-26 19:50] agvardha commented on #12428
@mattbriggs  Thanks Matt. I was looking at this document
•	https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-alerts This document has many more documents it points too and I feel they "might" support all my wishes, but unfortunately is is for Azure.  Hence I got wondering if there are similar documents for AzS too. I searched and I could get very few hits nothin

[2018-07-26 20:01] seshenoy opened #12444 "Test Issue"
I do not see any documentation on the Cloud Partner Portal.

Document Details
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.
ID: 6cb76940-1c5d-b616-880a-deffdcda5d1b
Version Independent ID: 78c318f9-697f-ca24-ca1a-9c36b7abe9f3
Content: Non-technical prerequisites for creating an offer for the Azure Marketplace
Content Source: articles/marketplace-publishi

[2018-07-26 20:01] #12444 closed

[2018-07-26 20:04] Lumute commented on #11945
Any update on this? we are about to purchase a bunch of reservations and really need to understand the impact of this announcement but I'm unable to find any info about it...

[2018-07-26 20:04] vladvino commented on #12422
Have you added the newly imported API to a product, @gfelot?

[2018-07-26 20:08] kavyako commented on #12425
@MicahMcKittrick-MSFT  You can assign this to me.

[2018-07-26 20:13] drcrook1 opened #12445 "Production & Namespaces"
It would be good to indicate all places to change from staging to prod to avoid the warnings as well as how to create the ingress controllers to support specific namespaces.  For example I have a web app going into the namespace "webapp" but here we install everything into the namespace "kube-system".  It appears to not work cross namespace.  How can I enable cross namespace; or the docs should re

[2018-07-26 20:15] stenastena opened #12447 "Deploying AKS clusters with Resource Manager template."
This article doesn't provide how advanced networking is available when deploying AKS clusters with Resource Manager template.
There is a template for deploying AKS clusters here https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters but it doesn't provide something about Vnet configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-07-26 20:16] jeevansd commented on #12366
@kamazee  I am working with our engineering team to review this. We will reach back to you shortly.

[2018-07-26 20:37] TravisCragg-MSFT commented on #12437
@porrascarlos802018 Thank you for the feedback. I see that you have followed the steps given to enable accelerated networking.

The only difference in the steps you gave and the ones in the document is that you updated your PowerShell version before performing them. Are there any other differences that I am missing?

[2018-07-26 20:37] femsulu commented on #12275
@Izharsa use [this link](https://feedback.azure.com/forums/281804-azure-resource-manager) to share your feature request directly with the Feature owner/team

[2018-07-26 20:39] TravisCragg-MSFT commented on #12441
@jeffpatton1971 thanks for the feedback. Can you point out a few specific thins that need updating?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-26 20:44] iainfoulds commented on #12427
Hi, @helenabutowatep. Thanks for the feedback. This doc was mostly designed to focus on creating the ingress controller, and as an add-on, use cert-manager to generate and use certs from Let's Encrypt for additional security. There's definitely value in a doc that focuses just on the use of cert-manager, as you can use Azure DNS for the DNS01 challenge requests, as outlined here - https://github.c

[2018-07-26 20:47] bigdatamoore opened #12450 "Example of using function in expression"
It would be helpful to put an example of how to use the functions in an expression.  I figured it out by trial and error.   Basically you have prefix your function with @.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
*

[2018-07-26 20:49] srinivas1787 opened #12451 "Not clear at all.... Document should be very clear...."
NOT CLEAR AT ALL...

in below example
 "commandToExecute": "sh hello.sh &lt;param2&gt;", (this is the actual script will execute from the fileUri's but in fileUris you given different file name. for beginners its very difficult to understand..
      "fileUris": ["https://github.com/MyProject/Archive/MyPythonScript.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-07-26 20:54] menewol commented on #11134
Dear Travis,

I'm still waiting for a response. Hoping you didn't forget about this issue!

The public should know about this!

Best regards,
Menewol

[2018-07-26 20:57] TravisCragg-MSFT commented on #11134
@menewol I have not forgotten about this, and I am doing what I can. Getting an official response to things like this can be time consuming.

[2018-07-26 20:57] jimdial commented on #12441
@jeffpatton1971 The date you see on the page is the last date the entire article was reviewed. It has been updated several times since that date however. Is there a specific inaccuracy that should be fixed? What are you trying to find that you're unable to find?

[2018-07-26 20:59] #12427 closed

[2018-07-26 21:03] MicahMcKittrick-MSFT commented on #12445
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-26 21:04] menewol commented on #11134
Dear Travis,

Thank you for your quick response, as well you effort!

I'm really looking forward to some, reliable, cryptographic information :D

I guess we'll wait another 15 days to get some basic information regarding the crypto being used @MS Azure SSE :P

Best regards,
menewol

[2018-07-26 21:05] MicahMcKittrick-MSFT commented on #12451
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 21:20] MarileeTurscak-MSFT commented on #12443
Good catch! I made a pull request with your changes. These should be merged shortly.

[2018-07-26 21:20] BryanTrach-MSFT commented on #12393
@polarapfel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 21:23] polarapfel commented on #11540
I've spent some more time diving into the details. This documentation page is not very clear or easy to follow.

The class QnAMakerService displayed in the documentation, is that class meant to replace the sealed class Microsoft.Bot.Builder.CognitiveServices.QnAMaker.QnAMakerService that's probably already in the project's references? Or is this just an unfortunate naming conflict?

[2018-07-26 21:30] CelesteDG commented on #11250
@chaami - Thank you! Actually, if you don't mind opening a new Github issue within that topic, and then repeating your question and perhaps referencing this thread, that would be great. I've found that other customers look at the open and closed github issues that exist/were opened for a specific topic so maybe there are other customers who have a similar question within the  active-directory-inte

[2018-07-26 21:34] JasonWHowell commented on #12263
@SQLDataSide Sorry for the trouble you've been though.

It makes sense that the WASB path should be in the format you noted without the slash or backslash at the @ sign. Maybe a publishing artifact or escape character that didn't render correctly.
`wasbs://container@myaccount.blob.core.windows.net/tempDirs`

The SQLDW adapter takes that storage path in the tempdir option. If an invalid temp path i

[2018-07-26 21:35] MarileeTurscak-MSFT commented on #12443
These updates have been added to the document.

[2018-07-26 21:35] #12443 closed

[2018-07-26 21:38] MohitGargMSFT commented on #12273
@anujrana We will move ahead and close this thread for now.

[2018-07-26 21:38] #12273 closed

[2018-07-26 21:39] MohitGargMSFT commented on #12280
@ahamin01 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-26 21:39] #12280 closed

[2018-07-26 21:39] MohitGargMSFT commented on #12295
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-26 21:39] #12295 closed

[2018-07-26 21:40] frehnejc commented on #11894
Yes, it would be great to have one that combines both.

[2018-07-26 21:40] 1maja opened #12452 "Two Step Verification"
More of a question than a comment.  Will the two step verification impact remote email account access, via apps, notebooks, etc.?
This feature when applied to some financial sites prohibit any remote access, due to the two step verification method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63bc4d65-6d76-5bb1-49b8-

[2018-07-26 21:40] MarileeTurscak-MSFT commented on #12381
Mobile does not appear to be blank in that script.

[2018-07-26 21:42] vthokie93 opened #12453 "Storage Account Name Drop Down Not Populating"
When trying to select the storage account name, the drop down never populates.  I have verified my storage account is StorageV2 (general purpose v2) and I am subscribed to Azure Event Grid.  Is there a required access level for the storage account, if so what is it and could it be documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-26 21:43] mganeshphani opened #12454 "Highlight of statement required to catch attention"
I believe this statement is critical and should be highlighted
"Event Grid sends the events to subscribers in an array that has a single event. This behavior may change in the future."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-4

[2018-07-26 21:46] vascofernandes commented on #11515
this seems very much related, or the same problem, I have in this use case:

https://stackoverflow.com/questions/51544913/azure-application-gateway-with-multiple-apps-in-a-single-app-service-environment

[2018-07-26 21:51] jason-j-MSFT commented on #12310
@Minewiskan could you evaluate this to possibly add to the documentation?

[2018-07-26 21:55] Wintekso commented on #9315
@kgremban Hello, sorry for the delay, yes had to work out that it was before and after but think it would be helpful to state in the snippet with comments to say before/after, or have two snippets showing before and after so its obvious straight away.

[2018-07-26 22:03] tdykstra commented on #10047
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/47567

[2018-07-26 22:03] jason-j-MSFT commented on #12394
@patpicos this is a good suggestion for the product team, the best place for that would be to create a feedback here:
https://feedback.azure.com/forums/270577-stream-analytics

We really appreciate the ideas to help make our service better!

[2018-07-26 22:03] #12394 closed

[2018-07-26 22:04] drcrook1 opened #12455 "Cert Manager is "Not for production use""
I'm building a product for production.  Can we please get docs on how to set this up with something that is meant to be part of a production stack for critical infrastructure where we do not need to feel brave? (I am pulling these quotes from the github readme for the cert manager used here).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-26 22:10] vasivara-MSFT commented on #12450
@bigdatamoore Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-26 22:14] eric-camplin commented on #12438
I got it to work starting over.  I think it is the path I took starting at virtual machines didn’t work but a create a resource did work.  The docs do say to start with create a resource but I had started with other instructions and then assumed that first step was just one of the ways to do it when trying to troubleshoot.

[cid:image001.png@01D424F3.51D76330]
Thanks
Eric
From: Cynthia Nottingham

[2018-07-26 22:14] MohitGargMSFT commented on #12432
@JTC-Jeremy Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-26 22:20] drcrook1 opened #12456 "Followed Instructions Targeting Prod and still get "Not Secure""
I deployed the helm for the cert manager using the prod naming, also changed the directory to the specified directory along with all other references to staging to be "prod".  It appears the cert is not valid.  Are there other steps for prod that are required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc5

[2018-07-26 22:22] nickwalkmsft opened #12457 "Secrets as octet sequences"
Why does the "Working with secrets" section describe secrets as octet sequences? Secret values in the API are strings. The only client I've seen with direct support for anything else is the CLI, and it supports arbitrary data by using base64 or hex encoding.

The first paragraph also describes secrets as "limited size octet objects".

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-07-26 22:22] hollenhorst commented on #8369
Replying to Rob Chambers' message from May 17.

For speech recognition, followed by LUIS intent detection, I tried the C# version of your new code and also the C# console based code samples downloaded from GitHub today. It always fails with that same "WebSocket upgrade failed" error. The IDs are valid, since it works fine if I do the Speech Recognition and LUIS intent detection separately. Does an

[2018-07-26 22:31] mganeshphani commented on #12055
@githubavi what is the route you are going to go now.. got interested in this topic.. please keep posted on which and why :)

[2018-07-26 22:32] polarapfel commented on #11540
I opened a ticket for this [here](https://github.com/Microsoft/BotBuilder-CognitiveServices/issues/129) as well.

[2018-07-26 22:44] SnehaGunda commented on #12277
#please-close

[2018-07-26 22:47] cynthn commented on #12438
@eric-camplin Okay, let me know if you run into any other issues. I'll close this for now, feel free to reopen it if you get stuck :)

#please-close

[2018-07-26 22:50] #12438 closed

[2018-07-26 22:52] #12377 closed

[2018-07-26 22:59] thuansoldier commented on #12391
Hi @SaurabhSharma-MSFT The result of using `Get-AzureRmADGroup` is different from `Get-AzureADGroup`. What is the difference? `Get-AzureRmADGroup` has more results than the latter

[2018-07-26 23:12] femsulu commented on #12423
@romanliv Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-26 23:14] drcrook1 commented on #12445
I was able to get everything to work by forcing everything into the default namespace; however I would like to put everything specific to this workload into the "webapp" namespace.

[2018-07-26 23:16] femsulu commented on #12318
@ellacroi & @keithcharlie  thanks for the update.
@v-miclar welcome to the community. Will now close this issue as resolved.

[2018-07-26 23:16] #12318 closed

[2018-07-26 23:34] #12263 closed

[2018-07-26 23:36] MicahMcKittrick-MSFT commented on #12455
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-26 23:37] MicahMcKittrick-MSFT commented on #12456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-26 23:55] JasonWHowell commented on #12263
Regarding the vague SQL error, one way to see the full error text is to look at the driver logs.

1. In the DataBricks notebook, select **Clusters** icon on the left, and select your cluster name.

2. Select **Driver Logs** on the tabs at the top of the page.

3. Scroll through the **Standard error** section to review the recent errors.

[2018-07-26 23:56] christiankuhtz commented on #12331
A change of a health probe is a health probe changing from up to down or down to up.  Any change in a single health probe in the backend pool can cause a flow to move.  This is because there is no flow state tracked for UDP, as stated in the preceeding two sentences:

"UDP is connectionless and there is no flow state tracked for UDP. As long as the hashing produces the same result, the flow of dat

[2018-07-27 00:05] asmalser-msft commented on #10120
It is the whole certificate. The CER certificate files generated by Azure AD for the purpose of doing SSO to gallery apps (example: Salesforce, ServiceNow) tend to be around 1KB. #please-close

[2018-07-27 00:06] dcbrown16 commented on #12331
Thanks @christiankuhtz .
This is the same hashing function referred to here?
"The default distribution mode for Azure Load Balancer is a 5-tuple hash. The tuple is composed of the source IP, source port, destination IP, destination port, and protocol type."
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-distribution-mode

In any case, I think if it was written something like th

[2018-07-27 00:23] BryanTrach-MSFT commented on #12444
@seshenoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 00:29] BryanTrach-MSFT commented on #12371
@xocolatl-aficionado Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-07-27 00:29] #12371 closed

[2018-07-27 00:30] drcrook1 opened #12460 "Show Expected Results from kubectl after commands"
I'm trying to diagnose problems and I don't know what success is supposed to look like from the kubernetes commandlet after running various create commands.  For example:  When I execute: "kubectl create -f cluster-issuer.yaml" I get a report back that a pod was created; but I do not see a pod when I do kubectl get pods --all-namespaces matching the name which it indicates.  What was supposed to a

[2018-07-27 00:36] MarileeTurscak-MSFT commented on #12381
Please open a new issue if you are still having trouble with this and explain exactly what the problem is and what you would like to fix.

[2018-07-27 00:36] #12381 closed

[2018-07-27 00:39] SaurabhSharma-MSFT commented on #12358
@DaveVoyles Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-27 00:41] MicrosoftGuyJFlo commented on #12381
@JamesHoggIOH that script is there as a demo. You may need to tweak according to your environment.

[2018-07-27 00:42] vasivara-MSFT commented on #12415
@Shoshin23 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-27 00:44] SaurabhSharma-MSFT commented on #12452
@1maja Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-27 00:44] vasivara-MSFT commented on #12416
@SQLDataSide Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-27 00:47] SaurabhSharma-MSFT commented on #12457
@nickwalkmsft Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-27 01:00] SaurabhSharma-MSFT commented on #12391
@thuansoldier ok, Get-AzureADGroup is no longer a supported cmdlet. so, please feel free to use the Get-AzureRmADGroup cmdlet

[2018-07-27 01:10] drcrook1 commented on #12456
It appears that after having deployed a "staging" credential, there is a significant amount of cleanup which has to happen.  Simply calling "delete -f certificates.yaml" does not actually delete the secret which gets generated.  Because there are things happening behind the scenes here to generate resources, cleanup is very challenging.

[2018-07-27 01:17] JamesHoggIOH commented on #12381
Thanks John and Marilee.

I understand these are just examples. I was just saying that it was unclear that heading reads "Read the authentication data" when neither "Mobile" or "TelephoneNumber" are the authentication "PhoneNumber" attribute.

With **Connect-MsolService -Expand StrongAuthenticationUserDetails** we can get this actual authentication number (ie the last script you have under "Use Po

[2018-07-27 01:19] BryanTrach-MSFT commented on #12454
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 01:30] BryanTrach-MSFT commented on #7062
@HemantMahawar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 01:30] #7062 closed

[2018-07-27 01:32] BryanTrach-MSFT commented on #10120
@BHoggs We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 01:39] BryanTrach-MSFT commented on #10962
@Ruud-cb We apologize for the delay in getting back to you. Since this issue is going beyond the doc and their suggested method, this question would be best handled on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-media-services).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-07-27 01:39] #10962 closed

[2018-07-27 01:40] BryanTrach-MSFT commented on #12056
@davidhendrickmb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 01:40] #12056 closed

[2018-07-27 01:41] BryanTrach-MSFT commented on #12272
@bingosummer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 01:41] #12272 closed

[2018-07-27 01:42] BryanTrach-MSFT commented on #12277
@Maggern3 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 01:42] #12277 closed

[2018-07-27 02:00] MicahMcKittrick-MSFT commented on #12460
Thanks for the question! We are investigating and will update you shortly.

[2018-07-27 02:05] georgel-ms opened #12461 "View an existing quota - does not work?"
There is no such thing on the portal like More Services &gt; Resource Providers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fe657c-7fa9-242b-1f30-1dc45f9ad310
* Version Independent ID: 016658ab-fcf7-8739-cf7b-3f268ef5a34d
* Content: [Quota types in Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/a

[2018-07-27 02:36] ljtijhuis commented on #11229
Instead of updating the link description to what the linked article is about, it would be helpful to point to an article to actually set up an AGW with E2E SSL.

[2018-07-27 02:41] #12419 closed

[2018-07-27 02:44] Ronyeee commented on #12271
@alpinedelight yep I found those error actually not impact the step running.It show the error only because of the library those function need do not exist in local.however it don't have to run in local so that's fine.Thanks

[2018-07-27 02:44] #12271 closed

[2018-07-27 02:45] BryanTrach-MSFT commented on #12317
@JatinBavishi We have added additional clarity around this. The changes will be public ~24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 02:45] #12317 closed

[2018-07-27 02:46] BryanTrach-MSFT commented on #12419
@jcbrooks92 The changes have been made to the doc. They should be public in ~24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 02:49] deyjcode commented on #12156
A workaround for this issue has been found. Apparently using the size Standard_F1s alongside premium disks are causing the hangup. See output from run with the following two variables removed:
[code]

New vars.json file:
[code]

[2018-07-27 03:02] thuansoldier commented on #12391
Thank @SaurabhSharma-MSFT  If it is no longer a recommended cmdlet, it'd be good if we could highlight in the article (https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-v2-cmdlets) so people would better understand.

[2018-07-27 03:05] mrbobfrog opened #12462 "Recurring issue with aks sample app -- external IP pending after 1 day"
After building an aks cluster, while attempting to expose an external IP via the service type load balancer, the external ip was still pending after a day:
[code]
I've deleted the app from kubernetes and redeployed with similar results:
[code]

Are there other things I can do to troubleshoot this situation?

I am running in westus2 using k8s v1.10.5.

---
#### Document Details

⚠ *Do not edit this

[2018-07-27 03:07] mrbobfrog commented on #12462
Similer to:
* https://github.com/MicrosoftDocs/azure-docs/issues/10427
* https://github.com/MicrosoftDocs/azure-docs/issues/10465

[2018-07-27 03:10] githubavi commented on #12055
For the moment we are going for Service Bus Topic. We realized we have already one Service bus component for our current subscription and there were some other topic were in use. So, followed the same design approach.
Event Grid definitely got our attention and we would like to explore it more of a broad scale event orchestrator rather just use it on a single scenario.

[2018-07-27 03:10] #12055 closed

[2018-07-27 03:11] dcbrown16 opened #12463 "No table"
"The table above shows the differences between Gen4 and Gen5."
I don't see a table on this page, is this copied from somewhere else or obsolete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6183de3-cebc-e546-a5c8-3bd41878bbfd
* Version Independent ID: f90294c3-9236-2332-01bc-78fd0adb9374
* Content: [Azure SQL Databa

[2018-07-27 03:39] szarkos commented on #12407
Hi,

We do have a note here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-generic

"Kernel support for mounting UDF file systems is required. At first boot on Azure the provisioning configuration is passed to the Linux VM via UDF-formatted media that is attached to the guest. The Azure Linux agent must be able to mount the UDF file system to read its configuration an

[2018-07-27 04:04] mganeshphani commented on #12055
Makes sense thank you for your generous reply. All the best

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Avijit Samanta <notifications@github.com>
Sent: Thursday, July 26, 2018 10:10:57 PM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Phani Kumar Majeti; Comment
Subject: Re: [MicrosoftDocs/azure-docs] Service Bus Topic Vs Event Grid Behavior (#12055)

For the m

[2018-07-27 04:40] jjthomas1983 opened #12464 "content filtering"
Can I apply content-moderator for my data residing in on-prem storage also? Is there a way to achieve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccb9aa2-dbfb-447a-e869-b0632ab127e3
* Version Independent ID: 11f70929-7b70-2a19-c8f7-db2da8576f36
* Content: [Azure Content Moderator overview](https://docs.microsof

[2018-07-27 04:45] mike-urnun-msft commented on #11817
related to #12032

@ZainRizvi Got any insight into this one?

[2018-07-27 04:48] nheinbaugh opened #12465 "Wonderful docs"
You have really good guidance for creating issues, but I need a test thread that I may play around with. Please don't do anything special in terms of applying labels or doing anything. I just want to have my very own azure issue.

I appreciate your time,

Nick

[2018-07-27 05:00] #12465 closed

[2018-07-27 05:00] niheinba opened #12466 "Kudos on docs"
This is really good documentation. Well done all!

[2018-07-27 05:08] sanjeev3 commented on #12464
@jjthomas1983, As long as you have access to the internet for calling the cloud service API, you can scan content (images, text and videos) residing anywhere that is accessible to the API. All APIs take the actual content as inputs, in addition to URLs for images.

[2018-07-27 05:31] mike-urnun-msft commented on #11855
Hi @badulescub Sorry for delay in response here. Are you still having this issue? If so, I'd like to run through the steps tomorrow and reproduce the issue for fix.

[2018-07-27 05:43] amanarneja commented on #12466
I think this test is going well

[2018-07-27 06:04] YutongTie-MSFT commented on #12222
@wechuli
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 06:04] #12222 closed

[2018-07-27 06:05] YutongTie-MSFT commented on #12393
@polarapfel Glad to see you like our document! We will continue to improve our document. Thanks!
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 06:05] #12393 closed

[2018-07-27 06:15] YutongTie-MSFT commented on #12415
@anrothMSFT Hi, this is a doc-enhancement issue here. Can you please help check it and update the document as necessary. Thanks a lot!

[2018-07-27 06:19] YutongTie-MSFT commented on #12351
@TheAmenRa  Thanks for sharing your solution, I will also cc the author to see if we can help to improve the document. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@alch-msft Hi, can you please check the post here, it's a solved issue but I think we can do some improvement here. Thanks

[2018-07-27 06:19] #12351 closed

[2018-07-27 06:38] YutongTie-MSFT commented on #12267
@LeitchP Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rastala Hi, this is a doc-bug, can you please check it and update the document as necessary to make it clearer? Thanks a lot!

[2018-07-27 06:39] grik001 opened #12468 "Trigger - C# script example for 2.x - EventData empty"
Hi, I am trying to implement the part **Trigger - C# script example**, I am attempting the 2.x part with metadata. I then setup a LogicApp to send data to EH, but the **EventData myEventHubMessage** never contains any Bytes.

This line never returns anything: log.Info($"Event: {Encoding.UTF8.GetString(myEventHubMessage.GetBytes())}");
If I check the length of the bytes its always 0.

When I use th

[2018-07-27 07:02] SnehaGunda commented on #12430
@htoma If you provision throughput at the database level,  the restore happens at full database account level, a snapshot of metadata of the database is stored for 8 hours. After 8 hours it's overwritten so you can't get previous snapshot after 8 hours.

[2018-07-27 07:09] deruss commented on #11817
Hi Mike,

I'm not sure why Logic Apps is being mentioned?

I'm specifically asking about the feature under the section "Exclude files from your backup" above.

In the _backup.filter file I can specify to exclude certain files from my App Service backup. The question I have is whether there's a way to exclude ALL files. ie. by specifying a wildcard (*) filter.
I've tried the most obvious way but it

[2018-07-27 07:17] thisiszw opened #12469 "how to include library used?"
If I have used some library which is not installed on Azure by default, how do I include it in the deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9f9f665-d8f6-5cf5-bdb8-01112cffd69b
* Version Independent ID: 25000f70-6f17-5d8e-3603-db051cd266a2
* Content: [Azure Machine Learning Model Management Web Servic

[2018-07-27 07:18] niceysj opened #12470 "Two options command is wrong."
Please fix it!

$myScaleProfile = New-AzureRmAutoscaleProfile `
  -DefaultCapacity 2  `
  -MaximumCapacity 10 `
  -MinimumCapacity 2 `
  -Rules $myRuleScaleUp,$myRuleScaleDown ` =&gt; Rule
  -Name "autoprofile"

Add-AzureRmAutoscaleSetting `
  -Location $myLocation `
  -Name "autosetting" `
  -ResourceGroup $myResourceGroup `
  -TargetResourceId $myScaleSetId `
  -AutoscaleProfiles $myScaleProfile

[2018-07-27 07:58] rahulrai-in commented on #12421
Faced the same issue. The colon separator seems to work.

[2018-07-27 08:02] deruss commented on #11817
Apologies, I figured this out. The file can specify directories. I just set to include "\site" and got the result I'm after.

Thanks.
David.

[2018-07-27 08:05] htoma commented on #12430
Thanks Sneha,
Does this mean that the last backup will be available for restore anytime before the end of the 30 days?

[2018-07-27 08:07] YutongTie-MSFT commented on #12213
@topekTopperson Sorry for the inconvenience. But we truly support Japanese here, you need to use 'ちじ' instead of '知事' here. And it will be fine.

![image](https://user-images.githubusercontent.com/38084098/43309361-728679f6-9139-11e8-94e7-ea5ff566ef53.png)

[2018-07-27 08:20] SunnyOswal commented on #10635
still not fixed.

[2018-07-27 08:26] sammydeprez opened #12471 "Filter on Facetable Collection(Edm.String)"
How can I add a facet filter on a Collection(Edm.String)?
For example in this example you have the tags column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42119d9-5658-905f-5a1c-a85e6e995ce8
* Version Independent ID: d777816b-117c-3e86-e429-8ed59f68533e
* Content: [Facet filters in Azure Search](https://docs.micro

[2018-07-27 08:38] cdoidge commented on #10799
I am running Windows 2016 DCs and see this error

[2018-07-27 08:47] k-e-v-i-n-c opened #12472 "Azure AD sign-in with phone?"
I've seen a recent update to the iOS Authenticator app which mentioned Azure AD phone sign-in, but can't find any other news around this, any update you can share?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8c41de-1751-6ecd-24b9-ab687f7ae467
* Version Independent ID: 11d17688-b87e-f681-cf84-ce90f93e26ce
* Content

[2018-07-27 09:44] maweeras-msft commented on #10799
@cdoidge which specific error are you referring to? Can you paste the extract from the relevant recent registerforest*.txt from C:\Program Files\Azure AD Password Protection Proxy\Logs

Do you have Windows 2016 DCs exclusively or do you have a mixture of OS in use?

If you enable the event log in Applications and Services Logs\Microsoft\Windows\Crypto-Ncrypt\Operational and run the cmdlet, what is

[2018-07-27 09:50] randhirkc commented on #12426
I get the error that the command is invalid. I believe I have all the pre-reqs.

PS C:\Users\XXXX> Connect-AzureRmAccount
Connect-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script
file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct
and try again.
At line:1 char:1
+ Connect

[2018-07-27 10:50] topekTopperson commented on #12213
Thanks for your response. Because you gave me an evasive answer I will go further this time.
Since Japanese text is very often combination of hiragana and kanji, you are simply not supporting Japanese transliteration. If you are not sure about that, contact with your Japanese expert if you have one. I gave Microsoft my phone number and credit card data because of this lies.
I'm kindly asking you t

[2018-07-27 11:29] chaami opened #12476 "Key Thumbprint discrepancy between portal and New-AzureADApplicationKeyCredential"
Hi,
I have noticed that according to the way keys were associated to applications, their thumbprint shown in the App Registrations &gt; The Application &gt; Settings &gt; keys page end up different...
It's only when the public key is uploaded through the portal that its thumbprint is the same as when accessing the certificate in the Microsoft Management Console.
Using [New-AzureADApplicationKeyCre

[2018-07-27 11:34] marshall245 opened #12477 "Update Datetime Format"
This page needs to be updated to show the actual datetime format sent from data factory for the trigger ScheduledTime. I am seeing something like this "04/11/2018 00:05:49". There is no "z". This has real implications since C# casts to local time immediately when ConvertToDatetime is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-27 11:43] chaami commented on #11250
Hi @CelesteDG ,
I have created https://github.com/MicrosoftDocs/azure-docs/issues/12476.
Let me know if you think I should phrase it differently.
I want to post a comment in the [New-AzureADApplicationKeyCredential documentation page](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplicationkeycredential?view=azureadps-2.0), but I just can log into the system 😆
Feel free to

[2018-07-27 11:46] SQLDataSide opened #12479 "Polybase and Databricks"
Hi I did not find one blog/post/.... related to Polybase and Databricks, and the link that you have provided has nothing to do with Polybase and Databricks.
Sincerely
Nik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437b3c1e-b43f-360d-fb6f-27bb66b29a55
* Version Independent ID: 96509a9c-d258-8956-a219-02d188c16d9b
*

[2018-07-27 12:25] mariojacobo opened #12480 "Firewall rules creation"
Hi there,

We have successfully deployed Redis caches with ARM templates, however we can't seem to do the same with firewall rules (as part of the same deployment).  I'm not getting any errors, just no rules applied to the firewall section.
This is the ARM template (IPs just for replication purposes):

"resources": [
      {
          "apiVersion": "2015-08-01",
          "name": "[parameters('red

[2018-07-27 13:00] clouddude opened #12481 "ADFS Seamless SSO"
Why would this article state Seamless SSO doesnt apply to ADFS? With a domain joined machine and IE zones properly configured, SSO is certainly seamless using ADFS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1db2d3-8e7d-0c60-f5c5-827b6a673505
* Version Independent ID: f28d55d1-f974-7767-6c69-56b74f14ff50
* Content

[2018-07-27 13:01] jimdial commented on #8987
@yobyot I've updated the article with some additional clarity and a diagram for ASGs. Let me know if anything is still unclear.  Thanks. #please-close

[2018-07-27 13:02] jimdial commented on #11407
@abhiturbot   I've added some additional clarity. Let me know if it's still unclear.  Thanks. #please-close

[2018-07-27 13:10] Anmolgan81 commented on #8450
@tfitzmac How can we find out 3rd party extension purchases for VSTS?

[2018-07-27 13:18] jzoran05 opened #12482 ""using a cloud design pattern known as Event Sourcing""
"using a cloud design pattern known as Event Sourcing"
I don't believe that Event Sourcing is exclusively a "Cloud" pattern...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0732dc7c-5236-fbd2-4250-3a6f8c869f6b
* Version Independent ID: 90c7c550-5edf-2579-21ea-a085daea87cd
* Content: [Checkpoints and replay in Durable

[2018-07-27 13:38] rothja commented on #7032
@MicahMcKittrick-MSFT The last I heard was that it was being worked on. I sent mail today asking if there was another update. Thanks!

[2018-07-27 13:45] Anmolgan81 opened #12484 "What about Team Services Organisation Accounts?"
I have a team services organisation accounts that contains 4 DevOps Project, Do those enable move?
I cannot see anything related to those in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [M

[2018-07-27 14:10] wolfma61 commented on #8369
Hi Jim -
sorry about the trouble, we are investigating ...
Wolfgang

[2018-07-27 14:21] trinadhkotturu commented on #12068
Can this be assigned to @saurabhsensharma ?

[2018-07-27 14:38] billmath commented on #12481
@clouddude Thank you for the feedback.  This has to do with the SSO option in Azure AD Connect which is only applicable to PHS or PTA.

[2018-07-27 14:38] billmath commented on #12481
#please-close

[2018-07-27 14:40] billmath commented on #12242
@Roblarson Thank you for the feed.  I am currently working on re-working the Azure AD Connect content and this is one of the items that is part of that.  You should see these issues addressed over the next couple of months.  Thanks!

[2018-07-27 14:40] billmath commented on #12242
#please-close

[2018-07-27 14:41] deyjcode commented on #12156
Forgot to add new working output:
[code]

[2018-07-27 14:41] #12156 closed

[2018-07-27 14:44] johnerskine commented on #12151
@aricbernard Can you confirm two things:
1) the resulting INF file contains the correct key usage.
2) the resulting req file checked with an online CSR decoder contains the correct key usage.
We've found, often times, Enterprise CAs will apply a certificate template to the request and override it. Thanks.

[2018-07-27 14:44] billmath commented on #11771
@JBines  Thank you for catching this.  I am following up with engineering to get clarification and should have some additional info shortly.

[2018-07-27 14:49] billmath commented on #11603
@HenrikBernhard I followed up with the PM and was told that the size has been increased to 48KB.  He is currently getting some additional information on this and will be updating the article.  At this time I am going to go ahead and close this issue.  Thanks again!

[2018-07-27 14:49] billmath commented on #11603
#please-close

[2018-07-27 14:55] billmath commented on #9290
@toanyonebutyou I am glad to see that you were able to resolve this.  I have a backlog item created to see if there is anywhere in the Azure AD Connect documentation that I can add some of this information on the userCertificate attribute although this may need to go in the Azure AD Join documentation.  Thanks again!

[2018-07-27 14:55] billmath commented on #9290
#please-close

[2018-07-27 14:57] yobyot commented on #8987
@jimdial Thanks!

[2018-07-27 15:00] #12481 closed

[2018-07-27 15:00] rfoust opened #12485 "Broken link"
The link here is broken under v1.1.880.0.  Well, not broken but just goes to the main MS site.

https://aka.ms/fedtrustinaadconnect

Azure AD Connect now creates the backup of Azure AD trust in AD FS every time an update is made and stores it in a separate file for easy restore if required. Learn more about the new functionality and Azure AD trust management in Azure AD Connect .

---
#### Documen

[2018-07-27 15:04] CarlRabeler commented on #12463
@dcbrown16 thanks for pointing this out. Originally copied from somewhere else. Cleaned up language and added a link to find more information.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/47626

[2018-07-27 15:04] #8316 closed

[2018-07-27 15:11] billmath commented on #12485
@rfoust Thanks for catching this.  I am verifying with the aka owner so we can get this pointed at the correct URL.  Thanks!

[2018-07-27 15:13] #12480 closed

[2018-07-27 15:13] CarlRabeler commented on #12397
@kazshi thanks for your question. Adding a note for more clarity. https://github.com/MicrosoftDocs/azure-docs-pr/pull/47627

[2018-07-27 15:30] markingmyname commented on #12384
@michelleryan If you are interested in embedding Power BI content into an application without purchasing an Azure capacity then you can use a Power BI Premium capacity - https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization.  If you would still like to research how to use an Azure capacity to do embedding then here is that article - https://docs.microsoft.com/en-us

[2018-07-27 15:44] cgillum commented on #12482
That's a valid point. I'm okay with removing "Cloud" from here. Thanks for the feedback.

[2018-07-27 15:52] tshaiman opened #12487 "Multiple Consumer Processes"
It is advised to add further explanation on how a the SimpleReceiver works. does it open a "thread-reader" for each partition ? are the reads between partitions are performed in parallel ? what happens if you launch 2 .exe instances of that program on the same event hub ? will the "fight" on locking the partitions ? I tried that and it seems that every process here tries to register ALL of the par

[2018-07-27 15:53] JunnuW opened #12488 "Step: 'Create project zip file'"
Is there some  inaccuracy at this step: 'Create project zip file'?
Using command: 'zip -r myAppFiles.zip'. my Bash on Windows 10 responds:  'bash: zip: command not found'.  So I took the PowerShell option with command:
'Compress-Archive -LiteralPath myhelloworld  -CompressionLevel Optimal -DestinationPath myhelloworld.zip'

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-27 15:59] JatinBavishi commented on #12317
Thanks Bryan. Appreciate a quick turnaround on this Doc update request.

Jatin Bavishi

From: Bryan Trach <notifications@github.com>
Sent: Thursday, July 26, 2018 9:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jatin Bavishi <jatinb@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Add keywords like MAG or Azure US Government clou

[2018-07-27 15:59] rothja commented on #7032
@MicahMcKittrick-MSFT I got a response today that this change is officially submitted and slated for work, but it is a large change for the Azure web team and that has been one of the reasons for the delay. The good news is that it has not been forgotten. I apologize it is taking so long.

[2018-07-27 16:00] mattbriggs commented on #12428
@agvardha

I got this response about your question:

"Azure Stack doesn't natively expose performance counters to the operator today.  All of the Azure Stack perf or capacity metrics are exposed through Azure Resource Manager APIs and the list is short today.

Azure Stack doesn't currently, and for now no plans to allow a user to add specific alerting thresholds to an infrastructure related capaci

[2018-07-27 16:01] toanyonebutyou commented on #9290
@billmath I apologise but I am not super familiar with GitHub, is this please close directed at me and an action I should take or is this an automated process that keys off the hash tag? Something the MS team closes?

Thanks,

[2018-07-27 16:07] alygcode opened #12490 "Missing Authenticatoin Tab"
After the Basic tab when configuring AKS the tabs are Basic ; Authentication ; Networking ; Monitroing ; Tags ; Review + Create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa58d6758d93
* Content: [Quickstart - Azure Kubernetes clu

[2018-07-27 16:07] Brenduns commented on #12311
@aricbernard     Thanks for the feedback.  The -OsDiskLocalPath parameter has been deprecated. That change had not made it into content. It is replaced with -OsURI “URI_path” where the URI_Path is the path to the blob storage location holding the item you want to import.

Content is under revision now and should be updated in next day.  This revision includes the removal of the trailing ` for the

[2018-07-27 16:09] sparsematrix commented on #7513
@michaelringholm From the docs page:

[2018-07-27 16:09] Brenduns commented on #12311
#please-close
The revisions are submitted for publishing.

[2018-07-27 16:10] billmath commented on #9290
No worries.  It is actually for the pull request monitors.  It tells them to archive it.

From: toanyonebutyou <notifications@github.com>
Sent: Friday, July 27, 2018 12:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bill Mathers <billmath@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] UserCertificate (#9290)

@billmath<https://n

[2018-07-27 16:12] stdistef opened #12491 "Service Tag for only Azure Public IPs"
I see the working of INTERNET service tag above and it threw me for a while, unitl I noticed it said "Including the Azure Public IPs".
I need a Service Tag which is ONLY the Azure Public IPs (not any other public IP.    Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc3

[2018-07-27 16:13] Brenduns commented on #12461
#in-progress

[2018-07-27 16:14] Brenduns commented on #12461
@georgel-ms   Thanks for this feedback. We are investigating this and will update you soon.

[2018-07-27 16:18] kgremban commented on #12395
Thanks @davihar and @mike-urnun-msft. (I assume you meant to mention me, instead of kganjam? :) ) I'll take a look at this and submit an update to the docs.

[2018-07-27 16:23] MicahMcKittrick-MSFT commented on #12462
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 16:37] #9290 closed

[2018-07-27 16:37] johndonnelly commented on #12226
@BryanTrach-MSFT Here is a link to my Stack Overflow question for more info on what I am experiencing: https://stackoverflow.com/questions/51527932/configuration-error-azure-key-vault-as-a-visual-studio-connected-service-configu

[2018-07-27 16:38] SaurabhSharma-MSFT commented on #12391
@thuansoldier Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand Please can you check if this can be added to the documentation as a note.

[2018-07-27 16:52] MicahMcKittrick-MSFT commented on #12426
Make sure you are running the latest version of PowerShell.

Get-Module AzureRM
Install-Module AzureRm

[2018-07-27 16:55] TravisCragg-MSFT commented on #8987
@yobyot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 16:55] #8987 closed

[2018-07-27 16:57] TravisCragg-MSFT commented on #12311
@aricbernard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 16:57] #12311 closed

[2018-07-27 17:03] prashanthyv commented on #10635
@Sunny-Oswal  - Can you please point to where the free trial link exists that needs to be fixed?

[2018-07-27 17:11] sidramadoss commented on #12394
The 5 second window is for the detection logic and the tumbling window is for dynamic reporting (ever second).

[2018-07-27 17:15] dsajanice opened #12494 "Tutorial does not mention changing the module version if building again"
I have walked a number of people through this tutorial and one common mistake they all make is that if they continue to change the code and build repeatedly, they do not change the module version in VS code's module.json. As a result they build a docker image with the same version as the previous one. They create the deployment, but the new container never runs because the module version was not c

[2018-07-27 17:17] YutongTie-MSFT commented on #12213
@topekTopperson Sorry for all inconveniences and misunderstanding your post. And also got confused about kanji and Japanese transliteration. I have contacted the author to see what's the problem is, and fix it. Sorry again. Thanks for your feedback a lot!

[2018-07-27 17:18] dsajanice opened #12495 "Add more instruction on observing changes to the Edge device"
I guided several people through this tutorial this week. One area where I observed people getting lost was between the 'Deploy and run the solution' and 'View generated data' steps, they wanted to see what was happening on the Edge device. It would be useful to add some steps to help the user view and understand the Edge device logs and data on the portal, between those steps.

---
#### Document D

[2018-07-27 17:21] dsajanice opened #12496 "Add the entire code file instead of snippets"
As I observed multiple people walking through this tutorial this week, I observed them struggling through the instructions to edit the code and the deployment template. It would be much easier to display the entire code file and explain each part of the code as opposed to explain and ask to copy paste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-27 17:21] MarileeTurscak-MSFT commented on #12476
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-27 17:32] Mike-Ubezzi-MSFT commented on #12116
@LG-1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 17:32] #12116 closed

[2018-07-27 17:33] Mike-Ubezzi-MSFT commented on #12154
@samisarfraz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 17:38] TravisCragg-MSFT commented on #12491
@stdistef there are already tags for some azure services (Storage, SQL, ect...) but there is not currently a tag for all azure public IPs.

If you would like to request this feature, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We w

[2018-07-27 17:38] #12491 closed

[2018-07-27 17:38] Mike-Ubezzi-MSFT commented on #12206
@chrissie926 Can you assist with answering this question? The documentation does not cover this scenario so I am not sure if it is not supported or not needed. Thank you, Mike.

[2018-07-27 17:41] ChandraMadhumanchi opened #12497 "Issue to load the TinkerPop graph, and save it to Azure Cosmos Graph API DB using Azure Cosmos DB Spark connector"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-27 17:41] Alberto-Vega-MSFT commented on #12397
@CarlRabeler Thank you for your help and @kazshi We appreciate your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 17:42] #12397 closed

[2018-07-27 17:44] MicahMcKittrick-MSFT commented on #12406
@vineetsunny I will close this for now. When ready please provide the doc you are referring to and we can reopen and continue.

[2018-07-27 17:44] #12406 closed

[2018-07-27 17:45] YutongTie-MSFT commented on #12213
@topekTopperson Update:  I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi Noelle, I have reproduced the issue. It would file when you input 'Kanji', and it works for 'Hiragana'. We have discussed it offline. Thanks!

[2018-07-27 17:45] MicahMcKittrick-MSFT commented on #12409
@praveendhac can you provide me with the documentation you are following?

[2018-07-27 17:47] YutongTie-MSFT commented on #12203
@noellelacharite Hi Noelle, this is the doc-issue we just discussed offline. I have assigned it to you. Thanks a lot!

[2018-07-27 17:47] MarileeTurscak-MSFT commented on #12472
Thanks for the question! We are looking into this and will get back to you shortly.

[2018-07-27 17:49] BryanTrach-MSFT commented on #12465
@nheinbaugh
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 17:51] MicahMcKittrick-MSFT commented on #12451
@srinivas1787 thanks for bringing this up. I have modified the script to ensure the command to execute and the actual script names match and make it easier to understand.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-27 17:52] femsulu commented on #12463
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-27 17:52] mike-urnun-msft commented on #12495
Hi @dsajanice - Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-27 17:52] MicahMcKittrick-MSFT commented on #12456
Thanks @drcrook1

I have assigned this to the content author to review and see if we can make this doc a bit more clear

[2018-07-27 17:53] noellelacharite commented on #12203
@easyj2j can you take a look at this?

[2018-07-27 17:54] Mike-Ubezzi-MSFT commented on #12215
OnMessage in this implementation is as a message client, and the specific documentation is outlined below. Is there something specific you are looking for?

[SubscriptionClient.OnMessage Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.subscriptionclient.onmessage?view=azure-dotnet)

[OnMessageOptions Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.se

[2018-07-27 17:54] mike-urnun-msft commented on #12496
Hey @dsajanice - Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-27 17:54] BryanTrach-MSFT commented on #12488
@JunnuW Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 17:57] mike-urnun-msft commented on #12494
Hi @dsajanice - Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-27 17:58] BryanTrach-MSFT commented on #12469
@thisiszw Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 17:59] BryanTrach-MSFT commented on #12487
@tshaiman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 18:00] BryanTrach-MSFT commented on #12477
@marshall245 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 18:04] eross-msft commented on #11476
#please-close @SaurabhSharma-MSFT  @johnneycao

I've updated the URL to go to https://docs.microsoft.com/azure/active-directory-domain-services/active-directory-ds-comparison#do-it-yourself-diy-ad-deployment-options. The change should appear in the live build this afternoon.

[2018-07-27 18:04] BryanTrach-MSFT commented on #12480
@mariojacobo We are happy to hear that you were able to resolve your issue. We will keep the thread closed as a result.

[2018-07-27 18:05] barbkess commented on #11784
@butchmarshall : Please let us know if this answer is satisfactory.  Thanks!

[2018-07-27 18:05] BryanTrach-MSFT commented on #12479
@SQLDataSide Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 18:06] YutongTie-MSFT commented on #10535
@tedway Hi Ted, just want to see if there any update here?

@ilyas-it83 Thanks for your follow-up.

[2018-07-27 18:07] BryanTrach-MSFT commented on #12484
@Anmolgan81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 18:08] #12451 closed

[2018-07-27 18:08] barbkess commented on #12432
@JTC-Jeremy : Thanks for letting me know.  I have created a work item for this and added it to my backlog.

[2018-07-27 18:12] eross-msft commented on #9291
#please-close  This feature has shipped and the file has been removed since it's no longer relevant.

[2018-07-27 18:12] BryanTrach-MSFT commented on #11407
@abhiturbot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 18:12] #11407 closed

[2018-07-27 18:12] BryanTrach-MSFT commented on #11603
@HenrikBernhard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 18:12] #11603 closed

[2018-07-27 18:13] BryanTrach-MSFT commented on #12242
@Roblarson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 18:13] #12242 closed

[2018-07-27 18:14] MicahMcKittrick-MSFT commented on #12462
@mrbobfrog have you tried canceling the watch action and starting it again?

kubectl get service azure-vote-front --watch

In previous cases where I felt it was taking a long time to allocate a public IP I did a Control+C to stop the command and after running it again I saw the public IP was there

[2018-07-27 18:14] #9291 closed

[2018-07-27 18:15] ramagurram opened #12498 "CloudArchitect"
Hello,
This is a very nice feature and I  hope you make this feature  available for Windows VM also.
On linux this feature works well with SSH connections. But when we try to connect to the Linux VM using RDP clinet (after configuring xrdp on the VM) using AAD user this feature does not work. How ever we can connect using RDP client to the Linux VM with local linux user. XRDP was installed and con

[2018-07-27 18:15] SnehaGunda commented on #9235
@Q4living as we haven't heard back from you, we will proceed with closing this issue. Feel free to reopen if you have additional questions.

#please-close

[2018-07-27 18:17] mrbobfrog commented on #12462
@MicahMcKittrick-MSFT I have run multiple times with and without the `--watch` option and it's still pending:
[code]

[2018-07-27 18:17] MicahMcKittrick-MSFT commented on #12462
Thanks for that. I am working on a repo right now. Will update shortly.

[2018-07-27 18:18] tdykstra commented on #8323
#please-close

[2018-07-27 18:18] mrbobfrog commented on #12462
In case it's of help, here is yaml from the service:
[code]

[2018-07-27 18:19] Brenduns commented on #12461
@georgel-ms     I've submitted an update for the article to modify the first two steps.  This update should be live later this evening.  The revised steps (1 and 2) follow:
1. On the default dashboard of the Admin portal, find the **Resource providers** tile.
2. Select the service with the quota that you want to view, like **Compute** or **Storage**.

Thanks again for bringing this inaccuracy to o

[2018-07-27 18:19] Brenduns commented on #12461
#please-close

The fix for this issuse is in processing for publication.

[2018-07-27 18:20] TravisCragg-MSFT commented on #9235
@Q4living We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 18:20] #9235 closed

[2018-07-27 18:20] #8323 closed

[2018-07-27 18:21] iainfoulds commented on #11484
If there are additional follow-up points, we can review further. @MicahMcKittrick-MSFT For now, #please-close

[2018-07-27 18:21] #11484 closed

[2018-07-27 18:22] brandonh-msft commented on #12364
I'm not. But when I tried (to get verbose messages to show up in the host or AppInsights) I did so by adding
[code]
to my host.json file. This did nothing.

[2018-07-27 18:23] josuvil opened #12499 "Features and Improvements statement: "The Azure AD Connect Health agent was updated to the latest version 3.1.7.0""
Hello. I wonder if we should include in this statement the version release history of the agent here: https://docs.microsoft.com/en-us/azure/active-directory/connect-health/active-directory-aadconnect-health-version-history#june-2018  -That page includes the bugfixes of the health agent. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-07-27 18:29] tdykstra commented on #10917
Instead of including 3.x instructions with a warning, the article was changed to be only about the current GA release -- 2.x.  Later when 3.x is GA it will have only 3.x instructions. #please-close

[2018-07-27 18:49] tdykstra commented on #12364
Try setting it to Trace instead of Verbose (per the [Levels section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-levels) that's the name of the lowest logging level).

[2018-07-27 18:51] CelesteDG commented on #11250
Thank you, @chaami ! :)

@MohitGargMSFT @SaurabhSharma-MSFT @MicahMcKittrick-MSFT @Mike-Ubezzi-MSFT - The original issue has been fixed and update is live. Separate issue opened to track other question. #please-close

[2018-07-27 18:51] nils-a commented on #11744
I'm sorry. Maybe I missed something.
Doc's you linked explain scopes in general. How does that relate to the question?

[2018-07-27 19:01] vasivara-MSFT commented on #12404
@jiayanghe Thank you for your question. We use this forum to address document feedback. Since your issue is on development, Can you please post this question in our [development forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelbs) to get an answer from our community of SME's.

[2018-07-27 19:02] vasivara-MSFT commented on #12404
@jiayanghe We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 19:02] #12404 closed

[2018-07-27 19:05] #11250 closed

[2018-07-27 19:07] brandonh-msft commented on #12364
my code:
[code]

the output
[code]

---
With `Trace`:

the output
[code]

---
The confusing here lies in that the `TraceWriter` object has **both `Verbose` and `Trace` methods** but we only show log levels pointing to `Trace`. The overload for `.Trace`, additionally, is very much different than the others which lead me to believe `Info`, `Warning`, etc were all "shortcuts" to an underlying call to

[2018-07-27 19:10] scottjreece commented on #11046
Hello, I'm having the same issue with libssl.so.1.0.2 missing on a Moxa ARM device. Is there a solution to this besides wiping the device? It's running Debian GNU/Linux 8 (jessie)

Thanks!

[2018-07-27 19:13] SaurabhSharma-MSFT commented on #12405
@ahamin01 As far as I know those two places are the one where the user can see the privacy statement, Alternatively, you can also share the configured Privacy Statement URL directly to guest users.

[2018-07-27 19:14] kamellemann opened #12501 "Backend Pool Unhealthy"
Hi all,
with the configuration above, my backend pool is always unhealthy.
Szenario: Azure App Service with WordPress installed. Plan: Shared: 0 Small. Region: West Europe.
AppGW (incl. WAF) with SKU Size Medium. Region: West Europe.
Probes etc. configured with the script mentioned above.
$webappFQDN is configured with xyz.azurewebsites.net fqdn.
Thanks

---
#### Document Details

⚠ *Do not edit t

[2018-07-27 19:16] Minewiskan commented on #12310
This feature is technically in preview and will remain so for some time. We typically do not document in detail features in preview because functionality can change significantly. However, this is a common issue and something that does merit documenting. It will have to wait a couple weeks though, due to vacations.
#in-progress

[2018-07-27 19:16] szarkos commented on #12407
I bet the issue is that the user mistakenly created a specialized VM, which won't undergo provisioning (and thus will have no DVD device attached) instead of a generalized one.  I commented in that bug report in case it helps someone else.

Regarding drivers, all one needs is a generic IDE driver, commonly ata_piix which is available in all standard distros.  It's often even built statically in th

[2018-07-27 19:23] MicahMcKittrick-MSFT commented on #12462
@mrbobfrog I followed this doc with the exception of deploying to West US 2 as you have rather than East US

![image](https://user-images.githubusercontent.com/32313503/43342327-2cdd065a-9197-11e8-9be1-7fc78f310b79.png)

here is the output of my yaml file

kubectl get service azure-vote-front -o yaml
[code]
I am assuming something just got hung up with your deployment. Can you try removing your cl

[2018-07-27 19:32] MicahMcKittrick-MSFT commented on #12455
@drcrook1 I have synced with some AKS members offline and essentially there are no production-ready alternatives short of rolling your own. Cert-manager is probably the most widely used of the available OSS tools.

Once we have something the AKS teams feels is worthy of production use we will be sure to update the docs.

[2018-07-27 19:32] #12455 closed

[2018-07-27 19:33] ScottMD1520 opened #12502 "New MPN Partner Portal Path"
I can't seem to find the path to the Web App section in 5b above....any ideas how to get to it in the new MPN Partner Portal ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d2dba7-995d-5c0e-bd79-7f10e42ddfb7
* Version Independent ID: 1844b48e-023a-d1d2-e202-097cf77f12ec
* Content: [Register using CSP Partner informa

[2018-07-27 19:34] iainfoulds commented on #12455
Thanks for the feedback, @drcrook1. This approach is just an example of a common approach, and there's no requirement to use cert-manager. It is one of the mostly widely known and used. Previous version of cert-manager was kube-lego, so this tool has been around for 2+ years now. There's no express support of this project, and there are many other tools for interacting with Let's Encrypt - https:/

[2018-07-27 19:34] iainfoulds commented on #12445
@drcrook1 As with the other GitHub issues recently open, these aren't specific to AKS or the doc, rather how you choose to use Helm and the kubectl commands. As there's a lot going in this doc already, we didn't want to also dive into alternate namespaces for every command, though it's good feedback for future iterations of this content.

The initial Helm install of the ingress controller shows th

[2018-07-27 19:35] iainfoulds commented on #12456
@drcrook1 There is already a backlog work item to provide steps to clean up the environment. None of them are AKS-specific, rather basics of Helm and Kubernetes in terms of how to remove the chart  with `helm delete` and underlying deployment and then Kubernetes resources. These updates are scheduled for the mid-end of August sprint.

@MicahMcKittrick-MSFT For now, #please-close

[2018-07-27 19:36] #12456 closed

[2018-07-27 19:36] #12445 closed

[2018-07-27 19:38] MarileeTurscak-MSFT commented on #12499
Good suggestion! I made a pull request to add a link to the release notes.

[2018-07-27 19:38] #12499 closed

[2018-07-27 19:39] iainfoulds commented on #12490
Hi, @alygcode. Thanks for the feedback. This is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/12334 which I'm currently working on now. These updates should publish this afternoon.

@Karishma-Tiwari-MSFT #please-close

[2018-07-27 19:41] XianghanWang opened #12503 "Can't download data"
Run preprecess_text step failed with error. Is https://bostondata.blob.core.windows.net/scenario-document-collection-analysis/ still a valid URL?
Running: ['python', 'azureml-setup/run_script.py', 'python', 'azureml-setup/history_injector.py', 'Code/documentAnalysis/configs.py']
The experiment completed successfully. Starting post-processing steps.
&lt;urlopen error [WinError 10060] A connection a

[2018-07-27 19:42] iainfoulds commented on #12282
I'm not sure if this is integrated into the Terraform provider yet. There is on-going engineering work on implementing cluster autoscaler into AKS, so hopefully this support is coming. @sakthivetrivel who may know more on timelines.

[2018-07-27 19:42] veyalla commented on #11046
Adding @darobs if he has any suggestions.

[2018-07-27 19:51] barbkess commented on #10335
@dcbrown16 : I have assigned a work item to fix this and added it my backlog.

[2018-07-27 19:53] bandersmsft commented on #12502
@scottmd1520 FYI.

[2018-07-27 20:02] SaurabhSharma-MSFT commented on #12436
@naxxxel Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@davidmu1 I also face the same issue and the documented policy url doesn't work however it works with url https://login.microsoftonline.com/sasharb2c.onmicrosoft.com/oauth2/v2.0/token?p=b2c_1_ropc_auth.

[2018-07-27 20:06] darobs commented on #11046
Hello @scottjreece,

Sorry, we don't have a package release that will support jessie.

We might be able to find workarounds for some of the issues you'll encounter, but this isn't the best thread to work all that out.  If you would like to pursue this further, please create an issue on the [IoT Edge Github page](https://github.com/Azure/iotedge).

[2018-07-27 20:10] aricbernard opened #12504 "Backing up and restore App Services, SQL, and MySQL resource providers and associated user data"
The first note in this document includes some links that should allegedly assist with backing up and restoration of the pp Services, SQL, and MySQL resource providers and associated user data.  However, these link out to Azure specific content that is largely not applicable to Azure Stack and specifically not relevant to the resource providers themselves.

---
#### Document Details

⚠ *Do not edit

[2018-07-27 20:11] k-e-v-i-n-c commented on #12472
Thanks Marilee. How can we enable this, doesn’t seem to be any configuration I can see within Azure AD? Should I raise a support ticket?

Kind regards

Kevin

From: Marilee Turscak - MSFT <notifications@github.com<mailto:notifications@github.com>>
Date: Friday, 27 Jul 2018, 8:28 pm
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com<mailto:azure-docs@noreply.github.com>>
Cc: Kevin Coster (

[2018-07-27 20:12] #12395 closed

[2018-07-27 20:14] Karishma-Tiwari-MSFT commented on #12490
@alygcode We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 20:14] #12490 closed

[2018-07-27 20:16] rboucher commented on #9448
updated a number of articles based on feedback. Added ETW command per internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/46573

[2018-07-27 20:17] nerath commented on #12233
Got it. Thanks for the follow-up!

From: Vic <notifications@github.com>
Sent: Thursday, July 26, 2018 1:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Erath, Neil R <nerath@chubb.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Article does not contain customization instructions (#12233)

@nerath<https://urldefense.proofpoint.com

[2018-07-27 20:18] KumudD commented on #8596
Fixed command and added supported SKU information. Thanks!

#please-close

[2018-07-27 20:19] tdykstra commented on #12364
I agree and I've made a pull request with that change.  It should be live this afternoon or tomorrow.  Thanks for reporting the issue; I'm sure others have run into it as well.

[2018-07-27 20:22] #8596 closed

[2018-07-27 20:35] k-e-v-i-n-c commented on #12472
Perfect thanks!

[2018-07-27 20:46] MicahMcKittrick-MSFT commented on #12498
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 20:47] SunnyOswal commented on #10635
Look for below on the page and hyperlink in it redirects to free trial page:

To create these HSM-protected keys, you must use the Azure Key Vault Premium service tier to support HSM-protected keys.

[2018-07-27 20:49] prashanthyv commented on #10635
Hi @Sunny-Oswal . On which page?
I cannot find it by searching the repo - https://github.com/prashanthyv/azure-docs-pr/search?q=To+create+these+HSM-protected+keys%2C+you+must+use+the+Azure+Key+Vault+Premium+service+tier+to+support+HSM-protected+keys&unscoped_q=To+create+these+HSM-protected+keys%2C+you+must+use+the+Azure+Key+Vault+Premium+service+tier+to+support+HSM-protected+keys

[2018-07-27 20:52] SunnyOswal commented on #10635
Page Url: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-get-started

[2018-07-27 20:53] prashanthyv commented on #10635
Thanks. I'm sorry, what is the problem of having this link?

[2018-07-27 20:56] SunnyOswal commented on #10635
Is this link supposed to be redirecting to free trial page or the pricing page of azure key vault?

[2018-07-27 20:57] LisandroSu opened #12505 "How to go deeper on Tomcat and WAR configuration?"
@doppelganger9 commented on [Fri Jul 27 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/172)

Hi,
Very good pointers to deploy a WAR on a Tomcat running in Azure Web App!
I'm missing some more documentation about:
- how to provide custom JAVA_OPTS to Tomcat, for them to be inherited in my app via system.getProperties(...)? Sample options: Memory, startup time optimization,
- related

[2018-07-27 20:57] LisandroSu opened #12506 "How to go deeper on Tomcat and WAR configuration?"
@doppelganger9 commented on [Fri Jul 27 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/172)

Hi,
Very good pointers to deploy a WAR on a Tomcat running in Azure Web App!
I'm missing some more documentation about:
- how to provide custom JAVA_OPTS to Tomcat, for them to be inherited in my app via system.getProperties(...)? Sample options: Memory, startup time optimization,
- related

[2018-07-27 20:58] LisandroSu commented on #12505
Hi team, can you check on this issue?

Thanks!

[2018-07-27 21:03] femsulu commented on #12174
@tfitzmac  - FYI on the Kudos

[2018-07-27 21:03] #12174 closed

[2018-07-27 21:06] MicahMcKittrick-MSFT commented on #12498
@ramagurram AAD login for Linux is still in a preview state and is not configured to work over RDP sessions. It is setup to work over SSH sessions which is why you are unable to get it to work.

The AAD team has requested that any features you would like to see implemented be left on their feedback page

https://feedback.azure.com/forums/169401-azure-active-directory?category_id=166032

I would su

[2018-07-27 21:06] #12498 closed

[2018-07-27 21:11] MicahMcKittrick-MSFT commented on #12460
@drcrook1 I will close this and follow up with you offline.

[2018-07-27 21:11] #12460 closed

[2018-07-27 21:12] CarlRabeler commented on #12463
#please-close - see PR above resolving the issue

[2018-07-27 21:13] SaurabhSharma-MSFT commented on #12401
@TaviTruman Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to Upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-07-27 21:14] BryanTrach-MSFT commented on #12466
@niheinba We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-27 21:14] #12466 closed

[2018-07-27 21:14] TaviTruman commented on #12401
Done

[2018-07-27 21:14] #12401 closed

[2018-07-27 21:18] vindupuri commented on #10482
I want to know from which country region my API hosted in Azure API management is been called, The originating source of caller of API.  is there any way to do that?

[2018-07-27 21:23] mike-urnun-msft commented on #11817
Hi @deruss - My apologies too David! I misunderstood your question. Thank you for sharing how you solved it!

[2018-07-27 21:26] hpsin opened #12507 "Reference link for .NET Client goes to a generic landing page."
Expected: an API reference for the library.  Actual: Generic .NET API Explorer homepage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e545dc-070f-9f8f-ba70-1465eb690878
* Version Independent ID: dcdae435-fdb2-7757-143e-85fb16766f95
* Content: [Azure Active Directory Authentication Libraries](https://docs.microsoft.

[2018-07-27 21:28] Powerhelmsman opened #12509 "Missing Page in Docs"
This issue was created by Krueladin from https://github.com/MicrosoftDocs/feedback/issues/558
404 Error on a Web Apps Linked Page
Issue Details
The documentation site for Web Apps is missing the reference architecture page. The error received is a 404.
Steps to reproduce:
Navigate to https://docs.microsoft.com/en-us/azure/app-service/app-service-web-overview.
In the left hand menu, click drop down

[2018-07-27 21:29] SaurabhSharma-MSFT commented on #12338
@tumluliu These options are for the old CLI 1.0 and not for CLI 2.0.

[2018-07-27 21:31] JasonWHowell commented on #12416
@SQLDataSide Hi Nik,

I think that's how OAuth authentication works in Azure. Needs to know the tenant ID specific URL so it knows where to try the token with.

This [Oauth doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code) implies there is the option to use the tenant identifier instead of the Tenant ID as well.  `contoso.onmicrosoft.com`

[2018-07-27 21:33] JasonWHowell commented on #12416
@SQLDataSide I had a mistake in my test. It works to provide the id as well...

[code]

[2018-07-27 21:33] Alberto-Vega-MSFT commented on #12383
Hi @tomleetaiwan According to the doc there is an IOPS max cap of 6000 IOPS  so even if the result is 12,000 it will default to the max cap of 6000 IOPS

[2018-07-27 21:36] #12383 closed

[2018-07-27 21:36] JasonWHowell commented on #12416
#please-close

[2018-07-27 21:39] SaurabhSharma-MSFT commented on #12452
@1maja  It does not prohibit the access to your account instead the two step verification is an added step to ensure that you are correct account holder of that account trying to sign-in.

[2018-07-27 21:44] iainfoulds commented on #12409
I think this is from the AAD integration doc - https://docs.microsoft.com/en-us/azure/aks/aad-integration. There's some on-going engineering work in progress around this, as noted in https://github.com/MicrosoftDocs/azure-docs/issues/10754

The approach suggested would be to create a custom Azure RBAC definition that limits who can read the credentials, not a custom Kubernetes role. Essentially, y

[2018-07-27 21:49] MicahMcKittrick-MSFT commented on #12409
Thanks @iainfoulds!

@praveendhac I will close this for now but please see Iain's response and follow the other issue we mentioned for any additional updates on this topic.

[2018-07-27 21:49] #12409 closed

[2018-07-27 21:51] SaurabhSharma-MSFT commented on #12457
@nickwalkmsft I believe it is mentioned as octet sequences as any type of data is accepted and stored securely without any semantics.

[2018-07-27 21:56] SnehaGunda commented on #11614
@Maggern3 Currently Azure Cosmos DB doesn't support joining data/documents that are located in different collections/containers. You can only join documents within a collection/container.

Which section in the doc proposes to solve issues that are not implementable with the SQL API ? Can you please point?

[2018-07-27 22:11] anrothMSFT commented on #12415
@Blackmist that is the correct sequence. If you write it, that would be awesome. If not, let me know, and I can take a crack at it.
Shoshin23 is right, we could be a bit clearer here in how to to do this programatically, since the existing docs only describe the sequence in the portal.

[2018-07-27 22:17] SnehaGunda commented on #12430
#please-close

[2018-07-27 22:22] vasivara-MSFT commented on #10917
@davidbarrows We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 22:22] #10917 closed

[2018-07-27 22:22] vasivara-MSFT commented on #12461
@georgel-ms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 22:22] #12461 closed

[2018-07-27 22:23] htoma commented on #12430
Sorry, just to be sure about how the snapshots really work. So a snapshot's life is maximum eight hours unless the support is contacted and in this case it can be kept for 30 days. If the data is deleted and we fail to notice for more than eight hours, there's no way to restore the data?

[2018-07-27 22:30] hollenhorst commented on #8369
Wolfgang,

Many thanks. You solved my problem. I was using the **authoring** key. After creating and using the **endpoint** key, it worked perfectly using the sample code that I downloaded yesterday.

One thing hung me up for a while. When I tried to [assign the endpoint key](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-how-to-manage-keys#assign-endpoint-key), there was no t

[2018-07-27 22:33] #12334 closed

[2018-07-27 22:33] vasivara-MSFT commented on #12497
@ChandraMadhumanchi Can you please provide the link to the document in which you had this question?

[2018-07-27 22:35] mrbobfrog commented on #12462
I'll redeploy and let you know

[2018-07-27 22:37] #12416 closed

[2018-07-27 22:49] nickwalkmsft commented on #12457
Thanks for getting back!

My feedback on this description is that it's not very helpful to someone using the API. Services that accept and return an unvalidated JSON string value don't typically describe the data as an octet sequence if the user is responsible for choosing a serialization format, implementing a way of specifying it, and performing the serialization/deserialization themselves if th

[2018-07-27 22:50] Alberto-Vega-MSFT commented on #12430
Hi @SnehaGunda Thank you for your help. Would you please clarify if there is no way to restore the data? If that is the case we should update the document.

[2018-07-27 22:51] erick-thompson commented on #7990
Is there a way to have the emulator start when the system boots? We're using TeamCity, and the build agent runs under the system account, and so most of the time there is nobody logged in.

I tried to get it started by creating a service with sc.exe, but I couldn't reach a point where it worked.

[2018-07-27 22:51] andrepodnozov commented on #5878
I had the same problem with the messages from Function not being sent to IoT Hub. To make it work I changed the Function route from:
"FROM /messages/modules/MyFilterFunction/outputs/output1 INTO $upstream"
to this:
"FROM /messages/modules/MyFilterFunction/* INTO $upstream"

[2018-07-27 22:58] PedroMiguelFigueiredo opened #12512 "Problem?"
The following command didn't work:

azure service deployment prepare-migration &lt;serviceName&gt; &lt;deploymentName&gt; new "" "" ""

I had to define all the following parameters:

1. &lt;destination-virtual-network&gt;
2. &lt;resource-group-name&gt;
3. &lt;subnet-name&gt;
4. &lt;virtual-network-name&gt;

Usage: service deployment prepare-migration [options] &lt;service-name&gt; &lt;name&gt; &lt

[2018-07-27 23:02] Mike-Ubezzi-MSFT commented on #12314
@nansravn Additional functionality and support for Python SDK can be found here: [Azure Cosmos DB Python SDK for SQL API: Release notes and resources](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-python)

![screenshot 122](https://user-images.githubusercontent.com/37126106/43349591-c381b77c-91b5-11e8-9844-7b6a12c3c64d.png)
Make sure version selector is **Python**.

I will forward t

[2018-07-27 23:06] YutongTie-MSFT commented on #12503
@XianghanWang
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 23:10] SaurabhSharma-MSFT commented on #12338
@tumluliu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 23:10] SaurabhSharma-MSFT commented on #12405
@ahamin01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-27 23:10] #12405 closed

[2018-07-27 23:11] SaurabhSharma-MSFT commented on #12457
@nickwalkmsft Thanks for you valuable inputs ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-27 23:20] BryanTrach-MSFT commented on #12506
@LisandroSu We are closing this as a duplicate of #12505

[2018-07-27 23:20] #12506 closed

[2018-07-27 23:20] SaurabhSharma-MSFT commented on #12507
@hpsin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-27 23:31] BryanTrach-MSFT commented on #12509
@Powerhelmsman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-27 23:36] TravisCragg-MSFT commented on #12501
@kamellemann Is your app configured for HTTPS only? This configuration only tests on HTTP.

[2018-07-27 23:41] TravisCragg-MSFT commented on #12504
@aricbernard Thanks for the feedback! these links seem to be about how to back up using the services, but not directly backing up a resource provider itself.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-27 23:42] jeevansd commented on #12366
@kamazee We are able to reproduce this issue on our environment. AS part of the next action we will investigate and fix this issue on our side and will publish the updated version soon. Till that time I will keep this request open.

[2018-07-27 23:48] mrbobfrog commented on #12462
Same results, though I realized I added some complexity.
[code]

Here is my set of commands:
[code]
I'll try a simpler setup again and see if I get the same results -- I'll try in eastus as well.

[2018-07-27 23:49] jiayanghe commented on #12404
Actually it might be a documentation issue, you have a resize function for the map class that takes no parameter, but it doesn’t seem to work for me

[2018-07-27 23:59] mrbobfrog commented on #12462
@MicahMcKittrick-MSFT, I realize that this issue is likely implementation related and not documentation. If I can isolate which setting triggers the failure to provision a public ip, I'll open another issue in the appropriate area (and reference it here for the next person).

I do, however, believe the documentation can be improved by adding some other commands to help the user gain familiarity wi

[2018-07-27 23:59] mrbobfrog commented on #12462
Please feel free to close this issue as mis-filed.

[2018-07-28 00:14] nheinbaugh commented on #12509
Yes, this is exactly what I needed!

[2018-07-28 00:33] karimisoup opened #12513 "Local image upload fails for Prediction URLs"
I've used the curl sample documentation [here](https://southcentralus.dev.cognitive.microsoft.com/docs/services/450e4ba4d72542e889d93fd7b8e960de/operations/5a6264bc40d86a0ef8b2c290) to try and upload images to my Prediction URL.

I have code which works when using a content-type of application/json and an external URL (included below), but the sample code does not work for uploading local images.

[2018-07-28 00:38] Alberto-Vega-MSFT commented on #12479
Hi @Ckarst any insights on this? It seems like the article listed as "PolyBase with Azure DataBricks" is not related to Polybase?

[2018-07-28 01:13] diberry commented on #12209
@Laciklgor The recommended distance between the top two scores is greater than 10%. When the documentation is corrected and published, I will let you know.

[2018-07-28 01:16] BryanTrach-MSFT commented on #12421
@antonmata I was able to reproduce the issue. I have reassigned the issue to the doc author to have them update the doc with the proper steps.

[2018-07-28 01:31] nheinbaugh commented on #12507
is there a temporary link we can hit?

Cheers

[2018-07-28 01:57] atiq-cs opened #12514 "dotnet samples are ok, probably tried wrong nuget package"
they don't build on new toolchains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
* Version Independent ID: 18564fed-2285-8cab-39a0-e3f1c2407c19
* Content: [Azure Cosmos DB: SQL API getting started tutorial](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started)
* Con

[2018-07-28 04:10] MisinformedDNA opened #12516 "Why not Azure Table Storage?"
Why does the tutorial use Cosmos DB instead of Azure Table Storage? Cosmos DB is much pricier and none of its features are even used. I was able to convert the code to [use Azure Table Storage instead](https://www.dantheprogrammer.com/posts/build-a-truly-serverless-webapp-in-azure) without too much trouble, but I'm wondering why it wasn't that way in the first place.

---
#### Document Details

⚠

[2018-07-28 04:11] abizake opened #12517 "Issues while set up/ Configuration"
Doc should include basic issues faced while setting up/Configuring the Virtual Kubelet .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acfb234b-c0db-3e6a-7938-cab614d530c0
* Version Independent ID: 2adff671-6ccb-d84a-f689-8b0d72b1577c
* Content: [Run Virtual Kubelet in an Azure Kubernetes Service (AKS) cluster](https:

[2018-07-28 04:35] abizake opened #12518 "Cluster AutoScaler Support in ACS"
The document here (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md) says that Cluster Autoscaler can be used with ACS , but in this doc under scaling consideration it says "Currently, autoscaling of agent nodes in a container service cluster is not supported" . Is this outdated or still the support does not exist?

---
#### Document Details

⚠

[2018-07-28 04:39] abizake opened #12519 "AKS Support of Cluster AutoScaler in Control Plane"
It will be great if the doc can clearly state the current support of Cluster Autoscaler in AKS control plane. The current content suggests only setting it up in the Agent nodes which will include the Cluster Autoscaler relocating in case of scaling down which is problematic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-07-28 07:20] rajeev3176 commented on #11095
I have created a QnA maker service and created a knowledge base. This KB published . After that created a QnA bot and connect with KB. Problem I am facing is when I chat any thing bot responded "you said + the word which i typed". it is not responded as per KB however on QnA maker site, it is tested successfully.

[2018-07-28 07:39] cloewen8 opened #12520 "Broken Link"
The link `Configuring the Azure Application` is broken (`This topic is no longer available`).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ff8041-c5e9-51de-21fc-17d22eaf901a
* Version Independent ID: b18a0b57-ab52-0bd7-2d56-58d0aa05dbba
* Content: [Configuring and using the Storage Emulator with Visual Studio](http

[2018-07-28 08:10] smoms commented on #12215
@Mike-Ubezzi-MSFT thanks. Maybe my question was not clear. It is more conceptual though.
I understand that the receiving model of Azure SB is "pulling". Now, the method "OnMessage()" is a pushing mechanism. So my question is: is "OnMessage" a wrapper to fake pushing style while underneath is still pulling? Hope it helps. Best.

[2018-07-28 09:07] wolfma61 commented on #8369
Thank you for the warm words ...
A team effort, not all my doing!

Wolfgang

[2018-07-28 09:10] wolfma61 commented on #8369
@YutongTie-MSFT please close this issue.

[2018-07-28 10:43] samisarfraz commented on #12154
@Mike-Ubezzi-MSFT Thanks for the reply. but sadly this reply was not what we were seeking. but good thing is that we found the name of gateway in .yaml file of iot edge through you referred documentation.

[2018-07-28 12:47] ncacace opened #12521 "Hello Azure.....? Thanks, but what about a real app...Whats next?"
How do I take this useless 'Hello World' app and replace it with my NodeJS App. What do I keep and what do I overwrite/replace? How does that work with git? There are files on the server (the Hello World App) and they are in a deploy folder AND a www folder...There are so many questions that need to go beyond - Needs a learning path

ie
- Hello world - What are each of the folders for
- Add your o

[2018-07-28 12:54] weyderfs commented on #7695
Same problem here:
`weyder@Azure:~/manifests$ kubectl get service azure-vote.yml --watch
Error from server (NotFound): services "azure-vote.yml" not found`

Mozilla 61 + Cloudshell Azure Bash and my laptop running Windows 10.

[2018-07-28 13:07] sympthom commented on #11046
I've experiencing the same problem, the Azure IoT Edge demon doesn't start. Here is the output:

ubuntu@gateway:~$ sudo iotedge list
An error in the management http client occurred.
        caused by: Hyper error
        caused by: Connection refused (os error 111)

ubuntu@gateway:~$ sudo systemctl status iotedge

● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iot

[2018-07-28 13:16] StingyJack opened #12522 "Clicking on the "deployment documentation" after publishing an app service..."
...brings me to this page.   I dont use GIT, and the azure app service host should/would know nothing about what version control I use. This link should at least bring me to some kind of "choice" or disambiguation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a788eb-76a1-af8b-c4b7-75db633e7a5c
* Version Indepe

[2018-07-28 15:51] vasivara-MSFT commented on #12513
@karimisoup Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-28 15:54] vasivara-MSFT commented on #12516
@MisinformedDNA Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 15:56] vasivara-MSFT commented on #12520
@cloewen8 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 15:59] vasivara-MSFT commented on #12512
@PedroMiguelFigueiredo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-28 16:00] vasivara-MSFT commented on #12517
@abizake Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 16:02] vasivara-MSFT commented on #12518
@abizake Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 16:03] vasivara-MSFT commented on #12519
@abizake Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 16:04] vasivara-MSFT commented on #12514
@atiq-cs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 16:05] vasivara-MSFT commented on #12521
@ncacace Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 16:07] vasivara-MSFT commented on #12522
@StingyJack Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-28 17:28] paulmac57 opened #12524 "templates file"
step 5 says  copy/paste in the entire contents of the template file. Where is this templates file ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae27b8e-b8b8-aed6-36e6-39f1646335d3
* Version Independent ID: 129270ee-1b0f-d4d5-6f4c-f534e46c2350
* Content: [Deploy an Internet-facing load-balancer with IPv6 - Azure te

[2018-07-28 18:05] RDSimmons01 commented on #8128
Would love to see an update here as (mentioned above) this tutorial cannot move forward with Raspian-2017-07-5.  Is there a solution to the wiringpi version issue?

[2018-07-28 18:11] RDSimmons01 commented on #8128
FYI...this solution worked for me.

https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/issues/15

[2018-07-28 19:57] kobulloc-MSFT commented on #12226
@johndonnelly I ran into an issue with configBuilders as well when going through the documentation as it is currently written.  I'll assign this to the document author to update as appropriate.

@ghogen Step 1 in "Access your secrets in code (ASP.NET 4.7.1 projects)" appears to be where we run into issues.

![image](https://user-images.githubusercontent.com/37556655/43360172-65faea64-9265-11e8-919

[2018-07-28 22:47] brcaswell opened #12525 "az interactive mode - deploy application: Unable to parse parameter: {"
using 'Administrator: Command Prompt -az interactive' Azure CLI 2.0 installed: the "Deploy the application" steps fails with "Unable to parse parameter: {"

---

Command works fine when not in interactive mode.  You can exit interactive mode with [Ctrl + D]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e026dd3b-caa2-7

[2018-07-28 22:51] vasivara-MSFT commented on #12524
@paulmac57 As mentioned in the first line of this [section](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-internet-template#deploying-the-template-using-the-azure-portal), You should be able to find the template in that link.

[2018-07-28 22:57] vasivara-MSFT commented on #11476
@johnneycao We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-28 22:57] #11476 closed

[2018-07-28 23:31] brcaswell commented on #12525
honestly.. would be easier to diagnose the issue if you weren't seemingly suppressing stack trace with the mesh extension.

![image](https://user-images.githubusercontent.com/967010/43361414-b5683de4-9293-11e8-80df-31eeb003e02b.png)

in the screenshot above... the appearance of the stack trace was from an attempt to not define parameters

[2018-07-29 01:35] hiteshtulsani commented on #6242
Is there a way to specify cluster python version within Databricks notebook activity?

[2018-07-29 01:57] hiteshtulsani opened #12526 "Python version for new cluster?"
How to set python version 3 which ties back to Databricks Cluster Configurations? Unfortunately, there's no documentation for that! Here's what I am trying to achieve:
o Create Azure Datafactory Pipeline which:
a. Copies Data from on-prem to BLOB, a connected Databricks notebook activity which reads from this BLOB and persist the data in DBFS. I cannot specify Python Version = 3 in 'Databricks Not

[2018-07-29 05:14] rahulbagal opened #12527 "x-www-form-urlencoded post requests"
I could not find a good reference to send x-www-form-urlencoded post requests using HTTP connector.  Is there a documentation on how to configure HTTP Post with x-www-form-urlencoded  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version Independent ID: 02b19cbb-7ff3-4f3f-06d1-

[2018-07-29 08:10] 1Click1Life commented on #11131
Hello,
All we need is one example where the bot connects to a bot written in C#. That would really be helpful. Thanks,

Jason

[2018-07-29 08:35] ChristopheLej opened #12528 "Modify node version"
For running sample, you must modify node version in app setings. Change value for "WEBSITE_NODE_DEFAULT_VERSION" by "8.9.4".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sens

[2018-07-29 11:15] kaa4ever opened #12529 "Could not resolve host: leader.mesos"
curl http://leader.mesos:1050/system/health/v1/nodes results in `Could not resolve host: leader.mesos`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60fdcaf-c4e9-f2f1-3756-16dd22b42c29
* Version Independent ID: 755ec611-f7d0-3ae6-0d98-3f298d619ba5
* Content: [File share for Azure DC/OS cluster](https://docs.microsoft

[2018-07-29 14:13] aussiedev opened #12530 "Very good"
Nice article showing the basics of Face API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Face API C# tutorial - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/t

[2018-07-29 14:22] JozoSlejko opened #12531 "Set-AzureRmSecurityRuleConfig"
Instances of Set-AzureRmSecurityRuleConfig in this document should be Set-AzureRmNetworkSecurityRuleConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea14a05-b98d-4cec-5f36-726f3c3d1da2
* Version Independent ID: 6852fef5-f9f1-5893-258a-5d04c82dfcc8
* Content: [Create, change, or delete an Azure network security gr

[2018-07-29 14:36] Aksiyom opened #12532 "Error message regarding CompatibilityLevel 1200"
Followed exact same steps and althoug using the latest PBI Desktop file I am getting the below compatibility error message and does not import. What's can be the problem?

Status: 400
Message: Azure Analysis Server databases support only CompatibilityLevel 1200 or higher.

Technical Details:
RootActivityId: 7eba560b-2d23-4371-88f8-18c6e4cb5326
Date (UTC): 7/29/2018 2:34:11 PM
An error occurred whe

[2018-07-29 16:46] student-forever opened #12533 "new MSOL Dir Sync Feature: EnforceCloudPasswordPolicyForPasswordSyncedUsers"
Hello,

I have just received the following output to the command: Get-MsolDirSyncFeatures

ExtensionData                                    DirSyncFeature                                   Enabled
-------------                                    --------------                                   -------
System.Runtime.Serialization.ExtensionDataObject DeviceWriteback

[2018-07-29 17:02] karimisoup commented on #12513
@vasivara-MSFT thanks. Also want to clarify that I tried the content-type application/octet-stream for local file upload and retrieved the same error.

[2018-07-29 17:09] BryanTrach-MSFT commented on #12532
@Aksiyom Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 17:11] BryanTrach-MSFT commented on #12525
@brcaswell Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 17:15] BryanTrach-MSFT commented on #12527
@rahulbagal Thank you for the feedback. We are reviewing your feedback and will get back to you shortly.

[2018-07-29 17:16] BryanTrach-MSFT commented on #12531
@JozoSlejko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 17:19] BryanTrach-MSFT commented on #12528
@ChristopheLej Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 17:20] BryanTrach-MSFT commented on #12526
@hiteshtulsani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 17:22] BryanTrach-MSFT commented on #12529
@kaa4ever Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 18:54] eskaufel opened #12534 "Dead link"
The link to "Find some supporting examples at Key Vault - Managed Storage Account Keys Samples." is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independent ID: e2497a7b-3b5f-554a-1a31-da540740fcc9
* Content: [Azure Key Vault Storage Account Keys](https://docs.micr

[2018-07-29 20:25] Anand-Moghe opened #12535 "Pricing for registering domain"
Can you add some more info on purchase price for domain name registration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81d4a312-6cd5-5d60-6b06-d61a089306a0
* Version Independent ID: a580f3c2-528c-2f0d-dfc0-8596023bfccc
* Content: [Buy a custom domain name for Azure Web Apps](https://docs.microsoft.com/en-us/azure/app

[2018-07-29 20:27] ncacace opened #12536 "So over this..."
http://zambala.net/_temp/OVER-IT.png

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a788eb-76a1-af8b-c4b7-75db633e7a5c
* Version Independent ID: 94365d96-64b4-cf52-579d-6d437cb228f3
* Content: [Local Git Deployment to Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/app-service-deploy-local-git)

[2018-07-29 21:34] yochay opened #12537 "Wrong RetryOption property name. There is on Custom in the object, should be Handle"
Custom is no longer a property on RetryOptions object (older version?) Update to Handle
https://github.com/Azure/azure-functions-durable-extension/blob/master/src/WebJobs.Extensions.DurableTask/RetryOptions.cs#L95

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea12e4-9fad-88f3-7aa5-c1f323b62071
* Version Independent

[2018-07-29 23:15] ryancrawcour commented on #12185
@MohitGargMSFT I have submitted https://github.com/MicrosoftDocs/azure-docs/pull/12538 for this

[2018-07-29 23:15] BryanTrach-MSFT commented on #12537
@yochay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 23:16] BryanTrach-MSFT commented on #12534
@eskaufel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 23:27] KeiroKamioka0000 opened #12539 "Does temporary drive will encrypted?"
Hello, does temporary drive(disk) will be encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2fa1ec-fadc-2d1c-2ab3-8ded33843414
* Content: [Azure Disk Encryption FAQ](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-fa

[2018-07-29 23:40] BryanTrach-MSFT commented on #12536
@ncacace Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-29 23:44] yairt1974 commented on #11620
Public preview is for outbound internet connection and spoke to spoke. We have not tested the on-prem link yet and expect there are some issues to resolve. This is high on our roadmap post GA.

[2018-07-29 23:45] BryanTrach-MSFT commented on #12536
@ncacace This doc does not contain the cmdlet's that you referenced in your screenshot. Can you please provide us the doc URL that you were following?

We look forward to your reply.

[2018-07-29 23:52] #12535 closed

[2018-07-29 23:52] BryanTrach-MSFT commented on #12535
@Anand-Moghe Thank you for the doc enhancement. We have gone ahead and included a link to the app service domain pricing page. The change should be public within 24 hours.

In the meantime, you can visit the App Service pricing page and scroll down to [App Service Domain](https://azure.microsoft.com/en-us/pricing/details/app-service/windows/) for pricing details based on the region you selected.

[2018-07-30 00:01] ncacace commented on #12536
I'm curious - This section or feedback is at the bottom of the very document you are requesting. I'm on the page right now. SO I'm guessing from your comment that every time we respond to a request for feedback the reference to the document that we are providing that feedback for is not included ... are we on the same page? Pun definitely intended.

[2018-07-30 00:06] dcbrown16 opened #12540 "Snapshot vs image"
This seems like a basic question but I can't find an answer in these documents.
What is the difference between a snapshot and an image? You can create both from a disk, and use both to create VMs.

"A managed VM image contains the information necessary to create a VM, including the OS and data disks."
(from this page)

"A snapshot is a full, read-only copy of a VHD. "
(from https://docs.microsoft.

[2018-07-30 00:08] ncacace opened #12541 "No one likes writing documentation BUT..."
PERSONAL NOTE: Creating an app and then deploying should be so basic and if I was Microsoft i would want my documentation to be super simple and thoroughly tested - AND NOT BY THE ENGINEERS WHO DEVELOPED THE PLATFORM - because an Accessible/Democratised Service = MORE CUSTOMERS = MORE $$.
Microsoft have taken years to develop a complex server platform at great expense yet when it comes to the docu

[2018-07-30 00:31] MicahMcKittrick-MSFT commented on #12540
Thanks for the question! We are investigating and will update you shortly.

[2018-07-30 00:47] MicahMcKittrick-MSFT commented on #12537
@yochay I have assigned this to the content author to review and update the content as needed.

[2018-07-30 01:51] kazshi opened #12542 "404 - Page not found"
404 - Page not found for TryGetRangeShardMap (Java), TryGetListShardMap (Java) and GetShardMap (Java)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d410fa11-0b87-5900-8240-51bcd12131ce
* Version Independent ID: d331cade-e7ac-9acc-57bc-3596f989c234
* Content: [Query sharded Azure SQL databases](https://docs.microsoft.c

[2018-07-30 02:31] MisinformedDNA opened #12543 "Broken code"
The following code does not compile:

[code]

`GetQueryNameValuePairs` is no longer available. It looks like it may have been replaced by `GetQueryParameterDictionary`. So it would be something like:

[code]

Note: I used `string.Equals` instead of `string.Compare`, because I think it's clearer.

Also, for what it's worth, the HttpTrigger template uses this instead:

[code]

---
#### Document Deta

[2018-07-30 02:48] kazshi opened #12544 "404 - Page not found"
404 - Page not found for the followings:
GetSQLShardMapManager (Java)
GetRangeShardMap (Java)
ShardMap.OpenConnectionForKey method (Java)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa374d1b-af92-5226-cb8a-bb1c1c2e113d
* Version Independent ID: c7a482f7-e2f5-341d-2eae-0e4d63f35cc7
* Content: [Data dependent routing

[2018-07-30 02:56] zimbonz commented on #9969
Any progress on this - inappropriate documentation creates many issues including troubleshooting, as well as initial setup. Thanks

[2018-07-30 03:12] MartyZhou opened #12545 "How to group notifications for iOS and Android"
If using PNS for iOS and Android directly, notifications can be grouped by using apns-collapse-id https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html and summary notification ID https://developer.android.com/training/notify-user/group.

How to I pass apns-collapse-id (for iOS) and summary notification ID (for Andr

[2018-07-30 03:14] mike-urnun-msft commented on #12322
Hey @dtzar - Since you have already opened an issue with the proper channel, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 03:14] #12322 closed

[2018-07-30 03:23] thisiszw opened #12546 "model path and name"
it says:
Following command is used to register a model created in step 1 above,
&gt; az ml model register --model [path to model file] --name [model name]
Can you tell what [path to model file] and [model name] are expected here based on step 1? There is no path specified when dumping the model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-30 03:33] mike-urnun-msft commented on #12527
Hi @rahulbagal - Have you tried using the connector by adding a content-type record as a header with specific type you're looking to use with (screenshot below)?

![image](https://user-images.githubusercontent.com/36717703/43376267-a3250168-936e-11e8-817e-843e7881f4b1.png)

[2018-07-30 03:39] DdMad opened #12547 "Complete list of Microsoft product names"
The above list only contains the most commonly used Microsoft, but not all the Microsoft product names. Can anyone let me know if there are any places that have the complete list of Microsoft product names? Or maybe update the above list to a complete version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161

[2018-07-30 03:43] yunzhangMS opened #12548 "Missing ` in powershell commands"
Set-AzsRegistration `
   -PrivilegedEndpointCredential $CloudAdminCred `
   -PrivilegedEndpoint &lt;PrivilegedEndPoint computer name&gt; `
   -BillingModel PayAsYouUse
   -RegistrationName $RegistrationName

should be

Set-AzsRegistration `
   -PrivilegedEndpointCredential $CloudAdminCred `
   -PrivilegedEndpoint &lt;PrivilegedEndPoint computer name&gt; `
   -BillingModel PayAsYouUse `
   -Registr

[2018-07-30 03:45] mike-urnun-msft commented on #12454
Hey @mganeshphani - Thank you again for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-07-30 03:49] mike-urnun-msft commented on #12440
Hi @JMayrbaeurl - Thanks again for your feedback! We have made edits to the documentation to reflect the change. This issue will auto-close once the merge occurs and the change is deployed.

[2018-07-30 03:51] mike-urnun-msft commented on #12528
Hi @ChristopheLej - Was the sample not running under the default NodeJS version your app service was spun up with?

[2018-07-30 04:01] mike-urnun-msft commented on #12418
@kgremban got any thoughts on this one?

[2018-07-30 04:09] CelesteDG commented on #12507
Hi @hpsin and @nheinbaugh - When I open the topic, this is what I see (below). The links take you to the different code samples, etc. Are you not seeing the same thing?

![image](https://user-images.githubusercontent.com/16906646/43377086-78a1d86c-9373-11e8-8633-426e8c36b94a.png)

[2018-07-30 04:10] mike-urnun-msft commented on #12414
Hey @mortslhawmit - Thank you again for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-07-30 04:16] mike-urnun-msft commented on #12390
Hi @wngreenway - Could you [post this question on MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAPIApps) as we have a larger community there that can recommend best practice for your unique scenario?

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 04:16] #12390 closed

[2018-07-30 04:18] #12440 closed

[2018-07-30 05:13] gauravagarwal28 commented on #11420
@sergaz-msft Can you give an update on when you plan to bring out X. 509 certificates on IoT Edge?

[2018-07-30 05:44] SnehaGunda commented on #12430
@htoma that;s correct. We will update the docs soon.

[2018-07-30 05:53] toxarisswe opened #12551 "Retention Policy and missed backups"
Hello.
I use Azure Recovery Services to backup my lab environment. From time to time my lab is shut down. I have configured MARS-agent to backup every Saturday 05:00 and the retention policy is configured to retain every backup for 4 weeks and then every backup taken on last Saturday every month for 3 months.
What happens if a backup job is missed and not run on the last Saturday at 05:00 for a sp

[2018-07-30 06:10] kspoojary opened #12552 "JWT Validation failed"
Hi ,
I have set up OAuth2 in my azure apim instance. The applications which I am using are registered in ADB2C tenant. I am getting the access token but it is not a valid token, I am getting below jwt validation error
validate-jwt (70 ms)
{
    "message": "JWT Validation Failed: IDX10205: Issuer validation failed. Issuer: 'https://login.microsoftonline.com/2fa002e8-d595-49fb-b4d9-7aa6159af2f6/v2.0

[2018-07-30 06:15] zaxer0229 commented on #11913
Hi
/25 is too big, are you consider to resize the require subnet to /26 or /27?

[2018-07-30 06:45] lukaszkuczynski opened #12553 "good job"
all of the steps were reproducible and worked great on my environment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Deploy a Python app in Azure Web App for Containers](https://docs.microsoft.com/en-us/azure

[2018-07-30 07:07] SnehaGunda commented on #12430
#please-close

[2018-07-30 07:17] tumluliu commented on #12338
@SaurabhSharma-MSFT many thanks for your response! Then my following question is: what is the correct way with CLI 2.0 to create a VM by attaching a encrypted disk? In other words, what's the equivalent commands/options in CLI 2.0 of --disk-encryption-key-vault-id, --disk-encryption-key-url, --key-encryption-key-vault-id and --key-encryption-key-url?

[2018-07-30 07:29] tumluliu commented on #12338
I think it would be good if this issue can be reopened because in the document, there is no description/notes about the CLI version that support these options. So I think this is still a bug of that document rt? @SaurabhSharma-MSFT

[2018-07-30 07:49] elangelo opened #12554 "azcopy crashes TermInfo"
azcopy fails with
[code]

see https://github.com/dotnet/sdk/issues/1916 for details on the fix... Maybe a new build with the new could fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918f47ad2f57
* Version Independent ID: 21914f58-1720-39d9-acb7-ed8475cab9d4
* Content: [Copy or move data

[2018-07-30 07:53] nils-a opened #12556 "Please reopen issue #11744"
Issue #11744: This Issue was closed with the comment:

However, as a non-member of this project I am unable to re-open issues.

[2018-07-30 07:57] turowicz commented on #12436
Same problem here. Best is to teach people how to read and interpret the metadata endpoint I guess.

[2018-07-30 08:08] richardcox13 commented on #10782
I'm interested in this from PowerShell.

Including values for `name` and `priority` in the objects added to `ipSecurityRestrictions` property of the `Properties` property returned form `Get-AzureRmResource  -ResourceType 'Microsoft.Web/sites/config'` still leads to, on refresh, the Portal's IP list still saying "No Names or Priorities" set (and all IPs being blocked until that point.

[2018-07-30 08:10] miroslav-frank commented on #11297
Same here, any update guys?

[2018-07-30 08:13] yamatoya opened #12557 "You should recommend this document to .net 4.6.2."
This document recommend version is [4.6.1](https://docs.microsoft.com/ja-jp/azure/sql-database/sql-database-connectivity-issues#connection-adonet-461), however [.net 4.6.2](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/mitigation-pool-blocking-period) was improve to connect Azure SQL Database. You should recommend this document to .net 4.6.2.

---
#### Document Details

⚠ *Do n

[2018-07-30 08:30] Tkeyy opened #12559 "Broken link"
The Link in "If your web app is an ASP.NET Core application, check the required dependencies." under  "Why can't I find any stack examples, even though Profiler is running?" is broken.

(https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler#why-cant-i-find-any-stack-examples-even-though-profiler-is-running)

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-07-30 08:45] wolfma61 commented on #8369
#please-close

[2018-07-30 08:50] #12430 closed

[2018-07-30 08:59] doppelganger9 commented on #12505
FYI,
I continued searching on my side,

After watching some YouTube videos on the subject (https://youtu.be/A8QSGRcj3ug?t=3m39s), It showed me a page I did not find using google search before (I knew it 😉).

Some related elements on this page:
- https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure

also found this web app showing live what is available, helped me:
- http://whataz

[2018-07-30 09:06] mamukundan opened #12560 "Stateless Service"
"There are two types of services: stateless and stateful. Stateless services can store persistent state in an external storage service such as Azure Storage, Azure SQL Database, or Azure Cosmos DB. Use a stateless service when the service has no persistent storage at all"
- The above 2 sentences look contradictory to each other

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-07-30 09:18] GrimSmiler commented on #11401
any updates?

[2018-07-30 09:33] PhilStollery opened #12561 "A list of the missing features that have yet to be implemented would be useful."
For example the whole Gremlin I/O suite, and therefore the ability to import and export GraphSON from a graph (writeGraph and readGraph would be really useful).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-7932-0a5a967e9b17
* Content: [

[2018-07-30 09:41] Walk4Muscle opened #12562 "All applications missed on https://apps.dev.microsoft.com"
Why my all applications missed on `https://apps.dev.microsoft.com` at `#/appList` blade.

I found there is an error of request `getApplications` as :

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882c6669-2244-1cb1-5315-aa5feec7c95b
* Version Independent ID: 697dfa71-6336-ebf6-b532-74144e62a87b
* Content: [Azur

[2018-07-30 09:55] prayshe opened #12563 "How about DevTest Labs' performance?"
I want to run unit and functional tests via Azure DevTest Labs. I'm wondering whether DevTest could meet my requirements:
Many people in our team request to run gated tests before code check-in. So I hope the service can provide bunch of VMs ASAP when a request coming. Each request will be triggered by VSTS build definition. Is there any estimation of the VM creation or provisioning time?

[2018-07-30 10:16] balu04vn opened #12564 "Connecting webservice through Data bricks"
Can someone please let me know if you are able to connect webservice using Data Bricks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59e754a-3a7b-0909-fc3f-c8ec75f21d07
* Version Independent ID: f9a711cf-3c5a-5115-a98f-94e578029774
* Content: [Connect to different data sources from Azure Databricks](https://docs.mic

[2018-07-30 10:21] AshrafAlam commented on #12552
Make sure, you do the following

1. Include the policy under inbound policy.

`  <inbound>
    <base />
    <validate-jwt header-name="Authorization" failed-validation-httpcode="401" failed-validation-error-message="Unauthorized. Access token is missing or invalid.">
      <openid-config url="https://login.microsoftonline.com/YOUR_AD_TENANT_ID/.well-known/openid-configuration" />
      <required-c

[2018-07-30 10:30] sarathlalsaseendran opened #12565 "Error while connecting large hive dataset in PowerBI using Azure Spark datasource"
I am getting error while connecting hive database to Power BI using Azure spark data source. It is working fine when connecting directly, but error occurs only import the hive data.

OLE DB or ODBC  error. [Datasource.Error] ODBC.Error [HY000] [Microsoft][Hardy] (34) error from server: bad status: http/1.1 502 Bad gateway...

#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-07-30 11:04] antongeorgiev opened #12567 "Add support for "#applicationname""
Add `#applicationname` (_ApplicationName_) to enable Application Insights instance name in payload. This will bring the capabilities of the webhook payload closer to the standard email notification template.

Example:

Result:

---

**Document Details**

- Content: [Webhook actions for log alerts in Azure Alerts](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unif

[2018-07-30 11:32] SnehitR commented on #11825
Getting error in the line {   public static IWebHost BuildWebHost(string[] args) =>
        WebHost.CreateDefaultBuilder(args)}
The name  WebHost does not exist in the current context .

please help to resolve it .

[2018-07-30 12:21] ChristopheLej commented on #12528
Yes the sample doesn't run because by default the version of node is "6.9.1" and I had an error in library rhea.

[2018-07-30 12:52] philippschaefer4 opened #12571 "New way of Deployment doesn't work"
I just saw this new way to deploy with docker instead of with a git repository as it was described here before.

First I have three general questions:
1) Should I prefer the docker-image-way over the git-repository way. For I think both are still possible, aren't they? It is of course my discretion but what would Microsoft recommend,
2) For a better technical understanding: does this way also lead

[2018-07-30 13:11] andrewtyped opened #12572 "Article Needs More Context"
In step 1, it isn't clear that the Config\Settings.xml file is in the Stateless1 service. In steps 5, 6, and 7, it isn't clear the parameter's name should be prefixed by a service name when referenced in `ApplicationManifest.xml`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f940edc-198b-e0b3-0229-78a6b47544d2
* Ver

[2018-07-30 13:16] whytoe commented on #12354
@vasivara-MSFT Hey, I see you assigned this to the author, any idea when the document can be corrected for Classic Alerts Endpoint as we need this feature and the documentation appears misleading.

[2018-07-30 13:29] RDSimmons01 opened #12573 "Nothing seems to happen when I execute the command lines..."
So I was able to get the iothub-explorer CLI to respond with "Monitoring events from device VRPI01".....when I execute the other command lines...nothing happens.  I created a Shared Access Policy for the device and used the keys from that policy.  When I send messages to the device....nothing seems to happen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-07-30 13:36] leon-andria commented on #10795
The example in this page is really useless.
If we follow the steps describe above and using the samples from Github, it will not run. There is a lot assumption...
First, why we need to return 202 status code ? and also, we never get the "Location" header ? where it's coming from ? Without saying the url http://{host}/admin/extensions/DurableTaskExtension/instances/96924899c16d43b08a536de376ac786b?

[2018-07-30 13:41] rabryst opened #12574 "Port incorrect in image"
The Internal Load Balancer image specifies port 1443 instead of port 1433.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [Azure Load Balancer overview](https://docs.microsoft.com/en-ca/azure/load-balancer/loa

[2018-07-30 14:00] Scrapper939 opened #12575 "Clarification on admin roles guidance."
In the article there is a statement made that "Microsoft strongly recommends not to synchronize users with admin roles in AAD."  This is a slightly ambiguous statement.  Are you recommending that accounts with enhanced privileges on premises don't get sync'd to the cloud, that accounts that need admin roles in AAD should be cloud based as opposed to sync'd accounts, or both?

---
#### Document Det

[2018-07-30 14:30] martinagrom opened #12576 "Password-hash storage"
the documentation here is misleading:
"While most Azure AD-related European identity data stays in European datacenters, there are five user-related attributes that are typically stored in U.S. datacenters. These attributes are GivenName, Surname, userPrincipalName, Domain, and PasswordHash. The PasswordHash attribute can be an exception and not stored in the U.S. if someone uses an on-premises, f

[2018-07-30 14:58] alexdinu18 commented on #11974
Hi! Any updates on this issue? I really need a working sample and I'm struggling to find one.

[2018-07-30 15:18] butchmarshall commented on #11784
Yea, confirmed it's crashing in all our Office365 instances (development & paid)

[2018-07-30 15:32] lmotto commented on #8610
Not sure how I didn't see this, but according to https://azure.microsoft.com/en-us/blog/announcing-storage-service-encryption-with-customer-managed-keys-ga/, it's used to encrypt the Account Encryption Key, not the data.

[2018-07-30 15:50] bg2132332 opened #12578 "Enable Use your own key without Azure Portal?"
Every documentation page shows the same screenshot for enabling 'Use your own key' checkbox on the Azure Portal but I can't find a clear explanation if there is a way to do this in script (preferably using an Azure Resource Manager template or CLI).  Please clarify if that's doable in any other way.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-30 15:52] #11795 closed

[2018-07-30 15:53] Karishma-Tiwari-MSFT commented on #12560
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 15:54] jkallenbach opened #12579 "Issue with Resource Group Name"
I'm getting an error when using the Start/Stop Runbook.  It's telling me that "is not a valid Resource Group Name. Please verify your input"  I've verified and reran still not working.  My Resource Group has underscores in it, does this not work with this runbook?

[2018-07-30 15:57] sonorati opened #12580 "Please update java documentation"
Trying to work with library com.microsoft.azure, azure-servicebus version: 2
Even no documentation will be better than this, so misleading.
Trying to use filters with SqlFilter and can't make it to work.
The only example in the source is not even testing the filtering of messages (SubscriptionClientTests)
Any chance of updating this?
Thanks,
Sebastian

---
#### Document Details

⚠ *Do not edit thi

[2018-07-30 15:58] wouterwyns opened #12581 "Registering of 4me in the Azure Active Directory application gallery : no access"
I need to list  our application 4me (see https://4me.com ) in the in  the Azure Active Directory application gallery.  I followed the instructions in this article . When trying to login on the  Application Network Portal with my Microsoft account wouter.wyns@4me.com, I get an error 'We're sorry, but wouter.wyns@4me.com can't be found in the microsoft.sharepoint.com directory.'  What can I do to pr

[2018-07-30 16:14] tazmon95 commented on #12532
I have the exact same problem  Created a new data model using only Azure SQL Server as a source from a Power BI file started with the June '18 release but last saved with the July '18 Power BI Update.

[2018-07-30 16:14] #12509 closed

[2018-07-30 16:18] bigdatamoore opened #12582 "Page is missing Databricks activities"
This overview page of Transform data is missing mention of the Databricks activities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70885980-8517-8b9e-375f-646c3d43c25e
* Version Independent ID: 30ccd36d-0592-02ff-49c6-0773cc09c1a2
* Content: [Transform data using Azure Data Factory](https://docs.microsoft.com/en-us/a

[2018-07-30 16:28] selvasingh opened #12584 "Please update this doc"
See https://social.msdn.microsoft.com/Forums/azure/en-US/72494591-133c-47f8-911f-ad8d1ada7310/sample-service-bus-java-amqp-example-is-failing

Also, Java JMS Jar names and versions have changed - see https://qpid.apache.org/maven.html#qpid-jms-amqp-10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae05c9ae-995f-def7-91

[2018-07-30 16:32] elangelo opened #12585 "azcopy crashes after 15 minutes on linux"
I'm using the azcopy commandline utility
[code]

[code]

This fails consequently after 15 to 16 minutes with:
[code]

This seems bogus as if I make sure that my source is smaller enough (so that it finishes within 15 minutes it works just fine)
Running with verbose didn't provide more information so i'm not providing it here.

[2018-07-30 16:35] vip32 opened #12586 "eventgrid delivery typo"
'storageid='  should be ' $storageid='

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad5c953-fa75-9944-5539-111bfc52e892
* Version Independent ID: 00d37a17-4f7d-779e-8243-786c1d4dba7d
* Content: [Manage delivery settings for Azure Event Grid subscriptions](https://docs.microsoft.com/en-us/azure/event-grid/manage-even

[2018-07-30 16:37] bigdatamoore opened #12587 "Azure Data Factory - naming rules"
This section should probably be moved somewhere else, since it is more broad in scope than just the Compute Environments.   Also in the table, it lists "Linked services/tables/pipelines".   I think tables here is probably supposed to be datasets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 794a72a8-f145-dad9-1f80-16

[2018-07-30 16:37] Adam-Smith-MSFT commented on #12539
@KeiroKamioka0000 Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:37] clydetaylor opened #12588 "Marketplace update"
The marketplace applications list has been updated to either Security or Identity.  Security doesn't query for Azure AD Identity Protection, only Identity will present the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824cd4c8-3448-e778-1907-3a3271d0b38f
* Version Independent ID: fd77dfac-019c-8ffa-1530-7c92dfbda

[2018-07-30 16:38] Adam-Smith-MSFT commented on #12541
@ncacace Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 16:39] Adam-Smith-MSFT commented on #12542
@kazshi Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:39] Adam-Smith-MSFT commented on #12543
@MisinformedDNA Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:40] Adam-Smith-MSFT commented on #12544
@kazshi Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:41] Adam-Smith-MSFT commented on #12545
@MartyZhou Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:42] Adam-Smith-MSFT commented on #12546
@thisiszw Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:43] Adam-Smith-MSFT commented on #12554
@elangelo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 16:44] Adam-Smith-MSFT commented on #12551
@toxarisswe Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:46] Adam-Smith-MSFT commented on #12579
@jkallenbach Could you provide us with the link to the documentation you were referring to ?

[2018-07-30 16:48] Mike-Ubezzi-MSFT commented on #12542
@kazshi I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 16:50] Adam-Smith-MSFT commented on #12567
@antongeorgiev Thank you for the valuable feedback,we are investigating the issue.

[2018-07-30 16:52] mike-urnun-msft commented on #12556
@nils-a Closing this one as the issue is being tracked as part of #11744

[2018-07-30 16:52] #12556 closed

[2018-07-30 16:54] Karishma-Tiwari-MSFT commented on #12572
@andrewtyped Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 17:02] agileorange commented on #12074
Hi, I am seeing exactly the same issue as @Zir01. Both manually entered and the cloned project. I posted in a forum more details but same as previous poster. https://social.msdn.microsoft.com/Forums/en-US/a80a4382-e3e8-4feb-baa9-c3f21ab99a7c/service-fabric-mesh-tutorial-dns-problem-on-local-cluster?forum=AzureServiceFabric#a80a4382-e3e8-4feb-baa9-c3f21ab99a7c