[2021-01-25 01:29] ColeSiegelTR opened #69414 "Steps to get Function URL / Function Key are not working"
I followed the steps exactly per the documentation, and the Python app runs locally via Docker without issue. When I deploy it to Azure, I can see the HttpExample function is created, but `Get Function URL` is greyed out and so I am unable to follow the remaining steps in the guide. Is there a step missing or is this template broken?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-25 02:14] jocortems commented on #69403
Hi Mucius,

For (1) when the NVA and client accessing the private endpoint are in different VNETs SNAT is not required as you point out, the SDN makes sure traffic flow is symmetric through the NVA.

For (2), in your scenario your NVA is terminating the IPSec VPN tunnel as well as doing inspection, scenario (4) is only applicable when the IPSec VPN NVA is different from the NVA doing the inspectio

[2021-01-25 02:24] cat-mucius commented on #69403
Jorge, thanks for quick answer!

1. Interesting, do you know any documentation describing how this works?

2. In the case when IPsec tunnel is established between on-premises firewall and Azure VPN Gateway, which in turn delivers traffic to an NVA, it works the same - without SNAT (and without any UDR assigned to Private Endpoint's subnet). So it seems that the same mechanism somehow makes the tra

[2021-01-25 02:53] yucwan opened #69415 "Outdated screenshots"
[Enter feedback here]

Screenshot outdated in the deploy to azure section:
![image](https://user-images.githubusercontent.com/49381248/105655665-6f2db200-5efb-11eb-8c9a-872afa148e76.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47cb39a6-cd9e-4f02-b31b-1e09d6a7fa3f
* Version Independent ID: eeb0f211-80b7-9006-72e1

[2021-01-25 03:17] MayankBargali-MSFT commented on #69415
@yucwan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-25 03:18] MayankBargali-MSFT commented on #69414
@ColeSiegelTR Thank you for your feedback! We will review and update as appropriate.

[2021-01-25 03:19] MarileeTurscak-MSFT commented on #69400
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 03:21] MarileeTurscak-MSFT commented on #69401
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 03:32] SnehaAgrawal-MSFT commented on #69108
@zackliu Thanks for clarifying. @oadrian2 We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-01-25 03:32] #69108 closed

[2021-01-25 03:40] SnehaAgrawal-MSFT commented on #69073
@patrickbadley Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-25 04:06] ram-msft commented on #69226
@blocboi512
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-25 04:06] #69226 closed

[2021-01-25 04:16] ram-msft commented on #69223
@hasanali28 Thanks for the feedback. We are able to successfully execute the Analyze [layout ](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/concept-layout) and with the [tool](https://fott-preview.azurewebsites.net/).  Can you please share the sample input documents that you are trying to check.

If you are extracting only text, tables and selection marks from document

[2021-01-25 04:25] MarileeTurscak-MSFT commented on #69402
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 04:33] AshokPeddakotla-MSFT commented on #69406
@Strkli Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 04:43] VikasPullagura-MSFT commented on #69410
@V4A001
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-25 04:43] VikasPullagura-MSFT commented on #69410
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-01-25 04:44] VikasPullagura-MSFT commented on #69409
@V4A001
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-25 04:44] VikasPullagura-MSFT commented on #69409
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-01-25 04:46] VikasPullagura-MSFT commented on #69413
@akozeki
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-25 04:46] VikasPullagura-MSFT commented on #69413
@joelpelley
Can you please check and add your comments on this doc update request as applicable.

[2021-01-25 04:57] payalgaikwad42 commented on #68336
@asergaz @AshokPeddakotla-MSFT @arduppal  Can you guys please help me out with this ?

[2021-01-25 04:58] AshokPeddakotla-MSFT commented on #69399
@pietronromano Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 05:00] AshokPeddakotla-MSFT commented on #69407
@joanteixi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-25 05:06] HarithaMaddi-MSFT commented on #69404
@YidiQin - Thanks for your question. We are looking into it and will get back to you shortly.

[2021-01-25 05:08] shashishailaj commented on #69256
@YidiQin I hope that you are able to solve the issue with recommendations from @grhuynh . In case it has not worked for you . please do send us an email on azcommunity [at] microsoft [dot] com

[2021-01-25 05:10] VikasPullagura-MSFT commented on #69378
@mannyovena Can you please check the document now. I see the command is updated as you mentioned in this Feedback.

[2021-01-25 05:11] HarithaMaddi-MSFT commented on #69283
@arvind-dhariwal - I will proceed with closing the issue now. Please feel free to comment for further queries.

[2021-01-25 05:11] #69283 closed

[2021-01-25 05:12] #69256 closed

[2021-01-25 05:31] savjani commented on #69077
Hi @piotrgwiazda - Thanks for the feedback. I acknowledge we have an opportunity to improve here and at times we are not catching up as fast as we should. We are working on improving this for sure. Let me know if there are other places where you have seen this. I have taken an action item internally and we will revise this documentation to provide perspective guidance. Also point in time, hope you

[2021-01-25 05:39] v-harrishe opened #69416 "Invalid Link"
From version 9.30 of the Mobility service agent, you need servicing stack update (SSU) and SHA-2 update installed on Windows 2008 SP2 machines. ISHA-1 isn't supported from September 2019, and if SHA-2 code signing isn't enabled the agent extension won't install/upgrade as expected. Learn more about SHA-2 upgrade and requirements.

Here the link is invalid:  Learn more about SHA-2 upgrade and requi

[2021-01-25 05:42] psmanhas commented on #69081
@TestUser0811 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-01-25 05:42] #69081 closed

[2021-01-25 05:44] psmanhas commented on #69366
@NigelFindlater Glad to gear your issue was resolved.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-01-25 05:44] #69366 closed

[2021-01-25 05:45] SumanthMarigowda-MSFT commented on #69301
@kornelione You may also refer to this article :https://docs.microsoft.com/en-us/powershell/module/az.storage/update-azstorageblobserviceproperty?view=azps-5.4.0  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review

@tamram  Images needs to be updated

[2021-01-25 05:46] psmanhas commented on #69290
@Pratik44 Can you please provide information as per the ask so I can help you further on the issue?

Thanks

[2021-01-25 05:47] psmanhas commented on #69290
@Pratik44 Can you please provide information as per the ask so I can help you further on the issue?

Thanks

[2021-01-25 05:47] SumanthMarigowda-MSFT commented on #69357
@vick-git I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-25 05:47] #69357 closed

[2021-01-25 06:05] Pratik44 commented on #69290
Hi Preeti,

We have a policy similar to
https://blog.tyang.org/2018/08/22/azure-policy-definition-restricting-public-ip-for-nic/

At any point of time public IP cannot be allocated to any of the resource
on Azure. As whole communication happens over VPN tunnel and to over
private subnet on Azure.

What I am trying to do is :
1.) Creating a AKS cluster (this needs an empty subnet).
2.) I have to co

[2021-01-25 06:18] shashishailaj commented on #69416
@v-harrishe Thank you for catching this. We will have this investigated and update the thread.

[2021-01-25 06:50] HarithaMaddi-MSFT commented on #69407
@joanteixi - For activity outputs when we faced this issue, product team suggested to use [''] instead of '.' for selecting such outputs as below and it worked. But the same solution is not working here, I have reached out to product team and will get back to you with document update appropriately.

`@activity('WebHook1_copy1').output['test-Prop']`

[2021-01-25 06:52] HarithaMaddi-MSFT commented on #69293
@misterious-mister-x - I will proceed with closing the issue now. Please feel free to comment for further queries.

[2021-01-25 06:52] #69293 closed

[2021-01-25 06:59] SadiqhAhmed-MSFT commented on #69391
@twright-msft For visibility

[2021-01-25 07:04] HarithaMaddi-MSFT commented on #69404
@YidiQin - I am moving it to content author to share their thoughts.

@mssaperla - Can you please take a look?

[2021-01-25 07:16] VampireDaniel commented on #69062
@AnuragSharma-MSFT could you confirm, the App in EU need to Primary Redis and when read operation happens, would the App in EU connect to the Second Redis?

[2021-01-25 07:40] SujayJDesai commented on #68982
Yes we have tested with vSphere 6.7. Unofrtunaltey I cannot see permissions name marked in red (may be formatting issue).
Please follow the link below to create the support reqeust.
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-01-25 07:41] jeevanbalanmanoj opened #69417 "Typo in cache tokens section"
[Enter feedback here]
There is a typo at https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/resilience-client-app?tabs=csharp#cache-tokens
The text should be 'It is important that applications use the "expires_in" ' instead of 'In it important that applications use the "expires_in" '

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-25 07:42] poeticcapybara commented on #69191
Can confirm it is fixed for me.

[2021-01-25 07:56] lightupdifire commented on #69239
@JamesTran-MSFT
Thanks, I see there is a method named "passwordlessmicrosoftauthenticatorauthenticationmethod", but :) there is a record telling: deprecated :p

There is a note "The Microsoft Authenticator Passwordless Phone Sign-in method API is deprecated and will stop returning results on December 31, 2020. Please use the new [Microsoft Authenticator Authentication Method](https://docs.microsof

[2021-01-25 08:02] JohnMoor opened #69418 "Thumbprint need semicolon"
[Enter feedback here]

The Certificate Thumbprint value copied under step **8** of [Paragraph Configure Azure AD SSO](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/meraki-dashboard-tutorial#configure-azure-ad-sso) needs to be adjusted to have semicolons to be accepted in step **7** under [Configure Meraki Dashboard SSO](https://docs.microsoft.com/en-us/azure/active-directory/sa

[2021-01-25 08:38] FallenHoot opened #69419 "RHEL 8.3 support cloud-init"
This document is getting old fast.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#rhel

It states RedHat 8.1 yes (note: this is a preview image, and once all RHEL 8.1 images support cloud-init, this will be removed 1st August 2020).  This is a few months old now.

When will RHEL 8.3 (https://access.redhat.com/articles/3078) support cloud-init? Should we follow this:

[2021-01-25 08:51] JohnMoor opened #69420 "Additional configuration needed for role mapping"
The paragraph name "Create Meraki Dashboard test user" is not accurate. The reader is instructed to create a Dashboard role, not a user. More accurate would be the heading: "Create Meraki Dashboard Admin Roles" Per #69421

Also the Role Mapping settings are not fully completed. The following needs to be added after the paragraph "Create Meraki Dashboard test user"

Create Role Mapping
Follow these

[2021-01-25 08:53] JohnMoor opened #69421 "Paragraph name not accurate: Create Meraki Dashboard test user"
[Enter feedback here]

The paragraph name "Create Meraki Dashboard test user" is not accurate. The reader is instructed to create a Dashboard role, not a user. More accurate would be the heading: "Create Meraki Dashboard Admin Roles"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e25502b7-432c-e8ff-2dde-f21e8ba6b4db
*

[2021-01-25 08:59] #69190 closed

[2021-01-25 09:06] rayne-wiselman commented on #69416
This is fixed. The fix should merge into our docs later on today. Thx

[2021-01-25 09:08] rayne-wiselman commented on #69397
We're investigating this. Thx!

[2021-01-25 09:33] JayaChatterjee-MSFT commented on #69004
@Plus3IT-Azure  Thanks for sharing the details. This seems to be application specific and needs dedicated troubleshooting. Hence I would request you to open a support ticket with Microsoft Support if you have a subscription which allows you to do so. Otherwise , you can send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread along with the subscripti

[2021-01-25 09:33] #69004 closed

[2021-01-25 09:44] SubhashVasarapu-MSFT commented on #69254
@hpourreza, Appreciate your patience. These resource providers not found errors occur on deploying resources that were not been used earlier in that subscription. To avoid this, you need to register that resource under your subscription. We have this well documented here in the [doc's section](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-register-resource-provider.

[2021-01-25 09:44] #69254 closed

[2021-01-25 09:49] MamidiVasavi opened #69423 "Provide info about moving the adls resource to another rg or subscription"
Add info about moving azure data lake store to another resource group or subscription - does moving the adls to another rg result in losing the assigned acls or does just rbac is lost as part of the movement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6205169-fed0-93bc-8e8f-1c928be10a94
* Version Independent ID: a

[2021-01-25 09:51] JayaChatterjee-MSFT commented on #69219
@omerzubair I believe you want assistance for configuring your VNet set up with azure functions.  We need to take it up offline to discuss in details. Could you please send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread?
This is not a document related issue, Hence I am closing this thread.

[2021-01-25 09:51] #69219 closed

[2021-01-25 10:06] Rvvhub opened #69424 "Align this page "Security checklist" with the best practices"
Align this page "Security checklist" with the best practices that are just above it:
https://docs.microsoft.com/en-us/azure/security/fundamentals/identity-management-best-practices

Eg: the best practices recommend using Admin Workstations - this is not mentioned in the checklist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-01-25 10:09] eduarandilla opened #69425 "Next step link doesn't work"
[Enter feedback here]

The link to :
"Next steps
Extend your subnet to Azure using vendor solutions."

Doesn't work
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c221d52e-1959-7c59-fbb4-2e7690d5ed03
* Version Independent ID: ee419d0c-0243-d5b2-44fd-96857015b793
* Content: [Subnet extension in Azure](https://docs.micros

[2021-01-25 10:19] agribot2 commented on #69127
Hi,
Thanks for getting back to me.

To prevent further surprise charges I have disabled my Azure account - I'm worried that Microsoft will make further changes against my credit card without me agreeing or being aware.

So, with my subscription now disabled, I do not think I can find out what tier I was in, but I do recall seeing "F0" in some of the screens as I tried-out the system.

Surprising .

[2021-01-25 10:34] HannahHsiao opened #69426 "Please confirm the default OS drive size"
in this doc, "When you create a new virtual machine (VM) in a resource group by deploying an image from Azure Marketplace, the default OS drive is often **127 GB** (some images have smaller OS disk sizes by default)."; however, in doc: https://docs.microsoft.com/en-US/troubleshoot/azure/virtual-machines/default-size-images-changed-30-gb, it shows "When you deploy a Windows Server virtual machine (

[2021-01-25 10:46] shashishailaj commented on #69417
@jeevanbalanmanoj Thank you for catching this. We will investigate and update the thread.

[2021-01-25 10:48] shashishailaj commented on #69419
@FallenHoot Thank you for your feedback . We will investigate and update the thread.

[2021-01-25 10:51] sarveshpandey23 opened #69427 "Understand the RU calculation in Cosmos DB"
We want to understand the costing and what will be the estimated RU we need and how to calculate the RU in cosmos DB as the total size of database is approximately 10 Tb and there is one or two transaction of 2 millions of records daily.

How we can minimize costing of Azure Cosmos DB? As there is only one or two transactions occurs in a day.
What is an alternative method of Serverless Cosmos. Sin

[2021-01-25 10:53] shashishailaj commented on #69418
@JohnMoor Thank you for pointing it out. We will have this reviewed and update the documentation as required.

[2021-01-25 10:54] shashishailaj commented on #69420
@JohnMoor Thank you for sharing the details. We will have this reviewed and update the documentation as required.

[2021-01-25 10:54] frankvaneykelen opened #69428 "Is the bug warning on "Troubleshoot problems with Azure Application Insights Profiler - Azure Monitor" still valid?"
Is the "_There is a bug running profiler for ASP.NET Core apps on Azure App Service. We have a fix, but it will take a few weeks to deploy world wide. You can work around the bug by adding the Application Insights SDK to your application with instructions here._" section still valid? It was commited by @cweining on Jul 14, 2020, so the few weeks should have passed by now.

---
#### Document Detail

[2021-01-25 10:55] shashishailaj commented on #69421
@JohnMoor Thank you for pointing it out. We will have this reviewed and update the documentation as required.

[2021-01-25 11:02] SarveshPandey opened #69429 "Nodes Details in Azure Hbase"
Which node is better to process 1.5 millions records daily where total size of storage is 10tb.

Its there any way to auto-scale Hbase cluster as there will be only 1 to 2 transaction a day but data size will be large.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aadf8a2b-1d82-9271-e865-a3cf7d0dc73c
* Version Indepen

[2021-01-25 11:09] SwathiDhanwada-MSFT commented on #69428
@frankvaneykelen Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-25 11:15] BhargaviAnnadevara-MSFT commented on #69088
@mack0196 The instruction to update the `ConfigureServices` method with `services.AddAzureAppConfiguration();` is present in **Step 4** of the [Reload data from App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core3x#reload-data-from-app-configuration) under the .Net Core 3.x tab.

![image](https://user-images.githubuse

[2021-01-25 11:15] #69088 closed

[2021-01-25 11:17] shashishailaj commented on #69424
@Rvvhub Thank you for your feedback . We will have the content team review your suggestion and update this issue.

[2021-01-25 11:19] RohitMungi-MSFT commented on #69221
@iLikeAzureSQL We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-01-25 11:19] #69221 closed

[2021-01-25 11:26] icyfire0573 opened #69430 "Endpoint not working?"
I know the endpoint is in beta so it may have changed, or I'm doing something wrong; i'm trying to hit the endpoint from powershell and this is the error i'm getting:

VERBOSE: POST https://eastus.customvoice.api.speech.microsoft.com/api/texttospeech/v3.0-beta1/ with -1-byte payload

Invoke-RestMethod : The resource you are looking for has been removed, had its name changed, or is temporarily unav

[2021-01-25 11:30] arifsyeduknpl commented on #69191
Hi,
still not fixed (UK South)
Recreated the Machine Learning Workspace and then the VM Compute Resource (Standard F4s_v2) same error.
I have checked my Json file for the resource and HBI is False

"hbiWorkspace": false,

[2021-01-25 11:50] AnuragSharma-MSFT commented on #69427
@sarveshpandey23 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-25 11:57] Andrew-Webb opened #69431 "SCIM `externalId` attribute is always optional; `userName` is mandatory for a user"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#step-1-design-your-user-and-group-schema

"The core user schema only requires three attributes: id (service provider defined identifier), externalId (client defined identifier), and meta (read-only metadata maintained by the service provider). All other attributes are optional."

This se

[2021-01-25 12:01] Teja2608 opened #69432 "custom error page for path based routing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Content: [Create Azure Application Gateway custom error pages](https://docs.microsoft.com/en-us/azure/application-gateway/custom-error)
* Content Sou

[2021-01-25 13:08] yelevin commented on #67820
@alana257 Thanks for your question. Some CEF sizing information has recently been released. See https://docs.microsoft.com/en-us/azure/sentinel/connect-common-event-format#prerequisites for details.

[2021-01-25 13:09] yelevin commented on #67820
#please-close

[2021-01-25 13:09] #67820 closed

[2021-01-25 13:10] ghanshyambb opened #69433 "code : InternalServerError message Please provide below info when asking for support: timestamp = 2021-01-22T12:51:41.1658661Z, correlation Id = c8574ba9-2b2b-49af-b01e-3fe82eb5ffc1"
[getting above error on POST https://management.azure.com/providers/Microsoft.ResourceGraph/resourceChangeDetails?api-version=2018-09-01-preview]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733fcd9b-e234-8765-a7e0-498ded659ddc
* Version Independent ID: bd115a3e-37c9-66c9-da11-68b46b563275
* Content: [Get resource ch

[2021-01-25 13:20] swinarko commented on #29886
Please follow our doc: https://docs.microsoft.com/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup#current-limitations, otherwise raise a support ticket.

[2021-01-25 13:22] smerkx-vivat commented on #25153
And again it is not current: downloadable version is 2.7.41491.939 - current version is 2.7.41491.1005.

[2021-01-25 13:24] smerkx-vivat opened #69434 "The current downloadable agent is (again) not the latest."
And again it is not current: downloadable version is 2.7.41491.939 - current version is 2.7.41491.1005.

_Originally posted by @smerkx-vivat in https://github.com/MicrosoftDocs/azure-docs/issues/25153#issuecomment-766812159_

[2021-01-25 13:24] AshokPeddakotla-MSFT commented on #69255
@fgheysels To provide an update, I am checking on this issue internally and update you as earliest. Appreciate your time and patience.

[2021-01-25 13:31] AshokPeddakotla-MSFT commented on #69406
@Strkli Could you confirm whether you have changed/replace the longitude, latitude pair value for the variable with the new values [-74.0060, 40.7128]?

![image](https://user-images.githubusercontent.com/44426435/105712278-91e1ba00-5f3f-11eb-89ee-f71093b7cfde.png)

I will try to repro the issue and update you.

[2021-01-25 13:33] SwathiDhanwada-MSFT commented on #69201
Assigning to content author @bwren for document enhancement.

[2021-01-25 13:37] SvenSowa commented on #42222
Is it possible, to get an update on the matter? Thanks

[2021-01-25 14:02] KapilGeorge opened #69436 "Getting non_https_redirect_failed error"
I am using the sample code provided for active-directory-b2c-dotnet-desktop-msalv3 but I am getting the below error when I click on Sign In when I use my own azure ad b2c tenant.
I am using https url as redirect but still getting non_https_redirect_failed error.

Below is the stack trace, would appreciate any help on the same.
Error Acquiring Token:
MSAL.Desktop.4.25.0.0.MsalServiceException:
	Err

[2021-01-25 14:16] tfitzmac commented on #69362
@rarandiv - thanks for the feedback. This article is only about naming resource types. The admin name is not a resource type. That type of detail should go in the documentation for SQL MI.

[2021-01-25 14:16] tfitzmac commented on #69362
#please-close

[2021-01-25 14:16] #69362 closed

[2021-01-25 14:18] DCtheGeek commented on #69433
#assign:DCtheGeek
#label:"product-issue"

[2021-01-25 14:20] HarshitaSingh-MSFT commented on #69396
The query needs a further information & probing. Please send mail to AzCommunity[at]microsoft[dot]com with subject: "ATTN: Harshita" and a link to this forum thread (for context).

[2021-01-25 14:22] DCtheGeek commented on #69433
@ghanshyambb This forum is for issues with the Docs.  Based on the message you are getting, I'd recommend opening a [Support Ticket](https://azure.microsoft.com/support/create-ticket/) or asking on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-policy.html) with additional details.  As this doesn't appear to be a Docs issue, I'm going to close this issue.  Thanks!

@MicrosoftDocs/

[2021-01-25 14:22] #69433 closed

[2021-01-25 14:39] Strkli commented on #69406
Thank you for your attention, Ashok.

Yes, I changed the longitude, latitude pair value and results are the same.
I've also tried changing the subscription ID, toggled on and off the Auth code, used different zoom levels.

I'm starting over fresh again this morning, I'll keep you posted when I find my error.

Thanks

[2021-01-25 14:39] vercin7277 opened #69437 "AES"
Old:

AES Encryption
Select this checkbox to enable AES encryption for an SMB volume. See Requirements for Active Directory connections for requirements.

New:

AES Encryption
Select this checkbox to enable AES encryption for AD Authentication. See Requirements for Active Directory connections for requirements.
---

Old:

You can enable AES encryption for an SMB volume by checking the AES Encrypti

[2021-01-25 14:51] RonnieQuan opened #69440 "Traffic Manager Only Has Http URL?"
Can you please confirm traffic manage default FQDN is only for http? and why if it's by design?

When I try https://<>.trafficmanager.net, it's not reachable. from portal, it only shows http
![image](https://user-images.githubusercontent.com/25850020/105721751-e743aa00-5ef2-11eb-91a4-8854dddd87c4.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-01-25 14:52] MonikaReddy-MSFT commented on #69240
@SanguptaMSFT - The changes are merged and is live now. Thank you for your patience.

[2021-01-25 15:03] binhnguyen1984 opened #69441 "Msal does not work with IE11"
[Enter feedback here]

I tried the sample code with IE version 11.1577.17763.0, Window 10 Enterprise version 1809, but it does not work. The method loginPopup() keeps throwing an ClientAuthError: Error opening popup window. This can happen if you are using IE or if popups are blocked in the browser.
However, I have already turn off the option that blocks popups in IE but this error still occurred.

[2021-01-25 15:04] SumanthMarigowda-MSFT commented on #69437
@vercin7277 Thanks for the feedback! The PR request has been initiated

[2021-01-25 15:04] #69412 closed

[2021-01-25 15:08] MonikaReddy-MSFT commented on #69426
@HannahHsiao -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-25 15:08] AlexandraKemperMS commented on #69088
Hi @mack0196, as Bhargavi pointed out, I have updated the document based on your feedback. Thank you for letting us know about this issue and please feel free to open another issue if you find anything else.

[2021-01-25 15:09] SumanthMarigowda-MSFT commented on #41969
@Rocketboy235 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-25 15:09] #41969 closed

[2021-01-25 15:11] SumanthMarigowda-MSFT commented on #32068
@andyong79  Thank you for sharing the troubleshooting steps which helped you in the fixing the issue. This could benefit other members who is reading this thread!

[2021-01-25 15:11] #32068 closed

[2021-01-25 15:13] rarandiv opened #69442 "While creating a SQL MI sometime customer use special character or @ in the admin name which cause an issues post creation of SQL MI. No instruction in the document to not use special character in the admin name"
Please refer https://github.com/MicrosoftDocs/azure-docs/issues/69362#issuecomment-766845640. I thought "Naming rules and restrictions for Azure resources" document would be page where below instruction should add but the as per contributor of that page the detail should go in the documentation for SQL MI. Hence sharing the feedback here.

While handling the case, one of the customer has created a

[2021-01-25 15:26] YutongTie-MSFT commented on #69127
@agribot2 Sorry for the experience again but we can not see your screenshot. The F0 tier is like trail tier which is free. We'd love to optimize the experience and make everything clear. ^^ And I want to clarify again that, F0 tier service is free.

[2021-01-25 15:31] arifsyeduknpl commented on #69191
MS Support have said that the current fix is only West Europe not UK South.... need to wait on ETA of fix

[2021-01-25 15:38] RohitMungi-MSFT commented on #69308
@ChrisOBrien93 Yes, the sentiment label for South Africa North is missing in my response. For all other regions it looks like it is working as expected. We are checking with our team internally on this for any issue in the service. We will keep you posted on this. Thanks!!

[2021-01-25 15:39] samfromlv opened #69444 "Is local cache still not supported by Function Apps?"
When local cache is enabled via WEBSITE_LOCAL_CACHE_OPTION setting (set to Always) for Function App than navigating to Functions tab in Azure Portal shows warning "Use your local development environment to edit this Function App. This Function App uses Local Cache and cannot be edited in the Azure portal." on the top of the page.

Documentation states that Function App doesn't support Local Cache

[2021-01-25 15:44] YutongTie-MSFT commented on #69430
@icyfire0573
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 15:48] khatri034 commented on #29886
@swinarko I tried to raise a ticket but it's not allowed due to some access.
![Uploading Screenshot_20210125-211718.png…]()

[2021-01-25 15:51] felixtsem5 opened #69445 "Storage account is no longer listed under the Storage section of Create a Resource"
In step 3 of the Quickstart, it is directing the user to go to **Storage > Storage account**. Storage account is no longer listed there, however.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec5cd7c-2241-dc13-0f95-be2bbf300d6c
* Version Independent ID: c42e2294-e257-9993-dc9c-5da0453513d9
* Content: [Deploy template

[2021-01-25 15:54] ram-msft commented on #69223
@hasanali28 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-25 15:54] #69223 closed

[2021-01-25 16:19] agribot2 commented on #69127
Hi,
I am resending this email , including the 2 pictures it includes, because you ( YutongTie-MSFT  ) replied that you did not get the 2 pictures.
The same 2 pictures are also attached as attachments to this email.

With Regards

From: Con O'Connor <con_oconnor@hotmail.com>
Sent: 25 January 2021 10:19
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@norep

[2021-01-25 16:28] emuench commented on #63051
Thanks for following up. You can find other possible action code values at Lead management from Microsoft commercial marketplace (https://docs.microsoft.com/azure/marketplace/partner-center-portal/commercial-marketplace-get-customer-leads) (and we will soon be making them more self-explanatory).

Regarding generation of leads, a lead is generated when a customer clicks on Get It Now or other call

[2021-01-25 16:31] SatishBoddu-MSFT commented on #69434
Hello @smerkx-vivat Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-01-25 16:32] khatri034 commented on #29886
@AzureSupport please help me here. @AzureSupport

[2021-01-25 16:36] JamesTran-MSFT commented on #69431
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 16:38] JamesTran-MSFT commented on #69441
@binhnguyen1984
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 16:46] spelluru commented on #41398
#in-progress

[2021-01-25 16:47] JamesTran-MSFT commented on #69436
@KapilGeorge
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 16:47] RohitMungi-MSFT commented on #69430
@icyfire0573 I have tried to use the eastus endpoint and it seems to be available to get the voice list
![image](https://user-images.githubusercontent.com/46958063/105736275-9cf61380-5f5a-11eb-8881-2f198bbad98d.png)

Could you please try to check if the python script works with the API with the required parameters? I am not sure if the files and data are passed correctly in your post request which

[2021-01-25 16:51] b-juche commented on #69437
#vercin7277 - Thanks for the input. However, our product managers require that all doc changes be approved before merging. This PR was merged before I had a chance to review / request approval.  Will get back on this PR if product managers disagree.

[2021-01-25 16:51] markjbrown commented on #69427
Sarvesh, this is not the correct place to ask product questions. Please direct your questions to our Q&A forum here.
https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html

Thank you.

#please-close

[2021-01-25 16:51] #69427 closed

[2021-01-25 17:00] b-juche commented on #69437
#vercin7277 - Thanks for the input. However, our product managers require that all doc changes be approved before merging. This PR was merged before I had a chance to review / request approval.  Will get back on this PR if product managers disagree.

[2021-01-25 17:02] vercin7277 commented on #69437
No problem Julie!

Kind regards,

Verron Martina
Cloud Solution Architect for Azure Alliance
Mobile: +31 6 2090 2089 | Email: verron.martina@netapp.com
________________________________
From: Julie Chen <notifications@github.com>
Sent: Monday, January 25, 2021 5:51 PM
To: MicrosoftDocs/azure-docs
Cc: Martina, Verron; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AES (#69437)

NetApp Security WARN

[2021-01-25 17:10] himanshusinha-msft commented on #69429
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q & A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an updat

[2021-01-25 17:11] himanshusinha-msft commented on #69423
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-25 17:15] axayjo commented on #60359
#reassign: @amjads1

[2021-01-25 17:15] PRMerger9 commented on #60359
amjads1 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-25 17:15] trkeya commented on #63923
@emuench We are investigating with downstream to determine if this is pipeline localization issue/ a html tag issue.

[2021-01-25 17:16] tyeth opened #69447 "Error setting url to /hello when following example"
Message received in Function on portal:
Functions runtime error
Microsoft.AspNetCore.Routing: An error occurred while creating the route with name 'HttpExample' and template 'api//hello'. Microsoft.AspNetCore.Routing: The route template separator character '/' cannot appear consecutively. It must be separated by either a parameter or a literal value. (Parameter 'routeTemplate'). Microsoft.AspNetCo

[2021-01-25 17:17] tyeth commented on #69447
I have no route prefix set in hosts.json and the example implies this is expected as /api is the default route prefix and set elsewhere.

[2021-01-25 17:23] MonikaReddy-MSFT commented on #69445
@felixtsem5 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-25 17:26] MonikaReddy-MSFT commented on #69425
@eduarandilla -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-25 17:28] YutongTie-MSFT commented on #69127
@agribot2 I am sorry, screenshots attached from email could not be seen at GitHub, Could you please share at  GitHub? And if you are charged for F0 tier service you can open a ticket to ask for refund ^^

[2021-01-25 17:37] MashaMSFT commented on #69442
Hi @rarandiv , thanks so much for bringing this to our attention! I've processed a change to add this information to the [resource naming doc](https://docs.microsoft.com/azure/azure-resource-manager/management/resource-name-rules), and it should be live later today.

I hope that helps! I'm closing out this Git Issue for the time being but please feel free to comment should you need anything furthe

[2021-01-25 17:37] #69442 closed

[2021-01-25 17:38] jboeshart commented on #65559
@psmanhas can you please have this reassigned to the owner of the VMSS documentation?

#reassign: @psmanhas

[2021-01-25 17:41] ChaitanyaNaykodi-MSFT commented on #69447
Hello @tyeth,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-25 17:44] YutongTie-MSFT commented on #69191
@arifsyeduknpl Hello, I just received the confirmation for engineering team that the hotfix for UK will be released today. Sorry for the experience and thanks for the patience.

[2021-01-25 17:47] hankbeasley opened #69448 "enqueuedTime should be EnqueuedTimeUTC in host.json"
enqueuedTime should be EnqueuedTimeUTC in host.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/function

[2021-01-25 17:47] ColeSiegelTR commented on #69414
Thank you @MayankBargali-MSFT

I also tried retrieving the function key via Azure CLI in case it was a portal/UI issue, but I receive the error below:

`Bad Request({"Code":"BadRequest","Message":"Encountered an error (InternalServerError) from host runtime.","Target":null,"Details":[{"Message":"Encountered an error (InternalServerError) from host runtime."},{"Code":"BadRequest"},{"ErrorEntity":{"

[2021-01-25 17:51] KrishnaG-MSFT commented on #69442
@MashaMSFT Thanks for the super quick response. :+1:

[2021-01-25 18:02] colbytimmsl opened #69450 "Application Insights no longer provides generateAnswer url for my bot"
Previously I was using the Application Insights to get QnA Maker insights based on my bot questions and answers.
Before I dive in, this issue was reported [here](https://github.com/MicrosoftDocs/azure-docs/issues/66070) but was then closed.

If I run the following query I don't seem to get back a URL that ends with generateAnswer for some reason. Below I've listed the output for just the urls that

[2021-01-25 18:04] pjbalan commented on #53749
@stgeorgi I get the same error in stage script. attached is the error screen shot.
![image](https://user-images.githubusercontent.com/77987219/105746738-d41df200-5f65-11eb-87a6-40336071fcfc.png)

[2021-01-25 18:04] kobulloc-MSFT commented on #68967
@shammelburg If you don't mind opening a new issue for that question, it will help organize questions so that other readers can find answers quickly, help with our tracking, and make sure that you get connected with the best person to answer your question (I'd be happy to answer but I'm not sure what happens in that case).

[2021-01-25 18:05] pjbalan commented on #53749
below is the staging script,
#MSIX app attach staging sample
#region variables
$vhdSrc="C:\ApplicationVHDs\MozillaFirefox_1.0.0.0_x64__pg7ttx7b4wv6w.vhd"

$packageName = "MozillaFirefox_1.0.0.0_x64__pg7ttx7b4wv6w"

$parentFolder = "ApplicationVHDs"
$parentFolder = "\" + $parentFolder + "\"

$volumeGuid = "da46cdd1-1167-4702-945c-0d252a054861"

$msixJunction = "C:\temp\AppAttach\"
#endregion

#regi

[2021-01-25 18:08] SaiKishor-MSFT commented on #69440
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 18:09] SaiKishor-MSFT commented on #69432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 18:11] YutongTie-MSFT commented on #69450
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 18:13] JamesTran-MSFT commented on #69359
@JimDaly
Thank you for pointing this out! I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-01-25 18:13] #69359 closed

[2021-01-25 18:14] JamesTran-MSFT commented on #69099
@AJRus
Thank you for your time and patience throughout this issue. However, since I haven't received a response from you in a few days, I'll go ahead and close out this issue.

If you have any other questions or require additional assistance, please let me know.
Thank you!

[2021-01-25 18:14] #69099 closed

[2021-01-25 18:15] ejarvi commented on #63915
@msmbaldwin are you authorized to merge the associated PR?  I am not.  Thanks!

[2021-01-25 18:16] JamesTran-MSFT commented on #69431
@Andrew-Webb
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-25 18:20] edmund-davis opened #69451 "RISK: binding conflict in "Provision the SharePoint web application""
Hi.

The scripts included in this document introduce a risk of bringing down the existing SharePoint web app by introducing a potential binding conflict in IIS.

Please could you update the scripts to ensure that the examples cannot cause this kind of issue - and potentially include a warning about it in the documentation to select a unique TCP port and/or host header for the web app.

---
#### Do

[2021-01-25 18:22] jeevansd commented on #69418
@v-hagamp Can you please get this article updated with the right instructions? That way customers can add semicolon and then add that in the Meraki configuration?

[2021-01-25 18:24] jeevansd commented on #69420
@v-hagamp Can you please update the instructions in the article as suggested here?
@chetansriv  for tracking this

[2021-01-25 18:25] jeevansd commented on #69421
@v-hagamp Can you please update this article?
@chetansriv for tracking this item.

[2021-01-25 18:27] vermagit commented on #69185
I've updated the blog article with more details https://techcommunity.microsoft.com/t5/azure-compute/accelerated-networking-on-hb-hc-hbv2-and-ndv2/ba-p/2067965

@greschd Let us know if something is unclear and/or you still encounter issues.

If not, @VikasPullagura-MSFT you may close this.

[2021-01-25 18:27] cherylmc commented on #69121
@anzaman- can you please take a look? #assign:anzaman

[2021-01-25 18:36] JamesTran-MSFT commented on #69451
@edmund-davis
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-25 18:41] hamiltonha commented on #68037
#reassign @j-mantu

[2021-01-25 18:42] hamiltonha commented on #67195
#reasign @j-mantu

[2021-01-25 18:43] hamiltonha commented on #66741
#reassign @j-mantu

[2021-01-25 18:43] hamiltonha commented on #66739
#reassign @j-mantu

[2021-01-25 18:43] hamiltonha commented on #66101
#reassign @j-mantu

[2021-01-25 19:00] greschd commented on #69185
Thanks @vermagit, the links are very helpful. Unfortunately I haven't gotten around to testing without AN yet; I'll report back if I don't manage to get things to run with the provided information.

[2021-01-25 19:00] #69185 closed

[2021-01-25 19:10] dstefanMSFT opened #69452 "You need Premium for API access to Sign-in logs"
Line

The sign-in activity report is available in all editions of Azure AD and can also be accessed through the Microsoft Graph API.

Is incorrect - to access sign-in activity APIs you need a premium license:

https://docs.microsoft.com/en-us/graph/api/resources/azure-ad-auditlog-overview?view=graph-rest-1.0#what-licenses-do-i-need
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-01-25 19:11] anzaman commented on #69121
That is just an example, the Note below the screen shot clearly states to use the "ID of the application(s) you registered."

@cherylmc - can we grey out the field so that is there no confusion at all?

[2021-01-25 19:15] RonnieQuan opened #69453 "What RBAC Permission Is Needed to Create System Identity?"
When I create VM, storage account or web app, I can create system managed identity in the same time?

What RBAC permission is needed?
for example, any  specific operation we need under Microsoft.Compute/*  in order to create system identity for a VM.
or does it require any particular operation from Microsoft.ManagedIdentity/*

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this s

[2021-01-25 19:16] JamesTran-MSFT commented on #69436
@KapilGeorge
Thank you for providing all these details!

ErrorCode: non_https_redirect_failed
Microsoft.Identity.Client.MsalServiceException: Non-HTTPS URL redirect is not supported in webview.

Based off your error message and issue details, are you using an HTTPS URL potentially under the Web platform? From the documentation, you should be using the Mobile and desktop application platform with a

[2021-01-25 19:22] RonnieQuan opened #69454 "What Permission Is Needed to Assign User Managed Identity to Target Resource"
Let's use app service as example, in order to assign user manger identity to a app service,
We need,
Microsoft.ManagedIdentity/userAssignedIdentities/assign/action on the identity itself,
and
what permission we need on the app service itself?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc

[2021-01-25 19:27] TerryLanfear commented on #5070
@ThomasBalder - Thank you for pointing this out. I will look into this.

[2021-01-25 19:30] JamesTran-MSFT commented on #69441
@binhnguyen1984
Thank you for bringing this up!

Unfortunately, Internet Explorer is not supported by the app you build in this tutorial due to the app's use of [ES6](https://262.ecma-international.org/6.0/) conventions. For [more info](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-spa#prerequisites).

![image](https://user-images.githubusercontent.com/3661

[2021-01-25 19:31] b-juche commented on #69437
@ vercin7277 -- Thanks again Verron!  Our Product Managers appreciated your input :)  Thanks for your help in enhancing the documentation.

[2021-01-25 19:33] vercin7277 commented on #69437
You’re welcome !

Kind regards,

Verron Martina
Cloud Solution Architect for Azure Alliance
Mobile: +31 6 2090 2089 | Email: verron.martina@netapp.com
________________________________
From: Julie Chen <notifications@github.com>
Sent: Monday, January 25, 2021 8:31:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Martina, Verron <Verron.Martina@netapp.com>; Mention <mention@nor

[2021-01-25 19:44] stephlocke opened #69455 "Title should be Mitigate *un*fairness in machine learning models (preview)"
The title currently suggests fairness is something to be mitigated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd900255-61af-6444-f7d2-0ebaf0c3c30b
* Version Independent ID: e77ff218-b014-8ffb-e7f1-9c88deab3f94
* Content: [Mitigate fairness in machine learning models (preview) - Azure Machine Learning](https://docs.

[2021-01-25 19:54] samrueby opened #69456 "Clarify if variables in ARM template can reference another variable."
Please clarify if a variable in an ARM template can reference another variable. E.g:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a91101b4-6933-a47c-8622-3385fc35fa90
* Version Independent ID: 2e3a4660-2307-da59-7686-aba5c39c4a4c
* Content: [Variables in templates - Azure Resource Manager](https://docs.micros

[2021-01-25 19:59] GitRomney opened #69457 "Will Microsoft Lists be added as an approved client app?"
We were excited to finally see the Microsoft Lists app make it to the Apple App store last week, however it is not listed as an approved client app, so we cannot use it with our Conditional Access policies. Is there a timeline for when it might be added to the approved app list so that our users can begin using it without registering their personal devices in InTune? If those monitoring this page

[2021-01-25 20:01] AjayKumar-MSFT commented on #69107
@chenyl, Requesting your comments on this.

[2021-01-25 20:06] MashaMSFT opened #69459 "test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07c43312-cf6c-7ce0-652e-8dbf82d7776c
* Version Independent ID: 04537afb-39e1-9222-d4b9-b9f2f27be3f4
* Content: [DB2 to SQL Database: Migration guide - Azure SQL](https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/database/db2-to-sql-dat

[2021-01-25 20:08] ElanShudnow opened #69460 "BGP Required?"
This article can explains thing more clearly to set the stage.  Is this for an already existing production setup where you already have a Virtual Network Gateway?  I ask this because there's already documentation for creating Site to Site from on-premises directly to Virtual WAN VPN Gateway: https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal.  What's the point of th

[2021-01-25 20:08] JamesTran-MSFT commented on #69374
@gb5757870
Thank you for pointing this out!

In order to gain access to the [SQL information protection policy option](https://docs.microsoft.com/en-us/azure/security-center/security-center-info-protection-policy?tabs=sqlip-tenant#how-do-i-access-the-sql-information-protection-policy) within ASC, you'll need to [Grant tenant-wide permissions for yourself](https://docs.microsoft.com/en-us/azure/sec

[2021-01-25 20:08] #69374 closed

[2021-01-25 20:12] JamesTran-MSFT commented on #69452
@dstefanMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 20:14] JamesTran-MSFT commented on #69453
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 20:14] JamesTran-MSFT commented on #69454
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 20:15] YidiQin opened #69461 "DNAseq pipeline input file"
I am using an aligned bam file from the non-GATK pipeline platform as the input file. In that case, both of the ref (original file is aligned with GRCh37) and the file format (not from BWA) are different from what I expected (using GRCh38 as ref and using BWA alignment). I found that the GATK pipeline could convert aligned bam file to unmapped one and redo alignment from their official website. Ca

[2021-01-25 20:18] anastasia-ms commented on #69406
Please include a link to your code, so I can take a look.

[2021-01-25 20:24] aggerritsen commented on #66999
Hi Yelevin,

Thank for the link. Unfortunately it described a manipulation in Azure portal and not the programmatic approach we were looking for. As mentioned above. it turns out that the Sentinel Log Activity Connector is a generic Data Source connector for the Log Analytics Workspace where Sentinel is sitting on. This connectors can be created using REST API found here: https://docs.microsoft.co

[2021-01-25 20:35] haymansfield commented on #63678
Any update?

[2021-01-25 21:00] tifischer opened #69463 "Example images of source are SQL instead of blob"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13dc7a06-24d0-2cae-8b1e-5329fa66bf16
* Version Independent ID: 724f6988-bbee-dfd7-bdd5-1bdc09c9abdc
* Content: [How to scan Azure storage blob - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/register-scan-azure-blob-storage-source)
* C

[2021-01-25 21:04] MarileeTurscak-MSFT commented on #69272
Hi @pirateutopia, one main difference is in managing the application proxy settings. The Application Administrator role grants the ability to manage Application Proxy Settings, whereas the Application owner role doesn't grant the same.

Also, Owners can add credentials to an application and use those credentials to impersonate the application’s identity. The application may have more permissions t

[2021-01-25 21:04] #69272 closed

[2021-01-25 21:19] YutongTie-MSFT commented on #69191
@arifsyeduknpl This fix has been released. ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion. Please let me know if this is still not working for you.

[2021-01-25 21:19] #69191 closed

[2021-01-25 21:25] SaiKishor-MSFT commented on #69460
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 21:30] stgeorgi commented on #53749
That error indicate that you are not passing the path to the package correctly. Its impossible to troubleshoot as I do not know how the VHD is setup or what you are passing in as parameters. As with any script its all about input.

[2021-01-25 21:33] YutongTie-MSFT commented on #69455
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-25 21:34] MarileeTurscak-MSFT commented on #69400
Thanks, I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/144307

@kenwith please confirm.

[2021-01-25 21:34] #69400 closed

[2021-01-25 21:44] Kian1980 commented on #45376
@lapellaniz How was this implemented o the Front Door?

[2021-01-25 21:45] bt101 commented on #69083
Here are some more.

GUID | String ID
-- | --
2c21e77a-e0d6-4570-b38a-7ff2dc17d2ca | INTUNE_A_D_GOV
2d3091c7-0712-488b-b3d8-6b97bde6a1f5 | MCOMEETADV_GOV
4ae99959-6b0f-43b0-b1ce-68146001bdba | VISIOCLIENT_GOV
535a3a29-c5f0-42fe-8215-d3b9e1f38c4a | ENTERPRISEPACK_GOV
6a0f6da5-0b87-4190-a6ae-9bb5a2b9546a | Win10_VDA_E3
e823ca47-49c4-46b3-b38d-ca11d5abe3d2 | M365_G3_GOV

[2021-01-25 21:50] verschaevesiebe opened #69464 "Simple Typo in the amount of function apps."
There is a typo in the text about the function app scaling, "two" should be "ten" instead. [Page section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices#configure-host-behaviors-to-better-handle-concurrency)

Quote text -> "_When that function app is scaled to 10 instances, the ~~two~~ **ten** functions effectively allow 250 concurrent requests (10 instances * 25 c

[2021-01-25 21:54] MarileeTurscak-MSFT commented on #69401
Thanks, I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/144311

@kenwith please confirm

[2021-01-25 21:54] #69401 closed

[2021-01-25 21:57] martincoetzer commented on #69424
Admin workstations is a great idea, but falls outside the scope of Identity features, which is the purpose of the security checklist.

[2021-01-25 22:05] MonikaReddy-MSFT commented on #68505
@mchudinov - - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2021-01-25 22:06] MonikaReddy-MSFT commented on #68509
@eugen-nw -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2021-01-25 22:10] taschemann commented on #63922
@PunditSharp I was not successful in my latest attempts but it's been a while since I last tried. I was waiting for someone from MSFT to reply to this thread.

[2021-01-25 22:10] julieMSFT commented on #66370
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/144110

[2021-01-25 22:12] mchudinov opened #69465 "How to view only secret value, not the whole object as json"
[Enter feedback here]

_To view the value contained in the secret as plain text:_

It would be useful for shell scripting to know how to retrieve **only** secret value, not the whole secret object.
Could you please add this command in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47173917-8b60-795f-62fd-

[2021-01-25 22:14] jeffpeiyt opened #69466 "Confusing on adopting bulk explorer or java V4 SDK"
I saw `The bulk executor library described is available is only available for the Azure Cosmos DB Java sync SDK v2 ` but the performance tips suggest migration to the latest java SDK v4.

Therefore I am confused for the best bulk operation performance, shall we use the SDK v2 with bulk explorer or update to v4 which does not support bulk operations?

---
#### Document Details

⚠ *Do not edit this

[2021-01-25 22:14] julieMSFT commented on #66370
Hi @Niharikadutta, the update to the documentation is in process. You will see the updates in the next day or so. Some of the sections of the document do not apply to C#. When you select C# as the language you will no longer see these sections of the document. Thank you for contributing to MicrosoftDocs.  I will go ahead with closing this issue. The @notification mechanism continues to work even a

[2021-01-25 22:14] julieMSFT commented on #66370
#please-close

[2021-01-25 22:14] #66370 closed

[2021-01-25 22:15] JamesTran-MSFT commented on #69465
@mchudinov
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 22:20] ahamad-MS commented on #43975
Hi @UniSnake - Thanks for reporting this issue. Allowing EG Schema -> CE 1.0 Schema transformations was blocked due to code bug. This was just recently fixed and we are in the process of rolling this out (No ETA yet on when it will be available everywhere). We will provide an update on that once deployment completed.

[2021-01-25 22:26] vlkuznet opened #69467 "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING docs update?"
This section states:

The setting appears to be supported for Linux Functions Premium plans. Likewise, for the closely related "WEBSITE_CONTENTSHARE".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App settin

[2021-01-25 22:31] Nickomang commented on #68509
@eugen-nw, It seems possible it could be related to your AD permissions. What does the output of 'az ad sp list --show-mine' look like?

[2021-01-25 22:31] aessiane opened #69468 "Outdated documentation: Sub-orchestration is possible in Python"
Hi guys! This document states that sub-orchestration is not available for Python, and therefore does not add any example on how to do one using Python. However, this pull request seems to implement the feature: https://github.com/Azure/azure-functions-durable-python/pull/157

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-01-25 22:53] vick-git commented on #69357
Hi @SumanthMarigowda-MSFT , thank you. I thought git would be the best for feature request.
Which one would be better among these 4 for feature requests?
![image](https://user-images.githubusercontent.com/57968021/105776249-1707a780-5f1d-11eb-9c5f-c37830babeb7.png)

[2021-01-25 22:54] rgmatthes opened #69469 "Logic Apps omitting Content-Type header in HTTP Request action blocks"
I'm using Logic Apps to perform REST operations and GET data from a third-party service. My Logic App fails with an error returned that correlates with no Content-Type being sent in my header. I confirmed with the third-party service's support team that no Content-Type header is being received on their end. But I am definitely sending it.

I think Logic Apps is auto-removing the Content-Type heade

[2021-01-25 23:09] JamesTran-MSFT commented on #69457
@GitRomney
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-25 23:12] Nickomang commented on #68505
Hi @mchudinov, thanks for the feedback. To find the list of already authorized IP ranges, you can run

`az aks show -n <cluster-name> -g <resource-group-name> --query 'apiServerAccessProfile.authorizedIpRanges'`

or you can see in Azure Portal under Settings > Networking on your cluster resource. I'll add a section detailing these instructions to the document.

[2021-01-25 23:18] asergaz commented on #48467
@koncewiczbartosz I have discussed further on a related thread but just noticed @Sdelausnay came back with more questions: https://github.com/MicrosoftDocs/azure-docs/issues/50985

Can I kindly request a new thread is opened in [Microsoft Q&A with the tag azure-iot-edge](https://docs.microsoft.com/en-us/answers/topics/azure-iot-edge.html) so we can collaborate with the community as well? Thank you

[2021-01-25 23:19] asergaz commented on #50985
@Sdelausnay can I kindly request a new thread is opened in [Microsoft Q&A with the tag azure-iot-edge](https://docs.microsoft.com/en-us/answers/topics/azure-iot-edge.html) so we can collaborate with the community as well?

Thank you so much.

[2021-01-25 23:26] dalewolan opened #69470 "Does this mean I do not pay for the drive anymore"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a04e5c5
* Content: [Detach a data disk from a Windows VM - Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/deta

[2021-01-25 23:37] NavtejSaini-MSFT commented on #69459
@MashaMSFT Please confirm we can close this test case.

[2021-01-25 23:42] NavtejSaini-MSFT commented on #69345
@bdschaap We checked with the internal team and this is what they conveyed "if the AAD and AD are integrated and syncing, then they connect from on-prem by selecting AAD authentication. They tried by both methods and were able to connect. Is this what you looking for?
![MicrosoftTeams-image (23)](https://user-images.githubusercontent.com/52257742/105779722-f51e1d00-5f3c-11eb-8abc-97b6a2ee7673.png)

[2021-01-25 23:44] NavtejSaini-MSFT commented on #69348
@arunkumarthiags Can you please check and verify the use of this section.

[2021-01-25 23:44] Grace-MacJones-MSFT commented on #69141
Thanks for the clarification, Ian. Upon further review, we feel your feedback would be best received by the doc author to update the doc based on your feedback.

[2021-01-25 23:45] BharathNimmala-MSFT commented on #69456
@samrueby Thank you for reaching out, we will review your query and get back to you at the earliest.

[2021-01-25 23:49] NavtejSaini-MSFT commented on #69350
@rahul-mohan Thank you for the feedback.
@ThomasWeiss Please convey if we can add this information to this document.

[2021-01-25 23:53] NavtejSaini-MSFT commented on #69351
@rahul-mohan Please add this feedback to our [User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) so that our Product team can look into the same and take action on the same.

[2021-01-25 23:55] christopheranderson commented on #69350
@NavtejSaini-MSFT - this feedback makes sense. #2 is because we don't have the new version of the shell deployed in all regions yet, but we can document how to use at least the local shell. We probably wouldn't directly document Robo3T/Compass, but can mention that a similar method as the shell-based approach would work.

Another option that some folks like is to use the VS Code extension that all

[2021-01-26 00:10] asergaz commented on #68336
@payalgaikwad42 sorry I missed your pings before. Please, since the issue falls out of the context of this document, can you leverage [Microsoft Q&A with the tag `azure-iot-edge`](https://docs.microsoft.com/en-us/answers/topics/azure-iot-edge.html) so other members from the community can help troubleshooting your issue as well?

Regards

[2021-01-26 00:14] asergaz commented on #11487
fyi @dominicbetts

[2021-01-26 00:50] roygara commented on #68544
Hello @AkeSamuelson , thanks for bringing this to our attention, we appreciate it! I've gone ahead and updated the screenshots for the storage account networking. Those updates should be live sometime tomorrow.

I'll go ahead and close this out, accordingly.

Again, thanks for pointing this out, and helping us improve our documentation. :)

#please-close

[2021-01-26 00:51] #68544 closed

[2021-01-26 01:03] jeevansd commented on #65873
@grumm90 In that case the ACS URL mention in the request is only one or the server URL which is sending the request? Can you please confirm?

[2021-01-26 01:23] KranthiPakala-MSFT commented on #69461
@YidiQin
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-26 01:32] alkohli commented on #58863
@mark-beaupre Discussed with the engg team. This can be added in the troubleshooting guide where it is more appropriate than in the requirements. Added the info in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/144341 This PR is merged.

SO closing this issue. #please-close

[2021-01-26 01:32] #58863 closed

[2021-01-26 01:39] MashaMSFT commented on #69459
sorry lol i didn't realize i left it open <3

[2021-01-26 01:39] #69459 closed

[2021-01-26 01:53] zackliu commented on #69107
@oadrian2 Hi, could you describe what you want more clearly. As upstream is the direction from client to server, one client connection can be in multiple groups, the group placement can't be used like {hub}.

[2021-01-26 01:56] KranthiPakala-MSFT commented on #69463
@tifischer
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-26 02:01] julieMSFT commented on #68774
#assign:julieMSFT

[2021-01-26 02:04] julieMSFT commented on #68774
Hi @holgerjay, you are correct. The steps are not needed. I have removed them from the document. You will see the update in the next day or so. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-01-26 02:04] julieMSFT commented on #68774
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/143669

[2021-01-26 02:05] julieMSFT commented on #68774
#please-close

[2021-01-26 02:05] #68774 closed

[2021-01-26 02:35] spelluru commented on #58579
#in-progress

[2021-01-26 02:37] benjamincburns opened #69473 "Misleading terminology: "Rollback on error to successful deployment""
The use of the term "rollback" in the document titled `Rollback on error to successful deployment`, is a bit misleading.

Rolling back implies that any work done in the context of the failed deployment is undone. Any modified resources would have their modifications removed. Any created resources would be destroyed. This however doesn't appear to be the case.

In the case where `onErrorDeployment`

[2021-01-26 03:07] firstpp opened #69474 "df.write.synapsesql"
I am trying to create an external table from Azure Databricks. The documentation stated that an import isn't required for notebooks but when I try to run the code, I get the following error:

command-218212741592204:1: error: value synapsesql is not a member of org.apache.spark.sql.DataFrameWriter[org.apache.spark.sql.Row]

command-218212741592204:1: error: not found: value Constants

Even when I

[2021-01-26 03:10] bdschaap commented on #69345
I appreciate the update but it's not quite what I was looking for.  My question is for MSAL.NET (Microsoft.Identity.Client) which is a dependency of Microsoft.Data.SqlClient in .NET Core.  I believe the screenshot you took is of SSMS which uses .NET Framework.  I would like to get clarification on whether ADFS is supported in MSAL.NET.  I have pasted the content below to provide better context.  T

[2021-01-26 03:24] KrishnaG-MSFT commented on #69444
@samfromlv Thank you for catching this. We will have this investigated and update the thread.

[2021-01-26 03:24] spelluru commented on #41398
Added the clarification. #please-close

[2021-01-26 03:24] #41398 closed

[2021-01-26 03:24] spelluru commented on #58579
Updated. Should be live tomorrow morning.

#please-close

[2021-01-26 03:24] #58579 closed

[2021-01-26 03:28] spelluru commented on #29132
Yes. That's right. first 64 KB is one events and the rest is in the second event.

#please-close

[2021-01-26 03:28] #29132 closed

[2021-01-26 03:34] KrishnaG-MSFT commented on #69448
@hankbeasley Thank you for reaching out. We will have this investigated and update the thread.

[2021-01-26 03:57] spelluru commented on #58562
Updated the article.

#please-close

[2021-01-26 03:57] #58562 closed

[2021-01-26 04:03] BharathNimmala-MSFT commented on #69473
Thank you @benjamincburns  for your candid feedback, I have assigned this issue to our document author @mumian to further look into this.

[2021-01-26 04:05] spwangxp opened #69476 "kafka ssl authentication error"
## Info
Hi
The article is very much helpful. after the broker setup  section, the broker started, but when finished client setup (with/without authentication) sections, and try it with the command showed in Verification section, but it has  ERROR log . is there any fault i've made？

Regards

### broker properties
[code]

### client config
[code]

### broker start log
[code]
### client producer log

[2021-01-26 04:07] RonnieQuan commented on #69453
@JamesTran-MSFT  Thanks for the response, this is a critical question, it will be great if you could get back to me ASAP.

[2021-01-26 04:07] RonnieQuan commented on #69454
@JamesTran-MSFT  Thanks for the response, this is a critical question, it will be great if you could get back to me ASAP.

[2021-01-26 04:16] spwangxp commented on #69476
kafka version 2.3.1, scala 2.11

[2021-01-26 05:09] Grace-MacJones-MSFT commented on #69196
Hi @Raffaele3D, thanks for your patience. This issue requires deeper investigation. In order to do that, we need to connect you with a  support engineer so can you please email me at azcommunity@microsoft.com with your subscription ID and the URL of this thread?

Thank you for your understanding and we look forward to hearing from you. We will now proceed to close this thread.

[2021-01-26 05:09] #69196 closed

[2021-01-26 05:22] SatishBoddu-MSFT commented on #69170
Working with @dalesayers

[2021-01-26 05:27] yinoa opened #69477 "MTU recommendation about Azure VMs"
[Enter feedback here]
In this article, it is mentioned Azure platform MTU is 1400 and out of order fragment will be droped due to Linux OS.

Should we recommend to set Azure VM MTU to 1400?

Any difference about TCP and UDP fragmentation processing in azure platform?

Azure and VM MTU
The default MTU for Azure VMs is 1,500 bytes. The Azure Virtual Network stack will attempt to fragment a packet at

[2021-01-26 05:30] ms-ishiyam opened #69478 "AppGW dose not support connection draining with VMSS."
When we use VMSS as the backend pool of AppGW, connection draining is not supported. We sometimes encounter 502 error when we reduce the number of VMSS instances. I hope you add the limitation into this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f75e973-f682-8e41-0a5b-87d9b8563662
* Version Independent I

[2021-01-26 05:37] Anand-Moghe opened #69479 "The event grid does not trigger as per the instruction"
Just wanted to report that after following all the prerequisite Azure CLI script line by line, the Event Grid is not triggering.
Is this document up-to-date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Tut

[2021-01-26 05:44] ChaitanyaNaykodi-MSFT commented on #69464
Hello @verschaevesiebe,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 05:45] ChaitanyaNaykodi-MSFT commented on #69467
Hello @vlkuznet,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 05:47] ChaitanyaNaykodi-MSFT commented on #69468
Hello @aessiane,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-26 05:49] ChaitanyaNaykodi-MSFT commented on #69469
He4llo @rgmatthes,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 05:51] ChaitanyaNaykodi-MSFT commented on #69479
Hello @Anand-Moghe,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 05:53] dougsherwin opened #69480 "Unable Receive 2 Step Authentication Code on Cellular Device"
Greetings Team,

I am attending an online school and the course used Office 365 access the courses, documents, etc.  Just recently, the microsoft log-in for my school email requires that we log-in using 2-step authentication.

Unfortunately I am unable to receive the code on my cellular device.  I currently reside on Guam should this information help with assessing and troubleshooting the problem.

[2021-01-26 05:58] jyama4ta opened #69481 "add Limitations about resources view"
Currently, resources view does not support private cluster.  (ref. https://github.com/Azure/AKS/issues/1801)
Could you please add the limitation to this doc? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Co

[2021-01-26 05:58] Anand-Moghe commented on #69479
@ChaitanyaNaykodi-MSFT
I changed the Step 4.b to **/blobServices/default/containers/images**  and it worked. Is the string on the step **4.b**  accurate?
Why it is setup as **/blobServices/default/containers/images/blobs/.** instead of **/blobServices/default/containers/images** ??

[2021-01-26 06:14] YutongTie-MSFT commented on #69127
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 06:14] #69127 closed

[2021-01-26 06:20] anoopmash commented on #27802
@HJToland3 Thanks for sharing the details.

The deployment issue has been resolved after adding an inbound rule for DMS

**Rule Ref**
Source: Subnet for DB server and DMS
Source Port range: *

Destination: Subnet for DB server and DMS [After deployment, value has been replaced with DMS local IP]
Destination port: 443, 53, 9354, 445, 12000
Protocol: Any

[2021-01-26 06:23] KrishnakumarRukmangathan commented on #29886
Please follow https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request for opening support ticket with us.

[2021-01-26 06:29] gjelhus commented on #69469
Hi

I am seeing the same issue as @rgmatthes.
Since the API i am calling requires a content-type header this bug makes the http action useless for me.

[2021-01-26 06:48] rimayber commented on #69477
I understand your point – but “probably not”. For a couple reasons.

  1.  We can’t control the internet path, so, unless you stay on microsoft network, then you’re likely to get fragmented somewhere along the way
  2.  Most packets are much smaller than 1400 or 1500 – so there’s no risk of fragmentation

It’s probably best to take a position that “fragmentation isn’t bad”. And, I think there’s be

[2021-01-26 07:06] diu618 commented on #69457
Same issue in our company. Cannot use Microsoft Lists right now

[2021-01-26 07:11] jovanpop-msft commented on #68764
@rohitnayakmsft @srdan-bozovic-msft do you know who owns private link? I'm not sure what to add in db vs mi. Feature owner should update this table.

[2021-01-26 07:25] jovanpop-msft commented on #57506
@srdan-bozovic-msft could you take a look at this?

[2021-01-26 07:39] seffparker commented on #33157
I had to export the CRT+KEY in PEM format from KeyVault and convert into PFX format using OpenSSL. Then imported directly in to AG.

[2021-01-26 07:53] ChrisOBrien93 commented on #69308
Thanks @RohitMungi-MSFT, I appreciate it!

[2021-01-26 08:00] qaehtesh opened #69482 "Document Update Request - Need to update that object type Group also are supported object type for ms-DS-ConsistencyGuid"
Following documentation says [**Use ms-DS-ConsistencyGuid as the sourceAnchor attribute for User objects. ObjectGUID is used for other object types**.] which gives an impression that only user object type support ms-DS-ConsistencyGuid
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-design-concepts

However from following documentation, support of ms-DS-ConsistencyGuid f

[2021-01-26 08:03] Sdelausnay commented on #48467
We have setup a automatic renewal script on the linux systems which uses SSCEP to contact a NDES end-point of a Windows Server CA instance. During production, an initial script is executed to request the first certificate and afterwards, the certificates are just to request renewals.

[2021-01-26 08:24] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr  information about web proxy configuration: https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-configure-network-compute-web-proxy#configure-web-proxy, which may be helpful. Please let us know if you need further help in this matter.

[2021-01-26 08:31] ChaitanyaNaykodi-MSFT commented on #69189
Hello @bengimblett, Yes you are correct.  Currently the document has a note in the [Custom roles section ](https://docs.microsoft.com/en-us/azure/api-management/api-management-role-based-access-control#custom-roles) as quoted below.

![image](https://user-images.githubusercontent.com/67453298/105812302-c3b84800-5f62-11eb-9a9c-eb2e8d4a4a5b.png)

So any role assignment done under a Custom Role witho

[2021-01-26 08:32] KrishnaG-MSFT commented on #69466
@jeffpeiyt Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-26 08:38] KrishnaG-MSFT commented on #69470
@dalewolan Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-26 08:42] KrishnaG-MSFT commented on #69480
@dougsherwin This forum is for issues with the Docs.  Based on the message you are getting, I'd recommend opening a [Support Ticket](https://azure.microsoft.com/support/create-ticket/) or asking on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-policy.html) with additional details.  As this doesn't appear to be a Docs issue, I'm going to close this issue.  Thanks!

[2021-01-26 08:42] #69480 closed

[2021-01-26 08:57] SatishBoddu-MSFT commented on #69474
Hello @firstpp
Thanks for the feedback! We are currently investigating and will update you shortly
Cc: @KranthiPakala-MSFT

[2021-01-26 09:02] haymansfield commented on #68972
@wolfma61 Thanks very much for the response.

Does this mean I can supply a destination container url (without sas) and, provided I have assigned suitable access to the managed identity of my instance of cognitive services, the results will be written successfully?

[2021-01-26 09:03] SatishBoddu-MSFT commented on #69476
Hello @spwangxp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 09:04] wolfma61 commented on #68972
again, the input has to be supplied by SAS, output uses byos/managed identity

[2021-01-26 09:11] haymansfield commented on #68972
@wolfma61 Thanks.

On a similar note, I notice if I use my own destination container, then the result file locations are returned without SAS. Is it intended that I use my own auth in this scenario?

[2021-01-26 09:12] SatishBoddu-MSFT commented on #69478
Hello @hisasima
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-26 09:13] SatishBoddu-MSFT commented on #69481
Hello @jyama4ta
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-26 09:24] mikeelliottuk opened #69485 "Add support for Ubuntu Server 20.04LTS"
[Enter feedback here]
The latest release of the Log Analytics Agent is [documented ]([https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agents-overview#supported-operating-systems]) to support Ubuntu Server 20.04 LTS.  This version is missing from this page under 64 bit operating systems.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-01-26 09:44] lmikos commented on #67967
The same issue.

[2021-01-26 09:45] salmi4k commented on #67967
Also having issues with this. When can we expect a fix to be rolled out?

[2021-01-26 10:37] avagraw commented on #62964
@MonikaReddy-MSFT I don't have the maintainer permissions, can you please close this issue. Many thanks.

[2021-01-26 10:38] WenceyWang opened #69490 "Powershell command example ignored VM HyperV Generation"
[code]

The source VM might be v2, which should be this case.

[code]

Is there any way to get HyperV Generation from $vm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d299c34-ffe1-b930-bace-f43c8d8217ca
* Version Independent ID: b9eab64c-51a9-ad18-705c-15e553e0b2fe
* Content: [Create a managed image in Azure - Azur

[2021-01-26 10:45] mikkelhegn opened #69491 "Contradictions about setting max surge"
This block is confusing to me:

[code]

It seems contradictory to say the setting is permanent, but that it may be changed at any time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernet

[2021-01-26 10:51] arifsyeduknpl commented on #69191
Thanks. I will hopefully try again later this week and update accordingly.

[2021-01-26 10:54] yinoa commented on #69477
thanks @rimayber.

I agree with "fragmentation is not bad", but still confusing with why Azure Virtual Network stack will attempt to fragment a packet at 1,400 bytes and then it might be dropped due to "out of order".

Given a more straightforward example:  If there is an TCP/IP packet from internet to Azure, it is 1460 bytes (payload length) + 20 bytes (TCP header) + 20 Bytes (IP header) = 1500 B

[2021-01-26 10:55] jrobijn commented on #69469
Adding a +1 here. Has been an issue for a while now. `Content-Type` (Not sure about `Content-Disposition`, `Content-Encoding`) is being omitted from the request headers when you specify it. Makes the HTTP action in Logic Apps useless for querying strict APIs that require a content-type to be set.

[2021-01-26 11:22] JimmyArchitect commented on #68071
I agree with @omerzubair, it is confusing when working with private endpoints.
Why when I add a private endpoint, do I also need to create an endpoint in the Selected Networks to avoid the Service Bus being available externally?
Could you please provide an example - or update the document to explain how you would set it up via private endpoint only - and how it would need to be setup under the "fi

[2021-01-26 11:25] giovannifl opened #69493 "ETA when Update Management will support Ubuntu 20.04 LTS"
Hello,
Any ETA if and when Azure Update Management will also support Ubuntu 20.04 LTS ?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda4ec71-9492-2ac6-1030-dcd004826aa0
* Version Independent ID: 7720d2be-0dd6-36c7-6eba-e1acee46d598
* Content: [Azure Automation Update Management overview](https://docs.microsof

[2021-01-26 11:28] robinhultman commented on #36458
I have tried so many combinations of these properties now and I recently managed to wipe everything in my function. What would be the negative consequence of always setting both WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE in ARM and using different values in WEBSITE_CONTENTSHARE for different slots, ie "share1", "share2" etc?

[2021-01-26 11:33] ptorner opened #69494 "Select Storage should be replaced by Configure"
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-vulnerability-assessment#1-run-a-scan

[Current]
3. Then click Select Storage on the Vulnerability Assessment...

[new]
3. Then click Configure on the Vulnerability Assessment...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6

[2021-01-26 11:48] shashishailaj commented on #69485
@mikeelliottuk Thank you for your feedback . We will have this reviewed with the content team and update the thread.

[2021-01-26 11:49] shashishailaj commented on #69485
@yelevin Could you please confirm if the ubuntu 20.04 LTS is supported and should be listed on this page ?

[2021-01-26 12:15] rimayber commented on #69477
Well, the math about 1400 vs 1500 has to consider virtual network tunneling protocols adding encapsulation from the host. Adds more to the packet size.

So, that is likely the reason for 1400.

But, I think your assumptions are correct - although if you're trying to get exact technical detail, then we should ask expand audience.

I believe this problem is specific to UDP.

RNM TSG (eng.ms)<https:/

[2021-01-26 12:38] shashishailaj commented on #69176
@Itsmexander Since you are using Office 365 , the error above is valid . You are trying to logon to personal Microsoft account system using a university ID which is not possible by design. As you had mentioned you are unable to access Teams. Please try to access teams using https://teams.microsoft.com in any modern browser . Also you should be able to access your university account by logging on t

[2021-01-26 12:38] #69176 closed

[2021-01-26 12:45] shashishailaj commented on #69485
@mikeelliottuk We verified this internally and Ubuntu Server 20.04 LTS is currently not supported . We will update the page once this distro is completely tested and supported however we do not have an ETA to provide as of now. We will be closing this issue now.

Thank you.

[2021-01-26 12:45] #69485 closed

[2021-01-26 12:46] #69168 closed

[2021-01-26 12:47] shashishailaj commented on #69168
@tomatsue This document has been updated as per suggestions and the changes should be live in the next 48 ours maximum as per the next release cycle.

Thank you.

[2021-01-26 12:53] icyfire0573 commented on #69430
Ok; looks like this is on me. I verified I can get voices from the cognitive voices list. I still can't post data but it looks like Invoke-RestMethod needs some massaging. If I get it working is there a place to submit that; you don't have powershell examples for this method yet.

[2021-01-26 12:53] #69430 closed

[2021-01-26 12:58] mikeelliottuk commented on #69485
Hi there,

This page
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agents-overview#supported-operating-systems
suggests that it is now supported.  The release notes for the latest agent
also included 20.04LTS as a stated new capability.

Mike

On Tue, 26 Jan 2021 at 12:46, ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2021-01-26 13:03] Rvvhub commented on #69424
Thanks for picking this up.
To me, the confusing/weird thing is the "Best Practices" and the "Security Check" are next to each other in docs, and contain a different set of recommendations.
![image](https://user-images.githubusercontent.com/61578156/105848411-3830cc80-5fdf-11eb-8c14-42fc25fca55e.png)

[2021-01-26 13:07] shashishailaj commented on #69485
@mikeelliottuk Yes , I agree , however usually Sentinel support lags a little bit behind Log Analytics. This should be available in Sentinel soon as its already available in Log analytics . Every product has their individual testing of the dependent capabilities and once that completes , we should have a go ahead from sentinel product engineering to update the page and it will be updated. Hope tha

[2021-01-26 13:12] mikeelliottuk commented on #69485
Great, thanks for letting me know.

Mike

On Tue, 26 Jan 2021 at 13:08, ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2021-01-26 13:14] yinoa commented on #69477
Yes,  the out of order fragmentation could occur in azure cloud due to multi-path.  About TCP out of  fragmented packets, it seems we have reassable capability azure destination and rare issue is reported for that.

But for UDP out of oder fragmentated packets, we need to enable this UDP re-ordering flag for specific subscrition per region.

Just want to confirm if we have such difference for TCP

[2021-01-26 13:21] Si1ker opened #69497 "[Site-to-Site connection doc]: Link to subsection is not correct"
On the [Tutorial: Create a Site-to-Site connection in the Azure portal](https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal) webpage, there is a section called "Additional configuration considerations", if you click at the left side in order to get the link to that specific section you will get the "Connect to a virtual machine" link section instead which is totally poi

[2021-01-26 13:29] KrishnaG-MSFT commented on #69493
@giovannifl Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-26 13:41] tonipalma1 opened #69499 "Different Information about NFS availability in spanish and english versions of the document"
[Enter feedback here]
There is a typo on the Spanish translation of this page.
The english (en-us) version says:

 Azure Files **NFS file shares** are **accessible from Linux or macOS clients.**

The spanish version (es-es):

 A los recursos **compartidos de archivos NFS** de Azure Files se puede acceder desde clientes Windows, Linux y macOS

As you can see, the spanish version states that you can

[2021-01-26 13:52] Radamonas opened #69500 "context.Subscription.CreatedTime property is not accessible"
When trying to access context.Subscription.CreatedTime in product policy I am getting error message:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions](https://docs

[2021-01-26 14:09] shortpatti commented on #68826
#assign @jreypo

[2021-01-26 14:09] shortpatti commented on #68826
#assign @Ajayan1008

[2021-01-26 14:24] petergerritsen opened #69502 "Regex rules unclear"
I'm trying to create custom rules that use a regex on the Request Uri, but I'm unable to make it work. This page could use some examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-8017-c9a38a45b60e
* Version Independent ID: f5f6bdec-fb46-6b69-48c1-599e34f7acf0
* Content: [Azure Web Application F

[2021-01-26 14:52] MonikaReddy-MSFT commented on #69490
@WenceyWang -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-26 14:52] ChrisSommers opened #69503 "Heading "Understand the impact of transferring a subscription" - information not provided"
Certain resource types are mentioned but no further details are provided re the incompatibility with an RG or subscription move. Examples are "Azure File Sync" and "App registrations".

Do these need to be completely removed prior to the move and recreated afterwards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afa

[2021-01-26 14:59] DaehyunLee opened #69505 "Question about B2C"
[Enter feedback here]

The table shows Azure AD, however, is there any information about how it is for Azure AD B2C

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92eb0299-4a80-5c36-697e-a0dec54a8b46
* Version Independent ID: 99781f1d-f75b-f0bf-b6fd-cf29d7bed6d2
* Content: [Authorizing data operations - Azure Storage](

[2021-01-26 15:09] alalani123 opened #69506 "DMA does not support migration to MI"
[Hi,
This document need to be updated. Data Migration Assistant Version 5.2.4764.4 does not support Azure Managed Instance as target. It does have option to select it. When you do, you get red message at the bottom suggesting to use ADMS instead.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17cb25df-fce8-d206-772b-

[2021-01-26 15:11] haymansfield opened #69507 "Detail on Resource Instances Feature"
Resource Instances Feature when updating Storage account networking:

Resource instances
Specify resource instances that will have access to your storage account based on their system-assigned managed identity. Rules created by other tenants can only be modified by the creator.

There is no documentation on the above in this page.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-01-26 15:11] MargaritaSt commented on #57508
Is there any update on it? I need global reader for the SPO...

[2021-01-26 15:17] MGoedtel commented on #69493
@giovannifl - Support for Ubuntu 20.04 LTS is planned for this year, but I can't share an ETA for when it will be released at this time since things can slip.

[2021-01-26 15:20] tfitzmac commented on #69237
@MartinDBakerCDW - thanks for this feedback. I have updated the csv file.

The number of listed resource types decreased because I eliminated proxy types (or "child" types). I removed these types because the status was misleading. They were listed as not supporting move even though most are moved with the parent resource type.

[2021-01-26 15:25] rimayber commented on #69477
Can you propose changes or make the updates?

From: Alex_Yin <notifications@github.com>
Sent: Tuesday, January 26, 2021 8:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: JR Mayberry <rimayber@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] MTU recommendation about Azure VMs (#69477)

Yes, the out of order fragmentation could occur

[2021-01-26 15:25] tfitzmac commented on #69237
#please-close

[2021-01-26 15:25] #69237 closed

[2021-01-26 15:35] tigerdeccan opened #69508 "Please add example ARM template to enable AMPLS"
Please Add example ARM template to enable for LA and AI .

thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d02911e-2e30-9183-b169-8c8ff51e1e18
* Version Independent ID: 6e89ef30-c8b3-bb8b-2aeb-b48e9ba0ae40
* Content: [Use Azure Private Link to securely connect networks to Azure Monitor - Az

[2021-01-26 15:39] khatri034 opened #69509 "Azure SSIS custom integration runtime setup for third party dll addition"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-01-26 15:40] NavtejSaini-MSFT commented on #56534
Thank you everyone. I will be going ahead and closing this issue for now as the original question has been answered.
Request to original poster if they can raise a issue on the private link documentation for more information.

[2021-01-26 15:40] #56534 closed

[2021-01-26 15:43] khatri034 commented on #29886
@KrishnakumarRukmangathan  I have added a new issue on github related to this. let see if this can be sorted out.

[2021-01-26 15:48] NavtejSaini-MSFT commented on #68764
@rohitnayakmsft @srdan-bozovic-msft Please check this.

[2021-01-26 15:50] martincoetzer commented on #69424
Well, the best practices article recommends the security check stuff. So, see it as one including the other.

[2021-01-26 15:50] NavtejSaini-MSFT commented on #69345
@bdschaap Thank you for the clarification . We are assigning this to our doc author for checking it.
@GithubMirek - Please check the question.

[2021-01-26 15:53] yoelhor commented on #69349
The localization element must be after the content definition.

[2021-01-26 15:55] khatri034 commented on #69509
@AzureSupport

[2021-01-26 15:58] yoelhor commented on #69277
SAML logout endpoint URL can be found in the `SingleLogoutService` element of the [Azure AD B2C SAML identity provider metadata](https://docs.microsoft.com/azure/active-directory-b2c/connect-with-saml-service-providers#32-upload-and-test-your-policy-metadata).

[2021-01-26 16:07] spelluru commented on #25408
The article was updated sometime back.

#please-close

[2021-01-26 16:07] #25408 closed

[2021-01-26 16:10] SatishBoddu-MSFT commented on #69170
As per offline conversation with @dalesayers closing this issue, as it is now resolved.

[2021-01-26 16:10] #69170 closed

[2021-01-26 16:17] mcpfe opened #69510 "dotnet user-secrets set returns "could not find the global property 'UserSecretsId'..."
[Enter feedback here]
Following the documentation I got to the dotnet user-secrets set command and it returned an error message:
"Could not find the global property 'UserSecretsId' in MSBuild project 'C:\nongithubrepos\BlazorSignalRApp\chattest\chattest.csproj'. Ensure this property is set in the project or use the '--id' command line option."

The step to initialize user-secrets after restoring t

[2021-01-26 16:18] mmulhearn opened #69511 "ConfigureAppConfiguration does not exist on FunctionsStartup"
The documentation seems to be out of date as `ConfigureAppConfiguration` does not exist on `FunctionsStartup`.

I am using Microsoft.NET.Sdk.Functions v3.0.11.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [U

[2021-01-26 16:25] rohitnayakmsft commented on #68764
My proposal is to add a new line item to the table with capability named like "Private connectivity" @srdan-bozovic-msft is this ok with you?

[2021-01-26 16:26] pjbalan commented on #60494
Hi,
I too getting similar error in staging script. Is there a fix posted.

[2021-01-26 16:43] roygara commented on #68028
We've gone ahead and updated the AKS article. So I'll go ahead and close this out.

@LeroyK Thanks for reaching out and making us aware of this so we can improve the documentation, we appreciate it! :)

#please-close

[2021-01-26 16:43] #68028 closed

[2021-01-26 16:45] SatishBoddu-MSFT commented on #69322
Hello @rjtshrm Could you please provide the MS Document/Tutorial link which was used for this scenario. We need to capture Metadata of the Doc page before we escalate this issue. Thanks for your cooperation!

[2021-01-26 16:46] KrishnaG-MSFT commented on #69509
@khatri034 Thanks for reaching out!

If the issue is related to particular Azure document then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link and more context

[2021-01-26 16:49] KrishnaG-MSFT commented on #69508
@tigerdeccan Thanks for the feedback.
Assigning @noakup for visibility, review and document enhancement consideration.

[2021-01-26 16:53] rjtshrm commented on #69322
I used [asa setup](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project?tabs=UPMPackage)
for setting up the azure spatial anchors in the project and [this link](https://docs.microsoft.com/de-de/azure/spatial-anchors/how-tos/create-locate-anchors-unity) for creating azure spatial session.

[2021-01-26 16:56] NavtejSaini-MSFT commented on #69494
@ptorner We are checking this and we will get back to you.

[2021-01-26 16:57] SatishBoddu-MSFT commented on #69322
Hello @rjtshrm
I have assigned the issue to the content author for further review.
Cc: @msftradford .

[2021-01-26 16:59] rjtshrm commented on #54436
Any update on this. I am facing the same issue in UNity 2019.4.15.

[2021-01-26 17:03] Andrew-Webb opened #69512 "Azure AD user preferredLanguage is not an ISO 639-1 code"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes#azure-ad-user-resource-type

ISO 639-1 is a **two-letter code**, e.g. "en".

"en-US" is a correct example for an Azure AD's user's `preferredLanguage` attribute, but it isn't an ISO 639-1 code.

What it's called, exactly, is hard to say in a pithy way.  This resource may help in describing it:-

https://docs.micros

[2021-01-26 17:07] msLinuxNinja commented on #68211
@nigeldao007 The steps for RHEL8 were added sometime back:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd#rhel-8-using-hyper-v-manager

Can you verify that works for you?

[2021-01-26 17:11] ericrrichards opened #69514 "More complete ARM example"
I am unclear, looking at this documentation, whether the actual resources for the ARM template should be included in the Microsoft.Resources/deployments properties->resources array, or if this pid-GUID deployment object should be a sibling element in the root resources array

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-01-26 17:15] tfitzmac commented on #69456
@samrueby - yes, you can reference another variable. I will clarify that in the article.

[2021-01-26 17:17] akoz0r commented on #36458
In our setup we only modify the staging slot from the ARM template (leaving the production slot untouched) and then perform an automatic swap after code deployment. We sorted this issue using this setup:

[code]

This ensures that each new deployment gets a valid but unique WEBSITE_CONTENTSHARE string which doesnt interfer with the primary (production) slot.

[2021-01-26 17:20] jreypo commented on #69051
@ravisha22 I've looked into it and the ASN is not needed [this article](https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-expressroute-global-reach-private-cloud). Just need the auth key to establish the connectivity between both ER circuits. Same for [network checklist](https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-network-checklist).

Also please can you detail what you

[2021-01-26 17:25] RNalivaika commented on #69123
@MarileeTurscak-MSFT for all synchronized objects. ms-DS-ConsistencyGuid attributes were not populated.

[2021-01-26 17:27] SaiKishor-MSFT commented on #69497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 17:28] SaiKishor-MSFT commented on #69502
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 17:38] JamesTran-MSFT commented on #69512
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-26 17:38] RevathiS23 opened #69516 "Can Azure Disk Encryption is possible for unmanaged disks ?"
[Enter feedback here]

Hi , There is no information about unmanaged disks in Azure Disk Encryption content. Is it possible to encrypt an unmanaged disk using Azure Disk Encryption ? Could you shed some light on this please?

Thanks
Revathi
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f329597-345e-2f0c-2db3-26b1277ef4

[2021-01-26 17:40] JamesTran-MSFT commented on #69436
@KapilGeorge
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-01-26 17:49] #69429 closed

[2021-01-26 17:49] shortpatti commented on #64237
#assign @jreypo

[2021-01-26 17:52] spelluru commented on #69479
@Anand-Moghe - I haven't tested the full tutorial yet, but you are right. We don't need /blobs at the end since we are not filtering by blob name or prefix. Please see the following documentation if you haven't already seen.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview#filtering-events

@ChaitanyaNaykodi-MSFT - Please let me know if you can update the article s

[2021-01-26 17:56] shermes opened #69517 "Cannot create blueprint until it is registered"
When I attempt to create the initial blueprint for the first time through the CLI, I get the following error:

The resource provider must be registered before a subscription can be used with Azure Blueprints.  Please register it with the subscription and try again.

You need to add a step for first-time users
az provider register --namespace Microsoft.Blueprint

---
#### Document Details

⚠ *Do no

[2021-01-26 17:58] spelluru commented on #69392
@JayaChatterjee-MSFT - I ran through the tutorial and it all worked fine for me. Wondering if it's because of a limitation with the Azure **Free tier**. If you can test it with the a Free tier subscription that would be great. If it's a limitation with the free tier, we should add a note about it. Thanks.

"Cannot use the SKU 'Free' with Bring Your Own Storage for site 'lissomeazuretest'."

[2021-01-26 17:59] JamesTran-MSFT commented on #69457
@GitRomney and @diu618
Thank you both for adding to this thread! I've reached out to my team and to the author, to see if we can provide you with any information/point you in the right direction regarding this ask.

[2021-01-26 18:00] JamesTran-MSFT commented on #69452
@dstefanMSFT
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-01-26 18:00] #69452 closed

[2021-01-26 18:01] JamesTran-MSFT commented on #69465
@mchudinov
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-26 18:03] JamesTran-MSFT commented on #69516
@RevathiS23
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-26 18:04] ggailey777 commented on #30381
To close on this issue. It looks like both .NET 3.0 and .NET 2.1 SDKs were required for debugging PS apps in the [Visual Studio quickstart](https://docs.microsoft.com/azure/azure-functions/create-first-function-vs-code-powershell) (which has since been moved). If you are still having issues with debugging, please open a new issues from the article feedback. Thanks for your patience everyone! #plea

[2021-01-26 18:04] #30381 closed

[2021-01-26 18:09] ggailey777 commented on #49134
@juripyykko I believe that this is called out in the **Get started in the Azure portal** section. I'll try to make it more clear.

[2021-01-26 18:10] RonnieQuan opened #69518 "Clarify NSG Flow Log Retention Policy"
I would like to understand two parameters associated with retention policy

				"retentionPolicy": {
					"days": "0",
					"enabled": true
				},

Document says set days to 0 if I don't require the policy feature.
In may case, I send log to storage account, and I use storage account life cycle to manage log retention.
So what the configuration should be?
days: 0
enabled: true

or
days: any
enable

[2021-01-26 18:11] Aspire1Inspire2 opened #69519 "Outbound traffic on ACI too difficult to configure."
Networking for ACI is too difficult to configure. The outbound traffic should not be made so complex to use.
User may not want to use the complex vnet/firewall setup. User may just need a working outbound network configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2b459d-cbbb-100d-a10c-6652c55885b7
* Versio

[2021-01-26 18:13] ggailey777 commented on #49134
#please-close

[2021-01-26 18:13] #49134 closed

[2021-01-26 18:19] JamesTran-MSFT commented on #69512
@Andrew-Webb
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-26 18:20] ggailey777 commented on #55909
@LarrySmith-1437 I am not seeing these APIs being marked as obsolete at this time. Perhaps they changed their minds ;) Please be aware that the .NET sample has moved to [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#log-custom-telemetry-in-c-functions). #please-close

[2021-01-26 18:20] #55909 closed

[2021-01-26 18:23] kirpasingh commented on #69426
Thank you for the heads-up! I cannot verify the behavior implied in [https://docs.microsoft.com/en-US/troubleshoot/azure/virtual-machines/default-size-images-changed-30-gb](https://docs.microsoft.com/en-US/troubleshoot/azure/virtual-machines/default-size-images-changed-30-gb). Just as a simple test,  I created a Windows Server VM and the OS disk size was 64gb. I believe it varies based on the sele

[2021-01-26 18:26] DCtheGeek commented on #69517
#assign:DCtheGeek
#label:"doc-enhancement"

[2021-01-26 18:27] DCtheGeek commented on #69517
@shermes Thanks for the feedback.  I'll get this fixed!  When the fix merges, this issue will automatically be closed, even though it's not published yet.  Thanks again!

#label:"in-progress"

[2021-01-26 18:29] ggailey777 commented on #57125
@SeanFeldman this has been fixed, thanks for reporting it! #please-close

[2021-01-26 18:29] #57125 closed

[2021-01-26 18:38] #69517 closed

[2021-01-26 18:39] SaiKishor-MSFT commented on #69432
@Teja2608 Could you explain the issue that you are facing so we can assist you with it? Thank you!

[2021-01-26 18:44] Grace-MacJones-MSFT commented on #69510
Thanks for bringing this to our attention! We will review and update this doc accordingly.

[2021-01-26 18:44] wesmc7777 commented on #49360
certGen.sh is hardcoded to use an example pfx password.  See [line 195](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/certGen.sh#L195) and [line 247](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/certGen.sh#L247).  I don't see an issue for the documentation here.  If you have an issue with this example password, please file a issue against th

[2021-01-26 18:45] wesmc7777 commented on #49360
#please-close

[2021-01-26 18:45] normesta commented on #68872
Closing issue for now. Looks @DerekHerman-MSFT was able to help you. Thank you again for raising this with us.

#please-close

[2021-01-26 18:45] #49360 closed

[2021-01-26 18:46] normesta commented on #69060
@eliasvakkuri - thank you for raising this issue. A plan is in motion to review and comprehensively update these tables with the latest list of supported services. I'll post back when that is complete.

[2021-01-26 18:47] normesta commented on #67988
@CloudCrusader thank you for raising this issue. A plan is in motion to review and comprehensively update these tables with the latest list of supported services. I'll post back when that is complete.

[2021-01-26 18:49] PeterCLu commented on #69455
#assign:@luisquintanilla

[2021-01-26 18:52] PeterCLu commented on #68555
@msdpalam, thanks for your report! Good catch, the documentation was out of sync with the UI updates. You should continue to use the Visualize option to view your datasets. The new "View output" option lets you go directly to the datastore location that stores the dataset.

I've updated the documentation, you should see the changes live in a few hours. I'll proceed to #please-close this issue. If

[2021-01-26 18:52] #68555 closed

[2021-01-26 18:52] wtcan99 opened #69521 "AD accounts were not updated after completed worker changes in Workday"
Hi,

We configured Azure AD provisioning with Workday. We changed a worker's preferred language and the supervisory org name in Workday, after the incremental run completed, the worker's AD account doesn't reflect the changes. What could it the cause? We noticed the scheduled provisioning running every night and it doesn't look like an incremental run. How do we change the interval of the provisio

[2021-01-26 18:53] ggailey777 commented on #62406
@KevinBurton I think that this has now been addressed in the [updated article](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#enable-application-insights-integration). If you think there are still issues, please open a new issue there. #please-close

[2021-01-26 18:53] #62406 closed

[2021-01-26 18:55] ggailey777 commented on #63337
Thanks @Hazhzeng.
@youn123 this has been resolved. If you feel that there are still issues, please open another feedback item. #please-close

[2021-01-26 18:55] #63337 closed

[2021-01-26 18:58] ggailey777 commented on #65695
Thanks @stefanushinardi for fixing this! #please-close

[2021-01-26 18:58] #65695 closed

[2021-01-26 18:58] ejarvi commented on #63915
Thanks, update is now merged.

[2021-01-26 19:02] ChaitanyaNaykodi-MSFT commented on #69500
Hello @Radamonas,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 19:04] ChaitanyaNaykodi-MSFT commented on #69511
Hello @mmulhearn,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-26 19:05] msmbaldwin commented on #63915
#please-close

[2021-01-26 19:05] #63915 closed

[2021-01-26 19:08] JamesTran-MSFT commented on #69457
@GitRomney and @diu618
Thank you both for your time and patience throughout this issue.

We received an update from our engineering team and the app is not an approved app yet. However, we're working to enable App protection policy for it.

Since we're currently working on this internally, I'll go ahead and close out this issue.
Thank you again for your time and patience.

[2021-01-26 19:08] #69457 closed

[2021-01-26 19:13] MGoedtel commented on #69493
I hope this answers your question satisfactorily, and because this isn't a doc-related issue I'm closing this GitHub issue. #please-close

[2021-01-26 19:13] #69493 closed

[2021-01-26 19:14] GitRomney commented on #69457
Thank you. Can you provide a timeline, please?

[2021-01-26 19:18] MarileeTurscak-MSFT commented on #69503
@ChrisSommers
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-26 19:20] MonikaReddy-MSFT commented on #69426
@kirpasingh  - Thank you for providing your insights.
@HannahHsiao  - I hope @kirpasingh has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-26 19:20] #69426 closed

[2021-01-26 19:22] sameer-kumar opened #69523 "Azure App Configuration doesn't work with Managed Identity if OfflineCache is specified"
I'm trying to follow along the sample of accessing App Configuration with Managed Identity in AspNetCore 3.1 app but getting runtime exception with error details:

[code]

The only difference between doc's sample code and my code is that of OfflineCache. This is what I have in my code:

[code]
If I remove those 2 lines of SetOfflineCache, the code works fine.

I'm not sure how connection string is

[2021-01-26 19:24] JamesTran-MSFT commented on #69457
@GitRomney
Thank you for the quick follow up!

Unfortunately, there's no ETA as of right now. However, I'd recommend monitoring this [doc page](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app) or our [Azure Updates page](https://azure.microsoft.com/en-us/updates/) if you'd like to get the latest updates on Azur

[2021-01-26 19:24] MonikaReddy-MSFT commented on #68505
@Nickomang  - Thank you for providing your insights.
@mchudinov - I hope @Nickomang  has answered your question.
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2021-01-26 19:24] #68505 closed

[2021-01-26 19:26] #69455 closed

[2021-01-26 19:29] MonikaReddy-MSFT commented on #69523
@sameer-kumar -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-26 19:31] mperezcarden opened #69524 "Code should use blob instead of table"
`Get-AzStorageBlob -Container '$logs' |
Where-Object {
    $_.Name -match 'table/2014/05/21/05' -and
    $_.ICloudBlob.Metadata.LogType -match 'write'
} |
ForEach-Object {
    "{0}  {1}  {2}  {3}" –f $_.Name,
    $_.ICloudBlob.Metadata.StartTime,
    $_.ICloudBlob.Metadata.EndTime,
    $_.ICloudBlob.Metadata.LogType
}`

Should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2021-01-26 19:36] RutgerKosters opened #69525 "Volume resize rephrasing"
Hi colleagues,

I think it would be good to mention that shrinking AND expanding a volume is done instantly and without downtime. This can be a differentiator versus other storage offerings.

OLD:
"You can change the size of a volume as necessary."

PROPOSAL:
"You can increase or decrease volume size instantly and without downtime."

Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-26 19:37] DerekHerman-MSFT commented on #69499
@tonipalma1
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-26 19:41] spelluru commented on #47831
#in-progress

[2021-01-26 19:48] MicrosoftGuyJFlo commented on #48816
#please-close thanks for your ideas we will try to incorporate them in to future updates.

[2021-01-26 19:48] #48816 closed

[2021-01-26 19:50] chrismcclure commented on #46309
Any word on this?

[2021-01-26 19:51] MonikaReddy-MSFT commented on #69525
@RutgerKosters -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-26 19:53] MonikaReddy-MSFT commented on #69525
@RutgerKosters -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-26 19:53] #69525 closed

[2021-01-26 19:54] rocamp opened #69526 "Reference Application Developer Role in Required Permissions Section"
**Permissions required for registering an app**

You must have sufficient permissions to register an application with your Azure AD tenant, and assign to the application a role in your Azure subscription.

The [Application Developer](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#application-developer) role is the minimum requirement.

---
#### Document Details

[2021-01-26 20:01] tamram commented on #46309
@chrismcclure - We are unable to help out with information about future features in this forum. I recommend submitting your request to the [Azure Storage feedback forum](https://feedback.azure.com/forums/217298-storage) and also the [Cosmos DB feedback forum](https://feedback.azure.com/forums/263030-azure-cosmos-db).

[2021-01-26 20:14] RonyMSFT commented on #55588
@eliasvakkuri , private endpoints (whether to the workspace endpoints or to Studio) are created from your customer VNet in Azure. The way to do that is described in the links that @julieMSFT  and the article that you referenced originally. Given that we are unclear as to what your scenario is, I recommend that you open a support ticket through Azure portal to work with a support personnel to get m

[2021-01-26 20:15] MarileeTurscak-MSFT commented on #69526
@rocamp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-26 20:16] RonyMSFT commented on #55588
#please-close

[2021-01-26 20:16] #55588 closed

[2021-01-26 20:17] RonyMSFT commented on #67831
Have you gotten the chance to try the above?

[2021-01-26 20:32] mbiver opened #69530 "Error in the second scenario?"
Is there an error in the second "Burstable virtual machine with non-burstable disks"?

The scenario says "2 P10 Data Disks" but the diagram has 3 P50's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28356
* Version Independent ID: 6401288f-c695-2d25-1198-07b237242005
* Content: [Managed

[2021-01-26 20:35] DerekHerman-MSFT commented on #69507
@haymansfield Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-26 20:43] shortpatti commented on #67354
Content updated; will be published today by 4:00 pm PST.

#please-close

[2021-01-26 20:43] #67354 closed

[2021-01-26 20:46] julieMSFT commented on #34212
Hi @LindaLF,  How did you get the recommendation to add a new parameter [TemplateParameterFile] to the [New-AzResourceGroupDeployment] command? We have successfully deployed the template using the code in the article. Please also see [Quickstart: Create an Azure SQL Managed Instance using an ARM template](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/create-template-quickstart?

[2021-01-26 20:50] Grace-MacJones-MSFT commented on #69510
@sffamily can you please look into this?

[2021-01-26 20:55] debleenac85 commented on #17169
I have  a question, there is something called Duration alongwith Coll Down Period.

Rule 1: Cpu > 80%  Scale out 1 .. Duration 10 min nd Cool Down is 5 mins.
Rule  2. Cpu < 30%  Scale In 1 .. Duration 10 mins Cool down is 5 mins.

Default =2

Now say Cpu percent is 85% at 9 am. So at 9:10 am first rule kicks in nd now instance 2+1 =3.
What will be the instances at 9:20 am ?

Soln: Ideally cool dow

[2021-01-26 21:02] SynapsePOC opened #69531 "Document markdown formatting issues"
Document https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/synapse-analytics/spark/microsoft-spark-utilities.md
has a lot of garbage from markdown formatting.
Examples:
:::zone pivot = "programming-language-python"
mssparkutils.fs.ls('Your directory path')
::: zone-end
------------
This should really read
Python
mssparkutils.fs.ls('Your directory path')
with some font stylizing and

[2021-01-26 21:18] dalewolan commented on #69470
Can you let me know when this action item is complete?

Dale

On Tue, Jan 26, 2021 at 3:38 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2021-01-26 21:19] NavtejSaini-MSFT commented on #69348
@arunkumarthiags Please check the feedback from Cx and provide update.

[2021-01-26 21:20] NavtejSaini-MSFT commented on #69351
@rahul-mohan PLease let us know if you need any further help regarding this.

[2021-01-26 21:28] NavtejSaini-MSFT commented on #69466
@tknandu Please check the feedback from the user and provide the clarity to the same.

[2021-01-26 21:28] bdschaap opened #69532 "Instructions Out of Date"
[Enter feedback here]
The instructions at step 19 are out of date.  The screen has changed and only pfx file is supported now.  This will have an impact on other steps as well.
19. From the Certificate File drop-down, select adfs.contoso.com the certificate we created above. Click Next.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-01-26 21:30] ChaitanyaNaykodi-MSFT commented on #69479
Thank you @spelluru!

[2021-01-26 21:32] cynthn commented on #69470
@roygara

[2021-01-26 21:34] cynthn commented on #69470
Someone else can correct me if I am wrong, but detaching the disk means it still exists in storage and you will be charged the for the storage costs of the VHD.

To stop paying for the cost of the disk, you would need to detach it, then delete it from storage.

[2021-01-26 21:36] NavtejSaini-MSFT commented on #69494
@ptorner we have created the request to change the same. Once approved changes will be live.

[2021-01-26 21:38] ngocketit commented on #32068
@andyong79 Doesn't seem to work for me as I got the same error: `Code="BlobAuditingInsufficientStorageAccountPermissions" Message="Insufficient read or write permissions on storage account`. The storage account network_rules:
[code]
and needed permissions added for mssql server managed identity principal

[2021-01-26 21:38] NavtejSaini-MSFT commented on #69506
@alalani123 We are checking this further.
@mokabiru Can you please confirm the same so that we can change the document.

[2021-01-26 21:42] RonnieQuan commented on #69518
This is a critical question for compliance reason, can you please prioritize and provide guidance ASAP? Thank you!

[2021-01-26 21:43] ngocketit commented on #32068
@brandonmbanks Have you been able to make it work?

[2021-01-26 21:54] shermes opened #69533 "Do not have CLI reference path commands unless you have OS specific commands"
[Enter feedback here]
There is a command to access a json file located at  `artifacts\policyTags.json`

While this works fine in Windows, on the Mac you get an error decoding the JSON

`Expecting value: line 1 column 1 (char 0)`

It would be better to have the file be in the same folder as the other JSON to avoid confusion.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-01-26 21:55] spelluru commented on #69479
#in-progress

[2021-01-26 22:03] tonypitkin opened #69535 "Add mention of sharing accounts and credentials"
Front, like some ticketing and communications solutions, sees some usage of "shared accounts" where daily access to the platform is not needed. For example, and IT Administrator may only need to access Front when a new user needs to be created or adjusted. It would be helpful to add a section explaining this or calling out this article: https://docs.microsoft.com/en-us/azure/active-directory/enter

[2021-01-26 22:18] almisson opened #69536 "Identifying certificates from key vault versus manually uploaded"
How can I tell if a certificate that's been imported/added to an app service came from key vault? We're in the process of migrating our certificates from being manually uploaded to being sourced from key vault instead. After uploading a certificate manually to an app service and then uploading a different certificate from key vault, I can't tell a difference between the two in the portal other tha

[2021-01-26 22:23] dalewolan commented on #69470
Great. How do you detach it. The interface says confirm yes I do and it
still shows. If i cannot do something this simple - I will discontinue my
service. I am a sr. software developer and it cannot be this stupid.

Please advise.
Dale

On Tue, Jan 26, 2021 at 4:34 PM Cynthia Nottingham <notifications@github.com>
wrote:

[2021-01-26 22:24] dalewolan commented on #69470
I am not writing a script either. I hit delete confirmed YES. I want this
disk 2 gone. ASAP

[image: image.png]

On Tue, Jan 26, 2021 at 5:22 PM Dale Wolan <dale.wolan@gmail.com> wrote:

[2021-01-26 22:24] dalewolan commented on #69470
I have tried and tried to remove it.

On Tue, Jan 26, 2021 at 5:24 PM Dale Wolan <dale.wolan@gmail.com> wrote:

[2021-01-26 22:27] dalewolan commented on #69470
[image: image.png]

The disk is empty, I removed the partition. Get rid of it "PLEASE"

Regards,
Dale Wolan

On Tue, Jan 26, 2021 at 5:24 PM Dale Wolan <dale.wolan@gmail.com> wrote:

[2021-01-26 22:27] dalewolan commented on #69470
or provide me with instructions that work. I do not want this disk anymore.

Dale

On Tue, Jan 26, 2021 at 5:26 PM Dale Wolan <dale.wolan@gmail.com> wrote:

[2021-01-26 22:29] dalewolan commented on #69470
Cynthia:

When I try to detach from UI portal.azure.com it is greyed out. Please
provide instructions or do it on your end. I DO NOT WANT the disk 2 anymore.

Dale

On Tue, Jan 26, 2021 at 4:34 PM Cynthia Nottingham <notifications@github.com>
wrote:

[2021-01-26 22:30] DerekHerman-MSFT commented on #69505
@DaehyunLee
What information were you looking for in particular?

When you use Azure AD to authenticate access to Azure Storage you are using Azure AD credentials specifically to authenticate the user and then authorize their access. The same Azure AD credentials can be used for Azure AD B2C for Azure Storage. So if you are simply looking to use Azure AD to authenticate access both to Azure Storag

[2021-01-26 22:30] benCoomes opened #69537 "What happens to running function instances when you change host.json?"
I have been trying to find information about how editing the host.json file affects running function instances. But, I haven't had any luck. This is important to know for production scenarios where you wouldn't want to create downtime by adjusting the logging level. Any insight into how host.json modifications affect a running function app would be appreciated.

---
#### Document Details

⚠ *Do no

[2021-01-26 22:41] DudeWithEmoTiger commented on #58377
@AshokPeddakotla-MSFT I am also interested in laptop recommendations. Until you buy the laptop, it's not easy getting USB host controller information. Is there a list out there of laptops that the Kinect supports? Furthermore, if I needed to run more than one sensor (say, 2-3), would those recs change?

[2021-01-26 22:44] JamesTran-MSFT commented on #69532
@bdschaap
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-26 22:45] julieMSFT commented on #58619
Hi @minhdn90, Did this answer your question?

[2021-01-26 22:45] JamesTran-MSFT commented on #69535
@tonypitkin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-26 22:46] khetheri opened #69538 "Unable to use a User Assigned Managed Identity from another subscription"
I tried using a User Assigned Managed Identity from another subscription (Sub B) and although provided the full path to the identity and assigned it the required roles within the AKS subscription (Sub A) to perform the necessary actions, I received an error indicating the AKS create could not find the user managed identity "resource group" in (Sub A).

It doesn't appear to be able to use a user ma

[2021-01-26 22:47] JamesTran-MSFT commented on #69521
@wtcan99
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-26 23:07] roygara commented on #69470
@dalewolan Hello, this article and the actions covered inside of it, is only detaching the disk from the VM.

To actually delete the disk, you'll have to follow the steps in this article for deleting it in the [Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-find-unattached-portal).

Alternatively, you can use the [PowerShell ](https://docs.microsoft.com/en-us/azure/vir

[2021-01-26 23:11] JamesTran-MSFT commented on #69453
@RonnieQuan
Thank you for the follow up!

[When it comes to what RBAC permissions are required to managed identity on a resource](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/known-issues#what-azure-rbac-permissions-are-required-to-managed-identity-on-a-resource):

- System-assigned managed identity: You need write permissions over the resource. For ex

[2021-01-26 23:12] DerekHerman-MSFT commented on #69524
@mperezcarden Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-26 23:12] JamesTran-MSFT commented on #69454
Closing this issue as it's a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/69453

[2021-01-26 23:12] #69454 closed

[2021-01-26 23:18] jyama4ta commented on #69481
update: private clusters support resources view for now.
https://github.com/Azure/AKS/issues/1801

[2021-01-26 23:18] #69481 closed

[2021-01-26 23:20] SatishBoddu-MSFT commented on #69491
Hello @MikkelHegn
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @TravisCragg-MSFT

[2021-01-26 23:23] asergaz commented on #54436
@RamonArguelles fyi. Thanks

[2021-01-26 23:24] himanshusinha-msft commented on #69202
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2021-01-26 23:34] SatishBoddu-MSFT commented on #69531
Hello @SynapsePOC
Thanks for the feedback! We are currently investigating and will update you shortly
Cc: @julieMSFT .

[2021-01-26 23:38] msftradford commented on #69322
Thanks @rjtshrm! As [we discussed](https://github.com/Azure/azure-spatial-anchors-samples/issues/235) in the ASA samples repo, the issue might just be with using GetPlatformPointer() directly. It is defined inside of the SDK in a file called SpatialAnchorExtensions.cs. This doc page appears to assume that you have that function available to you, but it is usually abstracted away behind the Spatial

[2021-01-26 23:39] wesmc7777 commented on #54859
The approach to using packages changed for Azure Functions. Basically you need to use a *function.proj* file instead of *function.host*. For more information, see [Using NuGet packages with Azure Functions]()https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages) for more information.

Additionally this article was referencing older packages,  Updati

[2021-01-26 23:39] tfitzmac commented on #69456
The update to the article has been published.
#please-close

[2021-01-26 23:39] #69456 closed

[2021-01-26 23:41] msftradford commented on #54436
We have opened an internal ticket (#31481757) to make sure that we are more explicit about that function in this docs page. @asergaz please assign to me.

[2021-01-26 23:44] SatishBoddu-MSFT commented on #69531
Hello @SynapsePOC Could you please have a look at the live document on this topic? Please let us know if the Live document is ok ?

[Introduction to Microsoft Spark Utilities](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-csharp)

[2021-01-26 23:47] mokabiru commented on #69506
@alalani123 - you are correct that DMA does not support migration to target SQL MI. But DMA still supports assessment for SQL MI. The docs page only talks about using DMA for assessment and not migration. If you look at the migration tools we have listed in the guide here: https://docs.microsoft.com/en-gb/azure/azure-sql/migration-guides/managed-instance/sql-server-to-managed-instance-overview#com

[2021-01-27 00:00] ChaitanyaNaykodi-MSFT commented on #69204
Hello @psddp, apologies for the delay.
As quoted from the document.

You should be able to access the Developer portal within your virtual network. Since we primarily drive this channel for documentation improvements and we did not determine any improvements I will now proceed to close this issue out.
Please tag me in your response if there are any additional concerns or observations we will gladl

[2021-01-27 00:00] #69204 closed

[2021-01-27 00:02] rjtshrm commented on #69322
Closing the issue as it is resolved [here]https://github.com/Azure/azure-spatial-anchors-samples/issues/235#issuecomment-767888362l).

[2021-01-27 00:02] #69322 closed

[2021-01-27 00:14] wayneforrest opened #69540 "OpenIDConnect not available for SDK3.1 is available for 3.0"
Documentation located here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

The documentation mentions the requirements are `.NET Core SDK 3.1`.
I am not able to import the Namespace or find the documentation for` Microsoft.AspNetCore.Authentication.OpenIdConnect`.

Looking at this page located here:
https://docs.microsoft.com/en-us/dotnet/api/micr

[2021-01-27 00:14] ChaitanyaNaykodi-MSFT commented on #69189
Hello @bengimblett, We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns and we will gladly continue with our discussion. Thank you!

[2021-01-27 00:14] #69189 closed

[2021-01-27 00:28] #60297 closed

[2021-01-27 00:28] #64117 closed

[2021-01-27 00:29] DCtheGeek commented on #69533
#assign:DCtheGeek
#label:"product-issue"

[2021-01-27 00:31] DCtheGeek commented on #69533
@shermes Thanks for the feedback.  The folder hierarchy is set to match how a blueprint definition is exported.  I've looked at the command and it looks like an issue in the way the Azure CLI uses the value passed to the parameter.  Since it doesn't appear to be a Docs issue, can you open a [New Issue](https://github.com/Azure/azure-cli/issues/new/choose) in the Azure CLI repo?  Thank you!

[2021-01-27 00:32] loic-sharma commented on #29916
Are there plans support managed identities in the other way around (allow other Azure resources to authenticate to Azure Search using MSI)?

My team has 4 App Services that each authenticate to their own Azure Search resource. As per our company's security policies, we must rotate Azure Search's access keys every 90 days. This is a serious maintenance burden that could be addressed by managed iden

[2021-01-27 00:39] #54859 closed

[2021-01-27 00:40] yinoa commented on #69477
According to the description of  "Azure and fragmentation" part, the "out of order" fragments will be dropped.

Is it partially untrue?

If it is TCP "out of order" fragmented packets, azure destination can reassemable them and will not drop them.

If it is UDP "out of order" fragmented packets,  it is by design azure destination will drop them. But we have option to enable "enable-udp-fragment-re

[2021-01-27 01:02] MonikaReddy-MSFT commented on #69445
@felixtsem5 -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 01:02] #69445 closed

[2021-01-27 01:17] ravisha22 commented on #69051
Apologies I meant the ASN requirement should be documented in the network checklist article, which basically being a checklist should include this major requirement.

Also the FAQ should contain a bit more information on ASN, why 4byte ASN and why not 2 byte (which was the case during preview), as customers have asked for it. But i agree it can be optional in FAQ, if it is captured in the checklis

[2021-01-27 01:18] benjamincburns opened #69541 "scope field not documented for Microsoft.Authorization/roleAssignments"
I'd have clicked a feedback link to create this issue, but no such link existed on the page.

This issue is in reference to the [Microsoft.Authorization/roleAssignments](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments) article in the ARM template reference.

As shown in [this quickstart template](https://github.com/Azure/azure-quickstart-templates/blob/ee00

[2021-01-27 01:18] SimonBrazell commented on #53360
Is this issue resolved? Scoping a new Rails 6 project and wondering if I should user docker or the built-in ruby support?

[2021-01-27 01:19] MonikaReddy-MSFT commented on #69237
@tfitzmac  - Thank you for providing your insights.
@MartinDBakerCDW  - I hope @tfitzmac  has answered your question.
At this moment, the doc is updated and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 01:22] MonikaReddy-MSFT commented on #68596
@magnus-longva-bouvet -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-27 01:23] MonikaReddy-MSFT commented on #68509
@eugen-nw - Are you still facing any issues. If so, please respond to the above query asked by @Nickomang . Thank you

[2021-01-27 01:24] benjamincburns commented on #69541
It looks like there's another issue open (#68602) that claims that the example is incorrect. I can validate that it isn't incorrect, and this undocumented `scope` property was absolutely necessary to make the `roleAssignment` resource extension work correctly in my case.

In my case I'm running a ARM template deployment at resource group scope. I'm creating a custom role definition and assigning i

[2021-01-27 01:24] wayneforrest commented on #69540
Imports can fail for a number of reasons:
1: the namespace does not exist, or the
2: package is not available / installed

The documentation is misleading not stating that 3.1 is available.
Furthermore it is not apparent [to me] when the API/package/nuget is not part of the Core SDK and needs to be added.

What is the best way to determine if a package is part of the core SDK or not, and can this

[2021-01-27 01:24] xuegao0112 opened #69542 "For the quota and limits of custom metrics"
Hi team.

Category | Limit
-- | --
Active time series/subscriptions/region | 50,000

1. May I know the 50,000 limitation is applied at a tenant or subscription level?
2. Where I can monitor how many active time series I have actual time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e9e6a7-4b37-e559-f719-63199aa78a0

[2021-01-27 01:25] benjamincburns commented on #68602
@iamalexmang I believe that this assumption is incorrect, and the `scope` field in the `properties` object is undocumented. See my comments on #69541 for more info.

[2021-01-27 02:10] usivagna opened #69544 "broken link"
Extend IoT Plug and Play bridge link broken at bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84516e04-1144-aa3a-ce92-b8323e082bb5
* Version Independent ID: b8384910-42b8-03af-2809-3edb4a57424c
* Content: [IoT Plug and Play bridge](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-iot-pnp-bridge)
* Conten

[2021-01-27 02:27] eugen-nw commented on #68509
PS C:\projects> az ad sp list --show-mine
[]

[2021-01-27 02:34] miketheitguy commented on #67410
This occurs for me as well.

[2021-01-27 02:41] KrishnaG-MSFT commented on #69517
@DCtheGeek Thanks for the super quick response. :+1:

[2021-01-27 02:45] KrishnaG-MSFT commented on #69514
@ericrrichards Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 02:51] SnehaAgrawal-MSFT commented on #69536
@almisson Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 02:54] KrishnaG-MSFT commented on #69542
@xuegao0112 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 03:15] KrishnaG-MSFT commented on #69289
Assigning @martinekuan for visibility, review and document enhancement consideration as appropriate.

[2021-01-27 03:18] KrishnaG-MSFT commented on #69542
@anirudhcavale Any insights on this please?

[2021-01-27 03:26] SnehaAgrawal-MSFT commented on #69231
@rikvandenberg Thanks again for feedback! The Doc team is aware of this and it will be updated in the next sprint.
Please refer to below link as current workaround  for setting custom headers for Azure.Core feature.
 https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Diagnostics.md#setting-x-ms-client-request-id-value-sent-with-requests

We will now proceed to close

[2021-01-27 03:26] #69231 closed

[2021-01-27 03:30] KrishnaG-MSFT commented on #69518
@RonnieQuan Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 03:32] KrishnaG-MSFT commented on #69519
@Aspire1Inspire2 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 03:33] KrishnaG-MSFT commented on #69530
@mbiver Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 03:35] shashishailaj commented on #69540
@wayneforrest Thank you for your feedback . We will investigate and update the thread.

[2021-01-27 03:55] SubhashVasarapu-MSFT commented on #69155
@johnayoub, @nerddtvg, Appreciate your patience. Looks like the identifiable user agent string is missing in the health probe requests while logging. We recommend you raise a feature request here in this[ feedback section](https://feedback.azure.com) for its future availability. All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible

[2021-01-27 03:55] #69155 closed

[2021-01-27 04:06] AnuragSharma-MSFT commented on #69367
@hidwatanabe This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-27 04:12] AshokPeddakotla-MSFT commented on #69544
@usivagna Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 04:18] AshokPeddakotla-MSFT commented on #68957
@dmitriyteteruk We have re-opened the issue to provide an update from our product team.
@apwestgarth will respond soon on your query. Appreciate your time and patience.

[2021-01-27 04:25] SaurabhSharma-MSFT commented on #69316
@fvarga01 I am able to reproduce this issue and I see the same behavior -
![image](https://user-images.githubusercontent.com/38112130/105942725-a774e380-6014-11eb-809b-1735c4b703ff.png)
I am checking internally with the products team and get back to you.

[2021-01-27 04:45] khatri034 commented on #29886
@KrishnakumarRukmangathan @swinarko is there any other way can anyone send me what code to write in main.cmd to add DLLs to azure IR nodes and same needs to install in gac.

[2021-01-27 04:49] MayankBargali-MSFT commented on #69216
@jlrd For different operations on the logic app and OPDG, there are different action based permission needed. In this context "Provided that you have subscription access" means that you should have the necessary action permission to perform that operation. Based on different scenarios user might need to specify different action permission, therefore, the document specifies the general statement.

[2021-01-27 05:01] ram-msft commented on #69360
@warrenkc Thanks for the feedback. Here are the samples for the speech system audio.
https://github.com/Microsoft/Cognitive-Samples-IntelligentKiosk/

[2021-01-27 05:06] CHEEKATLAPRADEEP-MSFT commented on #69279
@chuckheinzelman  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-27 05:06] #69279 closed

[2021-01-27 05:09] CHEEKATLAPRADEEP-MSFT commented on #69281
@hrasheed-msft Could you please review further and update the document as appropriate?

[2021-01-27 05:10] MayankBargali-MSFT commented on #69537
@benCoomes Thank you for your feedback! We will review and update as appropriate.

[2021-01-27 05:11] CHEEKATLAPRADEEP-MSFT commented on #69383
@manojkukkapalli  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-27 05:19] chuckheinzelman commented on #69279
Please look at the list of supported sources and compare it against what is actually available in the tool.  For example, Azure Files is not available, and none of the sources listed as "end of 2020" are currently available.

[2021-01-27 05:35] warrenkc commented on #69360
Thank you, however, I am not sure if this is what I am looking for. I would like to use the system audio (loopback capture) for the speech translation. I know how to use the microphone, but how can I use the system audio (loopback capture) for the speech to text or speech translation? Many users do not have this option as an input for their system.

[2021-01-27 05:36] warrenkc commented on #69360
@ram-msft Thank you, however, I am not sure if this is what I am looking for. I would like to use the system audio (loopback capture) for the speech translation. I know how to use the microphone, but how can I use the system audio (loopback capture) for the speech to text or speech translation? Many users do not have this option as an input for their system.

[2021-01-27 05:55] goutamcw commented on #68468
No actually my requirement is like below:
I need only custom signup page where user have to verify both Email and Phone to register.

User can SignIn only by Email not by Phone.

I am using ROPC for login.

[2021-01-27 05:57] goutamcw opened #69558 "I need only custom signup page where user verify both Email and Phone to register B2C"
I need only custom signup page where user verify both Email and Phone to register.

User can SignIn only by Email not by Phone.

I am using ROPC for login

[2021-01-27 06:01] psmanhas commented on #69290
@Pratik44 Thank you for the information. I will reach out to our Product Group on this issue. In the meantime can you confirm if whitelisting Public IP in this use case scenario is fine with you or not?

Thanks

[2021-01-27 06:03] psmanhas commented on #69419
@FallenHoot Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-27 06:03] psmanhas commented on #69419
@danielsollondon Can you please check and add your comments on this doc update request as applicable

[2021-01-27 06:05] HarithaMaddi-MSFT commented on #69407
@alexrusn - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#144515

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-01-27 06:05] #69407 closed

[2021-01-27 06:05] KrishnaG-MSFT commented on #69558
@goutamcw Thanks for reaching out!

If the issue is related to particular Azure document then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link and more context a

[2021-01-27 06:08] psmanhas commented on #65559
@mimckitt Can you please check and add your comments on this doc update request as applicable.

Thanks

[2021-01-27 06:08] psmanhas commented on #65559
@mimckitt Can you please check and add your comments on this doc update request as applicable.

Thanks

[2021-01-27 06:09] vipulsparsh commented on #69277
@WimSchuiteman Let us know if you need any further help.

[2021-01-27 06:36] Pratik44 commented on #69290
Hi Preeti,

No, public IP address are not allowed due to security reasons.

regards,
Pratik Deenbandhu

On Wed, Jan 27, 2021 at 11:31 AM PreetiManhas-MSFT <notifications@github.com>
wrote:

--
Regards,
Pratik Deenbandhu

[2021-01-27 06:42] SubhashVasarapu-MSFT commented on #69376
@setunol, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-27 06:42] #69376 closed

[2021-01-27 06:46] swinarko commented on #29886
See https://docs.microsoft.com/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup#current-limitations and Sample folder under https://docs.microsoft.com/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup#standard-custom-setup-samples.

[2021-01-27 07:02] HarshitaSingh-MSFT commented on #69224
Assigning this to @macolso for further action.

[2021-01-27 07:03] HarshitaSingh-MSFT commented on #69396
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 07:03] #69396 closed

[2021-01-27 07:05] DBFairy opened #69560 "A couple of items to adjust from Australia"
Australian Drivers license - the identification number for my DL is 7 digits long. This will vary state to state, I can only speak for the Australian Capital Territory.

the item you have flagged as "Australia medical account number" this should be Australian Medicare Number, this is government issued under this name, not "medical account".

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-27 07:19] CHEEKATLAPRADEEP-MSFT commented on #69560
@DBFairy  Thanks for bringing this to our attention.

Regarding the Australian Drivers license,  @AniMukherjee could you please review further and update the document as appropriate.

**Other names** also known as "Keywords"

- Department of human services
- Australian Medicare Number
- bank account details
- medicare payments
- mortgage account
- bank payments
- information branch
- credit card l

[2021-01-27 07:32] szirbucz opened #69561 "IKEv2 is not supported on Basic Vnet-Gateway"
Dear Maintainers,

please consider to alert the users in the Linux part about the fact that IKEv2 is not supported on the Basic SKU. I've spent several hours to configure my P2S connection until I accidentally found this fact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version

[2021-01-27 08:26] cc91029 opened #69562 "[The Original PowerShell command listed in KB to get the policy couldn't get all AzureAD policy when there are many AzureAD policies in the tenant"
[The Original PowerShell command listed in KB to get the policy couldn't get all AzureAD policy when there are many AzureAD policies in the tenant]
_https://docs.microsoft.com/en-us/azure/active-directory/external-identities/allow-deny-list#use-the-azureadpolicy-cmdlets-to-configure-the-policy_

**Original:**
$currentpolicy = Get-AzureADPolicy | ?{$_.Type -eq 'B2BManagementPolicy'} | select -First

[2021-01-27 08:29] hisasima opened #69563 "Firewall dose not support FQDNs with special character."
When I tried to add following FQDNs in Application rule, the FQDNs were invalid. It seems to be by design. Could you add this limitation into this document ?

1.   test.*.testcom.com
2.   test--a.com

![image](https://user-images.githubusercontent.com/37136042/105963782-c2069580-60c4-11eb-9f7d-2f8afbeab314.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-27 08:29] hisasima commented on #69563
I want you to add the limitation into this document.

[2021-01-27 08:31] Vj1422github commented on #33497
provider "azurerm" {
    version="2.3.0"
  subscription_id                           = var.subscription_id
  tenant_id                                 = var.tenant_id
  client_id                                 = var.client_id
  client_secret                             = var.client_secret
	features{}
}
data "azurerm_subscription" "primary" {
}

data "azurerm_client_config" "example" {
}

# Create

[2021-01-27 08:33] Vj1422github commented on #33497
@jakaruna-MSFT  Can u Help on this!!

[2021-01-27 08:36] chez-charlie commented on #67745
Updated pending deployment

[2021-01-27 08:36] chez-charlie commented on #67745
In https://github.com/MicrosoftDocs/azure-docs-pr/pull/144522

[2021-01-27 08:40] chez-charlie commented on #67745
#please-close

[2021-01-27 08:40] #67745 closed

[2021-01-27 08:40] steffigrois opened #69564 "Unclear description which certificates to use in config.yaml"
Hi,

we have concluded in several projects that the following description of the certificates to add to the .config.yaml is misleading and we would propose to change the naming (see below). The reason is that during the steps where the certificates are issued, there are two certificates issued for each device:
One is named "iot-edge-device-ca-lower-layer-device.cert.pem" and the other one "iot-edg

[2021-01-27 08:43] nanowireUK commented on #69564
Completely agree with this issue. Have seen the same thing.

[2021-01-27 08:55] aclottan commented on #53436
any progress on this issue ? we still have this error, although the deployment continues.

[2021-01-27 09:01] AshokPeddakotla-MSFT commented on #69544
@usivagna PR has been crated to fix the link. Please check and update. Here is the link for reference: https://docs.microsoft.com/en-us/azure/iot-pnp/howto-build-deploy-extend-pnp-bridge

I see that you are an author of this doc. For future doc enhancements or updates, you may update the doc yourself by creating a PR against it.

![image](https://user-images.githubusercontent.com/44426435/10596718

[2021-01-27 09:21] VikasPullagura-MSFT commented on #69378
@mannyovena

The document looks updated based on your feedback.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-27 09:21] #69378 closed

[2021-01-27 09:29] rayne-wiselman commented on #52634
Thanks for your feedback. I've added a note about this in the article https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-hyper-v#prepare-hyper-v-hosts

#please-close

[2021-01-27 09:29] #52634 closed

[2021-01-27 09:34] rayne-wiselman commented on #69140
Thanks for your feedback! This issue is fixed
#please-close

[2021-01-27 09:34] #69140 closed

[2021-01-27 09:35] qiaott opened #69565 "Inconsistent documentation regarding the description of dropping or keeping "day_of_week""
[Enter feedback here]

The documentation is inconsistent regarding the description of dropping or keeping "day_of_week"
In the section `Create and load dataset`, it is not mentioned that **day_of_week** feature should be dropped.

But in the end of the process, suddenly it says:

`m. Review the Data preview to ensure you didn't include **day_of_week** then, select Close.`

This is mismatch with th

[2021-01-27 09:37] VikasPullagura-MSFT commented on #69538
@khetheri
Thanks for your Question! We are currently investigating and will get back on this.

[2021-01-27 09:37] jpdfr-msft opened #69566 "IP Addresses coherence"
IP Addresses space indicated in the VNet creation is not coherent with the rest of the tutorial
10.33.x.x should be replaced by 10.0.x.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Version Independent ID: 1dca831e-665a-e8c0-1654-0887732f6908
* Content: [Tutorial: Prerequisites

[2021-01-27 09:41] SubhashVasarapu-MSFT commented on #69318
@piotrgwiazda, Appreciate your patience. Yes, it allows the use of a single Application Gateway Ingress Controller to control multiple AKS clusters. Here is an example reference for [Mutli-cluster/Shared Application Gateway.](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-existing#multi-cluster--shared-application-gateway)

We are closing this issue for now.

[2021-01-27 09:41] #69318 closed

[2021-01-27 09:48] SubhashVasarapu-MSFT commented on #69563
@hisasima, Thanks for reaching out. We will investigate and update this thread.

[2021-01-27 09:49] SnehaAgrawal-MSFT commented on #69382
@rogerhealy Thanks for asking question! If I am correct you are using No framework and not angular or other.

Could you please double check on 5th step you have selected  / as the location for the application code.
As you need to enter / if your application source code is at the root of the repository, or /app if your application code is in a directory called app.

further on 7th step for output_l

[2021-01-27 09:50] SubhashVasarapu-MSFT commented on #69561
@szirbucz, Thanks for reaching out. We will investigate and update this thread.

[2021-01-27 09:56] SubhashVasarapu-MSFT commented on #69561
@szirbucz, Appreciate your feedback. This has been documented in the doc here,
![image](https://user-images.githubusercontent.com/44890829/105974399-dd1cd980-60b3-11eb-87d2-2a0e1c297e0b.png)
Also, we have highlighted this under our FAQ's for quick reference,
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#i-already-have-an-azure-vpn-gateway-deployed-can-i-enable-radius-andor

[2021-01-27 09:58] becke-ch-s0-v1 opened #69568 "Azure Cache for Redis virtual network: Port requirements for cluster seem not correct."
According to the documentation “Azure Cache for Redis virtual network FAQ” (https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-vnet#azure-cache-for-redis-virtual-network-faq) the Cluster requires Inbound/Outbound the ports 13000-13999 and 15000-15999. This is massive and far too much because according to the documentation “Clustering” (https://docs.microsoft.com/en-u

[2021-01-27 09:58] phatcher opened #69569 "Typo"
`Under Settings, select Subnets. Click Subnet in the new pane to add a subnet, and delegate it to Microsoft.sql\managedInstance. For more information, see Manage subnets.`

The resource type should be `Microsoft.Sql/managedInstances`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e129fb-ad18-ca97-d020-aaf5c6b2c74f
*

[2021-01-27 10:01] #69544 closed

[2021-01-27 10:09] v-hagamp commented on #57921
Issue resolved as suggested above.
#please-close

[2021-01-27 10:09] #57921 closed

[2021-01-27 10:15] savjani commented on #69077
Hi @piotrgwiazda - Just wanted to check if you have any blockers or we can close this issue? as we have added the repair items in our backlog based on the feedback you raised. CUrrently my team is swamped on flexible server whcih is our new offering so we wont be immediately be able to work on some of the feedback you highlighted.

[2021-01-27 10:16] simonzhaoms opened #69570 "Got 503 service unavailable in Azure DevOps pipelines"
Hi,
I used the following command to get an access token:

[code]

then I used the token to get a list of offers in the partner center:

[code]

It worked well on my local machine, but not in my Azure DevOps pipelines.

In other words, when the 2 commands were run in Azure DevOps pipelines, the 1st command can get the token,
but the 2nd command got

[code]

Then I copied the access token from the p

[2021-01-27 10:19] stephen-cairns opened #69571 "Blob storage (NFS) 3.0 - Standard Performance Tier - UK Regions"
Hi
Can you please confirm when this feature will be available to try in the UK regions for GPV2 standard performance storage accounts?

Also can you confirm that the below Azure Blob Storage features work transparently with Blob Storage NFS:

- Storage Tiers (Hot, Cool, Archive) with policies to move files between tiers
- Encryption Scopes with BYOK at container level
- Soft Delete, Point In Time

[2021-01-27 10:21] VikasPullagura-MSFT commented on #69566
@jpdfr-msft Thanks for the Feedback. We will update the document as appropriate.

[2021-01-27 10:24] diegodct opened #69572 "Update article with managed disk"
This article is most related to unmanaged disks and their storage account. Could you please add the information to discriminate between managed (the recommended option now) and unmanaged disk ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3f16a43-af5a-3477-be99-4c26ccc92370
* Version Independent ID: 03061c5f-7fdb-1e

[2021-01-27 10:27] RohitMungi-MSFT commented on #68170
@panitaxx Our team has confirmed that a fix is now rolled out to production. Could you please retry your scenario and confirm if it works? Thanks!!

[2021-01-27 10:28] becke-ch-s0-v1 opened #69573 "Use Azure API Management with virtual networks: Key Vault: Port Requirement wrong."
In the documentation “Common Network Configuration Issues” (https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#-common-network-configuration-issues) the key vault port requirement “* / 433 Outbound TCP” is wrong and the port should be “443”.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-01-27 10:31] VikasPullagura-MSFT commented on #69572
@diegodct
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-27 10:31] VikasPullagura-MSFT commented on #69572
@v-miegge
Can you please check and add your comments on this doc update request as applicable.

[2021-01-27 10:32] IgnacioAlvarezArenas opened #69574 "Adding the use of Azure DNS alias record set for Traffic Manager root domains."
Hi

Per this issue https://github.com/MicrosoftDocs/azure-docs/issues/58082 and this document https://docs.microsoft.com/en-us/azure/dns/tutorial-alias-tm would it be possible to include this information for the root domain section of this document? Using Azure DNS alias record set and Traffic Manager is the only way of getting a root domain without having to use extra redirections if we want to u

[2021-01-27 10:41] DavidTrigano commented on #69569
Hello @phatcher,

Thank you for your feedback. We proceeded with the type you mentioned. Update will be visible within 24 hours.

Thanks,
D.

[2021-01-27 10:46] piotrgwiazda commented on #69077
I ma not blocked. You can close it I guess.

[2021-01-27 10:55] iamDanielo opened #69575 "JSON languages upload"
Hi, using User Flows in B2C, is there a way to upload via API or pipeline the json used to language customization? Or the only way is upload it manually if I don't use custom policies?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659306d5-4703-6f5a-a11e-b6c6ffbc12b3
* Version Independent ID: fad303cc-7be6-4ac

[2021-01-27 11:08] KapilGeorge commented on #69436
@JamesTran-MSFT

I tried with both the below urls but still getting the same error.
http://localhost:7001/xxxx/yyyy/
https://localhost:7002/xxx/yyyy/

I am using the same sample code as provided in the documentation.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-desktop-app?tabs=app-reg-ga#add-the-native-client-application

[2021-01-27 11:16] CHEEKATLAPRADEEP-MSFT commented on #69279
@chuckheinzelman Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

![image](https://user-images.githubusercontent.com/44426401/105983584-fd9e6100-60be-11eb-89d6-a5e992700b5a.png)

@SunetraVirdi and @yaronyg Could you please review the content and update it as appropriate?

[2021-01-27 11:25] ram-msft commented on #69565
@qiaott Thanks for the feedback! We will review and update accordingly.

[2021-01-27 11:26] jcordtz opened #69576 "Suggestion to a more clear statement on this tutorial"
On this page under the header
https://docs.microsoft.com/en-us/azure/purview/tutorial-using-rest-apis#configure-your-catalog-to-trust-the-service-principal-application

Item 7 it says : "For Select enter the name of the user, Azure Active Directory group or service principal"

My suggestion is that to make it more clear (as it is a tutorial) is should state:

For Select enter the name of the _newl

[2021-01-27 11:30] Radamonas commented on #69500
I assume it should be ontext.Subscription.CreatedDate

[Link to APIM Subscription details](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/subscription/list#subscriptioncollection)

[2021-01-27 11:33] CHEEKATLAPRADEEP-MSFT commented on #69576
@jcordtz  Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-27 11:36] gomateus opened #69578 "Azure Event Grid - Documentation Update - Unclear if it's referring to custom topics or system topics"
[Enter feedback here]

In this article: https://docs.microsoft.com/en-us/azure/event-grid/managed-service-identity#create-a-topic-or-domain-with-an-identity it's not clear if we are referring to custom topics or system topics. System topics do not support managed identities, only custom topics do, but still it would be great if some sort of Note was added here to clarify, as people might might be

[2021-01-27 11:38] ram-msft commented on #69360
@warrenkc  Thanks for the details. we have a recommended approach for converting of audio to supported formats.
FFMpeg in the past for audio format conversion. Audiofiles correct Format is 16kHz, 16Bit and Mono. The command line for the correct target format is:
o	ffmpeg.exe -i inputfile.wav -sample_fmt s16 -ac 1 -ar 16000 outputfile.wav
SoX is another option. The docu references SoX, see https://

[2021-01-27 11:43] arifsyeduknpl commented on #69191
UK South - now ok, Compute Resource up and running
Thanks

[2021-01-27 11:46] ram-msft commented on #69364
@Raoulwe Thanks for the feedback, Could you please share snapshot for the broken link. The links in the concepts-gating-overview doc works without any errors. Could you please recheck.

[2021-01-27 11:48] het-msft commented on #69334
@MonikaReddy-MSFT , by when can I expect this change to go live?

[2021-01-27 11:59] DaehyunLee commented on #69505
Before we switched to b2c, we were able to configure the scopes in our web app registration to apply a user delegation scope specifically for storage. In our b2c app registration, the option to add a storage scope is not present. How can we configure storage to accept a b2c auth?

![image](https://user-images.githubusercontent.com/1912447/105988144-3dd4f380-606d-11eb-8ffd-a114673dbb54.png)

[2021-01-27 12:14] JFolberth commented on #68847
Can I get an update on this? Trying to close out some der PRs

[2021-01-27 12:14] AnuragSharma-MSFT commented on #69568
@becke-ch-s0-v1 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-27 12:15] AnuragSharma-MSFT commented on #69569
@phatcher Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-27 12:17] dinisgarcia opened #69579 "Would it be possible to update the document to comprise all the storage metrics that are avaialble to be exported from storage accounts to log analytics workspace?"
So we have a case where a user saw https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftstoragestorageaccounts where it states the used capacity is not exportable. However, when querying their log workspace they saw this metric being populated.

They are asking if you could please update the document in order to show the current info and it caused some impact on

[2021-01-27 12:34] zebslc opened #69580 "When testing my custom policy I do not have an option to set jwt.ms as a reply url"
The following line indicates I should be able to set my reply url but it only gives me a fixed list as per the following picture.
`3. Make sure that the Reply URL is https://jwt.ms.`

![image](https://user-images.githubusercontent.com/3459059/105990538-8525a900-609a-11eb-9b60-fea5c2455618.png)

My applications are as follows and none of them give me the option to set that.  I do not have an option

[2021-01-27 12:40] nigeldao007 commented on #68211
I finally got around to this, I believe I am all set, you can close this out.  Thank you for your help!

I have just a couple tiny feedbacks the author might (or might not) be interested in (NOTE:  I have also opened a case with Microsoft and provided the same feedbacks):

In Step 10

-- All sub-steps are listed as "a" instead of "a", "b", "c", etc - cosmetic but I thought should mention.

-- In t

[2021-01-27 12:44] SadiqhAhmed-MSFT commented on #69514
@vikrambmsft For assistance on the query above.

[2021-01-27 13:18] shashishailaj commented on #69575
@iamDanielo Thank you for your feedback . We will investigate and update the thread.

[2021-01-27 13:18] porrascarlos802018 opened #69583 "Improve instructions to address recommendation."
for this alert / recommendation
Overriding or disabling of containers AppArmor profile should be restricted
please provide the technical steps that needs to be taken , from where, with examples and screenshots and what syntax needs to be entered so the recommendation gets fixed and status ok.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-27 13:27] amanmcse commented on #69580
@zebslc You need to add another reply url with Value 'https://jwt.ms' to the 'Local-Client' application from App Registrations blade.

Once done, on the Run Now endpoint, you will see 2 urls in the reply url drop down:
1. http://localhost:4200
2. https://jwt.ms

You can then select jwt.ms as reply url so that the token is posted there.

[2021-01-27 13:32] amanmcse commented on #69575
@iamDanielo  As of now the JSON file/files need to be uploaded manually via portal. The supported B2C operations that can be performed via Graph API are documented here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-operations

You can post an idea regarding this feature at our [feedback portal](https://feedback.azure.com), which is monitored by the product team.

[2021-01-27 13:32] #69575 closed

[2021-01-27 13:46] ColeSiegelTR commented on #69414
Hi @MayankBargali-MSFT

I found that the problem was due to the permissions allowed on my resource group. So not related to the docs at all. Please disregard.

[2021-01-27 13:46] #69414 closed

[2021-01-27 13:47] diadatp commented on #11854
I have been bitten by the same issue, certain Free Trial limitations being applied after I have upgraded to Pay-as-You-Go (before the trial ended). It shouldn't have taken so much searching to find this information. This issue should be reopened and the documentation updated to reflect this edge case.

This [page](https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/understand-cost

[2021-01-27 13:53] dalewolan commented on #69470
[image: image.png]

So I follow the article? I try to open console and it tells me I have no
storage attached. This is my last chance to be nice. Please REMOVE this
volume from my account immediately. I have asked over 15 different emails.
If it is not removed or me given proper instructions, that A. do not work.
I am done with AZURE. Also, I will communicate this as a non satisfactory
attempt to

[2021-01-27 13:56] ecrutchfield opened #69584 "3202 error not listed"
I'm getting the following 3202 error when running a Databricks Python activity, but it's not listed on this page:
Error code: 3202
Failure type: User configuration issue
Details: Jobs is not fully initialized yet. Please retry later.
Source: Pipeline StagedToEnrichDatabricks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-01-27 13:59] dalewolan commented on #69470
[image: image.png]

as you can see it says disk state - Attached, but, Powershell says I have
no disks mounted. Please remove dalewolanazdisk_2 immediately.

Regards,
Dale

On Wed, Jan 27, 2021 at 8:53 AM Dale Wolan <dale.wolan@gmail.com> wrote:

[2021-01-27 13:59] DCtheGeek commented on #69211
@mpchen As @robga has provided a detailed explanation and this isn't a Docs issue, I'm going to close this GitHub Issue. If you need further assistance, I recommend creating a [Support Ticket](https://azure.microsoft.com/support/create-ticket/) or posting on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-policy.html). If you see anything wrong in the Docs, please create a new issu

[2021-01-27 13:59] #69211 closed

[2021-01-27 14:06] shashishailaj commented on #69541
@benjamincburns Thank you for your query . The quickstart template details are generated separately and the issues for the same could be generated https://github.com/Azure/azure-quickstart-templates/issues . At this point we will try to investigate and update our findings and we can accordingly link it to the page and check with content author for that page @davidsmatlak .

[2021-01-27 14:06] shortpatti commented on #69051
Thank you, @ravisha22, I'll work with @jreypo to get the content updated.

[2021-01-27 14:10] KumariSupriya commented on #69276
@TimLovellSmith Thanks for the feedback, we will update the documents

[2021-01-27 14:15] SumanthMarigowda-MSFT commented on #69437
@vercin7277  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 14:15] #69437 closed

[2021-01-27 14:24] SnehaAgrawal-MSFT commented on #69574
@IgnacioAlvarezArenas Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 14:33] shermes commented on #69533
@DCtheGeek Thanks for the quick responses to my feedback. I really appreciate it. I agree it is an issue with the CLI and I have already opened an issue with them. However, until that is fixed, it would make it easier for people on a Mac to do this tutorial if those JSON files were in the same directory. From a CLI standpoint, it does not matter if those files are in the same directory or in a dif

[2021-01-27 14:35] DCtheGeek commented on #69533
@shermes Can you confirm if wrapping the value of the parameter in ticks works on Azure CLI on the Mac?  That might be the 'correct' fix for docs and work on both plats.  So something like:

[code]

[2021-01-27 14:38] #69051 closed

[2021-01-27 14:41] chhatley opened #69586 "Outdated"
I believe the GUI for AAD Connect as well as the options for this page are outdated. We are trying to update the certificate for AD FS to fix a trust. I recommend checking all of the AAD connect documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4a5a4d-f097-a0f8-f81e-75a5837f202b
* Version Independent ID:

[2021-01-27 14:44] shermes commented on #69533
@DCtheGeek I apologize for my lack of clarity. Here is what a valid path looks like on a mac:
`artifacts/policyTags.json`
Here is what a valid path looks like on Windows
`artifacts\policyTags.json`

Mac uses `/` and Windows uses `\`.  I did try wrapping it in ticks and it still failed. That is when I noticed the invalid path separator.

[2021-01-27 14:46] ram-msft commented on #69364
@Raoulwe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 14:46] #69364 closed

[2021-01-27 14:46] DeanGross opened #69587 "Unhelpful Link"
the link to IdFix does not point a page about IdFix, a better address would be https://microsoft.github.io/idfix/
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardware](ht

[2021-01-27 14:47] DCtheGeek commented on #69533
Thanks for that added piece, it was the part I was missing. While I still think fixing it in Azure CLI is the best path (and thank you for submitted that as an issue), I'll update this doc to make a note that for Mac's, the path should use `/` instead of `\`.  Once I merge the change in, this issue will automatically close.  Publish will happen after that event.  Thanks again for pointing this out

[2021-01-27 14:48] jreypo commented on #64237
@Mahesh-MSFT HCX in a cloud to cloud scenario is supported. We are in the process to update the HCX part of the documentation. Thanks a lot for the feedback.

[2021-01-27 14:49] SwathiDhanwada-MSFT commented on #69217
@dcbrown16 Thanks for your feedback.I have raised a PR for the requested change and requested for review from content author. Once approved, the changes will be live.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-01-27 14:49] #69217 closed

[2021-01-27 14:51] DeanGross opened #69588 "Add info about newer servers"
The PowerShell and .NET Framework section mentions older server versions, but does not provide guidance about 2016 or 2019, please add something to confirm that they include the necessary software

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa

[2021-01-27 14:52] spelluru commented on #47831
Sorry. It took so long. Cleaned up the article now.

#sign-off

[2021-01-27 14:52] spelluru commented on #47831
#please-close

[2021-01-27 14:52] #47831 closed

[2021-01-27 14:53] spelluru commented on #44017
This article is marked legacy now. It has a link to the newer article: https://docs.microsoft.com/en-us/azure/event-hubs/exceptions-dotnet.

#please-close

[2021-01-27 14:53] #44017 closed

[2021-01-27 14:53] shermes commented on #69533
You are welcome. I really appreciate your prompt responses.

On Wed, Jan 27, 2021 at 8:47 AM David Coulter <notifications@github.com>
wrote:

--

Scott Hermes
Director of Solution Delivery
––––––––––––––––––––––––

KIN + CARTA

Web <https://kinandcarta.com/> · Linkedin
<https://www.linkedin.com/company/kinandcarta/> · Twitter
<https://twitter.com/kinandcarta> · Instagram
<https://www.instagram.com

[2021-01-27 14:56] DCtheGeek commented on #69533
I've submitted the PR, so the update to the page is likely to make it in the morning publish.  Can you do me a favor and link the issue you created in the Azure CLI repo in the comment history here so that others that hit and search for this have a reference to the issue you created to fix it?  Thank you!

[2021-01-27 14:58] 50Wliu commented on #65559
While we're here, let me point out the following issues I had while converting my VM template to a VMSS one:
* the name issue also exists for dataDisks.
* osProfile.computerNamePrefix says "Computer name prefixes must be 1 to 15 characters long", but I get verification errors stating that the max is 9 characters. Please make that consistent, one way or another.
* The "id" parameter of networkProfi

[2021-01-27 15:00] #69533 closed

[2021-01-27 15:03] Raoulwe commented on #69364
Hi,

The text:
based on Microsoft's principles for responsible innovation in AI.

Broken link:
https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=12Qq+EIIv0Kzk9VY.0.3.0

The text
Disclosure for voice talent:

Boken link:
https://github.com/MicrosoftDocs/azure-docs/blob/master/legal/cognitive-services/speech-service/disclosure-voice-talent

Learn more about our terms of serv

[2021-01-27 15:05] maheshkvis opened #69589 "When will this service come in GA?"
we required this service in GA.
it's system requirement.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba9a74f-e0b7-5e2c-b066-5f32dc47f950
* Version Independent ID: 919e9aef-832f-574f-89b3-0456c5cc3f68
* Content: [Use Container Storage Interface (CSI) drivers for Azure Disks on Azure Kubernetes Service (AKS) - Azure K

[2021-01-27 15:08] andriikut opened #69590 "How to exclude PREVIEW recommendation form LogAnalytics ?"
We are using Azure monitor alerts with query below:
[code]
How can we exclude recommendations which are in PREVIEW in query ?
we can't use IDs because need to get alerts where recommendation will be GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0554513-d846-079c-6bfc-d27aab78b442
* Version Independent ID: 6c8a971c

[2021-01-27 15:11] leo-west-cdw commented on #69237
Hi Tom, I'm a colleague of Martin's. We've found that this breaks our CSP onboarding assessment process using Jack Tracey's assessment tool - https://jacktracey.co.uk/migration/azure-subscription-migrations/ - as the removed lines mean that these resource types can't be serarched for in a VLOOKUP. Is it possible for the csv to include the child lines with statuses for resource group and subscripti

[2021-01-27 15:17] #69590 closed

[2021-01-27 15:17] andriikut commented on #69590
wrong branch

[2021-01-27 15:19] wcneumann219 opened #69591 "Migration to a new tenant"
Can you migrate a Recovery Services vault used by MABS to a new subscription in a new tenant (and continue to use the backups) if you first migrate to a subscription in the same tenant and then migrate that subscription to a new tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa66854-15b8-fd3d-bdea-db337fc7419e

[2021-01-27 15:24] cshea15 opened #69592 "No explaination"
[Enter feedback here]
The doc is great for setting up the RD Gateway role but in what scenarios or why would we need to set up that role. There is no explanation on why would we need to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c48acc6-21e6-2569-7c4b-ec102783ad8d
* Version Independent ID: db92ab59-ec03-5

[2021-01-27 15:26] cshea15 opened #69593 "No explaination"
[Enter feedback here]
The doc is great for setting up the KKDC but there is no explanation on why would we need to do this. Can we add some more details or information on why we would need to this of more about KKDC for users that havent use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ebbcf4-1385-c608-04ab-568

[2021-01-27 15:27] zebslc commented on #69580
Great, please can you add that to the steps to add/check if it already exists in local-client?

Kind regards

[2021-01-27 15:27] #69580 closed

[2021-01-27 15:31] MonikaReddy-MSFT commented on #69592
@cshea15 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-27 15:31] MonikaReddy-MSFT commented on #69593
@cshea15 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-27 15:33] anyname2 opened #69594 "Query parameters table is displayed as a string"
`Query Parameters` section looks like in this screenshot, but is supposed to be a table:

![Screenshot](https://user-images.githubusercontent.com/2305836/106013871-cd51c500-60b4-11eb-923b-079fe61f59f1.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5833e8f-1e83-b275-d3fe-0d4f81a56cbf
* Version Independent ID: e3fb

[2021-01-27 15:39] MonikaReddy-MSFT commented on #69589
@maheshkvis -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-27 15:49] dsusca commented on #54283
I Face the same issue, there is a solution for that ?

Thanks.

One or more unsupported elements were found in the schema used as part of a data package. Error SQL71501: Error validating element Procedure: [dbo].[USP_INVOICE] has an unresolved reference to object [dbo].[USP_INVOICE].

[2021-01-27 15:51] v-miegge commented on #69572
@VikasPullagura-MSFT: I am the technical writer who submitted the article, but I am not the original author.

I will send an email to @MukeshNandaMS, the original author, requesting that the article be updated.

[2021-01-27 15:59] ntabris opened #69595 "Unclear syntax around "or""
I took me a very long time to grok "If you want to **or** two different conditions".

Maybe "If you want to conjoin two different conditions with **or** [...]" would be clearer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-8017-c9a38a45b60e
* Version Independent ID: f5f6bdec-fb46-6b69-48c1-599e34f7

[2021-01-27 16:03] AshokPeddakotla-MSFT commented on #69399
@pietronromano I am able to repro your issue. Getting the same issue.

![image](https://user-images.githubusercontent.com/44426435/106018156-3e11d500-60e7-11eb-95ae-226f2357fc22.png)

I will check this issue internally and update you as earliest. Appreciate your time and patience.

[2021-01-27 16:16] rogerhealy commented on #69382
Thank you very much for your helpful response.

To clarify I'm merely following the instructions for the Learn module:
Azure Static Web Apps / Publish an Angular, React, Svelte, or Vue JavaScript app with Azure Static Web Apps / Exercise - Create an Azure Static Web App

https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api/4-exercise-static-web-apps?pivots=angular

[2021-01-27 16:17] MayankBargali-MSFT commented on #69216
@jlrd Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-01-27 16:17] #69216 closed

[2021-01-27 16:20] kartben commented on #69399
@pietronromano I hope you won't mind me asking but can you please confirm you didn't forget to add "https://" at the beginning of the ADT URL when adding it in the UI?

[2021-01-27 16:25] JamesTran-MSFT commented on #69583
@porrascarlos802018
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-27 16:26] spelluru commented on #69479
Fixed the article. The image is updated in the Git repo. The update will show up sometime today.

#please-close

[2021-01-27 16:26] #69479 closed

[2021-01-27 16:28] mtwelve commented on #69304
No. Ideally it have been a little more specific. Without a Service Tag for Azure Batch either it'd be overhead to maintain.

Thanks for confirming 👍

[2021-01-27 16:28] #69304 closed

[2021-01-27 16:30] JamesTran-MSFT commented on #69586
@chhatley
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-27 16:31] JamesTran-MSFT commented on #69587
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-27 16:32] JamesTran-MSFT commented on #69588
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-27 16:34] SatishBoddu-MSFT commented on #69564
Hello @steffigrois Thanks for the feedback on this docs section.

I have assigned the issue to the content author for further review on your feedback.

[2021-01-27 16:35] pmisiuda commented on #62867
@spelluru
- I cannot see the update for this article. What is the status?
- Where to find final confirmation that Firewall is GA? on Azure Portal it is still marked as 'in preview'

[2021-01-27 16:36] AshokPeddakotla-MSFT commented on #69399
@kartben Thank you for the suggestions.
@pietronromano Issue with the role assignment.

While adding role on on the role assignment page, fill in the values (must be completed by a user with sufficient permissions in the Azure subscription):

Role: Select **Azure Digital Twins Data Owner** from the dropdown menu
Assign access to: Use User, group or service principal
Select: Search for the name or

[2021-01-27 16:36] JamesTran-MSFT commented on #69453
@RonnieQuan
I just wanted to check in and see if you had any other questions? Otherwise, since our FAQ has provided the required permissions/examples for your issue, I'll go ahead and close this out at the end of the day.

Thank you for your time and patience throughout this issue!

[2021-01-27 16:40] spelluru commented on #62867
@pmisiuda - The last time I checked with the product team, they were going to deploy the UI with changes. I will check with them today.

I replaced Service Endpoints with Private Endpoints in this article
In other articles like https://docs.microsoft.com/en-us/azure/azure-relay/ip-firewall-virtual-networks, I removed Preview for Firewalls.

Please let me know if I missed any other changes you were

[2021-01-27 16:42] pietronromano commented on #69399
thanks - I already had that role and was using https:// of course
As a general feedback, I'd suggest adding https:// to the ADT URL if the user forgets it... it would remove a common source of error

[2021-01-27 16:43] RDukes425 opened #69596 "Please add region limits for USGovernment"
Can regional limits and availability for Government regions be added to this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4153e809-a854-ff58-3d1e-31770c36a1f9
* Version Independent ID: e37b5834-9174-5ea2-567c-7b2628ed9eeb
* Content: [Resource availability by region - Azure Container Instances](https://docs.micr

[2021-01-27 16:44] pmisiuda commented on #62867
@spelluru - my mistake. I modified my previous question - it wasn't clear enough. The clue of the 1st question was
"Shouldn't be 'Yes' for both 'Private endpoint support' and 'Network isolation and firewalling support' ?". Based on the current version of the document it seems those features are not supported by relay.

[2021-01-27 16:46] davidsmatlak commented on #69541
I'm not the content author. @rolyon can you investigate and respond? Thanks!

[2021-01-27 16:51] spelluru commented on #62867
@pmisiuda - Yes. That's correct. I will update the article now. Thank you!!

The UI change was made a couple of weeks ago, but looks like it hasn't been deployed. I am waiting for the status on UI deployment from the product team. I will let you know as soon as I hear.

[2021-01-27 16:53] AshokPeddakotla-MSFT commented on #69399
@pietronromano We hope your issue is resolved now. Please let me know if you face any issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 16:53] #69399 closed

[2021-01-27 16:54] sujaypillai opened #69597 "Azure default max no. of pods differs from the original provisioned through Azure Portal"
While provisioning an AKS cluster from portal using Azure CNI as default network plugin the default max no. of pods provisioned is 110. While in the document it says 30.

<img width="1596" alt="Screenshot 2021-01-28 at 12 51 40 AM" src="https://user-images.githubusercontent.com/3936714/106025037-5a236f80-6103-11eb-9e7e-ea00b877275d.png">

---
#### Document Details

⚠ *Do not edit this section. It

[2021-01-27 16:59] KrishnaG-MSFT commented on #69579
@dinisgarcia Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 17:02] KrishnaG-MSFT commented on #69591
@wcneumann219 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-27 17:02] VikasPullagura-MSFT commented on #69596
@RDukes425
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-27 17:02] VikasPullagura-MSFT commented on #69596
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-01-27 17:02] SubhashVasarapu-MSFT commented on #69595
@ntabris, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-27 17:02] #69595 closed