[2019-07-08 20:53] #34411 closed

[2019-07-08 20:53] conceptdev commented on #31004
This content was updated on 6/24 (after the original issue was raised on 5/10). Please refer to the updated page.

#please-close

[2019-07-08 20:53] #31004 closed

[2019-07-08 20:54] femsulu commented on #34690
Thanks for the comment. Feedback has been shared with the content author to review and revise the documentation as appropriate.
@jureid  - fyi.

[2019-07-08 20:54] FrankHu-MSFT commented on #34687
As this issue has been addressed per the Identity team's post, I will be closing out this github issue,

[2019-07-08 20:54] #34687 closed

[2019-07-08 20:55] FrankHu-MSFT commented on #34693
@jks05c You're right, this should be documented in this, and we are currently looking into this and will let you know as soon as possible when we have a response in regards to whether or not this consumes a license or not.

[2019-07-08 20:59] femsulu commented on #34713
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 21:02] femsulu commented on #34699
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@rolyon  - fyi

[2019-07-08 21:03] femsulu commented on #34698
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-08 21:06] femsulu commented on #34144
@kasparks any update from the Pub IP team?

[2019-07-08 21:16] MarileeTurscak-MSFT commented on #34552
Hi @thesilvereagle ,

I tested in my tenant today and had the same problem. My boolean custom policy (Allowed) is also showing as a textbox.
![image](https://user-images.githubusercontent.com/13383753/60842435-fb954a00-a188-11e9-86a6-943ccacfbd01.png)

It would only accept the words "True" and "False" as values. This seems like a product bug to me and even if there is a way around it, it is not we

[2019-07-08 21:18] kobulloc-MSFT commented on #34399
@MarkIannucci We're going to assign this to the document author so they can clarify this not only for you, but also for anyone else that may be reading this doc.

![image](https://user-images.githubusercontent.com/37556655/60843354-3e582180-a18b-11e9-9fd3-d47762987ccd.png)

[2019-07-08 21:19] ZStoner opened #34724 "Minor code sample issue"
In the last PS script sample with the for loop, the string is using “curly quotes”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ea8024-c99f-0efe-f663-cc58348a3721
* Version Independent ID: 85c8727b-915b-c920-76cd-6123844d20ad
* Content: [Troubleshoot Windows virtual machine activation problems in Azure](https://do

[2019-07-08 21:28] TravisCragg-MSFT commented on #34708
@kskvarci Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-08 21:29] femsulu commented on #34378
@tfitzmac  - would [variable iteration ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#variable-iteration) address @grahambunce's scenario?

[2019-07-08 21:32] Karishma-Tiwari-MSFT commented on #33941
@jtuliani We have a separate document for the older sizes.  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-08 21:32] #33941 closed

[2019-07-08 21:37] MashaMSFT commented on #27485
Hi @terrimorton ,
Thank you for the clarification! So it looks like there may be some confusion. _Geo-restore_ is possible to another server,  but point-in-time is not supported. It states so in the [geo-restore](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups#geo-restore) section of the document:

Point-in-time restore on a geo-secondary is not currently su

[2019-07-08 21:38] ZaChickster commented on #34056
@Mike-Ubezzi-MSFT @srdan-bozovic-msft

Also watching this issue and having the same problem.  Am on 2.0.64 of the azure-cli with 2.2.3 of sql and 0.1.1 of sqlvm

[2019-07-08 21:39] MashaMSFT commented on #33690
Hi @stewartadam , thanks for the clarification! I see the confusion - the ordering of the headings makes it seem like the next steps is related to the previous heading, when in reality, the two are intended as separate concepts. I will update the link in the next steps so there's a bit more clarity. Thanks for bringing this to our attention!

[2019-07-08 21:42] TravisCragg-MSFT commented on #33874
@CAIU-RStumpf We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 21:42] #33874 closed

[2019-07-08 21:42] bearrito commented on #34389
Following the docs  - https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#deploy-to-existing-virtual-network

Correct, How are private IP's assigned to container groups? Is the first available IP from the subnet range selected?

When I say `scrape` I was referring to parsing the output of the az command output.
[code]

It seems advantageous to be able to specify the

[2019-07-08 21:49] ABCodeMonkey opened #34725 "URL Path Routing Case Sensitivity?"
Greetings,
It appears that when creating the URL paths, the case of the path matters.

for example: /lienpayoff does not route /Lienpayoff but provides a 502 bad gateway...

is this intentional? it provides some confusion for end users when they have caplocks on . :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e72

[2019-07-08 22:06] KeiroKamioka0000 opened #34727 "Scale Down to Free Plan after the custom domain/slots"
After setting up the customer domain and slots for App Service, is it possible to scale down to Free Plan?
Does it will stop scale down with error message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manag

[2019-07-08 22:07] TravisCragg-MSFT commented on #34723
@cogran Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-08 22:14] Mike-Ubezzi-MSFT commented on #30662
@oslake @CarlRabeler Following up on this issue to see if it needs addressing or not. Please advise. Thank you.

[2019-07-08 22:16] Mike-Ubezzi-MSFT commented on #30452
@mlee3gsd @julieMSFT Following up on this issue to see if it has been addressed. Thank you!

[2019-07-08 22:18] Mike-Ubezzi-MSFT commented on #31226
@MightyPen @CarlRabeler Following up on this issue to see if this has been addressed or if there is a connection string reference doc that might suffice. Thank you!

[2019-07-08 22:20] Mike-Ubezzi-MSFT commented on #31386
@vitomaz-msft @allenwux Closing this item as it appears to have been addressed. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-08 22:20] #31386 closed

[2019-07-08 22:23] himanshusinha-msft commented on #34704
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:25] Mike-Ubezzi-MSFT commented on #31546
@jonels-msft Want to follow-up on this item to see if the `client_encoding` detail has been added to the document?

[2019-07-08 22:25] himanshusinha-msft commented on #34706
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:28] himanshusinha-msft commented on #34711
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:29] himanshusinha-msft commented on #34712
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:31] ioamnesia opened #34728 "Missing PowerShell versions from Explore VM to find public IP examples"
"Explore virtual machines to find public IP addresses" section needs PS versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6215348-a08e-86bc-a329-295a233b880e
* Version Independent ID: e69d4508-fda7-1f35-fa71-af4eba4098f2
* Content: [Explore your Azure resources - Azure Resource Graph](https://docs.microsoft.com/

[2019-07-08 22:32] YutongTie-MSFT commented on #34551
@gopitk Hi Gopi, could you please help to check if VS2019 really available to use for now and how the customer can use it? Thank you.

[2019-07-08 22:33] FrankHu-MSFT commented on #34715
@okieselbach I apologize for the frustration, and understand that there are some issues here that we can address further.

I'm going to look into this and will let you know as soon as I have determined the reasoning behind this,

[2019-07-08 22:33] jasonnutter commented on #34687
@pbalzer And to add a little more context, it is on our radar to move away from the implicit flow for MSAL.js, but I can't provide an ETA at this time.

[2019-07-08 22:33] himanshusinha-msft commented on #34717
@karthiksubramanians . At this time we are reviewing the ask  and will get back to you as soon as we can .

[2019-07-08 22:35] himanshusinha-msft commented on #34719
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:36] YutongTie-MSFT commented on #34536
@axisc Hi Ashish, could you please help to check this issue? Thank you.

[2019-07-08 22:36] Adam-Smith-MSFT commented on #34704
@cshalda Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-08 22:37] himanshusinha-msft commented on #34724
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-07-08 22:37] femsulu commented on #34388
Hi @niharvarma1247, your reported issue required deeper investigation. We will need to redirect this to the Azure technical support channel. Please open a technical support ticket using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request).
If you do not have a support plan, send mail to AzCommunity@microsoft.com include your subscription ID

[2019-07-08 22:37] #34388 closed

[2019-07-08 22:40] himanshusinha-msft commented on #34725
@ABCodeMonkey  thanks for the ask , at this time we are reviewing it and will reply back as soon as we can .

[2019-07-08 22:40] Karishma-Tiwari-MSFT commented on #34724
@ZStoner I have created a PRT with the updates, the changes will be live shortly.

[2019-07-08 22:43] himanshusinha-msft commented on #34727
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2019-07-08 22:45] CarlRabeler commented on #34315
@mike-Ubezzi-MSFT please assign to @MashaMSFT
@anosov1960 for awareness

[2019-07-08 22:48] Mike-Ubezzi-MSFT commented on #31775
@srdan-bozovic-msft @stevestein @CarlRabeler Can this issue be closed, as I am not seeing anything indicating that this has been addressed? Thank you for your feedback on this issue.

[2019-07-08 22:50] Mike-Ubezzi-MSFT commented on #32298
@anosov1960 @CarlRabeler For awareness. Can this be closed or is this still an issue? Thank you for your feedback.

[2019-07-08 22:50] himanshusinha-msft commented on #34728
@ioamnesia  We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-07-08 22:51] RickTrevino commented on #19142
StingyJack is correct. to enable the ID token return, when you reach the Azure screen showing your client and tenant ID, click "Authentication" in the menu to the left. Scroll down and check the box "ID Tokens". This will fix the "return type ID Token does not exist" error.

[2019-07-08 22:54] Karishma-Tiwari-MSFT commented on #34724
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-08 22:54] #34724 closed

[2019-07-08 22:59] femsulu commented on #34415
@maqpratika  - here are some [documented](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log-webhook#sample-payloads)samples. Dont hesitate to reply if this isn't what you are after and we will gladly assist further.

[2019-07-08 22:59] #34415 closed

[2019-07-08 23:01] rwike77 commented on #34673
@WayneYangsa Thanks for pointing this out.  I've updated the graphic, which should publish live tomorrow morning.  #please-close

[2019-07-08 23:01] #34673 closed

[2019-07-08 23:15] JimacoMS3 commented on #33801
@lipsius please let me know if you're still having problems; otherwise, I'll move to close this issue. Thanks.

[2019-07-08 23:23] dustindonahue opened #34729 "Modification to live docs page support-azure-marketplace"
Hi,

Can you modify the Marketplace support page on docs.microsoft.com with the attached changes please?
https://docs.microsoft.com/en-us/azure/marketplace/support-azure-marketplace
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace/support-azure-marketplace.md

[support-azure-marketplace.docx](https://github.com/MicrosoftDocs/azure-docs/files/3370526/support-azure-market

[2019-07-08 23:24] CarlRabeler commented on #32298
@mashaMSFT for awareness

[2019-07-08 23:31] CarlRabeler commented on #31226
@russ-msft For your information, we are working on a Microsoft Learn module that will show you how to set up and use managed identities - so, in addition to the link that Mike provided, see also this link: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#use-managed-identity-connectivity. For the Microsoft Learn module, we start here: https://docs.microsoft.c

[2019-07-08 23:40] KranthiPakala-MSFT commented on #34711
@curtisbuhler Thanks much for pointing this out. Pull Request for the fix has been created and it will be merged soon.

[2019-07-08 23:41] Mike-Ubezzi-MSFT commented on #30662
**Update:** We just made a product update that now allows a serverless database to be auto-paused after 1 hour of inactivity.  (The previous lower limit was 6 hours, now the lower limit is 1 hour.)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-08 23:41] #30662 closed

[2019-07-08 23:41] quinten-miller commented on #28697
We are getting a similar error when interacting with some of the Enterprise Consumption API's.

This is a new problem to us, in that with over 100+ different Azure enrolment integrations we have not seen this.

In this particular case, the API key used from the EA portal cannot access the following API's
- Balance Summaries V2 & V3
- Price Sheet V2 & V3
- Reserved Instances V2 & V3

The billing AP

[2019-07-08 23:45] BrentOzar commented on #30662
Woohoo! That's great, thanks!

[2019-07-08 23:51] roygara commented on #34599
@igomat thanks for reaching out, your first question is answered by the article. See here: https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#automatic-agent-lifecycle-management

Your second question, I assume is asking about the windows update option in the AFS Agent installer? Ticking that option will turn on updates for all Microsoft products, not just AFS.

I'm g

[2019-07-08 23:51] #34599 closed

[2019-07-08 23:57] femsulu commented on #34484
Hi @daspo, by "original files", i assume you mean the IIS logs at the source VM? Azure Monitor doesn't delete the log files at the source. It collects IIS log entries from each agent each time the log is closed and a new one is created. IIS Log cleanup at the VM is controlled by the **[Log file Rollover Schedule](https://docs.microsoft.com/en-us/iis/manage/provisioning-and-managing-iis/configure-l

[2019-07-08 23:57] #34484 closed

[2019-07-08 23:59] KeiroKamioka0000 opened #34731 "Is TotalRequests metric is colected by Per Seconds or Per Minute?"
Is TotalRequests metric is colected by Per Seconds or Per Minute?
On [Legacy metric Mapping] it say Average Request Per Seconds.
However, [Usage] says, collection at a minute granularity.

Which on should I refer it?
Please consider to add more clarification to the document please.

Metrics by category
https://docs.microsoft.com/en-us/azure/cosmos-db/cosmos-db-azure-monitor-metrics#metrics-by-cate

[2019-07-09 00:04] JuneZhao opened #34732 "'Virtual network is not supported in location 'southcentralus' for container group'"
[Enter feedback here]

South Central US is not supported for vnet integration of ACI, please modify the details on the link
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#regions-and-resource-availability

Location | OS | CPU | Memory (GB)
-- | -- | -- | --
North Europe, Southeast Asia, Central US, East US, East US 2, South Central US, West US 2 | Linux | 4 | 1

[2019-07-09 00:09] TravisCragg-MSFT commented on #34725
@ABCodeMonkey This is intended, and it is different depending upon which version of App Gateway you are using. App Gateway V2 has case sensitive URL routing, and you can [find more information Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-url-route-overview#pathpattern).

[2019-07-09 00:09] Karishma-Tiwari-MSFT commented on #34620
@havronl This doc lists down all the service tags and says that

From your statement, it seems like you are saying that you can allow access using Azure NSG Service Tags for Storage, **only if** we are using Azure Firewall. Is that right?
Please elaborate on why do you think the statement is incorrect.

[2019-07-09 00:11] djpmsft commented on #27712
Hi all,

After further investigation, this was an issue on the storage team that has since been fixed. When ADLS Gen 2 features were enabled by the customer, the account was not compatible with eventing which would cause the portal to break. As I mentioned, this has been fixed so users should no longer be running into this.

If anyone runs into this again, please contact the storage team

-Daniel

[2019-07-09 00:11] Karishma-Tiwari-MSFT commented on #34237
@temores  Sorry for the delay. Are you still seeing this issue?

[2019-07-09 00:17] kobulloc-MSFT commented on #34694
@nyuen I'm reaching out to the document author for clarification, but it appears that the goal is ultimately to use code to target the correct version of the web configuration file which will swap the target resource:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/separate-resources#dynamic-ikey

[2019-07-09 00:20] ms-premp commented on #28697
@quinten-miller it looks like the key being used here is having only account level access.
All the three APIs, you mentioned, need Enrollment level access.
Please use a different API_Key, which has Enrollment level access. This can be generated from EA portal using an Enterprise Admin login. The login account permissions are used to generate the access permissions for API_Key.
Hope that helps.

[2019-07-09 00:25] ChristianMontoya commented on #33988
@rhythmnewt : The scenario definitely makes sense, but I do want to add some clarity. To confirm, the intent is that these web applications can only be accessed from the published browser running as part of WVD, correct? If that's the case, the connections to those web applications are actually coming from your session host VMs in Azure, not the WVD service.

[2019-07-09 00:28] ArvindHarinder1 opened #34734 "Provisioning to AWS does not support specifying users / groups"
In the screenshot for provisioning to AWS, update it so that the screenshot doesn't show selecting the scope. That is not supported. We only do role import

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutor

[2019-07-09 00:39] KeiroKamioka0000 opened #34735 "Is there are way to check the size of snapshot?"
Is there are way to check the size of snapshot?

Hello, I understand it really depend on the changed amounts of the VM Daily.
However, is there is way to see the exact amount of every snapshot by Code or GUI base?

I would like to see how much size are used for the snapshot in the [AzureBackupRG_geography_number] Resource group that will be made for the Snapshot.

Or customer must assume from the

[2019-07-09 00:41] RavennMSFT commented on #34621
We'll add a note about ignoring the PRT section for AAD registered devices

[2019-07-09 00:49] temores commented on #34237
It did, have you made any changes?
________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, July 8, 2019 7:11:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Adrian Corona <acorona@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] StorageAccount sink for Syslog does not create a blob (#3

[2019-07-09 00:51] cherylmc commented on #34672
Hi! Please check the ExpressRoute pricing page for legacy sku information - scroll down to the Virtual Network Gateways section. https://azure.microsoft.com/pricing/details/expressroute/  I'll also update some links to this.

[2019-07-09 01:00] Karishma-Tiwari-MSFT commented on #34407
Windows server containers are currently in Preview. You can't automatically update and manage reboots for windows using kured as with Linux nodes in AKS.
Therefore, for windows node, follow the steps in[ this document](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-node-pool).

Here is the document for [Current limitations for Windows Server node pools and application

[2019-07-09 01:09] Karishma-Tiwari-MSFT commented on #34237
Do you mean you were able to get the blob created successfully? Do you know what did you change to make it happen?
I am not aware of any changes made by the product team at this point.
If your issue is resolved now, please let me know when you see it again and we can dig deeper into it. Thanks. :)

[2019-07-09 01:11] Karishma-Tiwari-MSFT commented on #34709
@jeffmartinxyz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-09 01:20] forester123 commented on #34430
@robinsh please kindly help on this. Thanks!

[2019-07-09 01:22] Mike-Ubezzi-MSFT commented on #32279
@anosov1960 @CarlRabeler For awareness. Just going through older items to identify additional actions to be taken. Thank you!

[2019-07-09 01:28] Karishma-Tiwari-MSFT commented on #34732
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-09 02:03] tfitzmac commented on #34713
@yvesgermain - thanks for the suggestion. I have submitted a fix.

[2019-07-09 02:08] #34713 closed

[2019-07-09 02:13] mssshankar commented on #34135
The error message is from Azure storage, and usually indicates one of two things:
1. The SAS token is incorrect (Copy paste error/It may have expired)
2. The system time on the compute where the API is being invoked is out of sync. Maybe a DST issue, too.

If it's not either of the two, let us know.

[2019-07-09 02:23] cengxiye opened #34738 "The content of Article 4 is included in Article 3, is this expected?"
The content of Article 4 is included in Article 3, is this expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0beb9e9-8d92-0194-7a16-111656529a41
* Version Independent ID: 68fe41fc-951d-d06a-2eba-9c406e5d7c26
* Content: [Contoso migration series](https://docs.microsoft.com/en-us/azure/migrate/contoso-migration-o

[2019-07-09 02:23] WayneYangsa commented on #34673
Hi @rwike77 , Thanks for your investigation. I look forward to seeing the revise!

[2019-07-09 02:24] cengxiye commented on #34738
Sorry, Article 5 is included in 4

[2019-07-09 02:42] imeya commented on #34090
@mhopkins-msft , thank you, it works.

[2019-07-09 02:57] AmanGarg-MSFT commented on #34669
Awesome this looks good. Thanks for the feedback again!

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-09 02:58] SnehaAgrawal-MSFT commented on #34549
@mapoitras We will close this out but if you feel you need more information please just let us know.

[2019-07-09 02:58] #34549 closed

[2019-07-09 03:26] ram-msft commented on #34530
@wahyuen The following FaceClient.Face.DetectWithStreamAsync method, which wraps the Detect REST API for uploading a local image. Please refer the [Detect ](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236/console)REST API.
The 'detectionModel' is optional and it's associated with the detected faceIds. Supported 'detectionModel'

[2019-07-09 03:28] alexcpn commented on #34589
Done thanks https://github.com/Azure/iotedge/issues/1424

[2019-07-09 03:28] #34589 closed

[2019-07-09 03:41] dcbrown16 opened #34740 "Clarify service tags"
Will the updates be reflected immediately in Azure.SQL service tags for NSGs and Firewall?
i.e., if we only had outbound connectivity set through service tags, is there any risk of an interruption?
This is an important scenario for many customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36fc6a4-489e-47c5-2882-1

[2019-07-09 03:41] stevestein commented on #31866
@ackava - there's no exact 1 to 1 relationship but for the most part 1 vCore = 1 physical core, so the description in [the docs](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore) is correct.  We're working on getting the pricing page updated to match.

Thanks again for raising the issue.

[2019-07-09 03:41] dcbrown16 commented on #34740
Oops, found the line saying service tags aren't affected, thanks.

[2019-07-09 03:41] #34740 closed

[2019-07-09 03:53] DixitArora-MSFT commented on #34632
@atul1234anand Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-09 03:53] #34632 closed

[2019-07-09 04:12] sdgilley commented on #32711
@tchmiel, @coljac, @kemichi - can you provide more info on when the Notebook VM you are using was created and what SDK version it is using?

I'm trying to reproduce this error with the documented line: `clf = joblib.load( os.path.join(os.getcwd(), 'sklearn_mnist_model.pkl'))`

+ On a Notebook VM created last month, running SDK 1.0.43, I see a UserWarning but the model works.
+ On a Notebook VM cre

[2019-07-09 04:23] VikasPullagura-MSFT commented on #34483
@mikhailgithub Can you please check if the IP and port are opened from where you are trying using this tool [https://ping.eu/port-chk/](url)

From your machine can you try to see if the port on IP is opened using telnet.

[2019-07-09 04:30] ChiragMishra-MSFT commented on #27712
@djpmsft Thanks for leaning in to clarify here.

@valdasm I will now proceed to close this issue. Feel free to still comment and tag me or @djpmsft  if you need any further clarification.

[2019-07-09 04:30] #27712 closed

[2019-07-09 04:37] VikasPullagura-MSFT commented on #34511
@lingtham Please use this command to check the persistent volumes `kubectl get pv`.
Use this command to check the persistent volume claim to ensure no POD is using this persistent volume claim `kubectl get pvc`.
Then use this command to delete `kubectl delete pvc  azure-managed-disk`.
Once you delete the PVC if the PV has Recalim Policy as Delete then the Volume will be automatically deleted.

[2019-07-09 04:37] ManojReddy-MSFT commented on #34734
@arvindHarinder1 Thanks for reporting this. I have assigned this to the author to update the doc accordingly.

[2019-07-09 04:39] MightyPen commented on #31226
I am not in a position to work on this 'azure-docs-pr' SQL Database article.

I am not convinced that every simple code example article should be expanded with all the info necessary to connect in a variety of more complicated ways. Instead, it seems more practical to have a couple specialty articles do the deep digging into using AAD.  Simpler quick article could link to the the specialty article

[2019-07-09 04:47] jakaruna-MSFT commented on #34509
Please use dynamic disk provisioning as the workaround till this issue is resolved.
I checked with dynamic disk provisioning and thats working fine
https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv

Once the PV is created, Thats reclaim policy will be set to DELETE by default. So if you delete the PVC, Then this PV will also be deleted.

[2019-07-09 04:54] radnado opened #34742 "Access datastores during training - use of code unclear"
Could you please provide a simple example of the code that should be in the script on AMLCompute to access the file in the BlobDatastore.  In particular, for the get_data.py script.
I'm doing a pandas dataframe read_csv and can't determine what code is required to resolve the path.  If possible please just provide an example of the read_csv.  Thanks

---
#### Document Details

⚠ *Do not edit this

[2019-07-09 04:56] CHEEKATLAPRADEEP-MSFT commented on #34576
@juneym0730 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-09 04:56] #34576 closed

[2019-07-09 05:00] wahyuen commented on #34530
@ram-msft Thanks for that. While I realise we can indeed call the REST API with the detection model, I was trying to draw attention to the fact that I don't believe the current version of the C# SDK supports this call.

[2019-07-09 05:10] liydu commented on #34538
Resolved in PR81660: https://github.com/MicrosoftDocs/azure-docs-pr/pull/81660

[2019-07-09 05:19] AshokPeddakotla-MSFT commented on #32467
@craigktreasure Thanks for an update.
@dotMorten We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-09 05:19] #32467 closed

[2019-07-09 05:30] dcbrown16 commented on #34735
To clarify, while the Dashboard feature of the vault shows the amount of storage used in the vault, it seems there is no feature to determine the size of the storage used by snapshots. The document implies that snapshots are stored "locally", i.e. somewhere other than the vault, and the page below specifically mentions snapshots being saved in the AzureBackupRG_ resource group.
https://docs.micros

[2019-07-09 05:30] bencurranrac commented on #33243
We have also started looking into this, it seems that the ability to add a custom domain name for DeveloperPortal is available via Powershell command, however after adding it, the portal will throw an error message that "Developer portal has not been published yet." and the link from the APIM resource in Azure Portal does not match the new custom domain name despite the DeveloperPortal setting in

[2019-07-09 05:41] hrana007 opened #34745 "Wild card path at data flow source not working"
![image](https://user-images.githubusercontent.com/36852313/60862009-f3e1ae00-a239-11e9-9ebb-a54f8dd2cbe9.png)

I tried at data flow source. Seeing this error.
![image](https://user-images.githubusercontent.com/36852313/60862099-386d4980-a23a-11e9-9b53-f6534ce491cb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48

[2019-07-09 05:46] jakaruna-MSFT commented on #34190
@roymeforever PR is merged.
Changes are reflecting in the document now.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-09 05:46] #34190 closed

[2019-07-09 05:47] angoyal-msft commented on #34731
@KeiroKamioka0000
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-07-09 05:53] AshokPeddakotla-MSFT commented on #34538
@liydu Thanks for the update.
@rootn9633 PR has been created for the fix. Changes will go live by EOD.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-09 05:53] #34538 closed

[2019-07-09 05:56] SeaDude commented on #26921
I'm feeling like there are some steps missing. Each time I've created a DSVM, i've had to SSH into the machine and create a user. The admin user created during provisioning cannot login to Jupyter Hub.

Even after creating a new user, i'm now getting Status500 Internal Server Error when logging in.

Am I the only one or is this a common issue?

[2019-07-09 05:57] SeaDude commented on #26921
[code]

[2019-07-09 06:09] msrini-MSFT commented on #34580
PR is done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/81662

Changes will be reflected soon.

[2019-07-09 06:11] qhaitoNNV commented on #34672
Hi, thanks for the feedback. It was still a bit confusing as the pricing was on an ER page. I had to compare the bandwidth to confirm that it was right. I feel it will be better (and less confusing) if the pricing for Legacy SKU for VPN Gateways be updated on this pricing page [https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/](https://azure.microsoft.com/en-us/pricing/details/vpn-gat

[2019-07-09 06:14] #34580 closed

[2019-07-09 06:15] ChiragMishra-MSFT commented on #34745
@hrana007 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-09 06:20] ram-msft commented on #34530
@wahyuen Thanks for your feedback. Please raise an issue in the following [link](https://github.com/Azure/azure-sdk-for-net/issues). I hope this helps!

[2019-07-09 06:22] hkamel opened #34746 "Links formats (CSS) for multiple models are not reflecting correctly"
The links formats are multiple models are reflecting as text while it's clickable which make it confusing
Example while the links for the configuration guide for Check Point is available it showing as text
![image](https://user-images.githubusercontent.com/5002831/60864073-9185af00-a233-11e9-84f6-3776b20fd5c6.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-09 06:27] AjayKumar-MSFT commented on #34582
@isunitha98selvan, It is working fine, could you please ensure that the skillset values are appropriately configured. As you define your schema, you must specify the name, type, and attributes of each field in your index. The field type classifies the data that is stored in that field. Attributes are set on individual fields to specify how the field is used. If the issue persists, could you please

[2019-07-09 06:31] RohitMungi-MSFT commented on #34742
@radnado Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-09 06:37] SadiqhAhmed-MSFT commented on #34592
@bandersmsft & @dhirajgandhi Any inputs on this query?

[2019-07-09 06:42] SadiqhAhmed-MSFT commented on #34729
@dustindonahue Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@qianw211 & @ellacroi FYI.

[2019-07-09 06:44] SadiqhAhmed-MSFT commented on #34735
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-09 06:46] ugurgokdere commented on #34640
@kgremban thanks for your prompt reply.

I tried three different days in a day and failed again. Sharing verbose and debug log below. May be there is something wrong with my account?

<script src="https://gist.github.com/ugurgokdere/998caa4ed588ac5e6d18f1868f7780cf.js"></script>

[2019-07-09 06:48] dcurwin commented on #33067
There is no limit on the amount of data.

For more information, see here:

https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#is-there-a-limit-on-the-amount-of-data-backed-up-using-a-recovery-services-vault

[2019-07-09 06:49] dcurwin commented on #33067
@femsulu You can close this ticket.

[2019-07-09 06:49] #33067 closed

[2019-07-09 06:58] matjazmav commented on #34555
@Mike-Ubezzi-MSFT Well, I should meed this requirements, because I have installed SSMS 17.9.1, VS 16.1.3 and also tool is based on `net472` framework, because at least `net471` is required for `ActiveDerictoryInteractive` authentication mode.

Also couldn't find code example how to connect to without specifying `clientId` parameter.

My guess is that SSMS uses more privileged Azure API (available

[2019-07-09 07:01] obrookstein opened #34748 "Filtering telemetry messages"
Hey,
IoT hub supports filtering income telemetry messages and routing them to different endpoints based on their header and body.

After reading the DT documentation back and forth, and trying different things, it seems that there’s no way of doing it in DT. One can only filter on the event type (device message/ custom UDF etc.)

In my scenario, I would like to filter different messages based on t

[2019-07-09 07:02] #34530 closed

[2019-07-09 07:04] MrLokeshV opened #34749 "Want to send Emails to Multiple People"
As we have option in Alert (Classic) to provide the multiple Emails by semicolon separated email ID's same option is not there in Latest Alert.
RBAC is there but we want only Few People to send the mails, As in bigger Organizations we don't have much control  over Access for creating groups.
If we will give some group name also then unnecessary people will get the alert as they have inherited acce

[2019-07-09 07:08] DerrickYang007 opened #34750 "The neural voice synthersized by azure TTS is trembling,unclear,unemotional,unnatural."
The neural voice synthersized by azure TTS is trembling,unclear,unemotional,unnatural.
I listened the voice on my iPhone 6 .
I listened the voice synthersized by IBM watson TTS on my iPhone6 ,too.It is emotional,and natural.
So,what is the core reason? Anybody can help me to check the code?
check the configuration.
-----------------------------------------code--------------------------------------

[2019-07-09 07:32] vishalaj1 commented on #34443
Hi,

I tried again:

When we give dates for dataset results are blank for childitems.

Regards,
Vishal

[2019-07-09 07:35] SnehaAgrawal-MSFT commented on #34658
@dcbrown16 Thanks again for the feedback! You may refer to this blog https://azure.microsoft.com/en-in/blog/daas/  I have shared your feedback with the content owner for further review.

[2019-07-09 07:40] jakaruna-MSFT commented on #31260
@imlight You can ask the subscription owner to create a vm in portal with the same image by accepting the terms.
After that try to execute that playbook on the same subscription. try this out and let me know.
While replying please mention me in the comment

[2019-07-09 07:45] aquibqureshi26 commented on #33748
Hi, Any update

[2019-07-09 07:47] jakaruna-MSFT commented on #30794
@Sudharma That warning is fine. I think you are not getting the prompt.
Can you try pressing enter and see if you are able to see the Prompt to type commands

[2019-07-09 07:55] raman-netsol commented on #32325
Hi,
We are also experiencing the same issue. None of the micro-services are starting up automatically. When  we run docker-compose up the status for the micro-services are showing as Done.  When we try to check the status of the micro-services in the browser, the micro-services are not running. due to this no data is populated on the dashboard.
I am attaching some files for the issue. Please provi

[2019-07-09 07:56] vishalaj1 commented on #30532
Hi,

Team, any update?

Regards,
Vishal

[2019-07-09 07:56] frasercarter commented on #34065
So to be clear, it is recommended to delete all Azure AD Registered devices?

[2019-07-09 08:10] CaioCavalcanti commented on #26079
Same problem here, I'm trying to automate this step on our pipelines, since our apps are connecting to a storage account with key vault. Is there any plan to enable this in the near future? Is there any recommendation on how to handle this on CI/CD pipelines?

[2019-07-09 08:13] jakaruna-MSFT commented on #32656
@YanlongLi i hope the reply by MikkelHegn helps.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-09 08:13] #32656 closed

[2019-07-09 08:29] axthosarouris commented on #33939
The project's csproje file.
[code]
The test project's csproj file

[code]

[2019-07-09 08:36] JasSuri commented on #34552
Go and select the User Flow that you created in the Azure Portal.
1. Select `Page layouts`.
2. Select `Local account sign up page`.
3. Under `User Attributes`, find your attribute which should be a `Boolean`.
4. Set User input type to `CheckboxMultiSelect`.

Then go to the `Languages` menu within the User Flow.
1. Enable `Language Customisation`.
2. Download the English default language file for t

[2019-07-09 08:36] Nike1016 commented on #33939
发自我的华为手机-------- 原始邮件 --------发件人： Orestis Gkorgkas <notifications@github.com>日期： 今天 16:30收件人： MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>抄送： Subscribed <subscribed@noreply.github.com>主    题： Re: [MicrosoftDocs/azure-docs] The examples throw System.ArgumentException: Keyword not supported: 'authentication'. (#33939)The project's csproje file.
<Project Sdk="Microsoft.NET.Sdk.Web">

[2019-07-09 08:44] wukun2015 commented on #34680
Stack for previous no-response issue:

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at C

[2019-07-09 08:47] YASWANTHM-MSFT commented on #34519
@lettucebo, which version of power shell you are using Azurerm module or Azmodule?

Try to uninstall all version of AzureRm and install Azure AZ module then try running below power shell script
"
Login-AzAccount

#Source Subscription
Select-AzSubscription -SubscriptionId 'your suscription id’
$sas = Grant-AzDiskAccess -ResourceGroupName "your resource group name" -DiskName "your managed disk name"

[2019-07-09 08:47] #34519 closed

[2019-07-09 08:48] stephenacrown commented on #34596
Hi,

I understand the MFA for Admins baseline policy is in preview - however, this was the point of this feedback/issue to raise it with Microsoft that the recent change that has been made to the MFA for admins baseline policy seems to have unintended consequences.

Of course MFA can be set on a per-user basis, however this is error prone and can result in admin users created without MFA enforced

[2019-07-09 08:52] AnoopCNair opened #34752 "Hybrid Azure AD join is currently not supported when using virtual desktop infrastructure (VDI)."
Is the statement "**Hybrid Azure AD join is currently not supported when using virtual desktop infrastructure (VDI**)." still valid? Or does this documentation need some update to give some clear message to IT Pros regarding Hybrid Azure AD join support for Windows Virtual Desktop scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-09 09:01] ram-msft commented on #34532
@marktab Could you please share any road map for this.

[2019-07-09 09:02] SwathiDhanwada-MSFT commented on #34512
@bobbytreed  Can you please look into this request?

[2019-07-09 09:07] thesilvereagle commented on #34552
Thanks @JasSuri . It seems like it is working perfectly. Though, there is still another issue as I can not get to the User input type editor on some of my User Flows (I think that this issue is present only on the User Attributes that their Input Type were set already, which means they can not be modified once set)

[2019-07-09 09:17] eXXL commented on #34300
This worked very good for me, thanks!

[2019-07-09 09:18] JasSuri commented on #34552
I think the problem is that if you already enabled `language customisation`, then you add the `Boolean` attribute, the UI no longer prompts to add the `"values"` when you select user input type `checkbox`. But if you have not yet enabled language customisation, then when you choose user input type `checkbox`, it will prompt to provide values then and there.

There is an assumption being made that

[2019-07-09 09:24] PramodValavala-MSFT commented on #34409
@dirthsj Sure. As for the `some-string` in my example, the intention was to show that `userId` can be any string.

For the `negotiate` function, you could simply use the header value from an authenticated request as shown in the document and the other functions don't really have to do that unless its for allowing the same user to add/remove themselves from groups.

The functions I've shared would

[2019-07-09 09:29] PramodValavala-MSFT commented on #34539
@sandeepmaurya I'm no expert on `guice` but I guess that would be the case too.

I believe it would best to open an issue on the [java worker](https://github.com/Azure/azure-functions-java-worker) repo for a more insightful discussion.

Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2019-07-09 09:29] #34539 closed

[2019-07-09 09:34] jakaruna-MSFT commented on #34681
@cynthn Please add your comments

[2019-07-09 09:44] BhargaviAnnadevara-MSFT commented on #34544
@gavinwilliams Thanks for bringing this to our attention!

I was able to see the same behavior upon attempting to import the json and I'm checking with our internal Teams to know the cause for the same. I see that this happens with the other DevOps organizations I have, as well, and thus seems to be a generic issue with importing release definitions.

Meanwhile, as this is something related to Azu

[2019-07-09 09:47] thesilvereagle commented on #34552
Yes, right. I disabled language customization and it seems like it is working perfectly. Thanks for backing me with such a great explanation :D

[2019-07-09 09:50] #34552 closed

[2019-07-09 09:51] raman-netsol commented on #32325
Hi,
I am attaching the error logs also. PFA
[deployment_log.txt](https://github.com/MicrosoftDocs/azure-docs/files/3372379/deployment_log.txt)

[2019-07-09 09:55] racchen opened #34754 "For Authorization endpoint URL and Token endpoint URL , why we need to use the v1 endpoints?"
As description above,  "Specify the Authorization endpoint URL and Token endpoint URL. Retrieve these values from the Endpoints page in your Azure AD tenant. Browse to the App registrations page again, and select Endpoints.
 Note
Use the v1 endpoints here" what's the concern in using v2 endpoint here?

We implement another service in front (https://github.com/AzureAD/microsoft-authentication-libra

[2019-07-09 09:56] zhalu opened #34755 "The pages in the index point to the same page"
The pages "Recommended practices" and "Refactor a migrated app" in the index (below the current page) are redirected to the same page: https://docs.microsoft.com/en-us/azure/architecture/service-fabric/migrate-from-cloud-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ccef2a-a84b-8622-7648-06eef296bff0
* Vers

[2019-07-09 10:00] racchen commented on #34754
https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison
As I understand, ADAL is for v1 and v2 is to use on MSAL. However, if we want to make APIM Oauth to support v2, will it be available?

[2019-07-09 10:17] YASWANTHM-MSFT commented on #34572
@richieteh94,  Azure Cloud Shell is assigned per unique user account and automatically authenticated with each session. This makes it a private and secure environment. For security reasons, each user should provision her or his own storage account.
In the backend, Azure uses containers and automatically attaches an Azure File Share to the container. You can store the data on it, so your data is pe

[2019-07-09 10:22] VikasPullagura-MSFT commented on #34755
@zhalu Thanks for the feedback, I am assigning the issue to the document author to get details on the redirection of index tabs to same page.

[2019-07-09 10:23] LeeHyeongWon opened #34756 "OptimizeForPerformance and false"
Hello.

 #33652 <- This is same problem.

but, When I opened it again, my problem was explained incorrectly.

Let me explain again.

I'm using IoT Edge offline now.

Edge is using Machine Learning as a module.

But there is a problem.

The Machine Learning module turns off during use.

Go to #33652  for details.

This is relevant Log.

{"log":"2019-07-02 18:40:29.427 +09:00 [INF] - Created cloud c

[2019-07-09 10:26] ChiragMishra-MSFT commented on #34745
@kromerm Can you please have a look at this ?

[2019-07-09 10:28] msrini-MSFT commented on #34746
@hkamel , Thank you for your feedback. I have assigned this issue to the author to update the documentation with the correct link.

@yushwang , Can you take a look and update the documentation with the URL for Check Point ?

[2019-07-09 10:29] VikasPullagura-MSFT commented on #34755
@vturecek Can you please look into the issue.

The page **Refactor a migrated app** [https://docs.microsoft.com/en-us/azure/architecture/service-fabric/refactor-migrated-app](url) is getting redirected to same page as **Recommended practices** [https://docs.microsoft.com/en-us/azure/architecture/service-fabric/migrate-from-cloud-services](url)

[2019-07-09 10:30] AmanGarg-MSFT commented on #34491
@gavinwilliams Thank you for your suggestion. You can definitely use azds prep and azds up instead of the sample project provided in the document.

For the difference between the two methods you may find the below link relevant:

https://stackoverflow.com/questions/54967977/no-dns-ingress-to-azure-dev-space-deployed-via-ci-dc

Meanwhile, I have assigned the issue to the content author to evaluate

[2019-07-09 10:35] KrishnaG-MSFT commented on #34675
@tfitzmac Please comment and provide clarification.

[2019-07-09 10:41] sergaz-msft commented on #32693
Thanks for confirming @algorni . @robinsh can we close this case or you would like to keep it open to track the enhancement of this doc? Thanks!

[2019-07-09 10:42] parabolic123 opened #34757 "Does Update-MSOLFederatedDomain need to be done for manually updated certificates where metadata is exposed publicly?"
We have 2012 R2 ADFS servers with several relying parties, IBM BPM is incapable of pulling the Metadata manually, we need to renew the token signing and decrypting certificate. I'm planning on using the Power Shell commands below to do this:

Set-ADFSProperties -CertificateDuration 1827
Update-AdfsCertificate -CertificateType Token-Decrypting -urgent
Update-AdfsCertificate -CertificateType Token-S

[2019-07-09 10:42] AshokPeddakotla-MSFT commented on #33835
@LeeHyeongWon Since this channel is for driving improvements towards MS Docs, please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it will be a better place to get help on your scenario. Other community members can provide their expert guidance on your scenario as well.

[2019-07-09 10:48] bobbytreed commented on #34512
Sure, I will see if we can get a sample script added.

[2019-07-09 11:20] yashesvi commented on #29861
Reservation is applied on per hour basis. Its use it or lose it per hour and not an aggregate for the day.

Extending this to your specific question - "My Query is Do we have to pay for 2nd Dev Test VM as it is not running after 6 PM and running concurrently at the same time when my VM1 is running and also stops at the same time as VM1 Stops? if VM2 would have been running after 6 PM then i would

[2019-07-09 11:26] KrishnaG-MSFT commented on #34738
@cengxiye Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-09 11:29] tchmiel commented on #32711
Original issue was resolved after the SDK was updated to 1.0.43.

[2019-07-09 11:29] aquibqureshi26 commented on #29861
I had confirmed from Azure Billing Support team and they confirmed that RI would be applicable for both the VMs. No problems though. you can close this thread as i trusted support team and purchased RI for my customer.

[2019-07-09 11:34] aquibqureshi26 commented on #24114
Any update?

[2019-07-09 11:40] SadiqhAhmed-MSFT commented on #34749
@MrLokeshV Thanks for the question. Would it be possible for you to create a new group and add all those users who you want to send the alerts?

[2019-07-09 11:46] SadiqhAhmed-MSFT commented on #34749
@rboucher Would you have any other suggestions for this scenario?

[2019-07-09 11:49] MrLokeshV commented on #34749
@SadiqhAhmed-MSFT As i mentioned it is difficult to get the access for group creation. For one time if we will get the group created also then if every time if we wanted to add or remove any member we have to take permission again and again, So it will be better if we have one option to add multiple mails id's as we have before in classic alert.

[2019-07-09 11:51] jshinevar opened #34758 "Misspelling"
This paragraph:
If the restored database is intended as a replacement for the original database, you should specify the orinal database's compute size and service tier. You can then rename the original database and give the restored database the original name using the ALTER DATABASE command in T-SQL.

Should say:
If the restored database is intended as a replacement for the original database, you

[2019-07-09 12:02] jakaruna-MSFT commented on #34244
@roymeforever Previous configuration is for the latest version of kiali.
Kilai version from our document is  0.14.0.
Use the below  configuration for the config map kiali. I tested it. Works well.

[code]

[2019-07-09 12:05] AjayKumar-MSFT commented on #31920
The doc was refreshed with some clarification, so we will close this out, but if you feel you need more information please just let us know.

[2019-07-09 12:05] #31920 closed

[2019-07-09 12:10] SaurabhSharma-MSFT commented on #34583
@pbalzer Thanks for your feedback.  I am checking internally with the product team if it is possible to reset the dynamic consent and update you back.

[2019-07-09 12:29] ManojReddy-MSFT commented on #34065
@frasercarter If you are planning to implement Hybrid Azure AD join, then yes it is recommended to remove them if you are not using the latest version of Windows 10.

[2019-07-09 12:30] ManojReddy-MSFT commented on #34077
@frehnejc We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-09 12:30] #34077 closed

[2019-07-09 12:32] jakaruna-MSFT commented on #34290
@medavamshi Did you had a chance to get this working

[2019-07-09 12:34] jakaruna-MSFT commented on #34452
@rothja
please review this issue and update the document as appropriate.

[2019-07-09 12:36] ManojReddy-MSFT commented on #33808
@msfcolombo The claim spec URI format is not used in JWT. It is used only in SAML and can be customized for any custom claims you need.

There is no actual list which has this information.

[2019-07-09 12:38] jakaruna-MSFT commented on #34470
@andybouts I will check tomorrow and update you with the script.
In that time,
You can go to the azure portal ans create a machine with auto shutdown options.
Dont click on create, Instead click on Download automation script. It will show the actual ARM template which is going to use. We can pick from there.
Try this out.

[2019-07-09 12:38] ManojReddy-MSFT commented on #34125
@ingljo Sorry for the delay.AFAIK this is not possible. I am assigning this to the author to confirm this.

[2019-07-09 12:40] medavamshi commented on #34290
I haven't tested this one yet .  a wildcard isn't an option if we have to allow only few images.  Only option i could see is included all the 4 subscriptions and allow each image on each subscription. I will try this next week

[2019-07-09 12:40] jakaruna-MSFT commented on #34534
Thanks @zr-msft .
@gionapaolini   I will close this issue for now. Please use AKS-engine if you need this customization. Also feel free to open a issue as suggested by palma21
Reach out to us if you face issues

[2019-07-09 12:40] #34534 closed

[2019-07-09 12:42] SaurabhSharma-MSFT commented on #34613
@stephenacrown Ideally the MFA will be disabled for the account but can you please ensure that Multi-Factor Auth Status shows as Disabled in the AAD Portal (Azure Active Directory > Users > Multi-Factor Authentication) for the breakglass account.
If yes, I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. I

[2019-07-09 12:42] andrewtyped commented on #21930
@MicahMcKittrick-MSFT The linked document indicates that locking occurs at the level of the entity or the collection. The deadlock example is for two transactions modifying the same collection (or maybe key? It just says "K1"). The issue author is using nested transactions to modify two different collections. Do you assert deadlocks can still occur in this case?

[2019-07-09 12:48] sergaz-msft commented on #34748
Hello @obrookstein thank you for your feedback.
You are correct, if you need to filter different messages based on the sensor Id, you will filter your messages using User Defined Functions (as described [here](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-user-defined-functions)) .

In order to route UDF events to Event Hub you will configure it as described [here](https://docs.micro

[2019-07-09 13:02] Ashley-Walton opened #34761 "Is this approach against Microsoft's own principals?"
My understanding was that Microsoft's security principals are to secure the identity, rather than securing the resource. This approach seems to be against that principal as the resource is the thing that is being protected in this instance, not the identity.

In the instance where the resource tenant is a 3rd party which you have no control over, you cannot control whether MFA is required for that

[2019-07-09 13:07] monhaber commented on #33748
I spoke to the PM who answered ...
As for AKS- yes, Security Center agent works on AKS nodes and are installed automatically following cluster creation.  However, since AKS nodes are different than other VMs, there are some differences in the security alerts and security recommendations that you will see.

[2019-07-09 13:10] garybushey opened #34762 "The Application Security Group link should take you to a page describing Application Security Groups"
Right now it takes you to the REST call for it which is not very useful in the context of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a52c6eeec07a
* Content: [Best practices for network security - Microsoft Azure](https:

[2019-07-09 13:10] bh56 commented on #34693
Yes, this is a great question.  B2B accounts aka Guest Accounts.  The myriad of Azure Services.  It's not very clear what consumes a license of the 1:5 ration.  It would be great, if you could view this specifically.  When In inquired this to an MS Sales Support representative, he said the premium feature/entitlement is for active users per month.  So, not exactly for each guest user assigned in t

[2019-07-09 13:11] monhaber commented on #32591
@dcbrown16 These topics are old topics with outdated information, that have been replaced with new topics. We eventually remove them completely.

[2019-07-09 13:11] obrookstein commented on #34748
Thanks @sergaz-msft,

I understand that I can setup different matchers, to route telemetry messages to different UDF. However, eventually, after the UDF has processed the data, all results will be sent to the same endpoint as I configured for UDFCustom - correct?

I mean that there's no way, to route/sort the telemetry, based on the sensor id / type for instance to different endpoint. For example

[2019-07-09 13:16] monhaber commented on #33321
@dcbrown16  To answer your question, check out our new updated topic...
[Azure App Service](
https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-compute#azure-app-service-)

which is part of our "New and Improved" Alerts section.
[Security Alerts in Azure Security Center.
](https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview)

I am happy

[2019-07-09 13:17] Placid7 commented on #19863
Has this been escalated? I mean Edge is a Microsoft product...
Ryan Thomas
<https://www.youracclaim.com/badges/b9658791-3567-4cb3-a732-1dd62bd1ad5f/public_url>[image:
AWS Certified SysOps Administrator - Associate]
<https://urldefense.proofpoint.com/v2/url?u=https-3A__www.certmetrics.com_amazon_public_badge.aspx-3Ft-3Dc-26d-3D2018-2D08-2D27-26i-3D3-26ci-3DAWS00579858&d=DwMGaQ&c=4ZIZThykDLcoWk-GVjS

[2019-07-09 13:21] aquibqureshi26 commented on #33748
I believe the question which I had raised is of completely different issue.

[2019-07-09 13:26] hope4555 opened #34764 "What permissions does the SyncUser must have?"
What permissions does the SyncUser must have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242aab4ec
* Content: [Azure SQL Data Sync](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data#feedback)
* Content

[2019-07-09 13:27] DavidPrio commented on #28833
Hi @tysonn do you have any news on this?
@ishasahni1 @SunnyDeng  FYI

[2019-07-09 13:27] gtgray opened #34765 "Update the document"
Document section about receiving notifications in application is obsolete. Notifications from FCM are received now by extending FirebaseMessagingService. See this [link](https://firebase.google.com/docs/cloud-messaging/android/receive) for more info.

[2019-07-09 13:34] sourton2013 commented on #22723
Doesn't work for me after so many tries - I get the following error: Activity TriggerCopy failed: Activity IterateSQLTables failed: The function 'length' expects its parameter to be an array or a string. The provided value is of type 'Null'.

[2019-07-09 13:36] monhaber commented on #28186
@stschulznz  You are right! Thanks for noticing (and sorry for the delay.)  I am updating the doc.

[2019-07-09 13:39] gtgray opened #34766 "Update the document"
Document section about receiving notifications in application is obsolete. Notifications from FCM are received now by extending FirebaseMessagingService. See this [link](https://firebase.google.com/docs/cloud-messaging/android/receive) for more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9ae

[2019-07-09 13:39] #34765 closed

[2019-07-09 13:40] gtgray commented on #34765
untargeted

[2019-07-09 13:53] RyanHill-MSFT commented on #34766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-09 14:02] soul4soul opened #34769 "New token instead of refreshing a token? The section "Refreshing the access token" is not clear."
Some questions in regards to this doc:

[code]
1. How long is *short-lived*? On [this MSDN page](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/dashboard-api#obtain-an-azure-ad-access-token) it says the token lasts 60 minutes. Is that true?

[code]
2. Do refresh tokens expire or not? *Not specified lifetimes* sounds like it has an infinite time limit. *Relatively long* sounds

[2019-07-09 14:06] PramodValavala-MSFT commented on #34429
@NickDrouin I hope my previous comment clears things up.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-09 14:06] #34429 closed

[2019-07-09 14:11] Oreo-Dev opened #34770 "The On-premises data gateway flow chart is misleading."
I'm a bit confused as to why the flow chart shows the Azure gateway service as a requirement to connect all Power platform apps to on-premises data sources. **Azure** on-premise data gateway is not required for connecting on-premises data to Power BI, Power Apps, and Microsoft flow. However, to connect the apps (Power BI, Power Apps, MSFT Flow) to on-premises data; a data gateway is required to be

[2019-07-09 14:14] desarkar opened #34771 "Outdated"
1. Refers to RDP to head node. Windows clusters are gone. Article should be updated with steps for Linux.
2. Refers to Hive command line which is deprecated. Article should be updated with steps for beeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9783f450-14dc-ae85-878d-38e359f82818
* Version Independent ID: 5a

[2019-07-09 14:31] w0ut0 opened #34772 "ARM template for custom storage"
Hi,
I'm deploying my custom container in Azure App Service on Linux.
I can mount my blob storage container using the Azure portal and using the CLI, but I can't find any reference to the correct ARM template to use.
Is it possible to provide an alternative to the Azure CLI command in the form of an ARM template?

thank you,

---
#### Document details

⚠ *Do not edit this section. It is required fo

[2019-07-09 14:35] BjoernLaemmerzahl commented on #6764
It is not until is was reading through these comments that I found out why I can't change parts of the developers portal in the new publisher portal. Instead I have to use the old one. Very confusing.

[2019-07-09 14:48] jwargo commented on #34766
@spelluru will take a look at this next week.

[2019-07-09 14:53] KalyanChanumolu-MSFT commented on #34229
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-09 14:53] #34229 closed

[2019-07-09 15:07] jks05c commented on #34693
Unless I am mistaken, I was able to use conditional access (made available through my license) to enforce MFA for a guest user who had no license. So, even though I could not enable MFA for them through the MFA portal, it was still enforced anyways (for users within the 1:5 ratio) and thus did not consume any more licenses other than my own. This now makes sense to me, but I just want to make sure

[2019-07-09 15:08] justinhauer commented on #29268
@xamarin-enthusiast did you resolve this? you can either right click on the file in storage explorer, or there is a --content-type flag in the azure cli

[2019-07-09 15:09] AndreiDita opened #34774 "AustraliaEast region"
Looks like AustraliaEast region supports Availability Zones.

Get-AzureRmComputeResourceSku | where {$_.Locations.Contains("australiaeast")};

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Avai

[2019-07-09 15:16] alkohli commented on #34704
#in-progress

[2019-07-09 15:18] w0ut0 commented on #34772
I found a reference to the ARM template on the [this ](https://social.msdn.microsoft.com/Forums/office/en-US/347d8cd7-fc1b-4979-8f78-76e226c8d896/arm-deployment-of-mounted-drives-no-longer-works) thread, however I can't get the template to work (and neither can the topic starter it seems?).

[2019-07-09 15:36] lichasu opened #34775 "myVmPublic에서 저장소 계정에 대해 엑세스가 됩니다."
@HoyeonHan commented on [Tue Jul 09 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/881)

예제대로 스토리지 계정의 방화벽 및 가상 네트워크 메뉴에서 private 서브넷에 대해서만 엔드포인트를 설정해도 public 서브넷에 연결된 myVmPublic에서 스토리지에 접근이 됩니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71

[2019-07-09 15:37] lichasu commented on #34775
Hi team, please check this issue. Rough translation:

[2019-07-09 15:38] alkohli commented on #34704
@cshalda Thanks for your feedback! The docs are updated and changes are merged. The updated content should go live after 10 AM today.

Closing the issue now.

#sign-off

[2019-07-09 15:38] OleksandrValetskyy opened #34776 "How to create a fixed size collection with desired throughput via ARM?"
Is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048de36f-ce9b-28de-e00e-4ef4dd18aeb0
* Version Independent ID: ef5e73de-be72-85e1-c5ec-cb2662e4673a
* Content: [Azure Resource Manager templates for Azure Cosmos DB API for MongoDB](https://docs.microsoft.com/en-us/azure/cosmos-db/manage-mongodb-with-reso

[2019-07-09 15:39] Mike-Ubezzi-MSFT commented on #33048
@tristanbarcelon You can use the following argument with the Emulator command line to start the emulator on a different port ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#command-line)) when running localhost or running on a local network ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-a-local-network)).

DirectPorts | Specifies the port

[2019-07-09 15:41] #34758 closed

[2019-07-09 15:44] christianrondeau opened #34777 "Rewrite rules to send to another backend pool"
I understand Host headers are not supported, but I'd like to understand where does the rewriting happen, and whether it can affect which backend pool will be selected (the graphic seems to suggest so).

I have two backend pools, for site1.example.org using backend1 and site2.example.org using backend2. I want to use a rewrite rule so site1.example.org/users/2134 redirects to to backend2 (note that

[2019-07-09 15:52] KranthiPakala-MSFT commented on #34770
@Oreo-Dev Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-07-09 15:55] baptisteohanes commented on #18015
Hello,

we have the same request for official documentation on immutability of logs for the french ministry of social affair.

Do you plan to update the public documentation

Baptiste Ohanes, Cloud Solution Architect, MSFT

[2019-07-09 15:57] SubhashVasarapu-MSFT commented on #34515
@ivasilyev-servicetitan-com, Appreciate your patience, I have reproduced this scenario and it looks like different deployment model VNETs under the same region and different subscription are able to peer which cannot be done from the portal. Assigning this to the author for further improvements in the document.

[2019-07-09 15:59] Mike-Ubezzi-MSFT commented on #34764
@hope4555 Thank you for your interest in Azure cloud. Your question(s) regarding the appropriate permissions can be answered with the following ([doc](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-best-practices-data-sync#database-accounts-with-least-required-privileges)).

 - **For sync setup**. Create/Alter Table; Alter Database; Create Procedure; Select/ Alter Schema; Create

[2019-07-09 16:04] Mike-Ubezzi-MSFT commented on #34776
@OleksandrValetskyy Thank you very much for your interest in Azure cloud. I am investigating this and will update you when I have a better understanding of the current functionality. Than you!

[2019-07-09 16:07] Mike-Ubezzi-MSFT commented on #31226
@MightyPen Thank you for this! The doc metadata needs to be updated to detail the correct doc owner. Assigning to @craigg-msft for correct assignment. @CarlRabeler for awareness.

[2019-07-09 16:11] Mike-Ubezzi-MSFT commented on #34758
@jshinevar Thank you for this. The correction has been merged and you should see the change made live today. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-09 16:13] zaidi-houda commented on #24319
Hello everyone,

Someone could find a solution for this issue. I have the same problem with Azure ML service, can we set the worker timeout setting with image config on python SDK or with Azure APP Service environement variable ?

[2019-07-09 16:35] KranthiPakala-MSFT commented on #34717
@karthiksubramanians Thank you for your inquiry. Could you please elaborate what is meant by "Request charge for the copy activity to and from Cosmos DB via ADF"?

[2019-07-09 16:35] Mike-Ubezzi-MSFT commented on #34555
@matjazmav The closest you can replicate this functionality is to run your application on an Azure virtual machine where this VM is part of the same Azure Active Directory tenant you Azure SQL Database AAD Admin is part of. Question for you. Is the login credential used to access the client host where SSMS is being used to access your deployed instance of Azure SQL Database also the same account I

[2019-07-09 16:38] tamram commented on #29695
#reassign: @normesta

[2019-07-09 16:41] kucster opened #34779 "Clarification needed"
I've enabled this for my company and I still see people trying older protocols such as IMAP and getting that there password did not match. It appears that people are still able to try but I image will be blocked once they have a good password. This should be clarified in the above and you might want to look at changing that in the future as this doesn't really block the spray attempt, just them us

[2019-07-09 16:46] mmacy commented on #34392
@nezoic Hi Joshua, yes, you do currently need to use Azure AD Graph to manage users in your Azure AD B2C tenant. The Microsoft Graph team is working to close the gap between Microsoft Graph and Azure AD Graph functionality, but in this case, you'll need to continue using Azure AD Graph.

[2019-07-09 16:49] rhythmnewt commented on #33988
@ChristianMontoya  Yes, that is correct. These web applications should only be accessed from the published browser. Then does this mean that I must provision public IPs for each of my session host VMs in order to know what they are?

[2019-07-09 16:53] shashishailaj commented on #34623
@Monual I believe we still have this command available in the current [Azure AD powershell version](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureaduserapproleassignment?view=azureadps-2.0) . I would suggest to please check the module version once. I checked it on my system and it still works.

![image](https://user-images.githubusercontent.com/532022/60907333-ea3a6380-a296-1

[2019-07-09 16:54] karthiksubramanians commented on #34717
I am copying data from a SQL database table (Postgresql/MySQL) into Cosmos DB. Will I get the RUs cost for inserting/upserting into Cosmos DB table? (RU write/upsert consumed like we get from Query stats). Also from copying from Cosmos DB?

Additionally, if I am using a For Each activity in the pipeline , will it expose the RUs for each loop of that pipeline.

I am trying for this as I want measur

[2019-07-09 16:55] KranthiPakala-MSFT commented on #34711
@curtisbuhler The PR merge is now completed and document has been updated. Thanks again for the feedback and bringing this to our notice, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-09 16:55] #34711 closed

[2019-07-09 16:55] ChristianMontoya commented on #33988
@rhythmnewt : I have not tested this specifically, but it should look like this scenario: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#lb . So basically, create a load balancer, create/assign a public IP address, add the vms to it. You will also need to add an Outbound rule for 443 so our agent can talk to the service or use HTTPS outbound in general.

[2019-07-09 16:56] shizn commented on #34396
Hi @kd2eom, the tool is available with both python2 and 3. So it works with `pip install` and `pip3 install`. Sometimes developers do soft link to `pip`, so invoke pip it will invoke either pip or pip3, depending on how developers set the system up. We didn't specifically talking about python and pip problem in the doc.
Given you have both python2 and python3 on your Ubuntu, and only python3 works

[2019-07-09 16:58] PingPongSet opened #34780 "Better code example series"
I don't think azure-voting-app-redis is a best example.
https://github.com/Azure-Samples/azure-voting-app-redis

Ideally, can we document how to create an app that has multiple images based on each projects, ideally via visual studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f634bf-2280-a093-5897-724310dafa2d
*

[2019-07-09 17:02] MightyPen commented on #31226
@Mike-Ubezzi-MSFT Mike, can you please reAssign this, from Craig, to 'RothJa'.  Craig has shifted up to M2 management, and Jason Roth no leads the SQL Writers team.  Thx

[2019-07-09 17:03] msmbaldwin commented on #32827
Hi, @afnw35342. We no longer provide release notes for Azure services, which is why this article had not been updated.  I have deleted the article entirely. Thanks for pointing this out! #please-close

[2019-07-09 17:03] #32827 closed

[2019-07-09 17:09] SumanthMarigowda-MSFT commented on #34568
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@normesta Requesting you to please add your comments here

[2019-07-09 17:09] BryanTrach-MSFT commented on #34772
@w0ut0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-09 17:11] msmbaldwin commented on #33097
Hello again, @PixelRobots.  [Azure Disk Encryption prerequisites](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites) now states:

[2019-07-09 17:13] PixelRobots commented on #33097
Thanks for the response.

[2019-07-09 17:25] shashishailaj commented on #34629
@dawander Dropbox for business supports just-in-time user provisioning. So I believe that the moment you re-enable a user in azure AD for dropbox and assign the relevant role to the account , logging in to dropbox for business should be working. You can check the article for [troubleshooting provisioning](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-provisioning-

[2019-07-09 17:25] #34629 closed

[2019-07-09 17:25] yashesvi commented on #29861
#please-close

[2019-07-09 17:25] #29861 closed

[2019-07-09 17:25] Haladu opened #34782 "I cannot create ZRS snapshots of managed disks using CLI"
Hi team,

When we run the Az cli script below he is not able to create a Managed disks Snapshot stored with ZRS replication type.

$ az snapshot create --hyper-v-generation V1 --source /subscriptions/XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourceGroups/prod-k8s-durable/providers/Microsoft.Compute/disks/kubernetes-dynamic-pvc-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXX--sku Standard_ZRS --name kubernetes-dyn

[2019-07-09 17:27] PramodValavala-MSFT commented on #34409
@dirthsj Hope my previous comment clears things up. We are assigning this issue to the content author for further review on the updates required on this doc.

[2019-07-09 17:31] cynthn commented on #33386
@luisdanielmesa Thanks for the feedback! The example given is just one way to choose an editor. I might re-write this entire article in the future to use Cloud Shell (because it is available everywhere).

#please-close

[2019-07-09 17:31] #33386 closed

[2019-07-09 17:36] cynthn commented on #33130
@ptuton and @MicahMcKittrick-MSFT Yep, this article should be updated to show creating a storage account (for storing logs) and enabling boot diagnostics. Not sure when they changed the default behavior. Thanks for pointing this out!

#please-close

[2019-07-09 17:36] #33130 closed

[2019-07-09 17:36] lingtham commented on #34511
Both of these commands return `no resources found` so I'm guessing they're not persistent volumes. `kubectl delete pvc azure-disk` reutnrs a persistentvolumeclaims not found error. I didn't create a persistent volume claim for the disks, they're static disks, made following [this doc](https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume).

Again, I tried deleting them on Azure Portal but i

[2019-07-09 17:37] vinapp commented on #34611
@YASWANTHM-MSFT, @mike-urnun-msft Any updates on this ?.

[2019-07-09 17:39] shashishailaj commented on #34642
@dkamstra Thank you for pointing that out . We have initialed a pull request internally to fix this so that it is as per changes in the new App registrations UI on the azure Portal . The change will be merged and the page will be updated within the next 24-48 hours as per the normal release cycle. We thank you for your contribution once again. We will close this issue now.

Thank you.

[2019-07-09 17:39] #34642 closed

[2019-07-09 17:41] YutongTie-MSFT commented on #34771
@desarkar Thank you for your feedback, we will investigate it and get back to you soon.

@marktab Hi, could you please check this issue and update the document? Thank you.

[2019-07-09 17:43] MarileeTurscak-MSFT commented on #34574
@Nosferatu-Dk I created a pull request to add a note to the document but will leave it up to @MicrosoftGuyJFlo to approve or reject it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/81704

[2019-07-09 17:43] #34574 closed

[2019-07-09 17:44] #33806 closed

[2019-07-09 17:46] shashishailaj commented on #34649
@rwike77 Could you please have the steps verified for this article with the sample author from engineering.?

[2019-07-09 17:48] MS-TimothyMothra commented on #34399
Sorry I didn't see this last week. I'm looking into it this morning

[2019-07-09 17:48] PramodValavala-MSFT commented on #34600
@ChiefWiggum We are assigning this issue to the author for review.

[2019-07-09 17:48] PramodValavala-MSFT commented on #34601
@ChiefWiggum We are assigning this issue to the author for review.

[2019-07-09 17:57] michaelmdeng opened #34783 "Permissions on DLSG2 using Service Principals"
The docs here mention to use SGs in AAD to manage ACL permissions on the data lake instead of individual users and principals.

However, it is currently not possible to add service principals as members of a security group in AAD. In addition, ADLSg2 is limited by 32 ACLs on a single file/folder. What is the suggested workflow for managing permissions on a larger number of service principals using

[2019-07-09 17:58] yushwang commented on #34746
@hkamel - please reach out to me internally. I am not sure what the feedback is about, will need some clarifications

#please-close

[2019-07-09 17:58] #34746 closed

[2019-07-09 17:59] sirdank opened #34784 "Is this correct?"
At the top of the page I see "Cluster autoscaler should only be tested in preview on AKS clusters with a single node pool." I believe the kubernetes system pods require a linux node pool so, if I want to run windows containers, I'll have to have two node pools minimum (one linux for kubernetes-system and one windows for my application). Am I expected to be able to use the autoscaler together the m

[2019-07-09 18:09] FrankHu-MSFT commented on #34622
Closing issue as the changes have been made and there hasn't been a response, please reopen the issue if you have anymore problems with the docs.

[2019-07-09 18:09] #34622 closed

[2019-07-09 18:10] MS-TimothyMothra commented on #34399
@MarkIannucci
The description for AppFilter is incorrect, thank you for bringing it to our attention.
It should say:

**First**,
Can you please make sure that you're on the latest version of the PowerShell Module (v0.3.1-alpha)?
We recently made a change to this schema.
I just ran all the examples on this page and confirmed that they're all valid.

**Second**,
Answering your request for an example

[2019-07-09 18:14] CawaMS commented on #34678
@SumanthMarigowda-MSFT we only ship .exe for Windows. But installing for all users should be a generic operation: i.e. sign-in as an admin, install the program, then put the program in the All Users folder. What's different that this user is looking for?

[2019-07-09 18:22] himanshusinha-msft commented on #34750
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2019-07-09 18:23] vladvino commented on #34685
@GauravLad12 gateway what you are looking for. Premium supports multiple custom domain names for the gateway. If the problem persists, please open a support case. #please-close

[2019-07-09 18:23] #34685 closed

[2019-07-09 18:24] cgardner63 opened #34787 "Set-AzureRmOperationalInsightsIntelligencePack"
This command is not working.  Is there an updated command or process?

Set-AzureRmOperationalInsightsIntelligencePack -ResourceGroupName &lt;logAnalyticsResourceGroup&gt; -WorkspaceName &lt;LogAnalyticsWorkspaceName&gt; -IntelligencePackName "AzureAutomation" -Enabled $true

When ran, I get
Set-AzureRmOperationalInsightsIntelligencePack : HTTP Status Code: NotFound
Error Message: Operation returne

[2019-07-09 18:26] kumarallamraju opened #34788 ""Add role" has been changed to "Add assignment" while adding roles to the users."
[Enter feedback here]
"Add role" has been changed to "Add assignment". Not sure if it's worth updating the screenshot. Thought I would let you know..

![Screen Shot 2019-07-09 at 11 25 56 AM](https://user-images.githubusercontent.com/15897803/60913469-55a31780-a23c-11e9-83a1-74414ca45645.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-09 18:32] Karishma-Tiwari-MSFT commented on #34237
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-09 18:32] #34237 closed

[2019-07-09 18:32] Grace-MacJones-MSFT commented on #34772
Hi @w0ut0, we need to do deeper analysis on this issue. Can you please reach out to us at azcommunity@microsoft.com with your subscription ID, site name, and timeframe of when you tried to mount the drive and it failed? Also, please include this post's URL in the email.

Since we will be working on this issue offline, we will now proceed to close this thread. If there are further questions regardi

[2019-07-09 18:32] #34772 closed

[2019-07-09 18:35] ninweninwe opened #34789 "There is a c# client api to manage lifecycle of blob?"
There is a c# client api to manage lifecycle of blob?  It has powershell/cli/rest api.  Does c# client API to support this?

[2019-07-09 18:37] Karishma-Tiwari-MSFT commented on #34780
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-09 18:38] Karishma-Tiwari-MSFT commented on #34784
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-09 18:41] BryanTrach-MSFT commented on #34727
@KeiroKamioka0000 It is not currently supported to have a custom domain on a free tier web app. If you attempt to scale down a site to the free tier with a custom domain, you will receive an error asking you to remove the custom domain. You will need to keep the app at the shared tier if you wish to keep your custom domain or remove the custom domain in order to scale down to the free tier.

More

[2019-07-09 18:41] #34727 closed

[2019-07-09 18:43] MarileeTurscak-MSFT commented on #34752
@AnoopCNair
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 18:44] MarileeTurscak-MSFT commented on #34779
@kucster
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 18:45] Grace-MacJones-MSFT commented on #34007
Hi @johndeu, do we have an ETA on this?

[2019-07-09 18:47] Karishma-Tiwari-MSFT commented on #34782
As mentioned in the note,

Can you please check if the region supports availability zones and share. If that's not the case, we can dig deeper into it.

[2019-07-09 18:51] MarileeTurscak-MSFT commented on #34788
@kumarallamraju
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 18:52] gershwin27 commented on #24029
@karlbunnell Did you obtain a resolution to this issue?  We are having the same issue you described trying to bring Palo Alto data into Log Analytics / Sentinel.

[2019-07-09 19:05] tarifrr opened #34790 "Windows Nodepool not being added to cluster"
Followed all the steps documented here, however when attempting to add windows node pool this is the result:

 "Operation failed with status: 'Bad Request'. Details: Windows profile definition is missing for the cluster."

Is there something that we are required to do as a prerequisite ?

This is my **az cli details:**

azure-cli  2.0.68
command-modules-nspkg   2.0.2 *
core  2.0.68
nspkg  3.0.4
te

[2019-07-09 19:07] eparizzi opened #34791 "How to extend metadata about shards?"
I need to keep custom metadata about each shard. I was thinking of creating a custom table in the Shard Map Manager database for this purpose. But I'm not sure if that's supported.
Is it going to create any issues when upgrading the Shard Map Manager database using the steps described here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-upgrade-client-library

---
#

[2019-07-09 19:08] MicahMcKittrick-MSFT commented on #29190
@carlfm01 we have determined this is an issue with the specific Data Science Ubuntu image.

It is not related to the Size of the VM or its location. Only with that specific image and unmanaged disks. Also note that it does work as expected for managed disks. And managed disks is the recommended way to go regardless.

I have a ticket open with the Data Science team to look into fixing the image. Ho

[2019-07-09 19:08] #29190 closed

[2019-07-09 19:09] MicahMcKittrick-MSFT commented on #33730
@theheatDK sorry for the delay on this. Many people have been out of office the last couple weeks. I am still taking a look into this and will be updating you shortly.

[2019-07-09 19:10] TravisCragg-MSFT commented on #34775
@lichasu If your VM in the public subnet can access the storage account, it means that you have either enabled VNET service endpoints on that subnet, or you have not properly configured your storage firewall. Please review your configurations or try to make a VM in a different virtual network that does not have service endpoints enabled.

[2019-07-09 19:12] femsulu commented on #34787
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-09 19:14] kromerm commented on #34745
When using Wildcards in the Source transformation, use a dataset that only specifies the container name, not a folder or file. You can specify the folder as part of your wildcard string.

[I have an example here](https://kromerbigdata.com/2019/07/05/adf-mapping-data-flows-iterate-multiple-files-with-source-transformation/).

[2019-07-09 19:15] MicahMcKittrick-MSFT commented on #33981
@sasanmcp apologies for the delay on this. I am working to find the correct author of the rest API docs so we can get the DiskCreateOption updated. Will update as soon as I have more.

[2019-07-09 19:17] MarileeTurscak-MSFT commented on #34762
@garybushey
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 19:18] MarileeTurscak-MSFT commented on #34769
@soul4soul
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 19:20] TravisCragg-MSFT commented on #34777
@christianrondeau I do not believe this is possible. If you would like to direct some requests to a different machine, it will probably be easier to give it a distinct path, and then route that path to the specified server. for Example, site1.example.org/users2/* will always redirect to a specific server.

[2019-07-09 19:21] MarileeTurscak-MSFT commented on #34761
@Ashley-Walton
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 19:22] SamGrantham opened #34793 "Due to Dependency, Enabling this Blocks access to Azure DevOps as well"
Hi team,

There is a known issue that when this is turned on you will cause user to be unable to access Azure DevOps. If you need the User Story from the DevOps side please let me know.

Can we Please add Azure DevOps to the list of impacted services and sites for example:
The policy you create applies to all Azure management endpoints, including Azure portal, Azure Resource Manager provider, clas

[2019-07-09 19:23] matt-clement opened #34794 "Missing Hyperscale SQL DB sizes in documentation"
I noticed an issue from a couple months ago requesting an update to the vCore SQL DB resource limits documentation page (https://github.com/MicrosoftDocs/azure-docs/issues/20662). Most of the sizes in that request were added, however it seems like some (mostly Hyperscale) may have fallen through the cracks:
* HS_Gen4_3
* HS_Gen4_5
* HS_Gen4_6
* HS_Gen4_7
* HS_Gen4_9
* HS_Gen4_10
* HS_Gen5_6
* HS_G

[2019-07-09 19:23] denhsu commented on #34480
@jakaruna-MSFT

we might be able to trigger our security scan in Azure DevOps release pipeline.

We have our application image store in ACR and it uses Microsoft official image "microsoft/aspnet:4.7.1-windowsservercore-ltsc2016" from https://hub.docker.com/_/microsoft-dotnet-framework-aspnet?tab=description.

Can you provide an example/tutorial on how to use ACR Tasks to setup an application rebui

[2019-07-09 19:28] MicahMcKittrick-MSFT commented on #34784
@sirdank take a look at the Limitations Documentation we have for running Windows Nodes

https://docs.microsoft.com/en-us/azure/aks/windows-node-limitations

We don't currently support AutoScaler and Windows Nodes at the moment

![image](https://user-images.githubusercontent.com/32313503/60917104-f990c100-a244-11e9-98fe-9bb05d83886d.png)

[2019-07-09 19:41] MicahMcKittrick-MSFT commented on #34790
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-09 19:46] shashishailaj commented on #34434
@moyanming We suggest you to test the sample for non-interactive authentication https://azure.microsoft.com/en-in/resources/samples/active-directory-dotnet-native-headless/ . This will surely give you an idea how to go forward on this. You can use [Microsoft Graph](https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/office-365-rest-apis-for-mail-calendars-and-contacts)

[2019-07-09 19:46] #34434 closed

[2019-07-09 19:48] #34675 closed

[2019-07-09 19:49] tfitzmac commented on #34506
@DieselAnalytics - I deployed an instance of Azure Data Factory, and I am not seeing any default locks applied to the resource group. I was able to add another resource to the resource group. Are you still having this problem?

[2019-07-09 19:51] tfitzmac commented on #34675
@anshulchopra - yes, it is a security principal. I have submitted a change to the text.

[2019-07-09 19:59] KevinMZiegler opened #34796 "No "Advanced tab" exists"
I suspect a UI change has made this obsolete, but this sentence:
"Click on the Advanced tab at the top of the routing rule configuration pane. Url Rewrite is disabled by default and you should only use this field if you want to narrow the scope of backend-hosted resources that you want to make available. "

is wrong as there is no Advance tab on the routing rule configuration pane

---
#### Docume

[2019-07-09 20:07] HarrisburgUSysAdmin opened #34797 "Skype, OneDrive, Teams and Outlook"
How can we prevent 2FA from prompting for all startup desktop apps such as Outlook, Skype, OneDrive and Teams?  We have MFA enabled via conditional access (external network only) but it seems like we are constantly getting prompted when this policy is applied.  If one of the apps such as OneDrive is not used for two hours it will prompt again for 2FA.

Is there a way around this?

---
#### Documen

[2019-07-09 20:09] Erikre commented on #33660
Adding @bandersmsft

[2019-07-09 20:11] MarkIannucci commented on #34399
@MS-TimothyMothra , thank you for the follow up.  As a customer, I really appreciate the open approach to documentation that Microsoft has recently adopted.

I am using `v0.3.1-alpha` build.

I think I understand why I was having so many problems.  I am attempting to configure the monitoring at the IIS application level, not the site level.  When I run `Get-IISSite` on the system, I get one websit

[2019-07-09 20:11] KepanoEgg opened #34798 "Scripting error with html file causes automatic redirect to jwt.ms"
When running the user flow after following this guide, I get quickly redirected to jwt.ms where it tells me there was a server error "The resource 'https://&lt;my-tenant&gt;.blob.core.windows.net/&lt;my-storage&gt;/custom-ui.html' contains script errors preventing it from being loaded."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-07-09 20:16] RyanHill-MSFT commented on #34766
Thanks for looking into this @jwargo

[2019-07-09 20:16] sasanmcp commented on #33981
Cool.

From: Micah <notifications@github.com>
Sent: Tuesday, July 9, 2019 12:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] possible values for -CreateOption? (#33981)

@sasanmcp<https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com

[2019-07-09 20:17] FrankHu-MSFT commented on #34769
@soul4soul
Thanks for your question, in regards to your questions:

Access token lifetimes can be found here : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties
The default is 1 hour, but can be changed by configuring the token lifetimes accordingly.

See : 1's answer. The default is 90 days.

You ca

[2019-07-09 20:21] MarileeTurscak-MSFT commented on #34552
@JasSuri is there a work item for this or ETA? Can we get an update to this thread when the documentation is added?

[2019-07-09 20:21] Karishma-Tiwari-MSFT commented on #34732
@dlepow We are seeing this error: Virtual network is not supported in location 'southcentralus' for container group 'test'. Please use one of the locations 'EastUS2EUAP,CentralUSEUAP,WestUS,WestCentralUS,NorthEurope,WestEurope,EastUS,AustraliaEast,JapanEast,NorthEurope,SoutheastAsia,EastUS2,WestUS2,CentralUS'.
Can you please confirm and update the document as needed.

@JuneZhao Thanks for the feed

[2019-07-09 20:21] mike-urnun-msft commented on #34754
Hi @racchen - Thank you for your feedback! We will review and update as appropriate.

[2019-07-09 20:22] liroforum opened #34799 "How to refresh id_token before expiry"
Is it possible to refresh the id_token before it expires. This id _token is required to access an api which is secured by 0auth 2.0. Is it possible by using any libraries?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
*

[2019-07-09 20:23] MGoedtel commented on #30951
@sshorkey - You are correct that with the number of recent changes to the portal as a result of delivering a better/cohesive log search experience, the steps are out of date and the article is pending an update.  In the meantime, select Monitor from the left-hand pane in the portal, then select Logs.  In the blank log query page, select the appropriate workspace from the top-left of the query page

[2019-07-09 20:32] Adam-Smith-MSFT commented on #34789
@ninweninwe There is information on how to use the rest API to make policies to manage blob lifecycle here: https://docs.microsoft.com/en-us/rest/api/storagerp/managementpolicies/createorupdate
This is currently the only API option that we currently support.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2019-07-09 20:32] #34789 closed

[2019-07-09 20:41] jscaravilli commented on #34566
I was mistaken - the issue still exists. It did appear to work for a moment, but the results are inconsistent.

[2019-07-09 20:41] jscaravilli commented on #34566
reopen

[2019-07-09 20:41] TylerMSFT commented on #34790
#reassign:MikkelHegn
I believe this is an issue on our side.

[2019-07-09 20:46] shashishailaj commented on #34523
@ericcwk  I understand you are talking about the [AAD login to Linux VMs]( https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad) on azure and we agree its still in preview .  Anyone who has already deployed the MFA server with a premium license would still be able to download and use the MFA server however , No new first time activation of MFA servers will be available hen

[2019-07-09 20:46] #34523 closed

[2019-07-09 20:48] shashishailaj commented on #34435
@akshaybabloo Thank you for sharing your finding . We are engaging content author on this to further get this reviewed with engineering and the article updated as necessary.

Thank you.

[2019-07-09 20:49] shashishailaj commented on #34435
@mmacy Could you please have this recommendation for document update reviewed with engineering and actioned as needed.

[2019-07-09 20:51] shashishailaj commented on #34591
@cherylmc Could you please get this issue checked with engineering and update the FAQs on this document as needed.

[2019-07-09 20:51] KranthiPakala-MSFT commented on #34783
@michaelmdeng Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-07-09 20:51] MarileeTurscak-MSFT commented on #34757
@parabolic123
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-09 20:55] banisadr commented on #32625
Hi @jwisener, not quite. All three services are built on Service Fabric in order to be highly reliable in their own right. Anytime data is passed to any of them, it is triply replicated before being acked so that it is being reliably stored in the system. That's the first part of reliability.

Next is delivery - all three of which also do reliably, but differently. Service Bus allows you to perfor

[2019-07-09 21:01] nschindler opened #34800 "Azure Enterprise Apps disabled"
I had the issue covered at the end of this article: https://directaccess.richardhicks.com/2019/04/29/always-on-vpn-and-azure-mfa-ests-token-error/
Both of the required enterprise apps were disabled.  It would be helpful to mention this somewhere in the official troubleshooting documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-07-09 21:03] markjbrown commented on #34776
Yes, this is possible but I would encourage you not to do this as there is no benefit to them. Due to ongoing customer feedback we will be deprecating all fixed collections at some point in the future as well.

However, if you insist on doing this and understand the limitations then you simply need to omit the shard key property and include the throughput. Here is a snippit below for the collectio

[2019-07-09 21:08] rhythmnewt commented on #33988
@ChristianMontoya wouldn't load-balancing the VMs manually interfere with session host load balancing?

[2019-07-09 21:11] ChristianMontoya commented on #33988
@rhythmnewt : Nope, shouldn't interfere, primarily because load balancing happens internally through the service, decides which VM to talk to, then reaches out to that VM to start an Outbound connection to the service for the end-user connection. It would most probably interfere if the connection was inbound into the load balancer (but is not the case here).

[2019-07-09 21:21] hoangpx commented on #16061
I got this message "The metric names were not found QueueMessageCount". I'm using resourceID: /subscriptions/<mySubId>/resourceGroups/<myResourceGroup>/providers/Microsoft.Storage/storageAccounts/<myStorageAccount>

[2019-07-09 21:24] dlepow commented on #34389
cc:/ @aanandr

[2019-07-09 21:27] MarileeTurscak-MSFT commented on #34612
Hi @stephenacrown , are you referring to the emergency access accounts?
"Create two or more emergency access accounts. These accounts should be cloud-only accounts that use the *.onmicrosoft.com domain and that are not federated or synchronized from an on-premises environment."

In this case this is only for emergency access accounts and not a policy that would apply to regular users.

Or are you

[2019-07-09 21:29] MarileeTurscak-MSFT commented on #34612
The emergency access accounts are strictly for emergency access and the recommendations for these accounts would be different than for that of regular users.

Adding @MicrosoftGuyJFlo

[2019-07-09 21:29] MarileeTurscak-MSFT commented on #34612
We will now proceed to close this thread. If I misunderstood your point or if you have further questions, feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-07-09 21:29] #34612 closed

[2019-07-09 21:36] MarileeTurscak-MSFT commented on #34556
Hi @pedrr ,

I have reached out to the product team to get an update on this. I do not believe that it is supported since it is not in the release notes anywhere, but I am not certain and will confirm.

[2019-07-09 21:39] georgewallace commented on #34728
@ioamnesia I have created a workitem for @DCtheGeek to look into adding PowerShell for publicip sections.

cc: @MicrosoftDocs/azure-cxp-triage

[2019-07-09 21:48] villanub commented on #28817
Any update on when this will be resolved? Same issue with the 2.0.0-preview version.

![image](https://user-images.githubusercontent.com/11998436/60925442-60c06c80-a269-11e9-9370-7bf0214f45bd.png)

[2019-07-09 21:48] MS-TimothyMothra commented on #34399
Hi @MarkIannucci ,
Unfortunately, Status Monitor v2 is currently unable to instrument nested websites.
We've had multiple requests for exactly this but haven't scheduled the work yet.

If you don't mind, please open an issue here: https://github.com/Microsoft/ApplicationInsights-Home requesting the feature. The upvotes will help us prioritize this work.

[2019-07-09 21:50] MS-TimothyMothra commented on #34399
@kobulloc-MSFT if there are no more questions, I think it is safe to close this issue.
I updated the doc this morning and my changes should be published by the EOD: https://github.com/MicrosoftDocs/azure-docs-pr/pull/81707

[2019-07-09 21:59] FrankHu-MSFT commented on #34596
@stephenacrown I see. Thank you for your feedback. I'll be sure to make sure that the product group that handles the MFA For Admin baseline policy looks into this issue further. In addition to that, is there any request in regards to the docs here?

Per the Warning :
![image](https://user-images.githubusercontent.com/6366013/60925886-c278da80-a259-11e9-88eb-204dd51ec490.png)

The suggestion is not

[2019-07-09 22:00] Karishma-Tiwari-MSFT commented on #34703
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-09 22:06] dmarlow opened #34802 "Certificate rotation frequency and storage"
"Microsoft automatically rotates these certificates in compliance with the internal security policy and the root key is protected by a Microsoft internal secret store."

Any additional information on the frequency of rotation (monthly, quarterly, yearly, etc.)?

Also, any details about what the "internal secret store" is? Is that blob storage, Key Vault, something else?

---
#### Document Details

[2019-07-09 22:08] josiah14 commented on #30469
I encountered this same issue on the template for creating a Python Azure Function triggered by a Service Bus Queue.  The initial code generated by `func new` creates an invalid `local.settings.json` that results in the following error message when running the function locally via `func host start`:

[code]

I suggest it might be in the best interest of both the users and those in engineering and

[2019-07-09 22:13] FrankHu-MSFT commented on #32583
Hey, I was just following up on this issue, and we're currently still looking into this. From my understanding we're currently looking into different solutions and I agree that it might make sense to change encryption types.

I will update this thread as soon as I have an update and apologize for how long it's currently taking.

Thanks!

[2019-07-09 22:14] aliceku commented on #34802
The frequency of rotation can change based on our compliance requirements, so we do not want to make statements here that need frequent updates.  The Trust Center link provides the audit reports that check on key rotation policies and Microsoft's compliance with them.  The internal secret store is not customer facing, and we do not disclose these details for security reasons.

[2019-07-09 22:14] femsulu commented on #34793
Thanks for the comment. this has been shared with the content author for further review,
@rolyon - would it be possible to update the doc with the above?

[2019-07-09 22:18] cynthn commented on #34703
@fitzgeraldsteele Thanks for catching those issues! I've filed a pull request to fix both the double-portal and CLI issues.

#please-close

[2019-07-09 22:18] #34703 closed

[2019-07-09 22:18] #34399 closed

[2019-07-09 22:20] FrankHu-MSFT commented on #32862
@mol I'm following up on this issue, this should be resolved within the next two weeks. Please let me know if this is not resolved within that time period. Also my suggestion would be to submit a support ticket and escalate this issue that way accordingly. If there's any issues with the support ticket, please let me know the support ticket number and I can follow up accordingly. Also please reopen

[2019-07-09 22:20] FrankHu-MSFT commented on #34263
@Girishvtm I'm following up on this could you please respond in regards to the last comment?

Thanks!

[2019-07-09 22:20] quinten-miller commented on #28697
Thanks @ms-premp - we were not even aware that Account Owners were able to create Billing API keys and that they had less privlidges.
The account owner turned out to be the Admin as well, however he had an MSA the same as his Work 0365, once sorted all fixed :)

[2019-07-09 22:27] SaurabhSharma-MSFT commented on #34583
@pbalzer As per the products team once the consent is granted to an app via static or dynamic consent, it is applied until revoked. Least principle means "don't ask for more than you need", not "ask for what you need every single time you need it".

[2019-07-09 22:28] SaurabhSharma-MSFT commented on #34400
@Expecho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-09 22:28] #34400 closed

[2019-07-09 22:29] quinten-miller commented on #28697
@vinnielima as you might gather from above comments, Account Admins can create API Billing keys, yet those keys don't have access to the full suite of Billing and Management API's. You will need an EA Admin to log in and create the keys.

The easy way to know if you are logged in as an Admin you would see *Enrollment* under the manage options, and under that you will see a list of Admins. The Acco

[2019-07-09 22:30] vikrantminhas opened #34803 "Not able to set Input with my blob storage account"
I keep getting this error while trying to add input stream from my blob storage,
Feature or property 'partitionKey' is not supported in API version 2018-11-01. Please use API version 2017-04-01-preview.
Can you please help in setting up the input correctly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41479e32-d4b4-3

[2019-07-09 22:32] SaurabhSharma-MSFT commented on #34449
@lightupdifire As per my knowledge this is not possible.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-07-09 22:34] SaurabhSharma-MSFT commented on #34686
@sebhe Thanks for your feedback.  I am checking up with the products team internally and update you on the same.

[2019-07-09 22:35] Alberto-Vega-MSFT commented on #34756
@LeeHyeongWon Thanks for reaching out. I see that in the issue you are referring to. You were offered a free one time support ticket. Did you create the ticket?

[2019-07-09 22:53] TravisCragg-MSFT commented on #34796
@KevinMZiegler Thanks for the feedback! The advanced tab is no longer needed to access these configurations, they should be under the "Update Routing Rule" blade when you select an existing rule.

[2019-07-09 22:57] dcbrown16 commented on #33321
Great, thank you! I'll close as I think that addresses the questions for now.

[2019-07-09 22:57] #33321 closed

[2019-07-09 22:57] dcbrown16 commented on #32591
Ok, thanks @monhaber!

[2019-07-09 22:57] #32591 closed

[2019-07-09 23:00] KranthiPakala-MSFT commented on #34701
@loukotaj I was able to reproduce the error reported above. This could be the error if the Azure storage output path already exists. Please try specifying another unique output path or append pipeline run id (stamp) in the output filename.

_There is a workaround to avoid this error_:

You must delete the existing output folder  “wordcount” folder, before running this pipeline.

OR

Rename the out

[2019-07-09 23:00] AndyWu7623 opened #34806 "multiple node pool with GPU node need to install nVidia driver"
the document below deploy the GPU node as second node pool:
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#schedule-pods-using-taints-and-tolerations

but didn't mention the instruction that the GPU node need to install nVidia drivers as below:
https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#install-nvidia-drivers
need to add tolerations to the example yaml in order to d

[2019-07-09 23:00] FrankHu-MSFT commented on #34691
I'm following up on this issue, thanks for letting us know we're currently still looking into this and will update this accordingly once we've confirmed.

[2019-07-09 23:00] dcbrown16 commented on #34658
Thanks @SnehaAgrawal-MSFT, I did see that blog but while the WebJob is still around, the experience described there is out of date. I'd like to see the document specifically mention when the DaaS WebJob is started and generally what it does.

[2019-07-09 23:00] KranthiPakala-MSFT commented on #34701
@loukotaj We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-09 23:00] #34701 closed

[2019-07-09 23:03] loukotaj commented on #34701
I tried this after reading about a similar issue, it did not fix my problem. The script runs successfully if I ssh into the created cluster and use spark submit to run it, not sure if that is useful. @KranthiPakala-MSFT

[2019-07-09 23:05] Karishma-Tiwari-MSFT commented on #34705
@CharmanderJieniJieni To understand better, can you please elaborate on your scenario a little more. For example, what do you mean by calculation on the VM. Thanks :)

[2019-07-09 23:10] KranthiPakala-MSFT commented on #34701
@loukotaj Thank you so much for your response and the info you provided is useful.

I tried deleting the output folder in the storage container and was able to generate the output file as mentioned in the document.

Could you please re-trigger your pipeline by renaming the output folder in the script "/spark/outputfiles/wordcount" to “/spark/outputfiles/wordcount01”.

[2019-07-09 23:11] dlepow commented on #34732
@JuneZhao - Thanks for pointing this out. I repro the issue as well, so will update the article.

cc:/ @dkkapur - FYI

[2019-07-09 23:12] HoyeonHan commented on #34775
![public_subnet](https://user-images.githubusercontent.com/1299905/60928842-cc4a1e80-a2e9-11e9-9aa2-94badd543962.JPG)
![firewall](https://user-images.githubusercontent.com/1299905/60928854-d3712c80-a2e9-11e9-9c36-01c1f0a024cf.JPG)

I attached 2 iamges for public subnet endpoint setting and storate firewall settings.
I have checked the tutorial twice...
When I tried to add deny rule to storage in o

[2019-07-09 23:19] FrankHu-MSFT commented on #34108
As said the ROPC flow is not a supported flow with AAD for hybrid identities.  If you're interested in pursuing this further please file a support ticket. Or file a git issue against the ADAL Python library. However, as stated on this thread the ROPC flow is not supported against hybrid identities. I'm closing this doc issue thread out now. Please go through those two channels to further pursue th

[2019-07-09 23:19] #34108 closed

[2019-07-09 23:19] dlepow commented on #31717
@dkkapur - Any other suggestions for this customer before we close this issue? Thanks.

[2019-07-09 23:19] roymeforever commented on #34244
Awesome.  This works well now.  Thanks @jakaruna-MSFT
Also a note on the password, probably best enclose it with double quote to avoid issue with special characters eg exclamation mark.

[2019-07-09 23:19] #34244 closed

[2019-07-09 23:19] soul4soul commented on #34769
Thanks for the links and comments. They clear up my misunderstanding about the lifetime of a token. It would make sense to update the documentation to remove the vagueness and link to some of the URLs to you provided.

[2019-07-09 23:23] dlepow commented on #31716
#assign:@dkkapur - Is this limitation something we need to call out in the docs? Thanks!

[2019-07-09 23:26] dlepow commented on #30630
#reassign:@dkkapur - Anything to add here before we close this issue? Thanks!

[2019-07-09 23:26] banisadr commented on #32661
Thanks Sean! The documentation has been updated.

[2019-07-09 23:27] Grace-MacJones-MSFT commented on #34706
@muyao-xu  Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-07-09 23:27] #34706 closed

[2019-07-09 23:29] banisadr commented on #33062
@spelluru is there a way to have tabbed selection of language/interface type? I know we used to have support for this in docs way back. Ideally, we can have CLI across the board and only show PowerShell if the reader clicks on the PowerShell tab for the code snippet.

[2019-07-09 23:31] dlepow commented on #34361
@ToruMakabe - The doc update will publish within the next day. Thanks for taking the time to report this issue.

#please-close

[2019-07-09 23:31] #34361 closed

[2019-07-09 23:34] KingdomOfEnds commented on #33665
@obrookstein - Have you tried accessing the required information through the Management API's? You can, for instance, follow the documentation here: https://docs.microsoft.com/azure/digital-twins/how-to-query-common-apis to query for sensorvalues (devices can submit information and properties about themselves as sensorvalues).

[2019-07-09 23:35] kobulloc-MSFT commented on #34803
@vikrantminhas Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-09 23:44] KingdomOfEnds commented on #33665
There's also a YOUR_MANAGEMENT_API_URL/system/devices/statuses API Endpoint as well.

[2019-07-09 23:44] mayanknayar commented on #34397
@MicahMcKittrick-MSFT - Automatic upgrade doesn't require a minimum number.

@ld0614 - For VMSS with 5 or fewer VMs, the upgrade will proceed 1 VM at a time. Hope this helps. We'll improve the document to detail this behavior.

[2019-07-09 23:55] vinnielima commented on #28697
@quinten-miller Thank you, as well as @ms-premp for the guidance.  The issue here is due to access as an EA Admin in the scenario of a reseller to an Entity, and inside that entity there are multiple other Microsoft Tier 1/Tier 2 CSPs.  Usually only the reseller has EA Admin rights.

Thank you again.

[2019-07-09 23:59] MarileeTurscak-MSFT commented on #34752
@AnoopCNair yes, this statement is still true. You can check the release notes for updates on this feature. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

Or you can make a request in User Voice. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-07-09 23:59] #34752 closed

[2019-07-10 00:05] Alberto-Vega-MSFT commented on #31238
I am closing this issue since there is a PR addressing your feedback. Thanks again for taking the time to reach out!

[2019-07-10 00:05] #31238 closed

[2019-07-10 00:08] femsulu commented on #34505
@bwren can you review the doc-enhancement request pls?

[2019-07-10 00:09] Alberto-Vega-MSFT commented on #30010
@nahojkj I guess the tutorial just tries to show the options available and a very simple example of usage

[2019-07-10 00:22] vikrantminhas commented on #34803
Thanks for looking into the issue.

Here are some addition details about my blob storage is generated in this format

Path prefix
microsoft authenticator ios - store_6385e6d87ad84642b21853eed0eecf76/Event/{date}/{time}
Date format is YYYY-MM-DD

My goal is to move this data from Application Insights to AzureDateLake storage.
Thanks
Vikrant
From: kobulloc-MSFT <notifications@github.com>
Sent: Tuesd

[2019-07-10 00:23] khmerforce opened #34811 "Eloqua Linked Service Failed"
I put Endpoint ***.***.eloqua.com and sitename\username but for some reason. Sitename is the company name right? I kept getting 400 Bad request. Please help. Why can't I connect it? is there some permission I need to do on Eloqua and Azure? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e71f1573-9c3e-9d73-2101-

[2019-07-10 00:35] MicahMcKittrick-MSFT commented on #34280
@TEKAzure a fix has been submitted. Once the PR merges the changes will go live after a few hours.

[2019-07-10 00:35] #34280 closed

[2019-07-10 00:55] christianrondeau commented on #34777
Thanks @TravisCragg-MSFT - knowing it's not possible is helpful (not as much as having the possibility, obviously!). We understand we can use a different path, but then that means semantic paths require the API consumer to know in advance which microservice will be handling what piece of data. As an example, imagine you have `/users/1234/orders` being handled by an order workflow microservice, and

[2019-07-10 01:12] tkumark opened #34812 "Corelation between Web App and API hosted in service fabric"
I have a web app and API Managment and Service Fabric. In the Application Map section of AppInsights I would like it to show the request flow from WebApp to ApI Managment to Service Fabric. In order to do that is it necessary that all the 3 services be in the same AppInsights instance. What is the best way I can accomplish this.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-07-10 01:21] stevestein commented on #31866
#please-close

[2019-07-10 01:21] #31866 closed

[2019-07-10 01:22] ABCodeMonkey commented on #34725
I suppose this is my own fault as I only reviewed this document<https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#feature-comparison-between-v1-sku-and-v2-sku> comparing the sku’s and did not drill into URL path routing differences as I thought I understood it. 😐

Thank you for the link.

From: TravisCragg-MSFT <notifications@github.com>
Sent

[2019-07-10 01:28] huislaw commented on #33226
No one?

[2019-07-10 01:45] FrankHu-MSFT commented on #34693
@jks05c  and @bh56  I'm following up on this. For each 1 paid Azure AD license, customers get entitlements for 5 Azure B2B users.

Think of it as a 'logical' entitlement - there is no need to assign licenses to guest users nor do they actually take up any licenses. So for a tenant with 10,000 Azure AD paid users, a customer has the same entitlements as their paid users for 50,000 Azure AD guests.

[2019-07-10 01:50] FrankHu-MSFT commented on #34692
Hey Jackson, I'm following up on this, we're currently looking into this issue and will let you know once we have an update. Thanks!

[2019-07-10 02:23] hisasima opened #34813 "Add sample scenario to explanation of service tags."
I sometimes this document to check how to use service tags but there are no datail explanation in some service tags. For example , GatewayManager, I found out this tag can use VPN or Application Gateway but I can not understand what scenario to be used with the tag. I hope that the explanation includes sample scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-07-10 02:27] genlin commented on #33452
@lastcoolnameleft Thanks for the suggestion. I have submitted a PR to add the information about "how to rename azure subscription". I will process to close this issue. Feel free to let me know if there is any additional comment or issue about this matter.

#please-close

[2019-07-10 02:27] #33452 closed

[2019-07-10 03:01] kman2123 commented on #34360
Hi just sent you an email. Was able to test just now and still no dice.

[2019-07-10 03:25] genlin commented on #33524
@MsdnUsrSince1994 I have submitted a PR to add the information. I will process to close this issue. Feel free to let me know if there is any additional comment or issue about this matter.

#please-close

[2019-07-10 03:25] #33524 closed

[2019-07-10 03:30] MicahMcKittrick-MSFT commented on #34765
@gtgray thanks for reaching out. If you still have issues just let us know.

[2019-07-10 03:33] vbalkaron opened #34814 "Table of Contents"
Hello - The table of contents in the AppSource & Azure Marketplace marketing best practice guide seems to be glitching, and the pages are incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467c5737-af04-369d-b2a0-eaae886ad1d0
* Version Independent ID: f65e4274-4bef-cbbf-a437-f2a14dd2d28e
* Content: [Go-To-Market

[2019-07-10 03:41] Nirmal4G commented on #34678
We have a common desktop system that are used by multiple users. When we install a program, that's usually installed in the `Program Files` folder, so that the program will be available with all users of that system, we have an uninstall entry and all that.

Sometimes we image the system with latest tools matching every windows release and MSI's or MSIX would be very useful to create a static imag

[2019-07-10 03:43] Nirmal4G commented on #34678
Basically matching this: [Install the sync client per machine](https://docs.microsoft.com/en-us/onedrive/per-machine-installation)

[2019-07-10 03:55] ericcwk commented on #34523
Dear ShashiShailaj

Thanks a lot on the update.

Regards
Eric Chan

ShashiShailaj-MSFT <notifications@github.com> 於 2019年7月10日 週三 上午4:47寫道：

[2019-07-10 04:08] BhargaviAnnadevara-MSFT commented on #34469
@Gutek We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-10 04:08] #34469 closed

[2019-07-10 04:20] MasayukiOzawa opened #34815 "An error occurs with the sqlLicenseType option"
When I ran the following command, an error occurred.
=====
New-AzResource -Name $vm.Name -ResourceGroupName $vm.ResourceGroupName -Location $vm.Location `
-ResourceType Microsoft.SqlVirtualMachine/SqlVirtualMachines `
-Properties @{virtualMachineResourceId=$vm.Id;sqlLicenseType='PAYG'; `
 sqlManagement='NoAgent';sqlImageSku='Standard';sqlImageOffer='SQL2008-WS2008'}
======
Error Message :
New-AzRe

[2019-07-10 04:23] PramodValavala-MSFT commented on #30469
@aorsten The `local.settings.json` file is generated by the `func init` command in fact and looking at the [code](https://github.com/Azure/azure-functions-core-tools/blob/cfde63b40651ad7c49f7368d62a90fa5c8f24b89/src/Azure.Functions.Cli/Actions/LocalActions/InitAction.cs#L266), looks like the config should be set when running on Windows (since the Azure Storage Emulator is supported only on Windows

[2019-07-10 04:34] ChiragMishra-MSFT commented on #34443
@vishalaj1 I have assigned the issue to the content owner and work internally with the team and let you know if it could be a bug.

[2019-07-10 04:46] SadiqhAhmed-MSFT commented on #34814
@vbalkaron Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@ellacroi & @qianw211 FYI.

[2019-07-10 05:02] YASWANTHM-MSFT commented on #34611
@normesta, Could you please provide your insights on this query?

[2019-07-10 05:03] #34572 closed

[2019-07-10 05:07] DerrickYang007 commented on #34750
I have tried  to post the question upto the MSDN  forum. I registered it ,But when I asked question,then website telled me my account shoud be verified?  How to be verified?Whay I can't ask a question after I registered its account legally?
Then I tried  to post the question up to  Stack Overflow website. But when I asked a question.It telled me ,the website page  should be loaded some file from G

[2019-07-10 05:08] SubhashVasarapu-MSFT commented on #34514
@ivasilyev-servicetitan-com, We are assigning this issue to the author for further modifications of the document.

[2019-07-10 05:11] BhargaviAnnadevara-MSFT commented on #34812
@tkumark Thanks for the question! We're investigating this and will get back to you shortly.

[2019-07-10 05:11] KrishnaG-MSFT commented on #34774
@AndreiDita Thanks for the comment. We are actively investigating and will get back to you shortly.

[2019-07-10 05:13] ram-msft commented on #33226
@huislaw Could you please add your feature request in the following [LUIS user voice forum](https://cognitive.uservoice.com/forums/551524-luis) link to proritize and you can email us at azcommunity[at]microsoft[dot]com so that we can ask the PG to put on prority for this geography support. Please provide us with your subscription id and URL of this thread in the email. I hope this helps!

[2019-07-10 05:13] KrishnaG-MSFT commented on #34791
@eparizzi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-10 05:16] KrishnaG-MSFT commented on #34794
@matt-clement Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-10 05:17] SubhashVasarapu-MSFT commented on #34813
@hisasima, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-10 05:22] KrishnaG-MSFT commented on #34802
@aliceku Thanks for the quick response. 👍

[2019-07-10 05:22] KrishnaG-MSFT commented on #34802
@dmarlow Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-10 05:22] #34802 closed

[2019-07-10 05:24] KrishnaG-MSFT commented on #34806
@AndyWu7623 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-10 05:26] cijothomas opened #34816 "Add asp.net core sections."
This doc lacks asp.net core specific instructions. Need to source content from asp.net core doc or link to that doc as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-f2a3ed13139a
* Content: [Filtering and preprocessing i

[2019-07-10 05:30] KrishnaG-MSFT commented on #34704
@cshalda Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-10 05:30] #34704 closed

[2019-07-10 05:37] jordanrgsd commented on #34633
![Capture](https://user-images.githubusercontent.com/52379971/60943173-bd239a80-a302-11e9-880f-82f992780e4e.PNG)

even after editing the url , getting the error.

[2019-07-10 05:43] ManojReddy-MSFT commented on #34797
@HarrisburgUSysAdmin It is possible to prevent MFA prompts based on the type of app, whether it's trusted or not, etc. Please take a look at the controls available listed here.
Also, are you getting MFA internally as well now? You do not want MFA at all in these apps?

These apps generally use Refresh tokens to remember MFA and will not prompt unless there is a change in the network/location etc.

[2019-07-10 05:48] carlfm01 commented on #29190
@MicahMcKittrick-MSFT thanks for the updates.

[2019-07-10 05:48] AshokPeddakotla-MSFT commented on #34630
@rido-min Have you had a chance to see the above response? Do let us know if you need further assistance.

[2019-07-10 05:50] hrana007 commented on #34745
The example you gave is for data set connected to blob storage.

I am using a data lake store where source files are uploaded using custom
activity.

I tried using adls but didn't work.

While reading | separated tsv files, I am detecting schema at dataset level
which helps data flow to accept file schema and column definition.

Source folder contains multiple schema files.

On Wed, Jul 10, 2019 a

[2019-07-10 05:50] sumitt18 commented on #16273
@nithinkd-geon
If the class implementing IEventProcessor does not have a parameterless constructor (e.g. due to dependencies), a factory class which implements  IEventProcessorFactory is required. The factory's CreateEventProcessor method should return an instance of IEventProcessor and this method will be called for each partition of the Event Hub.

The factory then needs to be registered with Ev

[2019-07-10 05:58] VikasPullagura-MSFT commented on #34511
@lingtham Thanks for providing the information and pointing to the document that was followed by you.

I have reproduced the issue and was successful in deleting the Static Disk attached to the Cluster.

These are the steps I followed (suggest you to try these):
- Scale down your deployment to Zero/Delete your deployment.
- Wait for sometime and you can see the Disk coming back to Unattached state

[2019-07-10 06:01] SwathiDhanwada-MSFT commented on #34531
The Log analytics agent (also referred as MMA) collects monitoring based data as well as the custom data sources that you configure. MMA also collects events from the machines to provide you tailored recommendations to make your workloads secure when you enable Azure Security Center.

MMA installation is supported both for "Free" Tier and "Per GB 2018" Tier in log analytics workspace. IMHO, "Free"

[2019-07-10 06:02] liydu commented on #30010
Resolved by: https://github.com/MicrosoftDocs/azure-docs/pull/30217

[2019-07-10 06:02] shef opened #34817 "An extra space needs to be removed after the backslash"
There is an extra space in line ```az network lb rule create \ ``` after the backslash. It needs to be removed to work properly in bash shell.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8800d557-d6b2-341a-bb0c-12ecae1b6c46
* Version Independent ID: bf15dea7-b0c2-e0b6-fcc1-db92a25d4faa
* Content: [Deploy an I

[2019-07-10 06:13] ManojReddy-MSFT commented on #34800
@nschindler Thanks a lot for providing this feedback. Ideally these service principals are created when you provide the GA credentials while running the setup and a certificate gets registered as the credential against these service principals.

These service principals are awyas enabled. I am assigning this to the author to see if we can consider adding "checking service principals state" as a ch

[2019-07-10 06:16] daruizcorrea opened #34819 "Data Churn and incompatible VMs"
It seems that the tool is not matching the checks for Premium storage and its capabilities properly.

We had a VM marked as incompatible when generating the reports though it only provided standard storage recommendations while Premium was supposedly capable of achieving the IOPS and Mbits/s.

Details below:
VM Name	VM Compatibility	Peak R/W IOPS (with Growth Factor)	Peak Data Churn (MBps) (with G

[2019-07-10 06:17] lightupdifire commented on #34449
@SaurabhSharma-MSFT
It is possible, but only for blocked user authentication attempt, so if user is blocked and try connect again, logs can be queried by this record:
<<
SigninLogs
| where Status.additionalDetails == "MFA denied; user is blocked"

From here can create Alert and notify admins.
Btw. the Fraud Alert reporting also report MFA blocked user, only this done once, per block.

[2019-07-10 06:17] #34449 closed

[2019-07-10 06:21] lightupdifire commented on #34531
@SwathiDhanwada-MSFT
Thank you for explanation! This is what I was looking for. My recommendation would be to add to this doc, that can be used any Pricing tier for MMA, or explaining possible deployment methods with Pricing tier options, which should be selected when.

[2019-07-10 06:29] SwathiDhanwada-MSFT commented on #34531
Assigning @MGoedtel  for visibility and document enhancement considerations.

[2019-07-10 06:34] VikasPullagura-MSFT commented on #34483
@mikhailgithub Is there any update on the issue?

[2019-07-10 06:36] Zimmergren commented on #30630
For my curiosity; What would be the reason for closing this now @dlepow? Has there been added support for Managed Identities in the Fluent API for ACI's, or other information/recommendations made available? While my workaround is solid, I wouldn't consider that a solution to this specific problem in the long-term and would love to avoid it for future implementations.

[2019-07-10 06:37] lightupdifire commented on #34531
I'm just sharing my experience, we have deployed Azure Security Standard, that require to onboard devices running in Azure, then price apply "per node".
Then for WIP project, we deployed MMA with free Pricing Tier to just collect WIP logs from physical end-user Windows 10 devices, but in Security Advisor there was information regards "Upgrade" and one of colleagues proceed with recommendation and

[2019-07-10 06:43] genlin commented on #33529
@Cojacfar The VPN client certificate also supports self-signed certificates. If you are using the CA signed certificates, you will not need to manually import the certificates. For more information, see [Generate and export certificates for Point-to-Site](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site). I will process to close this issue. Free feel to reo

[2019-07-10 06:43] #33529 closed

[2019-07-10 06:59] VikasPullagura-MSFT commented on #34774
@AndreiDita Thanks for the feedback.

I tried creating a new VM and VMSS in AustrialEast region, but I am not able to select the Availability Zone option for both the cases.

Please find below screenshots for reference:
AustraliaEast:
![image](https://user-images.githubusercontent.com/48944027/60947366-ff060e00-a30d-11e9-9173-335359af2219.png)

EastUS:
![image](https://user-images.githubuserconten

[2019-07-10 07:09] ManojReddy-MSFT commented on #34065
@whysyn We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-10 07:09] #34065 closed

[2019-07-10 07:14] ManojReddy-MSFT commented on #33382
@SinghGurd My sincere apologies for the delayed response.

I will try to explain the changes that AAD Connect does at each stage for your scenario

1) When you provide ADFS/ WAP details, this is just to let the AD connect know that these servers are already handling the ADFS and WAP role and will not have any behavior change at this stage.  AD Connect will try to connect to these servers and will

[2019-07-10 07:14] MikkelHegn commented on #34790
These parameters for cluster creation are mandatory to get Windows support in the cluster. Please notice you cannot do this using the Portal.

[code]

If you did add these at cluster creation time, please open a support ticket, so we can look in to why it's still failing.

[2019-07-10 07:25] genlin commented on #33556
@uonie  Yes, some screenshot in the article is out of date. I will submit a pull request to update it. Thanks for helping to improve the content

[2019-07-10 07:42] pbalzer commented on #34583
Ok so how can the consent be revoked?

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: mercoledì 10 luglio 2019 00:28
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Balzer, Peter (DI SW MOM R&D 1 DO) <peter.balzer@siemens.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] When is dynamic consent resetted? (#34583)

@pbalzer<https://github

[2019-07-10 07:49] d-h-morrison opened #34825 "Please Remove Erroneous Statement Regarding IIS Manager"
The statement asserting that we can connect to and manage an azure web app service via IIS Manager is incorrect.  This functionality no longer works and is no longer supported.   Please remove the incorrect guidance contained in this post.

[code]

[2019-07-10 08:13] kromerm commented on #34745
ADLS files work the same way as Blob in ADF. You can use wildcards and paths in the source transformation. Just set a container in the dataset. If you don't plan on using wildcards, then just set the folder and file directly in the dataset. Sent via the Samsung Galaxy S7, an AT&T 4G LTE smartphone
-------- Original message --------From: Harpalsinh Rana <notifications@github.com> Date: 7/9/19  10:5

[2019-07-10 08:20] Sethu2488 commented on #34455
Just wanted to check if you have any insight on the above questions asked.

[2019-07-10 08:26] SnehaAgrawal-MSFT commented on #34825
@d-h-morrison Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-10 08:27] msrini-MSFT commented on #34817
@shef , Thank you for your contribution. I will check with the author to review and approve the changes done.

[2019-07-10 08:53] jakaruna-MSFT commented on #34633
Error is 404 Not found. So the URL which we gave is not available.
Can you paste that GitHub link in the browser and check if it works or not.
![image](https://user-images.githubusercontent.com/43405697/60955351-472d2c80-a31e-11e9-92e2-100523bc9747.png)

Also post your custom script extension command

[2019-07-10 09:05] jakaruna-MSFT commented on #34806
@AndyWu7623 Agreed. We need to add info about driver installation.

 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-10 09:12] qinezh opened #34826 "Is there a way to bind event hub with MSI(Managed Service Identity) instead of Connection string?"
So that we could grant permission for azure function to listen event hub without connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Functions](https://docs.m

[2019-07-10 09:16] SumanthMarigowda-MSFT commented on #34459
@CharmanderJieniJieni  Apologies for the delay!
Have you referred to the suggestion mentioned in this article: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/archive-diagnostic-logs

[2019-07-10 09:17] Tkeyy commented on #16481
@dkkapur Any News on this Topic?

[2019-07-10 09:18] jakaruna-MSFT commented on #34455
@Sethu2488 When hardware failures occur in one fault domain, it wont affect the VM's in other domain.
Because each fault domains have separate power, cooling systems and network.

In your case Those 3 vms will be placed on three fault domains.  So in case of hardware failure in one fault domain, 2 VM's will be available.
Hardware failures in all the three fault domains means the whole data center

[2019-07-10 09:23] bartvermeersch opened #34827 "MFA or firewall issues?"
According to this documentation, Azure AD admin sign in doesn't work with accounts that have 2-factor authentication enabled. This is weird because it used to work?

Right now we get the following error "A connection to the server 'ABC.database.windows.net' could not be established. This may indicate an issue with your network connection or firewall configuration. Please check your network connect

[2019-07-10 09:25] KrishnaG-MSFT commented on #34798
@KepanoEgg Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-10 09:27] KrishnaG-MSFT commented on #34799
@liroforum Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-10 09:33] prabhakarreddy1234 opened #34828 "Azure frontdoor ARM Template with own certificate"
I am trying to automate complete creation of Azure Frontdoor through ARM Templates. But seems like we cannot achieve it. The problems i am facing are as follows.

1.  We cannot use `copy` function to create multiple backend pools (each pool with multiple backends). Since ARM Template doesn't support  `nested copy` feature yet.

2.  I used `copy` to create multiple custom domains at once but assign

[2019-07-10 09:36] prabhakarreddy1234 commented on #34025
@bandersmsft  Any update on this pls.

[2019-07-10 09:38] prabhakarreddy1234 commented on #34023
@femsulu  No response on stackoverflow question. Few people suggested me to ask the owner of template which is microsoft. Please re-open this issue and provide solution for this.  2 weeks ago I have raised many issues related to Budgets and none of them have moved forward. Azure Budgets seems to be not production ready yet.

[2019-07-10 09:42] DerrickYang007 commented on #34750
I have  posted my question on the  MSDN forum succesfully at last after I  have deleted images and links in the post body.Thank you for your attention.

[2019-07-10 09:53] Sethu2488 commented on #34455
Thank you

[2019-07-10 09:58] hansmbakker opened #34829 "how can we best get the DirectLine secret of a specific site in the DirectLine channel using an ARM template?"
Main question: **how can we best get the DirectLine secret of a specific site in the DirectLine channel using an ARM template?**

I found the `listChannelWithKeys` function. This is a semi-documented function on the [Microsoft.Bot/botservice/channels provider](https://docs.microsoft.com/en-us/azure/templates/microsoft.botservice/2018-07-12/botservices/channels).

It is listed in [Azure Resource ex

[2019-07-10 10:04] jakaruna-MSFT commented on #34470
I tried out and its working file. Please try out with the below template file and let me know
deploy.json
[code]

params.json
[code]

the allowed values for timezones are
`Dateline Standard Time,UTC-11,Aleutian Standard Time,Hawaiian Standard Time,Marquesas Standard Time,Alaskan Standard Time,UTC-09,Pacific Standard Time (Mexico),UTC-08,Pacific Standard Time,US Mountain Standard Time,Mountain Stan

[2019-07-10 10:07] PramodValavala-MSFT commented on #34676
@Herman-Wu Thanks for catching that! There is an issue on the Azure CLI repo that discusses this - Azure/azure-cli#8717

The fix seems to include `--location global` for `Microsoft.Resources.Subscriptions` and `Microsoft.Resources.ResourceGroups` topic types.

We have worked up a PR to fix this.

[2019-07-10 10:11] tarifrr commented on #34790
@MikkelHegn - yes those parameters were added. Do we need a particular subscription to use the Windows Node pool?

I am unable to open a Technical support ticket using Basic support so I have opened ticket 119071024000869 instead

[2019-07-10 10:20] SadiqhAhmed-MSFT commented on #34819
@daruizcorrea Thanks for the question. Is it happening only for one VM or for all the VMs? If it is for one VM then I would suggest re-running the tool once again. If this is an issue with all the VMs then that is something we need to look at and investigate further.

[2019-07-10 10:26] PramodValavala-MSFT commented on #34826
@qinezh While functions supports having a managed identity, the event hub binding doesn't support it yet.

There is a [feature request](https://feedback.azure.com/forums/355860-azure-functions/suggestions/37907848-support-for-azure-managed-service-identities-in-ev) which you could up vote for it to gain traction. Also, there are a couple of similar issues raised on the [azure-webjobs-sdk](https://

[2019-07-10 10:36] steffenschumacher commented on #10016
Hi,
Did you ever solve this ? I have the same issue - client credentials grant doesn't include scope/roles claim in token..

[2019-07-10 10:42] mol commented on #32862
Thanks @FrankHu-MSFT sounds good, go ahead and close it.

[2019-07-10 10:52] AnoopCNair opened #34830 "Can we update the VDI Support statement to give more clarity about WVD ?"
I know the current support statement says "**Hybrid Azure AD join is currently not supported when using virtual desktop infrastructure (VDI).**"

But, **it's not very clear** in terms of Azure Windows Virtual Desktop (another version of VDI) offering are also not supported by Hybrid Azure AD join scenario?

Can we add more clarity on this piece of work.

Thank you !

---
#### Document Details

⚠ *

[2019-07-10 10:53] ondrejhlavacek commented on #22676
Got to the same conclusion today. `kubectl drain` works as expected, but scaling down (tried only the UI option) will remove all running pods immediately no matter how i set up `terminationGracePeriodSeconds`.

[2019-07-10 11:05] cocowalla commented on #18259
I'm hoping all Storage services are included, and also looking for clarification here.

[2019-07-10 11:11] ivasilyev-servicetitan-com opened #34831 "Can't create VM from SharedImage in another subscription"
Hello.
I tried the steps written in this article and I got an error `“New-AzVm : The image subscription doesn't match the current subscription.”`
I also found this comment https://github.com/Azure/azure-powershell/issues/8670#issuecomment-494637394 and tried to run code specified there. It successfully creates the VM.
Please update the article.

The following code works fine.
[code]

---
#### Docu

[2019-07-10 11:15] ondrejhlavacek commented on #22676
Interestingly the AKS upgrade (tried from 1.13.5 to 1.14.0) drains all nodes and terminates all pods correctly.

[2019-07-10 11:15] DuffLV opened #34832 ""SearchResult": should say "SearchResults":"
A small issue in the documentation, instead of "SearchResult":, the schema actually contains ""SearchResults":.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-ea70-f747-80a9bc914fd7
* Content: [Webhook actions for log alerts in Azure alerts](h

[2019-07-10 11:16] shashishailaj commented on #34460
@MicrosoftGuyJFlo Could you please take a look at this request and update the documentation as required?

Thank you.

[2019-07-10 11:18] shashishailaj commented on #34623
We will be closing this thread now. In case you still see a problem , feel free to email us on azcommunity[at]microsoft[dot]com along with your azure subscription referencing this issue.

Thank you.

[2019-07-10 11:20] #34623 closed

[2019-07-10 11:33] Klaas- opened #34833 "Total limit of 2048 characters does not apply to virtual machines // Limit of 15 Tags does not apply to virtual machine resources"
Hi,
it seems this part is outdated:
"Virtual Machines and Virtual Machine Scale Sets are limited to a total of 2048 characters for all tag names and values. Generalized VMs don't support tags."

I did not try scale sets, but virtual machines do not seem to have that limit, I have more than 2048 characters in my vm tags.

Also I seem to be able to add more than 15 tags to a single virtual machine r

[2019-07-10 11:38] KalyanChanumolu-MSFT commented on #34827
@bartvermeersch Are you trying this from the Azure portal? Could you please check if the firewall is configured to allow your client IP address.
I just tried using an account with 2FA and I was able to sign in without issues.

[2019-07-10 11:47] qinezh commented on #34826
Thanks for the information! @PramodValavala-MSFT

[2019-07-10 11:51] AmanGarg-MSFT commented on #34816
@cijothomas Thank you for pointing that out. Can you provide the link to that asp.net core document so that it can be updated in the current document?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-10 11:55] AmanGarg-MSFT commented on #34617
@shwetadodiya In order to track events in your mobile application you can follow the below document:

https://docs.microsoft.com/en-us/azure/azure-monitor/learn/mobile-center-quickstart#track-events-in-your-app

_This quickstart guides you through connecting your app's App Center instance to Application Insights. With Application Insights, you can query, segment, filter, and analyze your telemetry

[2019-07-10 11:59] salimfadhley commented on #31717
No, great work. Thanks!

On Wed, 10 Jul 2019, 00:19 Dan Lepow, <notifications@github.com> wrote:

[2019-07-10 11:59] HarrisburgUSysAdmin commented on #34797
I do not see the controls article for MFA prompts based on app.  We are not getting MFA internally which is how we would like it configured.  We are just trying to find a way to prevent MFA from prompting for every single app such as OneDrive, Skype, Teams and Outlook.  This is a big inconvenience for the end user.

[2019-07-10 12:00] loukotaj commented on #34701
Exact same error. @KranthiPakala-MSFT

[2019-07-10 12:12] illomi7 commented on #22676
hi @ondrejhlavacek thanks for the information, in the next day we will try to upgrade the cluster.

[2019-07-10 12:15] duichwer opened #34834 "Install modules"
How can I install modules?
I tryed to add benepar as requirments.txt, but I was still unable to import this module in my notebook.
Also I recieved a permission error while i was trying to install benepar via pip with the terminal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d489aee-cc0e-e0a2-1fc5-d1cc373a2a51
* Ver

[2019-07-10 12:53] lightupdifire commented on #31078
@SanDeo-MSFT @ManojReddy-MSFT

We run deployment, in result:
1. Down-level devices cannot register, errors:
a) "The registration service could not successfully authenticate your account. Please make sure you are logged in with your Active Directory domain account and try again."
b) "Hybrid Azure AD Join error: Error Message: Failed to navigate to"

2. Current devices registering automatically, eve

[2019-07-10 13:03] tejasvinishelar opened #34836 "Getting undefined as a result of Sentiment Analysis"
I am using Text analytics api with above code in my V4 basic bot (Nodejs) as:

       const credentials = new CognitiveServicesCredentials(
          process.env.TEXT_ANALYTICS_KEY
        );

        logger.log("Credentials",credentials);

        this.client = new TextAnalyticsAPIClient(
            credentials,
            "https://westus.api.cognitive.microsoft.com/"
        );

const sentimen

[2019-07-10 13:05] igomat commented on #34597
@roygara
How to change the option when the AFS Agent is already installed and running on production system? Without downtime so without reinstalling the Agent.

[2019-07-10 13:14] CharmanderJieniJieni commented on #34459
@SumanthMarigowda-MSFT, I couldn't find the answer through this article.

I already have Activity/Diagnostic Logs archiving to Storage Account set up. With the fact that the logs are constantly fed to the storage account, what happens during the time I regenerate the Access Keys? Will that interrupt the log feed? I tested that after the key regen logs are still reaching to the storage account. The

[2019-07-10 13:18] gcormier opened #34837 "Change user limits"
I think nowadays it's rare to not have to sudo. User limits should be rewritten to sudo friendly format

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbe00d45-6f18-5537-1ccc-2e86927ed114
* Version Independent ID: bb5f5c1a-01ec-b61b-db1b-3cbf30a0da0a
* Content: [Set up Message Passing Interface for HPC - Azure

[2019-07-10 13:20] AkshanshSrivastava03 commented on #34544
Hi @gavinwilliams ,
Thanks for reporting the issue. We acknowledge the bug and are working on the fix.

[2019-07-10 13:27] CharmanderJieniJieni commented on #34705
@Karishma-Tiwari-MSFT , say we have a VMSS, all VMs inside perform a bunch of batch process which consumes high CPU usage, and we monitor by CPU metric to decide if scale out/in is needed.
When scale in condition got triggered and a VM is to be deallocated, what if there is still executing batch process in progress. Will that be lost.

Another case is for web app, if scale in got triggered and the

[2019-07-10 13:27] SaurabhSharma-MSFT commented on #34686
@sebhe The details around how much the time is getting increased after each subsequent attempts is intentionally not mentioned in the document as it would reduce effectiveness against the bad actors.

[2019-07-10 13:35] jks05c commented on #34693
Excellent- that is what I was hoping to have clarified- thank you both!

[2019-07-10 13:35] #34693 closed

[2019-07-10 13:37] agni314 opened #34838 "Step 4 Configure Azure AD Single Sign-on step is incorrect"
In Step 4 (Configure Azure AD Single Sign-on) on this page, the following information is incorrect:

a. In the Sign on URL text box, type a URL using the following pattern: https://&lt;subdomain&gt;.kiteworks.com

b. In the Identifier (Entity ID) text box, type a URL using the following pattern: https://&lt;subdomain&gt;.kiteworks.com/sp/module.php/saml/sp/saml2-acs.php/sp-sso

These values are re

[2019-07-10 13:45] mikhailgithub commented on #34483
Good morning,

I was unable to connect via telnet. Also was unable to connect from
PowerShell.

Probably it is a firewall issue on my side, will be researching further.

Thanks,
Mikhail

[image: image.png]

[image: image.png]

On Wed, Jul 10, 2019 at 2:35 AM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2019-07-10 13:49] sk1tt1sh opened #34839 "No explanation for using Labels"
I was able to follow the instructions successfully as shown but when attempting to extend and implement a more realistic scenario of using labels I was stumped. I eventually found a description of the configuration builder parameters on github (https://github.com/aspnet/MicrosoftConfigurationBuilders/blob/master/README.md#azureappconfigurationbuilder) using the &lt;configBuilders&gt;&lt;builders&g

[2019-07-10 14:04] loukotaj commented on #34701
I remade every resource I used and managed to get it to work. I was using a larger storage account and I think it may have been improperly configured. I would consider adding a storage account configuration to this tutorial. @KranthiPakala-MSFT

[2019-07-10 14:06] kim0 opened #34840 "Clarify whether the resulting deployment is zero-downtime"
Thanks for these docs. In the section "Enable continuous deployment with ACR", it was unclear to me, after the webhook fires, and app-service is notified to deploy the new image. Does that new deployment happen in a zero downtime fashion? or does it simply kill the old containers and start new ones (with a downtime between them)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-10 14:10] pconnell99 opened #34841 "Functions referenced that do not exist"
encodeDataUri() is referenced on this page, but when I try to find it in https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#conversion-functions it does not exist, and trying to use it in a LogicApp throws an error.

Is there a mismatch between the functions on this page and elsewhere?  Does this page need to be updated?

---
#### Document Details

⚠

[2019-07-10 14:12] Haladu commented on #34782
Failure:

reki:~ alan$ osDiskId=$(az vm show -n jenkins -g jenkins-master --query "storageProfile.osDisk.managedDisk.id" -o tsv)
reki:~ alan$ echo $osDiskId
/subscriptions/6a63c118-94fd-47b4-b4c3-3f5946cb39cb/resourceGroups/JENKINS-MASTER/providers/Microsoft.Compute/disks/jenkins-disk0
reki:~ alan$ az snapshot create -g jenkins-master --source $osDiskId --name osDisk-backup --sku Standard_ZRS
az s

[2019-07-10 14:29] #34676 closed

[2019-07-10 14:30] Girishvtm commented on #34263
@FrankHu-MSFT , When I type New-AzureADMSgroup - , I am able to see the properties(like Description, DisplayName, MailEnabled, Mailnickname, SecurityEnabled,GroupsTypes,Visibility,Verbose, Debug) in a list except MembershipRule.

[2019-07-10 14:40] shashishailaj commented on #34651
@rwike77 Could you please review this and update the document as needed ?

[2019-07-10 14:40] nipuns11 commented on #33057
Thanks

[2019-07-10 14:40] #33057 closed

[2019-07-10 14:52] pconnell99 opened #34843 "base64ToBinary does not seem to work"
I am taking some JSON text and base64() it.  I then base64ToBinary() that base64 string.  Documentation says I should have a string of "101010101" or equivalent.  I instead get the original JSON text back.

I am trying to work out the byte length of my JSON utf-8 content, and casting it in and out to a binary string and then getting the string length/8 would be the bytes?  Not according to the cur

[2019-07-10 14:55] gcormier opened #34844 "PKEY"
Could we get additional information on when PKEY's will change? Will they change when instances are powered-on/off? Will they remain the same as long as the availability set is untouched? Will it change if nodes are added/removed to an availability set?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbe00d45-6f18-5537-

[2019-07-10 14:56] worm1028 opened #34845 "530032 not documented"
530032 is not listed.  The failure reason in Azure AD is stated as Other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.

[2019-07-10 15:00] RyanHill-MSFT commented on #34840
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-10 15:04] ondrejhlavacek commented on #22676
@illomi7 An update - I have tried to scale down using az cli and it works as expected. Only scaling down in the UI drops all pods immediately.

[2019-07-10 15:16] pconnell99 commented on #30371
3 months now, Gen 2 is all we have to select now - and the list above is still valid?  Poor.  Very poor.

[2019-07-10 15:20] salomon-gilles opened #34848 "View the job history"
Actions do not work as described starting from step 2 to view details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run Background tasks with WebJobs - Azure App Service](https://docs.microsoft.com/en-us/az

[2019-07-10 15:22] dudeNumber4 opened #34849 "Apparently incorrect info"
This page reads, "Azure DNS does not currently support purchasing of domain names."  Yet, there is a way to purchase a domain in the portal.  So, this seems to be out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38109b47-d859-83f2-3a46-e207cfcc5c3f
* Version Independent ID: fb0c04d2-4f39-1a5e-7666-d20a16a582

[2019-07-10 15:22] dkershaw10 opened #34850 "Update to the GA API endpoint"
Please update the references to Microsoft Graph, to the v1.0 GA endpoint rather than /beta.  signIns and directoryAudits APIs are now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe7b7b9-4614-7860-cf3f-9f8aba600a26
* Version Independent ID: 1c15bfcf-2c7e-d072-7109-80bdfcf94f6b
* Content: [Get started with the Az

[2019-07-10 15:23] nyuen commented on #34694
Hi,

Agreed the code sample is correct as it leverages the webconfig file, it
just that the way the sentence is written made me think as if the
recommandation was to hardcode the Ikey. I think I was a bit to picky on
that sentence considering the twelve factor recommendation.

I would simply put it this way:

"To make it easier to change the ikey as the code moves between stages of
production, set

[2019-07-10 15:31] shashishailaj commented on #34463
@johncrowtherdcc We are engaging the content team to update the documentation on this one.

@MicrosoftGuyJFlo Could you please have this verified with someone in engineering and see how best we can update the information on this page to support the customers ?

[2019-07-10 15:33] cijothomas commented on #34816
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configure-the-application-insights-sdk

[2019-07-10 15:35] VikasPullagura-MSFT commented on #34483
@mikhailgithub Thanks for the confirmation. As you are not able to reach the IP on the port, the firewall should be checked.
I am closing this issue for now.
You can mention my name in the comment if you feel a need to reopen this issue to work on this again.

[2019-07-10 15:35] #34483 closed

[2019-07-10 15:35] shashishailaj commented on #34467
@msmimart Could you please have this verified with engineering so that the page can be updated as per customer feedback.

[2019-07-10 15:38] Karishma-Tiwari-MSFT commented on #33072
@dkkapur Did you get a chance to take a look at this customer's feedback. Thanks. :)

[2019-07-10 15:38] dkboon01 opened #34851 "Protected web api"
Can you add some information on how to get swagger to work after adding this code to secure the api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d7a4e1-48e0-df79-ee56-79d5df3b7bc7
* Version Independent ID: 7266a603-9e98-9864-6b26-bdaa8d5b78b8
* Content: [Protected Web API - move to production](https://docs.microsof

[2019-07-10 15:42] josh-mclean commented on #27438
@kobulloc-MSFT
How do we enable snapshot debugger BUT turn OFF "Show local variables for your application when an exception is thrown." via ARM?

Concern is over PHI data being shown.

[2019-07-10 15:43] shashishailaj commented on #34542
@philparr2020 Every Service now instance have different URLs and hence you should be able to connect to multiple instances of service-now using the same azure AD instance . You may have to add service-now from the enterprise applications blade for every service-now instance and configure them separately. For test I tried this in my environment and it worked.

![image](https://user-images.githubuse

[2019-07-10 15:43] #34542 closed

[2019-07-10 15:48] shashishailaj commented on #34577
@pichaya-d We are not sure if this will work with a all out signoff from the IDP , however we are still trying to test this and getting help internally to come to a conclusion. Please give us a few days and we will update this thread.

Thank you.

[2019-07-10 15:52] shashishailaj commented on #34565
@akshaybabloo We are still looking into this and we will update this thread accordingly.

[2019-07-10 15:53] Karishma-Tiwari-MSFT commented on #34620
@havronl Please share the details as asked above so that we can ensure doc is correct. Thanks :)

[2019-07-10 15:53] Karishma-Tiwari-MSFT commented on #33087
@MikkelHegn Did you get a chance to review the customer's suggestion? Thanks. :)

[2019-07-10 15:56] tb2186 commented on #29497
The example shown for hosts says that "example.hosts must be a file" but my perhaps stupid question is how do I create a hosts file that the coredns pods can use?

I'd like to host a separate domain using coredns hosts plugin but I'm not sure how the coredns pods would reach the file.

[2019-07-10 15:58] tb2186 commented on #29497
@Karishma-Tiwari-MSFT I meant to tag you on my comment above.

[2019-07-10 15:59] nipuns11 commented on #33057
take a moment and create an ssh-key pair in your cloud shell:

User@Azure:~/clouddrive/terraform-aks-k8s$ ssh-keygen -t rsa -b 2048

and you will need a unique workspace name for log analytics.

Let’s open variables.tf and fix that (add “acs-”)

[2019-07-10 16:01] jnoller commented on #29497
@tb2186 You may only modify the coreDNS custom config map on AKS, you may not mutate the coreDNS pods or deployment. For CoreDNS documentation on how to possibly do what you'd like, see https://coredns.io/manual/toc/ - as this is a managed component for AKS we do not replicate the full documentation set

[2019-07-10 16:01] jmprieur commented on #34851
@dkboon01 : can you provide repro steps on how you run swagger on the API and the issue you meet? I would gess that swagger would need to pass an authenticate header with the token (does swagger enable auth?).
Any link to doc would be useful for me to understand the proble.

[2019-07-10 16:05] jaszperez commented on #29786
@CtrlDot thanks for the interest. Yes, you are right the two patterns should work together and we don't have any known issues as of today for this. Note the B2B user also needs to exist in the on-prem directory as per the guidance. Here are also the steps for enabling RDS with App Proxy: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-integrate-with-remote-des

[2019-07-10 16:05] himanshusinha-msft commented on #34750
Since you have posted this on the forum , we are going ahead and closing this issue for now .

[2019-07-10 16:05] #34750 closed

[2019-07-10 16:05] AceMcFlop opened #34853 "Onboarding not documented."
To use Access reviews you have to click the 'onboard' button.  This is not expressed in any of the documents and is only mentioned in the video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-4058-5a6f-56cd3900460a
* Content: [What are access

[2019-07-10 16:05] Mike-Ubezzi-MSFT commented on #30371
@Adam-Smith-MSFT Can you provide some insight here? This got lost in another service area bucket and needs attention. @pconnell99 Apologies for the delay in providing you an adequate answer in a timely manner. Thank you for following up and making us aware that this went unanswered.

[2019-07-10 16:06] yixue-at-symantec opened #34854 "Clarification Needed about AzureAD, Domain, and Subscription"
Hi MSFT,

I find there is no very clear documentation about the new users that I created of &lt;name&gt;@&lt;mydomainname&gt;.onmicrosoft.com.
I notice that when the new user is first created, new user doesn't have any subscriptions and doesn't share the current subscription with the original user.
But after I gave the new user an access role(blob storage contributor) to a storage account under th

[2019-07-10 16:07] himanshusinha-msft commented on #34811
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2019-07-10 16:15] xpouyat commented on #34007
Please note that there is two versions of AMSE: v4.x.x.x for AMS v2, and v5.x.x.x for AMS v3.
In each release, there is note to redirect people to the other version if needed.
Latest version for AMS v2 is https://github.com/Azure/Azure-Media-Services-Explorer/releases/tag/v4.3.5.0

[2019-07-10 16:21] shashishailaj commented on #34832
@DuffLV Thank you for your comment . It would be great if you could provide us the link for the exact document which needs to be changed ?

[2019-07-10 16:27] kraigb commented on #34834
Can you show me the contents of your requirements.txt?

Also, have you tried using the aznbsetup.sh option?

[2019-07-10 16:27] msrini-MSFT commented on #34817
@shef , your PR has been approved and changes will be reflected shortly.

[2019-07-10 16:27] #34817 closed

[2019-07-10 16:27] SaurabhRaoot commented on #10016
I have done it with AAD V1 only using roles. by manually adding roles to roles[] in json. Check my blog on https://codingadvisors.com/2018/06/23/aad-clientpp/

[2019-07-10 16:30] tb2186 commented on #29497
Thanks very much @jnoller.  I didn't fully understand the example above for hosts until I tried it.

It looks like it answered a few of my questions.  One I had was how to modify the existing entry of ".:53" to do things like adding logging and that example showed me how to do that.

The other question I had was the one I asked which that example also answered but I don't need to create a file any

[2019-07-10 16:32] FrankHu-MSFT commented on #34692
@Jackson-Miller
Currently there is no way to go beyond FAL1 for any federated setup.

Azure AD does not access incoming encrypted assertions from the federation provider.

That includes regular federation and direct federation.

I apologize for the inconvenience, please let me know if there are anymore questions within the scope of this thread, otherwise I will be closing it out by end of day toda

[2019-07-10 16:35] #32862 closed

[2019-07-10 16:39] FrankHu-MSFT commented on #34263
Hey Girish, I sort of meant a picture of what you see. But do you see the AAD Group in the portal? And is it a dynamic group?

[2019-07-10 16:41] dlepow commented on #34732
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/81766. Update will publish later today.

#please-close

[2019-07-10 16:41] #34732 closed

[2019-07-10 16:45] rothja commented on #29867
#reassign:julieMSFT

[2019-07-10 16:45] dlepow commented on #31717
#please-close

[2019-07-10 16:45] #31717 closed

[2019-07-10 16:49] vermagit commented on #34844
The PKEYs are assigned to tenants. Hence as long as the AVSets or VMSSs exist, the PKEYs remain the same. This is true even when nodes are added/deleted. New tenants get different PKEYs.
This information is now added to the documentation.

[2019-07-10 16:49] vermagit commented on #34837
Thanks for this feedback. The documentation has been updated with sudo.

[2019-07-10 16:55] KranthiPakala-MSFT commented on #34717
@karthiksubramanians Thank you for your response. Currently, you can measure the consumption only by using the Azure portal or by inspecting the response sent back from Azure Cosmos DB through one of the SDKs mentioned in this doc : _[Find the request unit charge in Azure Cosmos DB](https://docs.microsoft.com/azure/cosmos-db/find-request-unit-charge)_

_Additional info_:

I believe you can use a C

[2019-07-10 16:56] ninweninwe opened #34857 "Is Lifecycle management available in Government, German and China Clouds?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-10 16:56] lipsius commented on #33801
Hello, I’m enjoying holidays now.
I’ll try it in 2 weeks and I’ll keep you informed.
Kind regards,

Christophe

Van: Jimaco Brannian <notifications@github.com>
Verzonden: 09 July 2019 01:16
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: CDM ICT <info@cdm-ict.be>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/azure-docs] No temp warning (#33801)

@lipsius<htt

[2019-07-10 16:56] kobulloc-MSFT commented on #34839
@sk1tt1sh Thank you for the feedback!  We go over labels a bit later in the docs here:
https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value

Key values in App Configuration can optionally have a label attribute. Labels are used to differentiate key values with the same key. A key app1 with labels A and B forms two separate keys in an app configuration store. By default,

[2019-07-10 16:59] craig-martin opened #34858 "Can Hybrid Workers use Group Managed Service Accounts?"
This page says the Hybrid Worker runs as Local System, but can it be configured to instead run as a Group Managed Service Account? (https://docs.microsoft.com/en-us/windows-server/security/group-managed-service-accounts/group-managed-service-accounts-overview)
The guidance on this page is to use Credential Assets, which are super convenient but less secure.
Are there known issues when using GMSAs

[2019-07-10 17:02] dmarlow opened #34859 "Certificate security"
How is the certificate stored and protected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de55a4d6-ea6b-c5b5-ba8a-a5c07ac91270
* Version Independent ID: 5963e6fa-bf56-7e6c-7550-a89f62d30638
* Content: [Configure SSL for a cloud service](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-configure-ss

[2019-07-10 17:02] RZomerman commented on #34114
in the meantime, you can also use the AZ commands to achieve the same (while they work on a fix):

Where $groupID is the objectID of the group or Service Principal (or user)
And $subscope is the ObjectId of the subnet itself as defined like:

$subscope = ‘/subscriptions/11111-1111-1111-1111-111111/resourceGroups/resgroup-001/providers/Microsoft.Network/virtualNetworks/vnet001/subnets/subnet002’

$

[2019-07-10 17:11] khmerforce commented on #34811
@himanshusinha-msft Thank you for replying. This is the document I'm referring to https://docs.microsoft.com/en-us/azure/data-factory/connector-oracle-eloqua but I kept getting 404 error. Do you think I need to get some type of permission?

[2019-07-10 17:13] #34844 closed

[2019-07-10 17:13] #34837 closed

[2019-07-10 17:14] MicahMcKittrick-MSFT commented on #34815
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-10 17:14] MicahMcKittrick-MSFT commented on #34831
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-10 17:15] MicahMcKittrick-MSFT commented on #34859
Thanks for the question! We are investigating and will update you shortly.

[2019-07-10 17:16] tamram commented on #18259
Thanks, all, for your feedback.

All storage services are included in GRS/RA-GRS replication. Replication happens at the level of the storage account (as described in [Data redundancy in Azure Storage](https://docs.microsoft.com/azure/storage/common/storage-redundancy), so everything in the storage account is replicated. We'll be making some updates here soon, and I will be sure to clarify this.

[2019-07-10 17:17] kgremban commented on #34640
@ugurgokdere You may be right that it's something to do with your subscription. Have you tried one of the steps in this article to see whether this size shows up as available for you? https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-sku-not-available-errors Have you also followed the suggestion in the error message of changing the location or VM size?

[2019-07-10 17:17] tamram commented on #18259
#please-close

[2019-07-10 17:17] #18259 closed

[2019-07-10 17:17] kobulloc-MSFT commented on #34694
@nyuen I agree.  I had to reread this section multiple times and will pass your suggestion along to our document author.

[2019-07-10 17:22] MicahMcKittrick-MSFT commented on #34830
@AnoopCNair please provide us with a link to the documentation you are referring to so we can better assist.

[2019-07-10 17:27] qianw211 commented on #34814
@vbalkaron Hi, could you provide more details as to the problem of TOC?  Maybe a screen shot would help us identify the problem.  Thanks!

[2019-07-10 17:27] BryanTrach-MSFT commented on #34848
@salomon-gilles We went through the 'View Job History' for our triggered webjob and the doc aligned with the experience we encountered. Can you please provide further details as to what does not match your experience? We look forward to your reply.

[2019-07-10 17:31] AnoopCNair commented on #34830
@MicahMcKittrick-MSFT Sorry I missed to provide the link https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#review-things-you-should-know

[2019-07-10 17:33] MicahMcKittrick-MSFT commented on #34830
@AnoopCNair all good :) thanks for the link. I will assign to the content author to review and update as needed.

[2019-07-10 17:34] YutongTie-MSFT commented on #34836
@tejasvinishelar Thank you for your feedback, we will investigate it and update to you soon.

[2019-07-10 17:34] dlepow commented on #34709
#in-progress

[2019-07-10 17:36] JasonWHowell commented on #31546
@Mike-Ubezzi-MSFT I remember from email that @craigkerstiens is the docs backup contact for Joe.

Looks like there are two issues reported on this same article - #31719  and #31546

Thanks, Jason

[2019-07-10 17:40] SaurabhSharma-MSFT commented on #34845
@worm1028 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-10 17:41] MicahMcKittrick-MSFT commented on #34436
Local SSD in this case means an attached data disks. Not the temp  disk associated with all the VMs.

Under the disks section of this doc, we specifically call out not to use the OS disk or the temp disk for database storage or logging

![image](https://user-images.githubusercontent.com/32313503/60991278-17226100-a2ff-11e9-84b2-03eadc5738af.png)

So as the doc states, you should use at a minimum,

[2019-07-10 17:42] MicahMcKittrick-MSFT commented on #34784
@sirdank I will close this out. If you have further questions just let us know and we can always reopen and continue the discussion.

[2019-07-10 17:42] #34784 closed

[2019-07-10 17:43] SaurabhSharma-MSFT commented on #34838
@agni314 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-10 17:44] MicahMcKittrick-MSFT commented on #34815
@MasayukiOzawa looks like we need to update the commands.

@MashaMSFT can you take a look at this and confirm?

[2019-07-10 17:45] MicahMcKittrick-MSFT commented on #34831
@cynthn if I remember correctly, there is a known issue with this? Can you confirm?

[2019-07-10 17:45] pwl-kdk opened #34860 "Assigning 'FriendlyName' to imported certificate"
I've noticed the imported certificate can only be identified because it is Issued to: "localhost" and has Friendly Name: &lt;None&gt;.  To fix, add this line to the generated "importcert.ps1":
  (Get-ChildItem -Path Cert:\LocalMachine\$_\$($result.Thumbprint)).FriendlyName = "CosmosDBEmulatorCertificate"

Alternatively, maybe a 'Friendly Name' could be placed in the certificate itself (not sure if

[2019-07-10 17:48] SaurabhSharma-MSFT commented on #34854
@yixue-at-symantec Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-10 17:49] SaurabhSharma-MSFT commented on #34853
@AceMcFlop Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-10 17:49] mike-urnun-msft commented on #34841
Hi @pconnell99 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-10 17:50] msmimart commented on #31391
@brent-smith-msft, thanks for pointing this out. The size of the allow list or deny list is limited by the overall size of the policy; the maximum size of the policy is 25 KB (25,000 characters), which includes the allow list or deny list and any other parameters that are configured. We'll update the article to include this.

[2019-07-10 17:51] SaurabhSharma-MSFT commented on #34850
@dkershaw10 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-10 17:52] marktab commented on #34532
This video comes from Jeffrey Snover and all questions should be directed to him, recommending Twitter
https://twitter.com/jsnover

@ram-msft please close this ticket

[2019-07-10 17:53] mike-urnun-msft commented on #34843
Hi @pconnell99 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-10 17:53] jmprieur commented on #34851
@SaurabhSharma-MSFT : not even sure there is a need for doc enhancement. For the moment this would be "more info needed"

[2019-07-10 17:58] pwl-kdk opened #34861 "Add note for custom port (docker)"
While running the emulator in Docker, I ran into a problem with a port conflict.
Perhaps the documentation (https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker) could indicate a custom port is possible by altering the docker launch parameters.  E.g. "-p 8081:8081" becomes "-p 443:8081".
An alternative solution is to allow custom port assignments via a config file in '

[2019-07-10 17:58] KranthiPakala-MSFT commented on #34701
@loukotaj Glad to know that your issue is resolved. Thank you so much for the feedback, I will notify the content author to take a look into your feedback.

@nabhishek Could you please take a look into feedback from @loukotaj.

[2019-07-10 18:01] marktab commented on #34771
@garyericson It's time to remove all the "Worked-Out Examples" -- please advise on process, thanks

[2019-07-10 18:03] marktab commented on #34771
@desarkar it was a former team who created and maintained these examples.  We do not have nor anticipate having support for them in the future.  The reason is that our effort has moved to https://docs.microsoft.com by product.  In this case, please refer to https://docs.microsoft.com/en-us/azure/hdinsight/ for correct and updated product information

[2019-07-10 18:05] MicrosoftGuyJFlo commented on #34715
@okieselbach this is V1 of the guide. It is something we are aware of but wanted to get some guidance out for organizations who have asked for how to do this in a cloud-only scenario. Organizations can make modifications to the guidance in the doc to suit their needs.

[2019-07-10 18:05] arkiaconsulting commented on #31166
@jcbrooks92 Any source that could prove this info ?

[2019-07-10 18:06] robinsh commented on #24580
I'm bogged down and haven't gotten to this yet. Turning it over to Jimaco.
#reassign:jimacoMS3

[2019-07-10 18:07] PRMerger7 commented on #24580
jimacoMS3
 is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-10 18:09] robinsh commented on #24579
I'm bogged down in something else, reassigning to Jimaco to see if he can help.
#reassign:jimacoMS3

[2019-07-10 18:09] SaurabhSharma-MSFT commented on #34757
@parabolic123 Yes, it is necessary to run "Update-MSOLFederatedDomain" whenever any url or certification information with ADFS changes or if there is any change to Microsoft online.

[2019-07-10 18:11] robinsh commented on #16772
I'm bogged down, reassigning to Jimaco to see if he can help.
#reassign:JimacoMS3

[2019-07-10 18:11] robinsh commented on #24580
#reassign:JimacoMS3

[2019-07-10 18:12] robinsh commented on #24431
#reassign:JimacoMS3

[2019-07-10 18:13] robinsh commented on #24579
#reassign:JimacoMS3
(trying again)

[2019-07-10 18:13] PRMerger9 commented on #24579
JimacoMS3
(trying is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-10 18:14] robinsh commented on #24579
#reassign:JimacoMS3

[2019-07-10 18:18] aconkle opened #34862 "Please include load balancing information for this solution."
We have confirmed Azure Load Balancer will not work, and Application Gateway is a working, supported load balancing option for this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae57e5d6-7bd2-00a3-ca30-9d7b9d702940
* Version Independent ID: aa7f29db-ca6d-d1c9-75b2-b88d1d110f48
* Content: [Use empty edge node

[2019-07-10 18:19] MicrosoftGuyJFlo commented on #33968
#please-close

[2019-07-10 18:19] #33968 closed

[2019-07-10 18:19] MicrosoftGuyJFlo commented on #34596
#please-close

[2019-07-10 18:19] #34596 closed

[2019-07-10 18:19] cynthn commented on #34831
@ivasilyev-servicetitan-com and @MicahMcKittrick-MSFT Yep, that is an issue with the simplified parameter set. It looks like the updates for this file got lost when I did the rest of the updates to change the VM creation to the version using a vmconfig file. I'll get this doc updated and double-check that nothing else went missing in the meantime :)

Thanks for catching that!!!

I'm going to leave

[2019-07-10 18:20] MicrosoftGuyJFlo commented on #34715
#please-close

[2019-07-10 18:20] #34715 closed

[2019-07-10 18:20] MicrosoftGuyJFlo commented on #34686
#please-close

[2019-07-10 18:20] #34686 closed

[2019-07-10 18:20] MicrosoftGuyJFlo commented on #34691
#please-close

[2019-07-10 18:20] #34691 closed

[2019-07-10 18:20] MicrosoftGuyJFlo commented on #34621
#please-close

[2019-07-10 18:20] #34621 closed

[2019-07-10 18:21] yvesgermain opened #34863 "Not presently available in west Us Canada Central and Canada East"
Not presently available in west Us Canada Central and Canada East.  Where is it available?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-6aa2-2542-e26fd32764fe
* Content: [Azure SQL Database serverless (preview)](https://docs.microsoft.com/en

[2019-07-10 18:24] KranthiPakala-MSFT commented on #34862
@aconkle Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update you as appropriate.

[2019-07-10 18:26] aconkle opened #34864 "Please include SKU availability timelines per region"
We can avoid customer churn if we publish per-region timelines for v2 SKUs' availability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf4e86ea-4194-da83-ac43-56a7316b9367
* Version Independent ID: f7659a05-0441-e060-40cb-e2ddfc6cad8b
* Content: [What's new in Azure Application Gateway](https://docs.microsoft.com/en-

[2019-07-10 18:28] LMAOMOBILE opened #34865 "grammar"
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#how-many-times-can-i-recovery-data-thats-backed-up-to-azure

Should probably read "How many times can I recover data that's backed up to Azure?" instead of "recovery data".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75c

[2019-07-10 18:30] j-martens commented on #34551
#reassign:vijetajo

[2019-07-10 18:30] j-martens commented on #34551
@vijetajo - Could you please help to check if VS2019 really available to use for now and how the customer can use it? Thank you.

[2019-07-10 18:31] j-martens commented on #33596
Hello, hoping the solution provided worked for you. Thanks. #please-close

[2019-07-10 18:31] #33596 closed

[2019-07-10 18:32] j-martens commented on #34150
@yanrez - in his absence, do you know?

[2019-07-10 18:32] j-martens commented on #34150
#assign:yanrez

[2019-07-10 18:33] JimacoMS3 commented on #33801
But, Christophe --, running through our tutorials is more fun that a holiday! :)
Thanks for the update, I'll keep it open and look forward to hearing from you when you get back.

Best,

Jimaco

[2019-07-10 18:34] j-martens commented on #34558
#assign:trevorbye  @trevorbye  - can you also review to see if a link could be provided to the user or added to the doc? Or is this an SDK doc bug?

[2019-07-10 18:36] j-martens commented on #34135
Thanks for the response @mssshankar.  We hope this addresses your issue, @boubakerwa. #please-close

[2019-07-10 18:36] #34135 closed

[2019-07-10 18:37] SaurabhSharma-MSFT commented on #34613
@stephenacrown We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-10 18:37] #34613 closed

[2019-07-10 18:37] j-martens commented on #33966
@marabout2015 @cartacioS - any other guidance for @yiikou please?

[2019-07-10 18:38] DuffLV commented on #34832
@shashishailaj hi, terribly sorry, thought that clicking the issue on the page will add the link. It is this page: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log-webhook

[2019-07-10 18:39] Karishma-Tiwari-MSFT commented on #34380
@laurenhughes Did you get a chance to take a look at this one? The links are throwing 404 error. If you can provide me with correct urls, I can update the document. Thanks. :)

[2019-07-10 18:41] jeevansd commented on #34838
@chetansriv and @v-nagta Can you please work with Kiteworks team and make this change in the tutorial as needed?

[2019-07-10 18:45] ShawnPOWER commented on #34436
I appreciate the response @MicahMcKittrick-MSFT. A quick correction to your explanation you provided based on the document. The document states 1 P30 data disk for Logs and the other 1 P30 data disk is for Data files, including the SQL TempDB (not 1 for data and 1 for TempDB as you described in your response). With your explanation in mind the TempDB (data files, log file, and .NDF files related t

[2019-07-10 18:46] j-martens commented on #33308
@wbaumann-microsoft Do you know answer for the item 3 ?  (Ping)

[2019-07-10 18:46] j-martens commented on #33308
#reassign:sanpil

[2019-07-10 18:47] Karishma-Tiwari-MSFT commented on #34389
@aanandr Can you please share your insights on this customer question, on how private IPs are assigned to the container groups and does the container group have a DNS resolvable from within the VNET. Thanks. :)

[2019-07-10 18:48] MicahMcKittrick-MSFT commented on #34436
Thanks for that @ShawnPOWER

I am going to assign this to the content author to further review. Ideally we can add/ modify the wording of the doc to make it more clear so we can avoid confusion in the future. I too agree the wording is not 100% clear and leaves some users to read between the lines per say.

@MashaMSFT can you take a look at this one?

[2019-07-10 18:49] j-martens commented on #31975
Incorrect sentence removed from documentation.

Thanks for your report. We shall proceed to close this issue, #please-close. If you feel that your issue has not been resolved please reopen the issue and provide additional context.

[2019-07-10 18:49] #31975 closed

[2019-07-10 18:51] Auticons1 opened #34866 "Steps 2 and 3 are swapped in order"
The order of these two steps should be swapped according to the order of the sections on Azure IoT Central - Create page. Nonetheless, if you change your application name before choosing a template, choosing a template will modify the prefix of your application name again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-10 18:56] sanpil commented on #33308
The only question pending is 3. This should be assigned to @wbaumann-microsoft.

[2019-07-10 18:57] trevorbye commented on #34558
@sqlshep if you follow the prerequisites for this tutorial you should have ended up with a config.json, however I see how it's possible that you could end up without one. If you are running in the cloud VM, the file is automatically mounted and you don't have to do anything (we do need to be more clear about this). If you are running locally, there a couple ways to get the config file.

1.) you ca

[2019-07-10 18:58] erhopf commented on #33680
#reassign: @ArcherAZ

[2019-07-10 18:59] msmimart commented on #29786
Thanks @CtrlDot, closing for now, but please let us know if you have other concerns.
#please-close

[2019-07-10 18:59] #29786 closed

[2019-07-10 19:00] wbaumann-microsoft commented on #33308
I don't believe that change will have any impact on what folders users need to create -- it was just adjusting what processes the system used for various setup tasks to behave well in multi-process scenarios.

[2019-07-10 19:11] SaurabhSharma-MSFT commented on #34851
@dkboon01 Got it. Updated the labels.

[2019-07-10 19:17] taromielnaz opened #34867 "DNS name"
If I have 3 web apps (endpoints) in one traffic manager profile, and I use priority for failover, how can I configure that my users browse https://website.mydomain.com  but point to https://website.trafficmanager.net? I just want my users to see and browse https://website.mydomain.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-07-10 19:21] MashaMSFT commented on #34436
Hi @ShawnPOWER ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again

[2019-07-10 19:29] CharmanderJieniJieni opened #34868 "missing comma on sample ARM"
Missing comma here:
"forcePullAndApply": false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e15d16-5405-f4e9-e899-d4c74e418cad
* Version Independent ID: 00474e00-329e-772d-da02-c82c2c7a455a
* Content: [Azure Desired State Configuration Extension Handler](https://docs.microsoft.com/en-us/azure/virtual-machines/exten