[2018-10-17 16:12] BartJocque commented on #15922
unless you apply DLP controls for the data-at-rest in your tentant.

[2018-10-17 16:13] wdonne commented on #17046
Hi Diego,

On Safari the workaround doesn't work. It opens the page at the top instead of the section. However, it doesn't matter right now. It is fine that the edit has been pushed. Thank you very much!

Best regards,

Werner.

[2018-10-17 16:13] spelluru commented on #16552
Fixed.

#please-close

[2018-10-17 16:16] bawilless commented on #17043
There used to be instructions to download a cert, maybe the IoT hub cert, you then used it to sign a challenge string. Then you could setup an enrollment group on the DPS. My above steps are not correct but they may be close.

What happened to the step to create the enrollment group. That’s not there anymore.

Brian

Sent with BlackBerry Work
(www.blackberry.com)

From: Wesley McSwain <notificatio

[2018-10-17 16:17] NickDrouin opened #17069 "Patterns for unit-testable function implemenations"
This article covers how to call the triggers of the Azure Functions, which is needed, but is considered functional testing (requiring infrastructure or mock infrastructure).  However, the article doesn't provide any guidance as to how to unit test the code within of the functions.

One approach is to convert the trigger arguments into a .NET Standard data transfer object, then passing this DTO to

[2018-10-17 16:22] SaurabhSharma-MSFT commented on #16827
@thuansoldier We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-17 16:22] #16827 closed

[2018-10-17 16:29] mcurko opened #17070 "Question"
How to get "--item-name". You use the same value as in "--container-name", but for me it doesn't work:

marko@Azure: az backup item list --resource-group backup --vault-name vault-we --container-name vs2017
[
  {
    "eTag": null,
    "id": "/Subscriptions/f85f6015-01ca-4470-b4d8-c0e0ee95c121/resourceGroups/backup/providers/Microsoft.RecoveryServices/vaults/vault-we/backupFabrics/Azure/protectionC

[2018-10-17 16:29] tfitzmac commented on #16929
That information is listed at [Available Azure services in Azure CSP](https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services)

[2018-10-17 16:29] cfe84 commented on #16748
Agreed with Jef, it's really weird that Batch would be a specific case when it comes to running containers, we should follow the _de facto_ standard of the industry and leave the default entry point.

[2018-10-17 16:32] mike-urnun-msft commented on #16840
Hey @giovannifl Let us know if you have any further questions regarding this matter. Otherwise, we'll go ahead and proceed to close this one. Thanks!

[2018-10-17 16:33] iainfoulds commented on #11616
@CptQuint Windows host support is in progress, but I don't have a timeframe for full support in AKS. Can upvote the feature request at https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34973563-add-support-for-windows-nodes.

You can also [register interest in a private preview ](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR1zIfQJ4OeJCrEA

[2018-10-17 16:34] lyda commented on #16809
Please don't delete this. We use the FreeBSD image as a base for an image we build. As part of the [packer](https://www.packer.io/) provisioning script we run this to update [WALinuxAgent](https://github.com/Azure/WALinuxAgent) which does brings it to a version better supported for FreeBSD.  There are further improvements needed - for instance resizing the disk doesn't work - and it would be nice

[2018-10-17 16:34] sergaz-msft commented on #16634
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 16:34] #16634 closed

[2018-10-17 16:35] Karishma-Tiwari-MSFT commented on #17064
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 16:39] Karishma-Tiwari-MSFT commented on #17064
![alt text](https://wtv3.blob.core.windows.net/media/functionspic.PNG?sv=2017-04-17&sr=b&sig=9dzThFQLhZAsPPx9qyyP7RdhR9vtUbt%2F%2FkeEgXoC%2BP8%3D&st=2018-10-17T16%3A34%3A20Z&se=2021-10-17T16%3A39%3A20Z&sp=rw "functionspic.PNG")

[2018-10-17 16:42] #16804 closed

[2018-10-17 16:48] #16676 closed

[2018-10-17 16:50] wesmc7777 commented on #17043
The quickstarts in [this section](https://docs.microsoft.com/azure/iot-dps/quick-enroll-device-x509-java) use certificate attestation with enrollment groups.  However, these create the enrollment group programmatically instead of manually in the portal.

There is also the [Configure verified CA certs How-to](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-verify-certificates) that describes

[2018-10-17 16:51] curtand commented on #15466
Hi @cflee
I am helping out with Jim Dial's work items while he's out of the office for a bit. I have PM approval for this; we're working on wording.

[2018-10-17 16:52] Grace-MacJones-MSFT commented on #17049
Hi @StefH, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 16:54] georgewallace commented on #16573
@erikverwer Can you share an actual copy of the script?  If you don't want to add it in the issue comments you can email it to me and first.last@microsoft.com.  Also additional questions, do you have the latest Azure modules, can you manually import the runbook using [Import-AzureRmAutomationRunbook](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/import-azurermautomationrunb

[2018-10-17 16:55] Karishma-Tiwari-MSFT commented on #17064
assign to author

[2018-10-17 16:56] SaurabhSharma-MSFT commented on #17051
@seancostigan Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-17 16:57] SaurabhSharma-MSFT commented on #17038
@NBelham Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-17 16:58] SaurabhSharma-MSFT commented on #17031
@michevnew Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-17 16:59] lloydleebarber opened #17073 "Sign in to your account - authorize endpoint"
All I want to do is query and extract user data from Azure AD using the API...this shouldn't be that difficult yet there are NO examples of anything like this that are easily found and easily followed.

I'm trying to follow the service to service documentation but something isn't right or not being explained very well.

Using the following uri:
https://login.microsoftonline.com/{tenant id}/oauth2/

[2018-10-17 17:01] GuyHarwood commented on #9257
i am also having this issue regularly, and it seems to be getting worse.

this is when deploying from VSTS/Azure-Dev-Ops....

[code]

the timeout in the docker build task is set to zero.  So is this timeout controlled by the container registry?

[2018-10-17 17:05] cynthn commented on #17064
@vhothur thank you for the contribution! They were broken on both the Linux and Windows pages. I have filed PRs to fix both topics. Thanks for catching that :)

#please-close

[2018-10-17 17:06] giovannifl commented on #16840
Perfect thanks

[2018-10-17 17:06] sergaz-msft commented on #17057
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 17:07] sergaz-msft commented on #17059
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 17:10] curtand commented on #14537
Hi @axisc
I'm helping out with some of Jim Dial's GitHub issues. Checking into the scope of this ask with my team.

[2018-10-17 17:11] Karishma-Tiwari-MSFT commented on #17064
@vhothur
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-17 17:11] #17064 closed

[2018-10-17 17:11] YutongTie-MSFT commented on #11301
@AlexanderTodorovic Can you please try Python 3.x to see if it works? We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-17 17:11] #11301 closed

[2018-10-17 17:12] kobulloc-MSFT commented on #17058
@darrenfurr Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-17 17:13] MarileeTurscak-MSFT commented on #16851
@ahgithub I tested this out in my own B2C account. After clicking the "cancel" link I am redirected to my profile page and access panel. I believe this is the intended behavior for the product as from there you can choose what you want to do next. Are you testing from the "Change Password" link in the navigation panel in the top right corner of the page? Can you please post a screenshot of where t

[2018-10-17 17:14] navyasric commented on #17006
@manish-shukla01 Yes you can use the ARM api scopes instead of Graph scopes. You can pass the scope scopes for ARM in this format: `https://management.azure.com//user_impersonation`

[2018-10-17 17:14] MarileeTurscak-MSFT commented on #16850
@Frank-Voortman I have assigned your question to the content author who can look into this.

[2018-10-17 17:15] kobulloc-MSFT commented on #17050
@markgar Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-17 17:16] rohit901 opened #17074 "Error while downloading the android studio project files"
when i try to download the pre configured android studio project it pops me up with some errors.....saying "File Download Error! An absolute URI or data URL is required for the target download URL. how to fix it? im not able to proceed further due to this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7041142f-6

[2018-10-17 17:17] kobulloc-MSFT commented on #17026
@jecarlsen Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-17 17:19] SaurabhSharma-MSFT commented on #17013
@mehara110 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-17 17:22] redshiftz opened #17075 "kubectl apply -f azure-vote.yaml results in following error"
error: error validating "azure-vote.yaml": error validating data: ValidationError(Deployment.spec): missing required field "selector" in io.k8s.api.apps.v1.DeploymentSpec; if you choose to ignore these errors, turn validation off with --validate=false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4a

[2018-10-17 17:26] dalmat36 opened #17077 "Detect changed files"
Is there a way to use the ADF SFTP connector to copy only files that have been added / changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-bbeb-811c-c2bfb31c37a3
* Content: [Copy data from SFTP server using Azure Data Factory](https://docs

[2018-10-17 17:37] #16620 closed

[2018-10-17 17:38] MarkusVi commented on #12986
We have added a link to the article that explains how to configure the proxy settings using GPO.

#please-close

[2018-10-17 17:39] Mike-Ubezzi-MSFT commented on #17073
@lloydleebarber Are you following any documentation? We are actively investigating and will get back to you soon.

[2018-10-17 17:40] redshiftz commented on #17075
adding
  selector:
    matchLabels:
      app: azure-vote-front
to the deployment sections corrects this error.

[2018-10-17 17:43] #17034 closed

[2018-10-17 17:50] Mike-Ubezzi-MSFT commented on #17068
@RachelYang02 Thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-10-17 17:51] Mike-Ubezzi-MSFT commented on #17065
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-17 17:53] MohitGargMSFT commented on #16976
@ImNotSerious The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out.

[2018-10-17 17:54] LisandroSu opened #17078 "Azure Firewall now supports FQDN tags for ASE platform traffic"
@nakamacchi commented on [Wed Oct 17 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/784)

In the forced tunneling scenario, we can use Azure Firewall FQDN tags to allow outbound access to ASE platform traffic. Could you please check this? Thanks.
https://docs.microsoft.com/ca-es/azure/firewall/fqdn-tags

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の

[2018-10-17 17:55] LisandroSu commented on #17078
Hi team,

Please check this issue.

Thanks!

[2018-10-17 18:01] LisandroSu opened #17079 "Sample Error 502.5 occurs."
@yourera commented on [Wed Oct 17 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/232)

I was practicing while watching the document.
![image](https://user-images.githubusercontent.com/42599812/47068186-95494f80-d226-11e8-80c7-484e95dd0d9e.png)
[this is my key vault]
![image](https://user-images.githubusercontent.com/42599812/47068236-af832d80-d226-11e8-96ae-41ae91910878.png)
[and..

[2018-10-17 18:02] LisandroSu commented on #17079
Hi Team,

Please check the issue the user is having with the sample.

Thanks!

[2018-10-17 18:02] ecfan commented on #17049
Thanks, @StefH! We've created a work item and will triage.

@Grace-MacJones-MSFT: #please-close

[2018-10-17 18:04] omarterp opened #17080 "Create Markdown Tables Guide"
How do we access this guide, as it is now on Microsoft's internal network?

Create tables in markdown
This guidance has moved to the docs.microsoft.com internal contributor's guide.

See https://aka.ms/markdown-tables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c11e26-0b4e-c922-1578-a487b16a7b7b
* Version Independ

[2018-10-17 18:06] #17049 closed

[2018-10-17 18:11] ecfan commented on #16951
@MarkParsonsOS and @mike-urnun-msft, thank you!

[2018-10-17 18:12] PramodValavala-MSFT commented on #17061
@abhinav-jain09 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-17 18:14] PramodValavala-MSFT commented on #17048
@Dipluz Thanks for the feedback! We will review and update you with our findings.

[2018-10-17 18:15] lloydleebarber commented on #17073
Yes, I'm following the documentation in this link:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow

[2018-10-17 18:16] brunoborges opened #17082 "Add list-locations"
Command to list locations is pretty common. Add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fc7444e-0ad5-785e-3eb4-b41ce862f719
* Version Independent ID: 505db15e-d949-9ac7-f328-07af91597d2c
* Content: [Common Azure CLI commands](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-manage)
* Conten

[2018-10-17 18:19] #16976 closed

[2018-10-17 18:25] alohaninja opened #17083 "Search Analytics - Log Analytics vs Application Insights"
Which is the preferred approach for analyzing search index usage? Seems the BI report template only supports AI which requires custom telemetry events to be added - the benefit being able to track searches & clicks and correlate them with requests. Can we add some docs on Log Analytics operational logs that allows out-of-the-box functionality without having to invest in custom app telemetry? Can w

[2018-10-17 18:27] ecaron opened #17084 "X-Original-Host does not work on Application Gateway v2"
Per ticket 118101521001417, X-Original-Host isn't available for Application Gateway SKU V2. Please update the documentation to call that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked qu

[2018-10-17 18:27] jeremytbrun commented on #10926
I'm running into this issue with the AzureAD v2.0 module not supporting MFA management. Any updates on Microsoft getting that functionality built in so that we don't have to keep using the MSOnline v1.0 module which Microsoft keeps telling us we shouldn't use because it's deprecated?

[2018-10-17 18:28] cliffkoh commented on #14504
The feedback about the documentation gap was more, in the absence of any manual configuration, what the default logging behavior is...

[2018-10-17 18:28] scheek commented on #16879
@arduppal The host OS is Windows 10 IoT Enterprise. I want to have a module that manages files on the host .Those files are utilized by other modules.

[2018-10-17 18:29] JasonKleban commented on #16805
I still don't know what the default log level is if it isn't explicitly overridden with a host.json.

Adding to the confusion is that context.log()-logged messages don't reliably appear in the "Log Monitoring" log streaming feature of the azure "Platform Features" tab of "Functions" dashboard.  Sometimes they spit out and sometimes they don't and I haven't figured out when it works and when it doe

[2018-10-17 18:30] mike-urnun-msft commented on #16840
@giovannifl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-17 18:30] #16840 closed

[2018-10-17 18:32] MicahMcKittrick-MSFT commented on #17082
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-17 18:32] alohaninja commented on #17083
So [I found the BI template equivalent of Application Insights](https://docs.microsoft.com/en-us/azure/search/search-monitor-usage#analyzing-your-data-with-power-bi) but it's only for **Azure Search** data that is persisted to **Azure Storage** - not **Log Analytics**. Curious if there is any work planned for [PowerBI Content Pack](https://app.powerbi.com/getdata/services/azure-search) to integrat

[2018-10-17 18:33] MicahMcKittrick-MSFT commented on #17075
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 18:33] tfitzmac commented on #13896
#please-close

[2018-10-17 18:33] MicahMcKittrick-MSFT commented on #16774
@bizinbarefeet I will close for now. When ready please let me know and we can reopen and continue.

[2018-10-17 18:34] TomArcher commented on #15765
@justcallmetrell I'm going to close the Issue, but please let us know if we can help further and we will. Thanks again for the feedback.

@femsulu #please-close

[2018-10-17 18:44] SaurabhSharma-MSFT commented on #16902
@longnlp Instead of using the "Common" endpoint, have you tried using the "tenant-id" for getting the token.
https://login.microsoftonline.com/<tenant-id>/oauth2/token

[2018-10-17 18:46] #13896 closed

[2018-10-17 18:46] arduppal commented on #16879
@scheek - As mentioned in the pre-req section, today we support Windows 10 IoT Enterprise with October update only. And they GAed:- https://blogs.windows.com/windowsexperience/2018/10/04/windows-10-iot-delivers-innovation-and-intelligence-at-the-edge-with-the-october-2018-update/#vMGL2X1qXUTWJF1M.97

[2018-10-17 18:50] falmada opened #17085 "Changes to Deployment Credentials - Outdated documentation"
Have you recently made any changes on Deployment Credentials menu? It does no longer appear as indicated on the documentation above. Seems that now we are getting our credentials based on app_name/domain_user instead. Kindly update the documentation to reflect existing product configuration. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-10-17 18:58] erikverwer commented on #16573
Newly created VSTS Git Project and newly created Automation Account give the same result.
`workflow test-workflow {
    $Array = @("Value1", "Value2", "Value3")
    Foreach -parallel ($Item in $Array) {
        $Item
    }
}`
![image](https://user-images.githubusercontent.com/24406274/47109458-94c4af00-d24e-11e8-8a5a-3a9feb349b84.png)

manual import works fine.
![image](https://user-images.githubu

[2018-10-17 18:58] Karishma-Tiwari-MSFT commented on #16602
@simonlegeek We will now close this issue. Please come back when you are ready and we will gladly continue the discussion.

[2018-10-17 18:58] #16602 closed

[2018-10-17 18:58] flbarros commented on #16577
Also, new managed disks are by default encrypted using SSE. Does it mean data will remain encrypted on the fly or they  will be decrypted to perform backup and will be encrypted again at rest when backup finishes?

[2018-10-17 19:03] Mike-Ubezzi-MSFT commented on #17080
@omarterp Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-17 19:04] BacharBader commented on #16880
@SaurabhSharma-MSFT  I'm able to run the command if I login to the server/computer but I want to run it remotely against all computers in a domain. the problem is I couldn't find any power shell script allow to run a command using remote loggedin user rights.

[2018-10-17 19:05] erikverwer commented on #16573
after updating the modules still the same result.
![image](https://user-images.githubusercontent.com/24406274/47110061-25e85580-d250-11e8-911e-cc4d4c3072f9.png)
![image](https://user-images.githubusercontent.com/24406274/47110146-5af4a800-d250-11e8-8b95-21fc02bc3f1f.png)

[2018-10-17 19:07] #16982 closed

[2018-10-17 19:08] mike-urnun-msft commented on #17069
Hi @NickDrouin Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-17 19:09] mike-urnun-msft commented on #17024
Hi @SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-17 19:10] alohaninja opened #17086 "Available bandwidth - clarification"
Can you please clarify if the available bandwidth is Cache Read + Cache Write metric? I'm assuming we sum the two metrics together to arrive @ network throughput.

Would be great if Redis metrics made this easier to discover when you are saturating your network pipe - seems like you have to manually combine the two fields to understand resource throughput.

---
#### Document Details

⚠ *Do not edi

[2018-10-17 19:12] tfitzmac commented on #16982
@daedam - thanks for pointing this out. The fix will be published this afternoon.

[2018-10-17 19:13] erikverwer commented on #16573
added a copy and removed -parallel and that one is synced.
![image](https://user-images.githubusercontent.com/24406274/47110556-79a76e80-d251-11e8-812a-6a1964f5665e.png)

[2018-10-17 19:21] BobcatProgrammer opened #17088 "Wrong run.csx template"
The code template in the step "Add image captions with Computer Vision" contains an old url for the Cognitive API.  The file is this one: https://github.com/Azure-Samples/functions-first-serverless-web-application/blob/master/csharp/ResizeImage/run-module5.csx
The docs generate an url like this:
https://westcentralus.api.cognitive.microsoft.com/analyze?visualFeatures=Description&language=en
But it

[2018-10-17 19:27] MarileeTurscak-MSFT commented on #17038
@NBelham good catch! I made a pull request to the doc and the changes should merge shortly.

[2018-10-17 19:27] #17038 closed

[2018-10-17 19:28] TravisCragg-MSFT commented on #17000
@msfcolombo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 19:30] MohitGargMSFT commented on #16978
@DimsumPanda It seems its not possible to do that. However, I will confirm with Service team contact and let you know once I have an update.

@CelesteDG Do you know if you can assign token lifetime policy to application registered through apps.dev.microsoft.com for azure ad v2 end point?

[2018-10-17 19:30] TravisCragg-MSFT commented on #17001
@irab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 19:31] btardif commented on #17085
@cephalin this doc is outdated, we need to reference the deployment center path for setting creds now.

@falmada this is documented here: https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-ftp#get-ftp-connection-information

[2018-10-17 19:35] TravisCragg-MSFT commented on #17002
@overslacked Thank for the feedback! If you would like us to implement this feature in the future, Please [leave your feedback Here](https://feedback.azure.com/forums/217298-storage)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 19:35] #17002 closed

[2018-10-17 19:36] TravisCragg-MSFT commented on #17007
@LoganZhao Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 19:38] TravisCragg-MSFT commented on #17008
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 19:38] MohitGargMSFT commented on #16984
@KepanoEgg Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-17 19:39] TravisCragg-MSFT commented on #17037
@LeonardoFelippine We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 19:39] #17037 closed

[2018-10-17 19:40] TravisCragg-MSFT commented on #17084
@ecaron Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-17 19:40] siobhter opened #17089 "C#"
I might be missing something, so hopefully this isn't a really dumb question....

C# is not one of the runtime stack options for a new functionapp. I am referring to Step 1 under "Create function to clean HTML." So you choose .net runtime. With that setting chosen in the app, I can't see how to create the C# function in the app as mentioned in Step 3: "open the Scenario list, and select Core. In t

[2018-10-17 19:43] myszon01 commented on #16613
Now it is working. I have deployed a new service bus.

[2018-10-17 19:44] mike-urnun-msft commented on #17055
Hi @SychevIgor Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-17 19:47] mike-urnun-msft commented on #17027
Hi @SychevIgor Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-17 19:49] mike-urnun-msft commented on #17010
Hi @romankiss Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-17 19:49] siobhter commented on #17089
Never mind, I'm a moron and I was clicking on the wrong option in the new function process.

[2018-10-17 19:50] mike-urnun-msft commented on #17047
Hi @boylec Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-17 19:51] MicahMcKittrick-MSFT commented on #17075
@redshiftz thanks for this.

@iainfoulds I confirmed I get the same error running through the doc as and as @redshiftz mentioned adding

selector:
matchLabels:
app: azure-vote-front

seems to fix the errors. Can you take a look?

[2018-10-17 19:56] MohitGargMSFT commented on #16983
@chancegray The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out.

[2018-10-17 19:56] #16983 closed

[2018-10-17 19:56] jrinehart76 commented on #5530
Quick question, after using the Set-AzureRmDiagnosticSetting do you then need to Set-AzureRmResource? When I run the Set-AzureRmDiagnosticSetting it doesn't actually set the diagnostic setting.

This is what i'm doing in a nutshell:
$resource = Get-AzureRmResource
$ws = Get-AzureRmOperationalInsightsWorkspace
$wsid = $ws.ResourceId
 Set-AzureRmDiagnosticSetting -ResourceId $resource.ResourceId -Wo

[2018-10-17 19:58] aydeisen opened #17090 "Converting an existing VM when System Assigned Identity is enabled"
When following the PowerShell instructions in the [Convert an existing VM using Azure Hybrid Benefit for Windows Server](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing#convert-an-existing-vm-using-azure-hybrid-benefit-for-windows-server) on a server with "System Managed Identity" turned on, I receive the error `'Failed to perform resource
identity oper

[2018-10-17 19:59] carmonmills commented on #16577
@SaurabhSharma-MSFT would you help get this to the right person on your team for follow up to the questions listed above.

@rayne-wiselman for your visibility

[2018-10-17 20:02] iainfoulds commented on #17075
Yep, sorry about that @redshiftz. I was already working on an update for this and a couple of other docs. I updated the manifests to use _apps/v1_, but didn't get the selector in place. This doc update should publish this afternoon.

#in-progress

[2018-10-17 20:04] kobulloc-MSFT commented on #16930
@noahfalk I'm setting up a repro for this but I want to make sure that you are aware of sampling in Application Insights as that was the first thing I thought of when you mentioned seeing results that didn't match what you were expecting from Math.Sin().

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-sampling

[2018-10-17 20:05] KepanoEgg commented on #16984
TIL: The password is used for the final step of uploading the cert to the app service. Other than remembering when I am going to need to update the cert, I did not use the ending date in this process that I now have working.

[2018-10-17 20:12] cconrado opened #17092 "Docs on Agent Updates"
Theres no mention on how the agent itself gets updated or a changelog between versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2be9-0eba-b68a-e3e266e7949c
* Version Independent ID: c931a6ce-5d85-b6b7-420d-99e2c9ed09d4
* Content: [Managing the Azure Log Analytics Agent](https://docs.microsoft.com/en-us/

[2018-10-17 20:14] saykumar commented on #16971
Thanks. I used the rather verbose way of defining a PV and PVC. The PV could have mount options. The documentation you linked to applied to the Pod, but not the Volume AFAIK.

[2018-10-17 20:18] iainfoulds commented on #17075
@redshiftz This update has merged and should publish in the next couple of hours.

@MicahMcKittrick-MSFT #please-close

[2018-10-17 20:18] MicahMcKittrick-MSFT commented on #17075
Thanks @iainfoulds!

[2018-10-17 20:19] #17075 closed

[2018-10-17 20:30] tapialuism opened #17094 "List Connection Settings"
The public IP appears although connection fails.
I am unable to RDP to VM. All that displays is "Cant connect to remote computer."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e965d9-bda3-ba82-00e0-a4c8b30a23cf
* Version Independent ID: d00377a2-9524-d17e-e98c-780a633d70ce
* Content: [Tutorial - Create and manage a

[2018-10-17 20:31] randycampbell opened #17095 "500 error trying to update document"
Trying to update the following document with a very minor change sends me to a page with a 500 error:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-connectivity-architecture.md

Please advise, thanks!

~Randy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad

[2018-10-17 20:36] kobulloc-MSFT commented on #17009
@ebrayton Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-17 20:41] redshiftz commented on #17075
Thank you both!

On Wed, Oct 17, 2018 at 3:19 PM Micah <notifications@github.com> wrote:

[2018-10-17 20:42] siobhter commented on #17089
@mike-urnun-msft it appears I'm still having one problem (and it's more likely ID10T than anything):
![image](https://user-images.githubusercontent.com/8883891/47114751-94f28980-d211-11e8-80cc-b2288a5a2295.png)
I don't see the C# option when setting up the HTTP trigger. If I create the trigger and paste the code from the guide, tests don't pass (500 error)
![image](https://user-images.githubuserco

[2018-10-17 20:42] SaurabhSharma-MSFT commented on #17015
@jusso-dev Please refer to [Azure Security Center REST API's](https://docs.microsoft.com/en-us/rest/api/securitycenter/) which has list of REST API's available for Security Center.

[2018-10-17 20:42] burstingninja commented on #15838
yes, that's the error I get. Has your team found a solution to this issue?

[2018-10-17 20:46] robinsh commented on #16613
@myszon01  That's great news! I'm glad you got it working.

[2018-10-17 20:47] robinsh commented on #16613
@guub How's it going? Have you had any success getting the tutorial to work?

[2018-10-17 20:47] solidcloudio opened #17097 "Versioning the APIs"
Its a bit misleading using "v1" as the name of the Version.  I have multiple APIs, If I use v1 on one API, I can't use v1 on any of the others...  That's a bit frustrating...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9498
* Version Independent ID: fcd9c088-8b17-e53b-4c93-f90f2dc5c09

[2018-10-17 20:47] rplumb opened #17098 "Timeout with BulkUpdate"
When I perform a BulkUpdate including an UpdateItem that has an id : partitionKey combination that does not exist in the collection, the method never returns. This is originating from an API call so the weblistener times out after 5 minutes and returns a 500 response, but I never see any exceptions from the BulkUpdate call.

The BulkUpdateResponse includes a count of updated documents, so I assume

[2018-10-17 20:52] MarileeTurscak-MSFT commented on #17031
@michevnew I have assigned this to the content author @rolyon to look into your issue. If you would like to make any specific changes you can make a pull request and follow the shortcuts in [this tutorial ](https://www.youtube.com/watch?v=nvPOUdz5PL4)to add the images.

[2018-10-17 20:56] victorp13 commented on #16411
I received the following error:
AttributeError: 'KustoResultTable' object has no attribute 'to_dataframe'

[2018-10-17 20:59] bawilless commented on #17043
Hi  Westly,

Last week there were instructions on how to download the initial certificate to use for the proof-of-possession for the DPS.  I’ve done this a couple of times before where we downloaded the X.509 certificate that was used for the proof-of-possession exercise.

It looks like now, I need to have the tools to generate this certificate myself and upload it to Azure.  Is this the case?

Th

[2018-10-17 21:00] Aunworapat opened #17099 "worapat_su@elearning.cmu.ac.th"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4459a0c8-0451-bbdf-3d2f-f62f46dc2240
* Version Independent ID: 7ebbbee6-1bd2-de5a-aabf-978d12099f3f
* Content: [Windows 10 roaming settings reference](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-windows-enterprise-state-ro

[2018-10-17 21:02] mgblythe commented on #16411
Thanks for the feedback @aravish and @victorp13. I made one update but need to make additional updates to this article based on API changes. In the meantime, take a look at the first and last code blocks in https://docs.microsoft.com/en-us/azure/data-explorer/python-query-data to see the changes (API version and dataframe function).

[2018-10-17 21:05] HeidiSteen commented on #17083
I don't think so -- haven't heard anyone mention it, but the best place to ask is on stack overflow.  The forum is closely monitored by the engineering group.  Here is the link: https://stackoverflow.com/questions/tagged/azure-search

[2018-10-17 21:05] JasonWHowell commented on #16513
This fix is merged. I hope it will publish soon. Thanks! Jason
#please-close

[2018-10-17 21:12] MarkusVi commented on #16020
Hi @toddjohnson39, this should answer your question: aka.ms/owalimitedaccess

#please-close

[2018-10-17 21:16] ptallett commented on #16906
I know, that is exactly the section I want changed. Neither of the references you point to actually tell you how to get the service principal. After much external searching I found the command to input into Graph to give me the service principal but it didn’t work (some permissions issue).

Since the article is already using the PowerShell cmdlets, wouldn’t it be more sensible to just type Get-Azu

[2018-10-17 21:20] wesmc7777 commented on #17043
I'm not aware of those instructions for DPS. Perhaps it was a specific Azure Sphere test lab instructions?

[2018-10-17 21:27] jeffpatt24 commented on #17007
#please-close

[2018-10-17 21:28] JasonWHowell commented on #16074
@jpchauhan One other point: when you create an HDInsight cluster, the Virtual Machine size is part of the choices you can make in the Azure portal. The amount of memory and CPUs available in the cluster is a factor of which size of VMs you pick and how many worker nodes you pick. The price varies based on the VM size and number of VMs.  More details [https://docs.microsoft.com/en-us/azure/hdinsigh

[2018-10-17 21:31] TravisCragg-MSFT commented on #15590
@grayjeremy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@curtand can you add a link to that article in this doc so that others will be able to understand what it is for?

[2018-10-17 21:31] #15590 closed

[2018-10-17 21:34] SethBaumiller opened #17100 "Azure monetary commit reduced rate"
Hi team,
Can you please clarify the below statement from your article? My understand was that Azure consumption rates are all the same across the board regardless if the customer elects an upfront monetary commitment payment method or being billed in arrears.

"Customers who sign an Enterprise Agreement can create an up-front monetary commitment to Microsoft. Along with providing a simple way to a

[2018-10-17 21:38] TravisCragg-MSFT commented on #17007
@LoganZhao We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 21:38] #17007 closed

[2018-10-17 21:45] conceptdev commented on #16123
@johnroodt I'm not sure why the download is failing, but you can find the source code for all the SDKs and samples on GitHub here: https://github.com/Azure/azure-mobile-apps, including the iOS code for the quickstart here: https://github.com/Azure/azure-mobile-apps-quickstarts/tree/master/client

The `=` is probably a typo - thanks for letting us know about that.

[2018-10-17 21:45] wesmc7777 commented on #17043
Brian,

Is this the doc you are looking for?

[https://docs.microsoft.com/en-us/azure-sphere/app-development/setup-iot-hub](https://docs.microsoft.com/en-us/azure-sphere/app-development/setup-iot-hub)

[2018-10-17 21:46] Mike-Ubezzi-MSFT commented on #17098
@rplumb Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-17 21:47] Mike-Ubezzi-MSFT commented on #17098
@rplumb Which Service API are you consuming and which client are you using (C#, Java, Node, etc.). Thanks...

[2018-10-17 21:48] MicahMcKittrick-MSFT commented on #17094
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 21:48] MicahMcKittrick-MSFT commented on #17090
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 21:50] femsulu commented on #17044
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 21:52] #16513 closed

[2018-10-17 21:52] femsulu commented on #17029
@vladislav-mitev Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 21:53] TravisCragg-MSFT commented on #17070
@mcurko when you [create the backup,  you specify the container name and Item name](https://docs.microsoft.com/en-us/azure/backup/quick-backup-vm-cli#start-a-backup-job).

If you do not remember the Container or Item name, [you can list them using the CLI](https://docs.microsoft.com/en-us/cli/azure/backup/container?view=azure-cli-latest#az-backup-container-list).

[2018-10-17 21:55] conceptdev commented on #16123
@JohnStraumann glad you got it working! We only briefly touch on patterns like MVC and MVVM in [our docs](https://docs.microsoft.com/xamarin/cross-platform/app-fundamentals/building-cross-platform-applications/) - there are better places to learn about those. Xamarin.iOS supports the same kind of MVC approach that iOS developers use with Objective-C and Swift; and if you choose to use Xamarin.Form

[2018-10-17 21:59] rplumb commented on #17098
CosmosDB bulk executor, using C# library.

On Wed, Oct 17, 2018, 4:48 PM Mike Ubezzi <notifications@github.com> wrote:

[2018-10-17 22:02] MicahMcKittrick-MSFT commented on #17094
@tapialuism I ran through this doc as written and am able to connect successfully

![image](https://user-images.githubusercontent.com/32313503/47118806-6aa6c900-d21d-11e8-9824-31511b5a9aa6.png)

Are you connecting from your home network or your corpnet? If you are using your corpnet there is likely firewall rules put in place that are preventing you from connecting.

You can also check to make sur

[2018-10-17 22:09] Mike-Ubezzi-MSFT commented on #17095
@randycampbell Did you try to 'edit' and were you 'Logged In' from the published page? [Azure SQL Database Connectivity Architecture](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture)

You will not be able to do a Pull Request but you should be able to edit and submit edits. At which step did you get a Http 500 error?

![screenshot 452](https://user-images

[2018-10-17 22:15] bawilless commented on #17043
Yes that’s it.  I’ll update the lab to use that link.

Thank you,

Brian

Brian Willess

brian.willess@avnet.com<mailto:%20brian.willess@avnet.com>

Technical Solutions Engineer

Engineering & Technology

[http://digital.avnet.com/signature/images/Avnet_logo_tagline_rgb.png]

1672 W. Flintlock Way

Chandler AZ, 85286

O 480.534.6041

avnet.com<http://www.avnet.com/>

From: Wesley McSwain [mailto:n

[2018-10-17 22:17] Mike-Ubezzi-MSFT commented on #17080
The customer managed to find a link that references an internal link and not the public link for the same document. I am assigning to the content owner to evaluate and update as appropriate.

@omarterp Do you happen to recall where that link is that linked the 'internal' copy of the document?

[2018-10-17 22:35] tfitzmac commented on #17010
@banisadr - I am seeing the same issue. The event schema is set to InputEventSchema even if I specify another schema. Also, has the ability to update the event schema been removed?

[2018-10-17 22:46] wesmc7777 commented on #17043
You are welcome. Thanks for letting us know.

[2018-10-17 22:46] wesmc7777 commented on #17043
#please-close

[2018-10-17 22:48] tfitzmac commented on #13200
The article has an example that shows applying tags to a resource group that has tags.
#please-close

[2018-10-17 22:49] tfitzmac commented on #6167
#please-close

[2018-10-17 22:49] #16943 closed

[2018-10-17 22:52] kvinther opened #17102 "Please provide an example for providing the connection string"
### I am trying to use node.js to pop messages of a Azure Service Bus Message Queue.

In the example it is stated that the azure modules will try to get the connection string from an environment variable by default - otherwise we must provide it when calling createQueueService.

I have tried supplying the connection a myriad of ways, but to no avail. Please provide an example of how this connectio

[2018-10-17 22:54] #16123 closed

[2018-10-17 22:56] tfitzmac commented on #15399
#please-close

[2018-10-17 22:57] mattbriggs commented on #16944
@mzbowe Thanks for the suggestion. I will add the reference and link to our AZCOPY article. Cheers! Matt
#please-close

[2018-10-17 22:57] jason-j-MSFT commented on #17092
@cconrado at the bottom of the page there is a 'Next steps' section:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-agent-manage#next-steps

From the above linked document there is a section on upgrading the agent:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-agent-linux-support#issue-the-log-analytics-agent-upgrade-on-demand

[2018-10-17 23:04] TravisCragg-MSFT commented on #16944
@mzbowe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 23:04] #16944 closed

[2018-10-17 23:05] dcbrown16 commented on #17014
Got it, thanks!

[2018-10-17 23:05] #17014 closed

[2018-10-17 23:08] femsulu commented on #17100
@SethBaumiller Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 23:08] dcbrown16 commented on #16920
Great, thanks for looking into that.

[2018-10-17 23:10] femsulu commented on #16669
@vjabala sorry for the delay, I'm looking into this.

[2018-10-17 23:14] femsulu commented on #16905
@georgewallace any ideas on this please?

[2018-10-17 23:14] Karishma-Tiwari-MSFT commented on #16831
@JeanQian We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-17 23:14] #16831 closed

[2018-10-17 23:16] kvinther commented on #17102
I just realized that the queue service has nothing to do with the message bus queues... I needed to create serviceBusService instead...

My problem is solved.

[2018-10-17 23:16] #17102 closed

[2018-10-17 23:18] Karishma-Tiwari-MSFT commented on #16938
@amitgc I will let the author of the doc investigate on this and take further action if needed.

[2018-10-17 23:28] jason-j-MSFT commented on #17041
@balait01
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 23:36] SaurabhSharma-MSFT commented on #17079
@LisandroSu Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-17 23:36] radezheng opened #17104 "what about heartbeat message for mqtt"
will it count?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c24f5e9c-de70-b73a-b002-12fa534ebd53
* Version Independent ID: 4a071a6b-8b76-46f4-4daa-813b5fc64fbb
* Content: [Understand Azure IoT Hub pricing](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-pricing)
* Content Source: [articles/iot-hub/iot

[2018-10-17 23:37] SaurabhSharma-MSFT commented on #17099
@Aunworapat Can you please let us know questions you have ?

[2018-10-17 23:47] alvipeo commented on #16793
ok, I tried to encode UHD video with the following Transform:

[code]

and I got the following log:

	JobOutput[0] is 'Queued'.
Job is 'Processing'.
	JobOutput[0] is 'Processing'.
  Progress: '0'.
Job is 'Error'.
	JobOutput[0] is 'Error'.
Job ended with error: Fatal service error, please contact support.
	An error has occurred. Stage: ProcessSubtaskRequest. Code: System.Net.WebException.

How do I

[2018-10-17 23:49] Mike-Ubezzi-MSFT commented on #17088
@BobcatProgrammer Thank you very much for your thorough detail. I will have the content owner review and make an update as appropriate.

[2018-10-17 23:50] Grace-MacJones-MSFT commented on #17074
Hi @rohit901, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 23:52] Grace-MacJones-MSFT commented on #17078
Hi @LisandroSu, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-17 23:56] romankiss opened #17106 "Querying on Device Twin property with a name 'group' always failed"
There is no problem to create a property with a name **group**, but the query on this property will always failed, for examples:

SELECT * FROM devices WHERE tags.**group**.region = 'US'
SELECT * FROM devices WHERE tags.**group** = 'US'
SELECT * FROM devices WHERE properties.desired.**group**.region = 'US'
etc.

For more explanation see:  https://stackoverflow.com/questions/52854821/error-querying

[2018-10-18 00:03] jason-j-MSFT commented on #16451
@douglaslMS I am seeing the same behavior when I try to create a 'blobPathBeginsWith' property:
![annotation3](https://user-images.githubusercontent.com/37126381/47123087-88c8f500-d22e-11e8-93e3-599cfdcbc377.png)

[2018-10-18 00:06] conceptdev commented on #17074
There appears to be an issue with the portal - all the preconfigured templates are not currently downloading correctly.

You can find the source code for those templates in GitHub here: https://github.com/Azure/azure-mobile-apps-quickstarts/tree/master/client -- although they will not run "out of the box" because the Azure hostname will not have been updated. See the README for more information.

[2018-10-18 00:07] TravisCragg-MSFT commented on #17039
@Enver-Adams the prefixes are [advertised via BGP](https://docs.microsoft.com/en-us/azure/expressroute/how-to-routefilter-portal) when Microsoft Peering is enabled, but you are correct, it is not clear how the traffic is routed, and an output of advertised routes does not show any MS services.

@cherylmc can you help clarify if additional routes are needed in this example?

[2018-10-18 00:08] Alberto-Vega-MSFT commented on #17066
@injector22 "Thanks for the feedback! We are currently investigating the issue and we will get back to you shortly."[testlink](www.testurl.com)

###1441
- 1. item1
 - 2. item2
 - 3. item3

[2018-10-18 00:09] jason-j-MSFT commented on #16486
@Nikhil-Srinidhi ADF is not on the trusted service list for Azure Storage firewall:
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#trusted-microsoft-services

[2018-10-18 00:09] #16486 closed

[2018-10-18 00:11] douglaslMS commented on #16451
@ramveluit Yes, again, this is not valid syntax without the `blobs` segment, as we call out in the Note in the article.

[2018-10-18 00:14] jason-j-MSFT commented on #16526
@bwren I confirm these are missing, could you take a look?
https://docs.microsoft.com/en-us/azure/log-analytics/query-language/get-started-queries?toc=/azure/azure-monitor/toc.json#where-filtering-on-a-condition

[2018-10-18 00:18] yourera commented on #17079
@LisandroSu In addition, this case is local Start without Debugging

when i deploy on Azure and I registered an access policy. in keyvault then this example works correctly

Thanks!

[2018-10-18 00:30] Grace-MacJones-MSFT commented on #16325
Hi @0GiS0, thank you so much for your patience. It is possible to access more than one backend. We're still investigating the best way to do so using additionalLoginParams. In the meantime, please follow the steps in this [documentation ](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-webapi-openidconnect/ )as a workaround to access more than backend.

[2018-10-18 00:31] cynthn commented on #16938
@amitgc thanks for the feedback! Yes, there were some terminology changes and some are still happening. I already have a work item to go over the steps again and update the terminology. Thanks again!

#please-close

[2018-10-18 00:49] xiangwums commented on #16201
This issue has multiple hits and kindly update it ASAP.

[2018-10-18 00:51] jason-j-MSFT commented on #16451
@douglaslMS yes the blobs segment is required, however this section states a container name on its own is valid:
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger#examples-of-event-based-triggers

[2018-10-18 00:54] #16074 closed

[2018-10-18 00:55] MarileeTurscak-MSFT commented on #17051
@seancostigan  Please leave a description of where you think this needs to be added and we can merge the fix. Or, if you'd prefer, you can make a pull request and reference it here and we can merge the change for you.

[2018-10-18 00:56] yukiatsuxl opened #17107 "Two step verification"
[Enter feedback here]
I didn't get my problem answer here. I can't access my email muhammad.asshiddiqie@binus.ac.id .because, I lost my phone number that used for 2-step verification. the site says I need to tell my administrator, but I don't know who is the administrator
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-10-18 01:58] manish-shukla01 commented on #17006
@navyasric thanks. its weird now after changing to that it does not even let me use a non-work account. like it asks me to use only work account. no MSA allowed :( that account i am using clearly ha access to azure portal and also has bunch of subscriptions attached to it.

[2018-10-18 02:39] noahfalk commented on #16930
Yes, I did see that page though as far as I could tell the behavior I was seeing didn't appear related to sampling. My hope was that AI would be doing something reasonable by default for sampling and then if I cared specifically about what the sampling rate was I could customize it. However I never reached the customization step because the default case wasn't working.

In the case of my sine wave

[2018-10-18 02:42] longnlp commented on #16902
Hi @SaurabhSharma-MSFT

I tried this today, and the same result:
{"error":"invalid_grant","error_description":"AADSTS70002: Error validating credentials. AADSTS50126: Invalid username or password\r\nTrace ID: c4525777-4f31-46bd-b600-7ebc96220000\r\nCorrelation ID: d5900847-6370-477c-a4da-a6f0ea24420c\r\nTimestamp: 2018-10-18 02:39:23Z","error_codes":[70002,50126],"timestamp":"2018-10-18 02:39:23Z"

[2018-10-18 02:49] 15ramky opened #17110 ""The newer VHDX format is not supported in Azure. When you create a VM, specify VHD as the format. If needed, you can convert VHDX disks to VHD using qemu-img convert""
i don't see in "qemu-img --help"(version 2.0.0 and 2.7.0) to convert to VHD format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6034e25f-4b16-66ce-eb44-305000dbd625
* Version Independent ID: e4a5dcbc-a3a5-4439-bd69-de4a6111d355
* Content: [Upload or copy a custom Linux VM with Azure CLI](https://docs.microsoft.com/en

[2018-10-18 02:57] bingosummer commented on #13499
BTW, `autoconf` is needed to run `./autogen.sh`

[2018-10-18 02:59] linda33wj commented on #16101
@MedAnd Thanks for reporting this. The doc has been fixed.

#please-close

[2018-10-18 03:06] randycampbell commented on #17095
Hi Mike,

Sorry I should have included steps that I take to get the 500 error:
1) Go to https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture
2) Click Edit - this takes me to the GitHub link for the article.

NOTE:  I was not logged in to the published article, but I am logged in to GitHub

3) Click the "pencil" icon
4) I make the edits in the text, scroll to t

[2018-10-18 03:44] Alberto-Vega-MSFT commented on #17106
@romankiss Thanks for your feedback! We are currently investigating and will update you shortly.

[2018-10-18 04:23] XanderM1960 opened #17111 "Microsoft Insights container in kubernetes"
How do you get this to run using kubernetes YAML? I am trying the below YAML to get this container running in docker, but the environment variable has a trailing newline (\n) when $(AI_INSTRUMENTATION_KEY) gets expanded:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d2544b-a09d-4ad1-3811-5b3f67154591
* Versio

[2018-10-18 04:43] wely opened #17112 "Clarify this doc"
1) What is the "stop" variable in OnClosing Method? Shall we define as public variable?
2) I realize that there's no OnClosing Event Handler in the Win Form, but there's only FormClosing, can i verify if this refers to the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516c83d5-29e4-4594-8431-18e90ada27ea
* Versi

[2018-10-18 05:08] cplemm opened #17114 "Error: should be 'Tags' instead of 'Tabs'"
In section 'Create a service endpoint policy', step 5 should say 'Tags' instead of 'Tabs'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61666071-75cc-b306-e685-596f078cf5b6
* Version Independent ID: 2da60037-63aa-6f20-3a0f-a521918ba431
* Content: [Create and associate service endpoint policies - Azure portal](https:/

[2018-10-18 05:15] femsulu commented on #5530
@arunakshi > We will _now__proceed_to close this thread. If there are __further__questions regarding this matter, please tag me in your reply. We will gladly _continue the[discussion](www.msn.com)and we will reopen the issue
- adafda_- asdfafdfa
 - asfafdsfa

1. new ordered list
2. new ordered list

[2018-10-18 05:45] mcurko commented on #17070
I know the container name, I used it in my example, I don't know the item name.

[2018-10-18 05:53] dcbrown16 opened #17115 "Images"
The architecture images do not display well on the dark document background. Please consider adopting practices to ensure that images are readable in both backgrounds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66022e29-3f7d-633d-fa34-2fd3afc2bc7a
* Version Independent ID: fe935bd7-efe5-8a76-02f7-4de3e6caade3
* Con

[2018-10-18 06:12] Klaas- commented on #16577
@flbarros my current understanding is this: managed disks are encrypted at rest, backup is encrypted at rest, the transport towards backup needs to be something like this: [encrypted data at rest managed disk] -> [on the fly decryption using SSE key] -> [transport to backup system - unsure about encryption of this connection, I've opened up #16940 for the recovery part of this transport because th

[2018-10-18 06:21] AJRus opened #17121 "Will this adhere to the tenant default timeline"
i.e. if we only require MFA every X days - or will it require it everytime the user logs in with a privileged account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [What is a baseline protection in Azure Act

[2018-10-18 06:42] imeya opened #17123 "sample of ytitle"
could you please provide a sample that how to use the ytitle property?  I used such a query:
 xxx | render timechart with (ytitle="my title"), but does not take effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4864bea-9d6f-089d-c88e-8fa31ce7bb82
* Version Independent ID: e3f4f25b-f398-ac20-5813-24e96ef1d54e
* Co

[2018-10-18 06:42] AnomisCefu commented on #16577
Andreea Simona Coțofană
ASC
simonik6970@microsoft.com

[2018-10-18 06:47] imeya opened #17124 "sample of ytitle"
please provide the sample of using ytitle. When I try to add title in the y-axis, use such query:
xxx | render timechart with (ytitle="mytitle"), but it does not take effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10099f08-04dd-b3f4-b833-3196ba54e4ef
* Version Independent ID: 6596eef2-2b3a-4f69-1756-3d8ab7ae348

[2018-10-18 06:49] AnomisCefu commented on #17123
ID: a4864bea-9d6f-089d-c88e-8fa31ce7bb82
Version Independent ID: e3f4f25b-f398-ac20-5813-24e96ef1d54e
Content: A reference guide to the View Designer parts in Azure Log Analytics
Content Source: articles/log-analytics/log-analytics-view-designer-parts.md
Service: log-analytics
GitHub Login: @SimonaCotofana
Microsoft Alias: simonik6970@microsoft.com

[2018-10-18 06:58] AnomisCefu commented on #17124
X-37909E5FAF2C4=simonik6970

[2018-10-18 06:59] AnomisCefu commented on #17124
Andreea Simona Cotofana
andreeasimonacotofana89@outlook.com

[2018-10-18 06:59] JeanQian opened #17125 "May I know if Standard_DS13-4_v2 is supported by classic VM cause I cannot even see Standard_DS13-4_v2 when I am resizing"
May I know if Standard_DS13-4_v2 is supported by classic VM cause I cannot even see Standard_DS13-4_v2 when I am resizing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6153af8d-c2cc-b93a-2c18-3e98a65ba4e2
* Version Independent ID: be9eaf8f-0abe-5fbb-d23c-038b2749a057
* Content: [Virtual machine sizes for Azure Cloud s

[2018-10-18 07:04] AndreasL53 opened #17126 "Sign-in risk policy vs user risk policy"
Hi,

the documentation is not making a good job in explaining the core differences. The pages even use exact same sentences to explain functionality, see extract below

What is the sign-in risk policy?
Azure AD analyzes each sign-in of a user. The objective of the analysis is to detect suspicious actions that come along with the sign-in.

What is a user risk policy?
Azure AD analyzes each sign-in

[2018-10-18 07:12] rbcoach commented on #16939
@MGoedtel Thank you for answer. I'm waiting for your answer. Have a nice day.

[2018-10-18 07:12] #16939 closed

[2018-10-18 07:28] sahilpnckr123 opened #17127 "Cannot Integrate Vnet to app"
Tried the new preview feature of VNET Integration but i am getting the following error:

VNet configuration completed successfully: Address prefix string for resource /subscriptions/xxxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/-RG/providers/Microsoft.Network/virtualNetworks/VNET/subnets/testsubnet cannot be null or empty.

My test subnet prefix is 10.235.5.80/28 And the test subnet doesn't have any res

[2018-10-18 07:28] AnomisCefu commented on #17097
Thank you ,
Andreea Simona Cotofana

[2018-10-18 07:28] BryanTrach-MSFT commented on #17074
@conceptdev Thank you for the update.

@rohit901 Since the product group is aware of the issue and a workaround has been provided, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 07:28] #17074 closed

[2018-10-18 07:41] pekspro opened #17129 "Using an existing storage causes error"
If the New-AzureRmResourceGroupDeployment command is executed with the parameter -newOrExisting set to “existing” the script will fail. This is because this line in azuredeploy.json is missing api-version:

"storageUri": "[reference(resourceId('Microsoft.Storage/storageAccounts/', variables('storageAccountName'))).primaryEndpoints.blob]"

It needs to be changed to:

"storageUri": "[reference(resou

[2018-10-18 08:06] CptQuint commented on #11616
@iainfoulds I did actually register for the private preview several months a go but never heard anything back.

[2018-10-18 08:10] andig opened #17131 "Issue: Cluster unstable during scaling operation"
Setup: RBAC-enabled AKS cluster with auto scaler deployed  according to https://docs.microsoft.com/en-us/azure/aks/autoscaler. During scaling operations, both up and down, I notice that PODs stop operating and the logfile shows various errors:

	I1018 07:17:03.855358       1 scale_down.go:175] Scale-down calculation: ignoring 2 nodes, that were unremovable in the last 5m0s
	I1018 07:17:03.923742

[2018-10-18 08:27] kkho opened #17132 "Keyvault connection feature for Azure Container Instance"
Hi!
Should there not be a way to use Azure KeyVault together with Azure Container Instance?
I have tried to find it in the documentation, but it seems that it does not mention anything about it.

I would rather not reveal secrets, credentials etc. into my instances environment variable.

[2018-10-18 08:28] satish-kuncha opened #17133 "java BlobTrigger dataype"
for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#feedback)
* Content S

[2018-10-18 08:29] satish-kuncha commented on #17133
the dataType when writing a BlobTrigger function for java should be "Binary" with a capital B, not binary with small b - else we will get a method with signature not found exception

[2018-10-18 08:33] MetehanBolat commented on #15476
Came here to say that :)
@davecanderson, you can test .blob. endpoint using either 80 or 443 ports. Both should succeed, unless HTTPS only property is enabled on blob endpoint.
To test .file. endpoint, indeed we should be testing over <storageAccountName>.file.core.windows.net
Thus, +1 to @eggind, please update the documentation.

[2018-10-18 08:45] timjroberts-inty opened #17134 "No refresh_token is returned when authorization_code is used in /token request"
I attempting to use the auth_code grant type in order to retrieve and then cache tokens. I successfully receive the auth_code, but when I then post to the /token endpoint using grant_type=authorization_code, I receive a JSON object back with only the access_token defined.

Could you define the scenarios in which a refresh_token would not be included in the token response?

---
#### Document Detail

[2018-10-18 08:56] MetehanBolat commented on #11486
Invoke-Expression -Command ("cmdkey /add:$([System.Uri]::new($storageAccount.Context.FileEndPoint).Host) " + "/user:AZURE\$($storageAccount.StorageAccountName) /pass:$($storageAccountKeys[0].Value)")

Replace the whole line as this and it will work.
Just added () to full expression. Then, + operator knew what to do.

[2018-10-18 09:06] rayne-wiselman commented on #15643
Thanks for your feedback! Should be fixed. #please-close

[2018-10-18 09:11] brinux opened #17135 "JSON data is converted to string"
I'm sending AppInsights a custom event which properties are written as JSON.
![image](https://user-images.githubusercontent.com/4747761/47143486-8fef1200-d2c5-11e8-99f6-cc7e7d1d1dcc.png)

This is well recognized, for example, by Analytics which automatically detects the JSON content.
![image](https://user-images.githubusercontent.com/4747761/47143622-dfcdd900-d2c5-11e8-9a60-d06bbc8ee750.png)

Sinc

[2018-10-18 09:16] rayne-wiselman commented on #15748
Thanks for your feedback! This is fixed. #please-close

[2018-10-18 09:18] femsulu commented on #17129
pekspro Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-18 09:18] Banchio commented on #17054
Thanks for the prompt response!

[2018-10-18 09:19] rayne-wiselman commented on #15147
I added the following notes to the article
- Only one fabric object can be created per region.
- If you've previously enabled Site Recovery replication for a VM in the Azure portal, Site Recovery creates a fabric object automatically. If a fabric object exists for a region, you can't create a new one.

Hope this note helps users avoid this issue. I'm closing the issue. If you have any further comm

[2018-10-18 09:23] clangnerakq opened #17136 "Azure fileshares for ACI in vnet-subnet inaccessible"
Hello,

i have an issue with deploying a container instance in an existig vnet-subnet.

Without deploying an container in a subnet, i can use an azure-file-volume-share to store data persistent.
As soon as i deploy an container in a subnet, i can't use the azure-file-volume-share anymore. The share is'nt reachable and can't be used.

To solve the prolem, i've tried to add the service endpoint "Mic

[2018-10-18 09:35] raych1 opened #17137 "SocketException throws when call httpclient.getAsync in parallel in activity function"
In activity function, I use static HttpClient instance and set MaxDegreeOfParallelism to 300 when call httpclient.getasync() in parallel. It ends up with lots of below exception throwing. As per [azure web app sandbox limit](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits) max connection for consumption plan is 300. Should I set MaxDegreeOfParallelism with l

[2018-10-18 09:40] Anmolgan81 opened #17138 "I cannot delete 3rd DMS project?"
I have 3 Projects inside one of my DMS, the 3rd project is currently in Queued state and we want to delete that project and schedule it in another DMS. But we cannot delete the 3rd project either. Is this unsual behaviour of DMS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Vers

[2018-10-18 09:41] prashant-cherukuri commented on #13717
I am stuck at the same place. I am unable to get the VM to join the domain ( custom domain ). Can you please provide detailed instructions on getting the this accomplished.

[2018-10-18 09:44] #16101 closed

[2018-10-18 09:56] SychevIgor opened #17139 "Update portal screenshots, to remove "preview""
2 screenshots were done before feature was GA. Please update
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-deployment-guide/create-sync-group-2.png
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-deployment-guide/create-sync-group-1.png
![image](https://user-images.githubusercontent.com/578954/47146685-427aa100-d2d5-11e8-8373-28ef244c0b

[2018-10-18 10:05] danielDMP opened #17140 "OpenID Connect V1 - Scope Parameter"
This article is for the V1.0 endpoint: The scope parameter is NOT required for V1.0 (optional)
Furthermore, you can't specify additional scopes in the request, as it is not supported by the V1.0 endpoint.

You can check the supported scopes in the V1.0 openid configuration document: https://login.microsoftonline.com/common/.well-known/openid-configuration

(for V2.0 you can specfiy additional scop

[2018-10-18 10:10] sergaz-msft commented on #17104
Thanks for your feedback @radezheng . Can you be more specific on your question?

Mor info on Device Heartbeat Pattern [here](https://review.docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry?branch=master#device-heartbeat).

Thanks!

[2018-10-18 10:19] will111222 commented on #16931
Hi Again.

Sorry I am not sure what has changed but this problem has gone away now. The behavior in a browser is what I expect. i.e. a simple web page.

Please close this issue.

Apologies for wasting your time.

Will

[2018-10-18 10:19] #16931 closed

[2018-10-18 10:19] sergaz-msft commented on #16653
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 10:19] #16653 closed

[2018-10-18 10:20] sergaz-msft commented on #16698
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 10:20] #16698 closed

[2018-10-18 10:20] sergaz-msft commented on #16699
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 10:20] #16699 closed

[2018-10-18 10:26] jjindrich opened #17142 "Azure Firewall"
Hi, please could you provide design with Azure Firewall ? Primary how to publish apps behind Azure Firewall

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b64cb7c-c1ac-59a5-6904-ca26e32dda77
* Version Independent ID: 3de2a96c-e956-3803-5770-7cfc360de3fb
* Content: [Azure network security best practices](https://docs.m

[2018-10-18 10:31] sergaz-msft commented on #16787
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 10:31] #16787 closed

[2018-10-18 10:36] sergaz-msft commented on #17066
Hello @injector22. This is the [IoT Hub REST API documentation](https://docs.microsoft.com/en-us/rest/api/iothub/). Example of how to use the Rest API to send a device event [here](https://docs.microsoft.com/en-us/rest/api/iothub/device/device_senddeviceevent).

Can you ellaborate more on your request so that we can improve our documentation with your suggestions?

Thanks :)!

[2018-10-18 10:41] ddentrec commented on #16787
Hello...please close the thread. The data is OK now - no idea why it was being reported wrong. I rebooted the Pi and all is working again for now. If in doubt REBOOT  :0)

[2018-10-18 10:46] SychevIgor opened #17144 "Update portal screenshots, to remove "preview""
screenshots were done before feature was GA. Please update
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-server-registration/unregister-server-1.png
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-server-registration/sync-group-server-endpoint-remove-1.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-18 10:47] SychevIgor opened #17145 "Update portal screenshots, to remove "preview""
screenshots were done before feature was GA. Please update
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-server-endpoint/add-server-endpoint-1.png
https://docs.microsoft.com/en-us/azure/storage/files/media/storage-sync-files-server-endpoint/remove-server-endpoint-1.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-10-18 10:48] irgnosis commented on #16348
Missing article link?

[2018-10-18 10:51] SychevIgor opened #17146 "Update out-of-date links to ASM"
Please, update section https://docs.microsoft.com/en-us/azure/storage/common/storage-manage-with-automation?toc=%2fazure%2fstorage%2ffiles%2ftoc.json#how-can-azure-automation-help-manage-azure-storage
All links are out-of-date.
If we will open a link with a blog post we will find classic portal.
If we will open links to scripts samples we will find only ASM commands, not ARM. It's a bit strange if

[2018-10-18 10:56] ddentrec opened #17148 "No temperature alert received"
Hello,

I configured the above but got no alerts when heating my sensor to 30C.

Noticed that in Visual Studio Code output (selected 'Start Monitoring D2C Messages", see 'Manage cloud device messaging with Azure IoT Toolkit extension for Visual Studio Code' article) that when the temp is *below* 30C I see a correct output:

[IoTHubMonitor] Created partition receiver [1] for consumerGroup [$Default

[2018-10-18 10:56] SychevIgor opened #17149 "Fileshares GA"
File shares are in GA for a last 6 months https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-files-share-snapshot/
Please update text in this section https://docs.microsoft.com/en-us/azure/storage/files/storage-dotnet-how-to-use-files#share-snapshots-preview to address it and don't confuse customers

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-10-18 11:07] rohit901 commented on #16830
after making the changes with the deprecated methods also, ie by using ToDoMessagingService's onNewToken Method to get the token, still i'm not able to get any push notifications in my device after adding the data, i have also added authentication to the quick starter app.... just fyi

[2018-10-18 11:07] SychevIgor opened #17150 "Update screenshots to remove preview"
On both links, I see "metrics (preview)", but this feature no longer in a preivew
https://docs.microsoft.com/en-us/azure/storage/common/media/storage-metrics-in-azure-monitor/access-metrics-in-portal-with-dimension.png
https://docs.microsoft.com/en-us/azure/storage/common/media/storage-metrics-in-azure-monitor/access-metrics-in-portal.png

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-18 11:16] suominen opened #17151 "How are roles selected from AWS IAM?"
After some experimentation, it looks like only roles added in AWS IAM after Provisioning has been first enabled are imported to AAD. Additionally, roles that have a AssumeRolePolicyDocument with multiple (federated) principals listed are not imported at all. Adding a second principal after a role has been imported results in the role being disabled in AAD on the next (or so) synchronisation run. T

[2018-10-18 11:29] Jayesh040 commented on #16929
ok @tfitzmac , Thank you for your responses.

[2018-10-18 11:30] vanLeeuwen1 commented on #14410
Hi @vasivara-MSFT any progress on this Issue?

[2018-10-18 11:33] cenkersoy opened #17152 "Impact on multitenancy"
Multitenancy on Azure Stack requires the use of Azure AD. This page should clearly state that "in disconnected mode, there is no multitenancy support". Why does it not include such a statement ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7874637c-ec32-f12c-9c14-62d243193d37
* Version Independent ID: eb5ec3db-a62e-9

[2018-10-18 11:37] rifaterdemsahin commented on #17033
thanks, mate for the links
https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_data_disk_attachment.html

this is the one that is relevant in this case.

As I am trying to create this
![image](https://user-images.githubusercontent.com/5270036/47151753-7c967380-d2d2-11e8-8007-fe27b923c06c.png)

[2018-10-18 11:37] andig opened #17153 "Cluster unstable"
I've found that as soon as the cluster starts any scaling operation, the services become unstable, pods are no longer reachable and auto scaler logfile shows error messages like this:

	I1018 11:32:52.515688       1 scale_up.go:203] Estimated 3 nodes needed in nodepool1
	I1018 11:32:52.576678       1 scale_up.go:292] Final scale-up plan: [{nodepool1 1-&gt;4 (max: 8)}]
	I1018 11:32:52.576739

[2018-10-18 11:38] andig commented on #17153
This is actually a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/17131. Different cluster, same problem.

[2018-10-18 11:51] injector22 commented on #17066
Funny enough I did find that page BUT there's zero mention on authentication. I know before Docs was integrated with Git most articles had a link stating the type of authentication header required but that since has been removed.

There's also no mention on how the body of the POST should be formatted, for example; Should the sensor data be sent raw as the device outputs it? should I place it as a

[2018-10-18 12:01] stofte commented on #11899
What about some guidance on this issue? We're currently facing this issue in production, and we're unable to determine why this is happening. It's not reproducable locally, and while we're using topics, we're also not using the partiton/batch settings in a "known" bad way. But this is incredibly frustrating to

[2018-10-18 12:07] olaj commented on #12034
I ran into the same issue with adding a blocked IP they just blocked everything. Not sure if this is a later update but it says in the documentation "There is an implicit deny all that is in effect once you add even a single rule.", not sure why it works like this.

My concern is if i allow all IPV4 addresses could i run into issues with blocked IPV6 addresses?

[2018-10-18 12:14] vladislav-mitev opened #17154 "Refreshing reference data on the Edge"
What "Tips on refreshing your reference data" could be provided for an ASA Edge Job? Is this currently supported via some means in Azure? ASA Edge Job could be deployed via IoT Hub, but what about the reference data?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9f5843-5ef0-abb8-b539-50d78d1545c8
* Version

[2018-10-18 12:15] will111222 commented on #15487
This worked ok for me with version 2 runtime (Runtime version: 2.0.12134.0 (~2))
I did need to make the change "Add sentiment detection step needs to have URL set."

Apart from that this is a great walkthrough.

[2018-10-18 12:28] rifaterdemsahin commented on #17033
After reading
https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_data_disk_attachment.html

Write below
Wondering how to set the standard SSD type in Terraform template

# Standard SSD for datadrive

resource "azurerm_managed_disk" "datadisc" {
  name                 = "datadrive"
  location             = "${azurerm_resource_group.main.location}"
  resource_group_name  = "${azurerm_

[2018-10-18 12:47] stofte commented on #11899
Redeploying Service Fabric (essentially restarting it) made the error go away 👍

[2018-10-18 12:53] johnroodt commented on #16123
Thanks Craig...I appreciate the response.

Typos...I'm guilty of those too — too often.

I also thought perhaps the code hadn't been updated for iOS 12 and Swift
4.2? Updates to those technologies usually devastate my code.

Kind regards,
John

On Wed, Oct 17, 2018 at 11:45 PM Craig Dunn <notifications@github.com>
wrote:

--
John Roodt
Rogamur Solutions CC t/a Cafe'-Conversations
"Systems Architec

[2018-10-18 12:55] seancostigan commented on #17051
I have created a pull request for this - https://github.com/MicrosoftDocs/azure-docs/pull/17155

[2018-10-18 13:18] cephalin commented on #15727
@awws Thank you for your feedback. The article has been updated as suggested and the change will be published in the next day. #please-close

[2018-10-18 13:18] dmc-tech opened #17156 "Any guidance where AD FS is the identity provider?"
Would be good to have guidance for using the Azure Stack API in disconnected scenarios.  This topic will arise more and more for disconnected scenarios.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2f49e9-8b48-9023-11ea-db3bc03da21b
* Version Independent ID: 4bef1b1b-c40e-b4f7-c5f1-3d603e9487dd
* Content: [Use the

[2018-10-18 13:26] sderungs opened #17157 "documentation outdated/wrong"
Screens depicted are outdated.

Also it seems to be incomplete:
AADSTS65005: Misconfigured application. This could be due to one of the following: The client has not listed any permissions for 'AAD Graph' in the requested permissions in the client's application registration. Or, The admin has not consented in the tenant. Or, Check the application identifier in the request to ensure it matches the

[2018-10-18 13:27] dglambert commented on #16878
Maybe a simpler question to start with is, how is Duration calculated.

I found the calculationg for pageViews. https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#timing-page-views

Could something be provided for Availability Tests?

[2018-10-18 13:35] aljo-microsoft commented on #13227
Document is up to date with settings values.

[2018-10-18 13:41] mihammer opened #17158 "7.5 kernel is required if "require secure transfer" is set on the files share"
I just handled a case where the customer couldn't mount the SMB3 share in linux when "require secure transfer" was enabled on the share. This of coarse is the more secure way to setup the share. Disable that, and he could mount it. He was using the latest Redhat VM from the marketplace which has the 7.4 kernel.  The fix was to upgrade to the 7.5 kernel 3.10.0-862.x.x.
It would be good to note this

[2018-10-18 13:45] atrauzzi opened #17159 "Co-Administrator doesn't have access to "Email Invoice""
I have a co-administrator on my account who I'd like to allow access to the ability to trigger email invoices.  No matter what we do, the "Email Invoice" button remains greyed out for him.

How do I get him access to this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce159af-25d8-dbf9-f805-325b4efc04ac
* Ver

[2018-10-18 13:46] elaurijssens commented on #17085
@btardiff The method in that doc only works if CI/CD hasn't been configured already for all web apps. If you have configured GitHub for instance, 'Deployment Center' will show deployment statuses, and then there's no FTP tile to select, while you still might need to set credentials for access to Kudu.

Doesn't sound like a pure documentation bug to me.

[2018-10-18 13:55] KbLev opened #17160 "Start from scratch"
How do I create a new role from scratch instead of using Get-AzureRmRoleDefinition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63d296e8-a638-222e-8e8e-da28110cef68
* Version Independent ID: 1ec75106-c12d-00d8-f67e-f3001a3aecdf
* Content: [Create custom roles using Azure PowerShell](https://docs.microsoft.com/en-us/

[2018-10-18 13:56] ld0614 opened #17161 "How often can I replicate data?"
Please update with information relating to Azure to Azure migrations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8f2ca3-19b1-330d-8dd3-6dcdce38c8d4
* Version Independent ID: 700335aa-c802-0314-1579-3493918f5000
* Content: [Azure Site Recovery: Frequently asked questions](https://docs.microsoft.com/en-us/azure/sit

[2018-10-18 14:05] cephalin commented on #17085
@elaurijssens By access to Kudu do you mean accessing https://\<appname>.scm.azurewebsites.net? You can access the Kudu site with your Azure account.

[2018-10-18 14:13] JasonBSteele opened #17162 "Does this apply to triggers?"
There is no mention on whether this applies to Triggers as well. Looking at the settings for HTTP Request it doesn't look it does, but why would this be different from an HTTP Get?

Knowing one way or the other would be useful - and if not available, why.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dfc3213-ed4c-aa4

[2018-10-18 14:16] Monduiz commented on #9319
I was able to setup a ND vm with Ubuntu 18.04. Any update for this documentation?

[2018-10-18 14:44] SychevIgor opened #17163 "Update screenshot to latest UX"
Update screenshot to latest UX
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitoring-archive-diagnostic-logs/diagnostic-settings-blade.png
New looks like:
![image](https://user-images.githubusercontent.com/578954/47162844-723d9f00-d2fd-11e8-894f-a7afcc47a9ba.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-10-18 14:57] andig commented on #17153
I've also tried upgrading the cluster to AKS 1.11.3 and CA to 1.3.3 but behaviour persists.

[2018-10-18 14:58] sergaz-msft commented on #17148
@ddentrec  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 15:02] mf-fm commented on #16843
@dominicbetts: Thank you for your summary. With your help I was able to deploy my own web ui.

I do have a follow-up question regarding this topic: Is it possible to modify the setup of the Remote Monitoring Soultion in a way that the VM already contains my customized/edited docker-compose.yaml file right from the start?
Currently, I set up the Remote Monitoring via the PCS-CLI (pcs -t remotemonit

[2018-10-18 15:03] mshamann commented on #8050
Is there any update on this issue? I am seeing the same thing, and would like to get the powershell scripts configured.

[2018-10-18 15:05] noahplusplus commented on #12891
This doesn't _seem_ like a workaround. It's what I'd normally do, and it doesn't work.

If you refer back to [the official response](https://github.com/MicrosoftDocs/azure-docs/issues/12891#issuecomment-411570017), you'll notice this procedure only guarantees the first two bullet points are satisfied. If it did work for you, you must have gotten lucky satisfying the third condition (same webspace)

[2018-10-18 15:10] diberry commented on #10561
#please-close

[2018-10-18 15:11] diberry commented on #9456
#please-close

[2018-10-18 15:11] cephalin commented on #12891
We've published a more in-depth explanation in the article now about how the webspace is related to the resource group and region. please take a look and see if it helps.

[2018-10-18 15:11] diberry commented on #14646
#please-close

[2018-10-18 15:13] erhopf commented on #16910
@overslacked - Can you try using one of the other TTS endpoints in the documentation and see if it resolves your issue: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis#text-to-speech.

[2018-10-18 15:15] SychevIgor opened #17164 "Classic Alerts an metrics no longer available as a separate tab"
Classic Alerts an metrics no longer available as a separate tab.
Please, update screenshot https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitoring-service-notifications/service-health-summary.png to current UX
![image](https://user-images.githubusercontent.com/578954/47165042-e24e2400-d301-11e8-8f70-40eaf1b7f3ac.png)

---
#### Document Details

⚠ *Do not edit this sectio

[2018-10-18 15:18] alkohli commented on #16919
@SychevIgor  I have confirmation from one Engineer. Have made the correction for now. I will continue the investigation and get more confirmations to ensure that this is indeed the case. Thank you for your patience! The change is live.

@Mike-Ubezzi-MSFT Please verify and close. #please-close

[2018-10-18 15:20] aayushsingla commented on #10341
I tired using this with Android. Error message shows "Unable to authorise user". Please help me solve this. I have done everything according to the documentation provided.

[2018-10-18 15:30] SychevIgor opened #17165 "Update screenshots"
Latest UX doesn't include "preview"
https://docs.microsoft.com/en-us/azure/application-insights/media/app-insights-tutorial-dashboards/pin-overview-timeline.png
https://docs.microsoft.com/en-us/azure/application-insights/media/app-insights-tutorial-dashboards/metrics-chart.png
https://docs.microsoft.com/en-us/azure/application-insights/media/app-insights-tutorial-dashboards/pin-metrics-chart.png
!

[2018-10-18 15:36] stevep4 opened #17166 "Automated way to store logs?"
Q: How long is information stored?
A: The user counts in the Terms of use report and who accepted/declined are stored for the life of the Terms of use. The Azure AD audit logs are stored for 30 days.

I'm looking for a way to export the logs after 29 days then I guess so that we can keep them for records... anyone any good ideas on how to automate exporting the relevant logs please? :-)

---
####

[2018-10-18 15:38] brlewi commented on #16862
[Test](www.cnn.com)

[2018-10-18 15:47] cgill opened #17167 "Update example for "Restrict Permissions on the AD DS Connector Account" for new 1.1.882.0 build release"
When running the Set-ADSyncRestrictedPermissions cmdlet, the [-ObjectDN] appears to have been replaced with [-ADConnectorAccountDN] in build 1.1.882.0. Please update the documentation above to reflect this for others troubleshooting or running these commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eab5899-ad7d

[2018-10-18 15:49] glloyd2010f opened #17168 "Source Control Sync Fails - VsoGit Source Control"
Receiving the following error message when attempting a Sync Job even after updating the modules to latest version.

Short Error Message:
System.Management.Automation.CommandNotFoundException: The term 'Get-AutomationConnection' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is c

[2018-10-18 15:53] j-martens commented on #15838
@jpe316 - do you have a solution? @j-martens

[2018-10-18 16:00] maertendMSFT commented on #15082
`Enter-AzVM`, `Invoke-AzVMCommand`, `Enable-AzVMPSRemoting`, and `Disable-AzVMPSRemoting` are all included in the image and perform the same functionality as the old *AzureRM* equivalent cmdlets.

The change was due to Azure PowerShell moving to the `Az` prefix from `Azure` or `AzureRM`.

[2018-10-18 16:01] Karishma-Tiwari-MSFT commented on #16938
@amitgc
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-18 16:01] #16938 closed

[2018-10-18 16:06] MGoedtel commented on #16939
@rbcoach - I don't have anything concrete to share at this time as the roadmap for what other distros would be supported is still being evaluated.  Stay tuned for further details that would be published in the article once that is finalized.

[2018-10-18 16:14] Karishma-Tiwari-MSFT commented on #17125
Thanks for the question. We are currently investigating and will update you shortly.

[2018-10-18 16:16] MicahMcKittrick-MSFT commented on #17131
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:16] conceptdev commented on #17074
Engineering advises (and I have confirmed) the download issues have been resolved.

[2018-10-18 16:16] Karishma-Tiwari-MSFT commented on #17115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:16] MicahMcKittrick-MSFT commented on #17132
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:17] MicahMcKittrick-MSFT commented on #17136
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:17] Mike-Ubezzi-MSFT commented on #17136
@clangnerakq Thank you very much for your interest in Azure services. Do you have a document you are attempting to follow or reference to solve your issue? I did find a Stack Overflow thread related to your question: [How do I map an Azure File Share as a volume in a Docker Compose file?](https://stackoverflow.com/questions/50946175/how-do-i-map-an-azure-file-share-as-a-volume-in-a-docker-compose-

[2018-10-18 16:17] wgv-srsedate opened #17169 "Auto-Scale Explanation of Cooldown Period"
An issue was opened back in June of 2014 regarding autoscale documentation, and looks like it was never actually addressed.

https://feedback.azure.com/forums/231545-diagnostics-and-monitoring/suggestions/6087243-auto-scale-explanation-of-cool-down-period

I agree that there's not a lot of information here regarding cooldown periods or combined logic between scale conditions.

---
#### Document De

[2018-10-18 16:18] conceptdev commented on #16123
@johnroodt the code has not yet been updated for iOS 12 and the latest Swift. You can confirm when that is done by following the [repo](https://github.com/Azure/azure-mobile-apps-quickstarts/tree/master/client) where the open-sourced code is kept.

Also, the download issue has been resolved so you should be able to get the templated project from the Azure Portal again.

[2018-10-18 16:19] MicahMcKittrick-MSFT commented on #17110
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:26] SychevIgor opened #17170 "Actualize this guide to follow latest Azure features"
In a guide describing "classic alerts" that will be retired soon https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-classic-retirement
Instead of classic alerts, this guide should use new alerts.
Also, please update all screenshots, because portal UX is different from what was in 2016
And finally, please update a list of VM sizes, because during past 2 years MS announced

[2018-10-18 16:28] Mike-Ubezzi-MSFT commented on #17135
@brinux Thank you very much for your detailed feedback. Is there a document you are referencing to help you implement this? I made an assumption that the following [documentation](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics) is related to your scenario. We need to reference this otherwise we are dealing with an forum post, which can be better

[2018-10-18 16:31] cgillum commented on #17137
Yes, definitely set it to a lower number. In fact, i would recommend a significantly lower number, like no more than 50. This is because the 300 limit is shared between all executions of your function and all background HTTP operations by the host and the Durable Functions extension itself. Note that this is specific to the Consumption plan. Note that in a future update, we may increase this numbe

[2018-10-18 16:39] YutongTie-MSFT commented on #17028
@AlexanderTodorovic Thanks for reporting this issue. One of engineer from the product team is solving the problem in #16910 . Please follow up in that post so that we don't have any duplicate. I will now close this post and I will also track in #16910 . Thanks a lot!

[2018-10-18 16:39] #17028 closed

[2018-10-18 16:41] Grace-MacJones-MSFT commented on #17127
Hi @sahilpnckr123, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:41] jbreiding commented on #12891
The key here is to create the app service plan in the same resource group / region. Simply moving an existing app service plan to the same resource group did not work for me.

[2018-10-18 16:42] Grace-MacJones-MSFT commented on #17162
Hi @JasonBSteele, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:43] mumian commented on #17129
@pekspro Thank you for your comment.  The issue has been addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/55528

#please-close

[2018-10-18 16:43] vikramdesai01 commented on #10628
Billing reader or the new role "Cost management reader" on Azure subscription including EA subscription can see charges assuming the enterprise admin has enabled cost visibility

[2018-10-18 16:45] vikramdesai01 commented on #10628
The article https://docs.microsoft.com/en-us/azure/billing/billing-manage-access needs to be updated

[2018-10-18 16:48] pvrk commented on #16940
Yes, we use mutual CHAP authentication mechanism to secure iSCSI connections. Also a HTTPS channel is built under which iSCSI is connected. Will add a security section to the document to alleviate any security concerns.

[2018-10-18 16:50] Karishma-Tiwari-MSFT commented on #17170
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 16:51] pvrk commented on #16941
Does this result in failure in running the script? Please confirm.

[2018-10-18 16:52] YutongTie-MSFT commented on #16910
@erhopf @AlexanderTodorovic Can you please also have a look at Alexander's issue, I don't want to open a post duplicate. Thanks a lot!

[2018-10-18 16:55] SaurabhSharma-MSFT commented on #17167
@cgill Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 16:56] CarlRabeler commented on #8050
@mshamann sorry, I did not read carefully. Please do read the reply from Mike to @codeevaluator to see if you have the same or similar issue. Once we get to the bottom of this issue, we will try to clarify the docs.

[2018-10-18 16:59] andig commented on #17131
I‘ve upgraed my cluster to 1.11 and autoscaler to 1.3 and still see the same result.
Impact is that e.g. Gitlab runner pods and running builds stall. Afterwards the runners are not even cleared by the runner master. That way the cluster keeps growing since the pod instances are never cleared and the cluster not scaled down. And of course failed build jobs when running pods become unresponsive.

[2018-10-18 17:01] SaurabhSharma-MSFT commented on #17121
@AJRus Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 17:01] MGoedtel commented on #16544
@badalk - As Keiko mentioned in her response, the agent is only deployed to the nodes in the cluster and they forward the data to the workspace.  It does interface with the metric-server, but API and cadvisor.  #please-close as this isn't related to a documentation issue.  Thanks for your question(s)!

[2018-10-18 17:02] johnroodt commented on #16123
Thanks, Craig...
John

On Thu, Oct 18, 2018 at 6:19 PM Craig Dunn <notifications@github.com> wrote:

--
John Roodt
Rogamur Solutions CC t/a Cafe'-Conversations
"Systems Architecting through Facilitated Visual Dialogue"

Cell: 082 520 5757

[2018-10-18 17:03] yzheng-msft commented on #15619
#please-close

[2018-10-18 17:05] SaurabhSharma-MSFT commented on #17157
@sderungs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-18 17:08] SaurabhSharma-MSFT commented on #17151
@suominen Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-18 17:09] SaurabhSharma-MSFT commented on #17140
@danielDMP Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 17:10] SaurabhSharma-MSFT commented on #17134
@timjroberts-inty  Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 17:12] SaurabhSharma-MSFT commented on #17126
@AndreasL53 Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 17:13] kobulloc-MSFT commented on #17165
@SychevIgor Thank you for your feedback!  You are correct.  Metrics, Failures, and Performance are no longer in preview.  I will assign this to the document author so they can add this to their queue.

[2018-10-18 17:17] tamram commented on #15916
@Jim-Parker @wmgries - Could one of you take a look at this issue? I'm not sure why the owner is listed as @genlin . Thanks!

[2018-10-18 17:18] kobulloc-MSFT commented on #17112
@wely Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-18 17:20] kobulloc-MSFT commented on #17111
@XanderM1960 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-18 17:28] TravisCragg-MSFT commented on #15793
@niceysj We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 17:28] #15793 closed

[2018-10-18 17:29] btardif commented on #17085
@elaurijssens if you have CI/CI enabled you can still get the credentials get/reset the credentials by clicking on "Deployment Credentials" in the menu.

![image](https://user-images.githubusercontent.com/4119816/47172550-a9da2600-d2c0-11e8-82e3-88ab0f949113.png)

[2018-10-18 17:36] overslacked commented on #16910
@erhoph - I added a loop to test all endpoints, and ran it with each different header combination shown in the initial post. All invocations returned 401 Unauthorized.

I have since moved on to acquiring an access token and using that, which works perfectly well using the same key.

[2018-10-18 17:37] toddbsweeney opened #17171 "Broken Link"
The link to the TXT/TSV Structured QnA file is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77ea12d-96c2-8adf-8f7d-40f87578f403
* Version Independent ID: b0c2b367-ebac-3f1e-f3ec-6273f700c0e2
* Content: [Data sources supported - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogn

[2018-10-18 17:38] kevinlam1 commented on #14534
Managed connectors are all of the connectors that you see on the TOC on the connectors page: https://docs.microsoft.com/en-us/connectors/
Please refer to the usage metering doc for more detailed pricing information:  https://docs.microsoft.com/en-gb/azure/logic-apps/logic-apps-pricing

[2018-10-18 17:39] overslacked commented on #16910
Perhaps @niels9001 could share an example of working C# code?

[2018-10-18 17:40] douglaslMS commented on #16451
@jason-j-MSFT And `test` is indeed defined as a container in your storage account? Not a folder within a container?

[2018-10-18 17:43] TravisCragg-MSFT commented on #17070
@mcurko in that case, you can get a list of your items inside of a vault using [Az Backup Item List](https://docs.microsoft.com/en-us/cli/azure/backup/item?view=azure-cli-latest#az-backup-item-list)

[2018-10-18 17:44] ggailey777 commented on #16931
Just an FYI, the function should return a string, and from there we are kind of at the mercy of how the browser represents that string value.

[2018-10-18 17:44] AnomisCefu commented on #16910
X-3790E5FAF2C4
simonik6970
V.M.CLITE.internet.vodafone.ro
simonik6970@microsoft.com
General Homepage davio-fost nume
Hint
bengup
Andreea Simona Coțofană
VP One Microsoft Way
Redmond Washington Seattle Belleuve

[2018-10-18 17:53] rolyon commented on #17031
Hi @michevnew
Thanks for your feedback on this.

[2018-10-18 17:56] jeevansd commented on #17157
@sderungs  Can you please raise a support ticket on this issue? This error is not expected here.
Also if you could provide us the tenant id and complete error message with Correlation id then it will be useful.

[2018-10-18 17:59] Karishma-Tiwari-MSFT commented on #17090
@xujing-ms Would you be able to shed some light on this customer's question?

[2018-10-18 18:04] mike-urnun-msft commented on #17133
Hi @satish-kuncha Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-18 18:05] TravisCragg-MSFT commented on #17138
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-18 18:05] TravisCragg-MSFT commented on #17142
@jjindrich Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 18:06] JasonBSteele commented on #14534
Sorry @kevinlam1 but I can't see a TOC section in the page you have linked to.

[2018-10-18 18:07] glloyd2010f commented on #17168
I believe it was the following modules that were in a failed state. Once I had "deleted" them and they reverted the Source Control Integration started to work.

Microsoft.PowerShell.Core
Orchestrator.AssetManagement.Cmdlets

[2018-10-18 18:08] Adam-Smith-MSFT commented on #17158
@mihammer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 18:10] tapialuism commented on #17094
Thanks Mica, I also get the Public IP and it also asks for my credentials.
Although when I try to connect, the RDP connection fails.

On Wed, Oct 17, 2018 at 3:02 PM Micah <notifications@github.com> wrote:

[2018-10-18 18:12] MicahMcKittrick-MSFT commented on #16786
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-18 18:12] #16786 closed

[2018-10-18 18:12] MarileeTurscak-MSFT commented on #17107
@yukiatsuxl
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 18:15] MicahMcKittrick-MSFT commented on #17094
If that is the case, it seems the password or username is incorrect.
Follow this guide to reset the username and password for the scaleset and see if that helps:

https://blogs.technet.microsoft.com/mckittrick/how-to-reset-password-for-vmss-scale-set-instances/

[2018-10-18 18:18] MarileeTurscak-MSFT commented on #17051
Thanks, @seancostigan. The content author @davidmu1 will review your pull request. If accepted it will be merged with the doc.

[2018-10-18 18:18] #17051 closed

[2018-10-18 18:18] MicahMcKittrick-MSFT commented on #17131
@andig as per #14665 there are some issues with the currently implementation of auto scaler.

@iainfoulds @sauryadas do either of you know if we should see auto scaler working properly now or does this appear to still be related?

[2018-10-18 18:19] kevinlam1 commented on #14534
The TOC (table of contents) should show up on the left hand side.  If you are using a mobile device it may appear under a hamburger control.

[2018-10-18 18:21] Adam-Smith-MSFT commented on #17150
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 18:22] nolisj opened #17174 "Across 2 Accounts and Subscriptions"
Does this work across two different user accounts (with different subscriptions)?

FYI, I have one user account from one directory that was used to create the source API Management services to be backed-up.

Then, I have another account from a different directory that will be used to restore the backup into.

Is this supported?

Thanks!

Noli

---
#### Document Details

⚠ *Do not edit this section

[2018-10-18 18:28] Adam-Smith-MSFT commented on #17161
@ld0614 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 18:28] femsulu commented on #17163
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-18 18:28] wiazur commented on #10561
@Azhagar, a working sample, [Nlp-with-dispatch](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/14.nlp-with-dispatch) just upgraded yesterday. It uses LUIS to understand user queries, then sends them to QnA Maker for a response. I tested it using Visual Studio and the Bot Emulator and it works.

[2018-10-18 18:28] MicahMcKittrick-MSFT commented on #17132
@iainfoulds if I am not mistaken, we do not yet have native integration between Container Instances and Keyvault

https://thorsten-hans.com/integrating-azure-keyvault-with-azure-container-services-dafbc26c7ecd
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35256199-native-integration-between-aks-and-azure-key-vault

Can you confirm?

[2018-10-18 18:29] kevinlam1 commented on #14534
Managed connectors == Standard connectors
Actions == Built-in actions/connectors

[2018-10-18 18:29] rolyon commented on #16389
Hi @JulienFloris
This article is specifically roles for Azure resources:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
Here are the administrator roles for Azure AD:
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles
It looks like you would like the ability to create your own custom roles for Azure AD. I think t

[2018-10-18 18:30] femsulu commented on #17164
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-18 18:30] jason-j-MSFT commented on #17092
@MGoedtel do we have more in-depth guidance planned for the Windows agent?

[2018-10-18 18:31] jason-j-MSFT commented on #17123
@imeya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 18:32] jason-j-MSFT commented on #17124
@imeya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 18:33] jason-j-MSFT commented on #17154
@vladislav-mitev
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-18 18:33] TravisCragg-MSFT commented on #17156
@dmc-tech could you elaborate more on what exactly you would like to see?

[2018-10-18 18:34] TravisCragg-MSFT commented on #17152
@cenkersoy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 18:35] GuuB commented on #16613
@robinsh

I have saved the endpoint on the _create-an-endpoint_ screen and it returns to the _add-a-route_ screen but the endpoint is not populated nor is it in the dropdown.
At first I was using my work account when following the tutorial. Today I started over with my personal account and the service bus queue endpoint problem persists.

I have run the simulated device and confirmed that the _sto

[2018-10-18 18:36] Mike-Ubezzi-MSFT commented on #17129
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:36] #17129 closed

[2018-10-18 18:37] Mike-Ubezzi-MSFT commented on #17043
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:37] #17043 closed

[2018-10-18 18:38] femsulu commented on #17169
@wgv-srsedate Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-18 18:39] tapialuism commented on #17094
Let me retract my previous comment. Sorry.
I am not getting as far as I said I was.

[image: image.png]

On Thu, Oct 18, 2018 at 11:17 AM Micah <notifications@github.com> wrote:

[2018-10-18 18:39] Mike-Ubezzi-MSFT commented on #16919
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:39] #16919 closed

[2018-10-18 18:40] Mike-Ubezzi-MSFT commented on #16877
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:40] #16877 closed

[2018-10-18 18:40] Mike-Ubezzi-MSFT commented on #16544
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:40] #16544 closed

[2018-10-18 18:41] Mike-Ubezzi-MSFT commented on #16020
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:41] #16020 closed

[2018-10-18 18:41] Mike-Ubezzi-MSFT commented on #15852
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:41] #15852 closed

[2018-10-18 18:42] Mike-Ubezzi-MSFT commented on #15765
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:42] #15765 closed

[2018-10-18 18:42] Mike-Ubezzi-MSFT commented on #15748
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:42] #15748 closed

[2018-10-18 18:43] Mike-Ubezzi-MSFT commented on #15727
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:43] #15727 closed

[2018-10-18 18:43] Mike-Ubezzi-MSFT commented on #15643
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:43] #15643 closed

[2018-10-18 18:43] Mike-Ubezzi-MSFT commented on #15619
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:43] #15619 closed

[2018-10-18 18:44] Mike-Ubezzi-MSFT commented on #15399
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:44] #15399 closed

[2018-10-18 18:44] mikebudzynski commented on #17174
Yes, it should work, as long as SKU of the instances is the same.

[2018-10-18 18:44] Mike-Ubezzi-MSFT commented on #15147
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:44] #15147 closed

[2018-10-18 18:44] MicahMcKittrick-MSFT commented on #17094
@tapialuism can you post some screenshots of the steps you are following and any issues?

I have gone through the doc a couple of times and am able to connect each time.

Also,
- Are you connecting from your home network or your corpnet?
- Check the Network Security Groups on the subnet level to ensure nothing is blocking you there

[2018-10-18 18:44] Mike-Ubezzi-MSFT commented on #14646
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:44] #14646 closed

[2018-10-18 18:45] Mike-Ubezzi-MSFT commented on #14581
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:45] #14581 closed

[2018-10-18 18:45] Mike-Ubezzi-MSFT commented on #13909
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:45] #13909 closed

[2018-10-18 18:45] Mike-Ubezzi-MSFT commented on #13200
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:45] #13200 closed

[2018-10-18 18:46] Mike-Ubezzi-MSFT commented on #12986
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:46] #12986 closed

[2018-10-18 18:46] Mike-Ubezzi-MSFT commented on #10561
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:46] #10561 closed

[2018-10-18 18:47] Mike-Ubezzi-MSFT commented on #9456
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:47] #9456 closed

[2018-10-18 18:47] Mike-Ubezzi-MSFT commented on #7693
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:47] #7693 closed

[2018-10-18 18:48] Mike-Ubezzi-MSFT commented on #6167
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 18:48] #6167 closed

[2018-10-18 18:52] MarileeTurscak-MSFT commented on #16851
@ahgithub I am closing this thread as I need more information to take action on this. Please open a new issue with screenshots and I can better assist you.

[2018-10-18 18:52] #16851 closed

[2018-10-18 18:58] bwren commented on #17123
@imeya I don't know what ytitle is referring to.  What table are you trying to query from?

[2018-10-18 19:05] MGoedtel commented on #17092
@cconrado and @jason-j-MSFT - Currently we don't and this is a gap I need to address while I redo all the Log Analytics agent-related content (i.e. Linux/Windows agent), which I'll be starting in Nov.  If this isn't an Azure VM where the Log Analytics agent for Windows is deployed via VM Extension and would automatically update the agent when new version is released, it requires manually (or autom

[2018-10-18 19:09] tapialuism commented on #17094
Will the JSON help?

On Thu, Oct 18, 2018 at 11:47 AM Micah <notifications@github.com> wrote:

[2018-10-18 19:09] TravisCragg-MSFT commented on #17114
@cplemm thanks for the feedback! the word has been fixed, and it should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 19:09] #17114 closed

[2018-10-18 19:11] SaurabhSharma-MSFT commented on #17079
@LisandroSu I am able to run the sample without any issues -
![image](https://user-images.githubusercontent.com/38112130/47177831-61296980-d2ce-11e8-9ac2-1b9ef7b83f91.png)
Please ask the user to clean, rebuild the solution and try running it again.

[2018-10-18 19:12] johammer commented on #16455
Hi Simon,

Thanks for raising this issue.
The documentation is correct in that our servers enforce encryption of data traveling on the connection from a client to the server. The reason we also (strongly) advise the client setting of “Encrypt=True” is to protect against MitM (man-in-the-middle) attacks.
_Without this setting_, there could be a case where an entity masquerading as the client to bot

[2018-10-18 19:15] erhopf commented on #16910
@overslacked - It's working when you pass the access token in as the Authorization Bearer, but not when you use the subscription key? Are you still setting the "Ocp-Apim-Subscription-Key"?

[2018-10-18 19:15] TiloGit opened #17180 "Change Directory - affective after zz minutes?"
Hi,
Please confirm or clarify the wait time after change the directory of a subscriptions.
so max wait time after change directory should be **10** minutes ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [How

[2018-10-18 19:16] Karishma-Tiwari-MSFT commented on #17170
@SychevIgor I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-18 19:18] Karishma-Tiwari-MSFT commented on #17115
@dcbrown16 Thanks for bringing this to our attention. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-18 19:21] YutongTie-MSFT commented on #17171
@toddbsweeney Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tulasim88 Hi, the link to TXT/TSV Structured QnA file is broken and will return a 404 error. Can you please update the link? Thanks a lot!

[2018-10-18 19:21] kaushikborbora opened #17181 "Can't access Additional security verification page"
There seems to be an issue navigating to Additional security verification page. There is no link in the profile page when I go to https://myapps.microsoft.com.. And if I select the URL - https://aka.ms/MFASetup the page keeps loading.. Please fix or advise how to change my MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-18 19:31] BryanTrach-MSFT commented on #16796
@zzulueta Thank you for the feedback. We have assigned your feedback to the doc author to determine if an update to the doc is appropriate.

[2018-10-18 19:32] BryanTrach-MSFT commented on #13271
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 19:32] #13271 closed

[2018-10-18 19:33] #13429 closed

[2018-10-18 19:33] MicahMcKittrick-MSFT commented on #17094
Are you connecting from your home network or your corpnet?

Is this a personal subscription or a company subscription?

Please try connecting to the VM instances using a second network. For example, connect your PC to your phone network and see if you can connect.

[2018-10-18 19:42] anirudhcavale commented on #17169
@wgv-srsedate the way cool down works is as follows:
Let's say there are two rules in an autoscale setting

- Rule 1: Scale Up by 3 instances when CPU > 90%. Cool down = 10min
- Rule 2: Scale down by 1 instance when CPU < 30%. Cool down = 30min

Now let's play the scenario out:
12:00 - Autoscale runs and determines that CPU is 25% so it the scale down rule is triggered.
12:01 - Autoscale runs, CPU

[2018-10-18 19:44] tapialuism commented on #17094
Are you connecting from your home network or your corpnet? Corpnet

Is this a personal subscription or a company subscription? personal

Please try connecting to the VM instances using a second network. For
example, connect your PC to your phone network and see if you can connect. I
VPNd to a different network and I get the sames results. You mentioned I
check the NSG or subnet for possible confli

[2018-10-18 19:44] BryanTrach-MSFT commented on #13496
Checking internally and it appears you will need to call the public folder in order for the rewrite rule to be successful.

[2018-10-18 19:44] #13496 closed

[2018-10-18 19:45] Mike-Ubezzi-MSFT commented on #16442
Are you looking for Azure SQL Database or SQL Server (On-Premise)? Not sure what the ask is here....
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 19:46] charlesb87 commented on #16791
In fact I was able to do the peering at least using PowerShell or CLI desk version (I mean not using Cloud Shell).

---------------------------
Charles BORCKE
MailTo: cborcke@free.fr
PhoneTo: +33 684 366 356

----- Original Message -----
From: "TravisCragg-MSFT" <notifications@github.com>
To: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "charlesb87" <cborcke@free.fr>, "Mention" <

[2018-10-18 19:47] Mike-Ubezzi-MSFT commented on #16541
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 19:47] #16541 closed

[2018-10-18 19:47] Mike-Ubezzi-MSFT commented on #16542
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 19:47] #16542 closed

[2018-10-18 19:49] BryanTrach-MSFT commented on #14434
@meishanli Thank you for the feedback. The link has bee updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 19:49] #14434 closed

[2018-10-18 19:52] wgv-srsedate commented on #17169
Thanks for the info!  My reasoning for opening this up is because I did not find this information anywhere in the documentation, so I believe this ticket should remain open until it's added.  Unless it's already documented somewhere and I missed it, but I was having trouble finding it anywhere.

Second, I didn't see any way of setting cool down information via the UI for web apps when configuring

[2018-10-18 19:52] niels9001 commented on #16910
`public` class Authentication
    {
        public static readonly string AccessUri = "URL + /issueToken";
        private string apiKey;
        public string accessToken;
        private Timer accessTokenRenewer;

        //Access token expires every 10 minutes. Renew it every 9 minutes only.
        private const int RefreshTokenDuration = 9;

        private HttpClient client;

        public

[2018-10-18 19:54] niels9001 commented on #16910
Please find my above UWP code attached.. I can confirm that this works for the normal TTS service, but also for the custom voice model!

Feel free to clean it up and put it into the official docs!

[2018-10-18 19:59] Mike-Ubezzi-MSFT commented on #16583
Depending on the Subscription Type, there are quotes and limitations: [Azure subscription and service limits, quotas, and constraints](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits).
When it comes to setting up VPN, there are some limitations based upon the subscription type but, not sure it applies in this case...as the issue is that the interface resource did not get c

[2018-10-18 20:01] Mike-Ubezzi-MSFT commented on #16583
Also, do you have an Azure Support Plan? If not, I can enable a one time incident ticket to have this issue investigated specifically. Please send your Subscription GUID information to AzCommunity at Microsoft Com. There is an issue with your deployment and this not the correct forum to investigate.

[2018-10-18 20:03] mikebudzynski commented on #17174
#please-close

[2018-10-18 20:04] Mike-Ubezzi-MSFT commented on #16684
Yes! [Use Azure Active Directory Authentication for authentication with SQL](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication)
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 20:04] #16684 closed

[2018-10-18 20:07] curtand commented on #16890
Hi @shamaostwal
Checking with my PM now.

[2018-10-18 20:07] mattbriggs commented on #16426
Issue has been resolved with another PR (https://github.com/MicrosoftDocs/azure-docs/pull/17130#pullrequestreview-166272327).

#please-close

[2018-10-18 20:11] SaurabhSharma-MSFT commented on #17140
@danielDMP I do not think so as a request that does not include a scope parameter that includes the value openid is not an OpenID Connect request. Also, The OpenID authentication request is essentially an OAuth 2.0 authorisation request to access the user's identity, indicated by an "openid" value in the scope parameter. The openid configuration also shows OpenId as supported scopes.
![image](http

[2018-10-18 20:13] brlewi commented on #17171
[Test](www.cnn.com)

[2018-10-18 20:16] jpe316 commented on #15838
There is a bug in the azure CLI we are tracking. The issue arises if you have installed the CLI on a Windows machine via the MSI. https://github.com/Azure/azure-cli/issues/7591

[2018-10-18 20:17] yevster opened #17182 "Firewall rule to access DB from cloudshell incorrect"
If connection to DB fails from cloudshell, the present instructions are:

But that is incorrect. The firewall rule section contains a graphic with a static IP and otherwise contains no direction for obtaining the IP of the cloudshell. One is forced to conclude, erroneously, that one should copy the IP from the illustration into the "START IP" and "END IP" fields when creating the rule.

Consider a

[2018-10-18 20:18] MicahMcKittrick-MSFT commented on #17094
I would still suggest trying from another network. Rather than using VPN to that networking. Traffic may still not be going through that VPN and even if it is, your corpnet could still be blocking it.

For testing purposes, can you provide me with the IP address and port number you are trying to connect to? I can try from my network. If you do not want to share here you can email it to me at mimck

[2018-10-18 20:28] Mike-Ubezzi-MSFT commented on #16751
@ashutoshsharma15 Is your collection fixed or partitioned?

[2018-10-18 20:29] Mike-Ubezzi-MSFT commented on #16751
I am unable to reproduce this, not able to proceed past schema creation.
![screenshot 454](https://user-images.githubusercontent.com/37126106/47182258-d77f9900-d2d9-11e8-99fb-a2686e700747.png)
![screenshot 455](https://user-images.githubusercontent.com/37126106/47182259-d77f9900-d2d9-11e8-8071-742c87330729.png)
![screenshot 456](https://user-images.githubusercontent.com/37126106/47182260-d8182f80-

[2018-10-18 20:29] Mike-Ubezzi-MSFT commented on #16751
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 20:33] MarileeTurscak-MSFT commented on #17167
@cgill feel free to make a pull request with your changes.

[2018-10-18 20:33] mattbriggs commented on #17156
@dmc-tech That is a great question. I am not sure if the REST APIs require Azure AD or not. I will follow up in a bit. #in-progress

[2018-10-18 20:35] rachel-msft commented on #17182
Hi @yevster. Thanks for the feedback, we appreciate it! We'll work on improving this.

FYI @ajlam

[2018-10-18 20:37] simonsabin commented on #16455
Hey Joachim,

Makes sense thought it was that, just the wording wasn't clear. Just put a suggested wording forward in #17184

[2018-10-18 20:39] Mike-Ubezzi-MSFT commented on #16828
Have you had a chance to browse the following: [System views supported in Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-reference-tsql-system-views)?

[2018-10-18 20:41] TravisCragg-MSFT commented on #16426
@peternield We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-18 20:41] #16426 closed

[2018-10-18 20:42] SaurabhSharma-MSFT commented on #17166
@stevep4 You can achieve archiving the activity logs using Log Profiles and storage accounts.  Please refer to [Archive the Azure Activity Log](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-archive-activity-log).

[2018-10-18 20:44] jomalsan-MSFT opened #17185 "Inappropriate Search Example"
I was following the tutorial for VisualSearchUrlWithFilters with the given Image URL and site filter for bing. I was evaluating the response object and under the VisualSearch responses, the suggested page returned a bing search for: 日本人与交狗配图片, which translates to "A Japanese person having sex with a dog". I would suggest changing the search image url or the domain that you search over to try and a

[2018-10-18 20:44] mattbriggs commented on #17156
@dmc-tech There shouldn't be a difference between using AD FS and Azure AD. Thanks again, Matt #please-close

[2018-10-18 20:44] Mike-Ubezzi-MSFT commented on #16849
@atullalwani Here is the compete documentation on how to set this functionality up: [How to configure Azure Database for MySQL Data-in Replication](https://docs.microsoft.com/en-us/azure/mysql/howto-data-in-replication).

I believe you need _General Purpose_ or _Memory Optimized_ pricing tier to support Data In replication.

[2018-10-18 20:46] Mike-Ubezzi-MSFT commented on #16853
@fcobo95 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-18 20:46] #16853 closed

[2018-10-18 20:47] Mike-Ubezzi-MSFT commented on #16802
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 20:49] #17185 closed

[2018-10-18 20:51] MohitGargMSFT commented on #16950
@astengaard Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-10-18 20:54] MarileeTurscak-MSFT commented on #17107
@yukiatsuxl this platform is used for troubleshooting Microsoft documentation. Unfortunately we cannot resolve this issue because it is specific to your provider. I would highly recommend contacting your provider, which in this case appears to be Binus University, and they should be able to assist you with resetting your account. http://binus.ac.id/contact-us/

[2018-10-18 20:54] #17107 closed

[2018-10-18 20:54] jason-j-MSFT commented on #16451
@douglaslMS that is correct, it is a valid container.

[2018-10-18 20:56] BoAlexander commented on #8050
I was running PowerShell on my remote computer.   I think that updating my AzureRm module(s) (cmdlets?) allowed this to start working.  When I got the errors it was 5.7.0.  I updated to 6.10.0.  Seems to be working now.

[2018-10-18 20:57] erhopf commented on #16580
Hi @mattquinn4, checking in to see if v2.0 of the Swagger reference get you unblocked.

[2018-10-18 20:59] Karishma-Tiwari-MSFT commented on #17090
Thanks

fgfg
fdg

fdg
gfd

fdghdf ![alt text](https://wtv3.blob.core.windows.net/media/cognitivepic.PNG?sv=2017-04-17&sr=b&sig=S95UoAhT95jFPoD7MypQ00W1DAzjYLPYK79%2FSYBKZRc%3D&st=2018-10-18T20%3A53%3A15Z&se=2021-10-18T20%3A58%3A15Z&sp=rw "cognitivepic.PNG")

[2018-10-18 21:05] douglaslMS commented on #16451
@jason-j-MSFT I have not heard that feedback before, and I don't know the explanation. In this issue, I'd prefer to scope my work to the customer's question, where I believe I've provided the answer. I have also made some improvements in the article (although they may not yet be published live at this moment) to make the beginswith/endwith examples section easier to read, and to list the subfolder

[2018-10-18 21:06] jason-j-MSFT commented on #16554
@StefH could you provide additional context?  Can you point to the issue in the document or the provided sample code?

[2018-10-18 21:09] dmc-tech commented on #17156
There *shouldn't* be a difference, but there is.  AD FS Service Principal for Azure Stack uses x509 cert which uses the  thumbprint instead of a secret.  If you can get it to work, a short example would be appreciated  https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-create-service-principals#create-service-principal-for-ad-fs

[2018-10-18 21:10] SaurabhSharma-MSFT commented on #17023
@sergey-netdev I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-10-18 21:10] jason-j-MSFT commented on #16595
@swinarko the link in the 'Next steps' section does not seem to relate to copying date from on-prem to the cloud:
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-deploy-ssis-packages-azure#next-steps

[2018-10-18 21:11] MarileeTurscak-MSFT commented on #17134
There are certain scenarios when it is not included because a new token is issued. With the Client Credentials grant type there is no refresh token because the client can get a new access token by asking a new one when he wants. @CelesteDG can you confirm?

[2018-10-18 21:12] jason-j-MSFT commented on #16610
@linda33wj we have a request here for an ARM example.

[2018-10-18 21:14] MarileeTurscak-MSFT commented on #17121
@AJRus Please note that once the baseline policy is enabled for users which have mentioned directory roles, MFA will be required when they sign-in. Once they are verified and sign-in, it will not again prompt for MFA.

[2018-10-18 21:15] MarileeTurscak-MSFT commented on #17121
@AJRus We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-18 21:15] #17121 closed

[2018-10-18 21:31] Karishma-Tiwari-MSFT commented on #17110
@15ramky I also do not see that option in qemu to convert from vhdx to vhd as per this [doc](https://docs.openstack.org/image-guide/convert-images.html#qemu-img-convert-raw-qcow2-qed-vdi-vmdk-vhd). I will remove that reference from the doc.
CC: @cynthn

[2018-10-18 21:32] itguru85 opened #17186 "Question?"
So I'm in the process of trying to setup Azure File Shares with Azure authentication support so that users can use their domain credentials to authenicate against the file share. I have a on-prem AD so do I have to still configure Azure AD Domain Services or can I just spend up a VM, create an Azure VM, join it to the on-prem AD, and enable password hash through the Azure AD Connect and be done es

[2018-10-18 21:33] itguru85 opened #17187 "Question?"
So I'm in the process of trying to setup Azure File Shares with Azure authentication support so that users can use their domain credentials to authenicate against the file share. I have a on-prem AD so do I have to still configure Azure AD Domain Services or can I just spend up a VM, create an Azure VM, join it to the on-prem AD, and enable password hash through the Azure AD Connect and be done es

[2018-10-18 21:44] Adam-Smith-MSFT commented on #17145
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-18 21:44] wmekal commented on #7693
@cephalin @Mike-Ubezzi-MSFT Thank you guys for listening the feedback and updating the docs :).

[2018-10-18 21:46] strohne opened #17188 "Reference of batch transcription API is missing"
The docs state that "The Batch transcription API is using a REST service [...] You can use the API from any language. The next section describes how it is used."

The description of endpoints, parameters etc. is completely missing. For example, how do I use the API from Python?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-18 21:47] BillRaymond commented on #16328
@mike-urnun-msft Thanks!

[2018-10-18 21:50] jluk commented on #16924
@EstebanSmits did you try your deployment using no quotes or escapes for setting the env vars? We use the default Azure CLI parser so it should handle strings like VMs do. If it doesn't work we probably have a CLI bug, if it does work we can make a callout to recommend this way of passing parameters on the doc.

[2018-10-18 21:54] Karishma-Tiwari-MSFT commented on #17125
You can use this Powershell command to check the available sizes for VM for your cloud service:
`Get-AzureRoleSize | where SupportedByWebWorkerRoles -eq $true | select InstanceSize, RoleSizeLabel`

[2018-10-18 21:55] julianpayne1 opened #17189 "Cannot connect to API for Translator Text ..."
I have a similar use case for the Translator Text api from MSFT Cognitive services. But I cannot get the api to work. I am writing code in M - my use case should let me copy your code, and slightly alter it, but when I do, all I get is "404 Resource not found"

my Code:

let
    Source = Web.Contents("https://api.cognitive.microsoft.com/sts/v1.0/", [Headers=[apikey="xxxxxxxxxxxxxxxxxx"]])
in
    S

[2018-10-18 21:57] julianpayne1 commented on #17189
DataSource.Error: Web.Contents failed to get contents from 'https://api.cognitive.microsoft.com/sts/v1.0/' (404): Resource Not Found
Details:
    DataSourceKind=Web
    DataSourcePath=https://api.cognitive.microsoft.com/sts/v1.0
    Url=https://api.cognitive.microsoft.com/sts/v1.0/

[2018-10-18 22:05] an-emma commented on #17154
For now, reference data update is triggered through deployment, and the job will automatically restart to pick the new reference data. However, we are investigating to update reference data files on the devices directly from ASA, but we don’t have an exact date yet.

Let me know if you have any questions.

[2018-10-18 22:06] liveandletbri commented on #14541
@jason-j-MSFT @linda33wj I'm also interested in ADF support for DB2 7.3. Please let us know!

[2018-10-18 22:09] julianpayne1 opened #17190 "API not working"
I am working with AAS, coding in M Query language...

My code to create a custom translation function:

let
    Source = Web.Contents("https://api.cognitive.microsoft.com/sts/v1.0", [Headers=[#"Ocp-Apim-Subscription-Key"="xxxxxxx"]])
in
    Source

My result:
404 Error Resource Not found.....

DataSource.Error: Web.Contents failed to get contents from 'https://api.cognitive.microsoft.com/sts/v1.0'

[2018-10-18 22:11] dcaro commented on #15273
I think that the question was how to create a log analytics workspace using the az cli command only. something that would look like: az loganalytics workspace create -g resource_group -l location --pricing PerGB2018.

[2018-10-18 22:12] abhiramani-iptiq commented on #15273
Yes

From: Damien Caro [mailto:notifications@github.com]
Sent: Thursday, October 18, 2018 6:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Abhijit Ramani <Abhijit_Ramani@iptiq.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Cli to create workspace without using ARM Templates (#15273)

I think that the question was how to create a log

[2018-10-18 22:15] MicahMcKittrick-MSFT commented on #17094
@tapialuism I will close this issue as we are working offline together.

[2018-10-18 22:15] #17094 closed

[2018-10-18 22:15] Mike-Ubezzi-MSFT commented on #16927
I am unable to reproduce:

![screenshot 461](https://user-images.githubusercontent.com/37126106/47187309-6dbabb80-d2e8-11e8-8097-596e0b500939.png)

Please ensure you have the complete key and that the `username` value is correct. You stated `/dbs/sample-database/colls/sample-database` and I bet the correct value is `/dbs/sample-database/colls/sample-collection`.

Please verify this in the Azure Po

[2018-10-18 22:28] MarileeTurscak-MSFT commented on #17180
@TiloGit Yes, the max wait time should generally be about 10 minutes. If a service is down it is possible that it can take longer but in my experience it has always taken faster than 10 minutes.  Have you had issues changing the directory of a subscription?

CC @eross-msft

[2018-10-18 22:28] MarileeTurscak-MSFT commented on #17180
We will proceed to close this thread. If you have further issues please open a new issue or leave a comment and we will gladly continue the discussion.

[2018-10-18 22:28] #17180 closed

[2018-10-18 22:31] overslacked commented on #16910
@erhopf - When I call the /issueToken endpoint, specifying the key in "Ocp-Apim-Subscription-Key", I am able to acquire an access token. I am then able to cal the TTS endpoint using that access token in the authentication header. This is a normal authentication workflow that I am already familiar with.

However, the documentation states that acquiring an access token is not necessary from the /iss

[2018-10-18 22:39] erhopf commented on #16910
@overslacked - Thanks for confirming. I figured that this was the case after reviewing @niels9001 code. I'm working with engineering to confirm that this is only a doc bug and not a bug in the service.

[2018-10-18 22:40] Karishma-Tiwari-MSFT commented on #15282
@daveba v-alje Would either of you be able to provide your insights here?

[2018-10-18 22:40] DanielJBrown commented on #13717
Oh also the domain name as to be less than 15 characters, that is why I had to make a custom domain since the onmicrosoft one I made too long.

[2018-10-18 22:41] MarileeTurscak-MSFT commented on #17181
@kaushikborbora Please try using a new browser and opening in incognito mode. I was having this same issue before but it seems to be fixed for me now. You can also set up MFA for users if you are the global administrator of the AAD tenant by clicking Azure Active Directory > Users > Multi-Factor Authentication.

[2018-10-18 22:41] chetansriv commented on #16398
Tutorial is updated as requested.
#please-close

[2018-10-18 22:51] chetansriv commented on #16692
@rkondru @jeevansd I have requested for test account with BlueJeans team. Once we have the test account, will do testing and update the tutorial accordingly.

[2018-10-18 22:57] daveba commented on #15282
To retrieve the identities attached to a VM you can use the following CLI command:

`az vm show --resource-group <resourceGroupName> --name <VMName>`

[2018-10-18 23:09] navyasric commented on #17006
@manish-shukla01 Is the MSA account that you say has access to azure subscriptions a part of an AAD tenant as a guest account? Please try using that tenant ID in the authority URL instead of /common.

[2018-10-18 23:09] xingwu1 commented on #16748
The problem is batch doesn't honor WORKDIR of image, we added workitem to track this issue,

[2018-10-18 23:15] xingwu1 commented on #16748
During the meantime, in order to let this image work, please add "-w /app" to taskContainerSetting. This extra setting will override the Batch default working directory.

[2018-10-18 23:16] MarileeTurscak-MSFT commented on #17181
@kaushikborbora someone else on my team is having the same issue right now. Mine is working perfectly so my guess is that there are multiple server instances of this and some are down. I had the same issue for a long time so I know exactly what you are talking about. I am escalating this to the product team right now so that they can put in a fix.

[2018-10-18 23:18] Karishma-Tiwari-MSFT commented on #15282
@akx Azure's Instance Metadata Service is a REST Endpoint accessible to all IaaS VMs **created via the Azure Resource Manager**. The endpoint is available at a well-known non-routable IP address (169.254.169.254) that can be accessed **only from within the VM**.
Can you please confirm that you created the VM using ARM and that you tried the endpoint from within the VM?
Also, please make sure you o

[2018-10-18 23:19] jason-j-MSFT commented on #16781
@rhpoon I tried the procedure in the document and it works as stated.  For a continued discussion on your other questions, I would recommend starting a thread here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hdinsight

[2018-10-18 23:19] #16781 closed

[2018-10-18 23:28] Karishma-Tiwari-MSFT commented on #17090
@aydeisen How are you trying to achieve that? Using Portal or Powershell or CLI?

[2018-10-18 23:34] brlewi commented on #17188
[Test](www.cnn.com)

[2018-10-18 23:46] rbrayb opened #17192 "Wrong word"
In this sentence:

As a result, the JWT token issued by Azure AD B2C, omits the family_name instead of ClaimType name surname.

omit should be emit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f75133fa3
* Content: [ClaimsSchema

[2018-10-18 23:49] Mike-Ubezzi-MSFT commented on #16980
@MattKravetz I do not think there is immediate support for Python based PySpark with Azure SQL Database. You can use the [SQL Database User Voice](https://feedback.azure.com/forums/217321-sql-database) to make that recommendation. Please outline your solution and use case in a detailed manner. I will forward this on to the content owner to confirm.

[2018-10-18 23:51] Mike-Ubezzi-MSFT commented on #16980
@allenwux Just want to get your feedback on this topic. Thank you.

[2018-10-18 23:56] MarileeTurscak-MSFT commented on #17186
@itguru85
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-18 23:56] Mike-Ubezzi-MSFT commented on #16990
@danielhzrivera Version 1.x or 2.x for Azure Functions? There was a recent 2.x release for Azure Functions that introduce quite a few breaking changes. This might be part of that. Have you or can you try this in a 1.x environment. Meanwhile, I will investigate the latest 2.x status. Thanks, Mike

[2018-10-18 23:59] Mike-Ubezzi-MSFT commented on #16990
@mike-urnun-msft Are you able to provide some input regarding this issue?

[2018-10-19 00:06] robinsh commented on #16613
@guub Are you open to doing a skype meeting and letting me see what you're doing? If so, e-mail me at robin dot shahan at microsoft dot com. This is really strange, and I'd like to see it if that's possible.

[2018-10-19 00:09] YutongTie-MSFT commented on #16884
@burstingninja Hi, according to the document https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-links-help?view=azure-bot-service-4.0  of Bot product group, I don't think they help in Git

Please go to https://stackoverflow.com/questions/tagged/botframework for help. Thanks a lot!

[2018-10-19 00:09] #16884 closed

[2018-10-19 00:12] LuisCabrer commented on #17189
Please post this issue in a Translator forum..
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/

[2018-10-19 00:14] chuanboz opened #17193 "Add documentation for Service Fabric configuration source"
in below Github issue [Feature Request: Service Fabric configuration source #9](https://github.com/Microsoft/service-fabric-aspnetcore/issues/9),

Microsoft.ServiceFabric.AspNetCore.Configuration package is added and have provided support for asp.net core IConfigurationProvider, we also need to provide the document once the new Microsoft.ServiceFabric.AspNetCore.Configuration released.

I could co

[2018-10-19 00:26] rohan51 opened #17194 "I don't see the "Create a new virtual network option" as shown in the "Creating a pre-configured VNet" section"
I don't see the "Create a new virtual network option" as shown in the "Creating a pre-configured VNet" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate an app with an Azure Virtual Network](ht

[2018-10-19 00:28] dcbrown16 opened #17195 "Classic VMs"
Does the manual installation process work for classic Windows VMs? There are some extra steps to update ProvisionGuestAgent on this blog and I'm wondering if those would still be required.
https://blogs.msdn.microsoft.com/mast/2014/04/07/install-the-vm-agent-on-an-existing-azure-vm/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-19 00:32] MarkusVi commented on #16715
Hi @xNiklasJern, I have to admit that I'm a bit at loss...
Could you please rephrase, what it is you are looking for?

Sign-in risk comes from Identity Protection. It has been  moved into CA to provide more granularity.
There is no relation to client side licenses.

What is missing?

Cheers,
Markus

[2018-10-19 00:33] jason-j-MSFT commented on #16790
@Minewiskan could you take a look?

[2018-10-19 00:34] Mike-Ubezzi-MSFT commented on #16997
@kamaljoshi911 and @ccnoecker Could you please paste the typical query that causes this? How many documents are there in the collection(s) it touches? Your detailed feedback will be super helpful here. Thank you.

[2018-10-19 00:34] jason-j-MSFT commented on #16795
@MGoedtel link to Powershell Gallery is broken in this section:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-collect-azurepass-posh?toc=/azure/azure-monitor/toc.json#enable-azure-diagnostics

[2018-10-19 00:39] andrewatfornax commented on #15147
The notes are clear, and definitely would have helped with my issue.

Having code that is capable of running even when the a fabric object already exists would be better of course, but the above is a definite improvement. Thanks.

[2018-10-19 00:40] EstebanSmits commented on #16924
Example without  quotes:
`az container create -g mygroup -n helloworld --image hello-world -environment-variables  SONARQUBE_JDBC_URL=jdb
c:mysql://sonarqube1.czrandomvalue.us-east-1.rds.amazonaws.com:3306/sonarqube?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance&auto
Reconnect=true&useSSL=false
`
I get this error:
`
At line:1 char:203
+ ... e.us-east

[2018-10-19 00:43] jason-j-MSFT commented on #16798
@lukeb1961 the title of the article is 'Download and install SQL Server Data Tools (SSDT) for Visual Studio" so the acronym is spelled out there.

There is also the first paragraph at the top of the page:
"SQL Server Data Tools is a modern development tool for building SQL Server relational databases, Azure SQL databases, Analysis Services (AS) data models, Integration Services (IS) packages, and

[2018-10-19 00:43] #16798 closed

[2018-10-19 00:48] MicahMcKittrick-MSFT commented on #17195
Thanks for the question! We are investigating and will update you shortly.

[2018-10-19 00:50] MicahMcKittrick-MSFT commented on #17193
@chuanboz thanks for reaching out.

I will assign to the author for awareness. Also, since you are an FTE I suggest pinging @vturecek directly regarding this :)

[2018-10-19 00:51] Mike-Ubezzi-MSFT commented on #17056
@MSUser00087 Please take a look at this blog post: [Enable Azure resource metrics logging using PowerShell](https://blogs.technet.microsoft.com/msoms/2017/01/17/enable-azure-resource-metrics-logging-using-powershell/)

[2018-10-19 00:54] femsulu commented on #16573
@erikverwer  - I hate to break the momentum here but this channel is reserved for doc comment engagements. your issue will be better served as a support case or an offline/email engagement. Please send mail to Azcommunity@microsoft.com with pertinent issue details including your subscription ID and we can continue the investigation.

@georgewallace  - FYI.

[2018-10-19 00:54] #16573 closed

[2018-10-19 01:01] aydeisen commented on #17090
@Karishma-Tiwari-MSFT

I'm using the cmdlets in the PowerShell section under the bullet

[code]

[2018-10-19 01:05] imeya commented on #17123
@bwren , the ytitle is just used to set the title for the y-axis. you can refer to this [link ](https://docs.microsoft.com/sv-se/azure/kusto/query/renderoperator)for details.

[2018-10-19 01:11] SaurabhSharma-MSFT commented on #17192
@rbrayb Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 01:37] jluk commented on #16924
Thanks @EstebanSmits! Adding @samkreter can you please take a look at this CLI error case?

[2018-10-19 02:10] sirredbeard commented on #16809
@lyda I do not want to see Microsoft drop support for FreeBSD either but the most recent versions of the tool do not work well on FreeBSD or OpenBSD. I would prefer WALinuxAgent get updated to work across any *Nix.

[2018-10-19 02:46] swinarko commented on #16595
The subject of "Next steps" link was wrong in the first place, copying data from on-prem to the cloud using Azure IR is unrelated to provisioning SSIS IR.  A better next step is customizing SSIS IR.

[2018-10-19 02:52] swinarko commented on #16595
Please publish my PR: [MicrosoftDocs/azure-docs-pr] Update tutorial-deploy-ssis-packages-azure.md (#54974) to fix this ASAP.  THX

Sandy Winarko, Principal Program Manager – Azure Data Governance, Cloud & AI
Office: Microsoft, BLD1/4851, 999 Zixing Road, Minhang District, Shanghai 200241, China
Email: sawinark@microsoft.com<mailto:sawinark@microsoft.com>, Skype: live:swinarko<skype:live:swinarko>,

[2018-10-19 02:59] gchudublin opened #17197 "I used C# app to dynamically create data base tables in a SQL Express database locally on my desktop...."
I want every table (could be up to 3000-5000+ in total) to sync to cloud Azure database. If I use data sync, then I have to create thousands of sync group and .....etc. Is it possible to extend the power shell  to C# or what's the best(easiest) way to implement this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b44ef

[2018-10-19 03:04] u983101 opened #17198 "Limit call rate by key"
If I want to say limit 45 requests per second using a key, I'm not sure if the limit-call-by-key works "per second" level.... can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content: [Azure API Manageme

[2018-10-19 03:07] gchudublin opened #17199 "If I have 3000 tables in a database"
How do I setup for each table? Any easier way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 856c3148-4309-2d97-d093-b29a4481cb8f
* Version Independent ID: 0d057151-804f-3c7e-fc1f-be792b7e59f2
* Content: [PowerShell example-Sync between multiple Azure SQL databases](https://docs.microsoft.com/en-us/azure/sql-database/

[2018-10-19 03:10] u983101 commented on #17198
sorry, ignore this one...

[2018-10-19 03:10] #17198 closed

[2018-10-19 03:44] AlexanderTodorovic commented on #16910
I've changed to the westus endpoint I've been also trying also with  Bearer Token, but still receiving 404. Also been following this https://westus.dev.cognitive.microsoft.com/docs/services/54ef13cc3d8a4b06cc921a4a/operations/5518fe1949c3f71a94aaf9da

[2018-10-19 04:31] bthebasics opened #17200 "Intermediate Commit support -"
We are big consumer of Spark SQL connector  as we are using this connector to read from various big data sources and dump into SQL Server 2016 datamart, One of the big issue faced was while using bulk-insert utility, we want to commit after each batch , so that transaction log is not filled up;
Can above be achieved? is there existing support or settings which can be leveraged for this requirement

[2018-10-19 04:38] jakaruna-MSFT commented on #17033
@rifaterdemsahin You can use "StandardSSD_LRS".
Got all the available options from the cli.
`az disk create -h`
Trimmed output
`    --sku                          : Underlying storage SKU.  Allowed values: Premium_LRS,
                                     StandardSSD_LRS, Standard_LRS, UltraSSD_LRS.  Default:
                                     Premium_LRS.`

[2018-10-19 04:40] jakaruna-MSFT commented on #17011
@tingyiy I will try out in my AKS cluster and let you know.

[2018-10-19 04:43] Sarah-Aly opened #17201 "The View result section doesn't show which value is positive / negative"
The view result section focused too much on the neutral value, but doesn't show which value would be positive / negative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID: b58189d7-aaec-3487-a1c0-452726f940b3
* Content: [Example: Analyze sentiment with the Tex

[2018-10-19 05:08] AlexanderTodorovic commented on #16910
It seems the endpoint is available but I still get the 401 response.
# https://westus.dev.cognitive.microsoft.com/docs/services/54ef13cc3d8a4b06cc921a4a/operations/5518fde849c3f71a94aaf9d9
# get speech file
spech = service.get_blob_to_bytes('speechtt','jp1mono.wav')
recorequestheader = {
    'Authorization': 'Bearer ' + acc_tok,
    'Content-type': 'audio/wav; codec=audio/pcm; samplerate=16000',
}

[2018-10-19 05:37] Klaas- commented on #16941
I did not check that, I corrected it in vim before running it :) not sure if linux python likes windows linefeeds

[2018-10-19 05:38] rohit901 opened #17202 "Regarding Refreshing of Tokens"
The doc does not specify properly on how are we to refresh the tokens automatically since the tokens have an expiry limit of one hour, I tried searching it online but could not find any suitable solution for my Android App as I couldn't understand it properly, When I try using the app after a long time I Get this error saying message IDX10223: Lifetime validation failed. token is expired. Could yo

[2018-10-19 06:06] StefH commented on #16554
Hello Jason. The code part is described in the issue and my example code (which is based on the example code from the docs) is also linked via a gist.

[2018-10-19 06:18] dcbrown16 opened #17203 "Recommendation for running state?"
Is there any difference in taking a snapshot on a VM if it is running or stopped?
Azure Backup, for example, recommends a running VM to ensure application consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-d9c6-574c-c6a4-36b0ebd484b8
* Con

[2018-10-19 06:30] astengaard commented on #16950
Sorry, I didn't get back, I had 2 days off...
I just tried changing the line you suggested, that gave me another error:
Get-AzureADDirectorySettingTemplate : Error occurred while executing GetDirectorySettingTemplate
Code: Request_ResourceNotFound
Message: Resource 'df09dd06-e890-498c-ba84-ce7bd99c2894' does not exist or one of its queried reference-property objects are not present.
InnerError:

[2018-10-19 06:33] xNiklasJern commented on #16715
Hi @MarkusVi
Thank you for taking your time.

Sign-in risk comes from Identity protection ,that we agree on :) but for to make the condition sign-in risk visible in CA, the tenant needs to have at least one AAD P2 license assigned.

What I noticed is that you only need on license assigned to make the identity protection available for all users in your organization (at least it show data on all use

[2018-10-19 06:38] JohnReeson commented on #12939
Same problem, v2 function uses `EventData` of `Microsoft.Azure.EventHubs`.

[2018-10-19 06:39] ashutoshsharma15 commented on #16751
![error](https://user-images.githubusercontent.com/44099720/47201236-cba5dc80-d396-11e8-9590-42125ed2c9a9.png)
@Mike-Ubezzi-MSFT @SnehaGunda
Please find above screenshot .Its a partitioned collection.This is only happening for child table. parent table we are able to preview fine.In above screenshot we can see that previewing child table,that error is thrown. Couple of child table I see this issue

[2018-10-19 06:44] ccnoecker commented on #16997
There are currently 587,239 documents in the collection, but there should be many more in the future. I am using refactored code to do this, and it worked with no issues on a local Mongo. I had never seen this error before switching to azure/cosmos.

I am using python to make the query:

[code]

[2018-10-19 06:51] options commented on #9106
is there any update for this?
It very hard to understand you didn't update this document until now.

[2018-10-19 07:09] lyda commented on #16809
Sure, but getting rid of this page won't help do that.  And WALinuxAgent has improved. And it accepts pull requests.

[2018-10-19 07:31] cephalin commented on #12891
@jbreiding That's exactly what the doc says.

[2018-10-19 07:34] smoms opened #17204 "Default installation of security daemon"
Hi, it is not clear to me whether the security daemon is installed by default with IoT Edge run time or not? Also, are the workload API for the security communication between Module and Security Deamon installed AND executed also automatically or require developers to implement the protocol?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-10-19 07:48] rajbos opened #17205 "Provide guidance around monitoring the current counts towards these limits"
I've reached the connection limit for a function, but cannot find anywhere how to monitor them, or how to check the code on where these connections are being kept open. Adding some guidance to the bottom of this article on how to find out what code is causing this would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-19 07:51] stevep4 commented on #17166
Great tip, thank you, I'll investigate!

[2018-10-19 08:20] brinux commented on #17135
Hi Mike,

the documentation page I suggest to reference is this:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry?toc=/azure/azure-monitor/toc.json
Thanks in advance and best regards,

Fabrizio

On Thu, Oct 18, 2018 at 6:29 PM Mike Ubezzi <notifications@github.com>
wrote:

[2018-10-19 08:28] danielDMP commented on #17140
Just try it ;-) You need to specify the id_token parameter for openid. The V1 endpoint ignores the scope parameter. You will get an signed id_token back without the scope parameter (= optional)
Also you can't specify other scopes as mentioned in this article: "You may also include other scopes in this request for requesting consent".

[2018-10-19 08:35] luther-c opened #17206 "failureRedirect results in infinite redirection"
As others have commented, the first thing was to avoid the following error: `TypeError: Invalid value for redirectUrl.`

In step 3, the code under point 3, instead of just:

[code]

I had to have these lines:

[code]

That got rid of that error and the app started.  You need to update the tutorial to include these lines don't you?
But now I have another problem which I would value some help with.

[2018-10-19 08:36] abhinav-jain09 opened #17207 "deploy does not work"
I try to deploy the function getting following error  using  mvn azure-functions:deploy
com.microsoft.azure:azure-functions-maven-plugin:1.0.0-beta-3:deploy (default-cli) on project contentreader: Status code 403 -

what does this mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e

[2018-10-19 08:46] jschrap opened #17208 "When to DISMISS ?"
State: The current state for that alert. There are two types of states:
  Active: The security alert has been detected.
  Dismissed: The security alert has been dismissed by the user. This status is typically used for alerts that were investigated and either mitigated or found not to be an actual attack.

We have the option of DISMISSING "items found not to be an actual attack".  We actively do th

[2018-10-19 08:53] shaunybrown commented on #16927
Thanks @Mike-Ubezzi-MSFT, no I've set the username as stated above.

@SnechaGunda I'm not sure what you mean? The statement within gremlin?

:remote connect tinkerpop.server conf/remote-secure.yaml

[2018-10-19 09:01] timjroberts-inty commented on #17134
Many thanks for the prompt feedback. We found some answers on StackOverflow that cleared it up for us - namely, we now include the `Offline_Access` scope when hitting the /authorize and /token endpoints. This returns the `refresh_token`.

[2018-10-19 09:07] genlin commented on #11006
@jeffmartinxyz, The article shows how to add owner in subscription level. So we need to select "Subscriptions" blade in the menu, and then select one of the subscriptions you want to add the owner to.

I will process to close this issue. Let me know if there is any additional comment or feedback.
#please-close

[2018-10-19 09:10] clementlrms commented on #10031
Hello lenadroid, did you have time to look at Object JSON deprecation ? I hit same issue. Thanks for your feedbacks

[2018-10-19 09:15] genlin commented on #13299
@seekingtheoptimal  Thanks for pointing out the issue. Yes, we do not need to mount the BROKENSOFTWARE hive. I will update the article.

#Please-close

[2018-10-19 09:15] TecumsehSamp commented on #14583
RecieveAndDelete I believe (this was slightly abstracted as I was using the logic apps auto complete poll)

[2018-10-19 09:16] mlamb1966 opened #17209 "Service Map in UK Regions?"
When will service map be available in the UK Regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b462a919-2014-9aa3-5fba-6568cb2c6cfe
* Version Independent ID: 3417842d-423f-7d97-b25f-877e42234dca
* Content: [Configure Service Map in Azure](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-service-map-co

[2018-10-19 09:22] vikaskumawat80 opened #17210 "Move Azure AD Enterprise Applications to another Azure AD"
We have a scenario where we have Enterprise Applications registered in Azure AD. Now we want to move these registered Applications to other Azure AD. Is it possible to do that or do we have start from scratch in the other Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c075d54-1d74-18f5-4fe1-efb8d4a2e114
* Ve

[2018-10-19 09:36] newgamer1117 opened #17211 "Login to LinuxVM with AADLoginForLinux then switch to root need to do DeviceLogin twice"
I've set up AADLoginForLinux following Azure document.
Also assign Administartor Role to the object as I want.
It works, but when I login with the account that I've set up before. do the first time Device login and Azure AD login, then when I try to use "sudo su" to switch to root account,
It asks me to do the second time Device login and Azure AD login.
I'm pretty sure it's secure but inconvenien

[2018-10-19 09:39] Minewiskan commented on #16790
@raphaelkoeppel Are you saying you're not getting a refresh ID in the response body?

[2018-10-19 09:41] jakaruna-MSFT commented on #17203
@dcbrown16
Thanks for the question. I went through the documents and I am unable to find this specific recomendation. I will check with the author.
Mean while if you want to go through the snapshot process and billing, you can check [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/incremental-snapshots).

[2018-10-19 09:44] clangnerakq commented on #17136
@Mike-Ubezzi-MSFT Thank you for your fast answer.
Sorry for giving just short information about the issue.
Here are more informations of how i've deployed the aci:

I've followed the following microsoft documentation to create a container over the cli:
https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest

Then i've looked up, how to mount an Azure file share in Azure Containe

[2018-10-19 09:54] olavt opened #17212 "StorageV2 (general-purpose v2)?"
Why is there no mentioning of StorageV2 (general-purpose v2)? Are the scalability targets for the V1 and V2 exactly the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Content: [Azure Storage Scalability and Perfo

[2018-10-19 09:55] drwebmonkey opened #17213 "Publish to Azure returns a 401, no run from zip"
Apparently this article needs updating, as the run from zip is not there, and the function returns a http 401 error.
Looking into the
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Create your first fu

[2018-10-19 10:06] PramodValavala-MSFT commented on #17133
@satish-kuncha Thanks for pointing this out!

The sample needs a few subtle fixes for it to work as is but the problem due to a different reason, not related to the case of the letter "b".

That being said, here is the updated sample code

[code]

Could you try this code and let us know if you still see the same exception?

[2018-10-19 10:12] 0GiS0 commented on #16698
Hi @sergaz-msft ,

I'm sorry for the delay.

I solved the issue. It was related with the password that I used. It didn't work because I used special characters. I found this [thread](https://social.msdn.microsoft.com/Forums/windows/en-US/85140edd-2c14-464b-ac9d-f8f627135a70/unable-to-load-applications-or-create-new-application-via-azure-blockchain-workbench-web-app?forum=azureblockchain) about it.

[2018-10-19 10:15] elaurijssens commented on #17085
@btardif  Not always:

![screen shot 2018-10-19 at 12 03 11](https://user-images.githubusercontent.com/7449707/47211990-4c64d880-d397-11e8-9dec-eb49ade1a0eb.png)

@cephalin: Unfortunately not, I'm in an Azure environment with federated AD and for some reason, that does not work in any of the username formats known to me.

[2018-10-19 10:21] fluffy-cakes opened #17215 "ResourceType "Microsoft.AAD/DomainServices" doesn't exist"
Running Get-AzureRmResource shows the list of my resources, but "Microsoft.AAD/DomainServices" is not amongst them. I have checked I'm in the right subscription, and verified it by checking resources.azure.com (snippet below).

[code]

Am I the only one experiencing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-19 10:44] koman opened #17216 "Certificate for own domain in production"
Your article describes very well how to get a certificate for an Azure domain name, but how does one get a certificate for a production domain name. I need to generate a certificate for my static IP I am using for my cluster with ingress but when I configre dns using your script it creates &lt;name&gt;.westeurope.cloudapp.azure.com. How do I map the IP to www.example.com please?
Thanks.

---
####

[2018-10-19 10:49] VANDAEDGE opened #17217 "Thankyou"
For authenticating my account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3e97-a52f-85d3-c423e9664fdf
* Version Independent ID: 2778814f-fba7-97f3-039c-674434e48b3f
* Content: [Backup and recover with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directo

[2018-10-19 10:59] koman commented on #17216
As a follow-on, I know I will need to get my ISP to map my domain name to the static IP but my question is how do I create a certificate for this domain name and not westeurope.cloudapp.azure.com?

Thanks

[2018-10-19 11:04] PaulSells opened #17218 "Support for ServiceNow London release"
Would like to know when the ITSM connector will support ServiceNow London release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e5fdf6-4687-0a17-9a80-07703684b78f
* Version Independent ID: 42ed8d94-6250-54ba-5e8b-de62c0181e82
* Content: [Supported connections with IT Service Management Connector in Azure Log Analyti

[2018-10-19 11:23] SRE93 opened #17219 "Office 365 groups support"
How can I assign Office 365 groups to enterprise applications? Currently only users or security groups are possible to choose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada0b95-37b4-22d1-152f-fc29a52f5706
* Version Independent ID: 9424e3bb-d141-f74f-c6c5-114410253e2d
* Content: [How to assign users and groups to

[2018-10-19 11:25] cmeyertons opened #17220 "docker login on ACR doesn't work"
following response:

[code]

does ACR no longer allow Basic Auth and it's OAuth only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba491964-1f3c-6833-fc0b-ad57606ebced
* Version Independent ID: d507f1aa-0e8e-9abc-2dd8-1b152ee530f9
* Content: [Quickstart - Create a private Docker registry in Azure with the Azure porta

[2018-10-19 11:39] AndKjell commented on #16763
It is all objects in the directory (NOT synchronized objects) EXCEPT those excluded when using domain or OU-filtering. For example, you need to include and count all computer objects in your directory, except those located in an OU/domain you can exclude with filtering. If you use group or attribute based filtering, then this does not apply and you must count ALL objects (of type user, group, comp

[2018-10-19 11:50] maidrees commented on #13871
Any update on pipeline parameter functioning. I still get the same issue.

[2018-10-19 11:52] radhagpt opened #17221 "Availability Sets"
Each virtual machine in an availability set is placed in one update domain and two fault domains. :-
Regarding the above mentioned statement can anyone please explain why two fault domains are required for each virtual machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Versio

[2018-10-19 11:52] robert4os opened #17222 "How to add CHARTS within the run overview"
In the experiment overview there is an '+Add Chart' button in the Azure Portal. However, how to create/add charts within a run? So that the chart would get added in the 'CHARTS' panel within the overview of a specific run. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* V

[2018-10-19 12:09] jakaruna-MSFT commented on #17136
@clangnerakq I deployed the sample container from the doc in a vnet with attached fileshare.
I am able to access the file share in the Container.
In my deployment I have given a new subnet and CIDR block to the cli. So it created the subnet and configured it in an existing vnet.
Please share  your container status (Container1) and also check the container logs if your container is in running state

[2018-10-19 12:24] nkolchakov opened #17223 "Debug from Visual Studio without additional Extensions ?"
Hi,
I tried to use Edge module extensions for both `VS 2017` and `vscode`. But I have an issue where it doesn't pregenerate Dockerfiles when DLL references are added and I can't figure out how to add them manually for each DLL, one of the issues being with the context path. DLLs are located in the parent directory from Dockerfile.

**Anyways, my question is** - Is it possible to debug and IoT Edge

[2018-10-19 12:31] mforrer85 opened #17224 "X-Frame-Options:Deny"
I do have an IONIC4 app running with cordova in a browser. If i try to login using client.login('aad') with the ServerFlow the app tries to open the login to Azure AD but ends up with a X-Frame-Options: Deny error - since the MobileServiceClient tries to open the login page in an iframe. The app is currently running locally on localhost:8000. If i open the login link in a blank separate window i a

[2018-10-19 12:50] jakaruna-MSFT commented on #17216
Thanks for the question! We are investigating and will update you shortly.

[2018-10-19 12:51] jakaruna-MSFT commented on #17220
Thanks for the question! We are investigating and will update you shortly.

[2018-10-19 12:54] atullalwani commented on #16849
@Mike-Ubezzi-MSFT : Hello, I have gone through the documentation but I wanted to know how to pass the "replicate-do-db" argument via stored procedures on slave server in Azure so that only the required schema is replicated, not all.
We are using General Purpose pricing tier to support this.

[2018-10-19 12:57] atullalwani commented on #16849
CALL mysql.az_replication_change_master('<master_host>', '<master_user>', '<master_password>', 3306, '<master_log_file>', <master_log_pos>, '<master_ssl_ca>');
The stated stored  procedure does not allow to pass replicate-do-db values. Can you please suggest how this can be achieved.

[2018-10-19 13:28] davidbaxterbrowne opened #17226 "The picture shows incorrect max eDTU per database for standard and premiium"
That picture dates from 2015. In May 2017 the per database limits were changed. See the docs here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-elastic-pools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b441bee2-558b-8808-d099-f2abcbd6a947
* Version Independent ID: 9c208399-09a

[2018-10-19 13:33] AndKjell commented on #16763
## How to count objects
This topic refers to *object count* in several places for SQL Server and hardware sizing. The definition of object count is as follows:
- Include all objects of type user, inetOrgPerson, contact, group, computer, msDS-device, and foreignSecurityPrincipal (FSP) located in on-premises Active Directory.
- Exclude objects you can filter with [domain- or OU-based filtering](how-

[2018-10-19 13:56] jwashbur79 opened #17228 "Moving a VM from one subscription to another subscription."
Hi Team, as noted in the other comments, this document needs to be update. Today I wanted to move a VM to a different subscription, but I see that the "Move" option is not available.

1. Open Azure portal
2. Click Virtual Machines button
3. Click on the VM you want to move
4. In the Overview section, look for Subscription and click "change"
5. Follow the steps in the wizard from there.

Thanks!

-

[2018-10-19 13:58] mm-gmbd commented on #9187
@kobulloc-MSFT or @DavidJFowler - can either of you provide some feedback in this issue for *how* to use the Azure Portal rather than the Publisher Portal?

Specifically, when I go to APIM->Security->Identities and select Add to add a new Identity provider, Azure Active Directory B2C is not on the list. My only options are Facebook, Google, Microsoft, Twitter, and Username and Password. If I selec

[2018-10-19 14:01] justcallmetrell commented on #15765
@TomArcher @Mike-Ubezzi-MSFT @yuwzho
Thanks guys and my apologies for the delayed response... between Work and a newborn baby at home, time is something I am learning I don't have enough of! 😄 At this time, I have decided to deploy my Azure resources using ARM templates and the "azure_rm_deployment" module for my automation. Thanks again.

[2018-10-19 14:15] stevep4 commented on #17166
Hi... Anyone else reading this thread, if you're looking to do the same then use the following URL which talks you through creating a storage account, and setting up the logs to copy in to it.
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/quickstart-azure-monitor-route-logs-to-storage-account
(You'll be after the Audit Logs, but I chose to copy the Sign-ins as well)

[2018-10-19 14:34] overslacked commented on #16910
@erhopf and everyone else, thank you for your help and time, it is appreciated!

[2018-10-19 14:42] georgewallace commented on #16905
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-19 14:44] georgewallace commented on #16750
@mentalinc Thanks for reaching out, the doc is correct Update Management right now Update Management doesn't support 18.04 at this time, but the OMS Agent for Linux does.

[2018-10-19 14:44] mlinehan17 opened #17230 "Consistent use of your-tenant"
In Create an Azure App, step 7, SignOn URL, your-tenant is used to refer to the base part of the tenant name. In Configure Azure AD as an Identity Provider, step 7, Metadata URL, it is not clear if your-tenant refers only to the base part, or to the full tenant name contoso.onmicrosoft.com. Can you please be consistent and provide an example for the metadataurl.

---
#### Document Details

⚠ *Do n

[2018-10-19 15:00] jcox2030 opened #17231 "Renewal-period"
Upon attempting to save a basic rate-limit-by-key policy, I get a failure when the renewal-period value is anything over 300. The examples above have a renewal-period of 2629800 which is a month give or take.
Is the documentation incorrect, or has a regression been introduced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-19 15:03] DCtheGeek commented on #16745
@ronbok - Just checking in... was my suggestion of using the existing Quickstart, but skipping the other artifact steps, useful for what you were looking for? Still looking to understand the use-case of what you have asked for.  Thanks!

[2018-10-19 15:04] massiveloop commented on #17219
Office 365 groups are not security enabled. They are basically glorified distro groups. Even though they can be the basis for some security objects in Sharepoint, they will not work an ACL in AAD.

[2018-10-19 15:10] MithunChopda opened #17232 "Text to Speech documents lacks detailing"
The Text to Speech documentation needs to be more detailed and concise in terms of setting up the environment and prerequisites. Also please share some quick start tutorials for JavaScript based implementations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID

[2018-10-19 15:18] wesmc7777 commented on #16525
@ysripath This fix is correct. Excellent work Yuvaraj!  Thank you for reporting this!

[2018-10-19 15:18] georgewallace commented on #14432
@christiandekker I wanted to let you know that this is being address in the next sprint.. I will follow up with this issue when the solution has been updated.

[2018-10-19 15:19] georgewallace commented on #14432
@MicrosoftDocs/azure-cxp-triage Can you please re-label this as a product-issue?  The doc is accurate.

[2018-10-19 15:21] georgewallace commented on #15568
The documentation permissions are now correct and updated.  If you are having issues authenticating I would recommend reaching out to support.  Unfortunately I am not able to answer these questions from the docs. @MicrosoftDocs/azure-cxp-triage Can you please re-label this as a product-issue and close the issue

[2018-10-19 15:29] Mike-Ubezzi-MSFT commented on #17211
@newgamer1117 Thank you very much for your detailed feedback. Can you please confirm the document you were following as this: [Log in to a Linux virtual machine in Azure using Azure Active Directory authentication (Preview)](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad)?

[2018-10-19 15:34] kuhussai commented on #16589
#please-close

[2018-10-19 15:34] Lroca88 opened #17233 "Retrieving secrets from local environment"
This doc doesn't display how to run the web app locally. You jumped from "Install dependencies" to "Publish the web application to Azure" which kind of doesn't make sense to me, because every developer would like to test the app before publishing to Azure. To my point, why would I even care about the section "Installing dependencies" if the app isn't locally tested first?

---
#### Document Detail

[2018-10-19 15:37] Lroca88 commented on #17233
Additional context on this matter. You can check the [.Net Core version of the quick-start tutorial](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-net). They do test the app locally first.

[2018-10-19 15:41] ronbok commented on #16745
Sorry, no.

The issue I think I was trying to surface is that there’s no ARM Template capability to create just a Resource Group.

From: David Coulter <notifications@github.com>
Sent: Friday, October 19, 2018 11:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bokleman, Ron <ron.bokleman@bluemetal.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2018-10-19 15:44] DCtheGeek commented on #16745
@ronbok I'm confused why you need/want a Resource Manager template for just creating a Resource Group when a Resource Group is a built-in artifact within Blueprints. Why does it need to be a template artifact and not just use the Resource Group artifact?

[2018-10-19 15:53] #16525 closed

[2018-10-19 15:55] raphaelkoeppel commented on #16790
@Minewiskan The response Body is ok.
The response header “location” is missing.
It schould contain the URL for the get.
(With the refreshId at the end)

[2018-10-19 16:00] ronbok commented on #16745
Because … all too often want to create a series of Environment specific RGs in advance to support a project and then set RBAC on them for the Development teams and/or other things like Service Principles for Azure DevOps pipelines.

Thus for any project for a given client there would be ‘Development, Test, & Production’ RGs.

From: David Coulter <notifications@github.com>
Sent: Friday, October 19,

[2018-10-19 16:08] clangnerakq commented on #17136
@jakaruna-MSFT thank you for your fast reply.
I've tried to deploy a new container in an new subnet with the azure-file-volume with the following cli command:

**CLI Command**(I've had to anonymize some data)
[code]
After that, i get the following protocol output of the container, cant't connect to it and it is restarting every 5 Minutes
**Protocol**(Some data is anonymized):
[code]
**These are th

[2018-10-19 16:20] DCtheGeek commented on #16745
@ronbok Blueprints can help with this!  When you create the Blueprint, configure a Resource Group artifact, any needed role assignments, and then the Resource Manager template that has the rest of your configuration.  Then, just deploy the Blueprint to your Subscription and it does everything together, Resource Groups included!

Since this was more a question about Blueprints, I'm going to have th

[2018-10-19 16:20] 1trevor opened #17235 "API endpoint?"
Where would I find the URL for this API endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe7b7b9-4614-7860-cf3f-9f8aba600a26
* Version Independent ID: 1c15bfcf-2c7e-d072-7109-80bdfcf94f6b
* Content: [Get started with the Azure AD reporting API](https://docs.microsoft.com/en-us/azure/active-directory/reports-mo

[2018-10-19 16:22] diberry commented on #15854
#please-close

[2018-10-19 16:37] Mike-Ubezzi-MSFT commented on #17054
Reference #55585

[2018-10-19 16:46] CelesteDG commented on #17134
Thank you, @timjroberts-inty - We have more informational about `offline_access` and other permissions here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#openid-connect-scopes

[2018-10-19 16:47] CelesteDG commented on #17134
@MarileeTurscak-MSFT @SaurabhSharma-MSFT @MohitGargMSFT @MicahMcKittrick-MSFT #please-close Customer got the answer and we also have the info documented. Thank you.

[2018-10-19 16:47] Grace-MacJones-MSFT commented on #17194
Hi @rohan51, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 16:49] Grace-MacJones-MSFT commented on #17202
Hi @rohit901, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-19 16:50] MicahMcKittrick-MSFT commented on #17228
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 16:50] Grace-MacJones-MSFT commented on #17224
Hi @mforrer85, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 16:50] MicahMcKittrick-MSFT commented on #17221
Thanks for the question! We are investigating and will update you shortly.

[2018-10-19 16:51] tFable opened #17237 "Optional Updates"
Hello,

The document states "Updates classified as Optional aren't included in the deployment scope for Windows computers. Only required updates are included in the deployment scope."

Is there a way to change this?

Our use case is the fact that SQL Server Service Packs come to Microsoft Update as "optional" updates. We'd like to apply these Service Packs as updates instead of manually installing

[2018-10-19 16:52] #17134 closed

[2018-10-19 16:52] #16745 closed

[2018-10-19 16:53] #15568 closed

[2018-10-19 16:54] #16905 closed

[2018-10-19 16:58] YutongTie-MSFT commented on #17185
@jomalsan-MSFT  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-19 17:01] Mike-Ubezzi-MSFT commented on #17197
@gchudublin Thank you very much for your interest in Azure services. The following blog post discusses: [Automating the end-to-end migration of SQL Server to Azure SQL Database using the Azure Database Migration PowerShell module](https://blogs.msdn.microsoft.com/datamigration/2018/02/08/automating-the-end-to-end-migration-of-sql-server-to-azure-sql-database-using-the-azure-database-migration-powe

[2018-10-19 17:01] rolyon commented on #16135
Hi @dorinmi
I'm going to close this issue for now, but feel free to reopen.
thanks

[2018-10-19 17:02] rolyon commented on #16135
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-10-19 17:02] tfitzmac commented on #17044
@jtuliani - thanks for notifying us about this old content. I am updating it.

[2018-10-19 17:03] #16135 closed

[2018-10-19 17:04] CarlRabeler commented on #14241
@Mike-Ubezzi-MSFT please assign to oslake
@oslake per Joachim

[2018-10-19 17:04] CarlRabeler commented on #9394
@Mike-Ubezzi-MSFT please assign to oslake
@oslake per Joachim

[2018-10-19 17:05] CarlRabeler commented on #7827
@Mike-Ubezzi-MSFT please assign to oslake
@oslake per Joachim

[2018-10-19 17:05] rolyon commented on #16550
I've sent a message to the Office 365 author about possibly making some updates to that article.

[2018-10-19 17:06] cherylmc commented on #17039
@Enver-Adams  - The PM for this feature will update this article. Thanks for calling this out!

[2018-10-19 17:06] cherylmc commented on #17039
#please-close

[2018-10-19 17:07] YutongTie-MSFT commented on #17222
@robert4os Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 17:07] Mike-Ubezzi-MSFT commented on #17199
@gchudublin Thank you very much for your interest in Azure services. I see you created a separate GitHub issue related to this one: #17197 Can this one be closed or is there a separate ask here? Thank you!

[2018-10-19 17:08] Mike-Ubezzi-MSFT commented on #17199
Please see: [Automating the end-to-end migration of SQL Server to Azure SQL Database using the Azure Database Migration PowerShell module](https://blogs.msdn.microsoft.com/datamigration/2018/02/08/automating-the-end-to-end-migration-of-sql-server-to-azure-sql-database-using-the-azure-database-migration-powershell-module/)

[2018-10-19 17:09] mike-urnun-msft commented on #17207
Hi @abhinav-jain09 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-19 17:10] Mike-Ubezzi-MSFT commented on #17226
@davidbaxterbrowne Thank you very much for your detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-10-19 17:11] YutongTie-MSFT commented on #17189
@julianpayne1 According to the product team, please post this issue in a Translator forum..
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-19 17:11] #17189 closed

[2018-10-19 17:11] mike-urnun-msft commented on #17213
Hi @drwebmonkey Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-19 17:11] vladvino commented on #17231
@jcox2030 Large renewal-period value is shown in the quota-by-key policy where it is allowed.

[2018-10-19 17:12] YutongTie-MSFT commented on #17188
@strohne Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, can you please take a look of this issue? More details are needed in the document, please update the document as necessary. Thanks a lot!

[2018-10-19 17:12] mike-urnun-msft commented on #17205
Hi @rajbos Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-19 17:13] YutongTie-MSFT commented on #17201
@Sarah-Aly Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@HeidiSteen Hi, can you please check this doc-enhancement issue and update the document as necessary? Thanks a lot!

[2018-10-19 17:15] mike-urnun-msft commented on #17198
Hi @u983101 It looks like you were able to confirm. Please reach out if any questions in the future.

[2018-10-19 17:15] CarlRabeler commented on #17226
@davidbaxterbrowne pic pulled for now - working on getting a newer image
#please-close

[2018-10-19 17:19] eross-msft commented on #16761
@MohitGargMSFT  This is correct, Office 365 doesn't support nested groups. I'm updating our article to address this by changing the section to be about Security groups and to specifically say that we don’t currently support adding Office 365 groups to other groups (also known as nesting groups), assigning apps to nested groups, or applying licenses to nested groups.