[2022-11-23 14:27] #100714 closed

[2022-11-23 14:41] realalexandergeorgiev opened #101864 "How to handle in CLI?"
Code does not show to handle this limitation in CLI, only Powershell.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 54c841ba-845b-fddb-08e3-bbe0b2a7d70d
* Version Independent ID: 905e3e0d-1a14-4fa6-7381-49aa30a8ce05
* Content: [Troubleshoot common errors - Azure Resource Graph](https://learn.microsoft.com/en-gb/azure

[2022-11-23 15:14] robnetgithub opened #101865 "Documentation does not cover .NET 7.0 SDK"
Please can this documentation be updated to include the new .NET 7.0 SDK which is now GA.

The the .NET 7.0 SDK is installed on my Windows 10 PC.

I have tried following the instructions on this page, selecting .NET 7.0 Isolated as the Functions worker, then clicking Create.
However, when I get to the point where you add another function using the Durable Functions Orchestration template, that tem

[2022-11-23 15:15] saurabhvagrawal commented on #50932
Hi, how can it be validated if ttl changes are injected in Coredns binary?

[2022-11-23 15:26] Wizzzzzzard commented on #101796
I think I've found the solution to the error:

`client := azsecrets.NewClient(vaultURI, cred, nil)`

Should be changed to:

`client, err := azsecrets.NewClient(vaultURI, cred, nil)`

[2022-11-23 15:26] ciroskat opened #101866 "Waf Exclusion rule difference between "Request args key" and "Request args name""
Hi,
what is the difference in a exclusion rule between "Request args key" and "Request args name"?

[2022-11-23 15:36] MeVindas opened #101867 "Azure Automation runbooks to recovery plans"
The documentation mentions a video with an example, it was really helpful, however the video is not available anymore, is it possible to re-add it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b5cca70b-b459-be95-3167-bf92b59c0321
* Version Independent ID: 20fc147c-7580-9bef-e217-49cd8979b1b7
* Content: [Add Azure Au

[2022-11-23 15:46] #101622 closed

[2022-11-23 15:47] YashikaTyagi-MSFT commented on #101526
@metaxasa
We have raised the concern to the respective Product team.   We Will get back to you once get response.

[2022-11-23 16:01] pvgmail opened #101869 "Misleading manual, error in Issuer URL!!"
Greetings,

Please doublecheck next line:

Issuer: https://sts.window.net/{TenantID} For the Issuer value, make sure to include a trailing / at the end.

When I use it for Azure VPN configuration, I faced next error: "Status = Server did not respond properly to VPN Control Packets. Session State: Key Material sent" and it took couple hours to find out that Issuer URL must be "https://sts.windows.n

[2022-11-23 16:07] YashikaTyagi-MSFT commented on #101634
@cnadler-MSFT
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-23 16:10] anevjes commented on #99957
+1  on this issue. We need more clear instructions on the path that needs to be provided.. I am constantly getting an empty array returned when trying to list catalog items - even though sync works and [following document](https://learn.microsoft.com/en-gb/azure/deployment-environments/configure-catalog-item#add-a-new-catalog-item)

I've tried many different paths - relative root, subfolder path t

[2022-11-23 16:17] YashikaTyagi-MSFT commented on #101702
@mjsantani
Kindly take a look at this issue.

[2022-11-23 16:18] YashikaTyagi-MSFT commented on #101616
@LeedsDBA
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-23 16:21] emmanuelg34 opened #101870 "Outdated page, menu doesn't exist"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 72e047dc-7d8d-1b5e-aee4-ad908e931c8c
* Version Independent ID: 206d6ac7-ca12-1724-5783-8153ca220217
* Content: [Set up a process server VMware/physical failback in Azure Site Recovery - Azure Site Recovery](https://learn.microsoft.com/en-us/azure/sit

[2022-11-23 16:27] YashikaTyagi-MSFT commented on #101766
@jtruong-uipath
Thanks for pointing this out. Author has performed the required changes.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-23 16:27] #101766 closed

[2022-11-23 16:37] asos-martinsmith commented on #61852
If these are consistent with the usage in Mongo itself then they are listed here https://github.com/mongodb/mongo/blob/master/src/mongo/base/error_codes.yml

So on that basis 1 would be "Internal Error", 16, "INVALID_LENGTH" and 17 "PROTOCOL_ERROR"

[2022-11-23 16:39] #93101 closed

[2022-11-23 16:41] hpegadros opened #101873 "link isn't opened in a new tab/page"
in the Next Steps section there's the link to: see [Copy Azure Managed Disks backups to another region with differential capability of incremental snapshots](https://github.com/Azure-Samples/managed-disks-dotnet-backup-with-incremental-snapshots). on the right it shows the arrow that hints that this link will be opened in another... tab/page. but when pressed it navigates the current tab there.
i

[2022-11-23 16:47] v-hgampala commented on #100809
@hmenchaca, we're working on it, will update you once published.
#please-close

[2022-11-23 16:47] #100809 closed

[2022-11-23 17:00] JimThorstad opened #101874 ""Single User" access mode has been renamed to "Assigned""
Apparently, the drop-down list value changed recently so the table shown on this page should be updated to match the product.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 066b3491-41c2-401c-2d91-402a9e1fc6f0
* Version Independent ID: 066b3491-41c2-401c-2d91-402a9e1fc6f0
* Content: [Clusters UI changes and cluster ac

[2022-11-23 17:01] #101816 closed

[2022-11-23 17:04] JimThorstad commented on #101874
Sorry, I realize I'm accessing a workspace that has some preview features turned on. Please disregard!

[2022-11-23 17:04] #101874 closed

[2022-11-23 17:06] #101843 closed

[2022-11-23 17:08] daninthemix opened #101875 "Where are the automatic backups stored?"
It would be useful to know **where** the automatic backups are stored, as no information is given whatsoever.

Are these backups local? On zone-redundant storage? On geo-redundant storage?

If the datacenter holding my app service plan is destroyed, are the backups gone too?

Customers need to know this information.
---
#### Document details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-23 17:12] YashikaTyagi-MSFT commented on #101851
@dirkslab
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:13] YashikaTyagi-MSFT commented on #101866
@ciroskat
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-23 17:17] Zach-Mac opened #101876 "Missing TypeScript link in Languages list"
[Local Development Environments](https://learn.microsoft.com/en-us/azure/azure-functions/functions-develop-local#local-development-environments) table is missing [TypeScript](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-node#typescript) link under Languages header for Visual Studio Code environment

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-11-23 17:20] YashikaTyagi-MSFT commented on #101842
@dirkslab
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:22] YashikaTyagi-MSFT commented on #101852
@Lesrac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:23] garthoid opened #101877 "Confusing reference to Key Vault VNet integration"
At
https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/key-vault-security-baseline#ns-1-establish-network-segmentation-boundaries

The text says:
"Service supports deployment into customer's private Virtual Network (VNet)"

and

Supported | Enabled By Default | Configuration Responsibility
-- | -- | --
True | False | Customer

This would lead me to believe that I can configure my

[2022-11-23 17:26] YashikaTyagi-MSFT commented on #101855
@sarmaria
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:28] YashikaTyagi-MSFT commented on #101856
@jd1984
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:29] YashikaTyagi-MSFT commented on #101859
@terafirma92
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:30] YashikaTyagi-MSFT commented on #101860
@SUNNUWORKS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:34] YashikaTyagi-MSFT commented on #101873
@hpegadros
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 17:39] JeffreyWolford commented on #90315
No talk to Luke Kim

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Guy Wild ***@***.***>
Sent: Wednesday, November 23, 2022 4:24:37 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jeffrey Wolford ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] WAD config only supports 1 application insights sink (Issue #90315)

@JeffreyWolford<ht

[2022-11-23 17:49] RDukes425 commented on #101593
Thank you so much for the support and review of this customer feedback

[2022-11-23 17:53] amsliu commented on #101735
@rrsrtdh Thank you for your feedback. I am double checking this with our product team.

[2022-11-23 18:33] dhivyagana commented on #95751
Thanks for letting us know about the issue. We are trying to replicate the issue at our end. Will update the thread for any update after we get a repro on our end.

[2022-11-23 18:43] SwathiDhanwada-MSFT commented on #101343
@tshaiman Thanks for reaching out. I have tested from my end, and I was able to import the pipelines without any problems. I would suggest you to reverify the pipelines again. If you are still facing issues, please raise ticket with [Microsoft Tech Support.](https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request)

As there are no further documentati

[2022-11-23 18:43] #101343 closed

[2022-11-23 18:48] svdHero commented on #43316
@DannyBoyIT yes, I am afraid so. We ended up implementing a custom userflow that uses an Azure Function which contacts AD and fills the token with custom claims.
It's far too complex for such a simple feature. Tonnes of XML code. I am just glad that our external Azure consultant deals with this specific part of the application.

As much as I love Azure and MSAL in general, as much do I hate B2C fo

[2022-11-23 18:51] MGoedtel commented on #100823
I've confirmed that the aks-preview extension is required to support this preview feature and the article author should have specified it as a prerequisite. I'm going to bug the article and see about correcting the article today. #please-close

[2022-11-23 18:51] #100823 closed

[2022-11-23 18:52] v-jbasden commented on #79634
For technical support, please see the following support channels:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/answers/topics/24223/azure-monitor.html

Create a support ticket
Get support for your Azure services
https://azure.microsoft.com/support/create-ticket/

Because this issue requires scoping and follow-up, we are closing this GitHub issue. #please-close

[2022-11-23 18:53] #79634 closed

[2022-11-23 19:09] donovan-armstrong opened #101879 "Missing $ at Beginning of Command"
In the provided example to deploy a template, the command is missing a $ (dollar sign) in beginning. This template file is being referenced in the deployment without being set as a variable.

**Current example provided in documentation:**
templateFile="{provide-the-path-to-the-template-file}"
az deployment group create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --template-fi

[2022-11-23 19:19] shschoutsen opened #101880 "Internet Explorer policy still valid for Edge"
With the obsolescence of IE is this section still relevant or do the settings also apply to Edge?
Is so the title of the section could be updated to reflect that

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4c959c98-c6ce-7a6e-d4d6-2a2118d63138
* Version Independent ID: ad40c382-f00b-dd28-b2b5-

[2022-11-23 19:31] charleswm opened #101881 "Clarify Autotermination policies for RunConfiguration"
There is section under "Set job autotermination policies" that says:

I think RunConfiguration only exists in V1. Does a similar setting exist in V2? If yes, can we document? If no, can we make a note that this only applies to V1 jobs.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e161b473-782f-7fbc-4b00-b7c8e148cc74

[2022-11-23 19:35] charleswm opened #101882 "Update "Parallelize training" to reflect v2"
The Parallelize training suggests using "ParallelRunStep" which is a V1-only construct. Can we update to either explicitly note that it only applies to V1 and/or supply the V2 equivalent.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e161b473-782f-7fbc-4b00-b7c8e148cc74
* Version Independent ID: df613bc3-db64-fcfe-b7

[2022-11-23 19:35] mumian commented on #101879
@donovan-armstrong - thank you for your comment.  The commands are different depending on your execution environments.  The samples in the articles are created for shell.azure.com.

#please-close

[2022-11-23 19:35] #101879 closed

[2022-11-23 19:50] zhenlan commented on #98026
Hi @Juanito99, we don't have much data-plane support in PowerShell today. The request is tracked at https://github.com/Azure/AppConfiguration/issues/267.

#close

[2022-11-23 19:57] jeffwmiles commented on #93729
I have found the capability to log in with a guest user, as long as the URL is configured in this form: `https://portal.azure.us/<usgov tenant domain>`

Then logging in with `username@<commercial tenant domain>` is effective.

[2022-11-23 20:00] MohammedL365 opened #101883 "Azure Synapse - Failed to classify the current request into a workload group."
Azure Synapse Analytics failed to execute the JDBC query produced by the connector. Underlying SQLException(s):
  - com.microsoft.sqlserver.jdbc.SQLServerException: Failed to classify the current request into a workload group. [ErrorCode = 110813] [SQLState = S0001]

Technology/Service - https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-pool

Very Often I am encount

[2022-11-23 20:05] Thorium opened #101884 "Permissions info missing"
- What is the permission level or access control role assignment needed for Azure this tutorial?
- What is access control role assignment needed for managing Azure network security group firewall rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c9

[2022-11-23 20:22] kateglee-db commented on #53487
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 20:27] kateglee-db commented on #57425
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (see https://learn.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/private-link) and we are closing the issue.

#please-close

[2022-11-23 20:35] benoithamet opened #101885 "Please add information for custom CSS"
Hi there

with the new and improved company branding capabilities (currently being deployed for preview tenant and schedule for January for standard ones), we have the option to use custom CSS
There is no information regarding this custom CSS, so please provide information even if this is not yet fully available
Customers need to be prepared

---
#### Document Details

⚠ *Do not edit this section.

[2022-11-23 20:39] kateglee-db commented on #57723
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 20:40] kateglee-db commented on #57831
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 20:44] kateglee-db commented on #58027
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we recommend you contact (Databricks support)[https://help.databricks.com/]. Because this issue does not relate to documentation, we are closing this issue.

#ple

[2022-11-23 20:46] kateglee-db commented on #58165
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 20:47] kateglee-db commented on #58539
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 20:48] kateglee-db commented on #58590
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 20:50] kateglee-db commented on #58765
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 20:54] ajburnle commented on #99468
I don't work on azure active directory. Reassign to John Flores

[2022-11-23 21:01] kateglee-db commented on #59093
Thanks for providing feedback that helps improve our documentation. This issue has been resolved in https://docs.databricks.com/ingestion/auto-loader/index.html#file-notification-options and we are closing the issue.

#please-close

[2022-11-23 21:02] kateglee-db commented on #59251
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 21:04] kateglee-db commented on #59537
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 21:05] kateglee-db commented on #59665
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 21:06] kateglee-db commented on #59697
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 21:11] kateglee-db commented on #60040
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 21:14] kateglee-db commented on #61152
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 21:15] kateglee-db commented on #61231
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 21:21] kateglee-db commented on #61440
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item DOC-6976 to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessa

[2022-11-23 21:24] kateglee-db commented on #61835
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 21:26] b-ahibbard commented on #101407
@MrRitt - thanks for raising this issue. I've consulted with engineering and product management. This error is related to timeout but the larger issue requires a support request to resolve.
#please-close

[2022-11-23 21:26] #101407 closed

[2022-11-23 21:27] kateglee-db commented on #61926
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 21:28] kateglee-db commented on #62405
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 21:29] b-ahibbard commented on #101406
Thanks @MrRitt. Based on your consult with engineering and PM, timeout issues be resolved with support requests
#please-close

[2022-11-23 21:29] #101406 closed

[2022-11-23 21:43] achudnovskij commented on #101687
Hi @dhduvall .
Those functions are part of "pgaadauth" extension installed on "postgres" database once you enable Azure AD authentication on a Flexible Server.
If you enabled the Azure AD authentication and still don't see the functions, please open a support ticket.

[2022-11-23 21:48] kateglee-db commented on #62408
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 21:50] kateglee-db commented on #62411
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (see https://docs.databricks.com/sql/language-manual/sql-ref-syntax-qry-select-setops.html) and we are closing the issue.

#please-close

[2022-11-23 21:54] kateglee-db commented on #62691
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 21:58] kateglee-db commented on #64473
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 22:01] stschulznz opened #101886 "Missing space in PowerShell command"
There's a missing space in the command for step 3. There needs to be a space after "-workspaceId" and "/subscriptions/"

Set-AzSecurityWorkspaceSetting -Name "default" -Scope "/subscriptions/d07c0080-170c-4c24-861d-9c817742786c" -WorkspaceId"/subscriptions/d07c0080-170c-4c24-861d-9c817742786c/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace"

---
#### Document Det

[2022-11-23 22:24] shlipsey3 commented on #101885
Hello - thanks for the feedback. The content was recently updated for the new preview process. The CSS template can be found in this section: https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/how-to-customize-branding#layout

We need to keep the old version of the content available for anyone not using the preview feature. They'll both live alongside each other until the old pr

[2022-11-23 22:32] benoithamet commented on #101885
Thank you
Understand the old version need to be kept alive but could you add a mention to direct to the page you shared?
thanks

[2022-11-23 22:39] BryanTrach-MSFT commented on #101644
@tomeks666 We would suggest you start with this document [here](https://learn.microsoft.com/azure/communication-services/concepts/numbers/sub-eligibility-number-capability), which showcases your eligibility to use certain Azure Communication Services features.

If your subscription billing address is in a supported country the easiest place to obtain a phone number would be via the portal as it wi

[2022-11-23 22:39] #101644 closed

[2022-11-23 22:46] shlipsey3 commented on #101885
Not sure I follow what you're asking for...

[2022-11-23 22:48] benoithamet commented on #101885
Just asking if you can add a note to reference https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/how-to-customize-branding on the page https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding

[2022-11-23 22:53] shlipsey3 commented on #101885
Yup - it's at the end of the 3rd paragraph in the opening section. The opening sections in both articles are quite similar, but they both link to each other.

[2022-11-23 22:55] inknochen opened #101887 "What Service Type means here? Is it in the context of Azure Kubernetes Service's services?"
When you say Services here

"Services
To simplify the network configuration for application workloads, Kubernetes uses Services to logically group a set of pods together and provide network connectivity. The following Service types are available:"

Are you talking about Azure Services like from Resource Providers? Being Azure Load Balancer a good example, the others like Cluster IP are not Azure S

[2022-11-23 23:04] kateglee-db commented on #64596
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:06] kateglee-db commented on #65000
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:07] kateglee-db commented on #65149
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:08] dhduvall commented on #101687
Thank you; I've done just that.

[2022-11-23 23:09] kateglee-db commented on #65620
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:11] kateglee-db commented on #65673
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:13] kateglee-db commented on #66431
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:14] kateglee-db commented on #66561
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:16] kateglee-db commented on #66562
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (see https://medium.com/microsoftazure/securing-access-to-azure-data-lake-gen2-from-azure-databricks-8580ddcbdc6) and we are closing the issue.

#please-close

[2022-11-23 23:17] kateglee-db commented on #66672
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:18] kateglee-db commented on #66975
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:20] kateglee-db commented on #67264
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:21] kateglee-db commented on #67646
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:23] kateglee-db commented on #67863
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we recommend you visit Databricks support. Because this issue does not relate to documentation, we are closing this issue.

#please-close

[2022-11-23 23:25] kateglee-db commented on #68070
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:27] kateglee-db commented on #68452
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:29] kateglee-db commented on #68903
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:30] kateglee-db commented on #69314
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:31] kateglee-db commented on #69404
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:32] kateglee-db commented on #69461
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:33] kateglee-db commented on #69697
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 23:35] kateglee-db commented on #69780
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#ple

[2022-11-23 23:36] kateglee-db commented on #70071
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:37] kateglee-db commented on #70881
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:37] kateglee-db commented on #70950
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:39] kateglee-db commented on #71041
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:42] kateglee-db commented on #71543
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (see https://learn.microsoft.com/en-us/azure/databricks/kb/cloud/azure-vnet-jobs-not-progressing) and we are closing the issue.

#please-close

[2022-11-23 23:43] kateglee-db commented on #72653
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:44] kateglee-db commented on #72680
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-23 23:53] kateglee-db commented on #72830
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:55] kateglee-db commented on #72863
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-23 23:59] kateglee-db commented on #72951
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-24 00:01] kateglee-db commented on #73029
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item DOC-2142 to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessa

[2022-11-24 00:02] kateglee-db commented on #73069
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-24 00:03] kateglee-db commented on #73374
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-24 00:04] kateglee-db commented on #73376
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:06] kateglee-db commented on #74458
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:07] kateglee-db commented on #74494
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-24 00:07] kateglee-db commented on #74564
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:08] kateglee-db commented on #74631
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we recommend you contact Databricks Support. Because this issue does not relate to documentation, we are closing this issue.

#please-close

[2022-11-24 00:11] kateglee-db commented on #74769
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (see https://docs.delta.io/latest/api/python/index.html) and we are closing the issue.

#please-close

[2022-11-24 00:11] kateglee-db commented on #74826
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:12] kateglee-db commented on #75026
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:15] kateglee-db commented on #75166
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:16] kateglee-db commented on #75186
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:17] kateglee-db commented on #75248
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-24 00:18] kateglee-db commented on #75360
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-24 00:25] kateglee-db commented on #75438
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-6979) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-24 00:51] benoithamet commented on #101885
thanks
did not really stood up
all good

[2022-11-24 02:19] jeromelearner commented on #101244
Actually at the time I submitted the issue, i double confirm for many times, in both Application Insights and VM Insights I can see this page. Not sure when it's removed from the Application Insights section.

Anyway, please pay more attention to the document, as most Azure users are referring to the document for deployment.

[2022-11-24 02:19] myob-hankun opened #101890 "ARM Condition Deploy Logic APP Eroor"
Hi Team,

I used conditions to deploy the logic app, but it always has an error, because it will create the trigger, this trigger depends on the logic app, but the condition is false, so the logic app does not exist.

If the condition is false, the logic app is not created, but its triggers still seem to be created.

Could you help me? I would like to disable logic app and its trigger if the condi

[2022-11-24 03:04] YashikaTyagi-MSFT commented on #101865
@robnetgithub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:03] YashikaTyagi-MSFT commented on #101867
@MeVindas
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-24 04:03] KrishnaG-MSFT commented on #101469
@Interface007 As we didn't hear back from you so closing this issue for now. If you have any further queries, please respond back and we can continue the discussion. Thanks.

[2022-11-24 04:03] #101469 closed

[2022-11-24 04:04] YashikaTyagi-MSFT commented on #101869
@pvgmail
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:05] YashikaTyagi-MSFT commented on #101870
@emmanuelg34
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:22] ManoharLakkoju-MSFT commented on #101706
@ajith-ajmal
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-24 04:22] #101706 closed

[2022-11-24 04:23] KrishnaG-MSFT commented on #101691
Tagging @johnmarco for visibility, to help clarify with insights and enhance the document as appropriate.

[2022-11-24 04:33] KrishnaG-MSFT commented on #101657
@tiago-msft We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-11-24 04:33] #101657 closed

[2022-11-24 04:36] YashikaTyagi-MSFT commented on #101875
@daninthemix
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:37] YashikaTyagi-MSFT commented on #101876
@Zach-Mac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:38] YashikaTyagi-MSFT commented on #101877
@garthoid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 04:58] #69697 closed

[2022-11-24 05:01] YashikaTyagi-MSFT commented on #101880
@shschoutsen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:01] YashikaTyagi-MSFT commented on #101881
@charleswm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:02] YashikaTyagi-MSFT commented on #101882
@charleswm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:04] YashikaTyagi-MSFT commented on #101883
@MohammedL365
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:06] YashikaTyagi-MSFT commented on #101885
@benoithamet
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-24 05:06] #101885 closed

[2022-11-24 05:07] YashikaTyagi-MSFT commented on #101886
@stschulznz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:08] YashikaTyagi-MSFT commented on #101887
@inknochen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:08] YashikaTyagi-MSFT commented on #101890
@myob-hankun
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-24 05:30] myob-hankun commented on #101890
https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-conditions

[2022-11-24 05:36] YashikaTyagi-MSFT commented on #101890
@myob-hankun
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 05:40] SadiqhAhmed-MSFT commented on #101830
@Trevor-Davis Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-11-24 05:46] KapilAnanth-MSFT commented on #101884
@Thorium ,

With Azure In-Built Roles, you should use **NetworkContributor**.

With custom roles, make sure the role has the following permissions,

- Microsoft.Network/azureFirewallFqdnTags/*
- Microsoft.Network/azurefirewalls/*
- Microsoft.Network/networkSecurityGroups/*

Let us know if you require more information on this.

[2022-11-24 05:48] #101590 closed

[2022-11-24 06:19] Vallirani commented on #95986
Hi @hiep3382tran ,

I am using Private CA signed certificate.
I have created an ASE env and this is the App service plan I am using. (Isolated V2 I1V2). Created logic app standard in the app service plan.
I could see Log Stream is disabled.

![image](https://user-images.githubusercontent.com/117725153/203708490-2b683357-ced7-4f1d-b9e0-bae9d9aec38c.png)

Could you please let me know what more is re

[2022-11-24 06:23] AjayBathini-MSFT commented on #101831
Hi @nkrebsbach

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2022-11-24 06:24] AjayBathini-MSFT commented on #101841
Hi @dirkslab

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2022-11-24 06:29] AjayBathini-MSFT commented on #101880
Hi @shschoutsen

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your iss

[2022-11-24 06:30] AjayBathini-MSFT commented on #101859
@terafirma92
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@normesta
Could you please add your inputs on above query

[2022-11-24 06:30] ManoharLakkoju-MSFT commented on #101839
@eyoh5
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-24 06:31] ManoharLakkoju-MSFT commented on #101839
@kirpasingh
Can you please check and add your comments on this doc update request as applicable.

[2022-11-24 06:36] Naveenommi-MSFT commented on #101837
Hi @ibarrien
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-24 06:36] Naveenommi-MSFT commented on #101837
@dem108
Could you please review add comments on this, update as appropriate.

[2022-11-24 06:37] MughundhanRaveendran-MSFT commented on #101852
@Lesrac , the "configure log levels" link specified in the logging section provide the details you are looking for.

https://learn.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels

Hope this helps.

[2022-11-24 06:43] Naveenommi-MSFT commented on #101826
Hi @moshezvi

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/rest/api/automation/

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-24 06:47] Naveenommi-MSFT commented on #101768
@jarredm-demo

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-24 06:47] Naveenommi-MSFT commented on #101768
@ssabat

Could you please review add comments on this, update as appropriate.

[2022-11-24 06:52] KapilAnanth-MSFT commented on #101541
@AnisioMoreira ,

We shall archive this thread now. Should you require further assistance, please tag me in your comment and we shall gladly reopen the issue and assist you.

[2022-11-24 06:52] #101541 closed

[2022-11-24 06:52] Naveenommi-MSFT commented on #101846
Hi @lightupdifire

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr

[2022-11-24 06:54] Naveenommi-MSFT commented on #101882
@charleswm

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-24 06:55] Naveenommi-MSFT commented on #101882
@ssalgadodev

Could you please review add comments on this, update as appropriate.

[2022-11-24 06:55] SnehaAgrawal-MSFT commented on #101572
@baaaaif Thanks for the clarification! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-11-24 06:57] SaibabaBalapur-MSFT commented on #101850
@newSebastienTHOMAS
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community,

[2022-11-24 07:03] SaibabaBalapur-MSFT commented on #101873
@hpegadros
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend to open link in new tab.

[2022-11-24 07:05] lightupdifire commented on #101846
@Naveenommi-MSFT
I would rather disable SSPR to disable access to the password, this is all about being Passwordless, the target is to disallow Passwords at all, but I have a feeling MS tools are not ready yet for it, the Passwordless idea for a moment is like using the password as less as possible, but it is still required.

My question to this document is why we need a password to enable "Passwo

[2022-11-24 07:13] SaibabaBalapur-MSFT commented on #101887
Hi @inknochen Services which are provided in document are related to AKS Services.
Please go through the following link. It might help you.

https://learn.microsoft.com/en-us/azure/aks/concepts-network#services:~:text=routes%20are%20configured.-,Services,private%20IP%20address%2C%20so%20they%20can%27t%20be%20accessed%20from%20the%20Internet.,-Learn%20more%20about

[2022-11-24 07:24] #100879 closed

[2022-11-24 07:26] #101675 closed

[2022-11-24 07:27] guywi-ms commented on #90315
@Lukeout can you please help with this?

[2022-11-24 07:28] RamanathanChinnappan-MSFT commented on #101693
@tgafpc

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-24 07:28] #101693 closed

[2022-11-24 07:31] guywi-ms commented on #90315
For technical support, please see the following support channels:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/answers/topics/24223/azure-monitor.html

Create a support ticket
Get support for your Azure services
https://azure.microsoft.com/support/create-ticket/

Because this issue requires scoping and follow-up, we are closing this GitHub issue. #please-close

[2022-11-24 07:31] #90315 closed

[2022-11-24 07:33] guywi-ms commented on #77234
For technical support, please see the following support channels:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/answers/topics/24223/azure-monitor.html

Create a support ticket
Get support for your Azure services
https://azure.microsoft.com/support/create-ticket/

Because this issue requires scoping and follow-up, we are closing this GitHub issue. #please-close

[2022-11-24 07:33] #77234 closed

[2022-11-24 07:58] inknochen commented on #101887
Hi, I'm getting it. I'm a MSFT and also a Microsoft Trainer. What I don't
see in the document is a reference to Kubernetes doc, or a mention to
clarify what it is saying. Can you add that?

Service | Kubernetes
<https://kubernetes.io/docs/concepts/services-networking/service/>

On Wed, Nov 23, 2022 at 11:13 PM Saibaba Balapur Hireka <
***@***.***> wrote:

--
--
Ilan N. Knochen
MCSE

[2022-11-24 07:59] guywi-ms commented on #101736
@DaleKoetke please advise.

[2022-11-24 08:01] SaibabaBalapur-MSFT commented on #101887
@inknochen
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-24 08:02] fleed commented on #101399
Hi @mumurug-MSFT

I had a better look at the existing examples and it is already shown how to set a specific label (using the `$` delimiter).
It is probably already enough, but considering the special syntax a Callout highlighting it would help.

[2022-11-24 08:09] kongou-ae opened #101894 "Flexible server supports read replicas"
Flexible server now supports read replicas(it is still in a public preview). But `Cross region DR` and `DR using replica` in this doc mentions that flexible server doesn't support it.

https://learn.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-read-replicas

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* I

[2022-11-24 08:10] SumanthMarigowda commented on #101639
@akshay-mahakalkar Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.   I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2022-11-24 08:10] #101639 closed

[2022-11-24 08:14] dirkslab commented on #101841
Thanks @AjayBathini-MSFT

Will log a call with support, though would imagine I should get this information from the documentation on disaster recovery.

[2022-11-24 08:26] MughundhanRaveendran-MSFT commented on #101800
@sergiosolorzano ,  You wont be able to edit the output bindings in the portal as might have published the function from Visual Studio. However you should see the output binding like below

![image](https://user-images.githubusercontent.com/56299140/203730966-1728cc31-d8f0-4f26-87da-e140b59def06.png)

Please check if you have added the output bindings properly as mentioned in the below document

h

[2022-11-24 08:29] Lesrac commented on #101852
@MughundhanRaveendran-MSFT that I've seen, but it doesn't show all keys that could be used in logLevel (at least I assume that).
So I assume there are more values that could be declared than "default", "Host" and "Function":
"logLevel": {
      "default": "Information",
      "Host.Results": "Error",
      "Function": "Error",
      "Host.Aggregator": "Trace"
    }

[2022-11-24 08:32] SumanthMarigowda commented on #101841
@dirkslab   In Azure Storage, there can be only one region (primary) where you can write. The other region (secondary) will always be read only.

One possible solution would be to do a manual failover so that the secondary region of your account becomes the primary and then you should be able to write to it. However, please be aware that the manual failover comes with a lots of caveats and make su

[2022-11-24 08:32] #101841 closed

[2022-11-24 08:38] MughundhanRaveendran-MSFT commented on #101852
@Lesrac , There  are only 3 allowed keys for the loglevel which you have mentioned, "default", "Host" and "Function". And the corresponding values that can be applicable are Trace	,Debug,Information	,Warning	,Error,Critical,None

[2022-11-24 08:42] #101852 closed

[2022-11-24 08:44] GrzegorzHejman opened #101895 "Supported Standard Load Balancer backend clarification"
Hello,

The documentation says:

"Standard: Preferred. Valid if SQL Server instances are in the same availability set. Required if your SQL Server instances are in different availability zones."

Does this mean that other backends supported by a standard load balancer (stand-alone VMs for example) are not supported in this configuration?

Regards
Grzegorz Hejman

---
#### Document Details

⚠ *Do n

[2022-11-24 08:48] MughundhanRaveendran-MSFT commented on #101811
@mat-liu , It should be passed in json format and a valid metadata needs to be passed. For queue storage trigger, you need pass it like below

{"Id":"1234"}
https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=in-process%2Cextensionv5&pivots=programming-language-csharp#message-metadata

[2022-11-24 08:49] dirkslab commented on #101841
Thanks @SumanthMarigowda
I have read and now re-read those links again. They do not answer my question. Would expect the information to be there.
I have logged a support call with Microsoft to see if I can get clarity.
Will also post a question on the support community.

[2022-11-24 09:10] ciroskat commented on #101866
![waf_request_args](https://user-images.githubusercontent.com/49006511/203742093-806c2bf1-b490-462c-9856-08c82e1c1be4.JPG)
This picture show my misunderstanding, i dont know what is the difference between key and name, and this selection exclude the value too? Or only the key/name?

[2022-11-24 09:12] shaktisingh-msft commented on #101894
Hi @sr-msft, @kabharati ,

Could you please look into this document update request. Thanks

[2022-11-24 09:14] BE-Digital-Solutions-Bart opened #101897 "Index-free adjacency"
The documentation mentions that when using Cosmos DB as a graph database, that the queries and traversals are fast. It doesn't explicitly mention though whether the data model is stored as a native graph store, which would imply that the performance for traversals remains optimal as the data volumes grow big. Could you confirm whether the concept of index-free adjacency is applied when storing gra

[2022-11-24 09:20] #101831 closed

[2022-11-24 09:29] YashikaTyagi-MSFT commented on #101866
@ciroskat
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue ther

[2022-11-24 09:34] AjayBathini-MSFT commented on #101841
@dirkslab

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-11-24 09:35] pawelmitrus opened #101899 "Manage service principals docs seems to be outdated"
Hi,

The docs claims that "User Management" icon exists, while I don't see anything like that in my workspaces. To get into the user management panel I need to go to the "Admin Console". There I can't add service principals (only users), moreover I don't see there service principals I've been adding some time ago (via API, UI wasn't available back then). When I get into Groups -> Admins I can see

[2022-11-24 10:17] guywi-ms commented on #101736
#reassign: @v-jbasden

[2022-11-24 10:29] #101537 closed

[2022-11-24 10:34] AnuragSingh-MSFT commented on #101595
@lireking, thank you for the reply. Yes, it is not available with client-side JS snippet based integration as well. Please see the following link for all the available options for this setup - https://github.com/Microsoft/ApplicationInsights-JS#snippet-setup-ignore-if-using-npm-setup

[2022-11-24 10:49] Thorium commented on #101884
Thanks for your response.

**NetworkContributor** was not enough.
I'll try next the **Domain Services Contributor**

[2022-11-24 10:58] AnuragSingh-MSFT commented on #101603
@manzaloros, Apologies for the delayed response. For your use case, you may continue to use vanilla AppInsights npm package as other features (tracking route change and component usage statistics) are not required here.

[2022-11-24 11:08] #57425 closed

[2022-11-24 11:13] MattacksWTW opened #101900 "Confusing text"
'(ex. Chinese characters)'

'Ex.' is not a standard short form.
Does it mean 'excluding' or 'for example'?
Better to eschew all short forms.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bedd622d-2bb0-a66e-6c78-0a8b4e383dc6
* Version Independent ID: 7abb7b75-6b4e-ed93-06a2-9495d87ced52
* Conten

[2022-11-24 11:20] pemsft opened #101901 "Sandbox subscription?"
Thank you for great documentation!

Could you provide details/link on what is Sandbox subscription?
"Automanage does not support Sandbox subscriptions at this time"
https://learn.microsoft.com/en-us/azure/automanage/overview-about#prerequisites

Sandbox subscription is not currently listed on Azure Offer page:
https://azure.microsoft.com/en-us/support/legal/offer-details/

---
#### Document Detail

[2022-11-24 11:21] ElazarK commented on #101886
@stschulznz you are correct and the correction is being added to the documentation and will be live in the next day or so.

[2022-11-24 11:21] lightupdifire opened #101902 "Enable single sign-on"
Hello,

It seems needed to add the following role to the end-user, else SSO login screen loops and don't allow login.
Maybe this applies only to Full Desktop, but still, would be good to be explained in the document.
![image](https://user-images.githubusercontent.com/39700914/203771775-79d50165-cd61-4ef4-b6bc-f4c03445a176.png)

Just summary:

1. Run Wizzard
2. Created Host Pool, Session Host, Appl

[2022-11-24 11:28] SwathiDhanwada-MSFT commented on #101870
@emmanuelg34 Thanks for reaching out. Can you please elaborate on your feedback as the information provided is bit vague to interpret?

[2022-11-24 11:34] ElazarK commented on #101886
#please-close

[2022-11-24 11:34] #101886 closed

[2022-11-24 11:35] AnuragSingh-MSFT commented on #101700
@crmhh, thank you for this feedback. It appears that you might be using an older version of **azcmagent**.
I tested with the latest version - 1.23.02105.577 and was able to connect using the `ArcConfig.json` file. Please use the latest version and json format should also work.

Please let me know if you have any questions.

[2022-11-24 11:41] #101714 closed

[2022-11-24 11:53] #101866 closed

[2022-11-24 12:43] AjayKumar-MSFT commented on #101713
randolphnz, Depending on the requirement you either option, so, typically, if the app is running on an IIS web server, then configure the `applicationInitialization` element in the web.config file. On the other hand, irrespective of the web server you are leveraging, you can add config- WEBSITE_SWAP_WARMUP_PING_PATH in the app setting.

Also, the `applicationInitialization` configuration element i

[2022-11-24 12:53] AjayKumar-MSFT commented on #101875
daninthemix, As highlighted in this [discussion thread](https://learn.microsoft.com/en-us/answers/questions/959405/azure-app-services-availability-and-disaster-recov.html) - "Automatic backups are simple and stored in the same datacenter as the App Service, and should not be relied upon as your disaster recovery plan."

[2022-11-24 12:57] krowlandson opened #101905 "Incorrect DNS zone mapping for Azure Data Health Data Services"
The recent update to add DNS zones for Azure Data Health Data Services appears to be incorrect on the [Azure Private Endpoint DNS configuration](https://learn.microsoft.com/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration) page.

On this page we can see that the following values:

![image1](https://user-images.githubusercontent.com/12268562/203788311-698c3bbb-e829-437f

[2022-11-24 13:21] ripom opened #101906 "Feed private endpoint issue"
I have a strange behaviour.
I am testing AVD with Private Endpoint in UK South region.
I have create one Host Pool and configured the PE.
I have created only one workspace, associated one app and I have also configured the PE in this exact order first Global PE and then Feed PE.
The result is the feeds FQDN are resolved with public IP, the other FQDN (Global and HostPool) are resolved using the pr

[2022-11-24 13:39] MattacksWTW opened #101907 "Missing definition"
What's a 'Run'?
https://learn.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas#azure-machine-learning-assets
It has a limit applied to it but you do not say what it is

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40c40799-cd15-96fe-61e7-6e459f5d5d2e
* Version Independent ID: b81e1f85-91d6-a6a0-fbd7-4a

[2022-11-24 13:41] felicialobillovilela opened #101908 "Continous backup not in preview anymore"
The page mentions "The 7-day retention tier is currently in preview". I believe this was the case in 2021 but it has been GA for quite some time.

Please forgive me if I am wrong.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 887a7740-51a1-80b6-5d0f-704621ad50c7
* Version Independent ID: 642c593f-9563-cd62-e

[2022-11-24 14:30] Tofan-Jena opened #101909 "logicapp"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-24 14:51] dknappettmsft commented on #101902
Hi @lightupdifire - thanks for the feedback. Assigning the Virtual Machine User Login RBAC role is required for using Azure AD-joined session hosts, regardless of using SSO. We cover that in this article already: https://learn.microsoft.com/en-us/azure/virtual-desktop/deploy-azure-ad-joined-vm#assign-user-access-to-host-pools.

If someone's followed this already, the role will already be assigned

[2022-11-24 14:53] dknappettmsft commented on #101205
Thanks for the feedback. I checked with the PM team on this and although the option is there, Log Analytics is not supported as an option.

As the article reflects the current state, I'll close this as an issue with the article, but if you want to raise this with the PM team, either create a Microsoft Support case, or provide feedback on the Azure Virtual Desktop Feedback site: https://techcommuni

[2022-11-24 14:53] #101205 closed

[2022-11-24 15:00] dknappettmsft commented on #80931
#please-close

[2022-11-24 15:00] #80931 closed

[2022-11-24 16:18] DeanGross commented on #101762
If a person wants to create and deploy an app using this service, what Azure resource or Azure AD role do they need to have?

[2022-11-24 16:20] YashikaTyagi-MSFT commented on #101895
@GrzegorzHejman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 16:21] YashikaTyagi-MSFT commented on #101899
@pawelmitrus
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 16:22] YashikaTyagi-MSFT commented on #101900
@MattacksWTW
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 16:24] zojovano opened #101911 "Office 365 Groups Mail - Managed Identity support is not clear"
It is not clear from the documentation whether "Office 365 Groups Mail" connector supports Managed Identity.
When testing Logic Apps (Standard) from the Azure Portal and using the "Office 365 Groups Mail" connector it seems that Managed Identities are supported (option is seen there). This page provides the "sample" list (stating the list of connectors supporting Managed Identity is not complete).

[2022-11-24 16:26] YashikaTyagi-MSFT commented on #101907
@MattacksWTW
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 16:27] YashikaTyagi-MSFT commented on #101901
@pemsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 16:28] GeethaThatipatri-MSFT commented on #101908
@felicialobillovilela  Thanks for your findings, We will look into it and update as appropriate.

[2022-11-24 16:29] YashikaTyagi-MSFT commented on #101906
@ripom
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-24 16:30] YashikaTyagi-MSFT commented on #101909
@Tofan-Jena
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-24 16:32] YashikaTyagi-MSFT commented on #101905
@krowlandson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-24 17:09] abeatabeorch opened #101912 "Very light on detail of the requirements around the connected App."
There are at least nine parameters in Salesforce connected app that related to Oauth configuration of the connected app. The requirements for Purview to utilise this connected app are not mentioned. "You will need to [enable OAuth for you Salesforce application](https://help.salesforce.com/s/articleView?id=sf.connected_app_create_api_integration.htm&type=5)." a little more detail would be useful.

[2022-11-24 17:13] OliCSADoerr opened #101913 "Elaborate the user accounts for which it works"
Please explain, that the preview currently does not support:
- Microsoft Accounts (Live IDs)
- B2B Accounts / Guest Accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 54141199-41a7-a8f5-70d8-4fcb2069b5df
* Version Independent ID: 88b258a5-7c81-83ba-ecab-89d92fef2fb1
* Content: [What is Microsoft Dev Box Preview?

[2022-11-24 17:27] #101909 closed

[2022-11-24 17:44] dazinator opened #101914 "Does this extension only support downloading ordinary secrets"
Would like to clarify if this extension will also handle downloading secrets that are not of the "certificate" variety from key vault - i.e ordinary secrets. The extension seems to take a list of URI's of secrets to download so it would seem we could just configure it with URI's of ordinary key vault secrets as well  - perhaps it would be good to clarify this in the docs.

---
#### Document Detail

[2022-11-24 17:48] JananiRamesh-MSFT commented on #101769
@randolphnz these are all types of authentications, and you can use any of those method to authenticate your backend. Backend can be anything HTTP endpoint/azure resource. If your backend is expecting a certificate you need to configure APIM to use Client Certificate Auth in order to call the backend API
reference: https://learn.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-

[2022-11-24 18:41] OursonBleu opened #101915 "Start stop v1 removed from marketplace"
Hello,

The note at the top of the page mentions that version 1 will soon be removed from the marketplace but it is already removed. Could you please update the note?

_> Note

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492

[2022-11-24 19:17] SharonJ-OH commented on #85635
Hi, I am having a similar issue.
Source: 3rd Party MySQL DB with custom SSL Certs.
Since the documentation is not clear about MySQL connections with Certificates. I have installed the ODBC driver 32-bit on the SHIR.
How do I configure the ADF tool to utilize the driver?

[2022-11-24 19:22] springcherr opened #101916 "Azure DF & SHIR: unable to connect to 3rd party MySQL DB with custom Cert"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-24 19:26] SharonJ-OH commented on #101916
Hi,

I am using a SHIR to connect to a 3rd Party MySQL DB with custom certificates.  I have installed an ODBC 32 bit driver on my VM. However, I wasn't able to get the SHIR to connect to the DNS. Is there some documentation for this approach?

Regards,
Sharon

[2022-11-24 20:00] altrivis opened #101917 "Updating MTU setting"
The section for "Prepare Endpoints" described setting the endpoint to a MTU of 3650. It is unclear when the user creates an endpoint and what is required to do that. It is also unclear how the user can update the default MTU setting to 3650. Additional steps and documentation would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Git

[2022-11-24 20:16] SharonJ-OH commented on #101916
The ODBC driver is able to successfully connect with the 3rd party source however in IR I get the following error:

Failed to connect to the database. Error message: ERROR [HY000] [MySQL][ODBC 8.0(w) Driver]SSL connection error: SSL_CTX_set_default_verify_paths failed
ERROR [HY000] [MySQL][ODBC 8.0(w) Driver]SSL connection error: SSL_CTX_set_default_verify_paths failed

[2022-11-24 21:41] gh-andre commented on #33990
@rjosephp

Why focus on semantics of "receiving sessions" vs. "receiving messages" instead of clearly stating that REST API does not implement session support for receiving messages?

One can send session messages to a session-enabled queue, but there is no way for a message reader to accept a session and obtain a session lock via the REST API.

Is there a plan to support Service Bus sessions in t

[2022-11-24 23:36] randolphnz commented on #101713
Thanks for your comments. I just wonder if configuring 'applicationInitialization' element is enough to warm up resource?

[2022-11-25 01:18] juanboterotech commented on #32421
FYI, in some cases you need to use the --legacy parameter: https://github.com/cert-manager/cert-manager/issues/5047#issuecomment-1104179571

openssl pkcs12 --legacy -in MY_PERSONAL_P12.p12 -nodes -passin pass:"MY_PASSWORD" --legacy | openssl x509 -noout -subject

[2022-11-25 01:41] RolandlinAKS commented on #101382
Do we have any update on this?

[2022-11-25 02:14] kongou-ae opened #101919 "Spot VM doesn't support confidential VM"
[Enter feedback here]

Hi team,

Spot VM doesn't support DCasv5 and ECasv5 which confidential VM is enabled to. We need to update the section of `limitation`.
<img width="371" alt="image" src="https://user-images.githubusercontent.com/3410186/203886574-dd76e32b-20d4-4cb4-b830-390e0185cc12.png">

Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microso

[2022-11-25 03:01] YashikaTyagi-MSFT commented on #101911
@zojovano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 03:03] YashikaTyagi-MSFT commented on #101912
@abeatabeorch
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 03:04] YashikaTyagi-MSFT commented on #101913
@OliCSADoerr
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 03:29] AshokPeddakotla-MSFT commented on #101813
Adding @stevemunk to add information to the doc if available.

[2022-11-25 03:43] SaibabaBalapur-MSFT commented on #101902
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 04:16] YashikaTyagi-MSFT commented on #101914
@dazinator
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 04:17] YashikaTyagi-MSFT commented on #101915
@OursonBleu
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 04:18] YashikaTyagi-MSFT commented on #101916
@springcherr
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-25 04:19] YashikaTyagi-MSFT commented on #101919
@kongou-ae
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 04:23] danialtham opened #101921 "No mention of how to setup configuration back"
More details should be provided on how to setup self hosted gateway configuration backup.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-cd89-86c76ca70104
* Content: [Self-hosted gateway overview](https://learn.microsoft.com/en-us/azure/

[2022-11-25 04:46] KapilAnanth-MSFT commented on #101884
**NetworkContributor** should cover all the permissions required for managing any Microsoft.Network/* resources. I see the document also instructs us to spin up a few VMs, which might require other permissions.
Can you specify the exact error you are facing? And the exact step where you face permissions conflict?

[2022-11-25 04:49] KapilAnanth-MSFT commented on #101835
@jamesdplee , We shall archive this thread now. Should you require further assistance, please tag me in your comment and we shall gladly reopen the issue and assist you.

[2022-11-25 04:50] #101835 closed

[2022-11-25 05:39] YashikaTyagi-MSFT commented on #101747
@fran38
We are going to close this thread as resolved as waiting for your response but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-25 05:39] #101747 closed

[2022-11-25 05:41] YashikaTyagi-MSFT commented on #101917
@altrivis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 06:08] SaibabaBalapur-MSFT commented on #101902
@dknappettmsft
Thanks for your inputs.

@lightupdifire
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-25 06:19] SaibabaBalapur-MSFT commented on #101919
@kongou-ae
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-25 06:19] SaibabaBalapur-MSFT commented on #101919
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2022-11-25 06:36] #101880 closed

[2022-11-25 06:38] dirkslab commented on #101841
Thaks @AjayBathini-MSFT, I have followed your advice and logged the relevant support requests. I am still perplexed by the response. Where can we find the technical documentation?

[2022-11-25 06:38] RamanathanChinnappan-MSFT commented on #101812
@sergiosolorzano

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-25 06:39] RamanathanChinnappan-MSFT commented on #101812
@enkrumah

could you please review this and update as appropriate.

[2022-11-25 06:46] AjayBathini-MSFT commented on #101895
@GrzegorzHejman
I'm going to assign this to the document author so they can take a look at it accordingly.

@tarynpratt
Could you please add your inputs on the query

[2022-11-25 06:49] AjayBathini-MSFT commented on #101914
@dazinator
I'm going to assign this to the document author so they can take a look at it accordingly.

@msmbaldwin
Could you please add your inputs on above query

[2022-11-25 06:51] ManoharLakkoju-MSFT commented on #101877
@garthoid
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-11-25 07:01] SnehaAgrawal-MSFT commented on #101680
@fitzmill Thanks for reaching here! Could you please share more information and error you are receiving, a screenshot would be helpful.
Further to highlight:

"To change that, the `forwardProxy` setting needs to be set to `Standard` to make App Service respect the X-Forwarded-Host header set by Azure Front Door.

**Other reverse proxies like Azure Application Gateway or 3rd-party products might us

[2022-11-25 07:03] RamanathanChinnappan-MSFT commented on #101881
@ssalgadodev

could you please review this and update as appropriate.

[2022-11-25 07:04] RamanathanChinnappan-MSFT commented on #101881
@charleswm

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-25 07:04] v-ksreedevan commented on #92828
#reassign: @Harsha-CS

[2022-11-25 07:05] harshal-perennial commented on #95751
Hii team,

In our test environment, we were replicated the mentioned issue, which we also reported to the backend team. Our backend team is working on it, we'll keep you informed accordingly.

[2022-11-25 07:05] v-ksreedevan commented on #95827
#reassign: @Harsha-CS

[2022-11-25 07:06] v-ksreedevan commented on #88051
#reassign: @Harsha-CS

[2022-11-25 07:08] lightupdifire commented on #101902
@dknappettmsft
In the article you shared, there is a link to this article, but in this article, there is no link to that article, maybe handy to add?

I can explain example, we already using AVD/WVD, and I'm RSS subscribed to many news of Azure/O365, and when I saw the news about SSO for AVD, I make a note to check, so now it is time to see how to implement SSO and I read this article... then in t

[2022-11-25 07:09] v-ksreedevan commented on #25229
#reassign: @Harsha-CS

[2022-11-25 07:10] RamanathanChinnappan-MSFT commented on #101883
@saveenr

could you please review this and add your comments, update as appropriate.

[2022-11-25 07:11] RamanathanChinnappan-MSFT commented on #101883
@MohammedL365

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-25 07:12] v-ksreedevan commented on #45553
#reassign: @Harsha-CS

[2022-11-25 07:13] v-ksreedevan commented on #49776
#reassign: @rathinaman

[2022-11-25 07:14] v-ksreedevan commented on #49958
#reassign: @Harsha-CS

[2022-11-25 07:16] v-ksreedevan commented on #71452
#reassign: @Harsha-CS

[2022-11-25 07:33] RamanathanChinnappan-MSFT commented on #101907
@MattacksWTW

Please look into this screenshot and we will consider as document feedback.

A run is one execution of a training script. An experiment is a set of runs. Both are stored as part of the workspace. Azure Machine Learning records data from each run, and holds the information in the experiment.

![image](https://user-images.githubusercontent.com/110973511/203925170-1a5686f9-4ab5-4473-9e2

[2022-11-25 07:58] emmanuelg34 commented on #101870
Hello,
It's telling to go there :
![image](https://user-images.githubusercontent.com/54671495/203929361-ad6cc447-3c44-41ea-aaed-117c32ef9f61.png)
But this doesn't exist :
![image](https://user-images.githubusercontent.com/54671495/203929517-6c7e8e12-ff67-42af-906e-6165733386d1.png)
Chose only between a OVF or a physical install, to deploy to Azure :
![image](https://user-images.githubusercontent.c

[2022-11-25 08:38] henrymbuguakiarie commented on #78003
#please-close

[2022-11-25 08:38] #78003 closed

[2022-11-25 08:56] springcomp opened #101927 "Cannot use '/__*' rule path when validating GraphQL requests"
This is the exact same issue as #98712.

Here is my Azure API Management runtime:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b7f02695-5527-0ea0-4355-c6886889a127
* Version Independent ID: 2736a179-c630-89b9-95f4-c52ecd30394c
* Content: [Azure API Management policies for GraphQL APIs](https://learn.microsof

[2022-11-25 08:57] ripom opened #101928 "Restrict access to the Storage Account used for Flow logs"
I have received a question from my customer on how to restrict the access to the SA.
In this documentation it looks like there is no way to restrict access.
I have investigated internally, and I have found an old post where the PG says this:
"NSG flow logs supports uploading logs to a storage account where private endpoint is enabled (but Microsoft trusted services are allowed to access). Also, if

[2022-11-25 09:34] dknappettmsft commented on #101902
Hi @lightupdifire - as I mentioned previously, this is required to use Azure AD-joined session hosts, not just SSO, so if someone is trying to configure SSO, then they will have already done this step as part of the instructions for deploying the host pool and session hosts in the first place. If someone needs to do it for SSO configuration, then the deployment of the host pool and session hosts h

[2022-11-25 09:46] DavidNogueraBuxeda opened #101930 "There's an eror on the graph on the TPS/TB"
There's an error on the graph the last row TPS/TB for example 500M it says 192TPS/TB, but we saw that 600M was 46.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81b99413-c630-ca01-230e-6d8d9aa6fd91
* Version Independent ID: f3a141a3-0cc3-b1be-d551-c3e23cfa86c9
* Content: [Premium block blob storage accounts - Azure S

[2022-11-25 09:47] lightupdifire commented on #101902
Hello @dknappettmsft maybe, just sharing my experience, it was clear about Azure AD Join, so I didn't start reading over again the whole documentation for the deployment, because deployment in the Azure portal is quite easy by following the wizard, therefore just used for documentation only this one, about "how to SSO" :) If you think this document is fine, then you can proceed with closing.

[2022-11-25 10:19] bragig opened #101932 "Documentation for port mapping"
Hi,

How does the "Internal Port Mapping" and "External Port Mapping" work?  Would be good to have examples and limitations.

Regards,
Bragi

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d68352e6abec
* Content: [Configure NAT on Az

[2022-11-25 11:11] Siby22071989 opened #101933 "Recommendation for RI additional feedback"
[Enter feedback here]
Hello team on documentation: https://learn.microsoft.com/en-us/azure/cost-management-billing/reservations/reserved-instance-purchase-recommendations - Can we make changes and review the statement  on point 5 in first parat
"The recommendation calculations include any special discounts that you might have on your on-demand usage rates inclusive of Azure Savings Plan"

---
####

[2022-11-25 11:21] deeepakmhaskar opened #101934 "service endpoint parameter is missing in create subnet step"
Service endpoint parameter is missing in create subnet step

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Version Independent ID: 2aad2e47-7fde-8d24-f824-236a26e5d887
* Content: [Create virtual nodes using Azure CLI - Azure Kubernetes Service](https://lear

[2022-11-25 11:32] SnehaAgrawal-MSFT commented on #101787
@mepowerleo10 Thanks for reaching here! This seems correct now. Let me know.

[2022-11-25 11:54] Srsurip opened #101935 "Change in RBI directives"
[Enter feedback here]

Hi team, I am Sri Harsha Suripeddi part of Azure Commerce EEE team within Microsoft. I recently learned the amount needs a change in this public article. Hence please change. Please contact me on team with alias"srsurip"

The Reserve Bank of India has issued new directives.

On 1 October 2021, automatic payments in India may block some credit card transactions, especially tr

[2022-11-25 12:00] Naveenommi-MSFT commented on #101899
@pawelmitrus
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@mssaperla
Could you please review add comments on this, update as appropriate.

[2022-11-25 12:01] mepowerleo10 commented on #101787
![image](https://user-images.githubusercontent.com/26873863/203981604-64846c61-a283-4f2f-b73f-e5d77be9ece8.png)
I think it still exists on the `Stream Diagnostics Logs section`

[2022-11-25 12:29] akshay-mahakalkar commented on #101639
No worries, we cracked this. The API response contains the "OrPolicySourceBlob" property and contains the value of the source blob URL with version id. This helped me to compare on the JSON object level.

[2022-11-25 12:31] hpegadros commented on #101873
Personally, I think you are wrong. Consider asking a colleague for his viewpoint.

Thanks, Gad

From: Saibaba Balapur Hireka ***@***.***>
Sent: Thursday, November 24, 2022 9:04 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Rosenthal, Gad ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] link isn't opened in a new tab/page (Issue #101873)

@hpegadros<https://github.com/h

[2022-11-25 12:44] RamanathanChinnappan-MSFT commented on #101900
@MattacksWTW
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-25 12:46] RamanathanChinnappan-MSFT commented on #101860
@nabhishek

could you please review this and update as appropriate.

[2022-11-25 12:47] RamanathanChinnappan-MSFT commented on #101860
@SUNNUWORKS

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-25 13:04] jacqinthebox opened #101937 "Typo in the image"
Hi,
There is a small typo in the image.
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/aks/media/azure-cni-overlay/azure-cni-overlay.png
The IP address of the node on the left is 1192.168.2.0/24, so that's one '1' too many.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64f0ba71-573f-b860-1c2c-802a62ca

[2022-11-25 13:05] KapilAnanth-MSFT commented on #101932
@bragig, Azure VPN gateway does not have Port NAT feature.
Are you talking about Internal External IP NAT?

[2022-11-25 13:12] Thorium commented on #101884
I think it's working now, I don't have any issues. Rather I guess this issue in the first place was that the I wish the required permission constraints would be more clearly visible in the document.

[2022-11-25 13:56] dknappettmsft commented on #101902
Thanks for the feedback, it is appreciated. I don't want to bloat the article with things that aren't specific to that feature. I'll consider adding something to link back to the other article in an upcoming change.

#please-close

[2022-11-25 13:56] #101902 closed

[2022-11-25 13:59] YashikaTyagi-MSFT commented on #101921
@danialtham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 14:02] YashikaTyagi-MSFT commented on #101927
@springcomp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 14:09] YashikaTyagi-MSFT commented on #101928
@ripom
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 14:10] YashikaTyagi-MSFT commented on #101930
@DavidNogueraBuxeda
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 14:11] YashikaTyagi-MSFT commented on #101934
@deeepakmhaskar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 14:12] YashikaTyagi-MSFT commented on #101937
@jacqinthebox
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-25 14:20] JFarlette opened #101940 "Duplicate paragraph"
This paragraph is duplicated "The fallback route sends all the messages that don't satisfy query conditions on any of the existing routes to the [built-in-Event Hubs](https://learn.microsoft.com/en-ca/azure/iot-hub/iot-hub-devguide-messages-read-builtin) (messages/events), that is compatible with [Event Hubs](https://learn.microsoft.com/en-ca/azure/event-hubs/). If message routing is turned on, yo

[2022-11-25 14:32] briggsb9 opened #101941 "Single appliance for multiple environment types"
The FAQ should address the common question of...

"Can I run server discovery for multiple environment types (Hyper-V, Physical etc) on the same Azure Migrate appliance?"

My understanding is this is not possible as the appliance script will remove the previous project registration, therefore each environment type requires its own Azure Migrate appliance. **This should be confirmed**, and an alter

[2022-11-25 14:43] AjayKumar-MSFT commented on #101713
Yes, with the application Initialization module it helps ensure slot is warmed up - the slot prior to swapping it into production. (the swap operation waits for this custom warm-up to finish before swapping with the target slot).
Once the slot starts getting prepared for the swap, a warmup request is made to the root directory of the site on every instance. As per the needs, you can then add addit

[2022-11-25 15:12] zulis opened #101942 "Not enough quota available for Standard_DS3_v2 in SubscriptionId XXX"
Getting error "Not enough quota available for Standard_DS3_v2 in SubscriptionId XXX" on processing this tutorial code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a852f927-cbbd-634a-d81e-78359d539ee3
* Version Independent ID: 0af3f631-2669-38a9-9b17-fe5e9893b711
* Content: [Deploy machine learning models to

[2022-11-25 15:15] bragig commented on #101932
@KapilAnanth-MSFT
Can you do port mapping by using Internal/External **Port** mapping?  How does it work? It's not mentioned in the documentation.  See picture, last two columns:
![image](https://user-images.githubusercontent.com/1774143/204013432-0bbc5ac7-d7ec-465c-83f7-ab64e0c273f3.png)

[2022-11-25 15:32] YashikaTyagi-MSFT commented on #101933
@Siby22071989
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 15:33] YashikaTyagi-MSFT commented on #101935
@Srsurip
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-25 15:50] sergiosolorzano opened #101943 "Is TimeGenerated the same as the timestamp generated by ILogger log.information?"
I am unclear from the document whether TimeGenerated  in a Log Analytics query matches the timestamp (e.g. below generated from ILogger log.information shown in a Function app Monitor?), i.e. I can look at the timestamp of Function app Monitor and query Log Analytics to get the data for the timestamp I saw on monitor?

`2022-11-25T15:33:56.381 [Information] Executed 'TelemetryListenerCalculateAlgo

[2022-11-25 16:06] gregmilligan opened #101944 "Grammatical error"
[Enter feedback here]
This sentence is grammatically incorrect.  It also implies that faculty members enroll in courses, which doesn't make sense.  Students enroll in courses - faculty teach courses.  Can you please fix?  Thanks.

"If you're a faculty member is enrolled in an approved course, you're eligible to install Azure Dev Tools for Teaching software onto your personal computer for non-comme

[2022-11-25 16:50] Waiver-Wire-Addict opened #101945 "Incorrect Order of Steps"
So, on the [Azure Functions Python developer guide page](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-python), the folder structure of a Python Azure Function App is shown, and the Python Virtual Environment folder: **.venv** is shown at the root of the Project folder.  This page should have its instructions modified to first create the Project folder with: **func in

[2022-11-25 17:07] gh-andre opened #101946 "This page should clearly identify where SequenceNumber can be used on its own and were sessions are needed"
This page describes `SequenceNumber` as follows:

This makes a lot of sense and is consistent with other message queues in terms of queuing messages (i.e. no requeuing). However, another page in this topic describes that sessions must be used to rely on message ordering.

https://learn.microsoft.com/en-us/azure/service-bus-messaging/message-sessions

Given that sessions are not even implemented in

[2022-11-25 17:09] csmulligan commented on #95870
Hi @gawshan thanks for reaching out. The email OTP is a fallback authentication method for guest users, and it's used only when no other authentication method or any password-backed accounts are available to authenticate the user. Currently the email OTP must be enabled on the tenant level.

I 've added this to an internal work item for a future update. Since we're tracking it there, I'll go ahead

[2022-11-25 17:09] #95870 closed

[2022-11-25 17:09] Trevor-Davis commented on #101830
Yes. I'm aware it can be done for vmware VMs. But, the note implies the migration can happen as well. Azure migrate Does Not migrate VMs to AVS

[2022-11-25 17:33] DBEducation opened #101947 "Cannot update PHP-FPM settings on Linux App Service"
According to the below guide, it should be possible to update PHP-FPM settings via the www.conf file in /usr/local/etc/php-fpm.d/www.conf.

Changes do this file no longer appear to impact the App Service. I am personally trying to update the security.limit_extensions value, but the access.log and other settings mentioned in the guide also do nothing. Is anyone else able to impact these settings on

[2022-11-25 17:37] Waiver-Wire-Addict commented on #101945
After creating the virtual environment, you should also probably add a step to do: **pip install -r requirements.txt**

[2022-11-25 18:11] mundayn opened #101948 "Documentation lacking detail around routing"
Hi,

Could you please expand on this documentation to include further details around routing and maybe include some diagrams. This is a complicated topic for a lot of people and would benefit from being expanded upon.

The Azure Updates page had more detail on this: https://azure.microsoft.com/en-us/updates/general-availability-of-user-defined-routes-support-for-private-endpoints/

It mentions "Th

[2022-11-25 22:16] PlagueHO opened #101950 "SQL Hyperscale Tier minimum vCores is incorrect"
The document indicates that the minimum vCores for the Hyperscale tier is 1-80, but it appears to be 2 in the Azure Portal and when deploying via code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 113c4717-dc67-96bd-1e09-71c65cafdb21
* Version Independent ID: ace58ece-f363-3912-92a6-ebb13f8b690f
* Content: [What is

[2022-11-25 23:51] spkvijay opened #101952 "Revert Migrate Azure DB from Hyperscale to other tiers"
Is there any way to revert migrate Azure SQL DB from Hyperscale to another tier after 45 days?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 160a1a20-1dd9-ce5d-e9a3-169cc4f019f5
* Version Independent ID: cc0a5cef-a157-022c-d72c-b963e228799d
* Content: [How to manage a Hyperscale database - Azure SQL Database](https:/

[2022-11-26 02:32] GeethaThatipatri-MSFT commented on #101950
@PlagueHO Thanks for your findings, We will investigate and update as appropriate

[2022-11-26 03:08] YashikaTyagi-MSFT commented on #101940
@JFarlette
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-26 03:11] YashikaTyagi-MSFT commented on #101941
@briggsb9
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 03:12] YashikaTyagi-MSFT commented on #101942
@zulis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 03:19] dem108 commented on #101942
@zulis this is expected if you don't have enough quota. Please refer to this document and request for quota increase.

https://learn.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas#endpoint-quota-increases

[2022-11-26 03:24] YashikaTyagi-MSFT commented on #101943
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 03:27] YashikaTyagi-MSFT commented on #101944
@gregmilligan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 03:28] YashikaTyagi-MSFT commented on #101945
@Waiver-Wire-Addict
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-26 03:31] YashikaTyagi-MSFT commented on #101946
@gh-andre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 03:33] YashikaTyagi-MSFT commented on #101947
@DBEducation
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue t

[2022-11-26 03:35] YashikaTyagi-MSFT commented on #101948
@mundayn
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-26 03:36] YashikaTyagi-MSFT commented on #101952
@spkvijay
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-26 04:51] AnuragSingh-MSFT commented on #101595
@lireking, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-26 04:51] #101595 closed

[2022-11-26 04:52] AnuragSingh-MSFT commented on #101603
@manzaloros, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-26 04:52] #101603 closed

[2022-11-26 04:55] AnuragSingh-MSFT commented on #101700
@crmhh, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-26 04:55] #101700 closed

[2022-11-26 06:10] ichibanbrew commented on #101296
Update:
I upgraded the OS to version 22.10 and now Storage Explorer works fine.

[2022-11-26 06:11] spkvijay commented on #101952
https://learn.microsoft.com/en-us/azure/azure-sql/database/manage-hyperscale-database?view=azuresql&tabs=azure-portal#limitations-for-reverse-migration

[2022-11-26 06:12] spkvijay commented on #101952
This is the reason i warned all my DBA's to don't upgrade to Hyperscale. Until Microsoft provides the solution.

[2022-11-26 06:14] spkvijay commented on #101952
This is the reason, i warned all my DBA frieds to don't upgrade to Hyperscale until Microsoft provides a solution.

[2022-11-26 07:59] CosminVana opened #101955 "I don't understand why all the tutorials use simple text as messages. We rarely need to queue a string. It would be more useful if these tutorials would also show some serialization/deserialization example"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3bef36ba-42cf-8490-e4a4-f9731d57add2
* Version Independent ID: df2e6d1a-4a43-a61d-bd7f-b81b83441154
* Content: [Quickstart: Azure Queue Storage client library v12 - .NET](https://learn.microsoft.com/en-us/azure/storage/queues/storage-quickstart-queue

[2022-11-26 10:04] sy-huss opened #101956 "Deprecated code needs updating"
I've spent a few days trying to make this tutorial work, only to conclude that the code is deprecated.

It also does not reflect what is in the GitHub repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Sen

[2022-11-26 10:41] Scottlexium opened #101957 "Route not found issue"
Reading the documentation, I had to proceed by clicking on the [Auth from Azure-hosted apps](https://learn.microsoft.com/en-us/azure/developer/javascript/sdk/authentication-azure-hosted-apps) as you can see on the image below. I get a 404 error.

<img width="696" alt="image" src="https://user-images.githubusercontent.com/54009900/204084588-a6b8e3f0-0b16-44cb-87c3-07801a801b20.png">
404 page url =

[2022-11-26 10:47] robgilliam commented on #85718
11 months on - still not working, even though article claims to have been updated in June.

[2022-11-26 12:13] YashikaTyagi-MSFT commented on #101774
@mejiach
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-26 12:13] #101774 closed

[2022-11-26 12:13] YashikaTyagi-MSFT commented on #101775
@mejiach
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-26 12:13] #101775 closed

[2022-11-26 12:14] YashikaTyagi-MSFT commented on #101825
@uoutubeb
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-26 12:14] #101825 closed

[2022-11-26 12:17] YashikaTyagi-MSFT commented on #101952
@spkvijay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-26 12:17] Srsurip commented on #101935
RBI Notification : https://www.rbi.org.in/scripts/FS_Notification.aspx?Id=12341&fn=9&Mode=0

[2022-11-26 12:19] #101947 closed

[2022-11-26 15:21] SaibabaBalapur-MSFT commented on #101873
@hpegadros
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-26 15:25] #101850 closed

[2022-11-26 15:38] YashikaTyagi-MSFT commented on #101955
@CosminVana
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-26 15:41] YashikaTyagi-MSFT commented on #101957
@Scottlexium
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-26 16:52] JananiRamesh-MSFT commented on #101769
@randolphnz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-26 16:52] #101769 closed

[2022-11-26 17:31] AjayKumar-MSFT commented on #101713
We will now close this issue. If there are further questions regarding this matter, let us know. Thanks for the feedback.

[2022-11-26 17:31] #101713 closed

[2022-11-26 18:23] sahu-G commented on #70324
Thanks

[2022-11-26 20:47] NiKiZe commented on #85395
@SaiKishor-MSFT Soon one year and the documentation is still incorrect.
It would be correct to say "Many clients does not make DNS requests directly to Traffic Manager"

But even more so, you should just make sure that the traffic manager DNS servers are available over IPv6, and stop lying to yourselves and your customers that this isn't a problem!

[2022-11-26 21:28] GeethaThatipatri-MSFT commented on #101815
@artisticcheese I'm assigning this to the author for the feedback review.

[2022-11-27 00:40] jamesdplee opened #101961 "Hubs per Region"
Hello team,

Within the *Customer Experience* section, *Step 4*, there is a sentence that states `There can only be one hub per Azure region`. I believe this limitation was removed some time last year. It is now possible to have multiple hubs per region.

Could this document be updated accordingly?

Appreciate your help,
James

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-27 00:41] jamesdplee commented on #101835
Thank you!

[2022-11-27 03:32] Naveenommi-MSFT commented on #101961
@jamesdplee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-27 04:36] Hyamyam opened #101962 "[JPN/Translation Error] About necessary of on-premises data gateway"
Hello team,

I found there is a traslation error.

//English
![image](https://user-images.githubusercontent.com/73410575/204119218-85806c57-f2fa-4f9a-8518-33e92f6f92ad.png)

//Japanese
![image](https://user-images.githubusercontent.com/73410575/204119385-0f86ff72-f40f-4f75-92da-39eaf747e37a.png)

In this case, "パブリック エンドポイントが有効ではない場合" (If public endpoint is not enabled,) is correct.
![image](https

[2022-11-27 04:56] rizwanriaz11221122 commented on #76710
please solve this issue all details correctly put on my real card

[2022-11-27 05:57] SudheeshGH commented on #101815
#re-assign @shreyaaithal

[2022-11-27 05:57] SudheeshGH commented on #101815
#reassign @shreyaaithal

[2022-11-27 05:59] SudheeshGH commented on #101815
#reassign: @shreyaaithal

[2022-11-27 06:03] batamig commented on #97397
Hi @rajeshkhanikar, thank you for this GitHub issue! We've added this to our backlog to fix in a coming update. I'm closing this GitHub issue only to prevent double tracking; please feel free to continue commenting as needed.
We appreciate your contribution to docs!
#please-close

[2022-11-27 06:03] #97397 closed

[2022-11-27 08:47] EdB-MSFT commented on #97738
Hi @Kiwi-dave. Thanks for providing this feedback. This issue is related to a wider issue with our automated generation of docs for log categories and metrics. We are in the process of fixing this, so for now we are closing the issue.

[2022-11-27 08:47] EdB-MSFT commented on #97738
#please-close

[2022-11-27 08:47] #97738 closed

[2022-11-27 08:50] guywi-ms commented on #96651
@aj9411 Thanks for reaching out and apologies for the delayed response!
Private clouds use different hostnames. The hostname for China is api.loganalytics.azure.cn.

#please-close

[2022-11-27 08:50] #96651 closed

[2022-11-27 09:36] EdB-MSFT commented on #98410
#reassign:EdB-MSFT

[2022-11-27 09:36] EdB-MSFT commented on #98410
Hi @aj9411 Thanks for point this out. I have opened a work item to get these fixed.

[2022-11-27 09:37] EdB-MSFT commented on #98410
#please-close

[2022-11-27 09:37] #98410 closed

[2022-11-27 13:25] stassorokintheta opened #101965 "mistake in document "Bring your own keys (BYOK) with Azure disks in Azure Kubernetes Service (AKS)" commands don't work"
issue in the following page: [https://learn.microsoft.com/en-us/azure/aks/azure-disk-customer-managed-keys](url)
the commands don't work in bash.
the value assignment should be in the following way:

`var=$(az ...)`

**example 1:**
[code]
should be:

`
keyVaultId=$(az keyvault show --name myKeyVaultName --query "[id]" -o tsv)
 `

**example 2:**

[code]
should be:

`
keyVaultKeyUrl=$(az keyvault ke

[2022-11-27 14:02] ElazarK commented on #101475
@jrohrich you are indeed correct and the documentation is being updated and will be reflected in the next few days.

[2022-11-27 14:02] ElazarK commented on #101475
#please-close

[2022-11-27 14:02] #101475 closed

[2022-11-27 14:42] livanov opened #101966 "Outdated info"
The page is outdated - both the verification ID and the SSL/TLS info is no longer correct

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Tutorial: Map existing custom DNS name - Azure App Service](https://le

[2022-11-27 15:21] #101869 closed

[2022-11-27 15:21] GitaraniSharma-MSFT commented on #101869
@pvgmail , I've updated the document to show the correct Issuer URL i.e. https://sts.windows.net/{TenantID} and this will reflect soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-11-27 15:23] Nealit25 opened #101967 "V5J8M4PN"

[2022-11-27 15:41] Naveenommi-MSFT commented on #101962
@Hyamyam

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-27 15:42] Naveenommi-MSFT commented on #101962
@Minewiskan

Could you please review add comments on this, update as appropriate.

[2022-11-27 15:43] Naveenommi-MSFT commented on #101965
@stassorokintheta

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-27 15:46] Naveenommi-MSFT commented on #101966
@livanov

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-27 15:47] Naveenommi-MSFT commented on #101967
@Nealit25
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-27 15:49] Naveenommi-MSFT commented on #101826
@moshezvi

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-27 15:49] #101826 closed

[2022-11-27 16:01] nkrebsbach commented on #101831
@SumanthMarigowda Can you please re-open issue for the following reason- this issue is not related to a support request. - This is a request to update the documentation.

Problem: The documentation does not state that detaching the disk to size beyond 4095GB is necessary when attached to a VM(running or not).  I am requesting that this is added as a consideration as the error screenshot presented

[2022-11-27 18:53] alftio opened #101968 "Incorrect Command to confirm"
[Enter feedback here]

The next command that is present in the documment is incorrect  and fails trying to get the certificate date.

`az vmss run-command invoke -g MC_rg_myAKSCluster_region -n vmss-name --instance-id 0 --command-id RunShellScript --query 'value[0].message' -otsv --scripts "openssl x509 -in /etc/kubernetes/certs/apiserver.crt -noout -enddate"`

Please update the command for this o

[2022-11-27 19:48] AZMouse76 commented on #55029
I am experiencing the same issue. Has there been any resolution to this?

[2022-11-27 20:20] zulis commented on #101942
@YashikaTyagi-MSFT I accidentally submitted feedback on another page. The correct one is related to "Tutorial: Azure Machine Learning in a day".  "Do not edit this section" was replaced with correct one. Please assign this to correct person. North Europe region was used while going through this tutorial.

[2022-11-27 20:30] krzysztof-nawara-bp commented on #91147
Hello,
Both links appear to be (again) broken :)

[2022-11-27 20:55] mahfooziiitian commented on #95884
I am also facing the same issue. any timeline for fix?

[2022-11-27 23:23] jackbond opened #101969 "Azure Load Balancer HTTP3 support."
Are there plans for Azure Load Balancer to support HTTP3 (if it doesn't already.)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5eee7e23-dbd2-1123-d27a-e4cdaef4da3b
* Version Independent ID: 680b9517-1e87-6db5-3f7d-0e6c5e545a6e
* Content: [Tutorial: Create a multiple virtual machines inbound NAT rule - Azure portal -

[2022-11-28 01:25] imeya commented on #101721
hello @YashikaTyagi-MSFT , @ggailey777 , any update on this issue? Thanks.

[2022-11-28 01:32] Naveenommi-MSFT commented on #101968
@alftio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 01:38] Naveenommi-MSFT commented on #101969
@jackbond
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 01:46] Naveenommi-MSFT commented on #101846
@lightupdifire
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-28 01:54] AdamGuan13 opened #101973 "confirm the availability of Azure China"
Hi Teams,

This is Adam from China Azure Docs teams.

Could you please help to confirm the availability of workload identity in China Azure?

![image](https://user-images.githubusercontent.com/113486445/204174491-c6134849-a141-4ae4-aa95-37cf9f2309b8.png)

I will be very grateful if you reply me.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-28 01:55] StingyJack commented on #68070
I asked for some basic instructions on how to connect.  If this has been addressed by an update to the document - or it is an poor or ignorant question - just say so. An unnecessary apology and then just leaving someone hanging like this is as bad as having stalebot blindly close an issue that you were unable to find time for. Its like answering a support call, placing the caller on hold, then jus

[2022-11-28 02:06] SwathiDhanwada-MSFT commented on #101870
@emmanuelg34 Thanks for your detailed explanation.

Assigning to content author @ankitaduttaMSFT  for review.

[2022-11-28 02:32] rui-hi opened #101974 "Server loads info will be helpful especially for SKU P2~P5"
Currently, this page below shows the RPS target for each SKU.
However, the RPS performance does not seem to improve significantly P2 through P5 (Up to approximately 10%)

For some case, customers would like to reduce server load metric but upgrading SKU did not work.
Could you add a column to the benchmark table to compare server loads for each SKU (especially for P2~P5) ?
(I will also check this

[2022-11-28 03:24] ggailey777 commented on #101721
The supported App Service plans are documented here:  https://learn.microsoft.com/azure/azure-functions/dedicated-plan
Do you not consider this sufficient?

[2022-11-28 03:28] Naveenommi-MSFT commented on #101973
@AdamGuan13
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 03:34] AshokPeddakotla-MSFT commented on #101753
As mentioned, we will review this feedback internally and update the doc if necessary.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-28 03:34] #101753 closed

[2022-11-28 03:34] Naveenommi-MSFT commented on #101974
@rui-hi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 03:46] AshokPeddakotla-MSFT commented on #101940
@JFarlette Thanks for raising this feedback. PR has been created to fix the duplicate paragraph. This issue will be closed automatically once PR has been reviewed and merged. Feel free to raise a new issue if you have any queries.

[2022-11-28 04:08] MughundhanRaveendran-MSFT commented on #101811
@mat-liu , did you get a chance to look at my previous comment?

[2022-11-28 04:08] MughundhanRaveendran-MSFT commented on #101800
@sergiosolorzano , Did you get a chance to look at my previous comment?

[2022-11-28 04:13] JananiRamesh-MSFT commented on #101777
From the portal backend section under design blade, you can use Azure Logic App and HTTP(s) endpoint as the target of Backend but you can also use custom backends that require extra configuration to authorize the credentials of requests to the backend service and define API operations. To Configure and manage custom backends in the Azure portal,
please refer this document: https://learn.microsoft.

[2022-11-28 04:13] #101777 closed

[2022-11-28 04:15] SnehaAgrawal-MSFT commented on #101680
@fitzmill Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-11-28 04:15] #101680 closed

[2022-11-28 05:01] #101900 closed

[2022-11-28 05:07] KapilAnanth-MSFT commented on #101884
@Thorium , Thanks for the update.
NetworkContributor should be sufficient.
Generally, "How to" documents would not include the required permissions.

If you are stuck at a particular step, we request you to raise the issue on Microsoft Q&A and other forums, we have our engineers and others who are monitoring them and will be happy to help.

[2022-11-28 05:07] #101884 closed

[2022-11-28 05:25] #101873 closed

[2022-11-28 05:43] MayankBargali-MSFT commented on #101781
@ShingoHanai Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ecfan Can you please review it. Thanks

[2022-11-28 05:45] SaibabaBalapur-MSFT commented on #101968
@alftio
Thanks for bringing this to our attention. We have created a PR for this issue and the changes should go live soon.

[2022-11-28 06:11] ManoharLakkoju-MSFT commented on #101934
@deeepakmhaskar
Could you please elaborate the query for better understanding. if possible, please help me with the screenshot So we can assist you further.

[2022-11-28 06:21] vwxyzh opened #101976 "Should not localize the toc title for method name."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-28 06:31] SumanthMarigowda commented on #101930
@DavidNogueraBuxeda May I when exactly are you getting this error code? Can you share the screenshot of the performance message? I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-11-28 06:32] #101930 closed

[2022-11-28 07:00] Jessieliu111 opened #101977 "Do we support Managed identity for Compute instance when using SDK?"
[Enter feedback here]

Hi team,

It mentions we support managed identity for compute instance as below.
<img width="662" alt="image" src="https://user-images.githubusercontent.com/90446374/204213749-6b7668fa-7b07-45bb-9358-e6ba7343a5bc.png">

But in the important box, it mentions we only support MSI for compute cluster or Azure VM. Do we support compute instance using MSI to authenticate or not?
T

[2022-11-28 07:01] #101391 closed

[2022-11-28 07:01] deeepakmhaskar commented on #101934
@ManoharLakkoju-MSFT , The information is missing during the "Enable virtual nodes addon". You can either add parameter --delegations Microsoft.ContainerInstance/containerGroups while creating subnet for virtual node or add parameter --addons virtual-node while running virtual node addon command.
It took me some time to understand that it adds subnet with delegation "Microsoft.ContainerInstance/co

[2022-11-28 07:27] SumanthMarigowda commented on #101075
@ThomasPe  I was able to download the Azcopy 7.3 version. The article is UpToDate.   If the issue still persist, please try in different browser  [Find where your browser is saving downloads](https://support.microsoft.com/en-us/microsoft-edge/find-where-your-browser-is-saving-downloads-d3e83af6-68bb-aa90-3167-eeb657013902)

This article provides all version of azcopy download's files: https://gith

[2022-11-28 07:27] #101075 closed

[2022-11-28 07:28] ambientlight commented on #101813
@Marusyk: you would generally need to prefetch everything you want to display yourself, the clusters will be displayed based on the data you will set on the datasource.  When you are overlaying large amount of data, it is sometimes common to fetch continuously for a visible viewport area (if your datasource supports that).

[2022-11-28 07:35] mshyatsu commented on #100209
Hello @BryanTrach-MSFT . As Yusuke mentioned, /api/publish is safer than /api/wardeploy since the war file is not expanded to the persistent storage (/home). Now, we do not have any reason to use /api/wardeploy. It would be nice if you could consider replacing the description of /api/wardeploy to /api/publish.

[2022-11-28 07:48] shaktisingh-msft commented on #101974
Hi @flang-msft,

Could you please look into this documentation enhancement request. Thanks

[2022-11-28 08:00] KrishnaG-MSFT commented on #101607
@jenztales If you have any feedback regarding any Azure document then please share the Azure document link and elaborate on the feedback about it. Thanks.

[2022-11-28 08:09] sergiosolorzano commented on #101800
Hello @MughundhanRaveendran-MSFT thank you for your comment it was helpful. Indeed I had published from VS2022. Since I had input bindings in the function I found challenging also binding the output and coded it in. An example in the documentation with both an input and output binding would be helpful. Thanks again for your continued support :)

[2022-11-28 08:09] #101800 closed

[2022-11-28 08:38] Naveenommi-MSFT commented on #101965
Hi @stassorokintheta
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-28 09:13] Dickson-Mwendia commented on #99113
@catmanjan are you still experiencing this issue on VS 2022? I've followed the guidance in this quickstart and was able to restore nugget packages successfully.

![image](https://user-images.githubusercontent.com/64727760/204238664-ed248132-e12a-4551-9d3f-38f2bb7567fd.png)

From your screenshot, I see the error occurred while finding part of the path. A suggestion that might help fix the problem a

[2022-11-28 09:13] #99113 closed

[2022-11-28 09:30] #98600 closed

[2022-11-28 09:58] brechtb86 commented on #64288
Hi @AnuragSharma-MSFT, is this still on the planning? As far as I can see it is not yet supported (I've only tested on the CosmosDB emulator). Thanks for your response!

[2022-11-28 10:02] noontz opened #101979 "Policies tab does not exist"
"Switch to the 'User Flows' (_Under Policies_) tab".

Policies tab is non existent.

'User flows' is found under External Identities

But it is not possible to add one when you get there

This kinda renders the complete tutorial useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 623cc870-6f9d-039e-b965-a964482a3e

[2022-11-28 10:03] wstinkens opened #101980 "VendorOriginalID Description for Microsoft Defender for Endpoint SecurityAlerts"
According to the description of the VendorOriginalID column name, it should contain the following:
Unique ID for the specific alert instance, set by the originating product.

But when checking alerts from Microsoft Defender for Endpoint (MDE), it to does not contain the alert ID of MDE as it did in the past but a random GUID. Which ID does this field refer to for alerts from MDE?

---
#### Documen

[2022-11-28 10:03] SnehaAgrawal-MSFT commented on #101787
@mepowerleo10 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-11-28 10:10] bandesz commented on #81894
The documentation is still not updated and IMO should be more explicit about mentioning that you have to use the maximum number of nodes for each node pool in the calculations.

This is only mentioned in the second Important block of https://learn.microsoft.com/en-us/azure/aks/load-balancer-standard#configure-the-allocated-outbound-ports.

[2022-11-28 10:29] #101979 closed

[2022-11-28 10:30] noontz commented on #101979
The issue is portal navigation..  I do not know how it is possible, but it seems like I was in the "normal" AD part of the B2C?

[2022-11-28 10:31] ManoharLakkoju-MSFT commented on #101973
@AdamGuan13
I'm going to assign this to the document author so they can take a look at it accordingly

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-28 10:32] ManoharLakkoju-MSFT commented on #101934
@deeepakmhaskar
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-28 10:34] swupdiedoowap opened #101981 "Information missing"
From the documentation it is stated, that we need to migrate from (for instance)  https://we-jobruntimedata-prod-su1.azure-automation.net to https://accountId.jrds.we.azure-automation.net.

``
While the list of Automation DNS records provided here have been retired, they still remain functional to allow time for you to migrate to the new records listed under [support for Private Link](https://lear

[2022-11-28 10:50] SaibabaBalapur-MSFT commented on #101916
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-28 10:50] #101916 closed

[2022-11-28 11:17] MayankBargali-MSFT commented on #101855
@sarmaria The Prerequisites section calls out to install the function core tool. You need to set the JAVA_HOME environment variable to the installation location of the correct version of the JDK that you have installed. For more details on configuring your environment locally you can refer to [this document](https://learn.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-java?tab

[2022-11-28 11:17] #101855 closed

[2022-11-28 11:42] MayankBargali-MSFT commented on #100558
@AnandKatta You can leverage the ARM template resource type [Microsoft.Web/customApis](https://learn.microsoft.com/en-us/azure/templates/microsoft.web/customapis?pivots=deployment-language-arm-template) to define your custom connector and integrate [ARM template with your DevOps pipeline](https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/add-template-to-azure-pipelines).

If

[2022-11-28 11:42] #100558 closed

[2022-11-28 11:46] msandbu opened #101982 "Better clarification in terms of support for Azure Firewall and NAT Gateway"
This page needs to give a clear indication if Shortpath supports Azure Firewall or NAT Gateway, right now it only implies that NAT Gateway and Azure Firewall uses Symmetric NAT which is not supported by Shortpath.

Based upon the current information for me as a reader it gives not indication if it works or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-11-28 12:14] VikasPullagura-MSFT commented on #101982
@msandbu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-28 12:14] VikasPullagura-MSFT commented on #101982
@dknappettmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-11-28 12:23] Naveenommi-MSFT commented on #101976
@vwxyzh
Thank you for bringing this to our attention. Could you please elaborate your query in English for better understanding.

[2022-11-28 12:26] Naveenommi-MSFT commented on #101977
@Jessieliu111
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 12:28] malcolndandaro opened #101983 "Update docs to say that SQL failed Logins are not audited in the Synapse Serverless SQL Pool"
Currently we can't see Failed SQL Logins on the **Synapse Serverless SQL Pool.** After not finding it anywhere, I opened a ticket in Azure and found out it is by design -> TrackingID#2210260040004913

I suggest that this doc page be updated to the page to say that Synapse Serverless SQL Pool does not record failed SQL Logins.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-28 12:28] Naveenommi-MSFT commented on #101980
@wstinkens
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 12:29] vlad610 opened #101984 "changing DNS label on public IP breaks APIM hostname resolution"
This request is about this section in the Prerequisites list:

**_When creating a public IP address resource, ensure you assign a DNS name label to it. The label you choose to use does not matter but a label is required if this resource will be assigned to an API Management service._**

The problem is that if the DNS name label changes, APIM's hostname(s) would become unresolvable.

This is how it

[2022-11-28 12:32] Naveenommi-MSFT commented on #101981
@swupdiedoowap
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 12:43] JananiRamesh-MSFT commented on #101927
@springcomp I am unable to reproduce the issue, able to add the policy successfully as shown below
![image](https://user-images.githubusercontent.com/92862826/204280234-547cd9e9-5cc8-4572-a910-02e736a56178.png)
![image](https://user-images.githubusercontent.com/92862826/204280292-cf726ddd-803b-4a80-af3c-5d749225ae01.png)

could you please let me know what is the exact issue that you're facing

[2022-11-28 13:02] MughundhanRaveendran-MSFT commented on #101046
@clouditspace , You have mentioned 2 seperate resources. First image is Azure container instance and second image is Azure container apps.

The managed identities for Azure container apps is GA.

Documentation : https://learn.microsoft.com/en-us/azure/container-apps/managed-identity?tabs=portal%2Cdotnet

![image](https://user-images.githubusercontent.com/56299140/204284114-70acd3ac-6d40-4681-98cb-

[2022-11-28 13:02] #101046 closed

[2022-11-28 13:21] shaktisingh-msft commented on #101983
Hi @malcolndandaro,

Thanks for sharing this feedback. We will into this and update as appropriate.

[2022-11-28 13:21] dkurepa opened #101987 "Download links not working on AzCopy page"
Hello,

The download links on the https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10 page are not starting the file download, they're just refreshing the page.
Is this a known issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID:

[2022-11-28 13:25] pl4nty commented on #101987
I'm seeing this issue too, on many pages across the Azure docs

[2022-11-28 13:36] Melsayed4SW opened #101988 "latest core-http bug"
Errors  Files
     ( 1 )  node_modules/@azure/core-http/types/latest/src/createSpanLegacy.d.ts:1
     ( 1 )  node_modules/@azure/core-http/types/latest/src/policies/tracingPolicy.d.ts:2
     ( 2 )  node_modules/@azure/core-http/types/latest/src/webResource.d.ts:2

<img width="436" alt="Screen Shot 2022-11-28 at 3 36 42 PM" src="https://user-images.githubusercontent.com/82005445/204291160-f6c93fcc-

[2022-11-28 14:12] MohammedL365 commented on #101883
Thanks @RamanathanChinnappan-MSFT , @saveenr  looking forward to work with you on this one to understand the root cause and possible resolution.

[2022-11-28 14:15] Fathergrey opened #101989 "Lack of detail"
There is quite a bit of explanation that needs to be in this document, whether it be missing "path" entries, that lack of cookiecutter installation etc.  I would suggest that someone follow this document from scratch on a new Windows install with a new VSCode install for the Python route.

I've found that a lot of the Python related IoT documentation has been missing quite a bit especially for beg

[2022-11-28 14:18] wUEZRs opened #101990 "Single database vs Server?"
It's hard to grasp the difference "Azure SQL" choices for pure native SQL service, and I see no documentation on it

When does one choose "Azure SQL Single database" and when does one choose "Azure SQL Server"?

Is it when the amount of DBs for an app surpasses one? Say staging and prod SQL DB?

I can't find mention of this anywhere

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-11-28 14:30] tjclark2 opened #101992 "Download for RD links non-functional"
Several users have attempted to utilize the 'Download the Remote Desktop client installer, choosing the correct version for your device:' option(s) and reported that the links just redirect them to the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent

[2022-11-28 14:39] springcomp commented on #101927
@JananiRamesh-MSFT Thank you for your feedback.
Hum, this may be related to the tier we are using ?

![image](https://user-images.githubusercontent.com/8488398/204305126-60995350-8066-4d9b-9780-631cb3927d47.png)

[2022-11-28 14:42] shlipsey3 commented on #101885
#please-close

[2022-11-28 14:43] AndrewBryson opened #101993 "Policy names such as "Central" or "App" are vague"
The names of the policies used in the https://learn.microsoft.com/en-gb/azure/backup/guidance-best-practices#auto-configure-newly-provisioned-backup-infrastructure-with-azure-policy-at-scale section are vague and should be updated to reference explicit policies to improve clarity for the reader.

I'd suggest improving by deep-linking to policies on this page: https://learn.microsoft.com/en-gb/azur

[2022-11-28 14:46] AwdotiaRomanowna commented on #101894
thank you @kongou-ae for spotting it. Docs has been updated!

[2022-11-28 14:46] MicrosoftGuyJFlo commented on #101856
Thanks for catching that @jd1984!

[2022-11-28 14:50] MicrosoftGuyJFlo commented on #101856
The certificate prompt may be related to the following...

https://learn.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-conditions#why-do-i-see-a-certificate-prompt-in-the-browser

https://learn.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-grant#require-device-to-be-marked-as-compliant

[2022-11-28 15:15] MicrosoftGuyJFlo commented on #101755
#please-close taking internal to Ava.

[2022-11-28 15:15] #101755 closed

[2022-11-28 15:15] GeethaThatipatri-MSFT commented on #101950
@PlagueHO Can you share some screenshot and how you are deploying as I can see 1-80, in the portal

[2022-11-28 15:17] pampua84 commented on #58524
Hi,
this question is quite old, but is it possible to know what values are supported and if it is possible to force MFA this way?
Thanks

[2022-11-28 15:19] clintsherwood opened #101995 "Change the instructions to remove reference to Python 2.7"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64be8819-4ac8-cceb-313f-2561a6c2c759
* Version Independent ID: 1ca873b5-f399-179f-e721-b09a78dab4fc
* Content: [Use Databricks CLI from Azure Cloud Shell ](https://learn.microsoft.com/en-us/azure/databricks/scenarios/databricks-cli-from-azure-cloud-s

[2022-11-28 15:22] AngryRhetoric opened #101996 "Typo: Standard_E2ds_v44 should read Standard_E2ds_v4"
On this page under the edsv4 section
https://learn.microsoft.com/en-us/azure/virtual-machines/edv4-edsv4-series#edsv4-series

It shows the first VM size as "Standard_E2ds_v44"  when that should read "Standard_E2ds_v4"

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2b709e36-46ce-0a49-d7e4-7f87f4f36bbe
* Version

[2022-11-28 15:22] #101856 closed

[2022-11-28 15:25] GeethaThatipatri-MSFT commented on #101990
@wUEZRs Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-11-28 15:27] maud-lv commented on #99966
Hi @arambazamba, thank you for your suggestion. This document was recently updated. Could you please let me know if you think it's more appropriate?

[2022-11-28 15:29] cilwerner commented on #92778
#please-close

[2022-11-28 15:29] #92778 closed

[2022-11-28 15:29] cilwerner commented on #101683
#please-close

[2022-11-28 15:29] #101683 closed

[2022-11-28 15:34] JananiRamesh-MSFT commented on #101927
please let me know which sku you're using ?

[2022-11-28 15:38] springcherr opened #101997 "Azure DF & SHIR: unable to connect to 3rd party MySQL DB with custom Cert"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-28 15:39] PhilStanton commented on #70505
Same problem here

[2022-11-28 15:59] springcherr commented on #101997
https://learn.microsoft.com/en-us/azure/data-factory/connector-odbc?tabs=data-factory
https://learn.microsoft.com/en-us/azure/data-factory/connector-mysql?tabs=data-factory

I have experimented with many approaches to connecting to a 3rd party MySQL database. The 3rd party has shared  3 SSL certificates & documentation in these links dont show where the certificates need to be included.

[2022-11-28 16:05] avinashkshukla commented on #19456
Need this issue to be fixed. Allowing microsoft 'trusted services' on the storage account (or other platform services) should cover the hosted-agents as well.

[2022-11-28 16:08] Naveenommi-MSFT commented on #101996
@AngryRhetoric
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:11] Naveenommi-MSFT commented on #101988
@Melsayed4SW
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:12] maud-lv commented on #68728
Hi All, I'd like to check if this issue is now resolved and can be closed?

[2022-11-28 16:15] johnmarco commented on #101691
@philtapp thank you for calling this out. I am looking into this now and hope to have clarification soon.

[2022-11-28 16:15] Naveenommi-MSFT commented on #101997
@springcherr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:16] vivekharrai opened #101998 "update documentation for azure function app version 4.x"
[Enter feedback here]

please update documentation for azure function app version 4.x. whole page is talking about the version 2.x
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content: [Develop C# class library funct

[2022-11-28 16:21] neilmca-inc opened #101999 "environment can be specified as an existing environment - how?"
From here:

https://learn.microsoft.com/en-gb/azure/machine-learning/reference-yaml-deployment-managed-online#:~:text=To%20reference%20an%20existing%20environment%2C%20use%20the%20azureml%3A%3Cenvironment%2Dname%3E%3A%3Cenvironment%2Dversion%3E%20syntax.

To quote
[code]

How is this achieved please - I've tried many different variations on trying to use the inbuilt "AzureML-sklearn-1.0-ubuntu20.0

[2022-11-28 16:21] Naveenommi-MSFT commented on #101984
@vlad610
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:27] v-edmckillop commented on #75938
Thank you very much for your patience with this issue. We appreciate your diligence as it helps to improve accuracy and quality. Edits were made to address this issue, and the related issue 75934. #please-close

[2022-11-28 16:27] #75938 closed

[2022-11-28 16:28] v-edmckillop commented on #75934
Thank you very much for your patience with this issue. We appreciate your diligence as it helps to improve accuracy and quality. Edits were made to address this issue, and the related issue 75938. #please-close

[2022-11-28 16:28] #75934 closed

[2022-11-28 16:28] Naveenommi-MSFT commented on #101989
@Fathergrey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:33] shlipsey3 commented on #100666
Hello @DeanGross - I'm finally able to look at this further. I'm currently working on overall improvements to this page, but keeping it current with what's available is the main challenge.

In the meantime, these details may help you find what you're looking for.

Service: Core Directory
Category: DirectoryManagement
Activity: Update company settings

Then look at the details. You should see the a

[2022-11-28 16:34] Naveenommi-MSFT commented on #101993
@AndrewBryson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:37] Naveenommi-MSFT commented on #101995
@clintsherwood
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-28 16:38] shlipsey3 commented on #100526
#reassign:shlipsey3

[2022-11-28 16:39] sameer-kumar commented on #68728
Yes you can go ahead and close this.
We are not using Az App Configuration Service any more.

On Mon, Nov 28, 2022 at 11:12 AM Maud ***@***.***> wrote:

--
Thanks and Regards

Sameer

[2022-11-28 16:40] shlipsey3 commented on #100526
Hello @knicholson0,
I've recently taken over this content and taking a look at your question. I do see what you're describing - specifically when trying to download the sign-in logs. You're presented with several to download. Thanks for letting us know.

It may take me a little bit to get the article updated appropriately - in the meantime do you have what you need or is there anything else I can

[2022-11-28 16:51] mnriem commented on #101016
@KarlErickson Please coordinate with the Azure Spring team on this as this functionality was delivered by them

[2022-11-28 16:58] mjang-cobalt opened #102000 "Update Cobalt Configuration Article (Azure Active Directory)"
# Update Cobalt Configuration Article

I'm @mjang-cobalt, and I'd like to see an update to the [Microsoft Cobalt Configuration Tutorial](https://learn.microsoft.com/en-us/azure/active-directory/saas-apps/cobalt-tutorial), as it relates to a SAML-based SSO connection to Azure Active Directory.

Based on our research, we're looking for a significant number of changes. As suggested by your article te

[2022-11-28 17:00] #101940 closed

[2022-11-28 17:00] knicholson0 commented on #100526
Great! Thanks.  I have what I need for now, yes.

On Mon, Nov 28, 2022, 10:41 AM shlipsey3 ***@***.***> wrote:

[2022-11-28 17:02] sagarkeswani opened #102001 "Source for the recommendations"
In my understanding, Advisor is just the platform to show recommendations. An Azure service is supposed to generate these recommendations. The documentation though says that Advisor recommends to right size the SKU. Shouldn't it be Azure Compute team recommends?

Can I get in touch with the service team or POC for the Recommendation to understand about the collection of data etc.

---
#### Documen

[2022-11-28 17:03] JananiRamesh-MSFT commented on #101921
@danialtham please refer this document for configuring backup of self-hosted gateway https://learn.microsoft.com/en-us/azure/api-management/how-to-self-hosted-gateway-on-kubernetes-in-production#configuration-backup we mention an example as well -> https://github.com/Azure/api-management-self-hosted-gateway/blob/main/examples/self-hosted-gateway-with-configuration-backup.yaml

Do let me know if yo

[2022-11-28 17:08] shlipsey3 commented on #100526
Very good. I'm going to create a work item on my end to track the work and close this issue here.

[2022-11-28 17:09] MicrosoftGuyJFlo commented on #99468
@shlipsey3 FYI

[2022-11-28 17:10] maud-lv commented on #68728
#sign-off

[2022-11-28 17:10] maud-lv commented on #68728
#please-close

[2022-11-28 17:10] #68728 closed

[2022-11-28 17:14] zhenlan commented on #100346
Thanks for the feedback, @GarretWayne. You are absolutely right that this doc (and a few others) should be updated for .NET 6.

@maud-lv, @Muksvso, please feel free to move this issue to https://github.com/Azure/AppConfiguration for the tracking purpose and close this one.

[2022-11-28 17:20] #99468 closed

[2022-11-28 17:23] dbradley-expo opened #102002 "OMA-URI path"
The document under the Modify XML heading at point 6 states to document the info between name and /name  as it will be needed when you create the profile in Intune.

When you export the config, the VNET name is shown in this field. This isn't optimal to present as the profile name in Windows.

I don't believe this same name has to be re-used at "./User/Vendor/MSFT/VPNv2/name of your connection/Pro

[2022-11-28 17:28] mjang-cobalt commented on #102000
Related: https://github.com/MicrosoftDocs/azure-docs/issues/83094

[2022-11-28 17:31] maud-lv commented on #100346
@zhenlan, we'll close this issue when the doc is updated. We can also open another issue in the GitHub repo you mentioned.

[2022-11-28 17:49] johnmarco commented on #101691
@philtapp, the agent does not support Windows Server 2012. I have updated the article to reflect this and it should be live soon. Thank you again for identifying this discrepancy. I will now close this issue.

[2022-11-28 17:49] johnmarco commented on #101691
#please-close

[2022-11-28 17:49] #101691 closed

[2022-11-28 17:56] SatishBoddu-MSFT commented on #101989
Hello @Fathergrey,

We would like to work with you on this article!

Could you please add more info on a **specific section of the document** which is having trouble completing?

Meanwhile we will verify the article!

[2022-11-28 18:03] kevelife opened #102005 "Document a way to test SQL ATP alerts."
Hi Team,

Would it be possible to document a way to test if Defender for SQL is correctly generating SQL security alerts in MDC? Please let me know.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5344137c-53ec-8e0b-7f96-efa0216035f9
* Version Independent ID: 5861e03f-7bfe-0ac6-fcf1-376efd593b40
* Content: [How to enab

[2022-11-28 18:03] laujan commented on #99477
Hi @noueh can you pleaae add a link to the PR? Thank you!

[2022-11-28 18:12] laujan commented on #100066
Hi @micli, We are closing this issue for now. If you are still experiencing issues, please feel free to reopen and provide further information. Thank you!

#please-close

[2022-11-28 18:14] aristosvo commented on #101984
Thanks @vlad610 for your help and raising this issue here.

To help other clients with the same problem: the internal health monitor probe reporting APIM Management endpoint shows it is unreachable due to this specific error:
[code]

[2022-11-28 18:21] PatrickFarley commented on #100971
@iamramengirl The snapshot feature is now deprecated, so new accounts won't have access to it. I'll add a warning messages to the docs

[2022-11-28 18:23] PatrickFarley commented on #100971
#please-close

[2022-11-28 18:24] #100971 closed

[2022-11-28 18:29] timwarner-msft commented on #101864
@realalexandergeorgiev Thanks for raising the issue. I'll mention your suggestion to the Azure Resource Graph team to get their opinion.

[2022-11-28 18:30] SadiqhAhmed-MSFT commented on #101830
@Trevor-Davis Got your point.

@v-ksreedevan Could you please review this with the feature owner to update the content?

[2022-11-28 18:45] SnehaSudhirG commented on #96926
@Grace-MacJones-MSFT - The images updates are done and info is live. Closing the issue

[2022-11-28 18:45] SnehaSudhirG commented on #96926
#please-close

[2022-11-28 18:45] #96926 closed

[2022-11-28 19:06] dknappettmsft commented on #101992
Hi @tjclark2 - I've just tested this and it's working as expected, so it seems something local to your users. These links don't go off to another article of web page, but should prompt the web browser to download. If you are restricting downloads, that could cause it. The three links in the article are (you can check these by hovering over them):

x64: https://go.microsoft.com/fwlink/?linkid=20686

[2022-11-28 19:12] Mike-Crowley commented on #79471
It is already the default behavior to shut the whole VM down.

[2022-11-28 19:14] tjclark2 commented on #101992
Thanks Team - I'm getting feedback from the users that this is good to go now. Not sure what changed - but I'll take it! Thanks again for your time and support.

Respectfully...

Thomas J. Clark
Sr. Consultant | Microsoft Federal
954.375.3649 | ***@***.******@***.***>
[MSFT_logo_Print_small]

From: dknappettmsft ***@***.***>
Sent: Monday, November 28, 2022 1:07 PM
To: MicrosoftDocs/azure-docs ***@

[2022-11-28 19:15] Mike-Crowley commented on #59893
For anyone else looking, this is available now:

- https://learn.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-powershell?source=recommendations

[2022-11-28 19:18] dknappettmsft commented on #101992
Thanks for letting me know!

#please-close

[2022-11-28 19:19] #101992 closed

[2022-11-28 19:23] ChaitanyaNaykodi-MSFT commented on #102002
@dbradley-expo Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-28 19:54] RichardNorton opened #102008 "Disable the email if there are no failing checks"
Is it possible to have the email not sent if there are no failing checks as we only care if there are failed checks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9b890467-2154-bff9-05e1-816013515030
* Version Independent ID: 2195ebb4-3ac8-5112-c331-528bd9b91e9e
* Content: [SQL vulnerability assessment - Azure SQL Da

[2022-11-28 19:54] denniszielke opened #102009 "The opentelemetry collector helm chart instructions are outdated"
The properties standaloneCollector and agentCollector are no longer allowed in the new versions of open-telemetry/opentelemetry-collector helm chart.

Here is how a correct yaml could look like:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 889777a5-01ca-b469-f196-af6b0ed86a8a
* Version Independent ID: f033b4d9

[2022-11-28 20:04] nickludwig commented on #95336
#please-open

[2022-11-28 20:06] arindam0310018 opened #102010 "Private DNS Zone of Azure Static WebApp"
Hello Team,

While Configuring Private Endpoint of Azure Static WebApp, below Private DNS Zone gets created -
- privatelink.1.azurestaticapps.net
- privatelink.2.azurestaticapps.net

where 1 or 2 = DNS Partition ID

This completely depends upon Use Case.
I had 2 Use cases in 2 Different Subscription. On the 1st Use Case, both Private Endpoint DNS got created. In the 2nd Usecase only
"privatelink.2

[2022-11-28 20:07] mamccrea commented on #99781
Thanks for bringing this to our attention, @davegoebel! I've created a PR to fix the link. The update should be published later today.

#please-close

[2022-11-28 20:07] #99781 closed

[2022-11-28 20:08] nickludwig commented on #95336
Hey @fowl2 - This isn't exactly my area of expertise, but I will try and take a stab at helping out here.

Quick clarifying question: Was this error returned via an application you were using? Or, are you trying to make requests to AAD and are encountering this error? If the former, then it would be best to contact the app owner so they can help with this. From what you mentioned in your initial m

[2022-11-28 20:08] AjayKumar-MSFT commented on #101875
daninthemix,  I'd been discussing on this internally and we have now created PR with two new FAQs in the doc. After the signoff, the doc will reflect the published changes.

Where are the automatic backups stored?
Automatic backups are simple and stored in the same datacenter as the App Service and should not be relied upon as your disaster recovery plan.

How do I stop the automatic backup?
You c

[2022-11-28 20:12] Minewiskan commented on #101962
@Hyamyam - Thanks for letting us know. We've created a bug internally for our localization team. The issue will be tracked there.
Created FEEDBACK 747713.

#please-close

[2022-11-28 20:27] kateglee-db commented on #75632
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-28 20:34] eliro2093 opened #102011 "Incorrect Link at limitations section"
Link on limitations referring to the permissions to derivate IP Prefix range to a different subscription is incorrect. The link should be
https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/manage-custom-ip-address-prefix#permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 95644be0-72cd-fa30-42a

[2022-11-28 20:59] kateglee-db commented on #76377
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-6994) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-28 21:02] kiritbhamre opened #102012 "Azure Route Server BGP flapping with NVA"
Hello Team,

Can we update this troubleshooting document with following information?

Recently, I worked with customer, they deployed Azure Route Server and established BGP session with NVA (SD-WAN virtual appliance in Hub VNET), we were seeing BGP session flaps at random interval (not related to timers). After troubleshooting, we noticed that the reason for BGP session flap was because their appl

[2022-11-28 21:07] kateglee-db commented on #68070
@StingyJack We've created an internal work item (DOC-6995) to incorporate your suggestions. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We are closing this issue for now, but feel free to comment here as necessary.

#please-close

[2022-11-28 21:13] kateglee-db commented on #76429
Thanks for providing feedback that helps improve our documentation. This issue has been resolved (outdated content has been removed) and we are closing the issue.

#please-close

[2022-11-28 21:20] ChaitanyaNaykodi-MSFT commented on #102011
@eliro2093
Thank you for your feedback! We will review and update as appropriate.

[2022-11-28 21:21] kateglee-db commented on #76731
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-28 21:44] GeethaThatipatri-MSFT commented on #102008
@RichardNorton Thank you for reaching out. We will look into it and update you as appropriate.

[2022-11-28 21:48] zhenlan commented on #100659
@desireewilliams, thanks for the feedback. I hope this PR #102013 can make it a bit clearer.

[2022-11-28 21:54] vkurpad commented on #99709
Issue can be closed. The fix is not related to the docs, but is an internal model update

[2022-11-28 21:55] desireewilliams commented on #100659
It is clearer, thank you!

[2022-11-28 21:55] #100659 closed

[2022-11-28 21:55] seesharprun commented on #101908
@felicialobillovilela, I looked at the notes when this change was made to the article, and the 30-day retention tier was available in 2021. The 7-day retention tier is a recent addition.

#please-close

[2022-11-28 21:55] #101908 closed

[2022-11-28 22:01] laujan commented on #98985
Hi @balachander1964, we're closing this issue since the response moved to email communication. If you are still experiencing issues, please feel free to reopen this thread. Thank you for your feedback.

#please-close

[2022-11-28 22:02] laujan commented on #99709
#please-close

[2022-11-28 22:02] #99709 closed

[2022-11-28 22:03] saveripal commented on #84717
This issue is still not fixed. The code given in the tutorial is still buggy. Can you please fix it?

[2022-11-28 22:21] pl4nty commented on #101987
Looks to be fixed now

[2022-11-28 22:24] WilliamDAssafMSFT commented on #101596
Good catch @amanjeetsingh! Thanks for taking the time to create this issue. A doc update is in flight to update this article and that screenshot.

#please-close

[2022-11-28 22:24] #101596 closed

[2022-11-28 22:30] dimitri-furman commented on #101950
@PlagueHO thanks for bringing this to our attention. 1 core used to be an option for Hyperscale and Business Critical on Gen4 hardware. Since that hardware is being retired and is no longer available for most customers, we will update this article to reflect 2 cores as the minimum number of cores for these service tiers.

[2022-11-28 22:44] sethmanheim commented on #84717
@saveripal Thank you for the comments. The dev team is aware of these issues and is working on a fix. We apologize for the delay.

[2022-11-28 22:48] spokanedj opened #102014 "Wrong font file name"
The font file to install is "scriptin.ttf" in the InstallFont.ps1 file of the CustomFontSample solution.  There is no file with that name in the solution,   However, there is a FrederickatheGreat-Regular.ttf file and that is what the doc refers to as well.

The document should also be updated to address system vs per user fonts that were introduced and how that affects this.

---
#### Document Det

[2022-11-28 23:25] fowl2 commented on #95336
I received the message from Windows Settings.

[2022-11-28 23:28] ChrisRomp opened #102015 "articles/event-grid/configure-private-endpoints.md - code sample missing quote"
The "Create a private endpoint" section code sample is missing a quote at the end of the resource identifier string.

Line: 140

Code block (fixed):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b4e04eb6-b319-0a70-93a2-4f732c9e2e7b
* Version Independent ID: 52173e04-fe7e-8211-29bf-876ebdea77ef
* Content: [Con

[2022-11-28 23:38] VitalyMCT opened #102016 "Data Workload Assessment Model and Tool"
This tool was last updated 1.5 years ago and is thus quite out of date.

For example, it references Azure SQL DW instead of Dedicated SQL Pools in Azure Synapse Analytics. This diminishes this otherwise excellent tool's usefulness and credibility with clients.

Is a new version of the spreadsheet available or in development?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-11-29 00:25] Neurobit1 commented on #96376
Thanks for posting this. Unfortunately, on PANOS 10.2 and up, this feature is command is nowhere to be found in the CLI.

Not sure if the command has changed. I've reached to PAN for feedback on how to enable this.

If anyone knows, please post it here.

Cheers,
Neurobit

[2022-11-29 01:43] AdamGuan13 commented on #101973
@MGoedtel
Could you please help me to confirm the availability of workload identity in China Azure?
Many thanks in advance!

[2022-11-29 02:07] smd134 opened #102017 "Notation for configmap name is required"
The documentation talks about an existing Configmap, but it's easy to misunderstand.
There is a configmap named "container-azm-ms-aks-k8scluster" in the actual AKS cluster, but if you add settings here, it is not reflected.
Apparently, a configmap needs to be created with the name "container-azm-ms-agentconfig" to detect and restart the ama pods.
Therefore, it is necessary to specify which name of

[2022-11-29 02:23] imeya commented on #101721
Hi @ggailey777 , thanks for the document. I think it's better to point it out that Shared / Free service plan is not supported here:
![image](https://user-images.githubusercontent.com/25738099/204423181-783e13fd-35a2-405f-ba4e-f502aa90cdd3.png)

[2022-11-29 03:03] van1989 opened #102018 "Can't Create and configure an Azure Active Directory Domain Services managed domain"
Hi, everybody.
I am trying to Create and configure an Azure Active Directory Domain Services managed domain.
But after deploying the domain, the Required configuration steps section does not display Update DNS settings for the Azure virtual network as the documentation, but shows it as shown below.

![image](https://user-images.githubusercontent.com/81602090/204427482-38a173ad-7562-4788-a4d6-76cff

[2022-11-29 03:17] Naveenommi-MSFT commented on #102001
@sagarkeswani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 03:19] Naveenommi-MSFT commented on #102005
@kevelife
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-29 03:19] Naveenommi-MSFT commented on #102005
@bmansheim
Could you please review add comments on this, update as appropriate.

[2022-11-29 03:22] Naveenommi-MSFT commented on #102009
@denniszielke
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 03:26] BryanTrach-MSFT commented on #100209
@JasonFreeberg Can you look at @mshyatsu's feedback to see if the doc needs updating?

[2022-11-29 03:37] jmprieur commented on #91212
Closing as a solution was proposed to troubleshoot

[2022-11-29 03:38] jmprieur commented on #91212
#please-close

[2022-11-29 03:38] #91212 closed

[2022-11-29 03:43] LucianFrango opened #102019 "Missing PowerShell example"
Outdated wording: "Complete PowerShell examples are pending."
Please add an example for PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions](https://learn.

[2022-11-29 03:47] jmprieur commented on #91860
Addressed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/219734

[2022-11-29 03:53] jmprieur commented on #91931
This is explained in the article ([step 1.3](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-3-AnyOrgOrPersonal#step-1-register-the-sample-with-your-azure-ad-tenant) in the ASP.NET Core tutorial. You can generalize this step to web apps in any language.)

[2022-11-29 03:59] jmprieur commented on #91931
#please-close

[2022-11-29 03:59] #91931 closed

[2022-11-29 04:00] RamanathanChinnappan-MSFT commented on #101907
@@MattacksWTW

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-29 04:00] #101907 closed

[2022-11-29 04:02] jmprieur commented on #96096
Closing as managed identity is only useful for the client credentials flow (Daemon apps), that is, in this case web APIs calling downstream web APIs on behalf of themselves. We'll add MSI to the daemon scenario.

This is still useful to have certificates or client secrets or client assertions to call downstream web APIs on behalf of a user.

[2022-11-29 04:02] jmprieur commented on #96096
#please-close

[2022-11-29 04:02] #96096 closed

[2022-11-29 04:03] jmprieur commented on #96622
Updated (see linked PR)
#please-close

[2022-11-29 04:03] #96622 closed

[2022-11-29 04:05] jmprieur commented on #97230
This is actually in the linked pages (depending on the scenario):
See https://learn.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-app-configuration?tabs=aspnetcore#initialization-code

#please-close

[2022-11-29 04:05] #97230 closed

[2022-11-29 04:06] jmprieur commented on #98598
Will be addressed with Microsoft.Identity.Web v2.0
See https://github.com/AzureAD/microsoft-identity-web/wiki/v2.0

[2022-11-29 04:11] #91860 closed

[2022-11-29 04:21] shaktisingh-msft commented on #101983
Hi @sravanisaluru,

Could you please look into this document update request. Thanks

[2022-11-29 04:25] SadiqhAhmed-MSFT commented on #102001
@sagarkeswani Thank you for reaching out to us. This channel is meant for driving improvements related to the Azure documentation. If you are keen to understand about the collection of data for the recommendations provided by Advisor, you may contact Azure technical support team by raising support request. Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to

[2022-11-29 04:55] SnehaAgrawal-MSFT commented on #102014
@spokanedj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-29 04:55] KapilAnanth-MSFT commented on #85395
@NiKiZe, thank you for bringing this to our attention.
I shall follow-up with the content authors internally and update this thread with our findings.

[2022-11-29 04:56] SnehaAgrawal-MSFT commented on #102010
@arindam0310018 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-29 05:14] SaibabaBalapur-MSFT commented on #102012
@kiritbhamre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:15] JFarlette commented on #101940
So the issue is now closed so in theory it has been merged and fixed?  It does not look like it to me.  The duplicate paragraph still exists.

[2022-11-29 05:17] SaibabaBalapur-MSFT commented on #102015
@ChrisRomp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:19] SaibabaBalapur-MSFT commented on #102016
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:21] SaibabaBalapur-MSFT commented on #102017
@smd134
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:22] SnehaAgrawal-MSFT commented on #101788
@toku345
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-11-29 05:22] MayankBargali-MSFT commented on #102015
@ChrisRomp Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-11-29 05:23] SaibabaBalapur-MSFT commented on #102019
@LucianFrango
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:29] SaibabaBalapur-MSFT commented on #101979
@noontz
this tread resolved by customer.

[2022-11-29 05:30] Thilig opened #102022 "Azure permission "Microsoft.Resources/subscriptions/resources/write" cannot be located"
Hi Team,

When following the Microsoft documentation for "Azure Database Copy",
(https://learn.microsoft.com/en-us/azure/azure-sql/database/database-copy?view=azuresql&tabs=azure-powershell#azure-rbac-roles-and-permissions-to-manage-database-copy),
under "**Azure RBAC roles and permissions to manage database copy**" Section it states as follows.

"
To manage database copy using the Azure portal, y

[2022-11-29 05:32] #102015 closed

[2022-11-29 05:48] SaibabaBalapur-MSFT commented on #102018
@van1989
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:52] SaibabaBalapur-MSFT commented on #102022
@Thilig
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 05:54] RamanathanChinnappan-MSFT commented on #101995
@clintsherwood

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-29 05:55] MughundhanRaveendran-MSFT commented on #102019
@LucianFrango , Thanks for the feedback, you can refer to the below starter powershell script for eventhub trigger

param($eventHubMessages, $TriggerMetadata)

Write-Host "PowerShell eventhub trigger function called for message array: $eventHubMessages"

$eventHubMessages | ForEach-Object { Write-Host "Processed message: $_" }

I will work to add the sample in the document.

[2022-11-29 06:02] SadiqhAhmed-MSFT commented on #101941
@Vikram1988 Could you please review ask here and help with doc updates?

[2022-11-29 06:21] ManoharLakkoju-MSFT commented on #101987
@dkurepa
 We are able to download the Azcopy 10 version. The article is UpToDate.

 If the issue still persist, please try in different browser [Find where your browser is saving downloads](https://support.microsoft.com/en-us/microsoft-edge/find-where-your-browser-is-saving-downloads-d3e83af6-68bb-aa90-3167-eeb657013902)

This article provides all version of azcopy download's files: https://github

[2022-11-29 06:23] SaibabaBalapur-MSFT commented on #101980
@wstinkens
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-29 06:25] pdhimate opened #102024 "Hierarchical PArtition Keys are not supported in current latest version of the SDK v3.31.2"
![image](https://user-images.githubusercontent.com/1121826/204454627-35de11ee-a44a-43d9-a691-609e1c246800.png)

[Am I using the SDK correctly?]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba057b3-d2d0-8c8b-4cef-3e9ef584b845
* Version Independent ID: 0322072a-214e-960d-74c2-29435d8f055e
* Content: [Hierarchical par

[2022-11-29 06:30] MughundhanRaveendran-MSFT commented on #101811
Closing this issue. Feel free to reopen if required

[2022-11-29 06:30] #101811 closed

[2022-11-29 06:52] shaktisingh-msft commented on #102024
Hi @pdhimate ,

Thanks for sharing this feedback. May I know if the .NET SDK version used in this case is v3, 31.2?

[2022-11-29 07:11] sravanisaluru commented on #101983
let me review this and i will update the document

[2022-11-29 07:14] pdhimate commented on #102024
Yes

[2022-11-29 07:19] sidharthk123 opened #102027 "Azure partner center product feature availability PUT method is not working."
# Azure partner center product feature availability PUT method is not working.

When I try to update the custom meters by using this API `https://api.partner.microsoft.com/v1.0/ingestion/products/:productID/featureavailabilities/:featureAvailabilityID` (PUT Method), I'm facing an issue with updating product feature data.
The API response is the below message.
"Value cannot be null.\r\nParameter na

[2022-11-29 07:23] johamms opened #102028 "minimum subnet size modification required"
[Enter feedback here]

https://learn.microsoft.com/en-us/azure/app-service/overview-vnet-integration#subnet-requirements
wrong statement
When you're creating subnets in Azure portal as part of integrating with the virtual network, a minimum size of /27 is required -> a minimum size of /24 is required

https://learn.microsoft.com/en-us/azure/logic-apps/secure-single-tenant-workflow-virtual-network-

[2022-11-29 07:41] msclbu opened #102029 "functions-infrastructure-as-code.md documentation contains incorrect informaton"
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/functions-infrastructure-as-code.md

In the section on creating a consumption plan, the serverfarms schema contains incorrect information.

![image](https://user-images.githubusercontent.com/51323537/204467710-a3cddf59-eb2d-48aa-9e21-5023dff47c60.png)

The property "computeMode" is invalid on template validation and eve

[2022-11-29 07:50] SaibabaBalapur-MSFT commented on #102027
@sidharthk123
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-29 07:58] SaibabaBalapur-MSFT commented on #102029
@msclbu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 07:58] madsd commented on #102028
Looks like you are creating a functions plan. The limitations for that is documented here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-networking-options?tabs=azure-cli#subnets
(/24 for Windows and /26 for Linux)

[2022-11-29 08:01] SaibabaBalapur-MSFT commented on #102028
@johamms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 08:02] johamms commented on #102028
It's a logic app App service plan.

[2022-11-29 08:12] Marusyk commented on #101813
Hi @ambientlight, thanks. Can you describe a little bit more about  "fetch continuously for a visible viewport area"?
Thank you in advance

[2022-11-29 08:17] madsd commented on #102028
Can you describe the steps used to create/repro it? This seems to be logic apps specific, and I just need to confirm from your repro steps to route appropriately.

[2022-11-29 08:17] sidharthk123 commented on #102027
Hi @SaibabaBalapur-MSFT ,
thank you for your quick response, here I've mentioned two URLs, both of them are the same but if you want to jump the exact API then you can open the 1st  URL. if you click the 2nd one then you can see a collection of azure marketplace APIs.
1) feature availability https://ingestionapi-swagger.azureedge.net/#/FeatureAvailability/put_products__productID__featureavailabili

[2022-11-29 08:22] SaibabaBalapur-MSFT commented on #102027
Hi @sidharthk123 those are third party links, please help us with Microsoft URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-29 08:30] sidharthk123 commented on #102027
if you open this link
`https://learn.microsoft.com/en-us/azure/marketplace/azure-app-apis`
then you can see the swagger link.
Please check out the below image this will help you to open the swagger documentation.

![image](https://user-images.githubusercontent.com/119398507/204478299-e0aefea9-3539-4962-8046-8ddd849651ef.png)

[2022-11-29 08:31] SaibabaBalapur-MSFT commented on #102027
Thanks @sidharthk123

[2022-11-29 08:31] o-l-a-v opened #102031 "What about parameters with default value?"
How do you deploy Bicep with parameters that has a default value? From the PowerShell world, I'm used with the idea of, if you don't provide a value, the default value will be used. But `New-AzDeployment` prompts for a parameter with default value, I press enter without entering anything, and it crashes.

* Az.Accounts 2.10.3
* Az.Resources 6.4.1
* Bicep CLI v0.12.40

<details><summary>Example fil

[2022-11-29 08:35] johamms commented on #102028
Logic app standard->networking>vnet integration>add vnet>

Logic app standard->networking>vnet integration>add vnet>creating subnet

![image](https://user-images.githubusercontent.com/87801298/204479273-6bf353ac-aed8-4057-be0e-19cf3f8d64ce.png)

[2022-11-29 08:50] taiyokato opened #102032 "Outdated VM SKUs and OS versions listed"
This doc has old GPU VM SKUs and OS versions listed.
For example Ubuntu 16.04 is deprecated in Batch.
Can we have this doc updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 29f11c3e-b675-e959-2fef-c6518aff768b
* Version Independent ID: ba5a4c7f-2341-d096-3212-9451c4a43a42
* Content: [Use compute-intensive Azure

[2022-11-29 08:50] sergiosolorzano opened #102033 "Why dttelemetry in SignalRConnectionInfo(HubName = "dttelemetry")?"
Is there criteria to choose the SignalRConnectionInfo HubName binding? Why dttelemetry in this case?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bd6ec03a-2145-430a-b3c5-335194fd830e
* Version Independent ID: a8078c69-a76b-79e8-f8c0-93eb394562ea
* Content: [Integrate with Azure SignalR Service

[2022-11-29 09:14] ambientlight commented on #101813
Visible viewport is the bounding box of your map's canvas visible area: `map.getCamera().bounds // -> [-122.42606163024931, 47.598986793166574, -122.24392890930199, 47.641104254223336]`

If you are authoring the datasource, you may have the possibility to implement the support for such filtering-by-the-visible-area on backend to cut down the number of returned results, and since they are paged, in

[2022-11-29 09:27] bertrandpons opened #102035 "Request file extension vs URL file extension"
Hello,

Is URL file extension condition in classic mode the equivalent of Request file extension in standard/premium mode?

Thank you in advance for the clarification.

Best regards,

Bertrand Pons

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2facf12e-6b67-28b6-3504-08ae493f6e39
* Version Independent ID: bf977608-7c

[2022-11-29 09:57] kengaderdus commented on #91290
@justin-ruffin

Thanks again for taking time to give us more information. Our product team is tracking and prioritizing this issue internally. We'll now close this issue. #please-close

[2022-11-29 09:57] #91290 closed

[2022-11-29 10:00] MughundhanRaveendran-MSFT commented on #102019
The example is added and it will be published soon

[2022-11-29 10:00] #102019 closed

[2022-11-29 10:00] KapilAnanth-MSFT commented on #102035
@bertrandpons, Thanks for your feedback. We shall review it and get back to you soon.

[2022-11-29 10:07] KapilAnanth-MSFT commented on #102035
@bertrandpons, I do not see any mention of URL file extension condition in classic mode.
In fact, I can see Request file extension available in both classic and standard/premium.

[2022-11-29 10:07] kengaderdus commented on #100903
@jhaynes3021

Thanks again for taking time to give us feedback. We're aware of this investigation, and we share your concern. We'll continue to monitor as investigations continue till completion. Please also note that when we document a partner integration with our product, we're simply addressing our customer's needs, and not endorsing or recommending it. #please-close

[2022-11-29 10:07] #100903 closed

[2022-11-29 10:12] bertrandpons commented on #102035
@KapilAnanth-MSFT however, in the portal, if I create a classic Microsoft CDN, then I add an endpoint et set a rule, I can see the condition "URL File extension". It does not seem to be reflected in the documentation, that is why I am asking also
![image](https://user-images.githubusercontent.com/26971151/204501222-fd865d32-9cb3-44e1-b6e2-b4e5f0c72e6b.png)

[2022-11-29 10:13] MughundhanRaveendran-MSFT commented on #102029
@msclbu , Computemode works for me when I use it in the json ARM template. Please try this ARM template for reference : https://github.com/Azure-Samples/function-app-arm-templates/tree/main/function-app-windows-consumption

[2022-11-29 10:24] NaridaL opened #102037 "Interaction of VM custom script extension and VM automatic OS ugprades."
The documentation on https://learn.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade says that extensions will be run after replacing the OS drive. The CSE docs say that a script will be prevented from running again if it already ran with the exact same settings. https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-window

[2022-11-29 10:40] noueh commented on #99477
Hi @laujan I mistyped "PR" should have written this "Issue". I can't  confirm any PR related with this Issue.

[2022-11-29 10:45] noueh commented on #99477
Hi @verb55nta , if you have any specific ideas on how to fix the document, could you please share them on here?

[2022-11-29 10:59] noontz opened #102038 ""swa" command not recognised in VS code terminal"
Im trying to follow your guide

Already at the Get Started part I stumble on this one:

Run "npm install @azure/static-web-apps-cli" from the terminal in VS code

Install fine but now I have 5 vulnerabilities in my project?

Run "swa init" from the terminal in VS code

This is what I get:

PS H:\Repos\AzureTest\test> swa start
swa : The term 'swa' is not recognized as the name of a cmdlet, functio

[2022-11-29 11:02] v-ksreedevan commented on #101830
#reassign: @rashi-ms

[2022-11-29 11:05] bartdelleman commented on #65988
I was able to get it to work by escaping the the double qoutes with a backward-slash. So you will get: `'[{\"category\": \"AuditEvent\",\"enabled\": true}]'`.

It has something to do with PowerShell parsing the JSON which causes the double quotes to be lost.

You can check documentation on that here: https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md

Hope this helps

[2022-11-29 11:09] verb55nta commented on #99477
Sorry, there are no discussion available on public about this Issue.

[2022-11-29 11:12] rndthoughts opened #102039 "NuGet Package article refers to is deprecated - where are official docs for replacement package?"
As far as I can work out, this entire page refers to a deprecated package (Microsoft.Azure.Storage.Blobs). NuGet informs me I should not be using this but "Azure.Storage.Blobs" instead.  I cannot find any documentation on obtaining a user delegation SAS in the official documentation?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-11-29 11:31] jalal-sh opened #102040 "One mention of disks in the page and no further details"
On this page introduction:

The "and disks" part is very unclear and it took quite some time from me trying to figure out the link between Azure Storage account and disks. While I later found my answer. This page would benefit from clarifying that or at least providing a link to the managed disk article.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-11-29 11:49] Tafelhase opened #102041 "Documentation outdated deu to EA portal decomission."
Documentation outdated deu to EA portal decomission.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: de9e3c70-0250-a112-3298-f78e9f8989a4
* Version Independent ID: 2d7a8e8b-6574-3e4d-b56e-3d4e04a391ef
* Content: [Assign access to Cost Management data - Microsoft Cost Management](https://learn.microsoft.com/en-us/azure/

[2022-11-29 12:13] TAAGECH9 opened #102042 "Deprecated: Container-scan Github Actions"
Hi there

I really love this github Action that you suggested for this documentation page. I used this reference to scan container images in our current codebase at work. Unfortunately I have two issues with this page and would highly appreciate feedback/input/comments from your side regarding those points:

1. The suggested version is still a `Pre-release` version and not yet something that is al

[2022-11-29 12:39] filippopovic commented on #95884
@azaricstefan could you please take a look?

[2022-11-29 13:01] mjang-cobalt commented on #102000
Hi, @Naveenommi-MSFT , the documentation we're following is: https://learn.microsoft.com/en-us/azure/active-directory/saas-apps/cobalt-tutorial, which I linked to in my original note.

My bad for not putting the link in your preferred format.

As for our documentation, we hope to make your article into the "Single Source of Truth" for integration between Cobalt and Microsoft Azure. We'd link to it

[2022-11-29 13:16] lewisd79 opened #102043 "MC470137 - "Issues in your environment that require action.""
Hi

With the introduction of MC470137. Does this page/script need updating to include the new addition of "Issues in your environment that require action."

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf7f899a-dc8d-9ee9-d356-fb573ef71113
* Version Independent ID: 68d00a19-db6b-500c-1e19-1706fd0e6e0d
* Cont

[2022-11-29 13:27] kiranpradeep opened #102044 "Usage of term: iot edge runtime vs iot edge framework"
Azure docs in general repeatedly mentioned Azure Iot Edge as runtime. But, here there is no runtime like JRE or node. Isn't iot edge more of a framework as it defines how applications are to be written and communicates with each other?

If the term runtime refers to collection of edgeAgent and edgeHub, no applications are running on top of them. It just triggers.  They are just means for edge modu

[2022-11-29 13:31] VikasPullagura-MSFT commented on #102032
@taiyokato
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-29 13:31] VikasPullagura-MSFT commented on #102032
@harperche
Can you please check and add your comments on this doc update request as applicable.

[2022-11-29 13:33] VikasPullagura-MSFT commented on #102037
@NaridaL
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-29 13:33] VikasPullagura-MSFT commented on #102037
@MsGabsta
Can you please check and add your comments on this doc update request as applicable.

[2022-11-29 13:38] MonikaReddy-MSFT commented on #101890
@myob-hankun - We are currently looking into it and I will get back to you as soon as possible. Thank you for your patience.

[2022-11-29 13:39] KapilAnanth-MSFT commented on #102035
@bertrandpons, the document provided here is for Azure Front Door, not CDN.

CDN documentation explains this Match condition here : https://learn.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-match-conditions#url-file-extension

[2022-11-29 13:51] guywi-ms commented on #96612
@webczat Thanks for your question and apologies for the delayed response!
- workspaces not linked to a dedicated cluster are assigned to a shared cluster. These shared clusters may be AZ-enabled or not, it depends on a number of parameters (location, cluster creation date etc.) and there is no way to assure that for a specific workspace. If your workspace is connected to a shared cluster that isn'

[2022-11-29 13:51] #96612 closed

[2022-11-29 13:51] guywi-ms commented on #100451
@andrePKI You can configure a dedicated cluster for Availability Zones, which provides higher resiliency against data center infrastructure incidents. However, the Azure Monitor Logs service in its entirety is currently protected by Availability Zones only in East US 2 and West US 2. In other words, the data is protected, but service continuity (ingestion and query) is still only supported in thes

[2022-11-29 13:51] #100451 closed

[2022-11-29 13:53] MonikaReddy-MSFT commented on #102042
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-11-29 13:56] guywi-ms commented on #101336
#reassign: @v-jbasden

@v-jbasden can you please update this image?

[2022-11-29 14:03] jikuja opened #102047 "Documentation should mention that ARM deployment debug logging supports only main template"
Looks like ARM deplyment debug setting is not applied for nested templates/modules. This should be mentinoned in the documentations.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 12b7af55-c956-4e9f-569c-86f4b6f06a53
* Version Independent ID: f62b535e-496d-29c0-2336-d124283bfd9f
* Content: [Enable debug logging - Azur

[2022-11-29 14:04] dkurepa commented on #101987
The links work now, thank you!

[2022-11-29 14:04] #101987 closed

[2022-11-29 14:27] bertrandpons commented on #102035
@KapilAnanth-MSFT ok so can you explain the difference between the CDN feature of Azure Front Door standard/premium and Microsoft CDN classic ? I don't really understand what needs to be used or not...
Thank you and best regards,
Bertrand Pons

[2022-11-29 14:38] Naveenommi-MSFT commented on #102031
@o-l-a-v
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 14:39] MGoedtel commented on #101973
@AdamGuan13 - I've confirmed with the product group that it is available in Azure China. In the future, please don't open a GitHub issue for these types of questions, you can email us internally. Thanks. #please-close

[2022-11-29 14:39] #101973 closed

[2022-11-29 14:46] Naveenommi-MSFT commented on #102033
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 14:54] Naveenommi-MSFT commented on #102038
@noontz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 14:56] #101965 closed

[2022-11-29 14:57] Naveenommi-MSFT commented on #102039
@rndthoughts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 14:59] Naveenommi-MSFT commented on #102040
@jalal-sh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 15:01] Waiver-Wire-Addict opened #102048 "Feedback - Bad Choice for example Trigger"
[Enter feedback here]
So, the HTTP Trigger being the simplest trigger is a bad choice.  The ONLY time the HTTP trigger consumes/interacts with OTHER Azure resources when you deploy the function, which I might do until I am going to prod with Local Dev--Azure costs money.  You don't have a clear how-to on a Trigger like a Blob Storage trigger that in addition to its code has Azure configuration tha

[2022-11-29 15:05] ramski85 opened #102049 "How automatic failover works using Traffic Manager"
[Enter feedback here]

Section How automatic failover works using Traffic Manager should be better described. Your explanation suggests that Traffic Manager is something in path. IT would be better to explain based on example how DNS record changes during failover to refer to other document where IT is explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic