[2021-01-20 16:25] andy-clapham commented on #68849
Yes this isn't about the documentation, It's about where and how this documentation is linked from. In the main azure database site you get a graph of measures. There is a popup that takes you to this page. However the concept of changing colours is quite trivial, and fairly obvious (although from a UX perspective it should defined on the measure definition rather than from the key on the graph it

[2021-01-20 16:26] DeanGross opened #69194 "Link to Next Steps"
The link to next steps takes me to the top of the same page, it should take us to another page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43125fc1-f1fb-fa8c-69a6-7866a1b3a1fe
* Version Independent ID: 174dbe2c-7469-a63a-ffd6-757272ce5c50
* Content: [Activate my Azure AD roles in PIM - Azure Active Directory](https:

[2021-01-20 16:27] VikasPullagura-MSFT commented on #69185
@greschd
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-20 16:27] VikasPullagura-MSFT commented on #69185
@vermagit
Can you please check and add your comments on this doc update request as applicable.

[2021-01-20 16:33] JamesTran-MSFT commented on #69194
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-20 16:37] JayaChatterjee-MSFT commented on #69004
@Plus3IT-Azure  Following up to understand whether you had a chance to review my previous comment?

[2021-01-20 16:47] caleteeter commented on #68603
@microbecode I am prepping a release (1.7.0) which will have the update for the hdwallet-provider.  This requires a change to a base template used for new solidity projects and the code extension.  This release is targeted for release at end of January.

For the 2/3 items, the refactored smart contract interaction is still in progress and won't be in release 1.7.0 however I can push the bits up to

[2021-01-20 16:48] BharathNimmala-MSFT commented on #68849
Thanks a lot @andy-clapham for your response and also sharing additional context on the feedback. Will certainly pass this along to respective teams to further your feedback and see if we can do anything better to improve the experience. Thanks again for taking time to share this with us.

[2021-01-20 17:07] Raffaele3D opened #69196 "no valid aps-environment entitlement string found for application"
Hi All!

I have made this tutorial

[https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started](url)

but as I run the App on iPad with iOS 14.3, I constantly receive the message **"no valid aps-environment entitlement string found for application"**

Are almost two weeks that I am struggling with this issue: is it related in some way

[2021-01-20 17:09] mathapli commented on #68249
This is done now
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd#rhel-8-using-hyper-v-manager

Can this issue be closed?

[2021-01-20 17:15] JamesTran-MSFT commented on #68249
@mathapli
Thank you for updating the docs! I'll go ahead and close out this issue.

[2021-01-20 17:15] #68249 closed

[2021-01-20 17:32] JamesTran-MSFT commented on #69009
@clemmayer
Thank you for the quick response! I didn't realize the [permissions](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-manage-inactive-user-accounts#what-permission-do-i-need-to-read-the-property) that you mentioned were in the doc.

I'll assign this issue to the author to investigate and update as appropriate.
Thank you again for your time and patience th

[2021-01-20 17:33] ChaitanyaNaykodi-MSFT commented on #69189
Hello @bengimblett,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-20 17:34] lsh-silpion opened #69197 "Code not working at https://docs.microsoft.com/en-us/azure/notification-hubs/android-sdk"
[Enter feedback here]

The code should read
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd4915d-64a9-b703-f139-91338412825a
* Version Independent ID: e731d0e6-e063-d209-7faf-82db773e5d30
* Content: [Send push notifications to Android using Azure Notification Hubs and Firebase SDK version 1.0.0-preview1](http

[2021-01-20 17:44] MonikaReddy-MSFT commented on #69181
@macolso - Thank you for providing your insights.
@magnus-longva-bouvet - I hope @macolso has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-20 17:44] #69181 closed

[2021-01-20 17:45] deathcat05 commented on #69157
Thank you, I have done that. And it seems like I've been able to utilize the `client_credentials` flow within my B2C tenant to grab users. Is this expected? I'm just trying to understand why this is working, yet it is said that `client_credentials` isn't supported.

Maybe I'm misunderstanding some things about B2C. I am logged into my B2C tenant ([tenant-name.onmicrosoft.com), and in the Azure por

[2021-01-20 17:50] axayjo commented on #60359
@amjads1, can you please look into this?

[2021-01-20 17:51] axayjo commented on #61583
@amjads1, can you please take a look?

[2021-01-20 17:51] axayjo commented on #62991
@amjads1, can you please take a look at this?

[2021-01-20 17:51] axayjo commented on #66540
@amjads1, can you please take a look at this?

[2021-01-20 17:52] axayjo commented on #67436
@amjads1, can you please take a look?

[2021-01-20 17:56] ecfan commented on #65838
Hi @lasyan3,

I'll close this issue for now as there's been no response. For future product issues, please post in the [Microsoft Q&A forum for Azure Logic Apps](https://docs.microsoft.com/en-us/answers/topics/azure-logic-apps.html) as GitHub issues is for addressing doc issues.

@mike-urnun-msft: #please-close

[2021-01-20 17:56] #65838 closed

[2021-01-20 18:10] vipulsparsh commented on #69157
@deathcat05 Yes that is normal, as the App registrations have been merged to enable this workaround.
Earlier you would use the normal Applications tab where the client _creds was not supported.

![image](https://user-images.githubusercontent.com/63580915/105216590-ca1c7d80-5b78-11eb-9731-2dc0b519ad51.png)

AAD now brings the APP registrations feature which enables to use the AAD feature and does n

[2021-01-20 18:14] deathcat05 commented on #69157
Ahhh wonderful! That was the clarification I needed. I appreciate you taking the time to answer my questions! 😄

[2021-01-20 18:25] SadiqhAhmed-MSFT commented on #68936
@dreck410 Appreciate your time and patience in this matter. Please see the table below.

![image](https://user-images.githubusercontent.com/44458118/105218244-e8837880-5b7a-11eb-9c00-bb370d8983e8.png)

Hope this helps!

[2021-01-20 18:28] danielgerlag opened #69198 "Tutorial for setting up Auth in Postman"
Would be very helpful if this included a tutorial on how to setup [Postman](https://learning.postman.com/docs/sending-requests/authorization/) to sign and send the HMAC signature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1c1d72-779b-1776-887b-efefdfa15a03
* Version Independent ID: 54a9dfce-6933-ede9-3e35-ae70a4

[2021-01-20 18:32] JamesTran-MSFT commented on #69099
@AJRus
Thank you for your patience!

[After you invite a guest user](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/one-time-passcode#user-experience-for-one-time-passcode-guest-users), the user should be able to redeem your invitation by clicking a direct link or by using the invitation email. In either case, if the user [meets the certain conditions](https://docs.mic

[2021-01-20 18:35] TravisCragg-MSFT commented on #61497
Reopening this and assigning to author as a doc enhancement to add template instructions using an arm template

[2021-01-20 18:35] Plus3IT-Azure commented on #69004
Just reviewed it, thanks for getting back. I'll have my developer try it again but this time with screenshots. I'll report back soon.

[2021-01-20 18:49] Grace-MacJones-MSFT commented on #69198
Hi @danielgerlag , Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as needed.

[2021-01-20 18:52] MashaMSFT commented on #69142
Hi @ArneSaether , thanks for your further feedback! My apologies, I believe there may be some confusion. The only functionality provided by lightweight mode is portal integration (so that you can see the SQL virtual machine resource in the portal) and being able to change the license type or the version of SQL Server. That is the only functionality available in lightweight mode, and that is docume

[2021-01-20 18:52] Grace-MacJones-MSFT commented on #69196
Hi @Raffaele3D , Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-20 18:52] jeevansd commented on #69168
@v-hagamp This is a good feedback. Can you please update the article and mention that claim can be changed as needed. The example given above is good and we can use the same in this document.

[2021-01-20 18:57] daviburg opened #69199 "Add note clarifying that SAP Program Id is case-sensitive"
Please add a note both for "Create RFC destination" step 3 and for "Receive IDoc packets from SAP" step 1 clarifying that the SAP Program Id is case-sensitive. Failure to use the same casing consistently during the configuration of SAP and Logic App may result in errors "Function IDOC_INBOUND_ASYNCHRONOUS not found" and "Non-ABAP RFC client (partner type) not supported" in SAP's tRFC Monitor (T-Co

[2021-01-20 19:04] wtcan99 opened #69200 "Using UserID instead of WorkID"
Is it possible to use UserID instead of WorkID in the mapping? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be669f51-5f2a-3e2b-ebd7-b5268e473044
* Version Independent ID: ec36c599-5a24-3317-bcd0-3c6f21902fd3
* Content: [Tutorial: Configure Workday writeback in Azure Active Directory](https://docs.microsoft.co

[2021-01-20 19:14] JorgeMendozza commented on #20564
you will search CryptographicKeys on TrustFrameworkBase.xml and yo need to put the correct name in each one, and its all.

[2021-01-20 19:38] cmmdesai commented on #69200
@wtcan99 By design, the Workday Writeback connector only supports WorkerID as the joining property. This is because the "Change_Work_Contact" workday web service requires WorkerID as the primary input parameter. UserID cannot be used as joining property.

[2021-01-20 19:44] TravisCragg-MSFT commented on #68965
@DiSae You can also update the tags using the Get-AzVm and Update-AzVm cmdlets. For Example:

Get-AzVm -ResourceGroupName myResourceGroup -Name myVM
$Vm.tags.Add("testtag","testtag")
Update-AzVm -vm $vm -ResourceGroupName myResourceGroup

[2021-01-20 19:50] himanshusinha-msft commented on #68905
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-01-20 19:56] MGoedtel commented on #68542
Looping in the PM for this solution -  @saaror to review and respond to the question.  I don't co-manage the documentation anymore for Azure Monitor and this particular solution.  Also adding @bwren who owns the content for visibility.

[2021-01-20 19:59] sakaldeepyadav opened #69201 "Currently, after Azure Sentinel is deployed on a workspace, moving the workspace to another resource group or subscription isn't supported."
The document says "Currently, after Azure Sentinel is deployed on a workspace, moving the workspace to another resource group or subscription isn't supported" but I am able to move the Sentinel onboarded LA to another RG.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00ee37bb-dd7e-29c3-76ff-7e00e

[2021-01-20 19:59] YidiQin opened #69202 "DNAseq pipeline vcf file output"
How to set my parameters if I want to output vcf files as well as delta table? I can run the pipeline successfully without changing any parameter, but then it reported errors when I changed "exportVCF" parameter from false to true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 796846ea-4dff-5c31-15f7-63fb61faccd0
* Ve

[2021-01-20 20:01] jeevansd commented on #67669
@wombling This can happen with any other app. Customers can create multiple certificates in Azure AD and then all of them can be Inactive. To correctly roll this out they have to make sure that only one active certificate is there.

[2021-01-20 20:11] DavidMwihuri01 commented on #61881
@msmimart, I believe that the API connectors are added here (https://docs.microsoft.com/en-us/azure/active-directory/external-identities/self-service-sign-up-add-api-connector which is actually the next step of the process given at the bottom of the document.

[2021-01-20 20:16] emmajdong commented on #63878
The engineering team has addressed this issue. #please-close

[2021-01-20 20:16] #63878 closed

[2021-01-20 20:20] lauradolan commented on #69199
Thanks, I've created a work item to fix this.  #please-close

[2021-01-20 20:20] #69199 closed

[2021-01-20 20:32] oakintunde opened #69203 "Update the link on the AKS cluster configuration blade to point to the article on AKS-managed Azure Active Directory integration"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff
* Version Independent ID: 3611b478-6df6-f5cd-563d-2fff6cfec9ef
* Content: [Integrate Azure Active Directory with Azure Kubernetes Service (legacy) - Azure Kubernetes Service](https://docs.microsoft.com/en-ca/azure/

[2021-01-20 20:35] psddp opened #69204 "Developer portal itself is also not accessible"
There is a note saying;

But, the Developer portal itself is also not accessible.
Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0666302-7986-481e-97a0-2515d5c60210
* Version Independent ID: 2d45104c-c3ec-4432-ea6f-117ca53ed8cb
* Content: [Use Azure API Management with internal virtual networks

[2021-01-20 20:43] Grace-MacJones-MSFT commented on #69197
Hi @lsh-silpion , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-01-20 20:52] Grace-MacJones-MSFT commented on #68932
Upon further review, we feel your feedback would be best received by the doc author to update the current doc as necessary.

@Juliako can you please look into this? Thanks

[2021-01-20 21:13] SorraTheOrc commented on #60401
Sorry I was unaware this had been assigned to me for some reason. I am not the right PoC unfortunately.

#reassign @Dbakevlar

[2021-01-20 21:22] yohny opened #69207 "Snippet based setup"
The code snipped for [Snippet based setup](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#snippet-based-setup) at this documentation page is different than the snipped in readme [here](https://github.com/microsoft/ApplicationInsights-JS#snippet-setup-ignore-if-using-npm-setup)

This has happened multiple times before :disappointed:
https://github.com/MicrosoftDocs/azure-docs/i

[2021-01-20 21:30] hophanms commented on #68905
We don't have exact example for your scenario with Python yet. But in general, our API is compatible with Atlas API.

#please-close

[2021-01-20 21:30] #68905 closed

[2021-01-20 21:31] wizdes opened #69208 "TFP claim not documented"
I'm not seeing the TFP claim documented in this doc here; looks like for v2 tokens, it's replacing ACR:

https://stackoverflow.com/questions/46688455/in-azure-ad-b2c-should-the-acr-or-tfp-claim-have-the-policy-name

Can the documentation be updated to include more details on ACR/TFP for v2 tokens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-01-20 21:32] hpsin commented on #69208
That's for B2C tokens, not Azure AD access tokens.  We have slightly different claims between the two systems.

[2021-01-20 21:35] nitinme commented on #69072
There's already a pivot at the top of the article that provides information related to using Python. Hope that addresses your need.

https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?WT.mc_id=AI-MVP-5003365&tabs=visual-studio&pivots=programming-language-python

#please-close

[2021-01-20 21:35] #69072 closed

[2021-01-20 21:41] ecfan commented on #68808
@khha, this capability was disabled in Oct 2020, so I'll make a note that flows created after this time don't support export to Azure Logic Apps.

[2021-01-20 21:45] jvplopper opened #69210 "What is the expected behavior for Clients that are not CAE-capable?"
This might be a question for the FAQ section on this page.  I'm wondering what the expected behavior for clients that aren't CAE-capable (e.g. iOS Mail client)?  For these non-CAE-capable clients, are their access tokens granted in such a way that they just can't taken advantage of the benefits of CAE?  Or would they actually be sent a 401+ Claim Challenge and end up in a weird untested and undesi

[2021-01-20 21:52] ggailey777 commented on #64551
The article that you are commenting on is written specifically for Visual Studio Code. Have you tried the [Visual Studio 2019-specific version](https://docs.microsoft.com/azure/azure-functions/functions-create-your-first-function-visual-studio)? #please-close

[2021-01-20 21:52] #64551 closed

[2021-01-20 21:53] mpchen opened #69211 "What are the roles/privileges needed for creating a policy exemption?"
It is not clear to me what the privileges/roles are needed for creating a policy assignment. According to the doc, it seems that "resource policy contributor" role is sufficient. But the doc also mentions the following -

"Beyond requiring the Microsoft.Authorization/policyExemptions/write operation on the resource hierarchy or individual resource, the creator of an exemption must have the exempt/

[2021-01-20 22:02] Brueacre opened #69214 "REST API's Compute Resume out of date"
For Synapse SQL Pools the compute REST API for resume is incorrect on the page. It points to SQL Server and not to Synapse SQL Pools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95eb3903-d171-d3c9-180e-a49e14522f27
* Version Independent ID: 44cece14-8e57-4d3b-6e5c-2a8ffe719be5
* Content: [Pause, resume, scale with R

[2021-01-20 22:06] DCtheGeek commented on #69211
#assign:DCtheGeek

[2021-01-20 22:06] DCtheGeek commented on #69211
#label:"product-question"

[2021-01-20 22:12] eugen-nw commented on #68527
Thanks very much!  I did not have the aks-preview extension installed.  Once I installed it I could see both --enable-managed-identity and --assign-identity switches listed in the "az aks update --help" command.

[2021-01-20 22:12] #68527 closed

[2021-01-20 22:17] bandersmsft commented on #68631
@dcolebatch What error do you with the reader role?

[2021-01-20 22:17] DCtheGeek commented on #69211
@mpchen Thanks for the question.  **Resource Policy Contributor** has both _read_ and _write_ operations on **Microsoft.Authorization/policyexemptions/**, which is the first piece required to work with policy exemptions. A security principal would need the _write_ operation on the scope for the exemption (resource, resource group, etc.).  In addition to _write_, a security principal requires the _

[2021-01-20 22:17] DCtheGeek commented on #69211
#label:"in-progress"

[2021-01-20 22:18] lfittl-msft commented on #69179
@yahorsi Thanks for opening an issue & reaching out.

I believe these two documents address what you are asking for (in the how to section, instead of concepts section)

https://docs.microsoft.com/en-us/azure/mysql/howto-configure-sign-in-azure-ad-authentication
https://docs.microsoft.com/en-us/azure/mysql/howto-connect-with-managed-identity

This should address both (1) and (2) that you mentioned

[2021-01-20 22:27] aahill commented on #66155
I wasn't able to procure a sample from the product team.

#please-close

[2021-01-20 22:27] #66155 closed

[2021-01-20 22:27] yahorsi commented on #69179
Guys you are awesome, thank you.

[2021-01-20 22:27] #69179 closed

[2021-01-20 22:44] sharebear commented on #18737
@TravisCragg-MSFT the page you linked to no longer has the guidance. The issues with the outgoing rule appear to still be present (currently fighting this now).

[2021-01-20 22:48] amit17051980 opened #69215 "Grant Type : Refresh Token not being recognised."
Please see the screenshot below. It is not recognising the grant_type as shown. Please check and confirm if this is an interim issue while using from postman or java standalone code. It is not working from both the places.

https://docs.microsoft.com/en-us/answers/questions/238954/grant-type-39refresh-token39-seems-to-be-not-recog.html

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-01-20 22:59] eljacobsen12 commented on #69149
Thank you, I appreciate the response.

[2021-01-20 23:05] mpchen commented on #69211
Thanks @DCtheGeek.

"A security principal would need the write operation on the scope for the exemption (resource, resource group, etc.)"
--> So if the scope is subscription, "write" operation on subscription would require "contributor" role? Or we need to create a custom role with "*/write"? Is there any way to restrict this further? "write" operation on anything within subscription is too high a

[2021-01-20 23:08] jlrd opened #69216 ""Provided that you have subscription access""
On this page item number 4 under "Connect to on-premises data" there is the statement "Provided that you have subscription access" but does not really clarify "what" level of access these users will need in order to see, select, or use the Gateway Resource. In my specific scenario our devs/users are creating LogicApps in a subscription dedicated to their team. The on-premises data gateway and acco

[2021-01-20 23:09] DCtheGeek commented on #69211
It's not `*/write`, it's `Microsoft.Authorization/policyexemptions/write`.  **Resource Policy Contributor** has this operation already, but if you want to craft the restrictions, that's the operation you'd need at the right scope for your new custom role.

And it's not "all policy assignments" at that level, just the policy assignment at that scope you want to enable the security principal to crea

[2021-01-20 23:12] JamesTran-MSFT commented on #69215
@amit17051980
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-20 23:31] dcbrown16 opened #69217 "Private Endpoint metrics"
Private Endpoints display two metrics, Bytes In and Bytes Out.
Are these metrics available for use? I have notes that they have existed for over a year but they still aren't in this document. Please add them if they are supported now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
*

[2021-01-20 23:36] jcolemn3 commented on #55313
Any updates on this? I am facing a similar issue to what the original poster describes. Is there an official workaround on how to handle the "200OK" status code with a modified policy?

What I came up with:
`
<check-header name="Origin" failed-check-httpcode="403" failed-check-error-message="Origin is not allowed" ignore-case="true">
            <value>origin1</value>
            <value>origin2</v

[2021-01-20 23:44] omerzubair opened #69219 "Function App with Private endpoint+Regional VNet using on-prem proxy server"
I am unable to find any guidance for function app to use on-prem proxy server after the function app is communicating outbound using regional VNET integration + Private endpoint.

We want the function app to talk to dev.azure.com and want it to go **Functionapp->VNET->ExpressRoute->on-prem->proxy->gateway->dev.azure.com**

please help

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-01-20 23:47] Grace-MacJones-MSFT commented on #69180
Hi @gix111, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-20 23:50] Grace-MacJones-MSFT commented on #69201
Hi @sakaldeepyadav , thanks for your feedback! We will review and update this doc accordingly.

[2021-01-21 00:02] maqsoodahmad opened #69220 "Include DNS Configuration for the domain"
Hi

I'm getting errors when joindomain extension runs
I googled and lots of others are having same issue.
Please include this as well in this tutorial so others don't get into this trap

Thanks
Maqsood

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62

[2021-01-21 00:07] iLikeAzureSQL opened #69221 "Python Control Script"
I believe the python control script should be like this:
config = ScriptRunConfig(source_directory='./tutorials/src', script='hello.py', compute_target='cpu-cluster')
instead of
config = ScriptRunConfig(source_directory='./src', script='hello.py', compute_target='cpu-cluster')

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-01-21 00:14] MarileeTurscak-MSFT commented on #69210
@jvplopper
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 00:16] Grace-MacJones-MSFT commented on #69141
Hello @IanMercer can you please specify what part of the doc you are referring to so we can make the right update to the doc?

[2021-01-21 00:35] Grace-MacJones-MSFT commented on #69193
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-21 00:38] JamesTran-MSFT commented on #69215
@amit17051980
Thank you for your post! I was able to follow the documentation and successfully ran the refresh token grant type within Postman, I'll post my steps below.

**Microsoft identity platform and OAuth 2.0 authorization code flow:**
-First I [requested an authorization code](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-c

[2021-01-21 00:39] Grace-MacJones-MSFT commented on #69214
Hi @Brueacre , thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-21 00:42] Grace-MacJones-MSFT commented on #69207
Hi @yohny , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-01-21 00:43] Grace-MacJones-MSFT commented on #69202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-21 00:44] TravisCragg-MSFT commented on #69203
@oakintunde Thanks for the feedback! I am following up with this issue to get this linked change.

[2021-01-21 00:45] mgblythe commented on #68699
@mol-lux - thanks for the feedback. We're doing a revamp on ARM dashboard content in the next couple months, and I'll keep this in mind.

[2021-01-21 00:53] emuench commented on #67007
The content of the page at https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-customer-engagement-offer#application-configuration-url was modified on 12/8/20 to address this concern. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you fo

[2021-01-21 00:54] IanMercer commented on #69141
_"Open a command line, and switch to the directory that contains your project file._

_Run the install commands._

_.NET Core CLI_

_dotnet add package Microsoft.Graph_
_dotnet add package Microsoft.Identity.Web"_
**dotnet add package Microsoft.Identity.Web.MicrosoftGraph**

[2021-01-21 00:55] crafton opened #69222 "Broken Link"
[Enter feedback here]
The link to "Feature Management libraries." under the Next Steps section appears to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6181beec-df25-e22e-fd74-e771c52ac207
* Version Independent ID: e25f278a-8d64-430d-72eb-8520a5ec4d90
* Content: [Quickstart for adding feature flags to Sprin

[2021-01-21 01:04] robinsh commented on #68599
Because I’m curious, where is the azure study material, or where did it come from? Is it a Learn module, or something external? I’m just asking because I’m curious if we’re sending people to the wrong place. It’s a difficult row to hoe, because if it’s too simple, then we’re replicating something someone else has written, but if it’s too hard, people can’t follow the instructions. So I can take a

[2021-01-21 01:06] MarileeTurscak-MSFT commented on #69194
Thanks @DeanGross! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/143836

I believe this should link to the resource roles article instead. https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-activate-your-roles

[2021-01-21 01:06] #69194 closed

[2021-01-21 01:28] chutestrate commented on #68599
Unfortunately, I have lost track of where I started.  Thinking back my study material referenced twins a lot, but never explained it.  I started googling and found the github site.  Sorry I can't be more specific.  I do a lot of searching trying to understand concepts and terminology.  I find it tough without any experience in cloud technology.  My sys admin background isn't helping as much as I h

[2021-01-21 01:44] vermagit commented on #69185
@greschd
Thank you for reaching out.

It appears you are hitting a recent (but known) issue introduced when we enabled Accelerated Networking (AN) on the HB, HC, HBv2, NDv2 VMs.
There is a [troubleshooting doc update](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/hb-hc-known-issues#accelerated-networking-on-hb-hc-hbv2-and-ndv2) on this (which needs to be expanded)

Essentia

[2021-01-21 01:46] vermagit commented on #63043
A doc update is scheduled for this page but not for the specific ask raised in this 'issue'. Please close this specific issue.

[2021-01-21 01:47] derisen commented on #68638
@diberry you’re right, there is no `accountState` property in the **response object** in MSAL.js 2.x. It will be just `state`. We’ll correct the page where this appears (its referring to MSAL.js 1.x).

The code snippet you shared seems incorrect (see [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md) for what should go into `m

[2021-01-21 01:48] Pooja-Harjani commented on #68961
Hi @SnoWolfT, Our team has released the updated versions of Azure Performance Diagnostics (PerfInsights) on the Azure Portal and on the Microsoft Download Center. You would now be able to use it on SLES 12 SP4 and other supported operating systems via both the Azure Portal and the download center. If you have any feedback, please let us know. We appreciate you taking the time to report the issue a

[2021-01-21 01:53] NavtejSaini-MSFT commented on #68989
@Craigmeister68 We are going ahead and closing this thread for now. Please let us know if you have any further questions.

[2021-01-21 01:53] #68989 closed

[2021-01-21 01:57] #63043 closed

[2021-01-21 02:11] Grace-MacJones-MSFT commented on #69193
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change will be merged internally and will go-live in the public docs shortly.

[2021-01-21 02:11] #69193 closed

[2021-01-21 02:13] ChaitanyaNaykodi-MSFT commented on #69204
Hello @psddp,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-21 02:25] ecfan commented on #68808
@khha, this update should go live after 11 AM Pacific Time on Jan 21, 2021. #please-close

[2021-01-21 02:26] #68808 closed

[2021-01-21 02:31] #69192 closed

[2021-01-21 02:35] hasanali28 opened #69223 "Error : request failed with status code 403"
![image](https://user-images.githubusercontent.com/20225277/105272345-2dc99980-5bbf-11eb-9bc6-35eddf91c79d.png)
This is the issue I am facing. I have successfully uploaded jpg in a container and connected via SAS URI to Form Recognizer. It used to work just fine until now!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-01-21 02:42] KalyanChanumolu-MSFT commented on #69149
@eljacobsen12 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-21 02:42] #69149 closed

[2021-01-21 02:49] KalyanChanumolu-MSFT commented on #69222
@crafton Thank you for the feedback. We are investigating and will get back to you soon.

[2021-01-21 03:32] crhistianramirez commented on #68529
Thank you! This helped me. I'll also add you need to make sure you have this line in your file
[code]

[2021-01-21 03:34] crhistianramirez commented on #67650
To fix this:

In Startup.cs add:
[code]

[2021-01-21 03:49] vipulsparsh commented on #68065
@sjosyula3 Apologies for delay on this.

The error indicates they are trying to update an existing role assignment. Each role assignment must have a unique ID and cannot be updated, so must be deleted and recreated to change.
You also need to make sure to use a unique role assignment id with each call.

[2021-01-21 04:01] vipulsparsh commented on #69157
@deathcat05 Yes, you are correct

[2021-01-21 04:05] SwathiDhanwada-MSFT commented on #69217
@dcbrown16 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-21 04:06] SwathiDhanwada-MSFT commented on #68846
@neepika987 As the issue is already resolved, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-01-21 04:06] #68846 closed

[2021-01-21 04:07] #68906 closed

[2021-01-21 04:16] SujayJDesai commented on #68982
The current list of permissoins has worked in our testing and for other customers as well. Request you to open support case to troubleshoot furhter on this.

[2021-01-21 04:24] VikasPullagura-MSFT commented on #69185
@vermagit Thanks for sharing the details.

[2021-01-21 04:27] GeekApproach opened #69224 "Unable to provision container instance following instructions as given"
Documentation points to steps that do not work using azcli 2.18.0.  Specifically, the steps relating to:

[code]

I realize I'm calling out an issue with docs where the underlying issue is related to a service/API issue (https://github.com/Azure/azure-cli/issues/15391), but I just spent the last 4 days trying various methods to solve this only to realize it currently is not working (by looking at

[2021-01-21 04:35] KalyanChanumolu-MSFT commented on #69222
@crafton The link works for me. Could you please check again and let us know if you still see any issue?

[2021-01-21 04:37] crafton commented on #69222
Ok, seems to be working for me now. Thanks.

[2021-01-21 04:37] #69222 closed

[2021-01-21 04:40] SadiqhAhmed-MSFT commented on #68936
@dreck410 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-21 04:40] #68936 closed

[2021-01-21 04:41] deathcat05 commented on #69157
Fantastic! Thanks again!

[2021-01-21 05:08] PramodValavala-MSFT commented on #69007
@Gamecock Sorry for the trouble with the docs.

The endpoints are registered once the event grid extension is registered with the Functions Runtime when such a function is added. Hence the behavior of the 404 is expected.

As for the Azure CLI command, the command should just be [`az eventgrid event-subscription`](https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription?view=azure-c

[2021-01-21 05:14] GitaraniSharma-MSFT commented on #69017
@yinoa , I checked with the Virtual WAN Product group team and they mentioned - "_while it can go to 1.25 Gbps, we document 1 Gbps as a conservative number for a single tunnel. There is no explicit throttle we put to cap it._"

Hence, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-21 05:14] #69017 closed

[2021-01-21 05:18] mpchen commented on #69211
@DCtheGeek - I created a custom role which is cloned from Resource Policy Contributor role and add the "Microsoft.Authorization/policyAssignments/exempt/action" (see the following) and assign the custom role to the service principal used by Azure DevOps pipeline.

It does NOT seem to work.

"permissions": [
            {
                "actions": [
                    "*/read",

[2021-01-21 05:20] AnuragSharma-MSFT commented on #69062
@VampireDaniel When we link two caches as primary and secondary in case of geo-replication, we are always connecting with the primary region we set up. Once we start writing the data into this primary region then this data is synced to secondary region asynchronously. Now if there is some failure happens at the primary, we need to manually unlink the secondary and get the connection string of seco

[2021-01-21 05:38] SubhashVasarapu-MSFT commented on #68893
@lzl124631x, Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-21 05:38] #68893 closed

[2021-01-21 05:48] AnuragSharma-MSFT commented on #68973
@Harshitjain188 Awaiting your response

[2021-01-21 05:56] PramodValavala-MSFT commented on #69007
@Gamecock On further review, since the CLI now supports Azure Function as an endpoint type, you don't have to build the endpoint URLs anymore. A direct command like this will work

[code]

Hope that helps. We are assigning this issue to the content author for further review and to update the doc accordingly.

[2021-01-21 06:18] RohitMungi-MSFT commented on #69221
@iLikeAzureSQL Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-01-21 06:24] SadiqhAhmed-MSFT commented on #69105
@Pannawitek Please consider Backup Center and Azure PostgreSQL LTR backup as 2 independent capabilities, that will have their own Preview—> GA timelines.

Currently, Azure PostgreSQL LTR backup is in preview, and as a matter of recommendation, as with all preview features, we would want the customers to try it out on their non-prod environment first. Typically, after the customers are satisfied wi

[2021-01-21 06:36] #69021 closed

[2021-01-21 06:40] savjani commented on #69077
Hi @piotrgwiazda - Thanks for reaching out.

1. TABLE_ACCESS is available for 8.0. We will be updating the documentation soon.
2. It is recommend when access to the table is limited but not recommended if the table is accessed frequently. The audit logs would be lost if too many logs are coming. The event TABLE_ACCESS/DML_SELECT/DML_NONSELECT is known to generate a big amount of logs.

[2021-01-21 06:44] MarileeTurscak-MSFT commented on #69129
Hi @rbahne,

This is referring to the Prerequisites section on the actual connector page in the portal.

![image](https://user-images.githubusercontent.com/13383753/105304545-a81efd00-5b70-11eb-9721-2bb46dea8e67.png)

[This article ](https://docs.microsoft.com/en-us/azure/sentinel/connect-data-sources) includes the screenshots for these steps.

I completely agree though that in the context of that

[2021-01-21 06:44] #69129 closed

[2021-01-21 06:47] #68065 closed

[2021-01-21 06:48] #69084 closed

[2021-01-21 06:48] psmanhas commented on #69064
@asafsofer-sl Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-21 06:48] #69064 closed

[2021-01-21 06:48] vipulsparsh commented on #69092
@praveensoni5 Closing this for now, please let us know if you need any further help.

[2021-01-21 06:48] #69092 closed

[2021-01-21 06:48] #69157 closed

[2021-01-21 06:55] blocboi512 opened #69226 "facial detection"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735bd5b5-ae11-5bbc-6fcb-26aa8b3f022d
* Version Independent ID: 3ab0fb5d-faba-2380-967a-13d4ae3afde0
* Content: [Face detection and attributes concepts - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/concepts/

[2021-01-21 06:59] v-hagamp commented on #57944
Issue resolved as suggested above.
#please-close

[2021-01-21 06:59] #57944 closed

[2021-01-21 07:01] ram-msft commented on #69226
@blocboi512 Could you please add more details about the question. Thank you for your understanding.

[2021-01-21 07:01] yichungyu opened #69227 "Cannot find documentation on Azure Storage Explorer Verbose Authentication Logging"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/69343984/105314410-1909f780-5bf9-11eb-908e-25e304d972f8.png)

Under "Settings" of the Azure Storage Explorer, there is an option to toggle "Verbose Authentication Logging". In the option description, it mentions "For more information about how and when to use this setting, refer to the Storage Explorer troubleshooting guide (

[2021-01-21 07:30] BharathNimmala-MSFT commented on #68914
@Lahiru89 My sincere apologies for delay in getting back to this thread. Regarding the query on supportability, if you are referring to Support matrix for disaster recovery of on-premises Hyper-V VMs to Azure, please refer to this [section](https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#on-premises-servers) in the documentation.

![image](https://user-images.gith

[2021-01-21 07:30] #68914 closed

[2021-01-21 07:39] VikasPullagura-MSFT commented on #67601
@rishabv90 Any comments on this.

[2021-01-21 07:57] RonyMSFT commented on #67831
The error that you get in step 8 of the repro and step 13 are different. So I am unable to tell if this is a Spark related error or a network access error. Can you try to read a parquet file stored in the ADLS g2 account using Spark? If that succeeds, then we know that it is not a network access error.

[2021-01-21 07:58] SumanthMarigowda-MSFT commented on #68836
@smoms Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2021-01-21 07:59] SumanthMarigowda-MSFT commented on #69035
@czerwonykalafior Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2021-01-21 08:00] SumanthMarigowda-MSFT commented on #69159
@sarah026 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-21 08:00] #69159 closed

[2021-01-21 08:15] piotrgwiazda commented on #69077
Thank you for your help @savjani
I've already figured out that DML_SELECT/DML_NONSELECT combination generates redundant logs as compared to TABLE_ACCESS. However, TABLE_ACCESS logs system table access as well (including Query Store). Some guidelines describing how DML_* vs TABLE_ACCESS works could be useful in the documentation.
Also, I've seen a few other places in Azure MySQL documentation where

[2021-01-21 08:18] amanmcse commented on #69111
@JimmyLS No, B2BManagementPolicy will NOT be impacted with deprecation of token lifetime management via Azure AD Policies.

[2021-01-21 08:18] #69111 closed

[2021-01-21 08:35] shammelburg commented on #68967
@kobulloc-MSFT how will this work for existing free SendGrid accounts on Azure going forward? Will these accounts stay free or get changed to Bronze and get charged? Thank you

[2021-01-21 08:48] RohitMungi-MSFT commented on #69221
@iLikeAzureSQL Based on this scenario where the user has navigated to the tutorial directory in the first [step](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-hello-world#test) the ScriptRunConfig() command is correct. This also ensure the third script 03-run-hello.py runs successfully. Could you please try to change your directory to tutorial and try the step aga

[2021-01-21 08:49] Aaronmcd1978 opened #69228 "Create association with Azure VM"
Hi
I have create a windows VM 2016 datacentre with the purpose of creating a data collection rule and association to the VM. I created the data collection rule via az REST API to send the required data to a Log Analytics Workspace(az rest --method PUT --url). When I run this template it does create an association from the data collection rule to Windows VM but it does not install Azure Monitor Age

[2021-01-21 09:17] MSSedusch commented on #66812
Closing this incident for now. @sapien47 please re-open in case you want to follow up. Thank you
#please-close

[2021-01-21 09:17] #66812 closed

[2021-01-21 09:24] vipulsparsh commented on #68960
@mwiedemeyer Portal is having some issue, PG is working on this. Normally both would work.

[2021-01-21 09:25] #68960 closed

[2021-01-21 09:32] JayaChatterjee-MSFT commented on #69219
@omerzubair Thank you for the question. We will review and get back to you.

[2021-01-21 09:34] shashishailaj commented on #69216
@jlrd Thank you for your feedback . We will investigate and update the thread.

[2021-01-21 09:38] VikasPullagura-MSFT commented on #68961
@Pooja-Harjani Thanks for sharing the update.

@SnoWolfT Hope the provided information is helpful.
We will now close this issue. If there are further questions regarding this, please let us know. I will reopen it and we will continue the discussion.

[2021-01-21 09:38] #68961 closed

[2021-01-21 09:39] shashishailaj commented on #69223
@hasanali28 Thank you for your query . We will investigate and update the thread.

[2021-01-21 09:40] SwathiDhanwada-MSFT commented on #69228
@Aaronmcd1978 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-21 09:44] koncewiczbartosz commented on #48467
@Sdelausnay how did you solve this issue with renemwal of certificates? I have encountered this issue and for now we're using only dev certs, but we would like to handle this better way

[2021-01-21 10:00] rikvandenberg opened #69231 "Unable to specify "x-ms-azs-return-searchid" header in Azure.Search.Documents.SearchClient.SearchAsync()"
Linking these two issues so people don't get confused why you are unable to add the headers. https://github.com/Azure/azure-sdk-for-net/issues/17449

The code sample shows you can specify the `x-ms-azs-return-searchid` as header but this is not possible in the current v11.1.1 or v11.2.0-beta.2 versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-21 10:02] SwathiDhanwada-MSFT commented on #63571
@bwren Can you please look  into this?

[2021-01-21 10:10] dominicbetts commented on #69044
Hi @sandervandevelde - we're currently updating the articles on docs.microsoft.com. In the meantime, please see [Azure Industrial IoT](https://azure.github.io/Industrial-IoT/) for the most up to date content. Thanks.

[2021-01-21 10:10] dominicbetts commented on #69044
#please-close

[2021-01-21 10:10] #69044 closed

[2021-01-21 10:23] Lucero7919 commented on #42991
Same issues here Mark. Did you find a fix? This is causing issues with SCCM boundaries because the clients operating remotely don't fall into an AD site (because DNS is registering the local adapter, often 192.x and I don't want to add that as an IP range).

[2021-01-21 10:26] OlivierVen commented on #68974
Specify this string with your DateTime

C#
static string TimeStampField = "<your DateTime field>";

PowerShell
$TimeStampField = "<your DateTime field>"

time-generated-field | The name of a field in the data that contains the timestamp of the data item. If you specify a field then its contents are used for TimeGenerated. If this field isn’t specified, the default for TimeGenerated is the time tha

[2021-01-21 10:30] PaulVrugt commented on #68974
@OlivierVen I totally misread this text. You are completely right. Thanks!

[2021-01-21 10:45] Aaronmcd1978 commented on #69228
@SwathiDhanwada-MSFT . When I enable Data collection rule in the Azure Portal is does install Azure Monitor Agent automatically. Please see the following comment copied from the following page  https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-data-collection-rules

"Create association with Azure VM

The following sample installs the Azure Monitor agent on a Windows Azu

[2021-01-21 10:56] nero120 commented on #16566
Also amazed at this and the fact the issue was closed! Our application allows users to plug in any OpenID Connect provider yet it was not working with Azure B2C, and this is the reason. The `email` claim is a [standard OpenID Connect claim](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims). The fact that you can't select this as a return claim from the list means that Azure B2C

[2021-01-21 11:07] SnehaAgrawal-MSFT commented on #69231
@rikvandenberg Thank you for the valuable feedback, we are investigating the issue.

[2021-01-21 11:09] SGGIRBS opened #69233 "Clearer definition on usage of User-defined routes"
Under limitations it is specified that ..

The page then describes using UDRs to force traffic via a Firewall/NVA. It should be clearer that whilst a private endpoint cannot use a UDR, overriding routes for traffic **to** the private endpoint is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c

[2021-01-21 11:25] amit17051980 commented on #69215
Thanks James. I'd like to follow this up here. I also tried java way, and it is having the same issue.
Do you see any issue here? I'm using apache client.

[code]

[2021-01-21 11:27] AshokPeddakotla-MSFT commented on #68957
@dmitriyteteruk Sorry for the delayed response. Thanks for leveraging Azure docs feedback channel to raise this question.

AFAIK, this tutorial is not tested in Azure Stack environment. However, glad to hear you are able to run the sample from https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and sugges

[2021-01-21 11:28] Raffaele3D commented on #69196
Thanks for your prompt reply @Grace-MacJones-MSFT

If you need further details about the issue, please do not hesitate to get in touch.

Regards

[2021-01-21 11:38] SwathiDhanwada-MSFT commented on #68974
Thanks @OlivierVen for your insights on this issue.

@PaulVrugt We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-01-21 11:38] #68974 closed

[2021-01-21 11:46] Andrew-Webb opened #69234 "'manager' is a complex type according to RFC 7643, but in this doc it is presented as a single value"
In section https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need of this document, in the JSON payload example, we see:

[code]

However, according to my reading of https://tools.ietf.org/html/rfc7643#page-26 (section 4.3.  Enterprise User Schema Extension), "manager" should have a lower-case 'm'

[2021-01-21 12:04] gix111 commented on #69180
I also added the project which i containerized in my Repo:
https://github.com/gix111/voting-data-incl-dockerfile

And the Service Fabric project where i want to include the image in another repo:
https://github.com/gix111/service-fabric-container-test

[2021-01-21 12:30] harisubramaniam1 opened #69235 "Impact of retirement of configurable token lifetime policies"
It is not clear what is the impact of retiring the token lifetime policies on Jan 30th 2021 will be on tokens that are currently being used in apps and in circulation.

Say, we have session token policies configured on a service principal and at the time of retiring the  token lifetime policies on Jan 30th 2021, will those tokens still be valid or they will be invalidated and all the users will be

[2021-01-21 12:49] mcalnd70 commented on #61975
This is still registering as invalid!

[2021-01-21 12:49] HarshitaSingh-MSFT commented on #69224
Hello @GeekApproach , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-01-21 13:02] SumanthMarigowda-MSFT commented on #69227
@yichungyu Thanks for the question! We are investigating and will update you shortly.

[2021-01-21 13:16] libor-p opened #69236 "Wrong setting for 91-azure_datasource.cfg"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/oracle-create-upload-vhd
There is mistake on the page in section for "Oracle Linux 7.0 and later" point 13.

## This cause ERROR during deployment/provisioning

cat > /etc/cloud/cloud.cfg.d/91-azure_datasource.cfg <<EOF
datasource_list: [ Azure ]
datasource:
Azure:
    apply_network_config: False
EOF

The issue is in Azure text, it shou

[2021-01-21 13:26] VikasPullagura-MSFT commented on #69220
@maqsoodahmad
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-21 13:26] VikasPullagura-MSFT commented on #69220
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-01-21 13:30] MartinDBakerCDW opened #69237 "Is the download file linked still valid?"
[Enter feedback here]
There is a file referenced here that can be downloaded as a CSV. The file was last updated 28th September 2020. Is this file still the latest? It seems somewhat old and since Azure is ever changing I can't believe this is current.

Please can you get the Git owner to update the CSV.

Many thanks.
Martin

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-01-21 13:55] lawrenceong001 opened #69238 "If this binding is not supported for v2+, how are the examples implemented? documentation not clear about this"
Hello,

I can't seem to find the documentation relating to the implementation of a push  notification using Azure Functions v3, under visual Studio 2019. Specifically, when I'm trying to run the section [C# script template example - asynchronous](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-notification-hubs#c-script-template-example---asynchronous). the document  refe

[2021-01-21 14:00] lightupdifire opened #69239 "Reporting on Passwordless activated accounts"
Hello,

Is it possible to report which users have enabled Passwordless under account? Like via PowerShell or via Graph API? If yes, please share :) If no, we go UserVoice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
*

[2021-01-21 14:04] SanguptaMSFT opened #69240 "Calling and Meeting section needs to be updated"
[Enter feedback here]

for this article. the calling and meeting section needs to be updated.

**New Meeting Experience (NME) is not currently supported in VDI environments.**

this is confirmed by TEAMS engineering via one of the internal escalations. can share details. please contact me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-01-21 14:08] BreakingBI opened #69241 "Diagram Showcasing the Relationship between Resources within Synapse Workspaces would be very helpful"
Good morning,

Many of my customers are very interested in learning more about Synapse Workspaces.  However, they often get a little lost trying to understand the various components within it and how they fit together.  A Diagram showcasing the Dedicated SQL, Serverless SQL, Spark Pools, Pipelines, Notebooks and everything else would have great value.  Here is a professional diagram showcasing the

[2021-01-21 14:13] AnuragSharma-MSFT commented on #68973
@Harshitjain188 Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-21 14:13] #68973 closed

[2021-01-21 14:40] MonikaReddy-MSFT commented on #69236
@libor-p-
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-21 14:43] mcalnd70 commented on #61975
From googling around I think the correct statement is @bmcgair

                    "impactedServices": "[{\"ImpactedRegions\"}]",

...based on what I found here. It certainly allows me to continue now in the Logic App

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#service-health-category

[2021-01-21 14:43] MonikaReddy-MSFT commented on #69240
@SanguptaMSFT -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-21 14:44] DCtheGeek commented on #69211
@mpchen The first thing that stands out to me is that that isn't a copy of **Resource Policy Contributor**.  Here's a copy of the _Actions_ node from Cloud Shell:

[code]

You have the `*` wildcard on the `Microsoft.Support/*` entry, but none of the others.  I don't believe it'll work correctly without the wildcard or explicitly specifying each operation (such as _read_ or _write_ or _exempt/Actio

[2021-01-21 14:46] MonikaReddy-MSFT commented on #69240
@SanguptaMSFT -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-21 14:46] #69240 closed

[2021-01-21 14:48] #69236 closed

[2021-01-21 14:51] SanguptaMSFT commented on #69240
Monika,

Can you let me know by when this will be live ?

Thanks,

Sanyog Gupta
Technical Advisor
Teams & Skype for Business
Empowering, Helping, and Advising Customers

Customer Service & Support
1(855)4251603 Ext: 81087
sangupta@microsoft.com<mailto:sangupta@microsoft.com>

[Image result for microsoft logo]

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Thursday, January 21, 2021 8:17

[2021-01-21 14:51] SanguptaMSFT commented on #69240
@MonikaReddy-MSFT can you confirm by when this will be live ?

[2021-01-21 14:52] MonikaReddy-MSFT commented on #69237
@MartinDBakerCDW -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-21 15:15] Andrew-Webb opened #69243 "familyName, not lastName, as part of SCIM user schema"
In https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need (i.e. Table 1)...

`name.lastName` in the middle column is wrong.  The schemas in https://tools.ietf.org/html/rfc7643 define "familyName", not "lastName".

The JSON example below the table is correct....

[code]

Whether `lastName` in the t

[2021-01-21 15:19] mikenelson-io opened #69244 "Resource Health option no longer available in blade"
The option under Alerts for Resource Health is no longer available in the blade. How does one locate Health statistics for a managed application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d178f9c-a587-ab33-a0ee-b38b8d4fa4d4
* Version Independent ID: 5907d727-8f95-b3ed-397a-a092dd73173f
* Content: [Use Azure porta

[2021-01-21 15:27] Andrew-Webb opened #69245 ""Outline the attributes that you need" - mismatch between SCIM table and JSON"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need

"The schema defined above would be represented using the JSON payload below."

-- except that the JSON payload below doesn't contain:-

* `active`
* work email address

On the subject of work email address, the leading letter of `Emails[type

[2021-01-21 15:36] MartinDBakerCDW commented on #69237
**NB:** At one point this had 1908 lines - so 1908 different types of Azure resources. This now has 702 lines. Why is that? Are we missing Azure resource types in the latest version?

[2021-01-21 15:37] mcalnd70 commented on #60782
From googling around I think the correct statement is @lbugnion

                    "impactedServices": "[{\"ImpactedRegions\"}]",

...based on what I found here. It certainly allows me to continue now in the Logic App

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#service-health-category

[2021-01-21 15:42] isshukla opened #69246 "AzureCdnAccessLog not supported"
AzureCdnAccessLog

Please update the screenshot and the PowerShell example:

Set-AzDiagnosticSetting : Exception type: ErrorResponseException, Message: Category 'AzureCdnAccessLog' is not supported., Code: BadRequest, Status code:BadRequest, Reason
phrase: Bad Request

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af5

[2021-01-21 15:44] SaurabhSharma-MSFT commented on #69241
@BreakingBI Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-01-21 15:44] JamesTran-MSFT commented on #69234
@Andrew-Webb
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-21 15:45] Andrew-Webb opened #69247 "Missing SCIM `id` attribute in JSON example, despite text saying it's there"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need

"Note that in addition to the attributes required for the application, the JSON representation includes the required id, externalId, and meta attributes."

-- I'm seeing `externalId` and `meta` in the JSON, but I'm not seeing `id`.

---
####

[2021-01-21 15:46] JamesTran-MSFT commented on #69235
@harisubramaniam1
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 15:47] JamesTran-MSFT commented on #69239
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 15:50] Andrew-Webb commented on #69234
I classify "value" and "$ref" sub-attributes of "manager" being described as being both RECOMMENDED and REQUIRED in different sections of the RFC as an error, and have submitted errata to the RFC authors.  This is pending verification.  For the time being, seeing as no other attribute or sub-attribute in the RFC is RECOMMENDED, I would choose to view "value" and "$ref" as being REQUIRED.

[2021-01-21 15:50] JamesTran-MSFT commented on #69243
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 15:52] JamesTran-MSFT commented on #69245
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 15:53] JamesTran-MSFT commented on #69247
@Andrew-Webb
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-21 15:54] bachoang opened #69248 "groupMembershipClaims atribute documentation is missing value "DirectoryRole""
groupMembershipClaims attribute in the manifest file can also have the value "DirectoryRole" to indicate the Azure AD roles assigned to the user.  This value is missing in the App Manifest documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7

[2021-01-21 16:03] JamesTran-MSFT commented on #69248
@bachoang
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-21 16:07] fbuser1 commented on #36511
What purpose of masterSyncMemberName? Is it hub db? what name should I use for it?

2021-01-21T15:19:16.9360469Z ##[error]SyncOperation_GenericFailure: Failed to perform data sync operation: 'servername/db_name' can't be found as sync group member

[2021-01-21 16:20] jwa5426 opened #69249 "allow_reuse option on REST calls"
Is it possible to specify the allow_reuse parameter when triggering a published pipeline run via REST call? Is there any way to accomplish similar functionality?

[2021-01-21 16:23] shashishailaj commented on #69176
@Itsmexander is the problem only with accessing teams ? or is it using your university ID altogether ? Could you please share information if your university is using Azure Active directory or Office 365 ?
If they are not using any of those and you are unable to logon to teams with your ID then you have used your university email to signup for a Microsoft account in order to access teams . This is

[2021-01-21 16:24] #69249 closed

[2021-01-21 16:27] jwa5426 opened #69250 "allow_reuse option on REST calls"
Is it possible to specify the allow_reuse parameter when triggering a published pipeline run via REST call? Is there any way to accomplish similar functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29549f96-73a3-7be6-60fa-f18b57b5c8c1
* Version Independent ID: d6b26836-f1d0-0449-2f38-220961a128d8
* Content:

[2021-01-21 16:30] Grace-MacJones-MSFT commented on #69246
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-21 16:31] Grace-MacJones-MSFT commented on #69250
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-21 16:33] Grace-MacJones-MSFT commented on #69244
Hi @mikenelson-io, thanks for the feedback. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-21 16:34] Grace-MacJones-MSFT commented on #69233
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-21 16:48] souravmishra-msft opened #69251 "What is the expected time for the migration of Subscription takes from one Azure AD tenant to another?"
Hello Team,

The expected time it takes for the migration of of subscription to happen between two Azure AD tenants is not available anywhere in the document. It would be great if we can incorporate this information in this document.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afab524-67c2-2e76-fd7a-46238cb9d249
* V

[2021-01-21 16:48] MarlEva opened #69252 "Misleading private offer information"
This article needs clarification with regard to private plans. In reality, in order for a publisher to create a private plan, the offer must have at least one public plan (stated another way, offers must have at least one public plan).

Adding this note to make sure we can get this updated to reflect reality more clearly. Publishers and their PDMs don't understand the policy as written.

In additi

[2021-01-21 17:02] JamesTran-MSFT commented on #69099
@AJRus
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-01-21 17:04] #69200 closed

[2021-01-21 17:06] JamesTran-MSFT commented on #69208
@wizdes
Based off of the authors response above I just wanted to check in and see if you had any other questions or doc enhancement requests? If not, I'll go ahead and close out this issue at the end of the day, pending a response from your end.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-01-21 17:14] hpourreza opened #69254 "Microsoft.CDN is not registered as a Resource Provider error"
When I tried to follow the instructions, I got an error saying "In order to create this CDN profile, please ensure that Microsoft.CDN is listed as a registered Resource Provider in your Azure subscription". Could you please add a note to this page to run
az provider register --namespace Microsoft.Cdn --subscription <your subscription> as per
https://docs.microsoft.com/en-us/answers/questions/38194

[2021-01-21 17:20] PrimeHydra commented on #50339
We're having issues even getting the latest version to install. Try the [Chocolately archives](https://chocolatey.org/packages/azure-cosmosdb-emulator/#versionhistory) for previous versions.

[2021-01-21 17:30] mpchen commented on #69211
@DCtheGeek - somehow the * wildcard got lost during the copy.

![Screen Shot 2021-01-21 at 9 25 31 AM](https://user-images.githubusercontent.com/37554879/105387817-ca456900-5bca-11eb-8d60-a141fde3c7af.png)
 [](url)

I am still trying to figure out how to turn the following requirement into permission

-""I_n addition to write, a security principal requires the exempt/action verb on the policy assi

[2021-01-21 17:35] fgheysels opened #69255 "Azure IoT Edge for Linux on Windows and provisioning using TPM"
I was eagerly waiting for the preview of Azure IoT Edge for Linux on Windows, since we're running a project for a customer where we're limited on running IoT Edge on Windows, but we want to benefit from the advantages Linux containers gives us.

Currently, we're provisioning edge devices using DPS using TPM , but when I see the information on [provisioning](https://docs.microsoft.com/en-us/azure/i

[2021-01-21 17:37] YidiQin opened #69256 "Genomics service"
I created a storage account as the output location for my genomics service. It works well to output delta tables into my storage container but requires the token when I want to output a vcf file into it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcb147c-ad94-4926-6cec-da6013c6006a
* Version Independent ID: a2a1e6

[2021-01-21 17:54] MashaMSFT commented on #69142
Hi @ArneSaether , I appreciate your feedback! I processed a change to make it slightly more clear which features are available based on what management mode your extension is in, and added a note about the type of disk utilization monitoring available. These changes will be live later today.

I hope that helps! Please let us know if we can  help further.
Masha from the SQL Docs team

[2021-01-21 17:56] JamesTran-MSFT commented on #69215
@amit17051980
Thank you for the quick response!

For your Java implementation, did you follow any documentation when setting this up? This way I can attempt to set up a similar environment. I also found some documentation that might help with your issue, which I'll post below.

Java - Refresh Token examples:
[How to refresh access token provided by TokenCredential / ClientSecretCredential by Azure

[2021-01-21 17:57] robga commented on #69211
Hi @mpchen
The built-in role Resource Policy Contributor contains enough permissions to create exemption. "Microsoft.Authorization/policyAssignments/exempt/action" is included in the "Microsoft.Authorization/policyAssignments/*".
The document is to explain the detail of the actions needed for policy exemption for a custom role definition. If you use built-in role definition, Resource Policy Contri

[2021-01-21 17:58] dgordoncal opened #69257 "MyWorkDrive Gallery App Configuration shows wrong sample reply URL"
[Enter feedback here]
Hello, please note in the gallery app for MyWorkDrive, on the page where customer would enter their reply URL it shows in invalid pattern: it shows:
Patterns: https://..com/account/login.saml underneath Reply URL in the sample app.
This pattern belongs underneath in the sign-on URL. The correct pattern is /SAML/AssertionConsumerService.aspx for reply URL.
![image](https://use

[2021-01-21 17:59] MikeWedderburn-Clarke commented on #68918
@larryclaman
Thanks Larry,
1) the portal experience still shows "preview" - see screen shot which is hopefully linked below
![image](https://user-images.githubusercontent.com/5323631/105391455-0e0f9100-5c12-11eb-9a09-9208f10e25e0.png)

2) Do you know if anyone is improving the portal experience so it can create the subnet delegation, network profile and relay namespace automatically?

[2021-01-21 18:08] JamesTran-MSFT commented on #69235
@harisubramaniam1
Thank you for pointing this out! I've reached out to the author regarding this issue and will update as soon as possible.

[2021-01-21 18:18] mpchen commented on #69211
@robga -

I think the issue is about the "scope" of the permission. Consider the following scenario -

1.  a policy is assigned at management group level. the MG contains 5 subscriptions.
2.  Can a user/sp with resource policy contributor role at one of the subscription create exemption for resources within his subscription? (the answer seems to be no).
3. Only user with resource policy contributo

[2021-01-21 18:26] JamesTran-MSFT commented on #69239
@lightupdifire
Thank you for your question!

When it comes to getting which users have enabled Passwordless authentication, we currently only have the [Azure AD authentication methods Graph API](https://docs.microsoft.com/en-us/graph/api/resources/authenticationmethods-overview?view=graph-rest-beta). The List API within each authentication method should get you the info you need on a per user basi

[2021-01-21 18:26] #69239 closed

[2021-01-21 18:31] wizdes commented on #69208
Thanks - this answered my question on this.

[2021-01-21 18:31] #69208 closed

[2021-01-21 18:32] JamesTran-MSFT commented on #69243
@Andrew-Webb
Thank you for pointing this out! I have assigned this issue to the author who will investigate and update as appropriate.

Table:
![image](https://user-images.githubusercontent.com/36619112/105395468-9b7fc080-5bd3-11eb-88c4-6d807624b0be.png)

[RFC 7643 reference](https://tools.ietf.org/html/rfc7643):
![image](https://user-images.githubusercontent.com/36619112/105395701-e0a3f280-5bd3-1

[2021-01-21 18:36] robga commented on #69211
@mpchen for this scenario, if you choose to use built-in role definition, this user will need role assignment of role Resource Policy Contributor at MG level.
If you have concerns that don't want the user change the assignment at MG level. You can create a custom role contains "Microsoft.Authorization/policyAssignments/exempt/action" and assign it at MG level.

[2021-01-21 18:40] SanguptaMSFT commented on #69240
@MonikaReddy-MSFT still waiting for confirmation

[2021-01-21 18:42] JamesTran-MSFT commented on #69245
@Andrew-Webb
Thank you for your feedback! I've created a PR to update the "E" within Emails to lowercase and will assign this issue to the author who will investigate and update as appropriate.

[2021-01-21 18:56] SubhashVasarapu-MSFT commented on #69254
@hpourreza, Thanks for reaching out. We will investigate and update this thread.

[2021-01-21 18:58] bandersmsft commented on #68064
@ToddGe Thanks for letting us know about that typo. It's fixed.
#please-close

[2021-01-21 18:58] #68064 closed

[2021-01-21 18:59] ChaitanyaNaykodi-MSFT commented on #69238
Hello @lawrenceong001,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-21 19:01] nerddtvg commented on #69155
I would also be interested in this. Looking at current HTTP logs don't show any user agent being sent.

[2021-01-21 19:01] JamesTran-MSFT commented on #69235
@harisubramaniam1
Thank you for your patience, an existing token’s lifetime will not be changed. After they expire, a new token will be issued based on the default value.

I've also created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to

[2021-01-21 19:01] #69235 closed

[2021-01-21 19:03] bandersmsft commented on #65244
PR to refresh article: https://github.com/MicrosoftDocs/azure-docs-pr/pull/143774

[2021-01-21 19:05] bandersmsft commented on #65244
@ntachandley Sorry for the delay getting the article updated. It will get refreshed live today at 3:30 PM PST.
#please-close

[2021-01-21 19:05] #65244 closed

[2021-01-21 19:08] JohnGalt1717 opened #69260 "The sample is out of date with authentication and results in "The resource type is invalid""
[Enter feedback here]
The authentication that is provided is now out of date and doesn't work.  Further if you try and work around that the comment client.Assets.CreateOrUpdateAsync that is called when creating the input will fail with "The resource type is invalid" using the exact credentials listed from our media services api tab.

In the github repo sample all issues have been ignored for over

[2021-01-21 19:10] bandersmsft commented on #65884
Article update with https://github.com/MicrosoftDocs/azure-docs-pr/pull/143927

[2021-01-21 19:15] bandersmsft commented on #65884
@kevinka-msft The test API key expired and the Cost Management + Billing team no longer offers the test key for public use so I removed that section from the article.
#please-close

[2021-01-21 19:15] #65884 closed

[2021-01-21 19:18] MarileeTurscak-MSFT commented on #69257
@dgordoncal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 19:21] JamesTran-MSFT commented on #69182
@tshaiman
Thank you for your inquiry!

Based off our documentation, I only found tutorials for [enabling managed identities for a Windows VM](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm). Therefore I tested this out for my Linux VM and successfully [enable managed identities for my existing VM](https://docs.microsoft.com

[2021-01-21 19:21] PhillMoran commented on #69191
Seeing the same issue and it is preventing inML Notebooks in Sentinel.

[2021-01-21 19:26] imsiddsingh commented on #67235
I am facing an issue with this. I have enabled the network access control for my key vault. My function app is in the app service plan (Standard S1) and VNet is also configured. The same VNet is also added in Keyvault. Still, I am getting Key vault reference error "Key Vault reference was not able to be resolved because site was denied access to Key Vault reference's vault"

[2021-01-21 19:27] sourabharsh commented on #58642
@weiwchu
Thanks a lot for taking time and explaining that to me!
I am definitely connecting with you on your said group. :)

[2021-01-21 19:30] spelluru commented on #43421
#please-close

[2021-01-21 19:30] #43421 closed

[2021-01-21 19:31] James-Hamil-MSFT opened #69262 "Graph Application doc needs to be updated to clarify client credential flow"
Client credential flow is not supported in this scenario. As per the doc it should be working. Quoting the document statement here that needs to be updated - "Although the OAuth 2.0 client credentials grant flow is not currently directly supported by the Azure AD B2C authentication service, you can set up client credential flow using Azure AD and the Microsoft identity platform /token endpoint for

[2021-01-21 19:36] dreck410 commented on #68936
@SadiqhAhmed-MSFT Yes, where did you find that table?

I also have a partner invoice bill and i have a charge type and it has values like 'CycleCharge', 'New', 'CancelImmediate', etc. where can i find documentation about this?

[2021-01-21 19:42] microbecode commented on #68603
@caleteeter Thanks for the update.
I personally don't need an early access version, but maybe someone else does.

[2021-01-21 19:45] bandersmsft commented on #67667
@jdelforo You've given valid feedback. The request body is the ARM template. For now, execute the ARM template using PowerShell. We're working on publishing the ARM template to the https://github.com/Azure/azure-quickstart-templates repository. When we have it published, we'll update this article with details.
#please-close

[2021-01-21 19:45] #67667 closed

[2021-01-21 19:45] salgattpx opened #69263 "Create tenant The subscription is not registered to use namespace 'Microsoft.AzureActiveDirectory'"
When following these instructions, I received an error, _Create tenant
The subscription is not registered to use namespace 'Microsoft.AzureActiveDirectory'. See https://aka.ms/rps-not-found for how to register subscriptions_.

While I saw a prerequisite mentioned that a free trial account was needed, I also needed to manually add the resource group of Microsoft.AzureActiveDirectory to my default d

[2021-01-21 19:48] dgordoncal commented on #69257
Great Thanks!  Let me know if you have any questions.  Your article is fine, just the Gallery App got updated somehow..

[2021-01-21 19:59] erikadoyle commented on #59200
I'm going to close this due to lack of response. Feel free to reopen if there's a specific documentation update you had in mind. #sign-off

[2021-01-21 19:59] #59200 closed

[2021-01-21 20:05] erikadoyle commented on #57229
We recently overhauled this [document](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-scale-up-primary-node-type) and the changes address the issues/suggestions raised here, including nodetype naming discrepancies and [step-by-step templates](https://github.com/microsoft/service-fabric-scripts-and-templates/tree/master/templates/nodetype-upgrade) included in the sample repo.

[2021-01-21 20:05] #57229 closed

[2021-01-21 20:22] amit17051980 commented on #69215
Thanks James.

Not sure what is the pain point while I want to use apache way, possibly I'll have a look later when I get some time to play with MSAL. But for now my standard tool OpenText xCP is fine. It is returning the access token etc using refresh token.

![image](https://user-images.githubusercontent.com/18753110/105407920-36a18600-5c26-11eb-8079-c0c7e9876e88.png)

![image](https://user-imag

[2021-01-21 20:45] cijothomas opened #69265 "Use Pre-aggregating vs Non pre-aggregating terminology"
[Enter feedback here]
Use Pre-aggregating vs Non pre-aggregating terminology, instead if GetMetric() vs TrackMetric(). "Get-Metric" can be confusing and it is also not the full API (the full api is GetMetric()..TrackValue). Its best to stick to non code terms, like Pre-Aggregating API vs Non Pre-Aggregating API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-01-21 20:55] vr4guid opened #69266 "Instructions do not result in code that can be compiled."
Two items:

1. The steps list "Add the following code inside MyFirebaseMessagingService class, to process messages that are received", but nowhere in the document is there any instruction to create the MyFirebaseMessagingService. I believe you the reference to MyFirebaseMessagingService  should be changed to AzureListener.

1. Following the instructions provided results in a OnPushNotificationRece

[2021-01-21 21:21] HughDevlin opened #69267 "how to create VM from a custom image based on marketplace image using Azure Powershell"
Section Using Powershell

When creating a VM from an image based on a marketplace image, plan info must be supplied, or you fail with

"Provisioning failed. Creating a virtual machine from Marketplace image or a custom image sourced from a Marketplace image requires Plan information in the request."

The simplified parameter set for New-AzVm includes the -Image parameter but does not include param

[2021-01-21 21:21] Minewiskan commented on #67729
@artsheiko - Artem, a POST should get a response with a location header, so the doc is correct. Are you doing a POST or a GET?

[2021-01-21 21:22] SnehaGunda commented on #67363
@msdpalam Partitioning is done internally if the container is expected to store more than 20 GB in size or if you want to allocate more than 10,000 request units per second (RUs). Data is automatically partitioned based on the partition key you specify.

A partition key is required if you create graph containers from the Azure portal or the 3.x or higher versions of Gremlin drivers. Because the da

[2021-01-21 21:22] JamesTran-MSFT commented on #69263
@salgattpx
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-21 21:24] artsheiko commented on #67729
A POST id used

[2021-01-21 21:28] praveensoni5 commented on #69092
I still get the error despite waiting for >24 hrs. What could be possibly wrong here?

[2021-01-21 21:35] artsheiko commented on #67729
The POST is sent via Azure Logic Apps. Response headers section doesn't contain a Location header :
![image](https://user-images.githubusercontent.com/16267961/105415238-ccdea780-5c38-11eb-9033-393bef770620.png)

[2021-01-21 21:36] Grace-MacJones-MSFT commented on #69266
Hi @vr4guid, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-21 21:51] lobrien commented on #69250
An engineer on  the product team responded: "Reuse is at the step level so its predefined in the topology of the pipeline. They could create two pipelines one where steps reuse the results and one where they don't."

Does that answer your question @jwa5426 ?

[2021-01-21 22:08] mmacy commented on #68638
@derisen Thank you for the thorough response! 🏆

@diberry Please let us know if that is sufficient to get you unblocked. If so, we'll reassign over to me so we can get an update scheduled.

[2021-01-21 22:10] diberry commented on #68638
@mmacy - Yes, works for me. Thank you.

[2021-01-21 22:13] mmacy commented on #68638
#reassign:mmacy

@derisen We'll get this update on the list and ping you when it's ready to review.

[2021-01-21 22:13] cynthn commented on #69267
@HughDevlin Thanks for the feedback! I think the short answer is "No, you can't use the simplified parameter when you want to pass in plan information."

In order to pass in the plan information, you have to create the VM using a VM config file and passing the plan info in using Set-AZVMPlan.

There is a topic for passing in plan information when using Shared Image Gallery images, but it should be

[2021-01-21 22:34] neilmiaowang opened #69268 "Guidance or samples for SCIM Provisioning working with SAML / WS-Fed"
According to the table [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-howto-app-gallery-listing#step-1---choose-the-right-single-sign-on-standard-for-your-app), does Microsoft have any guidance or samples for SCIM Provisioning working with SAML / WS-Fed? Could you please provide the link to the guidance or samples?

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-21 23:04] shubDhond commented on #36458
@robinhultman to remove WEBSITE_CONTENSHARE (this will also switch to using xdrive instead azure files) please remove both WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE from your template. Otherwise the API will use the cached value for WEBSITE_CONTENTSHARE.

[2021-01-21 23:19] BharathNimmala-MSFT commented on #69265
Thank you @cijothomas for sharing the feedback to improve the document. Assigning this issue to @lgayhardt to incorporate the feedback into the documentation.

[2021-01-21 23:30] MisinformedDNA opened #69271 "Naming the RG **akvrotation** results in resource name conflicts"
The instructions say:

If followed precisely, this will result in naming conflicts for Azure SQL Server and Key Vault.

The user should either be instructed to specify their own RG name or specify a "Resource Name Prefix".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e2683db-d3c3-1ddf-1446-f7261c43c1bf
* Version Ind

[2021-01-21 23:31] pirateutopia opened #69272 "Explain Application Administrator role"
Can you explain why users assigned to this Application Administrator role are not added as owners when creating new application registrations or enterprise applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* C

[2021-01-21 23:35] bahramr opened #69273 "Incorrect staement in the doc about the order in which the DNS servers are tried."
[Enter feedback here]
The following line in the doc is wrong " If the first DNS server in the list can be reached, the client uses that DNS server, regardless of whether the DNS server is functioning properly."

We have proven with AKS that the second DNS is still used even when the first one is reachable.
We can also observe this happening in network traces from Linux VMs deployed in the vnet whe

[2021-01-21 23:50] xuegao0112 opened #69274 "Is it possible to send alert/notification to us if any metrics not supported?"
Hi Team,

We had diagnostic settings in ARM template for CI/CD.

One matrix we used is 'Gateway Requests'. When deploying to dev/uat/stg/prod instances, they all compained about this saying, 'Metric category 'Gateway Requests' is not supported'

It was available before and we had this setting since last year.

By cross checking the following doc, 'Gateway Requests' is not in the list anymore.
http

[2021-01-21 23:53] marcosgm opened #69275 "ARO 4.5 still has different public IP for *.apps than for api (affects Custom DNS)"
In the What's new for 4.5, both in the diagram and the text we say only one public IP is needed now
https://docs.microsoft.com/en-us/azure/openshift/concepts-networking#whats-new-in-openshift-45

However I just created one (v4.5.27), and when I execute the commands described in the Custom DNS section (https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#prepare-a-custom-domain-

[2021-01-22 00:02] TimLovellSmith opened #69276 "Clarify whether tagsList is a JSON array escaped inside a string, or an inline JSON array / object"
Currently its not clear to me whether we are supposed to do `Json.Parse(tagsList)` of a *string* valued `tagsList` property, or whether `tagsList` really is an array value, i.e. *object* or *dictionary* type value.

(Adding a real tagsList in the example response would also be great!)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-22 00:04] rolyon commented on #68602
Hi @iamalexmang,
Thanks very much for your feedback. Yes, I think you are correct. It's my understanding that you use the scope property when it is different than the deployment scope. We've updated the example template in the doc.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#new-service-principal

[2021-01-22 00:21] MarileeTurscak-MSFT commented on #69272
@pirateutopia
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 00:22] NaraVen commented on #28906
We support Debian. We did release our latest version on Dec 8th. Here is the link https://packages.microsoft.com/debian/10/prod/pool/main/b/blobfuse/

[2021-01-22 00:23] WimSchuiteman opened #69277 "SAML Signout url"
I'm working on an App that use Azure AD B2C if the identity provider.
I connect to it with SAML and this all word fine.
Only the signout, currently the app only clears the cookies so the user can sign in again without credentials.
I found this Doc:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#single-sign-out

But I can't find the URL where I

[2021-01-22 00:24] NaraVen commented on #28906
@dineshmurthy  @tamram, this can be closed. Could you please close this?

[2021-01-22 00:24] JamesTran-MSFT commented on #69271
@MisinformedDNA
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-22 00:33] JamesTran-MSFT commented on #69215
@amit17051980
Thank you for the detailed response and I'll go ahead and close this out!

If you run into any issues in the future, I'd highly recommend leveraging our MSAL or Java forums on Q&A and Stack Overflow. This way our experts and community can work with you to help resolve any issues or answer any questions you may have.

[AzureAD MSAL Q&A](https://docs.microsoft.com/en-us/answers/topics/

[2021-01-22 00:33] #69215 closed

[2021-01-22 00:35] mark-a-thompson opened #69278 ""Microsoft Edge""
The graphic at the top of the page includes a box that reads "Microsoft Edge".  My initial thought was that this was referring to the browser.  It took me a minute to figure out that this wasn't referring to the browser but rather Microsoft's 'side' of the network.

I suggest you come up with a term other than 'Edge' given the prominence that the term 'Microsoft Edge' has.

---
#### Document Detai

[2021-01-22 00:54] chuckheinzelman opened #69279 "Supported Data Source List"
The supported data source list for scans appears to be incorrect.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a701383-9762-d874-e191-bf7ec0f1871a
* Version Independent ID: 782d7f98-294b-0c2d-1c11-a7018870e229
* Content: [Frequently asked questions (FAQ) - Azure Purview](https://docs.microsoft.

[2021-01-22 01:01] jeevansd commented on #69257
@v-hagamp and @chetansriv Are we fixing this as part of the bigger effort?

[2021-01-22 01:03] pnarsi opened #69280 "Missing Entry for Synapse Workspace Trusted Microsoft Service Use Cases"
I think the list of trusted services need to have an entry for Synapse Workspace to store the CMK used for Encryption at rest: https://docs.microsoft.com/en-us/azure/synapse-analytics/security/workspaces-encryption#manage-the-workspace-customer-managed-key. Based on my testing Synapse Workspace doesn't seem to have any issues accessing AKV if the AKV Firewall is set to block all traffic and the "A

[2021-01-22 01:11] rishabv90 commented on #67601
Yes, given the price constraints,  B series is the official recommendation as it's our entry-level offering.

[2021-01-22 01:18] amanjeetsingh opened #69281 "Clarification - RPO for Hbase replication under Leader-Follower model"
The article talks to how Hbase replication uses Leader-Follower model and RPO is zero.
However, the link referenced for [Leader-Follower model](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-business-continuity-architecture#apache-hbase) explanation reads that RPO is "very low" and not zero. Can you please update the statement and change it to RPO is very low and not zero.

Thanks.
---

[2021-01-22 01:19] JamesTran-MSFT commented on #69280
@pnarsi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 01:20] JamesTran-MSFT commented on #69268
@neilmiaowang
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 01:36] arvind-dhariwal opened #69283 "Can we add context in case of private end point of ADLSGen2"
Can we please add context how to connect and transfer the data over ER private peering when ADLSGen2 has private end point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cbf9a6-535c-2adf-17fe-63be42255e1a
* Version Independent ID: 08b8f1e3-ec83-3a20-9e20-c9063a57e81b
* Content: [Migrate data from an on-premises Hado

[2021-01-22 01:38] #69252 closed

[2021-01-22 01:43] amanjeetsingh opened #69284 "More information required - Failback for Hbase under Leader-Follower model"
The document mentions that Hbase uses ([leader-follower model](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-high-availability-case-study#:~:text=HBase%20replication%20uses%20the%20Leader) model.

Clarification required is around:

1. For failover, the document mentions that reads get serviced using secondary instance of Hbase for 5 hours. Is this 5 hour threshold that ships with HDI?

[2021-01-22 01:49] adriantorrie opened #69285 "Add DataFlow examples to Python Data Factory code"
Add DataFlow examples to Python Data Factory code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0fee977f4beb
* Content: [Quickstart: Create an Azure Data Factory using Python - Azure Data Factory](https://docs.microsoft.com/en-us/az

[2021-01-22 02:03] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr Thanks for the query, may we know what kind of IoT Edge device/Make/Model you are using here? I believe you are not looking for any reverse proxy over here and the only intent is a forward proxy[in generally called proxy], right? Please comment in the below section...

[2021-01-22 02:25] zackliu commented on #69108
Should be the URL of your upstream handler. If you host it on Azure Function, then it's Azure Function server's URL.

[2021-01-22 02:56] BharathNimmala-MSFT commented on #69252
@MarlEva Thank you for reaching out, checking into see if you already taking this feedback with the respective teams and closed this issue ? If not, please let us know if you have any feedback for improving Azure documentation. Thanks

[2021-01-22 03:01] ggailey777 commented on #59880
@cachai2 can you please comment on the current status here. I think the VNET status has changed recently.

[2021-01-22 03:01] ggailey777 commented on #59880
#reassign:cachai2

[2021-01-22 03:15] ggailey777 commented on #40356
@cachai2 it sounds like we need to add some guidance wrt firewall here: https://docs.microsoft.com/azure/azure-functions/storage-considerations#storage-account-requirements

[2021-01-22 03:23] TestUser0811 commented on #69081
Any update?

[2021-01-22 04:16] AnuragSharma-MSFT commented on #69113
@ydhondt We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-22 04:17] #69113 closed

[2021-01-22 04:17] AnuragSharma-MSFT commented on #69062
@VampireDaniel Awaiting your response on this.

[2021-01-22 04:25] CHEEKATLAPRADEEP-MSFT commented on #69281
@amanjeetsingh  Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 04:25] CHEEKATLAPRADEEP-MSFT commented on #69279
@chuckheinzelman  Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 04:27] CHEEKATLAPRADEEP-MSFT commented on #69284
@amanjeetsingh  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-22 04:30] ggailey777 commented on #36458
#reassign:ggailey777

[2021-01-22 04:51] shashishailaj commented on #69168
Closes MicrosoftDocs/azure-docs#69168

[2021-01-22 05:01] HarithaMaddi-MSFT commented on #69285
@adriantorrie - Thanks for your valuable suggestion. I am moving it to content author to review and share their thoughts.

@dcstwh - Can you please take a look.

[2021-01-22 05:02] HarithaMaddi-MSFT commented on #69283
@arvind-dhariwal - Thanks for your valuable suggestion. We are looking into it and will get back to you shortly.

[2021-01-22 05:19] SwathiDhanwada-MSFT commented on #69274
@xuegao0112 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-22 05:38] paulbouwer commented on #68843
@lmqferreira - thank you for submitting feedback on this set of content. As you mentioned, it is an ongoing task to keep samples compliant with rapidly iterating Istio releases.

@psmanhas - we have been discussing deprecating this content around canary releases as part of a reworking of this service mesh section. We have discussed directing readers to [Flagger](https://flagger.app/) which automat

[2021-01-22 05:48] AshokPeddakotla-MSFT commented on #69255
@fgheysels Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-22 05:56] v-hagamp commented on #59722
The Issue got resolved as suggested above.
#please-close

[2021-01-22 05:56] #59722 closed

[2021-01-22 05:57] v-hagamp commented on #67668
The issue was resolved as suggested above.
#please-close

[2021-01-22 05:57] #67668 closed

[2021-01-22 06:09] dazhang88 opened #69289 "Region pairs table out of date"
The region pairs table on this page seem to be out of date, and doesn't align with https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies, can this be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-

[2021-01-22 06:10] CHEEKATLAPRADEEP-MSFT commented on #69090
@pnarsi, As it called out in the document, you need to Make sure that the firewall on your network and local computer allows outgoing communication on TCP ports 80, 443 and 1443 for Synapse Studio.

 Azure Synapse Analytics enforces encryption (SSL/TLS) at all times for all connections. This ensures all data is encrypted "in transit" between the client and server irrespective of the setting of Enc

[2021-01-22 06:10] #69090 closed

[2021-01-22 06:43] HarithaMaddi-MSFT commented on #69283
@arvind-dhariwal - The article explains the approach to use native integration runtime capabilities of data factory when private peering needs to be used as below. We have separate [tutorials ](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-portal-private#:~:text=The%20pipeline%20in%20this%20data,Data%20Factory%20Managed%20Virtual%20Network.) that explains configuration ste

[2021-01-22 06:44] v-hagamp commented on #69257
@dgordoncal

As you said, there is nothing to change in the article and we updated the Reply URL pattern in the Gallery, it may reflects soon.
so, am closing this.
#please-close

[2021-01-22 06:44] #69257 closed

[2021-01-22 06:54] CHEEKATLAPRADEEP-MSFT commented on #69279
@chuckheinzelman Could you please help me with the incorrect details in the document?

[2021-01-22 06:56] shashishailaj commented on #69256
@YidiQin Thank you for your query. We will have this reviewed and update the thread.

[2021-01-22 06:57] Pratik44 opened #69290 "We have policy that restricts public IP allocation. I am unable to create AKS cluster with standard sku."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/private-clusters)

[2021-01-22 06:59] KrishnaG-MSFT commented on #69289
@dazhang88 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-22 07:01] KrishnaG-MSFT commented on #69249
@jwa5426 Hope you have self resolved the issue and hence closed it.

If that's not the case and if the issue is related to particular Azure document then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.

[2021-01-22 07:05] jyama4ta opened #69292 "update Guest OS list"
It seems that the list for Guest OS is out of date. I think it should include Windows Server 2019.
----
More than 64 vCPU's require one of these supported guest OSes: Windows Server 2016, Ubuntu 16.04 LTS, SLES 12 SP2, and Red Hat Enterprise Linux, CentOS 7.3 or Oracle Linux 7.3 with LIS 4.2.1.
----

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-01-22 07:06] KrishnaG-MSFT commented on #69199
@lauradolan Thanks for the super quick response. 👍

[2021-01-22 07:10] daniel-tejeda commented on #44273
Same here, are there any plans to have debugging for Linux anytime soon?

[2021-01-22 07:14] YutongTie-MSFT commented on #69162
@zhusulai Hi, we have fix on the way. Thanks for pointing out this.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-01-22 07:14] #69162 closed

[2021-01-22 07:15] BryanTrach-MSFT commented on #69260
@JohnGalt1717 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-22 07:15] xiafu-msft commented on #65265
Hi @arduppal

It looks like the customer still get the same problem https://github.com/Azure/azure-sdk-for-python/issues/15957 can you help him/her with it?

Thanks so much

[2021-01-22 07:22] YutongTie-MSFT commented on #69191
@PhillMoran Hi Phill, could you please tell us which region are you in? @zhusulai Please share as well. We are relaeasing a hot fix for this. Thanks for pointing this out. ^^

[2021-01-22 07:31] psmanhas commented on #69290
@Pratik44 Thank you for your query. Can you help me understand what is the error you are getting while creating cluster and also if you can help me with policy configuration that will be helpful as well.

Thanks

[2021-01-22 07:34] psmanhas commented on #69276
@TimLovellSmith Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-22 07:34] psmanhas commented on #69276
@KumariSupriya Can you please check and add your comments on this doc update request as applicable.

[2021-01-22 07:41] psmanhas commented on #69275
@marcosgm Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-22 07:42] psmanhas commented on #69275
@sakthi-vetrivel Can you please check and add your comments on this doc update request as applicable

[2021-01-22 07:52] psmanhas commented on #69292
@jyama4ta Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-22 07:54] psmanhas commented on #69292
@ayshakeen Can you please check and add your comments on this doc update request as applicable

[2021-01-22 08:13] misterious-mister-x opened #69293 "The guide doesn't seem to be working for the version 3.2"
Following the guide I am getting these messages.
It seems that commands are not adapted to the newer version of Az.Storage or are not meant to be working.

PS C:\WINDOWS\system32> Add-AzStorageAccountNetworkRule -ResourceGroupName $resourceGroupName -Name $accountName -TenantId $tenantId -ResourceId $resourceId
Add-AzStorageAccountNetworkRule : A parameter cannot be found that matches parameter na

[2021-01-22 08:28] tinvu1999 opened #69299 "cost"
[Nhập phản hồi vào đây]
I use azure for my studies, I find it free. After that, I came back and it cost me a lot of money. I don't know what's going on. I feel bad.

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d027b
* Version Independent ID: 7502f1f9-0ab9-5596-1254-1912

[2021-01-22 08:34] kornelione opened #69301 "Missing documentation on how to enable blob versioning with azure cli / powershell"
[Skriv inn tilbakemeldingen her]
Missing documentation on how to enable blob versioning with azure cli / powershell.
The description only provides how we can do this with portal.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 46cccffb-b0b7-c591-8b43-586c940709db
* Version Independent ID: cdc804a4-2cc0-13fe-8e54-a762

[2021-01-22 08:40] vlad610 opened #69302 "Testing internal VNET deployments from Azure Portal"
The document mentions:

_The Test console available on the Azure Portal will not work for Internal VNET deployed service, as the Gateway Url is not registered on the Public DNS. You should instead use the Test Console provided on the Developer portal._

This is not accurate. If you use the "Bypass CORS proxy" option, the browser would send the request to the APIM gateway directly, so you would be

[2021-01-22 08:50] pemsft opened #69303 "ARM template for Azure Defender integrated vulnerability scanner extension"
Thank you for the valuable documentation!

ARM template for deploying Azure Defender integrated vulnerability scanner extension (WindowsAgent.AzureSecurityCenter) is still missing from the documentation. Could you add that too?

https://docs.microsoft.com/en-us/azure/azure-arc/servers/manage-vm-extensions-template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-01-22 09:10] mtwelve opened #69304 "Network Firewall Rules on the Storage Account"
Is it possible to configure network restrictions via the Storage Account Firewall and still allow the Genomics service to read the input and save the output data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcb147c-ad94-4926-6cec-da6013c6006a
* Version Independent ID: a2a1e627-0b49-4757-51b3-9a1e3ddd432e
* Content:

[2021-01-22 09:25] GitaraniSharma-MSFT commented on #69278
@mark-a-thompson , thank you for your suggestion. We have assigned this to the content owner/author for review.

@duongau , could you change "Microsoft Edge" in the picture to "Microsoft Edge Router/Network" for more clarity?

![image](https://user-images.githubusercontent.com/67630903/105472286-c0eaf800-5cc1-11eb-941f-88727ddd19db.png)

[2021-01-22 09:25] HarithaMaddi-MSFT commented on #69293
@misterious-mister-x - Thanks for posting the issue. We are looking into it and will get back to you with our findings soon.

[2021-01-22 09:30] GitaraniSharma-MSFT commented on #69273
@bahramr , Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will get back to you shortly.

[2021-01-22 09:31] SaiKishor-MSFT commented on #69066
@RicZhou-MS Thank you for pointing this out! I have updated the doc accordingly. Please let us know if you have any other questions/concerns. I will go ahead and close this thread for now. Thank you!

[2021-01-22 09:31] #69066 closed

[2021-01-22 09:35] AdamSharif-MSFT opened #69306 "Document references the cluster resource group instead of node resource group"
The documentation specifies the cluster resource group for the commands:

az vmss extension set  \
    --resource-group $CLUSTER_RESOURCE_GROUP

az vmss update-instances --instance-ids '*' \ --resource-group $CLUSTER_RESOURCE_GROUP \ --name $SCALE_SET_NAME

However, the resource group should be the node/infrastructure resource group to update the VMSS.

---
#### Document Details

⚠ *Do not edit th

[2021-01-22 09:43] VikasPullagura-MSFT commented on #69306
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-22 09:44] VikasPullagura-MSFT commented on #69306
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-01-22 09:59] shashishailaj commented on #69262
@JJ Thank you for your feedback . We will have this reviewed and update the thread.

[2021-01-22 10:01] shashishailaj commented on #69277
@WimSchuiteman Thank you for your query. We will investigate and update the thread.

[2021-01-22 10:04] pranayt opened #69307 "TumblingWindowTriggerStartTimeUpdateNotAllowed error"
DataFactory Tumbling window trigger problem:

I have been receiving an error while datafactory deployment.

_TumblingWindowTriggerStartTimeUpdateNotAllowed Start time cannot be updated for Tumbling Window Trigger._

It was working previously, but since 2 weeks it is not able to update the trigger. Alternatively i started deleting the trigger during deployment and then deploying again. But another

[2021-01-22 10:18] SadiqhAhmed-MSFT commented on #69105
@Pannawitek We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-22 10:18] #69105 closed

[2021-01-22 10:20] ChrisOBrien93 opened #69308 "Which Regions Support Sentiment Analysis, Spell Check and Speech Priming In the Prediction Resource"
I have a LUIS Authoring resource in the West US region and a Prediction resource in the South Africa North region. When I run a query against the authoring endpoint, the intents and sentiment are returned in the JSON response. When I run the same query against the prediction resource, the sentiment is not returned in the JSON response.

Are the sentiment analysis, spell check and speech priming fe

[2021-01-22 10:25] SadiqhAhmed-MSFT commented on #69299
@tinvu1999 Sorry for the painful experience. Since it is related to Azure cost/billing, I suggest you raise a billing support request for the concerned team to investigate your account details to help you understand billing discrepancy.

Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request to create support case.

[2021-01-22 10:25] #69299 closed

[2021-01-22 10:37] SumanthMarigowda-MSFT commented on #69301
@kornelione Thanks for the question! We are investigating and will update you shortly.

[2021-01-22 10:57] XristophD commented on #69228
Hello,
since I am stumbling over the same issue, I would like to add my experience here as well.

As I understand, the process is as the following:
1. Create Data Collection Rule (e.g. via Portal, Rest or ARM)
2. Create Data Collection Rule Association (via Portal, Rest or ARM)
  a. this should install the extension
  b. this should set system assigned Identity on VM, if not already there

What I

[2021-01-22 11:02] SwathiDhanwada-MSFT commented on #69228
Thanks for your detailed analysis @Aaronmcd1978 @XristophD . I am looking into it and will update you soon.

[2021-01-22 11:31] mormor1971 opened #69310 "Azure Virtual Network TAP availability - what's the latest update?"
I was wondering if there has been any updated to the availability of the Azure Virtual Network TAP recently, last I heard the feature had been pulled back and I was wondering if there had been any official updates that I had missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d8be962-4812-f08c-1649-f564b561e97d
* V

[2021-01-22 11:43] DimaSip94 opened #69311 "I don't understand what I need to do with Json settings for some services"
I see Json examples for linked service and dataset properties. I use .Net code https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net#create-a-linked-service

 `LinkedServiceResource storageLinkedService = new LinkedServiceResource(
    new AzureStorageLinkedService
    {
        ConnectionString = new SecureString(
            "DefaultEndpointsProtocol=https;Ac

[2021-01-22 12:09] #69311 closed

[2021-01-22 12:10] DimaSip94 commented on #69311
In .Net should use other implementation of LinkedService, for me AzureBlobFSLinkedService

[2021-01-22 12:18] HarithaMaddi-MSFT commented on #69293
@misterious-mister-x - Document states the version as 3.0.1 or higher. From the error messages, it appears parameter values are not detected correctly in the commands. Please check and let us know if issue persists.

[2021-01-22 12:21] GitaraniSharma-MSFT commented on #69310
@mormor1971 , thank you for your question. I checked with the backend team and there have not been any official updates about Azure Virtual Network TAP availability recently. It is still on hold. Hence, request you to email at azurevnettap@microsoft.com with your subscription ID and the team will notify you with future updates about the preview.

We are closing this issue for now. If there are fur

[2021-01-22 12:21] #69310 closed

[2021-01-22 12:31] AnuragSharma-MSFT commented on #69158
@vick-git This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-22 12:50] AjayKumar-MSFT commented on #69311
@DimaSip94, Thanks for taking time to post this question. Since you have closed the issue, we presume that you have sorted out the issue, if you need further assistance on this, please let us know.
As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-01-22 12:51] dataslicer opened #69314 "How to configure conda for Azure Databricks (private link setup) with proxy & dedicated index server?"
Thank you for the explanation about Azure Databricks Runtime uses `conda` for Python package dependencies.

The extra twist is that my Azure Databricks Runtime does not have a direct internet connectivity to `conda` repo hosted on Anaconda's public repo.  My Azure Databricks runtime only has dedicated Private Link.  On top of that, there are 2 additional requirements:  HTTP/S proxy is required and

[2021-01-22 12:56] psmanhas commented on #68109
@mcurko The reason I asked was because EventStore is not supported for Linux or Standalone environments and I hope the customer is not using one of those environments.

If you are not, then can you please share the compilation error that you currently see so that we can help investigate the issue.

Thanks

[2021-01-22 13:08] wombling commented on #67669
@jeevansd that's fine! I understand that you don't want to change the functionality of the export of the metadata so that you can handle exporting multiple certificates (including inactive ones.) I see the reason behind that.

However, this specific documentation is about linking to SAP Cloud Identity Services, which do not support the inactive certificates and cause a problem if you export the me

[2021-01-22 13:38] SnehaAgrawal-MSFT commented on #69075
@walkinwillie We will now close this out but if you feel you need more information please just let us know.

[2021-01-22 13:38] #69075 closed

[2021-01-22 13:46] fvarga01 opened #69316 "Resource Group level, not workspace level, RBAC permissions are required to create Synapse sql/spark pool resources"
For "STEP 5: Grant Synapse administrators the Azure Contributor role on the workspace", it is necessary to grant administrators RBAC contributor permissions at the resource group level instead of just the workspace level.

When only granting contributor at the workspace level, the administrator is unable to create sql or spark pool resources. This is the case even when trying to create the sql or

[2021-01-22 13:46] mcurko commented on #68109
I don't have the code anymore, I reported the problem a month ago...

[2021-01-22 13:51] chadcarlton opened #69317 "Documentation leaves uncertainty on how to deal with Azure Datacenter host Maintenance?"
Bullet three of this link
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#limitations
talks about container IP address changes due to Azure datacenter host maintenance (by azure datacenter techs).

The text states:
_“The IP address of a container group is typically retained between updates, but isn't guaranteed to remain the same. As long as the container grou

[2021-01-22 14:02] piotrgwiazda opened #69318 "Is it possible to have one App Gateway to handle traffic for 2+ Kubernetes Clusters?"
Is there a scenario that will allow having one Application Gateway serving traffic for many Kubernetes clusters and handle multiple FQDNs? Especially useful in dev environments to save costs having one instance of App Gateway standard in front of multiple clusters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce7e4c

[2021-01-22 14:11] SadiqhAhmed-MSFT commented on #68936
@bandersmsft To comment on the follow up question.

[2021-01-22 14:15] TobiRoby commented on #68541
Thanks for taking the time answering my question.

I wasn't 100% aware that azure monitoring is the preferred tool (even though it is stated quite clear in the documentation).
I probably missed it due to the fact, that my testing scenario was focused on single container on azure vm.
This use case does not seem to be covered by the [azure monitoring documentation](https://docs.microsoft.com/en-us/a

[2021-01-22 14:15] #68541 closed

[2021-01-22 14:25] cmac-shelter commented on #34967
oh wow my timing for running into this could not have been better

[2021-01-22 14:33] RohitMungi-MSFT commented on #69308
@ChrisOBrien93 Thanks for the question. I have tried your scenario where the authoring resource is in westus and prediction is in south africa north. In my case I was able to receive the response from the prediction resource. This is also documented [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions#other-publishing-regions).

Authoring:
![image](https://u

[2021-01-22 14:42] Plus3IT-Azure commented on #69004
@JayaChatterjee-MSFT I troubleshooted with my developer and we're sure it's a networking issue. Our function apps are hosted on a private DNS zone with custom domain names nor are they public facing. We attempted to perform a curl on the bastion host that has access to the function app and the error is:
 `Could not resolve host: application; Host not found
* Closing connection #0
curl: (6) Could n

[2021-01-22 14:45] MonikaReddy-MSFT commented on #69150
@jelew -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-22 14:47] rjtshrm opened #69322 "Azure spatial anchors error on unity android : azurespatialanchorsndk not found"
I am trying to use azure spatial anchors with the unity android app.   However, I am always getting the error mentioned below when try to run on unity.
[code]

Also, when I try to deploy the app on android, the app always crashes with azure spatial ancors functionality. Below are the logs from android logcat

[code]

Below is my mainTemplate.gradle file that I have used for the build
[code]

I hav

[2021-01-22 15:03] andyliuliming opened #69324 "One question about when the key will be re-generated if we use key vault to manage the storage account key."
is there one way that we can get when our storage account key will be generated?

I think if I run the command
"az keyvault storage add --vault-name     ev2test2-aksomeastus2 -n ev2test2etcdbkeastus2 --active-key-name key1 --auto-regenerate-key true --regeneration-period P2D         --resource-id "/subscriptions/xxxx/resourceGroups/xxxx/providers/Microsoft.Storage/storageAccounts/stg1"
at 2021-09-

[2021-01-22 15:07] ramakrpr commented on #69076
@SatishBoddu-MSFT

we have procured Azure Stack Edge Pro - 2 GPU
I believe it should be forward proxy, to help the device connect via proxy to the internet. Any recommended proxies with which this has been tested will suffice for us, for example Apache?

[2021-01-22 15:10] MonikaReddy-MSFT commented on #69317
@chadcarlton -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-22 15:17] dgienow opened #69325 "Incorrect AKS update documentation"
In the AKS documentation on updating authorized IP address ranges on a cluster, the documentation note indicates that running a command with a single IP address will append to the authorized-ip ranges.  The actual behaviour is that the command will replace all authorized IP addresses with the one specified in the command:

For example, if I have pre-defined IP ranges 0.0.0.0/32,127.0.0.1/32 and I

[2021-01-22 15:24] tamram commented on #28906
@NaraVen - Thank you, I'll close out. For future reference, you can just enter `#please-close` in the conversation window to close.

#please-close

[2021-01-22 15:24] #28906 closed

[2021-01-22 15:29] poeticcapybara commented on #69191
Seeing this issue as well in westeurope

[2021-01-22 15:30] EasyAsABC123 opened #69326 "Error in file that is presented for function.json"
This:
[code]
for python should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6cd6a0-5364-65e6-b088-cc00093f836f
* Version Independent ID: 3c90d8fb-0fea-3496-e73e-0020ff33adef
* Content: [Azure Functions HTTP trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-tr

[2021-01-22 15:41] zhusulai commented on #69191
@PhillMoran, my workspace is in East US. Thanks.

[2021-01-22 15:57] SaurabhSharma-MSFT commented on #69316
@fvarga01 Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 15:58] ezYakaEagle442 opened #69327 "outdated Moby reference to be updated with Containerd"
This page states :
_AKS nodes are Azure virtual machines that you manage and maintain. Linux nodes run an optimized Ubuntu distribution using the Moby container runtime. Windows Server nodes run an optimized Windows Server 2019 release and also use the Moby container runtime._

Whereas Containerd is used by default since 1.19, see [https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#c

[2021-01-22 15:59] akousmata commented on #57307
@helplessJ any additional details to report?  We're having a similar issue but we believe it's related to the SSL cert as we are getting the error message:

[2021-01-22 16:02] HughDevlin commented on #69267
Thank you very much for your quick reply and your offer of help.

We understand how to determine the plan info, that is not a problem, thanks, our issue is with how to supply the plan info to VM creating cmdlets.

Thank you for your suggestion of the "Supply Azure Marketplace purchase plan information when creating images" topic. This topic is very close to our use case, except that we are not usi

[2021-01-22 16:05] KrishnaG-MSFT commented on #69303
@pemsft Thanks for the feedback.
Assigning @MGoedtel for visibility, review and document enhancement consideration as appropriate.

[2021-01-22 16:05] ezYakaEagle442 opened #69328 "Reference to Kured to be replaced by Node Image Upgrade"
[Node-security](https://docs.microsoft.com/en-us/azure/aks/concepts-security#node-security) section refers to Kured, both Node-security and Cluster Upgrade sections should referer to [Node Image Upgrade](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc8

[2021-01-22 16:09] agribot2 opened #69329 "show how to do this fully within Visual Studio 2019"
It would be very valuable to show how to do this using only Visual Studio 2019, not only VS Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542c2bdc-5868-71d5-1d1a-a2c6d61744b0
* Version Independent ID: 1bba15a0-227a-8137-a023-90b8df19881b
* Content: [Create a Python function using Visual Studio Code - Azure Funct

[2021-01-22 16:18] mrbullwinkle commented on #68129
The article is now updated to provide guidance for both the current GA release as well as the preview release. We are going to be making some additional updates over the next week to streamline this article further, but the currently published updates should address the concerns highlighted in this GitHub issue. We are going to close out the issue at this time. If you run into further issues with

[2021-01-22 16:18] mrbullwinkle commented on #68129
#please-close

[2021-01-22 16:18] #68129 closed

[2021-01-22 16:20] ezYakaEagle442 opened #69331 "Reference to Kured to be replaced by Node Image Upgrade"
Kured reference at section _Process Linux node updates and reboots using kured_ and in the next steps link should[referer to Node Image Upgrade](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade)

See #69328

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57992e58-4e0c-5b5d-0136-ca7974283d2d
* Version Indepe

[2021-01-22 16:29] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr Thanks for the additional info.

Let me check on this.

[2021-01-22 16:34] DCtheGeek commented on #66906
#reassign:DCtheGeek

[2021-01-22 16:34] DCtheGeek commented on #66906
#label:"in-progress"

[2021-01-22 16:35] DCtheGeek commented on #66906
@jasonfritts Thanks for the feedback.  I've updated the article and as soon as the PM reviews, I'll merge in the change.  Doing so will automatically close this issue.  Thank you for pointing this out!

[2021-01-22 16:41] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr

We want to be sure we can help you in the proper place and leverage the community as well. For that reason, I kindly ask that you post your question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-iot-edge.html). Please use a tag.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. W

[2021-01-22 16:42] RicardoNiepel opened #69332 "Azure Cost Management Power BI App should be able to join additional data"
Please provide a sample / documentation how this can be done, e.g. joining data from a Azure SQL database with metadata to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Version Independent ID: 7952af48-217c-d753-2ec0-a14fe75867cd
* Content: [Analyze Azure costs with the Power

[2021-01-22 16:44] RonyMSFT commented on #69090
Thanks @CHEEKATLAPRADEEP-MSFT. STudio redirects port 80 to 443, so encryption would be enforced. Port 1443 is required because Studio talks to SQL using port 1443. The team is currently working to support 443 for this traffic as well and when that change is made, then you dont need 1443. We will update documentation when that change has occurred.

[2021-01-22 16:52] aggerritsen commented on #66999
Thanks for the feedback. However this is not what I mean. I was looking for a programmtic way to connect the Subscriptions Activity Log to the Log Analytics Workspace used by Sentinel. It turns out that this is a Log Analytics **Data Source,** for which connectors can be created using REST API found here: https://docs.microsoft.com/en-us/rest/api/loganalytics/datasources

This solution was deliver

[2021-01-22 17:09] drojasug opened #69333 "Add details to Contributor role workaround"
[Enter feedback here]
On this part:
"On your logic app's resource group menu, select Access control (IAM). Set up the other account with the Contributor role. For more information, see Add or remove Azure role assignments using the Azure portal."

I would add: "Once you set up the Contributor log. You should log in with the Contributor Account and connect to Office 365 using SSO."

It took me some

[2021-01-22 17:11] het-msft opened #69334 "Correction in VM restart requirement"
[Enter feedback here]
I had a customer case where customer got misled by sentence 'The conversion requires a restart of the VM' and they performed this conversion but it actually restarted the VM.
I suggest that this sentence should be changed to 'The conversion will restart the VM' to avoid any confusion.

![image](https://user-images.githubusercontent.com/63858111/105521929-979e8c00-5d02-11eb-80

[2021-01-22 17:21] MonikaReddy-MSFT commented on #69334
@het-msft -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-22 17:30] SatishBoddu-MSFT commented on #69076
Hi @ramakrpr we are checking with our team, please ignore the previous comment [as of now] and stay tuned for further updates. **Reason**: It is too early to redirect this query. We are exploring a better way to help Azure Stack Hub Customers.

[2021-01-22 17:36] KiranmaiS opened #69335 "Outdated screens in the doc"
The screens shown in "Automated threat responses" section in this document seems to be outdated and no longer valid. Please replace them with the updated UI design

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9962c711-a464-85d7-07dc-29140ff9a715
* Version Independent ID: bc9eaa33-6bb4-6c91-724e-589f022c2159
* Content

[2021-01-22 17:42] BenjaminWCarne opened #69336 "Bad Request - Problem Details - RestSink"
Is it possible to access the problem details, or any other details, related to a bad request?

(UPDATE - my question also applies to custom response bodies, e.g. an Create entity type endpoint that reports errors with a custom response class)

In my scenario, I'm POSTing to a Rest sink with a request that contains an invalid date.

When called via PostMan, a helpful Problem Details is returned, li

[2021-01-22 17:42] Grace-MacJones-MSFT commented on #69302
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-22 17:50] fvarga01 opened #69337 "Similar Documentation Needed for Synapse Spark Pool Storage Authentication Options"
Please add a similar article to document storage access control options available for Synapse Spark pools. Through my testing I can see that Pass Through Authentication  (User Identity authentication) is also supported for Synapse Spark Pool interactive notebooks, but I don't see that this is documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-22 17:50] Esme-A commented on #68982
Hello Desai, does very interesting. Did you happen to test with vCenter 6.7? I have confirmed I have the appropriate permissions which are listed below. BTW, the privileges in red test below are incorrectly named in the MS docs. Can you please guide me as to whom can I open the support ticket with?

From: SujayJDesai <notifications@github.com>
Sent: Wednesday, January 20, 2021 11:16 PM
To: Microso

[2021-01-22 17:52] Esme-A commented on #68982
Sorry I forgot to include the table. Thank you so much for looking into this issue.

From: esme-amaya@verizon.net <esme-amaya@verizon.net>
Sent: Friday, January 22, 2021 12:51 PM
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Microsoft Azure Backup Server (MABS) / VMware Role Privilege Error (#68982)

Hello Desai, does very interesting. Did you happ

[2021-01-22 17:53] Grace-MacJones-MSFT commented on #69304
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-22 17:54] mgblythe commented on #68846
I'm adding a note to the article today re: ad blockers

[2021-01-22 17:55] Grace-MacJones-MSFT commented on #69318
Thanks for the feedback! We are currently investigating and will update you soon.

[2021-01-22 17:56] Grace-MacJones-MSFT commented on #69336
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-22 17:57] ezYakaEagle442 opened #69338 "Azure Dev Space outdated reference to be replaced by Bridge to Kubernetes"
[https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes#development-tooling-integration](https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes#development-tooling-integration) refers to Azure Dev Space which is deprecated, should be updated with [Bridge to Kubernetes](https://code.visualstudio.com/docs/containers/bridge-to-kubernetes-aks)

---
#### Document Details

⚠ *Do not edit this

[2021-01-22 17:57] Grace-MacJones-MSFT commented on #69337
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-22 18:01] subhroneeldey opened #69339 "Cost and Time for Recovering sql database"
Hi, we are using azure sql server with Point in time recovery of 7 days. We have accidentaly dropped a table and want to recover that. We are planning to recover to a new database in the sql server to get that table. The database size is 500 gb and the table which we want to recover is less than 500 mb. Is there a better, cost - efficient way for data recovery?

I would also like to understand whe

[2021-01-22 18:09] Grace-MacJones-MSFT commented on #69307
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-22 18:11] Grace-MacJones-MSFT commented on #69335
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2021-01-22 18:15] Grace-MacJones-MSFT commented on #69332
Thanks for the feedback! We are currently investigating and will update you soon

[2021-01-22 18:19] Grace-MacJones-MSFT commented on #69314
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-22 18:23] Grace-MacJones-MSFT commented on #69322
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-22 18:26] Grace-MacJones-MSFT commented on #69325
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-22 18:26] Grace-MacJones-MSFT commented on #69326
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-22 18:29] JamesTran-MSFT commented on #69280
@pnarsi
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-22 18:30] Grace-MacJones-MSFT commented on #69338
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-22 18:32] Grace-MacJones-MSFT commented on #69329
thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2021-01-22 18:33] Grace-MacJones-MSFT commented on #69333
Thanks for your feedback! We will review and look into updateing this doc accordingly.

[2021-01-22 18:35] Grace-MacJones-MSFT commented on #69327
Hi @ezYakaEagle442 , thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2021-01-22 18:37] jaggersystems opened #69340 "Page needs review"
The advice on this page seems out of date. The import-module command didn't work, it needed to be install-module first and then another error

PS C:\WINDOWS\system32> $Setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ).id
Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name o

[2021-01-22 18:38] Grace-MacJones-MSFT commented on #69331
Thanks again for your feedback @ezYakaEagle442! We will review and update this doc accordingly.

[2021-01-22 18:42] JamesTran-MSFT commented on #69263
@salgattpx
Thank you for the detailed description of your issue!

I just wanted to make sure you were able to add "Microsoft.AzureActiveDirectory" as a resource provider and create your B2C tenant? Or is this more of a doc enhancement type of request to add this requirement to the pre-reqs?

![image](https://user-images.githubusercontent.com/36619112/105531641-7c9a3080-5c9e-11eb-8e9e-aea0ba1b15f4.

[2021-01-22 18:43] Grace-MacJones-MSFT commented on #69328
Hi @ezYakaEagle442, thanks for your feedback! We will review and update this doc shortly.

[2021-01-22 18:43] ChrisOBrien93 commented on #69308
Hi @RohitMungi-MSFT

Thanks for getting back to me! I can't see the sentiment label and value in the response you shared. Please can you confirm or show where the sentiment is in your response? I am able to receive the response without a problem, just the sentiment component that isn't in the response.

[2021-01-22 18:44] salgattpx commented on #69263
Thank you for the follow up! I was able to register it afterwards. I just
didn't see it needing to be manually added in the directions. I struggled
for a hot minute because I failed to actually read the error message ;)

On Fri, Jan 22, 2021, 13:42 James Tran-MSFT <notifications@github.com>
wrote:

[2021-01-22 18:47] Grace-MacJones-MSFT commented on #69340
Hi @jaggersystems, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2021-01-22 18:49] MarileeTurscak-MSFT commented on #69123
Is that occurring for the user objects? Did those users' ms-DS-ConsistencyGuid attributes were already populated?

[2021-01-22 18:56] jaggersystems commented on #69340
Hi, no problem. I have since realised there is AzureAD and AzureADPreview cmdlets to import. Either way, the import-module command without having the module installed first could confuse others.

[2021-01-22 18:57] rjtshrm commented on #69322
I have setup a minimal repo to recreate this behaviour which can find [azure-spatial-anchors-sample](https://github.com/rjtshrm/azure-spatial-anchors-sample).  Below are the android logs captured from logcat.  the android app craches when calling _CloudSpatialAnchorSession_.
![logcat_1](https://user-images.githubusercontent.com/6351392/105533036-f1478c00-5ceb-11eb-8dcb-d737972bdc5e.PNG)
![logcat_2

[2021-01-22 18:57] ezYakaEagle442 opened #69342 "outdated Moby reference to be updated with Containerd"
[https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools](https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools) refers to Moby Whereas Containerd is used by default since 1.19, see [https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#container-runtime-configuration](https://docs.microsoft.com/en-us/azure/aks/cl

[2021-01-22 18:58] grhuynh commented on #69304
At this time this is not possible. You could possibly get something working with a pretty big hole in the firewall to allow access from a wide-range of batch server IP addresses, but likely not what you really want.

[2021-01-22 19:01] grhuynh commented on #69256
This is likely unrelated to the genomics service - it is more likely an issue with your the access restrictions you have placed on your storage account. You can read more about how to set those here https://docs.microsoft.com/en-us/azure/storage/common/storage-auth?toc=/azure/storage/blobs/toc.json__

[2021-01-22 19:06] JamesTran-MSFT commented on #69263
@salgattpx
Thank you for the quick response and I'm glad that you were able to resolve your issue!

I have created a PR to update the documentation with the troubleshooting link you provided and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into

[2021-01-22 19:06] #69263 closed

[2021-01-22 19:09] AnuragSharma-MSFT commented on #69062
@VampireDaniel We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-22 19:09] #69062 closed

[2021-01-22 19:10] JamesTran-MSFT commented on #69268
@neilmiaowang
I was able to find a tutorial that walks you through [building a SCIM endpoint and configuring user provisioning with Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups). Additionally, you can refer to our [How provisioning works](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/how-provisi

[2021-01-22 19:14] JamesTran-MSFT commented on #69342
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 19:20] JamesTran-MSFT commented on #69342
@ezYakaEagle442
Thank you for pointing this out! I've assigned this issue to the author to investigate and update as needed.

[Nodes and node pools documentation:](https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools)
![image](https://user-images.githubusercontent.com/36619112/105534902-05b36680-5ca3-11eb-9204-f6b6161ac721.png)

[Container runtime configurati

[2021-01-22 19:27] djperlovsky commented on #68763
@lesterw1 Can you please respond to the above query?

[2021-01-22 19:35] #66906 closed

[2021-01-22 19:39] JamesTStanley opened #69343 "Request a table of versions & end of support dates"
It would be really helpful if there was a table with all currently supported versions and their end dates. We do this for other modern lifecycle products like SCCM (https://docs.microsoft.com/en-us/mem/configmgr/core/servers/manage/updates) and M365 apps (https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date).

Right now all we list for a given release (spread thr

[2021-01-22 19:41] KranthiPakala-MSFT commented on #69307
Hi @pranayt

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for thedocumentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://

[2021-01-22 19:41] #69307 closed

[2021-01-22 19:44] #68480 closed

[2021-01-22 19:57] VanMSFT commented on #68161
Hi @spotakash - Sorry for the inconvenience. Are you in a different region that would use the format **dd/mm/yyyy** instead of **mm/dd/yyyy**?

[2021-01-22 19:58] MarileeTurscak-MSFT commented on #69146
@JasSuri would you be able to confirm whether Persisted Claims is supposed to support AlwaysUseDefaultValue? It seems like this is was accidentally left out of the document, unless it is not supposed to support this.

I reached out to someone on my team as well.

[2021-01-22 20:00] bdschaap opened #69345 "Clarify Note on MSAL.NET"
[Enter feedback here]
Please clarify the following note in the docs on whether ADFS federation is supported for Active Directory integrated authentication as an alternative to Seamless SSO using either the Pass-through and Password Hash authentication methods.

"MSAL.NET (Microsoft.Identity.Client) for integrated Windows authentication is not supported for seamless single sign-on for pass-through

[2021-01-22 20:03] JamesTran-MSFT commented on #69343
@JamesTStanley
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-22 20:04] dmhelm opened #69347 "Red Hat Article is not accessible"
The link "[Install SAP HANA on Red Hat Enterprise Linux for Use in Microsoft Azure.](https://access.redhat.com/solutions/3193782)"  is not available on the Redhat site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ad9ee9-2c06-8b35-66e8-c91af5460f21
* Version Independent ID: e937a177-ab08-38c1-0bcb-ce5fc49e397b
* Co

[2021-01-22 20:05] VanMSFT commented on #64262
Hi @mattneerincx - More information about changing the connection policy is located in this document: https://docs.microsoft.com/azure/azure-sql/database/connectivity-settings

The only factor on whether a connection goes through the proxy, or gets re-directed is determined by your firewall and virtual network settings. Please let me know if I have misunderstood your feedback.

#please-close

[2021-01-22 20:05] #64262 closed

[2021-01-22 20:07] MarileeTurscak-MSFT commented on #69324
@andyliuliming
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-22 20:07] spelluru commented on #34891
Hi @NickDrouin - We sincerely apologize for the delay. I have been reviewing GitHub issues after moving in to this area. I created a work item in our DevOps to track this and I will work with the product team to update the article with an ASP .NET sample. Thanks.

#please-close

[2021-01-22 20:07] #34891 closed

[2021-01-22 20:07] erikadoyle commented on #66947
Though it may be possible to have fewer VMs than the required minimum listed for a given durability tier, such scenarios are not officially supported in Azure Service Fabric. If you are running stateful applications, you might run into quorum issues when running without 5 nodes.

#please-close

[2021-01-22 20:07] #66947 closed

[2021-01-22 20:08] erikadoyle commented on #60005
Though it may be possible to have fewer VMs than the required minimum listed for a given durability tier, such scenarios are not officially supported in Azure Service Fabric. If you are running stateful applications, you might run into quorum issues when running without 5 nodes. #please-close

[2021-01-22 20:08] #60005 closed

[2021-01-22 20:11] VanMSFT commented on #50470
Since this is not directly related to the document, but rather a product supportability question, we'll close this issue. It looks like the feature has not been released yet. Please feel free to let us know if there are any documentation concerns. Thank you for your feedback.

#please-close

[2021-01-22 20:11] #50470 closed

[2021-01-22 20:12] neilmiaowang commented on #69268
@JamesTran-MSFT
These documents don't talk about how **SAML / WS-Fed** works with SCIM provisioning. Any guidance or samples for SCIM Provisioning working with **SAML / WS-Fed**?

[2021-01-22 20:23] MGoedtel commented on #69303
You can get the ARM template currently by following the steps described by the PG for Azure Security Center in their documentation [here](https://docs.microsoft.com/azure/security-center/deploy-vulnerability-assessment-vm#automate-at-scale-deployments). You would need to update the resource "Type" parameter value as highlighted in the table in our Extensions overview article [here]( https://docs.m

[2021-01-22 20:23] #69303 closed

[2021-01-22 20:23] perktime opened #69348 "The Azure CLI command for az dms project task create is incorrect"
'az dms project task create' does not have --source-platform or --target-platform arguments (at least in version Azure CLI version 2.18.0) as mentioned in this article.

Example output:

RequiredArgumentMissingError: the following arguments are required: --resource-group/-g, --service-name, --project-name, --name/-n, --source-connection-json, --target-connection-json, --database-options-json
Try t

[2021-01-22 20:24] yadcam opened #69349 "Content Definitions not Clear on how to add it"
Hello Team,

Yesterday afternoon I was testing this document and would like more details or steps to be provided in a specific section.

In the step "Edit the content definition with the location", it is requested to "paste the entire contents of **the ContentDefinitions element you copied** as **a child of the BuildingBlocks**"

My concern is with the two Bold Texts above:

In regards to the firs

[2021-01-22 20:24] rahul-mohan opened #69350 "Finding request unit charge using Robo 3T / mongoshell"
[Enter feedback here]

I had to find out RU costs for mongo api insert operations. I was not able to use Azure Portal for this scenario because:
1. The Query Editor in Azure portal, well, lets you type in only query predicates. Cannot be used for insert statements.
2. Tried the Mongo Shell integrated with Azure Portal. It lets me run Insert queries, but it did not let me run the following command.

[2021-01-22 20:31] MarileeTurscak-MSFT commented on #69272
I think it's a good point to add this to the documentation and I reached out to someone from my team for a more detailed explanation.

CC @curtand

[2021-01-22 20:36] rahul-mohan opened #69351 "Misleading error message when throttling bulk operations"
[Enter feedback here]
The error message for throttling returned from cosmos-db (mongo-api), has verbiage that no changes were made to the DB. See highlighted portion in the sample below. Bulk operations such as insertMany/bulkWrite, however, succeeds partially when throttling occurs. The message is therefore misleading. Documentation should clarify this point - I am thinking the change is best add

[2021-01-22 20:37] VanMSFT commented on #54088
Hi @Dottn! Thanks for catching this. The document is currently being updated.

[2021-01-22 20:39] AjayKumar-MSFT commented on #69184
No worries, thanks for the update. Have a nice day!

[2021-01-22 20:40] VanMSFT commented on #65302
Following up with @GithubMirek

[2021-01-22 20:47] ChaitanyaNaykodi-MSFT commented on #69063
Hello @yutaro113,
Thank you for reaching out! I have conveyed your feedback to the portal team. As this issue does not warrant any documentation changes, I will now proceed to close this issue out.
Please tag me in your response if there are any additional concerns. Thank you!

[2021-01-22 20:47] #69063 closed

[2021-01-22 20:49] MonikaReddy-MSFT commented on #69334
@het-msft -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-22 20:49] #69334 closed

[2021-01-22 20:52] #54088 closed

[2021-01-22 20:54] MarileeTurscak-MSFT commented on #69324
@andyliuliming I've forwarded your question to someone from the AKV team. Have you tested this?

[2021-01-22 21:10] spelluru commented on #33451
Updated the article. The updated article should go live at 3 PM PST today.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sql-filter#examples

#please-close

[2021-01-22 21:10] #33451 closed

[2021-01-22 21:12] spelluru commented on #67522
@sudharsan2020 - Thanks for the feedback. We are tracking this work internally. We will work with the SDK team to make articles either language-neutral or add examples for all the languages supported. Thanks for your patience.

#please-close

[2021-01-22 21:12] #67522 closed

[2021-01-22 21:15] jabbera commented on #62690
Is there a way to do this cross tenant?

[2021-01-22 21:21] alkohli commented on #60380
Closing this. #please-close

[2021-01-22 21:21] #60380 closed

[2021-01-22 21:35] vhorne commented on #68039
Product team indicates this is by design for inbound traffic. Nothing reaches the firewall to log. The team can investigate a potential future feature if customers request it.
#please-close

[2021-01-22 21:35] #68039 closed

[2021-01-22 21:40] James-Hamil-MSFT commented on #69349
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-01-22 22:04] jonwbstr commented on #61179
Hello,

Turns out the correct username is the one described in the link below. I changed the note slightly from the referenced page to say "cspTenantID" instead of "userTenantId"

https://github.com/projectkudu/kudu/wiki/Deployment-credentials#when-to-use-which-set-of-credentials

Suggest adding a link to the page above, or placing another note on this page that addresses CSP user-level credential

[2021-01-22 22:06] alkohli commented on #45335
This is the behavior of winrm and not specific to Azure Stack Edge. Instead of documenting this behavior in Azure Stack Edge, I have added a link to winrm quick config documentation for details. See this PR that was merged: https://github.com/MicrosoftDocs/azure-docs-pr/pull/144116.
Closing this issue.

#please-close

[2021-01-22 22:06] #45335 closed

[2021-01-22 22:09] JamesTran-MSFT commented on #69268
@neilmiaowang
Thank you for the quick response!

Unfortunately, we don't have any documentation or guidance for SCIM Provisioning working with SAML / WS-Fed. However, I reached out to my team regarding this, and when it comes to the authentication protocols you mentioned, these aren't related to SCIM.

As of right now, the ones outlined in the documentation are the only methods we can use to authe

[2021-01-22 22:18] markingmyname opened #69352 "test"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-01-22 22:18] #69352 closed

[2021-01-22 22:20] ThomasPoppelgaard opened #69353 "Windows 10 missing?"
I cant find any Windows 10 support? If check installing the drivers via extensions then Windows 10 is mentioned but not in the manually document section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N

[2021-01-22 22:21] ThomasPoppelgaard opened #69354 "GRID 12"
NVIDIA GRID 12 drivers are not on the page? can this please be updated and also support for Windows 10? and what about Windows 10 multisession.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series NV

[2021-01-22 22:26] SAIMMINHAS opened #69355 "'Table/Scheme' not appearing in the 'Log Analytics Workspace'"
Hi,

I'm doing an experiment about sending some data from a 'Linux VM' on to a 'Log Analytics Workspace' but for some reason, it is not coming through in the  'Log Analytics Workspace'.

On the Linux VM, I've successfully installed 'nginx' and it is showing 'Welcome to nginx!' web page successfully. I then went into the 'Log Analytics Workspace' and configured the 'Custom Log' option to mention th

[2021-01-22 22:30] vhorne commented on #69074
no repro. Perhaps this is specific to your environment.

[2021-01-22 22:34] ThomasPoppelgaard opened #69356 "Windows 10 H2"
I cant find any Windows 10 H2 support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series NVIDIA GPU driver setup for Windows - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtua

[2021-01-22 22:37] 50Wliu commented on #65559
I see the same issue for VMSS. It looks like the "name" property isn't allowed on VMSS disks, only VM disks.

[2021-01-22 22:45] TravisCragg-MSFT commented on #69353
@ThomasPoppelgaard You might be able to get windows 10 working using the Server 2016 drivers, but typically GPU processing is done on servers. Can I ask what your use case is for N series VMs?

[2021-01-22 22:46] TravisCragg-MSFT commented on #69356
@ThomasPoppelgaard Thanks for the feedback. Lets talk on #69353 first before we go forward with this.

[2021-01-22 22:46] spelluru commented on #58562
#in-progress

[2021-01-22 22:58] vick-git opened #69357 "Feature request to enable deletion of Blobchangefeed."
Deleting blob change feed logs and the container $blobchangefeed results in the below. Enabling that would be of big help.

![image](https://user-images.githubusercontent.com/57968021/105557766-d6602200-5cc1-11eb-8b39-fd4682c972ca.png)

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed?tabs=azure-portal

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-01-22 23:03] TravisCragg-MSFT commented on #69347
@rdeltcheva Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-22 23:07] cynthn commented on #69267
@HughDevlin Can you tell me which Marketplace image you are using as a base?

I want to actually walk through this and make sure it works, in case I need to rework one of the existing articles or create a new one. I've been focusing on Shared Image Galleries, so it is good to revisit managed images.

Thanks!

[2021-01-22 23:07] TravisCragg-MSFT commented on #69354
@ThomasPoppelgaard As is stated in the article, only past drivers are linked here. For the most up to date drivers, use the nvidia extension.

[2021-01-22 23:13] yuecong commented on #68720
the support ticket number is 120121825001023

[2021-01-23 00:09] JimDaly opened #69359 "What is HSM?"
I see this acronym at the start of many topics without any explanation.
Please just use Hardware Security Module at first mention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f4325bb-f9f3-568d-6565-2e72ee3adbbd
* Version Independent ID: 9054f791-a5a8-81e3-1e58-de866407242e
* Content: [Azure Key Vault Overview - Azu

[2021-01-23 00:14] JamesTran-MSFT commented on #69359
@JimDaly
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-23 00:15] #69268 closed

[2021-01-23 00:35] femsulu commented on #68578
reassigning to content author for further review.

[2021-01-23 00:37] NavtejSaini-MSFT commented on #69345
@bdschaap We are checking this and will get back to you.

[2021-01-23 00:39] mmacy commented on #68638
Added to ADO for triage and prioritization; noted @diberry should be included in PR review request. #please-close

ID | Stack Rank | Title | Iteration Path | Assigned To | Area Path
-- | -- | -- | -- | -- | --
[1271038](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1271038) |   | [ISSUE] Example of custom state in MSAL.js (68638) | Technical Content\Backlog |   | Te

[2021-01-23 00:39] #68638 closed

[2021-01-23 00:39] NavtejSaini-MSFT commented on #69348
@perktime We are checking this and will get back to you.

[2021-01-23 00:40] MicrosoftGuyJFlo commented on #68792
Email out to PG for clarification.

[2021-01-23 00:40] NavtejSaini-MSFT commented on #69350
@rahul-mohan We are checking this and will get back to you.

[2021-01-23 00:41] NavtejSaini-MSFT commented on #69351
@rahul-mohan We are checking this and will get back to you.

[2021-01-23 00:45] Minewiskan commented on #67729
@artsheiko - Artem, engineering tried to trace the raid, 7e3aa5ec-85d8-4b0b-a637-5dd38613c58c, but it's no longer active. Your code looks good and it should have had a location in the response. If this is still an issue for you, please file a support request.
Because the doc is correct, I need to close this doc issue.
Thanks
#please-close

[2021-01-23 00:45] #67729 closed

[2021-01-23 00:54] warrenkc opened #69360 "Useful Sample"
Thank you very much for your detailed documentation.
I would like to ask for an example to use the system audio or sometimes called loopback or stereo mix which is the sound output from the system.
This way I could capture audio and transcribe it in real-time. For example in Zoom to transcribe Chinese audio in real-time.

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-01-23 01:00] vikancha-MSFT commented on #69354
@ThomasPoppelgaard We just got the GRID12 drop from Nvidia. We will publish it next week,

[2021-01-23 01:06] vikancha-MSFT commented on #69354
@ThomasPoppelgaard  we do list Windows 10 under GRID. Where are you seeing it as not supported? Here is a snip from the relevant section
--------------------
For Windows Server 2019, Windows Server 2016, and Windows 10(up to build 2004):

GRID 11.3 (452.77) (.exe)
GRID 11.2 (452.57) (.exe)
----------------------------

[2021-01-23 01:21] ChaitanyaNaykodi-MSFT commented on #69122
Hello @dmeatte-aq,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-23 01:28] VanMSFT commented on #65302
@J0F3 - Hey Jonas, thanks for the feedback! We really appreciate it. This is on our list to update, and we will do our best to update as soon as possible. We are committed to updating the documentation before the feature becomes GA, but can't commit to a timeline right now. Since I am tracking this internally, I will go ahead and close this issue. However, please let us know if there are further c

[2021-01-23 01:28] #65302 closed

[2021-01-23 01:33] mmacy commented on #69190
Hi @darioairoldi, thanks for calling this to our attention. The statement you refer to is no longer correct as the issue was resolved in fixed in MSAL 4.12.0. See this https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/901 for more information.

@neha-bhargava assigning this one over to you as follow-up to your [MSAL.NET wiki update in which you removed this wording](htt

[2021-01-23 01:33] PRMerger14 commented on #69190
neha-bhargava is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-23 01:34] rarandiv opened #69362 "Documentation update: While creating a SQL MI sometime customer use special character or @ in the admin name which cause an issues post creation of SQL MI. No instruction in the document to not use special character in the admin name"
While handling the case, one of the customer has created a managed instance using portal and while creating the instance in “Managed instance admin login” they created the user with special character @
Post creation of MI, when user was trying to connect to the instance they were not able to connect because of @ character in the user name and were getting connectivity error

Looking at the public

[2021-01-23 01:47] DedicatedPower opened #69363 "Update SQL AHB Table with new Benefits"
Team,

The chart on this page needs to be updated with the Azure Hybrid Benefit update: Expanded rights for Microsoft SQL Server
release on August 1, 2020, or you can point to a single reference for the latest SQL AHB and this and other docs?

https://www.microsoft.com/en-us/licensing/news/expanded-ahb-rights-for-microsoft-sql-server

I hope this helps and please let me know as this is my first ti

[2021-01-23 01:59] mmacy commented on #46469
Closing this one out, added backlog for triage and prioritization:

ID |  Title | Iteration Path | Area Path
-- |  -- | --| --
[1271165](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1271165)| [ISSUE] "AADSTS700001 opt-in for 'aio' optional claim" - Any solution for managed domains? #46469 | Technical Content\Backlog| Technical Content\app-dev

___
@shashishailaj or

[2021-01-23 01:59] #46469 closed

[2021-01-23 03:24] athinanthny commented on #69081
@TestUser0811  to use Managed Identity for Service Fabric apps, you need to package apps and deploy as ARM resources in ARM template. Here are Service Fabric docs that you can use refer to learn more about it

- https://github.com/Azure-Samples/service-fabric-managed-identity: A walkthrough with sample on using a Service Fabric Managed Identity  Service fabric sample showcasing how to enable Manag

[2021-01-23 03:41] KrishnaG-MSFT commented on #69362
@rarandiv Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-23 03:44] KrishnaG-MSFT commented on #69352
#test issue

[2021-01-23 03:49] KrishnaG-MSFT commented on #69118
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-01-23 04:04] Raoulwe opened #69364 "Most URLS in cognitive services gating overview are broken"
most URLS in this document generate 404 errors:

concepts-gating-overview.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ff0361c-188d-80b3-ae69-e89043d64122
* Version Independent ID: d6a016eb-0387-1446-522d-f7a5e7e8d79d
* Content: [Custom Neural Voice Gating overview - Azure Cognitive Services](https://docs.microso

[2021-01-23 04:42] llx9 commented on #63789
Hello, @HarithaMaddi-MSFT  Thanks for your response!
I have two more questions:
1. does synapse team have a future plan on supporting ACL permisison?
2. Does CREATE EXTERNAL DATASOURCE share the same pattern here with COPY statement (only RBAC works)?

[2021-01-23 04:44] BharathNimmala-MSFT commented on #69355
@SAIMMINHAS Thank you for reaching out,  please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation.

Apologies for your experience , can you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com including

[2021-01-23 04:44] #69355 closed

[2021-01-23 04:59] andyliuliming commented on #69324
@MarileeTurscak-MSFT I'm testing it, but since the min time period to the re-generation is 1 day, so I need 2 days to get the result.

and I think this behaviour should be documented some where. so we can follow.

[2021-01-23 05:49] Grace-MacJones-MSFT commented on #69339
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-23 05:51] Grace-MacJones-MSFT commented on #69363
Hi @DedicatedPower, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-01-23 06:08] Itsmexander commented on #69176
my university is using Office 365 and it looks like my account has been either deleted or rendered inacc
![Screenshot 2021-01-23 130813](https://user-images.githubusercontent.com/60591929/105570460-1d125280-5d7c-11eb-8990-5160e694614b.jpg)
essible

[2021-01-23 06:30] subhroneeldey commented on #69339
Since, the restore has been completed,  we observed the restore to take 2 hours 30 minutes and no other cost for restore was occured. Additional cost was for creation of database, cost for storage and compute once the restore is completed

[2021-01-23 06:36] NigelFindlater opened #69366 "Microsoft.Azure.Batch.Common.BatchException: 'Operation returned an invalid status code 'Forbidden''"
I have followed the steps of this quickstart https://docs.microsoft.com/en-us/azure/batch/quick-run-dotnet on my MSDN and my Pay as yopu go subscription and I get in both cases an exception on line

`                        job.PoolInformation = new PoolInformation { PoolId = PoolId };`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-23 06:44] akucer commented on #68889
@zsybupt - The v3 API's don't provide the ability to scale MRU's. The CLI is as you called out leveraging the v2 rest API to update MRU's for a media services account. If you don't see the option to manage MRU's in the Azure portal, you are using an account that was created with the 2020-05-01 API. Accounts created with this version of the API  no longer need access to MRU's as the system will aut

[2021-01-23 07:10] shashishailaj commented on #69357
@vick-git Thank you for your feedback . We will investigate and update the thread.

[2021-01-23 07:13] shashishailaj commented on #69360
@warrenkc Thank you for your feedback . We will investigate and update the thread.

[2021-01-23 07:15] shashishailaj commented on #69364
@Raoulwe Thank you for pointing that out. We will investigate and update the thread.

[2021-01-23 07:20] shashishailaj commented on #69366
@NigelFindlater Thank you for pointing this out. We will investigate and update the thread.

[2021-01-23 07:23] shashishailaj commented on #69256
@YidiQin Please review your configuration as per the request and let us know . In case you are able to get it working after providing proper access as per the article . If it still does not work for you , please let us know with an error screenshot and we will help you further on this.

[2021-01-23 08:49] ssivas commented on #69172
Thanks for reaching out. Please find below comments inline.

[Ans] Every subscription migration (Transfer) doesn't consume lot of time as the tenant changes happens immediately, if there is no issue as in account related or authentication failures issues the change will reflect immediately. If we are transferring multiple subscriptions at a time, it may take some time for all of them to transfer a

[2021-01-23 08:49] #69172 closed

[2021-01-23 09:09] hidwatanabe opened #69367 "Permission to create SQL pools"
In order for a user who is not the administrator of Synapse workspace to be able to create SQL pools, the user need to have 'Contributor' role on the Azure Resource Group as well as the Synapse workspace itself. How about adding a note about that to Step 5 on this doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 114

[2021-01-23 09:44] zsybupt commented on #68889
@akucer Thanks for your explanation

[2021-01-23 11:43] SAIMMINHAS commented on #69355
Hi Bharath,

Many thanks.

I've now emailed the required details to 'AzCommunity@microsoft.com'.

Thanks.

[2021-01-23 11:59] marklphillips commented on #42991
No I haven't found a fix yet. When we need to remote on to a user's desktop who is connected via the azure VPN client, we ask the user to run ipconfig in order to view the VPN IP address. Then we connect using the IP address, thus avoiding the DNS issue.

It appears that SCCM is still  able to push software updates (perhaps the client is pulling for them), so it isn't a massive problem at present.

[2021-01-23 13:08] shashishailaj commented on #69367
@hidwatanabe Thank you for your inputs . We will investigate and see how best we can update the document .

[2021-01-23 14:11] covid2 opened #69371 "Need more information"
[Enter feedback here]
Article does not contain information about how this internal AKS service can communicate with onprem services.
How outbound rules are managed to perform  aks -> backend services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6

[2021-01-23 14:58] agribot2 opened #69372 "This page needs to mention FREE accounts"
There are "FREE" Azure accounts. This page currently does not mention them. It should mention them and point to other web pages that provide information to users about how to use a FREE account and how to prevent Microsoft from charging costs when Azure resources are used by a "FREE" account.
Your competitor AWS provides much better, more clear information about how to control ( shocking, surprise

[2021-01-23 16:52] hmeyer5 opened #69373 "Help! Need to be removed as a user on someone else's tenant!"
In Visual Studio, I'm blocked from logging in and can no longer access MY OWN DevOps repositories in MY tenant because my account is locked in someone else's tenant!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Conte

[2021-01-23 17:16] gb5757870 opened #69374 ""SQL Information Protection" is not available under "Security Center --> Pricing & Settings""
The option "SQL Information Protection" is not available under "Security Center --> Pricing & Settings"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecc186b-cbfd-1c4e-fc2e-165883dc0a02
* Version Independent ID: 207f8456-0e71-c5c6-ddbd-88c0762dfc1e
* Content: [SQL information protection policy i

[2021-01-23 17:37] Grace-MacJones-MSFT commented on #69371
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2021-01-23 17:41] Grace-MacJones-MSFT commented on #69339
Thanks for the update! We will now proceed to close this thread. If there are further questions regarding this matter, let us know. We will gladly reopen the issue.

[2021-01-23 17:41] #69339 closed

[2021-01-23 17:43] Grace-MacJones-MSFT commented on #69372
Hi @agribot2,  thanks for your feedback! We will review and update this doc accordingly.

[2021-01-23 17:47] Grace-MacJones-MSFT commented on #69374
Thanks for your feedback! We will review and update the doc shortly.

[2021-01-23 17:47] sharbt commented on #62964
Ok can close now.

[2021-01-23 17:47] #62964 closed

[2021-01-23 17:50] Grace-MacJones-MSFT commented on #69373
These matters are outside the scope of the doc. We try to keep issues scoped to doc feedback in this repro.

With that being said, this does require further investigation. In order to do that, can you please email us at azcommunity@microsoft.com with your subscription ID and the URL of this thread? We will put you in touch with the necessary party.

Thank you for your understanding and we look for

[2021-01-23 17:52] #69373 closed

[2021-01-23 17:53] NigelFindlater commented on #69366
Hello,

I figured out what went wrong. In the keys section I took Key1 instead of Primary access key...

Best Regards,
Nigel...
________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Saturday, January 23, 2021 8:20 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: NigelFindlater <nigel.findlater@hotmail.com>; Mention <mention@noreply.github.com

[2021-01-23 18:20] setunol opened #69376 "Corrections needed on the PowerShell commands"
For the Peering creations powerShell commands (both Microsoft peering and Private Peering), the command should be stored to $ckt, so when running the set command at the end, it will have the new peering configurations.

# this creates the peering config, but it didn't store it to $ckt
Add-AzExpressRouteCircuitPeeringConfig -Name "MicrosoftPeering" -ExpressRouteCircuit $ckt -PeeringType MicrosoftPe

[2021-01-23 18:41] mannyovena opened #69378 "Deprecated Homebrew Install Command"
The Homebrew installation command is deprecated. It should be updated to

`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 213a08bb-ba83-2512-feff-c93e1a2f714c
* Version Independent ID: 3fe62cb5-c6a3-4009-2f69-4d6a918e5eda

[2021-01-23 19:35] ewoody opened #69380 "doesn't match the source code"
[Enter feedback here]
The content of the doc doesn't match the source code in github at all. confusing!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push notifications to Xamarin.Android apps using Azur

[2021-01-23 19:42] ewoody commented on #69266
You have already provided a source code project link for this introduction. But the source code is about 2 years old with another implementation. We need to see a working demo.

Please always update or provide source code project BEFORE publish any introduction. otherwise it wastes our time, sometimes, spending several days and then figure it out as a garbage.

[2021-01-23 20:38] pjkerpan commented on #12407
Since for custom linux images, an action many would take would be to install the linux-azure package from a distro repo - why not have the right drivers for provisioning included there?

[2021-01-23 20:43] martingbrown opened #69381 "COM Error"
I've followed the steps on this page and then I'm getting an error. It could use a trouble shooting section at the bottom.

The error I'm getting is "Error HRESULT E_FAIL has been returned from a call to a COM component."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Inde

[2021-01-23 21:06] rogerhealy opened #69382 "template fails to build in Github actions"
Build fails ith following error message:
"
Finished building app with Oryx
Failed to find a default file in the app artifacts folder (dist). Valid default files: index.html,Index.html.
If your application contains purely static content, please verify that the variable 'app_location' in your workflow file (located in .github/workflows) points to the root of your application.
If your application req

[2021-01-24 01:16] f233-de commented on #54722
Nök

[2021-01-24 02:15] abulgatz commented on #36607
Same issue, would like to disable these weekly PIM emails!

[2021-01-24 02:32] manojkukkapalli opened #69383 "Fix Session Window"
[Enter feedback here]
As per the explanation, i think that he Session Window should be closed at 20 seconds and start again but we see that the session window extends from 10- 30 seconds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6

[2021-01-24 05:46] Grace-MacJones-MSFT commented on #69376
Hi @setunol , Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-24 05:48] Grace-MacJones-MSFT commented on #69378
Hi @mannyovena, thanks for your feedback! We will review and update this doc accordingly.

[2021-01-24 05:51] Grace-MacJones-MSFT commented on #69380
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate. Can you please specify which part of the doc you are referring to?

[2021-01-24 05:57] Grace-MacJones-MSFT commented on #69381
Thank for the question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-24 06:02] Grace-MacJones-MSFT commented on #69382
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-24 06:34] Grace-MacJones-MSFT commented on #69383
Hi @manojkukkapalli , the doc states "If events keep occurring within the specified timeout, the session window will keep extending until maximum duration is reached. The maximum duration checking intervals are **set to be the same size as the specified max duration.** For example, if the max duration is 10, then the checks on if the window exceeds maximum duration will happen at t = 0, 10, 20, 30

[2021-01-24 10:23] RZomermanMS opened #69391 "EULA - in Notebook"
[Enter feedback here]
The notebook that can be downloaded from Azure does not include an ACCEPT_EULA statement - as a result - on a brand new machine - using the installers from the script - the EULA is not accepted and will trigger an error when running.

In Step5 : Initialize Creation of Data Controller - I added the following statement to make it work:
os.environ['ACCEPT_EULA'] = 'yes'
try:

[2021-01-24 10:28] shashishailaj commented on #69036
@SurenderGutha We have initiated an update and the change should reflect in the next 48 hours maximum . Thank you for your contribution to improvement of the azure documentation.

[2021-01-24 10:35] #69036 closed

[2021-01-24 10:51] yelevin commented on #69335
Thanks for reaching out! This document is currently in the process of being updated and the new version will be published soon.

[2021-01-24 10:52] yelevin commented on #69335
#please-close

[2021-01-24 10:52] #69335 closed

[2021-01-24 10:55] yelevin commented on #66999
Hi Arjen, thanks for your question.
There is already an Azure Activity data connector for Sentinel, as documented here:
https://docs.microsoft.com/en-us/azure/sentinel/connect-azure-activity

Are you looking for capabilities beyond those provided by this connector?

[2021-01-24 11:47] martingbrown commented on #69381
More details at https://stackoverflow.com/questions/65864301/azure-db-connection-error-hresult-e-fail-has-been-returned-from-a-call-to-a-com

[2021-01-24 11:50] arifsyeduknpl commented on #69191
Received same error UK South

[2021-01-24 12:21] bgausden opened #69392 "Example Fails with "Cannot use the SKU 'Free' with Bring Your Own Storage for site <sitename>"
Trying to follow the tutorial but fail when creating a functionapp:

[code]

I've copied-pasted up to this point so either the location "southeastasia" is problematic or the docs are no-longer valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-a

[2021-01-24 13:11] monojit18 opened #69393 "end to end SSL at application gateway"
[Enter feedback here]
This is not working as expected after many repeated attempts!!

The scenario is: App G/W -> Nginx Ingress (SSL should terminate here) -> AKS (services within cluster)
Certificate is an wildcard certificate - *.<dnshost>.com

**What is working**:
.crt and .key file added as TLS secret within AKS
Calling by the IP or hostname of dns using curl works and SSL terminates properly

[2021-01-24 13:39] arifsyeduknpl commented on #69191
Same issue - UK South

"hbiWorkspace": false,

[2021-01-24 14:33] esciara opened #69394 "Error in azure cli code snippet in Step 2: Find the appropriate role"
In "Step 2: Find the appropriate role", the azure cli reads:
[code]

where is should read
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c76fa79-5773-13f1-8672-7b20f847f926
* Version Independent ID: f8ed8f66-3519-e823-7010-8e16cca8d4e4
* Content: [Add or remove Azure role assignments using Azure CLI - Azure RBA

[2021-01-24 14:39] esciara commented on #69394
My mistake... beginners error.

[2021-01-24 14:39] #69394 closed

[2021-01-24 14:54] nassoor opened #69395 "Why install ntp when systemd-timesyncd.service is sufficient?"
systemd-timesyncd.service is installed and running by default, what is it lacking that ntpd has?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffffb136-b73f-2b2a-728d-b4c57f08ee5b
* Version Independent ID: 9a7bac18-2601-1a24-21b3-0f3134277ed6
* Content: [Join an Ubuntu VM to Azure AD Domain Services](https://docs.micr

[2021-01-24 15:29] monojit18 opened #69396 "Application gateway with Self Signed Certificate"
This probably won't work; at least not working for me!
Self signed cert will make custom Health Probe unhappy always!
And hence Backend Health reports error as well and so the entire flow!

Scenario:
App G/W -> Nginx Ingress -> AKS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0e716d-54fc-0b48-e2aa-9f5b126072ae
* Ve

[2021-01-24 15:44] shashishailaj commented on #69393
@monojit18 Thank you for reporting this . We will investigate and update the thread

[2021-01-24 15:45] shashishailaj commented on #69395
@nassoor Thank you for your query . We will investigate and update the thread.

[2021-01-24 15:47] shashishailaj commented on #69392
@bgausden Thank you for reporting this. We will investigate and update the thread.

[2021-01-24 15:50] shashishailaj commented on #69391
@RZomermanMS Thank you for reporting this. We will investigate this and update the thread.

[2021-01-24 16:01] ababdul opened #69397 "Link broken for the Latest roll up"
The following link to the latest rollup info takes you to a 404 page

https://support.microsoft.com/help/4602881/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5cd9ff6-a28b-8e40-83b5-7ef4fd24db48
* Version Independent ID: bb50c22c-c945-0ec9-17bf-6921e87c41a4
* Content: [What's new in Azure Site Recovery - Azure Site

[2021-01-24 16:06] manojkukkapalli commented on #69383
Hi @Grace-MacJones-MSFT , if you look at the picture for session window it say we have an interval for 5 minutes but the max interval is 10 minutes, so i thought that the window should be closed at 20 minutes not 30 minutes. As per your explanation also i strongly believe that it should be closed at 20.
![Session](https://user-images.githubusercontent.com/19981082/105635976-81401f80-5e2b-11eb-90f9

[2021-01-24 17:07] #69097 closed

[2021-01-24 17:08] SnehaAgrawal-MSFT commented on #69097
Thanks again for the feedback! PR has been created and it will merge soon.

[2021-01-24 17:08] KrishnaG-MSFT commented on #69394
@esciara Thanks for the update that it was just a reading mistake.

[2021-01-24 17:10] KrishnaG-MSFT commented on #69397
@ababdul Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-24 17:16] HarshitaSingh-MSFT commented on #69396
Hello @monojit18 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-01-24 17:20] phatcher opened #69398 "Currently, managed identities do not work with App Service deployment slots."
[Enter feedback here]
Is the statement "Currently, managed identities do not work with App Service deployment slots." still true since slots do support their own Managed Identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c25a321-1f2d-4fec-a957-cfca751941df
* Version Independent ID: 9e73bfda-aa08-ee1f-2c17-5cbabe

[2021-01-24 17:41] Gergues commented on #52856
If you're running this cluster on Azure Cloud "Azure Databricks" it might be a firewall rule blocking the Databricks storage account access to the Internet , this account is dynamically generated by the installer but the firewall rule or VNET NSG for this side of your network need to allow this type of traffic

Port "443 " outbound

host ( https://myaccount.blob.core.windows.net/ )

Best of luck.

[2021-01-24 18:02] Grace-MacJones-MSFT commented on #69398
Thank you for the question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-24 18:09] pietronromano opened #69399 "Azure digital twins explorer - authentication fails"
Hi,
I've been trying unsuccessfully to login with this sample:
https://docs.microsoft.com/en-us/samples/azure-samples/digital-twins-explorer/digital-twins-explorer/
-just keep getting "Authentication failed... "
I've tried from multiple local machines, Windows and Linux, using different Azure accounts to login first (MSDN subscription, two factor internal...) to different DT instances... all fail.

[2021-01-24 18:16] Andrew-Webb opened #69400 "Wrong Azure AD user attributes in table 1 in SCIM document"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need

In the third column of table 1, "Step 3: Map SCIM attributes to the Azure AD attributes":-

* `lastName` should be `surname`
* `Mail` should be `mail`

The values `surname` and `mail` are shown correctly in table 2, "Default user attribute ma

[2021-01-24 18:23] Andrew-Webb opened #69401 "Bad userName / userPrincipalName in JSON example in SCIM document"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-1-outline-the-attributes-that-you-need

Tables 1 and 2 make clear that Azure AD attribute `userPrincipalName` (and `user-PrincipalName`, sic) is mapped to SCIM attribute `userName` (which is probably correct).

However, the JSON example shows:-

[code]

A `userName` (aka `userPrinc

[2021-01-24 18:26] Andrew-Webb opened #69402 "Bad table column in Azure AD / SCIM document"
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#table-2-default-user-attribute-mapping

The heading of the second column in this table is `"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"` which would seem to suggest that every attibute in this column is part of the Enterprise User schema extension, which certainly isn't t

[2021-01-24 18:44] cat-mucius opened #69403 "Routing back from private endpoint to a client?"
Good day,

1. What I fail to understand is how traffic is returned in Scenarios 1 & 2 from the private endpoint to the client. According to the page, these scenarios do not require SNAT - but how should private endpoint know to send packets to the VM's IP (`10.1.0.4`) via Firewall's IP (`10.0.0.4`), if UDRs are not applicable to it? Or does these scenarios imply that returning traffic bypasses Fir

[2021-01-24 19:01] YidiQin opened #69404 "Joint genotyping document"
My joint calling output vcf has "." in FILTER tag. Can I change it to "PASS" by setting any of my parameters. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 579df12b-3363-04d1-38e8-5be28d4f3af9
* Version Independent ID: f5f4b0d4-f82a-0016-8873-057b5c5e38ed
* Content: [Joint genotyping pipeline - Azure Databr

[2021-01-24 19:34] Strkli opened #69406 "Open the demo application"
Followed instructions exactly until 'Open the demo application', only get a Search Box but no map.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Quickstart: Interactive map search with Azure Maps](https://do

[2021-01-24 20:03] joanteixi opened #69407 "It's not allowed to put params with dash separator"
Hi! I found a bug when you use parameters with "-" (middle dash) separator. Something like:

dwh-connection

return an error when publish datafactory.

Should be nice to put this in this docs.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf75315-da09-2cf9-6db5-d12fcc804283
* Version Independent

[2021-01-24 20:03] khatri034 commented on #29886
@fan130 I am also facing issue in deployment my ssis packages which have custom DLL for epplus using azure SSIS IR. I tried main.cmd method but that I have to add to gacutil. Do we have any SOP in place for this.  Docs.microsoft.com

[2021-01-24 20:08] khatri034 commented on #29886
@AzureSupport

[2021-01-24 22:00] rawsharklives commented on #68245
Hi,

Do you have any update on this issue? Running tests is an essential part of any CI/CD workflow and I think developers out there would appreciate a template that includes this out of the box! I'm happy to help out to try and get this working as it seems so close, I just need a few pointers from the people in the know. Let me know if I can help.

I look forward to hearing from you on this.

Ric

[2021-01-24 22:33] V4A001 opened #69409 "use --network-plugin azure instead of standard kubenet"
Could you please add in the docu that for software developers who want to use Azure resources with managed identities, they could better use --network-plugin azure because of a vulnerability: https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-1677
See future example here:
https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#before-you-begin

See also here: https://githu

[2021-01-24 22:40] V4A001 opened #69410 "Example request to match starter level of AKS with or without kind: Pod"
This example used a deployment with kind: Pod in which containers resides. Most AKS samples only use containers with Deployment kind. See here for starters: https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

Can you make your example better match with starting developers instead of highly trained kubernetes system administrators?

It would be helpful if the pod part is separated fr

[2021-01-24 22:51] V4A001 commented on #69410
Check this post out here why the pod example is weird (even for advanced level k8):
https://stackoverflow.com/questions/41325087/what-is-the-difference-between-a-pod-and-a-deployment#:~:text=Both%20Pod%20and%20Deployment%20are,for%20a%20production%20use%2Dcase.

[2021-01-24 23:15] YutongTie-MSFT commented on #69191
@poeticcapybara @zhusulai @arifsyeduknpl The hotfix has been release. Please retry creating a new CI and let me know if you are still blocked. Thanks.

[2021-01-24 23:16] YutongTie-MSFT commented on #69250
Thanks @lobrien

@jwa5426 Hello Jacob, let us know if you are still blocked.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-01-24 23:16] #69250 closed

[2021-01-24 23:16] mekr opened #69411 "Outdated picture and related content"
Hi,

Theres is no "Click to show advanced access policies" linkbutton, so you can set directly the settings to "Enable template deployment".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82
* Version Independent ID: e5b2d116-ac1c-84ef-eeec-e9107019b982
* Content: [Use Key Vault when d

[2021-01-24 23:23] YutongTie-MSFT commented on #69127
@agribot2 Hi, thanks for reaching out to us and sorry for the experience. If you are in Free tier. you will not be charged. Could you please check which tier you are in? If you are in F0 tier but still charged, please let us know.
![image](https://user-images.githubusercontent.com/38084098/105647021-13f6b380-5e58-11eb-8525-9f96320a38d0.png)

[2021-01-24 23:51] martin389 opened #69412 "[azure-docs] Update the external links to GitHub Actions documentation"
The URLs for [GitHub Actions docs](https://docs.github.com/) were recently changed. The URLs previously contained a string for `free-pro-team@latest`, which has since been removed. Redirects were added to ensure that the old links still worked.

To help ease redirect processing, the URLs in these articles should be updated to remove the `free-pro-team@latest` string:

- [ ] "Deploy to App Service

[2021-01-24 23:51] martin389 commented on #69412
👋 We'll be working on this with @juliakm.

[2021-01-25 00:55] KrishnaG-MSFT commented on #69411
@mekr Thanks for your comment! We will review and provide an update as appropriate.
@tfitzmac FYI

[2021-01-25 01:28] akozeki opened #69413 "The Japanese translation is incorrect."
"Expected network bandwidth (Mbps)" in the size table has been translated as "Required network bandwidth".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908096d8-f3ad-8402-56c0-381e1be906cf
* Version Independent ID: aaef6dd2-65c8-9ce6-f3d0-3f1ffa03bb86
* Content: [Memory optimized Dv2 and DSv2-series VMs - Azure Virtu