[2019-02-05 09:07] guibirow commented on #24021
According to the [release](https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/04/azure-service-fabric-6-4-refresh-release/) notes, the Runtime release are version `x.x.624` and `x.x.622`, Seems that the `.624` does not need new packages, the release details mentions only bugs fixes on windows, the new SDK version release is `3.3.622.9590`.

Probably they released the `.624` by mistake, as

[2019-02-05 09:16] Grace-MacJones-MSFT commented on #23143
@MrYossu , thanks for your patience. I was able to repro the issue but didnt get that error. Are you getting the error in step 8? Can you share a screenshot of what you're seeing?

[2019-02-05 09:20] rolanddb commented on #22384
For future reference. You can get this to work on a random machine by using the CA bundle from `curl` (https://curl.haxx.se/docs/caextract.html).

[code]

[2019-02-05 09:31] SamirFarhat commented on #20348
Hi all,
any new about any thing about automation?
Thanks

[2019-02-05 09:38] fgessen commented on #21003
@AjayKumar-MSFT @BryanTrach-MSFT @Grace-MacJones-MSFT  can you please reopen this? I appended additional information and the issue persists. If it shall not work by design I am glad to learn about it.

[2019-02-05 09:39] SrivaniKurapati commented on #10862
Hi,

Can I get the complete code of this.

[2019-02-05 09:45] SadiqhAhmed-MSFT commented on #23883
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 09:45] #23883 closed

[2019-02-05 09:46] SadiqhAhmed-MSFT commented on #23934
@RogerBestMsft Could you provide more details to help you further on this query?

[2019-02-05 09:47] SadiqhAhmed-MSFT commented on #21837
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 09:47] #21837 closed

[2019-02-05 10:03] jtuliani commented on #24119
Thank you for clarifying! Super stuff

[2019-02-05 10:04] AjayKumar-MSFT commented on #24031
@SogoGolf, I tried the same steps and it works fine,  kindly ensure that the func start is working/started successfully without any errors. You may review the configuration again and then rerun.
Also, could you post a screensht of func start console after masking any private details?
To fetch more details on the error, you could also capture and analyze a Fiddler trace.

[2019-02-05 10:26] dbollaer opened #24273 "kubectl create secret fails"
When I was trying to run kubectl create secret, I kept receiving the same error:
Error from server (BadRequest): the server rejected our request for an unknown reason
To solve this:
Before entering this command you need to login:

az aks get-credentials --resource-group &lt;AKS_RESOURCE_GROUP&gt; --name &lt;AKS_CLUSTER_NAME&gt;

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-02-05 10:34] djaus2 commented on #22783
I updated to 1.0.6

It still fails to restart properly upon reboot. NB: Using MinnowBoardMax running IoT-Core.
Sample log:
[code]

[2019-02-05 10:34] djaus2 commented on #22783
[code]

[2019-02-05 10:40] FOSSluds opened #24274 "markdown syntax error in paragraph no 6"
Probably there is a markdown syntax error in your page at paragraph no 6:

`[ADF samples][ADF samples]`

Unfortunately I don't know how to link it correctly because I have no idea of your internal doc structure.
Maybe it should be written like `[ADF samples](ADF samples)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-05 10:44] djaus2 commented on #22783
My restart-rm.ps1 script does get things going again though.
[As on GitHub: djaus2/AzureIoT-CoreUtils](https://github.com/djaus2/AzureIoT-CoreUtils)

[2019-02-05 10:49] angoyal-msft commented on #24274
@FOSSluds Thanks for your feedback. I have assigned the issue to author of this document to help you further.
@jrowlandjones could you help us in this document issue.

[2019-02-05 10:51] AshokPeddakotla-MSFT commented on #24270
@ddobric Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-05 11:01] msrini-MSIT commented on #24265
@russellhurren , Thank you so much for your effort in enhancing this documentation. I do notice that there is a space before ' MaxIdleTime' which need to be corrected.

Regarding your second query, I will try to so a repro with Windows 2016 and update here.

[2019-02-05 11:01] jakaruna-MSFT commented on #23172
@ericrad Can we add this to the DOC?  Your thoughts please.

[2019-02-05 11:04] jakaruna-MSFT commented on #23576
I am closing this issue as the user is following up with the Product team Internally.
I will post here once i get an update from the product team.

[2019-02-05 11:04] #23576 closed

[2019-02-05 11:04] shashishailaj commented on #24252
@MaximBalaganskiy Thank you for your query. We will investigate and update this thread accordingly.

[2019-02-05 11:05] nageshajab opened #24275 "KeyVaultErrorException - Access denied"
I am getting below error stack while running create cluster command
New-AzureRmServiceFabricCluster : 4:30:35 PM - System.AggregateException: One or more errors occurred. ---&gt;
Microsoft.Azure.KeyVault.Models.KeyVaultErrorException: Access denied
   at Microsoft.Azure.KeyVault.KeyVaultClient.&lt;CreateCertificateWithHttpMessagesAsync&gt;d__84.MoveNext()
--- End of stack trace from previous locat

[2019-02-05 11:06] dozunu commented on #24203
Hi, as stated on Stack Overflow

The Dev Ops server also needs to be able to access the keyvault through the firewall if the firewall is turned on ("Allow access from..." on the firewalls and virtual networks page).

The network access to the keyvault for variables is done through a non-agent part of AzDevOps I believe but I haven't figured out how to whitelist those servers.

Turning on the "Allo

[2019-02-05 11:11] nageshajab commented on #23969
This issue is resolved now, thanks.

[2019-02-05 11:39] jakaruna-MSFT commented on #24275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 11:40] jakaruna-MSFT commented on #24272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 11:45] DavidRayner opened #24276 "Describe Pt field"
It appears that you can filter the type of returned papers using the `Pt` field but this is currently undocumented.

From what I can gather you can filter results with these values:
[code]

For example, `expr=And(Y=2016,Or(Pt='1',Pt='3'))` will return journal and conference papers from 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-02-05 11:46] jakaruna-MSFT commented on #24273
@dbollaer Is that a new cluster?
I hope you have ran the `aks get-credentials` already.
If you have multiple clusters configure, You ca use this command `kubectl config current-context` to check the cluster to which you are sending the request.
Since the error is a "bad request" check your yaml file or post the yaml file here.

[2019-02-05 11:46] msrini-MSIT commented on #24265
@russellhurren , I did a repro with Windows 2016 and as you mentioned the value has to be numeric instead of Hex. Author will be making the changes.

[2019-02-05 11:47] BhargaviAnnadevara-MSFT commented on #24242
@scottmcm I've reviewed the included links in the issue. Assigning this to the content author to evaluate and update as appropriate.

[2019-02-05 11:52] klchung opened #24277 "Manage user claims for nameidentifier"
Hello,

In step 5 of instructions above, in "Manage user claims" when choosing "Parameter1", the option "user.othermail" is not available for me to set as the "nameidentifier" claim.  This option is required to transform my other email address format which is in the form of &lt;username&gt;@&lt;company.com&gt; so that HANA can create the user with logon ID &lt;username&gt; automatically.

My main

[2019-02-05 12:06] klchung opened #24278 "SAP user is not created automatically during SAML SSO Login"
Thanks for the instructions provided, but the SAML2 SSO login does not create the SAP user automatically despite "Allow Identity Provider to Create NameID" is set to "Yes".

Followed the instructions provided in for "Scenario: Select SAP user id based on configured email address in SU01. In this case email id should be configured in su01 for each user who requires SSO", but with slight modificatio

[2019-02-05 12:21] GitGlitter commented on #21898
Also interested in the response to this

[2019-02-05 12:38] theouteredge opened #24280 "Where do you get the deployment name?"
--name exampledeployment &lt;-- how do you get this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a114cf0c-a1a0-f73d-f8d2-0f16d62b1e86
* Version Independent ID: 203548b7-824f-eb7a-ca5b-e4cfec2c6d51
* Content: [Troubleshoot common Azure deployment errors](https://docs.microsoft.com/en-us/azure/azure-resource-manager/r

[2019-02-05 12:46] jakaruna-MSFT commented on #24275
@nageshajab Looks like you dont have access to create a certificate in key vault.
I hope you logged in with your credentials (using az login) and not used service principals credentials.
You can go to the active directory and check the list of permissions you have. Make sure you have write permissions in key vault to create certificates.

[2019-02-05 12:49] jsbsky commented on #23817
Thanks @Alberto-Vega-MSFT.  I have ordered a replacement Mxchip IoT DevKit as it might be a hardware issue.  Hopefully that will resolve the issue.  If not I will open a ticket with Microsoft.

[2019-02-05 13:05] czajek commented on #11722
I have a question regarding number of partitions. In the first sentence you say 'The partition count on an event hub cannot be modified after setup. With that in mind, it is important to think about how many partitions you need before getting started.' but then 'As you increase the number of throughput units in your namespace, you may want additional partitions to allow concurrent readers to achie

[2019-02-05 13:14] Utthirabalaji opened #24281 "CosmosDbMongoDbApi Linked Service Issue"
i am using your code only.if i have create cosmosdbapi linked service .i am facing issue .please find my issue.

Set-AzureRmDataFactoryV2LinkedService : HTTP Status Code: BadRequest
Error Code: BadRequest
Error Message: Failed to encrypt sub-resource payload {
  "Id": "/subscriptions/6e051d77-4292-4764-9964-7b58a3dc445c/resourceGroups/backend_db_backup/providers/Microsoft.DataFactory/factories/Bac

[2019-02-05 13:30] SadiqhAhmed-MSFT commented on #24280
@theouteredge Thanks for the comment. For exampleiIf you create a VM under a resource group, use need to use the library (Microsoft.Azure.Management.Computer). In this library, you only need to provide the resource group name and Azure VM name.

[2019-02-05 13:33] romankiss commented on #22798
@rezasherafat, thanks for updated [document](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly-as-a-module) how to connect a module using the MQTT protocol directly. It looks OK. I do recommend to update also other parts of this document such as _Sending device-to-cloud messages_ and _Receiving cloud-to-device messages_ related to the module. Mayb

[2019-02-05 13:49] dfencegit opened #24282 "Typo in ADFS script to create keyvault"
At the start of the script example we set the location in a variable but then in the following line use a hard coded value, this should just use the variable:

New-AzureRmKeyVault -VaultName $key_vault_name -ResourceGroupName $resource_group_name -Location local -EnabledForTemplateDeployment

Should be

New-AzureRmKeyVault -VaultName $key_vault_name -ResourceGroupName $resource_group_name -Locatio

[2019-02-05 13:51] SqueedWalz commented on #5284
I can't get this workaround to work anything but classic alerts, when I list everything that the Get-AzureRmAlertRule spits out I can only see the classic alerts. Should this work for the new metric alerts?

[2019-02-05 13:52] rajatvijay opened #24283 "Is there any way to validate my data before importing it?"
2 times my import failed and the UI doesn't show any reason.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Version Independent ID: bd23e619-aee5-2b6e-b2d7-03ab5f7302af
* Content: [Tutorial: Create an acoustic model with the Speech Service](https://docs.microsoft.com/en-us/azure/c

[2019-02-05 14:38] BhargaviAnnadevara-MSFT commented on #24175
@imeya Reaching out for a quick confirmation from your end: Were you able to see **Trace** Event Type selected in the filters? Was the Time Range set as expected?

[2019-02-05 14:45] BilgeKhagan commented on #8454
Hello All;

I've read all the comments and I saw the problem persists in another way. Although it is said that the in app DB is backup without any additional setup, the real case differs. When we restore the backup, it doesn't work because of empty DB. We always restore the DB from DB dump manually, otherwise it never works. This means backup procedure does not work as intended and a manual backup

[2019-02-05 14:48] miguelangelopereira opened #24285 "Debian 9 support"
Any news on debian 9 support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix for disaster recovery of VMware VMs and physical servers to Azure with Azure Site Recovery](https://docs.microsoft.c

[2019-02-05 14:50] jwargo commented on #23951
@AjayKumar-MSFT please close.

[2019-02-05 14:55] dbollaer commented on #24273
@jakaruna-MSFT no I only had one cluster.

[2019-02-05 15:11] psined1 opened #24286 "Common schema question"
Hi, just wondering if there is an easy way to implement shared schema. For example, I have two different order types, which I want described in their own separate XSDs. I have a common type XSD with the base type defined, which the other two are extending.

I hope I will not repeat the question already answered elsewhere (I couldn't find anything to this point). There is an industry standard way t

[2019-02-05 15:12] imeya commented on #24175
For 1: Yes, I enable the Trace Event.
For 2: The Trace event type is selected by default in search -> azure portal, I didn't change it. The time range is set big enough, like 24 hours.

And I also checked the storage blob, no trace event directory. I don't know where the data is :(

[2019-02-05 15:15] sylvaingirardbe commented on #24064
@SaurabhSharma-MSFT the endpoint with the tenantid works just fine, that was part of the point (the inconsistency). I have no clue why that 'common' endpoint exists. I found some reference to it but it's not clear to me what purpose it serves and when it actually works. In my opinion, something that doesn't work all the time and has an alternative that does work all the time, should be removed to

[2019-02-05 15:21] AshokPeddakotla-MSFT commented on #24267
@ddobric Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 15:26] imeya opened #24287 "Regarding the ikey is visible in web page source."
In this section "My iKey is visible in my web page source", I have some questions:

1. since the ikey is visible, so somebody who get the ikey can send a lot dummy data to my app insights, it may result in charge. How can I do to avoid this?

2. I see the doc mentions "Write a proxy that runs in your server, and have the web client send data through that proxy.". Then can you provide a example? I

[2019-02-05 15:32] gtrevi commented on #24212
Hi,
this is the link: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started
I also x-read this one: https://developers.google.com/cloud-messaging/android/android-migrate-fcm

Thanks

[2019-02-05 15:33] LisandroSu opened #24288 "Не верная версия Java"
@andreigerasimov commented on [Tue Feb 05 2019](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/174)

 apt install default-jre -y
Не прокатит, используйте:
sudo add-apt-repository ppa:webupd8team/java
sudo apt-get install oracle-java8-installer

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на

[2019-02-05 15:41] bobbytreed commented on #19217
This should be closed by #64942

Please let me know if this is still an issue.

[2019-02-05 15:42] bobbytreed commented on #19217
#please-close

[2019-02-05 15:45] bobbytreed commented on #18076
@jakaruna-MSFT I'm trying to follow the thread here.  Can you summarize the issue with the documentation for me?

[2019-02-05 15:53] bobbytreed commented on #15007
Circling back on this, sorry for the long delay.  @sangeethmani1 did this answer your question RE: Credentials. Is there any way I can assist further?

[2019-02-05 15:53] KetanChawda-MSFT commented on #24256
@cliffkoh Thanks for your feedback. We will review and update as appropriate.

[2019-02-05 15:53] Karishma-Tiwari-MSFT commented on #23988
@jtuliani Any update? Can you please share more details as asked above.
@roiyz-msft Do you think this is enough detail for you to investigate and update the doc? Let me know. Thanks.

[2019-02-05 15:54] AmanGarg-MSFT commented on #24264
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-02-05 15:54] #24264 closed

[2019-02-05 15:57] thenralmani commented on #20317
Do you guys have any clear answer for this request ??

[2019-02-05 15:57] KetanChawda-MSFT commented on #24266
@nicwillemse Thank you for the feedback. We will review and update as appropriate.

[2019-02-05 16:04] KetanChawda-MSFT commented on #24268
@dhmorrison Thanks for your feedback. Could you clarify which documentation you're referring to? Please provide us with the URL of the documentation so that we ensure your feedback is addressed by the right team.

[2019-02-05 16:08] #19217 closed

[2019-02-05 16:09] Karishma-Tiwari-MSFT commented on #24288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 16:09] mimig1 commented on #15463
@mike-urnun-msft - Please reassign to @mikebudzynski, the PM that owns content for this service.

[2019-02-05 16:13] MicahMcKittrick-MSFT commented on #24099
@imtiaza1977 I don't understand why you are trying to swap the data disks. If you want to swap out data disks then the correct process is to detach the ones your want and then attach the new ones. Swapping is not designed to work for data disks. Only OS disks.

So you would use the links I provided to change the data disks. Is that what you are doing?

[2019-02-05 16:19] payneBrandon commented on #21130
Hi @craigshoemaker, in the C# ListLogger the Microsoft.Extensions.Logging.Abstractions.Internal doesn't seem to be available any more. The following function errs out due to protection level of the NullScope:
public IDisposable BeginScope<TState>(TState state) => NullScope.Instance;

[2019-02-05 16:21] taylormoran opened #24289 "External links do not work"
NuGet and github links do not work. Should the doc be updated for using https://github.com/dougmsft/microsoft-avro and https://www.nuget.org/packages/Microsoft.Avro.Core/ if that's the correct project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1320ef8-c055-fb74-5093-84036b9c95b4
* Version Independent ID: e7850dcb

[2019-02-05 16:22] KetanChawda-MSFT commented on #24192
@murdockcrc Which version you were on before upgrading when you were getting error?

[2019-02-05 16:25] MicahMcKittrick-MSFT commented on #24059
@deepeshpradhan automatic upgrades when it comes to VMSS is simply ensuring the OS version is the most up to date version. It does not mean upgrading to different SKUs. So for example, it does not mean you can upgrade from 2012 to 2016.

In Azure we do not support in place SKU upgrades. So you cannot upgrade your 2012 to 2016. If you want to upgrade to a new Version of windows you need to create a

[2019-02-05 16:25] #24059 closed

[2019-02-05 16:31] alkohli commented on #12857
@Adam-Smith-MSFT  I have answered the customer's questions. The above product is on a  sunset path and hence very low priority to make those types of fixes. Besides, marketing deck is available when these devices w/ EA are sold. This would qualify as a won't fix. Please close this. Thank you! #please-close

[2019-02-05 16:31] MicahMcKittrick-MSFT commented on #24105
@aquibqureshi26 correct the link you shared does not apply to VMs. Only the SLAs I provided in the above links apply to VMs.

[2019-02-05 16:31] Karishma-Tiwari-MSFT commented on #23555
@egrish Any update? Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-02-05 16:32] msLinuxNinja opened #24290 "Article should be updated with a modern procedure"
This article is out of date, the procedure itself is not the best for a lost password reset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1396c845-32b2-2da9-46a7-9cd2b7e9d4c5
* Version Independent ID: 6a6b726a-0e66-bbd0-8c5a-2ef566757a97
* Content: [How to reset local Linux password on Azure VMs](https://docs.microso

[2019-02-05 16:32] #23555 closed

[2019-02-05 16:33] philimag commented on #23879
For exemple in the documentation BC_Gen5_12 claims for 1536GB Max data size (GB) but in the portal for a BC_Gen5_12 you can attach up to 3TB.

[2019-02-05 16:34] MicahMcKittrick-MSFT commented on #22952
@TomArcherMsft could you take a look at this one? I don't see why the code sample throws an error if we set the allocation method to static. We of course could just change it to dynamic but I don't understand why the error is there in the first place.

[2019-02-05 16:35] matt-FFFFFF commented on #22952
@MicahMcKittrick-MSFT This is a case sensitivity issue. The string must have a capital 'S'.

e.g. 'Static' = :)
'static' = :(

[2019-02-05 16:39] MicahMcKittrick-MSFT commented on #22952
Done!

![image](https://user-images.githubusercontent.com/32313503/52288692-885d8280-2921-11e9-92ca-6dfcfc3ff8f2.png)

Changes should go live in a few hours :)

[2019-02-05 16:39] #22952 closed

[2019-02-05 16:39] KetanChawda-MSFT commented on #24256
@cgillum any thoughts on this?

[2019-02-05 16:44] dlepow commented on #23889
@DavidR91 - Thanks for pointing out this documentation gap. I updated the portal section to state the requirement to enable the admin user account to enable "Run instance" command.
#please-close

[2019-02-05 16:52] #23889 closed

[2019-02-05 17:04] CarlRabeler commented on #23879
I will investigate

From: philimag <notifications@github.com>
Sent: Tuesday, February 5, 2019 8:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] There is a difference in the maximum data size value of resource limit. (#23879)

For exemple in the documentatio

[2019-02-05 17:06] tfitzmac commented on #24280
@theouteredge - you can run Get-AzureRmResourceGroupDeployment and provide the resource group name. It will list the deployments for that resource group and one property is the name.

You can provide a name during deployment. By default, it uses the name of the template file without the .json extension.

[2019-02-05 17:06] butacristian opened #24291 "Endpoint validation failed"
I am following the steps exactly as they are presented, but when I try to Create the event subscription in event grid I get the following error:
Deployment has failed with the following error: {"code":"Url validation","message":"The attempt to validate the provided endpoint failed. For more details, visit https://aka.ms/esvalidation."}

As I understand from the documentation this should never be t

[2019-02-05 17:09] LisandroSu opened #24292 "Contradiction regarding retention period"
@markbeij commented on [Tue Feb 05 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/223)

Azure Cosmos DB takes snapshots of your data every four hours. At any given time, only the last two snapshots are retained.

Contradicts

If you have accidentally deleted or corrupted your data, you should contact Azure support within eight hours so that the Azure Cosmos DB team can help you res

[2019-02-05 17:09] aquibqureshi26 commented on #24105
And last question, do you know which azure service is applicable for composite SLA

[2019-02-05 17:09] LisandroSu commented on #24292
Hi team,

Please check this issue.

Thanks!

[2019-02-05 17:19] mattbriggs commented on #24282
@dfencegit Thanks for catching the hard coded value. I've updated with the param as you pointed out. It will be posted with the next build. Thank again for your feedback. #please-close

[2019-02-05 17:21] gbargsley commented on #24229
There were no steps to set an sa password during the steps.  The below link takes you to the step I am trying to complete.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq#create-a-sign-in-on-each-sql-server-vm-for-the-installation-account

[2019-02-05 17:22] garybushey opened #24294 "Search-AzGraph not returning full JSON"
The command  Search-AzGraph -Query "where type =~ 'Microsoft.Compute/virtualMachines' | limit 1"   does not return the full JSON like stated in this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6215348-a08e-86bc-a329-295a233b880e
* Version Independent ID: e69d4508-fda7-1f35-fa71-af4eba4098f2
* Content: [Expl

[2019-02-05 17:31] MicahMcKittrick-MSFT commented on #24105
@aquibqureshi26 if you read back over the doc you linked composite SLA is just a combination of two different services each with their own SLA.

So in the example, we have a Web App and a SQL DB

![image](https://user-images.githubusercontent.com/32313503/52291966-7a5f3000-2928-11e9-9254-138885bfced9.png)

![image](https://user-images.githubusercontent.com/32313503/52291988-8b0fa600-2928-11e9-83df

[2019-02-05 17:38] David-Engel commented on #19703
Please close due to lack of info. Thanks.

@CeciAc , @Mike-Ubezzi-MSFT , @gromas

[2019-02-05 17:44] SaurabhSharma-MSFT commented on #24278
@klchung Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-05 17:46] SaurabhSharma-MSFT commented on #24277
@klchung Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-05 17:48] Mike-Ubezzi-MSFT commented on #22384
Yes, you just need to point the variable `SSL_CERTFILE` to a Trusted CA root bundle. You can use the variable `SSL_VALIDATE=true` to verify the certificate chain if there are any concerns.

[2019-02-05 17:50] Karishma-Tiwari-MSFT commented on #24290
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 17:52] aquibqureshi26 commented on #24105
thanks buddy.

[2019-02-05 17:52] #24105 closed

[2019-02-05 17:53] PramodValavala-MSFT commented on #24291
@butacristian That's true. You shouldn't be seeing that error with Azure Functions as mentioned in [this](https://docs.microsoft.com/en-us/azure/event-grid/security-authentication#webhook-event-delivery) doc.

Could you confirm if there was any step of the tutorial that you might have done differently?

[2019-02-05 17:57] TylerMSFT commented on #22365
#please-close

[2019-02-05 18:02] rezasherafat commented on #24267
@ddobric, please look under "Communicate using device streams (preview)" in the table on [this page](https://docs.microsoft.com/en-us/azure/iot-hub/).

[2019-02-05 18:03] dsindona commented on #18844
#please-close This issue was addressed and resolved.

[2019-02-05 18:03] LisandroSu opened #24295 "Integrations & services"
@andreigerasimov commented on [Tue Feb 05 2019](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/175)

 Integrations & services (Интеграция и службы) больше не поддерживается в github, используйте закладку webhook

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: a230cf42-66c2-e0

[2019-02-05 18:04] rezasherafat commented on #24270
@ddobric, this is a good suggestion. We have a tutorial in the works which will be published soon. In the meantime, if you have a usage scenario in mind for device streams that you can share, feel free to email me at rezas @ microsoft . com. Thanks.

[2019-02-05 18:05] TylerMSFT commented on #12074
#please-close
There is a known issue in the Mesh preview that causes this.

[2019-02-05 18:05] LisandroSu commented on #24295
Hi team,

Please check this issue reported by the user. Rough translation:

Thanks!

[2019-02-05 18:10] kobulloc-MSFT commented on #24287
@imeya Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-05 18:30] dragav commented on #23408
@tshinkle may I ask you to zip the traces in the SFLogs\traces directory, and share them with me? I'm dragosav at microsoft dot com. The exact path to the logs directory is listed in the cluster manifest. Thank you.

[2019-02-05 18:35] cgillum commented on #24256
Either capitalization will work, but I agree that we should be consistent across the documentation.

FYI @cliffkoh if you want, you can also contribute corrections like these by using the Edit button at the top of the documentation page.

[2019-02-05 18:35] femsulu commented on #24285
@miguelangelopereira Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-05 18:35] kazshi opened #24296 "change operation url"
Is it possible to change Operation URL later? or Is it fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a4-6856-3705a705e23c
* Content: [Mock API responses with the Azure portal](https://docs.microsoft.com/en-us/azure/api-management/moc

[2019-02-05 18:42] deepeshpradhan commented on #24059
Thank you for clarification, it is mention in multiple docs that in place upgrade is not supported. However we also read in multiple blogs where it was requested for support in place SKU upgrades. This feature will helps a lot when infra don't have the actual installer/configuration for apps its hosted in outdated OS.

[2019-02-05 18:43] TomShinder commented on #20317
Azure Security Center provides some network related alerts, and you always have the option of deployment your own virtual network appliances based on your requirements.

[2019-02-05 18:45] #22365 closed

[2019-02-05 18:46] MicahMcKittrick-MSFT commented on #24059
@deepeshpradhan no problem. There are quite a few open feature requests for this :)

One main issue is that in place upgrades require user input. For example, the language selection screen. During this setup RDP is not enabling until you boot into the OS. So users get stuck at the language selection. It is something we are looking into though. It just requires some automation in order to work prop

[2019-02-05 18:46] Adam-Smith-MSFT commented on #24282
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-05 18:46] #24282 closed

[2019-02-05 18:49] murdockcrc commented on #24192
I am afraid I lost the log where the version was displayed (a vscode terminal) so I can’t see the old versions installed. But they were 2.x, I am certain of that. Sorry about that.

[2019-02-05 18:49] MicahMcKittrick-MSFT commented on #24295
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 18:50] jasonfare commented on #22732
I think the confusion was around the word "Purge."  The teams I was working with assumed that meant it would purge the vault but keep it around.  I guess the wording is good enough, but it did cause confusion because they didn't understand that Purge in this terminology means delete the entire vault and contents and not "empty the vault's contents."

[2019-02-05 18:56] kgremban commented on #23265
Question 1 is answered in the article that you created this issue on:

![image](https://user-images.githubusercontent.com/13578436/52296073-556fba80-2932-11e9-8d79-6319ddd84a6c.png)

For question 3, you didn't clarify which API you're using. From the code snippet you included, I assume it's the C API? (https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-module-client-h/iothubmodule

[2019-02-05 18:57] MicahMcKittrick-MSFT commented on #23408
@dragav if you like I can also publish my code to an Azure Cluster and give you the subscription and cluster information offline if that helps.

[2019-02-05 18:58] #23969 closed

[2019-02-05 19:02] robinsh commented on #23679
hey @Alberto-Vega-MSFT. As noted in my response to the original requestor, this was fixed last week. You can close this issue.

[2019-02-05 19:06] MarileeTurscak-MSFT commented on #24211
Hope this helps! We will proceed to close this thread but if you have further questions feel free to reach out to tag me in the comments or open an issue on MSDN and we will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-05 19:06] #24211 closed

[2019-02-05 19:07] cgillum commented on #24256
I went ahead and opened a PR to correct this.

[2019-02-05 19:09] SubhashVasarapu-MSFT commented on #20317
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 19:09] #20317 closed

[2019-02-05 19:12] Karishma-Tiwari-MSFT commented on #24290
@msLinuxNinja Would you be able to provide more details on what are we missing in this doc or anything specifically you think should be part of this doc as it will help the doc-owner make updates accordingly and improve the doc.

[2019-02-05 19:14] kgremban commented on #23974
@hubez Thank you for pointing out that error in the documentation. I'll fix the examples to match the actual formatting that the CLI command requires.

If you want to talk to the CLI team about using comma separated lists instead of JSON, you can make a contribution or suggestion on their github page: https://github.com/Azure/azure-iot-cli-extension

[2019-02-05 19:17] RyanHill-MSFT commented on #24218
@AskYous I was hoping to get some further information from you regarding your issue. Were you following the steps using your local Powershell/Git Bash environment?

[2019-02-05 19:20] SaurabhSharma-MSFT commented on #24203
@dozunu I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-02-05 19:22] inesk-vt opened #24298 "Issues succesfully installing node.js per tutorial steps"
I am running into 2 issues trying to get the "connect raspberrypi using nod.js" tutorial:

Issue #1:
It looks like the docs reference a deprecated version of node.js? I get a warning when I run the command to get the latest:

![deprecation_warning](https://user-images.githubusercontent.com/45835062/52298398-b9e14880-2937-11e9-9d83-d05b9af62e2d.png)

Issue #2:
After successfully following the node.

[2019-02-05 19:24] Mike-Ubezzi-MSFT commented on #24035
@rylewell-msft In this specific example, the build container's lifespan is per build, as the CI/CD pipeline definition is to fetch the Docker image containing the emulator each time the pipeline executes. Although this document is not very clear, there is another very helpful document that explains this further: [Build, test, and push Docker container apps in Azure Pipelines](https://docs.microsof

[2019-02-05 19:38] deepeshpradhan commented on #24059
@MicahMcKittrick-MSFT How about the workaround. Download the VHD's and Upgrade in Hyper-V and Upload back the VHD's
https://support.microsoft.com/en-us/help/4014997/an-in-place-system-upgrade-is-not-supported-on-windows-based-azure-vms

Also will Azure VM boot diagnostics will work. Though it  is not support Microcosft docs but I have backup of VM and can't attempt this workaround as well

https:/

[2019-02-05 19:39] adrianwells opened #24300 "Using the -match operator"
Hello. In the ["Using the -match operator" section](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership?auth=2#using-the--match-operator),  please add a reference (a link) to more information for example, might this reference material [Regular Expression Language - Quick Reference](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-

[2019-02-05 19:41] MicahMcKittrick-MSFT commented on #24059
@deepeshpradhan yes you can use the work around to download the VHD, complete the setup and upload again. Although I personally think that is more work than just deploying a new VM with the OS you want.

And yes, boot diagnostics will work. But it doesn't allow you to complete the setup.

As you found we do have work arounds when people get stuck. So it is not as if doing this will be a complete l

[2019-02-05 19:46] jamesbannan commented on #22954
@ananthradhakrishnan OK thanks for the clarification. In which case it would be definitely worth mentioning this prerequisite in the official ITSM Connector documentation.

[2019-02-05 19:51] CarlRabeler commented on #23879
Preliminary feedback is that this is an error in the Azure portal.

[2019-02-05 19:52] CarlRabeler commented on #22660
pricing calculator has an update pending

[2019-02-05 19:53] deepeshpradhan commented on #24059
Thank you @MicahMcKittrick-MSFT for instant and efficient reply. This clarify all my doubts

[2019-02-05 19:53] adewaleo commented on #24243
no p @msrini-MSIT, thanks.

[2019-02-05 20:05] Adam-Smith-MSFT commented on #24286
@psined1 Could you please provide us with the documentation/demo link you were referring to ?

Thanks,
Adam

[2019-02-05 20:06] Adam-Smith-MSFT commented on #24294
@garybushey Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-05 20:07] maya-cnx opened #24301 "REST API to get resource provider operations list"
Documentation indicates access to operations through CLI or PowerShell. Is there REST API equivalent to fetch the data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource provider

[2019-02-05 20:07] altwohill opened #24302 "Document registry settings such as IP_WHITELIST"
I notice in the logs the NPS Extension complains that the whitelist is not initialized; it appears it requires some registry settings under a key called IP_WHITELIST. This isn't documented anywhere obvious.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb8312c-c6d2-d435-15e0-f759234e5a30
* Version Independent ID: 4df

[2019-02-05 20:08] alexsmithMSFT opened #24303 "Typos for Custom Script Extension"
Overview section has typos, these should be "**Custom** Script Extensions" not "Customer":

Current version of the doc has-
"4. Download and run **customer** script extensions."
"7. Download and run the **customer** script extension."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56e3868-1095-e3fa-2b58-d5a31d85c498
*

[2019-02-05 20:13] Karishma-Tiwari-MSFT commented on #24185
@goraco @RicksterCDN Can either of you please share your insights on this customer's question.
@matheus-santoro I have asked the SMEs to help on your question
Meanwhile, please check if this doc is helpful:
https://blogs.msdn.microsoft.com/saponsqlserver/2017/08/10/high-available-ascs-for-windows-on-file-share-shared-disk-no-longer-required/
Thanks.

[2019-02-05 20:14] Robert-Kostecki commented on #24198
Hi @ronortloff, firstly thank you for the clarification.

The material that I referenced is part of Microsoft  70-776 "Perform Big Data Engineering on Microsoft Cloud Services" Certification" and specifically "Delivering a Data Warehouse in the Cloud" (Microsoft -  DAT220x) https://www.edx.org/course/delivering-a-data-warehouse-in-the-cloud-0. I agree that it would be good to get it corrected.

I

[2019-02-05 20:15] psined1 commented on #24286
Sorry, my bad, this is the document I was referring to --

[Validate XML with schemas in Azure Logic Apps with Enterprise Integration Pack](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/logic-apps/logic-apps-enterprise-integration-schemas.md)

[2019-02-05 20:16] Karishma-Tiwari-MSFT commented on #24290
@msLinuxNinja Thanks for adding me to the email thread offline. I will let the author investigate and update the doc as per your suggestions in the email thread.

[2019-02-05 20:19] Utthirabalaji commented on #24281
Hi team,
Please find the document link.
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db-mongodb-api

Thanks
Utthirabalaji
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, February 5, 2019 11:00:31 PM
To: MicrosoftDocs/azure-docs
Cc: Utthirabalaji V; Mention
Subject: Re: [MicrosoftDocs/azure-docs] CosmosDbMongoDbApi Linked Se

[2019-02-05 20:19] ronortloff commented on #24198
Hi @Robert-Kostecki,
Your explanation and code look good.  Thanks for sharing.

[2019-02-05 20:36] mike-urnun-msft commented on #24296
Hi @kazshi Thank you for your feedback! We will review and update as appropriate.

[2019-02-05 20:38] #24026 closed

[2019-02-05 20:49] xiacijie opened #24306 "Error in "Configure the function app" section"
Link: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image

storageConnectionString=$(az storage account show-connection-string \
--resource-group myResourceGroup --name &lt;storage_account&gt; \
--query connectionString --output tsv)

should be changed to

$storageConnectionString= (az storage account show-connection-string \
--resource-group myResou

[2019-02-05 20:53] mganeshphani opened #24307 "is there any limit of number of resources in a RG?"
Should we be concerned with  any limitation on number of resources in an RG?
I know there is a limit on the role assignments that can be done at subscription level, hence checking If there is something like this on the resource level in an RG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2562755f-b20a-0252-12dd-f2330

[2019-02-05 20:56] ggailey777 commented on #24236
@sb2059 did you find the [Getting started article](https://docs.microsoft.com/azure/app-service/webjobs-sdk-get-started) for WebJobs at all helpful?

[2019-02-05 20:57] TravisCragg-MSFT commented on #24228
@jgallucci32 I am following up with this, [you are not the first to encounter this issue](https://social.msdn.microsoft.com/Forums/en-US/98bfe99c-f3b2-4fff-924a-a7591019e83b/ntp-fqdn-and-multiple-ips?forum=AzureStack)`.

[2019-02-05 20:57] DCtheGeek commented on #24294
@garybushey Thanks for the feedback.  You are correct that PowerShell returns a PSCustomObject instead of JSON. To convert the results to the JSON, you can use `ConvertTo-Json`. The full command would look like `Search-AzGraph -Query "where type=~'microsoft.compute/virtualMachines' | limit 1" | ConvertTo-Json`. This should provide you the results similar to what is documented.  I'll get this fixed

[2019-02-05 20:59] christiankuhtz commented on #23090
@Qq20180503 does your scaleset have public IP's associated with it as instance-level public IP's for the VMSS instances?  If so, they need to be standard SKU as well.  You can achieve this by creating the LB first and then creating the VMSS with a reference to the LB at create time, which will cause the public IP SKU to match the lb sku.

[2019-02-05 21:00] mrbullwinkle commented on #23786
@planax thank you for the feedback. This is definitely an area we should cover in the docs. We have created an internal work item for this and have currently assigned it to our backlog.

[2019-02-05 21:02] msLinuxNinja commented on #24290
Thanks! :)

[2019-02-05 21:04] ggailey777 commented on #19336
@karaibek27 & @CeciAc that API is v2.x and is now in the dedicated v2.x branch: https://github.com/Azure/azure-webjobs-sdk-extensions/blob/v2.x/src/WebJobs.Extensions/Extensions/Core/ExecutionContext.cs
This API is no longer in v3.x. I have updated the article.

[2019-02-05 21:04] ggailey777 commented on #19310
@VladDerptastic v3.x updates are nearly done. Thanks for your patience!

[2019-02-05 21:09] TravisCragg-MSFT commented on #24062
@JakubW88 only [1 certificate can be attached per listener](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits), so you will need 2 listeners, or both sites to come into the same listener.

[2019-02-05 21:10] TravisCragg-MSFT commented on #22871
@JakubW88 we can continue this on #24062

[2019-02-05 21:12] mattbriggs commented on #24303
@alexsmithMSFT Great! Thanks for pointing this out. I've updated and it should be live at the next build.

[2019-02-05 21:13] Mike-Ubezzi-MSFT commented on #22946
@anujku The best next steps for this is to create an entry in the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db), and please reach out to the product group directly: askcosmosdb at Microsoft.com and request Java SDK specific change feed processor examples/content. By doing so, you will get more traction with your request. By adding a User Voice entry, others can u

[2019-02-05 21:13] #22946 closed

[2019-02-05 21:15] inesk-vt opened #24308 "Errors trying to run set up for the C IoT hub sample on Raspberri Pi - linking errors"
Followed the steps to get the sample app running on my Raspberry Pi but ran into the following errors trying to run the set up script. Let me know if you need more info to diagnose, I was unable to complete the tutorial:

Scanning dependencies of target app
[ 20%] Building C object CMakeFiles/app.dir/main.c.o
[ 40%] Building C object CMakeFiles/app.dir/bme280.c.o
[ 60%] Building C object CMakeFile

[2019-02-05 21:17] Mike-Ubezzi-MSFT commented on #23778
@Anmolgan81 A Managed Instance can host publisher, distributor, and subscriber databases. See [Transactional replication configurations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transactional-replication#common-configurations) for available configurations.

[2019-02-05 21:19] Mike-Ubezzi-MSFT commented on #23778
Please see the following documentation for Managed Instance replication functionality: [Configure replication in Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance).

[2019-02-05 21:23] Mike-Ubezzi-MSFT commented on #24198
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-05 21:33] Mike-Ubezzi-MSFT commented on #24281
@Utthirabalaji You are attempting to create this in PowerShell?

[2019-02-05 21:34] Utthirabalaji commented on #24281
No I am creating arm template with powershell

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, February 6, 2019 3:03:23 AM
To: MicrosoftDocs/azure-docs
Cc: Utthirabalaji V; Mention
Subject: Re: [MicrosoftDocs/azure-docs] CosmosDbMongoDbApi Linked Service Issue (#24281)

@Utthirabalaji<https://github.com/

[2019-02-05 21:38] Utthirabalaji commented on #24281
"name": "CosmosDbMongoDbApi5",
"type": "Microsoft.DataFactory/factories/linkedservices",
"properties": {
"type": "CosmosDbMongoDbApi",
"typeProperties": {
"connectionString": "mongodb://backenddb:@backenddb.documents.azure.com:10255/?ssl=true;replicaSet=globaldb",
"database": "NBME",
"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXR

[2019-02-05 21:40] Mike-Ubezzi-MSFT commented on #24281
Okay, this needs to go to support, as you might be leveraging code samples in a tutorial, the tutorial itself doesn't necessarily need to be addressed...the use of an ARM template does in this case. Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If not, I can use the Subscription ID value found in your error text to enable a one-time incident ticket to have

[2019-02-05 21:43] Utthirabalaji commented on #24281
I don't have azure support plan.i am using azure free subscription

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, February 6, 2019 3:10:29 AM
To: MicrosoftDocs/azure-docs
Cc: Utthirabalaji V; Mention
Subject: Re: [MicrosoftDocs/azure-docs] CosmosDbMongoDbApi Linked Service Issue (#24281)

Okay, this ne

[2019-02-05 21:43] Mike-Ubezzi-MSFT commented on #24198
@Robert-Kostecki We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-05 21:43] #24198 closed

[2019-02-05 21:45] tjprescott opened #24311 "Please clarify that these steps are for use in bash ONLY."
The steps outlined in this tutorial will only work on bash. They do not work on Powershell or Windows CMD.exe. It calls out opening a Cloud Shell instance. However, in Cloud Shell you can start a Powershell or Bash session, so you should clarify that the user should select a Bash session.

At the same time, it might be worthwhile adding tabs for other shells.

---
#### Document Details

⚠ *Do not

[2019-02-05 21:45] Mike-Ubezzi-MSFT commented on #24281
Please reach out to me via the email address provided and I will return instructions. Thank you!

[2019-02-05 21:46] apwestgarth commented on #22180
I am updating our docs for our next release.  Will review and incorporate this feedback into the correct article(s).

[2019-02-05 21:46] sb2059 commented on #24236
I loved that documentation; I ended up downgrading to 2.2.0 specifically because of it.  I wonder if considering new versions to be "beta" until robust documentation is available would be worth considering, since updating my packages now throws me into no-man's land.
________________________________
From: Glenn Gailey <notifications@github.com>
Sent: Tuesday, February 5, 2019 3:56 PM
To: Microsoft

[2019-02-05 21:47] xiacijie opened #24312 "Missing command for deployment in "create and deploy the custom image" section"
Link: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image

It only gives the command for creating app but not for deployment.
I suggest adding `func azure functionapp pulish <appname>` to complete the tutorial.

[2019-02-05 21:49] MicahMcKittrick-MSFT commented on #24311
@tjprescott thanks for the feedback. The assumption is if you are using Azure CLI then you would use Bash. Else we would state to use Azure PowerShell. Regardless, I will assign to the author to review and see about making that portion more clear.

[2019-02-05 21:50] SnehaGunda commented on #24292
@LisandroSu Azure Cosmos DB takes snapshots of your data every four hours. At any given time, only the last two snapshots are retained. If you want to restore your data with one of that snapshot, you have to contact Azure support within eight hours after the snapshot is taken. The data can't be restored after 8 hours.

[2019-02-05 21:51] Utthirabalaji commented on #24281
Did you find my issue

[2019-02-05 21:53] KingdomOfEnds commented on #23679
Thank you both @robinsh and @Alberto-Vega-MSFT - I'll jump in here and close it myself. Cheers!

[2019-02-05 21:53] #23679 closed

[2019-02-05 21:55] Utthirabalaji commented on #24281
If I run that json through Powershell . facing this kind of error.
Set-AzureRmDataFactoryV2LinkedService : HTTP Status Code: BadRequest
Error Code: BadRequest
Error Message: Failed to encrypt sub-resource payload {
"Id": "/subscriptions/6e051d77-4292-4764-9964-7b58a3dc445c/resourceGroups/backend_db_backup/providers/Microsoft.DataFactory/factories/BackupCosmosDB/linkedse
rvices/CosmosDbMongoDbApi5"

[2019-02-05 21:55] Utthirabalaji commented on #24281
Pls rectify it.

[2019-02-05 21:56] tjprescott commented on #24311
Thank @MicahMcKittrick-MSFT

This is why I ask:
https://github.com/Azure/azure-cli/issues/8162

The bottom line is it isn't clear to users, and since CloudShell allows you to start a PowerShell session in which `az` functions, it leads to problems.

[2019-02-05 21:59] MicahMcKittrick-MSFT commented on #24311
@tjprescott Makes total sense and is valid feedback :)

[2019-02-05 22:02] Mike-Ubezzi-MSFT commented on #24281
@Utthirabalaji

You have been enabled for one-time Free Technical Support.  To create the support request, please do the following:

- Go to the Health Advisory section within the Azure Portal: https://aka.ms/healthadvisories 
- Select the Issue Name "You have been enabled for one-time Free Technical Support"
- Details will populate below in the Summary Tab within the reading pane and you can clic

[2019-02-05 22:08] rccnw opened #24313 "WebJobs new-project template not displayed in VS2017 15.9.6"
re: 'Use the WebJobs new-project template for a WebJob linked to a web project'
This instruction is not valid:
'Right-click the web project in Solution Explorer, and then click Add &gt; New Azure WebJob Project.'

No such 'New Azure WebJob Project' menu item is displayed in VS2017 15.9.6 as illustrated in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-02-05 22:19] BharathNimmala-MSFT commented on #24307
@mganeshphani  Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-05 22:19] Grace-MacJones-MSFT commented on #23143
Hi, any updates for us? @MrYossu

[2019-02-05 22:20] ggailey777 commented on #16685
@telalwar sorry for the  delay in updates. We are working on getting the v3.x updates published ASAP since the 3.x SDK is now GA.

[2019-02-05 22:35] kobulloc-MSFT commented on #24287
@imeya Regarding the first issue (iKey being visible), using the instrumentation key on the server side is secure.  On the client side, the nature of JavaScript makes the instrumentation key exposed (and it could be viewed by a network monitoring tool such as Fiddler) however it's important to note that this is a limitation of JavaScript, and the same is true for every JavaScript based analytics t

[2019-02-05 22:41] cynthn commented on #24311
@tjprescott Thanks for the feedback. We have similar issues with using PowerShell syntax in a bash prompt. If you open Cloud Shell from the links on the page or from "Try it" you get the bash prompt by default. But, I'm developing a line that we'll be adding to all content that states something like "This content was last tested using CLI x.x …." and we can add something about the prompt type to t

[2019-02-05 22:43] #24311 closed

[2019-02-05 22:47] cihanduruer commented on #24117
Thank you for your answer all. @Ketan. it just works if i do manual changes. Looks like UI just generate wrong code.
By the way problem is also persist in MS Flow and unfortunately you cannot access to JSON in MS Flow. Do you have any other ideas ?

[2019-02-05 22:53] #24287 closed

[2019-02-05 22:53] MrYossu commented on #23143
@Grace-MacJones-MSFT Hello. No, not had chance to look at it again. Will let you know when I have an update.

Thanks

[2019-02-05 23:08] inesk-vt commented on #24298
To work around, looks like I had to get a greater version of node.js (See below). That seems to have successfully brought in npm package install (?). On a clean formatted raspberry pi, just installing node.js as instructed in the tutorial didn't seem to properly install npm.

$ curl -sL https://deb.nodesource.com/setup_11.x | sudo -E bash -

[2019-02-05 23:11] Adam-Smith-MSFT commented on #24312
@xiacijie Thank you for the valuable feedback,we are investigating the issue.

[2019-02-05 23:19] ricetristan commented on #15279
@Sulster  and @AvinashReddyVaka I hit the same issue trying to setup end-to-end SSL via the Azure portal (_does not support AuthenticationCertificates for the selected SKU tier WAF_v2_).  However, I was able to perform this configuration via powershell (**Set-AzApplicationGatewayBackendHttpSettings**) without issue.  Hopefully the portal UI will be updated to support this soon!

[2019-02-05 23:26] MattB-msft opened #24315 "This document seems to be out of date.,"
When calling this API your also required to pass the Ocp-Apim-Subscription-Region,  else this will not work.
Link to info on this is here: https://docs.microsoft.com/en-us/azure/cognitive-services/authentication
Request that the sample be updated with the supporting header..  thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-05 23:35] AskYous commented on #24218
No. I did it on the Azure CLI in portal.azure.com. Not locally.

[2019-02-05 23:35] johnthcall opened #24316 "User-assigned managed identity as listed as preview in the azure portal but not in documentation"
Can the doc be updated to mark the service state of this identity type. It seems that user-assigned managed identities have existed for at least 10 months, what is the timeline for GA, is there any blocking issues?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent

[2019-02-05 23:44] MrCNeale opened #24317 "AZ cmdlet udpate required"
The install command in the pre-reqs should note that if az cmdlets, not azurerm are installed, then
Install-Module -Name AzureRM.DeploymentManager -AllowPrerelease -AllowClobber
is required (and may affect your existing PS install)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c9e0e2-d97d-cb18-9f1c-be9f900d48d5
* Ve

[2019-02-05 23:45] MashaMSFT commented on #23545
Hi @Rabbit994 , since we haven't heard back from you, I will proceed with closing out this Git Issue. However, please feel free to reach out to us if you need anything further. Thanks again for contacting Microsoft!  #please-close

[2019-02-05 23:56] MarileeTurscak-MSFT commented on #24145
I'm closing this out as this is a duplicate of https://social.msdn.microsoft.com/Forums/en-US/5a7417a3-6aba-4163-a47f-091b0f23d595/exchange-online-legacy-authentication-caching?forum=WindowsAzureAD

We will continue the discussion on MSDN since this is a product question.

[2019-02-05 23:56] #24145 closed

[2019-02-06 00:01] Mike-Ubezzi-MSFT commented on #24028
@sergeart Thank you for raising this issue. We have identified an issue with Azure Data Warehouse with regard to the second T-SQL example. This is the current behavior:

The first T-SQL returns 111233:

111233;The current transaction has aborted, and any pending changes have been rolled back. Cause: A transaction in a rollback-only state was not explicitly rolled back before a DDL, DML or SELECT s

[2019-02-06 00:07] MarileeTurscak-MSFT commented on #24252
Hi @MaximBalaganskiy ,

 As far as I know, when using Implicit grant flow, it is not possible to renew tokens after few weeks absence of user on page. According to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens#token-lifetimes), a Refresh Token will automatically expire if the user hasn't entered their credentials for 90 days. And the

[2019-02-06 00:08] MarileeTurscak-MSFT commented on #24252
CC: @davidmu1

[2019-02-06 00:08] MarileeTurscak-MSFT commented on #24252
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-06 00:08] #24252 closed

[2019-02-06 00:18] jstffl opened #24318 "Update "Create from OpenAPI specification" Form"
My experience using the "Create from OpenAPI specification" form differs slightly than what's documented here. There's a toggle for switching between Basic and Full versions of the form. The Full version must be selected to access all the fields. There's also an additional Tags field below the API URL suffix field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-02-06 00:36] PatrickFarley commented on #13163
#please-close

[2019-02-06 00:38] PatrickFarley commented on #21240
#please-close

[2019-02-06 00:42] blitzprecision opened #24319 "Timeout when calling Azure Webservice"
I followed the code template here: https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-train-models-with-aml
I changed it for my dataset.
I can create image successfully. ACI deployment works fine too.
But when I call the API, it times out after almost a minute with this error. I know my code will take a few minutes to run.

WebserviceException: Received bad response from serv

[2019-02-06 00:43] kazshi commented on #20317
@TomShinder @SubhashVasarapu-MSFT Thanks for you comment. Now I understand the IDS/IPS is network related features (Network-based threat detection alerts for example) listed in the following page.
Features and platforms supported by Azure Security Center | Microsoft Docs
https://docs.microsoft.com/en-us/azure/security-center/security-center-os-coverage

It would be great if you could include more

[2019-02-06 00:47] TravisCragg-MSFT commented on #24303
@alexsmithMSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 00:47] #24303 closed

[2019-02-06 00:50] rjmiller-revint commented on #24021
It seems you removed a working version and now the nuget version is 3.3.638 for Microsoft.ServiceFabric.Actors, but I don't see a download for that version for the runtime.   What are the correct versions and where should I get them from?

[2019-02-06 00:55] Karishma-Tiwari-MSFT commented on #24295
@zr-msft In [this part of the doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-jenkins-github-docker-cicd#create-github-webhook), the instructions need to change as GitHub Services have been deprecated has been deprecated as per screenshot below.

![image](https://user-images.githubusercontent.com/20851144/52314236-b0230980-2966-11e9-9fed-df2d549df4f4.png)

@LisandroSu @

[2019-02-06 00:56] Aseronly1 opened #24320 "Azure AZ Powershell"
We need a version for Azure AZ Powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb85e0c9-3e55-749d-769e-7953479dccda
* Content: [Create a Windows VM from a specialized VHD in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/cr

[2019-02-06 01:00] julieMSFT commented on #24028
@kevinvngo Kevin, can you take a look at this?

[2019-02-06 01:00] cynthn commented on #24320
@Aseronly1 thanks for the feedback! I'm currently updating all of the PowerShell content for VMs to use the new Az module. Should all be live by EOD on Friday :)

#please-close

[2019-02-06 01:15] msprateek opened #24321 "Discovered Solutions with ASC Free Tier"
Its not very clear if discovered Solutions like Azure AD Identity Protection and Microsoft Advanced Threat Analytics are discovered automatically by Azure Security Center in the "Free Tier"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-

[2019-02-06 01:16] Adam-Smith-MSFT commented on #24276
@DavidRayner Thank you for the valuable feedback,we are investigating the issue.

[2019-02-06 01:17] Adam-Smith-MSFT commented on #24283
@rajatvijay Thank you for the valuable feedback,we are investigating the issue.

[2019-02-06 01:18] Adam-Smith-MSFT commented on #24289
@taylormoran Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-06 01:19] julieMSFT commented on #22033
@KeiroKamioka0000 Hi, You use the alter index rebuild after the scaling operation of the upgrade. When the data warehouse is back online the data migration will be happening in the background. You can speed this up by running alter index rebuild on all primary columnstore tables you'd be querying at a larger SLO and resource class. This operation is _offline_ compared to the trickle background pro

[2019-02-06 01:20] #24320 closed

[2019-02-06 01:21] julieMSFT commented on #22033
@KeiroKamioka0000  I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-06 01:31] curtand commented on #23999
@SumitParikh for visibility. I don't know what the solution is gong to be, but I don't think we're enhancing the article at this time.

[2019-02-06 01:32] julieMSFT commented on #22033
#please-close

[2019-02-06 01:42] kazshi commented on #21837
@SadiqhAhmed-MSFT I verified the content was updated. Thanks!

[2019-02-06 01:53] julieMSFT commented on #24274
@FOSSluds Hi, The correct link is [https://docs.microsoft.com/en-us/azure/data-factory/load-azure-sql-data-warehouse](url) . I am updating the article. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

#please-close

[2019-02-06 01:55] Alberto-Vega-MSFT commented on #23929
@danielfs1987 Are you still facing this issue?

[2019-02-06 01:55] darthchudi commented on #6397
I think it's worth mentioning that the password of a service principal can only be retrieved when it's created, as stated by the docs here [https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#create-a-service-principal](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#create-a-servi

[2019-02-06 02:04] SaurabhSharma-MSFT commented on #24104
@PingPongSet It is recommendation to use Microsoft Graph however, I do acknowledge your feedback on the same as on improving the experience of these documents with the latest technology updates. Also, our document content author team do monitor each of these feedback and use them as they author new contents.
@davidmu1 FYI.

[2019-02-06 02:14] SaurabhSharma-MSFT commented on #24064
@sylvaingirardbe It worked for me with the Common endpoint as well.  The "Common" endpoint is used for a multi-tenant application and as the application doesn’t know up front what tenant the user is from, so you can’t send requests to a tenant’s endpoint. Instead, requests are sent to an endpoint that multiplexes across all Azure AD tenants.  You may be getting error if the application is not regi

[2019-02-06 02:21] SaurabhSharma-MSFT commented on #24300
@adrianwells Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-06 02:30] YutongTie-MSFT commented on #24315
@MattB-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, could you please help to update the sample? Thank you.

[2019-02-06 02:50] Alberto-Vega-MSFT commented on #24298
@inesk-vt Thanks for the update. Were you able to complete the tutorial? Do you have raspbian-2017-07-5 version installed?

[2019-02-06 02:52] Alberto-Vega-MSFT commented on #24308
@inesk-vt I'm sorry you are facing this issue. We are aware there are issues going on with this sample. I will update with you shortly.

[2019-02-06 03:23] kogesaka opened #24322 "Azure Repos with Kudu Build server does not work"
I was setting Continuous Delivery that according to the contents ([Deploy continuously from Azure Repos (DevOps Services)] - [Option 1: use App Service Kudu build server]), but the source code committed to Azure Repos that are not reflected in Web App.
It seems that the Kudu build server is not working. Is this correct behavior?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-02-06 03:24] nayakshweta opened #24323 ""Delete unattached classic VM disks stored in the storage account" does not seem to be a requirement for storage account migration any more."
"Delete unattached classic VM disks stored in the storage account" does not seem to be a requirement for storage account migration any more.

I was able to migrate a classic storage account with unattached classic disk present in it.

steps to reproduce the issue :

Created a storage account 'classicstormig'.

added an OS vhd and created a classic 'Disk' from it.

created a Classic VM classicstorm

[2019-02-06 03:38] ajayanti1 commented on #23999
+Manish

Hi - I responded to those customer feedbacks because moving forward my team will own those contents. We are trying to understand the exact pain points that customers are trying to get answers for.

The response we get from customers will help us to further enhance these areas.

Thanks,
Aruna

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Curtis Love <no

[2019-02-06 03:51] CHEEKATLAPRADEEP-MSFT commented on #22033
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 03:51] #22033 closed

[2019-02-06 04:31] KetanChawda-MSFT commented on #24306
@xiacijie Thanks for providing the feedback. We will review and update as appropriate.

[2019-02-06 04:33] KetanChawda-MSFT commented on #24318
@jstffl Thank you for providing the feedback. We will review this and provide an update as appropriate.

[2019-02-06 04:34] neeleshray commented on #24241
@mckenzm
Suggest you to post on our Azure Feedback Portal on the same.
We would be closing this thread now. Kindly re-open if you need further help.

[2019-02-06 04:34] #24241 closed

[2019-02-06 04:39] KetanChawda-MSFT commented on #24192
@murdockcrc I tried with multiple 2.x version and I am not able to repro the issue. we will now proceed to close this thread due to lack of evidence. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 04:39] #24192 closed

[2019-02-06 04:55] kazshi commented on #24296
@PramodValavala-MSFT Thank you for the info!

[2019-02-06 04:55] #24296 closed

[2019-02-06 04:55] KetanChawda-MSFT commented on #24117
@cihanduruer I am not sure about the MS Flow. But in Logic App you can change by updating the json as mentioned in last post. I have provided the feedback to the product group and they confirmed that this is expected that the designer adds the base64 encoding since we don’t know if the string is already encoded or not and the expected format is base64 encoded. So the only option is to use code vie

[2019-02-06 04:56] KetanChawda-MSFT commented on #24117
@cihanduruer we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 04:56] #24117 closed

[2019-02-06 04:57] KetanChawda-MSFT commented on #24123
@KeiroKamioka0000 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 04:57] #24123 closed

[2019-02-06 05:06] AshokPeddakotla-MSFT commented on #23769
@ravikiran-srini If you are still facing the issue, I suggest you post your query on [Azure Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) for better assistance on this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 05:06] #23769 closed

[2019-02-06 05:09] shashishailaj commented on #24301
@maya-cnx thank you for your query. Please check the link for the [RBAC rest API reference](https://docs.microsoft.com/en-us/rest/api/authorization/role-assignment-rest-sample) . Please let us know in case this helps you .
Thank you.

[2019-02-06 05:15] Waterfox83 opened #24325 "Incorrect Label Name"
On HDInsight Cluster page, the option for enabling Log Analytics is 'Operations Management Suite' not 'Monitoring'. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6015786a-01a5-c01d-82bb-f375b5dc3a00
* Version Independent ID: 704bde40-76d9-e261-e0e0-ef7e5de6724b
* Content: [Use Log Analytics to monitor A

[2019-02-06 05:16] msrini-MSIT commented on #24323
@nayakshweta, Thank you for your efforts on enhancing the documentation. I will repro and post the results here.

[2019-02-06 05:36] KetanChawda-MSFT commented on #24256
@cgillum Thank you for your inputs and PR.

@cliffkoh The referenced PR has update the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 05:36] #24256 closed

[2019-02-06 05:39] KetanChawda-MSFT commented on #24234
@SeanFeldman SignalR Service bindings for Azure Functions are currently in preview. Azure Functions supports input and output bindings for SignalR Service.
You can check the document for details about [SignalR Service bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service)

I have created a PR to update the document with SignalR bind

[2019-02-06 05:39] #24234 closed

[2019-02-06 05:39] SubhashVasarapu-MSFT commented on #23090
@Qq20180503 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 05:49] AjayKumar-MSFT commented on #24313
@rccnw, Thanks for the question! We are investigating and will update you shortly.

[2019-02-06 05:52] AjayKumar-MSFT commented on #24322
@kogesaka, Thanks for the question! We are investigating and will update you shortly.

[2019-02-06 06:07] raghavan20 commented on #23265
hi @kgremban, could you please confirm is it okay to run `mcr.microsoft.com/azureiotedge-agent:1.0`  and `mcr.microsoft.com/azureiotedge-hub:1.0` to utilize full offline functionality?

thanks for looking into question 3.

[2019-02-06 06:16] SadiqhAhmed-MSFT commented on #24029
@karlbunnell This can be better answered by our support personnel. Recommend you reach out to [Azure Technical Support](https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-create-azure-support-request) by creating a support request. Let me know if you have any limitations creating a support ticket.

[2019-02-06 06:18] imeya opened #24330 "Cannot see the blob content in web browser but instead of this message "This blob will be accessible to clients via a shared access signature""
I'm following this section "Generate a shared access signature URI for a blob" in this article.
After I get the returned value, I copy it to a web browser, but it only display this message on the browser: "This blob will be accessible to clients via a shared access signature".

I cannot figure it out. And for the start time, I used .addminutes(-10).
The returned url like this: https://xxx.blob.cor

[2019-02-06 06:29] Joyw1 opened #24331 "Does it support to enable Azure Event Hub capture with the Data Lake Gen2 enabled storage account"
In my event hubs instance -> Capture, I want to select a `Data Lake Gen2 enabled storage account` to capture data, but it will keep loading. When clicking `+Container` , whatever the name I use, it is always invalid. Does it support to use `Data Lake Gen2 enabled storage account` to enable the capture? I could not find the official doc about it.

![cscsassce](https://user-images.githubusercontent.

[2019-02-06 06:34] PramodValavala-MSFT commented on #24268
@dhmorrison Based on the error message that you are seeing, I believe you are running the command from the wrong folder.

After running `func init`, you should have the `host.json` and `local.settings.json` files generated and running `func new` should have a `function.json` file generated as well (except in the case of C#/Java Functions). The [CLI Quickstart](https://docs.microsoft.com/en-us/azur

[2019-02-06 06:34] AshokPeddakotla-MSFT commented on #24202
@hho We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 06:34] #24202 closed

[2019-02-06 06:43] inesk-vt commented on #24308
Great, thanks for the update!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Alberto Vega <notifications@github.com>
Sent: Tuesday, February 5, 2019 6:52:59 PM
To: MicrosoftDocs/azure-docs
Cc: Ines Khelifi; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Errors trying to run set up for the C IoT hub sample on Raspberri Pi - li

[2019-02-06 06:43] Cephei opened #24332 "Cannot change keyspaces against CosmosDB Emulator v2.1.3"
Specifying `USE` does not work against the emulator. I've not tried CosmosDB in Azure. The only way I can create tables is by prefixing the keyspace name. e.g. `CREATE TABLE IF NOT EXISTS keyspace.table (...)`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID:

[2019-02-06 06:44] angoyal-msft commented on #23590
@Jothi3125 as such there is no direct powershell script for this. I would suggest you to play with Max and Min DTUs as per your requirement whichever combination suits you.

You can try below command :

`Set-AzureRmSqlDatabaseElasticPool -ResourceGroupName "ResourceGroup01" -ServerName "Server01" -ElasticPoolName "ElasticPool01" -Dtu 100 -DatabaseDtuMax 10 -DatabaseDtuMin 2`

You could keep changi

[2019-02-06 06:44] kazshi opened #24333 "Network requirements: Compatible user-defined route table (UDR)"
"The Managed Instance subnet must have a user route table with **0.0.0.0/0 Next Hop Internet** as the mandatory UDR assigned to it."

UDRs are added to Route Table (like the following image) once MI was deployed, but "**0.0.0.0/0 Next Hop Internet**" UDR needs to be added to the Route Table as described in the requirements?

![udr](https://user-images.githubusercontent.com/37645753/52324574-aa451c

[2019-02-06 06:48] imeya opened #24334 "In SAS URI, how to set allowed ip?"
I want to set allowed ip for the SAS URI(for a blob) by using sip=xxx, but it does not work when I use the sas uri on the machine(which ip is set allowed). I just copy the sas uri and paste in the web browser, it always say not allowed. Event I generate sas uri from azure portal with allowed ip, it throws the same error when visit from web browser.

I'm not sure if I used the wrong ip, and I get t

[2019-02-06 06:49] ChiragMishra-MSFT commented on #24065
@ritul51 I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Please create a F

[2019-02-06 06:49] #24065 closed

[2019-02-06 06:52] maya-cnx commented on #24301
Yes that helps. It seems the same as cli command listed here. Thank you.

[2019-02-06 06:53] Joyw1 commented on #24331
Seems to find it.

![cacasssre](https://user-images.githubusercontent.com/36072422/52325139-efad2c80-2a1e-11e9-899a-1b441948ad2c.PNG)

[2019-02-06 06:53] #24331 closed

[2019-02-06 06:56] CHEEKATLAPRADEEP-MSFT commented on #24325
@Waterfox83 Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

@hrasheed-msft Could you please update as appropriate as shown below.

The document looks like:

In this section, you configure an existing HDInsight Hadoop cluster to use an Azure Log Analytics workspace to monitor jobs, debug logs, etc.
1.	Open an HDInsight cluster in

[2019-02-06 07:01] SumanthMarigowda-MSFT commented on #24334
@imeya Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-06 07:06] murdockcrc commented on #24192
Fine. If I manage to repro  again, we’ll  reopen and post the exact versions with the problem. Thx

[2019-02-06 07:09] ggailey777 commented on #24268
@dhmorrison sorry about the confusion. We are planning to add a better overview to the Core Tools article to clarify the general steps to create and publish function apps.

[2019-02-06 07:10] ggailey777 commented on #24268
@PramodValavala-MSFT please assign this issue to me.

[2019-02-06 07:17] femsulu commented on #23803
I am closing this request but please add to your doc backlog to correct the redundant url

[2019-02-06 07:17] #23803 closed

[2019-02-06 07:34] femsulu commented on #23954
@sanjayntms , at this point our best path forward is to engage Azure technical support.
Here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support. If you already have a support plan. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to t

[2019-02-06 07:34] #23954 closed

[2019-02-06 07:34] ondrejspilka opened #24335 "Couple of imporvements for Python36 and certificate management in the document"
Hi guys,
please check this out, with your procedure it is impossible to get windows downstream device to work...

Certificate management for IoT edge transparent gateway on Windows Server 2016 downstream device
------------------------------------------------------------------------------------------------

1. Windows server 2016 doesnt accept PEM format certificates, one has to copy all certifica

[2019-02-06 07:36] imtiaza1977 commented on #24099
Got your point.
{Swapping is not designed to work for data disks. Only OS disks.}

My DB resource problem is little different.
He wants ..
1) DB restoration.
2) Take Snapshot.
3) Start VM and handed over to DB Guy
4) He performs some Load Testing Scripts on it and destroys the DB.
..
..
..
..
5) After that he requested us to swap the HDD which we have taken as a SS.

Thanks
Malik Adeel Imtiaz

[2019-02-06 07:45] jarandaf commented on #12526
@fusionet24 in principle you should be able to set that via spark environment variables, more concretely, setting `PYSPARK_PYTHON` to `/databricks/python3/bin/python3`

[2019-02-06 07:50] sylvaingirardbe commented on #24064
Ok, thanks for clearing that up. I must have missed the 'registration as a multi-tenant app' somewhere.
It still might be useful to add some of this information with that `curl` instruction since it's now different from the `POST` right above that and it won't work for single tenant apps.

[2019-02-06 07:52] imeya opened #24338 "if the container is stopped, does azure monitor still monitor it and write info to ContainerInventory?"
if the container is stopped, does azure monitor still monitor it and write info to ContainerInventory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20d1-54d8-f30084328bb0
* Content: [Container Monitoring solution in Azure Log Analytics](http

[2019-02-06 08:24] allencodes commented on #8850
There is still no tutorial to create ContosoHyperVSite. The link provided by @rayne-wiselman is 404.

[2019-02-06 08:25] philippschaefer4 opened #24339 "Is it possible to deploy ACI with HTTPS"
Hi, is it generally possible or recommended to call an ACI via HTTPS instead of HTTP. A straightforward "No" will suffice since I don't think so. But I wanted to be sure of it. I could imagine, that I can somehow setup an ACI with HTTPS by configuring everything myself, but I really want to use AzureMLs easy way of deployment (I'm loving it). I am just not that proficient in setting up Webservices

[2019-02-06 08:41] ggailey777 commented on #24313
@AjayKumar-MSFT please assign to me, I think that this article is likely out of date. Thanks @rccnw for reporting this.

[2019-02-06 08:52] ggailey777 commented on #23986
@acollard I think that you are correct, and I will confirm with the product team. @BryanTrach-MSFT please assign this issue to me.

[2019-02-06 09:03] isamllr opened #24341 "Official Hadoop documentation does not yet list ABFS"
The official Hadoop documentation does not yet list ABFS - in the meantime, could we provide an example here or link to a tutorial of ours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666641d4-82c6-ad6a-9c54-87f425b127b3
* Version Independent ID: cbb7e811-8c56-86ab-b91e-4f0838776fea
* Content: [The Azure Blob Filesy

[2019-02-06 09:04] YASWANTHM-MSFT commented on #24330
@imeya,Are you trying to access the blob using storage explorer or using C# as described [here](https://markheath.net/post/azure-container-shared-access-signature)?
[Here ](https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1#when-should-you-use-a-shared-access-signature)is an article, how the shared access signature works and there are two types of S

[2019-02-06 09:04] PramodValavala-MSFT commented on #24318
@jstffl The UI has indeed changed a bit since this document was first published.

We are assigning this issue to the content author to review and update accordingly.

[2019-02-06 09:07] tkumark opened #24342 "Wrong link for Service Fabric Support."
In the line "For a list of supported versions, see Service Fabric support" it is taking to a support page. I think it used to take to a page where it used to give list which version of sdk is compatible with which version of runtime. I do not see that link anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e7957

[2019-02-06 09:14] AjayKumar-MSFT commented on #24313
@ggailey777, Sure, thank you for checking on this!

[2019-02-06 09:18] YASWANTHM-MSFT commented on #24341
@isamllr, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-06 09:26] imeya opened #24343 "How to set ip restrictions for a blob in the sas with c# code?"
In this section "Generate a shared access signature URI for a blob", it uses c# code to create a sas uri for a blob, but I wonder how to add ip restrictions using the same code. And I checked the class of SharedAccessBlobPolicy , no ip related property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45618651-10cb-459e-

[2019-02-06 09:28] RohitMungi-MSFT commented on #24339
@philippschaefer4 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-06 09:29] neeleshray commented on #24316
@priyamohanram
Could you get a confirmation on this please ?

[2019-02-06 09:29] SumanthMarigowda-MSFT commented on #24343
@imeya Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-06 09:29] RohitMungi-MSFT commented on #24319
@blitzprecision
Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-06 09:32] isamllr commented on #20989
Thank you Sumanth.

[2019-02-06 09:41] #24243 closed

[2019-02-06 09:44] butacristian commented on #24291
Ok, I have found the problem. The function when it is created has by default two triggers configured in the function.json, the blob trigger and the eventgridtrigger. There's a limitation of one trigger per function, so you need to cut the blob trigger one and leave the event grid trigger.

This fixed the problem, but you might need to add this extra step to the tutorial.

[2019-02-06 09:44] AshokPeddakotla-MSFT commented on #24335
@ondrejspilka Thanks for the feedback! Appreciate for providing the suggestions. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-06 09:53] AjayKumar-MSFT commented on #24031
@SogoGolf, Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-06 09:53] #24031 closed

[2019-02-06 09:56] RohitMungi-MSFT commented on #24319
@blitzprecision Could you please let us know if you are able to [test the model successfully locally](https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-deploy-models-with-aml#test-the-model-locally) before deploying it as a service?

[2019-02-06 10:06] Baffour opened #24344 "Link to incorrect Configuration Manager package"
In the "Install the required NuGet packages" section there's a link to the Microsoft.WindowsAzure.ConfigurationManager package in NuGet, which seems inconsistent with the recommendation to use the newer Microsoft.Azure.* packages.
Visiting the link the documentation tells me to use Microsoft.Azure.ConfigurationManager instead. Is that correct? And if so, should the link in the documentation be upd

[2019-02-06 10:06] PramodValavala-MSFT commented on #24291
@butacristian Thanks for sharing that! Its seems to a bug in the sample repo itself.

[This](https://github.com/Azure-Samples/storage-blob-resize-function-node/blob/master/Thumbnail/function.json#L11) line specifically. It should `blob` instead of `blobTrigger`.

Feel free to raise a PR for it you'd like to contribute 😄

[2019-02-06 10:09] KetanChawda-MSFT commented on #23936
@sandeep-ma The properties exposed in the connector are the one that have been commonly requested by customers using our other MQ features. In logic apps, the encoding used for the “Message” field is whatever logic apps decides it is Probably UTF-8. In your case it sound as through the CodeCharSetID (CCSID) may need to be set to match your message. You can try setting the CCSID field.

If you stil

[2019-02-06 10:09] #23936 closed

[2019-02-06 10:09] PingPongSet commented on #24104
@SaurabhSharma-MSFT

I understand you recommand MS Graph for B2C. But I cannot find the document. Can you please advise?

Thanks in advance.

[2019-02-06 10:15] shashishailaj commented on #23961
@antsok

[2019-02-06 10:17] angoyal-msft commented on #24344
@Baffour Thanks for your feedback. I have assigned this issue to the author of the document to help you further.
@wmengmsft could you take a look at this issue.

[2019-02-06 10:18] angoyal-msft commented on #24333
@kazshi
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-06 10:19] angoyal-msft commented on #24332
@Cephei
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-06 10:23] jtuliani commented on #23988
I'm talking about PA. The doc says "To boot a VM you must have the PA installed on the VM". The PM for ASR tells me that's not true.

[2019-02-06 10:23] imeya opened #24345 "Can we start a runbook using methods from Microsoft.Azure.Management.Automation package?"
I tried to start a powershell runbook using methods from Microsoft.Azure.Management.Automation package, but cannot find any guidance. could you please give some help? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef296473-51fe-0fba-1141-3a0690402ac0
* Version Independent ID: 646b281d-7a02-1222-44b3-fcbd2acce67

[2019-02-06 10:24] Baffour commented on #13468
@SnehaGunda is it correct that it supports .NETStandard? I get warnings for both Microsoft.Azure.Storage.Common and Microsoft.Azure.CosmosDB.Table saying that they're targeting versions of .NETFramework whilst my project targets NetStandard.
Have also seen it mentioned elsewhere: https://stackoverflow.com/a/50826684/4007109

[2019-02-06 10:26] blitzprecision commented on #24319
Yes, it ran fine locally. I also logged in into the docker image and could execute it there as well using the terminal. I thought there was a default 1 hour timeout. But it turns out that I am facing a 1 minute default timeout.

[2019-02-06 10:35] tomasaschan opened #24346 "Instructions for storing the Root cert in Azure KeyVault"
It seems that we must put the `root.crt` in the correct place on our app servers (~/.postgresql/root.crt on linux, %APPDATA%\postgresql\root.crt on windows, according to this article), and we'd like to automate this as part of the deployment or provisioning pipeline. In order to do so, we want to store the certificate in KeyVault, but I'm unable to figure out how to import the cert there as the Ke

[2019-02-06 10:52] shashishailaj commented on #23961
@antsok It seems you are trying to deploy RD gateway in AAD domain services environment for which NPS is a requirement . Could you please check this [article](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/rds-azure-adds) if it suffice your requirements for born-in-the-cloud organisations ? Please let us know in case you have any further queries.

[2019-02-06 10:54] shashishailaj commented on #24301
Thank you for confirmation . We will now close this issue. In case you have any further queries feel free  to engage us again through the same channel.

Thank you.

[2019-02-06 10:54] #24301 closed

[2019-02-06 10:57] shashishailaj commented on #23916
@way2arun Please let us know in case you have taken any trace and we can help you accordingly on this .

[2019-02-06 11:16] rayne-wiselman commented on #8850
No sure how this crept back in. Either way no tutorial to create a hyper-v site is required. You just specify a name for the site.

[2019-02-06 11:23] AlexKeySmith opened #24347 ".net core 2.2 caveat"
It would be handy if it was added on here that .net core 2.2. isn't yet compatible, for ease of finding the info.

I opened a support ticket and was pointed to this page which mentions the site extension is not yet compatible with 2.2. https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#troubleshooting

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-06 11:28] angoyal-msft commented on #24346
@tomasaschan
Thanks for your feedback. I have assigned this issue to content author to help you better.
@JasonMAnderson could you please help us with this issue.

[2019-02-06 11:30] angoyal-msft commented on #23518
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 11:30] #23518 closed

[2019-02-06 11:44] Bogdan-Catalin opened #24348 "Daemon application use case"
Digital Twins [authorization documentation](https://docs.microsoft.com/en-us/azure/digital-twins/security-authenticating-apis) (where it says AD supports daemon application) and [rbac documentation](https://docs.microsoft.com/en-us/azure/digital-twins/security-role-based-access-control) imply that we can use service principal to read and write data in the graph.

I created a web app registration w

[2019-02-06 11:59] mmjensen opened #24349 "IoT Central only exports data from one device to Event Hub"
# IoT Central only exports data from one device to Event Hub

I have an IoT Central with multiple device that each have multiple telemetries, events and states. When using the "Continuous Data Export" function with an Event Hub, I only get data from one device (unfortunately not the one I was interested in). In the IoT Central it says that it will export all measurements from all devices, however,

[2019-02-06 12:01] SnehaAgrawal-MSFT commented on #23641
@kazshi, Even without the custom domain, you could have SSL enabled for your site. By default, Azure secures the *.azurewebsites.net wildcard domain with a single SSL certificate, so your clients can already access your app with https.Further you can also enforce HTTPS as mentioned in this document: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl#enforce-http

[2019-02-06 12:10] AmanGarg-MSFT commented on #24347
Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-06 12:26] SadiqhAhmed-MSFT commented on #24338
@imeya Thanks for the comment! If container is stopped, monitoring will continue but there will be no data. If I am not wrong, this is what you're referring to - [link](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overview)

[2019-02-06 12:45] NisreenJ opened #24350 "Error in step Add Parse JSON action"
When the provided JSON is used, this error comes up:

InvalidJSON. The 'content' property of actions of type 'ParseJson' must be valid JSON. The provided value 'Body' cannot be parsed: 'Unexpected character encountered while parsing value: B. Path '', line 0, position 0.'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-06 12:51] MarkusKoenig73 opened #24351 "wrong code snippet for register to Azure File Datastore"
Hi
I have two issues with registering to FileShare:
1. I think the code snippet is wrong:
    Azure File Share Datastore
    To register an Azure File Share datastore:
    -> should be:
    ds = Datastore.register_azure_file_share(workspace=ws,
                                             datastore_name='your datastore name',
                                             file_share_name='your file

[2019-02-06 12:55] drsand opened #24352 "Mixup of id token payload and signature portion"
Regarding the sentence "You can use the header and payload to verify the authenticity of the token, while the payload contains the information about the user requested by your client." It's not the header and payload which is used to verify the autenticity of the token, it's the header and the signature portion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-02-06 12:56] aelij opened #24353 "Using strings as dictionary keys in .NET Core"
As the above warning indicates, keys must have stable hash codes. In .NET Core string hashes are not stable (by design).

Since strings are very commonly used as keys, was this addressed by the reliable collections runtime? It would be helpful to provide guidance here either way, and if necessary provide a sample of how to correctly use string keys in .NET Core.

---
#### Document Details

⚠ *Do n

[2019-02-06 12:57] msrini-MSIT commented on #24323
@nayakshweta, I am able to reproduce the same scenario. You don't need to delete the unattached classic VM disks stored in the storage account to migrate from ASM to ARM. I guess the Powershell commands are optional. I will assign this issue to the author, where he can clarify and make changes to the documentation accordingly.

[2019-02-06 12:58] jakaruna-MSFT commented on #24342
@tkumark Thank you very much for reporting.
is this (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions) the page you were expecting?

[2019-02-06 12:59] jakaruna-MSFT commented on #24275
@nageshajab Is there any update?

[2019-02-06 13:08] VireshMathapati13 opened #24354 "When the Azure Backup will support for 32 data disks?"
I am looking for this support from last 6 months and seems like the product group will be releasing this support in Feb-2019, so now it's the time. Please let me know when ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3447ce-fb16-f2ec-126e-91168af07bd1
* Version Independent ID: 65048fd2-f450-2046-115d-3846a6f5be

[2019-02-06 13:12] iamkarlson opened #24355 "Where is guide for dotnet core ????"
How are you going to promote your new technology if you even cannot provide developers with documentation for YOUR OWN PRODUCTS????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83987349-2735-b9f5-8df2-80b65a9ff41d
* Version Independent ID: 4f423457-b2ac-d90b-6104-a16e1aa92079
* Content: [Quickstart: Table API with .N

[2019-02-06 13:16] mmjensen commented on #24349
Okay, so I figured out that the rest of the data was send to another partition. I thought that the consumers were supposed to be unaware of the partitions inside the Event Hub. How do I know which partition data from the IoT Central is posted to? For some devices, the device data is sent to one partition while the measurement data is sent to the other. Is there a way to know or to get data from al

[2019-02-06 13:22] berhauz opened #24356 "potential flaw in java SDK library source code re handling SAS tokens in Azure Event Hub"
While implementing a connection to the Azure event hub to a remote receiving party, I had to tweek the SASkey for taking the first 32 undecoded base64 raw bytes as security key seed of the HMAC instead of using the properly decoded 32 bytes from the base64 key that was supplied to me.

I decided to cross-check my implementation against Microsoft java SDK and actually drill down into the source cod

[2019-02-06 13:29] odeddror opened #24357 "SQL Server"
Hi there,
You can't create SQL server instance without subscription (see error below)
(Disabled) Visual Studio Premium with MSDN?

Thanks,

Oded Dror

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 934e434b-87d0-37c9-7a58-c08648d6947b
* Version Independent ID: e07a35f7-50c6-7ebd-4ab8-6128f318207e
* Content: [Quickstart

[2019-02-06 13:37] TwoPatient opened #24358 "When using Device Provisioning Service each time device re-provisions with x509 certificates device is re-created and gets unassigned from the edge device->parent device)"
## Description of issue
When provisioning a downstream device using x509 certificates, each time the device gets connection details from the DPS, it re-creates the device in IoT Hub even if in the Group-Enrollment "Never re-provision" is selected.

This means that if a parent was selected for the device, it loses this configuration so the offline capability of the transparent gateway is lost for t

[2019-02-06 13:39] AjayKumar-MSFT commented on #24121
@StingyJack, You may try a similar approach as mentioned below and see if that helps:

# Get site config from azure cli
siteConfig=`azure site show $WEB_SITE_NAME -d --json`

# Extract publishing username and password for the site
publishingUserName=`echo $siteConfig| python -c "import json,sys;obj=json.load(sys.stdin);print obj['config']['publishingUserName'];"`
publishingPassword=`echo $siteConf

[2019-02-06 13:40] xencon opened #24359 "Large file uploads result in progress over 100% and failures"
I'm having some odd behavior when uploading large files (4-6 GB). The progress tracks over 100% and eventually fails with errors. The Windows Application Event Viewer shows repeated events similar to the following:

==&gt; REQUEST/RESPONSE (Try=11/3m1.3900397s[SLOW &gt;3s], OpTime=37m21.4759542s) -- RESPONSE STATUS CODE ERROR PUT https://&lt;data lake storage account anme&gt;.dfs.core.windows.net/

[2019-02-06 13:40] vatsparth commented on #23225
@rbhadti94 and @AjayKumar-MSFT, I'm facing the same issue. I have a PHP site. When I deploy it using powershell. It gets deployed successfully but doesn't display anything on the page.
M I doing something wrong while deploying or do I need to follow any step post doing a Zip deploy using Invoke-RestMethod.

[2019-02-06 13:41] gmanvel opened #24360 "Misleading screenshot"
Hi,
Under the [Schedule recurring jobs](https://docs.microsoft.com/en-us/azure/scheduler/migrate-from-scheduler-to-logic-apps#schedule-recurring-jobs) section screenshot shows advanced options to be set for Recurrence schedule trigger.

However, I do not see any advanced option nor _Hide advanced option_ collapse/expand button

![logic_app_designer](https://user-images.githubusercontent.com/115099

[2019-02-06 13:42] prtdomingo opened #24361 "Typo on Docker Run command"
I was doing a step by step execution on my local machine based on this docs, then I've noticed that there's a typo on the Docker run command:

docker run --rm -it -p 5000:5000 --memory 4g --cpus 1 \
containerpreview.azurecr.io/microsoft/ognitive-services-face \
Eula=accept \
Billing={BILLING_ENDPOINT_URI} \
ApiKey={BILLING_KEY}

The image name should be: containerpreview.azurecr.io/microsoft/cogni

[2019-02-06 13:48] henrikhallebrand opened #24362 "wrong sentence"
Windows 7/8 - Disable or delete Windows 10 devices in the Azure AD

Should say Windows 7/8 and not Windows 10, Copy paste error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to manage stale devices in Az

[2019-02-06 13:50] AshokPeddakotla-MSFT commented on #24349
@mmjensen Thanks for the feedback! We are currently investigating and will update you shortly.
Also, can you please link the document that you are referring to?

[2019-02-06 13:54] xencon commented on #24359
Some of the files in the errors are actually quite small (KB) and eventually finish uploading.

[2019-02-06 13:54] basseldamra opened #24363 "Agent will fail to sign in, throwing Unexpected Error."
The Agent will fail to sign in, throwing Unexpected Error if the TLS 1.0 is disabled on the on-premises server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.co

[2019-02-06 13:55] basseldamra commented on #24363
Make sure to enable TLS 1.0 to register the server then disable it again as the sync won't be affected.

[2019-02-06 14:01] mrtaunus opened #24364 "Azure Functions outputs not supported?"
We use outputs to Azure Functions in out Stream Analytics job. While doing the build either with MsBuild or SA.exe as described in this document, the resulting template is left empty where there should be the Azure Functions outputs:

"outputs": [
          {
            "name": "AlertHandler",
            "properties": {}
          },
          {
            "name": "TelemetrySaver",

[2019-02-06 14:02] SaurabhSharma-MSFT commented on #24066
@PingPongSet I do not have much insights on timelines for the same but I have assigned this issue to content author to help you if has any updates.
@davidmu1 Can you please help.

[2019-02-06 14:10] SaurabhSharma-MSFT commented on #24104
@PingPongSet Apologies as I was not clear on B2C path for Microsoft Graph.  Currently, If you want to manage users in B2C then you have to use Azure AD Graph API as Microsoft Graph still doesn't support features that are used by Azure AD B2C.

[2019-02-06 14:12] diberry commented on #24361
@prtdomingo Great catch. Thank you for letting me know. #in-progress.

[2019-02-06 14:12] alathrop opened #24366 "Data Lake as a data source for Azure Search"
Is it possible to import data from Data Lake directly as with the other sources mentioned in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 902a668f-cf09-6e08-eed7-ef42ae7d8be1
* Version Independent ID: 409edf4f-9108-2d94-fe15-6740cd2d65cd
* Content: [Import data into a search index using Azure portal - A

[2019-02-06 14:20] tkumark commented on #24342
Yes that is the link

[2019-02-06 14:23] gbasagiannis commented on #24322
we face the same issue today

[2019-02-06 14:24] YASWANTHM-MSFT commented on #24359
@xencon, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-06 14:33] YASWANTHM-MSFT commented on #24363
@basseldamra , when you say "throwing Unexpected Error if the TLS 1.0 is disabled on the on-premises server"could you share the error code with screenshot to investigate further on this?

[2019-02-06 14:37] shashishailaj commented on #24352
@drsand Thank you for the feedback . We will investigate and get the content reviewed for any required update as suggested.

[2019-02-06 14:38] eparizzi commented on #21307
I'm getting the same error when trying to modify some Diagnostic Settings of a VM. In my case, the values don't get updated... Very frustrating...

[2019-02-06 14:38] shashishailaj commented on #24362
@henrikhallebrand Thank you for your feedback. We will have this reviewed and updated as required.

[2019-02-06 14:43] femsulu commented on #23777
thanks, @dhirajgandhi .

@RyanLWilliams We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-06 14:43] #23777 closed

[2019-02-06 14:47] basseldamra commented on #24363
Here you go...

![inkedcapture02_li](https://user-images.githubusercontent.com/47389246/52349271-e0ce7600-2a2e-11e9-9d2a-6c0128ecdbd9.jpg)

[2019-02-06 14:51] DCtheGeek commented on #24294
Additionally for any finding this item, `ConvertTo-Json` has a **Depth** parameter with a default value of _2_. If not specified, the cmdlet only converts the first 2 levels of the **PSCustomObject** into JSON. To avoid this mixed state, specify `-Depth 100` when using `ConvertTo-Json` in this case to avoid the issue. The doc update with both of these items is scheduled to publish this morning.

@

[2019-02-06 14:57] amel00 opened #24368 "Supported Connectors"
I would like to know if there is a list of supported connectors for Azure AD Connect.
I know there are several connectors that are available in AAD Connect but if you use them you become not supported.
is SQL connector now supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 653f79c0-27ad-1c43-e78d-1db38feadb8c
*

[2019-02-06 15:00] ng-marcus commented on #11383
Seeing the same issue here, my SPFX app that's connecting with Aadhttpclient works fine for the first 60 minutes,  then I get the Assertion is not within its valid time range error.

Calling a different function in the same app that doesn't extract the auth token doesn't have the error, and I get  X-MS-TOKEN-AAD-ACCESS-TOKEN headers through.

If I call /.auth/me on the same function, that seems to

[2019-02-06 15:16] DavidR91 opened #24369 "Any support for the ltsc2019 image?"
The article states use 2016 images in both cases

Is this because 2019 is not currently supported, or are these simply examples? (e.g. if I were to make an image based on 2019, as long as it is LTSC should it also work?)

I should note too that there are reasons to prefer 2019 - for example [some containers do not build correctly with a 2016 host+image](https://github.com/moby/moby/issues/33532#is

[2019-02-06 15:25] MGoedtel commented on #23239
@ghoelzer-rht - Is your subscription using the new pricing model?

[2019-02-06 15:28] SaurabhSharma-MSFT commented on #24064
@sylvaingirardbe The "tenant" parameter under the parameters section below the POST mentions using the specific tenant id vs the common endpoint.  hope this helps.

[2019-02-06 15:28] SaurabhSharma-MSFT commented on #24113
@MattHoney89 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-06 15:28] #24113 closed

[2019-02-06 15:28] MGoedtel commented on #22919
@Aurel-Bruno - 1807 is an update release to OpsMgr 1801.  I can see this may cause confusion so I'll bug it and update the article as soon as I can.  Thanks!

[2019-02-06 15:34] DavidR91 commented on #24369
Nevermind: Solved this for myself

If the container is based on LTSC2019 you receive

from the portal (😢)

[2019-02-06 15:34] #24369 closed

[2019-02-06 15:45] HeidiSteen commented on #24366
Sorry, there is no portal indexer support for Azure Data Lake at this time.

[2019-02-06 15:46] fschwehn commented on #24064
After following the instructions I am able to make requests like /v1.0/users or /v1.0/groups. If I do requests to any user related resource like /v1.0/users/<id>/calendars I receive a 401 with this error:
[...]
  "error": {
    "code": "OrganizationFromTenantGuidNotFound",
    "message": "The tenant for tenant guid '4cf59a7d-5a8d-4a77-bfc0-8a88a0ba59b6' does not exist.",
    "innerError":
[...]

C

[2019-02-06 15:53] nageshsubramanian opened #24373 "Total size of resourceFiles cannot be more than 32768 characters"
Hi,

I get this error when I try to run the application in blob store from ADF

Is it possible to keep the zip file in blob and call the application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independent ID: 9ec244a7-d939-3918-fc87-34ab1eec5293
* Content: [Use custom a

[2019-02-06 15:57] MGoedtel commented on #18015
@Alberto-Vega-MSFT - #please-close as I have bugged this and will work with PG to update the article accordingly.  Thanks.

[2019-02-06 16:08] crowcoder opened #24374 "No previous versions of file"
I see no previous versions from the properties of the file but I see them from the properties of the folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d5b7eb-11ed-c050-a0e6-511d425e17f7
* Version Independent ID: a71762b5-976a-db68-4f3b-52e907fbba35
* Content: [Quickstart create and use an Azure file share for Wi

[2019-02-06 16:09] crowcoder commented on #24374
![capture](https://user-images.githubusercontent.com/4210624/52355080-a39ebf80-29ff-11e9-91f3-ac29e60854a4.PNG)

[2019-02-06 16:13] #24361 closed

[2019-02-06 16:20] chanmmn opened #24375 "There is no Essentials section could be found after logging in to the Azure Portal"
"Login to the Azure portal, select your cloud service, look at the Essentials section and then find the Site URL entry"
There is no Essentials section could be found after logging in to the Azure Portal. The picture is not reflecting the new look and feel seems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f6ebc8-5

[2019-02-06 16:21] tfmorris opened #24376 "Don't use images for text docs!"
It's super annoying to have textual documentation rendered in image format, e.g.
https://docs.microsoft.com/en-us/azure/genomics/media/quickstart-run-genomics-workflow-portal/genomics-config.png

I went to cut and paste the list of reference genome ids to send to a colleague and found I couldn't but had to retype them instead. That's a waste of time. It also means the information isn't searchable.

[2019-02-06 16:22] erhopf commented on #24015
@wolfma61 + @PanosPeriorellis is there a way to pass the audio from SpeechRecognition to Speaker ID?

[2019-02-06 16:24] Karishma-Tiwari-MSFT commented on #23988
@jtuliani Thanks for the update. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-06 16:25] AlekseySokol opened #24377 "Hybrid Azure AD Join for Device Registration"
Hello!
We are going to implement Hybrid Azure AD Join for our desktops/laptops in order to configure conditional access and Intune Co-management
In our on premise AD infrastructure (WinServer 2016) and ADFS 4.0
 we have multiple UPN suffixes, those domains are routable and status  in O365 verified, but PCs objects has suffix domain.local.
Does this fact that PCs has non-routable suffix could be an

[2019-02-06 16:33] bertrandpons opened #24379 "Managed Identity for several web apps connected to 1 Azure SQL Database"
Hi,

I have several web apps to connect to the same Azure SQL Database. As far as I have tested, Azure SQL Database seems to support only one Managed Identity from a web app and not several ones in the same time. It causes that if I link one web app with SQL Database then the other one throught the CLI _az sql server ad-admin create_, one of the web app becomes unable to connect to the DB.

Is it

[2019-02-06 16:33] wolfma61 commented on #24015
If you use the microphone, the SDK currently has no way to expose the audio transmitted to the service back to the user.

If you manage the microphone yourself, you could stream the audio to the sdk (using the input stream) and any other service you want, but again - there is no functionality directly out of the SDK to enable this, you will have to program this.

Wolfgang

[2019-02-06 16:33] bertrandpons commented on #23965
@Mike-Ubezzi-MSFT Thank you for the reply. I finally succeeded in combining Entity Framework with Managed Identity.
I have another question about Managed Identity, but not on the same topic: I have opened another ticket [here](https://github.com/MicrosoftDocs/azure-docs/issues/24379)

[2019-02-06 16:33] #23965 closed

[2019-02-06 16:35] erhopf commented on #24315
@MattB-msft - This header is only required if you are using a multi-service subscription key (Cognitive Services key). If you are using a key for the Translator Text API, this header is not required.

[2019-02-06 16:36] erhopf commented on #24315
#please-close

@YutongTie-MSFT - This is not a single doc update, as a team we need to determine the best course of action to highlight that there is more than one way to authenticate a request and that if using a multi-service-key that the region header is required. As such, we've created a backlog item.

[2019-02-06 16:44] JulianaCamposP commented on #24015
@wolfma61 So, For now there isn't a way to implement the speaker recognition service from azure and the sdk with all their events. ( in order to have for example: intentRecognizer.recognized. [using a wake word], etc)

[2019-02-06 16:44] davidmu1 commented on #24066
We do not currently have any information about when MS Graph will be available for B2C.

#please-close

[2019-02-06 16:46] KehindeOwens opened #24380 "PIM Audit Logs"
Hello, i'd like to automatically send these PIM audit logs to a storage account. Basically the same way you can send AAD logs to a storage account. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e649ea-1dc1-5fbc-2de5-41ac1424bcfc
* Version Independent ID: b8207854-8285-4685-d1e8-33152bfe44ca
* Content: [Vie

[2019-02-06 16:56] Grace-MacJones-MSFT commented on #23986
Hi @acollard,  I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-02-06 17:01] Karishma-Tiwari-MSFT commented on #24375
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 17:07] Mike-Ubezzi-MSFT commented on #24357
@odeddror Thank you for the detailed feedback. The document you created this issue for is with regard to Azure SQL Managed Instance. There are no free pricing options for Managed Instance. There is, however, a free tier for Azure SQL Database (single instance). Please see the [Azure Free Account FAQ](https://azure.microsoft.com/en-us/free/free-account-faq/) documentation for more details. Addition

[2019-02-06 17:08] MGoedtel commented on #17822
@fluffy-cakes - Apologies for not addressing this sooner.  I updated the code block and verified it is working as expected.  You should not have any issues applying it in the future.  #please-close.

[2019-02-06 17:11] StingyJack commented on #24121
@AjayKumar-MSFT  - thanks but this does not run.

[code]

[2019-02-06 17:14] MGoedtel commented on #17910
@JozoSlejko - Yes, the option to leverage Azure Policy for deploying the dependency agent was released with the preview of Azure Monitor for VMs Map feature, which is quite similar to Service Maps but was intended for support of the solution.  While it will work in support of Service Maps, there is no intention of updating the documentation for Service Maps to include this information as Service M

[2019-02-06 17:16] Mike-Ubezzi-MSFT commented on #24355
@iamkarlson Thank you for the detailed feedback. Can you please Upvote and Comment on the following Uservoice entry: [.NET Core Support for Table API](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/19401343--net-core-support). This is the best channel for making product and feature requests.

[2019-02-06 17:18] MGoedtel commented on #16768
@rowong + @Alberto-Vega-MSFT - I will bug this and get it addressed as soon as possible.  #please-close.

[2019-02-06 17:19] julieMSFT commented on #24274
#please-close

[2019-02-06 17:23] iamkarlson commented on #24355
Sorry if you thought that I am interested in the improvement of that. MS forces developers to switch to dotnet core, and to use cosmosdb, but in return we get broken infrastructure and back compatibility. Do you think it's fare? I don't. Hence, I don't think that I can afford spending my time going to any other feedback website to tell Microsoft obvious things.

[2019-02-06 17:23] iamkarlson commented on #24355
issue is not solved and never be

[2019-02-06 17:23] #24355 closed

[2019-02-06 17:29] jjgriff93 opened #24384 "No info on the different recognition modes"
Cannot find anything in the docs about what the different recognition modes do (they are references in the sdk samples but doesn't explain anything)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d591bbc77d65
* Content: [About the Sp

[2019-02-06 17:32] RohitMungi-MSFT commented on #24319
@
I have run the notebooks mentioned in the tutorial and the was able to hit the service without any timeout. There are a couple of things I would suggest to check for your model:

1) I am sure you must have changed the input data format and header to match your model but I see in the error the header for Content-Type is 'text-plain', this tutorial uses JSON data as input and would fail if 'applic

[2019-02-06 17:33] MGoedtel commented on #13853
@keikhara - Can you take a look at this and advise if this is something that Application Insights is more appropriate for in this scenario or can be supported using an alternative/custom method?  Thanks.

[2019-02-06 17:33] philliplyle commented on #22027
@shashishailaj I also want to confirm that removing and re-adding the authenticator on an account does NOT disable the passwordless experience.  The websites will still act like a code is being pushed even though the phone does not display it.   At this point there appears to be no mechanism I can see for turning this off once it is enabled on an account.

[2019-02-06 17:33] Mike-Ubezzi-MSFT commented on #24379
@bertrandpons Thank you for this detailed question. I believe the restriction is in the creation of the managed identity as it is assigned to an application name. The configuration requires a 1:1 relationship between the managed identity and the application name. Are you creating multiple, separate application names? As a result of this process, you are creating a Tenant ID and a Principle ID, and

[2019-02-06 17:34] Adam-Smith-MSFT commented on #24348
@Bogdan-Catalin Thank you for the valuable feedback,we are investigating the issue.

[2019-02-06 17:35] MGoedtel commented on #15870
@jason-j-MSFT - #please-close as this issue hasn't had any further activity and appears to have appropriately answered the submitters question. Thanks.

[2019-02-06 17:36] Adam-Smith-MSFT commented on #24356
@berhauz Thank you for the valuable feedback,we are investigating the issue.

[2019-02-06 17:36] roygara commented on #18086
@KeiroKamioka0000 thanks for bringing this to our attention, we appreciate it! I'm looking into this now.

@YutongTie-MSFT @Adam-Smith-MSFT would you please arrange to have this be assigned to me, since I'm handling it? It'd help with tracking. Thanks in advance!

@rothja fyi

[2019-02-06 17:37] MGoedtel commented on #5829
@Adam-Smith-MSFT - #please-close as I have bugged this as this article is going to be re-written or replaced with a new article describing how to accomplish this.

[2019-02-06 17:43] dlepow commented on #23184
@krottiers - Thanks again for pointing this out. The documentation is now updated to assign the AcrPull role to the service principal for AKS.
#please-close

[2019-02-06 17:47] davidmu1 commented on #23774
The policy ID is the same as the user flow name or custom policy name. I added this information to the article:
In the following example, you replace these values:
<tenant-name> - The name of your Azure AD B2C tenant.
<policy-name> - The name of your custom policy or user flow.
<application-ID> - The application identifier of the client application that you registered.
<redirect-uri> - The Redirec

[2019-02-06 17:52] HeidiSteen commented on #23897
Fixed this in the docs -- thanks!  https://docs.microsoft.com/en-us/azure/search/search-howto-connecting-azure-sql-iaas-to-azure-search-using-indexers

[2019-02-06 17:57] YutongTie-MSFT commented on #24032
@apraovjr We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-06 17:57] #24032 closed

[2019-02-06 18:01] MicahMcKittrick-MSFT commented on #24353
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 18:01] jberezanski-mdg opened #24385 "Image building fails with "Received bad response from Model Management Service""
Here is a description of an issue I encountered, which may be worth adding to this page:

If:
- image building (e.g. `az image create container`) fails with unhelpful error messages such as:
"Received bad response from Model Management Service"
"Response Code: 500"
"An internal server error occurred. Please try again. If the problem persists, contact support"

- and you are using an ARM template t

[2019-02-06 18:02] YutongTie-MSFT commented on #24351
@MarkusKoenig73 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 18:06] teedeuk opened #24386 "Set-AzureRMDiagnosticSetting Fails with Azure Web App"
Hi Guys,
 As working in the network there seems to be a problem with the Set-Azurermdiagnosticsetting for web apps as recently raised 16 days ago. Can you please re-open the thread... If this is a breaking change is there a fix or a work around for this . I see a lot of people using this command in Azure PowerShell so  can we can still  use this command-let as the error is saying its  not whitelis

[2019-02-06 18:06] orville94Bailey commented on #8553
I'm attempting to set some environmental variables that need values that are generated during deployment from my template.json.  Is there a way to incorporate this into a template.json file?

[2019-02-06 18:07] wolfma61 commented on #24015
that is correct. this would require custom code

[2019-02-06 18:11] bertrandpons commented on #24379
@Mike-Ubezzi-MSFT Many thanks for your reply.
I created one managed identity for each web app therefore the Principal Id is different for each app but the Tenant Id remains the same as the apps are in the same tenant. So the behavior is like the SQL Server accepts only one “service account”. There may be several options and tests to perform:
 - use a user-assigned identity instead of a system-assi

[2019-02-06 18:11] RyanHill-MSFT commented on #24218
@AskYous after which command did you receive the error message?

[2019-02-06 18:11] YutongTie-MSFT commented on #24384
@jjgriff93 Thank you for your feedback. Good catch! I have assigned to the author for properly update.

@erhopf Hi, could you please help to check? Thank you!

[2019-02-06 18:12] stanley70 opened #24387 "Message from Microsoft Authenticator"
Please i have a problem with Microsoft Authentication. I choose to enter the application by sending a message to my phone but I receive the message after two hours !!!
First i receive a message immediately with "Microsoft" and after 2 or 3 hours i receive the proper message with the entrance code. Please help me.

---
#### Λεπτομέρειες εγγράφου

⚠ *Μην επεξεργαστείτε αυτή την ενότητα. Απαιτείται γ

[2019-02-06 18:14] erhopf commented on #24384
@jjgriff93 - Do you mind providing more details about what you're looking for? Is it how to use the different types of recognition with the SDK: speech, translation, intent? Or are you looking for general information about what recognition means with regards to each?

[2019-02-06 18:15] JulianaCamposP commented on #24015
ok. Thanks for your help!

[2019-02-06 18:16] erhopf commented on #24015
#please-close

[2019-02-06 18:19] YutongTie-MSFT commented on #24385
@jberezanski-mdg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi Hai, could you please check this product issue? I think the workaround is worth to add to the document. Thanks.

[2019-02-06 18:19] #24015 closed

[2019-02-06 18:20] Mike-Ubezzi-MSFT commented on #24379
@bertrandpons Are you using a single database or do you have multiple databases hosted on a single SQL logical server, one for each web application? Do the multiple Managed Identities work with your SQL deployment but you want to narrow this down to a single Managed Identity?  With this information, I can do some research. Thank you.

[2019-02-06 18:22] Grace-MacJones-MSFT commented on #24369
Hi @DavidR91, we are glad you were able resolve your issue!

[2019-02-06 18:26] ggailey777 commented on #14634
Thanks @SunnyDeng!
@options are you able to provide your feedback in the [Korean version of the article](https://github.com/MicrosoftDocs/azure-docs.ko-kr/blob/master/articles/azure-functions/functions-compare-logic-apps-ms-flow-webjobs.md)?

[2019-02-06 18:27] jberezanski-mdg commented on #24339
The [AciWebservice.deploy_configuration method](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aciwebservice?view=azure-ml-py#deploy-configuration-cpu-cores-none--memory-gb-none--tags-none--properties-none--description-none--location-none--auth-enabled-none--ssl-enabled-none--enable-app-insights-none--ssl-cert-pem-file-none--ssl-key-pem-file-none--ssl-cname-none-)

[2019-02-06 18:27] AskYous commented on #24218
![image](https://user-images.githubusercontent.com/791996/52364298-bc0bdb80-29f9-11e9-92d7-2dda7e144290.png)

[2019-02-06 18:27] rccnw commented on #24313
Update: sorry for not including important fact: I was in the context of an ASP.NET Core web app. I see that the article is correct for a Full framework web app.

On Wed, Feb 6, 2019, at 1:14 AM, AjayKumar-MSFT wrote:

[2019-02-06 18:32] jberezanski-mdg opened #24389 "Deployment to ACI does not support GPU yet"
Even though ACI now supports containers with GPU resources, it is not possible yet to enable this support when deploying a service using the ML SDK or CLI, even if the image was created with `enable_gpu=True`. It would be nice if the documentation warned about it.

Related feedback item: https://feedback.azure.com/forums/257792-machine-learning/suggestions/36764839-enable-gpu-support-when-deployin

[2019-02-06 18:34] derek1ee commented on #24360
There's no advanced schedule configuration available for "Minute" frequency. Change it to "Day" or "Week" then you should see it.

[2019-02-06 18:35] fusionet24 commented on #12526
@jarandaf  Yes we can do that. Sorry, I forgot to come back and update. If you set up a Python 3 cluster, it should automatically set those Environmental variables in the Linked Service.

[2019-02-06 18:36] ggailey777 commented on #24236
@sb2059 I agree that up-to-date documentation should be a requirement to declare a product version GA. That is usually the standard for Azure, but we messed this up by not getting the docs updated in time for the SDK 3.x GA. + @eduardolaureano for future reference.

[2019-02-06 18:38] bertrandpons commented on #24379
@Mike-Ubezzi-MSFT I am using one single common database for the 2 web apps. I just want that the managed identity for each web app be approved by the SQL server to allow the web apps to connect to the database in the same time with their own managed identity.
Currently if I link the database server to one web app’s managed identity, the access to the DB from the second web app is dropped

[2019-02-06 18:41] kgremban commented on #23975
@hubez What CI platform are you planning on using? I believe that with Azure DevOps pipelines, this happens automatically. There's a how-to article that walks you through setting up CI and CD pipelines for IoT Edge: https://docs.microsoft.com/azure/iot-edge/how-to-ci-cd. When you configure the deployment task, you can either target a single device by device ID or target multiple devices with tags.

[2019-02-06 18:43] way2arun opened #24392 "Azure Linux Agent installtion information"
it is good to update the document about the Azure Linux Agent installation part, with out the agent the extension will not be able to install and configure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log

[2019-02-06 18:48] eparizzi opened #24394 "Where are .NET Event Source stored?"
This needs more information. I have a Windows VM, I've set up the Azure Diagnostics extension, I'm running a simple console app that writes some events using the EventSource class but those events are nowhere in the selected storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1ee470-5d0c-4281-edac-d3b8828

[2019-02-06 18:50] MicahMcKittrick-MSFT commented on #24099
@imtiaza1977 I would suggest looking into Azure Backup to automate the process and be able to simply restore to a previous state

https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup

Otherwise, the process you are using will work with the exception of swapping the HDD with the SS. At that point you need to run the detach and attach operations.

[2019-02-06 18:50] Jann-Skotdal commented on #23529
@lsmith999999 - Thank you very much for the feedback. We have added a comment to the Response status codes sections of the different methods (e.g. Translate) with a link to the 6 digit error codes list. This list is not exhaustive, but is the more common codes that a user will see. Thanks again! #please-close

[2019-02-06 18:53] RyanHill-MSFT commented on #24218
@AskYous I see the issue. The command you should `az` instead `azure`. Try this instead.

`az webapp deployment user set --user-name <username> --password <password>`

Let me know if this resolves your issue.

[2019-02-06 18:54] YutongTie-MSFT commented on #23529
@lsmith999999 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 18:54] #23529 closed

[2019-02-06 18:54] SaurabhSharma-MSFT commented on #24066
@PingPongSet We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-06 18:54] #24066 closed

[2019-02-06 18:54] MicahMcKittrick-MSFT commented on #24392
@way2arun all extensions in Azure require the Agent to be installed in order to work properly. That being said, the agent is installed by default when deploying VMs.

This prerequisite is covered in the extensions documentation as well

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux

 ![alt text](https://wtv3.blob.core.windows.net/media/2019-02-06 10_54_23-azure

[2019-02-06 18:59] SaurabhSharma-MSFT commented on #24387
@stanley70 Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-06 18:59] SaurabhSharma-MSFT commented on #24380
@KehindeOwens Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-06 19:00] SaurabhSharma-MSFT commented on #24377
@AlekseySokol Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-06 19:01] lsmith999999 commented on #23529
@YutongTie-MSFT Ok, thanks. I took a quick look and it's better now. However, that only addresses the first issue. The second is more important. See my original post (item 2). Thanks.

[2019-02-06 19:01] mike-urnun-msft commented on #24356
Hi @berhauz Could you provide URL of the documentation that your feedback is applicable to? That way, we're able to make sure your feedback is addressed by right team :)

[2019-02-06 19:02] mike-urnun-msft commented on #24312
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create a function on Linux using a custom image (preview)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image)
*

[2019-02-06 19:03] sunilagarwal opened #24398 "Basic Pricing Tier"
Currently we say 'Workloads that require light compute and I/O performance. Examples include servers used for development or testing or small-scale infrequently used applications'

We need to augment it to say that 'Azure Standard Storages that are used in the Basic Tier servers have variable IOPS with no performance guarantees'

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-02-06 19:04] grhuynh commented on #24376
Hello, you can find the list of available reference genomes, searchable and copyable, at the following link, under "What genome references can I use?". In addition, the link also details how you can learn more about all possible commands for the msgen client, under "Where can I find a list of all possible commands and arguments for the msgen client" and "What are the most commonly used commands fo

[2019-02-06 19:04] mike-urnun-msft commented on #24286
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4693440c-6b93-1d37-8baa-e45a0450a0f7
* Version Independent ID: ea20c70a-7714-7271-0002-5ee4a40abaae
* Content: [Validate XML with schemas - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-schemas)
* Content Source: [arti

[2019-02-06 19:04] YutongTie-MSFT commented on #23529
@Jann-Skotdal For awareness. Thanks.

[2019-02-06 19:07] spelluru commented on #23330
Checked with the PM. Service Bus article was already updated.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-outages-disasters

Updated the Event Hubs article with the same note.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr#availability-zones

#please-close

[2019-02-06 19:08] spelluru commented on #22186
#please-close

[2019-02-06 19:10] jan-eng commented on #24398
#please-close

[2019-02-06 19:11] davidmu1 commented on #23643
Changed the step to:

Under the <DefaultUserJourney> node, add the UserJourneyBehaviors node:
XML

<RelyingParty>
  <DefaultUserJourney ReferenceId="SignUpOrSignIn" />
  <UserJourneyBehaviors>
    <ContentDefinitionParameters>
      <Parameter Name="campaignId">{OAUTH-KV:campaignId}</Parameter>
    </ContentDefinitionParameters>
  </UserJourneyBehaviors>
  ...
</RelyingParty>

#please-close

[2019-02-06 19:11] ajlam commented on #24398
Part of internal team discussions.

[2019-02-06 19:12] PSPally opened #24401 "Good info, can we get it in PowerShell?"
This is helpful.  If it listed how to do it in PowerShell it would be even more helpful.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f18aa0d-7c82-b7a7-9b06-40de8fdbdc5c
* Version Independent ID: 7f0e9a57-f75f-cfaf-9ccb-99193bf9bc4a
* Content: [Delegate an Azure DNS subdomain](https://docs.microsoft.com/en-

[2019-02-06 19:12] brandonh-msft opened #24402 "High Throughput mode docs invalid"
The instructions [here](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#run-in-high-throughput-mode) are incorrect. HT mode is now a toggle in the Logic App's Workflow Settings blade; making these changes in the code view of an LA results in errors upon saving.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-06 19:13] davidmu1 commented on #23643
The copy and paste didn't work. But I changed the step to say to add the UserJourneyBehaviors node under the DefaultUserJourney node and changed to example to show it.

#please-close

[2019-02-06 19:15] YutongTie-MSFT commented on #24389
@jberezanski-mdg Thank you for the feedback. I have assigned to the author for proper update.

@aashishb Hi, could you please help to check if we can add above content? Thank you.

[2019-02-06 19:15] CarlRabeler commented on #23231
@VanMSFT Please review with Alice

[2019-02-06 19:16] CarlRabeler commented on #23232
@VanMSFT Please review with Alice

[2019-02-06 19:16] davidmu1 commented on #22809
I believe the article is correct.

#please-close

[2019-02-06 19:16] CarlRabeler commented on #23229
@VanMSFT Please review with Alice

[2019-02-06 19:18] #24398 closed

[2019-02-06 19:18] sunilagarwal commented on #24398
part of internal discussion

[2019-02-06 19:19] CarlRabeler commented on #24138
@VanMSFT Please review with Mirek

[2019-02-06 19:20] CarlRabeler commented on #24173
@VanMSFT please review and update content and/or reply back here with clarification

[2019-02-06 19:20] #10441 closed

[2019-02-06 19:21] #12074 closed

[2019-02-06 19:21] #12857 closed

[2019-02-06 19:21] #13163 closed

[2019-02-06 19:21] #17822 closed

[2019-02-06 19:21] #17910 closed

[2019-02-06 19:22] #18015 closed

[2019-02-06 19:22] #18844 closed

[2019-02-06 19:22] #22919 closed

[2019-02-06 19:22] #23545 closed

[2019-02-06 19:23] #24182 closed

[2019-02-06 19:23] #24274 closed

[2019-02-06 19:23] #24315 closed

[2019-02-06 19:24] CarlRabeler commented on #20734
@Mike-Ubezzi-MSFT please close are resolved per #62447

[2019-02-06 19:24] danmyhre commented on #15870
Yes, this section is good now: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access#determine-the-number-of-workspaces-you-need

[2019-02-06 19:25] CarlRabeler commented on #20756
@MashaMSFT any update on resolving this issue with Sasha?

[2019-02-06 19:26] CarlRabeler commented on #22104
@MashaMSFT please provide an update on progress on this issue

[2019-02-06 19:27] CarlRabeler commented on #20774
PR merged - please close @Mike-Ubezzi-MSFT

[2019-02-06 19:28] WiseMack opened #24403 "Bash and Powershell"
# Azure documentation issue guidance

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server

Please add a note about whether the commands should be executed in bash, the tutorial expects the user to magically know that this should be the case.

In addition including a versi

[2019-02-06 19:29] CarlRabeler commented on #21986
@Mike-Ubezzi-MSFT please assign to me

[2019-02-06 19:29] YutongTie-MSFT commented on #23708
@chris-han Thank you, I agree.

@sanpil Should I leave it open for more steps or I should close it now? Thanks.

[2019-02-06 19:31] CarlRabeler commented on #23665
@MashaMSFT for awareness

[2019-02-06 19:32] Jungers42 opened #24404 "Misplaced NOTE"
There's a great note on this page about "Not all settings are available in the portal. In case a setting listed below is not available via the portal customize it using an Azure Resource Manager template." Firstly, this is very frustrating and totally unclear why there are only a handful of settings available for control through the portal. Secondly, this note is on the wrong page. It seems like i

[2019-02-06 19:32] CarlRabeler commented on #23809
@MashaMSFT for awareness

[2019-02-06 19:32] WiseMack opened #24405 "Powershell and Bash (Not to be confused with #24403)"
# Azure documentation issue guidance

Please add a tutorial (https://docs.microsoft.com/en-us/azure/virtual-machines/) where it explains what bash is, what powershell is and what are some of the common differences in syntax (which would allow the user to figure out whether a given example is either based on the syntax
For example
in Power Shell
$var = "var123"
which if I tried to use in bash would

[2019-02-06 19:33] jithinjosepkl opened #24406 "GPU memory is incorrect for NC series"
It should be:
NC6 = 12GB
NC12 = 24GB
NC24 = 48GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c62f82b22d
* Content: [Azure Windows VM sizes - GPU](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-gpu#nc-serie

[2019-02-06 19:33] YutongTie-MSFT commented on #23912
@diberry Please tell me if you need any help.

[2019-02-06 19:33] CarlRabeler commented on #23965
@VanMSFT for awareness and evaluation re: doc updates

[2019-02-06 19:34] CarlRabeler commented on #23776
Fixed - please close @Mike-Ubezzi-MSFT

[2019-02-06 19:34] CarlRabeler commented on #22508
@srdan-bozovic-msft please let me know if you updated the document yet

[2019-02-06 19:35] mike-urnun-msft commented on #24402
Hi @brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2019-02-06 19:35] SaurabhSharma-MSFT commented on #24368
@amel00 Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-06 19:36] Mike-Ubezzi-MSFT commented on #20734
@langstonj We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 19:36] CarlRabeler commented on #22943
@srinia Please help regarding this issue.

[2019-02-06 19:36] Mike-Ubezzi-MSFT commented on #20774
@msftbrian We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 19:36] #20774 closed

[2019-02-06 19:37] CarlRabeler commented on #18643
@VanMSFT following up

[2019-02-06 19:39] Mike-Ubezzi-MSFT commented on #23776
@BartVanBerkel We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 19:39] #23776 closed

[2019-02-06 19:39] kyleswinney opened #24407 "Broken links to videos on MVA, Microsoft Virtual Academy"
I expect videos throughout these docs are broken.

On this page (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-quick-start) links to Jeffrey Richter's video https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=s39AO76yC_7206218965. Although the link goes to the MVA site, an error is displayed.

[2019-02-06 19:39] YutongTie-MSFT commented on #23524
@sanpil Thank you.

[2019-02-06 19:40] Mike-Ubezzi-MSFT commented on #23965
Customer is currently stuck with this scenario:

Currently if I link the database server to one web app’s managed identity, the access to the DB from the second web app is dropped

[2019-02-06 19:42] reewajc opened #24408 "Issue while loading single image"
"graph." % (repr(name), repr(op_name)))
KeyError: "The name 'loss:0' refers to a Tensor which does not exist. The operation, 'loss', does not exist in the graph."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content:

[2019-02-06 19:43] YutongTie-MSFT commented on #24408
@reewajc Thanks for your feedback. I will investigate this and get back to you soon.

[2019-02-06 19:48] YutongTie-MSFT commented on #24315
@erhopf Thank you!

[2019-02-06 19:49] davidmu1 commented on #22743
Changed the first paragraph in the sentence to:

KMSI is configured using the UserJourneyBehaviors element with SingleSignOn, SessionExpiryType, and SessionExpiryInSeconds as its first child elements.

#please-close

[2019-02-06 19:56] YutongTie-MSFT commented on #14270
@mujeeb91 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 19:56] #14270 closed

[2019-02-06 20:00] kgremban commented on #23265
See https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge#update-the-runtime-containers to understand what the image tags mean. "1.0" is a rolling tag that points to the latest version that was available when you pulled the container image. You can check the container logs to see which version is on your device. Or, you can use a specific tag to point to an image version after 1.0

[2019-02-06 20:00] diberry commented on #23912
@navzam @erikamenezes Please review this [phrase list concept page doc](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-feature). It has been updated based on conversations with the engineering team. As these conversations are ongoing, please let me know what/which sentences or words are still confusing or ambiguous.

[2019-02-06 20:11] MicahMcKittrick-MSFT commented on #24404
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 20:11] MicahMcKittrick-MSFT commented on #24406
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 20:11] MicahMcKittrick-MSFT commented on #24407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 20:15] inesk-vt commented on #24298
I set up my OS a few weeks ago following steps from another Azure IoT tutorial that pointed to : https://www.raspberrypi.org/downloads/raspbian/. Below is the OS version on my system, is it supported for this tutorial?

PRETTY_NAME="Raspbian GNU/Linux 9 (stretch)"
NAME="Raspbian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_U

[2019-02-06 20:22] CarlRabeler commented on #20734
@Mike-Ubezzi-MSFT please re-open

[2019-02-06 20:26] MarileeTurscak-MSFT commented on #24362
Thanks for catching this, @henrikhallebrand . I made a pull request which should go live in 24 hours once all of the checks have passed. https://github.com/MicrosoftDocs/azure-docs-pr/pull/65485

[2019-02-06 20:26] #24362 closed

[2019-02-06 20:26] MicahMcKittrick-MSFT commented on #24404
@Jungers42 for production workloads it is best practice to use ARM templates to manage just about every aspect of your cluster. I can see how it can be annoying when something cannot be managed via the portal.

As per the note, I believe it is in the right place.

@dkkapur @aljo-microsoft could either of you confirm?

[2019-02-06 20:28] MicahMcKittrick-MSFT commented on #24407
@vturecek @aljo-microsoft as mentioned in this issue the video is no longer available. Is there another video you would prefer we link to? Else, I can just remove the video and the link from the doc. Thoughts?

[2019-02-06 20:29] MicahMcKittrick-MSFT commented on #24353
@TylerMSFT @aljo-microsoft is this something you could comment on?

[2019-02-06 20:30] dkkapur commented on #24404
@Jungers42 - the second spot you linked has an Upgrade policy column on each of the settings specifying whether or not they can be tweaked. The expectation should be that they are tweaked via the ARM template rather than through Portal. We should do a better job making that part clearer (@aljo-microsoft or @peterpogorski do you want to add a note stating this on the page itself?), so appreciate th

[2019-02-06 20:33] SaurabhSharma-MSFT commented on #24269
@JulianHayward I am able to reproduce your issue but I believe you can add only one security contact number to Azure Security Center as the Azure portal also allows to add only one contact number however you can add multiple email address through UI.  I am assigning this issue to content author to help you provide details on PowerShell cmdlet as "Phone" field seems a compulsory field for Set-Azure

[2019-02-06 20:34] swt2c opened #24409 "How do you change the logging threshold?"
How do you change the logging threshold for a Python App Function?  I tried placing:
[code]
at the beginning of `main()`.  That seems to work for when I manually trigger my function through the Azure console, but when my function gets triggered by a timer, it still logs items with Info level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-02-06 20:34] aashishb commented on #24389
Ack. I will look into this issue.

[2019-02-06 20:36] spelluru commented on #20183
confirmed with PM. Fixing it in https://github.com/MicrosoftDocs/azure-docs-pr/pull/65491.

[2019-02-06 20:37] spelluru commented on #20183
#in-progress

[2019-02-06 20:37] chetansriv commented on #14644
We have updated the tutorial per new screenshots.
#please-close

[2019-02-06 20:39] aydeisen opened #24410 "Missing steps in uploading the DSC file"
The Publish-AzVMDscConfiguration cmdlet appears to be missing parameters, like -StorageAccount, etc.  Additionally, it's unclear how the example goes from being a PS1 file to being a ZIP file in the extension deployment.  (If it's documented elsewhere, can there at least be a link to that document?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-06 20:40] MashaMSFT commented on #20756
Hi @CarlRabeler , we're still working on this :) Thanks!

[2019-02-06 20:40] MashaMSFT commented on #22104
Hi @CarlRabeler , we're still working on this :) Thanks!

[2019-02-06 20:41] chetansriv commented on #15951
This document is update as requested
#please-close

[2019-02-06 20:43] chetansriv commented on #16867
This document is updated as requested

#please-close

[2019-02-06 20:43] MashaMSFT commented on #23809
Hi @Anmolgan81 , can you please confirm which version of SQL Server you're  using? In another thread, I saw a mention of SQL 2008, and unfortunately that's not supported. Using an older version of SQL can cause connectivity issues. Publishing to objects in Azure (standalone and manged instance) is only supported from these versions of SQL:

- SQL Server 2019 (preview)
- SQL Server 2016 to SQL 2017

[2019-02-06 20:44] chetansriv commented on #17443
This document is updated as requested
#please-close

[2019-02-06 20:46] chetansriv commented on #17934
This document is updated as requested
#please-close

[2019-02-06 20:52] devanshujoshi opened #24411 "Does Network Watcher is enabled by default when we make any VNET deployment within subscription?"
We are working on Hub-Spoke Model and so every subscription is having VNet deployed in it , and as per documentation the Network Watcher will be enabled by default in the Location of Vnet. But we have a lot subscription where network watcher is not enabled by default. Do we need to enable Network watcher on Vnet Location?  or the documentaion is misleading?

---
#### Document details

⚠ *Do not ed

[2019-02-06 20:57] vhorne commented on #19424
#please-close

[2019-02-06 20:57] derekforeman opened #24412 "Bot Framework v4"
Directions need updated to reflect sdk v4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777ff5f8c5c1
* Version Independent ID: e0f90b85-14bb-0925-c50b-b1d31dd9388a
* Content: [QnA bot - Azure Bot Service - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-se

[2019-02-06 20:59] mike-urnun-msft commented on #24356
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-4b49-f9b8-3cee-30d5765c49fa
* Content: [Send events using Java - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send#construct-connection-string)
* Conte

[2019-02-06 21:05] jeevansd commented on #24278
@chetansriv and @v-viinde Please review this.

[2019-02-06 21:06] SaurabhSharma-MSFT commented on #24352
@drsand I believe you are correct. Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-06 21:08] jeevansd commented on #24277
@chetansriv and @v-viinde Please review this

[2019-02-06 21:08] qianw211 commented on #14049
#sign-off

[2019-02-06 21:09] qianw211 commented on #14057
#sign-off

[2019-02-06 21:11] jeevansd commented on #24136
@derekschartung Can you please confirm that you have configured the plugin correctly on the JIRA server? IS this the error you are seeing when you attempt to do SSO? If yes, then can you please double check the Certificate associated with the App is active and it is the same certificate got configured on JIRA server using the metadata URL.

[2019-02-06 21:11] jeevansd commented on #24136
@chetansriv For visibility.

[2019-02-06 21:13] MicahMcKittrick-MSFT commented on #24410
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-06 21:13] Mike-Ubezzi-MSFT commented on #24398
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-06 21:13] jeevansd commented on #23572
@chetansriv and @v-viinde Can you please fix the sign on URL in the tutorial now?

[2019-02-06 21:14] patobtx opened #24413 "Each custom hostname can only be added to one Web App per region"
The documentation could clarify under prerequisites that the custom hostname can only be associated to a single Web App per region. This is relevant for Traffic Manager or load balancing scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-958

[2019-02-06 21:16] jeevansd commented on #23165
@hildebranda Have you tried doing this using Manifest file from App Registration? Please let us know if you can repro this issue from there? Ideally this should not happen.

[2019-02-06 21:16] jeevansd commented on #23165
@chetansriv and @v-viinde For visibility.

[2019-02-06 21:17] jeevansd commented on #23162
@hildebranda Marking this as duplicate.

[2019-02-06 21:17] jeevansd commented on #23162
#please-close This is a duplicate item we already have another item open on this to track.

[2019-02-06 21:22] bbbford commented on #22809
Apologies. I was expecting the instructions to be for the new portal experience, or the apps.dev.microsoft.com process. They looked the same as the instructions for a single tenant app. Closing.

[2019-02-06 21:22] #22809 closed

[2019-02-06 21:22] jeevansd commented on #23111
@chetansriv and @v-viinde Please update the article and I dont think we need step 6 here.

[2019-02-06 21:25] jeevansd commented on #22476
@kanthael Please note that in Azure AD User Provisioning service you can map the unique identifier which will get mapped with the identity in Google. That way we will match the user and will not create a new user in G Suite. In Summary we dont create duplicate identity in Google but we match the identity first based on the identifier what you have configured in the User Provisioning and then we ca

[2019-02-06 21:25] jeevansd commented on #22476
#please-close

[2019-02-06 21:27] jeevansd commented on #22184
@chetansriv and @v-viinde To fix this article.

[2019-02-06 21:28] Anmolgan81 commented on #23809
I am using sql server 2008 to azure sql managed instance migration but I think transactional replication is still not supported in that case, but in this scenario we are talking about azure managed instance to azure sql database migration.

[2019-02-06 21:29] TravisCragg-MSFT commented on #23832
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 21:29] #23832 closed

[2019-02-06 21:30] TravisCragg-MSFT commented on #24018
@vikaskumawat80 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 21:30] #24018 closed

[2019-02-06 21:30] TravisCragg-MSFT commented on #24019
@vikaskumawat80 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 21:30] #24019 closed

[2019-02-06 21:30] jeevansd commented on #21654
@chetansriv and @v-viinde PLease update the article and add this note in the per-requisites.

[2019-02-06 21:31] jeevansd commented on #21049
@nzkid This should work on the Linux machine also but we have not tested all the flavors of Linux and all supported browsers on Linux.

[2019-02-06 21:31] jeevansd commented on #21049
#please-close

[2019-02-06 21:32] Mike-Ubezzi-MSFT commented on #23809
That is correct @Anmolgan81, that is what I was trying to communicate #23779.

[2019-02-06 21:33] jeevansd commented on #20937
@jmfrank63 We have updated the article based on your suggestion. Please review.

[2019-02-06 21:33] jeevansd commented on #20937
#please-close

[2019-02-06 21:37] jeevansd commented on #20653
@chetansriv and @v-viinde Please verify the integration again and then update the article as needed.

[2019-02-06 21:39] davidmu1 commented on #22164
There does seem to be a difference in the way the authorization code and access code are retrieved. My guess is that Postman is forcing the Implicit grant type for some reason when retrieving an access code. I use Postman to do the POST call in the article that this issue is against and the grant type of authorization_code works when including it in the body of the request.

Because it sounds like

[2019-02-06 21:41] davidmu1 commented on #24107
Unfortunately, there is no time frame available for when the JQuery version will be updated.

#please-close

[2019-02-06 21:44] jeevansd commented on #18793
@chetansriv and @v-viinde Please verify that the port number mentioned here is correct or it can be any port.

[2019-02-06 21:47] jeevansd commented on #18274
@chetansriv and @v-viinde Please verify this integration one more time and then update the article as needed.

[2019-02-06 21:47] adewaleo opened #24417 "Is Ubuntu 18.04 Supported?"
If so, it should be added to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2fa1ec-fadc-2d1c-2ab3-8ded33843414
* Content: [FAQ - Azure Disk Encryption for IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-f

[2019-02-06 21:48] Mike-Ubezzi-MSFT commented on #24229
@gbargsley There is no sa account in this instance. Please use the domain account created in previous steps:

The <MachineName>\DomainAdmin account is the same used when creating/configuring the DC: [Configure the domain controller](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq#configure-the-domain-controller)

[2019-02-06 21:48] davidmu1 commented on #22126
I am the author assigned to manage the article, but the engineering team is responsible for the sample. The team is working on updating the samples. Because this quickstart doesn't discuss the endpoints used so there isn't a change to be made, this issue should be closed.

#please-close

[2019-02-06 21:49] davidmu1 commented on #22125
I am the author assigned to manage the article, but the engineering team is responsible for the sample. The team is working on updating the samples. Because this quickstart doesn't discuss the endpoints used so there isn't a change to be made, this issue should be closed.

#please-close

[2019-02-06 21:52] g0pinath opened #24418 "During Outage will these steps work."
Hello - Can you please confirm that in the event of an actual outage, like the one we had in September 2018, this process will work. Was this concept available as of September 2018, and if so, why weren't customers unable to failover their storage?

Thanks
Gopinath T

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44ba1

[2019-02-06 21:53] MicahMcKittrick-MSFT commented on #24403
@WiseMack we state to use Azure CLI. If we suggest you use PowerShell then we say PowerShell.

For example:

![image](https://user-images.githubusercontent.com/32313503/52376200-51b56400-2a16-11e9-8d6f-c4b0ebdb824c.png)

Also we usually have separate tutorials for each:

![image](https://user-images.githubusercontent.com/32313503/52376230-6265da00-2a16-11e9-9091-d93969f9b41b.png)

Bash = CLI

Also

[2019-02-06 21:54] davidmu1 commented on #21632
The LinkedIn article referenced in the issue is correct. The samples are not correct and need to be changed. As the author of the articles, I'm responsible for the content of the article itself, not the sample. The engineering team is working on the samples. Because there is no change required for this article, the issue should be closed.

#please-close

[2019-02-06 21:55] tamram commented on #24418
@g0pinath - The account failover feature was released in public preview yesterday, Feb 5th, 2019. So it was not available last September. Also, please note that during the preview, it is not recommended for production workloads.

@lakasa - FYI

[2019-02-06 21:57] MicahMcKittrick-MSFT commented on #24405
Related to #24403

@WiseMack I appreciate the suggestion on this. That being said, adding a whole doc on what bash is and what powershell is does not make much sense here. There are already plenty of docs and articles out there explaining what each is.

For example, the first things that show up in a search engine are:

https://en.wikipedia.org/wiki/PowerShell
https://en.wikipedia.org/wiki/Bash_%2

[2019-02-06 21:57] v-miclar commented on #16896
Images were added but this issue was not subsequently closed.

[2019-02-06 21:58] v-miclar commented on #16896
#please-close

[2019-02-06 22:03] v-miclar commented on #18844
#please-close
This contest has been added & published to the topic: https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/containers/cpp-skus-tab.

[2019-02-06 22:04] g0pinath commented on #24418
Thanks for the quick reply, that was going to be my next question, any tentative date on this coming to general availability, say Q2 2019?. We are very much interested in using this feature for our next release.

Thanks
Gopinath T

[2019-02-06 22:11] ShubhaVijayasarathy commented on #23330
#please-close

[2019-02-06 22:12] femsulu commented on #24345
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-06 22:12] v-miclar commented on #19868
#please-close
This is an obsolete topic that has been replaced.

[2019-02-06 22:13] femsulu commented on #24350
@NisreenJ Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-06 22:14] femsulu commented on #24354
@VireshMathapati13 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-06 22:16] femsulu commented on #24394
@eparizzi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-06 22:19] TravisCragg-MSFT commented on #24411
@devanshujoshi This was a recent change, and existing VNETS will likely not have network watcher enabled. [You can manually enable Network Watcher in These Regions](https://docs.microsoft.com/en-gb/azure/network-watcher/diagnose-vm-network-routing-problem#enable-network-watcher).

[2019-02-06 22:19] TravisCragg-MSFT commented on #24401
@PSPally Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-06 22:22] Adam-Smith-MSFT commented on #24386
@teedeuk Thank you for the valuable feedback,we are investigating the issue.

[2019-02-06 22:24] Adam-Smith-MSFT commented on #24374
@crowcoder Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-06 22:28] #14644 closed

[2019-02-06 22:28] #15870 closed

[2019-02-06 22:28] #15951 closed

[2019-02-06 22:28] #16768 closed

[2019-02-06 22:29] #16867 closed

[2019-02-06 22:29] #17443 closed

[2019-02-06 22:29] #17934 closed

[2019-02-06 22:29] #22186 closed

[2019-02-06 22:30] #22743 closed

[2019-02-06 22:30] #23162 closed

[2019-02-06 22:30] #23184 closed

[2019-02-06 22:30] #23330 closed

[2019-02-06 22:31] #23643 closed

[2019-02-06 22:31] #23774 closed

[2019-02-06 22:31] #5829 closed

[2019-02-06 22:34] lakasa commented on #24418
Yes, we are looking at Q2 2019 for GA (dependent on preview feedback). Do you want to participate in the preview? Please email xstoredr@microsoft.com or lakasa@microsoft.com for help. Thanks!

[2019-02-06 22:38] gbargsley commented on #24229
I am trying to login to SQL with SSMS to add the CORP/Install login. I have no issue with DC’s.

[2019-02-06 22:39] AggieCMD opened #24419 "Validating Claims - Valid Issuer"
If I set ValidateIssuer = true and then specify bogus issuers for ValidIssuer and ValidIssuers, token validation is still successful. Why is this?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Azure

[2019-02-06 22:41] Josh-Ramirez opened #24420 "Unable to assign Audio Conferencing and E3 to a Group"
We are unable to assign an Audio Conferencing license to a group already assigned E3 license (with all services enabled). We receive an error that Teams needs to be enabled as a prerequisite. Teams and Skype For Business are enabled through the E3 license for the group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb

[2019-02-06 22:45] Mike-Ubezzi-MSFT commented on #24229
@gbargsley Understand that. Being that you are working with domain accounts, there is no SQL Server specific account to use. You will be using the same account you use to access the VMs, that was set-up when configuring the domain controllers...per the instructions.

[2019-02-06 22:46] thx1200 opened #24421 "For detailed analytics, enable the "Session" log"
There is no "session" log for the Authentication agent.  Or the instructions are not complete in order to enable the session log, whatever it is.  I'm using agent version 1.5.1007.0 according to the file properties on the service.  I'm unable to find any way to get detailed logging on the agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-06 22:48] fpoe opened #24422 "Great idea but marketplace images are mega old for RHEL"
This is a great idea, concept, and likely works great in practice HOWEVER, if you use RHEL it's totally useless. The images are mostly 8 months old and that is if your lucky. The RHEL 7.2 images (latest) are from mid 2017. So what are you supposed to do in this situation? 7.6 images are from August 2018.

How do you rely on something like this when you have no control over image publish dates?

--

[2019-02-06 22:54] Cephei commented on #24332
Strangely, this seems to be working for me after restarting the emulator. I'll do some additional testing before closing. I was definitely unable to see the "created" tables in `cqlsh`, however, I didn't receive any error response upon INSERT from Cosmos. Only prefixing made them visible, but now it's working without the prefix.

[2019-02-06 22:57] davidmu1 commented on #21321
As the author of the article I'm responsible for the content of the article itself. The engineering team is responsible for the sample that it points to. The team knows of the problem and is updating the samples. Because there isn't anything to change in the article, the issue should be closed.

#please-close

[2019-02-06 22:59] Alberto-Vega-MSFT commented on #24002
@Eichi87  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-06 23:01] VanMSFT commented on #24173
Hi @kazshi, you cannot add users to the db_securityadmin role, as that is a restricted role, and not available to the virtual master database. Is there a specific purpose for providing that role to users in the master database? You cannot alter roles in the master database besides loginmanager and dbmanager. Instead, manage your desired roles in the contained database itself. I hope that helps!

[2019-02-06 23:03] MarileeTurscak-MSFT commented on #23646
Hi @StickNitro ,

As Parakh said, please try using B2Clogin and see if it resolves the issue. If you have further questions feel free to open a thread on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD)and we can diagnose, or email your subscription ID to AzCommunity@microsoft.com and I will help you open a free support case.

[2019-02-06 23:03] #23646 closed

[2019-02-06 23:03] Cephei commented on #24332
I've found that I must reconnect via cqlsh to the emulator to get the newly created keyspace/tables. It's like as if the stale data was cached. I'm quite new to Cassandra; perhaps I'm not aware of this intended behavior?

I can confirm that `USE <keyspace>` is actually working. The newly created keyspace can be found in the `system_schema.keyspaces`, however, issuing a `desc keyspaces;` command do

[2019-02-06 23:04] v-miclar commented on #20897
#please-close
Sample was integrated into the topic: https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/cloud-partner-portal-lead-management-instructions-https

[2019-02-06 23:05] nzkid commented on #21049
@jeevansd with respect, I don't think you should close this ticket. The support offered on Linux must be clear. In particular, I am not interested in whether the browser on linux will work, but if the Jira Plugin will work and is supported on a Jira installation on a CentOs 7.x installation, and if it is the documentation should reflect that.

[2019-02-06 23:06] ghoelzer-rht commented on #23239
Hi Matt –

I’m a Microsoft Employee, so I’m using my Employee Subscription, and that SKU comes back as invalid when I try to create a log analytics workspace via the Azure CLI/Cloud Shell.

Best Regards,

Greg Hoelzer
App Dev Tech Specialist |Microsoft|Azure
mobile: 612-325-8200<tel:612-325-8200>

   email: Greg.Hoelzer@microsoft.com<mailto:Greg.Hoelzer@microsoft.com>

  Our Mission
  Empower ever

[2019-02-06 23:06] v-miclar commented on #21116
#please-close
The Saas App Offer section is scheduled to be updated, but I don't know whether an example is in the works.

[2019-02-06 23:07] TravisCragg-MSFT commented on #20874
@not-an-IT-pro You should not be getting a .0 address, and I am interested to learn how you are getting it. If this is still an issue for you, could you please reach out to me at AzCommunity@microsoft.com with your subscription ID and a link to this post? I would love to look into this further.

[2019-02-06 23:08] MicahMcKittrick-MSFT commented on #24422
@fpoe unfortunately as these are 3rd party images the 3rd parties themselves are actually in control over what they publish to the marketplace. We as Microsoft have no control over that. So ultimately, nothing we can really do unless the 3rd parties decide to keep up with the latest images in the marketplace.

Personally, I have seen more use out of this feature when it comes to keeping your Windo

[2019-02-06 23:09] v-miclar commented on #21117
#please-close
The associated APIs are documented in the topic: SaaS Sell through Azure - APIs.

[2019-02-06 23:14] alvipeo opened #24423 "New-AzureRMRoleAssignment : The role assignment already exists"
I run the script recently and I keep getting this error:

New-AzureRMRoleAssignment : The role assignment already exists

and the rest of it doesn't work obviously. How can we fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e2500f-e1f5-bc87-6e5c-f41b59265049
* Version Independent ID: d212be48-7d05-847d-3045-ce

[2019-02-06 23:26] alvipeo opened #24424 "Please migrate the script to Az Module"
UP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e2500f-e1f5-bc87-6e5c-f41b59265049
* Version Independent ID: d212be48-7d05-847d-3045-cea82e6ba603
* Content: [Manage Azure Automation Run As accounts](https://docs.microsoft.com/en-us/azure/automation/manage-runas-account)
* Content Source: [articles/automation/manage

[2019-02-06 23:27] georgewallace commented on #24424
@alvipeo Thank you for the feedback, at this point we do not plan to update these scripts as Az modules are not supported in Azure Automation at this time.

[2019-02-06 23:28] Karishma-Tiwari-MSFT commented on #24191
@richyla Have you created cluster role binding?
If your AKS cluster uses RBAC, a ClusterRoleBinding must be created before you can correctly access the dashboard. To create a binding, use the kubectl create clusterrolebinding command as shown in the following example:
`kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboa

[2019-02-06 23:32] g0pinath commented on #24418
Will do. I am assuming that the failover has no dependence on MS or what so ever right?. Even in the event of the region being down, the customer will be able to use the methods above to failover the storage account.

[2019-02-06 23:50] georgewallace commented on #24345
@imeya You can do something similar to the following:

[code]

You can view this doc to learn more..

[2019-02-06 23:50] Infinitism opened #24426 "No External URL"
What if we only want to onboard an onprem app onto AAD so we could manage permissions but don't want to publish an external url like in this document. Like we only want access from people within the network. Essentially using AAD to manage access to internal apps without exposing it to people outside the network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-02-06 23:58] KeiroKamioka0000 commented on #24131
Thanks! IT really helped me!
if I have another question, I'll post again.

Thanks!!

[2019-02-07 00:03] alkohli commented on #23262
@akumria This change was merged via this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/65519. The change should go live sometime tomorrow. #please-close

[2019-02-07 00:08] KeiroKamioka0000 commented on #24131
If I asking to wrong places, please tell me.

If the Job with Office 365 connections and Job with Exchange Connections run in same sandbox.
Does these jobs will share the connection between each other?

[2019-02-07 00:10] davidmu1 commented on #19148
Added the information to add the ClaimType element.

#please-close

[2019-02-07 00:11] georgewallace commented on #24131
@KeiroKamioka0000 They can, but may not.  Just like the `Connect-AzureRmAccount` cmdlet, if they are using the same sandbox you would already be authenticated with Azure. You will never know and this is never guaranteed. It is important to author your runbooks to validate connectivity to resources whether Office 365, Azure, etc prior to any other logic that would work with those resources.

[2019-02-07 00:19] KingdomOfEnds opened #24430 "Console Messages"
Hi! Great docs! Had a quick question about the displayed message near the end. I'm afraid I'm not getting the full message read-out after following the steps exactly as they are described above. Am I missing something? Thanks!

![configure your devices from a back-end service - node](https://user-images.githubusercontent.com/43044425/52382667-09547100-2a2b-11e9-9e87-2b7cad1cf017.png)

---
#### Doc

[2019-02-07 00:20] KeiroKamioka0000 commented on #24131
@georgewallace
Thanks for answer.

[2019-02-07 00:20] #24131 closed

[2019-02-07 00:21] inesk-vt opened #24431 "Update tutorial with information on how to view the device telemetry data in IoT hub itself"
Great to see a simulation tool that's easy to use to learn how to send telemetry to IoT Hub. Would be great to update the tutorial with steps on how to go validate, in IoT hub itself, that the telemetry data was indeed sent properly. I am assuming there is a quick viewer/UX in IoT hub to see the telemetry data flow, should point to that as a good conclusion for these various tutorials that teach h

[2019-02-07 00:23] WiseMack commented on #24403
From the point of view of a beginner (Which I call myself because I didn't know that)
Bash = CLI IS NOT Obvious
Is it too much to ask to make a note that

![image](https://user-images.githubusercontent.com/32313503/52376200-51b56400-2a16-11e9-8d6f-c4b0ebdb824c.png)

should be done in bash?

[2019-02-07 00:29] Adam-Smith-MSFT commented on #24364
@mrtaunus Thank you for the valuable feedback,we are investigating the issue.

[2019-02-07 00:30] kazshi commented on #24173
@VanMSFT Thank you for the clarification. Actually I got the question from my customer so I'm not sure abut their exact scenario. I'll provide the info to my customer. Thanks again!

[2019-02-07 00:30] #24173 closed

[2019-02-07 00:31] georgewallace commented on #24424
@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-experience', and #please-close

[2019-02-07 00:33] WiseMack commented on #24405
As a note:
I know that good research skills are important when programming after all technology is always moving forward.

But is it too much to ask that IF I am learning to program by following the tutorial, it means that I don't know what I'm doing, and that I shouldn't have to look up basic terms in wikipedia instead of the official Microsoft website of the application I am using?

I am using t

[2019-02-07 00:35] Karishma-Tiwari-MSFT commented on #24199
@DCtheGeek Can you please take a look and share your insights on this. Thanks.
@rv93 Please check if these resources help:
https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/explore-resources
https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced

[2019-02-07 00:36] Grace-MacJones-MSFT commented on #24424
We will now proceed to close this thread.

[2019-02-07 00:36] #24424 closed

[2019-02-07 00:39] Grace-MacJones-MSFT commented on #23897
We will now proceed to close this thread.

[2019-02-07 00:39] #23897 closed

[2019-02-07 00:39] hildebranda commented on #23165
This ended up being an issue with Provisioning being enabled, once I set it to automatic everything worked.
Thank you for the follow-up.

[2019-02-07 00:39] #23165 closed

[2019-02-07 00:47] DCtheGeek commented on #24199
@rv93 This isn't currently available in Resource Graph.  However, there is a [UserVoice request ](https://feedback.azure.com/forums/915958-azure-governance/suggestions/35638867-support-query-virtual-machines-by-state) for this already. The best I can do is suggest that you vote for it there to let the team know it's important to more users.

@MicrosoftDocs/azure-cxp-triage Please assign to me, rem

[2019-02-07 00:54] v-miclar commented on #21122
#please-close
Resolving with PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/65526.

[2019-02-07 01:09] Anand-Moghe opened #24433 "Do we have to open all service endpoints for data gateway behind firewall or just the Service Bus endpoint?"
I suspect that many customers for on-premise data gateway will be coming from State and Local Government (SLG)  domain. That means they will be running on MAG.

And at the moment, it is not very straight forward how do we go about connecting to on-premise DB using on-premise data gateway behind firewall for MAG.

First of all there is little to none guidance available for MAG. Because one has to t

[2019-02-07 01:16] itguysocal opened #24434 "530032"
Can you add 530032 to the table above?
We had a user receive a ‘block screen’ and we think this is related to this error. They were unable to sign in and we couldn’t identify the reason why… they were not listed as a ‘user flagged for risk’ and they were not listed as a ‘risky sign in.’  The other question is, can you provide a hyperlink to documentation that shows what an IT department should do

[2019-02-07 01:20] rahulchoudhary242 commented on #14041
-datafileDestination is missing in createdatabase command. create a directory (say /u01/data) or use any existing directory.

see the working command below (look at the bottom for change.)

dbca -silent \
        -createDatabase \
        -templateName General_Purpose.dbc \
        -gdbname cdb1 \
        -sid cdb1 \
        -responseFile NO_VALUE \
        -characterSet AL32UTF8 \
        -sysPas

[2019-02-07 01:21] Alberto-Vega-MSFT commented on #24298
@inesk-vt I experienced the same issue this resolved it for me
 `rm -rf node_modules`
`npm install`

[2019-02-07 01:45] SnehaAgrawal-MSFT commented on #24413
@patobtx Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 01:52] Karishma-Tiwari-MSFT commented on #24199
@rv93  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-07 01:52] #24199 closed

[2019-02-07 01:55] zchia commented on #18417
@falccc : Thank you for your feedback! This has been resolved as of December 2018.

[2019-02-07 01:55] cynthn commented on #24403
@WiseMack Thanks for the feedback! I actually had another user make a similar comment a couple days ago. I'm working on adding a statement at the beginning of each article that basically says "This article was last tested with Azure CLI version X.X using https://shell.azure.com/bash with the Ubuntu 00.00 marketplace image...." or whatever the real details are for that article. Would that be helpfu

[2019-02-07 02:02] SogoGolf opened #24436 "please add details on how to use TTL via the NodeJS SDK"
please add details on how to use TTL via the NodeJS SDK, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-39ea-167a-ebdc1864f66b
* Content: [Learn how to configure and manage Time to Live in Azure Cosmos DB](https://docs.microsoft.com/en

[2019-02-07 02:05] kyleswinney commented on #24407
The video is available, just not no MVA. They took it down. The Service Fabric teams internal onboarding docs link directly to that video. And, the online docs are built off it. That video is the gold standard for all Service Fabric training.

If must be found. Please escalate this immediately.

Kyle Swinney
kswinney@microsoft.com<mailto:kswinney@microsoft.com>

________________________________
Fr

[2019-02-07 02:05] tamram commented on #24418
@g0pinath - The feature is designed for the case where the primary region becomes unavailable. In that case, you can initiate the failover and have your applications back up and running once it is complete (typically about an hour).

However, please also read [this section](https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance#microsoft-managed-failover) of the documen

[2019-02-07 02:16] codescream commented on #24116
Hi, any feedback please?

[2019-02-07 02:17] Eikistein opened #24437 "I suggest to rephrase this"
I strong believe the phrase below should be rewritten. I had to re-read it 3 or 4 times. It sounds the conversion is done automatically or it is saying you may convert but you better continue to use in the same time. It is confusing. At the end, (I think) I got it what it meant.
"if your database or elastic pool consumes more than 300 DTU conversion to vCore may reduce your cost. You can convert u

[2019-02-07 02:27] WiseMack commented on #24403
I like this *insert thumbs up*

Second part

You lost me, as far as I understand
CloudShell is the TOOL
Bash is language # 1 (or is it emulator?)
PowerShell is language # 2

Do you mean that "\" works in Bash Only or in PowerShell AND Bash?

Do you mean
Same goes the other way for **Bash** - you can't use ` as a continuation character in a Bash prompt on Linux.

This is a lie, the main stumbling b

[2019-02-07 02:32] g0pinath commented on #24418
Hi Tamra

We have a practice of testing our DR plan itself to be sure that we can
successfully recover the applications in the event of a disaster.

From your email I am reading that we wont be able to test/simulate a DR
recovery, until a disaster strikes. Also, you are implying that we might
very well end up in a situation where MS decides not to failover like MS
decided not failover to protect d

[2019-02-07 02:53] BryanTrach-MSFT commented on #23978
@richardlaihol We would like to work closer with you on this matter as we were able to reproduce the issue. Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this post?

[2019-02-07 02:53] #23978 closed

[2019-02-07 02:55] lukeb1961 opened #24438 "Direct connectivity ports"
I found the above Networking section very confusing. Could someone clarify/correct the information?
Is it true that only gateway connectivity mode goes all over 443.
Is it true that Direct connectivity mode uses non 443 ports.
Is it true that ALL Direct connectivity protocols (TCP/Https) use the dynamic port ranges between 10000 and 20000.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-02-07 02:55] bubbletroubles opened #24439 "TCP or UDP for IP Address Dependencies"
The section "IP Address Dependencies"
https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration#ip-address-dependencies

It doesn't say if the ports *:123 and *:12000 are required. It doesn't say if this is TCP or UDP traffic. Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2924

[2019-02-07 02:55] cynthn commented on #24403
@WiseMack Yeah, I oversimplified the issue. The documentation used to be a mish-mash of Linux\Windows\CLI\PowerShell etc. A couple years ago we split the content roughly by VM OS and made some assumptions along the way. We decided to target the docs for Linux VMs at folks who were most likely working from a Mac or Linux machine using CLI in a Bash prompt (or using the Windows subsystem for Linux w

[2019-02-07 03:00] yamatoya opened #24440 "Dead link"
&gt; - Use the [Extended Events Reader](https://blogs.msdn.microsoft.com/extended_events/2011/07/20/introducing-the-extended-events-reader/) C# library.

This blog url deaded and the article maybe be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 5

[2019-02-07 03:00] Norrch2 commented on #24107
Thank you for the response @davidmu1

[2019-02-07 03:00] #24107 closed

[2019-02-07 03:13] mike-urnun-msft commented on #24433
Hi @Anand-Moghe Thank you for your feedback! We will review and update as appropriate.

[2019-02-07 03:21] Karishma-Tiwari-MSFT commented on #24193
@zr-msft Can you please share if this document is updated. It looks like we have been seeing new issues on this doc lately. Thanks :)

[2019-02-07 03:22] Karishma-Tiwari-MSFT commented on #24288
@zr-msft Can you please share your insights on this one. Thanks.

[2019-02-07 03:27] WiseMack commented on #24403
Is this a good idea?
Instead of dividing by the operating system of the user, wouldn't it be better to work based on the tool?

I'm probably making a mistake here but, what is more important in a **Microsoft Excel** Tutorial
The version of **Windows OS**?
Or the version of **Excel**?

For me The documentation's use is in the Azure Cloud Shell so the tutorials should be written with Cloud Shell in

[2019-02-07 03:47] BryanTrach-MSFT commented on #23919
@mariotzki Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-07 03:47] #23919 closed

[2019-02-07 03:54] BryanTrach-MSFT commented on #23909
@up2pixy Thank you for the feedback. We agree that more detail was needed. We have merged the update and it should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 03:54] #23909 closed

[2019-02-07 03:58] neeleshray commented on #24419
@AggieCMD  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-07 03:59] neeleshray commented on #24434
@itguysocal  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-07 04:00] neeleshray commented on #24426
@Infinitism  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-07 04:03] neeleshray commented on #24420
@Josh-Ramirez  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-07 04:04] SadiqhAhmed-MSFT commented on #21122
@SidShetye closing this for now. Feel free to reach out to us if need further assistance.

[2019-02-07 04:04] #21122 closed

[2019-02-07 04:04] shashishailaj commented on #24421
@thx1200 Thank you for your query. We will investigate and update this thread.

[2019-02-07 04:05] blitzprecision commented on #24319
Dear Rohit,

Many thanks for your time.
Here are my score.py and myenv.yml. I should have probably attached them earlier.
[files.zip](https://github.com/MicrosoftDocs/azure-docs/files/2839248/files.zip)
1. In my request, I pass the following:
test_samples = json.dumps({"storageAccountName": "<accName>",
"key":"<key>",
                           "fileShareName":"<fileShareName>",

[2019-02-07 04:05] neeleshray commented on #24235
@xcactusx  We would be closing this thread now. If you need further assistance, you can re-open the thread.

[2019-02-07 04:05] #24235 closed

[2019-02-07 04:09] SumanthMarigowda-MSFT commented on #24417
@adewaleo Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-07 04:20] BryanTrach-MSFT commented on #24016
Please find the answers below. Keep in mind that you said you moved critical work loads onto this feature. The new VNET integration feature is considered to be in Preview state and we do not support production workloads on the service at this time. Once the feature comes out of preview, we will support production workloads on the service.

1. Are there Limitation for the “Subnet Name”?
2. Can we i

[2019-02-07 04:20] #24016 closed

[2019-02-07 04:22] YutongTie-MSFT commented on #24412
@derekforeman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tulasim88 Hi, could you please check this feedback and update the document as necessary? Thank you.

[2019-02-07 04:26] KetanChawda-MSFT commented on #24409
@swt2c Thank you posting your question. We will review this and provide an update as appropriate.

[2019-02-07 04:27] CHEEKATLAPRADEEP-MSFT commented on #24373
@nageshsubramanian You may refer [MSDN](https://social.msdn.microsoft.com/Forums/en-US/0a191641-1e77-4eae-b33d-9a0a331628b5/advv2-custom-activity-with-many-dependencies-quottotal-size-of-resourcefiles-cannot-be-more-than?forum=AzureDataFactory) thread which addressin similar issue.
Hope this helps.