[2018-03-05 19:03] amanarneja commented on #5279
@djpirra  - Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-05 19:08] neilpeterson commented on #5268
Doc updates have been published.

https://docs.microsoft.com/en-us/azure/aks/ingress

I am closing this issue, feel free to open back up / ping me for further input.

#please-close

[2018-03-05 19:10] singhkays commented on #5295
@iainfoulds @cynthn Could you guys look into the improvements to the doc to make it a little more clearer that the process is irreversible and the VM is not usable after running sysprep?

[2018-03-05 19:20] RolandLeFranc opened #5303 "Can't upload policy"
At step 7, I get this error in the Azure portal.

Unable to upload policy. Reason : Validation failed: 1 validation error(s) found in policy "B2C_1A_B2C_1_POLICY-SIGN2" of tenant "playreadyusers2.onmicrosoft.com".Policy 'B2C_1A_B2C_1_policy-sign2' of tenant 'playreadyusers2.onmicrosoft.com' is not allowed to inherit from the specified base policy. Inheritance chain: { "TenantId": "playreadyusers2.

[2018-03-05 19:31] akramwaseem opened #5304 "Are we still using the Docker Extension ? I though microsoft stopped using it ?"
Not sure whether we are using the docker extension and why that is still mentioned in the document .
Might need better documentation for understanding the extensions using templates.
I followed the documentation and cannot install a OMS linux extension on VMSS and VM .
Can we use the above the scenario for VMSS too ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-03-05 19:31] RicksterCDN commented on #5215
#please-close merged

[2018-03-05 19:33] mrbullwinkle commented on #5142
#in-process

[2018-03-05 19:34] cynthn commented on #5295
@singhkays yep, I already have a work item to clarify what happens with the source VM when it is generalized.

[2018-03-05 19:40] micahmckittrick commented on #5283
Duplicate of https://github.com/Azure/azure-docs-cli-python/issues/607

Please follow the above issue for updates.

[2018-03-05 19:40] #5283 closed

[2018-03-05 19:46] micahmckittrick commented on #5288
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@RicksterCDN I have assigned this to you as it appears the Author of this doc is not located on GitHub. Can you look into this and confirm if this is an error in the documentation?

[2018-03-05 19:49] MohitGargMSFT commented on #5296
Thanks for pointing out. I will work on it and update the content.

[2018-03-05 19:52] SnehaGunda commented on #5190
@blair0011 hope the link above helps, I will be addressing the multiple topics issue soon. We will close this issue for now. In case you have further questions feel free to reopen the issue or create a new one.

[2018-03-05 19:54] MohitGargMSFT commented on #5297
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 19:54] SnehaGunda commented on #5190
#please-close

[2018-03-05 19:55] SnehaGunda commented on #5166
@michaeldunnOMM we will close this issue for now. In case you have further questions feel free to reopen the issue or create a new one.

[2018-03-05 19:55] SnehaGunda commented on #5166
#please-close

[2018-03-05 20:00] SnehaGunda commented on #5232
@joseph4tw sorry for the delay, please go ahead with submitting the PR and tag @mimig1 or me we will review it.

[2018-03-05 20:12] rwike77 commented on #5255
#in-process

[2018-03-05 20:16] MohitGargMSFT commented on #5299
Thanks for pointing out. I will work to fix the command in the document.

[2018-03-05 20:20] MohitGargMSFT commented on #5302
Thanks for your comment. We will investigate and update on it soon.

[2018-03-05 20:22] MohitGargMSFT commented on #5303
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:24] MohitGargMSFT commented on #5304
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:26] #5274 closed

[2018-03-05 20:27] MohitGargMSFT commented on #5275
Thanks for your feedback. This issue has been assigned to document author and will be updated soon.

[2018-03-05 20:29] MohitGargMSFT commented on #5276
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:31] MohitGargMSFT commented on #5277
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:32] MohitGargMSFT commented on #5278
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:33] micahmckittrick commented on #5304
@akramwaseem can you share some more information regarding the docker extension not being supported? I am not finding any information about it that would lead me to believe it has been deprecated.

As per installing extensions on VMSS the process is similar but some commands are different. Suggest you review this doc about VMSS Extensions: https://docs.microsoft.com/en-us/cli/azure/vmss/extension?

[2018-03-05 20:34] MohitGargMSFT commented on #5282
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:34] MohitGargMSFT commented on #5284
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:35] MohitGargMSFT commented on #5286
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-05 20:36] MohitGargMSFT commented on #5290
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:36] joseph4tw commented on #5232
@SnehaGunda / @mimig1 sounds good. I'll have an update soon.

Just as an FYI, if I update the code as I mentioned earlier, then the doc has to be updated slightly as well (there is a code snippet that is in the docs that needs to be updated, too). I'll make an update to both parts and try to link them properly since the docs and the sample are in different repos.

[2018-03-05 20:36] MohitGargMSFT commented on #5291
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-05 20:37] MohitGargMSFT commented on #5294
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-05 20:40] MohitGargMSFT commented on #5298
Thanks for the feedback. I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-05 20:42] barbkess commented on #5279
#in-process

[2018-03-05 20:43] rwike77 commented on #5255
@wminos Hi, good questions.  Right now you need to enable reverse proxy in the template.  No, reverse proxy is not enabled by default but our sample templates do have reverse proxy enabled.  It is recommended for services within the cluster to communicate with each other using reverse proxy.  It is not recommended for a client outside the cluster to use reverse proxy to communicate with services i

[2018-03-05 20:47] barbkess commented on #5279
@djpirra Thanks for reporting the issue.  I'm setting the default for @create-type inside the procedure so that you don't have to enter parameters.

[2018-03-05 20:53] MohitGargMSFT commented on #5045
@martijnkrijger-p Please open a new AAD MSDN forum post to discuss further on the issue. I am able to download AzureAD Module, connect to AzureAD and use the command as expected. Let discuss in MSDN forum post to further understand your scenario. Below URL will take you to MSDN Forum to open new post -

[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&p

[2018-03-05 20:53] #5045 closed

[2018-03-05 21:25] PatAltimore commented on #5179
@leftler Registration should work the same way for apps in an AD tenant.  I haven't tried it myself. I think it would work.

[2018-03-05 21:25] georgewallace commented on #5140
@whytoe Thank you for providing this.  I am following up to see why these warnings are showing.

[2018-03-05 21:25] SyntaxC4 commented on #5260
@WootJay Great Feedback! We can definitely make sure that we outline the SKUs which support SSL, this is actually something that is outlined on the [pricing details page](https://azure.microsoft.com/en-us/pricing/details/app-service/plans/) but I understand that's very far removed from the docs.

In your feedback, however, I am missing the connect to where you found the heading Create an App Servi

[2018-03-05 21:30] curtand commented on #5147
#in-process Looking this over. The author is now Markus Vilcinskas. I'll bring it to his attention also.

[2018-03-05 21:36] bearrito opened #5309 "Indicate thread safety of the ServiceBusContract"
This document nor the Javadocs indicate the ThreadSafety of the ServiceBusContract

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e
* [Content](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-

[2018-03-05 21:38] cjgronlund commented on #5247
#in-process

[2018-03-05 21:43] whytoe commented on #5140
**Errors**
1. At the top of the script before the:

**`$Cred = Get-AutomationPSCredential myCredential`** line

This should be inserted into the example:

**`Import-DscResource –ModuleName PSDesiredStateConfiguration`**

2. This looks like a  basic Powershell assembly, dont know why its trying to load it twice?

[2018-03-05 21:48] neilpeterson commented on #5281
@tsplab - I am going to go ahead and close this issue. If you need further assistance, please ping me and re-open this issue, or create a new one.

#please-close

[2018-03-05 21:49] neilpeterson commented on #5285
@LanderVe changes have been merged in and will publish today.

#please-close

[2018-03-05 21:50] georgewallace commented on #5140
@whytoe 1. You are correct, with a standard local configuration that is correct, but with the DSC resource in Azure Automation importing the associated module in the configuration throws an error when compiling.  2. Agreed, looking into why this warning is thrown.  I am following up on this and will let you know.

[2018-03-05 21:53] femsulu commented on #5249
@WootJay, Thanks for clarifying.  Now that I better understand your comment, I have forwarded your suggestion to the content owner for further review.

[2018-03-05 21:53] curtand commented on #5147
Hi @Rachitgupta1994 ,
It looks like you might find what you need if you start at https://docs.microsoft.com/azure/active-directory/, then in the navigation select Manage apps > Manage enterprise apps > Manage single sign-on for enterprise apps. Let me know if this has what you need.

[2018-03-05 21:59] mimig1 commented on #5251
It turns out that the Python SDK does not support change feed at this time.

[2018-03-05 22:01] curtand commented on #5147
@MarkusVi @Rachitgupta1994
Rachit, the URL is https://docs.microsoft.com/en-us/azure/active-directory/active-directory-enterprise-apps-manage-sso. the SSO menu item appears only at the individual app level now, so either creating one or modifying one.
Markus, can you add yourself as author to this article?

[2018-03-05 22:03] ggailey777 commented on #5208
@bastyuchenko
The blob trigger polls the container for changes, which means you can wait up to 10 minutes for the trigger to run. The EventGrid trigger is instantaneous, so it depends on your needs. Another option for scenarios where you are adding blobs to the container yourself is to also write a message to an Azure Storage queue with the blob URL. The queue trigger will also pick up the change

[2018-03-05 22:10] cephalin commented on #5204
@Adam-Smith-MSFT @univhack I made the repo public already. Please close.

[2018-03-05 22:13] MohitGargMSFT commented on #5282
Thanks for your comment. If you  have a setup on AD Connect and agent installed for Pass Through Authentication, when you access application request will go to AAD and password will get validated from on-premise AD. If the machine is connect to network which can reach AAD, the authentication must work as expected.

[2018-03-05 22:14] univhack commented on #5204
Thanks!

[2018-03-05 22:14] #5204 closed

[2018-03-05 22:15] #5282 closed

[2018-03-05 23:02] jithinjosepkl opened #5311 "Missing info - RDMA capable regions"
"Use the Azure portal to create a cloud service and a storage account for the deployment in a region where the RDMA-capable instances are available."
- Is there a page that shows which regions support RDMA capable instances? Please provide more details about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c555dbd

[2018-03-05 23:31] cherylmc commented on #5124
I've updated the article to provide links to the ExpressRoute version in case someone lands here in error. #please-close

[2018-03-05 23:32] SyntaxC4 commented on #5299
Tagging @ahmedelnably from the PM team

[2018-03-05 23:39] Nhoya opened #5312 "Adding websearch API quickstart for golang"
Hi,
Since i wrote a [library](https://github.com/Nhoya/go-bing) for [Bing Websearch](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/) in golang i was wondering if I can contribute adding a quickstart example on the doc (since it's missing for golang).

If for you is ok please let me know if you prefer a pure go version, the library implementation or both

[2018-03-05 23:56] sajayantony commented on #5231
The docker images and layers can only be accessed though the registry.

Regarding the question

There is no concept of managed `storage`. Customers don't have access to the underlying layer implementations. They did with the classic model, but not with a managed ***registry***

/cc @mmacy

[2018-03-06 00:02] yushwang commented on #5236
Folks,

The specific doc described how to use the custom IPsec/IKE policy on an Azure route-based VPN gateway to connect to Cisco ASA with access-list-based Traffic Selectors. It was called out in the beginning of the doc and also in the "Notes" section. Please let us know if there are specific issues regarding the descriptions or specifications. IKEv2 was called out in the beginning of the page.

[2018-03-06 00:10] MohitGargMSFT commented on #5311
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 00:10] Jeremywhiteley opened #5314 "Authentication"
Why no documentation on authentication.   In all those scenerios you would want to authenticate first with Azure functions  before crud operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da525782-702a-0c0b-0ced-32b124c527a3
* Version Independent ID: 97757a1f-9919-d6c8-868e-776018bb8f9a
* [Content](https://docs.

[2018-03-06 00:15] MohitGargMSFT commented on #5312
Thanks for your offer to collaborate! I have assigned it to the document author team representative to help with an update.

[2018-03-06 00:18] MohitGargMSFT commented on #5309
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 00:20] #5285 closed

[2018-03-06 00:23] #5281 closed

[2018-03-06 00:24] #5268 closed

[2018-03-06 00:25] #5258 closed

[2018-03-06 00:27] #5215 closed

[2018-03-06 00:29] #5190 closed

[2018-03-06 00:30] #5166 closed

[2018-03-06 00:30] #5124 closed

[2018-03-06 00:31] #5097 closed

[2018-03-06 00:31] #5096 closed

[2018-03-06 01:19] MohitGargMSFT commented on #5290
I have made necessary edit in the document. The changes are going through validation process and will be published soon.

[2018-03-06 01:53] BryanTrach-MSFT commented on #5276
@JozoSlejko Thank you for the input. The external certificate must be unbound and then deleted from the web app in order for the move to complete successfully. Once the move completes, you can upload the certificate and add the binding back. Please ensure that you have a copy of the certificate handy before you start to ensure a quick process.

We will go ahead and close this comment for now. If y

[2018-03-06 01:53] micahmckittrick commented on #5311
@jithinjosepkl here is some information about the RDMA enabled instances:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-hpc#rdma-capable-instances

That being said, it does not show specifically which regions. Rather you would have to go the regions/services link and lookup the series VM you are interested in using RDMA for and from there determine its region: https://azur

[2018-03-06 01:54] #5276 closed

[2018-03-06 02:10] amanarneja commented on #5314
@Jeremywhiteley Thanks for the feedback! I have assigned this issue to the content author to evaluate and update the documentation as appropriate.

[2018-03-06 02:12] femsulu commented on #5284
@PatrickvEk , thanks for sharing the script. Would like to clarify the intent of your feedback to determine the next best steps. Is this simply 1.) feedback for Azure Runbooks to support disabling/enabling alerts out-of-box or 2.) Feedback to incorporate your script into the published document as a doc enhancement?

[2018-03-06 02:12] joseph4tw commented on #5232
@SnehaGunda / @mimig1 here are the relevant PRs:
https://github.com/MicrosoftDocs/azure-docs/pull/5319
https://github.com/Azure-Samples/documentdb-dotnet-todo-app/pull/9

Please let me know if you have any questions or concerns.

[2018-03-06 02:41] #5279 closed

[2018-03-06 02:50] Juliako commented on #5224
Hi @brouwer ,

The recommendation is to delete all of the streaming locators associated with the asset and then delete the AssetDeliveryPolicy.

You can create new streaming locators if desired, perhaps with a new AssetDeliveryPolicy.

I will update the document with this information.

Thank you,
Julia

[2018-03-06 03:01] Juliako commented on #5224
#fixes MicrosoftDocs/azure-docs#5224

[2018-03-06 03:07] xorgy opened #5321 "This advice risks destroying people's existing SSH keys."
In the order this document presents the topic, it is possible for a user to overwrite their default SSH key, which they may be using for other services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version Independent ID: 50b13de9-334d-0db5-492c-862935df2cd9
* [Content](https://

[2018-03-06 03:40] mimig1 commented on #5314
#in-progress

[2018-03-06 04:28] mimig1 commented on #5314
@Jeremywhiteley - So the authentication of an HTTP trigger with input or output to Azure Cosmos DB is handled by Azure Functions. They have a bit of info about it here https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#auth and then they link to the App Service authentication article - https://docs.microsoft.com/en-us/azure/app-service/app-servi

[2018-03-06 04:33] mimig1 commented on #5314
@Jeremywhiteley - Someone just pointed me at your tweet - https://twitter.com/jeremywhiteley/status/969626234064744449?s=09. So you're looking a code sample for AzureFunctions with Azure AD B2C?

[2018-03-06 05:01] laxmihub opened #5322 "# integration of SCOM and OMS"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-03-06 05:02] laxmihub commented on #5322
in integration event and performance logs are directly sent from agent to cloud, below statement is wrong I guess.

When SCOM is used as a data source for Log Analytics you can leverage the features of both products in a hybrid monitoring environment.  You can configure existing SCOM agents through the Operations Console to be managed by OMS, in addition to continuing to run management packs from

[2018-03-06 05:12] Jeremywhiteley commented on #5314
Yes, show us code examples with best practices of how to use Azure AD B2C, facebook login, or google login with Azure Functions to secure access to Cosmos DB using the resource tokens that Cosmos DB requires.

This is the only example I could find, but I couldn't get it work with Azure AD B2C.  The example just uses Azure AD which I think is different.    https://github.com/adamhockemeyer/Azure-Fu

[2018-03-06 05:33] Ramji-S opened #5323 "Email Notifications for Preview rules"
Will emails be triggered for smart detection rules in preview like the one highlighted in this document (Degradation in trace severity ratio (preview)) ? For regular rules like "Failure Anomalies" we have the option to overrule email preferences (so as to not to send to the wider audience inside the subscription).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-03-06 06:00] bob-zhao-work opened #5324 "Please use the same term as in Azure Storage replication"
Which replication does Data Lake Store use? Can user change ADLS replication type?
Locally redundant storage (LRS)
Zone-redundant storage (ZRS)
Geo-redundant storage (GRS)
Read-access geo-redundant storage (RA-GRS)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343e2c07-02f6-49df-f042-956442a61d69
* Version Independent

[2018-03-06 06:42] HiroyukiSako commented on #5179
I tried POST Application, but it did not work.
It is displayed on the "App registrations", but it was not displayed on the "Azure AD B2C - Applications".

[2018-03-06 07:23] linda33wj commented on #5219
@artieroggeband thanks for your feedback. ADF only support MongoDB as source but not sink - see the correct full matrix from https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats. The last sentence in Prerequisites section is wrong, i'll get it fixed right away.
#in-process

[2018-03-06 07:29] RedBa opened #5325 "Link to SQL resource provider installer SQL RP version 1.1.16.0 (https://aka.ms/azurestacksqlrp1802)"
Link to SQL resource provider installer SQL RP version 1.1.16.0  (https://aka.ms/azurestacksqlrp1802) doesn't link to the SQL RP package

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31804a1d-4c4f-70e6-556c-66c533e9b3e3
* Version Independent ID: 78f9ac38-1463-c263-2add-63d7dcaab0bc
* [Content](https://docs.microsoft.c

[2018-03-06 07:30] linda33wj commented on #5252
@wolftrace thanks for the feedback.
For Amazon MWS, the "import schema" button/operation in MWS dataset is actually not supported. Actually you don't need to config it there, just go configure MWS as copy activity source - for now you need do that in Advance tab referring to the JSON https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-marketplace-web-service#amazonmwssource-as-sou

[2018-03-06 07:58] wminos commented on #5255
I originally wanted to automate with a simple cli, but it might have been greedy.
Answer Thank you very much!

[2018-03-06 08:50] YeeSuan95 opened #5329 "Add face to existing face list in person group"
I can create person and add new faces into the face list in person group. However, how should I add faces into the existing face list based on the existing person in the person group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a315d63c-ebf4-b8ee-8757-d747678e824b
* Version Independent ID: 8a96be01-b252-f0c6-9deb-bd

[2018-03-06 09:35] FrederikLeed opened #5330 "AlternateEmailAddresses does not translate to StrongAuthenticationUserDetails | select Email"
I'm not really sure the above guide is true. Changing AlternateEmailAddresses does not change "StrongAuthenticationUserDetails".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae83fda-27b9-edca-1b59-1140de4cc3f5
* Version Independent ID: c93eb84b-f04b-de03-f3f5-57d4672b0559
* [Content](https://docs.microsoft.com/en-us

[2018-03-06 10:05] binnisb opened #5332 "Test that the app was correctly setup"
I just moved from another phone, but for some reason, even after going through the setup, the authentication still goes to the old phone. You should do as most 2fa process do, have one insert the code from the new setup to finish registration and make sure it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d13992

[2018-03-06 10:20] karldodd opened #5333 "Please clarify restriction on Azure Services connecting to on-premise network/services"
In "Public Peering" section, there is an important restriction note "Microsoft Azure services will not be able to initiate connections into your network through this routing domain." Two important questions here: (1) if public peering is enabled, what is the scope of this restriction? Subscription level, or account/orgnization level, or global (affect all Azure services from all Azure customers) (

[2018-03-06 10:39] cstainie opened #5334 "Performance - Storage Encryption"
Hi guys,

Could it be interesting on adding a section on performance impact when enabling encryption on the storage accounts?

Kr,
Cédric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 732eb4b2-7efe-02a0-b905-fe03f9c94e84
* Version Independent ID: 64b0f82c-2d46-92c5-37f7-5e06596171b9
* [Content](https://docs.microsoft

[2018-03-06 10:50] malon2011 opened #5335 "Abrechnungswarnungen für Enterprise Kunden"
Als EA-Kunde ärgere ich mich mittlerweile sehr über die wenigen Möglichkeiten der Budgetierung.
Wieso richtet man so etwas nicht auch für EA-Kunden ein?
Die Departments sind für Großkunden nicht Praktikabel. Ich kann und möchte nicht für jede Subscription ein eigenes Department und den dann dazugehörigen Account einrichten, nur damit ich eine Benachrichtigung für Softlimit-Überschreitung bekomme.

[2018-03-06 10:54] craigshoemaker commented on #5254
#in-process

[2018-03-06 10:55] rcsprakash opened #5336 "Cosmos DB trigger - Unmodified docs"
Is there anyway to get unmodified documents. Want to call api based on some property changes in the document. Would be helpful, if get the unmodified docs.  Currently we get only modified docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 490a08fe-c26e-6cae-5495-0b4f4e71e35d
* Version Independent ID: 79432f02-5059-26

[2018-03-06 11:44] ediazrod opened #5337 "There is already a button on the web interface to enable this."
If you don't want to use the cli or powersheel you can use the button on the web interface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* [Content](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accel

[2018-03-06 11:50] ediazrod opened #5338 "you can use the buttonon the web interface of azure"
you can use the button on the web interface of azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent ID: 36a002a6-5813-da00-0a57-068eeaf491cf
* [Content](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell)
* [Conte

[2018-03-06 13:59] xiaofmao opened #5340 "AttributeError: 'module' object has no attribute 'api'"
I'm trying to follow this document. After the cluster was created, I opened Jupyter notebook and ran the first SQL query.
%%sql
SHOW TABLES
Some AttributeError, "AttributeError: 'module' object has no attribute 'api'" was returned.
Is there any additional step should be taken before the execution of query?

====== The full output as below ======
AttributeErrorTraceback (most recent call last)
/usr

[2018-03-06 14:12] pianistprogrammer opened #5341 "Detailed Docs"
I found this documentation very useful, detailed and simple to follow, I'm happy I added to my knowledge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b459c4-6266-6e0a-33a0-ee2ae2106036
* Version Independent ID: 34a6f1f5-cad7-6ce2-3019-2834dda6f828
* [Content](https://docs.microsoft.com/en-us/azure/app-service/app-s

[2018-03-06 14:37] v-viksur commented on #5324
Azure Data Lake Store supports only Locally redundant storage (LRS) currently .
Reference: https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-comparison-with-blob-storage
Leave your feedback here (https://feedback.azure.com/forums/327234-data-lake/suggestions/17109511-geo-redundant-storage-disaster-recovery-for-azur). All the feedback you share in these forums will be monitored

[2018-03-06 14:42] amanarneja commented on #5341
@pianistprogrammer - Thanks for the great feedback and we are glad the document helped you!

@cephalin - Great job on this document ! :)

[2018-03-06 14:42] #5341 closed

[2018-03-06 14:46] RGoodmanAxioma commented on #5238
FYI, I attempted to follow the instructions in the linked page and received the error shown in the attachment.

![image](https://user-images.githubusercontent.com/37003816/37038570-289a262a-2123-11e8-9481-9070a3c97ba8.png)

I guess this is because I'm running the wrong Windows version? Again, I'm not really a Windows person so I don't know how to work around this.

Thanks.

[2018-03-06 15:02] amanarneja commented on #5324
@bob-zhao-work Good feedback on using the Azure storage replication terminology in the document. I have assigned this issue to the content author to review and update as appropriate.

In the meantime, as @v-viksur pointed out, currently ADLS support LRS.

[2018-03-06 15:13] craigshoemaker commented on #5254
@piffie this article as a whole is a bit outdated. I am adding this to my backlog to refresh the content to focus more on the Azure CLI rather than PowerShell commands. Please let me know if you think any other changes would help make the content better.

#please-close

[2018-03-06 15:22] DavidHBallantyne opened #5342 "Where is the "Keys" link/button?"
In step 3 of "Create service principal for Azure AD" we are told to "...generate an authentication key, select Keys".  Where do I find this link or button?  Can you please provide an image?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fd72e4-335a-142b-37ae-90a3cbc515f4
* Version Independent ID: 7facc888-354

[2018-03-06 16:10] JESUSANSWERS777 opened #5343 "The water"
Saving the world one human at a time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe0b26e-f030-6630-bc2c-5344d61a8018
* Version Independent ID: c181d839-265d-a874-943c-5974637d86d3
* [Content](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/microsoft-authenticator-app-faq)
* [Content Sour

[2018-03-06 16:20] bennbatt8112 opened #5344 "Azure Hybrid Worker Removal"
Hi,

The documentation here goes over how to remove a hybrid worker that is sitting On-Prem by invoking the Remove-HybridRunbookWorker command. I'm wondering if there is any guidance or a script for removing an Azure VM that is a HRW. Open to hitting the REST API directly if it's an option.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-03-06 16:20] tysonn commented on #5247
Fixed in https://github.com/MicrosoftDocs/azure-docs/pull/5326 :)

[2018-03-06 16:20] #5247 closed

[2018-03-06 16:30] mmacy commented on #5200
Hi @mandarsudame, please let me know if there is anything further we can help you with. If this is all you need, I'll have this issue closed. Thanks!

[2018-03-06 16:34] mmacy commented on #5231
Hi @plzm, I'm marking this as in-process as we have a new article on storage that I anticipate will published in the next week or so. Once that's published, I'll paste the link here, and then we'll close this issue if you're all set.

#in-process

[2018-03-06 16:52] johnthcall opened #5345 "Obsolete code used in "Receive messages from the queue""
These code snippets use "RegisterMessageHandler" which no longer exists in the latest SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* [Content](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bu

[2018-03-06 16:52] sandervandevelde opened #5346 "Please add details regarding [WHERE <condition>]"
The routes support a "where" condition. This is currently not documented. Please explain how to use this condition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa-7dde-c18f-be9505b00a0a
* [Content](https://docs.microsoft.com/en-us/azure/iot-ed

[2018-03-06 17:24] chrisnewark opened #5348 "The first two template examples are incorrect"
I believe the first two template examples on this page are incorrect. To start they are not valid json (see the additional "{" within the configurationArguments property). Additionally the examples do not comply with the settings schema on this page. Specifically the configurationArguments object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-03-06 17:40] cjgronlund commented on #5169
#resolved

[2018-03-06 17:47] ggailey777 commented on #5208
Unless @bastyuchenko has any other questions...#please-close

[2018-03-06 17:48] nandkishorenair opened #5349 "Correction for the explanation of MetricAggregation value"
In the "Diagnostic Configuration Variables" section, the MetricAggregation values are defined as below:
"The MetricAggregation value of PT1H and PT1M signify an aggregation over a minute and an aggregation over an hour."
This should be reversed as below:
"The MetricAggregation value of PT1M and PT1H signify an aggregation over a minute and an aggregation over an hour, respectively."

---
#### Docu

[2018-03-06 17:57] jrochet opened #5351 "Clarification for Windows 2008 (non-R2) domain controller requirements for Password Writeback"
The hotfix mentioned in the bullet "If you plan to use the feature password writeback, then the Domain Controllers must be on Windows Server 2008 (with latest SP) or later. If your DCs are on 2008 (pre-R2), then you must also apply hotfix KB2386717." - https://support.microsoft.com/en-us/help/2386717/the-enforce-password-history-and-minimum-password-age-group-policy-set - states that the server mu

[2018-03-06 18:11] MohitGargMSFT commented on #5322
@laxmihub  Thanks. Could you please provide link of the document to help with your feedback?

[2018-03-06 18:14] bastyuchenko commented on #5208
Hi @ggailey777

Thank you! I got it and it was really useful information for me.

Sorry but I haven't understood this scenario. Why does a message will be written if I add blob to the container? Maybe I lost something. Could you please explain?

[2018-03-06 18:22] moutroschmidt commented on #5169
#thankyou

csc

2018-03-06 14:40 GMT-03:00 C.J. Gronlund <notifications@github.com>:

--
Atte,

Cristián Schmidt

[2018-03-06 18:24] ggailey777 commented on #5143
@micahmckittrick thanks for your question. This is a known content gap in our Notification Hubs binding documentation that we are currently tracking. In the meantime, to answer your question you can use a binding expression for **tagExpression** so that the userID can be passed in by the Function trigger (a message queue or HTTP request. Please see [this example in Stack Overflow](https://stackove

[2018-03-06 18:26] mimig1 commented on #5238
@RGoodmanAxioma - The error about Microsoft.Azure.DocumentDB.Core stands out to me, as that's not a Library used by this tutorial. Maybe you added Microsoft.Azure.DocumentDB.Core to your project instead of Microsoft.Azure.DocumentDB? Can you look at the references in the Solution Explorer window in Visual Studio, and see if what you have matches this?
![image](https://user-images.githubusercontent

[2018-03-06 18:26] mimig1 commented on #5238
#in-process

[2018-03-06 18:26] spottedmahn opened #5355 "Add Reference to WingTip Games Demo"
The [WingTip Games Demo](https://wingtipgamesb2c.azurewebsites.net) showcases a bunch of B2C functionality, yet it is not referenced here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* [Content](https://docs.microsoft

[2018-03-06 18:31] ggailey777 commented on #5178
#in-process

[2018-03-06 18:33] MohitGargMSFT commented on #5343
Thanks for the comment.

[2018-03-06 18:33] #5343 closed

[2018-03-06 18:38] micahmckittrick commented on #5355
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-06 18:39] micahmckittrick commented on #5351
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-06 18:40] ggailey777 commented on #5208
@bastyuchenko my only point was that if you want faster function processing of uploaded blobs without using Event Grid, you can have both queue and a blob container in Azure Storage. After you successfully upload to the blob container, you can write a message to the queue that contains the URL of the blob. Your function can trigger on the queue and use the URL in the message to access the uploaded

[2018-03-06 18:41] micahmckittrick commented on #5349
Thanks for the find @nandkishorenair. I have assigned this to you since you are already working on the fix.

[2018-03-06 18:42] ggailey777 commented on #5208
#in-process

[2018-03-06 18:43] micahmckittrick commented on #5348
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-06 18:43] ggailey777 commented on #5265
@micahmckittrick Thanks for reporting this issue, I will take a look...
#in-process

[2018-03-06 18:44] micahmckittrick commented on #5346
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-06 18:44] RicksterCDN commented on #5288
#please-close - typo fixed and merged in to repo

[2018-03-06 18:46] amanarneja commented on #5340
@xiaofmao Thanks for reporting! I have assigned the issue to the content author to validate the steps.

[2018-03-06 18:48] piffie commented on #5254
@craigshoemaker
Another good addition would be marking the importance of passing the `process.env.PORT` variable to the express and that the system so makes the connection with iisnode.
I actually lost 2 days, due to I'm having a typescript application that I wanted to run, that defined the port passed as a number (that it isn't, its a pipe stream on azure), and therefore never receives the startu

[2018-03-06 18:53] timmayg opened #5358 "Mac OS 10.12"
Hi, I have configured my VPN Gateway for P2S with RADIUS authentication.  My Windows clients are successfully able to authenticate and they get access to the resources on the Azure VNet.

However, my Mac clients are not able to.  I have IKEv2 enabled on the Gateway and I've installed the mobileconfig file.   When I click connect the profile just bounces up to the top.   Can anyone provide some tro

[2018-03-06 18:53] amanarneja commented on #5342
@DavidHBallantyne  Thanks for the feedback, to get to the "Keys", you need to click "Settings" on the top bar in your App Registration. Once you click settings an additional blade will open to your right where you can find the Keys option.

I have also assigned the issue to the content author to make it more clear in the document.

[2018-03-06 18:54] amanarneja commented on #5345
@johnthcall Thanks for reporting! I have assigned the issue to the author to review and update the doc.

[2018-03-06 18:56] amanarneja commented on #5344
@bennbatt8112 Thanks for reaching out. We are investigating and will get back to you.

[2018-03-06 18:58] amanarneja commented on #5338
Duplicate of #5337

@ediazrod Thanks for the feedback! Closing this issue as a duplicate of another similar issue.

[2018-03-06 18:58] #5338 closed

[2018-03-06 19:02] MohitGargMSFT commented on #5321
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:02] dlepow commented on #5311
@jithinjosepkl - Thanks very much for the feedback. I'll update the article soon to help clear up this point.

[2018-03-06 19:02] amanarneja commented on #5337
@ediazrod Thanks for the feedback! I have assigned this issue to the content author to evaluate as an enhancement to the document.

[2018-03-06 19:02] MohitGargMSFT commented on #5323
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:03] cherylmc commented on #5154
#in-process

[2018-03-06 19:03] dlepow commented on #5275
@jithinjosepkl - Thanks very much for the feedback. I'll update the article soon to help clear up these points.

[2018-03-06 19:04] MohitGargMSFT commented on #5325
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 19:05] MohitGargMSFT commented on #5329
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:05] MohitGargMSFT commented on #5330
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:05] MohitGargMSFT commented on #5332
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:05] MohitGargMSFT commented on #5333
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:06] MohitGargMSFT commented on #5334
Thanks for the feedback. I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 19:07] tcb1986 opened #5359 "Using Microsoft.Azure.ServiceBus with .NET Core"
Thanks for the tutorial, however it should be noted to use version 1.0 of the Microsoft.Azure.ServiceBus from NuGet because version 2.0 is not compatible with .NET Core as shown in the picture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fa

[2018-03-06 19:07] MohitGargMSFT commented on #5336
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:09] #5288 closed

[2018-03-06 19:09] dlepow commented on #5275
#in-process

[2018-03-06 19:10] dlepow commented on #5311
#in-process

[2018-03-06 19:10] #5254 closed

[2018-03-06 19:11] amanarneja commented on #5335
@malon2011 Thanks for the feedback, and sorry that the feature isn't working as per your needs. Can you please file this as a product feedback @ https://feedback.azure.com/forums/170030-signup-and-billing. This will allow the community to vote on features and the appropriate engineering team to prioritize and add the top rated features into their plans.

Additionally, we now have the ability in th

[2018-03-06 19:11] #5335 closed

[2018-03-06 19:11] MohitGargMSFT commented on #5358
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-06 19:12] bastyuchenko commented on #5208
@ggailey777, thank you for explanation.

[2018-03-06 19:12] #5208 closed

[2018-03-06 19:14] MohitGargMSFT commented on #5359
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 19:19] amanarneja commented on #5358
@timmayg This will require some deeper analysis. Can you please file a support request @
https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-03-06 19:19] #5358 closed

[2018-03-06 19:20] Adam-Smith-MSFT commented on #5329
I'd recommend checking the following [link](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039524b)

"Create an empty face list with user-specified faceListId, name and an optional userData. Up to 64 face lists are allowed in one subscription.
Face list is a list of faces, up to 1,000 faces, and used by Face - Find Similar.
After creat

[2018-03-06 19:22] TiloGit opened #5360 "Local user AAD and MOL"
Hi, how to remove the **AAD_  and MSOL_** user in the local rep (if new sync server got installed)?
Just delete from local on prem AD or anything special?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09eeca8-9ac6-433b-0f75-097f45e1491f
* Version Independent ID: ff9958f2-946f-dac3-17b9-a3a226104dd3
* [Content](https:

[2018-03-06 19:26] LRomano72 opened #5361 "How to enable these Preview features in Azure SQL?"
How to enable these Preview features in Azure SQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* [Content](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-data-discovery-and-classification)
* [Content

[2018-03-06 19:32] RGoodmanAxioma commented on #5238
@mimig1, thanks very much. I don't know how I missed that before. That seems to have solved my problem.

[2018-03-06 19:32] #5238 closed

[2018-03-06 19:33] micahmckittrick commented on #5332
@binnisb from my experience you need to go through the process of removing your old phone from MFA and then proceed with setting up your new one. Otherwise, you will run into issues such as you are seeing.

As per your feedback on Microsoft MFA I suggest you post it on our feedback page found here: https://feedback.azure.com/forums/169401-azure-active-directory

Give the above a go and if you stil

[2018-03-06 19:33] #5332 closed

[2018-03-06 19:37] timmayg commented on #5358
@amanarneja,  I've opened a case with Azure support.  The engineer was helpful with following the directions in the doc but that's it.

When using Wireshark I can see the Mac sending ISAKMP traffic to my VPN Gateway but the tunnel does not come up.   Please see this screen shot.
https://www.dropbox.com/s/kg8n6p1j8hhhvmq/wireshark-1.jpg?dl=0

Thanks for any troubleshooting help you can provide!

Ti

[2018-03-06 19:38] amanarneja commented on #5333
@karldodd This is not so much as a enforced restriction based on policy but a reflection of how things get setup. Once Public Peering is enabled, for the entire routing domain in the circuit, the connection has to be initiated by entities on your WAN and they cannot be initiated via the Azure Services.

[2018-03-06 19:38] #5333 closed

[2018-03-06 20:09] jrochet opened #5362 "MFA Server blade - only for on-premises MFA server?"
Are all settings in the "MFA Server" blade ("Unlock account", "Block/unblock users", "Caching", etc.) only meant for use with the on-premises MFA server or are these settings also meant for use with the MFA in cloud deployment flavor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56319b59-e0f6-f0a7-c853-99cebcb5711a
*

[2018-03-06 20:09] kyleswinney opened #5363 "Confusion between 'upgrade' and 'update' domains"
There are multiple places in this page where Upgrade Domains are referred to as 'Update Domain'. This causes the page to be low in search rankings. A sev 2 customer impacting bug happened this week because they didn't configure their upgrade domains properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e372ba-4d67

[2018-03-06 20:13] jezlloyd opened #5364 "Removed?"
Has Deep Security been removed? I've just followed the instructions above and tried to add it to VMs in North Europe and UK South and it's not listed as an extension!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28479128-bb7b-1d74-0e40-a7e8f816fd38
* Version Independent ID: 5f788c5c-e3f7-8031-47d5-959d047b805a
* [Co

[2018-03-06 20:19] micahmckittrick commented on #5321
Thanks for the feedback @xorgy. From my understanding the use of this doc is supposed to be more informational so users can better understand how to create and use SSH keys on Linux or macOS. That being said, I can understand how there is a possibility that they could overwrite their existing key which could cause issues.

I have assigned this to the content author to take a look and determine if

[2018-03-06 20:21] craigshoemaker commented on #5254
@piffie I'll make sure to include the port information in the updated text. Thanks for your feedback!

[2018-03-06 20:22] mattbriggs commented on #5342
Hi @DavidHBallantyne, Thanks for your note. I'll be able to take a look, add a screenshot, and post an update here. Thanks! #in-process

[2018-03-06 20:26] CraigWiand opened #5365 "Cut'n paste duplication"
In https://docs.microsoft.com/en-us/azure/virtual-machines/windows/boot-diagnostics it says "This will also ensure all console messages are sent to the first serial port, which can assist Azure support with debugging issues" twice: once before the example once after.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500c6

[2018-03-06 20:27] micahmckittrick commented on #5336
@rcsprakash In Visual Studio, while in edit mode, I believe there will be a drop-down list of possible valid options. The image in this document shows Visual Studio Enterprise be used, and if the cursor is placed in the **Bold** part, you should get more informatoin.

{
              Log.Verbose(“**Documents modified** “ + input.Count);
              Log.Verbose(“First document Id “ + input[0].Id)

[2018-03-06 20:27] DavidHBallantyne commented on #5342
Thank you.  I heard from a "Matt Briggs", who explained that he would add
an image to clarify.

Here is what I see in the subsequent blade when I click "Settings" as you
directed:

I still do not see anything concerning Keys.

Kind regards.

David

On Tue, Mar 6, 2018 at 1:53 PM, Aman Arneja <notifications@github.com>
wrote:

[2018-03-06 20:29] mattbriggs commented on #5342
Hi... @DavidHBallantyne, I haven't updated the topic yet. I will touch bases with you as soon as I get a chance to do that. Thanks for clarifying your question. I hope to your answer soon. Cheers, Matt

[2018-03-06 20:35] fswgm opened #5366 "Typo"
Minor thing - the word extension is misspelled in the title of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8748e30e-6845-c186-a93f-a160ad55e633
* Version Independent ID: 71438ce8-4b1c-adf4-1931-8a1e42bfe63c
* [Content](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics-sch

[2018-03-06 20:37] mrbullwinkle commented on #5074
@goatmale Thank you for your feedback. We have updated the doc to include the following info: _[For Virtual Machines an alternative to the json based steps above is to navigate in the Azure portal to Virtual Machines > Diagnostic Settings > Sinks > Set send diagnostic data to Application Insights to Enabled and either select an Application Insights account or a specific ikey.](https://docs.microso

[2018-03-06 20:39] DavidHBallantyne commented on #5342
Thank you for the quick follow up.

Regards,
David

On Tue, Mar 6, 2018 at 3:29 PM, Matt Briggs <notifications@github.com>
wrote:

[2018-03-06 20:44] mattbriggs commented on #5325
@RedBa I'm a writer working on the topic. Thanks for your note. It looks like there is a typo in my using the topic and that I am getting an executable AzureStack.Sql.1.1.18.0. I'm following up to find out if that is right. It is labeled **1.1.16.0**. In your message, did you get the 1.1.18.0 file, no file, or a different file? Thanks! Matt #in-process

[2018-03-06 20:44] georgewallace commented on #5140
@whytoe The doc https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile#assets has been updated with the correct syntaxt for importing the PSDesiredStateConfiguration.  As mentioned in the previous note the 2nd warning will persist for now, but are looking at why it tries to load it twice.  There is another update coming at 3pm PST today to update the note calling out the 2nd issu

[2018-03-06 20:48] mrbullwinkle commented on #5182
Thanks @AlexKeySmith the article has now been updated to address the missing version number.

[2018-03-06 20:49] mrbullwinkle commented on #5182
#please-close

[2018-03-06 21:02] MarkusVi commented on #5180
Hi @poortom1004, thanks for your feedback. I have included it into the article

[2018-03-06 21:04] SnehaGunda commented on #5232
We reviewed your change, the PR will be merged soon. @joseph4tw we will close this issue, if you have any further questions feel free to reopen or create a new one.

[2018-03-06 21:04] SnehaGunda commented on #5232
#please-close

[2018-03-06 21:18] mattbriggs commented on #5325
@RedBa Yes. I've verified. It should be AzureStack.Sql.1.1.18.0, and the topic will be updated shortly. Thanks again for letting me know. #please-close

[2018-03-06 21:20] yushwang commented on #5236
#please-close

[2018-03-06 21:26] MohitGargMSFT commented on #5302
@RolandLeFranc Please check this document to download starter pack which contains TrustFrameworkExtensions.xml file.

[https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#download-starter-pack-and-modify-policies](url)

I am assigning it to document author to make possible document enhancement in order to add clarity around it.

[2018-03-06 21:28] #5236 closed

[2018-03-06 21:31] kellybos opened #5368 "Small change to Exchange hybrid writeback"
In the proxyAddresses field the comment says -

Only the x500 address from Exchange Online is inserted.

Technically the legacyExchangeDN for the Exchange Online object is being added as an x500 address to the proxyAddresses field.  I think it would be better for the comment to read -

The Exchange Online legacyExchangeDN is added to the proxyAddresses as an x500 address.

Thanks!

---
#### Docume

[2018-03-06 21:33] ShevaDas commented on #5201
Thanks for the details. I've created an internal work item for our engineers to look into this. cc @adkinn

[2018-03-06 21:43] gswallow opened #5369 "Has the AZ CLI changed a lot?"
Is it just me, or has this document become highly inaccurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec093591-c8bb-9284-7a43-97d08b7bf16e
* Version Independent ID: 21803b59-a2d1-a301-2318-8af8c333c6a3
* [Content](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-get-started-ilb-arm-cli#feedback

[2018-03-06 21:50] #5095 closed

[2018-03-06 21:52] MohitGargMSFT commented on #5303
@RolandLeFranc It seems you are trying to clone a policy from a tenant to another tenant in Azure ADB2C

Please note Downloading standard policies and then uploading them is not supported.

Looks like thats what you tried which makes your standard policy a custom policy. Custom policies cannot have base-v1 in the inheritance hierarchy. The base-v1 policies are strictly meant to be used by the stan

[2018-03-06 21:52] #5303 closed

[2018-03-06 22:09] MohitGargMSFT commented on #5323
I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 22:19] MohitGargMSFT commented on #5330
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 22:22] MohitGargMSFT commented on #5351
Thanks. I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-06 22:25] karl-howard opened #5370 "ls clouddrive didn't work under a Powershell Cloud Shell"
The clouddrive share only appears to work in a Bash Cloud Shell and not the Powershell Cloud Shell.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1b66f78-8d9b-b527-7678-fa1975044c39
* Version Independent ID: c9c5d61a-a1c0-07e5-1bf9-315cc99bd722
* [Content](https://docs.microsoft.com/en-nz/azure/app-service/app-servic

[2018-03-06 22:33] kgremban commented on #5346
Hi @sandervandevelde what kind of details would you find useful? Right now in the article we have the following line: "The condition can be any condition supported by the IoT Hub query language for IoT Hub routing rules" with a link to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language#where-clause.

Unlike the FROM and INTO conditions there's not a set of accepted valu

[2018-03-06 22:33] kgremban commented on #5346
#in-process

[2018-03-06 22:36] iainfoulds commented on #5321
Thanks for the feedback, @xorgy

As @micahmckittrick notes, this doc is written for new users that do not already have an SSH key pair.  The expectation would be that the existing keys are overwritten if the default locations and parameters are used. I'm hesitant to add in something that provides a name for the keys, as commands like `az vm create --generate-ssh-keys` may use the incorrect default

[2018-03-06 22:43] MicrosoftGuyJFlo commented on #5330
@FrederikLeed it does not immediately appear. It will move when the user confirms the information. Setting it for a new user will allow them to confirm the data and then it is copied to that field.

[2018-03-06 22:43] MicrosoftGuyJFlo commented on #5330
#in-process

[2018-03-06 22:47] #5321 closed

[2018-03-06 22:49] sethmanheim commented on #5359
@tcb1986 Hi and thanks for the feedback. Are you sure that you have installed .NET Core 2.0 as listed in the prerequisites? And if you are using Visual Studio, have you installed update 3 or later? I believe that earlier VS versions do not work with .NET Core 2.0.

I just tested this tutorial, following the steps exactly as written, and it seems to run fine.  I am using Microsoft.Azure.ServiceBus

[2018-03-06 22:54] sethmanheim commented on #5345
@johnthcall Hi and thanks for the feedback. I just tested this tutorial, following the steps exactly as written, and it seems to run fine. No problems with [RegisterMessageHandler](https://docs.microsoft.com/dotnet/api/microsoft.azure.servicebus.queueclient.registermessagehandler#Microsoft_Azure_ServiceBus_QueueClient_RegisterMessageHandler_System_Func_Microsoft_Azure_ServiceBus_Message_System_Thr

[2018-03-06 22:58] sandervandevelde commented on #5346
A route is made up by three parts, source (from), condition (where) and sink (into).
In the text, only the first and the last part have some sort of a caption (the first in italic, the last one not). The condition line is easy to ignore. Giving the three part a real caption makes is more clear.

Next to that, The link provided does not give a good answer to what to fill in. Yes, it points to the l

[2018-03-06 23:44] johnthcall commented on #5345
@sethmanheim Seth WindowsAzure.ServiceBus is already at 4.1.7 Should I be using Microsoft.Azure.ServiceBus instead?

[2018-03-06 23:46] sethmanheim commented on #5345
@johnthcall Yes, correct. This is called out in the tutorial. See the section titled "Add the Service Bus NuGet package". As I said in the last comment, the tutorial works if you follow the steps exactly as written.

[2018-03-06 23:50] twooley commented on #5174
@udude17 Hello. This issue has been fixed. Please see the updated article at https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-faq#does-microsoft-dynamics-365-provide-online-support-for-azure-ad-b2b-collaboration. Thanks again for reporting this.

[2018-03-06 23:51] twooley commented on #5174
#please-close

[2018-03-06 23:57] tamram commented on #5334
@MohitGargMSFT - is there a way that you or I can respond to the customer? Encryption is enabled for all storage accounts now, and does not impact performance.

[2018-03-06 23:57] tamram commented on #5334
This is also addressed in the documentation. I am in the process of making some updates to make it more clear.

[2018-03-07 00:01] sethmanheim commented on #5345
#please-close

[2018-03-07 00:10] neilpeterson commented on #5173
Ok, I've expanded out the storage section and made some updates to this doc. Thanks again for raising the issue.

#please-close

[2018-03-07 00:15] #5345 closed

[2018-03-07 00:22] #5133 closed

[2018-03-07 00:23] #5173 closed

[2018-03-07 00:23] dcbrown16 commented on #5133
Thanks all!

[2018-03-07 00:23] #5174 closed

[2018-03-07 00:24] #5180 closed

[2018-03-07 00:24] #5182 closed

[2018-03-07 00:26] #5232 closed

[2018-03-07 00:26] #5325 closed

[2018-03-07 00:31] mikeazurecxp commented on #5361
Is there a specific preview feature you are referring to or interested in? Just to summarize:

Azure SQL Database shares a common code base with SQL Server and, at the database level, supports most of the same features. The major feature differences between Azure SQL Database and SQL Server are at the instance level:

_Azure SQL Instance Levels_
**Basic**
- Max storage per database in a Basic pool

[2018-03-07 01:01] MohitGargMSFT commented on #5360
We will investigate and update on it soon.

[2018-03-07 01:02] micahmckittrick commented on #5361
@LRomano72 Appears Data Discovery & Classification is Public Preview so it should be enabled by default. What do you see when you go to SQL Databases -> Your Database and look under settings as per the doc?

[2018-03-07 01:05] MohitGargMSFT commented on #5362
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:06] MohitGargMSFT commented on #5363
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:07] MohitGargMSFT commented on #5364
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:07] MohitGargMSFT commented on #5365
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:07] MohitGargMSFT commented on #5366
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:08] MohitGargMSFT commented on #5368
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-07 01:08] MohitGargMSFT commented on #5369
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-07 01:08] MohitGargMSFT commented on #5370
Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 01:11] micahmckittrick commented on #5363
@kyleswinney I am not seeing any mention of "Upgrade Domain".

I did a search of this article and found 18 references to "Update Domain" which is what it is technically called but zero results when searching for "Upgrade Domain".

We reference the term "Upgrade" often because we use Update Domains to separate nodes and clusters on the azure fabric. This allows customers to configure update domains

[2018-03-07 01:12] #5363 closed

[2018-03-07 01:15] PatAltimore commented on #5179
@leftler @HiroyukiSako , For AD application registration, Graph API would be the option. I'd suggest posting your question to https://stackoverflow.com/questions/tagged/office365%20or%20microsoft-graph.

[2018-03-07 01:23] mikeazurecxp commented on #5361
![screenshot 2 _li](https://user-images.githubusercontent.com/37126106/37068222-7bdf70bc-2162-11e8-853d-f26bb0139191.jpg)
This is what I see. I just created this Azure SQL Instance a few moments ago in region West US 2.

[2018-03-07 01:33] LRomano72 commented on #5361
Sorry gang, my bad. I was looking at the Server instance and not at the specific database level. We have an elastic pool with tons of databases so not use to looking at specific options, plus we have auditing also at the server level and not at database level so I missed. Thanks for replying.

[2018-03-07 01:33] #5361 closed

[2018-03-07 01:34] Osypchuk opened #5374 "Actual Feature Set API reference is missing"
I cannot find actual Feature Set API reference in custom decision services documentation. There is a mention of swagger documentation ("The specification is complemented by a Swagger schema") but swagger endpoint is not exposed as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa24ac-1104-86b4-305a-eb11f6356d1f

[2018-03-07 01:39] micahmckittrick commented on #5364
@jezlloyd the doc you are referencing is for Classic Azure VMs. However after researching I did find that when creating a new Classic Azure VM the Trend Micro extension was available via the portal. However, when creating a Azure ARM VM the extension is not present. So it appears that Trend Micro has not published an extension for ARM VMs to the Azure Portal.

If you want to install Deep Security

[2018-03-07 01:39] #5364 closed

[2018-03-07 01:48] MohitGargMSFT commented on #5360
@TiloGit Answer to your query is yes.

Azure AD Connect only deletes objects that it has once considered to be in scope. If there are objects in Azure AD that were created by another sync engine and these objects aren't in scope, adding filtering doesn't remove them. For example, if you start with a DirSync server that created a complete copy of your entire directory in Azure AD, and you install a

[2018-03-07 01:48] #5360 closed

[2018-03-07 01:50] micahmckittrick commented on #5365
@CraigWiand Great find! I have modified the doc and submitted the changes. I will close this issue out once the merge is complete.

[2018-03-07 02:01] MohitGargMSFT commented on #5362
@jrochet Please note that the document is related to Azure Multi-Factor Authentication settings. The settings are for Azure Active Directory MFA and not for on-prem MFA server.

[2018-03-07 02:26] BryanTrach-MSFT commented on #5297
@leftler We were unable to reproduce the issue and as a result, we have assigned the document author to take a further look.

[2018-03-07 02:36] hiraldesai opened #5376 "Adding secondary certificate through PowerShell"
I had to recently replace an expired certificate with a new one after it had expired in one of our dev environments. I didn't have the original ARM template as the cluster was created using the Azure portal (and a lot of changes made after creation). Then I came across this article and it basically said I cannot fix my cluster without the original ARM template. Just to be 100% sure, I created a ti

[2018-03-07 02:43] rboucher commented on #5086
#please-close

[2018-03-07 02:44] dcbrown16 commented on #5086
Thanks everyone!

[2018-03-07 02:44] #5086 closed

[2018-03-07 02:47] rboucher commented on #5366
Thanks for your feedback Mohit.  Fixing in internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/34761.

[2018-03-07 02:54] nikhildhawan opened #5377 "Get Output of the pipeline"
Is there a way to access the output of inner pipeline executed by this?
Just like ForEach provides you access to each iteration of its execution, is there a way to access what happened in each activity inside of the pipeline.
I am trying to access the output to prepare and send a summary report and going and parsing logs from blobs is too difficult and unreliable.

---
#### Document Details

⚠ *Do

[2018-03-07 03:00] nikhildhawan opened #5378 "Timeout limit missing from docs"
We recently had to change a lot in our solution just because there wasn't mention of 1-minute, non-configurable, timeout on web activity node. We were using it to trigger an Azure function to process our data which will take about 2 minutes to finish. The web activity fails after a minute with message "Error calling the Endpoint", without mentioning anything about the timeout.

---
#### Document D

[2018-03-07 03:50] #5365 closed

[2018-03-07 04:54] rboucher commented on #5366
Fixed and merged. This should go live tomorrow around 10 am Pacific time.

[2018-03-07 04:56] rboucher commented on #5366
@fswgm Thanks for pointing this out!

[2018-03-07 05:28] dcbrown16 opened #5380 "More specifics on logs"
I have run across this blog that gives some more detail on logs, particularly key details like the behavior around maximum log file/sum settings for Web server logging.
http://blog.amitapple.com/post/2014/06/azure-website-logging/#.Wp93Y0xFyuW

I've been told this info is still accurate, but it isn't an appropriate place to be the sole public information about this behavior for the logs. Can the m

[2018-03-07 06:21] jithinjosepkl opened #5381 "Link to Resource Managermodel?"
It seems like HPC Pack IaaS deployment script is not a recommended way anymore. Should this page be updated to use the Resource Manager model?

Ran into some issues using deployment script, and was advised to use the Resource Manager model. Please see note in deployment script doc page (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/classic/hpcpack-cluster-powershell-script):
The

[2018-03-07 06:22] BitBender1 opened #5382 "adapt this example or add an equivalent one using the existing nuget-packages"
it is sometimes useful or even interesting to see how a rest-api-call is composed manually , but i believe most c# developers would rather want to see here how to use the existing official nuget-package to access this service. the same i think is true for all other examples in docs.microsoft.com that show how to access an azure-service from c# where for that service an official nuget-package from

[2018-03-07 06:25] guptapuneet opened #5383 "Trasaction size limits"
What is the size of read/write transaction here ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e4ed29-a7ca-55fe-b867-cff017e0bba8
* Version Independent ID: 1a2f3279-8721-bf00-897f-2dbd6a95c8b3
* Content: [Standard storage for Windows VM disks on Azure | Microsoft Docs](https://docs.microsoft.com/en-in/azure/virtual

[2018-03-07 06:47] ericbrunner commented on #5265
@ggailey777 I reported that issue

[2018-03-07 07:09] FrederikLeed commented on #5330
When or where is the user supposed to get prompted to confirm this? It does not even happen when the user goes to the MFA details page from myapps.microsoft.com.

[2018-03-07 07:15] hisasima opened #5385 "By default AppGwSslPolicy20170401 is wrong."
I predict following sentense is wrong.

"By default AppGwSslPolicy20170401 is selected if no specific SSL policy is defined."

List pre-defined SSL Policies
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-configure-ssl-policy-powershell#list-pre-defined-ssl-policies

I confirmed following is the default value.

DefaultPolicy: AppGwSslPolicy20150501

Could you revise

[2018-03-07 07:33] binnisb commented on #5332
I went through the process of re-registering my new phone, and so far it is working (I remember that I got the "Allow" popup on the new phone when I registered it previously, but it seems it stopped working and went back to the old phone) . If it works now, this can definitely stay closed :) I'll submit this to the feedback if it hasn't already been added.

[2018-03-07 07:58] ericbrunner opened #5386 "Output - C# script example"
Hi,
The sample in the function.json is an ordinary HTTP Trigger and not like described a BLOB Trigger. Please correct either the description or the sample.

.....

[code]

best
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-5220

[2018-03-07 08:02] linda33wj commented on #5252
@wolftrace hope you get my reply. May I know if the connector work for you now? Or if you have any further questions?

[2018-03-07 08:13] Walter-Shui opened #5388 ""commandToExecute": "powershell.exe . . . -File './scripts/myscript.ps1'" This is wrong. It should remove single quotes."
A question is Stack overflow https://stackoverflow.com/questions/49131353/powershell-script-is-not-executing-when-using-azurerm-virtual-machine-extension/49144024?noredirect=1#comment85298543_49144024

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbccf725-84f1-a5c0-2ff5-49dace353416
* Version Independent ID: f2d1b170-

[2018-03-07 08:19] dufc1923 opened #5389 "Has this method been deprecated."
I have version 5.1.1 of the Azure modules installed on my Win 10 machine but when I try to run this Add-AlertRule command , i get a message telling me its not a recognised command or cmdlet..
Can anyone point me to the most recent and up to date documentation for Adding Alert Rules for AI using powershell..
I have about a dozen alerts to set up across 40+ subscriptions,  Powershell is the preferre

[2018-03-07 08:25] thomasmktong opened #5390 "Unable to get $OriginalVM.StorageProfile.OsDisk.Vhd.Uri"
I am unable to get `$OriginalVM.StorageProfile.OsDisk.Vhd.Uri`, this is what I have when I call `$OriginalVM.StorageProfile.OsDisk`
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availabil

[2018-03-07 08:58] gsuttie opened #5391 "Some errors on this page"
I'm following the above demo and it doesn't compile, the code snippet isnt quite right.

the using statement should be using Microsoft.Azure.Storage; (i think)
and then the CloudTable table = tableClient.GetTableReference("people");
 line doesnt compile either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55

[2018-03-07 09:17] YeeSuan95 opened #5392 "Problems with IdentifyAsync and VerifyAsync"
Both identifyasync and verifyasync has been obsoleted....Currently, my largepersongroup contain with persons and faces. The person group has been trained but whenever i run it, it stated persongroup not found in identifyasync method. May I know which method should i replace for identifyasync and verifyasync?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-03-07 09:59] ezio2907 opened #5393 "Examples"
Can you give us also the code for the entire program? I try to make to something with this but I don't know what is in FaceServiceClient  and the diffrent methodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f087f4-64bd-ebda-e5b9-540bf9cd041e
* Version Independent ID: 9885cd90-3d7c-1ede-4992-e8408f048d9a
* Conten

[2018-03-07 10:06] YeeSuan95 commented on #5392
This problem has been resolved after trying around the parameters. For identifyasync, the parameter is (faceIds, personGroupId, largePersonGroupId, maxNumOfCandidatesReturned, confidenceThreshold). For verifyasync, the parameter is (faceIds, personId, personGroupId, largePersonGroupId).

personGroupId and largePersonGroupId cannot be use together at the same time. As such, one of them has to be in

[2018-03-07 10:06] #5392 closed

[2018-03-07 10:38] thomasmktong commented on #5390
I guess it is because I use Managed Disks instead of storage account.

[2018-03-07 10:41] NicklausBrain opened #5394 "No precise instructions regarding signing keys creation and alternatives"
After assigning claims mapping policy to your service principal you will experience the following error during authentication procedure:
"AADSTS50146: This application is required to be configured with an application-specific signing key. It is either not configured with one, or the key has expired or is not yet valid. Please contact the application's administrator."
There is no valid instructions

[2018-03-07 11:11] creationsoft opened #5396 "Leaf certificate creation command line"
The documentation tells you to execute New-CADevice "<yourTestDevice>" and be default, this will create a certificate that is signed by the root cert, not the lowest intermediate cert in the chain. I believe this command should read New-CADevice "<yourTestDevice>" "<CN=LowestIntermediateCertCN>" or something similar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-03-07 11:34] #5255 closed

[2018-03-07 11:40] gerhardcit opened #5397 "AzCopy inside powershell"
Would it be useful to have AzCopy inside powershell. The combination seems to go in that direction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [Copy or move data to Azure Storage with AzCopy on Windows | M

[2018-03-07 12:15] arcotek-ltd opened #5398 "Hashtables are converted to PSCustomObject in Automation"
It might be worth you adding that the hashtable `$params` (shown in your `Start-AzureRmAutomationRunbook` [example](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-input-parameters#start-a-published-runbook-by-using-powershell-cmdlets-and-assign-parameters)) is converted to a PSCustomObject. Issue [#5695](https://github.com/Azure/azure-powershell/issues/5695) raised.

The same

[2018-03-07 12:58] jrochet commented on #5362
Hello Mohit, the page references settings that are both in the "MFA server" blade in the Azure portal, as well as settings that are available in the "Service Settings" view from https://account.activedirectory.windowsazure.com.

So with that, again, I'm asking, are the settings that are in the "MFA server" blade in the Azure AD Portal, under Azure Active Directory -> MFA Server, only for MFA serve

[2018-03-07 13:08] jimdial commented on #5337
Thanks @ediazrod .  I added text mentioning the portal button to the Windows/PowerShell and Linux/CLI articles. #please-close

[2018-03-07 13:42] greatwallx2 opened #5401 "Support for MFA"
Please add support for MFA. Accounts enabled with MFA cannot run this basic administrative task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb11420c-f63c-9d1e-6bba-6680be70030a
* Version Independent ID: 93f586f2-8be5-600d-2ca8-41f656db498b
* Content: [Azure AD Connect sync: Prevent accidental deletes | Microsoft Do

[2018-03-07 13:58] laultman opened #5402 "Samples are Well Out of Date"
The samples are so far out of date, as to be of no value. The date of the article is old as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b04e33-be5f-f9de-e034-a83d2e9a5e18
* Version Independent ID: 71611fc5-c00d-380c-fa2a-e0ec98c47bba
* Content: [Azure Active Directory Code Samples | Microsoft Docs](https://d

[2018-03-07 14:24] mguntli opened #5403 "Parameter resource of sign-in request not described"
Chapter **Get Access Tokens** lists the parameter "&resource=https%3A%2F%2Fservice.contoso.com%2F", but does not describe what it is.
Note: the parameter isn't described in the parameter list from chapter **Send the sign-in request**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30daadc7-6f55-207a-9125-9e97f06d9f85
*

[2018-03-07 15:00] Jeroen-Priester opened #5404 "Routing preference seems to be incorrect with regards to vnet peering"
After extensive testing the routing preference in this document should be changed into:

"If multiple routes contain the same address prefix, Azure selects the route type, based on the following priority:

1. User-defined route
2. VNet Peering
3. BGP route
4. System route"

I've tested BGP with Expressroute Private peering and VNET-TO-VNET tunnels with BGP. But found out that VNet peering is alway

[2018-03-07 15:11] johnwildes opened #5405 "OneNote Clipper Error"
I use the one note clipper extension, and when you clip this as "Article" the only thing that gets clipped is the JSON template stuff in the middle.  I don't know if there's some structural part of the document that needs to be fixed to allow this to be clipped, but it's not working.  I realize that it's probably a combination of documentation and the Clipper team and the way they clip articles, b

[2018-03-07 15:17] DaveStabilify opened #5406 "Documentation is incorrect"
The documented steps for all the processes on this page are incorrect and do not correspond to the options available in the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5624f3e-5fbf-6f0f-93cf-a4d5aa93ccf8
* Version Independent ID: 9ca6d22b-e684-4e65-cab3-c272189a3ddc
* Content: [Add or change Azure adm

[2018-03-07 15:25] billmath commented on #5368
@kellybos thank  you.  I am going to verify this and I will updated this once I have had a chance.

[2018-03-07 15:29] yaroman opened #5407 "DW status is wrong?"
When I run this command "SELECT name AS 'Database Name', state_desc AS 'Status' FROM sys.databases db" it reports that all DWs are ONLINE when in reality none of them are. Is there a bug or I am not understanding something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 736a5372-0015-b39a-018e-34c81238aa15
* Version In

[2018-03-07 17:04] artisticcheese opened #5409 "Links relevant to creation of automation variables are not pointing to correct location (New-AzureRmAutomationVariable)"
Links are broken since shall be pointing to AzureRM but pointing to ASM default page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e395e73-2cf5-a14a-0d33-da4068c86be8
* Version Independent ID: 0c42c73d-8b79-5c83-deac-3eb66adf687d
* Content: [Variable assets in Azure Automation | Microsoft Docs](https://docs.microsoft

[2018-03-07 17:05] sethmanheim commented on #5309
@bearrito Hi and thank you for the feedback! The engineering team has confirmed that thread safety information should be included in the Java API docs. A bug has been filed and assigned to them, so the docs will be updated as soon as possible. Please let me know if it's ok to close this issue.

[2018-03-07 17:10] c016smith opened #5410 "Password management"
I am reading that the goal of this feature is to allow Administrator of the app to manage the password, so user never knows the password. As it is setup right now, it looks like the user still has to know the password to sign-in on their own the first time. Shouldn't this password be securely stored in the Azure AD app blade, where the administrator creates and manages this password-enabled App, n

[2018-03-07 17:13] sethmanheim commented on #5359
Hi @tcb1986, please let us know if you have any further questions, or it's ok to close this issue. Thanks!

[2018-03-07 17:29] saulcruz opened #5411 "use of parameters in u-sql activities python SDK"
Hey there MS team,
it is not clear how to use the params for usql activities, what kind of objects do we need and how do we instantiate these? ParameterType(...) ? these are used also in most of the objects like u-sql activities, any examples would be really helpful for developers.

For example:

[code]
I noticed that the annotation type is Dict[str, object] for parameters so I'm guessing I need t

[2018-03-07 17:32] daviburg opened #5412 "Concurrency trigger"
Triggers have additional optional parameter to control concurrency, e.g.:

"runtimeConfiguration": {
      "concurrency" : {
         "runs": 2
      }
   },

https://toonvanhoutte.wordpress.com/2017/08/29/logic-apps-concurrency-control/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0dd3aa-82c2-4510-1413-a109eddf630

[2018-03-07 17:40] billmath commented on #5191
@Yazooo this has been fixed and should be live now.  Thanks again.

#please-close

[2018-03-07 17:43] giladmit commented on #5361
Just to clarify, auditing can be set on the server level, it will still audit the sensitivity of the data returned by the query.

Regards,
Gilad [MSFT]

[2018-03-07 17:45] TiloGit commented on #5360
thanks for the quick reply.
The accounts are created for new install of **AzureADConnect.msi** on a DC.  (Domain user, will update my original question)

The document mentioned the user I listed

Please let me know if I should refer to another documentation about cleanup of these two users.

[2018-03-07 17:47] ggailey777 commented on #5336
@rcsprakash the trigger is designed to pull modified documents. If you just want to run ad-hock queries against all documents in the database you will need to create and use a Azure Cosmos DB client for your specific language from inside your function code. You can see an example of creating a client (C#) [here](https://github.com/Azure-Samples/documentdb-dotnet-getting-started/blob/master/src/Pro

[2018-03-07 17:48] ajamess commented on #5410
Actually, how you described it is how it works - see step 10:

"Additionally, you can also provide credentials on behalf of the user by selecting the rows of the users and clicking on Update Credentials and entering the username and password on behalf of the users. Otherwise, users be prompted to enter the credentials themselves upon launch."

Basically, you have 2 options - 1) manage the password

[2018-03-07 17:50] dlepow commented on #5311
@jithinjosepkl - I believe the best place to find out where the different VM sizes are available is the link https://azure.microsoft.com/regions/services/. I have a pull request in progress to update this point in the article to read: "Use the Azure portal to create a cloud service (classic) and a storage account (classic) for the deployment. Create these resources in a region where the H-series,

[2018-03-07 17:52] jithinjosepkl commented on #5311
thanks!

[2018-03-07 17:58] dlepow commented on #5275
@jithinjosepkl - I have a pull request in progress to update these points in the article in response to your very helpful feedback:
1. Updating the virtual network description: "Specify a new virtual network in a region in which the H-series, A8, or A9 size you want to use is available. See [Azure products by region.](https://azure.microsoft.com/regions/services/)."

2. For this scenario I am upda

[2018-03-07 17:59] bearrito commented on #5309
Ok to close.

[2018-03-07 18:00] billmath commented on #5111
#please-close

[2018-03-07 18:02] ggailey777 commented on #5131
@bdcoder2 there was an API change between versions of the NuGet packages, which a result of a product name change. `CosmosDBAttribute` is the name in the newer version and `DocumentDBAttribute` is the name in the prior version.  Thanks for reporting this issue, @tdykstra  is working on a fix to clarity this in the documentation.

[2018-03-07 18:02] ggailey777 commented on #5131
@bdcoder2 is it OK if we close this issue?

[2018-03-07 18:04] ggailey777 commented on #5265
Sorry @ericbrunner 😊

[2018-03-07 18:04] billmath commented on #5108
@erickool  Just a follow-up.  I am waiting on confirmation from a developer.  If I don't hear back later today I will create a work item for this and follow up with him.  I will follow-up later today.

[2018-03-07 18:05] jamesgallagher-ie opened #5414 "What's the scope of OpenID Connect interaction with identity provider functionality?"
Does OpenID Connect authorization affect API access only or can it replace the use of 'Username and password' as an Identity Provider when accessing developer portal content?

My goal is to replace Username and password with an [company] approved mechanism to authenticate (and so create or invite) a developer such that we're not storing their registration data (name & email address) in Azure. Need

[2018-03-07 18:07] sethmanheim commented on #5309
Thank you again for the feedback @bearrito, it was very valuable. CXP team, #please-close

[2018-03-07 18:09] bdcoder2 commented on #5131
The code example on the original request (content page) still needs to be updated, i.e.:

[code]
should be

[code]

that is: "CosmosDB" should be changed "DocumentDB" in all instances; otherwise, the code will not compile and "CosmoDB" is an unknown name / reference.

[2018-03-07 18:10] amanarneja commented on #5412
@daviburg Thanks for the feedback! I have assigned the issue to the content author to investigate and update appropriately.

[2018-03-07 18:12] billmath commented on #5351
@micahmckittrick, the customer is asking about a pre-requisite for a Windows Server 2008 R2 hotfix in the KB https://support.microsoft.com/en-us/help/2386717/the-enforce-password-history-and-minimum-password-age-group-policy-set

This is a support question and not a clarification question on the doc mentioned.  Only support would be able to answer the questions on their KBs.

[2018-03-07 18:19] ggailey777 commented on #5265
@ericbrunner I will have to find out why this query string got added to the template, since it breaks the quickstart and the testing in the portal.

[2018-03-07 18:20] amanarneja commented on #5409
@artisticcheese Thanks for reporting! We are investigating and will update the doc as appropriate.

[2018-03-07 18:22] ScottAzure commented on #5050
made the change to the GitHub article that this content is under. Should change in a couple of days. We have an open item to discuss Linux content and how CLI is referenced more for Powershell.

[2018-03-07 18:31] amanarneja commented on #5405
@johnwildes Thanks for the feedback! We will investigate and update the experience as appropriate.

[2018-03-07 18:31] MicrosoftGuyJFlo commented on #5330
On first time registration for SSPR this will show up for the user.

[2018-03-07 18:32] amanarneja commented on #5404
@Jeroen-Priester Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-07 18:34] amanarneja commented on #5402
@laultman Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-03-07 18:38] amanarneja commented on #5401
@greatwallx2 Thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-03-07 18:38] #5401 closed

[2018-03-07 18:40] micahmckittrick commented on #5351
Thanks @billmath for clarifying.

@jrochet I did some research and the PDC role should be installed on your on premise DC if it is being used as your Primary Domain Controller (PDC)

As per your question if you are installing AD Connect on a secondary DC that is not running PDC then you should not need to install this hotfix.

[2018-03-07 18:40] #5351 closed

[2018-03-07 18:41] amanarneja commented on #5403
@mguntli Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-03-07 18:44] jimdial commented on #5404
#in-process

[2018-03-07 18:44] amanarneja commented on #5398
@arcotek-ltd Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-03-07 18:44] KumudD commented on #5369
The doc is being updated. Thanks!
#in-process

[2018-03-07 18:45] CeciAc opened #5415 "Update Request on "active-directory-aadconnect-faq" article"
@o365tatsuyan commented on [Sat Nov 25 2017](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/395)

Describe your request:
The following documentation should be fix or updated. Because "Soft match" is supported based on proxy address for groups and contacts.

Title : How to use SMTP matching to match on-premises user accounts to Office 365 user accounts for directory synchronization
URL :

[2018-03-07 18:46] woutervanranst opened #5416 "Directory permission is needed"
I get the following error on the "az aks create" step:
Directory permission is needed for the current user to register the application. For how to configure, please refer 'https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal'. Original error: Insufficient privileges to complete the operation.

---
#### Document Details

⚠ *Do not edit this se

[2018-03-07 18:46] tcb1986 commented on #5359
Most likely my mistake, I'm attempting some updates now to see if I can get Microsoft.Azure.ServiceBus 2.0 working on this device. I am still using VS2015. Part of my confusion is from the NuGet package error message.

error: Package Microsoft.Azure.ServiceBus 2.0.0 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0).
Package Microsoft.Azure.ServiceBus 2.0.0 supports:
error:   - net461

[2018-03-07 18:46] tdykstra commented on #5131
I have a PR to fix that and am just waiting on a review before I can sign off on it to get it merged. I hope to get that done today.

[2018-03-07 18:49] amanarneja commented on #5397
Thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/217298-storage.  This will allow the community to upvote and for the product team to include into their plans.

We also have the "Give Product Feedback" button in our documents now, to take you directly to the appropriate feedback page.

[2018-03-07 18:49] sethmanheim commented on #5359
@tcb1986 Yes -- I think that if you update your .NET Core to version 2.0 (links should be in the article), that error should disappear. I understand that the different libraries and library versions can be confusing.

[2018-03-07 18:51] GarthOlivier opened #5417 "Details of "createOptions": "{}""
Need to add 2 volume shares to Edge Module.
Create options need to have volumes added, but find no examples of how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa-7dde-c18f-be9505b00a0a
* Content: [Azure IoT Edge module composition

[2018-03-07 18:52] neilpeterson commented on #5416
@woutervanranst when creating an AKS cluster, if a service principal is not specified, one is automatically created. My guess here is that your account does not have access to create a new service principal. If this is the case, one option is to have someone with access pre-create the SP for you, or used an existing SP.

These options are detailed here:

https://docs.microsoft.com/en-us/azure/aks/

[2018-03-07 18:53] amanarneja commented on #5415
@CeciAc Thanks for all the efforts here! I have assigned the issue to @billmath to continue working on this.

[2018-03-07 18:59] CeciAc opened #5420 "SQLState = 08001, NativeError = 53"
@Armin-FB commented on [Fri Jan 19 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/68)

Hi,

i'm trying to import data to my azure sql database via a csv-file like that:

[code]

But I'm keep getting this error-message:

SQLState = 08001, NativeError = 53
Error = [Microsoft][ODBC Driver 13 for SQL Server]A network-related or instance-specific error has occurred while establishing a

[2018-03-07 19:06] ajamess commented on #5410
I responded above - is there a way to close this request?

[2018-03-07 19:11] neilpeterson commented on #5416
#in-process

[2018-03-07 19:17] joeshepherdmba opened #5421 "Missing step"
There is a step missing in the installation phase. Azure currently asks you to set a service principle and to chose a Cloud Agent Model (ACI or VM).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50161e-7d27-2c8d-8be9-7e48aec40a06
* Version Independent ID: b6443dd4-1018-e9d1-8c9c-e3d32615690a
* Content: [Create a Jen

[2018-03-07 19:25] mike-urnun-msft commented on #5374
@Osypchuk Thanks for your feedback. We will investigate and update on it soon.

[2018-03-07 19:27] kgremban commented on #5417
@GarthOlivier are you asking about what the value should be when you're creating the container, using the volumes property? Reference: https://docs.docker.com/engine/api/v1.32/#operation/ContainerCreate

[2018-03-07 19:27] kgremban commented on #5417
#in-process

[2018-03-07 19:30] mike-urnun-msft commented on #5376
@hiraldesai Thank you for your feedback! I have assigned this issue to the author to   investigate further and take the right course of action.

[2018-03-07 19:33] mike-urnun-msft commented on #5377
@nikhildhawan Thank you for your feedback! We will investigate and take the right course of action.

[2018-03-07 19:36] mikeazurecxp commented on #5377
The following is a tutorial of the Azure Copy Data Tool. In this tutorial, the input and output is Azure Blob Storage but, there is an option to select a different output target.

https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-copy-data-tool#start-the-copy-data-tool
Step 7  specifies to select an Azure Blob Storage account and I am suggesting you modify this tut

[2018-03-07 19:37] mike-urnun-msft commented on #5378
@nikhildhawan Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:38] akramwaseem commented on #5304
@micahmckittrick , I am trying to install the OMSAgent extension through ARM Template for VMSS and VM and I was able to see the extension got installed but it is not pushing logs to loganalytics.
I did some debugging and I found that OMI server is not running. I mean OMI server , agent, engine are not running. I tried the scenario 3 to 5 times and it is the same issue every time.

[2018-03-07 19:41] mike-urnun-msft commented on #5380
@dcbrown16 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:42] mike-urnun-msft commented on #5381
@jithinjosepkl Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:43] mike-urnun-msft commented on #5382
@BitBender1 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:43] mike-urnun-msft commented on #5383
@guptapuneet Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:44] mike-urnun-msft commented on #5385
@hisasima Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:44] mike-urnun-msft commented on #5386
@ericbrunner Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:44] #5397 closed

[2018-03-07 19:45] mike-urnun-msft commented on #5388
@Walter-Shui Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:46] mike-urnun-msft commented on #5390
@thomasmktong Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:46] FrederikLeed commented on #5330
Yes, but what about changes to existing? Also, one **could** consider it a security risk, that users (or someone with a non-mfa regitrered users username+pwd) is able to enter 2. factor details.

[2018-03-07 19:47] mike-urnun-msft commented on #5391
@gsuttie Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:47] mike-urnun-msft commented on #5393
@ezio2907 Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-07 19:48] mike-urnun-msft commented on #5394
@NicklausBrain Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:48] mike-urnun-msft commented on #5396
@creationsoft Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-07 19:49] #5290 closed

[2018-03-07 19:50] mike-urnun-msft commented on #5407
@yaroman Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:50] #5291 closed

[2018-03-07 19:51] mike-urnun-msft commented on #5411
@saulcruz Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-07 19:51] mike-urnun-msft commented on #5414
@jamesgallagher-ie Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-07 19:52] saulcruz commented on #5411
@mike-urnun-msft  thanks, I think the answer is as simple as:

[code]
Thanks

[2018-03-07 19:58] cephalin commented on #5380
@dcbrown16 Thanks for bringing this up. Yes, the article has been in need of an update for quite some time. I've created a internal work item to track this: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1202353.

[2018-03-07 19:58] #5299 closed

[2018-03-07 20:05] MicrosoftGuyJFlo commented on #5330
Work is being done to allow organizations to lock down registration to trusted areas. Changes to existing registration info are in the works. A Graph API for setting and changing security info is coming soon but no dates to share.

[2018-03-07 20:25] JoNevi opened #5426 "What are the max dates for RunStartedAfter and RunStartedBefore?"
How far back does ADF v2 keep run data for?  e.g. can Get-AzureRmDataFactoryV2PipelineRun be used to query for a full year's worth of runs?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf124c4c-3ba1-57ed-3679-8539f2a311fc
* Version Independent ID: 4b32b092-c4ad-74aa-58d3-75449d87d306
* Content: [Programmatically moni

[2018-03-07 20:31] Osypchuk commented on #5374
As I am digging further, it looks it is possible to pass user features and actions to choose from within Rank API, but it is hard to build proper request without any details.

[2018-03-07 20:37] Osypchuk commented on #5374
I am updating current state of my experiment to https://gitter.im/Microsoft/mwt-ds since gitter suggested as communication channel in one of videos

[2018-03-07 20:39] MandiOhlinger commented on #5412
@amanarneja Actually, I'm not the content author. ms.author shows klam as the author. @kevinlam1 - It seems this one is for you.
@daviburg It would be better to make these changes in the private repo (https://github.com/MicrosoftDocs/azure-docs-pr/tree/master/articles/logic-apps). Just a suggestion.

[2018-03-07 20:45] billmath commented on #5394
@NicklausBrain  Thank you for your feedback.  I have created a work item for this and will be incorporating your feedback into the re-design of this page.  Currently we are working  on replacing this page with a new version but I do not have an eta on when it will be ready.

Let me know if there is anything else.  Otherwise I will go ahead and close this issue later today.  thanks!

[2018-03-07 20:47] billmath commented on #5111
@amanarneja  please-close

[2018-03-07 20:49] billmath commented on #5368
@kellybos  I have created a work item for this and will be updating this doc in the near future.  Thank you for the feedback.  Let me know if there is anything else I can do, otherwise I will go ahead and close this issue later today.  Thanks!

[2018-03-07 20:53] joeshepherdmba opened #5427 "Missing Bash Installation steps"
It would also be nice to at least provide links or guidance on how to install and run the bash commands that are discussed in this article. If someone is trying to learn complete steps are very important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50161e-7d27-2c8d-8be9-7e48aec40a06
* Version Independent ID: b6443

[2018-03-07 20:54] billmath commented on #5415
@CeciAc Thank you for the feedback.  I currently have another soft match issue I am looking at and I am hoping to get some more information for engineering on the logic so we can document the specifics.  It may be another day or two, but I will follow-up once I know more.  Thanks!

[2018-03-07 20:55] billmath commented on #5415
@CeciAc Also, what PM confirmed that?  I would like to follow up.  You can send in email if you prefer.  Thanks!

[2018-03-07 20:57] MNF opened #5428 "Do not catch just to throw"
catch (DocumentClientException de)
    {
        throw;
}
Is anti-pattern; it is useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 557827fd-e323-7b37-2fb8-a2b6d5c10811
* Version Independent ID: 9b04167b-a8f8-d252-971e-e39b181ce589
* Content: [Azure Cosmos DB: SQL API getting started with .NET Core tutorial | Micro

[2018-03-07 20:59] mikeazurecxp commented on #5389
It looks like that has been deprecated, and there is now an Azure PowerShell. The following link below summarizes the change:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-migrate-management-alerts
My question to you is if this is something you have used in the last couple months, as the document references a change made effective October 1, 2017.

Furthermore, the A

[2018-03-07 21:41] ShevaDas commented on #5405
I've reported this to the OneNote team and will update when I hear back.

[2018-03-07 21:45] melzoghbi opened #5430 "correction for step 5 for azure container registry"
In this article: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module#feedback

Instead of step #5, you can replace the docker login step by logging into the azure container registry since the current step did not work at all.

az acr login -n ACRNAME --resource-group ACR_ResourceGroupName

Then when you execute step #6, it will execute with no issues and we should add step #7 to

[2018-03-07 21:45] GarthOlivier commented on #5417
Correct that where I am looking but could not find examples to base on.
I am trying to do the following:

Automate following command
docker run -ti -v f:/:/thumbdata -v C:/:/iotdata bnsfiotreg.azurecr.io/xxxxxxxxxxxxxxxxxxxx:latest /bin/bash

This is the closest, I have to working but could not bind .... I have also tried mounts
{
  "Volumes": {
    "/iotdata": {} , "/thumbdata": {}
  }
}

I am al

[2018-03-07 21:46] cocowalla opened #5431 "Max concurrent receive requests"
`Number of concurrent receive requests on a queue/topic/subscription entity: 5,000`
To clarify, is this regardless of whether the requests are made with AMQP or REST?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
* Cont

[2018-03-07 22:01] jlian commented on #5406
@DaveStabilify can you please clarify? I tried each process just now and don't see anything that the documentation is wrong about.

[2018-03-07 22:04] SiloReed opened #5433 "Azure Portal UI has changed around backend pool target selection"
The UI shown in this section has changed:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster#configure-the-load-balancer-backend-pool

If I am not mistaken, using the new UI, there is a "Associated to" drop-down where the user should select the availability set that was created from the SQL cluster. Once the availability

[2018-03-07 22:11] ShevaDas commented on #5405
#in-process

[2018-03-07 22:15] MohitGargMSFT commented on #5414
@jamesgallagher-ie Yes you are correct that OpenID Connect authorization affect API access only.

You have an option to add different Identity providers from the list of options available in the drop-down. However, regarding the scenario you described above, delegation seems to be the option to go for.

[2018-03-07 22:15] #5414 closed

[2018-03-07 22:30] VebitcoinTeknoloji opened #5434 "sample is not up to date and doesn't work"
Please write this code (specialy AuthenticateAsync) and try to run. You should compile first if you can.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b71cb7-eff8-35eb-cd40-12201ba29383
* Version Independent ID: cf03bc98-858c-7ed4-68f3-d83136ab2746
* Content: [Add authentication to your Universal Windows Platform (U

[2018-03-07 22:38] mikeazurecxp commented on #5407
Did you run this query in MS SQL Management Studio when connected to a DB instance other than the instance you intended? Can you provide a screen capture showing this issue, as I need some additional context, if that is possible.

[2018-03-07 22:46] jamesgallagher-ie commented on #5414
Thank you very much for such a quick response

[2018-03-07 23:04] jricha34 opened #5436 "Bug in script regarding secure ldap"
The final script and the intermediate step 2 has a bug where the Secure LDAP rule is created but is not added to the Network Security Group

# Create the NSG with the rules above (if you need the remote desktop rule and secure ldap rule, add it below)

Should probably be:
$nsg = New-AzureRmNetworkSecurityGroup -ResourceGroupName $resourceGroup -Location westus `
-Name "AADDomainServices-NSG" -Secu

[2018-03-07 23:06] micahmckittrick commented on #5388
Fixes MicrosoftDocs/azure-docs#5387

[2018-03-07 23:10] clownwilleatme opened #5437 "Missing link in "Next steps" for Azure Database Migration Service"
The markdown in the Next steps area for this item is not correct, and isn't displaying a link:
For a tutorial using the Azure Database Migration Service (DMS) for migration, see [Managed Instance migration using DMS]../dms/tutorial-sql-server-to-managed-instance.md).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1

[2018-03-07 23:17] mike-urnun-msft commented on #5388
@Walter-Shui We have made the necessary change and sent the PR as per our process. Once the merge occurs, change should reflect on the live site, and this issue will auto-close. Thank you for your contribution!

[2018-03-07 23:31] micahmckittrick commented on #5304
Thanks for the update @akramwaseem! Sorry to hear you are having issues with the OMI extension. Glad to hear you were able to open a ticket with them. Having the ability to work with you one on one I am sure they will be able to help you get it figured out.

In regards to the docker extension, I did some digging and you are right! Reviewing their GitHub repro I found the Docker Extension for Linux

[2018-03-07 23:56] micahmckittrick commented on #5390
@thomasmktong you are correct. This doc is made specifically for Virtual Machines that were not created as managed disks. Good find and I think we should call this out on the doc to begin with.

You should be able to follow the this script to achieve what you are looking to do using Manged Disks:

[code]

Taken from here: https://blogs.technet.microsoft.com/mckittrick/how-to-rebuild-from-an-existi

[2018-03-08 00:32] CarlRabeler commented on #5437
Fixing now

[2018-03-08 00:34] dcbrown16 commented on #5380
Great, thank you!
We also noticed some confusion in the messaging about retention for Web server logging. My understanding is that these logs always get deleted since the quota can be set up to 100 MB, after which the oldest logs get deleted. The documentation and portal notice that "By default, logs are not automatically deleted" contradicts this and needs to be clarified.

[2018-03-08 00:34] CarlRabeler commented on #5437
thanks @amanarneja @mike-urnun-msft

[2018-03-08 00:35] mike-urnun-msft commented on #5420
@CeciAc Thank you for bringing this to our attention! We will investigate and get back to you with our findings.

[2018-03-08 00:38] mike-urnun-msft commented on #5428
@MNF Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-08 00:38] mike-urnun-msft commented on #5430
@melzoghbi Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-08 00:39] amanarneja commented on #5437
@CarlRabeler You got to it before me ! Thanks for the quick followup :)

[2018-03-08 00:39] mike-urnun-msft commented on #5433
@SiloReed Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-08 00:40] mike-urnun-msft commented on #5434
@VebitcoinTeknoloji Thank you for your feedback! I have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-08 00:43] giemch opened #5443 "Outdated screenshots"
Please update the screenshots. I was able to figure it out but it was tough to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect a Web API backend with Azure Active Directory and API Management |

[2018-03-08 00:58] CarlRabeler commented on #5437
#please-close
https://github.com/MicrosoftDocs/azure-docs-pr/pull/34858

[2018-03-08 01:00] rwike77 commented on #5253
@wminos  If you're using an existing key vault, you need to enable  access to Azure Virtual Machines for deployment on the key vault.  You can do this:
1- in the Azure portal.  Go to your key vault->access policies->advanced access policies
2- or, by running  Set-AzureRmKeyVaultAccessPolicy -VaultName MyVault -EnabledForDeployment

[2018-03-08 01:08] JatinBavishi opened #5444 "Requesting doc updates in the "App Service limit" section"
Need to add the Isolated plan pricing sku to Current App Service L:imits table. Currently, it only shows up to Premium. But now we also have Isolated pricing sku offering. Also, the (preview) need to be removed next to Premium as this is not in preview any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3

[2018-03-08 02:13] #5309 closed

[2018-03-08 02:14] #5337 closed

[2018-03-08 03:21] sateeshmachineni opened #5445 "Unclear statements"
This seems to be unclear, can you please elaborate "35 TB reserved storage space, and every database file is placed on 128 GB storage allocation unit. Databases with many small files might be placed on 128 GB units that in total exceed 35 TB limit. **In this case, new databases cannot be created or restored,** even if the total size of all databases do not reach the instance size limit."

---
####

[2018-03-08 04:09] kylecharmon opened #5446 "Actual Disk sizes"
If I create a managed disk with a size of 100 GB is it really 100 GB or is it actually 102400 MB?  Or is it 97.65 GB (i.e. 100,000 MB)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked question

[2018-03-08 04:19] pappavic opened #5447 "The bash script results in Provisioning failed on version 3.0.111"
This is the Status Message shown on the portal:
Extension operation Daemon failed:'ascii' codec can't encode characters in position 272-274: ordinal not in range(128)

Initially the script looks like it completed fine and status is "Provision Succeeded" (Message: Enable succeeded, extension daemon started), however after about 15-20 mins the status changes to "Error" and the above message is shown

[2018-03-08 04:21] TrixM opened #5448 "Improved check for Service Connection Point"
In step 1, the syntax to query the service connection point in the Configuration container didn't work for me. I used the following commands instead:
$svc = get-adobject "CN=62a0ff2e-97b9-4513-943f-0d221bd30080,CN=Device Registration Configuration,CN=Services,CN=Configuration,DC=[forestNC]" -properties keywords
$svc.keywords

Tested on Server 2008 R2 and up.

---
#### Document Details

⚠ *Do not e

[2018-03-08 04:44] LRomano72 commented on #5361
Ok so just to be clear and to describe a specific scenario:  Auditing is enabled at the Server level, Data Classification used/enabled at the Database level, then if we use the SQL sys.fn_get_audit_file() function to load the Server Audit XEL files, Will the new Data Classification column be there?

[2018-03-08 05:28] rcsprakash commented on #5336
@ggailey777 I don't want to access all the documents from cosmos db.  My requirement is different, I want to compare the modified document with its previous status, so that I can identify which property of the document got changed exactly and do some process based on that. Like in SQL magic tables(inserted&deleted) used in SQL trigger. Do we have anything like that in COSMOS DB?

[2018-03-08 06:29] ggailey777 commented on #5386
@ericbrunner sorry this topic is such a mess. It looks like there are multiple copy-paste errors in this topic where Blob should be Queue or HTTP trigger. The commit above should fix these issues.

[2018-03-08 06:55] FrederikLeed commented on #5330
Thank you very much for shedding some more light on the roadmap of this subject it really help in planning.

[2018-03-08 07:43] #5386 closed

[2018-03-08 07:56] nikess opened #5449 "Log shipping restore"
Couldn't find it explicitly in the docs - is log shipping supported as a migration path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database Managed Instance Overview | Microsoft Docs](https://d

[2018-03-08 08:18] linda33wj commented on #5252
Seems no further question coming in...

#please-close

[2018-03-08 08:21] santifdezmunoz opened #5450 "Typo"
In section Works with all your Azure data, there is a typo in the sentence "Data Lake Analytics worsk with Azure Data Lake Store". It should be works instead of "worsk"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef932d0-c361-107f-aec6-a101609d45d7
* Version Independent ID: c0d13e2b-f764-2e15-6630-b305e0209993
* Co

[2018-03-08 08:42] mrdfuse opened #5451 "not possible to deploy with app level credentials?"
Is it not possible to deploy with app level credentials? This doc says it should: https://docs.microsoft.com/en-us/azure/app-service/app-service-deployment-credentials
I keep getting unauthorized though, I used the credentials found in the publish profile. Tried all variations of the username.
It does work with user level credentials but according to the documentation you can deploy to every app w

[2018-03-08 08:47] 90abyss opened #5452 "How to get "email" of the logged in user when using Azure Active Directory B2C?"
I'm following the documentation here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-aad-custom

Everything is working fine and I'm able to get the token as well. The only thing missing is I'm not able to get the email address of the logged in user. From what I gather it's missing in the output claims on the code in the above link:

[code]

I tried adding th

[2018-03-08 08:52] okhoma opened #5453 "Why must the resource group be empty?"
What is the reason to require empty resource group for Geo AI DSVM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9bfa7b2-00dd-da73-8988-3b7cf1d8ff76
* Version Independent ID: 7b54142b-ac61-e31c-cae5-c3d0f2381b6b
* Content: [Provision a Geo Artificial Intelligence Virtual Machine on Azure - Azure | Microsoft Docs](ht

[2018-03-08 08:52] femsulu commented on #5277
@SteveBurkettNZ - fyi, the [article](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-app-insights-connector) has been corrected based on your feedback. Thanks again for bringing this to our attention.

[2018-03-08 08:55] #5277 closed

[2018-03-08 08:58] femsulu commented on #5284
@PatrickvEk, following up to my previous response. Kindly let me know how you would like to move forward with this.

[2018-03-08 09:23] jrochet commented on #5351
Thanks @micahmckittrick-msft.  I saw Bill Mathers' comment and thought oh great, now I see why they switched to GitHub from the old comments system.  Classic.

But then you pulled through!  Much appreciated.

[2018-03-08 09:24] femsulu commented on #5252
issue closed per Linda's update

[2018-03-08 09:24] #5252 closed

[2018-03-08 09:34] wminos commented on #5253
in two examples,
'az cli create' create user access policy in vault,
but 'New-AzureRmServiceFabricCluster' don't create user access policy in vault.

user policy was made after 'az cli create' like below, but powershell command don't.
![screenshot 2018-03-08 18 29 27](https://user-images.githubusercontent.com/36513305/37143657-27c18968-22ff-11e8-99a5-36c89724cb1f.png)

[2018-03-08 09:37] abhijeetgaiha commented on #5447
Please provide your LAD config file here:
https://github.com/Azure/azure-linux-extensions/issues/536

[2018-03-08 09:51] femsulu commented on #5366
I can confirm the fix is now [live](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics-schema).  closing issue as resolved.

[2018-03-08 09:51] #5366 closed

[2018-03-08 09:53] PatrickvEk commented on #5284
Hello @femsulu,

My goal in sharing this script is enabling the community to toggle alerts in an automated way.
I think the simplest way is to incorporate the script into the published document so the community has a way to enable/disable alerts.
A new powershell cmdlet would also solve this problem of course, but that might be more work to realise.

[2018-03-08 11:09] femsulu commented on #5284
Thanks for clarifying @PatrickvEk. I have shared your latest update with the content author to review and determine next best approach.
Re: new PS cmdlet, I think this is really good feedback you can share directly with the Azure Monitoring team via https://feedback.azure.com/forums/602299-azure-alert-management

[2018-03-08 11:49] cephalin commented on #5380
@dcbrown16 Awesome. Thanks so much for the helpful feedback.

[2018-03-08 11:58] chris9263 opened #5455 "includedEventTypes type names"
Tried using this example when setting up eventgrid to function app, could not get blobCreated nor blobDeleted to work, in the portal I noticed that the type specified when manually creating the subscription was Microsoft.Storage.BlobCreated.

When I used Microsoft.Storage.BlobCreated and .Storage.BlobDeleted I managed to get the deployment and subscription working.

Is there a bug somewhere, or is

[2018-03-08 12:03] githubavi opened #5456 "Skip Event processing based on event type"
Hi, is there any way I can skip certain events by checking some flag in the incoming event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffc27b98-907f-c57f-6db5-155d70b59868
* Version Independent ID: 6b7a3689-8eed-2234-be23-6ae0fe73db20
* Content: [Receive events from Azure Event Hubs using the .NET Framework | Micros

[2018-03-08 12:09] woutervanranst commented on #5416
Yep correct - I used the wrong directory when creating

[2018-03-08 12:11] woutervanranst opened #5457 "Consistency in <acrName>"
In the previous steps (1 and 2), you use <acrName> as a variable. In the below it's "myACRRegistry". Suggest to replace by <acrName>

ACR_ID=$(az acr show --name myACRRegistry --resource-group myResourceGroup --query "id" --output tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5

[2018-03-08 12:49] PatrickvEk commented on #5284
Thank you, glad to help :)
I will share the feedback with the Alert management team as well.

[2018-03-08 12:55] wmrichard opened #5458 "Releasenotes for App Service 1.1"
Great to see that version 1.1 of Azure App Service for Azure Stack is now live. Are there any release notes / change log available for this release? I didn't see them on the 1802 update page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ee2047-e51e-cf36-1bde-6919b2c5f3cf
* Version Independent ID: c4e207d0-be8b-8096

[2018-03-08 13:13] JazzyWagdaddy opened #5459 "Update docs to reflect the costs of running VMs in an Availability Set"
Our docs don't clearly articulate that you will be charged for every VM that you place into an availability set, which only makes sense.   While there is no line item charge for the actual availability set itself, you will incur regular charges for the VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2088898f-dda1-7

[2018-03-08 13:25] yaroman commented on #5407
I am connected in MS Management Studio v17.5 to MASTER. All Azure DWs shown ONLINE. I was interested in PAUSED status specifically. For this reason I cannot be connected to a specific DW.

![image](https://user-images.githubusercontent.com/10407137/37153294-2eaf142a-22aa-11e8-9529-057ba70c1591.png)

[2018-03-08 13:32] llauner opened #5460 "Intermixing the Cosmos DB: MongoDB API with the Cosmos DB: DocumentDB API"
I'm experiencing this exact behaviour:
https://social.msdn.microsoft.com/Forums/en-US/e0ffdbcd-0b43-4cd5-9d21-1a95ce0279dd/mongodb-contains-v-and-t-in-query-result?forum=azurecosmosdb

Is there a way to update the trigger so that it returns a standard mongoDB json as opposed to the json containing $t and $v ?
The DocumentDB API is not available anymore in CosmosDB, so how come the trigger is still

[2018-03-08 13:35] Bodewes opened #5461 "tablesinkname shoud be the name of a parameter in a stored procedure."
In paragraph "Create a pipeline" , step 15c, the screenshot tells to fill the parameter 'SinkTableName' with the variable tablename from the item()-collection. This should be the parametername from the stored procedure created earlier). In the example it works because they happen to be the same (the parameter is also called 'customer_table' just as is the name of the table in the database).

---
#

[2018-03-08 14:00] llauner commented on #5460
Edit:
The above tutorial assumes that we're using the SQL API.
This does not work with a cosmosDB configured with the MongoDB API
Any chance to have the same feature supported with mongoDB ?

[2018-03-08 14:42] gfk76 opened #5462 "Location no needed"
The location parameter is not needed.
"location": {
        "value": "Central US"
      },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a15d4244-810e-0b94-0ac2-0544402bc733
* Version Independent ID: ccbaedf9-e1af-51c7-2ef1-aa7455291cf0
* Content: [Create a virtual network | Microsoft Docs](https://docs.microsoft.com/

[2018-03-08 15:00] rofehaim opened #5463 "Error while deploying the template"
while deploying the template, resource Microsoft.ServiceFabric/clusters/applications/services get an error with message: "Application name must be a prefix of service name. Requested application and service name" although service name set as mentioned above ("name": "[concat(parameters('clusterName'), '/', parameters('applicationName'), '/', parameters('serviceName'))]")

---
#### Document Details

[2018-03-08 15:13] spottedmahn opened #5464 "Document the prompt parameter"
When requesting a token there is a prompt parameter to control:

This parameter is not documented though.  What are all the options?

I know of:

- `select_account`
- `login`
- `none`

There are some references to the parameter like here: [OAuth 2.0 authorization code flow: Use an edit-profile policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-

[2018-03-08 15:16] tsrob50 opened #5465 "Audit Policies"
I had issues with a GPO overwriting the auditpol.exe local “audit.csv” settings file for auditing success and failures on Application Generated events.  Be design, if there are advanced audit settings pushed to the AD FS server, any changes with auditpol.exe will be overwritten (event if Application Generated is not configured).  My solution was to set the local security policy to log Application

[2018-03-08 15:25] m1nkeh opened #5466 "log.LogInformation"
where does log.LogInformation log to if you are running locally, and does it "automatically" log to AI when you are not running locally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions

[2018-03-08 15:29] michaelrhyndress opened #5467 "orderby works for Audit but not for Signin activity"
Found inconsistencies with the $orderby filter between Audit and SigninEvents.

https://graph.windows.net/{Tenant}/activities/signinEvents?api-version=beta&$orderby=signinDateTime does not work and gives error: "Query option 'OrderBy' is not allowed. To allow it, set the 'AllowedQueryOptions' property on QueryValidationSettings."

However, https://graph.windows.net/{Tenant}/activities/audit?api-ve

[2018-03-08 15:37] #5466 closed

[2018-03-08 15:37] m1nkeh commented on #5466
i actually read the doco properly ;)

[2018-03-08 15:41] Lthondre opened #5468 "Missing features"
I get the following error:
     Set-AzureADMSGroup : A parameter cannot be found that matches parameter name 'MembershipRuleProcessingState'.

I installed the AzureAD module using this command:
    Install-Module AzureAD -scope CurrentUser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2

[2018-03-08 15:53] srhallx opened #5469 "Code comment for How To De-Queue the Next Message is incorrect."
Current:     // Message text is in messages[0].messageText

Should be:    // Message text is in result[0].messageText

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663227e-b796-6acb-db37-8459eb5fb420
* Version Independent ID: dc2373d5-07c2-aec9-def8-f6d8d8b3a443
* Content: [How to use Queue storage from Node.js | Mic

[2018-03-08 15:56] mimig1 commented on #5251
@shriiitk - I haven't heard back, so I went ahead and opened the issue in User Voice here: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33569935-change-feed-support-for-sql-api-python-sdk
Please let me know if you have any questions.
#please-close

[2018-03-08 16:03] badbob001 opened #5470 "Any issues migrating from ASM cluster config to ARM cluster config?"
We built many azure SAP clusters based on the ASM/Classic design document a few years ago. We will soon use MS' migration scripts to migrate our ASM systems to ARM. Will the current classic/asm configuration still work after the migration?

The current ASM config uses two additional IPs per cluster: a virtual cluster ip and another ip that matches the ip of the load balancer (and has a probe port

[2018-03-08 16:06] mimig1 commented on #5428
Emailed @arramac about this issue.

[2018-03-08 16:09] mimig1 commented on #5391
@azure-cxp-triage Please reassign to me, I'm listed as the article author. Thanks!

[2018-03-08 16:09] mimig1 commented on #5391
#in-process

[2018-03-08 16:11] santosfn commented on #5453
Point 5 in Basics:
Resource Group: You can create a new one or use an empty existing Azure resource group in your subscription.

[2018-03-08 16:13] jricha34 commented on #5436
Thanks for the response! I completely understand. :) I apologize for missing that comment in the script. :)

Another possible method to handle this perhaps is to add some booleans at the top of the script where people are changing the other variables for the optional rules.

Thanks a lot team. I am just starting to get into the AAD stuff in anger again and look forward to digging more and more int

[2018-03-08 16:39] mimig1 commented on #5391
@gsuttie - Thanks for the feedback. You are correct, the using statement must be using Microsoft.Azure.Storage; I just filed a pull request to fix the article. But I am not getting an error when creating the table. Here's what my program.cs file contains:

using Microsoft.Azure; // Namespace for CloudConfigurationManager
using Microsoft.Azure.Storage; // Namespace for StorageAccounts
using Microso

[2018-03-08 16:43] KumaresanLakshmanan opened #5471 "Disable BGP route propagation functionality explanation needs to be updated"
The explanation given in this document for the feature Disable BGP route propagation - "prevents on-premises routes from being propagated to an Azure virtual network via BGP" is not the actual functionality. This has been requested by many customers to ignore the BGP routes while selecting the routes for traffic leaving Azure virtual network.

We have tested this feature 2 months back when it is m

[2018-03-08 16:55] neilpeterson commented on #5416
#please-close

[2018-03-08 17:00] AzureDataGeek opened #5472 "Install IoT Edge Runtime Failed"
sudo pip install -U azure-iot-edge-runtime-ctl

^^^ running that on my macbook failed.  However it succeeded when running with the --user option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart Azur

[2018-03-08 17:04] CarlRabeler commented on #5449
See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features - re: log shipping being built in - will add clarity re: not being a supported method

[2018-03-08 17:06] CarlRabeler commented on #5449
#please-close

[2018-03-08 17:07] MarekLani opened #5474 "Error when creating certificate for edge device"
When running command New-CACertsEdgeDevice myGateway I am getting following error: The variable '$_intermediateCertSubject' cannot be retrieved because it has not been set.
At C:\Users\mlani\Develop\IoT\AzureIoSDKForC\azure-iot-sdk-c\tools\CACertificates\ca-certs.ps1:228

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2018-03-08 17:09] nikess commented on #5449
Sorry, still not clear.  We want to migrate from on-prem, to managed instance,  by shipping logs, so overall downtime is very low. Since managed instance is proper SQL server, and you say it's "built in", is there any issue with this approach?  Thanks

[2018-03-08 17:09] sandervandevelde opened #5475 "Document flow feels incomplete:"
In the 'Deploy a SQL Server container section', at the very first step, we have to do something with a file named "deployment.json". Where is this file? (I know I can construct it from the Portal but I do not remember I have downloaded it yet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a587f44-2e8d-5ad3-1d22-76472

[2018-03-08 17:11] AzureDataGeek commented on #5472
Unfortunately after that, the next command "iotedgectl" is not found.

[2018-03-08 17:12] CarlRabeler commented on #5449
Log shipping is built in to Azure SQL Database – they edit that I am making is that currently the only two supported migration methods are backup / restore and DMS. Additional methods are possible for GA – I cannot speak definitively about which and when. This is just this initial public preview. Stay tuned. Sorry that I cannot be more precise.

From: nikess <notifications@github.com>
Sent: Thursd

[2018-03-08 17:20] mrbullwinkle commented on #5074
We are going to close out this issue, but if we missed anything please don't hesitate to open a new issue. Thanks again for helping make our docs better!

[2018-03-08 17:20] mrbullwinkle commented on #5074
#please-close

[2018-03-08 17:24] SyntaxC4 commented on #5314
Thank you for your feedback @jeremywhiteley!

We have an Issue open on our backlog to address this issue. It will be addressed in an upcoming sprint.

https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1125634

[2018-03-08 17:30] c016smith commented on #5410
Thanks for the response Ajames - yes I saw step 10, I just hadn't found that. So far it is still pretty clunky, but I'm curious if the website I'm trying to hit as a use-case is the problem. I finally found out where to collect and store the shared credentials in AAD, as well as how to set credentials specifically for a user in AAD for that app.  However, in execution it doesn't really work for th

[2018-03-08 17:31] gopitk commented on #5453
Thanks @santosfn . That is right. You can create a new resource group when you provision a Geo AI DSVM or add this to an existing empty resource group.

The Geo AI DSVM is an "Azure Application" on the Azure marketplace that uses the underlying [Data Science VM](http://aka.ms/dsvm/win2016)  VM image. Unlike VM images, Azure App have to be deployed in their own resource group.  This is a current li

[2018-03-08 17:38] MarekLani commented on #5474
Solution is to edit ca-certs.ps1 script in IoT SDK for C in directory: azure-iot-sdk-c\tools\CACertificates and add $_intermediateCertSubject   = "CN=Azure IoT CA TestOnly Root CA" to list of variables and load functions again using . .\ca-certs.ps1

[2018-03-08 17:39] artisticcheese opened #5476 "No documentation how to install Status Monitor in unattended mode"
Hello,

How do you instrument existing application which are installed in ServerCore or windows containers? Status Monitor executable is not MSI package and it's not available to install through proper modern package management solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c8adb27-7386-3e7a-7c8f-324a5206db

[2018-03-08 17:39] MicahMcKittrick-MSFT commented on #5351
@jrochet Well thank you! Glad we could help!

[2018-03-08 17:49] dlepow commented on #5311
Addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/34720, merging to master 3/8
#please-close

[2018-03-08 17:50] dlepow commented on #5311
Addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/34720, merging to master 3/8
#please-close

[2018-03-08 17:51] dlepow commented on #5275
Addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/34720, merging to master 3/8
#please-close

[2018-03-08 17:59] swhite-msft commented on #5312
@MicrosoftDocs/azure-cxp-triage please reassign to @MikeDodaro.

[2018-03-08 18:00] Mike-Ubezzi-MSFT commented on #5426
If the PipelineRunId is not specified, then it shows information about **all runs** for the specified pipeline that happened between the values of
    LastUpdatedAfter and LastUpdatedBefore.

**Help Output:**
PS Azure:\> help Get-AzureRmDataFactoryV2PipelineRun

NAME
    Get-AzureRmDataFactoryV2PipelineRun

SYNOPSIS
    Gets information about pipeline runs.

SYNTAX
    Get-AzureRmDataFactoryV2Pipe

[2018-03-08 18:02] douglaslMS commented on #5207
@JoNevi @Adam-Smith-MSFT Thanks for bringing this to our attention. The page has now been updated with the restrictions related to dashes in v2.

[2018-03-08 18:03] douglaslMS commented on #5207
#please-close

[2018-03-08 18:10] mrbullwinkle commented on #5323
@Ramji-S Currently preview Smart Detections rules do not natively support sending e-mail notifications. They will only generate an informational message in the portal. So you don't need to worry about individual's within your subscription getting spammed with unnecessary e-mails. Any of the non-preview Smart Detection rules give you the flexibility to override e-mail alerts to a select group of re

[2018-03-08 18:15] billmath commented on #5351
@jrochet, @MicahMcKittrick-MSFT  you are correct that Azure AD Connect does not need to be installed on the PDC.  However if you are using password-writeback in it may.

The PDC emulator receives preferential replication of password changes that are performed by other domain controllers in the domain, and it is the source for the latest password information whenever a logon attempt fails as a resu

[2018-03-08 18:16] #5251 closed

[2018-03-08 18:20] douglaslMS commented on #5426
@Mike-Ubezzi-MSFT Thanks for the info! Is there a limitation on how far back "all runs for the specified pipeline" goes? The original question from @JoNevi was, "How far back does ADF v2 keep run data for? e.g. can Get-AzureRmDataFactoryV2PipelineRun be used to query for a full year's worth of runs?"

[2018-03-08 18:22] okhoma commented on #5453
Thanks @gopitk, my issue was that I have been granted access to specific resource group that is managed by subscription admins and, though, I was allowed to provision virtual machines, I was unable to provision GeoAI DSVM as I do not have rights to create new resource groups.

Now, I, also, did not realize that it does not just create a virtual machine, but also its own virtual network, network se

[2018-03-08 18:25] mike-urnun-msft commented on #5450
@santifdezmunoz Thank you for bringing this to our attention. We have corrected the type and the change will reflect with the next scheduled merge.

[2018-03-08 18:29] snpdev opened #5480 "Steps to analyze web app logs with Log Analytics"
The document neither provides nor links to instructions on how to analyze logs with Log Analytics. I think it would be helpful for readers to know that this is an option, and also to know which web app logs may be analyzed with Log Analytics, and those that cannot, if that is the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-03-08 18:35] douglaslMS commented on #5298
@MohitGargMSFT I am the owner of this content. Please assign this issue to douglaslMS instead of my manager, JennieHubbard. Thank you!

[2018-03-08 18:36] douglaslMS commented on #5298
#in-process

[2018-03-08 18:41] gopitk commented on #5453
Thanks for the context on yoru scenario. We just simpliied the setup for users by not requiring any major pre-requisites like  VNET, NSG etc. Power users like you can of course try and use the existing VNet, NSG and RGs through extension resource on the base DSVM to add the Geo AI components like ArcGIS Pro though it is not the official way to use this product. Do let us know how it goes. This cou

[2018-03-08 18:45] georgewallace commented on #5344
@bennbatt8112 Thank you for filing the issue and taking the time to help our documentation.  The removal of a Hybrid Runbook Worker whether an Azure VM, VM in another cloud, or on-premesis is the same, using the Remove-HybridRunbookWorker cmdlet.

[2018-03-08 18:50] douglaslMS commented on #5298
@glstream Thank you for this suggestion to provide a Python example for this article, "Transform data using Spark activity in Azure Data Factory." We've added this task to our backlog.

[2018-03-08 18:51] douglaslMS commented on #5298
#please-close

[2018-03-08 18:56] csadam opened #5482 "API permissions missing"
In Interactive login part at Step 5, on the Select an API page, there is no 'Azure Analysis Services (SQL Server Analysis Services Azure)'.
I can see only the followings there:
Windows Azure Active Directory
Windows Azure Service Management API
Microsoft Graph
Office 365 Management APIs
(I have a configured Analysis Service model in my Azure account.)

---
#### Document Details

⚠ *Do not edit thi

[2018-03-08 18:56] wolftrace commented on #5252
@linda33wj Thank you so much for your reply.  My sincerest apologies for the delay in responding.

Had hoped to use "Import Schema" so that I could set up SQL tables to match.  Tried setting the sinks to use an Azure Table (also tried plain .txt blob file) , but still no success.

Populated Advanced Tab with the settings provided in the article you pointed to.

Able to run the "Debug" option, but

[2018-03-08 19:00] mimig1 commented on #5314
@Jeremywhiteley - How can we help you best here? Are you looking for a long term plan on documenting all the authentication patterns (which we have covered in https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1125634) or is there one sample that we can provide to unblock you in the short term? If you're looking for the long term plan, this documentation will be created and tracked in

[2018-03-08 19:02] SyntaxC4 commented on #5249
Thanks again, @WootJay.

The clarifying text has been merged. #please-close

[2018-03-08 19:07] femsulu commented on #5249
Closed.

[2018-03-08 19:07] #5249 closed

[2018-03-08 19:11] okhoma commented on #5453
Actually, when provisioning standard DSVM, all the same network resources seem to be created as well. However, in this case there is no requirement for a new empty resource group. We do have a bunch of DSVM all sitting in the same resource group with access to them managed as a whole.

So, really, if I want to have a DSVM with all its networking components in a separate group I can do it now if I

[2018-03-08 19:16] BryanTrach-MSFT commented on #5444
Thank you for the feedback @JatinBavishi . I will review and update the document as necessary.

[2018-03-08 19:16] MikeDodaro commented on #5312
@Nhoya Thanks, I think we can add client code examples in the Go language to the documentation.  Our samples are segregated by endpoints and languages. See the documents under Search: https://docs.microsoft.com/en-us/azure/#pivot=products&panel=ai
There are code samples for the REST APIs in several languages for each of the search endpoints: News; Video; Web; Entity; Image.
You could add an exampl

[2018-03-08 19:19] MicahMcKittrick-MSFT commented on #5446
@kylecharmon Great question!

If you create a new managed disk it will be 102397MB or 99.9GB

[2018-03-08 19:19] #5446 closed

[2018-03-08 19:19] BryanTrach-MSFT commented on #5445
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:22] rwike77 commented on #5253
@wminos  The 'az cli create' script example should work the same as the 'New-AzureRmServiceFabricCluster' script example.  I am not able to repro what you describe, the New-AzureRmServiceFabricCluster cmdlet should create a new key vault and also enable the access policy.  Can I ask you to open an issue on https://github.com/Azure/service-fabric-issues?  Then the engineering team can get involved

[2018-03-08 19:25] BryanTrach-MSFT commented on #5447
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:25] BryanTrach-MSFT commented on #5448
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:27] BryanTrach-MSFT commented on #5451
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:29] BryanTrach-MSFT commented on #5452
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:30] BryanTrach-MSFT commented on #5456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:30] BryanTrach-MSFT commented on #5457
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:30] BryanTrach-MSFT commented on #5458
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:31] BryanTrach-MSFT commented on #5460
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-08 19:32] BryanTrach-MSFT commented on #5461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:32] apwestgarth commented on #5458
The update has been pulled for now due to an issue with the installation package.  Will be made available again soon.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Trach <notifications@github.com>
Sent: Thursday, March 8, 2018 11:31:07 AM
To: MicrosoftDocs/azure-docs
Cc: Andrew Westgarth; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Releasenotes for Ap

[2018-03-08 19:33] BryanTrach-MSFT commented on #5463
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:34] BryanTrach-MSFT commented on #5467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:34] BryanTrach-MSFT commented on #5468
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:35] BryanTrach-MSFT commented on #5470
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:35] BryanTrach-MSFT commented on #5471
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:36] BryanTrach-MSFT commented on #5472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:36] BryanTrach-MSFT commented on #5474
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:37] BryanTrach-MSFT commented on #5475
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:37] BryanTrach-MSFT commented on #5476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:37] BryanTrach-MSFT commented on #5480
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:38] BryanTrach-MSFT commented on #5459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-08 19:43] jrochet commented on #5351
Thanks for the additional info.  I luckily am dealing with a scenario where all of the FSMO roles including PDC-e are assigned to newer Windows DC's and there's just a single straggler DC with Windows 2008 SP2 with no roles.  AAD Connect is actually installed on a separate member server, so the hotfix really seems like it won't be a factor.

We are enabling Password Writeback, to confirm, which is

[2018-03-08 20:00] JackXueIndiana opened #5483 "How can the throttling be monitored on an ongoing basis?"
Once one or more HDI created with the ADLS as default storage how we can monitor the throttling in an ongoing basis?
Thanks
Jack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b84b42a-8d29-f54b-2ba4-c4fa8c9047a8
* Version Independent ID: 97f0dad7-77f8-985b-ff3e-e62441b3cd17
* Content: [Use multiple HDInsight clusters

[2018-03-08 20:13] Jeremywhiteley commented on #5314
@mimig1   I can't access that link.  I get a permissions issue.  Long term that would be great!   Short term if you can point me to a code sample on git that would be great.   Key vault would work.   I very much appreciate your help and Microsoft being so open to helping customers.

[2018-03-08 20:19] MohitGargMSFT commented on #5448
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-08 20:22] MicahMcKittrick-MSFT commented on #5462
@gfk76 good catch!

I took a look at the links to the GitHub repro that are referenced and it seems the scripts located there are up to date. So we just need to update the script that is shown on this doc. As a side note, adding the location parameter does not impact anything negatively. Even if you set the location as something other than where you created the RG. The reason you do not need the l

[2018-03-08 20:32] ShaunInIdaho opened #5486 "Example JSON incorrect"
The sample json for the request body says "loggertype" : "AzureEventHub" and it should be "type" : "AzureEventHub".  The document you reference in this article also shows it this way: https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-logger-entity#PUT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-03-08 20:35] melzoghbi commented on #5430
Thanks @mike-urnun-msft

[2018-03-08 20:39] MicahMcKittrick-MSFT commented on #5459
@JazzyWagdaddy Appreciate the feedback on this! However, the purpose of this specific document is to explain managing availability of virtual machines not regarding the cost. It is correct that more VMs will incur more cost and utilizing an availability set for a high availability environment does mean paying for two VMs.

Ideally, when a customer is considering going this route they will see this

[2018-03-08 20:40] MohitGargMSFT commented on #5452
@90abyss You can refer to point 7 in this document section related to "[Using the new extension property / custom attribute in a user journey](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-create-custom-attributes-profile-edit-custom#using-the-new-extension-property--custom-attribute-in-a-user-journey)". Check this below output claim.

`<OutputClaim ClaimTypeRefe

[2018-03-08 20:41] #5462 closed

[2018-03-08 20:42] billmath commented on #5351
@jrochet Just wanted to follow-up as I had a chance to speak with one of the devs on this.  A DC or a DC with the PDC role is not a requirement for Azure AD Connect to do password writeback.  The hotfix only needs to be applied to a pre-SP2 2008 servers the has the PDC role.  But based on the info above, you have all SP2 or greater DCs so you shouldn't need the hotfix and should be good to go.

[2018-03-08 20:42] ShaunInIdaho commented on #5486
Actually, I believe the issue is that the new version of the api '2017-03-01' accepts loggertype but the referenced version '2014-02-14-preview' in the instructions does not and should be updated.

[2018-03-08 20:44] billmath commented on #5351
@jrochet  My bad I got SP2 and R2 mixed up, must be coffee time.  But if your FSMO roles are on newers servers you should be okay.

[2018-03-08 20:48] JazzyWagdaddy commented on #5459
I respectfully disagree. 😊

Customers are not seeing this as apparent, just do a Bing search for “availability set costs” or “costs of availability sets”.   The hits you get are old and/or incorrect.  We need to clearly state this once and for all.  Something simple like “each VM in an availability set will incur cost” or whatever our standard language is.

The pricing calculator needs to change a

[2018-03-08 20:50] MicahMcKittrick-MSFT commented on #5470
@badbob001 Without knowing your exact environment details it is difficult to say if your exact configuration in ASM will be the same when you migrate to ARM. That being said, the load balancing capabilities of an ARM load balancer have the same attributes you are using now in ASM but with additional features and ease of use.

I would suggest you take a look at the following docs to see if they hel

[2018-03-08 20:50] #5470 closed

[2018-03-08 20:53] 90abyss commented on #5452
Thanks for the reply Mohit. It's not working though.

Policy "B2C_1A_TrustFrameworkExtensions" of tenant "CXPB2CTenant.onmicrosoft.com" makes a reference to ClaimType with id "signInNames.emailAddress" but neither the policy nor any of its base policies contain such an element.Policy "B2C_1A_TrustFrameworkExtensions" of tenant "CXPB2CTenant.onmicrosoft.com" makes a reference to ClaimType with id "

[2018-03-08 20:54] tnewton81 opened #5487 "Incorrect weight information"
"Lower values represent a higher priority." - this does not seem correct and does not match the diagram shown in the documentation under weighted method.   We are also seeing that a higher weight gives a higher priority in testing.  Please clarify in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c

[2018-03-08 20:54] MicahMcKittrick-MSFT commented on #5459
@JazzyWagdaddy I have assigned this to the content author to take a look and consider your recommendations and update as they see fit.

 @iainfoulds please take a look at the above information and the doc and update as you see fit.

[2018-03-08 20:57] MicahMcKittrick-MSFT commented on #5458
Thanks for that information @apwestgarth !

@wmrichard I will close this out for now. Please let us know if you have any further questions.

[2018-03-08 20:57] #5458 closed

[2018-03-08 20:59] 90abyss commented on #5452
signInNames is a property for local accounts. I am looking at Msft AAD

[2018-03-08 21:00] 90abyss commented on #5452
can you please reopen the issue?

[2018-03-08 21:05] MicahMcKittrick-MSFT commented on #5447
@abhijeetgaiha would you prefer me to assign this one to you so they both can be closed at the same time?

[2018-03-08 21:10] iainfoulds commented on #5459
Thanks for the feedback, @JazzyWagdaddy . I get the point, but do we also then have to state that you are charged for each individual disk that is attached to a VM, for example? I can add the following sentence that defines there is no cost for the Availability Set itself:

Does this work as a compromise?

I believe there is on-going work to improve the functionality of the pricing calculator. I d

[2018-03-08 21:19] MicahMcKittrick-MSFT commented on #5451
@mrdfuse to clarify, are you having issues deploying a Function App with App Level Credentials using a Zip Push Deployment? Or are you have an issue with App level credentials in your functions apps in general?

[2018-03-08 21:20] JazzyWagdaddy commented on #5459
I’m a Microsoft employee BTW. 😊

Yes, your verbiage is perfect, that’s all I was asking for.

I did reach out to calchelp to see if they could update the calculator to accommodate availability sets.

Many Thanks!

From: Iain Foulds <notifications@github.com>
Sent: Thursday, March 8, 2018 4:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff Wagner <Jeff.Wagner@microsoft.com

[2018-03-08 21:22] MicahMcKittrick-MSFT commented on #5457
@woutervanranst Thank you for the suggestion. I have assigned this issue to the doc owner to investigate and update the document as appropriate.

[2018-03-08 21:26] iainfoulds commented on #5459
I've filed a PR to add that text. When the PR merges, this issue automatically closes. This update should publish and go live later on this afternoon. Hopefully calchelp respond to you, too!

[2018-03-08 21:30] rothja commented on #5157
@helderpinto I apologize for the delay, but we're still investigating this question. Thank you for your patience!

[2018-03-08 21:31] rothja commented on #5167
@mvark I'm confirming that SQL VMs are billed per second for both licensing and the VM. I assume that you are correct, but I appreciate your patience as I get final confirmation before changing the docs. Thank you.

[2018-03-08 21:33] nitinme commented on #5324
@bob-zhao-work - Thanks for your feedback. As you know, Azure Data Lake Store and Azure Storage are different services. Also, Data Lake Store does not expose a property that one can use to select the type of replication. So, I don't think it would be a good value add to add those replication terms here. If anything, it might actually confuse some users.

That said, I can add a note on the type of

[2018-03-08 21:45] #5459 closed

[2018-03-08 22:01] MohitGargMSFT commented on #5465
I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-08 22:05] #5329 closed

[2018-03-08 22:08] Mike-Ubezzi-MSFT commented on #5449
@nikess Have you had a chance to review the following document. It covers the available SQL Server to Azure SQL Server (single instance or pooled) migration options. This could be exactly what you are looking for:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-cloud-migrate

[2018-03-08 22:11] MohitGargMSFT commented on #5467
@michaelrhyndress Thanks for reporting. Please note that in the [Supported filter fields and operatorsSupported filter fields and operators](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-sign-in-activity-reference#supported-filter-fields-and-operators) section of the document it is mentioned that signinDateTime supports two kind of filter option date or dat

[2018-03-08 22:11] #5467 closed

[2018-03-08 22:13] #5188 closed

[2018-03-08 22:16] mmatturro opened #5493 "Broken Link"
It seems as though the link in Safari (Mac OS) is broken. Is an updated link available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9cfb97-d0f3-3cc1-a460-ff4e05530b92
* Version Independent ID: 3db82b30-1d14-1613-e473-13310e855ab2
* Content: [Azure AD Connect: Seamless Single Sign-On - quick start | Microsoft Docs]

[2018-03-08 22:20] KumudD commented on #5487
Thanks for your feedback. I will update the doc to clarify the priority for the weighted routing. Thanks!
#in-process

[2018-03-08 22:21] frankhu1234 opened #5494 "You can upload certs via the keys blade now"
the information at the bottom of this documentation isn't relevant anymore as you can modify certs by yourself now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd-bd0d-830c-84c7-0525657b6d4f
* Content: [Certificate credentials in Azure AD | Microsof

[2018-03-08 22:25] MicahMcKittrick-MSFT commented on #5472
@AzureDataGeek I followed the doc but did not have any issues when using a Linux VM. Unfortunately I do not have a Mac handy to repro your exact steps.

Assigning the issue to the content author to see if they have any suggestions.

@kgremban please take a look

[2018-03-08 22:27] #5380 closed

[2018-03-08 22:30] MicahMcKittrick-MSFT commented on #5463
@rofehaim I have assigned the issue to the content author @dkkapur to investigate this issue to determine if there is a problem with the template.

[2018-03-08 22:32] mimig1 commented on #5314
@Jeremywhiteley - Yes, that link is to our internal tracking tool, but we include it here so we can map back to your original issue. We will work on the key vault sample and will follow up by EOD tomorrow with progress.

[2018-03-08 22:33] MohitGargMSFT commented on #5468
Please install AzureADPreview module to fix it.

`Install-module AzureADPreview -AllowClobber`

[2018-03-08 22:33] #5468 closed

[2018-03-08 22:34] bernardw1 opened #5496 "How to set Provisioning Mode"
When I follow the steps above and go to the Samanage app > Provisioning > I only get the Manual mode. How do I get the Automatic mode that this documentation shows I should be able to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63881c47-4bd6-eebd-7f0d-6dcaa5317eb2
* Version Independent ID: 56fc1792-dd50-28cc-ea

[2018-03-08 22:35] #5416 closed

[2018-03-08 22:35] #5311 closed

[2018-03-08 22:35] #5298 closed

[2018-03-08 22:35] #5074 closed

[2018-03-08 22:36] #5140 closed

[2018-03-08 22:36] #5207 closed

[2018-03-08 22:36] nikess commented on #5449
Thanks Mike.

For option 1, backing up, copying (several) terabytes over the internet and restoring, is going to mean an unacceptable amount of downtime, no matter how you cut it.

2. Transaction replication is really clunky on massive, busy database, with hundreds of tables.  Limitations, no schema changes, etc. etc.

So unfortunately both options are undesirable to us (which is why we have been

[2018-03-08 22:37] #5275 closed

[2018-03-08 22:38] pkellner opened #5498 "Problem with included file"
I wanted to fix a couple lines in the include:

[!INCLUDE [Create resource group](../../../includes/app-service-web-create-resource-group.md)]

but could not figure out how to navigate to the embedded page.  The two problems I see are that for the command:

az appservice list-locations

you must specify the --SDK option or it does not work.

Also, when you enter anything with your git url, since t

[2018-03-08 22:42] pkellner commented on #5498
Also, I forgot to mention one more thing.  In the paragraph where you say:

I suggest you add some additional motivation for the reader by adding the sentence:

By doing this, you can easily delete all assets associated with your work here with one simple step. That is to delete this resource group.

[2018-03-08 22:43] GarthOlivier commented on #5417
solved it thru a lot of trying many options.
The document linked has a lot of information but getting a solution is not easy.
Suggest samples for different problems to be listed.

answer how to share drive in docker that can be placed in create-options:

        "HostConfig": {
            "Binds": [
                "/host_mnt/f:/thumbdata",
                "/host_mnt/c:/iotdata"

[2018-03-08 22:43] #5417 closed

[2018-03-08 22:43] BryanTrach-MSFT commented on #5444
fixes MicrosoftDocs/azure-docs#5444

[2018-03-08 22:44] yesoreyeram opened #5500 "Out of preview"
When MySQL and postgresql will be graduated from preview to first class components?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44ccefb2-29e2-1a70-25ca-ab12db082ec2
* Version Independent ID: fc93c2b3-1dd0-558b-453a-0fe32c30df86
* Content: [Create and manage Azure Database for MySQL server using Azure portal | Micros

[2018-03-08 22:48] BryanTrach-MSFT commented on #5444
@JatinBavishi We've removed the preview tag for premium tier (v2). Changed should be reflected upon validation. We are now going to request the document author to add the isolated tier as necessary.

[2018-03-08 22:53] bob-zhao-work commented on #5324
It is important to let the user know its actual availability. The previous word ‘region’ is totally misleading .

________________________________
From: Nitin Mehrotra <notifications@github.com>
Sent: Thursday, March 8, 2018 1:33:56 PM
To: MicrosoftDocs/azure-docs
Cc: Bob Zhao; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Please use the same term as in Azure Storage replication (#5324)

@bob-zh

[2018-03-08 23:01] nitinme commented on #5324
@bob-zhao-work Can you clarify which occurrence of the term 'region' you are referring to?

Thanks!

[2018-03-08 23:05] #5223 closed

[2018-03-08 23:10] jordanmills opened #5503 "Nothing about changing the tier of an individual blob"
How do you change the tier of a blob with powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d0e9698-bb66-e1cc-a941-ffe341f86a5c
* Version Independent ID: cf4bf131-32d6-f700-382b-1f134ba3383d
* Content: [Perform operations on Azure Blob storage (object storage) with PowerShell | Microsoft Docs](https://docs.mi

[2018-03-08 23:19] Adam-Smith-MSFT commented on #5383
@guptapuneet  I'd recommend checking the following [thread](https://stackoverflow.com/questions/14258641/what-does-azure-cloud-storage-transaction-prices-mean):

"it depends on if you are using page or block blobs. It also depends on what library you are using to upload the blob. For block blobs, the storage client has a default value of the maximum size of the block being uploaded (32MB) and will

[2018-03-08 23:21] MohitGargMSFT commented on #5474
Thanks for posting the solution. I would suggest you to open GitHub issue on the azure-iot-sdk-c sample using below link so that the fix is verified and implemented in GitHub published sample -
[https://github.com/Azure/azure-iot-sdk-c/issues](url)

[2018-03-08 23:21] #5474 closed

[2018-03-08 23:22] #5113 closed

[2018-03-08 23:23] Mike-Ubezzi-MSFT commented on #5445
To clarify the issue, in the Known Issues & Limitations section, the description of the issue of many small databases being created under a managed Azure SQL instance, could potentially exceed the 35Tb space allocation. But then the paragraph states "even if the total size of all databases does not reach the instance size limit."

There is some ambiguity here that should probably be clarified such

[2018-03-08 23:24] fingerbib2000 opened #5504 "typo in the code example"
at the end of Use the new property section the line of code to add should be:

<td>
    @Html.DisplayFor(modelItem => item.Done)
</td>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-571b9391cd46
* Content: [Build a .NET Core and SQL

[2018-03-08 23:34] sasachan opened #5505 "Does Overriding Endpoints in ServiceManifest.xml for ResourceOverrides is supported?"
#Does Overriding Endpoints in ServiceManifest.xml for ResourceOverrides is supported? As have been trying to update and I see the similar error as other folks on the mentioned thread.

https://github.com/Azure/service-fabric-issues/issues/447 -

Would it possible to get update as the supported build/release we should use?

[2018-03-08 23:34] tamram commented on #5334
@cstainie - Thanks for your feedback. Yesterday we published updates to the Azure Storage documentation that clarify what I stated above. Encryption is now always on, for all storage accounts, in all regions, and does not affect performance.

Also, please see the announcement in the blog post here:

https://azure.microsoft.com/en-us/blog/announcing-default-encryption-for-azure-blobs-files-table-an

[2018-03-08 23:36] DaveVoyles opened #5506 "What is clf2?"
One of the lines of code states:    global clf2, inputs_dc, prediction_dc

But it is only used in that one location. It's not clear as to what clf2 is, or how / when it is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9f9f665-d8f6-5cf5-bdb8-01112cffd69b
* Version Independent ID: 25000f70-6f17-5d8e-3603-db051cd2

[2018-03-08 23:36] Adam-Smith-MSFT commented on #5455
@chris9263 Thanks for the feedback, indeed the example and parameters mentioned under Event schema > Blob Storage look to be different. I'll assign it to the author to verify as well.

[2018-03-08 23:45] Adam-Smith-MSFT commented on #5278
@JJ I double checked the process of Anaconda installation, it does ask for the specific path where you want to install the application: https://imgur.com/a/d1esB
I'll assign it to the author for confirmation.

[2018-03-08 23:51] zartcosgrove opened #5507 "How do I get the dlls in my ADLS account?"
I'm running the script almost exactly as listed above - I just changed the FROM path for the first extract. When I try to run this job, however, I get a message saying "Assembly 'master.ImageCommon' does not exist.". I've tried creating a new DB, and still getting the same error, but with the new DB in the Assembly name.

Do I need to somehow enable Cognitive extensions on my ADLA account?

---
##

[2018-03-08 23:56] zartcosgrove commented on #5507
i also just went into my ADLA account and clicked the link for "Add U-SQL extensions". Tried my job again, and got the same failure.

[2018-03-09 00:00] Nhoya commented on #5312
For me is totally the same, and i'm open to all the possibility, i wrote the library because i had to include the bing search on one of my projects but since i thought it could be useful to other people i converted it in to a library easy to use (at the moment for a simple search you just need literally 2 function calls)

[2018-03-09 00:01] zartcosgrove commented on #5507
After clicking the link for "Add U-SQL extensions", I had to wait for a job to run that registered those extensions.

[2018-03-09 00:03] MikeDodaro commented on #5312
After some discussion here, it seems like the easiest way to get this approved is if you write the whole example in a quickstart without dependency to an external library.  That way users see the full code requirements in one place.

[2018-03-09 00:03] Nhoya commented on #5312
Sure, no problem, i'll drop a PR

[2018-03-09 00:05] MikeDodaro commented on #5312
There will eventually be an example for each of the endpoints  News; Video; Web; Entity; Image.

[2018-03-09 00:47] zartcosgrove opened #5508 "Wrong data types?"
Got this error when using the code above:

Unhandled exception from user code: "Bad type in Set<T> method, column: FileName, index: 0, expected: System.String, actual: System.Byte[]" The details includes more information including any inner exceptions and the stack trace where the exception was raised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-03-09 01:27] MohitGargMSFT commented on #5464
I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-09 01:40] JohnDoe2193 opened #5511 "Problems following this tutorial"
Please note that I chose to use Cloud Witness instead of File Share witness. I don't know if my problems are related to this, doesn't seem likely.

1) "Create the Availability Group:" failed at step 9 with following message:
Create failed for Availability Group 'AG1'.  (Microsoft.SqlServer.Management.HadrModel)

For help, click: http://go.microsoft.com/fwlink?ProdName=Microsoft+SQL+Server&ProdVer=

[2018-03-09 01:41] MohitGargMSFT commented on #5494
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-09 01:42] BryanTrach-MSFT commented on #5482
@csadam
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:42] BryanTrach-MSFT commented on #5483
@JackXueIndiana
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:42] BryanTrach-MSFT commented on #5486
@ShaunInIdaho
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:43] BryanTrach-MSFT commented on #5493
@mmatturro
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:44] BryanTrach-MSFT commented on #5496
@bernardw1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:45] BryanTrach-MSFT commented on #5498
@pkellner
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:45] BryanTrach-MSFT commented on #5500
@yesoreyeram
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:45] BryanTrach-MSFT commented on #5503
@jordanmills
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:46] BryanTrach-MSFT commented on #5504
@fingerbib2000
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:46] BryanTrach-MSFT commented on #5505
@sasachan Can you please provide us with the link of the document that you are referencing? We look forward to your reply.

[2018-03-09 01:47] BryanTrach-MSFT commented on #5506
@DaveVoyles
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:48] BryanTrach-MSFT commented on #5507
@zartcosgrove
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 01:53] BryanTrach-MSFT commented on #5370
Assigning request to Tyson after our discussion offline.

[2018-03-09 01:53] MohitGargMSFT commented on #5496
@bernardw1 Please check if you have all below [prerequisites](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-samanage-provisioning-tutorial#prerequisites) mentioned in the document covered.

- An Azure Active directory tenant

- A Samanage tenant with the Professional plan or better enabled

- A user account in Samanage with Admin permissions

[2018-03-09 02:32] aazizi18 commented on #5192
Hey @leemac @jeevansd
have you guys found a solution for this issue ... i have Jira 7.8 and having the same issue .

Thanks in Advance .

[2018-03-09 02:33] nitinkale opened #5512 "Custom Authorization need to be explained"
Above article provides an idea about securing services with certificate installed on service , but doesn't answer following questions
1. Is it  possible to load X509Certificate2 in X509Credentials class?
2. How to create your own credentials by extending SecurityCredentials class?
3. How to achieve this with remoting v2 endpoint listeners?

---
#### Document Details

⚠ *Do not edit this section. I

[2018-03-09 02:58] bernardw1 commented on #5496
Yes I do have all those prerequisites. That is why I am trying to follow this document. Unfortunately I am not able to follow the steps because azure does not let me select “automatic” provisioning. It only has the option for manual. Do you want a screenshot showing this?

Sent from my Windows 10 phone

From: Mohit Garg<mailto:notifications@github.com>
Sent: Thursday, March 8, 2018 7:53 PM
To: Mic

[2018-03-09 03:08] georgewallace commented on #5409
@artisticcheese All of the links have been corrected on the doc and the updates are live. #please-close

[2018-03-09 03:28] 90abyss commented on #5452
you can close the issue. this worked:
<OutputClaim ClaimTypeReferenceId="email" PartnerClaimType="upn" />

Thanks.

[2018-03-09 03:28] #5452 closed

[2018-03-09 04:16] johnwildes opened #5513 "Scenarios for Table support"
I'm new to this world of CosmosDB and the multiple API that it supports.  It would be great to have on this page like on the Graph page a Scenario for Usage of TABLE API, same goes for SQL, MongoDB, or Cassandra.  Each of them have what they are best at but none of those pages give me an example of what it's used for.  It would be great if they had that.

---
#### Document Details

⚠ *Do not edit

[2018-03-09 05:22] itskarthiksrinivas opened #5515 "Ephemeral port preallocation for port masquerading SNAT (PAT)"
Is the table given under "Ephemeral port preallocation for port masquerading SNAT" applicable only for Standard load balancer or for both basic and Standard Load balancer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-16e2-1916-4270cdfbbcdd
*

[2018-03-09 05:47] neilpeterson commented on #5457
@woutervanranst - thanks, I will look into this.

#in-process

[2018-03-09 06:04] amanarneja commented on #5420
@Armin-FB @CeciAc This issue will require some deeper analysis. Can you please file a support request @https://aka.ms/azsupt ? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened.

[2018-03-09 06:04] #5420 closed

[2018-03-09 06:19] christiankuhtz commented on #5515
please see blurb at the top, this document does not describe standard lb at this time.  aka.ms/lbpreview covers standard lb.

the algorithm is the same, however.

[2018-03-09 06:20] amanarneja commented on #5381
@jithinjosepkl Thanks, I have assigned to the author to take a look and update as needed.

[2018-03-09 06:20] christiankuhtz commented on #5515
#please-close

[2018-03-09 06:37] buzzfrog opened #5516 "Link to Deploy device simulation is wrong"
It links to this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c7427cc-eefe-7ae4-625c-cece27796c66
* Version Independent ID: 3def07f9-7684-f8fe-eeae-a46ef2f27343
* Content: [Get started with the Device Simulation solution - Azure | Microsoft Docs](https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-de

[2018-03-09 07:26] FrederikLeed opened #5517 "Sharepointserviceaccount can be the SPS machine account or a service account under which the SPS app pool is running. No"
Set-ADComputer -Identity webservercomputeraccount -PrincipalsAllowedToDelegateToAccount $connector
returns
Set-ADComputer : The attribute cannot be modified because it is owned by the system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 880bd7f3-dda8-43b3-6409-e9a660ff0845
* Version Independent ID: 54b5ee3a-8748-9795-

[2018-03-09 07:56] gsuttie commented on #5391
It does fix the issue yeah - thanks!

[2018-03-09 07:58] phatcher opened #5519 "Update to align with user-supplied storage keys"
1. You haven't aligned the document with the new user-supplied storage keys, still says "coming soon"
2. Existing data you say "However, data that were already present will not be encrypted" but the screen shot says it will be encrypted via a background process, which is correct?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-09 08:30] mrdfuse commented on #5451
The first one, I was trying to deploy a Function App with Zip Push deployment using the app level credentials. Maybe I did something wrong but I tried all variations of username/password. I extracted those from the publish profile as documented in the Azure docs. Using the user level credentials worked from the first try.

[2018-03-09 08:37] cstainie commented on #5334
Hi guys,

Very nice to see that the feedback is handled in a structured way, thanks
for the updates and good job!

It's good to have an official statement somewhere that there is no impact
performance, as the question has been raised many times (and will be) by
our customers.

Kind regards,
Cédric.

2018-03-09 0:34 GMT+01:00 Tamra Myers <notifications@github.com>:

[2018-03-09 08:52] mjstenbe commented on #5056
I've been struggling with RDP connections to Linux VM's created within DevTestLabs in Azure.

I have no problem connecting to the machines using ssh and I have added RDP rules to the NSG in DevTestLab. However I still cannot connect to the machines using RDP. I tried even SSH tunneling through putty but no luck.

Any help would be appreciated on this?

[2018-03-09 08:53] JohnMoor opened #5520 "definition of word conditions"
The documentation on this page is using the word Conditions to describe all settings on under Assignments. This is confusing as under Assignments the same term is used for a sub-option to configure sign-in risk, device platforms, locations and client apps. Is there a specific reason for using the term Conditions to describe two different things?

---
#### Document Details

⚠ *Do not edit this sect

[2018-03-09 09:15] yrfu opened #5521 "Valid response not received. Please ensure Metadata URL is correct or contact your Azure AD admin."
I'm at the step where the Metadata URL is to be resolved. I've entered as follows
<METADATA URL>?appid=<application id>
After clicking [RESOLVE] button, the above mentioned error appeared.

Scrolling down the pane, an Invalid Certificate error is indicated under X.509 Certificate.

Thus, saving the configuration is not allowed.

One thing though, Azure AD does ask to create a cert when saving the

[2018-03-09 09:15] mjstenbe opened #5522 "Up to date guide to RDP to a Linux VM in DevtestLab needed"
I've been struggling with RDP connections to Linux VM's created within DevTestLabs in Azure.

I have no problem connecting to the machines using ssh. I have added RDP rules to the NSG in DevTestLab. However I still cannot connect to the machines using RDP. I tried even SSH tunneling through putty but no luck. Im using Windows RDP tool.

Any help would be appreciated on this?

---
#### Document Det

[2018-03-09 09:25] sasachan commented on #5505
@BryanTrach-MSFT Please refer to https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-fabric-service-manifest-resources.md#overriding-endpoints-in-servicemanifestxml

[2018-03-09 10:08] KumaresanLakshmanan commented on #5471
I have updated the content. please look for latest information

[2018-03-09 10:12] larserikfinholt opened #5525 "JObject needs to be replaced by EventGridEvent"
Got error when using the C# example with EventGridTrigger:

Error indexing method 'EventGridTest1.Run'Can't bind EventGridTriggerAttribute to type 'Newtonsoft.Json.Linq.JObject'.

When I replaced with EventGridEvent from Microsoft.Azure.WebJobs.Extensions.EventGrid.EventGridEvent it works, but it tells me that it is obsolete:  is deprecated, please use Microsoft.Azure.EventGrid.Models.EventGridEve

[2018-03-09 10:39] niliferk opened #5526 "Acoustic Model Language Support"
I can import Acoustic Model in German, but I can not use this dataset to create an Acoustic Model. There is only en-US on Local combobox.
What are the supporting Languages for creating Acoustic Models?

Thanks,
Nilifer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a351e5b4-68b6-9ffe-ffee-1e490af9ce27
* Version Indepen

[2018-03-09 10:43] aL3891 opened #5527 "Please move the service fabric settings reference document to its own, more discoverable page"
The settings reference for service fabric clusters is very important and useful so it should have its own page with a table and contents and so on. Right now its difficult to find since its inside a how-to specifically for azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Vers

[2018-03-09 11:33] cephalin commented on #5498
@pkellner Thank you. I have a PR out to fix this now.

BTW, we should continue to use credentials because windows users see a UI prompt sometimes that does allow you to change the username.

[2018-03-09 11:42] cephalin commented on #5504
@fingerbib2000 Thanks for the catch. I have put the fix in a PR.

[2018-03-09 12:01] Nhoya commented on #5312
I have a problem obtaining acces to the private repo, following the link here https://github.com/MicrosoftDocs/azure-docs/blob/master/contributor-guide/tools-and-setup.md#permissions says i'm not authorized to open the [link](https://review.docs.microsoft.com/en-us/help/contribute/contribute-get-started-setup-tools?branch=master)

[2018-03-09 12:15] cephalin commented on #5504
@fingerbib2000  PR is merged. It will be automatically published within the next day.

[2018-03-09 12:15] cephalin commented on #5504
see #34969

[2018-03-09 12:49] arunakshi opened #5530 "Create Metric alerts is not working"
Creation of Azure Metric Alert in Application Insights is not working now. When I started working with Commandlet: Add-AzureRmMetricAlertRule, it was giving me deprecated warning. But now it is not working anymore and I am getting the following error:

Add-AzureRmMetricAlertRule : Exception type: ErrorResponseException, Message: > Null/Empty, Code: Null, Status code:BadRequest, Reason phrase: Bad

[2018-03-09 12:49] shreenathv opened #5531 "https://github.com/Azure/azure-iot-sdk-csharp/tree/master/device not found"
https://github.com/Azure/azure-iot-sdk-csharp/tree/master/device resource  is not availble. It Shows 404 not found error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33af8d92-74d2-2cdd-53f9-299eca57969e
* Version Independent ID: 6029edb3-5839-c2c3-6ce0-30349eccf6b9
* Content: [Understand the Azure IoT SDKs | Mi

[2018-03-09 12:55] dev3395 commented on #5056
@mjstenbe to confirm have you tried with Ubuntu 16.04 LTS? Switching from 17.10 to 16.04 as @iainfoulds suggested made all the difference for me in the end. (Though I had fiddled with the DevLab rules and a separate NSG resource group by that point as well. I don't have that config any more and can't recall if I stuck with the random RDP port initially assigned through the NAT or switch to 3389).

[2018-03-09 13:07] cephalin commented on #5260
@WootJay The closest I can come to in our docs that has `Create an App Service plan in Free tier.` is https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/application-gateway/application-gateway-web-app-powershell.md, even though the code doesn't match yours exactly. Could that be what you're talking about?

[2018-03-09 13:09] ChristianRMKoerber opened #5532 "Creating Cluster failed"
Got this:
Operation failed with status: 'Bad Request'. Details: The VM size of Agent is not allowed in your subscription in location 'westeurope'. Agent VM size 'Standard_DS1_v2' is available in locations: centraluseuap,eastus,eastus2euap,southcentralus,southeastasia,westus2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-03-09 13:22] michaelrhyndress commented on #5467
Where does the documentation specify what orderby does support? The documentation for Audit and Signin (activityDate and signinDateTime, respectively) are nearly identical but ordering Audits by activityDate does work. This feels very vague and seems strange to not be able to order the signin records by it's datetime field. Thanks for looking into this!

[2018-03-09 13:49] bernardw1 commented on #5496
Please open this case again. It is really annoying that you closed it without actually looking at the issue I was having or giving me a chance to reply to your post.

here is an image of the issue that I am having.

![capture](https://user-images.githubusercontent.com/23319226/37210458-5ef5b93a-236e-11e8-9e87-f28ddc2c89df.PNG)

[2018-03-09 13:52] JasonSingh opened #5533 "Software Developer"
This sample does not work.
I put in my subscriber ID and the generated key. No luck.
It said invalid subscriber id, even though it is valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a81d6ae-75e4-aadc-d70e-4a6478a85145
* Version Independent ID: 73db6138-5e6c-e8ef-96f6-1bc4c1a5b079
* Content: [C# Quickstart for Az

[2018-03-09 14:11] mjstenbe commented on #5056
Yes, just checked that the version is 16.04 LTS. Which steps do I need to take in order to access it using RDP?

I have installed xfce and xrdp, restarted the machine and opened the RDP ports both in Linux and in Azure NSG.

[2018-03-09 14:18] tdykstra commented on #5525
Make sure you're using the current versions of the packages:
Microsoft.Azure.WebJobs.Extensions.EventGrid is 1.0.0-beta3
Microsoft.NET.Sdk.Functions is 1.0.8 (1.0.9 was just released, but JObject works with 1.0.8; you get 1.0.6 with the project template)

[2018-03-09 14:24] jdenicola67 opened #5534 "Steps are incorrect for applying the route table to the subnet"
The instructions have you go into Subnets and implies that you should see the subnet there. You have to click Associate to associate a Subnet with the VNet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38135940-6df6-c189-fa10-fc70a35d91ef
* Version Independent ID: 1b8d773c-9f81-97f2-b45b-d638ba4cb77b
* Content: [Azur

[2018-03-09 14:47] WiseOldHowell opened #5535 "Existing user in Google Apps"
What I don't see addressed in this document is what happens to existing user accounts in Google Apps? I'd like to enabled auto provisioning but uncertain as to what happens to existing users. Will their accounts change in any way? We've been Google Apps users for 10+ years and I don't want to take a chance at disrupting existing accounts (aka accounts deleting in Google Apps due to an error on my

[2018-03-09 14:54] mimig1 commented on #5314
@Jeremywhiteley - @ealsur from the Azure Cosmos DB team has published a code sample and instructions here (https://medium.com/@Ealsur/azure-cosmos-db-functions-cookbook-secure-client-b2d8b3b1b5ca) to address your immediate concerns. And I see you've already posted a comment and seen it. Can you confirm that meets your immediate needs and then we'll close this issue and track the long term doc work

[2018-03-09 14:54] #5409 closed

[2018-03-09 14:56] mimig1 commented on #5391
@gsuttie - Great, we'll close this issue then. Thanks!

[2018-03-09 14:56] mimig1 commented on #5391
#please-close

[2018-03-09 15:00] j-martens commented on #5169
@amanarneja should this autolabel as resolved? Can you help close this please?

[2018-03-09 15:14] dajean0104 opened #5536 "how to manage the boundingBox position"
I'm trying to parse the json of the response but I need documentation about how manage all the positions that it returns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912b9b5e-8d27-c34a-02b4-567a06393d06
* Version Independent ID: f1c1f6ff-e3ce-15c2-828e-e7d1e285ec2d
* Content: [Computer Vision API JavaScript quick st

[2018-03-09 15:15] Jeremywhiteley commented on #5314
@mimig1 @ealsur   Awesome blog post!  Will this work with Azure AD B2C and Easy Auth in Azure App Services (Azure Function or Web API)?   I am trying to use a front end Web SPA app and a mobile front end (Flutter or Nativescript) with Cosmos DB.

[2018-03-09 15:23] larserikfinholt commented on #5525
Thanks, was using 1.0.7

[2018-03-09 15:42] ealsur commented on #5314
Glad it was useful 😄 I have not tested the Easy Auth scenario, I believe that validates access to the Azure Function but I'm not sure if the identity will pass through, if it does, it's a matter of customizing the Key Vault's access policies for particular AD Users. For that, the best answer can be given by the Functions team 😄

[2018-03-09 15:43] ScottAzure opened #5537 "Please mention ed25519 + ecdsa support statement/more info"
https://feedback.azure.com/forums/216843-virtual-machines/suggestions/33577063-support-ecdsa-public-key-under-the-ssh-configurati

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys with Windows for L

[2018-03-09 16:11] fujikosu opened #5539 "This should not be under notebook section"
I struggled to find the information about how to install python libraries into the right places which pyspark, pyspark3 kernel recognizes. I found the action script function but there is no information for that there. I couldn't find the info myself after all so I asked to some Microsoft HDInsight expert colleague for that. I wouldn't expect python libraries installation manual would be under "Use

[2018-03-09 16:22] billmath commented on #5368
@MohitGargMSFT #please-close

[2018-03-09 16:26] billmath commented on #5108
@erickool I have not heard back from the dev yet.  At this point, I created a work item for this and have it in my backlog.  I don't have an ETA on it but I will ping this thread once I have updated it.  Let me know if there is anything else I can do otherwise I will close this out later today.   Thanks!

[2018-03-09 16:26] billmath commented on #5394
@MohitGargMSFT #please-close

[2018-03-09 16:28] #5515 closed

[2018-03-09 16:28] MikeDodaro commented on #5312
@Nhoya  I have sent a query to support to get info about how you can enlist.  Sorry for the delay.  While you are waiting, can you write instructions for how to setup and run your samples?

[2018-03-09 16:28] DareDevelOps opened #5541 "Section heading verbiage is misleading."
Services that enable move section title is confusing. It seems to express that you need these services in order to move a resource. when in fact these are services that can be moved. I believe enable is the wrong verb in this case.  Perhaps a title like ###Services that are currently able to be moved### would be less confusing.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-03-09 16:29] #5525 closed

[2018-03-09 16:32] cdelcambre opened #5542 "Powershell?"
Where's the powershell commands to do the equivalent?  We are saas hosting provider using your service.  I try to script everything in order to have implementation consistency across all of our implementors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee

[2018-03-09 16:39] MikeDodaro commented on #5312
@Nhoya  Try this page for external contributors: https://docs.microsoft.com/contribute/contribute/get-started-setup-github

[2018-03-09 16:41] tnewton81 commented on #5487
I see .  My mistake.

[2018-03-09 16:42] Nhoya commented on #5312
sure, you have to [install and configure go](https://golang.org/) then create a file `something.go`, paste the complete example inside and insert a valid API Key in the `token` variable

[code]

[2018-03-09 16:44] danmyhre opened #5544 "Assignable Scopes"
Are there any plans to allow management groups to be used as the scope for a custom role?  Would be nice to be able to do this above the subscription level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0
* Version Independent ID: 5665dd03-d06e-ca29-668f-7cb91e5f9ffd
* Content: [Crea

[2018-03-09 16:47] billmath commented on #5415
@o365tatsuyan I have updated the English version of the article to reflect this.  Thank you for catching this.  If there is anything else I can do let me know, otherwise I will close this issue later today.  Thanks!

[2018-03-09 16:47] Nhoya commented on #5312
@MikeDodaro I already setupped my git env, the problem is that I need an authorization for a private repository, following the link to get it (i guess?) in the readme it says forbidden (if you check my PR it was closed by the PR bot saying that PR must be sent to a private repo)

[2018-03-09 16:52] MikeDodaro commented on #5312
Ok, we are working on it.  Support is responding.  I'll let you know as soon as possible.

[2018-03-09 16:55] spottedmahn opened #5545 "Document Metadata Keys for RestfulProvider"
Can you please provide all of the metadata keys allowed for the Web.TPEngine.Providers.RestfulProvider?

[code]

### Related SO Questions:
[Sending headers in a custom policy to call a restful provider in Azure AD B2C](https://stackoverflow.com/a/45806984/185123)

[Rest API timeout](https://stackoverflow.com/questions/49191301/rest-api-timeout)

---
#### Document Details

⚠ *Do not edit this secti