[2019-11-27 08:56] mrmueller commented on #43600
I can't see that PR. Would like to know what the error means now and not wait for the merge :)

[2019-11-27 08:57] OneConsutlantsDemo commented on #38033
Hi @mamccrea  - I am too waiting for the updated Twitter Client thank you!

[2019-11-27 09:04] mariobede commented on #43568
erm, will try this right now :)

[2019-11-27 09:27] KalyanChanumolu-MSFT commented on #43638
@Tanguerjho Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2019-11-27 09:27] #43638 closed

[2019-11-27 09:31] CHEEKATLAPRADEEP-MSFT commented on #43639
@OneConsutlantsDemo  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-11-27 09:32] Mortana89 commented on #7650
I'm facing the same issue, we have a central keyvault in a central subscription that holds our certificate, but ARM deployment for a VMSS in a different subscription fails to get the certificate from that keyvault with the same error message. I've also tried adding the managed identity of the VMSS to the target keyvault but that yields the same issue.

[2019-11-27 09:36] techiebuddhas commented on #42205
@pvrk  Can you please let us know, how can we update the PS version and in which version does this upgrade is available?

[2019-11-27 09:36] jakaruna-MSFT commented on #43436
@geirivarjerstad is there any update

[2019-11-27 09:36] GarryMAM opened #43640 "Doesn't work"
App needs .net core 2.2 but links to 3.0 so took a while to work out why it wasn't working. Now getting error reading database.  Not sure if this is because the instructions are out of date or not working for some other reason.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Versio

[2019-11-27 09:38] vijayraavi opened #43641 "Unable to connect to Geo-Replicated(Read Only) Database from Azure Portal Query Editor"
Unable to connect to Geo-Replicated(Read Only) Database from Azure Portal Query Editor
There is no Problem with Primary Database and no problem while connecting to Secondary DB via SSMS or DataStudio.
Problem only exists in Azure Portal Query Editor only for Geo-Replicated Databases.

Checked for multiple Geo-Replicated Databases - Same Issue.

Please fix.

---
#### Document Details

⚠ *Do not edi

[2019-11-27 09:39] FunkEinstein commented on #41409
@ManojReddy-MSFT so is there any information about new error?

[2019-11-27 09:42] #43606 closed

[2019-11-27 09:43] jakaruna-MSFT commented on #43606
@ryandanthony I submitted a PR. Changes should reflect in hours.

We need to update this doc as well  https://docs.microsoft.com/en-us/azure/aks/ingress-tls

[2019-11-27 09:45] bakerm00 opened #43642 "the sample project seems to be broken by changes in Azure AD"
the sample project seems to be broken by changes in Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e8716f7-edc3-5715-cd43-149fe6a7e318
* Version Independent ID: e6797ee1-0b48-5b83-ff32-a41acd74e0a9
* Content: [Self-service sign-up portal for B2B collaboration - Azure AD](https://docs.microsoft.com/en-us/azure

[2019-11-27 09:48] SnehaAgrawal-MSFT commented on #43640
@GarryMAM Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-27 09:49] KalyanChanumolu-MSFT commented on #43615
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-11-27 09:50] SubhashVasarapu-MSFT commented on #43446
@KosukeHosoda , Appreciate your patience. It looks like what ever the parameters that were being passed in the kusto query will be addressed with the appropriate values in the respective logs. Here is the screenshot for the respective firewall network log,
![image](https://user-images.githubusercontent.com/44890829/69712565-144ad000-1129-11ea-9819-7454ab3e2c22.png)
We are assigning this issue to t

[2019-11-27 09:52] jakaruna-MSFT commented on #43356
90 minutes is the default timeout for that extension. Reference is [here](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#tips-and-tricks). we cant change that timeout

In those situations checking the log file is the only option to figure out whats going on.  Extensions status will be in transitioning state.

Also its good to add some log entries in the sc

[2019-11-27 09:57] the-grayest opened #43644 "How to delete manage disk?"
Some customers having issues with deleting of managed disk because disk is attached to VM. I believe that better to cover such topic here as a disk life cycle in general: create (import) &gt; use (attach / deattach / snapshots / monitoring / perfromance tier) &gt; dispose (export / backup / delete)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-27 10:00] NitroAMD opened #43645 "ACI Connector"
Could you please list ACI here too?
https://docs.microsoft.com/en-us/connectors/aci/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-581c-753131c88f5a
* Version Independent ID: 45207a34-a98b-8214-3364-61a62fbada4a
* Content: [Connectors for Azure Logic Apps](https://docs.microsoft.com/en-us/azure/conn

[2019-11-27 10:01] VikasPullagura-MSFT commented on #43627
@JuneZhao Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-27 10:01] mariobede commented on #43568
Hi, apparently i can still use them.
![image](https://user-images.githubusercontent.com/10436141/69713679-dcc62e80-10fc-11ea-8324-96e0f6860660.png)

This is Europe West.

[2019-11-27 10:01] dennis-benzinger-hybris opened #43646 "IPv6 is GA now"
According to https://azure.microsoft.com/en-us/updates/ipv6-for-azure-virtual-network-is-now-generally-available/ IPv6 is GA now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747960d4-d025-37a9-8be2-bc312d5f2e3f
* Version Independent ID: d2cf9574-608e-41e0-373a-adbac913619f
* Content: [Overview of IPv6 for Azure Virt

[2019-11-27 10:01] georgegil commented on #35298
Got the same issue, the intermediate certs are not being sent during the TLS handshake

[2019-11-27 10:05] VikasPullagura-MSFT commented on #43627
@dlepow Can you please look into this feedback and add your comments.

[2019-11-27 10:06] VikasPullagura-MSFT commented on #43627
@MicrosoftDocs/aks-pm Please look into this and add your comments.

[2019-11-27 10:08] KrishnaG-MSFT commented on #43619
@esabban Thanks for the feedback. I have created a PR (Pull Request) in the repo in which the script resides. The doc will automatically get updated once the open PR is merged.
Since there is no more action required here so I will close this issue. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion

[2019-11-27 10:08] #43619 closed

[2019-11-27 10:11] VikasPullagura-MSFT commented on #43644
@the-grayest Thanks for the feedback!
I am assigning the issue to content author to check this feedback of good to have topic on the document and add comments for doc enhancement accordingly.

[2019-11-27 10:13] VikasPullagura-MSFT commented on #43644
@roygara Can you please look into this doc enhancement feedback and add your comments.

[2019-11-27 10:14] SnehaAgrawal-MSFT commented on #43633
@Murgates Thanks again for the feedback. We are aware of this and I have been working with the product team internally. You may try the current work around to this by using the older version 2.0.75 or using the Edge builds. https://github.com/Azure/azure-cli#edge-builds

[2019-11-27 10:16] master135 commented on #42973
What was confusing for me from the very beginning is filter parameters startTime and endTime
Since API returns the list of jobs execution with same properties startTime and endTime I always thought that it filters job by startTime property and it was not clear why to use endTime as filter param for API.
I would rather call filter params with some different names i.e. IntervalStart, IntervalEnd.
I'

[2019-11-27 10:17] dbsanfte opened #43647 "RHEL7 auto-update enable script doesn't work"
The following script doesn't work:

`sudo sed -i 's/# AutoUpdate.Enabled=n/AutoUpdate.Enabled=y/g' /etc/waagent.conf`

The config file on my RHEL7 installation was `# AutoUpdate.Enabled=y` so the sed didn't do the job on the first go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544
*

[2019-11-27 10:18] loopfish commented on #35298
@shashishailaj please could you re-open this issue for investigation?

[2019-11-27 10:19] neeleshray-msft commented on #43642
@bakerm00  Thank you for your feedback. We have assigned this to the author for it to be reviewed.

@msmimart  Request you to verify on this.

[2019-11-27 10:22] ignaciofls commented on #43588
Yes, I am referring to the UI provisioning of the "attached compute" ADB cluster. "Databricks workspace" is only visible if both ML workspace and ADB are within the same RG.

[2019-11-27 10:23] danimir commented on #43568
@mariobede - that's what the note in documentation was for. You should not use it here, it does not work and it is displayed as a bug. You need to go to the Audit blade itself, and it is auto configured from there. Follow the link from the note. Thanks!

[2019-11-27 10:26] ChiragMishra-MSFT commented on #43623
@knaidoo33 The configuration on the sink dataset is the same as you would do for a source dataset.

What specific options are you looking to set?

[2019-11-27 10:26] HQJaTu commented on #35298
I got my AppGw V2 working. The clues for solution are scattered, but they are out there.

What Azure fails to properly document is the new requirement of PFX-file to contain the intermediate too. However, my case was bit complex. I had bound my AppGw certificate into Azure Key Vault. However, you **cannot** have a Key Vault Certificate with intermediate (or entire chain).

So, I detached the Key V

[2019-11-27 10:27] thgengineering opened #43648 "Can I setup replication for Service Bus Queue messages to another Service Bus Queue to avoid Geo-Recovery as I have to switch to Premium SKU"
I want to setup Service Bus Queue Message replication in another Service Bus Queue no matter in same or different region without upgrading my Service Bus SKU from Standard to Premium.

Is it possible via any other Azure Service maybe Logic App or Function App or another Azure Service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-27 10:28] georgegil commented on #35298
One would imagine using a key vault is encouraged. Indeed that is what I am using.

[2019-11-27 10:28] PramodValavala-MSFT commented on #43645
@NitroAMD This doc doesn't aim to provide an exhaustive list of connectors unlike the [reference doc](https://docs.microsoft.com/en-us/connectors/). This is mentioned at the top of this doc as well

[2019-11-27 10:30] ChiragMishra-MSFT commented on #43635
@gjayalal Can you please try this :

`Get-AzDataFactoryV2Trigger -DataFactoryName youreadfname -ResourceGroupName youradfrg | ForEach-Object { While (!(Start-AzDataFactoryV2Trigger -DataFactoryName youradfname -ResourceGroupName youradfrg -Name $_.Name -Force -Verbose -ErrorAction SilentlyContinue)) { sleep -Seconds 2 } }`

Let us know if it helps. Else, we can gladly continue to dig deeper.

[2019-11-27 10:30] mariobede commented on #43568
I have an issue when using it in both Diagnostics and Audit, complains about the fact of DataSink happening for the same resource.
I understood that "This was only a bug that is now resolved" is meant not to trigger the above mentioned issue.

[2019-11-27 10:31] RohitMungi-MSFT commented on #43539
@xieofxie QnA Maker allows you to select the language for your QnA service, while creating the first knowledge base. For all the knowledge bases in a QnA Maker resource, they all must be in the same language. This language can’t be changed. This scenario is documented in our [language selection](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/language-knowledge-base#one-l

[2019-11-27 10:33] gjayalal commented on #43635
Get-AzureRmDataFactoryV2Trigger -DataFactoryName youreadfname  -ResourceGroupName youradfrg | ForEach-Object { While (!(Start-AzureRmDataFactoryV2Trigger -DataFactoryName youreadfname -ResourceGroupName youradfrg -Name $_.Name -Force -Verbose -ErrorAction SilentlyContinue)) { sleep -Seconds 2 } }

This script is working. Thanks for the help :)

[2019-11-27 10:33] #43648 closed

[2019-11-27 10:33] neeleshray-msft commented on #43631
@mrohler  I have made the necessary changes and the same would be published soon.

We will be closing the thread for now. Let us know if you require further help.

[2019-11-27 10:33] #43631 closed

[2019-11-27 10:33] PramodValavala-MSFT commented on #43648
@thgengineering This is indeed possible but would involve the clients being aware of such a setup and having to sync the metadata (information about queues, topics, etc.) manually.

In case of premium tier, the metadata is automatically synced between paired instances and the alias hides the fact of the actual setup.

You can read more about [protecting against disasters and outages for the standa

[2019-11-27 10:34] ChiragMishra-MSFT commented on #43635
@gjayalal Glad to hear that your problem was resolved. I will proceed to close this thread now.

[2019-11-27 10:34] #43635 closed

[2019-11-27 10:35] Jayesh040 opened #43649 "Can I setup replication for Service Bus Queue messages to another Service Bus Queue to avoid Geo-Recovery as I have to switch to Premium SKU"
I want to setup Service Bus Queue Message replication in another Service Bus Queue no matter in same or different region without upgrading my Service Bus SKU from Standard to Premium.

Is it possible via any other Azure Service maybe Logic App or Function App or another Azure Service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-27 10:35] am11 commented on #33129
The (uri-decoded) `redirect_uri` in popup window looks like `https://monitoring.hosting.portal.azure.net/monitoring/Content/iframe/infrainsights.app/web/base-libs/auth/auth.html&state=xxxx&prompt=select_account&client-request-id=xxxx&x-client-SKU=Js&x-client-Ver=1.0.17&nonce=xxxx`, it still gives the error:

is there a workaround?

[2019-11-27 10:37] danimir commented on #43568
@mariobede - you should **never** use it in Diagnostics settings. The fact it is displayed there is a bug.

[2019-11-27 10:37] AshokPeddakotla-MSFT commented on #43256
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-27 10:37] #43256 closed

[2019-11-27 10:39] VaclavK opened #43650 "the updated link for default dependency tracking module defaults is no longer working"
there was a ticket before and the link got updated

the link in the code example now is https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/DependencyCollector/ApplicationInsights.config.install.xdt

this returns 404 now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189

[2019-11-27 10:39] ChiragMishra-MSFT commented on #43557
@baddevotions The article doesn't talk about Azure Storage Explorer. Can you please elaborate the issue?

[2019-11-27 10:43] msrini-MSFT commented on #43573
@I90Runner , I have created a Frontdoor and set it up with SSL offload config.

When I tried to access the Frontdoor with HTTPS, I am able to see Frontdoor sets the X-Forwarded-Proto as HTTPS.

88	2:58:02 PM 11/27/2019	21.6094474	System	10.0.128.16	10.0.5.14	**HTTP**	HTTP:Request, GET /orange 	{HTTP:28, TCP:27, IPv4:12}

  Frame: Number = 88, Captured Frame Length = 1422, MediaType = ETHERNET
+ Et

[2019-11-27 10:44] bongistka commented on #43407
I have both developer mode enabled and also "Device" selected. I followed the tutorial exactly

[2019-11-27 10:47] mariobede commented on #43568
Is the bug gonna be resolved anytime soon?

[2019-11-27 10:47] Duffney commented on #43561
I see that's my mistake I assumed the OS was the same per vm. I'll redo the lab and make sure the connection monitor works for me. As with two windows vms it didn't. I appreciate the reply thank you!

[2019-11-27 10:52] xieofxie commented on #43539
@RohitMungi-MSFT Thank you for confirming this! I didn't notice the title of that section. Maybe the doc could be updated to emphasize this.

[2019-11-27 10:52] #43539 closed

[2019-11-27 10:57] dipesh-wadhwa commented on #43483
@FrankHu-MSFT earlier documentation that Microsoft published.
![image](https://user-images.githubusercontent.com/46276877/69717703-8e338700-1132-11ea-9a7b-f0bc439989b9.png)
This is what I copied in few months back and **ValidTokenIssuerPrefixes** was pointing to https://sts.windows.net/

Things changing too fast on Azure..

[2019-11-27 11:01] danimir commented on #43568
@mariobede - enabling Audit from Diagnostics settings will **never** be supported. The goal is to **remove** Audit option from Diagnostic settings. In some regions this is already done, and in time it will be rolled out to all other regions. The only proper way to use Audit, is from the Audit feature itself. Thanks.

[2019-11-27 11:04] OCDtraining commented on #43407
My device is plugged into the computer and "Device" is selected exactly as on the screenshot. I have developer mode enabled in windows which should enable it also on my WMR device according to [this article](https://docs.microsoft.com/en-us/windows/mixed-reality/using-visual-studio#windows-pc). I was doing instalation exactly as [the original article](https://docs.microsoft.com/cs-cz/azure/spatial

[2019-11-27 11:32] spaelling opened #43652 "More batch query examples"
I am not even sure that including multiple subscription ids in the request would be considered batching. That is normally part of the payload, a list of subscription ids.

`Batching queries by the subscription, resource group, or individual resource is more efficient than parallelizing queries.`

How do you batch individual resources? Preferably an example using the REST api.

---
#### Document De

[2019-11-27 11:35] ejjpi commented on #24239
Absolutely needed. I don't want to rely on workarounds for such an important feature like monitoring.
Metrics should be available also for read scale-out DB replicas.

[2019-11-27 11:47] femsulu commented on #43066
@kevinrosal, @serlapoi  Confirming the Start/stop solution currently doesnt support VMSS resource. Please upvote a [similar request](https://feedback.azure.com/forums/246290-automation/suggestions/39011143-add-vmss-to-start-stop-vms-in-off-hours) If this is a feature you would like to see supported. The feature owners typically consider vote count as one of the criteria to prioritize community fee

[2019-11-27 11:47] #43066 closed

[2019-11-27 11:51] jakaruna-MSFT commented on #43647
@dbsanfte   If your config file has `# AutoUpdate.Enabled=y` this setting, Then autoupdate is enabled for you already.

In that case script wont do anything.

[2019-11-27 11:52] Coldpawz opened #43653 "Microsoft Flow Azure Table configuration"
Hi, I followed the instructions on this page roughly a month ago but I've since noticed that the Azure Table Storage connector is a 'premium' connector in Power Automate, which requires the user to be on either Flow Plan 1 or Flow Plan 2 to use the connector.
Link to the Azure Table Storage connector: https://emea.flow.microsoft.com/en-us/connectors/shared_azuretables/azure-table-storage/

I figur

[2019-11-27 11:55] akash-roy-123 opened #43654 "Microsoft.ProjectOxford.Face NuGet Package"
While Creating a face API in C#, it was required for me to install this NuGet package but it's nowhere to be found. Is there a replacement for this package and if not, then where can I find this package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61d93091-7054-48af-bf9a-fe4f6bad231a
* Version Independent ID: 419a0e

[2019-11-27 12:01] mariobede commented on #43568
Thanks Danimir, that is what i wanted to know. Have you got any ETA for the rollout of the removal of Audit features from Diagnostics?

[2019-11-27 12:08] YutongTie-MSFT commented on #43338
@diberry  Hi Dina, could you please share your insight for this question? Thanks.

[2019-11-27 12:17] kaplik opened #43655 "Location of docker files / docker images"
Hello,
i have a question regarding location of docker files / docker images for Azure Web App on Linux plan based on Tomcat 8.5.

In the first FAQ is location of github repo & docker hub, but i cant see there docker file / image of Tomcat 8.5. I tried to create Linux Web App based on Tomcat 8.5 and i can see in the log file that the image is pulled from this location:
mcr.microsoft.com/azure-app-s

[2019-11-27 12:23] danimir commented on #43568
@mariobede - I understood your question in the first place, but I do not have an official ETA that can be shared to the public.

[2019-11-27 12:25] thgengineering commented on #43648
@PramodValavala-MSFT Can we sync metadata (information about queues, topics, etc.) by Azure Logic App or any other Azure Service ?

[2019-11-27 12:27] mariobede commented on #43568
Thank you

[2019-11-27 12:32] femsulu commented on #43369
@MaxHogervorst, to rule out RBAC as the root-cause, can you confirm you have the appropriate access level per guidance [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/programmatically-create-subscription?tabs=rest#prerequisites-1)?

![image](https://user-images.githubusercontent.com/34327711/69723614-dcaf3a00-10ce-11ea-93cb-b0eea4cb8059.png)

[2019-11-27 12:32] femsulu commented on #43505
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-27 12:34] #43505 closed

[2019-11-27 12:39] HQJaTu commented on #35298
Yes, using a Key Vault is encouraged and that's what I'm still doing.

The solution is obvious, store the Base64-encoded PFX-file into a secret.
The code I'm using is adapted from https://www.rahulpnath.com/blog/pfx-certificate-in-azure-key-vault/

[2019-11-27 12:46] elcainas commented on #5149
Hi, I'm also looking for xamarin.iOS example. can someone provide the documentation link?

[2019-11-27 13:12] KjetilJar opened #43660 "Edge not working with Android Word-profile"
It says that Edge Browser is supported on Android using Password-based SSO, but when using Edge in Work profile on Android, i get redirected to download the Intune Managed Browser in the Work-profile. Then asked to download the Intune Managed Browser on the private profile...Can anyone confirm that they have managed to use Password-Based SSO on Edge on Android?

---
#### Document Details

⚠ *Do no

[2019-11-27 13:13] kobulloc-MSFT commented on #43650
@VaclavK Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-27 13:23] truealex81 commented on #40300
Hi @kmoussa,
Last error tells you that you didn't bind psp clusterrole to your serviceaccount ("default" serviceacoount is created automatically in every namespace).

kubectl create clusterrolebinding psp-deny-privileged-clusterrolebinding --clusterrole=psp-deny-privileged-clusterrole --group=system:serviceaccounts

The command above will bind psp to every serviceaccount (including "default") in e

[2019-11-27 13:23] ytugarev opened #43661 "Stupid error"
-ActiveKeyName $storageAccountKey - should be something like -ActiveKeyName Key1
Stupid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
* Version Independent ID: 1d80c823-5a41-7d2b-f40d-b0f2ca3c673f
* Content: [Azure Key Vault managed storage account - PowerShell version](https://do

[2019-11-27 13:24] OCDtraining commented on #43407
Ok, now the option "Device" next to my Debug "Play" button disappeared, but I hit it anyway with the option Local Machine and it gave me this error in my headset instead "Acces denied to spatial anchor exporter. Ensure your os build is up to date and the spatialperception capability is set." Just for clarification I do NOT use Microsoft HoloLens, I use HP Windows Mixed Reality Headset.

[2019-11-27 13:46] mariobede commented on #43568
can be closed :)

[2019-11-27 13:46] #43568 closed

[2019-11-27 13:54] NavtejSaini-MSFT commented on #43464
@blueelvis PR has been raised for adding this information. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97308
@VanMSFT Please check and approve.

[2019-11-27 13:58] NavtejSaini-MSFT commented on #42651
Thanks @CarlRabeler for making the changes.
@zrdw The changes have been made to the document. We are closing this issue.

[2019-11-27 13:58] #42651 closed

[2019-11-27 13:59] tobbra opened #43662 "Support of Azure NetApp Files?"
Are SAP deployments with IBM DB2 on Azure NetApp Files (NFS) on Linux supported? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63449547-4130-9b2b-f670-8c244d4aaac9
* Version Independent ID: 6f0051e4-20b3-b0af-71f8-2c4464440553
* Content: [IBM Db2 Azure Virtual Machines DBMS deployment for SAP workload](https:/

[2019-11-27 14:02] NavtejSaini-MSFT commented on #43532
@nandantumu Please get back to us if any other question or we will go ahead and close this thread by EOD.

[2019-11-27 14:16] NavtejSaini-MSFT commented on #24239
@ejjpi We have reopened this issue and assigned to our author.
@anosov1960 Please check this issue and provide guidance.

[2019-11-27 14:17] ytugarev commented on #29167
and that is exactly what MS put in their code snippets. @rustamm thanks for your clarification, it saved it saved a lot of time

[2019-11-27 14:45] ytugarev opened #43664 "Another sloppy script"
Get-AzKeyVaultSecret -vault-name &lt;YourKeyVaultName&gt; should be Get-AzKeyVaultSecret -VaultName $keyVaultName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
* Version Independent ID: 1d80c823-5a41-7d2b-f40d-b0f2ca3c673f
* Content: [Azure Key Vault managed storage account - Power

[2019-11-27 15:07] richard-artes opened #43665 "The Table of Windows Updates is out of date"
The Table of Windows Updates is out of date.
For example, KB4022715 has been superseeded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure](https://docs.microsoft.com/en

[2019-11-27 15:07] MaxHogervorst commented on #43369
@femsulu  I'm creating a sub for MPA. The re prerequisites are admin agent or global admin, I'm a global admin.

It's been created successfully, I'm just not getting the correct response:

Cache-Control: no-cache
Pragma: no-cache
Content-Length: 2
Content-Type: application/json; charset=utf-8
Expires: -1
Location: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations

[2019-11-27 15:16] msangapu-msft commented on #42351
Hi team, sorry for the delay. Yes the "Application Logging" will enable Docker Container logs. I will update the doc today.

[2019-11-27 15:18] prvempat opened #43666 "Mounting Azure file share on Maxbook with high sierra OS"
The process mentioned above for mounting azure file share via Finder and via Terminal do not work directly. Customers may be confused with one of the prerequisites of keeping the port 445 open.

In order to make it work on Terminal, I followed the below

The below command from the document
mount_smbfs //&lt;storage-account-name&gt;@&lt;storage-account-name&gt;.file.core.windows.net/&lt;share-name&

[2019-11-27 15:31] diberry commented on #43338
@tsuwandy - Can you please provide an answer, I will add to doc. #in-progress

[2019-11-27 15:32] dominicbetts commented on #43116
@dmitriyteteruk @koratshail - thaks for getting in touch and reporting this issue. The tutorial has recently been updated to use the latest version of the code generator and the Vcpkg library manager - this is now the preferred way to build the code in this tutorial. Thanks, Dominic

[2019-11-27 15:32] prvempat opened #43668 "Confusion between "About IKEv1 and IKEv2 for Azure VPN connections" and "FAQs ""
The below text from "About IKEv1 and IKEv2 for Azure VPN connections"

Traditionally we allowed IKEv1 connections for Basic SKUs only and allowed IKEv2 connections for all VPN gateway SKUs other than Basic SKUs. The Basic SKUs allow only 1 connection and along with other limitations such as performance, customers using legacy devices that support only IKEv1 protocols were having limited experience

[2019-11-27 15:33] ignaciofls commented on #43588
When we try to use a Azure Databricks cluster with the sdk we get this "Unsupported compute target type Databricks"

![unsupported](https://user-images.githubusercontent.com/38979090/69734119-c5079e00-112e-11ea-84b9-7f4afc31228c.jpg)

while the table in https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-set-up-training-targets#compute-targets-for-training describes Azure Databr

[2019-11-27 15:36] DCtheGeek commented on #42753
@aholler2 Thanks for waiting. The new language element, [count](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#count), is now available and should satisfy what you were looking for. I'm going to close this issue now, thanks again for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-11-27 15:36] #42753 closed

[2019-11-27 15:48] msrini-MSFT commented on #43668
@prvempat ,Before IKEv1 protocol is only supported in Basic SKU of Policy based gateways.

Now IKEv1 is supported in all the SKUs, except Basic SKUs.

Hope that clarifies!

[2019-11-27 15:55] tsuwandy commented on #43338
Dispatch app is a LUIS app, so it still has to follow LUIS limits, utterance limit will be 15k.  When total utterance from child sources to exceed 15k, dispatch will down sample the utterances to keep it under 15k.  There’s an optional parameter for cli to do auto active learning which will down sample intelligently (remove non relevant utterances).

[2019-11-27 15:55] SnehaAgrawal-MSFT commented on #43640
@GarryMAM Thanks for asking question! Could you please elaborate on which instructions you are following and what error its showing to help you better on this. A Screenshot would be helpful.

[2019-11-27 15:56] dominicbetts commented on #43592
Hi @reginbald - the Nuget package you found is preview version. Please keep an eye on https://docs.microsoft.com/azure/iot-pnp/ where we'll publish some quickstarts for C# as soon as the official Nuget package is launched. Thanks for your interest.

[2019-11-27 15:59] wimdeblauwe commented on #33960
Can somebody detail the steps needed for step 5:

I am trying something like https://login.microsoftonline.com/tenantdev.onmicrosoft.com/oauth2/v2.0/token

with grant_type set to `client_credentials` and scope set to `openid+offline_access+profile`, but I am getting:

[code]

What am I doing wrong?

[2019-11-27 16:05] lumayara commented on #25798
Hi@tchristiani. I am talking about the demo on the azure site.. It did not work for me...

[2019-11-27 16:09] DCtheGeek commented on #43652
#assign:DCtheGeek

[2019-11-27 16:09] DCtheGeek commented on #43652
@spaelling Thanks for the feedback. While subscription ids are part of the payload, it's a recommended practice to make your queries for more than a single subscription, which is why it's mentioned in this doc. As to your question, I'll run it by the team and will get back to you. As it's Thanksgiving Week in the US, there will likely be a delay in the response.

@MicrosoftDocs/azure-cxp-triage Pl

[2019-11-27 16:12] I90Runner commented on #43573
Hello,
Currently we do SSL offloading through frontdoor, then traffic flows through Application Gateway and Palo Alto firewall and we are not seeing the correct X-Forwarded-Proto . It should be https but we are seeing http.

GET /api/Configuration HTTP/1.1
Host: maine.measuredprogress.org
X-Request-ID: 2dc11840c8104699441de04964a328b5
X-Real-IP: 66.162.88.82
X-Forwarded-For: 66.162.**.**
X-Forward

[2019-11-27 16:13] yuriy-belelya-akqa commented on #33960
Add application id after all scopes, like **profile openid offline_access derrfdds-6c6e-456c-aab2-c2c4ffbxxxxx**

[2019-11-27 16:29] spelluru commented on #42786
Hi @aluong - Thanks for the feedback.

We have three articles on the same topic:

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-api-overview#event-hubs-client
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-getstarted-send

For the preview version of .NET API,

[2019-11-27 16:31] mamccrea commented on #42938
#please-close

[2019-11-27 16:32] #42938 closed

[2019-11-27 16:34] DixitArora-MSFT commented on #43649
Hi @Jayesh040 Thanks for reaching out. We will review and update as appropriate.

[2019-11-27 16:35] d039043 opened #43669 "Azure Active Directory: Login URL not working"
Hi,
I set up SSO between for Salesforce(SP) using Azure Active directory as the Identity provider.
- Service provider initiated login works pretty well.

However, when I try to login via Azure login URL ==&gt; https://login.microsoftonline.com/aa98b67f-726a-46b5-9cd5-88a50d8943aa/saml2

I get the error below.

What needs to be done to enable login from Azure Active Directory?

Thanks
d039043

----

[2019-11-27 16:43] msangapu-msft commented on #42351
Changes were merged to master: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97318
#please-close

[2019-11-27 16:43] #42351 closed

[2019-11-27 16:44] souravmishra-msft commented on #43628
@joepaulk, This feature is not available yet, but its in the pipeline and we can expect it in future updates.
You can check this article for more details: [https://azure.microsoft.com/en-in/blog/announcing-the-preview-of-microsoft-azure-bastion/](url)

[2019-11-27 16:44] #43628 closed

[2019-11-27 16:46] msrini-MSFT commented on #43573
When the request hits the Application gateway it should be HTTP as the SSL offload happens at the Front door. Now you need to check with the Palo Alto how the request looks like.

[2019-11-27 16:59] GiftA-MSFT commented on #43654
@akash-roy-123 thanks for reaching out, we will review your inquiry and get back to you shortly.

[2019-11-27 17:19] FrankHu-MSFT commented on #43483
hey @dipesh-wadhwa the current documentation is correct, please follow the new documentation. We'll keep this product feedback in mind so that we can try to keep things more consistent in the future. Thanks for your feedback, as we've addressed this concern, we'll be closing out this github issue by end of day to day, please let us know if you have anymore concerns, and if you have any other issue

[2019-11-27 17:21] zcabrer opened #43672 "Ports over 64000 now usable by creating rules with PowerShell/ARM templates"
Please update the "Known issues" section of this page for "Port range in network and application rules". It is now possible to configure network/application rules to use high ports (above 64000). However, at this time it can only be configured with PowerShell or ARM templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-27 17:25] jkrollin opened #43673 "Simpler Examples??"
following along your examples and you come across stuff like this:  services.AddMicrosoftIdentityPlatformAuthentication(Configuration);
Now when you add that your new project you cannot find a library/nuget package for it, instead you'll need to proceed to copy and paste 40 different classes that have no explanation what so ever into your project and......... still doesnt work. Can you not just sh

[2019-11-27 17:27] msangapu-msft commented on #39662
We've added this time to our backlog for review.

#please-close

[2019-11-27 17:27] #39662 closed

[2019-11-27 17:34] RyanHill-MSFT commented on #43655
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-27 17:36] spelluru commented on #39172
Confirmed with Shubha that they are the max limits.
#please-close

[2019-11-27 17:36] #39172 closed

[2019-11-27 17:54] knaidoo33 commented on #43623
I would like to see the list of supported connectors.

This is from the data-flow-source docs
![image](https://user-images.githubusercontent.com/57462633/69747798-80aadc80-10f3-11ea-867d-2fb74b810eaf.png)

Thank you,
Katarina

[2019-11-27 17:57] spelluru commented on #41397
Hi @videlalvaro - I think it's ok to keep as it is.

We are not talking about a partition failure here, right? "suffering from a network partition **failure**"

@ShubhaVijayasarathy - please add your input when you get a chance. Thanks.

[2019-11-27 18:00] RyanHill-MSFT commented on #42933
Hi @TonyLugg, we are currently updating our docs but we have discovered some breaking changes that are outlined in xamarin-forms-samples/pull/558. For an example, take a look at WebServices/AzureNotificationHub/NotificationHubSample/NotificationHubSample.Android/FirebaseService.cs and let us know if that helps.

[2019-11-27 18:03] lmolkova opened #43676 "Need to elborate on support for EventHubs"
EventHubs support was added recently and this doc does not cover details
- Send calls are tracked
- Receive calls are not tracked
- Explain batching scenarios
- Connecting producer to consumer is not possible yet if the report to different ikeys, but should be available early next year

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-27 18:06] AbhaPatankar commented on #29197
Any updates here?

[2019-11-27 18:07] kovaliovsg commented on #42508
I agree with this comment.
It took me long time to figure out that the condition regex rule does not work for AAD integration with a Web App.
I tweaked the rule and now it looks this way:
Pattern to match:
(.*https%3a%2f%2f|https:\/\/).*\.azurewebsites\.net(.*)$
Rewrite header value:
{http_resp_Location_1}contoso.com{http_resp_Location_2}

[2019-11-27 18:08] kovaliovsg commented on #42508
Correction
Pattern to match:
(.*https%3a%2f%2f|https:\/\/).*\.azurewebsites\.net(.*)$

[2019-11-27 18:10] petertuton opened #43677 "Minor: There are now six resources in the original template"
Microsoft.Network/networkSecurityGroups has been added to the template, so references to the resource count need to be incremented to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255db119-3d96-f4de-a2bb-c90f782b883d
* Version Independent ID: f769af8b-63af-42ba-0ebc-933ade25645e
* Content: [Create lin

[2019-11-27 18:10] TonyLugg commented on #42933
Hi @RyanHill-MSFT,

I don't use the notification hub code in my app, our back-end service handles the notification hub.  Also, your sample is still using the deprecated OnMessageReceived method.  I have everything working with the new firebase code.  I just wasn't able to retrieve the current token.

[2019-11-27 18:10] kovaliovsg commented on #42508
Sorry, I cannot insert the correct pattern in this page due to some HTML restrictions on Microsoft documentation pages.

[2019-11-27 18:13] Deepfat commented on #29145
guys it's november and the documentaion for this is wrong all over place.  specifically what should I use for the user principla name here so I can successfuly run az keyvault storage add.  I am happy to write this up if you guys are busy, but to quote scottgu it's not working until the documentaion is there

[2019-11-27 18:15] ericzaller opened #43678 "Security Center Playbooks replaced by Workflow Automation"
This documentation is no longer accurate, as Security Center Playbooks have been replaced by Workflow Automation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0c4309-ab07-68c4-89d9-c7c406f426ec
* Version Independent ID: 9145deb2-f921-1f7c-e35c-61a0ad7ac793
* Content: [Security Playbook in Azure Security Center](htt

[2019-11-27 18:30] njsee opened #43679 "vNet Injection deployment documentation is ambiguous"
During a recent deployment of Databricks, we came across a number of issues involving the network.
The customer is using UDR to NVA and also forced tunneling back to onprem data centers for internet connectivity.
The document lacks clarity on deploying UDR's for access to certain Azure Public services as listed here:
https://docs.microsoft.com/en-ca/azure/databricks/administration-guide/cloud-conf

[2019-11-27 18:36] EricDahlvang opened #43680 "Mention presence of emulator on Hosted VS2019"
It would be useful to mention that https://marketplace.visualstudio.com/items?itemName=azure-cosmosdb.emulator-public-preview&ssr=false#overview does NOT work on Hosted VS2019, but the emulator comes already installed and can be started with a ps step:

Write-Host "Starting CosmosDB Emulator"
Import-Module "C:/Program Files/Azure Cosmos DB Emulator/PSModules/Microsoft.Azure.CosmosDB.Emulator"
Star

[2019-11-27 18:40] tchristiani commented on #25798
So, that is a bug on that site and not a documentation bug. You need to report it on azure.microsoft.com. This is for documentation issues. Thank you!

[2019-11-27 18:48] MarileeTurscak-MSFT commented on #43661
@ytugarev
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-27 18:48] MarileeTurscak-MSFT commented on #43664
@ytugarev
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-27 19:11] spelluru commented on #42334
Fixed. Waiting for the article to go live.

[2019-11-27 19:12] MicahMcKittrick-MSFT commented on #43665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-27 19:13] MicahMcKittrick-MSFT commented on #43662
Thanks for the question! We are investigating and will update you shortly.

[2019-11-27 19:15] MarileeTurscak-MSFT commented on #43661
I believe it should be -ActiveKeyName 'key1'

I made a pull request to update this.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/97329

[2019-11-27 19:15] #43661 closed

[2019-11-27 19:16] gucalder commented on #42255
@bwren The example for the LA export looks more like the response from a query than like the body of a request itself.  I say that because of the presence of Id and Name. The Id is a read-only property, and the Name is in the url of the request (it is also a read-only property.)

It will help to have an example of the actual request call for both cases.

[2019-11-27 19:19] MarileeTurscak-MSFT commented on #43664
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97330

[2019-11-27 19:19] #43664 closed

[2019-11-27 19:19] kobulloc-MSFT commented on #43676
@lmolkova Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-27 19:20] MicahMcKittrick-MSFT commented on #43585
@Heidilohr @ChristianMontoya any suggestion on how to troubleshoot this? I cannot seem to repo the issue.

[2019-11-27 19:21] MicahMcKittrick-MSFT commented on #43399
@esunder any update on this?

[2019-11-27 19:23] dtalet commented on #43212
Hello.
Can anybody tell me if it is possible or not to create a private endpoint for a storage account which is in a different tenant? And if it is possible then, how to proceed?
Thanks in advance.
Regards,
David Talet

[2019-11-27 19:24] poochwashere opened #43681 "All Universal Replica Regions are NOT available options"
I am attempting to create a read replica from a hosted Postgres master in `West US` for `West US2` using the Portal. `WestUS 2` is not showing up as an option for a replica. What gives as `West US2` is listed as a `universal replica region`???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8660100-8879-6519-3db2-14039

[2019-11-27 19:26] spelluru commented on #42336
Updated. Waiting for the article to go live.

[2019-11-27 19:29] spelluru commented on #42432
Fixed. waiting for the article to go live.

[2019-11-27 19:30] spelluru commented on #42432
#assign: spelluru

[2019-11-27 19:30] spelluru commented on #42336
#reassign:spelluru

[2019-11-27 19:30] spelluru commented on #42432
#reassign:spelluru

[2019-11-27 19:45] axisc commented on #43437
@FrancoisNevo - the asynchronous relates to "transfer".

I like the idea of wording it that way :), thanks for the feedback.

@spelluru - could you execute the change to "asynchronous transfer of data and state".

[2019-11-27 19:47] spelluru commented on #43437
@axisc - sure. will update it today. Thanks.

[2019-11-27 19:47] DavidWeshen opened #43682 "Missing Step 5 and Step 4 on Front-End and Back-End Subnets respectively."
I understand that this page is rather old and Classic is not directly suggested to be continued. However, it is worth noting that the Steps here are inconsistent with the approach needed to actually apply the NSG. Specifically if you reference the CLI Steps you see that there is a step for association.

The Missing command is:
Set-AzureNetworkSecurityGroupToSubnet

Following the context of the pag

[2019-11-27 19:49] axisc commented on #41894
[Here](https://github.com/Azure/azure-sdk-for-php) is the new central SDK for PHP which is still in preview.

cc: @jfggdl for the schedule on the PHP releases

[2019-11-27 19:50] mike-urnun-msft commented on #43641
Hi @vijayraavi - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-27 19:52] CeciAc opened #43683 "Troubleshooter not working on Windows 2008R2"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/551

@kevinrr3 commented 23 hours ago — with docs.microsoft.com
The troubleshooter won't work on Windows 2008R2(And probably lower versions) because the Test-NetConnection CmdLet used in the troubleshooting script is not availible by default on these operating systems.
To workaround the issue you can copy the

[2019-11-27 19:55] conceptdev commented on #32589
When these instructions were written, EasyTables had a default node.js backend already implemented - no download was required (unlike the .NET backend which you need to download and then deploy).

There is a node folder in the [backend GitHub repo](https://github.com/Azure/azure-mobile-apps-quickstarts/tree/master/backend/) if you'd like to view the code.

Also, see the note at the top of this pag

[2019-11-27 19:57] mike-urnun-msft commented on #43653
@Coldpawz Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-27 19:57] himanshusinha-msft commented on #43404
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2019-11-27 19:58] MarileeTurscak-MSFT commented on #43669
@d039043
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-27 19:59] himanshusinha-msft commented on #43404
initially closed this  by mistake , so re-opening it again

[2019-11-27 20:00] TravisCragg-MSFT commented on #43646
@dennis-benzinger-hybris Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-27 20:03] TravisCragg-MSFT commented on #43672
@zcabrer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-27 20:03] jeevansd commented on #43669
@d039043 You are using the wrong URL here. For IDP initiated URL please find the "User Access URL" from Azure AD Application Properties tab. Then you can use that URL in the browser and it will do the SSO. Also alternatively user can login to Access Panel https://myapps.microsoft.com and then click on the application tile to perform the SSO.

[2019-11-27 20:03] jeevansd commented on #43669
#please-close

[2019-11-27 20:03] #43669 closed

[2019-11-27 20:05] ankitvijay commented on #41827
Thanks @HeidiSteen 🙂

[2019-11-27 20:05] ChristianMontoya commented on #43585
@djcat80 :  Even in the "All applications" list under **App registrations**?

[2019-11-27 20:12] ankitvijay commented on #41929
Hi @HeidiSteen I have not gone ahead with Azure Search unfortunately due to some of the issues like the one reported. So cannot confirm if I'm get the error. May be this can be closed and reopened if someone reports similar issue again?

[2019-11-27 20:13] TravisCragg-MSFT commented on #43682
@DavidWeshen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-27 20:27] mike-urnun-msft commented on #43488
@rahuljim Since we haven't heard back, we'll proceed to close this issue for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-27 20:27] #43488 closed

[2019-11-27 20:28] mike-urnun-msft commented on #43470
@skagrawal10 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-27 20:28] #43470 closed

[2019-11-27 20:32] terrymandin opened #43685 "Not seeing "annotations" in Event Hub export"
I have used the PnP with an MXChip to add a couple devices to my IoT Central instance.  I have setup Telemetry export, but do not see the JSON "annotations" node described in the "Telemetry" section above when I look at the JSON in Stream Analytics.  My JSON looks like the following:

[code]

How do I get the "annotations" node so I can see my device id?

---
#### Document details

⚠ *Do not edit

[2019-11-27 20:35] RyanHill-MSFT commented on #42933
Sorry about that @TonyLugg. Glad you did find a workaround. I'm sure the doc author will update the doc appropriately addressing these gaps.

[2019-11-27 20:37] MicahMcKittrick-MSFT commented on #43662
@tobbra to confirm, are you asking if NetApp files is a supported Database option?

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/dbms_guide_ibm#storage-configuration

[2019-11-27 20:37] d039043 commented on #43669
Thanks @jeevansd
Sorry, but where can I find "Azure AD Application Properties" tab?
Still trying to figure out Azure UI and navigation!

[2019-11-27 20:38] GiftA-MSFT commented on #43588
@ignaciofls thank you for clarifying. It seems you are using Azure Databricks as a compute target in a Azure Machine Learning pipeline instead of installing the Azure ML SDK from Azure Databricks GUI. The information you are referring to is specified in the following [document](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/azure-databricks/databricks-as-remote-co

[2019-11-27 20:39] #43588 closed

[2019-11-27 20:39] RobLSDev opened #43686 "Helm commands should be updated for v3"
Any mentions of tiller or helm init should be noted that they are only for pre-v3 of Helm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3925c0f-2f3a-a53e-d558-c00cca37e961
* Version Independent ID: 1a49146e-07a4-bb12-0a5b-0d07590fbcad
* Content: [Create an ingress controller with an existing Application Gateway](htt

[2019-11-27 20:44] MarileeTurscak-MSFT commented on #43595
I just tested it and it shows up under My APIs. Make sure that you are using B2C and have added all of the permissions and naming schemes in the article.
![image](https://user-images.githubusercontent.com/13383753/69758122-844e5b80-1113-11ea-9a62-8f6dd8522d41.png)

[2019-11-27 20:44] himanshusinha-msft commented on #43404
What is the error you are getting ?
I did tried this out , I have a NULL value for a property which is of the type datetime in table storage .

![Capture1](https://user-images.githubusercontent.com/47539458/69757851-e0fd4680-1112-11ea-83e6-06be95ff681f.PNG)

This is mapping what i see
![Capture2](https://user-images.githubusercontent.com/47539458/69757967-376a8500-1113-11ea-96f6-f681f9cd850d.PNG)

[2019-11-27 20:44] #43404 closed

[2019-11-27 20:45] TonyLugg commented on #42933
@RyanHill-MSFT I rewrote my firebase service class and removed the deprecated firebase ID class as necessary for  Xamarin.Firebase.Messaging v71.1740.0.  The Android doc shows a way of getting the "current token" but it doesn't work in Xamarin.  I'm relying on the OnNewToken method which doesn't always get fired, so I am now caching the token for subsequent uses.  I also incorrectly stated in my p

[2019-11-27 20:45] MarileeTurscak-MSFT commented on #43595
I am closing this out since this has been confirmed not to be a doc issue but if you have further questions or or still having trouble with this, feel free to reach out on [Q&A](https://docs.microsoft.com/answers/questions/index.html) and we will happily continue the discussion.

[2019-11-27 20:45] #43595 closed

[2019-11-27 20:48] Larryngolog opened #43687 "Retention times for Azure AD plan from Office 365/Dynamics 365"
What is the retention time for Azure AD plan that comes with Office 365 or Dynamics 365?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5975a65a-630f-a2ab-7cc8-268e278a057b
* Version Independent ID: ed2cdee0-9a1e-c435-a172-054896ec35f8
* Content: [How long does Azure AD store reporting data?](https://docs.microsoft.com

[2019-11-27 20:52] marcusclayton opened #43688 "Intune Steps/Requirements"
Looks like there is a clear difference between enabling for all Intune [Win10] devices in the section "Enable with Intune", or doing a more targeted approach, in the following section "Targeted Intune Deployment". Can the article be updated to reflect these are two different approaches? The way it's currently formatted and written, it looks like both of these steps are required.

---
#### Document

[2019-11-27 20:56] jeevansd commented on #43669
@d039043 In the Azure Portal got to Azure Active Directory -> Enterprise Apps -> Search your app -> Click on the app -> Properties page -> User Access URL

[2019-11-27 21:00] spelluru commented on #43437
#reassign:spelluru

[2019-11-27 21:07] marknettle commented on #27537
The dashboard resource type is present in the ARM template reference, but no definition of the structure of the DashboardProperties.lenses object, which is what is actually needed.

https://docs.microsoft.com/en-us/azure/templates/microsoft.portal/2019-01-01-preview/dashboards

[2019-11-27 21:08] I90Runner commented on #43573
We have the similar setup with Traffic Manager and X-Forwarded-Proto is set to https.
TrafficManager -> Application Gateway-> Palo Alto : X-Forwarded-Proto: https
FrontDoor-> Application Gateway-> Palo Alto : X-Forwarded-Proto: http

Thanks for confirming the expected behavior for X-Forwarded-Proto with Frontdoor. We will packet capture at Firewall and see if Palo-Alto is passing correct X-Forward

[2019-11-27 21:19] CeciAc opened #43689 "Windows 7 Pro IKEV2 support ?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/660

I connected a Windows 7 Pro client to Azure via certificate-type authentication on a Point to Site.
After trouble with another post, I found that the VPN uses ports 4500 and 500 in UDP while they are ports related to IKEv2. SSTP uses 443 in TCP.

Is the documentation up-to-date on this?
Does windows 7 pr

[2019-11-27 21:23] Pilchie opened #43690 "`az account list` needs a --output"
In the `az account list` command, it needs something like `--output table` to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7cb58c-7130-0a00-3d8b-2c3e35ef42ec
* Version Independent ID: be23b961-c5ba-d257-da0c-860377d5ce9b
* Content: [Create a Kubernetes dev space: Visual Studio Code & .NET Core - Azure Dev Spa

[2019-11-27 21:30] jasonracey opened #43691 "Would like to have the option to set time of day to run the alert query"
It looks like the only option is for the query to run immediately after the alert is created. In my case I am using this feature in a slightly different way. I'm using it to create a report of events over the past 24 hours, and I would like it to run at midnight and email my team the result so it's in our inbox in the morning. Seems like it would be easy to add an option to either "start immediate

[2019-11-27 22:00] MarileeTurscak-MSFT commented on #43660
@KjetilJar since this is a product question and not a documentation bug or enhancement, please post this to [Microsoft Q&A ](https://docs.microsoft.com/answers/index.html)where we will respond directly.

[2019-11-27 22:00] #43660 closed

[2019-11-27 22:08] tamram commented on #42374
@TheITguy666 - Thanks for your feedback. I've fixed the parameters and cleaned up the examples. Please let us know if you find any further issues.

#please-close

[2019-11-27 22:08] #42374 closed

[2019-11-27 22:22] MarileeTurscak-MSFT commented on #43602
I made a pull request to add that. @MicrosoftGuyJFlo please confirm

[2019-11-27 22:22] #43602 closed

[2019-11-27 22:22] MarileeTurscak-MSFT commented on #43602
https://github.com/MicrosoftDocs/azure-docs-pr/pull/97353

[2019-11-27 22:40] GiftA-MSFT commented on #43654
@akash-roy-123 please use [Install-Package Microsoft.ProjectOxford.Face -Version 1.4.0](Install-Package Microsoft.ProjectOxford.Face -Version 1.4.0). Thanks.

[2019-11-27 22:40] andresbarcenas opened #43692 "EXTERNAL-IP stays in <pending>"
Hello,
I've followed the instructions to create an ingress controller to an internal virtual network in Azure Kubernetes Service (AKS) and the private IP is never assigned. Here is an example of my YAML and HELM commands I am running:

controller:
  service:
    loadBalancerIP: 172.20.10.20
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"

HELM:
helm install n

[2019-11-27 23:07] MarileeTurscak-MSFT commented on #43678
@ericzaller
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-27 23:28] femsulu commented on #43677
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-27 23:30] femsulu commented on #43683
thanks for the feedback @kevinrr3.
@MGoedtel, would it be possible to update the existing doc with the aforementioned steps?

[2019-11-27 23:31] femsulu commented on #43691
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-27 23:37] breyed commented on #37167
What about outputs? Seems they should be camel case, too, since they're used alongside variables when linking templates. Currently, there's no guidance, only an example showing an all-lowercase output `ipaddress`, which differs from the camel case `resourceID` on the [Outputs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/template-outputs) page (which itself differs from the [.Net

[2019-11-27 23:42] cortesejoseph opened #43694 "SQL AlwaysOn Availability Group require SQL server Enterprise Addition"
I do not see a SQL Server 2016-2017 Enterprise edition provided by Microsoft.
AlwaysOn Requires Enterprise edition.
Please investigate
Joe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Version Independent ID: 1dca831e-665a-e8c0-1654-0887732f6908
* Content: [Tutorial: Prerequisite

[2019-11-27 23:51] camiloaem commented on #37017
I got same situation described here, any suggestion?

[2019-11-27 23:53] MarileeTurscak-MSFT commented on #43673
@jkrollin
Thanks for your feedback! I have passed this input along to the content author to address.

[2019-11-28 00:20] MicahMcKittrick-MSFT commented on #43694
@cortesejoseph We do offer that enterprise edition of both 2016 and 2017

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-iaas-overview#payasyougo

Where are you saying you are not seeing it?

[2019-11-28 00:20] JimacoMS3 commented on #39559
Hi @bospoort,

I'm not quite sure what you mean by "it didn't see the DPS". I have linked a free hub to a DPS instance using both the portal and the CLI. It shows up in the list of linked hubs for that DPS instance.  What did you do that didn't work?

Thanks,

Jimaco

[2019-11-28 00:20] damochiz opened #43696 "Correcting typos"
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-run-batch-predictions#build-and-run-the-batch-inference-pipeline

-&gt; DEFAULT_CPU_IMAGE is wrong, DEFAULT_GPU_IMAGE is correct.

[Now (wrong)]
from azureml.core import Environment
from azureml.core.conda_dependencies import CondaDependencies
from azureml.core.runconfig import DEFAULT_GPU_IMAGE

batch_conda_deps = CondaDepende

[2019-11-28 00:22] MicahMcKittrick-MSFT commented on #43692
@andresbarcenas we have seen users mention this before. For Example: #10427

Whenever we test it seems to be an random occurrence. Engineering is looking into why this happens sometimes. To get around it, simply remove the cluster and run through the steps again and it should work.

[2019-11-28 00:36] MarileeTurscak-MSFT commented on #43458
My default setting blocks and removes the user. If this is not showing as the default setting it is likely that someone changed it.

![image](https://user-images.githubusercontent.com/13383753/69766863-bf11bd00-112e-11ea-8bc3-fba3b4aff982.png)

I am closing this out since it appears to be more of a product question than a document issue, but feel free to post to Q&A if you would like to continue t

[2019-11-28 00:36] #43458 closed

[2019-11-28 00:39] MarileeTurscak-MSFT commented on #43471
Thanks. I made a pull request to add this to the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97367

[2019-11-28 00:39] #43471 closed

[2019-11-28 00:45] bospoort commented on #39559
Hi Jimaco, I was just able to link to a Free IoT Hub from DPS. Not sure what happened a few months ago. Thanks for checking and apologies for the churn.

[2019-11-28 00:45] #39559 closed

[2019-11-28 00:52] JimacoMS3 commented on #40260
@jomalsan Thanks for reporting this issue!

As a little background:

* Right now, in our documentation, we recommend that customers use the v2 IoT Hub device client in non-production environments. This client can be installed on all platforms (Linux, macOS, and Windows) using the command `pip install azure-iot-device`.

* For the IoT Hub service client, IoT Hub provisioning device client and IoT H

[2019-11-28 00:54] Mike-Ubezzi-MSFT commented on #43680
@EricDahlvang Thank you for bringing this to our attention. We are confirming this information and will update the documentation as appropriate.

[2019-11-28 01:08] walsehgal commented on #43610
@imartinez2, thanks for pointing it out. We have replaced the broken URL with a working one.

[2019-11-28 01:09] Mike-Ubezzi-MSFT commented on #43681
@poochwashere Please see the [cross-region replication](https://docs.microsoft.com/en-us/azure/postgresql/concepts-read-replicas#cross-region-replication) section of the document:

"You can have a master server in any [Azure Database for PostgreSQL region](https://azure.microsoft.com/global-infrastructure/services/?products=postgresql). A master server can have a replica in its paired region or th

[2019-11-28 01:12] Alberto-Vega-MSFT commented on #43685
@terrymandin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-28 01:13] roalexan opened #43697 "LifecyclePhaseNotFoundException when running mvn exec"
I ran through this demo (using PowerShell). Everything was fine until I ran the line:

mvn exec:java -Dexec.mainClass="com.blobs.quickstart.App" -Dexec.cleanupDaemonThreads=false

then I got the below exception:

[INFO]
[INFO] --------------&lt; com.blobs.quickstart:blob-quickstart-v12 &gt;--------------
[INFO] Building blob-quickstart-v12 1.0-SNAPSHOT
[INFO] --------------------------------[ jar

[2019-11-28 01:23] breyed opened #43698 "Output example causes deployment error"
I put the output sample code from this page into a template, but got these errors:

exist, available properties are 'provisioningState, resourceGuid, publicIPAddressVersion, publicIPAllocationMethod, idleTimeoutInMinutes, ipTags'..

exist, available properties are 'provisioningState, resourceGuid, publicIPAddressVersion, publicIPAllocationMethod, idleTimeoutInMinutes, ipTags'..

---
#### Document

[2019-11-28 01:39] roalexan commented on #43697
FWIW, I've never been very good at Maven, but I did manage to extract the dependencies from the project by running mvn dependency:copy-dependencies in the folder containing the pom.xml, and I was able to build and run the sample code outside of maven successfully. So, may not be worth tracking this one down.

[2019-11-28 01:55] 810123 opened #43699 "How to received the traffic send out by vtap?"
[Enter feedback here]
In the example, the port 4789 is a UDP port? Can my destination appliance sniffer the traffic at the NIC via promisc mode? I think if it's TPC, the connection can not be accepted.
az network vnet tap create \
--resource-group myResourceGroup \
--name myTap \
--destination $FrontendIpConfigId \
--port 4789 \
--location westcentralus
---
#### Document Details

⚠ *Do not edit th

[2019-11-28 02:23] xieofxie commented on #43338
@tsuwandy I found [it: doAutoActiveLearning](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch#creating-your-dispatch-model), thanks~

[2019-11-28 02:23] #43338 closed

[2019-11-28 02:42] wilsonlapwong opened #43700 "Exception of Direct Line Speech"
Hi,
After creating the Direct Line Speech in Bot Channel Registration, I got the error message in application log of app service when testing with Direct Line Speech Client v1.7:
[Error] Microsoft.AspNetCore.Server.Kestrel: Connection id "0HLRIT05SEF3P", Request id "0HLRIT05SEF3P:00000001": An unhandled exception was thrown by the application.System.UnauthorizedAccessException: Invalid AppId passe

[2019-11-28 02:44] genlin commented on #43682
DavidWeshen Thanks for helping to improve the content. I will update the article.

#please-close

[2019-11-28 02:45] #43682 closed

[2019-11-28 02:56] raviman8 opened #43701 "how to send windows event logs to event hubs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-28 03:11] kobulloc-MSFT commented on #43690
@Pilchie Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-28 03:14] juniwang commented on #43099
Hi @VikasPullagura-MSFT, thanks for following up this.  Is this actually supported and it's only a `doc-enhancement` issue?  If so, I would like to have another try, please instruct me on the extension config

[2019-11-28 03:17] sweehuat-gan opened #43702 "Lock down Key Vault to Application Gateway V2"
Hi,
   It seem there is currently no support on above mentioned although Key Vault is able to support firewalls and virtual networks.
   I have tried to enable service endpoint on Application Gateway V2 subnet and configure Application gateway subnet on Key Vault virtual networks, this is not working.
   I have also grant Application Gateway frontend Public IP on Key Vault firewall but wasn't able

[2019-11-28 03:27] prvempat commented on #43668
Hi Karthik,

Agree with you, that is why the statement below might confuse the customers. I got a customer asking this and against what is meant in FAQs

[cid:image001.jpg@01D5A5C9.D9593790]

Thanks,
Prashanth
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Wednesday, November 27, 2019 9:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Prashanth Vempati <Prashanth.Vem

[2019-11-28 03:34] EricKyaw commented on #41738
@likebupt, Thank you for the reply.

I tested "PATCH" using Postman. No error is returned and response body includes the old ilearner asset path instead of new one. I checked it using GET but ilearner file path is not updated. Are you able to update ilearner asset path using Patch?

[2019-11-28 03:45] jeffhollan commented on #41848
Just for those coming to this thread I'm pasting the answer here as well:

Azure Functions customers will continue to have the runtime serviced and patched moving forward.  Customers can remain with their apps on v2 and know they are secured until we deprecate the runtime. We have not yet announced any plans to deprecate v2, and whenever we do we plan to give at least 1 years notice for users to u

[2019-11-28 04:25] RohitMungi-MSFT commented on #43696
@damochiz Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-28 04:27] RohitMungi-MSFT commented on #43700
@wilsonlapwong Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-28 04:27] VikasPullagura-MSFT commented on #43666
@prvempat Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-28 04:28] lfittl commented on #43473
Hi @kagkarlsson - thanks for your patience!

This should be possible by exchanging the metadata service token, with a token for Postgres AAD. You'll need to utilize the On-Behalf-Of flow for this: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow

Depending on which framework you are using, this will work slightly different. Here is an example for .NET: ht

[2019-11-28 04:38] Karishma-Tiwari-MSFT commented on #43598
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-28 04:39] Karishma-Tiwari-MSFT commented on #43401
@SanDeo-MSFT @yyanev Can either of you help answer this question. Thanks :)

[2019-11-28 04:46] ChiragMishra-MSFT commented on #43701
@raviman8 Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-11-28 04:47] ChiragMishra-MSFT commented on #43679
@njsee Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-28 04:49] Alberto-Vega-MSFT commented on #43515
Hi @ I was able to clear that error by doing

`sudo apt-get install wiringpi`

followed by:
`npm install node-wiring-pi`

Can you please try that?

[2019-11-28 05:02] SumanthMarigowda-MSFT commented on #43686
@RobLSDev Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:04] Karthiktandra commented on #29197
Hi @AbhaPatankar ,

Please check in Subscriptions- Access Control - Classic Admin.

List of admins will be visible there.

You can ask the global admin to grant the permission.

[2019-11-28 05:05] Karishma-Tiwari-MSFT commented on #43511
1.The doc has an important section that says

2. You can use the --min-count, and --max-count parameters to update the cluster autoscaler node count via update command.
-https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-update
-https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks/nodepool?view=azure-cli-latest#examples

Let me know if you have further questions.

[2019-11-28 05:06] SumanthMarigowda-MSFT commented on #43687
@Larryngolog Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:08] SumanthMarigowda-MSFT commented on #43688
@marcusclayton Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:10] SumanthMarigowda-MSFT commented on #43689
@CeciAc Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:12] SumanthMarigowda-MSFT commented on #43697
@roalexan Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:19] SumanthMarigowda-MSFT commented on #43698
@breyed Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:21] SumanthMarigowda-MSFT commented on #43699
@810123 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 05:25] kyschouv commented on #43511
We only have one node pool, and it still didn't work. I also tried all combinations of min and Max count, and if you set min count higher than current count, the command will fail (even if the intent is to increase the minimum scale).

[2019-11-28 05:27] Alberto-Vega-MSFT commented on #43523
@iancraig45 Thanks again for trying IoT Hub.  I looked into this but I was not able to reproduce. I used the latest version of the CLI by opening the one available on the portal. I did something like this and it succeeded.

`az iot hub device-identity create --hub-name alvegago-iothub --device-id MyNodeDevice`

Do you have the latest? this is what the CLI in the Azure Portal currently shows for me

[2019-11-28 05:29] msrini-MSFT commented on #43702
@sweehuat-gan , As of today Key Vault Integration to Application Gateway V2 is not supported. When you choose a cert in the HTTP Settings, there are other management calls which are used to validate the cert in the Key Vault. You need to white-list those IPs and as of today these IPs are not static. There are no workaround as of today other than adding all the IPs which is listed in Azure Cloud Re

[2019-11-28 05:31] AbhaPatankar commented on #29197
Hello Greg,

I am Abha, part of Microsoft’s Azure DevOps team. We use “Supa Tool” to create the work items by automatically reding the mailbox/ github source.

To do this, we use GraphMailSouce by creating an App. However, while running the tool, I got the following error:

“Application needs permission to access resources in your organization that only an admin can grant. Please ask an admin to g

[2019-11-28 05:32] SadiqhAhmed-MSFT commented on #43326
@jeffesc85 We will proceed to close this issue now. Feel free to get back on this with a comment tagging me in your reply for any questions you may have.

[2019-11-28 05:32] #43326 closed

[2019-11-28 05:32] Alberto-Vega-MSFT commented on #43610
@imartinez2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-28 05:32] #43610 closed

[2019-11-28 05:40] msrini-MSFT commented on #43668
@prvempat , the statement which is mentioned in FAQ is 100% accurate. Let me breakdown and explain why it is written in this way.

Can I have IKEv1 site-to-site connections on Basic SKUs of RouteBased VPN type?

No.

Basic SKU can be created in Route based gateways as well as in the Policy based gateways. IKEv1 is supported in Basic SKU of Policy based gateways by default. But IKEv1 is not support

[2019-11-28 05:44] msrini-MSFT commented on #43689
@CeciAc , For IKEv2, OS versions prior to Windows 10 are not supported and can only use SSTP or OpenVPN® Protocol.

You connected via SSTP which is supported, If you change to only IKEv2 it will not work.

[2019-11-28 05:44] #43689 closed

[2019-11-28 05:45] MarileeTurscak-MSFT commented on #43459
Make sure you add the Azure AD roles locally and also add the roles in the portal.

As this is more of a product question than a documentation issue and may take some further troubleshooting, please post this to [Microsoft Q&A ](https://docs.microsoft.com/answers/questions/index.html)where we can help with this. If you send me an email at AzCommunity@microsoft.com I can also ope a free support tic

[2019-11-28 05:45] #43459 closed

[2019-11-28 05:48] msrini-MSFT commented on #43573
When you use Traffic manager in your architecture, the actual request will not flow via Traffic Manager. Traffic manager resolve to the endpoint which client wants to connect to and the browser will be sending request to the endpoint.

So in your current scenario, we have 2 reverse proxies, Frontdoor and Application Gateway. So you need to check when the packet leaves Application gateway, does App

[2019-11-28 06:09] sweehuat-gan commented on #43702
@msrini-MSFT , Thanks for the respond. Do you know of any plan road map to have Application Gateway V2 supports Service endpoint feature in near future?

[2019-11-28 06:43] seetharamanis commented on #43614
I got the same error too, used json instead and it worked. My az client is > 2.0.53

[2019-11-28 06:50] MarileeTurscak-MSFT commented on #43502
Make sure that the labels and templates (if applicable) are set to **published** and not **archived.** Sometimes these can get set to "archived" and not show up.

The[ troubleshooting guide ](https://support.office.com/en-us/article/known-issues-with-sensitivity-labels-in-office-b169d687-2bbd-4e21-a440-7da1b2743edc) may also be worth checking.

Since this is more of a product question than a docum

[2019-11-28 06:50] #43502 closed

[2019-11-28 07:01] msrini-MSFT commented on #43702
It is in the roadmap but i cannot comment on the ETA.

[2019-11-28 07:01] kagkarlsson commented on #43473
Ok, thanks for the clarification, will try that out when I get there then  👍

You could possibly consider hinting about this in the docs if you agree it fits

[2019-11-28 07:05] franzmiltner opened #43704 "distinguish between error codes and and other exception messages and use them consistently"
The article clearly states these are error codes and that is also what they are treated in Azure AD Sign In logs.
But over a longer endevaour with Microsoft support on another issue after long back and forth we found out you also use e.g. AADSTS50158 as a normal exception to trigger an Flow to validate status when a uses is e.g. under a Conditional Access Terms of Use policy.
This combintation of

[2019-11-28 07:08] WenJason commented on #43456
@ChiragMishra-MSFT Another question, will you fix the broken 404 link in the current page? It is not a good experience for customers.

[2019-11-28 07:13] sweehuat-gan commented on #43702
Noted. Is there anyone who can comment on the ETA?

[2019-11-28 07:20] wimdeblauwe commented on #33960
Still the same unfortunately:
[code]

[2019-11-28 07:27] msrini-MSFT commented on #43702
I meant ETA cannot be shared in this forum. The docs will be updated once the feature is released.

[2019-11-28 07:27] #43702 closed

[2019-11-28 07:50] wimdeblauwe commented on #33960
As an alternative I used the ADAL Java library to get the token and that works fine.

[2019-11-28 08:17] liuguijunhao commented on #43556
let me try,thank you.

[2019-11-28 08:18] daniel0x00 opened #43706 "WindowsAmd64 & WindowsX86 folders are no longer present in VPN config file"
When downloading the P2S VPN configuration file, the installers of VPN for Windows are not there as stated in the documentation. Rather, we get the following folder structure:

![image](https://user-images.githubusercontent.com/6474092/69788976-dea4f600-11bf-11ea-9f9d-fc7723dfd4b9.png)

![image](https://user-images.githubusercontent.com/6474092/69788994-ea90b800-11bf-11ea-8479-672c24c1a3c6.png)

N

[2019-11-28 08:34] djcat80 commented on #43585
@ChristianMontoya Yes I checked there.
I get no errors when I deploy the template, but there's no new app under "all applications" in app registrations. And when I open the URL of the webapp created, see this:
![image](https://user-images.githubusercontent.com/29977410/69790149-3e9c9c00-11c2-11ea-8d58-0a92e439c793.png)

[2019-11-28 08:59] tobbra commented on #43662
My question is if Azure NetApp Files is a supported storage option for IBM DB2 deployments as an alternative to managed disks. This is already the case for SAP HANA, but I'm trying to find out if that would be supported for IBM DB2 as well. Thanks a lot.

[2019-11-28 09:06] jakaruna-MSFT commented on #43436
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-28 09:06] #43436 closed

[2019-11-28 09:07] jakaruna-MSFT commented on #43558
@0x1D-1983 is there any update?

There is no straightforward way in Azure to get a certificate for Container instance.

[2019-11-28 09:10] msrini-MSFT commented on #43706
@daniel0x00 , Can you go ahead and enable SSTP option in your P2S configuration?

Right now you have only enabled OpenVPN and hence you are not able to see the above mentioned folders.

[2019-11-28 09:12] eerik47 opened #43708 "Availability Zones Messages and events are or are not replicated?"
Hi, can you please describe more detail about EventHub and Availability Zones? Is it same functionality like Geo-disaster (Messages and events are NOT replicated), or does it replicate events between zones? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 863a845f-4b06-126e-3cd3-88875fadf8e4
* Version Independ

[2019-11-28 09:19] DixitArora-MSFT commented on #43433
@Jayesh040 An approach I would try (note there are other options that could work as well) would be to have an additional subscription entity and introduce an [Azure Function](https://docs.microsoft.com/en-us/azure/azure-functions/) triggered by [ServiceBusTrigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus) configured to the subscription entity you'll set

[2019-11-28 09:19] #43433 closed

[2019-11-28 09:19] jakaruna-MSFT commented on #43614
@seetharamanis You are using an old version of az client.
If you are using aks-preview extension , update that also to the latest version
Can you update your client or try out in cloudshell and let me know

[2019-11-28 09:19] vikaskanchan opened #43709 "We are unable to see the Performance tab data inside our virtual machine which we created in azure."
Hi Team ,

We have created the two virtual machines in azure . For one machine we are able to see the all performance related data  and server details but for 2nd machine we are not able to see these information.

I am getting this Monitoring data is being collected and routed to Insights. It can take up to 10 minutes to arrive. Please try again in a few minutes. but after waiting more then given

[2019-11-28 09:20] DixitArora-MSFT commented on #43649
@Jayesh040 Seems like duplicate of this https://github.com/MicrosoftDocs/azure-docs/issues/43433

[2019-11-28 09:21] booyaa opened #43710 "Don't recommend using Standard Akamai"
This prevents you from being able to use a rules engine to redirect HTTP to HTTPS. Most people will want this.

Given that you can't switch between pricing tiers this is a painful lesson to discover and requires you to recreate the entire environment from scratch. CDN population and domain validation are not quick processes.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-11-28 09:21] mikeblakeuk commented on #40585
@Adam-Smith-MSFT
Also, can you update the sample / docs to use `CopyMethod.SyncCopy`
Thanks

[2019-11-28 09:30] schuettecarsten commented on #25978
Any news on this?

[2019-11-28 09:31] ChiragMishra-MSFT commented on #43708
@eerik47 Thanks for the feedback. We are looking into your query and will update you shortly.

[2019-11-28 09:31] VikasPullagura-MSFT commented on #43632
@AndrewJCo Stopping the VM from Portal which is deallocate state will release the cores to unused quota. The command you have used to check the usage may be calling API's which may be taking little time to updated, could be the reason you are seeing issue.

In case if you are stopping the VM from inside the OS then it is true as per your feedback about Quota limits.

Just want to confirm if you ar

[2019-11-28 09:33] DixitArora-MSFT commented on #43438
@zegor I have assigned this to content author for further review and update as appropriate.

[2019-11-28 09:35] ChiragMishra-MSFT commented on #43623
@knaidoo33 Please have a look at the following doc for connectors supported by ADF :

https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats

For data flow feature within ADF, the screenshot that you shared is the list of the source connectors that can be used.

Hope this helps.

[2019-11-28 09:35] ChiragMishra-MSFT commented on #43679
@mamccrea Can you please take a look at this ?

[2019-11-28 09:40] neeleshray-msft commented on #43704
@franzmiltner  Thank you for the feedback. We will check and update on the same.

[2019-11-28 09:43] 0x1D-1983 commented on #43558
I haven't got time to check out LetsEncrypt but we're in the process to implement it with Cloudflare and a custom dns host name assigned to the public IP address of the container group.

[2019-11-28 09:48] genlin commented on #43665
@richard-artes Thanks for the feedback. I will add information about how to find latest windows updates.

[2019-11-28 09:55] ylashin opened #43712 "Authentication for asaedge.azurecr.io"
How to pull ASA images ? They are hosted on `asaedge.azurecr.io` but that registry  probably needs authentication. I tried to follow the instructions in the documentation to push ASA job to a Jetson nano device. I configured the module to reference the ARM image but the module has not be loaded and there was no apparent errors in IoT Edge runtime.

---
#### Document Details

⚠ *Do not edit this se

[2019-11-28 10:02] GNMurthy1982 opened #43713 "How do we know region/country after creating b2c tenant?"
How do we know region/country after creating b2c tenant?

# Tech support and product feedback
If you would like to contact Microsoft about other things, such as product feedback or tech support, please review these guidelines:

- If you need technical support using Azure, the paid and free support options are described here: https://azure.microsoft.com/support/options/.

- Each article in the Azur

[2019-11-28 10:09] lgmorand opened #43715 "Scheduling accross zones"
Does AKS support scheduling based on zones as described in the kubernetes doc which imply to add specific tagging accross nodes during creation and scaling ?
https://kubernetes.io/docs/setup/best-practices/multiple-zones/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Inde

[2019-11-28 10:19] syswpit commented on #27468
@shashishailaj
@jvplopper

Hi both,

I ran into the same issue today, I followed the Microsoft Tutorial https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-webex-tutorial

and also received the ""Invalid SAML Assertion (13)" error like above.
The tutorial states you have to use the longer AuthContextClassRef if you are using Azure AD MFA (which we are), however neither the shor

[2019-11-28 10:23] CCostaT commented on #42878
@gorgi Yup it does look like it. I wonder if there's a better place to report this to get it fixed faster.

[2019-11-28 10:34] akashsamalfic opened #43716 "Azure Function stuck, no high CPU"
Hi There,

Our Azure Function is getting stuck. When we restart, it again starts working as normal. There is no high CPU traced. We checked the following:

1. CPU Utilization - normal - floating between 40-100%
2. Logs before it got stuck - No helpful traces found.
3. Live metrics - Not loading live metrics data
4. Tried manually triggering Azufre function - But getting the error as: The function

[2019-11-28 10:35] sylfabre commented on #41894
@axisc Thank you for your answer. The repo has been inactive for almost a year, do you still maintain it?

[2019-11-28 10:41] vijayraavi commented on #43641
Please find the below link that can locate the right team.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-portal

[2019-11-28 10:47] dhruvjoshicontata opened #43717 "How can I set alert on data columns that I see on Visual Monitor> Pipeline Run page example- Start Time or Duration"
Apart from metrics I don't see this information. A business use case is that I want to send an alert when any pipeline runs beyond 4 hours

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1667bd5c-cfec-f8d8-f455-285fe51b97c4
* Version Independent ID: e1426374-a7b8-25a1-dd8a-0fd60ff2738b
* Content: [Visually monitor Azure

[2019-11-28 10:51] ram-msft commented on #43416
@vikramdadwal We have forwarded this feedback to product team. You can also raise a user voice request [here](https://cognitive.uservoice.com/forums/578689-qna-maker-api) so the community can vote and provide their feedback, the product team then checks this feedback and implements the feature in future releases.

[2019-11-28 10:53] #43416 closed

[2019-11-28 10:58] venkatx5 opened #43718 "Active Directory User"
Is it not possible to provide access to Developer by using their Active Directory account? The screen shows must create developer account manually. No hint of Azure Active Directory User option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a7ef7d-09d5-c54e-316d-d706c0296c41
* Version Independent ID: e787063b-6141-7

[2019-11-28 11:01] ChiragMishra-MSFT commented on #43712
@ylashin Thanks for reaching out. We are currently investigating into your ask and will update you shortly.

[2019-11-28 11:01] ChiragMishra-MSFT commented on #43717
@dhruvjoshicontata Thanks for the feedback. We are investigating into your ask and will update you shortly.

[2019-11-28 11:04] woutervanranst commented on #33653
@msrini-MSFT, indeed please caveat in the article that this only applies to V1 and that this is not supported for V2

[2019-11-28 11:06] SumanthMarigowda-MSFT commented on #43710
@booyaa Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 11:13] aorlenko83 opened #43720 "Broken link"
Here https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters#performance-counters-for-applications-running-in-azure-web-apps the very last link is broken, referencing not existing page https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/PerformanceCollector/Perf.Shared/Implementation/WebAppPerformanceCollector/CounterFactory.cs

---
#### Document D

[2019-11-28 11:16] ChrisParrBIE opened #43721 "PowerShell"
Can the page be updated to include some example PowerShell for achieving the same thing as the GUI steps please.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22df42c6-831d-ba42-8224-27176e8fd7d9
* Version Independent ID: 15299b18-e361-9e9f-f836-f37a466dcae0
* Content: [Require Azure MFA with Conditional Access -Azure

[2019-11-28 11:24] MandeepSingh93 opened #43722 "Data Factory: Web Activity Basic authentication: Password disappeared?"
Hi team,

There is issue we are facing in basic authentication inside ADF : web activity (in both GIT and data factory mode).
Actually earlier both options i.e. username and password use to appear in basic authentication type
but from last few days option to fill password is not available. Earlier we did a work around for the same as we changed the password in json file of the activity and then sa

[2019-11-28 11:35] bamakus commented on #41664
Hi

I'm facing same issue with SalesForce Commerce Cloud Connection(obtain access token) activity
Git seems to lose connection password
Do you know please , if issue is fixed now ?

Regards

Christophe

[2019-11-28 11:39] FrancoisNevo commented on #43437
Thanks a lot everyone! Have a nice day.

[2019-11-28 11:39] #43437 closed

[2019-11-28 11:39] bamakus opened #43723 "Data Factory: Web Activity Basic authentication dissapeared (with GIT)"
Hi

Sorry but unfortunately for my project (DFV2 / SFCC APIs to integrate), we are facing the same problem as this user message

https://github.com/MicrosoftDocs/azure-docs/issues/41664

The problem is the loss (non-retention) of the SFCC web login password.
This causes deployment problems & all the saved scripts are on GIT
There seems to be a link with GIT

Do you have please
 a workaround?
 a sc

[2019-11-28 11:41] deyanp opened #43724 "Required version of Microsoft.NET.Sdk.Functions?"
Which version of Microsoft.NET.Sdk.Functions does this require? E.g. does it work with 1.0.29 as well, or it needs 1.0.30 (currently still in beta)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8bd5164-c40a-241a-d0ea-ccce7659f9ab
* Version Independent ID: f6a565b3-c03b-12bd-4bf4-a4ca19645811
* Content: [Azure Functi

[2019-11-28 11:42] shashishailaj commented on #43721
@ChrisParrBIE Thank you for your feedback . We will check this internally on how best we can enhance the experience on this document and update the same here.

[2019-11-28 11:42] RohitMungi-MSFT commented on #43700
@wilsonlapwong I have tried to re-run the sample and it works as expected after adding the DL channel registration. Please find the screen shot below:

![image](https://user-images.githubusercontent.com/46958063/69803197-72e37d00-1201-11ea-80ed-530aa3090aaa.png)

Could you please check if the speech service key and region are correctly entered for DL speech [project](https://github.com/Azure-Sampl

[2019-11-28 11:52] cornelcreanga commented on #43491
Thanks @mamccrea . As an example please take a look how [Github](https://developer.github.com/v3/scim/#supported-scim-user-attributes) and [Oracle](https://docs.oracle.com/cd/E52734_01/oim/OMDEV/scim.htm#OMDEV5526) are documenting the SCIM user creation.

[2019-11-28 12:04] SushrutDeo commented on #36836
Hi
I did everything exactly stated in the tutorial but my solution is not working. When I send Cloud to Device message, my simulated device doesn't receive any message and neither I receive any feedback. Could you help please? The text marked in yellow in the screenshots above just does not appear.

[2019-11-28 12:08] SushrutDeo opened #43726 "No Cloud to Device communication taking place."
Hi
I did everything exactly stated in the [tutorial](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-c2d) but my solution is not working. When I send Cloud to Device message, my simulated device doesn't receive any message and neither I receive any feedback. Could you help please? The text marked in yellow in the screenshots shown in the tutorial just does not appear.

![Captu

[2019-11-28 12:19] daniel0x00 commented on #43706
It was indeed the problem. Didn't understand that from the docs. Thank you very much!

[2019-11-28 12:19] #43706 closed

[2019-11-28 12:24] gjayalal opened #43727 "Parameters for function app linked service not listed in Release pipeline"
We are unable to pass parameters for function app linked service in Release pipeline.

In 'Override template parameters' of release pipeline (Azure resource group deployment task), parameters for function app linked services are not listed. As a result linked services for function app hold same values of source environment in target environment

As an alternative tried overwriting linked service j

[2019-11-28 12:40] Mo-rema07 commented on #41233
I am experiencing the opposite. I have no conditional access policies set, however I am getting an error message saying: "It looks like you have Identity Protection policies enabled. Enabling Identity Protection policies prevents you from enabling Security defaults."

[2019-11-28 12:44] jakaruna-MSFT opened #43728 "broken link"
https://github.com/Azure/Azure-DataFactory/tree/master/Samples/RunRScriptUsingADFSample  this link is broken in this page.
Search for "Invoke R scripts"

The same link is also broken in the below pages as well
Search for "Invoke R scripts"

https://docs.microsoft.com/en-in/azure/data-factory/v1/data-factory-map-reduce#run-spark-programs
https://docs.microsoft.com/en-in/azure/data-factory/v1/data-f

[2019-11-28 12:47] jakaruna-MSFT commented on #43728
Possible cause:   Samples folder under the repo is removed and samplesV1 and samplesV2 are added

https://github.com/Azure/Azure-DataFactory

[2019-11-28 13:06] madhanan opened #43730 "How to do it for Parameter type as "Array" instead of "String" type"
Dear Team,

It works very well with a single string, Could you update the document where multiple values in the form of Array could be passed.

Example :
[SQL*, Databricks*, Etcc..*]

Thanks,
Madhanan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 972dc7c8-2bd1-1e58-2da2-429116c7e1bb
* Version Independent ID: 3b7725dd-

[2019-11-28 13:20] madhanan commented on #39528
Hi, I have a question on top of this
Why is that we have to provide explicitly the values like example :

      "microsoft.alertsManagement/actionRules",
      "microsoft.alertsManagement/alerts",
      "microsoft.alertsManagement/alertsList",
      "microsoft.alertsManagement/alertsMetaData",
      "microsoft.alertsManagement/alertsSummary",
      "microsoft.alertsManagement/alertsSummaryList",

[2019-11-28 13:26] madhanan opened #43731 "How to pass multiple values with WildCard *"
Hi,
I am trying to add all the values for a resource. Lets take an example
"Microsoft.Compute"

Instead of adding like below -
  "Microsoft.Compute/availabilitySets",
      "Microsoft.Compute/disks",
      "Microsoft.Compute/galleries",
      "Microsoft.Compute/galleries/images",
      "Microsoft.Compute/galleries/images/versions",
      "Microsoft.Compute/hostGroups",
      "Microsoft.Compute/hos

[2019-11-28 13:31] nicolasdaviaud commented on #43518
@mike-urnun-msft in the meantime, could you shed more light on what is the subscription key / how to construct it from the clien id and the auth key ?

[2019-11-28 13:50] akash-roy-123 commented on #43654
There is a warning on that page, "The owner has unlisted this package. This could mean that the package is deprecated or shouldn't be used anymore."

[2019-11-28 13:51] akash-roy-123 commented on #43654
There is a warning on that page, "The owner has unlisted this package. This could mean that the package is deprecated or shouldn't be used anymore."

[2019-11-28 13:53] isamllr opened #43732 "MPA is now GA - please documented the impacts it had on using Databricks and Gen2"
MPA is now GA - please documented the impacts it had on using Databricks and Gen2, especially when it comes to settings access rights (ACLSs) on files and folders. The article is quite unclear when it comes to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b3d41f-1c15-36a2-4822-ee71f3bd337c
* Version Independen

[2019-11-28 14:02] ekuipers opened #43734 "Please update the Azure Load Balancer documentation on IPv6 support"
As IPv6 is now supported also on the Standard SKU, please update the documentation to reflect to the actual situation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f430c66f-e2a5-d6b7-9bae-485b1fba5d2e
* Version Independent ID: 9b17bbe4-892f-7783-6ed5-476c2d46befd
* Content: [Overview of IPv6 - Azure Load Balancer](ht

[2019-11-28 14:05] DCtheGeek commented on #39528
@madhanan In this sample, the parameter is an array and the policy rule uses the **in** condition to validate that the resource type matches a value in the parameter array. To use `*` in your condition, you'd need to change the rule in a few ways:

- The parameter couldn't be a strongType any more as you wouldn't be listing each resource type.
- The **in** condition would need to be changed to **l

[2019-11-28 14:06] VikasPullagura-MSFT commented on #43538
@Pilchie Thanks for providing the details.
I followed the same tutorial and I got the expected JSON output as mentioned in the document with same command. Also, I have tried giving `--output json` as per feedback and this also works.

I will have content author to add comment on this.

Please see below screenshots for reference.

![image](https://user-images.githubusercontent.com/48944027/69811950

[2019-11-28 14:06] VikasPullagura-MSFT commented on #43538
@mlearned Can you please look into this and add your comments.

[2019-11-28 14:07] syswpit opened #43735 "Wrong AuthContextClassRef"
Hi,

I've followed the above guide for Webex Meetings, but it doesn't work.
We are using MFA, so I've set "urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport;urn:oasis:names:tc:SAML:2.0:ac:classes:X509" as mentioned.

This doesn't work however. It results in "**Invalid SAML Assertion (13)**" see below:
https://help.webex.com/en-us/WBX54373/Error-User-Authentication-Failed-Reason-Inv

[2019-11-28 14:11] msrini-MSFT commented on #43734
@ekuipers , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-28 14:11] #43532 closed

[2019-11-28 14:12] DCtheGeek commented on #43730
#assign:DCtheGeek

[2019-11-28 14:13] victorar commented on #37221
Here's the code snippet to add a reference to a WAF policy from an AFD resource:

`"frontendEndpoints": [`
                    `{`
                        `"name": "frontendEndpoint1",`
                        `"properties": {`
                            `"hostName": "[concat(parameters('frontDoorName'), '.azurefd.net')]",`
                            `"sessionAffinityEnabledState": "Disabled",`

[2019-11-28 14:13] msrini-MSFT commented on #43734
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97380

[2019-11-28 14:16] DCtheGeek commented on #43730
@madhanan Thanks for the question! The **like** condition works with strings, not arrays. For more information, see [Azure Policy conditions](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#conditions). If your field is an \[\*\] alias, check out the new [count](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#count) expression.

If

[2019-11-28 14:16] #43730 closed

[2019-11-28 14:18] aykay76 commented on #27893
Are there any updates on this please? I'm facing a similar issue running a Web App for Container instance:

Error = 'Get http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net: dial tcp 169.254.169.254:80: connect: connection refused'

Is there a workaround or solution for this?

[2019-11-28 14:20] #43734 closed

[2019-11-28 14:25] chris-han opened #43736 "cli create storage account last Argument should be 'enable-hierarchical-namespace'"
[Enter feedback here]
az storage account create `
    --name storagequickstart `
    --resource-group storage-quickstart-resource-group `
    --location westus2 `
    --sku Standard_LRS `
    --kind StorageV2 `
    --enable-hierarchical-namespace true
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a53d29-5b26-1a63-16d

[2019-11-28 14:36] shashishailaj commented on #43735
@syswpit Thank you for sharing your findings . We will have this checked on our end and let update this thread.

[2019-11-28 14:39] jomach commented on #40155
use ubuntu, it works on that.

[2019-11-28 14:40] SumanthMarigowda-MSFT commented on #43709
@vikaskanchan Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-28 14:40] shashishailaj commented on #43713
@GNMurthy1982 Thank You for your query . We will investigate and update this thread .

[2019-11-28 14:42] SumanthMarigowda-MSFT commented on #43716
@akashsamalfic Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-28 14:44] SumanthMarigowda-MSFT commented on #43718
@venkatx5 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:44] SumanthMarigowda-MSFT commented on #43720
@aorlenko83 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:45] SumanthMarigowda-MSFT commented on #43722
@MandeepSingh93 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-28 14:46] SumanthMarigowda-MSFT commented on #43723
@bamakus Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-28 14:47] SumanthMarigowda-MSFT commented on #43724
@deyanp Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:48] SumanthMarigowda-MSFT commented on #43726
@SushrutDeo Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:50] SumanthMarigowda-MSFT commented on #43727
@gjayalal Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-28 14:51] SumanthMarigowda-MSFT commented on #43728
@jakaruna-MSFT Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:52] SumanthMarigowda-MSFT commented on #43731
@madhana Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:53] SumanthMarigowda-MSFT commented on #43732
@isamllr Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:54] SumanthMarigowda-MSFT commented on #43736
@chris-han Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-28 14:56] SadiqhAhmed-MSFT commented on #43731
@DCtheGeek FYI.

[2019-11-28 15:00] DCtheGeek commented on #43731
@madhana This is a duplicate of your question appended on #39528. I'll put the same answer here for discoverability and tracking:

In this sample, the parameter is an array and the policy rule uses the **in** condition to validate that the resource type matches a value in the parameter array. To use `*` in your condition, you'd need to change the rule in a few ways:

- The parameter couldn't be a

[2019-11-28 15:00] #43731 closed

[2019-11-28 15:09] theheatDK opened #43740 "GatewaySubnet?"
Hi,
In a GatewaySubnet it is not possible to use this approach since you are not allowed to create a VM there. Are there an alternative approach you can use there to get the effective routes?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6020bf2-6d37-7290-66cf-611e6cc5d0f3
* Version Independent ID: aa3d

[2019-11-28 15:26] AntonAntonyuk opened #43741 "CLI tags from a resource group to its resources doesn't work with spaces in names"
from CLI "To apply all tags from a resource group to its resources, and keep existing tags on resources, use the following script" doesn't work if tags have spaces.
if parent group has tag:
Product Name:Some App
after tagging resources in group, resources have tags:
Product:
Name:Some
App:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-28 15:26] Leejung168 commented on #42309
Missing service tag for GatewayManager.

[2019-11-28 15:27] Leejung168 opened #43742 "Missing Service Tag for GatewayManager"
Missing Service Tag for GatewayManager

[2019-11-28 15:28] jcawte opened #43743 "Max per database DTU settings are incorrect"
As per a support case I've worked today the values shown on this page for the 'Max eDTUs choice per database' value are not correct.  They should be documented as follows:
125 -&gt;125 max
250 -&gt; 250 max
500 -&gt; 500 max
1000 -&gt; 1000 max
1500 -&gt; 1000 max
2000 -&gt; 1750 max
2500 -&gt; 1750 max
3000 -&gt; 1750 max
3500 -&gt; 1750 max
4000 -&gt; 4000 max

This is confirmed by reproducible

[2019-11-28 15:29] PramodValavala-MSFT commented on #43645
@NitroAMD Hope my previous comments clears things up.

Since there is no action required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-28 15:29] #43645 closed

[2019-11-28 15:50] KalyanChanumolu-MSFT commented on #43743
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-11-28 15:56] askprasanth commented on #18151
I tried creating release with version 4 in Azure DevOps and the release got failed stating
`failed to deploy web package to app service
error: getaddrinfo ENOTFOUND`

[2019-11-28 16:08] souravmishra-msft commented on #43380
@danifran, You are correct, if you have O365 Apps licenses available to your tenant, device write back would work for you.

[2019-11-28 16:08] #43380 closed

[2019-11-28 16:31] olet88 opened #43744 "Question regarding Azure Functions and SignalR"
Hello

I have been following this tutorial: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp. SignalR is working quite well in the cloud, and I am able to host a function locally that lets both Unity apps and Xamarin apps connect to it with no issues whatsoever.

I have managed to deploy the Azure Functions app described by the tutorial to the cloud. H

[2019-11-28 16:38] konabuta opened #43745 "404 Error : sample notebooks link"
Link in `Next steps` section return 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7a36f9-6a41-1105-2853-9353a64fac16
* Version Independent ID: ab8c2ae0-b280-0b45-31a0-a6b313e8195d
* Content: [Model interpretability in Azure Machine Learning service - Azure Machine Learning](https://docs.microsoft.com/en-u

[2019-11-28 16:42] souravmishra-msft commented on #43533
@MikeKaneDXC, I agree on this with you, the images and the options mentioned on this article needs to be updated based on the latest options available on the portal.
Inorder to this i would need the help of the author so that he can modify the screenshots on the portal. I would request him to update the same.

[2019-11-28 16:42] souravmishra-msft commented on #43533
@curtand, Can you please take a look at this article and update the screenshots and the options on this doc.

[2019-11-28 16:44] ChristianJonsson opened #43746 "Need information on how to do this on ARM templates as well"
Lacking information and examples for ARM templates :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3821d7-a433-9271-303d-52e1d6b6df03
* Version Independent ID: ce37d52d-2b87-ce34-ebba-be2afba9ccc8
* Content: [Configure Azure Key Vault firewalls and virtual networks - Azure Key Vault](https://docs.microsoft.com/en-u

[2019-11-28 16:53] shashishailaj commented on #37249
@zjalexander Could you please have a look into this issue and help on the same ?

[2019-11-28 17:00] romankiss opened #43747 "HttpTrigger webhook endpoint for CloudEvents v 1.0"
The documents is not updated for recently release of the CloudEvents v 1.0, the samples such as CloudEvents schema will not work.

Thanks
Roman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [Event Grid trigge

[2019-11-28 17:02] souravmishra-msft commented on #43746
@ChristianJonsson, Thank you for reaching out. I am looking into this and will get back to you with more updates on this in some time.

[2019-11-28 17:06] souravmishra-msft commented on #43688
@MicrosoftGuyJFlo, Could you please see how we can better reword this article.

[2019-11-28 17:21] YZahringer commented on #42068
https://feedback.azure.com/forums/169385-web-apps/suggestions/38981932-add-naked-domain-support-to-app-service-managed-ce

[2019-11-28 17:22] Thomas-Bailey commented on #43390
Going to second this.  The current promotion using ARM templates from dev to test to live is painful, especially when integrated with Git and deploying through DevOps

- PowerShell documentation out of date for v4 when deploying using DevOps, including the tidy script provided in the documentation.  Causes errors if run step by step.
- Requirement for Powershell to carry the deployment over the li

[2019-11-28 17:25] Thomas-Bailey commented on #43390
Long and short of this is I'm removing Git integration from my Test and Live factories until you can figure this out properly.

[2019-11-28 17:30] djpmsft commented on #41664
The fix is currently awaiting deployment. As we are currently holding off deployments due to the US holiday, you should see the all authentication modes supported in the Web Activity starting next week. Heads up, you will need to use Azure Key Vault to store your passwords as we do not store them in Git mode (which is why the feature didn't exist at first).

[2019-11-28 17:31] djpmsft commented on #43723
The fix is currently awaiting deployment. As we are currently holding off deployments due to the US holiday, you should see the all authentication modes supported in the Web Activity starting middle of next week. Heads up, you will need to use Azure Key Vault to store your passwords as we do not store them in Git mode (which is why the feature didn't exist at first).

[2019-11-28 17:32] PMLIO commented on #32356
Yes, this needs to be made clear. I had to delete sendgrid and re-create the resource group in the desired region, then re-create the sendgrid service.

[2019-11-28 17:37] ludaval opened #43749 "cannot pass multiple scopes in the 'scope' parameter"
I have created 2 Web APIs that I want to authenticate using AzureAD. They need to be called by a server application(without user interaction), so I decided to use the client_credentials flow. I have created 3 app registrations in the "App Registrations" section in the Azure portal: 2 for the APIs and 1 for the client.
When the client requests a token and sets the 'scope' parameter to the space-sep

[2019-11-28 18:09] mike-urnun-msft commented on #43740
@theheatDK Thank you for your feedback! We will review and update as appropriate.

[2019-11-28 18:14] mike-urnun-msft commented on #43741
@AntonAntonyuk Thank you for your feedback! We will review and get back to you with our findings.

[2019-11-28 18:15] mike-urnun-msft commented on #43742
Hi @Leejung168 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-28 18:17] CeciAc opened #43750 "Can I use Bash in Azure Cloud Shell to create a new Azure virtual machine from an Android laptop?"
@Sannioy commented on [Wed Nov 27 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/675)

This is an examination question. I answered “YES”, but the correct answer is "No", I want to know why.
Looking forward to your reply. Thanks

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-

[2019-11-28 18:20] mike-urnun-msft commented on #43744
@olet88 Thank you for your feedback! We will review and update as appropriate.

[2019-11-28 18:21] mike-urnun-msft commented on #43745
@konabuta Thank you for your feedback! We will review and update as appropriate.

[2019-11-28 18:23] mike-urnun-msft commented on #43747
@romankiss Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-28 18:24] mike-urnun-msft commented on #43749
@ludaval Thank you for your feedback! We will review and update as appropriate.

[2019-11-28 18:38] mike-urnun-msft commented on #43750
@srvbpigh - Thank you for your feedback. When using CloudShell, which runs on a browser, it really shouldn't matter which operating system you're using.

[2019-11-28 18:49] mike-urnun-msft commented on #43518
@jimbobbennett Have you gone through this doc yet? [Authentication with Azure Maps](https://docs.microsoft.com/bs-latn-ba/azure/azure-maps/azure-maps-authentication#shared-key-authentication)

[2019-11-28 18:52] CeciAc opened #43751 "Connection opened too soon."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/595

@maryob77062 commented 15 hours ago — with docs.microsoft.com
Why do I try to teach that connections should not be opened until needed when you code opens it way before the .Execute...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-28 18:59] fpiazza99 opened #43752 "Some Terminology is introduced without context or definition"
One of the better series of documents for a complex topic. Thank you.

But since the topic is complex, and there is a lot of new terms and concepts, an explanation of new terms when first introduced would be a great help. For example, under security tokens, new terms are introduced that without definition and context cause the reader to pause and think they missed something. Presumes the reader ha

[2019-11-28 19:36] CeciAc opened #43753 "Use the new Firebase API"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/601

(the comments below were machine-translated)
@w9wen commented 10 hours ago — with docs.microsoft.com

Due to the update to the new version, the [IntentFilter (new [] {"com.google.firebase.INSTANCE_ID_EVENT"})] section should be cancelled.

Otherwise it will appear
java.lang.InstantiationException: java.l

[2019-11-28 19:56] brettcannon opened #43754 "Suggest gitignore goes in project/repo directory, not in __app__"
In the list of files to put into `__app__`, `gitignore` is one of them. But that should actually be in the root of the project, at the same level as `__app__` and `tests`, otherwise users will end up having two (which is fine, but if someone doesn't know that `gitignore` files stack then they might be confused).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micro

[2019-11-28 19:57] brettcannon opened #43755 "FunctionApp is mentioned but never defined"
"When deploying your project to a function app in Azure, the entire content of the FunctionApp folder"; unfortunately this is the first and only mention of "FunctionApp" so it isn't clear what folder is being referenced.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Indep

[2019-11-28 19:58] CeciAc opened #43756 "It should be mentions in the docs that not all overload of StartsWith are supported"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/596

@mhabibal13 commented 10 hours ago
It was frustrating that StartsWith throws a not supported exception, although it is already supported. We just found out this was the case when calling the overlad public bool StartsWith(String value, StringComparison comparisonType).

---
#### Document Details

⚠ *Do n

[2019-11-28 19:59] brettcannon commented on #43754
Or I guess a better way to say what my worry is, let the user know that they can put a `gitignore` there but it doesn't have to be their _only_ `gitignore` file.

[2019-11-28 20:10] AlexKeySmith opened #43757 "forward request - what really is the default?"
In this section:
https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#attributes-1

It is mentioned that forward request's timeout property is not required, but also does not have a default.
I presume it doesn't hang indefinitely particularly as it's mentioned that "Values greater than 240 seconds may not be honoured as the underlying network infrastructure".

Is

[2019-11-28 20:11] cocowalla commented on #42217
It looks like the single character type was fixed, but the main issue, including a .NET Core sample, was not?

[2019-11-28 20:15] DevOpsFounder opened #43758 "A step-by-step tutorial with deployment to Azure App service"
**I created this video as step-by-step with animated workflow, it can help many people**
This video will show step-by-step ASP.NET Core development with Deployment to Azure
https://www.youtube.com/watch?v=1QVRe7UHaro

![ASP NET And Entity Framework With Azure](https://user-images.githubusercontent.com/14263956/69832592-23b04300-1227-11ea-9fbb-4455cef5e872.gif)

[2019-11-28 20:19] cephalin commented on #42217
@cocowalla That's correct. Per my note above, the sample is meant to show you how one would make use of the client cert that's provided in the header. It's really up to the webdev how exactly they want to verify the client cert. Unfortunately we currently don't have the resources to create and maintain additional code samples for this doc.

[2019-11-28 20:29] cocowalla commented on #42217
Sure, I didn't mean for examples of how to _verify_ the cert, only for how to _access_ it using ASP.NET MVC Core; using a string header seems a bit "crude", where I would assume there is some "ASP.NET MVC Core way" to do it.

Given ASP.NET is legacy, and default HTTP-triggered function app template defaults to having a `HttpRequest` argument, I thought it reasonable to at least include an example

[2019-11-28 20:35] brettcannon opened #43760 "No mention of __app__"
https://docs.microsoft.com/en-ca/azure/azure-functions/functions-reference-python talks about naming your function app `__app__`, but this page doesn't mention that anywhere.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb

[2019-11-28 20:37] basaba commented on #43237
Thanks @marcosgm for the feedback, I've sent a PR to fix this.

[2019-11-28 20:38] georgelinca opened #43762 "error in the script."
New-AzDataMigrationTask : Cannot bind parameter because parameter 'SelectedDatabase' is specified more than once. To provide multiple values to parameters that can accept multiple values, use the array syntax. For example, "-parameter
value1,value2,value3".
At line:12 char:3
+   -SelectedDatabase $selectedDbs `
+   ~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [New-AzDataMig

[2019-11-28 20:54] CeciAc opened #43763 "Azure CLI scripts do not copy tags properly when tag (or tag's value) contains spaces"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/469

@siudeks commented 2 hours ago — with docs.microsoft.com
Azure CLI scripts on the page are working well for single-word tags and values. For instance, when tag=value is abc=def (abc - tag name, def - tag value) - scripts are working well.
In case when spaces are in tag - like a b c=d e f, tags from resou

[2019-11-28 21:50] csp-stu opened #43764 "Completed with error {"headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}"
Trying to follow the tutorial with my existing database. Just trying to readDatabase() is returning the following:
`Completed with error {"headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}`
How do I troubleshoot this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26

[2019-11-28 21:53] lcarli opened #43765 "Azure Lighthouse + Resource Lock (error)"
Azure Lighthouse

I sucessfully attached my **subscription1** from Tenant1 to my Tenant2. Now, I can manage from Tenant 2 my **subscription1**.

The problem is about Resource Lock. From my Tenant1, my subscription1 had a lock inside one of the resource groups. Trully, doesn't matter if you have your lock inside either a resource group or resource, from your tenant2 you can't see them.

So, I thoug

[2019-11-28 22:11] RyanHill-MSFT commented on #43753
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-28 22:26] leftmostlane opened #43766 "Blazor Server-Side Service Example"
It would be helpful to see an example of how to retrieve the Configuration from a Blazor Server-Side service instead of the client pages.  We see an example of the configuration added in the Program.cs file however we do not see an example on the Server-Side of how to access the configuration.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-28 22:28] verkader-kloud opened #43767 "Cannot set up a private link for existing sql server in Australia Southeast (works if you create private link during the creation of the sql resource). Basically, when going through the portal wizard to set up the link the 'select resource type' dropdown on the resource selection page does not pupulate with any resource types."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-28 22:46] RyanHill-MSFT commented on #43764
Thanks for the feedback @csp-stu! We are currently investigating and will update you shortly.

[2019-11-28 22:50] NavtejSaini-MSFT commented on #43756
@CeciAc We are checking this and will get back to you.

[2019-11-28 22:52] NavtejSaini-MSFT commented on #43751
@CeciAc We are checking this and will get back to you.

[2019-11-28 23:36] asergaz commented on #43440
@dgancho can you confirm that you began with the [first article](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-machine-learning-edge-01-intro) in the series for the best results?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-28 23:41] brettcannon opened #43768 "Example layout has inconsistent capitalization for directory names"
"Myfirstfunction", "mysecondfunction", and "SharedCode" are all using different word casing strategies.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment for Azure Functions](https://docs.mic

[2019-11-28 23:45] brettcannon opened #43769 "Will a zip deployment do a remote build for Python?"
All of the instructions in the Python docs use `func azure functionapp publish` so you can do a remote build. I'm not sure if the instructions here will lead to a remote build, but mentioning if it does or not would have helped answer a question as to whether doing a zip deployment would have worked.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-11-29 00:07] mike-urnun-msft commented on #43715
@lgmorand Thank you for your feedback! We will review and update as appropriate.

[2019-11-29 01:34] mike-urnun-msft commented on #43752
@fpiazza99 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 01:37] mike-urnun-msft commented on #43754
Hi @brettcannon! Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 01:41] mike-urnun-msft commented on #43755
Hi @brettcannon! Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 01:46] mike-urnun-msft commented on #43757
@AlexKeySmith Thank you for your feedback! We will review and update as appropriate.

[2019-11-29 01:49] mike-urnun-msft commented on #43758
Hi @DevOpsFounder! Thank you for sharing! Surely it'll benefit others visiting this thread and we also encourage you to continue making videos :)

Because this channel is more for driving improvements towards MS Docs, I will now proceed to close this thread. If there are further questions regarding a specific documentation, please reopen it and we will gladly continue the discussion.

[2019-11-29 01:49] #43758 closed

[2019-11-29 01:50] mike-urnun-msft commented on #43760
Hi @brettcannon! Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 01:52] mike-urnun-msft commented on #43762
Hi @georgelinca - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-29 01:56] mike-urnun-msft commented on #43763
@siudeks Thank you for your feedback! We will review and update as appropriate.

This also appears to be similar to #43741

[2019-11-29 01:58] mike-urnun-msft commented on #43765
Hi @lcarli - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-29 01:59] mike-urnun-msft commented on #43766
@leftmostlane Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 02:01] mike-urnun-msft commented on #43767
Hi @verkader-kloud - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-29 02:01] SnehaAgrawal-MSFT commented on #43633
@Murgates Thanks again for bringing this to our attention. Since We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-29 02:01] #43633 closed

[2019-11-29 02:03] mike-urnun-msft commented on #43768
Hi @brettcannon - Thank you for your feedback! We will review and update as appropriate.

[2019-11-29 02:04] mike-urnun-msft commented on #43769
Hi @brettcannon - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-29 02:11] kogesaka opened #43770 "How to recover when a Registered server's disk set as a server endpoint is damaged"
Hi,

I'm always grateful for being helped by Azure documentation.

Recently, Registered server's disk set as a server endpoint is dameged, and I tried to replace it.

At that time, I could not find a clear document about the procedure, so I performed the following procedure and confirmed that it was synchronized correctly.
Is this the correct procedure?

1. In Azure Portal, check that the synchron

[2019-11-29 02:11] verkader-kloud commented on #43767
My mistake, I will report it in the correct place.

[2019-11-29 02:11] #43767 closed

[2019-11-29 02:58] DevOpsFounder commented on #43758
Hi @mike-urnun-msft Thanks for your feedback!. Sure

[2019-11-29 03:18] DevOpsFounder opened #43772 "A step-by-step for this tutorial with deployment to Azure App service"
**I created this video as step-by-step with animated workflow, it can help many people**
This video will show step-by-step ASP.NET Core development with Deployment to Azure
https://www.youtube.com/watch?v=1QVRe7UHaro
![ASP NET And Entity Framework With Azure](https://user-images.githubusercontent.com/14263956/69841391-d8ae2400-1256-11ea-881d-98e6cf207c8a.gif)

[2019-11-29 03:34] sumitkute opened #43773 "Empty blocks into CosmosDB"
Is there a way to avoid pushing all the empty blocks into cosmos db? This may causing storage and compute cost on cosmosDB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae06a4f1-6209-0f7e-ad17-26a57b5a3e30
* Version Independent ID: eca6c3d3-127e-e47e-2b7f-6e180a950320
* Content: [Use Blockchain Data Manager to update

[2019-11-29 03:51] csmurthy commented on #34664
Is there any ETA for make it available in PowerShell - Set-AzDiagnosticSetting

[2019-11-29 04:18] KalyanChanumolu-MSFT commented on #43450
This is being assigned to the content author to clarify and update the documentation as appropriate.

[2019-11-29 04:31] AshokPeddakotla-MSFT commented on #43773
@sumitkute Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-29 04:37] RohitMungi-MSFT commented on #43745
@konabuta The link to sample notebooks should be this [one](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/explain-model). Thanks for pointing this out, A change is submitted to update the link.

[2019-11-29 04:41] #43448 closed

[2019-11-29 04:44] ram-msft commented on #43430
@ghogen In the Extensions and Updates dialog box, search for Cognitive Services, we couldn't see the Cognitive Services VSIX package. Could you please check on this.
![image](https://user-images.githubusercontent.com/49180516/69844138-d4066180-1290-11ea-8542-8c649875b6d9.png)

[2019-11-29 04:45] WJayesh opened #43774 "Sign-in page has to be built or is provided?"
I am using Flutter to get an access token from my b2c tenant that can be used for the Graph API.
In the second paragraph of Section 1, it is mentioned: "At this point, the user is asked to complete the user flow's workflow".  Does this mean that we have to implement the sign-in page and prompt ourselves or should calling the uri be sufficient?
I can't get my app to go to the login page using an `h

[2019-11-29 04:58] tdihp opened #43775 "az vmss update-instances doesn't reflect ssh keys in VM, reimage has to be it."
As titled, the update-instances won't update ssh key. according to portal notice: "Once the scale set is updated, all new VMs have the new credentials. Existing VMs only have the new credentials if they are **updated to the latest model and then reimaged** ."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c

[2019-11-29 05:11] ManojReddy-MSFT commented on #43774
@WJayesh The login is handled by the policy you are sending in your call. Have you created a sign-in policy?

You can follow this tutorial to create polices and customize it as required.

[2019-11-29 05:11] #43445 closed

[2019-11-29 05:12] SlavaRoikhman opened #43776 "Hyperlink for "Protect SQL""
It opens Disaster Recovery for AD and DNS page (https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-active-directory). Please correct it to this: https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-sql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd27104-dcd7-6c3f-5f45-1e73cd26ddec
* Ve

[2019-11-29 05:12] SwathiDhanwada-MSFT commented on #43445
Thanks for feedback. We have made changes to the document and it will be reflected in docs within 24 hours. As there are no further changes, we will close the issue now. Please revert in case of any questions.

[2019-11-29 05:17] KosukeHosoda commented on #43445
I'm glad to hear that. Thanks for investigating and reflecting in docs this time.

[2019-11-29 05:21] ManojReddy-MSFT commented on #43735
@syswpit Can you check what is the value you are receiving from Azure AD in the AuthContextClassRef field? (after a user performs MFA)

Also, what exactly do you mean by "does not work in the client"?  Can you please elaborate on that?

[2019-11-29 05:21] jamesbannan opened #43777 "Unable to store blobs with IoT Edge module"
I am trying to [deploy a solution](https://github.com/rebremer/realtime_video_processing/tree/master/EdgeCustomVision) to the Ubuntu 16.04 VM image as an IoT Edge device. The solution uses Custom Vision Cognitive Services on the edge, sending block blobs to the local blob module and then copying them up to an Azure Storage Account.

I am able to successfully deploy the solution, but the storage co

[2019-11-29 05:22] PramodValavala-MSFT commented on #43744
@olet88 The SignalR binding requires the [Microsoft.Azure.WebJobs.Extensions.SignalRService](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.SignalRService) nuget. Could you try installing that and try again?

Also, you can read more about the [SignalR Service binding in the official docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service).

[2019-11-29 05:26] ManojReddy-MSFT commented on #43710
@booyaa This tutorial is meant for testing and educational purposes.

"**This tutorial uses the Standard Akamai pricing tier, because it propagates quickly**, typically within a few minutes. Other pricing tiers may take longer to propagate, but may also offer other advantages. For more information, see [Compare Azure CDN product features](https://docs.microsoft.com/en-us/azure/cdn/cdn-features)."

[2019-11-29 05:28] SumanthMarigowda-MSFT commented on #43770
@kogesaka Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-29 05:29] tdihp commented on #43775
Close as tested again the instruction works.

[2019-11-29 05:29] #43775 closed

[2019-11-29 05:30] tdihp commented on #43775
The instruction provided doesn't set VMSS public key in the VMSS spec, so the impl is different from portal.

[2019-11-29 05:33] gjayalal commented on #43727
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#automate-continuous-integration-with-azure-pipelines-releases

[2019-11-29 05:35] RohitMungi-MSFT commented on #43549
@frayosh77 Thanks for checking SDK4.0. We will go ahead and close this issue as this is not a documentation issue. If you are still facing issues with latest SDK please feel free to raise an issue with the SDK [repo ](https://github.com/Azure/azure-sdk-for-net/labels/Cognitive%20Services)for help. Thanks!!

[2019-11-29 05:35] #43549 closed

[2019-11-29 05:40] MandeepSingh93 commented on #43722
hi,

We are referring to below mentioned link:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity

Thanks & Regards,
Mandeep Singh

[2019-11-29 05:46] AshokPeddakotla-MSFT commented on #43548
@anujsharrma As error suggests that, please set a proxy via HTTP_PROXY variable.

Example:
export HTTP_PROXY=http://example.com:1234
or configure npm proxy via
npm config set proxy http://example.com:8080

Let us know if that resolves your issue.

[2019-11-29 05:50] ManojReddy-MSFT commented on #43412
@adamtki Can you elaborate on what you mean by does not work? Also, can you send a fiddler trace of the failure and send it azcommunity@microsoft.com to investigate further?

[2019-11-29 05:53] ChiragMishra-MSFT commented on #43723
@djpmsft Thanks for leaning in here.

@bamakus I will now proceed to close this issue. Please feel free to still comment and tag me if you have any queries on the same.

[2019-11-29 05:54] #43723 closed

[2019-11-29 06:01] versacecrispies commented on #43639
Not working for me either. Please look into it.

[2019-11-29 06:02] ChiragMishra-MSFT commented on #43557
@baddevotions Because of inactivity, I am temporarily closing this issue.

Feel free to comment and tag me, I will reopen the issue if appropriate.

[2019-11-29 06:02] #43557 closed

[2019-11-29 06:06] versacecrispies opened #43778 "The web app doesn't run when I click on translate, sentiment or synthesize."
The web app fails to display any output when I try to use any of its functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c810d231-9b2a-b630-44e8-3d3942e88a65
* Version Independent ID: bbb370fc-da93-9274-d2a1-a31586fd7213
* Content: [Tutorial: Build a Flask app to translate, synthesize, and analyze text - Translat

[2019-11-29 06:08] dcbrown16 opened #43779 "Correct max OS size"
I have checked a few locations with the following command and I see that "osDiskSizeInMB" is 1047552, or about 1 TB, for every VM size.
example using GetAzVmSize
Name                   NumberOfCores MemoryInMB MaxDataDiskCount OSDiskSizeInMB ResourceDiskSizeInMB
----                   ------------- ---------- ---------------- -------------- --------------------
Standard_B1ls                      1

[2019-11-29 06:14] dcbrown16 commented on #43779
Incidentally, I just tested and had no problem increasing the disk to 2048 GB, so it seems the results returned by the commands are wonky.

[2019-11-29 06:19] orspod commented on #43237
@marcosgm thanks for the docs feedback.
@basaba  thanks for the doc update. https://github.com/MicrosoftDocs/azure-docs/pull/43761

[2019-11-29 06:23] olet88 commented on #43744
@PramodValavala-MSFT This is already installed. :) At least in the Visual Studio solution. The problems arise when I try to host it in Azure.

[2019-11-29 06:24] dcbrown16 commented on #43779
Possibly also relevant:

diskSizeGB | integer | No | Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the size of the disk in a virtual machine image.  This value cannot be larger than 1023 GB
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-07-01/virtualmachines#osdisk-object

[2019-11-29 06:25] ram-msft commented on #43451
For the following [doc ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-disk) raised #https://github.com/MicrosoftDocs/azure-docs-pr/pull/97399 request.

[2019-11-29 06:43] Nalini-M opened #43780 "error in grant type"
Hi,
While I am trying to get response from the post method. I am getting the following error

{"error":"invalid_request","error_description":"AADSTS900144: The request body must contain the following parameter: 'grant_type'.\r\nTrace ID: 8d24319a-7b99-4a9b-9134-e1e92fa52901\r\nCorrelation ID: f669e3e6-57ee-4725-baab-186cb844e7bd\r\nTimestamp: 2019-11-29 06:39:27Z","error_codes":[900144],"timestamp

[2019-11-29 06:45] dxkaufman opened #43781 "Python version changes"
The CLI docs imply that the python version can be changed using the "functionapp config set" options, but it doesn't appear to do anything.

az functionapp config set --python-version 3.7 --name shetldev --resource-group XYZ --subscription XYZ

If the python version can only be set on creation of the functionapp, this page should probably say so, and the CLI docs should not make it seem as if the

[2019-11-29 07:00] alastair-bor opened #43782 "Unclear instructions about wildcard cert, esp. if following on from prior article"
Many people would get to this article after following this article:
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-instance

In that prior article, the instructions lead you to create an aadds.contoso.com DNS domain name. If you then follow the instructions on this page and create a wildcard certificate *.contoso.com then you get an error “Secure LDAP confi

[2019-11-29 07:01] olet88 commented on #43744
I have managed to solve the problem. To anyone who encounter something similar, here is a possible solution:

- Delete all the nuget packages in the project from the folder (C:\%usernam%\ole.tobiesen\.nuget\packages). Simply uninstalling them is not enough

- Reinstall both the latest stable version of  **Microsoft.Azure.WebJobs.Extensions.SignalRService** and **Microsoft.NET.Sdk.Functions**

- De

[2019-11-29 07:17] alastair-bor opened #43783 "Detail tidy up"
In the part where you have The list of existing inbound and outbound security rules are displayed. On the left-hand side of the network security group windows, choose Security &gt; Inbound security rules.

this should be replaced with .............Settings &gt; Inbound security rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-11-29 07:17] vikaskanchan commented on #43709
@SumanthMarigowda-MSFT  Thanks for the reply but this issues is not coming for doc . We are having this issue after creating a Virtual Machine in Azure . So we are not able to see performance in the given tabs.

[2019-11-29 07:23] AshokPeddakotla-MSFT commented on #43452
@liudr Yes, your understanding is correct. DeviceClient.UploadToBlobAsync is basically a wrapper around the REST API calls for blob uploading.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-29 07:23] #43452 closed

[2019-11-29 07:28] likebupt commented on #41738
@EricKyaw
We test and it works.
After call "PATCH",  please wait for a moment (for simple experiment ~1-2mins), then call GET service API again and you will get updated model.
It will take some time to update service.

[2019-11-29 07:29] alastair-bor commented on #43783
Also 'To connect and bind to your Azure AD DS managed domain and search over LDAP, you use the LDP.exe too.' should be changed to 'To connect and bind to your Azure AD DS managed domain and search over LDAP, you use the LDP.exe tool.'

[2019-11-29 07:52] KrishnaG-MSFT commented on #43775
@tdihp Thanks for the feedback.

[2019-11-29 08:10] JakubW88 opened #43786 "Remove and Restore Database by Powershell"
Hi,
If is possible to remove sql server with LTR Database after 4pm and next day 7am, create again new server and restore database from last day with use Powershell or Azure CLI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117

[2019-11-29 08:15] msrini-MSFT commented on #43668
@prvempat , Please tag me if you have any further questions.

[2019-11-29 08:15] #43668 closed

[2019-11-29 08:15] msrini-MSFT commented on #43573
@I90Runner , Do you have any update for me?

[2019-11-29 08:16] JakubW88 opened #43788 "Restore removed Manged instance"
Hi,
If is possible to remove Managed instance with Database after 4pm and next day 7am, create again new Managed instance and restore database from last day with use Powershell or Azure CLI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de79f464-39dc-a5ad-0d9d-fab2ed248222
* Version Independent ID: 6cf17fc7-3bdd-c419

[2019-11-29 08:25] OneConsutlantsDemo commented on #43639
I have got the latest TwitterWPF Client which works as expected. If you want one and can't wait until the documentation is updated please share your email address and I can send you over the copy.

Cheers!

[2019-11-29 08:26] jakaruna-MSFT commented on #43750
@CeciAc Like Mike mentioned, Cloud shell works on the browser. As long as the browser version is supported, It should work well.

[2019-11-29 08:28] mariuszo-at-microsoft-com opened #43790 "Correct point 2"
Please correct point 2.
Instead of
"under Connection use the Enable button"
in should say
"under Enable the Office 365 solution on your workspace use the Install solution button"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16c2431-da39-7c6b-a6d1-1b71cb9cd069
* Version Independent ID: 9bd4d8ff-ece6-6ac3-b93e-6f78a56

[2019-11-29 08:29] SumanthMarigowda-MSFT commented on #43497
https://github.com/MicrosoftDocs/azure-docs-pr/pull/97400

[2019-11-29 08:31] msrini-MSFT commented on #43668
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97401

[2019-11-29 08:32] mariuszo-at-microsoft-com opened #43791 "Correct points 5 & 6 to be consistent with current UI"
Point 5 --&gt; now there's no "Select" but simple checkboxes
Point 6 --&gt; now it is called "Save" and not "Apply changes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16c2431-da39-7c6b-a6d1-1b71cb9cd069
* Version Independent ID: 9bd4d8ff-ece6-6ac3-b93e-6f78a5673329
* Content: [Connect Office 365 data to Azure Sent

[2019-11-29 08:33] KosukeHosoda opened #43792 "What does the percentage part in "Firewall health state" mean?"
When I see the "Firewall health state" on Azure Portal, I found that percentage unit (ex. 100%) is near the state (ex. healthy). I wonder what this percentage part means and I think the explanation regarding the percentage part should be in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377e85cd-dc27-14a

[2019-11-29 08:46] DashleenBhandari-MSFT commented on #43265
@ththiem ,

You will get a token specifically for each resource/back-end. So, we would have to obtain a new token silently.
We won't be asked for authentication. We just need to obtain a new token silently.

[2019-11-29 08:46] SumanthMarigowda-MSFT commented on #43503
@brianbarnett316 Un-install and re-install the Azure Storage Explorer and let me know the status

[2019-11-29 08:48] ChiragMishra-MSFT commented on #43722
@djpmsft Can you please take a look at this ?

[2019-11-29 08:52] ManojReddy-MSFT commented on #43009
@sopelt I can confirm that there is no other approach to get the resource ID's for the containers specifically.

Let me know if you have any further questions.

[2019-11-29 08:52] #43009 closed

[2019-11-29 08:58] WJayesh commented on #43774
Yes, I have a sign-in/ sign-up policy in place. What I suspect might be the cause for the login page not showing up is this:
The "Run user flow endpoint" of my policy reads `https://prodplatform.b2clogin.com/prodplatform.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SignUpSignIn&client_id=b7767......&nonce=defaultNonce&redirect_uri=....&scope=openid&response_type=id_token&prompt=login`
The scope l

[2019-11-29 08:59] ChiragMishra-MSFT commented on #43708
@eerik47 **Availability in Event hubs :**

Azure Event Hubs uses a partitioning model to improve availability and parallelization within a single event hub. For example, if an event hub has four partitions, and one of those partitions is moved from one server to another in a load balancing operation, you can still send and receive from three other partitions. Additionally, having more partitions e

[2019-11-29 08:59] PramodValavala-MSFT commented on #43768
@brettcannon Thanks for catching that! We have worked up a PR to address this, which once merged, should reflect in a couple of hours.

[2019-11-29 08:59] SychevIgor opened #43793 "Describe relations between proximity groups and Dedicated hosts"
Please, describe relations/difference between "proximity groups" and "Dedicated hosts".
Because now - difference is a bit unclear, scenarios looks the same.
Please, help us better understand azure and include your description into this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34525b2-3bf1-d23a-2712-3e8a1

[2019-11-29 09:00] ChiragMishra-MSFT commented on #43712
@mamccrea Can you please have a look at this?

[2019-11-29 09:01] SychevIgor opened #43794 "Describe relations between proximity groups and Dedicated hosts"
Please, describe relations/difference between "proximity groups" and "Dedicated hosts".
Because now - difference is a bit unclear, scenarios looks the same.
Please, help us better understand azure and include your description into this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5826bc3-3134-e9d0-9f19-72acd

[2019-11-29 09:01] AFUEU commented on #39375
Hi @j-martens , is it possible to reopen this issue. I was on vacation and couldn't reply in time (sorry for that). As mentioned in my previous reply, I couldn't fully fix the issue. Thank you.

[2019-11-29 09:02] SychevIgor commented on #43793
cross link https://github.com/MicrosoftDocs/azure-docs/issues/43794

[2019-11-29 09:02] michalzagrodzki commented on #43633
The problem still persists.

When I run 'az webapp up' command, on version 2.0.77 it shows error 'Could not auto-detect the runtime stack of your app'.
When I change the version 2.075, it shows an error: 'NoneType' object has no attribute 'resource_group'
When I change to Edge build, it shows the same error as for version 2.0.77.

[2019-11-29 09:04] PramodValavala-MSFT commented on #43744
@olet88 Thanks for sharing the steps that helped solve your problem!

Also, even with "Run from package file" checked, the exact dependencies defined in your `.csproj` file should have been bundled. Please feel free to ask your query on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions) or [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) if

[2019-11-29 09:04] #43744 closed

[2019-11-29 09:05] ChiragMishra-MSFT commented on #43717
@dhruvjoshicontata I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-in/updates/?c

[2019-11-29 09:05] #43717 closed

[2019-11-29 09:08] ChiragMishra-MSFT commented on #43728
@djpmsft Can you please take a look at this?

[2019-11-29 09:09] #43768 closed

[2019-11-29 09:10] andyjballgit commented on #43497
Hi that PR link above comes up with a 404 ?

[2019-11-29 09:10] RohitMungi-MSFT commented on #43778
@versacecrispies Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-29 09:12] masakinoda111 commented on #43515
試してみましたが同様のエラーが発生します。

updateがあったようなので以下を実行しました。
sudo npm install -g npm
そして、もう一度試しましたが、やはり同様のエラーが発生します。

仕方がないのでNode.jsは諦め、現在はPythonでチュートリアルを進めています。
ご対応いただきありがとうございました。

[2019-11-29 09:16] ManojReddy-MSFT commented on #41409
@FunkEinstein

I am assuming your service is initiating the logout request. In this case, Azure AD sends the logout response to your service after processing the logout request,

If some other service sends a logout request and Azure is broadcasting its own logout request, to your service (assuming your service shares the same session) then Azure AD is not expecting another response back.  Your se

[2019-11-29 09:20] ChiragMishra-MSFT commented on #43732
@isamllr Can you please elaborate your ask ?

[2019-11-29 09:27] ManojReddy-MSFT commented on #43774
@WJayesh The run user flow endpoint is using the V 2.0 endpoint. The article you are referring to is about the V1.0 endpoint.

Can you send me the complete request you are sending?

[2019-11-29 09:28] DixitArora-MSFT commented on #43649
@Jayesh040 So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-29 09:28] #43649 closed

[2019-11-29 09:28] PramodValavala-MSFT commented on #43724
@deyanp The `Microsoft.NET.Sdk.Functions` is the build task for C# functions. Only the version of the [`Microsoft.Azure.WebJobs.Extensions`](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions) nuget has to be **>=3.0.5** to use WarmupTrigger.

[2019-11-29 09:29] jbinko commented on #18151
I was trying to say if you use Self-hosted agent running in VNET which is connected with VNET of ASE then you can do deployment through  Azure DevOps to ASE and we should describe it. It is important to highlight it because enterprise companies are using it a lot in this setup (including me).
We should not say "Azure DevOps, doesn't work with an ILB ASE".

[2019-11-29 09:31] DixitArora-MSFT commented on #43553
@p0onage Content team will review the PR and suggest further action if required. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-29 09:31] #43553 closed

[2019-11-29 09:40] ManojReddy-MSFT commented on #43783
@alastair-bor Thanks for reporting this. I have submitted a PR for these changes and the issue will be closed once the PR gets merged.

[2019-11-29 09:42] KrishnaG-MSFT commented on #43776
@SlavaRoikhman Thanks for the feedback! A PR (Pull Request) in created as mentioned above and the doc will automatically get updated once the open PR is merged.

[2019-11-29 09:55] ManojReddy-MSFT commented on #43697
@roalexan In most cases, this error occurs because of the missing plugin http://www.mojohaus.org/exec-maven-plugin/index.html

Can you verify if you have this plugin? if not can you try with this plugin?

[2019-11-29 09:56] tlfzhylj commented on #43521
I experience the same as @ralish. If I exclude one user, it goes through.

[2019-11-29 09:56] #43783 closed

[2019-11-29 09:57] Atul1G opened #43795 "What should I mention to open in browser ? because with external IP its saying bad gateway error any reason"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-29 10:00] Atul1G commented on #13285
do I need to mention port number also to see application in browser because browser responding with bad gateway error with external IP

[2019-11-29 10:00] WJayesh commented on #43774
[This](https://gist.github.com/WJayesh/f62e0f5cdc7f69ef2bae3badbc8cf700) is my code for the call.
Are you sure that the article is about v1.0? The example in "Get an Authorization Code" suggests otherwise.

[2019-11-29 10:04] syswpit commented on #43735
Hi ManojReddy-MSFT,

Could you tell me exactly how to get the AuthContextClassRef value from Azure AD?
Regarding the client, i'm seeing very weird behavior with "urn:oasis:names:tc:SAML:2.0:ac:classes:Password":

-	One some devices, it works perfectly. However, the client never asks for a password/MFA, even with all cached credentials cleared and even after reinstall of the client.
-	On others, I’

[2019-11-29 10:05] jakaruna-MSFT opened #43797 "broken link"
Search for "Batch File Conventions standard" in this document.
Its pointing to https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/Batch/Support/FileConventions#conventions this link in 3 places in this document.

Above link is giving 404

Below document also has same link with same search term 2 times.
https://docs.microsoft.com/en-in/azure/batch/batch-task-output-files

Below doc

[2019-11-29 10:07] woutervanranst opened #43798 "Azure Firewall Recommendation / FAQ"
Can you add a Q/A on the recommendation/support for Azure Firewall?
From what I read here https://azure.microsoft.com/en-us/blog/accessing-virtual-machines-behind-azure-firewall-with-azure-bastion/ this is not recommended/necessary/supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca8

[2019-11-29 10:10] jakaruna-MSFT commented on #43797
@laurenhughes  Please take care of this issue.

The broken link  is pointing to this github repo https://github.com/Azure/azure-sdk-for-net

But dont have the folder "psSdkJson6"

[2019-11-29 10:12] AshokPeddakotla-MSFT commented on #43777
@jamesbannan Please check the suggestions outlined in the below issues and let us know if that helps.
https://github.com/MicrosoftDocs/azure-docs/issues/38319
https://github.com/MicrosoftDocs/azure-docs/issues/29053

[2019-11-29 10:15] FunkEinstein commented on #41409
Yeah, you right, I demonstrated an unsuitable passage. But still, specification says that I MUST respond with LogoutResponse:
"3.7.2 Element <LogoutResponse>
The recipient of a <LogoutRequest> message MUST respond with a <LogoutResponse> message,
of type StatusResponseType, with no additional content specified.
..."

Here is another reference to the fact that session participant must respond after

[2019-11-29 10:16] Atul1G commented on #41195
External IP not responding Bad gateway 502

[2019-11-29 10:24] shashishailaj commented on #43687
@Larryngolog Thank you for your query. The retention time for Azure AD audit log is same as Azure AD free for the plan that comes with Office365, Dynamics365 or any Microsoft service. It is 7 days for audit logs and [does not include sign-in activity logs](https://docs.microsoft.com/en-us/microsoft-365/compliance/use-your-free-azure-ad-subscription-in-office-365#more-information). Hope this answer

[2019-11-29 10:24] #43687 closed

[2019-11-29 10:25] jakaruna-MSFT opened #43799 "broken link"
https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/BlobAttribute.cs this link is broken in this page.

search for the term "BlobAttribute" on this page.

Same link is referenced in this page https://docs.microsoft.com/en-in/azure/azure-functions/functions-reference-csharp twice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-29 10:26] danimir commented on #43450
These IOPS relate to cumulative IOPS for all databases running on the instance.

[2019-11-29 10:28] jn-altius opened #43800 "Name not globally unique"
App Insights names can be duplicated, so long as they are in different Resource Groups.

They do not have to be globally unique.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef53756a-035b-7630-6f91-a016805c526e
* Version Independent ID: 7d54b530-6eb1-5430-8a5b-27c335f5baec
* Content: [Create a new Azure Application I

[2019-11-29 10:30] neeleshray-msft commented on #43782
@alastair-bor Thank you for the feedback. We will check and update on the same.

[2019-11-29 10:31] SwathiDhanwada-MSFT commented on #43701
@raviman8 I am assuming you are looking for [this](https://docs.microsoft.com/en-in/azure/azure-monitor/platform/diagnostics-extension-stream-event-hubs) documentation. Kindly check and let us know if that meets your requirement.

Hope this helps !

[2019-11-29 10:32] AjayKumar-MSFT commented on #43772
@DevOpsFounder , Thanks for leveraging Azure docs feedback channel and sharing a video demonstration of the WebApp deployment process. It can be beneficial to new Azure users.

Thanks for your interest in Azure! It's much appreciated.

You may wish to know  that you could contribute on the doc update with a Pull Request (PR), so I would like to share the steps to raise a PR:

If you know the chang

[2019-11-29 10:32] #43772 closed

[2019-11-29 10:38] VikasPullagura-MSFT commented on #43794
@SychevIgor Thanks for the feedback! I am assigning the issue to content author for adding comments on the doc enhancement.

[2019-11-29 10:38] VikasPullagura-MSFT commented on #43793
@SychevIgor Thanks for the feedback! I am assigning the issue to content author for adding comments on the doc enhancement.

[2019-11-29 10:43] manvendrautralia opened #43801 "Extract Indexed data in Azure Cognitive Search"
Is there a way to read the indexed data extracted from a document by Azure cognitive search indexer. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a012c5b-57eb-0072-3258-2272d6dbfbfb
* Version Independent ID: e9320b7d-f6c4-7423-64d4-81a5c056a128
* Content: [Indexers for crawling data during import - Azure Cog

[2019-11-29 10:49] jakaruna-MSFT commented on #43647
@dbsanfte is there any update

[2019-11-29 10:50] jakaruna-MSFT commented on #43356
@maaaaagda
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-29 10:50] #43356 closed

[2019-11-29 10:51] jakaruna-MSFT commented on #43359
@MikeRayMSFT  please add your comments

[2019-11-29 10:51] PramodValavala-MSFT commented on #43580
@KonTheCat There is a `$TriggerMetadata.InvocationId` property which is the one to be used for searching logs in Application Insights.

The [`sys.RandGuid`](https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs.Host/Bindings/SystemBindingData.cs#L46) property is part of the system binding data, which is populated during a trigger invoc

[2019-11-29 10:52] jakaruna-MSFT commented on #43534
@pf-dr
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-29 10:52] #43534 closed

[2019-11-29 10:54] jakaruna-MSFT commented on #43556
@liuguijunhao Try it out.  If you face any issues while creating a cluster, create a new issue or post a question [here](https://docs.microsoft.com/answers/topics/azure-service-fabric.html)

[2019-11-29 10:54] #43556 closed

[2019-11-29 10:56] jakaruna-MSFT commented on #43558
Nice.  If you are using a custom dns name, It dont need to end with azurecontainer.io. just for your info.

Try it out and open a new issue if you need help.

I will close this out for now.

[2019-11-29 10:56] #43558 closed

[2019-11-29 10:57] jakaruna-MSFT commented on #43614
@Pilchie @seetharamanis is there any update

[2019-11-29 10:58] jakaruna-MSFT commented on #43750
Let me know why you think the correct answer is "NO"

[2019-11-29 11:00] jakaruna-MSFT opened #43802 "broken link"
https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/BlobAttribute.cs this link is broken in this page.

search for the term "BlobAttribute" on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c59
* Version Independent ID: 8846f2c6-df56-f387-4727-1

[2019-11-29 11:01] ManojReddy-MSFT commented on #41409
@FunkEinstein I understand. Unfortunately, Azure AD currently cannot acknowledge this logout response and that's most likely the reason for the error you are receiving.

If this is a requirement, I would recommend submitting a feature request [here](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=167256).

[2019-11-29 11:06] VikasPullagura-MSFT commented on #43779
@dcbrown16  Thanks for the feedback! I am assigning the issue to content author for confirming this storage limit and looking into the doc enhancement as applicable.

[2019-11-29 11:06] PramodValavala-MSFT commented on #43799
@jakaruna-MSFT Thanks for the feedback! We have worked up a PR to address this.

[2019-11-29 11:07] #43799 closed

[2019-11-29 11:08] PramodValavala-MSFT commented on #43802
@jakaruna-MSFT Thanks for feedback! We have worked up a PR to address this.

[2019-11-29 11:16] #43802 closed

[2019-11-29 11:22] GglServe opened #43803 "Email subject option does not work with common alert schema"
When using log alerts in Log analytics workspaces, there is an option 'email  subject' to override subject line of the alert notification email.
On enabling common alert schema for an email action in action group, 'email subject' option no longer overrides the subject line.

This issue should be investigated, and if this is expected behavior, it should be documented.

---
#### Document Details

⚠

[2019-11-29 11:30] SpikePy opened #43804 "Azure Cache for Redis: DNS name is not available"
I'm trying to set up the **Azure Cache for Redis**. For this you have to type a DNS name before you can crate it. The problem is that no matter what I type it says "the name ... is not available".

Dont tell me _rho-test-redis-fgghfgkljcfcfgqweglkjhfdghfghfgh345543_.redis.cache.windows.net, _dfhfghfgjghjdgsgjtryertytughfgcfvbdf_ and _dfgfsaddhjdfghfgy-54643425dfgdffdh_ are already taken ... becaus

[2019-11-29 11:45] kmoussa commented on #40300
Hi @truealex81 , thanks for your reply however I actually did create a rolebinding to my serviceaccount as per this screenshot but i still get the above result, what am I missing?

![image](https://user-images.githubusercontent.com/12699056/69867100-2605b200-12a6-11ea-82dc-cf45efbcb028.png)

[2019-11-29 11:50] NavtejSaini-MSFT commented on #43756
@CeciAc We are assigning this to author for further action.
@timsander1 Please look into this request and add more information if needed.

[2019-11-29 11:57] NavtejSaini-MSFT commented on #43751
@CeciAc We are checking this with our author.
@stevestein Please check user feedback and help with the question asked by user.

[2019-11-29 11:59] eriawan commented on #43797
@jakaruna-MSFT
I know the latest updated link. I will submit a PR to update this doc page.

[2019-11-29 12:00] msrini-MSFT commented on #43798
@woutervanranst , You can have a Firewall deployed along with Azure Bastion based on your need for your Infrastructure. You need to be conscious that you are not forcing traffic from Bastion subnet to Firewall via UDR. That is the reason you will not be able to add UDR to the Bastion subnet.

Azure Firewall in a Bastion deployed VNET is supported. Let me know if you have any specific scenario wher

[2019-11-29 12:05] eriawan commented on #43797
PR submitted: #43805

[2019-11-29 12:12] jakaruna-MSFT commented on #43715
@lgmorand Yes . AKS adds labels to the nodes with zone details.

Example is `failure-domain.beta.kubernetes.io/zone=eastus2-1`

@jluk @sauryadas Will AKS support auto spreading pods across zones in a deployment.

In kubernetes docs , SelectorSpreadPriority is mentioned.  Please add your comments

[2019-11-29 12:13] jakaruna-MSFT commented on #43516
@dlepow Please add your comments and update the doc if needed

[2019-11-29 12:17] jakaruna-MSFT commented on #43399
@esunder
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-29 12:17] #43399 closed

[2019-11-29 12:30] isamllr commented on #43732
I'd like to set ACLs on ADLS Gen2 using Databricks and/or HDInsight, in addition to Storage Explorer and the Gen2 APIs. It would be great to get examples documented here for all of these.
________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Friday, November 29, 2019 10:20:19 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: isamllr <isabelmllr

[2019-11-29 12:38] msrini-MSFT commented on #43792
@KosukeHosoda , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-29 12:39] EvgeniiProkofevItomych commented on #14571
Yeah, we really missed them

[2019-11-29 13:02] salihigde commented on #34658
I agree with @dcbrown16. It would be nice to have updated information regarding DaaS Webjob which might include when does it starts running, how much resources it might use and is it safe to stop it when we don't need any diagnostic analysis (to reduce usage of our app service resources).

[2019-11-29 13:05] igormusinov opened #43806 "Extremely slow AFS mount in ACI container"
I created ACI container with mounted AFS volume. AFS storage and ACI container were in  the one region - West Europe. I expected to get approximately 2000 Mb/s throughput (I get this result when test the same Storage Account with `azcopy bench`), but  I got 5 Mb/s . Is there any way to increase speed of loading with cifs mount?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2019-11-29 13:12] woutervanranst commented on #43798
Thanks, the question is indeed on providing guidance on putting AzBastion behind AzFirewall, as is the typical enterprise setup to put everything behind a firewall.

In other FAQs of products with a dedicated subnet there is typically a question whether the subnet supports udr/nsg (eg https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#are-network-security-groups-nsgs-supported-on-the-azu

[2019-11-29 13:15] seekingtheoptimal commented on #5297
Why is this closed? When the API does not require subscription and you provide a wrong token, it still has no trace information. I wanted to test why my JWT validation policy fails, but if there is no trace at all, it is impossible.

[2019-11-29 13:18] seekingtheoptimal commented on #5297
Okay so this only happens when you do not send the "Ocp-Api-Subscription-Key" header, which I assume is the intended behavior so non-admins cannot use Trace. But this info should be more visible, as many people run into this. And it happens even when the API itself does not require subscription, this is why it is confusing in the dev portal.

[2019-11-29 13:31] lcarli commented on #43765
Hi, @mike-urnun-msft, Thank you!

I totally agree! Sorry for my mistake to forget that.

I used this documentation (https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer) to onboard my costumer.

[2019-11-29 13:47] isamllr commented on #40411
I am looking for a solution without Dataflow, this will unfortunately not help.

[2019-11-29 13:49] older opened #43807 "Incorrect default user/group attribute mappings"
In this article both user and group default mappings show objectId mapped to ID attribute. Which is not what default mappings look like in newly created provisioning settings in Azure Portal. Instead, objectId is correctly mapped to "externalId" attribute.
Moreover, no mapping should be allowed to "id" as RFC 7643 section 3.1 states that "id" attribute is read-only and "The value of the id attribu

[2019-11-29 14:11] seekingtheoptimal commented on #12552
You don't need to edit the manifest, the simple solution is to just list the issuer in the JWT policy:
![image](https://user-images.githubusercontent.com/17144089/69874130-856dbd00-12ba-11ea-892a-5eb725aeab3f.png)

[2019-11-29 14:51] shashishailaj commented on #43807
@older Thank you for your feedback . We will investigate and update this thread further.

[2019-11-29 14:52] shashishailaj commented on #43790
@mariuszo-at-microsoft-com Thank you for pointing that out . We will have this reviewed and updated accordingly.

[2019-11-29 14:52] shashishailaj commented on #43791
@mariuszo-at-microsoft-com Thank you for pointing that out . We will have this reviewed and updated accordingly.

[2019-11-29 15:22] santo2 commented on #43462
I'm sorry, what do you mean with upgrading my powershell version? You mean going back to the older windows powershell 5, and running it from there? Because I did try to use the AzureADPreview, but that didn't seem to add anything useful in powershell core.

[2019-11-29 15:27] DashleenBhandari-MSFT commented on #43334
@BernardoMB Here is a way to generate a JWT token in C#
https://docs.microsoft.com/en-us/azure/media-services/latest/protect-with-aes128#get-a-test-token
I did not find an example based on javascript. May be this can help : https://www.jonathan-petitcolas.com/2014/11/27/creating-json-web-token-in-javascript.html

[2019-11-29 15:42] shashishailaj commented on #43780
@Nalini-M Thank you for your query . We will investigate and update this thread further.

[2019-11-29 15:42] danielearwicker opened #43808 "Would be more helpful with a complete example"
Where it says:

image: &lt;replace this image property with you[r] acr login server, image and tag&gt;

Why not give a complete example string for that property, given dummy example names for server, image and tag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent

[2019-11-29 15:46] kobulloc-MSFT commented on #43800
@jn-altius Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-29 15:46] shashishailaj commented on #43780
@Nalini-M Thank you for your query. It seems that the The POST request does not contain correct Grant_type parameter value due to which you are getting the error. I am not really sure what request you are making however the `grant_type` denotes the type of [oAuth authentication flow supported by Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types) . I would sugge

[2019-11-29 15:49] shashishailaj commented on #43563
@galaxyware241 At this point I do not believe we have a offline version for this tool however I have requested more information internally if this can be made available as a offline installer.

[2019-11-29 15:50] mattderosia commented on #41953
I am not sure if you guys are even paying attention.

This page https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-groups-resolve-problems clearly shows an image in step #3 that I USED TO BE ABLE TO USE. Then Microsoft made a change and now its broke AND THE DOCUMENTATION HAS NOT BEEN UPDATED.

Not hard guys. Either fix the functionally or update the documentation

[2019-11-29 15:51] Nalini-M commented on #43780
In postman it's working when I use grant type as client credentials..In Uipath I am trying it ,then only I am getting error

Thanks and Regards,
Nalini Devi Machugari.
________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Friday, November 29, 2019 9:16:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nalini Devi Machugari <nalini.machugari

[2019-11-29 15:55] lollasravani opened #43809 "405 Error code"
When I try to use Form Recognizer documentation from https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-receipts, I get a 405 error code.

[2019-11-29 15:58] lollasravani commented on #43809
I am actually using free subscription for now. Does this have anything to do with the 405 error code?

[2019-11-29 16:00] asergaz commented on #43523
I have assigned the issue to the content author to evaluate if we can add a note that the latest version of CLI needs to be used and update as appropriate.

[2019-11-29 16:05] asergaz commented on #43515
Thank you for your feedback @masakinoda111 , if you try using Node.js again, please follow Alberto's suggestion and let us know if you were not successfull.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-29 16:05] #43515 closed

[2019-11-29 16:07] raviman8 commented on #43701
yes, this is it! thank you.

what a process though... :)

On Fri, Nov 29, 2019 at 5:31 AM SwathiDhanwada-MSFT <
notifications@github.com> wrote:

--
Thanks,
Ravi Yadav

<https://mvp.microsoft.com/en-us/PublicProfile/5002189?fullName=Anonymous>

[2019-11-29 16:07] netgio opened #43810 "Missing info: Your API Spec needs to be updated with remote URL otherwise you will get 404s"
I was getting 404 errors from the remote gateway and it took me a load of trial and error to discover that the OAS definition for a remotely published API needs to be updated to match the remote gateway.  in OAS 2.0 this means modifying the host/scheme to match.  In OAS 3.0 you can just add the root URI to the Servers collection.   This should be added as a step in the documentation.

---
#### Doc

[2019-11-29 16:17] KalyanChanumolu-MSFT commented on #43786
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-11-29 16:19] KalyanChanumolu-MSFT commented on #43788
Duplicate of Issue #43786

[2019-11-29 16:19] #43788 closed

[2019-11-29 16:22] asergaz commented on #40003
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-29 16:22] #40003 closed

[2019-11-29 16:31] #43809 closed

[2019-11-29 16:45] SnehaAgrawal-MSFT commented on #43640
@GarryMAM Since we didn't heard back from you We will now proceed to close this out but if you feel you need more information please just let us know.

[2019-11-29 16:45] #43640 closed

[2019-11-29 16:48] BhargaviAnnadevara-MSFT commented on #43720
@aorlenko83 Thank you very much for bringing this to our attention! I've raised a PR with the fix for this that's awaiting review.

@mrbullwinkle FYI.

[2019-11-29 16:51] SnehaAgrawal-MSFT commented on #43625
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-29 17:10] emmelop commented on #43639
Hi OneConsutlantsDemo… I'm interested in having this new version, as I'm following the demos in this tuto. I have it with new core version but if you have TwitterWPF which works, please could you share? emmelop[at]outlook.com. Thanks in advance!

[2019-11-29 17:42] msrini-MSFT commented on #43795
@Atul1G , Can you please provide more info along with your Application gateway config to troubleshoot more?

[2019-11-29 18:06] KrishnaG-MSFT commented on #43803
@GglServe Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-11-29 18:08] versacecrispies commented on #43639
My email is astarakshat@gmail.com - Thanks in advance!

[2019-11-29 18:08] versacecrispies commented on #43778
Thank you.

[2019-11-29 18:14] buzzkillionair opened #43811 "Issue with azcopy to upload entire directory to storage drive"
I keep getting the same error
[code]
My goal is to create a python script that will automatically transfer data when I run it. The SAS that I am using is not expired and I am unsure of the issue. Everything I have commented out is something I have tried to fix it.
My Code:

[code]

Also included a screen capture of code
![Capture](https://user-images.githubusercontent.com/55159631/69885218-7b47c08

[2019-11-29 18:27] klausenbusk commented on #43056
I just spent a lot of hours trying to figure this out and got it working with the following code:

You can [scaffold](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity) the required pages and customize them as needed with (you need to modify [`Startup.cs`](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity#create-full-identit

[2019-11-29 18:35] Pilchie commented on #43614
It did not work for me, and I had just installed the azure dev shell on linux using apt earlier that day.

[2019-11-29 18:35] msrini-MSFT commented on #43798
@woutervanranst , valid feedback. I will work on adding a FAQ to this page.

[2019-11-29 18:36] Pilchie commented on #43538
Could it be related to the fact that I was using az on linux (installed via apt)

[2019-11-29 18:45] subashsivaji opened #43812 "pipeline control flow expression Vs. data flow expression"
pipeline control flow expression Vs. data flow expression. What's the difference and will I lose anything by choosing one expression language over the other? Obviously I get more functions when using data flow expressions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40982a5b-890f-0ef4-fad7-2d65b856aef8
* Version Ind

[2019-11-29 19:01] wizaster opened #43813 "parenthesis placement"
in the exemple of the update for scala, there is a parenthesis before the comma of the predicate that should be at the end of the function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebab5098-4cf4-e41b-44b0-4a4f04bc1797
* Version Independent ID: 904e7a4a-8be0-5445-a9a9-5faaf6d20fdf
* Content: [Table Deletes, Updates

[2019-11-29 19:08] mike-urnun-msft commented on #43742
@Leejung168 Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-11-29 19:08] mike-urnun-msft commented on #43762
@georgelinca Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-11-29 19:12] mike-urnun-msft commented on #43781
@dxkaufman Thank you for your feedback! We will review and update as appropriate.

cc: @ggailey777 @kulkarnisonia16

[2019-11-29 19:14] mike-urnun-msft commented on #43810
@netgio Thank you for your feedback! We will review and update as appropriate.

[2019-11-29 19:14] northtyphoon commented on #43516
You cannot create Tasks and enable commit or pull-request trigger on github enterprise. It’s not supported. You may still create a task if you want to set up timer trigger or base image update trigger to build your project, but you need to pass ‘—commit-trigger-enabled false’

[2019-11-29 19:18] mike-urnun-msft commented on #43811
Hi @buzzkillionair - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-29 19:23] shashishailaj commented on #43806
@igormusinov Thank you for your feedback . We will investigate and update the thread .

[2019-11-29 19:24] shashishailaj commented on #43813
@wizaster Thank you for your feedback . We will investigate and update this thread .

[2019-11-29 19:25] mike-urnun-msft commented on #43809
Hi @lollasravani - Thank you for your feedback. Seeing that you've closed this issue, were you able to find an answer to your question? We'd be happy to reopen and assign an engineer who can assist you.

[2019-11-29 19:27] shashishailaj commented on #43808
@danielearwicker Thank you for your feedback . We will investigate and update this thread.

[2019-11-29 19:28] shashishailaj commented on #43812
@subashsivaji Thank you for your query . We will investigate and update this thread.

[2019-11-29 19:29] shashishailaj commented on #43804
@SpikePy Thank you for your query. We will investigate and update this thread .

[2019-11-29 19:29] OneConsutlantsDemo commented on #43639
[TwitterClient.zip](https://github.com/MicrosoftDocs/azure-docs/files/3906273/TwitterClient.zip)
You can build the code using Visual Studio and use the WPF Client. Hope this helps cheers!

[2019-11-29 19:30] shashishailaj commented on #43801
@manvendrautralia Thank you for your feedback . We will investigate this and update the thread.

[2019-11-29 19:43] AmanGarg-MSFT commented on #43490
@mrbullwinkle Is this good to be closed?

[2019-11-29 19:47] YutongTie-MSFT commented on #43536
@xieofxie Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-29 19:47] #43536 closed

[2019-11-29 20:47] mthompson-mac commented on #38772
App Gateway doesn't pass through client certificates or support client cert validation whereas APIM can do both. If mutual TLS is required, App Gateway in front doesn't work out. App GW behind APIM is less ideal but allows you to have mutual TLS and WAF.

[2019-11-29 21:19] jdkr0220 opened #43814 "Install Helm link isn't working"
https://github.com/helm/helm/blob/master/docs/install.md get a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d2f14-f40d-1f84-0506-c87d7f8db59b
* Version Independent ID: a16becae-3e1f-78ed-0031-758f331e7021
* Content: [Develop on Azure Kubernetes Service (AKS) with Draft](https://docs.microsoft.com/en-us/azure/

[2019-11-29 21:21] jzoran05 opened #43815 "broken link"
https://github.com/Azure-Samples/java-functions-eventhub-cosmosdb link is broken...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618b2135-6547-4b07-ebfb-3bc86553665d
* Version Independent ID: de9607ad-d780-95ca-df06-44207c813822
* Content: [Tutorial: Use Java functions with Azure Cosmos DB and Event Hubs](https://doc

[2019-11-29 21:22] truealex81 commented on #40300
@kmoussa you need to create 3 things:
1. restricted psp
[code]
2. ClusterRole
[code]
3. ClusterRoleBinding
[code]
This is working config if you want to attach restricted psp to default sa's (to all pods except pods in kube-system namespace which has privileged psp attached)
If you want to attach restricted psp to certain sa, then try to run this comand instead p.3:
[code]

[2019-11-29 21:42] wkasdorp opened #43816 "Inconsistent behavior for CustomScriptExtension, depending on BLOB or repo"
After much troubleshooting I determined that the type 'CustomScriptExtension' behaves differently depending on where the template and scripts are stored.

The information in this article says: "_When executing the commandToExecute command, the extension sets this directory (for example, ...\Downloads\2) as the current working directory. This process enables the use of relative paths to locate the

[2019-11-29 22:21] MarileeTurscak-MSFT commented on #43815
@jzoran05
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-29 22:29] FrankHu-MSFT commented on #43462
@santo2 if you're still having trouble with this please open a Q&A thread for troubleshooting there, I'm not having any issues utilizing the aad powershell module with my version of windows powershell

Please include your powershell version in the Q&A post using $PSVersionTable at the link : https://docs.microsoft.com/answers/index.html

[2019-11-29 22:29] #43462 closed

[2019-11-29 22:29] MarileeTurscak-MSFT commented on #43815
Thanks! I made a pull request to remove the link.

@KarlErickson and @jeffhollan can you confirm where the repository moved? There seems to be a related one here. https://github.com/jeffhollan/functions-java-eventhub-to-cosmosdb

[2019-11-29 22:30] #43483 closed

[2019-11-29 22:30] FrankHu-MSFT commented on #43384
@robsiklos i'm following up on this can you please respond in regards to the last post?

[2019-11-29 22:39] versacecrispies commented on #43639
I built the project but when I try to run it, it gives me this error:
The remote server returned an error: (401) Unauthorized.

[2019-11-29 22:41] jmprieur commented on #43384
@RobSiklos  : there are two types of redirect URIs: redirect URIs for native clients (mobile / desktop), and redirect URIs for Web apps. Did you choose for native client? If not you should delete it and create it for native client.

[2019-11-29 22:46] mike-urnun-msft commented on #43377
@rfontijn I did not get your email. Could you resend it to `azcommunity at microsoft dotcom` and include the URL of this issue as well as your subscription ID, please?

We will now proceed to close this thread. If there are further questions regarding specific detail of this documentation, please reopen it and we will gladly continue the discussion.

[2019-11-29 22:46] #43377 closed

[2019-11-29 23:09] OneConsutlantsDemo commented on #43639
If I understand it right the UI open when you key in your details ( API keys etc ) and then on pressing the green play you get this error. In that case please validate your twitter developer keys once.

[2019-11-29 23:13] anthonychu commented on #13111
Fixed via https://github.com/Azure/azure-functions-durable-extension/pull/1060 #please-close

[2019-11-29 23:13] #13111 closed

[2019-11-29 23:26] versacecrispies commented on #43639
Never mind, I fixed it. It's working now. Thanks!

[2019-11-30 00:03] yyanev commented on #43401
The user provisioning is done by a tool named aaduseradd, which is modelled after the stock useradd Linux tool. It uses the same config file to set up the default home directory.

If this is rather about changing the home directory of already provisioned user, you can try again aaduseradd tool, but it is not thoroughly tested for doing updates and may not work. An alternative will be to update the

[2019-11-30 01:10] marckassay opened #43817 "Suggested Clarification"
I was reading some other Azure document about Managed identities, and until I started reading this document I got confused by this statement:

After a few minutes, I realized the statement is valid in its context, but not in the context of Azure. Perhaps, this suggested statement is valid in its context and greater:

Or having something similar. I hope that helps.

---
#### Document Details

⚠ *Do

[2019-11-30 01:36] mike-urnun-msft commented on #43814
@jdkr0220 Thank you for your feedback! We will review and update as appropriate.

[2019-11-30 01:37] mike-urnun-msft commented on #43816
@wkasdorp Thank you for your feedback! We will review and update as appropriate.

[2019-11-30 01:38] mike-urnun-msft commented on #43817
@marckassay Thank you for your feedback! We will review and update as appropriate.

[2019-11-30 02:41] tdihp commented on #37578
@droessmj This is the correct way to enable logs. This ticket aims to save our time for investigate such a common scenario.

[2019-11-30 03:47] lollasravani commented on #43809
I am still getting the error. Please reopen the issue

[2019-11-30 03:57] levi106 opened #43818 "Requirements for certificate registration"
If I purchased a X.509 certificate (device certificate) from a root CA, do I need to upload some certificates to IoT Hub?
Or, do I need to upload files in only the following two scenarios?
- Create your own X.509 certificates using a third-party tool.
- Generate an X.509 intermediate CA certificate signed by an existing root CA certificate.

Also, if the certificate I purchased was signed with an

[2019-11-30 05:02] lollasravani opened #43819 "I am getting resource not found (404) error for my endPoint."
I have logged in to Azure with a free account.
I have created a storage blob and a container in it and took the SAS value from here.
I have added 5 images in that container.
I have created a Cognitive Service and took my Key1 value and Endpoint from here.
When I try to run the below code by replacing the variables with the values that I have collected, I am getting a 404 error(Resource not found).

[2019-11-30 05:24] kobulloc-MSFT commented on #43490
@drdamour The changes should go live soon.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-11-30 05:24] #43490 closed

[2019-11-30 06:27] aquibqureshi26 commented on #39840
should be added in the document.

1) We have to use "any" for protocol and destination port
2) Source Cannot be Bastion Subnet IP Address range or VNET Service Tags it has to be set to ANY

or else we cannot attach NSG to Bastion Subnet if any of the above conditions are not met.

[2019-11-30 07:19] shashishailaj commented on #43780
@Nalini-M Does UiPath support Client credential flow and do you see **`grant_type`** parameter being passed? Can you check their documentation ? In my experience I have not found many application which don't support client credential flow. But I am asking because in app-dev world the possibilities are endless and we can not always know how the application is designed. you would need to check what

[2019-11-30 07:32] shashishailaj commented on #43582
@stumbaumr Thank you for your patience with us on this. We have checked this internally and found that currently [IPv6 addresses are not supported for named locations in conditional access policy](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20564131-add-ipv6-addresses-ranges-in-named-locations) and hence you do not have a way to ad it on the web interface. Fortunate

[2019-11-30 07:32] #43582 closed

[2019-11-30 09:36] amanjeetsingh commented on #42972
Thank you @assafi

[2019-11-30 11:10] msrini-MSFT commented on #43573
@I90Runner , Please tag me if you have any further questions.

[2019-11-30 11:10] #43573 closed

[2019-11-30 12:04] danield137 opened #43820 "Missing information + Low res image"
1. Maybe consider linking to throughput details (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-machine-network-throughput).

2. Image used in article is unevenly cropped and low quality. maybe update the image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cff90b4-ed1e-5069-7863-2308911e80e5
* Versio

[2019-11-30 12:55] amneshgoel7 opened #43821 "Supported regions"
"South India" is written twice in Supported regions.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autoscaling and Zone-redundant Application Gateway v2](https://docs.microsoft.com/en-gb/azure/application-ga

[2019-11-30 13:55] danield137 opened #43822 "Unclear Storage performance (throughput)"
In this page it states that General Purpose VM comes with Premium Storage.
The docs here say that Premium Storage is 3 IOPS per GB.
So, for 100GB you get 300 IOPS. another doc states that IOPS are computed using 256KB units (https://azure.microsoft.com/es-es/blog/introducing-premium-storage-high-performance-storage-for-azure-virtual-machine-workloads/).
So, 300IOPS is at max 300 * 256KB / 1024 = 7