[2021-01-08 21:41] #68562 closed

[2021-01-08 21:43] martinmeeser opened #68628 "Azure AD B2C group claims status not clear"
From the article it is not clear if that is working with azure ad b2c!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Independent ID: 481c093b-6db3-c4e5-6644-b1a3a4497a30
* Content: [Configure group claims for applications with Azure Active Directory](https://docs.microso

[2021-01-08 21:51] varunsampat30 opened #68629 "Azure Data Factory Issue: How to parametrise a custom activity and link an event-based trigger"
Hello,

I am trying to parametrise a custom activity of Azure Data Factory (ADF) so that it can take in inputs from the event based trigger (folder name and file name). I have tried to follow the following demos:

1. https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger
2. https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity

How

[2021-01-08 21:58] afargnoli-ops opened #68630 "why don't you show a worthwhile example of doing a query on a table through db connect?"
[Enter feedback here]
This page is lacking an example of actually running a query through db connect. It kind of renders it useless. Additionally, I had to use Google to set this up to run the silly range(100) example because the information on this page is not even sufficient to accomplish that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-01-08 22:02] twooley commented on #68600
Hello, @ubajwa-git. Thanks for taking the time to send us this feedback. We're actually in the process of planning a restructure so hopefully that will address some of your concerns. (It will still take a while). If you want to share more detailed feedback around issues you have with the current TOC/structure, please let me know. I'm interested in what you have to say. I'm closing this issue, but

[2021-01-08 22:02] #68600 closed

[2021-01-08 22:02] KranthiPakala-MSFT commented on #68515
Hi @Datum-Guy , Based on the update (issue was fixed and confirmed) from Q&A forum thread link. I am closing this issue. Please feel free to open a new thread in Microsoft Q&A forum if you notice any more issues.

Appreciate for bringing this to our notice.

Thank you

[2021-01-08 22:02] #68515 closed

[2021-01-08 22:07] MarileeTurscak-MSFT commented on #68628
Passing groups claims and configuring under token configuration is only available for standard Azure AD only and not by Azure AD B2C. The only way to pass specific claims in Token issued by B2C is by configuring it in User Flows or Custom Policies at this time. You can use custom attributes passed as claims.

You can also use Graph to query group membership.

You can vote on the feature request he

[2021-01-08 22:07] #68628 closed

[2021-01-08 22:09] KranthiPakala-MSFT commented on #68621
@jdelatorred
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-08 22:09] sean-keane25 commented on #68492
Yes, I am aware that it is document at the link you provided. This doc github issue was opened because the ARM template reference for [Microsoft.Cache\Redi](Microsoft.Cache\Redis)s does not specify the publicNetworkAccess property.

[2021-01-08 22:09] dcolebatch opened #68631 "Azure roles needed for PAL are incorrect"
In the current docs, to link a partner ID to your Azure accounts I should only need _any Azure role_.

However, in practice it appears only `Owner` works for us, not `Reader` for example.

<img width="802" alt="Screen Shot 2021-01-08 at 5 07 42 PM" src="https://user-images.githubusercontent.com/161612/104070175-4657ae00-51d4-11eb-9fe3-07406497ceea.png">

Following the principles of least privilege

[2021-01-08 22:10] himanshusinha-msft commented on #68504
Hello @AnandGoel813 , I did just folowed all the steps and I was able to run the code without any error .
Can you please share the errror which you are seeing ?

![2021-01-08 13_43_10-SQLQuery6 sql - analyticssynapsews sql azuresynapse net HImanshu ](https://user-images.githubusercontent.com/47539458/104070187-28318400-51bb-11eb-865f-abfd4ef8e0c9.gif)

[2021-01-08 22:14] jmstrupp-psjh opened #68632 "Small Correction - missing the letter "n""
Small Correction - missing the letter "n"

For servicePrincipals that correspond to a managed identity. Managed identities service principals can't be deleted in the Enterprise apps blade. You need to go to the Azure resource to manage it. **Lear** more about Managed Identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-01-08 22:22] MarileeTurscak-MSFT commented on #68632
@jmstrupp-psjh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-08 22:23] MarileeTurscak-MSFT commented on #68632
Thanks for reporting! I just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/142679

[2021-01-08 22:23] #68632 closed

[2021-01-08 22:32] Hegi opened #68633 "Typo: The App registrations blade"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-344f-7b39-ca0e2bc18b9b
* Content: [Apps & service principals in Azure AD - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-pr

[2021-01-08 22:33] Hegi opened #68634 "Typo: The App registrations blade"
There is a typo on the page. it says `The App registrations blade`. I am guessing it was supposed to be `The App registrations page`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-344f-7b39-ca0e2bc18b9b
* Content: [Apps & service principals in

[2021-01-08 22:33] #68634 closed

[2021-01-08 22:35] James-Hamil-MSFT commented on #67387
Hi @urjitgokhale , I'm sorry for the amount of time you've been waiting. I received word from the product team that this cannot be done unfortunately. App-only permissions cannot be done dynamically.

Best,
James

[2021-01-08 22:38] #68633 closed

[2021-01-08 22:52] MarileeTurscak-MSFT commented on #68634
I assume since you closed this out that this is resolved. :)

[2021-01-08 22:53] MarileeTurscak-MSFT commented on #68633
https://github.com/MicrosoftDocs/azure-docs/issues/68634

[2021-01-08 22:54] markfront commented on #67611
I ran into the same error too when trying the sample notebook "regression-automl-nyc-taxi" of the tutorial included in Azure ML Studio.

The error message suggests there are version conflicts inside azureml core.

Can you please re-open the issue to investigate?

[2021-01-08 22:55] KranthiPakala-MSFT commented on #68607
@n3rdyone
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://d

[2021-01-08 22:58] KranthiPakala-MSFT commented on #68612
@derekschauland
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-08 22:59] KranthiPakala-MSFT commented on #68613
@derekschauland
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 23:01] ccompy commented on #67538
At GA or shortly thereafter we will have guidance and tools to upgrade from ASEv2 to ASEv3

[2021-01-08 23:01] KranthiPakala-MSFT commented on #68618
@fpfreund
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-08 23:09] KranthiPakala-MSFT commented on #68620
@martinekuan
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-08 23:10] KranthiPakala-MSFT commented on #68624
@martinekuan
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 23:10] HeidiSteen commented on #68231
@rasmus-s  The docs are now updated (see the JSON serialization section at https://docs.microsoft.com/en-us/azure/search/search-dotnet-sdk-migration-version-11#json-serialization).  Thanks for raising the issue!

#please-close

[2021-01-08 23:10] #68231 closed

[2021-01-08 23:12] KranthiPakala-MSFT commented on #68629
@varunsampat30
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for the documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https

[2021-01-08 23:12] #68629 closed

[2021-01-08 23:13] #68618 closed

[2021-01-08 23:14] KranthiPakala-MSFT commented on #68618
@fpfreund
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-08 23:16] KranthiPakala-MSFT commented on #68630
@afargnoli-ops
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@mssaperla Could you please have a look at the above feedback and do the helpful needed. Thanks

[2021-01-08 23:19] KranthiPakala-MSFT commented on #68631
@dcolebatch
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 23:20] grantblackbean opened #68637 "Unclear or inaccurate instructions/bash commands"
I ran through the instructions here and had to make a few adjustments to allow the commands to complete without error in the azure bash shell, then ran into issues deploying from git local. A couple of the issues I noted include the Ruby version not working until updated from 2.6.2 to 2.6, and issues with the git deployment instructions. Following the guide to the letter results in console errors

[2021-01-08 23:22] spelluru commented on #62867
While updating the article, I verified the UI in the portal. The Firewall tab has Preview in the text. Verifying with the product team.

[2021-01-08 23:25] #68423 closed

[2021-01-08 23:48] MicrosoftGuyJFlo commented on #57601
Due to service dependencies some apps like Teams may not function correctly if you just exclude them individually. If this is still an issue I would open a case with Microsoft support and they can further diagnose the issue with you.

[2021-01-08 23:48] MicrosoftGuyJFlo commented on #57601
#please-close

[2021-01-08 23:48] #57601 closed

[2021-01-08 23:55] stephenc01 commented on #57601
Teams is just an example. I have tickets open about this.  Office 365 app should not override exclusions.

[2021-01-08 23:57] stephenc01 commented on #67798
The app id is 810dcf14-1858-4bf2-8134-4c369fa3235b

[2021-01-09 00:00] KranthiPakala-MSFT commented on #68637
@grantblackbean
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-09 00:43] diberry opened #68638 "Example of custom state?"
Can you provide an example scenario of passing custom state (why/when would I use this) as well as how MSAL compares the string to state?

I pass in a custom state as a string "my_custom_state" but the response object just returns an empty string so I think the comparison failed but really I may not even be passing it in correctly. It doesn't come back as accountState (from doc), but as `state`. T

[2021-01-09 00:44] diberry commented on #68638
![image](https://user-images.githubusercontent.com/41597107/104077995-b401db00-51d0-11eb-8eb6-218aaca7aa5e.png)

[2021-01-09 01:17] cakriwut opened #68639 "Information in "Allow access to a few source IPs" section is not valid"
Section : **Allow access to a few source IPs** , item no. 4
__4. Block all other incoming traffic by using a deny-all rule.__

The instruction above can not be applied to App Gateway with fast update or SKU V2.  Executing that instruction in App Gateway with fast update or SKU V2 will return following error:

__"This is not permitted for Application Gateways that have fast update enabled or have V

[2021-01-09 01:20] mhopkins-msft commented on #68051
@jacbeekers, Thank you for your feedback. I have updated the Python code. The article will be republished on Monday.

#please-close

[2021-01-09 01:20] #68051 closed

[2021-01-09 01:33] lisaguthrie commented on #60615
#reassign:AlexandraKemperMS

[2021-01-09 01:34] lisaguthrie commented on #60615
@AlexandraKemperMS - can you take a look at this one?

[2021-01-09 01:51] elisolMS commented on #65835
I think at this point it would be best to jump on a call and watch you go through the flow, because the steps you're describing should work.  If you're interested in doing so, could you please email me at elisol@microsoft.com with some times that would work for you so we can set something up?

[2021-01-09 02:30] krispenner commented on #68522
I understand you will probably wait until @dlepow can confirm as you asked, but I can confirm the following:

1. This was an issue for us for our tokens we pass via the URL, anything over 260 characters returned a 400 status code from our APIM and there was nothing we find do to work around it.
2. I raised this with Azure support and as per the linked feedback item above, I requested MS to increas

[2021-01-09 02:32] AshokPeddakotla-MSFT commented on #68263
@VisionaryMind Did you get a chance to see Quentin response? We hope that answers your query.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-09 02:32] #68263 closed

[2021-01-09 02:41] femsulu commented on #68616
Hello @ezcodify  - [This](https://github.com/Azure/Community-Policy/pull/160/files) was merged into Azure/Community-Policy earlier, might be what you are looking for.

[2021-01-09 02:47] AshokPeddakotla-MSFT commented on #68639
@cakriwut Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 02:51] AshokPeddakotla-MSFT commented on #68638
@shashishailaj Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 03:21] GiftA-MSFT commented on #68561
Please can you try recreating and share the error message?

[2021-01-09 03:35] GitaraniSharma-MSFT commented on #68339
@bizinbarefeet , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-09 03:35] #68339 closed

[2021-01-09 04:34] swieder commented on #68561
“The deployment failed.”

I’m unable to find any more information on why it failed and there is no documentation that I can see on how to troubleshoot a failed deployment.   Are there any logs anywhere that will give the details of why the deployment failed that you can documents??

Thanks,
Steve Wiederrich
Mobile: 214-642-9333

From: GiftA-MSFT<mailto:notifications@github.com>
Sent: Friday, Janua

[2021-01-09 04:40] KalyanChanumolu-MSFT commented on #68492
Got it. Thank you for the additional context.
Private link integration with Azure Cache for Redis is currently in preview. The parameter should be included in a new API version once the integration is GA and the template reference will be updated accordingly.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue t

[2021-01-09 04:40] #68492 closed

[2021-01-09 05:10] RonnieQuan opened #68640 "Rotate and protect QnA Auth Key"
Seems all the Bot and QnA maker example user QnA Auth Key.

Question is how to protect the key, is there RBAC available to control how has access to the key?
and how to rotate the key to meet the compliance requirement?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbde120-1636-a815-c406-55afdd8

[2021-01-09 06:36] hongooi73 opened #68642 "Note on Azure Resource Manager and trailing slashes appears to be obsolete"
I've been able to authenticate and use ARM with the scope `https://management.azure.com/.default` with no problems.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e056c00-a2a1-7019-fb36-0243819a7b99
* Version Independent ID: a7a0b942-5e83-6e60-c9e8-32e0225de250
* Content: [Microsoft identity platform scopes, permissio

[2021-01-09 07:17] SB-o-matic opened #68643 "Correction In Content Definition Parameters Example"
`<Parameter Name="campaignId">{OAUTH-KV:campaignId}</Parameter>`

Should example show Hawaii in content definition parameter instead of campaignId like below? Or is the value for campaignId getting passed in the request?

`<Parameter Name="campaignId">{OAUTH-KV:Hawaii}</Parameter>`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-01-09 09:26] jacqueskang commented on #68148
I confirm too that issue is fixed. Thank you @asergaz

[2021-01-09 10:54] AshokPeddakotla-MSFT commented on #68640
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 10:56] AshokPeddakotla-MSFT commented on #68642
@hongooi73 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 10:59] AshokPeddakotla-MSFT commented on #68643
@SB-o-matic Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 11:33] SerjSX opened #68644 "Microsoft Authenticator Autofill Issue"
Hello, I have a suggestion to make about an issue that needs to be fixed which is why wouldn't I be able to use password autofill if I have an organization account on my phone? The organization account is for Microsoft Teams for my school, but I have logged in to sync with my other main account on Authenticator which isn't an organization account. Why would I be blocked out to use Microsoft Authen

[2021-01-09 12:28] abilous-ti opened #68645 "Azure Add role assignment document does not have option "Azure AD user, group, or service principle""
---
#### Document Details
Documentation https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal#add-a-role-assignment
has a picture
![image](https://user-images.githubusercontent.com/22077679/104091483-5203ad00-5286-11eb-80eb-9f323964199a.png)

however in fact there is no option "Azure AD user, group, or service principle"
only "User, group, or service principle"
!

[2021-01-09 13:31] RajHiray opened #68647 "Azure Storage Replication how many number of copies of data maintained on separate nodes."
## Azure service or technology.
__Azure Storage Redundancy__

## Link to the published documentation article
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy

##  Feedback
This page doesn't clarify how many physical copies of the data are actually held for geo-redundant storage (GRS) and geo-zone-redundant storage (GZRS).

__For Redundancy in the primary region :__
Locally

[2021-01-09 14:30] yowl commented on #67166
@elafnitzegger  Did you get any more useful information from MS about this?

[2021-01-09 14:52] BhargaviAnnadevara-MSFT commented on #68496
@vishnuprakash9845 Could you please provide the requested details?

[2021-01-09 14:59] #68490 closed

[2021-01-09 15:18] AshokPeddakotla-MSFT commented on #68644
@SerjSX Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 15:20] AshokPeddakotla-MSFT commented on #68645
@abilous-ti Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-09 15:23] AshokPeddakotla-MSFT commented on #68647
@RajHiray Thanks for the feedback and creating a PR. We are currently investigating and will update you shortly.

[2021-01-09 15:59] JT548313 commented on #14254
Thanks for all the help. I'm relatively a new bee here. I'm also running Azure SQL Edge via Docker container (mcr.microsoft.com/azure-sql-edge) on my computer containing the Apple M1 chip (ARM architecture). I'm not able to use sqlcmd as its not part of Azure SQL Edge package. How can I tweak it in the Docker Container? Any help would be great!!

[2021-01-09 16:12] KranthiPakala-MSFT commented on #68607
@n3rdyone We will now proceed to close this thread. Please do share the forum thread link once it is created.

 If there are further questions regarding this matter, please feel free to comment. We will gladly continue the discussion.

Thank you

[2021-01-09 16:12] #68607 closed

[2021-01-09 16:12] SerjSX commented on #68644
Please let me know! Thank you.

[2021-01-09 16:32] turbodog commented on #64549
How do you perform the reset on node pool Windows servers? They don't show up in my list of Virtual Machines and I don't see any way to get their names from the node pool page.

[2021-01-09 16:44] older commented on #68480
@JayaChatterjee-MSFT No, it doesn't. There's no mention that these settings are **not allowed** on Linux.

[2021-01-09 19:39] mjabl commented on #61507
In CMD and Git Bash everything works fine but there is clearly problem with Powershell. Any chance for it to be fixed?

[2021-01-09 20:34] elafnit commented on #67166
I am still working with MS to setup a proper environment. If, however, you already have an HSM where you have stored your code signing cert and would like to move forward, you can download a copy of my demo solution [here](https://github.com/elafnit/azure-code-signing-cicd-demo). I would be very interested to here from you if you are going out on your own. I will update here when I have new inform

[2021-01-09 21:05] JNORMANAZ opened #68649 "Suggestion for addition configuration example"
A big part of being able to use azure for some people is AzureAD.  It would be good to link to a sample that showed how to inject getting the Identity ( System.Security.Claims.ClaimsPrincipal has worked for me in the past, but not always) and how to force a login if not authenticated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-09 22:33] KranthiPakala-MSFT commented on #68649
@JNORMANAZ
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-10 01:47] #68579 closed

[2021-01-10 02:00] KranthiPakala-MSFT commented on #68579
@Joost-van-Rossum Appreciate much for reporting this to us.
The PR for the doc fix has been created and it will be merged soon.

Could you please highlight the section where the error message is having issue for the below error messages you have provided?

[code]

Thank you

[2021-01-10 02:03] tdihp opened #68652 "Reflecting DNS setting for a supported Linux distribution"
For the note:

Since we have a list of [supported Linux distributions](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros), can we have a how-to for the DHCP lease renewal, or point to Azure/distribution articles on how to do so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-1

[2021-01-10 02:04] tdihp commented on #19779
Thanks for the direction @dcbrown16 opened #68652

[2021-01-10 02:16] torumakabe opened #68653 "Azure CNI Mode"
It is a bit difficult to understand explanations related to Azure CNI Mode. Could you please check the following?
https://docs.microsoft.com/en-us/azure/aks/faq#what-is-azure-cni-transparent-mode-vs-bridge-mode

* IP addresses and ranges used in diagrams and explanatory texts are different. A bit confused. Is this what you intended?
* I think a sentence "the second one saying "10.20.x.x" Pod space

[2021-01-10 02:29] atho3009 opened #68654 "If the VM on which the agent is installed has multiple IIS-hosted apps, then how do we structure the JSON so that the apps can be distinguished"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [Monitor performance on Azure VMs - Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azu

[2021-01-10 03:58] adiun opened #68655 ""Submit feedback for this product" link broken"
At the bottom of the page clicking submit feedback for "this product" link is a 404. The link it currently points to is: https://feedback.azure.com/forums/169397-cdn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Conte

[2021-01-10 04:05] adiun opened #68656 "Custom HTTPS for apex domain not working for any CDN tier: "Sorry there was an error on our end""
I'm trying to onboard an apex/root domain and Azure CDN managed certs doesn't support apex domains anymore so I have to use a custom certificate.

I tried both an App Service Certificate and a LetsEncrypt certificate provisioned through certbot. Both certificates are in Key Vault. I tried certificates with a passwords and without. In all cases I get this error like the following.

I tried both the

[2021-01-10 05:01] Damag3d opened #68658 "Awkward structure for registrations"
While instructions are pretty clear, the whole procedure is awkward.
app registrations are for tenants where backend API is deployed, service principals/enterprise applications where they are consumed according to [Applications and Service Principals](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals) . Here we have B2C tenant that consumes API and

[2021-01-10 05:16] AshokPeddakotla-MSFT commented on #68652
@tdihp Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 05:18] AshokPeddakotla-MSFT commented on #68653
@ToruMakabe Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 05:19] AshokPeddakotla-MSFT commented on #68654
@atho3009 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 05:21] AshokPeddakotla-MSFT commented on #68655
@adiun Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 05:22] AshokPeddakotla-MSFT commented on #68656
@adiun Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 05:28] AshokPeddakotla-MSFT commented on #68658
@Damag3d Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 07:16] joelverhagen opened #68661 "Determine length of Azure Table Storage entity"
I tried the calculation for getting the size of the Azure Table Storage entity mentioned here: https://github.com/MicrosoftDocs/azure-docs/issues/35190#issuecomment-512117059

However, I have found that the limit is actually 88 bytes lower than what is documented, unless of course my code is wrong. Here's some example code: https://gist.github.com/joelverhagen/2bf45db3f5160bbfaf1056319b2172d0

Cou

[2021-01-10 07:20] venu-l commented on #68564
Hello James, first of all, there is a small bug in the query you are using. Aliases is a dynamic column so you need to string-ify first before doing a distinct. The below query should work. However, Aliases is deprecated since the same functionality can be achieved using the properties bag projection. If you have any questions, or need help, feel free to drop a note to Azure Resource Graph Support

[2021-01-10 08:20] timrichardson opened #68663 "Minor clarication when generated a client secret"
If one wants to use the client secret approach, the process of generating the client secret creates a secret, and a field called ID.
This ID field is not the application ID. A beginner can easily get confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 746d24e7-1f0a-9760-4ded-ea1d4820b97d
* Version Independent ID:

[2021-01-10 08:46] VikasPullagura-MSFT commented on #68518
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-01-10 11:02] dazinator opened #68664 "Does refresh only happen on cache expiry?"
In this example, it says that all you need to do is change the settings in azure then refresh the page to see the changes - but it says you may need to refresh more than once. Is this because the old configuration is cached, and the new values will only be obtained once that cache expires? In other words, changes are not real time, and you have to pick a sensible cache period? Also if the cache ex

[2021-01-10 11:50] kostelnyy opened #68665 "Indexing setup was not mentioned in the article"
Thanks for the awesome content, I found it extremely useful 👍
One point was not clear to me though:

It was not mentioned what indexing strategy was chosen for V1, V2, V3

The defaults are that all fields are indexed in containers.
Was it true here, with the provided RU benchmarks?

If not, can additional indexes impact denormalization decisions?

---
#### Document Details

⚠ *Do not edit this sec

[2021-01-10 13:29] vechiverme2050 opened #68667 "Veltron exchange"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment#requireme

[2021-01-10 14:02] becke-ch-s0-v1 opened #68668 "Service Endpoint (and Private Link): Azure Resource Manager: Incorrect Behaviour: ARM can still access data plane (modify secrets) even "bypass" is set to "None" and default-Action is set to "Deny"."
[Enter feedback here]
I have Integrated a KV in my VNet with Service Endpoint (and Private Link) and set "bypass" to "None" and default-Action to "Deny" BUT ARM can still access the data plane and modify my secrets: ""type": "Microsoft.KeyVault/vaults/secrets""; even the machine from where I started the command is outside the VNet. Other CLI and PowerShell operations only work from a VM inside the

[2021-01-10 14:15] AshokPeddakotla-MSFT commented on #68661
@joelverhagen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 14:17] AshokPeddakotla-MSFT commented on #68663
@timrichardson Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 14:25] AshokPeddakotla-MSFT commented on #68664
@dazinator Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 14:29] AshokPeddakotla-MSFT commented on #68665
@kostelnyy Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-10 14:32] AshokPeddakotla-MSFT commented on #68667
@vechiverme2050 Do you have any feedback to share? Looks like you've forgot to add feedback. Please let us know your query.

[2021-01-10 17:18] KranthiPakala-MSFT commented on #68668
@becke-ch-s0-v1
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-10 17:54] michaelgobz opened #68669 "pyodbc.InterfaceError:"
[Enter feedback here]
This still did not work for me it raised an pyodbc.InterfaceError:
Data source name not found and no default driver specified
#
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2c6e-15ae-c0985a2ee082
* Content: [Use Python t

[2021-01-10 18:00] hecflores opened #68670 "App Gateway integration with APIM "Management" Domain Type"
I have walked through the entire document and was extremely helpful.

**One thing that this document is missing is how to integrate the management domain type of APIM with app gateway**.

After I performed the instructions I found that I am not able to perform any management related actions towards the APIM. Meaning, adding APIs, PowerShell calls, arm templates. Im sure its because of this missing

[2021-01-10 18:02] hecflores commented on #61749
I have opened a duplicate issue: #68670

Is there a status on this?

[2021-01-10 18:04] romankiss opened #68671 "Update modelId property in the device twin"
The document described [announcement ](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-developer-guide-device?pivots=programming-language-csharp#model-id-announcement)of the **modelId** in the device twin.

I can setup the _modelId_ property during the device connection to the IoT Hub, I can read it using the [Rest Get device twin](https://docs.microsoft.com/en-us/rest/api/iothub/service/d

[2021-01-10 18:55] 06000000-0000 commented on #68671
Zahidul

[2021-01-10 18:56] 06000000-0000 commented on #68671
Hi

[2021-01-10 18:57] 06000000-0000 commented on #68668
Zahidul

[2021-01-10 18:58] 06000000-0000 commented on #68668
Zahidul

[2021-01-10 18:59] 06000000-0000 commented on #68671
Hi

[2021-01-10 19:16] 06000000-0000 commented on #68671
Please

[2021-01-10 19:26] 06000000-0000 commented on #68668
Hi

[2021-01-10 19:43] KranthiPakala-MSFT commented on #68669
@michaelgobz
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-10 19:45] KranthiPakala-MSFT commented on #68670
@hecflores
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-10 19:47] KranthiPakala-MSFT commented on #68671
@romankiss
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-10 19:52] iamkarlson opened #68672 "Read Application information by Object ID from the token received with client_credentials."
There's plenty of information how to read users' data from the directory. However, there's a way to use client_credentials flow to receive a valid AAD token which can be used as a id_token_hint for custom policies. Nonetheless, if I'm trying to read app data using AAD-UserReadUsingObjectId it fails into the error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-01-10 20:30] KranthiPakala-MSFT commented on #68672
@iamkarlson
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-10 22:00] mikepetridisz opened #68675 "securitycenter/automations href: 404 error"
When going through the documentation of the "Continuously export Security Center data" there's a href that points to:  https://github.com/MicrosoftDocs/azure-docs/blob/master/rest/api/securitycenter/automations, which does not exist anymore.

Here's the href that no longer works -- please click "automation API":
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/security-center/conti

[2021-01-10 22:49] thedarkfalcon opened #68676 "Azure SQL Backups - PiTR"
This section is wrong:

When trying to set the PiTR length for a Basic DTU database to 35 days I get the following error "updating retention policies
The retention days of 35 is not a valid configuration. Valid backup retention in days must be between 1 and 7"

I don't see anywhere on the official MS documentation where it states that a Basic tier database only allows up to 7 days, but I found an

[2021-01-10 23:51] KranthiPakala-MSFT commented on #68676
@thedarkfalcon
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-10 23:53] KranthiPakala-MSFT commented on #68675
@mikepetridisz
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-11 00:51] emahagan11 opened #68677 "Unexpected EOF encountered in BCP data-file"
Successfully created this table using the following query.
CREATE TABLE db_1
    (
        EmployeeId INT NOT NULL,
        EmployeeName CHAR NOT NULL,
        DateEM DATE NOT NULL,
        ProjectCode CHAR NOT NULL,
        HoursEm FLOAT NOT NULL,
    )
    ;

Ran the following command on a dataset and got the following error.
C:\Users\User>bcp db_1 in C:\Users\User\Desktop\StoneTurn\data_2.txt -

[2021-01-11 00:54] lodeagcf commented on #50047
Had same problem. Fixed it.

You need to increase `load-balancer-managed-outbound-ip-count`. By default it is 1 (docs here: https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#scale-the-number-of-managed-outbound-public-ips). I increased it to 2 and `PublicIPReferencedByMultipleIPConfigs` error immediately ceased.

FYI I ran this command:
[code]

[2021-01-11 00:56] ibarrien opened #68678 "Alerts for custom-thresholds"
This page might potentially be further strengthened by mentioning if custom thresholds can be set for "Signal names". For example, how might a user send an auto-email alert to a specified list of email addresses if the number of rows in a table changes by more than a preset percentage from one week to the next?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-11 01:03] NavtejSaini-MSFT commented on #68677
@emahagan11 We are checking this and will get back to you.

[2021-01-11 01:04] NavtejSaini-MSFT commented on #68678
@ibarrien We are checking this and we will get back to you.

[2021-01-11 01:23] TonyLi2013 commented on #68583
Hi @hpsin I do walk through and setup its Readme for that sample and obviously it does not related to ROPC, you can see the overview of that sample:
![image](https://user-images.githubusercontent.com/3928402/104140869-9742ee80-53ee-11eb-8f31-cdbd47af2b9b.png)
Thanks for your help for now

[2021-01-11 01:26] GithubMirek commented on #54088
I am sorry I missed this one. The process is as following.
1) select option Set admin
2) Select an admin
3) select Save to
I will discuss it with Van To (SQL)  to make necessary changes

[2021-01-11 01:30] GithubMirek commented on #50470
I am sorry I missed this question.
I have to redirect this isse to the team responsible for  Linux/MacOS

[2021-01-11 01:32] hpsin commented on #68583
Hi Tony,
Is the issue here that the doc says we prefer you use MSAL instead of ROPC, and you're looking for MSAL? The sample linked is how to use MSAL to do ROPC - we don't recommend using ROPC at all though (with or without MSAL). The language is confusing, I'll clean it up.

[2021-01-11 01:43] TonyLi2013 commented on #68583
Hi hpsin, that's OK, I understand now, thanks for your help again :)

[2021-01-11 01:45] rdronio opened #68679 "Prerequisite: 2FA exemption is not applicable"
[Enter feedback here]
Hi!

We have contacted NetSuite's support team to request this exemption for "Integration with Azure AD requires a 2FA exemption".
Unfortunately 2FA exemption from NetSuite side was granted temporarily only for customers who were already using User Provisioning feature in Microsoft Azure Active Directory.

Since we are newly created, Netsuite won't grant us. Instead we should

[2021-01-11 02:08] ram-msft commented on #68536
@pawarbi Raised PR request for the same #https://github.com/MicrosoftDocs/azure-docs-pr/pull/142723.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-11 02:08] #68536 closed

[2021-01-11 02:14] pnarsi opened #68680 "Page missing Nav Link and GA status"
I believe this page is missing from the DPS Navigation sidebar on the left (when viewing the page on the doc center site). I only managed to find this page via the link shared in the GitHub issue #68034. I think a link to this page should be added in the navigation sidebar possibly under "Concepts".

Also is this a feature that is available for production use or is this still a preview feature? If

[2021-01-11 02:15] pawarbi commented on #68536
Hi @ram-msft just wondering why the issue has been closed because I still don't see the documentation has been updated.

[2021-01-11 02:44] softwarecraft commented on #58287
@shashishailaj This issue has re-appeared or was never fixed correctly, please re-open this issue. The hyperlink for "Health Monitoring" simply links back to the same page without using the page anchor for the section on health monitoring.

[2021-01-11 02:47] LefeWareSolutions commented on #62628
I am not sure why no one here seems to want acknowledge your original question in this thread or on https://docs.microsoft.com/en-us/answers/questions/101129/powershell-steps-to-create-a-private-kubernetes-cl.html... Does powershell New-AzAks support creating a private cluster yes or no !? The fact that there is no reference in the documentation suggests no...

In that case will powershell ever su

[2021-01-11 03:00] wombling commented on #67669
@shashishailaj did you hear anything back from product team? Is this a bug that will be rectified?

[2021-01-11 03:01] AshokPeddakotla-MSFT commented on #68680
@pnarsi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-11 03:02] pnarsi commented on #68033
Hi @AshokPeddakotla-MSFT

Thanks for your update, your response was related to the DPS **ingress** scenario (i.e. Devices to DPS) while my question was related to the DPS **egress** scenario between DPS and IoT Hub. The documentation mentions that this traffic uses an "internal service-to-service mechanism" for communication for this egress scenario i.e. DPS to IoT hub traffic flow does not levera

[2021-01-11 03:37] vipulsparsh commented on #68668
@amitbapat Can you have a look at this ?

[2021-01-11 04:13] CHEEKATLAPRADEEP-MSFT commented on #68504
@AnandGoel813  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-11 04:13] #68504 closed

[2021-01-11 05:34] yeqing113 opened #68685 "is it correct to ask customer to run "az vmss update-instances " against AKS agentpool ?"
This doc asks customer to run "az vmss update-instances " to reset ssh key for AKS agentpool, but AKS does not suggest customer to customize agentpool or nodes because they are automatically managed by AKS.

https://docs.microsoft.com/en-us/azure/aks/support-policies#user-customization-of-agent-nodes

Customer met an issue recently,  they rest SP for their AKS cluster 1 month ago, this operation c

[2021-01-11 05:46] BhargaviAnnadevara-MSFT commented on #68496
@vishnuprakash9845 Closing in favor of MicrosoftDocs/azure-docs-powershell#1680

[2021-01-11 05:46] #68496 closed

[2021-01-11 05:49] pnarsi opened #68690 "Does this page apply to IoT Hub DPS as well?"
Does the built in intra-region HA and cross region DR mentioned in this page apply for the IoT Hub Device Provisioning Service as well? The DPS documentation [here](https://docs.microsoft.com/en-us/azure/iot-dps/) doesn't explicitly mention any HA/DR capability. Their is a brief mention on the [DPS IP address page](https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-understand-ip-address) which

[2021-01-11 05:53] shashishailaj commented on #68679
@rdronio Thank you for your query. we will check this and update the thread.

[2021-01-11 06:03] shashishailaj commented on #58287
@softwarecraft You are correct . Apologies for the issue. Due to some internal issue , we found that the old version of the file had come back and I have fixed it again . The changes have been committed and I will wait for 2 days

[2021-01-11 06:16] HarithaMaddi-MSFT commented on #68621
@jdelatorred - As per my understanding, if true() is kept for upsert condition in Alter Row, it will not validate each row against upsert logic but instead applies this policy as default to all rows that dont meet any other conditions in the transformation as stated below in the [document](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-alter-row#specify-a-default-row-policy). Please

[2021-01-11 06:36] SumanthMarigowda-MSFT commented on #68544
@AkeSamuelson  Firstly, apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-11 06:59] mohandatla opened #68694 "Enable remote debugging on Service Fabric Cluster is giving errors"
[Enter feedback here]
Love to have a troubleshooting guide for standard errors, there are errors currently I am hitting do not know how to resolve them, Appreciate your help

  |   | Configuring network settings for virtual machine scale set 'Manage' used by cluster '<ClusterName>' - The remote server returned an error: (400) Bad Request. | Configuring network settings for virtual machine scale se

[2021-01-11 07:03] SumanthMarigowda-MSFT commented on #68545
@WenJason --put-md5 Create an MD5 hash of each file, and save the hash as the Content-MD5 property of the destination blob or file. (By default the hash is NOT created.) Only available when uploading.
In Version 10.80 we have fixed couple of bugs and added 3 new features:  https://github.com/Azure/azure-storage-azcopy/releases/tag/v10.8.0
![image](https://user-images.githubusercontent.com/44606021

[2021-01-11 07:03] #68545 closed

[2021-01-11 07:05] SumanthMarigowda-MSFT commented on #68577
@RevathiS23  Thanks for the update, I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-11 07:05] #68577 closed

[2021-01-11 07:14] dominicbetts commented on #68369
Hi @lmasieri - thanks for pointing this out. We'll get these updates done shortly.

[2021-01-11 07:16] dominicbetts commented on #67927
Hi @romankiss - thanks for highlighting this issue. I'm currently updating the docs that relate to commands and plan to publish these updates shortly. They'll include information about offline/C2D commands.

[2021-01-11 07:17] dominicbetts commented on #40668
We didn't hear back from you, so I'll close the issue. Please get back in touch if you have any further questions.

[2021-01-11 07:17] dominicbetts commented on #40668
#please-close

[2021-01-11 07:17] #40668 closed

[2021-01-11 07:32] SubhashVasarapu-MSFT commented on #68531
@RonnieQuan, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-11 07:32] #68531 closed

[2021-01-11 07:38] AnuragSharma-MSFT commented on #68546
@BorisKornienko You are right that if we run the above command then it will create the cosmos mongo account with server version 3.2 by default. However we can explicitly provide the version while creating the cosmos account of whichever version we want to create it on:

`az cosmosdb create --name <cosmosdb-name> --resource-group myResourceGroup --kind MongoDB --server-version 3.6`

Please let us k

[2021-01-11 07:39] scyto opened #68695 "Troubleshooting azure site recovery article is worse than useless..."
... doesn't have anything to help me with my issue, links to articles on WMI troubleshooting that are impossible to follow (because the tools they reference no longer exist).

Could we have an updated article.
Could it tell me what to do for

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c6fe63-6087-c618-0a5b

[2021-01-11 07:43] AnuragSharma-MSFT commented on #68584
@VitalyMCT This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-11 07:50] SadiqhAhmed-MSFT commented on #68631
@dhirajgandhi and @bandersmsft For visibility and documentation update if appropriate.

[2021-01-11 08:10] assaf-grth opened #68697 "Sql Vulnerability Assessment - role changes"
Hi,
When running the assessment and setting baseline based on database principals and roles, I would like to verify that change to role of a principal will trigger a new notification and not be considered as part of the baseline.

As an example to what I mean, in the image below, the principal test1 will change to db_datareader, will a new notification be raised.

![image](https://user-images.gith

[2021-01-11 08:15] psmanhas commented on #68694
@mohandatla Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-11 08:15] psmanhas commented on #68694
@erikadoyle Can you please check and add your comments on this doc update request as applicable

[2021-01-11 08:16] SumanthMarigowda-MSFT commented on #68615
@DavidSchrag Thanks for bringing this to our attention. I have assigned the issue to the content author to further review  and update the document as appropriate.

[2021-01-11 08:16] psmanhas commented on #68685
@yeqing113 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-11 08:29] AnuragSharma-MSFT commented on #68697
@assaf-grth Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-11 08:32] minettes opened #68698 "triggerOutputs() vs @trigger().outputs"
In the section Trigger type comparison (system variables) , it states that :
"Users can access triggerOutputs().windowStartTime and triggerOutputs().windowEndTime as trigger system variables in the trigger definition."

Should this not be @trigger().outputs.windowStartTime and @trigger().outputs.windowEndTime instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-01-11 08:34] amanmcse commented on #68468
@goutamcw closing out the thread.

[2021-01-11 08:34] #68468 closed

[2021-01-11 08:40] SubhashVasarapu-MSFT commented on #68655
@adiun, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-11 08:40] #68655 closed

[2021-01-11 08:40] WillEastbury commented on #68658
Hi @Damag3d,

Thanks again for the feedback.

On line 6 of "Configure Azure AD B2C" we are clear that you should be repeating the steps three times, therefore creating all three registrations and apps inside the same area of the portal (the B2C tenant). We are not intending to configure a multi-tenanted app here.

[2021-01-11 08:41] HarithaMaddi-MSFT commented on #68698
@minettes - Thanks for your question. We are looking into it and will get back to you shortly with our thoughts.

[2021-01-11 08:51] SubhashVasarapu-MSFT commented on #68493
@shahiddev, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2021-01-11 08:54] mol-lux opened #68699 "This page is of limited use when creating dashboards programmatically and leaves many questions unanswered."
I am currently trying to programmatically create a dashboard. There is no documentation on the `metadata.filters` object, which I need to create a global time filter, which for us is absolutely essential.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f609290-f427-4b0e-3e36-eb2535771d64
* Version Independent ID: 49725

[2021-01-11 09:04] SubhashVasarapu-MSFT commented on #68510
@Lahiru89, Appreciate your patience. I had reproduced the lab and the cert list is being populated as a drop down on hover. I would recommend you reinstall the VPN app and give a try. If nothing helps, then please do send a mail to azcommunity@microsoft.com for deeper investigation.

**SS:**
![2021-01-11 14_27_29-Azure VPN Client2](https://user-images.githubusercontent.com/44890829/104162056-ec482

[2021-01-11 09:04] #68510 closed

[2021-01-11 09:18] SanjaJo opened #68700 "Github Link on Azure Docs not working"
The github link to MLOPsPython template is not working. Is there an updated github repo that could be included in the docs? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8ff963-c433-280f-e4ea-19082ae9017d
* Version Independent ID: 8c4e82f2-40e5-6481-c80b-d6201ad312b2
* Content: [Convert notebook code into Py

[2021-01-11 09:47] SadiqhAhmed-MSFT commented on #68695
@scyto  Thank you for bringing this to our attention. We will review this doc with the content owner and update as appropriate.

@Sharmistha-Rai FYI!

[2021-01-11 09:51] romankiss commented on #67927
Hi @dominicbetts  - thanks for updating doc about the offline/C2D command.

Still, there is a problem on the device side during the design time, because your comment about the **Queue if offline** is related to the runtime, when the IoT Central App sent the C2D message.

From the device pnp model point of the view, using the command without the response in the IoT Central App is "fuzzy" between th

[2021-01-11 09:51] AshokPeddakotla-MSFT commented on #68599
@robinsh Please review this feedback regarding adding more information related to twins and update the doc if necessary.
@chutestrate Thanks for sharing the additional context and feedback. We will review your feedback and update the doc as necessary.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2021-01-11 09:51] #68599 closed

[2021-01-11 10:06] GitaraniSharma-MSFT commented on #68639
@cakriwut , I tried to reproduce the issue in my lab with a V2 SKU app gateway and it worked perfectly fine.
You need to put the restrictions on the subnet in the given order of priority which means the top priority is allowing source IP/range and then GatewayManager, then AzureLoadBalancer followed by VirtualNetwork and the last one should be the Block rule.
For example: Allow source IP is priori

[2021-01-11 10:09] RohitMungi-MSFT commented on #68700
@SanjaJo Are you referring to the link to github repo mentioned in the [pre-requisites](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-convert-ml-experiment-to-production#prerequisites)?

This [link ](https://github.com/microsoft/MLOpsPython/tree/master/experimentation)seems to be available on github.

[2021-01-11 10:13] Sharmistha-Rai commented on #68695
@scyto - Please check the MARS version (Microsoft Azure Recovery Services Agent) that you have installed and ensure that you have the latest version. You can also tell here the version that you have and we can check.

All the latest versions are present [here ](https://docs.microsoft.com/azure/site-recovery/site-recovery-whats-new).

Meanwhile, I will work on updating the error message so that it

[2021-01-11 10:39] GitaraniSharma-MSFT commented on #68656
@adiun , I couldn't find any ongoing issues with enabling HTTPS on Azure CDN custom domain (BYOC). It should work just fine. But I am checking internally for more information.

Did you already follow the steps from the below doc and post that you are trying to enable HTTPS with BYOC?
https://docs.microsoft.com/en-us/azure/cdn/onboard-apex-domain

[2021-01-11 11:08] asergaz commented on #68690
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-11 11:19] expoearchie opened #68701 "Add lines about how disk strings work and how to set vault and policy contexts"
Please update this page to add a line or two explaining how to add the disks in the string.
It's taken me over an hour to work out that the string it's looking for is:

$disks = ("0","1")
Enable-AzRecoveryServicesBackupProtection -Policy $pol -Name "S002" -ResourceGroupName "RG-P-SERVERS"  -InclusionDisksList $disks -VaultId $vault.ID

It'd also be useful to add a few lines about how to specify th

[2021-01-11 11:21] dcurwin commented on #68701
#reassign: kirushk

[2021-01-11 11:24] nittajef opened #68702 "Configuring against Azure Gov"
This app is in the Azure Gov version of the Azure AD App Gallery, but it doesn't seem to allow the use of the Metadata URL generated by Azure Gov. In step 6 of the instructions we need to paste in the Metadata URL generated for the Enterprise app, but it only takes URLs that have login.microsoftonline.com and when using a URL that contains login.microsoftonline.us from Azure Gov, it's labeled inva

[2021-01-11 11:33] HarithaMaddi-MSFT commented on #68698
@minettes - Thanks for your contribution, I've addressed this issue in PR. The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-01-11 11:33] #68698 closed

[2021-01-11 11:44] IainAdamsLabs commented on #53768
Why is this closed? It is not resolved. I believe I am still seeing this issue. @dennis-yemelyanov - Did you resolve this?

[2021-01-11 11:48] djs0203 opened #68703 "Provide access to users who share common Mail address"
How do we provide access to Azure Devops/Powerapps for the External users who share their common Mail Address ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Enable B2B external collaboration settings - Azur

[2021-01-11 12:02] asergaz commented on #68690
This is a great question! Calling out for the content authors @jlian and @philmea to share if we have any other place discussing about DPS HA and DR capabilities? Thanks!

[2021-01-11 12:06] spaelling commented on #66893
Looks like you did update the documentation.

I know this is not the correct place to post this but the join is case sensitive. The vnet Ids it compares are however mostly in lowercase but some uppercase characters. And not consistent. This means that bastion currently does not work across vnet peerings.

[code]
as you can see there is a very slight difference which means these are note equal in t

[2021-01-11 12:09] #58287 closed

[2021-01-11 12:16] SanjaJo commented on #68700
Hi @RohitMungi-MSFT  now it works on my end too - I was receiving 404 before. Thanks and apologies for the inconvenience.

[2021-01-11 12:16] #68700 closed

[2021-01-11 12:24] ejderdal commented on #63571
+1 Also get the same issue when trying Postman. Signature calculated like so
[code]

[2021-01-11 12:52] hmayer1980 opened #68706 "Please also add documentation about howto initialize a trigger with dependency / self dependency"
Can you also please elaborate / provide examples for triggers with dependencies in the case that

- you start a new trigger with a starttime - how is the dependency handled that (if the offset is outside of the trigger window)
- you have a trigger with some failed dependencies, but outside of the scope of the data factory UI (older den 30 days, the UI will not show those runs anymore) how do you g

[2021-01-11 12:53] shashishailaj commented on #58287
@softwarecraft This has been updated. We have closed the issue now.

[2021-01-11 12:59] shashishailaj commented on #68703
@djs0203 Thank you for your query. What exactly do you mean when you say common email address ? Do you mean non organizational email address like *@gmail.com , **@outlook.com etc . ??  . External access can be governed by some rules within the azure AD portal by your global admin . It may be denied for public email providers. Please check https://docs.microsoft.com/en-us/azure/active-directory/ext

[2021-01-11 13:16] Rinki-MSFT commented on #68586
The object id is referred as the resource id here. Are you able to retrieve the object Id?
@LHB6540

[2021-01-11 13:19] RYounk007 opened #68707 "TypingDNA link points to Twilio"
The TypingDNA link points to Twilio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0809f4e9-b2f3-020a-34b2-ed3fb1011b2d
* Version Independent ID: afb8e80a-7cf5-121f-cfaf-91e887315814
* Content: [ISV Partner gallery for Azure AD B2C - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/partner-gal

[2021-01-11 13:28] ram-msft commented on #68536
@pawarbi Once the pull request approved the document will get reflected.

[2021-01-11 13:29] jenlg commented on #36607
Looks like this is still an issue.  Under AAD, I do not see Notification settings as a navigation option to even attempt this solution that did not work for others.

Would like to disable the weekly PIM digest.

[2021-01-11 13:31] PramodValavala-MSFT commented on #68589
@Indrasen-Singh Just following up here... Hope my previous comment clears things up.

[2021-01-11 13:33] SanjaJo opened #68708 "nbconvert code snippet"
Hi team, for me the nbconvert needed to be changed a bit to work. This snippet did not work:
jupyter nbconvert -- to script "Diabetes Ridge Regression Scoring.ipynb" –output score

however, this worked:
jupyter nbconvert diabetesridgescoring.ipynb --to script --output=train

when dropping the spaces in the name and changing the commands it works. Wanted to raise it but if irrelevant (or wrongly us

[2021-01-11 14:09] DCtheGeek commented on #68564
@JamesDLD As @venu-l mentioned, aliases is deprecated, which is why those samples have been removed.  I'm going to proceed with closing this issue.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2021-01-11 14:09] #68564 closed

[2021-01-11 14:23] dhirajgandhi commented on #68631
For linking the partner ID, all the roles should work.  What error you get with reader role?

[2021-01-11 14:25] #68707 closed

[2021-01-11 14:25] BhargaviAnnadevara-MSFT commented on #68707
@RYounk007 Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-01-11 14:26] amanmcse commented on #68587
@julesb2018  This is not possible via Azure Portal. However, you can use [Graph Explorer](https://aka.ms/ge), sign in with Global or User administrator account and run below call:
**Call**: GET https://graph.microsoft.com/v1.0/groups/Object_ID_Of_Group/members?$count=true&$filter=endsWith(mail,'@blogs.com')
**Header**: ConsistencyLevel = eventual
For required permissions, please refer to https://d

[2021-01-11 14:26] #68587 closed

[2021-01-11 14:30] ezcodify commented on #68616
Thank you @femsulu - This is a good reference, however I was hoping to see the target type at the root Microsoft.Storage/storageAccounts and discover/remediate endpoints dynamically.

[2021-01-11 14:52] MonikaReddy-MSFT commented on #68503
@mlearned  - Thank you for providing your insights.
@- I hope @mlearned has answered your question.
At this moment, We have added this in our backlog and will get it ASAP. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-11 14:52] #68503 closed

[2021-01-11 15:04] KodWhat opened #68710 "Documentation for LetsEncrypt on AKS/AppGateway is out of date"
Hi,
This documentation page seems to be widely out of date. The last release of cert-manager is 1.1.0 while the doc refers to release 0.8.
One side effet is that, if you try to follow the documentation while using release 1.1.0, the ClusterIssuer can't be applied because the apiVersion changed from certmanager.k8s.io/v1alpha1 to cert-manager.io/v1

---
#### Document Details

⚠ *Do not edit this se

[2021-01-11 15:10] GiftA-MSFT commented on #68561
@swieder thanks for providing more details. It doesn't seem like detailed log information is stored/shared publicly (verifying this information). Usually a failed deployment will have additional details printed out in the error message. Also, if you go to Azure ML Studio > Compute > Compute Instances tab > Select Compute > Status > Click on icon with "-", you'll see more details about the error as

[2021-01-11 15:19] ramkrt commented on #45188
@jakaruna-MSFT , we got the same error in south central US region when trying to create a AKS private cluster with AZ enabled. Why is this issue so rampant across regions?

2021-01-11T13:30:59.4447679Z ##[error]PrivateClusterCapacityOverConstrained: There is no capacity for private cluster at this region. Please refer to https://aka.ms/aks/private-cluster for detail

[2021-01-11 15:33] GiftA-MSFT commented on #68561
Hello @swieder quick follow-up. Also, if you can share the name of your compute instance by sending an email to "AzCommunity@microsoft.com", we'd be glad to investigate further on why the compute instance is failing. Thanks.

[2021-01-11 15:47] GiftA-MSFT opened #68712 "Provide information for Overlap Threshold"
Please provide information for overlap threshold (similar to probability threshold). Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074ad73e-f611-d9e4-d612-0813148c9202
* Version Independent ID: dc8df697-6110-2fbb-c74c-da12bedbc5aa
* Content: [Quickstart: Build an object detector with the Custom Vision website

[2021-01-11 15:48] YutongTie-MSFT commented on #68461
@rastala Hello Roope, could you please check on this issue to see if there any code sample we can add? Thanks a lot.

[2021-01-11 15:51] shashishailaj commented on #68699
@mol-lux Thank you for your query. We will investigate and update the thread.

[2021-01-11 15:56] djs0203 commented on #68703
@shashishailaj  ,
Common Mail Addresses refer to the Organizational IDs .
We Basically need to provide access for the Jira Internal Account Users (Who share the Common Mail Addresses) to Azure DevOps & Power apps

[2021-01-11 15:56] gs-repo opened #68713 "HLF on Azure AKS: deploy chaincode clarity"
trying to deploy code that is via node template; looking at the example on https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperledger-fabric-consortium-azure-kubernetes-service#chaincode-management-commands the code isn't package. Does azhlftool package the code during deployment; or do I need to access peer0 via docker exec? Some clarity here would be appreciated

---
#### Document D

[2021-01-11 15:57] djs0203 commented on #68703
Also If this works using the Guest Addition  ,  does the Cost of plan Changes/User ?

[2021-01-11 16:01] AshokPeddakotla-MSFT commented on #68713
@gs-repo Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-11 16:10] ThomasPe opened #68714 "Device telemetry event is in public preview"
Is this information still accurate?

[code]

I haven't seen anything in the portal that publishing device telemetry would be still in preview. Also I was able to set this up in West Europe, so I'm wondering if this info might be obsolete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ef80c28-7b24-14ab-c398-5a770f43c9

[2021-01-11 16:11] hiaga commented on #65600
@pvrk I agree, but we need to verify this from debug trace from the customer. because we looked at it and cmdlet seemed to be working fine - so we need a debug output from the customer along with "$item.PolicyId"

[2021-01-11 16:12] zr-msft commented on #65791
Thank you @JohnRusk for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-01-11 16:12] #65791 closed

[2021-01-11 16:12] swieder commented on #68561
We are already working with Support with my customer (I’m a Microsoft CSA working with ArcBest).  I filed the issue as there is not any documentation on how to troubleshoot a failed deployment.

Thanks,
Steve Wiederrich
Mobile: 214-642-9333

From: GiftA-MSFT<mailto:notifications@github.com>
Sent: Monday, January 11, 2021 9:34 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc

[2021-01-11 16:15] Metrowerks opened #68715 "Unclear what default value of "Allowed Token Audiences" does"
Currently the article explains what "Allowed Token Audiences" does if provided with App ID URI. However, it is not clear how the authentication behave if this value is left empty. Will authentication allows any app ID URI then or just the configured Client ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73b

[2021-01-11 16:15] swieder commented on #68561
Thanks, there was not any other detailed information.   Just that it failed.   The detailed error message was “The deployment failed”   in the same place as your picture below where it says “The specified account has reached VM Series core quota ….”

Thanks,
Steve Wiederrich
Mobile: 214-642-9333

From: GiftA-MSFT<mailto:notifications@github.com>
Sent: Monday, January 11, 2021 9:11 AM
To: Microsoft

[2021-01-11 16:16] shashishailaj commented on #68679
@rdronio This is a known issue and we are trying to get more information internally . We will keep the thread updated.

[2021-01-11 16:20] AshokPeddakotla-MSFT commented on #68401
@martgut Please give us some time. We are checking on this issue and update you as earliest. Appreciate your time and patience.

[2021-01-11 16:23] JamesTran-MSFT commented on #68702
@nittajef
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-11 16:23] yoelhor commented on #68643
It should be `<Parameter Name="campaignId">{OAUTH-KV:campaignId}</Parameter>`. The KV stands for key-value. The key the the query string parameter name, and the name of the claim resolver. The value is sent to the HTML page, as campaignId query string with value set to Hawaii. Like the following `&campaignId=hawaii`

[2021-01-11 16:24] shashishailaj commented on #68645
@abilous-ti Thank you for catching this. The details refer to the same thing but we will get the screenshot updated.

[2021-01-11 16:24] SnehaAgrawal-MSFT commented on #68476
@nieve Thanks again. It might be a syntax issue. If the siteIpSecurityRestriction contains the array - like this:

"siteIpSecurityRestrictions": [{
              "action": "Allow",
              "name": "myBlocker4",
              "ipAddress": "2.5.22.44/32",
              "tag": "Default",
              "priority": 220
          }]

Then, if the intent is to clear the settings in production, the

[2021-01-11 16:24] GiftA-MSFT commented on #68708
@SanjaJo we'll review your feedback and get back to you shortly. Thanks.

[2021-01-11 16:30] MonikaReddy-MSFT commented on #67644
@Lechus -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-11 16:31] yoelhor commented on #68672
Could you share the correlation ID?

[2021-01-11 16:32] nezoic opened #68716 "Azure Large Files option missing."
Is the documentation out of date? Is this no longer and option? I don't see an option to enable Azure Large Files under "Advanced" when creating a new premium storage account and file share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-de27-5fce4d4b4e44
* Version Independent ID: 1288f4c1-e871-8bc7-

[2021-01-11 16:32] yoelhor commented on #68455
Thanks for your feedback. This metadata will be documented as we publish the Apple ID federation (public preview).

[2021-01-11 16:35] mmacy commented on #67537
The following PRs updated all manual registration steps "Sign in the to the Azure portal" with force-new-open-tab behavior:

- https://github.com/MicrosoftDocs/azure-docs-pr/pull/142483
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/142487
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/142488

@msewaweru As a follow-up, can you add a work item to also update the links in the **Option

[2021-01-11 16:35] #67537 closed

[2021-01-11 16:41] ramakrpr opened #68717 "Query on iot edge - with blob storage"
Hi,

i am following the below link to setup blob-storage connectivity from our edge device

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob?view=iotedge-2020-11

I see that the blob storage container is running and also when i inspect the container it is associated to the volume (I am using the docker Volume i created for this)

Is it a feasibility that i can connect to this loc

[2021-01-11 16:42] ramakrpr opened #68718 "IOT Edge Blob Storage setup"
Hi,

i am following the below link to setup blob-storage connectivity from our edge device

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob?view=iotedge-2020-11

I see that the blob storage container is running and also when i inspect the container it is associated to the volume (I am using the docker Volume i created for this)

Is it a feasibility that i can connect to this loc

[2021-01-11 16:51] rido-min commented on #68671
Hi @romankiss,

You are correct, the `modelId` exposed in the twin can only be updated within the device connection. I'm taking a note to update the docs accordingly.

I'd like to better understand your scenario. Would you mind to reach out to me rmpablos at microsoft dot com to schedule a 15 mins chat?

[2021-01-11 16:52] yoelhor commented on #66676
The specified token exchange is only supported over HTTP POST.  The use of https://te.cpim.windows.net/ is not supported and shouldn't be used. If your POST request returns an error message, please share the detains (error message and correlation ID) and we'll try to help fixing this issue.

[2021-01-11 17:02] yoelhor commented on #66364
If you need to send the bearer token in the HTTP header, could you try use following metadata?

[code]

[2021-01-11 17:08] vhorne commented on #49249
This information is in https://docs.microsoft.com/en-us/azure/firewall/firewall-diagnostics
#please-close

[2021-01-11 17:08] #49249 closed

[2021-01-11 17:12] SadiqhAhmed-MSFT commented on #68699
@kfollis For visibility and further assistance on this.

[2021-01-11 17:13] kfollis commented on #68699
@mgblythe as the owner for this documentation.

[2021-01-11 17:19] Dbakevlar commented on #63767
#sign-off

[2021-01-11 17:19] algattik opened #68719 ""Before this REST connector becomes available""
The meaning of the text "Before this REST connector becomes available" is unclear. Is it not yet available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9da1816-3f64-bd45-443f-5bdb48bacc24
* Version Independent ID: e649f787-62da-fc97-2e9a-ba89765beed4
* Content: [Copy data from and to a REST endpoint by using Azure

[2021-01-11 17:24] asergaz commented on #68148
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-11 17:24] #68148 closed

[2021-01-11 17:25] asergaz commented on #68148
kudos to @robotdad

[2021-01-11 17:26] JamesTran-MSFT commented on #68440
@lipalath-ms
Since I haven't received anything from your end in a few days, I just wanted to check in and see if you had any other questions or if you required additional support on this issue?

[2021-01-11 17:28] tamram commented on #68647
@RajHiray -

Just below the bullet point that you copied, we say this:

The primary difference between GRS and GZRS is how data is replicated in the primary region. **Within the secondary region, data is always replicated synchronously three times using LRS.** LRS in the secondary region protects your data against hardware failures.

I think this text is pretty clear about what happens in the seco

[2021-01-11 17:28] #68647 closed

[2021-01-11 17:31] BorisKornienko commented on #68546
Yes, I understand this, thank you. I just ask you to the correct article :) Either add  --server-version 3.6, or change this export MONGODB_CONNECTION_STRING="mongodb://<COSMOSDB_ACCOUNT_NAME>:<COSMOSDB_PASSWORD>@<COSMOSDB_ACCOUNT_NAME>.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@<COSMOSDB_ACCOUNT_NAME>@"

[2021-01-11 17:35] yuecong opened #68720 "Add limitation on accelerated networking can not work for basic tier of Load Balancer"
I found accelerated networking does not work with basic tier of Load balancer. That is, if you have one VM is behind on basic tier of Load Balancer, the NIC will be converted to a standard tier when adding accelerated networking and hence the VM can not rejoin the basic tier of Load Balancer after this.

This behavior has been confirmed by Azure support and they also confirmed that there is no suc

[2021-01-11 17:38] mohandatla commented on #68694
@psmanhas, Thank you. @erikadoyle, Specific to this problem, enabled the fiddler to identify what causing the problem for 400 bad request, it is giving below response, I see this is more of a bug in enabling debug configuration, appreciate your help in redirecting to the appropriate owner.
    "code": "RulesOfSameLoadBalancerTypeUseSameBackendPortProtocolAndVmssIPConfig",
    "message": "Load bala

[2021-01-11 17:40] erhopf opened #68722 "Add information about managing pre-production envs in the Azure portal"
[Enter feedback here]

Can you add information about managing pre-production environments in the Azure portal and discuss the limitations a bit more explicitly. I struggled a bit getting from the error thrown in the GitHub action to the blade in the portal where I could clear out old pre-prod envs.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-01-11 17:51] shkale-msft commented on #68676
@thedarkfalcon
Thanks for reaching out to us. I have updated and checked in automated backup page with information about basic tier. Online docs should get an update by tomorrow. Meanwhile, the information about basic tier is documented here: https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tiers-general-purpose-business-critical

Thanks,
shreya

[2021-01-11 17:51] himanshusinha-msft commented on #68556
Hello @DennesTorres  . I was reviewing the doc and I do see that , it is mentioned as "dedicated SQL pool " , which to me looks to me good enough to point that the content is related to dedicated SQL Pool . Let me know if you have any other ideas .

[2021-01-11 17:58] hpsin commented on #68583
Awesome, thanks Tony :)
#please-close

[2021-01-11 17:58] #68583 closed

[2021-01-11 17:58] vhorne commented on #66338
added note about this to the article.
#please-close

[2021-01-11 17:58] #66338 closed

[2021-01-11 18:00] himanshusinha-msft commented on #68706
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-11 18:01] dananairn opened #68723 "Workday Security Configuration - do it in a different way"
I'm a Workday admin, with 6 years experience configuring the software. The way you explain how to add domain security to the ISSG is not what I would do. It's like a non-experienced Workday user wrote the instructions. It's not that you can't do it that way, but it's more work. Just suggesting that there's another way, as the team entering this data using your instructions could not complete it. I

[2021-01-11 18:03] SatishBoddu-MSFT commented on #68289
@nammyoho
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-01-11 18:03] #68289 closed

[2021-01-11 18:03] cynthn commented on #68320
Thanks for the feedback. This section in the doc about Trim is about unmanaged disks and should probably be removed from the topic about managed disks. I'm going to create a work item to address this in a future revision. Thanks again!

#please-close

workitem=1669561

[2021-01-11 18:03] #68320 closed

[2021-01-11 18:04] JamesTran-MSFT commented on #68723
@dananairn
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-11 18:08] chakra146 opened #68724 "icacls command correction"
icacls  <mounted-drive-letter>: /grant <user-email>:(f)

The command should have the userid and permissions closed by double quotes else throws error.

icacls <mounted-drive-letter>: /grant "<user-email>:(f)"

Error when executed in PS:
icacls c:\users: /grant user-email@gmail.com:(f)

f : The term 'f' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the

[2021-01-11 18:10] cynthn commented on #68061
Thanks for the feedback! I've replaced the table in the article with a link to this doc: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init which has a more extensive list of distros with cloud-init support. I hope this helps!

#please-close

[2021-01-11 18:10] #68061 closed

[2021-01-11 18:11] cmmdesai commented on #68723
@dananairn thank you for the feedback. I'd love to understand how we can simplify the configuration experience. Feel free to share the steps with me at chetan.desai@microsoft.com, we will review it and update the doc.

[2021-01-11 18:12] chakra146 commented on #68724
icacls <mounted-drive-letter>: /grant <user-email>:(f)

The command should have the userid and permissions closed by double quotes else throws error.

icacls <mounted-drive-letter>: /grant "<user-email>:(F)"

Error when executed in PS:
icacls c:\users\: /grant user-email@gmail.com:(f)

f : The term 'f' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the

[2021-01-11 18:22] Grace-MacJones-MSFT commented on #68715
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-11 18:28] PatAltimore commented on #68603
Hi @microbecode,

I gave the feedback for question 1 to the extension dev team. For 2 & 3, I have a backlog item to update the article with any changes as soon as the interaction page fix is complete.

Thanks again for the feedback. I'm going to request closing this issue for now since we have backlog items for the issues.

Thanks,
Pat
#please-close

[2021-01-11 18:28] #68603 closed

[2021-01-11 18:35] YutongTie-MSFT commented on #68712
Thanks for the feedback Gift, @PatrickFarley could you please take a look? Thanks.

[2021-01-11 18:37] SaurabhSharma-MSFT commented on #68719
@algattik Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-11 18:39] tamram commented on #68560
@shraboin - The text that you point to appears to be essentially identical to what's in our article.

I'm closing for now - please reach out to me internally to discuss further.

#please-close

[2021-01-11 18:39] #68560 closed

[2021-01-11 18:42] cynthn commented on #66659
Thanks for your feedback! I've updated the article to use the latest URN: "SUSE:openSUSE-Leap:15-2:latest".

The changes should be live later this afternoon. Thanks again!

#please-close

[2021-01-11 18:42] #66659 closed

[2021-01-11 18:46] cynthn commented on #64301
It sounds like folks are familiar with this internally. The doc is actually owned by the team that does the benchmarking, so it should be updated as part of the plan. Closing for now.

#please-close

[2021-01-11 18:46] #64301 closed

[2021-01-11 18:48] kobulloc-MSFT commented on #68499
@ScottyMac52 If you share with us more information about what you are running into, we'll be able to help track down what the issue is.  For now, we are going to close the issue but tag me in your reply and we'll reopen the issue to pick up where we left off.

[2021-01-11 18:48] #68499 closed

[2021-01-11 18:49] kenwith commented on #66885
Thank for adding the detailed information and your experiences to the GitHub Issues for the article. It seems like the document has the correct content and your guidance will help others. If you spot a specific change please go ahead and submit a PR to edit the article and we can get it merged it. Much appreciated on you sharing your experience.

#please-close

[2021-01-11 18:49] #66885 closed

[2021-01-11 18:50] cynthn commented on #63836
Sorry it has taken so long for you to get a response! It depends on the distribution, so it is better to refer to the docs for Ubuntu 18.04 on how to change the time source.

#please-close

[2021-01-11 18:50] #63836 closed

[2021-01-11 18:50] qhaitoNNV commented on #66703
Hi @MonikaReddy-MSFT, I would also appreciate it if information regarding PPS (packets per seconds) for Legacy Gateways (Basic, Standard & High Performance) is also made available.

[2021-01-11 18:50] dlepow commented on #68522
@krispenner - Thanks for pointing this out and providing details. I'll confirm with the product team and add it to the documentation.
#in-progress

[2021-01-11 18:50] jlichwa commented on #65988
Unfortunately environment vary. Above were used with Cloud Shell bash. I was able to run below on PowerShell environment by adding '\' : az monitor diagnostic-settings create --storage-account "/subscriptions/9ddb6ca6-f086-4796-8c53-ea831f1df369/resourceGroups/akv-build-demo/providers/Microsoft.Storage/storageAccounts/akvbuilddemostorage" --resource "/subscriptions/9ddb6ca6-f086-4796-8c53-ea831f1d

[2021-01-11 18:50] #65988 closed

[2021-01-11 18:52] cynthn commented on #62460
Sorry it has taken so long for a response! For that kind of OS specific information, it is best to look at the docs for the distro. Thanks again!

#please-close

[2021-01-11 18:52] #62460 closed

[2021-01-11 18:53] jlichwa commented on #66354
@joshnoe can you be more specific which commands are required container. I see this with container specified: Get-AzStorageBlob -Container $container -Context $sa.Context -Blob '*/VAULTS/CONTOSOKEYVAULT3

[2021-01-11 19:03] kenwith commented on #47435
Major apologies for the delay here. The article is now on the backlog and will be slotted in the upcoming sprint to be updated. Thank you for taking the time to provide the feedback and sorry for the delay.

#please-close

[2021-01-11 19:03] #47435 closed

[2021-01-11 19:05] memildin commented on #68275
@DeanGross I hope @tarosler's answer gave you everything you need. Thanks for taking the time to share your feedback.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-01-11 19:05] #68275 closed

[2021-01-11 19:10] Grace-MacJones-MSFT commented on #68716
Hi @nezoic, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-11 19:13] tamram commented on #68615
@DavidSchrag - Thanks for pointing this out. I've updated the image, and the change should go live later today.

#please-close

[2021-01-11 19:13] #68615 closed

[2021-01-11 19:21] ThomasWeiss commented on #68665
@kostelnyy Thanks for your feedback! It is true that this article focuses on data modeling and partitioning, and doesn't cover indexing. The measurements were made with the default indexing policy and as you pointed out, overriding this policy by only indexing the required properties would further improve the RU consumption and latency of all commands (Cx).

[2021-01-11 19:24] mayanknayar commented on #67030
@gamontal - Thank you for the feedback. Yes, after the OS disk is replaced, the attached data disks can have their drive letters reassigned. To retain the same drive letters for attached disks, you'll need to handle this through a boot scripts. We'll look at improving the documentation to make this behavior clearer.

[2021-01-11 19:26] Grace-MacJones-MSFT commented on #68714
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-11 19:30] roygara commented on #68028
@LeroyK Thanks for reaching out and bringing this to our attention. For the disk storage articles, we'll be leaving it structured the way it is. However for the AKS article, I've gone ahead and reached out to the relevant team. We'll work with them to update their instructions.

@DerekHerman-MSFT Can we shift this issue so that it points to the proper article, https://docs.microsoft.com/en-us/azur

[2021-01-11 19:31] jlichwa commented on #67311
@VijayRod is @aramase answered your issue with windows pod?

[2021-01-11 19:32] timsander1 commented on #67994
Hi @MhAllan , I am working to add those samples. Once they are available, I will update this doc to reference the V3 samples.

[2021-01-11 19:32] timsander1 commented on #67994
#please-close

[2021-01-11 19:32] #67994 closed

[2021-01-11 19:32] Grace-MacJones-MSFT commented on #68710
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2021-01-11 19:34] mayanknayar commented on #68214
@shine17 - You do need to use the 'latest' version with Automatic OS image upgrades. The difference here is in the way image reference is specified when using platform images (such as standard Linux or Windows) or custom images. When platform images are used, you specify the publisher, offer, sku and version under imageReference, whereas with custom images, you only specify the id. The version num

[2021-01-11 19:35] Grace-MacJones-MSFT commented on #68720
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-11 19:35] jlichwa commented on #67293
Key Vault uses Azure Storage with RA-GRS for data replication and therefore carries the same replication behavior as Azure Storage RA-GRS. https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy #please-close

[2021-01-11 19:35] #67293 closed

[2021-01-11 19:40] Grace-MacJones-MSFT commented on #68722
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2021-01-11 19:41] TravisCragg-MSFT commented on #68710
@KodWhat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-11 19:46] KodWhat commented on #68710
Thank you for your quick answer!
It was quite easy to adapt for the new release with the help of the official documentation for cert-manager.
However is was more than an apiVersion change, it required to also adapt the content of the ClusterIssuer as well as the annotation in the Ingress.

[2021-01-11 19:47] Grace-MacJones-MSFT commented on #68498
Upon further review, we feel your feedback would be best received by the doc author to update the current doc based on your feedback

[2021-01-11 19:51] natmorse commented on #52309
@swanderz are those libraries up to date? or am I missing something?
seems odd that a 'second' timestep would not work.

thank you,
Natalie

[2021-01-11 19:57] sameer-kumar opened #68728 "AppConfiguration Private Endpoint not working"
I am unable to have successful connection to Azure App  Configuration service after configuring Private Endpoint.
From my Asp.Net Core 3.1, I get this **Azure.RequestFailedException**:

Here is my setup. One virtual network vNet1, having subnet Subnet1, one virtual machine VM1, one subnet Subnet2. VM1 is in Subnet1. Private endpoint is in Subnet2. My web app is in VM1 which is unable to access App

[2021-01-11 20:04] timsander1 commented on #68360
Hi @sijucm, this doc references older SDK versions. I'll create a work item to update this doc. Here are some useful samples for working with stored procedures using the latest .NET SDK (https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-v3sdk-samples#server-side-programming-examples), in case you happened to be using that one.

Let me know if you are using a different SDK version and

[2021-01-11 20:05] timsander1 commented on #68106
Hi @junshi356, based on your description, this query looks good to me. It should do what you expect.

[2021-01-11 20:05] timsander1 commented on #68106
#please-close

[2021-01-11 20:05] #68106 closed

[2021-01-11 20:11] juliakm commented on #67569
@nslindtner It looks like this is a spacing error. I'm updating the article now.

[code]

[2021-01-11 20:12] jeevansd commented on #65873
@grumm90 Ideally your load balancer should redirect the request to right server. Is it not configured in the same way? If not can you please explain how the nodes are configured here? Do you have multiple servers and every server has a different URL?

[2021-01-11 20:15] robinsh commented on #68401
I assume "flickering" is happening to a light on the device. What device are you using and does it have a light on it? If that's the case, then if it was disconnected/connected/disconnected/connected, it would turn the light on / off showing it being connected. There is probably a limit to the number of connect/disconnects the device can show, or the speed it can change. If it is happening too fas

[2021-01-11 20:16] iamkarlson commented on #68672
I regret to say that but I can't. I changed quite a lot already in attempt to get the planned flow working and can't easily restore it. I will keep this story open for reproducing it later on and post you with a proper correlation id.

[2021-01-11 20:17] robinsh commented on #68599
I think I put in a note today. I don't own Azure-Monitor. Hopefully I've redirected the customer to the right owner.

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, January 11, 2021 1:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] feed

[2021-01-11 20:19] robinsh commented on #68599
This is not an Azure issue, it’s just an IOT issue. You might see if you can find an IoT book that explains the basic working of IoT, which would be helpful. Or do some searching on “IoT”.

From: chutestrate <notifications@github.com>
Sent: Friday, January 8, 2021 5:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Assign <assign@nore

[2021-01-11 20:20] shashishailaj commented on #68588
@SLeuthold We checked this internally and staged rollout should be generally available by early august this year however sometimes projects tend to get delayed due to unforeseen reasons. Yet we hope to have it in GA around that time. I understand the guide did not show that however the product is quite stable and we recommend customers use it . In case you come across any errors please engage with

[2021-01-11 20:20] #68588 closed

[2021-01-11 20:21] shashishailaj commented on #67688
@joecarlyle The document have been edited by the product group to confirm with the script . Should you have any further queries , please tag me to your reply .

Thank you .

[2021-01-11 20:21] #67688 closed

[2021-01-11 20:24] nslindtner commented on #67569
I will have to wait your update - I couldn't figure out the indention :-)

[2021-01-11 20:26] softwarecraft opened #68729 "Add note re unable to modify user profile when has AAD admin roles"
Recommend you add a note to clarify that when a user has certain (any?) AAD admin roles, it is not possible to modify their user profile unless you yourself have Global Admin role. Otherwise there is an error msg. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8c77b2-27b0-269c-6e96-5ca02b8a4f18
* Version Indep

[2021-01-11 20:28] robinsh commented on #68401
Just FYI, this is not a docuumentation problem. You might submit a request to the product team to look at this specifically.

[2021-01-11 20:33] jamiesonpepper opened #68730 "<OTDSTENANT>/<TENANTID> could be just otdsws in an environment with no OTDS tenant"
Hello,

For an OTDS deployment that uses the 'root' tenant it might not have the above path and just be 'otdsws/login' in the URL.

Thanks,

Jamie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46e4e70-b65f-6179-0992-8a39e8a52aba
* Version Independent ID: 59411b5b-b865-a162-e48b-89520eb32582
* Content: [Tutorial: Azur

[2021-01-11 20:39] chutestrate commented on #68599
I was linked to this in my azure study material, but thank you for the suggestions

⁣Get BlueMail for Android ​

On Jan 11, 2021, 3:19 PM, at 3:19 PM, Robin Shahan <notifications@github.com> wrote:

[2021-01-11 20:47] asudbring commented on #66945
Added work item to create new article for this.

#please-close

[2021-01-11 20:48] #66945 closed

[2021-01-11 20:49] asudbring commented on #66876
Sending to PM for verification

#reassign:@erichrt

[2021-01-11 20:50] hpsin commented on #66212
This is a good suggestion, and I'll bring it up internally.  Given the mechanisms of how existing apps look up keys and validate tokens, this likely won't be possible (without breaking many Microsoft apps), but for the future it's great to keep in mind.  We're also starting to encrypt access tokens in the future, so that only apps with permission to look inside the token can decrypt them, which wi

[2021-01-11 20:51] asudbring commented on #64688
Sending to PM for verification

#reassign:@brianlehr

[2021-01-11 20:53] hpsin commented on #62164
#please-close - we'll revisit this when there's updates here.

[2021-01-11 20:53] #62164 closed

[2021-01-11 20:54] DerekHerman-MSFT commented on #68716
@nezoic
From the [doc](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-file-share?tabs=azure-portal#the-advanced-blade): _Large file shares: This field enables the storage account for file shares spanning up to 100 TiB. Enabling this feature will limit your storage account to only locally redundant and zone redundant storage options. Once a GPv2 storage account has been

[2021-01-11 20:54] #68716 closed

[2021-01-11 20:57] asudbring commented on #61541
The limitations of the move are detailed in the perquisites.  This process only moves the configuration from point A to point B.    There is also a new service that moves resources without this process.  We are in the process of adding a note to these old articles pointing to this new content:

https://docs.microsoft.com/en-us/azure/resource-mover/overview

#please-close

[2021-01-11 20:57] #61541 closed

[2021-01-11 20:58] asudbring commented on #58873
#please-close

[2021-01-11 20:58] #58873 closed

[2021-01-11 21:04] asudbring commented on #55082
This article has recently been updated and these screenshots have been changed.

#please-close

[2021-01-11 21:04] #55082 closed

[2021-01-11 21:08] maxiptah commented on #68401
"Flickering" is the word used in the MS official docs in question in the meaning of "change its state quickly".  And the problem is exactly the ambiguity of this term. How quickly is quickly?There is no light on the actual physical device. It connects to IoT hub and disconnects multiple times,  so its connection "flickers". MS documentation says that in case of "flickering" not all events are sent

[2021-01-11 21:11] MarileeTurscak-MSFT commented on #68729
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-11 21:12] JamesTran-MSFT commented on #68730
@jamiesonpepper
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-11 21:18] jasonzio opened #68731 "Broken indentation in python sample code"
The Python sample code is missing indentation, which is critical to the correct functioning of python programs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcc4942-ed7f-891b-8fb2-f0aed8237d38
* Version Independent ID: c061735f-c5ce-d6fb-b6c0-fe02ed4eae3d
* Content: [Create a Python 3 runbook (preview) in Azure Auto

[2021-01-11 21:19] jasonzio commented on #68731
Specifically, the sample code in the https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-textual-python-3#add-authentication-to-manage-azure-resources section is all flush-left, and that's not syntactically valid python.

[2021-01-11 21:37] DerekHerman-MSFT commented on #68724
@chakra146 Thanks for the feedback. I believe the command being executed is for Windows Command Line and not PowerShell. As you noted the command can be executed in PowerShell but requires different syntax.

[2021-01-11 21:40] MonikaReddy-MSFT commented on #68559
@thoaingan -
Thanks again for bringing this to our attention. We have added this in our backlog to let the content author update the screenshots and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-11 21:40] #68559 closed

[2021-01-11 21:56] SaiKishor-MSFT commented on #68430
@mattruma Any update? Thanks!

[2021-01-11 21:56] stefanushinardi commented on #65695
#assign: @stefanushinardi

[2021-01-11 22:06] NavtejSaini-MSFT commented on #68489
@IanIsFluent Looking at the Admin login issue, i would have advised you to go to support for further help and they would have helped to resolve your issue.
But as you say you have opted for a different method for the restore, we will for now close this issue and if any other user approaches for the same, we will check with support.

For now we are closing this issue. Please get back to us for any

[2021-01-11 22:13] stevelsd opened #68732 "Custom DataActions at Management Group Scope Level"
In the following section "https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-properties", the statement mentions the following limitation: "If you create a custom role with DataActions, that role cannot be assigned at the management group scope."

This is important to be able to use this custom role property (DataActions; NotDataActions) at the management gro

[2021-01-11 22:15] NavtejSaini-MSFT commented on #68677
@emahagan11 Please check the older [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/9db49968-dd7c-46a4-8a0d-517e773e8cc4/sqlstate-s1000-nativeerror-0-error-microsoftsql-server-native-client-100unexpected-eof?forum=ssdsgetstarted)post regarding this and check if it helps.

This looks the file or data error. If you get the error still, please get back to us and we will try to check with our do

[2021-01-11 22:17] stevelsd opened #68733 "DataActions"
In the following section "https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-properties", the statement mentions the following limitation: "If you create a custom role with DataActions, that role cannot be assigned at the management group scope."

This is important to be able to use this custom role property (DataActions; NotDataActions) at the management gro

[2021-01-11 22:18] RonnieQuan opened #68734 "Can you please confirm Express Route Does not Provide Encryption Capability?"
Where it's documented that express route does not encrypt traffic?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4
* Content: [FAQ - Azure ExpressRoute](https://docs.microsoft.com/en-us/azure/expres

[2021-01-11 22:20] MarileeTurscak-MSFT commented on #68733
@stevelsd
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-11 22:22] MarileeTurscak-MSFT commented on #68732
@stevelsd
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-11 22:25] MarileeTurscak-MSFT commented on #68733
Closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68732

Will track there.

[2021-01-11 22:25] #68733 closed

[2021-01-11 22:28] adiun commented on #68656
Hi @GitaraniSharma-MSFT - Yes, I'm following that document (Azure DNS with an alias record to the CDN). However the doc stops at setting up HTTPS.

Since managed CDN certificate doesn't support apex domain, I am following [Option 2 in this doc for setting up custom HTTPS](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certificate#tlsssl-certifica

[2021-01-11 22:28] vishnu4 opened #68735 "instructions for how to install helm controller do not work"
in https://docs.microsoft.com/en-us/azure/aks/ingress-tls there is a line on how to install the ingress controller:

helm install nginx-ingress ingress-nginx/ingress-nginx \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux

But every time i

[2021-01-11 22:29] churchie1973 opened #68736 "These tutorials were outstanding."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [What is Azure single sign-on (SSO)?](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on)
* Content

[2021-01-11 22:35] MarileeTurscak-MSFT commented on #68732
Custom RBAC definitions are supported at the Management Group level, but yes, custom roles with DataActions are still a limitation.

The product team is working to add this. You can track the feature request [here ](https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/34391878-allow-custom-rbac-definitions-at-the-management-gr)or create a new one on User Voice.

[2021-01-11 22:35] #68732 closed

[2021-01-11 22:38] MarileeTurscak-MSFT commented on #68736
@churchie1973 thank you for the positive feedback! I have passed this along to the content author, @kenwith

[2021-01-11 22:38] #68736 closed

[2021-01-11 22:38] duongau commented on #68734
@RonnieQuan ExpressRoute does have encryption capability for Site-to-site connection over either Private Peering or Microsoft peering. You would need configure this as it is not configured by default. Please see the respective documentation for more details:

S2S over Private Peering: https://docs.microsoft.com/en-us/azure/vpn-gateway/site-to-site-vpn-private-peering?toc=/azure/expressroute/toc.js

[2021-01-11 22:49] adiun commented on #68656
From another customer: https://social.msdn.microsoft.com/Forums/en-US/cc78bfdb-cd29-429c-a59c-cbf84dd897f2/azure-cdn-resourceoperationfailure?forum=architecturegeneral - this is the same error I'm seeing.

[2021-01-11 22:50] kymhughes opened #68737 "Note December 2020 has now passed"
[Enter feedback here]
Hi, i think that the note in this article needs updated. as December 2020 has now passed.
kind regards,

Kym.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content: [Configure Azure Storage firew

[2021-01-11 22:53] suwatch commented on #68476
Also, the name and priority is only supported for api-version **2018-02-01** and newer.   In addition, when using api-version, do provide cidr range as IPAddress;  for instance, 4.2.4.42/32.

[2021-01-11 22:55] kobulloc-MSFT commented on #68728
@sameer-kumar Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2021-01-11 22:56] arduppal commented on #65265
@xiafu-msft - can you try the version 1.4.0 of "Azure Blob Storage on IoT Edge" module, and let us know if you still have this issue?

[2021-01-11 23:00] SaiKishor-MSFT commented on #67930
@RonnieQuan Thank you for your patience while I was investigating this further. The initial amount of SNAT ports per public IP is 2048 ports. However, the firewall will auto-scale based on CPU and throughput and will add 1024 ports for each Public IP when scaling happens each time. Hope this answers your question. Please let us know if you have any further questions and we will be glad to assist f

[2021-01-11 23:06] spelluru commented on #32281
Seems like a note was added about the limitation (REST only).

#please-close

[2021-01-11 23:06] #32281 closed

[2021-01-11 23:07] spelluru commented on #65830
Done. Added details:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr#setup-and-failover-flow

#please-close

[2021-01-11 23:07] #65830 closed

[2021-01-11 23:09] DavidMwihuri01 commented on #64819
This has been sorted out in 68133

[2021-01-11 23:14] jlichwa commented on #66354
Updated

[2021-01-11 23:14] jlichwa commented on #66354
#please-close

[2021-01-11 23:14] #66354 closed

[2021-01-11 23:15] jlichwa commented on #66646
Updated #please-close

[2021-01-11 23:15] #66646 closed

[2021-01-11 23:16] jlichwa commented on #66645
Updated. It is same as Resource Group variable in this tutorial #please-close

[2021-01-11 23:16] #66645 closed

[2021-01-11 23:18] jlichwa commented on #67630
Removed Service Principal sections. It is not recommended for services deployed to Azure. #please-close

[2021-01-11 23:18] #67630 closed

[2021-01-11 23:21] omerzubair opened #68739 "No advice on page for clients using their own DNS servers for private endpoints"
Hi AMPLS team. I was not able to find any advice on DNS for private endpoints when we are using our own DNS server.
So this is the example

When I look at the private endpoint of the storage account
•	<resourcename>.blob.core.windows.net 165.21.17.136
For above storage account my DNS records are :
•	FQDN becomes                            -> <resourcename>.privatelink.blob.core.windows.net
•	Forwa

[2021-01-11 23:23] omerzubair opened #68741 "Missing AMPLS definition - Please link this to issue #68739"
See Issue #68739

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns)
* Content Source: [articles/

[2021-01-11 23:25] spelluru commented on #24566
This information should be updated based on the following auto-updated article (or) event retired.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsofteventhubnamespaces

[2021-01-11 23:32] brianlehr commented on #64688
Reviewing with VPN GW team for specifics

[2021-01-11 23:36] KranthiPakala-MSFT commented on #68601
@QuiteNewbieButImproving I have submitted a PR to add a point to `Select *Run* on the cell `. Thanks again for raising concern.

I did run the tutorial and don't see any issue. The code ran successfully and the` nyctaxi (Spark)`  database was created without issues.

![image](https://user-images.githubusercontent.com/50185738/104250529-a04db300-5422-11eb-9e50-96576af20315.png)

At this time looks

[2021-01-11 23:36] #68601 closed

[2021-01-11 23:43] jlichwa commented on #68234
Hello @romina2001. It seems like it is CSI Driver product issue with mounting volumes. Please raise the questions to CSI Driver community here https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues. They should be able to help. Thank you. #please-close

[2021-01-11 23:43] #68234 closed

[2021-01-11 23:53] JamesTran-MSFT commented on #68702
@nittajef
Thank you for the detailed post! When you say step 6, I'm assuming you're referring to the "[Configure Confluence SAML SSO by Microsoft SSO](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/confluencemicrosoft-tutorial#configure-confluence-saml-sso-by-microsoft-sso)" section:
![image](https://user-images.githubusercontent.com/36619112/104251669-15ba8300-5425-11eb-920e-fe

[2021-01-12 00:02] James-Hamil-MSFT commented on #68501
Hi @Aegrum , we do not have a list of verified publishers at this time. We will let you know if this changes.

Best,
James

[2021-01-12 00:02] #68501 closed

[2021-01-12 00:05] TravisCragg-MSFT commented on #68613
@DavidSchrag Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-12 00:13] cijothomas opened #68746 "Call out Azure functions special case"
If running in Azure Functions, the following is not correct to enable sql text collection.
https://docs.microsoft.com/EN-US/azure/azure-monitor/app/asp-net-dependencies#advanced-sql-tracking-to-get-full-sql-query

It requires changes in host.json in Functions as per https://github.com/Azure/azure-webjobs-sdk/pull/2608

This doc should simply mention that Functions require separate setting and redi

[2021-01-12 00:13] RonnieQuan commented on #68734
Thanks for the prompt reply, we don't use VPN gateway, we user express route gateway.

[2021-01-12 00:15] GiftA-MSFT commented on #68717
@ramakrpr we'll review your feedback and get back to you shortly. Thanks.

[2021-01-12 00:17] GiftA-MSFT commented on #68718
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/68717.

[2021-01-12 00:17] #68718 closed

[2021-01-12 00:19] TravisCragg-MSFT commented on #68720
@yuecong can you share the SR# of the support case with this limit?

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-12 00:28] SnehaGunda commented on #61902
@richardszalay Gahl made some fixes in the above PR reflecting your feedback. The changes will be live tomorrow. we will close this issue now.

#please-close

[2021-01-12 00:28] #61902 closed

[2021-01-12 00:33] Grace-MacJones-MSFT commented on #68731
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-12 00:44] MS-jgol commented on #68553
@xamde WebFlux is supported out of the box in Application Insights [Java 3.0 agent ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) - looks like this is what you are referring to.

If it does not work for you, can you please provide more details - do you have any error messages? Does the agent start successfully? Any other information you think would be helpful for

[2021-01-12 00:46] duongau commented on #68734
@RonnieQuan ExpressRoute gateways doesn't encrypt traffic. Their purpose is to allow traffic from the ExpressRoute circuit to come into the VNet from the MSEE routers. The VPN gateway is what does the encryption of the traffic to and from the different sites through the ExpressRoute circuit. The articles I provided requires that both ExR gateway and VPN gateway are needed to encrypt traffic.

What

[2021-01-12 00:46] leonmeijer opened #68747 "App Service Managed Certificate"
How to create and assign an App Service Managed Certificate to the app service via Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2906753-7656-ef4d-0de9-7e238181e3e1
* Version Independent ID: 66dcb903-38dd-858b-dfb4-8a8dafaa0930
* Content: [Secure a custom DNS with a TLS/SSL binding - Azure App Service](ht

[2021-01-12 00:51] stefanushinardi commented on #65695
@BryanTrach-MSFT I merged the PR for this issue, I think it can be closed. Thanks

[2021-01-12 01:15] robinsh commented on #68401
Hi,
I have an IoT device that I use for testing, and it has a light on it and it flickers as it connects and disconnects. I would guess that they mean it's like if you turn the lights in a room on and off repeatedly. I don't have any information on the speed of the blickering or what algorithm is used. I recommend you put this in as a request for help rather than a documentation question. Also, wh

[2021-01-12 01:22] KranthiPakala-MSFT commented on #68624
@sndipsrma Appreciate much for bringing this to our notice. I was able to verify the methods and yes for some reason `Env.Help()` command is returning all available methods in _camelCase_ (which doesn't work) instead of _PascalCase_ . I have escalated this issue to Azure Synapse Analytics product team. Will keep you posted as soon I have an update from them.

Thank you.

[2021-01-12 01:42] SaiKishor-MSFT commented on #68507
@mattruma I have assigned the issue to the content author to investigate this and update the document as appropriate. Thank you!

[2021-01-12 01:43] jimmyca15 commented on #68728
@sameer-kumar That request was blocked because it was not sent through the "private endpoint" that should have been provisioned into Subnet 2. If you are accessing your App Configuration instance in a normal manner within that VNet, the redirection to the private endpoint should be enabled by the presence of a private DNS zone. There should be a record in the private DNS zone that points your App

[2021-01-12 01:47] WenJason commented on #68545
@SumanthMarigowda-MSFT But, the MD5 hash is created by default now. Is it a bug? Thanks.

[2021-01-12 02:05] shants123 commented on #64579
This issue was resolved and the document was updated. Thanks for reporting the issue.

[2021-01-12 02:06] shants123 commented on #64579
#please-close

[2021-01-12 02:06] #64579 closed

[2021-01-12 02:07] KranthiPakala-MSFT commented on #68624
@sndipsrma
The PR for the doc fix has been created and it will be merged soon. I have escalated this to Synapse product team to fix this in the product and will be tracking this with internal work item that has been created.  Thanks again for pointing this out,

Please let us know if there is something else that we can help you with, else I will close this issue within 24hrs.

Thank you

[2021-01-12 02:27] stevelsd commented on #68732
Thank you

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, January 11, 2021 3:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: stevelsd <stevelsd@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Custom DataActions at Management Group Scope Level (#68732)

Closed #68732<https://git

[2021-01-12 03:02] BharathNimmala-MSFT commented on #68451
@davecatt Apologies for delay in getting back to this thread and thank you for bringing this to our notice. I have assigned this issue to our document author @lgayhardt to further review the feedback and update the document accordingly.

[2021-01-12 03:05] BharathNimmala-MSFT commented on #68525
@omerzubair Thanks a lot for sharing your feedback, I raised a PR to incorporate the feedback into the document. Once its reviewed and approved , it will be merged with the live document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if you hav

[2021-01-12 03:05] #68525 closed

[2021-01-12 03:13] BharathNimmala-MSFT commented on #68553
Thanks a lot @MS-jgol  for helping on this thread.

@xamde Can you please review the comments shared by @MS-jgol and please feel free to revert back if you have any further queries.

Please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation and at this point it appears that the

[2021-01-12 03:13] #68553 closed

[2021-01-12 03:20] KalyanChanumolu-MSFT commented on #68612
@derekschauland Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-12 03:30] ShadowPic opened #68749 "Spring java cosmos does not work"
Really need to maintain the demonstrations so they work using VS Code.  REALLY not good that our demos don't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 082330af-ef11-0df3-bb7b-2b583d287a92
* Version Independent ID: 85e355d9-cbe8-76e8-aa40-ba06952d4526
* Content: [Azure Cosmos DB SQL API: Spring Data v3 exampl

[2021-01-12 03:34] psmanhas commented on #68735
@vishnu4 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-12 03:44] SnehaAgrawal-MSFT commented on #68476
@nieve We will close this out but if you feel you need more information please just let us know.

[2021-01-12 03:44] #68476 closed

[2021-01-12 03:48] SnehaAgrawal-MSFT commented on #68747
@leonmeijer Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-12 03:56] SwathiDhanwada-MSFT commented on #68746
@cijothomas Thanks for your feedback.

Assigning to content author @lgayhardt for review and updating document accordingly.

[2021-01-12 03:58] SwathiDhanwada-MSFT commented on #68739
@omerzubair Thanks for your feedback.

Assigning to content author @noakup for review and updating the document accordingly.

[2021-01-12 04:08] spelluru commented on #24566
Fixed. The updated article will have a link to the section in the common article.  It will go live tomorrow.

#please-close

[2021-01-12 04:08] #24566 closed

[2021-01-12 04:31] swbhartims opened #68752 "Renaming Australia Central2 to Australia Central 2"
Need to rename Australia Central2 to Australia Central 2 to be consistent with the remaining doc.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architect

[2021-01-12 04:32] swbhartims opened #68753 "West India to India West"
Need to have consistent naming for India West. In this doc, it shows up as West India. However, in the other doc, it shows up as India West
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36fc6a4-489e-47c5-2882-1f043f751e7b
* Version Independent ID: d2402e71-a346-5c9e-5b6b-c76ccf283b54
* Content:

[2021-01-12 04:58] Shuanglu opened #68754 "Update of SP might impact the application mounting the hostPath of '/etc/kubernetes/azure.json'"
[Enter feedback here]
Could you please add a warning for customer that 'Update of SP might impact the application mounting the hostPath of '/etc/kubernetes/azure.json''

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e03
* Co

[2021-01-12 05:03] psmanhas commented on #68754
@Shuanglu Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-12 05:03] spelluru commented on #67617
@toddwhitehead - I would really appreciate it. I will send you the link to our contributor for working with the private repo. Thanks!!

[2021-01-12 05:03] psmanhas commented on #68754
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-01-12 05:04] KalyanChanumolu-MSFT commented on #68753
@swbhartims Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-12 05:05] KalyanChanumolu-MSFT commented on #68752
@swbhartims Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-12 05:18] KalyanChanumolu-MSFT commented on #68749
@ShadowPic Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-12 05:43] hungapl opened #68755 "Exception occurred when running tutorial-pipeline-batch-scoring-classification.ipynb"
I am trying to follow the tutorial on this page -
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-batch-scoring-classification

I have cloned this notebook in Azure Machine Learning Jupyter notebook and tried running it.  When the process reaches this command:

[code]

This error occurred and the rest of the notebook will not execute:

[code]

---
#### Document Details

⚠

[2021-01-12 05:57] v-hagamp commented on #62019
Issue resolved as suggested.
#please-close

[2021-01-12 05:57] #62019 closed

[2021-01-12 05:57] HarithaMaddi-MSFT commented on #68621
@jdelatorred - I will proceed with closing the issue now. Please feel free to comment for further queries.

[2021-01-12 05:57] #68621 closed

[2021-01-12 06:03] SubhashVasarapu-MSFT commented on #67939
@evandromalmsteen, Glad to hear that your issue has been resolved! We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-12 06:03] #67939 closed

[2021-01-12 06:07] Bngo15 opened #68756 "FeedbackOptions - Results stored in CosmosDB?"
Hi,

I incorporated the feedback responses for the bot builder in Visual Studio.  I was wondering if it is stored in CosmosDB by default or if I have to modify the code at all to have it store there. Also, where would I go to see their responses?

Thank you.

[2021-01-12 06:09] Bngo15 opened #68757 "Feedback Responses - Bot Builder - CosmosDB"
Hello,

I am implementing a bot in Visual Studio using the Feedback Response from the users. I was wondering if it stored these values by default in CosmosDB or if there are any modifications that need to be done in order to store them there. Also, where would I go to find these after the user has entered their feedback?

Thank you.

[2021-01-12 06:17] kavyasriV commented on #49938
What is the solution for this ? I am facing same issues

[2021-01-12 06:27] IanIsFluent commented on #68489
No. We GAVE UP. I tried 3 different ways to do this and NONE of them worked. There isn't another way to automate this.

[2021-01-12 06:30] kobulloc-MSFT commented on #53768
@IainAdamsLabs From a documentation standpoint, I don't believe there is anything else to add to [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/app/transaction-diagnostics) at this point.  If you need help with Application Insights, we'd be happy to answer your questions and help you troubleshoot issues on Microsoft Q&A:

https://docs.microsoft.com/en-us/answers/topics/azure-moni

[2021-01-12 06:39] IanIsFluent commented on #68489
Question asked here, then: https://docs.microsoft.com/en-us/answers/questions/227037/errors-trying-to-import-db-from-bacpac.html 🙄

[2021-01-12 06:54] SumanthMarigowda-MSFT commented on #68737
@kymhughes Thanks for the question! We are investigating and will update you shortly.

[2021-01-12 06:55] henrybeen opened #68758 "Doc is missing information on deploying management groups into management groups"
It would be really helpful to add this page at the top that you can also deploy managementGroups to managementGroups.

there is an example buried under "Scope to another management group", but the capability of deploying MGs into MGs without using a tenant scoped template is not really clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-12 07:01] RohitMungi-MSFT commented on #68755
@hungapl It looks like there might be conflict in the core packages azureml-core or azureml-pipeline-core when they were installed. In this case it might be an issue with the package dependencies of azureml-pipeline-core which is unable to get the step run details. Since you are following the [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/machine-learning-pipel

[2021-01-12 07:08] kobulloc-MSFT commented on #68580
@HamishBrowne You are correct, there is [no longer a free option for SendGrid](https://docs.microsoft.com/en-us/answers/questions/203531/azure-free-sendgrid-not-available.html) although there are free benefits for paid customers:

![image](https://user-images.githubusercontent.com/37556655/104280614-0f49fc80-5461-11eb-9b2b-175cc0cf8c2b.png)

[2021-01-12 07:20] JayaChatterjee-MSFT commented on #68480
@ggailey777 Could you please review the request and confirm if we need to add it separately for Linux as well?

[2021-01-12 07:35] GitaraniSharma-MSFT commented on #68734
@RonnieQuan , Kindly let us know if the above helps or you need further assistance on this issue.

[2021-01-12 07:37] SwathiDhanwada-MSFT commented on #68758
@henrybeen Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-12 07:48] v-hagamp commented on #66879
Issue resolved.
#please-close

[2021-01-12 07:48] #66879 closed

[2021-01-12 07:50] VijayRod commented on #67311
@jlichwa @aramase this issue reproduced in a default-created (no taints) windows pool.

[2021-01-12 07:51] nieve commented on #68476
The api-version I am using is **2019-04-01** and I did provide the cidr range eventually, since the deployment simply fails without one. Eventually I ended up not using this feature for other reasons, but I might need to get back to it at some point and if and when I do, if this behaviour persists, I will attempt recreating it.

[2021-01-12 08:21] MayankBargali-MSFT commented on #68670
@hecflores Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-12 08:22] romankiss commented on #68671
HI @rido-min,

Thanks for prompt response about the _modelId_ property in the device twin.

My scenario is related to the [Azure IoT Hub Tester](https://www.codeproject.com/Articles/1173356/Azure-IoT-Hub-Tester) (first posted April 2017) which I would like to keep it up to date, so currently it is updating to the pnp model version 2. This tester allows to simulate a multiple devices and their pnp

[2021-01-12 09:05] MayankBargali-MSFT commented on #68608
@daneel3001 Under the [Allowed Types](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#set-variableAllowedTypes) for [set-variable](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#set-variable) you will get the return type that is supported by this policy.

Reference: https://docs.microsoft.com/en-us/azure/api-management/

[2021-01-12 09:33] YutongTie-MSFT commented on #68530
Hello, I don't think there is one in Microsoft store of Aus, I am asking internally to check if there other way. Are you for business use? Student use?

[2021-01-12 09:38] AshokPeddakotla-MSFT commented on #68667
We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

Since we have not heard bac

[2021-01-12 09:38] #68667 closed

[2021-01-12 09:54] v-hagamp commented on #61035
Issue resolved as suggested above.
#please-close

[2021-01-12 09:54] #61035 closed

[2021-01-12 09:55] wanglijun378617 opened #68761 "Azure CLI (/az container exec) to open remote shell does not work"
Azure CLI (/az container exec) to open remote shell does not work.
For example:
1. Create below ACI:
az container create -g acitest -n testwin --image mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 --os-type Windows
2. Exec into it from local powershell, turn out python related callback error.
az container exec -g acitest -n testwin --exec-command Powershell

![image](https://

[2021-01-12 10:03] GitaraniSharma-MSFT commented on #68656
@adiun , thank you for the update. I checked for past support cases related to this error and could see a couple of them but with different causes and solutions. Hence, there is no definitive information that I can provide here without actually looking into the backend logs of your setup. Since you mentioned you are currently connected with support, could you please help me with the support reques

[2021-01-12 10:26] PramodValavala-MSFT commented on #68658
@Damag3d I hope @WillEastbury's response clears things up. Service Principal Objects are required only in the case of multi-tenant applications.

[2021-01-12 10:30] lonevvolf opened #68762 "Add info regarding temporarily adding external user"
Following the instructions here, I was able to integrate ADF with an Azure DevOps repo under a different Azure directory.  User was added as a guest, and configuration completed.  After removing the guest user, the connection continues to work.  If this is a supported scenario (adding guest user for config, then removing them) please add this information.  If it is not, this should also be explici

[2021-01-12 10:36] holytshirt commented on #37381
I was wondering if there is an update on this issue.
My company would love to use Azure DevOps but require it to be Fedramp compliant.

[2021-01-12 10:42] lonevvolf commented on #68762
I see that each user who will work against the git repo has to have access.  This was not clear from the article.  Perhaps this should be clarified.

[2021-01-12 10:42] HarithaMaddi-MSFT commented on #68762
@lonevvolf - Thanks for posting the question. We are looking into it and will get back to you shortly.

[2021-01-12 10:46] lesterw1 opened #68763 "Steps for viewing Classifications are Needed"
The documentation currently does not describe how to view the classifications that were assigned. I had to raise a support ticket to find out. It turns out that to see the classifications, you search for '*' in the search box at the top of Azure Purview Studio. There is apparently no other way to see them otherwise as the options in the left-hand menu only show the statistics.

This needs to be do

[2021-01-12 10:47] nelsonpv opened #68764 "Support for Azure Private Link"
Could you please include the support for Azure Private Link to the Platform capabilities table? Although Azure SQL Database supports the Private Link feature to provide data exfiltration protection, the table still lists the Service Endpoints which is an older feature in comparison.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-12 10:59] KalyanChanumolu-MSFT commented on #68764
@nelsonpv Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-12 11:09] asergaz commented on #68336
@payalgaikwad42 thank you for your patience, I am trying to adress your current issue and I need to understand the following:
1) What is the version of azure-blob-storage module? You should be able to confirm on iotedge logs or in the portal what tag did you use for the image URI? You can retrieve a list of all available tags for azure-blob-storage at https://mcr.microsoft.com/v2/azure-blob-storag

[2021-01-12 11:12] minhdn90 commented on #58619
Hi,

Have you guys got any updates on this?

[2021-01-12 11:27] melvinga opened #68766 "Please add sufficient pictures in tutorials for Azure AD SSO SAML!"
[Enter feedback here]

Thanks for preparing the Documentation [ https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/saml-toolkit-tutorial ]. If it wasn't for your efforts, I wouldn't have made it so far in evaluating SSO with SAML provided by Azure AD.
I need some more help towards completing my assessment.

Overall:
1) It does Not work for me.
Error i get is "SAML Response Length is

[2021-01-12 11:36] brolifen opened #68767 "CSV file generated is broken when data contains a comma"
If some part of the user attributes contains a comma it would break the CSV formatting. In order to fix this the CSV should also use double quotation makes per value to avoid this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800fcb4-d251-f271-bc12-9377cd0407fa
* Version Independent ID: 319b62fc-cea7-1add-55

[2021-01-12 11:39] ram-msft commented on #68640
@RonnieQuan Thanks for the feedback. ABS(Azure Bot Service) recommends QnA Maker and provisions via deep link from QnA Maker portal. Here is the [sample ](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/11.qnamaker/Bots/QnABot.cs) to protect QnA Key. [Here ](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/troubleshooting?tabs=v1)is the trouble

[2021-01-12 11:41] Damag3d commented on #68658
Thanks for response.

In general I understand the article, and still (maybe I am stupid)... If we assume following:
1. We have 3 tenants: TA, TB, TC and B2C.
2. TA contains the backend application and has static SPA web deployed.
3. TA users ("admins", "operations", "sales") can use the application with their roles.
4. TB is the partner uses the application as sales with "reseller" role and "onsit

[2021-01-12 11:50] SnehaAgrawal-MSFT commented on #68741
@omerzubair Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-12 11:52] WillEastbury commented on #68658
@Damag3d, this sample / guide is not intended to be used across AAD tenants. This is a B2C specific sample where all of the applications and users should reside in the B2C tenant.

I think you are referring to Azure AD Multi-tenant applications or AAD B2B integration (guests) which are different scenarios.

[2021-01-12 12:03] iromanovsky opened #68768 "Adding Google account to MS Authenticator is not available anymore"
On Google '2-Step Verification' page there is no option anymore to add MS Auth app, only Google devices and Phones with Google app are available. Can you please investigate what can be done to use MS Auth app with a Google account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49de26c3-95f4-2004-8e63-0076c41ddfb3
* Ve

[2021-01-12 12:04] asergaz commented on #68717
@ramakrpr see a related issue: https://github.com/MicrosoftDocs/azure-docs/issues/66716

Can you try using [Azure Storage Explorer version 1.9.0 ?](https://github.com/microsoft/AzureStorageExplorer/releases/tag/V1.9.0)

Thank you. We are reporting the bug to the Product Team and may need to enhance the doc.

fyi @kgremban

[2021-01-12 12:07] vipulsparsh commented on #68766
@melvinga Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as and if needed.

[2021-01-12 12:08] vipulsparsh commented on #68766
@jeevansd Can you have a look ?

[2021-01-12 12:12] asergaz commented on #68717
@ramakrpr can you also confirm what is the version of azure-blob-storage module? You should be able to confirm on iotedge logs or in the portal what tag did you use for the image URI? You can retrieve a list of all available tags for azure-blob-storage at https://mcr.microsoft.com/v2/azure-blob-storage/tags/list

fyi @arduppal

[2021-01-12 12:18] BhargaviAnnadevara-MSFT commented on #68757
@Bngo15 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-12 12:18] BhargaviAnnadevara-MSFT commented on #68756
@Bngo15 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-12 12:18] nittajef commented on #68702
Hi James, yep, specifically part (a) where we paste in the Metadata URL in to the configuration page within the app in Confluence. Azure Gov gives URLs with login.microsoftonline.us, but it appears there's some kind of Javascript validation on the entry box that says it's invalid. If I change only the .us to .com in the URL it appears to be a valid text entry, but of course the URL itself now poin

[2021-01-12 12:23] PatrickMessierGoC opened #68769 "Incomplete example"
It seems like that this page's example (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-performance-linux#storage-io-utilization-metrics-example) is not complete or has been truncated. There are no conclusion to the main question (find the performance bootleneck from the metrics presented).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-01-12 12:25] psmanhas commented on #68761
@wanglijun378617 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-12 12:29] gemeos95 commented on #20189
@ebrucucen have you found any solution for this issue? I'm having the same problem. Thanks in advance

[2021-01-12 12:31] riccom76 opened #68770 "Delete the panther directory (C:\Windows\Panther) is missing from the required steps."
There should be a step added to delete the panther folder. In [this article](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/upload-generalized-managed?toc=%2Fazure%2Fvirtual-machines%2Fwindows%2Ftoc.json#generalize-the-source-vm-by-using-sysprep) is missing.

Like for other similar articles, please add the step to "Delete the panther directory (C:\Windows\Panther)." to be consiste

[2021-01-12 12:44] robinmanuelthiel opened #68772 "Outdated. How does this work with the new Azure.Messaging.ServiceBus SDKs?"
The page explains tracing using the old `Microsoft.Azure.ServiceBus` SDKs. The Service Bus docs also mentions that these SDKs are outdated and the new `Azure.Messaging.ServiceBus` SDKs are the ones to use now. How does tracing work with them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c95270-3f41-13fb-5676-f3c61d

[2021-01-12 12:44] mywebin commented on #20701
Mr Awentzel: Can you explain more on this ? how did you managed wild card white listing? can you share the domain URL..which you have enabled *.domain name ?

[2021-01-12 12:50] ThomasPe commented on #55765
@JimacoMS3 I just re-read the documentation, and it does say arrays are supported. Is there are "NOT" missing? Or was the SDK updated meanwhile?

![image](https://user-images.githubusercontent.com/4225039/104316633-0e56b080-54dd-11eb-84a6-37ef63ace8d3.png)

[2021-01-12 12:50] sivasai-quartic commented on #44050
how do we use schema registry authentication for spark dstreams  ? can anyone please

[2021-01-12 12:56] abij commented on #44050
I my example there is authentication to SchemaRegistry included:
- schema_client_id
- schema_client_secret

[2021-01-12 12:58] Elephantei opened #68773 "The import/export data is no longer available from the portal."
The import/export data is no longer available from the portal. From all resources > storage it seems like the functionality is not there.
![image](https://user-images.githubusercontent.com/20605509/104317506-f596cc80-54d5-11eb-936a-4c52ad04fe3f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b51e3a8d-6204-ac1b-996f

[2021-01-12 13:18] psmanhas commented on #68769
@PatrickMessierGoC Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-12 13:19] psmanhas commented on #68769
@albecker1 Can you please check and add your comments on this doc update request as applicable

[2021-01-12 13:21] psmanhas commented on #68770
@riccom76 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-12 13:21] psmanhas commented on #68770
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-01-12 13:36] holgerjay opened #68774 "Why are steps 3, 4 and 5 needed?"
Hi,

why are steps 3, 4 and 5 even needed? The corresponding variables are not referenced anywhere else for the deployment and I can effectively run the deployment without the lines from those steps.

Kind regards
Holger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dcf7e69-dbd2-1eda-75db-43c525f084a6
* Version Indep

[2021-01-12 13:51] madrum opened #68775 "Location of link to download agent"
The directions say to go to the "Windows Server" section of the Log Analytics Workspace, but that does not exist. Instead, you should go to the "Service Map" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Cont

[2021-01-12 13:54] madrum commented on #68775
nevermind.... i'm not sure where to download the agent.

[2021-01-12 13:54] #68775 closed

[2021-01-12 14:13] smithcl167 opened #68776 "Azure file sync - delta/block level syncing"
Hi,

just looking to confirm if files changed on a server endpoint only sync at a block level or if the whole file needs to re-sync?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azur

[2021-01-12 14:14] derekschauland commented on #68612
Is there any chance this is also / or an issue with the feature itself, where cross subscription replication will not be possible? If so, can a feature request also be opened to determine if this work can be started?

[2021-01-12 14:16] smithcl167 opened #68777 "Azure file sync - delta/block level syncs"
Hi,

just looking to confirm if files changed on a server endpoint only sync at a block level or if the whole file needs to re-sync?

thanks

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#azure-file-sync
https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning

[2021-01-12 14:38] smithcl167 commented on #68776
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#azure-file-sync
https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning

[2021-01-12 14:47] nezoic commented on #68716
Sorry I think you misunderstood the issue. The problem is that the OPTION no longer exists in Azure Portal. There is no way to turn this feature on or off anymore.

[2021-01-12 14:54] djs0203 commented on #68703
Hi @shashishailaj  , Could you please let me know if you had a chance to check the above query

[2021-01-12 15:03] vhugogarcia commented on #54283
I am facing the same issue. Which was the solution?

[2021-01-12 15:07] nirnaybansal commented on #54283
Hi Victor, In my case I putting "dbo." before system procedure name resolved the issue. For example try using "**dbo.**sys<xx>" instead of "sys<xx>"

[2021-01-12 15:19] dev-d opened #68778 "Add a note about token expiry for managed identity for Azure MySQL"
Its unclear from the page whether this token expires (say after 60 mins) so if any connecting programs need to:
1. Reconnect to MySQL after the token expires, and/or
2. Ensure that before making a new connection, a fresh token is retrieved from `http://169.254.169.254/metadata/identity/oauth2/token`

This information is important because if we're trying to make a legacy or third-party application

[2021-01-12 15:21] ramakrpr commented on #68717
@asergaz had to unforatunately delete the edge device but setting up another one now. will share the details ASAP meanwhile

[2021-01-12 15:24] robertplata opened #68779 "SQL Analytics cost"
Where might I find documentation on finding the cost of implementing SQL Analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [Azure SQL Analytics solution in Azure Monitor - Azure Monitor](https://docs.m

[2021-01-12 15:34] Bngo15 commented on #68757
Sure thing.

https://microsoft.github.io/botframework-solutions/virtual-assistant/handbook/feedback/

In addition to this, as I was working with it, implementing the feedback options overwrote my QnAMaker answer. I'm assuming this has something to do with how the values are stored in the Dialog variables, but I'm not sure. I can provide my MainDialog.cs if this helps.

[2021-01-12 15:35] GiftA-MSFT commented on #68708
@bjcmit it looks like the filename in the nbconvert script needs to be concatenated.

[2021-01-12 15:37] spelluru commented on #25924
Reviewed the issue. Added the details. The updated article should go live today.

#please-close

[2021-01-12 15:37] #25924 closed

[2021-01-12 15:38] sameer-kumar commented on #68728
This is what I can see.
From AppConfiguration > Private endpoint connections > PEP01 (Approved) > DNS configuration:
Configuration name: privatelink-azconfig-io
DNS zone group: default
Private DNS zones: privatelink.azconfig.io

And when I click **privatelink.azconfig.io**, I see one record set:
Name: @
Type: SOA
TTL: 3600
Value: Email: azureprivatedns-host.microsoft.com
          Host: azurepriva

[2021-01-12 15:42] DavidSchrag opened #68780 "Suggestions for clarifications on instructions"
I tried to follow the instructions in my environment and ended up submitting a ticket to WVD support. Based on what I learned in that ticket, I would make the following observations:

•	This article assumes that you are starting with a fresh host pool environment that users have not previously accessed. If you have already assigned users to your host pool:
o	The steps within the section “Assign us

[2021-01-12 16:01] cool9brain opened #68781 "Critical Step Missing"
[Enter feedback here]
Users should watch the video before creating since few steps missing such as rdweb and creating RDS tenant
https://www.youtube.com/watch?v=ZkdyqFbo8ZI

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf7c3e8-33e8-9d5f-599d-b765186c67b4
* Version Independent ID: 7eccd04b-b69d-a8b6-9c7c-2354fc8a692c

[2021-01-12 16:01] BhargaviAnnadevara-MSFT commented on #68777
@smithcl167 Thanks for the question. Closing this issue in favor of #68776.

[2021-01-12 16:01] #68777 closed

[2021-01-12 16:08] DerekHerman-MSFT commented on #68716
@nezoic The option is only there if you create a Standard Storage Account. For Premium account it will not be an option as stated in the doc. Are you unable to use the option with a standard account as well?

[2021-01-12 16:19] SaurabhSharma-MSFT commented on #68774
@holgerjay Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-12 16:24] KranthiPakala-MSFT commented on #68763
@lesterw1 Thanks for the feedback and bringing this to our notice. Could you please share the Support Request number for reference?

[2021-01-12 16:25] RonnieQuan opened #68783 "Does App Gateway V1 Support Zonal?"
We know App Gateway V1 is not across multiple AZ, but how about zonal? can we create App Gateway V1 in a specific zone?
If yes, potentially I can create App Gateway V1 in each zone to achieve Zone redundancy.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Ve

[2021-01-12 16:27] arduppal commented on #68336
@payalgaikwad42 - Can you please try the version 1.4.0 and let us know if you still facing this issue.

Thanks!

[2021-01-12 16:28] arduppal commented on #68717
@ramakrpr - Can you Please try the version 1.4.0 and let us know if you still facing this issue.

Thanks,
Arpita

[2021-01-12 16:42] JamesTran-MSFT commented on #68767
@brolifen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-12 16:43] JamesTran-MSFT commented on #68768
@iromanovsky
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-12 16:48] RonnieQuan opened #68784 "V2 App Gateway UDR Support Scenario"
I have one required route for app gateway subnet UDR, does it support following route?
I know the document says it does not support virtual appliance 0.0.0.0/0, in my case, I have specific address prefix.

Address prefix
10.0.11.0/28

Net Hop Type
Virtual Appliance

Net Hop IP
10.0.12.0

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-01-12 16:52] psmanhas commented on #68781
@cool9brain Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-12 16:53] psmanhas commented on #68781
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-01-12 16:55] Grace-MacJones-MSFT commented on #68772
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-12 16:55] ZanetaSzymanska opened #68786 "The code failed because of a fatal error: Neither SparkSession nor HiveContext/SqlContext is available."
Hello,

In jupyter Notebook kernel PySpark3 (HDInsight Spark cluster) I've got " The code failed because of a fatal error: Neither SparkSession nor HiveContext/SqlContext is available.." error when I did all steps describe in "Safely manage Python environment on Azure HDInsight using Script Action" https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-python-package-installation?fbcl

[2021-01-12 16:55] #68585 closed

[2021-01-12 16:57] arduppal commented on #66716
We have a new version of this module, can you give v1.4.0 a try and let us know if you still face this issue?

-Arpita

[2021-01-12 16:58] Evi-P opened #68787 "Information on migration behaviour"
This page doesn't make it clear what will happen to the old resources & subscription in the old tenant if it contains resources that are not supported for migration to a new tenant? Does the old subscription remain containing the unsupported resources, or does it get deleted?
Example if Cosmos DB cannot be moved from one tenant to another, what happens to the Cosmos DB when I move the subscription

[2021-01-12 17:01] ramakrpr commented on #68717
@arduppal 1.4.0 seems pretty old? you want me to try this one ?https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.4.4

[2021-01-12 17:04] asergaz commented on #68717
@ramakrpr version 1.4.0 of azure-blob-storage module.

[2021-01-12 17:10] SB-o-matic commented on #65835
That works brilliantly, thank you.

[2021-01-12 17:13] aramase commented on #67311
@VijayRod Then please check if the CSI driver pod is running on the node. If you look at the issues opened and closed in the [Azure/secrets-store-csi-driver-provider-azure](https://github.com/Azure/secrets-store-csi-driver-provider-azure) for similar error, the cause was because the driver wasn't deployed to windows node as part of helm install or because daemonset pods couldn't be deployed to the

[2021-01-12 17:15] SubhashVasarapu-MSFT commented on #68783
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2021-01-12 17:16] cartacioS commented on #52309
@natmorse Thanks for your inquiry! I do believe we cut off at the minute frequency, i will update the documentation to accurately reflect that.

[2021-01-12 17:17] spelluru commented on #28176
This article has been cleaned up for the new SDK (Azure.Messaging.ServiceBus).

#please-close

[2021-01-12 17:17] #28176 closed

[2021-01-12 17:19] jimmyca15 commented on #68728
It can be done either manually or automatically.

You should have a resource in your subscription with the type "Private DNS Zone" and the name "privatelink.azconfig.io". When you access the resource through the Azure Portal and click the "Virtual network links" tab, you should see that it is connected to your VNet. In the "Overview" tab, you should see a DNS record with the name of your App Confi

[2021-01-12 17:23] spelluru commented on #32003
#in-progress

[2021-01-12 17:24] akhassanov opened #68788 "Item 6 second sentence is a copy-paste mistake"
"...5. The cmdlet's output will include a webhook URI. Make sure to keep a record of the URI because you'll use it as a parameter when you set up the execution schedule for the Azure Logic App.

6.  If you specified the parameter WorkspaceName for Log Analytics, the cmdlet's output will also include the Log Analytics Workspace ID and its Primary Key. Make sure to remember URI because you'll need t

[2021-01-12 17:27] SwathiDhanwada-MSFT commented on #68779
@robertplata Thanks for your comment. The cost details has been documented at the end of the article. For your reference, attaching the screenshot.

![image](https://user-images.githubusercontent.com/48976275/104349800-674c3600-5529-11eb-9b1c-da18710ca689.png)

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will

[2021-01-12 17:27] #68779 closed

[2021-01-12 17:35] NavtejSaini-MSFT commented on #68489
@IanIsFluent Thanks for the timelines. We will definitely ask you to go to support if this issue comes again.

[2021-01-12 17:35] #68489 closed

[2021-01-12 17:35] BryanTrach-MSFT commented on #68304
@dtaylorus The document calls out that manually adding the connection string will cause the backup to fail.

MySQL in-app DBs should automatically backup without any additional configuration. Where do you see that your additional databases were not backed up?

[2021-01-12 17:35] asergaz commented on #68690
@pnarsi I confirmed that this doc does not apply to IoT Hub Device Provisioning Service and we recognize that a similar doc needs to be created for DPS. I have added the label **doc-idea** and assigned to @Wes777 to follow-up on this issue regarding the new doc creation.

If you are blocked on your project due to DR/HA capabilities of DPS please [Create an Azure support request]( https://docs.micr

[2021-01-12 17:36] NavtejSaini-MSFT commented on #68677
@emahagan11 Please let us know if you need any further help with this.

[2021-01-12 17:38] OD1995 opened #68789 "Unable to use temporary files - "Read-only file system""
Inside an activity in an Azure Durable Function, I am trying to upload a `moviepy` clip to Azure Blob Storage, but to do that, I need to download the file locally first. My code is as follows:
[code]

However, the line `clip.write_videofile(filename=tempFilePath)` causes the error below:

[code]

I have also tried using `tempfile.gettempdir()` and `tempfile.NamedTemporaryFile()`, but always get th

[2021-01-12 17:40] NavtejSaini-MSFT commented on #68678
@aamalvea Please check the feedback from the Cx and check if we can add the information to the document.

[2021-01-12 17:43] mattruma commented on #68430
Product team is looking into this for me.

[2021-01-12 17:46] SaiKishor-MSFT commented on #68430
Thanks Mattruma. Please update the thread if you can once you find a solution to the issue.

[2021-01-12 17:46] dtaylorus commented on #68304
The backup file contents do not include the additional schemas in the in-app database. The backup file includes only the 'localdb' schema. It does not include the 'matchdb' schema as expected in my example above.

In a disaster recovery scenario, all my data in the in-app database would be lost since it's not in the backup file.

My expectation is that the backup process includes the entire in-app

[2021-01-12 17:46] Krupakarreddin opened #68790 "It also deletes the disks which were used by pods in AKS cluster"
It also deletes the disks which were used by pods in AKS cluster which shouldnt be happening

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e457676b-4edc-1711-865b-84fe9f0d52e3
* Version Independent ID: 1e28e1b7-20e9-5bea-1bfe-d8864f7d9a78
* Content: [Find and delete unattached Azure managed and unmanaged disks - Azure

[2021-01-12 17:47] NavtejSaini-MSFT commented on #68778
@dev-d  We are checking if we can enhance the document with this information.

[2021-01-12 17:52] JamesTran-MSFT commented on #68440
@lipalath-ms
Since I haven't received anything from your end in a few days, I'll go ahead and close out this issue. If you have any other questions or require additional assistance, please let me know and I'd be happy to continue working with you on this issue.

Thank you for your time and patience throughout this issue!

[2021-01-12 17:52] #68440 closed

[2021-01-12 17:52] ramakrpr commented on #68717
@asergaz and @arduppal thanks both

ok it seems now working with 1.4, atelest i am able to connect to the local blob from storage explorer
however i see that the blob/file uploaded is not being transffered to Az storage a/c...but maybe another issue that needs to be checked .
the container logs though says that the blob container is found

[2021-01-12 17:54] DRAirey1 opened #68791 "This information is obsolete"
This page is obsolete.  There are no settings in the portal that resemble these instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48429aa1-bb8a-f8e0-8a83-dd9efbc1c71a
* Version Independent ID: 4b2ffa2f-0238-4194-d937-d9e21a737857
* Content: [Create FQDN for a VM in the Azure portal - Azure Virtual Machines](

[2021-01-12 18:05] cynthn commented on #68770
@riccom76 Thanks - good catch! I've added the piece about deleting the panther directory to the doc. It should be live later today.

#please-close

https://github.com/MicrosoftDocs/azure-docs-pr/pull/142943

[2021-01-12 18:05] #68770 closed

[2021-01-12 18:12] stevestein commented on #65467
@MaraSteiu - can you take a look at this one?

#assign:MaraSteiu

[2021-01-12 18:12] SaiKishor-MSFT commented on #68784
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-12 18:19] kistersr opened #68792 "View per-user device sync status steps are not returning anything"
The "View per-user device sync status" steps are not showing a device's sync data or settings. I've confirmed a device is syncing by resetting the device without preserving user data or settings and up on logon the settings are restored. However checking the settings in Azure AD per the instructions provided do not return anything. Can you confirm these steps are correct?

---
#### Document Detail

[2021-01-12 18:20] JamesTran-MSFT commented on #68767
@brolifen
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-12 18:23] petetian opened #68793 ""Azure Loud Balancer""
There's a small typo in this section:

It'd be "load balancer".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4f2ef2-d071-c86e-0afe-ff6aed852132
* Version Independent ID: 20998982-0546-5814-76a7-cd53abe9d590
* Content: [Overview of SQL Server Always On availability groups - SQL Server on Azure VM](https://docs.micro

[2021-01-12 18:27] shawnstl opened #68794 "PowerShell Deletion of Lock needs correction"
The step to delete the lock via PowerShell needs to be corrected as follows:

$lockId = (Get-AzResourceLock -ResourceGroupName exampleresourcegroup -ResourceName examplesite -ResourceType Microsoft.Web/sites).LockId
Remove-AzResourceLock -LockId $lockId.lockid

Also, this may be helpful for those attempting to delete a Resource Group Lock:

$lockId = (Get-AzResourceLock -ResourceGroupName exampler

[2021-01-12 18:29] JamesTran-MSFT commented on #68768
@iromanovsky
Thank you for your question!

You can enable 2-factor authentication with your MS Authenticator App by signing into your Google Account and navigating to the Security tab, then scroll down until you see "2-Step verification".
![image](https://user-images.githubusercontent.com/36619112/104356084-616e3a80-54c0-11eb-97a0-65765c587789.png)

Once you select 2-step verification and sign-in

[2021-01-12 18:30] fume opened #68795 "Align doc with recent changes in the Twitter Developer portal"
Twitter Developer portal gives you the chance to create a "Project" or a "Standalone App". Would be great to align the doc to the latest twitter developer portal naming and steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba7-610d-8ce8-0329a45cfa2c
* Version Independent ID: 52da97ee-890c-b696-d532-2a265f7

[2021-01-12 18:30] JamesTran-MSFT commented on #68787
@Evi-P
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-12 18:32] JamesTran-MSFT commented on #68792
@kistersr
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-12 18:32] JamesTran-MSFT commented on #68795
@fume
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-12 18:35] JamesTran-MSFT commented on #68795
@fume
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-12 18:35] sameer-kumar commented on #68728
I see that the **privatelink.azconfig.io** resource exists. Its also connected to my vNet. However, in the Overview tab, I don't see any entry for App Configuration Instance.

[2021-01-12 18:36] YidiQin opened #68796 "Azure DNAseq pipeline error"
I got an error message:

Failed processing sample PSCPA1369699: org.apache.spark.sql.AnalysisException: `dbfs:/FileStore/tables/output/genotypes` is not a Delta table.;

Hope to know is it an azure setting issue or a pipeline-related issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 444c543f-81a1-ba90-7fbb-f64bcaa9

[2021-01-12 18:36] DerekHerman-MSFT commented on #68773
@Elephantei Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-12 18:45] julieMSFT commented on #55588
@eliasvakkuri Hi, thank you for your reply. I am working on getting you an answer.

[2021-01-12 18:49] julieMSFT commented on #58619
@minhdn90 Hello, I am sorry for the delayed response. I am researching an answer for you.

[2021-01-12 18:54] jimmyca15 commented on #68728
@sameer-kumar That is good. Now for the private endpoint resource, you should see a view like below. It tells you what DNS record to add to the private DNS zone that you just mentioned.

The record name should be like "{myStoreName}.azconfig.io". For the example in this pic, assuming AppConfiguration's name is "mystore", I should add a record in the private DNS zone named `mystore.azconfig.io` tha

[2021-01-12 18:54] KranthiPakala-MSFT commented on #68796
@YidiQin

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

After reviewing the error message it seems to be more of Databricks issue. I would recommend reaching out in [Databricks community forum](https://forums.databricks.com/questions/index.html) for better

[2021-01-12 18:54] #68796 closed

[2021-01-12 18:56] shashishailaj commented on #68645
@abilous-ti This has been updated . We will now close this issue  . Thank you.

[2021-01-12 18:56] #68645 closed

[2021-01-12 18:59] SwathiDhanwada-MSFT commented on #68794
@shawnstl Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-12 19:06] cynthn commented on #68791
@DRAirey1 Thanks for the feedback! Yep, it got moved again. I've updated the doc with the new instructions. Should be live later this afternoon.

#plase-close

https://github.com/MicrosoftDocs/azure-docs-pr/pull/142959

[2021-01-12 19:08] iromanovsky commented on #68768
Thank you a lot @JamesTran-MSFT, i was able to set up the authenticator now. The thing that was confusing me is that you need first enable 2-step verification on Google using available methods (phone app from Google or SMS), and only after that, I was able to add MS Authenticator app

![image](https://user-images.githubusercontent.com/15823576/104360624-724f9800-5522-11eb-9b76-e1011e71a93d.png)

I

[2021-01-12 19:09] marcelkmfst opened #68798 "Link VS additional Site"
It´s confusing that the article recommends to create two VPN sites instead of just adding another link. At least based on my knowledge, the right way would be to add a second link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124ec59c-bf0d-50e1-8972-63ebb8870302
* Version Independent ID: 025b232f-8fc9-0a2a-3220-a6468

[2021-01-12 19:26] JamesTran-MSFT commented on #68702
@nittajef
Thank you for the clarification and additional details! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-12 19:27] Damag3d commented on #68658
Partners <> B2B guests. Maybe it is possible to expand the article. Often trying to stitch documentation from different places.

[2021-01-12 19:27] JamesTran-MSFT commented on #68768
@iromanovsky
Thank you for the quick update and I'm glad that I was able to help resolve your issue! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you again for your time and patience!

[2021-01-12 19:27] #68768 closed

[2021-01-12 19:27] SwathiDhanwada-MSFT commented on #68541
@TobiRoby By default, data is collected every three minutes. [Here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-cost#controlling-ingestion-to-reduce-cost) is a document which might help you in controlling ingestion of records to reduce cost. Kindly check and revert if you have further questions.

@MGoedtel Can you please provide your insights on this issue?

[2021-01-12 19:34] sameer-kumar commented on #68728
Yours's is different than mine. This is what I see:

![image](https://user-images.githubusercontent.com/3660733/104363440-2d584100-54e3-11eb-8d2a-eacb840bde81.png)

[2021-01-12 19:41] shine17 commented on #68214
@mayanknayar  - please update the document and explicitly mention those details in the doc. Please say that if its platform images, use "latest" version tag. If using custom images from SIG, no need to put "latest" version tag.

[2021-01-12 19:48] Grace-MacJones-MSFT commented on #68780
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-01-12 19:51] Grace-MacJones-MSFT commented on #68789
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-12 20:12] Dbakevlar commented on #63767
This document is being completely revamped and these changes will be made as part of it.  The 12.1 release is no longer supported via Oracle, so it will need to be updated substantially.

[2021-01-12 20:16] nitzdaniel commented on #41983
I cannot find an existing user voice for this. So this means no support for PIM at the end?

[2021-01-12 20:16] Sudharma commented on #68351
How do I run it with normal deprecated helm update? Is it possible or it cant be used in whichever mode.

[2021-01-12 20:19] MarileeTurscak-MSFT commented on #68729
@ajburnle, I believe @softwarecraft  is right and the user needs to be either global administrators or privileged role administrators to update other admin accounts.

I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/142978

Please confirm, @ajburnle

[2021-01-12 20:19] #68729 closed

[2021-01-12 20:25] KranthiPakala-MSFT commented on #68624
@sndipsrma Product team has created a work item to fix this issue. I'll track the work item and will keep this posted as soon as the fix is applied.

Hence based on this update, I'll close this issue. Please feel free to comment if you have further query.

Appreciate much for bringing this to our attention.

[2021-01-12 20:25] #68624 closed

[2021-01-12 20:33] rgg-amahajan opened #68802 "Please add Platform (32-bit or 64-bit) settings selection info on this page"
Hello, I was facing the following Node js out of heap space error yesterday.

`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
`
I did try with the `languageWorkers:node:arguments `application setting provided on this page. It did not work. In the end, the real issue was platform setting, which was by default 32-bit under Function App > Configuration > General Se

[2021-01-12 20:35] TravisCragg-MSFT commented on #68788
@akhassanov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-12 20:37] jimmyca15 commented on #68728
@sameer-kumar I see. That is because you configured your private endpoint to automatically create a record in the private DNS that it is connected to. You can see that private DNS by clicking the "privatelink.azconfig.io" link in the picture you provided. I believe you already did though and found no such record.

It's possible that you deleted the record. In that case you would need to recreate i

[2021-01-12 20:38] PatrickFarley commented on #68712
adding now
#sign-off

[2021-01-12 20:38] #68712 closed

[2021-01-12 20:41] AjayKumar-MSFT commented on #68637
Your feedback has been shared with the content owner for further review.

[2021-01-12 20:43] NickDrouin opened #68803 "Update the using methods has a typo."
The include section should be:

[code]

Not:

[code]

Otherwise the following is thrown:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c50e68cc-7a87-5832-1e7c-5579d2606a66
* Version Independent ID: 5c558bc7-d2be-d67d-2e35-a5b11155ce1a
* Content: [Author a RESTful endpoint - Azure Custom Providers](https://docs

[2021-01-12 20:49] TravisCragg-MSFT commented on #68793
@petetian Thanks for the feedback! I have fixed the spelling, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-12 20:49] #68793 closed

[2021-01-12 20:53] omerzubair commented on #68739
We can potentially do this . but this will not work if we have multiple AMPLS
![image](https://user-images.githubusercontent.com/7728453/104373014-6ab8df00-5574-11eb-85ba-0e02993e2e35.png)

[2021-01-12 20:55] omerzubair commented on #68739
	DNS zone to be configured: privatelink.monitor.azure.com
	A records to be configured in your case are as follow:
o	api                          pointing to 165.21.x.x
o	global.in.ai          pointing to 165.21.x.x
o	profiler                 pointing to 165.21.x.x
o	live                         pointing to 165.21.x.x
o	snapshot              pointing to 165.21.x.x

[2021-01-12 20:56] SaiKishor-MSFT commented on #68473
@varleg Are you pointing to this command?

11. To connect using the command line, type the following command:
sudo openvpn --config <name and path of your VPN profile file>&

If so, this is working fine for me without any errors. Please elaborate further regarding your issue so I can understand it better. Thank you!

[2021-01-12 21:00] MGoedtel commented on #68541
@TobiRoby & @SwathiDhanwada-MSFT - The Container Monitoring solution, as Swathi points out, collects data every 3 minutes from the cluster nodes by default. I am not intimately familiar enough with this solution to say with certainty that you can or cannot modify the collection settings.  The article that is referenced to control the collection settings is not applicable in this case, that is spec

[2021-01-12 21:01] swbhartims commented on #68752
@rohitnayakmsft - Here's the feedback I have shared for this doc

[2021-01-12 21:01] swbhartims commented on #68753
@rohitnayakmsft - Here's the feedback that I have shared for this doc

[2021-01-12 21:14] 50Wliu commented on #50352
FYI - this is still not fixed. Was the PR ever merged?

[2021-01-12 21:15] spelluru commented on #46767
The note was updated sometime ago based on feedback from other customers.

#please-clos e

[2021-01-12 21:15] #46767 closed

[2021-01-12 21:32] dlepow commented on #68522
Doc updated - thanks again!
#please-close

[2021-01-12 21:32] #68522 closed

[2021-01-12 21:34] tfitzmac commented on #68522
@dlepow - thanks for updating the doc!

[2021-01-12 21:42] chanuengg commented on #68763
Adding @Daniel Perlovsky<mailto:Daniel.Perlovsky@microsoft.com> for search result page improvements

From: Lester W <notifications@github.com>
Sent: Tuesday, January 12, 2021 2:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chandru Sugunan <csugunan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Steps for viewing Classifications are

[2021-01-12 21:43] YutongTie-MSFT commented on #68530
Hello.

If there is no special use, as mentioned in the [FAQ](https://azure.microsoft.com/en-in/services/kinect-dk/#faq)'s, The Azure Kinect DK is available for purchase in the United States, China, Germany, Japan and the United Kingdom.

image
![image](https://user-images.githubusercontent.com/38084098/104378019-2e39a480-54dc-11eb-9c53-dde307bc3a7e.png)

For purchase, availability and other queri

[2021-01-12 21:43] #68530 closed

[2021-01-12 21:44] spelluru commented on #29176
Going through all the issues. Checked with our dev manager.

If the Zone Redundancy is enabled for an Event Hubs namespace, we replicate metadata and data across availability zones. As long as one of the availability zones is available, clients should be able to send/receive events. It's all abstracted.

#please-close

[2021-01-12 21:44] #29176 closed

[2021-01-12 21:50] spelluru commented on #44511
We apologize for the delay. I am working through open issues. The doc is updated. The updated article should be live in 2 hours.

#please-close

[2021-01-12 21:50] #44511 closed

[2021-01-12 21:50] sameer-kumar commented on #68728
I deleted the configuration and now my UI looks similar to yours'. I went ahead and manually added a recordset in **privatelink.azconfig.io** DNS zone as per FQDN.
However, still getting the same error from my app.

[2021-01-12 21:56] spelluru commented on #58525
Do any of these help?
https://github.com/Azure/azure-event-hubs-for-kafka/tree/master/tutorials

If not, I will request our product team to add it to the backlog. Thanks.

[2021-01-12 21:56] hannesne opened #68805 "Please add guidance and samples for unittesting in Java and Python."
Please add guidance and samples for unittesting Azure Functions in Java and Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functio

[2021-01-12 22:02] spelluru commented on #49753
This isn't documentation feedback. Please post it to our Q&A forum for visibility. Thank you.
https://docs.microsoft.com/en-us/answers/topics/azure-event-hubs.html

#please-close

[2021-01-12 22:02] #49753 closed

[2021-01-12 22:05] jeevansd commented on #68766
@melvinga Sorry to hear that it is not working for you. First of all I accept that together we can make this article better. The #1 point you suggested makes sense to me as we should be specifying the URL which you need to use in the browser. For #2 Bretta Simon is just our test user. You should be creating the test user in this app matching with your Azure AD user. E.g. You have user in Azure AD

[2021-01-12 22:07] julieMSFT commented on #67463
@helloyesthisisdave Hi, I am sorry for the delayed response. I am working on an answer to your questions.

[2021-01-12 22:15] kenwith commented on #67829
@DJTomos - I discussed with @japere and in this case you can place the connector in the DMZ since you are not using pre-authentication. Pre-authentication typically limits traffic to only authenticated and verified traffic. This is a good note in the comments for this article for this use case. We will look to add this note in a way that we don't confuse other customers for more common scenarios.

[2021-01-12 22:15] #67829 closed

[2021-01-12 22:23] dennis-yemelyanov commented on #53768
@IainAdamsLabs it seems to work fine for me now and logs are correlated across resources.

Make sure to enable preview when looking at the request operation timeline in Application Insights. Maybe this correlation is part of a preview feature (which I have enabled).

[2021-01-12 22:25] ChaitanyaNaykodi-MSFT commented on #68802
Hello @rgg-amahajan,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-12 22:27] XiaoyuMSFT commented on #67641
#please-close

[2021-01-12 22:28] #67641 closed

[2021-01-12 22:30] khha opened #68808 "I dont see the export Logic App button in PowerAutomate"
[Enter feedback here]
Before it was possible to export a PowerAutomate by the "Export to Logic App" button. At this moment you dont see this button anymore on new PowerAutomates. You can only see it on old PowerAutomates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3cfabdb-11da-028e-d601-85b99c32f9b9
* Version Inde

[2021-01-12 22:33] #67387 closed

[2021-01-12 22:40] BharathNimmala-MSFT commented on #68775
@madrum Thanks for reaching out. Checking in to see if you still have any queries from the documentation stand point , for the document listed in this thread. Thanks

[2021-01-12 22:40] RonnieQuan commented on #68784
This question is critical, can you please get back to us ASAP? appreciate your help!

[2021-01-12 22:47] mksuni commented on #65554
This is completed please close

https://docs.microsoft.com/en-us/azure/mysql/flexible-server/tutorial-deploy-wordpress-on-aks

[2021-01-12 22:47] spelluru commented on #58525
Submitted an issue in the azure-event-hubs-for-kafka repo.
https://github.com/Azure/azure-event-hubs-for-kafka/issues/131

#please-close

[2021-01-12 22:47] #58525 closed

[2021-01-12 22:48] mksuni commented on #66437
This is fixed please close.

[2021-01-12 22:50] spelluru commented on #48904
I see a link to the article: https://docs.microsoft.com/en-us/azure/aks/spark-job in the [Use Spark](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-capture-overview#use-apache-spark) section of the article. I guess it has already been updated.

#please-close

[2021-01-12 22:50] #48904 closed

[2021-01-12 22:50] mksuni commented on #66329
Here is the doc link with the sample ARM template

https://docs.microsoft.com/en-us/azure/mysql/flexible-server/quickstart-create-arm-template
https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/quickstart-create-server-arm-template?tabs=portal%2Cazure-portal

[2021-01-12 22:52] MaxThom commented on #66437
Sweet !!

Thank you guys for the awesome work !

[2021-01-12 22:56] SaiKishor-MSFT commented on #68230
@mikkolaakko We have also released the capability to rewrite host header (which is currently in public preview). [The new document has the updated content,](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#limitations) the old doc page will be retired soon.

[2021-01-12 22:57] SaiKishor-MSFT commented on #68230
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-12 22:57] #68230 closed

[2021-01-12 22:58] kenkinkopf opened #68811 "Client specs to make this work would be nice - Link to show .NET 4.6.2 etc."
It would be nice if the client requirements are listed here as well or a reference link to what they are. (.NET 4.6.2)
https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-agent-issues?WT.mc_id=Portal-Microsoft_Azure_Automation#prerequisite-checks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda4ec71

[2021-01-12 23:08] ChaitanyaNaykodi-MSFT commented on #68805
Hello @hannesne,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-12 23:10] ChaitanyaNaykodi-MSFT commented on #68808
Hello @khha,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-12 23:10] SaiKishor-MSFT commented on #68430
@mattruma Would it be okay to share who you are working with so I can reach out to them regarding this?

[2021-01-12 23:19] ejarvi commented on #50352
Thanks for pointing this out.   Maybe it never got merged.

@Karishma-Tiwari-MSFT do you have a link to the PR so we can check status?

( adding @msmbaldwin and @emmajdong for awareness, this would be a good improvement in the docs  )

[2021-01-12 23:19] jimmyca15 commented on #68728
Now that we know the record exists, can you log into that VM and perform an nslookup for that fqdn. Like this:

[code]

It should resolve to the IP of the record you just created.

[2021-01-12 23:24] GiftA-MSFT commented on #68786
@ZanetaSzymanska we'll review your feedback and get back to you shortly. Thanks.

[2021-01-12 23:26] GiftA-MSFT commented on #68790
@Krupakarreddin thanks for reaching out. Can you please share the document you're providing feedback on and provide more context to your feedback? Thanks.

[2021-01-12 23:27] RonyMSFT commented on #67831
Hi, with storage accounts that are access controlled, you can choose to have a managed VNet created when you create the Synapse workspace. Once you have the workspace created with managed VNet, then you can create a Managed private endpoint to your storage account and approve the private endpoint connection at the storage account side and use that private link to establish communication from Spark

[2021-01-12 23:30] DerekHerman-MSFT commented on #68776
@smithcl167 Thanks for your question. Currently the full file is re-synced. For product feedback and feature requests I will refer you to our [feedback forum](https://feedback.azure.com/forums/217298-storage). This allows the community to add their voice and upvote popular ideas. The forum is monitored and responded to by our product teams.

[2021-01-12 23:35] kevinvngo commented on #68159
Thanks! Update the doc: https://github.com/MicrosoftDocs/azure-docs-pr/pull/143008

[2021-01-12 23:36] kevinvngo commented on #68159
#please-close

[2021-01-12 23:36] #68159 closed

[2021-01-12 23:49] traciezenti opened #68812 "The prepayment clause is confusing"
[Enter feedback here]
I was given feedback from an ISV that the wording on prepayment here is confusing.  We should clarify that MACC and CTCs are not prepaid.  We should also say that MACC and CTCs attach to enterprise contracts only.  We should also give an example of a type of prepayment vehicle (ie: what is the prepaid version of a MACC).

---
#### Document Details

⚠ *Do not edit this section

[2021-01-13 00:18] Hasan038 opened #68813 "Alphanumeric numbers text receive website"
Virtual number Text-verify
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2323405-845c-100b-0502-51e860dfebb6
* Version Independent ID: 3149b0cf-8b88-1fc6-71d4-8f74b4cb8d2d
* Content: [Create ILB ASE v1 - Azure App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environmen

[2021-01-13 00:19] SaiKishor-MSFT commented on #68784
@RonnieQuan I am looking into this currently and will update you soon.

[2021-01-13 00:25] omerzubair opened #68814 "Does the BYOD storage account need to have Blob Private endpoint?"
Does the BYOD storage account need to have Blob Private endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 875d94f8-8268-f317-ceac-c58d700d165c
* Version Independent ID: 8ebf6af7-a6df-2b4e-5705-5e38b1acf1b1
* Content: [Configure BYOS (Bring Your Own Storage) for Profiler & Snapshot Debugger - Azure Monitor](https

[2021-01-13 00:27] Hasan038 commented on #68813
**Virtual** text verify:
US Number
+12345293986
+15672449995
+15672481837

 '''''''   Refresh     """''

Receive this code:-
1.
2.
3.
4.
5.
  Please contacts supporter:
  Email:hridoyhoosain65@gmail.com
   Phone number:+8809638821650

[2021-01-13 00:32] KranthiPakala-MSFT commented on #68786
@ZanetaSzymanska  Thanks for reaching out. Could you please confirm if your trying out exact steps as described in the tutorial or a specific scenario as per your requirement?

If your issue is specific to a use case scenario,  I would recommend to post your query in [Microsoft Q&A forum](https://docs.microsoft.com/answers/products/azure?product=all) or [Stackoverflow](https://stackoverflow.com/).

[2021-01-13 00:35] arbrod13 opened #68815 "Azure Pipelines Environments - Virtual Machines"
The steps on how to apply the Powershell script to the Virtual Machines would be extremely helpful. The script has questions that must be answered. Also, if we have pipelines from multiple different repos/projects going to the same virtual machines are there any special steps that need to occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-13 00:38] BharathNimmala-MSFT commented on #68812
@traciezenti Thanks a lot for resurfacing the customer feedback here to improve the documentation. I have assigned the issue to our document author to further review the feedback and update the document accordingly.

[2021-01-13 00:55] BhargaviAnnadevara-MSFT commented on #68803
@NickDrouin Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-01-13 01:05] Krupakarreddin commented on #68790
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/find-unattached-disks

[2021-01-13 01:06] BharathNimmala-MSFT commented on #68814
@omerzubair Thank you for reaching out , we will review your query and circle back at the earliest.

[2021-01-13 01:09] BharathNimmala-MSFT commented on #68811
@kenkinkopf Thank you for your feedback, our team will review it and get back to you at the earliest.

[2021-01-13 01:10] SaurabhSharma-MSFT commented on #68604
@alenroki yes, that is correct as the aggregation acts as a source with 83 rows for the Sink.  If you want to create a single file then you need to select "Output to Single File"
![image](https://user-images.githubusercontent.com/38112130/104393229-ce052b80-54f8-11eb-8e75-db33040a2dbb.png)
and set the Partition option as "Single Partition" under optimize.
![image](https://user-images.githubusercon

[2021-01-13 01:16] softwarecraft commented on #68611
The screen snaps on this page are way out of date, don't match current experience integrated into main Azure Management portal. Please review and update all snaps and step by step procedures to ensure they match to current portal UX. Thanks

[2021-01-13 01:16] cynthn commented on #68791
#please-close

[2021-01-13 01:16] #68791 closed

[2021-01-13 01:17] hecflores opened #68817 "ADF DevOps Solution to Hot Fixes needs a lot of work"
We have been struggling with ADF DevOps as a whole. After reading the document on how to handle hotfixes everything seems very against best practices where we need to export the template manually and commit to the "production" publish branch with no gated checking before "manually committing". Also, in the last line **"Add the changes from the hotfix to the development branch so that later release

[2021-01-13 01:21] RonnieQuan commented on #68784
@SaiKishor-MSFT  Thank you so much, looking forward to your guidance!

[2021-01-13 01:26] Ray5254 opened #68818 "Master"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-01-13 01:27] softwarecraft commented on #64827
@jsavage8 you are asking a valid question but in the wrong place. This doc page is about AAD Connect Health Monitor which is essentially of no concern to you. You need to read up on AAD Connect Sync config, attribute versus AD group based sync filtering, how AAD identities change from Sync status = "In cloud" to "Synced from on-prem", and how to revert this, eg remove from sync scope which will so

[2021-01-13 01:34] Samantha-Yu commented on #68474
@alenroki Thanks for the feedback. This article has been refreshed accordingly. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-01-13 01:34] #68474 closed

[2021-01-13 01:36] softwarecraft commented on #62873
@cchapin-ms fyi page last modified date doesn't reflect true last update date for any page in MS Docs site per MS reply to an issue that I opened last fall. It only reflects content authors notion of when last major content refresh happened and they bothered to toggle the date value in this metadata field. Instead navigate to the Content Source URL and look at the commit history. For this page it

[2021-01-13 01:39] softwarecraft commented on #33390
@billmath This page was not updated adequately or at all by whatever work item you were referring to. There are several new issues reporting that page content is still out of date. This issue should not have been closed.

[2021-01-13 01:51] softwarecraft commented on #62873
@JamesTran-MSFT For example the [instructions to config email notification](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-operations#to-enable-azure-ad-connect-health-email-notifications
) don't correspond to current UX at https://aka.ms/aadconnecthealth (link provided later in article).

Steps 1-3 don't make sense
1. Open the Alerts blade for the service for

[2021-01-13 01:54] ChaitanyaNaykodi-MSFT commented on #68565
Hello @DanielMeixner, Thank you for reaching out.
In the "[Other](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-other)" section of the this page, I see that the `az functionapp create` command has `--runtime custom` as shown below
![image](https://user-images.githubusercontent.com/67453298/10439569

[2021-01-13 01:59] SnehaGunda commented on #67151
@Craigmeister68 sorry for the long delay, here are the answers to your questions. I will make some updates to the doc to capture this detail.

_'There is "upload of json" from a URL. Is the understanding that the destination would be Azure storage?_

It's not mandatory for the destination to be Azure storage. The file must be an array of valid JSON objects and it should be accessible over the publ

[2021-01-13 02:01] LHB6540 commented on #68586
Thanks for your answer ,  got it

[2021-01-13 02:01] #68586 closed

[2021-01-13 02:02] Krupakarreddin commented on #68790
Please close this issue

[2021-01-13 02:12] ram-msft commented on #68640
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-13 02:12] #68640 closed

[2021-01-13 02:13] SnehaGunda commented on #67151
I added some content in the above PR, the change will be live tomorrow. We will close this issue now.

#please-close

[2021-01-13 02:13] #67151 closed

[2021-01-13 02:15] omerzubair opened #68819 "Not able to find Azure AD object ID for "Diagnostic Services Trusted Storage Access""
I was not able to see the "Diagnostic Services Trusted Storage Access" AAD app in the Azure AD .
need the object id/client id please.
Is there one "Diagnostic Services Trusted Storage Access" in the whole tenant? strange its not documented anywhere on what this service principal does?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-13 02:22] rido-min opened #68820 "Installing the runtime from the 1.2 preview branch installs the latest stable"
The installation instructions in the 1.2 preview branch do not install 1.2, instead I got the latest release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge](https://docs.microsoft.com/