[2020-10-07 20:54] BharathNimmala-MSFT commented on #63694
@lgayhardt Thank you for helping on this thread.

@BitSchupser Thanks again for taking time to share your feedback and improve our documentation. As per latest update from @lgayhardt on the [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/63695#issuecomment-705101265) , at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close t

[2020-10-07 20:54] #63694 closed

[2020-10-07 21:00] WinstonHoward-MSFT commented on #63973
Hi @mbiver,

The command your trying to use is part of the ``Azure PowerShell Service Management module``. If your using the Azure Cloud Shell this module isn't installed by default as its been replaced by the new ``Az`` Module. To get the module in Powershell simply execute: ``Install-Module -Name Azure`` using Powershell. After you have the module installed it works like a charm. For more please

[2020-10-07 21:00] #63973 closed

[2020-10-07 21:01] laboshinl commented on #63950
Oh, btw, variable name ‘targetLocale‘ is a bit confusing, ‘targetLocation’ will be more clear. Thanks, @roygara

[2020-10-07 21:06] b-juche commented on #63955
Thanks, @tbugfinder -- We'll work with our content owner on clarifying your question.

[2020-10-07 21:10] ChaitanyaNaykodi-MSFT commented on #63967
Hello @rwatjen,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-07 21:11] MayMSFT commented on #63516
yes. workspace PL is the only pre-req

for datastore creation, thanks for the feedback. We will think through it and work on improvement.

[2020-10-07 21:15] brianbar-MSFT opened #63997 "Update Staged Rollout documentation to better define intent and use cases of the feature"
The documentation should provide the intent and scope of the feature earlier in the documentation. While the FAQ entry below does a decent job of explaining why you shouldn't be in a "co-existence" state for too long it doesn't provide enough details. Also, this should all be covered early in the document.

The intent of the feature to help organizations to test migrating users before migrating th

[2020-10-07 21:20] vikramdadwal opened #63999 "For -Each Activity iteration is failing, but pipeline succeeded ?"
I have one For-Each Activity, which iterates 4 times. Out of those 4 runs, one of the run failed, but still the pipeline is shown as succeeded ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-5787-a6ca7ac5bdae
* Version Independent ID: d2862926-36d8-4e84-0c93-afdef9e373e2
* Content: [ForEach activity

[2020-10-07 21:28] BharathNimmala-MSFT commented on #63708
@pisees Thanks again for reaching out , hope the above information helps. I have raised a PR to update the document once its reviewed and approved it will be merged with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, however if you have any further queries ple

[2020-10-07 21:28] #63708 closed

[2020-10-07 21:38] tritm78 opened #64000 "Issue with notebook-scoped lib failing to find the dependent cluster-scoped lib"
[Enter feedback here]
Our app hit an issue with ModuleNotFoundError recently with Databricks Runtime 6.4 and it looks this is a databricks issue, so wanted to reach out.

The problem can happen as follows:
1. Two libraries A.B and A.C; A.C depends on A.B
2. Install A.B as cluster-scoped lib and it goes to default location, e.g. /databricks/python/lib/python3.7/site-packages/A/B folder
3. Install A

[2020-10-07 21:42] dimitri-furman commented on #63524
Hi @Bouke - thanks for bringing this up. For DTU databases, the IOPSs per DTU we publish include IO reading from data files, and background (checkpoint, lazy writer) IO writing to data file. Both types of IO are always present in read-write customer workloads, however they are accounted differently between the DTU and vCore models. In the DTU model, there is a separate limit for background IO. Thu

[2020-10-07 21:42] MikeChristensen opened #64001 "Can you have nested sections?"
The example is pretty straight forward for multiple top-level sections with parameters:

[code]

However, can you have nested sections?  Two ways I could think to do it:

[code]

Would result in an IConfiguration key called `MyConfigSection:SubSection:CacheSize`.  The other way would be to flatten the list:

[code]

Or perhaps just:

[code]

Can you elaborate a bit more in the docs on the best app

[2020-10-07 21:48] Roblarson opened #64002 "Firewall requirements for Storage Explorer"
[Enter feedback here]

Please document the firewall port and protocol requirements for using Storage Explorer.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Explorer troubleshooting guide](https

[2020-10-07 21:49] mmacy commented on #63717
@ksurendra Thanks for the added detail. We're not encouraging the use of ROPC for most scenarios, and as such, this hasn't been a sample we've prioritized. While we do encourage contributions from outside Microsoft to _existing_ code samples under the Azure-Samples org, it's really reserved for Microsoft-originated, officially supported samples. One of the things to consider is whether you're up f

[2020-10-07 21:50] djpmsft commented on #63999
Do you have an 'on-failure' condition coming from the foreach? Was the foreach activity shown as a failure?

[2020-10-07 22:01] MikeChristensen commented on #64001
Ok, messed around with it a bit and having colons in the Parameter Names resulted in a deployment error (with no helpful information of course).  However, _this_ appears to work:

[code]

I can bind to the following configuration:

[code]

Curious if this is best practice or there's a better way to do it.  Judging from the schema (XSD file) it doesn't _appear_ you can nest `<section>` nodes.

[2020-10-07 22:03] mmacy commented on #63717
#reassign:mmacy

[2020-10-07 22:24] ksurendra commented on #63717
Thanks @mmacy , i understand. If this gets complex to get the whole example into ms samples, no worries. I will leave make the repo "public" from my personal account.

[2020-10-07 22:29] sangonzal commented on #63717
@mmacy Thanks.

@ksurendra We would happily take a look at a PR to get a B2C Username/Password sample to https://github.com/Azure-Samples/ms-identity-java-desktop. The sample would have be use MSAL4J, and should follow the format of the other samples in that repository, including a README with instructions. This is quite a bit of work, so another alternative as you mention above, is just to keep t

[2020-10-07 22:31] himanshusinha-msft commented on #63883
Hello @gopasupa  ,
Can you please confirm if your Adb is on premium tier ?

[2020-10-07 22:31] NavtejSaini-MSFT commented on #63844
@JonCole Please confirm if we have guidance regarding this or perhaps a use case that we can share.

[2020-10-07 22:34] NavtejSaini-MSFT commented on #63989
@skalingclouds We are checking this and will get back to you.

[2020-10-07 22:35] anilsoni85 opened #64003 "Instructions are not clear"
1. In azure portal and inside API Management Service, where do I need apply policy xml.
2. I cannot find option Enable negotiate client certificate option for the Gateway endpoint under Custom Domains. Is it available only for standard, Premium and developer SLA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-

[2020-10-07 22:37] DerekHerman-MSFT commented on #64002
@Roblarson
Thanks for the feedback! This is mentioned on the [Azure Storage Explorer security guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-security#general): _"Storage Explorer uses HTTPS by default. Some scenarios allow you to use HTTP, but HTTP should be used only as a last resort."_ I agree that it might be worth calling this out on the troubleshooting page thou

[2020-10-07 22:42] himanshusinha-msft commented on #64000
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-10-07 22:42] ksurendra commented on #63717
@sangonzal
I have not used MSAL4J, here's the example:
https://github.com/ksurendra/azure-samples/tree/main/java-azure-ad-b2c

[2020-10-07 22:46] vikramdadwal commented on #63999
@djpmsft

1. No I do not have any onfailure condition on For-Each

![image](https://user-images.githubusercontent.com/10174566/95395629-ed663a00-08b3-11eb-9237-e08394b1f2c6.png)

Inside For each I have 2 activities:

![image](https://user-images.githubusercontent.com/10174566/95395736-26061380-08b4-11eb-98f5-22f5edbeec32.png)

2. No, For-Each was not shown failure (That's what I am wondering, it s

[2020-10-07 22:57] MicrosoftGuyJFlo commented on #63972
The commands accept piped inputs from the get command.

Example of tweaking the get to pipe to another PowerShell command instead of outputting to csv...

[code]

[2020-10-07 22:58] MicrosoftGuyJFlo commented on #63972
#please-close

[2020-10-07 22:58] #63972 closed

[2020-10-07 22:59] djpmsft commented on #63999
@chez-charlie can confirm, but because you have the web activity within the foreach on a failure condition, the iteration will likely show as 'success'.

Here is a blog Charlie wrote about error handling in ADF: https://techcommunity.microsoft.com/t5/azure-data-factory/understanding-pipeline-failures-and-error-handling/ba-p/1630459

[2020-10-07 23:07] rgamage opened #64004 "No examples for Output case"
As with Triggers, would be nice to have some examples of the Output use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad004df-f275-bc43-5de9-2a7eed9260d8
* Version Independent ID: 84a11ee5-3e98-3c28-ab41-3b776598894c
* Content: [Azure Cosmos DB bindings for Functions 1.x](https://docs.microsoft.com/en-us/azure/

[2020-10-07 23:35] vikramdadwal commented on #63999
Thanks @djpmsft .  It worked. But its confusing for the end user and also now we need to put a activity in place which is actually not required. Just my 2 cents :) thanks.

[2020-10-07 23:41] KranthiPakala-MSFT commented on #63999
Thanks much @djpmsft for sharing the article.

Hi @vikramdadwal , As called out in the blog, your ForEach implementation falls under TRY-CATCH block.

TRY-CATCH block:

- when previous activity succeeds: the node activity, Upon Failure, is skipped and its parent node succeeds, so overall pipeline succeeds
- when previous activity fails: the node activity, Upon Failure, enacted and overall pipeline

[2020-10-07 23:53] KranthiPakala-MSFT commented on #63999
@vikramdadwal : Thanks for your inputs/feedback. I would request you to please share your thoughts/feedback in ADF user voice channel: https://feedback.azure.com/forums/270578-data-factory.

All the feedback shared in this forum are actively monitored and reviewed by ADF engineering team. Please do share the link once it is created, so that other users can up-vote and comment on your idea/suggesit

[2020-10-07 23:53] #63999 closed

[2020-10-07 23:54] stevestein commented on #61682
@xuegao0112 - thanks for the feedback.

The original article from this issue has been redirected to: https://docs.microsoft.com/azure/azure-sql/database/monitor-tune-overview

The log analytics details are in the [Azure Monitoring](https://docs.microsoft.com/azure/azure-monitor/platform/resource-logs#collect-to-log-analytics-workspace) docs.

Thanks

#please-close

[2020-10-07 23:54] #61682 closed

[2020-10-08 00:00] stevestein commented on #59902
@aghababyan-gohar - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:00] #59902 closed

[2020-10-08 00:03] stevestein commented on #59627
@tx5westmt  - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:03] #59627 closed

[2020-10-08 00:05] WinstonHoward-MSFT commented on #63864
Hi @PehrGit ,

Just trying to clarify your ask. Your requesting a `nolock` parameter to be added to the Azure File Volume Object [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups#azurefilevolume-object)? As in a new feature? Thanks for your patience.

[2020-10-08 00:07] stevestein commented on #52513
@denimad - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:07] #52513 closed

[2020-10-08 00:07] stevestein commented on #44546
@avbhaskar  - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:08] #44546 closed

[2020-10-08 00:08] stevestein commented on #48226
@cbailiss - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:08] #48226 closed

[2020-10-08 00:10] stevestein commented on #56792
@waqar-anwar1990 - thanks for the feedback.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:10] #56792 closed

[2020-10-08 00:16] djpmsft commented on #63999
@vikramdadwal I agree, just the messenger here :)

[2020-10-08 00:18] stevestein commented on #54283
@nirnaymsft - thanks for the feedback. Apologies for the very slow reply.

Were you ever able to get a successful export using PowerShell?

[2020-10-08 00:21] stevestein commented on #56910
@StingyJack - thanks for the feedback. Apologies for the very slow reply.

We have an internal work item (1780954) to update the collection of data sync articles. Unfortunately, we currently don't have an estimated time of completion for this.

Thanks

#please-close

[2020-10-08 00:21] #56910 closed

[2020-10-08 00:42] jessejiang0214 commented on #63929
Hi @SnehaAgrawal-MSFT,

The API of that nuget has been changed
<img width="422" alt="Screen Shot 2020-10-08 at 11 41 27 am" src="https://user-images.githubusercontent.com/4516628/95402376-46d57400-095b-11eb-84bb-45d63aef94f6.png">
There's no callback parameter for RegisterNativeAsync API

[2020-10-08 01:06] s0041464 opened #64006 ""New version""
[Enter feedback here]

The term "new version" is used in headings.
Is this due to template from updating?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43125fc1-f1fb-fa8c-69a6-7866a1b3a1fe
* Version Independent ID: 174dbe2c-7469-a63a-ffd6-757272ce5c50
* Content: [Activate my Azure AD roles in PIM - Azure Active Direct

[2020-10-08 01:06] #64006 closed

[2020-10-08 01:07] s0041464 commented on #64006
referring to new VS old version of PIM.
Would be better saying: "activate role with new version of PIM" etc

[2020-10-08 01:09] MayankBargali-MSFT commented on #62804
@ncoder  We will now proceed to close this thread. If there is any issue testing the premium plan feel free to open an azure support ticket or post your issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)

[2020-10-08 01:09] #62804 closed

[2020-10-08 01:15] MayankBargali-MSFT commented on #63657
@Kapkan-Lesion I have got an update from my team that they are working on fixing the issue and I will update this thread once the issue is fixed in the future. For now, I will go ahead and close this GitHub issue as it is primarily for the document issues. Feel free to get back to me if you have any concerns.

[2020-10-08 01:15] #63657 closed

[2020-10-08 01:22] skuffer commented on #34677
I assume if Table Access Control and Can Attach To permissions are a applied he user cannot autostart a cluster from PowerBI...is there a solution for this?

[2020-10-08 01:38] Kumar3010 commented on #63969
Hi Monika,

here is the url https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-overview and screen shot of the same. would like to know the documentaton on the jobs and queue using Azure Redis cache. there is no hyperlink to it. appreciate your help
![image](https://user-images.githubusercontent.com/42348194/95405295-0e22a400-0935-11eb-9d3a-ac8adec93f9c.png)

[2020-10-08 02:52] BharathNimmala-MSFT commented on #63988
@Blackbaud-ChrisBlythe - Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-10-08 02:54] BharathNimmala-MSFT commented on #63993
@kapntech Thanks a lot for your feedback and helping us improve our documentation. We will review the feedback and update the document accordingly.

[2020-10-08 03:03] SubhashVasarapu-MSFT commented on #63977
@gregdegruy, Thanks for reaching out. We will investigate and update this thread.

[2020-10-08 03:30] stevestein commented on #57347
@fschmied - thanks for the feedback.

We updated the article to clarify that it's EF Core that supports batching, and not EF 6.

Thanks

#please-close

[2020-10-08 03:30] #57347 closed

[2020-10-08 03:43] ecfan commented on #63398
@ekalyvio: The updated topic should go live sometime tomorrow after 11 AM Pacific Time.

[2020-10-08 03:54] techiechap opened #64011 "Creates New VNet & Subnet"
[New-AzVM `
    -ResourceGroupName "RG-CK-WVD-HPOOL" `
    -Name "TESTVM" `
   -ImageName "MangedImage" `
    -Location "West US" `
    -VirtualNetworkName "Existing Vnet" `
    -SubnetName "Existing Vnet" `
    -SecurityGroupName "Existing NSG" `
    -PublicIpAddressName "myImagePIP" `
    -OpenPorts 3389
It creates New vnet & subnet in the Resouce group mentioned above, existing vnet & subnet re

[2020-10-08 04:04] SnehaAgrawal-MSFT commented on #63976
@sjosyula3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-08 04:08] PramodValavala-MSFT commented on #63746
@divyaswarnkar Could you please share insights on this?

[2020-10-08 04:19] AnuragSharma-MSFT commented on #63981
@jkatebin Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:24] AnuragSharma-MSFT commented on #63990
@notoriousedd Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:26] AnuragSharma-MSFT commented on #63994
@mykola-ivadolabs Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:27] AnuragSharma-MSFT commented on #63997
@brianbar-MSFT Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:29] AnuragSharma-MSFT commented on #64001
@MikeChristensen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:30] AnuragSharma-MSFT commented on #64003
@anilsoni85 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:31] nirnaybansal commented on #54283
@stevestein I just checked and it is working now. Thanks.

[2020-10-08 04:31] AnuragSharma-MSFT commented on #64004
@rgamage Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-08 04:37] stevestein commented on #54283
#please-close

[2020-10-08 04:37] #54283 closed

[2020-10-08 04:48] daviburg opened #64012 "AS2 version support information"
Consider adding that the AS2 version implemented and supported by the connector is version 1.2. The "AS2-Version" header for the generated messages from this connector will accordingly say 1.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b26c235-7a10-35c5-bdac-100ad381e495
* Version Independent ID: ec90ba39-6cab-4f

[2020-10-08 04:50] cijothomas commented on #63526
The links will be fixed tomorrow. The examples are moved from https://github.com/microsoft/ApplicationInsights-Home repo to https://github.com/microsoft/ApplicationInsights-dotnet.

[2020-10-08 04:52] cijothomas commented on #63526
Does this include a console application running as an Azure WebJob?
-Yes. But there may be alternate option for WebJob - https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#add-application-insights-logging

[2020-10-08 04:53] morphvale commented on #60161
Any updates on this?

[2020-10-08 04:56] cijothomas commented on #63526
Also, your example uses the ILogger API. Correct me if I'm wrong, but this API is available to .NET Core, and not .NET Framework, right?

https://www.nuget.org/packages/Microsoft.Extensions.Logging ILogger API has netstandard2.0 target, so it can work in any netstandard2.0 implementations, which include .NET Core and .NET Framework as well.
https://docs.microsoft.com/en-us/dotnet/standard/net-stan

[2020-10-08 04:59] cijothomas commented on #63491
the doc is being updated to make this more obvious. Expect that doc change to be live tomorrow.

[2020-10-08 05:02] cijothomas commented on #63376
.Active is deprecated for .NET Core/Asp.Net Core applications only. The doc in question already shows the right way to configure sampling for ASP.NET (uses .Active) and ASP.NET Core (without using .Active).

[2020-10-08 05:05] taimila commented on #47611
Thank you for your replies @gfaraj and @RyanHill-MSFT. Is this issue the best place to follow the progress on this matter or is there some better forum for that?

[2020-10-08 05:14] cijothomas commented on #62960
The debugger view shows the entire telemetry packet.
The screenshot above is a custom experience - There are no active investments in this area, so its unlikely to modify this to show min/max/sum etc for metric.

[2020-10-08 05:16] BhargaviAnnadevara-MSFT commented on #63583
@alex-frankel The changes are now live in the original docs! Please take a look.

[2020-10-08 05:23] psmanhas commented on #63994
@mykola-ivadolabs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-08 05:24] KalyanChanumolu-MSFT commented on #63777
@vladvino FYI feedback from customer on API management documentation.

@anil8623 Technical support on GitHub is limited to documentation issues only.
Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility to other community members who may have experienced a similar issue

[2020-10-08 05:26] kennethvs commented on #62729
Hi @SaurabhSharma-MSFT - any update on this?

[2020-10-08 05:27] KalyanChanumolu-MSFT commented on #63800
@MasayukiOzawa Thank you for taking the time to report the issue.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-10-08 05:30] psmanhas commented on #64001
@MikeChristensen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-10-08 05:30] KalyanChanumolu-MSFT commented on #63881
@rferrucci Thank you for reaching out.
Technical support on GitHub is limited to documentation issues only.
Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility.

[2020-10-08 05:30] psmanhas commented on #64001
@MikkelHegn Can you please check and add your comments on this doc update request as applicable

[2020-10-08 05:31] KalyanChanumolu-MSFT commented on #63881
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-08 05:31] #63881 closed

[2020-10-08 05:32] psmanhas commented on #63994
@macolso Can you please check and add your comments on this doc update request as applicable

[2020-10-08 05:33] psmanhas commented on #64011
@techiechap Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-10-08 05:35] cijothomas commented on #58260
@lucasmaj Thanks for catching this! I have made the changes to this doc, and this should be live soon.

[2020-10-08 05:37] AjayKumar-MSFT commented on #63644
We will close this out, but if you feel you need more information please just let us know.

[2020-10-08 05:37] #63644 closed

[2020-10-08 05:53] cijothomas commented on #57716
One more +1 from another customer.

[2020-10-08 05:55] GitaraniSharma-MSFT commented on #63859
@GavinJin8 , The virtual WAN PG team has confirmed that, this behaviour is normal through all virtual WAN customers. We update the effective routes when all components are updated and this takes about 8 to 10 mins.

@cherylmc , I have looped you in the internal email. could you please review the same and update the doc accordingly?

[2020-10-08 06:01] CHEEKATLAPRADEEP-MSFT commented on #63834
@Chireven  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-08 06:01] #63834 closed

[2020-10-08 06:06] jamesbannan commented on #63850
An update to this - the inbound port was a red herring. Turns out that the AML compute instances were attempting to talk to Azure Monitor. Adding this outbound rule resolved the issue (and deleting the inbound rule for TCP port 16384):

![image](https://user-images.githubusercontent.com/8892953/95421022-46070700-0988-11eb-9fd5-8978c30c61b7.png)

[2020-10-08 06:18] JavedEqbal commented on #58539
Any updates on this ?

[2020-10-08 06:18] JavedEqbal commented on #58539
@mssaperla

[2020-10-08 06:24] Expecho commented on #62960
Ok. Do you know whether this is open source and accepts PRs?

[2020-10-08 06:25] cijothomas commented on #62960
No :( Its not open source.

[2020-10-08 06:26] cijothomas commented on #62960
Please use this link to report the issue/feedback for VS: https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019#report-a-problem

[2020-10-08 06:27] vipulsparsh commented on #63759
@liambolling Feel free to tag me in your comment if you have any question.

[2020-10-08 06:27] #63759 closed

[2020-10-08 06:27] cijothomas commented on #62960
cc: @vijayrkn who suggested the above link report VS issues.

[2020-10-08 06:46] #62960 closed

[2020-10-08 06:47] souravmishra-msft commented on #63997
Hello @billmath, Can you please take a look at this and update the doc accordingly.

[2020-10-08 06:48] PaulARoy commented on #63691
Thanks for closing the issue, it's indeed resolved.

@RyanHill-MSFT  I don't feel comfortable opening a new issue on the documentation github page for my token depreciation problem, is there any better place?

[2020-10-08 06:48] souravmishra-msft commented on #63602
Hello @LukeCarrier, it would be great if you can share some more light on this so that we can take this up further.

[2020-10-08 06:49] souravmishra-msft commented on #63701
Closing this thread since received no more queries on this.

[2020-10-08 06:49] #63701 closed

[2020-10-08 06:50] Grace-MacJones-MSFT commented on #63756
Hi @magnarw ,
Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary. thanks

[2020-10-08 07:03] vnextcoder opened #64013 "New LFU Policies should also be listed."
[Enter feedback here]
The new LFU Policies as per Redis 4.0 are live on Azure Portal, but these are not updated in the Documentation.
Neither it is updated in the Learning documentation at https://docs.microsoft.com/en-us/learn/modules/work-with-mutable-and-partial-data-in-a-redis-cache/6-eviction-policies .

Please could you add the 2 new Max-Memory Policies in the Documentation as well as Learni

[2020-10-08 07:06] PorusDE commented on #25107
This is still an issue. The error nothing to do with removing ON option in lookup, the code was working fine earlier started throwing the error. Can we please check this.

{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'item().SourceLink' cannot be evaluated because property 'SourceLink' cannot be selected.
        Property selection is not supported on values of type 'String

[2020-10-08 07:06] jairbubbles commented on #63376
Well on my case it's a .NET Core application (WPF) so I don't think it's covered by the doc.

[2020-10-08 07:09] tnorja commented on #46462
Is this feature still in preview?

[2020-10-08 07:12] cijothomas commented on #63376
I see. What document do you use to onboard to the SDK for Wpf application? Is it the worker service doc?

[2020-10-08 07:16] cijothomas commented on #63376
If workerservice doc, then this is being addressed: https://github.com/MicrosoftDocs/azure-docs/issues/58260

[2020-10-08 07:20] #58260 closed

[2020-10-08 07:37] jairbubbles commented on #63376
I think the Wpf documentation. Later on (like weeks later) I wanted to add sampling and I ended up on the sampling page.

Please note that my application is temporarily multi-targeting .NET Core 3.1 and .NET Framework 4.7.2.

Also, with .NET 5 coming I believe `TelemetryConfiguration.Active` will be obsolete for everyone.

[2020-10-08 07:37] NT-D opened #64014 "Would you please describe how to add dimensions to my metrics ?"
I want to use event hub entity when I use Log Analytics. I find this document, but not sure how I can add this dimension.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-metrics-azure-monitor#metrics-dimensions

I'm happy if you describe hot to add it via Azure Portal or add document link about how to add it.

[Updated] I can use it in Azure Monitor, but also want to use it in the Log

[2020-10-08 07:39] DNAPF-hub commented on #55049
@faulky i fixed the time on the local machine that was off by 6 minutes. and worked 100% thanks

[2020-10-08 07:55] Satyala commented on #37847
Specifying the tenant Id of the organization instead of default value "common"  worked fro me.
Note: We have multiple tenants

[2020-10-08 07:57] GuyPartridge commented on #63701
Hi,

In your response you state the issue was fixed in 1809 but the staged rollout doc says 1909.  Which is it?

Thanks,

Guy

________________________________
From: souravmishra-msft <notifications@github.com>
Sent: Tuesday, 6 October 2020, 17:00
To: MicrosoftDocs/azure-docs
Cc: Guy Partridge; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Win10 1909 prerequisite for HDJ (#63701)

Hello @GuyPart

[2020-10-08 08:01] GuyPartridge commented on #63701
Sorry in the docs it says -
If you are deploying Hybrid Azure AD or Azure AD join, you must upgrade to Windows 10 1903 update.
But you are saying the dual state issue was fixed in 1809?

Thanks,

Guy

________________________________
From: souravmishra-msft <notifications@github.com>
Sent: Tuesday, 6 October 2020, 17:00
To: MicrosoftDocs/azure-docs
Cc: Guy Partridge; Mention
Subject: Re: [Microsof

[2020-10-08 08:03] MikkelHegn commented on #64001
@psmanhas - please assign to @peterpogorski

[2020-10-08 08:18] psmanhas commented on #64001
sure @MikkelHegn

[2020-10-08 08:19] psmanhas commented on #64001
@peterpogorski Can you please check and add your comments on this doc update request as applicable

[2020-10-08 08:23] HarithaMaddi-MSFT commented on #64014
@NT-D - Thanks for valuable inputs. I am looking into it and will get back to you shortly.

[2020-10-08 08:26] ashutoshsingh0223 opened #64017 "Media services v3"
I am trying to use Media services v3 to get keys for a Content-Key Policy I created to encrypt content on premise. I can't find any documentation for it. It's there for v2 APIs but not for v3.

Maximum I could find was how to get the Secret Token Signing key, methods and classes exist, but where do I get the Key Ids to get the actual key to encrypt my video on premise and the url for player to fet

[2020-10-08 08:27] v-lyivan opened #64018 "Should the user provided email address be returned for the email verification or the user needs to provide it again?"
As per this [section](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email-sendgrid#create-a-displaycontrol) of the article the email is collected and returned, but the form given in the article is not a read only form.

Should the email be provided to that form or the user needs to type it again?
And can the form be made a read only and the email to be provided to it?

[Enter

[2020-10-08 08:28] ragakar opened #64019 "Add testing application gateway for linux systems"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de82b14b-7574-ae63-d155-5ddedfab16fc
* Version Independent ID: 8e925358-7916-7573-353b-3f745c860865
* Content: [Tutorial: Create using portal - Web Application Firewall](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-ga

[2020-10-08 08:36] KalyanChanumolu-MSFT commented on #63891
@MauricioZa We are sorry that you had to face this issue.
I tried this at my end (with & without a georedundant backup enabled) but was unable to reproduce the issue.

![image](https://user-images.githubusercontent.com/8835012/95434089-7b066000-096e-11eb-98f2-ae3182b40c4e.png)

It could have been an intermittent issue that was detected and fixed now or an issue with the Az Cmdlets since they are s

[2020-10-08 09:03] GitaraniSharma-MSFT commented on #63678
@anzaman , as discussed over our emails, please review this feedback and update the doc accordingly.

@haymansfield , We have assigned this issue to the respective product owner for updation.

[2020-10-08 09:17] stevencl commented on #63965
Thanks for fixing this so quickly.

[2020-10-08 09:22] AmitavaHazra opened #64020 "How to configure session time out for Myapps portal"
How can we configure session time out for https://myapplciations.microsoft.com portal ? and what is the default value ?

So that post time out user will be asked to re-authenticate again.

I am not sure whether the below document is helpful or not. Please share relevant document and help me on this.

https://docs.microsoft.com/en-us/azure/azure-portal/set-preferences#:~:text=On%20the%20Configure%2

[2020-10-08 09:31] PaulARoy opened #64021 "« Profile » is not a valid scope for facebook"
Hello,

Facebook scopes uses « public_profile » and not « profile », which makes it stumble on a generic error when connecting using the example file.

I think the file template should reflect that.

from existing :
[code]

to

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
*

[2020-10-08 09:39] KalyanChanumolu-MSFT commented on #63600
@zqyAmy You are right. Thank you for pointing out the issue.
There could be some confusion if you look for this option on SQL MI instead of the database.
I have updated the article and submitted a PR to call out "SQL MI Database"
The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2020-10-08 09:39] #63600 closed

[2020-10-08 09:44] SubhashVasarapu-MSFT commented on #63615
@manu4rhyme, Appreciate your patience. no-store will never be cached on AFD. If you mean to not store the response in any cache, use no-store. Where in no-cache the response may be stored by any cache, even if the response is normally non-cacheable. However, the stored response MUST always go through validation with the origin server first before using it, thus how it is failing in your situation

[2020-10-08 09:44] #63615 closed

[2020-10-08 09:52] SubhashVasarapu-MSFT commented on #63598
@SteveVaneeckhout, Appreciate your feedback. We are working on the document for adding this limitation. Also, I would recommend you post your feedback under the feature request .In general, Azure feature team would check feasibility of a feature request, triage it, prioritize against existing feature backlog, add in roadmap as appropriate and would announce and/or update the related Azure document

[2020-10-08 09:52] #63598 closed

[2020-10-08 09:53] TS-grantlebrun opened #64022 "Incorrect Kusto query example in "Manage usage and costs with Azure Monitor Logs""
The second query in the section "Data volume by type" incorrectly states BillableDataGB but I think the value is MB as the quantity isn't being divided by 1000.

https://docs.microsoft.com/en-gb/azure/azure-monitor/platform/manage-cost-storage#data-volume-by-type

The query as stated is:
[code]

but I think it should be:

[code]

---
#### Document details

⚠ *Do not edit this section. It is requir

[2020-10-08 09:55] SubhashVasarapu-MSFT commented on #63610
@surya2155, Appreciate tour patience. We have assigned this issue to respective SME for providing better insights.

[2020-10-08 09:59] SubhashVasarapu-MSFT commented on #63714
@Mahesh-MSFT, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-08 09:59] #63714 closed

[2020-10-08 10:00] SubhashVasarapu-MSFT commented on #63818
@dannradkov, I was wondering if you have had a chance to look over our previous reply yet. Let us know if you have any query or input for us or if we good to close this issue.

[2020-10-08 10:00] psmanhas commented on #64011
@techiechap Can you please confirm if you are using fully qualified user@domainName to get this to work?

You can refer to [this](https://github.com/Azure/azure-quickstart-templates/issues/2272) Github thread as well where similar issue is reported.

Thanks

[2020-10-08 10:02] Bouke opened #64023 "TCP Keep Alive for outbound connections when idling >4 mins"
From the wording it looks like the TCP keep-alive to prevent losing connections due to IDLE timeout works for inbound connections only. However from my testing it seems to apply to outbound connections (from an App Service WebJob) as well. Am I misunderstanding the wording of this document, or is there something else going on?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-08 10:30] HarithaMaddi-MSFT commented on #64014
@spelluru - Customer is looking on how to add dimension to EventHub entity and document referred did not have additional details on it. Please suggest if this [document ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview?toc=%2Fazure%2Fazure-monitor%2Ftoc.json#sample-custom-metric-publication) is related to the same and if so, we can add a link in this document

[2020-10-08 10:36] LukeCarrier commented on #63602
Hi @souravmishra-msft, apologies for the delay in responding.

After creating a managed identity, we can identify the Azure AD Service Principal created for it in the portal:

<img width="1215" alt="image" src="https://user-images.githubusercontent.com/597015/95446764-a716e680-0958-11eb-9f5f-f8924e1163ca.png">

We can then make this a member of a group:

[code]

We then configured this group to be

[2020-10-08 10:38] imtiazsajid opened #64024 "installing the ntttcp on ubantu"
[Enter feedback here]

i am getting following error while trying to install the ntttcp on ubantu
DISTRIB_DESCRIPTION="Ubuntu 20.04.1 LTS"
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"

imtiaz@imtiaz-VirtualBox:~/ntttcp-for-linux/src$ mkdir obj
mkdir: cannot create directory ‘obj’: Permission denied
imtiaz@imtiaz-VirtualBox:~/ntttcp-for-linux/src$ sudo mkdir obj

cp ntttcp /usr/local/bin/
cp: c

[2020-10-08 10:38] SubhashVasarapu-MSFT commented on #64019
@ragakar, Thanks for reaching out. We will investigate and update this thread.

[2020-10-08 10:42] SwathiDhanwada-MSFT commented on #64022
@TS-grantlebrun Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-08 10:48] SubhashVasarapu-MSFT commented on #64023
@Bouke, Thanks for reaching out. We will investigate and update this thread.

[2020-10-08 12:06] Bartolomeus-649 opened #64027 "How use Application initialization with "Route traffic to healthy instances"?"
Please document how you get the "Route traffic to healthy instances" to work when you use Application Initialization, which always return a page with a http return code of 200, no matter which url is requested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
* Version Independent ID:

[2020-10-08 12:15] simonzhaoms opened #64028 "Unknown container group ''"
Recently when using DeploymentScript, I got the following error:

[code]

where the container group `hwejaxhxurdbyazscripts` is not defined in my ARM template.

May I know what's going on and how to solve this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Indepen

[2020-10-08 12:27] AjayKumar-MSFT commented on #64021
@PaulARoy, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-08 12:29] mikolaj-sienkiewicz opened #64030 "Interact with machines - typo"
There is a typo at the beggining of Interact with machines paragraph.

I think the beginning should be
Pre-scripts and post-scripts* not post-tasks :)
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b96317aa-f6d2-694b-d798-cb8e37d01f6c
* Version Independent ID: e2b5a10a-5e62-5c66-ff64-6a89f5b5315c
* Content: [Manage pre-

[2020-10-08 12:35] KrishnaG-MSFT commented on #64030
@mikolaj-sienkiewicz Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-08 12:36] KrishnaG-MSFT commented on #64028
@simonzhaoms Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-08 12:36] KrishnaG-MSFT commented on #64027
@Bartolomeus-649 Thanks for the feedback!
Assigning @rboucher for visibility, review and document enhancement consideration.

[2020-10-08 12:37] SubhashVasarapu-MSFT commented on #64024
@imtiazsajid, Thanks for reaching out. We will investigate and update this thread.

[2020-10-08 12:51] jaggersystems commented on #63972
Thanks John and all, appreciate the speed of response. I was simply pointing out it would be useful to have this in the documentation as it advises to use powershell for bulk export, shows how to export, but then doesn't show how to do anything useful with the export or in bulk. All the best.

[2020-10-08 12:52] Vyprichenko opened #64031 "Anonymous user id role in sampling"
According to [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model-context#anonymous-user-id), "Anonymous user id is used for sampling score generation. So anonymous user id should be a random enough value".
But as we can see this behavior was changed since version 2.5.0-beta2 of [Application Insights for .NET Apps](https://github.com/microsoft/ApplicationInsights-dot

[2020-10-08 13:01] Ericgre commented on #63610
humm did you check that the release pipeline is running in the right host ? what is the output if you add a task in the pipeline like
steps:
- script: |

   nslookup ericgtest2.scm.azurewebsites.net

  displayName: 'test resolution'

[2020-10-08 13:12] gopasupa commented on #63883
Hi Himanshu,

Yes it is on Premium Tier.

Regards,
Gowri Shankar Pasupathy
Support Engineer
Big Data Support
Ph: 980-776-1073
Manager: Todd.DeDecker@microsoft.com<mailto:Todd.DeDecker@microsoft.com>
Working Hours: 9:00 AM EST – 6:00 PM EST
[cid:image001.gif@01D69D53.327AE6D0]

From: himanshusinha-msft <notifications@github.com>
Sent: Wednesday, October 7, 2020 6:32 PM
To: MicrosoftDocs/azure-docs

[2020-10-08 13:14] SubhashVasarapu-MSFT commented on #64024
@imtiazsajid, looks like you are not the superuser. This should work fine on adding "sudo" to the command.

[2020-10-08 13:18] edwiles opened #64032 "Complete "next steps" section"
Looks like the Next Steps section needs a list of links to different languages, as per the similar section in https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a364532-c747-f103-b3ac-ee6edd83bc49
* Version Independent ID: ebed970b-

[2020-10-08 13:19] MonikaReddy-MSFT commented on #63935
@lisaguthrie - Do you have any insights on the above?

[2020-10-08 13:20] kelvinatph commented on #63830
Hi @NavtejSaini-MSFT -- yep, I was able to get it, thanks.  I was outputting the logs to Log Analytics and wanted to know the name of the Log table.  It is "AzureDiagnostics" -- found it in another tutorial.

[2020-10-08 13:20] #63830 closed

[2020-10-08 13:23] jmcshane commented on #33157
We are currently working internally with the necessary teams to support all networking configurations on Key Vault with regards to integration with Application Gateway.

Also, this restriction needs to be documented somewhere. Can we get this statement into MSFT documentation somewhere?

For example, this document should have that statement: https://docs.microsoft.com/en-us/azure/application-gatew

[2020-10-08 13:25] StingyJack commented on #56910
@stevestein - can this stay open until we get an answer to the question?

[2020-10-08 13:29] jkatebin opened #64033 "Take a snapshot for data migration section is missing all it's code"
Scroll down to the section:
### Take a snapshot for data migration
Notice that all the sample code blocks are empty?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24f2953b-2900-322d-dbfd-a53846e75940
* Version Independent ID: 25af9875-58cf-69d5-478d-08fb888d12dc
* Content: [Quickstart: Use the Face client library - Az

[2020-10-08 13:36] alex-rolls opened #64034 "Applying to Default ACL permissions"
Hello,

I am currently trying to apply this recursively to the default and current ACL permissions but I have to run this twice to do this:

Applies to Default:
$acl = Set-AzDataLakeGen2ItemAclObject -AccessControlType group -EntityId $userID -Permission r-x -DefaultScope
Update-AzDataLakeGen2AclRecursive -Context $ctx -FileSystem $filesystemName -Acl $acl

Applies to active ACL:
$acl = Set-AzData

[2020-10-08 13:38] RonnieQuan commented on #63971
@Ericgre  Any update on the question? Can you please share the document link for creating private endpoint for deployment slot?

[2020-10-08 13:42] kailasandhale commented on #60167
@KrishnaG-MSFT @bwren @ktoliver @bwren @DavidCBerry13  Any Update on this? It's been 2 months since this PR is open

[2020-10-08 13:45] lanicolas opened #64035 "Link Missing"
There is a reference to PAL documentation that is broken, specifically here:

For more info, see [Link your partner ID to enable partner earned credit on delegated resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3d055aefb0

[2020-10-08 13:49] Ericgre commented on #63971
Sorry, please give me some time, I need to doublecheck, where we are in the release of the API

[2020-10-08 13:54] PehrGit commented on #63864
I didn't necessarily have an implementation in mind, just some way to have the 'nolock' option be added to the mount. But yes, adding it as an option to the Azure File Volume Object seems like a good way to do that.

[2020-10-08 14:03] Karishma-Tiwari-MSFT commented on #63671
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-08 14:03] #63671 closed

[2020-10-08 14:09] vipulsparsh commented on #63962
@v-lyivan This is about tenant having the premium subscription. So even one user is fine, because for that Your tenant will have premium licenses attached to it.

[2020-10-08 14:09] #63962 closed

[2020-10-08 14:09] ezwiefel opened #64036 "Acquire Phone Number with MSDN Subscriptions"
MSDN Subscriptions are not allowed to acquire phone numbers.

I'd recommend that MSFT either:
* Allow Phone Numbers to be acquired with an MSDN subscription to allow developers to use for dev/test scenarios
* Update the documentation to specify that MSDN subscriptions aren't allowed to acquire phone numbers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-10-08 14:16] 2ATCaroline opened #64037 "401 - Invalid token - The issuer is invalid"
I call my webapi that has configuration that sets the tenantId and get a 401 and in the WWW-Authenticate header I see the following error (with that tenantId!):
WW-Authenticate: Bearer error="invalid_token", error_description="The issuer 'https://login.microsoftonline.com/{tenantId}/v2.0' is invalid"

The SharePoint App (which makes the web api call),  the Azure AD app (which is the client used fo

[2020-10-08 14:20] Mahesh-MSFT opened #64038 "filtering security center alerts or recommendations from log analytics workspace"
Security center export of alerts/recommendations to log analytics workspace includes multiple resource types (VMs, storage, networking, etc.).
[ASC automation schema](https://github.com/Azure/Azure-Security-Center/tree/master/Powershell%20scripts/Workflow%20automation%20and%20export%20data%20types%20schemas) includes AssessedResourceId for SecurityRecommendation table and ResourceId for  SecurityA

[2020-10-08 14:23] fazalraza1 opened #64039 "CLI option are wrong generating error"
Please update the private endpoint creation command for this option

--private-connection-resource-id $(az resource show -g myResourcegroup -n mydemoserver --resource-type "Microsoft.DBforMySQL/servers" --query "id")

add -o tsv after the "id".

It should look like this.
--private-connection-resource-id $(az resource show -g myResourcegroup -n mydemoserver43212 --resource-type "Microsoft.DBforMySQ

[2020-10-08 14:53] 2ATCaroline commented on #64037
Ok, for anyone else having this issue:
Change the tenantId in your settings to the Scope URL under Expose an API.
In my case that was: https://{webapi}.azurewebsites.net/user_impersonation

(I now get an Audience is invalid error though.. )

[2020-10-08 14:58] varunsh-msft commented on #63050
Sorry for the delay. You can set connection string in _AzureServicesAuthConnectionString_ environment variable to have your program use Azure CLI instead of Visual Studio. It is not possible to specify tenant to use via Visual Studio in configuration.

This is the value that the environment variable should have. _RunAs=Developer; DeveloperTool=AzureCli_
https://docs.microsoft.com/en-us/azure/key-v

[2020-10-08 15:01] shashishailaj commented on #64018
@v-lyivan Thank you for your query. We will investigate and update the thread.

[2020-10-08 15:06] alex-frankel commented on #63583
Looks great thanks for getting this done!

[2020-10-08 15:09] shashishailaj commented on #64020
@AmitavaHazra Thank you for your query . We will investigate and update the thread.

[2020-10-08 15:17] ram-msft commented on #63981
@jkatebin Thanks for the feedback.

@PatrickFarley Could you please update the quick-start sample as **ReadAsync** doesn't exist.

I could see the following **batchreadfileasync** to read text from the url.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.computervisionclientextensions.batchreadfileasync?view=azure-dotnet#Microsoft_Azure_Cognitive

[2020-10-08 15:19] PramodValavala-MSFT commented on #64012
@daviburg Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-10-08 15:22] noah-birrer8451 opened #64041 "Include link for AzAliasAdvertizer"
Thanks for making this page! Lots of good tips here for troubleshooting.
For the aliases section, could you also include a link to AzAliasAdvertizer?
https://www.azadvertizer.net/azpolicyaliasesadvertizer_all.html

I have found that page to be very helpful when writing Azure Policies, among other things as well.
(It now also tracks what aliases support the 'modify' effect in Azure Policy Definitio

[2020-10-08 15:27] dphansen commented on #63800
#reassign:garyericson

[2020-10-08 15:27] MonikaReddy-MSFT commented on #64034
@alex-rolls -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-08 15:30] RonnieQuan commented on #63971
@Ericgre  Thank you so much for the prompt reply, we have critical production release depends on the private endpoint feature, and especially deployment slot support, we would like to make decision based on whether deployment slot private endpoint feature is available, so this is really important question.
Appreciate you help and looking forward to your feedback!

[2020-10-08 15:30] alex-rolls commented on #64034
Hello MonikaReddy-MSFT,

This is the document: https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=python

[2020-10-08 15:45] JamesTran-MSFT commented on #64037
@2ATCaroline
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-08 15:46] fgheysels opened #64042 "MSI issue when redeploying an Azure Container Instance"
I have an Azure Container Instance which has a system assigned identity.
This ACI is deployed via an ARM template by an Azure pipeline.

The ACI runs a  container that contains .NET code and which retrieves a secret from Azure KeyVault.  This is done via Managed Service Identity.

Each time the Azure pipeline runs, the container in the ACI is no longer able to retrieve a secret from Azure KeyVault

[2020-10-08 15:51] 2ATCaroline commented on #64037
I solved the audience error by changing the AddAuthentication in the Startup with the following:

services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
        .AddMicrosoftIdentityWebApi(Configuration);
        services.Configure<JwtBearerOptions>(JwtBearerDefaults.AuthenticationScheme, options =>
        {
          var existingOnTokenValidatedHandler = options.Events.OnTokenValidat

[2020-10-08 15:58] DCtheGeek commented on #64041
#assign:DCtheGeek

[2020-10-08 16:00] jlichwa commented on #63050
Thank you @varunsh-msft  #please-close

[2020-10-08 16:00] #63050 closed

[2020-10-08 16:00] alan-rahlf-by opened #64044 "Clarification around b2c logout behavior when id_token_hint is supplied"
When testing the b2c logout behavior, I passed in both `post_logout_redirect_uri` as well as `id_token_hint`, and per the docs it indicates that when `id_token_hint` is present, the `post_logout_redirect_uri` will be validated against the whitelist. When I tried this while passing a non-whitelisted uri (used a completely different, bad uri, *also non https*), it still redirected to it after the b2

[2020-10-08 16:05] DCtheGeek commented on #64041
@noah-birrer8451 Thanks for the feedback!  The AzAdvertizer is indeed a great tool, but while it is built by a Microsoft employee, it's not officially supported.  As such, it's not part of our troubleshooting steps and that page. However, we heard this feedback a few times, so created a "Community tools" section in the Table of Contents under Resources.  You can find it, and other great community

[2020-10-08 16:05] #64041 closed

[2020-10-08 16:10] SwathiDhanwada-MSFT commented on #64035
@lanicolas Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-08 16:20] SatishBoddu-MSFT commented on #63812
Hello @boazeg , Just checking back, could you please let us know if you need further help in this matter.

[2020-10-08 16:23] SwathiDhanwada-MSFT commented on #63571
@manvi2013 Did you get chance to check my previous comment ? Kindly provide information as requested.

[2020-10-08 16:23] sopelt commented on #61497
Hey @TravisCragg-MSFT and @Grace-MacJones-MSFT, would you mind reopening/further looking into the additionally provided info?
In the meantime I uploaded an example/repro at https://gist.github.com/sopelt/78067cc7c41d7d2825b5ad08a0b262ec

[2020-10-08 16:32] WinstonHoward-MSFT commented on #63945
Hey @Mahesh-MSFT , when you update the AKS Deployment that would impact all the pods part of that deployment. This would cause a rolling restart as each pod comes back online. As for an automated way to update the pod images - you can use the Kubernetes API to send a new deployment to the cluster which would apply the new specifications. Here's a [link to the API](https://docs.microsoft.com/en-us/

[2020-10-08 16:35] w3bward opened #64046 "Example should use Invoke-RestMethod instead of Invoke-WebRequest"
The example should use Invoke-RestMethod instead of Invoke-WebRequest. Using Invoke-RestMethod removes the need to extract and parse the response content, simplifying the example.

Current
[code]

Recommended
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294128ee-aa91-8f63-f2e1-04b1ec5db5bc
* Version Independen

[2020-10-08 16:39] lisaguthrie commented on #63935
We are actively working on a REST API quickstart.

There is also documentation linked on this page: https://github.com/Azure/AppConfiguration

@AlexandraKemperMS - FYI.

[2020-10-08 16:41] MonikaReddy-MSFT commented on #63943
@mracfa -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-08 16:41] #63943 closed

[2020-10-08 16:43] mmacy commented on #63717
@ksurendra Since there's no work currently required on the article this issue was filed on, I'm going to request closure of this issue. If for some reason you believe it should be reopened, however, please let me know with an @ mention.

And, if eventually you get your sample merged into the [Azure-Samples/ms-identity-java-desktop](https://github.com/Azure-Samples/ms-identity-java-desktop) repo, p

[2020-10-08 16:43] #63717 closed

[2020-10-08 16:46] Mahesh-MSFT commented on #63945
thanks for responding @WinstonHoward-MSFT .

AFAIK, deployment manifests for system components such as  metricsserver, coredns , etc are created at the time of cluster creation.
when cluster is upgraded, these deployment manifests aren't upgraded.

even if one changes these deployment manifests manually, they are promptly rolled back to their previous version.

i am trying to understand how these

[2020-10-08 16:47] JamesTran-MSFT commented on #64046
@w3bward
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-08 16:49] JamesTran-MSFT commented on #64044
@alan-rahlf-by
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-08 16:51] JayaChatterjee-MSFT commented on #63790
@digaomatias Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-10-08 16:51] JayaChatterjee-MSFT commented on #63895
@sfilipi Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-10-08 16:58] nigarfin opened #64048 "Please delete"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af57ca1d-6109-b46b-ec0e-50fb35d8981a
* Version Independent ID: 2f24c98c-d89f-8693-2618-d49b42b94b51
* Content: [Quickstart: Create a Python app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=bash)
* Cont

[2020-10-08 16:59] #64048 closed

[2020-10-08 17:01] NavtejSaini-MSFT commented on #64013
@vnextcoder We are checking this and will get back to you

[2020-10-08 17:02] NavtejSaini-MSFT commented on #64039
@fazalraza1 We are checking this and we will get back to you.

[2020-10-08 17:03] tamram commented on #62901
@rgamage - Thanks for catching this typo! It's been fixed.

#please-close

[2020-10-08 17:03] #62901 closed

[2020-10-08 17:21] QuiteBoss1669 opened #64050 "Azure Files Work?"
This article specifically calls out "Storage Accounts, Table Storage and Blob Storage", but does not mention File Storage. Not sure if this is on purpose (if not supported) or if a customer should assume that File Storage falls under Storage Accounts and thus *is* supported. Clarification around using Azure Files with AVS is important so customer can utilize Azure Files storage and not have to hol

[2020-10-08 17:38] mike-urnun-msft commented on #63666
Hi @cgillum - Could you share your insights on this?

[2020-10-08 17:41] cijothomas commented on #63376
@jairbubbles Please share me the doc link you are using for wpf. I can review it and update accordingly.

[2020-10-08 17:42] cijothomas commented on #63376
This issue can be closed as Sampling doc no longer refers to .Active where it is not supported.

[2020-10-08 17:42] jpaulo-kumulus opened #64051 "Add Examples for Run Pipeline with REST parsing parameters value on Body"
[In the documentation for "[Create Data Factory - REST](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-rest-api#create-pipeline-run)"
We don't have examples on "Create a Pipeline Run"  parsing the Parameters value using the Body

Could you add examples to create a variable $Body parsing the Parameters value when creating the Run

Example:

Our Pipeline has two p

[2020-10-08 17:46] cgillum commented on #63666
The answer to the first question is no. The cancellation token passed to the function is used to signal host shutdown events. You do not want to cancel Durable timers when the host shuts down. A Durable timer should be canceled only if required by your workflow logic, like in the human interaction pattern.

[2020-10-08 17:46] jairbubbles commented on #63376
I would say it's that one: https://docs.microsoft.com/en-us/azure/azure-monitor/app/windows-desktop (There are several occurences of `TelemetryConfiguration.Active` )

[2020-10-08 17:47] cijothomas commented on #63376
Thanks. Please open a new issue under that doc page.
This issue can be resolved.

[2020-10-08 17:48] mmacy commented on #61007
@hamiltonha Ping on this Haley, we still have an empty section on this doc.

![image](https://user-images.githubusercontent.com/13394541/95495036-b0518480-0953-11eb-8b9b-b6e3effa7343.png)

If you can provide an MSAL-to-ADAL mapping for me for the errors in the table above that section, I can update the doc with the new column in the table as proposed in https://github.com/MicrosoftDocs/azure-docs/

[2020-10-08 17:52] ChaitanyaNaykodi-MSFT commented on #64032
Hello @edwiles,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-08 17:56] JamesTran-MSFT commented on #64037
@2ATCaroline
Thank you for the quick reply!

I missed your first response message with your resolution. However, I'm glad you were able to resolve your issue! I'll go ahead and close out this thread.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-08 17:56] #64037 closed

[2020-10-08 17:57] JamesTran-MSFT commented on #63900
@yuhual
Since I haven't heard from you in a few days, I'll go ahead and close out this thread.

If you still require further assistance or have any other questions, please feel free to tag me and I'd be more then happy to re-open this issue and continue working with you.

Thank you for your time and patience throughout this issue.

[2020-10-08 17:57] #63900 closed

[2020-10-08 17:58] hamiltonha commented on #61007
@mmacy acked - will get to it shortly

[2020-10-08 18:00] cgillum commented on #63666
In fact, I think it's probably never appropriate to use the CancellationToken provided by the Function method signature in an orchestrator function (it's fine to use it in activity functions though). I'll open an issue to track adding a check for this in our C# analyzer. I think that should cover your second question as well.

[2020-10-08 18:00] cijothomas commented on #63491
Please-close.

[2020-10-08 18:00] cijothomas commented on #63491
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#how-do-i-customize-ilogger-logs-collection

[2020-10-08 18:04] jairbubbles opened #64054 "Add a doc explaining how to instrument a .NET 5.0 Desktop application with Application Insights"
`TelemetryConfiguration.Active` is deprecated on .NET Core, and so will be on .NET5. Please update the examples.

Here is a snippet on what I'm currently using on my app:

[code]

Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516c83d5-29e4-4594-8431-18e90ada27ea
* Version Independent ID: 92179854-8188-dd7f-ae7b-0

[2020-10-08 18:05] SnehaGunda commented on #60004
Thanks, @TheovanKraay for addressing this issue.

#please-close

[2020-10-08 18:05] #60004 closed

[2020-10-08 18:10] sfilipi commented on #63895
@JayaChatterjee-MSFT yes. Feel free to close the issue. Thank you!

[2020-10-08 18:11] sfilipi commented on #63895
Just realizing that I can close it too!

[2020-10-08 18:11] #63895 closed

[2020-10-08 18:13] MonikaReddy-MSFT commented on #63935
@lisaguthrie  - Thank you for providing your insights.
@tshaiman - I hope @lisaguthrie has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-08 18:13] #63935 closed

[2020-10-08 18:22] michaelshire opened #64055 "Contributor role assigned to Velero SP too broad"
Is there a lower privilege role that would work and not impact functionality?  Such as "Storage Blob Data Contributor"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c0baeb2-508c-942c-f010-f3227f0eec36
* Version Independent ID: 74896c7a-5dd0-a588-0b5d-99d038e3f6ed
* Content: [Create an Azure Red Hat OpenShift 4 clust

[2020-10-08 18:24] tshaiman commented on #63935
great job !
thanks a lot

On Thu, 8 Oct 2020 at 21:13 MonikaReddy-MSFT <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-10-08 18:27] mike-urnun-msft commented on #63666
Thanks, @cgillum!

@plukawski I hope the answers above provide clarity & direction. We'll now proceed to close this issue for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-08 18:27] #63666 closed

[2020-10-08 18:31] shortpatti commented on #64050
#assign @shortpatti

[2020-10-08 18:35] srandal opened #64057 "Correction to the text of the quickstart links"
The text of the three links under 'Complete a quickstart' should refer to QnA Maker, not LUIS. Their destinations are correct, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1c61-f5cd-857df2b7fbd8
* Version Independent ID: 3ef184f7-6288-caec-ea33-f3d5dadd8965
* Content: [What is QnA Maker service?

[2020-10-08 18:38] srinjoym opened #64058 "Double period typo in `DeleteAnchorAsync` snippet for Azure Spatial Anchors"
Snippet link: https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#delete-anchors

Current:
[code]

Should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed5367-ee97-31a2-78ff-dd98e5c23d24
* Version Independent ID: 2e975197-ca07-351a-f538-372500c0cc8f
* Content: [Creat

[2020-10-08 18:39] MonikaReddy-MSFT commented on #64017
@ashutoshsingh0223 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-08 18:54] boazeg commented on #63812
Hi @SatishBoddu-MSFT ,
Yes, we've got IoT Edge installed and running on a Windows host using Linux-based docker containers with Docker Desktop. With that said, I think there are two issues here with regards to this documentation:
1. The documentation should be clearer that Docker Desktop installation in required. This installation on Windows will take care of all other requirements as far as I can

[2020-10-08 18:54] chitturs opened #64060 "Grant NETWORK SERVICE access to the certificate's private key is a superflous step"
The powershell script mentioned at the top certsetup.ps1 already does this. Hence, we need to simply ask the user to confirm that and add if not there already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [A

[2020-10-08 18:56] cherylmc commented on #62979
I'll take a look. This is for the classic  system (service management) and it's just switching between the resource manager mode to service management. It's not specific to VPN Gateway.

[2020-10-08 18:56] LadyHail commented on #62095
Any update on this topic? We're facing the same problem. After integration with SendGrid described resources don't work. Documentation doesn't help. Looks like it's outdated (?)

![1](https://user-images.githubusercontent.com/32565136/95501349-75c60700-09a8-11eb-837d-0842b4b5e851.png)
![2](https://user-images.githubusercontent.com/32565136/95501382-81b1c900-09a8-11eb-993a-53e0af932f04.png)

[2020-10-08 18:59] ChaitanyaNaykodi-MSFT commented on #63765
Hello @malclear, I was able to run the command as shown below. I am using  the "2.12.1" version of the Azure CLI. You can upgrade Azure CLI by executing the `az upgrade` command. Please let me know if you are still facing the issue.
<img width="1268" alt="azcreate" src="https://user-images.githubusercontent.com/67453298/95501705-9157f000-095d-11eb-9236-67a34ce30bc1.png">

[2020-10-08 19:00] Logan-V opened #64061 "Unable to update the Network watcher extension using PowerShell"
Hi Team,

We tried upgrading the Network watcher extension using the PowerShell, Although the command is executing successfully, but still the Network watcher extension version is remain the same. We tested with lots of servers still the same issue. Is the command given is able to upgrade the extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-08 19:04] normesta commented on #61704
Closing as I don't believe that this is a doc issue at this point. @Vick-git - if you're still experiencing issues, feel free to open an issue at https://github.com/Azure/azure-powershell/issues. Thank you!

[2020-10-08 19:04] normesta commented on #61704
#please-close

[2020-10-08 19:04] mheisenberg opened #64062 "The word 'default' is misleading in "Why does my request time out after 230 seconds?""
The word 'default' implies that the parameter can be changed when in reality it cannot. This causes the customer to waste time trying to figure out how to do this. In addition, this often leads to advisory support cases being opened to resolve the issue which is a poor use of resources and time.

Also, the section should explain why this value is hard-coded and to provide better solutions than the

[2020-10-08 19:04] #61704 closed

[2020-10-08 19:09] zr-msft commented on #63514
Thank you @slave02 for your feedback!

The article has been updated to address your feedback.

[2020-10-08 19:13] normesta commented on #62693
Closing issue for now as after some investigation, it appears not to be related to the recursive ACL feature itself. The issue is being investigated and tracked with Azure portal team. Thank you for raising @crisansou!

[2020-10-08 19:13] normesta commented on #62693
#please-close

[2020-10-08 19:13] #62693 closed

[2020-10-08 19:23] DataInsightPro opened #64065 "Example fails with error"
In step 8 the example uses a curl command to fetch information from the development endpoint. However, in testing this fails due to an authentication issue. I receive the following error: BearerToken not found in request

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1de0e7-d4fd-0712-77df-e8205efc6573
* Version Indep

[2020-10-08 19:24] AjayKumar-MSFT commented on #63951
Thanks for sharing additional details. Sorry! I misunderstood the scenario.

If its just a HTTP Trigger Function, you could simply call it from App Service.
What specific triggers are you intending leverage? Or do you want to launch the Function app using the ARM API?

Just highlighting these terminologies for some additional clarify:
**App Service** – Service which enables you to build and host w

[2020-10-08 19:29] AjayKumar-MSFT commented on #64048
nigarfin, Thanks for using Azure docs feedback channel to raise this question! Since you have closed the issue, I presume you have figured out the issue or if the issue still persist or you need further assistance on this topic kindly let us know.

[2020-10-08 19:35] AjayKumar-MSFT commented on #64006
@s0041464, Thanks for taking time to share your valuable feedback! Since you have closed the issue, I presume you have sorted out the concern or if you need further assistance on this topic or you think document clarity is required on this, please let us know.

[2020-10-08 19:35] skyfader opened #64066 "Latency in VM"
[Enter feedback here]
It´s to important understood these in pre selection groups,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09914aab-7c70-2092-e3a3-41b1efb730e8
* Version Independent ID: 848684ed-7e06-e342-0837-3ec5d19d85ef
* Content: [Co-locate Linux VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/

[2020-10-08 19:39] SatishBoddu-MSFT commented on #63812
Helo @boazeg Thanks for the valuable feedback on this product documentation guide.

We will try our best to address the important points mentioned by you, meanwhile, we request you to submit a User-Voice Feedback on the below-mentioned **Azure-IoT-Edge** channel, which is monitored by the Product Team directly.

**Navigate to this URL:**
https://feedback.azure.com/forums/907045-azure-iot-edge

![i

[2020-10-08 19:45] Ericgre commented on #63971
Hello, we are really sorry but we found a bug that's why is not available in production now, we are trying to fix it, not ETA yet, I'll update the doc, but for sure it's in our plan to provide the private endpoint in front of slots. if needed we can exchange with your customer by mail/teams to provide clarity about the roadmap.

[2020-10-08 19:46] plukawski commented on #63666
@mike-urnun-msft thank you for your answers. Yes - these answers helps a lot and clarify the use of CancellationTokens. Issue can be closed.

[2020-10-08 19:47] mrdenny opened #64067 "The definition of size is incorrect."
The definition of size is incorrect.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4da9483-7120-9e2c-9861-9dba80034b56
* Version Independent ID: 61588662-b963-e5a6-f39d-235244fc46cc
* Content: [Optimize costs for Blob storage with reserved capacity - Azure Storage](https://docs.microsoft.com/en-

[2020-10-08 19:55] digaomatias commented on #63790
Yeah, it's just that the examples we have there are very simple. What I got from that is that we could only mock one type of response at a time. What would be really nice to have in that docs is the information whether it's possible to add multiple responses by different request body.
For example, if we want to respond with 200, we add the mock-response in there with a 200 response.  Easy,
What if

[2020-10-08 20:15] GiftA-MSFT commented on #64033
@PatrickFarley please review above feedback for doc update. Thanks.

[2020-10-08 20:16] kennethvs opened #64068 "Confusion about Intune Protected Apps versus Approved Client App versus Required App Protection Policy versus what's listed in the portal"
I created a matrix based on the following information provided by Microsoft

Intune Protected Apps: https://docs.microsoft.com/en-us/mem/intune/apps/apps-supported-intune-apps
Approved Client Apps supported: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app
Require App Protection Policy supported: https://docs.mi

[2020-10-08 20:30] GiftA-MSFT commented on #64057
@srandal we'll review your feedback and get back to you shortly. Thanks!

[2020-10-08 20:32] DerekHerman-MSFT commented on #64067
@mrdenny Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-08 20:34] AjayKumar-MSFT commented on #63934
Abhijit, apologies for the delay! the above error typically means the REST call failed. Just to clarify, from your original post, was the registration successful?
We need additional details to identify the cause, so we wish to engage with you offline further for a closer look and provide a specialized assistance, could you kindly send an email  to AzCommunity[at]Microsoft[dot]com referencing this

[2020-10-08 20:42] SQLLord opened #64070 "Need to add info about clustering and Availability Groups"
[Enter feedback here]
This page needs to have a section that makes reference to Clustering and Availability Groups and the fact that the Extension is not aware of them and so you must plan accordingly to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc1e80-5a56-3850-cb63-7c882950c4e6
* Version Independent ID:

[2020-10-08 20:42] #64058 closed

[2020-10-08 21:08] #64012 closed

[2020-10-08 21:13] JamesTran-MSFT commented on #64038
@Mahesh-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-08 21:19] jakehockey10 opened #64073 "I'm getting an error code that doesn't appear in this list: AADB2C99059"
[Enter feedback here]
I'm getting an error when I attempt to login into the site we are developing.  The error is
[code]
When I search for this error code on this page, it doesn't appear.  When I search for this error code in Google, in general, I also get zero results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd

[2020-10-08 21:24] Karishma-Tiwari-MSFT commented on #64050
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-08 21:25] b-juche commented on #63860
@AnuragSharma-MSFT - I believe this issue is resolved, with a follow-up email exchange with @DirkEcker and the product manager.   The content has been refreshed - [Service levels for Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-service-levels) .  But I'm leaving this issue open for a couple more days just in case.

@DirkEcker - Thanks again for y

[2020-10-08 21:25] GiftA-MSFT commented on #64057
Thanks @srandal for pointing out the error. The document will update soon.

[2020-10-08 21:27] ChaitanyaNaykodi-MSFT commented on #63724
Hello @ca-thompson, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-08 21:27] #63724 closed

[2020-10-08 21:29] troy0820 commented on #64055
@michaelshire This role is defined from the Azure plugin for Velero.  The service principal permissions allow the storage of backups.  More documentation is provided here https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure

[2020-10-08 21:31] JamesTran-MSFT commented on #64073
@jakehockey10
Thanks for your post! We will investigate and update as appropriate.

[2020-10-08 21:31] jakehockey10 commented on #64073
Thank you!

[2020-10-08 21:36] jakehockey10 commented on #64073
This is the error I was getting (it seemed to go away for everyone after a few minutes):
![image](https://user-images.githubusercontent.com/1821383/95516188-181bc580-097c-11eb-848b-d24ffed52381.png)

[2020-10-08 21:39] JamesTran-MSFT commented on #64073
@jakehockey10
Thanks for your screenshot!

If the error went away this might be a potential bug, since we do have another customer that received the same error message on our [Q&A forum](https://docs.microsoft.com/en-us/answers/questions/121003/index.html).

I'll escalate this to our engineering team to see if they can provide additional details.

[2020-10-08 21:39] BharathNimmala-MSFT commented on #64031
@Vyprichenko Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-08 21:40] BharathNimmala-MSFT commented on #64054
@jairbubbles Thanks a lot for your feedback, our team will look into it and get back to you at the earliest.

[2020-10-08 22:07] michaelshire commented on #64055
Ok, I guess I create the issue with that upstream repo?  Can close this issue if that's the case.

[2020-10-08 22:11] MartinJaffer-MSFT commented on #64036
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-08 22:15] troy0820 commented on #64055
@michaelshire Yes, create the issue in the upstream repository for Velero.

[2020-10-08 22:19] mmacy commented on #59014
@mvrak Reassigning to you, Amit, per @DarylThayil. #reassign:mvrak

[2020-10-08 22:19] stephenwheet commented on #41082
example .. this get getting all the VM sku's in east us 2 region .. in powershell.

$uri = "https://prices.azure.com/api/retail/prices?`$filter=armRegionName eq 'eastus2' and serviceName eq 'Virtual Machines'"

$skus = @()

do
{
    $webReq = Invoke-WebRequest -Uri $uri | ConvertFrom-Json
    $uri = $webReq.NextPageLink
    $skus += $webReq.Items
    $uri
}
while ($uri -ne $null)

[2020-10-08 22:21] JamesTran-MSFT commented on #64046
@w3bward
Thanks for your recommendation!

I was able to test this out and see that "Invoke-RestMethod" didn't need to extract and parse the response content, while "Invoke-WebRequest" did. Additionally, whether you use RestMethod or WebRequest, the end output is the same.

![image](https://user-images.githubusercontent.com/36619112/95519281-ac385d80-0979-11eb-80a7-3b1838c7b1d6.png)

I'll assign th

[2020-10-08 22:22] rkemish commented on #41082
Thanks. Yes I am doing that and assembling just one big stream in memory but it takes a while to go sequentially  over it there are more than 135K items.

[2020-10-08 22:28] Karishma-Tiwari-MSFT commented on #64055
Thanks @michaelshire @troy0820
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-08 22:28] #64055 closed

[2020-10-08 22:31] ushaq opened #64075 "Document is out of date with Azure UI"
Azure UI has changed and document is out of date, there are more steps involved now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce49e10e-538a-88c1-e04c-02cabc777ec2
* Version Independent ID: 08d9128c-3a76-4759-dca3-ec2556aab5fb
* Content: [Use private endpoints to create an Azure Data Factory pipeline - Azure Data

[2020-10-08 22:36] AbhishekShaha commented on #63233
Hi @NavtejSaini-MSFT sorry for late response, all good for now. Thank You.

[2020-10-08 22:37] normesta commented on #63543
Hi @icaromedeiros. Thank you for raising this issue. The screenshot has been updated. Thank you!

[2020-10-08 22:37] MarileeTurscak-MSFT commented on #63848
Right now individual users can disable app lock. App lock is enabled by default, and it requires either biometric or PIN. https://techcommunity.microsoft.com/t5/azure-active-directory-identity/microsoft-authenticator-app-lock-now-enabled-by-default/ba-p/1257368

Currently it is not possible to do this at the organizational level, but you can make a feature request on User Voice to add this capabil

[2020-10-08 22:37] #63848 closed

[2020-10-08 22:37] normesta commented on #63543
#please-close

[2020-10-08 22:37] #63543 closed

[2020-10-08 22:39] normesta commented on #63237
Thank you for bringing this to our attention @madmax209. We've removed all references to that product in this article. As the blob post mentions, there is currently no Microsoft replacement for Microsoft Message Analyzer in development at this time.

[2020-10-08 22:39] normesta commented on #63237
#please-close

[2020-10-08 22:39] #63237 closed

[2020-10-08 22:45] normesta commented on #61350
Thank you @shraboin. Yes, you're suggested text looks clearer. I've incorporated that into the content and it should appear live in the doc by tomorrow 10 AM. @MartinJaffer-MSFT  - tested overwrite with both ADLSG2 and Blob APIs against both types of accounts (ADLSG2 and flat namespace). Overwrite works across APIs. Therefore, the content is correct. It's just not phrased optimally. @shraboin's ph

[2020-10-08 22:45] normesta commented on #61350
#please-close

[2020-10-08 22:45] #61350 closed

[2020-10-08 22:47] mmacy commented on #62418
@RayGHeld, apologies for the delay in response.

Which auth library are you using? It looks like we don't have a code example for using the state parameter as specified, but there is an issue in the MSAL.js repo that discusses the technique:

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2139#issuecomment-674152935

In it, this snippet from @hectormmg appears:

[code]

[2020-10-08 23:04] RonnieQuan commented on #63971
@Ericgre  Thanks you for the confirmation.
Please keep us posted on the date once you have ETA.
Yes, please update the document.
I'm good for now, we have plan B in case can not utilize private endpoint. But we prefer to go with private endpoint if functionality is available.

Thanks!

[2020-10-08 23:05] ushaq commented on #64075
It seems like my confusion was due to selecting Azure SSIS instead of Azure self hosted, so probably just clarify step 1, the rest of the steps are still good.

[2020-10-08 23:19] XiaoyuMSFT commented on #59262
@charlie-morn Thank you for the additional clarification.  This article has been updated.

[2020-10-08 23:19] XiaoyuMSFT commented on #59262
#please-close

[2020-10-08 23:19] #59262 closed

[2020-10-08 23:26] w3bward commented on #64046
Invoke-WebRequest should probably also be substituted with Invoke-RestMethod in the call to KeyVault as well since that line is also extracting the content from the response, which happens to be JSON. Instead of getting a JSON string from that line, you get a PowerShell object so it is easier to extract the secret value.

Replace
[code]
With
[code]

[2020-10-08 23:27] #64057 closed

[2020-10-08 23:28] PatrickFarley commented on #64033
Hi, we've actually temporarily taken down our content for Snapshots with the SDKs. But you can still use the Snapshot feature with the [REST APIs](https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/how-to-migrate-face-data)
#please-close

[2020-10-08 23:28] #64033 closed

[2020-10-08 23:39] femsulu commented on #63736
working offline with @twright-msft to publish the source file. Hope to update soon.

[2020-10-08 23:42] #59694 closed

[2020-10-08 23:50] mmacy commented on #59694
@JamesHHoustonII I've updated the doc with a fix to the code snippet in https://github.com/MicrosoftDocs/azure-docs-pr/pull/133147 (private repo, may 404 for you) - it wasn't correctly commented in the `<summary>` block. However, that doesn't exactly solve your issue with regard to the unrecognized escape sequence.

If you're still having this issue, I recommend opening an issue in the MSAL.NET re

[2020-10-08 23:53] TheovanKraay commented on #63384
@NavtejSaini-MSFT + @SnehaGunda the docs QuickStart sample has been fixed, can we close this issue but raise a separate one for the portal QuickStart?

[2020-10-08 23:54] KranthiPakala-MSFT commented on #64065
@DataInsightPro
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-10-08 23:56] KranthiPakala-MSFT commented on #64051
@jpaulo-kumulus
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-10-08 23:59] KranthiPakala-MSFT commented on #64075
@ushaq Thanks for the feedback. Could you please point us to the exact step or section you are referring to?

[2020-10-09 00:02] mhopkins-msft commented on #16152
@wmgries, I've updated the mentions of APIs to be actual links to ref pages. It will be published tomorrow morning.

[2020-10-09 00:10] tsuna commented on #38427
How are we supposed to have use OIDC in multi-tenant apps with customers that use Azure as their identity provider?

[code]

Do people hard-code an exception for the fact that Microsoft can't seem to implement OIDC properly?

[2020-10-09 00:21] hpsin commented on #38427
Yes - they validate tokens based on the issuer claim, rather than the authority.  Or validate the token based on the keys (static across tenants) and signature only. The common endpoint is not OIDC compliant - only tenanted endpoints can be.

[2020-10-09 00:28] spelluru commented on #62654
@Splaxi - Thank you very much. The article is fixed now.

[2020-10-09 00:28] spelluru commented on #62654
#please-close

[2020-10-09 00:28] #62654 closed

[2020-10-09 00:32] emilylagoand opened #64077 "Note regarding Identity based access"
Please add a note in the "Enable large file shares on an existing account" section regarding the fact that identity based access to on-prem AD will be disabled if you enable this. I had a customer enable large file shares and since they did not know this would happen, it caused a huge mess for them to address. Calling out this impact in the document would have provided a necessary warning to the c

[2020-10-09 00:38] joshkyh opened #64078 "Usage of global statement in init() raises PyLint warnings"
Hi,

How can we refactor the init() code so that it doesn't use global statements? Global statements raise pylint warnings (which we don't want to suppress) in production code.

Thank you.

![image](https://user-images.githubusercontent.com/14764966/95528446-e2321c00-0a23-11eb-9ef3-dca396ecc4cd.png)

Also, the global variable should have been upper case under pylint standards.

![image](https://us

[2020-10-09 00:45] tamram commented on #64067
@mrdenny - Thanks for pointing out that error. I've made the fix, and it should be live by tomorrow.

#please-close

[2020-10-09 00:45] #64067 closed

[2020-10-09 00:53] Amos-Matthew opened #64079 "Create an App Service app Trouble"
I followed the instructions in this article: https://docs.microsoft.com/en-us/azure/app-service/scripts/cli-deploy-staging-environment.

![image](https://user-images.githubusercontent.com/61606790/95529000-c6893000-09a7-11eb-87c1-22225e6337c7.png)

When I click and paste the link in the browser, I get search results taking me back to Microsoft and GitHub among others:

![image](https://user-images

[2020-10-09 01:12] SaurabhSharma-MSFT commented on #62675
@markorudloff  This is by design. When you invite internal user to external user OnPremisesUserPrincipalName  should be null. Generally, this value will be populated by AAD Connect. You need to modify the rules to set null for this user and then you can invite the user.

[2020-10-09 01:15] rgamage commented on #64004
Sorry, there is an example for Output, there is just not a bookmarked link to it on the upper right of the page, as there is for triggers.  Maybe add a bookmark link there?

[2020-10-09 01:19] rgamage opened #64080 "Cosmos DB Links needs to be updated to latest (current) version"
In the large table of all the binding types, the Cosmos DB item links to the old, deprecated Functions 1.x version of the API.  I followed this link, then followed all of the examples and instructions and got very confusing errors, until I realized I was following deprecated (1.x) instructions.  This link should go to the latest (2.x +) version of the docs.

Current link:
https://docs.microsoft.co

[2020-10-09 01:35] WinstonHoward-MSFT commented on #63863
Hi @AnuragSharma-MSFT ,

I'm closing this issue as I haven't heard back. But don't hesitate to leave a comment below and I'll reopen it. Thanks!

[2020-10-09 01:35] #63863 closed

[2020-10-09 01:37] sebansal commented on #63709
The integration guide is available here
https://docs.microsoft.com/en-us/azure/key-vault/certificates/create-certificate#partnered-ca-providers

[2020-10-09 01:40] sebansal commented on #63709
I've updated the requested page as well.

[2020-10-09 01:40] sebansal commented on #63709
#please-close

[2020-10-09 01:40] #63709 closed

[2020-10-09 01:52] Karishma-Tiwari-MSFT commented on #63352
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-09 01:52] #63352 closed

[2020-10-09 01:57] Karishma-Tiwari-MSFT commented on #63580
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-09 02:01] Karishma-Tiwari-MSFT commented on #63612
Please refer to this document for details on how to pull images from ACR using user assigned identity: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-managed-identity

@erikadoyle Can you please help confirm the following? Thanks :)

[2020-10-09 02:03] Karishma-Tiwari-MSFT commented on #64060
Thanks for the feedback! We are currently investigating and will update you shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Navigate to the page of int

[2020-10-09 02:04] Karishma-Tiwari-MSFT commented on #64070
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-09 02:07] Karishma-Tiwari-MSFT commented on #64042
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-09 02:11] Karishma-Tiwari-MSFT commented on #64061
Thanks for the question. We are currently investigating and will update you shortly.

[2020-10-09 02:13] Karishma-Tiwari-MSFT commented on #64066
@skyfader We would need more details to understand your feedback better. Can you please elaborate on your document update request? Are you suggesting to add some more information? Let us know. Thanks :)

[2020-10-09 02:20] Lexie1919 opened #64082 "Customer needs more information on the connection error code"
[Enter feedback here]

Hello, I am a CSAM worked at Microsoft, alias Yuywang
My customer has been asking for more information on the connection error code. As obviously from the logs generated there are a lot more error codes that are not listed here. We also opened an ICM with PG, if you'd like to have more details please contact me on teams with my alias.

Thanks!

Yuyu

---
#### Document Detail

[2020-10-09 03:10] VikasPullagura-MSFT commented on #64082
@Lexie1919
Thanks for the feedback! I have assigned the issue to content author to check and add the details to the document as appropriate.

[2020-10-09 03:10] VikasPullagura-MSFT commented on #64082
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-10-09 03:19] weinong opened #64083 "Doc should provide better explanation on how az aks update --attach-acr work which requires owner permission"
We can do a better job explaining that `az aks update --attach-acr` actually uses caller's permission to create role assignment on the node's MSI to ACR.

For instance, there is a long list of confusions in https://github.com/Azure/AKS/issues/1517
I also see people mixing the control plane MSI with node MSI when assigning ACR role.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-10-09 03:25] dotbalo commented on #62037
@braest **kubectl delete -A ValidatingWebhookConfiguration nginx-ingress-ingress-nginx-admission** can solve this problem, but it will cause another problem. When your ingress is configured incorrectly, the new ingress will not take effect in the future.

[2020-10-09 03:56] teconmoon opened #64085 "Incorrect Reply URL Advice leads to broken sign-ins"
In section 4c under **Configure Azure AD SSO** where you need to provide a Reply URL, the listed patterns break Passwordless sign-in. Password sign-in doesn't seem to care that this is wrong, but the correct pattern to avoid issues is https://www.google.com/a/<yourdomain.com>/acs

Here's what I would see happening:

1. Go to mail.google.com/a/<yourdomain.com>
2. Enter my Azure email address
3. Try

[2020-10-09 03:58] SnehaAgrawal-MSFT commented on #64062
@mheisenberg Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-09 04:00] MartinJaffer-MSFT commented on #63878
@igomat  Our engineers are reviewing the issue and will address as appropriate.

[2020-10-09 04:02] #63778 closed

[2020-10-09 04:03] qliu95114 opened #64086 ""Instance count can vary from 1 to 125" is misleading."
AppGw V2 is by default highly available. Unlike V1 where customer can create a single instance Gateway (with no SLA), such an option does not exist in V2. It will always have at minimum 2 instances to ensure high availability.

When in autoscaling and choosing 1 instance, you are telling it to have at least reserved capacity worth 1 instance equivalent. It is not a count of how many instances are

[2020-10-09 04:03] PramodValavala-MSFT commented on #63853
@liamgsmith Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

As for the 3rd Registration in the doc, it's to register the developer portal itself as an app to allow developers to authenticate and test APIs from the developer portal console.

[2020-10-09 04:11] PramodValavala-MSFT commented on #64080
@rgamage Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-10-09 04:26] #64080 closed

[2020-10-09 04:34] VikasPullagura-MSFT commented on #64083
@weinong
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-09 04:34] VikasPullagura-MSFT commented on #64083
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-10-09 04:41] SnehaAgrawal-MSFT commented on #64079
@Amos-Matthew Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-09 05:02] HarithaMaddi-MSFT commented on #63493
@stewartadam - This issue is a duplicate of another [issue](https://github.com/MicrosoftDocs/azure-docs/issues/63508) and it is addressed a while back. I will close this issue now, please feel free to comment for any queries.

[2020-10-09 05:02] #63493 closed

[2020-10-09 05:02] Amos-Matthew commented on #64079
Thank you.

[2020-10-09 05:19] JanaAbhijit commented on #63934
Thanks, @AjayKumar-MSFT , I will drop an email.  I faced these issues with multiple subscriptions even where event grid services I have registered newly.

[2020-10-09 05:22] skyfader commented on #64066
Latency and contention are similar's concepts in the networking or telecomunications arena, but we need more details or recomendation from ours experts to reduce these issues in the desing VM deployments, by example it's better a prevent some GROUP's in the same physical area in the CLOUD (if it's is possible). REMEMBER we can reduce the latency ... but never eliminate.

[2020-10-09 05:35] AjayKumar-MSFT commented on #63934
Abhijit,  thanks for sending the email and sharing additional details. I'm following-up with you further offline.

[2020-10-09 05:37] Sharmistha-Rai commented on #63702
@stec00 - thanks for noticing this. We're working on fixing the links from our end.

[2020-10-09 05:39] ram-msft commented on #64078
@joshkyh Thanks for the question! We will review and update accordingly.

[2020-10-09 05:39] SwathiDhanwada-MSFT commented on #64054
Assigning to author @cijothomas for review and updating the document accordingly.

[2020-10-09 05:43] RohitMungi-MSFT commented on #63850
@jamesbannan Thanks for updating us. @PeterCLu It would be great to review the suggestion and update this rule in the screenshot for future updates to this document.

[2020-10-09 05:47] SumanthMarigowda-MSFT commented on #63670
@AndyButland Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
 GetProperties says that it returns QueueProperties.

I can confirm that the code in the article is correct. The code in question gets the queue length. Here is the output from that code:

Choose a basic queue scenario:
1) Create a queue
2) Add messages to the queue
3) Peek at next me

[2020-10-09 05:47] #63670 closed

[2020-10-09 06:03] jiasli commented on #63136
@david-stewart-palapanou, thanks for the feedback. I summitted PR https://github.com/MicrosoftDocs/azure-docs/pull/63197 to use `--output tsv` instead as a cross-platform solution.

The document [Configure backup with Azure CLI](https://docs.microsoft.com/en-us/azure/backup/selective-disk-backup-restore#configure-backup-with-azure-cli) is now showing the latest version.

[2020-10-09 06:14] dexblack opened #64088 "Incorrect link provided in FAQ"
**[FAQ item](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/faq#can-i-make-guest-users-visible-in-the-exchange-global-address-list)**: Can I make guest users visible in the Exchange Global Address List?
**Erroneous Link**:
Yes. By default, guest objects aren't visible in your organization's global address list, but you can use Azure Active Directory PowerShell to make

[2020-10-09 06:14] SumanthMarigowda-MSFT commented on #64077
@emilylagoand Thanks for the question! We are investigating and will update you shortly.

[2020-10-09 06:21] #63758 closed

[2020-10-09 06:22] #63774 closed

[2020-10-09 06:22] venkateshkuppusamy opened #64089 "VM scale set extension fails"
[Enter feedback here]
I am trying to create a simple VM scale set from my local machine. The extension script fails. However in Azure cloud shell it works.

Extension script
az vmss extension set --publisher Microsoft.Azure.Extensions --version 2.0 --name customScript --resource-group venkirg123 --vmss-name venkiscaleset --settings '{"fileUris":["https://raw.githubusercontent.com/Azure-Samples/com

[2020-10-09 06:25] BryanTrach-MSFT commented on #63758
@BenyErnest Thank you for pointing this out. We have gone ahead and made the necessary changes. The updated content should be publicly visible within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-09 06:26] DirkEcker commented on #63860
@b-juche Thanks Julie, I appreciate your support! The content looks good to me, feel free to close this issue.

[2020-10-09 06:27] BryanTrach-MSFT commented on #63774
@JTNichols Thank you for brining this up. We agree that the doc needed some updates. These updates should be visible within 24 hours. If you feel further edits would be warranted, please open a new issue and we can assign that directly to the content author for a deeper edit/review.

[2020-10-09 06:29] AndyButland commented on #63670
Hmm - if you're happy with it, then fine @SumanthMarigowda-MSFT - but the docs for `GetProperties` says that it returns `Azure.Response<Azure.Storage.Queues.Models.QueueProperties>` not just `Azure.Storage.Queues.Models.QueueProperties`, which does match with what I found needing to use the `.Value` property.

See [here](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclient.

[2020-10-09 06:30] souravmishra-msft commented on #63602
Hello @LukeCarrier, thanks a lot for sharing the details about the implementation. I would like to connect with you offline to discuss this further and hence it would be great if you can drop an email with the following details to **azcommunity[at]microsoft[dot]com**:

- Tenant ID:
- Azure Subscription ID:
- Mentioned this Github Post URL in the email for us to identify it.

Do share the following

[2020-10-09 06:45] AmitavaHazra commented on #64020
can any one please comment and help here.

@MonikaReddy-MSFT
@curtand  , can you also have a look on this and assist me.

[2020-10-09 07:08] SubhashVasarapu-MSFT commented on #63818
@dannradkov, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-09 07:08] #63818 closed

[2020-10-09 07:21] souravmishra-msft commented on #63939
Hello @msmbaldwin ,  can you please take a look at this and update the document accordingly.

[2020-10-09 07:32] hostmatic opened #64091 "Should AD Connect Cloud Provisioning not be mentioned in this article?"
Should AD Connect Cloud Provisioning not be mentioned in this article?
You know something like if you have multiple disconnected AD enviroments, perhaps you should use https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/what-is-cloud-provisioning

The first article i would look up in that kind of situation is this excellent topology article. First much later i became aware o

[2020-10-09 07:38] skiddder opened #64092 "add RHEL 8 steps"
I tried to join a RHEL 8.2 LVM VM, but the steps for RHEL 7 in this document do not work for RHEL 8 (for RHEL 7 everything worked like a charme). May you please extend the docs for RHEL 8.2 (or latest minor)?

in this step i receive the error below: sudo realm join --verbose AADDSINT.LOCAL -U 'aaddstest1'

* Calculated computer account: CN=RHEL-8,OU=AADDC Computers,DC=aaddsint,DC=local
 * Encrypti

[2020-10-09 07:50] shadowano opened #64093 "cdnverify not completely explained?"
Hi,

My precondition:
1 production custom domain my.company.com on CDN endpoint using Azure DNS

Goal:
Move deployment to DevOps using terraform. This will in turn create a completely new set of resources for production.

This article suggest a solution to avoid the 6 hour downtime it takes to register a custom domain on CDN endpoint as it states

The section "Map the temporary cdnverify subdomain

[2020-10-09 08:23] AnuragSharma-MSFT commented on #64068
@kennethvs Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-09 08:34] GitaraniSharma-MSFT commented on #64086
@qliu95114 , thank you for your feedback. We'll review this and get back to you shortly.

[2020-10-09 08:37] SwathiDhanwada-MSFT commented on #64028
@simonzhamos Whenever you are using deployment scripts, a storage account and a container instance are needed for script execution and troubleshooting which are automatically created when you trigger deployment. You can also use existing storage account and container instance for script execution.

As per the error you have provided,  seems the container instance might be deleted. I would suggest

[2020-10-09 08:39] JayaChatterjee-MSFT commented on #64004
@rgamage Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-09 08:43] wUEZRs commented on #63863
It would be good to have this info in the Docs

fre. 9. okt. 2020 kl. 03:35 skrev Winston Howard <notifications@github.com>:

[2020-10-09 08:44] dominicbetts commented on #63135
Hi @danewalton - we recently published the updated docs now that IoT Plug and Play is GA. In addition to the article you're talking about in this Issue, there's also a developer guide that provides more detail about how a device should send these payloads. Please take a look at: https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-developer-guide-device-csharp

Thanks, Dominic

[2020-10-09 09:11] cosminmocan commented on #51830
This worked for  us aswell , however it will be extremely uncomfortable to do in our azure vdi environment...
Did your ticket advance by any chance ?

Thank you for posting a workaround!

[2020-10-09 09:11] dominicbetts commented on #63029
Hi @perkops - thanks for pointing this out - I'll update the article. Please note that we're currently reviewing and updating this content, and that currently the most up to date docs are available here: https://azure.github.io/Industrial-IoT/. Thanks!

#please-close

[2020-10-09 09:11] #63029 closed

[2020-10-09 09:15] Anmolgan81 opened #64095 "Cannot connect to On-premise network using Self hosted as a Proxy"
am not able to connect on-premise enviroment from the Azure SSIS, and I am using self hosted runtime as a proxy, my package runs successfully from the azure vm where I have the VPN gateway, but not able to run using the Azure SSIS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc15b40b-fcef-856c-3da0-01222122dccd
* Ve

[2020-10-09 09:16] AndyJenks007 opened #64096 "Another certificate revocation that will be ignored and cause issues!"
The simple way to identify (discover) all certificates (and Keys) is to use Whitethorn. It can be used with an API to identify and replace in one simple and automated way.

AJ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f82e-b1a7-41cfa694fa58
* Version Independent ID: 60a94729-02ad-0ef1-a642-63351d0171

[2020-10-09 09:17] #64035 closed

[2020-10-09 09:19] SwathiDhanwada-MSFT commented on #64035
@lanicolas Thanks for your feedback. I have made changes as per the feedback and  changes will be live soon. We will close the issue for now.

[2020-10-09 09:30] aminekaabachi commented on #55114
@ChiragMishra-MSFT @nabhishek - Any updates on this ?

[2020-10-09 09:41] vipulsparsh commented on #64085
@teconmoon  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-09 09:42] vipulsparsh commented on #64088
@dexblack  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.
@msmimart Can you have a look ?

[2020-10-09 09:43] vipulsparsh commented on #64091
@hostmatic Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath  Can you have a look at this ?

[2020-10-09 09:47] vipulsparsh commented on #64092
@skiddder Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@iainfoulds Can you have a look at this ?

[2020-10-09 09:49] VikasPullagura-MSFT commented on #64089
@venkateshkuppusamy

As mentioned in the document, the CLI commands are expected to run on Cloud Shell (BASH) prompt.

From the error, the reason is with the shell not able to interven (in terms of interpolations, etc) with the string you want to pass to the command.

However, if you still want to run from your local machine (cmd prompt) with Azure CLI command you may have to change the command as

[2020-10-09 09:53] Lexie1919 commented on #64082
Have been working with customer on a continous disconnection issue, found these error codes in a 24 hours' report but none of them are mentioned in the public document. There could be more :

267
--
516
50331656
2055
1796
-2147024663
-2146233083
64
58
50331661
63
3847
2308
4409
264
501
1287
12
15
9223
49
3335
2825
519
4410
19

[2020-10-09 09:58] Lexie1919 commented on #64082
One or more errors occurred. (Websocket)
--

[2020-10-09 10:10] jimbo8098 opened #64097 "Sysprep Dir "Not Found""
`%windir%\system32\sysprep` does not work on Windows Hyper-V Server 2019 1809, I needed ot use the absolute equivalent of this due to %windir% not being found, i.e. `C:\Windows\System32\Sysprep\`. This is a brand new build on Azure. Azure links to the document from the VM's _Capture_ page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-10-09 10:12] #64022 closed

[2020-10-09 10:13] SwathiDhanwada-MSFT commented on #64022
@TS-grantlebrun Thanks for your feedback. I have made changes as per the feedback and changes will be live soon. We will close the issue for now.

[2020-10-09 10:23] antoniogeko commented on #63610
Same problem here. Is it possible in this scenario to deploy by using Azure Devops hosted agents instead of your own agents?

[2020-10-09 10:23] swinarko commented on #64095
SHIR as a proxy for SSIS IR currently supports only a few components, see https://docs.microsoft.com/azure/data-factory/self-hosted-integration-runtime-proxy-ssis#current-limitations.  Please raise a support ticket for us to investigate your issue in more details. #please-close

[2020-10-09 10:23] #64095 closed

[2020-10-09 10:25] Anmolgan81 commented on #64095
@swinarko we have a suppot ticket for this but we are not getting much help there can you look into this

**SR number: 120092926004867**

[2020-10-09 10:30] Anmolgan81 commented on #64095
![Screenshot (70)](https://user-images.githubusercontent.com/34720423/95573034-7a41fc80-0a48-11eb-912d-0742daf59758.png)

Please see this

[2020-10-09 10:32] Ericgre commented on #63610
Because the endpoint is private for the SCM too, the DevOps Agent must be in a network with access with the endpoint, so mandatory to use self hosted Devops Agent.

[2020-10-09 10:34] swinarko commented on #64095
SHIR as a proxy for SSIS IR doesn't currently support Execute SQL Task.

[2020-10-09 10:36] Anmolgan81 commented on #64095
@swinarko so will need to setup Azure VPN Gateway for this?

[2020-10-09 10:40] aminekaabachi commented on #55114
I found a work-around: you can generate a long-lived PAT using the Tokens API & SP credentials.

[2020-10-09 10:42] swinarko commented on #64095
To run Execute SQL Task on SSIS IR that connects to your on-prem SQL Server, you'll need to join your SSIS IR to a VNet connected to your on-prem network via ExpressRoute/VPN Gateway for now.

[2020-10-09 10:48] antoniogeko commented on #63610
I feared as much... thanks! I think a mention in the documentation would be appreciated. I mean, if you are somewhat new to App Service it's not that obvious that if scm public access is blocked there is no possible way to deploy from the Internet, even if you use a Microsoft integrated service like Azure Devops.

[2020-10-09 10:51] Ericgre commented on #63610
ok thank you for your comment, I'll update the doc

[2020-10-09 10:58] JayaChatterjee-MSFT commented on #63790
@digaomatias  I understand that here you are trying to configure multiple responses for various scenario.
In case APIM there can be one response. So in this case, you can try with "<choose>" then put a condition "<when condition=>" ( condition could check input value or type). ref : https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#example-9
Also, I will add th

[2020-10-09 10:59] Anmolgan81 commented on #64095
@swinarko thanks for the confirmation, can you also throw some insights as we are using CDC and CT implementation here, are those CDC splitter sequence containers and all those flows supported when we setup S2S connectivity between on-premise and Azure?

[2020-10-09 11:01] haymansfield opened #64099 "Guidance for private resource dns resolution over P2S VPN connection"
I'm looking for guidance on configuring dns resolution of the private ip of a V2 application gateway over a P2S VPN connection.

I understand from a Microsoft post that Private DNS zones are not picked up over P2S connections so this is not a workable solution. Is this true.

The same post directed to this page for solutions, but I can find no mention of P2S connections. Should this page list a so

[2020-10-09 11:18] swinarko commented on #64095
With VNet injection, everything's supported.

[2020-10-09 12:08] VadimBurshtyn opened #64100 "Display Technical profile DisplayName / Description to the user"
Hi!

The docs says that it is possible to display technical provide DisplayName and Description to the user. But I can't find any information on how to enable this in self-asserted technical profile.

And also, can you please clarify if it is possible to include HTML markup into Description? Especially, i'd like to present a multiline text with some words highlighted bold/italic.

Thanks!
---
####

[2020-10-09 12:09] GitaraniSharma-MSFT commented on #64086
@qliu95114 , In Application gateway/WAF V2, you can choose the Manual capacity type and specify a count of 1 instance and it is possible.
![image](https://user-images.githubusercontent.com/67630903/95579692-b464cb80-0a53-11eb-8a6a-a319750ef1b4.png)

The explanation for high availability is already mentioned [here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autos

[2020-10-09 12:19] bangonkali commented on #8028
This is indeed helpful for my case. Just to confirm. On Ubuntu 18.04. User being used is already a member of `Azure AD DC` Group.

[2020-10-09 12:48] gitralf commented on #14345
Can we close this issue? Azure Germany is announced to be closed, I don't see the need for adopting document changes...

[2020-10-09 12:49] gitralf commented on #34944
Can we close this issue? Azure Germany is announced to be closed, do you see the need for changing documentation?

[2020-10-09 13:03] amanmcse commented on #63805
@raghava1147 You can refer to **https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-6-SignOut** for implementing SignOut for B2C applications. If you are still experience the issue, please open a support ticket as we use this platform for documentation related issues.

[2020-10-09 13:03] #63805 closed

[2020-10-09 13:16] EdwardALockhart commented on #44062
I too experience this issue when deploying a PowerBI compatible endpoint following the directions in https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-advanced-entry-script

The endpoint deploys fine and the inference schema is correct, but when calling the endpoint I get the error "list index out of range".

[2020-10-09 13:29] KrishnaG-MSFT commented on #64058
@ktoliver Thanks for the pull request and the update. 👍
@srinjoym Thanks for raising the feedback. I have just verified and could see that the document is updated correctly now.

[2020-10-09 13:36] mmacy commented on #63715
@yoghcl Closing issue due to inactivity. If you do get a chance to provide the requested info in the future, please @ mention `mmacy` in your response in this issue or open a new one so that we're notified. Thanks. #please-close

[2020-10-09 13:36] #63715 closed

[2020-10-09 13:37] mmacy commented on #62807
@stefandascalu64 Closing issue due to inactivity. If you do get a chance to provide the requested info in the future, please @ mention `mmacy` in your response in this issue or open a new one so that we're notified. Thanks. #please-close

[2020-10-09 13:37] #62807 closed

[2020-10-09 13:40] KalyanChanumolu-MSFT commented on #63721
@langstonj Looks like you have posted a question on Microsoft Q&A
We will proceed to close this issue on GitHub now.

[2020-10-09 13:40] #63721 closed

[2020-10-09 13:41] KalyanChanumolu-MSFT commented on #63777
@anil8623 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-09 13:41] dannyb648 opened #64105 "Missing Implimentation of Retry Handle in Typescript"
It Docs read as if you can pass in a custom callback to decide if a Orchestrator should retry a failed Activity Function.

However there is no example of how to do this on the Typescript tab of the page. After taking a look at the underlying df.retryOptions type in Typescript, it doesn't seem to even exist.

![image](https://user-images.githubusercontent.com/6515044/95589740-1108bc00-0a3d-11eb-8f0

[2020-10-09 13:41] #63777 closed

[2020-10-09 13:44] amanmcse commented on #63942
@harald-quist-stratsys  A group de-provisioned in below scenarios:
1. When you have the provisioning scope set to "sync only assigned users and groups" as shown below:
![image](https://user-images.githubusercontent.com/33834131/95589882-fe08e280-0a62-11eb-80be-a9f981feb2cc.png)
And the group assignment is removed from Users and Groups blade of the application.
![image](https://user-images.githubus

[2020-10-09 13:44] #63942 closed

[2020-10-09 13:44] rhyscooper commented on #63723
Is there any documentation available regarding how to configure a DNN listener, or an ETA on when any draft documentation might be available?

[2020-10-09 13:56] KalyanChanumolu-MSFT commented on #63891
@MauricioZa We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-09 13:56] #63891 closed

[2020-10-09 13:59] mmacy commented on #62164
@ukhan Is there a documentation update that you feel needs to happen here? Or has this moved into more of an architecture/methodology discussion with @hpsin?

If there are no doc updates required, I'd like to get this one closed out. Thanks! -MM

[2020-10-09 13:59] langstonj commented on #63721
I don’t look for a  reply anytime soon.

I also believe I have made a strong case (if anyone read it) on exactly how the documentation example of this command is deficient.  It works for all baselines or it does not and I have demonstrated it does not.

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

[2020-10-09 14:01] irsubasi opened #64106 "Default setting for "Allow Azure services and resources to access this server""
The below line is wrong.
**During creation of a new logical SQL server from the Azure portal, this setting is left unchecked.**

When you create a new logical SQL server, that setting is set to "No" by default.

Also, provide a screenshot that is recent. The one the document has is very old.

Please correct the statement accordingly to avoid confusions.

---
#### Document Details

⚠ *Do not edit t

[2020-10-09 14:03] stefandoh commented on #62583
Any update?

[2020-10-09 14:04] mmacy commented on #62107
@mvrak Amit, assigning this one over to you as this is your area. Is there a more recent, up-to-date Node sample we can point @DevRCRun to?

Cc: @DarylThayil @sameerag

#reassign:mvrak

[2020-10-09 14:14] kkankala commented on #39079
@QiangZ,

how are you authenticating enterprise repo? which github authentication mechanism are you using?

[2020-10-09 14:15] ukhan commented on #62164
@mmacy, thank you for your response.

I would still like to get an answer to my question in the documentation or here. @hpsin's answer is wrong, in my opinion. Why I explained above. Thanks!

[2020-10-09 14:20] treytro opened #64107 "Will Automatic SQL VM RP registration detect a manual install of SQL?"
Step 6 says: Select Register to enable the feature and automatically register all current and future SQL Server VMs with the SQL VM resource provider.

It's unclear how this works.  My customer for instance will deploy an Azure marketplace image with Windows Server 2016. They will then manually install SQL and configure the AG.  If they check this box, will it detect SQL is on these systems and re

[2020-10-09 14:23] AjayKumar-MSFT commented on #64036
@Prakulka, Requesting your comments on this.

[2020-10-09 14:23] QiangZ commented on #39079
Hello @kkankala , I've this fixed after retry to link to Github  with a valid organisation admin account

[2020-10-09 14:36] mthomson-pulse opened #64109 "Paired regions require updating"
In the list of paired regions, the following regions are missing:

- Germany North
- Germany West Central
- Brazil Southeast

It is also unclear which is the paired region for US Gov Texas (since two US Gov regions use it for their pair), and the table lists US Gov Iowa, which was announced to be retired in April 2020.

If Brazil Southeast's pair is now Brazil South then the note about South Centr

[2020-10-09 15:16] #63929 closed

[2020-10-09 15:16] deepumi opened #64110 "Define the instrumentation substitution values in release pipeline or stage variables."
The document does not explain how to configure the Application Insights Instrumentation key in Azure Devops Release pipeline. Can we add the following section?

Define the instrumentation substitution values in release pipeline or stage variables.

Name | Value | Secure | Scope
-- | -- | -- | --
ApplicationInsights.InstrumentationKey | putinstrumentationkeyhere

---
#### Document Details

⚠ *Do no

[2020-10-09 15:20] ketaanhshah opened #64111 "Redhad Pull secret change"
In the documentation:-
https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster
Go to the OpenShift product page if this is your first time creating a cluster. After registration, head to Red Hat OpenShift Cluster Manager page, where you can click Download pull secret and download a pull secret to be used with your ARO cluster.

The link to download secret or pull secret should be

[2020-10-09 15:23] #62979 closed

[2020-10-09 15:30] Ericgre commented on #63610
strange issue, using self hosted agent with azurewebsites.net works well, no need to custom name.

[2020-10-09 15:35] salem84 opened #64112 "Copy snapshot of a managed disk to same or different subscription with CLI between different tenant"
Hi,
this script can be applied only when subscriptions are in the same tenant? Is it correct?
And if is so, I think it's better to note this in a clear manner

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ffcf9ca-4a85-9f21-ac32-584a2105e161
* Version Independent ID: 4fd3651a-dbad-3585-1900-b17e3c7ebf44
* Content: [Co

[2020-10-09 15:37] normesta commented on #62061
Hi @RichWK - The statement about CORS support refers to the ability to list domains that can access resources in your storage account. That capability is documented here - [Cross-Origin Resource Sharing (CORS) support for Azure Storage](https://docs.microsoft.com/en-us/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services). I updated the link to inclu

[2020-10-09 15:46] surya2155 commented on #63610
Is Azurewebsites.net should be a private Dns or public Dns?? Because I have used private DNS.

[2020-10-09 15:50] Ericgre commented on #63610
no you must not change azurewebsites.net record, you need to create only the myapp.privatelink.azurewebsites.net and myapp.scm.privatelink.azurewebsites.net DNS records, as explain in the article, we will create the cname from public to private. but your app or the scm must be reached by the public name not the privatelink one, if not you will have no name to match and no tls handshake. privatelin

[2020-10-09 15:51] cherylmc commented on #63859
I've updated the article to reflect this. Thanks for bringing it to my attention! #please-close

[2020-10-09 15:51] #63859 closed

[2020-10-09 15:58] rschiefer opened #64113 "No Workspace Edition option on creation"
The tutorial instructs to set the workspace edition but it doesn't exist on the create workspace page.

![image](https://user-images.githubusercontent.com/1071761/95605291-5bc70b80-0a1e-11eb-94c5-f3b781112f39.png)

I need to set it to enterprise because ML.NET in VS requires it:

![image](https://user-images.githubusercontent.com/1071761/95605089-130f5280-0a1e-11eb-8813-d7bde77d3da6.png)

---
####

[2020-10-09 16:01] MashaMSFT commented on #63723
Hi @rhyscooper , thanks for reaching out! Unfortunately, we are unable to provide a time estimate for future documentation, all I can say is that it is currently in the process of writing the documentation and it will be live as soon as it's ready.

My apologies for the delay, but we appreciate you reaching out, and your patience.

Thanks!
Masha from the SQL Docs team

[2020-10-09 16:08] MashaMSFT commented on #64107
Hi @treyto, thanks for reaching out! Yes, you have understood correctly. When you enable the automatic registration feature for your subscription, future VMs that have SQL Server installed to them manually will automatically be registered with the SQL VM resource provider.

Hope that helps and please let us know if we can help further. I'm going to close out this Git Issue but please feel free to

[2020-10-09 16:08] #64107 closed

[2020-10-09 16:13] JamesTran-MSFT commented on #64096
@AndyJenks007
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-09 16:25] gvashishtha commented on #64078
Hi Joshua, if this is a concern for you, could you simply define global variables like `model` outside of both init() and run()? It would be in the global scope but wouldn't require you to use the global keyword.

[2020-10-09 16:31] mimckitt commented on #55143
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number. For example #55143.

This will inform us that the problem still exists and we will make sure to add it to the update backlog

[2020-10-09 16:31] #55143 closed

[2020-10-09 16:33] mimckitt commented on #54623
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number. For example #55143.

This will inform us that the problem still exists and we will make sure to add it to the update backlog

[2020-10-09 16:33] #54623 closed

[2020-10-09 16:34] mimckitt commented on #54197
We already have an item open for this. I will close this one and continue to see if we can get this information added.

#please-close

[2020-10-09 16:34] #54197 closed

[2020-10-09 16:35] mimckitt commented on #52328
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number. For example #55143.

This will inform us that the problem still exists and we will make sure to add it to the update backlog

[2020-10-09 16:35] #52328 closed

[2020-10-09 16:35] mimckitt commented on #53900
We already have an item for this and will continue to look into it.

https://github.com/MicrosoftDocs/azure-docs/issues/55141

#please-close

[2020-10-09 16:36] #53900 closed

[2020-10-09 16:36] MonikaReddy-MSFT commented on #64111
@ketaanhshah -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-09 16:36] mimckitt commented on #51190
We are still looking at adding ACU numbers for the B series but at this point in time due to the nature of the burstable series the ACU numbers are not something that have a set range.

#please-close

[2020-10-09 16:36] #51190 closed

[2020-10-09 16:37] mimckitt commented on #49892
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number. For example #55143.

This will inform us that the problem still exists and we will make sure to add it to the update backlog

[2020-10-09 16:37] #49892 closed

[2020-10-09 16:37] mimckitt commented on #49181
We are working on addressing ACU numbers across all the sizing docs. This is in our backlog but I do not have an ETA at this time.

#please-close

[2020-10-09 16:37] #49181 closed

[2020-10-09 16:38] mimckitt commented on #56298
These are listed in the previous generations page.

https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-previous-gen

#please-close

[2020-10-09 16:38] #56298 closed

[2020-10-09 16:39] mimckitt commented on #49317
#please-close

[2020-10-09 16:39] #49317 closed

[2020-10-09 16:39] MonikaReddy-MSFT commented on #64111
@ketaanhshah -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-09 16:39] #64111 closed

[2020-10-09 16:40] mimckitt commented on #50942
We are working on addressing this and ACU numbers across our sizing docs. I don't have an ETA but the sizing team is aware and looking into it.

#please-close

[2020-10-09 16:40] #50942 closed

[2020-10-09 16:42] mimckitt commented on #57099
I checked with the team and they stated it is not supported. You might have found a work around however out of the box, it is not supported.

#please-close

[2020-10-09 16:42] #57099 closed

[2020-10-09 16:42] mimckitt commented on #56553
#please-close

[2020-10-09 16:42] #56553 closed

[2020-10-09 16:43] mimckitt commented on #56391
We are working on updates such as these across all the sizing docs. No ETA but the team is aware and we are working to add completely consistency across all the sizes.

#please-close

[2020-10-09 16:43] #56391 closed

[2020-10-09 16:44] mimckitt commented on #58371
Due to the nature of the B series being a burstable series, this information can vary. We are working to make this more clear.

#please-close

[2020-10-09 16:44] #58371 closed

[2020-10-09 16:45] mimckitt commented on #58002
We currently use data disk across the docs. However I forwarded this feedback to the correct team to look into. At this point in time we are leaving the docs as it.

#please-close

[2020-10-09 16:45] #58002 closed

[2020-10-09 16:45] mimckitt commented on #57855
We are working to adjust the sizing docs across the board. I have forwarded this feedback to the sizing team so moving forward we can look at adding it.

#please-close

[2020-10-09 16:46] #57855 closed

[2020-10-09 16:47] mimckitt commented on #31978
We have opted to leave the doc as is for now.

#please-close

[2020-10-09 16:47] #31978 closed

[2020-10-09 16:48] mimckitt commented on #52194
We are working on updating all the sizing docs across the board to ensure consistency. This is in our backlog of items to address.

#please-close

[2020-10-09 16:48] #52194 closed

[2020-10-09 16:49] mimckitt commented on #55141
we are working to address this and other consistency issues across the board on the sizing docs. This is in our backlog.

#please-close

[2020-10-09 16:49] #55141 closed

[2020-10-09 16:50] mimckitt commented on #59519
We are working to address the consistency across the board for the sizing docs. This is in our backlog of things to address.

#please-close

[2020-10-09 16:50] #59519 closed

[2020-10-09 16:50] mimckitt commented on #60085
We are working to address the consistency across the board for the sizing docs. This is in our backlog of things to address.

#please-close

[2020-10-09 16:50] #60085 closed

[2020-10-09 16:50] mimckitt commented on #60630
We are working to address the consistency across the board for the sizing docs. This is in our backlog of things to address.

#please-close

[2020-10-09 16:50] #60630 closed

[2020-10-09 16:50] mimckitt commented on #62265
We are working to address the consistency across the board for the sizing docs. This is in our backlog of things to address.

#please-close

[2020-10-09 16:50] #62265 closed

[2020-10-09 16:51] #62454 closed

[2020-10-09 16:51] mimckitt commented on #62646
We are working to address the consistency across the board for the sizing docs. This is in our backlog.

#please-close

[2020-10-09 16:51] #62646 closed

[2020-10-09 16:52] mimckitt commented on #62649
This was fixed.

#please-close

[2020-10-09 16:52] #62649 closed

[2020-10-09 16:53] mimckitt commented on #23258
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number. For example #55143.

This will inform us that the problem still exists and we will make sure to add it to the update backlog

[2020-10-09 16:53] #23258 closed

[2020-10-09 16:54] mimckitt commented on #23557
We are currently doing a cleanup of old issues so we can better prioritize and identify documentation bugs moving forward.

If this is still an issue, please open a new feedback item on the document and reference this one. This can be done by adding a # and the issue number.

This will inform us that the problem still exists and we will make sure to add it to the update backlog.

#please-close

[2020-10-09 16:54] #23557 closed

[2020-10-09 16:54] mmacy commented on #62164
#reassign:hpsin

[2020-10-09 16:54] mimckitt commented on #26191
We are working on addressing consistency on all the sizing docs. This is in our backlog.

#please-close

[2020-10-09 16:54] #26191 closed

[2020-10-09 16:55] mimckitt commented on #33998
We are working on consistency across all our sizing docs. This is in the backlog.

#please-close

[2020-10-09 16:55] mimckitt commented on #45564
We are working on consistency across all our sizing docs. This is in the backlog.

#please-close

[2020-10-09 16:55] #45564 closed

[2020-10-09 16:56] hpsin commented on #62164
Hey @ukhan - you're right - I was unfamiliar with the behavior of launchWebAuthFlow and the cookie partitioning, thank you for the insight.  I've followed up internally with the Edge (Chromium) team for suggestions here, as well as our engineering team.

[2020-10-09 16:57] mimckitt commented on #28478
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can priortize correctly.

#please-close

[2020-10-09 16:57] #28478 closed

[2020-10-09 16:58] mimckitt commented on #30370
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:58] #30370 closed

[2020-10-09 16:58] mimckitt commented on #30555
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:58] #30555 closed

[2020-10-09 16:58] mimckitt commented on #32161
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:58] #32161 closed

[2020-10-09 16:58] mimckitt commented on #34413
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:58] #34413 closed

[2020-10-09 16:58] mimckitt commented on #34521
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:58] #34521 closed

[2020-10-09 16:59] mimckitt commented on #35009
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:59] #35009 closed

[2020-10-09 16:59] cijothomas commented on #64110
This document is about ApplicationInsights SDK for Asp.Net Core apps only. I dont think we want to document how to replace a setting in Azure Devops or any other CI/CD infra. How one retrieves values from CI/CD to the application - is a generic topic and not related to ApplicationInsights.

[2020-10-09 16:59] #35599 closed

[2020-10-09 16:59] mimckitt commented on #37407
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:59] #37407 closed

[2020-10-09 16:59] mimckitt commented on #39740
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:59] #39740 closed

[2020-10-09 16:59] mimckitt commented on #39925
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:59] #39925 closed

[2020-10-09 16:59] mimckitt commented on #39926
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 16:59] #39926 closed

[2020-10-09 17:00] chirangaalwis opened #64114 "[AKS][Files] Incorrect Persistent Volume and Persistent Volume Claim definitions"
**Description:**
In the [documentation](https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#mount-options), the sample Kubernetes Persistent Volumes and Persistent Volume Claims refer to the default, Azure File based `azurefile` Kubernetes Storage Class installed in an AKS cluster.

Hence, the created Persistent Volume does not use the `aksshare` File Share. It dynamically provisions a A

[2020-10-09 17:00] mimckitt commented on #41647
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:00] #41647 closed

[2020-10-09 17:00] mimckitt commented on #43172
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:00] #43172 closed

[2020-10-09 17:00] mimckitt commented on #43779
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:00] #43779 closed

[2020-10-09 17:00] mimckitt commented on #43794
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:00] #43794 closed

[2020-10-09 17:00] #44090 closed

[2020-10-09 17:00] mimckitt commented on #44213
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:01] #44213 closed

[2020-10-09 17:01] mimckitt commented on #44852
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:01] #44852 closed

[2020-10-09 17:01] mimckitt commented on #45099
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:01] #45099 closed

[2020-10-09 17:01] mimckitt commented on #45281
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:01] #45281 closed

[2020-10-09 17:01] Trundlore opened #64115 "Azure P2S AOVPN device and user tunnels mutually exclusive?"
can it be confirmed whether using Azure gateway P2S the connection can be EITHER device OR user tunnel but not both?

**_"Always On VPN connections include **either** of two types of tunnels:"_**

If that is the case, can it be spelled out clearly as the only indication that this may be the case still is the use of the word either above.

thanks

---
#### Document Details

⚠ *Do not edit this sect

[2020-10-09 17:01] danielsc opened #64116 "please forward to Vijay"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 844580f4-5e8c-e66e-076e-2c63287d3be0
* Version Independent ID: 52ee7c20-6680-9be7-64a5-3a9378cfed29
* Content: [What is automated ML / AutoML - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/concept-automated-ml)
* Con

[2020-10-09 17:01] mimckitt commented on #45483
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:01] #45483 closed

[2020-10-09 17:02] mimckitt commented on #45669
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #45669 closed

[2020-10-09 17:02] mimckitt commented on #45672
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #45672 closed

[2020-10-09 17:02] mimckitt commented on #45927
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #45927 closed

[2020-10-09 17:02] mimckitt commented on #46284
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #46284 closed

[2020-10-09 17:02] mimckitt commented on #46382
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #46382 closed

[2020-10-09 17:02] mimckitt commented on #46654
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:02] #46654 closed

[2020-10-09 17:02] mimckitt commented on #46721
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #46721 closed

[2020-10-09 17:03] mimckitt commented on #46732
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #46732 closed

[2020-10-09 17:03] mimckitt commented on #47678
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #47678 closed

[2020-10-09 17:03] #64116 closed

[2020-10-09 17:03] mimckitt commented on #47720
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #47720 closed

[2020-10-09 17:03] mimckitt commented on #47737
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #47737 closed

[2020-10-09 17:03] mimckitt commented on #48105
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #48105 closed

[2020-10-09 17:03] mimckitt commented on #48596
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:03] #48596 closed

[2020-10-09 17:04] mimckitt commented on #49224
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #49224 closed

[2020-10-09 17:04] mimckitt commented on #49387
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #49387 closed

[2020-10-09 17:04] mimckitt commented on #49972
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #49972 closed

[2020-10-09 17:04] mimckitt commented on #50069
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #50069 closed

[2020-10-09 17:04] mimckitt commented on #50640
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #50640 closed

[2020-10-09 17:04] mimckitt commented on #51001
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #51001 closed

[2020-10-09 17:04] mimckitt commented on #51831
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:04] #51831 closed

[2020-10-09 17:05] mimckitt commented on #51883
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #51883 closed

[2020-10-09 17:05] daduckMSFT opened #64117 "Step 6 & 7 need to be updated"
Azure AD Connect now shows Device Systems first, and then SCP.
![image](https://user-images.githubusercontent.com/39836826/95611101-f88da700-0a26-11eb-87b6-ebaa98d64043.png)

All of the screenshots should likely be updated with this as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04d

[2020-10-09 17:05] mimckitt commented on #52078
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #52078 closed

[2020-10-09 17:05] mimckitt commented on #52522
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #52522 closed

[2020-10-09 17:05] mimckitt commented on #52939
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #52939 closed

[2020-10-09 17:05] WinstonHoward-MSFT commented on #64097
Thanks for the question, I'll take a look.

[2020-10-09 17:05] mimckitt commented on #53023
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #53023 closed

[2020-10-09 17:05] mimckitt commented on #53281
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #53281 closed

[2020-10-09 17:05] mimckitt commented on #53332
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:05] #53332 closed

[2020-10-09 17:06] mimckitt commented on #53939
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #53939 closed

[2020-10-09 17:06] mimckitt commented on #53957
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #53957 closed

[2020-10-09 17:06] mimckitt commented on #54149
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #54149 closed

[2020-10-09 17:06] mimckitt commented on #54459
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #54459 closed

[2020-10-09 17:06] mimckitt commented on #54595
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #54595 closed

[2020-10-09 17:06] mimckitt commented on #54961
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:06] #54961 closed

[2020-10-09 17:06] mimckitt commented on #55338
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #55338 closed

[2020-10-09 17:07] mimckitt commented on #56074
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #56074 closed

[2020-10-09 17:07] WinstonHoward-MSFT commented on #64112
Thanks for the feedback, I'll take a look.

[2020-10-09 17:07] mimckitt commented on #56076
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #56076 closed

[2020-10-09 17:07] mimckitt commented on #56136
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #56136 closed

[2020-10-09 17:07] mimckitt commented on #56455
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #56455 closed

[2020-10-09 17:07] mimckitt commented on #56585
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:07] #56585 closed

[2020-10-09 17:08] mimckitt commented on #56598
We are working on updates across all the sizing docs. This is in our backlog.

#please-close

[2020-10-09 17:08] mimckitt commented on #56814
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:08] #56814 closed

[2020-10-09 17:08] mimckitt commented on #57460
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:08] #57460 closed

[2020-10-09 17:08] mimckitt commented on #57685
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:08] #57685 closed

[2020-10-09 17:08] mimckitt commented on #57762
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:08] #57762 closed

[2020-10-09 17:08] mimckitt commented on #58102
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:08] #58102 closed

[2020-10-09 17:09] mimckitt commented on #29974
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:09] #29974 closed

[2020-10-09 17:09] dnblankedelman commented on #63839
The books have been added to the page, thanks for the feedback!

[2020-10-09 17:09] mimckitt commented on #30075
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:09] #30075 closed

[2020-10-09 17:09] mimckitt commented on #31218
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:09] #31218 closed

[2020-10-09 17:09] mimckitt commented on #34095
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:09] #34095 closed

[2020-10-09 17:10] mimckitt commented on #49442
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #49442 closed

[2020-10-09 17:10] mimckitt commented on #50656
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #50656 closed

[2020-10-09 17:10] mimckitt commented on #51459
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #51459 closed

[2020-10-09 17:10] mimckitt commented on #51487
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #51487 closed

[2020-10-09 17:10] mimckitt commented on #51854
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #51854 closed

[2020-10-09 17:10] mimckitt commented on #51862
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:10] #51862 closed

[2020-10-09 17:11] mimckitt commented on #54063
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #54063 closed

[2020-10-09 17:11] mimckitt commented on #54551
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #54551 closed

[2020-10-09 17:11] mimckitt commented on #55506
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #55506 closed

[2020-10-09 17:11] mimckitt commented on #55864
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #55864 closed

[2020-10-09 17:11] dnblankedelman commented on #63839
@AnuragSharma-MSFT feel free to close this issue.

[2020-10-09 17:11] mimckitt commented on #56017
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #56017 closed

[2020-10-09 17:11] mimckitt commented on #56902
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #56902 closed

[2020-10-09 17:11] mimckitt commented on #57362
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:11] #57362 closed

[2020-10-09 17:12] JamesTran-MSFT commented on #64117
@daduckMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-09 17:12] beren912000 opened #64119 "Typo plus missing parameter"
I tried the networkruleset section of the arm and had trouble.  I finally had it working and noticed there are 2 mistakes in the sample ARM above.

1- There is a missing "s' at the end of this line:
[code]

It should be:
[code]

2- There is a missing property:
[code]
With these 2 modifications, I was able to deploy my Relay with firewall rules.

---
#### Document Details

⚠ *Do not edit this secti

[2020-10-09 17:12] mimckitt commented on #26248
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:12] #26248 closed

[2020-10-09 17:12] mimckitt commented on #30094
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:12] #30094 closed

[2020-10-09 17:13] mimckitt commented on #30572
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #30572 closed

[2020-10-09 17:13] mimckitt commented on #27374
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #27374 closed

[2020-10-09 17:13] mimckitt commented on #32299
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #32299 closed

[2020-10-09 17:13] mimckitt commented on #33768
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #33768 closed

[2020-10-09 17:13] mimckitt commented on #40264
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #40264 closed

[2020-10-09 17:13] mimckitt commented on #40338
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:13] #40338 closed

[2020-10-09 17:14] mimckitt commented on #40918
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #40918 closed

[2020-10-09 17:14] mimckitt commented on #44198
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #44198 closed

[2020-10-09 17:14] mimckitt commented on #44431
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #44431 closed

[2020-10-09 17:14] mimckitt commented on #44659
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #44659 closed

[2020-10-09 17:14] mimckitt commented on #44838
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #44838 closed

[2020-10-09 17:14] mimckitt commented on #44849
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #44849 closed

[2020-10-09 17:14] mimckitt commented on #46852
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:14] #46852 closed

[2020-10-09 17:15] mimckitt commented on #47900
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:15] #47900 closed

[2020-10-09 17:15] mimckitt commented on #48128
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:15] #48128 closed

[2020-10-09 17:15] mimckitt commented on #48405
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:15] #48405 closed

[2020-10-09 17:15] mimckitt commented on #49180
We are working on updating all our sizing docs. This is in our backlog.

#please-close

[2020-10-09 17:15] #49180 closed

[2020-10-09 17:15] mimckitt commented on #49183
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:15] #49183 closed

[2020-10-09 17:15] mimckitt commented on #49457
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #49457 closed

[2020-10-09 17:16] mimckitt commented on #49468
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #49468 closed

[2020-10-09 17:16] mimckitt commented on #49879
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #49879 closed

[2020-10-09 17:16] mimckitt commented on #50035
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #50035 closed

[2020-10-09 17:16] mimckitt commented on #50036
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #50036 closed

[2020-10-09 17:16] mimckitt commented on #50378
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:16] #50378 closed

[2020-10-09 17:17] mimckitt commented on #50407
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:17] mimckitt commented on #50496
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:17] #50496 closed

[2020-10-09 17:17] mimckitt commented on #51643
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:17] #51643 closed

[2020-10-09 17:17] mimckitt commented on #51940
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:17] #51940 closed

[2020-10-09 17:18] mimckitt commented on #51953
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #51953 closed

[2020-10-09 17:18] mimckitt commented on #52094
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #52094 closed

[2020-10-09 17:18] mimckitt commented on #52244
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #52244 closed

[2020-10-09 17:18] mimckitt commented on #52287
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #52287 closed

[2020-10-09 17:18] mimckitt commented on #53825
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #53825 closed

[2020-10-09 17:18] #54023 closed

[2020-10-09 17:18] mimckitt commented on #54080
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:18] #54080 closed

[2020-10-09 17:19] mimckitt commented on #54347
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:19] #54347 closed

[2020-10-09 17:19] mimckitt commented on #54573
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:19] #54573 closed

[2020-10-09 17:19] mimckitt commented on #54729
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:19] #54729 closed

[2020-10-09 17:19] mimckitt commented on #54742
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:19] #54742 closed

[2020-10-09 17:19] mimckitt commented on #55705
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:19] #55705 closed

[2020-10-09 17:19] mimckitt commented on #56070
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:20] #56070 closed

[2020-10-09 17:20] mimckitt commented on #57064
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:20] #57064 closed

[2020-10-09 17:20] mimckitt commented on #57142
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:20] #57142 closed

[2020-10-09 17:20] mimckitt commented on #57648
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:20] #57648 closed

[2020-10-09 17:20] mimckitt commented on #57987
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:20] #57987 closed

[2020-10-09 17:21] mimckitt commented on #58140
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:21] #58140 closed

[2020-10-09 17:21] mimckitt commented on #58198
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:21] #58198 closed

[2020-10-09 17:21] mimckitt commented on #7537
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:21] #7537 closed

[2020-10-09 17:21] mimckitt commented on #11121
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:21] #11121 closed

[2020-10-09 17:21] mimckitt commented on #18813
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:21] #18813 closed

[2020-10-09 17:22] mimckitt commented on #19479
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:22] #19479 closed

[2020-10-09 17:22] mimckitt commented on #19716
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:22] #19716 closed

[2020-10-09 17:22] mimckitt commented on #21032
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:22] #21032 closed

[2020-10-09 17:22] mimckitt commented on #22532
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:22] #22532 closed

[2020-10-09 17:22] mimckitt commented on #30332
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:22] #30332 closed

[2020-10-09 17:22] #33640 closed

[2020-10-09 17:23] mimckitt commented on #44536
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #44536 closed

[2020-10-09 17:23] mimckitt commented on #45241
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #45241 closed

[2020-10-09 17:23] mimckitt commented on #46061
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #46061 closed

[2020-10-09 17:23] mimckitt commented on #47858
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #47858 closed

[2020-10-09 17:23] mimckitt commented on #50215
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #50215 closed

[2020-10-09 17:23] mimckitt commented on #51667
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #51667 closed

[2020-10-09 17:23] mimckitt commented on #53185
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #53185 closed

[2020-10-09 17:23] mimckitt commented on #55118
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:23] #55118 closed

[2020-10-09 17:24] nickmorgy opened #64120 "Max Data Disks is a miselading term"
I first raised this on June 11, 2020, and my feedback was supposedly forwarded to the page author,  but no action has been taken, no feedback provided, and the case has just been closed.

The term 'Max Data Disks' suggests that this is the maximum number of disks supported on the VM excluding the operating system disk because of the word 'Data' being included.  If it simply said 'Max Disks' it wou

[2020-10-09 17:24] mimckitt commented on #55119
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:24] #55119 closed

[2020-10-09 17:24] mimckitt commented on #55926
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:24] #55926 closed

[2020-10-09 17:24] mimckitt commented on #57004
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:24] #57004 closed

[2020-10-09 17:24] mimckitt commented on #51486
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:24] #51486 closed

[2020-10-09 17:24] mimckitt commented on #54493
We are currently cleaning up old issues and closing out items that are greater than 90 days old. If an issue is still present, please open a new feedback item on the document so we can prioritize correctly.

#please-close

[2020-10-09 17:24] #54493 closed

[2020-10-09 17:28] JamesTran-MSFT commented on #64096
@AndyJenks007
Thanks for your post!

I just wanted to clarify, what your ask is regarding this issue?

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-09 17:33] kashyap-bhatt-by commented on #21731
For me problem was `JAVA_HOME` wasn't set. On Ubuntu, trying to run Java function locally using `./gradlew azureFunctionRun` from command line.

[2020-10-09 17:49] Absar629 opened #64122 "Privacy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Create a storage account - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?toc=%2Fazure%2Fstora

[2020-10-09 17:50] MarileeTurscak-MSFT commented on #64100
@VadimBurshtyn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-09 17:52] krob527 opened #64123 "The Security and Privacy page no longer have options for app password"
The Security and Privacy page no longer have options for app password on page myaccount.microsoft.com for Office 365 user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Ac

[2020-10-09 17:53] MonikaReddy-MSFT commented on #64017
@ashutoshsingh0223 - Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-09 17:54] williamzhao87 opened #64124 "Update instructions"
[Enter feedback here]
This step no longer seems to be needed:
5. Update the ENVIRONMENT_URL in ./Chat/ClientApp/src/constants.tsx with the location of your resource. (e.g https://<RESOURCE_NAME>.communication.azure.com)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41104fe8-577f-0971-2d8a-362dc11bb1fa
* Version Indepe

[2020-10-09 17:58] MonikaReddy-MSFT commented on #63969
@Kumar3010 -After reaching out to the Product team, found out that we don't have such doc. How to implement message broker is a function of what Redis client you use. We don't own any of Redis client implementation. Hope that helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me i

[2020-10-09 17:59] MashaMSFT commented on #64070
Hi @sqllord , thanks for bringing this to our attention! I've created an internal work item ([1781780](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1781780)) to review this article and update it accordingly.

I'm going to close out this Git Issue for the time being but please feel free to comment should you need anything further in the meantime.

Thanks again for contacting Micr

[2020-10-09 17:59] #64070 closed

[2020-10-09 18:00] JamesTran-MSFT commented on #64117
@daduckMSFT
Thanks for your post! I'll assign this issue to the author to investigate and update the docs as necessary based off your findings.

**Current steps/screenshot:**
![image](https://user-images.githubusercontent.com/36619112/95616351-82854200-0a1e-11eb-9ccd-70cfadb416da.png)

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-09 18:00] cfmayer commented on #62658
@SnehaAgrawal-MSFT Can you please clarify if you mean that being able to use a secret without the version will be removed AND require the version -or- if you will remove the requirement to use the secret version?

[2020-10-09 18:00] ashutoshsingh0223 commented on #64017
My question was more product related. Closing this issue now.

[2020-10-09 18:01] #64017 closed

[2020-10-09 18:07] ketaanhshah opened #64126 "Error creating ARO cluster QUOTA issue of 36"
Hello,
I followed the documentation (tutorial) and while runing the cluster creation command I get following error:
https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster

Command:-
az aro create  --resource-group $RESOURCEGROUP  --name $CLUSTER  --vnet aro-vnet  --master-subnet master-subnet  --worker-subnet worker-subnet --pull-secret @pull-secret.txt

Error

az : ValidationErr

[2020-10-09 18:08] ketaanhshah opened #64127 "Error in ARO Cluster Creation QUOTA of 36"
Hello,
I followed the documentation (tutorial) and while runing the cluster creation command I get following error:
https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster

Command:-
az aro create  --resource-group $RESOURCEGROUP  --name $CLUSTER  --vnet aro-vnet  --master-subnet master-subnet  --worker-subnet worker-subnet --pull-secret @pull-secret.txt

Error

az : ValidationErr

[2020-10-09 18:26] ketaanhshah commented on #64127
Update:-
I happen to stumble on this documentation on ARO  https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4
and seems like the MSDN subscription has a QUOTA limit of only 20 for the DSV3 series and minimum required for the ARO cluster creation is 36. So either it has to be reqused thru the Azure Portal for Quota increase or just do it on other subscription dont know about that.

[2020-10-09 18:35] MonikaReddy-MSFT commented on #64017
@ashutoshsingh0223 - Thank your comments.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-09 18:48] MauricioZa commented on #63891
Thanks !
As you mentioned, most probably there was a bug in the platform or the cmdlets.
I was having the error for 3 days in a row. Then, after posting the issue above, I have been trying everyday.
Now it have been working good. Thanks again !

[2020-10-09 18:55] JamesTran-MSFT commented on #64038
@Mahesh-MSFT
I was able to reach out to our Log Analytics experts and will post their response below.

**Log Analytics Team**:
Resource type is part of resource ids, so you could query on ResourceId contains "microsoft.compute/virtualmachines" (or use _has_ if you can?) to filter on just virtual machines, etc.

If you have any other questions, please let me know.
Thank you for your time and patien

[2020-10-09 18:55] #64038 closed

[2020-10-09 18:58] JamesTran-MSFT commented on #64044
@alan-rahlf-by
Thank you for your post!

I have reached out to our engineering teams on this to get further clarification.

[2020-10-09 19:02] mark-lambe-dhsc opened #64130 "Unclear examples especially for guested users"
[Enter feedback here]
I have new guested users successfully uploaded to AAD, but the UPN (email address as shown in the AAD portal for each guested user) fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b26a1-e401-4d6d-f37e-cceed1c04549
* Version Independent ID: 3db7c764-4815-ee19-a229-8bad3da4a381
* Content: [

[2020-10-09 19:04] AndyJenks007 commented on #64096
No ask a statement that another cert issue will cause challenges and by using Whitethorn you can identify all variants of cert simply and easily enabling exchanges.

________________________________

Andrew Jenkinson|Group CEO
+447894 062867|andrew.jenkinson@cybersecip.com|www.cybersecip.com
Cybersec Innovation Partners Ltd is a company registered in England and Wales under number 4938619. Registe

[2020-10-09 19:05] b-juche commented on #63860
#please-close

[2020-10-09 19:05] #63860 closed

[2020-10-09 19:07] MonikaReddy-MSFT commented on #64126
@ketaanhshah -
Thanks for bringing this to our attention. Since the same issue was raised [here ](https://github.com/MicrosoftDocs/azure-docs/issues/64127). Closing this duplicate issue and our engineers will work on the other issue. Thank you for your understanding. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2020-10-09 19:07] #64126 closed

[2020-10-09 19:09] rallets opened #64131 "Linked document "Gaining Expertise in Azure AD B2C: A Course for Developers" contains wrong info"
Hi, in the linked Pdf "Gaining Expertise in Azure AD B2C: A Course for Developers" in "Module 5: Introduction to custom policies" is mentioning to replace some HTML in the file "_LoginPartial.cshtml" but it's clearly wrong, as it is missing replacement placeholder for ClientId, and the login-domain is not working.
This is an example:
https://**login.microsoftonline.com**/AwesomeYourLastname.onmicr

[2020-10-09 19:10] JamesTran-MSFT commented on #64096
@AndyJenks007
Thank you for the clarification and for identifying this so that anyone that runs into any issues with the TLS changes can find this GitHub thread.

Since there's no ask from you at this point, I'll go ahead and close out this issue. If you have any other questions, please let me know.

Thank you for your time and inputs!

[2020-10-09 19:10] #64096 closed

[2020-10-09 19:11] JamesTran-MSFT commented on #64123
@krob527
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-09 19:13] JamesTran-MSFT commented on #64131
@rallets
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.