[2019-10-04 14:59] colbylwilliams opened #40117 "Page should note the guidance only applies to base Linux distros and public marketplace images will differ."
This doc should call out at the top that it applies to base Linux images, and when using images from the Marketplace, the user should reference that specific image's documentation for RDP (and other) configuration guidance.

After spending significant time attempting to follow these instructions, we eventually found that this guidance only applies to basic Linux image templates.  The [Marketplace’

[2019-10-04 15:00] colbylwilliams commented on #40117
cc @nicolehaugen

[2019-10-04 15:14] JasonWHowell commented on #39988
There is some information on output batching here:
https://docs.microsoft.com/azure/stream-analytics/stream-analytics-define-outputs#output-batch-size

[2019-10-04 15:15] MicahMcKittrick-MSFT commented on #40115
Thanks for the question! We are investigating and will update you shortly.

[2019-10-04 15:16] MicahMcKittrick-MSFT commented on #40102
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 15:25] Sethu2488 opened #40118 "Intrusion Detection"
Does Microsoft handle intrusion detection? Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independent ID: 38eaf5d3-b74f-8795-85f4-aa115b8151da
* Content: [Perform network intrusion detection with Azure Network Watcher and open source tools](https://docs.mic

[2019-10-04 15:25] MicahMcKittrick-MSFT commented on #39818
@tmguinn any update on this?

[2019-10-04 15:26] MicahMcKittrick-MSFT commented on #39880
Closing this for now. If you still have questions let me know and we can reopen and continue the discussion.

[2019-10-04 15:26] #39880 closed

[2019-10-04 15:27] MicahMcKittrick-MSFT commented on #39902
Thanks @palma21 that helps :)

@runecalico I will go ahead and close this out but let us know if you have further questions and we can always reopen and continue the discussion.

[2019-10-04 15:27] #39902 closed

[2019-10-04 15:29] MicahMcKittrick-MSFT commented on #40065
@jhulbertpmn I went ahead and updated the doc. Once the PR merges the changes will go live after a few hours.

[2019-10-04 15:29] #40065 closed

[2019-10-04 15:31] MicahMcKittrick-MSFT commented on #40069
@cloudmelon I updated the doc to use the --enable-vmss command.

Once the PR merges the changes will go live after a few hours.

[2019-10-04 15:31] #40069 closed

[2019-10-04 15:32] MicahMcKittrick-MSFT commented on #40071
@rajanbhayana thanks for giving that a go!

@MicrosoftDocs/aks-pm does anyone know the exact reason for this? Is it a known limitation? If so, I am happy to add that info to the document.

[2019-10-04 15:35] MicahMcKittrick-MSFT commented on #40078
Thanks for that PR @shahiddev ! I requested that the content authors review it. I will close this issue and we can work off the PR

[2019-10-04 15:35] #40078 closed

[2019-10-04 15:38] MicahMcKittrick-MSFT commented on #40102
@qzdl thanks for submitting a PR. Can you @ me directly in that PR and I can request to have it reviewed by the content authors.

I will close this and we can work off that PR request.

[2019-10-04 15:38] #40102 closed

[2019-10-04 15:40] MicahMcKittrick-MSFT commented on #40104
@larryms I am assigning this to the content author to review.

[2019-10-04 15:47] fabiobm opened #40119 "Possible mistake in the Java SDK composite index example"
In the composite index example for the Java SDK, the composite paths are set to `/name/*` and `/age/*`, while in the corresponding examples for the other SDKs, they are set to `/name` and `/age`. I think the syntax ending with `/*` isn't even valid for composite paths, so this seems like a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-04 15:51] RyanHill-MSFT commented on #40098
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 15:55] Robbiem06 opened #40120 "Reset Azure Migrate Appliance Configuration Manager - Hyper V"
Is there a process to reset the configuration manager and register it to pick up a new migrate project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aaa51e6-31dc-a56a-3c63-e5f4ea815ac1
* Version Independent ID: a1207bbd-b81a-e6df-0826-876cafa9e5bc
* Content: [Set up an appliance for Azure Migrate Server Assessment/M

[2019-10-04 15:56] tonyjthomas commented on #23879
Business Critical Gen4 max data sizes appear to be wrong in the doc. The doc has it at 650 GB for 10 vCores and below, but in the portal you can go up to 1 TB for any number of vCores.

The BC_Gen 5 sizes appear to be correct.

[2019-10-04 15:58] retracement commented on #20012
The problem here is not just the Database Provisioning being unavailable after deploy but also the "Provision dedicated throughput for this container" setting being unavailable to change after deploy -and a whole host of combinations of those settings. I have just run into this problem and have emailed MS directly to try and get it looked at, because it is wrong imho. I do not agree with the respo

[2019-10-04 16:00] taylor2464 opened #40121 "Threshold Parameters Incorrect Type"
In all of the examples on this page, the "threshold" parameter is listed as a string when it should be an int with the number not being inside quotes. So:

"threshold": {
            "type": "string",
            "defaultValue": "0",
            "metadata": {
                "description": "The threshold value at which the alert is activated."
            }
        },

Should be:
"threshold": {

[2019-10-04 16:01] IamSandipC commented on #39725
Any update on this? Can someone throw some light?

[2019-10-04 16:02] lichasu opened #40122 "Broken Link"
@jayonthenet commented on [Fri Oct 04 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/573)

Please have a look at section 5 https://docs.microsoft.com/de-de/azure/cloudfoundry/how-cloud-foundry-integrates-with-azure#5-open-service-broker - the link to the tile on Pivotal network is broken (https://network.pivotal.io/products/azure-open-service-broker-pcf/)

---
#### Dokumentdetails

[2019-10-04 16:03] lichasu commented on #40122
Hi team, please check this issue.

Thanks!

[2019-10-04 16:04] RohitMungi-MSFT commented on #40116
@Chreschtf Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-04 16:10] jemag commented on #37714
@jakaruna-MSFT  I am also trying to find any kind of logs to debug the autoscaler. Despite having 10 pods "Pending" because of lack of resources, the cluster is still not scaling up and I have no logs to debug it.

[2019-10-04 16:10] SamaraSoucy-MSFT commented on #40117
@colbylwilliams

Thank you for your feedback. I'll review your feedback and get back to you shortly.

[2019-10-04 16:18] lichasu opened #40124 "Bad naming"
@PRodenasLechuga commented on [Fri Oct 04 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/681)

Hello,

This code line says:
   from azure.iot.device import IoTHubModuleClient

And afterwards is used like this:
  def iothub_client_init():
    client = IoTHubDeviceClient.create_from_connection_string(CONNECTION_STRING)
    return client

It should be used this way:
  def iothub_clien

[2019-10-04 16:19] lichasu commented on #40124
Hi team,  please check this issue.

Thanks!

[2019-10-04 16:21] veyalla commented on #40105
Have you seen [this article](https://github.com/Azure-Samples/iotedge-gateway-on-kubernetes) linked in the next steps? Does that help?

If not, can you provide feedback on the scenario and setup you're looking for more details on?

[2019-10-04 16:25] abramjstamper commented on #19578
My support rep said, "When CORS or AUTH is enabled [it breaks Linux App Service's sockets implementations because] with Linux it is not supported yet."

In order to use Linux App Service and utilize the CORS or AUTH features, you simply can't because it's not implemented. The official recommended solution is to switch to Windows App Service. It seems Windows is getting preferential treatment as Li

[2019-10-04 16:25] RazvanEmilR commented on #39834
@BryanTrach-MSFT Thanks for your answer. Hopefully its looked into soon.

@bearlmont getting the same error with iOS 13? what type of device did you test this on.

[2019-10-04 16:25] romankiss opened #40125 "Azure IoT Hub output binding"
the document https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#supported-bindings is showing an incorrect output binding for IoT Hub support.

<img width="588" alt="Capture" src="https://user-images.githubusercontent.com/30365471/66224490-cf576f80-e68a-11e9-902b-4d844278946b.PNG">

Note, that the Azure IoT Hub supports **only** consuming the events from internal Ev

[2019-10-04 16:29] JohnGalt1717 opened #40126 "Missing Details about GDI+ and other sandbox limitations"
Currently in standard Azure functions there are serious limitations because of the sandbox for GDI+ meaning that System.Drawing.Common fails in most cases like using EPPlus to work on excel files.

We're looking at hosting our Azure functions in k8s this way specifically to get around this limitation.  But we need to know if there is a way of disabling these checks in the azure functions runtime w

[2019-10-04 16:30] MicahMcKittrick-MSFT commented on #40115
@Boombasteg looking through the documentation, the way to achieve this seems to be using a combination of what you already did using the deletion of specific tags however you would also want to use the --ago option. That way you can delete the specific tags but only the ones that were updated after a particular date.

However, if I understand your question correctly, you might have some tags/ imag

[2019-10-04 16:31] MicahMcKittrick-MSFT commented on #40122
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 16:36] toolboc opened #40127 "Additional Steps Required to Build Sample on Linux"
I stumbled across the following while building this example on Ubuntu 18.04 running under WSLv2.

The current Makefile for 'azure-iot-sdk-c' enables a`use_openssl` flag by default when being built on Linux platforms:
[code]
When this flag is enabled, the following additional packages are required to successfully build on Ubuntu 18.04:
* libssl-dev
* pkg-config
* libcurl4-openssl-dev
* uuid-dev

We

[2019-10-04 16:38] djpmsft commented on #39079
@nareshynn This looks to be a permissions issue with your GitHub. Make sure you have entered in your URL and account credentials correctly and that you have permission to publicly access your GitHub repo

[2019-10-04 16:45] taromielnaz opened #40129 "Memory Usage"
How can we monitor memory usage of a VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93da39f3-c5d3-cce9-0101-784415455e26
* Version Independent ID: f91645ce-b33f-f43e-f5af-69aeb967ae92
* Content: [Azure Monitor data platform](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform)
* Content Sour

[2019-10-04 16:50] markjbrown commented on #20012
Hello Mark.

A resource that is provisioned with throughput can be updated at any time. Additionally, new containers can be provisioned with their own dedicated throughput within a database with shared throughput.

We do not currently support provisioning a database or container without throughput and then setting throughput on the resource. If this is what you are asking. there is a user voice it

[2019-10-04 16:50] bartvermeersch opened #40130 "Audit events"
I can't find info in the audit events table about "User failed to start the registration for Authenticator App with Notification and Code" is it missing?
Service: Authentication Methods
Activity Type: User started security info registration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 209406f7-3ef9-7424-a11d-46146b23

[2019-10-04 16:56] dlepow commented on #39854
#in-progress

[2019-10-04 16:58] avidiyal commented on #39995
I followed the documentation in here
https://docs.microsoft.com/en-us/azure/databox-online/data-box-gateway-deploy-provision-vmware

It says in the 11th step. The two mdks files merge together and become one. But that does not happen as I am using esxi 6.7

[2019-10-04 17:00] dougmolineux opened #40131 "How do I set a parameter to be an environment variable?"
How do I set a parameter to be an environment variable?

In my Azure Devops pipeline, I have a number of environment variables set in a previous task. How do I get them to be accessible from within an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a06bdf1e-c9f6-a65f-71b0-0b9c5d6678e7
* Version Independent

[2019-10-04 17:01] MarileeTurscak-MSFT commented on #40093
@aneequrrehman
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-04 17:06] silverl opened #40132 "Why limit header value to 1,000 characters?"
I'm trying to use a rewrite to implement the Content-Security-Policy header. I've hit the 1,000 character limit, and now I'm stuck. The standard allows for multiple identical Content-Security-Policy HTTP response headers, but Application Gateway does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aedb5a9b-70bd-506

[2019-10-04 17:11] CarlRabeler commented on #23879
@stevestein for your awareness and action

[2019-10-04 17:13] berlamont commented on #39834
Actually i take it back, after updating to latest nuget, error is gone, thanks!

[2019-10-04 17:17] dlepow commented on #40104
@larryms - Thanks for pointing this out. Actually, we have a work item in progress to retire this ACR article and redirect to the new AKS article, which should be the preferred method.
/cc @mlearned

[2019-10-04 17:17] northtyphoon commented on #40115
@sajayantony @stevelasker

[2019-10-04 17:20] garybushey opened #40133 "Cannot apply RBAC To workbooks"
Under the section on creating a new workbook it states that you can use RBAC to filter who can see the workbooks.  When clicking Share the only think I see is the link in a text box that I can then copy.  There is nothing there to indicate I can limit access to it.   In addition the link called "Share Azure workbooks by using RBAC." takes you to a page that was written for dashboards which, I am s

[2019-10-04 17:21] tfitzmac commented on #40131
@dougmolineux - does it work for you to pass those variables as script arguments, rather than use a parameter file? See [Integrate Resource Manager templates with Azure Pipelines](https://docs.microsoft.com/azure/azure-resource-manager/vs-resource-groups-project-devops-pipelines).

[2019-10-04 17:24] RazvanEmilR commented on #39834
@berlmaont, with iOS 13? Can you provide a sample code how you do registration for the hub? Been spending days on this. The NuGet documentation provides a different code than in the documentation. Would help greatly if you could share a solution.

[2019-10-04 17:26] dougmolineux commented on #40131
Thanks for the quick response @tfitzmac I was forgetting the step of "Override Template Paramaters" in the configuration of the task. My bad!

[2019-10-04 17:37] DaveKLloyd commented on #40100
Please ignore I didn't notice the note about adding the extention az extension add --name storage-preview

[2019-10-04 17:39] Hazhzeng commented on #36888
Instead of resolving your packages by resolving the virtual environment, you can simply use the following command

pip3.6 install --target="/.python_packages/lib/python3.6/site-packages" -r /requirements.txt

which is used in [azure functions core tools](https://github.com/Azure/azure-functions-core-tools/blob/a8f620398818cb03ff59a2b96bbae922784ac666/src/Azure.Functions.Cli/StaticResources/python_

[2019-10-04 17:44] Hazhzeng opened #40134 "Remove worker_venv support in Python 3.7 and future version"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops#python

Later on, we will not support **worker_venv** python packages for python &gt;= 3.7
We need to change the python template in this page
[code]

Once we release Python 3.7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d3

[2019-10-04 17:47] BryanTrach-MSFT commented on #40110
@nexxai Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin We do not have access to an external domain to test this with. Is this something you can investigate to see if anything has changed with using txt records?

[2019-10-04 17:55] fujie commented on #29940
@yoelhor I used your code, but claims resolver always returns same value regardless user's language evenif user changes language setting on browser.
`<InputClaim ClaimTypeReferenceId="lang" DefaultValue="{Culture:LanguageName}"
 "AlwaysUseDefaultValue="true"/>`

Please let me know how can I get actual user's language setting in custom policies.

[2019-10-04 17:55] MashaMSFT commented on #40007
Hi @jonathaneckman , thank you for contacting Microsoft! Actually, the two are the same thing (pay as you go, and pay per usage) but you've pointed out that using the two terms interchangeably might be confusing so I'll review this internally. But yes, you can enable the "pay per usage" model for a custom image - just [register with the SQL VM resource provider](https://docs.microsoft.com/en-us/az

[2019-10-04 18:11] SamaraSoucy-MSFT commented on #40117
@colbylwilliams

I've submitted a pull request to add a note to the document about Marketplace images. Once the doc author signs off on the change it will go live.

I am going to close this thread. Please tag me if you have any further questions.

[2019-10-04 18:11] #40117 closed

[2019-10-04 18:18] Nickomang commented on #31261
Hi @MedAnd, great suggestion. Unfortunately I've spoken with the team and it appears this isn't something we have the capacity to do presently, but we've made note of it in our backlog.

Thanks,

Nick

#please-close

[2019-10-04 18:18] #31261 closed

[2019-10-04 18:20] qianw211 commented on #39635
In general the ID fields wouldn’t support whitespace, while the name and alias fields would. There are many offers with spaces in the name in Partner Center.

We're also updating the documentation.  Thanks!

#please-close

[2019-10-04 18:20] #39635 closed

[2019-10-04 18:21] Adam-Smith-MSFT commented on #40100
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-04 18:21] #40100 closed

[2019-10-04 18:25] TravisCragg-MSFT commented on #39783
@JeissonL We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-04 18:25] #39783 closed

[2019-10-04 18:25] TravisCragg-MSFT commented on #39785
@AlexFiala Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-04 18:25] #39785 closed

[2019-10-04 18:31] Alberto-Vega-MSFT commented on #39655
Will you able to do the authentication with Azure IoT Hub using that device?

[2019-10-04 18:33] curtand commented on #38880
Hi @stdedos Thanks for your contribution! I'm testing this now. The PM is out of the office until Monday. If I get an answer from my testing, I can publish it today.

[2019-10-04 18:33] mike-urnun-msft commented on #39848
@Akhilb25 Following up on my previous comment above, please let us know if there is a specific MS Doc that your feedback is applicable to so we can address the issue better and more effectively. Otherwise, we'll proceed to close this issue. Thanks.

[2019-10-04 18:33] mike-urnun-msft commented on #39871
@O365Team Following up on my previous comment above, please let us know if there is a specific MS Doc that your feedback is applicable to so we can address the issue better and more effectively. Otherwise, we'll proceed to close this issue. Thanks.

[2019-10-04 18:34] mike-urnun-msft commented on #39951
@sampayo123 Following up on my previous comment above, please let us know if there is a specific MS Doc that your feedback is applicable to so we can address the issue better and more effectively. Otherwise, we'll proceed to close this issue. Thanks.

[2019-10-04 18:34] KranthiPakala-MSFT commented on #40107
@fantinis Good to know your issue was resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-10-04 18:34] #40107 closed

[2019-10-04 18:35] mike-urnun-msft commented on #39954
Based on the above, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-04 18:35] #39954 closed

[2019-10-04 18:36] mike-urnun-msft commented on #39956
@amarnathprofisssional Following up on my previous comment above, please let us know if there is a specific MS Doc that your feedback is applicable to so we can address the issue better and more effectively. Otherwise, we'll proceed to close this issue. Thanks.

[2019-10-04 18:37] Alberto-Vega-MSFT commented on #40068
@huster16 If this answers your question we will go ahead and close this issue

[2019-10-04 18:40] tsls opened #40135 "IKEv2 Failing"
i'm trying to set this up on Windows 1903 build, SSTP works however IKEv2 isn't working. Microsoft Support are telling me this isn't supported. Please can someone help

I'm getting The error code returned on failure is 13834. - Error Processing ID payload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69495659-b738-98e

[2019-10-04 18:40] GiftA-MSFT commented on #39832
@chrisj114 please let us know if you're still experiencing issues otherwise we'll proceed to close this thread by EOD. Thanks.

[2019-10-04 18:41] Mike-Ubezzi-MSFT commented on #23879
Reopening this issue to address additional inconsistencies not addressed by previous PRs or because additional changes have been made since then.

[2019-10-04 18:44] Mike-Ubezzi-MSFT commented on #39896
@skiwii We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-04 18:44] #39896 closed

[2019-10-04 18:48] melzoghbi opened #40136 "The Logic App Properties doesn't list Gov Subs"
The Logic App Properties windows doesn't list Azure Gov Subscription that I am using in VS2019. I can use Cloud Explorer and other tools except being able to use Logic App Designer so I can develop and deploy apps to Gov Subs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-9f4b4febf8d5
* Version

[2019-10-04 18:50] KranthiPakala-MSFT commented on #40112
@eram Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-04 18:58] Alberto-Vega-MSFT commented on #40096
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 18:58] Alberto-Vega-MSFT commented on #40097
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 19:02] Alberto-Vega-MSFT commented on #40094
@interfacemirror Thanks for reaching out. What step of the tutorial you are having issues with? It sound like you were having issues completing the firmware install as described here? https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#send-devkit-telemetry

[2019-10-04 19:04] SychevIgor commented on #40105
No. I expect to see content like your on link directly in an article text.

- Look on a left side with articles - it's just kubernetes, not "install iotedge on minikube".
- Look on a right side - it's just "next", not "how to do it on real cluster". I didn't expect to find real document under section "next".

It's great, that this content exist - but not sure that more than 50% can locate this lin

[2019-10-04 19:07] pauldj54 opened #40138 "Error when open the tool and importing templates"
Hi everyone,
When open the tool downloaded from: https://docs.microsoft.com/en-us/azure/security/azure-security-threat-modeling-tool
Version:  7.1.60702.1
I got this error message:
`"Error opening file. The threat modeling file TMT7.application could not be deserialized. File is not an actual threat model or the threat model may be corrupted"`
When try to import the azure cloud template:
`Unable t

[2019-10-04 19:09] nstudenski opened #40139 "Unable to use nested folder as source"
Hello,
I am able to replicate the pattern of this tutorial, but I am performing ETL on a large number of files stored in a directory with folders by date, for example 'data/2019/10/04/file.json' I'd like to set up my ETL to process all new files below 'data' but can only get it to work by providing the full path. I have tried using the path 'data/*' but it does not work. Is there a wildcard or ano

[2019-10-04 19:12] Alberto-Vega-MSFT commented on #40106
@BhupalPatil Thanks for the feedback! The SDK is the recommended way, do you have a requirement to not use it? With that said let me investigate and I will get back to you.

[2019-10-04 19:13] Alberto-Vega-MSFT commented on #40124
@PRodenasLechuga Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-04 19:16] Alberto-Vega-MSFT commented on #40127
@toolboc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-04 19:41] nstudenski commented on #40139
Was able to solve the issue using the path 'data/*/*/*'

[2019-10-04 19:41] #40139 closed

[2019-10-04 19:46] jaffadog commented on #19426
I have posted the following AAD "suggestion" to deal with this problem:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38748157-need-some-way-to-deal-with-aadb2b-0001-we-cann

Please up-vote.

[2019-10-04 19:49] sandarvanlaan commented on #40048
Similar issue. When I updated the dotnet ef tool using the instructions referenced here (https://github.com/aspnet/EntityFrameworkCore/issues/15448#issuecomment-485893936) by using the command dotnet tool install -g dotnet-ef --version 3.0.0-preview4.19216.3. the new error I receive is:
"dotnet ef database update
System.MissingMethodException: Method not found: 'System.Text.Json.JsonDocument Syste

[2019-10-04 19:55] miagdp commented on #40127
@dominicbetts

[2019-10-04 19:58] NavtejSaini-MSFT commented on #40111
@mbinnix We are checking this and will get back to you.

[2019-10-04 19:58] veyalla commented on #40105
Those are some good points about making the detailed content more discoverable, we'll take care of it.

Thanks for feedback!

[2019-10-04 20:03] TravisCragg-MSFT commented on #40118
@Sethu2488 can you elaborate a bit more on your ask?

This doc shows you how to perform your own intrusion detection using Azure Network Watcher and Suricata. Azure Virtual Networks do not have any intrusion detection by default. We do provide several tools to make it harder for intruders to get in, for example [NSGs](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview) and [J

[2019-10-04 20:03] craigshoemaker commented on #39264
@AbhishekTripathi, @natelaff:

I added the following sentence to the section that discusses loading configuration values:

The change will be available on the live site in a few hours.

#please-close

[2019-10-04 20:03] #39264 closed

[2019-10-04 20:08] anyITsolution opened #40142 "Version 1.4.25.0"
When will you guys make this version available for download? I wanted to do a repair in my lab for I can't make the error Sync in my O365 admin center to go away in the past a simple repair would fix this. Now I will have to remove this version which was automatically downloaded 1.4.25.0 9/28/2019 and I can't find this version to do a simple repair.

---
#### Document Details

⚠ *Do not edit this

[2019-10-04 20:16] swanderz opened #40143 "Need more docs on setting up Azure ML CLI"
I was drawn to the simplicity of canceling a run with a single line. If only it were so simple. My ask is that the docs have a page about setting defaults or something.
[code]
I thought all that was required was to follow [the steps here](https://docs.microsoft.com/en-us/azure/machine-learning/service/reference-azure-machine-learning-cli):
- install the az CLI
- install the Azure ML extension
- ru

[2019-10-04 20:17] MarileeTurscak-MSFT commented on #39801
Hi @demesg ,

I need a bit more clarity on your ask. Feel free to open a new issue or message me at AzCommunity@microsoft.com to discuss further.

[2019-10-04 20:17] #39801 closed

[2019-10-04 20:18] ChristianMontoya commented on #29895
@lelandvelasco : so you're saying that you were able to create a tenant in WVD? We recently published a newer edition of our PowerShell. Can you try before and after installing that?

[2019-10-04 20:21] mike-urnun-msft commented on #39989
@computernations Thanks for providing additional info. It seems as though that you have opened this issue on `azure-docs` repo that is more for driving improvements towards MS Docs content so it might be better to open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows) instead.

cc: @MicahMcKittrick-MSFT

[2019-10-04 20:22] mike-urnun-msft commented on #40049
@egondalia Following up on my previous comment above, please let us know if there is a specific MS Doc that your feedback is applicable to so we can address the issue better and more effectively. Otherwise, we'll proceed to close this issue. Thanks.

[2019-10-04 20:28] mike-urnun-msft commented on #40125
@romankiss Thank you for your feedback! We will review and update as appropriate.

[2019-10-04 20:30] mike-urnun-msft commented on #40126
@JohnGalt1717 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-04 20:32] mike-urnun-msft commented on #40134
@Hazhzeng Thank you for your feedback! We will review and update as appropriate.

[2019-10-04 20:33] sajayantony commented on #40115
@Boombasteg Have you enabled --delete-enabled false on these manifests/tags?

[2019-10-04 20:36] MicahMcKittrick-MSFT commented on #39477
@ohwellwhatever just an update, we did some testing and we are now able to enable auto updates for this image. It possibly could have been a delay in the rollout depending on the location you were trying.

I tested a few regions and was able to deploy w/ auto updates w/ no issues. Please give it another try and let me know if it doesn't work. I am going to close this out as the issue appears to be

[2019-10-04 20:36] #39477 closed

[2019-10-04 20:39] MicahMcKittrick-MSFT commented on #39989
For Windows Virtual Desktop we actually support it in Tech Communities

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

@computernations I would suggest you post there as we have the product group for this service active in that forum. Plus there might be something wrong with that module that needs updating and thats a good place to raise that issue.

[2019-10-04 20:41] TravisCragg-MSFT commented on #40132
@silverl Can you give some more information on the limit that you are hitting? Is it a 1000 character limit on a single header, or the whole header?

I am not able to find that as a published limit in App Gateway, so I would like to reproduce this.

[2019-10-04 20:41] KranthiPakala-MSFT commented on #40139
@nstudenski Good to know your issue was resolved and thanks for sharing the resolution details. It will be beneficial for other members who read this thread.

If there are further questions regarding this matter, please feel free to reopen the issue. We will gladly continue the discussion.
Thank you.

[2019-10-04 20:46] MicrosoftGuyJFlo commented on #38230
@VNJoe Sorry about the trouble with this issue. I just had a conversation with the support team about this case. Sorry I missed the mark on this issue.

I will add some links from the updated docs I am working on to and from the baselines docs to help people who get into this scenario.

[2019-10-04 20:54] craigshoemaker commented on #26497
The description is now updated with the following text:

The live site will reflect this change in a few hours.

#please-close

[2019-10-04 20:54] #26497 closed

[2019-10-04 20:55] SubhashVasarapu-MSFT commented on #39769
@woutervanranst , Appreciate your patience. As it needs the authors attention, we are assigning this issue to the content author for updating the FAQ's in the document. @KumudD , Could you please update the FAQ's in the doc accordingly?

[2019-10-04 21:05] silverl commented on #40132
@TravisCragg-MSFT Sure. In Rewrites, configure a response header rewrite. In my case:

Action type: Set
Header type: Response
Header name: Custom header
Custom header: content-security-policy-report-only
Header value: _This field is limited to 1,000 characters._

You can press the OK button, but when you next press the Update button to actually save the change, you'll receive the warning/error abo

[2019-10-04 21:08] silverl commented on #40132
I should mention this is with WAF V2 SKU.

[2019-10-04 21:08] mike-urnun-msft commented on #40136
Hi @melzoghbi - Thank you for your feedback! We will review and update as appropriate.

[2019-10-04 21:09] gsuttie opened #40145 "This page is showing some content in Serbian rather than English"
[Овдје унесите повратне информације]

---
#### Детаљи документа

⚠ *Не уређујте ову секцију. Она је неопходна за повезивање проблема слиједом docs.microsoft.com ➟ GitHub.*

* ID: 40ed7c08-ec4d-0ebc-78e5-4115088f4968
* Version Independent ID: 201d0876-6a55-595b-4141-055bdb3282b7
* Content: [Create an access review of groups or applications - Azure Active Directory](https://docs.microsoft.com/bs-cyr

[2019-10-04 21:11] silverl commented on #40132
And I'll also try to make a strong case here why 1,000 characters is nowhere near sufficient. A good HTTP response header for the content security policy may need to include tens or more URLs for resource endpoints, often repeated among the various policy elements. A modern site pulls in resources from CDNs, analytics endpoints, etc. It's very very easy to go over 1,000 characters.

[2019-10-04 21:14] MarileeTurscak-MSFT commented on #40145
@gsuttie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-04 21:15] O365Team commented on #39871
The problem was due to a disabled subscription. After creating a new subscription and waiting a couple hours, commands executed without error.

[2019-10-04 21:15] #39871 closed

[2019-10-04 21:16] aleazofeifam opened #40146 "Manage the sync over the Graph Api"
Similar to this document https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/export-import-provisioning-configuration I was wondering if you can leverage the actions that we can do with the AAD DS enterprise app over the MS Graph API.
There are 2 requests here:
1. Empower us to make a restart (Full Sync and run a Full Re-Evaluation) as we can do over the other SaaS Applications. By

[2019-10-04 21:17] MarileeTurscak-MSFT commented on #40145
Hi @gsuttie ,

That's because it's the cyrillic version of the page. The URL shows bs-cyrl-ba
![image](https://user-images.githubusercontent.com/13383753/66240454-8bc42c00-e6b1-11e9-80f1-564d81ef6d89.png)
https://docs.microsoft.com/bs-cyrl-ba/azure/active-directory/governance/create-access-review

To see the US version, the URL needs to be en-us:
https://docs.microsoft.com/en-us/azure/active-direc

[2019-10-04 21:17] MarileeTurscak-MSFT commented on #40145
Hope this helps! Closing this out but if you have further comments or concerns, feel free to tag me in the comments and I will gladly continue the discussion.

[2019-10-04 21:17] #40145 closed

[2019-10-04 21:18] ThomasWeiss commented on #40119
Hi @fabiobm, million thanks for spotting that! It is a typo indeed and we're in the process of updating this page accordingly. We really appreciate your help here.
#please-close

[2019-10-04 21:18] #40119 closed

[2019-10-04 21:25] jks05c opened #40147 "Roles and RBAC"
What kind of AAD permissions need to be in place for the identity you use to login to register the server? Do you recommend creating a service account for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4814031f-3cca-10a6-8587-cf1a045d2481
* Version Independent ID: b96d1378-9a11-c00e-1c84-a69d4ff1cff3
* Content: [

[2019-10-04 21:25] O365Team commented on #40110
Use whatsmydns.net to ensure the TXT record has in fact proprogated to all DNS root servers. There is no difference in the method but if you have multiple TXT records, ie. spf, new TXT records sometimes don’t completely propogate every dns root server.

[2019-10-04 21:26] RadioActiveLamb commented on #38230
I opened a premier case on this subject (119100121002612 ). End result is the same. Azure will flag these sign-ins as risky for whatever reason. There's no way for someone with a "Basic" subscription can clear the flags with PowerShell or change the policy that is enforced. I think it's unacceptable that Microsoft is imposing a premium feature onto basic accounts that can only be managed with an e

[2019-10-04 21:31] MarileeTurscak-MSFT commented on #40059
Thanks @abeerqannita

I made a pull request to add a note.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/90710

[2019-10-04 21:31] #40059 closed

[2019-10-04 21:33] MicahMcKittrick-MSFT commented on #20737
The work around for now is still to engage support to get unblocked. But I am reopening this so I can try and find out the current status and what is being done long term to fix this. No ETA on when I will have an update but reopening to keep on my radar and start looking into it

[2019-10-04 21:35] TravisCragg-MSFT commented on #40132
@silverl Thanks, I am going to follow up with this limit and get more information. I would also post this to [Azure Networking's Feedback page](https://feedback.azure.com/forums/217313-networking).

[2019-10-04 21:36] silverl commented on #40132
Already did. https://feedback.azure.com/forums/217313-networking/suggestions/38747044-application-gateway-does-not-support-a-long-conten

Thanks.

[2019-10-04 21:37] Alberto-Vega-MSFT commented on #40075
@rido-min  No please stick with what it is in the list

[2019-10-04 21:41] MicahMcKittrick-MSFT commented on #20737
adding @dkkapur for awareness

[2019-10-04 21:42] nexxai commented on #40110
Yeah, that ended up being my problem: the TXT record would be created but wouldn't have propagated when the next step in the Terraform script went to verify.

I ended up doing:

[code]

[2019-10-04 21:42] #40110 closed

[2019-10-04 21:46] #25683 closed

[2019-10-04 21:52] #40068 closed

[2019-10-04 21:52] johndowns commented on #21911
@TWolverson Great! I'm glad you worked it out. However I still feel like the whole process could be better documented, so I will work on getting something added to the docs about this anyway.

[2019-10-04 21:53] TravisCragg-MSFT commented on #40135
@tsls IKEv2 should work on Windows 10. can you send the Support Request #(SR#) of your case? I would like to take a look.

Also, have you tried [resetting the VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-resetgw-classic)? this has resolved similar issues in the past.

[2019-10-04 21:54] SubhashVasarapu-MSFT commented on #39750
@KarlaK-fl , I have confirmed with the team and unfortunately  there is no possibility of resetting a single connection in the gateway. Instead of that you can disconnect the connection and try to reconnect it which is better than resetting the whole gateway.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discus

[2019-10-04 21:54] #39750 closed

[2019-10-04 21:57] Karishma-Tiwari-MSFT commented on #40122
I have created a PR with the update and changes will be live shortly.

https://pivotal.io/platform/services-marketplace/data-management/microsoft-azure

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-04 21:57] #40122 closed

[2019-10-04 21:57] BrianMouncer commented on #39930
@sibbl I was unaware that we made changes to AudioStreamFormat or at least what object it hangs off of.  I check with this team and see this was intentional.

@sibbl and @RohitMungi-MSFT what would you like to see from the change logs.  This might be helpful for our public sample repo.  We squash everything there, but you would at least have some commits history you could click through from a chan

[2019-10-04 21:58] Karishma-Tiwari-MSFT commented on #40041
@ToddBowman Is there any update? Please let me know.

[2019-10-04 21:59] FrankHu-MSFT commented on #39665
Hey @pierrepinard @xkobal @seagull33 unfortunately the reason that this is happening is because an application from a personal account cannot be utilized to verify the application.

You will need to create a new AAD Application under the new AAD user,

That is when you follow these steps:
1. Create a new app with MSA account; close window
2. Signup for Azure
3. Go to portal again after completing

[2019-10-04 22:02] SubhashVasarapu-MSFT commented on #39840
@hisasima, Appreciate your patience. We are assigning this issue to the content author for updating the document accordingly. @cherylmc , Could you please update the document with the provided content if necessary?

[2019-10-04 22:04] malopMSFT commented on #39770
Customer VNet PoV, the connection starts on customer VM as an outbound connection to the Private Endpoint for a given service resource.

[2019-10-04 22:09] sergaz-msft commented on #39872
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-04 22:09] #39872 closed

[2019-10-04 22:11] MarileeTurscak-MSFT commented on #40114
@MarcoJanse
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-04 22:17] SubhashVasarapu-MSFT commented on #39770
@malopMSFT , Thank you for your response.
@woutervanranst , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-04 22:17] #39770 closed

[2019-10-04 22:18] rezasherafat commented on #40106
@BhupalPatil, can you clarify if you are asking about device registration itself with DPS, or subsequent device connecting to IoT Hub?

[2019-10-04 22:19] MarileeTurscak-MSFT commented on #39816
@cocowalla the team has said that the restrictions depend on the audience property of the app. In addition, there is a limit to how big a single object can be. Neither of these are currently documented anywhere. One person tested and was able to add 600 secrets before hitting any limit.

For AAD MSA audience, there is a limit of two secrets. https://docs.microsoft.com/en-us/azure/active-directory/

[2019-10-04 22:19] #39816 closed

[2019-10-04 22:20] jonathaneckman commented on #40007
Perfect. Thanks!

[2019-10-04 22:20] #40007 closed

[2019-10-04 22:26] ToddBowman commented on #40041
I think we're good now.  My "all AKS services" was meant to say that I can reach any service in AKS from a globally peered vnet - that there were no other constraints with AKS and global vnet peers I need to be aware of.  Thanks for your fast reply!

[2019-10-04 23:02] rogersass opened #40148 "SSH is not working with App Service Linux Containers and VNet Integration"
Specifically the 'docker run' command that App Service automatically builds to include parameters ('-p xxxxx:xxxxx' and '-e PORT=xxx') works as expected. However it does not automatically specify the '-e SSH_PORT=yyyyy' parameter. So the container image does not receive the $SSH_PORT environment variable with which to start the ssh service, even though the image is correctly configured to use that

[2019-10-04 23:04] rogersass commented on #40148
Dang, i included the wrong log file. Here is the correct one:

 docker run -d -p 32966:32966 --name webapplabpri01_7_433f7395 -e WEBSITES_ENABLE_APP_SERVICE_STORAGE=false -e WEBSITES_PORT=8000 -e WEBSITE_SITE_NAME=webAppLabPri01 -e WEBSITE_AUTH_ENABLED=False -e PORT=32966 -e WEBSITE_ROLE_INSTANCE_ID=0 -e WEBSITE_HOSTNAME=webapplabpri01.azurewebsites.net -e WEBSITE_INSTANCE_ID=a53a16ff78af55005e5c8

[2019-10-04 23:12] eugen-nw opened #40149 "How to get the Certificate onto Nodes for people who are not using ARM templates to create/configure Clusters"
Maybe I'll save someone a couple of hours of R&D.

   a. Import it into the Fabric's own Key Vault.  BEWARE, it needs to go into the Settings/Secrets section, not Settings/Certificates.
   b. - Log into the htpps://resources.azure.com site.
      - Drill down to the resourceGroups entry in which your Cluster is located.
      - Expand the provider/Microsoft.Compute node.
      - Click on the virtu

[2019-10-04 23:14] MarileeTurscak-MSFT commented on #39861
What error are you seeing when you try to import it? There might be a prerequisite for this.

[2019-10-04 23:16] SaurabhSharma-MSFT commented on #40138
@pauldj54 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-04 23:24] gavinbarron opened #40150 "Add CLI script to require SSL"
In the portal based configuration section it shows enforcing ssl. There should be a script entry in the automation section to cover off this setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Version Independent ID: 8f4385a4-9ac2-38da-d243-ed3c00b0fd36
* Content: [Upload and b

[2019-10-04 23:27] rlimberger opened #40151 "React example"
It would be great if you provided an example of how to use Azure Maps in a React Component. The constructor requiring an element ID does make this non-trivial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f-33d1-4d14-43a758071a76
* Content: [G

[2019-10-04 23:28] MicahMcKittrick-MSFT commented on #40149
@eugen-nw thanks for this! I will take a look and see if we can find a good place to put this into the documentation (or a new doc possibly)

[2019-10-04 23:28] femsulu commented on #40120
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-04 23:33] femsulu commented on #40129
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-04 23:37] femsulu commented on #40131
added triage labels

[2019-10-04 23:37] #40131 closed

[2019-10-04 23:37] dlepow commented on #39854
Updated article has been published. @mkstephenson, thanks again.
#please-close

[2019-10-04 23:37] #39854 closed

[2019-10-04 23:38] eugen-nw commented on #40149
You are more than welcome!

In exchange, can you please show on the https://docs.microsoft.com/en-us/azure/service-fabric/configure-existing-cluster-enable-managed-identity-token-service page how to stitch in the resources.azure.com JSON, an instance of Microsoft.ManagedIdentity/userAssignedIdentities into a Microsoft.ServiceFabric/clusters instance?

[2019-10-04 23:39] KranthiPakala-MSFT commented on #40051
@o-o00o-o Just wanted to get some clarification on the ask. Was the above ask directly related to the content of the document?

If your ask is specific to a scenario, we request you to please post your question on [Azure Analysis Services - MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics) and other forums, we have our engineers and others who are monitoring the

[2019-10-04 23:44] MicahMcKittrick-MSFT commented on #40149
Noted! I will take a look at that as well. Likely won't get to anything until Monday but it's assigned to me so will look and see what we can do.

[2019-10-04 23:50] FrankHu-MSFT commented on #40142
@anyITsolution Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-04 23:50] FrankHu-MSFT commented on #40146
@aleazofeifam

[2019-10-04 23:52] szarkos commented on #37674
I wouldn't recommend disabling blk_mq as that was added to improve performance, particularly in NVME disks.

Since switching to blk_mq for many VM images in Azure (including RHEL and SLES) the 'noop' setting no longer applies, but you can set the scheduler to 'none' instead.

[2019-10-04 23:52] FrankHu-MSFT commented on #40142
Hello, can you clarify what you mean by make this version available for download?
Information on upgrading aad connect can be found here : https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-upgrade-previous-version

In regards to downgrading please see : https://social.msdn.microsoft.com/Forums/azure/en-US/8a36b630-dd0d-40fc-b44a-6a7bafe7c89c/rollback-in-dirsync-cutover?forum=Wi

[2019-10-04 23:53] FrankHu-MSFT commented on #40142
@anyITsolution Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day monday. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-04 23:55] FrankHu-MSFT commented on #40146
Hello @aleazofeifam unfortunately the active directory domain services are not supported with the Microsoft Graph API. All APIs related to AAD DS can be found here : https://docs.microsoft.com/en-us/windows/win32/ad/using-active-directory-domain-services

@aleazofeifam Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue

[2019-10-04 23:59] TomArcherMsft commented on #27037
@tomaszkosturekswissre The engineering team has confirmed that the script is failing and they are working on fixing this now. I'll alert you when the PR is submitted and we resolve the issue. Thanks for bringing this to our attention.

[2019-10-04 23:59] mkstephenson commented on #39854
Perfect thanks!

[2019-10-05 00:20] Alberto-Vega-MSFT commented on #40151
@rlimberger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-05 00:20] Karishma-Tiwari-MSFT commented on #40036
We actually support Windows Virtual Desktop in Tech Communities
https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

@ChristianMontoya Can you please share your insights/inputs here. Thanks :)

[2019-10-05 00:53] KarlaK-fl commented on #39750
How do I disconnect and reconnect the connection without deleting it completely?

Thanks,
Karla Keeney
Director of Technology
Resource Consulting Group
karlak@resourcrconsulting.com
407-422-0252

________________________________
From: suvasara <notifications@github.com>
Sent: Friday, October 4, 2019 5:54:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karla Keeney <karlak@re

[2019-10-05 01:02] KingdomOfEnds commented on #39600
Hi @BhupalPatil!

My apologies about the delay in finding a direct reference for your queries:

1. For REST API Reference: https://docs.microsoft.com/rest/api/time-series-insights/preview
1. For live client charting examples: https://tsiclientsample.azurewebsites.net/
1. For JS SDK documentation including authentication, API REST calls, and examples: https://github.com/microsoft/tsiclient

To be m

[2019-10-05 01:02] KingdomOfEnds commented on #40013
@BhupalPatil - I've gone ahead and replied to the original question. Thanks!

[2019-10-05 01:06] Vlados2810 commented on #35091
Hello.
Sorry for late reply, got thrown away by work stuff and fraud fight.
when I get into the portal from work I can see only this.
[image: image.png]
If I press access panel profile. I can see my real phone number, but as
soon as I request additional security verification it asks my old phone
number which is blocked.
I can only access Azure portal when I am on shift with my work laptop.
I will

[2019-10-05 01:46] #39922 closed

[2019-10-05 01:49] BryanTrach-MSFT commented on #39922
@mignonsys Either location should be fine. There were recent changes to the ILB ASE platform that might change the behavior of where the cert is placed for newer ILB ASE.

We updated the note in the doc to suggest checking in either location as the experience might vary from one ILB ASE to another.

We will now proceed to close this thread. If there are further questions regarding this matter, ple

[2019-10-05 01:51] BryanTrach-MSFT commented on #40048
@richjhart and @sandarvanlaan I'm assuming you're on a windows machine. Did you run the .NET Core installer for linux? See https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro#linuxubuntu

If you didn't and you're just doing the tutorial, you don't need bash, just open the command prompt  instead.

[2019-10-05 02:18] NavtejSaini-MSFT commented on #40111
@mbinnix Here is the response from our product team
"We are currently in the scheduling discussion for the GA of Elastic Database Jobs feature. We expect to have more clarity in the next few weeks."
We will go ahead and close this thread. Please get back to us if any other issue.

[2019-10-05 02:18] #40111 closed

[2019-10-05 02:26] femsulu commented on #39796
Hi Tiago, strange you are unable to use a subset of the shortcuts but others work. I also tried and not able to reproduce your issue. My recommendation would be to try on a different machine, OS and Browser but sounds like you've already tried similar mitigation steps. If this is a blocker, we recommend engaging our [Azure support channel](https://docs.microsoft.com/en-us/azure/azure-supportabilit

[2019-10-05 02:26] #39796 closed

[2019-10-05 04:00] RohitMungi-MSFT commented on #40130
@bartvermeersch Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:02] RohitMungi-MSFT commented on #40133
@garybushey Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:04] RohitMungi-MSFT commented on #40143
@swanderz Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:06] RohitMungi-MSFT commented on #40147
@jks05c Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:09] RohitMungi-MSFT commented on #40148
@rogersass Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:11] RohitMungi-MSFT commented on #40150
@gavinbarron Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 04:20] Akhilb25 commented on #39848
The issue was with the server clock.
The timestamp of SP and IDP was not synched.
We have synched the server clock and it worked.

Sent from my iPhone

[2019-10-05 04:20] glaucia86 commented on #39832
@GiftA-MSFT Hi! I am having the same issues as well... look this:

[![01-image.png](https://i.postimg.cc/Hn7vYQGt/01-image.png)](https://postimg.cc/n9pGT9hs)

![image](https://user-images.githubusercontent.com/1631477/66249725-be980f80-e705-11e9-9176-3b87fbf14be2.png)

And this is the code:

**language: JavaScript/Node.js**
[code]

p.s.: I already configured my local env variable in my Windows.

[2019-10-05 04:39] algattik commented on #39988
Great, could we please link it from this page?

[2019-10-05 04:57] anishkshah opened #40154 "how do I copy file or files from a snapshot via azcopy?"
Both for file and blobs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2ee3a6-a4ae-068a-1a7e-9a81877e1a21
* Version Independent ID: 57abfa84-1c27-6dcc-f757-bc3c90e6e6b0
* Content: [Transfer data to or from Azure Files by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files#

[2019-10-05 05:15] CodeSizzler commented on #39929
Hi Normesta,

Thanks for responding.

We have assigned the contributor and also waited for a long time. Still, we are getting that error.

[2019-10-05 05:17] derekbekoe opened #40155 "Add note on installing azcopy on alpine"
As provided, the instructions (wget then tar) do not work when installing azcopy on alpine.
Some users will see:
[code]

It would be helpful if a note was added that `apk add libc6-compat` may be required when using alpine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version In

[2019-10-05 05:37] mike-urnun-msft commented on #39738
@forester123 Thanks for sharing your feedback and reporting this issue! This was resolved as part of MicrosoftDocs/azure-docs#39802. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 05:38] #39738 closed

[2019-10-05 05:39] mike-urnun-msft commented on #39848
@Akhilb25 Glad to hear that you're unblocked. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 05:39] #39848 closed

[2019-10-05 05:58] mike-urnun-msft commented on #39989
@computernations Based on the above, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 05:58] #39989 closed

[2019-10-05 06:13] jerm commented on #39152
FWIW we were seeing behavior where _every_ way that we could think to query it, we were seeing "application/json", but Microsoft's checker insisted it was "application/json; utf-8". not sure what to make of that

[2019-10-05 06:24] elierlopez commented on #39834
After following all steps and installing last stable version of required Nuget package
I still face and issue

-RegisteredForRemoteNotifications is never raise (nor DidRegisterUserNotificationSettings)

and I found this message in the console
2019-10-05 01:13:07.997 Ketser.iOS[2910:1598665] XPC connection interrupted
2019-10-05 01:13:08.871 Ketser.iOS[2910:1598661] Can't end BackgroundTask: no bac

[2019-10-05 06:41] pyoungberg opened #40156 "Instructions for GPO"
Would be nice to get instructions on how to deploy and configure the Windows Agent via GPO for on-prem servers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed761ca-5bee-7f31-2e57-9a29bba2f35e
* Version Independent ID: f265cac7-227e-134e-4b4d-93bb82754178
* Content: [Onboarding to Azure Security Center Standard for e

[2019-10-05 06:41] nareshynn commented on #39079
@djpmsft : we are not providing public access to git repositories. do we need to provide complete public access to git enterprice server as well?

[2019-10-05 07:22] SubhashVasarapu-MSFT commented on #39983
@dvherk , Appreciate your patience. The authors were aware of this and there is a plan for modifying docs/updating them by next week. As it is still in preview state, they might have some sprints in updating the documents with latest features. It would take some time for the docs to get updated. We appreciate your contributions towards improvising Azure docs.
We are closing this issue for now.If t

[2019-10-05 07:22] #39983 closed

[2019-10-05 07:53] mike-urnun-msft commented on #40136
@melzoghbi Are you using [Azure Environment Selector](https://marketplace.visualstudio.com/items?itemName=SteveMichelotti.AzureEnvironmentSelector) to ensure you're on Azure Government environment? If not, please give that a try and let us know.

[2019-10-05 09:00] tsls commented on #40135
It’s 119100425000438. I will try a reset later on today. Thanks.

[2019-10-05 09:29] anyITsolution commented on #40142
Guys
Check the download link and check the latest version. It lets u download
1,4.18 and the latest is 1.4.25 <—- no download link.

On Fri, Oct 4, 2019 at 7:53 PM Frank Hu <notifications@github.com> wrote:

[2019-10-05 10:09] batanun opened #40159 "Documentation should be rewritten to use Azure PowerShell Az"
This documentation is using AzureRM when new users should use Azure PowerShell Az. I think this documentation should be rewritten. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf26281-619d-1997-1a7f-49ef9f0e261c
* Version Independent ID: c0f4d49e-a0a3-d8b7-c713-5800147a452b
* Content: [My first PowerShell Workflo

[2019-10-05 11:55] interfacemirror commented on #40094
I receive this error on the Hardware setup step. When I try to copy the firmware file to the device folder, I receive the error saying that the device is write protected. I tried to reset the disk attributes to write-able but it is still the same.

[2019-10-05 13:20] RohitMungi-MSFT commented on #40154
@anishkshah Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 13:21] RohitMungi-MSFT commented on #40155
@derekbekoe Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 13:25] RohitMungi-MSFT commented on #40156
@pyoungberg Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 13:27] RohitMungi-MSFT commented on #40159
@batanun Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-05 13:34] RohitMungi-MSFT commented on #40026
@SashaMilic We will now proceed to close this issue. Please feel free to raise an issue against the document you used from the feedback section of the page.

[2019-10-05 13:34] #40026 closed

[2019-10-05 13:35] RohitMungi-MSFT commented on #40029
@github2alfred We will now proceed to close this issue. Please feel free to raise an issue against the document used from the feedback section of that page.

[2019-10-05 13:36] #40029 closed

[2019-10-05 13:37] RohitMungi-MSFT commented on #40087
@AgassiJoeLVedala89  Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-05 13:44] RohitMungi-MSFT commented on #39930
@BrianMouncer Thanks for the clarification around the change log items. Since this is the SDK it might really not be available for public in general.
Regarding the issue with the recent change @sibbl mentioned we hope this is documented in the release notes if it is a breaking change.

@sibbl I think we can go ahead and close this issue as our team will work to document any breaking changes in fut

[2019-10-05 15:09] jihu opened #40161 "Solution deployment fails with a conflict failure"
I can't get this to work. When I try to deploy that solution, it fails with this error:

{
   "id":"/subscriptions/&lt;subscriptionid&gt;/resourceGroups/&lt;resourcegroup&gt;/providers/Microsoft.Resources/deployments/Automation/operations/C71E0376786C61EC",
   "operationId":"C71E0376786C61EC",
   "properties":{
      "provisioningOperation":"Create",
      "provisioningState":"Failed",
      "time

[2019-10-05 15:28] DCtheGeek commented on #39393
@bytemech The latest schema (2019-06-01) has been published and is now available here: https://schema.management.azure.com/schemas/2019-06-01/policyDefinition.json

The Resource Manager template schemas have also been updated, which can be found under [Microsoft.Authorization](https://docs.microsoft.com/azure/templates/microsoft.authorization/allversions). The PR has been submitted and will autocl

[2019-10-05 15:42] sarah026 opened #40162 "missing log types"
Can you please explain these two?
- PartitionKeyStatistics
- ControlPlaneRequests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196c9642-a016-e182-1435-51550b1cdee9
* Version Independent ID: fd354372-db8e-1eb8-dfc2-83e1c6c3954c
* Content: [Diagnostic logging in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/c

[2019-10-05 15:57] blueelvis opened #40163 "How to delete data selectively?"
Could you please also document how to delete specific data (like using `where` clauses) in a particular table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6dc9cc9-7277-b802-798b-4267d800548f
* Version Independent ID: ff5f2f75-2143-553d-619e-aae7883897b0
* Content: [Delete data from Azure Data Explorer](https://docs

[2019-10-05 16:01] sethmanheim commented on #39834
@elierlopez Thank you for reporting this issue, I am currently investigating with the engineering team and will report back when I have more information.

[2019-10-05 16:03] tomaszglinski commented on #40033
Hi,
im refering to that part:

[code]

(At least in case of Spring Boot applications) the `instrumentationKey ` is not needed, if it is configured via external property (and that is how it is done always).

I would simply expect such notice in documentation, otherwise it suggests that the same instrumentation key needs to be configured in many places in the same application.

[2019-10-05 16:12] MohitGargMSFT commented on #40121
@taylor2464 Thanks for your feedback! We will investigate and update soon on it.

[2019-10-05 16:31] #39393 closed

[2019-10-05 19:08] mike-urnun-msft commented on #40161
@jihu Thank you for your feedback! We will review and update as appropriate.

[2019-10-05 19:09] mike-urnun-msft commented on #40162
@sarah026 Thank you for your feedback! We will review and update as appropriate.

[2019-10-05 19:12] mike-urnun-msft commented on #40163
@blueelvis Thank you for your feedback! We will review and update as appropriate.

[2019-10-05 20:48] raztiff opened #40164 "Ambiguity around input bindings from Event Grid subscriptions e.g. event trigger then accessing blob via @BlobInput"
# Problem
Event Grid is a conduit for other services, but it's not really explained how to integrate and access important services like storage, especially so in Java. Seems there's some descrpencies between what's supported and isn't. For instance, a blob created event -&gt; subscibed to via event grid -&gt; forwarded to a azure function via event grid trigger -&gt; then using Bind events to acce

[2019-10-05 21:02] mike-urnun-msft commented on #39956
@amarnathprofisssional Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 21:02] #39956 closed

[2019-10-05 21:03] mike-urnun-msft commented on #39951
@sampayo123 Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 21:03] #39951 closed

[2019-10-05 21:04] mike-urnun-msft commented on #40049
@egondalia Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 21:04] #40049 closed

[2019-10-05 21:04] mike-urnun-msft commented on #40086
@AgassiJoeLVedala89 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-05 21:04] #40086 closed

[2019-10-05 21:39] mjannapureddy07 opened #40167 "Parameters in Custom JSON Webhook Action"
I am using Custom JSON in our Log Alert(Metric Measurement Type) configurations with webhook based notifications. These alert rules and action groups are deployed using ARM templates. I wanted to use ARM template parameters for the key values inside the custom Webhook JSON. I am using variables for this but could not find any source or documentation on how we can call the parameters inside the web

[2019-10-06 00:03] AErmie opened #40172 "Why Create Resource vs Use Automation Template Option"
I'm curious why this step has us actually fully create a resources, when, as you get to the "Review and Create" step, you can simply use the "Download a template for automation" option to the similar information (albeit with some cleanup required), but at least you don't have to actually deploy the resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-06 00:20] AErmie opened #40173 "Reference Template Modification Required (Variables to Parameters)"
The revised template example need to be modified from... variables('appServicePlanName') to parameters('appServicePlanName')

Else it produces the error:
Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The template variable 'appServicePlanName' is not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-10-06 00:34] AErmie opened #40175 "Reference Template Modification Required (Variables to Parameters)"
The 'Review your template' template example need to be modified from... variables('appServicePlanName') to parameters('appServicePlanName')

Else it produces the error:
Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The template variable 'appServicePlanName' is not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-06 00:51] roalexan commented on #40048
I'm getting the same error. I'm on a Windows machine and running:

Install .NET Core
	browse: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro
	click: Download and install
	click: Download .NET SDK (64-bit) (installs Microsoft .NET Core SDK 3.0.100)
open Command Prompt
	cd c:\p\repos (my working directory)
	git clone https://github.com/azure-samples/dotnetcore-sqldb-tutorial
	c

[2019-10-06 00:52] AErmie opened #40177 "Append Instructions for Unique Website Names"
Deployment fails due to "Website with given name devapp-webapp already exists."
You should add a comment/note to change the parameter values to a more unique string to avoid this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8974207c-f48f-7226-9f68-4c8639e3c513
* Version Independent ID: 3888d579-9ad6-4bba-a6d4-4ae78b

[2019-10-06 01:00] ozanbora commented on #19578
@euandekock I removed everything from CORS configuration page on Azure portal and left it blank.

[2019-10-06 01:12] roalexan commented on #40048
I got it to work by running:
dotnet tool install --global dotnet-ef
(found this at https://stackoverflow.com/questions/55974734/ef-core-tools-not-working-on-dotnet-core-3-preview-4).
It's rare that I find a MSFT demo that just works.

[2019-10-06 01:40] #39897 closed

[2019-10-06 01:42] billbliss opened #40179 "Two problems with this sample"
One, I cannot for the life of me figure out how to get the code working with the Azure Storage emulator. Try it, you get a bizarre 403 error -- the reason why is described [here](https://stackoverflow.com/questions/18265483/azure-storage-emulator-blob-creation-gives-403-forbidden-message?answertab=votes#tab-top). It's trying to connect to http://devstoreaccount1.blob.core.windows.net which of cour

[2019-10-06 01:42] #39832 closed

[2019-10-06 02:07] linruhui commented on #31879
Can anybody share the latest status on this topic?

[2019-10-06 02:13] juchen0411 opened #40180 ""Export to Power BI" in Log Analytics is now grey, is it under development?"
Hi Team,

In page below, the button is now grey, if you're modifying, or under development?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powerbi#export-query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version Independent ID: b03d56d0-1fba-bea4-6f02-97fbc583265

[2019-10-06 02:37] femsulu commented on #40121
PR initiated to resolve issue. this thread will now be closed.

[2019-10-06 02:37] #40121 closed

[2019-10-06 03:30] KrishnaG-MSFT commented on #40173
@AErmie Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-06 03:31] KrishnaG-MSFT commented on #40175
@AErmie Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-06 03:49] cloudman10 commented on #7695
**"a" was missing from the first line** casued this problem, It runs ok after updating "azure-vote.yml" file. Thanks for sharing this.

[2019-10-06 04:01] mike-urnun-msft commented on #40164
@raztiff Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:03] mike-urnun-msft commented on #40167
@mjannapureddy07 Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:04] mike-urnun-msft commented on #40172
@AErmie Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:05] mike-urnun-msft commented on #40177
@AErmie Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:06] mike-urnun-msft commented on #40179
@billbliss Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:10] mike-urnun-msft commented on #40180
@juchen0411 Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 04:27] DixitArora-MSFT commented on #40015
@mikaelsand  Just following up again in case missed the previous communication.

[2019-10-06 04:45] mjannapureddy07 commented on #40167
I am able to solve it myself. I need to create the variable of object type for custom Webhook JSON and then convert it to String while referring it in the Resources part of the template.

In My template I referred it something like this: string(variables('actionGrp').Webhook). Where **Webhook** is an object type Variable.

[2019-10-06 05:05] nick-chin commented on #38033
Hi @mamccrea , I've been trying to set up the Twitter sentiment analysis stream on Azure. It seemed that TwitterWPFClient wasn't receiving any tweets; looking at this issue, it seems to be deprecated. I'm not entirely familiar on how to set up the [TwitterClientCore](https://github.com/Azure/azure-stream-analytics/tree/master/DataGenerators/TwitterClientCore) for the Twitter stream. Is the updated

[2019-10-06 06:15] dsyorkd commented on #29895
I'm also getting this error, latest module version,  PS version 5.1.14409.1005. Note: this happens before I even get the chance to sign in. Add-RdsAccount -DeploymentUrl "https:rdsbroker.wvd.microsoft.com" throws the error, not when I try to sign-in.

[2019-10-06 06:18] KalyanChanumolu-MSFT commented on #40008
@aayush3667 Currently Azure SQL database doesn't support restoring from a backup (.bak) file.

As a work around, If you have the .bak file only but still need it on Azure SQL database

1. Restore the backup on a SQL server database running on a VM.
2. Use the "Deploy Database to Azure SQL" option from SSMS

![image](https://user-images.githubusercontent.com/8835012/66265149-f9e22d80-e82e-11e9-968d

[2019-10-06 06:18] #40008 closed

[2019-10-06 08:22] dcurwin commented on #39571
@naven  - Please provide the exact wording for the update to the document.

[2019-10-06 08:33] julesman101 opened #40182 "ASC Support for Windows Server 2008"
Windows Server 2008 is listed as a supported server operating system for ASC to monitor.  The text of this page says that the Windows Server OS listed are supported platforms on which the log analytics agent can run.  However, when I check with the log analytics documentation (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-windows-operating-systems) I d

[2019-10-06 08:34] dcurwin commented on #39947
Document updated.

#please-close

[2019-10-06 08:34] #39947 closed

[2019-10-06 08:47] dkershaw10 opened #40183 "Fix repeated sentence"
This sentence is repeated:
When getting tokens silently, your application may receive errors when a Conditional Access claims challenge such as MFA policy is required by an API you're trying to access.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e39c1df-517d-6390-d8ce-b2d33f573026
* Version Independent ID: 4f48b14a

[2019-10-06 09:46] barmutayn opened #40184 "Support with Azure configurations"
Hello,

We recently installed the 'Microsoft Azure Active Directory single sign-on for JIRA' add-on both on our Jira and Confluence.
We've successfully configured the connection of the add-on to our AD.
However, we've encountered a number of issues where I need your help:
1.	Active Directory is not fully synchronized with Jira or Confluence, users must be added / inactivated manually. We want user

[2019-10-06 09:51] banzaisi opened #40185 "Automated backup schedule"
"By default, the backup schedule is automatically determined based on the log growth."
Can some additional detail be added to explain what this means?
How is the backup schedule determined by the growth of logs?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32a2398f-5cde-2895-8b40-d16bd7069fae
* Version Independent ID

[2019-10-06 10:05] altambaw opened #40186 "Global VNet peering"
Global VNet Peering FAQ should clarify that although a Basic SKU Load Balancer cannot be reached over Global VNet Peering, resources (VMs) that are behind a Basic Load Balancer can still be reached directly over their private VNet IPs over Global Peering, just not via the LB endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-06 10:44] clumsym76 commented on #37127
We have the same issue with a migrated VM (recovered from data disk), registration was successful, but we are not able configure the extension via

`
$SettingsString = '{"AutoPatchingSettings":{"PatchCategory":"WindowsMandatoryUpdates","Enable":true,"DayOfWeek":"Sunday","MaintenanceWindowStartingHour":"2","MaintenanceWindowDuration":"60"},"KeyVaultCredentialSettings":{"Enable":false},"ServerConfig

[2019-10-06 11:43] NextTurn opened #40189 "Broken link"
The following link is broken

https://github.com/Azure/azure-iot-sdk-python/blob/master/doc/python-devbox-setup.md

which is referenced by multiple articles

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-dps/quick-create-simulated-device-x509-python.md
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-dps/quick-enroll-device-tpm-python.md
https://github.co

[2019-10-06 12:11] goelashish commented on #23148
@vikaskumawat80 can you mention what resolved this issue? I am running into the same error when doing GET API call to windows graph from postman.

[2019-10-06 13:02] LeivoSepp commented on #19252
How to set up Raspberry PI as a self-hosted arm32v7 agent for Azure DevOps is explained here in step-by-step. http://internetofthing.io/post/how-to-setup-raspberry-pi-as-an-azure-devops-agent
I created this instruction as I couldn't find anything like this from the web.

[2019-10-06 13:42] Majakrigaren opened #40191 "IP addresses of Consumption tier API Management service instructions are unclear"
I went to the link and fetched the json file with the list of IP addresses and entered the ones labeled API Management for my region into the firewall. That didn't work.
I then tried the ones only labelled API Management but they didn't work either.
What IP addresses are we supposed to used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-10-06 14:23] nroberts16 opened #40192 "Errors in doc?"
Hi

I believe there are some errors in the document under "Transfer an enterprise account to a new enrollment". In the Prerequisite section, The following are referring to Enrollment Transfers not Account Transfers:

The account transfer transfers all services, subscriptions, accounts, departments, and the entire enrollment structure, including all EA department administrators.
The account transfe

[2019-10-06 14:49] RohitMungi-MSFT commented on #40185
@banzaisi Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 14:50] RohitMungi-MSFT commented on #40186
@altambaw Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 14:52] RohitMungi-MSFT commented on #40182
@julesman101 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 14:52] unmeshM opened #40193 "App Configuration in queue trigger attribute %storage connection string%"
Is it possible to access the app configuration settings using syntax %% in queue trigger attribute
[QueueTrigger("%FunctionName%","%storage_conn_str%")]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b64fbcd7-336c-9163-c932-e9f454fa9948
* Version Independent ID: a526207f-a1e5-c44a-654e-d3678cbbb097
* Content: [Quickstar

[2019-10-06 14:53] RohitMungi-MSFT commented on #40183
@dkershaw10 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 14:54] RohitMungi-MSFT commented on #40184
@barmutayn Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 14:59] RohitMungi-MSFT commented on #40189
@NextTurn Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 15:01] RohitMungi-MSFT commented on #40191
@Majakrigaren Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 15:02] RohitMungi-MSFT commented on #40192
@nroberts16 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 15:04] RohitMungi-MSFT commented on #40193
@unmeshM Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-06 15:41] dcurwin commented on #39571
The document has been updated.

#please-close

[2019-10-06 15:41] #39571 closed

[2019-10-06 15:52] munir94 commented on #36430
hello, is there any update for Hyper V provider ?

[2019-10-06 16:26] #40183 closed

[2019-10-06 16:27] shashishailaj commented on #40183
@dkershaw10 Thank you pointing this out . We have fixed the changes . We love pull Requests and changes by our customers. In future , feel free to submit a pull request for any of the azure documentation and we will be happy to commit the change after a review.

We will close this issue now and the changes will be live in the next 24-48 hours as per the next release cycle after review.

Thank you.

[2019-10-06 16:53] kenlacoste843 opened #40196 "Deleting and re-adding user"
Hi, I've actually tried deleting a user and found myself struggling to re-add after doing a permanent delete. Every time I try to access the repo, the page is blocked with this title "According to Azure Active Directory, your Identity devtwomcs@gmail.com is currently Deleted within the following Azure Active Directory: mcs ph. Please contact your AAD administrator to resolve this.  For more inform

[2019-10-06 17:52] jamesmealing commented on #39673
Thanks for the quick fix. 🙂

[2019-10-06 18:50] mike-urnun-msft commented on #40196
@kenlacoste843 Thank you for your feedback! We will review and update as appropriate.

[2019-10-06 19:30] julesman101 opened #40197 "Tricky Acronyms"
There are some acronyms that it may be better to expand on this page:
VMBA = Virtual Machine Behavioural Analytics
FIM = File Integrity Monitoring
JIT = Just In Time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c81719-d8d4-2eb3-a5a9-1cc35dd04bec
* Version Independent ID: 8288bd95-d44e-8b1c-accb-0b221a71cd73
* Conte

[2019-10-06 19:38] memildin commented on #40197
Agreed. Thanks. Handled in
https://github.com/MicrosoftDocs/azure-docs-pr/pull/90767

[2019-10-06 20:43] danmyhre opened #40199 "Stale data"
In this section: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-faq#q-how-much-data-can-i-send-through-the-agent-to-log-analytics-is-there-a-maximum-amount-of-data-per-customer

Two issues:
- It references the free plan, which is no longer an option
- It refers to the agent as the "OMS agent".  OMS was a licensing bundle, not an agent.  It should reference the "Microsoft Monitor

[2019-10-06 20:49] frvigano opened #40200 "Unclear"
[Enter feedback here]
The role of the lookup activity is not really clear and we should make expliity

I understand that we have a table with some queries: for each query we pass to the ADX activity and we start exporting results returned by the current query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe86ecc4-810e

[2019-10-06 21:21] sandarvanlaan commented on #40048
@BryanTrach-MSFT  - Yes I did run the installer at the URL you referenced. And I'm just in a cmd prompt window. The first command "dotnet restore" works fine, but the second ""dotnet ef database update" still errors out as if the cmd isn't recognized. I tried @roalexan's recommended solution, but still getting this:
"Could not execute because the specified command or file was not found.
Possible r

[2019-10-06 21:24] bahadirbal commented on #22382
@SnehaGunda Do you have any plan to add this method into IDocumentClient interface for testability? I mean why dont you have some methods are not defined in IDocumentClient interface? Do you have any other implementations?

[2019-10-06 21:56] leanwang opened #40201 "Follow Python sample code is not working"
I use provided Python sample code, Text-Translation-API-V3-Python/Translate.py, found from https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Python/blob/master/Translate.py.  Then, I replace subscription_key and endpoint with the values given me by Azure my Azure's dashboard.

subscription_key = '2bxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'   <<- not the real one that I used
endpoint = 'https

[2019-10-06 22:40] sandarvanlaan commented on #40048
Wow. Ok, I got it. Not sure how much help it'll be for anyone else. But I ran the full install of Visual Studio 2019. Running the command then gave me this error:
dotnet ef database update
It was not possible to find any compatible framework version
The specified framework 'Microsoft.AspNetCore.App', version '2.2.0' was not found.
  - The following frameworks were found:
      2.1.13 at [C:\Progra

[2019-10-06 22:46] theconvchamp opened #40202 "Difference between PullAudioInputSream and PushAudioInputStream"
I believe the above example can also be solved using PushAudioInputStream. Can you enlist an example for the same and also describe the differences and recommendations on when to use either of these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f14a2df-a341-fdfb-6a02-3a5b45ee5535
* Version Independent ID: dc9dd12c-8

[2019-10-06 23:00] YutongTie-MSFT commented on #38941
@alexander-riss
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-10-06 23:00] #38941 closed

[2019-10-06 23:11] YutongTie-MSFT commented on #40202
@tellstoriesatbedtym
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-06 23:32] dcbrown16 commented on #40014
Sorry @danimir, I understand that platform metrics and Intelligent Insights are not the same. I'm having trouble understanding the "Metrics" section on the page I reported this issue on, then.
That section gives these three possible values.
`issue metric type – possible values: DurationIncreaseSeconds, CriticalErrorCount, WaitingSeconds`
I don't see how that lines up with the categories of issues

[2019-10-07 01:12] kazshi opened #40204 "UI text hasn't been updated"
Currently some UI text is inconsistent with one n the portal.
For example, "Blobs" (in the "Create a blob container" section) should be "Containers".
I've not check all UI elements but please review the latest portal and fix accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0

[2019-10-07 02:07] RohitMungi-MSFT commented on #40200
@frvigano Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-07 02:09] RohitMungi-MSFT commented on #40199
@danmyhre Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-07 02:11] RohitMungi-MSFT commented on #40201
@leanwang Could you please let us know the azure document link that you are following before encountering this error? The scope of this support forum is to address document issues from azure-docs repo. If you are facing issues with the service we recommend the same to post in our MSDN or Stackoverflow forums for the respective service.

[2019-10-07 02:11] WalterWu-AppService opened #40205 "How many days exactly does the Message Retention of Event Hubs Dedicated have (7 or 90 days)?"
In this link(https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-overview#event-hubs-dedicated-quotas-and-limits), it shows that the Message Retention of Event Hubs Dedicated is 90days. However, here is 7days. Which is the correct one? And could you please update the wrong page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-10-07 02:12] WalterWu-AppService opened #40206 "A note may need to be added to this page to show the max size of the event in output binding is 256KB."
According to the following 2 links, the max size of Event Hubs event in output binding is 256KB. Could you please update the page to notice this limitation?

Event Hubs Basic and Standard - quotas and limits:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas#event-hubs-basic-and-standard---quotas-and-limits

EventHub max size is hardcoded 256KB:
https://github.com/Azure/azure-fun

[2019-10-07 02:56] DixitArora-MSFT commented on #40206
Hi @WalterWu-AppService Thanks for your feedback. We will review and update as appropriate.

[2019-10-07 02:59] DixitArora-MSFT commented on #40015
@mikaelsand Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-07 02:59] #40015 closed

[2019-10-07 03:29] avi2183 commented on #40088
Any update on this? Please suggest. Thank you.

[2019-10-07 03:30] KrishnaG-MSFT commented on #39980
The feedback is being shared with the content owner for further review and document enhancement considerations.

[2019-10-07 03:40] pvrk commented on #39135
@tommy-couzens : Did the above steps help? Please comment.

[2019-10-07 03:41] udooz commented on #40056
Hi @sergaz-msft
I hope that you got required information.

Regards,
Sheik

[2019-10-07 03:43] pvrk commented on #38986
@LukePWilkins : Have verified with my engineering. For Azure Backup, the names are case sensitive. I understand that the general Azure resource names are not case sensitive but the backup items and containers are created by Azure Recovery services and have to be case sensitive. Hope this clarification helps.

[2019-10-07 04:37] ChiragMishra-MSFT commented on #40088
@avi2183 I am assigning this issue to the content owner to provide more info.

@djpmsft Can you please have a look at this ?

[2019-10-07 05:03] KrishnaG-MSFT commented on #40045
@zoekdestep The [content article](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-collect-linux-computer) which you were referring basically talks about how to configure and collect data from Linux server / machine. I have tested the steps of the article and it works as expected.

Refer [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overvie

[2019-10-07 05:03] tayamasa opened #40207 "A force tunneling (Default Site) on VPN is not recommended in coexisting connections (VPN and ER)"
When we are using coexisting connections (VPN and ER) and a force tunneling (Default Site) on VPN, default route was configured to vpngw automatically in spite of no configuring a UDR on the VM subnet. This environment is not recommended. If need the force tunneling on VPN, should use BGP on VPN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-07 05:07] KrishnaG-MSFT commented on #40045
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-10-07 05:07] #40045 closed

[2019-10-07 05:08] CHEEKATLAPRADEEP-MSFT commented on #40205
@WalterWu-AppService Thanks for bringing this to our attention. We will update the document asap.
- Azure Event Hubs
- Azure Event Hubs clusters (dedicated)

Message Retention for **Standard Event Hubs is 7 days**.
Message Retention for **Dedicated Event Hubs clusters is 90 days**.

Hope this helps.

[2019-10-07 05:12] kazshi commented on #39561
@KalyanChanumolu-MSFT I wasn't sure what "You will be impacted if you have any subnets using Microsoft.SQL as a Service Endpoint but cannot communicate with the Gateway IP addresses" means and impact in the case, but if it ("but cannot communicate...") means "...and NSG rules to deny communication with the Gateway IP addresses" it makes sense to me. Would you please check if it's correct?

[2019-10-07 05:21] CHEEKATLAPRADEEP-MSFT commented on #40205
@WalterWu-AppService Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/90775](https://github.com/MicrosoftDocs/azure-docs-pr/pull/90775).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we

[2019-10-07 05:21] #40205 closed

[2019-10-07 05:48] SubhashVasarapu-MSFT commented on #40207
@tayamasa , Thanks for your feedback. We are looking into this and will update you as soon as possible.

[2019-10-07 05:50] amarnathprofisssional commented on #39956
Hi Mike,
I am referring to below link
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-assertion
Based on this only we are trying to integrate the SAML with Azure.

I have gone through the below URL also for more details
https://github.com/MicrosoftDocs/azure-docs/issues/37742

Please let me know if you need more details.

[2019-10-07 05:50] memildin commented on #40197
#sign-off

[2019-10-07 06:05] CHEEKATLAPRADEEP-MSFT commented on #40051
@o-o00o-o  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-07 06:05] #40051 closed

[2019-10-07 06:10] larsathle opened #40208 "Invalid PS code getting user objectId into variable"
The line:
azureaduser=$(az ad user list --filter "userPrincipalName eq '&lt;user-principal-name&gt;'" --query [].objectId --output tsv)

Should be:
$azureaduser = (az ad user list --filter "userPrincipalName eq '&lt;user-principal-name&gt;'" --query [].objectId --output tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-07 06:14] SogoGolf opened #40209 "is there a JS API for this ?"
hi, is there a JS API example you could add for scaling RU up/down on an existing database ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789936dc-e275-a87f-4f34-8f757db9b3b4
* Version Independent ID: ce1c88a2-5e85-1f2b-d5aa-a2f9b117635e
* Content: [Provision database throughput in Azure Cosmos DB](https://docs.micro

[2019-10-07 06:14] amarnathprofisssional opened #40210 "AADSTS50107: Requested federation realm object 'https://sts.windows.net/xxxxxxxxxxxxxx' does not exist error is coming while calling the token api with assertion token"
I have followed with the continuation of below link.
https://github.com/MicrosoftDocs/azure-docs/issues/37742

While calling the token api call, we are getting below error.

{"error":"invalid_request","error_description":"AADSTS50107: Requested federation realm object 'https://sts.windows.net/xxxxxxxxxxxxxxxxxx/' does not exist.\r\nTrace ID: 61e097a6-dfa7-4869-b573-ea8e0ec25100\r\nCorrelation ID:

[2019-10-07 06:20] LukePWilkins commented on #38986
@PVRK - Right OK. Thank you for following that through and for the clarification.

[2019-10-07 06:21] elierlopez commented on #39834
Hey @sethmanheim thanks for answering.

It'll probably look weird but after making the **RegisteredForRemoteNotifications** method **async**, putting an **await** operator to Register and Unregister functions as shown in the attached image, adding a test tag "user" and waiting one day now it works and the device is able to display push notifications.

In previous days I received the below message

[2019-10-07 06:24] simonvane opened #40211 "CRUD?"
It is stated above that "Any inserts and changes (e.g., CRUD) to the monitored container are reflected in the change feed of the container."

Is the CRUD part of this statement true? I was under the impression that only create and update was monitored in change feed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08ea0

[2019-10-07 06:28] souravmishra-msft commented on #40210
@amarnathprofisssional, Thank you for your query. We will investigate and update this thread.

[2019-10-07 06:30] taminta opened #40212 "Access policy of Secrets is required"
According to document, [Certificate permissions] is needed for activating SSL with BYOC, but We found that [Secret permissions] is also needed for activation. There will be below error message if [Secret permissions] is not configured.
Please help to modify document since our customer got confused.

---
Failed to update custom domain properties
We don't have permission to access this secret. Go to

[2019-10-07 06:34] PramodValavala-MSFT commented on #40191
@Majakrigaren The JSON file contains a list of IP Address Ranges and not individual IP addresses. Also, could you confirm that the IP address you observed being used was not part of the list?

[2019-10-07 06:44] Tomer-GRTH commented on #19203
What is the ETA for GA on this feature?

[2019-10-07 06:45] sergaz-msft commented on #40189
Thanks for reporting this @NextTurn .

@wesmc7777 , @robinsh  can you please take a look and help fixing it?

Thank you!

[2019-10-07 06:45] souravmishra-msft commented on #40212
@taminta, Thank you your query. We are looking into this and will get back to you on this thread.

[2019-10-07 06:49] CHEEKATLAPRADEEP-MSFT commented on #40204
Thanks for bringing this to our attention. We are checking with the storage team and get back to you once we have more information.

[2019-10-07 06:49] jakaruna-MSFT commented on #40024
@git001 I tried to figure out the role creation from the debug output. But unable to find.

The issue which you created in Azure/AKS#1249 will be the right place to find out the fix for the issue

Once we find the fix we can add that to this document

[2019-10-07 06:50] souravmishra-msft commented on #40211
@simonvane , Thank you for the query. We are looking into this and would get back to you on this thread.

[2019-10-07 06:51] jakaruna-MSFT commented on #40024
@jluk @sauryadas @zr-msft  user dont have access to AD to create Role assignments.
Can we create the role assignment for monitoring addon independent of the cluster creation process?
Please add your comments.

[2019-10-07 06:52] souravmishra-msft commented on #40209
@SogoGolf, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-07 06:54] souravmishra-msft commented on #40208
@larsathle , Thank you for sharing the query. We are looking into this and will get back to you on this thread soon.

[2019-10-07 06:55] pvrk commented on #38986
#please-close

[2019-10-07 06:55] #38986 closed

[2019-10-07 06:56] pvrk commented on #39135
Have verified multiple times that the above steps help. Closing the issue. Can re-open if the steps don't work for customer.

[2019-10-07 06:56] pvrk commented on #39135
#please-close

[2019-10-07 06:56] #39135 closed

[2019-10-07 07:07] KrishnaG-MSFT commented on #40175
The feedback is being shared with the content owner for visibility, further review and document enhancement considerations.

[2019-10-07 07:08] munir94 commented on #29651
hi, any update for this ?

[2019-10-07 07:09] KrishnaG-MSFT commented on #40173
The feedback is being shared with the content owner for visibility, further review and document enhancement considerations.

[2019-10-07 07:10] NovoJeep commented on #39655
I can connect to IotHub from my office but I had to open TCP8883 for that.

[2019-10-07 07:11] xkobal commented on #39665
For me it's a major issue than Applications from personal account cannot verify their domain
while a warning is displayed for application users :-/
My only option is to recreate applications which is a problem for our users by forcing them to give again their consents to another application...

[2019-10-07 07:16] DashleenBhandari-MSFT commented on #40208
@larsathle , is this regarding the section - https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-database-access-to-azure-ad-user?

[2019-10-07 07:19] DashleenBhandari-MSFT commented on #40150
@gavinbarron , Did you mean this - https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-custom-ssl#automate-with-scripts? This section has Azure CLI and Azure PS scripts.

[2019-10-07 07:35] RohitMungi-MSFT commented on #40087
@AgassiJoeLVedala89 We will now proceed to close the issue. You can create a new issue against the document link used if you are still facing an issue.

[2019-10-07 07:35] #40087 closed

[2019-10-07 07:37] jakaruna-MSFT commented on #40024
@git001 If monitoring addon is enabled, Then a dpeloyment called aks-monitoring-* is applied on the default resource group(in case if we didnt give the workspace id)
That deployment would have failed for you.

Can you check the details of that failures and let me know

[2019-10-07 07:39] vitalii-lebedev commented on #26079
It's not possible to create KeyVaultManagedStorageAccount with ARM template, and also it's not possible to create it with Service Principal. Could you please advice what is the best practice of deploying it?

[2019-10-07 07:42] jakaruna-MSFT commented on #40185
@banzaisi i hope that should be transactions or database size instead of logs.

@MashaMSFT please add your commnets

[2019-10-07 07:49] mikaelsand commented on #40015
Might I just point out that you closed this on a Sunday, which typically is NOT a day of work.

The link I was referring to was this one: https://github.com/Azure-Samples/active-directory-dotnet-graphapi-web

[2019-10-07 07:52] jakaruna-MSFT commented on #40185
Looks like its based on logs only
"The log growth since last full database backup is equal to or larger than 1 GB." -- for full backup
"The transaction log space used is 5 MB or larger."   for transnational log backup

Reference: https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-managed-backup-to-microsoft-azure?view=sql-server-2017#full-database-backup

@MashaMSF

[2019-10-07 07:55] KalyanChanumolu-MSFT commented on #40211
@simonvane Thank you for reporting this.
Change feed for CosmosDB doesn’t support delete notifications yet.

This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-07 07:57] DixitArora-MSFT commented on #40015
@mikaelsand Thanks for the update. I will create the work item for this internally. Thanks for sharing the feedback.

[2019-10-07 08:00] BhupalPatil commented on #40106
@rezasherafat, I cannot use  C or C# SDK and trying to build our own library that will do device registration via DPS using X509 certificate and carry out device to IOT hub comunication... so trying to explore how to achieve this with C#/.net and C language using.

if I'm using MQTT net library then can I get some pointers what should I connect to in case of DPS for device registration and IOT hub

[2019-10-07 08:02] BhupalPatil commented on #40013
thanks @KingdomOfEnds , we can close this issue.

[2019-10-07 08:05] jopgommans opened #40214 "Clarify the information in the article (what to do and where)"
In the article it would be practical to add that the proxy service registration to the tenant only has to be done **once** and on which machine to run the Register-AzureADPasswordProtectionForest command (so the proxy-server's host, or the actual agent's host). That can clarify the installation process in my opinion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-10-07 08:16] simonvane commented on #40211
Just to confirm, is it correct that change feed does not notify of reads (R in CRUD) either?

[2019-10-07 08:17] TynThordin commented on #20737
Same problem for me

[2019-10-07 08:24] BryanTrach-MSFT commented on #38966
@townxelliot We have also been unable to successfully use the depends_on feature with our docker image, which conflicts with the doc. As a result, we have assigned the feedback to the author to review this doc and make any changes as necessary. Thank you for raising this up.

[2019-10-07 08:25] BryanTrach-MSFT commented on #39124
@DanlFrn Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-07 08:25] #39124 closed

[2019-10-07 08:33] RohitMungi-MSFT commented on #40089
@maheshkumagali We will now proceed to close this thread. Please raise a support case against this resource to resolve the key issue or proceed to use the new resource.

[2019-10-07 08:33] #40089 closed

[2019-10-07 08:38] robert4os opened #40216 "This page is the only referency ro "gateway ring" in all docs"
https://www.google.com/search?q=site%3Adocs.microsoft.com+"gateway+ring"&oq=site%3Adocs.microsoft.com+"gateway+ring"

...a definition/introduction would be useful :)

Thank you and best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e

[2019-10-07 08:46] mladents opened #40217 "load-balancer-standard issue using own PublicIP"
Hello,

I am testing lb standard with aks and ingress controller (nginx-ingress). I want to use my own, pre-defined publicIP.

Steps:
1. Create standard public IP (in separate resource group).
2. Create AKS cluster with option "loadBalancerSku": "standard" (in separate resource group).
3. Update AKS cluster with option --load-balancer-outbound-ips "myPublicIPID" and verified
    with aks show comm

[2019-10-07 08:50] Houuse commented on #25407
the whole upgrade thing don't exist for me in the portal!

[2019-10-07 08:52] KetanChawda-MSFT commented on #40095
@mikebudzynski Can you please share your thoughts here as I can also the repro this when trying to Import a function app to non- live or the revision which is not current marked as current.

![image](https://user-images.githubusercontent.com/28587628/66297678-c32f1480-e90d-11e9-83bf-615736282ea5.png)

[2019-10-07 09:07] msrini-MSFT commented on #40207
@tayamasa , can you provide more clarity on the below statement?

default route was configured to vpngw automatically in spite of no configuring a UDR on the VM subnet.

Do you want a scenario where you need to send Internet traffic to On-Prem only via VPN and not via Express Route ?

The UDR part, I agree with you as when you specify, next hop as Virtual Network Gateway, it automatically prefers

[2019-10-07 09:10] RohitMungi-MSFT commented on #40116
@Chreschtf The keys in this quickstart can be authoring keys or the subscription keys of the resource. Since LUIS is going to [migrate](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-migration-authoring-steps) soon these keys are pretty much the same.

@diberry Do we have plans to update this document to update the screen shots? After the migration the user settings and applic

[2019-10-07 09:20] rayne-wiselman commented on #38431
@benwhittaker Thanks for your feedback! I've updated the article and hopefully it's now a bit more readable. Please take a look.

@ElanShudnow Hey Elan, I couldn't find your comment from May, but can you take a look now and let me know what you think needs a revamp.

Leaving this open to wait for feedback. Thx!

[2019-10-07 09:22] SychevIgor opened #40218 "SQL Server 2017 supported?"
Could you directly specify that sql server 2017 supported or not?
Without this statement- it will be hard ti propose this solution for a long time projects, where could be used latest sql server versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ca8348-d608-f3d1-ffa3-7eeec99375af
* Version Independent ID: 8ed5a

[2019-10-07 09:24] rayne-wiselman commented on #36430
THanks for your feedback. As stated at the top of the article, this is supported for Azure VM and VMware VM monitoring only.

Using Azure Monitor Logs with Site Recovery is supported for Azure to Azure replication, and VMware VM/physical server to Azure replication.
#please-close

[2019-10-07 09:24] #36430 closed

[2019-10-07 09:31] shdeepika opened #40219 "How did the user switch from Azure portal to the web app (non-swagger UI)"
Hi,

I was able to deploy successfully but haven't been able to understand how do i get to the webapp UI page now (non swagger view). I have an existing AAD app registration which I can use.

-Deepika

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-

[2019-10-07 09:38] anwarmahmood1 opened #40220 "is Web sign-in to Windows 10 available on hybrid Azure AD joined devices?"
Web sign-in to Windows 10
https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-version-1809#web-sign-in-to-windows-10

Available to Azure AD joined devices; what about hybrid Azure AD joined devices?

I have hybrid Azure AD joined a device (so, it is joined to both AD DS and AAD; they are synchronised). "DSREGCMD /STATUS" confirms the computer is Azure Ad Joined.

I then install

[2019-10-07 09:44] RohitMungi-MSFT commented on #40143
@swanderz Thanks for your suggestion. Configuring the resource group and subscription is the default step and would be required only once if not done previously in that CLI environment. I have gone ahead and added a PR for the cancel command. This should be live within 24 hours of approval.

[2019-10-07 09:46] souravmishra-msft commented on #40214
@jopgommans , Thank you for sharing the feedback. I will update the same to the author to make the changes.

[2019-10-07 09:49] souravmishra-msft commented on #40216
@robert4os , Thank  you for the request. We are looking into this and would get back to you soon on this thread.

[2019-10-07 09:49] SumanthMarigowda-MSFT commented on #39995
@avidiyal Do you get any error message or error code? If, so can you share me the screenshot.

[2019-10-07 09:52] souravmishra-msft commented on #40220
@anwarmahmood1, Thank you for sharing the query. We will investigate on this and would get back to you soon.

[2019-10-07 09:54] souravmishra-msft commented on #40219
@shdeepika , Thank you for sharing the query. We are looking into this and would get back to you soon.

[2019-10-07 09:54] SumanthMarigowda-MSFT commented on #40147
@jks05c Azure Active Directory (Azure AD) and Role-Based Access Control (RBAC) are supported for Azure Storage for both resource management operations and data operations, as follows:
You can assign RBAC roles scoped to the storage account to security principals and use Azure AD to authorize resource management operations such as key management.
Azure AD integration is supported for blob and queue

[2019-10-07 09:55] souravmishra-msft commented on #40218
@SychevIgor, Thank  you for sharing the query. We are looking into this and would get back to you soon.

[2019-10-07 09:58] SadiqhAhmed-MSFT commented on #40192
@bandersmsft To review the documentation and update as required.

[2019-10-07 10:02] SumanthMarigowda-MSFT commented on #40156
@pyoungberg
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-07 10:15] banzaisi opened #40221 "Backup compression"
"13.On the Backup policy menu, choose whether to enable SQL Backup Compression.
* Compression is disabled by default.
* On the back end, Azure Backup uses SQL native backup compression."

Does the first bullet-point refer to the fact that even if INSTANCE-level compression turned on, SQL Server will still send an uncompressed backup stream to the VDI? Therefore, the control in Azure is the one whi

[2019-10-07 10:22] sibbl commented on #39930
@BrianMouncer

As of the time when I opened the issue, the version 1.6.0 was the latest version being described at the changelog site. This was one week after the package was released to public.

Thanks for looking into the breaking change though, I had not expected this from a minor version update. I would've expected a pointer to use `speechConfig.SetSpeechSynthesisOutputFormat` instead of not u

[2019-10-07 10:22] #39930 closed

[2019-10-07 10:29] bubbletroubles opened #40222 ""Other general questions" no longer avaiable"
The article says to choose _"On the Problem page, select the Problem type as “Other General Questions”_

however the "Other General Questions" isn't an option when raising a support case as of today (7 October 2019). The article should be updated to reflect the actual options to choose when raising a support case.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-07 10:30] souravmishra-msft commented on #40210
@amarnathprofisssional, Can you please share the URL for the token endpoint that you are using?
The token endpoint should be "**https://login.microsoftonline.com/{tenant-id}/oauth2/v2.0/token**" .

[2019-10-07 10:35] CHEEKATLAPRADEEP-MSFT commented on #39716
@basilhariri Any update on this?

[2019-10-07 10:36] shdeepika commented on #40219
Hi,

I was able to open the launch cloudshell webapp UI by clicking on the second app service plan 2. The documentation doesn’t call this out though and I had to figure it out on my own. Suggestion to add this 😊

-Deepika

From: souravmishra-msft <notifications@github.com>
Sent: Monday, October 7, 2019 3:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Deepika Sharma <Deepika

[2019-10-07 10:36] CHEEKATLAPRADEEP-MSFT commented on #39172
@spelluru Any update on this?

[2019-10-07 10:38] aaron-hammond commented on #39586
I too wanted this information, I feel like it should be included in the article or at least linked to in some way.

[2019-10-07 10:38] CHEEKATLAPRADEEP-MSFT commented on #9640
@twooley Any update on this?

[2019-10-07 10:40] KalyanChanumolu-MSFT commented on #40209
@SogoGolf We already have an open item to add samples for throughput updates.
Meanwhile, please refer to [this](https://github.com/Azure/azure-cosmos-js/blob/d3c8d944bcb9a79c0d3f1aeac36cf65d31e7155e/test/functional/offer.spec.ts#L95) functional test and let me know if that doesn't help.

[2019-10-07 10:44] rohancragg commented on #34520
Still no update after 3 months?
This is very valid feedback - this is one of the topics in the section on Security and Authentication, so to assume that people will be using Basic (kubenet) networking (contrary to one of the points in the 'Best Practice' recommendations) is inconsistent with this being one of the best practice configurations.

[2019-10-07 10:44] 0GiS0 commented on #30805
The right command for this is dotnet add package Microsoft.Azure.CognitiveServices.Personalizer --version 0.8.0-preview

Please, update the doc.

Cheers,

[2019-10-07 10:52] KalyanChanumolu-MSFT commented on #40163
@blueelvis You can selectively delete data using the .purge command.

`.purge table MyTable records in database MyDatabase with (noregrets='true') <| where CustomerId in ('X', 'Y')`

More details and samples are [here ](https://docs.microsoft.com/en-us/azure/kusto/concepts/data-purge)
Please let us know if you have further questions.

[2019-10-07 10:53] larsathle commented on #40208
@DashleenBhandari-MSFT , Yes.

I also spotted the same syntax here.
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#add-managed-identity-to-an-azure-ad-group

It fails with this message when running in shell.azure.com.

WARNING:
The specified wildcard character pattern is not valid: azureaduser=$(az ad user list --filter "userPrincipalName eq '<user-principa

[2019-10-07 10:59] dcurwin commented on #40221
#assign:pvrk

[2019-10-07 11:02] AEIOU-fhir opened #40223 "The input content is invalid because the required properties - 'id; ' - are missing"
I am receiving the following error, when following steps for HL7-FHIR-Mapping app - The input content is invalid because the required properties - 'id; ' - are missing

I have tried many ideas mentioned online such as ensuring it is being passed through id as oppose to Id and I was wondering if anyone came across this or knew how to solve this?

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-07 11:11] banzaisi opened #40225 "Backup agents"
The table in: https://docs.microsoft.com/en-us/azure/backup/backup-overview#backup-and-retention
First column says "Azure backup agent", which does not relate to any of the backup methods or agents mentioned in the sections "What can I back up?" and "What backup agents do I need?".
Maybe you mean "MARS Agent"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-07 11:13] Sethu2488 commented on #40118
I have a Web app running, I just wanted to confirm if Intrusion detection is handled by MS or is there any tool like Suricata to check the Intrusion detection. As it is not mentioned anywhere in the document who handles the intrusion detections.

[2019-10-07 11:13] dominicbetts commented on #40127
Hi @toolboc - thanks for pointing this out. The article is intended for developers working in a Windows environment, but we will shortly be publishing an equivalent article for developers using a Linux environment.

[2019-10-07 11:16] SwathiDhanwada-MSFT commented on #40221
@banzaisi Thanks for your comment.

[2019-10-07 11:20] VikasPullagura-MSFT commented on #40217
@mladents Thanks for the feedback. We are investigating and will get back on this.

[2019-10-07 11:21] dcurwin commented on #40225
In this document:

https://docs.microsoft.com/en-us/azure/backup/backup-configure-vault

it is stated (in the opening paragraph):

"the Microsoft Azure Recovery Services (MARS) agent, also known as the Azure Backup agent."

[2019-10-07 11:22] banzaisi opened #40226 "BitLocker-protected volumes"
Under "Supported drives or volumes for backup", BitLocker-protected volumes are mentioned.
Do you more specifically mean that BitLocker-protected volumes which are LOCKED are not supported?
That's what the Details seem to imply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-80d9-151e-cc27-7bc94d48f363
* Versi

[2019-10-07 11:25] dcurwin commented on #40226
#assign:saurabhsensharma

[2019-10-07 11:36] dcurwin commented on #40221
#assign:sachdevaswati

[2019-10-07 11:37] dcurwin commented on #40221
#reassign:sachdevaswati

[2019-10-07 11:40] amarnathprofisssional commented on #40210
@souravmishra-msft
Below is the url which I am using.

https://login.microsoftonline.com/b44cf0c5-66b2-4122-b5b6-201ae198febd/oauth2/v2.0/token

Thanks,

[2019-10-07 11:43] anwarmahmood1 commented on #40220
In my experiment, I...
1) left the Active Directory domain (this also caused the computer to stop being Azure AD joined).
2) Joined Azure AD directly (Settings > Accounts> Access Work or School > Connect > Join this device to Azure Active Directory)
3. Now, the Web Sign-In options *do* appear, and I *can* use them.

Hence, based on Windows 10 version 1809 LTSC channel with updates as of 2019-10-06

[2019-10-07 11:54] banzaisi opened #40227 "Comparison of backup types"
The comparison may make more sense if it is moved above the SQL Backup section, since it talks about incremental backups (which don't exist in SQL)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd590e9e-840e-e1ee-72af-103e1507668b
* Version Independent ID: 46224bb5-d2a3-4fbd-66f1-d6b2807dae50
* Content: [Azure Backup

[2019-10-07 11:56] banzaisi opened #40228 "Backup features - compression"
"On-premises Windows Server machines (direct)" support compression.
Is compression supported for Azure VMs backing up individual files and folders?
There is no separate column for this backup scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd590e9e-840e-e1ee-72af-103e1507668b
* Version Independent ID: 46224bb5

[2019-10-07 12:01] banzaisi opened #40229 "Backup compression for Azure VMs using MARS to backup files/folders"
Similar comment to: https://github.com/MicrosoftDocs/azure-docs/issues/40228

Is compression supported for Azure VMs using MARS agents in the same way that compression is supported for on-premises Windows machines when sending data direct to the vault via HTTPS?

Maybe the row label "Direct backup of on-premises Windows machines" could be changed to "Backup of on-premises Windows machines or Azure

[2019-10-07 12:02] memildin commented on #40197
#please-close

[2019-10-07 12:02] #40197 closed

[2019-10-07 12:14] rohancragg commented on #39155
the PR is still open, so this issue should still be open surely? the document has not been amended yet

[2019-10-07 12:22] Expecho opened #40231 "Tracking metrics"
I am missing some examples and guidance when it comes to the whole tracking of metrics philosophy. For example, the MetricNamespace seems to be a useful propery but is not mentioned everywhere. Also, there are a lot of overloads of the GetMetric method that are not well documented on what exactly they do. And I miss the explaination about how we can explore metrics in Azure Monitor. [Those docs](h

[2019-10-07 12:24] blueelvis commented on #40163
@KalyanChanumolu-MSFT - Could you please provide an example for `UPDATE` statements as well? Where for example, we can update that selected record? Not like reinsert but simple plain update.

Also, from the documents, seems like Purging is really not recommended as per the docs.

[2019-10-07 12:44] mustafamg opened #40232 "Custom Claim returns empty in next logins"
**Problem**:  Custom claims returns correctly after registration, but return with default value in subsequent logins.

Following the steps mentioned in the page, custom claim "loyaltyNumber" returns correctly directly after registration.
However, when the same user login again, the claim returns with a default value. Is this intended behavior?

MySignUpOrSignInFile
[code]

Trust framework extensio

[2019-10-07 13:19] jakaruna-MSFT commented on #40217
@mladents Looks like the service principal of AKS dont have access to the resource group where your predefined public ip is present.

Can you add the Contributor role to the aks service principal with the scope of the predefined public ips Resource group?

You can find the service principal id of the AKS cluster using the below Azure cli command as well.
`az aks show -n cluster-name -g resource-gr

[2019-10-07 13:19] NavtejSaini-MSFT commented on #40223
@AEIOU-fhir We are checking this and will get back to you.

[2019-10-07 13:26] dhruvjoshicontata opened #40233 "Adding parameters to blob linked service"
It seems that we are able to add parameters to blob storage linked services.
I was able to achieve this by adding parameters to blob storage properties in the advanced section.
Please let me know if I can use such code in production.

PS: I did post it as an answer on SO here
https://stackoverflow.com/questions/56067722/parameterize-azure-blob-storage-linked-service-in-adf/58111726#58111726

---
#

[2019-10-07 13:32] Nasicus opened #40234 "Brokered auth in Android: Is the complex redirect URL really required?"
First of all:
Is this really required?

Up until now our redirect URLs look something like this:
`msal781a9147-6ddc-43fb-aaaa-e01d7838ffe6://auth`

Is it really not enough to have this URL anymore if you want to use a broker? If so why not?

Why the requirement is to have the `base64urlencodedsignature` I don't understand at all. Could the broker app (Intunte) even verify that this is my signature

[2019-10-07 13:44] avantida opened #40235 "Missing docs on how Caching can be controlled"
Setting up a static website using this feature is really easy and we have also connected it to Azure CDN.
But when updating the site, we sometimes notice that browsers still use old pages (because of browser cache).
Ideally we'd like to set 'No-Cache' on the index.html page, so that:
1) the browser always asks for the latest version on the CDN
2) the CDN caches the latest version of the file, and

[2019-10-07 13:46] Soqotra91 opened #40236 "New users logging in on laptops can't register mfa info"
We currently have an issue with the new mysingins portal. When we login a laptop with a new user account which had never registered their MFA info before, we get the error when trying to register MFA info in the initial device setup. We first get the enrollment page and when done the laptop asks to register the fingerprint. This works. After the fingerprint the laptop asks to setup a pincode. This

[2019-10-07 13:46] git001 commented on #40024
@jakaruna-MSFT the admin have now run the following command

[code]

Now we have the following RG's

[code]

Name                                            | Loc
----------------------------------------------- | ----------
AppServicePoT_jr                               |  westeurope
DefaultResourceGroup-WEU               |          westeurope
MC_tfs-aks-pot-001_MyManagedCluster2_westeurope | west

[2019-10-07 13:49] rboucher commented on #38162
Final changes should be out later today.  If they are no adequate, please reopen the issue @nitin775 .

[2019-10-07 13:49] rboucher commented on #38162
#please-close

[2019-10-07 13:49] #38162 closed

[2019-10-07 13:55] SteffanH commented on #39837
@MicrosoftGuyJFlo from the Azure Portal -> Azure Active Directory -> Identity Secure score
![Azure Portal Identity secure score 263](https://user-images.githubusercontent.com/866619/66317966-c41a7300-e91a-11e9-96d1-d3eea72c6121.png)

[2019-10-07 13:59] mladents commented on #40217
Hi jakaruna-MSFT,

The service principal that I use for AKS deployment (shown by az aks show command) has a Contributor role on subscription level. Do I need some additional permissions for this SP?

[2019-10-07 13:59] axelgMS opened #40237 "add a note on pending Windows Updates"
that doc should call out the pending Windows Update that could cause a restart during VM provisioning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure](https://docs.micr

[2019-10-07 14:00] test123114 opened #40238 "how to manage multiple node pools for a cluster in Azure Kubernetes Service with powershell"
[Enter feedback here]
According to the document, we can  create multiple node pools for a AKS cluster with Azure CLI. Now, can I implement the feature with powershell. Because I want to host the script on Azure runbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Indepe

[2019-10-07 14:04] axelgMS commented on #40237
superseeded by 40239

[2019-10-07 14:04] #40237 closed

[2019-10-07 14:09] sergaz-msft commented on #40056
Hi @udooz when I read the tutorial I can't see a step requesting that you run in different consoles the command `ssh <username>@localhost -p 2222` . Can you explain better what you are trying to achieve?

Also please understand that if your objective is different than the quickstart step-by-step we kindly ask you to open a new issue under the open discussion online communties: [MSDN](https://socia

[2019-10-07 14:09] chainhead commented on #36331
@ambhatna Truly appreciate you/your team/Microsoft for so promptly addressing my need!

[2019-10-07 14:22] DOMZE commented on #36849
I conquer. I had the same problem and was pulling my hair out!

[2019-10-07 14:25] gavinbarron commented on #40150
Yes, that's the section I was meaning. There is this section:
https://docs.microsoft.com/en-us/Azure/app-service/app-service-web-tutorial-custom-ssl#enforce-https

But there's no corresponding script chunk.

Hence why I raised the issue and submitted the PR.

On Mon, Oct 7, 2019, 12:20 AM DashleenBhandari-MSFT <
notifications@github.com> wrote:

[2019-10-07 14:27] spelluru commented on #39172
@CHEEKATLAPRADEEP-MSFT - They are all maximum limits for the service.
@ShubhaVijayasarathy - Please confirm when you get a chance.

[2019-10-07 14:37] SamaraSoucy-MSFT commented on #40231
@Expecho Thank you for your feedback. I will take a look at the document and get back with you shortly.

[2019-10-07 14:46] msangapu-msft commented on #38966
Hi @townxelliot. Thank you for the feedback. As mentioned in the article, the Docker Compose sample was taken from https://docs.docker.com/compose/wordpress/#define-the-project . The sample includes "depends_on" and we didn't remove it because depends_on is ignored and has no effect on the configuration. I will update the article to call this out so it's not misleading. Thanks for pointing this ou

[2019-10-07 14:48] souravmishra-msft commented on #40210
@amarnathprofisssional,

**This issue occurs for one of the following reasons:**

The Issuance Transform rule is required to change the issuer from the default Active Directory Federation Service (AD FS) instance host name to the issuer set if the domain that's federated is missing.
The Issuance Transform rule is not updated after you add child domains.
This issue occurs when multiple top-level do

[2019-10-07 15:01] viresh-contino opened #40240 "command line setup and configuration?"
can non gallery based applications be configured using az cli and/or terraform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-62bc-d427-4b1783a1fa0a
* Version Independent ID: 61e41303-0118-1179-fc50-121c54ed4f34
* Content: [SAML single sign-on - non-gallery applications - Microsoft identity platform](htt

[2019-10-07 15:07] Boombasteg commented on #40115
Ok, I get it. We will probably remove these images manually. Thank you.

[2019-10-07 15:10] Boombasteg commented on #40115
How can this help me?

[2019-10-07 15:18] markjbrown commented on #40209
@KalyanChanumolu-MSFT can you assign to @deborahc? Thanks.

[2019-10-07 15:20] Majakrigaren commented on #40191
I added all the IP-address ranges that was tagged with API Management in the JSON file to my App Service network settings.  I suspect that the IP address ranges that are tagged with API Management are not used by API Management consumption plan. I don't know what IP addresses that are used.

[2019-10-07 15:26] anwarmahmood1 opened #40243 "can you compare passwordless authentication methods"
Here's a mock-up I created;

https://1drv.ms/w/s!Asj4jnl9W4tChqJEBUgswraUZIaGgQ

Adding this would be really helpful in understanding this.  For example, based on what I understand, I would need to use both Microsoft Authenticator app and FIDO2 security key.  Is that correct?  My suggestion would make this clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-10-07 15:27] MicahMcKittrick-MSFT commented on #40237
#40239

[2019-10-07 15:30] souravmishra-msft commented on #40004
@cdandrea, I tested the same and in the Authenticator App (Version 6.6.4 on Android), and was able to see the following options:

- Personal Account
- Work or School Account
- Other Account

This issue looks to be more of the Authenticator App version issue. It would be great if you can check which version of Authenticator app you are using and if that is the latest one based on the OS platform.

[2019-10-07 15:32] DashleenBhandari-MSFT commented on #40077
@DouglasAndrJohnston we tried to reproduce the issue. Could you please check here -

https://gauktomcatlinux.azurewebsites.net/securejavaapp/test

https://github.com/gkgaurav31/javatestapp

[2019-10-07 15:37] souravmishra-msft commented on #40083
@jgwinner, The only other way to achieve this would be to get the machines **Hybrid Azure AD joined**. You can find the steps in the following article: https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-managed-domains

[2019-10-07 15:37] dalejmarshall opened #40244 "Value for the bingApiEndpoint is incorrect"
The value for the bingApiEndpoint in the Function1.cs code is incorrect. The cognitive services endpoint I had to use was https://<region>.api.cognitive.microsoft.com/bing/v7.0/entities/ before I got a valid response

Also, when testing locally using VS, the post command states https://localhost:7071/api/EntitySearch when in should be http

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-07 15:41] Karishma-Tiwari-MSFT commented on #40238
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-07 15:45] jgwinner commented on #40083
Ok.

Then something is wrong ... NONE of the documentation about prompted KFM mentions the requirement to be Hybrid Azure AD joined.

Is this a hard requirement?

I would have thought that having SSO configured with AD to Azure AD synchronization setup and working, that there wouldn't be a need to join Azure AD. I mean, the idea with Azure AD is to give an SSO experience, not to drive GPO.

[2019-10-07 15:53] jakaruna-MSFT commented on #40217
That level of access is enough.  I will check in my environment and let you know.

[2019-10-07 16:13] JohnGalt1717 opened #40247 "Are their any limitations to Container Instances?"
It's not clear by this documentation if Container Instances suffer from the same restrictions as Azure App Services and Functions.

I.e. are GDI operations still limited if you run a .net core service worker in Container instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c00e2ca-c968-c339-c4f2-6acebc9c4f2f
* Ve

[2019-10-07 16:13] cstainie opened #40248 "Classification High, Medium and Low alerts"
Can you add a description what are the criteria for low, medium and High alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc36355e-92cf-4f93-9d3e-ef6b167e7566
* Version Independent ID: 54c401ad-cacf-bc5f-f5ea-4ce07157f4fa
* Content: [Manage security incidents in Azure Security Center](https://docs.microsoft.com/e

[2019-10-07 16:17] MicahMcKittrick-MSFT commented on #40115
I looked up the --delete-enabled false here:

https://docs.microsoft.com/en-us/cli/azure/acr/repository?view=azure-cli-latest

[code]

@Boombasteg can you elaborate on your suggestion?

[2019-10-07 16:18] MicahMcKittrick-MSFT commented on #39818
@tmguinn I will close this for now. When ready let us know and we can always reopen and continue the discussion.

[2019-10-07 16:18] #39818 closed

[2019-10-07 16:19] mustafamg opened #40249 "Azure Ad B2C Custom Policy: How to create sign up only (No sign in)"
I want to use custom policies for sign up scenario only without sign in. The user should not see the sign-up page directly without having to click on sign up link, is this possible? if so, would you please refer an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c92-3847-c2f9-f966-edaca7b59818
* Version In

[2019-10-07 16:19] MicahMcKittrick-MSFT commented on #40074
@dlepow @dkkapur thoughts on this?

[2019-10-07 16:20] djpmsft commented on #40088
@avi2183 The ADF engineering team is looking into why you are reaching this execution output limit. To assist us, would you mind posting your pipeline run id?

Could you give some context on your Data Flow as well (source, sink, transformations, how many rows)

[2019-10-07 16:21] mustafamg commented on #11668
The example link is not working anymore. Would you please refer me to a new one?

[2019-10-07 16:21] MicahMcKittrick-MSFT commented on #40149
@eugen-nw I am assigning this to @peterpogorski who is one of the Service Fabric PMs. We can add this work to the backlog and work offline to find the best place to address it in the docs :)

[2019-10-07 16:25] MicahMcKittrick-MSFT commented on #40247
We have some quota and limitation documentation for ACI

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas

The FAQ is also useful

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-faq

Container Instances vs PaaS services such as functions and app services are different so different limitations can apply. Can you provide some more

[2019-10-07 16:33] JohnGalt1717 commented on #40247
So what I would expect is a document similar to this: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox

And if there are no restrictions then to have it say so.  The issue is that the azure functions sandbox now applies to App Service plans as well, so our reporting cannot run because of the GDI+ limitations  listed there.

So we are looking for an alternative without having to spin

[2019-10-07 16:36] pavelrozenberg opened #40250 "Unable to use MSCloudIdUtils module in Azure Automation"
This module is very handy, however, when trying to run this from Azure Automation Account there is an error:
"Unable to find type [AdalHelper]"
Going through the module file MSCloudIdUtils.psm1 I found that the "Microsoft.IdentityModel.Clients.ActiveDirectory.dll" is being searched in the "My Documents" folder of the user account, which doesn't exist in Azure Automation.
I would like to suggest, l

[2019-10-07 16:40] realmdahmad opened #40251 "Typo in PFSGroup"
Hi, the following page appears to have a typo in table where it specifies PFSgroup as "ECP284" instead of "ECP384" for DHGroup 20.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-ipsecikepolicy-rm-powershell#crossprem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da24f7-4add-2b65-e150-094f260367ee
* V

[2019-10-07 16:51] MashaMSFT commented on #37127
Hi @clumsym76 , I'm sorry to hear you're running into issues and thanks for bringing this to our attention! Can you please provide steps for what you're trying to do?

Did you register in lightweight and are you trying to [upgrade to full](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider?tabs=powershell#change-manageme

[2019-10-07 16:53] MashaMSFT commented on #37127
@clumsym76 , I'm also seeing a few differences between the installation command on the docs, and the installation command you're using:

From the docs:
`
Set-AzVMExtension -ResourceGroupName "<ResourceGroupName>" `
  -Location "<VMLocation>" -VMName "<VMName>" `
  -Name "SqlIaasExtension" -Publisher "Microsoft.SqlServer.Management" `
  -ExtensionType "SqlIaaSAgent" -TypeHandlerVersion "2.0";
`

Fr

[2019-10-07 16:56] FrankHu-MSFT commented on #40249
Hey @mustafamg thanks for your feedback, we're looking into this and will respond accordingly as soon as possible thanks!

[2019-10-07 16:56] FrankHu-MSFT commented on #40248
Hey @cstainie thanks for your feedback, we're looking into this and will respond accordingly as soon as possible thanks!

[2019-10-07 16:57] FrankHu-MSFT commented on #40232
Hey @mustafamg thanks for your feedback, we're looking into this and will respond accordingly as soon as possible thanks!

[2019-10-07 16:58] FrankHu-MSFT commented on #40234
hey @Nasicus thanks for your feedback, we're looking into this and will respond accordingly as soon as possible thanks!

[2019-10-07 16:59] FrankHu-MSFT commented on #40250
Hey @pavelrozenberg thanks for your feedback, we're looking into this and will respond accordingly as soon as possible thanks!

[2019-10-07 17:00] v-wilock opened #40253 "Needs to be updated"
The app registration process has changed, so this page no longer reflects correctly what the user will encounter specifically, even if the general process is largely similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e31ea14-f6b0-0cd8-0aee-64427a665a36
* Version Independent ID: 60879db1-8dff-b97b-3051-c129181f1c9

[2019-10-07 17:02] MashaMSFT commented on #40185
Looking into this :) Thanks for bringing it to our attention @banzaisi !

[2019-10-07 17:05] rohitnayakmsft commented on #39561
@kazshi your statement is accurate. NSG can be at subnet level or on an Azure VM within subnet. Hence I kept the wording generic

[2019-10-07 17:08] KranthiPakala-MSFT commented on #39904
@jonmclean Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

@omidm1 Could you please have a look at this? - Thank you.

[2019-10-07 17:11] MashaMSFT commented on #39058
Hi @richardpomerleau , just wanted to apologize for the delay and let you know that I'm still looking into this.

Thanks!
Masha from the SQL Docs team

[2019-10-07 17:12] qub1n opened #40254 "Add pricing granularity for Azure Manage Disk"
I cannot find minimum pricing granularity for Azure Manage Disk.

https://azure.microsoft.com/en-us/pricing/details/managed-disks/

What is the minimum time period I am going to pay for usage of Azure Managed Disk? An hour? A minute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
*

[2019-10-07 17:12] husamhilal opened #40255 "Question about "customizedMessageBody""
Is it possible to use the "customizedMessageBody" from PowerShell cmdlets? Is there a way to customize Message Footer or Header?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cea15b5-0fca-d8ae-9423-4f4c91d7a9de
* Version Independent ID: 6f6159f1-8a56-7aa2-81ab-bf9e6c339a7d
* Content: [B2B collaboration API a

[2019-10-07 17:17] Alberto-Vega-MSFT commented on #39724
Hi @jomalsan I'm sorry I missed this can you please open a new issue?

[2019-10-07 17:18] Blackmist commented on #39590
Thanks for the feedback @macamhi

I'm working with the developers to figure out if this is a bug or expected behavior. If it's expected, we'll get the behavior documented. If it's a bug, we'll add a note to the documentation about it until the bug is fixed.

I'll post back here once I have more information on this.

[2019-10-07 17:21] rohitnayakmsft commented on #40216
@KalyanChanumolu-MSFT
Please assign this to original authors of the article for edits. In terms of connectivity we donot talk about control rings as a public concept. We just refer to them as "Sql Gateways" in a region.

[2019-10-07 17:23] amarnathprofisssional commented on #40210
1 small question this will occur ever after we get saml response.

My assumption is that since we are already getting the saml response that means there is no issue with the configurations.

Correct me if I am wrong?

[2019-10-07 17:25] KranthiPakala-MSFT commented on #40233
@dhruvjoshicontata Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-07 17:25] MarileeTurscak-MSFT commented on #39890
@resorath since I have not heard from you, please open a new issue or send me an email at AzCommunity@microsoft.com so we can get this resolved.

[2019-10-07 17:25] #39890 closed

[2019-10-07 17:26] Sarah-Aly opened #40256 "Get index properties - An extra ` in the URL"
There is an extra ' at the end of URL in Get index properties section
https://<YOUR-SEARCH-SERVICE-NAME>.search.windows.net/indexes/hotels-quickstart/stats?api-version=2019-05-06`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee74e59c-d9e3-bd30-fb75-cb9e36587b17
* Version Independent ID: ff3e51b1-653c-9cf1-a7d2-628270

[2019-10-07 17:27] MicrosoftGuyJFlo commented on #40243
Working on this already. Will be included in https://github.com/MicrosoftDocs/azure-docs-pr/pull/90727

[2019-10-07 17:27] avidiyal commented on #39995
No. I do not get any error message but the vmdk files do not merge so I cannot go the next step without single vmdk file

[2019-10-07 17:27] MicrosoftGuyJFlo commented on #40243
#please-close

[2019-10-07 17:27] #40243 closed

[2019-10-07 17:29] CeciAc opened #40257 "Receive.js example not working"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/540
The contributor is making a suggestion to the code

@rvdheuvel commented 3 days ago
The `recieve.js` code doesn't delete the messages. To fix it, the `ReceiveAndDelete` in `receive.js` in line 11 should be `receiveAndDelete`

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-07 17:31] MicrosoftGuyJFlo commented on #40214
Covered in the following section of the doc. It is required for each install.

https://docs.microsoft.com/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#install-and-configure-the-proxy-service-for-password-protection

After step 3 is completed, the proxy service is running on the machine. But the service doesn't yet have the necessary credentials to communicate wit

[2019-10-07 17:33] MicrosoftGuyJFlo commented on #40114
See https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common

[2019-10-07 17:35] Karishma-Tiwari-MSFT commented on #39430
@pdebruin This could be related to http-application-routing add-on.
Can you please try adding this add-on as described in this document:  https://docs.microsoft.com/en-us/azure/aks/http-application-routing
Though this http-application-routing add-on is not recommended for production use, this testing will help us understand if it is related to https ingress controller and if you need to create one

[2019-10-07 17:38] bandersmsft commented on #40192
@nroberts16 Thanks for the feedback. I'm investigating this with the EA Portal enginnering team. I'll reply here when I have more info.
#in-process

[2019-10-07 17:39] ChristianMontoya commented on #40036
@gerrynicol : You do not necessarily have to list all users there in the UI. You can add users later. However, you should create the number of VMs that you'd like to have (so all 10).

[2019-10-07 17:40] Adam-Smith-MSFT commented on #40235
@avantida Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-07 17:41] MicrosoftGuyJFlo commented on #39966
Users assigned the cloud device admin role only have permissions to devices not the role itself. You would need to follow the guidance in the doc below to assign the appropriate role to the users you want to be able to manage the role.

https://docs.microsoft.com/azure/active-directory/users-groups-roles/directory-assign-admin-roles#available-roles

[2019-10-07 17:43] SaurabhSharma-MSFT commented on #39932
@JamesBaxterSoftware We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-07 17:43] #39932 closed

[2019-10-07 17:43] MicrosoftGuyJFlo commented on #40220
More information about hybrid Azure AD joined device scenarios will be coming in the future. Nothing to add at this point in time.

[2019-10-07 17:44] MicrosoftGuyJFlo commented on #40220
#please-close

[2019-10-07 17:44] #40220 closed

[2019-10-07 17:45] MicrosoftGuyJFlo commented on #38825
@JonesMikael Ill see what I can do. Thanks for the suggestion.

[2019-10-07 17:50] nodeselector opened #40258 "Please add that client IP preservation does not work with Windows"
https://github.com/Azure/AKS/issues/1157

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1297e121-7cf0-63c1-99b3-87a85d80945b
* Version Independent ID: 39513a07-3c13-5117-47ca-1d2298653e6b
* Content: [Limitations for Windows Server node pools in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/

[2019-10-07 17:50] hrasheed-msft commented on #39904
#please-close

[2019-10-07 17:50] #39904 closed

[2019-10-07 17:50] BittahCriminal opened #40259 "Does Compliance Data output in to the activity logs?"
As the title suggests, does the compliance data write to the existing activity log steam?

[2019-10-07 17:52] FrankHu-MSFT commented on #40240
@viresh-contino Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-07 17:54] MicahMcKittrick-MSFT commented on #40258
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @jnoller @jluk

[2019-10-07 17:56] jomalsan opened #40260 "Python Control Device Quickstart Missing Package"
additional package that needs to be installed on Mac and Linux: https://pypi.org/project/azure-iothub-service-client/

Although Macs do not come with apt-get, so I had to use homebrew to get the package to install:
[code]

At that point when running python BackEndApplication.py I ran into other issues:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-07 17:57] coryty87 commented on #39966
@MicrosoftGuyJFlo  Thanks for the link however this is not what i am looking for.  Users are already part of these groups.  I need a group that i can add our MSP to who can Manage the Device Admins group.  out of of Global Admin role there is nothing that works.

[2019-10-07 18:03] KranthiPakala-MSFT commented on #39904
@hrasheed-msft Thanks for the update! ;)

[2019-10-07 18:04] karyjac commented on #20737
Here are some docs that might help delete the blocking resources:

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#delete-network-resources

https://docs.microsoft.com/bs-latn-ba/azure/aks/virtual-nodes-cli#remove-virtual-nodes

https://docs.microsoft.com/en-us/rest/api/container-instances/serviceassociationlink/delete

[2019-10-07 18:04] mamccrea commented on #39988
@algattik - I will add that link to the article. Thanks!

#please-close

[2019-10-07 18:04] #39988 closed

[2019-10-07 18:05] Tiberriver256 opened #40261 "Sync Frequency"
If I set my frequency to once a day. What time of day does it schedule the job to be executed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8439fa3-ed6f-94cd-107c-c2b00fa97d1a
* Version Independent ID: 0abf3b39-4fd0-a920-e5d2-8ae2bac650cd
* Content: [Set up Azure SQL Data Sync](https://docs.microsoft.com/en-us/azure

[2019-10-07 18:06] robinsh commented on #40124
The associated code PR request has been signed off on. This can be closed. #close-this

[2019-10-07 18:07] MarileeTurscak-MSFT commented on #40255
@husamhilal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-07 18:10] SaurabhSharma-MSFT commented on #40253
@v-wilock Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-07 18:10] BryanTrach-MSFT commented on #40256
@Sarah-Aly Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-07 18:11] BryanTrach-MSFT commented on #40244
@dalejmarshall Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-07 18:15] #39795 closed

[2019-10-07 18:23] jomalsan opened #40262 "Python Send Telemetry Doesn't Work in Cloud Shell"
One of the python package requirements `janus 0.4.0` requires python 3.5.3 or greater, while in the cloud shell the default python version is 3.5.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID: 7c6b3210-d878-0347-27af-199c2c00daa9
* Content: [Send telemetr

[2019-10-07 18:28] Virginia001 commented on #40013
#please-close

[2019-10-07 18:28] #40013 closed

[2019-10-07 18:30] MicrosoftGuyJFlo commented on #39433
At first sign-in. The 30 day counter starts the first time a user signs in.

[2019-10-07 18:30] SaurabhSharma-MSFT commented on #39916
@Ravi-WesCEF Yes, using "Other clients" also blocks Exchange Online Powershell using basic auth.  Please refer to [Block Legacy Authentication - What you should know](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication#what-you-should-know).
Also, Dynamics 365 PowerShell Module does not support modern authentication so it will break.  Refer to [Dy

[2019-10-07 18:31] SaurabhSharma-MSFT commented on #40055
@threecatsdigital We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-07 18:31] #40055 closed

[2019-10-07 18:34] MicrosoftGuyJFlo commented on #39916
If those versions are showing in other clients they are not using modern authentication. Enabling the baseline would block those authentication attempts.

[2019-10-07 18:35] udooz commented on #40056
Hi @sergaz-msft,  The exception is simple.  I'm trying to establish more than one SSH connection by running `ssh <username1>@localhost` -p 2222 and `ssh <username2>@localhost -p 2222`.  This is like two users want to access the target system via SSH.  The second connection creates above mentioned issue.  Hence, I've raised as an issue here.  If you still thinking this is not related to the article

[2019-10-07 18:35] MicrosoftGuyJFlo commented on #39916
Organizations with the appropriate licensing can use the information in the following document to create policies that mimic the baseline policies but allow exclusions.

https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common

[2019-10-07 18:35] MicrosoftGuyJFlo commented on #39916
#please-close

[2019-10-07 18:35] #39916 closed

[2019-10-07 18:36] TravisCragg-MSFT commented on #39888
@raakeshn Any updates on this?

[2019-10-07 18:39] MicahMcKittrick-MSFT commented on #20737
The ACI team is aware of this issue and are actively working on a permanent solution. I am working to get an ETA when the fix will ship. Will continue to update this issue as I get more information.

[2019-10-07 18:39] TravisCragg-MSFT commented on #40050
@sssseossss Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-07 18:39] #40050 closed

[2019-10-07 18:40] jluk commented on #40258
Aligned with Jeff that this should be placed as a Windows limitation. FYI @MikkelHegn this is a gap to close.

[2019-10-07 18:45] MicahMcKittrick-MSFT commented on #40071
@jnoller @jluk @sauryadas thoughts?

[2019-10-07 18:46] macamhi commented on #39590
Welcome, happy it finally made it through.

[2019-10-07 18:46] MicahMcKittrick-MSFT commented on #40247
Got it. Not sure the best way to go about this information. I will assign to the content author to review and see what we might be able to add.

[2019-10-07 18:47] cyamasaki8 commented on #38209
@cherylmc Would you happen to have an update?  I can tell you that we attempted to attach a HUB to a VNET (to which there is already a Virtual Network Gateway attached).  We got an error, "Failed to add peering" - ERROR HubVirtualNetworkConnection [Hub name redacted] cannot have AllowRemoteVnetToUseHubVnetGateways flag set to true, because remote virtual network [subscription and vnet name redacte

[2019-10-07 18:58] JohnGalt1717 commented on #40247
Can we at least find out for sure that there are no such limitations to start?

[2019-10-07 19:02] MarileeTurscak-MSFT commented on #39916
Added a note here about Dynamics 365 being blocked. https://github.com/MicrosoftDocs/azure-docs-pr/pull/90835

[2019-10-07 19:03] allanmoller opened #40264 "Disk ownership is not persistent after reboot!!"
Setting owner ship of /dev/sdX as mentioned in this guide will not persist after reboot! also device names are not persistent thus Oracle could become unavailable see link: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-device-names-problems. Please update guide to counter this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-10-07 19:04] MicahMcKittrick-MSFT commented on #40247
I don't personally see the link between that project you linked and container instances. So I don't want to comment on anything to be considered a limitation. I will let the author and @dkkapur provide further info on that.

[2019-10-07 19:04] terryedwards opened #40265 "Naming Policy Doesn't seem to apply"
After setting the naming policy setting (PrefixSuffixNamingRequirement), it doesn't seem to allow to the creation of new Teams Sites (Office 365 Groups). I've tried waiting over the weekend to make sure it wasn't a delay in the policy and having multiple users test creating sites. When I check a newly created site using "get-team" The DisplayName and MailNickName do not have the prefix that I set.

[2019-10-07 19:06] MicahMcKittrick-MSFT commented on #40264
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-07 19:13] algattik commented on #39988
How about point (1)?

[2019-10-07 19:15] SaurabhSharma-MSFT commented on #40138
@pauldj54 Can you please send mail to  tmtextsupport@microsoft.com with you issue description and you will be helped in resolving your issue.

[2019-10-07 19:16] Alberto-Vega-MSFT commented on #40260
@jomalsan Thanks for opening the issue. Let me investigate and will get back to you soon.

[2019-10-07 19:16] raakeshn commented on #39888
Thanks much for the gesture, Travis.

We have just begun testing this; will keep you posted.

Regards

[2019-10-07 19:19] Alberto-Vega-MSFT commented on #40262
@jomalsan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-07 19:21] shashishailaj commented on #40037
@TomShinder @barbkess Could you please help update the picture below. It is totally unclear when being used in Dark mode. I believe the background layer was made completely transparent however it must have been white.

![image](https://user-images.githubusercontent.com/532022/66341586-3b74f480-e965-11e9-9e63-9643bd12a568.png)

And hence whenever you see the same picture in a white background it sh

[2019-10-07 19:22] RyanHill-MSFT commented on #39835
Hi @PeterRockstars, have a look at https://github.com/aspnet/EntityFrameworkCore/issues/5150.

[InMemoryDatabase](https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/in-memory) is meant to be a light-weight implementation to test your entities. Having said that, it doesn't [support](https://github.com/aspnet/EntityFrameworkCore/issues/5150#issuecomment-214491467) APIs like GetDbConnecti

[2019-10-07 19:24] sauryadas commented on #40071
We do not support setting custom proxy buffer sizes for nginx

[2019-10-07 19:25] walsehgal commented on #40151
@rlimberger, thanks for reaching out. We do not have a sample yet, but we are working towards having one soon. In the mean while, you can take a look at the sample [here](https://github.com/illiusmedia/Map.jsx). Hope it helps.

[2019-10-07 19:26] nodeselector opened #40266 "Please add that windows drops traffic outside of the PodCIDR or ServiceCIDR, but in the same Azure VNET"
https://github.com/Azure/aks-engine/issues/2080

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1297e121-7cf0-63c1-99b3-87a85d80945b
* Version Independent ID: 39513a07-3c13-5117-47ca-1d2298653e6b
* Content: [Limitations for Windows Server node pools in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azu

[2019-10-07 19:29] shashishailaj commented on #39847
@stoff75 The details that you have provided may not work even if its theoretically possible to setup an environment . From a migration standpoint , you can not have same custom domain registered in two different tenants. So if you are migrating then the existing user would have a mailbox somewhere in Exchange online or on-premise exchange where you would be having custom domains for the company de

[2019-10-07 19:29] #39847 closed

[2019-10-07 19:32] robinsh commented on #40189
hey @cartertinney Is this part of the SDK work you did recently? Can you help here?

[2019-10-07 19:40] JoeBrockhaus commented on #31853
Hi @rwike77 - Any update on this documentation? I'm in the same situation as @scott1138. We also use the undocumented approach relying on the Powershell ClientId using a non-MFA Password grant token.

There are a few nuggets from this document which allude to this capability:

- 5th paragraph under ['Admin-restricted permissions'](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-

[2019-10-07 19:50] MicahMcKittrick-MSFT commented on #40266
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

#40258

[2019-10-07 20:02] SamaraSoucy-MSFT commented on #40033
Thank you for the additional info- it makes your suggestion much clearer. I'll put in a PR to note that you don't have to include the key multiple times.

[2019-10-07 20:12] #40033 closed

[2019-10-07 20:12] msmimart commented on #39791
Hi @cocowalla, the service makes use of [Azure AD high availability design](https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-architecture), where servers are set up in multiple datacenters to fail over in case of outages. Beyond the recommendations given, like any Azure AD service, availability relies on the [Azure infrastructure](https://azure.microsoft.com/global-i

[2019-10-07 20:12] variux commented on #38647
It happens to me, the error is that by default when you create the resource customvision.Training is selected by default, you need to select CognitiveServices, for that you'll need to recreate the project

[2019-10-07 20:27] #40124 closed

[2019-10-07 20:27] CeciAc opened #40268 "Unclear sentence"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/541
the feedback refers the original documentation

@Mortana89 commented 6 hours ago — with docs.microsoft.com
The following sentence is pretty unclear;
Throughput provisioned on a database can be shared by the containers within that database. A maximum of 25 containers can share the throughput provisioned

[2019-10-07 20:31] HeidiSteen commented on #37629
@mscherotter  Revised docs and sample code/data are now live: https://docs.microsoft.com/en-us/azure/search/knowledge-store-create-rest   The previous example and docs have been retired.

Thanks for your contribution.

#please-close

[2019-10-07 20:31] #37629 closed

[2019-10-07 20:32] ArvindHarinder1 opened #40269 "Please note how you can whitelist the IP ranges for the AAD service. This is often an issue for ServiceNow"
Certain apps allow inbound traffic to their app. In order for the Azure AD provisioning service to function as expected, the IP addresses used must be allowed. For a list of IP addresses for each service tag/region, see the JSON file - Azure IP Ranges and Service Tags – Public Cloud. You can download and program these IPs into your firewall as needed. The reserved IP ranges for Azure AD provisioni

[2019-10-07 20:34] leanwang commented on #40201
@RohitMungi-MSFT
The code that I use is:
https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Python/blob/master/Translate.py.

I tried something last night and the following is my finding:

1. the python code will work if I use "https://api.cognitive.microsofttranslator.com", found from
endpoint = 'https://api.cognitive.microsofttranslator.com'

2. if I use the given endpoint from my Da

[2019-10-07 20:35] basilhariri commented on #39716
The Kafka ecosystem is incredibly large and diverse. It's not feasible for us to make an example for every use case, framework, or plugin. While articles on 3rd party platforms (like Medium) are wonderful resources, the Event Hubs team cannot verify and/or endorse every article that refers to our technology. We don't link to those resources because we strive to make sure every sample we recommend

[2019-10-07 20:36] basilhariri commented on #39716
#please-close

[2019-10-07 20:36] #39716 closed

[2019-10-07 20:36] rboucher commented on #38515
@kudlatiger  Did you find the instructions above adequate? This particular document doesn't include instructions at this level, but we could create a "common alerts" document

[2019-10-07 20:39] djpmsft commented on #39079
You do not need to provide public access to git enterprise as long as you gave adf a correct token.

Can you try in an incognito window to see if the wrong token is cached? If you still get a 401, verify the API call to GitHub in the network tab is using the correct token

[2019-10-07 20:41] tesych commented on #39875
Thank you for the good suggestion! I will update the document.

[2019-10-07 20:41] rezasherafat commented on #40106
@nberdy for DPS help

[2019-10-07 20:42] cocowalla commented on #39791
@msmimart so from [here](https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-architecture), I can presume that Application Proxy is highly available, such that it is tolerant to regional failures? If so, this is great to hear - would also be great to update the Application Proxy docs to reflect this :smile:

[2019-10-07 20:47] brandonh-msft opened #40270 "v1 doc points to v2 schema"
Using the given schema location in a v1 Azure Function results in a confusing and invalid experience. It says it requires `version` property, and shows warnings when you follow the schema shown for v1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a225505-713c-4066-8203-0cf1b5b1c654
* Version Independent ID: ccf09908

[2019-10-07 20:49] aschlei opened #40271 "I/O size for IOPS"
What size of I/O are the IOPS numbers based on? For example, on EC2 the Max IOPS numbers are noted as being based on 16 KiB I/O.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
* Version Independent ID: 93637a78-fc66-6c5d-7845-a4fad0045c7d
* Content: [Select a disk type for Azure Iaa

[2019-10-07 20:55] TravisCragg-MSFT commented on #40092
@ChrisSommers I am not aware of a limitation of this type. It would obviously have an increased latency when in the backend of an App Gateway in a different region. The only requirement for an App Gateway backend pool is IP connectivity.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussi

[2019-10-07 20:55] #40092 closed

[2019-10-07 20:56] silverl opened #40272 "How to modify RewriteRules with PowerShell?"
I'm trying (and failing) to update Application Gateway rewrite response headers using PowerShell. Specifically, I'm trying to programmatically update a `Content-Security-Policy` HTTP response header. I have three response headers currently, and I need to update just one of them. What's the right way to fetch a ruleset and replace a single rule, then save it back using PowerShell? I'm using `Get-Az

[2019-10-07 21:01] Alberto-Vega-MSFT commented on #39655
Okay I will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-07 21:01] #39655 closed

[2019-10-07 21:02] KranthiPakala-MSFT commented on #40112
Hi @eram, I have double checked with internal team about this query and confirmed that it is always recommended to have the number partitions  greater than or equal to the number of throughput units.

Lets say the namespace has 10 throughput units, then it is recommended to have at least 10 partitions to utilize the throughput capacity.

We will now proceed to close this thread. If there are furth

[2019-10-07 21:02] #40112 closed

[2019-10-07 21:04] eugen-nw opened #40274 "Is there support for Azure Kubernetes Containers?"
The ACI instances I'm running are created by Azure K8S.  I cannot read any mention of that scenario on this page and am wondering if that's a supported scenario?  If yes, what do I need to do to allow it?

I went to https://resources.azure.com/.../subscriptions/&lt;name&gt;/providers/Microsoft.ContainerInstance/containerGroups but cannot edit it.

I ran the "az container show" on one of those ACI

[2019-10-07 21:10] samiam236 opened #40276 "Error message code for sample code may have changed"
The documentation states that when a `name` parameter is not included, "the function returns a 500 error." I just created a sample app via the instructions in this document and the sample code returns `[HttpStatusCode]::BadRequest` when no `name` parameter is included, so perhaps the return code has changed since this document was first written.

---
#### Document Details

⚠ *Do not edit this sect

[2019-10-07 21:17] Karishma-Tiwari-MSFT commented on #40274
Thanks for the question. We are currently investigating and will update you shortly.

[2019-10-07 21:20] TravisCragg-MSFT commented on #8231
@taromielnaz DDoS Protection basic is handled completely behind the scenes. There is not a way to interact or know if your IP Addresses are being attacked. It is currently enabled on all Public IP Addresses in Azure.

DDoS Protection Standard allows some interaction and is explained in this doc.

[2019-10-07 21:22] Karishma-Tiwari-MSFT commented on #40271
Thanks for the question. We are currently investigating and will update you shortly.

[2019-10-07 21:30] electrosonics commented on #34618
In my DNS configuration I ran into this limit right away. I use traffic manager to dynamically send web requests to whatever server is up at the moment. So it is important to be able to "alias" the Apex domain in addition to the canonical domain name to the Traffic Manger URL. To buy time until this limit is fixed, I use the alias only on the naked or Apex DNS A records and use CNAME for the canon

[2019-10-07 21:42] bandersmsft commented on #40192
@nroberts16 Yes, you pointed out a few errors. We're in the process of updating the article for accurracy. Again, thanks for this catch! The article will get updated shortly.
#please-close

[2019-10-07 21:42] #40192 closed

[2019-10-07 21:43] gerhard67 opened #40277 "Running IoT Edge in Ubuntu on Windows Docker"
Hi, I need for a derived version of this hands-on-lab https://altaohms.github.io/azureiotedgelab/, run an IoT Edge on an Ubuntu, running on Windows Docker.

I use 2.1.01. Docker Desktop Community and start the Ubuntu with
docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v c:/temp/ubuntu-edge:/home/iotedge ubuntu

Docker version is 18.04.3 LTS (Bionic Beaver)

I install IoT Edge with

c

[2019-10-07 21:44] silverl commented on #40272
Answering my own question. You have to call `Set-AzApplicationGateway` when done. It'd be really useful to add that to the examples.

[2019-10-07 21:44] #40272 closed

[2019-10-07 21:47] MarileeTurscak-MSFT commented on #40269
@ArvindHarinder1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-07 21:47] timmyreilly opened #40278 "More details about the <base /> tag?"
I'm working on an operation level policy and I'm just wondering if there is more documentation about the role of the &lt;base /&gt; tag. What is it for and how do I use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926756ed-a0d8-edaa-f9b9-e48b713bb20c
* Version Independent ID: 4d421863-06f5-2654-f900-e90452dd9b62

[2019-10-07 21:48] BrianMouncer commented on #39930
@sibbl

I had a chat with the engineer that removed this, andI have a question for you.
What have you been using the set audio format API for?  The engineer who made this change, considered it a bug fix, and that property wasn't actually hooked up completely, however he may have only looked at the TTS output code paths.

Please let us know if there is anything else you notice different in the move

[2019-10-07 21:53] stoff75 commented on #39847
@shashishailaj Thank you for that reply. The scenario I'm facing, which is to do a tenant-to-tenant migration using a 3rd party tool for moving mailboxes, has a bit of a twist. Our company is using 4 main UPN domains from the same AD with about a 50/20/20/10 percent split. Meaning I would want to first migrate the 10% UPN domain to the new tenant while the rest 90% of our users uses the old tenant

[2019-10-07 21:59] femsulu commented on #40225
@banzaisi Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-07 21:59] TsuyoshiUshio opened #40280 "Question: Spec of Account Key"
Hello, Sir/Madam,

I'd like to know the spec of the AccountKey. Which special characters could be used?  '/' is used at least as far as I know.
I work on Linux, and replace some character using sed. In this case, we need to escape special characters. So I'd like to know the spec.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-07 22:01] jgwinner commented on #39875
Thank you! I appreciate the openness.

[2019-10-07 22:03] femsulu commented on #40226
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-07 22:05] femsulu commented on #40227
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-07 22:08] Adam-Smith-MSFT commented on #40280
@TsuyoshiUshio Are seeking to know the specific characters used in the Storage Account Key , or a criteria for a key you want to generate to provide for encryption ?

[2019-10-07 22:09] Mike-Ubezzi-MSFT commented on #40261
@Tiberriver256 I believe the sync frequency is roughly the selected interval period from the time the configuration is saved. As an example, if you select every 24 hours the next sync will be within 24 hours from the completion of the previous sync. That previous sync will initiate shortly after the initial configuration is established and saved. Let me confirm this.

[2019-10-07 22:18] femsulu commented on #40228
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-07 22:21] TravisCragg-MSFT commented on #40132
@silverl We are looking deeper into this limit, and will follow up with more info soon!

[2019-10-07 22:23] TsuyoshiUshio commented on #40280
I'd like to know the specific characters used in the Storage Account Key.

[2019-10-07 22:24] femsulu commented on #40229
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-07 22:25] Mike-Ubezzi-MSFT commented on #40268
@Mortana89 @CeciAc Thank you very much for bringing this to our attention. We are investigating the current behavior to confirm the information found in the docs and evaluate how this information is detailed for any improvement.

[2019-10-07 22:26] FrankHu-MSFT commented on #39665
hello @xkobal I understand that, and apologize for the issues that this is causing. Unfortunately that is the only resolution there is for this sort of issue.

We're looking into this issue and are working to resolve this,

I apologize again for the issues that this may cause.

As this github issue has been resolved within the scope of this issue, I will be closing out this github issue by end of

[2019-10-07 22:29] FrankHu-MSFT commented on #40142
@anyITsolution As it the docs say :

9/28/2019: Released for auto-upgrade to select tenants. Not available for download.
This was updated nearly a week ago, so this is very up to date.

It is not available for download and there is no current date for when this will be available for download.

I will be closing this git issue by end of day today as this issue is already addressed in the docs.

[2019-10-07 22:33] billbliss commented on #40179
On a related note, I think there may be a bug in the API when you try to create a file that does not exist. The API returns `err.message` of "Unexpected status code: 404" and a `statusCode` of 404, but the `err.Code` value is `undefined` but should be `BlobNotFound` according to [the error code docs](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes). I think the A

[2019-10-07 22:33] MicahMcKittrick-MSFT commented on #40071
Thanks @sauryadas Do you think this is something we should include in the documentation? Along with that current proxy buffer size limit?

[2019-10-07 22:46] MicahMcKittrick-MSFT commented on #20737
I have been working offline on this issue.

There are different reasons which can lead to this scenario. What we already rolled out is a way to detect this on the back end and we have a monitor for it now. So we automatically informed for this now. But yet container groups which were deleted before we have rolled out our monitor **(Mid-September)** will not get auto detected. So we will need custo

[2019-10-07 22:49] FrankHu-MSFT commented on #40232
@mustafamg it looks like you didn't follow step 6 all the way through.

see https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-rest-api-netfw#step-6-add-the-loyaltynumber-claim-to-your-relying-party-policy-file-so-the-claim-is-sent-to-your-application

It looks like you don't have the outputclaim
        <OutputClaim ClaimTypeReferenceId="loyaltyNumber" Default

[2019-10-07 22:50] TravisCragg-MSFT commented on #40118
@Sethu2488 Intrusion detection is not done by default, and is not handled by Microsoft. following this document allows you to monitor it using Suricata.

[2019-10-07 22:52] MarileeTurscak-MSFT commented on #39861
Hi @the-grayest ,

I would need to know what error you see when you import in order to better assist. There might be a prerequisite for importing that type, or it might be an issue with the product.

I am closing this out since I have not heard back from you, but feel free to open a new issue or send me an email at AzCommunity@microsoft.com to continue the conversation.

[2019-10-07 22:52] #39861 closed

[2019-10-07 22:54] MicahMcKittrick-MSFT commented on #20737
I added a note during the cleanup phase of this document explaining that if you get an error deleting the network profile to allow 2-3 days for the platform to auto mitigate the issue then retry the deletion. If that doesn't work, I included steps to open a ticket.

Once the work fixes have been confirmed and the feature moves to GA we will update the doc again.

[2019-10-07 22:54] #20737 closed

[2019-10-07 23:00] Karishma-Tiwari-MSFT commented on #39925
@cynthn Did you get a chance to take a look on this doc-enhancement suggestion?

[2019-10-07 23:04] MicahMcKittrick-MSFT commented on #39066
@dops0 I added a note to the troubleshooting section of this document stating that if you find RDMA connectivity is lost after updating to the latest NVIDIA drivers to reinstall the RDMA drivers to reestablish that connectivity. This should be corrected in a future update of Nvidia but for now the warning should be enough.

Once the PR merges the changes will go live after a few hours.

[2019-10-07 23:04] #39066 closed

[2019-10-07 23:10] cherylmc commented on #38209
From the PM: This is correct ->we can't join the Virtual WAN hub to an exisiting VNET w a VNGW
You should not do a virtual network connection (connecting VNET to hub) but instead should have a parallel connection from their ER circuit to a vWAN hub due to the above reason.

[2019-10-07 23:15] jeevansd commented on #40269
@ArvindHarinder1 I dont think we should add this note everywhere. Rather than that can we add this in the next steps section?

[2019-10-07 23:16] femsulu commented on #40222
@bubbletroubles thanks for bringing this to our attention. The referenced content appears to be outdated as you rightly pointed out.

Adding content-author to review and make necessary revisions. Also wanted to make sure you saw this more recent content on [how to troubleshoot SKU availability issues](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-sku-not-available-

[2019-10-07 23:16] mike-urnun-msft commented on #40257
@CeciAc @rvdheuvel Thank you for your feedback! We will review and update as appropriate.

[2019-10-07 23:17] ArvindHarinder1 commented on #40269
We don't need it in every document, just serviceNow as that's the connector we get the most comments on for this. I think people may not notice it if it is a related link.

[2019-10-07 23:18] jeevansd commented on #40269
@chetansriv for tracking

[2019-10-07 23:18] mike-urnun-msft commented on #40270
@brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2019-10-07 23:20] mike-urnun-msft commented on #40276
@samiam236 Thank you for your feedback! We will review and update as appropriate.

[2019-10-07 23:21] mike-urnun-msft commented on #40278
@timmyreilly Thank you for your feedback! We will review and update as appropriate.

[2019-10-07 23:23] kartben opened #40282 "In "Next steps" section, pointer to "Message enhancements tutorial" should say "Message enrichments tutorial""
Pretty much everything is in the title of the issue :) For a second I actually thought "oh wait, are message enhancements sth different than message enrichments?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09122ce7-4c60-89f8-205f-a9f0a4796fe7
* Version Independent ID: 860539b6-44f5-5d09-b371-02864d4366d2
* Content:

[2019-10-07 23:25] FrankHu-MSFT commented on #40249
Hello @mustafamg currently there is a feature in preview where you can add your own custom javascript, see : https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples

What you could do is make sure that in the URL there is a parameter that is unique from the redirection URL. This wouldn't be a very secure solution, however there are currently no portal UI options that allow f

[2019-10-07 23:30] FrankHu-MSFT commented on #40250
Hey @pavelrozenberg  If you're interested in this feature being added, I would suggest filing this feedback in the uservoice section for Azure Active Directory which can be found here : https://feedback.azure.com/forums/169401-azure-active-directory

I'm sorry that we don't currently have this implemented, we are working diligently to implement services that customers need and appreciate your feed

[2019-10-07 23:30] FrankHu-MSFT commented on #40250
as github issues against the azure-docs are meant to be used for issues with the docs, and not issues with the product, i'll be closing out this issue by end of day tomorrow. If you have anymore issues please file a github issue with a reference to this github issue and we'll look into it accordingly.
thanks,

[2019-10-07 23:36] MicahMcKittrick-MSFT commented on #40259
@BittahCriminal please provide us with the link to the documentation you are referring to so we can better assist.

[2019-10-07 23:36] tesych commented on #39875
@jgwinner, it is updated and will be available in a few hours.

[2019-10-07 23:37] msaburnley commented on #39040
Hey @v-alkolc

We are still looking into this issue. I was informed that with O365 they should have the proper licensing to perform this action and this may be a bug.

[2019-10-07 23:39] TravisCragg-MSFT commented on #40135
@tsls The engineer stated that this is [not supported due to this FAQ question](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about#does-point-to-site-support-auto-reconnect-and-ddns-on-the-vpn-clients), however creating an always on VPN is different. This is supported.

They sent your case to the Windows team, it will be a good idea to validate the settings from the Windows sid

[2019-10-07 23:42] prabhushrikant opened #40283 "stunnel config was successful, be still couldn't connect to azure cache via terminal"
I keep receiving `Error: Connection reset by peer` after successful tunneling
Warning: Using a password with '-a' or '-u' option on the command line interface may not be safe.
[mycache.redis.cache.windows.net:6380&gt; select 0
Error: Connection reset by peer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17de8ad0-ac40-

[2019-10-07 23:43] femsulu commented on #40121
@snehithm - fyi

[2019-10-07 23:46] cynthn commented on #39925
@Karishma-Tiwari-MSFT I forwarded the thread to the ephemeral disks folks, but haven't heard back.

[2019-10-07 23:49] bandersmsft commented on #40192
@nroberts16 The updated article will get refreshed live tomorrow morning.

[2019-10-07 23:52] Shell32-Natsu opened #40284 "Question about the concurrent operation"
If I add two subscriptions into one management group at the same time. Will both of them succeed? Or one of them will fail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-6048-7e92ea98084d
* Version Independent ID: 16675bf7-077e-0394-c578-8bcc0226ec0b
* Content: [How to change, delete, or manage your

[2019-10-07 23:57] amotley opened #40285 "Plans to Support MI across AAD Tenants in the Future?"
Hello,

My question relates to the following Q/A:
"Can I use a managed identity to access a resource in a different directory/tenant?
No. Managed identities do not currently support cross-directory scenarios."

Do you have any plans to support this in the future (if so, are you able to share a timeline)?

thanks,
Abby

---
#### Document details

⚠ *Do not edit this section. It is required for docs

[2019-10-08 00:02] Alberto-Vega-MSFT commented on #40094
@interfacemirror You might want to look into this https://microsoft.github.io/azure-iot-developer-kit/docs/understand-security-chip/

[2019-10-08 00:02] Alberto-Vega-MSFT commented on #40094
@interfacemirror You might want to look into this https://microsoft.github.io/azure-iot-developer-kit/docs/understand-security-chip/

[2019-10-08 00:04] MarileeTurscak-MSFT commented on #40093
I believe this might be a known issue. @jeevansd do you know about this? Is this related? https://github.com/MicrosoftDocs/azure-docs/issues/7763

[2019-10-08 00:05] Alberto-Vega-MSFT commented on #40282
@kartben Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-08 00:05] kazshi commented on #39561
@rohitnayakmsft Thanks for your confirmation.

[2019-10-08 00:05] #39561 closed

[2019-10-08 00:12] Alberto-Vega-MSFT commented on #40075
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 00:12] #40075 closed

[2019-10-08 00:18] Alberto-Vega-MSFT commented on #39948
@bkocis Does this works on other browsers than Firefox?

[2019-10-08 00:29] rthorn17 commented on #40284
Hi @Shell32-Natsu  -  They are two different async calls that should succeed independently.  Are you seeing something different?

[2019-10-08 00:30] #39665 closed

[2019-10-08 00:30] #40142 closed

[2019-10-08 00:30] #40146 closed

[2019-10-08 00:31] Shell32-Natsu commented on #40284
Thanks @rthorn17. No I haven't seen different behavior. We are searching and comparing different design so we want to confirm the behavior is what we expect.

[2019-10-08 00:34] danmyhre opened #40286 "This article applies to IKEv2 only?"
There is a note at the top that says "This article applies to IKEv2 only."  but the diagrams show SSTP as well...please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-44af3790bcdd
* Content: [About Azure Point-to-Site routing

[2019-10-08 00:51] amadav commented on #37714
@jakaruna-MSFT , can you please reopen the issue?

[2019-10-08 00:51] danmyhre opened #40287 "Missing details on name resolution"
Can you please add details on options for name resolution (DNS) when using the P2S VPN client?  For example, how can you get the client to be able to resolve the FQDN of a VM in Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-4

[2019-10-08 00:57] aheadcreative commented on #10766
same issue

[2019-10-08 01:05] avi2183 commented on #40088
**@djpmsft** Pipeline Run ID: a3108eab-6020-4260-9086-8240434cfe21

Source is Azure SQL Database Table And Sink is Azure Data-warehouse Table. Transformation is simple, by selecting rows which are not in azure datawarehouse and Insert (Sink) to Azure Datawarehouse table. Rows wise, this data flow consists of multiple tables. so rows depend upon table to table.

[2019-10-08 01:24] omerzubair opened #40288 "Advisor - configuration shutdown"
Hi MS,
2 minor things:

- The Advisor configuration is no more in preview (screenshot change in step #6)
-  The label says "Right-size or shutdown low usage virtual machines". Does this imply that configuration can auto shutdown or change size ? or we have to custom built that ability using alerts?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-08 01:35] Mike-Ubezzi-MSFT commented on #40058
@Johnsiii88 LTR Backups would need to be deleted separately from the Azure SQL Server instance. In the case or PITR backups, the deletion of the Azure SQL Server instance also deletes all associated PITR backups. The specific section that details [Deletion of LTR backups](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure#delete-ltr-backups) touch

[2019-10-08 01:35] Mike-Ubezzi-MSFT commented on #40058
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-08 01:35] #40058 closed

[2019-10-08 01:46] femsulu commented on #40082
@MGoedtel  - can you pleas review this doc-enhancement request to see if a revision is required?

[2019-10-08 02:16] KrishnaG-MSFT commented on #40272
@silverl Glad to know that you have self resolved the issue. Thanks for the update.

[2019-10-08 02:43] EbrahimMajdey commented on #35478
@azuregurus I tried this Today and it worked .. is there an update roled up to azure that fixed this issue .. I have two plans in the same region and the VM works

[2019-10-08 03:24] patrickgalbraith commented on #36810
@KranthiPakala-MSFT Data flow is now generally available. Any news???

[2019-10-08 04:24] SteveLasker commented on #40115
https://aka.ms/acr/tag-locking may be the key here as you can lock images that are deployed, or you simply want to keep. While purging a range of images, these locked tags will be maintained.

[2019-10-08 04:37] nibaccam commented on #39535
@GiftA-MSFT enabling feature importance via the workspace landing page is not supported at this time. The workspace landing page is in public preview and functionality is continuously being added, as such I've communicated this ask to our engineering team as a potential improvement to the product.
If satisfied, #please-close this issue.

[2019-10-08 04:37] #39535 closed

[2019-10-08 04:51] msrini-MSFT commented on #40286
@danmyhre , Thank you for your feedback. yes, as you stated, it has to be "Route based gateways only" instead of "IKEv2 only"

I will check with author and get this corrected.

[2019-10-08 05:03] msrini-MSFT commented on #40287
@danmyhre , You will be able to resolve VM in Azure as long as you have a Custom DNS server in Azure.

Reference: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances

![image](https://user-images.githubusercontent.com/47132998/66368721-02657000-e9b7-11e9-9a66-4cf5c8bbc2e6.png)

[2019-10-08 05:03] msrini-MSFT commented on #40207
@tayamasa , Do you have any update on this issue?

[2019-10-08 05:19] msrini-MSFT commented on #40251
@realmdahmad , Thank you for your feedback. I will do a PR to fix the typo

[2019-10-08 05:21] msrini-MSFT commented on #40251
PR : https://github.com/MicrosoftDocs/azure-docs/pull/40290

[2019-10-08 05:29] leanwang commented on #40201
By reading the document closer, https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference, it seems to me that:

endpoint = "api.cognitive.microsofttranslator.com" is used to send a POST request

while
endpoint = "https://api.cognitive.microsoft.com/sts/v1.0/issueToken"   is used to exchange my secret key for an access token (although I do not know the usage of

[2019-10-08 05:33] mapdegree commented on #39716
Hi Basil,

I did not ask to add a use case for every example, framework or plugin.

You already confirmed that other sources for documenting Azure Event Hubs usage outside Microsoft is a better place. Unfortunately it says about the energy and attitude for change in your side.

Example that you referring to is incomplete as we know JKS is required to communicate over TLS protocol:
https://github.c

[2019-10-08 05:38] #40251 closed

[2019-10-08 05:41] Saxak opened #40291 "Predicted Failover time when 'Automatically replace host on failure'"
Is this Option meat to  "replace HW failed host to a new host" or "move the VM from HW failed host to another host deployed within the host group"?
If it is replacing host, is it predictable how long it will take before VMs comes back online after HW failing goes down and gets replaced? Or is it recommeded to use HA configured between 2 hosts configuration to minimize down time?

---
#### Document

[2019-10-08 05:47] dcurwin commented on #40227
There is a table entitled Backup Types, referring to backups in general. That table includes information about incremental backups. It is followed by a table discussing SQL backups, in the same format, which does not include incremental backups. Those two tables should follow one another for the sake of comparison.

After the tables, a more detailed description of backup types (with a graphic) is

[2019-10-08 05:51] axelgMS opened #40292 "Page should mention the "Windows Azure CRP Certificate Generator" certificates"
Extensions using protected settings are causing the Azure platform to create a transport certificate to secure the data between the Fabric controller and the VM Guest Agent.
If one user stop/starts the VM multiple times, multiple certificates "Windows Azure CRP Certificate Generator" might be created. This is by design.
Opening this item to update the doc - you can assign to axelg

---
#### Docume