[2021-03-07 02:41] vishvanathan-k commented on #71736
We were unable to delete it from the account we created but we were able to delete it after creating a new admin user and deleting it from it.
Thanks

[2021-03-07 02:41] #71736 closed

[2021-03-07 02:43] manojkukkapalli commented on #69383
Thanls @an-emma for the clarification. I'm closing the issue.

[2021-03-07 02:43] #69383 closed

[2021-03-07 03:12] WhitWaldo opened #71737 "Typo on page"
At the bottom of the page, the text currently reads "The Cluster Resource Manager has man options for describing the cluster."

This should optimally read "The Cluster Resource Manager has **many** options for describing the cluster."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aca1d51-ae9c-9b71-6fb9-4e46b94311b9
*

[2021-03-07 03:23] markvogt opened #71738 "NOTHING on this page about "Deploying ARM templates" actually EXPLAINS HOW TO DEPLOY ARM templates !!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13086a23-13ee-bea9-c04b-39d8d1d3bc8d
* Version Independent ID: 13f6b3cf-b946-cc46-2c15-b01e9d40a634
* Content: [Templates overview - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/overview)
* Content So

[2021-03-07 03:51] BhargaviAnnadevara-MSFT commented on #71731
@chaisen2006 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-07 05:51] shashishailaj commented on #71729
@nhwilly Thank you for your feedback . We will have this reviewed with the content authors.

[2021-03-07 05:55] shashishailaj commented on #71730
@LPalmerMSI Thank you for your feedback . We will review this internally and see how best we can address the better automation for this scenario .

[2021-03-07 05:55] ivapplyr commented on #70433
Acknowledged. Will investigate this.

[2021-03-07 06:05] shashishailaj commented on #71732
@VicSmith Thank you for your query . We will investigate and update the thread.

[2021-03-07 06:07] shashishailaj commented on #71733
@jimbobbennett Thank you for your feedback . We will investigate and update the thread.

[2021-03-07 06:10] shashishailaj commented on #71737
@WhitWaldo Thank you for your feedback . We will investigate and update the thread.

[2021-03-07 06:14] shashishailaj commented on #71738
@markvogt Thank you for your feedback . We will have this reviewed and update the thread.

[2021-03-07 06:16] shashishailaj commented on #71735
@gregdegruy Thank you for your query . We will investigate and update the thread.

[2021-03-07 07:57] VicSmith commented on #71592
@zhenlan 👍  I started it from the native NON IIS webserver in my solution.  Ran using F5 in Visual Studio 2019.  Setting the ENV variables in the developer Powershell did not make them available to the webserver.....  I got it working after moving the three environment variables to the debug/environment section in Visual Studio 2019. So the solution builds and debugs with all three variables in th

[2021-03-07 08:27] VicSmith commented on #71592
@AlexandraKemperMS and @zhenlan ....???
Question in pic:
![image](https://user-images.githubusercontent.com/1848257/110233878-a4f78a80-7eec-11eb-96c0-cbfa54f4bbd1.png)

[2021-03-07 08:40] rarandiv opened #71740 "Recommendation to add note in the doc "we cannot reject a connection once it is approved""
Came across with a scenario where I was trying to reject the connection after it has been approved.
But received an error, “private endpoint connection status is not pending”

![image](https://user-images.githubusercontent.com/72970021/110234175-03555500-7f4f-11eb-96ec-bdd524cc063e.png)

Look like we cannot reject the connection once it’s approved. We can only approve if the state is pending. Henc

[2021-03-07 09:12] rarandiv opened #71741 "Recommendation to add/mention about the error The resource under resource group was not found in the doc"
Came across with a scenario where I was trying to delete the Privat Endpoint, however, received an error
**The resource under resource group was not found.**

![image](https://user-images.githubusercontent.com/72970021/110234899-0e11e900-7f53-11eb-9ae1-e8ed3b7af904.png)

Why this error was getting because we recently moved a logical server between the resources, however, while moving, there was no

[2021-03-07 12:36] SadiqhAhmed-MSFT commented on #71738
@markvogt Could you please elaborate your requirement and concerns about the documentation?

[2021-03-07 12:47] LL185146 opened #71742 "wrong url"
Hi,

The URL provided for Azure SQL Database is lands on page  "T-SQL differences between SQL Server & Azure SQL Managed Instance".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Compare the database engine f

[2021-03-07 14:53] psmanhas commented on #71740
@rarandiv Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-07 14:55] psmanhas commented on #71741
@rarandiv Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-07 14:56] psmanhas commented on #71742
@LL185146 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-07 14:57] psmanhas commented on #71742
@danimir Can you please check and add your comments on this doc update request as applicable

[2021-03-07 17:34] AjayKumar-MSFT commented on #71450
Apologies for the delay! The [doc ](https://docs.microsoft.com/azure/app-service/app-service-key-vault-references#reference-syntax) section highlights about -the difference in usage of the reference string.
"The _SecretUri_ should be the full data-plane URI of a secret in Key Vault, _**optionally including a version_**,", and "The _**SecretVersion**_ is optional but if present indicates the versio

[2021-03-07 17:34] #71450 closed

[2021-03-07 18:15] septst opened #71745 "error CS1061: 'IConfigurationBuilder' does not contain a definition for 'AddAzureAppConfiguration'"
[Enter feedback here]

Hello,

I am letting you know the error I faced in [this tutorial ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=core5x).

Please note that I have `using Microsoft.Extensions.Configuration;`

error CS1061: 'IConfigurationBuilder' does not contain a definition for 'AddAzureAppConfiguration' and no accessible extension method '

[2021-03-07 18:27] septst commented on #71745
Managed to fix the sample by using the following overload

`AddAzureAppConfiguration(IConfigurationBuilder, Action<AzureAppConfigurationOptions>, Boolean)`

[code]

[2021-03-07 18:39] #71745 closed

[2021-03-07 18:41] sr-msft commented on #71666
Thanks @rarandiv for your wonderful suggestion!! We will make the updates to our documents.

[2021-03-07 18:51] vigouredelaruse opened #71747 "this page describes a brazen security hole ouch!"
[Enter feedback here]

my comments relate to the below copied paragraphs and relate to a technical issue (credential exposure) reported in the documentation without suitable context (the risk of credential compromise)

to wit, this page describes a workflow that results in the filesystem exposure of credentials acceptable for use by 'docker login'

obviously if the machine where these credentials

[2021-03-07 19:17] cadethacker commented on #50421
@paulgarn Bump. I am searching for this *EXACT* answer, and am hoping that this is just a simple configuration on the resource server side of the call.  If the answer is "this is not possible" that is great, but can we update this ticket to explicitly state this is not possible? Thanks!

[2021-03-07 19:20] bondib opened #71748 "Microsoft.Network.VirtualNetworkCombo UI element blocks in case of overlapping network of a different resource group"
Microsoft.Network.VirtualNetworkCombo UI element blocks in case of overlapping network of a different resource group.
This behvaior is wrong.

If a customer choose a new network - and specfiy's an address range (CIDR) which overlaps with a network in a DIFFERENT resource group - the UI validation should only warn about it - and not block the option to do such a deployment.

---
#### Document Detai

[2021-03-07 21:05] haivercarrillo opened #71750 "Update parameters table, new ones requires"
Hi,

Please update the parameters tables as new items are required.

Supports Https Traffic Only
Allow Blob Public Access
Network AclsBypass
Network Acls Default Action

Kind regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec5cd7c-2241-dc13-0f95-be2bbf300d6c
* Version Independent ID: c42e2294-e257-9993-dc9c-5d

[2021-03-07 21:24] RonnieQuan opened #71751 "About Wait-Debugger"
When I deploy the function code to Azure, will it be broken if I keep "Wait-Debugger" in the code?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91c3121-aea2-9a38-c44c-45cc5bbc9248
* Version Independent ID: c3c5199d-cff8-f313-dfc6-41499941e505
* Content: [Debug PowerShell Azure Functions locall

[2021-03-07 21:44] stperic commented on #71714
@SatishBoddu-MSFT Please find below the screenshot of the webpage when clicking the link.

![image](https://user-images.githubusercontent.com/3802648/110255939-4bcb3d80-7f64-11eb-9032-a784f1013106.png)

[2021-03-07 22:02] DeanGross opened #71752 "Required role"
Please identify the required roles to do this work in the Prerequisites section
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e131bf-99d7-a850-a597-ac02b9f6c3a9
* Version Independent ID: a27625d3-cf35-ffaf-5734-d1a2bbcdd60c
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with AWS Single

[2021-03-07 22:04] tejinderrai commented on #71524
Hello,

I have been investigating this a little further this evening. Looking at the Azure IP Ranges and Service Tags – Public Cloud, address ranges available below:

https://download.microsoft.com/download/7/1/D/71D86715-5596-4529-9B13-DA13A5DE5B63/ServiceTags_Public_20210301.json

The section "name": "Sql.UKSouth", with service "systemService": "AzureSQL", shows an address range of  "51.105.64.0

[2021-03-07 22:11] DeanGross opened #71753 "Incomplete Information"
Step 4 states "If you have Service Provider metadata file", but it doesn't tell us where we are supposed to get this from. Please provide some more details. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e131bf-99d7-a850-a597-ac02b9f6c3a9
* Version Independent ID: a27625d3-cf35-ffaf-5734-d1a2bbcdd60c
* Content

[2021-03-07 22:20] tejinderrai commented on #71524
Hello,

Please ignore my last question. I now realise why this is N/A a question, due to the fact that Microsoft specify the range as "51.105.64.0/20" in the Azure public cloud set of IP address ranges, in the same file I provided a link to earlier, in section name “AzureCloud”, “id”: “Azure Cloud”.

This all makes sense now.

Thank you

Tejinder

Sent from Mail<https://go.microsoft.com/fwlink/?Li

[2021-03-07 22:20] DeanGross opened #71754 "update screen shots and instructions"
The images shown on this page for enabling SSO are not consistent with what I am seeing in the Azure Portal for the AWS SSO app. please update these instructions to accurately show the environment.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e131bf-99d7-a850-a597-ac02b9f6c3a9
* Version Independent ID: a27625d3-cf35

[2021-03-07 22:51] bakintunde commented on #71545
Thank you @jlichwa. It's a great basic example.

And going through the https://azure.github.io/secrets-store-csi-driver-provider-azure makes things eventually clearer.

I might be missing something but the opening statement of the tutorial was a bit confusing - "In this tutorial, you access and retrieve secrets from your Azure key vault by using the Secrets Store Container Storage Interface (CSI)

[2021-03-07 23:49] kobulloc-MSFT commented on #71745
@septst Thank you very much for updating this with your solution.  That will help other readers that may run into the same issue.  If you have any additional questions or comments about the documentation, please open another issue and we'd be happy to help you.

[2021-03-07 23:51] AElharouny opened #71755 "Guidance needed around external cache when APIM is in multi-region deployment mode."
Hello,

The documentation isn't mentioning any guidance around having APIM in a multi-region deployment mode while there is a need to integrate with external cache.

Assuming we have APIM deployed into two regions:

- How can we setup external cache (Azure Redis) in a way that communication between APIM instances and cache stays within the same region for performance reasons.
- Assuming APIM deplo

[2021-03-07 23:51] Daniel-t opened #71756 "Discrepancy between this page and the pricing page"
There is a discrepancy between this page and the pricing page https://azure.microsoft.com/en-gb/pricing/details/active-directory/external-identities/

This page says: "The pricing tier that applies to your guest users is based on the highest pricing tier assigned to your Azure AD tenant"

The pricing page says: No, you are not required to purchase Premium P2 licences for employees in order to prov

[2021-03-08 00:01] SatishBoddu-MSFT commented on #71714
@stperic

Are you browsing this URL  https://docs.microsoft.com/en-us/samples/browse/
And something is broken?

I am trying to understand which document or tutorial are you referring to?

This issue is referring to this Tutorial: [Security recommendations for Azure IoT](https://docs.microsoft.com/en-us/azure/iot-fundamentals/security-recommendations?context=azure/iot-hub/rc/rc#networking) So I am

[2021-03-08 00:20] rarandiv commented on #71666
Hi @sr-msft , Sure. Thank you very much for considering the feedback.

[2021-03-08 00:46] katz opened #71758 "Need to cleariry whether prompt=select_account is supported or not."
In "Request an authorization code" section of the document, the description of "prompt" parameter says "Indicates the type of user interaction that is required. The only valid values at this time are login, none, and consent.".

However, if we use "prompt=select_account", it actually works.
Can you clarify whether  "prompt=select_account" is actually supported or not.

---
#### Document Details

⚠

[2021-03-08 02:08] felpel opened #71759 "AKS Best Practices (Operators): kube-advisor"
Hi,

I was reading about the best practices for AKS and was curious to look for `kube-advisor`. Unfortunately, [the repository has been archived on GitHub](https://github.com/Azure/kube-advisor) and I was wondering if official documentation should point to a deprecated tool or not. It doesn't seem like this tool has been replaced with anything else too.

---
#### Document Details

⚠ *Do not edit t

[2021-03-08 02:11] AnuragSharma-MSFT commented on #71538
@marcelkmfst We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-08 02:11] #71538 closed

[2021-03-08 02:29] #71261 closed

[2021-03-08 02:59] Norrch2 opened #71760 "OIDC supported Claims Resolvers?"
Hello,

I am playing around with the claim resolvers and noticed that the OIDC claims resolvers include all of the OIDC claims except for the following:

- ResponseType
- ResponseMode
- State
- Possibly others.

I have attempted to also use claim resolver of {OAUTH-KV:response_type} and that doesn't map either.

The purpose I am testing this is trying to duplicate the URL generated for sign in to

[2021-03-08 03:04] dcbrown16 opened #71761 "ToC position of Storage Explorer"
Can you consider moving the Storage Explorer section to How-To? I don't think people are looking for usage documentation in the "Resources" section usually, so this would make it easier to find.
I would make it top-level under How-To, but maybe it could go under "Transfer data" as well since it is basically the same concept as AzCopy.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-03-08 03:06] KrishnaG-MSFT commented on #71750
@haivercarrillo Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-08 04:03] phstudy opened #71762 "ISFRatio.csv is missing"
The link https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996c931a-02fa-a765-9dc5-db1a72a9bd4d
* Version Independent ID: 56943133-f870-eb75-9689-246f25726eb7
* Content: [Determine what Azure reservation you should purchase](https://docs.microsoft.com

[2021-03-08 04:05] VikasPullagura-MSFT commented on #71747
@vigouredelaruse
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-08 04:05] VikasPullagura-MSFT commented on #71747
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2021-03-08 04:06] AnuragSharma-MSFT commented on #71606
@NavtejSaini-MSFT Thanks for providing the information
@Anmolgan81 Please let us know if you need more details.

[2021-03-08 04:19] AnuragSharma-MSFT commented on #71656
@krishnamsft20 This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-08 04:28] psmanhas commented on #71748
@bondib Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-08 04:30] psmanhas commented on #71759
@felpel Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-08 04:30] psmanhas commented on #71759
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-03-08 04:35] JayaChatterjee-MSFT commented on #71751
@RonnieQuan Thank you for the question. We will review and get back to you.

[2021-03-08 04:42] BhargaviAnnadevara-MSFT commented on #71731
@chaisen2006 Any update here?

Meanwhile, please know that you can remove a shared dashboard with the [Remove-AzPortalDashboard](https://docs.microsoft.com/en-us/powershell/module/az.portal/remove-azportaldashboard?view=azps-5.6.0) cmdlet as follows:
[code]
or
[code]

[2021-03-08 04:45] SnehaAgrawal-MSFT commented on #71479
@soccerjoshj07 Thanks again for the feedback! The PR has been created once verified by author it will be visible.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-03-08 04:45] #71479 closed

[2021-03-08 04:46] SubhashVasarapu-MSFT commented on #71447
@dduleep, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-08 04:46] #71447 closed

[2021-03-08 04:48] SnehaAgrawal-MSFT commented on #71581
@kprpg Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-03-08 04:49] #71433 closed

[2021-03-08 04:49] SubhashVasarapu-MSFT commented on #71631
@timoteosoutello, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2021-03-08 04:52] SnehaAgrawal-MSFT commented on #71591
@yuki-0310 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-03-08 04:55] aperisic commented on #26742
**Singleton attribute**
The Singleton attribute ensures that only one instance of a function runs, even when there are multiple instances of the host web app. It does this by using distributed locking.

[2021-03-08 05:11] BryanTrach-MSFT commented on #71433
@nelroosevelt We have gone ahead and merged a PR. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 05:14] DL444 opened #71763 "Configure compression for Azure CDN from Microsoft"
The documentation for Azure CDN compression claims that changing the default list of MIME types that use compression is not currently supported by CDNs offered by Microsoft.

However, when I visit the compression configuration page for such a CDN in Azure Portal, the list seems to be editable.

Is this feature now supported and the documentation is out of date, or is the feature still not supporte

[2021-03-08 05:29] SwathiDhanwada-MSFT commented on #71762
@phstudy Thanks for bringing this to our notice.

Assigning to content author @bandersmsft for review and updating the document accordingly.

[2021-03-08 05:42] HarshitaSingh-MSFT commented on #71385
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-03-08 05:48] #71511 closed

[2021-03-08 05:53] #71737 closed

[2021-03-08 05:54] MayankBargali-MSFT commented on #71755
@AElharouny Thank you for your feedback! We will review and update as appropriate.

[2021-03-08 06:00] OzBob commented on #33528
@andronachev I had the same problem. The docs have been updated with a better example and an explanation describing how to use Generic ILogger<T> in your class contructor.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#ilogger-and-iloggerfactory

[2021-03-08 06:06] yoelhor commented on #71760
Hi @Norrch2, the claim resolver you have mentioned are not supported yet.

[2021-03-08 06:08] SubhashVasarapu-MSFT commented on #71763
@DL444, Thanks for reaching out. We will investigate and update this thread.

[2021-03-08 06:09] yoelhor commented on #71680
2.1.2 is the latest version (there is no 2.1.4 version). There is probably an issue with the policy validation. For more information, see [Page layout versions](https://docs.microsoft.com/azure/active-directory-b2c/page-layout).

[2021-03-08 06:15] DanielLarsenNZ opened #71765 "Why enable DDOS Standard for Key Vault?"
This sentence: _"[Enable Azure DDoS Protection Standard on the Azure Virtual Networks associated with your Key Vault instances for protection against distributed denial-of-service attacks](https://docs.microsoft.com/en-us/azure/key-vault/general/security-baseline#14-deny-communications-with-known-malicious-ip-addresses#:~:text=Enable%20Azure%20DDoS%20Protection%20Standard%20on%20the%20Azure%20Virt

[2021-03-08 06:20] chaisen2006 commented on #71731
Thank you...got it..

[2021-03-08 06:27] shashishailaj commented on #71765
@DanielLarsenNZ Thank you for your feedback . We will have this reviewed and update this thread.

[2021-03-08 06:29] shashishailaj commented on #71758
@katz Thank you for your query. . We will have this checked and update the thread.

[2021-03-08 06:31] Rajeswari-Mamilla commented on #71647
@paulfinol -

- the hardware requirements given at https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-configuration-server-requirements#hardware-requirements are the default ones we use while shipping the OVF template and the default guidance offered based on commonly seen deployments.
- However, if your workload is small, you can tune the hardware as per guidance given at https://d

[2021-03-08 06:32] MayankBargali-MSFT commented on #71729
@nhwilly Thanks for reporting this item! I have updated the doc and once it is approved it will be published soon. We appreciate the feedback!

[2021-03-08 06:32] yoelhor commented on #71679
@jacknewberry, thanks for the feedback, good point. I'm fixing the document to include the missing steps. Thanks again for taking time shaping up the Azure AD B2C denomination.

Yoel

[2021-03-08 06:44] DavidChenLiang opened #71766 "Is this a typo or something?"
[Enter feedback here]
Hi team,
From the first graph, it says "P95th of the **maximum of maximum** value of CPU utilization is less than 3%.", shouldn't it be like "P95th of the **maximum** value of CPU utilization is less than 3%."?
Can anyone help to review? Thank you in advance!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-03-08 06:45] MayankBargali-MSFT commented on #71721
@kye The below statement holds true and it is recommended to use Azure AD when possible.

[This](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-migrate-acs-sas) document talks about migrating your application authentication from ACS(deprecated) to SAS. Previously service bus used to have SAS and ACS authentication but now it is [SAS (old) and Oauth 2.0 token using AD (new

[2021-03-08 06:46] YutongTie-MSFT commented on #71676
@wenyang Hello Wen, a PR request to fix it is on the way. Thanks for the feedback again.

[2021-03-08 06:50] #71729 closed

[2021-03-08 06:53] yoelhor commented on #71675
Dear @jf-2386, although you can create a user flow directly from the app branding. The the app branding link actually leads to the same page "Create a user flow".

The tutorial section of the left menu (a.k.a. table of content) is a sequence of steps that rely on each other (create a tenant, then app, then create a user flow). But, we aware that administrators, may already created an app, and just

[2021-03-08 06:54] KranthiPakala-MSFT commented on #71605
@batamig Could you please review the above ask and provide few additional clarification? - Thank you

[2021-03-08 06:55] #71679 closed

[2021-03-08 07:05] PramodValavala-MSFT commented on #71755
@AElharouny the note in [this section](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-cache-external#-add-an-external-cache) talks about the `Use From` property that decides which configured cache should be used based on the region where the APIM instance is running from. I believe this should address your first query.

As for redundancy of the cache itself, since its e

[2021-03-08 07:09] AElharouny commented on #71755
Yeah Ok, the note make sense. Thanks.

[2021-03-08 07:12] PramodValavala-MSFT commented on #71755
@AElharouny Glad we could help!

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 07:12] #71755 closed

[2021-03-08 07:15] SwathiDhanwada-MSFT commented on #71533
@arun-cogniz Thanks for sharing the details.

Assigning to content author @bwren for review .

[2021-03-08 07:24] boonasty69 opened #71767 "Azure default directory"
I greatly apologise for any inconveniences my Admin portals got breeched pretty bad it started here at GitHub somehow, I'm not too much of a coder but I have managed the master depositories for almost 2 decades and nothing has ever happened. But I do sincerely apologise for the incidents I know GitHub is the basis for many companies and banking software. If you have experienced any infractions to

[2021-03-08 07:29] shashishailaj commented on #71756
@Daniel-t Thank you for your feedback . We will have this reviewed with the content team and update further.

[2021-03-08 07:30] shashishailaj commented on #71754
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-03-08 07:32] shashishailaj commented on #71753
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-03-08 07:32] shashishailaj commented on #71752
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-03-08 07:32] becke-ch-s0-v1 commented on #68668
Thank you for the update. Where can I find this statement? (I was just looking at: https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints but could not find).

[2021-03-08 07:39] miaojiang commented on #70505
@dvXcode could you please confirm you are using a Developer-tier instance?

@RupengLiu please take a look.

[2021-03-08 07:41] boonasty69 commented on #71767
I hope this helps to at least address the situation, I understand the importance of the infrastructure. I am in the process of getting it fixed for you all. If you have any suggestions to contribute leave a comment, I just may add you to the default directory. Thanks again

[2021-03-08 07:46] Wh00T opened #71768 "Direct sign-on links not available in app properties"
Direct sign-on links have been removed some time ago:

![image](https://user-images.githubusercontent.com/1562582/110290102-a7400e80-7fea-11eb-8f36-bef1d35437c8.png)

You can craft them manually so the guidance is very helpful but the screenshot should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2507e59

[2021-03-08 07:47] #71768 closed

[2021-03-08 08:00] shashishailaj commented on #71767
@boonasty69 Thank you for your feedback . However , The information you have shared is not clear . Could you please let me know which Azure related documentation you are trying to follow and what problems have that caused in the infrastructure ? You mention that your admin portals got breached but the information around that is a little vague as you also say that you are trying to get infrastructu

[2021-03-08 08:02] shashishailaj commented on #71761
@dcbrown16 Thank you for catching this . We will investigate and update the thread.

[2021-03-08 08:17] MartinJohns opened #71769 "Azure Cosmos DB API for MongoDB - Upgrade section status updates do not happen"
The section [How to upgrade](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-version-upgrade#how-to-upgrade) point 5 states that the status will go from `Pending`, to `In Progress` to `Upgraded`. This does not reflect reality (anymore?).

After starting the upgrade the status remains on `Current version: 3.2`, but all options in the `Features` section are greyed out.

![image](https://use

[2021-03-08 08:19] tom-ditlev opened #71770 ""Instance size flexibility ratios" csv missing"
the [Instance size flexibility ratios](https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv) csv is no longer available....

I'm actively using the file in multiple Power BI reports and they have failed refreshing for two days now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20f52cb-4eb1-6faa-9c02-bcaf4e597

[2021-03-08 08:21] dcurwin commented on #71657
#reassign:ajithkr-ms

[2021-03-08 08:22] dcurwin commented on #71657
#reassign:ajithkr-ms

[2021-03-08 08:24] dcurwin commented on #71657
#assign:ajithkr-ms

[2021-03-08 08:25] dcurwin commented on #71657
#reassign:v-amallick

[2021-03-08 08:28] dcurwin commented on #71601
#reassign:pvrk

[2021-03-08 08:34] PhilipHaglund opened #71771 "Microsoft Lists - Approved Client Apps"
I don't know if the Microsoft Lists app is intended to be included in the Approved Client Apps or if it is not yet included because of some internal review (i.e. GA/Preview).

https://apps.apple.com/us/app/microsoft-lists/id1530637363

Please keep us updated here if you are working on this or update the documentation that Microsoft Lists is not inteded to be included in the Approved Client Apps.
!

[2021-03-08 08:50] SwathiDhanwada-MSFT commented on #71580
@mingshen-ms Can you please provide your inputs on this issue?

[2021-03-08 09:06] SadiqhAhmed-MSFT commented on #71766
@DavidChenLiang Thanks for bringing this to our attention. We will review and update the documentation as appropriate.

[2021-03-08 09:08] Debpriya1994 commented on #70353
Thank you for your response.
This seems to be a one off incident.
We are looking into it and will revert back shortly.

[2021-03-08 09:18] #70611 closed

[2021-03-08 09:19] abhijeet-MSFT opened #71772 "Include required role for reseeding hardware oauth tokens"
Our documentation lacks on the role required for uploading hardware oauth tokens. Though a user with Authentication Admin or Privileged Authentication Admin or Authentication Policy Admin can view the page and upload the hardware oauth files, the end result is a failure with the error "Something went wrong". This has been tested by me and also has been [confirmed internally](https://portal.microso

[2021-03-08 09:19] yoelhor commented on #70611
Thanks for the feedback. I have updated the doc and closed this issue.

[2021-03-08 09:19] aelij opened #71773 "Private DNS Zone Group"
Should this sample be updated to use zone groups? It looks like it greatly simplifies things. There are a few places on this page that indicate "Unless you're using a private DNS zone group..." but no other reference to it. I could only find a sample for Azure SQL: https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-template

---
#### Document Details

⚠ *Do not edit this s

[2021-03-08 09:20] dvXcode commented on #70505
![image](https://user-images.githubusercontent.com/51912361/110300987-df9a1980-7ff7-11eb-9342-330e2d40a073.png)

[2021-03-08 09:20] yoelhor commented on #70775
Thanks for the feedback. I have updated all of the IDPs articles to include the missing steps, and closed this issue. The change will be published later today.

[2021-03-08 09:27] ccadruvi opened #71774 "Link to ISFR data is broken"
The link to the ISFR data is dead: Instance size flexibility ratios / https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv

This breaks automation we have in place. The documentation specifically states that this file can be used programatically:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20f52cb-4eb1-6faa

[2021-03-08 09:28] ccadruvi commented on #71774
duplicates https://github.com/MicrosoftDocs/azure-docs/issues/71770

[2021-03-08 09:28] #71774 closed

[2021-03-08 09:29] ccadruvi commented on #71774
duplicates https://github.com/MicrosoftDocs/azure-docs/issues/71762

[2021-03-08 09:37] psmanhas commented on #71770
@tom-ditlev Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-08 09:38] psmanhas commented on #71770
@yashesvi Can you please check and add your comments on this doc update request as applicable

[2021-03-08 09:40] conradkleinespel opened #71775 "The "Restore as another virtual machine" has a wrong JSON body example"
This is about the ["Restore as another virtual machine" section](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/backup/backup-azure-arm-userestapi-restoreazurevms.md#restore-as-another-virtual-machine) only.

The JSON body example is invalid as it contains the request parameters in addition to the JSON body, it is currently:

[code]

It should be:
[code]

---
#### Document Detail

[2021-03-08 09:41] #70426 closed

[2021-03-08 09:45] vipulsparsh commented on #71716
@DeanGross Currently there is no direct API for fetching just the Identity Score.
However, you can use

for getting other information like remediation impacts points and there score default value (this is the default per tenant information)

[2021-03-08 09:52] ali-khawaja opened #71776 "nyc_tlc.to_spark_dataframe() causes exception in .Net libraries"
I am running this example on my local machine using WSL and spark 3.0.1.  When I try to execute the command nyc_tlc.to_spark_dataframe(), i get the following error:

Py4JJavaError: An error occurred while calling o24.parquet.
: java.lang.NoSuchMethodError: 'java.util.Properties org.eclipse.jetty.util.log.Log.getProperties()'
	at org.apache.hadoop.fs.azure.AzureNativeFileSystemStore.createPermissio

[2021-03-08 10:07] yoelhor commented on #52557
Dear SwimlaneBuilder, I'm closing due to inactivity. Should you need help in any way, please open new GitHub issue.

#please-close

[2021-03-08 10:07] #52557 closed

[2021-03-08 10:08] yoelhor commented on #65019
Localization of the placeholder is not supported. I'm closing this issue.

#please-close

[2021-03-08 10:08] #65019 closed

[2021-03-08 10:09] vipulsparsh commented on #71717
@DeanGross Is this a new tenant ? If yes, how long has it been after creating it ? I will check with backend team and update if there is any such dependencies.

[2021-03-08 10:11] btHolert opened #71777 "Missing Documentation on multitenant xms fields in jwt access token"
We have a multi tenant application.
When generating id token we use the sub to identify the user for further processing.
When generating a access token through the auth code flow, the sub for the same application and user differs.
We found that in the access token there are fields without documentation, one of them contains the sub we would expect for identifying the user.
"xms_st": {
"sub": "****

[2021-03-08 10:12] vipulsparsh commented on #71760
@Norrch2 Let us know if you have any further query. As answered by Yoel, those claim resolvers are not supported yet.

[2021-03-08 10:14] SwathiDhanwada-MSFT commented on #71594
@bwren Can you please provide your insights on this issue?

[2021-03-08 10:17] danimir commented on #71742
@psmanhas - The page has lots of links, I do not understand clearly what this ask is about. Please let me know exactly which link exactly is this question about, can you copy-paste the text of the link? Thanks.

[2021-03-08 10:23] #71550 closed

[2021-03-08 10:32] psmanhas commented on #71742
@LL185146 Can you please provide the exact link so we can help you out better?

Thanks

[2021-03-08 10:39] danimir commented on #71742
@LL185146 Please provide the exact text of the link on the page to understand which one are you are referring to. Also, what was your expectations from this link for the type of information? Thanks.

[2021-03-08 10:40] jmprieur commented on #71242
@dpaulino I think you'd need to chain the events to which you subscribe, instead of overriding them:

[code]

[2021-03-08 10:44] LL185146 commented on #71742
Hi,

Stated explicitly in report
“Azure SQL Database” link point to managed instance differences in the sentence below:

 If you need more details about the differences, you can find them in the separate pages for Azure SQL Database<https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server>
[cid:image001.jpg@01D71418.4F870BA0]

Kind regards
Luis

[c

[2021-03-08 10:55] FundXJim opened #71778 "Incomplete documentation"
[Enter feedback here]

Too many concepts are glazed over. Examples are incomplete and won't work off pat without the user having to turn into google detectives.  Please start producing complete documentation that actually makes you services accessible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adef418e-21d0-5f5a-83

[2021-03-08 10:58] danimir commented on #71742
@LL185146 - Thank you on the clarification, appreciated it The appropriate link for SQL Databases is https://docs.microsoft.com/en-us/azure/azure-sql/database/transact-sql-tsql-differences-sql-server. This will be fixed shortly on the page. Thank you.

[2021-03-08 11:02] LL185146 commented on #71742
Thank you very much for such swift responsiveness.

Kind regards
Luis

From: Danimir Ljepava <notifications@github.com>
Sent: Monday, March 8, 2021 12:59 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lewin, Luis <Luis.Lewin@ncr.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] wrong url (#71742)

*External Message* - Use caution before opening

[2021-03-08 11:05] SnehaAgrawal-MSFT commented on #71645
@omerzubair Thanks for reply! If you want use Azure Key Vault to manage your certificates, you can import a PKCS12 certificate from Key Vault into App Service as long as it [satisfies the requirements.](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#private-certificate-requirements)
Check: [Web App integration with Key Vault](https://azure.microsoft.com/en-in/resource

[2021-03-08 11:18] BhargaviAnnadevara-MSFT commented on #71731
@chaisen2006 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-08 11:18] #71731 closed

[2021-03-08 11:23] #70775 closed

[2021-03-08 11:25] KrishnaG-MSFT commented on #71572
@marcusgaspar AFAIK it's just an example!
Tagging @noakup to provide any additional insights or clarification.

[2021-03-08 11:27] KrishnaG-MSFT commented on #71625
Tagging @tfitzmac for visibility and to help provide insights if any.

[2021-03-08 11:28] KrishnaG-MSFT commented on #71634
Tagging @cpercy737 for visibility and to help provide insights if any.

[2021-03-08 11:28] jmprieur commented on #71237
@philomathikus
MSAL.NET does not support the First line worker scenario yet.

[2021-03-08 11:29] AnuragSharma-MSFT commented on #71769
@MartinJohns Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-08 11:30] AnuragSharma-MSFT commented on #71773
@aelij Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-08 11:53] SwethaG37 opened #71780 "Require ticket system / ticket number in Azure Role Assignment setting"
There are currently below two limitations with respect to Azure Role assignment using Powershell. But we have the limitation that when ticket system in place for Role assignment using command. This is the concern what I referred to.

 “Open-AzureADMSPrivilegedRoleAssignmentRequest -ProviderId 'aadRoles' -ResourceId '926d99e7-117c-4a6a-8031-0cc481e9da26' -RoleDefinitionId 'ff690580-d1c6-42b1-8272-c

[2021-03-08 11:55] shashishailaj commented on #71772
@abhijeet-MSFT Thank you for your inputs. We will have this reviewed and work with content team to get it updated.

[2021-03-08 11:58] shashishailaj commented on #71771
@PhilipHaglund Thank you for your query . We will investigate and update the thread.

[2021-03-08 12:01] nimoskovE opened #71781 "Get supported deployment scopes"
Hi,
Is there a way to get the list of supported scopes and resource types for each extension?
i.e. all the resource types that support diagnostic settings.

Thank you,
Nitzan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c1624f-e9b5-e782-9f68-588857b91af3
* Version Independent ID: 3148e720-5bdf-187e-df13-7fb093fb2d4

[2021-03-08 12:01] shashishailaj commented on #71780
@SwethaG37 Thank you for your request however the title does not provide much clarity on your requirement . Could you please let us know which ticket system/number are you talking about ?

We use this repository for collecting feedback about azure documentation from our customers . Please let us know which document you were following in case your query is related to that so that we can help you be

[2021-03-08 12:03] shashishailaj commented on #71777
@btHolert Thank you for your feedback . We will investigate and update the thread.

[2021-03-08 12:05] SwethaG37 commented on #71780
Hi Shashi,

There are currently below two limitations with respect to Azure Role assignment using Powershell. But we have the limitation that when ticket system in place for Role assignment using command. This is the concern what I referred to.

 “Open-AzureADMSPrivilegedRoleAssignmentRequest -ProviderId 'aadRoles' -ResourceId '926d99e7-117c-4a6a-8031-0cc481e9da26' -RoleDefinitionId 'ff690580-d1c6

[2021-03-08 12:32] mkozioro opened #71782 "https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv is not available"
Hi,

Link from page pointing to https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv does not work. It looks like isfratio storage account does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996c931a-02fa-a765-9dc5-db1a72a9bd4d
* Version Independent ID: 56943133-f870-eb75-9689-246f25726eb7
* Content:

[2021-03-08 12:39] GitaraniSharma-MSFT commented on #71532
@RZomermanMS , Thanks for bringing this to our attention. This has been fixed in https://github.com/MicrosoftDocs/azure-docs/issues/71551 and the changes are reflecting in the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-08 12:39] #71532 closed

[2021-03-08 13:06] m1ghtym0 opened #71783 "Managed SGX-enabled Kubernetes Cluster not working with Kubernetes version 1.19"
The article currently says:
[code]

Unfortunately, when running with Kubernetes version 1.19+ or upgrading the current default version 1.18.4 to 1.19+ the SGX device plugin is not working as expected.
Using tolerations and resources as described in the article the container creation in K8s fails with:

[code]

I'm not aware of any API change related to device plugins in version 1.19 but it seems s

[2021-03-08 13:15] rossanov opened #71784 "Wrong latte.exe cmdline example for latency test"
The cmdline example for the receiver with latte.exe is wrong:

`latte -c -a 10.0.0.4:5005 -i 65100`

the `-c` option flag must used only at the sender's location, the correct example should be instead:

`latte -a 10.0.0.4:5005 -i 65100`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a77eb3-1f6d-0fee-7d77-44a56fdb78b0

[2021-03-08 13:15] psmanhas commented on #71698
@mlearned
Can you please check and add your comments on this doc update request as applicable

[2021-03-08 13:16] gfallerBB commented on #71612
I have figured out the issue, I haven't specified the file name in the -Path parameter.
With this it works fine:
New-AzDataLakeGen2Item -Context $stor_context -FileSystem $adls_filesystem -Path "test/**test.txt**" -Source $file.FullName -Force

[2021-03-08 13:16] #71612 closed

[2021-03-08 13:21] #66188 closed

[2021-03-08 13:29] psmanhas commented on #71586
@susaxen Can you please check and add your comments on this doc update request as applicable

[2021-03-08 13:37] psmanhas commented on #71582
@Wang-Caixing Since we are having discussion internally on this issue will close this GitHub issue for now.

 If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-03-08 13:37] #71582 closed

[2021-03-08 13:38] psmanhas commented on #71473
@arturdrozd We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-03-08 13:38] #71473 closed

[2021-03-08 13:41] CHEEKATLAPRADEEP-MSFT commented on #71776
@ali-khawaja When you say "I am running this example on my local machine using WSL and spark 3.0.1", have you tested this code on Azure Synapse Analytics - Apache Spark pool?

The code snippets mentioned in this document works with Azure Synapse Analytics - Apache Spark pool.

[2021-03-08 13:50] derekschauland commented on #68612
Wanted to check in and see if there has been any movement on this item - when trying to configure geo-replication between subscriptions using TSQL I receive an error that the target server is not in the source subscription.  That is intentional as I am trying to create a replica in another sub...

[2021-03-08 13:52] SadiqhAhmed-MSFT commented on #71775
@conradkleinespel Thanks for bringing this to our attention. We will review this with the content owner and update as appropriate.

@dcurwin Could you please review this with the owner and update the document?

[2021-03-08 13:59] ahmetarslan2020 opened #71785 "No User/Sign Out Option on Guest Account"
As of March 5th, 2021, It appears that the ‘User’ button in the upper-right-hand corner, where one would go to log out, has disappeared. I also tried on my Guest account for Microsoft and encountered the same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3562df9e-bbd8-0f6f-a7e2-fa5730b99365
* Version Independen

[2021-03-08 14:02] Josh-Kewley-BC commented on #71629
Current client is CI/CD only, so I was looking for a file-based solution to config. Is the application.json not meant to work with the auto-instrumented option?

[2021-03-08 14:08] dfendit commented on #33157
Still the same problem. No sense of using KV with Application Gateway until this is fixed. Most InfoSec departments avoid using a KV that is exposed to the internet.

[2021-03-08 14:10] Tomtom10000 opened #71786 "URL are not included in the O365 referential"
The url "https://tokenprovider.termsofuse.identitygovernance.azure.com"  is not included in the repository:
https://docs.microsoft.com/fr-fr/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide
We use this repository to open the flow for all proxies in our company, if not in the repository, users will not access it and therefore it will not be able to access O365 because they ca

[2021-03-08 14:40] RohitMungi-MSFT commented on #71448
@ShrivastavaAkash  We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.
@trevorbye FYI, The document screenshot needs to be updated inline with the updated UI screen. Thanks!!

[2021-03-08 14:40] #71448 closed

[2021-03-08 14:41] RohitMungi-MSFT commented on #71513
@armanrahman22 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-08 14:41] #71513 closed

[2021-03-08 14:59] cpercy737 commented on #71634
Hello - Thanks for your question.  There are no plans at the moment to allow tagging at the resource group or subscription scope, because the scenario CUA addresses concerns IP solutions built by ISVs.  Those solutions are most often deployed by customers on to customer-owned subscriptions that run other workloads, hence tagging at scopes above resource is outside the primary use case.

[2021-03-08 15:05] fkucuk opened #71787 "clock skew check fails with version 2.6.0"
`linkerd check --pre` command fails on "clock skew check".

I think there is a bug in the linkerd 2.6.0.

Should I ignore the check results and continue or install a newer version? Because the checks are fine with the latest version (2.9.4)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2af47b-50dd-05a8-b18f-fc0cfba3

[2021-03-08 15:12] BhargaviAnnadevara-MSFT commented on #71786
@Tomtom10000 Thanks for reaching out. It looks like this feedback is intended towards the **Microsoft 365 Docs**, which is maintained in this GitHub repository: [microsoft-365-docs](https://github.com/MicrosoftDocs/microsoft-365-docs). This channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the [Azure](https://docs.microso

[2021-03-08 15:15] jonwbstr opened #71788 "steps using portal, and steps using powershellinclude update registry using powershell"
I believe this is the powershell way

As an administrator:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69769604-b1c3-a2b8-318d-354ebf0d82a1
* Version Independent ID: 964330fc-1a4f-05ca-502a-a09f26e79f10
* Content: [Create FSLogix profile container Azure Files Active Directory Domain Services - Azure](https://

[2021-03-08 15:17] luislinietsky opened #71789 "Pull messages on demand"
Hi, I can't find a simple way to just pull one (or a fixed batch amount )message at a time.
Could you include that in the documentation?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d5
* Content: [Send messages to Azure Se

[2021-03-08 15:22] tfitzmac commented on #71670
@tj94 - it looks like you have a linked deployment that uses copyIndex for the parameter vmName, but there is no copy loop for that resource. Although, I am puzzled because I don't see objectResult any where in the template you provided, so it seems like that error is coming from somewhere else.

[2021-03-08 15:35] NavtejSaini-MSFT commented on #71524
@tejinderrai Thank you for confirming this is resolved for you. We will be going ahead and closing this request.

[2021-03-08 15:35] #71524 closed

[2021-03-08 15:36] NavtejSaini-MSFT commented on #71740
@rohitnayakmsft - Please confirm if we can add this note somewhere in the document.

[2021-03-08 15:46] swhite-strath commented on #68501
Do you have a list of verified publishers yet?

[2021-03-08 16:00] SadiqhAhmed-MSFT commented on #71738
@markvogt Looking forward to your response.

[2021-03-08 16:03] aholler2 opened #71791 "Add Microsoft.Synapse RP to ARM Template Reference Docs"
Update Request: https://docs.microsoft.com/en-us/azure/templates/

I'd love it if you added the Microsoft.Synapse resource provider to the ARM template reference documentation. There are three different API versions so far which I can find in the ARM schema GitHub repository.

Schema has been auto-generated here:
https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2020-12-0

[2021-03-08 16:04] JamesTran-MSFT commented on #71785
@ahmetarslan2020
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-08 16:13] DeanGross commented on #71717
No it is not a new tenant.

[2021-03-08 16:15] VikasPullagura-MSFT commented on #71650
@Aaron-ML Apologies in delayed response.
I checked with internal team on this, GitHub actions are first party. Kured is an opensource project with bugs and is not a supported tool. Kured with unattended upgrades just upgrades the running VMs, new VMs will come with the old image.

Based on your requirements, you use the one that is better for your environment.

Hope this helps.

[2021-03-08 16:15] #71716 closed

[2021-03-08 16:17] RyanHill-MSFT commented on #71726
Thanks for feedback @blueghostuk. I've issued fix addressing this. The doc should be updated shortly.

[2021-03-08 16:18] VikasPullagura-MSFT commented on #71788
@jonwbstr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-08 16:18] VikasPullagura-MSFT commented on #71788
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-03-08 16:18] #71726 closed

[2021-03-08 16:20] kenwith commented on #47435
https://github.com/MicrosoftDocs/azure-docs-pr/pull/146861

[2021-03-08 16:21] MS-jgol commented on #71629
@Josh-Kewley-BC
Got it. If you are enabling application insights from the portal, you cannot use json file. That said, if you want to use the json file, it is fully possible - just do it prior to deploying the app into the app services. It takes literally one command line command to enable the application insights Java 3.0 agent for your application. Just follow the steps in the doc you were refer

[2021-03-08 16:26] dcurwin commented on #71775
@pvrk - can you please investigate this?

#reassign:pvrk

[2021-03-08 16:29] amasse3 opened #71794 "Add note to highlight how the resource lock is set"
It would be helpful to include a note or highlight for the step that sets the resource lock, or perhaps a note to indicate the lock is NOT set when creating the blueprint definition. I have a customer reporting that this example is unclear and additional notes could highlight what this tutorial is demonstrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-03-08 16:29] #71392 closed

[2021-03-08 16:30] Josh-Kewley-BC commented on #71629
I'd suggest providing context in the documentation to differentiate between the codeless approach which requires deploying a versioned jar file and the codeless approach which can be lit up using ARM. For example, this page only differentiates between SDK and 'agent' based monitoring when apparently there are 3 options (SDK, ARM Agent, jar agent):
https://docs.microsoft.com/en-us/azure/azure-monit

[2021-03-08 16:32] ChaitanyaNaykodi-MSFT commented on #71778
Hello @FundXJim
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action. Also it will be helpful if you could please elaborate more on your workflow and difficulties faced in following the documentation? Thank you!

[2021-03-08 16:32] DeanGross opened #71795 "Confusing Instructions"
This section https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#configure-amazon-web-services-aws-sso and https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-single-sign-on-tutorial cover the same topic but provide different directions. Please consolidate/simplify, they are very confusing.

---
#### Document Details

⚠ *Do not edit this

[2021-03-08 16:34] spelluru commented on #71337
@ramya-rao-a - updated the article. review it one more time with you to make any other changes needed.

#please-close

[2021-03-08 16:34] #71337 closed

[2021-03-08 16:34] spelluru commented on #71338
Done.

#please-close

[2021-03-08 16:34] #71338 closed

[2021-03-08 16:36] MS-jgol commented on #71730
@LPalmerMSI  Ideally, are you looking specifically to using the json file for configuration, and adding the jar manually? Or are you looking for an auto-instrumentation availability in the portal with some of the config options available?
Are you running the apps on APp Service Linux (custom or pre-defined stack?) or Windows?

[2021-03-08 16:37] MonikaReddy-MSFT commented on #71647
@Rajeswari-Mamilla  - Thank you for providing your insights.
@paulfinol - I hope @Rajeswari-Mamilla has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 16:37] #71647 closed

[2021-03-08 16:41] MS-jgol commented on #71629
@Josh-Kewley-BC Thank you for the feedback. You are right, we will be updating the documents very soon, I will definitely take a notice on making the changes you sugest!

[2021-03-08 16:43] hpsin commented on #71758
It is supported, this was an accidental omission. This was fixed in #70901

[2021-03-08 16:47] baanders commented on #71353
Hi @bgulseren, we will close this issue in 3 more days if there's no further response, since we couldn't reproduce the issue without additional information.

The thread remains active even on closed issuses, so feel free to comment back with additional comments or questions to continue the conversation after that time, and we can reopen if necessary.

Thank you!

[2021-03-08 16:48] ChaitanyaNaykodi-MSFT commented on #71789
Hello @luislinietsky, Thank you for reaching out. I think you can find the required details here [Message Browsing ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-browsing)section. Please let me know if there are any additional concerns. Thank you!

[2021-03-08 16:52] FundXJim commented on #71778
Thanks for getting in contact.

As a general note, pretty much ALL the Azure documentation how to's etc are
too sparse and lack a sufficient number of well worked through examples.

This one particularly annoyed me as all the relevant namespaces needed were
missing so when copying across some of the code, of course it immediately
errored and I had to waste time tracking down the relevant namespace

[2021-03-08 16:54] kevincathcart-cas opened #71796 "refreshTokensValidFromDateTime renamed to signInSessionsValidFromDateTime in Microsoft Graph API"
This page documents a profile attribute named `refreshTokensValidFromDateTime`. This property has been renamed in the Microsoft Graph API to be `signInSessionsValidFromDateTime`, see the [documentation of this change](https://developer.microsoft.com/en-us/office/blogs/breaking-change-invalidate-all-refresh-tokens-update-in-microsoft-graph-beta/). Like the other properties renamed in Microsoft Grap

[2021-03-08 16:55] hpsin commented on #71777
Is this access token for an audience you own? If not, you should ignore all claims in that token. _Never_ use data from access tokens, when you're the client, and _never_ accept access tokens if they don't match your audience.

[2021-03-08 16:55] pvrk commented on #71775
@conradkleinespel : Thanks for noticing. Yes, you are right. Modifying the request body JSON now.

[2021-03-08 16:56] LPalmerMSI commented on #71730
Hi,
I'm running an Azure Web App service in Azure.  I believe, in my case, it's
windows.  There are a number of articles talking about how to deploy a WAR
to the app service but nothing talking about how to 1) deploy the
application insights jar (I don't believe you can use the app service
deploy powershell script for this) nor 2) which is the suggested directory
on the app service where it should

[2021-03-08 16:59] Suizi11 opened #71797 "Properties of device lifecycle and twin change events are missing"
Hi,

the page describes d2c and c2d system properties but not other events like device lifecycle and twin change (device and digital twin) events. The page title describes 'all' IoT Hub messages and not D2C and C2D messages only.

Can you please provide more information about that or give me a hint where I can find this documentation.

Thank you
BR
Andreas

---
#### Document Details

⚠ *Do not edi

[2021-03-08 17:02] MonikaReddy-MSFT commented on #71712
Thats great to hear.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 17:03] MonikaReddy-MSFT commented on #71455
@tfitzmac  - Thank you for providing your insights.
@pwcasdf - I hope @tfitzmac has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 17:04] Aaron-ML commented on #71650
@vikaskumawat80

Interesting that a workflow automation tool is first party to update AKS nodes. Haven't had any issues with Kured on bugs.

Not a big fan of uploading creds on to a GHA job and having an outside system upgrade my nodes. Maybe one day we could have this option that is actually integrated? https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-upgrades

[2021-03-08 17:04] pvrk commented on #71775
Modified the request body. The changes should be live soon.

[2021-03-08 17:05] pvrk commented on #71775
Closing the issue since the doc is corrected. #please-close

[2021-03-08 17:05] #71775 closed

[2021-03-08 17:06] MonikaReddy-MSFT commented on #69334
@het-msft - Apologies for the delay. Let me check with the content team and get back to you ASAP.

[2021-03-08 17:10] SwathiDhanwada-MSFT commented on #71781
@nimoskovE Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-08 17:12] JamesTran-MSFT commented on #71785
@ahmetarslan2020
Thank you for pointing this out!

When you mention "the ‘User’ button in the upper-right-hand corner, where one would go to log out, has disappeared", are you referring to this screenshot from the doc?
![image](https://user-images.githubusercontent.com/36619112/110355408-0b180680-7fee-11eb-9aec-caeb3c3fa783.png)

I logged onto the myapps portal and was able to find the sign-out bu

[2021-03-08 17:13] JamesTran-MSFT commented on #71795
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-08 17:14] mathewc commented on #47210
Yes, when @brettsam added the ScanInfo optimization, it changed the requirements for reprocessing. I believe the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#blob-receipts) is correct w.r.t. also updating ScanInfo. Brett can confirm.

[2021-03-08 17:15] JamesTran-MSFT commented on #71796
@kevincathcart-cas
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-08 17:15] v-saambe commented on #71657
#reassign v-amallick

[2021-03-08 17:16] v-saambe commented on #71657
#reassign @v-amallick

[2021-03-08 17:19] cynthn commented on #69126
#please-close

[2021-03-08 17:19] #69126 closed

[2021-03-08 17:22] mathewc commented on #46533
That's right - a timer trigger function doesn't scale out - only a single instance of the function will be running the scaled out instances as described in https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#singleton-locks. You only want a single instance of your schedule running. If the function needs to perform some non-trivial work, a common pattern is to have it enqueue a

[2021-03-08 17:23] DerekHerman-MSFT commented on #71562
We can continue working through this through email. If there is further action needed on the doc side I will reopen this issue.

[2021-03-08 17:23] #71562 closed

[2021-03-08 17:24] DerekHerman-MSFT commented on #71570
@Saratoga6 We haven't herd back from you regarding this issue. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread.

[2021-03-08 17:24] #71570 closed

[2021-03-08 17:24] #71738 closed

[2021-03-08 17:25] tfitzmac commented on #71738
@markvogt - thanks for this feedback. I have added links to the articles about deploying templates.

[2021-03-08 17:25] crayongroupsca opened #71798 "ISF Ratio Link not working"
The link provided for the ISF Ratio has stopped working. Is this a temporary issue or is this list no longer available publicly?

Thanks,
Dave

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996c931a-02fa-a765-9dc5-db1a72a9bd4d
* Version Independent ID: 56943133-f870-eb75-9689-246f25726eb7
* Content: [Determine what Azu

[2021-03-08 17:32] DCtheGeek commented on #71794
#assign:DCtheGeek
#label:"doc-enhancement"

[2021-03-08 17:32] btHolert commented on #71777
This access token is for our application to act on microsoft graph resources on behalf of users using our application.
We have multiple services getting tokens, sometimes through easy auth in azure and sometimes by requesting them from microsoft through refresh tokens we obtained through the standard user flow.

[2021-03-08 17:33] DCtheGeek commented on #71794
@amasse3 Thanks for the feedback.  I'll take a look at enhancing the article to highlight that step as a key focus of the Tutorial.

#label:"in-progress"

[2021-03-08 17:40] joleito opened #71800 "Incomplete / Unclear information."
Hello team,

I've been creating a lab that we can use as part of the training for new hires.
For that, I was trying to follow all the instructions from this document and realized that some parts are not clear or are incomplete. Therefore, I had to perform some additional research to understand what I was missing.
For example: In the PowerShell part, some commands require parameters that should hav

[2021-03-08 17:43] mmacy commented on #71237
Thanks, @jmprieur. Is there something @philomathikus can follow to keep up to date?

Closing this one: #please-close

[2021-03-08 17:43] #71237 closed

[2021-03-08 17:43] rpalves opened #71801 "Print screen is out of date"
In "Access storage accounts as a trusted service with managed identities", the print screen is out of date.

Storage account firewall now has the "Resource instances" feature, which has no documentation yet.

It's also ambiguous if it's possible to restrict by IP AND managed identities, or if you can only use managed identities since no public IPs are present in the picture.

---
#### Document Det

[2021-03-08 17:46] mmacy commented on #68550
@j-mantu Thanks! Can you provide the PR link here and then we can close this issue?

[2021-03-08 17:48] RajaPrasadShaw opened #71802 "can't create a Virtual Network Gateway in Microsoft Azure"
I'm trying to create a Virtual Network Gateway but getting the error "The operation failed because the network security group NSG-centralus can not be associated to the GatewaySubnet. Please remove the network security group associated to the GatewaySubnet. No changes have occurred on the gateway at this time."

I've tried to remove NSG from the default subnet of the virtual network but when I cli

[2021-03-08 17:48] KrishnaG-MSFT commented on #71794
@DCtheGeek Thanks for the super quick response. :+1:

[2021-03-08 17:53] KrishnaG-MSFT commented on #71798
@crayongroupsca Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-08 17:53] cachai2 commented on #71271
@ChaitanyaNaykodi-MSFT I made a doc update last week to make step 6 no longer optional. Please let me know if you believe this sufficiently resolves the problem here.

[2021-03-08 17:59] KrishnaG-MSFT commented on #71791
@aholler2 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-08 18:00] phroiland commented on #31003
Almost two years later and this is not fixed.

Why is this closed?

[2021-03-08 18:06] ali-khawaja commented on #71776
it probably does.  i wanted to see if i can run this on my local spark.  if this is out of scope, i can close it.

[2021-03-08 18:06] #71776 closed

[2021-03-08 18:07] jimbobbennett commented on #71733
Raised a PR in the azure-docs-pr repo with a fix, as requested in #71734

[2021-03-08 18:08] tfitzmac commented on #71045
@cynthn - can you take a look at this feedback about the documented limits for VMs?

[2021-03-08 18:10] dpaulino commented on #71242
The issue here is that I was missing the `app.UseAuthentication()` line. After adding this, everything went smoothly.
![image](https://user-images.githubusercontent.com/7649589/110362591-4fa7a000-7ff6-11eb-8247-517af5ea64d4.png)

I am new to Web API authentication, so I didn't know about this `UseAuthentication` line. Perhaps your team can briefly mention this somewhere in your doc.

Feel free to

[2021-03-08 18:10] hpsin commented on #71777
Thanks! Graph is not your resource, so you should not be looking inside of that token.

[2021-03-08 18:12] mrbullwinkle commented on #71371
I tested this over the weekend and found multiple issues whereby the code samples in this article no longer work with currently supported versions of Databricks. Since the article is actively broken and is not going to be a quick fix I have retired the article for the moment. I have created an internal workitem to track creating a new updated article, but this will be on the backlog until at least

[2021-03-08 18:12] mrbullwinkle commented on #71371
#please-close

[2021-03-08 18:12] #71371 closed

[2021-03-08 18:14] b-juche commented on #71720
@olt1892 - Thank for your feedback.  Can you tell me where you see "1099511627776" that needs to be replaced with " 107374182400"?  Thanks!

[2021-03-08 18:17] SubhashVasarapu-MSFT commented on #71784
@rossanov, Thanks for reaching out. We will investigate and update this thread.

[2021-03-08 18:28] mayurpuli opened #71804 "Migrate from AWS PostgreSQL 12.5 version to Azure PostgreSQL 11"
As per the pre-requisites: The target Azure Database for PostgreSQL version must be equal to or later than the RDS PostgreSQL version. One of my customers has a AWS PostgreSQL version 12.5 and they want to migrate to Azure where the max version supported is 11 in Single Server mode. Please advise how to migrate in the above scenario

Can you also share an ETA when would the version 12 would be GA'

[2021-03-08 18:36] MGoedtel commented on #71225
@oribesser & @SamaraSoucy-MSFT - Thanks for bringing this to my attention.  I've created a work item to correct the article and review the other details to ensure it is correct.  #please-close

[2021-03-08 18:36] #71225 closed

[2021-03-08 18:38] ualjjcanada opened #71805 "change default deployment branch to main"
In Local Git deployment to Azure App Service, it is desirable a feature to change default branch from master to main. Currently main brach is used as default branch in many git repos. When pushing to main, an error shows “the current deployment brach in master, but nothing has been pushed to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-08 18:38] Josh-Kewley-BC commented on #71629
Follow up question, since this is where I started. How can I control the logging level threshold with the ARM-based monitor?

[2021-03-08 18:39] SatishBoddu-MSFT commented on #71797
@Suizi11 Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-03-08 18:41] SubhashVasarapu-MSFT commented on #71802
@RajaPrasadShaw, Thanks for reaching out. We will investigate and update this thread.

[2021-03-08 18:43] MGoedtel commented on #71021
@azureidentity - Thanks for pointing this out.  I've created a work item and am working to address this during this month's sprint.  I've also reached out to the UM PM to discuss further and ensure the other permissions listed are up-to-date.  #please-close

[2021-03-08 18:43] #71021 closed

[2021-03-08 18:47] vikancha-MSFT commented on #71681
@SvenSowa Can you please reach out to me at vikancha@microsoft.com

[2021-03-08 18:52] jasonrfritz opened #71806 "Typo in output after running ASRDeploymentPlanner.exe"
"Note that through**_O_**ut"

Assuming this should read through**_P_**ut instead:

Directory E:\ASR\Profiling-Data\vCenter_ProfiledData-20210308_1 doesn't exist, creating...
Data will be profiled for a duration of 0 Day, 1 Hour(s), 0 Minute(s)
Enter vCenter / ESXi password :
********************

VMWARE TO AZURE ASR DEPLOYMENT PLANNER

Performing prerequisite checks...
VMware vSphere PowerCLI vers

[2021-03-08 18:52] dloder0 opened #71807 "walkthrough of policies doesn't match current portal experience"
Hubs tab doesn't exist in policy creation in the portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0ea3309-d7f5-ee4e-9d8c-ab21a7315208
* Version Independent ID: b0e1fb1e-307f-5162-383c-c7e5c8d9ab1d
* Content: [Tutorial: Secure your virtual hub using Azure Firewall Manager](https://docs.microsoft.com/en-us/azure/fi

[2021-03-08 18:53] danhellem commented on #71689
@algattik try formatting your etag value like so. That should fix it

"query": "SELECT * FROM digitaltwins WHERE ($dtId = 'MasterBed' AND $etag = 'W/\"cb296fb9-c515-454c-b1ae-00ffa78b7e2d\"')"

[2021-03-08 18:53] GrossiBP commented on #34375
For me also it's failing.

[2021-03-08 18:54] GiftA-MSFT commented on #71711
@frablaser thanks for your feedback.

@laujan please take note of feedback above for doc enhancement, thanks.

[2021-03-08 18:54] #71711 closed

[2021-03-08 19:05] kenieva commented on #71617
By not having auto-remediation, customers have the control to select when to remediate resources that should be in a compliant state or exemption/exclude resources that are “correctly” non-compliant (they met the business need another way). Furthermore, auto-remediation can be hazardous in Production environments or when people are simply testing a DINE policy. However, we understand the need to d

[2021-03-08 19:15] SaurabhSharma-MSFT commented on #71467
@my3sons Thanks for providing I am following with products team on this and get back to you.

[2021-03-08 19:27] #71794 closed

[2021-03-08 19:36] MarkAtAgilliance commented on #52657
Hi @Igayhardt,

I am adding to this issue because I faced similar problems understanding the logic.  I was using the NetCore documentation which also covers ApplicationInsights ILogger behavior.  It may be that like me, we start with Console logging and get used to how the filter logic works.  Later in the project, we add Application Insights and things don't work how we thought they would (so we

[2021-03-08 19:37] MonikaReddy-MSFT commented on #71806
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-08 19:38] MonikaReddy-MSFT commented on #71783
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-08 19:40] agowdamsft commented on #71783
Thanks for raising this. Will get back with an update shortly.

[2021-03-08 19:43] ssivas commented on #71752
You must have either of Azure AD role to perform Enterprise application creation in AAD for AWS SSO integration. Hope this helps.

**Azure AD roles:**
[Global Administrator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-administrator)
[Application Administrator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#applicat

[2021-03-08 19:51] frozenheart1100 opened #71809 "I think it is the driver's issue"
[Enter feedback here]

My VM use NVv4 Mi25 gpu, i also install driver from Azure ( offical link ) but recently i meet some trouble with performance of VM.
On window 2019 version 1809, after several hours using, VM is very slow but when i uninstall the driver and reinstall it ( or restart VM ) the performance of VM is no more bad.
A bit more, when the crashing happen, it take me a long time to open

[2021-03-08 19:51] agowdamsft commented on #71783
@m1ghtym0 there is a known issue with containerd as tracked here https://github.com/containerd/containerd/issues/4846 that is preventing plugin to run on 1.19. Thanks for bringing this to our notice, I will update the MS docs to reference supported versions for k8s until this issue is fixed in upstream

[2021-03-08 19:53] btHolert commented on #71777
Yes i should @hpsin , Microsoft even describes in great detail every field in these tokens issued **with** the graph audience what each field means and what content i can expect.
Especially since the docs on said tokens explicitly mention that I should use the sub found in the tokens as unique identifiers for 3rd party applications (which btw is not available through any other source).
So either f

[2021-03-08 19:55] MonikaReddy-MSFT commented on #71787
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-08 20:00] vikancha-MSFT commented on #71809
@frozenheart1100  Can you please confirm if you applied the following GP policy. If you have not opened a support case already then can you please open one and share it with me?

 Note
If you use build 1903/1909 then you may need to update the following group policy for optimal performance. These changes are not needed for any other Windows builds.

[Computer Configuration->Policies->Windows Setti

[2021-03-08 20:01] hpsin commented on #71777
The access token documentation is for access tokens that your registered API receives.  Graph is a resource that we registered, and you could register your own as well.  Client always look in the ID token for claims - nothing else.

You can use response_type=id_token and the corresponding scopes and nonce to get an ID token that your client app can use.  See here for details on how to expose an AP

[2021-03-08 20:07] frozenheart1100 commented on #71809
First, i use window 2019 so i dont need to follow the guide with group policy right ?
And, where can i open a support case, please direct me

[2021-03-08 20:09] btHolert commented on #71777
Yes i know all that as i wrote above.
Still it is currently impossible to know if an access token i receive belongs to a user that is already registered with my application because the sub in there differs from the one received in earlier id tokens (which by your argumentation i can look into). So i cannot build any context and the access token is thus useless.

[2021-03-08 20:19] ChaitanyaNaykodi-MSFT commented on #71801
Hello @rpalves,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-08 20:23] shakanand opened #71810 "Storage Cost - Documentation"
The note section says "the paused database incurs storage charges at the Azure Premium Storage rate". Is this still accurate ? With the recent storage cost reduction announcement, shouldn't this say "Azure Standard Storage rate"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90f-36a7-2178a17d7951
* Versi

[2021-03-08 20:24] jlichwa commented on #70284
Thank you. Updated to /storage #please-close

[2021-03-08 20:24] #70284 closed

[2021-03-08 20:28] rbrayb opened #71811 "Confusion between access and id token"
The article mentions the access token in a number of places.

However, it then says:

Host: b2cninja.b2clogin.com
Authorization: Bearer <your **ID token**>

It's actually an id token that returned when you authenticate so are the references to "access token" correct?

Should they be "id token"?

Also, "Host: b2cninja.b2clogin.com" should be "Host: tenant.b2clogin.com"

---
#### Document Details

⚠

[2021-03-08 20:29] larryclaman opened #71812 "Possible to integrate AKS with ACR when deploying via ARM template?"
Checked the docs but couldn't find this:  Is it possible to integrate AKS with ACR when deploying via ARM template?  Or is this only possible via a CLI command?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [I

[2021-03-08 20:29] jlichwa commented on #70947
@Luciden thank you I updated Azure.Core (it seems like when retry options were added, Azure.Core was missed).
Key Vault name you will have to provide in code by updating URI with same value as used in CLI commands:

"Add these lines, **updating the URI to reflect the vaultUri of your key vault**."

#please-close

[2021-03-08 20:29] #70947 closed

[2021-03-08 20:31] rbavery opened #71813 "Provide instructions to fully automate mounting container or file storage with terraform"
These instructions are too complicated and require sshing into the vm. It'd be really useful to be able to mount as a VM provisioning step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838cb5-c34c-e0ff-b280-b86f29453cad
* Content: [Attach a data disk to

[2021-03-08 20:36] jlichwa commented on #68060
@brownz11 thank you. We removed that row and will add it back once App Gateway make fix for this scenario #please-close

[2021-03-08 20:36] #68060 closed

[2021-03-08 20:38] btHolert commented on #71777
So on registration of a user with our service the initial point of contact is a function app with easy auth where we receive an id token for our registered application. We use the sub from that id token as the user identifier throughout our application.
Later on the users calendar data must be processed by a worker service without direct user interaction, so the user receives an email with the req

[2021-03-08 20:47] DerekHerman-MSFT commented on #71665
@jonwbstr There are different steps required for enabled Azure AD:DS. There is a separate article which you should follow when enabling.
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable?tabs=azure-portal

[2021-03-08 20:49] hpsin commented on #71777
Hm, you have some options here -
1. You can use the Graph token to call the /userinfo endpoint to fetch the user's details, including subject.
2. You can use the refresh token to get an ID token.
3. You can investigate why you're not receiving an ID token here.

The last point may be easiest and most performant - there's no auth flow that gives you a refresh token and an access token via redirect,

[2021-03-08 20:56] jmprieur commented on #71242
Thanks for the update, @dpaulino
I think I'll add this to the troubleshooting section.

[2021-03-08 21:00] AndyWDev opened #71815 "Confusing instructions regarding Azure SDK"
The instructions on this page simply state 'Download and install the Azure .Net SDK on your machine'.   However, upon clicking the link provided one is taken to a page full of different packages and sources with no instructions as to what packages are required for this example or how to install said options.

It would be great if there were more detailed examples - perhaps taking into consideratio

[2021-03-08 21:01] mimckitt commented on #71045
#label:"virtual-machines"

[2021-03-08 21:05] sebansal commented on #67821
Key vault will return cert export as it was imported. Are you able to validate if the full cert chain was successfully imported to key vault? @liweinan0423

[2021-03-08 21:08] jonwbstr commented on #71665
Hi Derek,

The steps for Enabling AD:DS does not say they don't work for Azure AD:DS and the customer tried to use them anyways. I looked at the steps teh followed and found no reason to believe the steps DO NOT WORK because the documentation doesn't say they don't work.

As I stated, it merely looks like there are two methods for configuring AD:DS integration for Azure AD:DS. It's not uncommon fo

[2021-03-08 21:10] jonwbstr opened #71816 "Please reopen #71665"
And assign it to someone that will read the feedback provided.

The person assigned to #71665, ignored the feedback with the justification "we have another article somewhere else for those steps" when the issue I have, is the article I provided feedback on, gives no indication it should not be used in the scenario it was used successfully in, and resulted in a broken setup.

[2021-03-08 21:12] jonwbstr commented on #71665
To reiterate, having another article that works, does nothing to discourage someone from using this article that also "works" but results in a broken and unsupported configuration.

Please update this document to help future people avoid the same mistake

[2021-03-08 21:18] vikancha-MSFT commented on #71809
@frozenheart1100  please email me on vikancha@microsoft.com I will guide you on the process to engage support. Please email me the subscription id, Azure region and the VM Name

[2021-03-08 21:18] sebansal commented on #71443
Thank you for sharing the feedback. It has been addressed and will merge in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/149551.
#please-close

[2021-03-08 21:18] #71443 closed

[2021-03-08 21:22] andrewkittredge commented on #69709
I figured this out.  It was a huge pain.  It required modifying the generated Docker file and azureml-server/print_hook.py.

[2021-03-08 21:28] ggailey777 commented on #71517
Thanks @yutaro113 for letting us know about this. There's usually some delta between English source changes and the localized versions, but this was changed almost 4 months ago. Let me check with our localization folks to see about this delay.

[2021-03-08 21:31] Phil-Jensen commented on #68850
#please-close

[2021-03-08 21:31] #68850 closed

[2021-03-08 21:32] Phil-Jensen commented on #68851
#please-close

[2021-03-08 21:32] #68851 closed

[2021-03-08 21:36] pjohnst5 opened #71818 "Backend pool by IP and Vnet ARM example"
Can you add this ARM template doc to your IP configuration examples? That way you'll have ARM examples for both configurations: NIC and IP address + vnet
https://github.com/Azure/azure-quickstart-templates/tree/master/101-load-balancer-ip-configured-backend-pool
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed6443fd-7d

[2021-03-08 21:40] MartinJaffer-MSFT commented on #71621
@kromerm can you confirm whether this is intended behavior?

[2021-03-08 21:40] Leonardo-Ferreira opened #71820 "How can I create a custom domain without a certificate?"
Can you please explain how to create a custom domain without certificates? for example, to use on my internal applications such as `myapp.MyInternalDomain.net`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02a5991-da24-06a2-0c24-d012d2e07399
* Version Independent ID: 64acd893-43bb-81af-d14d-0b7553e93daf
* Content: [

[2021-03-08 21:40] dlepow commented on #71747
@vigouredelaruse - Thanks for pointing out this issue. Yes, it's obviously not a good practice to expose credentials on the command line, even in a simple example for illustration such as this one. We'll update minimally with guidance to store credentials securely and use an interactive `docker login` workflow that doesn't expose the password such as `docker login --username 00000000-0000-0000-000

[2021-03-08 21:47] MS-jgol commented on #71629
@Josh-Kewley-BC
You can set the appropriate environment variable:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#auto-collected-logging

[2021-03-08 21:56] #71684 closed

[2021-03-08 21:56] TravisCragg-MSFT commented on #70385
@Klaas- Every Node or Host (physical machine in the datacenter) is part of an Availability Zone because of the location of the datacenter that it is in. It does not have a Fault domain or Update domain by default. Different Hosts are in different Fault domains, because that is what Fault Domains are. If there is not an Availability Set involved, there is no actual Fault Domain or update domain par

[2021-03-08 21:57] #71619 closed

[2021-03-08 21:57] derisen commented on #71416
@tvdvoorde apologies for delay. As you guessed, passwordless authentication is not supported for public client apps (such as desktop and mobile apps), as this might make them more susceptible to spoofing and other security threats (single-page apps are also technically "public clients", but they enjoy higher security by using features like PKCE and etc.)

[2021-03-08 21:58] idg-sam opened #71821 "CA support in Mobile and Desktop apps"
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#client-apps
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#supported-mobile-applications-and-desktop-clients

This section in this document implies that CA policies for mobile and desktop apps are supported. As I understa

[2021-03-08 22:01] RDukes425 opened #71822 "Add Caveat for"
I have feedback from a customer requesting that the page be updated to reflect how one connects to sovereign clouds (ie. Azure Government)

Reference: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps
Connect-AzAccount -Environment AzureUSGovernment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-08 22:17] haymansfield opened #71823 "Is this GA now?"
Hi,

Is this feature GA now or Preview still?

There is no mention of preview on the page.

[2021-03-08 22:17] #71823 closed

[2021-03-08 22:18] haymansfield opened #71824 "Is this GA now?"
Hi,

Is this feature GA now or Preview still?

There is no mention of preview on the page.

[2021-03-08 22:18] #71824 closed

[2021-03-08 22:24] MarileeTurscak-MSFT commented on #71544
This is by design. At the moment hardware tokens are only supported by global admin. Even though other admins maybe able to navigate to hardware tokens page, they will not be able to upload the files. As a test, an oauth token uploaded by global admin will not be visible to a user with authentication administrator role. A work item has been created to update the documentation to address this. http

[2021-03-08 22:24] #71544 closed

[2021-03-08 22:41] MashaMSFT commented on #71482
Hi @tflorio , thanks for reaching out! Yes, as the documentation states: If you are using Server + CAL licensing for SQL Server and you have Software Assurance, you can use bring-your-own-license to a SQL Server on Azure VM  image to leverage license mobility for these servers, but you cannot leverage the other features of Azure Hybrid Benefit.

My apologies, would you mind providing feedback for

[2021-03-08 22:47] NavtejSaini-MSFT commented on #71804
@mayurpuli We are looking into this and will get back to you.

[2021-03-08 22:50] TravisCragg-MSFT commented on #71688
@wilbug1git1 The OS of the session host is what generates the certificates, and you can add / change the listener certificates for RDP connections.

Adding your own certs is an additional layer of security if desired. Only users who have the custom cert installed can connect to the RDS deployment.

[2021-03-08 22:52] TravisCragg-MSFT commented on #71653
@jeffwmiles I have reached out to get clarity on this and will update as soon as I can.

[2021-03-08 23:00] colinhqgit opened #71825 "Reset redemption status for a guest user - Required permissions?"
Hello,

I've been trying to reset the redemption status for a guest user.
The doc suggests to put the new email address in invitedUserEmailAddress but when I do, I get the following error:
[code]

When I attempt to reset the redemption status using the current email address of the guest account, I get an authorization exception:
[code]

I believe I am having two issues... my application does not h

[2021-03-08 23:01] MarileeTurscak-MSFT commented on #71705
If there has been inactivity of over 90 days, users are required to reauthenticate with all required factors (first and second factor). They also need to reauthenticate and perform MFA if they've changed their passwords.

If you have a more restrictive policy set on the tenant, that policy will trump the 90 day policy and whatever policy is the most restrictive will take precedence (for example, i

[2021-03-08 23:01] #71705 closed

[2021-03-08 23:03] TravisCragg-MSFT commented on #71725
@BoSoeborgPetersen Great Catch! I changed the sentence to properly state ultra disks, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-08 23:03] #71725 closed

[2021-03-08 23:12] SaiKishor-MSFT commented on #71818
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-08 23:13] SaiKishor-MSFT commented on #71807
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-08 23:32] JamesTran-MSFT commented on #71811
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-08 23:36] JamesTran-MSFT commented on #71813
@rbavery
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-08 23:49] bergeron opened #71828 "ReadToUpload -> ReadyToUpload"
"ReadToUpload, which means the disk is ready to receive an upload"

I think this should be:

"ReadyToUpload, which means the disk is ready to receive an upload"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff0e8
* Content: [

[2021-03-08 23:51] AlexGilliland opened #71829 "Script out of date - should allow 1909 as well"
SupportedBuildsForWindowsContainers only allows for 1809, but 1909 is on the supported OS list as well.
Please update the script to allow for 1909 as well for this script here aka.ms/iotedge-win

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a33e849-c74b-c34b-047c-0d98f0e76140
* Version Independent ID: b2672a06-8016-a

[2021-03-09 00:03] rolyon commented on #71421
Hi @yevster
Thanks for your feedback. Microsoft.AppPlatform has been added to the doc.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftappplatform
Let us know if you have additional feedback.

[2021-03-09 00:03] rolyon commented on #71421
#please-close

[2021-03-09 00:03] #71421 closed

[2021-03-09 00:04] rbavery opened #71830 "The example is broken, can't supply contents of id_rsa.pub to ssh into vm"
See https://github.com/Azure/azure-quickstart-templates/issues/8856

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e761ca45-3426-3ed4-6722-bddcff138c67
* Version Independent ID: 870c6f1d-bd20-23f5-22d6-6d8f6041c0f6
* Content: [Quickstart: Create a Data Science VM - Resource Manager template - Azure Data Science Virtual

[2021-03-09 00:08] rolyon commented on #71685
Hi @dVerschaeve
Thanks for noticing this. We've incorporated these changes into the doc.
https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-assign-graph
Let us know if you have additional feedback.

[2021-03-09 00:08] rolyon commented on #71685
#please-close

[2021-03-09 00:08] #71685 closed

[2021-03-09 00:57] MonikaReddy-MSFT commented on #71828
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-09 01:00] MonikaReddy-MSFT commented on #71828
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 01:03] cynthn commented on #71813
#re-assign @TomArcherMsft Tom, can we provide a doc on adding and mounting a data disk for a new VM using Terraform?

[2021-03-09 01:03] cynthn commented on #71813
#reassign @TomArcherMsft

[2021-03-09 01:06] cynthn commented on #71813
#reassign:TomArcherMsft

[2021-03-09 01:07] MarileeTurscak-MSFT commented on #71821
@idg-sam
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-09 01:12] MonikaReddy-MSFT commented on #71681
@vikancha-MSFT - Thank you for responding to the query.
@SvenSowa - Please send an email to @vikancha-MSFT so that your issue can addressed.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 01:12] #71681 closed

[2021-03-09 01:15] MonikaReddy-MSFT commented on #71783
@agowdamsft - Thank you for providing the insights and raising the PR.
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 01:15] #71783 closed

[2021-03-09 01:31] xuegao0112 opened #71833 "When wil the GA release for the API"
The document says that the HTTP DataCollector API is in public preview. When can I expect it to be GA?
If it's not GA for now, will this be recommended to deploy in the PROD environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae

[2021-03-09 01:39] MartinJaffer-MSFT commented on #71708
@kosinsky I see multiple asks here.
1 "Why does Azure CLI command `az synapse role definition  list` show only the 4 default roles"
2 "Why does Azure CLI command `az synapse role assignment create` not work with `Synapse User` ?"
3 "Please document the Azure CLI Synapse role commands"

For 1 and 2, the CLI is still under develpment.  In my experience, when a new feature comes out, it first appears

[2021-03-09 01:39] SatishBoddu-MSFT commented on #71829
@AlexGilliland
I have assigned the issue to the content author for further review.

[2021-03-09 01:43] wukun2015 opened #71834 "Multiple Speakers (>2) diarization without enroll-voice-profile"
Hello,

Is there a feature to diarize 3 or more multiple speakers without the need of enrollment voice profile ? E.g. speaker 1, speaker 2, speaker 3, ....

Batch transcription feature can diarize 2 speakers and SpeakerID feature can identified more speakers with voice profile as must-have. But these features do not cover such transcription scenarios in which there are multiple speakers in audio w

[2021-03-09 02:20] lohithgn opened #71836 "Cosmos DB Mongo DB Quickstarts - No .NET Core/ASP.NET Core Sample"
Hi,

I have been going through the Cosmos DB Mongo DB quickstarts here: https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-dotnet. The page is currently showcasing .NET which is Full Framework Version. There is no .NET Core version of the sample. Now that there is only 1 .NET - it is confusing when we see .NET but the framework version of sample if Full Framewok 4.x.

It will make sen

[2021-03-09 02:22] lohithgn commented on #71216
@AnuragSharma-MSFT any update on this one ?

[2021-03-09 02:22] SnehaAgrawal-MSFT commented on #71805
@ualjjcanada Thanks for the feedback. We are currently investigating and will update you shortly.

[2021-03-09 02:31] lissff opened #71837 "AGIC stopped functioning if service principal password expired"
[Enter feedback here]
If AGIC is authenticated using service principal, and the default SP password would be expired in one year. is there any place we could refer to for updating the password?
AFAIK, the password resetting process for AGIC is slightly different from another azure resource since we need to update the secret in the right format, e.g.

•	az ad sp create-for-rbac  --sdk-auth --year (

[2021-03-09 02:45] TravisCragg-MSFT commented on #71768
@Wh00T I see that you have closed this issue, let me know if you need any further assistance.

[2021-03-09 02:58] rbavery commented on #30890
@roygara  I think this issue should be reopened, I agree with @gdippolito. This page still advises using `/mnt` as a persistent mount point: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux

There should be an easy script provided to run all the steps to automatically, persistently mount a file share or blob container to a VM, rather than requiring the user to ru

[2021-03-09 03:17] KrishnaG-MSFT commented on #71833
@xuegao0112 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-09 03:17] stewartadam commented on #71563
Correct - although it looks like there lots of debug output form 3rd party modules when using a blanket `debug` value, so hopefully we can find a more specific option (e.g. hypothetically `edgelet=debug,dps=debug` that can still produce the dps registration output without including *all* debug output.

[2021-03-09 03:18] KrishnaG-MSFT commented on #71833
Tagging @bwren for visibility and to help provide insights if any.

[2021-03-09 03:18] dcbrown16 opened #71838 "Add Private Zone info"
Customers may wish to use Azure DNS Private Zones to support the requirement for providing their own DNS in internal vnet deployments of API Management.
Please add information to this document to make it clear that Private Zones are supported and, if possible, describe the settings that would be used to do so.
https://docs.microsoft.com/en-us/azure/dns/private-dns-overview

---
#### Document Detai

[2021-03-09 03:22] steekohoopdy opened #71839 "Great tutorial thus far. However the image they're using is over 11Gb. Whilst trialling Azure with the 30 day trial and limited resources, this seems like a huge image to be using when most people do not have a paid subscription to try out features."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-09 03:26] jeevansd commented on #71752
@DeanGross To add the application from the gallery you need to be Global Administrator or Cloud Application Administrator. For only configuration of application you can also use Application Administrator.

[2021-03-09 03:27] jeevansd commented on #71752
#please-close

[2021-03-09 03:27] #71752 closed

[2021-03-09 03:41] rbavery commented on #71813
Just fully tested the instructions for persistent mount and they also aren't working. The mount point is under root ownership and restricted file permissions by default. I can only change permissions on the storage account folder and not on the file storage folder, it gets reset back to root. So I'm not sure how I'm supposed to use this for data science work.

Example of the bug, ownership of the

[2021-03-09 03:47] amjads1 commented on #71722
Let me look into this and update back on the best course of action here.

[2021-03-09 03:54] HarshitaSingh-MSFT commented on #71385
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 03:55] #71385 closed

[2021-03-09 03:56] mike-urnun-msft commented on #71406
Hi @harre096,

In short, presently, all new Azure Functions are run on `.NET Core 3.1` and that is the runtime version you should look to use.

This page is the official source of guidance for choosing the right version for your Functions runtime. The "recommended" version can mean different things to different teams with their unique circumstances, as such, this page mainly aims to present an ove

[2021-03-09 03:56] #71406 closed

[2021-03-09 04:02] AnuragSharma-MSFT commented on #71606
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-09 04:02] #71606 closed

[2021-03-09 04:04] BhargaviAnnadevara-MSFT commented on #71839
@steekohoopdy Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-09 04:06] rmcguine opened #71841 "Instance Size Flexibility Ratio Link No Longer Works"
Good evening Microsoft team,

I hope all is well. The [link for the Instance Size Flexibility Ratios](https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv) CSV file no longer works. It says the page can no longer be found.

Thank you,
Rob M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20f52cb-4eb1-6faa-9c02

[2021-03-09 04:22] CHEEKATLAPRADEEP-MSFT commented on #71815
@AndyWDev You can follow the below steps to download and install Azure .NET SDK on your machine.

![ADF-SDK](https://user-images.githubusercontent.com/79183421/110418091-dde65980-80bc-11eb-921b-ad2215f56c80.gif)

**Reference:** [Azure Data Factory libraries for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/data-factory?view=azure-dotnet).

Hope this helps.

[2021-03-09 04:26] CHEEKATLAPRADEEP-MSFT commented on #71830
@rbavery Thanks for the feedback! I had assigned the issue to the content author to review and update as appropriate.

[2021-03-09 04:33] CHEEKATLAPRADEEP-MSFT commented on #71810
@shakanand  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-09 04:52] yashesvi commented on #71841
This should be working now.

From: Rob McGuine <notifications@github.com>
Sent: Monday, March 8, 2021 8:06 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yashesvi Sharma <yashar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Instance Size Flexibility Ratio Link No Longer Works (#71841)

Good evening Microsoft team,

I hope all is well.

[2021-03-09 05:17] rmcguine commented on #71841
@yashesvi it looks great! Thank you so much for your quick remediation on that. I will close the incident for now.

Thanks again,
Rob M.

[2021-03-09 05:17] #71841 closed

[2021-03-09 05:24] SamaraSoucy-MSFT commented on #71677
I'm going to assign this to the doc author to clarify what is currently Data Factory only.

[2021-03-09 05:44] BharathNimmala-MSFT commented on #71464
@AdamSharif-MSFT Apologies for delayed response on this, I am checking on this with the internal team and will get back to you at the earliest.

[2021-03-09 05:47] BharathNimmala-MSFT commented on #71800
@joleito Thank you for reaching out with your query , our team will review it and get back to you at the earliest.

[2021-03-09 05:57] AjayKumar-MSFT commented on #71823
@haymansfield, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation and the service for which this feedback is applicable to?

[2021-03-09 05:58] carlchan1994 opened #71842 "Invalid Azure Cloud Shell Script Example for Change the availability set for a VM"
The script returns an error when re-creating the VM.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtu

[2021-03-09 06:00] AnuragSharma-MSFT commented on #71741
@rarandiv Could you please provide more details on the statement **_"Why this error was getting because we recently moved a logical server between the resources,"_**. Does it mean, the logical servers were moved from one subscription to another or anything else.

Also please let us know if below are the sequence of steps:
1. Create Azure SQL Server and Database
2. Create Private End Points
3. Link

[2021-03-09 06:01] AjayKumar-MSFT commented on #71824
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/71823

[2021-03-09 06:02] Yurong-Yang55 opened #71843 "need update the Deputy configuration in the Guide"
[Enter feedback here]
Hi,

According to the link(https://help.deputy.com/en/articles/2863219-single-sign-on-in-deputy) from Deputy side, the old access point in Deputy is not existed.

Could you please help to update the guide?

Here's an example of Okta's updated version - https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Deputy.html

---
#### Document Details

⚠ *Do not edit this

[2021-03-09 06:03] RohitMungi-MSFT commented on #71834
@wukun2015 Thanks for the query. Yes, the batch transcription can identify 2 speakers with out enrollment.  The support for more than 2 speakers without enrollment is currently not available.

[2021-03-09 06:03] psmanhas commented on #71812
@larryclaman Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-09 06:06] carlchan1994 commented on #71842
I forgot to execute the command of adding OS disk, please close this issue.

[2021-03-09 06:06] #71842 closed

[2021-03-09 06:09] rarandiv commented on #71741
@AnuragSharma-MSFT , Thanks for checking. Yes, that's correct. The logical servers were moved from one subscription to another and the sequence of steps followed as mentioned.

[2021-03-09 06:16] BharathNimmala-MSFT commented on #71464
@AdamSharif-MSFT After further analysis and testing in the [demo Log Analytics](https://ms.portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade) instance , we do see memoryCapacityBytes and memoryRssBytes counters showing up for windows machines as well.

I will reach out to you internally to further work through on this one and post analysis if still see any issue with the docume

[2021-03-09 06:16] #71464 closed

[2021-03-09 06:28] rbavery commented on #71830
It would also be really helpful if this template used a static IP. I can't imagine someone wanting to use the dsvm consistently with an ip that is always changing and having to always update their ssh commands?

[2021-03-09 06:38] zhenlan commented on #71592
@VicSmith you can update the code to use the `DefaultAzureCredential`.
[code]

As I explained earlier, the DefaultAzureCredential will try a few different credential types. That's why it can work both locally and in Azure.
https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet

When your app runs in Azure, as long as you don't set the environment variab

[2021-03-09 06:47] mayanknayar commented on #70651
@bmcder @psmanhas - Following up on this thread. The latest doc update has the steps to register both flags as part of the onboarding steps.

[2021-03-09 06:50] yoelhor commented on #71796
Thanks for your feedback. The fix will be published later today.

[2021-03-09 06:51] yoelhor commented on #71796
#please-close

[2021-03-09 06:51] #71796 closed

[2021-03-09 06:55] yoelhor commented on #71811
Thanks for the feedback. The fixed will be published later today, and this issue will be closed.

Yoel

[2021-03-09 06:58] rboucher commented on #9293
#please-close All links in this article work now. Very old issue.

[2021-03-09 06:58] #9293 closed

[2021-03-09 06:58] dcurwin commented on #71657
#reassign:ajithkr-ms

[2021-03-09 06:59] dcurwin commented on #71657
@KrishnaG-MSFT  - please assign this issue to @ajithkr-ms

[2021-03-09 07:00] BharathNimmala-MSFT commented on #71477
@aaronjones1 Apologies for delay in getting back to this thread and sorry to hear that you are getting into this issue. Post initial analysis of your issue seems we might need to further troubleshoot. Please send an email to AzCommunity@microsoft.com  with your Subscription details, complete ARM template you are using to deploy (masking any of the Personal/subscription data)  and a link to this th

[2021-03-09 07:00] #71477 closed

[2021-03-09 07:02] dcurwin commented on #71601
@James-Hamil-MSFT  - please assign this issue to @pvrk

[2021-03-09 07:03] dcurwin commented on #71601
@NavtejSaini-MSFT - please assign this issue to @pvrk

[2021-03-09 07:04] dcurwin commented on #71800
@BharathNimmala-MSFT  - please assign this issue to @kirushk

[2021-03-09 07:07] rboucher commented on #71240
Hi @bhsanghv.  Which Scott are you talking about?  This is an automated article so we simply put in here what the API has said is available.  If you are inside Microsoft, please email me to give more details on why these metrics should be out.  Rob Boucher

[2021-03-09 07:08] salqueng opened #71845 "The doc says "Slots are currently not available for the Linux Consumption plan.", but creating slots on apps using Linux Consumption Plan works."
Here is the deployment slots page of one of my function apps. It is running on Linux Consumption Plan.
![image](https://user-images.githubusercontent.com/5074074/110431135-bad59d00-80f0-11eb-9324-5ad84ee6aed0.png)
![image](https://user-images.githubusercontent.com/5074074/110431500-3afc0280-80f1-11eb-9039-1f86744597f8.png)

According to the doc, adding slot should not work, but actually it does.

[2021-03-09 07:18] #70515 closed

[2021-03-09 07:19] yoelhor commented on #70515
Hi @henriquebelotto, you feedback is well taken. I have added a link to the localization Ids document. You will see the changes lager today.

[2021-03-09 07:20] #71811 closed

[2021-03-09 07:27] mike-urnun-msft commented on #71474
@DonKarlssonSan Thank you for bringing this to our attention and helping us drive improvements towards MS Docs! I have created a PR that removes the mention of Consumption plans on the matter, and once a merge occurs soon, this doc will start reflecting the changes,

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly

[2021-03-09 07:27] #71474 closed

[2021-03-09 07:28] vipulsparsh commented on #71825
@colinhqgit Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-09 07:29] vipulsparsh commented on #71843
@Yurong-Yang55 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-09 07:41] srishti-56 opened #71846 "Link to SLA for Log Analytics is out-of-date on Documentation page"
The SLA Link under the section

[code]

points to v1_1 page - https://azure.microsoft.com/en-us/support/legal/sla/log-analytics/v1_1/
I can see a newer version of the SLA here - https://azure.microsoft.com/en-us/support/legal/sla/log-analytics/v1_3/
but there's no link to it from the Docs page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-09 07:47] yoelhor commented on #69512
Thanks @ Andrew-Webb for bringing this to our attention. The fix will be published later today with correct language code.

Yoel

[2021-03-09 07:48] devvrr opened #71847 "can also explain how to ungeneralise a generalised vm"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cfcc831-2add-15de-8278-024d30b6dbef
* Version Independent ID: 94a05591-7cfb-4959-8d91-0ddbaea302ea
* Content: [Capture a managed image of a Linux VM using Azure CLI - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/lin

[2021-03-09 07:50] #69512 closed

[2021-03-09 08:07] m1ghtym0 commented on #71783
Thank you for the quick responses and insights.
Very much appreciated.

[2021-03-09 08:07] aosyatnik commented on #66276
@yoelhor , Hi. I decided to implement it another way. I couldn't fix the issue, but it doesn't really matter now, because I've implemented the whole feature without this bearer token claim.

[2021-03-09 08:18] ggailey777 commented on #71517
@yutaro113 it turns out that the localization for this change got delayed a bit because of the past Ignite conference, but it should be complete any day now. Please open a new issue if you don't see the updated version in Japanese in a few days. Thanks for your question. #please-close

[2021-03-09 08:18] #71517 closed

[2021-03-09 08:22] CharlPels opened #71848 "firewall setup is to open"
in section
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/log-analytics-agent#firewall-requirements
you mention urls like *.blob.core.windows.net
that translate to give access to all Azure Blob storage accounts in the world instead of the one actualy needed like
opinsightsweuomssa.blob.core.windows.net
So think it would be better to be more specific in what is needed.

---
#### Docume

[2021-03-09 08:41] btHolert commented on #71777
Sorry if i wasn't clear enough there. We don't receive the access and refresh token as part of microsofts auth flow.
We receive a authentication code for graph with which we ourselves then go and get a refresh and access token.

[2021-03-09 08:41] yoelhor commented on #67967
Closing this issue as it's fixed in v 2.1.2.

Note: from v 2.1.1. you should use the following format

[code]

#sign-off

[2021-03-09 08:41] #67967 closed

[2021-03-09 08:45] AnuragSharma-MSFT commented on #71216
@sivethe Could you please look into this request and provide your feedback?

@lohithgn Thanks for your patience. We noted that you have created another repo for ASO.NET Core integration with Azure Cosmos DB Mongo API ([#71836](https://github.com/MicrosoftDocs/azure-docs/issues/71836)). We are assigning that one to the content author as well and they are the right group to take a call on this.

[2021-03-09 08:46] AnuragSharma-MSFT commented on #71836
@lohithgn Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-09 08:47] Rajeswari-Mamilla commented on #71806
Thank you for sharing this @jasonrfritz. To fix this typo, we would need a change in the backend. We will track the fix in our upcoming milestones.

[2021-03-09 08:51] VikasPullagura-MSFT commented on #71847
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-03-09 08:52] lohithgn commented on #71216
@AnuragSharma-MSFT  Thanks for the update :)

[2021-03-09 08:53] BryanTrach-MSFT commented on #71523
@sushdroid We reviewed our internal materials but there has not been any recorded issues on our end that would have caused this behavior.

Did you hear back from Baidu?

[2021-03-09 08:58] ualjjcanada commented on #71805
I found a solution from Kudu docs, [here](https://github.com/projectkudu/kudu/wiki/Deployment-branch): you can set the branch by setting an Azure App Setting called `deployment_branch`.
Here shows [how configure app settings](https://docs.microsoft.com/es-es/azure/app-service/configure-common#configure-app-settings).
Just creating the new app setting with name `deployment_branch` and value `main`

[2021-03-09 09:01] lohithgn commented on #71216
@AnuragSharma-MSFT i also notice that in Azure-Samples GH repo, there are already .NET Core related samples available - but they are not surfaced in the docs side of the things ...

[2021-03-09 09:02] yoelhor commented on #66630
The article has been updated, closing this issue.

#please-close

[2021-03-09 09:02] #66630 closed

[2021-03-09 09:08] Klaas- commented on #70385
Okay, I think I have finally understood an availability zone -- but I am still having a hard time understanding how this factors into the availability set concept.

And an availability set has fault/update domains. Those Availability set fault domains (leaving the update domains out for now) are
a) residing in a single zone?
b) are stretched over multiple availability zones? (Like I tried to visua

[2021-03-09 09:12] aidarko commented on #71618
Hello,

Thank you for reply.

The issue with the UI still remains.
Should I open it in other place?

---

More details:

In my case VNet exists due company's policy, and I cannot create another one.
So, if you don't mind I will jump to the second case, which you've mentioned:
`az network ddos-protection create
--resource-group MyResourceGroup
--name MyDdosProtectionPlan
--vnets MyVnet`

This comma

[2021-03-09 09:20] #68080 closed

[2021-03-09 09:27] batamig commented on #71605
Hi @DeanGross  - thanks for reaching out with this question!

I've checked back with the team on this one before answering. Labels in Purview have the same timing as in M365 - namely, we recommend allowing up to 24 hours for changes to replicate to all apps and services.

I'll update the docs with this information to clarify and appreciate the request.

I'm closing this for now, but feel free to c

[2021-03-09 09:27] #71605 closed

[2021-03-09 09:27] yoelhor commented on #66276
Thanks for your reply. I'm closing this issue for now. Should you need help in any way, please don’t hesitate to open a new issue.

#please-close

[2021-03-09 09:27] #66276 closed

[2021-03-09 09:38] yoelhor commented on #65179
The required permissions have been added to the document.

#please-close

[2021-03-09 09:38] #65179 closed

[2021-03-09 09:40] BhargaviAnnadevara-MSFT commented on #71820
@Leonardo-Ferreira Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-09 09:49] BhargaviAnnadevara-MSFT commented on #71822
@RDukes425 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-09 09:54] Darkwolf0815 opened #71850 "There is no blatorwasm2 in Microsoft.AspNetCore.Components.WebAssembly.Templates"
There is a blazorwasm template in the mentioned Microsoft.AspNetCore.Components.WebAssembly.Templates
but the blazorwasm2 template seems to be in Microsoft.Identity.Web.ProjectTemplates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d60e8edb-2347-c809-8d6e-3a09b65b6762
* Version Independent ID: 1110826c-8c31-19b2-c9da

[2021-03-09 10:09] mrventerj opened #71851 "Documentation outdated\not working"
Hi

The documentation is outdated and does not work - could you please look into it?

Error details:
Troubleshooting details
If you contact your administrator, send this info to them.
Copy info to clipboard
Request Id: e1186c63-362a-4af8-b597-0e8d8c561e00
Correlation Id: 2f6b24fb-c6d6-4838-8757-5cc6c13f7cc0
Timestamp: 2021-03-09T10:09:06Z
Message: AADSTS50011: The reply URL specified in the reques

[2021-03-09 10:16] lucarv opened #71852 "Wrong Instructions to configure TLS"
[Enter feedback here]
The tutorial points at a folder /etc/aziot but that folder does not exist. I can't create the toml file based because there are no templates either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6b8e5f-7de7-b40b-ad37-dc9b5c8f7d63
* Version Independent ID: 10a9b17d-cbf4-ec07-ae39-953d3d0fd411
*

[2021-03-09 10:22] KrishnaG-MSFT commented on #71572
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-03-09 10:22] #71572 closed

[2021-03-09 10:25] KrishnaG-MSFT commented on #71634
@cpercy737 Thanks for the insights.
@esmiddy At this point it appears that there's no edits or updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-03-09 10:25] #71634 closed

[2021-03-09 10:25] PatrickLownds opened #71853 "Do user objects flow from AAD to AD DS?"
The article implies that objects (Users, Groups & Devices) can flow in both directions. However, isn't that just Groups & Devices and so statements like the following below would be incorrect:

_Data can flow in either direction, but it cannot flow in both directions simultaneously. In other words, a Connector can be configured to allow data to flow from the connected data source to sync engine or

[2021-03-09 10:30] KrishnaG-MSFT commented on #71791
Tagging @mumian for visibility and to help provide insights if any.

[2021-03-09 10:30] KrishnaG-MSFT commented on #71750
Tagging @mumian for visibility and to help provide insights if any.

[2021-03-09 10:33] KrishnaG-MSFT commented on #71657
@dcurwin Assigned this issue to @ajithkr-ms

[2021-03-09 10:35] tomdbarker opened #71854 ".NET Core 3.1 Azure.Messaging.ServiceBus.ServiceBusException (ServiceCommunicationProblem) Error"
This example does not work for me in VS2019 with .NET Core 3.1 - (I have tried this on 2 different machines on 2 separate networks, both of which have access to the Azure Service Bus Queue in question). I have also confirmed that the ServiceBusExplorer app can access the Queue and send & receive without any issue. The connectionstring is identical (it was lifted from the app.config of the ServiceB

[2021-03-09 10:45] SadiqhAhmed-MSFT commented on #71766
@DavidChenLiang Raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/149462 to fix the typo. The changes should go live post review by the content owner.

[2021-03-09 10:46] savjani commented on #71348
@chriscopemorgan - Ack on your feedback for documentation. It is true for all new servers with large storage. The regions where large storage is available is documented here https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers#storage

[2021-03-09 10:47] waynehoggett opened #71855 "Clarification on “Requests are logged on a best-effort basis.”"
What does this line mean?

Requests are logged on a best-effort basis.

Does this mean that not all requests will be logged? i.e. Is this not auditing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ebd39b-ae34-4988-5694-09acd19693e8
* Version Independent ID: c36c476f-a7c3-1f68-7ef6-1a7e3664bbe1
* Content: [Azure Sto

[2021-03-09 10:58] ajithkr-ms commented on #71657
It is used both for detecting changed blocks and for consistency checks.

[2021-03-09 11:14] ZiyuGu commented on #68448
I have the same issue here. The SDK 1.00 version is really confusing on NotificationHubListener
Android Studio gives error:
Cannot resolve symbol 'NotificationHubListener'

[2021-03-09 11:17] teedor opened #71856 "Typo in link"
There's a typo in the link at the bottom of the page:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d67cfb74-f875-3645-e2fc-35f7c2abf3e3
* Version Independent ID: 45db88b1-3a24-fea8-bbaa-596b2590b320
* Content: [Geo-filtering on a domain for Azure Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/front-door

[2021-03-09 11:17] AndrewBlumhardt opened #71857 "Please proof read for misspelling and incomplete sentences."
[Enter feedback here]

Page description states "Use the precedures below to ensure your resource have the necessary...

Needs additional proof reading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Auto-depl

[2021-03-09 11:28] alexmpm opened #71859 "Possibly outdated page on AKS Image security baseline"
Hi,

On Nov 2020 we announced "**The AKS image now aligns to the Microsoft Security Baseline that conforms to Linux and Kubernetes benchmarks for CIS hardened images.**"
https://azure.microsoft.com/en-us/updates/aks-updates-for-november-2020/

But this doc page says otherwise: "**The security hardened OS _is NOT CIS benchmarked_. While there are overlaps with CIS benchmarks, the goal is not to be

[2021-03-09 11:31] pvrk commented on #71800
@joleito : Thanks for pointing out the mistakes. I have edited the examples and published. It will take a day or 2 to reflect. Can you please check on March 11th or so?

[2021-03-09 11:35] SwathiDhanwada-MSFT commented on #71846
@srishti-56 Thanks for your feedback. I have made changes to the document , and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-09 11:38] #71846 closed

[2021-03-09 11:39] VikasPullagura-MSFT commented on #71650
@Aaron-ML Thanks for sharing your thoughts and feedback on this.

Requesting you to drop your feature request [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks). Product team will prioritize accordingly.

[2021-03-09 11:39] VikasPullagura-MSFT commented on #71650
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-09 11:39] #71650 closed

[2021-03-09 11:48] chaisen2006 opened #71860 "Access Required for the User"
Can you please specify what privileges' ( minimum and not an admin :))  is required for the user ( SQL DB on prem ) to do the migration from the Source DB for SSIS packages.

Also any other ports apart from 1433 that needs to be opened when connecting to our source SQL on prem DB.

Document Link : - https://docs.microsoft.com/en-us/azure/dms/how-to-migrate-ssis-packages
Thank you!

#### Document D

[2021-03-09 11:59] marcusgaspar commented on #71572
I do believe this part of the article needs to be updated. It is not clear and can drive our customers to configure it incorrectly.

[2021-03-09 12:05] andyliuliming opened #71861 "I think we can remove the two sentence about the etcd cert/ca."
the two sentences are not accurate:
The etcd key value store has a certificate signed by the Cluster CA for communication from etcd to the API server.
The etcd key value store creates a CA that signs certificates to authenticate and authorize data replication between etcd replicas in the AKS cluster.

I think we can remove "The etcd key value store has a certificate signed by the Cluster CA for co

[2021-03-09 12:11] Mayank-EBC opened #71862 "Text Correction"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/55882393/110468611-8832a100-80fe-11eb-9aba-3b2fbd5d73bd.png)

This should be Cosmos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azu

[2021-03-09 12:14] v-lyivan opened #71863 "broken link"
The link at the bottom leads to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb91d6c-e0b4-f680-0710-b49f43e242a5
* Version Independent ID: 61ceac26-0b66-4e01-a7ff-57bef7192d42
* Content: [Azure CDN POP locations by region](https://docs.microsoft.com/en-us/azure/cdn/cdn-pop-locations)
* Content Source: [a

[2021-03-09 12:19] fvarga01 opened #71865 "Indicate which ADF connector should be used to connect to Salesforce SALES Cloud"
Apparently Salesforce SALES Cloud is a subset of Salesforce SERVICE Cloud. After much digging a colleague confirmed that the ADF Service Cloud connector should be used to connect to Salesforce SALES Cloud.

Ask:
Please add a note to the documentation to indicate which ADF connector should be used to connect to Salesforce SALES Cloud.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-03-09 12:19] yoelhor commented on #69012
Thanks for your suggestion. We recently published a new [Generic SAML identity provider options](https://docs.microsoft.com/azure/active-directory-b2c/identity-provider-generic-saml-options?pivots=b2c-custom-policy#require-encrypted-saml-responses), that describes how to configure encrypted SAML responses. AD FS configuration is published under this [doc](https://docs.microsoft.com/powershell/modu

[2021-03-09 12:19] #69012 closed

[2021-03-09 12:28] alert101-gof opened #71866 "az cli instructions use wrong id"
Section 'Upgrade per cluster using Azure CLI' refers to assigning the role with the SPN's Client Id when it should be Object Id. To my understanding Client Id is used ambiguously with App Id which can't be used as assignee here.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726479b4-2432-beab-30f7-b1bb325c7b73
* Versi

[2021-03-09 12:41] CHEEKATLAPRADEEP-MSFT commented on #71865
Thanks for the feedback! I have assigned the issue to the content author to review and create a note on the documentation.

[2021-03-09 12:49] GitaraniSharma-MSFT commented on #71718
@tigerdeccan , thank you for your query.

Please find the ARM template which deploys a Front Door Standard/Premium (Preview) with an App Service origin, using a private endpoint to access the App Service application:
https://github.com/Azure/azure-quickstart-templates/tree/master/201-front-door-premium-app-service-private-link

Here is the link for all ARM template samples : https://docs.microsoft

[2021-03-09 13:01] nandaguruswamy opened #71867 "Some pre-checks that would help for a better integration"
Here are some of the issues we observed:
1. If Seamless SSO is enabled, then the OUs that contain win 10 devices needs to be synced or device registrations will fail.
2. Then consequently, the number of objects needs to be monitored so it doesnt exceed the limit.
3. UPN changes made on prem will not sync unless the sync for managed users is enabled
The first 2 points need to be mentioned in the ar

[2021-03-09 13:22] GitaraniSharma-MSFT commented on #71837
@lissff , Thank you for your query. We are currently investigating this issue and will get back to you shortly!

[2021-03-09 13:24] GitaraniSharma-MSFT commented on #71856
@teedor , thank you for bringing this to our notice. We are currently reviewing this and will update the doc soon.

[2021-03-09 13:26] GitaraniSharma-MSFT commented on #71863
@v-lyivan , thank you for your feedback. We are currently reviewing this issue and will get back to you shortly!

[2021-03-09 13:35] SwathiDhanwada-MSFT commented on #71866
@alert101-gof Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-09 13:37] BhargaviAnnadevara-MSFT commented on #71867
@nandaguruswamy Thank you for the feedback. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-09 13:41] selvamani1991 opened #71868 "Mqtt was not connected using Azure SSL Certificate"
I have used the below code was not working for mqtt connection
from paho.mqtt import client as mqtt
import ssl

path_to_root_cert = "xxx.pem"
device_id = "xxx"

iot_hub_name = "xxx"

def on_connect(client, userdata, flags, rc):
    print("Device connected with result code: " + str(rc))

def on_disconnect(client, userdata, rc):
    print("Device disconnected with result code: " + str(rc))

def on_p

[2021-03-09 13:48] vipulsparsh commented on #71850
@Darkwolf0815 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-09 13:50] russellds opened #71869 "Add Additional Column for Suitability"
The document mentions the following:

However, when looking at the table there isn't a specific column calling out if the rules are suitable for inbound or outbound traffic. The suitability for inbound or outbound traffic is only mention as a note in the **Purpose** column. I recommend for clarity that an additional column is added for **Suitability** that explicitly defines the suitability for in

[2021-03-09 13:50] vipulsparsh commented on #71853
@PatrickLownds Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-09 13:52] tomkuijsten commented on #70912
@timsander1 for now I got a suggestion from @eavanvalkenburg to add an extra http trigger in my functions project to set the index to spatial and use that function in my deploy pipeline. Nice clean solution until ARM/CLI is available.

Thanks for all the help, I'll close the issue.

[2021-03-09 13:52] #70912 closed

[2021-03-09 13:53] vipulsparsh commented on #71857
@AndrewBlumhardt Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-09 14:03] nandaguruswamy commented on #71867
hi

It was this one -
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-migrate-adfs-password-hash-sync

*Thanks & Regards*
*Nanda Guruswamy*
*------------------------------------------------------*

On Tue, Mar 9, 2021 at 2:37 PM BhargaviAnnadevara-MSFT <
***@***.***> wrote:

[2021-03-09 14:04] BhargaviAnnadevara-MSFT commented on #71868
@selvamani1991 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-09 14:05] #71758 closed

[2021-03-09 14:11] vipulsparsh commented on #71771
@PhilipHaglund Can you ask this query here https://answers.microsoft.com/en-us
They are more aligned with Office 365 Services query.

You can ask the question on Microsoft List forum [here ](https://answers.microsoft.com/en-us/search/search?SearchTerm=Microsoft%20lists&tab=&status=all&advFil=&IsSuggestedTerm=false&isFilterExpanded=undefined&CurrentScope.ForumName=msoffice&CurrentScope.Filter=&Cont

[2021-03-09 14:11] russellds commented on #71869
Nevermind, I didn't see the scroll bar at the end of the table.

[2021-03-09 14:11] #71869 closed

[2021-03-09 14:20] mekanne opened #71870 "Hi,"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-09 14:25] mumian commented on #71791
Tagging @tfitzmac

[2021-03-09 14:32] mattallscripts opened #71871 "Request: repository of verified applications that support this front-line worker feature"
This feature is valuable for a single app and becomes even more valuable if the other apps on a nurse's device would support this feature. To that end, it'd be great to have a repository of verified applications that support this front-line worker feature that our software can partner with. Also, is there any timeline for when this feature will be GA?

---
#### Document Details

⚠ *Do not edit thi

[2021-03-09 14:48] sjuratov opened #71872 "It's not Hardware Security Model but rather Hardware Security Module"
Page is calling Hardware Security **Model** where in fact it should be Hardware Security **Module**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f527b03-ace9-5b5c-0def-d4c6fe3451f3
* Version Independent ID: aa34244f-414d-70ec-16e9-bc52c5cde909
* Content: [Customer-managed keys for account encryption - Azure Storage]

[2021-03-09 15:15] pvrk commented on #71800
#please-close

[2021-03-09 15:15] #71800 closed

[2021-03-09 15:29] yutaro113 commented on #71517
Thanks for the confirmation and update!! I'll wait for the update!

[2021-03-09 15:30] sushdroid commented on #71523
Hi @BryanTrach-MSFT, yes Baidu recently replied asking us to verify whether the phone we're using is able to open the webpage https://push.baidu.com. Looks like certain devices are not able to open this webpage and hence we're getting the above error. We will continue to research more on this.

[2021-03-09 15:43] garyboutet opened #71874 "Broken Code Example"
The code example is wrong. Using the latest version of Azure.Communication.Identity (version 1.0.0-beta.4), the method GetTokenAsync() on CommunicationIdentityClient does NOT exist.

wrong:
`var tokenResponse = await client.GetTokenAsync(identity, scopes: new [] { CommunicationTokenScope.VoIP });`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-09 15:48] yotauber opened #71875 "How can probe failures be monitored and acted upon?"
This documentation describes what happens in the load balancer level when probing fails: The load balancer will remove the faulty instance from rotation, no longer directing new requests to it. However, it doesn't seem to specify if this can help investigate the underlying issue (manually or automatically). In other words - how can someone (a person or some automation) be notified about this fault

[2021-03-09 15:49] MonikaReddy-MSFT commented on #71859
@alexmpm - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 15:49] #71859 closed

[2021-03-09 15:54] MonikaReddy-MSFT commented on #71861
@andyliuliming - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 15:54] #71861 closed

[2021-03-09 15:56] mayurpuli commented on #71804
Hello @NavtejSaini-MSFT : Any updates here?

[2021-03-09 15:58] BhargaviAnnadevara-MSFT commented on #71870
@mekanne Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-09 16:04] JamesTran-MSFT commented on #71851
@mrventerj
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-09 16:08] PramodValavala-MSFT commented on #71838
@dcbrown16 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-03-09 16:09] Norrch2 commented on #71760
@yoelhor

When you mention yet. Are these on the roadmap to be supported in the near future?

[2021-03-09 16:09] spelluru commented on #42797
@jfggdl - Please track this in a work item internally. Thanks.

#please-close

[2021-03-09 16:09] #42797 closed

[2021-03-09 16:09] BhargaviAnnadevara-MSFT commented on #71868
@selvamani1991 If you had bumped into the above error while following through any of the tutorials/quickstarts from the Azure documentation, do share the URL here so I can route your query to the right Team.

This channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the [Azure](https://docs.microsoft.com/azure) documentation

[2021-03-09 16:10] JonathonAnderson opened #71876 "Missing table references"
In the Data Reference section, the "Product" and "Expenses table are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Version Independent ID: 7952af48-217c-d753-2ec0-a14fe75867cd
* Content: [Analyze Azure costs with the Power BI App](https://docs.microsoft.com/en-us/azure/c

[2021-03-09 16:34] jfggdl commented on #42797
Thank you @spelluru. We are tracking now this item with internal work item 9489937.

[2021-03-09 16:36] alkohli commented on #68435
@RDukes425 The fix is in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/149518 and is merged. The changes should go live soon.
Please close. #please-close

[2021-03-09 16:36] #68435 closed

[2021-03-09 16:41] tyeth opened #71878 "Suggestion: Add web app properties to output"
Thank you for this series of lessons. The ARM templates are just about bearable but bicep will make it all a lot easier.

At this point you could reinforce the learning, and expose the user to the webapp properties by adding it as an output.

 I was going to output the hostnames but tried the whole properties object and it was so informative! I didn't realise it had a property to list the possible

[2021-03-09 16:42] ChrisGibson1982 opened #71879 "Clarity on Guest configuration CPU limit"
The current guest configuration policy documentation mentions a CPU limit.  Is this for each policy that runs or are all guest configuration operations (in total) limited to only 5% of CPU?  I'm asking as it would make a difference to how many/type of policies I created.

"To limit the extension from impacting applications running inside the machine, the Guest Configuration isn't allowed to exceed

[2021-03-09 16:53] DCtheGeek commented on #71879
#assign:mgreenegit
#label:"product-question"

@ChrisGibson1982 Thanks for the question.  I've pinged the PM to confirm the answer.

#label:"in-progress"

[2021-03-09 17:00] #70642 closed

[2021-03-09 17:00] PeterCLu commented on #71155
#sign-off

[2021-03-09 17:01] PeterCLu commented on #71155
#please-close

[2021-03-09 17:01] #71155 closed

[2021-03-09 17:29] JamesTran-MSFT commented on #71785
@ahmetarslan2020
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous post?

[2021-03-09 17:31] ss4aman opened #71880 "Document steps giving issue while starting MirrorMaker. Workaround Mentioned"
[Enter feedback here]
Hello Team,

I have tried all the same steps in the document. When I went to the step to Start MirrorMaker in the secondary Cluster, I received this error It mentioned that there were no resolvable hosts in bootstrap.servers
![image](https://user-images.githubusercontent.com/80350843/110512569-5421a500-812b-11eb-8274-25dd6fa73775.png)

The workaround I used in this case was t

[2021-03-09 17:33] bbrandt opened #71881 "TLS 1.2 required vs CA5386: Avoid hardcoding SecurityProtocolType value"
The [solution for the TLS 1.2 required issue](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#solution-1) seems to violate [CA5386: Avoid hardcoding `SecurityProtocolType` value](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca5386).  What is the best way to reconcile this with the latest ASP.NET Core version?

---
#### Docum

[2021-03-09 17:35] KranthiPakala-MSFT commented on #71471
The PR for the fix has been created and changes are merged. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you

[2021-03-09 17:35] #71471 closed

[2021-03-09 17:36] mgreenegit commented on #71879
cc @nitinbps

[2021-03-09 17:36] daemel opened #71882 "Missing Grant Consent step from setup instructions"
We are missing the Grant Consent step from this setup page
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9d1459d-b21b-7a56-d484-50c20a95c628
* Version Independent ID: 9adb2b55-d08f-aa34-7d6f-5fa87e1603ae
* Content: [Postman FHIR server in Azure - Azure API for FHIR](https://docs.microsoft.com/en

[2021-03-09 17:41] ChrisGibson1982 commented on #71879
Brilliant, just what I hoping for. Thanks

[2021-03-09 17:43] SatishBoddu-MSFT commented on #71714
@stperic Just checking in, please let us know if you have further information or we can close this issue.

[2021-03-09 17:44] DCtheGeek commented on #71879
@ChrisGibson1982 As @mgreenegit has answered your question, I'm going to close this issue.  Thanks again!

#please-close

[2021-03-09 17:46] #71617 closed

[2021-03-09 17:48] willmccardell opened #71883 "Include location of logs if ran as SYSTEM"
Azcopy is often used as part of scheduled tasks to move files, and these can be run as SYSTEM. As part of the documentation, I'd expect to be able to see the location the logs are output if there is no %USERPROFILE%, such as when running under SYSTEM context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0

[2021-03-09 17:51] mumian commented on #71750
@haivercarrillo Thanks for your comment! I will refresh the article by the end of this week.

[2021-03-09 18:10] SaurabhSharma-MSFT commented on #71880
@ss4aman Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-09 18:19] julieMSFT commented on #70724
@jasonhorner, Thank you for contacting Microsoft. You are correct about the toc and I have updated the toc. You should see the changes later today. Transactions do not apply to serverless SQL pool. Thank you for your contribution to ensuring our docs are accurate. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further co

[2021-03-09 18:19] ChaitanyaNaykodi-MSFT commented on #71845
Hello @salqueng
Thank you for your feedback! We will review and update as appropriate.

[2021-03-09 18:19] julieMSFT commented on #70724
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/149583

[2021-03-09 18:20] julieMSFT commented on #70724
#please-close

[2021-03-09 18:20] #70724 closed

[2021-03-09 18:21] ChaitanyaNaykodi-MSFT commented on #71854
Hello @tomdbarker,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-09 18:24] julieMSFT commented on #69994
@jovalen, I have researched this issue. The  Hive standard is that tables are all case insensitive so it stores them all as lower case. All tables will be created in lower case and will need to be queried in lower case. I have updated the doc and you should see the changes later today. Thank you for bringing this to our attention and improving Microsoft Docs.

[2021-03-09 18:25] julieMSFT commented on #69994
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/149592

[2021-03-09 18:25] julieMSFT commented on #69994
#please-close

[2021-03-09 18:25] #69994 closed

[2021-03-09 18:28] tamram commented on #71872
@sjuratov - Thanks for the feedback. The doc has been updated.

#please-close

[2021-03-09 18:28] AjayKumar-MSFT commented on #71732
@VicSmith, Just to confirm, where are you seeing international numbers showing up? Could you please share a screenshot after concealing any private info.

 SMS messaging is available within US only. PSTN calling is available to/from the US.

[2021-03-09 18:28] #71872 closed

[2021-03-09 18:35] JamesTran-MSFT commented on #71851
@mrventerj
Thank you for pointing this out and providing your error details!

When it comes to the error message you received, it looks like it's more related to the reply URL specified in the request.

**Error Message:**
AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'one.zoho.com'.

Looking through the tutorial, I saw some refere

[2021-03-09 18:41] ChaitanyaNaykodi-MSFT commented on #71854
Hello @tomdbarker, Can you please try the resolutions mentioned here in the [messaging exceptions page](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions#socketexception)? Also can you please confirm if [these ports](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-faq#what-ports-do-i-need-to-open-on-the-firewall) are not blocked

[2021-03-09 18:47] DerekHerman-MSFT commented on #71627
@vikaskumawat80 Thanks for your patience while we looked into this issue. The ACLs and AD auth configuration on the storage account would be persistent based on the last sync timestamp at the failover. You should continue to use the same share mount path for the share. The only aspect I would double check is on the network connectivity ensure that your client can connect to the secondary site and

[2021-03-09 18:49] DerekHerman-MSFT commented on #71855
@waynehoggett Thanks for your question. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-09 18:52] TravisCragg-MSFT commented on #70385
@Klaas- It is important to understand that Availability Zone and Availability Set are separate, and do not overlap.

For your Availability Set Fault domain questions:
There is no guarantee on the Availability Zone of a VM in an Availability Set. 10 VMs in an Availability Set with 10 Fault Domains could be all on 1 Availability Zone, or spread across 3 Zones.

For your Example: an undefined availab

[2021-03-09 18:52] AjayKumar-MSFT commented on #71707
@JakeCroz1, Apologies for the delay!

Kindly ensure that you're leveraging the latest version of SDK.
Just to isolate -Try MemoryStream.Read() on a non-empty MemoryStream where offset == length.
Please check the content-length and see the ms.Position = 0 works.
See [this similar](https://github.com/Azure/azure-sdk-for-net/issues/10814) discussion thread.

Also, you could capture a network track vi

[2021-03-09 18:53] JamesTran-MSFT commented on #71871
@mattallscripts
Thank you for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

When it comes to this feature going GA, we currently don't have a timeline. However, I'd recommend using [Azure updates](https://azure.microsoft.com/en-us/updates/) to get the latest updates on Azure products and features.

Thank you for your time and patience throug

[2021-03-09 18:59] VicSmith commented on #71732
@AjayKumar-MSFT , You can close this.  My error.  The page I was looking at one link off the page.  It was all the countries Azure was available.... Had nothing to do with SMS service and I thought it was related.

Please close.

[2021-03-09 18:59] #71732 closed

[2021-03-09 19:03] rajdeepdebnath opened #71885 "Is there any security issue to use Self-Signed Certificate with Azure P2S VPN?"
Is there any security issue to use Self-Signed Certificate with Azure P2S VPN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content: [Connect to a VNet using P2S VPN & certificate authentication: portal - Azure VPN G

[2021-03-09 19:03] vigouredelaruse opened #71886 "appeal for documentation to detail how to create self-signed CLIENT AUTH certs in keyvault"
suppose you have 2 azure ad protected apps, one that calls the other in the client role

it's better not to put the client secret in your code but put a client cert in azure keyvault and refer to that. but the documentation is in general sparse about the specifics of the kinds of self-signed certs keyvault can generate

the auth specialists of course know exactly what to do here, but i don't and i

[2021-03-09 19:05] PhilipHaglund commented on #71771
Some information regarding this issue is found here https://techcommunity.microsoft.com/t5/intune-customer-success/support-tip-how-to-enable-intune-app-protection-policies-app/ba-p/2100061

Seems that the Conditonal Access team hasn't added Microsoft Lists as an Approved App yet.

[2021-03-09 19:18] himanshusinha-msft commented on #71674
Hello @c-14795 ,
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario about how to have a custom job name  . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
 .

[2021-03-09 19:19] karlochacon opened #71888 "import groups when importing users for Azure AD"
hi guys

I am using this for my company and importing users in azure AD for Azure Lighthouse but I don't see a way to import the groups for the users, is there a way to add a column for group so groups are added when user in created?

Thanks a lot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d8f-7fce-bf5d-1ebd-2

[2021-03-09 19:24] TomArcherMsft commented on #71813
@cynthn

Hi, Cynthia,

While not an article dedicated to the task, the following article - as part of a larger tutorial series - does create a VM with a disk:

[Tutorial: Create on-premises virtual network in Azure using Terraform](https://docs.microsoft.com/azure/developer/terraform/hub-spoke-on-prem#declare-the-on-premises-vnet)

Let me know if this helps or not.

Cheers,
Tom

[2021-03-09 19:36] ChaitanyaNaykodi-MSFT commented on #71789
Hello @luislinietsky, just following up to see if the document shared above helped in resolving the issue.

[2021-03-09 19:39] ssivas commented on #71825
@colinhqgit ,

Thanks for reaching out.

I was getting same error `Message: The email you’re using to invite this user doesn’t match any emails on the user object. Please add this email to the user object and try again.` , when I tested this with both ways (PowerShell and Graph API).

I had successfully reset redemption status for a guest user by using PowerShell and Graph API, after adding **New

[2021-03-09 19:40] Tiberriver256 commented on #62254
Hi @JamesTran-MSFT
Sorry to poke an old issue but it looks like there are several pending PRs in that repo with updates to the XSD. Any way we can get someone from MSFT to take a look at those and update the xsd? or possibly share the updated xsd Microsoft uses internally?

[2021-03-09 19:43] normesta commented on #59341
Thank you for your feedback @rlevchenko . Yes you are right! I've updated the content to make clear that if you create a private endpoint for the Data Lake Storage Gen2 storage resource, then you should also create one for the Blob storage resource. Thank you again!

#please-close

[2021-03-09 19:43] #59341 closed

[2021-03-09 19:47] KanishkT123 opened #71889 "Outdated Download Link for sqlcmd"
The download center link for the SQL Command Lines Utilities is outdated.

It currently point to: https://www.microsoft.com/download/details.aspx?id=36433

This is a static download to a now unsupported version of command line utilities. This version actually cannot run on a new computer, since the driver needed is no longer available.

It should point to: https://docs.microsoft.com/en-us/sql/tool

[2021-03-09 19:49] vladvino commented on #71838
Created a PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/149706.

[2021-03-09 19:52] memildin commented on #71857
Hi @AndrewBlumhardt, thanks for the feedback and for taking the time to help us improve the docs.

I've taken a pass over this page and cleaned up the things you've highlighted as well as some other things I've found. The changes will go live within the next 48hrs.

I'll close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-03-09 19:52] #71857 closed

[2021-03-09 19:59] normesta commented on #52212
#please-close

[2021-03-09 19:59] #52212 closed

[2021-03-09 20:00] JamesTran-MSFT commented on #62254
@Tiberriver256
It's no problem at all, thank you for pointing this out!

I was able to find these two pending PRs (please let me know if there are more):
https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/pull/74
https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/pull/88

@mmacy or @msmimart do we have anyone that can look into these?

[2021-03-09 20:00] markgar opened #71892 "App Service Plan Size Not Available"
Your screenshot shows choosing an App Service Plan size that doesn't seem to exist for me.

Should this be changed to show PV3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd52d297-e2d9-9a51-3ed6-05c33f521672
* Version Independent ID: b9f21bef-4944-fbc1-c39c-7c2a0c939ce3
* Content: [Quickstart: Run a custom containe

[2021-03-09 20:01] JamesTran-MSFT commented on #71886
@vigouredelaruse
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-09 20:06] colinhqgit commented on #71825
@ssivas Thanks for the quick response. Indeed, it works in Azure AD.

I am trying to automate this process using the Graph API as our application currently is deleting the account and creating a new one when the email address changes. This feature is sorely welcomed!

I look forward for updates. :)

[2021-03-09 20:09] tielushko opened #71893 "Where to get the @azure/acs-ui-sdk."
Hello Microsoft Team!

I was trying to get started with some of the ACS React components in the documentation. It mentions that I need to install the package with the provided tarball, but I am not sure I can find it anywhere, and the npm package manager doesn't recognize it as well...

Where could I get the ACS UI tarball?

Thank you for your help in this!

Best,
Oleg T.

---
#### Document Detail

[2021-03-09 20:12] hotgore commented on #69477
I have a VPN app that uses UDP and we are seeing tons of packet loss and fragmentation when using Azure? How can someone enable "enable-udp-fragment-reordering"?

[2021-03-09 20:14] ssivas commented on #71825
This should work with both scenarios like "already accepted" and "PendingAcceptance"

[2021-03-09 20:18] crystalgeek opened #71894 "Duplicate Machine Sizes listed in General Purpose and Memory Optimised"
General Purpose and Memory Optimized VM Sizes both list DSv2 and Dv2 as a machine size in this category

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent ID: 44068874-d5de-c2bf-d33b-22b649c7637c
* Content: [VM sizes - Azure Virtual Machines](https://docs.microsoft

[2021-03-09 20:19] ssivas commented on #71825
I just checked with our Product group and confirmed that this is expected behavior.

The email needs to be added to the user before resetting. This can be in mail or otherMails on the user.

We will update same on the Doc. Thanks for bringing this to our notice.

[2021-03-09 20:19] #71825 closed

[2021-03-09 20:21] vigouredelaruse commented on #71747
bit of a drag on your side since this is really an open issue at docker to integrate properly with local keystores for all users all the time but thanks for looking into it

[2021-03-09 20:22] GauravES opened #71895 "Can I monitor only a few servers in a non-Azure cloud, such as in AWS or on-premise?"
[Enter feedback here]

Understood that all servers in my Azure tenant will be covered automatically.  Can you clarify in this document how servers not in Azure will be covered?  For example, if I attach my AWS tenant for this purpose, will the feature be enabled for all EC2 servers in that tenant or just the ones on which I install the agent software?

---
#### Document Details

⚠ *Do not edit thi

[2021-03-09 20:23] TomArcherMsft commented on #71813
@rbavery Let me connect with the engineering team to see if we can get an example to you.

[2021-03-09 20:32] BharathNimmala-MSFT commented on #71848
@CharlPels Thank you for reaching out with your query, we will review and get back to you at the earliest.

[2021-03-09 20:38] MashaMSFT commented on #67906
Hi @ToddGe , thanks for reaching out! No, there is no technical requirement that VMs participating in an Always On availability group must be the same size, or SKU. However, from a business perspective, if the secondary replica takes over, it should be able to handle the workload of the primary, even during peak activity. As such, even if the VMs are not the same size or SKU, both VMs should be si

[2021-03-09 20:40] AndreasPirker commented on #42379
Still suffering from this. Is the only way downgrading to a two-year-old version of Visual Studio Code???!

[2021-03-09 20:48] #71791 closed

[2021-03-09 20:50] opticyclic opened #71896 "Rename The Storage Blobs Media Sub-Directories"
The directories in https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/storage/blobs/media are:

    storage-blob-account-upgrade
    storage-blob-change-feed
    storage-blob-create-account-block-blob
    storage-blob-encryption-status
    storage-blob-event-overview
    storage-blob-event-quickstart-powershell
    storage-blob-event-quickstart
    storage-blob-immutability-policies-

[2021-03-09 20:53] spelluru commented on #26477
@SeanFeldman - So sorry. It is taking long to update this article. I have been working with Ashish to add sections with Cause and Resolution sections. I have added an internal work item to update a bunch of articles for the new SDK and this is one of them. I will close this issue, but I will work on it as part of my latest SDK work. Thanks.

#please-close

[2021-03-09 20:53] AndyWDev commented on #71815
Hi thanks,
  I ended up skipping down to the "install nuget packages" part below and running the commands there.

  Normally, when I see instructions that say 'install sdk'  there is an attached MSI (such as the windows sdk) that is required.

  It would be great if the steps outlined in the animation could be listed under the the 'download and install Azure .Net sdk'.

  It isn't obvious that it

[2021-03-09 20:54] #30060 closed

[2021-03-09 20:54] baanders commented on #71689
Hi @algattik, I've added this additional requested information in the [fix PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/149313):

![image](https://user-images.githubusercontent.com/55546137/110536670-ba88d200-80ef-11eb-9f31-c47bb649018c.png)

Please let me know if this resolves the issue! Thank you.

[2021-03-09 21:09] adlesh commented on #31468
Not a big deal for my organization for this specific LA, but I noticed that even specifying Hours and Minutes does not guarantee a start at that time exact time. For example, this is the output from Code Designer (with the obvious amendments) and this LA launches at 0:21 quite frequently.
[code]
![image](https://user-images.githubusercontent.com/36427090/110537843-3a636c00-80f1-11eb-9650-128ba0c76

[2021-03-09 21:34] DerekHerman-MSFT commented on #71883
@willmccardell Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-09 21:36] JamesTran-MSFT commented on #71888
@karlochacon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-09 21:37] JamesTran-MSFT commented on #71895
@GauravES
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-09 21:47] alkohli commented on #71453
@blochl Confirmed w/ Engineering that sudo is not required. Signed off on the suggested change in the public repo PR #71483. Should go live soon.  #please-close

[2021-03-09 21:47] #71453 closed

[2021-03-09 21:47] knicholasa commented on #71850
Hi @Darkwolf0815 thanks for catching this. I'm going to update the documentation with the proper command: dotnet new -i Microsoft.Identity.Web.ProjectTemplates::1.6.0

[2021-03-09 21:47] knicholasa commented on #71850
#please-close

[2021-03-09 21:50] rbrayb opened #71898 "UserJourneyBehaviors comes after Endpoint"
"add a <UserJourneyBehaviors> child node to the <RelyingParty> node. **It must be located immediately after** <DefaultUserJourney ReferenceId="UserJourney Id" from your extensions policy, or equivalent (for example:SignUpOrSigninWithAAD" />."

If you are using the UserInfo sample (https://docs.microsoft.com/en-us/azure/active-directory-b2c/userinfo-endpoint?pivots=b2c-custom-policy), then it has t

[2021-03-09 21:51] KumudD commented on #68204
@ruderod Thanks for your feedback. The image is now updated.

#please-close

[2021-03-09 21:51] #68204 closed

[2021-03-09 21:55] DerekHerman-MSFT commented on #71816
@jonwbstr Apologies for this! I have reopened the issue and assigned it to the author. Thanks for your valuable feedback.

[2021-03-09 21:55] #71816 closed

[2021-03-09 21:58] karlochacon commented on #71888
I just found there is another import bulk to import the users and group but it would be great if in the same import bulk for users would allow me to add the groups for the user in the import excel

thanks

[2021-03-09 22:05] SamaraSoucy-MSFT commented on #70666
@Tom-Van-Asch Here's the information I got from the product team.

The error is the expected behavior with your setup. Either add the dependencies to your pom.xml or enable the Java agent, but not both. If you do both, the java agent takes precedence and the zipkin server will be unavailable.

There is a known issue with the Java agent that will be patched later this month where some telemetry is

[2021-03-09 22:11] SamaraSoucy-MSFT commented on #71596
So there are two types of restores you can do- one that is the restore point that you were asking about. In that case it will work exactly as you've described- the copy starts when you begin the restore.

The second type is a full backup. If the data center goes down fully, the restore points may not be available and your restore point transfer would most likely fail, but the backup would be. The

[2021-03-09 22:32] JamesTran-MSFT commented on #71898
@rbrayb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-09 22:34] spelluru commented on #60662
Added a note on this. The updated article will go live tomorrow morning around 10 AM PST.

#please-close

[2021-03-09 22:34] #60662 closed

[2021-03-09 22:43] JakeCroz1 opened #71901 "API access (new) blade is NOT on the left navigation bar"
I created a new Media Services account, https://docs.microsoft.com/en-us/azure/media-services/latest/create-account-howto?tabs=portal) , and after the account was made, I attempted to setup the API access through https://docs.microsoft.com/en-us/azure/media-services/latest/access-api-howto?tabs=portal. The problem is in the documentation that I used to attempt to setup the API access. Within that

[2021-03-09 22:56] olivelawn opened #71902 "Portal shows a network interface, but resource not found when selecting. Error says to come to this page(https://aka.ms/ARMResourceNotFoundFix), but this page unhelpful."
I am trying to delete a network interface resource, but getting a resource not found error. Tells me to come to this page, but this page not helpful. Any ideas on how I can delete this resource?  I have a free account and cannot open a ticket.

<img width="984" alt="Screen Shot 2021-03-09 at 5 53 21 PM" src="https://user-images.githubusercontent.com/702059/110549786-941f6280-8100-11eb-8489-25086b2

[2021-03-09 22:59] toddwhitehead commented on #64292
@Karishma-Tiwari-MSFT The docs still don't seem have been updated to reflect the requirement for x64 architecture. Given its now GA the docs should be updated.

[2021-03-09 23:11] rbavery commented on #71813
Thanks for the quick response. Yes I'm trying to mount a blob container or file storage. The file storage instructions are less complicated then the blobfuse instructions and didn't require a custom package to be installed so currently I'm most interested in mounting a File Storage.

[2021-03-09 23:13] cynthn commented on #71813
@ramankumarlive can you help or point us to someone who can help with mounting Azure File Storage to a Linux VM?

[2021-03-09 23:24] opticyclic opened #71904 "How Does UseDevelopmentStorage Work?"
I can't work out how to connect my Java blob storage test to Azurite.

The docs say:

    <appSettings>
      <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    </appSettings>

What is this `app.config file`? Is this C#?

Is it supposed to be in the `local.settings.json`?

How does this work when running with Java or Intellij IDEA?

---
#### Document Details

⚠ *Do not ed

[2021-03-09 23:26] julieMSFT commented on #69241
@BreakingBI Thank you for contacting Microsoft. We are working on providing a diagram. This may take from a few business days to a few weeks. I have created a work item to track this work and will let you know when it it complete. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to

[2021-03-09 23:29] julieMSFT commented on #69241
#please-close

[2021-03-09 23:29] #69241 closed

[2021-03-09 23:29] julieMSFT commented on #69241
#assign:julieMSFT

[2021-03-09 23:41] TheAnahaym opened #71905 "Why ping isn't recommended to be open?"
[Why ping isn't recommended to be open? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84d04de-a015-145b-caed-5547833ff6ce
* Version Independent ID: 0f8c7347-35f4-9dea-856c-447b4c3967d1
* Content: [Connect virtual networks with VNet peering - tutorial - Azure portal](https://docs.microsoft.com/en-us/azure/virtual-ne

[2021-03-09 23:43] TravisCragg-MSFT commented on #71894
@crystalgeek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-09 23:55] rboucher commented on #69579
Page updated was updated about a week ago.

[2021-03-09 23:56] rboucher commented on #69579
#please-close

[2021-03-09 23:56] #69579 closed

[2021-03-09 23:56] DerekHerman-MSFT commented on #71761
@dcbrown16  Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-10 00:04] TravisCragg-MSFT commented on #71875
@yotauber are you using cloud services classic or [Azure load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview)? It is highly recommended to make new deployments away from cloud services, and the functionality on cloud services will be limited.

[2021-03-10 01:16] roygara commented on #71665
Hello @jonwbstr , are you an MS employee? If so, would you send reach out to me internally? My alias is at the top of this GitHub issue. I'll start a thread with the relevant folks.

[2021-03-10 01:19] julieMSFT commented on #71007
#reassign:julieMSFT

[2021-03-10 01:20] julieMSFT commented on #71810
#reassign:julieMSFT

[2021-03-10 01:24] #71640 closed

[2021-03-10 01:52] curtand commented on #71529
Hi @JamesTran-MSFT

can you assign this to @Nicholak-MS? He’s making updates to this reference article while they work on automation for it. Thanks!!

[2021-03-10 01:56] leizhang1984 commented on #71596
@SamaraSoucy-MSFT , Thank you for your clarify and please close this issue.

Appreciate your strong support.

[2021-03-10 02:12] wukun2015 commented on #71834
@RohitMungi-MSFT , thanks for reply.

Do we have plan to support such feature ?

[2021-03-10 02:17] bryans2k opened #71909 "Is this HTML5 web client only?"
I've followed the documentation for both pre-auth and pass-through. With both configuration's only the HTML5 web client works and not the RDP files. Can someone tell me if this is supposed to be the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fcb539-bdbd-068d-46c0-44058146031e
* Version Independent ID: 15e99

[2021-03-10 02:22] AnuragSharma-MSFT commented on #71882
@daemel Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-10 02:23] AnuragSharma-MSFT commented on #71889
@KanishkT123 Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-10 02:58] MayankBargali-MSFT commented on #71585
@lipalath-ms I couldn't reproduce the issue at my end. MicrosoftDocs Github issue is mainly related to the document issue and the issue is more specific to your application. I do see that you have already posted your query [here](https://docs.microsoft.com/en-us/answers/questions/301303/index.html). I will close this Github issue and will continue to work on the Microsoft Q&A issue.

[2021-03-10 02:58] #71585 closed

[2021-03-10 02:59] MayankBargali-MSFT commented on #71721
@kye Just following up here. Hope my previous comment clears things up.

[2021-03-10 03:05] jonwbstr commented on #71665
Hello,

I'm a Partner and do a fair amount of azure implementations and training. asher.nierman @ microsoft.com may be able to help us. My email is jwebster @ protectedtrust.com.

P.s. I'm editing this post after submitting the comment to keep the email address out of github

[2021-03-10 03:07] BryanTrach-MSFT commented on #71523
@sushdroid Sure, thank you for the update.

Since you are working with Baidu and as of right now, the issue does not seem to be with Notification Hub, we will archive this post. If you feel that there is an issue with Notification Hub, please reply here and tag me in your response so I receive an email. Or you can always create a new thread, which will be triaged by our team.

[2021-03-10 03:07] #71523 closed

[2021-03-10 03:16] AjayKumar-MSFT commented on #71874
@garyboutet, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-10 03:17] BhargaviAnnadevara-MSFT commented on #71896
@opticyclic Thanks for the feedback. We shall evaluate and update the directories as appropriate.

[2021-03-10 03:18] AjayKumar-MSFT commented on #71881
@yjin81, Requesting your comments on this feedback.

[2021-03-10 03:21] KrishnaG-MSFT commented on #71878
@tyeth Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-10 03:25] e-ehrhardt opened #71912 "es-MX is documented as not supporting prebuilt entities, but they are selectable in an es-MX LUIS app"
Presumably documentation needs updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c94ecde6-4f10-1d4f-03f3-7759e139dd53
* Version Independent ID: 9daf9e87-fc95-3330-c93c-3fa43c9936db
* Content: [Language support - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-l

[2021-03-10 03:26] e-ehrhardt opened #71913 "es-MX is documented as not supporting prebuilt entities, but they are selectable in an es-MX LUIS app"
Presumably this page's documentation needs updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5470819-3488-fb04-a111-fc5deba3e9d4
* Version Independent ID: 9787ae46-d1d7-de17-4deb-1477c735bf84
* Content: [All Prebuilt entities - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-ser

[2021-03-10 03:27] KrishnaG-MSFT commented on #71902
@olivelawn Can you refresh your page and confirm me if the issue still persists or not? Meanwhile, I will try to reproduce the issue from my end as well and also will check if something is broken in the backend that's probably causing this issue.

[2021-03-10 03:29] KrishnaG-MSFT commented on #71876
@JonathonAnderson Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration if appropriate.

[2021-03-10 03:29] BryanTrach-MSFT commented on #71892
@markgar Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-10 03:30] AjayKumar-MSFT commented on #71892
@markgar,  Thanks for posting this question.

From the "Change size" option under "SKU and Size" you need to select the appropriate App Service Plan SKU.

![image](https://user-images.githubusercontent.com/44606227/110572018-a0e29b80-817e-11eb-9956-6d18d8682690.png)

Kindly see this doc for more info - [Manage an App Service plan in Azure](https://docs.microsoft.com/azure/app-service/app-service-p

[2021-03-10 03:31] KrishnaG-MSFT commented on #71879
@DCtheGeek @mgreenegit Thanks for the quick response. :+1:

[2021-03-10 03:35] AjayKumar-MSFT commented on #71805
ualjjcanada, We will close this thread for now, if you have any further questions on this please just let us know.

[2021-03-10 03:35] #71805 closed

[2021-03-10 03:37] AjayKumar-MSFT commented on #71645
omerzubair, We will close this out, but if you feel you need more information please just let us know.

[2021-03-10 03:37] #71645 closed

[2021-03-10 03:45] BryanTrach-MSFT commented on #71893
@tielushko You can access the UI tarball [here](https://github.com/Azure/communication-preview/releases/tag/v0.1-ui-sdk). Please let us know if there are any further questions or concerns.

[2021-03-10 03:46] tielushko commented on #71893
Hi Bryan. Thanks for your quick response! Unfortunately the link shows up as 404.

[2021-03-10 03:48] malterman opened #71914 "Picture is Worth a Thousand Words"
Seems like there are thousands of words on the topics of username, email, directory, domain and subscriptions.  Can diagrams be used to augment the content and make it easier to digest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-

[2021-03-10 03:55] BryanTrach-MSFT commented on #71893
@tielushko I apologize for the confusion in my previous post and have deleted to avoid confusing anyone else. You are correct that it gave out a 404. It appears that it is not yet ready for public consumption as the feature is still in private preview. You can follow the below link to request approval for private preview access to the UI tarball. (They're aiming to potentially have it as an NPM pa

[2021-03-10 04:07] BryanTrach-MSFT commented on #71893
@tielushko I see you reaction to my previous comment. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply so I receive an email. We will gladly continue the discussion and we will reopen the issue.

Have a great week!

[2021-03-10 04:07] #71893 closed

[2021-03-10 04:24] SubhashVasarapu-MSFT commented on #71905
@TheAnahaym, open ICMP ports can be vulnerable to Ping flood attacks/DDoS attacks. So, Azure recommends this caution to avoid security breaches at network level.

[2021-03-10 04:25] AnuragSharma-MSFT commented on #71862
@Mayank-EBC Thanks for reporting this. I have created a PR as below:

![image](https://user-images.githubusercontent.com/66360845/110576340-a17f3000-8186-11eb-839d-9cd4674a0cb0.png)

This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly con

[2021-03-10 04:25] #71862 closed

[2021-03-10 04:43] CHEEKATLAPRADEEP-MSFT commented on #71815
@AndyWDev Thanks for the feedback! I have assigned the issue to the content author to review and add a note in the document.

[2021-03-10 04:51] ram-msft commented on #71912
@e-ehrhardt Thanks for the feedback! We will review and update accordingly.

[2021-03-10 04:51] AshokPeddakotla-MSFT commented on #71735
@tesych Please review this and provide your suggestions.

[2021-03-10 04:54] SubhashVasarapu-MSFT commented on #71784
@rossanov, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-10 04:54] #71784 closed

[2021-03-10 04:54] ram-msft commented on #71913
@e-ehrhardt Thanks for the feedback. it's duplicate of the following issue https://github.com/MicrosoftDocs/azure-docs/issues/71912.

[2021-03-10 04:55] vipulsparsh commented on #71914
@malterman Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-10 05:04] vipulsparsh commented on #71909
@bryans2k The Web client as well as RDP client should work, both are independent and should not interfere. What error are you getting ?

[2021-03-10 05:06] v-hagamp commented on #70686
The document updated as suggested above : https://github.com/MicrosoftDocs/azure-docs-pr/pull/147239
#please-close

[2021-03-10 05:06] #70686 closed

[2021-03-10 05:06] #71596 closed

[2021-03-10 05:07] Jason446620 commented on #42379
@AndreasPirker I have followed your question in the SO forum, and it is currently impossible to reproduce your situation. If possible, it is recommended to upload your sample code and pay attention to hiding confidential information so that I can reply to you after the test.

[2021-03-10 05:08] Jason446620 commented on #42379
@AndreasPirker In addition, please note your vscode version and function tools version, and tell me the local pc is linux, macos or windows?

[2021-03-10 05:14] olprod opened #71915 "Update the Standard SKU backup frequency to the correct value 5 days"
Copied from https://github.com/MicrosoftDocs/azure-docs.fr-fr/pull/737

Update the Standard SKU backup frequency to the correct value 5 days.
Changed file: articles/active-directory-domain-services/administration-concepts.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1d7ba3-d387-0849-5cb2-ceb4a399e8da
* Version I

[2021-03-10 05:15] VikasPullagura-MSFT commented on #71482
@MashaMSFT Thanks for sharing the details.

[2021-03-10 05:16] VikasPullagura-MSFT commented on #71482
@tflorio Can you please check previous comment and share your comments if you still have some feedback on the clarification on this.

[2021-03-10 05:24] ram-msft commented on #71913
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-10 05:24] #71913 closed

[2021-03-10 05:41] bluefooted commented on #64829
Sorry for the delay @tonycaidotcom , I was finally able to verify this and I'm making the doc change now.

[2021-03-10 05:42] RohitMungi-MSFT commented on #70255
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/147666
@kbrowne8 Thanks for updating the document. @NoahSomCA The updated document contains steps to configure IOT hub on the VM. Please try the steps and let us know if you are able to run the setup successfully.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your r

[2021-03-10 05:42] #70255 closed

[2021-03-10 06:05] AnuragSharma-MSFT commented on #71741
@rarandiv Thanks for replying back. I was able to reproduce the issue by moving the Azure SQL Server to different resource group. I then was not able to remove the Private Endpoint from Azure SQL Server and ended up in getting the same error as mentioned by you. However I can still go to the private Endpoint and delete from there.

I am assigning this to the content author to evaluate and update t

[2021-03-10 06:08] AnuragSharma-MSFT commented on #71773
@aelij Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-10 06:12] devvrr commented on #71847
can you please mention the same in the document

On Tue, Mar 9, 2021 at 10:37 PM Cynthia Nottingham ***@***.***>
wrote:

[2021-03-10 06:12] dixhap opened #71916 "how to define machine learning pipelines import data in YAML"
## Creating an issue

Azure ML tudio
reference link :
- https://docs.microsoft.com/en-us/azure/machine-learning/reference-pipeline-yaml
issue :
- import sql database yaml documantation not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac092952-4045-3862-e95f-8771d0b67649
* Version Independent ID: f33af841-db1e-

[2021-03-10 06:17] olprod opened #71917 "object has no attribute 'length' SDK v3.1"
Copied from https://github.com/MicrosoftDocs/azure-docs.es-es/pull/748

object has no attribute 'length' SDK v3.1
Changed file: articles/cognitive-services/text-analytics/includes/quickstarts/python-sdk.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3

[2021-03-10 06:19] rarandiv commented on #71741
Excellent. Thank you @AnuragSharma-MSFT. Appreciate your efforts!
Yes, but it's not clear in the document that we need to delete the private endpoint or the error message also not giving any as such hint about the same.
Looking forward to update the document as recommended.

[2021-03-10 06:22] Jigar191089 opened #71918 "What is flag -deleteDeployment doing in sample pre and post deployment script"
[Enter feedback here]

I had raised a query about use of -deleteDeployment flag in sample pre and post deployment script https://docs.microsoft.com/en-us/answers/questions/304930/sample-pre-and-post-deployment-script-azure-data-f.html

it seems the flag is used to delete the deployment history. However in the document there is no detail about what this flag is doing.

Can you please update the doc

[2021-03-10 06:23] olprod opened #71919 "Fix "current version" to match latest releases in german version"
Copied from https://github.com/MicrosoftDocs/azure-docs.de-de/pull/758

Fix "current version" to match latest releases in german version
Changed file: articles/virtual-machines/windows/scheduled-events.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff57b63-a05d-2339-069d-de4c9749e2ae
* Version Independent ID: 2e4fd

[2021-03-10 06:26] SadiqhAhmed-MSFT commented on #71636
@paulfinol We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-10 06:26] #71636 closed

[2021-03-10 06:29] olprod opened #71920 "Fix SAS usage in storage example"
Copied from https://github.com/MicrosoftDocs/azure-docs.de-de/pull/749

Fix SAS usage in storage example
Changed file: articles/storage/common/storage-use-azcopy-blobs-synchronize.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5d36b4-ad9f-2350-db79-67cc396990a2
* Version Independent ID: b2d377da-a1d4-7861-182b-0d3

[2021-03-10 06:53] BhargaviAnnadevara-MSFT commented on #71915
This issue has been assigned to the content author to evaluate and update as appropriate.

[2021-03-10 06:54] RohitMungi-MSFT commented on #71917
@FernandaOchoa The original document that needs to be updated is part of this issue metadata. We have assigned this issue to the author to review your request and approve in the original documentation. @aahill FYI.

[2021-03-10 06:56] BhargaviAnnadevara-MSFT commented on #71919
This issue has been assigned to the content author to evaluate and update as appropriate.

[2021-03-10 07:03] BhargaviAnnadevara-MSFT commented on #71920
This issue has been assigned to the content author to evaluate and update as appropriate.

[2021-03-10 07:08] RohitMungi-MSFT commented on #71916
@dixhap Could you please let us know if there is a reference to the SQL step as supported in any official document? Looking at the SDK [documentation ](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps?view=azure-ml-py)i could not find the SQL step. It would be helpful to check if there is any reference to functionality that is available but not documented.

[2021-03-10 07:09] shashishailaj commented on #71904
@opticyclic Thank you for your query . We will investigate and update the thread.

[2021-03-10 07:15] Insighter2k commented on #61015
Hi everyone,

just asking if I have to use this workaround like written in the "Advanced scenarios" or will there be soon an update and support for user assigned managed identitiy out of the box (see @yugangw-msft point 1)

Kind regards

[2021-03-10 07:28] zhijli opened #71922 "Could any one help to explain the fallback logic in the demo code."
Hi,  could anyone give more information for the below code:

            try
            {
                client.PublishEventsAsync(primaryTopicHostname, GetEventsList()).GetAwaiter().GetResult();
                Console.Write("Published events to primary Event Grid topic.");

                HttpResponseMessage health = httpClient.GetAsync(secondaryTopicHealthProbe).Result;
                Conso

[2021-03-10 07:29] miqm commented on #24179
@craigshoemaker is this being actioned?

[2021-03-10 07:36] TheAnahaym commented on #71905
Hi @SubhashVasarapu-MSFT
Thank you for your answer.
ICMP doesn't have any ports as it works on the network level.
Has Microsoft ever had such attacks?
If yes, does this mean that Azure has no protection against such attacks?

[2021-03-10 07:37] yotauber commented on #71875
@TravisCragg-MSFT classic cloud services (these are not new services, they've been around for a long while).

[2021-03-10 07:37] Horgster opened #71923 "Type in Legacy Authentication Protocols section"
Hi!

There is a typo in the [Legacy Authentication Protocols](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication#legacy-authentication-protocols).

**This is incorrect:**
Outlook Anywhere (RPC over HTTP) - Used by Outlook 2016 and earlier.
MAPI over HTTP (MAPI/HTTP) - Used by Outlook 2010 and later.

**This is correct**
Outlook Anywhere (RPC over

[2021-03-10 07:38] ericpopivker opened #71924 "Metrics page doesn't have this info any more"
[Enter feedback here]

This page does not have this information any more. It looks like it was moved to Insights (preview), but I can't find a way to view throughput and storage by partition key any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5ccc

[2021-03-10 07:42] Clare-Zheng82 commented on #71279
Thanks for the feedback! This article has been refreshed. The variables of factoryname has been unified in the Powershell block in this article. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-03-10 07:48] sijucm opened #71925 "Not clear how to access the path variable"
[Enter feedback here]
In nowhere in any documentation there is a sample on how to access the path expression in a javascript code. For example this:"path": "sample-images-sm/{filename}". How do I use it in javascript. context.bindings.filename is not there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4

[2021-03-10 07:57] KranthiPakala-MSFT commented on #71642
Hi @v-jheichman Sorry for delay in my response.

I have checked with internal team and confirmed that Synapse workspace integration is yet to land and is expected very soon in the coming weeks. Unfortunately I do not have definite date but please look out for azure updates page for upcoming features and releases: https://azure.microsoft.com/updates/

Currently only scanning of dedicated SQL pool (

[2021-03-10 07:57] #71642 closed