[2019-12-17 19:18] HJToland3 commented on #43371
@NavtejSaini-MSFT, I still haven't heard back from the customer. How long should this item remain open?  Thanks!

[2019-12-17 19:18] msrini-MSFT commented on #44823
@ElanShudnow , You cannot deploy Application gateway with Private frontend IP configuration. In other words only ILB mode is not supported. If you need to use Private frontend IP you need to add Public frontend as well.

[2019-12-17 19:32] muradakram commented on #40292
Hi, In our case we have 657 copies of "Windows Azure CRP Certificate Generator" cert in the local Computer certificate store. Is this a normal behavior?

![CRP Certificate Generator](https://user-images.githubusercontent.com/17706842/71027668-4ec4de80-20d1-11ea-973d-0e1e511a871c.jpg)

[2019-12-17 19:36] deepakpalled commented on #44809
@mohibakhan - We currently have 2 SKUs in the market. The SKU in GA (S1/S2) supports longer retention, and the SKU in public preview (PAYG) supports up to 30 days retention. The slide you are referring to is our preview SKU. Let me know if this helps.

[2019-12-17 19:38] #44725 closed

[2019-12-17 19:38] mmacy commented on #43340
Hi @Norrch2, we still have this one on our radar but the troubleshooting companion article is taking some addtional time.

Was curious to hear from you (and others reading this) on this question:

A list of error can be produced and published more quickly, however, very often that leads to dissatisfaction when no troubleshooting/error handling information is provided alongside. Would love to hear

[2019-12-17 19:42] GiftA-MSFT commented on #44725
@gabrielnespoli thanks for your feedback, we've updated the document, you can expect changes to be published in a day or two.

[2019-12-17 19:44] ghogen commented on #44499
OK, I will also update the document to add this info.

[2019-12-17 19:44] #44386 closed

[2019-12-17 19:50] mmacy commented on #44051
Hi @cstainie, thanks for your patience on this. We aren't yet ready to publish documentation on the Azure Monitor integration scenario, but as mentioned, it is being drafted. I'll update this issue with a link to the published article once it's released.

Cc: @yoelhor

[2019-12-17 19:53] HoCGeek opened #44830 "Pricing/object counts"
This whole topic doesn't appear to deal with procing for this service at all.  I did find pricing information here: https://azure.microsoft.com/en-us/pricing/details/active-directory-ds/, but it too is unclear.  That article suggests that pricing is "based on the total number of objects in your Active Directory Domain Services managed domain".  Is that my Server AD domain, or the Azure AD DS domai

[2019-12-17 19:55] buckh opened #44831 "Note about stopping the cloud VM should point to the instructions to set an auto shutdown time"
Since remembering to shut down the VM when you are done with it is easy to forget, it would be very valuable to have a link to tell people how to set a time for it to automatically shut down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a39c00-0d4b-eef2-39cc-2ebe0603d854
* Version Independent ID: 265dd37f-2299-c762

[2019-12-17 19:58] ElanShudnow commented on #44823
I understand that.  Just saying that it's very confusing in the documentation and it could use an edit to make it more clear.

[2019-12-17 20:05] MarileeTurscak-MSFT commented on #44830
@HoCGeek
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-17 20:12] JoelCBennett commented on #7731
Ditto.  Any update on this?  Status is closed?

[2019-12-17 20:26] TravisCragg-MSFT commented on #44808
@ElanShudnow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-17 20:28] ahelland opened #44832 "Setting SendGrid Email subject"
The section for "Create SendGrid template" omits the step of setting the subject - this seems to be needed to configure in the left hand menu with {{subject}}. (I had some trouble back and forth just receiving a mail with no subject.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db8986-3f26-82e2-8985-69f06b74a3f4
*

[2019-12-17 20:34] kwontae commented on #43329
@mhopkins-msft I don't think you understood the issue correctly... I have asked for a sample code to achieve this in Golang. Of course, I am aware of that site, but that only contains information about .Net library. I've already figured it out on my own, but it's not even close in terms of similarity. Please try to actually take time to read and understand the issues that are being posted.

[2019-12-17 20:37] Karishma-Tiwari-MSFT commented on #44179
Hi @peterpogorski , Can you please take a look at this suggestion from customer and let us know how we can drive this action. Thanks :)

[2019-12-17 20:38] bdschaap commented on #42981
Thanks.  I think you're saying that if the max aggregation is chosen for the alert then the legend is showing the max of all the max's.

[2019-12-17 20:42] Norrch2 commented on #43340
Thank you for your reply @mmacy. We generally find that good error descriptions are the foundation to troubleshooting and will often give us a hunt to where to start troubleshooting. While I do believe that having troubleshooting assistance down the road will be a value add having a list of codes for developers to do integration tests is a must. In this situation we are looking for exact error mes

[2019-12-17 20:46] KDAylesworth opened #44833 "Catching all errors, run still shows as an error"
This is in response to this statement: "if you successfully catch all failures in a workflow, the run itself is marked as Succeeded."

I built a logic app with parallel branches that catch all of the error conditions, and all of the branches complete successfully, but the run is still marked as an error.

I was able to get it to work by inserting a single conditional step with all of the condition

[2019-12-17 20:49] Karishma-Tiwari-MSFT commented on #44106
@wankostar Since this issue is same as https://github.com/microsoftdocs/azure-docs/issues/44108,
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.
We will get your feedback incorporated and reply on this issue: https://github.com/microsoftdocs/azure-docs/issues/44108

[2019-12-17 20:49] #44106 closed

[2019-12-17 20:53] tamram commented on #44444
@dcbrown16 - I've clarified the sentence in question, and the update should go live later today.

#please-close

[2019-12-17 20:53] #44444 closed

[2019-12-17 20:57] NullQubit commented on #44225
Can someone provide the link to the issue?  Currently the only W/A is to include a redirect URI if client-app supports it, if it doesn't support it for ROPC flows (e.g. Postman/MSAL) then URI urn:ietf:wg:oauth:2.0:oob needs to be added as a return URI using the old experience from Azure.

[2019-12-17 20:58] j-martens commented on #43841
#assign:@lobrien

cc: @PeterCLu

[2019-12-17 21:00] SidShetye commented on #44609
@SnehaAgrawal-MSFT the instructions at those links don't completely setup SSH but we found the information at https://github.com/Azure-App-Service/ImageBuilder/tree/master/GenerateDockerFiles/dotnetcore/debian-9 that helped us in production. Thanks, I'll close this out.

[2019-12-17 21:00] #44609 closed

[2019-12-17 21:01] MarileeTurscak-MSFT commented on #44832
@ahelland
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-17 21:01] Alberto-Vega-MSFT commented on #44814
Hi @jflynn129 This tutorial is in transition, where they are moving to a v2 of the SDK so temporarily one of the apps runs on v1 and the other on v2 and they have a depencency on different version of Python. Please see the issue: https://github.com/MicrosoftDocs/azure-docs/issues/42894#issuecomment-558871242   @JimacoMS3 Can you please help since you have been looking into these issues?

[2019-12-17 21:01] Karishma-Tiwari-MSFT commented on #43962
@guibirow Hope the comment above helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-17 21:01] #43962 closed

[2019-12-17 21:10] ecfan commented on #44527
Here's the expanded steps to open the dialog box that @PramodValavala-MSFT mentioned:

1. In Solution Explorer, from your project's shortcut menu, select **Deploy** > **New**.

   ![image](https://user-images.githubusercontent.com/13206671/71033876-099ead80-20cd-11ea-8831-5d25962c8525.png)

2. Select the Azure subscription that you want to use for deployment:

   ![image](https://user-images.githu

[2019-12-17 21:10] roygara commented on #44408
@ctimon Thanks for reaching out, I'll take your request to the product team and they'll evaluate if they want to include this.

#please-close

[2019-12-17 21:11] #44408 closed

[2019-12-17 21:13] tamram commented on #43891
#reassign: @tamram

[2019-12-17 21:15] NavtejSaini-MSFT commented on #43371
@HJToland3 Apologize for the inconvenience. We can close this as user has not responded.
@ruksarsayed We will go ahead and close this thread.

[2019-12-17 21:15] #43371 closed

[2019-12-17 21:20] mmacy commented on #44832
Good catch, @ahelland, updating now.

#reassign:mmacy

[2019-12-17 21:26] mike-urnun-msft commented on #44807
@lechnerc77 Thank you for your feedback! We will review and update as appropriate.

[2019-12-17 21:28] mike-urnun-msft commented on #44833
@KDAylesworth Thank you for your feedback! We will review and update as appropriate.

[2019-12-17 21:33] ausfestivus opened #44836 "Needs IPv6 examples"
I note that the Azure Database for Postgres service supports IPv6.
This doco could do with some IPv6 example inclusion, particularly for the address range syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee1902e-1dee-1f7b-2dbd-c696b5ca3074
* Version Independent ID: a06f91ba-fcc3-56d6-ac78-15c4b118c202
* Content:

[2019-12-17 21:35] MartinJaffer-MSFT commented on #44548
@HexANN  what are you using for SINK?  Can you share what other settings you have selected?

[2019-12-17 21:35] YutongTie-MSFT commented on #44831
@buckh Thanks Buck for your feedback. I will forward this feedback to product group and also let the author @trevorbye  knows. ^^

[2019-12-17 21:38] YutongTie-MSFT commented on #44826
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-17 21:38] MartinJaffer-MSFT commented on #44548
@HexANN I see you created an MSDN thread and got help there.  I will close this issue as it is duplicate.

https://social.msdn.microsoft.com/Forums/en-US/0bb2368b-0b81-4ba9-92cb-9a55bafb1bda/fault-tolerance-not-working?forum=AzureDataFactory

[2019-12-17 21:38] #44548 closed

[2019-12-17 21:41] mhopkins-msft commented on #43329
@kwontae, I apologize if it seemed that I didn't understand your issue. I do understand that you are using the Go language. Unfortunately, we don't have a Go sample at this point, so I wanted to refer you to an article that would at least explain how to do it in .NET. I hoped the concepts in that article would help you move forward since I'm not sure when a Go sample will be published.

[2019-12-17 21:42] MartinJaffer-MSFT commented on #44385
Thank you.  I will ping you offline to get the ticket info.

[2019-12-17 21:47] HughDevlin opened #44837 "same context or same instance"
The lead sentence of the Overview section: "WebJobs is a feature of Azure App Service that enables you to run a program or script in the same context as a web app, API app, or mobile app." seems too strong. In the context of web applications, "context" here may seem to imply the WebJob might run in the context of the web app container, for example IIS or Tomcat. Later the page is more consistent i

[2019-12-17 21:53] TravisCragg-MSFT commented on #44772
@aruwo17 I was able to test this with the default 2016 datacenter image and I had no issues installing this feature. This cmdlet should come with all server 2008, 2012, and 2016 datacenter images.

Check to make sure that you have spelled the command correctly (the one you pasted above works for me).

What Operating System are you trying this on?

[2019-12-17 21:56] roygara commented on #43298
@PhilStollery Apologies for the delay, I noticed the SDK was actually calling using shared access policy instead of stored access policy and it took me a while to sync with the relevant people to figure out what's going on here. The terms are effectively interchangeable but the docs standardized on stored access policy after the SDK had already called it shared access policy.

Anyway, I've updated

[2019-12-17 21:56] #43298 closed

[2019-12-17 21:59] mike-urnun-msft commented on #44437
Hello everyone - Thank you all for your feedback. I wanted to clarify that this is an active support case specific to one environment that's being investigated by our support team. If there are others who are seeing unexpected charges with their Azure services, it's best to open a support case and work with a support engineer who has a deeper insight into your environment in 1:1 setting. If your s

[2019-12-17 21:59] #44437 closed

[2019-12-17 21:59] himanshusinha-msft commented on #44771
Yes , Its mentioned in the prerequisites steps .
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-portal#prerequisites
Please make sure that you have the schema and table created on the sink side and it should work just fine .
We will go ahead and close this issue now , you can always reopen this if you think its required .

[2019-12-17 21:59] #44771 closed

[2019-12-17 22:00] MartinJaffer-MSFT commented on #44637
@jeethub5   My apologies, but when you respond via email, all images are removed.  I see you tried to include images, but they are not displaying here in github.

Can you try going to the copy activity, and in source, use 'Preview data'.

Try 'Preview data' when 'Use query' is set to Table.  The success or failure will tell you if this is an issue with permissions, the connection, and/or the table

[2019-12-17 22:02] NillsF opened #44838 "The page describing DNS resolution should be updated to contain info about Azure Private DNS zones"
The page describing DNS resolution in Azure was last updated in 2016. It should be updated to contain relevant info about Azure DNS private zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf700872-c02c-8d08-c185-d658f226580d
* Version Independent ID: 2078a66e-1d96-a2c2-1920-b65643f57395
* Content: [DNS Name resol

[2019-12-17 22:05] Karishma-Tiwari-MSFT commented on #43940
@KumariSupriya Would you be able to share your insights on this? Thanks :)

[2019-12-17 22:10] TerryLanfear commented on #44288
@woutervanranst - Thank you for making us aware of this issue. The error has been fixed.

#please-close

[2019-12-17 22:10] #44288 closed

[2019-12-17 22:11] MarileeTurscak-MSFT commented on #44806
@TheDhejavu please provide a link to the document which you are referencing so that we can better assist you.

[2019-12-17 22:12] TravisCragg-MSFT commented on #44768
@jelew You can use the command "bcdedit /enum /v" to display boot identifiers. This will output all boot devices on the machine, to be sure to select the one attached to the drive you are looking for.

Please let me know if you need any additional information.

[2019-12-17 22:12] roygara commented on #43644
@the-grayest thanks for reaching out, we appreciate it! I'll bring this up with the product team for their consideration in the future.

But for now, if this helps, we do have two articles related to this. One which covers detaching (required for deleting your disk) https://docs.microsoft.com/en-us/azure/virtual-machines/windows/detach-disk

and one that is a script which will find and delete your

[2019-12-17 22:13] MarileeTurscak-MSFT commented on #44680
@v-pethur what info specifically would you like to be included under these sections? Could you please provide a line?

Note that you are free to make your own pull requests to these articles as well.

[2019-12-17 22:14] #43644 closed

[2019-12-17 22:17] kwontae commented on #43329
@mhopkins-msft I can provide a generic version of how i did as an example. How does that sound? Also, apologize for being very rude on the last message.

[2019-12-17 22:17] YutongTie-MSFT commented on #44266
@8forty @j-martens @trevorbye Hi guys, I just tried again to reproduce it. I had error but then I fixed it. Please set model_explainability=True in the AutoMLConfig object even this parameter does not appear by default.
![image](https://user-images.githubusercontent.com/38084098/71038964-e62d3000-20d7-11ea-91ed-0d4cbc238ac3.png)

@8forty Keith, please have a try to see if it can solve your problem

[2019-12-17 22:21] MonikaReddy-MSFT commented on #44579
@emilylagoand ,
Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-17 22:21] #44579 closed

[2019-12-17 22:22] mhopkins-msft commented on #43329
@kwontae, thank you for the apology, no worries. Sorry I wasn't more clear about my intent.

I would be happy to share your generic example with the team. Thanks!

 ~ _Mark_

[2019-12-17 22:24] lukepuplett opened #44839 "Please highlight and elaborate on unspecified property behaviour"
This is critically important information buried in a casual paragraph.

Its easy to see why we all think this is the case. In fact, I'd say its worth explaining why it works this way, because it seems like a design fault. Incremental implies that the complete absence of a value would mean "leave as is".

But your warning implies that changes in the portal to values that were never in the template

[2019-12-17 22:29] TerryLanfear commented on #42044
@psallis - Thank you for your feedback. The 2016 version is the latest version. If the document is updated in the future, the link will be updated to point to the most current version.

#please-close

[2019-12-17 22:29] #42044 closed

[2019-12-17 22:36] LukeCarrier opened #44841 "Why are we suggesting use of Remote Desktop?"
Linux machines are administered via SSH, not RDP.

Is there an awareness at Microsoft of the issues with blindly copying your Windows VM documentation to the Linux documentation with zero review? The Linux documentation consistently lags behind the Windows documentation and often contains tons of references to completely irrelevant technologies.

---
#### Document Details

⚠ *Do not edit this sect

[2019-12-17 22:39] v-pethur commented on #44680
@MarileeTurscak-MSFT
Thank you for looking into this,
Regarding making my own pull requests, I'd love to try if it's something I'm allowed to do.
Is there a flow chart or reference document I can refer to see what the process is?

Regarding my suggestion for the document:
I think some derivation of this information below taken from this document:
https://docs.microsoft.com/en-us/azure/security-cen

[2019-12-17 22:39] Alberto-Vega-MSFT commented on #44819
@apulliam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-17 22:44] TerryLanfear commented on #42143
@larryclaman, @neeleshray-msft - I reviewed the change submitted via PR #42452. The change looks good to me and I passed my approval along to the assignee of PR #42452.

I believe this issue can be closed, next step is merging PR #42452.

#please-close

[2019-12-17 22:44] #42143 closed

[2019-12-17 22:48] Alberto-Vega-MSFT commented on #44820
Hi @apulliam I see what you are saying https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/iot-hub/Quickstarts/device-streams-proxy/service
Thanks for the feedback. Assigning to author

[2019-12-17 22:49] asears opened #44842 "Update guidance - Enterprise Library vs. Polly and other frameworks"
Enterprise Library is quite stale and no longer updated.  Update the Enterprise Library or provide alternatives such as https://github.com/App-vNext/Polly for cloud-based retries.

https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1

[2019-12-17 22:51] TerryLanfear commented on #42357
@pejuborg - Thank you for the feedback and sorry for the confusion. The Azure Log Integration content is archived because the feature was deprecated on 06/15/2019. You can view the Azure Log Integration content at https://docs.microsoft.com/previous-versions/azure/security/fundamentals/azure-log-integration-overview.

#please-close

[2019-12-17 22:51] #42357 closed

[2019-12-17 22:53] femsulu commented on #44817
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-17 22:55] femsulu commented on #44839
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-17 22:57] taromielnaz opened #44843 "Access portal"
I use the account administrator to access the Azure portal without any problem but in the document it says: Conceptually, the billing owner of the subscription.
The Account Administrator has no access to the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Inde

[2019-12-17 22:57] femsulu commented on #7731
@DCtheGeek  - looks like this continues to be an issue. is it possible to re-escalate?

[2019-12-17 23:00] Alberto-Vega-MSFT commented on #44821
@MikeWilcoxMicrosoft Thanks for sharing it might help others running Ubuntu.

[2019-12-17 23:00] #44821 closed

[2019-12-17 23:01] TerryLanfear commented on #44777
@AlexChongMicrosoft - Hello, I want to make sure I understand your question. Are you asking how to request access to a datacenter so that you can visit that datacenter?

[2019-12-17 23:04] robinsh commented on #44820
#reassign @rezasherafat
Reassign to Reza, who owns device streams and can provide a more accurate answer.

[2019-12-17 23:11] MarileeTurscak-MSFT commented on #44789
Thanks for sharing your solution. Passing your feedback along to @linda33wj

[2019-12-17 23:11] Aubeauch opened #44844 "Add information on how B2C achieves this"
Hello! I think it would be very useful to know more information about this technical provider such as:
1. what HTTP methods does it use? GET, POST, PUT, PATCH, etc.
2. Does this process have a timeout?
3. Does this process retry at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34

[2019-12-17 23:12] iainfoulds commented on #44830
Thanks for reaching out, @HoCGeek. Overview pages often don't focus on pricing, as that may vary slightly by region or enterprise agreement. For pricing of Azure AD DS based on object count, the pricing page states (emphasis added):

As such, it's not how many objects in your on-prem AD DS environment, but what gets synchronized into Azure AD DS. Couple of things you can do to control costs here:

[2019-12-17 23:14] lostdoco opened #44845 "Au Central Missing from region list"
Azure automation is now available in Australia Central region - could you please update the table above to reflect the dns endpoints there?

ac-agentservice-prod-1.azure-automation.net
ac-jobruntimedata-prod-1a.azure-automation.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Ve

[2019-12-17 23:18] ksauce opened #44846 "Support for Windows"
When will window containers be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973f8
* Content: [Deploy container group to Azure virtual network - Azure Container Instances](https://docs.microsoft.com/en-us/azure/con

[2019-12-17 23:24] FrankHu-MSFT commented on #44800
@carolchiz what do you mean you're not able to get this to work on sharepoint online? It should be redirecting to the login.microsoftonline.com endpoint? Or is this a sharepoint hosted authentication?

Note that sharepoint online and aad b2b are different see : https://docs.microsoft.com/en-us/azure/active-directory/b2b/o365-external-user

[2019-12-17 23:24] Mike-Ubezzi-MSFT commented on #44836
@ausfestivus  Thank you for your interest in Azure Database for PostgreSQL. The PostgreSQL database platform does have support for the IPv6 address format but Azure currently does not allow for IPv6 addresses. Please see the screen capture where I attempted to use an IPv6 address instead of an IPv4 address. The Azure Portal shows an exception.

![Screenshot (535)](https://user-images.githubusercon

[2019-12-17 23:24] Anand-Moghe commented on #44781
![image](https://user-images.githubusercontent.com/7546032/71042544-dfef8180-20e0-11ea-983e-21a5c96b3e8f.png)

Please see the screen snapshot above while trying to configure MySQL for Drupal8 image in US West and US Central region.

[2019-12-17 23:25] kgremban commented on #44675
@ash2017 Can you take a look at this?

[2019-12-17 23:33] kgremban commented on #36389
@jdouitsis Thanks for sharing your solution. For physical machines, you can turn on nested virtualization using the BIOS settings. That's not possible in Azure virtual machines, which is why it's important to choose the right type.

@Alberto-Vega-MSFT I forgot to come back to this issue after updating the docs in September. #please-close

[2019-12-17 23:33] #36389 closed

[2019-12-17 23:33] MarileeTurscak-MSFT commented on #44680
@v-pethur Totally! You will get credited for the article as well. Just hit the "Edit" button in the top right corner of the article to add your edits, and then propose your change. You can link the URL under this issue so that the author knows how to get to it.

![image](https://user-images.githubusercontent.com/13383753/71043119-7ff9da80-20e2-11ea-8e12-0a0d43a21a97.png)

See [this guideline](http

[2019-12-17 23:34] MarileeTurscak-MSFT commented on #44680
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-12-17 23:36] kgremban commented on #43144
@rheingold Thank you for sharing your solution, which I'm sure other readers will find helpful. I'm going to close this issue since there's no changes we're making to the documentation at this time. I look forward to getting to update the docs once Raspbian Buster is supported, because I know a lot of people are excited to use it.

#please-close

[2019-12-17 23:36] #43144 closed

[2019-12-17 23:37] rohitnayakmsft commented on #44532
We have received this feedback around the video earlier as well and hence docs have been updated with the following text:-
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-networkaccess-overview#allow-azure-services
When set to ON Azure SQL Server allows communications from all resources inside the Azure boundary, that may or may not be part of your subscription.

In many cases, th

[2019-12-17 23:41] kwontae commented on #43329
Something like this
[code]

[2019-12-17 23:47] ioamnesia opened #44848 "Configure Logging Instructions Outdated"
There is no longer a diagnostic Settings option under the Monitoring heading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an Azure Storage account in the Azure portal](https://docs.microsoft.

[2019-12-17 23:49] CHDAFNI-MSFT opened #44849 "Windows / Linux - Swap disk - Tooling diff"
The Windows version lists PowerShell - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/os-disk-swap - whereas the Linux version of the doc says CLI. If the procedure is the same, could the same guidance be provided on both pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac500792-0af0-26df-77fc-56f

[2019-12-18 00:01] ausfestivus commented on #44836
Respectfully @Mike-Ubezzi-MSFT, I dont think its reasonable to submit a feature request for the management overlay (Azure Portal) to support an underlying platform capability.

The situation I was in, and had to spend time triaging why I couldnt connect to the DB, was that my `psql` client was attempting to connect to the database service using IPv6 (I didnt realise IPv6 was available on the LAN I

[2019-12-18 00:09] MarileeTurscak-MSFT commented on #44815
@gregfiske
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 00:13] DevOpsFounder opened #44851 "This video follows all this lab and fixes all errors"
The following video will provide an end-to-end tutorial for how to develop and deploy Ruby on Rails web App with Postgres DB on Azure App Service on a Linux container
https://youtu.be/KiVioJfIlVo

Example of the error in this document, the firewall rule ending IP is wrong, it should be 0.0.0.0

![Ruby on Rails and Postgres on Azure End-To-End Tutorial](https://user-images.githubusercontent.com/142

[2019-12-18 00:14] lostdoco opened #44852 "Windows Guest Agent Automatic Logs Collection - Disable"
Windows Guest Agent Automatic Logs Collection

Can this be disabled and enabled if needed for troubleshooting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual Machine Agent Overview](https://docs

[2019-12-18 00:15] Karishma-Tiwari-MSFT commented on #44838
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-18 00:19] Karishma-Tiwari-MSFT commented on #44841
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-18 00:24] ManojBableshwar commented on #43841
Thanks for pointing out the gaps in the docs. I'm proposing the following changes to text:

Change this:
3.	To look into your web service input and response payloads, select Analytics
4.	In the schema section, select Traces and filter down traces with the message "model_data_collection". In the custom dimensions, you can see the inputs, predictions, and other relevant details
5.	To look into your

[2019-12-18 00:35] dlepow commented on #43627
Doc update is published, so closing this issue. Thanks again for pointing it out.
#please-close

[2019-12-18 00:35] #43627 closed

[2019-12-18 00:45] brianmrush opened #44855 "Receive events in a batch with EventData an array:"
So if we have a function that is saying receiving events in an Array, is there a way to set the size of that array?  Here is scenario.

1) I have an IotHubTrigger.  Devices are sending events to IotHub.
2) I want to handle those events and send to SignalR.

Can I batch the events using the EventData array?   When will it fillup array and then flush?   This is especially true if events can keep com

[2019-12-18 00:53] kazshi commented on #44440
@tfitzmac Thanks for your comment.

[2019-12-18 00:58] lobrien commented on #43841
I've made the suggested edits in the above PR and created a workitem in Devops re. updating the screenshots.

[2019-12-18 01:00] minscandboo commented on #44776
Hi I am currently getting the following error

Unexpected ARM status code on GET existing App Gateway config: 403
E1218 00:30:26.825527       1 auth.go:49] Failed fetching config for App Gateway instance. Will retry in 10s. Error: network.ApplicationGatewaysClient#Get: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="Autho

[2019-12-18 01:13] anzaman commented on #42535
PR merged

[2019-12-18 01:27] Mike-Ubezzi-MSFT commented on #44842
@asears Thank you for bringing this to our attention. I am going to have the content author review this and update the information as appropriate.

[2019-12-18 01:27] Karishma-Tiwari-MSFT commented on #44846
I do not have a timeline to share at this point. However, I would recommend posting this as a product feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback

[2019-12-18 01:29] Karishma-Tiwari-MSFT commented on #44564
Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 01:29] #44564 closed

[2019-12-18 01:31] Mike-Ubezzi-MSFT commented on #44842
@dalechen @daleche-sh For awareness.

[2019-12-18 01:32] Karishma-Tiwari-MSFT commented on #44639
Thanks @sauryadas @andyzhangx :)
@mac8005 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 01:32] #44639 closed

[2019-12-18 01:41] KrishnaG-MSFT commented on #44845
@lostdoco Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-18 01:41] Karishma-Tiwari-MSFT commented on #44849
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-18 01:56] Karishma-Tiwari-MSFT commented on #43965
@jnoller @jluk @palma21 Did anyone of you got a chance to take a look at this customer's question. Please let us know. Thanks :)

[2019-12-18 01:59] Karishma-Tiwari-MSFT commented on #44605
We have created a PR with the update, changes will be go live as soon as it is merged.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99168
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 01:59] #44605 closed

[2019-12-18 02:09] Karishma-Tiwari-MSFT commented on #44395
Can you please share which script are you referencing?

[2019-12-18 02:17] VikasPullagura-MSFT commented on #44642
@ChristianMontoya Can you please look into this and add your comments.

[2019-12-18 02:22] AlexChongMicrosoft commented on #44777
@TerryLanfear Yes, that's what I mean. Actually, one user wants to visit our Microsoft data centre. I'm not sure whether this request is proper. That's why I raise this question. Thank you very much for answering.

[2019-12-18 02:37] swagulkarni opened #44856 "Incremental index from cosmos DB"
Hi,
Is there a feature available where in the indexer would pick only incremental changes from a cosmos db table and push the data to an index?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f0444e-1fea-b9be-8cca-08a26d995e60
* Version Independent ID: e401363d-e606-6133-bef0-8c90fc0d17ad
* Content: [Incremental index

[2019-12-18 02:39] femsulu commented on #44843
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-18 02:48] KDAylesworth commented on #44833
I did some additional testing and found a way to make it work. I’m not exactly sure what I was doing wrong before. Thanks!

Kevin Aylesworth ▪ Data Scientist Manager
PLM ▪ Three Gateway Center,100 Mulberry Street - Suite 1100, Newark, NJ 07102-4061
Phone: (862) 229-6539

From: Mike Urnun <notifications@github.com>
Sent: Tuesday, December 17, 2019 4:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@no

[2019-12-18 02:48] kobulloc-MSFT commented on #44733
As @ajakupov mentioned, it looks like this is the closest doc:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/overview

I'm going to loop in cognitive for visibility.

[2019-12-18 02:58] Karishma-Tiwari-MSFT commented on #44629
Can you please check this thread to see if you are missing anything: https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Hardware-requirements/m-p/891410
Also, for any other troubleshooting assistance you can reach out to tech communities where we are currently supporting Virtual Desktop.
https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

[2019-12-18 03:04] nickstaggs commented on #37532
Any update on this @mike-urnun-msft @axisc?

[2019-12-18 03:11] Karishma-Tiwari-MSFT commented on #44735
@MicrosoftDocs/aks-pm Can you please share your insights on this issue? Thanks.

[2019-12-18 03:13] Karishma-Tiwari-MSFT commented on #44289
Thanks @rdeltcheva
@carlosporter Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 03:13] #44289 closed

[2019-12-18 03:15] Karishma-Tiwari-MSFT commented on #43938
Thanks @KumariSupriya.
@rogeraustin Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 03:15] #43938 closed

[2019-12-18 03:25] marcusturewicz opened #44857 "Example uses .Wait on Task potentially causing deadlock"
It should be changed to use async/await all the way up:

Bad:
[code]

Good:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fdd9884-2d15-e480-e057-dfb72d89f2fb
* Version Independent ID: 37f24981-566c-5d2d-87cc-4878e8699342
* Content: [Quickstart: Analyze a local image - REST, C# - Azure Cognitive Services](https

[2019-12-18 03:30] ArsalanSaleemGhuman commented on #44797
@Alberto-Vega-MSFT , i am using linux. i already had iotedge repo cloned, so i used that.  once i faced the issue i updated my repo to latest master branch. that is what solved my issue.

[2019-12-18 03:41] dcbrown16 opened #44858 "Built-in endpoints settings"
Over on the C2D messaging page, it describes some TTL and feedback settings and then sends you here for the details on how to change it.
"For more information about how to set these configuration options, see Create IoT hubs."
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d#cloud-to-device-configuration-options

Those settings are configurable under the "Built-in endpo

[2019-12-18 03:49] neeleshray-msft commented on #44844
@Aubeauch  Thank you for the feedback. We will review and update accordingly.

[2019-12-18 03:52] neeleshray-msft commented on #44714
@memildin  Could this be reviewed and changed ?

[2019-12-18 04:01] cesarfloressuazo opened #44859 "Missing information on connectivity and how to run the sql script"
Hello,

It is not clear from the start what account you should be connecting to run the scripts. I am not sure if I should log in the SQL using the admin or regular user? or when should I run the queries on the 'master' database vs another database. Can you specify this in your guide?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-18 04:13] PramodValavala-MSFT commented on #44855
@brianmrush The `maxBatchSize` in [`host.json`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-iot#hostjson-settings) is the property that controls this.

[2019-12-18 04:14] PramodValavala-MSFT commented on #44527
@ecfan Thanks for helping out!

@pratikrane101 Hope our comments clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 04:14] #44527 closed

[2019-12-18 04:16] PramodValavala-MSFT commented on #44597
@cloudmelon Here is the one that I am using

[code]

[2019-12-18 04:19] SubhashVasarapu-MSFT commented on #44641
@LostinCloud , I am wondering if you had a chance to look over my previous reply. Please let us know the right source of article for further analysis.

[2019-12-18 04:22] RohitMungi-MSFT commented on #44857
@marcusturewicz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-18 04:25] SnehaAgrawal-MSFT commented on #44837
@HughDevlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 04:36] alexchx commented on #43203
Any update on this one? We are suffering the same issue to locate the system assigned identity in ARM template.

[2019-12-18 04:40] mike-urnun-msft commented on #37532
@spelluru Could you share your inputs on this one?

[2019-12-18 04:41] DixitArora-MSFT commented on #44727
@oleksandr-bilyk This article refers to Azure Functions Runtime preview 2 which does not have support for Azure Functions v2.0 and there are no plans to update the preview either see - [#15820](https://github.com/MicrosoftDocs/azure-docs/issues/15820).

[2019-12-18 04:49] jakaruna-MSFT commented on #44813
@clemensv
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 05:22] DashleenBhandari-MSFT commented on #44848
@ioamnesia , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 05:23] DashleenBhandari-MSFT commented on #44851
@DevOpsFounder , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 05:25] DixitArora-MSFT commented on #44791
@Ballzer0 I have assigned this to content author for further review and update as appropriate.

[2019-12-18 05:37] abarberenaCPDS commented on #26341
Hi guys, Could this problem be related to the issue mentioned in https://github.com/Azure-Samples/service-fabric-aad-helpers/issues/1?

[2019-12-18 05:39] DashleenBhandari-MSFT commented on #44852
@lostdoco , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 05:40] DashleenBhandari-MSFT commented on #44856
@swagulkarni , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 05:41] DashleenBhandari-MSFT commented on #44858
@dcbrown16 , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 05:42] KalyanChanumolu-MSFT commented on #44859
@cesarfloressuazo  Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-18 05:47] DixitArora-MSFT commented on #44802
@ilayn You can follow the below steps and let me know if there is a different ask in original question.

Using Kudu

1. Go to https://<function_app_name>.scm.azurewebsites.net.

2. Click Debug Console > CMD.

3. Go to D:\home\site\wwwroot, and then drag your package.json file to the wwwroot folder at the top half of the page. You can upload files to your function app in other ways also.

4. After

[2019-12-18 05:47] KalyanChanumolu-MSFT commented on #44677
@aurokk Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-18 05:47] #44677 closed

[2019-12-18 05:49] RohitMungi-MSFT commented on #44733
@ajakupov Thanks for bringing this up. Since the API is currently under preview the option to provide feedback is directly through the API page by contacting our developers at `custommt[at]microsoft[dot]com`, We are also internally following up with our team to provide more examples of the API's.

[2019-12-18 05:50] DixitArora-MSFT commented on #44833
@KDAylesworth  I am glad that the issue is resolved. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 05:50] #44833 closed

[2019-12-18 06:14] SadiqhAhmed-MSFT commented on #44817
@qianw211 For visibility.

[2019-12-18 06:18] algattik commented on #44020
Thanks for the clarification. It would be great to add a comment to the source code as it's unexpected.

[2019-12-18 06:22] daleche-sh commented on #44842
Acknowledged, thanks for reporting this, working on this issue with an internal process to update this article.

[2019-12-18 06:24] DixitArora-MSFT commented on #44759
@anis020 There are couple of other ways to do so.

1) **By [Subscription Key](https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions#what-are-subscriptions) :** When you publish APIs through API Management, it's easy and common to secure access to those APIs by using subscription keys. Developers who need to consume the published APIs must include a valid subscription k

[2019-12-18 06:31] BhargaviAnnadevara-MSFT commented on #44499
@ghogen Thanks for the update!

[2019-12-18 06:46] KrishnaG-MSFT commented on #44805
Assigning @rthorn17 for visibility, review and document enhancement consideration.

[2019-12-18 06:57] KrishnaG-MSFT commented on #44843
Assigning @taromielnaz for visibility, review and document enhancement consideration.

[2019-12-18 06:59] PgInsight commented on #33157
I just hit this error as well in Portal UI.  Soft delete is enabled.  Allowing all networks work-around worked.

Please reopen, being able to use the whitelist is good security.

[2019-12-18 07:03] rbrundritt commented on #44020
I'm working on a large addition to the docs (something unrelated to this), but have added the following comment to this code:

//tileSize needed in calculations as in rare cases the multiplying/rounding/dividing can make the difference of a pixel which can result in a completely different tile.

I'll check it in with the larger check-in I'm working on later this week.

[2019-12-18 07:15] mcurko opened #44863 "Question"
Azure Cosmos container	for SQL API: "Container" (as I read on this page) or "Collection"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independent ID: d6cc05c7-b724-df22-116f-b8f464293a35
* Content: [Work with databases, containers, and items in Azure Cosmos DB](https://

[2019-12-18 07:29] AshokPeddakotla-MSFT commented on #44020
@rbrundritt Thank you so much for the quick response and addressing this issue.
@algattik We hope that addresses your feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 07:29] #44020 closed

[2019-12-18 07:30] MarcHochleutner-Koellisch commented on #44779
I have the same issue:
System.Private.CoreLib: Exception while executing function: HttpTriggerCSharp. EFAzureTest: Could not load type 'Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest' from assembly 'Microsoft.AspNetCore.Http, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.

[code]

[2019-12-18 07:32] loopfish opened #44864 ""Create a user account for discovery"...where?"
Please could you specify exactly where this user account needs to be created.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ec1bb9-cb74-60c3-a5fd-10bda8113545
* Version Independent ID: fd3922c4-e307-9f54-bbdb-f5187896452e
* Content: [Group machines in Azure Migrate using agentless dependency visualization - Azure Mi

[2019-12-18 07:41] mike-urnun-msft commented on #44489
@estensen Statement is to caution not to randomly/arbitrary switch between versions without taking proper steps that may be required for the target runtime version. For example, if you were migrating a c# HTTP triggered function from v1 to v2, you'd want to update your function's signature to use `ILogger` interface for logging instead of `Tracewriter` which is a required code change for v2. The s

[2019-12-18 07:41] #44489 closed

[2019-12-18 07:56] Wicaeed commented on #41325
Any updates on this piece? The Get-AzureRmAutomationAccount, Connect-AzureRmAccount and Set-AzureRmContext  all rely on deprecated AzureRM powershell modules and Azure Classic Deployment Model API's that are actually being retired January 30th, 2020.

[2019-12-18 07:58] wolfma61 commented on #36319
this has been fixed

[2019-12-18 08:00] wesleyniels commented on #41198
@JnHs any news from the block? I still don't see my customer showing up.

[2019-12-18 08:08] carolchiz commented on #44800
Thank you - my problem is with SharePoint Online AND invitations from Azure (B2B). I want to create the users in the Azure AD, possibly in bulk, ie populate before inviting, and use the Azure AD conditional access and other features.
The SPO and OneDrive is great for individual users, but we don't really want that level of freedom especially on SharePoint Online.
I had two issues yesterday - invit

[2019-12-18 08:19] jakaruna-MSFT commented on #44340
@amuthusa Thats not possible.
Like you said, You need to pull the supported images for that Vm and then get the resource sku apis and remove the ones present in resource sku apis.

Direct api to do this operation is not available.

Note:  If a VM is deallocated, Then It will list all of the available skus.

[2019-12-18 08:27] kazshi opened #44866 "default size of OS disk"
Would you please add about default size of OS disk to "Operating system disk"?

I found the following description in the following link, and I couldn't find the information in any other pages as far as I checked.
"When you create a new virtual machine (VM) in a Resource Group by deploying an image from Azure Marketplace, the default OS drive is often 127 GB (some images have smaller OS disk sizes

[2019-12-18 08:29] AjKundnani opened #44867 "Update Command for Advanced Networking"
Current command given in Advanced Networking section of this page won't execute as-is, needs small modification for command to run successfully.

Below is the working code:
az aks create \
    --resource-group &lt;private-cluster-resource-group&gt; \
    --name &lt;private-cluster-name&gt; \
    --load-balancer-sku standard \
    --enable-private-cluster \
    --network-plugin azure \
    --vnet-s

[2019-12-18 08:43] gerrynicol commented on #44484
Thanks for the update Christian. I have tested and have GPO's working with AADDS. The issue is more specifically related to deploying scripts using GPO's by placing the content in the netlogon share of the DC's as per the recommendation of this document.

[2019-12-18 08:45] orspod commented on #44588
@phduf thanks for your feedback. The doc has been updated with PR: Update ingest-data-no-code.md #44298

[2019-12-18 08:46] orspod commented on #44588
#please-close

[2019-12-18 08:46] #44588 closed

[2019-12-18 09:10] AshokPeddakotla-MSFT commented on #44703
@philmea As mentioned, Cloud Shell has the V8.16.0 node version. AFAIK, the suggested prerequisites only for the development machine. Could you please check this and update the doc as appropriate?

[2019-12-18 09:14] sujayvsarma opened #44869 "Please fix documentation for #Deployments service"
Documentation tree:
https://docs.microsoft.com/en-us/rest/api/resources/deployments/

Problem:
The request body object for Create/Update operations is not defined properly. There are no details provided on what things mean. Likewise, the documentation of the response objects is not good enough -- there are far more objects/definitions provided in the TEXT than in the example Json.

Ask:
Please upd

[2019-12-18 09:19] jakaruna-MSFT commented on #44572
@dhilgarth Did you had a chance to try that out

[2019-12-18 09:19] jakaruna-MSFT commented on #44662
@amadav Its not supported now

[2019-12-18 09:23] Bhanu88 commented on #44379
thanks for the suggestion but as suggested i dont want to change configuration of any component which is not mine and understating my problem but i will not upgrade to istio 1.4 until issue is fixed . I request Microsoft to check for these common scenarios **if possible** before updating documentation .

Please you can let me know if the issue fixed in future version.

Also i cant find the the lin

[2019-12-18 09:23] dhilgarth commented on #44572
@jakaruna-MSFT No, I haven't tried that. It's an error in the tutorial, you should be fixing it.

[2019-12-18 09:25] accampos opened #44870 "Target listener"
In the section "Add a routing rule with a redirection configuration" is written to "ensure the Target listener is set to appGatewayHttpListener", but I believe the correct Target listener should be the original Https listener, shouldn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e69f361-3b89-3970-11d6-7e88f9ef

[2019-12-18 09:33] TheDhejavu commented on #44806
Thanks @MarileeTurscak-MSFT for your swift response.
this is the link to the resource  that I used
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-pytorch

but to be honest the error above is one out of many issues that I have encountered while trying to run my machine learning model on azure.

[2019-12-18 09:39] WarwickXman commented on #44813
Use this , although i heard this is no-longer a common way to deploy the controller

helm install nginx-ingress  stable/nginx-ingress     --namespace ingress-basic     --set controller.replicaCount=2     --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux     --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux

[2019-12-18 09:42] HerbertBodner commented on #13560
My above comment was wrong. The code in the given example is correct.
However, I am using System.Net.WebClient.UploadString method to post the data, but I didn´t set the Encoding property to UTF8. Therefore I got a 403 error and above workaround fixed that problem. Nevertheless, the encoding wasn´t correct. So when configuring the correct encoding and reverting above change, everything works as ex

[2019-12-18 09:48] jakaruna-MSFT commented on #44793
@candidson I tried out with the Az verison 2.8.0 and the latest version 3.2.0

I didnt get that error.   Can you update your module to the latest version and try again?

You can use the command `update-module -name Az`   to update

[2019-12-18 09:58] hansmbakker commented on #31241
You can write an Azure Function or API endpoint that makes the feature flags available as JSON configuration object.

[2019-12-18 10:05] ram-msft commented on #44559
@pinkpuffles please follow the below document to register and deploy your model.
![image](https://user-images.githubusercontent.com/49180516/71076577-f57dad80-21ab-11ea-8aa0-a70d775810a4.png)

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-local/register-model-deploy-local-advanced.ipynb

[2019-12-18 10:18] jakaruna-MSFT commented on #44790
@sanchetanparmar Can you follow the suggestion from this comment https://github.com/hashicorp/packer/issues/8093#issuecomment-530079184

[2019-12-18 10:20] RaijmakersH opened #44872 "Outdated information"
The screenshots in this article are outdated. The options to configure vnet peering are different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d098f17-7f58-4304-0634-0f57d1d3300a
* Version Independent ID: 5624ffea-22c6-8f02-e9fe-a3be3a7cced5
* Content: [Configure VPN gateway transit for virtual network peering: Azu

[2019-12-18 10:24] adrianmo opened #44873 "How to monitor deployment process"
I want to know if there's a way to monitor a deployment. When I push an updated Docker image to the registry and the deployment to Azure Web App is kicked off, I need to programmatically monitor the deployment process to know whether or not it succeeded, e.g. the container failed to start, or started but is not handling traffic. This is crucial when automating the deployment process in CI/CD envir

[2019-12-18 10:36] SajalGolas commented on #43890
@mamccrea, I'm also facing the exact issue. Please let me know how can i resolve it.

[2019-12-18 10:51] Camios commented on #20971
I was able to specify JSON as the input value and it was smart enough to deserialize it into the message payload class we specified with a ServiceBusTrigger

[2019-12-18 10:55] AkosBatorfi commented on #44790
@jakaruna-MSFT  Tried that as well, didn't work for me.

[2019-12-18 11:02] Camios opened #44874 "Tip: How to pass a message for a ServiceBusTrigger"
You can pass messages to service bus by serialising the message payload class as JSON, escaping all the double-quotes and assigning the resulting JSON string as "input" field's value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3a

[2019-12-18 11:54] jakaruna-MSFT commented on #44813
@clemensv yes.  Helm 3 has this format  `helm install [NAME] [CHART]`

If we update the doc, the command wont work with helm 2.

@mlearned  @zr-msft please suggest the way forward

[2019-12-18 11:56] juunas11 opened #44875 "Confusion about default local cache size"
In the _How the local cache changes the behavior of App Service_ section, the following is said:

&gt; The size of the two folders for each app is limited to 300 MB by default, but you can increase it up to 2 GB.

But then later in the _Change the size setting in Local Cache_ section, it says something different:

&gt; By default, the local cache size is 1 GB. This includes the /site and /siteexte

[2019-12-18 12:01] msrini-MSFT commented on #44870
@accampos , You are correct. The target listener should be the HTTPS listener which you want to point. In this case, "appGatewayHttpListener" is the HTTPS listener of the Application Gateway. If you look into the PowerShell version of the same doc, you can see the HTTPS listener of this Application gateway is named as "appGatewayHttpListener ".

[2019-12-18 12:06] DashleenBhandari-MSFT commented on #44779
@curelom , @MarcHochleutner-Koellisch , Could you please share the document that you are referring to.

[2019-12-18 12:14] SnehaAgrawal-MSFT commented on #44873
@adrianmo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 12:16] jakaruna-MSFT commented on #44852
@lostdoco I think we cant disable that.

 @axayjo @cynthn Please add your comments

[2019-12-18 12:17] msrini-MSFT commented on #44823
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99311

[2019-12-18 12:29] #44823 closed

[2019-12-18 12:44] philrice opened #44877 "Not clear if multiple activations are possible within an Assignment Period"
Ive read through all the docs for PIM and it does not clarify if an assigned role can be activated multiple times or just the once.
E.g   if the assignment period is set to expire after 3 months and activation duration is set to 8 hours, can a user activate the role Monday morning, work with it that day for 8 hours until the duration is over and then activate it again the following day (multiple t

[2019-12-18 12:45] moseleycj commented on #34239
No update on this since Jul 1st? Are you planning on removing support for standard Azure Table storage? Because a large portion of our infrastructure is built on it - I'd kind of like to know sooner rather than later?

[2019-12-18 12:48] estensen opened #44878 "Missing docs on setting platform type"
Setting the platform to 64 bit is not described here, even though it might be interpreted as an app setting. In the portal it's possible to configure it under `Configuration/General setting`.
How can this be described with code so you don't have to go to the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54

[2019-12-18 12:49] ilayn commented on #44802
We bypassed this issue by selecting Bash at the top instead, there is no reference to *Debug Console* on Kudu page whatsoever. Maybe _Browse Directory_ is meant here but I am not sure.

![image](https://user-images.githubusercontent.com/1303842/71087691-14c10e80-219d-11ea-815e-bc4a255be520.png)

[2019-12-18 12:52] mcurko opened #44879 "Question"
Hoe does lifecycle mamagement work with snapshots of managed disks, where there's no user-visible storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage lifecycle](https://

[2019-12-18 12:53] SubhashVasarapu-MSFT commented on #44872
@RaijmakersH , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-18 13:06] DashleenBhandari-MSFT commented on #44874
@Camios , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:08] MarcHochleutner-Koellisch commented on #44779
https://docs.microsoft.com/de-de/azure/azure-functions/functions-test-a-function

https://github.com/MicrosoftDocs/azure-docs/blob/d6b68b907e5158b451239e4c09bb55eccb5fef89/articles/azure-functions/functions-test-a-function.md

[2019-12-18 13:09] DashleenBhandari-MSFT commented on #44879
@mcurko , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:10] DashleenBhandari-MSFT commented on #44863
@mcurko , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:11] peradus opened #44880 "Topic 'Sort favorites' should be 'Move favorites'"
Its suggests that there is an option to sort your favorites, but it is really manually that you can move your favorites, manually-lot of work sorting.  Its Moving Favorites- option not Sorting.

It would be welcome to have an sort option for favorites, as administrator everytime searching through the favorite items.

But unsorted items and searching in Azure Portal happens on more places, menu ite

[2019-12-18 13:12] DashleenBhandari-MSFT commented on #44864
@loopfish , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:13] DashleenBhandari-MSFT commented on #44866
@kazshi , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:14] CHDAFNI-MSFT commented on #44849
Ms Blog showing multiple methods not mentioned in either doc https://azure.microsoft.com/en-us/blog/os-disk-swap-managed-disks/

[2019-12-18 13:15] DashleenBhandari-MSFT commented on #44867
@AjKundnani , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:15] DashleenBhandari-MSFT commented on #44877
@philrice , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:19] DashleenBhandari-MSFT commented on #44878
@estensen , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:20] DashleenBhandari-MSFT commented on #44880
@peradus , Thanks for raising the issue. We will investigate and update you.

[2019-12-18 13:21] sanchetanparmar commented on #44790
@jakaruna-MSFT No its not working with **2016-Datacenter**   as i can see that in win2019 **WinRM** enable default, which is not in 2016

[2019-12-18 13:22] DashleenBhandari-MSFT commented on #44875
@juunas11 , Thanks for raising the question.
By default, the local cache size is 1 GB. This includes the /site and /siteextensions folders that are copied from the content store, as well as any locally created logs and data folders.

If you want to increase the limit from 1GB to 2GB, then you ll have to add the app setting WEBSITE_LOCAL_CACHE_SIZEINMB. You can increase the size up to 2 GB (2000 MB

[2019-12-18 13:23] omarv74 opened #44881 "Stale content"
This page seems to be old content. May want to redirect to: https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-data-lake-tools-get-started

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebe1955-18ed-4113-91ff-49bdad69d049
* Version Independent ID: beeadd08-2457-18b8-218d-8e7d373b2ec4
* Cont

[2019-12-18 13:29] PramodValavala-MSFT commented on #44726
@oleksandr-bilyk Just following up here... Hope my previous comments helps.

[2019-12-18 13:31] PedroDaumas commented on #43381
I was able to run the example using ```com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.14.1``` by changing ```EventHubClient.create(connStr.toString(), pool)``` to ```EventHubClient.createFromConnectionString(connStr.toString(), pool)```

[2019-12-18 13:32] diberry commented on #44719
@RohitMungi-MSFT FYI

[2019-12-18 13:40] alwils opened #44882 "Configure a JWT validation policy to pre-authorize requests"
I had to set audience to the Application ID URI including the api:// part for it to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 with AAD and API Management - Azure AP

[2019-12-18 13:43] PramodValavala-MSFT commented on #44874
@Camios Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-12-18 13:50] candidson commented on #44793
@jakaruna-MSFT That's very odd... I am using PowerShell on MacOSX. The line `$imageReference = New-Object -TypeName Microsoft.Azure.Commands.Batch.Models.PSImageReference -ArgumentList @("WindowsServer", "MicrosoftWindowsServer", "2016-Datacenter", "*")` already throws out the following error:

![image](https://user-images.githubusercontent.com/12760630/71091604-ae8cb980-21a5-11ea-8a28-1673bf27ff2

[2019-12-18 13:52] BartVanBerkel opened #44883 "Preview or GA?"
According to this page https://azure.microsoft.com/en-us/updates/general-availability-azure-container-registry-oci-artifact-support/ Helm Charts are supported and GA, but in this document it is preview..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e083

[2019-12-18 14:02] SadiqhAhmed-MSFT commented on #44799
@dhirajgandhi Thanks for sharing your insights.

@iskrenv We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 14:02] #44799 closed

[2019-12-18 14:09] axelgMS commented on #40292
Yes it's expected. Basically the Fabric Controller creates a new certificate every time you stop/start the Virtual Machine. If your VM is stopped every evening and started every morning, then you can end up with dozens of these certificates.
It's ok to delete them manually - the Guest Agent will recreate one if required.

Also a future version of the Windows Guest Agent will automatically clean th

[2019-12-18 14:16] souravmishra-msft commented on #44788
@rogereriksen, using the application templates there is no way to create a non-gallery application is possible. As the application templates are only available for Gallery apps. But in case you to create the app registrations and corresponding service principal objects programatically, I would suggest you use the Graph APIs.

You can use create the application by following the steps mentioned [her

[2019-12-18 14:20] DanteNahuel opened #44886 "Azure DSC and Update Management?"
Hi,
I can't find any roles or actions related to Azure Automation DSC and Update Management.
Which are the actions attributed to those roles that I can use for a custom role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927

[2019-12-18 14:26] Balfa opened #44887 "Update for azure synapse analytics rebranding"
I couldn't find Azure Data Warehouse when I went to create the resource! :O

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID: 8db6b4e9-fd3a-8b45-1283-7f7144772a88
* Content: [Quickstart: Create and query a data warehouse- Azure portal - Azure SQL Data Warehous

[2019-12-18 14:27] PramodValavala-MSFT commented on #44878
@estensen Its actually part of [Site Config](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdate#siteconfig) (The `use32BitWorkerProcess` property). You will have to update it using the [Web Apps - Create Or Update](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdate).

This is the same setting that exists for [App Service](https://docs.microsoft.com

[2019-12-18 14:27] #44878 closed

[2019-12-18 14:27] PramodValavala-MSFT commented on #44882
@alwils Thanks for the feedback! We will review and update accordingly.

[2019-12-18 14:28] Balfa opened #44888 "Update for azure synapse analytics rebranding"
Azure SQL Data Warehouse is now called azure synapse analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial - Perform ETL operations using Azure Databricks](https://docs.microsoft.com/en-us/azure/a

[2019-12-18 14:31] estensen commented on #44878
@PramodValavala-MSFT How am I supposed to know to look in the web app docs when I'm working with functions?

I think it would be very relevant to include it in the premium function docs, since premium functions have more memory than a 32 bit platform can utilize.

[2019-12-18 14:33] DeanGross opened #44890 "Prerequisites- Permissions"
what roles are required to complete this tutorial? please update the Prerequisites to clearly state this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 189a873a-3554-bfbc-eb3a-dc408df1d6d2
* Version Independent ID: acbbeaa4-2b6d-f048-9845-59a81824ac65
* Content: [Tutorial: Regulatory compliance checks - Azure Security

[2019-12-18 14:33] NavtejSaini-MSFT commented on #44887
@Balfa  We are checking this and will get back to you.

[2019-12-18 14:35] DeanGross opened #44891 "Required Permissions"
What role is required to perform the tasks above? I'm in the Security Administrator role and I'm getting an error. Please update the instructions to clearly state the prerequisites

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fbe6ca-1f70-657b-fc1a-c488335bdef6
* Version Independent ID: 4962534a-ec5a-bc9a-f0ec-2074c

[2019-12-18 14:37] NavtejSaini-MSFT commented on #43927
@srdan-bozovic-msft Please provide an update regarding this request.

[2019-12-18 14:40] #44786 closed

[2019-12-18 14:41] mohowzeh opened #44892 "Page not up to date"
The page is not up to date: under "Send messages with Kafka in Event Hubs", the path "azure-event-hubs-for-kafka/quickstart/java/producer/src/main/java/com/example/app" does not exist in the GitHub files. It should be replaced by "/quickstart/java/producer/src/main/java/". Even then, when following the steps of the "Send messages" section, there are compilation errors in Maven, and no data get sen

[2019-12-18 14:42] NavtejSaini-MSFT commented on #43919
@srdan-bozovic-msft Please look into this and provide feedback.

[2019-12-18 14:43] NavtejSaini-MSFT commented on #44080
@srchi @hrasheed-msft Any update regarding this. Please let us know if any other information is required.

[2019-12-18 14:44] #44787 closed

[2019-12-18 14:46] renanaraujo opened #44893 "storage_data_disk works only for one data disk per vm"
This article is showing that the count used to create the azurerm_managed_disk.test must be the same for azurerm_virtual_machine.test. It's not possible to create 2 or more disks per virtual machine due to the index iteration.

For example:
you have a image that requires 1 osdisk and 2 datadisks
you want to create a single vm using this image
you will set the count as 2 in azurerm_managed_disk and

[2019-12-18 14:47] NavtejSaini-MSFT commented on #44236
@stefann42 As the images have been updated, we are going ahead and closing this thread. Please get back to us if any other issue.

[2019-12-18 14:47] #44236 closed

[2019-12-18 14:55] tanieee28 opened #44894 "Container not found. Error : 39987"
Hi,
I was deploying azure storage on iot edge via marketplace image of azure storage (mcr.microsoft.com/azure-blob-storage)
After deploying the container on iotedge, it was showing running but when i checked the logs i found out this :

[code]

Now, i am not sure why this is happening after following all steps from below azure docs correctly
[](https://docs.microsoft.com/en-us/azure/iot-edge/how-t

[2019-12-18 14:55] spelluru commented on #37532
@mike-urnun-msft - @axisc is the right person to answer this question. He is OOF for two weeks. Please see if Clemens Vasters (architect) can help. Sorry.

[2019-12-18 15:03] mamccrea commented on #43890
Hi @SajalGolas - can you please provide the exact steps you have taken so we can reproduce the issue?

[2019-12-18 15:05] sanchetanparmar commented on #44790
Tried with ```custom_data_file": file.ps1``` where in file.ps1  ```Enable-PSRemoting -Force``` but not working. how can i pass custom date while temp. vm booting ? it's working with AWS.

If you create manage image from vm where WinRM enable, store in SIG with version and then you can use SIG old  version to create new version.

[2019-12-18 15:21] #44812 closed

[2019-12-18 15:21] rido-min opened #44895 "Include instructions to build and debug with Visual Studio"
Since Visual Studio is a required component to build the CMake project in Windows, it makes sense to avoid the manual steps for CMake and use the CMake support in VS, this will enable a better experience not only to build, but also for debugging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf8b1c7-7e47-f9fd-67f7-64

[2019-12-18 15:22] DevOpsFounder opened #44896 "Video as step-by-step with animated workflow that follow all the steps and even more"
I created this video as step-by-step with animated workflow, it can help many people
This video will show step-by-step ASP.NET Core development with Deployment to Azure
https://www.youtube.com/watch?v=1QVRe7UHaro
![ASP NET And Entity Framework With Azure](https://user-images.githubusercontent.com/14263956/71098864-47bdcf00-21aa-11ea-9209-1e5dad7640cf.gif)

---
#### Document details

⚠ *Do not edit

[2019-12-18 15:23] ignaciofls opened #44897 "enableAnnotationCache needed?"
When I try the incremental index and I set enableAnnotationCache property I get the following error 400. Once removed it works fine:
{
    "error": {
        "code": "",
        "message": "Configuration property 'enableAnnotationCache' is not supported."
    }
}
Probably useful to add in the doc that the actual cache will be found under the blob storage provided, inside a new container called ms-

[2019-12-18 15:27] NavtejSaini-MSFT commented on #44863
@mcurko Please refer to [this ](https://docs.microsoft.com/en-us/azure/cosmos-db/faq#what-is-a-container)document for further information.
![image](https://user-images.githubusercontent.com/52257742/71099276-05cc6300-2181-11ea-88a7-3d733a1fb1c1.png)

Hope this helps.

[2019-12-18 15:32] crow-ua commented on #44738
@Mike-Ubezzi-MSFT sounds like a plan. Here's support ticket id: 119121824002632.

[2019-12-18 15:40] pmozbert opened #44898 "New-OnPremiseHybridWorker.ps1 obsolete"
New-OnPremiseHybridWorker.ps1  is obsolete. it uses AzureRM modules.  These instructions also don't bother to mention that you first need to set up the machine by installing powershellget, modules etc.   And the instructions should make clear that you must log into the machine to set it up.  It would be nice if they at least provided a script extension script so that machines could be provisioned

[2019-12-18 15:40] m-sterspace opened #44899 "Documentation Does Not Explain Redirect Flow"
This documentation does not explain how to implement login with redirect, which is both the better method (works with popup blockers and on mobile), and the harder and more confusing one to implement.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-

[2019-12-18 15:43] JRhodes95 opened #44900 "Error in JS API example for running stored procedure, 'container.storedProcedure is not a function'"
In the 'how to run stored procedures section', the example of how to run stored procedures from the JS API is causing an error that 'TypeError: container.storedProcedure is not a function'.

I am using the exact code that is listed in the snippet. Logging the container to the console shows the container is being read successfully but that the storedProcedure function does not exist.

---
#### Docu

[2019-12-18 15:44] MasayukiOzawa opened #44901 "Wait Type name is different from actual"
RBIO_RG_xx is the name of the wait event, but isn't it WAIT_RBIO_RG_xx?

https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-os-wait-stats-transact-sql
This document also has no prefix WATIT in RBIO_RG_STORAGE / RBIO_RG_DESTAGE / RBIO_RG_REPLICA / RBIO_RG_LOCALDESTAGE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-12-18 15:45] NavtejSaini-MSFT commented on #44887
@Balfa We completely understand that Azure DW is in flux right now because of re branding and new features.
But the option to create DW is still there. see screenshot.
![Capture](https://user-images.githubusercontent.com/52257742/71100517-2b5a6c00-2183-11ea-896b-6f5863de5cb6.JPG)

Please search for the SQL Data warehouse and you will still be able to create it. Hope this helps. If you see somethin

[2019-12-18 15:53] DashleenBhandari-MSFT commented on #44869
@sujayvsarma , Thanks for raising the issue.
The Azure Rest API reference are auto generated docs based on Swagger APIs, checkout this document for more details -https://github.com/Azure/azure-rest-api-specs, so there is no direct feedback option enabled on them. That being said, the respective engineering team has been informed to review and make appropriate changes, but no ETA on this yet. Apolo

[2019-12-18 15:58] NavtejSaini-MSFT commented on #44781
@Anand-Moghe To preserve capacity in constrained regions for existing customers, regional "offer restrictions" are applied on some created Azure Subscriptions. If it is imperative that you have to create the DB in the mentioned region, we would advise you to raise a CSS ticket and they will work with capacity planning to enable your subscription for the region.
Additionally these constraints will

[2019-12-18 15:58] felickz commented on #38914
Same request for other VNET Service Endpoint PAAS offerings - https://feedback.azure.com/forums/217298-storage/suggestions/35850511-make-azuredevops-a-trusted-microsoft-services-to

[2019-12-18 15:59] andyjballgit commented on #27496
just researching the same thing , ie how to trigger scan / how often and came across this.  Contrary to above , the document doesn't appear to have been updated with the fact that most assessments updated within 24 hours . thx Andy

[2019-12-18 16:04] sujayvsarma commented on #44869
If you can't be bothered to maintain the right documentation for services, then just shut off the services.

This sorry & half-assed attempt at being "open" or customer/developer friendly is clearly not working for you folks.

Either do it. Or don't do it.

Come on!!!

On Dec 18, 2019 21:23, DashleenBhandari-MSFT <notifications@github.com> wrote:

@sujayvsarma<https://github.com/sujayvsarma> , Tha

[2019-12-18 16:05] stefann42 commented on #44236
Nice, that looks good!

[2019-12-18 16:12] gacurtin opened #44902 "Storage Account Firewall Not Supported"
Please add statement that storage firewall is not supported for Cloud Shell storage accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-ce2e-c9f1dd9ea06b
* Version Independent ID: ace5ecf4-2021-63a7-c28f-73a11767f0be
* Content: [Azure Cloud Shell troubleshooting](https://docs.microsoft.com/en-us

[2019-12-18 16:15] gacurtin opened #44903 "Storage Firewall"
Please add statement that storage firewall is not supported for cloud shell storage accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files in Azure Cloud Shell](https://docs.microsoft.com/en-us

[2019-12-18 16:16] gacurtin opened #44904 "Storage Firewall"
Please add statement that storage firewall is not supported for cloud shell storage accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ccf23ec-8d85-84fb-2c46-61a414d466ef
* Version Independent ID: 52b6949e-8ea5-c0c7-d0ab-7bf0ba9ed076
* Content: [Azure Cloud Shell overview](https://docs.microsoft.com/en-us/azure/c

[2019-12-18 16:16] #44832 closed

[2019-12-18 16:28] jopalenc opened #44905 "c and co attributes do not exist in AAD"
Several sections above indicate that 'c' and 'co' should be synchronized to AAD. This exists in the Dynamics CRM section, for example.

The attributes 'c' and 'co' do not exist in AAD.

Please update the documentation to remove references to 'c' and 'co' and add references to the AAD attributes country, and countryLetterCode where necessary.

---
#### Document Details

⚠ *Do not edit this section.

[2019-12-18 16:29] johnthcall opened #44906 "Incorrect TrafficManager tag"
It is listed as "AzureTrafficManaged" in this page and "AzureTrafficManager" in the azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://docs.microsoft.com/en-us/a

[2019-12-18 16:31] denzilribeiro commented on #44901
@MasayukiOzawa  we are planning on changing the actual wait to match shortly. Usually waits don't have the prefix WAIT_ , I will check timelines, if it is not in the immediate future will change the docs.

[2019-12-18 16:37] JnHs commented on #41198
Hi @wesleyniels - as @dhirajgandhi mentions above, it looks like you'll need to open a support ticket so we can dig into this and see what's going on - from the screenshots you shared it seems that it should e working, so we're unable to determine the problem without more info.
@ctolkien thanks for the updates and I'm planning to add that link more prominently to help others who may have the same

[2019-12-18 16:38] msrini-MSFT commented on #44906
@johnthcall , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-18 16:38] ChristianMontoya commented on #44484
@gerrynicol : Ahh, okay. Adding @stgeorgi to see if he has any other information on this.

[2019-12-18 16:43] alonsors-809 opened #44907 "What is the difference between Device direct method and Module direct method"
What are the differences between calling the direct method to the device and the module? I was investigating what are the advantages and disadvantages or either, so I can know when to use one or the other. Also, I searched information to implement the "Direct method to the DEVICE " but I could not find any documentation about it.

Your help would be much appreciated.

---
#### Document Details

⚠

[2019-12-18 17:03] BadFame opened #44908 "Cosmos DB Emulator on VM and Azure Function App on Host MacOS not passing SSL validation"
**Problem:** Function App on Mac errors on SSL validation when hosting the Cosmos DB emulator on a VM Windows machine hosted on the mac. After multiple attempts and research, I haven't been able to make it work when developing an azure function app...

**Azure Claims:** A workaround for Azure to not having a native Cosmos DB emulator for Mac OS, is that the emulator could be hosted on a windows VM

[2019-12-18 17:04] DCtheGeek commented on #7731
Policy supports adding parameters to existing definitions that have assignments, as long as the new parameter has a defaultValue. As the message indicates, it isn't currently supported to remove a parameter from a policy definition that has an assignment. Support for adding parameters occurred between the original question and the most recent error example. If removing a parameter from an existing

[2019-12-18 17:09] mamccrea commented on #44291
Hi @arvind-dhariwal. This is just a very brief introduction to the window types. More specific information is given in the links provided at the beginning of the article. Here are the links for [sliding](https://docs.microsoft.com/stream-analytics-query/sliding-window-azure-stream-analytics) and [session](https://docs.microsoft.com/stream-analytics-query/session-window-azure-stream-analytics) wind

[2019-12-18 17:10] gabi0611 opened #44909 "Some users are redirected to the ServiceNow logout page."
Hello guys, I believe this is more of a question.
We set up Azure SSO on ServiceNow and some users have a GUEST account on AD Azure because they are vendors in our company. For users with common employee account / licensing, SSO redirection happens, but for third party users who have been registered as GUEST redirect does not work and they are redirected straight to the ServiceNow LOGOUT page.

Ca

[2019-12-18 17:11] yanancai commented on #44881
@omarv74 which page are you talking about? Are you referring to the entire article Develop a U-SQL database project - Azure Data Lake? The page has not been updated for a while as we did not add new features to it. However, the content is still valid, and I believe there are still customers referring to this doc for U-SQL database project development. I don't think we should redirect this doc to t

[2019-12-18 17:12] krozgrov opened #44910 ""I want to set up a different method" missing from SSPR registration"
![image](https://user-images.githubusercontent.com/59026725/71107656-82663e00-218f-11ea-9e68-937e7a5c223f.png)

Users enrolling into SSPR do not have the option to use a different method and are required to use Microsoft Authentication Application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12802c79-252a-3284-d0dc-

[2019-12-18 17:14] SwathiDhanwada-MSFT commented on #44546
@tfitzmac Can you please look into issue and provide your inputs on this?

[2019-12-18 17:15] SwathiDhanwada-MSFT commented on #44631
Yes @chi-ltd Its been replaced

[2019-12-18 17:18] Fro90 commented on #44395
I'm getting stuck very early on.  Using an Azure AD account and not service principal.  Receiving below error when running script manually.  When running through task scheduler it runs indefinitely in a loop. Any help would be greatly appreciated.

Failed to authenticate with Azure with a standard account: Cannot bind argument to parameter 'Credential' because it is null.
At C:\Scripts\fslogix\bas

[2019-12-18 17:37] NavtejSaini-MSFT commented on #44900
@JRhodes95 In the same document [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-stored-procedures-triggers-udfs#stored-procedures), it asks you to create the Stored Procedure. Please follow the link to create SP and then test it.
The link in the document takes you to following document:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs

[2019-12-18 17:38] mamccrea commented on #44050
Hi @abij - this feature is not currently supported. Please submit your product feedback here: https://feedback.azure.com/forums/909463-azure-databricks

[2019-12-18 17:38] Adam-Smith-MSFT commented on #44879
The lifecycle management policy is available with General Purpose v2 (GPv2) accounts, Blob storage accounts, and Premium Block Blob storage accounts. In the Azure portal, you can upgrade an existing General Purpose (GPv1) account to a GPv2 account. For more information about storage accounts, see Azure storage account overview.
So it's not supported for snapshots of managed disks. , if the blob is

[2019-12-18 17:38] #44879 closed

[2019-12-18 17:38] JasonFreeberg opened #44911 "Please clarify "MI" abbreviation"
It's not very clear if "MI" in this article refers to "Managed Instances" or "Managed Identities".

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c

[2019-12-18 17:41] mamccrea commented on #44050
#please-close

[2019-12-18 17:41] #44050 closed

[2019-12-18 17:42] mamccrea commented on #44784
Thanks @algattik! I have updated the doc. It should go live by the end of the week. Please let us know if you have any additional questions or feedback.

#please-close

[2019-12-18 17:42] #44784 closed

[2019-12-18 17:47] OffColour commented on #38180
Is this ever going to be done?

[2019-12-18 17:48] JRhodes95 commented on #44900
The issue is that this requires creating the procedure as you trigger it,
what about procedures that already exist and are stored on the container?
Surely there should be an option where the concerns of consumption and
triggering are separate?

On Wed, 18 Dec 2019, 17:37 NavtejSaini-MSFT, <notifications@github.com>
wrote:

[2019-12-18 17:48] lobrien commented on #43841
@algattik  Thanks for your report. The text changes will be live in a few hours and we have added the need to update our screenshots to our backlog.

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

We shall proceed to close this issue, #please-close.

[2019-12-18 17:48] #43841 closed

[2019-12-18 17:49] agarirsonairnet commented on #44395
The script is basicScale.ps1

[2019-12-18 17:49] Adam-Smith-MSFT commented on #43564
Which Azure tools and SDKs support blob-level tiering and archive storage?

Azure portal, PowerShell, and CLI tools and .NET, Java, Python, and Node.js client libraries all support blob-level tiering and archive storage , Source: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-blob-storage-tiers.md

I checked the SDK documentation for the specific library, bu

[2019-12-18 17:49] lawnguyen opened #44913 "Typo on the word "Create""
In the sentence : "creat a copy of a disk in another region."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb85e0c9-3e55-749d-769e-7953479dccda
* Content: [Create a Windows VM from a specialized VHD in Azure - Azure Windows Virtual Machines](https://docs.

[2019-12-18 17:55] #42426 closed

[2019-12-18 17:58] mamccrea commented on #44888
Hi @Balfa. Thanks for bringing this to our attention. We will be updating docs to coincide with portal updates targeted for mid-January.

#please-close

[2019-12-18 17:58] #44888 closed

[2019-12-18 18:05] NavtejSaini-MSFT commented on #44911
@JasonFreeberg In this [https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell#new-azure-ad-admin-functionality-for-mi](url) document the MI refers to as the Managed Instance and setting up Azure Admin.

[2019-12-18 18:14] mhopkins-msft commented on #43329
@kwontae Thanks!

[2019-12-18 18:15] Fro90 commented on #44395
That's the script I am running.

[2019-12-18 18:28] jaer-tsun commented on #44384
This [PR](https://github.com/Azure/azure-container-networking/pull/461) addresses the issue and will be rolled out as part of release v1.0.31

[2019-12-18 18:28] Mike-Ubezzi-MSFT commented on #44836
Hi @ausfestivus. I have engaged the Product Group with regard to this discussion and what you are seeing is IPv6 packet activity between Azure services but, the IPv6 network protocol is not supported at this time between on-premise and Azure.

Is there a documentation enhancement that would help here?

[2019-12-18 18:31] zzebastien commented on #39566
"The Bulk Executor has a replacement in our V3 SDK" ---> Here you refer to the .NET SDK for SQL API, right?
What about the Java SDK for SQL API ? Is there a replacement too for the Bulk Executor?
Thank you!

[2019-12-18 18:35] ShahJe commented on #24831
@KetanChawda-MSFT Did WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT make it to GA? I was not able to find information on its availability.

[2019-12-18 18:41] YutongTie-MSFT commented on #44559
@pinkpuffles Please try above and let me know if you are still suffering from this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-18 18:41] #44559 closed

[2019-12-18 18:41] jebalert opened #44915 "Guests can use own IdP without need of direct federation"
When I send a user a guest invite via b2b in azure ad... that user can use their own IdP without the need to configure anything. Can you mention that in this documentation? If this is the case, what's the purpose of direct federation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8bd3
*

[2019-12-18 18:51] mslot commented on #44064
This is exactly what I am seeing as well! And I have difficult implementing this, because the price impact can be huge! My client cant afford paying 1000 of dollars each month.

[2019-12-18 18:55] Zimmergren commented on #44064
As an update to this, I received an update from Jeff Hollan on Twitter, confirming our suspicions. The secrets are loaded when the Function app is booted up.

https://twitter.com/jeffhollan/status/1205885304038510592?s=19

Hope this helps!

________________________________
From: Martin Slot <notifications@github.com>
Sent: Wednesday, December 18, 2019 7:51:15 PM
To: MicrosoftDocs/azure-docs <azure

[2019-12-18 18:56] mslot opened #44917 "Azure SQL: is managed instances IaaS, PaaS or a mix"
I am sitting here reading this documentation: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-paas-vs-sql-server-iaas and I am presented with this image: https://i.stack.imgur.com/x7e2B.png

To this image we have three offerings:

1. SQL databases
2. Managed Instance
3. SQL virtual machines

I can place SQL databases as SaaS and PaaS (the top of the image), and SQL virtual servers

[2019-12-18 18:57] Zimmergren commented on #44064
As an update to this, I received an update from Jeff Hollan on Twitter, confirming our suspicions. The secrets are loaded when the Function app is booted up.

https://twitter.com/jeffhollan/status/1205885304038510592?s=19

Hope this helps!

[2019-12-18 19:01] mslot commented on #44917
Actually reading this: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance tells me that managed instances is also PaaS. Here does IaaS fit in? Is it literly just a SQL database in a VM, where you make your own backups, and patching?

[2019-12-18 19:01] nberdy commented on #44907
@rezasherafat can you please help out?

[2019-12-18 19:03] FrankHu-MSFT commented on #44800
It sounds like it's specific only to the aad b2b invitations? @carolchiz It sounds like there's no issues with the SPO and AAD BB part?

[2019-12-18 19:10] rezasherafat commented on #44907
@alonsors-809, device identity and module identity are two different types of ID that IoT Hub uses to authenticate your code when it communicates with IoT Hub. Have a look [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins) for more info. Note that the main usage scenario for modules is IoT Edge.

Now if your code authenticates with IoT hub using a device ID, you'l

[2019-12-18 19:11] kgremban commented on #41558
Thanks for your help @drajput

@rubeneric and @vijayapotturu I think this issue is resolved so I'm going to close it. If you continue to get errors around the .NET core versioning, feel free to comment here again and we'll reopen this.

#please-close

[2019-12-18 19:11] #41558 closed

[2019-12-18 19:13] asudbring commented on #41156
Created a work item for this month sprint to change probe to TCP for the tutorial to make it clearer.

#please-close

[2019-12-18 19:13] #41156 closed

[2019-12-18 19:16] diberry commented on #44750
This is now linked in the TOC under references. #please-close

[2019-12-18 19:16] #44750 closed

[2019-12-18 19:18] asudbring commented on #38055
Sending over to PM for review.  It looks like this article needs a freshness review to have Standard Load balancer information added to the existing information.

 #assign:@anavinahar

[2019-12-18 19:22] asudbring commented on #31960
Sending over to PM for review and guidance on how to update.

#assign:@anavinahar

[2019-12-18 19:24] Alberto-Vega-MSFT commented on #43282
@manu4rhyme Since your issue was resolved we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 19:24] #43282 closed

[2019-12-18 19:24] boreys commented on #44535
IOT Hub Event generate this partial template which is still confusing, it does not tell me where to run this template. I am looking for a complete ARM template or Azure CLI that does the following:

{
	"name": "iot-to-functionapp",
	"properties": {
		"topic": "/subscriptions/[id]/resourceGroups/my-resource-dev/providers/Microsoft.Devices/IotHubs/iot-hub-dev",
		"destination": {
			"endpointType":

[2019-12-18 19:24] diberry commented on #44688
I believe I've answered the question, roles are available in the preview portal and documented in both the [roles tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/tutorial-entity-roles) and the [how-to guide](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/label-entity-example-utterance#labeling-entity-roles). #please-close

[2019-12-18 19:24] #44688 closed

[2019-12-18 19:27] diberry commented on #44600
@RohitMungi-MSFT @hugobarona - I'll fix it - please assign to me. #in-progress

[2019-12-18 19:33] himanshusinha-msft commented on #44892
Thanks for the feedback and bringing this to our notice . We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-12-18 19:33] yanancai commented on #44881
@himanshusinha-msft  can I ask why the issue is assigned to me? I don't have any context of this. And I think the doc content is up-to-date and doesn't need any change.

[2019-12-18 19:43] diberry commented on #43423
Closing this thread - feel free to reopen if you need to. #please-close

[2019-12-18 19:43] #43423 closed

[2019-12-18 19:44] diberry commented on #43423
Will publish this afternoon. #please-close

[2019-12-18 19:54] allegradomel commented on #42381
The doc has been updated to address this issue. #please-close

[2019-12-18 19:54] #42381 closed

[2019-12-18 19:58] mbialecka commented on #44636
@Mat-pa I don't think workaround is needed for V12. Have you run into any problems with V12 and the module?
@arduppal Can you update docs that workaround is needed up to 2.1?

[2019-12-18 20:03] WhitWaldo opened #44920 "Microsoft Graph API vs Azure AD Graph API"
There's a note at the top of this page which reads in part "You must use the Azure AD Graph API to manage users in an Azure AD B2C directory." and links to both a blog post (https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/) and other documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api-quickstart).

The

[2019-12-18 20:11] abatishchev commented on #38591
I'm getting this error too:
[code]
And can't fund much documentation either!

I was recommended to use https://aka.ms/rps-not-found but it doesn't list this error code.

[2019-12-18 20:12] roygara commented on #43027
@mrisaac Thanks for reaching out, sorry for the delay. I went ahead and tested creating premium file shares with the storage explorer. The process is virtually identical, there are no differences whatsoever. However, you cannot modify the quota size of shares when creating with storage explorer and they only create in the default 100 GiB size, as opposed to the max of 100 TiB. For this reason, I d

[2019-12-18 20:12] #43027 closed

[2019-12-18 20:14] himanshusinha-msft commented on #44881
@yanancai  My apologizes  I  misunderstood the comments from you on this , going ahead and closing the issue now .

[2019-12-18 20:14] #44881 closed

[2019-12-18 20:27] MarileeTurscak-MSFT commented on #44890
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:36] jispar commented on #44906
Thank you for your feedback - we will correct the type-o. FYI - correct tag name is "AzureTrafficManager".

[2019-12-18 20:36] brandonh-msft opened #44921 "Document the default HTTP verb used when invoking an Azure Function"
Documentation at https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions#add-existing-functions-to-logic-apps should indicate the default HTTP verb that is used by the Azure Function action.

The default verb seems to be POST, which is only known via trial-and-error.

The page at https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#set-expected-http-metho

[2019-12-18 20:37] brandonh-msft commented on #44921
cc @mcollier

[2019-12-18 20:39] Tiberriver256 opened #44922 "What PowerShell Module should be updated?"
The instructions say:

[code]

What module are the instructions referring to? There are a lot that come default installed from the gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cae98ea-9e50-d614-5dca-5cf87af2db51
* Version Independent ID: ac34e838-5337-f978-1864-2ec4254366b5
* Content: [Monitor SQL Data Sync

[2019-12-18 20:41] FrankHu-MSFT commented on #44886
@DanteNahuel Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:41] FrankHu-MSFT commented on #44891
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:41] FrankHu-MSFT commented on #44899
@m-sterspace Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:41] FrankHu-MSFT commented on #44905
@jopalenc Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:41] FrankHu-MSFT commented on #44909
@gabi0611 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 20:42] mmacy commented on #44920
@WhitWaldo thanks for the call-out, I'll remove that note as a quick fix. We do have a larger initiative in process to migrate all docs that use Azure AD Graph docs over MS Graph.

#reassign:mmacy

[2019-12-18 20:45] FrankHu-MSFT commented on #44899
Hey @m-sterspace  thanks for your feedback, this is described in the docs here : https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in#sign-in-with-redirect

Please let us know if this is not sufficient, if you think that there needs to be more documentation on this, we can look into it further. thanks!

[2019-12-18 20:47] FrankHu-MSFT commented on #44905
Hello @jopalenc  this should be syncing to AAD, are you saying when you do an AAD Connect these values are not populating properly under country and countrylettercode?

[2019-12-18 20:48] #36145 closed

[2019-12-18 20:48] mallecespedes opened #44923 "Logs from ADF into Log Analytics Workspace"
Hi,

Where can I find the logs sent by ADF to the Log Analytics workspace? I configured ADF diagnostic setting from Az Monitor > Diagnostic Settings, selected as destination the Log Analytics workspace, and checked all the options from log and metric boxes, but when I enter the workspace I can't find where the logs are.

Also... does Log Analytics support Dynamic Alerts?

---
#### Document Details

[2019-12-18 20:49] FrankHu-MSFT commented on #44891
Hey @DeanGross as this feature is in preview, there will be constant updates to the requirements of this feature. To be safe currently, you'll most likely need something along the lines of a global administrator.

I'll go ahead and engage some more people to see which permissions in particular are required as of now, however we may not be able to pinpoint an exact permission that is required curre

[2019-12-18 20:51] stgeorgi commented on #44484
Hi, is the question here about where the script can be stored. Since AAD DS does not really have a server (its a services) the location cannot be the netlog folder (as we do not have access). However that location is not mandatory. It can be any SMB resolvable path. At least in my environment that is allowed.

[2019-12-18 20:53] FrankHu-MSFT commented on #41237
Hey @gprl this issue should be resolved now, I apologize for the long wait. If it's not been resolved on your side, please wait a week or two and it should be rolled out to your region.

If you're still experiencing this issue after that period of time, please submit a support ticket and support will engage to make sure that your environment is working properly.

As this has been resolved I will n

[2019-12-18 20:53] #41237 closed

[2019-12-18 20:58] #44920 closed

[2019-12-18 20:59] cloudmelon opened #44924 "Import dacpac history not showing"
Hello,

I am doing an db import, when the progress start and before completed, it did show anything in the history, not likely  as mentioned in the doc ( here it is : https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import?tabs=azure-powershell ) which provides the ability to monitor the import progress,  screenshot as follows :

![image](https://user-images.githubusercontent.com/4

[2019-12-18 21:02] njbuch commented on #43150
@kgremban Hi Kelly, thanks for getting back. The Raspberry Pi 4 represents a huge potential for more powerful machine learning at the edge, which could be very important for a lot of people. The Rpi4 DOES NOT RUN STRETCH. Which means that you need to do some workarounds that I dont like to perform in a production environment.

I dont understand what the rationale can be to limit rpi into one OS ve

[2019-12-18 21:02] SubhashVasarapu-MSFT commented on #44641
@LostinCloud , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-18 21:02] #44641 closed

[2019-12-18 21:02] Tiberriver256 opened #44925 "As a prerequisite, you need to have Azure Monitor logs linked with a Log Analytics workspace"
Where is the documentation for how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cae98ea-9e50-d614-5dca-5cf87af2db51
* Version Independent ID: ac34e838-5337-f978-1864-2ec4254366b5
* Content: [Monitor SQL Data Sync with Azure Monitor logs - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-dat

[2019-12-18 21:04] Karishma-Tiwari-MSFT commented on #44913
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 21:04] Karishma-Tiwari-MSFT commented on #44883
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 21:10] alonsors-809 commented on #44907
Thanks a lot.

[2019-12-18 21:10] #44907 closed

[2019-12-18 21:17] Karishma-Tiwari-MSFT commented on #44395
@ChristianMontoya Are you aware of any recent known issue with this script? Please let us know. Thanks :)

[2019-12-18 21:19] Karishma-Tiwari-MSFT commented on #44642
@Heidilohr Can you please help clarify the statement in the doc. Thanks :)

[2019-12-18 21:24] CeciAc opened #44927 "BlobCount display is broken"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2974

The comments below were machine-translated

@fujitani-hiromu-fixer commented 18 hours ago
Microsoft.Storage/storageAccounts/blobServices
Metric: BlobCount

Two of the above metrics are displayed, and you do not know which is correct.
Will the notation break down?

---
#### Document Details

⚠ *Do not ed

[2019-12-18 21:28] asudbring commented on #29719
#please-close

[2019-12-18 21:28] #29719 closed

[2019-12-18 21:37] asudbring commented on #44394
@jabbera, I think i have tracked down the confusion here.  When you create the private link it asks if you want to use Azure integrated Private DNS.  If you choose azure integrated DNS, you can't use your own DNS servers and you have to use the name that is chosen for you for the zone and the records.  To use a custom DNS and to assign your own CNAME for your custom domain, you must setup the VNET

[2019-12-18 21:41] asudbring commented on #43168
Sending to PM for review and guidance on updating

#assign:@anavinahar

[2019-12-18 21:43] MarileeTurscak-MSFT commented on #44680
@v-pethur feel free to ping me offline or reach me at my email (in my bio) if you need help. I'm closing this out because we should be able to resolve this internally.

[2019-12-18 21:43] #44680 closed

[2019-12-18 21:44] cenkersoy opened #44928 "No module named azureml.automl.runtime error"
Hi,

When I run the 01-turbofan_regression.ipynb notebook, I am getting the following error:
 No module named 'azureml.automl.runtime'

It occurs in the "Register the Best Model" section. Pls advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de25b89e-91d8-3df4-c2e8-a98060e0c9b2
* Version Independent ID: 55403f3e-4

[2019-12-18 21:45] asudbring commented on #42780
Created work item to clarify table.

#please-close

[2019-12-18 21:45] #42780 closed

[2019-12-18 21:56] asudbring commented on #42617
Created work item to clarify table.

#please-close

[2019-12-18 21:56] #42617 closed

[2019-12-18 21:59] Grace-MacJones-MSFT commented on #44896
Thanks for sharing this resource @DevOpsFounder . I am sure others in the community will find it useful.

[2019-12-18 21:59] #44896 closed

[2019-12-18 22:01] jopalenc commented on #44905
I am saying that c and co are listed as required attributes for Dynamics CRM. These attributes do not exist in AAD.

AAD has country and countrylettercode, however, when I select Dynamics CRM, the sync rule that is generated does not include these attribute flows.

The article is incomplete / confusing for two reasons:

1 - It lists the AD / MV attribute name but does not list the AAD attribute na

[2019-12-18 22:08] michal-staniszewski opened #44930 "What about Az?"
AzureRM modules are legacy. Why still not changed to use Get/Set-AzAutomationVariable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbcf48d3-ba48-75e5-092d-40317111b389
* Version Independent ID: 055126f7-51a5-37b3-a447-829b75c694b8
* Content: [Variable assets in Azure Automation](https://docs.microsoft.com/en-us/azur

[2019-12-18 22:12] Karishma-Tiwari-MSFT commented on #44913
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99385
I have created a PR with the update, changes will be go live in few hours.

[2019-12-18 22:12] #44913 closed

[2019-12-18 22:14] MarileeTurscak-MSFT commented on #44915
@jebalert
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 22:14] Karishma-Tiwari-MSFT commented on #43511
Did you get a chance to email me with the details? Please do when you are ready.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 22:14] #43511 closed

[2019-12-18 22:33] jeevansd commented on #44909
@gabi0611 I don't think these guest users are getting directly redirected to ServiceNow logout page. If the SSO is not working for these users then ServiceNow will redirect the user to logout page. So I suggest that you capture the trace and then find out the correct user mapping needed for guest users. With that it should fix your problem. You can also open the support ticket with Microsoft and o

[2019-12-18 22:33] jeevansd commented on #44909
#please-close

[2019-12-18 22:33] #44909 closed

[2019-12-18 22:43] femsulu commented on #44898
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-18 22:44] femsulu commented on #44923
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-18 22:45] femsulu commented on #44927
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-18 22:45] femsulu commented on #44930
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-18 22:49] CeciAc opened #44931 "There are many metrics that are not listed"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2975

The comments below were machine-translated

@fujitani-hiromu-fixer commented 20 hours ago
The following metrics are not described.

Microsoft.ApiManagement/service | BackendDuration
Microsoft.Web/sites/slots | FileSystemUsage
Microsoft.Web/sites/slots | HealthCheckStatus
Microsoft.Web/sites/slots | Http

[2019-12-18 22:50] MarileeTurscak-MSFT commented on #44740
You need to be a global admin. It's mentioned here in the documentation. If you would like for this to extend to other roles feel free to make a feature request in User Voice, where the product team will respond directly. You can leave the link to the request on this thread.

https://feedback.azure.com/forums/34192--general-feedback

CC: @msaburnley

[2019-12-18 22:50] #44740 closed

[2019-12-18 23:03] keithdv opened #44932 "Failure: The requested federation realm object 'https://sts.windows.net/<TenantId>' does not exist"
Every request I make comes back with issuer htts://sts.windows.net/&lt;TenantId&gt;' and I think this is causing me problems.

I'm trying to accomplish the SAML Bearer Assertion Flow to call a Microsoft Graph API as the user from a custom API. I'm combining the ideas here with the ideas at https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-assertion .

I'm trying to use

[2019-12-18 23:05] Alberto-Vega-MSFT commented on #44895
@rido-min Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-18 23:07] keithdv commented on #44932
Here is a Response:

<samlp:Response ID="_7799bbdf-8e56-4243-a85d-e0c55d2118e2" Version="2.0" IssueInstant="2019-12-18T22:45:21.916Z" Destination="https://localhost:44321/" InResponseTo="id6c1c178c166d486687be4aaf5e482730"
    xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol">
    <Issuer xmlns="urn:oasis:names:tc:SAML:2.0:assertion">https://sts.windows.net/cb632b2c-217b-4edd-9be9-35f29c9f11/</Is

[2019-12-18 23:09] YutongTie-MSFT commented on #44266
@8forty Close this for now, please let me know if you still have challenge and @YutongTie-MSFT as well. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-18 23:09] #44266 closed

[2019-12-18 23:10] baatch opened #44933 "How do you delete a labeling project?"
How do you delete a labeling project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5558ba-c622-2fb4-318b-85dffa50980e
* Version Independent ID: 11408da5-766c-81d0-0225-3dfe7566e382
* Content: [Create a data labeling project - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/service/ho

[2019-12-18 23:11] mhunter77 opened #44934 "Please put a comment that ADFS is not necessary to enable Google federation for gmail users."
[Enter feedback here]

---
#### Document Details

I would like to see the following comment put in to the article.

                  "Setting up a Google federation for gmail users DOES NOT require ADFS to be setup by your company."

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d

[2019-12-18 23:12] larsonmpdx opened #44935 "connectionStateUpdatedTime from device identity not available in device twin"
most of the fields in the device identity are available through the device twin (for example: connectionState is in both the device identity and the device twin), but connectionStateUpdatedTime is only in the device identity.  can it be added to the device twin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8b0b77-3

[2019-12-18 23:14] mhunter77 commented on #44934
"You do not need to federate with G suites domains using the direct federation feature"

[2019-12-18 23:19] ChristianMontoya commented on #44395
@Karishma-Tiwari-MSFT : Following up internally, though there may be a delay with winter holiday season.

[2019-12-18 23:20] MarileeTurscak-MSFT commented on #44934
@mhunter77 thanks for the feedback! Can you please provide some context for your request?

[2019-12-18 23:23] asudbring commented on #44394
#please-close

[2019-12-18 23:23] #44394 closed

[2019-12-18 23:24] roygara commented on #43027
Side note: I went ahead and tested storage explorer with standard file shares,. You cannot modify the quota for them either but it at least creates them at 5120 GB. Which is the max size unless you're using the large file shares feature (in which case the max size is also 100 TiB).

[2019-12-18 23:25] craig-martin opened #44936 "Changing API Preference results in Alert Rule names being overwritten with GUIDs"
This statement is misleading (I lost data):
"
The process of moving alert rules from legacy Log Analytics Alert API does not involve changing your alert definition, query, or configuration in any way. Your alert rules and monitoring are unaffected and the alerts will not stop or be stalled, during or after the switch. The only change is a change in API preference and access to your rules via a new

[2019-12-18 23:26] Alberto-Vega-MSFT commented on #44928
@cenkersoy Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-18 23:27] Karishma-Tiwari-MSFT commented on #44384
Thanks @jaer-tsun
@truealex81 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-18 23:27] #44384 closed

[2019-12-18 23:29] dzajda commented on #24491
@HeidiSteen I'm also facing that problem. I'm not able to import any JSON file from the blob storage via Azure Portal. Even really simple ones. Only Error detecting index schema from data source: "" :( do you have any news about that?

[2019-12-18 23:35] lotsahelp opened #44938 "Add documentation for activity()."
Can the activity() function / system variable for Azure Data Factory v2 please be documented at the following page? https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/control-flow-system-variables.md

I cannot find any documentation on it except for it's use in other guides. It is really difficult to search for since activity is a very common term for ADF content. Is it

[2019-12-18 23:36] JLambEJG opened #44939 "Unclear for newer versions of AADC"
The article states "The following procedures only apply to Azure AD Connect build 1.1.443.0 or older", after multiple mentions that the procedure is absolutely required. It isn't clear what is required for newer versions of Azure AD Connect. Does the note apply to the entire remainder of the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-18 23:39] ChristianMontoya commented on #44642
@julesman101 @Karishma-Tiwari-MSFT : I believe this is only **Per User**, but let me follow up internally to confirm, then update the article.

[2019-12-18 23:45] MarileeTurscak-MSFT commented on #44934
Also, I'm happy to make the pull request for you, but you are also welcome to make your own pull request by hitting the edit button on the article.

[2019-12-18 23:46] throndir opened #44940 "ApplicationManifest.xml keeps resetting"
Hi,

I believe this is due to the schema http://schemas.microsoft.com/2011/01/fabric. Whenever I update the ApplicationManifest.xml with a new Principals, Visual Studio seems to reset the file during a publish.

Should I be using an updated schema for this? And what is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-18 23:52] mhoeger commented on #42528
cc @soninaren

[2019-12-18 23:54] paulbouwer commented on #44379
Istio requires that your workloads satisfy a number of [requirements](https://istio.io/docs/ops/deployment/requirements/) - one of these requirements is around named service ports:

It has been my experience that following these requirements from the Istio team will ensure the best operating experience.

The official Istio [documentation](https://istio.io/) and the [discussion](https://discuss.ist

[2019-12-19 00:01] harsh-vm commented on #31188
I had the same time-out issue. I got this working by increasing the WinRM time-out from 5 mins to 10 mins. But, I continued to use image_sku -'2016-datacenter', didn't change this one!

[2019-12-19 00:02] santhoshbomma9 commented on #43973
@femsulu , I don't think this was answered but you have closed it without clarification.

[2019-12-19 00:03] MartinJaffer-MSFT commented on #38179
This was fixed as of Sep 18, 2019

[2019-12-19 00:03] #38179 closed

[2019-12-19 00:04] kgremban commented on #43150
@njbuch Thanks for the extra information. I agree that the Rpi4 is a great device, and I'm seeing a lot of excitement around it. Unfortunately, until it's officially supported there's not much that I can provide from a documentation perspective. The feedback link that Alberto shared in his comment is the best way for you to share your support for this feature with the product team. Also, if you kn

[2019-12-19 00:04] #43150 closed

[2019-12-19 00:04] MicrosoftGuyJFlo commented on #44731
@valentijnscholten no, security defaults do not have the ability to be customized or excluded from users. Exclusions were removed in July from baseline policies unless you already had them configured.

[2019-12-19 00:07] soninaren commented on #42528
You can find the releases for extension bundles at https://github.com/Azure/azure-functions-extension-bundles/releases. We are working to get reference documentation out so that you can find the versions of extension bundles released as well as the extension present in the released versions. Lastly all the client / tools used to create a new function app i.e. Core Tools, Portal, VS Code, Maven sho

[2019-12-19 00:40] lgarithm opened #44942 "waagent has renamed to walinuxagent"
`sudo systemctl restart waagent` should be `sudo systemctl restart walinuxagent`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f57aa98-f440-5657-7a2d-ca8ae1677ee2
* Version Independent ID: 983c26ef-d1e2-6f62-19dc-67a214f0f217
* Content: [Enable InifinBand with SR-IOV - Azure Virtual Machines](https://docs.microsoft.c

[2019-12-19 00:52] MarileeTurscak-MSFT commented on #44893
@renanaraujo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 00:56] MarileeTurscak-MSFT commented on #44939
@JLambEJG
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 00:58] TiloGit commented on #6250
What Roles should be assign/use to give ppls right to **Microsoft.Compute/disks**?

Storage Account Contributor seems not enough.

Please advise. Current error:
[code]

[2019-12-19 01:05] TiloGit commented on #31800
see also #6250

[2019-12-19 01:21] StephenWeatherford commented on #43389
I've published an update which removes the offending alert rules (app insights fragment, webapp project and webapp+sql projects).

[2019-12-19 01:24] dansiegel opened #44943 "This page is too hard to discover"
This page is not linked to from Azure Active Directory B2C's Page Layouts page. The two pages that are linked to are:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-javascript-overview
https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview

Particularly from the 2nd link I've provided here, this needs to address Core and link to this page or it sh

[2019-12-19 01:27] mhunter77 commented on #44934
Hi Marilee,

I am an Microsoft Azure support engineer and I had my customer ask that question.  He read the article and he wanted to know if he was required to install ADFS to get it to work.

I want to make it clear to avoid other customer from opening a case on this issue.

Thanks,

Mike
Michael Hunter
Microsoft Azure Rapid Response|Support Escalation Engineer
Microsoft Corporation | E-mail: mai

[2019-12-19 01:30] milismsft commented on #44044
The behavior is intentional; the “Open Data Explorer…” will open a Web link which will more or less lets you view/modify the emulator’s data (databases, containers, documents etc). In certain cases that might not be desired, like when enabling a different endpoint than SQL (emulator's Data Explorer only fully supports SQL endpoint at this time), so /NoExplorer will prevent the user from potentiall

[2019-12-19 01:32] kobulloc-MSFT commented on #44627
@ishepherd We don't appear to have any documentation on VNET integration for availability tests and this feedback request appears to suggest that the need for a solution that would match your scenario has been recognized:

https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/5395254-add-support-for-intranet-application-testing-not

I'm following up on this, but i

[2019-12-19 01:34] StephenWeatherford commented on #43389
@femsulu Can you provide me with an updated template or know who I can work with get them properly updated?  I notice there's a similar quickstart here: https://github.com/Azure/azure-quickstart-templates/blob/master/101-webapp-windows-ASPNET/azuredeploy.json.

Here are the current templates: [WebSiteTemplates.zip](https://github.com/MicrosoftDocs/azure-docs/files/3981329/WebSiteTemplates.zip).

T

[2019-12-19 01:44] markjbrown commented on #44044
Thanks @milismsft for the clarification.

[2019-12-19 01:59] rboucher commented on #44711
Internal PR in process to update this article. It includes the missing ones above.

[2019-12-19 02:00] rboucher commented on #44931
Internal PR in process to update this article. It includes the majority if not all of the missing ones above.

[2019-12-19 02:01] rboucher commented on #38705
Internal PR in process to update this article. It includes the missing ones above.   The list of metrics supported by alerts is a different list. See https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time.  This list is also being updated in the next couple days.

[2019-12-19 02:01] kazshi commented on #44711
@rboucher  Thanks for your update. Do you have any ETA?

[2019-12-19 02:03] KrishnaG-MSFT commented on #44888
@mamccrea Thanks for the update. :+1:

[2019-12-19 02:04] rboucher commented on #44711
I'm expecting it to go out tomorrow.  Latest Friday during Pacific time business hours baring some publishing issue.

[2019-12-19 02:06] kazshi commented on #44711
@rboucher Great! I'll close this once I confirmed the content was updated. Thanks.

[2019-12-19 02:14] KrishnaG-MSFT commented on #44931
@rboucher Thanks for the update. :+1:

[2019-12-19 02:14] rboucher commented on #40350
@humphries40 Is this still a problem?  The list of platform metrics supported in Azure and the list of platform metrics that you can create alerts on is different.  IOT Hubs is now a supported metric.   It was not supported 3 months ago. Ses https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time in the future.  I'm updating the list to including IOT hubs among o

[2019-12-19 02:17] KrishnaG-MSFT commented on #44936
@craig-martin Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-19 02:21] mandiaya commented on #32884
Hi Do you fix this issue?

[2019-12-19 02:38] ElanShudnow commented on #44731
There really should be a way to exclude break glass accounts.  Microsoft has documented that a best practice is to use break glass accounts.  But with the MFA Baseline policy, we can't exclude these accounts.  Sounds like the team who decided not to have exclusions aren't abiding by Microsoft's best practice recommendations.

[2019-12-19 02:43] ElanShudnow opened #44946 "Break Glass Accounts"
There needs to be a way to exclude break glass accounts from applying MFA policies as part of Security Defaults.  This is a best practice recommendation from Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Co

[2019-12-19 02:48] Karishma-Tiwari-MSFT commented on #44942
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-19 03:01] glaisne opened #44947 "update blade name"
Under 'Download usage from the Azure portal (.csv)' #4 should read:
4. In the left menu, select **Usage + changes** under Billing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e301c2f1-5f0b-3151-cd8b-f3b4da3eb06c
* Version Independent ID: e334683c-3dd5-fec3-331d-07a28ea73f62
* Content: [View and Download Azure usage

[2019-12-19 03:08] Karishma-Tiwari-MSFT commented on #44824
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99409

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-19 03:08] #44824 closed

[2019-12-19 03:09] Karishma-Tiwari-MSFT commented on #44846
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-19 03:09] #44846 closed

[2019-12-19 03:09] DixitArora-MSFT commented on #44921
Hi @brandonh-msft Thanks for your feedback. We will review and update as appropriate.

[2019-12-19 03:13] aruwo17 commented on #44772
Hi,

I am walking through the tutorials available here: https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic-powershell

OS is 2016 Datacenter on a VM and yes, the command correct because I just did a copy and paste.
Specific VM image is available here: https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic-powershell#create-virtual

[2019-12-19 03:15] KrishnaG-MSFT commented on #44880
@peradus Thanks for the feedback. AFAIK the automatic sort is currently unsupported feature. The same feedback shown [here](https://feedback.azure.com/forums/223579-azure-portal/suggestions/38075668-auto-sort-azure-favorites) was shared directly with the responsible Azure feature team. Azure feature / product team would triage and consider the feedback based on various parameters like feasibility,

[2019-12-19 03:32] Karishma-Tiwari-MSFT commented on #44942
@vermagit Can you please help confirm on this one? Thanks :)

[2019-12-19 03:50] KrishnaG-MSFT commented on #44923
@mallecespedes Answer to your first question is, in ADFPipelineRun, ADFTriggerRun, and ADFActivityRun tables (if you have opted Resource-Specific mode while Configuring diagnostic settings and workspace) or in AzureDiagnostics table (if you have opted Azure-Diagnostics mode while Configuring diagnostic settings and workspace). You may go to Logs tile of your Log Analytics Workspace and query above

[2019-12-19 03:55] KalyanChanumolu-MSFT commented on #44922
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-12-19 03:56] KalyanChanumolu-MSFT commented on #44925
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-12-19 04:07] adityabalaji-msft commented on #44658
Thanks @Scottie2z for the confirmation. I have now updated the documentation [here](https://docs.microsoft.com/azure/backup/backup-azure-auto-enable-backup#supported-scenarios) with a note on national cloud availability.

Will update the documentation again whenever we get it into national clouds (we don't have an ETA as of now).

[2019-12-19 04:08] adityabalaji-msft commented on #44658
#please-close

[2019-12-19 04:08] #44658 closed

[2019-12-19 04:11] KrishnaG-MSFT commented on #44927
@CeciAc Perhaps I am missing something but based on given information and my understanding, the question is under 'Microsoft.Storage/storageAccounts/blobServices' why do we have two 'BlobCount' metric details mentioned; one with 'Total' aggregation type and the other with 'Average' aggregation type. I believe currently Total' aggregation type is not supported.

Assigning @anirudhcavale for visibil

[2019-12-19 04:11] AshokPeddakotla-MSFT commented on #44894
@tanieee28 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-19 04:14] KalyanChanumolu-MSFT commented on #44908
@BadFame Thank you for the detailed feedback.
Support on GitHub is limited to documentation only.
Please send this scenario to askcosmosdb@microsoft.com and reach out to the product group directly.

[2019-12-19 04:16] DashleenBhandari-MSFT commented on #44897
@ignaciofls , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:17] RohitMungi-MSFT commented on #44933
@baatch Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-19 04:20] DashleenBhandari-MSFT commented on #44902
@gacurtin , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:22] DashleenBhandari-MSFT commented on #44904
@gacurtin , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:23] DashleenBhandari-MSFT commented on #44910
@krozgrov , Could you please provide the documentation you are referring to?

[2019-12-19 04:25] DashleenBhandari-MSFT commented on #44947
@glaisne , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:26] DashleenBhandari-MSFT commented on #44903
@gacurtin , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:26] AshokPeddakotla-MSFT commented on #44935
@larsonmpdx Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-19 04:27] DashleenBhandari-MSFT commented on #44924
@cloudmelon , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:29] DashleenBhandari-MSFT commented on #44932
@keithdv , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:33] KalyanChanumolu-MSFT commented on #44917
@mslot Thank you for the detailed feedback and taking the time to submit feedback and helping us improve our documentation.

As you rightly figured out, Managed instance is a PaaS offering where the infrastructure is fully managed my Azure.
This solution enables customers to lift and shift their existing workloads with minimum changes to their applications but at the same time getting all the bene

[2019-12-19 04:36] neeleshray-msft commented on #44946
@ElanShudnow Thank you for the feedback. We will review and update accordingly.

[2019-12-19 04:37] neeleshray-msft commented on #44946
@ElanShudnow  Could you elaborate more on what you mean by "break glass accounts" ?

[2019-12-19 04:37] DashleenBhandari-MSFT commented on #44938
@lotsahelp , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 04:38] neeleshray-msft commented on #44943
@dansiegel Thank you for the feedback. We will review and update accordingly.

[2019-12-19 04:43] DashleenBhandari-MSFT commented on #44940
@throndir ,  Thanks for raising the issue.We will investigate the issue and update you.

[2019-12-19 04:43] AshokPeddakotla-MSFT commented on #43818
@levi106 Please check the above response and let us know if you have any queries.

[2019-12-19 04:51] SumanthMarigowda-MSFT commented on #44556
@thgsiddhimorajkar May I know what kind of role have you given to both the user, If the users has assigned contributor he can access. The  Storage blob reader doesn't work. Create a New subscription and try to give the access.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation

[2019-12-19 04:51] #44556 closed

[2019-12-19 04:52] AshokPeddakotla-MSFT commented on #42894
@JimacoMS3 Can this issue be closed?

[2019-12-19 04:56] msrini-MSFT commented on #44906
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99410

[2019-12-19 04:57] #44906 closed

[2019-12-19 04:57] msrini-MSFT commented on #44870
@accampos , Do you have any update on this issue?

[2019-12-19 05:03] SadiqhAhmed-MSFT commented on #44817
@santhoshbomma9 The Provisioning state in this context is not the actual state API returns but a description of the states that a subscription can be in.
I agree that this is confusing. We are going to work on improving this document in Manganese and your feedback will be taken into consideration.

Closing this thread for now. Please don't hesitate to reply if you've further question on this.

[2019-12-19 05:03] #44817 closed

[2019-12-19 05:10] archmangler opened #44948 "How to instantiate Azure data catalog via cli or ARM template"
We do not want to use the portal to create an initial Azure data catalog. Instead we require to create and further configure the initial data catalog itself via a cli or code base method (this needs to scale to many organisations therefore it must be code based).

Is there a cli for fully managing creation and configuration of data catalog outside of the portal?

Thus far, researching on the Inter

[2019-12-19 05:14] JasonWHowell commented on #44948
Hi @archmangler

Sorry, No CLI / PowerShell at this time.

Only [REST API](https://docs.microsoft.com/rest/api/datacatalog/data-catalog-data-catalog) is available.

Thanks, Jason

[2019-12-19 05:14] AshokPeddakotla-MSFT commented on #44858
Adding author @robinsh to evaluate and update the doc as appropriate.

[2019-12-19 05:22] #44948 closed

[2019-12-19 05:34] ElanShudnow commented on #44946
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access

Emergency Accounts where they have very long complex passwords that are stored in a secure manner such as a vault that requires two or more people to enter.  No MFA and no policies should be applied to them and they should be Global Admins/Azure Owners.  However, if you apply the baseline policy

[2019-12-19 05:35] amanmcse commented on #44708
@dennisxu2019 A user is considered as authenticated when he has a valid token and Conditional Access policy controls the issuance of the token. In this document, the term "authorized users" is for legitimate users who should be provided with access to resources once they are authenticated.

Hope you have answer to your question.

[2019-12-19 05:37] tanieee28 commented on #44894
@AshokPeddakotla-MSFT I have followed the below document for deploying blob storage on IoT Edge :

[](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob)

[2019-12-19 05:55] souravmishra-msft commented on #43944
@jorgecarleitao, We are really sorry for the delay in our response. We would need some more time on this to respond. Please provide us few more days and by next week will have an answer for you.

[2019-12-19 05:58] 362241 opened #44949 "Issue with DatasetReference and CopyActivity"
The code doesn't work where it references DatasetReference and CopyActivity.
Below is the code which works in the 'Create a copy activity' section:
# Create a copy activity
    act_name = 'copyBlobtoBlob'
    blob_source = BlobSource()
    blob_sink = BlobSink()
    dsin_ref = DatasetReference(type='DatasetReference',reference_name=ds_name)
    dsOut_ref = DatasetReference(type='DatasetReference',

[2019-12-19 06:14] ken2666 opened #44950 "Single Peering Session - Multiple Customers"
Hi all,

Does Microsoft permit to use single peering session to be utilized by multiple customers.
e.g. ISP or provider setting up single O365 express route peering and all of their customer's can access O365 via single peering?

Thoughts!

TIA
Ken

[2019-12-19 06:17] 362241 opened #44951 "Workaround for need to create an application in Azure Active Directory"
This example needs an AAD application as a pre-requisite. However, often developers don't have requisite permissions in AAD to register such an app. Raising request for such an app creation with IT team also induces delays. Here is a workaround for that pre-requisite. The code which makes this possible can be found below:
https://docs.microsoft.com/en-us/samples/azure-samples/data-lake-analytics-p

[2019-12-19 06:26] elepherai commented on #5717
Hi, @kgremban  Does the Azure Machine Learning module support ARM processors now?

[2019-12-19 06:29] PramodValavala-MSFT commented on #44597
@cloudmelon Since there is no doc update required here, we will now proceed to close this thread.

Do note that this repository is primarily for addressing doc related feedback. For other queries, [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions) is recommended for better community engagem

[2019-12-19 06:29] #44597 closed

[2019-12-19 06:30] PramodValavala-MSFT commented on #44855
@brianmrush Just following up here... Hope my previous comment helps.

[2019-12-19 06:30] Anand-Moghe commented on #44781
@NavtejSaini-MSFT Thank you!

[2019-12-19 06:30] #44781 closed

[2019-12-19 06:30] sanchetanparmar commented on #31188
@harsh-vm  when did you try with latest  2016-Datacenter ?  currently in 2016-datacenter WinRM disabled so how would you enable it ?

[2019-12-19 06:45] jakaruna-MSFT commented on #44340
@amuthusa

You can submit a feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).  Then the community can vote on this feature.  Products teams will take the items from the feedback's which has more votes.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-19 06:45] #44340 closed

[2019-12-19 06:46] jakaruna-MSFT commented on #44662
@amadav
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-19 06:46] #44662 closed

[2019-12-19 06:46] SumanthMarigowda-MSFT commented on #44775
@ElanShudnow Thanks for the feedback! I have shared your feedback with the content owner for further review.

[2019-12-19 06:47] femsulu commented on #43973
sorry for the miscommunication. my response above also applies to SaaS offer subscriptions.

[2019-12-19 07:04] WoutVergauwen opened #44952 "ADFS MFA plugin"
Hello,

Is it somehow possible to re-enable the credential activation generation for a tenant? If not, is there an alternative path to enable Azure MFA on ADFS 2.0/2012R2?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a

[2019-12-19 07:05] SreekanthOAuth opened #44953 "oauth2/authorize - Even after login, redirecting back to Login page again"
When we add the **prompt=consent** parameter to oauth2/authorize endpoint, after we enter the password, not going to consent page and instead redirecting back to the login page.

It used work.

https://login.microsoftonline.com/[TenantID]/oauth2/authorize?client_id=[Client_ID]&code_challenge=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX&code_challenge_method=XXXX&redirect_uri=http%3A%2F%2Flocalhost%3A3978%2Fapi%2

[2019-12-19 07:16] DashleenBhandari-MSFT commented on #44869
@sujayvsarma , Thanks for your valuable feedback. We have passed this feedback directly to the product group and they will review the document. I will be closing this thread. Feel free to reopen if you need further help.

[2019-12-19 07:16] #44869 closed

[2019-12-19 07:19] jabamit opened #44954 "Solution is not working on vs 2019 nuget package is not supporting"
The solution is not working on Visual Studio 2019 NuGet package is not supporting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976c73ce-6915-43a0-d862-2c05465341f8
* Version Independent ID: f4f562c1-8a77-4e36-4815-14533492e52d
* Content: [Quickstart: Set up sign-in for an ASP.NET web app - Azure AD B2C](https://docs.

[2019-12-19 07:21] mike-urnun-msft commented on #44571
@Dargos69 I've done a quick repro and noticed the same thing but just to be 100% sure, could you specify which templates you're seeing this issue and which notifications they are bound to? Also, in case you're self-hosting your portal, be sure to review [this guidance](https://github.com/Azure/api-management-developer-portal/wiki/Self-hosting-the-portal#step-9-change-api-management-notification-te

[2019-12-19 07:49] SadiqhAhmed-MSFT commented on #44558
**@Chingleberry** If the account is enrolled in Commercial Marketplace program (required for publishing commercial offers), then you should see “Developer settings” under Settings drop-down.

![image](https://user-images.githubusercontent.com/44458118/71154664-0c7ed700-2262-11ea-8ed9-a880c8464839.png)

We will now proceed to close this thread. If there are further questions regarding this matter,

[2019-12-19 07:49] #44558 closed

[2019-12-19 07:50] SumanthMarigowda-MSFT commented on #41650
@AndreiDita We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-19 07:50] #41650 closed

[2019-12-19 07:50] slavizh commented on #6250
This is something I do not get. If you do not want to add disks to VM Contributor why not make a new built-in role Managed Disks Contributor. After all the built-in roles are made to simplify our lives and not having to create custom roles. You should be able to create more and more built-in roles.

[2019-12-19 07:55] harsh-vm commented on #31188
@sanchetanparmar I am not sure what's the source of your comment of WinRm being disabled in 2016-datacenter as I have used it yesterday and it still works as expected. For reference, this is what I have used under my 'builders' section of packer template:

       `"os_type": "Windows",

       "image_publisher": "MicrosoftWindowsServer",

       "image_offer": "WindowsServer",

       "image_sku":

[2019-12-19 08:04] amanmcse commented on #44844
@Aubeauch the HTTP method depends on the business logic. E.g. in the given example, we are validating loyalty number, which means it will be GET operation. If you would want to update corporate databases, it can be POST or PATCH operation.
I am checking with product team on timeout and retry process. I will update the same.

[2019-12-19 08:21] RohitMungi-MSFT commented on #44733
@ajakupov Adding sample code to the swagger UI to describe the usage of the API is in the pipeline and you should see updates early next month(Jan)

If you need additional information or have feedback on a specific API usage, please drop an email to our developer team at `custommt[at]microsoft[dot]com` so they can address accordingly.

[2019-12-19 08:26] ChiragMishra-MSFT commented on #44949
@362241 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-12-19 08:26] ChiragMishra-MSFT commented on #44951
@362241 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-12-19 08:27] sanchetanparmar commented on #31188
@harsh-vm Created a VM with 2016 and checked WinRM status which is disabled.  Here my packer template
[code]

just tried above code working for ```2012-R2-Datacenter``` and ```2016-Datacenter-Server-Core``` but not for ```2016-Datacenter```

**2016-Datacenter**
==> azure-arm: Waiting for WinRM to become available...

==> azure-arm: Timeout waiting for WinRM.

[2019-12-19 08:28] 362241 commented on #44949
@ChiragMishra-MSFT
dsin_ref = DatasetReference(reference_name=ds_name)
dsOut_ref = DatasetReference(reference_name=dsOut_name)
work also. No need for 'type' argument.

[2019-12-19 08:32] 362241 commented on #35391
@MartinJaffer-MSFT The Full Script section still contains wrong codr for DatasetReference and CopyActivity.

[2019-12-19 08:41] mcurko opened #44955 "Question"
What's the point in using blob storage as a staging area for data transfer? Why isn't the data copied directly from SQL server to SQL Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7827f519-aa8a-94e2-fd41-a0bda4ae8efb
* Version Independent ID: cf4f460b-d836-1c34-3103-48171791c395
* Content: [SQL Server data to S

[2019-12-19 08:43] DixitArora-MSFT commented on #44727
@oleksandr-bilyk Just following up here... Hope my previous comment helps.

[2019-12-19 08:43] DixitArora-MSFT commented on #44759
@anis020 Just following up here... Hope my previous comment helps.

[2019-12-19 08:47] SychevIgor opened #44956 "Update table to reflect support of Functions V3"
In this table https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-functions-supported-features#supported-features
I see v1,v2, but not v3
V3 is in GA and would be nice to include information about it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c396b396-6738-2f14-f288-3f6eadee57c3
* Version Independent ID:

[2019-12-19 08:51] WilliamVannuffelen opened #44957 "Page content cuts off abruptly."
Hello,

This page should be looked at from a legibility perspective. Some sentences are left unfinished, which leaves the whole a bit unclear.

e.g.:
"The {subscriptionGuid} parameter is required and should contain a subscription ID that can be read using the credentials provided in the API token. The {reportName} [page content is clearly missing here]

The following headers are required:"

From w

[2019-12-19 08:52] SychevIgor commented on #34702
Will be nice to have answer. almost 6 months after initial report.

[2019-12-19 08:55] SychevIgor opened #44958 "Application Map screenshot out-of-date"
https://docs.microsoft.com/en-us/azure/azure-functions/media/functions-monitoring/app-map.png
This screenshot require an update, because current ui is different.
It's minor, but up-to-date documentation is always better.
How it's look now
![image](https://user-images.githubusercontent.com/578954/71159344-84470480-2256-11ea-8608-9c442e999232.png)
---
#### Document Details

⚠ *Do not edit this secti

[2019-12-19 08:58] 362241 commented on #44949
@ChiragMishra-MSFT
Actually the error is in the Full Script section. That needs to be updated.

[2019-12-19 08:59] ChiragMishra-MSFT commented on #44949
@362241 Sure Rahul. We will have a look :) Thanks for helping us constantly improve our products and documentation.

[2019-12-19 09:02] frehnejc opened #44959 "A Script that runs locally completes as expected but throws an error using Invoke-AzVMRunCommand"
I am running an msiexec removal one is removed successfully (32bit) and the other a 64bit isn't removed. The return from the PowerShell execution is shown below:
Value[0]        :
  Code          : ComponentStatus/StdOut/succeeded
  Level         : Info
  DisplayStatus : Provisioning succeeded
  Message       : Proximity
T h i s   a c t i o n   i s   o n l y   v a l i d   f o r   p r o d u c t s

[2019-12-19 09:03] dzajda opened #44960 "Getting an error while importing content - Error detecting index schema from data source: """
Hello,
it's follow up to https://github.com/MicrosoftDocs/azure-docs/issues/24491

I'm still struggling with that error. I've created a private blob storage and put JSON files to a container. I'm not able to import any JSON file from the blob storage via Azure Portal. Even really simple ones. Only Error detecting index schema from data source: ""

Do you know any solution or at least could you tel

[2019-12-19 09:06] ManojReddy-MSFT commented on #44932
@keithdv I am a bit confused. So, can you confirm the following details?

1) You are following the steps in this doc to get a SAML assertion from Azure AD. In this assertion, you the issuer field is "https://sts.windows.net/<TenantId>" instead of "https://login.microsoftonline.com/<TenantIDGUID>/".

Is this the issue?

2) Can you confirm to which endpoint you are sending the SAML request from your

[2019-12-19 09:09] test123114 opened #44961 "Can I use same Id across partition"
[Enter feedback here]
Under the heading "Properties of item" there is a mention ```id``` which is User-defined unique name in a logical partition. So I can use the same id in the different partition(partition key). Right?

So I can use the same id in the different partition(partition key). Is that right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-19 09:17] Bhanu88 commented on #44379
Thanks Paul i am closing the issue

[2019-12-19 09:17] #44379 closed

[2019-12-19 09:19] VikasPullagura-MSFT commented on #44815
@MikkelHegn Can you please look into the feedback and update the document as appropriate.

[2019-12-19 09:23] StefanSchoof commented on #37390
@ daniellittledev Did you find a solution, create a User Voice or similar and have a link you can share here?

[2019-12-19 09:24] mojjeietuna opened #44962 "Following the steps in the guide does not work"
Run the following PowerShell command to create a development cluster:
. "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1"
gives:
 "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1"
. : The term 'C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1' is not recognized as the
 name of a cmdlet, function, script

[2019-12-19 09:30] SadiqhAhmed-MSFT commented on #44947
@bandersmsft To review and update as needed.

[2019-12-19 09:36] 486 opened #44963 "Documentation on notifications element slightly confusing"
The text for [Virtual Machine scale sets](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-webhook-email#virtual-machine-scale-sets) doesn't make it very clear that the notifications element is actually part of the [autoscale settings](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2015-04-01/autoscalesettings).

Old text:

When using the REST API or Res

[2019-12-19 09:39] siminchengithub opened #44964 "Access dbutils in RStuio desktop or RStudio Server on Databricks"
Please provide instructions for the issue mentioned in the title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9bfc96
* Version Independent ID: cf117e4e-c261-858c-517e-04d67e44c35e
* Content: [Databricks Connect - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/dev-to

[2019-12-19 09:40] hugobarona commented on #44600
Thank you @diberry. I noticed as well that the [Cognitive Services page](https://azure.microsoft.com/en-in/services/cognitive-services/) is not listing some of the new Cognitive Services available, such as [Local Business Search ](https://azure.microsoft.com/en-in/services/cognitive-services/bing-local-business-search/) under the Web Search APIs. I was looking at the documentation and i did not re

[2019-12-19 09:41] siminchengithub opened #44965 "Invoking dbutils.secrets in RStudio server"
Please provide instructions for invoking dbutils.secrets.get() in RStudio server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 397d1968-de0f-75dc-216f-cef3e336dd70
* Version Independent ID: 487ed832-bea1-5dfa-da11-c4da504f2060
* Content: [RStudio on Azure Databricks - Azure Databricks](https://docs.microsoft.com/en-us

[2019-12-19 10:04] jakaruna-MSFT commented on #44867
@AjKundnani Thanks for the feedback.

We need to remove the trailing "\" on the last line.

`--generate-ssh-keys` is needed only when we need to login to the agent nodes.

Users will be able to complete the tutorial without that option as well.  Please let me know if you are facing \difficulties to complete the tutorial without that option.

[2019-12-19 10:04] hansmbakker commented on #32024
@yegu-ms @kobulloc-MSFT can you please reopen this issue and look at how the documentation can be improved?

The following points are not clear and are not discussed in the documentation:
- how can filters be combined?
- `IFeatureFilter`s and MVC filters are different things I believe.
  - How are they related?
  - How should they be implemented?
  - What filters are available out of the box?
- I

[2019-12-19 10:08] KrishnaG-MSFT commented on #44957
Assigning to content owner for visibility, review and document enhancement considerations.
Assigning to @bandersmsft as unable to add @lleonard-msft under assignees.

[2019-12-19 10:08] VikasPullagura-MSFT commented on #44962
@mojjeietuna Thanks for the Feedback.

I have tried to reproduce the issue by following the Tutorial and it is working as expected without any issue.

Can you check if the the script (DevClusterSetup.ps1) exists in the path mentioned in the document "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\". Also check the Azure Service Fabric SDK is installed correctly.

I tried giving wrong

[2019-12-19 10:10] hansmbakker commented on #32024
https://andrewlock.net/introducing-the-microsoft-featuremanagement-library-adding-feature-flags-to-an-asp-net-core-app-part-1/ seems to be a good blog about this

[2019-12-19 10:12] RohitMungi-MSFT commented on #44857
@marcusturewicz Thanks for your inputs. In this sample example this change would break the quickstart as we would be calling `MakeAnalysisRequest()` from the `Main()`.
Our sample SDK [repo](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/tree/master/samples/ComputerVision) does handle this issue for processing multiple images.

[2019-12-19 10:14] marcusturewicz commented on #44857
You can make the main method async as well since C# 7.0

[2019-12-19 10:25] JRhodes95 commented on #44900
Also, the error is that container.storedProcedure is not a function - so both container.storedProcedure.create() and .execute() do not exist, so I can neither create or execute stored procedures programmatically.

[2019-12-19 10:26] snehaamicrosoft commented on #43453
We are working on updating the documentation, WS 2016 is the only supported OS. #please-close. Also tagging @vibansa

[2019-12-19 10:26] #43453 closed

[2019-12-19 10:29] JRhodes95 commented on #44900
The container class has no storedProcedure method in Github either - https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/src/client/Container/Container.ts

[2019-12-19 10:29] KrishnaG-MSFT commented on #44963
@486 Thanks for the feedback! A PR (Pull Request) is created as mentioned above and the doc will automatically get updated with the change in 24 hours.

[2019-12-19 10:38] giovannifl opened #44966 "Clarification on Free DR replica in Azure"
"Free DR replica in Azure" paragraph says "If you have Software Assurance, you can implement hybrid disaster recovery (DR) plans with SQL Server using Always On availability groups or failover cluster instances without incurring additional licensing costs for the passive DR instance."
Please could be clarified if SA (Software Assurance) could be used to deploy a SQL Server Always On availability g

[2019-12-19 10:40] wesleyniels commented on #41198
Oke, created a support case.

[2019-12-19 10:49] vishag opened #44967 "New ACL entry issue"
1.	“New-AzDataLakeGen2ItemAclObject” will add an ACL entry, but not replace ACL entry. So run it 2 times, $acl will have duplicated entries
2.	When Set ACL with duplicated entries to server, server will report 400, but the ACL is still partially updated to server.  (It seems server will update the ACL entries one by one, and when one entry fail the whole request fail, but ACL on server will leave

[2019-12-19 10:50] jakaruna-MSFT commented on #44793
ok.   I checked with powershell core on windows with version 6.2.3. I didnt check on MAC.

First option:
One option to try is to import the module.
Just give `import-module -name Az` and then try to create the image reference.

Second option:
Update to the latest version and then try out.

That model is shown in the .NET api [here.](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.comma

[2019-12-19 10:52] VikasPullagura-MSFT commented on #44795
@mybayern1974

You can view the available zones per SKU by running the following PowerShell command:
`Get-AzComputeResourceSku | where {$_.Locations.Contains("eastus2")};`

You can check this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-powershell-availability-zone#check-vm-sku-availability) for more details.

I will have the document author add comments on thi

[2019-12-19 10:53] VikasPullagura-MSFT commented on #44795
@cynthn Can you please check on this feedback and add your comments on programmatic ways to list Availability Zones inside a region.

[2019-12-19 10:57] KalyanChanumolu-MSFT commented on #44715
@rmaziarka As mentioned on the document

To provide more flexibility to developers, Bulk Executor library has a replacement in our V3 SDK, where bulk and batch operations are integrated within the SDK.

The repo [here](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/TransactionalBatch/Program.cs) has samples   for bulk operations with transactions s

[2019-12-19 10:57] VikasPullagura-MSFT commented on #44748
@ChristianMontoya Can you look into this query and add your comments on this.

[2019-12-19 10:59] hansmbakker opened #44968 "How to combine MSI and local development?"
A sample of how to combine MSI and a local development workflow would be nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead183b0aab
* Content: [Integrate with Azure managed identities](https://docs.microsoft.com/en-us/azure/azu

[2019-12-19 11:02] benm-eras commented on #38558
@KrishnaG-MSFT it would be really good if there could be some indication that the VM and ASR vault need to be in the same region for discovery to work. Maybe a little bit of text when creating a backup goal near the "Start Discovery" button. I just wasted a ton of time debugging this.

[2019-12-19 11:02] KalyanChanumolu-MSFT commented on #44924
@cloudmelon You might have to refresh the page to display the progress.
Thank you for taking the time to report this though.
We will try to reproduce this and get it fixed accordingly.

[2019-12-19 11:08] KrishnaG-MSFT commented on #38558
@benm-eras Thanks for the feedback!
@dcurwin - FYI. Tagging content owner @dcurwin for visibility, review, document enhancement consideration or provide insights.

[2019-12-19 11:09] cloudmelon commented on #44924
Hi Kalyan,

I report this because I refresh a couple of times it start to display until the completion. Thanks

Best wishes
Melony

[2019-12-19 11:10] KalyanChanumolu-MSFT commented on #44961
@test123114 Thank you for reaching out.

As mentioned on the document,

Yes, you will be able to use the same id with a different partition key combination.

[2019-12-19 11:10] cloudmelon commented on #44924
And my browser is :

Microsoft edge ( chromium-based ) latest version. Thanks

Best wishes
Melony

[2019-12-19 11:10] lywyn opened #44969 "Out dated"
SCreens and instructions no longer match the portal process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eeeaf10-1280-fb39-7365-bd626d719d72
* Version Independent ID: 66d4d86f-bc64-6f24-a55f-1f68c801d98e
* Content: [Copy data from SQL Server to Blob storage using Azure portal - Azure Data Factory](https://docs.micro

[2019-12-19 11:15] KalyanChanumolu-MSFT commented on #44924
@cloudmelon  Thank you for the additional context. We will look into this.

[2019-12-19 11:31] npigit opened #44970 "restore to .bak file"
Hi,

Is there a way to restore a SQL database to a .bak file using powershell?
It is possible through Azure portal however I have not found how to do it using powershell on this article.

Best regards,

[2019-12-19 11:33] npigit opened #44971 "Restore SQL db to .bak file"
Is there a way to restore a SQL database to a .bak file using powershell?
It is possible through the portal however I have not found how to do it using powershell on this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e507c4f5-e3f7-a7f8-780f-a1f359b59980
* Version Independent ID: d5b5b269-16f7-08be-3d4d-c480cff

[2019-12-19 11:47] dominicbetts commented on #44475
Hi @fadyanwar - the removal of those templates is by design. In November we released a number of new features in the IoT Central application platform including the simplification of device onboarding using IoT Plug and Play. To showcase the future direction of our platform and it’s applicability to multiple scenarios across a number industries we also released 11 industry application templates. We

[2019-12-19 11:55] SychevIgor opened #44972 "specify in a document that "Maximum event size" is in KB"
Could you specify in a document that "Maximum event size" is in KB? As of now - it's unclear 64000 KB or Kb or MB?
![image](https://user-images.githubusercontent.com/578954/71171781-ad27c380-226f-11ea-87a0-554433769451.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca0191e-5d1b-44a1-afb3-71463164b53e
* Version In

[2019-12-19 11:57] sanchetanparmar commented on #44790
Above code working for ```2012-R2-Datacenter``` and `2016-Datacenter-Server-Core`  but not for ```2016-Datacenter```

**2016-Datacenter**
==> azure-arm: Waiting for WinRM to become available...

==> azure-arm: Timeout waiting for WinRM.

[2019-12-19 11:59] Reisclef opened #44973 "BlobClient UploadAsync throws 409 Blob exists, but docs state it overwrites"
In the guide for BlobClient, it states that UploadAsync: "creates the blob if it doesn't already exist, and overwrites it if it does."

However, when calling UploadAsync with an existing file name (even though both methods state the same), I get a 409 The specified blob already exists error.

Is it possible that this should read that it "overwrites any existing metadata on the blob" ?

---
#### Do

[2019-12-19 12:00] g0pinath opened #44974 "Details on pricing."
# Azure documentation issue guidance
I am working on a backup strategy/solution and have a question regarding pricing.
Since Azure file shares backup is in preview, I don't see anything to calculate from the pricing calculator and am trying to guesstimate for storage that will be required to hold this backup.

The requirement is to store the Azure file storage backup for up to 10 years. File delet

[2019-12-19 12:05] jakaruna-MSFT commented on #44790
@sanchetanparmar Thanks for checking with multiple versions.
I will escalate this to the product teams and update you when i have some information.

[2019-12-19 12:08] jakaruna-MSFT commented on #44790
@cynthn Please add your comments

[2019-12-19 12:09] SychevIgor opened #44976 "Update package versions"
Could you update package versions?
For example:
For Microsoft.ApplicationInsights stable package - is 2.8, but latest stable is 2.12 https://www.nuget.org/packages/Microsoft.ApplicationInsights/
Other version also require some attention from Microsoft.
This page should be deleted or actualized

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-12-19 12:09] RohitMungi-MSFT commented on #44955
@mcurko Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-19 12:10] ChiragMishra-MSFT commented on #44969
@lywyn Thanks for bringing this to our notice. I am assigning the issue to the content owner to investigate and update as appropriate.

@nabhishek Can you please take a look at this?

[2019-12-19 12:12] SychevIgor opened #44977 "Function v3 supported?"
Is it possible to do it in v3? there is no v3 version mentioned here. Could you add?
https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-endpoints#azure-functions-v2x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b71f799-dc93-1ae1-8b6f-4b37ae35b10b
* Version Independent ID: e3543e04-865c-852f-8dce-9fb1f4a

[2019-12-19 12:14] ChiragMishra-MSFT commented on #44965
@siminchengithub Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-19 12:15] ChiragMishra-MSFT commented on #44964
@siminchengithub Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-19 12:21] tigerhive commented on #44806
Hello.
I had this error, too, and I was convinced it was working a few days ago! Anyway, I realised that I was using python 3.5 in my environment definition. I changed that to 3.6 and it works! I notice that there was a new release of azureml-code on 9 Dec 2019.

There's a note in stackoverflow

https://stackoverflow.com/questions/59376866/azure-machine-learning-fails-when-trying-to-deploy-model/5

[2019-12-19 12:22] SychevIgor opened #44978 "Highlight even in this article that "Multi-step web test:" almost retired"
"Multi-step web test:" will be retired in March 2020. It's not reflected on this page and we need to click one more time.
Please, for "Multi-step web test:" add some either note or highlight to reflect it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5f

[2019-12-19 12:23] Reisclef commented on #44973
Okay, so after some investigation, it appears that you must use the overload with the second boolean parameter set to true (default is false) in order to utilise the behaviour described in the documentation.

Might be worth correcting the doc to say that you must pass this parameter to overwrite the blob.

[2019-12-19 12:26] jakaruna-MSFT commented on #44272
@mlearned Please answer the users query and also update them on the document if needed.

[2019-12-19 12:26] accampos commented on #44870
No, thank you for your feedback.

[2019-12-19 12:28] KrishnaG-MSFT commented on #44902
@gacurtin Thanks for the feedback! Updated the doc. The change should reflect on the doc within 24 hours. We will now proceed to close this thread. However, if there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2019-12-19 12:28] #44902 closed

[2019-12-19 12:28] KrishnaG-MSFT commented on #44903
@gacurtin Thanks for the feedback! Updated the doc. The change should reflect on the doc within 24 hours. We will now proceed to close this thread. However, if there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2019-12-19 12:28] #44903 closed

[2019-12-19 12:29] KrishnaG-MSFT commented on #44904
@gacurtin Thanks for the feedback! Updated the doc. The change should reflect on the doc within 24 hours. We will now proceed to close this thread. However, if there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2019-12-19 12:29] #44904 closed

[2019-12-19 12:36] #44870 closed

[2019-12-19 12:36] mcurko opened #44979 "Possible error"
According to https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime
"The self-hosted integration runtime copies data between an on-premises store and cloud storage. The direction of the copy depends on how the copy activity is configured in the data pipeline."
=&gt; the data transfer direction on first image is wrong (between on-prem and cloud)

---
#### Documen

[2019-12-19 12:45] borys86 opened #44980 ""Required parameter WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is missing." while deploying on App service plan"
following this section, https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#deploy-on-app-service-plan
I am trying to deploy using app serivce plan
Azure function section looks like this:

{
      "apiVersion": "2016-03-01",
      "type": "Microsoft.Web/sites",
      "name": "[parameters('newFileTriggerfunctionAppName')]",
      "location": "[resourceGroup().loc

[2019-12-19 12:47] booyaa opened #44981 "Add a note that wildcard domains aren't supported"
I have an app service that I want to migrate my wildcard domains to Azure Front Door e.g. foo.staging.contoso.com, bar.staging.contoso.com.

To migrate to Azure Front Door:

- Create Front Door
- Add App Service to migrate as a Frontend Host (as per quickstart [guide](https://docs.microsoft.com/en-us/azure/frontdoor/quickstart-create-front-door))

Setup custom domain:
- DNS registrar: create a CNA

[2019-12-19 13:02] sladeedmonds commented on #42974
I was finally able to determine the resolution.  When logging in to a Managed Instance in the Azure Gov cloud, **if you are using MFA** on the AAD account, you have to manually select the Azure US Government cloud environment in Tools/Settings within SMSS.  This may seem obvious; however, note that when logging in to Single Instance in Gov, pointing SMSS to the Gov cloud isn't necessary.  If you d

[2019-12-19 13:04] Tharindu-Diluksha commented on #34409
@PramodValavala-MSFT It seems like the "addtogroup" functionality is not working when adding to multiple groups. [https://github.com/Azure/azure-functions-signalrservice-extension/issues/89](https://github.com/Azure/azure-functions-signalrservice-extension/issues/89)

[2019-12-19 13:24] stel-lest commented on #24942
yes, please reopen this
`
az aks nodepool add \

Operation failed with status: 'Bad Request'. Details: AgentPool APIs supported only for clusters with VMSS agentpools. For more information, please check https://aka.ms/multiagentpoollimitations
`

[2019-12-19 13:33] giovannifl commented on #41650
Hi @sumanthMarigowda-MSFT,
Please could you clarify if both ADE v1 and ADE v2 don't support S2D ?
Thanks

[2019-12-19 13:43] #44726 closed

[2019-12-19 13:43] srinu0681 opened #44982 "Typecast error"
Hi,

I tried this technicalprofile in our application but I am seeing this error in the logs

Unable to cast object of type 'Web.TPEngine.Providers.OneTimePasswordProtocolProvider' to type 'Web.TPEngine.Providers.IProtocolProvider'

Appreciate your help.

Thanks,
Srinivas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-19 13:51] PramodValavala-MSFT commented on #44958
@SychevIgor Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-12-19 14:08] taroarai opened #44983 ""Connections from inside Azure" should mention the option in Azure portal"
It only noted "A firewall setting that has starting and ending IP addresses equal to 0.0.0.0 indicates that Azure connections are allowed," however it should mention this option is "Allow Azure services and resources to access this server" in Azure portal for firewall blade. Otherwise, people could miss the important note in that section.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-12-19 14:24] pmozbert commented on #44790
I am getting same timeout for 2019-Datacenter.
==> azure-arm: Waiting for WinRM to become available...
==> azure-arm: Timeout waiting for WinRM.

These are my communicator configs.
			"type": "azure-arm",
			"os_type": "Windows",
			"image_publisher": "MicrosoftWindowsServer",
			"image_offer": "WindowsServer",
			"image_sku": "2016-Datacenter",
			"communicator": "winrm",
			"winrm_use_ssl": "tru

[2019-12-19 14:28] brianmrush commented on #44855
Yes thank you!

From: Pramod Valavala <notifications@github.com>
Sent: Thursday, December 19, 2019 1:30 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brian Rush <brianmrush@bmrtechnology.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Receive events in a batch with EventData an array: (#44855)

@brianmrush <https://github.com/brianmrush>  Ju

[2019-12-19 14:29] sanchetanparmar commented on #44790
@pmozbert  please change -` "image_sku": "2019-Datacenter",`
it will work for 2019, facing issue with only `"image_sku":"2016-Datacenter"`

[2019-12-19 14:32] SadiqhAhmed-MSFT commented on #44971
@npigit Thanks for the question. We are looking into this and will get back to you shortly.

@dcurwin Can you get some help on this? As per my research, it is possible using other tools like SSMS Export/Import or using the Microsoft database migration assistance tool.

[2019-12-19 14:32] tzylla commented on #40519
@bandersmsft is there any update on this?

[2019-12-19 14:33] NavtejSaini-MSFT commented on #44911
@JasonFreeberg Please get back to us if any further questions. If not we will close this thread by EOD.

[2019-12-19 14:35] NavtejSaini-MSFT commented on #44901
@MasayukiOzawa Thanks for the question and hope we were able to help you. If no further question we will close the thread by EOD.

[2019-12-19 14:36] MonikaReddy-MSFT commented on #44968
@hansmbakker , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 14:36] SadiqhAhmed-MSFT commented on #44972
@SychevIgor Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@bwren FYI.

[2019-12-19 14:37] NavtejSaini-MSFT commented on #44863
@mcurko If you have any further questions, please get back to us. If not we will close the thread by EOD.

[2019-12-19 14:38] NavtejSaini-MSFT commented on #44887
@Balfa  If you have any further questions, please get back to us. If not we will close the thread by EOD

[2019-12-19 14:40] MarkDNL commented on #33157
@SubhashVasarapu-MSFT Please reopen. We are coping with a  similar same issue. Portal UI is completely broken.

[2019-12-19 14:40] SychevIgor opened #44984 "Update screenshot for Metrics. It's looks different for a last 6+ months"
https://docs.microsoft.com/en-us/azure/app-service/media/web-sites-monitor/metrics.png
This UX is different. Could you make a screenshot with a latest ux?
It's minor, but people use documentation to learn Azure and frustrated if documentation different from actual portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-19 14:40] booyaa commented on #44981
Update: I found a workaround - whilst you can't register `*.staging.contoso.com` as a custom domain, you can create frontend hosts using the wildcard subdomain i.e. `foo.staging.contoso.com`, this does mean you have to explicitly list your domains and there's a limit of 100 frontend host custom domains.

[2019-12-19 14:41] MonikaReddy-MSFT commented on #44976
@SychevIgor ,
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 14:43] crisher0219 commented on #37499
@fvalentiner, is there any update on this at all?

[2019-12-19 14:43] steverlabs opened #44985 "Typo in opening sentence"
Opening sentence of article states: "ExpressRoute supports a couple encryption technologies to ensure confidentiality and integrity of the data traversing between your network and Microsoft's network."

I believe what was intended may be: "ExpressRoute supports a couple of encryption technologies to ensure confidentiality and integrity of the data traversing between your network and Microsoft's ne

[2019-12-19 14:44] SadiqhAhmed-MSFT commented on #44970
Closing this as "Duplicate of #44971"

[2019-12-19 14:44] #44970 closed

[2019-12-19 14:45] crisher0219 commented on #37499
@ChiragMishra-MSFT or @linda33wj, is anyone looking into this? StitchData is integrating with Quickbooks Online as well as Power BI.

[2019-12-19 14:49] MonikaReddy-MSFT commented on #44956
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 14:50] MonikaReddy-MSFT commented on #44977
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 14:51] MonikaReddy-MSFT commented on #44978
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 14:54] aleazofeifam opened #44986 "Missing some new features in the list."
There was recently a change in the UI for Groups called "Enhanced Groups experience PREVIEW" here is the link https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-members-owners-search and is not included in this page I believe you should consolidate all of the info in one place including the UI/UX changes.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-19 14:55] PramodValavala-MSFT commented on #44855
@brianmrush Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-19 14:55] #44855 closed

[2019-12-19 14:57] treisska opened #44987 ""Move" button does not seem to exist anymore."
It seems that this page is outdated I can't find the "Move" button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move resources to a new subscription or resource group - Azure Resource Manager](https://docs

[2019-12-19 15:04] bpcastilho opened #44988 "UserInfo"
It would be useful to get the userinfo endpoint documented with more detail on the output expected from it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30daadc7-6f55-207a-9125-9e97f06d9f85
* Version Independent ID: aba0421a-b35a-e24f-d7db-7c89169772fc
* Content: [Authorize web app access with OpenID Connect & Azure

[2019-12-19 15:13] lwsrbrts commented on #44047
It would be handy to get clarity on this as we have the exact same scenario as the OP.

This article posted from the original announcement about new peering suggests routes are not possible:

https://azure.github.io/AppService/2018/10/17/New-App-Service-VNet-Integration-feature.html

This seems to suggest UDRs are not supported but the reference to UDRs is not specifically used in the article.

[2019-12-19 15:15] KrishnaG-MSFT commented on #44987
@treisska Perhaps I am missing something but based on given information, my understanding and as shown in below screenshot, I could see 'Move' button. It will be available inside a resource group. Can you confirm if you are checking inside a resource group or not ? If yes, can you please provide a screenshot.

![image](https://user-images.githubusercontent.com/45988031/71184806-4e2e7280-22a0-11ea-

[2019-12-19 15:20] asergaz commented on #43726
Hello @SushrutDeo , once again thank you for your time to reporting this issue. We have seen other reports similar to yours, and identified a bug on .NET device sdk version 1.21.2:

- https://github.com/Azure/azure-iot-sdk-csharp/issues/1159
- https://github.com/Azure/azure-iot-sdk-csharp/issues/1130

With the new .NET device sdk version 1.21.3 the tutorial should work as expected.

Thank you so m

[2019-12-19 15:24] krozgrov commented on #44910
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-registration-mfa-sspr-combined

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Wednesday, December 18, 2019 11:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: krozgrov <krozgrov@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2019-12-19 15:24] SushrutDeo commented on #43726
Thank you very much.

[2019-12-19 15:25] jeanpoelie commented on #44735
When will the insights be provided?

[2019-12-19 15:33] totosan commented on #44636
@mbialecka  Working with Python SDK v12.1.0 and IoT Edge Storage, having still issues with x-ms-version. It's not fixed, from my perspective. How can I get this working?

[2019-12-19 15:36] DashleenBhandari-MSFT commented on #44950
@ken2666 , Could you please provide the document you are referring to?

[2019-12-19 15:38] DashleenBhandari-MSFT commented on #44952
@WoutVergauwen , Thanks for raising the issue. We will investigate and update you.

[2019-12-19 15:39] DashleenBhandari-MSFT commented on #44953
@SreekanthOAuth , Could you please provide the document you are referring to?

[2019-12-19 15:39] philippschaefer4 opened #44990 "Update new AML Inference Webservice with Data Factory"
Hi,
I want to build a fully automated end-to-end retrain mechanism for the new inference webservices that I built with the new graphical designer in Azure Machine Learning (https://ml.azure.com/)

As far as I understand Data Factorys "Batch Execution" and "Resource Update" features as described in the previous sections are for the old ML Studio (https://studio.azureml.net/) and the "Execute Pipeli

[2019-12-19 15:41] DashleenBhandari-MSFT commented on #44954
@jabamit , Could you please provide me the document you are referring to?

[2019-12-19 15:42] DashleenBhandari-MSFT commented on #44875
@juunas11 , Just wanted to follow up if you have any further queries?

[2019-12-19 15:43] NavtejSaini-MSFT commented on #44983
@taroarai Thanks for the feedback. We are checking this and will get back to you.

[2019-12-19 15:44] DashleenBhandari-MSFT commented on #44959
@frehnejc, Could you please provide the document you are referring to?

[2019-12-19 15:45] juunas11 commented on #44875
Is it okay that the docs page has two differing opinions on the matter? Shouldn't one of the ones I mentioned say 1 GB as well if that's the default?

[2019-12-19 15:49] DashleenBhandari-MSFT commented on #44960
@dzajda , Thanks for raising the issue. We will investigate the issue and update you.

[2019-12-19 15:50] DashleenBhandari-MSFT commented on #44875
@cephalin , Could you please review the document and update us.

[2019-12-19 16:00] thisisbrianstewart opened #44991 "Role names in table are incorrect"
The role names provided in the table on this page are inaccurate.  They all begin with the word "Azure", but the actual roles do not.  Doc reference:  https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#api-management-service-contributor

I note this because it tripped me up when trying to do role assignments via cli.  I had to come back to the portal to figure out corr

[2019-12-19 16:01] PaulSpinksHMCTS opened #44992 "Resetting the Powershell Context"
Following the move of my Subscription I was able to access the resources in the portal within 1 hour. Powershell however was still showing the incorrect Tenant in the context after 4 hours, depsite logging in / out, rebooting my machine, etc. This prevented me from carrying out these steps. I solved this by running Clear-AzContext, then logging in again using Connect-AzAccount in the normal way.

[2019-12-19 16:11] ken2666 commented on #44950
Hey @DashleenBhandari-MSFT > This is more of a design question not related to documentation.. Are there any microsoft policy which dictates that providers customer's should use separate peering instead of using just one for passing multitenant traffic?

TIA
Ken

[2019-12-19 16:26] NavtejSaini-MSFT commented on #44900
@SnehaGunda @hrasheed-msft Can you please check this and correct it if needed.

[2019-12-19 16:34] DixitArora-MSFT commented on #44991
Hi @thisisbrianstewart Thanks for your feedback. We will review and update as appropriate.

[2019-12-19 16:39] NavtejSaini-MSFT commented on #44983
@taroarai We have raised a request to get this added in. Once approved the document will be updated.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99433

[2019-12-19 17:02] urklnme218 opened #44993 "when was the OPDG broken? (see #43301 azure)"
How is it possible for anyone to install the OPDG when it defaults to IOWA region in Government?

I have the latest version and it just doesn't allow me to change the region.  This is a critical part of what I need to do with Azure.

Is there some other way to connect to on premise oracle databases?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-12-19 17:04] jabamit commented on #44954
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app

[2019-12-19 17:05] jabamit commented on #44954
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/archive/master.zip

[2019-12-19 17:05] jabamit commented on #44954
unableto open in vs 2019

[2019-12-19 17:09] taroarai commented on #44983
Thank you for quick response.

[2019-12-19 17:10] Glenlake commented on #44047
OP chiming back. I forged ahead and did some experimentation. I can tell you that I was able to peer the VNet with another VNet, and also it would appear that UDRs are being applied to traffic sent by the integrated Azure Web App.  We we are using that setup to force traffic through a virtual network appliance (firewall).  It seems to be working for us at the moment anyway. The article suggests th

[2019-12-19 17:12] lwsrbrts commented on #44047
Thankyou for the confirmation @Glenlake - makes life much easier.

[2019-12-19 17:14] #44908 closed

[2019-12-19 17:23] HeidiSteen commented on #44960
@dzajda  Could you try this article instead: https://docs.microsoft.com/en-us/azure/search/search-howto-index-json-blobs   It documents JSON parsing properties that are essential for pulling out the right data.

The quickstart, which is the article attached to this issue, seems to be fine as-is.  It doesn't actually cover JSON import so really you are better off with the article.

I'm going to clo

[2019-12-19 17:23] #44960 closed

[2019-12-19 17:24] PishPoshery opened #44994 "Minor edit proposed"
created (not creating)

Assign permissions to register the appliance
You can assign permissions for Azure Migrate to create the Azure AD apps creating during appliance registration, using one of the following methods:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e471b58-5a81-3c02-4e3a-cbb6f19e6a49
* Version Independ

[2019-12-19 17:24] msrini-MSFT commented on #44985
@steverlabs , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-19 17:31] dmarlow opened #44995 "Storage Accounts created before Sept 24th, 2018"
"Azure AD DS authentication for SMB access is available only for storage accounts created after September 24, 2018."

Any options, like a migration or magic behind the scenes, that can be done without having to create another instance and have to manually move things to the new storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-19 17:37] msrini-MSFT commented on #44985
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99436

[2019-12-19 17:38] #44985 closed

[2019-12-19 17:40] dlepow commented on #44720
@alwils - Thanks for the suggestion! We'll evaluate as a potential addition to the article.

[2019-12-19 17:45] mmoore25 commented on #31396
These issues noted have not been changed.

[2019-12-19 17:46] mojjeietuna commented on #44962
Eventually got further by guessing.
But when starting that it says it wants to delete all logs
under (C:\SfDevCluster\Log) and that iut can not since it is being used.
What is this? This is really not the experience we expect from Microsoft.
What processes is it I need to kill to make this nonsense work?

On Thu, Dec 19, 2019 at 10:08 AM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2019-12-19 17:48] asherkariv opened #44996 "01-turbofan_regression - setup notebook fails"
Hi,

I encounter azureml-core version mismatch during the notebook setup, which affects other stages, and also 02-turbofan_deploy_model (see errors below). Can you please advise.
Thanks

ERROR: papermill 1.2.1 has requirement tqdm&gt;=4.32.2, but you'll have tqdm 4.26.0 which is incompatible.
ERROR: azureml-widgets 1.0.72 has requirement azureml-core==1.0.72.*, but you'll have azureml-core 1.0.79

[2019-12-19 17:50] hrasheed-msft commented on #44435
@jbmadscience Please let us know if you have remaining questions, otherwise we will go ahead to close out this issue.

[2019-12-19 18:00] Karishma-Tiwari-MSFT commented on #44681
@jeanpoelie Thank you for sharing the verison details. Can you also please share the screenshot of the error? Thanks

[2019-12-19 18:02] Karishma-Tiwari-MSFT commented on #44687
@siddharthdashore Is there an update? Let us know if that helped answer your question. Thanks.

[2019-12-19 18:02] Karishma-Tiwari-MSFT commented on #44686
@siddharthdashore Is there an update? Let us know if that helped answer your question.

[2019-12-19 18:03] davidfox2 commented on #42684
Any updates?

[2019-12-19 18:03] davidfox2 commented on #37819
Any Updates?

[2019-12-19 18:07] seadoggie01 opened #44997 "Implicit Grant Photo - Dark Mode"
It's very hard to see the implicit grant photo in Dark mode because the image doesn't contain a background and creates black text on a dark background.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c12ad-ea7f-5b0a-2322-582720ee76fc
* Version Independent ID: 443d54f7-5ffa-444a-c757-1348fb1ca948
* Content: [MSAL auth

[2019-12-19 18:09] YutongTie-MSFT commented on #44723
@worgerm Hi, hope you have solved your issue. I am going to close this temporarily since it's not active now. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-19 18:09] #44723 closed

[2019-12-19 18:14] MarileeTurscak-MSFT commented on #44986
@aleazofeifam
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 18:15] MarileeTurscak-MSFT commented on #44988
@bpcastilho
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 18:15] djpmsft commented on #44938
Hi @lotsahelp,

Activity output is generally documented in each activities article as the json output object differs in each activity. Unfortunately you do need to hard code each activity name with a string literal when referencing it.

If there is specific activity output that you believe is not well documented, please let us know

[2019-12-19 18:21] MartinJaffer-MSFT commented on #44964
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2019-12-19 18:25] MartinJaffer-MSFT commented on #44965
Thank you for your feedback @siminchengithub . This has been assigned to the content owner @mamccrea  and will be updated as appropriate.

[2019-12-19 18:28] mojjeietuna commented on #44962
I get this and for some reason some of it is in Swedish:

PS C:\WINDOWS\system32> . "C:\Program Files\Microsoft SDKs\Service
Fabric\ClusterSetup\DevClusterSetup.ps1"

Using Cluster Data Root: C:\SfDevCluster\Data
Using Cluster Log Root: C:\SfDevCluster\Log

WARNING: The cluster log root (C:\SfDevCluster\Log) is not empty. All files
and subfolders under it will be deleted.
Do you want to continue [