[2019-03-22 17:10] YutongTie-MSFT commented on #27721
@GhostAtom We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 17:10] #27721 closed

[2019-03-22 17:12] rbrundritt commented on #14350
@haywoodsloan just came across this issue on GitHub, do you know if this is something we have addressed already?

[2019-03-22 17:12] YutongTie-MSFT commented on #21183
@sshadmand
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PanosPeriorellis Thank you!

[2019-03-22 17:12] #21183 closed

[2019-03-22 17:15] YutongTie-MSFT commented on #25148
@j-martens Support option provided to customer.

@SeaDude We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 17:15] #25148 closed

[2019-03-22 17:15] SaurabhSharma-MSFT commented on #27800
@mstastic Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 17:16] dipesharora commented on #27371
Thanks. It seems that Azure CLI steps are working.
The issue we were facing is when we are creating the cluster using Terraform, and just realized that I did not mention that in my feedback.

[2019-03-22 17:16] YutongTie-MSFT commented on #23977
@lmiroslaw We'd like to work with you further on this issue if you still suffer from this issue, please email us at azcommunity@microsoft.com. Please provide us with your subscription ID and the URL for this thread.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 17:16] #23977 closed

[2019-03-22 17:17] rbrundritt commented on #27652
Not sure why SeaTac was used as the destination in combination with the explosive materials. Will sync with the product marketing team as they own that page.

As noted above, explosive cargo is a valid filter type and very important in the fleet management industry.

[2019-03-22 17:19] j-martens commented on #26882
#please-close thank you!!

[2019-03-22 17:20] xenoguy commented on #27745
I'm also stuck on this.  the vm is created, but the deployment fails on the join domain step.

[2019-03-22 17:21] anirudhcavale commented on #17169
@bsimser the second "Content" link isn't working, but the first one still works for me. Are we also okay closing this issue?

[2019-03-22 17:21] BryanTrach-MSFT commented on #27787
@stefan-schweiger If this is approved, the change might need to be displayed across multiple docs. As a result, I have assigned the feedback to the author for further review.

[2019-03-22 17:22] YutongTie-MSFT commented on #26882
@emres
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 17:22] #26882 closed

[2019-03-22 17:23] lerouxe commented on #27745
Same here, can we fix this afterward or do I need to recreate the pool?

[2019-03-22 17:23] BradleyGlover93 opened #27808 "Creating Host Pool from Market place freezes on step 4"
When creating a host pool through the azure market place it will not let me get past step 4

[2019-03-22 17:23] fhryo-msft commented on #27359
Can you check again? https://docs.microsoft.com/en-us/azure/storage/common/storage-monitoring-diagnosing-troubleshooting?toc=%2fazure%2fstorage%2fqueues%2ftoc.json#next-steps

@peledins , thanks for correction.

[2019-03-22 17:24] Mike-Ubezzi-MSFT commented on #19489
@marxxxx The [Microsoft.Azure.Cosmos.Table](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table) library is based upon .NETStandard 2.0  and not .NETCore, which looks to be the runtime your client is using?!

![Screenshot (324)](https://user-images.githubusercontent.com/37126106/54841437-86ab0c80-4c8c-11e9-96c9-c77124bf4f38.png)

[2019-03-22 17:26] rbrundritt commented on #27652
I've suggest changing the cargo type to flammable material travelling from Bellevue to King County Airport. (i.e. Fuel). This will take the 520 bridge rather than the I90 because flammable material can’t go through the I90 tunnels, so this demonstrates the benefit this service provides as most other mapping platforms will take you down the I90.

[2019-03-22 17:28] Mike-Ubezzi-MSFT commented on #27485
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-22 17:29] SaurabhSharma-MSFT commented on #27760
@badcop666 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 17:29] #27760 closed

[2019-03-22 17:29] SaurabhSharma-MSFT commented on #27720
@joeljanke We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 17:29] #27720 closed

[2019-03-22 17:30] xuyuji9000 opened #27809 "In this document the cli is wrong"
`azure keyvault set-policy ContosoKeyVault –enabled-for-deployment true `

Here `azure` should be `az`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89911478-d8f5-8206-7ab8-872d8fdcc411
* Version Independent ID: 3dcb16e4-34f3-794f-00eb-fd00608407f3
* Content: [Set up Key Vault for Windows VMs in Azure Resource Manager

[2019-03-22 17:30] SaurabhSharma-MSFT commented on #27384
@varandian We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 17:30] #27384 closed

[2019-03-22 17:34] lerouxe commented on #27745
Used this: https://azure.microsoft.com/fr-fr/resources/templates/201-vm-domain-join-existing/
Seemed to work

[2019-03-22 17:34] bsimser commented on #17169
I'm okay with the content link issue, just raised it because the document details section said it was required for github issue linking and that link was broken.

Going back to the original issue though, you explained the cool down periods here well and that they're applied to each rule separately but that doesn't seem to be captured in the page, only here in the comments.

If that's okay then go

[2019-03-22 17:37] Easton22 commented on #27791
Same issue and i set the Tenant Creator role.

[2019-03-22 17:37] MartinJaffer-MSFT commented on #27788
Location of broken link in document:
![image](https://user-images.githubusercontent.com/46612670/54842191-86137580-4c8e-11e9-88d6-48b694d42b93.png)

[2019-03-22 17:39] tannersatch commented on #27791
Did you run

`Add-RdsAccount -DeploymentUrl “https://rdbroker.wvd.microsoft.com”`

again in powershell? After I added the TenantCreator role to my user, I had to run that again before New-RdsTenant would work.

[2019-03-22 17:40] markafox opened #27810 "Has Portal Changed? Grant permissions in Azure AD"
While following this tutorial, in the step: "Grant permissions in Azure AD" there is no "Settings" option under the newly registered applications.  Cannot find where to grant permissions from one application to another.  The current portal differs greatly from this tutorial but up to this step was easy to figure out the navigation.

Using Azure AD B2C
---
#### Document Details

⚠ *Do not edit this

[2019-03-22 17:42] AjayKumar-MSFT commented on #27670
@olavt, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2019-03-22 17:42] #27670 closed

[2019-03-22 17:43] MartinJaffer-MSFT commented on #27788
@nabhishek Could you please assist in correcting this broken link?

@RudyCo @ChiragMishra-MSFT  I have assigned to author.

[2019-03-22 17:45] Easton22 commented on #27791
Yes, I even opened a new powershell window and I am getting the same error still

MATT KELLEY, MCITP | OHM Advisors®

SYSTEMS ADMINISTRATOR

D (734) 466-4482 | C (810) 602-0685 | O (734) 522-6711

matt.kelley@ohm-advisors.com | OHM-Advisors.com<http://www.ohm-advisors.com/>

From: Tanner Satchwell <notifications@github.com>
Sent: Friday, March 22, 2019 1:40 PM
To: MicrosoftDocs/azure-docs <azure-d

[2019-03-22 17:46] #20931 closed

[2019-03-22 17:46] #20994 closed

[2019-03-22 17:46] #17630 closed

[2019-03-22 17:47] #18512 closed

[2019-03-22 17:47] #25456 closed

[2019-03-22 17:47] #27631 closed

[2019-03-22 17:47] #19104 closed

[2019-03-22 17:48] #7641 closed

[2019-03-22 17:48] #13147 closed

[2019-03-22 17:48] #27359 closed

[2019-03-22 17:51] VanMSFT commented on #26860
Thanks @anosov1960!

Hey @Expecho, can you please clarify if you gave the user the [SQL DB Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-db-contributor) or the [SQL Server Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-server-contributor) role, instead of just [Contributor](https://docs.microsoft.c

[2019-03-22 17:51] MicahMcKittrick-MSFT commented on #27809
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-22 17:52] sahilpnckr123 opened #27811 "Disk Encryption of a NVA"
#Is Disk Encryption for a NVA recommended?

[2019-03-22 17:52] JasonWHowell commented on #27428
@juho-hanhimaki I believe your query has been answered. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.  #please-close

[2019-03-22 17:53] YutongTie-MSFT commented on #27510
@thecpshah Hi Chintan, you can detect both handwritten text and printed text by using this API, but you can not distinguish handwritten or printed text from a mix. What I would like to suggest you is try a custom ML solution or try to distinguish them by colors... Sorry about that.

[2019-03-22 17:54] Mike-Ubezzi-MSFT commented on #27792
@pardha100 Copying/Pasting the C:\ drive for SQL Server installation is not supported. The supported means for copying  SQL bits to another VM is to create a VHD/VHDX image from that Windows Server instance and migrate it to Azure: [Prepare a Windows VHD or VHDX to upload to Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image)
If you do not have an o

[2019-03-22 17:56] #27428 closed

[2019-03-22 17:58] KingdomOfEnds commented on #27652
@rbrundritt - Great thanks for the clarification. I'm relatively new so I don't really understand all of the complex industry-specific terminology/classification systems.  I now understand that the use of labels in the cargo and transportation industry covers a lot of categories. I hope that this thread helps to clarify some of the examples. Thanks again.

[2019-03-22 17:58] #27652 closed

[2019-03-22 18:00] mattyweb commented on #26454
Hi Patrick,

Still working on this. Currently, I have everything working fine locally
and am able to build and run the image and SSH to it on my machine.

However, the build is failing in Azure. The issue I'm running into now is
trying to overwrite the sshd_config  file on the image. I've tried several
combinations of COPY and RUN cp or RUN mv, tried starting with the
sshd_config in the root versu

[2019-03-22 18:00] YutongTie-MSFT commented on #23049
@codybushnell
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 18:00] #23049 closed

[2019-03-22 18:05] aljo-microsoft commented on #27201
@jimmy3912msncom 

Please be aware of your applications SLO/A implication for resource operations, and review:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-capacity-scaling#vertical-scaling-considerations

Immutable resource operations, like SKU provisioning, can not be stopped once accepted; being stateless or stateful doesn't change that fact. Please follo

[2019-03-22 18:07] #27201 closed

[2019-03-22 18:07] mattyweb commented on #26454
I should add that when running in the Azure Pipeline those echo lines show
the PWD as /usr/src/app as expected but the azure_startup directory doesn't
seem to be there.

Also, I am also starting the container locally with "docker run -p
4000:2222 -p 4004:3001 dayaxe-web" but obviously haven't gotten to that
point in Azure as builds aren't working yet.

On Fri, Mar 22, 2019 at 10:59 AM Matt Webster

[2019-03-22 18:08] MicahMcKittrick-MSFT commented on #27710
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-22 18:12] rupeshprasad commented on #27733
@chrispadgettlivecom - I have put the question in SO but i am hoping that someone at MS will also try to gen an answer.

[2019-03-22 18:13] tfitzmac commented on #17009
@ebrayton - thanks for this feedback. An updated has been submitted that fixes this issue.

[2019-03-22 18:13] sunilprabha opened #27812 "Mixed SSL traffic from the backend server wiht azure app gateway"
Hi guys, I have configured gateway to redirect 443 traffic to 8090 port in backed. The site loads fine except the site is getting mixed traffic. When i hit the site with 8090 port on the web serve all loads fine.  What header values should i inject so that azure gateway overwrite all http to https for the client . In F5 we used stream profile to rewrite http to https traffic in the  stream. Do we

[2019-03-22 18:13] tfitzmac commented on #17009
#please-close

[2019-03-22 18:17] YutongTie-MSFT commented on #27510
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-22 18:17] #27510 closed

[2019-03-22 18:27] Mike-Ubezzi-MSFT commented on #27804
The tutorial could be shortened with an ARM template to consolidated the configuration process but, the tutorial itself goes over a lot of valid and useful content pertaining to the use and functionality of the product. Perhaps a short and long version, or ARM version and manual version of the tutorial would be useful here.

[2019-03-22 18:28] v-miclar commented on #27779
#please-close
This is a repeat of issue #27699.

[2019-03-22 18:30] NeoTech124 commented on #27773
Same issue here also. Been trying since yesterday. Not sure what else to try

[2019-03-22 18:36] JasonWHowell commented on #27430
@TessFerrandez  I believe your query has been answered. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
Best regards, Jason #please-close

[2019-03-22 18:42] #27430 closed

[2019-03-22 18:45] TomArcherMsft commented on #21732
@femsulu #please-close the issue
@rajnemani Let us know if you wish to reopen.

[2019-03-22 18:45] TomArcherMsft commented on #19006
@femsulu #please-close the issue
@qoricode Let us know if you wish to reopen.

[2019-03-22 18:47] TomArcherMsft commented on #18894
@femsulu #please-close the issue
@daniel-rocha  Let us know if you wish to reopen.

[2019-03-22 18:48] ronortloff commented on #26212
https://github.com/MicrosoftDocs/azure-docs-pr/pull/70534 is being published.

[2019-03-22 18:48] ronortloff commented on #26212
#please-close

[2019-03-22 18:50] #19006 closed

[2019-03-22 18:51] #18894 closed

[2019-03-22 18:52] Kelviny128 commented on #27571
Sorry for late reply. I am the contributor of the subscription. Therefore I should have enough privileges over those resources. I used to be edited those web test.

[2019-03-22 18:52] #21732 closed

[2019-03-22 18:55] ronortloff commented on #27488
Alexander, the meaning for this sentence is to increase the number of rows in a batch to achieve inserting data without landing in delta store first.  I adjusted the wording too remove "window" which is confusing.  Thanks for the feedback.

[2019-03-22 18:58] #27660 closed

[2019-03-22 18:59] cijothomas commented on #27660
please close this.

[2019-03-22 19:02] celamb4 opened #27813 "NSG Rules all have the same name"
all nsg rules provided in cli command have hdirule1 and hdirule2 names but there are 6 rules.
They need to be uniquely identified.

For example:
az network nsg rule create -g RESOURCEGROUPNAME --nsg-name hdisecure -n hdirule1 --protocol "*" --source-port-range "*" --destination-port-range "443" --source-address-prefix "52.164.210.96" --destination-address-prefix "VirtualNetwork" --access "Allow" -

[2019-03-22 19:03] msmbaldwin commented on #25971
Hi, @mikeholcomb. in tandem with https://github.com/MicrosoftDocs/azure-docs/issues/26178, I:

* Specifically mentioned in https://docs.microsoft.com/azure/key-vault/key-vault-ovw-soft-delete that Purge Protection can be set via either CLI or Powershell.
* Moved the Purge Protection CLI implementation details from https://docs.microsoft.com/azure/key-vault/key-vault-ovw-soft-delete to https://docs

[2019-03-22 19:04] msmbaldwin commented on #26178
Hi, @mikeholcomb. in tandem with https://github.com/MicrosoftDocs/azure-docs/issues/25971, I:

* Specifically mentioned in https://docs.microsoft.com/azure/key-vault/key-vault-ovw-soft-delete that Purge Protection can be set via either CLI or Powershell.
* Moved the Purge Protection CLI implementation details from https://docs.microsoft.com/azure/key-vault/key-vault-ovw-soft-delete to https://docs

[2019-03-22 19:06] patricklee2 commented on #26454
Can you share the rest of the code on GitHub?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Webster <notifications@github.com>
Sent: Friday, March 22, 2019 11:07:56 AM
To: MicrosoftDocs/azure-docs
Cc: Patrick Lee; Comment
Subject: Re: [MicrosoftDocs/azure-docs] SSH instructions for webapps using docker container are incorrect (#26454)

I should add th

[2019-03-22 19:09] Kelviny128 commented on #27571
I can creat a new Availability test in the app insight, but it doesn’t let me edit or delete

[2019-03-22 19:12] SaurabhSharma-MSFT commented on #27779
@Benjiiim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 19:12] #27779 closed

[2019-03-22 19:13] mattyweb commented on #26454
Sure. It's in a private GitHub repo though. What's your handle?

On Fri, Mar 22, 2019 at 12:06 PM Patrick <notifications@github.com> wrote:

[2019-03-22 19:14] MicahMcKittrick-MSFT commented on #27792
Thanks @Mike-Ubezzi-MSFT @! That help explains it.

@pardha100 let us know if you have any further questions.

[2019-03-22 19:14] maertendMSFT commented on #7295
#please-close
This has been fixed

[2019-03-22 19:16] maertendMSFT commented on #14121
#please-close as this has been resolved

[2019-03-22 19:18] maertendMSFT commented on #12420
Is this what you are looking for? https://docs.microsoft.com/azure/batch/

If not, this is a feature request for az cli.

#please-close

[2019-03-22 19:18] pcherkasova opened #27814 "'Resource provider' is not used"
I do not see the term 'Resource provider' in Azure UI. I see 'publisher' and 'category'. Is the term changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d37ec9b1-bb55-c423-8a70-d34b67c5ba79
* Version Independent ID: 2f853cf4-4f90-6d8d-dd13-abe6508126a5
* Content: [Azure Resource Manager Overview](https://docs.micro

[2019-03-22 19:20] #14121 closed

[2019-03-22 19:20] SaurabhSharma-MSFT commented on #27746
@jaypatrick @bonksnp Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-22 19:25] sanpil commented on #25542
Have you seen this? https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/manage-azureml-service/authentication-in-azureml/authentication-in-azure-ml.ipynb.

Does the options described here work for you?

[2019-03-22 19:29] patricklee2 commented on #26454
patricklee2

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Webster <notifications@github.com>
Sent: Friday, March 22, 2019 12:14:18 PM
To: MicrosoftDocs/azure-docs
Cc: Patrick Lee; Comment
Subject: Re: [MicrosoftDocs/azure-docs] SSH instructions for webapps using docker container are incorrect (#26454)

Sure. It's in a private GitHub repo though. What'

[2019-03-22 19:29] Kelviny128 commented on #27571
@BhargaviAnnadevara-MSFT I try to create another Application Insight in the same resource group, the situation is the same. However, if I do the same action on the other resource group. I can edit the availablity test.
Which means the resource group restricted me to edit the Availability test. What do you think the possibility that the restriction come from? Thanks

[2019-03-22 19:30] Placid7 opened #27815 ""gateway transit is not allowed for cross-location peering""
Documentation states that the peering is global. Why am I receiving the error "gateway transit is not allowed for cross-location peering"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d098f17-7f58-4304-0634-0f57d1d3300a
* Version Independent ID: 5624ffea-22c6-8f02-e9fe-a3be3a7cced5
* Content: [Configure VPN gateway

[2019-03-22 19:35] diberry commented on #27606
@ckarras There currently are not any docs like this in LUIS or Bot Framework. I'll add an item to the list to address this but I don't know when that will happen. In order to get  you moving for now, I'll try to address it here.

The bot needs to be able to map what the user enters (spoken or text) to a LUIS utterance. This is true for both just-LUIS apps as well as [dispatch-LUIS](https://docs.mi

[2019-03-22 19:36] Placid7 commented on #27815
This is a bug. I created the peering without transit. Then edit the peering to allow transit and it worked.

[2019-03-22 19:38] kgremban commented on #27526
@cicorias Going back to your original issue, was the problem not using quotes to surround the connection string, or was it something related to Bash vs PowerShell as you initially thought?

In the code block that we recommend using to configure your IoT Edge device, there are quotes around the connection string placeholder. Were those accidentally deleted when you pasted in your string because you

[2019-03-22 19:40] mattyweb commented on #26454
Got it. Here's the link:
https://github.com/dayaxe/dayaxe-web/invitations

On Fri, Mar 22, 2019 at 12:29 PM Patrick <notifications@github.com> wrote:

[2019-03-22 19:53] julieMSFT commented on #26213
@Mike-Ubezzi-MSFT @1dahoMike Hello, I am working on making the updates to the documentation. The "use of select for variable assignment" is supported in Azure SQL DW.

[2019-03-22 19:55] #26212 closed

[2019-03-22 19:56] ronortloff commented on #27488
pr created:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/70552

[2019-03-22 19:56] ronortloff commented on #27488
#please-close

[2019-03-22 19:58] ronortloff commented on #8150
table added pr is signed off

[2019-03-22 19:58] ronortloff commented on #8150
#please-close

[2019-03-22 20:00] HeidiSteen commented on #18516
@bunceg  Apologies this issue has been addressed for so long.

I think we might already have the example you are looking for:  https://docs.microsoft.com/en-us/azure/search/search-query-lucene-examples#example-5-term-boosting

In general, use scoring profiles if you want to boost a search score based on whether a match is found in a specific field.  If your goal was the opposite, and you wanted JK

[2019-03-22 20:00] HeidiSteen commented on #18516
#please-close

[2019-03-22 20:08] christianrondeau opened #27817 "Missing information on blocking behavior"
The documentation says the traffic will be blocked, but two critical pieces of information are missing:

1. How is traffic blocked? Is it by IP?
2. For how much time is it blocked? Is it a fixed duration, or a sliding window?

Also, directly related (I'll create another issue if you feel it's a different topic, but I believe it's all related to how traffic blocking is explained):

3. If the durati

[2019-03-22 20:11] celamb4 commented on #26547
Correct. Thanks @jakaruna-MSFT

[2019-03-22 20:12] rbergertd commented on #27773
So, I just had a successful deployment after ensuring that my AD Connect was synchronizing to Azure AD. Usually in my demo tenant I don't use AD Connect or have it on, but I think for this deployment to succeed - you have to have AD Connect set up and running, to sync the AD DS users to Azure AD. Once doing this, and specifying the UPN of the synchronized AD DS Users (user@verifiedo365domain.com)

[2019-03-22 20:12] cijothomas commented on #27756
Please close this.

[2019-03-22 20:19] NeoTech124 commented on #27773
That could be my issue, maybe. I'm all Azure ADDS; no on-premises AD.

[2019-03-22 20:26] MGoedtel commented on #18842
Updated the article today and should be released during next pub cycle.  #please-close.

[2019-03-22 20:29] bunceg commented on #18516
@HeidiSteen  This can't really be closed until you update the documentation for Field Scoped queries. it's not clear from your example that you can field scope on multiple attributes..... this ticket is really a simple request but everyone seems to think it's more complicated that it really is !

From the viewpoint of a complete beginner (I was), coupled with the fact that a lot of developers will

[2019-03-22 20:30] LeonJansen commented on #27773
I also had the same problem with AADDS, it kept failing on the DSCextension. Now i booted a VM with ADDS and now i got WVD to work. So it seems that AADDS is not working (yet)

[2019-03-22 20:32] normesta commented on #20826
Thanks for the feedback! This issue has been fixed in the docs.

[2019-03-22 20:32] normesta commented on #20826
#please-close

[2019-03-22 20:34] rbergertd commented on #27773
Leon,

I've got to the point where I can see my Session Desktop in the WVD client, but when I click on it I get an error, 'invalid connection file'. After the deployment, did you do anything else before you were able to connect? It authenticated my UPN user/password, and pulled down the webfeed and the session desktop - but I can't launch it.

https://i.imgur.com/7fZTamq.png

[2019-03-22 20:36] LeonJansen commented on #27773
@rbergertd I'm also now struggling to get the RDP connection to work. My WVD is now deployed without errors, but when i publish an RemoteApp (Calc.exe for example) i get an error message: Can't connect to the Remote Desktop Gateway Server.

[2019-03-22 20:36] rbergertd commented on #27704
The URL itself doesn't load as a web page, you use the Remote Desktop client to access the resources.

[2019-03-22 20:36] MGoedtel commented on #17653
@ksiomelo - The template example in this doc includes an example of how to create a query.  To create a function, you would include "functionAlias":"{0}" as part of the snippet for savedSearches in the template.

[2019-03-22 20:38] sjyang18 commented on #27457
It turns out that I need to patch OSBA deployment template for Openshift to make it work with the current OKD deployment template. Depending on the version of OKD, the version of OSBA should be selected. My PR has been merged (https://github.com/Azure/open-service-broker-azure/pull/688) and should be working for current OKD 3.9.  In the future, in case of incompatibility, the matching OSBA_VERSION

[2019-03-22 20:39] MGoedtel commented on #17653
#please-close as this doc has been bugged to rewrite and improve delivery of what can be accomplished with ARM template.

[2019-03-22 20:40] normesta commented on #18983
Thank you for the feedback! This article has since been redirected to a more general version about Creating Linux Clusters. Therefore, the Azure Data Lake Storage Gen2-specific image is no longer there. There's also a brand new more up-to-date topic about creating HDInsight clusters that use Azure Data Lake Storage Gen2 as a data source here - [Use Azure Data Lake Storage Gen2 with Azure HDInsight

[2019-03-22 20:40] normesta commented on #18983
#please-close

[2019-03-22 20:44] rbergertd commented on #27773
@LeonJansen just out of curiosity, could you try the automatically created SessionDesktop and see if it lets you in that way? Sorry, I am just hoping I'm not alone at this point! :)

[2019-03-22 20:44] normesta commented on #18944
Thank you for your feedback! This issue has been fixed.

[2019-03-22 20:44] normesta commented on #18944
#please-close

[2019-03-22 20:45] LeonJansen commented on #27773
@rbergertd Nope, that also doesn't work. So we are at the same level right now ;-) I will try some stuff to get it to work. I'll send you a message when i found something.

[2019-03-22 20:46] rayne-wiselman commented on #27463
Hi, this has been fixed. Fix should show up later today. Thanks for your input!
#please-close

[2019-03-22 20:47] dbristolms commented on #19839
The CDN provider and the streaming endpoint type are independently chosen options.  You can use Verizon Standard, Verizon Premium, and Akamai Standard with either a Standard streaming endpoint or a Premium streaming endpoint.  According to [(https://docs.microsoft.com/en-us/azure/media-services/latest/streaming-endpoint-concept#properties)] StandardAkamai can be used.

[2019-03-22 20:48] kobulloc-MSFT commented on #27465
@mgfink **Monitoring Contributor** is the role they need.  This is the documentation you are looking for:

[https://docs.microsoft.com/en-us/azure/azure-monitor/platform/roles-permissions-security#monitoring-contributor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/roles-permissions-security#monitoring-contributor)

_Note: This documentation will be going through a major update in

[2019-03-22 20:48] rayne-wiselman commented on #25909
I've clarified this in the article. The change should show up in the next day. Thanks for your input!
#please-close

[2019-03-22 20:48] #27465 closed

[2019-03-22 20:49] rayne-wiselman commented on #20880
#please-close

[2019-03-22 20:50] rayne-wiselman commented on #22580
This seems fine now. Thanks for your input
#please-close

[2019-03-22 20:50] Mike-Ubezzi-MSFT commented on #8150
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-22 20:50] #8150 closed

[2019-03-22 20:51] rayne-wiselman commented on #22573
This should now be fixed. Thanks for your input!
#please-close

[2019-03-22 20:51] HeidiSteen commented on #18516
@bunceg Ok I thought you were asking for a way to manipulate rank.  I will work on the C# examples for query syntax, but just in case you haven't seen it, there are query syntax and example articles in the docs for REST and Search explorer.  This is the field-scoped query example:  https://docs.microsoft.com/en-us/azure/search/search-query-simple-examples#example-1-field-scoped-query

[2019-03-22 20:51] brandonh-msft opened #27819 "Documentation does not make it clear to use Core Tools docs for VS Code development"
The Functions docs contains a quickstart with the title - "Create function - Visual Studio Code" but in the 'How-to guides -&gt; Develop' section i​t changes to 'Core Tools development.'  It wasn't immediately clear to me that I needed to look in this section for information about developing in VS Code since it begins with '...develop and test your functions on your local computer from the command

[2019-03-22 20:51] Juliako commented on #19839
#please-close

[2019-03-22 21:00] #6288 closed

[2019-03-22 21:01] HJToland3 commented on #27802
@jtuliani - These should be enabled in the Azure portal, Network Security Group (NSG) rules. For more detail on Azure VNET NSG traffic filtering, see the article Filter network traffic with network security groups (https://docs.microsoft.com/azure/virtual-network/virtual-network-vnet-plan-design-arm).

[2019-03-22 21:05] MGoedtel commented on #14699
#please-close - adding statement in the prerequisites section about integration with US Gov Cloud and minimum requirements with OpsMgr 2016/2012 R2.

[2019-03-22 21:08] ChrisImm commented on #21382
I would be very interested in this as well.  Any advice on where to find this correct method to calculate the B2C cost based on actual B2C Audit events would be great.  That functionality is related to real cost dollars/budget and should be available out of the box.

[2019-03-22 21:09] tfitzmac commented on #27814
@pcherkasova - the term Resource Provider is still used, but it is not immediately apparent through the portal. When you select your Azure subscription, you'll see it in the left navigation, as shown in [register resource provider](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-errors#solution-3---azure-portal). You'll come across it more often as

[2019-03-22 21:14] MGoedtel commented on #11711
@jason-j-MSFT - bugging this and will address when I can.  #please-close

[2019-03-22 21:29] taaronMSFT commented on #27795
Try using a fully qualified path to the Microsoft.RDInfra.RDPowershell.dll for your command, IE:
import-module C:\RDPowershell\Microsoft.RDInfra.RDPowershell.dll

[2019-03-22 21:29] v-thepet commented on #10625
@Selvamz - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 21:29] #10625 closed

[2019-03-22 21:30] normesta commented on #18438
Thank you for your feedback! Strange. not sure why this wasn't working before. This command argument now works. It also appears in the list of args that show when you run the command "az storage account create --help".

[2019-03-22 21:30] normesta commented on #18438
#please-close

[2019-03-22 21:36] #22580 closed

[2019-03-22 21:36] #27463 closed

[2019-03-22 21:36] #22573 closed

[2019-03-22 21:37] romankiss commented on #27718
Thanks @dominicbetts  for your prompt reply.

I have not a problem receiving a response from the device direct method invoking by _HTTPs_ and/or  _Device Explorer_ tool. Everything is working well including my device which is using a direct MQTT protocol.

When my device is connected to the _Azure IoT Central App_, I can successfully invoked my device direct method and sent a simple or empty paylo

[2019-03-22 21:38] mike-urnun-msft commented on #27810
Hi @markafox Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-22 21:39] normesta commented on #12797
Thank you for your feedback! This issue has been addressed.

[2019-03-22 21:39] normesta commented on #12797
#please-close

[2019-03-22 21:41] mike-urnun-msft commented on #27819
Hi @brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-22 21:43] yushwang commented on #27815
@anavinahar to check

[2019-03-22 21:44] #12797 closed

[2019-03-22 21:44] MartinJaffer-MSFT commented on #27813
Thank you for bringing this to our attention @celamb4.  We will review the document and update as appropriate.

[2019-03-22 21:50] rbergertd commented on #27773
@LeonJansen I think we may be at a stand still until Microsoft fixes things on the broker/gateway side. That's the point we're at with accessing the resource. If you navigate to the directory where the RDP file is launching from (my previous screen shot) you can 'edit' the .RDP file and look, it's going thru their Gateway at this point. If you try and double click the .RDP file from there, you'll

[2019-03-22 21:52] tzhao2017 opened #27822 "tensorflow version for exported detection model"
Will it be good to specify the tensorflow version to use exported model? The exported detection model (tensorflow for andriod) now only works for tf&gt;=1.13. Also, to use tf 1.13 with gpu, cuda 10 is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Independent ID:

[2019-03-22 21:54] rahulvmarathe opened #27824 "Incorrect wording"
Under section Add an external Azure AD Group, the docs say "Users from the configured Azure AD instance can now sign in to the developer portal. They can view and subscribe to any groups for which they have visibility."

Since a user subscribes to a product, should this statement "subscribe to any groups" be "subscribe to any products"?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-22 21:56] v-thepet commented on #12306
@jaweekes - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 21:57] v-thepet commented on #12701
@BasvanH - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 21:57] #12701 closed

[2019-03-22 21:58] #12306 closed

[2019-03-22 22:04] MartinJaffer-MSFT commented on #27813
I have commited the correction to the document @celamb4.

[2019-03-22 22:04] #27813 closed

[2019-03-22 22:07] MGoedtel commented on #13853
@kiranjshetty - Check out Application Insights, as it supports monitoring the application layer on Kubernetes.  Not knowing specifics, here is a starting point I can suggest - https://github.com/Microsoft/ApplicationInsights-Kubernetes.  @vasivara-MSFT - #please-close since this isn't a doc issue or continue triaging as necessary.

[2019-03-22 22:08] #14109 closed

[2019-03-22 22:14] ntrpnr opened #27826 "Issue in code example "Import devices example – bulk device provisioning""
I could not get this code to work without modifying the line

[code]

providing a third argument of blob.Name.

This seems to be undocumented.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61ea03e-8fb1-bcc1-d4ae-4a1efbc05cb5
* Version Independent ID: e9354e97-6bce-cb38-e240-f6c316a14dcd
* Content: [Import export of A

[2019-03-22 22:17] bunceg commented on #18516
@HeidiSteen  yes... but that example is from the "simple" syntax page and not the Lucene syntax page, so it's not a place someone working with Lucene syntax would look. Neither does it explain that you can ask azure search to match different values for different fields.

I really am just trying to help the documentation get better for beginners. but it doesn't seem to be taken that way :p

All it

[2019-03-22 22:31] diberry commented on #27786
Changes to [docs](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-entity-types#troubleshooting-prebuilt-entities) for this issue.

[2019-03-22 22:32] diberry commented on #27647
[New content](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-intent#intents-and-patterns) addressing this issue. #please-close

[2019-03-22 22:33] #18566 closed

[2019-03-22 22:34] diberry commented on #25669
All containers require x64 based hardware. I'll update the docs. #please-close

[2019-03-22 22:35] Grace-MacJones-MSFT commented on #27607
Hi @aaronpcz, you can use the latest dash.js version. We will update the doc shortly to reflect that information.

[2019-03-22 22:35] v-thepet commented on #19513
@yimialejoh - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 22:35] #19513 closed

[2019-03-22 22:40] v-thepet commented on #7709
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 22:40] #7709 closed

[2019-03-22 22:41] v-thepet commented on #8212
@LoganZhao - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 22:41] #8212 closed

[2019-03-22 22:41] SaurabhSharma-MSFT commented on #27644
@CelesteDG I am also not able to find the TLS setting in the registry.  Can you please help on this.
![image](https://user-images.githubusercontent.com/38112130/54856699-ffc05900-4cb8-11e9-83ba-56438bf747db.png)

[2019-03-22 22:42] #10436 closed

[2019-03-22 22:43] v-thepet commented on #6411
@andrewkittredge - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-22 22:43] #6411 closed

[2019-03-22 22:44] codefoster commented on #27676
Thanks for the follow up. I'm sure it will, though I haven't tried yet. That said, if I spun wheels trying to figure out how it was suppose to work, then others may too. Perhaps at the top where you're spelling out the pre-reqs, let readers know that they need to run the other part of the tutorial first.

[2019-03-22 22:48] Heidilohr commented on #27761
@jasonkatz424 There isn't a default app group for RemoteApps only. If the apps are published before the Windows Virtual Desktop is created, then the app group's feed icon won't work.

[2019-03-22 22:52] MicrosoftGuyJFlo commented on #27711
#please-close

[2019-03-22 22:56] MarileeTurscak-MSFT commented on #27628
No, the Group Owner role is not synced. Here is the full list of attributes that are synchronized by AD Connect.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized

You can sync security groups but the user specified as the owner will not be able to manage membership of that group in Azure AD.

[2019-03-22 22:56] MarileeTurscak-MSFT commented on #27628
Hope this helps!

We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-03-22 22:56] #27628 closed

[2019-03-22 22:56] SaurabhSharma-MSFT commented on #27704
@jontowles This worked for me.
![image](https://user-images.githubusercontent.com/38112130/54857157-123b9200-4cbb-11e9-9446-09aa3c85507d.png)

[2019-03-22 22:58] marcusclayton opened #27827 "PowerShell Core Support"
Any plans to support setup/administration on PowerShell Core? With the ongoing efforts to refactor modules to get them working on both Windows PS and PS Core, would be great to see the Microsoft.RDInfra.RDPowerShell module work on both versions early on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eab4b2c4-29d9-d759

[2019-03-22 23:01] deepaknarula opened #27828 "Powershell support"
Is there a way to register Apps via Azure AD v2 PS Module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Register an app with the Azure Active Directory v1.0 endpoint](https://docs.microsoft.com/en-us/azure/

[2019-03-22 23:02] femsulu commented on #27814
@pcherkasova We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-22 23:02] #27814 closed

[2019-03-22 23:03] Mike-Ubezzi-MSFT commented on #27802
@jtuliani If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-22 23:04] jasonkatz424 commented on #27761
Thank you. And in order to publish apps, is it required that you first deploy the server image (versus the Windows 10 image).  I sincerely appreciate the help.

[2019-03-22 23:08] #12420 closed

[2019-03-22 23:08] #11711 closed

[2019-03-22 23:08] #17009 closed

[2019-03-22 23:08] #18438 closed

[2019-03-22 23:08] #18944 closed

[2019-03-22 23:08] #18983 closed

[2019-03-22 23:09] #19839 closed

[2019-03-22 23:09] #20826 closed

[2019-03-22 23:09] #26178 closed

[2019-03-22 23:09] #14699 closed

[2019-03-22 23:09] #18842 closed

[2019-03-22 23:10] #20880 closed

[2019-03-22 23:10] #25971 closed

[2019-03-22 23:10] #27488 closed

[2019-03-22 23:10] #14491 closed

[2019-03-22 23:10] #7295 closed

[2019-03-22 23:10] Grace-MacJones-MSFT commented on #27607
A pr has been created to update this doc. The change will be reflected in 48hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 23:10] #27607 closed

[2019-03-22 23:10] #17653 closed

[2019-03-22 23:17] happynicolle commented on #26737
@Mike-Ubezzi-MSFT can you assign this to me?  I'm taking ownership of this doc.  Currently following up with Engineering to get the info to update the doc with.

[2019-03-22 23:19] jcbrooks92 opened #27830 "MSAL/AD V2 not supported yet"
We have been seeing a couple of issues related to AAD V2 auth flow not supported (including MSAL). It is probably worth adding a note here until its supported.

Reference: https://social.msdn.microsoft.com/Forums/en-US/8e687a97-12f7-4313-bc20-2d00179dc550/running-azure-function-with-azure-ad-auth-in-portal-results-in-401-unauthorized?forum=AzureFunctions

---
#### Document Details

⚠ *Do not edit

[2019-03-22 23:29] #13583 closed

[2019-03-22 23:31] SaurabhSharma-MSFT commented on #27701
@charles-steinmetz Have you earlier enabled multi factor authentication from Azure AD blade for the user ?

[2019-03-22 23:31] tfitzmac commented on #13583
Managed apps currently don't support managed identities for Azure resources. I have added that note to the article.

[2019-03-22 23:32] dlepow commented on #17845
@SteveLasker @MicahMcKittrick-MSFT @badalk - Agreed, this is very helpful security-related information we should add to public documentation. We have a [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1376064) to track in our backlog. Since we've captured the request, I think we can now close this issue. Thanks, all.
#please-close

[2019-03-22 23:33] BryanTrach-MSFT commented on #27830
@jcbrooks92 Thank you for raising this up to us. We'll update this doc along with the other below doc to include a note on this limitation.

https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad

[2019-03-22 23:34] SaurabhSharma-MSFT commented on #27711
@cchambers-cap We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 23:34] #27711 closed

[2019-03-22 23:35] SaurabhSharma-MSFT commented on #27808
@BradleyGlover93 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-03-22 23:35] SaurabhSharma-MSFT commented on #27811
@sahilpnckr123 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-03-22 23:36] anavinahar commented on #27815
Hi there! Portal is not currently supported. the document states below:

Gateway transit is currently supported with global virtual network peering in preview. The preview is available in all Azure regions, China cloud regions, and Government cloud regions, but not across clouds. No whitelisting is required. You can test in preview through CLI, PowerShell, Templates, or API. Portal is not supporte

[2019-03-22 23:37] TravisCragg-MSFT commented on #27812
@sunilprabha You can find a [How-To guide on HTTP to HTTPS redirect Here](https://docs.microsoft.com/en-us/azure/application-gateway/redirect-http-to-https-portal). This has the best practices for HTTPS redirection in App Gateways.

[2019-03-22 23:39] MarileeTurscak-MSFT commented on #27611
This is a safety feature because these roles should be carefully protected.

If you would like this to change, you can make a feature request in User Voice and the product team will get back to you. https://feedback.azure.com/forums/169401-azure-active-directory

I will also bring your request to my product team contacts and update this thread if anything changes.

[2019-03-22 23:39] #27611 closed

[2019-03-22 23:43] singhkays commented on #24323
Correct, this is an optional step. The platform removes the disks and migrates the blobs underneath

[2019-03-22 23:45] TravisCragg-MSFT commented on #27817
@christianrondeau Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-03-22 23:46] TravisCragg-MSFT commented on #27815
@Placid7 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 23:46] #27815 closed

[2019-03-22 23:48] rboucher commented on #27423
noted and agreed @owingruters .  I sent your suggestion to the Program Managers responsible for the action Groups feature. I can only fix documentation issues and that's the purpose of Github issues on particular articles.  For future feature feedback on Azure Monitor, your bast place to go is https://feedback.azure.com/forums/913690-azure-monitor .  I think the text I would add above isn't helpfu

[2019-03-22 23:48] rboucher commented on #27423
Anything else I can do for you?

[2019-03-22 23:51] BryanTrach-MSFT commented on #27830
@jcbrooks92 We have merged and update that includes a note with the current limitation. The change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 23:51] #27830 closed

[2019-03-22 23:51] garethjensen opened #27831 "Mgo outdated"
Mgo is outdated and no longer supported by its author (unless using the community branch, which is not up-to-date). An official MongoDB driver for Go has replaced mgo. The driver can be found here: https://github.com/mongodb/mongo-go-driver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0704a6e-bdc1-9834-3975-e883360

[2019-03-22 23:52] TravisCragg-MSFT commented on #26494
@jeffgilb unfortunately I have no way of validating this, can you help?

[2019-03-22 23:53] TravisCragg-MSFT commented on #18737
@vhorne can you add a note to the known issues that no rules can block outbound access besides the default rules to the known issues?

[2019-03-23 00:10] 007 opened #27833 "Jamf integration requires password for SSO user?"
Does Jamf really require a password for a user authenticating via AzureAD SAML SSO? Doesn't that defeat most of the purpose of using SSO to begin with?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cbe739-d436-c414-8ad0-1197ff2af011
* Version Independent ID: b0d675ef-1efd-eec6-cf82-a39b07472b98
* Content: [Tutorial:

[2019-03-23 00:23] dlepow commented on #27796
@robertdj - Thanks for posting your question and explaining your scenario. Could you tell us a little more about how you are running your task? For example, are you creating and running a single task as described in that article, or are you using a multi-step task defined in a [YAML file](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-multi-step)? Your scenario

[2019-03-23 00:38] mrbullwinkle commented on #27767
@SupporterMan thank you for catching that error in the doc. The change to make it match with the endpoint spec is merged internally and will go-live on Monday.

[2019-03-23 00:51] BryanTrach-MSFT commented on #27787
@stefan-schweiger We went ahead and added a note to the top of the doc. Thank you for raising this up. The changes should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-23 00:51] #27787 closed

[2019-03-23 00:54] Alberto-Vega-MSFT commented on #27503
@arjantent I am raising the [issue ](https://github.com/Azure-Samples/digital-twins-samples-csharp/issues/63)with the code sample internally. I am closing ton this one  since this is a problem with the sample and not a documentation one. If there are further questions regarding this matter, please tag me in your reply.

[2019-03-23 00:54] #27503 closed

[2019-03-23 00:55] jeevansd commented on #27833
@007 Yes you are right. Once you enable the SSO on JAMF you dont need the password for it. What we have explained in this article is we can auto configure SAML SSO in JAMF and for that you need to login to JAMF using the admin credentials. Also make sure that you install our My Apps browser plugin before performing the OneClickSSO. This will help you configure the SSO in just a minute without even

[2019-03-23 00:55] jeevansd commented on #27833
#please-close

[2019-03-23 00:57] anushreeringne opened #27834 "After autoscale will the deployed application start automatically on the new VM instance?"
After Autoscale of VMSS instance I want my application to start automatically on startup.
How can I achieve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1ce765-acde-7c32-2a60-c36a19f5b8e5
* Version Independent ID: c039fdd9-3a17-fca5-b818-0e780126e06e
* Content: [Automatically scale a virtual machine scale set

[2019-03-23 01:18] #14593 closed

[2019-03-23 01:19] v-thepet commented on #8806
@CrisAdam-VeasnaKhy - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:19] #8806 closed

[2019-03-23 01:20] v-thepet commented on #9297
@daniel012 - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:20] #9297 closed

[2019-03-23 01:24] v-thepet commented on #9298
@daniel012 - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:24] #9298 closed

[2019-03-23 01:24] v-thepet commented on #14647
@YutongTie-MSFT - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:24] #14647 closed

[2019-03-23 01:25] v-thepet commented on #9566
@localsystemmee - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:25] #9566 closed

[2019-03-23 01:27] v-thepet commented on #9204
@locohost - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-23 01:27] #9204 closed

[2019-03-23 01:44] #17845 closed

[2019-03-23 01:47] Alberto-Vega-MSFT commented on #27735
@DaDug Just touching base to see if you were able to overcome this issue?

[2019-03-23 02:25] 007 commented on #27833
That's... ridiculous. Thanks for confirming details, will follow up with Jamf to try and fix.

[2019-03-23 02:25] #27833 closed

[2019-03-23 02:25] #27748 closed

[2019-03-23 02:27] #27621 closed

[2019-03-23 02:28] DixitArora-MSFT commented on #27524
@vikguptaMS Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-23 02:28] #27524 closed

[2019-03-23 02:32] DixitArora-MSFT commented on #27550
@canoas Thanks for the update. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-23 02:32] #27550 closed

[2019-03-23 02:49] Tiberriver256 opened #27835 "Run docker-compose commands on running images"
Hello,

I'm running Magento in this multi-configuration setup with the magento contents mounted from blob storage. I'm looking for a method to run a command to flush the cache after I upload files to the blob storage. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49

[2019-03-23 04:14] shashishailaj commented on #27835
@Tiberriver256 Thank you for your feedback . We will investigate and update this thread.

[2019-03-23 04:24] shashishailaj commented on #27822
@tzhao2017 Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:33] shashishailaj commented on #27824
@rahulvmarathe Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:35] shashishailaj commented on #27826
@ntrpnr Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:36] ackava opened #27836 "Unable to click Limits"
Unable to click Limits, see attached photo

![image](https://user-images.githubusercontent.com/39438041/54861678-4367a100-4d53-11e9-9049-3d1808d515b3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
* Version Independent ID: 5c26cb3f-ec5c-b028-f456-53998a67749e
* Content: [Disast

[2019-03-23 04:36] shashishailaj commented on #27827
@marcusclayton Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:37] shashishailaj commented on #27828
@deepaknarula Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:39] shashishailaj commented on #27831
@garethjensen Thank you for your feedback . We will investigate and update further.

[2019-03-23 04:43] shashishailaj commented on #27834
@anushreeringne Thank you for your feedback . We will investigate and update this thread.

[2019-03-23 04:45] Allistairr opened #27837 "Get-RdsDiagnosticActivities : User is not authorized to query the management service."
Brand new WVD Tenant and using account with Global Admin rights.  Need to add pre-reqs for this cmdlet to work correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd503e0-9200-4fb7-4a18-fdf3cf51f8ee
* Version Independent ID: 4b3493f3-ca0e-f64e-a884-0a27b1d18eb1
* Content: [Identify issues with the diagnostics fe

[2019-03-23 04:45] shashishailaj commented on #27836
@ackava Thank you for your feedback . We will investigate and update this thread further.

[2019-03-23 05:06] nelfer commented on #27780
I'm having an issue once I deploy the application. It's not working with error: AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application

And I can see that is sending redirect_url with http (not https). I tried adding the URL with http and the new(Preview) Azure registration doesn't let me, it requires https. Went to the old registration and

[2019-03-23 06:47] BasvanH commented on #12701
@v-thepet, really? I asked a question and its still unanswered.

[2019-03-23 07:28] xenalite commented on #18737
@tknerr In principle you could work around this - deploy AGWv2 and have your rules.
In your ARM template, you could first deploy NSG attached to no subnets, then deploy AGW, then attach NSG to subnets. Because ARM is DSC, it will ensure NSG is not attached before AGW on every redeployment.

[2019-03-23 07:39] hiroyha1 commented on #26002
I think Add-AzureKeyVaultKey should alse be Add-AzKeyValutKey.

[2019-03-23 07:42] ggailey777 commented on #6541
This info has been removed. It will be replaced when we have something that is more helpful to customers. #please-close

[2019-03-23 07:51] bhrionn commented on #12420
Each command must currently be run on a command line. I would have liked multiple commands to be in one file and then just run the file .. in old windows parlance this was called a batch script...

[2019-03-23 08:22] Pavan2019 opened #27838 "Spelling mistake in "Note" Section. And also other para below the note"
Change the text from "Used" to "Use" in "Note" section. Please refer the picture in the same page. In the picture it is "Use" above the text field. The same needs to be updated in the other sections as well in the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e160c8ec-222c-45a4-7e28-bc93e58d633f
* Version I

[2019-03-23 08:40] SychevIgor opened #27839 "Explicitly specify both DevTest Lab and ClassroomLab"
Please, explicitly specify that both DevTestLab and Classroombal are not supported for migration between subscriptions.
It's hard to follow Microsoft marketing changes and we are still looking for DevTestLab via Ctr+F and can't find   interesting services in the list.
Something like "Lab Services (both DevTest Labs and ClassRoom Lab" - will be better.

---
#### Document Details

⚠ *Do not edit thi

[2019-03-23 09:01] ggailey777 commented on #27819
@brandonh-msft thanks for the feedback. These are known content gaps that are being tracked internally. We have plans for both a VS Code how to article like [the VS one](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs) ([1098349](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1098349)) and an improved quickstart that uses func.exe from the VS Code terminal ([143

[2019-03-23 09:03] ggailey777 commented on #25005
#please-close
Feel free to reopen this issue if we haven't addressed all of your concerns.

[2019-03-23 09:58] bayesfactor opened #27840 "log retention period"
Is it possible to make the log retention period a user-configurable variable? For example, I'd like to be able to set longer than 90 days for some data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c9d466-1830-ebaf-066f-8b53b57b6917
* Version Independent ID: 414715c5-d5f7-823a-3869-d8eb08448dbd
* Content: [Azure lo

[2019-03-23 10:28] TheRealKnurft opened #27841 "Content hard to read"
As a person who's language is not native English, this article is quite difficult to read. Especially "Log search alert rule - firing and state" took me a long time to read and understand. Would be very beneficial to skip the ";" and  "-" and instead write shorter sentences.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-03-23 10:36] shashishailaj commented on #27837
@Allistairr Thank you for your contribution . We will have this reviewed and update the content as needed.

[2019-03-23 10:38] shashishailaj commented on #27840
@bayesfactor Thank you for your feedback . Could you please let us know which exact azure component are you referring to for log retention and we can accordingly find more information for you.

[2019-03-23 10:43] shashishailaj commented on #27838
@Pavan2019 Thank you for your feedback . We will investigate and update further.

[2019-03-23 10:46] shashishailaj commented on #27839
@SychevIgor Thank you for your feedback . We will investigate and update further.

[2019-03-23 11:27] tiktb8 commented on #27773
What is the status of your session host when queried with Get-RdsSessionHost

[2019-03-23 13:34] SebastianSchuetze opened #27842 "Limitations for Azure Blueprints"
I am missing basic limitations for Azure Blueprints. I am aware that it is still in preview, but I can't find anywhere any documentation about limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure

[2019-03-23 13:42] AjayKumar-MSFT commented on #27841
@TheRealKnurft, Thanks for posting the question on this! Your feedback has been shared with the content owner for further review.

[2019-03-23 14:43] Solaflex commented on #27376
Can confirm, I have the same issue.
Strangely it was working fine in the beginning of this year and now I have tried to generate a new version of the same package and this error message pops up. Same manifest and Azure Gallery Packager Exe. Maybe an external dependency ?

[2019-03-23 15:11] #27647 closed

[2019-03-23 15:11] marxxxx commented on #19489
@Mike-Ubezzi-MSFT exactly, the log was coming from a. NET core 2.2 based console application. I don't fully understand your comment though. .NET Core 2.2 fully implements .NET Standard 2.0

[2019-03-23 15:11] #13853 closed

[2019-03-23 15:12] #25669 closed

[2019-03-23 15:12] #6541 closed

[2019-03-23 15:12] #25005 closed

[2019-03-23 16:17] nattyxd opened #27844 "Minor extra bracket"
Hey there,

I believe the line:
`curl -u $LOGIN -G https://$CLUSTERNAME.azurehdinsight.net/templeton/v1/status)`

has an extraneous `)` at the end which could cause a syntax error if copy and pasted.

Thank you! 😊
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88405fdd-d909-1772-2b0d-a6ac7fad3ae8
* Version Independent I

[2019-03-23 16:21] sochan1 commented on #19519
which are the two fundamental types of data use by Azure Monitor. --> used by Azure Monitor?

[2019-03-23 16:23] DeanCefola opened #27845 "error in sample code"
in the section Retrieve diagnostic activities in your tenant
the code sample is as follows

Get-RdsDiagnosticsActivities -TenantName <tenantName>

Diagnostics should not be plural

the correct command is
Get-RdsDiagnosticActivities -TenantName <tenantName>

[2019-03-23 16:33] rbergertd commented on #27773
What’s weird is I discovered the web client works fine but still having issues with the RDP file. Continuing to look into this.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: tiktb8 <notifications@github.com>
Sent: Saturday, March 23, 2019 7:28 AM
To: MicrosoftDocs/azure-docs
Cc: Berger, Ryan; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment failure (

[2019-03-23 16:57] AjayKumar-MSFT commented on #27842
@SebastianSchuetze, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-03-23 17:05] SaurabhSharma-MSFT commented on #27845
@DeanCefola To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-03-23 17:07] SaurabhSharma-MSFT commented on #27844
@nattyxd Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-23 17:23] KumudD commented on #19740
Added the Netplan instructions to the doc. Thanks!

#please-close

[2019-03-23 17:23] DeanCefola commented on #27845
Sorry, thought I did
https://docs.microsoft.com/en-us/azure/virtual-desktop/diagnostics-role-service#retrieve-diagnostic-activities-in-your-tenant

and
https://docs.microsoft.com/en-us/azure/virtual-desktop/diagnostics-role-service#retrieve-detailed-diagnostic-activities

[2019-03-23 18:01] Tiberriver256 commented on #14182
v10 is still in preview and doesn't support all the features v8 does yet. Like copying from File storage to Blob storage.

[2019-03-23 18:34] deltadan opened #27848 "SSH Key Error"
The sample has an error with respect to Keys so the VM won't deploy.

Error: Error applying plan:

1 error(s) occurred:

* azurerm_virtual_machine.myterraformvm: 1 error(s) occurred:

* azurerm_virtual_machine.myterraformvm: compute.VirtualMachinesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="The value of parameter linuxConfigura

[2019-03-23 19:35] haywoodsloan commented on #14350
Yes, as of version 2.0.2 the map control sdk no longer relies on a global AppInsights instance. Now pages can use AppInsights via the downloadAndSetup method alongside the map control.

[2019-03-23 19:36] cicorias commented on #27526
the issue is using the command as presented in the code box under PowerShell in Windows the device connection string gets truncated.

[2019-03-23 19:46] bcraun commented on #9760
@SteveLasker is there a plan to support BitBucket? Thanks.

[2019-03-23 20:23] serigado commented on #24799
I have the exact same question. How do you return extended metadata attributes?

[2019-03-23 20:33] jtuliani commented on #27802
@Mike-Ubezzi-MSFT Thanks. NSGs require me to specify the source and destination IP ranges. The issue here is it's not clear what those should be.

[2019-03-23 20:36] abhiSakhuja commented on #26361
@justinhauer I am able to fix all bugs and have a working python code. Let me know where you are stuck, so that I can share that particular part of code.

[2019-03-23 21:01] ggailey777 commented on #11869
When I checked this again a plain string value response is returned. We will close this because HTTP Header control is not specific to Functions, and it's too advanced for a quickstart. #please-close

[2019-03-23 21:01] ggailey777 commented on #12978
Please assign to @craigshoemaker.

[2019-03-23 21:03] ggailey777 commented on #14560
@dariagrigoriu what is the best way to clarify this issue (deployment slots support) at this point?

[2019-03-23 21:23] jaapbrasser commented on #7385
Seems like this issue can be closed then?

[2019-03-23 21:29] JeromeIsaacVigne commented on #27745
Same here...

[2019-03-23 21:58] irakliy81 commented on #26761
@paulbatum - it doesn't seem like Azure is honoring the `AzureWebJobsScriptRoot` setting. If I set it to something like `D:\home\site\wwwroot\foo`, it is still loading functions from `D:\home\site\wwwroot` (even though I have `host.json` and function folders under `D:\home\site\wwwroot\foo`).

The setting seems to work correctly in local environments, but not on Azure.

[2019-03-23 22:28] puduville opened #27852 "Getting Error az: error: unrecognized arguments: properties.IsEnabled=true"
When I try and enable I get this error: az: error: unrecognized arguments: properties.IsEnabled=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b66ee5-8956-edd1-21b7-166fb7ee754f
* Version Independent ID: fecd897d-9a7a-7164-cf37-0044c5278f95
* Content: [Enable fusion in Azure Sentinel Preview](https://docs.micros

[2019-03-23 23:03] StingyJack opened #27853 "I have more than one AIP webjob listed, how do I tell which one is the "active" one?"
And if there is supposed to only be one, why didnt the inactive one get removed?

EDIT: "active" as in "active and used for the current App Insights configuration".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Version Independent ID: 6b3c7ae8-f3bb-dc4b-ed5b-a6e2190dacfd
* Conten

[2019-03-24 00:11] SeaDude commented on #25148
Thank you. I've reached out to the email address azcommunity@microsoft.com with this URL and my subscrip ID. If that is the method of resolution, i'm fine with closing this issue.

[2019-03-24 00:23] dcaddick opened #27854 "No data for some Dashboards after 3 days?"
Error is - azure sentinel "no data for the given query"
Audit & Sign-ins working OK, no Exchange online, No Identity & Access, No Office 365, etc...
It could be that I've done something dumb?

Feedback on Data Connectors page = why not provide a different colour + "connected" or "configured" once they are connected/working? As it stands they all simply sit their wanting to be connected...? But the

[2019-03-24 00:28] narasimmanr64 opened #27855 "Voting Data is not working"
Hi,
I tried to run the code as it is.

I got the following issues:
1. While publishing, VS told that there are duplicates, I found duplicates in ApplicationManifest.xml and Local.1Node.xml.  I commented the duplicates.
2. Error to copy the DLL as it is used by another process.  I went to Task manager and found VotingData is running.  I killed the application, but everytime when VS is publishing, t

[2019-03-24 00:29] bayesfactor commented on #27840
Sorry for the lack of clarity, and thanks for the fast response. I was talking about Azure APM (application performance monitoring) for websites.

[2019-03-24 00:32] narasimmanr64 commented on #27855
But the application is working !!!!

[2019-03-24 00:40] SeaDude commented on #25148
Yutong responded. I created ticket number 119032422000002 in correlation with this issue. Awaiting response.

[2019-03-24 01:48] andrewatfornax commented on #23263
Hi @PramodValavala-MSFT,

Thanks for your reply.

If the note mentioning what has to be done is the tip that says "Change the -RuleType and routing, to restrict access to certain pages of the developer portal.", then I would say that this is definitely too vague. I'm not going to claim I'm an expert, but I've been working as a consultant helping businesses to deploy large-scale cloud infrastructur

[2019-03-24 02:03] andrewatfornax commented on #15316
Hi @rkarlin,

Thanks for the response. When I read through the article, there are a few phrases that suggest to me that the article is (at least in part) definitely targeted at troubleshooting in the context of a VM hosted in Azure. Some examples:

- "Security Center uses the Microsoft Monitoring Agent – this is the same agent used by the Azure Monitor service – to collect security data from your

[2019-03-24 05:00] vany0114 commented on #6500
Guys, I'm using this approach and work very well when I deploy on SF. However, my local solution use docker compose, so if I want to debug my solution locally it doesn't work since the `Entrypoint` does not execute the `dotnet` command.

`ENTRYPOINT ["C:\\PowerShell\\pwsh.exe","C:\\msi-routing.ps1"]`

Any idea how can I do run my solution locally as well using `docker-compose` project as start up?

[2019-03-24 05:01] shashishailaj commented on #27854
@dcaddick Thank you for your query . We will investigate and update further.

[2019-03-24 05:03] shashishailaj commented on #27852
@puduville Thank you for your query . We will investigate and update further.

[2019-03-24 06:09] SaurabhSharma-MSFT commented on #27848
@deltadan Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 06:13] SaurabhSharma-MSFT commented on #27855
@narasimmanr64 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-24 06:18] SaurabhSharma-MSFT commented on #27853
@StingyJack Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 09:07] shashishailaj commented on #27468
Thank you for sharing the behaviour in your environment . The SAML element AuthContextClassRef defines the authentication methods which a Service provider (in this case cisco webex) requires the identity provider to use in order to setup Single sign-on. If PasswordProtectedTransport is specified in the request , the IDP(in this case azure AD) knows that it has to authenticatie the user using usern

[2019-03-24 09:07] #27468 closed

[2019-03-24 09:53] shashishailaj commented on #27496
@owingruters The scan works in the background and is initiated by Azure Security center automatically . At this point there is no way to trigger a scan manually after you have mitigated or changed anything on the monitored resources. Please check the section [monitoring for new or changed resources ](https://docs.microsoft.com/en-us/azure/security-center/security-center-planning-and-operations-gui

[2019-03-24 09:57] rkarlin commented on #15316
Thanks @andrewatfornax we'll take it under advisement and take another look at the language in the article.

#please-close

[2019-03-24 10:06] rkarlin commented on #27496
The vast majority of assessments are updated within 24 hours, I'll update the document now.
thanks,
Rachel

#please-close

[2019-03-24 11:13] shashishailaj commented on #27496
@rkarlin Thank you for confirmation . Closing this now.

[2019-03-24 11:13] #27496 closed

[2019-03-24 11:16] joergenlie commented on #27745
I'm also struggeling with this. I've tried several times. Does the default vnet have access to the AD domain by default? Do I have to set some domainservices stuff to get this working? It should not be necessary join manually after failure. The template is designed to set it all up.

[2019-03-24 11:23] shashishailaj commented on #27558
@KS76 An application manifest has multiple attributes which are referred to as collections. For example approles , keycredentials, knownClientApplications, identifierUris, rediretUris, requiredResourceAccess , oauth2Permissions etc .

So within the complete manifest the total number of entries in all the collections combined has been capped at 1200. So lets say you already have 100 redirect URI's

[2019-03-24 11:23] #27558 closed

[2019-03-24 11:23] shashishailaj commented on #27559
@KS76 An application manifest has multiple attributes which are referred to as collections. For example approles , keycredentials, knownClientApplications, identifierUris, rediretUris, requiredResourceAccess , oauth2Permissions etc .

So within the complete manifest the total number of entries in all the collections combined has been capped at 1200. So lets say you already have 100 redirect URI's

[2019-03-24 11:23] #27559 closed

[2019-03-24 11:26] rkarlin commented on #27055
Hi @SaurabhSharma-MSFT please assign this to @akadatacowboy who owns this article. thanks

[2019-03-24 11:26] rkarlin commented on #27417
Hi @tysonn  please assign this to @akadatacowboy who owns this article. thanks

[2019-03-24 11:27] rkarlin commented on #25973
#please-close

[2019-03-24 11:29] rkarlin commented on #25963
Hi @MicahMcKittrick-MSFT  please assign this to @akadatacowboy who owns this article. thanks

[2019-03-24 12:13] rkarlin commented on #25248
Hi @AllenVisser Thanks for reaching out. I've contacted the product team. They don't think that this is a reason for this error, but they are going to do a thorough test to make sure.

[2019-03-24 12:46] toddysm commented on #27658
Some more details...

The following configuration:
<img width="994" alt="image" src="https://user-images.githubusercontent.com/1007103/54879591-58bbf880-4e43-11e9-85f4-694b93dff6ab.png">

Generates the following error:
[code]
Please let us know whether there is any update on the configuration for Flow - this is blocking us from publishing.

[2019-03-24 12:49] tsrob50 commented on #27745
@Joergenlie makes a good point.  The VNet you deploy to needs access to a Domain Controller during the deployment for domain join and after for login services.  If you use a new VNet created at the time of deployment, it won’t have the access needed to the DC.  I deployed to an existing VNet on the same subnet as the rest of my VM’s.   Deploying to a new subnet in the same VNet should work as well

[2019-03-24 13:15] lesterw1 opened #27872 "AzCopy example - Backup / Synchronize folders"
A GREAT example that should be included is how to use AzCopy to backup files from a local folder, but only those files which are newer than what is already in blob storage.  This was feasible with AzCopy v8 using the /XO switch to exclude old files but I cannot see how to do such conditional copying with AzCopy v10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-03-24 13:49] Yegmorcar opened #27873 "Invalid container name when creating an asset"
I'm trying to follow the step to create an asset, however whenever I send the PUT request, I get an error:
{
    "error": {
        "code": "BadRequest",
        "message": "Invalid container name. Check MSDN for more information about valid container naming."
    }
}

I'm assuming that it's because of my storage isn't named correctly, however, I've followed the MSDN article on naming and it seems

[2019-03-24 13:49] jpeckham opened #27874 "console app"
What about how to wire it up to a .net console app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc43d849-5b06-7185-0c9e-aaf240363aca
* Version Independent ID: 385f4dfe-326a-9e63-80ce-3c71903edf3c
* Content: [Quickstart: Set and retrieve a secret from Azure Key Vault by using a node web app - Azure Key Vault](https:/

[2019-03-24 14:13] dreic opened #27875 "No info about location of Startup File on Azure portal for .NET core app on Linux in Doc"
In Built-in images part of the documentation there should be some info where do I locate and change startup file for built-in images. I spent almost whole day searching this info in documentation and searching the web with no success. In the end I asked question on the forum and answer was given (Go to Application settings and under Runtime you will find what you need). I used .NET core on Windows

[2019-03-24 14:25] dreic opened #27876 "There is no zip deploy for App Service on Linux"
I used zip deploy on Windows app service but on Linux I am getting Error 500 if I try to use it same way as is in Windows and I found in documentation saying if something is grayed out that is not supported on Linux. I created deploy user, created zip file of binaries and used powershell (Invoke-RestMethod) but received error 500. Please remove bad information for Linux FAQ. In order to use Curl f

[2019-03-24 14:28] dchapdelaine opened #27877 "App Armor and seccomp examples require SSH access to the nodes"
The App Armor and seccomp examples require SSH access to the nodes. While this works, AKS owns and manages the nodes so these changes will be lost when scaling in and out the cluster and upgrading the Kubernetes version.

I think we should be clearer on this and maybe point users to AKS Engine if it’s the only viable option right now.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-24 15:10] clouditspace opened #27878 "Error in code"
Change needed for the following codes
username=$(az account show --query user.name --output tsv)
vm=$(az vm show --resource-group myResourceGroup --name myVM --query id -o tsv)

Correct syntax should be
$username= az account show --query user.name --output tsv
$vm= az vm show --resource-group myResourceGroup --name myVM --query id -o tsv

---
#### Document Details

⚠ *Do not edit this section. It

[2019-03-24 15:40] MicahMcKittrick-MSFT commented on #27878
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-24 15:41] MicahMcKittrick-MSFT commented on #27877
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-24 15:54] KrishnaG-MSFT commented on #27587
@madhanan Closing this issue for now. If there are further questions regarding this matter or regarding documentation changes, please reply and we will gladly continue the discussion.

[2019-03-24 15:54] #27587 closed

[2019-03-24 15:56] KrishnaG-MSFT commented on #27590
@imeya Closing this issue for now. If there are further questions regarding this matter or regarding documentation changes, please reply and we will gladly continue the discussion.

[2019-03-24 15:56] #27590 closed

[2019-03-24 16:50] Saidevm opened #27879 "Data Factory Project Template no more available in VS2017"
Data Factory Project Template no more available in VS2017. Article needs to be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 596c12cd-e511-83ac-dc2c-e3b561a87266
* Version Independent ID: 8d7b6035-af95-ad7d-62bf-6ca344a4c4bb
* Content: [Tutorial: Create a pipeline with Copy Activity using Visual S

[2019-03-24 17:30] nnamedieh opened #27880 "Confusing information regarding effective routes with service endpoints"
Hi all,
I'm not quite sure about the following provided information:

"Today, any routes in your virtual network that force Internet traffic to your premises and/or virtual appliances, known as forced-tunneling, also force Azure service traffic to take the same route as the Internet traffic."

compared to

"Service endpoint routes override any BGP or UDR routes for the address prefix match of an A

[2019-03-24 18:05] SaurabhSharma-MSFT commented on #27872
@lesterw1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:09] rbergertd commented on #27773
[cid:image002.jpg@01D4E24B.319CA100]

The RDS Session Host looks good.

From: tiktb8 <notifications@github.com>
Sent: Saturday, March 23, 2019 7:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Berger, Ryan <Ryan.Berger@techdata.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Deployment failure (#27773)

   This email originated outside of T

[2019-03-24 18:28] SaurabhSharma-MSFT commented on #27873
@Yegmorcar Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:30] SaurabhSharma-MSFT commented on #27874
@jpeckham Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:31] SaurabhSharma-MSFT commented on #27875
@dreic Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:31] SaurabhSharma-MSFT commented on #27876
@dreic Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:32] SaurabhSharma-MSFT commented on #27879
@Saidevm Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:32] ggailey777 commented on #11442
@jrichview I think that the information you are looking for is documented [here](https://docs.microsoft.com/azure/azure-functions/functions-bindings-errors), and also in the [Queue trigger article](https://docs.microsoft.com/azure/azure-functions/functions-bindings-storage-queue#trigger---poison-messages). As @MicahMcKittrick-MSFT points out, this is an entry-level article and we aren't supposed t

[2019-03-24 18:33] SaurabhSharma-MSFT commented on #27880
@nnamedieh Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-24 18:34] ggailey777 commented on #14283
@craigshoemaker is this something you think we should address in the [testing article](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function)?

[2019-03-24 18:36] xenoguy commented on #27745
I signed up for the azure trial, and didn't realize that you needed to have either a domain controller, or azure ad domain services set up already before deploying this template.

There are other issues with this template.  for example, if you're on the azure trial, you're limited to 4 core machines, but the default template uses 8 core vms.  you have to manually pick another machine type.  D4s_v3

[2019-03-24 18:37] jpeckham commented on #27874
I think I figured it out. It was unclear that access required azure managed
identity.

On Sun, Mar 24, 2019, 1:30 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2019-03-24 18:38] ggailey777 commented on #14504
@cliffkoh Is the documentation in the [host.json article](https://docs.microsoft.com/azure/azure-functions/functions-host-json#logging) not sufficient?

[2019-03-24 18:40] ggailey777 commented on #16696
@ccarns we are actually in the process of superseding this article with a better one. As such, we aren't going to be able to fix anything other than pri 0 issues in it. Thanks for your patience. #please-close
cc. @craigshoemaker

[2019-03-24 18:42] ggailey777 commented on #17069
@mike-urnun-msft please assign this to @craigshoemaker. Alternately, since we haven't head back from @NickDrouin, we can also #please-close it.

[2019-03-24 18:53] mike-urnun-msft commented on #17069
@NickDrouin We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-24 18:53] #17069 closed

[2019-03-24 18:55] BhargaviAnnadevara-MSFT commented on #27406
@haoxin We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation. You may also open an issue on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurescripting) with all the details and we shall promptly assist you. Thanks again for reaching

[2019-03-24 18:55] #27406 closed

[2019-03-24 19:24] ticklemedaly commented on #23300
Try using the app's "Object ID" instead of the "Client ID" found in portal.

I ran into something very similar, if not nearly identical. Historically I used the ClientID to grant app id access to a resource. I found the below, which references using the ObjectID instead.

https://kvaes.wordpress.com/2019/02/06/azure-data-lake-storage-gen2-exploring-aad-b2b-acl-hardening/

[2019-03-24 19:47] AronT-TLV opened #27881 "Deployments fail with “bad user name” error"
I get this error on two of the deployments ( “provision host pool” & “vmcreation”):
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFa

[2019-03-24 19:47] prashanthyv commented on #26456
Thank you for reporting. There's a new PR that will fix this issue.

[2019-03-24 20:00] samsmithnz commented on #27626
Minor addition, but in step 5, "In the NuGet tab, click Browse, and type Microsoft.Azure.Cosmos in the search box.", it should also mention that the 'include prerelease" checkbox should be checked - mostly because by default it's not, and it just caught me off-guard. Makes the documentation slightly easier to follow.

[2019-03-24 20:11] shashishailaj commented on #27582
No The office 365 logging is available for services included within the Office365 service only _( for eg. Sharepoint online, Exchange online, basic reports some selected Directory operations , Sway , Teams , Office365 groups etc.   )_ It does contain some basic reporting for Azure AD but its not extensive as the logs you obtain if you have Azure AD Premium P1 / P2 . Below is the list of different

[2019-03-24 20:11] #27582 closed

[2019-03-24 20:21] shashishailaj commented on #27681
@sixcorners Yes its alright to delete the same from your DNS . Once the domain ownership has been proven , it will automatically get attached to our Azure AD system and henceforth you may not need to query that record. Please check the note in the [O365 documentation ] (https://docs.microsoft.com/en-us/office365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider?view=o365-w

[2019-03-24 20:21] #27681 closed

[2019-03-24 20:24] shashishailaj commented on #27666
@CelesteDG Could you please look into this and provide the related clarification to the customer.

[2019-03-24 20:44] njbuch opened #27883 "The Cloud to device C2D message routing is unclear"
An example of how to receive messages from the cloud and route them would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa-7dde-c18f-be9505b00a0a
* Content: [Declare modules and routes with deployment manifests - Azure IoT Edge](https:/

[2019-03-24 21:13] JeromeIsaacVigne commented on #27745
It worked: the issue was related to the DC VM. Make sure once you deployed the DC on an Azure VM, you update the DNS entry for the virtual network to reflect the internal IP of the DC VM. Restart the DC VM.

[2019-03-24 21:52] Ba4bes commented on #23015
I'm sorry, but I'm not sure why my issue was closed? My question has not been answered in the update in the doc or in this thread?

[2019-03-24 21:54] #16696 closed

[2019-03-24 21:59] georgewallace commented on #23015
@ba4bes sorry for the confusion. Your issue was closed by the PR to update the doc. We had discussed earlier in your thread in regards to the permissions and using the cmdlets to limit the permissions needed. This is all in the doc. The original question about the service hooks was answered as I mentioned it is service connections as that is what is described in the permissions needed in the doc.

[2019-03-24 22:03] AengusMo commented on #17370
Any ETA update on Token Lifetime features being available in AAD Condition Access?
Thanks.

[2019-03-24 22:04] Ba4bes commented on #23015
I'm still not sure what the minimum permission role is for an account in Azure DevOps to set up this connection (with autosync). I use the Project Administrator role now and I want to make sure that's the minimum level needed, as this is a role that has a lot of other permissions in the project

[2019-03-24 22:29] seanperera commented on #24190
Following is my PS without variable values. I am getting **BadRequest** when **Set-AzureRmApiManagementPolicy** code is running.
[code]

[2019-03-24 23:18] marcelo-salvatori opened #27884 "Steps order."
I think that step 6 should be the first one. Is the fastest one, and none of the other validations will be useful if IP address have changed.

I don't know about the rest of the world, but here in Brasil i've seen this happening a lot of times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8f4066-2a5a-4843-2734-8777

[2019-03-24 23:41] jeffhollan commented on #14283
We may want to hold off until we do the DI article that I am working on right now. It will showcase the HttpClientFactory approach

[2019-03-25 00:06] #11869 closed

[2019-03-25 00:06] #11442 closed

[2019-03-25 01:00] jackbond commented on #6530
When it comes to .NET and Gremlin support, the support is still a complete joke. Just look at the sample on this page...

string output = JsonConvert.SerializeObject(result);

Seriously? The client library has just deserialized the json off the wire, and what is the author doing here? Re-serializing it? But I get why this did the lazy cheat, what happens if you try and actually parse the dynamic o

[2019-03-25 01:30] smithGit opened #27886 "Additional Code for Done Event"
This is a great example - worked first time I tried against my own Azure SQL database table.  The example shows the actions to take upon the "row" event, but I am having trouble writing the function to perform a task at the end of processing.  I believe this is the request.on('done'...) event but I cannot get this to trigger, so I would encourage the addition to the example of a function to handle

[2019-03-25 01:43] DaDug commented on #27735
No not yet, I will pick it back up this week.  I am not sure what to look at first.  The connection string instructions in the tutorial seem kind of magical.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alberto Vega <notifications@github.com>
Sent: Friday, March 22, 2019 9:47:30 PM
To: MicrosoftDocs/azure-docs
Cc: DaDug; Mention
Subject: Re: [MicrosoftDoc

[2019-03-25 01:45] smithGit commented on #27886
request.on('done'....) did not work but doneProc did:
    request.on('doneProc', function(rowCount, more, rows){
        if (!more){
            console.log("end of process, num rows = " + myRows.length);
        }
    });

[2019-03-25 01:53] sasanmcp opened #27887 "why does it say "not supported" where as it is indeed supported?"
in the co-existance section
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways?toc=%2fazure%2fnetworking%2ftoc.json#coexisting
it says Azure Portal is "not supported" where as when you go inside the PowerShell article, on the top it says "portal is supported but the documentation for that is just not ready".

why do we say it like that?

---
#### Document Details

⚠ *

[2019-03-25 01:54] dcbrown16 opened #27888 "Update screenshots"
I know it's a losing battle to keep everything up to date with the Portal, but the "Register" button for each resource provider has moved from the row of the resource provider up to the top of the menu (along with "Unregister"). It would be nice if that could be updated at some point.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-03-25 02:01] Karishma-Tiwari-MSFT commented on #27046
@w0ut0 Thanks for sharing the update.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-25 02:01] #27046 closed

[2019-03-25 02:02] kazshi opened #27889 "IOPS data for each tier"
The following link has "A premium page blob's tier determines the allowed size, IOPS, and bandwidth of the blob. A block blob's tier determines Hot/Cool/Archive storage type.", but I cannot find IOPS data for each tier in this page. Where can I find IOPS data for each tier?

Set Blob Tier | Microsoft Docs
https://docs.microsoft.com/ja-jp/rest/api/storageservices/set-blob-tier

---
#### Document De

[2019-03-25 02:36] KeiroKamioka0000 commented on #26755
@MashaMSFT
Hi, thanks for the detailed answer.

As double checking purpose, does Azure VM will support both x86 / x64 version of SQL Server 2008?

Thanks,

-Keiro

Support policy for Microsoft SQL Server products that are running in a hardware virtualization environment
https://support.microsoft.com/en-us/help/956893/support-policy-for-microsoft-sql-server-products-that-are-running-in-a

Q3: The S

[2019-03-25 02:56] wahyuen opened #27890 "Clarification for Continuous Delivery scenario"
I've noticed that the documentation currently states that the benefit of using 'Run from Package' includes the following:

This is also re-enforced later in the article

What is the expectation with using this feature if we are deploying this from Azure DevOps? Does every deployment then require an application restart?

I'm currently having a number of issues with using this deployment method and

[2019-03-25 03:23] KalyanChanumolu-MSFT commented on #27886
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-03-25 03:39] smithGit commented on #27886
Note: I added a second note (using ‘doneProc’) – which worked – but I am puzzled why ‘done’ did not.  Otherwise, you may consider this closed if ‘donProc’ is what should normally be used.

Thanks for your attention to this.  Sam Smith - Michigan

From: Kalyan Chanumolu [mailto:notifications@github.com]
Sent: Sunday, March 24, 2019 11:24 PM
To: MicrosoftDocs/azure-docs
Cc: Sam Smith; Author
Subject

[2019-03-25 03:55] AshokPeddakotla-MSFT commented on #27883
@njbuch Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-25 04:02] YASWANTHM-MSFT commented on #27889
@kazshi, Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-25 04:02] Leon99 opened #27892 "MSI support"
It would be nice to cover the state of support for MSI. In my experience, it works for App Service on Linux but doesn't work with Web App for Containers despite being available in the Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371

[2019-03-25 04:05] KetanChawda-MSFT commented on #27508
@githubavi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 04:05] #27508 closed

[2019-03-25 04:17] msrini-MSFT commented on #27887
@sasanmcp , Thank you for your feedback. I will take a look and update you shortly.

[2019-03-25 04:19] DeepaThiruna commented on #27786
Thank you

[2019-03-25 04:19] msrini-MSFT commented on #27716
@CeciAc , It does work when you use the command with "Standard_LRS". If you are facing any issue, please paste the error along with the command that you run.

[2019-03-25 04:19] #27716 closed

[2019-03-25 04:26] #15316 closed

[2019-03-25 04:27] Leon99 opened #27893 "Web App for Containers is not supported at the moment"
&gt; Managed identity support for App Service on Linux and Web App for Containers is currently in preview.

It works for App Service on Linux but doesn't work for Web App for Containers (or, at least, it's not clear how to set it up - the same actions that work with App Service on Linux don't work with Web App for Containers).

---
#### Document details

⚠ *Do not edit this section. It is required

[2019-03-25 04:29] msrini-MSFT commented on #27884
@marcelo-salvatori , Thank you for your feedback. The way how it is ordered is basically checking the configuration from Azure end, and finally checking the On-Premises end configuration. In the 6th step, we have mentioned common issues that leads the site to site to break.

Thank you for your suggestion.

[2019-03-25 04:29] #27884 closed

[2019-03-25 04:29] #19740 closed

[2019-03-25 04:32] jakaruna-MSFT commented on #27585
@bramvdklinkenberg  @kasunsjc I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-25 04:32] #27585 closed

[2019-03-25 04:33] jakaruna-MSFT commented on #27673
@anushreeringne  Did the above comment help

[2019-03-25 04:33] #25973 closed

[2019-03-25 04:42] BhargaviAnnadevara-MSFT commented on #27756
@cijothomas I see that the said PR was merged about 6 hours ago. Hence closing the issue.

[2019-03-25 04:42] #27756 closed

[2019-03-25 04:50] CHEEKATLAPRADEEP-MSFT commented on #27844
@nattyxd Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/70653](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70653).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2019-03-25 04:52] bespinfw commented on #27753
@colinrubbert thanks! I can confirm that the workaround works for me.

[2019-03-25 04:52] rizwaans opened #27894 "Concat value failing at Logic app deployment"
Hi ,
Can some one please help me get over this issue.

I am trying to use concated value for HttpWebHook URI in logic app action( step) and failing the deployment

I am using the below definition for the URI value
"variables": {
    "CallBackFunctionUri": "https://test.com/"
  },

"HTTP_Webhook": {
              "type": "HttpWebhook",
              "inputs": {
                "subscribe": {

[2019-03-25 04:54] rizwaans commented on #27894
@KetanChawda-MSFT  Can you please help :(

[2019-03-25 04:55] #27844 closed

[2019-03-25 04:59] BhargaviAnnadevara-MSFT commented on #27894
@rizwaans In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-25 05:04] rizwaans commented on #27894
@BhargaviAnnadevara-MSFT

I think there is no specific documentation for this.

Just to be more clear.

I am trying to append a value that I parse from step A (application Number) and concat it to the Http WebHook URI

Example URI :  [concat('https://test.com/' , @{body('stepA')?['ApplicationNumber']})]

I hope this gave you a better understanding of the issue.

[2019-03-25 05:04] RohitMungi-MSFT commented on #27657
@gerisg We hope you got a chance to create a feature request at [cognitive services user voice page](https://cognitive.uservoice.com/forums/578689-qna-maker-api). We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 05:04] #27657 closed

[2019-03-25 05:06] RohitMungi-MSFT commented on #27778
@algattik We hope the above explanation provides clarification of the wording in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 05:06] #27778 closed

[2019-03-25 05:13] RohitMungi-MSFT commented on #27786
@diberry Thanks for updating the document. I have one comment for the text of "[Remove example utterance to fix tagging](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-entity-types#remove-example-utterance-to-fix-tagging)". Here we have not deleted the prebuilt entity as we are retraining the app by deleting only the example utterance. But , in the wording it is mentio

[2019-03-25 05:17] DixitArora-MSFT commented on #27810
@markafox  I have followed the steps mentioned in [Grant permissions in Azure AD](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#grant-permissions-in-azure-ad) doc and able to see "settings" option by selecting the app. Try the steps in incognito window and let me know if any issues.

[2019-03-25 05:20] BhargaviAnnadevara-MSFT commented on #27894
@rizwaans Ok, Thanks for the response! We're investigating this and will get back to you shortly.

[2019-03-25 05:23] BhargaviAnnadevara-MSFT commented on #27881
@AronT-TLV Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-25 05:25] BhargaviAnnadevara-MSFT commented on #27888
@dcbrown16 Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-25 05:33] Syamala2604 opened #27895 "Feature Availability"
Is Azure Blob Storage Lifecycle preview  feature available beyond West US 2, West Central US, East US 2, and West Europe regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Life

[2019-03-25 05:39] lixuanzhu opened #27897 "Can I pass resource iteration copyIndex into a property of this resources?"
{
      "apiVersion": "[variables('networkApiVersion')]",
      "type": "Microsoft.Network/publicIPAddresses",
      "name": "[variables('lbIPName')[copyIndex()]]",
      "location": "[variables('location')]",
      "sku": {
        "name": "Standard"
      },
      "properties": {
        "dnsSettings": {
          "domainNameLabel": "[variables('dnsName')[copyIndex()]]"
        },
        "publi

[2019-03-25 05:42] JasonWHowell commented on #27738
Hi @markedwardssiemens
Check out: https://docs.microsoft.com/azure/kusto/management/tables#show-ingestion-mappings

[code]

Thanks, Jason
#please-close

[2019-03-25 05:48] githubavi commented on #27508
Hi, sorry for my late response. It is working now.
Thanks for the help.

-Avijit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KetanChawda-MSFT <notifications@github.com>
Sent: Monday, March 25, 2019 9:35:12 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to run Function App on different port than def

[2019-03-25 05:49] vphadnav opened #27898 "func init MyFunctionProj does not work on Fedora 28"
Following along this guide, func init with "dotnet" as a choice does not work. See below for details.
[1]
[~/Projects] $ func init MyFunctionProj
Select a worker runtime:
1. dotnet
2. node
3. python (preview)
Choose option: 1
dotnet
No such file or directory
[~/Projects] $ func

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@

[2019-03-25 05:49] rhow2010 opened #27899 "alert"
Fraud since 12/2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c69218e-d515-2024-6f5a-87fc3e853648
* Version Independent ID: 919dd126-7ac7-412f-1b1a-e84ece98abac
* Content: [Tutorial - manage Azure virtual machines with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-gove

[2019-03-25 05:55] theBlueclouds opened #27900 "Log Analytics Workspace -Advanced Settings cannot be found."
When I go to a Log Analytics workspace, I must be seeing Adanced Settings (menu). But I cannot see it. Is it a rights issue or the functionality taken from portal ?

[2019-03-25 06:05] msvijayn commented on #27841
@TheRealKnurft Thank you for your feedback. We'll look to rewrite the content in shorter sentences in the next doc refresh in Apr 2019.

[2019-03-25 06:17] kogesaka opened #27901 "Is the "Target throughput for single blob" notation gone?"
The document has been updated on 03/23/2019, but at that time the description of "Target throughput for single blob" was lost.

@@ -14,5 +14,4 @@ ms.author: tamram
   | Maximum size of a block in an append blob | 4 MiB |
   | Maximum size of an append blob | 50,000 x 4 MiB (approximately 195 GiB) |
   | Maximum size of a page blob | 8 TiB |
 '-' | Maximum number of stored access policies per blob

[2019-03-25 06:18] msrini-MSFT commented on #27887
Not supported mentioned in the doc is misleading and it has to be mentioned "supported and doc will be updated soon". I will assign this to author to clarify.

[2019-03-25 06:20] DashleenBhandari-MSFT commented on #27876
@dreic Currently we don't have ZipDeployUI for Linux. Zipdeploy UI is windows only.
Option 1:
We can use curl to do the zip-deployment:
1.	Fetch the user name / password by downloading the publishing profile for the web app from Portal
2.	Use curl to do the zip-deploy: (Sample shown below)
curl.exe --insecure -X POST --data-binary @<replace-with-zip-file-to-deploy> https://$<replace-with-sitename>

[2019-03-25 06:21] ManojReddy-MSFT commented on #27593
@Paul-Hadfield We always recommend using signup/in flow. The individual flows are still available because there will be scenarios where a developer would want the user to just sign-up or sign-in.

[2019-03-25 06:21] YASWANTHM-MSFT commented on #27895
@Syamala2604,Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-25 06:25] KetanChawda-MSFT commented on #27508
@githubavi Thank you for the confirmation. I am glad that it worked.

[2019-03-25 06:26] SumanthMarigowda-MSFT commented on #27578
@Sujittest1987 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-25 06:26] #27578 closed

[2019-03-25 06:31] KetanChawda-MSFT commented on #27894
@rizwaans Can you try it as mentioned below:

`@concat(variables('CallBackFunctionUri'),body('Parse_Channel_message')?['ApplicationNumber'])`

[2019-03-25 06:34] Ian-ACC opened #27902 "Is it possible to publish apps installed on Windows 10 VMs ?"
I have gone through all the above steps and installed an application on the Windows 10 VM and published it. The app never shows up in the web client or desktop client, only the desktop session shows in the clients. I also tried publishing a default app like wordpad same result ? The desired configuration is to be able to remotely launch an app installed on the Azure Virtual desktop.

---
#### Docu

[2019-03-25 06:37] dreic commented on #27876
Well I don't want to use curl, why there is no Invoke-RestMethod support? It makes no sense that  Microsoft is choosing opensource tools as primary means of doing something.

Here is the code I use to try zip deploy using powershell (this code works fine on Windows based app service):

`$appname = "myapp"
$username = '$uname'
$password = 'somerandompw'
$zipfile = "$home\Desktop\publish.zip"
$apiUr

[2019-03-25 06:41] genlin commented on #27345
@naimco， Thanks for the feedback. I will double check the script and update the file location. Thanks again for helping to improve the article.

[2019-03-25 06:46] kazshi commented on #23176
@SumanthMarigowda-MSFT  FYI. I got the same question from an another customer.

[2019-03-25 06:47] genlin commented on #15418
@PumpkinClarinnet  Thanks for helping to improve the content. I have submitted a pull request to add the information about what the reset of the configurations does. I will process to close this issue. Free feel to reopen it if there is any additional comment or feedback.

#please-close

[2019-03-25 06:55] BhargaviAnnadevara-MSFT commented on #27900
@theBlueclouds Thank you for the feedback! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-25 07:02] Deland-Han commented on #9214
There is already a note added in the article, which addresses this issue:

Note
The Boot diagnostics feature does not support premium storage account. If you use the premium storage account for Boot diagnostics, you might receive the StorageAccountTypeNotSupported error when you start the VM.

Therefore, I believe there is no action required.

[2019-03-25 07:02] Deland-Han commented on #9214
#please-close

[2019-03-25 07:05] KumudD commented on #26181
The image has been fixed. Thanks for bringing this to our attention!

#please-close

[2019-03-25 07:08] alert101 commented on #17639
Any update on this? We also wish to use Azure Front Door and keep our AKS cluster private.

[2019-03-25 07:20] tiholm opened #27904 "Documentation does not describe usage of Ingress"
Documentation https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-aks-applicationgateway-ingress states "creating a Kubernetes cluster using AKS with Application Gateway as Ingress Controller" but does not actually demonstrate how ingress is actually used, only describes the config required. After reading this documentation and applying it to my Azure resource group,

[2019-03-25 07:32] tiholm opened #27905 "Missing information about Github application-gateway-kubernetes-ingress -project"
Documentation https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-aks-applicationgateway-ingress describes how to configure application gateway as ingress. But, documentation does not mention Github project https://github.com/Azure/application-gateway-kubernetes-ingress which also describes steps to create application gateway ingress step. Are these instructions alig

[2019-03-25 07:37] PramodValavala-MSFT commented on #27838
@Pavan2019 Thanks for catching that! We have raised a PR to fix this and should reflect in a few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 07:38] #27838 closed

[2019-03-25 07:40] rizwaans commented on #27894
@KetanChawda-MSFT I tried this as well, but no luck. It fails.

[2019-03-25 07:46] padmick opened #27906 "Compatibility with timescaleDB"
Hi, is this replication compatible with the new timescaleDB plugin?
https://azure.microsoft.com/en-us/blog/power-iot-and-time-series-workloads-with-timescaledb-for-azure-database-for-postgresql/
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8660100-8879-6519-3db2-14039a3c5a17
* Version Independent ID: 64c84402

[2019-03-25 07:46] subashsivaji opened #27907 "Native and non native - storage & processing"
Azure Cosmos DB Graph has a non-native graph storage and native graph processing.

Could you please validate above statement? and please add this to docs, as it helps while desiging solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8584b48f-a94a-04b9-b754-7e77974053c2
* Version Independent ID: cab88f8b-b622-556

[2019-03-25 07:49] CHEEKATLAPRADEEP-MSFT commented on #27581
@anssenfang1 This is a known limitation today. Caching today is done at the local disk. While that can be protected using POSIX ACLs, the caching service endpoint itself does not authorize requests. We are exploring options but there are no committed plans to enable caching on ESP clusters.

[2019-03-25 07:49] #27581 closed

[2019-03-25 07:51] georgievaja opened #27908 "AuthenticationCertificates not supported for SKU tier WAF_v2"
Hi,
I am currently using Application gateway V2, WAF V2 (Preview) tier.
I am trying to add backend authentication certificate in my HTTPS setting, it fails with this code: "ApplicationGatewayFeatureCannotBeEnabledForSelectedSku", message: "Application Gateway /subscriptions/a23c674e-e207-430b-b576-07e7889e485d/resourceGroups/pdh-api-test/providers/Microsoft.Network/applicationGateways/dds-api-test

[2019-03-25 07:51] KrishnaG-MSFT commented on #27765
@MGoedtel Any insights on this please ?

[2019-03-25 07:51] msrini-MSFT commented on #27899
@rhow2010 , Can you please elaborate your issue with more details?

[2019-03-25 07:52] KetanChawda-MSFT commented on #27894
Can you please share your LA code view json file.  I tried with the one I provide in my previous post and It work for the below scenario.

[code]

[2019-03-25 07:52] msrini-MSFT commented on #27794
@joabalea , Do you have any update ?

[2019-03-25 07:58] YASWANTHM-MSFT commented on #27901
@kogesaka, Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-25 07:59] CHEEKATLAPRADEEP-MSFT commented on #27879
@Saidevm This tutorial works with **Visual studio 2015 & 2013**.
The same has mentioned in the prerequisites section – step3.
![image](https://user-images.githubusercontent.com/44426401/54903438-e9f1a480-4f01-11e9-8384-f0ac8234ee12.png)

Hope this helps.

[2019-03-25 07:59] #27879 closed

[2019-03-25 08:01] BartVanBerkel commented on #17639
This doesn't seem to be on the roadmap.
https://feedback.azure.com/forums/217313-networking/suggestions/36232873-vnet-integration-front-door

[2019-03-25 08:10] asonmine opened #27909 "No Enterprise State Roaming"
What should I do if there is no  Enterprise State Roaming in my Azure Active Directory &gt; Devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73959c0-20da-3945-964a-54513d561264
* Version Independent ID: 65862bfb-122b-d9b3-6e61-894aa8dd6cfc
* Content: [Enable Enterprise State Roaming in Azure Active Directory](ht

[2019-03-25 08:12] Jask2002 opened #27910 "Where is the link to register for preview ?"
I dont see the link to register in this article ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desktop Preview?  - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/overv

[2019-03-25 08:14] sujayvsarma opened #27911 "Documentation Out of Date - App Service Plans"
1) There is no "Feedback" link on these pages!

2) The documentation reflects the state of objects for a really old version of the API (2016-09-01) where as the currently supported API version is "2018-11-01".

**Updates required for following documents:**

https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/createorupdate

https://docs.microsoft.com/en-us/rest/api/appservice/apps

[2019-03-25 08:20] msrini-MSFT commented on #27908
@georgievaja , In Application Gateway V2 SKU, you cannot use authentication certificate. Instead you can go ahead and use Trused root certificate.

[Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell) is the reference documentation.

I will go ahead and close this issue. Please reopen if you still face any issue.

[2019-03-25 08:20] #27908 closed

[2019-03-25 08:20] wlodekb commented on #21335
Hi @cfoisy-osisoft
Below solution how to deploy IP which is in other RG than AKS resources:
https://www.techdiction.com/2018/07/06/deploy-a-kubernetes-service-on-azure-with-ip-address-that-is-in-a-different-resource-group-to-the-cluster/

[2019-03-25 08:21] rizwaans commented on #27894
@KetanChawda-MSFT  Can you please try concating the values in **URI** rather than **Body**.

below is my sample code.

"HTTP_Webhook": {
                "inputs": {
                    "subscribe": {
                        "body": {
                            "applicationNumber": "@body('Parse_Channel_message')?['ApplicationNumber']",
                            "callbackType": "DB01",

[2019-03-25 08:24] KrishnaG-MSFT commented on #27900
@theBlueclouds AFAIK, Ideally you should be given 'Contributor' level of access to have access to 'Advanced Settings' tile of your Log Analytics workspace. So looks like it's rights issue.

If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-03-25 08:26] SumanthMarigowda-MSFT commented on #27836
@ackava Thanks for bringing this to our attention. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-25 08:27] KetanChawda-MSFT commented on #27890
@wahyuen Thank you for posting your question. We will review this and provide an update on this.

[2019-03-25 08:27] rhow2010 commented on #27899
The Apple and Windows 10 users are using my family's identity to deplete bank accounts of all funds

[2019-03-25 08:27] AshokPeddakotla-MSFT commented on #27691
@wrende I am unable to see the difference what you have mentioned. Can you share the screenshot with more details? When you say, "another IoT Central environment." Are there any difference on the devices?

[2019-03-25 08:28] KrishnaG-MSFT commented on #27839
@SychevIgor Thanks for your feedback!!
Assigning @tfitzmac for visibility, deeper insights and document enhancement considerations.

[2019-03-25 08:30] shashishailaj commented on #26889
@andretms Could you please take a look into this? As per Quincy , we have to open a new webview for signing someone out in android UX which is not the best way to do it on a android native app and If we use REST calls to sign someone out , it would be a better approach .

[2019-03-25 08:31] KetanChawda-MSFT commented on #27898
@vphadnav Thank you for your feedback. We will review and provide an update on this.

[2019-03-25 08:38] brgsstm commented on #15386
Documentation still not updated to reflect the "No recent data issue"?  Any chance this is related to the VMs already reporting into on premise SCOM?

[2019-03-25 08:44] KetanChawda-MSFT commented on #27894
It seems you are not putting `uri` correctly .  it should be `"uri": "@{concat(variables('CallBackFunctionUri'),body('Parse_Channel_message')?['ApplicationNumber'])}"` instead of `"uri": [concat('https://test.com/', body('Parse_Channel_message')?['ApplicationNumber'])]`

[2019-03-25 08:47] HemantChandurkar commented on #26446
I am not finding any response from social forums. Could you help?

[2019-03-25 08:47] HemantChandurkar commented on #26446
Please # reopen

[2019-03-25 08:48] georgievaja commented on #27908
Thank you for reply, I just dont see how am I supposed to get over this error then:

Steps:
- Create custom HTTP setting with HTTPS protocol
- Use your custom probe
- You will see the error: Either all BackendHttpSettings must reference authentication certificate, or none of them should.

![authenticationcertificate](https://user-images.githubusercontent.com/17839100/54906076-c9feb880-4ee2-11e9-97

[2019-03-25 08:56] wrende commented on #27691
@AshokPeddakotla-MSFT I will paste the 2 results:

Example Documentation:
![image](https://user-images.githubusercontent.com/35459372/54906522-b56ef000-4ee3-11e9-9ec6-ff024cef9657.png)

In our IoT Central (so different environment, different devices) a rule trigger of a device with measurements, cloud & device properties. We get this result:
[code]

As you can see in the documentation example a ru

[2019-03-25 09:02] genlin commented on #27345
@naimco，A pull request has been submitted for updating the article. I will process to close this issue. Feel free to reopen it if you have any additional comment or feedback.

#please-close

[2019-03-25 09:02] rizwaans commented on #27894
@KetanChawda-MSFT  I will try this tomorrow first hour and update you. ( I work in NZST). Thanks for the quick response though.

[2019-03-25 09:03] vainolo commented on #24440
Fixing in next deployment. Please close

[2019-03-25 09:03] AshokPeddakotla-MSFT commented on #27691
@wrende Thanks for the details. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-25 09:07] vainolo commented on #27472
@sqlazure - Now I understand. Thanks for the clarification.
The link you propose is actually the second link already in the document which had a wrong name. Fixed that and also added a disclaimer as you proposed. Updates should be up soon.
Thanks!

[2019-03-25 09:09] shashishailaj commented on #26889
@CelesteDG Could you please help finding the right person who can help with this thread ?

[2019-03-25 09:09] Benjiiim commented on #27779
@v-miclar actually, this is not a duplicate, even if the two issues are similar.

[2019-03-25 09:12] kartben opened #27912 "dps_cert_gen is also available for Mac"
The note "The X.509 certificate generator only supports Windows now." is inaccurate as there actually is a dps_cert_gen_mac tool now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d1d61a-9a93-7979-d562-21c6b712c22e
* Version Independent ID: e485312b-15fd-b681-fd6c-855651ffd751
* Content: [How to use Azure IoT Hub De

[2019-03-25 09:21] KaiWalter commented on #24190
@seanperera you want to set a policy for the product?

But then shouldn't you refer to the product?
[code]

[2019-03-25 09:21] #24440 closed

[2019-03-25 09:24] BhargaviAnnadevara-MSFT commented on #27911
@sujayvsarma Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-25 09:28] jrmhaig opened #27913 "Ruby version?"
The only version of Ruby officially supported by Azure, according to https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro, is 2.3 and the instructions in the Ruby Quickstart guide also indicate that 2.3 should be used, although `az webapp list-runtimes --linux` does list ` RUBY|2.4.5`. As the security maintenance period for Ruby 2.3 will end on 31 March are there a

[2019-03-25 09:30] #26181 closed

[2019-03-25 09:32] BhargaviAnnadevara-MSFT commented on #27910
@Jask2002 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-25 09:36] angoyal-msft commented on #27684
@falloutxAY Thanks for your feedback. I have assigned this issue to content author for further details.
@rimman Could you please help customer with his concern.

[2019-03-25 09:38] alex-zyl opened #27914 "cache-preference attribute is not available"
I'm getting the following error when trying to specify cache source:
```The 'cache-preference' attribute is not declared.```

Policy definion:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181c69b0-e136-426b-02f5-4a1a8f0f419d
* Version Independent ID: 2e57c2f1-fc01-17c9-cd94-920b582e6aa2
* Content: [Azure API M

[2019-03-25 09:43] pstidsen opened #27915 "Detect if an app is v1.0 or v2.0"
Hi there

How do I know if a registered Azure Active Directory app is made in v1.0 or v2.0? Perhaps it should be included in the documentation.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: d0e44e68-9746-eaa2-2042-9ceb87dc21f3
* Version Independent ID: 2753443b-7ec4-44f8-2a6c-30faa4f9d450
* Content: [Com

[2019-03-25 09:47] jakaruna-MSFT commented on #27905
Thanks for the question! We are investigating and will update you shortly.

[2019-03-25 09:50] tiholm commented on #27905
Thanks. My another question https://github.com/MicrosoftDocs/azure-docs/issues/27904 also relates to this.

[2019-03-25 09:59] AshokPeddakotla-MSFT commented on #27912
@kartben Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-25 10:03] SadiqhAhmed-MSFT commented on #27897
@lixuanzhu Thanks for the comment! We will investigate this issue and get back to you soon.

@tfitzmac Would you be able to help here?

[2019-03-25 10:05] Diwiton commented on #27881
I got this one as well. I needed to create another admin user with another username than admin@ to get around this.

This is because the template takes the supplied username and strips of the domain name and tries to create a local user on each VM. The local username of "admin" is prohibited on Azure VM's.

[2019-03-25 10:26] georgievaja opened #27916 "Unable to create HTTP setting with HTTPS protocol and custom probe"
Hi,

as I already described in this issue: #27908 - I am unable to create custom HTTP setting with HTTPS protocol and custom probe.

**Steps to reproduce:**
- Create custom HTTP setting with HTTPS protocol
- Use your custom probe
- You will see the error: Either all BackendHttpSettings must reference authentication certificate, or none of them should.

![authenticationcertificate](https://user-ima

[2019-03-25 10:28] MikeForster100 opened #27917 "WIndows 10"
This doesn't appear to work with windows 10 machines running in Azure?  Can you confirm and if this is on the roadmap given Azure VDI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d5df7a3-8abc-026a-7bee-2861ba4a2e38
* Version Independent ID: 9c91b1ee-7874-a992-4e52-c621e914da08
* Content: [Adaptive application contro

[2019-03-25 10:44] jespernohr commented on #27761
^^ i like to know this to

[2019-03-25 10:53] BhargaviAnnadevara-MSFT commented on #27916
@georgievaja Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-25 10:57] DashleenBhandari-MSFT commented on #27876
@dreic I will check this and confirm.

[2019-03-25 11:00] PramodValavala-MSFT commented on #27659
@dhmorrison Sorry about that. The values just have to be direct strings since spaces are not valid characters for most resource names.

I believe the intent for not having examples for `<app_name>` and `<storage_name>` is due to the global uniqueness they require which is mentioned before each of these commands. Both of these resources are hosted as subdomains, which need to be unique across all a

[2019-03-25 11:06] AjayKumar-MSFT commented on #27892
@Leon99, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 11:10] AjayKumar-MSFT commented on #27913
@jrmhaig, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-03-25 11:11] SnehaAgrawal-MSFT commented on #27893
@Leon99 Thanks for the question! We are investigating and will update you shortly.

[2019-03-25 11:21] Jothi3125 commented on #27794
Following are the Ciphers that are reported weak-
TLS_RSA_WITH_AES_256_GCM_SHA384 (0x9d)   
TLS_RSA_WITH_AES_128_GCM_SHA256 (0x9c)   
TLS_RSA_WITH_AES_256_CBC_SHA256 (0x3d)   
TLS_RSA_WITH_AES_128_CBC_SHA256 (0x3c)   
TLS_RSA_WITH_AES_256_CBC_SHA (0x35)  
TLS_RSA_WITH_AES_128_CBC_SHA (0x2f)   

[2019-03-25 11:25] PramodValavala-MSFT commented on #21155
@ggailey777 The doc seems to have been updated for the new limits. Can this issue be closed?

[2019-03-25 11:35] SadiqhAhmed-MSFT commented on #27569
@ShubhaVijayasarathy Any update?

[2019-03-25 11:39] Anmolgan81 commented on #27589
@CHEEKATLAPRADEEP How can we use azure databricks for scaling up an HDinsight cluster? and documentation?

[2019-03-25 11:43] dominicbetts commented on #27718
Hi @romankiss - please see my response on Stackoverflow [here](https://stackoverflow.com/questions/55260057/azure-iot-central-display-command-execution-results).

I'll create a workitem to update the documentation to include this information.

Thanks for getting in touch,
Dominic

[2019-03-25 11:44] robertdj commented on #27796
@dlepow : Certainly! This is related to a question I had previously: <https://github.com/MicrosoftDocs/azure-docs/issues/27183>

I use a multi-step task in a YAML file. I suppose I'm looking for a *parametrized* series of dependent builds.

In the tutorial setup the `Dockerfile-base` has `ENV NODE_VERSION 9.11.2`. I want to set `NODE_VERSION` as a build argument that is read from a `values.yaml`.

[2019-03-25 11:44] msrini-MSFT commented on #27916
@georgievaja , As of now, you need to use PowerShell to create Trusted Root certificate.

Here is the documentation: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell#create-an-application-gateway-configuration-object

If you find any difficulty in implementation part, please let me know.

[2019-03-25 11:46] SadiqhAhmed-MSFT commented on #27671
@marroema The latest update is, we will soon be removing the XML file and doc will be the only reference. That being a reason, we haven't updated the file.

[2019-03-25 11:49] msrini-MSFT commented on #27794
@Jothi3125 , Can you go ahead and create a custom SSL policy with the Ciphers which are reported strong?

Here is the PowerShell guide : https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-configure-ssl-policy-powershell#configure-a-custom-ssl-policy

[2019-03-25 12:00] SadiqhAhmed-MSFT commented on #27639
@imeya There are 2 APIs (ProtectionPolicyOperationStatuses and ProtectionPolicyOperationResults); The input to status will be obtained from Azure-AsyncOperation: field from the HTTP response and the input to Results field will be from Location: field in the HTTP response. Looking at the URL, you might be trying protectionpolicy create/delete/update. Please look at the responses provided at the exa

[2019-03-25 12:03] graemeenglish commented on #27890
I've been using this from Azure Devops for a while for app services CI, however in the last week the app service doesn't seem to be automatically restarted after deployment and so looks like changes have not been deployed. A manual app service restart sorts it out.

[2019-03-25 12:06] StingyJack opened #27921 "Powershell is supported, but only until you get to step 2"
are the bash commands going to work in PS? What particular min version of PS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create your first Python function in Azure](https://docs.microsoft.com/en-us/azure/

[2019-03-25 12:10] DixitArora-MSFT commented on #27676
@codefoster For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 12:10] #27676 closed

[2019-03-25 12:17] SadiqhAhmed-MSFT commented on #27577
@saathvikj We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 12:17] #27577 closed

[2019-03-25 12:17] SadiqhAhmed-MSFT commented on #27575
@mnshahare We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 12:17] #27575 closed

[2019-03-25 12:23] Easton22 commented on #27791
Has anyone figured out how to make this work yet? Still not able to run the command due to user not authorized. Thanks

[2019-03-25 12:23] DashleenBhandari-MSFT commented on #27591
@mcintyre321 , We recommend to use Azure SQL/Azure DB for MySQL to customers.
There are a lot of articles explaining the problems you might face (for example https://vsupalov.com/database-in-docker ) and why you should not run PROD DBs in a container (specially if you use a Container Orchestrator that might move your containers around)

[2019-03-25 12:32] MohitDhingra-MSFT commented on #27737
Closing this issue as its answered in a duplicate thread #27733 .

[2019-03-25 12:32] #27737 closed

[2019-03-25 12:33] MohitDhingra-MSFT commented on #27733
@rupeshprasad   We are still checking on the custom attribute part of your query and do not have a definitive answer as yet . As this requires more troubleshooting and testing , we would answer the same on stackoverflow where we have a similar question posted by you . We checked the accountenabled query as mentioned and below is the answer for the same .

If user's account has "accountEnabled" fal

[2019-03-25 12:33] #27733 closed

[2019-03-25 12:39] jakaruna-MSFT commented on #27904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 12:39] chenlonghu commented on #6764
Hello @MicahMcKittrick-MSFT @miaojiang , no offense but I totally agree with @mm-gmbd here, this ticket shouldn't be closed since the changes are not implemented yet, or at least in the published version of the doc you should mention this issue and suggest to use the old Publisher portal instead.

[2019-03-25 12:40] raidlman commented on #26014
@wandhydrant Thanks for the hint. CentOS 7.5 is working now with the fixed releasever.

[2019-03-25 12:53] KalyanChanumolu-MSFT commented on #27907
Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-03-25 12:53] echanfin commented on #27795
No go unfortunately. Not sure where it's installing the module in Azure

PS Azure:\> import-module c:\RDPowershell\Microsoft.RDinfra.RDpowershell.dll
import-module : Cannot find drive. A drive with the name 'c' does not exist.
At line:1 char:1
+ import-module c:\RDPowershell\Microsoft.RDinfra.RDpowershell.dll
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo

[2019-03-25 12:57] durind opened #27923 "Data disk backup"
Is there a way to exclude Data disks from backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdbfa0f-4305-1b2f-2dd9-a8c23e789a78
* Version Independent ID: 7ceb2658-7fa8-3fbb-a9a6-81ddd40f4dd3
* Content: [About Azure VM backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#performance-

[2019-03-25 12:58] KalyanChanumolu-MSFT commented on #27906
Thank you for your interest in Azure products and services.
We are investigating and will update you shortly. 

[2019-03-25 13:01] shashishailaj commented on #27680
@akulnev We checked this internally with the program managers. The team was already working on this as it was a long requested item on the backlog of PG as per this [uservoice feedback item](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19839667-update-upn-suffix-change-from-one-federated-upn-su).  This is a service side backend change which was introduced just a few

[2019-03-25 13:01] #27680 closed

[2019-03-25 13:08] jfalameda opened #27924 "Very unclear how to use ContainerHostPolicies"
Regarding &lt;ContainerHostPolicies CodePackageRef="NodeService.Code" Isolation="process" ContainersRetentionCount="2"  RunInteractive="true"&gt;

It is very unclear where to use it and how on the ApplicationMaifest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37cc191d-0958-ac32-2c9a-b5b8f5800451
* Version Independe

[2019-03-25 13:13] tfitzmac commented on #27897
@lixuanzhu - I tested your snippet and it worked correctly for me. Your variables dnsName and lbIPName must be arrays with 3 elements. I suspect the error is coming from some other part of your template, or perhaps there is an issue with the variable definitions.

[2019-03-25 13:16] HenrikStaunPoulsen opened #27925 "Please show how to drop a database"
Please show how to drop a database, instead of just saying that you cannot drop it this way.

You could run either
    drop database if exists [database_name]
or
    IF EXISTS (SELECT [name]
         FROM   [sys].[databases]
         WHERE  [name] = N'database_name')
              exec sp_executesql 'drop database [database_name]'

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-25 13:34] azooinmyluggage commented on #25683
Hi @CeciAc  @zer0big

Is this issue blocking you? I am reachable at atul.malaviya @ microsoft.
I am tracking this and we will fix the doc.

regards,
Atul

[2019-03-25 13:34] AdamSharif-MSFT opened #27926 "Misdirected issue, please ignore"
** Misdirected issue, please ignore **

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb6c1de7-a04c-f08e-adab-4733030668a1
* Version Independent ID: d5e17386-38ff-d3de-ef43-f734bc2d4748
* Content: [Azure Analysis Services database backup and restore](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-ser

[2019-03-25 13:35] bdschaap opened #27927 "Metrics Latency in Metrics Explorer"
Is there any information you can share on the latency of metrics appearing in Metrics Explorer?  Is it near real-time or can it take up to several minutes before data is available?

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aef1d6d-d453-

[2019-03-25 13:38] KalyanChanumolu-MSFT commented on #27886
@smithGit  Thank you for following up and providing more inputs.
The primary intent of the code sample was to show how to easily query Azure SQL database using node.js. So the end of processing wasn't included. However we will take your feedback.

Coming to the issue, when using execSql, SQL server may treat multiple calls with the same query as a stored procedure and emit a doneProc or doneInProc

[2019-03-25 13:49] MohitDhingra-MSFT commented on #27464
Hi @aaronjedwards,

You can use v2.0 endpoint to get the access token, but you need to pass scope as a parameter instead of resource id. The scope parameter indicates which resource and permission the app is requesting authorization for. Below is the screenshot of getting a token from v2 endpoint using postman.

![image](https://user-images.githubusercontent.com/47346772/54923847-25579780-4f31-11e

[2019-03-25 13:49] #27464 closed

[2019-03-25 13:51] ChiragMishra-MSFT commented on #27926
@AdamSharif-MSFT I am assigning the issue to the author to comment on this.
@Minewiskan Can you please have a look at this one?

[2019-03-25 13:51] DixitArora-MSFT commented on #27824
@rahulvmarathe Even if one subscribes to a product, there will be isolation in terms of access and visibility.So I think groups is correct.

[2019-03-25 13:55] smithGit commented on #27886
Thanks!  That’s very cool, and I would encourage adding these conditions (and your explanation below in // comments) to the example (and delete my comments; no need to take the time of future readers to wade through them…).

You are right: querying Azure SQL is surprisingly easy!  <Note: How to hide the credentials… I’m not sure the best way in JS world.>

Best regards,

Sam

From: Kalyan Chanumol

[2019-03-25 14:03] wtam commented on #20111
I just find out lately I've a container on AKS keep failing with below error:
"Failed to pull image "azcontainerregistrydemo.azurecr.io/qanetdemo-container": rpc error: code = Unknown desc = Error response from daemon: Get https://azcontainerregistrydemo.azurecr.io/v2/qanetdemo-container/manifests/latest: unauthorized: authentication required"

Then I try to perform docker login cmd and see this s

[2019-03-25 14:05] snehithm commented on #22105
This issue is now fixed. If you are still seeing this issue please do let us know on azurealertsfeedback@microsoft.com

Docs team, #please-close

[2019-03-25 14:12] james---- opened #27928 "Force reprocessing of a blob, function must be restarted"
Documentation states "To force reprocessing of a blob, delete the blob receipt for that blob from the azure-webjobs-hosts container manually" Using a v2 function with latest package the function has to be restarted in addition to deleting the  receipt  to force reprocessing of a blob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-03-25 14:14] MohitDhingra-MSFT commented on #27780
Hi @nelfer ,

In the new(Preview) Azure registration, I am able to add http and https redirect_url. Below is the screenshot.

![image](https://user-images.githubusercontent.com/47346772/54925933-50dc8100-4f35-11e9-891f-d9b224fa5fcd.png)

Could you please provide the exact url's that you are passing?

I hope the below documentation can help you.
https://msdn.microsoft.com/en-us/magazine/mt846465.as

[2019-03-25 14:24] rofldoodle commented on #27791
@Easton22 Make sure the Azure admin specified in the PS script doesn't have MFA enabled on it.  You should then be able to move onto the next error message which is where I'm stuck on.

[2019-03-25 14:28] Easton22 commented on #27791
@rofldoodle i checked on 2fa and the account being used does not have it. Any other ideas?

[2019-03-25 14:37] erosinger commented on #26291
@ManojReddy-MSFT Thanks for your fast reply and explanation and sorry for the slow response on my end. I think this solved my question for now and it is understandable that this is not possible. Best regards

[2019-03-25 14:42] MarileeTurscak-MSFT commented on #27909
@asonmine
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 14:49] nelfer commented on #27780
Yes, for localhost it allows just HTTP. But now I have published the application on an Azure Web App (Linux) I need to put the actual site, say https://myapp.azurewebsites.net.
I put this, but then I get the error (below) that the URL doesn't match:
![image](https://user-images.githubusercontent.com/22993432/54928795-dd158680-4eea-11e9-8713-4f0bcc296db3.png)
Now, with the old registration mechanis

[2019-03-25 14:53] asubmani opened #27929 "API or CLI commands to view access"
This is great. I would like to do the same for every identity (or types of identities) and surface them in a report/dashboard in Log Analytics or Sentinel. One way is to write a script that does a for each; however it will be easier if there is a powerShell/Az cli/API to check access for Azure resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-25 14:58] cweining commented on #27853
@StingyJack  - Are the names of the webjobs ApplicationInsightsProfiler2 and ApplicationInsightsProfiler3? If so, you can delete ApplicationInsightsProfiler2. When we upgraded the profiler to the preinstalled site extension, we created a new webjob. It was supposed to delete the old webjob, but we have seen that sometimes the old one doesn't get deleted. ApplicationInsightsProfiler3 is the active

[2019-03-25 15:00] tfitzmac commented on #27839
@SychevIgor - thanks for the suggestion. I have submitted a fix.

[2019-03-25 15:00] BhargaviAnnadevara-MSFT commented on #27902
@Ian-ACC Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-25 15:01] JasonWHowell commented on #27589
@Anmolgan81 there isn't a management connection between Azure HDInsight and Azure Databricks scaling. That's not a mainstream scenario.

[2019-03-25 15:02] #9214 closed

[2019-03-25 15:02] #15418 closed

[2019-03-25 15:04] diberry commented on #27786
@RohitMungi-MSFT Moving to steps in a list.

#### Remove example utterance to fix tagging

Your first choice is to remove the example utterance.

1. Delete the example utterance.
1. Retrain the app.
1. Add back just the word or phrase that is the entity, which is marked as a prebuilt entity, as a complete example utterance. The word or phrase will still have the prebuilt entity marked.
1. Select t

[2019-03-25 15:04] #27345 closed

[2019-03-25 15:04] #27738 closed

[2019-03-25 15:05] vhorne commented on #13834
Added Azure DNS IP to article.
#please-close

[2019-03-25 15:10] cartesiosson opened #27931 "Arduino Version."
I have run the tutorial with the latest version of Arduino IDE 1.8.9 installed and compilation step becomes very long due to plenty  deprecated warning messages. Probably made sense to review the Arduino code. Thanks for such a great demo!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57

[2019-03-25 15:17] sebastianmaas commented on #27791
@Easton22 what did you provide during the Windows Virtual Desktop deployment in the Azure Portal as "Tenant Group Name" and "Tenant Name". You have to use the values you used during the preparation with PowerShell. You can validate it by the following commands:
1) Add-RdsAccount -DeploymentUrl “https://rdbroker.wvd.microsoft.com
2) login with your global admin
3) Get-RdsTenant

[2019-03-25 15:24] guillaumeDMSFT opened #27932 "iostat svctm not accurate anymore"
Hi,
In the following chapter "Counters to measure application performance requirements", iostat svctm counter is no more accurate according to sysstat developer.

This counter is no more documented and it was documented as inaccurate for some time on the developer web page:
http://sebastien.godard.pagesperso-orange.fr/man_iostat.html

svctm

The average service time (in milliseconds) for I/O reque

[2019-03-25 15:24] romankiss commented on #27718
Hi Dominic,

Thanks for your example on the [Stackoverflow](https://stackoverflow.com/questions/55260057/azure-iot-central-display-command-execution-results/55336989?noredirect=1#comment97404087_55336989).

Based on this example, it looks like the IoT Central App doesn't handle a response and status from the device direct method.

I think, this is a design bug, I have expected mapping the response

[2019-03-25 15:25] jakaruna-MSFT commented on #27834
@anushreeringne If you are using an web application in the VM, You can set that app to start automatically.
If auto start option is not possible for your application, You can use a custom script extension which runs a script on each VM in VMSS when it is provisioned.
In both the cases, You need to setup a health check in the Loadbalancer which checks if the application is up or not and then forwar

[2019-03-25 15:26] #27845 closed

[2019-03-25 15:27] sochan1 opened #27933 "ErGw3AZ = Ultra Performance SKU??"
is ErGw3AZ equivalent to Ultra Performance SKU??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57b9d6d-27c6-78fd-3b7e-79d373c9699a
* Version Independent ID: 2ea2b328-672e-d426-ad6c-1f52db297196
* Content: [About ExpressRoute virtual network gateways - Azure](https://docs.microsoft.com/en-us/azure/expressroute/express

[2019-03-25 15:32] rswainston commented on #27791
Having same issue here.  Host Pool Deployment succeeded successfully in azure portal. Trying to add a user via the power shell command Add-RdsAppGroupUser -tenantname tenant  -HostPoolName hostpool "Desktop Application Group" -UserPrincipalname user@user.com      and I get the error user is not authorised to query the management service

[2019-03-25 15:32] shashishailaj commented on #27915
@pstidsen Thank you for your query . We will investigate and update further.

[2019-03-25 15:37] msrini-MSFT commented on #27899
This GitHub channel is used to provide feedback on Documentation. Closing this issue.

[2019-03-25 15:37] #27899 closed

[2019-03-25 15:47] anushreeringne commented on #27673
Yes that was helpful. Thankyou :)

[2019-03-25 15:47] #27673 closed

[2019-03-25 15:48] #27839 closed

[2019-03-25 15:50] cynthn commented on #27878
@Potapy4 Thank you for the contribution! For Linux VMs, we document the syntax for a Bash shell, which leaves off the "$" when you declare a variable. The syntax is correct for Bash. I am in the process of going through the docs and adding a short description of what the document is written to and tested on (like "This document was created using Ubuntu 16.04  in a Bash prompt using Azure Cloud She

[2019-03-25 15:50] msrini-MSFT commented on #27933
@sochan1 , Thank you for posting here.

Yes, you are right, ErGw3AZ, ErGw2AZ, ErGw1AZ equivalent to Ultra Performance SKU. The only difference in this SKU is that you can pin instance to Zone or use Zonal redundant. Also you can make IP address Static. Those are not possible in Ultra Performance SKU.

[2019-03-25 15:50] cchambers-cap opened #27935 "Add information about Jamf integration"
I believe the sentence "Third-party MDM systems for device OS types other than Windows 10 are not supported." is not accurate anymore. Jamf integration allows Mac's to be marked as compliant if they are managed by Jamf and Jamf is configured to report into Intune.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7aca4a4

[2019-03-25 15:52] sique976 opened #27936 "No carrousel shows up!"
This is the "n" time I try this, I am not frustrated. It´s just every time I tried to, I ran to a different error. But that´s OK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure Event Grid to automat

[2019-03-25 15:52] DCtheGeek commented on #27312
@kalzi Since the engineering and PM team (above) has stepped in directly to help you troubleshoot this issue, I'm going to have this closed as it isn't an issue with docs.  This won't impact your working directly with the team to resolve the issue.  If docs end up needing to be updated as a result or their findings, they'll let me know directly. If you run into other issues or have docs specific f

[2019-03-25 15:52] mcintyre321 commented on #27591
In your samples there are application with mysql and redis containers. Are
these samples there to demonstrate what can be done, rather than what
should be done?

On Mon, 25 Mar 2019, 12:23 DashleenBhandari-MSFT, <notifications@github.com>
wrote:

[2019-03-25 15:57] #27312 closed

[2019-03-25 16:10] mike-urnun-msft commented on #27914
Hi @alex-zyl Thank you for your feedback! We will review and update as appropriate.

[2019-03-25 16:11] mike-urnun-msft commented on #27921
Hi @StingyJack Thank you for your feedback! We will review and update as appropriate.

[2019-03-25 16:11] cynthn commented on #15576
@jtuliani It looks like this thread has run it's course. I'm going to add @roygara in case he wants to add something to the managed disks docs about the temp disk not being lost during maintenance if the VM is live-migrated. Thank you for the feedback!

#please-close

[2019-03-25 16:12] Mike-Ubezzi-MSFT commented on #27925
@HenrikStaunPoulsen Thank you very much for this detailed feedback. I will forward this on to the content owner as a possible doc enhancement but, as you can see via this [Stack Overflow thread (“Execute sp_Executesql”)](https://stackoverflow.com/questions/3816520/permissions-when-using-execute-sp-executesql), this requires `datareader` access to the tables from which the scope of the query contai

[2019-03-25 16:13] shashishailaj commented on #27917
@MikeForster100 Thank you for your query . We will investigate and update further.

[2019-03-25 16:15] shashishailaj commented on #27929
@asubmani Thank you for your feedback . We will investigate and update this thread.

[2019-03-25 16:16] Mike-Ubezzi-MSFT commented on #27925
Reference: This pertains to the specific bullet item in the [Permissions](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins#considerations-and-restrictions) section:

         FROM   [sys].[databases]
         WHERE  [name] = N'database_name')
DROP DATABASE [database_name];
GO

[2019-03-25 16:16] shashishailaj commented on #27935
@cchambers-cap Thank you for your feedback . We will engage the content authors to investigate and further update as needed.

[2019-03-25 16:17] mike-urnun-msft commented on #27928
Hi @james----  If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-25 16:18] stephen-cairns opened #27941 "Ingress Namespace"
I was wondering if Microsoft could provide some best practice advice around ingress.  In a production scenario with multiple AKS nodes (3) and multiple solution deployed into the cluster (each in their own namespace with RBAC enabled) what is the best and possible ways to deploy ingress.  Would it be best to have ingress controllers in it's own namespace providing layer 7 load balancing across the

[2019-03-25 16:18] cynthn commented on #16523
@tapialuism Thank you for the feedback! I'm sorry it has taken so long for me to respond. I'm going to file a work item request to make sure that the VM creation part of this tutorial (or a step afterwards) clearly shows how to enable boot diagnostics and check that it is running. Thank you!

#please-close

[2019-03-25 16:18] shashishailaj commented on #27935
@MarkusVi Could you please take a look and review the recommendations suggested by @cchambers-cap ?

[2019-03-25 16:19] mike-urnun-msft commented on #27936
Hi @sique976 Thank you for your feedback! We will review and update as appropriate.

[2019-03-25 16:20] pgraham03 opened #27942 "Invalid Request URI was provided Error"
Getting the following error from the Add-RdsAccount command - Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

One or more errors occurred. (An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-25 16:20] Jnchi opened #27943 "Scope being ignored?"
## Device Code

**Request**

[code]

**Response**

[code]

## Auth Token

**Request**

[code]

**Response**

[code]

NOTE: Scope "User.Read" is returned despite specifying "Directory.Read.All"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69

[2019-03-25 16:24] cynthn commented on #16820
@cmeyertons Thanks for the feedback! Sorry it has taken so long to respond. I've created a work item to review the Terraform doc to see how it can be improved. Thanks again for the feedback!

#please-close

[2019-03-25 16:42] v-thepet commented on #13021
@thuansoldier - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:42] #13021 closed

[2019-03-25 16:43] v-thepet commented on #14205
@jtuliani - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:43] #14205 closed

[2019-03-25 16:44] #9948 closed

[2019-03-25 16:44] v-thepet commented on #11683
@kasunsjc - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:44] #11683 closed

[2019-03-25 16:45] #12076 closed

[2019-03-25 16:45] #12284 closed

[2019-03-25 16:46] #16523 closed

[2019-03-25 16:46] v-thepet commented on #13045
@machineloop @MichaelHauss - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:46] #13045 closed

[2019-03-25 16:47] #27878 closed

[2019-03-25 16:47] Mike-Ubezzi-MSFT commented on #27802
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-25 16:47] v-thepet commented on #9433
@pixelbath - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:47] #9433 closed

[2019-03-25 16:49] Mike-Ubezzi-MSFT commented on #7385
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-25 16:49] #7385 closed

[2019-03-25 16:49] cherylmc commented on #27887
Updated. Thanks for noticing this. #please-close

[2019-03-25 16:51] #16820 closed

[2019-03-25 16:51] v-thepet commented on #8907
@Prisoner37 - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:51] #8907 closed

[2019-03-25 16:53] ggailey777 commented on #12978
@femsulu can you also please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:54] v-thepet commented on #12802
@sdecker - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:54] #12802 closed

[2019-03-25 16:54] shashishailaj commented on #27727
@davidbxss  At this point we are not aware of any plans to extend PIM to built-in, and custom-defined Office 365 admin roles however we have a request on [Uservoice feedback forums](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/16693582-pim-in-office-365-admin-portal) for PIM management from Office 365 portal and this is under review by the product group . Please vote

[2019-03-25 16:54] #27727 closed

[2019-03-25 16:54] ggailey777 commented on #14283
@mike-urnun-msft can you also please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:55] MicahMcKittrick-MSFT commented on #27924
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 16:55] v-thepet commented on #13391
@trevor-schmidt - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:55] #13391 closed

[2019-03-25 16:55] MicahMcKittrick-MSFT commented on #27932
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 16:55] MicahMcKittrick-MSFT commented on #27941
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 16:56] v-thepet commented on #8890
@suzannepotter - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:56] #8890 closed

[2019-03-25 16:56] ggailey777 commented on #14504
@Karishma-Tiwari-MSFT or @mike-urnun-msft can you also please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:56] ggailey777 commented on #14560
@MicahMcKittrick-MSFT or @mike-urnun-msft can you please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:57] ggailey777 commented on #20842
@mike-urnun-msft can you please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:57] ggailey777 commented on #21659
@mike-urnun-msft can you please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:58] ggailey777 commented on #22568
@PramodValavala-MSFT or @mike-urnun-msft can you please change the service label to `azure-functions/svc`? Thanks!

[2019-03-25 16:58] jbpaux opened #27944 "Missing Adding SQL DBs in the availability group"
According to the release notes of App Service 1.5, in case it's deployed in HA, the DB must be added to the AG.
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-app-service-release-notes-update-five

That would be good to have it here otherwise it's not really an HA architecture and it will fail at some point...
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-25 16:58] MicahMcKittrick-MSFT commented on #27323
Will close as requested. Feel free to continue the conversation and if we need to reopen just let us know.

[2019-03-25 16:58] #27323 closed

[2019-03-25 16:59] v-thepet commented on #13658
@vashish76 @areed145 - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-03-25 16:59] #13658 closed

[2019-03-25 16:59] aljo-microsoft commented on #27924
@jfalameda
Please review our tutorials for walking through building an Containerized SF Application, which will produce a SF Package that contains ContainerHostPolicies that you can review:
https://docs.microsoft.com/azure/service-fabric/service-fabric-host-app-in-a-container

Alternatively review the scheme:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-f

[2019-03-25 17:00] #20744 closed

[2019-03-25 17:01] #27924 closed

[2019-03-25 17:01] RohitMungi-MSFT commented on #27786
@diberry Thanks for updating the steps. This looks good to me. @DeepaThiruna We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 17:02] hanzallah-ashaar opened #27945 "Old Functions being used in the Tutorial"
I have created a model using the CustomVision.ai website and wanted to predict an image.
Here the article suggests to use predict_image but the updated sdk use detect_image for the prediction.

I cannot figure out the published_name parameter in detect_image function and need your assistance in that.

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-25 17:03] #27786 closed

[2019-03-25 17:05] cliffkoh commented on #14504
@ggailey777 It is good enough. Not sure if the info was there when I first opened this issue but a possible action item for improvement would just be to link to the defaults from https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging

[2019-03-25 17:06] james---- commented on #27928
Thanks I saw after the fact that someone else brought up the same issue. The documentation is a bit misleading because it does not mention when the blob will be reprocessing. According to the feedback on the other issue it will happen at an unknown point in time. I suppose the documentation could state that restarting the app is the only way to know when the reprocessing will take place.

[2019-03-25 17:07] Easton22 commented on #27791
For this command New-RdsTenant -Name <TenantName> -AadTenantId <DirectoryID> -AzureSubscriptionId <SubscriptionID>. should i be using my current Azure tenantname or be creating a new one? I used my current tenant name. thanks

[2019-03-25 17:07] KalyanChanumolu-MSFT commented on #27886
@smithGit We will now proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-03-25 17:07] #27886 closed

[2019-03-25 17:09] rbrundritt commented on #14350
Great, thanks Sloan. Admins, can we close this issue now as it is fixed in the latest version of Azure Maps.

[2019-03-25 17:10] MicahMcKittrick-MSFT commented on #27629
@vinothinidharmaraj I will close for now. If you post in the dev ops community feel free to share the link here so I can follow it as well.

[2019-03-25 17:10] #27629 closed

[2019-03-25 17:11] MicahMcKittrick-MSFT commented on #27792
@pardha100 I will close for now. If you have additional questions just let us know.

[2019-03-25 17:11] #27792 closed

[2019-03-25 17:12] olavt opened #27946 "CUD is used twice, should be CRUD"
These should be changed from CUD to CRUD:

"The sync context maintains an operation queue, which keeps an ordered list of CUD operations (Create, Update, Delete) that is later sent to the server."

"Push is an operation on the sync context and sends all CUD changes since the last push."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-03-25 17:12] MicahMcKittrick-MSFT commented on #27877
@dchapdelaine thanks for this feedback. I am assigning this to the content author to review.

[2019-03-25 17:13] MicahMcKittrick-MSFT commented on #27932
@guillaumeDMSFT I am assigning this to the content author to review.

@aungoo-msft can you please take look?

CC @cynthn

[2019-03-25 17:16] MicahMcKittrick-MSFT commented on #27941
@stephen-cairns I think some best practices around ingress could also be useful.

@iainfoulds could you take a look at this? Maybe something we could add to our backlog.

[2019-03-25 17:17] HeidiSteen commented on #13217
@jkrollin @brjohnstmsft  Apologies that this GH issue was unaddressed for so long.

C# examples for creating and consuming suggesters are now published at the following URLs.  I'm recommending to the moderator that we close this issue. Please let me know if you see any problems with the code or the content.

https://docs.microsoft.com/en-us/azure/search/index-add-suggesters
https://docs.microsoft.

[2019-03-25 17:18] v-miclar commented on #27779
#please-close
It does have a section 7:  "7. WARRANTIES. You represent, warrant and undertake to Microsoft that: "  although termination policies are also mentioned in other sections.

[2019-03-25 17:20] SubhashVasarapu-MSFT commented on #27567
@n0ttsweet , The document has been enhanced and updated. We really appreciate your feedback.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-25 17:20] #27567 closed

[2019-03-25 17:20] Mike-Ubezzi-MSFT commented on #27906
@padmick Yes, this replication is supported per the following documentation: [Migration from the PostgreSQL instance](https://docs.timescale.com/v1.2/getting-started/migrating-data).

Can you please confirm the functionality you are looking for? The TimescaleDB is a hyper table within a PostgreSQL instance, and you can choose to migrate existing PostgreSQL data to TimcescaleDB within the same Post

[2019-03-25 17:22] gaziqbal commented on #26745
@Karishma-Tiwari-MSFT, it would be preferable until the doc is corrected. I just wasted some time following incorrect instructions only to find this as a closed issue.

[2019-03-25 17:22] davidmu1 commented on #9564
A workitem is open in the engineering queue to document this reference information and they are currently working on it.

#please-close

[2019-03-25 17:24] davidmu1 commented on #25426
The article has been updated today (3/25/19) with current information.

#please-close

[2019-03-25 17:27] MarileeTurscak-MSFT commented on #27943
@Jnchi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 17:29] msangapu commented on #27591
Hi @mcintyre321 Thank you for your feedback. Can you share the URL to the sample(s) you're referring to?

[2019-03-25 17:29] YutongTie-MSFT commented on #27945
@hanzallah-ashaar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 17:29] markafox commented on #27810
This is what my portal looks like.
![image](https://user-images.githubusercontent.com/5589216/54940835-e78f4a80-4f01-11e9-8a25-777561136f7b.png)

[2019-03-25 17:34] craigshoemaker commented on #19122
Thanks, again @7100SW for creating this issue.

We are still working toward a final fix, but for now I need to close this issue. Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days.

I will still update this thread once the final change is published to the remaining code samples.

Thanks again!

#please-close

[2019-03-25 17:37] YutongTie-MSFT commented on #25148
@SeaDude Thank you for reaching out! The support engineer will assist you to solve the problem.

[2019-03-25 17:39] ansh07 opened #27948 "Mean web app on Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59571387-86d7-72d7-2c96-6a8e75ee8b1e
* Version Independent ID: d24f0ef2-188f-5603-915e-0a69c2d9b17a
* Content: [Connect a Node.js Mongoose application to Azure Cosmos DB](https://docs.microsoft.com/en-in/azure/cosmos-db/mongodb-mongoose)
* Content Sou

[2019-03-25 17:39] vhorne commented on #17626
@peddabavisriram
Yes, the 20 records per record set applies here too.
#please-close

[2019-03-25 17:41] Mike-Ubezzi-MSFT commented on #27479
A pull request has been submitted and is awaiting approval. I have assigned the issue to the content author to evaluate and merge.

[2019-03-25 17:46] davidmu1 commented on #26332
A workitem has been opened in our documentation queue to track an update to the developer tutorials.

#please-close

[2019-03-25 17:52] MarileeTurscak-MSFT commented on #27942
@pgraham03
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 17:54] davidmu1 commented on #25799
I don't think there is an issue with the article.

#please-close

[2019-03-25 17:55] himanshusinha-msft commented on #27728
@mpsingh24 We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-03-25 17:56] conceptdev commented on #27946
Hi @olavt - as is explicitly spelled out "(Create, Update, Delete)", only these operations are managed in the sync context. "R" (for Read) operations are not, which is why the "CRUD" terminology was not used.
Thanks for contacting us with your thoughts.

[2019-03-25 17:56] conceptdev commented on #27946
#please-close

[2019-03-25 17:57] Grace-MacJones-MSFT commented on #27946
We will now proceed to close this thread.

[2019-03-25 17:57] #27946 closed

[2019-03-25 17:59] emirhosseini commented on #18786
I still don't see any docs saying how to use --cluster-configurations

[2019-03-25 18:06] davidmu1 commented on #25380
This article is very specific to enabling password reset on a V1 Sign in user flow, which uses Local Account SignIn as the identity provider. The article is not meant to discuss different aspects of password maintenance between Azure AD and Azure AD B2C. All password actions for B2C should happen through policies (user flows or custom). I don't think there is a change required to this article.

#p

[2019-03-25 18:06] #13834 closed

[2019-03-25 18:06] #22105 closed

[2019-03-25 18:13] craigshoemaker commented on #21165
Thanks, again @pmozbert for creating this issue.

This work item is still on our backlog, but for now I need to close this issue. Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days.

I will still update this thread when we publish an update.

Thanks again!

#please-close

[2019-03-25 18:14] davidmu1 commented on #25338
A workitem has been opened in the documentation queue to track the addition of this content. Because there is no change required to the referenced article, please close.

#please-close

[2019-03-25 18:23] SaurabhSharma-MSFT commented on #27704
@jontowles We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-25 18:23] #27704 closed

[2019-03-25 18:28] dyateseci opened #27951 "Monitoring Automation"
Can this be done via REST API? I noticed monitoring in this doc is only includes through the GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04403549-f1f6-6335-ff08-a84bb6c79e75
* Version Independent ID: 91e5132d-ab4c-c4c9-0999-270eac76f587
* Content: [Monitor Azure Site Recovery](https://docs.microsoft.com/en-us/a

[2019-03-25 18:34] #19674 closed

[2019-03-25 18:37] nelfer commented on #27780
One additional note: If I manually modify the URL of the first error and put "https" instead of "http" in the redirect_uri parameter, everything works as expected. So this is an issue of the web app services that needs to send the proper URL (to known that it is running in HTTPS and not just HTTP)

[2019-03-25 18:43] #27948 closed

[2019-03-25 18:43] Mike-Ubezzi-MSFT commented on #27948
@ansh07 Thank you so much for the kudos. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-25 18:43] spottedmahn commented on #9564
nice 👍

[2019-03-25 18:43] #9564 closed

[2019-03-25 18:53] Anmolgan81 commented on #27589
Ok thanx for you message

Regards
Anmol Ganju

________________________________
From: Jason H <notifications@github.com>
Sent: Monday, March 25, 2019 8:31:58 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How can I scale up a HDinsight cluster on the basis of high CPU metrics? (#27589)

@Anmolgan81<https://github.com/Anmolgan81> there isn't a manag

[2019-03-25 18:57] ThomasWeiss commented on #26117
@SogoGolf Date range queries are not different from any range query. Make sure that:
- your dates are stored as ISO8601 string
- you [index your date fields using the Range index types](https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates#indexing-datetimes-for-range-queries)

You can then issue queries like `SELECT * FROM c WHERE c.timestamp BETWEEN '2019-03-22' AND '2019-03-23'` f

[2019-03-25 18:57] AjayKumar-MSFT commented on #27892
@Leon99, As mentioned in the document '[How to use managed identities for App Service and Azure Functions](https://docs.microsoft.com/azure/app-service/overview-managed-identity)' – "Managed identity support for App Service on Linux and Web App for Containers is currently in preview", kindly do let us know if that does not work with more details on the issue you're experiencing.
![image](https://u

[2019-03-25 18:59] julielerman commented on #25026
yes, PLEASE add something about access policies in this document. I got stuck on that as well. I'm in Command Shell and can't store a secret. So now I have to go elsewhere to figure out how to set the access policy so I can follow this guide which is silly.

[2019-03-25 19:02] Alberto-Vega-MSFT commented on #27422
@jelmerS2 Thanks for your feedback. And sorry for the delayed response. I got confirmation that ASA works with HoloToolKit. Since this forum is mostly for doc bugs and doc feedback. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, we can help enable a one time free support ticket. Please reach out @ AZCommunity@microsoft.com with a link to

[2019-03-25 19:06] Alberto-Vega-MSFT commented on #27931
@cartesiosson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-25 19:10] craigshoemaker commented on #19847
Thanks, again @stridsbr for creating this issue.

This is still in our internal backlog, but for now I need to close this issue. Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days.

I will still update this thread once the final change is published to the remaining code samples.

Thanks again!

#please-close

[2019-03-25 19:11] Joll59 opened #27952 "The Decoder"
In a note above there is a mention of a `decoder`; what is the decoder ? and where can I get access to it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ab661b-de71-2baf-2ae6-2b4e875107df
* Version Independent ID: 966ec357-e9ff-2e2c-1027-ceda734d3a73
* Content: [Customize pronunciation - Speech Services](https://do

[2019-03-25 19:11] RowdyChildren opened #27953 "Clarification"
`Directories with a large number of users can take 30 minutes or longer to populate.`, this is a glorious sentence.....how long does it actually take?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a360d153-0892-fd9f-83e5-a4128fbfb557
* Version Independent ID: d996e375-9dbc-db5a-c639-7da7616bc3bb
* Content: [Fix dynami

[2019-03-25 19:12] #19847 closed

[2019-03-25 19:13] craigshoemaker commented on #20971
Thanks, again @mcollier for creating this issue.

Tracking for this update is in our internal backlog, but for now I need to close this issue. Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days.

I will still update this thread once the doc is updated.

Thanks again!

#please-close

[2019-03-25 19:14] PanosPeriorellis commented on #27952
A decoder is the component that provides the transcription.

From: Yomi <notifications@github.com>
Sent: 25 March 2019 20:12
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Panos Periorellis <Panos.Periorellis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] The Decoder (#27952)

In a note above there is a mention of a decoder; what is the d

[2019-03-25 19:14] bonksnp opened #27954 ""Older Microsoft Office apps""
Can you give a little more detail as to what is considered an "Older Microsoft Office app"?  We need to allow users who do not have the most up to date Office applications the chance to update before blocking access.  In order to do that we must know what the minimum threshold is for MS Office apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-03-25 19:20] StingyJack commented on #27853
Yes, those were the names. I tried to start both and the second one complained, so I deleted it.  Thanks for the confirmation.

[2019-03-25 19:20] #27853 closed

[2019-03-25 19:24] YutongTie-MSFT commented on #27822
@anrothMSFT Hi Anna, could you please check this doc-enhancement suggestion? Thank you.

[2019-03-25 19:29] #27887 closed

[2019-03-25 19:31] matdarMsft commented on #27715
Yes, this is implemented here...
https://tsiclientsample.azurewebsites.net/noauth/contextmenu.html

You must right click the brushed area to get the context menu.  By using autoTriggerBrushContextMenu: true in chartOptions, you will get the same behavior as the TSI preview portal
https://github.com/Microsoft/tsiclient/blob/master/docs/UX.md#additional-chart-options

[2019-03-25 19:34] Phydeauxman opened #27955 "Not having correct cert on App Service Environment will also generate this issue"
Since Function Apps can be deployed into ASEs, this article should be expanded to provide detail on how not having a cert for "*.privatedomain", and "*.scm.privatedomain" on the ASE can also cause the "functions runtime is unreachable" issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c

[2019-03-25 19:35] bobbygreer commented on #27800
I have the same issue.  Log into the web client, launch a desktop session, prompted for credentials again.  After entering the creds I get into the desktop.

[2019-03-25 19:40] TravisCragg-MSFT commented on #27794
@Jothi3125 This was also covered in #8412. It is ~10 months old, but if the ciphers haven't changed the solution there should work for you.

[2019-03-25 19:42] mdegrushe opened #27956 "Logout does not appear to be working for Web Client"
I am prompted to enter username after logging out and then reopening the browser but I am not prompted to enter my password.  It logs me in with just the username.  Would like it to log the user out completely after clicking Log Out and closing the browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47fa31e-8e71-8

[2019-03-25 19:49] HeidiSteen commented on #27609
@keithl8041 The DotNetHowToAutocomplete sample illustrates both Suggestions and Autocomplete features.  In HomeController.cs, line 41 is the Suggestions query and line 69 is the Autocomplete query.  The construction is very similar so the author wanted to show them side by side.  We will revise the docs to make our intentions more obvious.  Thanks for the feedback!

#please-close

[2019-03-25 19:50] shraboin opened #27957 "No HTTP/2 support for Akamai Custom Domain"
I am a support engineer with Azure CDN. I had a case where they were unable to get HTTP/2 header for custom domain with Akamai Custom Domain. Turns out Akamai does not currently support this. They are aware of the issue but I'm not sure there is an ETA. Can we put this information in HTTP/2 row for Akamai column like we do for purge?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-03-25 19:51] desarkar commented on #10772
@guoch - Yes, you should use: New-SelfSignedCertificate
A script like this works great - https://github.com/AdamPaternostro/Azure-Create-HDInsight-Service-Principle
This approach is neat and you can grab all the information at once from the JSON output to substitute in your ARM template or ps script.

[2019-03-25 19:52] shraboin opened #27958 "HTTP/2 does not currently support Custom Domain with Akamai"
I am a support engineer with Azure CDN. I had a case where they were unable to get HTTP/2 header for custom domain with Akamai . Turns out Akamai does not currently support this. They are aware of the issue but I'm not sure there is an ETA. Can we put this information somewhere on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-25 19:53] HJToland3 commented on #19807
@Anmolgan81 - Just FYI, we are reaching out to the blog post author for an update. Stay tuned.

[2019-03-25 19:58] alexsmithMSFT opened #27959 "Add new Test-AzureStack UpdateReadiness option from 1902 Update"
Update Test-AzureStack document section "Run validation tool to test system readiness before installing update or hotfix"

With new parameter option added in 1902 update- "To improve the Azure Stack operator experience when running Test-AzureStack, operators can now simply use Test-AzureStack -Group UpdateReadiness instead of passing ten additional parameters after an include statement. "
From- ht

[2019-03-25 20:00] nelfer commented on #27780
I have come to the (possibly wrong) conclusion that ASP.Net Core with Azure AD 2.0 is not intended for Azure Web Apps (Linux). If I remove the code in Startup.cs and then instead I configure in the Azure Portal to use the Authentication from there, then it works. So in other words, the app didn't need to have any code or settings related to Azure AD, everything can be controlled from Azure Portal

[2019-03-25 20:02] MarkusVi commented on #27954
Hi @bonksnp , does [this](https://docs.microsoft.com/en-us/office365/enterprise/modern-auth-for-office-2013-and-2016) help?

[2019-03-25 20:05] MarileeTurscak-MSFT commented on #27923
@durind
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 20:08] femsulu commented on #27951
@dyateseci Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-25 20:14] gregman-msft commented on #27078
@kgremban I haven't seen this before, will need to do some offline investigation.

[2019-03-25 20:14] femsulu commented on #27927
@bdschaap Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-25 20:31] TravisCragg-MSFT commented on #27642
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 20:31] #27642 closed

[2019-03-25 20:32] TravisCragg-MSFT commented on #27959
@alexsmithMSFT Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-03-25 20:35] TravisCragg-MSFT commented on #27944
@jbpaux Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-03-25 20:37] n0ttsweet opened #27960 "100% broken documentation"
I made a correction to this documentation in Issue #27567.
I outlined exactly what was incorrect, what needed to be fixed, and how to do it.

Curretnyl,

Edit:
Earlier I said it was switched to Azure CLI. This is not the case, it turns out the Azure module has been updated. The guide now also instructs you to list the "friendly name" of a resource group, rather than $resourcegroup.

Original issue

[2019-03-25 20:39] cynthn commented on #20225
#please-close

[2019-03-25 20:41] furmangg opened #27961 "Demo site doesn't work as HTTPS"
This article currently links to the demo site https://azjobsdemo.azurewebsites.net/ as HTTPS, but it appears that site only works under HTTP: http://azjobsdemo.azurewebsites.net/

Can you fix the link in the article or fix the site to work under HTTPS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5af26663-00de-b8a6-0

[2019-03-25 20:41] #20225 closed

[2019-03-25 20:41] #25426 closed

[2019-03-25 20:41] #26332 closed

[2019-03-25 20:41] #13217 closed

[2019-03-25 20:41] #25799 closed

[2019-03-25 20:42] #19122 closed

[2019-03-25 20:42] #15576 closed

[2019-03-25 20:42] #17626 closed

[2019-03-25 20:42] alinamstanciu commented on #27503
Hi @arjantent,
The user which is trying this provision is not the same user that deployed the DT instance. If you are getting 403, it means you are not authorized by the system and you need higher permissions. Please ask the user which deployed the instance to create a role assignment for the user that gets 403. See article on how to create a role assignment https://docs.microsoft.com/en-us/azure/

[2019-03-25 20:45] nelfer opened #27962 "Question: Is there a way to know user info from the app?"
Hi,
So I got this working with a .Net Core Web App. I noticed there's a cookie `AppServiceAuthSession` so I was wondering if there's any useful information that I can read from the app? It will be cool to have the user id (or email) or the group the user belongs to. Anything like reading claims?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-25 20:46] keithl8041 commented on #27609
Hi, sorry if the initial report wasn't clear - the code in the DotNetHowToAutocomplete solution is complete and very useful, I was just pointing out that the function to be featured in the article should be the auto-complete function (line 69) instead of the current suggestion function (line 41).

[2019-03-25 20:47] ITGUYHPH opened #27963 "settings are missing from adding guest user instructions"
This page needs more details added. The user trying to do the invite first must have Global Administrator rights or at least Guest Inviter role. Second, the subscription must have at least one more setting turned on, if not two: 1 - Azure AD &gt; User settings &gt; External Users: Manage External users collaboration &gt; Admin and users in the guest inviter role can invite should be set to: YES. 2

[2019-03-25 20:47] n0ttsweet commented on #27567
Whoever edited this documentation, seems to have
1. converted it to Azure CLI.
2. Not mentioned this fact.
3. Did not make any of the necessary changes that I outlined in this issue.
4. Made the article fail from step one. (made it worse than before.)

[2019-03-25 20:47] alexkarcher-msft opened #27964 "Add simple CLI commands"
There are two very simple Azure CLI commands to create an app insights instance and get the instrumentation key. I'd love to see those documented here, or in a "CLI Quickstart" sister doc.

From this github thread: https://github.com/Azure/azure-cli/issues/5543

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c8

[2019-03-25 20:47] ITGUYHPH opened #27965 "Instructions are missing settings needed to invite a Guest user."
This page needs more details added. The user trying to do the invite first must have Global Administrator rights or at least Guest Inviter role. Second, the subscription must have at least one more setting turned on, if not two: 1 - Azure AD > User settings > External Users: Manage External users collaboration > Admin and users in the guest inviter role can invite should be set to: YES. 2 - Under

[2019-03-25 20:48] #27713 closed

[2019-03-25 20:48] ITGUYHPH commented on #27965
This is in reference to this page: https://docs.microsoft.com/en-us/azure/active-directory/b2b/add-users-administrator

[2019-03-25 20:50] TravisCragg-MSFT commented on #27957
@shraboin Thanks for the feedback! I have assigned this to the content author to evaluate and update as appropriate. Other Part -  #27958

[2019-03-25 20:54] asinn826 commented on #8107
@menewol I understand this reply has been a long time coming but I'd be curious if you had any more details about your specific situation. Azure marketplace Ubuntu 16.04 images are configured for Serial Console use out of the box - were you bringing your own image to Azure hence the need for these instructions? Happy to improve the docs with more details once I have more details.

@MicahMcKittrick