[2019-03-06 23:38] YutongTie-MSFT commented on #26392
@LukeOlsen-zz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-06 23:44] mestew commented on #23332
@maneeshbhat21 & @Jaykul
I do have some information about key rotation:

Using standard commands is the recommended way to rotate keys and secrets.
Some information on the versioning of objects is available here:  https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#objects-identifiers-and-versioning

If a “key encryption key” is being used, think of it as a seconda

[2019-03-06 23:50] TravisCragg-MSFT commented on #26394
@MouthOfMadness Unfortunately there are some circumstances which are out of our control that can cause the validation to take longer than 24 hours. We are working to improve the process so that a support case is not needed, but for now the best option is to contact support.

If you do not have a support plan, Email me at AzCommunity@Microsoft.Com with your subscription ID and a link to this post,

[2019-03-06 23:50] #26394 closed

[2019-03-06 23:52] TravisCragg-MSFT commented on #25768
@scottmcdonald-claritas We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 23:52] #25768 closed

[2019-03-06 23:59] SaurabhSharma-MSFT commented on #26400
@edavedian Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 00:02] SaurabhSharma-MSFT commented on #26378
@aujla0991 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 00:02] joeljanke opened #26405 "Exchange Content"
When you use the actual GUI to do a Reservation Exchange it says "Exchanged reservation will have the same end date, region and quantity as the current reservation".   In your content above, however, it says "The term start date for the new reservation doesn't carry over from the exchanged reservation. The 1 or 3-year term starts from when you create the new reservation".    It doesn't appear that

[2019-03-07 00:15] MarileeTurscak-MSFT commented on #26399
@pmckeen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 00:19] ParthiKarnan opened #26406 "How to receive messages from azure service bus topic subscription's event-driven based by .NET Core 2.1 Console Application"
I have done by azure service bus topic subscription's receving functionalities by using the below code(**.NET Core 2.1 Console application**) and it's seems to be manual execution everytime to receive the messages from subscription's queue but I'm expecting to recevie the messages automatically when it comes to the subscription's queue using event driven functionalities. Because as per my business

[2019-03-07 00:19] #15248 closed

[2019-03-07 00:19] #23256 closed

[2019-03-07 00:20] SaurabhSharma-MSFT opened #26407 "sign-in access risk screenshots are outdated"
Can you please check on these ACCESS sign-in screenshots as these seems outdated and display all available options - Require MFA registration, Require multi-factor Authentication and Require password change.
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/media/howto-sign-in-risk-policy/13.png
![image](https://user-images.githubusercontent.com/38112130/53923003-74de2e00

[2019-03-07 00:20] #24316 closed

[2019-03-07 00:20] #24909 closed

[2019-03-07 00:20] #25753 closed

[2019-03-07 00:20] #25988 closed

[2019-03-07 00:21] SaurabhSharma-MSFT commented on #26407
@MarkusVi  Can you please look into this.

[2019-03-07 00:21] MarileeTurscak-MSFT commented on #26399
@pmckeen thanks for the feedback and good catch! I've created a pull request to fix this typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/68800

Changes generally go live within 24 hours.

[2019-03-07 00:21] #26399 closed

[2019-03-07 00:21] #26293 closed

[2019-03-07 00:23] brent-robinson opened #26408 "Support for Az PowerShell module to configure Log Analytics on ACI"
When will the new `Az` PowerShell module support configuring Log Analytics when launching a container instance?

Neither this document, or the current `Az` [documentation](https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-1.4.0) includes any parameters for Log Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-07 00:26] SnehaGunda commented on #26340
@chrislewisdev2 thanks for pointing out the issue, I submitted a fix to the doc. We will now close this issue.

#please-close

[2019-03-07 00:30] MicahMcKittrick-MSFT commented on #26408
@iainfoulds @seanmck @femsulu any of you have any insights on this?

[2019-03-07 00:31] MicahMcKittrick-MSFT commented on #26405
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-07 00:34] SnehaGunda commented on #26401
@WilliamBerryiii though the product name is changed to Azure Cosmos DB the underlying resource provider is still named DocumentDB, and the source code also uses DocumentDB. There isn't anything we can do about it with docs. Our product group is already aware of this and we have plans to fix.

We will close the issue if  you don't have further questions.

#please-close

[2019-03-07 00:52] Mike-Ubezzi-MSFT commented on #26401
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-07 00:52] #26401 closed

[2019-03-07 00:58] dcbrown16 commented on #7151
In case anyone else comes looking, FunctionExecutionLogs only works for Functions, not Web Apps. There is work happening to prevent it from appearing under Web Apps.

[2019-03-07 00:59] DCtheGeek commented on #26325
@bpit87 The engineers have created an action item to update the description and provide additional clarity around the **Top** parameter. The ref doc is correct in that _None_ is the default value, but backend considerations play into the 1000 results you are seeing. Thanks for pointing this issue out. With the action item created to resolve this (since it's an issue with the ref doc and not this s

[2019-03-07 01:01] #26325 closed

[2019-03-07 01:02] KeiroKamioka0000 commented on #25225
Hello,

I still looking forward for having an answer.

Thanks

[2019-03-07 01:11] SaurabhSharma-MSFT commented on #26406
@ParthiKarnan To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-07 01:15] Adebeer commented on #10813
Further to my comment - I was hoping that, after a couple of hours (+12), my cluster will auto downgrade reliability so I can remove the nodes, but I'm still getting same error - so presumably reliability is still Platinum (9 nodes).
The other thing I tried was removing the 6 nodes while re-adding them (with new node-names) in one step - but alas, SF validation didn't like that either.
[code]

So.

[2019-03-07 01:18] MarileeTurscak-MSFT commented on #26377
@pinyuko are you referring to the second screenshot under "A named location has the following components:"?

[2019-03-07 01:48] iljoong commented on #26323
Ordinal number after 14 is also incorrect. It should  be started from 15 not 16. Thx

iOS용 Outlook<https://aka.ms/o0ukef> 다운로드
________________________________
보낸 사람: Mike Ubezzi <notifications@github.com>
보낸 날짜: Thursday, March 7, 2019 2:18:31 AM
받는 사람: MicrosoftDocs/azure-docs
참조: Il Joong Kim; Mention
제목: Re: [MicrosoftDocs/azure-docs] Sample code of `Define ingestion mapping` is not correct (#

[2019-03-07 01:49] Karishma-Tiwari-MSFT commented on #26395
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-07 01:49] #26395 closed

[2019-03-07 01:52] KeiroKamioka0000 opened #26415 "'Content Feedback' might not work for specific page [bug?]"
Hello, I've tried to create the content feedback of following document.
However, it will cause soft lock of browser when try enter it, it requires to close the tab to recover the browser's activity.

It repro with Chrome, Edge, and Opera.

So far it only happen in following document.

Frequently asked questions about Azure IaaS VM disks and managed and unmanaged premium disks
https://docs.microsof

[2019-03-07 01:53] Karishma-Tiwari-MSFT commented on #26405
@yashesvi Can you please help confirm on which of the statement is true. Thanks :)

[2019-03-07 02:06] KumudD commented on #23168
#please-close

[2019-03-07 02:09] deltadan commented on #23168
Looks like a good update.

[2019-03-07 02:09] #23168 closed

[2019-03-07 02:11] ecfan commented on #23991
@Anand-Moghe & @mike-urnun-msft, thank you, we have a content backlog work item for this now. #please-close

[2019-03-07 02:14] ecfan commented on #24223
@otravers & @mike-urnun-msft, thank you, we have a content backlog work item for this now. #please-close

[2019-03-07 02:17] ecfan commented on #24266
@nicwillemse & @KetanChawda-MSFT, thank you, we have a content work item on our backlog for this now. #please-close

[2019-03-07 02:21] ecfan commented on #24402
@brandonh-msft, @mike-urnun-msft, and @PramodValavala-MSFT, thank you, we have a content work item on our backlog now for triage. #please-close

[2019-03-07 02:27] ecfan commented on #26257
@SudharsanS19 & @PramodValavala-MSFT, thank you, we have a content work item on our backlog now for triage. #please-close

[2019-03-07 02:34] ecfan commented on #26019
@gldraphael & @PramodValavala-MSFT, thank you, we have a content work item on our backlog now for triage. For product suggestions, please submit your request on the Logic Apps user feedback site so others can vote: https://feedback.azure.com/forums/287593-logic-apps

#please-close

[2019-03-07 02:35] Grace-MacJones-MSFT commented on #26393
Hi @danobri, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-07 02:38] DixitArora-MSFT commented on #26149
@blueelvis Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-03-07 02:38] #26149 closed

[2019-03-07 02:41] MS-Santi opened #26420 "Is there a limit of policies per storage account?"
The documentation and comments mention a limit of 4 rules per policy. There seems to be no information on policies per storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storag

[2019-03-07 03:05] Porges opened #26421 "Dead link to third-party site"
The link to "Consistency tradeoffs in modern distributed database systems design" on the IEEE site is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad39979-3f09-e067-a9ab-e65adfe159bb
* Version Independent ID: 046279e1-0f83-19fa-c27d-f10b82df530f
* Content: [Availability and performance tradeoffs for various co

[2019-03-07 03:09] nmikuni commented on #26248
I only saw one case in CentOS 7.5 and kernel version is 3.10.0-327.el7.x86_64. It happened several times. After add dependency, it goes well.

[2019-03-07 03:09] CHEEKATLAPRADEEP-MSFT commented on #26397
@bradhowe Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-07 03:10] CHEEKATLAPRADEEP-MSFT commented on #26402
@SogoGolf Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-07 03:12] CHEEKATLAPRADEEP-MSFT commented on #26403
@1trevor Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-07 03:27] CHEEKATLAPRADEEP-MSFT commented on #26415
@KeiroKamioka0000 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-07 03:29] CHEEKATLAPRADEEP-MSFT commented on #26420
@MS-Santi Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-07 03:39] CHEEKATLAPRADEEP-MSFT commented on #26421
@Porges Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

Due to redesign of the site the links are dead, you refer the links here:

[https://ieeexplore.ieee.org/document/6127847](https://ieeexplore.ieee.org/document/6127847)

[https://www.computer.org/csdl/magazine/co/2012/02/mco2012020037/13rRUxjyX7k](https://www.computer.or

[2019-03-07 03:51] KeiroKamioka0000 opened #26422 "Is it possible to add attribute to the HTTP Request from Server with Integration Runtime Installed?"
Is it possible to add the attribute to the request, from the server with Integration Runtime installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb98149c
* Content: [Security considerations in Azure Data Factory](https://do

[2019-03-07 04:08] #24266 closed

[2019-03-07 04:19] srilekha82 commented on #26263
Ok submitted the issue from LUIS. Thanks

[2019-03-07 04:26] PramodValavala-MSFT commented on #26095
@jordanchang Glad we could help! The doc would be updated accordingly once the feature is available.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 04:26] #26095 closed

[2019-03-07 04:28] #24402 closed

[2019-03-07 04:44] brjohnstmsft commented on #25860
@loic-sharma Thanks for the feedback. We'll look at doing a better job of linking our docs to our SDK samples.

[2019-03-07 04:45] brjohnstmsft commented on #25860
FYI @HeidiSteen

[2019-03-07 04:49] CHEEKATLAPRADEEP-MSFT commented on #26202
@dlenin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-07 04:49] #26202 closed

[2019-03-07 04:53] CHEEKATLAPRADEEP-MSFT commented on #26366
@subashsivaji We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-07 04:53] #26366 closed

[2019-03-07 04:56] Ruizean commented on #26236
I'd probably suggest that it's confusing rather than outdated. I am closing this.

[2019-03-07 04:56] #26236 closed

[2019-03-07 05:04] CHEEKATLAPRADEEP-MSFT commented on #26350
@steveaf I completely agree with you.
As you see the version keep on changing every month. If we mentioned
“Install-Package Microsoft.Azure.Management.ResourceManager -Version 2.0.0-preview” in the document, then other user say this document need to be updated with the latest version every month.

The documents has designed to long term use, that the reason they have not mentioned the version in t

[2019-03-07 05:09] neeleshray commented on #26147
@CelesteDG
Can we have it mentioned in this document ( [How to: Use the Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api-quickstart) ) that only Work/ORG accounts can be used ?

[2019-03-07 05:23] CHEEKATLAPRADEEP-MSFT commented on #26422
@KeiroKamioka0000 Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-03-07 05:27] mayankag289 opened #26438 "Unable to Install Service fabric SDK"
[Enter feedback here]

I tried following the steps present in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet.

In the Prerequisites - Step 3 - Install the Microsoft Azure Service Fabric SDK. I downloaded the EXE - MicrosoftAzure-ServiceFabric-CoreSDK.exe.

But when i execute the exe it gives me error as below screenshot.

Attached the screenshot.

![capture]

[2019-03-07 05:34] KetanChawda-MSFT commented on #26172
@nellstephanj The doc has been updated with the fix.

@ghostinthewires Thanks for submitting the PR for the fix.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 05:34] #26172 closed

[2019-03-07 05:35] KetanChawda-MSFT commented on #26289
@PingPongSet Checking in to see if the above post helped answering your question.

[2019-03-07 05:36] msrini-MSIT commented on #23320
@DacuTv , any update on this issue?

[2019-03-07 05:37] msrini-MSIT commented on #26343
@ytugarev , any update on this issue?

[2019-03-07 05:54] orspod commented on #26323
@iljoong thank you for your feedback.
@i3arnon will you review this documentation issue?

[2019-03-07 06:01] ManojReddy-MSFT commented on #26148
@sujayvsarma If I am understanding this correctly , then for the same MSA account it's working if you are using the token obtained using ADAL and it's not working if you are using the token obtained using MSAL endpoint .

Can you share the REST call you are making to the token endpoint in your web app ? (both MSAL/ADAL)
Also can you compare the tokens in https://jwt.ms and check the aud parameter

[2019-03-07 06:12] ManojReddy-MSFT commented on #26291
@erosinger I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-03-07 06:13] PramodValavala-MSFT commented on #26257
@SudharsanS19 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 06:13] #26257 closed

[2019-03-07 06:13] KeiroKamioka0000 commented on #26415
As adding info, it also happen to one of my co-worker in another page

[2019-03-07 06:13] Asgardi commented on #19170
Why to close an issue if it not resolved? Would be nice to see this kind of things in the "open issues" in docs before starting to work with anything which is impossible to work with.

[2019-03-07 06:13] PramodValavala-MSFT commented on #26019
@gldraphael We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 06:13] #26019 closed

[2019-03-07 06:17] CHEEKATLAPRADEEP-MSFT commented on #26415
@KeiroKamioka0000 Please do ask your co-worker to report the issue on the following document.

[2019-03-07 06:18] KeiroKamioka0000 commented on #26415
@CHEEKATLAPRADEEP-MSFT
Will do

[2019-03-07 06:20] yashesvi commented on #26405
@joeljanke the term does not change for the specific exchange shown in the UI on click of exchange. example: D1 to DS1 or vice versa. The term does change when any other exchange is processed.

[2019-03-07 06:20] dcbrown16 commented on #26415
@CHEEKATLAPRADEEP-MSFT this is occurring for me on every page I go to. I tested on Japanese pages and Dynamics pages as well as English Azure pages like this one. I'm on Keiro's team as well.

[2019-03-07 06:23] PramodValavala-MSFT commented on #19170
@Jiihaa The issue has been automatically closed due to a PR merge and the updated docs would reflect in a few hours.

[2019-03-07 06:46] SumanthMarigowda-MSFT commented on #26355
@navin22  Requesting you to check ` Selecting a [data transfer solution](https://docs.microsoft.com/en-us/azure/storage/common/storage-choose-data-transfer-solution) `option

**Additional information**: You can set parameter isServiceCopy as false when run TransferManager.CopyDirectoryAsync(), then it will run SyncCopy (download & upload), instead of AsyncCopy (Server side Copy ).

The "Async" in

[2019-03-07 06:54] SumanthMarigowda-MSFT commented on #25607
@Morishiri We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 06:54] #25607 closed

[2019-03-07 07:02] navin22 commented on #26355
Okay, We are moving one of our account from one region to another. And we have very large number of containers(around 350K) each containing may be 10-50 blobs in it. So wanted to know what's be best way. And based on the doucments got to know AzCopy is good for bulk move. The [script I referred](https://docs.microsoft.com/en-us/azure/storage/scripts/storage-common-transfer-between-storage-accounts

[2019-03-07 07:13] CHEEKATLAPRADEEP-MSFT commented on #26438
@mayankag289 Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-07 07:18] alec-lieberman-ef commented on #26348
@Mike-Ubezzi-MSFT How can I find the query the sampler is using? All I did was create a new schema and use the collection mapping and it generated the schema for me. I did not create any queries myself. Is there a way I can find the query the sampler is using?

[2019-03-07 07:25] JCGitRep opened #26445 "Trying to get invitation to Conversation Learner"
Hello @YutongTie-MSFT,

i am trying to get an invitation To Conversation Learner to look into it and start planning for a project.

i requested several times and still no response ( same issue #11033).

Can you please help because i am putting the project planning on Hold.

PS: i am not using this email for the request.

Thank you ,

Jad

[2019-03-07 07:30] Raviafkumar commented on #26190
Hi ,
Thank you for your input .
I copied public ip address of two VM and added in azure sql firewall setting . These VM's were created automatically when i had created databricks instance . After updating firewall setting in Azure sql , i ran notebook and got same error message

com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host b63da5ce2d2d.tr27.northeurope1-a.work

[2019-03-07 07:42] SumanthMarigowda-MSFT commented on #26390
@shudson302 I was able to build the solution from the sample code. I would request you to kindly re-try by cleaning the solution
![capture](https://user-images.githubusercontent.com/44606021/53939825-2f2c6e80-40da-11e9-8adf-ad6c8f596abc.PNG)

If still find any issue, please share code and screen  shot of the error message

[2019-03-07 07:54] HemantChandurkar opened #26446 "Return value from Spark Activity"
I am calling py script file and want to return values from the script. The output will be passed to If Condition. How to return any value from spark activity to data factory?
Thank you!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8c8b1a-3b61-1dde-c11c-69043a56dfef
* Version Independent ID: 9ad9804b-27c1-f1ea-2dd3

[2019-03-07 07:59] ParthiKarnan commented on #26406
@SaurabhSharma-MSFT Please find the link [](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions)

[2019-03-07 08:00] Raviafkumar commented on #26190
I will also add that i have used below Jar file and added in library tab in databricks instance . The URL of this jar files is mentioned in
Microsoft doc URL
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-spark-connector
JAR File URL
https://github.com/Azure/azure-sqldb-spark

[2019-03-07 08:13] CHEEKATLAPRADEEP-MSFT commented on #26445
@JCGitRep Thanks for the question! We are investigating and will update you shortly.

[2019-03-07 08:26] JCGitRep commented on #26445
please Keep note that the email i am using is Scrapbot@murex.com the same email i use to sign into luis.ai

thank you.

[2019-03-07 08:27] CloudCrusader commented on #23399
Hi sure
in the part "Manual failover using Azure DNS" the picture shows the primary location with a L4 load balancer, in the failover region you are showing an l7 application gateway.
To me this doesn't look logical when the failover region has more functionality then the primary location.

[2019-03-07 08:30] #26340 closed

[2019-03-07 08:31] RohitMungi-MSFT commented on #26445
@JCGitRep Could you please let us know when did you first request access to conversation learner, This might help the team to understand if there are any issues in giving access.

[2019-03-07 08:33] jakaruna-MSFT commented on #26415
@dcbrown16 Thanks for reporting. We have reported this scenario to the concerned team internally. We will post here once we have an update .

[2019-03-07 08:37] metin commented on #19220
Looks like you can make it work with version 0.8.0-preview
https://www.nuget.org/packages/Microsoft.Azure.Management.DataFactory/0.8.0-preview

[2019-03-07 08:39] Potapy4 commented on #26379
@paule96 I don't see any problems with the link - it's redirected to https://www.microsoft.com/en-us/download/details.aspx?displaylang=en&id=24659

[2019-03-07 08:40] paulhickman-a365 commented on #26386
My point was the entire namespace's pages are generated from reflection on the code, but no-one has filled in the xmldoc sections anywhere in these assemblies - no summary, remarks, param, returns, example tags have been entered so there is nothing to tell you what these methods actually do; there is just the information that intellisense gives you anyway.

For the top-level classes it may be fair

[2019-03-07 08:46] CHEEKATLAPRADEEP-MSFT commented on #26446
@HemantChandurkar Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-03-07 08:47] DixitArora-MSFT commented on #26347
@NathanielRose You can get it from portal as well as from REST api call.

**POST** https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/token?api-version=2018-06-01-preview

In this value of {userId} will be git.It is documented under User - Get Shared Access Token.

https://docs.micros

[2019-03-07 08:48] CHEEKATLAPRADEEP-MSFT commented on #26203
@juchom Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-03-07 08:52] JCGitRep commented on #26445
The first request access to conversation learner, was on Tuesday March 2 2019.

[2019-03-07 09:07] metin commented on #19805
Looks like article is out of date. It is using an old version of Microsoft.Azure.Management.DataFactory package. I was able to make it work with 0.8.0-preview
https://www.nuget.org/packages/Microsoft.Azure.Management.DataFactory/0.8.0-preview

[2019-03-07 09:08] metin commented on #12600
Or you can use 0.8.0-preview version of Microsoft.Azure.Management.DataFactory package.
https://www.nuget.org/packages/Microsoft.Azure.Management.DataFactory/0.8.0-preview

[2019-03-07 09:25] shashishailaj commented on #25968
@bastyuchenko We will close this issue now . Should you have any further queries on this , please tag me to your reply and we can engage in a conversation again .

[2019-03-07 09:25] #25968 closed

[2019-03-07 09:25] wbpluto commented on #20815
Maybe waiting for Win10 1903 release?!

[2019-03-07 09:26] smudgecat opened #26449 "Linking to https://myprofile.microsoft.com from office.com or any other signed in O356 site..."
We educate our users to not click on links in emails.
So, we would like a way to tell people how to get to their MFA/SSPR setup without sending a link, especially if they are looking for it at a later date.
Speaking to someone at the Ignite tour last week, he said this should be possible by going to:
My account (which goes to https://portal.office.com/account/ )
and clicking on
Manage security & p

[2019-03-07 09:28] shashishailaj commented on #26335
@goupadhy The change as requested by you has been merged now and the documentation has been updated. We will close this issue now.

Thank you.

[2019-03-07 09:28] #26335 closed

[2019-03-07 09:33] dominik-lekse commented on #23558
I also intend to import a PEM format certificate into a key vault which get rejected with "PEM is in unexpected format". The certificate payload contains a base64-encoded concatenation of the certificate and the corresponding private key.

@SaurabhSharma-MSFT As I understand the situation, importing PEM certificate into a key vault is currently not supported due to a bug? In this case, it would be

[2019-03-07 09:35] smudgecat commented on #26407
On the signin risk policy, I'd love to be able to tick the 'Require MFA' option but we only have 'Require password change'. Why was this taken away? The last thing our users want to do when landing on the other side of the world is to change their password! Far simpler to request MFA.
When I spoke to Support, they said to setup Conditional Access to reproduce the sign-in risk policy with the resul

[2019-03-07 09:35] kudlatiger commented on #25655
Great Thank you. I will try the recommendation. It will help if we have any step by step documentation or blog?  It's a real-time scenario and will benefit many Microsoft service users.

[2019-03-07 09:50] debanandaghosh commented on #12754
It looks command like not supported in sql server?

[2019-03-07 09:51] KetanChawda-MSFT commented on #26400
@edavedian The key vault references feature requires RBAC permission to the key vault which won't work for local development. Also, note that key vault references currently only support system-assigned managed identities.

This feature is only meant for the applications hosted in Azure. You can write custom code to retrieve secrets from key vault instead if possible.

[2019-03-07 10:05] neil-rubens commented on #26312
@PramodValavala-MSFT thank you for the answer; and mentioning other options that I wasn't aware of.

I think it might be useful to add it to the docs; since it may be the next natural question that many users might face.

p.s. in my case, I am planning to go with the `ip restrictions`; since I want APIM to be the single place where auth is done.

[2019-03-07 10:08] femsulu commented on #26372
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-07 10:08] #26372 closed

[2019-03-07 10:26] msrini-MSIT commented on #26343
@ytugarev , I am closing this issue for now. If you need any further information, please reopen.

[2019-03-07 10:26] #26343 closed

[2019-03-07 10:27] dominicbetts commented on #26367
Hi @ericbrunner - thanks for feedback about the resources, I'll pass that information on to the product team. It's also possible to run some of the solution locally - you'll still need the following cloud services: IoT Hub, Cosmos DB, Azure Streaming Analytics, and Azure Time Series Insights in Azure, but everything else runs in local Docker instances. Take a look at: https://docs.microsoft.com/en

[2019-03-07 10:27] RohitMungi-MSFT commented on #26373
@theciscokid We hope the above links helped you in estimating your costs for azure cognitive services.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 10:27] #26373 closed

[2019-03-07 10:34] xuemind opened #26451 "Please clearly specify the type of container and blob files. and the web URL"
there are something missed in this instruction. I have to re-try on type of container and blob files to successful host the website.
1. clearly specify the container and blob types
2. clearly specify the URL is in setting/static website, ***NOT*** the Blob URL
right website URL: https://<storage account>.<zone>.web.core.windows.net/
NOT the blob URL: https://<storage account>.blob.core.windows.net

[2019-03-07 10:38] RohitMungi-MSFT commented on #26246
@fz-29 We hope the above comment helped you to use the right API. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 10:38] #26246 closed

[2019-03-07 10:40] PhilCorney opened #26453 "SAML schema must be defined in the claims definition"
To use SAML assertions in B2C the claim name must be in the B2C claim definition (PartnerClaimType below) and cannot be specified as the output claim in the ClaimsProvider. This is not specified in the documentation.

<ClaimType Id="userGroups">
  <DisplayName>userGroups</DisplayName>
  <DataType>stringCollection</DataType>
  <DefaultPartnerClaimTypes>
    <Protocol Name="SAML2" PartnerClaimType="

[2019-03-07 10:42] AdamSharif-MSFT commented on #26387
Hi Micah,

Many thanks for your feedback!

Would this scenario be any different if we were using the strict mode for zone balancing?
Also, would it be worthwhile adding a diagram to this article?
As an aside, I just tested strict mode and scaling 3 instances to 7 across 3 zones, and request did not fail even though the end result was an unbalanced VMSS, is this expected behaviour?

I have a few fo

[2019-03-07 10:43] RohitMungi-MSFT commented on #26270
@ToadTWP666 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 10:43] #26270 closed

[2019-03-07 10:45] shashishailaj commented on #26449
@smudgecat Thank you for your query . We will investigate and update the thread.

[2019-03-07 10:51] NathanielRose commented on #26347
Hi @DixitArora-MSFT

I am looking to automate this process through terraform and the API Management Service does not have this in the terraform provider which requires us to use the REST API.

I am able to generate a token from a REST POST: https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{u

[2019-03-07 10:52] i3anaan opened #26454 "SSH instructions for webapps using docker container are incorrect"
[The instructions on how to connect to SSH on a Linux Web App](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support) running a docker instance claim you can enable (web) ssh support with some extra dockerfile instructions, this however does not work.

Seeing that the actual command being run does not actually expose port 2222, connecting with web ssh is doome

[2019-03-07 11:08] xuemind opened #26455 "cannot input comments in azure doc page due to deadloop in JS Code"
I cannot input the comments in the [this page](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website). So, I have to jump to GitHub page.

When I enter the comments text area, the whole page was frozen. I opened the JS debugger and found page was blocked due to the following dead loop code in `https://az725175.vo.msecnd.net/scripts/jsll-4.js`

1. In while condition logic

[2019-03-07 11:20] MikkelHegn commented on #26438
You need to install Web Platform installer to install the SDK. What heppsne if you follw the instructions and press `OK`? If that does not work, you can download the Web Platform Installer here: https://www.microsoft.com/web/downloads/platform.aspx

[2019-03-07 11:22] sergaz-msft commented on #26111
Thank you for that @dblaszyk ! It will definitely help others and we will take it into consideration to enhance the doc. I am assigning it to the content author so that we take your feedback and proceed with the improvements.

[2019-03-07 11:33] mayankag289 commented on #26438
Hi team,

When i try to open the link, it does not open.

It gives below error.

This page can’t be displayed
Make sure the web address http://download.microsoft.com is correct.
Look for the page with your search engine.
Refresh the page in a few minutes.

Thanks,
mayank

From:   "notifications@github.com" <notifications@github.com>
To:     MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2019-03-07 11:33] MikkelHegn commented on #16234
Settings where this is not supported, I suggest using a utility to changes those paramters at build time.

[2019-03-07 11:35] sergaz-msft commented on #26184
Hi @uwazie can you reinstall .NetCore and try again? Download the Current version [here](https://dotnet.microsoft.com/download/archives). Should be 2.2.

Thank you!

[2019-03-07 11:36] MikkelHegn commented on #26438
Could be because the link is using http?

s  - is this link provided in our installer package?

[2019-03-07 11:38] sergaz-msft commented on #26330
Hi @usermartin thanks for the kudos! As this falls out of the context of this doc, can I kindly request that you ask the same on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-iot-edge) so we can leverage the expertise of the community there? Let us know the link when you do so.

Thank you!

[2019-03-07 11:39] sergaz-msft commented on #26330
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 11:39] #26330 closed

[2019-03-07 11:39] oleTobiesen commented on #26104
I'm currently having an issue where the camera feed doesn't show up in Android. ARCore is installed on the phone, and the same scene worked in the HoloLens. Do I need a key for ARCore?

[2019-03-07 11:41] sergaz-msft commented on #26367
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 11:41] #26367 closed

[2019-03-07 11:45] stevencl opened #26456 "Application needs set permission as well as get permission"
I tried to create an issue on the doc page directly but whenever I type in a title for the issue, the page freezes. So I'm adding this issue directly here.

The service is Azure Key Vault

The article is: https://docs.microsoft.com/en-us/azure/key-vault/quick-create-node

In the article there is a section showing how to use the cli to set permissions on a web application so that it can get secrets

[2019-03-07 11:49] DixitArora-MSFT commented on #26347
@NathanielRose Almost every portal operation can be done through REST API.  This [reference ](https://docs.microsoft.com/en-us/rest/api/apimanagement/)provides a guide for working with API Management REST API. Do let me know if there is any operation for which REST API is not exposed.

[2019-03-07 11:49] citizen38 opened #26457 "Moving between plans"
Can a customer move between plans? Say they want to buy a plan with capability of 10 units and want to upgrade to a plan with a capability of 20 units.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de19b92-ec05-5804-2570-0d48f4a06363
* Version Independent ID: 6aa88626-d580-578d-bc04-53414e5e6c86
* Content: [Azure Saa

[2019-03-07 12:20] Huesie opened #26458 "Race condition overwrites assigned RouteTable + NSG"
Thank you for publishing these excellent instructions for an approach we've been using for some time.  If the above instructions are automated then periodically the subnet routetable and NSG become disasociated from the subnet, e.g. in automation pipeline.  Looks like a race condition is triggered maybe when AKS is still deploying to the MC_ in background and drops and re-creates the routetable.

[2019-03-07 12:20] m-v-k commented on #12901
ran into the same issue problem was wrong version of azure-functions-core-tools (2.0.3)
fixed it with:
`npm i -g azure-functions-core-tools --unsafe-perm true`

[2019-03-07 12:37] skmkzyk commented on #25346
it's good to close since below PR fixed this issue.

[2019-03-07 12:41] skmkzyk commented on #26210
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-vnet-plan-design-arm#subnets

In this paragraph, the 5th item says;

Would it help to explain that NSG is applicable to subnet?

[2019-03-07 12:46] HemantChandurkar commented on #26446
ok. thank you

[2019-03-07 12:56] NathanielRose commented on #26347
@DixitArora-MSFT The reference that you provided and the documentation for the API Management git configuration does not provide details on how to obtain the git secret. The git tenant is what I assumed to use which gives the tenant access response.
[code]
From here it is very unclear what to do next. Your comment above explains that a user should use the `users` method to generate a token which i

[2019-03-07 12:59] skmkzyk commented on #26377
I think @pinyuko points out that the placeholder in "IP ranges" test area showing "_Add a IP range (ex: 192.168.1.1/24...)_" might be confusing. (gray color text)
Since 192.168.1.1/24 is treated as a private IP, how about select from 192.0.2.0/24? (ref. [RFC5737](https://tools.ietf.org/rfc/rfc5737.txt), It's Public IP address, and reserved for documentation.)

It's a not documentation issue, but a

[2019-03-07 13:03] helderpinto opened #26459 "Unknown retention period"
I can't find any setting nor any documentation that states for how long metrics and logs collected by the Azure Diagnostics Extension are kept in the Azure Storage Account. For example, I have a scenario where I have configured Performance Counters collection and I am seeing Azure Table Storage costs increasing steadily for the diagnostics Storage Account I chose, at least for 4 months in a row. T

[2019-03-07 13:10] StingyJack opened #26460 "How do we create custom tiles?"
The OOB tiles arent that useful for many reasons.  How can we create tiles to replace them? Is customizing existing tiles to address the issues with them possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fbf1b-0eac-5494-3cb6-ee7da4e25605
* Version Independent ID: d2d457fb-fd9b-72f9-c3bb-4f99c615dca6
* Content

[2019-03-07 13:20] jimdial commented on #26106
@anavinahar @christiankuhtz Please take a look and update accordingly.

[2019-03-07 13:22] way2arun commented on #23320
@msrini-MSIT and @DacuTv - I can send you the ARM template, I was getting the problem while I was trying to provision it (Auth)  through ARM templates, later I moved this logic to ARM template to provision express route circuit and auth through az cli, I raised a support request, but didn't get proper feedback or answer,

[2019-03-07 13:46] YvonneArnoldus commented on #21014
@koboltmarky,

I do not have that example anymore because in the end I did not get it to work either. So what I did was the following:

[code]

[2019-03-07 13:52] MartinHelvig commented on #26018
I have the same problem in iPhone, It works when I directly build with swift through Xcode. But when I build from unity to try out LocalSharedDemo the camera won't activate on the iPhone. Any more tips?

[2019-03-07 13:56] j-martens commented on #8946
We have put this issue into our backlog to be handled at the next toc review. #please-close

[2019-03-07 14:13] ManojReddy-MSFT commented on #26342
@JimmyLS It should work theoretically in option 1 and 2 assuming it meets the other conditions mentioned in this article.

We always recommend using same internal and external URL for optimal performance.

[2019-03-07 14:17] craigg-msft commented on #20486
Thank you for the question but this appears to be best answered in one of the engineering or community forums and it is not actionable on the content.  I suggest the following.

Engineering User Voice https://feedback.azure.com/forums/270578-data-factory

Microsoft Forum: https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc

Stack Overflow: h

[2019-03-07 14:25] j-martens commented on #20351
#please-close

[2019-03-07 14:26] j-martens commented on #20463
R is awesome. But this is a product issue that is in the product backlog. #please-close.

[2019-03-07 14:28] lesterw1 opened #26465 "Is there any more information on user accounts in API management?"
The documentation is sparse. Can you provide links to any additional information about user accounts?  For example, is the subscription key the only thing a user ever needs to call an API?  Or is there a login sequence that they engage in to retrieve an active subscription key (like a bearer AuthToken)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-07 14:31] j-martens commented on #25979
@CeciAc - can you explain differently? I cannot understand the issue here. Is this not something you can fix on a public pull request?

[2019-03-07 14:32] j-martens commented on #25961
OP is suggesting we provide a more detailed description of the experiment that we'll be creating in the introduction.

[2019-03-07 14:35] j-martens commented on #25953
@CeciAc - this sounds like a localization issue. poster is asking for an image that is in the English version of the document to appear in the Chinese one. Please open a bug with the localization group for this one. #please-close

[2019-03-07 14:35] CHEEKATLAPRADEEP-MSFT commented on #26451
@xuemind Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 14:38] CeciAc commented on #25953
Hi @j-martens
We are working on it in another thread
thank you

[2019-03-07 14:38] #25953 closed

[2019-03-07 14:38] CHEEKATLAPRADEEP-MSFT commented on #26453
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 14:39] BreakingBI opened #26466 "Outdated Command to Open SQLLine"
Document Location: Use SQLLine -> To Use SQLLine -> 2. In SSH, use the following commands to run SQLLine:

The command listed is for an older version of HDInsight.  The following command should work for all versions:

cd /usr/hdp/current/phoenix-client/bin
./sqlline.py <ZOOKEEPER SERVER FQDN>:2181:/hbase-unsecure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-03-07 14:43] BreakingBI opened #26467 "No longer able to directly link to Storage Account from HDInsight Cluster"
Document Location: Acquire hbase-site.xml from your HBase cluster -> 5. Select the Storage account in the list that has a checkmark under the Default column.
Document Location: Put hbase-site.xml on your Spark cluster -> 3. Select the Storage account in the list that has a checkmark under the Default column.

The functionality to directly select the storage account from the HDInsight cluster is no

[2019-03-07 14:45] BreakingBI opened #26468 "Malformed Scala for Inserting Data into HBase"
Document Location: Insert new data -> 3. Save the array of new data to HBase:

This command is malformed Scala.  The line breaks need to be removed.

sc.parallelize(newData).toDF.write.options(Map(HBaseTableCatalog.tableCatalog -> catalog)).format("org.apache.spark.sql.execution.datasources.hbase").save()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-03-07 14:49] CHEEKATLAPRADEEP-MSFT commented on #26454
@i3anaan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 14:50] BreakingBI opened #26470 "Malformed SCP Command to upload UDF"
Document Location: Build and install the UDF -> 2. Use the scp command to copy the file to the HDInsight cluster.

This is a malformed command.  Here is the correct syntax.

scp ./target/ExampleUDF-1.0-SNAPSHOT.jar myuser@mycluster-ssh.azurehdinsight.net:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4361427b-0293-097

[2019-03-07 14:53] BreakingBI opened #26471 "Cluster Names can be capitalized during provisioning, but not when retrieving Zookeeper and Broker Information"
Document Location: Get the Apache Zookeeper and Broker host information -> 2. To set an environment variable to the cluster name, use the following command:

The HDInsight Provisioning process allows Capital Letters in cluster names.  Regardless of the capitalization of the Cluster Name, the user must use all lowercase letters in this case.  If they do not, the subsequent commands will fail.  This

[2019-03-07 14:56] CHEEKATLAPRADEEP-MSFT commented on #26455
@xuemind Thanks for reporting. We have reported this scenario to the concerned team internally. We will post here once we have an update .

[2019-03-07 14:59] CHEEKATLAPRADEEP-MSFT commented on #26457
@citizen38  Thanks for the question! We are investigating and will update you shortly.

[2019-03-07 15:00] CHEEKATLAPRADEEP-MSFT commented on #26458
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:01] CHEEKATLAPRADEEP-MSFT commented on #26459
@helderpinto Thanks for the question! We are investigating and will update you shortly.

[2019-03-07 15:02] BreakingBI opened #26472 "Post-Deployment Script Action does not work."
Document Location: Create the clusters -> Use the following button to sign in to Azure and open the template in the Azure portal.

This deployment template fails.  The Post-Deployment Script Action for the Storm Cluster is incorrect.  The following URI works.

https://hdiconfigactions.blob.core.windows.net/linuxstormextlibv01/stormextlib.sh
---
#### Document Details

⚠ *Do not edit this section. I

[2019-03-07 15:03] CHEEKATLAPRADEEP-MSFT commented on #26460
@StingyJack Thanks for the question! We are investigating and will update you shortly.

[2019-03-07 15:05] CHEEKATLAPRADEEP-MSFT commented on #26465
@lesterw1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:05] mrbullwinkle commented on #21349
Thank you for the feedback! We have added a preliminary section on programmatic deployment [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#automate-monitoring).

[2019-03-07 15:05] mrbullwinkle commented on #21349
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-07 15:05] BreakingBI opened #26473 "Malformed HDInsight URI for scp"
Document Location: Configure the topology -> 4. Save the dev.properties file and then use the following command to upload it to the Storm cluster:

This is a malformed HDInsight URI.  It should be

scp dev.properties USERNAME@BASENAME-ssh.azurehdinsight.net:dev.properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-07 15:14] #24223 closed

[2019-03-07 15:15] #23991 closed

[2019-03-07 15:15] #23332 closed

[2019-03-07 15:25] edavedian commented on #26400
@KetanChawda-MSFT Thank you very much.  System-assigned managed identities work for local development when the identity of the user is authorized in the key vault.  I have already been doing this for a while in other projects.  Please refer to the second paragraph in https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication on how a developer's credentials are used for loc

[2019-03-07 15:26] MGoedtel commented on #25921
@blueelvis & @BryanTrach-MSFT - Yes, I have a task to update this document to list what are the default facilities supported by the agent for Syslog monitoring and I will see about getting this out early next week.
#in-progress

[2019-03-07 15:30] alexsmithMSFT opened #26474 "Custom Script Extension for Linux has incorrect link to Windows version"
Under list for **Virtual Machine extensions**, there are two entries for **Custom Script Extension**, one for Windows and the other for Linux. However, both have links to the Windows documentation-
https://docs.microsoft.com/azure/virtual-machines/windows/extensions-customscript

The Linux one should have two entries that link to-
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/

[2019-03-07 15:36] bsimser commented on #17169
Sorry @anirudhcavale but this example doesn't make sense (or I'm not understanding the rules).

You say you have a rule to scale down when CPU < 30% that has a cool down time of 30 minutes. At 12:00 you invoke the scale down rule. Wouldn't that mean you can't do any scale operations for another 30 minutes? Then you say at 12:11 the CPU is running at 93% so Rule 1 kicks in. If I understand it corre

[2019-03-07 15:38] stewsters opened #26475 "Reference Doc link broken"
Your link to "Read API reference docs" links to microosft.com, not microsoft.com.
Also when I go to https://westus.api.cognitive.microsoft.com/vision/v2.0/read/core/asyncBatchAnalyze it give me a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f

[2019-03-07 15:40] CHEEKATLAPRADEEP-MSFT commented on #26466
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:41] CHEEKATLAPRADEEP-MSFT commented on #26467
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:42] CHEEKATLAPRADEEP-MSFT commented on #26468
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:43] bladegery opened #26476 "SSO Only Login"
Hi,
Is it possible disable the builtin login of Jira when using the extension?
The main reason we are looking for an SSO solution is security (our users have mfa on already for azure ad), so just adding a button to login is not enough. What I am looking for is an option to disable the built-in login entirely.
The perfect solution would include some break-glass emergency access option, in-case Azur

[2019-03-07 15:43] CHEEKATLAPRADEEP-MSFT commented on #26470
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:44] CHEEKATLAPRADEEP-MSFT commented on #26471
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:45] CHEEKATLAPRADEEP-MSFT commented on #26472
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:46] CHEEKATLAPRADEEP-MSFT commented on #26473
@BreakingBI  Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 15:46] SuperChenSSS commented on #26315
Sorry, I think the issue has not been resolved. Why closed? @PRMerger16 @mike-urnun-msft

[2019-03-07 15:47] MGoedtel commented on #26109
@NisreenJ & @KrishnaG-MSFT - I'll bug the article and evaluate this scenario further to determine what are all the possible causes of this (e.g. group policy, enterprise security tool, misconfiguration, etc.) and how to best document how to address it, including the method Krishna suggested with the config script.  I'll create a task for this and see when I can follow-up on it. Thanks.

[2019-03-07 15:48] SeanFeldman opened #26477 "Missing new client information"
These exceptions are for the old client, not the .NET Standard (new) client.
For example, [TimeoutException](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions#timeoutexception) is no longer a system exception, but a library specific one [`ServiceBusTimeoutException`](https://github.com/Azure/azure-service-bus-dotnet/blob/b70ddf652c4c520fc127407be209b0811

[2019-03-07 15:54] erenik opened #26478 "AKS Auto-scaler Preview ARM template support"
Hi, we would like to start experimenting with the AKS auto-scaler functionality using VMSS. Is support for ARM templates coming soon or what is the status there?

[2019-03-07 15:58] MGoedtel commented on #25951
@brianbar-MSFT - Coincidental to your issue, I had a request from PG to update that section of the article to remove the list of unsupported regions.  The article was updated and reflects reality.  Thanks.  #please-close

[2019-03-07 15:59] RohitMungi-MSFT commented on #26445
@JCGitRep I have received a response from the project team and they are currently prioritizing providing access to conversation learning. Could you please let us know if you have a an existing relationship or a contact with Microsoft  who manages your account? If Yes, Please have them contact me @"Rohit Mungi" and I can help them with moving this forward for you.

Also, Please note that this servi

[2019-03-07 16:05] MikkelHegn commented on #26438
We haven't found any general issues in thsi workflow. However, I noticed that the initial links to the donwload pages, and the WebPI installer is using http, could this be a case where you have http (unencrypted) blocked?

If you install the platform installer using this link: https://www.microsoft.com/web/downloads/platform.aspx - does it work then?

[2019-03-07 16:09] koboltmarky commented on #21014
@YvonneArnoldus  i thank you for sharing your solution.
From my point of view it is still a bug. I have the following code snippet:

`
 configuration TestConfig
 {

    Import-DscResource -ModuleName PSDesiredStateConfiguration

    $cert=Get-AutomationCertificate -Name "DSCCertificate"

    Node IsWorkerService
    {
        Script ImportCrt
        {
            GetScript =
            {

[2019-03-07 16:23] sowsan commented on #25604
Thank you @diberry . Appreciate it!

[2019-03-07 16:27] #26421 closed

[2019-03-07 16:27] shashishailaj commented on #26402
@SogoGolf First of all thank you for trying out azure. We apologize for the inconvenience. The main page for Active Directory lists all the details about the azure active directory for anyone who would like to understand the same . https://docs.microsoft.com/en-us/azure/active-directory/

You can go ahead and understand the Azure AD developer index here which contains links about almost all of the

[2019-03-07 16:30] diberry commented on #25604
It won't publish until Monday or Tuesday. #please-close

[2019-03-07 16:31] #25604 closed

[2019-03-07 16:42] philippschaefer4 commented on #24339
Hello again,
I'm still not able to get my https-aci-webservice running. The hint from @jberezanski-mdg was promising. I prompted our admin to get a DNS-entry for the web services IP. He also provided me with a Certificate- and a Key-File that function as wildcards. So it is a certificate for all URLs ending in *.companyname.com.  I then _updated_ the service with the appropriate method of AciWebse

[2019-03-07 16:42] mrbullwinkle commented on #24692
As far as why no Cloud.RoleInstance for .NET,  it is just an oversight so thank you for pointing that out. We are in a publishing freeze right now due to some upgrades that are happening on the repo, but I will get this added first thing next week I have a task created internally tracking this.

The code below would work just fine:

[code]

As far as how to think about Cloud.RoleName it can be hel

[2019-03-07 16:46] brlewi commented on #25921
Test

[2019-03-07 16:48] Karishma-Tiwari-MSFT commented on #26405
Thanks @yashesvi :)
@joeljanke We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-07 16:48] #26405 closed

[2019-03-07 16:52] Karishma-Tiwari-MSFT commented on #26260
@AdamSharif-MSFT Since you have discussions going on in this issue: https://github.com/microsoftdocs/azure-docs/issues/26387
I will close this one. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-07 16:52] #26260 closed

[2019-03-07 16:55] #21349 closed

[2019-03-07 17:06] ohadschn commented on #5530
@rboucher `Add-AzureRmMetricAlertRule` creates classic Application Insights alerts (we are using it all the time).

[2019-03-07 17:07] SaurabhSharma-MSFT commented on #26238
@sujayvsarma We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-07 17:07] #26238 closed

[2019-03-07 17:07] SaurabhSharma-MSFT commented on #26275
@DavidTaig We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-07 17:07] #26275 closed

[2019-03-07 17:08] mayurigupta13 commented on #25042
There isn’t any particular reason behind the size selection. It is only meant for throughput calculation to provide recommendation for actual replication. A rounded figure of 1GiB helps in this calculation.

[2019-03-07 17:19] Movarda commented on #8247
@YutongTie-MSFT @diberry I am having the same issue: testing KB shows my own msg, while web bot chat and channels keep showing the default one "No good match in FAQ.". Despite having changed it on App service resource as you advised, it does not work. Please advice.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/faqs

[2019-03-07 17:29] MarileeTurscak-MSFT commented on #26456
@stevencl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 17:37] MarileeTurscak-MSFT commented on #26377
Gotcha. I wanted to make sure this comment was referring to the screenshot and not something in the document itself.

I am escalating this feedback to the product team to see if they might be able to put in this enhancement.

[2019-03-07 17:49] ShubhaVijayasarathy commented on #25924
The article gives you the list of logs we output, including the schema. That is not sufficient? could you give us more examples or specs on what you are looking for?

[2019-03-07 17:52] rimman commented on #26352
Once you have created database with provisioned throughput, you can change the throughput at database exactly like how you will change the throughput at container level. It is the same API, it is supported via CLI, SDK, Rest API and Portal as well.’

[2019-03-07 17:58] alinamstanciu commented on #23842
This issue seems to be related with your deployment or maybe with a region issue. Could you please delete your ADT instance and start from scratch? If this is still happening, please create a support ticket in portal so our engineers take over this issue.
Thank you

[2019-03-07 17:58] MisinformedDNA opened #26479 "Binding to container"
Can you provide an example of binding to a `CloudBlobContainer`? I have tried the following with and without the attribute:

[code]

But I get an error every time. Here's part of the error I'm seeing:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-

[2019-03-07 17:59] shudson302 commented on #26390
Is there an issue with versioning?  Clean and build did not fix it.

[testXF.zip](https://github.com/MicrosoftDocs/azure-docs/files/2942150/testXF.zip)
![capture](https://user-images.githubusercontent.com/9217242/53977660-21252080-40cf-11e9-82df-e0d1f535ab23.PNG)

Microsoft Visual Studio Enterprise 2017
Version 15.9.7
VisualStudio.15.Release/15.9.7+28307.423
Microsoft .NET Framework
Version 4.7.03

[2019-03-07 18:01] sujayvsarma commented on #26238
Why was this closed without waiting for more information?

[2019-03-07 18:02] hrasheed-msft commented on #26472
@BreakingBI Thanks Brad. I have submitted a PR to update the document.

[2019-03-07 18:02] Josh-Broughton commented on #26352
In order to do this at a container level using the Azure CLI, the command is the following:
az cosmosdb collection update
The collection name is a required parameter. How would this work for a database?

[2019-03-07 18:03] WilliamBerryiii commented on #26401
@Mike-Ubezzi-MSFT & @SnehaGunda  - I believe the latest libraries are published as azure-cosmosdb ... see link here: https://search.maven.org/artifact/com.microsoft.azure/azure-cosmosdb/2.4.4/jar ... would it be helpful to have a PR with the updated links? Or am I wrong?

[2019-03-07 18:05] Mike-Ubezzi-MSFT commented on #26190
@Raviafkumar Thank you for the additional details. I have a couple of questions for you?

- Is this entire solution deployed in a single Azure region?
- Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)?

Does the following address look familiar?

Is `b63da5ce2d2d.tr27.northeurope1-a.worker.database.windows.net` the host value for your Azure SQL Database instanc

[2019-03-07 18:06] YutongTie-MSFT commented on #16646
@sdgilley @ericlicoding Sorry for the late response, I am investigating it again to see what will happen now, will get back to you soon. Thanks.

[2019-03-07 18:06] MicahMcKittrick-MSFT commented on #26391
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-07 18:07] Mike-Ubezzi-MSFT commented on #26386
Thank you for the additional detail. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 18:15] YutongTie-MSFT commented on #26475
@stewsters Good catch!!! Thanks for the feedback. Let me try to fix it and get back to you soon.

[2019-03-07 18:15] AjayKumar-MSFT commented on #26232
@vmaruhpe, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-07 18:15] #26232 closed

[2019-03-07 18:18] Mike-Ubezzi-MSFT commented on #12754
@debanandaghosh Did you login to the `master` database and run the command? The below doc indicates it is supported:

[Copy a transactionally consistent copy of an Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-copy)

I hope this helps. There are some transactional differances between Azure SQL that runs in a VM, a Managed Instance, Single Instance, and Manage

[2019-03-07 18:27] ecfan commented on #22570
@Mattp123, please confirm? Thanks!

[2019-03-07 18:29] paule96 commented on #26379
I mean this link:

![image](https://user-images.githubusercontent.com/11291885/53979923-4c2f6480-410f-11e9-8e79-62893b39a3eb.png)

[2019-03-07 18:31] weyCC81 commented on #26210
What i would like to say is:
If you supplicate a NSG to s Subnet, Rules are getting applied to each VM not just de Subnet. It is like you would apply this NSG to each VM in the Subnet.

[2019-03-07 18:33] YutongTie-MSFT opened #26480 "Test"
Test for GitHub function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e9009
* Content: [Recognize printed, handwritten text - Computer Vision - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-serv

[2019-03-07 18:33] hrasheed-msft commented on #26467
@dagiro David could you take a look at this as part of your freshness updates? When you submit the PR just include the URL to this issue in the comments so they get linked and we can close it.

[2019-03-07 18:35] YutongTie-MSFT commented on #26480
@YutongTie-MSFT
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-07 18:35] #26480 closed

[2019-03-07 18:37] Placid7 opened #26482 "Can't see any of my LogAnalytic workspaces..."
When I go to add my workspace to Sentinel I can't add my existing LogAnalytic workspace. Is this correct? DO we really need to duplicate the data that is already being collected???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd

[2019-03-07 18:43] Placid7 opened #26483 "Tenant"
What are you referencing with the term "tenant" Azure documentation uses this term for multiple things....

"Contributor permissions to your tenant to enable Azure Sentinel
Tenant global or security admin permissions"

Is the Tenant the subscription of the User Account logged in? Please link to documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-07 18:45] Eldorian opened #26484 "What Windows Server Page?"
Step 1 of Installing the agent is says "On the Windows server page" - what is this referring to? Trying to find where we download the agent and this doesn't seem very clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ea7a65-07e2-1af6-9ce2-a1909aedd31b
* Version Independent ID: d9a077ff-5241-36ad-524a-33ee850e110f

[2019-03-07 18:47] KrishnaG-MSFT commented on #26109
@MGoedtel Thanks for the update!
@NisreenJ Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-07 18:47] #26109 closed

[2019-03-07 18:50] BharathNimmala-MSFT commented on #26230
@psatyaa Thanks for confirming on the first issue.

Related to Resource Group allocation for virtual machines , there is Lab setting which can help you change the default resource group allocation.

1. Click on existing DevTest Lab in the Azure portal (create one if not already present)
2. Click on "Configuration and policies"
3. Click on Lab settings and you should see below option

![Resource Gr

[2019-03-07 18:53] Mike-Ubezzi-MSFT commented on #21114
@juniwang Can you please navigate to [Microsoft GitHub organizations](https://repos.opensource.microsoft.com/) and ensure you have joined MicrosoftDocs. I see you have a Git alias but since you are not part of azure-docs, there are some assignment issues in getting this to you. Thanks!

[2019-03-07 18:55] Mike-Ubezzi-MSFT commented on #21488
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 18:56] MicrosoftGuyJFlo commented on #26449
@smudgecat you can get to MyProfile from myapps.microsoft.com and clicking on your profile then "Edit security info". Links will be updated to use MyProfile as it moves out of public preview and becomes GA. Users can also browse directly to their security info using the short link aka.ms/setupsecurityinfo

[2019-03-07 18:57] Mike-Ubezzi-MSFT commented on #21653
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 18:57] MicrosoftGuyJFlo commented on #26333
@pawp81 People ask what we consider strong passwords so therefore it is in the doc.

[2019-03-07 18:58] Mike-Ubezzi-MSFT commented on #22581
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 18:59] Mike-Ubezzi-MSFT commented on #23801
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:00] Mike-Ubezzi-MSFT commented on #25447
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:01] Mike-Ubezzi-MSFT commented on #25568
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:02] vikramdadwal opened #26487 "Is support for multi-tenant in roadmap? if yes when can we expect ?"
Is support for multi-tenant in roadmap? if yes when can we expect ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d522-966ed17ea27f
* Version Independent ID: 91e3eeb7-8602-9e26-21c3-1fa70d03a354
* Content: [Set up sign-in for an Azure Active Directory organization - Azure Active Directory B2C](https

[2019-03-07 19:02] YutongTie-MSFT commented on #26475
@PatrickFarley Hi Patrick, I have fixed the link. As I am reading the document, I find the title of the "Batch Read File" content is "Read API", it is a little bit confused for customers. Do you think we can change it to make it clearer? Thank you.

[2019-03-07 19:03] Mike-Ubezzi-MSFT commented on #25965
@gauravmalhot For awareness.

[2019-03-07 19:03] MohitGargMSFT commented on #26478
@erenik Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community  memb

[2019-03-07 19:03] pawp81 commented on #26333
@MicrosoftGuyJFlo I understand but saying that something applies to "Strong Password only" (In Characters not allowed and Password restriction) implies that there is an option to configure a not strong password.

[2019-03-07 19:04] #26471 closed

[2019-03-07 19:04] #26472 closed

[2019-03-07 19:05] MohitGargMSFT commented on #26482
@Placid7 Thanks for your feedback! We will investigate and update soon on it.

[2019-03-07 19:06] Mike-Ubezzi-MSFT commented on #20318
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:07] MohitGargMSFT commented on #26483
@Placid7 Thanks for your feedback! We will investigate and update soon on it.

[2019-03-07 19:07] Mike-Ubezzi-MSFT commented on #20486
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-07 19:07] #20486 closed

[2019-03-07 19:07] apulliam opened #26488 "Polybase is not defined"
Need link to definition of Polybase in first paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 015f6f83-a6be-c2e8-773f-5220ec8ca41a
* Version Independent ID: b962bde9-c513-ced9-6c91-013fc0c2baf5
* Content: [What is Azure SQL Data Warehouse?](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-war

[2019-03-07 19:08] Mike-Ubezzi-MSFT commented on #21041
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:09] mike-urnun-msft commented on #26315
@SuperChenSSS Looks like the PR was already created and the merger bot has automatically closed this issue.

Re-opening so that @DixitArora-MSFT would review and take the right course of action.

[2019-03-07 19:09] Mike-Ubezzi-MSFT commented on #21281
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 19:10] Mike-Ubezzi-MSFT commented on #22513
@nabhishek For awareness.

[2019-03-07 19:11] smudgecat commented on #26449
@MicrosoftGuyJFlo Thanks, but that doesn’t solve the problem of getting to the page from a site that the average user uses. Why can’t it link from the my account link mentioned above. MFA is a hard enough sell with getting people to try and memorise where they need to go to set it up.
Facebook: settings | Security & login | Use 2FA
Gmail: Google Account | Security | 2 step verification
Why make it

[2019-03-07 19:11] mike-urnun-msft commented on #26477
Hi @SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-03-07 19:12] mike-urnun-msft commented on #26479
Hi @MisinformedDNA Thank you for your feedback! We will review and update as appropriate.

[2019-03-07 19:15] vmaruhpe commented on #26232
Thank you Ajay, appreciate the followup. I will go through  the article.

[2019-03-07 19:21] MicahMcKittrick-MSFT commented on #26458
@Huesie I have assigned this issue to the content author to review and see if it makes sense to add some additional context.

[2019-03-07 19:21] oleh-zheleznyak commented on #21047
@tjrobinson , I'm happy it helped.

I have raised a pull request to to update the docs:
https://github.com/MicrosoftDocs/azure-docs/pull/26489

When it's going to be merged, or even if it will be merged at all is up to maintainers of the repo.

@David-Noble-at-work , would you be so kind to review the aforementioned PR?

Thanks for your time!

[2019-03-07 19:24] mrbullwinkle commented on #25999
Just confirming that this request will be addressed this month, during the current sprint. Thanks again for bringing this to our attention.

[2019-03-07 19:31] Ayanmullick opened #26490 "How do I connect to Log Analytics thru PowerShell?"
How do I configure Backup Reports' Diagnostics settings to connect a vault to a Log Analytics workspace thru PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f1ffca1-98ba-0b91-1c6f-a92dde893b30
* Version Independent ID: 8e14882f-c7b2-3f27-554f-973a41e1d380
* Content: [Configure reports for Azure Backup](http

[2019-03-07 19:34] MarileeTurscak-MSFT commented on #26456
Thanks for the feedback, @stevencl ! I have assigned this issue to the content author, @prashanthyv , to look into.

@prashanthyv let me know if this is something I should re-assign or divert to anyone else.

[2019-03-07 19:38] AjayKumar-MSFT commented on #26397
@bradhowe, Typically, as soon as you add any rules to IP Restrictions, there is an automatic deny all that happens. If you want to deny a block and allow the rest, then create a rule to deny the block then add a rule after that to allow 0.0.0.0/0. The rules are executed in numerical order and When there are one or more entries, there is then an implicit deny all that exists at the end of the list.

[2019-03-07 19:39] MicrosoftGuyJFlo commented on #26333
Making the following change in our private repo to address this based on your feedback.

![image](https://user-images.githubusercontent.com/25777989/53984176-a90a2b00-40cd-11e9-9e46-bec56ec21cda.png)

[2019-03-07 19:46] Bievens opened #26491 "Validate Identity Provider Certificate"
How is "Clear the Validate Identity Provider Certificate check box" in step 4 C acceptable practice? Without this function how does the PA know the SAML assertion is valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e69aa64-39b1-c520-b803-cdf72d374e2f
* Version Independent ID: bca80503-0cb4-427b-5789-97dfe3dc6b59

[2019-03-07 19:54] Placid7 opened #26492 "Document doesn't apply the update"
Nothing in this document details actually apply the update from Azure security Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2480656-ebe3-d20a-4c9f-ae9ed1c483c1
* Version Independent ID: dca55042-e02d-f48f-24cb-d4691bed1502
* Content: [Apply system updates in Azure Security Center](https://docs.microsoft.com/

[2019-03-07 19:57] SaurabhSharma-MSFT commented on #26363
@gate502 I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.

[2019-03-07 19:59] MicahMcKittrick-MSFT commented on #26387
@AdamSharif-MSFT we actually mention that scenario in this doc

If you are using strict zone balancing any scale attempts that would cause the VMSS to be consider unbalanced would fail. So personally, I would always use best-effort zone balancing so ensure your VMSS is always able to scale correctly. But if you did have some configuration that require perfectly balanced VMSS instances than strict

[2019-03-07 19:59] #26470 closed

[2019-03-07 19:59] #26473 closed

[2019-03-07 19:59] #26468 closed

[2019-03-07 20:03] gate502 commented on #26363
Thanks for following up!

We figured out how to do it by adding a rule for each UPN.

On the inbound rule add a scoping filter that userprincipalname contains @my.domain.com

Then add another rule with the 2nd UPN, with the scoping filter and change the transformation.

One the last rule DO NOT ADD the scoping filter otherwise the rules will give errors in AAD Connect for usertype.

Hope this help

[2019-03-07 20:04] sanpil commented on #20463
For training jobs, it is pretty straight-forward (since conda supports R): https://github.com/danielsc/azureml-and-r. But it requires the user to call a python wrapper that then calls Rscript

[2019-03-07 20:08] SaurabhSharma-MSFT commented on #26363
@gate502 Glad to hear that you are able to figure it out and thanks a lot for providing your solution over here as this will help others as well. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-07 20:08] #26363 closed

[2019-03-07 20:11] mgreenegit commented on #16021
Just fyi, all of our docs and examples should be consistent now, including the VMSS quickstart template:
https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-automation-dsc/nested/provisionServer.json#L92

[2019-03-07 20:14] SaurabhSharma-MSFT commented on #26365
@bt102 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-07 20:17] SaurabhSharma-MSFT commented on #26378
@aujla0991 Thanks for your feedback however this is already documentation under [overview ](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-overview#overview)section of Azure Disk Encryption documentation.

[2019-03-07 20:17] PaulSells opened #26493 "Typo in Resource Health Schema Example"
The line below in the resource health schema example has an unnecessary comma

 "cause": "PlatformInitiated",

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea4f285b-49ce-0734-ce73-09fdbda2bebb
* Version Independent ID: 131f39cc-5a06-a92a-5553-d0bb0e0d6807
* Content: [Understand the webhook schema used in activity log

[2019-03-07 20:22] mjuza opened #26494 "Get-AzureStackLog script does not work as posted"
The script on this page for collecting AzureStack logs after a failure of Test-AzureStack does not work as written.  I suggest you add the commands that are needed to make it work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eacef4e6-6608-bfab-ceea-d081b9c48e3a
* Version Independent ID: 949c9f41-b7e1-1c38-beec-6d3a9

[2019-03-07 20:26] YutongTie-MSFT commented on #18086
@rothja @roygara Don't know why this thread not pop in my mailbox, sorry for the delay.

[2019-03-07 20:28] tFable opened #26495 "Cdnverify confusion"
Hello,

The article mentions:
"Source: Enter your custom domain name, including the cdnverify subdomain, in the following format: cdnverify._&lt;custom domain name&gt;. "

But it then continues to say "For example, cdnverify.www.contoso.com."

If the example followed the rule, shouldn't the example be cdnverify._www.contoso.com ?

Does the rule wrongly include an underscore or are the various exam

[2019-03-07 20:33] Mike-Ubezzi-MSFT commented on #26401
@WilliamBerryiii Thanks for the additional detail. As those changes are made upstream from docs (as reflected in the Maven repo item for azure-cosmosdb), the docs will reflect these changes as @SnehaGunda has pointed out. Providing this detail here though is very helpful.

[2019-03-07 20:37] AmanGarg-MSFT commented on #26339
Here is a detailed documentation on custom metric dimensions - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#dimension-keys.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-07 20:37] #26339 closed

[2019-03-07 20:44] YutongTie-MSFT commented on #26392
@mahilleb-msft Hi, this is a question about the roadmap, do you have any idea about it? Thanks.

[2019-03-07 20:50] JRiggenbach opened #26496 "Logging/Notifications"
It's been about 24 hours since I added a policy to delete any blobs older than 90days, but I'm still these blobs in my storage account.  I do I know if my policy has actually been executed?  Is there any logging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent I

[2019-03-07 20:54] Karishma-Tiwari-MSFT commented on #26014
The product team has recommended that the way to prevent Xorg and other tools from failing with long PCI ids on RHEL 7.6 is to install the LIS download.
The product team is aware of this issue.
Thanks for bringing this to our attention. We will close this issue for now. I will share once I have more updates on this. If you have more questions, tag me in a comment, I will reopen it and we will glad

[2019-03-07 20:55] seguler commented on #23994
@FlaveC and @misteru5 - document has now been updated with the latest release. We have introduced a flag called `--delete-destination=false` which is set to false by default meaning AzCopy won't delete files in the destination when the file cannot be found in the source. Other possible options are true, and prompt. If you choose 'prompt', you will be prompted for confirmation for each delete, wher

[2019-03-07 20:55] seguler commented on #23994
#please-close

[2019-03-07 20:56] mswilson4040 opened #26497 "Visual Studio Code Error doesn't match documentation"
Either Visual Studio Code is wrong or the documentation is wrong:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#host-json

[code]

![image](https://user-images.githubusercontent.com/19480392/53988402-3a7e9a80-40d8-11e9-8189-d7be1e1fa057.png)

maxPollingInterval | 00:00:02 | The maximum interval between queue polls. Minimum is 00:00:00.100 (100 ms).
-- | -

[2019-03-07 21:02] wandhydrant commented on #26014
@Karishma-Tiwari-MSFT I do not fully understand what you mean with the "install the LIS download"; of course I did follow the step "Install the latest Linux Integration Services for Hyper-V and Azure.", "wget https://aka.ms/lis" etc. I also specified the PCI Bus ID for the NV6 instance type. Still, Xorg fails for me on 7.6, and it works on 7.5, always having followed the instructions to the letter

[2019-03-07 21:07] jimdial commented on #26210
@malopMSFT

[2019-03-07 21:08] jimdial commented on #25676
@Anupamvi

[2019-03-07 21:10] jimdial commented on #23293
@KumudD

[2019-03-07 21:11] jimdial commented on #23257
@mattreatMSFT Matt? @KumudD

[2019-03-07 21:11] MarileeTurscak-MSFT commented on #26492
@Placid7
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-07 21:23] TravisCragg-MSFT commented on #26474
@alexsmithMSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 21:44] #20351 closed

[2019-03-07 21:44] #20463 closed

[2019-03-07 21:44] #23994 closed

[2019-03-07 21:45] #25951 closed

[2019-03-07 21:45] #8946 closed

[2019-03-07 21:55] JeanRenard commented on #25049
i've got the same error.
I tried to create it on eastus and ukwest but i get the same error.

[2019-03-07 21:56] gatornation11 opened #26498 "trouble getting it working"
Got everything built, no errors along the way. On the service side I get this error...
listening on port: 2222...
initiating stream
error initiating TCP stream: Error: Not found
error on the client socket: Error: read ECONNRESET
initiating stream
error initiating TCP stream: Error: Not found
error on the client socket: Error: read ECONNRESET

the device side looks like this, I suppose this is norm

[2019-03-07 21:59] rezasherafat commented on #26498
@gatornation11, can you confirm that your IoT Hub is in one of [the supported regions](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-streams-overview#regional-availability)? We are expanding these regions in near future.

[2019-03-07 22:00] rezasherafat commented on #26498
Also, you can find your device stream logs in Azure monitor. See [instructions here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-streams-overview#troubleshoot-via-device-streams-activity-logs).

[2019-03-07 22:02] gatornation11 commented on #26498
It isn’t. I’m in East.
Bummer, can I move it?

From: Reza Sherafat <notifications@github.com>
Sent: Thursday, March 7, 2019 5:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eric Logeson <eric.logeson@Scinovia.onmicrosoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] trouble getting it working (#26498)

@gatornation11<https://github.com/g

[2019-03-07 22:05] femsulu commented on #26484
@Eldorian Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-07 22:06] msmbaldwin commented on #11505
We will soon be revamping all of our hub and landing pages; at that time, Security should become much more discoverable. #please-close

[2019-03-07 22:07] femsulu commented on #26490
@Ayanmullick Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-07 22:11] SnehaGunda commented on #21047
@mindlessroman @oleh-zheleznyak @damienestewart apologies for the delay in getting back on this thread, you your are correct, the commands are wrong.

@oleh-zheleznyak submitted a doc fix, which we will merge and I had a chat with our product team regarding the Git issue. I updated the commands to be more specific with other options. I will go through some review process. Also made a complete doc

[2019-03-07 22:13] Karishma-Tiwari-MSFT commented on #26014
@wandhydrant Thanks for sharing those details. I am talking internally to the product team and will let you know as soon as I hear back. :)

[2019-03-07 22:15] #26475 closed

[2019-03-07 22:16] mdgattuso commented on #13983
Sorry for the delay here. Currently the rule are approved manually by Verizon. They are working on automating this in Q2CY19.

[2019-03-07 22:18] KumudD commented on #13983
#please-close

[2019-03-07 22:21] j-martens commented on #25979
#please-close

[2019-03-07 22:21] shalosi opened #26499 "Please update that EA customers, RBAC reader and billing role can see costs"
[Hello in this document is informing that EA customers cannot set Reader and Billing RBAC roles for the subscriptions with AO and DA view charges enabled, please update it since that is functional for EA customers]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cba5fe7-e340-af57-4dc0-34cd5b7ba5d0
* Version Independent

[2019-03-07 22:24] IGx89 opened #26500 "Out of date?"
Hello! Deployment Center looks very different to me than what's shown in the screenshots. It appears to be a wizard now and requires me to select a source control provider (which is irrelevant to me, since I use zip deploy). There's no toolbar anymore, and thus the "Deployment credentials" button is no longer there either. I don't know how to reset/manage app or user level credentials anymore

---

[2019-03-07 22:29] shalosi commented on #26499
This is updated here: https://docs.microsoft.com/en-us/azure/billing/billing-getting-started#EA

[2019-03-07 22:37] Karishma-Tiwari-MSFT commented on #26383
I tried to reproduce this but I was able to get the result for nodeResource group.
I ran this command:
`az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv`

The output is the node resource group which is in the format: MC_myResourceGroup_myAKSCluster_region

Can you please look for your node Resource group in the Azure portal. Go to resource groups on

[2019-03-07 22:42] TravisCragg-MSFT commented on #11505
@dlapiduz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 22:42] #11505 closed

[2019-03-07 22:43] TravisCragg-MSFT commented on #13983
@alohaninja We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-07 22:43] #13983 closed

[2019-03-07 22:44] axisc commented on #22937
doc update underway

@spelluru   #please-close

[2019-03-07 22:48] SeanFeldman commented on #22937
The update PR is internal to Microsoft. Would it be possible to close public facing issues once PRs are merged and it's possible to confirm changes were made?

Not saying it will happen, but _if_ PR falls through the cracks and a public issue is closed, it feels counter productive. Thank you for understanding.

[2019-03-07 22:48] JasonWHowell commented on #26323
@iljoong wonder if skipping ordinal numbers means that the columns in the source text are not imported. I didn't test it, but thinking aloud, in case it is intentional.

It does seem like EventType is a key column in this weather dataset though, so that doesn't make complete sense. Thanks, Jason

[2019-03-07 22:51] JasonWHowell commented on #26090
#please-close This change has gone live on the docs site.  https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-use-reference-data

[2019-03-07 22:53] MartinJaffer-MSFT commented on #26114
Could you please share some screenshots?  When I create a General Availability Data Factory, I can find the UI.  If I could see your screen, maybe I could be of more help.
Your Data Factory is version 2, not version 1, correct?

[2019-03-07 22:56] iainfoulds commented on #26383
@mmisztal1980 What version of the Azure CLI are you using. Latest version is 2.0.59. IIRC, the `nodeResourceGroup` property was exposed around version 2.0.42

Please try updating to the latest version of the CLI, if needed - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2019-03-07 22:58] sdgilley commented on #25961
That's a great idea.  I'll work on this and provide more information here once it's done.

[2019-03-07 23:02] iainfoulds commented on #26219
Thanks for the feedback, @rjygraham. These updates are scheduled to publish on Monday, 12th March.

#in-progress

[2019-03-07 23:02] MarileeTurscak-MSFT commented on #26492
Hi @Placid7 ,

That information is provided in the links under the doc. These updates are on the operating system level and when you click into the message, the portal itself provides instructions for how to do the updates.
See the screenshot in this article: https://docs.microsoft.com/en-us/azure/security-center/security-center-update-os-version

CC: @rkarlin

[2019-03-07 23:03] MarileeTurscak-MSFT commented on #26492
Hope this helps!

We will proceed to close this thread but if you have further questions feel free to tag me in the comments or open a new issue.

[2019-03-07 23:03] #26492 closed

[2019-03-07 23:05] dpaulino commented on #21130
I am seeing the same issue as @payneBrandon regarding the protection level of NullScope.
![image](https://user-images.githubusercontent.com/7649589/53995620-74589c80-40ea-11e9-9905-c5e70b7af769.png)

Any updates regarding this?

[2019-03-07 23:06] sdgilley commented on #25947
Thanks for the suggestion. I'll add more information here once I've investigated further.

[2019-03-07 23:08] #21047 closed

[2019-03-07 23:08] Mike-Ubezzi-MSFT commented on #26488
@apulliam Thank you very much for providing this detailed feedback. I have assigned to the content owner to evaluate and update as appropriate.

[2019-03-07 23:08] #25979 closed

[2019-03-07 23:08] rachel-msft commented on #20758
Still not able to reproduce. If you currently have a server that's got 0.0.0.0 set using Azure CLI or REST but your Azure resources are not able to connect, please @ me.

This is what I experienced:
Here is the Connection Security page for my server, with no firewall rules set
![image](https://user-images.githubusercontent.com/32173602/53993870-681e1080-40e5-11e9-980c-0a33b698398d.png)

I try to c

[2019-03-07 23:08] #26173 closed

[2019-03-07 23:09] rachel-msft commented on #20758
#please-close

[2019-03-07 23:18] TravisCragg-MSFT commented on #26494
@mjuza Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-03-07 23:21] ctaggart opened #26501 "logs for container restarts"
Is there a way to get metrics or logs for container restarts? I want to create an alert in Azure Monitor when too frequent container alerts occur. I suspect this is a common scenario, but can't find it documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160bf6c0-980c-bf64-8828-cda81c3ccb83
* Version Indepen

[2019-03-07 23:22] msdpalam opened #26502 "The legend in the diagram, next to read, insert, upsert is vague"
The legend in the diagram, used above, next to read, insert, upsert, etc. is vague. Some readers thought they are representing RUs. It would be helpful to elaborate what these boxes are representing (is it RU or is it Replica etc.). Also, some information on read (point read), vs query (select query) in the context would be helpful for the readers.

---
#### Document Details

⚠ *Do not edit this s

[2019-03-07 23:28] PatrickFarley commented on #12513
#please-close

[2019-03-07 23:29] MicahMcKittrick-MSFT commented on #26501
Thanks for the question! We are investigating and will update you shortly.

[2019-03-07 23:29] mike-urnun-msft commented on #26497
Hi @mswilson4040 Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-07 23:34] MicrosoftGuyJFlo commented on #26333
#please-close

[2019-03-07 23:42] Alberto-Vega-MSFT commented on #26104
@HaraldHeide @oleTobiesen  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-07 23:45] SaurabhSharma-MSFT commented on #26333
@pawp81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-07 23:45] #26333 closed

[2019-03-07 23:47] JGILLEAN opened #26505 "Standard HDD Pricing Discrepancy"
The pricing on this page specifies, "$0.0036 per 100,000 transactions for standard HDDs."  However, the Managed Disks Pricing page specifies, "$0.0005 per 10,000 transactions for Standard HDD Managed Disks." (https://azure.microsoft.com/en-us/pricing/details/managed-disks/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-03-07 23:50] PatrickFarley commented on #22945
Hi, I'm not getting any errors when I run it. Have you tried downloading the sample app and running it with your own key and endpoint URL? https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample

[2019-03-07 23:52] v-kydela opened #26507 ""Create a Windows VM in the Azure portal" says to use Windows Server 2016 Datacenter"
I see no resource type called Windows Server 2016 Datacenter:

![image](https://user-images.githubusercontent.com/41968495/53997415-f51a9700-40f0-11e9-9651-98b45fdd35a2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd

[2019-03-07 23:52] rezasherafat commented on #26498
The most straightforward option is to (re-)create a new Hub in central US.

[2019-03-08 00:00] PatrickFarley commented on #24797
Hi @AlexShkunov , yes, local image analysis is also supported by this API call. See the reference doc - https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236

#please-close

[2019-03-08 00:02] cregnier opened #26511 "More folders needed"
There are new certs and thus the folder descriptions/names and the PowerShell code needs to be updated.

api_appservice
ftp_appservice
sso_appservice
wildcard_dbadapter
wildcard_sso_appservice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 971246f9-5230-23d8-24a3-34c12d5ed2de
* Version Independent ID: eba8d225-3a2d-382

[2019-03-08 00:05] MarileeTurscak-MSFT commented on #26487
@vikramdadwal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 00:05] cregnier commented on #26511
something along the lines in the code as $directories = 'DBAdapter','AppService','ACSBlob','ACSQueue' ...............

[2019-03-08 00:10] TravisCragg-MSFT commented on #26495
@mdgattuso can you verify that the underscore is a typo?

[2019-03-08 00:11] MarileeTurscak-MSFT commented on #26487
It's not supported out-of-the-box, but you can add multi tenancy options by using regular Azure AD tenant alongside a B2C tenant along with custom policies. Users from multiple Azure AD tenants can sign into Azure AD B2C without configuring a technical provider for each tenant.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-commonaad-custom

We do not have i

[2019-03-08 00:12] MarileeTurscak-MSFT commented on #26487
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments.

[2019-03-08 00:12] #26487 closed

[2019-03-08 00:12] debanandaghosh commented on #12754
Mike

My question is why i am getting error while using Azure SQL DB Mi(similar as sql server)

Regards
Deb

Sent from my iPhone

[2019-03-08 00:15] MarileeTurscak-MSFT commented on #26453
Thanks, @PhilCorney -

I've assigned this issue to the content author to look into.

[2019-03-08 00:18] MarileeTurscak-MSFT commented on #26284
"Claim Type: The JwtClaimType and SamlClaimType elements define which claim this claim schema entry refers to."

The JwtClaimType, then, would include both access tokens and id tokens since they are both JWTs like you mentioned.

[2019-03-08 00:19] MarileeTurscak-MSFT commented on #26284
Hope this helps! If you have further questions or if this isn't the answer you were looking for, feel free to reach out to me on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-08 00:19] #26284 closed

[2019-03-08 00:20] ctaggart opened #26512 "Trigger alerts on container events like Unhealthy & Killing?"
I'm able to reproduce the example where the container events of `Unhealthy` and `Killing` occur using this example:

![image](https://user-images.githubusercontent.com/80104/53998413-5dcc3880-411e-11e9-99ef-9e01fe870b43.png)

I can't figure out how to trigger alerts in Azure Monitor off of these events. Is there a way to trigger alerts off of these events? We were expecting something in Activity L

[2019-03-08 00:26] karthikdevarakonda opened #26514 "TrackAvailability fails to log the custom test results"
I used the TrackAvailability API to send the custom results but it fails to send the data even with the correct instrumentation key. Can you please provide some detailed documentation on that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0

[2019-03-08 00:28] MicrosoftGuyJFlo commented on #26449
MyProfile is brand new and is a preview that is why it isn't fully rolled out yet.

[2019-03-08 00:33] MarileeTurscak-MSFT commented on #26476
@bladegery
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 00:33] Adam-Smith-MSFT commented on #26496
@JRiggenbach  Thank you for the valuable feedback,we are investigating the issue.

[2019-03-08 00:34] MarileeTurscak-MSFT commented on #26491
@Bievens
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 00:36] jeevansd commented on #26476
@bladegery Yes, we have already heard this feedback. Also we are actively looking into this change. So as soon as we deliver this we will let you know. Can you please provide your company details to us here SaaSApplicationIntegrations@service.microsoft.com

[2019-03-08 00:39] Mike-Ubezzi-MSFT commented on #12754
@debanandaghosh Run the command from the master database and not the database being copied.

[2019-03-08 00:40] kazshi opened #26518 "Missing information about error hresult"
My customer did dynamic encryption to HEVC + Dynamic Packaging (HLS) and checked HLS CMAF URL, then "MPE_ENC_ENCRYPTION_NOT_SPECIFIED_IN_URL" response returned. We can assume the response means from context of the result however I couldn't find any information of the response (what it means exactly, what need to do to solve, etc.) in the documentation as far as I searched. Would you please documen

[2019-03-08 00:42] dawidkala commented on #24834
I like the idea behind the change to using the mytenant.b2clogin.com instead of the generic login.microsoftonline.com one.

It really doesn't work though. I had to change back to the login.microsoftonline.com to be able to configure my authentication flow.

Please consider reverting this documentation to the old way until the new one actually works.

[2019-03-08 00:45] KeiroKamioka0000 opened #26519 "Add "AKS does not support IPv6""
Please consider to add, AKS does not support IPv6 still.

AKS support IPv6 address.
https://github.com/Azure/AKS/issues/460

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions for Azure

[2019-03-08 00:45] rulises opened #26520 "Steps for key encryption key creation are outdated and incomplete"
The example for key encryption key creation is using a mix of Az module and the AzureRM module. Specifically Step 3 needs to be updated to:
Add-AzureKeyVaultKey should be updated to Add-AzKeyVaultKey
Get-AzureKeyVaultKey should be updated to Get-AzKeyVaultKey

And this steps are incomplete, or assuming that the user has granted 'create' permission on the new key vault. If the steps are follow as i

[2019-03-08 01:03] kazshi opened #26521 "Please updated 'Enable Application Insights integration' content"
Please update 'Enable Application Insights integration' content.
'Application Insights' setting UI on Create has been updated and 'APPINSIGHTS_INSTRUMENTATIONKEY' is set automatically after created a new function app enabling Application Insights.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3d

[2019-03-08 01:08] MarileeTurscak-MSFT commented on #26520
@rulises
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 01:15] mike-urnun-msft commented on #26521
Hi @kazshi Thank you for your feedback! We will review and update as appropriate.

[2019-03-08 01:15] solankisamir commented on #14213
#please-close

[2019-03-08 01:18] SnehaGunda commented on #24332
@Cephei we can confirm that use <keyspace> command is working, I added more examples for each API to the doc. We will now close this issue if you don't have further questions.

#please-close

[2019-03-08 01:30] MicahMcKittrick-MSFT commented on #26507
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-08 01:30] MicahMcKittrick-MSFT commented on #26519
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-08 01:31] MicahMcKittrick-MSFT commented on #26505
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-08 01:31] MicahMcKittrick-MSFT commented on #26512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-08 01:32] iljoong commented on #26323
I discovered this error while I'm testing the sample query below.

https://docs.microsoft.com/en-us/azure/data-explorer/web-query-data#work-with-the-table-grid

Step 6 didn't work due to that EventType values are not ingested.

Also, wrong ordinal number didn't correctly ingest the csv values. For example, all values of `StormSummary` are null if you used original source code.

[2019-03-08 01:34] sladeedmonds commented on #25956
As requested, askcosmosdb/at/microsoft.com was informed of the issue on 3/2 and I have received no response.

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Monday, March 4, 2019 2:22:44 PM
To: MicrosoftDocs/azure-docs
Cc: Slade Edmonds; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Script does not work as expected (#25956)

@sladeedmonds<https://github.com/s

[2019-03-08 01:48] SuperChenSSS commented on #26315
I have seen the changes, thanks for your quick action.

[2019-03-08 01:48] #26315 closed

[2019-03-08 01:53] olofh-msft opened #26522 "How did "udfTax" become "udf.tax"?"
In the example code for User defined function / .NET version, the function is registered with
           id="udfTax"
but when it is actually used in a query, it looks like.
           ...WHERE udf.tax(t.income) &gt; ....
How did "udfTax" become "udf.tax" ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-

[2019-03-08 02:04] olofh-msft commented on #26522
Oh, I see.  "udf." is the magic prefix used for all references to user defined functions.  "tax" is the name of the function in the javascript.  It is completely coincidental (and confusing AF) that the id passed in for the id is "udfTax".
The example code would be better if the id passed in was "your_id_here" instead of "udfTax".

[2019-03-08 02:15] juniwang commented on #21114
@Mike-Ubezzi-MSFT Not so sure whether you are talking to the right person. I'm losing the context. Besides, I joined MicrosoftDocs already

[2019-03-08 02:16] femsulu commented on #26493
@PaulSells Thanks pointing this out. We are actively investigating and will resolve soon.

[2019-03-08 02:20] femsulu commented on #26499
@vikramdesai01 can you please review the above doc-enhancement request ?

[2019-03-08 02:32] DixitArora-MSFT commented on #26315
@SuperChenSSS I have created the PR and added the note regarding the access rights. Thanks so much for providing the feedback that help us in improving the documentation.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 02:46] femsulu commented on #25042
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-08 02:46] #25042 closed

[2019-03-08 02:47] hiraldesai opened #26525 "netcoreapp2.2"
Can I use target framework netcoreapp2.2 in a v2 Azure Function csproj yet?

&lt;TargetFramework&gt;netcoreapp2.1&lt;/TargetFramework&gt;
&lt;AzureFunctionsVersion&gt;v2&lt;/AzureFunctionsVersion&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8

[2019-03-08 02:49] #14213 closed

[2019-03-08 02:58] jeremyhagan commented on #26316
Hi,

The command you have listed is not the same as the command on the Microsoft Docs page I was referencing. I didn't use the two -KeyEncryption param (perhaps because I am not using KEK). The $RID and $URI params I referenced were populated using the same powershell commands as you used.

[2019-03-08 02:59] Silverlight42 opened #26526 "Microsoft.Azure.EventHubs.Processor"
I believe the Get Started section should indicate we must include the package Microsoft.Azure.EventHubs.Processor to use EventProcessorHost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b109d8b1-4a76-6c2c-b7a1-f473c3723a68
* Version Independent ID: 2ffb9a42-52e2-8aa1-86cc-d1033c42ec49
* Content: [Programming guide -

[2019-03-08 03:02] #26090 closed

[2019-03-08 03:03] CHEEKATLAPRADEEP-MSFT commented on #26500
@IGx89 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:05] CHEEKATLAPRADEEP-MSFT commented on #26502
@msdpalam Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:06] CHEEKATLAPRADEEP-MSFT commented on #26511
@cregnier Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:07] CHEEKATLAPRADEEP-MSFT commented on #26514
@karthikdevarakonda Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 03:08] CHEEKATLAPRADEEP-MSFT commented on #26518
@kazshi Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:10] CHEEKATLAPRADEEP-MSFT commented on #26522
@olofh-msft Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:11] CHEEKATLAPRADEEP-MSFT commented on #26525
@hiraldesai Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 03:13] CHEEKATLAPRADEEP-MSFT commented on #26526
@Silverlight42 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 03:29] femsulu commented on #15334
fixed.

[2019-03-08 03:29] #15334 closed

[2019-03-08 03:53] KeiroKamioka0000 opened #26535 "Static inbound IP as IPv6"
Is it possible to have IPv6 Static Inbound IP with IP-based SSL binding?

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm
Public IPv6 addresses can only be assigned to Internet-facing load balancers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3f7-569f-

[2019-03-08 04:09] sideeksh commented on #24670
It applies to OS disk as well as data disks. Does this answer your question?

[2019-03-08 04:19] CHEEKATLAPRADEEP-MSFT commented on #26422
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 04:19] #26422 closed

[2019-03-08 04:20] CHEEKATLAPRADEEP-MSFT commented on #26446
@HemantChandurkar We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 04:20] #26446 closed

[2019-03-08 04:22] CHEEKATLAPRADEEP-MSFT commented on #26350
@steveaf We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 04:22] #26350 closed

[2019-03-08 04:29] karimisoup commented on #12513
Thanks Patrick. It's been so long since first post I'm not sure if I ever found a solution for this. If I get back into it and run into the same issue I'll open a new ticket.

[2019-03-08 04:29] #12513 closed

[2019-03-08 04:32] PramodValavala-MSFT commented on #26229
@jlee-vi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 04:32] #26229 closed

[2019-03-08 04:35] jakaruna-MSFT commented on #26415
@KeiroKamioka0000 @dcbrown16 The issue is resolved.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-08 04:35] #26415 closed

[2019-03-08 04:37] A144546 opened #26541 "Is the command and documentation right?"
I'm running:
```New-AzSqlServerDNSAlias `
    –ResourceGroupName  $1ResourceGroupName `
    -ServerName         $1SqlServerName `
    -ServerDNSAliasName $SqlServerDnsAliasName;```
But it errors saying that the parameter:  `ServerDNSAliasName ` does not exist.
Looking at the documentation at:
https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqlserverdnsalias?view=azps-1.4.0
It does

[2019-03-08 04:38] BryanTrach-MSFT commented on #26454
@i3anaan I also had issues with the steps provided. I have reassigned your feedback to the doc author to have them determine if this is a regression in the docs or the product.

@msangapu Please let me know if this appears to be a regression in the product.

[2019-03-08 04:54] jakaruna-MSFT commented on #25133
@saifuddin123 I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-08 04:54] #25133 closed

[2019-03-08 05:08] jakaruna-MSFT commented on #26507
@v-kydela You can select windows server. After that click on select the version as shown in the below screen shot (Look for "select a software plan" on the bottom right ).
![image](https://user-images.githubusercontent.com/43405697/54008614-5db75180-418d-11e9-822d-9f35b3e021f3.png)

You can also click on create in the above screenshot and then you can change the version  in the "create virtual mac

[2019-03-08 05:11] KalyanChanumolu-MSFT commented on #26541
Thank you for the detailed feedback. We are actively investigating and will get back to you soon. 

[2019-03-08 05:21] PramodValavala-MSFT commented on #26312
@neil-rubens Glad we could help!

Do note that with [IP Restrictions](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions?toc=%2fazure%2fazure-functions%2ftoc.json), some functionality in the portal is not accessible anymore.
The workaround for that would be to temporarily add your public IP for management. You could also remove the restriction temporarily but the former

[2019-03-08 05:21] #26312 closed

[2019-03-08 05:22] Alberto-Vega-MSFT commented on #26176
@JhaNishant I'm sorry for the inconvenience. This code sample needs a revision I was getting a different error:

[code]
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-08 05:26] KetanChawda-MSFT commented on #26289
@PingPongSet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 05:26] #26289 closed

[2019-03-08 05:36] celamb4 opened #26547 "Per pod policies"
Seems like network policy via calico was recently released in preview. Should this be updated or not until General availability? https://docs.microsoft.com/en-us/azure/aks/use-network-policies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b

[2019-03-08 05:40] neeleshray commented on #26237
@sujayvsarma
Apologies for the delay.
A Managed Identity can not be added to another tenant as kind of a Guest User. So the MSI can not access resources from another tenant/subscription resource.

[2019-03-08 05:40] msrini-MSIT commented on #23320
@way2arun , you can drop an email to AZCommunity@microsoft.com, so that I can take a look.

[2019-03-08 05:41] haoxin commented on #25898
I've tried again. There is no this error, but Twilio doesn't allow to send SMS to China cellphone. Anyway, thank you!

[2019-03-08 05:45] neeleshray commented on #26279
@mikeg-roebbelen
The Azure AD License would be assigned at the Tenant level not to a particular user. The user with the appropriate Admin Rights could manage the required access.

[2019-03-08 05:47] #24332 closed

[2019-03-08 05:48] angoyal-msft commented on #26421
Link has been updated using the pull request. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 05:51] msrini-MSIT commented on #26505
@JGILLEAN , Both the values are correct, but $0.0036 is for Unmanaged Disk. I will assign this to author to get the change reflected.

[2019-03-08 05:52] DixitArora-MSFT commented on #26347
@NathanielRose  If I understand your use case you are trying to generate the git credentials to clone the repo from API service and push policies. As you are trying to automate this through terraform which require you to use the REST API.

I agree with you that documentation is not intuitive with REST API calls for obtaining git credentials .

Regarding your query the value provided is still not a

[2019-03-08 05:58] shashishailaj commented on #26476
@bladegery Could you please send us an email as suggested by Jeevan on SaaSApplicationIntegrations@service.microsoft.com related to your request ?

[2019-03-08 06:02] shashishailaj commented on #26402
@SogoGolf Hope you are doing great . Just checking if you require any other details. Please tag me to your reply or open a new issue and we will surely help you on the same.

Thank you.

[2019-03-08 06:08] ManojReddy-MSFT commented on #26491
@Bievens Thanks for reporting this. I have assigned this to the author to validate this and provide more details.

[2019-03-08 06:15] msrini-MSIT commented on #26093
@aquibqureshi26 , Azure Global VNET peering supports Standard Load balancer now. Here is the documentation : https://azure.microsoft.com/en-us/updates/global-vnet-peering-now-supports-standard-load-balancer/

I guess, this solves your major problem. Let me know if you have any further questions.

[2019-03-08 06:17] TravisCragg-MSFT commented on #26511
@cregnier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate

[2019-03-08 06:18] poelstra commented on #25049
Are you on a free trial account?

JeanRenard <notifications@github.com> schreef op 7 maart 2019 22:55:47 CET:

[2019-03-08 06:24] bladegery commented on #26476
@jeevansd @shashishailaj what details do you need exactly?

[2019-03-08 06:24] SumanthMarigowda-MSFT commented on #24649
@danchemistruck I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-08 06:25] YvonneArnoldus commented on #21014
Hi,

I believe your script should indeed work. I can reopen the issue but you need to answer the question because I used another method.

[2019-03-08 06:26] SnehaAgrawal-MSFT commented on #26535
@KeiroKamioka0000 Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 06:38] xiaoharper commented on #25225
@KeiroKamioka0000 The maximum amount of endpoints for classic web service is 5000.

[2019-03-08 06:39] shashishailaj commented on #26344
@michaelspinks A pull request for this change to update the screenshots on the page showing secret retrieval are already underway and would be updated in a few days. The changes have been sent to the author and we have

For information , I am just posting the detail here.

Step 1:- We create a secret named Password.
![image](https://user-images.githubusercontent.com/532022/54011893-28653080-419a-1

[2019-03-08 06:40] hmayer1980 commented on #26114
Hi,

I just went through he process of creating a totally new ADF V2 .

Simple Pipeline with a wait and  tumbling window trigger current enabled…

Edit Trigger

There is no trigger dependency…

Same dialog from within the Triggers instead of the Pipeline  …

I tried Chrome because ADF V2 experience is not running on IE or FireFox (I do use an Azure Windows Server VM).

If you need more please feel

[2019-03-08 06:43] angoyal-msft commented on #26228
@wmengmsft Could you please share the additional information required.

[2019-03-08 06:47] shashishailaj commented on #26449
@smudgecat As explained by @MicrosoftGuyJFlo , MyProfile is currently quite new hence its not fully rolled out as yet. At this point we may have to wait for that sometime.

[2019-03-08 06:54] KeiroKamioka0000 commented on #25225
@xiaoharper
Thanks!

[2019-03-08 06:54] PramodValavala-MSFT commented on #26465
@lesterw1 [Subscriptions](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-subscriptions) are indeed the most common way of doing it.

But there are other ways to secure your APIs as well
- [Client Certificates](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates-for-clients)
- [OAuth 2.0](https://docs.microsoft.com/en-us/

[2019-03-08 07:01] angoyal-msft commented on #26502
@msdpalam Thanks for your valuable feedback. I have assigned this issue to the content author to update the document appropriately. So that there is no confusion going forward.
@rimman Could you please look at this issue and update the document appropriately.

[2019-03-08 07:12] SumanthMarigowda-MSFT commented on #26207
@shjagar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 07:12] #26207 closed

[2019-03-08 07:14] #26237 closed

[2019-03-08 07:16] aquibqureshi26 commented on #26093
yes, that I've already mentioned in my query.

If I do not have any user connecting cross region wise for Listener then Basic load balancer should take care of the issue and need not to worry about standard load balancer.

Thanks for your suggestion.

[2019-03-08 07:19] chanmmn opened #26549 "The first picture is obsolete"
The first picture should look like this https://1drv.ms/u/s!AlUZkNIm6J4hhCR2jGyUgNWS0qy_?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3134d5b-be27-1348-39e9-feec1e50c158
* Version Independent ID: def4bb93-3b8d-37ce-7acb-328fad2058a7
* Content: [Load data into Azure SQL Data Warehouse by using Azure Data Factory](ht

[2019-03-08 07:22] EwaldStricker commented on #26438
Hi I have a simular problem. I can only install with my admin account having no internet access. I do have Internet access with my general account but cannot install. Do you have a offline installation option?
KR Ewald

[2019-03-08 07:40] SumanthMarigowda-MSFT commented on #26355
@navin22 Data Box online data transfer products, Data Box Edge and Data Box Gateway, create a link between your site and Azure storage. This makes moving data to and from Azure as easy as working with a local network share. Their high-performance transfer capabilities take the hassle out of network data transport. Data Box Edge is also an artificial intelligence (AI)-enabled edge computing applian

[2019-03-08 07:55] msrini-MSIT commented on #26093
"Global VNet Peering now supports Standard Load Balancer. Previously, resources in one virtual network could not communicate with the front-end IP address of an internal load balancer over a globally peered connection. The virtual networks needed to be in the same region. With this announcement, this is no longer the case. You can communicate with the internal IP address of a Standard Load Balance

[2019-03-08 07:55] #26093 closed

[2019-03-08 07:56] mahilleb-msft commented on #26392
@QinyingLiao  - would you be able to answer this?

[2019-03-08 08:08] ramraj4k commented on #17684
Has Internet connectivity is accessible on Nested VM inside the Hyper-v Console ? ...noticed still there is an issue to access the internet. Any advise ??

[2019-03-08 08:14] sffamily commented on #13077
@elephanteddie As the current product tier offers, a single instance allows max 100 units, with each unit having 1,000 max concurrent connections. So a single instance can be used to broadcast to 100k concurrent users. For the scenarios you described, to send the same message to 1 million connected users, you can just provision 10 instances, with each instance being 100unit, then in your app setup

[2019-03-08 08:15] CHEEKATLAPRADEEP-MSFT commented on #26549
@chanmmn Could you please share the picture? I'm unable to see.

When I click on the picture you have shared: Gives this error
![image](https://user-images.githubusercontent.com/44426401/54016280-5c475280-41a8-11e9-8815-42cb396085bb.png)

[2019-03-08 08:16] sffamily commented on #13077
#please-close
answered and prompted for upcoming doc to cover this topic.

[2019-03-08 08:17] CHEEKATLAPRADEEP-MSFT commented on #26526
@Silverlight42  I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-08 08:20] MikkelHegn commented on #26438
Direct download links are available in the release notes, which you can find on the team blog: https://blogs.msdn.microsoft.com/azureservicefabric/ look for the release announcements.

[2019-03-08 08:22] sffamily commented on #13833
@simeyla we've just announced the GA support for SignalR Service binding for Azure Functions. please refer to https://aka.ms/binding-ga for the announcement and docs on explaining this scenario: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-azure-functions ; developer guide: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-development-config an

[2019-03-08 08:23] sffamily commented on #13833
#please-close
the newly published docs on SignalR Service doc site, have details related to the user questions.

[2019-03-08 08:33] KalyanChanumolu-MSFT commented on #26541
@A144546 Thank you for reporting this. I am able to reproduce the issue.
This is being assigned to the content author to update as appropriate. 

[2019-03-08 08:35] SogoGolf opened #26550 "clarify / provide example of how this can be used with native iOS and Android apps"
can you please provide details (maybe a quickstart) on how SignalR's messages (per your diagram) can be consumed on a native iOS, and native Android app?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1d6c61-4719-4994-ab77-a927233b215e
* Version Independent ID: 7a4330fc-39ee-d4a7-4295-daa1935e8d74
* Content: [Build R

[2019-03-08 08:39] julesman101 opened #26551 "Minor Documentation error..."
The picture at the top of the document shows the Azure Firewall sitting in a subnet called "FW-SN".  The text above the picture indicates that the name of the subnet hosting the firewall must be "AzureFirewallSubnet".  Would it be possible to correct the picture and label the subnet in which the Azure Firewall is sitting as "AzureFirewallSubnet"?
Thanks!

---
#### Document Details

⚠ *Do not edit

[2019-03-08 08:41] sffamily commented on #14068
@LisandroSu Thanks for translating the customer question. The current sample code can be successfully build and run. the scripts folder under wwwroot is not required. the JS is nested in index.html Please try the sample on PC or Mac by following the readme doc. Thanks!

[2019-03-08 08:42] sffamily commented on #14068
#please-close
The issue mentioned has been validated to have no impact on the sample code.

[2019-03-08 08:46] mikeclearbank commented on #25924
But the article doesn't provide information on what the content of these messages can be. As example, the article explains that the Operational Log message has a 'Status' property, but what status can be generated? What EventProperties will be available?

Its difficult to write Log Analytic queries if i dont know what data will be available.

[2019-03-08 08:47] julesman101 opened #26552 "Improve the clarity of the scenarios"
Would it be possible to provide a small picture of the 2 scenarios please?  Its not clear to the reader what the relationship of public/Internal IP / Loadbalancer / Firewall / Workload is.   A picture the the ELB scenario, and another for the ILB scenario would help immensely.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-03-08 08:50] yhvicey commented on #25614
Any update?

[2019-03-08 08:55] sffamily commented on #11232
#in-progress

[2019-03-08 08:59] PramodValavala-MSFT commented on #26525
@hiraldesai Yes. This has been available from version [2.0.12265](https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12265) of the run time.

I will raise a PR to update the doc to reflect that as well.

[2019-03-08 09:03] CHEEKATLAPRADEEP-MSFT commented on #26466
@BreakingBI  I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs-pr/pull/68882](https://github.com/MicrosoftDocs/azure-docs-pr/pull/68882).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2019-03-08 09:03] #26466 closed

[2019-03-08 09:04] RayBrindley opened #26553 "Generalized image errors when creating new VM"
We've been trying to follow the above instructions but so far cannot get a VM to boot afterwards. Everything succeeds until we create a new VM.

Every new VM that we create gets stuck with the a Command prompt with the title (only visible through Boot Diagnostics)
Administrator: ERROR HANDLER

What are we doing wrong. The VM is running smoothly. the Generalization succeeds, i've also tried Quit af

[2019-03-08 09:04] smudgecat commented on #26449
Thanks for the feedback. As the current https://account.activedirectory.windowsazure.com/r#/profile is equally hard to find / remember, it would good for the experience to be improved.

[2019-03-08 09:05] sffamily commented on #23005
@jtheisen thank you for the comments, and we welcome community feedback. Feel free to open issue at https://github.com/azure/azure-signalr/issues . For SignalR client, it is at ASP.NET Core SignalR repo: https://github.com/aspnet/AspNetCore/tree/master/src/SignalR .  We just published a doc link, under "References" section, there is a link "Azure SignalR Service Protocol" that provides more inform

[2019-03-08 09:05] sffamily commented on #23005
#please-close

[2019-03-08 09:06] chanmmn commented on #26549
I test the below link it is fine. I am not sure how can you paste the picture here but I can't.
https://1drv.ms/u/s!AlUZkNIm6J4hhCR2jGyUgNWS0qy_
I try to share it using google drive as well, the link as below.
https://drive.google.com/file/d/1j47rV8oV8Z_cRFl8ZWLjwH2g9vLVN9aa/view?usp=sharing

[2019-03-08 09:07] PramodValavala-MSFT commented on #26521
@kazshi Yes. The UI when creating a new function app has indeed changed **_but_** setting the key is still required if the Application Insights is created separately from the function app.

Then again, the new UI does support linking an existing Application Insights resource while creating the function app too but I believe its best to still mention how the resources are linked nonetheless.

![ima

[2019-03-08 09:12] sffamily commented on #25134
@corykroll the updated doc on service internal may help with this question: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-internals

[2019-03-08 09:13] SogoGolf commented on #26402
Thanks for the info. I think there's a disconnect here which is possibly my fault. Whilst there is a SEA of information that you've listed about above (including 2 versions, V1.0 and V2.0...) all I am looking for, is a service that lets us manage authentication of users to our mobile apps on iOS and Android.

Thats it.

Did you follow the link I provided to Firebase and look at how they present/pr

[2019-03-08 09:18] jquinn99002 opened #26554 "Reccomended Windows Updates Configuration within OS"
Is there any documentation, on how you recommend us to configure Windows Updates within the OS? Eg: Should we use Sconfig and set them to Manual?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab2afa-e9e7-f897-eebd-4c46c45c1215
* Version Independent ID: 994a3147-4c52-b74c-3227-35d6c46ef470
* Content: [Manage updates

[2019-03-08 09:35] kazshi commented on #26521
@PramodValavala-MSFT Thanks for your explanation. I understand your point but I couldn't understand that from the current content. I'm expecting to see up-to-date content anyway.  Thanks.

[2019-03-08 09:41] sffamily commented on #26550
ASP.NET Core SignalR Team has released a Java client SDK: https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2
It can work with SignalR Service from an Android native app.

We'll add sample in the next a few weeks.

For iOS native app, there is no official Swift or Object-C client SDK yet, it is being worked on.

[2019-03-08 09:41] jakaruna-MSFT commented on #26547
Thanks for your question. We are investigating and we will update you shortly.

[2019-03-08 09:48] JasperWind opened #26555 "Documentation on additional attribute to determine access level missing"
Hi,

I work for Bynder and we have noticed that some of our customers struggle to configure azure to set up an additional attribute to be sent to Bynder that determines the level of access of each user. Can you add that to this page or at least post a reference to an existing page on how to do that? I'm referring to changing the manifest for the bynder application in Azure to send an additional at

[2019-03-08 09:50] msrini-MSIT commented on #26553
@RayBrindley , Thank you for posting here.

While creating the Generalized image, can you make sure you did Sysprep to the guest OS and followed the step 3 and 4 mentioned in the Doc?

**In the System Preparation Tool dialog box, select Enter System Out-of-Box Experience (OOBE) and select the Generalize check box.

For Shutdown Options, select Shutdown.**

[2019-03-08 09:51] jakaruna-MSFT commented on #26501
@ctaggart Azure container instances logs can be moved to Azure Monitor logs([Link](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-log-analytics)).
I didn't find any Azure provided feature to move the container events to Azure monitor logs.
I reached out to the product team internally.
I will post here once i have an update.

[2019-03-08 09:52] jakaruna-MSFT commented on #26512
#26501 Related issue

[2019-03-08 09:56] realolap opened #26556 "Power BI desktop does not work well with this method"
The ability to load balance and specifically retain a permanent server address is sorely missed in AAS, so I was really happy to find this workaround.
However if you attempt to open a pbix from the Windows File Explorer that uses such a connection, you will be presented with an error "Authentication failed: User ID and Password are required when user interface is not available."
If you start PBI d

[2019-03-08 09:57] jelmerS2 opened #26557 "How to set up your own app?"
The SDK is very complex. There's functions going into the native library, and coming out somewhere else. This makes it hard to grasp what's happening and to make my own application.

Could you give some directions how one is supposed to implement one's one application on this platform? What do you recommend?
I could adapt the demo scripts, but would have to stay in your namespace (Microsoft.Azure.

[2019-03-08 10:03] jakaruna-MSFT commented on #26250
Its not possible right now.
Service takes Full backups daily and snapshots every 5 minutes.
There is a feedback [here](https://feedback.azure.com/forums/597982-azure-database-for-mysql/suggestions/20146819-access-database-recovery-backup-configuration-in) which is asking for Portal access for the backup configuration. Please upvote there.

If you want to take a backup and persist it outside of the

[2019-03-08 10:07] msrini-MSIT commented on #26551
@julesman101 , Thank you for your feedback. Yes, you are right, the text in the image has to be "AzureFirewallSubnet". I will assign it to the Author to get it fixed.

[2019-03-08 10:08] msrini-MSIT commented on #26551
@vhorne , Can you please edit the text it the pic and update it to "AzureFirewallSubnet" ?

[2019-03-08 10:16] msrini-MSIT commented on #26552
@julesman101 , Thank you for your Idea, I will assign this to Author to check how we can enhance this documentation.

[2019-03-08 10:26] HaraldHeide commented on #26104
Hi.  Got the sample to work on a Samsung S8. Using Unity 2018.3.7f1.
Changed plattform to Android.  Imported arcore-unity-sdk-1.7.0.unitypackage.
Running Color space Linear. Both Scriting Space: Mono and il2cpp worked when deploying directly from Unity to Phone. (No Android studio needed).  This is very great. Can't wait to check out stability between phones, timeperiods.

[2019-03-08 10:35] PramodValavala-MSFT commented on #26525
@hiraldesai We have updated the doc which should reflect in a few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 10:46] SadiqhAhmed-MSFT commented on #25221
@KeiroKamioka0000 Just a reminder for information on your ask.

[2019-03-08 10:48] DixitArora-MSFT commented on #26497
@mswilson4040 It was milliseconds in v1 but for v2 it is a TimeSpan value.

[https://github.com/MicrosoftDocs/azure-docs/issues/16263](url)

It is still milliseconds in v1 [https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#queues](url)

[2019-03-08 10:49] gumaflux commented on #22700
Any update on this?

[2019-03-08 10:52] SadiqhAhmed-MSFT commented on #24576
@badbob001 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 10:52] #24576 closed

[2019-03-08 10:55] SadiqhAhmed-MSFT commented on #24670
@Jask2002 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 10:55] #24670 closed

[2019-03-08 10:56] SadiqhAhmed-MSFT commented on #24751
@samuela We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 10:56] #24751 closed

[2019-03-08 10:56] neerajvayu commented on #19334
What is the latest version of mobility service, i can see its 9.22 on few machines and 9.18 on few machines, what happen when Microsoft release new version of it, Is it automatically updated on machines or do we need to update manually.
Is reboot required for this or any sort of downtime?
How will I know when Microsoft release new version of it, please help

[2019-03-08 10:58] SadiqhAhmed-MSFT commented on #25104
@branstraub We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 10:58] #25104 closed

[2019-03-08 11:02] #25221 closed

[2019-03-08 11:05] ccnoecker commented on #22133
Are there any plans to provide support for RHEL 7.6 in the near future?

[2019-03-08 11:10] KetanChawda-MSFT commented on #26406
@ParthiKarnan To continuously read messages from Topic you can write a Azure Function with Service Bus Trigger. Below are the documentation link for the same.
[Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus)

[2019-03-08 11:13] RayBrindley commented on #26553
Thanks for checking. I've now tried 6 times and it happens every time. I've
definitely clicked the options from steps 3 and, 4.

On Fri., 8 Mar. 2019, 8:50 pm KARTHIK SRINIVAS, <notifications@github.com>
wrote:

[2019-03-08 12:00] shashishailaj commented on #26555
@JasperWind Thank you for your feedback . We will engage the document author for review and update.

[2019-03-08 12:02] #26525 closed

[2019-03-08 12:03] msrini-MSIT commented on #26553
@RayBrindley , Just to narrow down the issue, can you try again with a new VM and follow the exact steps mentioned in the doc? If that worked, then it has to do something with your old VM image and you can raise a support ticket to get it resolved.

[2019-03-08 12:08] frostygoth commented on #26484
@Eldorian

The "Windows Server Page" can be found by opening your Log Analytics Workspace, then Advanced Settings > Connected Sources > Windows Servers. On this page you'll be given your two links to download the windows agent (32 & 64 bit), along with your workspace ID and primary and secondary keys.

Hope this helps!

![download_log_analytics_windows_agent](https://user-images.githubusercontent.

[2019-03-08 12:11] RayBrindley commented on #26553
I'll do that. But is there anything that you can think of that would stop
it from working it's an rds server that we deployed from the Azure
marketplace and configured with all the applications.

Is there any other way to test it? Does console access work in this
instance?

On Fri., 8 Mar. 2019, 11:03 pm KARTHIK SRINIVAS, <notifications@github.com>
wrote:

[2019-03-08 12:37] mdsajidfaizan opened #26559 "AKS Quota limit"
Maximum nodes per cluster in AKS is 100, but we require more than 300. Can anyone suggest how can i go ahead. @gkaleta @mbrancato

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-9bc4-fef6-6ece8a166e84
* Version Independent ID: a9efcfab-f4c5-969b-4cd4-aa86ebd80534
* Content: [Azure Kubernetes Service (AKS)

[2019-03-08 12:55] msrini-MSIT commented on #26553
@RayBrindley , I don't think it is an issue with the platform as such. I suspect something went wrong when you did sysprep. Let me know the result of your repro with new image, based on that we can proceed further.

[2019-03-08 13:09] juchom commented on #26203
Ok, I've asked the question on the forum, but according to the doc in the best practices CI/CD you're saying:

"Data Factory CI/CD script. Before the Resource Manager deployment step in CI/CD, you must take care of things like stopping the triggers, and different kind of factory cleanup. We recommend using this script as it takes care of all these things. Run the script once before the deployment,

[2019-03-08 13:17] oleTobiesen commented on #26018
I managed to solve this issue on Android. Make sure that the minimum API level is 26 (Android 8.0). Also, I had better luck using IL2CPP than mono. I also activated ARM64 support, but I'm not sure if that had any impact.

[2019-03-08 13:18] shashishailaj commented on #26402
My apologies for the confusion . I was not sure if you were looking for using Azure AD for your internal company users or for the consumers of your application . I took the liberty of checking your website and I now understand that you are running a business to consumer product and in your case Azure AD B2C would be the ideal solution.

Could you please check Azure AD B2C Documentation Located her

[2019-03-08 13:19] ahauge6 commented on #25880
Since I am also on an android device, do I have to manually re-setup my authenticator app on my new device? I tried but still am not getting push notifications for MFA coming from my organization's microsoft account.

[2019-03-08 13:25] shashishailaj commented on #26555
@jeevansd Could you please help with a technical review of this request ?

Thank you.

[2019-03-08 13:27] BhargaviAnnadevara-MSFT commented on #26037
@harry12345678910 We are now going to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation. You may also create a new thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?filter=alltypes&sort=lastpostdesc).

[2019-03-08 13:27] #26037 closed

[2019-03-08 13:40] ChrisJr commented on #19690
Has there been any solution to this issue? I am encountering the same problems even after restarting the app. I am also using the SecretUri string

[2019-03-08 13:49] oleTobiesen commented on #26018
One possible solution is also to reinstall the Android NDK.

[2019-03-08 13:56] ctaggart commented on #26501
@jakaruna-MSFT, I already enabled the container logs to go there. It is the container events that I'm interested in monitoring from Azure Monitor. Thanks for reaching out to the product team.

[2019-03-08 13:57] CHEEKATLAPRADEEP-MSFT commented on #26549
@chanmmn Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

**Note:** Azure is growing faster everyday and you will notice changes.

![image](https://user-images.githubusercontent.com/44426401/54032349-59b02180-41d7-11e9-993b-04d837db2403.png)

To paste the picture in Github, I would suggest you to use "Snipping Tool"

[2019-03-08 14:00] CHEEKATLAPRADEEP-MSFT commented on #26554
@jquinn99002 Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 14:02] techmechnegi opened #26560 "Connecting app to azure Hybrid connection through Windows power shell or progmatically"

[2019-03-08 14:03] CHEEKATLAPRADEEP-MSFT commented on #26556
@realolap Thanks for the question! We are investigating and will update you soon.

[2019-03-08 14:04] techmechnegi commented on #26560
I want to connect the hybrid connection to my existing app service. Or want power shell to create and connect hybrid connection to the azure web app.

This mentioned code 👍
getHybirdConnection = Get-AzureRmRelayHybridConnection -ResourceGroupName Default-ServiceBus-WestUS -NamespaceName TestNameSpace-HybirdConnection -Name TestHybirdConnection1
$getHybirdConnection.UserMetadata = "TestHybirdConnec

[2019-03-08 14:05] j-martens commented on #16646
@YutongTie-MSFT Please reassign to Sheri and also assign to XiaoHarper. Thank you!!

[2019-03-08 14:05] CHEEKATLAPRADEEP-MSFT commented on #26557
@jelmerS2 Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 14:06] Birdman65 commented on #19690
@ChrisJr  Are you sure you are using a 2.0 version function to call the secret?  I find it easier to use the first form instead of the alternative method.
I had no code changes myself,
Just had to put the SAS token in the key vault in the form of `https://mystorageaccountnamehere.blob.core.windows.net/mycontainernamehere?st=2018-12-*****..,` Made sure to grant the function rights in the key vault.

[2019-03-08 14:10] JhaNishant commented on #26176
@Alberto-Vega-MSFT That error is still workable around after changing the ArduinoJson 6.x version to 5.x, but it's not good to keep outdated code as tutorials. Hope you understand.

[2019-03-08 14:15] ChrisJr commented on #19690
@Birdman65 Yes, I am using v2 of functions. All the stepts are there. I gave acces, reference using SecretUri.
I tried logging the results in the function and i can see it returns the string entered not the referenced value as I would expect.

[2019-03-08 14:15] Blackmist commented on #25181
Thanks for the feedback @letmaik and @RohitMungi-MSFT

I'll work with @aashishb to publish an update to this document to clarify that it's just SSL and not passing keys in authentication headers, along with pointers to other docs for generic info on keys. We're currently doing some updates to the publishing system, so it will be Monday before the update is published.

[2019-03-08 14:19] CHEEKATLAPRADEEP-MSFT commented on #26559
@mdsajidfaizan Maximum nodes per cluster default value limit is **100**. You can raise support request to increase the quota limit for the AKS cluster.

Certain default limits and quotas can be increased. To request an increase of one or more resources that support such an increase, submit an [Azure support request](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/new

[2019-03-08 14:28] Placid7 commented on #26492
Ok, but the title of the document doesn't make sense then. You aren't using Azure Security Center to update the VMs. You are using Azure Security Center to monitor VMs that need to be updated.

[2019-03-08 14:28] CHEEKATLAPRADEEP-MSFT commented on #26560
@techmechnegi  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2019-03-08 14:30] Placid7 commented on #26483
I actually figured this out. The "tenant" is the user account and the permissions need to be applied in IAM to the subscription level.

[2019-03-08 15:05] cicorias opened #26562 "This Repo when cloned has duplicate file names."
When cloning this repo, the following Git error occurs - there are two file names with different casing.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9962c711-a464-85d7-07dc-29140ff9a715
* Version Independent ID: bc9eaa33-6bb4-6c91-724e-589f022c2159
* Content: [Run a playbook in Azure Sentinel Preview](https:

[2019-03-08 15:05] RohitMungi-MSFT commented on #26263
@diberry Could you please help to escalate this issue with the PG team and add it to their backlog as this looks like an issue with the latest container image?

[2019-03-08 15:10] badalk opened #26563 "What permissions are required on subscription for the end user connecting to AKS cluster using kubectl?"
In my scenario, user abc@xyz.com has Reader role assigned on the subscription and he is trying to deploy a service of type load balancer. Isn't the service principal (used by AKS) permissions enough to provision the load balancer? I am getting errors like The client 'abc@xyz.com' with object id 'xxxxxxxx-xxxx-xxxx-xxxxx-xxxxxxxxxxxx' does not have authorization to perform action 'Microsoft.Resourc

[2019-03-08 15:12] sergaz-msft commented on #26184
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 15:12] #26184 closed

[2019-03-08 15:13] diberry commented on #26263
@RohitMungi-MSFT Yes, I will. Thank you for working through this. #in-progress

[2019-03-08 15:16] Bievens commented on #26491
We were able to confirm this is not required for the PA to validate the SAML signature. This option is to check revocation with CRL or OCSP.

Example with option off

Example with option on

Azure cert will not import as a CA cert. If you want to trick the PA into setting it as one so you can test this function I found a hack here https://bitbodyguard.com/articles/palo-alto-networks/google-cloud-i

[2019-03-08 15:16] #26491 closed

[2019-03-08 15:18] igornishka commented on #24718
@YutongTie-MSFT , we are facing the exact same issue.

Downloading a model (`model.download(target_dir='.', exist_ok=True)`) works perfectly fine through Azure Notebooks, and exact same piece of code fails locally.

**Trace**

[code]

[2019-03-08 15:25] Mahons commented on #24852
@srrengar Hi, just wondering if there has been any update on this?

[2019-03-08 15:31] cijothomas opened #26565 "Need to link to the Ilogger documentation."
Asp.net core onboarding docs should clearly state that inorder to capture Ilogger traces, additional steps need to following and link to the Ilogger docs: https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Indepe

[2019-03-08 15:31] cijothomas commented on #26565
https://github.com/MicrosoftDocs/azure-docs/issues/26565

[2019-03-08 15:38] Placid7 commented on #26482
In case anyone comes across this before there is a resolution. What I did was remove the VM monitor through the portal, stopped the VM, then ran a powershell script to remove the link between the Workspace and the Automation account.

https://social.msdn.microsoft.com/Forums/azure/en-US/cb158610-a065-4cb9-b302-6230de5ca434/how-to-unlink-an-automation-account-that-is-linked-to-an-oms-workspace

Aft

[2019-03-08 15:39] mgreenegit commented on #24784
@avkaur I tried reproducing this.  I this is an artifact of the schema update that happened in 2018, and the example above is combining the new and old property names.  Is that correct?

@emilkontract you should be able to move the properties up from configuration arguments to settings.   I believe configuration arguments is only there for compatibility with older templates.  Avneet can confirm if

[2019-03-08 15:43] JeanRenard commented on #25049
Yes.
Finally, it worked when i dit it with the  panel on the left. ( create a resource).

[2019-03-08 15:55] rcarmo opened #26566 "Documentation still refers to older documentdb module"
The `azure-cosmos`  library has been on PyPi since before this article was posted, it seems.

Also, the example does not show how to enumerate collections inside a database or do queries - a more complete use case that does more than just document insertions is in order here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-08 15:56] BharathNimmala-MSFT commented on #26230
@psatyaa Hope above information clarifies your queries. We are going to close this thread as resolved but if there are any further questions regarding above product information or documentation, please tag me in your reply and we will be happy to continue the conversation. Thanks

[2019-03-08 15:56] #26230 closed

[2019-03-08 15:58] naimco opened #26567 "Problem with IaaS size (Recommended) when using Generatereport with SubscriptionID"
Hello I would like to report a bug in the current version of the tool.

When I use the the tool to generate reports using the SubscriptionID parameter causes the tool the prefer legacy VM size when generating the LaaS sizes.

In the picture below the left shows the sizing results when I used a subscriptionID with a Pay Go offer code.  the right column shows the sizing when using the tool without a

[2019-03-08 16:07] michelnubiral opened #26568 "Cloning Apps ASE v1 to v2"
Can we use the cloning feature to migrate Apps from ASE v1 to ASE v2? Thanks a lot for the info. Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf14087-1765-4636-805c-6faec03d8a9b
* Version Independent ID: 4a6b910d-403e-997a-b010-0942e8ef624c
* Content: [Clone app with PowerShell - Azure App Service](https://

[2019-03-08 16:13] cynthn commented on #26553
@RayBrindley You could also take a look at: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image to see if anything in there might looks like it something you need to fix in your VM. It was written for folks exporting from Hyper-V and uploading to Azure, but some of the prep-work might apply to a VM that is already in Azure.

There is no console access for V

[2019-03-08 16:17] emilkontract commented on #24784
Okey, the code works with the config arguments, so it's not an ongoing issue, but I'll try to move it up to settings and see what happens.
Thanks!

[2019-03-08 16:22] mrbullwinkle commented on #26565
@cijothomas Thank you! This doc is slated for update anyway as it is still .NET Core 2.0 centric and needs to be updated to reflect the experience for 2.2. As part of that update I will make sure we explicitly call out/link to our content on ilogger traces.

[2019-03-08 16:33] rimman commented on #26502
This is not a legend. This is showing that database operations (CRUD and query) consume RUs. The visual is not intended to be taken literally - it shows visually a logical concept of RUs.

This GitHub issue can be closed. Thank you!

[2019-03-08 16:36] SQLDataSide commented on #25888
I found the issue, the issue was that the microphone does not clearly hear your voice, because of the LOW sounding words I was picking, so i used a different language (Chinese) and circled my hand close to the MXCHIP device and said "NeHow" in Chinese ("SORRY if i have a typo in other languages") and then the IOT replied "How Are You Doing",
SO, good news is that he Microsoft documentation is spot

[2019-03-08 16:46] MicahMcKittrick-MSFT commented on #26563
Thanks for the question! We are investigating and will update you shortly.

[2019-03-08 16:54] warmachine opened #26570 "How about a YouTube video?"
Instead of a bunch of text, why don't you have a YouTube video or something where I can see the application in action.   As they say, "a picture is worth a thousand words"  and a video is probably worth a million.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac9e8541-82eb-c4c5-5ed1-ff135a27e5ea
* Version Independent

[2019-03-08 17:04] #13077 closed

[2019-03-08 17:04] #13833 closed

[2019-03-08 17:04] #14068 closed

[2019-03-08 17:04] #20758 closed

[2019-03-08 17:04] #22937 closed

[2019-03-08 17:04] #23005 closed

[2019-03-08 17:05] #24797 closed

[2019-03-08 17:05] MicahMcKittrick-MSFT commented on #25771
Thanks @aanandr

@amandadebler any update?

[2019-03-08 17:06] MicahMcKittrick-MSFT commented on #26384
@rifaterdemsahin I will close this out. If you are still having issues please open a new issue directly on the doc you are having problems with and we can take a look.

[2019-03-08 17:06] #26384 closed

[2019-03-08 17:07] eevaldi-nxlperformance opened #26571 "Tags - Hard Limits?"
I would like to know whether the limits on Tags for the S0 plan could be increased, upon request.   I'm trying to make a decision on whether to incorporate this into a solution, and to do so, I'm going to create at least 800 tags, within a given project.  If it's a no, then this technology cannot be used.  Can you please let me know, ASAP. Thanks!

---
#### Document Details

⚠ *Do not edit this se

[2019-03-08 17:09] iainfoulds commented on #26458
Sorry you ran into issues, @Huesie

In general, yes - you'd always need to wait for the cluster to finish provisioning before moving on to any later steps. The CLI commands in the doc don't use `--no-wait` on the create process as the cluster needs to finish provisioning before additional configuration could be performed. This isn't really unique to this particular issue.

Couple of best practices

[2019-03-08 17:10] MicahMcKittrick-MSFT commented on #26563
@badalk Reader role only allows the users to view the Azure resources but not create new ones

https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#azure-rbac-roles

[2019-03-08 17:12] srrengar commented on #24852
hi @Mahons sorry for the delay. This won't be available for a few months at the soonest. I will update here when/if we decide on a date.

[2019-03-08 17:14] Mahons commented on #24852
Ok thanks for the Update @srrengar

[2019-03-08 17:16] iainfoulds commented on #26519
There's upcoming work for Kubernetes itself to support IPv6, but nothing in the upcoming 1.14 release (https://github.com/kubernetes/enhancements/issues/508). There's then associated work to support that from upstream into AKS.

I'll look at adding a note on current state of IPv6.

@MicahMcKittrick-MSFT For now, #please-close

[2019-03-08 17:18] eross-msft commented on #26402
@shashishailaj  Adding @CelesteDG. She's the person to look into updating and improving our developer-related experiences.

[2019-03-08 17:19] iainfoulds commented on #26559
The PM and engineering teams are currently evaluating new scalability limits. Currently the 100 node limit still applies.

CC: @jnoller

[2019-03-08 17:23] jluk commented on #26512
+ @dkkapur who now owns this I will work on updating doc owner alias

[2019-03-08 17:25] iainfoulds commented on #26547
@celamb4 Can you clarify what your request for the doc is here, please? This doc is more specific to understanding how to correctly plan and prepare for using the Azure CNI network plugin in terms of address space needs. There's then examples on how to deploy an AKS cluster into that network.

There networking conceptual and then best practices docs do mention network policy support in AKS, and li

[2019-03-08 17:26] v-kydela commented on #26507
Thank you, @jakaruna-MSFT

Is that still the recommended version to use? Either way, the document should be updated, right?

[2019-03-08 17:27] hiraldesai commented on #26525
Thank you!

[2019-03-08 17:42] mikeg-roebbelen commented on #26279
@neeleshray
Thanks.  Do we need to do anything in O365 admin center to assign the license to the tenant?  Do we just purchase the license and leave it unassigned?  Or do we sign it to any user?

[2019-03-08 17:47] Karishma-Tiwari-MSFT commented on #26519
@KeiroKamioka0000 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-08 17:47] #26519 closed

[2019-03-08 17:48] olofh-msft commented on #26502
Unfortunately, the diagram does not successfully communicate that database operations consume RUs, nor does it show visually a logical concept of RUs. Instead, it communicates (falsely) that, for example, inserts and upsets take exactly 3x the RUs as a read.  The GitHub issue should not be closed.

[2019-03-08 17:53] NonSecwitter commented on #25197
Isn't this the old path in 2008R2 and earlier domains?

[2019-03-08 17:58] jeevansd commented on #15287
@chetansriv Where we are on this?

[2019-03-08 17:59] Mike-Ubezzi-MSFT commented on #21114
@juniwang I was given incorrect information. The issue is now properly assigned to correct content owner @linda33wj.

[2019-03-08 18:02] rimman commented on #26502
This is an eye-candy, should not be taken literally. We can put a figure capture explicitly saying: this is a conceptual drawing that should not be interpreted literally. Thanks.

[2019-03-08 18:05] YutongTie-MSFT commented on #26081
@jljs Hi Jeffery, I would like to commend you go to post your product feedback to https://cognitive.uservoice.com/

Since based on my understanding, I can understand this should be a good feature but we don't have a straightforward way to do it now. Thank you.

[2019-03-08 18:05] AlexFiala opened #26572 "This documentation doesn't cover data imports from other sources"
In the Portal, you can choose blob storage, Azure SQL, etc as existing data sources for the pipeline, with significantly useful support for text analysis.  Where is this documented for the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea6c938-8392-26ba-c600-a5515ff466e8
* Version Independent ID: 5d58594d-6b0e-82

[2019-03-08 18:06] olofh-msft commented on #26502
How about putting a figure caption saying "This figure has been removed because it was ugly and confusing"?

[2019-03-08 18:07] #26081 closed

[2019-03-08 18:09] YutongTie-MSFT commented on #26445
@JCGitRep Hi, since there is no response for now, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-08 18:09] #26445 closed

[2019-03-08 18:11] Karishma-Tiwari-MSFT commented on #26093
Thanks @msrini-MSIT :)

[2019-03-08 18:15] Mike-Ubezzi-MSFT commented on #26566
@rcarmo Thank you for looking through this tutorial and providing useful feedback. This is going to be reviewed by the content owner and updated as appropriate.

[2019-03-08 18:18] badalk commented on #26563
@MicahMcKittrick-MSFT I know that but my question was, when kubectl create command is executed for a service manifest that is deploying load balancer service, wouldn't it be SP identity that is used to provision the resources? SP has the contributor role on the subscription. Why we need to grant contributor permissions to each user for K8s application deployments?

[2019-03-08 18:25] rishtech commented on #19511
@Jpalo .. Can you find Country attribute in the token, I tried all the combinations possible, but still it was not coming.
App manifest changes already done.

[2019-03-08 18:30] rishtech opened #26573 "Country Attribute is not getting Emitted in the token."
Tried below mentioned policy to send country attribute of user object as location, however it is not getting emitted

New-AzureADPolicy -Definition @('{"ClaimsMappingPolicy":{"Version":1,"IncludeBasicClaimSet":"true", "ClaimsSchema": [{"Source":"user","ID":"country","SamlClaimType":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/location","JwtClaimType":"location"}]}}') -DisplayName "ExtraC

[2019-03-08 18:32] BharathNimmala-MSFT commented on #26565
@cijothomas Thank you for sharing the feedback.

@mrbullwinkle Thank you Michael for rapid response, assigned the issue to you to take it forward. Thanks

[2019-03-08 18:57] craigktreasure commented on #26252
Hey @wassx! Thanks for trying out Azure Spatial Anchors. While most things may work with previous versions of Unity, we are only supporting 2018.3+. Part of the reason for this is that there were some important changes related to HoloLens in 2018.3.

[2019-03-08 18:59] BryanTrach-MSFT commented on #26572
@AlexFiala Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-08 19:00] Huesie commented on #26458
Thanks @iainfoulds - our VSTS Release pipeline _does_ wait on ARM completion BUT if ARM runs for extended time ~20-minutes then control appears to return without error and Azure continues to deploy to the MC_ in background.  I presume this is deliberate in case of unexpectedly long running creation of MC_ resources.

However, this creates a race condition that then overwrites our routetable + NSG

[2019-03-08 19:02] #26458 closed

[2019-03-08 19:03] Alberto-Vega-MSFT commented on #26104
@HaraldHeide Thanks for the update, I'm glad you were able to resolve it. @oleTobiesen Are you still facing your issue? What Android device are you using? Can you share the errors?

[2019-03-08 19:06] craigktreasure commented on #26104
Hey @HaraldHeide. Glad you got things up and running. We've taken note of your feedback about the complicated sample.

Also, I want to point out that at this time Azure Spatial Anchors only supports ARCore SDK 1.5.0. Per the [documentation instructions](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android#download-and-import-the-arcore-sdk-for-unity), you sh

[2019-03-08 19:12] MicahMcKittrick-MSFT commented on #26563
@badalk as per documentation it looks like we link to the kubernetes docs for this information

![image](https://user-images.githubusercontent.com/32313503/54049990-f3a1ab00-4192-11e9-937f-f4721cfaf9d6.png)

https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles

which does imply that read access is not enough.

@iainfoulds do you have any info you can add to this?

[2019-03-08 19:16] Ayanmullick commented on #26490
The below runs successfully but doesn't update anything for the Vault diagnostics settings.

`Set-AzureRmDiagnosticSetting -ResourceId /subscriptions/<SubID>/resourceGroups/<RGName>/providers/Microsoft.RecoveryServices/vaults/<Vaultname> -StorageAccountId /subscriptions/<SubID>/resourceGroups/<RGName>/providers/Microsoft.Storage/storageAccounts/<StorageAccountName> -WorkspaceId /subscriptions/<Sub

[2019-03-08 19:18] MarileeTurscak-MSFT commented on #26570
@warmachine
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 19:27] badalk commented on #26563
@MicahMcKittrick-MSFT I am not talking about K8s cluster role / role and rolebindings. Here is the scenario:
We provisioned the AKS cluster using ARM automation and the service principal has been given the contributor permissions on the subscription
We enabled RBAC and created a cluster-role-binding to give a specific Azure AD group a cluster admin role on K8s cluster
The end users are also grante

[2019-03-08 19:30] AjayKumar-MSFT commented on #26500
@IGx89, In the Azure portal, navigate to your WebApp and select ‘Deployment Center’ blade.
Open the FTP dashboard> Over there, you would see both “User Credentials” and “App Credentials”, you could click “Copy” to either copy the credentials or “Reset Credentials”.
![image](https://user-images.githubusercontent.com/44606227/54050880-5f712b80-4206-11e9-8eed-3dd2dca158e5.png)

You could also take a

[2019-03-08 19:32] AjayKumar-MSFT commented on #26397
@bradhowe, Just checking to see if you had a chance to see the previous response. Kindly let us know if you need any further assistance on this issue.

[2019-03-08 19:33] IGx89 commented on #26500
Ah, I see, thanks a lot! So instead of `Deployment center > Deployment credentials.` like the document says, it's actually `Deployment center > FTP > Dashboard.` now

[2019-03-08 19:42] MartinJaffer-MSFT commented on #26114
@hmayer1980  My apologies, but the photos didn't make it through email into the github post.  Could you try again directly on the Github, please?

[2019-03-08 19:47] MarileeTurscak-MSFT commented on #26570
Hi @warmachine ,

Thanks for your suggestion! I agree that a YouTube video is a great idea. We have taken your feedback and will keep you updated on the progress. :)

[2019-03-08 19:47] #26570 closed

[2019-03-08 19:51] Placid7 opened #26575 "Diagnostic Settings(classic) for RM storage accounts"
Diagnostic Settings(classic) still used for newer versions of storage accounts? Or is there a replacement monitor? I don't see Diagnostic settings under the newer non-classic monitoring section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c

[2019-03-08 19:59] MohitGargMSFT commented on #26562
@cicorias
Please help with the link of document on which above document feedback request is created.

[2019-03-08 20:00] MohitGargMSFT commented on #26568
@michelnubiral Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2019-03-08 20:09] Mike-Ubezzi-MSFT commented on #26180
@stofte Are you referring to the `retrying` [Python project](https://pypi.org/project/retrying/)? That code is not dependant upon any specific error code set.

So, as long as an application generates a success code and at least one error code, retry logic becomes useable.

I am not sure I follow you with regard to your statement: "Its great to know Azure has such stability in its error codes and i

[2019-03-08 20:13] Mike-Ubezzi-MSFT commented on #26190
@Raviafkumar Please send your Subscription ID to AzCommunity at Microsoft.com and I will return instructions to have a support request created to have this issue investigated. If you have an [Azure support plan](https://azure.microsoft.com/en-us/support/plans/), please go ahead and create a support request.

[2019-03-08 20:14] JoelCBennett commented on #12839
Agreed with @masterbacon.  Auto-generated and non-changable naming schemes should not be forced into the environment.  Doesn't play well with tagging, azure policy, or resource locking.  If this is a required back-end service, then hide it from the customer.

[2019-03-08 20:16] Mike-Ubezzi-MSFT commented on #26190
We will now proceed to close this thread, as it is a product issue that needs to go to support although, if there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 20:16] #26190 closed

[2019-03-08 20:20] cicorias commented on #26562
i created a pull request #26564  that removes the duplicate and indicates the file that has the reference.

[2019-03-08 20:26] Mike-Ubezzi-MSFT commented on #26348
@alec-lieberman-ef I believe you were following Step 3 where Step 4 is more applicable.

[Step 3: Create a schema definition using the collection mapping method](https://docs.microsoft.com/en-us/azure/cosmos-db/odbc-driver#a-idcollection-mappingastep-3-create-a-schema-definition-using-the-collection-mapping-method)

[Step 4: Create a schema definition using the table-delimiters mapping method](htt

[2019-03-08 20:28] Placid7 opened #26576 "Sentinel Security Center Alerts"
Do I have to create the Alerts in Security Center? or does it stream the Alerts created by default? Where is the documentation on how to query the alerts in Sentinel? I've already connected Sentinel to Security Center and most of what I'm seeing is noise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939fe044-5317-8af

[2019-03-08 20:29] iainfoulds commented on #26563
The scenario as described should work. The internal service principal of your AKS cluster is used to provision the load balancer; the user permissions shouldn't influence that action here. It's the cluster service principal doing the work, not the user delegated permissions.

Since it sounds like the service principal has the appropriate permissions to create the load balancer, @MicahMcKittrick-MS

[2019-03-08 20:33] michelnubiral commented on #26568
Hi @MohitGargMSFT thank you for your assist. This is the link:

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-app-cloning

Thank you a lot for your prompt response.

[2019-03-08 20:49] MicahMcKittrick-MSFT commented on #26563
Thanks for confirming @iainfoulds

@badalk you can email me at AzCommunity@microsoft.com with your SubscriptionID and link to this thread and I can get you in contact with support.

I will close this and be on the lookout for that email.

[2019-03-08 20:49] #26563 closed

[2019-03-08 21:08] jstuparitz commented on #18033
Any update on this becoming GA?  Can you go GA without the round-robin?  We'd very much like this use this capability in a GA setting.

[2019-03-08 21:15] paulrennan opened #26577 "Pulling the instrumentation key from appsettings.json"
Is there a way to automatically read the instrumentation key from the appsettings.json file?

Before, we could just do factory.AddApplicationInsights(app.ApplicationServices); in the configure method of startup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Version Independent ID

[2019-03-08 21:29] MohitGargMSFT commented on #26562
@cicorias have assigned the issue to the content author to investigate and update as appropriate. Thanks.

[2019-03-08 21:30] MohitGargMSFT commented on #26478
@erenik Please help with the link of document on which above document feedback request is created.

[2019-03-08 21:33] JamesDickson108 commented on #26214
No, when we went through the setup the logout URL that was provided to us by the Azure SAML based SSO setup screen was "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0" which would generate an error when the user tried to logout from zoom. If you follow the zoom guide you linked to in the note of step 4 (https://zoomus.zendesk.com/hc/articles/115005887566) in step 19 it tells

[2019-03-08 21:40] Adam-Smith-MSFT commented on #26575
@Placid7 Currently the classic works for GPV-2 as well. I haven't seen any replacement for it as of yet, but there could be some integration into Azure Monitor. But the classic is operational for all storage accounts :) , Let me know if this helps.

Thanks,
Adam

[2019-03-08 21:45] Adam-Smith-MSFT commented on #26496
@JRiggenbach  there is currently a fix being applied to fix this issue, unfortunately at this point we cant provide an ETA but our product team is actively working on it. Let me know if you have any other questions.

Thanks,
Adam

[2019-03-08 21:46] GaniLio opened #26578 "Invalid local file path"
Where should I put the image? I always get an invalid file path

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fdd9884-2d15-e480-e057-dfb72d89f2fb
* Version Independent ID: 37f24981-566c-5d2d-87cc-4878e8699342
* Content: [Quickstart: Analyze a local image - REST, C# - Azure Cognitive Services](https://docs.microsoft.c

[2019-03-08 21:58] MohitGargMSFT commented on #26576
@Placid7 Thanks for your feedback! We will investigate and update soon on it.

[2019-03-08 21:59] SogoGolf commented on #26402
thanks all / @shashishailaj . yep agree its apples/oranges in terms of product scope (Azure is serving way more use cases). to my mind Azure is a far superior offering its more just about getting mobile devs to the right place in all the MSFT authentication docs and then providing some simple API examples to get started. (we very much want to tie in Azure authentication with our apps use of Cosmos

[2019-03-08 22:14] MarileeTurscak-MSFT commented on #26573
@rishtech
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-08 22:17] wmengmsft commented on #26228
@imeya, we recently released an update to the [Cosmos DB Table SDK](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table) that added OrderBy support. Please take a look. There are some samples [here](https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/master/CosmosTableSamples/AdvancedSamples.cs). Current version supports order by a single column. Very soon

[2019-03-08 22:22] Knight21024 opened #26580 "Can't see backup files or Operating system error (Access is denied.)"
Followed instructions both thru T-SQL and via UI (right click Restore Database...) on SMSS v18 preview 4 and one older version.  In all cases using SAS keys I can connect but not see the databases in the SMSS UI and via T-SQL I get Cannot open backup device. Operating system error (Access is denied.)  Our SQL-MI was deployed on 11/27/2018.  Our team suspects an issue with the SMSS client.  Testing

[2019-03-08 22:38] Mike-Ubezzi-MSFT commented on #26180
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-08 22:38] #26180 closed

[2019-03-08 22:56] SogoGolf opened #26582 "please add a quick start for mobile"
preferably for Swift iOS and Kotlin Android

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c760-1a37-57728171395d
* Content: [Tutorial - Register an application - Azure Active Directory B2C](https://docs.microsoft.com/en-au/azure/active-direct

[2019-03-08 23:01] femsulu commented on #26567
@naimco Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-08 23:06] dougkillmer commented on #24106
Thanks for adding this. It would be nice to see how my ASP.NET 4.7.2 app could access my Azure key vault.

[2019-03-08 23:18] SogoGolf opened #26583 "update "Migrate users" docs to take into account devs using MacOSX"
the Migrate users docs are great. can i ask that you please update it to also account for developers using Mac OSX ? thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ffb9-108b-67f2f5bbc297
* Content: [User migration approaches in Azure A

[2019-03-08 23:24] sayash opened #26584 "Updating via ARM errors out once SP is rotated"
Hi, once we rotate the SP, and update the ARM template used originally to create the AKS resource with the new SP credentials,, subsequent ARM updates fail complaining that the SP fields are immutable and cannot be changed. Even if we don't change the SP field, ARM still complains. What's the recommended way here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-03-08 23:45] ggailey777 commented on #26521
@kazshi thanks for the feedback I will try to clarify this.

[2019-03-08 23:49] deltadan opened #26585 "Un-managed Disk default set delete disks?"
I would recommend that the script in this article be set to just locate the details of the disks rather than delete.  If a person hits this page and doesn't read the details they would delete data.

# Set deleteUnattachedVHDs=1 if you want to delete unattached VHDs
# Set deleteUnattachedVHDs=0 if you want to see the details of the unattached VHDs

---
#### Document Details

⚠ *Do not edit this sec

[2019-03-08 23:52] SaurabhSharma-MSFT commented on #26320
@gowthamsans We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-08 23:52] #26320 closed

[2019-03-08 23:52] SaurabhSharma-MSFT commented on #26378
@aujla0991 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-08 23:52] #26378 closed

[2019-03-09 00:11] deltadan commented on #22183
Also, I added a comment above.  It is currently defaulted to delete data - that is a bad idea to have this script in that form on a webpage.

[2019-03-09 00:47] sandeep-ma opened #26586 "Folder Naming Convention"
The documentation should mention that a hyphen in the folder name, when using the list files in folder action, will cause a 404 error. And that hyphen in folder name is supported only for other operations, like get content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a2a1a8a-4e60-c13b-6a34-4e99a946d797
* Version In

[2019-03-09 00:50] vasanthachavali opened #26587 "Error: 'connectionString' is not found"
Hi

I followed your article and am seeing
Activity Spark1 failed: The value in key 'connectionString' is not found

Can you tell me what I missed? - Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-5d2f-3a77eb61c306
* Version Independent ID: c5c39658-82f0-352e-4322-833962c6afe7
* Content: [Trans

[2019-03-09 00:51] MicahMcKittrick-MSFT commented on #26584
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-09 01:07] Karishma-Tiwari-MSFT commented on #22183
@ramankumarlive Is there a fix in work for this?
CC: @cynthn

[2019-03-09 01:08] anrothMSFT commented on #26571
HI- unfortunately not right now.
We are raising these limits over time, but not at 800 right now.
Thanks!

[2019-03-09 01:10] pyoungberg opened #26588 "Disable Device?"
What does it mean to disable a device? What exactly are you disabling? How would an admin re-enable "it"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be562c4f-87b4-5f9a-3d6f-267ef21e8ade
* Version Independent ID: aa854cfb-e270-37ca-5b1d-fa2c3a70f032
* Content: [Manage your connected devices from the My Profile (prev

[2019-03-09 01:18] Karishma-Tiwari-MSFT commented on #26585
@deltadan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-09 01:25] rowong opened #26589 "Missing example of SAS tokens in the powershell cmdlets"
The Azure CLI docs for managed storage account keys show examples of creating/using SAS tokens via keyvault but I don't see equivalent docs in the Powershell version.  Can those get added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
* Version Independent ID: 1d80c823-5a41-7d2b-f4

[2019-03-09 01:34] avkaur commented on #24784
@emilkontract yes the sample script, as Michael has pointed out was the combination of 2 schema's. if you can move the key value pairs to configuration arguments it should work fine.

[2019-03-09 01:37] YutongTie-MSFT commented on #26571
@eevaldi-nxlperformance
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-09 01:37] #26571 closed

[2019-03-09 01:38] rfsonders opened #26590 "SQL RP compatibility with 1902 update"
[Enter feedback here]
Hello.
The current latest SQL RP requires:
Use-AzureRmProfile -Profile 2018-03-01-hybrid
Install-Module  -Name AzureStack -RequiredVersion 1.5.0

The core Azure Stack 1902 release requires:
Install-Module AzureRM -RequiredVersion 2.4.0
Install-Module -Name AzureStack -RequiredVersion 1.7.0

Please advise when a new SQL RP will be made available for the 1902 build.

Here is th

[2019-03-09 01:47] morgangrobin opened #26591 "Add documentation on how to configure Application Insights"
There is no in-portal support for configuring App Insights in a function in a container on a Linux app service plan, but it is possible. You need to add the APPINSIGHTS_INSTRUMENTATIONKEY app setting. I think we should add that instruction to this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6

[2019-03-09 02:01] MarileeTurscak-MSFT commented on #26589
@rowong
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-09 02:08] mike-urnun-msft commented on #26591
Hi @morgangrobin Thank you for your feedback! We will review and update as appropriate.

[2019-03-09 02:17] MicahMcKittrick-MSFT commented on #26585
CC @cynthn as well. This might be a good thing to consider for other types of docs too. Just food for thought :)

[2019-03-09 02:28] femsulu commented on #23564
@GeethalakshmiG  - what's our next step based on the update by @pgbconfirmit ? Should we redirect this to a support ticket?

[2019-03-09 02:33] femsulu commented on #24785
@johnkemnetz  - any update please?

[2019-03-09 02:36] femsulu commented on #23888
@snehithm any insights please?

[2019-03-09 02:47] CHEEKATLAPRADEEP-MSFT commented on #26577
@paulrennan Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 02:49] CHEEKATLAPRADEEP-MSFT commented on #26578
@GaniLio Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 02:51] CHEEKATLAPRADEEP-MSFT commented on #26580
@Knight21024 Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 02:55] CHEEKATLAPRADEEP-MSFT commented on #26582
@SogoGolf Thanks for the feedback! I have assigned the issue to the content owner for further review.

[2019-03-09 02:57] CHEEKATLAPRADEEP-MSFT commented on #26583
@SogoGolf Thanks for the feedback! I have assigned the issue to the content owner for further review.

[2019-03-09 02:59] CHEEKATLAPRADEEP-MSFT commented on #26586
@sandeep-ma Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 02:59] aquibqureshi26 commented on #26093
I thought the update will happen on this SQL specific page. it would be better if SQL PG authorize it.

[2019-03-09 03:01] CHEEKATLAPRADEEP-MSFT commented on #26587
@vasanthachavali Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 03:03] CHEEKATLAPRADEEP-MSFT commented on #26588
@pyoungberg Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 03:05] CHEEKATLAPRADEEP-MSFT commented on #26590
@rfsonders Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 03:39] CHEEKATLAPRADEEP-MSFT commented on #26203
@juchom I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-09 03:59] tony-gutierrez opened #26592 "Second part of description of max item count is misleading"
"In cases where you need to display only a few results, for example, if your user interface or application API returns only 10 results a time, you can also decrease the page size to 10 to reduce the throughput consumed for reads and queries."

This could make users think they can use this property for paging, which they cannot. A lot of the issues in the node repo are from users having this exact

[2019-03-09 04:03] tony-gutierrez opened #26593 "x-ms-max-item-count and -1 support in SDK"
Don't some sdks support setting maxItemCount to -1 for dynamic management of the value? What are the advantages to that vs setting to the max of 1000, etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 8099f2c8-f8bc-6459-c6fe-6b65b02fc6a2
* Content: [Azure

[2019-03-09 04:10] tony-gutierrez opened #26594 "MaxBufferedItemCount doesnt exist in nodejs sdk feed options"
No reference as to how this is tuned or managed in the node sdk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 8099f2c8-f8bc-6459-c6fe-6b65b02fc6a2
* Content: [Azure Cosmos DB performance tips for .NET](https://docs.microsoft.com/en-us/azure/cosmos-db/perf

[2019-03-09 04:13] tony-gutierrez opened #26595 "Increase System.Net MaxConnections per host when using Gateway mode"
This doesnt exist in the node sdk, no info as to how to increase connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 8099f2c8-f8bc-6459-c6fe-6b65b02fc6a2
* Content: [Azure Cosmos DB performance tips for .NET](https://docs.microsoft.com/en-us/azure/c

[2019-03-09 05:05] BryanTrach-MSFT commented on #26375
@markjerz Reading through the documentation, it says, "The source slot is also warmed up before the swap completion." This to me does not indicate that the warmup will occur in "phase one" but simply that it's completed within the swap process. In fact, the warmup is you browsing the site to view C3 code with A1 settings. This request is what warms the site up.

![image](https://user-images.github

[2019-03-09 05:05] #26375 closed

[2019-03-09 05:15] BryanTrach-MSFT commented on #26379
@paule96 Just like @Potapy4 I do not encounter the issue. Clicking on "Log Parser" takes me to the proper link. I have provided the link that I am directed to below for your convience.

https://www.microsoft.com/en-us/download/details.aspx?displaylang=en&id=24659

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gl

[2019-03-09 05:27] BryanTrach-MSFT commented on #26568
@michelnubiral Yes, as long as the tier is standard or higher, you should be able to clone the app, even between ASEs. Please note this will only copy the site settings and not other ASE configurational settings that you may need to manually set.

[2019-03-09 05:27] #26568 closed

[2019-03-09 05:30] BryanTrach-MSFT commented on #26382
@ggirard07 I am not running into that issue.

1. I set always on for my production slot and verified my dev slot had it turned off.
2. I performed a swap.
3. Checked the production slot and always on was off. I then checked the dev slot and always on was on.

I am not aware of any reported regressions around this. Please run your test again to verify that the issue has been resolved. If not, pleas

[2019-03-09 05:30] #26382 closed

[2019-03-09 05:35] BryanTrach-MSFT commented on #25614
@paul-michalik and @yhvicey Thank you for raising this up. I am unable to find the original file. As a result, I have assigned your feedback directly to the author to have them investigate if this is expected behavior or how to proceed.

[2019-03-09 06:06] hmayer1980 commented on #17261
Hi,

I just wanted to let you know that I got a little further on this topic..

I did interpreted the section

, but the truth is, it needs to go in the root folder of the factory (if you map your factory into a subfolder of your repository it needs to go there. (the same level where the "tigger", "pipeline", "linkedService" and "dataset" folders are created)

and you do need to make some changes

[2019-03-09 06:14] hmayer1980 commented on #26114
I see...

this was the E-Mail...

I just went through he process of creating a totally new ADF V2 .
Simple Pipeline with a wait and  tumbling window trigger current enabled…

 ![Img1](https://user-images.githubusercontent.com/7242162/54067031-a7aa4100-423a-11e9-90b4-c34b3dff41a5.png)

Edit Trigger
![Img2](https://user-images.githubusercontent.com/7242162/54067033-b2fd6c80-423a-11e9-8df1-ce6181a2d0

[2019-03-09 06:14] hmayer1980 commented on #26114
As a side info - I am not in the "Preview" for Data Flows...

[2019-03-09 06:29] CHEEKATLAPRADEEP-MSFT commented on #26592
@tony-gutierrez Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-09 06:32] CHEEKATLAPRADEEP-MSFT commented on #26593
@tony-gutierrez Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 06:33] CHEEKATLAPRADEEP-MSFT commented on #26594
@tony-gutierrez Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-09 06:34] CHEEKATLAPRADEEP-MSFT commented on #26595
@tony-gutierrez Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 09:32] SnehaAgrawal-MSFT commented on #26535
@KeiroKamioka0000 For IPv6 IP version, the assignment method is dynamic only.
While public IPv4 addresses can be assigned to several Azure resources, an IPv6 public IP address can only be assigned to an Internet-facing load balancer. The load balancer can load balance IPv6 traffic to the Azure virtual machines.
You may also refer this link https://docs.microsoft.com/en-us/azure/virtual-network/vir