[2020-08-03 17:37] stevestein commented on #56430
@james-hilliard-3  - thanks for pointing this out.  The article has been updated and should be live within the next 24 hours.

Thanks!

#please-close

[2020-08-03 17:37] #56430 closed

[2020-08-03 17:38] SatishBoddu-MSFT commented on #60181
Hello @ksaye
Thanks for the feedback! I agree we need to update the document. We will give an update on this soon.

![image](https://user-images.githubusercontent.com/62923178/89210645-59a38500-d575-11ea-9392-2c6b2efadb12.png)

[2020-08-03 17:42] msmimart commented on #52365
@HarrisburgUSysAdmin apologies for the long delay. In this case "tenant administrator" refers to one of the Azure AD admin roles depending the type of access you need. We're regularly rolling out additional admin roles, so the best place to find the latest info is [Administrator role permissions in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/d

[2020-08-03 17:42] #52365 closed

[2020-08-03 17:43] malopMSFT commented on #60169
Done
https://github.com/MicrosoftDocs/azure-docs-pr/pull/124726
#please-close

[2020-08-03 17:43] #60169 closed

[2020-08-03 17:45] NavtejSaini-MSFT commented on #60180
@tslavik Glad you got the help from previous issue. Let me us know if we can help with something else.

[2020-08-03 18:00] shashishailaj commented on #59792
@josuvil We have made the changes in the documentation and the changes should reflect in the next 48 hours approximately after review by content authors . We will now close this issue.

Thank you.

[2020-08-03 18:00] #59792 closed

[2020-08-03 18:04] MarileeTurscak-MSFT commented on #60179
@eimerreis
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-03 18:05] MarileeTurscak-MSFT commented on #60170
@vaibhavrmore1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-03 18:19] jeevansd commented on #60012
@techarchconsulting We have updated the plugin and resolved this issue. Can you please download it from the Download Center and validate this again? We have already tested this in our test labs.

[2020-08-03 18:19] jeevansd commented on #60012
Closing the issue as the issue is resolved now. #please-close

[2020-08-03 18:19] #60012 closed

[2020-08-03 18:34] swanderz commented on #37025
So the answer is that you cannot set multi-line secrets in the portal due to a limitation in the Azure SDK. You can set multi-line secrets via PowerShell as shown above. #please-close

![image](https://user-images.githubusercontent.com/8158673/89215227-19e09b80-d57d-11ea-9eaa-edc0613041d3.png)

[2020-08-03 18:42] anbene commented on #59503
@vveider - thanks for reaching out! We recommend using the web version of Storage Explorer, which should prevent this issue.

We have now updated the help article with instructions for the web version of Storage Explorer: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/get-sas-uri#use-microsoft-storage-explorer

[2020-08-03 18:42] #59875 closed

[2020-08-03 18:43] piyushnariani commented on #60120
Thanks @hansenms !

[2020-08-03 18:43] #60120 closed

[2020-08-03 18:43] anbene commented on #59503
#please-close

[2020-08-03 18:43] #59503 closed

[2020-08-03 18:44] shashishailaj commented on #59875
@Geoman42 Thank you for pointing that out . The Verbose logging command for 2012 R2 was not present and we have updated the same. The article should be updated in the next 48 hours.

Thank you.

[2020-08-03 18:44] bandersmsft commented on #59901
@xdmushui Do you have all the information needed to close this issue?

[2020-08-03 18:45] anbene commented on #59049
@bormm - We recommend using the web version of Storage Explorer, which should prevent this issue.

We have now updated the help article with instructions for the web version of Storage Explorer: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/get-sas-uri#use-microsoft-storage-explorer

Thanks again for providing feedback!

[2020-08-03 18:45] anbene commented on #59049
#please-close

[2020-08-03 18:45] #59049 closed

[2020-08-03 18:51] rjmccallumbigl opened #60186 "GRUB access in RHEL 7.7 didn't work for me"
For RHEL 7.7, following the "GRUB access in RHEL" portion would display my GRUB menu but not allow access. No keyboard entries would work (e, c, ESC) and it would count down until booting the first GRUB entry, not allowing me to edit anything. I followed the instructions that said RHEL 7. I had to make sure the lines recommended for RHEL 8 in the article are in my /etc/default/grub:

[code]

Addit

[2020-08-03 18:51] mimckitt commented on #59031
I was able to confirm that opening up a support request is the way to go. These zones are not in preview but the engineering team manages peoples access directly. Hence the support request is the best way to obtain access or if you have a Technical Account Manager, reaching out to them would work as well.

I am going to modify the doc to make that more clear.

#please-close

[2020-08-03 18:51] #59031 closed

[2020-08-03 18:53] luckman212 opened #60187 "Update AzureAD Named Locations / IP ranged via PowerShell?"
Just wondering if it's planned or possible to update AzureAD Named Locations (IPv4/v6) addresses via PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [Location condition in Azure Active Directory Con

[2020-08-03 18:56] shashishailaj commented on #59911
@unnieayilliath Thank you for bringing this to note. We have updated the content and it will be updated in the next 48 hours .

Thank you.

[2020-08-03 18:57] ggailey777 commented on #59884
Thanks @jwisener. We actually need to completely rewrite this article or remove it. (Non-C#) Functions projects use [extension bundles](https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles) by default, even in portal development. Can I ask for what scenario are you trying to manually add bindings rather than using extension bundles?

[2020-08-03 18:58] DaveMenist opened #60188 "Perhaps unwrap this into a bit of a guide. We were able to compile the needed PowerShell command, but we could not figure out how to make the API call."
Perhaps unwrap this into a bit of a guide. We were able to compile the needed PowerShell command, but we could not figure out how to make the API call.

How do I use the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cea15b5-0fca-d8ae-9423-4f4c91d7a9de
* Version Independent ID: 6f6159f1-8a56-7aa2-81ab-bf9e6c339a7

[2020-08-03 18:58] mimckitt commented on #60048
I have updated the doc to be more clear.

VM images deployed from the marketplace will automatically have the latest version of the agent. If you installed the agent manually or are creating custom images, you should update the agent manually as well.

Once the PR merges the changes will go live after a few hours.

#please-close

[2020-08-03 18:58] #60048 closed

[2020-08-03 18:59] bwren commented on #60167
@kailasandhale You can post here or mail to me at bwren@microsoft.com. I'll go ahead and get it submitted. Or you can click Edit on the public article to submit a public PR that will be sent to me for approval. Whatever works for you.

[2020-08-03 19:00] mimckitt commented on #59907
#reassign: @vikancha-MSFT

@vikancha-MSFT  please take a look and if possible, include the ACU numbers for the N-Series.

[2020-08-03 19:00] DaveMenist opened #60189 "Link PowerShell CMDLET reference."
Within the PowerShell portion of this doc, hyperlink the commandlet reference below.
https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsinvitation?view=azureadps-2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cea15b5-0fca-d8ae-9423-4f4c91d7a9de
* Version Independent ID: 6f6159f1-8a56-7aa2-81ab

[2020-08-03 19:01] ggailey777 commented on #58183
Thanks @rccnw. We actually need to completely rewrite this article. By default, (non-C#) Functions projects use [extension bundles](https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles), even in portal development.  You no longer get an extensions.csproj by default.
Out of curiosity, did you use portal or local development to create the project?

[2020-08-03 19:02] mimckitt commented on #59283
#reassign: @damendo

@damendo since your team works on Network Watcher, can you take a look at this?

[2020-08-03 19:05] mimckitt commented on #55864
@AndreasMWalter The SMT is not off. The size is the Hyperthreaded VM sizes just like Intel Dv3/Dv4/Ev3/Ev4 sizes are. We are looking at the best way to document this to make it more clear :)

#assign: @Styli365
#assign: @brbell

[2020-08-03 19:06] #59911 closed

[2020-08-03 19:08] bwanarm commented on #53622
Hi @swmachan thanks for that.

Unfortunately using the regional API URL does not work and still returns a 40100 response.

The request is:
[code]
The response is:
{"error":{"code":401000,"message":"The request is not authorized because credentials are missing or invalid."}}

Is there something obvious that I'm missing from the documentation?

[2020-08-03 19:08] zr-msft commented on #55125
Thank you @kobile70 for the feedback.

The article has been updated to address your feedback.

#please-close

[2020-08-03 19:08] #55125 closed

[2020-08-03 19:12] MarileeTurscak-MSFT commented on #60189
@DaveMenist
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-03 19:13] sabyas commented on #45914
Hey,

Is there any update when this will be available. As @LukeGahan pointed out REST connector pagination pagination doesn't support the link format used by shopify. Shopify returns the url for next page in the header where as REST connector expects it to be in the body. Can we use this connector for production ready load. Currently pagination is done through  customer logic using WEB connector w

[2020-08-03 19:15] MarileeTurscak-MSFT commented on #60189
Thanks @DaveMenist! I made a pull request to add this reference. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124751

[2020-08-03 19:15] #60189 closed

[2020-08-03 19:15] Karishma-Tiwari-MSFT commented on #60161
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-03 19:17] richardweaver opened #60190 "Limitations on queries"
This page could do with information on limitations on the types of queries that can be run.

For example, I've been trying to get a projection query with a couple of joins to work and have had to give up. If I run a query with joins I can't specify ORDER BY, but if I don't specify ORDER BY I get an error related to Continuation Tokens.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-03 19:18] krish-gh commented on #45071
There is a confirmation from product team. Yes, this exchange is specifically for federated users where the application gets a SAML token from ADFS or another federated IDP. There are no plans to add further functionality at this point in time.

In most cases this scenario (where the user is an AAD user and the SAML token you have is issued from AAD with the application as Audience) can be satisfi

[2020-08-03 19:18] JesperJakobsen opened #60191 "Azure Managed Disk Upload - Wrong information"
The guide states that it's possible to upload a VHD with a size of 32TiB directly to a managed disk.
Is this really possible, as understand there is a limit of 2TB for a single VHD, and i can't see that using AzCopy will get around this limitation.

Is the intentation that it will support the use of VHDX (up to 32TiB) file in the near future or is the documentation just wrong?

---
#### Document D

[2020-08-03 19:19] krish-gh commented on #45071
We will proceed to close this issue now. Please feel free to comment here if there is any follow up question or issue.

[2020-08-03 19:20] robert4os opened #60192 "Erroneous example of passing side input data"
The following code in this documentation does not work. It seems to mix two ways of passing side input data, i.e. via 'arguments' and 'side_inputs'

[code]

When a named dataset is passed to side_inputs it will be in the run.input_datasets dictionary. This is as expected (although documentation is scarce).

However, when passing the named dataset as an 'argument' then its dataset id will be passed

[2020-08-03 19:20] rccnw commented on #58183
I was using the portal to follow the Pluralsight course when I reported this issue.  I then switched to using local development and VS Publish and that worked fine.

[2020-08-03 19:22] MarileeTurscak-MSFT commented on #60187
@luckman212
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-03 19:25] jwisener commented on #59884
Just creating a function directly in the portal Utilizing c#

On Mon, Aug 3, 2020 at 1:57 PM Glenn Gailey <notifications@github.com>
wrote:

[2020-08-03 19:29] swmachan commented on #53622
Hi @bwanarm - please refer this section for the right endpoint [https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=es] - https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#authenticating-with-a-regional-resource

[2020-08-03 19:32] JnHs commented on #60016
@Snozzberries With AOBO, any user with the Admin Agent role in the partner tenant has RBAC owner access to Azure subscriptions created through the CSP program. More about AOBO and how it works can be found at the video linked near the top of the topic I mentioned https://docs.microsoft.com/en-us/azure/lighthouse/concepts/cloud-solution-provider

As it seems that the question related to this partic

[2020-08-03 19:32] #60016 closed

[2020-08-03 19:35] ChaitanyaNaykodi-MSFT commented on #60172
@0stage, Thank you for your feedback! We will review and update as appropriate.

[2020-08-03 19:38] ChaitanyaNaykodi-MSFT commented on #60173
@HansonChiu1994, Thank you for your feedback! We will review and update as appropriate.

[2020-08-03 19:40] ChaitanyaNaykodi-MSFT commented on #60176
@jchoudhury78, Thank you for your feedback! We will review and update as appropriate.

[2020-08-03 19:42] ggailey777 commented on #21211
@AshleyT3 this article is outdated and is being removed. The recommended way to install specific extension versions is by running `func extensions install` locally. To learn more, see [Register individual extensions](https://docs.microsoft.com/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#register-individual-extensions).

[2020-08-03 19:42] ChaitanyaNaykodi-MSFT commented on #60190
@richardweaver, Thank you for your feedback! We will review and update as appropriate.

[2020-08-03 19:47] AjayKumar-MSFT commented on #59538
Just to update here, we are having an offline discussion on this. We will update the thread as soon as we have more info.

[2020-08-03 19:47] BharathNimmala-MSFT commented on #60070
@stephbaron Thank you for helping on this.

@Anandsalimath The changes would go live later this week. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-08-03 19:47] #60070 closed

[2020-08-03 19:52] lex3001 opened #60193 "How do you update existing resources?"
This page is helpful to register new models and deploy a new service.
How do you update a registered model?
How do you update a deployed service without creating a new one with a new URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0a7c4e-d3d3-94af-9e57-73496d4671f3
* Version Independent ID: 99eb48a4-65fb-88ef-027

[2020-08-03 19:52] keithdv commented on #45071
@krish-gh So there is not plan to add functionality that is in v1.0 of the token endpoint (link below)?? Again this is CRITICAL to our work flow to communicate with SAP and Salesforce and we will be in big trouble if this functionality is dropped. We are already in the service layer many physical layers beyond the browser.

Version 1.0 (oauth/token) does this.
"SAML assertions obtained with an OAu

[2020-08-03 20:00] BharathNimmala-MSFT commented on #59818
@craig-martin Apologies for delayed response on this.

Thank you for your feedback , assigning this to our document author @bwren to further review to see what enhancements can be done to improve "Reserved Properties" section so that it is more clear . Appreciate you taking your time for sharing your feedback.

[2020-08-03 20:03] mikewiegand opened #60195 "Not sure this works in Azure Portal CLI"
Cut/pasting the following into the Azure Cloud window :

$scope = az cosmosdb show --name 'cosmos-adc-poc' --resource-group 'muse-dg-dev-sandbox-03' --query id

Returns:

bash: =az: command not found
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc95f42-25e6-42ba-a3d9-94ed896d7383
* Version Independent ID: 00936b2f-95

[2020-08-03 20:03] MarileeTurscak-MSFT commented on #60007
Hi @ctreslovehayes1 ,

Since this is more of a product question than a document issue, I would recommend reaching out in [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html?filter=unanswered)for help with this question.

[2020-08-03 20:03] #60007 closed

[2020-08-03 20:05] JamesTran-MSFT commented on #59013
Adding @rwike77, the owner of the below doc for their awareness.

 https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-authenticate-service-principal-powershell

[2020-08-03 20:06] keithdv commented on #45071
Here's a diagram of what we need to accomplish. We are the integration API team - we cannot ask the browser application to make changes. In fact we don't want them to address if it even SAP fulfilling the request. Again, we can do this with OAuth2 v1.0 token endpoint.
[SAP OBO.pdf](https://github.com/MicrosoftDocs/azure-docs/files/5018204/SAP.OBO.pdf)

[2020-08-03 20:06] Leonardo-Ferreira opened #60196 "Is there a way to change the frequency of Performance measurements?"
This documentation here is does not make something clear: Is there a way change the frequency the SDK collects performance data? Naturally, this occurs every 1 min, but in computing, 1 min can be a loooooong time. It would be very nice if this could be tuned, to at least, 2x,3x,6x per minute... or the other way around, perhaps there's someone who would be fine monitoring an app every 5min...

---

[2020-08-03 20:10] SnehaGunda commented on #59462
Added Python example in the above PR. We will close this issue now.

#please-close

[2020-08-03 20:10] #59462 closed

[2020-08-03 20:17] msmimart commented on #57902
@villyg thanks for this feedback! Resolved via https://github.com/MicrosoftDocs/azure-docs/issues/57902.
#please-close

[2020-08-03 20:17] #57902 closed

[2020-08-03 20:23] iUnknwn opened #60198 "Retrieving key id from HTTP claims is not documented"
The current documentation does not provide any information about how to check which function key was used to call the current function.

When a function key is used, the system sets the claim: `http://schemas.microsoft.com/2017/07/functions/claims/keyid` on the HTTP request, and populates it with the key id. However, this is not documented.

This is discussed in this StackOverflow question: https:

[2020-08-03 20:25] RyanHill-MSFT commented on #60173
@HansonChiu1994 can you reach out to us at _AzCommunity[at]microsoft[dot]com_ ATTN Ryan so that we can help you more closely. Please mention this GitHub issue as well as include your subscription id and the affect app that's failing to deploy.

[2020-08-03 20:25] PcChip commented on #38660
Hello,

I'm having the same error message with Az consumption usage list, I cannot pull any usage info
https://github.com/Azure/azure-powershell/issues/10203

[2020-08-03 20:30] Tom331 commented on #38660
@PcChip Hey, i found a workaround. If you check out the comment i made in my stack overflow post it may help:

https://stackoverflow.com/questions/63125218/azure-usagedetails-rest-api-cannot-filter-on-tags

[2020-08-03 20:40] swieder opened #60199 "Network bandwidth does not have unit size on heading."
[Enter feedback here]

For Dv3 series table, the network bandwidth column heading does not have unit of measure on it like the DsV3 table below has.  I expect that is should be mega bits per second or Mbps.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11ed461-c687-fc39-0320-ccd60b403e06
* Version Independent ID: 5001

[2020-08-03 20:41] DerekHerman-MSFT opened #60200 "List of supported filesystems for Azure Disk Encryption needed."
There is a small list of unsupported things on [this page](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-windows#unsupported-scenarios). However no list of what filesystem(s) are supported. Is it only NTFS for Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c7e44e-899c-56d9-b

[2020-08-03 20:46] swieder opened #60201 "Networking unit is MBps, should it be Mbps??"
On the table for NV_v3 NIC bandwidth, the unit of measure is MBps which typically means mega bytes per second.  Network throughput is typically in mega bits per second.  Is this a typo in the heading and it should be (Mbps)??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ffeb72-66b6-6d6e-413c-aa4b8354a2a3
* Version

[2020-08-03 20:47] krish-gh commented on #45071
@keithdv please continue with v1.0 in your OBO SAML assertion part of the API workflow. There is no plan to drop it from v1.

As mentioned there is no immediate plan to add this in V2 as of yet. We will keep a tag on the demand of such scenario. Thank you very much for providing the details of your workflow.

[2020-08-03 20:50] DerekHerman-MSFT commented on #60200
ADE leverages BitLocker which has the requirement of the [partition being formatted using NTFS.](https://support.microsoft.com/en-us/help/933246/description-of-the-bitlocker-drive-preparation-tool) We have had a few questions surrounding this. Could we add a blurb somewhere stating such?

[2020-08-03 20:53] michalmar commented on #59676
Great, thank you so much,

Michal
On Fri, Jul 31, 2020 at 7:19 AM Blanca Li <notifications@github.com> wrote:

[2020-08-03 20:55] vikancha-MSFT commented on #60201
Thanks @swieder for bringing this to our attention. It is indeed a typo and the unit of measurement should be Mbps. I have update the docs and it should go live later today.

[2020-08-03 20:58] vikancha-MSFT commented on #59907
I have updated the docs page to include the ACU numbers. Changes should be live later today.

[2020-08-03 21:00] mimckitt commented on #59907
#please-close

[2020-08-03 21:00] #59907 closed

[2020-08-03 21:06] vikancha-MSFT commented on #60201
#please-close

[2020-08-03 21:06] #60201 closed

[2020-08-03 21:08] emuench commented on #59885
@ShadowXVII Any breakthrough here?

[2020-08-03 21:14] runemoennike commented on #51738
Thanks.

Can you give any insights to the reason for this very low default limit? It seems strange that, by default, we can create 100 container groups each with 60 containers, but in all these can only use 10 cores in total. Effectively that puts the limit at 10 containers (split between one or more groups) per subscription, since a container obviously must have at least one core to run.

[2020-08-03 21:19] himanshusinha-msft commented on #59787
@behzad-a  : My sincere apoloziges for not understanding the ask on the first go . I did reached out to the ASA team and they confirm that at this time Azure function with bearer token is not supported for ASA .

I request you to please add the ask at https://feedback.azure.com/forums/270577-stream-analytics . The feedback forum is monitored by the product group and they can explore more on the as

[2020-08-03 21:42] #60044 closed

[2020-08-03 21:44] MarileeTurscak-MSFT commented on #60104
Thank you for catching this! I filed a bug for this and have given it to the product team. I am closing this out since it's in their backlog now, but will provide an update when they have fixed it.

[2020-08-03 21:44] #60104 closed

[2020-08-03 21:44] #45071 closed

[2020-08-03 21:55] singhnishant40 opened #60203 "Access Package Limitations"
[The document should also call out the Access Package limitations. For example Number of Catalogs Number of Access Packages per Catalogs (tenant) ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is entit

[2020-08-03 21:58] kosinsky opened #60204 "Service Principal authentication with MySQL"
This page shows how to use AAD authentication for regular users. Is the same supported for Service Principals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2910bd-55dc-3618-b128-2ac858829ec0
* Version Independent ID: a9cab8cc-fb10-f3f3-6dbc-ce657609258d
* Content: [Use Azure Active Directory - Azure Database for My

[2020-08-03 22:02] Mike-Ubezzi-MSFT commented on #60177
@Eaglerod1978 Not specifically as the intent here is to detail the specific source/destination public IP addresses, by region, for the purposes of setting firewall ACLs. Is that information required in your scenario?

[2020-08-03 22:03] GiftA-MSFT commented on #60164
@c-lamont we'll review your feedback and get back to you shortly. Thanks.

[2020-08-03 22:03] kiyoungoh commented on #59462
Thank you so much for the update!

[2020-08-03 22:04] svangeti opened #60205 "Examples are not working for HTTPS and HOSTNAME"
The documentation examples are not working with HTTPS and HOSTNAME deployments.
Getting this error:
[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df590818-cbf1-3473-b408-70b1224977fa
* Version Independent ID: 6b52d0c4-03e3-358c-0828-e1afcc676708
* Content: [Expose an AKS service over HTTP or HTTPS using Application

[2020-08-03 22:08] GiftA-MSFT commented on #60183
@originalnetadmin we'll review you feedback and get back to you shortly. Thanks.

[2020-08-03 22:10] bsmith05 opened #60206 "Conflicting Information - Supported OS - Hybrid Join"
Hey Doc's team - Can you help determine the minimum Windows 10 supported OS for Hybrid Azure AD Join?

We see in https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#windows-down-level-devices states - "For devices running the Windows desktop operating system, supported version are listed in this article Windows 10 release information. As a best practice, Micros

[2020-08-03 22:19] sebansal commented on #56705
#please-close

[2020-08-03 22:19] #56705 closed

[2020-08-03 22:25] BharathNimmala-MSFT commented on #60196
@Leonardo-Ferreira Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-03 22:44] bruparel commented on #52462
Running into the same problem again today.  I cannot even create the cloud drive in another region.  It errors out.

[2020-08-03 22:57] mimckitt commented on #60199
@joelpelley submitted the fix for this. Changes will go live after a few hours.

https://github.com/MicrosoftDocs/azure-docs/pull/60207

#assign: @joelpelley
#please-close

[2020-08-03 22:57] #60199 closed

[2020-08-03 22:57] JamesTran-MSFT commented on #60203
@singhnishant40
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-08-03 22:59] sivethe commented on #59892
@AnuragSharma-MSFT : Please assign this to @LuisBosquez

[2020-08-03 23:10] marcosquiro commented on #33505
Hi Folks, same issue here. I have an application with 4 images already built on the ACR. Now I need to configure the WebApp for containers, the DockerCompose.yml (as on previous images) and I am not able to find any -good- official Documentation.
I need to indicate on the compose, the configuration for the registry and so one...
Does someone have an example DockerCompose file to use on WebApp Cont

[2020-08-03 23:23] SatishBoddu-MSFT commented on #60147
Hello @zqynoob

-  **Are you using the Free Tier Workspace for ML?**

- **Are you able to test the Prediction from the excel sheet which you have downloaded?**

![image](https://user-images.githubusercontent.com/62923178/89236440-6a6bef00-d5a5-11ea-8902-604a61f55519.png)

**Repro of the issue:**

`I just find the Function Type called Azure ML Service and Azure ML Studio instead of Azure ML`

We to

[2020-08-03 23:26] dcbrown16 opened #60208 "ToC is somewhat confusing"
This page appears in the ToC under "Application alert rules" > "Metric alerts" and under "Log alert rules" > "Configure alerts on analytics query.
Given that some effort has been expended to differentiate metric alerts and log alerts in other contexts, is it still the right choice to call the ToC entry under "Application alerts rules" "Metrics alerts"?
It's confusing enough to have metric alerts,

[2020-08-03 23:31] obhayes opened #60209 "Confusion over bullet point explanation"
Hi,
In the section "How many licences must you have", I find the last bullet point confusing, it seems to contradict itself, could this be made clearer please i.e. it effectively says, they request an access package and then immediately says but they don not request. e.g.

"No licenses are required for guests who can request access packages, but do not request an access package."

---
#### Documen

[2020-08-03 23:45] markjbrown commented on #60124
Yes, referring to the table in the article you initially referenced [here](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels-across-apis#mongo-mapping)

The reason it isn't included is because there is no equivalent in MongoDB. Session consistency is a client-centric consistency model. MongoDB's clients do not support this so we do not include Session consistency in this mapping.

[2020-08-04 00:04] jeevansd commented on #48941
@oliverjnash I dont think we tested this for JIRA Service Desk 4.9.0 but we have tested the plugin till 8.11 now.

[2020-08-04 00:05] ShadowXVII commented on #59885
@emuench , create a second solution in the portal and then make the require changes to the existing role. Import > Security Role. Then publish.

[2020-08-04 00:05] TravisCragg-MSFT commented on #60136
@ManuelGalindo I was able to create the public IP from the script without an issue. Please make sure your Azure PowerShell is up to date, and that '$LBPipName' is populated before you create the first Public IP.

[2020-08-04 00:12] SaurabhSharma-MSFT commented on #60024
@Seddy24 We will now proceed to close this thread as we are discussing this over email. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-04 00:12] #60024 closed

[2020-08-04 00:16] TrackDR commented on #59945
Someone at my company had an older azure image that had the 440.87 drivers and cuda 10.2 and that seems to work with Ubuntu 18.04.  I don't have provisioning permissions so I can only ask my IT for help.  They said that their contract (or region) doesn't include the driver extensions.

[2020-08-04 00:28] Karishma-Tiwari-MSFT commented on #59235
The product team is in final verification testing phase for CentOS 7.8. Once that it completed, the document will be updated to list that it is officially supported. I will share the information on this thread as well when there is an update.

[2020-08-04 00:28] #59235 closed

[2020-08-04 00:28] bwren commented on #59818
@craig-martin Can you give us more details on the code you're using? I just did my own test and got a property called Computer_CL as expected. I'm digging a little further with the PMs and devs to determine if there are any cases where we shouldn't get the suffix, but so far we haven't identified any.

[2020-08-04 00:30] cynthn commented on #49327
@nickboucher Thanks for the feedback! There is a new owner for this area, who will probably be reworking this content extensively. But, in the meantime, I've done a pass on simplifying the language etc. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124770

#please-close

[2020-08-04 00:30] #49327 closed

[2020-08-04 00:31] Karishma-Tiwari-MSFT commented on #60186
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-04 00:33] Karishma-Tiwari-MSFT commented on #58972
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-04 00:37] bandersmsft commented on #59460
@nerdile You're absolutely correct. Thanks for pointing out that omission. I've updated the article for clarity based on your issue with https://github.com/MicrosoftDocs/azure-docs-pr/pull/124802. Thanks!

[2020-08-04 00:41] bandersmsft commented on #59460
#please-close

[2020-08-04 00:41] #59460 closed

[2020-08-04 00:41] cynthn commented on #52516
@dcbrown16 thanks for the feedback! I did this work ages ago and forgot to close this issue. Should be good to go now :)

#please-close

[2020-08-04 00:41] #52516 closed

[2020-08-04 00:51] xdmushui commented on #59901
Yes. This issue can be closed.
Thank you all.

[2020-08-04 00:51] #59901 closed

[2020-08-04 00:55] richardszalay commented on #60124
@markjbrown Great, thanks. Any chance that can be made explicit in the docs, given that Session is the default?

Two questions:

a) What **intra**/single-region guarantees does Session consistency provide when not within a session?
b) Doesn't that make "Session" a not-very-desirable default for CosmosDB using MongoDB API? I'm assuming Bounded Staleness  is the better starting point for most MongoD

[2020-08-04 00:58] richardszalay commented on #60124
And one additional question: MongoDB does support sessions, but Cosmos does not provide support for them. Are there are plans for this to change and potentially align with the Session consistency model?

[2020-08-04 01:08] kejatura commented on #34828
+7

From this post:
https://stackoverflow.com/questions/58180861/enable-https-on-azure-front-door-custom-domain-with-arm-template-deployment

It looks like its in the works, but it's not ready yet?

[2020-08-04 01:31] DhivyaG19 opened #60210 "Powershell commandlets in this page needs to be updated."
I want to get the existing setting with Get-AzureADMSPrivilegedRoleSetting to update the role setting with Set-AzureADMSPrivilegedRoleSetting. But "$setting.UserMemberSetting.justificationRule" returns error as follows.

![image](https://user-images.githubusercontent.com/65308090/89242663-f5a1b080-d5b6-11ea-885a-9f859a9e1b2a.png)

Also, I can't set "$setting" with Set-AzureADMSPrivilegedRoleSettin

[2020-08-04 01:44] ChaitanyaNaykodi-MSFT commented on #60198
@iUnknwn, Thank you for your feedback! We will review and update as appropriate.

[2020-08-04 01:53] ravisha22 opened #60211 "Editable network diagram"
Please provide editable version of the diagram like many of the docs central articles do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c398e7e7-b2ff-6285-5e62-f241d0604ac4
* Version Independent ID: 61f6804e-a992-6c4d-7978-285e9183ec33
* Content: [Concept - Integrate an Azure VMware Solution (AVS) deployment in a hub

[2020-08-04 01:55] danhlee329 opened #60212 "Configure a global init script using the API Section Incomplete"
Looks like for [this section](https://docs.microsoft.com/en-us/azure/databricks/clusters/init-scripts#--configure-a-global-init-script-using-the-api) is incomplete:

`Admins can add, delete, re-order, and get information about the global init scripts in your workspace using the _.` `_` a temporary placeholder I presume.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-08-04 02:24] KrishnaG-MSFT commented on #60208
@dcbrown16 Thanks for the comment.
Assigning @yanivlavi for visibility, review and document / ToC enhancement consideration as appropriate.

[2020-08-04 02:32] ashwinp88 commented on #32126
@anthonychu thank you for the response. I am able to get it working fine. I was hoping to do a destructive read on the service bus topic instead of a peek lock read mode. This is because my processing time absolutely has to be greater than the lock duration (about 30 mins). I can complete the message if I get the MessageReceiver and lockToken. I am struggling to inject those in Java.

[2020-08-04 02:58] v-hakob opened #60213 "The preview status of Java support in Application Insights for on-premise environment"
I am not sure to whom I can reach out, and wonder if anyone knows any plans for GA timeline that we can share with the customer. Thank you.

[2020-08-04 03:03] lgayhardt commented on #60003
Added link to the [Understanding access control for dashboards](https://docs.microsoft.com/azure/azure-portal/azure-portal-dashboard-share-access#understanding-access-control-for-dashboards). It should go live tomorrow. Thank you.

#please-close

[2020-08-04 03:03] #60003 closed

[2020-08-04 03:18] WenyunZou opened #60215 "Can we archive diagnostic logs to a storage account in a different region?"
Hi,

In the [doc](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings#prerequisites), we can select 'Storage Account' as a destination for the diagnostic setting. In 'Location' line, there is no selection. Is there a way to store logs to a storage account in another region?
![image](https://user-images.githubusercontent.com/67304289/89248959-9342c180-d643-11ea-8802-e9

[2020-08-04 03:33] hankhester opened #60216 "Custom keywords basics should specify that the Speech Devices SDK is required"
According to the node speech sdk type file (SpeechRecognizer.d.ts line 130) - custom keywords are only supported using the Speech Devices SDK. I had no way of knowing that from these docs and spent a while trying to get a custom keyword working without the devices sdk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f

[2020-08-04 03:36] GiftA-MSFT commented on #60188
@DaveMenist we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:39] GiftA-MSFT commented on #60191
@JesperJakobsen we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:41] GiftA-MSFT commented on #60192
@robert4os we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:43] GiftA-MSFT commented on #60193
@lex3001 we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:45] GiftA-MSFT commented on #60195
@mikewiegand we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:47] GiftA-MSFT commented on #60204
@kosinsky we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:49] GiftA-MSFT commented on #60205
@svangeti we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 03:52] GiftA-MSFT commented on #60206
@bsmith05 we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 04:09] bradpicone opened #60218 "Can Diagnostic Logs be exported to an Event Hub in a different region - design constraint or bug?"
Unsure as to whether this is a design constraint or a bug.

 I have a Key Vault in one region and I want to export the diagnostic logs to an Event hub in another region. The portal UI allows you to lookup and configure the appropriate parameters to imply this will work, however it fails on save with the message.

"Failed to update diagnostics for 'xxx'.{"code":"BadRequest","message":"Resources sho

[2020-08-04 04:15] amanmcse commented on #59996
@SB-o-matic I am closing the thread for now. Feel free to tag me in your reply if you have any question.

[2020-08-04 04:15] #59996 closed

[2020-08-04 04:18] craig-martin commented on #59818
Computer_CL would be the log name, the scenario I'm describing regards the property name derived from the uploaded JSON.  Hope that helps (in addition to the JSON sample above), if not then I can create a repro command line.

[2020-08-04 04:25] amanmcse commented on #60121
@SollicitusPeon Have you had a chance to check this out?

[2020-08-04 04:31] SwathiDhanwada-MSFT commented on #60215
@WenyunZou Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-04 04:34] KrishnaG-MSFT commented on #60218
@bradpicone Thanks for your comment! We will review and provide an update as appropriate.

FYI - [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anyt

[2020-08-04 04:37] VikasPullagura-MSFT commented on #60211
@ravisha22
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-04 04:37] VikasPullagura-MSFT commented on #60211
@divka78
Can you please check and add your comments on this doc update request as applicable.

[2020-08-04 04:43] #60213 closed

[2020-08-04 04:48] KrishnaG-MSFT commented on #60213
@v-hakob Thanks for closing the issue. As discussed offline, I hope you get the required update from PG.

Sharing for the benefit of broader audience - [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so

[2020-08-04 04:50] VikasPullagura-MSFT commented on #60178
@ricastil
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-04 04:50] v-hakob commented on #60213
I posted the inquiry to the channel you instructed. Thank you for the help, @KrishnaG-MSFT .

[2020-08-04 04:50] VikasPullagura-MSFT commented on #60178
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-08-04 04:52] CHEEKATLAPRADEEP-MSFT commented on #60212
@danhlee329, Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review and update the document as appropriate.

@mssaperla Could you please update the document as shown below?

Admins can add, delete, re-order, and get information about the global init scripts in your workspace using the [Global Init Scripts API](https://docs.databricks.com

[2020-08-04 04:53] SnehaAgrawal-MSFT commented on #59909
@kspoojary You may take a look at using a managed identity to connect to your storage account.

More info: https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-storage

Also, note It’s still in gated preview. You can request access to the preview by filling out [this form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR4LjgVsFqNxClqxaKNmnHHJUQk9XT

[2020-08-04 04:53] SadiqhAhmed-MSFT commented on #59772
@robburton58 We will now close this issue. Please tag me in your reply if you need any further assistance in this matter and we would be glad to continue the discussion.

[2020-08-04 04:53] #59772 closed

[2020-08-04 05:02] ram-msft commented on #59986
Thanks.simple clustering algo like k-means  ( picking the value of k is very crucial decision , the k is number of clusters you want – check out elbow-method to pick optimum value of k). There is an effort to update the document.

[2020-08-04 05:08] CHEEKATLAPRADEEP-MSFT commented on #59507
@vssconnell  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-08-04 05:08] #59507 closed

[2020-08-04 05:15] vipulsparsh commented on #60209
@obhayes Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-04 05:19] vipulsparsh commented on #60210
@DhivyaG19  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand  Can you have a look at this ?

[2020-08-04 05:22] likebupt commented on #59986
The module uses sk-learn. I'll update the reference in the article. Thanks. @marcindulak  @ram-msft

[2020-08-04 05:35] kailasandhale commented on #60167
Created a Pull request https://github.com/MicrosoftDocs/azure-docs/pull/60219

[2020-08-04 05:39] AnuragSharma-MSFT commented on #60158
@githubnagaraj We really appreciate your concerns and thanks for bringing this to our notice. You can also refer to one of the [Whitepaper ](https://www.microsoft.com/en-us/research/uploads/prod/2019/06/p700-antonopoulos.pdf) published on the same article at Microsoft Research for more details.

Meanwhile, this is being assigned to the content author to evaluate and update as appropriate.

[2020-08-04 05:40] BharathNimmala-MSFT commented on #60165
@NileshGhodekar Thank you for your feedback, assigning this issue to our document author @billmath to further evaluate the feedback and update the document accordingly.

[2020-08-04 05:45] ram-msft commented on #59986
Thanks @likebupt .The effort has been planned for this, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-04 05:45] #59986 closed

[2020-08-04 05:46] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly Just following up here to check if you're still seeing issues with accessing Cloud Shell.

[2020-08-04 05:58] SibeeshVenu commented on #60160
Thanks. But I feel like the doc [Develop and debug ARM64 IoT Edge modules in Visual Studio Code (preview)](https://devblogs.microsoft.com/iotdev/develop-and-debug-arm64-iot-edge-modules-in-visual-studio-code-preview) is outdated, as it is over a year and it needs some updates it seems. Do you think there any other recent Microsoft docs related to this topic?

[2020-08-04 06:07] souravmishra-msft commented on #60036
@Maks303, Just wanted to check if the above response helped in answering your query. Do let me know if there are any more queries around this so that we can help you further. If not, do update us so that we can close this thread.

[2020-08-04 06:08] Maks303 commented on #60036
Yes i am ok. But I still think document is should be corrected.

On Tue, 4 Aug 2020 at 08:07, souravmishra-msft <notifications@github.com>
wrote:

--
Maksym Nowak

[2020-08-04 06:17] marcindulak commented on #59986
Thanks, I see that the issue is closed without a link to a pull request or commit. Links like that would be helpful.

[2020-08-04 06:20] bbpaulvanharen commented on #60148
@SatishBoddu-MSFT Thank you for the explanation.

I understood from your remarks that enrollment using groups requires the use of IoT-Edge devices. This is quite a step up in system complexity. Registering a simple IoT device on a preconfigured entry in an IoT-Hub is fairly simple; with DPS and automatic registering another layer is introduced.

Provided that my understanding is correct, I'd like

[2020-08-04 06:43] linda33wj commented on #46484
Thanks all for the feedback. The Xero connector has been upgraded to support OAuth 2.0. Refer to the doc on details: https://docs.microsoft.com/en-us/azure/data-factory/connector-xero
#please-close

[2020-08-04 06:43] #46484 closed

[2020-08-04 06:44] ElkRom commented on #59359
Hi, @TomGeske  when are you going to release a fix?

[2020-08-04 06:47] TomGeske commented on #59359
@ElkRom: I think preview flags should be added back to docs. Our deployment to remove those is currently ongoing and it will take a few days to land in all regions.

[2020-08-04 06:49] kumarg25 commented on #60171
@TomGeske thank you for the help. Let me try it and I will update you

[2020-08-04 06:50] glprasanna opened #60221 "Issue with Microsoft Azure Active Directory single sign-on for JIRA"
Hi Team,

We have uploaded latest JIRA Microsoft JIRA plugin which is showing version as 1.0.6. However, after installing it it is shown as 1.0.9 and we could see some issues like Project Settings page is showing blank page and workflow page is showing blank.

ERROR:
===================================================================
Uncaught ReferenceError: getQueryVariable is not defined
    at

[2020-08-04 06:53] meditadvisors opened #60222 "Permanent workspace delete command"
The tag -ForceDelete does not work on the Azure PS CLI, use the -Force (Luke! ;)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86984751-da7f-c77b-c78b-a9c9ffacb4a3
* Version Independent ID: 57838082-5ee8-097c-9814-803a5077ba4e
* Content: [Delete and recover Azure Log Analytics workspace - Azure Monitor](https:

[2020-08-04 06:59] JamesDLD opened #60223 "Azure shared disks Support for AZ with ultra disks"
Another option wouldn’t be to use FCI Azure shared disks with for Availability Zones & **ultra disks**?

As explained [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#ga-scope-and-limitations) in the disks option documentation « the only infrastructure redundancy options currently available to ultra disks are availability zones ».

---
#### Document Details

⚠ *Do

[2020-08-04 07:07] iliaJelly commented on #60150
I accessed it differently. I am trying out Azure, following some tutorials. Also i prefer the UI operation rather then shell operations. Thanks for checking.

Ilia Glizerin

Jelly Unity Infrastructure Developer

---

Phone: +972-054-2373724

[cid:ba531778-31dc-49c7-8ba9-459f185d4434]

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Tuesday, August 4,

[2020-08-04 07:11] PramodValavala-MSFT commented on #60176
@jchoudhury78 Based on the [reference doc](https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2019-05-01/workflows) and [REST API Spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L8983), the policies are like below

[code]

We are assigning this issue to the content author to review and u

[2020-08-04 07:18] HarshitaSingh-MSFT commented on #60209
Hello @obhayes , thanks for reaching out to us!
The statement

means that Licenses are not required for guests who have privilege to request access packages but they **do not choose** to request them.

Let me know if that clarifies your doubt.

[2020-08-04 07:22] SwathiDhanwada-MSFT commented on #60222
@meditadvisors Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-04 07:27] SumanthMarigowda-MSFT commented on #59899
@hund030  The PR request has been raised .We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-04 07:27] #59899 closed

[2020-08-04 07:32] steverding commented on #28687
Any news here regarding end-to-end SSL via portal or arm templates ? I try to use the v2 sku, but this is a showstopper. We are deploying everything with ARM templates and the integration just does not work. There is no way to get backend SSL running via ARM at the moment

[2020-08-04 07:32] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly Ok, thanks for the update. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-04 07:32] #60150 closed

[2020-08-04 07:36] AnuragSharma-MSFT commented on #60159
@Alex-Boo Thank you for bringing this issue to our notice. As per the latest documentation mentioned with respect to [.NET Change Feed Processor SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet-changefeed), Azure Table API is not supported with the mentioned SDK.

However, as you mentioned that you were able to have the Change Feed working on Azure Table API with Azure func

[2020-08-04 07:37] kannannet commented on #49849
@DixitArora-MSFT  I guess this is already supported with the following implementation, i am not sure why this has never been documented or answered in any of the forums

[ https://blog.darkloop.com/post/using-service-app-managed-identity-with-azure-functions-service-bus-bindings](url)

please correct me if i am wrong

[2020-08-04 07:39] vanessabruwer opened #60226 "Windows 2019?"
Supported platforms for Defender Antivirus is listed as Windows Server 2016 - what about Windows Server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c81719-d8d4-2eb3-a5a9-1cc35dd04bec
* Version Independent ID: 8288bd95-d44e-8b1c-accb-0b221a71cd73
* Content: [Supported features available in Azure Security Cent

[2020-08-04 07:39] glprasanna commented on #60012
Hi Kandavel,

Could you please confirm whether your issue is resolved ?
We are also getting same error as you mentioned.

Thanks.

[2020-08-04 07:39] AnuragSharma-MSFT commented on #59785
Thanks @timsander1 for the updates.

@arthur1993 As the changes will be available with the latest Python sdk in a while, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-04 07:39] #59785 closed

[2020-08-04 07:46] JayaChatterjee-MSFT commented on #60043
@vaibhavramdasi Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-08-04 07:48] SumanthMarigowda-MSFT commented on #60125
@RameshTirunagari  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-04 07:50] SollicitusPeon commented on #60121
Hi,
Here's the screen shoot of 'Run user flow' for the Sign-in Sign-up policy:

The endpoint is:
https://anotherprayerapp.b2clogin.com/anotherprayerapp.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SignUpOrSignIn&client_id=fda04fd6-5ac1-450b-8d15-5863ceb0cca6&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fanotherprayerapp.b2clogin.com%2Fanotherprayerapp.onmicrosoft.com%2Foauth2%2Fauthresp&scope=ope

[2020-08-04 07:57] tslavik commented on #60180
@NavtejSaini-MSFT yes you can. Do we have any ETA of supporting the 3.6 version? As far as I know compass is the only free tool that have enterprise features.

[2020-08-04 07:59] morrigan777 commented on #31841
new version still has the issue

PS C:\Users\esther> Install-Script -Name New-OnPremiseHybridWorker -MinimumVersion 1.7
PackageManagement\Install-Package : Script
'C:\Users\esther\AppData\Local\Temp\2\326713396\New-OnPremiseHybridWorker\New-OnPremiseHybridWorker.ps1' is missing required metadata
properties. Verify that the script file has Version, Guid, Description and Author properties. You can u

[2020-08-04 08:25] JayaChatterjee-MSFT commented on #60198
@iUnknwn Thank you for highlighting this. I am engaging the author in this thread to review the content.

@craigshoemaker could you please review the content _"When a function key is used, the system sets the claim: http://schemas.microsoft.com/2017/07/functions/claims/keyid on the HTTP request, and populates it with the key id"_ and the sample provided for  https://stackoverflow.com/questions/588

[2020-08-04 08:29] KrishnaG-MSFT commented on #60127
@mahesh9022 I have tried to reproduce the issue but I was able to see Application Insights Telemetry as shown below.

![image](https://user-images.githubusercontent.com/45988031/89270824-86c96380-d659-11ea-928c-f8be20f24d22.png)

![image](https://user-images.githubusercontent.com/45988031/89270930-a52f5f00-d659-11ea-9ce3-b7aee6a8a741.png)

[This](https://github.com/MicrosoftDocs/azure-docs/issues)

[2020-08-04 08:29] #60127 closed

[2020-08-04 08:32] fvl-nxtport commented on #60156
Hi @timsander1 ,

Okay, thank you.

I was looking at the linked Azure docs page because I needed to create a compound index for doing multiple OrderBy's.
Example query:
[code]

I worked around the problem by adding a top level property `SomeObjectSomeNestedProperty` to the object that, when building the document, is set to `SomeObject.SomeNestedProperty` and then filter by that, but this is not an

[2020-08-04 08:33] vipulsparsh commented on #59876
@osaid202  We will be closing this now, if you have any questions, please tag me in your comment.

[2020-08-04 08:33] #59876 closed

[2020-08-04 08:35] Alex-Boo commented on #60159
Hello,
1. I just generated trigger function for Cosmos DB (version 3)
![image](https://user-images.githubusercontent.com/9656679/89272128-604dfd00-d646-11ea-8a0a-6eb28adaf8d4.png)

2. My test account
![image](https://user-images.githubusercontent.com/9656679/89271832-ee75b380-d645-11ea-865a-381506e83fb4.png)

[2020-08-04 08:40] BhargaviAnnadevara-MSFT commented on #60221
@glprasanna Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-04 08:40] PramodValavala-MSFT commented on #60082
@iBrooks While this approach is not like other traditional automations, I believe the script would still work if a CI worker runs in user space on a VM which has a browser session with logins made and consents provided, making it work without user interaction but might not be guaranteed to work with systems implementing 2FA.

The best approach would be to share API Connection resources which are p

[2020-08-04 09:06] kspoojary commented on #59909
@SnehaAgrawal-MSFT  I already tried managed identity to connect to storage account and it is working as expected. Looks like [this ](https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-storage) document is outdated because I was able to try out this feature without raising request.
 So can you please confirm me on this whether this feature is in preview or GA?

[2020-08-04 09:06] #59909 closed

[2020-08-04 09:14] SwathiDhanwada-MSFT commented on #60222
@meditadvisors I would suggest you to update your Az.OperationalInsights module to latest version 2.3.0 and try to delete the workspace.

`Install-Module Az.OperationalInsights -RequiredVersion 2.3.0`

![image](https://user-images.githubusercontent.com/48976275/89276196-f858e000-d660-11ea-879e-a7c8c0b5ca30.png)

[2020-08-04 09:23] AshokPeddakotla-MSFT commented on #60018
@dfay88 I am able to repro the issue. Will check with respective team and update you as earliest.

![image](https://user-images.githubusercontent.com/44426435/89277296-4ae6cc00-d662-11ea-8ada-7a89d84b6154.png)

[2020-08-04 09:26] meditadvisors commented on #60222
Thanks!
I suggest updating the docs with above procedure to make it easy to follow steps

[2020-08-04 09:26] #60222 closed

[2020-08-04 09:36] vipulsparsh commented on #60226
@vanessabruwer  Windows server 2019 is also supported for Defender Antivirus.  You can read more about it [here](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/microsoft-defender-antivirus-on-windows-server-2016#:~:text=Microsoft%20Defender%20Antivirus%20is%20available%20on%20Windows%20Server,Protection%3B%20however%2C%20the%20protection%20engine%2

[2020-08-04 09:37] hansmbakker opened #60229 "Contradicting information on whether : or __ and nesting is supported in Azure Functions configuration"
According to [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file):

According to [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings) you can use colons (:) and bind nested settings to classes.

Can you please clarify this?

---

[2020-08-04 09:45] glprasanna commented on #60221
Hi Bhargavi,

We have downloaded plugin from below URL.
https://www.microsoft.com/en-us/download/details.aspx?id=56506

Please let us know if you need nore details.

Regards,
Prasanna

[2020-08-04 09:46] Arvind-0120 opened #60230 "Spelling Mistake in the article under section 'Setting the Azure AD Admin user'"
Under the section 'Setting the Azure AD Admin user', statement says 'To create **and** Azure AD Admin user'. It should say 'To create **an** Azure AD Admin user".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2910bd-55dc-3618-b128-2ac858829ec0
* Version Independent ID: a9cab8cc-fb10-f3f3-6dbc-ce657609258d
* Content:

[2020-08-04 09:46] VikasPullagura-MSFT commented on #60183
@rdeltcheva Can you please check on this and add your comment.

[2020-08-04 09:49] SwathiDhanwada-MSFT commented on #59415
@git001 Thanks for the detailed information. I will check and update you.

[2020-08-04 10:02] AnuragSharma-MSFT commented on #60230
@Arvind-0120 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-04 10:03] #60131 closed

[2020-08-04 10:04] Pamir opened #60232 "Memory Request and Limit should be equal"
[Although it is scheduler best practices. For kubernetes memory reuqest/limit should be equal ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae17603-813b-f1ef-e161-c229d49a2541
* Version Independent ID: 5c1dcea0-0cda-0233-2356-be63be776809
* Content: [Best practices for scheduler features - Azure Kubernetes Service]

[2020-08-04 10:23] BhargaviAnnadevara-MSFT commented on #60221
@glprasanna Are you following any specific documentation that lead you to this error? If yes, please share the URL of the document here so I can route your request to the right Team.

Also, on a side note, this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. The best place for specific answers a

[2020-08-04 10:28] RohitMungi-MSFT commented on #60193
@lex3001 Registered models are identified by name and version. Each time you register a model with the same name as an existing one, the registry increments the version. Additional metadata tags can be provided during registration. These tags are then used when searching for a model. Azure Machine Learning supports any model that can be loaded using Python 3.5.2 or higher. So, you can use the same

[2020-08-04 10:33] GitaraniSharma-MSFT commented on #60205
@svangeti , We have assigned this issue to the respective product owner for review.
@mscatyao , Could you please provide your insights here?

[2020-08-04 10:35] JasSuri commented on #52291
There is a sample here too
https://github.com/azure-ad-b2c/samples/tree/master/policies/progressive-profile

[2020-08-04 10:38] JasSuri commented on #51818
Essentially the process is the same, you change the last step of the journey from `JWTIssuer` to `SAMLIssuer` as per [3.1.4](https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#31-create-sign-up-or-sign-in-policy).
Then in the relying party section, change the Protocol from `OpenIdConnect` to `SAML2` as per [3.1.6](https://docs.microsoft.com/en-us/azure/

[2020-08-04 10:42] JasSuri commented on #52557
@msmimart we can consider these newer scripts: https://github.com/azure-ad-b2c/Scripts/tree/master/GettingStarted

[2020-08-04 10:45] GitaraniSharma-MSFT commented on #59972
@cloudmelon , As per the backend team, your subscription do not have the needed flag Microsoft.Network/AllowExpressRoutePorts that is in the manifest as required so the namespace won't show the registration to it. In order to be able to use ExpressRoute port related operations, your subscription should have the Microsoft.Network/AllowExpressRoutePorts feature flag enabled.

You could try to regist

[2020-08-04 10:45] #59972 closed

[2020-08-04 10:49] rageanilkumar opened #60233 "Kubernetes Node pools issue with Availability zones"
When i am creating kubernetes node-pools using availability zones through terraform
Below is the terraform code for Kubernetes pools creation using availability zones:
#resource "azurerm_resource_group" "example" {
#  name     = "kubernetes-terraform-rg"
#  location = "Central India"
resource "azurerm_resource_group" "rg" {
 #count = "${var.rg_count}"
 name     = "kubernetes-terraform-rg"
 locatio

[2020-08-04 10:58] AnuragSharma-MSFT commented on #60230
@Arvind-0120 Thanks for letting us know, we have updated the document content accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-04 10:58] pksorensen commented on #42906
@alexanderperlis Just for my understanding, if running a sha256 online (https://xorbin.com/tools/sha256-hash-calculator) the length of result is 64, example: "e2f9604a32d9273e121237cad68266e5aaf2df53c8fa48bb5cf481a66bcaf193".

and base64 of that is properly longer, so where am i going wrong?

[2020-08-04 10:58] #60230 closed

[2020-08-04 11:03] JasSuri commented on #53226
As part of your custom policy Azure AD OpenId Connect technical profile, can you share what you have set as the technical profile for ```"<UseTechnicalProfileForSessionManagement ReferenceId="```

[2020-08-04 11:13] GitaraniSharma-MSFT commented on #60138
@atamu , I replicated your scenario and I was able to move the Network interface of a VM to another resource group without moving any related resources. We have engaged the backend team to provide their insights on same. We will get back to you once we have an update from them.

[2020-08-04 11:13] estensen opened #60234 "Outdated default value for Durable Functions Core Tools"
According to the [Task Hubs docs](https://docs.microsoft.com/en-gb/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp#hostjson-functions-20-1) the default task hub name is `TestHubName` for Durable Functions v2. The [docs for instance management](https://docs.microsoft.com/en-gb/azure/azure-functions/durable/durable-functions-instance-management?tabs=csharp#azure-functions-core-

[2020-08-04 11:29] VikasPullagura-MSFT commented on #60223
@JamesDLD
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-04 11:30] VikasPullagura-MSFT commented on #60223
@MashaMSFT Can you please add your comments.

[2020-08-04 11:30] yanivlavi commented on #60208
@harelbr Any thoughts on this?

[2020-08-04 12:12] mikedzikowski opened #60235 "Supportability Matrix Update"
[Enter feedback here]

The support matrix should be updated to include updated details on which VM series you can mix in the same availability set (i.e. F series can mix with D series due to General Purpose Hardware).

Av2
B
Dv2/DSv2/Dv3/Dsv3
Ev3/Esv3
Fv1/Fsv1
Fsv2

 Also, please add additional clarity around the reasons why other VM series can't be mixed in an availability set.

---
#### Document

[2020-08-04 12:23] craigshoemaker commented on #60077
@ctulb:

@RyanHill-MSFT is correct, access to the client id during local development is currently not possible with the Preview version and unfortunately we don't have a work around for it at the moment.

#please-close

[2020-08-04 12:23] #60077 closed

[2020-08-04 12:26] AnuragSharma-MSFT commented on #60159
@Alex-Boo Thanks for providing the information. This helped us in triaging the issue better. Azure Cosmos DB Trigger Function is able to monitor the Change Feed in Azure Cosmos DB - Azure Table API account both for Insert and Update entities.

This is being assigned to the content author now to evaluate and update as appropriate.

[2020-08-04 12:28] craigshoemaker commented on #59435
@DanielCernoch -

It looks like we have an issue of overloaded terms here. This article is demonstrating how to create a static web app, which is fully generated by the Nuxt.js framework. You are correct in noting that this is not a typical server-rendered app since Azure Static Web Apps is implemented with serverless technologies.

I am reviewing this content for updates and I will work to clarif

[2020-08-04 12:28] #59435 closed

[2020-08-04 12:47] mars-boy commented on #44072
Hey @daltonks , any way u are able to achieve graceful shutdown in azure app service,

Ur reply is very much appreciated.

Thanks

[2020-08-04 12:49] Plaquevent opened #60236 "Availability zone is not the combination of a fault domain and an update domain"
Hello,

In this doc, it sounds like an Availability Zone is 1 fault domain and 1 update domain. I think this is false : an Availability Zone contains several fault and update domains. Could you please tell me if I am wrong or correct the doc ?

Best Regards,

Julien Plaquevent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-04 12:50] RohitMungi-MSFT commented on #60216
@hankhester custom keywords can be used with the speech SDK after they are created from studio and exported as defined in this article. Could you please provide a link to the file that you are referring to?

[2020-08-04 12:50] TheovanKraay commented on #60159
@timsander1 + @ThomasWeiss would you be able to cast your eye over this? Once again, I made myself a document owner, when I shouldn't have....

[2020-08-04 12:52] Plaquevent commented on #60236
The exact problematic sentance is "An Availability Zone in an Azure region is a combination of a fault domain and an update domain."

[2020-08-04 13:01] NavtejSaini-MSFT commented on #60180
@tslavik The support is provided according to what the Product Group team is working on. You can raise an feature or feedback request with them here  - https://feedback.azure.com/forums/263030-azure-cosmos-db
They will look into it and provide guidance. Hope this helps.

[2020-08-04 13:09] vaibhavramdasi commented on #60043
@JayaChatterjee-MSFT

Is there any documentation that highlights this fact? Documentation has  just following line which does not warn user about possible end of support(even worse removal) of pinned minor version.

[2020-08-04 13:14] NavtejSaini-MSFT commented on #60084
@mydiemho Do you need any further help with this.

[2020-08-04 13:18] dfay88 commented on #60018
Thanks!

[2020-08-04 13:18] cephalin commented on #55505
@manish-jain-1 The steps are only provided as an example of what you need to do. As each custom container is different, you're best bet is on StackOverflow, and show your Dockerfile, startup script, and sshd_config configuration file, and tell them what your base image is (example in doc is based on a Linux Alpine image) so people can help you. BTW, SSH access has nothing to do with Web API nor AS

[2020-08-04 13:18] #55505 closed

[2020-08-04 13:24] NavtejSaini-MSFT commented on #60078
@samueljamkhandi-MSFT The V2 is preferred as mentioned in document cause it is a newer version with more capability and cost effectiveness - https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#types-of-storage-accounts
![image](https://user-images.githubusercontent.com/52257742/89298903-f6c4f300-d633-11ea-8cab-dd6fc2c1f90f.png)

But I do agree with you that it is worth m

[2020-08-04 13:27] squasta opened #60237 "Command line with Azure CLI to check if Ultradisk is available for a VMsize in Availability can be little improved"
For VM in availability zones :

The following command give a result difficult to interpret :
az vm list-skus --resource-type virtualMachines  --location $region --query "[?name=='$vmSize'].locationInfo[0].zoneDetails[0].Name" --subscription $subscription

This one is more human readable and understandable:
az vm list-skus --resource-type virtualMachines  --location $region --query "[?name=='$vmSiz

[2020-08-04 13:28] behzad-a commented on #59787
@himanshusinha-msft Thank you for your help. I've opened a ticket in ASA feedback forum. Closing this issue now.

https://feedback.azure.com/forums/270577-stream-analytics/suggestions/41070859-allow-asa-to-acquire-bearer-token-for-authenticati

[2020-08-04 13:28] #59787 closed

[2020-08-04 13:32] cephalin commented on #57849
The steps are provided here as a convenience and the exact permissions required depends on Azure AD, which is outside the scope of this document. For more information about how to configure Azure AD app registrations and the permissions required, please consult the Azure AD documentation.

[2020-08-04 13:32] vanessabruwer commented on #60226
When customers look at the document, they are not clear on this, as there is no link back to the document you linked to in this comment, and no indication that 2019 is supported. It may be worth calling it out directly, or saying Windows Server 2016 and later

[2020-08-04 13:32] cephalin commented on #57849
#please-close

[2020-08-04 13:32] #57849 closed

[2020-08-04 13:32] glprasanna commented on #60221
Hi Bhargavi,

We have taken reference from this document
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

We have downloaded plugin from below URL
https://www.microsoft.com/en-us/download/details.aspx?id=56506

Please let us know if you need more information.

Regards,
Prasanna

[2020-08-04 13:37] SwathiDhanwada-MSFT commented on #60215
@bwren  Seems there is a limitation for streaming diagnostic logs from one region to a storage account/eventhub in another region. Can you please verify and update the documentation accordingly?

[2020-08-04 13:54] morphvale commented on #60161
Status of migration after 3 hours: it has been stuck like this after the first 10 minutes (after first 3UD are updated).

![cluster](https://user-images.githubusercontent.com/10355724/89301901-d8cab300-d672-11ea-8e88-2124e3115bd5.png)

[2020-08-04 13:58] BhargaviAnnadevara-MSFT commented on #60221
@glprasanna Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2020-08-04 14:00] MGoedtel commented on #60154
That statement is outdated and incorrect and I'll bug it. I should be able to correct it later this week.  Thanks. #please-close

[2020-08-04 14:00] #60154 closed

[2020-08-04 14:05] techarchconsulting commented on #60012
Please take the latest version of the Azure AD Jira SSO plug in. The
problem is resolved and it is working fine now.

On Tue, 4 Aug 2020 at 03:39, glprasanna <notifications@github.com> wrote:

--
Kandavel Sethumadhavan,
[image: 2020-02-20.jpg]
*kandavels@gmail.com <kandavels@gmail.com>*
*+1732-372-1977*

[2020-08-04 14:06] PriceChild commented on #58292
FWIW, confirmed a value similar to:
[code]
is required in arm templates.

[2020-08-04 14:10] w0ut0 opened #60239 "What does UserErrorUnableToOpenMount mean?"
I could not found any solution on this page (or anywhere) for the following error:

error code: UserErrorUnableToOpenMount
error message:  Some mount point is not accessible. 
recommended action: Check if all mount points of fstype Ext3/4, ReiserFS, JFS, XFS are accessible.

(this occurs on a centos 7 machine)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-04 14:16] BhargaviAnnadevara-MSFT commented on #60135
@alohaninja Thanks for the updates! The changes do reflect in the exercise now. Hence closing the issue.

[2020-08-04 14:16] #60135 closed

[2020-08-04 14:16] alexanderperlis commented on #42906
@pksorensen Your hexadecimal string of length 64 represents 32 bytes of data. The base64 encoding of that data has length 43.

[2020-08-04 14:21] kasubram commented on #53089
I did mark publicNetworkAccess property as disabled and had service endpoint enabled and added a firewall rule to allow access only from a particular subnet. However, from a VM on the same subnet couldn't access the docDB.
Only after I turn the publicNetworkAccess to "Enabled" my firewall rule started having an effect.

The document is still not clear about the property.

[2020-08-04 14:27] daltonks commented on #44072
Hey @mars-boy, I wasn't able to, so I ended up switching to AKS.

[2020-08-04 14:43] shashishailaj commented on #60137
@HandyAndyOnGitHub We sincerely apologize for the inconvenience .  We checked this on our end and you are correct the article does needs an update as per the new experience. The functionality of app password is there however, its just restructured on the [Myaccount page](myaccount.microsoft.com) as you already found. Since the app passwords were related to providing MFA with legacy office apps and

[2020-08-04 14:45] shashishailaj commented on #60137
@curtand Could you please review this issue and make changes as required . The screenshots need to be changed and the description needs to be aligned in the section related to app passwords.

[2020-08-04 14:47] yanivlavi commented on #60208
I would remove this TOC item and move the first article to metric alerts and the second merge with the current log alerts.

[2020-08-04 14:48] yanivlavi commented on #60208
@KrishnaG-MSFT can we push an update for this?

[2020-08-04 14:53] JayaChatterjee-MSFT commented on #59968
@nerddtvg Thank you for highlighting this. We have verified your statement and I will be engaging the document owner to update the document accordingly.

@eamonoreilly I am assigning this thread to you to review the content and how profile.ps1 works. I will share another relevant document with you offline so that we can add more details to make things clear.

[2020-08-04 14:55] asergaz commented on #59910
@SibeeshVenu thank you so much for your feedback.

The discussion is falling off the context of [this document](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux). Since you are currently not facing a bug, just requesting validation from the community if there are other concerns when using `Ubuntu 20.04` on top of `Raspberry OS` - for better visibility and help, Microso

[2020-08-04 14:55] #59910 closed

[2020-08-04 14:58] mikewo opened #60240 "Provide example of some rules and matches, especially with spaces"
It would be nice to provide some examples of matches and rules, especially with a space in involved, as well as some more complex matching patterns.

We had the need to perform a redirect from our CDN to another URL for a file that we no longer wanted to be published. There was no file on the backing Blob store, but we put in a rule to match on URL and then redirect to a different page. The issue

[2020-08-04 15:05] JayaChatterjee-MSFT commented on #60043
@vaibhavramdasi Those details will be documented on Azure App Service announcements - Github : https://github.com/Azure/app-service-announcements - You can subscribe to the repo to be notified of major changes in Azure App Service.

You may opt for the "Watch" option so that you start receiving communication for all the Major enhancement.
![image](https://user-images.githubusercontent.com/51781464

[2020-08-04 15:10] lasyan3 commented on #53226
Hi @JasSuri, the technical profile uses "<UseTechnicalProfileForSessionManagement ReferenceId="SM-SocialLogin" />"

[2020-08-04 15:17] YutongTie-MSFT commented on #59931
@knunery I have fixed the document and you will see the change shortly. Thanks again for the feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-04 15:17] #59931 closed

[2020-08-04 15:17] MastafaF opened #60241 "Workspace ws not defined"
[Enter feedback here]

Hi there are lots of mentions of 'ws' but it is never instantiated first. Would be great to make sure it is correctly instantiated first in the doc.

Thanks,
Mastafa
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0a7c4e-d3d3-94af-9e57-73496d4671f3
* Version Independent ID: 99eb48a4-65fb-88ef-027

[2020-08-04 15:19] BhargaviAnnadevara-MSFT commented on #58344
@jamesbannan The fix should have been rolled out to all regions by now. Please retry and let us know if you see any issues. Thanks for your patience!

[2020-08-04 15:29] emuench commented on #59885
@SadiqhAhmed-MSFT Any breakthrough here? I pinged Shadow accidentally yesterday; his comment above.

[2020-08-04 15:29] RyanHill-MSFT commented on #60041
@AlverezYari, sending multiple files into a single job doesn't create a queueing system. So, the job won't complete until all files have been turned into asset. Furthermore, asset will contain metadata, manifest, etc. for the video that was processed. Therefore, multiple inputs for the job will result in multiple output videos for the single asset. Things like locators are handled at the asset lev

[2020-08-04 15:29] #60041 closed

[2020-08-04 15:30] anhlqn commented on #59525
I just exported the template from an existing SQL MI resource. We created another SQL MI resource recently using the Azure Portal and the NSG created by default has two security rules for CorpNetSaw and CorpNetPublic.
![image](https://user-images.githubusercontent.com/3209539/89312824-941c2900-d62c-11ea-8d68-591716e8e1a0.png)
![image](https://user-images.githubusercontent.com/3209539/89312930-b615

[2020-08-04 15:31] cephalin commented on #44086
This is already fixed. #please-close

[2020-08-04 15:31] #44086 closed

[2020-08-04 15:45] AlverezYari commented on #60041
@RyanHill-MSFT Thanks for the clarification, so the correct order of operations is:
`1 input asset (or https stream) -> 1 encode job -> 1 output asset ` ?

Is there any benefit creating and uploading a clip into an input asset vs just using the SAS https as the input for the job?

[2020-08-04 15:45] YutongTie-MSFT commented on #59936
@Mystorius
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-04 15:45] #59936 closed

[2020-08-04 15:46] philip-reed opened #60242 "Updating Cosmos DB document from input binding"
The statement:

Doesn't appear to be true when using a custom type, without further modification.
Consider the following object:

[code]
If we then modify the description here:
[code]

When the function completes and the document is attempted to be updated, I get the error:

![Annotation 2020-08-04 162852](https://user-images.githubusercontent.com/7798175/89312807-9d7ab500-d66f-11ea-9305-e15e53da0

[2020-08-04 15:50] RyanHill-MSFT commented on #58136
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-04 15:50] #58136 closed

[2020-08-04 15:51] vikancha-MSFT commented on #59945
@TrackDR Please open an Azure customer support case and share the id. The support engineers will work with you to troubleshoot and resolve the issue.

The Nvidia driver extensions on Azure are available in all regions. If you can tell us the specific region name then we can check and confirm from our side.

[2020-08-04 15:55] YutongTie-MSFT commented on #60241
@MastafaF
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-04 16:05] markjbrown commented on #60124
Outside of a session readers see consistent prefix.

Session consistency is desirable as a consistency model because most applications expect to be able to read their own writes which is what session consistency provides. The only equivalent to this with Mongo clients is bounded staleness. However because bounded staleness requires a two replica read, it costs twice as much.

I'm not sure about ho

[2020-08-04 16:09] plamber opened #60243 "Regular expression to validate if the syntax of a Dynamic membership rule is correct"
Hello,
I was wondering if there is some sorts of regular expression or way to validate over code the syntax of a dynamic membership rule. Do you have any suggestions how to build something like that?

We are looking for a way to leverage the Dynamic Group capability but providing a dedicated interface to generate such Groups in an in-house IAM solution.

Thank you for the feedback,
Patrick

---
##

[2020-08-04 16:28] bandersmsft commented on #59975
@kknight-valorem Thanks, Ken for pointing out this issue. We've updated the article to remove the link with https://github.com/MicrosoftDocs/azure-docs-pr/pull/124850.
#please-close

[2020-08-04 16:28] #59975 closed

[2020-08-04 16:38] timsander1 commented on #60156
That approach would be best (modify data model by adding a top level property to sort by). The reason I asked about the type of query was to check if the query involved OrderBy. If it didn't (and it was just multiple filters), I would have advised adding multiple single field indexes.

[2020-08-04 16:39] SibeeshVenu commented on #60160
@SatishBoddu-MSFT Have you ever faced [this issue](https://github.com/Azure/iotedge/issues/3353)?

[2020-08-04 16:40] MartinJaffer-MSFT commented on #60112
@xinyeah  which link in the document is pointing to databricks-pr?

[2020-08-04 16:40] amit17051980 commented on #59746
Hi Krish,

The issue mentioned below is the reverse side of the requirement. Based on recent comment, I can see that user wants SAML Token by using OAuth Token, but in my case I need OAuth Token using SAML Assertion.

https://github.com/MicrosoftDocs/azure-docs/issues/45071

Would you like to review this?

Thanks
Amit Gupta

[2020-08-04 16:41] PramodValavala-MSFT commented on #60011
@manjeet-bhachu-rft The hint is [part of the component](https://github.com/Azure/api-management-developer-portal/blob/master/src/components/products/product-subscribe/ko/runtime/product-subscribe.html#L28) but changing that would require you to [self-host](https://github.com/Azure/api-management-developer-portal/wiki/Self-hosting-the-portal) the portal. And if you are going to customize, you might

[2020-08-04 16:43] KitLemmonds opened #60244 "CLI instructions for TDE certificate migration missing a step"
I've followed the CLI instructions on this page to migrate a TDE certificate for restoring backups of on-prem encrypted databases.  There is apparently a step missing somewhere before the "az sql mi tde-key set" command is issued, as it returns "Deployment failed.  Correlation ID: <random guid>. The requested server key was not found."  I've confirmed the certificates were converted to psx and loa

[2020-08-04 16:48] SvenAelterman opened #60245 "Nested virtualization support for Windows Server 2019?"
From the article, it is not clear if Windows Server 2019 is supported for nested virtualization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8
* Version Independent ID: 6c5b1d1f-78a1-2c79-b37d-0367d76269da
* Content: [How to enable nested virtualization in Azure Virtual Machines -

[2020-08-04 16:49] mrbullwinkle commented on #60196
There is not currently any customizable parameter to adjust the frequency that default performance counters are collected.

You could create a custom metric or event and have it read a performance counter value at whatever frequency you want and pass that to App Insights via TrackMetric(), TrackEvent(), or GetMetric()/TrackValue(). Which of those options you choose would be dependent on what SDK y

[2020-08-04 16:51] jeevansd commented on #60221
@glprasanna Can you please install the new version of the plugin? This is just uploaded 2 days back and that should your issue. The version should 1.0.11

[2020-08-04 16:52] damendo commented on #59283
@jaydarius the type is correct. But you need more segments in the name.
See: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/child-resource-name-type#outside-parent-resource

Something like `VmName/AzureNetworkWatcherExtension` should work.

[2020-08-04 16:52] desingh9 opened #60246 "Bug In Microsoft Teams MFA Login"
I am not getting send Text OTP option while login to Teams.microsoft.com ,
there are only 2 option available as bilow link so how do i login to my page now ?
can you please advise??
![teams error login](https://user-images.githubusercontent.com/68318551/89321741-f0b92b80-d6a0-11ea-9dd4-b1e47e8ea91e.PNG)

![image](https://user-images.githubusercontent.com/68318551/89321380-8607f000-d6a0-11ea-950d-0

[2020-08-04 16:59] SatishBoddu-MSFT commented on #60147
Hello @zqynoob A quick update.

I have verified this sample tutorial with other service area team as well,

1) Azure ML (Validation passed)
2) Azure IoT HUB (Validation passed, myself)
3) Azure Stream Analytics (**Pending**)

So let me work with Analytics team to check on the function and the query part.

[2020-08-04 17:07] SatishBoddu-MSFT commented on #60160
Hello @SibeeshVenu Yes, I know this status, as I see this on my devices.

[2020-08-04 17:09] SibeeshVenu commented on #60160
@SatishBoddu-MSFT So, is there any fix for this issue?

[2020-08-04 17:10] MikeWilcoxMicrosoft opened #60248 "What is a 'login' ? ssh ? telnet ? Os Login ? Number of failed local logins is not in allowed range ?"
Can the team please elaborate on what is considered a login in the context of ' Number of failed local logins is not in allowed range'?

eg:  Is an ssh , telnet  or OS Login consider a 'login' ?
Or another view is please give an example of what will trigger the ' Number of failed local logins is not in allowed range ? ' Alert.

When we ssh into the IOT Edge device and then run 'rlogin' this trigge

[2020-08-04 17:11] SatishBoddu-MSFT commented on #60160
Hello @SibeeshVenu Thanks for the referring it here, we will continue our discussion over there. No worries!

[2020-08-04 17:13] swetha-rai opened #60249 "Flow diagram on this page gets cropped on clicking to expand it"
The flow diagram on this page needs to be edited. Clicking to expand the images results in a cropped image ( no scroll bars )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication session ma

[2020-08-04 17:17] SatishBoddu-MSFT commented on #60160
Yeah, the Document[Dev Blog] was authored a long time back. I agree. Just in case it might be helpful as I see you are working on latest hardware in the market, thought of sharing, if it might help.

The actual Document which you have referred is the one most recent on this topic:
[Tutorial - Develop module for Linux devices using Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tut

[2020-08-04 17:18] ThomasWeiss commented on #60159
Although trying to consume the change feed from a Table API table may produce results, this is not supported by the product so we discourage taking any dependency on this approach as this may stop working in the future.

[2020-08-04 17:19] Karishma-Tiwari-MSFT commented on #60232
@Pamir Thanks for the feedback. Can you please elaborate on your request for the document update? For example, share which part of the doc you are seeing discrepancy. Thanks.

[2020-08-04 17:20] Karishma-Tiwari-MSFT commented on #60235
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-04 17:22] Karishma-Tiwari-MSFT commented on #60237
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-04 17:27] NavtejSaini-MSFT commented on #59525
@srdan-bozovic-msft Can you please check this further.
@anhlqn I am checking this with doc author and other avenues as well.

[2020-08-04 17:27] HarshitaSingh-MSFT commented on #60209
Hello @obhayes, thanks for reaching out to us! The statement -

means that Licenses are not required for guests who **have privilege to request** access packages but they **do not choose** to request them

[2020-08-04 17:27] janissimsons commented on #48902
Whoever is experiencing the same issue in the future, follow these steps, I just tried them out and it fixed my problem.

[2020-08-04 17:30] aelmanaa opened #60250 "Mention that with ASE, one can access AZure PaaS via private endpoints"
Hello,

for App service environment, you mention a lot "service endpoints" to access AZure DB & storage PaaS. However, shouldn't you mention private endpoints as well?
I haven't use them yet to integrate a azure file share from ASE but I'm heavily using this concept to access DB & storage from AKS or onpremise VMs and it's much more easier & cleaner than service endpoints.

---
#### Document Detai

[2020-08-04 17:31] HarshitaSingh-MSFT commented on #60209
Hello @obhayes, thanks for reaching out to us! The statement -

means that Licenses are not required for guests who **have privilege to request** access packages but they **do not choose** to request them.

[2020-08-04 17:31] GiftA-MSFT commented on #60229
@hansmbakker we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 17:40] emuench commented on #59885
Pinged another resource

[2020-08-04 17:40] BryanTrach-MSFT commented on #60250
@aelmanaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-04 17:45] mmacy commented on #53296
@rwike77 Ryan, I'll take this one. #reassign:mmacy

[2020-08-04 17:45] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-04 17:45] #59782 closed

[2020-08-04 17:46] SaurabhSharma-MSFT commented on #59953
@BrianLytle We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-04 17:46] #59953 closed

[2020-08-04 17:50] KranthiPakala-MSFT commented on #58069
Hi @oomelenchuk,

Since the old issue was closed, could you please open a new issue and provide few additional details about the issue you are facing?  - Thanks

[2020-08-04 17:51] amanda-barton opened #60251 "Example should be a Web App"
I followed the example for the Console App that worked great. As soon as I put the exact same config/packages/framework in my Web App, I hit an exception that I'm still unable to get around.

The more realistic scenario is developers will be implementing in a web application. Please do examples in a web app so you account for these errors.

![image](https://user-images.githubusercontent.com/119975

[2020-08-04 17:51] krish-gh commented on #59746
Hi Amit, there might be a little confusion. The issue #45071 originally tries to get OAUTH token using SAML Assertion.

[2020-08-04 18:04] MarileeTurscak-MSFT commented on #60243
@plamber
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-04 18:07] MarileeTurscak-MSFT commented on #60246
@desingh9
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-04 18:07] HarshitaSingh-MSFT commented on #60206
Hello @bsmith05, thanks for reaching out to us!
As confirmed from the Doc owner, minimum Windows 10 supported version is 1607 as shown below -

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/25202671/89328462-11867e80-d6ab-11ea-8aab-3ee49f7e117a.png)

Let me know, if that answers your question.

[2020-08-04 18:07] MarileeTurscak-MSFT commented on #60249
@swetha-rai
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-04 18:16] DOMZE opened #60252 "State that a managed identity needs to exist and enabled on the virtual machine for this work"
Failing to enable managed identity may result in errors like:

sudo: PAM account management error: System error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory

[2020-08-04 18:17] Karishma-Tiwari-MSFT commented on #59235
If testing is completed successfully, we are expecting it to be ready and documented by next week. Extension version 1.1.0.51 or higher is expected to allow CentOS 7.8.

[2020-08-04 18:23] #53296 closed

[2020-08-04 18:36] SatishBoddu-MSFT commented on #60148
Hello @bbpaulvanharen Could you please let us know the document you have referred to DPS?

In my previous reply I have provided the document link to IoT Edge Device DPS group enrollment Tutorial:
[Please refer to Create a DPS group enrollment](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-x509-certs#create-a-dps-group-enrollment)

Azure DPS supports both Edge and Non-Edge d

[2020-08-04 18:43] mmacy commented on #52369
@rwike77 Ryan, I'll take this one. #reassign:mmacy

[2020-08-04 18:43] ts46235 opened #60253 "Page still talks about web/worker roles"
That is outdated technology...update with latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 434e273d-e6cb-8c52-d83f-6f8bc87d2fce
* Version Independent ID: 69de87d9-1acc-1222-717c-9b75e2213ccb
* Content: [Auto scale a cloud service in the portal](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-h

[2020-08-04 18:59] shashishailaj commented on #60143
@n41n4 The URL is provided automatically when you create services like service fabric cluster , the service will generate an instance name as *.cloudapp.azure.com . For websites you do not get any URL for the same. The websites are generally web applications which can be hosted on Azure App service or azure functions etc. and these always get the URL for domain that are *.azurewebsites.net . If yo

[2020-08-04 19:06] fhryo-msft commented on #49513
@brandonh-msft can you please provide full command that you tested and failed? We are not able to advise based on error itself.

[2020-08-04 19:07] wesmc7777 commented on #60148
Hello @bbpaulvanharen, I'd like to also provide some additional answers to your questions.

Your questions:

* Would the diagram "Behind the scenes" be different for individual enrollments vs using enrollment groups?

    Really the only difference is just how the device authenticates. For example, using a [derived symmetric key](https://docs.microsoft.com/en-us/azure/iot-dps/concepts-symmetric-ke

[2020-08-04 19:12] mamccrea commented on #60110
#reassign:mssaperla

[2020-08-04 19:20] xinyeah commented on #60112
The content source in the document details.

[2020-08-04 19:24] GiftA-MSFT commented on #60083
@mjaow thanks for your feedback, document will be updated shortly. Thanks.

[2020-08-04 19:27] lisaguthrie commented on #52131
Hi @bebemau - sorry for the delayed response. There is a sample for using managed identity with .NET Framework in [this article](https://docs.microsoft.com/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core2x#use-managed-identity-in-other-languages). Let us know if you're having any other problems.

#please-close

[2020-08-04 19:27] #52131 closed

[2020-08-04 19:30] #52369 closed

[2020-08-04 19:31] #60083 closed

[2020-08-04 19:33] ChaitanyaNaykodi-MSFT commented on #60234
@estensen, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-04 19:35] ChaitanyaNaykodi-MSFT commented on #60242
@philip-reed, Thank you for your feedback! We will review and update as appropriate.

[2020-08-04 19:50] KranthiPakala-MSFT commented on #60075
@NJarZe Yes, this connector mostly cares about `netweaver version` which is not strongly bind with the SAP ECC EHP version.  SAP ECC 6.0 EHP 7 generally has the NETWeaver version >=7.4.

Here are the steps to confirm the NetWeaver version in case you need to know more clearly about how to get that

1. Use SAP GUI to connect to the SAP System
2. Go to System -> Status
3. Then you will see the relea

[2020-08-04 19:52] cynthn commented on #53880
I ran through the article again and it looks like it works as written. Thank you!

#sign-off

[2020-08-04 20:01] spottedmahn commented on #49471
thanks for reviewing @PramodValavala-MSFT 👍

[2020-08-04 20:12] KranthiPakala-MSFT commented on #60086
Hi @guntaled, No, the cannot be grouped because retires are essentially fresh runs. Not retries of the same run. If the request is to do reruns of the same run, it is not supported currently. Could you please add this to ADF feature request feedback forum:

https://feedback.azure.com/forums/270578-azure-data-factory

Please do share the feedback link once it is created. Thank you.

[2020-08-04 20:33] anbene commented on #59632
@santhoshbomma9 You are correct, test drives are available for SaaS offers.

Virtual machines and Azure apps can _only_ select ARM test drives as the type of test drive, but ARM test drives are not limited to those two offer types. I hope this helps!

[2020-08-04 20:37] nadcraker opened #60255 ".AddMicrosoftWebApiCallsWebApi() requires an IConfiguration parameter"
`.AddMicrosoftWebApiCallsWebApi()` should be `.AddMicrosoftWebApiCallsWebApi(Configuration)`

You can see an example of this here: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Startup.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-04 20:38] krishna-doss-mohan opened #60256 "Irrelevant page link on button 'Avoid translation in your Translator call'."
Under section 'Next steps' there is a button 'Avoid translation in your Translator call'.
Clicking on it doesn’t takes to page which shows how to ‘avoid translation in your translator call’.

Thanks,
M Krishna Doss
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e605b68f-9ada-9ca5-dfbc-ae23d54795f7
* Version Independent

[2020-08-04 20:39] MonikaReddy-MSFT commented on #60255
@nadcraker -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-04 20:40] santhoshbomma9 commented on #59632
Thank you for you response @anbene. Sure then might have to get the docs updated to avoid confusion?

[2020-08-04 20:56] jeevansd commented on #29915
@Cmmdesai Can you please help answer this?

[2020-08-04 20:57] jeevansd commented on #31993
@Zchia can you please comment on this one?

[2020-08-04 21:07] anbene commented on #59632
Thanks for the feedback @santhoshbomma9 . I've added a task in our queue to make that clear in our documentation. We appreciate your contribution.

#please-close

[2020-08-04 21:07] #59632 closed

[2020-08-04 21:17] Chireven opened #60258 "Invalid Command"
The following command is in correct.  As a windows admin, I'm relying heavily on documentation and this sent me down quite the rabbit hole trying to figure out.

    alternatives --set python `which python2`

It should be:

    sudo update-alternatives --install /usr/bin/python python /usr/bin/python2 1
    sudo update-alternatives  --set python `which python2`

---
#### Document Details

⚠ *Do no

[2020-08-04 21:17] jeevansd commented on #34210
@yobyot The access is given to AWS Console. If the other than Console app you would like to connect use Gallery/Non-Gallery application template to connect with it. It will be a separate connection.
You should assign the groups to only right app. Also you need to assign the role while assigning the user. That way only right set of users will get access to AWS accounts and roles.

[2020-08-04 21:18] jeevansd commented on #34210
@bakerm00 Yes, Azure AD B2B accounts can also use this integration. There is no need to provision the user account in AWS once you are using SSO with AWS.

[2020-08-04 21:18] jeevansd commented on #34210
#please-close

[2020-08-04 21:18] #34210 closed

[2020-08-04 21:19] jeevansd commented on #41592
@zchia Can you please help answer this?

[2020-08-04 21:19] jamesorlando opened #60259 "This solution does not work behind a proxy"
It should be noted on this page that this solution will not work behind a web proxy. There is no supported way to install the helm stable repository behind a proxy. The connection will time out since helm is not proxy aware or have the ability to make it so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-

[2020-08-04 21:19] mattchenderson commented on #58457
Apologies that I missed this one. Please refer to Key Vault docs and samples for use from C#. The references feature is specifically for the Application Settings feature of App Service / Azure Functions and has additional restrictions on top of what can be done by working directly against Key Vault from your own code.

[2020-08-04 21:25] jeevansd commented on #45600
@chetansriv Can we please retest this integration?

[2020-08-04 21:26] jeevansd commented on #46763
@chetansriv for tracking.

[2020-08-04 21:27] jeevansd commented on #46973
@zchia Can you please confirm that we are working on this issue?

[2020-08-04 21:28] jeevansd commented on #47509
@v-hagamp Can you please do the follow up here?

[2020-08-04 21:28] mattchenderson commented on #26874
@RyanHill-MSFT should this have been closed?

To summarize: No, this is not possible today. It is a reasonable thing to ask for. I'd request that such requests go to https://feedback.azure.com for consolidation.

For general Web Apps, our recommendation is to reference Key Vault directly from your code. Because `local.settings.json` was referenced, I'm assuming Azure Functions is the primary drive

[2020-08-04 21:28] #26874 closed

[2020-08-04 21:29] jeevansd commented on #48941
@chetansriv for tracking

[2020-08-04 21:32] jeevansd commented on #48981
@chetansriv We need to fix the app name in the gallery and also fix the left navigation in the docs.

[2020-08-04 21:33] swmachan commented on #59940
Adding @melghazali to look into this.

[2020-08-04 21:33] jeevansd commented on #49121
@zchia Can you please update the instructions on the page?

[2020-08-04 21:34] jeevansd commented on #49366
@zchia Can you please update the article? I think the Concur team has updated the page to support Azure AD.

[2020-08-04 21:35] jeevansd commented on #50124
@niket10x I dont think Salesforce app support the RelayState feature. So please work with Salesforce team and get the right guidance.

[2020-08-04 21:35] jeevansd commented on #50124
#please-close

[2020-08-04 21:36] jeevansd commented on #50227
#please-close

[2020-08-04 21:36] #50227 closed

[2020-08-04 21:39] jeevansd commented on #50597
@smoms The note from @donkoyote is right here. You can do this but it is not a good practice. Also you need to trust the Master account in all your account. That way user can switch from the master account to the desired account.

[2020-08-04 21:39] jeevansd commented on #50597
#please-close

[2020-08-04 21:39] #50597 closed

[2020-08-04 21:40] jeevansd commented on #51243
@Chetansriv for tracking.

[2020-08-04 21:42] GiftA-MSFT commented on #59940
@MrSimple263 thanks for reaching out. I wasn't able to reproduce this issue. Ensure that you have selected a minimum of 10,000 training sentence pairs before training the model.

[2020-08-04 21:43] jeevansd commented on #51322
#please-close We have an internal tracking item for this.

[2020-08-04 21:43] #51322 closed

[2020-08-04 21:44] jeevansd commented on #55018
@chetansriv for tracking

[2020-08-04 21:45] jeevansd commented on #55018
@chetansriv Can you please update the article and clarify step 20.f that it should be service principal object id?

[2020-08-04 21:47] jeevansd commented on #55184
@learley This is the article which talks about USer Provisioning APIs https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/application-provisioning-configure-api

[2020-08-04 21:47] jeevansd commented on #55184
#please-close

[2020-08-04 21:47] #55184 closed

[2020-08-04 21:47] GiftA-MSFT commented on #60233
@rageanilkumar we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 21:47] mimckitt commented on #57798
We have determined that the portal is using the following information to generate the host names:

[code]

This is not further configurable unless you opt to deploy from a template. In the template, you have the following which you can manage:

VMSS name: vmss
Instance names: vmss_0, vmss_1, vmss_2
Computer Names: bar000000, bar000001, bar000002

in the above case I deployed via template and modif

[2020-08-04 21:48] jeevansd commented on #55228
@ArvindHarinder1 and @zchia  Can you please cover this in the provisioning documentation? Then close this item here?

[2020-08-04 21:48] mattchenderson commented on #59768
Thanks @pnarsi ! Definitely appreciate the feedback.

I'll take a look at that Functions doc. Totally agreed on the baseline. That one takes a little longer to update but I'll try and get something captured in there as soon as possible.

As for your question about the limitation, it would still apply. The problem is that the resolution isn't being routed to the VNET itself yet. This is what we are

[2020-08-04 21:49] GiftA-MSFT commented on #60236
@Plaquevent we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 21:49] jeevansd commented on #55347
@toffendask Azure CP is required if you would like to enable people picker in the SharePoint. By default it looks at User.UserPrincipalName for mapping the users.

[2020-08-04 21:50] jeevansd commented on #55347
#please-close

[2020-08-04 21:50] #55347 closed

[2020-08-04 21:51] ChaitanyaNaykodi-MSFT commented on #60090
@pheuter, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-04 21:53] jeevansd commented on #55464
@abhishek0818 Please raise the support ticket on this and they will provide the right guidance on what changes you need to do on your onpremise AD to get this working.

[2020-08-04 21:53] GiftA-MSFT commented on #60239
@w0ut0 we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 21:53] jeevansd commented on #55464
#please-close

[2020-08-04 21:53] #55464 closed

[2020-08-04 21:54] mattchenderson commented on #59721
The version is required as is documented. While the system has accepted values without a version string, it does not behave as expected and has some undefined behavior. A restart is helpful but is not an acceptable path that would allow us to lift the restriction. We have proper rotation behavior coming which will integrate this more directly, and at that point, these warnings in the docs will be

[2020-08-04 21:54] #59721 closed

[2020-08-04 21:55] jeevansd commented on #55885
@keschnei42 If you configure WS-Fed logout endpoint then Google will just redirect you to logout the user. Azure AD will logout the user and the user need to close the browser. After that if the user is trying to login again he/she need to authenticate again with Azure AD. This is the default behavior if you are using WS-Fed endpoint here.

[2020-08-04 21:56] jeevansd commented on #55885
@chetansriv Can you please test this with SAML Logout and see if that is supported? Then we can change the instructions accordingly.

[2020-08-04 21:56] GiftA-MSFT commented on #60240
@mikewo we'll review your feedback and get back to you shortly. Thanks.

[2020-08-04 21:57] bradpicone commented on #60218
This article below provides an example of where a Log Analytics Workspace is used as the destination. It specifically states that the destination doesn't need to be in the same region as the resource being monitored. If this is the case for Workspaces but not for Event Hubs then the documentation needs to be updated to reflect this. It is not clear whether the destination region is a constraint an

[2020-08-04 21:57] jeevansd commented on #56761
@Zchia and @ArvindHarinder1 Can you please provide the guidance here?

[2020-08-04 21:59] simeyla commented on #59807
Thanks. It's pretty serious and a reminder not to ignore the warnings about securing VMs. So I think it would be very helpful to include, even if it sort of admits an issue with Windows not being able to accept many failed login attempts in succession.

[2020-08-04 22:00] mattchenderson commented on #53726
Since the doc has been updated, I'm going to go ahead and close this issue. Once I have confirmation and have verified successful behavior in Linux Consumption, I will remove the warnings that I introduced.

Thanks again, everyone, for providing great detail and helping us track this down. I'm hoping to have the new API version in Linux Consumption very soon.

#please-close

[2020-08-04 22:00] #53726 closed

[2020-08-04 22:02] mmacy commented on #56330
@rwike77 I'll take this one, Ryan. #reassign:mmacy

[2020-08-04 22:03] jeevansd commented on #56856
@Chetansriv can you please update the Role sentence here?

[2020-08-04 22:07] mmacy commented on #56330
@verbedr Thanks for the issue, Dries! I've confirmed the Visual Studio behavior you note: the web API is created without an owner being assigned. A caveat to your suggestion of assigning an owner, however, is that the API appears under **APIs my organization users**. You do not need to assign yourself as owner of the API, and may select it in the **APIs my organization users** tab.

Update do the

[2020-08-04 22:11] github-2407 commented on #60033
@cfd-direct We have a documentation on preparing VM Image for publishing to Azure Marketplace. https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-azure-vm-technical-asset

Does this help?

[2020-08-04 22:26] abudja opened #60261 "Add ASR as one of the options to migrate SAP VMs to Azure"
The section on moving on prem SAP systems to Azure (https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/planning-guide#4d175f1b-7353-4137-9d2f-817683c26e53) mentions only copying VHDs manually from on prem to Azure, but fails to mention ASR. While ASR is discussed in another section (https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-workload#protect-sap) I think

[2020-08-04 22:28] ArvindHarinder1 commented on #56761
Please use the IP ranges under AzureActiveDirectory and AzureActiveDirectoryDomainServices

[2020-08-04 22:29] kobulloc-MSFT commented on #60251
@amanda-barton Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-04 22:37] #56330 closed

[2020-08-04 22:42] Nighteyez07 opened #60262 "location attribute missing from deployment section"
Within this page the **Create resource group and resources** section the template has outdated format, specifically missing the location attribute. This causes the following error, _InvalidDeployment - The 'location' property must be specified for the deployment. Please see https://aka.ms/deploy-to-subscription for usage details._,  when deploying through Azure CLI
https://docs.microsoft.com/en-us

[2020-08-04 22:45] Nighteyez07 commented on #60262
User error, I was missing the resourcegroup portion of the template

[2020-08-04 22:45] #60262 closed

[2020-08-04 22:59] tikicoder opened #60263 "EnableSoftDelete flag doesn't exist"
There is not an EnableSoftDelete flag on
New-AzKeyVault

There is a DisableSoftDelete which does the opposite of the flag you are suggesting.

https://docs.microsoft.com/en-us/powershell/module/az.keyvault/new-azkeyvault?view=azps-4.5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 761d042e-6cbd-7ee3-83bc-3633f7bcaf19

[2020-08-04 23:05] BharathNimmala-MSFT commented on #60262
@Nighteyez07 Thank you for reaching out and closing out the issue as well. Feel free to circle back if you have any further queries. Thank you

[2020-08-04 23:07] BharathNimmala-MSFT commented on #60258
@Chireven  Thank you for your feedback, we will look into it and update the document accordingly.

[2020-08-04 23:08] mmacy commented on #59670
@PSHREYASHOLLA The full scope is a concatenation of your web API's **Application ID URI** and the **scope name**.

For example, if your web API's application ID URI is `https://contoso.com/api` and your scope name is `Employees.Read.All`, your scope is:

`https://contoso.com/api/Employees.Read.All`

For your example, then, it would be:

* resource: `https://contoso.com/api`
* scope: `Employees.Rea

[2020-08-04 23:12] dcbrown16 commented on #60208
@yanivlavi just to be clear, there aren't two different articles in what I mentioned. Both of the articles indicated on the ToC in the screenshot are the same article, just appearing in two different places.
It's not a bad idea to have an article indicating how alerts work for Application Insights, but I don't think the log alerts article is the right approach. In place of the current article, it

[2020-08-04 23:20] ryanmajidi commented on #55588
assign:santoshbalasubramanian

[2020-08-04 23:21] MartinJaffer-MSFT commented on #60112
@xinyeah  I will reach out to you out-of-channel.

[2020-08-04 23:22] ryanmajidi commented on #55577
#assign:santoshbalasubramanian

[2020-08-04 23:45] cynthn commented on #53880
#please-close

[2020-08-04 23:45] #53880 closed

[2020-08-04 23:45] SatishBoddu-MSFT commented on #59829
@Druffl3 , @DivyaVaniChinta

We have confirmation from the Product Team that Indoor routing is not yet supported, but it is planned in the future.

So please stay tuned on Azure Maps Indoor [Documentation ](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-indoor-module)or Subscribe to [Azure updates](https://azure.microsoft.com/en-us/updates/?category=iot&query=Azure%20Maps) for all qu

[2020-08-04 23:46] cynthn commented on #52691
I've updated the doc and screenshots. Thank you!

#please-close

[2020-08-04 23:46] #52691 closed

[2020-08-04 23:47] jamesbannan commented on #58344
Hi @BhargaviAnnadevara-MSFT - thank you for the update. I have tested a deployment of a custom RHEL image from a shared image gallery attached to DevTest Labs and it worked perfectly :-) I'll close this call now - thanks all for your assistance with this issue.

[2020-08-04 23:47] #58344 closed

[2020-08-04 23:52] bwren commented on #59818
@craig-martin I actually was able to reproduce this. I'm waiting to hear back from the PMs. I'll update when I have some information.

[2020-08-05 00:13] Karishma-Tiwari-MSFT commented on #60245
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

You can find information related to 'Supported Windows guest operating systems for Hyper-V on Windows Server' here:
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/supported-windows-guest-operating-systems-for-hyper-v-on-windows#supported-w

[2020-08-05 00:15] Karishma-Tiwari-MSFT commented on #60252
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-05 00:18] GitHubSachin opened #60266 "minimum permissions required for user assigned identity?"
There is no mention of exactly what permissions are to be given to the user assigned identity which is assigned to run deployment scripts under.
I have sample (just hello world) above failing with error like below:

**The client <GUID> with object id <GUID> does not have authorization to perform action 'Microsoft.Resources/subscriptions/providers/read' over scope '/subscriptions/<subscriptionid>'

[2020-08-05 00:22] GitHubSachin commented on #60266
I see the requirements as:
"A user-assigned managed identity with the contributor's role to the target resource-group"

Is there any way this can work without contributor permissions at resource group level?

[2020-08-05 00:46] richardszalay commented on #60124
Perfect, thanks @markjbrown!

[2020-08-05 00:48] gtonello opened #60268 "Basic tier is not able to have private link endpoint"
I want to suggest to add a Note specifying that Basic tier is not able to work with Private link endpoints.
Maybe it's basic for some people with more experience in Azure, but for others with less experience it's a little bit difficult to realize.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf87af8-44eb-1bcd-b9c4-5

[2020-08-05 00:52] hs79hs opened #60269 "is this a typo?"
docker run --rm -it -p 5000:5000 --memory 2g --cpus 1 \
...
Allocates 2 CPU cores and one gigabyte (GB) of memory.

should it be
docker run --rm -it -p 5000:5000 --memory 1g --cpus 2 \

?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac742a64-1e66-4c89-6de5-67c7e818f9cc
* Version Independent ID: 29714c95-3e4c-f153-0a6

[2020-08-05 00:56] hs79hs opened #60270 "does tts in container support speech sdk?"
Hi, can we use speech sdk in container for text-to-speech?
Why in container, stt only supports sdk, and tts only supports rest api?

By tests, it seems rest api is slower than sdk, why? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac742a64-1e66-4c89-6de5-67c7e818f9cc
* Version Independent ID: 29714c95-3e4c-f1

[2020-08-05 01:25] DruiBanshee opened #60271 "Demo url"
https://portal.loganalytics.io/demo no longer exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773e07ff-6bd8-47b2-5b83-75c7246693e6
* Version Independent ID: 8723d5a6-ac93-0dba-b2b8-83905d807d67
* Content: [Tutorial: Get started with Log Analytics queries - Azure Monitor](https://docs.microsoft.com/en-us/azure/azu

[2020-08-05 01:32] jamesbannan opened #60272 "Adding a pre-defined VNet requires undocumented permissions"
Adding a pre-existing virtual network to a DevTest Lab seems to require permissions over the target virtual network which isn't documented on this page. I'm working with an enterprise customer to provision DevTest Labs, and the service principal I have been supplied with only has Reader rights over the target enterprise VNet.

When attempting to add the VNet/subnet to the DTL instance, I get the f

[2020-08-05 01:33] NavtejSaini-MSFT commented on #60268
@gtonello We are checking this and will get back to you.

[2020-08-05 01:40] craig-martin commented on #59818
Great!  Thanks for the update.

From: Brian Wren <notifications@github.com>
Sent: Tuesday, August 4, 2020 4:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Craig Martin <cmart@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Log Analytics HTTP Data Collector HTTP - reserved and special properties (#59818)

@craig-martin<https://nam

[2020-08-05 01:51] GiftA-MSFT commented on #60244
@KitLemmonds we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 01:56] GiftA-MSFT commented on #60248
@MikeWilcoxMicrosoft we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 01:57] BrianJackson opened #60273 "Network Profile is not created when using an existing network and a subnet with no resources"
Using the **az container create** command with the **--vnet** and a **--subnet** where the subnet has no resources and no prior container group, the command fails stating that there is no network profile found.    The only way to do this is in the portal where the network profile is created properly, which you can see in the deployment.   In the CLI, there is no other way to create the network pro

[2020-08-05 01:58] GiftA-MSFT commented on #60253
@ts46235 we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 01:59] RichardMcCormack opened #60274 "Troubleshooting virtual network setup"
[The page has information about trouble shooting but no information about verification.  We have an app service already connecting to an Azure SQL elastic pool and had issues with suspected SNAT exhaustion.  We're configuring a VNet but have no way to tell if it is working or not because we can't tell where the traffic is going because tracert doesn't work.  The app worked before and it is working

[2020-08-05 01:59] GiftA-MSFT commented on #60256
@krishna-doss-mohan we'll review your feedback and get back to you shortly, thanks.

[2020-08-05 02:01] GiftA-MSFT commented on #60269
@hs79hs we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 02:02] GiftA-MSFT commented on #60270
@hs79hs we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 02:09] marcusturewicz opened #60275 "Consider adding Pulumi to infrastructure deployment"
[Pulumi](https://www.pulumi.com) is another tool for infrastructure deployment. It is Infrastructure as Software rather than IaC, with a hybrid imperative/declarative style, where you can deploy infrastructure using many programming languages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef92944-e84a-bda9-13d8-e537e

[2020-08-05 02:12] marcusturewicz commented on #60275
Sorry wrong repo, created https://github.com/MicrosoftDocs/architecture-center/issues/2289 instread.

[2020-08-05 02:12] #60275 closed

[2020-08-05 02:18] KrishnaG-MSFT commented on #60275
@marcusturewicz Thanks for the clarification.

[2020-08-05 02:20] KrishnaG-MSFT commented on #60271
@DruiBanshee Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-05 02:22] KrishnaG-MSFT commented on #60266
@GitHubSachin Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-05 02:54] WenyunZou commented on #60215
Thank you! I close this issue as I have no more questions.

[2020-08-05 02:54] #60215 closed

[2020-08-05 03:00] SwathiDhanwada-MSFT commented on #59415
@git001 We use fluentd version 0.12.40 but ensure it remains secure and well-maintained for the OMS Linux Agent use cases. FluentD 0.12.40 isn’t deprecated, it just isn’t recommended. There are no plans to upgrade the version of fluentd used in the OMS Linux Agent.

[2020-08-05 03:24] SwathiDhanwada-MSFT commented on #60218
Assigning to content author @bwren for reviewing and updating the document

[2020-08-05 03:46] DanielLarsenNZ opened #60277 "What does "data" mean?"
This wording is ambiguous: [If the namespace contains **data**, then the encryption operation will fail](https://docs.microsoft.com/en-us/azure/service-bus-messaging/configure-customer-managed-key#:~:text=The%20encryption%20can%20only%20be%20enabled%20for%20new%20or%20empty%20namespaces.%20If%20the%20namespace%20contains%20data%2C%20then%20the%20encryption%20operation%20will%20fail.)

Does "data"

[2020-08-05 03:59] shashishailaj commented on #60263
@tikicoder Thank you for your feedback . We will investigate and update the thread.

[2020-08-05 04:02] RonnieQuan opened #60278 "Inbound rule for ssh or RDP to nodes in the pool"
https://docs.microsoft.com/en-us/azure/batch/batch-virtual-network#network-security-groups-specifying-subnet-level-rules

I would like to understand more about Configure inbound traffic on port 3389 (Windows) or 22 (Linux) only if you need to permit remote access to the compute nodes from outside sources

1) what's outside sources? does Azure control plane needs to remote to the compute nodes?
2)

[2020-08-05 04:05] SB-o-matic opened #60279 "Pre-Create Federated Users in Azure B2C"
Hello All,

Is it possible to pre-create federated users in Azure B2C via the Graph API? Here's the scenario:

I have added to my B2C tenant an Azure AD tenant as an IdP. However, I do not want federated users to be able to signup. I want them to only be able to signin if they are already present in the B2C directory. So, if they are not, they get an error message. So I was thinking I could create

[2020-08-05 04:06] souravmishra-msft commented on #60036
@Maks303, I would be working towards fixing the document.

[2020-08-05 04:21] VikasPullagura-MSFT commented on #60259
@jamesorlando
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-05 04:22] VikasPullagura-MSFT commented on #60259
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-08-05 04:23] VikasPullagura-MSFT commented on #60261
@abudja
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-05 04:23] VikasPullagura-MSFT commented on #60261
@MSSedusch
Can you please check and add your comments on this doc update request as applicable.

[2020-08-05 04:30] PramodValavala-MSFT commented on #60277
@DanielLarsenNZ I believe "data" refers to messages here which are the ones stored in Azure Storage in the Premium Tier. The "entities" are metadata tied to a namespace as ARM resources.

@axisc @spelluru Could you confirm?

[2020-08-05 04:31] Kenneth-Abrams opened #60280 "App Service Plan Regional VNET subnet size"
In regards to the recommended minimum /27 subnet size for Regional vnet integration. Would there be any issues using a /28 if I know I'll never need the additional addresses for scale out/up operations?

Also is there a timeline on sharing the subjects amongst multiple app service on separate ASP? I recall this being mentioned at Ignite 2019.
---
#### Document Details

⚠ *Do not edit this section.

[2020-08-05 04:41] AnuragSharma-MSFT commented on #60159
Thanks @ThomasWeiss for the details.

@Alex-Boo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-05 04:41] #60159 closed

[2020-08-05 04:45] ram-msft commented on #59986
Thanks, The pull request details will be updated once the backlog item work completed.

[2020-08-05 04:47] SumanthMarigowda-MSFT commented on #60129
@JeffSmalley New-AzStorageShare cmdlet creates a file share. This is the cmdlets which we are going to use and AZ module is recommend .
Azure PowerShell – Cross-platform “Az” module replacing “AzureRM”

Az is a replacement for AzureRM and AzureRM.Netcore.
Az runs on PowerShell 5.1 and PowerShell Core.
Az is always up to date with the latest tooling for Azure services.
Az ships in Cloud Shell.
Az s

[2020-08-05 04:52] vipulsparsh commented on #60279
@SB-o-matic  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-05 04:59] DanielLarsenNZ commented on #60277
Please confirm because customer has got error when attempting to add CMK when queues/topics are empty.

[2020-08-05 05:07] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-05 05:13] HarithaMaddi-MSFT commented on #60162
@KarthikYan- I will now proceed to close the issue. Please feel free to comment for more clarification.

[2020-08-05 05:13] #60162 closed

[2020-08-05 05:14] MichelZ commented on #52379
This comment suggests the work has mostly completed:
https://github.com/Azure/Azure-Functions/issues/155#issuecomment-668186683

[2020-08-05 05:18] HarithaMaddi-MSFT commented on #60142
@limingr- I will now proceed to close the issue. Please feel free to comment for more clarification.

[2020-08-05 05:18] #60142 closed

[2020-08-05 05:22] vipulsparsh commented on #60263
@tikicoder  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmbaldwin  Can you have a look and update the document.

[2020-08-05 05:23] zakimaksyutov commented on #47170
@jeffhollan, which plans will be zone redundant? Will consumption plan be?

[2020-08-05 05:28] AjayKumar-MSFT commented on #60274
@RichardMcCormack,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-05 05:34] PramodValavala-MSFT commented on #60242
@philip-reed That would be expected since CosmosDB expects JSON which is case sensitive - so `id`, `Id`, `iD`, and `ID` are all different properties and would be persisted together. Adding the attributes would be best and will conform to convention.

I have worked up a PR to update the POCO accordingly, which once merged should reflect in a couple of hours.

[2020-08-05 05:46] PSHREYASHOLLA commented on #59670
@mmacy I was able to add scope and the permission was given, but the same is not retrieved as part of JWT token when we use https://login.microsoftonline.com/bc358f98-0ec2-40f7-b6b7-16c4d6e7a64a/oauth2/token.

So I was referring that there is no documentation on How to use/Retrieve the newly added scope.

[2020-08-05 05:47] slave02 opened #60282 "Order of comparison of basic and standard load balancer SKU left and right order"
Shouldn't the order for readability when the side by side comparison of the load balancer SKUs are compared be L/H/S Basic R/H/S Standard.  In the summary above it speaks of basic load balancer, then standard load balancer then the side by side is the reverse order.  Plus for the flow - normal standards have comparisons going from lowest to highest ie Basic > Standard?
[Enter feedback here]

---
#

[2020-08-05 05:51] AnuragSharma-MSFT commented on #58840
@rgward Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-05 06:01] SatishBoddu-MSFT commented on #60181
@ksaye
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-05 06:02] SatishBoddu-MSFT commented on #60160
Hello @SibeeshVenu Just checking back, please let us know if you need further help in this matter, or let us know if we can close this thread.

[2020-08-05 06:03] SadiqhAhmed-MSFT commented on #59885
@vikrambmsft For assistance.

[2020-08-05 06:20] ram-msft commented on #60168
@IMelker Raised a pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/124978.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-05 06:20] #60168 closed

[2020-08-05 06:21] BhargaviAnnadevara-MSFT commented on #59979
@rvraman Have you had a chance to check if the above response helps? Are you still seeing issues?

[2020-08-05 06:22] SturgeonMi commented on #60192
Thanks Robert for the feedback! We are looking into this.

[2020-08-05 06:24] ram-msft commented on #59986
Thanks. Here is the pull request link #https://github.com/MicrosoftDocs/azure-docs-pr/pull/124817 for the same.

[2020-08-05 06:31] BharathNimmala-MSFT commented on #59944
@yantang-msft Apologies for the delayed response. We really appreciate you taking time to share the feedback.  We do have  similar feedback on below GitHub threads to bring consistency in the documentation, which seems to be a open item which is being worked upon. I will make sure to follow up with respective owners and see the documentation is updated to avoid confusion.

https://github.com/Azure

[2020-08-05 06:31] #59944 closed

[2020-08-05 06:42] n41n4 commented on #60143
@shashishailaj I used  Test-AzDnsAvailability to test my domain is available or not.But It returns false.
Is there any possible way that I can use that same dns name.

Please help me.
Thank you.

[2020-08-05 07:01] maheshksingh commented on #59697
Any updates?

[2020-08-05 07:23] RohitMungi-MSFT commented on #60128
@tparanjpe we hope your issue is resolved after copying the correct keys, we will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-08-05 07:23] #60128 closed

[2020-08-05 07:30] Pamir commented on #60232
Hi @Karishma-Tiwari-MSFT
Qos Class changes depending on difference between cpu memory request/limit. It is a best practice document so giving memory limit and request should be a best practice document and related with scheduling we can make this sample more accurate.
https://www.replex.io/blog/everything-you-need-to-know-about-kubernetes-quality-of-service-qos-classes.

It is just a recommendatio

[2020-08-05 07:31] GitaraniSharma-MSFT commented on #60282
@slave02 , thank you for your feedback. We have assigned this to the content owner/author for review.
@asudbring , Could you please review the suggestion and provide your inputs?

[2020-08-05 07:32] kobulloc-MSFT commented on #60243
@plamber This year we [announced a new feature in the Portal](https://www.hametbenoit.info/2020/04/20/azure-ad-you-can-now-validate-your-dynamic-group-membership/#.XypaUZhKjZ8) that will allow you to validate your dynamic group membership rules:

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-rule-validation

![image](https://user-images.githubusercontent

[2020-08-05 07:36] BhargaviAnnadevara-MSFT commented on #58344
@jamesbannan Thanks for confirming! We're glad we could resolve your issue!

[2020-08-05 07:49] KrishnaG-MSFT commented on #60239
@w0ut0 Thanks for reaching out! Error code "UserErrorUnableToOpenMount" is typically observed when some mount point is not accessible or when mount points are not cleaned up. Recommendation action is to check if all mount points of fstype Ext3/4, ReiserFS, JFS, XFS are accessible.

Example: If you use file recovery option to RESTORE file and folders and if this operation does not cleanup mountpoin

[2020-08-05 07:57] KrishnaG-MSFT commented on #60271
Duplicate or related to #57829
Assigning @bwren for visibility, review, to help provide insights and for document enhancement consideration as appropriate.

[2020-08-05 08:02] josephka3 opened #60283 "Uninstall cef agent"
What is the command to uninstall the cef agent and rollback the configurations changes it makes.
Like we have the purge command for the Linux OMS agent.
What are the steps/commands here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26cf9cd-e6e4-a760-0d1a-bb7a5ff60412
* Version Independent ID: 27857ee4-0e9c-2aec-d104

[2020-08-05 08:08] GitaraniSharma-MSFT commented on #60240
@mikewo , thank you for your suggestion. We have assigned this to the content owner/author for review.
@asudbring , could you please review the suggestion and provide your inputs?

[2020-08-05 08:08] MayankBargali-MSFT commented on #60190
@richardweaver Can you please execute the query at the cosmo DB end and see what result are you getting?
Ideally, any query that you have written and tested at the cosmo DB end should return the same result. I have created the sample at my end and create Joins along with ORDER BY clause and didn't observe any issue.

**SQL Query:**
[code]

**Sample Data:**

[code]
If you are still facing the issue

[2020-08-05 08:15] rvooren commented on #60153
@RohitMungi-MSFT I'm still having problems finding the class RemoteConversationTranscriptionClient which doesn't reside in the library**Microsoft.CognitiveServices.Speech** I've tried using older version of the library with no luck. Any other suggestions I can try ?

[2020-08-05 08:18] Alastair-Bailey opened #60284 "PowerShell Change"
Both example PowerShell commands show the following "-ResourceName hostpoolname" when it should be "-ResourceName applicationgroupname".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1566f30c-a163-2d05-5b5f-f9a5bf2d9891
* Version Independent ID: c4a6524e-adf5-6969-586a-0bc1ffe2bbb9
* Content: [Delegated access in Wind

[2020-08-05 08:21] RohitMungi-MSFT commented on #60153
@rvooren Apologies for the inconvenience. We have escalated this issue with our team and it looks like we have an issue with the latest version of `Microsoft.CognitiveServices.Speech.Remoteconversation` package on nuget gallery. Our team is working on a fix and we are hoping to get this resolved as soon as possible. We will update this thread as soon as we have an update. Thanks again for reportin

[2020-08-05 08:28] w0ut0 commented on #60239
Thank you @KrishnaG-MSFT, this was exactly what happened (a file and folder restore mount that was not unmounted well).

It would be great to have your remarks in the documentation/FAQ.

[2020-08-05 08:40] plamber commented on #60243
@kobulloc-MSFT: Thank you very much for the feedback. I love the Validation Rule feature you have implemented. I was looking for a way to check if the syntax is at least correct. I understand that the complexity for this might be too high.

Having an endpoint that tells me if the syntax is valid or not might be sufficient. Do you think that a suggestion like this might make sense for you guys? If

[2020-08-05 08:47] ram-msft commented on #60028
@segun030 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-05 08:47] #60028 closed

[2020-08-05 08:49] KoyelPaulMS opened #60286 "Support with NVA"
Whether this solution will be supported in a environment which we are running under a NVA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23a585e-4114-d3a8-25e5-0b1e95e70983
* Version Independent ID: fcca6f10-8c82-37b3-de4e-93c1e46aec1f
* Content: [FAQ - Azure Monitor for SAP Solutions](https://docs.microsoft.com/en-u

[2020-08-05 09:08] cfd-direct commented on #60033
That document is massively convoluted.
For example, there is a whole section on connecting to the VM. Why? That is documented elsewhere and must be basic knowledge for anyone thinking about creating a VM marketplace product.
For the Linux VM, it describes an SSH login with PuTTY, without even mentioning that it is a Windows-only application.
Are you assuming everyone using Azure is running Windows

[2020-08-05 09:10] nfostar commented on #27745
For me, it worked after adding Microsoft.AzureActiveDirectory to Service Endpoint in AADDS VNet:

![image](https://user-images.githubusercontent.com/69240442/89394213-6d8fe800-d729-11ea-9f9e-e9dcfb25e21b.png)

[2020-08-05 09:16] jmprieur commented on #60255
Thanks @nadcraker
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/124986

[2020-08-05 09:22] jmprieur commented on #60255
#please-close

[2020-08-05 09:22] #60255 closed

[2020-08-05 09:45] srinivasangiyer opened #60287 "Correction in "Can I modify subnets after I created them?""
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#can-i-modify-the-size-of-my-subnet-after-i-create-it

**Can I modify the size of my subnet after I create it?**
Yes. You can add, remove, expand, or shrink a subnet if there are no VMs or services deployed within it.
**Can I modify subnets after I created them?**  -- This has to be corrected and should actually read as **C

[2020-08-05 09:56] darshats opened #60288 "Example with code bundle zip file"
Hi,
The instructions for including a code bundle are confusing. At one point the doc says the zipped files are added to a folder called .\Script Bundle which is added to the path. Then at a later point it says that "src" should be appended to each path. How should this change the code we have?

A working example would be really appreciated.
Thanks
Darshat

---
#### Document Details

⚠ *Do not edit

[2020-08-05 10:24] AmitavaHazra opened #60289 "certificate concerns during failover of Azure AD tenant location"
Reference :
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-saml-single-sign-on

If suppose there is a disaster recovery happened Azure AD tenant location got changed due to failover. Then in that case will there be any change of certificate which is there in enterprise application which we are creating for SSO ?

---
#### Document Details

⚠ *Do not edit this section

[2020-08-05 10:30] bamajeed opened #60290 "Image incorrect"
The last image showing the device has been provisioned in the IoT Hub should show that the authentication method is "SelfSigned" not SaS. This is in step 4 of this step https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509-csharp#provision-the-simulated-device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-08-05 10:34] RohitMungi-MSFT commented on #60270
@hs79hs the containers used for speech services allow the use of the SDK endpoint after the they are run successfully. The [support ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=tts%2Cpython%2Csimple-format#query-the-containers-prediction-endpoint)for TTS and STT are provided in both cases:

Containers | SDK Host URL | Protocol
-- | -- | --

[2020-08-05 10:59] cephalin commented on #47593
#please-close

[2020-08-05 10:59] #47593 closed

[2020-08-05 11:04] VikasPullagura-MSFT commented on #60273
@BrianJackson
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-05 11:05] VikasPullagura-MSFT commented on #60278
@RonnieQuan
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-05 11:08] cephalin commented on #47570
Sorry for being late to the discussion. We have an ASP.NET specific doc that explains in a bit more detail: https://docs.microsoft.com/en-us/azure/app-service/configure-language-dotnet-framework#set-net-framework-runtime-version.

Also see [.NET Framework Backward compatibility](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/version-compatibility?redirectedfrom=MSDN#backward-com

[2020-08-05 11:08] #47570 closed

[2020-08-05 11:16] shashishailaj commented on #60283
@josephka3 Thank you for your feedback . We will investigate and update the thread.

[2020-08-05 11:18] VikasPullagura-MSFT commented on #60284
@Alastair-Bailey Thanks for pointing this out.
I have updated the document, changes will go live soon.

[2020-08-05 11:19] shashishailaj commented on #60289
@AmitavaHazra Thank you for your query. We will investigate and update the thread.

[2020-08-05 11:20] develerik opened #60291 "Advanced SAML token certificate signing options for Azure AD apps via GraphAPI"
Please describe how this can be done via GraphAPI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aac55fa-1799-ee74-543d-4f1477c024a0
* Version Independent ID: 44e91059-fd03-ea15-5568-a708979b56f7
* Content: [Advanced SAML token certificate signing options for Azure AD apps](https://docs.microsoft.com/en-us/azure/activ

[2020-08-05 11:24] AjayKumar-MSFT commented on #60280
@Kenneth-Abrams, Thanks for leveraging Azure docs feedback channel to raise this question.
We will check on this and get back to you shortly. In the interim, could you please confirm on this ask "Also is there a timeline on sharing the _subjects_ amongst multiple app service on separate ASP?", I believe you're referring to subjects for subset and you're referring to this point in the doc - 'The in

[2020-08-05 11:25] shashishailaj commented on #60143
@n41n4 What azure service are you exactly trying to create this name for ? Can you please provide more detail ? Are you creating an app service instance or functions instance ? It would return false if the domainnamelabel is already being used and not available so you would not be able to use it . Please provide detailed information on which azure service you are having issues with and how are you

[2020-08-05 11:29] SadiqhAhmed-MSFT commented on #59990
@matt1405 Thanks for sharing your valuable feedback. We do have a simple , portal based ARM template deployment experience for customers (who are not CSP customers) to onboard to Lighthouse. Would recommend you to check out the deploy to Azure buttons on our GitHub repository for the moment.

Let me know if there are any other questions you need help with. Also, would like to know if we can close

[2020-08-05 11:29] cephalin commented on #46332
Won't fix. Those images only show where you're supposed to click (the tabs at the top). #please-close

[2020-08-05 11:29] #46332 closed

[2020-08-05 11:30] hs79hs commented on #60270
But as you can see, when using Containers, STT only supports ws protocol, which should be sdk, it doesn't support REST API (which uses HTTP), right?
And TTS only supports HTTP, doesn't support ws, so it doesn't support using sdk, right?

[2020-08-05 11:35] arkaonelovemanu opened #60292 "Pre authorize client applications using Managed Identity"
[Enter feedback here]
Hello,

I was wondering how can we pre authorize a client application which is using Managed Identity? The reason being the application id (which is the managed identity service principal client id ) is not getting allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b434db-9091-da08-2c96-839

[2020-08-05 11:52] jannekeskitalo commented on #48902
@dgcaron, thanks for doing the API docs digging :) Here's a bash-script for the cleanup:

[code]

[2020-08-05 11:52] larryclaman opened #60293 "Recovery Vault article needs updating"
This article about Recovery Vault starts with a section 'Comparing Recovery Services vaults and Backup vaults', where it says :"If you still have Backup vaults, they're being auto-upgraded to Recovery Services vaults. By November 2017, all Backup vaults have been upgraded to Recovery Services vaults."

Given that it is now August 2020 (almost 3 years past the end of life date), I think this articl

[2020-08-05 11:53] glprasanna commented on #60221
Hi Jeevan,

We have uploaded 1.0.11 file and still it is showing as 1.0.9 and issue still persists.
Could you please share the URL where i can download new version. May be i am downloading from wrong URL.

Regards,
Prasanna

[2020-08-05 11:58] glprasanna commented on #60012
Hi Kandavel,

We have uploaded 1.0.11 file and still it is showing as 1.0.9 and issue still persists.
Could you please share the URL where i can download new version. May be i am downloading from wrong URL.
Which version is working fine for you ?

Regards,
Prasanna

[2020-08-05 12:17] arbitertl opened #60294 "Missing name validation rules for microsoft.insights/actiongroups and microsoft.web/certificates"
Missing name validation rules for microsoft.insights/actiongroups and microsoft.web/certificates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](https://d

[2020-08-05 12:30] philip-reed commented on #60242
@PramodValavala-MSFT Thanks for the quick response. Looking forward to the update.

[2020-08-05 12:40] krish-gh commented on #59895
@djivc We are closing this issue for now due to inactivity. Please feel free to come back with the required information when you get a chance. Thanks.

[2020-08-05 12:40] #59895 closed

[2020-08-05 12:47] SibeeshVenu commented on #60160
@SatishBoddu-MSFT Thanks for your help. Closing the issue.

[2020-08-05 12:47] #60160 closed

[2020-08-05 13:08] yanivlavi commented on #60208
We will be merging this topic with the existing ones. AI is just another resource type log alerts support and we will be adding many more soon, so it doesn't make sense to maintain it separately.

[2020-08-05 13:09] bsmith05 commented on #60206
Hello.  Thanks for your response.  The item you highlighted is under the Enterprise LTSB/LTSC editions.  Per my original note, I am interested in the 1607 Semi-Annual Channel version.

[2020-08-05 13:21] RohitMungi-MSFT commented on #60270
@hs79hs Yes, with respect to the first question the STT container supports ws to use the SDK hosted in the container. The REST API protocol is not supported for STT.

w.r.t the TTS container you can use only REST to query the endpoints. The available actions are available from swagger documentation(http://localhost:5000/swagger) and can only support these APIs rather than SDK support as seen in ST

[2020-08-05 13:24] GiftA-MSFT commented on #60256
@swmachan can you please review this feedback, thanks.

[2020-08-05 13:29] markjbrown commented on #60124
So after taking a look at MongoDB's client object, ultimately if MongoDB was to support Session consistency they would need to implement this in their client. This is highly unlikely so is not something I expect to see at any point in the future. For now you'll have to rely on the other consistency models that have MongoDB equivalents.

Thanks

[2020-08-05 13:40] amanmcse commented on #60121
@SollicitusPeon Thank you for your response. Yes, we need to navigate to the Sign-in Sign-up policy and check the IDP option to display the IDP button on the signup/sign-in page.

However, this document and other documents for (GitHub, Google, Twitter and so on) under External identity providers section just focuses on configuring these identity providers and not about adding these to the User Flo

[2020-08-05 13:40] #60121 closed

[2020-08-05 13:43] souravmishra-msft commented on #60292
@arkaonelovemanu, There is no way you can pre-authorize users or servicePrincipals IDs, as the authorization is always happens based on the access-token that the application/user submits to the resource.

Though it would be great to know your end goal and the actual error so that we can check if there can be any other way to achieve your goal.

[2020-08-05 13:47] felixtsem5 opened #60296 "Access instructions need updating"
The page layout probably changed a little bit on the Azure portal.

Under the API access section, step 2 and 3 probably should be replaced by the following:
Click "API access (new)" on the navigation bar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3fefb59-9060-78bc-6f1c-deac80093225
* Version Independent ID: cebd7

[2020-08-05 13:49] cephalin commented on #54651
#reassign:msangapu-msft

[2020-08-05 13:55] amanmcse commented on #60119
@greendx I tested your suggestion but I couldn't get the Hub subscription listed while creating private endpoint. Even after adding the logged-in user as owner to hub subscription, I can see the only subscription where Key Vault is created.

![image](https://user-images.githubusercontent.com/33834131/89420811-db9bd580-d750-11ea-9cdd-fe32c933ecf2.png)

@ShaneBala-keyvault could you please check if

[2020-08-05 13:58] AshokPeddakotla-MSFT commented on #60290
@bamajeed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-05 14:00] souravmishra-msft commented on #60291
@develerik, Thank you for sharing the query. Unfortunately, there is no such document available for the steps, and I am not aware of the graph api as of now. Let me do some research on this and get back to you with some more updates.

[2020-08-05 14:05] GiftA-MSFT commented on #60269
@hs79hs thanks for your feedback, the document will be updated shortly.

[2020-08-05 14:07] EmilSPL opened #60297 "Screenshots and the steps"
Hello,

I wanted to use your tutorial but the newest AAD Connect client has TOTALLY different options.
pls give link to the version of AADC you used or change steps and screenshots

Best regards
Emil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5166e4-5

[2020-08-05 14:09] EmilSPL commented on #60297
Client version I'm using is 1.5.45.0 (from the link you delivered in tutorial)

[2020-08-05 14:10] greendx commented on #60119
Hi - It wasn't so much a suggestion, more of an observation that it's possible in the portal interface to select a different subscription at that step but then even if you do select your HUB subscription, in the Private DNS zones drop box you are only presented with DNS zones in the VNET of the endpoint (spoke sub) so this doesn't work.

Ultimately the question is: How can you integrate and config

[2020-08-05 14:11] SamirFarhat opened #60298 ""Because when using standard load" should be "because when not using standard load""
I think that the sentence "because when using standard load" should be "because when not using standard load"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d721081-0c1c-abf3-a398-386a718446d0
* Version Independent ID: 92b5504d-e25a-be94-e5e5-151083a70607
* Content: [Customize user-defined routes (UDR) in Azure Kubern

[2020-08-05 14:13] adlpenagithub commented on #51184
same here:

PS C:\WINDOWS\system32> Get-AzureADMSPrivilegedRoleDefinition -ProviderId aadRoles -ResourceId 926d99e7-117c-4a6a-8031-0cc481e9da26
Get-AzureADMSPrivilegedRoleDefinition : Error occurred while executing GetAzureADMSPrivilegedRoleDefinitions
Code: UnknownError
Message:
InnerError:
  RequestId: 51336d30-43e3-400b-b49f-24cf303e49ca
  DateTimeStamp: Wed, 05 Aug 2020 13:56:10 GMT
HttpStatus

[2020-08-05 14:14] 1RedOne opened #60299 "Clarification, are we sure this isn't already enabled?"
Would love to sync with the team who knows about this to talk over an implementation detail.  I am stowen AT microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33dbe714-4b2a-d075-432d-ed335d2d8f5c
* Version Independent ID: 6e320d60-5629-bb9b-c49b-92a1fa5ba56d
* Content: [Deployment history deletions - Azure R

[2020-08-05 14:16] develerik commented on #60291
After much research I found a way how I could do it, maybe it will help you:
[code]

[2020-08-05 14:36] KrishnaG-MSFT commented on #60294
@arbitertl Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-05 14:45] NavtejSaini-MSFT commented on #60151
@CatalinEsanu Please let us know if you need any further help regarding this.

[2020-08-05 14:54] asc-adean opened #60300 "Statement 'RESTORE DATABASE' is not supported in this version of SQL Server."
The documentation here states, as it applies specifically to an **Azure SQL Managed Instance**, that I can run a RESTORE DATABASE command from SSMS.  I followed the directions as stated in this documentation, but cannot run the RESTORE DATABASE query.

Is it possible to restore to a Managed SQL Database via SSMS (or other means) from a .bak file in a storage account?  If not, then this documentati

[2020-08-05 14:55] NJarZe commented on #60075
Thank you!

[2020-08-05 14:55] #60075 closed

[2020-08-05 14:58] cloudmonkeygarage opened #60301 "No Global vNet Peering on SQL MI vNet"
To whom could make it concern, I write to you about the requirements to implement failover group between two SQL Managed instances.
Could you specify, in documentation, that the vNets, where each SQL MI are deployed, mustn't enabled Global VNet Peering between them?

Thanks a lot,
Daniele

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-05 15:02] KranthiPakala-MSFT commented on #60086
Hi @guntaled,
Since this channel is for driving improvements towards MS Docs and we didn't determine any changes for this documentation upon reviewing this feedback. We request you to please share the feature request feedback link once it is created.

If you have a document which you are following and if you think it needs an update, please let us know about that here.

We will now proceed to clos

[2020-08-05 15:02] #60086 closed

[2020-08-05 15:15] ashkickindevelopment opened #60302 "Support for RHEL 8"
[Enter feedback here]
Is Linux RHEL 8 now supported for the Log Analytics Agent? I saw this conflicting on https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-distros

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e38be5b8-d76d-a4f1-c014-7bf9248be2de
* Version Independent

[2020-08-05 15:16] mmacy commented on #59670
@PSHREYASHOLLA This document is focused on exposing the API by configuring the scopes. Obtaining, consuming, and parsing the scopes in an access token is intentionally _not_ covered in this article as that varies by the type of application you're building and the authentication library (or libraries) you're using.

Have you checked out any of our quickstarts, tutorials, or code samples that match

[2020-08-05 15:24] jurw2201 opened #60304 "Prerequisite section is missing the permissions required to grant permissions"
The page indicates to "Grant permission to the data factory that needs to access the self-hosted integration runtime you created and registered.", but I'm getting authorization issues. The prerequisite section needs to reflect what authorization is required to assign these roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-05 15:28] bwren commented on #60271
Thanks. That URL does need to be updated. I'm verifying with the PMs the correct URL before I update the article.

[2020-08-05 15:33] Aron-Ziegler opened #60305 "ReportOnly CA Policy issue with SurfaceHub"
Currently we are facing issues with reportonly CA policys when they are assigned to a SurfaceHub. The DeviceAccount is not able to login to Teams (AAD Sign in Interrupted -> Device Authentication is required, Sign-in error code: 50097).<br> On the Device itself the Teams app is showing a black background. After excluding the SurfaceHub Device Account from the reportonly CA policy, the login is wor

[2020-08-05 15:35] A9G-Data-Droid opened #60306 "Password hash synchronization and FIPS: workaround fails"
We are unable to run Azure-AD connect with FIPS mode on. The workaround cited on this page isn't working. Sync still fails until FIPS mode is disabled on the system. This is an unacceptable solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-7

[2020-08-05 15:36] JayaChatterjee-MSFT commented on #60043
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-08-05 15:40] NavtejSaini-MSFT commented on #60084
@mydiemho We are going ahead and closing this thread. If you have any further issue please get back to us on this thread and we will get back to you.

[2020-08-05 15:40] #60084 closed

[2020-08-05 15:49] #60269 closed

[2020-08-05 15:56] BharathNimmala-MSFT commented on #59950
@Mexicoder - Thank you for being patient on this , post validation with our internal product team it has been called out that below are the limits for the description field

Log Search Alerts – 4096 characters
Other alert rules and Action Rules – 2048 characters

Hope this information helps.We will work with our document author @rboucher to have a back log item to incorporate this information in o

[2020-08-05 15:56] #59950 closed

[2020-08-05 16:03] JoshuaSnider-JohnsManville opened #60309 "Needs description on high/medium/low risk"
This page is linked from the page within the Conditional Access blade in Azure where Azure admins configure the sign-in risk and user risk for Conditional Access Policies.  However, nowhere on this page is listed exactly what constitutes a high risk vs a medium risk vs a low risk.  The various risk detections are described well, but the mapping between risk detection type and high/medium/low is no

[2020-08-05 16:08] #54794 closed

[2020-08-05 16:25] MonikaReddy-MSFT commented on #60309
@JoshuaSnider-JohnsManville -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-05 16:25] MonikaReddy-MSFT commented on #60305
@Aron-Ziegler -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-05 16:31] marcindulak commented on #59986
Oh, it returns 404, maybe it's a private repo?

I found the commit instead https://github.com/MicrosoftDocs/azure-docs/commit/5437fb0521308f7754db367f30fa1451def48ac4

[2020-08-05 16:31] PramodValavala-MSFT commented on #60011
@manjeet-bhachu-rft Hope my previous comment clears things up. Considering the customization required, self-host of the developer portal would be the way to go.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-05 16:31] #60011 closed

[2020-08-05 16:45] #60043 closed

[2020-08-05 16:54] degrover-cn opened #60312 "Can you link any resources specific to old MVC code?"
I need to update the Startup.Auth in an old MVC app. It doesn't really follow the Microsoft.IdentityModel.Clients.ActiveDirectory code sample you've got here. This is probably a common scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ece9b7-4534-1fe3-abd3-b874ab5f2a04
* Version Independent ID: a098953b-71bc-6

[2020-08-05 16:54] KranthiPakala-MSFT commented on #60304
@jurw2201
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-05 16:56] VikramPendse opened #60313 "Add Azure Bastion and Private Link information for securely accessing Azure workload from Non Azure environment"
Adding reference for Azure Bastion and Private Link to access IaaS and PaaS resources securely can be value added information for this whitepaper/docs, this also have impact on designing overall architecture. Security controls/measures for doing RFP/SSH are equally important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-05 17:10] nitinme commented on #59533
Based on the comment from @pankopon, #please-close

[2020-08-05 17:10] #59533 closed

[2020-08-05 17:14] rmc515 opened #60314 "File Level Limits vs File share and file scale targets"
Hi, looking for some clarification on what the file size limitation is for premium storage.  Under the File share and file scale targets section it says 4 TiB but under the File Level Limits section it says 1 TiB.  Maybe some clarification about what File Level Limits mean may help.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-08-05 17:14] nitinme commented on #54550
Thanks @manish-95 for this request. We have added this to our backlog of work items and we'll prioritize and pick this up in due course.

#please-close

[2020-08-05 17:14] #54550 closed

[2020-08-05 17:21] YutongTie-MSFT commented on #60288
@darshats Thanks a lot for the feedback. I will reach out the author to see how we can explain this well and provide an example code for that.

@likebupt Hi Blanca, could we add this to our backlog? Please check this issue and update the document if needed. Thanks ^^

[2020-08-05 17:26] lisaguthrie commented on #60251
Hi @amanda-barton - we're hoping to release an ASP.NET quickstart shortly. In the meantime, we do have an [ASP.NET sample available](https://github.com/Azure/AppConfiguration/tree/master/examples/DotNetFramework/WebDemo), which may help you get going. Let me know if you have any trouble with it.

[2020-08-05 17:27] nitinme commented on #59819
@ram-msft Could you please assign this to the product PM for a speedy answer?

[2020-08-05 17:31] kobulloc-MSFT commented on #60243
@plamber One of the reasons I encourage submitting feedback is that it gives users a way to quantify the demand for new features.  This in turn makes the request more actionable for the product groups as popular suggestions are much easier to prioritize in the release cycle.

If you decide to submit this as feedback, please let me know so that I and others who read this can vote on it.  If you don

[2020-08-05 17:40] bwren commented on #60218
@bradpicone Thanks for calling this out. I think we had that information, but it may have gotten dropped when we consolidated the diagnostic setting. The answer is that regional resources can only send logs to storage accounts and event hubs in the same region. There is no restriction on workspace. I'm going to close this issue, but I'll get an update to the content to make this clear.

[2020-08-05 17:40] bwren commented on #60218
#please-close

[2020-08-05 17:40] #60218 closed

[2020-08-05 17:41] Karishma-Tiwari-MSFT commented on #60286
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-05 17:43] DerekHerman-MSFT commented on #60314
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-05 17:48] PeterSkovgaard opened #60316 "Patch User seems to be return "old" resource user because it does not await the update taking place."
Hi,

First of all just want to say thanks for all the nice explanations and the SCIM reference code which has been a HUGE help in getting started developing an endpoint. We currently have multiple endpoints running using both groups and users.

We do however have a problem with the patch method that seems to return the "old" result of eg. the User resource.

In the image below a snippet of the **P

[2020-08-05 17:57] sebastianlaspina opened #60317 "Provisioning failed. Creating a virtual machine from Marketplace image or a custom image sourced from a Marketplace image requires Plan information in the request."
Hi all, I'm facing this terrible issue trying to create a VM from a disk snapshot backup..:
"Provisioning failed.
Creating a virtual machine from Marketplace image or a custom image sourced from a Marketplace image requires Plan information in the request. VM: '/subscriptions/..../providers/Microsoft.Compute/virtualMachines/myserver'..
VMMarketplaceInvalidInput"

More info:

Status:Failed
Location

[2020-08-05 18:02] MarileeTurscak-MSFT commented on #60297
@EmilSPL
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-05 18:04] MarileeTurscak-MSFT commented on #60306
@A9G-Data-Droid
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-05 18:05] RyanHill-MSFT commented on #60173
Hi @HansonChiu1994 wanted to follow up to see if you had sent the requested email?

[2020-08-05 18:05] MarileeTurscak-MSFT commented on #60312
@degrover-cn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-05 18:10] gardnerjr opened #60319 "the "parameters" docs for workbooks are under a "configuration" heading but should be a top level topic like visualizations and data sources"
the "parameters" docs for workbooks are somehow under a "configuration" heading but should be a top level topic like visualizations and data sources.

parameters aren't a "configuration" thing, they should be at the top level like visualizations and data sources, as they are an important topic users will need to understand.

![image](https://user-images.githubusercontent.com/10158007/89448207-19c2

[2020-08-05 18:13] BharathNimmala-MSFT commented on #60319
@gardnerjr  Thanks a lot for sharing feedback on this, assigning this issue to @mrbullwinkle to evaluate the feedback and update the doc accordingly.

[2020-08-05 18:17] BharathNimmala-MSFT commented on #60302
@ashkickindevelopment Thank you for your query, will look into it and get back to you at the earliest.

[2020-08-05 18:19] lfittl-msft commented on #60204
@kosinsky To understand correctly, are you looking to use an Azure AD application for authentication?

(we already have Managed Identity documented here, which is our recommended approach: https://docs.microsoft.com/en-us/azure/mysql/howto-connect-with-managed-identity)

[2020-08-05 18:20] BharathNimmala-MSFT commented on #60293
@larryclaman  Thank you for your feedback, our team will look into it and update the document accordingly.

[2020-08-05 18:25] ggailey777 commented on #60043
@vaibhavramdasi I agree that this statement is too vague, and I'm adding information about minor version removals. Thanks for bringing this to our attention.

[2020-08-05 18:26] davidsmatlak commented on #60294
#assign:davidsmatlak

[2020-08-05 18:26] davidsmatlak commented on #60294
I'll research the issue and, if necessary, update the documentation.

[2020-08-05 18:33] prabhushrikant opened #60321 "Does it support more than one cron schedule to trigger azure timer trigger function"
[Enter feedback here]

I want to run azure function only on work day when every body is available for which I need to provide more than one schedule for the function is it possible? if so how ?

for example :

# Monday, and the 1st, 2nd or 3rd day of the month
00 10 1-3 * * [ "$(date '+\%a')" == "Mon" ]

# Tues - Friday, and the 1st of the month
00 10 1 * * [ "$(date '+\%a')" == "Tue" ]
00 10 1 *

[2020-08-05 18:34] cyb3rbull opened #60322 "Removing old accounts from on premise set up"
Is there a way to remove unused user accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a7115c8038b
* Content: [Getting started Azure MFA Server - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2020-08-05 18:40] MicrosoftGuyJFlo commented on #60309
Working with the product group to better explain this as it is an aggregate calculation. Putting this in my backlog with another request for the same information.

[2020-08-05 18:40] MicrosoftGuyJFlo commented on #60309
#please-close

[2020-08-05 18:40] #60309 closed

[2020-08-05 18:43] DerekHerman-MSFT commented on #60314
@rmc515
I have assigned the issue to the content author to clarify the differences and see if the documentation needs updating here.

[2020-08-05 18:47] xinyeah commented on #60112
Thanks for your explanation offline.

[2020-08-05 18:47] #60112 closed

[2020-08-05 18:53] SLeuthold opened #60323 "Is AD FS required for certificate-based authentication from mobile (iOS/Android) to Exchange Online?"
Hello,

AD FS isn't mentioned in the requirements section but is mentioned further in the article as an "assumption". Please confirm with the PG if AD FS required for certificate-based authentication from mobile (iOS/Android) to Exchange Online? Hoping it is not!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2a4498-

[2020-08-05 19:03] Karishma-Tiwari-MSFT commented on #59945
@TrackDR Can you please provide the following detail so that our product team can confirm on their side:

If you do not have a support plan, I can assist you with creating a support ticket as well. Please share your subscription Id along with a link to this GitHub issue in an email to 'AzCommunity@microsoft.com' with the subject 'Attn: Karishma'.

[2020-08-05 19:05] GiftA-MSFT commented on #60287
@srinivasangiyer we'll review your feedback and get back to you shortly. Thanks.

[2020-08-05 19:05] Pickell opened #60324 "Bit of an issue with the subsection: Why should I worry about Windows Autopilot devices?"
Hi,
No issues with the examples themselves, however the setup sentence at the beginning makes no sense on its own. I believe a necessary corollary is missing, that of the deletion of the device from Azure AD.

Why should I worry about Windows Autopilot devices?
**When a Azure AD device was associated with a Windows Autopilot object the following three scenarios can occur if the device will be repu

[2020-08-05 19:11] BharathNimmala-MSFT commented on #60299
@1RedOne Thank you for reaching out , we will look into this and get back to you at the earliest.

[2020-08-05 19:12] anbene commented on #60033
@cfd-direct Thank you for your feedback on these documents and for reporting the invalid email address, which we'll remove as soon as possible.

You brought up good points regarding our virtual machine documentation. We plan to revisit those pages soon. Your feedback is very insightful and will help us improve our documentation.

Thanks again for your contribution!

#please-close

[2020-08-05 19:12] #60033 closed

[2020-08-05 19:15] asears opened #60325 "Update to reflect consolidation of OpenCensus into OpenTelemetry, add additional guidance with moving to OpenTelemetry"
The OpenCensus codebase has merged to form OpenTelemetry

OpenCensus and OpenTracing have merged to form OpenTelemetry, which serves as the next major version of OpenCensus and OpenTracing. OpenTelemetry will offer backwards compatibility with existing OpenCensus integrations, and we will continue to make security patches to existing OpenCensus libraries for two years.

---
#### Document Details

[2020-08-05 19:17] whatabout-bob opened #60326 "Node pool add example is incorrect"
The example command for adding an node pool to an existing cluster is incorrect, the --aks-custom-headers flag (and presumably node pool name) are for another product.

Example command as it exists:
`az aks nodepool add --name hostencrypt --cluster-name myAKSCluster --resource-group myResourceGroup --node-vm-size Standard_L8s_v2 --zones 1 2 --node-count 2 --aks-custom-headers EnableEncryptionAtHos

[2020-08-05 19:21] kosinsky commented on #60204
@lfittl-msft
Managed Identity will not work for my case because client is outside of Azure. Using Service Principals created via (`az ad sp create-for-rbac ...`) instead of passwords allows to revoke permissions etc.

However, Managed Identities gave me an idea to combine approach for MSI and regular users to make service principals work.

Here is the steps:
1. As AAD Admin, create MySQL user for

[2020-08-05 19:25] MonikaReddy-MSFT commented on #60305
@Aron-Ziegler - You might be running on an older version of the Surface Hub. Please take a look at this - **https://techcommunity.microsoft.com/t5/surface-it-pro-blog/new-surface-hub-os-update-released-for-public-preview/ba-p/1534823**

[2020-08-05 19:28] #59670 closed

[2020-08-05 19:29] mumian commented on #60266
@GitHubSachin - It is a requirement for right now.  However, we are changing the authentication model.  Once the new model is implemented, we will update the article.

#please-close

[2020-08-05 19:29] #60266 closed

[2020-08-05 19:38] degrover-cn opened #60327 "In the web code samples, what class is "services" an instance of?"
Knowing that would make the samples more useful. I'm trying to rewrite ADAL stuff out of an old MVC project, including replacing an ADAL TokenCache implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6b0d71-daf8-e75a-5157-a8a3c1c8bf1a
* Version Independent ID: 64d94165-c058-3867-fc63-6d816399fde4
* Content

[2020-08-05 19:40] shortpatti commented on #60211
#assign @shortpatti

[2020-08-05 19:42] tfitzmac commented on #60299
This issue is being addressed.
#please-close

[2020-08-05 19:42] #60299 closed

[2020-08-05 19:49] Xtrah commented on #51814
I had the same issue using Python 3.8.4. Adding `#pylint: disable=E1136` at the end of the line of code is an alternative fix to removing pylint altogether.

- https://docs.pylint.org/en/latest/faq.html#is-it-possible-to-locally-disable-a-particular-message
- http://pylint-messages.wikidot.com/messages:e1136

[2020-08-05 19:56] marstr commented on #56282
Howdy @KAnderson, the Installation ID uniquely identifies a particular device for Azure Notification Hubs, but it does not replace the device token which uniquely identifies the devices for the push service operator (Google Firebase, Apple Push Notification Service, Baidu, etc.)

In the sample, you'll see the device token referred to as the "push channel" as a platform agnostic term.

[2020-08-05 20:08] SatishBoddu-MSFT commented on #60147
Hello @zqynoob

Could you please verify again from your end once again and let us know if you need further help in this matter.

**Question 1:** `when I start Stream Analytics job,there are only temperature and humidity data but no probabalities of rain`
The issue seems to be a transient error, now we are able to see the output out of Stream Analytics job [Tested on Free Tier WorkSpace].

![image]

[2020-08-05 20:11] omerzubair opened #60328 "Need steps for Private endpoint for App Services (WebApp, FunctionApp, Api)"
Hi Azure,
Really glad to have the Private endpoint in preview for App Services. As you are aware that the PR endpoint works slightly differently from Storage,KV etc. i,e it requires VNET subnet along with PE (incoming) to match something like ASE (App Service environment)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-08-05 20:14] xiao-lix commented on #46581
@mabeyer you can use SharePoint Framework (SPFx) to build a custom extension that you can use to install Application Insights on your modern SharePoint sites. Added a note [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sharepoint#add-the-script-to-your-web-pages) that points to the doc on [github](https://github.com/microsoft/ApplicationInsights-JS/tree/master/SPO#how-to-create-a-

[2020-08-05 20:20] NavtejSaini-MSFT commented on #60268
@gtonello The note in this document specifies the same:
![image](https://user-images.githubusercontent.com/52257742/89459946-7edff100-d737-11ea-91f4-29046fa73eae.png)

Are you looking to update it elsewhere. Please convey.

[2020-08-05 20:20] RonnieQuan opened #60329 "Does Azure MySQL Support User Assigned identity?"
Does Azure MySQL Support User Assigned identity?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c14be959-8179-60ec-74a9-bf9f2a45aaab
* Version Independent ID: 5926fd18-6fa0-30db-1dce-6a0aff4ac3c9
* Content: [Overview - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/overvie

[2020-08-05 20:23] jurschel commented on #59541
@kobulloc-MSFT Thanks for the above that is a different way to get to it and I was able to get there.  I recommend you update teh docs with a description of this method as it does work!  You can close this out from my perspective.

[2020-08-05 20:23] #59541 closed

[2020-08-05 20:28] mmacy commented on #56330
@verbedr Update in https://github.com/MicrosoftDocs/azure-docs/commit/be94c86c3a58dea96783fa24d44a6ccb5f76cc43 has been published. Step 3 now reads:
___
3. When you get to the step to [select an API](quickstart-configure-app-access-web-apis.md#add-permissions-to-access-web-apis), select your resource (the web API app registration).
    * If you created the web API app registration by using the Azu

[2020-08-05 20:32] lgayhardt commented on #46581
#please-close

[2020-08-05 20:32] #46581 closed

[2020-08-05 20:33] mmacy commented on #52369
@D4-AzIdentity @derisen Update in commit https://github.com/MicrosoftDocs/azure-docs/commit/93e72fc4cafcc82e11c8d7689caab6e1f73e7ed8 has been merged and published. Please see **optional** step 6:
___
6. (Optional) To suppress prompting for consent by users of your app to the scopes you've defined, you can "pre-authorize" the client application to access your web API. You should pre-authorize *only

[2020-08-05 20:38] mmacy commented on #53296
@martinlarosa Update in https://github.com/MicrosoftDocs/azure-docs/commit/a2b2b120c07815b56f45511f20dc48f1f8f37f92 has been published. Clarification added on how to ensure Application permissions is enabled:
___
To use application permissions with your own API (as opposed to Microsoft Graph), you must first [expose the API](quickstart-configure-app-expose-web-apis.md) by defining scopes in the AP

[2020-08-05 20:49] derisen commented on #52369
@mmacy LGTM!

[2020-08-05 20:53] ryanfincham opened #60331 "401 Unauthorized Patient Postman Tutorial"
I have been following the tutorial here: https://docs.microsoft.com/en-gb/azure/healthcare-apis/access-fhir-postman-tutorial

I have set up the Azure API for FHIR.

I seem to be able to successfully get a token via postman however when I query the /Patient endpoint I get an 401 error.

When decoded using https://jwt.ms/ the token oid matches my user object id found here - https://docs.microsoft.co

[2020-08-05 20:53] BryanTrach-MSFT commented on #60296
@felixtsem5 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-05 21:00] lfittl-msft commented on #60204
@kosinsky Nice - that makes sense, and happy you were able to find a solution.

I'm wondering how we could highlight this best in the docs. Maybe we can include a snippet like the one you shared here, after the "Creating Azure AD groups in Azure Database for MySQL" section on the How-To Guide.

Do you think that would have helped?

[2020-08-05 21:04] PrimeHydra opened #60332 "Document ability to disable a function in local.settings.json"
Functions in a C# class library can be disabled locally per [this answer](https://github.com/Azure/Azure-Functions/issues/736#issuecomment-471072316). This was more useful for me than creating an environment variable. The topic should mention how to disable functions locally; great for debugging just one function at a time in a large function app.

---
#### Document Details

⚠ *Do not edit this se

[2020-08-05 21:07] tracychms commented on #60192
We have resolved this issue with customer offline. Customer used ParallelRunStep Public Preview version (from contrib), after switching to GA version, it worked fine.

[2020-08-05 21:08] jeevansd commented on #56761
@ArvindHarinder1 Can you please provide the URL from where they can get these IP ranges?

[2020-08-05 21:11] SgtSpamCan opened #60333 "The introduction of client secrets here unnecessarily obfuscates the object of the article: to introduce working with a Redis cache."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Redis with .NET Core apps](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-core-q

[2020-08-05 21:12] ArvindHarinder1 commented on #56761
@jeevansd they have the link in the initial issue. This is also our central doc for updates on IP ranges. There's a change to it that will be deployed end of day. https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#ip-ranges

[2020-08-05 21:20] mike-schenk opened #60334 "Key Vault regional failover and certain control plane operations"
In the event of a region failover, this document does not indicate whether the read-only mode would allow setting or changing access policies. It also does not indicate whether it would be possible to change Firewalls and virtual networks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a925494b-31b5-b856-4448-f6925c410

[2020-08-05 21:25] kosinsky commented on #60204
I think it will be great to have separate page for "Connect with Service Principals (applications)" that will include how to create  user mapped to SPN, how to authenticate using `az account get-access-token` and code sample how to do that with C# and other languages or at least lower level C# only level version with direct HTTP calls to allow simple translation.

[2020-08-05 21:27] gcmlpfaltaher opened #60335 "Add clarification around package needing to be in WindowsApps location"
[Enter feedback here]
For these powershell scripts, there's an assumption made that the MSIX package that will be used for the MSIX App Attach will be copied to C:\Program Files\WindowsApps\{MsixPackageName}.  There is no indication in the documentation that the application needs to exist there for the "Register" script to work.  Please either update the sample "Stage" script to perform this move,

[2020-08-05 21:28] vick-git opened #60336 "Need to register for versioning preview being mandatory can be explicitly mentioned (more details below)"
This [document ](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-enable?tabs=portal) says we can enable versioning using Portal

![image](https://user-images.githubusercontent.com/57968021/89465505-125cf600-d727-11ea-8571-a26bd6534c16.png)

But [here](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview?tabs=powershell#register-for-the-preview), it says, we need

[2020-08-05 21:36] MarileeTurscak-MSFT commented on #52163
I have assigned this to the author as I could not find an Intune contact who knew this and believe this should be added to the document.

[2020-08-05 21:39] xinyeah commented on #60110
Just get access to the Databricks docs repo.
I created a PR for this bug https://github.com/MicrosoftDocs/databricks-pr/pull/318
Please review and approve the PR.
Thanks,

[2020-08-05 21:42] apwestgarth commented on #47198
This mechanism for us to ensure the container is up and running before we wire up the connection from the Container host to the Container and route requests to the container.  We are preparing a change in this behaviour which will deploy sometime in the next 4-8 weeks and the request will go to root "/" and the user-agent will be set to "App Service Hyper-V Container Availability Check".

[2020-08-05 21:43] ryanfincham commented on #60331
@hansenms I am hoping you can provide some guidance based on your expert troubleshooting in this thread https://github.com/MicrosoftDocs/azure-docs/issues/36581

[2020-08-05 21:48] NavtejSaini-MSFT commented on #60298
@SamirFarhat We are checking this and we will get back to you.

[2020-08-05 21:49] curtand commented on #56892
Hi @soydlopez!
I'm the writer for the article. I asked the PM and she was going to find out what is happening, so I'll follow up with her again on this. Thanks for the feedback!

[2020-08-05 21:50] NavtejSaini-MSFT commented on #60300
@asc-adean We are checking this and we will get back to you.

[2020-08-05 21:50] jamesedmondsmith1 commented on #52163
Jes neo,a.

[2020-08-05 21:52] bwren commented on #60258
@Chireven Thanks for pointing this out. I'm getting some details from the PMs and will update the article.

[2020-08-05 21:52] bwren commented on #60258
#please-close

[2020-08-05 21:52] #60258 closed

[2020-08-05 21:53] jamesedmondsmith1 commented on #52163
Uio#13@unions

On Wed, Aug 5, 2020, 14:37 Marilee Turscak - MSFT <notifications@github.com>
wrote:

[2020-08-05 21:54] Jaykul opened #60337 "Migrating TDE Certificate needs instructions that can be run on a SQL Server."
The instructions for migrating a TDE certificate from a SQL Server require installing the Windows Driver Dev Kit as a pre-requisite. My question is: do we think people are going to install the DDK on their _secure_ SQL servers, or are we expecting them to pull the data encryption certificate out of their secure environment to convert it on a developer's laptop? Neither of those options is actually

[2020-08-05 21:56] kknight-valorem opened #60338 "Initiatives Enable Monitoring in Azure Security Center (89 Policies) is now 105 policies (wow)"
Change - Enable Monitoring in Azure Security Center (89 Policies)
to - Enable Monitoring in Azure Security Center (105 Policies)

extremely low priority

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ea89d4-bb48-1ca1-49f9-ad742ee8c4ba
* Version Independent ID: e34c8bb8-553a-84cb-bd39-43a1ef7cd1

[2020-08-05 21:57] SaurabhSharma-MSFT commented on #60334
@mike-schenk Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-08-05 21:59] SaurabhSharma-MSFT commented on #60327
@degrover-cn Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-05 22:00] kknight-valorem opened #60339 "Remove Deploy Azure security Center bullet as this blueprint does not do this"
I looked at the template and it doesn't have Azure Security Center so - you need to remove the bullet saying it deploys Azure Security Center vs. updating the diagram.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2067294d-9cd9-afff-57f0-f0c2c1fda6e7
* Version Independent ID: 1766fe6e-88a1-fa87-

[2020-08-05 22:00] SaurabhSharma-MSFT commented on #60323
@SLeuthold Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-08-05 22:00] SaurabhSharma-MSFT commented on #60322
@cyb3rbull Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-05 22:01] YutongTie-MSFT commented on #60063
@Pamir

Hi, it is supported. Please make sure you have changed "YOUR-CUSTOM-SUBDOMIN" to right parameter. You can get it as following:

In the Manage section (top-right menu), on the Azure Resources page (left menu), copy the Example Query URL then paste into a new browser tab.

The endpoint URL looks like the following format, with your own custom subdomain, app ID, and endpoint key replacing APP

[2020-08-05 22:01] #60063 closed

[2020-08-05 22:02] DCtheGeek commented on #60338
#assign:absheik

[2020-08-05 22:03] DCtheGeek commented on #60338
@kknight-valorem Thanks for the feedback.  I've tagged the owner of this doc to update it.

@absheik - I'd probably consider just removing the count since it's likely to change... or maybe now saying `(100+ policy definitions)`.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-08-05 22:03] DCtheGeek commented on #60339
#assign:absheik

[2020-08-05 22:04] DCtheGeek commented on #60339
@kknight-valorem Thanks for the feedback.  I've tagged the content owner to respond.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-08-05 22:10] DerekHerman-MSFT commented on #60336
@vick-git
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-05 22:10] Karishma-Tiwari-MSFT commented on #60326
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-05 22:12] DCtheGeek commented on #60338
#reassign:DCtheGeek

[2020-08-05 22:12] Karishma-Tiwari-MSFT commented on #60171
@kumarg25 Did it resolve your issue? Let us know. Thanks.

[2020-08-05 22:12] DCtheGeek commented on #60338
@kknight-valorem Thanks for providing the feedback on this.  I've just gone ahead and made the update.  Once the fix merges, this issue will automatically close. The update will be published tomorrow.  Thanks again!

[2020-08-05 22:14] hitsy commented on #60277
@PramodValavala-MSFT - FYI

While attempting to apply CMK to an existing Service Bus instance we are getting the following error
`BadRequest: <Error><Code>400</Code><Detail>Generic: Update to key encryption is not allowed for '<resourcename>'. There are resources already in the namespace.`

The Resource is question

1. is a 'Premium' Service Bus Namespace
2. has 5 Topics
3. has atleast 1 subscript

[2020-08-05 22:16] arkaonelovemanu commented on #60292
thanks for clarifying this, Sourav.  the end goal is machine to machine authentication using Managed Identity where both client and the server are apis . The server api is kind of a centralized service which is consumed by multiple clients. The client uses Managed Identity.

The known way to do this is by using approles and assigning them to the client using Powershell, the downside is we need an

[2020-08-05 22:17] hpsin commented on #43848
#please-close - this is now fixed.  Thank you for the catch!

[2020-08-05 22:17] #43848 closed

[2020-08-05 22:20] DCtheGeek commented on #60339
#reassign:DCtheGeek

[2020-08-05 22:21] jeevansd commented on #56761
@ArvindHarinder1 Thanks for providing the details here. Now I will close this ticket.

[2020-08-05 22:21] jeevansd commented on #56761
#please-close

[2020-08-05 22:21] #56761 closed

[2020-08-05 22:21] DCtheGeek commented on #60339
@kknight-valorem Thanks again for this feedback.  I reviewed the artifacts in the Blueprint and also don't see the ASC deployment, so I'll update this since it's a text update vs a graphic update. Once the fix merges, this issue will automatically close. The update will be published tomorrow. Thanks again!

[2020-08-05 22:23] Karishma-Tiwari-MSFT commented on #60232
Thank you for the feedback and providing details. Since this is more specific to qos, we will keep the doc as is for now. However this GitHub issue will stay here with this document for others to reference. As we get similar feedback from more customers, we will look into updating this document. :)
Thanks for bringing this to our attention. We will now close this issue. If there are further questi