[2021-09-09 15:14] whhender commented on #80817
Thanks very much!

[2021-09-09 15:14] whhender commented on #80817
#please-close

[2021-09-09 15:14] #80817 closed

[2021-09-09 15:14] dominicbetts commented on #80828
Hi @romankiss - I'll pass on your suggestion about the model ID to the product team.

Thanks!

[2021-09-09 15:27] SnehaAgrawal-MSFT commented on #80702
@ak5678 Thanks again for the feedback! Could you please elaborate on this or double check on this, As I followed the steps documented for Hybrid connection manager and on 6th step after selecting Save was able to see the Hybrid Connections with connected status.

[2021-09-09 15:28] MThomas564 opened #80860 "Bullet point with fix for front door 503 error could be clearer"
The bullet point
'If going through Azure Front Door results in a 503 error response code, configure the sendReceiveTimeout field for Azure Front Door. You can extend the default timeout up to 4 minutes (240 seconds). The setting is under backendPoolSettings and is called sendRecvTimeoutSeconds.'
Could be clearer, the setting is under the general settings tab on the Front Door Designer page, as app

[2021-09-09 15:39] MonikaReddy-MSFT commented on #80829
@jjindrich - Thanks for brining this to our attention. We will investigate it further and update you shortly.

@bwren - Do you have any insights on the above?

[2021-09-09 15:41] MonikaReddy-MSFT commented on #80837
@fearofweapons - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-09 15:44] DCtheGeek commented on #80843
#reassign:DCtheGeek

@hdelaby Thanks for the question. This article shows the current mapping between Azure Policy built-in policy definitions and the domains/controls in CIS 1.3.0.  If a domain or control currently has no coverage from a built-in policy definition, it isn't listed on this page.  I'm also looping in the owner, @jomolesk, to speak specifically to that control.

#label:"assigned-to-

[2021-09-09 15:48] tfitzmac commented on #79817
The [details about how connections are counted](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-messages-and-connections#how-connections-are-counted) are provided in one of the linked articles. If you want additional clarification about that description, it is best addressed through that article.

[2021-09-09 15:49] bandersmsft commented on #80724
@JohanWinther Thanks. I'll reply here when I have more info.

[2021-09-09 16:08] blueelvis opened #80863 "Clarify that the backups for Hyperscale are only for 7 days"
In the section where the Backups are described about the various tiers -
1. It doesn't make any sense as to have that text for Hyperscale as it doesn't convey any information in terms of actual backup retention like has been done for the other tiers.
2. It should be clarified that the max backups which are available as of now for Hyperscale is only 7 days and there is no option to do Long Term Bac

[2021-09-09 16:08] tfitzmac commented on #80822
@DexterDreeeam - thanks for this question. The list of blocked names are listed at [Resolve reserved resource name errors](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-reserved-resource-name). I'll add a link to that article in the resource name limits.

[2021-09-09 16:15] thomasoliveira opened #80864 "Mention to retiring Machine Learning Studio in introductory page"
This page mentions the Machine Learning Studio (https://studio.azureml.net/) but does not explain that "support for Machine Learning Studio (classic) will end on 31 August 2024. We recommend you transition to Azure Machine Learning by that date.
Beginning 1 December 2021, you will not be able to create new Machine Learning Studio (classic) resources. Through 31 August 2024, you can continue to use

[2021-09-09 16:18] WilliamDAssafMSFT commented on #80863
Thanks @blueelvis for taking the time to create this issue. We have documentation indicating the current 7 day capability of hyperscale backups [here](https://docs.microsoft.com/azure/azure-sql/database/service-tier-hyperscale-frequently-asked-questions-faq#how-does-the-hyperscale-service-tier-differ-from-the-general-purpose-and-business-critical-service-tiers-), but I see we don't specify that [h

[2021-09-09 16:21] mitulk opened #80866 "The Grafana documentation is out of date and needs to be updated. Please see https://grafana.com/docs/grafana/latest/datasources/azuremonitor/ or ping me for details.."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06d7dad-f3ff-3a48-a3ea-fa9b8783e168
* Version Independent ID: b62676f2-1080-d13d-5e78-14ece3e11cec
* Content: [Monitor Azure services and applications using Grafana - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/grafa

[2021-09-09 16:23] duongau commented on #55648
#please-open

[2021-09-09 16:27] ChaitanyaNaykodi-MSFT commented on #80858
Hello @yunishiz, Thank you for reaching out!
Could you please provide us with more information on the feedback intended?

[2021-09-09 16:27] ChaitanyaNaykodi-MSFT commented on #80860
Hello @MThomas564
Thank you for your feedback! We will review and update as appropriate.

[2021-09-09 16:34] GiftA-MSFT commented on #80857
@Germling we'll review your feedback and get back to you shortly. Thanks.

[2021-09-09 16:35] kobulloc-MSFT commented on #80789
The PR is out and awaiting review from @EMaher.

[2021-09-09 16:37] GiftA-MSFT commented on #80864
@thomasoliveira we'll review your feedback and get back to you shortly. Thanks.

[2021-09-09 16:46] BharathNimmala-MSFT commented on #80001
Thanks a lot @yossi-y for helping fix the document.

@bhicks329 Thanks again for bringing this to our notice and helping us improve our Azure documentation. At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedback on the document pleas

[2021-09-09 16:46] #80001 closed

[2021-09-09 16:51] afritz68 commented on #80403
Thanks, the solution worked. I am able to access the API after adding the service principal account as collection admin.

[2021-09-09 16:54] cynthn commented on #80287
This is the page that the Issue was created for: [Create and use an SSH key pair for Linux VMs in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mac-create-ssh-keys).  I'm not finding any mention of the this file: https://raw.githubusercontent.com/iainfoulds/architecture-center/aks-devops/docs/sample-solutions/app-modernization/templates/devops-with-aks/nested/grafana.json on

[2021-09-09 17:03] ChadEllis8 opened #80867 "GUID missing in website"
Thank you for making product name, and GUID information available. I copied the[ licensing and service plan reference website](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference) to a CSV and then imported it into my database. I ran it across all my clients and discovered everything matched except for 6 GUIDs.

Please update website for the fo

[2021-09-09 17:04] JamesTran-MSFT commented on #80867
@ChadEllis8
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-09 17:08] waterflyer commented on #74109
I'm facing the same issue now, any updates on the progress to solve this problem? Thank you. @SwathiDhanwada-MSFT

[2021-09-09 17:08] kunle-e commented on #51708
I see an issue where the function app is caching the original application setting value from the KV despite the following scenarios:
- The KV value was updated with a new version, and the new version was explicitly referenced in the application settings value.
- The application settings value was updated directly without using the KV.
- The application setting was removed (the function app still s

[2021-09-09 17:13] denniseik commented on #80457
In V2 we deprecated these commands in favor of Azure native role assignment methods. I've just submitted updates in the reference docs to get this reflected. Thanks for reporting @buswrecker

[2021-09-09 17:15] denniseik commented on #80457
@ram-msft We should be good to close this item

[2021-09-09 17:18] BharathNimmala-MSFT commented on #80866
@mitulk Thanks a lot for bringing this to our notice, assigning this to our document author to further review and update the document accordingly.

[2021-09-09 17:18] DavidDBD commented on #61261
We are also having the same issue, and are 100% sure that we created the app registration in B2C.

[2021-09-09 17:21] ThinklogicDeveloper commented on #61261
I did get it working if when registering the application I chose "Accounts in any identity provider or organizational directory (for authenticating users with user flows)" instead of "Accounts in this organizational directory only" under the Supported Account Types option. I had tried several other times to create apps and that is the only setting that made a difference. If you look into their hel

[2021-09-09 17:29] DavidDBD commented on #61261
Perfect, Ill have a try at that in the morning, Hopefully thats all it is :)

[2021-09-09 17:30] jjcv2304 commented on #80626
Just in case my question is not clear.

What I want to understand is the meaning of this particular phrase:

Am I allow to publish to the Azure AD Gallery an app as long as it supports multitenant? independently if I support other authentication methods in the app?

[2021-09-09 17:51] normesta commented on #77339
Thank you for reporting. I've added a section to the Data Lake Storage Gen2 known issues article here - https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#events. I've also tagged the Blob Event entry in the blob storage feature support table to indicate that there are issues with this feature and to point readers to the known issues article. That table is here - h

[2021-09-09 17:51] #77339 closed

[2021-09-09 17:52] DerekHerman-MSFT commented on #80830
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-09 18:01] Rupp29 commented on #80775
Thanks for the feedback.
For item #1, As you mention "Azure Monitor logs" is probably not the best term, I'm changing the document to say "Log Analytics". Thanks for this suggestion to clarify the content.
For item #2, the View Dashboard is enabled when you have a target of "Log Analytics" and/or "Event Hubs".
Having only blob storage as an audit log target shows the buttons as disabled.
In the do

[2021-09-09 18:07] duongau commented on #80860
@MThomas564 I have made updates to the doc to reflect the correct steps to access that field. Screenshots are also include for reference.

Thank you!

#please-close

[2021-09-09 18:07] #80860 closed

[2021-09-09 18:08] mdarefull opened #80869 "Outdated? New-AzContainerGroup command?"
The command listed https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell#create-a-container doesn't work.

Looking at the official command documentation:
https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-6.4.0

The Container group requires a container instance to be created first.

---
#### Document

[2021-09-09 18:18] Karishma-Tiwari-MSFT commented on #80851
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-09-09 18:22] SaiKishor-MSFT commented on #80413
@RohitG92 Can you please send me an email at AzCommunity [at] microsoft dot com with subject: "ATTN: Sai Kishor" include your Azure subscription ID and a link to this forum thread (for context). We may need to manually enable this feature for you.

[2021-09-09 18:25] satyajitcet opened #80870 "Is Cosmos DB gremlin api supporting atomic transaction as per tinkerpop?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

## Tech support and product feedback
As per gremlin, below  transaction is atomic.

g.addV('root'). property ('data',9).as('root').
 addV('node'). property ('data',5).as('b').
addE('test').from('root').to('b')

Has it been implemented in Azure cosmos db gremlin api yet?

---
#### Doc

[2021-09-09 18:40] Grodriggues opened #80871 "docker image microsoft/oms does not exist"
[I am trying to follow up the tutorial but I'm not to pull the image microsoft/oms from docker hub as it does not exist]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec237c1c-6c64-c473-379c-ebb8ac8b2bba
* Version Independent ID: 1335a7b7-b1ce-8f6a-d4e2-bf5e73b31317
* Content: [Container Monitoring solution in Azure M

[2021-09-09 18:46] turb0chrg opened #80872 "Template invalid"
Hi there.

The template and parameters provided will not deploy. The parameters section of the TemplateFile has values specified, these should instead have the type defined and these values moved to the parameters file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912419aa-f5cd-160d-722a-9e1834fe7ad7
* Version Indepe

[2021-09-09 18:57] JamesTran-MSFT commented on #80872
@turb0chrg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-09 19:23] andyrivMSFT commented on #80826
Hello @jeevannagvekar

There are a few places in the IoT Edge documentation that can help you set up your environment.
- This portion of the IoT Edge documentation provides information on downstream IoT Edge device configuration [https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-iot-edge-device?view=iotedge-2020-11&tabs=azure-portal](url)
- This tutorial [https://docs.micro

[2021-09-09 19:33] pahoehne opened #80874 "The page title in the docs is about managing certificates - not diagnostics extensions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c92b87f-c6e5-6c91-d647-89be2a60dccc
* Version Independent ID: 1a1b81f0-ad1c-b27f-2759-250b64faa1c5
* Content: [Enable diagnostics in Azure Cloud Services (classic) using PowerShell](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services

[2021-09-09 19:54] cveld opened #80875 "Limits are constrained by quotas on subscription level"
It seems this document needs an update. For example the Storage Account resource type gets 250 instances by default and can be extended by raising a quota increase request. I would suggest you to include some guidance towards the subscription's usage and quotas menu in Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-09-09 19:59] duongau commented on #54939
Hello @Molx32, I apologized for the delayed response. Your understand is correct, those 100 domains are calculated per unit meaning they are per Azure Front Door that you deploy. If you have any further questions please feel free to reach back out. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-09 20:02] duongau commented on #52147
#reassign: gunjanj

[2021-09-09 20:03] duongau commented on #52127
#reassign: jessie-jyy

[2021-09-09 20:05] duongau commented on #52124
Hello @espray, it looks like your answer has been answered by @jessicl-ms. If you have any further questions please feel free to reach back to us. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-09 20:05] #52124 closed

[2021-09-09 20:07] duongau commented on #52123
Hello @espray, it looks like @jessicl-ms has also answered this issue as well. Please reach back out to us if you have any further questions. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-09 20:07] #52123 closed

[2021-09-09 20:08] DeanGross opened #80876 "Why Security Control V1"
How come this is using V1 of the Security Control instead of V2?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2561cc3d-996d-fb20-3bee-8bf0513e3cd4
* Version Independent ID: 20471c47-d5ca-5c19-5fcf-3c19cdc5525b
* Content: [Azure security baseline for Azure SQL Database](https://docs.microsoft.com/en-us/security/benchma

[2021-09-09 20:09] duongau commented on #52122
Hello @espray, could you please elaborate on what @jessica-ms asked?

[2021-09-09 20:11] sheridanharrison-msft opened #80877 "Incorrect instructions on how to configure monitored resources"
"Under Security select Overview followed by Settings, and then select Monitored Resources."

should say

"Under Security select Settings, and then select Monitored Resources."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22057312-d756-f7d9-09a7-6eb7be57d37c
* Version Independent ID: b3f207b8-d3cb-d8bf-877f-088e0f260c

[2021-09-09 20:11] duongau commented on #51504
#rassign: gunjanj

[2021-09-09 20:15] duongau commented on #52122
#reassign: jessie-jyy

[2021-09-09 20:17] rudolphjacksonm commented on #80482
Hi @SamaraSoucy-MSFT, I think I'm on the Standard plan, but can't see anywhere to confirm this in the Azure Portal, or in the [Terraform resource for logic workflows.](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/logic_app_workflow).

I can't see anything [in the documentation here](https://docs.microsoft.com/en-us/azure/logic-apps/single-tenant-overview-compare)

[2021-09-09 20:17] duongau commented on #50968
Hello @dpapkin, this has been updated to include those fields when creating a webapp. Please let me know if you have any further concerns. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-09 20:17] #50968 closed

[2021-09-09 20:18] duongau commented on #51284
#reassign: jessie-jyy

[2021-09-09 20:19] duongau commented on #49663
#reassign: gunjanj

[2021-09-09 20:21] duongau commented on #49211
Hello @SychevIgor, we have added screenshots to help illustrate the steps in the quickstart article. Please let me know if you have any other concerns. For now I will be closing this issue.

Thank you!

#please-close

[2021-09-09 20:21] #49211 closed

[2021-09-09 20:22] duongau commented on #48198
#reassign: jessie-jyy

[2021-09-09 20:24] rido-min commented on #80828
Hi @romankiss ,

Thank you very much for providing feedback about this topic. Let me try to explain the reasons why the `modelId` should NOT be in the QRCode. Happy to discuss further if needed, (you can contact me at *rmpablos at ms dot com*).

- The QRCode represents what is needed to provision/connect a device. Any device.
- Is the device responsibility to announce the model it's implementing
-

[2021-09-09 20:27] susanshi opened #80878 "Please add Azure Container Registry Data endpoint page to Azure Container Registry concept"
Hi,

There is a existing blog about why/how to use data endpoint for ACR at https://azure.microsoft.com/en-us/blog/azure-container-registry-mitigating-data-exfiltration-with-dedicated-data-endpoints/.
Please add  dataendpoint information to ACR concepts at https://docs.microsoft.com/en-us/azure/container-registry/ for better discoverability.

---
#### Document Details

⚠ *Do not edit this section.

[2021-09-09 20:35] SatishBoddu-MSFT commented on #80849
Hello [@nhwkuhns](https://github.com/nhwkuhns) We are looking into this.

[2021-09-09 20:39] cjgronlund commented on #80864
@thomasoliveira: Thank you for submitting this issue and for your interest in Azure Machine Learning.
ML Studio (classic) is being deprecated, but [Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/) has a UI experience called studio

[2021-09-09 20:47] duongau commented on #48184
#reassign: gunjanj

[2021-09-09 20:48] duongau commented on #48180
#reassign-jessie-jyy

[2021-09-09 20:48] bbrandt opened #80880 "Token configuration cannot be found - Configuring optional claims"
In the [Configuring optional claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-custom-policy#configuring-optional-claims) instructions it says to "select Token configuration", but I do not see this option.  Has it been removed?

![image](https://user-images.githubusercontent.com/602767/132760318-b90c04cc-e1b7-4585-82b2-01d5cc78a6

[2021-09-09 20:57] duongau commented on #48177
#reassign: gunjanj

[2021-09-09 20:57] PRMerger16 commented on #48177
GitHub user sohamnchatterjee has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-09 21:00] duongau commented on #47644
#reassign: vhorne

[2021-09-09 21:00] PRMerger12 commented on #47644
GitHub user teresayao has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-09 21:01] duongau commented on #47403
#reassign: jessie-jyy

[2021-09-09 21:02] duongau commented on #46278
#reassign: gunjanj

[2021-09-09 21:05] duongau commented on #46183
#reassign: jessie-jyy

[2021-09-09 21:06] duongau commented on #43869
​​@frackham: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:06] #43869 closed

[2021-09-09 21:06] tfitzmac commented on #80875
@cveld - thanks for this feedback. The 250 limit is instances per region whereas this article covers instance per resource group. However, I will add a link for checking the region limit to this article.

[2021-09-09 21:07] duongau commented on #44981
#reassign: gunjanj

[2021-09-09 21:08] duongau commented on #42215
#reassign: jessie-jyy

[2021-09-09 21:11] duongau commented on #41486
#reassign: gunjanj

[2021-09-09 21:12] duongau commented on #40375
#reassign: jessie-jyy

[2021-09-09 21:13] duongau commented on #39856
#reassign: gunjanj

[2021-09-09 21:14] cjgronlund commented on #80864
@thomasoliveira - The Studio UI section of the article https://docs.microsoft.com/en-us/azure/machine-learning/overview-what-is-azure-machine-learning has been updated to provide info differentiating Azure Machine Learning studio vs ML Studio (classic). Thank you again!

[2021-09-09 21:15] duongau commented on #39681
@bjax22 : Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:15] #39681 closed

[2021-09-09 21:16] duongau commented on #38225
@xenalite : Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:16] #38225 closed

[2021-09-09 21:17] cjgronlund commented on #80864
Resolved with private repo PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/171941

#please-close

[2021-09-09 21:17] #80864 closed

[2021-09-09 21:17] duongau commented on #37163
#reassign: jessie-jyy

[2021-09-09 21:18] duongau commented on #35170
@amitamit281: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:18] #35170 closed

[2021-09-09 21:19] duongau commented on #34828
#reassign: gunjanj

[2021-09-09 21:20] duongau commented on #28495
@mcollier: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:20] #28495 closed

[2021-09-09 21:22] JamesTran-MSFT commented on #80616
@glomaga
Thank you for the quick follow up!

Since there's no way to remove an element from the collection, and your issue isn't directly related to our docs, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) and posting your issue there. This way our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds

[2021-09-09 21:22] #80616 closed

[2021-09-09 21:23] duongau commented on #21059
@AshwinSarimin please take a look at the official list of CA: https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT. If you have any further questions please feel free to reach out to us. For now I will be closing this issue. Thank you! #please-close

[2021-09-09 21:23] #21059 closed

[2021-09-09 21:26] duongau commented on #19930
@frankfuu: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:26] #19930 closed

[2021-09-09 21:30] JamesTran-MSFT commented on #80880
@bbrandt
For the `Token configuration` within your "Azure AD B2C App", can you make sure you're in your Azure Active Directory Tenant, and **not** your Azure B2C Tenant.

Following the [Configuring optional claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant?pivots=b2c-custom-policy#configuring-optional-claims) instructions, it looks like the

[2021-09-09 21:39] lXbalanque opened #80881 "What user name and what format to use when logging in?"
I'm having some difficulty logging into my Azure bastion host and the documentation here isn't clear on the format. Prior to joining it to the domain, I've used the local domain admin account.

After its joined to the domain, do I need to use domainname\username? UPN? any other combination? or just the username (user.name)?

Clearing this up in the documentation would be helpful.

Thank you.

---

[2021-09-09 21:43] duongau commented on #34152
@MarkSimos: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:43] #34152 closed

[2021-09-09 21:44] duongau commented on #71312
#reassign: jessie-jyy

[2021-09-09 21:45] duongau commented on #70166
#reassign: gunjanj

[2021-09-09 21:46] duongau commented on #69673
#please-close

[2021-09-09 21:46] #69673 closed

[2021-09-09 21:47] duongau commented on #68491
#reassign: jessie-jyy

[2021-09-09 21:47] duongau commented on #67813
#reassign: gunjanj

[2021-09-09 21:48] duongau commented on #67759
#reassign: jessie-jyy

[2021-09-09 21:50] duongau commented on #67350
@brphelps: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 21:50] #67350 closed

[2021-09-09 21:50] nhwkuhns commented on #80849
I was able to pinpoint the issue. Turns out the score.py script was sending the dataframe for inferencing as a np.array.

Also, I was able to build and deploy the model using the Environment class. The code in the 02-....ipynb should be updated to include that rather than the ContainerImage class as the latter is deprecated and it does not cache the image for rebuilding on minor code changes (savi

[2021-09-09 21:51] duongau commented on #65432
#please-close

[2021-09-09 21:51] #65432 closed

[2021-09-09 21:52] duongau commented on #75705
#reassign: gunjanj

[2021-09-09 21:53] duongau commented on #75260
#reassign: jessie-jyy

[2021-09-09 21:53] duongau commented on #74853
#reassign: gunjanj

[2021-09-09 21:54] duongau commented on #79183
#reassign: jessie-jyy

[2021-09-09 21:55] duongau commented on #78229
#reassign: gunjanj

[2021-09-09 21:55] duongau commented on #79473
#reassign: jessie-jyy

[2021-09-09 22:00] BharathNimmala-MSFT commented on #80871
@Grodriggues Thank you for reaching out with your query, we will review and get back to you at the earliest.

[2021-09-09 22:01] duongau commented on #61802
#reassign: gunjanj

[2021-09-09 22:02] duongau commented on #61490
#reassign: gunjanj

[2021-09-09 22:03] duongau commented on #60240
#reassign: gunjanj

[2021-09-09 22:04] duongau commented on #60675
#reassign: gunjanj

[2021-09-09 22:09] duongau commented on #59691
#reassign: gunjanj

[2021-09-09 22:11] duongau commented on #57579
#reassign: gunjanj

[2021-09-09 22:11] duongau commented on #56898
#reassign: gunjanj

[2021-09-09 22:11] duongau commented on #56883
#reassign: gunjanj

[2021-09-09 22:11] duongau commented on #56198
#reassign: gunjanj

[2021-09-09 22:12] duongau commented on #54964
#reassign: gunjanj

[2021-09-09 22:12] #58252 closed

[2021-09-09 22:12] ChaitanyaNaykodi-MSFT commented on #80881
Hello @lXbalanque, Thank you for reaching out. You need to use UPN ((username@domain) format to sign in. It is documented here in the [troubleshooting document](https://docs.microsoft.com/en-us/azure/bastion/troubleshoot#domain).

[2021-09-09 22:12] duongau commented on #54715
#reassign: gunjanj

[2021-09-09 22:12] tfitzmac commented on #80875
The update has been published.
#please-close

[2021-09-09 22:12] #80875 closed

[2021-09-09 22:13] duongau commented on #54506
#reassign: gunjanj

[2021-09-09 22:13] duongau commented on #54462
#reassign: gunjanj

[2021-09-09 22:13] tfitzmac commented on #80822
The update has been published.
#please-close

[2021-09-09 22:13] #80822 closed

[2021-09-09 22:15] duongau commented on #54265
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #53862
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #53755
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #53706
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #53626
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #53253
#reassign: gunjanj

[2021-09-09 22:16] duongau commented on #52688
#reassign: gunjanj

[2021-09-09 22:18] duongau commented on #52449
@larspars: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 22:18] #52449 closed

[2021-09-09 22:18] duongau commented on #51971
#reassign: gunjanj

[2021-09-09 22:18] duongau commented on #51612
#reassign: gunjanj

[2021-09-09 22:19] duongau commented on #50164
#reassign: gunjanj

[2021-09-09 22:19] tfitzmac commented on #80759
@BzSpi - thanks for this feedback. I have added a link to that document for more information about the rules engine limits. It should get published tomorrow.
#please-close

[2021-09-09 22:19] #80759 closed

[2021-09-09 22:19] duongau commented on #49548
#reassign: gunjanj

[2021-09-09 22:19] duongau commented on #49394
#reassign: gunjanj

[2021-09-09 22:19] duongau commented on #48246
#reassign: gunjanj

[2021-09-09 22:19] duongau commented on #46251
#reassign: gunjanj

[2021-09-09 22:20] duongau commented on #45867
#reassign: gunjanj

[2021-09-09 22:24] duongau commented on #45715
#reassign: gunjanj

[2021-09-09 22:24] duongau commented on #45306
#reassign: gunjanj

[2021-09-09 22:24] PRMerger20 commented on #45306
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-09 22:25] duongau commented on #45228
#reassign: gunjanj

[2021-09-09 22:25] duongau commented on #45225
#reassign: gunjanj

[2021-09-09 22:25] duongau commented on #45203
#reassign: gunjanj

[2021-09-09 22:25] duongau commented on #42740
#reassign: gunjanj

[2021-09-09 22:25] duongau commented on #42603
#reassign: gunjanj

[2021-09-09 22:26] duongau commented on #41250
#reassign: gunjanj

[2021-09-09 22:26] duongau commented on #38563
#reassign: gunjanj

[2021-09-09 22:26] duongau commented on #38244
#reassign: gunjanj

[2021-09-09 22:26] duongau commented on #38232
#reassign: gunjanj

[2021-09-09 22:26] PRMerger19 commented on #38232
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-09 22:27] duongau commented on #36972
#reassign: gunjanj

[2021-09-09 22:27] duongau commented on #35315
#reassign: gunjanj

[2021-09-09 22:27] duongau commented on #35071
#reassign: jessie-jyy

[2021-09-09 22:28] #75675 closed

[2021-09-09 22:28] duongau commented on #33718
#reassign: jessie-jyy

[2021-09-09 22:28] PRMerger8 commented on #33718
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-09 22:28] duongau commented on #32567
#reassign: jessie-jyy

[2021-09-09 22:28] duongau commented on #32542
#reassign: jessie-jyy

[2021-09-09 22:28] duongau commented on #32071
#reassign: jessie-jyy

[2021-09-09 22:28] duongau commented on #27958
#reassign: jessie-jyy

[2021-09-09 22:29] duongau commented on #27957
#reassign: jessie-jyy

[2021-09-09 22:29] duongau commented on #25667
#reassign: jessie-jyy

[2021-09-09 22:29] duongau commented on #24527
#reassign: jessie-jyy

[2021-09-09 22:29] duongau commented on #23536
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #18814
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #17798
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #16594
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #16466
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #16407
#reassign: jessie-jyy

[2021-09-09 22:30] duongau commented on #13800
#reassign: jessie-jyy

[2021-09-09 22:31] duongau commented on #11066
#reassign: jessie-jyy

[2021-09-09 22:31] duongau commented on #71224
#reassign: jessie-jyy

[2021-09-09 22:31] duongau commented on #71035
#reassign: jessie-jyy

[2021-09-09 22:31] duongau commented on #69861
#reassign: jessie-jyy

[2021-09-09 22:32] duongau commented on #69850
#reassign: jessie-jyy

[2021-09-09 22:32] duongau commented on #69246
#reassign: jessie-jyy

[2021-09-09 22:32] duongau commented on #68507
#reassign: jessie-jyy

[2021-09-09 22:32] duongau commented on #68442
#reassign: jessie-jyy

[2021-09-09 22:33] duongau commented on #67502
#reassign: jessie-jyy

[2021-09-09 22:33] duongau commented on #64523
#reassign: jessie-jyy

[2021-09-09 22:33] duongau commented on #64093
#reassign: jessie-jyy

[2021-09-09 22:33] duongau commented on #62757
#reassign: jessie-jyy

[2021-09-09 22:33] duongau commented on #62474
#reassign: jessie-jyy

[2021-09-09 22:34] duongau commented on #75669
#reassign: jessie-jyy

[2021-09-09 22:34] duongau commented on #74901
@bryanwiggins: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 22:34] #74901 closed

[2021-09-09 22:35] javester opened #80882 "need more details on adding vhd to file share and mounting for increased performance"
https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshooting-files-performance#cause-2-metadata-or-namespace-heavy-workload
"Add a virtual hard disk (VHD) on the file share and mount the VHD over SMB from the client to perform file operations against the data."

It would be very helpful to have more information here on how to perform this option to put a VHD on the file share and m

[2021-09-09 22:35] duongau commented on #74756
#reassign: jessie-jyy

[2021-09-09 22:35] duongau commented on #74663
#reassign: jessie-jyy

[2021-09-09 22:36] duongau commented on #72984
#reassign: jessie-jyy

[2021-09-09 22:36] duongau commented on #72858
#reassign: jessie-jyy

[2021-09-09 22:36] duongau commented on #72212
#reassign: jessie-jyy

[2021-09-09 22:36] duongau commented on #72102
#reassign: jessie-jyy

[2021-09-09 22:37] duongau commented on #71863
#reassign: jessie-jyy

[2021-09-09 22:38] duongau commented on #77570
#reassign: jessie-jyy

[2021-09-09 22:38] duongau commented on #78798
#reassign: jessie-jyy

[2021-09-09 22:39] #73797 closed

[2021-09-09 22:40] duongau commented on #78518
@danfaulkner81: Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-09-09 22:40] #78518 closed

[2021-09-09 22:43] soderlind commented on #48177
FWIW, I ended up using [Key Vault Acmebot](https://github.com/shibayan/keyvault-acmebot) for apex domains (,and also for regular domains). My experience is that adding a managed cert takes twice as much time (40-50 minutes) compared to "bring you own" cert (i.e. from my azure key vault).

I'm running 6 Frond Doors (it's a hard limit of max 20 apex domains per AFD), and have approximately 120 domai

[2021-09-09 23:08] RyanHill-MSFT commented on #67805
We've updated docs to reflection regional vnet supported functionality. Limitations are listed [here](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#limitations)

[2021-09-09 23:08] #67805 closed

[2021-09-09 23:12] kobulloc-MSFT commented on #80869
@mdarefull Thank you for bringing this to our attention!  I'm seeing an error as well.  I'm assigning this to the document author for review.

[2021-09-09 23:20] Karishma-Tiwari-MSFT commented on #80874
Thanks for bringing this to our attention.

@hirenshah1 The navigation menu on the left seems to be incorrect. I do not have the ability to fix that menu. Can you please update it. Thanks. :)
![image](https://user-images.githubusercontent.com/20851144/132774856-ee877b4a-43dd-41d7-a870-c1f6c4c9f8df.png)

[2021-09-09 23:22] RyanHill-MSFT commented on #62864
@yull1860, if you do happen to reproduce the issue, please feel free to reopen the issue and tag us in your comment.

[2021-09-09 23:22] #62864 closed

[2021-09-09 23:26] #60616 closed

[2021-09-09 23:26] YutongTie-MSFT commented on #80826
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-09 23:33] GiftA-MSFT commented on #80857
@Germling can you please confirm that you have the prerequisites? Also, what step is producing this error (create workspace, model, create model, etc.)?

[2021-09-09 23:37] ValOlson commented on #80826
Hi @YutongTie-MSFT, the details requested are in scope of this document (https://docs.microsoft.com/en-us/azure/iot-hub-device-update/connected-cache-disconnected-device-update) and not the linked document.

[2021-09-09 23:53] kromerm commented on #79926
Doc was recently updated

[2021-09-09 23:53] sjmcculloch opened #80883 "Broken Link"
The link on this page is broken:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-datetimeadd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36aefaa-91bf-4986-cefd-44c01ea6a9ac
* Version Independent ID: a03ff97a-6297-e510-a3b6-4ae1a969eec8
* Content: [Date and time functions in Azure Cosmos DB query language

[2021-09-09 23:54] kromerm commented on #79926
#please-close

[2021-09-09 23:54] #79926 closed

[2021-09-10 00:04] mmacy commented on #76536
@RossMurr4y @SaeedAkhter-MSFT This is a good example of how the content might be there, it's just so unclear as to be unusable.

I believe this is the article that @RossMurr4y is referring to in the SWA docs that includes Azure AD as a custom IdP:

- [Custom authentication in Azure Static Web Apps](https://docs.microsoft.com/azure/static-web-apps/authentication-custom?tabs=aad)

That article does

[2021-09-10 00:04] #76536 closed

[2021-09-10 00:10] mmacy commented on #74236
@SaeedAkhter-MSFT LGTM, thanks! #please-close

[2021-09-10 00:10] #74236 closed

[2021-09-10 00:14] rmmcgr commented on #80691
Furthermore, it would be great if there was a clear path to use social and local accounts, and remove the facebook stuff.
Removing the facebook parts from "SocialAndLocalAccounts" and adding in Azure AD Multi-Tenant seems to break the setup.
(Still trying to get it to work out success....)

[2021-09-10 00:15] GiftA-MSFT commented on #80818
- **Where the KBs live or how to import and manage KBs**: Please review KB data sources https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/plan?tabs=v1#ingest-data-sources
- **Are they indexed somewhere? What's the process that refreshes them?**: Please review the development lifecycle https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/development-

[2021-09-10 00:43] TonySh127-ms opened #80885 "The Group owner can change the group property"
Hi team,

The group general setting explanation is unclear on the group owner permission. Based on discussion with Group management PM, the group general settings will not effect group owner capabilities to change or update groups they own. These settings will simply allow or restrict group creation by non-admin users.

the document seem to point ambiguity explanation on the user who assigned the

[2021-09-10 00:53] #80183 closed

[2021-09-10 00:55] josealvarez97 commented on #63369
I realized no one has worked on this issue since last year @SnehaAgrawal-MSFT . I would be happy to give it a shot at improving the documentation. In the end, I had to download the source code of the NodeJS API and take a look at the unit tests to get a better sense of how to use it. If I still remember correctly, there were two JavaScript APIs: one developed in NodeJS (old one) and one that works

[2021-09-10 01:06] mmacy commented on #80479
Hi @sizzler-5g, thanks for the suggestion - sounds good to me!

We can fix that through doc edits, however, as that value is autogenerated. Would good to open an issue in the docs platform feedback issue tracker repo, here:

https://github.com/MicrosoftDocs/feedback

Going to close this one as a "can't fix," but good suggestion - thanks! #please-close

[2021-09-10 01:06] #80479 closed

[2021-09-10 01:08] haysjp commented on #79871
Hi @mike-urnun-msft thanks for following up!  We worked through that documentation too during a serverless open hack.  When we used the portal to add that policy we saw the following:

![image](https://user-images.githubusercontent.com/1542027/132782504-6d2247ab-4af7-4dde-ad3d-f4a12cf7d9d9.png)

[2021-09-10 01:27] andrewbrownmsft commented on #80790
Thanks, doc change made to clarify that the files are re-used from a different tutorial since the scenario is a simulated update (any file can be used).

[2021-09-10 01:32] RyanHill-MSFT commented on #60808
We've updated to the doc to clarify regional vnet with regards to flex stamp. If there are further questions, feel free to tag me in a comment below.

[2021-09-10 01:32] #60808 closed

[2021-09-10 01:34] #63756 closed

[2021-09-10 01:35] #72957 closed

[2021-09-10 01:46] RyanHill-MSFT commented on #80800
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-10 01:59] chez-charlie commented on #76166
Pre-requisite: The integration described in this article depends on Azure Event Grid. Make sure that your subscription is registered with the Event Grid resource provider. For more info, see Resource providers and types. You must be able to do the Microsoft.EventGrid/eventSubscriptions/* action. This action is part of the EventGrid EventSubscription Contributor built-in role.

[2021-09-10 01:59] chez-charlie commented on #76166
#close

[2021-09-10 02:08] DexterDreeeam commented on #80822
@tfitzmac Thanks

[2021-09-10 02:16] SnoWolfT opened #80886 "Unable to create PIM assignments for AKS Azure Roles scoped to namespaces for AD groups"
We tried the Priviliged Access Groups, but I think there’s a limit on the number of Role Enabled Groups, We are getting issues while creating new groups stating that only 400 are allowed. If that’s the case – Is there a way to increase this limit ?

In the meantime we started using the normal PIM approach and onboarded our resources for Azure Resources PIM. The issue is, We cant use the Azure AD R

[2021-09-10 02:34] BhargaviAnnadevara-MSFT commented on #80852
@ghaering Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-10 02:35] olprod opened #80887 "Update apache-spark-secure-credentials-with-tokenlibrary.md"
Copied from https://github.com/MicrosoftDocs/azure-docs.fr-fr/pull/787

In the C# lib, 'getSecret' method does not exist, the 'GetSecret' with a capital 'G' does though... If you use the 'getSecret' method, you'll get a 'TokenLibrary does not contain a definition for 'getSecret' ' error. Haven't checked the other languages...

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-09-10 02:36] BhargaviAnnadevara-MSFT commented on #80854
@HimanginiSisodia Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-10 02:38] BhargaviAnnadevara-MSFT commented on #80855
@jihu Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-10 02:42] BhargaviAnnadevara-MSFT commented on #80846
@satyajitcet Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-10 02:58] BhargaviAnnadevara-MSFT commented on #80787
@jeremiedeveloper Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-09-10 03:12] sakuraitabi2601 commented on #80461
Hello. are there any update for it ? just would like to know for AAG on Azure VM , whether need to have two network card in same vnet and different subnet ? will it benefit for the performance ?

[2021-09-10 03:20] #76166 closed

[2021-09-10 03:35] samirvora-MS opened #80888 "Update needed for page link given below"
Hi,
Please update the "Load 1 TB into Azure Synapse Analytics" link because it is pointing to a page that is for Azure Data Factory V1 which is retired. It is not applicable for any new ADF customer.
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-data-warehouse?tabs=data-factory#use-polybase-to-load-data-into-azure-synapse-analytics
![image](https://user-images.githubuserc

[2021-09-10 03:48] satyajitcet commented on #80846
I am following below document.
https://docs.microsoft.com/en-us/azure/cosmos-db/graph/graph-introduction
I have not found any topic related to atomic transaction.so asked here.

[2021-09-10 04:47] v-hagamp commented on #65305
#please-close

[2021-09-10 04:47] #65305 closed

[2021-09-10 04:54] jjindrich commented on #80681
Thank you, answer is here https://docs.microsoft.com/en-us/azure/app-service/environment/networking#extra-configurations

[2021-09-10 04:54] #80681 closed

[2021-09-10 05:06] brootware commented on #80152
@SrijitBose-MSFT , no more for this. Thank you for the answer. Will be closing this now.

[2021-09-10 05:06] #80152 closed

[2021-09-10 05:11] SychevIgor commented on #49211
just 2 years after a request... amazing!

[2021-09-10 05:12] cro27 commented on #80782
Contacting @RalfKlahrMS to discuss

[2021-09-10 05:13] Svijay-msft commented on #80673
Hello  @preethamrajk

You can override in the below way or the recommended approach would be to use the key vault.

![ARM](https://user-images.githubusercontent.com/66949976/132803104-f4acc8f8-ee96-4394-9b0f-6408b7c19a25.gif)

[2021-09-10 05:22] cro27 commented on #80783
This is a dupe of [80782](https://github.com/MicrosoftDocs/azure-docs/issues/80782). Please assign to me.
I will follow up with requestor.

[2021-09-10 05:26] jodysimkins opened #80889 "Import option featured on this page gone?"
[Enter feedback here]
This page features options that do not appear to be available?
Not sure who to tell, but the option to import does not seem to exist anymore making this page unhelpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b

[2021-09-10 05:51] Svijay-msft commented on #80773
@vlado101 - Unfortunaely no for both scenarios.

The AzCopy supports following :

[azcopy ](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#synopsis) supported directions/scenarios are these:

- local <-> Azure Blob (SAS or OAuth authentication)
- local <-> Azure Files (Share/directory SAS authentication)
- local <-> Azure Data Lake Storage Gen 2 (SAS, OAuth, or share

[2021-09-10 05:58] KalyanChanumolu-MSFT commented on #80883
@sjmcculloch Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-10 05:59] KalyanChanumolu-MSFT commented on #80883
@ginamr @SnehaGunda

The broken hyperlink is from Recommended content, I am not sure where this content is hosted.
Could you please let me know?

![image](https://user-images.githubusercontent.com/8835012/132806839-c11dbb13-f3c1-4d17-a3f1-d814790c4a85.png)

[2021-09-10 06:00] KalyanChanumolu-MSFT commented on #80876
@DeanGross Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-10 06:18] #79669 closed

[2021-09-10 06:25] hkusulja commented on #77359
@Grace-MacJones-MSFT this should not be closed, until not fixed.

[2021-09-10 06:31] gogbg opened #80891 "PS5"
I thought PS5 is dead, it's strange to see new products introducing their programmatic support using it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1e2969-8162-7cad-99b7-803ba089081d
* Version Independent ID: cca0134b-5685-ae09-f9f3-275426e6e3b8
* Content: [What is Azure AD Connect v2.0?](https://docs.microsoft.co

[2021-09-10 06:31] AnuragSharma-MSFT commented on #80643
@AshleyYangSZ Because of lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-10 06:31] #80643 closed

[2021-09-10 06:32] AnuragSharma-MSFT commented on #80698
@pitawatn This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-10 06:34] AshleyYangSZ commented on #80643
@AnuragSharma-MSFT Sorry for late response, which framework do you mean? .Net Framework?

[2021-09-10 06:51] BhargaviAnnadevara-MSFT commented on #80870
@satyajitcet Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-09-10 07:02] SnoWolfT commented on #63943
@MonikaReddy-MSFT, After about 1 year, this document hasn't updated yet. I encounter the same issue. Thank you for your help, @mracfa !

[2021-09-10 07:02] WhippsP commented on #78444
Rolling this change back as it should not have been removed. The azure function should have had appleKeyId. I have updated the sample to include it. This is a requirement from apple. See https://developer.apple.com/documentation/sign_in_with_apple/generate_and_validate_tokens under "creating the client secret"

[2021-09-10 07:07] andriysavin commented on #37452
Hello, has anything changed in this area since our last conversation?

[2021-09-10 07:18] apwestgarth commented on #37452
Hi, @andriysavin Windows Container support in Azure App Service GA'd last September - [App Service announces general availability of Windows container support](https://azure.microsoft.com/updates/app-service-announces-general-availability-of-windows-container-support/) which included support for VNET integration, Private Link and MSI.

[2021-09-10 07:20] satyajitcet commented on #80870
I am following below document.
https://docs.microsoft.com/en-us/azure/cosmos-db/graph/graph-introduction

[2021-09-10 07:25] mingshen-ms commented on #74984
#please-close Thanks @BrianLevenson for you feedback. Only active subscriptions will auto-renew, we'll look into whether cancelled subscriptions still attempt to auto-renew, which will result in failure.  Your suggestion to support changing auto-renew via API is appreciated and will be evaluated for future releases.

[2021-09-10 07:25] #74984 closed

[2021-09-10 07:32] mingshen-ms commented on #75997
#please-close Thank you for the feedback @jankosecki. Apologies for not addressing this sooner.  This may be due to a bug that would require additional investigation. If this issue is still ongoing, please open a support ticket via https://aka.ms/marketplacepublishersupport for timely investigation and resolution.

[2021-09-10 07:32] #75997 closed

[2021-09-10 07:52] preethamrajk commented on #80673
Thanks Vijay. I'm using managed identity so there's no need to pass the connectionString as a secret (or via KV). But when I tried to override with clear text, I had gotten an error. (I don't have the error now, sorry) I think this is because of the arm template default parameterization which requires any connectionString to be a secureString. Please correct me if I'm wrong.Can you pls confirm tha

[2021-09-10 08:12] BhargaviAnnadevara-MSFT commented on #80878
@susanshi Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-10 08:13] BhargaviAnnadevara-MSFT commented on #80877
@sheridanharrison-msft Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-10 08:13] lightupdifire opened #80892 "Use Microsoft Graph API to reset redemption status"
Hello,

Please explain permissions for the Microsoft Graph API to reset redemption status,
I'm receiving errors when running API via PowerShell:

**Invoke-RestMethod: The remote server returned an error: (403) Forbidden**

Permissions for API granted and I can Invite users using API code with PowerShell:
![image](https://user-images.githubusercontent.com/39700914/132821228-30d5a2d2-2d48-4eca-a7f0-

[2021-09-10 08:36] Lemppi opened #80893 "Python Wheel Installation Script - Bug in getLibStatus"
There is an error in the Python script for installing a Python wheel on a Databricks Cluster. To specify, there is the part at which the statuses of installed Python wheels are checked. The implementation is shown as follows:

[code]

On checking with `if (status['library']['whl'] == 'dbfs:' + dbfslib)` and the with else-statement placed like this, the function returns "not found", as soon as the

[2021-09-10 08:40] #80819 closed

[2021-09-10 08:52] ak5678 commented on #80702
Hi @SnehaAgrawal-MSFT,

I am using Hybrid Connection Manager v 0.0.7 - for clarity.
I observed the following:

1. When I add a hybrid connection using Hybrid Connection Manager UI, a hybrid connection listener is not created on my machine unless I restart HybridConnectionManager windows service. I know it because the number of listeners for a hybrid connection in Azure did not increase unless I re

[2021-09-10 09:49] ShawnTheCoder opened #80894 "Typo in document H <->HC"
There is a typo in Software Specification, the "HC-series VM" should be "H-series VM".
[https://docs.microsoft.com/en-us/azure/virtual-machines/h-series#software-specifications](https://docs.microsoft.com/en-us/azure/virtual-machines/h-series#software-specifications)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8107f

[2021-09-10 09:50] KalyanChanumolu-MSFT commented on #80846
@satyajitcet CosmosDB doesn't provide a separate SDK for Gremlin API.
You can use any Gremlin client that is based on Apache TinkerPop specifications that supports transactions.

Please read more about transactions on the TinkerPop documentation [here](https://tinkerpop.apache.org/docs/current/reference/#transactions)

[2021-09-10 09:59] asergaz commented on #80790
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-10 09:59] #80790 closed

[2021-09-10 10:05] blueelvis commented on #80863
@WilliamDAssafMSFT - Thanks a lot William for taking care of this! Any idea when would Long term backup retention capabilities be available for the Hyperscale tier?

[2021-09-10 10:05] CHEEKATLAPRADEEP-MSFT commented on #80888
@samirvora-MS Please do checkout the important note at starting on the document.

![image](https://user-images.githubusercontent.com/79183421/132837407-160a50cd-58cb-49ae-b82f-be2c5ade7eb2.png)

Hope this helps.

[2021-09-10 10:06] CHEEKATLAPRADEEP-MSFT commented on #80893
@Lemppi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-10 10:07] CHEEKATLAPRADEEP-MSFT commented on #80882
@javester  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2021-09-10 10:12] commakoerschgen opened #80895 "Use stable AzureAD PS module for `Set-AzureADMSAuthorizationPolicy`"
The command `Set-AzureADMSAuthorizationPolicy` is now available in AzureAD module (althoug this is not documented yet, see https://github.com/Azure/azure-docs-powershell-azuread/issues/713).

I suggest that the commands be adapted to the new syntax, and that users are encouraged to use the stable version whenever possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-09-10 10:15] romankiss commented on #80828
Hi @rido-min, thanks for your answer,

I understood what you mention, basically this pattern I have used in my [Azure IoT Hub Tester](https://www.codeproject.com/articles/1173356/Azure-IoT-Hub-Tester) and it's working well for _IoT Hub_, where the device can change a device twin _modelId_ property on the fly during its connection, so the app can properly use it, for example the Azure IoT Explorer

[2021-09-10 10:26] satyajitcet commented on #80846
Question is whether Azure cosmos db gremlin api is providing atomic transaction or not.if it is providing atomic transaction then where is it atomic?
Can we make below scenario atomic using cosmos db gremlin api?
We are using 2 graphs (Let GraphA & GraphB) in single database.
for 1 transaction we need to update vertices and edges of GraphA and GraphB. Need update in both graphs else no update in a

[2021-09-10 10:27] BhargaviAnnadevara-MSFT commented on #80870
@satyajitcet Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-09-10 10:29] BhargaviAnnadevara-MSFT commented on #80885
@TonySh127-ms Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-10 10:31] MarekLani opened #80896 "Identity provider Email claim mapping results in Internal Server Error"
When using proposed claims email mappin:
**Email: preferred_username**  I am getting itnernal server error during the sign up/sign in. Flow redirects to https://your-B2C-tenant-name.b2clogin.com/your-B2C-tenant-name.onmicrosoft.com/oauth2/authresp and ends up with 501.

Solution to this problem was, to enable email claim in Token configuration and then use email field instead of preffered_username

[2021-09-10 10:31] CHEEKATLAPRADEEP-MSFT commented on #80887
@olprod  Thanks for the question! We are investigating and will update you shortly.

[2021-09-10 10:38] BhargaviAnnadevara-MSFT commented on #80894
@ShawnTheCoder Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-09-10 10:44] lightupdifire commented on #78870
Hello,
Can you please confirm if it is possible to change all accounts that were invited (and they created MSA) to OTP, as an example:
1. Users invited as B2B and user have created MSA for access
2. If OTP will be enabled in tenant after step 1 done
3. User still must log in using MSA account
Question:
How to change this user from MSA account login to OTP login?
User must delete the linked MSA acc

[2021-09-10 10:54] mishagen opened #80897 "Create diagnostic settings to send platform logs and metrics to different destinations: Destination requirements to use Azure storage account doesn't mention compatible types."
Create diagnostic settings to send platform logs and metrics to different destinations: Destination requirements to use Azure storage account doesn't mention compatible types.

https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD

Following the steps to create diagnostic settings using the PowerShell cmdlet I noticed the error "InternalServerError". Without

[2021-09-10 11:24] MarekLani opened #80898 "Please add description for using Custom Policy"
Please add description for using Custom Policy definition instead of portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15942a1a-df5c-bbeb-a693-510aadede4b2
* Version Independent ID: dd96db95-d230-9690-ab08-dfc6ceaff7f2
* Content: [Set up sign-up and sign-in with OpenID Connect - Azure AD B2C](https://docs.microsof

[2021-09-10 11:54] KalyanChanumolu-MSFT commented on #80846
@satyajitcet Thank you for providing additional context.
Cosmos DB provides support for transactions within a partition, we do not have support multi-step, cross-partition, or distributed transactions.

I am tagging @manishmsfte to provide more insights on your scenario.

[2021-09-10 12:24] GitaraniSharma-MSFT commented on #80719
@dazinator , could you give the below a try:
https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps#create-a-key-vault-policy-and-certificate-to-be-used-by-the-application-gateway

In the PowerShell example you can see the below permissions:
Set-AzKeyVaultAccessPolicy -VaultName $kv -PermissionsToSecrets get -ObjectId $identity.PrincipalId

Set-AzKeyVaultAccessPolicy -Vau

[2021-09-10 12:44] flodihn opened #80899 "More example"
[Enter feedback here]
I am trying to find some examples how to create a VM with a private IP only, that I want to be created when calling the POST command to create a new VM in the REST API, but I find it very hard to find any examples of this and the documentation if very hard to read and confusing, it seems like it requires an existing interface already created which makes no sense.

---
#### Do

[2021-09-10 12:53] gopala-unravel opened #80900 "Get an Azure Active Directory token using a service principal - Need some references and clarifications"
I am trying to follow this document to use AAD with my Azure Databricks. And this document says the api calls are different for different service principal setups:

1. API access for service principals that are Azure Databricks workspace users and admins:
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token#--api-access-for-service-principals-that-are-a

[2021-09-10 12:55] holgerjs opened #80901 "Network contributor"
The article mentions this:

Against which resource? Against the whole VNet? Or only against the subnets (if those are pre-created)?

kind regards
-j

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1c527c328a7e
* Version Independent ID: 5342d01e-c2da-f7a8-d22e-86995a17af79
* Content: [Deploy Azure

[2021-09-10 14:10] BhargaviAnnadevara-MSFT commented on #80886
@SnoWolfT Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-10 14:12] Nicholak-MS commented on #80867
Hi @ChadEllis8   I have added the six missing GUIDS to the doc and it published yesterday. We are investigating future mechanisms to make consuming this data more efficient.

[2021-09-10 14:13] Nicholak-MS commented on #80867
#please-close

[2021-09-10 14:13] #80867 closed

[2021-09-10 14:19] stemo76 opened #80903 "Version information"
At the top it says 'Starting in version 2107, it's removed from Configuration Manager' but then right below that under prereqs it says 'Azure Monitor supports Configuration Manager current branch, version 1606 and higher.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc903ca9-86f1-6930-504e-e4abfb0408bb
* Version Ind

[2021-09-10 14:38] JackCaster opened #80904 "use conda instead of venv"
Is `venv` the only supported virtual environment mechanism? Is it possible to use `conda` instead?

The Python extension for VSCode supports many environments (venv, Poetry, Conda). Is it possible to tell the Azure function extension to use whatever Python env the Python extension sets up? Moreover, consider that Azure Machine Learning supports only Conda (https://docs.microsoft.com/en-us/azure/ma

[2021-09-10 14:39] leo60228 opened #80905 "Confidentiality of application ID"
The Microsoft identity platform developer glossary says this about the application ID:

However, the [Microsoft identity platform Terms of Use](https://docs.microsoft.com/en-us/legal/microsoft-identity-platform/terms-of-use) says this:

(emphasis mine in both quotes)

These seem to directly contradict each other. Notably, the terms of use seem to prevent using the identity platform in SPAs and nat

[2021-09-10 14:40] SatishBoddu-MSFT commented on #80849
Hello @nhwkuhns Is this the right Github : https://github.com/Azure-Samples/IoTEdgeAndMlSample/tree/master/AzureNotebooks ?

For the Notebook code sample files?

[2021-09-10 14:42] MarileeTurscak-MSFT commented on #80891
Hi @gogbg are you talking about PlayStation or some other technology?

We will now proceed to close this thread since the feedback for the document is unclear.

If needed, please create a new issue detailing your feedback for this document, or ask a question in Microsoft Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2021-09-10 14:42] #80891 closed

[2021-09-10 14:45] msmimart commented on #77605
@jd1984 thanks so much for pointing this out. We've added more detail to the note and included links for background info and configuration steps, hope this helps. The changes will publish shortly. Thanks again!
#please-close

[2021-09-10 14:45] #77605 closed

[2021-09-10 15:02] ericpskl opened #80906 "Language codes incorrect"
Language codes "fr-ca" and "pt-pt" are incorrect and do not work with Cognitive Services/Translator

They should be "fr-CA" and "pt-PT" (note case) which work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3452c464-0135-aaab-5e96-a88f3144e378
* Version Independent ID: 3816f475-bf5f-b5b4-9458-5cc70e93d55e
* Co

[2021-09-10 15:20] habhachicha commented on #64993
Hello,
I have been trying to follow the same documentation, on how to provision an iot edge transparent gateway and afterwards how to connect a downstream device to the gateway.
The device is provisioned using x509 certificates, and **I am working with python SDK**.

My problem is; when I want to use this script: [send_message_downstream.py](https://github.com/Azure/azure-iot-sdk-python/blob/maste

[2021-09-10 15:22] rido-min commented on #80828
Yes, we are aware of the current Central behavior (/cc @sandeeppujar ) and we are making some changes, to  re-assign devices to the device template, even if the device is already assigned.

However I still don't see any good reason to include the modelId in the QR.

As said before, the QR represents the provisioning/connection and should not care about the modelId. The modelId needs to be in-sync

[2021-09-10 15:25] MrVhek opened #80907 "Backup configuration script and steps not complete"
Hello,

I've got an issue with backup setup as specified in the documentation here: https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql#usererrormsimissingpermissions

I've followed the document OSSbkpprep_automated.docx steps, downloading scripts and using it. But I kept stuck on Active Directory Authentication even if my user is the admin of the server.

PS D:\Travail\

[2021-09-10 15:25] jocarv-fte opened #80908 "Az cli commands not working when run on a undeleted storage account"
[Enter feedback here]
Hi

I have tried to recover a CMK encrypted storage account, but the recovery failed due to the storage account "losing" the managed identity. The solution was to re-run the powershell steps in: https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=powershell

I first tried to run the commands in AZ CLI, but the command "az stora

[2021-09-10 15:28] jocarv-fte commented on #80830
I also opened issue https://github.com/MicrosoftDocs/azure-docs/issues/80908 for the doc in https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=azure-cli
If this is an unexpected behavior for AZ CLI, then it needs to be fixed and it's not needed to change anything on this doc

thanks

[2021-09-10 15:34] spelluru commented on #79964
The article has been updated. Thanks @msmbaldwin

#please-close

[2021-09-10 15:34] #79964 closed

[2021-09-10 15:36] DerekHerman-MSFT commented on #80830
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-10 15:36] embeau opened #80910 "Change data capture for Azure SQLDB is set as "No" but is well supported"
Change data capture for Azure SQLDB is set as "No" but is well supported : https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec

[2021-09-10 15:58] AnuragSingh-MSFT commented on #80784
Hi @soafara, Details of various destinations available and respective descriptions are available [here ](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD#destinations) which is also linked under [Resource logs](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-azure-monitor#resource-logs) section of this article.
I hope it he

[2021-09-10 16:01] jeffpatt24 commented on #80882
We will update the documentation.

Once you mount the file share, the steps to mount the VHD will vary depending on the OS.

For example, for Windows perform the following steps: https://docs.microsoft.com/en-us/windows-server/storage/disk-management/manage-virtual-hard-disks

If the client is Linux, the steps may vary: https://www.bing.com/search?q=mount%20VHD%20Linux&qs=n&form=QBRE&msbsrank=4_4_

[2021-09-10 16:08] msmimart commented on #77801
@gregbnz thanks so much for pointing this out. I've updated the article to include this suggestion, and the changes will publish shortly.
#please-close

[2021-09-10 16:08] #77801 closed

[2021-09-10 16:13] JamesTran-MSFT commented on #80892
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-10 16:14] JamesTran-MSFT commented on #80895
@commakoerschgen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-10 16:15] skrabbe001 commented on #80526
Dear Amanpreet.

Then I assume I cannot use THE sample code at all, because Azure’s application verification fails, when you select implicit grant, and do as shown in the sample code.

Does this mean that we can’t use B2C at all? Why does this sample claim that Authorization Code Flow works for B2C, when you say it does not:

https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa

I am at

[2021-09-10 16:16] JamesTran-MSFT commented on #80896
@MarekLani
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-10 16:17] JamesTran-MSFT commented on #80898
@MarekLani
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-10 16:18] JamesTran-MSFT commented on #80905
@leo60228
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-10 16:22] stewartadam opened #80911 "Use Azure CLI for APIM code samples"
Consider using Azure CLI instead of PowerShell for the APIM code samples, to avoid being Windows-centric and showing a a x-plat solution that will work across operating systems customers use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 281ce98c-115b-3c39

[2021-09-10 16:30] wjdavis5 opened #80912 "ServiceBus connection string does not require manage on the namespace any more."
This is no longer accurate. Creating a token specific to the queue is fine as long as it has manage on the queue.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Independent ID: 1a3150b4-5eb9-0ac5-ee2b-d1bb6b6fd63e
* Content: [Azure Service Bus trigger for Azure Fun

[2021-09-10 16:35] skrabbe001 commented on #80526
Here you can see how it the integration assistant fails, if I follow the tutorial to the letter:

If you are using the authorization code flow, disable the implicit grant settings.
Action required

From: Stefan Krabbe
Sent: Friday, September 10, 2021 6:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Subject: RE: [MicrosoftDocs/azure-docs] The AADB2C samples and guides use Implicit Grant - how to n

[2021-09-10 16:43] BharathNimmala-MSFT commented on #80907
@MrVhek Thank you for reaching out with your query, assigned this our document author to further review.

[2021-09-10 16:44] spygi opened #80913 "Clarification regarding writes in a partition set in the single-write region but multi-read case"
## Context
Relevant document: [global distribution under the hood](https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood)

In the [section related to partition sets, it's stated](https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood#:~:text=The%20service%20allows%20you%20to%20configure%20your%20Cosmos%20databases%20with%20either%20a%20single%20write%20re

[2021-09-10 16:50] #80882 closed

[2021-09-10 16:54] mimckitt commented on #80851
Thanks for bringing this to our attention. I am working to determine what happened to that page. Will update once I know more.

[2021-09-10 16:55] MonikaReddy-MSFT commented on #80903
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-10 16:56] MonikaReddy-MSFT commented on #80897
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-10 16:57] samirvora-MS commented on #80888
Why are we still referencing V1 when it is not available for customers ? The link in the note brings user back to the same page from where we started.

Regards,
Samir Vora
Technical Advisor - Big Data Movement
Data and AI | Azure Rapid Response
Office: +1 469-775-0098
Las Colinas, TX
Hours: Monday - Friday 9am to 6pm CST ( UTC -5 )
***@***.***

We are interested in any feedback you have about the

[2021-09-10 17:02] ChaitanyaNaykodi-MSFT commented on #80858
Hello @yunishiz,
Since we have not heard back from you, we will now proceed to close this issue out. Please feel free to create a new issue with the intended feedback. Thank you!

[2021-09-10 17:02] #80858 closed

[2021-09-10 17:09] MonikaReddy-MSFT commented on #80404
@levalencia - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-10 17:09] #80404 closed

[2021-09-10 17:12] msmbaldwin commented on #79950
Hi, @x509cert. Our automated article recommendation engine is still fairly new and being improved weekly. As of now we do not have the ability to exclude an article from showing up, but I have taken your feedback and passed it along to the engineering team. Hopefully this functionality will be available shortly, at which time I will ensure that the managed and dedicated HSM articles are no longer

[2021-09-10 17:12] #79950 closed

[2021-09-10 17:14] JamesTran-MSFT commented on #80880
@bbrandt
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Since documentation is currently correct, I'll go ahead and close out this issue at the end of the day.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-09-10 17:19] Oury-MSFT commented on #80910
@embeau Thank you for your feedback. We are checking this and will get back shortly.

[2021-09-10 17:21] ElasticCoder commented on #44425
I have the same problem. Multiple backends. They are using a wildcard certificate issued by Amazon Root CA 1 certified by Starfield Class 2 Certification Authority. "Touching" the config causes it to work again.

[2021-09-10 17:21] Oury-MSFT commented on #80913
@spygi Thank you for your feedback. We are checking on this and will get back shortly.

[2021-09-10 17:24] bbrandt commented on #80880
Thanks @JamesTran-MSFT !  Looks like I wasn't reading carefully enough and did it backwards. Closing now.

[2021-09-10 17:24] #80880 closed

[2021-09-10 17:25] jenswachtel opened #80914 "Mention Exclusion list limit"
[Enter feedback here]
You should mention it's limit:
I stumbled with terraform over this:
Status=400 Code="ApplicationGatewayFirewallExclusionLimitReached" Message="The number of Exclusions exceeds the maximum allowed value. The number of Exclusions is '41' and the maximum allowed is '40'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-09-10 17:28] SaiKishor-MSFT commented on #80914
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-10 17:36] JamesTran-MSFT commented on #80892
@lightupdifire
Thank you for your post!

Since this issue isn't directly related to our docs, I'd recommend leveraging our [Q&A forums](https://docs.microsoft.com/en-us/answers/products/) so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-09-10 17:40] himanshusinha-msft commented on #80900
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-10 17:41] BharathNimmala-MSFT commented on #80889
@jodysimkins Thank you for reaching out with your query , our team will review and get back to you at the earliest.

[2021-09-10 17:41] himanshusinha-msft commented on #80901
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-10 17:43] ccompy commented on #80539
Answers are below:

You pay for the two dedicated hosts at creation at a rate we set.  This is charged at creation and of course is an ongoing charge.  You are essentially renting hardware.  I can't give the prices as they need to come from our billing system.  The charge is slightly above the normal dedicated host rate.  There is a charge on top of that for the running App Service plan instances.

[2021-09-10 17:45] msmbaldwin commented on #79828
Hi, @jonwbstr. We don't always succeed, but we strive to have TOC entries that do not "wrap". That means we sometime shorten the title of an article when referencing it in the TOC.   We want to still reference "merge" in the actual article title for search engine result, but left it off the TOC entry in the interest if brevity.

Thank you! #please-close

[2021-09-10 17:45] #79828 closed

[2021-09-10 17:49] SaiKishor-MSFT commented on #80600
@vhorne Can you please look into this? I have setup a WAF v1 App GW and do not see this option either, See below:

<img width="726" alt="AppGW Botnet" src="https://user-images.githubusercontent.com/68254272/132896140-4f3f7fd6-5e21-49bb-8f1f-e80dd195b428.png">

[2021-09-10 17:59] meenalsri commented on #71708
@julieMSFT Synapse CLI role commands are now documented at [Synapse CLI](https://docs.microsoft.com/en-us/cli/azure/synapse/role?view=azure-cli-latest). Please close this issue.

[2021-09-10 18:00] lightupdifire commented on #80892
Hello James,
You think we don't need to add information about required permissions to
call Graph API?

пт, 10 сент. 2021 г., 20:36 James Tran-MSFT ***@***.***>:

[2021-09-10 18:03] BhargaviAnnadevara-MSFT commented on #80740
@JerryNixon We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-09-10 18:03] #80740 closed

[2021-09-10 18:07] BhargaviAnnadevara-MSFT commented on #80742
@ChNorman Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-10 18:15] craigshoemaker commented on #80220
This article is updated with a note that describes how the header is set via the edge nodes.

Thanks for the feedback, @kickertw!

#please-close

[2021-09-10 18:15] #80220 closed

[2021-09-10 18:24] GiftA-MSFT commented on #80906
@ericpskl we'll review your feedback and get back to you shortly. Thanks.

[2021-09-10 18:28] Rykimaruh opened #80917 "Repeated sentece"
In the paragraph:

_When role nears its expiration, use PIM to extend or renew the roles. Both user-initiated actions require an approval from a Global administrator or Privileged role administrator. Both user-initiated actions require an approval from a Global administrator or Privileged role administrator._

The last sentence is repeated

---
#### Document Details

⚠ *Do not edit this section. I

[2021-09-10 18:30] BhargaviAnnadevara-MSFT commented on #80839
@saurabh-sengar Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-09-10 18:30] #80839 closed

[2021-09-10 18:33] cawrites commented on #80711
@rajeshsetlem can you look at this issue.

[2021-09-10 18:34] softwarecraft opened #80918 "What is encryption algorithm for secrets in key vault?"
The section [Encryption](https://docs.microsoft.com/en-us/azure/key-vault/secrets/about-secrets#encryption) states that
- secrets are stored encrypted
- encryption is transparent
- no action required from the user ... service encrypts and decrypts secrets automatically
- encryption key is unique to each key vault

However this section does not define what encryption algorithm is used for the encry

[2021-09-10 18:54] JamesTran-MSFT commented on #80892
@lightupdifire
Thank you for following up with this!

I walked through the documentation using the Graph API and PS script, and was only able to reset the redemption status for a guest user using PowerShell. I wasn't able to repro your error message, but I kept getting a `Bad Request - Invalid email address` error even though I used the same ObjectID and email for the PS script, which worked.

![i

[2021-09-10 18:55] JamesTran-MSFT commented on #80917
@Rykimaruh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-10 18:58] JamesTran-MSFT commented on #80918
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-10 18:59] JamesTran-MSFT commented on #80917
@Rykimaruh
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-09-10 18:59] #80917 closed

[2021-09-10 19:08] BhargaviAnnadevara-MSFT commented on #80878
@susanshi Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-10 19:08] WilliamDAssafMSFT commented on #80863
Thanks @blueelvis again for bringing this to attention. A doc update is in flight to address. Publicly we can say that long-term retention for hyperscale is on our near term roadmap.

Thanks again for this feedback, your suggestions help improve our documentation.

[2021-09-10 19:08] WilliamDAssafMSFT commented on #80863
#please-close

[2021-09-10 19:08] #80863 closed

[2021-09-10 19:11] laujan commented on #80906
Hi @ericpskl. Thank you for your feedback. I checked for a possible bug. I could get proper translation using pt-pt and fr-ca while translating text "How are you?". Do you have an example of the text your were attempting to translate?

[2021-09-10 19:15] sr-msft commented on #73986
Thanks @AwdotiaRomanowna for pointing that out. :) Will look into adding that step shortly in the documentation.

[2021-09-10 19:16] esb797 opened #80919 "broken links"
In the 'Run the application' section, at the end of the section, he links "full sample code" and "in-depth Jupyter Notebook" are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa9db9e-bc31-35e6-a243-107276a37a5e
* Version Independent ID: 3ffb903f-6d42-6411-0478-2fab35e1f2df
* Content: [Quickstart: Anomaly dete

[2021-09-10 19:18] lee0c opened #80920 "Suggestion: Introduce zone pivots for "create" vs "update" to simplify some docs sections"
## Problem statement

Docs such as the Pod Identity documentation have multiple headings/sections corresponding to creating a cluster with pod identity enabled vs upgrading an existing cluster to enable pod identity when in reality the *only* difference is the use of `create` vs `update` in the `az aks` command. This adds length to the docs and makes it more difficult to place information relevant

[2021-09-10 19:20] #80894 closed

[2021-09-10 19:21] BhargaviAnnadevara-MSFT commented on #80894
@ShawnTheCoder Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-09-10 19:25] ecfan commented on #78262
Hi @gastonmuijtjens,

Azure AD OAuth is currently unavailable for inbound requests using the Logic Apps (Standard) resource type in single-tenant Azure Logic Apps. The docs are being updated to note this status.

[2021-09-10 19:26] lightupdifire commented on #80892
Hello James,
In your Graph API you probably must add optional email or remove additional
email section. Again, what permissions must be granted to the API? :)

пт, 10 сент. 2021 г., 21:54 James Tran-MSFT ***@***.***>:

[2021-09-10 19:28] ChadEllis8 commented on #80867
Thank you for the quick response. You fixed all the GUID's my system couldn't understand. 💯

I did notice a change in the data somewhere else that created a bad character and it caused my imports to fail where it worked before. Please see row 40, look for "Dynamics 365 Operations – Device". The dash isn't a dash bud a bad character (a double dash was used and I'm assuming an auto correction happen

[2021-09-10 19:41] Nicholak-MS commented on #80867
Thanks @ChadEllis8 with you pointer I was able to isolate and replace the double dash with a single dash. I submitted a PR to address it. It should publish later today.

[2021-09-10 19:59] rajeshsetlem commented on #80461
Hi @sakuraitabi2601, In Azure, for SQL Server VMs that are part of Availability Group there is no need to have two Network  Interface Cards (NIC) as there is physical redundancy and fault tolerance under the hood.

This is documented at https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-prerequisites-tutorial#create-sql-server-vms

![ima

[2021-09-10 20:16] BustosMSFT commented on #73219
@rarandiv thanks, we'll add a note in the documentation.
You could use same encryption key on source and destination servers when using Customer managed key.
#please-close

[2021-09-10 20:16] #73219 closed

[2021-09-10 20:20] esb797 opened #80922 "Link to a documentation missing"
In the 'Authenticate the client' section, right above the Python code block, it's written "Refer to **this document** for how to generate SAS URLs from Azure Blob Storage." However, no link or reference to that document can be found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa9db9e-bc31-35e6-a243-107276a37a5e
* V

[2021-09-10 20:25] msmimart commented on #80119
@Neutrino-Sunset, thanks so much for pointing out these issues. An update to this article will publish shortly.
#please-close

[2021-09-10 20:25] #80119 closed

[2021-09-10 20:25] esb797 opened #80923 "Link to a notebook broken"
In the 'Notebook' section, the link to the notebook is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29323b06-8d17-de5f-5e93-b82327a057db
* Version Independent ID: 691c2878-c467-3851-ef29-e2609e4d3e26
* Content: [What is the Anomaly Detector Multivariate API? - Azure Cognitive Services](https://docs.microsoft.

[2021-09-10 20:26] mike-urnun-msft commented on #80904
Hello @JackCaster - Thank you for your feedback! We will review and update as appropriate.

[2021-09-10 20:28] mike-urnun-msft commented on #80912
Hello @wjdavis5 - Thank you for your feedback! We will review and update as appropriate.

[2021-09-10 20:30] mike-urnun-msft commented on #80911
Hello @stewartadam - Thank you for your feedback! We have assigned this issue to the content author to review further and take the next course of action.

[2021-09-10 20:31] mrbullwinkle commented on #80922
Thanks for calling this out. For now this may be the easiest resource: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/document-translation/create-sas-tokens?tabs=blobs or this: https://docs.microsoft.com/en-us/azure/storage/blobs/sas-service-create?tabs=dotnet I will test and update this next week.

[2021-09-10 20:46] amsliu commented on #68100
#reassign:@amsliu

[2021-09-10 20:46] amsliu commented on #68240
#reassign:@amsliu

[2021-09-10 20:46] amsliu commented on #63178
#reassign:@amsliu

[2021-09-10 20:50] YutongTie-MSFT commented on #80923
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-10 20:58] JamesTran-MSFT commented on #80892
@lightupdifire
Thank you for pointing that out! I ran the Graph API using the below JSON Body and was able to run it.

Using [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer), the API permissions I had to consent to were:
![image](https://user-images.githubusercontent.com/36619112/132914916-00e800f0-b9ea-4a66-948b-71a0683f91a0.png)
![image](https://user-images.githubuser

[2021-09-10 21:04] #80746 closed

[2021-09-10 21:06] msmimart commented on #77907
@mcox13579, I've reached out to the product team to see if there is more info we can add to the article to address the issue. Apologies for the delay, but I wanted to give an update and let you know we're looking into this. Thanks again for your feedback.

[2021-09-10 21:14] dtzar opened #80924 "Azure DevOps Starter - Azure IoT Edge - multiple failures"
There are numerous failures after it deploys the ACR.

1. `az` commands are changed/deprecated and task fails
1. Docker base images have moved to mcr versus docker hub and have different structure
1. 16.04 VM is about to expire Sept 20th
1. Marketplace image is no longer valid/available

I have fixes for some of these, but need to know where the Azure DevOps Project source code resides.

---
####

[2021-09-10 21:48] TravisCragg-MSFT commented on #80886
@SnoWolfT Thanks for the feedback! [The limit for AAD role-assignable groups is 300 groups per tenant](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-directory-limits). Unfortunately this limit is not one that can you can increase on your subscription.

Please review the best practices for AAD roles to see if you can clear up some

[2021-09-10 21:50] ecfan commented on #80482
Hi @rudolphjacksonm,

Only the Consumption-based logic app supports either the system-assigned or user-assigned managed identity. Currently, the Standard-based logic app supports only the system-assigned identity, not the user-assigned identity. I've spun up a doc update to make this difference clearer.

[2021-09-10 21:57] JamesTran-MSFT commented on #80918
@softwarecraft
Thank you for your time and patience throughout this issue!

Referencing a support case from last month, all data inside Key Vault is encrypted at rest using AES128-CBC-HMAC-SHA256 with unique data and hash keys per vault. For more info on [Azure Encryption at Rest Components](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#azure-encryption-at-rest-com

[2021-09-10 22:10] fabiansald opened #80926 "Document not accurate - error on example provided"
Hi! I tried the example using Azure Python SDK for KQL (resource-graph), installed the required libraries and the example crashed:

Libraries installed:
[code]

Crash:
[code]

Please provide an updated working example, cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9f71f9-785f-8a66-855e-3f426169fb89
* Version

[2021-09-10 22:11] Karishma-Tiwari-MSFT commented on #80412
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-10 22:14] Karishma-Tiwari-MSFT commented on #80714
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-10 22:28] ChaitanyaNaykodi-MSFT commented on #80881
Hello @lXbalanque, hope my response above helped in resolving the issue. We will now proceed to close this issue out, please tag me in your response if you have any additional concerns. Thank you!

[2021-09-10 22:28] #80881 closed

[2021-09-10 22:37] ericpskl commented on #80906
Thanks @laujan for getting back to me so quickly.  I did some more checking and you are correct, "pt-pt" and "fr-ca" do work correctly when calling the API.

It turns out that my issue is related to the list of supported languages that comes back from the endpoint. In my code, I am pulling the JSON data returned from https://api.cognitive.microsofttranslator.com/languages?api-version=3.0 in order

[2021-09-10 22:49] Oury-MSFT commented on #80910
@embeau CDC is supported in Azure SQL database and the below are the limitations
![image](https://user-images.githubusercontent.com/78940872/132925149-c46b4919-6236-498a-b2f4-7f98d05d81c5.png)
Are you referring to this [documentation](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-ver15).?

[2021-09-10 22:59] DerekHerman-MSFT commented on #80908
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-10 23:11] SatishBoddu-MSFT commented on #80924
Hello [@dtzar](https://github.com/dtzar) Thanks for the feedback.

Our SME will be reviewing your feedback soon.

[2021-09-10 23:21] ecfan commented on #80482
Also, not all connectors support using manage identities. Here's the updated section in the doc that you referenced earlier:

[https://docs.microsoft.com/azure/logic-apps/create-managed-service-identity#where-to-use-managed-identities](https://docs.microsoft.com/azure/logic-apps/create-managed-service-identity#where-to-use-managed-identities)

[2021-09-10 23:22] krishna-doss-mohan commented on #80906
Hi Eric,
API works irrespective of the case.  Works fine for pt-PT, pt-pt, fr-CA, or fr-ca.
Thanks.

[2021-09-10 23:58] shalinid25 commented on #60288
@ram-msft . I have a similar issue where i want to import a package in my python script . I have followed all the steps in the document ,however i'm still getting the error ModuleNotFound . Looks like it has to do something with how the files are zipped. The document does not  contain any details about how the directory structure of the zipped folder should  be to avoid ModuleNotFound error  espec

[2021-09-11 00:01] shalinid25 opened #80927 "I'm getting ModuleNotFound error in Execute Python Script -Azure ML Designer"
@ram-msft . I have a similar issue where i want to import a package in my python script . I have followed all the steps in the document ,however i'm still getting the error ModuleNotFound . Looks like it has to do something with how the files are zipped. The document does not  contain any details about how the directory structure of the zipped folder should  be to avoid ModuleNotFound error  espec

[2021-09-11 00:39] dtzar commented on #80924
I have some fixes in my repo.  Please ping me on Teams and I'll give whomever access if desired.

[2021-09-11 01:20] x509cert opened #80929 "Describe which keys are rotated"
Hey folks,

reading this post https://azure.microsoft.com/en-us/updates/general-availability-automatic-key-rotation-of-customermanaged-keys-for-encrypting-azure-disks/ about key rotation.

Which keys are rotated? Key Encryption Keys (ie; the RSA key) or the Data Encryption Keys (AES)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-09-11 01:25] x509cert opened #80930 "Describe the crypto algs used in double-encryption"
from this page, "High security sensitive customers who are concerned of the risk associated with any particular encryption algorithm, implementation, or key being compromised"

Can we add what the algorithms are as well as:

Alg
key size
Cipher mode

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-7

[2021-09-11 01:26] ram-msft commented on #80686
@msdpalam Thanks for the feedback. @Blackmist Could you please update the document for the following redundant steps.

https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-create-secure-workspace#enable-studio

[2021-09-11 01:30] SergeySagan commented on #16487
This issue is not resolved. Following the linked official documentation, there is no mention of SourceURI:
https://docs.microsoft.com/en-us/azure/virtual-machines/snapshot-copy-managed-disk?tabs=powershell

Please update the instructions with the details for where to get this SourceURI.

[2021-09-11 01:59] rarandiv commented on #73219
Great. Thanks @BustosMSFT for considering the feedback and updating the document.

[2021-09-11 04:30] psmanhas commented on #80899
@flodihn Thank you for the feedback.We will work on it and will keep you updated on the thread

[2021-09-11 04:32] psmanhas commented on #80920
@lee0c Thank you for the feedback.We will work on it and will keep you updated on the thread

[2021-09-11 04:34] psmanhas commented on #80926
@fabiansald Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-11 04:44] psmanhas commented on #80927
@shalinid25 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-11 04:47] psmanhas commented on #80930
@x509cert Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-11 04:49] psmanhas commented on #80930
@roygara Can you please check and add your comments on this doc update request as applicable

[2021-09-11 04:52] psmanhas commented on #80929
@x509cert Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-11 06:28] ggailey777 commented on #80354
@kwill-MSFT thanks for letting us know about this bad link.

[2021-09-11 06:32] ggailey777 commented on #79799
reassign:anthonychu

[2021-09-11 06:33] ggailey777 commented on #79799
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/12943
#please-close

[2021-09-11 06:33] #79799 closed

[2021-09-11 06:34] ggailey777 commented on #77746
#please-close

[2021-09-11 06:34] #77746 closed

[2021-09-11 06:38] ggailey777 commented on #77574
There is no "Azure Functions 5" and this article doesn't mention `host start --port`. If you have created this comment from the wrong article, please reopen it from the correct article. #please-close

[2021-09-11 06:38] #77574 closed

[2021-09-11 06:40] #80354 closed

[2021-09-11 06:47] ggailey777 commented on #79210
@melzayet you are correct that you can run a custom Linux container on a Premium plan. I'll update the table accordingly. Thanks for reporting this bug to us so that we can get it fixed!

[2021-09-11 06:56] psmitt opened #80931 "Unclear information about off-peak time behavior"
Please clarify the off-peak time behaviour (scaling in of VMs), because the following questions are not clear:

- What is the exact trigger to decide how many VMs should be stopped?
- How is decided/selected which VMs could be stopped out of the running ones?

Please explain the next specific example:
- We are in off-peak time.
- There are 100 VMs up and running: 2 sessions on 8 VMs, 1 session on

[2021-09-11 07:09] #79210 closed

[2021-09-11 08:24] michiproep commented on #45285
Hi @rwike77 ,
I actually cannot get it to work even if I create a custom signing key (powershell New-AzureADApplicationKeyCredential). My tokens still include a <kid> which does not match any of the listed keys within the jwk_uri, no matter if I got with or without ...well-known...?appid=<guid>
Any ideas?

[2021-09-11 11:42] jamesaepp opened #80932 "Typo "Microosft""
"Microosft Edge based on Chromium"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso)

[2021-09-11 13:33] psmanhas commented on #80931
@psmitt Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-11 13:38] psmanhas commented on #80932
@jamesaepp The document is updated and changes will go live soon.

[2021-09-11 13:47] psmanhas commented on #80707
@manjzu The correct article for edition change is this one [In-place change of SQL Server edition - SQL Server on Azure VM | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-sql%2Fvirtual-machines%2Fwindows%2Fchange-sql-server-edition&data=04%7C01%7CPreeti.Manhas%40microsoft.com%7C3be97950ca5046980b0308d97313c0b3%7C72f988b

[2021-09-11 13:47] #80707 closed

[2021-09-11 13:48] psmanhas commented on #80852
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-09-11 13:50] psmanhas commented on #80854
@rdeltcheva Can you please check and add your comments on this doc update request as applicable

[2021-09-11 13:50] HUBBER12 commented on #80156
Please update documentation Warning/Note:    Static Web Apps do not work with GoDaddy Domains

- Was able to add a subdomain just fine.
- Cannot add a root domain  DNS Records

Documentation Options Tried

Option 1: A Record

- **Documentation:** asks to create an Alias/A Record with a website address...
- **Problem:** Go Daddy forces to use IP Address, cannot add the Azure Static Web App URL.
- *

[2021-09-11 13:56] #80932 closed

[2021-09-11 14:35] andriysavin commented on #37452
Thanks!

[2021-09-11 15:47] anaraju opened #80933 "Incorrect answer in FAQ"
How many endpoints are returned when MultiValue routing is used?

The FAQ answer has "The maximum possible value for this configuration is 10." In reality only 8 values are allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9522edc-ac04-6c89-e061-59fa788e28ed
* Version Independent ID: 4cafaeee-5b0a-7f50-7c71-a8c3

[2021-09-11 16:13] vmh32 opened #80934 "Typo: extra word"
Where it says: "
![image](https://user-images.githubusercontent.com/14186196/132954259-6ae0b88d-ddbb-46d7-a6fc-0ab3bda5dfe1.png)
"

makes no sense it should say

![image](https://user-images.githubusercontent.com/14186196/132954281-bcc46425-ca01-4b01-a3c0-a3924fc97f1a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-11 16:22] 18127180 opened #80935 "I can not see Create Python Model pill in classic Azure Machine Learning"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e02a02-3642-ed25-4922-37e4d9347a37
* Version Independent ID: bc7e6a25-de32-a442-5074-214dd6c9ac3d
* Content: [Create Python Model: Module reference - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-re

[2021-09-11 18:08] jodalANP opened #80936 "Japanese version of this page has a bad powershell command"
https://docs.microsoft.com/ja-jp/azure/load-balancer/upgrade-basic-standard

Japanese version of the page has an incorrect command listed for powershell.
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/88206614/132957165-75fb9826-f6fc-45c9-bd13-e550244d6e7e.png)
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/88206614/132957166-04bbacab-a0c5-415a-8b15-ef

[2021-09-11 20:39] rudolphjacksonm commented on #80482
Hi @ecfan , thanks for replying to this. A few questions if I may:

1. Is there a plan for Standard SKU logic apps to support user-assigned identities in future?
2. Can the plan be changed after the Logic App has been created?
3. Does the Azure API expose a way of determining what plan the Logic App should use? It doesn't look like Terraform supports this at present, so I'll need to raise this ove

[2021-09-11 21:26] #80734 closed

[2021-09-11 21:57] ElanShudnow opened #80937 "Turn off Security Center Defender to turn off automatic Provisioning?"
Looking at this section:
How do I stop the automatic agent installation and workspace creation?

It recommends to turn off Azure Security Center Defender in order to turn off automatic provisioning?  Then just under, in the section, "What are the recommended steps when opting out of automatic provisioning?" it shows Azure Defender being on.

This is thoroughly confusing and contradictory.

I don't

[2021-09-12 01:23] YutongTie-MSFT commented on #80933
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-12 01:24] YutongTie-MSFT commented on #80935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-12 01:25] YutongTie-MSFT commented on #80934
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-12 02:44] AnwarPaaSCSS commented on #78598
![image](https://user-images.githubusercontent.com/81920906/132969716-9a5780b0-1fa7-43d0-b9fa-85ba272ea6fe.png)
https://www.postgresql.org/docs/9.6/app-pgdump.html#PG-DUMP-EXAMPLES

[2021-09-12 03:34] musicjunkieg commented on #80198
@mattmccleary any updates on this or thoughts?

[2021-09-12 04:55] BhargaviAnnadevara-MSFT commented on #80937
@ElanShudnow Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-12 04:59] psmanhas commented on #80936
@jodalANP Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-12 05:01] psmanhas commented on #80936
@irenehua Can you please check and add your comments on this doc update request as applicable

[2021-09-12 06:49] ladykraken opened #80942 "Cookie Notice"

[2021-09-12 07:44] BhargaviAnnadevara-MSFT commented on #80942
@ladykraken Thank you for the question. In order to best address your question, could you please elaborate your feedback and provide us with the URL of the MS Doc that you were following, if any?

[2021-09-12 07:53] ladykraken commented on #80942
- [https://cloud.google.com/free]
- [ Lady@connectioncentre.onmicrosoft.com]
- [pharandemanuelle2608@gmail.com]

[2021-09-12 08:13] yoelhor commented on #80898
Thanks for your feedback, we are working on the custom policy part of the document. A new version will be published soon.

[2021-09-12 08:25] #80896 closed

[2021-09-12 08:43] jodysimkins commented on #80889
Please disregard. I used SSMS to do the import. Seems to have worked.
Thank you

From: BharathNimmala-MSFT ***@***.***>
Sent: Friday, September 10, 2021 10:42 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: jodysimkins ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Import option featured on this page gone? (#80889)

@jodysimkins<https://na01.safelinks.protection.outloo

[2021-09-12 08:45] aryanmalguri98 commented on #27324
@hansenms Hello sir, hope you are doing fine. I've got past this authentication error in postman but when I tried the with azure api management service I got the same error

`HTTP/1.1 401 Unauthorized
content-type: application/fhir+json; charset=utf-8
date: Sun, 12 Sep 2021 08:32:03 GMT
ocp-apim-apiid: get-info
ocp-apim-operationid: info
ocp-apim-subscriptionid: master
ocp-apim-trace-location: htt

[2021-09-12 11:26] stweb1963 opened #80943 "Should be tagged to Windows and Linux"
[Enter feedback here]

The doc says it only applies to linux but it's obvious that it is for both windows and linux
The uri also has linux in the name

This should be updated to indicate it also supports Windows VMs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-ea67a0350718
* Version Independen

[2021-09-12 13:18] ragazzojp opened #80944 "Can't configure MS repository on Debian 10 as instructed"
On a WSL2 Debian 10, it seems the suggested command to configure the repository for local development does not work:

[code]

`lsb_release` is not available on the WSL2 Debian 10 I'm using. I'd try to parse the `/etc/debian_version` file to get the major Debian version.

Please see (old but still valid): https://serverfault.com/questions/476485/do-some-debian-builds-not-have-lsb-release

Please al

[2021-09-12 13:38] parkybyang opened #80945 "stepwise"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e
* Content: [Use Azure Service Bus topics and subscriptions with Java (azure-messaging-servicebus) - Azure Service Bus](https://docs.microsoft.com/en-us

[2021-09-12 13:38] parkybyang commented on #80945
Exception in thread "main" java.lang.NoSuchMethodError: 'void com.azure.core.amqp.implementation.ConnectionOptions.<init>(java.lang.String, com.azure.core.credential.TokenCredential, com.azure.core.amqp.implementation.CbsAuthorizationType, com.azure.core.amqp.AmqpTransportType, com.azure.core.amqp.AmqpRetryOptions, com.azure.core.amqp.ProxyOptions, reactor.core.scheduler.Scheduler, com.azure.core.

[2021-09-12 13:39] psmanhas commented on #80943
@stweb1963 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-12 13:40] psmanhas commented on #80943
@kof-f Can you please check and add your comments on this doc update request as applicable

[2021-09-12 13:44] psmanhas commented on #80944
@ragazzojp Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-12 13:47] psmanhas commented on #80945
@parkybyang Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-12 14:40] kudlatiger opened #80946 "Expiration of the Baltimore Root CA"
As we are preparing for the upcoming expiration of the Baltimore Root CA, we would like to have some checklist or tools, which helps in successful migration. DO we have any test endpoint that can be used to test the migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f82e-b1a7-41cfa694fa58
* Version

[2021-09-12 15:57] thezedwards commented on #34167
howdy I came here to say that this domain used for password resets is totally ridiculous, much like all the folks here.

Microsoft has been told now by a TON of professionals that this Azure domain is not professional and that their end-users are confused about whether it's a phishing domain. The person who replied from Microsoft with a screenshot of a SSL certificate is ridiculous, seriously go e

[2021-09-12 16:27] tnlthanzeel opened #80947 "SendGrid not working"
seems like the version of the example in the documentation does not work with .NET 5. please review and update to .NET 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67219504-786d-cb28-da42-e36e227a1c8a
* Version Independent ID: 9faa4531-ad36-7fda-c9e5-415aa2c5a400
* Content: [Azure Functions SendGrid bindings](https

[2021-09-12 16:51] SenthuranSivananthan opened #80948 "DINE policy doesn't work when two different namespaces use the same groupId"
Azure Storage Table & Cosmos DB Tables use the same `groupId` value of `table`.  This creates a conflict when Azure Storage Table or Cosmos DB Table is created since DINE policy would run for private zones (one will succeed and the other will fail - based on what was actually created).

Recommend to improve the `if` condition so that it's more deterministic.  The only example I've been able to fin

[2021-09-12 20:58] shaneacton opened #80950 "Connection to workspace fails"
Reopening issue which has been ignored for the last 3 years.

Link to the issue which MS closed without fixing in 2018: https://github.com/MicrosoftDocs/azure-docs/issues/16837

When trying to connect to an Azure workspace using the Python SDK. Myself and many others are experiencing an issue.
First, the browser opens and asks us to log in. Then, upon success, we see "You have logged in. Now let u

[2021-09-12 23:51] SenthuranSivananthan opened #80953 "Private DNS Zones must be in the same subscription as AKS"
Looks like when Private DNS Zones are specified, the zone has be defined in the same subscription as AKS.  This breaks when there's a Hub & Spoke network topology where Hub subscription manages private dns zones.

If this is really not supported, then we need to get this documented on the page.

Steps to reproduce:

Hub Subscription

1.  Create private dns zone:  `privatelink.canadacentral.azmk8s.

[2021-09-13 01:04] promisinganuj opened #80955 "Incorrect Storage Role name "Storage Blob Contributor""
The role mentioned under "Step 4" should be "Storage Blob Data Contributor" and not "Storage Blob Contributor". This causes a great deal of confusion especially for users who are new to the role assignments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1149f92f-5b95-7b27-5525-db4f792d7937
* Version Independent ID: 60

[2021-09-13 01:10] pnarsi opened #80956 "Missing details of specific event logged via diagnostic logs"
The AWS equivalent of this Databricks audit log page actually lists the specific event types logged under each category as well as the related input parameters. For example for under the "account" category we have the following events:

![image](https://user-images.githubusercontent.com/7891408/133009902-e572d5e2-f2ca-47d6-9c1a-4ced5df6fb5f.png)

https://docs.databricks.com/administration-guide/ac

[2021-09-13 01:35] kenakamu commented on #79799
thanks for linking to duplicate but the linked one already closed without any change yet?

[2021-09-13 02:19] ram-msft commented on #80838
@marki555 Thanks, Can you please add more details Speech Containers service that you are trying.

[2021-09-13 02:36] ram-msft commented on #80838
Thanks, Please follow the below for logging for speech to text.

![image](https://user-images.githubusercontent.com/49180516/133015642-7d84e543-f616-40ce-a762-7473091372f7.png)

[2021-09-13 02:57] SubhashVasarapu-MSFT commented on #80948
@SenthuranSivananthan, Thanks for reaching out. We will investigate and update this thread.

[2021-09-13 03:06] CHEEKATLAPRADEEP-MSFT commented on #80955
@promisinganuj  Thanks for the feedback! We are investigating and will update you shortly.

[2021-09-13 03:07] CHEEKATLAPRADEEP-MSFT commented on #80956
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-13 03:13] VikasPullagura-MSFT commented on #80953
@SenthuranSivananthan
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-13 03:30] ram-msft commented on #80787
@jeremiedeveloper Thanks for the details. This is bug in the in create AKS cluster, We will investigate internally will update the same.
Please follow the arm template to Create a Private AKS Cluster.
https://azure.microsoft.com/en-us/resources/templates/201-machine-learning-private-ip/

[2021-09-13 03:36] RohitMungi-MSFT commented on #80732
@kjeske We will now proceed to close this thread. I think Azure cognitive search skill should help with your requirement.
Thanks!!

[2021-09-13 03:36] #80732 closed

[2021-09-13 04:10] SumanthMarigowda commented on #80667
@boskjoett  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-13 04:14] BhargaviAnnadevara-MSFT commented on #80946
@kudlatiger Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-13 04:22] SenthuranSivananthan commented on #80953
Thanks @VikasPullagura-MSFT.  I've been testing since opening this issue and this could be related to IAM propagation.

I created a User Assigned Managed Identity, let it sit for ~5 minutes and I'm now able to use it.  Originally, I waited just 1 or 2 minutes. Not sure if it was just bad timing or not.  I will test in parallel as well.

[2021-09-13 04:26] vipulsparsh commented on #80946
@kudlatiger There is no test Endpoint as such, you can check https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes#will-this-change-affect-me  more for checking other relevant things. Thanks.

[2021-09-13 04:28] VikasPullagura-MSFT commented on #80953
@SenthuranSivananthan Thanks for sharing the update. Please check and let us know if you are still seeing the issue.

[2021-09-13 04:28] SrijitBose-MSFT commented on #80953
@SenthuranSivananthan thank you for sharing this information. Indeed this is valuable. Please do let us know of results at your end. In the meanwhile, it is key that:

[[How-to guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#register-resource-provider)]

[2021-09-13 04:31] VikasPullagura-MSFT commented on #80953
@SrijitBose-MSFT Thanks for adding the details.

@SenthuranSivananthan
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-13 04:34] SrijitBose-MSFT commented on #80803
@mcavallo-work is there any update on this?

[2021-09-13 04:45] t-htsuchiya opened #80958 "Incorrect Minimum tumbling window trigger interval value"
I found the difference "Minimum tumbling window trigger interval value" in data factory between the two documents below.
And, I confirmed it in my azure data factory v2 environment. Then, 5 minutes seems to be the correct value.
It could be confusing. Please consider fixing the first document.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limi

[2021-09-13 04:46] MayankBargali-MSFT commented on #80947
@tnlthanzeel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-13 04:47] SnehaAgrawal-MSFT commented on #80679
@czmirek Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-09-13 04:47] AnuragSharma-MSFT commented on #80824
@haripraghash I was checking it and it looks we can change it through multiple ways. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-13 04:50] VitalyMCT opened #80959 "Status for Azure Automation seems to be out of date"
According to https://azure.microsoft.com/en-us/updates/azure-automation-private-link/, it's GA.

According to this page, it's still in Preview.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97849a4b-e79a-840e-8cfc-d43b0ea1dec3
* Version Independent ID: 6d224a2c-5e53-832a-ecd4-ae30fd472b76
* Content: [Azure Private Lin

[2021-09-13 04:52] CHEEKATLAPRADEEP-MSFT commented on #80955
@promisinganuj Thanks for pointing out the issue, This has been addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/172162](https://github.com/MicrosoftDocs/azure-docs-pr/pull/172162)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take communit

[2021-09-13 04:53] SenthuranSivananthan commented on #80953
@SrijitBose-MSFT To which resource scope would I need to apply the `vnet contributor` role?  I'm able to get a functioning AKS cluster w/ private dns zone in a separate subscription with just `private dns zone contributor` on the zone itself.

[2021-09-13 04:53] Svijay-msft commented on #80773
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-09-13 04:56] TammyMGI commented on #80827
@hpsin @nickgmicrosoft Would like to check whether to have any update on this issue please ?

[2021-09-13 05:05] Svijay-msft commented on #80673
If possible, you could share the error. Also, if you need further assistance could you please create a support ticket for this issue. So that support engineer can take a deeper look into this to help.
Please Note, GitHub forum is specifically for logging document feedbacks or doc issues.
How to create support request: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create

[2021-09-13 05:07] SrijitBose-MSFT commented on #80953
@SenthuranSivananthan The `VNET Contributor` role mentioned earlier should be granted on the scope of the AKS cluster's virtual network. This is mostly important if you are using a _user assigned managed identity_ or a _service principal_ and deploying the AKS cluster in an existing virtual network.

[2021-09-13 05:08] davidjenkins commented on #50164
I was getting this same error message. As @DL444 mentioned, Azure CDN does not currently support ECDSA (Elliptical Curve) private keys. You must use RSA. If using Let's Encrypt certbot specify `--key-type rsa` when creating/renewing/updating your certificate.

[2021-09-13 05:09] algattik opened #80961 "Page title"
The page title "Java codeless application monitoring Azure Monitor Application Insights" is hard to understand.

"Java codeless application monitoring with Azure Monitor" might be better

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750f10f8-28b3-c30d-2475-0e5217a446dd
* Version Independent ID: 66562094-9524-c37a-e493

[2021-09-13 05:16] GitaraniSharma-MSFT commented on #80959
@VitalyMCT , thank you for the feedback. We'll review this and get back to you shortly!

[2021-09-13 05:22] SenthuranSivananthan commented on #80953
@SrijitBose-MSFT thanks!  this clarifies for me.

Is it possible to create a table on the page and list both roles & the scope each should be assigned to?

[2021-09-13 05:25] mokabiru commented on #80711
@cawrites - added PR #80962 to fix it

[2021-09-13 05:36] psmanhas commented on #80950
@shaneacton Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-13 06:02] AnuragSharma-MSFT commented on #80711
Thanks @mokabiru and @cawrites for creating the PR and making the changes.

@ingebeumer Please let us know if you have any further query.

[2021-09-13 06:10] VikasPullagura-MSFT commented on #80953
@SenthuranSivananthan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-13 06:11] VikasPullagura-MSFT commented on #80953
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-09-13 06:36] Sharmistha-Rai commented on #80837
@fearofweapons - If you use -1 in both variables, then you will the latest points for both time and type.

[2021-09-13 06:55] lightupdifire commented on #80892
@JamesTran-MSFT,
Thanks, with extra Delegated permissions, worked, but now we know which permissions are required, not sure if you think it is needed to add a note in this Doc to the permissions link https://docs.microsoft.com/en-us/graph/api/invitation-post?view=graph-rest-1.0&tabs=http
And it is strange, I can Invite using Applications permissions using PowerShell but cannot do exactly same but

[2021-09-13 06:56] LuHao-007 opened #80964 "Please check if your-tenant-name is right in the Authorized redirect URIs."
I am using the Microsoft identity provider to work with the Dynamics Portal via Azure AD B2C, followed this doc to create a Google application, in step#7, at c, I use a custom domain.
If I use `https://your-domain-name/your-tenant-name.onmicrosoft.com/oauth2/authresp` for Authorized redirect URIs, users login Portal, it authenticates the user OK but when it gets redirected back to the portal it gi

[2021-09-13 07:21] fearofweapons commented on #80837
My point was NOT that you were using -1 but that for one parameter you are using -1 and for the other 0. You have made a mistake. Both parameter values must be the same otherwise you will get the RecoveryPointType for one time and the actual time for a, potentially, different recovery point type.

In addition you are wrong when you say -1 gives you the latest value. See the snippet below; where no

[2021-09-13 07:30] SaiKishor-MSFT commented on #80850
@ehsf973
The Classic deployment model is the older generation Azure deployment model. It enforces a global vCPU quota limit for virtual machines and virtual machine scale sets. The Classic deployment model is no longer recommended, and is now superseded by the Resource Manager model.

To learn more about these two deployment models and the advantages of using Resource Manager, [see Resource Manage

[2021-09-13 07:31] SaiKishor-MSFT commented on #80914
@vhorne Can you please look into this?

[2021-09-13 07:32] Sharmistha-Rai commented on #80837
@fearofweapons - we do test these commands. This will be dependent on each user, as when I run the same command, I do get data with -1 also.

That's why we added a comment in the command saying "_The list of recovery points returned may not be sorted chronologically and will need to be sorted first, in order to be able to find the oldest or the latest recovery points for the virtual machine._"

Al

[2021-09-13 07:42] ElazarK commented on #80877
@sheridanharrison-msft After reviewing the document and comparing it to your comment, you are indeed correct and a correction has been made to the documentation. It will publish with the next build. Thank you for bringing this to our attention.

[2021-09-13 07:45] #80837 closed

[2021-09-13 08:04] shashishailaj commented on #34167
@thezedwards , My apologies for the delay on this on . Let me take this up internally again and I will update the thread once I have something concrete from the Product group .

[2021-09-13 08:15] KrishnaG-MSFT commented on #80961
@algattik Thanks for the question! We are investigating and will update you shortly.

[2021-09-13 08:24] ingebeumer commented on #80711
Thank you.

[2021-09-13 08:24] PramodValavala-MSFT commented on #80778
@blockingHD the intention here is to show how the policy can be used for pre-flight requests and not necessarily define them.

[2021-09-13 08:27] AlbertoPa opened #80965 "Provide more representative examples"
Typical MPI applications are not a self-contained executable like the "Hello World" example.  They usually need to set environment variables through bash scripts that must be executed on all the nodes to define the environment, before the actual mpirun instruction is issued on the head node. An example of how this can be achieved would simplify the setup of realistic cases. This because the coordi

[2021-09-13 08:50] LotteVoorhorst commented on #19456
Please reopen this ticket!

[2021-09-13 09:05] xingqiri commented on #80400
Thanks for reply. Any update so far?

[2021-09-13 09:18] hichamveo opened #80966 "DotLiquid version"
it will be helpful to share the used version of DotLiquid used by Logic Apps, a lot of features added to DotLiquid but still not yet supported on Logic Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a474
* Content: [Con

[2021-09-13 09:22] VikasPullagura-MSFT commented on #80965
@AlbertoPa
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-13 09:23] VikasPullagura-MSFT commented on #80965
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2021-09-13 09:31] housebeee opened #80967 "information about the ANF support process"
Hi,

Where can I find how to create a support case in case ANF issues occur. It's a microsoft product, however perhaps a reference to the support process (How to open a case, MTTR? severities? How to escalate? etc) or any mentioning of anomalies would be helpful.

Kind regards, Guido

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-09-13 09:32] cindyweng opened #80968 "What dataset is this demo using? And is there an associated training.py file?"
A customer has asked for an end-to-end demo of a machine learning pipeline using managed endpoints, but in the example on this page, it isn't clear how the model .pkl is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a852f927-cbbd-634a-d81e-78359d539ee3
* Version Independent ID: 0af3f631-2669-38a9-9b17-fe5e989

[2021-09-13 10:00] #80673 closed

[2021-09-13 10:18] CHEEKATLAPRADEEP-MSFT commented on #80958
@t-htsuchiya  Thanks for the feedback! We are investigating and will update you shortly.

[2021-09-13 10:20] sidprasher opened #80969 "Comparison with PLE"
I am trying to understand the difference between PLE and PLS. My understanding is that these are 2 capabilities under the Private link service.

 - All (or most) PaaS services support the use of PLE for network isolation (including support for cross tenant access)
 - I understand that PLS requires the service to be running behind a Standard Load Balancer with VMs only in the backend pool

Is this

[2021-09-13 10:45] AnuragSharma-MSFT commented on #80870
@satyajitcet Transactions aren't supported because of distributed nature of the system. Configure appropriate consistency model on Gremlin account to "read your own writes" and use optimistic concurrency to resolve conflicting writes. Please refer to below article for more details:

[Unsupported features](https://docs.microsoft.com/en-us/azure/cosmos-db/graph/gremlin-support#unsupported-features)

[2021-09-13 10:46] AnuragSharma-MSFT commented on #80889
@jodysimkins Thanks for confirming. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-13 10:46] #80889 closed

[2021-09-13 10:47] leogzyl opened #80970 "Error in path during runner script"
[Enter feedback here]
I received an error during the lauching of the script saying that the directory ending in "src/src/" was not found.
I managed to complete the exercise by changing the contents of the runner script to this:
config = ScriptRunConfig(source_directory='.'
instead of this:
config = ScriptRunConfig(source_directory='./src'

--- EDIT----
I just realized I created the runner file ins

[2021-09-13 11:25] jovasco opened #80971 "OneSpan Device has USB but no Biometrics"
In the list of Security Keys, the OneSpan device does not have any biometrics but it does have USB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory passwordless sign-in](https://docs.mic

[2021-09-13 11:32] MayankBargali-MSFT commented on #80966
@hichamveo Thank you for your feedback! I will work with @divyaswarnkar how best we can update our document with the current supported DotLiquid version in logic app.

[2021-09-13 11:33] dkershaw10 opened #80972 "Page refers to Microsoft Graph beta, when it shouldn't"
The page refers to Microsoft Graph beta to find out the time of the Group's expiration date.  However, this property (on the Group resource) is GA (i.e. in v1.0).  Please update the page and any links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f6bab9a9

[2021-09-13 11:37] RohitG92 commented on #80413
@SaiKishor-MSFT - As requested email has been sent. Please let me know if anything else is required to do.

[2021-09-13 11:56] tomi-kr commented on #20701
Is there a workaround for this? We really need wildcard support for the CDN subdomains.

[2021-09-13 12:02] #80970 closed

[2021-09-13 12:10] jenswachtel commented on #80914
Hey,

Sorry, it's in the docs, but maybe it helps to link it. Btw. I really like
azure's documentation!
Quote: "
As discussed over the call, the WAF exclusions limits is 40. You can
confirm this on this documentation that shows the limits on WAF features:

azure-docs/application-gateway-limits.md at master ·
MicrosoftDocs/azure-docs · GitHub
<https://github.com/MicrosoftDocs/azure-docs/blob/master

[2021-09-13 12:30] AjayKumar-MSFT commented on #80727
@jsandersrocks, As discussed offline, the requested changes have been submitted and the PR is merge. The doc will reflect the changes shortly. Once again, thanks for taking time to share your feedback.

[2021-09-13 12:30] #80727 closed

[2021-09-13 12:46] Vidarls opened #80975 "Python durable functions now support reading entity state. Documentation states it is not possible."
Currently the section on reading entity state reads as follows:

With the current version of `azure-functions-durable` (`1.1.0`)  the `client.read_state(...)` function is available on the `DurableOrchestrationClient` and a possible sample could be like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e121

[2021-09-13 13:05] JackCaster commented on #80904
I think I am getting closer to what I want.

If in `setting.json` I set `"azureFunctions.pythonVenv": "~/miniconda3"`, then when I press F5 this will be excuted:
[code]
which means that the `base` conda environment will be used. What I'd need is to execute this instead:
[code]
Do you know how I can achieve that? I tried with setting an additional task into `task.json` without avail.

Also, I notic

[2021-09-13 13:17] ram-msft commented on #80695
@vishutyagi000 Thanks for the feedback. Can you please add more details about the schedule that you are trying. we've observed that only user who created compute instance can schedule shut-downs.
auto shutdown that only admin or user assigned to compute can update the schedule.

[2021-09-13 13:35] modios opened #80976 "Extra set of value to imageName variable or typo?"
In the Set variables section the imageName variable is defined two times.
First it has the value myWinBuilderImage and a few lines later is set to aibWinImage.
The comment is "# Name for the image" and then
"# name of the image to be created"
Is that correct, a typo or one of them should be removed?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-09-13 13:38] ram-msft commented on #80968
@cindyweng Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-13 13:43] aholler2 opened #80977 "Typo"
North Central: US 52.162.105.9

**should be**

North Central US: 52.162.105.9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36fc6a4-489e-47c5-2882-1f043f751e7b
* Version Independent ID: d2402e71-a346-5c9e-5b6b-c76ccf283b54
* Content: [Gateway traffic migration notice - Azure SQL Database](https://docs.microsoft.com/e

[2021-09-13 14:09] #80776 closed

[2021-09-13 14:23] GiftA-MSFT commented on #80970
@leogzyl thanks for your feedback and updates.

[2021-09-13 14:28] bartvermeersch opened #80980 "Required Azure AD role is missing"
Which minimum role is needed for resetting the redemption status?

Guest inviter doesn't seem to do the trick.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6197673d-42dc-8dd9-94d4-269b9066af42
* Version Independent ID: 668f3147-4559-f145-0dcc-8fec8c21a0f3
* Content: [Reset a guest user's redemption status - Azure AD]

[2021-09-13 14:30] MarileeTurscak-MSFT commented on #80980
@bartvermeersch
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-13 14:32] TrivialK opened #80981 "Info not up-to-date."
StackExchange.Redis.StrongName deprecated. Info not up-to-date i guess?

"If your project is using the non-strong-named StackExchange.Redis version you must uninstall it, otherwise you get naming conflicts in your project. For more information about these packages, see Configure .NET cache clients."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-09-13 14:35] #80045 closed

[2021-09-13 14:38] marcelkmfst opened #80983 "New NCT4 series not included"
The new NCT4 series also supports the GRID driver but the article says:

The GRID drivers redistributed by Azure do not work on non-NV series VMs like NC, NCv2, NCv3, ND, and NDv2-series VMs.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-

[2021-09-13 14:39] #80818 closed

[2021-09-13 14:48] #80857 closed

[2021-09-13 14:56] jlian commented on #78685
Sorry, you'd have to use connection string like before or set up routing:

![image](https://user-images.githubusercontent.com/2320572/133107008-a732c4c4-95b0-42bf-8a6e-6da2eb4df0c9.png)

[2021-09-13 14:57] DavidMarquezF commented on #17901
I've found myself in the situation of wanting to share the disk with multiple pods where each pod handles a different directory. The informationof the docs has made me loose a lot of hours trying to find a way to achieve the same behavior (in order to not have a ton of disks) in the same pod (multiple containers in a single pod, etc).

It would be really good if the documentation was clearer like

[2021-09-13 15:13] YutongTie-MSFT commented on #80709
@timoklimmer Hello Timo, I have forwarded this issue to the author for updating. Thanks for your feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-13 15:13] #80709 closed

[2021-09-13 15:13] chrisadkin-zz opened #80985 "extension creation failing, different command recommended in the error message"
I ran the following command on Linux:

az k8s-extension create -c ${resourceName} -g ${resourceGroup} --name ${ADSExtensionName} --cluster-type connectedClusters --extension-type microsoft.arcdataservices --auto-upgrade false --scope cluster --release-namespace arc --config Microsoft.CustomLocation.ServiceAccount=sa-bootstrapper

this failed with following message:

Command group 'k8s-extension' i

[2021-09-13 15:16] #80967 closed

[2021-09-13 15:30] YutongTie-MSFT commented on #80749
@PatrickFarley Hello Patrick, this is very unclear to customer. I can see there is a Prediction-Key in custom portal as well. Could you please make this more understandable to customer? Thanks a lot.

[2021-09-13 15:30] shashishailaj commented on #80964
@LuHao-007 Thank you for your feedback . We will investigate and update the thread.

[2021-09-13 15:31] YutongTie-MSFT commented on #80919
@mrbullwinkle Thanks a lot for the quick action.

@esb797
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-13 15:31] #80919 closed

[2021-09-13 15:32] shashishailaj commented on #80971
@jovasco Thank you for sharing the information . We will get this reviewed internally and engage the content team to make changes after review.

[2021-09-13 15:34] SamaraSoucy-MSFT commented on #80490
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-13 15:34] #80490 closed

[2021-09-13 15:34] shashishailaj commented on #80972
@dkershaw10 Thank you for your inputs . We will have this reviewed and update the thread.

[2021-09-13 15:36] mike-urnun-msft commented on #80975
Hello @Vidarls - Thank you for your feedback! We will review and update as appropriate.

[2021-09-13 15:40] ncinel opened #80986 "Wrong tutorial steps"
looks to me that the ogic app action "Get messages from a topic subscription (peek-lock)"
does not exists anymore, invalidating several steps.
The only option I see it's ti change the trigger to "When messages are available in a topic subscription"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de93e314-ae26-29c3-1594-

[2021-09-13 15:41] aseminjakiw commented on #78685
Thank you very much for the clarification.

[2021-09-13 15:41] jlian commented on #55813
Sorry, there is no ETA. Currently the workaround with an additional Event Hub as you mentioned would be best for your security.

[2021-09-13 15:44] aseminjakiw commented on #55813
Thank you for the clarification.

[2021-09-13 15:51] shaneacton commented on #80950
@psmanhas Thank you!

[2021-09-13 15:53] AnuragSharma-MSFT commented on #80977
@aholler2 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-13 15:54] AnuragSharma-MSFT commented on #80981
@TrivialK Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-13 15:57] MicrosoftGuyJFlo commented on #80685
#reassign: @MicrosoftGuyJFlo

[2021-09-13 15:58] MicrosoftGuyJFlo commented on #80699
#reassign: @MicrosoftGuyJFlo

[2021-09-13 15:58] MicrosoftGuyJFlo commented on #80624
#reassign: @MicrosoftGuyJFlo

[2021-09-13 15:58] MicrosoftGuyJFlo commented on #80485
#reassign: @MicrosoftGuyJFlo

[2021-09-13 16:00] amsliu commented on #78978
@ashkickindevelopment Thank you for your feedback! I have incorporated this change to the roles in the documentation.
You can view this change in this pull request: MicrosoftDocs/azure-docs-pr#167276. If you have any other questions, please let us know, otherwise I'm closing this pull request. #please-close

[2021-09-13 16:00] #78978 closed

[2021-09-13 16:05] BhargaviAnnadevara-MSFT commented on #80776
@Floriszz Thank you for the feedback. The change to fix this is merged internally and will go-live in the public docs shortly.

[2021-09-13 16:23] shashishailaj commented on #80972
@curtand  Could you please help review the section at https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-lifecycle#how-to-retrieve-microsoft-365-group-expiration-date ?

[2021-09-13 16:27] OranguTech opened #80987 ""Recommended Content" lists same item twice"
Hase two identical entries to the Az.Sql powershell module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 052ba85d-cc93-5de7-4aa6-1d1df4b9eda7
* Version Independent ID: 2a6edae1-13c7-ef95-bf43-6de8a0cb5197
* Content: [Azure PowerShell script examples - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-s

[2021-09-13 16:30] Cristiano-Rosa opened #80988 "Helm 3.6.3 unknown command "init" for "helm""
Reference Page: https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new#install-helm

I get the following error when I try to run the below commands:

kubectl create serviceaccount --namespace kube-system tiller-sa
serviceaccount/tiller-sa created

kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller

[2021-09-13 16:42] himanshusinha-msft commented on #80708
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.
@julieMSFT : Can you please help and assign this to the correct author ?

[2021-09-13 16:44] BustosMSFT commented on #65705
@YanumVlad in the case of Geo-Replication for Azure SQL you can choose a pair region or any other region to deploy a replica.
You can deploy up to 4 replicas ( in 4 different regions if needed).
Also with Chaining (you can create secondary of a secondary) you can achieve unlimited number of database replicas in multiple regions.
#please-close

[2021-09-13 16:44] #65705 closed

[2021-09-13 16:46] justinmchase opened #80989 "Why is `jettech/kube-webhook-certgen` in the nginx ingress controller example?"
It would be nice to explain why `jettech/kube-webhook-certgen` is necessary for the nginx ingress controller example.

It is not clear at all why it's necessary, and it seems like a security risk. Here it just blindly says to install it with no explanation why, going to look up documentation on the image is very technical and without a much deeper knowledge of what its doing I have no idea why I'd

[2021-09-13 16:47] SenthuranSivananthan opened #80990 "Private Dns Zone for Azure Site Recovery"
Looks like the Private Dns Zone for ASR should be `privatelink.siterecovery.windowsazure.com`.  The doc states `{region}.privatelink.siterecovery.windowsazure.com`

Can you help verify which is the correct zone name?

Example from Azure Portal
![image](https://user-images.githubusercontent.com/16688027/133124007-0723db08-442a-48d5-bd4c-1348e74944ae.png)

---
#### Document Details

⚠ *Do not edit t

[2021-09-13 16:47] amanmcse commented on #80526
@skrabbe001 I spoke to the product group regarding this and got a confirmation that it is in their backlog. However, there is no ETA as of now. If this is a blocker for you, you may consider opening a CRI via support to prioritize it but a hard timeline cannot be provided as of now.

I didn't find the statement "If you are using the authorization code flow, disable the implicit grant settings." in

[2021-09-13 16:52] 01 opened #80991 "Expectation of timeline for Azure PubSub service GA release"
Looking to determine if there is any expected timeline for the GA release of this service.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5510a25f-3329-56aa-6f6d-f6068090413a
* Version Independent ID: 31650e01-1730-710d-c7e4-7852b80fd01d
* Content: [What is Azure Web PubSub service?](https://docs.microsoft.com/en-us/azure/azure-web-pubsub/overvi

[2021-09-13 17:00] YutongTie-MSFT commented on #80950
@shaneacton Hello, sorry for your experience. Since this forum is public, I did ask subscription ID for investigation and help by send email to us. I highly recommend you to raise a support ticket during we and product team investigating this issue due to highly impact. Please let me know if you have no support plan can not create a support ticket, I could enable a free one for this issue. Thanks

[2021-09-13 17:01] ecfan commented on #80482
Adding a few engineering team members to help with questions: @Bec-Lyons & @sonalipai

[2021-09-13 17:05] BustosMSFT commented on #61023
Hi @hnst-grl123 The potential data loss is known as Recovery point objective (RPO) is 5sec.
Replication is asynchronous and continuous, with latency up to 5 seconds.
For more details:
https://docs.microsoft.com/en-us/azure/azure-sql/database/business-continuity-high-availability-disaster-recover-hadr-overview
#please-close

[2021-09-13 17:05] #61023 closed

[2021-09-13 17:05] SaiKishor-MSFT commented on #80969
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-13 17:05] BustosMSFT commented on #61023
Hi @hnst-grl123 The potential data loss is known as Recovery point objective (RPO) is 5sec.
Replication is asynchronous and continuous, with latency up to 5 seconds.
For more details:
https://docs.microsoft.com/en-us/azure/azure-sql/database/business-continuity-high-availability-disaster-recover-hadr-overview
#please-close

[2021-09-13 17:06] SaiKishor-MSFT commented on #80990
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-13 17:07] BhargaviAnnadevara-MSFT commented on #80942
@ladykraken We will now proceed to close this thread, feel free to open a new issue providing actionable feedback if you are suggesting to improve the [Azure documentation](https://docs.microsoft.com/azure).

[2021-09-13 17:07] #80942 closed

[2021-09-13 17:12] sumeetmittal commented on #80969
These are 2 different resources for Private Link.. PE is resource for consumer side whereas PLS is the resource for service provider..  PE is needed to consume both PaaS and PLS (private link service)

[2021-09-13 17:14] MonikaReddy-MSFT commented on #80829
@jjindrich -We haven't announced any feature for VM insights health to monitor a Windows service.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-13 17:14] #80829 closed

[2021-09-13 17:26] julieMSFT commented on #71708
#please-close.

[2021-09-13 17:26] #71708 closed

[2021-09-13 17:27] sumeetmittal commented on #80969
#please-close

[2021-09-13 17:27] #80969 closed

[2021-09-13 17:32] JamesTran-MSFT commented on #79760
@ii-batman
Thank you for working with me on your [Q&A post](https://docs.microsoft.com/en-us/answers/questions/510050/index.html)!

I received a response from our engineering team and "there wont be any problems having proxy & PTA agent on the same server."

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-09-13 17:35] sergey-ivanchuk commented on #80091
I'm experiencing the same issue. RSS feed is not updating for  https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes via `https://docs.microsoft.com/api/search/rss?search=%22Azure+machine+learning+release+notes%22&locale=en-us`

I'm using Feed Reader - https://chrome.google.com/webstore/detail/rss-feed-reader/pnjaodmkngahhkoihejjehlcdlnohgmp?hl=en

[2021-09-13 17:39] duongau commented on #55648
@joaomoreno I have checked with our PG team and they have confirmed with me that cached content may still get evicted if they're not requested as frequently to make room for more frequently requested content. We will be adding that to the note in the Cache behavior section: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-behavior-and-duration. Please let me know if you ha

[2021-09-13 17:44] Jeff-Jerousek opened #80993 "Please start updating the pubDate to allow RSS readers to catch new builds for version history pages"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-agent-versions

Please start updating the pubDate to allow RSS readers to catch new builds. Currently at 11/21/2019 but the last version update was 6/4/2021

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2021-09-13 17:46] CelesteDG commented on #80895
#reassign:@omondiatieno

[2021-09-13 17:47] linkhp commented on #78870
Hi @lightupdifire,

Today there is no way to convert an MSA account login to OTP login, as we do not support disabling MSA. If disabling MSA is supported in the future, then you can convert logins by disabling MSA and enabling OTP, then re-inviting the guest in as OTP login.

If you close the MSA account and invite the user while making sure OTP is enabled in your tenant, then yes they can be chan

[2021-09-13 17:56] JamesTran-MSFT commented on #80993
@Jeff-Jerousek
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-13 18:00] Oury-MSFT commented on #80987
@OranguTech Could you please specify what the request is ? Thanks

[2021-09-13 18:01] #80850 closed

[2021-09-13 18:01] OranguTech commented on #80987
Remove the duplicate entry...?

[2021-09-13 18:05] HemantiDeoli opened #80994 "Screen shots are not correct, showing blob storage connector instead of dynamics crm connector. thanks"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/79183421/133188229-d0a46808-1ba6-4513-98f0-d5860326e486.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data in Dynamics (Micr

[2021-09-13 18:11] ChaitanyaNaykodi-MSFT commented on #80796
Hello @wbplomp, Thank you for reaching out.
1. The limitation mentioned in the document is still valid. You can find the limitation mentioned [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-dns-limits) as well. . The number of Private DNS zones  a virtual network can get linked to with auto-registration enabled is One.
![image

[2021-09-13 18:11] #80796 closed

[2021-09-13 18:18] cynthn commented on #80976
I've created a pull request to remove the extra declaration. Thanks for the feedback! :)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/172228

#assign @cynthn

#please-close

[2021-09-13 18:18] #80976 closed

[2021-09-13 18:21] ChaitanyaNaykodi-MSFT commented on #80988
Hello @Cristiano-Rosa
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-13 18:26] cgillum commented on #80975
/cc @davidmrdavid

[2021-09-13 18:29] BryanTrach-MSFT commented on #80991
@01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-13 18:42] alfreema opened #80995 "Example fails to run properly"
I am stepping through this documentation fairly carefully, and when I get to this section:

https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-node#change-the-code-and-redeploy-to-azure

I am getting a 400 error when I try to run it locally, because req.query is an empty object {}, (and therefore neither name or sport gets set so it sends back a 400).   It doesn't

[2021-09-13 18:45] skrabbe001 commented on #80526
Dear Amanspreet Sing:

Why we are using Azure B2C (trying to use):

    We use B2C to let Azure handle authentication for azure, microsoft, facebook and google accounts.

AmanspreetSing wrote:

The message you are looking at, is where I end up, when I complete the step “Register the client app (TodoListClient-aspnetcore-webapi) “ (when you follow the tutorial, that this thread is about):

[2021-09-13 18:51] skrabbe001 commented on #80526
Dear AmanspreetSingh.

Sorry for the frustration displayed in my mail to you. I am just so irritated, that I can’t keep my cool.

Sincerely,
Stefan

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Monday, September 13, 2021 6:48 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Stefan Krabbe ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The AADB2C samples and guides use Im

[2021-09-13 18:51] #80918 closed

[2021-09-13 18:58] BryanTrach-MSFT commented on #80991
@01 We have completed our research and wanted to share the below update with you.

As of right now, GA dates are only shared with the public via the Azure Roadmap site, which can be found [here](https://azure.microsoft.com/updates/). As of right now, there is not a publicly shared GA date.

With that being said, the team is working hard on launching the service and reaching the GA milestone.

Most

[2021-09-13 18:58] #80991 closed

[2021-09-13 18:59] JamesTran-MSFT commented on #80892
@lightupdifire
Thank you for the quick response, and I'm glad that we were able to work together and resolve your issue! I created a PR to update the documentation and it's currently waiting for the author to review and sign off.

If you have any other questions, please let me know. Otherwise, I'll close out this issue at the end of the day.

Please allow some time for the author to review and the

[2021-09-13 19:23] julieMSFT commented on #75403
#assign:liudan66

[2021-09-13 19:24] julieMSFT commented on #75580
#assign:liudan66

[2021-09-13 19:25] #80923 closed

[2021-09-13 19:25] julieMSFT commented on #79935
#assign:nanditavalsan

[2021-09-13 19:30] julieMSFT commented on #79299
#please-close

[2021-09-13 19:30] #79299 closed

[2021-09-13 19:32] julieMSFT commented on #75175
#assign:liudan66

[2021-09-13 19:39] julieMSFT commented on #80708
#reassign:ashinMSFT

[2021-09-13 19:39] PRMerger18 commented on #80708
ashinMSFT is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-09-13 19:43] julieMSFT commented on #80383
#reassign:julieMSFT

[2021-09-13 20:07] VShrubowich opened #80997 "Error code AADSTS90095 is missing"
Error code AADSTS90095 is not listed.

Looking at a user's sign-in logs, the entry showed the following:

It gave me the option to "Launch the Sign-in Diagnostic".  The diagnostic returned the following under "Signin Error Details":

The "More details on this topic" was a link to this page.

After doing some troubleshooting myself, I realized that this was due to the user not having access to an a

[2021-09-13 20:09] MonikaReddy-MSFT commented on #80985
chrisadkin - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-13 20:10] spam0115 opened #80998 "url with keys doesn't work"
The url https://contoso.b2clogin.com/contoso.onmicrosoft.com/b2c_1_signupsignin1/discovery/v2.0/keys no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05bb7df-98fc-1342-640d-02063f6d8a11
* Version Independent ID: f6ac357f-f846-83c5-f19f-91e1bc0954e3
* Content: [Overview of tokens - Azure Active Directory

[2021-09-13 20:22] shaneacton commented on #80950
Hi there @YutongTie-MSFT  , thank you for the reply. Which email address can I use to send you my subsription ID?

And no, we do not have a support plan as far as I know. This does seem like a platform issue though since many before me have had the same problem. Unless we are all making a common mistake, in which case having a public record of what we did wrong will help people in the future. Also

[2021-09-13 20:39] Karishma-Tiwari-MSFT commented on #80736
@amjads1 Can you please help confirm on this? Thanks :)

The page claims in the Public Settings, resource ID in Metrics is only mandatory for JsonBlob, but it is also a requirement for Event hub. Refer to support ticket 2108240010000092 for confirmation. Please, add that it is required for EventHub as well.

[2021-09-13 20:46] dnethi commented on #80985
hey @chrisadkin - The main error here is the provider error. Can you confirm if the provider is registered?
https://aka.ms/RegisterKubernetesConfigurationProvider -- the very first step in this article.

[2021-09-13 20:50] mike-urnun-msft commented on #80995
Hello, @alfreema - Thank you for your feedback! It sounds like the condition defined in the chunk of code below is taking effect and keeps returning you the 400 response:

[code]
So the issue may be to do with how you're passing in the parameters in the request body. Could you elaborate on how you've gone about it? At the minimum, something like below in the Request Body along with specifying `app

[2021-09-13 20:55] msftradford commented on #80703
@eirikhanssensteria thanks for reaching out! That CloudSpatialAnchor.GetPose() extension method relies on SpatialAnchorManager and the SpatialAnchorManager must do extra work during after the CloudSpatialAnchorSession.AnchorLocated event to make the pose available. We will work on adding more detail to our docs page (#31481757).

[2021-09-13 21:05] chrisadkin commented on #80985
I think I may have caused some confusion by pasting some
incorrect information into the issue, I've re-reviewed what I have run and
the issue is this - when I run the command to create the extension, per the
documentation, I get asked to run a subtly different command for the
extension type of microsoft.servicemesh, two things; when I am only
interested in the arcdataservice extension why is the e

[2021-09-13 21:06] amsliu commented on #63178
@cnadler-MSFT Thank you for the feedback. I have reviewed your comments and performed a test in the Azure AD admin center using both groups and user administrator roles and was able to change the group type from assigned to dynamics and vice versa without errors. However, feel free to open a new request if you have any additional issues or concerns. I will be closing this issue now as there are no

[2021-09-13 21:06] #63178 closed

[2021-09-13 21:12] JamesTran-MSFT commented on #80997
@VShrubowich
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-13 21:12] b-juche commented on #80265
@liamfoneill - Content owner Ram (@ram-kakani) is still verifying.  Per Ram:

Let's move this discussion to email. If you need help connecting with Ram for further discussion, you can email me at b-juche@microsoft.com or julie.chen@netapp.com.  Thanks.

cc: @b-ahibbard

#please-close

[2021-09-13 21:12] #80265 closed

[2021-09-13 21:19] devopsjesus opened #80999 "RBAC Role/Rights required are not included in this page"
Hi, all, I'm noticing that Azure RBAC requirements are not included in most of the documentation for the Docs site. This has led to some frustration as my team attempts to deploy resources with least privilege to production environments.

For DSC Assignment specifically, am I simply missing the correct page or listing for RBAC for DSC configuration assignment?

---
#### Document Details

⚠ *Do not

[2021-09-13 21:22] JamesTran-MSFT commented on #80998
@spam0115
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-13 21:29] rwike77 commented on #79354
@drdamour  Hi, that's a good question.  The last paragraph of the [Scopes and permissions](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#scopes-and-permissions) section states:

_In requests to the authorization, token or consent endpoints for the Microsoft Identity platform, if the resource identifier is omitted in the scope parameter, the resource is

[2021-09-13 21:32] BustosMSFT commented on #73732
Hi @aasis21 for now you will need to create your own logic for the alert, we are considering adding the dm_geo_replication_link_status as a metric so in the future it can be used in azure monitor to set up alerts.
Regards
#please-close

[2021-09-13 21:32] #73732 closed

[2021-09-13 21:33] drdamour commented on #79354
@rwike77 that content was added after my issue was opened https://github.com/MicrosoftDocs/azure-docs/commit/c90196618b8a3d5dc983bdfc05c8f12e3e496538#diff-c1d9be0a3fa178117f429e3893afc974cc3ef83a15ea3f5b38d1264e3c01fef2 because of this related SO question https://stackoverflow.com/questions/68670914/why-can-i-use-the-short-name-with-some-permissions-scopes-on-microsoft-identit which prompted the a

[2021-09-13 21:33] Leonardo-Ferreira opened #81000 "Is there a Self-Service flow?"
Is there support for a self-service flow? Where the user registers at the developer portal, subscribes to products, gets the OAuth2.0 authorization token and starts to consume the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b60aa3-103e-5436-4f8b-2fc319c18167
* Version Independent ID: e2221805-7482-d426-5dba-c

[2021-09-13 21:37] ILemmon81 opened #81001 "Issues with Pipeline for Pause-Resume on SQL Dedicated Pool"
I've run through the tutorial to setup the pipeline outlined in the doc and when triggering the pipeline, I'm getting the following error:

Operation on target Get List failed: Error calling the endpoint

'https://management.azure.com/subscriptions/xxxxx/resourceGroups/xxxxxx/providers/Microsoft.Synapse/workspaces/xxxxx/sqlPools?api-version=2019-06-01-preview'.

Response status code: ''. More deta

[2021-09-13 21:40] MashaMSFT commented on #80987
Hi @orangutech, thanks for your feedback! My apologies, it's unclear to us what you're referring to that is duplicated. Can you please provide a screenshot of where you see duplication as it's not immediately evident to us?

Thanks!
Masha from the SQL Docs team

[2021-09-13 21:41] MashaMSFT commented on #80987
Oh, are you referring to this?
![image](https://user-images.githubusercontent.com/32783170/133160136-57e0485e-12bd-4169-a0e0-ecef11ac996a.png)

This is automatically generated, unfortunately we have no control over the behavior here. I will pass this feedback along to our team. However, since this is not a doc bug, I'll proceed with closing out this Git Issue.

Please feel free to comment should y

[2021-09-13 21:41] #80987 closed

[2021-09-13 21:43] MartinJaffer-MSFT commented on #80901
Thank you for your feedback. This has been assigned to the content owner, @mssaperla , and will be updated as appropriate.

[2021-09-13 21:43] shashankbarsin commented on #80985
@chrisadkin I checked the k8s-extension command below just now and it seems to be working fine:

[code]

Can you check the following and share details:
1. In the command you pasted above, looks like there may be a newline after --name parameter. If yes, I think that's causing the error `argument --name/-n: expected one argument`, in which case can you use the command I shared above instead without

[2021-09-13 21:47] cawrites commented on #80716
@dombat it appears an answer has been submitted with suggestions to address your question.
This article may be helpful to review as well.
https://docs.microsoft.com/en-us/sql/dma/dma-sku-recommend-sql-db?view=sql-server-ver15
Thank you for contacting Microsoft.

[2021-09-13 21:47] cawrites commented on #80716
#please-close

[2021-09-13 21:47] #80716 closed

[2021-09-13 21:49] rwike77 commented on #79354
@drdamour  Got it, glad you got the info through SO.  I just added the additional info, hope that helps.  It should publish live soon.  #please-close

[2021-09-13 21:49] #79354 closed

[2021-09-13 21:59] ormarketman opened #81004 "Why is this marked as deprecated without explainion"
Why is this marked as deprecated without explainion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure Storage Emulator for development and testing (deprecated)](https://docs.microsoft.com/en-us/azu

[2021-09-13 22:06] mokabiru commented on #80715
@dombat @AjayKumar-MSFT Documentation updated with the link that provides steps for DMS registration https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/managed-instance/sql-server-to-managed-instance-guide#database-migration-service

[2021-09-13 22:06] mokabiru commented on #80715
#please-close

[2021-09-13 22:06] #80715 closed

[2021-09-13 22:07] rwike77 commented on #80997
@VShrubowich  Thanks for your comment. I'll add AADSTS90095 to the list. Offhand, I'm not sure how many different causes there may be for this error.  I'll see if I can find out more info.  Sounds like you'll need to check the returned error info or logs for specific information, though.

[2021-09-13 22:10] YutongTie-MSFT commented on #80934
@vmh32 I have created a PR to fix this issue, it will be alive soon. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-13 22:10] #80934 closed

[2021-09-13 22:13] davidmrdavid commented on #80975
Thanks @Vidarls,

Indeed, this feature was recently made available and it **needs to be** documented. I also agree with the provided example. My only nitpick would be to make sure to add a `return` statement to it, as otherwise it's possible to get output serialization errors.

I'm currently a bit busy with releasing a new version of the Python SDK asap. I can prioritize this shortly after. Otherw

[2021-09-13 22:15] YutongTie-MSFT commented on #80923
Hello I have updated the link, it should work now. @mrbullwinkle Thanks for the quick action.

[2021-09-13 22:15] davidmrdavid commented on #80975
I would also appreciate getting assigned this ticket (I don't have permissions here) so I can keep track of it without recreating it in another repo, if that's possible

[2021-09-13 22:22] mattmccleary commented on #80198
@musicjunkieg Thanks for reaching out and for the reminder. I'm sorry for the delay. Can you open an issue here? https://github.com/microsoft/ApplicationInsights-Java/issues

It looks like this may be supported in the upstream OpenTelemetry repo. After you file an issue, the PG can discuss whether we should bring it in.

[2021-09-13 22:32] YutongTie-MSFT commented on #80950
@shaneacton You can send an email to me at Azcommunity@microsoft.com with your Azure subscription ID and the URL of this thread. Please let me know if you done that. Thanks for the understanding and sure, we hope to include more corner cases to make customer experience smooth.

[2021-09-13 22:33] JasonWHowell commented on #80825
@debanandaghosh Thanks - we've fixed the date. Appreciate you reporting the issues. #please-close

[2021-09-13 22:33] #80825 closed

[2021-09-13 22:42] DerekHerman-MSFT commented on #80712
@britex Apologies for the deayThere is no additional replication charge for ZRS storage. If you change to GRS or ZGRS you will see that those options have an additional charge.

[2021-09-13 22:42] #80712 closed

[2021-09-13 22:48] shaneacton commented on #80950
@YutongTie-MSFT Thank you, I have sent the email.

[2021-09-13 22:51] YutongTie-MSFT commented on #80950
@shaneacton I have enabled you a ticket for that, please let me know the ticket number, I will track on that and update the document later .

[2021-09-13 23:00] vlkuznet opened #81005 "Azure Functions in Windows Containers"
This page states that running Functions in containers is only supported with Linux.

We have these Windows Dockerfiles that work for functions: https://github.com/Azure/azure-functions-docker/tree/dev/host/3.0/nanoserver

Is this doc due for an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6

[2021-09-13 23:32] rboucher commented on #63794
@ghost Very late reply obviously. We are trying to clean these up.  From what I can tell this can be due to a process using multiple processors. If it's using 3 processors at 50%, you might get a reading of 150%.  Not sure if that's your particular issue though. Did you ever resolve this issue?

[2021-09-13 23:45] ram-msft commented on #80695
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-13 23:45] #80695 closed

[2021-09-13 23:46] ram-msft commented on #80787
@jeremiedeveloper We have created backlog item for this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-13 23:46] #80787 closed

[2021-09-13 23:47] ram-msft commented on #80838
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-13 23:47] #80838 closed

[2021-09-13 23:58] TonySh127-ms commented on #80885
Thanks! @BhargaviAnnadevara-MSFT

[2021-09-14 00:25] TravisCragg-MSFT commented on #80933
@anaraju Do you have a support case or other scenario where this is outlined?

[2021-09-14 00:28] takekazuomi commented on #80871
@BharathNimmala-MSFT
Do you have any updates? I want to monitor coreos (flatcar) with Log Analytics. Is microsoft/oms obsolete or renamed?

[2021-09-14 00:39] markmassad opened #81006 "Error Codes and Details"
[Enter feedback here]
The document does not tell you where to go to see the error codes and details.  Where is this information stored?  I'm having client cert issues (general 403) but do not know where to look

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df127830-5d33-f943-cf8f-c418e08256ed
* Version Independent ID:

[2021-09-14 00:42] kgremban commented on #64993
From what I understand, the Java and Node.js SDKs use `x509=true` while C# and C use `x509cert=true`. I've not gotten a specific answer about Python, but I believe it's based on the C SDK so it stands to reason that Python would also use `x509cert=true`.

@stevebus @cartertinney @olivakar @elhorton You're all listed as co-authors of the python downstream device sample that @habhachicha referenced.

[2021-09-14 00:42] anaraju commented on #80933
I tried creating the a TM profile from portal and I got this message when setting "Maximum record count in Response
" to be > 8 :
"The value must be between 1 and 8."

![image](https://user-images.githubusercontent.com/44985877/133175300-daa7f712-2142-4e39-905a-003c9fd520ae.png)

[2021-09-14 00:54] gantonius opened #81007 "Read/Write data using linked service Error"
[Enter feedback here]

The **Read/Write data using linked service** section doesn't seem to be working. Below is the error message:

UnicodeError: encoding with 'idna' codec failed (UnicodeError: label empty or too long)
Traceback (most recent call last):

  File "/home/trusted-service-user/cluster-env/env/lib/python3.6/site-packages/fsspec/core.py", line 141, in close
    closer()  # original clo

[2021-09-14 01:06] BharathNimmala-MSFT commented on #80999
@devopsjesus Thank you for reaching out to us with your feedback, assigned this to our document author to further review and update the document accordingly.

[2021-09-14 01:09] jeganlingam opened #81008 "Maximum allowed authorized IP ranges count in the documentation looks incorrect"
Documentation says total number allowed IPs that can be added to allow list is 200 but I can add 1500+ IPs. Looks like documentation needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API ser

[2021-09-14 01:16] robsmi-msfte opened #81010 "Create required Azure AD resources section has incorrect information"
The following text is incorrect:
"First, create an Azure AD service principal by using a specific application ID named Domain Controller Services. In public Azure, the ID value is 2565bd9d-da50-47d4-8b85-4c97f669dc36. In other clouds, the value is 6ba9a5d4-8456-4118-b521-9c5ca10cdf84. Don't change this application ID."

The correct information is:

"Domain Controller Services" AppID == 2565bd9d-da

[2021-09-14 01:21] blodgettb opened #81011 "Nobody told me that Primary Connection String == Connection String to Service Bus Namespace"
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-portal
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues
Be consistent in your naming:
I followed the Quickstart and copied the Primary Connection String. Nowhere was this identified as the "connection string to your Service Bus namespace", which is required to

[2021-09-14 01:51] ramya-rao-a opened #81012 "No considerations when using Internet of Things services in the Azure Government environment"
Each service listed in this document talks about the section containing considerations when using the said service in the Azure Government environment. For Iot Hub, we have the below

![image](https://user-images.githubusercontent.com/16890566/133181326-84177694-1318-43fb-9dd2-42fccad92428.png)

The note about using WindowsAzure.ServiceBus is not related to Azure Government environment. Moreover,

[2021-09-14 01:58] shballa-msft opened #81013 "Please update document for RHEL 8"
[Enter feedback here]
Please update the document for RHEL -8 also .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2aed3ab-ea16-deaf-1871-27cd0a776dfa
* Version Independent ID: d3f2c507-1f3d-dfc5-2ce6-238077889839
* Content: [Join a RHEL VM to Azure AD Domain Services](https://docs.microsoft.com/en-us/azure/active-dir

[2021-09-14 02:07] Karishma-Tiwari-MSFT commented on #80989
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-14 02:18] stevevi commented on #81012
Thanks @ramya-rao-a for this feedback.  I will remove the IoT section from this article in the next PR later this week.

[2021-09-14 02:18] Karishma-Tiwari-MSFT commented on #80983
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-14 02:18] #80906 closed

[2021-09-14 02:23] alfreema commented on #80995
It looks like there is a bug in the example.   It's trying to read req.query.name and req.query.sport, however after some debugging I saw that the data is being passed in the body -- so the example should be updated to:  req.body.name and req.body.sport.  It started working after I made that change.

[2021-09-14 02:53] clin4 opened #81014 "The example doesn't work as expected."
I following the steps to run this python example for azure confidential ledger. It is partially work for me.

1. create the ledger works, but I can only create one ledger, after that I got the error message saying  exceed the quata ...
2. myledger = confidential_ledger_mgmt.ledger.get(rg, ledger_name) work, I can get the created ledge.
3.  it failed when I call append: ( I paste the log and except

[2021-09-14 03:07] leoweiyu opened #81015 "it take very long time to get the feature registerred"
[Enter feedback here]
"It takes a few minutes for the status to show Registered. Verify the registration status by using the az feature list command"

it takes way far longer than few minutes, i don't really know how long this gonna take, but i have ran the the command like 30 minutes ago, and the status now is still regiterrring.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-09-14 03:07] CHEEKATLAPRADEEP-MSFT commented on #80994
@HemantiDeoli  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-14 03:08] CHEEKATLAPRADEEP-MSFT commented on #81001
@ILemmon81   I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-09-14 03:10] CHEEKATLAPRADEEP-MSFT commented on #81007
@gantonius  I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-09-14 03:21] euchungmsft opened #81016 "@piotrgwiazda , currently, this feature is not out. But, do keep an eye on the updates, it will be rolled out soon. Let me know if this answers your question."
Hi Team,

What is the status of this as of now ? Our customer seeks managed key creations in Service Bus programmatically

Thanks

@piotrgwiazda , currently, this feature is not out. But, do keep an eye on the updates, it will be rolled out soon. Let me know if this answers your question.

_Originally posted by @HarshitaSingh-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/67635#issueco

[2021-09-14 03:49] MayankBargali-MSFT commented on #81000
@Leonardo-Ferreira Thank you for your feedback! We will review and update as appropriate.

[2021-09-14 03:50] MayankBargali-MSFT commented on #81005
@vlkuznet Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-14 04:01] MayankBargali-MSFT commented on #81011
@blodgettb The Important Section under the [Prerequisites](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues#prerequisites) does called it out.

As [this document](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-portal) helps you how you can use Azure portal to create a Service Bus namespace and a queu and it

[2021-09-14 04:05] MayankBargali-MSFT commented on #80801
@craigshoemaker Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-14 04:09] GitaraniSharma-MSFT commented on #81006
@markmassad , thank you for your feedback. We'll investigate & get back to you shortly!

[2021-09-14 04:14] petersgiles opened #81017 "Cannot complete Tutorial: Get started with a Python script in Azure Machine Learning (part 1 of 3) due to python dependency issues"
I get this error when I try and run the control script. It's obviously some dependency error.

It would be good if you supplied a workaround to troubleshoot these kinds of errors until the compute images can be corrected to have the right dependencies on them.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5914

[2021-09-14 04:56] RohitMungi-MSFT commented on #81017
@petersgiles The install/update [page](https://docs.microsoft.com/en-us/python/api/overview/azure/ml/install?view=azure-ml-py) of Azure ML SDK documents some known issues along with the dependencies.

I think the following steps should help you install the correct versions and proceed further:

[code]

[2021-09-14 05:00] AnuragSharma-MSFT commented on #80855
@savjani Could you please help us with this request?

[2021-09-14 05:01] petersgiles commented on #81017
I'll give that a try thanks

On Tue, 14 Sept 2021 at 14:56, RohitMungi-MSFT ***@***.***>
wrote:

[2021-09-14 05:18] SnehaAgrawal-MSFT commented on #80702
@ak5678 Thanks for reply. Sure, As its documented here in the [Troubleshooting](https://docs.microsoft.com/en-gb/azure/app-service/app-service-hybrid-connections#troubleshooting) section that
"Is your HCM potentially in a bad state? Try restarting the ‘Azure Hybrid Connection Manager Service" local service."
restarting local service would be helpful in connecting Hybrid connection Manager service.

[2021-09-14 05:23] CHEEKATLAPRADEEP-MSFT commented on #80887
@olprod  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mlee3gsd Could you please fix this issue asap?

[2021-09-14 05:36] BhargaviAnnadevara-MSFT commented on #81014
@clin4 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-14 05:37] #80946 closed

[2021-09-14 05:41] ssivas commented on #80701
@Juz3 , Thanks for reaching out.

This is by design behavior whereas Microsoft identity platform Azure AD endpoint can issue v1.0 tokens and v2.0 tokens based on ["accessTokenAcceptedVersion attribute"](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#accesstokenacceptedversion-attribute) but B2C endpoint token are always issued as V1 access token.

#please-cl

[2021-09-14 05:41] #80701 closed

[2021-09-14 05:42] britex commented on #80712
Thanks for the clarification !

[2021-09-14 05:57] SaiKishor-MSFT commented on #80413
@RohitG92 Thank you! We are looking into this and will reach out to you if we need anything further. Thank you!

[2021-09-14 06:06] SwathiDhanwada-MSFT commented on #80159
@bwren Can you please review this feedback and update the document accordingly?

[2021-09-14 06:10] SnehaAgrawal-MSFT commented on #80756
@yutaro113 Thanks again for the feedback! Referring to "If you need to load a certificate file that you upload manually, it's better to upload the certificate using FTPS instead of Git,"  As I can see using FTPS is hyperlinked with this document link and steps are outlined here: https://docs.microsoft.com/en-us/azure/app-service/deploy-ftp?tabs=portal#deploy-files-to-azure

If there is something m

[2021-09-14 06:28] shashishailaj commented on #81010
@robsmi-msfte Thank you for sharing this information . We will engage with engineering and the content team to have this reviewed and updated .

Thank you.

[2021-09-14 06:30] shashishailaj commented on #81013
@shballa-msft Thank you for your feedback . We will take this to the content team and work on this internally .

[2021-09-14 06:34] MichelleLi1993 opened #81019 "The command under "Sync an Azure File directory (same syntax as Blob):" is incorrect"
[Enter feedback here]
The command under "Sync an Azure File directory (same syntax as Blob):" is incorrect.
Current command:
azcopy sync "https://[account].file.core.windows.net/[share]/[path/to/dir]?[SAS]" "https://[account].file.core.windows.net/[share]/[path/to/dir]" --recursive=true

Right command:
azcopy sync "https://[account].file.core.windows.net/[share]/[path/to/dir]?[SAS]" "https://[acco

[2021-09-14 06:59] Svijay-msft commented on #80773
Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-09-14 07:12] lightupdifire commented on #78870
@linkhp
Thanks for the info! Hope that in the future converting all to OTP will be possible and without re-creating accounts, else the script is needed to check permissions, membership, etc.

[2021-09-14 07:14] lightupdifire commented on #80892
@JamesTran-MSFT
Thanks for the help and PR. Closing issue.

[2021-09-14 07:14] #80892 closed

[2021-09-14 07:27] cephalin commented on #80742
I found this statement internally: "this setting should not be configured unless gets confirmation from PG."

It looks like this is strictly a mitigation of a platform issue that's only temporary. doesn't sound like something that should be officially documented. If disagree please reopen.

#please-close

[2021-09-14 07:27] #80742 closed

[2021-09-14 07:32] xuegao112 opened #81020 "Get-GuestConfigurationPackageComplianceStatus command doesn't work property"
Hi team,
When I try to test the zip package got the error below:
PS /home/xuegao> Get-GuestConfigurationPackageComplianceStatus -Package ./MyConfigTest.zip
Get-GuestConfigurationPackageComplianceStatus: A parameter cannot be found that matches parameter name 'Package'.

With _Get-Help Get-GuestConfigurationPackageComplianceStatus_

NAME
    Get-GuestConfigurationPackageComplianceStatus

SYNTAX

[2021-09-14 07:36] KrishnaG-MSFT commented on #80024
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-09-14 07:36] #80024 closed

[2021-09-14 07:38] lucarv opened #81021 "AZ and CLI"
It is very cool that lots of things are made easy by running scripts and az commands. However, there are cases when this is not desirable, e.g. when you want to use DPS to register your devices as oppose to az commands.
It is very cool that lots of things are made easy by running scripts and az commands. However, there are cases when this is not desirable, e.g. when you want to use DPS to register

[2021-09-14 07:46] t-htsuchiya opened #81022 "inactive pipeline isn't charged per month"
[Enter feedback here]
Other Microsoft document shown below say that "An inactive pipeline is charged at $0.80 per month.".

https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/
![image](https://user-images.githubusercontent.com/89903220/133204863-b2eb7117-225a-46f2-ac07-a724ac29672f.png)

but [this document](https://docs.microsoft.com/en-us/azure/data-factory/plan-manage-c

[2021-09-14 08:09] PramodValavala-MSFT commented on #81016
@euchungmsft Looks like the CLI/PowerShell modules don't yet support this out of the box but could perform a similar REST request that the Portal makes like [`Namespaces - Update API`](https://docs.microsoft.com/en-us/rest/api/servicebus/preview/namespaces/update) which is a PATCH request to update the `properties.encryption.keySource` property to `Microsoft.KeyVault` and set the `properties.encry

[2021-09-14 08:14] KrishnaG-MSFT commented on #80395
I have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again for the feedback!

[2021-09-14 08:14] #80395 closed

[2021-09-14 08:18] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira All of this possible with just the right settings.

1. For User Registration, the default sign up page should do the trick on its own. You can also configure [Azure AD B2C as an Identity Provider for the Developer Portal](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad-b2c).
2. Once registered and logged in, they can already subscribe to products.

[2021-09-14 08:19] PramodValavala-MSFT commented on #80778
@blockingHD Just following up here to see if my earlier comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-14 08:19] #80778 closed

[2021-09-14 08:28] tbroeker opened #81024 "Document Azure CLI commands in examples"
It would be nice to also have the Azure CLI commands as example in addtion to the Powershell Az commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7535b249-202f-2208-f718-68680e3ffb43
* Version Independent ID: 221a6617-c941-13f7-4ef2-f146e33d20a4
* Content: [Delete and recover Azure Log Analytics workspace - Azure

[2021-09-14 08:38] kohei-miyoshi opened #81025 "System drive path of Windows is changing"
[Enter feedback here]
Hello, team.

Please revise about system drive path.
In document , system drive is D in case Windows.
But it is changing D to C because scale unit changes CS to VMSS.

Therefore, I think it would be better to include  statements to that effect.

Best regards,
Kohei Miyoshi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-09-14 08:40] amit12cool opened #81026 "https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/how-to-create-container-mongodb#portal-mongodb"
Where is the container ID text in the screenshot image? Im not bale to find it, is the screen shot correct. Also in portal containerID is not there. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a1ebc3d-e46f-e7c2-58a0-724fb983b9fd
* Version Independent ID: d7aa4861-20c8-9092-a576-3efe30fc65ea
* Content:

[2021-09-14 08:53] SrijitBose-MSFT commented on #81015
@leoweiyu , thank you for your feedback. The registration of a feature can in effect take quite a long time depending on several factors. However, I am sharing this feedback with the content author(s) to see if a more specific verbatim can be shared on how long it might take before troubleshooting can be initiated.

[2021-09-14 08:53] AnuragSharma-MSFT commented on #81026
@amit12cool Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-14 08:55] lucarv opened #81027 "Cutting corners...."
[Enter feedback here]
It is very cool that lots of things are made easy by running scripts and az commands. However, there are cases when this is not desirable, e.g. when you want to use DPS to register your devices as oppose to az commands.
Another thing is that the config tool is an executable. And for my customer it is stuck on the command to delete devices (no idea why it starts by deleting th

[2021-09-14 09:18] jeevannagvekar commented on #80826
Hello team, thanks for sharing the links. My query was about instructions specific to the sample image provided @(https://github.com/Azure/iot-hub-device-update/releases) . The way we configure connection_string, aduc_manufacturer and aduc_model,  by writing into a txt file called /adu/adu-conf.txt, is it possible to configure certificate so that this image can be used as a downstream child of a p

[2021-09-14 09:34] LarsJK opened #81030 "Installing nginx-ingress fails"
[Enter feedback here]

Installing nginx-ingress fails.
Managed to get it working by setting `CONTROLLER_TAG=v1.0.0`
and adding `--set controller.admissionWebhooks.patch.image.digest=""`

Would be real helpful if you could update the tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c4

[2021-09-14 09:35] AnuragSharma-MSFT commented on #80977
@aholler2  Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-14 09:36] rarandiv commented on #72446
Hi @NavtejSaini-MSFT , @sunilagarwal , I was wondering if you get a chance to check above suggestion?

[2021-09-14 09:38] rarandiv commented on #77795
Hi @AnuragSharma-MSFT , @BustosMSFT, I was wondering if you get a chance to check above suggestion? Its pending since long time.

[2021-09-14 09:40] rarandiv commented on #78323
Hi @AnuragSharma-MSFT , @MashaMSFT , just checking if you get a chance to update the doc?

[2021-09-14 09:57] GitaraniSharma-MSFT commented on #80719
@dazinator , were you able to check the article that I have mentioned in my above comment? Do you have any updates from your end while I wait for the backend team's response?

[2021-09-14 09:58] dominicbetts commented on #80828
Hi @romankiss - I'm closing this issue now - please feel free to reopen it if you have any follow-up questions. Thanks!

[2021-09-14 09:58] dominicbetts commented on #80828
#please-close

[2021-09-14 09:58] #80828 closed

[2021-09-14 09:59] dimazoin opened #81031 "Customer Engagement Plan licenses does not exist any more."
Hello, Customer Engagement Plan licenses do not exist anymore. What licenses we should use then? Also If we publishing Canvas App, can we use PowerApps PerUser licenses. How Azure will know which licenses should be assigned to users for the test drive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6daab852-2704-3cc4-3

[2021-09-14 10:06] dazinator commented on #80719
@g

No - thats a huge bunch of powershell commands that I am not interested in working through. I'd rather know the roles so I can apply the role changes through the Azure Portal!

[2021-09-14 10:08] asergaz commented on #80763
Hello @FinitelyFailed I have edited your initial question as it was hiding the reference to the similar issue: https://github.com/Azure/azure-cli/issues/14135

I have checked the blog and it mentions that you can manually install [Azure CLI on Linux Manually](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest&pivots=apt). Can you confirm what is your Hardware

[2021-09-14 10:09] kjeske commented on #80732
Unfortunately, it won't. It won't produce a pdf from which the user can copy.

To solve my problem I will create a container with ocrmypdf installed on it that will process my pdf files.

[2021-09-14 10:31] SrijitBose-MSFT commented on #81008
@jeganlingam , thank you for sharing your concern here. The document mentions:

For example, if you are adding an address range of x.x.x.x/24 you are adding 256 seperate IP addresses in this range but the total number of IP address ranges stays 1. The limit does not apply to how many IP addresses are contained in a particular range that you specify or in all the ranges specified, taken together. H