[2020-12-10 10:49] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs You can use the Azure CLI [document ](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli)which details how to create and assign the required roles to the service principal.

[2020-12-10 11:06] beek0084 commented on #65745
I have this issue running the command in an Azure DevOps pipeline Azure Powershell task:
New-AzADServicePrincipal -ApplicationId "6ba9a5d4-8456-4118-b521-9c5ca10cdf84"

The result is an error: "Specified App Principal ID is Microsoft Internal. "

When I run this command from my local Powershell  it runs okay.

[2020-12-10 11:20] psmanhas commented on #67459
@magnus-longva-bouvet Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-10 11:20] psmanhas commented on #67459
@macolso Can you please check and add your comments on this doc update request as applicable

[2020-12-10 11:26] helloyesthisisdave opened #67463 "How is data in an External Table created via the CETAS in these examples updated?"
Using the examples provided in this page, I am able to use CETAS to create and populate an External Table in my Data Lake Gen2, though when I try to update the data or rerun the CETAS an error about the location already existing is thrown:

So whilst I can create and populate the External Table once, I am not able to rerun the same script to get an updated dataset or drop and recreate as the files

[2020-12-10 11:29] GitaraniSharma-MSFT commented on #67444
@seanmmccormick , thank you for your feedback. We'll review this and get back to you shortly.

[2020-12-10 11:29] peterjoinobits opened #67464 "Minor inconsistency"
[Enter feedback here]
Hi

There is an inconsistency in this documentation in that the terms Service Principal and security principal are being used interchangeably which might lead to some confusion in the audience. See below

https://docs.microsoft.com/en-us/azure/purview/create-catalog-portal#add-a-security-principal-to-a-data-plane-role

For the Role type in Purview Data Curator Role or Purview

[2020-12-10 11:59] M0ns1gn0r commented on #30656
Looks like the sample in the docs was updated (but with checks for terminal states).

[2020-12-10 12:09] justPaulo opened #67465 "Incoherent information"
What is the rationale behind of having in the bottom of this page a link entitled "Apply disk encryption in Azure Security Center" that points to https://docs.microsoft.com/en-us/azure/security-center/asset-inventory ?

Explore and manage your resources with asset inventory and management tools
09/22/2020
5 minutes to read

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-12-10 12:09] CHEEKATLAPRADEEP-MSFT commented on #67464
@peterjoinobits  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-12-10 12:10] JohnGalt1717 commented on #65653
So the docs need to be fixed to specifically instruct this, AND this needs to be fixed to not be so confusing.

[2020-12-10 12:12] JayaChatterjee-MSFT commented on #67451
@v-mosh21 Thank you for your feedback! We will review and update as appropriate.

[2020-12-10 12:13] Talaria89 opened #67466 "Azcopy between SA is actually using your upload"
From [Docs](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy?toc=/azure/storage/blobs/toc.json) : _AzCopy uses server-to-server APIs, so data is copied directly between storage servers. These copy operations don't use the network bandwidth of your computer._
Thats not exactly the true, Its using significantly your computers upload. When I start azcopy between ser

[2020-12-10 12:22] MayankBargali-MSFT commented on #67438
@lipalath-ms MicrosoftDocs Github issue is mainly related to the document issue. I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)

If you have not added the filter query then I will suggest you to update your filter query to only get the rows where the STATUS eq 'Error'.
Once you have the list of entities and if you want

[2020-12-10 12:34] gianimarco commented on #47707
Hi there, I have the same issue as well.

[2020-12-10 12:39] BakkerJan opened #67468 "Interactive sign-in"
We noticed that only an Interactive sign-in via **browser** will trigger the MFA registration policy.  In this period, most employees start Teams and work from there. Would like the MFA kicks in, and keeping that 14 day grace period....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b9bf82

[2020-12-10 12:40] sailando opened #67469 "Non-personal account access to interfaces"
I am not sure if we want to limit this guidance to just interactive access by an admin account.
Customers need to have guidance on how to secure and monitor, especially for interfaces, access by application identities.
MFA and CA do not apply here, so some of our strongest controls are not effective in this case.
But if automation and DevOps are the future, this access path will be much more impor

[2020-12-10 12:49] AjayKumar-MSFT commented on #67452
@coin8086,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-10 12:50] AjayKumar-MSFT commented on #67453
@rageshm110, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-10 12:56] sailando opened #67470 "Dedicated cloud-only accounts for privileged admin tasks"
We should recommend using dedicated cloud-only accounts for privileged administrative roles. This accounts must not be replicated from on-premises AD. This reduces the security dependency on the security posture of the AD DS.

We are recommending this with MCS Cloud Security Planning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-12-10 12:57] #67468 closed

[2020-12-10 12:59] sailando opened #67471 "Eliminate shared privileged accounts"
Sharing admin accounts is a common practice at many customers. We should mention here that we strictly recommend against it. This can be part of the Separate Accounts guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b5dc24-f7bb-2112-6195-10715ef4f179
* Version Independent ID: 0530498b-874c-377a-f268-903b46d55

[2020-12-10 13:01] sailando opened #67472 "Separate Accounts guidance"
This guidance all the sudden is only talking about on-premises AD DS. We also need separate accounts (cloud-only dedicated accounts) for cloud admin roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b5dc24-f7bb-2112-6195-10715ef4f179
* Version Independent ID: 0530498b-874c-377a-f268-903b46d55216
* Content: [Secur

[2020-12-10 13:03] AjayKumar-MSFT commented on #67454
@christianigay, Thanks for the question here!  Apologies you're still experiencing similar issue. I hope you have tried all the steps suggested in the other/referenced GitHub thread.  In the interim, we're taking a look into this and will get back to you soon.

[2020-12-10 13:04] AjayKumar-MSFT commented on #67460
@pankaj-pal, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-10 13:06] mcurko opened #67473 "Error when running code"
Error on:

`var fc = new FabricClient(xc, connection);`

Exception:

_System.InvalidCastException: 'Unable to cast COM object of type 'System.__ComObject' to interface type 'IFabricClusterManagementClient12'. This operation failed because the QueryInterface call on the COM component for the interface with IID '{3EE688D1-4DB0-49BE-A636-981AED93120F}' failed due to the following error: No such inter

[2020-12-10 13:08] AjayKumar-MSFT commented on #67463
@helloyesthisisdave, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 13:10] AjayKumar-MSFT commented on #67465
@justPaulo, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 13:12] AjayKumar-MSFT commented on #67466
@Talaria89, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 13:16] AjayKumar-MSFT commented on #67468
@BakkerJan, Thanks for leveraging Azure docs feedback channel to raise this question. We notice that you have closed this thread, so I presume that you have figured out the issue. Kindly let us know if you still need further assistance on this.

[2020-12-10 13:20] AjayKumar-MSFT commented on #67469
@sailando, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 13:46] pramodsb opened #67476 "Wrong path on installing using whl"
The section on installing using whl files seems to quote a wrong path as it worked for me when I put it in the libraries.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6062879d-b323-e01a-bfc0-b31124e74ea8
* Version Independent ID: ba40190c-159c-b29f-4697-77b6275f8cfb
* Content: [Manage libraries for Apache Spark -

[2020-12-10 13:53] NetForce1 opened #67478 "Clarify that strongSwan cannot be used with Basic SKU"
The document mentions that strongSwan should be used to connect to the Azure VPN P2S from Linux. However, strongSwan does not support SSTP, and P2S works only with SSTP for the Basic SKU.

I did find another tool though, that does support SSTP: http://sstp-client.sourceforge.net/ (tested on Ubuntu 20.04). This tool can be installed through the PPA:
[code]
The author is working on a plugin for Netw

[2020-12-10 13:58] cgwrench opened #67479 "Are custom metrics still in preview?"
The documentation on this page states that custom metrics are still in preview, that "custom metrics will incur costs when they enter general availability", and that "the ability to publish custom metrics is available only in a subset of Azure regions".

However, the linked [pricing page](https://azure.microsoft.com/en-gb/pricing/details/monitor/) does include pricing details for custom metrics, a

[2020-12-10 14:01] gregorysuarez opened #67480 "Article references outdated and unsupported clusters. Update needed to support HDI 4.0 clusters"
Article references outdated and unsupported clusters.
    - HDI 3.5 and HDI 3.6 clusters are no longer supported

Update needed to support HDI 4.0 clusters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5967fede-cee5-ad1b-97ec-4f67f543d0b6
* Version Independent ID: aa3f890f-3052-67a3-7440-864103aa201f
* Content: [Insta

[2020-12-10 14:01] MonikaReddy-MSFT commented on #67479
@cgwrench -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-10 14:03] MonikaReddy-MSFT commented on #67140
@makushima - Can you please provide the screenshot of what you have tried and what error you are getting?

[2020-12-10 14:09] MonikaReddy-MSFT commented on #67411
@cutecycle -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-10 14:09] #67411 closed

[2020-12-10 14:16] speschka commented on #67326
Hi James, thanks for getting back to me, I actually have tried the scope you suggested above, and it does not work - it won't return an access token because it says the scope is invalid.  There are some other things that work using a client assertion like a certificate, but for now I'm limited to only using a client secret.  I'm continuing to look for other alternatives though in case there just i

[2020-12-10 14:20] serjdag opened #67481 "PS script creates resource named as port (e.g. 1433)"
We used to have Network Name cluster resource for VNN listener named in following format: AGName_DNSName
In this case you always get unique resource name.

The script provided on the page names Distributed Network Name resource as a port (e.g. 1433 or 1435). If we have multiple AGs and want to use same default 1433 port, we will receive an error that resource is already exists.
`
Add-ClusterResour

[2020-12-10 14:28] vipulsparsh commented on #67365
@yiliuTo I just tested this and works totally fine at my side.
Here is what I did :

1) Request URL

![image](https://user-images.githubusercontent.com/63580915/101784096-1196ff00-3b21-11eb-99a5-f6ce73bb2caa.png)

2) Normal user consent page :

![image](https://user-images.githubusercontent.com/63580915/101784305-5cb11200-3b21-11eb-973b-e1cb2d8ffdba.png)

3) Exchanged the code for the access token

[2020-12-10 14:29] #67440 closed

[2020-12-10 14:39] shellysolomonwang commented on #23045
I am working with an Azure for Students account and it is not able to change the account to pay-as-you-go. What's the work around for this?

[2020-12-10 14:43] BharathNimmala-MSFT commented on #67028
@skippu My sincere apologies for taking time to get back to you on this thread. Based on my discussion with our internal below is the information, I could share.

EA have only 17P and 148P, for EA to CSP migration only 17P is applicable, however if we are talking about Modern that have 17G offer that can also be migrated to Partner-Led but that is Modern though.

I will also take the feedback to o

[2020-12-10 14:43] #67028 closed

[2020-12-10 14:53] makushima commented on #67140
no, this is confidential information.

[2020-12-10 14:56] shellysolomonwang opened #67482 "Cannot upgrade my Azure for Students Starter account to an Azure free account"
I cannot upgrade my Azure for Students Starter account to an Azure free account. In step

The **Upgrade subscription** button is just not there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e2b8c0-6652-53b8-ff40-37473c359b7e
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upgrade your Azu

[2020-12-10 15:08] CharlieDigital commented on #14778
I think this functionality should be automated on the Q&A Maker side.

Basically, the source should be considered default metadata to allow filtering by source.  This is useful when you have specific content in specific sources potentially for different audiences.  Without this functionality, it requires updating the metadata on each item.

Alternatively, allow the API to associate default metadat

[2020-12-10 15:16] BharathNimmala-MSFT commented on #67123
@vairakkumar-vairaperumal Thanks again for bringing this to our notice and helping us improve our Azure documentation.
I have raised a PR after review and approval it will be merged with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if you hav

[2020-12-10 15:16] #67123 closed

[2020-12-10 15:20] Supraconductor opened #67483 "Wrong information about S2S VPN max bandwidth."
I think Gen2 supports larger bandwidth.  Ref to text on this page: _**Bandwidth is constrained to a maximum of about 1.25 Gbps.**_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a52c6eeec07a
* Content: [Best practices for network sec

[2020-12-10 15:40] guy-microsoft opened #67484 "CosmosDB firewall configuration propagation"
The documentation says that "Note that firewall changes may take up to 15min to propagate". However, it seems that during this 15 minutes the Cosmos service firewall blocks requests that should be allowed (for example, when changing from "selected networks" to "all networks", you can't send request to cosmos even if your network is registered in the "selected networks"). So it's not only about pro

[2020-12-10 15:44] TheOpsMgr commented on #23006
@MarkKharitonov check your NTLM settings - https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems#cause-2-ntlmv1-is-enabled

[2020-12-10 15:58] aahill commented on #65653
Docs will be updated soon and I've passed the feedback to the dev team.

[2020-12-10 15:59] JohnGalt1717 commented on #65653
@aahill Excellent! Thanks!

[2020-12-10 16:03] MonikaReddy-MSFT commented on #67479
@cgwrench - Thanks again for reaching out. Custom Metrics are still in preview and doc is up to date.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-10 16:03] #67479 closed

[2020-12-10 16:09] aperally opened #67485 "What about splatting?"
Hi everybody,
nothing major, the scripts would be clearer if the parameters were splatted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c33f22-7243-bb33-38b9-fcf30e68ffe6
* Version Independent ID: c1a3a25a-26d0-acdf-d5f2-1d1c057a3e5b
* Content: [Azure VPN Gateway: Connect gateways to multiple on-premises policy-base

[2020-12-10 16:24] juanandmsft opened #67486 "Page file in custom letter, without D drive"
Is it possible following the same procedure to place pagefile.sys in a custom letter, i.e. Z:, without the need to have D: assigned to a disk? The scenario will be following a corporate standard, rather than the need to have app data in D: due to compat/hardcodings.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-12-10 16:24] MonikaReddy-MSFT commented on #67140
@makushima - Please find the below screenshot for the command I have tried
`az lock create --name lockName --lock-type ReadOnly`

![azlock](https://user-images.githubusercontent.com/47833949/101799208-dfae7a00-3ad9-11eb-917e-4047decb2360.png)
![sublock](https://user-images.githubusercontent.com/47833949/101799209-e0471080-3ad9-11eb-8b5b-cb89ff028833.png)

If you are still having issues after tryin

[2020-12-10 16:27] HarshitaSingh-MSFT commented on #67432
@softchris, you are thinking in the right direction. It looks like the documentation is not yet updated with the new client library changes.

I had a sync up internally with the PG and got to know that this change in the documentation is in progress and will soon be updated. So, stay tuned!

Let me know if this addresses your query.

[2020-12-10 16:40] alexkarcher-msft commented on #67052
@Mja101 If you function isn't triggering at all, it means there is some disconnect between your IoT hub or event grid and functions. Make sure both of those services are receiving messages and double check that your triggers are configured in Functions. You'll see trigger configuration errors in Application Insights when you restart your function app.

@Imenten & @bargor-code Sorry to hear that! A

[2020-12-10 16:52] nagau commented on #66114
@SebDub , we have made some changes at our end that should enable the on warm start of run that you were attempting earlier. Now you should be able to warm start runs with more than 100 child runs as well.

[2020-12-10 16:58] MarileeTurscak-MSFT commented on #67470
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 16:59] nikhilsinghmsft opened #67488 "TenantId is now on the Overview Page and not in the Groups"
TenantId is now on the Overview Page and not in the Groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82a2dab5-fd75-3a0a-bd63-5d3b7803f871
* Version Independent ID: 0b85be3e-8648-9a8f-3556-4c888238b112
* Content: [Find Tenant ID, Object ID, and partner association details in Azure Marketplace](https://docs.microsof

[2020-12-10 17:03] bandersmsft commented on #67482
@shellysolomonwang Thanks for letting us know about this issue. Sorry you ran into this problem.  I'm investigating it with the Billing engineering team. When I have something to share, I'll reply here.

[2020-12-10 17:04] itishnitsa opened #67489 "Is there a limit to how many "include" condition sets we can add to a policy?"
Hi,

We want to use a custom app consent policy to allow users to consent to approved applications only. We want to specify an "include" condition set for each app. That list could eventually grow quite long. Is there a limit to how many "include" condition sets we can add before the policy breaks or we are not able to add any more?

Thanks.
---
#### Document Details

⚠ *Do not edit this section.

[2020-12-10 17:15] ffourcade commented on #65000
Hi !! I got stuck with the same error but I just figured out that I was only a guest on the subscription and not part of the Azure Directory. I had someone (part of the AD) to create the scope (from the Databricks portal) and I can now access the secret scope.
May it help someone ;)

[2020-12-10 17:19] hophanms commented on #67296
@ssugar We will update the fix soon. Thanks

[2020-12-10 17:22] MarileeTurscak-MSFT commented on #67483
@Supraconductor
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 17:23] MarileeTurscak-MSFT commented on #67471
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 17:23] MarileeTurscak-MSFT commented on #67472
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 17:25] spelluru commented on #67357
Hi @brandonh - As per our messaging architect @clemensv, there is no limit.

[2020-12-10 17:26] JamesTran-MSFT commented on #67489
@itishnitsa
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 17:33] NavtejSaini-MSFT commented on #67348
@CaryMoore-DB Thank you for the insight. We will assign this to our doc author to take action as needed.

@mssaperla Please check the feedback from Cx and make necessary changes.

[2020-12-10 17:35] rwsanders opened #67490 "Test-GuestConfigurationPackage : The variable '$IsMacOS' cannot be retrieved because it has not been set."
[code]
My pipeline started failing yesterday.  It looks like the $IsMacOS is a variable that is not getting set as part of Test-GuestConfigurationPackage.

An assumed temporary work around is to set $IsMacOS = $FALSE prior to running (since I am not running this on MacOS). This is not indicated as a requirement in any documentation I am familiar with and just began occurring recently, so I assume

[2020-12-10 17:41] NavtejSaini-MSFT commented on #67484
@guy-microsoft We are checking this and will get back to you.

[2020-12-10 17:44] NavtejSaini-MSFT commented on #67490
@rwsanders The Feedback on Github pages is associated with a documentation. Please mention to which documentation the above feedback refers to so we can route it correctly.

[2020-12-10 17:46] hctrr opened #67491 "Mismatch of coreruleset GitHub Repos and Branches"
At the very beginning
"The Azure-managed Default Rule Set is based on the OWASP Core Rule Set (CRS)"

The link tied to the OWASP Core Rule set is:
https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.1/dev

Then under
https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-front-door-tuning#understanding-waf-logs
"you could go to the OWASP ModSecurity Core Rule Set Official

[2020-12-10 17:48] rwsanders commented on #67490
Sorry about that.  Thanks for routing this to the proper place.

This is the document in question.
https://docs.microsoft.com/en-us/azure/governance/policy/how-to/guest-configuration-create#step-by-step-creating-a-custom-guest-configuration-audit-policy-for-windows

[2020-12-10 17:48] MarileeTurscak-MSFT commented on #67031
Client side you can use MSAL.js (or any other Auth lib) that adds the value to the authorization request as an extra query parameter (&userAgent=xxxx) and read it from the custom policy using OAuth2 key-value resolvers. Or, you can use a REST technical profile which will read the useragent string and return it to the custom policy as a claim.

[2020-12-10 17:48] MarileeTurscak-MSFT commented on #67031
Hope this helps! If you have further questions feel free to tag me in the comments.

[2020-12-10 17:48] #67031 closed

[2020-12-10 17:49] manishmsfte commented on #66900
@lumichael24, Update & Delete is not implemented for Gremlin API.

[2020-12-10 17:52] supadrasta opened #67492 "AKS deployment"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your TLS certificates for ingress - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls)
* Content Sou

[2020-12-10 17:54] supadrasta commented on #67492
I could work with this sample. I could get the response using the curl command. However, when trying the URL in the browser, I was still not able to get the response. Not sure what could be wrong.

[2020-12-10 17:54] lumichael24 commented on #66900
Hi @manishmsfte. Thanks for the response. That's weird because BulkDelete worked for me for Gremlin API. Are there any alternatives we can use in the meantime? Or is there a plan to implement update and delete for Gremlin API soon?

[2020-12-10 17:54] trevorbye commented on #65134
@Navaneethsen thanks for finding this. I found the relevant source code that shows that yes, `log_level` is an invalid arg, so I will fix the doc to differentiate between `console_log_level` and `file_log_level`. I may also submit a PR to add an implementation to allow usage of `log_level` to set both log levels at once, rather than separately.

[2020-12-10 18:00] JamesTran-MSFT commented on #67120
@rgsteele
Thank you for your time and patience throughout this issue! I received an update from our engineering team and will post it below.

**PG Update:**
Can you clear your cache to see if that resolves the issue. If not, please take a [browser trace](https://docs.microsoft.com/en-us/azure/azure-portal/capture-browser-trace) of the issue and create a support ticket so that we could have the dat

[2020-12-10 18:11] JamesTran-MSFT commented on #67279
@Puneetb
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

Thank you for your time and patience throughout this issue.

[2020-12-10 18:12] JamesTran-MSFT commented on #67325
@gkens
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous post?

Thank you for your time and patience throughout this issue!

[2020-12-10 18:26] lipalath-ms commented on #67438
@MayankBargali-MSFT Thank you for your response, I will keep that in mind to create thread on the Microsoft Q& A forum.

Thank you for providing the solution. I tried updating the workflow as you suggested. However, on running the workflow, I see that 'Get Entities' is returning an empty list even though the table contains data with 'Error' Status. Could you please let me know what am I missing? T

[2020-12-10 18:26] MayankBargali-MSFT commented on #66572
@vc-zhu @sebader Apology for the delay. I have got the confirmation from storage product team that this scenario will be supported. Currently, they are working on this and once the changes are pushed the scenario should be working as expected. For now, I will go ahead and close this but I will keep you posted. Feel free to get back to me if you have any queries or concerns.

[2020-12-10 18:26] #66572 closed

[2020-12-10 18:27] mjcarrabine opened #67494 "Where are "off-peak hours in the VM's time zone"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Independent ID: 7bfd1c0f-0ecd-44da-9724-6118b950f4ff
* Content: [Automatic VM Guest Patching for Windows VMs in Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2020-12-10 18:29] ChaitanyaNaykodi-MSFT commented on #67357
Hello @spelluru, Thank you so much for the response! This is very helpful!
@brandonh-msft, I will now proceed to close this issue out. Please tag me in your reply if there are any additional concerns. Thank you!

[2020-12-10 18:29] #67357 closed

[2020-12-10 18:33] mjcarrabine opened #67495 "What are "off-peak hours in the VM's time zone" for AutomaticByPlatform VM Guest Patching?"
Where are "off-peak hours in the VM's time zone" defined? Is it something in Azure or is it using the Active Hours defined on the server (we are using Windows Server 2019)?

We have virtual machines that are hosted in the East US region, but accessed by other time zones so something like 8 AM - 5PM in eastern time zone is not going to be sufficient.

Thank you,
Mike
---
#### Document Details

⚠ *D

[2020-12-10 18:36] mjcarrabine commented on #67494
Duplicate of #67495

Can I delete this issue? I apparently clicked post too soon by accident.

[2020-12-10 18:36] #67494 closed

[2020-12-10 18:40] davidbaxterbrowne opened #67496 "Second blurb on log write throughput needs updating"
"There is also an instance-level limit on the max log write throughput (which is 22 MB/s), so you may not be able to reach the max file throughout on the log file because you are hitting the instance throughput limit."

Should read

"There is also an instance-level limit on the max log write throughput (see above), so you may not be able to reach the max file throughout on the log file because you

[2020-12-10 18:41] chetansriv commented on #66605
@jeevansd Changes are in progress and should be done by early next week

[2020-12-10 18:43] MayankBargali-MSFT commented on #67438
@@lipalath-ms Thanks for your time offline and you confirmed that the column name was not correct. I will go ahead and close this issue. Feel free to get back to me if you have any queries or concerns in the future.

[2020-12-10 18:43] #67438 closed

[2020-12-10 18:43] hpsin commented on #67454
Please note the requirement to use PTA or managed accounts - it does not work with hybrid accounts where AAD needs to send the user back to your on-premises STS to authenticate.

[2020-12-10 18:44] rajgang commented on #65887
@MashaMSFT  Thanks for the response and for taking the corrective action. Please let me know what updates have been done to the documentation.
Thanks

[2020-12-10 18:48] BBrukner commented on #62877
We are having the same issue, have followed all troubleshooting directions, waited 48 hours, and still unable to complete app registration.

MSFT support request 120120224003327 open pending resolution

[2020-12-10 18:49] trevorbye commented on #65134
#please-close

[2020-12-10 18:49] #65134 closed

[2020-12-10 18:59] spelluru commented on #54728
Please see the following post:
https://azure.microsoft.com/en-us/updates/azure-event-grid-now-supports-cloudevents-v1-0-for-greater-interoperability/

And the article it links to:
https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema

#please-close

[2020-12-10 18:59] #54728 closed

[2020-12-10 19:01] sgreci commented on #47707
I think that there's a huge gap in the Azure documentation.

I've read thourougly also this article : https://techcommunity.microsoft.com/t5/azure-sql/using-failover-groups-with-private-link-for-azure-sql-database/ba-p/1272902 and i did step-by-step the configuration and I still have 2 Private Endpoint (one for a SQL Server in Western Europe and one in North Europe, paired regions) but not a Priva

[2020-12-10 19:05] jyeblog commented on #66475
@JayaChatterjee-MSFT Sorry has been busy on other projects.
As per your suggestion to open up whitelist IP of the datacenter for consumption plan, this is already covered in another thread for this page in Feb 2020: https://github.com/MicrosoftDocs/azure-docs/issues/47543

1. If function app and storage account is in the same region, the routing is via Microsoft internal network, as such it cannot

[2020-12-10 19:08] NavtejSaini-MSFT commented on #67490
@rwsanders Thanks for the same and we have routed it correctly.

[2020-12-10 19:08] AjayKumar-MSFT commented on #67234
@motasem13, We have raised a PR (Virtual network integration is slot sticky) and is merged, the document would reflect the changes soon.  Additionally, based on your feedback we're also adding a note on the override app settings.
We will close this thread for now, if you have any further questions please just let us know. Thanks again for sharing your feedback!

[2020-12-10 19:08] #67234 closed

[2020-12-10 19:09] BharathNimmala-MSFT commented on #67488
@nikhilsinghmsft  Thanks a lot for bringing this to our notice, will update the document accordingly.

[2020-12-10 19:09] markjbrown commented on #61315
That doc points to the home page for the Azure Storage Java SDK. Unfortunately, Storage team stopped support for Table storage with the Java SDK v8, https://github.com/Azure/azure-storage-java/tree/v8.6.5 That is the last version of their SDK they released.

I have updated this article to reflect their deprecation of support. I also want to point out that there will be a new Azure Java SDK which w

[2020-12-10 19:09] #61315 closed

[2020-12-10 19:14] JayaChatterjee-MSFT commented on #67173
@verbedr Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-10 19:15] JayaChatterjee-MSFT commented on #67057
@JackyChiou Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-12-10 19:20] #67173 closed

[2020-12-10 19:21] spelluru commented on #33060
It's documented here:
https://docs.microsoft.com/en-us/cli/azure/eventgrid/topic?view=azure-cli-latest#az_eventgrid_topic_list

[2020-12-10 19:29] showellb opened #67497 "If we are using the link from the Prerequisites to add a web api application, then the last section (step 6. must say 'webapi1 '"
If we are using the link from the "Prerequisites" to add a web api application, then the last section (Add GitHub identity provider to a user flow / Step 6. must say 'webapi1').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbbe788-2f8d-e5c0-5133-ee24f69c6056
* Version Independent ID: 45c2d2b8-536f-e204-d3a5-ae57e759

[2020-12-10 19:32] SeanFeldman commented on #33060
It does now, @spelluru, a year+ after I've raised the issue 😄

[2020-12-10 19:32] #33060 closed

[2020-12-10 19:35] spelluru commented on #33060
@SeanFeldman - Sorry. I have been going through old issues and see if I can resolve them. Bahram is not with Microsoft anymore. I am trying to get help from Javier and others with resolving other issues.

[2020-12-10 19:37] jaaayyy opened #67499 "Repeated statements"
[Enter feedback here]
Hello,

I found repeated statement in your document...
please refer to the screenshot:

![image](https://user-images.githubusercontent.com/43244230/101820713-f7314580-3b61-11eb-8f83-f188964722b1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Inde

[2020-12-10 19:38] SeanFeldman commented on #33060
np, @spelluru. Thank you for doing this.

@banisadr, you're missed.

[2020-12-10 19:38] WinstonHoward-MSFT commented on #67499
Thanks for the feedback, I'll fix it.

[2020-12-10 19:41] haymansfield commented on #63678
Any update on this issue?

[2020-12-10 19:42] WinstonHoward-MSFT commented on #67465
Assigned to author as it looks like a Doc Bug.

[2020-12-10 19:43] DavidMwihuri01 commented on #65994
@JasSuri  kindly have a look at this issue. Should the example certificate name in the article match the certificate name used in the sample given, i.e. B2C_1A_SamlRpCert?

[2020-12-10 19:50] poochwashere commented on #67428
+1

I came here to seek the same information. How do I set the mode? How can I tell what mode my existing clusters are using?

[2020-12-10 19:52] WinstonHoward-MSFT commented on #67492
This code sample is designed to be used with `curl` so you can use the `--resolve` parameter to map the demo.azure.com name to the public IP address of your ingress controller. The demo is not intended for your use case. If you are having an issue with TLS certificates in your AKS cluster please open a support case with support.

[2020-12-10 19:52] #67492 closed

[2020-12-10 20:15] mhmmdrd opened #67500 "Unknown Subscription, still being charged after I canceled my subscription"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-12-10 20:16] MarileeTurscak-MSFT commented on #67497
@showellb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 20:18] JamesTran-MSFT commented on #62877
@Radiergummi
Thank you for the detailed post on serverfault! I've reached out to our engineering team regarding this issue and will update if I receive anything from their end.

[2020-12-10 20:19] MarileeTurscak-MSFT commented on #67497
Thank you! I made a pull request to correct this so that it matches the other document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140627

[2020-12-10 20:19] #67497 closed

[2020-12-10 20:28] makushima commented on #67140
thanks!

[2020-12-10 20:46] WinstonHoward-MSFT commented on #67233
Hey Chris, so firstly just want to be clear Azure Monitor for Windows Virtual Desktop is in preview so we don't recommend using it for production workloads and some features might not be supported or might have limited capabilities. That being said Azure Monitor offers quite a few ways to adjust the data gathered. I'd start by taking a look at [configuring your performance counters](https://docs.m

[2020-12-10 20:46] #67233 closed

[2020-12-10 20:49] abymsft opened #67501 "AzureConnectors Outbound"
[Enter feedback here]
As per this docs link https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview, AzureConnectors cannot be used for Outbound scenarios only inbound. But in the Tip section of this link (https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#outbound-ip-addresses) its stated that AzureConnectors can be used for 'outbound' scenarios. P

[2020-12-10 20:59] trolleyboy opened #67502 "POP location updates"
Are there any updates to this list? We see POPs "WST", "BN", "LON", "DAL", "SG" and others being sent through in Azure Front Door access logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dc75fc7-036c-9cf6-0e4a-b137cc9b98a0
* Version Independent ID: 5f68152b-84b5-90a4-375e-5de3c825208c
* Content: [Azure CDN POP loca

[2020-12-10 21:10] rbschneider commented on #67340
@gb5757870 The docs team just spent two days updating this document from the top down, and it was pushed out for review moments ago. Thank you for pointing these issues out. We should be publishing the updated public-facing version very soon.

[2020-12-10 21:14] NavtejSaini-MSFT commented on #67473
@mcurko We are checking this and will get back to you.

[2020-12-10 21:16] NavtejSaini-MSFT commented on #67476
@pramodsb We are checking this and will get back to you.

[2020-12-10 21:17] NavtejSaini-MSFT commented on #67480
@gregorysuarez We are looking into this and we will get back to you.

[2020-12-10 21:19] NavtejSaini-MSFT commented on #67478
@NetForce1 We are checking this and will get back to you.

[2020-12-10 21:20] NavtejSaini-MSFT commented on #67481
@serjdag We are checking this and will get back to you.

[2020-12-10 21:21] NavtejSaini-MSFT commented on #67485
@aperally We are checking this and will get back to you.

[2020-12-10 21:21] NavtejSaini-MSFT commented on #67491
@hctrr We are checking this and will get back to you.

[2020-12-10 21:22] NavtejSaini-MSFT commented on #67495
@mjcarrabine We are checking this and will get back to you.

[2020-12-10 21:23] NavtejSaini-MSFT commented on #67496
@davidbaxterbrowne We are checking this and will get back to you.

[2020-12-10 21:24] greendx commented on #67441
@AjayKumar-MSFT I was commenting on this document https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing

The prices in my screenshot are directly from Azure Security Center for SQL server on IaaS VM. I don't see that option in azure pricing calculator.

[2020-12-10 21:26] gkens commented on #67325
thanks for the reminder - i will  check this out and reply

[2020-12-10 21:28] NavtejSaini-MSFT commented on #67486
@juanandmsft We are checking this and will get back to you.

[2020-12-10 21:30] NavtejSaini-MSFT commented on #67501
@abymsft We are checking this and will get back to you.

[2020-12-10 21:32] gkens commented on #67325
It is limited to sms or phone - i want them to use authenticator app.  How can I do that for my external users?

[2020-12-10 21:32] NavtejSaini-MSFT commented on #67502
@trolleyboy We are checking this and will get back to you.

[2020-12-10 21:35] Puneetb commented on #67279
Hi James,

I managed to address the issue my resource id and client ids were flipped.

Regards,
Puneet Banga

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: James Tran-MSFT <notifications@github.com>
Sent: Friday, December 11, 2020 5:12:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Puneetb <puneet.banga@hotmail.com>; Mention <mention

[2020-12-10 21:37] NavtejSaini-MSFT commented on #67500
@mhmmdrd This feedback method is for giving feedback for the documentation on Github. From the looks of it it seems you should raise issue with Support team.
If this is about a Github Documentation, please get back to us with a link.

[2020-12-10 21:39] JamesTran-MSFT commented on #67325
@gkens
Thank you for the quick follow up!

Can you send me a screenshot of what you're seeing on your end? When you navigate to "aka.ms/mfasetup", is there no option for "Mobile app"?

[2020-12-10 21:41] JamesTran-MSFT commented on #67279
@Puneetb
Thank you for the quick follow up and posting your solution. Since your issue is resolved, I'll go ahead and close out this issue.

Thank you again for your time and patience throughout this issue!

[2020-12-10 21:41] #67279 closed

[2020-12-10 21:44] mbrashearnttglobalnet opened #67503 "Following instructions ends with error"
Following the documentation but see an issue trying to list port locations.

21:40:56 localhost:~ $ az account set --subscription xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
21:41:09 localhost:~ $ az provider register --namespace Microsoft.Network
21:41:16 localhost:~ $ az network express-route port location list
ResourceNotFoundError: The resource type could not be found in the namespace 'Microsoft.Netw

[2020-12-10 21:50] serjdag commented on #67481
Hi @NavtejSaini-MSFT,

I seems that it is impossible to use same port for multiple AGs hosted on the same cluster. And default 1433 port won't work as well.
I have checked that client tries to connect to all nodes IPs and necessary port is listening only on primary node. Once failed-over, old primary stops listening custom port and new primary starts. That's how DNN listener works. SQL default por

[2020-12-10 21:59] serjdag commented on #64681
I got it work. It seems that default 1433 SQL port is not supported for DNN listener. Additionally, In case there are multiple AGs with DNN listeners in scope of single cluster, every DNN listener should be configured using unique custom port.
It is also not mentioned in documentation that custom ports should be manually added to Firewall exclusions.

In addition to @rhyscooper comment, there shou

[2020-12-10 22:09] gkens commented on #67325
[cid:image001.png@01D6CF17.377D6310]

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077<tel:734-228-7070>
Fax:    734 219-5469
glenn.kime@enspireditaa.com<mailto:glenn.kime@enspireditaa.com>
www.enspireditaa.com<http://www.enspireditaa.com/>
[A close up of a logo  Description automatically generated]

From: James Tran-MSFT <notifications@github.com>
Sent: Thursday, December 10, 202

[2020-12-10 22:10] JamesTran-MSFT commented on #67410
@marlonsingleton
I wasn't able to reproduce your issue, however, we'd like to take a closer look into your environment and issue. Can you please email me with the info below, so I can enable a one-time free technical support request for your subscription. This way you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:

[2020-12-10 22:10] #67410 closed

[2020-12-10 22:13] JamesTran-MSFT commented on #67325
@gkens
Would you be able to repost the image? It looks like it didn't upload correctly.

![image](https://user-images.githubusercontent.com/36619112/101836215-cfa29480-3af1-11eb-952b-e188a18310d0.png)

[2020-12-10 22:19] ealsur commented on #52726
@onionhammer I don't have any issues, what I'm saying is that the API surface of the V4 SDK (which is currently a preview experimental SDK) is governed by the Azure Core SDK guidelines, which currently have no guidelines for Linq support, and that is the reason V4 SDK has no Linq. You can use Linq on V3 SDK which is the current SDK for production.

[2020-12-10 22:23] danmyhre opened #67506 "Missing details"
Need details on how to manage your proofs in another organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45f0593d-9614-75c1-4791-c90b9786f83e
* Version Independent ID: fe06c5f2-911f-379a-4ccf-9e799ec8fa13
* Content: [Manage your organizations from the My Account portal - Azure AD](https://docs.microsoft.com/en

[2020-12-10 22:24] gkens commented on #67325
![image](https://user-images.githubusercontent.com/49233880/101837072-7bf17480-3b0c-11eb-88aa-c93f1c79e22f.png)

[2020-12-10 22:35] lmenten commented on #67052
Thanks, Alex!  I deleted the event-topic. endpoint, route etc and recreated those and the demo now works perfectly:

$dtId: thermostat67, Temperature: 69.21656564912598
$dtId: room21, Temperature: 69.21657

Thanks for your help!

[2020-12-10 22:36] SaiKishor-MSFT commented on #67104
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-10 22:36] #67104 closed

[2020-12-10 22:38] JamesTran-MSFT commented on #67325
@gkens
Thank you for the screenshot and quick response!

I was able to see the same thing on my end from within the Azure Portal:
![image](https://user-images.githubusercontent.com/36619112/101838046-d1218c00-3af4-11eb-8759-4e63c5dba62d.png)

Can you navigate to the below link and see if you can see the "Authenticator App" option:

**aka.ms/mfasetup**
![image](https://user-images.githubusercontent

[2020-12-10 22:40] softchris commented on #67432
sounds good, thanks.. maybe a separate issue but can you confirm if there are issues with the hot reloading? Cause I can't get it to work on 2.2.0, even though flag label and label in config is the same..

[2020-12-10 22:42] MarileeTurscak-MSFT commented on #67470
Thanks! I made a pull request to add a note about this.

[2020-12-10 22:42] #67470 closed

[2020-12-10 22:49] JamesTran-MSFT commented on #67506
@danmyhre
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-10 22:53] gkens commented on #67325
I can use the second link but My external guest and non guest users cannot

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077
Fax: 734 219-5469
glenn.kime@enspireditaa.com
www.enspireditaa.com

________________________________
From: James Tran-MSFT <notifications@github.com>
Sent: Thursday, December 10, 2020 5:38:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc

[2020-12-10 22:56] alexkarcher-msft commented on #67052
Woo! Glad to know you're all patched up Imenten.

@Mja101 , if something similar works for you feel free to close the issue.

[2020-12-10 23:02] James-Hamil-MSFT commented on #67387
Hi, @urjitgokhale , what are you using both App and Delegated permissions for? Usually apps have one or another. What are you using the Delegated permissions for? Could you possibly remove your Delegated permissions or use another app with App only permissions?

Best,
James

[2020-12-10 23:04] onionhammer commented on #52726
@ealsur Then perhaps the linq-to-cosmos query translation should be broken into a separate package?

[2020-12-10 23:19] Karishma-Tiwari-MSFT commented on #67013
The documents says,

The --scope for a resource needs to be a full resource ID, **such as**

This is shared just as an example and not specific to Azure CNI networking.

We will keep the doc as is for now. However, this issue created by you will stay with the doc for others to reference. As we receive similar feedback, we will consider updating the example. Thanks for bringing this to our attentio

[2020-12-10 23:19] #67013 closed

[2020-12-10 23:23] marlonsingleton commented on #67410
Thanks, James. I've sent the email along with the requested information. Looking forward to your response. You can ping me on Teams at alias masingle if that's quicker. Thanks again!

[2020-12-10 23:24] Karishma-Tiwari-MSFT commented on #67276
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-12-10 23:24] #67276 closed

[2020-12-10 23:25] Karishma-Tiwari-MSFT commented on #65785
Resolved with https://github.com/MicrosoftDocs/azure-docs/issues/67276

[2020-12-10 23:25] #65785 closed

[2020-12-10 23:27] navyasric commented on #66741
Please assign to @hamiltonha who is PM for MSAL JS

[2020-12-10 23:27] Karishma-Tiwari-MSFT commented on #67304
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-10 23:28] navyasric commented on #66739
Please assign to @hamiltonha -PM for MSAL JS

[2020-12-10 23:30] jlichwa commented on #65107
@epinto I see that faq was updated for Thales (Gemalto was acquired) and pointing out additional costs required and should be sourced from Thales. Please let us know if you need anything else.

[2020-12-10 23:32] Mja101 commented on #67052
@alexkarcher-msft

The function seems to trigger based off the logs in the portal.

![image](https://user-images.githubusercontent.com/30071614/101842415-15b43280-3b9c-11eb-94e8-c2ab91c4c391.png)

However, the invocations shows no runs.

Any ideas here?

![image](https://user-images.githubusercontent.com/30071614/101842454-2cf32000-3b9c-11eb-86ce-01f4b4c9e7bf.png)

[2020-12-10 23:41] alexkarcher-msft commented on #67052
That's a real puzzler. I know it does take a few minutes for the logs to show up in the invocations tab after they've gone through the live metrics stream.

More perplexing: Are you using the device simulator to send telemetry to IoT Hub? That should generate a message every few seconds and you'd see way more logs.

[2020-12-10 23:51] JasSuri commented on #65994
I updated the policy sample to reference the feet with SamlIdpCert instead of samlRpCert.

[2020-12-10 23:58] Mja101 commented on #67052
Yeah, it's very strange. Even after 5 minutes, nothing comes through.

I am using the device simulator. I can see numerous metrics in the ADT Topic under iot hub events but I'm unsure what to make of it. Not sure if the Delivery failed events is important here?

![image](https://user-images.githubusercontent.com/30071614/101844062-b0fad700-3b9f-11eb-89aa-936d8d124e48.png)

[2020-12-11 00:00] JamesTran-MSFT commented on #67325
@gkens
Thank you for the quick follow up, I ran into a similar issue after testing this out.

Navigating to "aka.ms/mfasetup" with my Guest user, I received the below error:

![image](https://user-images.githubusercontent.com/36619112/101843897-0d0e1e80-3b00-11eb-9706-bb54d39f63f6.png)

When going to that same link with a "Member", I was able to successfully log in.

I've reached out to our engine

[2020-12-11 00:06] JamesTran-MSFT commented on #67326
@speschka
I've reached out to our engineering team for an update on this issue and will let you know as soon as I receive anything from their end.

If you have any other questions in the meantime, please let me know.
Thank you again for your time and patience throughout this issue!

[2020-12-11 00:08] SaiKishor-MSFT commented on #67503
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-11 00:49] rbschneider commented on #67456
@dmc-tech Thank you for catching that. This has bee fixed internally and should be updated on the public-facing documentation site soon.

[2020-12-11 00:49] rbschneider commented on #67456
#please-close

[2020-12-11 00:49] #67456 closed

[2020-12-11 00:56] v-hakob opened #67513 "The link broken for the notes"
For ja-jp page, there is the note saying the contents are not supported in the language you use, and the English version is here which should have the link to the English page. Currently, the link is broken. Though I informed the cx the URL for English page, they requested to add the hypertext. Thank you..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-12-11 01:23] Karishma-Tiwari-MSFT commented on #67513
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-11 01:26] soheiokamoto opened #67514 "Incorrect Azure CLI parameter creating SAS token for a container with stored access policy"
For Azure CLI example creating SAS token for a container with stored access policy, I believe the parameters are not correct:
Instead of:
[code]
It should be:
[code]

`--name` should specify the container name, and the policy name should be specified with `--policy-name`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-11 01:44] Karishma-Tiwari-MSFT commented on #67252
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-11 01:45] ph479 commented on #67057
On Thu, Dec 10, 2020 at 08:32 JayaChatterjee-MSFT <notifications@github.com>
wrote:

--
null

[2020-12-11 01:51] Karishma-Tiwari-MSFT commented on #66925
Can you please explain your requirement to assign a dynamic public IP?

You can use the node label annotation `service.beta.kubernetes.io/azure-dns-label-name` as described in this documentation: https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard

Further, you would need to make sure the public IP address in the mc_*** resource group.
Alternatively you could configure which resource

[2020-12-11 01:56] JennyLJY commented on #67437
@AjayKumar-MSFT Thanks for your reply here.
Actually I have several questions regarding the scaling up.
Per description here, we will scale the azure firewall once the average cpu usage is above 60%. Could you please let me know what is the frequency for collecting the cpu usage?
https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#how-long-does-it-take-for-azure-firewall-to-scale-out
Also

[2020-12-11 01:58] scannme commented on #67228
@SubhashVasarapu-MSFT, ok, thanks.

[2020-12-11 01:59] yiliuTo commented on #67365
Hi @vipulsparsh , oh I didn't describe my question clearly. I can have the same result as you listed, but what makes me confused is that no matter if I configure a scope in `API permissions` or not (of course here all the permissions we discussed don't need admin consent), the access_token can contain it as long as it is requested and consented by the login user. Thus I want to know what is the ai

[2020-12-11 02:37] rwike77 commented on #62877
Hi everyone.  This problem appears to be caused by a known issue that engineering is working to resolve. We don’t have a specific ETA yet, but are hoping to have one soon.

[2020-12-11 02:55] ealsur commented on #52726
That could be a possibility based on the review of the Azure Core SDK board, yes. V4 is still a long ways off, when we get closer we'll review the options we are provided. In the meantime, please use V3 SDK for any production apps.

[2020-12-11 02:56] BharathNimmala-MSFT commented on #67488
@nikhilsinghmsft Thanks again for bringing this to notice, a PR has been raised to update the document and reflect the current portal UI representing TenantId. Once the PR is reviewed and approved it will be merged with the live document later in the week.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than wh

[2020-12-11 02:56] #67488 closed

[2020-12-11 03:44] martin389 opened #67517 "[azure-docs] Review the external links to GitHub Actions documentation"
The following docs contain external links to GitHub Actions content on [docs.github.com](https://docs.github.com/):

- [x] "Deploy to App Service using GitHub Actions": [[Published article]](https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions) - [[Markdown source]](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/deploy-github-actions.md).
- [x] "De

[2020-12-11 03:45] martin389 commented on #67517
👋 We'll be working on this with @juliakm.

[2020-12-11 04:01] CHEEKATLAPRADEEP-MSFT commented on #67514
@soheiokamoto  Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 04:03] lgayhardt commented on #66414
Hi @Quintinon

The Azure Gov IP addresses have been updated.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#azure-government

Thank you!

[2020-12-11 04:03] lgayhardt commented on #66414
#please-close

[2020-12-11 04:03] #66414 closed

[2020-12-11 04:08] gerhardcit opened #67518 "Function Runtime version 3 example required"
Please update sample to show the details of Function Runtime version 3.

[code]
=

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bd09899-bf7e-da8d-921b-6770befa4b31
* Version Independent ID: 058bf2f8-c0e1-f70e-3136-17d37b7c17f3
* Content: [Use JavaScript to create a chat room with Azure Functions and SignalR Service](

[2020-12-11 04:32] shashankkr opened #67519 "Does the explorer support session enabled queue or topic?"
Can I use the explore to receive or peek messages from a session enabled queue or subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4473571e-db99-fd3c-5861-1ba66e3a6890
* Version Independent ID: a2ebb61f-e901-a778-cca0-503fb10ae42b
* Content: [Use Azure Service Bus Explorer to perform data operations on Serv

[2020-12-11 04:40] VikasPullagura-MSFT commented on #67141
@girishgouda
I am closing the issue for now. However, once you have an update on the issue, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-11 04:40] #67141 closed

[2020-12-11 04:43] CHEEKATLAPRADEEP-MSFT commented on #67439
@johnmccauley1718  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-11 04:43] #67439 closed

[2020-12-11 04:43] AjayKumar-MSFT commented on #67517
@martin389, Thanks for taking time to share your valuable feedback and suggesting content improvements.

[2020-12-11 04:45] AshokPeddakotla-MSFT commented on #67379
Adding author @prashmo for further review and update the doc as appropriately.
@prashmo Please look into this feedback and provide your suggestions.

[2020-12-11 04:47] SnehaAgrawal-MSFT commented on #67518
@gerhardcit Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 05:01] SnehaAgrawal-MSFT commented on #67247
@jsandersrocks Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-11 05:06] AjayKumar-MSFT commented on #67437
@JennyLJY, Thanks for sharing the document URL and adding info. I'm assign this thread to SME in the area to assist you further.

[2020-12-11 05:15] andyghc commented on #50919
While this isn't a documentation issue, it is actually feature that ought to be able to be set whereby a customer can configure and reserve an IP address for a private endpoint.  As mentioned, if anything were to ever change with this IP address, it could take days to go through change control for firewall rules etc in enterprises.

There needs to be a way for a customer to statically allocate an

[2020-12-11 05:22] AjayKumar-MSFT commented on #67450
@MohdTalib006,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-12-11 05:22] #67450 closed

[2020-12-11 05:38] SwathiDhanwada-MSFT commented on #67399
@lee-alderdice-mgh I have reproduced the issue from my end, and the query provided in the document is indeed correct. For your reference, providing screenshot of the query executed in my environment.

![image](https://user-images.githubusercontent.com/48976275/101867339-e81db800-3ba0-11eb-9164-d6aee7144687.png)

Note : To verify the query , I changed the last line of query to check threshold below

[2020-12-11 05:38] #67399 closed

[2020-12-11 06:11] SwathiDhanwada-MSFT commented on #67382
@dineshpathapati There are [few built-in policies](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-policies) available for tag governance.  Among them, [one of the built-in policy](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2F1e30110a-5ceb-460c-a204-c1c3969c6d62) suits

[2020-12-11 06:18] rido-min commented on #67379
/c @dominicbetts

[2020-12-11 07:08] AnuragSharma-MSFT commented on #67363
@msdpalam I observed the similar behavior while creating the new graph containers.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-11 07:39] sudharsan2020 opened #67522 "Similar documentation across language platforms other than .NET"
- I could see most of the documentation stuffs are related to only .NET and not related to other programming languages.
- Its getting difficult to find resources for other programming language.-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3

[2020-12-11 08:11] danimir commented on #67399
Correct. If your CPU has not hit 95% at any time, there will be no long records, therefore error will appear. It might seem like the query is not working - but it is just not finding any records that your CPU went over 95%. Decreasing this threshold down to the percentage your CPU was utilized for the given time period will return a result. Hope this helps.

[2020-12-11 08:17] makan0 opened #67524 "counter-intuitive to demonstrate alert for successful run"
Hi,

To me it is counter-intuitive to demonstrate alerting on successful update deployment runs. In my world we would like an alert if update FAILED.

Please show a working example of that, instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b26e8f87-1ec9-0fdd-b4f9-7ad29ae2f2f5
* Version Independent ID: 46227d12-5a

[2020-12-11 08:42] agronholm commented on #48233
You should add this information to the actual documentation page. I found this issue looking for the same particular piece of info.

[2020-12-11 08:43] zhoulf1006 commented on #6808
Damm, What a rediculious stupid design!

[2020-12-11 08:59] lee-alderdice-mgh commented on #67399
Ah I see.  I did not grasp that at all then, wow.  Apologies for wasting your time there.
________________________________
From: Danimir Ljepava <notifications@github.com>
Sent: 11 December 2020 08:11
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Lee Alderdice <Lee.Alderdice@medigold-health.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure

[2020-12-11 08:59] oyvind-soroy commented on #54441
The documentation still has GetNativeSpatialAnchorPtr() which no longer works, and the implementation for handling anchors seems to be outdated as well.

[2020-12-11 09:01] ram-msft commented on #67447
@sdgilley Could you please update [doc  ](https://docs.microsoft.com/en-us/azure/machine-learning/concept-azure-machine-learning-architecture?source=docs#snapshots)for the diagram snapshot workflow.

![image](https://user-images.githubusercontent.com/49180516/101883515-5d978180-3bbd-11eb-8a42-c7c19a972921.png)

[2020-12-11 09:02] Sharmistha-Rai commented on #66332
@fearofweapons - I asked around - we only keep the agents and other bits that have been released in the last 18 months in our repositories. As the 9.7 release is way past the 18 month mark, we don't support it anymore. In case you're still on that version, then you can't upgrade directly. You will need to disable replication, install the latest version of agent and then enable replication again.

[2020-12-11 09:16] bpcastilho opened #67525 "beta endpoint recommended to be used without any disclaimer"
Under the section "How to detect inactive user accounts" we are recommended to use the user beta endpoint so we have access to signInActivity.
So it's ok to use beta endpoints in prod now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-40

[2020-12-11 09:20] fearofweapons commented on #66332
Many thanks.

From: Sharmistha Rai <notifications@github.com>
Sent: 11 December 2020 09:03
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Trusson <rich@trusson.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Link required to v9.7 (#66332)

@fearofweapons<https://github.com/fearofweapons> - I asked around - we only keep the agents and oth

[2020-12-11 09:41] AjayKumar-MSFT commented on #67441
@greendx, Thanks for sharing the document URL and additional details. We have assigned to an SME in this area who will assist you further on this.

[2020-12-11 09:59] cpinotossi opened #67526 "Azure File Sync and Storage Account Failover"
Based on the following documentation Azure File Sync does not support storage account failover:
Azure File Sync does not support storage account failover. Storage accounts containing Azure file shares being used as cloud endpoints in Azure File Sync should not be failed over. Doing so will cause sync to stop working and may also cause unexpected data loss in the case of newly tiered files._
(sourc

[2020-12-11 10:00] Nimleth opened #67527 "Wasn't this always your responsibility?"
Hi,

This document states:
"What does Azure Defender for App Service protect?
With the App Service plan enabled, Security Center assesses the resources covered by your App Service plan and generates security recommendations based on its findings. Security Center protects the VM instance in which your App Service is running and the management interface. It also monitors requests and responses sent

[2020-12-11 10:12] KrishnaG-MSFT commented on #67524
@makan0 Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-11 10:21] mikoiv opened #67528 "Licensing confusion in the documentation, Sentinel AAD Data Connector"
Regarding "Connect Azure Active Directory data to Azure Sentinel" documentation.

The docs state that _"Any Azure AD license (Free/O365/P1/P2) is sufficient to ingest sign-in logs into Azure Sentinel."_

I think this information is wrong, as the actual Sentinel user interface claims that P1 or P2 license is required.

Best regards, Mikko Koivunen

---
#### Document Details

⚠ *Do not edit this sec

[2020-12-11 10:24] hkorsvoll commented on #67344
I can confirm this. There is no section on the "My Account" page that refer to "Additional security verification" or "Create and manage app passwords".
Navigating directly to this endpoint: [https://account.activedirectory.windowsazure.com/Proofup.aspx](https://account.activedirectory.windowsazure.com/Proofup.aspx) displays the "Additional security verification" section, but there is no section fo

[2020-12-11 10:27] SumanthMarigowda-MSFT commented on #67230
@li1117heex  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-11 10:27] #67230 closed

[2020-12-11 10:27] SumanthMarigowda-MSFT commented on #67230
@li1117heex  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-11 10:44] dragosprie commented on #66888
Hello,
Can you provide me an update on this topic?
Thank you in advance.

[2020-12-11 11:15] npigit opened #67533 "Alter the new database name to match the original database name not possible"
The "Alter the new database name to match the original database name" part is not possible if the Azure SQL Managed Instance is member of a failover group:

Error message:
Msg 40680, Level 16, State 1, Line 1
The operation cannot be performed since the database 'DB_Name' is in a replication relationship.

Any suggestion?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-12-11 11:18] AnuragSharma-MSFT commented on #67533
@npigit Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-11 11:41] mcurko opened #67534 "How to check the certificate suitability?"
The article states: _The certificate's provider must be **Microsoft Enhanced RSA and AES Cryptographic Provider**_

I have examined my certificate this way:

[code]

Is this the provider required in the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 853125bc-3720-1031-f79e-21aafcd38ee1
* Version Independent ID

[2020-12-11 12:33] mcurko opened #67535 "Problem with the script setting ACLs"
I ran the script and found out that the access rights on the certificate private key (as seen through certlm.exe) were not changed.

I examined the script and ran it step by step, and found out that `$keyName = $cert.PrivateKey.CspKeyContainerInfo.UniqueKeyContainerName` is empty, because `$cert.PrivateKey` is empty, though `$cert.HasKey` is true (I'm not sure if it was named HasKey or something s

[2020-12-11 12:34] archiemaskill commented on #67255
Thanks for both of your responses. I worked through the guide a 3rd time, and it is working.  I'm afraid I have no idea what I did wrong the first two times!  Happy to close this issue.

[2020-12-11 12:34] #67255 closed

[2020-12-11 12:39] PaulVrugt opened #67536 "What exactly is a WCF app?"
The last part of the article talks about:

[code]

Is any web app containing WCF endpoints a WCP app? This isn't clear to me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0a4-a81a-23c7d2384762
* Content: [Set up staging environments - Azure

[2020-12-11 12:40] bjstigall opened #67537 "Document Links"
When providing a link in a step (like Go to Azure Portal), that link should open in a new tab or window so the instructions don't go away!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Quickstart: Add sign-i

[2020-12-11 13:54] #66332 closed

[2020-12-11 14:00] ChabaOk opened #67538 "Migrate from ASEv2 to ASEv3"
Will Microsoft provide the instruction or script guideline for migrating ASEv2 to ASEv3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd1a66-7ff7-c0da-b170-c302784221ae
* Version Independent ID: 4766d1de-b033-029a-9860-12a306195c72
* Content: [App Service Environment overview - Azure App Service Environment](https:

[2020-12-11 14:16] oaas opened #67539 "Really needs an explanation to explain the meaning of each log field"
The end user really needs an explanation to explain the meaning of each log field, otherwise it's very confused.

Good example can be found in https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-overview#log-format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126b2379-0219-e757-fea

[2020-12-11 14:25] yuriwoof opened #67540 "Need to specify detaild steps for vSphere RBAC permission settings"
For CSP section ("Enable Azure VMware Solution for CSP customers"), I think following 3 steps needed.

1. Add product
2. Request quota
3. Register resource provider

But it is not detailed about "the needed vSphere RBAC permissions are in place as a CSP".
Please describe it if this is necessary steps.

_After configuring the Azure plan and **the needed vSphere RBAC permissions are in place as a CS

[2020-12-11 14:27] bdschaap opened #67541 "Confirm or Clarify RemoteDnsQuestions field"
The docs state that the RemoteDnsQuestions field is reserved for future use.  However, the field is being set in my in Log Analytics workspace and sometimes differs from RemoteDnsCanonicalNames.  RemoteDnsQuestions appears to be set to the alias.  Can you confirm that the field is still reserved for future use?  Otherwise, if it's currently in use can you update the docs to describe the field?

--

[2020-12-11 14:28] barclayn commented on #66187
@arseyam Thank you for your feedback. You are right. To use listkeys you need to assign a different role. When using "Cosmos DB Account Reader Role"  you can read the readonlykeys so I have updated the example to use readonlykeys and included a pointer for additional information on Cosmo db roles.

[2020-12-11 14:28] barclayn commented on #66187
#please-close

[2020-12-11 14:28] #66187 closed

[2020-12-11 14:30] delradie opened #67542 "Incomplete details on the requirements for cluster certificates"
In the “Cluster and server certificate (required)” section of the page detailing how to configure a new cluster the list of requirements for the cluster management certificate is incomplete.

After experiencing severe issues in connecting with a new cluster, it has become apparent that in addition to the listed criteria you must also include the fully qualified address of the cluster in the list o

[2020-12-11 14:32] shortpatti commented on #67540
#assign @shortpatti

[2020-12-11 14:34] shortpatti commented on #67540
#assign @jreypo

[2020-12-11 14:36] AjayKumar-MSFT commented on #67519
@shashankkr, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-11 14:39] AjayKumar-MSFT commented on #67522
@sudharsan2020, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:40] AjayKumar-MSFT commented on #67525
@bpcastilho, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:42] AjayKumar-MSFT commented on #67526
@cpinotossi, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:45] AjayKumar-MSFT commented on #67527
@Nimleth, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:46] AjayKumar-MSFT commented on #67528
@mikoiv, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:48] wbvreeuwijk opened #67543 "Unable to setup service principal"
The documentation describes the service principal to be 'Purview PMI' however this is not available when setting up the access to the keyvault. The document is not clear on how to identify the correct service principal.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2039cb-fc85-a189-1938-57d102a

[2020-12-11 14:48] AjayKumar-MSFT commented on #67534
@mcurko, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:50] AjayKumar-MSFT commented on #67535
@mcurko, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-11 14:53] AjayKumar-MSFT commented on #67537
@bjstigall, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 14:55] agronholm opened #67544 "Response type of "token id_token" does not work"
Authorization using response type "token+id_token" did not work for me. I tried the following request:
[code]
It resulted in an unexpected error:
[code]
The error was mentioned in the documentation which provides an example query with the exact same parameter set.
It does not, however tell me anything about what could be wrong. What resource identifier could it possibly want from me?
I have enable

[2020-12-11 14:59] jcordtz opened #67545 "Wrong reference in text"
[Enter feedback here]
Their is an error in the text regarding the Atlas Endpoint
It states that -
Atlas endpoint:
"From the Azure Purview accounts page in the Azure portal, find and select your Azure Purview account in the list.
Select **Overview**, find Atlas Endpoint, and then select the Copy to clipboard icon to save its value. Remove the..."

It should be:
Select **Properties**, find.....

---

[2020-12-11 15:00] SwathiDhanwada-MSFT commented on #67541
@bdschaap Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-11 15:00] KoryKliner opened #67546 "Ensure SSH access is limited"
Ensure SSH access is limited security recommendation does not appear in the reference list and is a recommendation found in ASC.  Would expect to see reference here for that recommendation and what specifically triggers / remediates this recommendation.  I would imagine it is related to [this](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicr

[2020-12-11 15:00] azhuravs opened #67547 "Wrong link to Azure Storage Explorer"
[Enter feedback here]
It seems the link to Azure Storage Explorer provided in the article is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c14f046-8a16-65ac-2bb2-0740610e2b55
* Version Independent ID: 5a901ada-563e-378d-a9b8-fddd9059901b
* Content: [Lead management with Azure Table storage - Microsoft commercia

[2020-12-11 15:02] barclayn commented on #66040
@roehlsioson Thank you for your feedback. We have made some changes to help clarify the meaning in this article.

[2020-12-11 15:02] barclayn commented on #66040
#please-close

[2020-12-11 15:02] #66040 closed

[2020-12-11 15:03] ram-msft commented on #67445
@v-tawe Thanks, In speech Studio we could see the language dropdown at the Custom Keyword page.Please find the sanpshot for the same.
![image](https://user-images.githubusercontent.com/49180516/101918694-a9631e80-3bef-11eb-8bbe-8fc359e9439d.png)

[2020-12-11 15:12] jreypo commented on #67540
@yuriwoof That's a typo and should say _Azure RBAC_ permissiones instead. Will update the doc to correct it.

The recommended RBAC configuration for CSP subscriptions and the AOBO procedure are detailed in [Azure Partner Center](https://docs.microsoft.com/en-us/partner-center/azure-plan-manage) documentation.

[2020-12-11 15:13] sgreci opened #67548 "SQL Azure: Clarify usage of Private Endpoint with a Failover Group Endpoint"
Hello,
please can you clarify this doc:

https://docs.microsoft.com/en-us/azure/azure-sql/database/auto-failover-group-configure?tabs=azure-portal#use-private-link

and also this:

https://techcommunity.microsoft.com/t5/azure-sql/using-failover-groups-with-private-link-for-azure-sql-database/ba-p/1272902

I've read thourougly both the documentation and the blog post by @rohitnayakmsft, I followed

[2020-12-11 15:14] sgreci commented on #47707
I moved my request to issue https://github.com/MicrosoftDocs/azure-docs/issues/67548

[2020-12-11 15:17] fvarga01 opened #67549 "Explain the corresponding LUIS app portal/authoring region mapping to publishing region a little further"
section "Authoring key creation limits", statement "Make sure you create an app in the authoring region that corresponds to the publishing region where you want your client application to be located."

Someone may take this to mean that there should be a 1-1 mapping between authoring and publishing regions. For example, if your publishing region is in eastus, they may think the authoring region sh

[2020-12-11 15:18] #61685 closed

[2020-12-11 15:23] AjayKumar-MSFT commented on #67536
@PaulVrugt,  Thanks for leveraging Azure docs feedback channel to raise this question.

On App Service, for WCF the following bindings are supported:

BasicHttp
WSHttp
WSDualHttpBinding
NetHttpsBinding
BasicHttpContextBinding
WebHttpBinding
WSHttpContextBinding

So, [non-HTTP bindings](https://devblogs.microsoft.com/premier-developer/moving-legacy-asp-net-apps-with-windows-authentication-to-azure-

[2020-12-11 15:26] AjayKumar-MSFT commented on #67538
@ChabaOk, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:28] AjayKumar-MSFT commented on #67539
@oaas, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:30] AjayKumar-MSFT commented on #67542
@delradie, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:32] AjayKumar-MSFT commented on #67543
@wbvreeuwijk, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:32] #67547 closed

[2020-12-11 15:32] SwathiDhanwada-MSFT commented on #67547
@azhuravs Thanks for your feedback. I have made changes to the document and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-11 15:34] AjayKumar-MSFT commented on #67544
@agronholm, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-11 15:36] AjayKumar-MSFT commented on #67545
@jcordtz, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:37] AjayKumar-MSFT commented on #67546
@KoryKliner, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:37] PaulVrugt commented on #67536
@AjayKumar-MSFT
Thanks for the info, but this is not what I was asking.

My question was: "When is an application in an app service considered a `Windows Communication Foundation (WCF) apps`

This doesn't answer my question

[2020-12-11 15:40] AjayKumar-MSFT commented on #67549
@fvarga01, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:40] ESTOCKY opened #67550 "Documentation edit"
1) For consistency, should Step 2. in this document reference "**workspace1_SynapseAdministrators**" instead of "Assign the Storage Blob Data Contributor role to **workspace1_SynapseAdmins**"?

2) STEP 7.3: **SL** access control for workspace pipeline runs    Supposed to be **SQL** access

Thanks, Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-12-11 15:40] nitinme commented on #67549
@fvarga01 - Thanks for the feedback. A PR has been submitted with the fix. Should go live within the day.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/140713

#please-close

[2020-12-11 15:40] #67549 closed

[2020-12-11 15:41] spelluru commented on #23007
#please-close

[2020-12-11 15:41] #23007 closed

[2020-12-11 15:41] sdgilley commented on #67447
@mkiaei - thanks for your suggestion.  I can certainly see why you think these two diagrams are the same, but they aren't.  The snapshot diagram has a line showing that the snapshot gets added to storage from the client.  I've made that line red in the snapshot diagram so it's easier to see.

[2020-12-11 15:43] AjayKumar-MSFT commented on #67548
@sgreci, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 15:50] spelluru commented on #11481
The quick start has been updated recently. Please try and reopen the issue if you still run into the problem. Thanks.

#please-close

[2020-12-11 15:50] #11481 closed

[2020-12-11 15:52] shortpatti commented on #67540
Content updated

#please-close

[2020-12-11 15:52] #67540 closed

[2020-12-11 15:55] spelluru commented on #16554
The quick start has been updated recently. Please try again and let us know if you still run into the issue. Thanks.

#please-close

[2020-12-11 15:56] spelluru commented on #18728
This quick start has been updated recently. Please try and reopen the issue if you run into the problem again. Thanks.

#please-close

[2020-12-11 15:56] #18728 closed

[2020-12-11 15:58] spelluru commented on #19160
For more information on partitions, see https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions.

#please-close

[2020-12-11 15:58] #19160 closed

[2020-12-11 15:59] spelluru commented on #23757
The article was updated sometime ago.

#please-close

[2020-12-11 15:59] #23757 closed

[2020-12-11 16:05] #67447 closed

[2020-12-11 16:11] spelluru commented on #12411
Here is the latest content that will help:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md#publishing-events-with-a-partition-key

#please-close

[2020-12-11 16:13] spelluru commented on #15891
Reviewing this old issue. I will pass on this information to the PM. Thank you!

#please-close

[2020-12-11 16:13] #15891 closed

[2020-12-11 16:16] spelluru commented on #18447
This quick start was updated recently using the latest package. Please try again and let us know if you run into the problem. Thanks.

#please-close

[2020-12-11 16:16] #18447 closed

[2020-12-11 16:18] karavar commented on #66406
Being able to set password on a managed identity credential is not expected behavior and you should not take a dependency on it.

[2020-12-11 16:21] spelluru commented on #38599
This quick start has been updated recently. Please try again and reopen the issue if you run into the problem.

#please-close

[2020-12-11 16:21] #38599 closed

[2020-12-11 16:22] spelluru commented on #38603
This article and the sample used by the tutorial has been updated recently. Please try again and let us know if you run into the problem.

#please-close

[2020-12-11 16:22] #38603 closed

[2020-12-11 16:22] AshokPeddakotla-MSFT commented on #67371
Adding author @robinsh for further insights and update the doc.
@robinsh Haven't found more information please check this issue and update as appropriate.

[2020-12-11 16:26] iloving commented on #67344
It is as @hkorsvoll describes.  The domain settings have been configured as specified, but the App Passwords section just doesn't appear so I have no way of creating an App Password.

[2020-12-11 16:27] spelluru commented on #49471
Updated the code.

#please-close

[2020-12-11 16:27] #49471 closed

[2020-12-11 16:43] tesych commented on #58377
@atn832 you can find that information from PC supplier or the store where you are purchasing the PC.
@AshokPeddakotla-MSFT please close this issue.

[2020-12-11 16:47] tesych commented on #57381
@sedwardstx just follow [download links](https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download#windows-download-link)
@SnehaAgrawal-MSFT please close this issues.

[2020-12-11 16:48] tesych commented on #55418
@AshokPeddakotla-MSFT please close this issue.

[2020-12-11 16:49] AshokPeddakotla-MSFT commented on #58377
@tesych Thanks for the update.
@atn832 Hope that answers your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-11 16:49] #58377 closed

[2020-12-11 16:49] tesych commented on #53466
it has been updated. @asergaz please close this issue.

[2020-12-11 16:50] #55418 closed

[2020-12-11 16:51] cephalin commented on #61685
@iotalambda Sorry for the delay. The fix has been merged and will be published today.

[2020-12-11 16:51] tesych commented on #66050
Please assign @qm13

[2020-12-11 16:53] MarileeTurscak-MSFT commented on #67550
@ESTOCKY
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 16:53] tesych commented on #60575
yes, @AshokPeddakotla-MSFT please close this issue.

[2020-12-11 16:55] #60575 closed

[2020-12-11 16:55] JacobCarrell commented on #42737
For reference, the Microsoft documentation page for bastion host NSG's is now correct. https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg

I'll also note, that I agree that requiring bastion be 1) open to the internet at large and 2) requiring the opening of 3389 and 22 to be unacceptable. It should warn you about those, but not force them.

[2020-12-11 16:59] vhorne commented on #67250
redirecting article to the Workbook article
#please-close

[2020-12-11 16:59] #67250 closed

[2020-12-11 16:59] MarileeTurscak-MSFT commented on #67550
Thank you! I made a pull request to fix the name. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140720

It looks like someone else already fixed the SL/SQL typo.

[2020-12-11 16:59] #67550 closed

[2020-12-11 17:04] NavtejSaini-MSFT commented on #67353
@stevestein Please review the PR.

[2020-12-11 17:07] metoule opened #67554 "Python blob storage SDK: is UseDevelopmentStorage=true supported?"
The current documention explains how to use the SDK with an actual Azure blob storage connection string (e.g. `DefaultEndpointsProtocol=https;AccountName=...`), but doesn't say anything about local development.

With the other versions of the blob storage SDK (for example, C#), that connection string can be `UseDevelopmentStorage=true`, and the SDK will connect to the Microsoft Storage Emulator ru

[2020-12-11 17:07] NavtejSaini-MSFT commented on #67364
@danimir We are assigning this to you for further action.

[2020-12-11 17:09] AndrewPHunter opened #67555 "Alternative to PAT linking"
In the guidance for [linking Azure DevOps Repos](https://docs.microsoft.com/en-us/azure/devtest-labs/devtest-lab-add-artifact-repo#get-the-azure-repos-clone-url-and-personal-access-token) it specifies that we need to provide a PAT. This option does not seem viable for enterprise integrations as we wouldn't want to tie the connection to an individual user account.

Is there a better option similar

[2020-12-11 17:09] metoule commented on #67554
It seems it's [current limitation of the Python SDK](https://github.com/Azure/azure-sdk-for-python/issues/10040). Do you think you could add a 'Known issue' warning on the documentation page?

[2020-12-11 17:10] NavtejSaini-MSFT commented on #67389
@ninarn Please confirm if we have made any changes on UI for the Cx.

[2020-12-11 17:11] SatishBoddu-MSFT commented on #67394
Hello @ebertrams Could you please comment on this query!

[2020-12-11 17:11] NavtejSaini-MSFT commented on #67484
@SnehaGunda Can you please check this feedback and provide guidance.

[2020-12-11 17:14] kprunella commented on #65107
**We've updated Dedicated HSM HSM FAQ to note extra costs that may be incurred with service.**
[DHSM FAQ](https://docs.microsoft.com/en-us/azure/dedicated-hsm/faq)

_The following items will incur extra cost when using the Dedicated HSM service._

- Use of dedicated on-premises backup device is feasible to use with Dedicated HSM service, however this will incur an extra cost, and should be directl

[2020-12-11 17:19] NavtejSaini-MSFT commented on #67496
We have raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/140721 to enhance the verbiage. Once approved the changes will appear in 24 hours.

[2020-12-11 17:20] MonikaReddy-MSFT commented on #67140
@makushima - Hoping that the issue is resolved for you.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-11 17:20] #67140 closed

[2020-12-11 17:21] MonikaReddy-MSFT commented on #67105
@sanikolov - Thank you for being patient. I have raised an Incident Ticket with our internal team here and  once I get any response, I'll get back to you. Thanks again.

[2020-12-11 17:23] danimir commented on #67364
Hi there! Thanks for the note. The article you mention is linked from this page https://docs.microsoft.com/en-us/azure/azure-sql/database/intelligent-insights-overview#custom-integrations-of-intelligent-insights-log. This is by design and there was never an intent to include it in the main TOC, so this is all good. Thanks for reaching out to us.

[2020-12-11 17:24] NavtejSaini-MSFT commented on #67476
@pramodsb Can you elaborate your feedback, which part of the document you have this specific issue. Screenshot will help alot as well.

[2020-12-11 17:24] NavtejSaini-MSFT commented on #67480
@hrasheed-msft Please review the document and the feedback regarding the document enhancements and make changes if possible.

[2020-12-11 17:28] NavtejSaini-MSFT commented on #67500
@mhmmdrd We will be going ahead and closing this issue. If you have any other feedback regarding Github Documentation, please get back to us.

[2020-12-11 17:28] #67500 closed

[2020-12-11 17:33] tfitzmac commented on #67206
@SadiqhAhmed-MSFT - can you remove azure-resource-manager, and instead assign to app-service-web?

[2020-12-11 17:37] AlexandraKemperMS commented on #66865
Hi @SychevIgor, thanks for your feedback. This doc is in the process of being updated, and we will include more screenshots to make it easier to read from now on.

[2020-12-11 17:45] #65348 closed

[2020-12-11 17:45] cephalin commented on #65348
The fixed has been merged. It will be published today.

[2020-12-11 17:49] ebertrams commented on #67394
Hi @cveld, this article goes through the API Proxy in details: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-api-proxy-module?view=iotedge-2020-11
To answer your points:
- the api proxy only supports routing container images traffic to a single local container registry, which supports a single cloud container registry.
- the default blob environment variable is to route blob htt

[2020-12-11 17:59] #66406 closed

[2020-12-11 17:59] wangfeng9981 opened #67558 "Power BI - Azure Databricks why I could not using query to import or connect Databricks"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c70e9e-23d8-34f5-5997-80a3b62de184
* Version Independent ID: e572b453-4f63-fa34-5810-a9336c067ec3
* Content: [Power BI - Azure Databricks - SQL Analytics](https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-bi)
* Content Source:

[2020-12-11 17:59] jlichwa commented on #65107
#please-close

[2020-12-11 17:59] #65107 closed

[2020-12-11 18:01] jlichwa commented on #63939
That document is retired. Please use stackoverflow if you have more questions. #please-close

[2020-12-11 18:01] #63939 closed

[2020-12-11 18:07] lee-alderdice-mgh commented on #67399
Hi,

Please see the screenshot.  It's not about data returned but more that I am getting an error in the query.  In AzureDiagnostics I don't have the column avg_cpu_percent_s ... do you think I have set something up wrong to cause this?

![image](https://user-images.githubusercontent.com/75426032/101938725-c0981100-3bdb-11eb-82bb-60fb8f6d232c.png)

[2020-12-11 18:09] MashaMSFT opened #67560 "test issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bb61ecc-cde3-f110-eacb-ac98a8337362
* Version Independent ID: 4f162679-e83b-f964-610d-bd6603169391
* Content: [SQL Server to SQL Database - Migration guide - Azure SQL](https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/database/sql-se

[2020-12-11 18:10] #67560 closed

[2020-12-11 18:12] #67326 closed

[2020-12-11 18:12] jlian commented on #67371
Sorry, IoT Hub doesn't support resource specific mode yet. But we are working on it!

@bwren would you be able to help remove IoT Hub from this page?

[2020-12-11 18:18] danimir commented on #67399
In Azure Diagnostics you need to enable "ResourceUsageStats" This is because ResourceUsageStats contains vCores count, average CPU percentage, IO requests, bytes read/written, reserved storage space, and used storage space, as per the [documentation page](https://docs.microsoft.com/en-us/azure/azure-sql/database/metrics-diagnostic-telemetry-logging-streaming-export-configure?tabs=azure-portal#inst

[2020-12-11 18:33] cherylmc commented on #65806
Checking with the PM that owns this feature.

[2020-12-11 18:36] jeevansd commented on #66888
@dragosprie In this article we talk about how you can integrate AWS Console with Azure AD using our recommended way. The User Provisioning service here is not for provisioning users and groups but it actually get the Roles mapped to the IDP in AWS Account and then you can use that in the user and group assignment. With that Azure AD will use those roles information to send in the SAML token and th

[2020-12-11 18:36] jeevansd commented on #66888
#please-close

[2020-12-11 18:36] #66888 closed

[2020-12-11 18:38] marcmm opened #67561 "The example to retrieve azcopy url in Windows is not correct"
Windows | (curl https://aka.ms/downloadazcopy-v10-windows -MaximumRedirection 0 -ErrorAction silentlycontinue).headers.location
-- | --

It should use Invoke-WebRequest, as curl does not use this syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc

[2020-12-11 18:39] JamesTran-MSFT commented on #67528
@mikoiv
Thank you for pointing this out! I've created a PR to update the documentation with the correct licensing information, and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/101941153-717ebb80-3b9c-11eb-98ae-825261328a70.png)

I will now close out this issue. Please allow some time for the author to review and the chan

[2020-12-11 18:39] #67528 closed

[2020-12-11 18:51] benjamin-goldman opened #67562 "re the NSGs in this document even partially correct?"
[Enter feedback here]
missing: DNS
the outbound rules have direct conflicts that are not highlighted
you literally say "The last item in the list enables..." when the last item is a DENY rule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e56

[2020-12-11 18:53] normesta commented on #67561
Thanks @marcmm. Did you receive an error when you tried the approach shown in the docs? I tried both ways and they both worked (the published version and your suggested version). I'm using Windows PowerShell.

[2020-12-11 19:03] diberry opened #67564 "Core tools installed with Extension?"
Does the Functions extension for VSCode install the Core tools for me or do I need to do that? It isn't listed as part of the things I need to do to configure my environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b14560cd-c161-dfd7-671c-3ebcb931740b
* Version Independent ID: aa145754-fb80-e3cb-59bf-be2b07df273

[2020-12-11 19:08] JamesTran-MSFT commented on #67407
@xelossan
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

Thank you for your time and patience throughout this issue.

[2020-12-11 19:08] JeremyTBradshaw commented on #67001
I just hit this issue.  Blocking Android/iOS for all client/cloud apps, and all users, excluding Hybrid Azure AD Joined and Devices marked as compliant.  WOn't save, same pink error box which takes you over to[ this page](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview#what-you-should-avoid-doing) that has zero helpful insight, not to mention the "What you shoul

[2020-12-11 19:12] #67261 closed

[2020-12-11 19:13] spelluru commented on #58011
This tutorial has been updated recently. Cleaned up some.

#please-close

[2020-12-11 19:13] #58011 closed

[2020-12-11 19:20] ggailey777 commented on #67564
The Functions extension is supposed to install or update Core Tools as needed. Currently this is why Node.js (npm) is required for Windows installs. We're supposed to be moving to using the .msi instead soon on Windows. Please feel free to IM me directly if you have other questions about the quickstarts #please-close

[2020-12-11 19:20] #67564 closed

[2020-12-11 19:22] panitaxx opened #67565 "say-as interpret-as number cardinal not the same"
Hello,

`<say-as interpret-as="number">` does not work like described on this documentation. After trying ssml
[code]
I then tried

[code]

So I don't know if documentation is wrong or  product has a bug but from what I read both are intended to work the same way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f

[2020-12-11 19:24] BryanTrach-MSFT commented on #67261
@xuehongg Thank you for the feedback. We agree that this would be a great additional resource. We merged a pull request and the changes should be visible within 24 hours.

[2020-12-11 19:29] GiftA-MSFT commented on #67565
@panitaxx we'll review your feedback and get back to you shortly, thanks.

[2020-12-11 19:30] DerekHerman-MSFT commented on #67466
@Talaria89 Could you provide the AzCopy command you are using(minus the personal information) as well as the version of AzCopy and platform you are running this on?

[2020-12-11 19:30] hrasheed-msft commented on #67143
@lesterw1 We'll assume that you've gotten the issue resolved. Please let us know if you have any other questions.

#please-close

[2020-12-11 19:30] #67143 closed

[2020-12-11 19:34] jmprieur commented on #67537
@mmacy do you know how we do that in docs.ms?

[2020-12-11 19:36] fatinebennani opened #67566 "Is BYOL not an listing type for Azure application"
@mike11stevens
in the "Listing and pricing options by online store" section, the table shows BYOL for "Azure Application". This doesn't line up with Partner Center experience. If this is shown because of ability to provision VM template (Transact or BYOL), this needs to be clarified in documentation or footnote.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-12-11 19:59] hrasheed-msft commented on #67102
@msdpalam We've updated the document based on your suggestions.

#please-close

[2020-12-11 19:59] #67102 closed

[2020-12-11 20:00] nslindtner opened #67568 "Error in Yaml file for github action"
Page not working with github yams workflow editor.

Error in line 18.

Looks like the Azure login steps isn't completed somehow (haven't managed to find a solution)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aef74eb-a8c5-0251-82f6-0cba6f58d712
* Version Independent ID: fa7b29e1-f341-e7ac-f4a8-d04602e2cd0f
* Content

[2020-12-11 20:00] nslindtner opened #67569 "Error in Yaml file for github action"
Page not working with github yams workflow editor.

Error in line 18.

Looks like the Azure login steps isn't completed somehow (haven't managed to find a solution)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aef74eb-a8c5-0251-82f6-0cba6f58d712
* Version Independent ID: fa7b29e1-f341-e7ac-f4a8-d04602e2cd0f
* Content

[2020-12-11 20:14] cutecycle commented on #67411
I've realized the folly of my ways:

-rgName and -rgLocation aren't parameters of Get-AzSubscriptionDeployment, they're parameters of the template referenced in -TemplateUri.

[2020-12-11 20:27] NavtejSaini-MSFT commented on #67558
@wangfeng9981 We are checking this and we will get back to you.

[2020-12-11 20:35] viseshag commented on #67543
@wbvreeuwijk Can you please clarify your question? Which article are you referring to?

[2020-12-11 20:36] Exagram opened #67570 "Add documentation for ASP.NET Web API"
Hi Microsoft,

I see you have provided examples with ASP.NET Core but not ASP.NET. I want to verify my understanding.

If I have a SPA that talks to a protected ASP.NET Web API:

- SPA app handles OAuth 2 Auth Code with Azure AD and receives id token/access token
- SPA app talks to my Protected Web API and passes the bearer token in the HTTP Header
- Web API uses the `TokenValidationHandler` to pa

[2020-12-11 20:39] viseshag commented on #67296
@ssugar Unfortunately we are taking this article down for now. We will re-publish the article once the new PowerShell cmdlets are available since they are still in the process of being developed. #please-close

[2020-12-11 20:39] #67296 closed

[2020-12-11 20:39] DavidMwihuri01 commented on #65994
@rbrayb thanks for your feedback on this issue #please-close.   @JasSuri thank you for updating the policy sample.

[2020-12-11 20:39] #65994 closed

[2020-12-11 20:40] viseshag commented on #67448
@jamserra Unfortunately we are taking this article down for now. We are still in the process of developing the updated cmdlets. #please-close

[2020-12-11 20:40] #67448 closed

[2020-12-11 20:44] roygara commented on #67113
Hello again @dingoryan, I've been seeing some weird behavior. But the parameter shows up for me now. Can you try updating your module via `Update-module -Name Az` and repeating the process? It should work after that.

[2020-12-11 20:50] viseshag commented on #67401
@NavtejSaini-MSFT Working on the doc update required here, will have the PR out by today

[2020-12-11 20:53] azure2439 opened #67572 "DB2 Source - Copy Activity Error - The package corresponding to an SQL statement execution request was not found. SQLSTATE=51002 SQLCODE=-805"
We are using an Account with Admin credentials for the Copy Activity and getting the error message when trying to run a Query or Preview Data from any table on the DB2 Database. Could you please suggest what additional configurations need to be done to resolve this error please or what we are missing?

Version: IBM DB2 for i 7.3

"The package corresponding to an SQL statement execution request was

[2020-12-11 21:03] AlexandraKemperMS commented on #67432
Hi @softchris, to address your original concern, yes the Cache expiration field has been renamed and this needs to be updated. Thank you for pointing this out.
Could you elaborate on what issues you are having for hot reloading? We do not have any issues with refresh right now on our side. Labels are not a part of this tutorial. Are you calling UseFeatureFlags() and querying for your label in your

[2020-12-11 21:04] #65630 closed

[2020-12-11 21:09] WinstonHoward-MSFT commented on #67270
Hi @mcurko, yes this means your dev machine needs to be running Windows Server. See this section of the doc:

That being said this [guide here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-debug-windows-containers) shows how to configure Windows 10 to run Windows Containers. The guide your discussing is for a deployment target of a Windows Server.

As for your statem

[2020-12-11 21:09] #67270 closed

[2020-12-11 21:10] LukeChung opened #67573 "Cost Differences?"
Are there any extra costs or storage associated with this feature or is this part of the App Service Plan fee and storage space? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1a8ab-c577-b9e8-b46e-28e0a90a0eae
* Version Independent ID: b716dcf9-1faf-fe60-b7be-f2bec92adbb5
* Content: [Local cache - Azure App

[2020-12-11 21:11] DerekHerman-MSFT commented on #67554
@metoule Thanks for your feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-11 21:13] MonikaReddy-MSFT commented on #67555
@AndrewPHunter -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-11 21:14] rbschneider commented on #67435
I work with Micheal. I will dive into this one later today or Mon AM.

[2020-12-11 21:14] MonikaReddy-MSFT commented on #67566
@fatinebennani -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-11 21:14] ecfan commented on #34843
Hi @apaulro, thanks for your feedback! This issues repo is for doc issues, so for product help, please post instead in the [Microsoft Q&A forum with the tag `azure-logic-apps`](https://docs.microsoft.com/answers/topics/azure-logic-apps.html)? Thanks!

[2020-12-11 21:20] JamesTran-MSFT commented on #67489
@itishnitsa
Thank you for your time and patience throughout this issue. I've reached out to my team regarding this and will update as soon as possible.

[2020-12-11 21:23] hophanms commented on #67464
Thank you. This is how fixed.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/140770
#please-close

[2020-12-11 21:23] #67464 closed

[2020-12-11 21:23] mmacy commented on #67537
@jmprieur Yes, though we need to apply it _very_ judiciously. A link to the Azure portal in the first step of a series of steps is one of the very few situations that qualify for this, so @bjstigall's suggestion here is something we can consider adopting here and in docs with similar procedures.

@msewaweru is currently doing a consistency pass on all articles that contain app registration steps,

[2020-12-11 21:24] sgrajan1 opened #67574 "What gateway we used for HA in azure postgresql"
I have seen gateway in the azure postgresql HA diagram. What kind of Gateway/Porxy we have to install?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3403c322-49e6-3ff5-4c02-1f9e83bbe6cf
* Version Independent ID: 5242d7c0-2b2d-e16e-2c81-1b28477a1a84
* Content: [High availability - Azure Database for PostgreSQL - Single

[2020-12-11 21:26] NavtejSaini-MSFT commented on #67569
@nslindtner We are checking this and we will get back to you.

[2020-12-11 21:30] NavtejSaini-MSFT commented on #67568
@nslindtner We are going ahead and closing this as duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/67569

[2020-12-11 21:30] #67568 closed

[2020-12-11 21:35] NavtejSaini-MSFT commented on #67573
@LukeChung We are checking this and will get back to you.

[2020-12-11 21:37] NavtejSaini-MSFT commented on #67562
@benjamin-goldman We are checking this and we will get back to you.

[2020-12-11 21:38] drguthrie commented on #66379
In addition, we have recently discovered that vCPU for ACI includes Hyperthreading (HT). So you may be even more disappointed to learn that your second "vCPU" is actually just a HT and is in no way close to equal to doubling your processing. If you then go to 3 vCPU you jump to 2 cores + 2 HT (although you are limited to 3000 milli cpu) BUT you appear to get access to 2 physical cores. We have bee

[2020-12-11 21:38] NavtejSaini-MSFT commented on #67570
@Exagram We are checking this and we will get back to you.

[2020-12-11 21:47] rido-min opened #67575 "az webapp up does not support --os-type parameter"
Following this tutorial I found the error

[code]
AZ version

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Create a C# ASP.NET Core app - Azure App Service](https://docs.microsoft.com/en-

[2020-12-11 22:01] NavtejSaini-MSFT commented on #67572
@azure2439 This feedback channel is for any feedback associated with the Github Documentation. Please share the link of the document regarding which this feedback is so that we can route it correctly for proper help.

[2020-12-11 22:04] azure2439 commented on #67572
Apologies, my question is related to this Microsoft document link. If this is not the place to post, please go ahead and delete the comment or close with a comment

https://docs.microsoft.com/en-us/azure/data-factory/connector-db2

[2020-12-11 22:14] NavtejSaini-MSFT commented on #67560
Case closed as test by PG

[2020-12-11 22:16] Blackbaud-ChristiSchneider opened #67576 "Unauthorized response when following quick start guide and don't know how to fix"
I'm following the quick start guide to using the Spell Check API with the C# SDK.

The link to [Bing Spell Check resource](https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesBingSpellCheck-v7) does not resolve presumably because of the warning at the top of the guide that we must use Bing Search Services.

I've provisioned a Bing Search resource and grabbed a key from the "Keys and End

[2020-12-11 22:17] ESTOCKY commented on #65302
We are also attempting to use this functionality and would like to see the documentation updates.  Thank you!  Eric

[2020-12-11 22:47] MarileeTurscak-MSFT commented on #67344
Thank you, I have reached out to the product team to see why this is happening. @Justinha can you please check this?

[2020-12-11 22:51] MicrosoftGuyJFlo commented on #67219
@gkens Go Bucks! Too bad we don't get to play this weekend!

[2020-12-11 22:52] MarileeTurscak-MSFT commented on #67483
@TerryLanfear can you help answer this? AWS still cites 1.25 but I see some places saying that gen2 is 3.5

[2020-12-11 22:58] bargor-code commented on #67052
I went through the entire process for me and worked. One thing to note is that the topic name referenced at the start the name. **Must** be the same topic name that is created later in the process.  I know that sounds obvious however when creating the initial event the naming of the topic was not specified as important. As a result, I used a different name when it came to creating the topic. Which

[2020-12-11 23:00] WinstonHoward-MSFT commented on #67309
Hi @magooster ,

So firstly yes your correct to get it to work you need to force the network plugin to azure and I've made a PR to update the doc.

As for your question regarding creating pod-managed identities with the kubenet provider instead of the azure network provider because this feature in in preview I'm unable to share additional details at this time.

[2020-12-11 23:02] MarileeTurscak-MSFT commented on #67472
Thank you for this feedback! There was a note added to revisit this and add this update in the future, so it is in the works.

[2020-12-11 23:02] #67472 closed

[2020-12-11 23:09] #67309 closed

[2020-12-11 23:12] MarileeTurscak-MSFT commented on #67471
Thanks. I made a pull request to note this. https://github.com/MicrosoftGuyJFlo/azure-docs-pr/pull/25

[2020-12-11 23:12] #67471 closed

[2020-12-11 23:13] sqlworldwide opened #67578 "PIT Backup retention needs an exception for Basic tier"
For backup retention, Basic only allows up to 7 days and NOT 35 days. Need to mention it clearly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Compare the database engine features of SQL Database and SQL Ma

[2020-12-11 23:22] MarileeTurscak-MSFT commented on #67527
Hi Dennis,

One of the major benefits is that you get the security recommendations that help you to make the best decisions and it can detect attacks through that log data. You get richer insights and more detailed information. It helps you to discover vulnerabilities and protect against threats.

One you have enabled it on the subscription it gives you the benefits of Security Center for your app

[2020-12-11 23:22] #67527 closed

[2020-12-11 23:23] MarileeTurscak-MSFT commented on #67574
@sgrajan1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 23:24] MarileeTurscak-MSFT commented on #67575
@rido-min
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 23:25] MarileeTurscak-MSFT commented on #67576
@Blackbaud-ChristiSchneider
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 23:28] MarileeTurscak-MSFT commented on #67578
@sqlworldwide
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-11 23:31] MarileeTurscak-MSFT commented on #67578
Thanks. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140800

@jovanpop-msft please confirm

[2020-12-11 23:31] #67578 closed

[2020-12-11 23:40] Karishma-Tiwari-MSFT commented on #66925
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-11 23:40] #66925 closed

[2020-12-11 23:58] cherylmc commented on #65806
Here is the flow, per the PM: After user enters the VM Credential, a webclient session is launched which is an authenticated session validated by TLS . Webclient than forwards the credential to Bastion over TLS which is then used to establish an SSH or RDP connection.

[2020-12-11 23:59] cherylmc commented on #65806
#assign:ajitbhu

[2020-12-11 23:59] PRMerger20 commented on #65806
ajitbhu is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-12-11 23:59] sebansal commented on #67393
@msfcolombo can you help review feedback on https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=cli#add-private-dns-records

[2020-12-12 00:00] WinstonHoward-MSFT commented on #67355
Hi @mcurko , please ensure your running Visual Studio 2019 as admin and using the Service Fabric 2.0 SDK. I'm able to debug my SF cluster following this quickstart. You may need to open a support case if your continuing to have trouble.

[2020-12-12 00:00] #67355 closed

[2020-12-12 00:00] dargilco opened #67580 "The ".NET SDK" link should point to the page listing all speech namespaces"
The ".NET SDK" link now points to:
https://docs.microsoft.com/dotnet/api/microsoft.cognitiveservices.speech?view=azure-dotnet

It should link to the overview page showing all name spaces in Speech:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/cognitiveservices/client/speechservice?view=azure-dotnet

Thanks,

Darren

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-12-12 00:29] WinstonHoward-MSFT commented on #67376
Hi @bobbybhaskar ,

That script in the quickstart is intended for an `UbuntuLTS ` image.

Azure Supports `cloud-init` for a number of CentOs images. See the list [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#centos) to ensure your using the correct version for your script. This doc [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cl

[2020-12-12 00:30] #67376 closed

[2020-12-12 00:31] Karishma-Tiwari-MSFT commented on #67343
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-12 00:48] Karishma-Tiwari-MSFT commented on #67424
We appreciate your valuable feedback. Since this document is specific to AKS, we would leave the doc as is for now. However, this GitHub issue will stay with the document for others to reference. As we get similar feedback from other customers, we would consider updating the document with your feedback to simplify it.

Thanks for bringing this to our attention. We will now close this issue. If the

[2020-12-12 00:48] #67424 closed

[2020-12-12 00:52] #62021 closed

[2020-12-12 02:14] c0g1t8 commented on #66237
@asears @SumanthMarigowda-MSFT

Shouldn't this documentation enhancement be for https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite page?

This page is for the **Azure Storage Emulator** and should stay focused on it.

[2020-12-12 04:10] rspiewak47 commented on #67424
I get that this is AKS specific. But you shoukd acknowledge that K8s has platform independent features that may be useful to Azure users.
-------- Original message --------From: Karishma Tiwari - MSFT <notifications@github.com> Date: 12/11/20  7:48 PM  (GMT-05:00) To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com> Cc: rspiewak47 <rickspiewak@gmail.com>, Mention <mention@noreply.github.co

[2020-12-12 04:20] AjayKumar-MSFT commented on #67580
@dargilco, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-12 04:23] 2sharjoshi opened #67586 "How do I know if I have exceeded the flows limit on a vm ?"
How will anyone know the flows limit is exceeded? (Will there be a notification?)
On Azure Monitor page for vm, what time basis(for eg. 30 min/1 hour/1 day) should I verify sum of inbound and outbound flows to ascertain the limit is exceeded before upgrading the vm? Is there a reset time by when we can expect normal operations(good network performance) if the limit is exceeded?

Edited: Added doc

[2020-12-12 04:55] AjayKumar-MSFT commented on #67586
@2sharjoshi, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-12 05:21] 2sharjoshi commented on #67586
@AjayKumar-MSFT : I am referring to this documentation on virtual-machine-network-throughput [https://docs.microsoft.com/en-us/azure/virtual-network/virtual-machine-network-throughput]

[2020-12-12 08:28] michevnew opened #67587 "Missing picture"
The "Direct licenses coexist with group licenses" section seems to be referring to a picture that is no longer part of the text. This in turn makes it a bit harder to follow the text. Please re-add the picture or update the text as needed.

Here's the relevant passage:
_The On/Off toggle in the **illustration** was enabled for this service, as opposed to the other service toggles_

---
#### Docume

[2020-12-12 11:54] DiVojic opened #67588 "Can't find settings"
Hi all,
when I create Recover Vault service, I click on it, but can't find settings/properties anywhere for specific vault.
any idea?
Kr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3447ce-fb16-f2ec-126e-91168af07bd1
* Version Independent ID: 65048fd2-f450-2046-115d-3846a6f5be1a
* Content: [Back up Azure VMs in a R

[2020-12-12 13:18] AjayKumar-MSFT commented on #67587
@michevnew, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-12 13:31] ErikMogensen commented on #67259
I got an answer from @vladvino that "If it's not on the list, there is no *imposed* limit." so closing this.

[2020-12-12 13:31] #67259 closed

[2020-12-12 14:06] AjayKumar-MSFT commented on #67588
@DiVojic, Thanks for leveraging Azure docs feedback channel to raise this question.
I just tried a repro, from the new Recovery Vault, select _Properties_ in the _Settings_ section.
![RecoveryVaultRepro](https://user-images.githubusercontent.com/44606227/101985975-17bbe580-3cb1-11eb-8731-d79ff37b9db4.gif)

Kindly let us know if you see something different and do share a screenshot after concealing

[2020-12-12 15:07] tmmueller opened #67589 "Upload file content option"
Please document the "Upload file content" option for Windows Files in FIM. What does this do, and how should I decide whether to use it?

![image](https://user-images.githubusercontent.com/1289959/101987344-24145400-3c59-11eb-86ba-137a1e0f60ad.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38d9c239-5c29-7164-f604-

[2020-12-12 15:09] AjayKumar-MSFT commented on #67586
@2sharjoshi, Thanks for sharing the document URL. For further assistance on this thread/issue, I' have assigned an SME in this area.

[2020-12-12 15:11] tmmueller commented on #67589
This might belong on the [FIM docs page](https://docs.microsoft.com/en-us/azure/security-center/security-center-file-integrity-monitoring) instead. But the Documentation link inside FIM points to this page.

![image](https://user-images.githubusercontent.com/1289959/101987468-e532ce00-3c59-11eb-84b5-22d5ebd7d986.png)

[2020-12-12 16:41] NavtejSaini-MSFT commented on #67589
@tmmueller We are checking this and we will get back to you.

[2020-12-12 17:26] gb5757870 opened #67590 "Repetition of word "subscription""
Repetition of word "subscription" for command following "If you have multiple subscriptions and want to specify one, use the Get-AzSubscription cmdlet to list them, followed by the Set-AzContext cmdlet:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID: 66c3e9

[2020-12-12 17:33] MarileeTurscak-MSFT commented on #67590
@gb5757870
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-12 17:49] MarileeTurscak-MSFT commented on #67590
Thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140824

[2020-12-12 17:49] #67590 closed

[2020-12-12 19:02] sr-msft commented on #67574
Hello @sgrajan1, when you deploy a Azure Database for PostgreSQL - Single Server, the gateway is automatically configured for all your client connectivity. You don't have to install one separately.  I will look into updating the doc to clarify that. Thanks!

[2020-12-12 19:13] iwannabebot opened #67591 "Authoring log properties schema missing"
**Authoring** log properties schema missing

For reference:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-job-diagnostic-logs#execution-log-properties-schema

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee281e2-cd69-9f1b-e400-ffeca0644607
* Version Independent ID: b7a6ffd8-15a3-1d37-9de1-f

[2020-12-12 19:25] gregtampa commented on #21025
Im having same issue and since you failed to resolve it publicly.. can i get a free support request too?

[2020-12-12 19:26] gregtampa opened #67592 "https://github.com/MicrosoftDocs/azure-docs/issues/21025"
https://github.com/MicrosoftDocs/azure-docs/issues/21025

i have same error.

[2020-12-12 19:36] mcurko opened #67594 "FabricClient in C#"
Is it advisable to create a FabricClient instance and keep it for the lifetime of the service (due to its high creation cost)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5a3ffd-a040-465e-949a-67183fa6d722
* Version Independent ID: 0e4dde2e-b4dd-d2d6-8b4e-e67f2f43b828
* Content: [Azure Service Fabric deployment wi

[2020-12-12 19:40] QiMata opened #67595 "Package 'libssl1.0.2' has no installation candidate"
"Debian 10 systems, including Raspberry Pi OS Buster, use a version of OpenSSL that IoT Edge doesn't support. Use the following command to install an earlier version before installing IoT Edge:

sudo apt-get install libssl1.0.2"

Running this on Debian 10.7 I receive Package 'libssl1.0.2' has no installation candidate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-12-12 19:50] gregtampa commented on #67592
solved by changing ipsec.conf link
leftfirewall=yes  to no

[2020-12-12 19:50] #67592 closed

[2020-12-12 19:58] DevOps801 commented on #63550
I got here and found the answer provided by ChaitanyaNaykodi confusing. In my project, I'm using Azure function QueueTrigger. The default function signature had, [QueueTrigger("BlahblahblahQueue", Connection = "AzureWebJobsStorage")] **String** myQueueItem, ILogger log. I changed String myQueueItem to use, CloudQueueMessage myQueueitem, so I can access like so, myQueueItem.DequeueCount. But it tur

[2020-12-12 20:09] sean-keane25 opened #67596 "Doc needs to be updated for new approach"
This AKS git hub issue points out that approach is no longer possible.

https://github.com/Azure/AKS/issues/1819

So the doc should be updated with the new approach. The AKS issue 1819 references using kubectl-node-shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Inde

[2020-12-12 20:30] csmcallister commented on #63550
@DevOps801 Azure increments the count for you. No need to do it yourself. You can access that count attribute to know at function runtime if you've received a message that errored previously.

In sum, a successfully processed message will be automatically removed from the queue when you are using the queue trigger binding. That behavior might be different if you're not using the binding (at least

[2020-12-12 20:57] DevOps801 commented on #63550
I don't always get frustrated and wind up asking for "sanity checks" but, when I do, goodness gracious the answers I get are very liberating. **THANK YOU!** Have a safe and Merry Christmas.

[2020-12-12 21:47] Duchynko commented on #26454
After a couple of deployments, I'm unable to access Kudu (Advanced Tools), SSH, or even Log Stream. I keep getting 503 Service unavailable. This is really frustrating.

Why isn't there any proper documentation to do this? There's a python example in Azure docs, but nothing for Node.js.

[2020-12-12 22:19] sovaska opened #67597 "Add role assignment by using ARM template"
Is it possible to add role assignment to Service Bus by using ARM template? There are samples how this is done by using Portal and by using az, but not for ARM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c25a321-1f2d-4fec-a957-cfca751941df
* Version Independent ID: 9e73bfda-aa08-ee1f-2c17-5cbabe9155b9
* Content: [

[2020-12-12 22:22] CyCodeDev commented on #58527
Also a roadblock for enterprise projects:

@CHEEKATLAPRADEEP-MSFT please advise on the latest. Unable to perform a bulkinsert from a dataframe:

Running several libraries, but notable are:
com.microsoft.azure:azure-sqldb-spark:1.0.2
Scala 2.12
Apache Spark 3.0.1

Please advise

[2020-12-12 22:31] NavtejSaini-MSFT commented on #67594
@mcurko We are checking this and we will get back to you.

[2020-12-12 22:33] NavtejSaini-MSFT commented on #67596
@sean-keane25 We are checking this and we will get back to you.

[2020-12-12 22:36] NavtejSaini-MSFT commented on #67595
@QiMata We are checking this and we will get back to you.

[2020-12-12 22:38] NavtejSaini-MSFT commented on #67597
@sovaska We are checking this and we will get back to you.

[2020-12-12 22:39] NavtejSaini-MSFT commented on #67591
@iwannabebot We are checking this and we will get back to you.

[2020-12-12 22:43] artisticcheese opened #67598 "What is the reason to require blueprintid in assignment file if Blueprint is already passed to cmdlet?"
Confused with wording here https://docs.microsoft.com/en-us/azure/governance/blueprints/how-to/manage-assignments-ps#example-2-use-a-json-assignment-definition-file which using assignment file with published blueprint id as part of it. What is reason to have blueprint -Blueprint parameter in such cases. (Example is below https://docs.microsoft.com/en-us/powershell/module/az.blueprint/new-azbluepri

[2020-12-12 23:37] Supraconductor commented on #67483
Hi,
Gen 2 is up to 10Gbps.

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways

S.

Le 11 déc. 2020 à 17:52, Marilee Turscak - MSFT <notifications@github.com> a écrit :

﻿

@TerryLanfear<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FTerryLanfear&data=04%7C01%7C%7C2df053184034449f9ca908d89e277232%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7

[2020-12-13 01:19] BharathNimmala-MSFT commented on #67232
@dpapkin Really appreciate your feedback to improve our Azure documentation. I have raised a PR to reflect the feedback, once its reviewed and approved it will be merged with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, however if you have any furthe

[2020-12-13 01:19] #67232 closed

[2020-12-13 02:47] KrishnaG-MSFT commented on #67598
@artisticcheese Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-13 03:22] pramodsb commented on #67476
This the section on "Manage a Python Wheel". The path provided to upload the whl file is abfss://<file_system>@<account_name>.dfs.core.windows.net/synapse/workspaces/<workspace_name>/sparkpools/<pool_name>/libraries/python/

However such a path does not exist (there is no directory "python" inside "libraries"; creating one does not work). What works is when I include the whl file as a part of the

[2020-12-13 04:39] NavtejSaini-MSFT commented on #67592
@gregtampa Thank you for posting the answer.

[2020-12-13 08:09] assaf-grth opened #67601 "Older generation VMs support"
Hi,
Regarding older generation VMs, is there a support end date for these types of machines?
I'm considering using an A0\Basic_A0 machine due to better pricing fit and want to verify its lifecycle support will not change my decision

Thanks,
Assaf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616242df-d3da-e9b3-73b0-f

[2020-12-13 08:49] JayaChatterjee-MSFT commented on #67366
@sandeep-ma Apologies for the inconvenience. We had an internal discussion. You may post a feedback for the product following the link : https://feedback.azure.com/forums/34192--general-feedback or you can navigate to the official documentation and submit feedback for the product. I will also vote for this. Hope this helps!

[2020-12-13 09:19] elgrunt0 opened #67603 "Headers and warnings"
2 points to make:

1. Use consistent header numbering. **Option 1** and **Option 2,** not **Option One** and **Option 2**

Two. You REALLY need to stress that Storage Accounts cannot be more than 15 characters long.
_Join-AzStorageAccountForAuth : Parameter -StorageAccountName 'storacctwvdprofiles123' has more than 15 characters, which is not supported to be used as the SamAccountName to create an

[2020-12-13 09:48] rizcodes opened #67604 "No Option found to remove the credit card"
[Enter feedback here]

I have no subscriptions now; but i dont see an option to delete the card.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb6c3c7a
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-in

[2020-12-13 10:44] grumm90 commented on #65873
Any news?

[2020-12-13 12:14] haiderim opened #67605 "Stop log processing parameters missing in security-config-omsagent.conf"
We need to add, `& ~`or `and stop` in a new line to avoid log duplication. Logs from CEF sources will appear in both Syslog and CommonSecurityLog tables if this parameter is missing as they get processed twice, once by this file and once by 95-omsagent.conf. This will work for rsyslog only. Also a number lower than 95 should be associated with it(something like 25-security-config-omsagent.conf), t

[2020-12-13 12:23] yelevin commented on #67605
There is a section in this same document that addresses this issue. See the first note after [this point](https://docs.microsoft.com/en-us/azure/sentinel/connect-cef-agent?tabs=rsyslog#run-the-deployment-script).

[2020-12-13 12:26] haiderim commented on #67605
My suggestion avoids messing with the facilities altogether, so maybe add this as another note?

[2020-12-13 13:10] assaf-grth opened #67607 "VM backups in a blob storage account"
Hi,
I have a requirement of having a locked version of vm backups using blob storage immutable policy

Is there a managed way to get virtual machines backups into a blob storage?
I’m familiar with the ability to create snapshots for the vm disks and copy them using SAS uri to a blob container (powershell)

Are there any other options you can recommend for usage like:
-	Copy of vm image
-	Copy of v

[2020-12-13 13:34] AjayKumar-MSFT commented on #67601
@assaf-grth, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-13 13:36] AjayKumar-MSFT commented on #67603
@elgrunt0, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-13 13:49] AjayKumar-MSFT commented on #67604
@rizcodes, Thanks for leveraging Azure docs feedback channel to post this question!

I understand you have no subscription at this time - On Azure Portal, not sure if you have tried already tried, you may detach/delete a Payment method, '[Delete an Azure billing payment method](https://docs.microsoft.com/azure/cost-management-billing/manage/delete-azure-payment-method)'.

As mentioned in the docum

[2020-12-13 13:57] AjayKumar-MSFT commented on #67607
@assaf-grth,  Thanks for leveraging Azure docs feedback channel to raise this question. We are taking a look into this and will get back to you soon.

[2020-12-13 14:17] AjayKumar-MSFT commented on #67538
@ccompy, Requesting your comments on this feedback.

[2020-12-13 14:41] AjayKumar-MSFT commented on #67518
@gerhardcit,  Thanks again for taking time to share your feedback on the sample.
Your feedback has been shared with the content owner (@sffamily) for further review.

In the interim, if you haven't checked this already for your existing app, Azure Functions version 3.x is highly backwards compatible to version 2.x. Many apps should be able to safely upgrade to 3.x without any code changes.

Kindly

[2020-12-13 16:08] kazmierczykm commented on #45241
ContosoAdsCloudService - can you please add this project to this tutorial https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started or indicate a place where we can download it?
I know that you cleaning up old issues but since there is a tutorial, it's good to have an attached project there.

[2020-12-13 16:38] NSVR57 opened #67611 "[Azure-Machine learning] ValidationException while running automated ML"
Hi ,

I am trying to execute the automl experiment on custom data set, but i am getting the following error . can you please help on this.
[code]

and error is:
[code]

[2020-12-13 16:54] melvincanafranca opened #67612 "Creation of virtual environment failed in BAS"
Step #2 of Run the sample fails due to invalid path of activate file.

This line: **source .venv/bin/activate**
Should be change to: **source .venv/Scripts/activate**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af57ca1d-6109-b46b-ec0e-50fb35d8981a
* Version Independent ID: 2f24c98c-d89f-8693-2618-d49b42b94b51
* Conte

[2020-12-13 17:45] kirankbee commented on #45796
We have VM running on azure with our own implementation of Kubernetes with out AKS.The issue we are unable to connect Azure File storage our cluster for persistence , is AKS is the only option?

[2020-12-13 17:49] gb5757870 opened #67613 "classification "False Positive" appears twice."
Missing classification replaced by duplicate name.

Under "Closing an incident", the classification "False Positive" appears twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a50cc751-ed0e-884b-b45d-35f3cf14020c
* Version Independent ID: 32aff2dc-7d3d-f6ef-fac8-639b48527f34
* Content: [Investigate incidents with Az

[2020-12-13 17:50] #67613 closed

[2020-12-13 17:50] gb5757870 commented on #67613
Error not present, I misread the contents

[2020-12-13 18:30] bluelabs commented on #57579
Try to create a Rule with Origin
you can find your Origin
then delete the Rule

![image](https://user-images.githubusercontent.com/2439442/102020394-f4dc1080-3d46-11eb-943b-e324396138b4.png)

[2020-12-13 18:44] ShinraCorpMixer opened #67614 "Next Steps just references itself"
In the Next Steps on the Azure Media Player Quickstart, there's a link for the Azure Media Player Quickstart page and that's all. It's referencing itself as the next step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5eb175-8f8f-53f3-4026-328ffc265569
* Version Independent ID: 8f826148-269d-8c12-743f-63331ce2c2ed
*

[2020-12-13 18:57] MarileeTurscak-MSFT commented on #67611
@NSVR57 please include the link to the document that you are following so that we can better assist.

[2020-12-13 18:58] MarileeTurscak-MSFT commented on #67612
@melvincanafranca
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-13 18:59] MarileeTurscak-MSFT commented on #67614
@ShinraCorpMixer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-13 19:24] fpfreund opened #67615 "Typo in paragraph describing managed disks"
Use managed disks for VMs in an availability set
If you are currently using VMs with unmanaged disks, we highly recommend you **covert** from unmanaged to managed disks for Linux and Windows.[Enter feedback here]
---
"covert" should be "convert"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a492f4f5-a16c-f710-6822-b57b

[2020-12-13 21:17] DJuanes commented on #67210
Yes, I am as account administrator

[image: image.png]

El mar, 8 dic 2020 a las 22:40, viseshag (<notifications@github.com>)
escribió:

--
Business Intelligence Consultant
Mobile: +54 9 11 2461 1317
Phone:  +54 11 4780 3700
E-mail: diego.juanes@dataiq.com.ar
Twitter: @dhjuanes
Linkedin: ar.linkedin.com/in/diegojuanes

Data IQ
Av. Del Libertador 5478 Piso 4
C1426BXP - Capital Federal - Argentina
w

[2020-12-13 23:17] NavtejSaini-MSFT commented on #67615
Thank you for the feedback @fpfreund. We have raised a Request to correct this https://github.com/MicrosoftDocs/azure-docs-pr/pull/140848 and once approved the changes will be live.

[2020-12-14 00:49] toddwhitehead opened #67617 "Outdated example code uses Cloud Service Web and Worker Roles"
The example code is based on the outdated Cloud Service service which was replaced with Azure App Service several years ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e588da-fc1e-19bf-51a3-ce1286481c16
* Version Independent ID: 15e22e55-653c-4961-2c89-91ed5ea7787c
* Content: [.NET multi-tier application using Az

[2020-12-14 00:52] yahanda opened #67618 "how to authenticate to management.azure.com using only username and password"
Is it possible to access REST API to create ASA job on Edge using only username and password?
If so, which username and password should be specified in the API below?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9356cc-cf41-f7cb-a50b-6e0381a8769f
* Version Independent ID: 6ef2beb3-d149-82f0-79cf-e96eb583c85

[2020-12-14 01:15] dcbrown16 opened #67619 ""Resource status" needs update"
The "Resource status" field shown in the screenshot under step 5 has been split into "Current resource status" and "Previous resource status".
Can you update the doc and screenshot to reflect this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eba058f-aab1-e970-6a74-738ca9a13f03
* Version Independent ID: 53ecb5d7-493

[2020-12-14 01:35] MonikaReddy-MSFT commented on #67619
@dcbrown16 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-14 01:36] GitaraniSharma-MSFT commented on #67288
@ashimaasudani , the offline information provided by you clarified that you are using Windows Server 2019 core image with no GUI and hence you will not be able to install the loop back interfaces from the GUI model. And need help with PowerShell commands to achieve the same.

As mentioned in this [doc](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-multivip-overview#rule-type-2

[2020-12-14 01:36] #67288 closed

[2020-12-14 01:43] GitaraniSharma-MSFT commented on #67292
@anthonysomerset , since the portal production roll out is in going to happen in the coming week, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-14 01:43] #67292 closed

[2020-12-14 03:27] ssugar commented on #67296
@viseshag

article is still up, and other related articles reference it as well.

This appears to be the only method of being able to scan a power bi tenant that isn't in the same tenant as the azure purview resource.  is there any other way of achieving this now?

Also, any ETA on the new PowerShell cmdlets?

[2020-12-14 03:42] ShubhangiGoyal commented on #30587
Hello,
Just wanted to check if Azure now supports Multivariate in TimeSeries and if it does, how Azure best handles multi-variate Time Series for Anomaly Detection?
@yingqunpku , @aahill , @eraoul , @Mike-Ubezzi-MSFT and @YutongTie-MSFT .
Thank you.

[2020-12-14 03:43] ram-msft commented on #67445
@v-tawe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-14 03:43] #67445 closed

[2020-12-14 03:43] AjayKumar-MSFT commented on #67613
gb5757870, No worries. Thanks for leveraging Azure docs feedback channel to post this question. Much appreciate the follow-up.

[2020-12-14 03:57] dcbrown16 commented on #67364
Ok, that's a bit unusual in my experience with Azure docs and inhibits the discoverability of the content, but understood that this is by design.

[2020-12-14 03:57] #67364 closed

[2020-12-14 04:05] SwathiDhanwada-MSFT commented on #67382
@dineshpathapati  Did you get chance to check my previous comment ? Kindly revert if you have further questions.

[2020-12-14 04:13] ShubhangiGoyal opened #67620 "Azure : Multivariate Time Series(for Anomaly Detection or Forecasting)"
Hello,
Just wanted to check if Azure now supports Multivariate in TimeSeries and if it does, how Azure best handles multi-variate Time Series for Anomaly Detection?
@yingqunpku , @aahill , @eraoul , @Mike-Ubezzi-MSFT and @YutongTie-MSFT .
Thank you.

_Originally posted by @ShubhangiGoyal in https://github.com/MicrosoftDocs/azure-docs/issues/30587#issuecomment-744146201_

---
#### Document Details

[2020-12-14 04:14] HarshitaSingh-MSFT commented on #67617
@toddwhitehead , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-14 04:16] HarshitaSingh-MSFT commented on #67618
@yahanda, thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-14 04:22] HarshitaSingh-MSFT commented on #67620
@ShubhangiGoyal , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-14 04:32] Sesh360 opened #67622 "Azure ad b2c"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c27068-4c25-bb19-d1f6-699b5345dbd0
* Version Independent ID: 246b5a6c-22be-e45a-bdaf-8307a066048d
* Content: [Support for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)
* Content Source: [art

[2020-12-14 04:32] #67622 closed

[2020-12-14 04:43] jasonnutter commented on #62164
Update: We have posted a sample Chromium extension that uses `@azure/msal-browser@2.8.0` and `chrome.identity.launchWebAuthFlow`: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/ChromiumExtensionSample

[2020-12-14 04:47] SumanthMarigowda-MSFT commented on #67237
@coachburcu Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-12-14 04:47] #67237 closed

[2020-12-14 05:07] SubhashVasarapu-MSFT commented on #67228
@scannme, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion. Also, product team would prioritize against existing backlog, add in roadmap as appropriate and would announce and/or update the related Azure document once it is addressed. Thanks for your active participation.

[2020-12-14 05:07] #67228 closed

[2020-12-14 05:08] SumanthMarigowda-MSFT commented on #67291
@Console32 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for the feedback. We will check internally and if any necessary changes required we will make necessary changes and keep them updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2020-12-14 05:11] JayaChatterjee-MSFT commented on #67366
@sandeep-ma Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-12-14 05:11] #67291 closed

[2020-12-14 05:13] SumanthMarigowda-MSFT commented on #67297
@sivac-ms Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-14 05:14] SumanthMarigowda-MSFT commented on #67368
@mayurpuli Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-14 05:48] VikasPullagura-MSFT commented on #67368
test comment

[2020-12-14 05:56] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs We hope the above steps to use service principal helped to proceed further, We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-12-14 05:56] #67372 closed

[2020-12-14 05:57] VitalyMCT opened #67623 "Manually enabling Power BI registration option"
Regarding:

It seems this step can be skipped in the current version of the service. Everything worked fine for me without it.

Can you please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc9ab7e-a736-2eeb-c612-54a8619d6834
* Version Independent ID: 47e9a9b5-8dca-c01c-36f0-439ec701e1e2
* Content: [Register

[2020-12-14 06:07] VikasPullagura-MSFT commented on #67601
@mimckitt Can you please add your comments on this.

[2020-12-14 06:14] dominicbetts commented on #67182
@terrymandin - if you have any follow-up questions on this, please use the issue I created in the sample code repo: https://github.com/iot-for-all/iotc-file-upload-device/issues/3
Thanks!

[2020-12-14 06:14] dominicbetts commented on #67182
#please-close

[2020-12-14 06:14] #67182 closed

[2020-12-14 06:27] dominicbetts commented on #32337
Remote Monitoring and Predictive Maintenance solution accelerators are no longer supported. Check the [FAQ ](https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-faq) to learn more.

[2020-12-14 06:27] dominicbetts commented on #32337
#please-close

[2020-12-14 06:27] #32337 closed

[2020-12-14 06:29] dominicbetts commented on #32322
Remote Monitoring and Predictive Maintenance solution accelerators are no longer supported. Check the [FAQ ](https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-faq) to learn more.

[2020-12-14 06:29] dominicbetts commented on #32322
#please-close

[2020-12-14 06:29] #32322 closed

[2020-12-14 06:29] dominicbetts commented on #32325
Remote Monitoring and Predictive Maintenance solution accelerators are no longer supported. Check the [FAQ ](https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-faq) to learn more.

[2020-12-14 06:30] dominicbetts commented on #32325
#please-close

[2020-12-14 06:30] #32325 closed

[2020-12-14 06:41] ruowan opened #67624 "command issue for ssh into AKS cluster node"
[Enter feedback here]

I follow the doc to get the SACAL_SET_NAME. The command cause this error.
[code]

After change this command to `SCALE_SET_NAME=$(az vmss list --resource-group $CLUSTER_RESOURCE_GROUP --query '[0].name' -o tsv)`. It works.

``

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-

[2020-12-14 06:59] SnehaAgrawal-MSFT commented on #67433
@conor-joplin Thanks again the feedback. This has been resolved now. We will now close this out but if you feel you need more information please just let us know.

[2020-12-14 06:59] #67433 closed

[2020-12-14 07:09] Zhong-J opened #67625 "Does NC24s_vs support NVlink?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a783d2-71b4-06ea-3560-deeba73436a0
* Version Independent ID: cbbd04cd-9495-8cd3-37a0-993da55986ca
* Content: [NCv2-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/ncv2-series)
* Content Source: [articles/virt

[2020-12-14 07:25] CHEEKATLAPRADEEP-MSFT commented on #67545
@jcordtz Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/140867](https://github.com/MicrosoftDocs/azure-docs-pr/pull/140867)
The changes should be live EOD or tomorrow. In the future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-12-14 07:25] #67545 closed

[2020-12-14 07:27] JayaChatterjee-MSFT commented on #67451
@v-mosh21 I am looping the content author in it.
@vladvino Could you please a take a look into it?

[2020-12-14 07:45] AshokPeddakotla-MSFT commented on #67371
Thanks for the response @jlian.
@slavizh Does that answer your query? Do let us know if you have any further queries.

[2020-12-14 07:50] jeetgarg opened #67627 "Idle Session Limit"
Users are connected to VM over the bastion host and some users are not using the VMs or went to idle state from 1 h, in this situation bastion host can able to logoff the sessions of particular user ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8f8711-29cb-4d2a-54f2-4be097c4b319
* Version Independent ID: cf1d18e3-

[2020-12-14 08:01] AshokPeddakotla-MSFT commented on #67431
@jigote To provide an update, I am checking on this issue internally and update you as earliest. Appreciate your time and patience.

[2020-12-14 08:23] chengyu-liu-cs commented on #67372
@RohitMungi-MSFT
I was occupied by other tasks and was not able to test the solution yet until now.
When a SP is created, **APP_ID** should be specified. What should **APP_ID** be ? Should it be the AKS cluster where AKSwebservice deployed or something else ? I think it should not be subscription, nor resource group.

[2020-12-14 08:39] KrishnaG-MSFT commented on #67455
Assigning to content owner @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-12-14 08:45] KrishnaG-MSFT commented on #67524
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2020-12-14 08:49] troll-os commented on #43248
I have a Linux Plan in my RG with a Web App and I face the same issue in West Europe, where we already deployed models like this in the past...

[2020-12-14 08:55] HolsteS opened #67629 "Quotation mark missing"
There is a quotation mark missing at the beginning of the value for ExtensionType "OmsAgentforLinux".

New-AzConnectedMachineExtension -Name OMSLinuxAgent -ResourceGroupName "myResourceGroup" -MachineName "myMachine" -Location "eastus" -Publisher "Microsoft.EnterpriseCloud.Monitoring" -TypeHandlerVersion "1.10" -Settings $Setting -ProtectedSetting $protectedSetting -ExtensionType **OmsAgentforLinu

[2020-12-14 09:03] aditrades commented on #62877
Same issue here, after passing all the requirements (adding MFA and etc.) we are still getting this error:
`A verified publisher cannot be added to this application. Please contact your administrator for assistance. [lB+9bPoGdscYk+9kqjzDJo]
`
**I don't understand why the ticket is closed if this is an unsolved issue**
We have a client that is waiting for a big implementation and we are stuck at th

[2020-12-14 09:05] aditrades commented on #66693
Also getting:
A verified publisher cannot be added to this application. Please contact your administrator for assistance. [lB+9bPoGdscYk+9kqjzDJo]
😢

[2020-12-14 09:06] aditrades commented on #66693
@JamesTran-MSFT
Any ETA for solving this issue?

[2020-12-14 09:10] ruowan commented on #67624
![image](https://user-images.githubusercontent.com/52271048/102062092-419b1680-3e2f-11eb-9e24-8c09fd6a8eb6.png)

[2020-12-14 09:16] VikasPullagura-MSFT commented on #67624
@ruowan Thanks for sharing the details. Please run the tutorial in Azure CloudShell and you  should not see any errors. I just tried the tutorial and it is working as expected.

![image](https://user-images.githubusercontent.com/48944027/102062752-26261080-3e1b-11eb-8d93-1abc1a10d238.png)

[2020-12-14 09:17] VikasPullagura-MSFT commented on #67624
@ruowan
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-14 09:17] #67624 closed

[2020-12-14 09:20] CHEEKATLAPRADEEP-MSFT commented on #67623
@VitalyMCT  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-14 09:30] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs The app_id is the output of the SP create command. This is documented in the [link ](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli#create-a-service-principal)mentioned above.

`The appId and tenant keys appear in the output of az ad sp create-for-rbac and are used in service principal authentication. Record their values, but they can be retr

[2020-12-14 09:50] rayne-wiselman commented on #31863
This document has since been updated. Hopefully this solved the issue. @please-close

[2020-12-14 09:51] #31863 closed

[2020-12-14 09:51] rayne-wiselman commented on #31921
This document has since been updated. Hopefully this solves the issue #please-close

[2020-12-14 09:51] #31921 closed

[2020-12-14 09:57] bizframe commented on #55822
Created a SPA app registration today. as per this documentation. [link ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-spa)

Thereafter, run user flow for recommened ( signup/signin) user flow does not show my app in dropdown. its greyed out.

![image](https://user-images.githubusercontent.com/31471655/102067203-ccc0e000-3e20-11eb-9a89-1560f2677de2.png)

[2020-12-14 10:09] rayne-wiselman commented on #35358
Closing this issue since a) Not sure whether it's still relevant and b) If so, it seems to be beyond the scope of a doc issue. If you think this has been closed in error please let me know. Thx #please-close

[2020-12-14 10:09] #35358 closed

[2020-12-14 10:11] rayne-wiselman commented on #42148
Closing this since this functionality is now more easier available in the portal UI. Thanks! #please-close

[2020-12-14 10:11] #42148 closed

[2020-12-14 10:13] dazinator opened #67630 "Consider splitting this page into two seperate pages for managed identity vs service principal?"
This doc had to make constant qualifications as to whether the user is using managed identity or a service principal. It made it hard to read. Consider splitting it into two seperate pages - one for Managed identity setup, the other for service principal setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32

[2020-12-14 10:18] slavizh commented on #67371
@AshokPeddakotla-MSFT Yes, thank you!

[2020-12-14 10:29] bizframe commented on #55822
ok. found this note [elsewhere.](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows)
"The "Run user flow" experience is not currently compatible with the SPA reply URL type using authorization code flow. To use the "Run user flow" experience with these kinds of apps, register a reply URL of type "Web" and enable the implicit flow as described here."

Directly ad

[2020-12-14 10:38] asergaz commented on #66557
@sandervandevelde I am reopening the issue and will investigate it further. You are correct that we should be using a stable version of IoT Edge: https://docs.microsoft.com/en-us/azure/iot-edge/version-history?view=iotedge-2018-06

Thank you in advance for your time and please share with us if you have a production blocker due to this.

[2020-12-14 10:39] SnehaAgrawal-MSFT commented on #67369
@yuu045-ran Thanks again for the valuable feedback!
1st point: Created PR
2nd point:  Request you to share more insights on this "swap then restart" or "restart then swap", or if both are okay"
3rd point: If I have understood right this is mentioned in the document “Publishing new content directly updates the content folder. You can immediately view the same content through the SCM website and the

[2020-12-14 10:41] AjayKumar-MSFT commented on #67622
@Sesh360, Thanks for leveraging Azure docs feedback channel to raise this question. We notice that you have closed this thread, so we presume the issue is resolved. If you have any questions or feedback on any specific Azure doc, please file a new issue/thread with more details on the scenario, point out the doc section if there is any inconsistency.

This channel is reserved for ‘Azure docs’ feed

[2020-12-14 10:44] AjayKumar-MSFT commented on #67588
@DiVojic, We will close this for now, if you have any questions please just let us know.

[2020-12-14 10:44] #67588 closed

[2020-12-14 11:00] manilsen commented on #62877
Experiencing the same issue when trying to verify (and all reqs are met)
```A verified publisher cannot be added to this application. Please contact your administrator for assistance. [gQB8ekNHz25m3YYGMheWDo]```

[2020-12-14 11:02] GitaraniSharma-MSFT commented on #67444
@seanmmccormick , the article that you are referring to is for "Create an Azure DNS zone and record using Azure CLI." The commands are not out of date, they work if you are creating a new Azure DNS zone or a new A record as below:
![image](https://user-images.githubusercontent.com/67630903/102073025-b028a600-3e28-11eb-96a8-8ebc32985f1b.png)

If you are trying to update or manage existing DNS recor

[2020-12-14 11:02] #67444 closed

[2020-12-14 11:05] aditrades commented on #62877
Please also write in this open ticket:
#66693

[2020-12-14 11:12] PramodValavala-MSFT commented on #67274
@jpborsi Thanks for catching that! We have assigned this issue to the content author to review and update accordingly.

@craigshoemaker Here is [the regex in the host runtime](https://github.com/Azure/azure-functions-host/blob/64ff906dc1789717928b7033337fa15251b3e106/src/WebJobs.Script/Description/FunctionDescriptorProvider.cs#L22) that seems to be used for validating the binding name.

[2020-12-14 11:12] rayne-wiselman commented on #65548
#assign:rayne-wiselman
investigating this

[2020-12-14 11:22] chengyu-liu-cs commented on #67372
@RohitMungi-MSFT
Thanks. You are right that **APP_ID** is the id for SP. After reading the documents, I noticed what I wanted to ask and meant was that the scores. It seems the SP should have READ access to the workspace that creates the service. Then use `az ml service get-access-token -n <service-name>` to get a new token, refresh_period, etc.

I will experiment this and come back if there are m

[2020-12-14 11:23] PiotrZalewski-TomTom opened #67631 "Error in query for Alert "when Daily Cap reached""
In paragraph "Alert when Daily Cap reached" the example query is wrong:
existing value is: | where Operation == "Ingestion rate"
correct value is: | where Operation == "Ingestion limit"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a8a62-95c6-9ec9-9199-695ad1e5e8a9
* Version Independent ID: 6089f013-8b5b-661c-9ee4-

[2020-12-14 11:25] assaf-grth opened #67632 "Access to instant restore snapshot"
Hi,
As I understand, VM instant restore uses a local copy of VM snapshot, found outside of the backup vault
I have two questions:
1. Is there a way to access this storage and extract the snapshots for storing them my own storage account?
2. If I accidentally stop or delete the backup for a VM, will the local snapshot still exist for my usage?

---
#### Document Details

⚠ *Do not edit this section

[2020-12-14 11:30] magnus-longva-bouvet opened #67633 "Download bandwidth is specified in "MBps". Is it bytes or bits?"
I have a similar question as in this issue:

https://github.com/MicrosoftDocs/azure-docs/issues/60201

Download bandwidths for different SKUs of ACR are denoted in "MBps". The capitalized "B" would indicate that it's bytes, but it's most common to denote bandwidth in bits. Is it megabytes, or megabits?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-12-14 11:46] assaf-grth opened #67634 "Performance tiers for managed disks pricing"
Hi,
The pricing of disks tiers consists of size and tier,
If I change only the tier is the pricing as showed in the [pricing page](https://azure.microsoft.com/en-us/pricing/details/managed-disks/) still counts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f66d04-1af1-db56-2ac7-2da5bc6af404
* Version Independent ID:

[2020-12-14 11:56] jaawasth commented on #66643
+1

[2020-12-14 12:12] dineshpathapati commented on #67382
@SwathiDhanwada-MSFT  I came across that built-in policy and it doesn't satisfy my need. The one which you mentioned is for the specific tag, but my need is to not mention any specific name of the tag. The policy should deny deployment if there is no tag(any) for the resource group.

The code which I gave will deny if there is no tag. But it won't deny if the tag value is an empty string. I am loo

[2020-12-14 12:13] nerajput1607 commented on #66070
#please-close

[2020-12-14 12:13] #66070 closed

[2020-12-14 12:44] yuu045-ran commented on #67369
Hello @SnehaAgrawal-MSFT , thank you for your chat with me in Teams. I understand for 2nd point and 3rd point we might have some related documents; we will provide more swap related document in the future. I agree that for 1st point that's certainly needs improvement. Thank you again for the quick PR.

[2020-12-14 12:51] piotrgwiazda opened #67635 "How to enable Customer Managed Keys in Service Bus Premium namespace programatically (az or powershell)?"
Is there a way to enable Customer Managed Keys in Service Bus Premium namespace programmatically using az CLI or PowerShell? I cannot find this option in Azure REST management interface neither.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1db9116e-3b52-6b12-3de0-df30c02cd4bb
* Version Independent ID: 45d2a29c-f5f2-6

[2020-12-14 13:10] VikasPullagura-MSFT commented on #67629
@HolsteS Thanks for pointing this. The document is updated now.

[2020-12-14 13:10] #67629 closed

[2020-12-14 13:14] VikasPullagura-MSFT commented on #67633
@magnus-longva-bouvet Thanks for the feedback. We will check and get back on this.

[2020-12-14 13:17] shashishailaj commented on #67630
@dazinator Thank you for your feedback . We will engage the content author to review your suggestions .

Thank you.

[2020-12-14 13:24] AshokPeddakotla-MSFT commented on #67371
@slavizh Thanks for the confirmation.
@bwren @robinsh Please update the doc appropriately.

[2020-12-14 13:32] SumanthMarigowda-MSFT commented on #67303
@miracle2come Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
![Capture](https://user-images.githubusercontent.com/44606021/102086869-c0e41680-3e3e-11eb-8ac5-165e5baabe8a.PNG)
I tried to repro the issue I am not facing any issue. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/. We'll follow up there.

[2020-12-14 13:32] #67303 closed

[2020-12-14 13:34] SumanthMarigowda-MSFT commented on #67430
@fhryo-msft Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-14 13:37] HarshitaSingh-MSFT commented on #67625
Hello @Zhong-J , thanks for reaching out to us! Can you please let me know what is the issue you are facing with this document?

[2020-12-14 13:38] HarshitaSingh-MSFT commented on #67627
Hello @jeetgarg , thank you for reaching out to us, could you please share the link of the MS Doc you are referring to here?

[2020-12-14 13:39] Talaria89 commented on #67466
@DerekHerman-MSFT
I am running Windows 10 Pro N 64-bit, build 18363. My azcopy version is: `azcopy version 10.7.0`
I am using azcopy to migrate data from one tenant SA (blobs and files) to new tenant with following commands:
`azcopy copy "https://XXX.blob.core.windows.net/<SAS1>" "https://YYY.blob.core.windows.net/<SAS2>" --recursive`
`azcopy copy "https://XXX.file.core.windows.net/<SAS1>" "https:

[2020-12-14 13:43] jeetgarg commented on #67627
Automatic update of the Mobility service in Azure Site Recovery - Azure Site Recovery | Microsoft Docs<https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-autoupdate>

From: HarshitaSingh-MSFT <notifications@github.com>
Sent: Monday, December 14, 2020 7:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeet Garg <Jeet.Garg@microsoft.com>; Mention <mention@norep

[2020-12-14 13:44] jeetgarg commented on #67627
Not the red one. Here it is:

Azure Bastion session monitoring and management | Microsoft Docs<https://docs.microsoft.com/en-us/azure/bastion/session-monitoring>

From: Jeet Garg
Sent: Monday, December 14, 2020 7:13 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/

[2020-12-14 13:46] HarshitaSingh-MSFT commented on #67631
Hello @PiotrZalewski-TomTom , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2020-12-14 13:49] HarshitaSingh-MSFT commented on #67627
Thank you, we are looking into it and will keep you posted.

[2020-12-14 13:49] PiotrZalewski-TomTom commented on #67631
Oh, i was thinking that id page is automatically put somewhere here.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#alert-when-daily-cap-reached

[2020-12-14 13:58] SumanthMarigowda-MSFT commented on #67436
@JasonFreeberg Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-14 14:01] HarshitaSingh-MSFT commented on #67635
Hello @piotrgwiazda, thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-14 14:03] HarshitaSingh-MSFT commented on #67631
No problem. We are looking into it and will keep you posted.

[2020-12-14 14:04] HarshitaSingh-MSFT commented on #67632
Hello @assaf-grth , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-14 14:04] markprins81 opened #67637 "Custom email verification with sendgrid suddenly throws error"
We implemented a custom email verification using SendGrid by the quide of this article:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email-sendgrid

All was well until some time today when we suddenly got this error message, when sending the verification code:
**Basic credentials specified for 'SendOtp' are invalid. Check that the credentials are correct and that access has b

[2020-12-14 14:05] HarshitaSingh-MSFT commented on #67634
Hello @assaf-grth , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-14 14:05] TomAafloen opened #67638 "Missing word - to"
`you will be taken the app developers sign-on page`
Should be
`you will be taken to the app developers sign-on page`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92406442-8660-21d8-c0ce-a29e91351739
* Version Independent ID: 70ce205a-9019-2a4a-087e-6b0239e77a21
* Content: [Quickstart: Set up OIDC-based single sign-on

[2020-12-14 14:08] tabareh commented on #55822
Hi,

I have tested Azure B2C successfully with Angular, but I agree the guide and samples do need a reorganization. Some samples are old and it's tough to find which sample is adressing which version of authorization. Make sure you're using MSAL as this is the library addressing the Open Id connect. Watch this video to find some clarity first on which is which: https://youtu.be/Mtpx_lpfRLs

Here y

[2020-12-14 14:10] VikasPullagura-MSFT commented on #67638
@TomAafloen Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-12-14 14:14] SnehaAgrawal-MSFT commented on #67369
@yuu045-ran Thanks again for the feedback! I have created PR for the 1st point once its validated by content author @cephalin it will be merged and visible in document.

We will now close this out but if you feel you need more information please just let us know.

[2020-12-14 14:14] #67369 closed

[2020-12-14 14:17] #67638 closed

[2020-12-14 14:17] HarshitaSingh-MSFT commented on #67637
Hello @markprins81 , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2020-12-14 14:20] HarshitaSingh-MSFT commented on #67637
Hello @markprins81 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-14 14:32] sai-nagarjuna-t commented on #41355
The same issue is still present when using Azure Ad b2c custom policies as well.

When the password is incorrect or when the account is locked the following generic error message is thrown instead of the specific error message.
"**The username or password provided in the request are invalid."**

I am using the "grant_type" as "password" in my "login-NonInteractive" technical profile.

@FrankHu-MSF

[2020-12-14 14:39] luistkd4 commented on #63571
Hi, I have the same error using postman, and with Powershell everything works fine, I don't know what I did wrong I follow the same vars in the powershell script.

[2020-12-14 14:54] SatishBoddu-MSFT commented on #67310
Hello @fgheysels Thanks for the feedback on this documentation. Please let us know if we are good to close this issue?

[2020-12-14 15:09] htallur opened #67640 "azure vm compute billing"
# Azure documentation issue guidance

Are Azure VM's billed per hour or minute ?
In the pricing page all the values are provided per/hour. but in the page "https://docs.microsoft.com/en-us/azure/virtual-machines/vm-usage" i see two statements which are bit confusing to me.

Unit | Identifies the unit that the service is charged in. Compute resources are billed per hour. | Hours
-- | -- | --

---
#

[2020-12-14 15:24] VikasPullagura-MSFT commented on #67640
@htallur
Thanks for your Question! I will check and confirm with internal team on this and will get back.

[2020-12-14 15:26] NavtejSaini-MSFT commented on #67558
@wangfeng9981 Please elaborate regarding your query. The Direct Query option is there - https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-use-directquery

Is this what you are looking for. Please explain your use case.

[2020-12-14 15:29] NavtejSaini-MSFT commented on #67476
@euangms - Please check the feedback above and help to edit the document if needed.

[2020-12-14 15:30] jasonhorner opened #67641 "Add information about check and default constraints"
This page would be a great place to also document the support for CHECK and DEFAULT constraints with examples...

Would you take a PR if I wrote something up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413435de-1a55-d8bf-d15d-798720245ff0
* Version Independent ID: 24ac1b6e-2b4c-995d-8ca1-77ab644ebbe4
* Content: [Pr

[2020-12-14 15:39] NavtejSaini-MSFT commented on #67591
@iwannabebot The Resource log schema has been provided - https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-job-diagnostic-logs#resource-logs-schema

The Execution category has been specifically called out as the log schema will be different depending on the fact if it is an error or a generic event.

Hope this helps

[2020-12-14 15:40] JFolberth commented on #67420
Would love to see this skip the Classic Release process and be converted to YAML Pipelines as this is possible.

[2020-12-14 15:41] #67615 closed

[2020-12-14 15:44] Lechus opened #67644 "Missing info how to use config in Startup"
[Enter feedback here]
Hi,

Could you add information how to use Configuration in Startup class, for example to get ConnectionString for Entity Framework, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f-746a-4bbdf0378625
* Version Independent ID: d917d876-79b4-b935-08f0-09ef86038dd7
* Content:

[2020-12-14 15:46] NavtejSaini-MSFT commented on #67548
@sgreci We are assigning this to our author to help you further.

[2020-12-14 15:57] baanders commented on #67052
Thanks @bargor-code for the documentation feedback--I'm taking a look now to add some clarifying text to the document.

Since we talk about topics a few times in the doc, I'd like to clarify with you which set of mentions could benefit from a clearer connection. Are [these](https://docs.microsoft.com/azure/digital-twins/tutorial-end-to-end#set-up-endpoint) the two spots you're talking about, where

[2020-12-14 15:58] NavtejSaini-MSFT commented on #67572
@azure2439 The tip provided in green under the section - https://docs.microsoft.com/en-us/azure/data-factory/connector-db2#linked-service-properties specifically calls for that issue.
Please check and review and if you have an issue still, it would be advisable to contact support.
Hope this helps.

[2020-12-14 16:00] #67353 closed

[2020-12-14 16:03] NavtejSaini-MSFT commented on #67574
@sgrajan1 We will be going ahead and closing this issue for now. If you have any further issue, you can still comment on this issue and we will take it from there.

[2020-12-14 16:03] #67574 closed

[2020-12-14 16:04] NavtejSaini-MSFT commented on #67389
@ninarn  - Can you please look into this further.

[2020-12-14 16:23] #67496 closed

[2020-12-14 16:35] SatishBoddu-MSFT commented on #67394
Hello @cveld Just checking back, please refer to the above response and let us know if you need further help in this matter.

[2020-12-14 16:36] aravish opened #67646 "Command needs correction"
Below command needs correction

Set-AzKeyVaultAccessPolicy `
      -VaultName $keyVault.VaultName `
      -ObjectId **$workSpace.StorageAccountIdentity.PrincipalId** `
      -PermissionsToKeys wrapkey,unwrapkey,get

There is no dot between StorageAccountIdentity and PrincipalId, it is all one word
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-12-14 16:36] NavtejSaini-MSFT commented on #67463
@helloyesthisisdave We are assigning this issue to our Doc Author for further review.
@vvasic-msft Please check the feedback from user and help regarding the same.

[2020-12-14 16:44] wangfeng9981 commented on #67558
Hi, Navte
that is not the case. I mean the Databrick could not use SQL Statements to
upload data or connect data . check below screenshot.
[image: image.png]
[image: image.png]

On Mon, Dec 14, 2020 at 10:27 AM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-12-14 16:48] tamram commented on #50079
@acworkma - Since we haven't heard back from you, we're going to close this issue. If you need further help, please let us know.

#please-close

[2020-12-14 16:49] #50079 closed

[2020-12-14 16:49] tamram commented on #56603
@AlexMikhalev - Hopefully the instructions provided by @NaraVen have been helpful. Since we haven't heard back from you, we're now closing this issue. If you need further help, please let us know.

[2020-12-14 16:50] tamram commented on #56603
#please-close

[2020-12-14 16:50] #56603 closed

[2020-12-14 16:51] RyanHill-MSFT commented on #47611
Hello everyone! We know this has not been the best experience, but I do want to extend my sincere thanks for your patience. If you haven't already, please see [this announcement](https://github.com/Azure/app-service-announcements/issues/306). The team is continuing to deliver features and bug fixes. If you see any issues, please feel free to comment below or reach out to me (**AzCommunity[at]micro

[2020-12-14 16:54] danijam opened #67647 "Security Baseline - 1.6 - Deploy network based intrusion detection/intrusion prevention systems (IDS/IPS) - Missing"
I've spotted a missing section that I am interested in knowing more about.

The section detailed here (1.6) https://docs.microsoft.com/en-us/azure/security/benchmarks/security-control-network-security#16-deploy-network-based-intrusion-detectionintrusion-prevention-systems-idsips

Is not documented for the App Service page: https://docs.microsoft.com/en-us/azure/app-service/security-baseline

Notic

[2020-12-14 16:56] tamram commented on #56859
#reassign: @dineshmurthy

[2020-12-14 16:56] PRMerger20 commented on #56859
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:01] NavtejSaini-MSFT commented on #67558
@wangfeng9981 I didn't receive your images. Can you upload again..

[2020-12-14 17:05] tamram commented on #14182
#reassign: @dineshmurthy

@amishra-dev - FYI

[2020-12-14 17:05] PRMerger7 commented on #14182
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:06] tamram commented on #24841
#reassign: @dineshmurthy

[2020-12-14 17:06] PRMerger7 commented on #24841
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:09] gfaraj commented on #47611
Excellent news Ryan! I'll try it out as soon as I can and report back status. Thanks for the update!

[2020-12-14 17:10] StephenDenisEdwards opened #67648 "Utterly useless. Why even bother documenting?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be9b41a4-b97f-768f-6e25-3b0ceb0d3489
* Version Independent ID: 1a8d328f-fbd8-4a5f-9b8a-916131ebe485
* Content: [SELECT clause in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-select)
* Content Source: [articles/cosmos-db/

[2020-12-14 17:10] MonikaReddy-MSFT commented on #67644
@lechus-
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-14 17:12] tamram commented on #27209
@patel-code - Hopefully the response from @seguler above was sufficient to resolve your issue. Since we haven't heard from you again, I'm closing this issue for the time being. Please let us know if you need further help.

@normesta - FYI

#please-close

[2020-12-14 17:12] #27209 closed

[2020-12-14 17:13] tamram commented on #28319
#please-close

[2020-12-14 17:13] #28319 closed

[2020-12-14 17:15] mcurko commented on #66822
I have managed to implement the recommendations from the StackOverflow article, however one question for which I didn't find an appropriate answer is how to manage RunAs account. Here's my example for the production environment:

[code]

I might use parameters for some of these attributes, but parameters can't help me in resolving the situation I have in another environment where the application i

[2020-12-14 17:24] wangfeng9981 commented on #67558
![image](https://user-images.githubusercontent.com/44709643/102113727-5d8ac200-3e07-11eb-83b3-62bede24a376.png)

[2020-12-14 17:26] wangfeng9981 commented on #67558
![image](https://user-images.githubusercontent.com/44709643/102113855-8d39ca00-3e07-11eb-9882-d4e6d389dcd1.png)

[2020-12-14 17:28] wangfeng9981 commented on #67558
please look at now, if you could see them.
thanks
Feng

On Mon, Dec 14, 2020 at 12:01 PM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-12-14 17:28] timsander1 commented on #67648
This is documentation of SQL syntax and examples in Cosmos DB. If you feel something is missing from this doc, please let me know.

[2020-12-14 17:30] tamram commented on #29137
#reassign: @dineshmurthy

[2020-12-14 17:30] PRMerger14 commented on #29137
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:31] tamram commented on #28906
#reassign: @dineshmurthy

[2020-12-14 17:31] PRMerger14 commented on #28906
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:32] tamram commented on #30679
#reassign: @dineshmurthy

[2020-12-14 17:34] tamram commented on #31006
#reassign: @dineshmurthy

[2020-12-14 17:34] PRMerger14 commented on #31006
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:35] markjbrown commented on #67484
Please assign to @ThomasWeiss

Thanks.

[2020-12-14 17:36] tamram commented on #44030
#reassign: @dineshmurthy

[2020-12-14 17:36] PRMerger15 commented on #44030
GitHub user rishabpoh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-12-14 17:41] cijothomas opened #67649 "Document about no data due to incorrect data"
We need to document the issue about data being rejected by the backend due to things like - missing required fields, fields exceeding size etc. SDKs normally don't throw exceptions, and might be failing silently as in this issue: https://github.com/microsoft/ApplicationInsights-dotnet/issues/2122.

While there is work-to-be-done to ensure SDKs handle data validation correctly, it must be documente

[2020-12-14 17:45] tamram commented on #67297
@sivac-ms - I'm not sure what Create Device method you're referring to (we don't have that method in Azure Storage), and there's no list of methods in this article.

Please contact me internally via email or Teams to discuss.

[2020-12-14 17:48] MonikaReddy-MSFT commented on #67566
@fatinebennani - Can you confirm if you meant Azure Container or Azure Application?

[2020-12-14 17:48] tamram commented on #67291
@Console32 - In general, we can't say specifically how long approval for a preview will take. I recommend checking a couple of times per day.

[2020-12-14 17:49] fatinebennani commented on #67566
Azure application

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Monday, December 14, 2020 12:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Fatine Bennani <Fatine.Bennani@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is BYOL not an listing type for Azure application (#67566)

@fatinebennani<https://nam06.safelinks.pr

[2020-12-14 17:53] NavtejSaini-MSFT commented on #67558
@wangfeng9981 This looks like a new feature request specifically for Azure DataBricks which you can give feedback for [here](https://feedback.azure.com/forums/909463-azure-databricks). With that we are checking with our Doc Author as well.

@mssaperla  - Can you please check and comment here.

[2020-12-14 17:53] Lechus opened #67650 ".NET 5 - exception is thrown"
[Enter feedback here]
Hi,
            // Add the following line:
            app.UseAzureAppConfiguration();
and
InvalidOperationException("Unable to find the required services. Please add all the required services by calling 'IServiceCollection.AddAzureAppConfiguration' inside the call to 'ConfigureServices(...)' in the application startup code.");

---
#### Document Details

⚠ *Do not edit this

[2020-12-14 18:02] tamram commented on #20288
#reassign: @normesta

@normesta - Can you determine whether there is any doc update required here? If not, we will pass the product suggestions on to the engineering team.

[2020-12-14 18:06] tamram commented on #47734
#reassign: @wmgries

[2020-12-14 18:07] tamram commented on #22816
#reassign: @RenaShahMSFT

[2020-12-14 18:08] tamram commented on #48878
#reassign: @yuemlu

[2020-12-14 18:09] tamram commented on #48878
@yuemlu @roygara - Can you determine whether we want to add the script provided above to the documentation? If not, we can close out this issue.

[2020-12-14 18:18] tamram commented on #45738
@tanteemmie - Firstly apologies for delay in responding here! I'd recommend posting your question in [https://azure.microsoft.com/en-us/support/community/](https://azure.microsoft.com/en-us/support/community/) since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2020-12-14 18:18] #45738 closed

[2020-12-14 18:26] VikasPullagura-MSFT commented on #53039
test comment

[2020-12-14 18:27] euangms commented on #67476
Please assign to @midesa

[2020-12-14 18:31] BharathNimmala-MSFT commented on #67267
@rohanvirmani My sincere apologies for delay in getting back to this thread.

As called out in [the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-diagnostic-settings#diagnostic-setting-for-activity-log) currently "Diagnostic settings for Activity logs are created for a subscription, not for a resource group like settings for Azure resources".  Scenari

[2020-12-14 18:31] #67267 closed

[2020-12-14 18:33] XiaoyuMSFT commented on #67641
@jasonhorner Thank you for the suggestion.  DEFAULT and CHECK constraints are both documented in https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=sql-server-ver15.  This article is specifically written to compare the PK, FK and Unique Key support and how it impacts the query result.

[2020-12-14 18:33] psignoret commented on #67489
@itishnitsa The feature is not intended to be used for general-purpose pre-approval of individual apps, and it will not scale well. Please keep the number of includes condition sets under 20. (I will update this conversation and the documentation once I have confirmation on the real limit.)

To pre-approve an app for use in your organization, the recommendation is to [grant tenant-wide admin conse

[2020-12-14 18:38] itishnitsa commented on #67489
Thanks for the clarification. Managing user access with Admin consent enabled adds a lot of overhead for very large tenants (over 100k users).

From: Philippe Signoret <notifications@github.com>
Date: Monday, December 14, 2020 at 1:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: itishnitsa <tshattuck@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2020-12-14 18:46] tamram commented on #19531
The added text is as follows:

Enabling soft delete for frequently overwritten data may result in increased storage capacity charges and increased latency when listing blobs. You can mitigate this additional cost and latency by storing the frequently overwritten data in a separate storage account where soft delete is disabled.

Since the doc has been updated, I'm closing this issue now. Please let

[2020-12-14 18:46] #19531 closed

[2020-12-14 18:47] tamram commented on #17762
#reassign: @wmgries

[2020-12-14 18:48] tamram commented on #59780
#reassign @jeffpatt24

[2020-12-14 18:52] HarshitaSingh-MSFT commented on #67432
@softchris, just checking in to see if you can respond to @AlexandraKemperMS 's question. She is from the Product's group.

[2020-12-14 18:52] JamesTran-MSFT commented on #67407
@xelossan
Since I haven't heard from you in a while and this issue looks to be by design, I'll go ahead and close out this GitHub issue.

If you have any other questions or require additional assistance, please let me know.
Thank you for your time and patience!

[2020-12-14 18:52] #67407 closed

[2020-12-14 18:54] tamram commented on #58861
#reassign: @tamram

[2020-12-14 18:58] WinstonHoward-MSFT commented on #67386
Hey @mcurko so yes settings and environment variables are similar in this context but dynamically altering the environment variables after deployment via an application upgrade requires a process restart and doing the same thing on an application using SF config packages (settings.xml) does not.

[2020-12-14 18:58] #67386 closed

[2020-12-14 19:12] mkiaei commented on #67447
@sdgilley - Thank you for the modification. It's looks more clear now.

[2020-12-14 19:13] MonikaReddy-MSFT commented on #67650
@Lechus -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-14 19:13] mkiaei commented on #67447
@sdgilley - Thank you for the modification! It looks more clear now.

[2020-12-14 19:13] AjayKumar-MSFT commented on #67536
@PaulVrugt, Apologies it was not very clear. Any WebApp containing WCF endpoints is a WCF App. So, there shouldn't be any difference in hosting your WCF service to Azure App Service and hosting it on an IIS server. Only bindings that I listed above are supported on App Service.
Project templates have Service1.svc file:
![image](https://user-images.githubusercontent.com/44606227/102124346-2b607b00-

[2020-12-14 19:16] rem-aj commented on #64332
Yes I'm also interested in hearing feedback on this, this seems like a very straightforward solution.

[2020-12-14 19:17] msaranga opened #67652 "Unable to see Download users options in AAD Page as per document mentioned"
I don't see bulk operation like "Download Users" as per mentioned in the document. This option is under "Bulk Operations" drop down which is disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800fcb4-d251-f271-bc12-9377cd0407fa
* Version Independent ID: 319b62fc-cea7-1add-559b-bb2a35b3a0ad
* Content: [Download a

[2020-12-14 19:20] drwill-ms commented on #64993
Here are an example from our tests that use x509:
- <https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/tests/ConnectionString/DeviceClientConnectionStringTests.cs#L95>

[2020-12-14 19:21] AjayKumar-MSFT commented on #67604
@rizcodes, We will close this out, but if there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thanks again for your feedback!

[2020-12-14 19:21] #67604 closed

[2020-12-14 19:33] fgheysels commented on #67310
@SatishBoddu-MSFT I have an answer to my question, but I think the documentation on authenticating to TSI should be extended with a topic on how MSI authentication can be used .

[2020-12-14 19:35] rohanvirmani commented on #67267
@BharathNimmala-MSFT thank you, logged issue at the feedback portal.

https://feedback.azure.com/forums/913690-azure-monitor/suggestions/42152968-diagnostic-settings-not-being-a-part-of-a-resource