[2022-10-18 14:20] #88666 closed

[2022-10-18 14:42] #98017 closed

[2022-10-18 15:01] whhender commented on #100023
@m-brooks - These updates have been added. You'll see them in the documentation by later this afternoon. Thank you again for the feedback!

[2022-10-18 15:01] mbell85 opened #100097 "Service Map with AMA"
I followed the instructions to enable Guest Performance and Mapping (Processes and Dependencies) in a DCR rule for my machines, but there is still no map data showing up after 24 hours (I used mapping in the past with the LA agent prior to moving over to AMA agent on all machines). I checked the machines and they've downloaded the dependency agent. I also ensured that VMinsights solution was remov

[2022-10-18 15:01] whhender commented on #100023
#please-close

[2022-10-18 15:02] AbbyMSFT commented on #99620
#please-close

[2022-10-18 15:02] #99620 closed

[2022-10-18 15:17] cveld commented on #100010
@anandmeg of course, data plane permissions! Thanks! After assigning either one of the two built-in roles, now the environment creation goes well! Is 404 semantics the Azure standard? I believe I often see a 401 access denied.

[2022-10-18 15:38] AjayBathini-MSFT commented on #100067
@pmia
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:40] AjayBathini-MSFT commented on #100068
@pmia
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:42] aka-cardz opened #100099 "Conditional access policy has no effect on SMTP"
SMTP is mentioned several times in the document but there's no mention of the fact that blocking legacy authentication via a conditional access policy has no effect on SMTP authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d7c2489b-dc36-4318-b1c8-dc74e34dd948
* Version Independent ID: 19f748cc-89b8-7788-2

[2022-10-18 15:42] AjayBathini-MSFT commented on #100071
@JeeWeetje
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:44] seesharprun commented on #99272
A note has been added to the [Clone the sample application](https://learn.microsoft.com/en-us/azure/cosmos-db/gremlin/quickstart-dotnet?tabs=windows#clone-the-sample-application) section indicating that the API for Apache Gremlin does not support the latest driver. It also includes a link to the support drivers.

[2022-10-18 15:44] seesharprun commented on #99272
#please-close

[2022-10-18 15:45] AjayBathini-MSFT commented on #100074
@Arno-Pretorius
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:46] ezYakaEagle442 opened #100100 "Please document how to configure a StartUp Probe"
Also please provide snippet with real values for CLI + Bicep

see also [https://github.com/Azure/spring-apps-deploy/issues/12](https://github.com/Azure/spring-apps-deploy/issues/12)

The Probe experience should be consistent accross Portal, CLI, Bicep & GH Action Workflows

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-10-18 15:46] AjayBathini-MSFT commented on #100075
@AdamGuan13
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:52] AjayBathini-MSFT commented on #100078
@AdamGuan13
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:53] AjayBathini-MSFT commented on #100083
@vasco-lopes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 15:54] gvanteylingen opened #100101 "Suggestion to include max volume name length"
Hi Geert and Sean,

I believe ANF Volume Name support 256 characters, but please confirm. My customer is asking for max characters limit for volume name.
Documentation says name must be at least 3 characters long but does not mention the max limit. It might be a good idea to put max character limit as well.

Thanks,
Jayesh Bhakta

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-10-18 15:56] AjayBathini-MSFT commented on #100084
@bvdboom
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:00] AjayBathini-MSFT commented on #100085
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:04] AjayBathini-MSFT commented on #100086
@asdcristi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:04] AjayBathini-MSFT commented on #100088
@Klaas-
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:05] seesharprun commented on #99232
We have updated this article to include a link to these two articles that explain what happens when you exceed provisioned throughput:

- <https://learn.microsoft.com/en-us/azure/cosmos-db/set-throughput>
- <https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-choose-offer#overview-of-provisioned-throughput-types>

This issue will automatically close when the change is in our publishing pipeli

[2022-10-18 16:09] AjayBathini-MSFT commented on #100089
@jsquire
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-18 16:10] AjayBathini-MSFT commented on #100096
@marcgoff
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:11] MGoedtel commented on #98954
@SouravDutta-MSFT - I'm going to have to bug this and run through it in the lab, as I'm not the original author. I will prioritize this within our current sprint and follow-up with an update as soon as possible

[2022-10-18 16:11] himachida commented on #100056
@NagarajVenkatesh Thank you so much for your reply:)

There is sometimes confusion where the health check requests come from when integrating network products with App Service. (like integration with VNet and application gateway blocks the health check?). So, it's just a suggestion to update the article like below. Please just close this issue after you decide it should be updated or not.

`The He

[2022-10-18 16:11] seesharprun commented on #99207
This can be admittedly better. There's two things we are doing:

- **Short-term**
  - The top of the article you reference contains a link to an article about the query API: https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/javascript-query-api
  - If you click the link at the top of this article, it takes you to GitHub documentation about server-side JS: https://github.com/Azure/azure-cosmo

[2022-10-18 16:12] #99232 closed

[2022-10-18 16:13] AjayBathini-MSFT commented on #100097
@mbell85
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:18] AjayBathini-MSFT commented on #100100
@ezYakaEagle442
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-18 16:20] AjayBathini-MSFT commented on #100101
@gvanteylingen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 16:26] arsnyder16 opened #100102 "Clarify how Session Affinity plays into Origin Selection"
Clarify how Session Affinity plays into Origin Selection

Its not clear from the documentation how affinity is evaluated

For "Lowest latencies based traffic-routing" it walks through the flow on how Priority, Latency signal, Weights" are evaluated with no mention of Session Affinity.

For example i have stateful backends so i use Session Affinity. If i need to take a backend offline or upgrade a

[2022-10-18 16:28] JamesTran-MSFT commented on #75344
@dave22000, @LarsKemmann, @craigeaw,
Thank you all for following up on this and for your continued patience throughout this issue.

I reached out to our PG team, and this is a known issue. Unfortunately, we don't provide product release updates through our GitHub channels, but I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](http

[2022-10-18 16:28] #75344 closed

[2022-10-18 16:53] phatmcpat opened #100104 "Typo"
I found a typo in the document.
[Enter feedback here]
"faster that VHD files" should read "faster **than** VHD files"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39bfdb22-df40-68c9-0219-a76207dab5bb
* Version Independent ID: bd0367cd-c6f4-4528-95ed-9f51956ce676
* Content: [Azure Virtual Desktop MSIX app attach glos

[2022-10-18 17:00] ellisst commented on #98022
Hi @nabhishek @ShaikMaheer-MSFT is there any update on this issue? If you can provide an example in Powershell/REST API, of how to create a User Assigned Managed Identity credential in Synapse then myself and other will be able to automate this step in as part of deployment. This is a blocking issue as we can't go into prod unless we can automate the deployment. I have attached the step from the d

[2022-10-18 17:10] aka-cardz commented on #100099
This was a configuration error. Please disregard. Closing the issue.

[2022-10-18 17:10] #100099 closed

[2022-10-18 17:15] psignoret commented on #59982
@audunsolemdal Same status, unfortunately: There is no timeline we can share at the moment, but I can tell you it is very unlikely it will be in the next six months. (Starting now.)

What I _can_ say is that this is a little bit closer to getting work started on it, but we're not quite there yet. (But still: unlikely to be in the next six months.)

[2022-10-18 17:19] cristobal-buenrostro commented on #96243
@stewartmacdonald    the page has been updated. Please double check

[2022-10-18 17:23] rnirek commented on #99925
@AjayBathini-MSFT  could we have an update here ?  My query is why we have CentOS6.x migration supported in our docs, if its end of support already.

As said by Marco,

We should, at the very least add a NOTE at the top mentioning that it's EOL.

CentOS EOL Dates
CentOS 5: 31 March 2017
CentOS 6: 30 November 2020

[2022-10-18 17:26] limwainstein commented on #99822
@kochavis Could you take a look - should we update this as a limitation?

[2022-10-18 17:36] magic-happenz commented on #59982
Thanks for the update but given the case is 2 years old and, as mentioned, a feature that trains users muscle memory to be an easy target of illicit consent attacks it would be great to get a less vague timeline.

[2022-10-18 17:45] nitinme commented on #96243
#please-close

[2022-10-18 17:59] msjuergent commented on #100088
It depends what distance we are talking about. Isn't it. The cable distance or the geographical distance of the DCs. One can't assume that the different zones are connected by cable routes that are straight line from one zone to another zone, There can be situations where the actual cable length for the network traffic and the geographical distance are quite different. Despite all the efforts to m

[2022-10-18 18:02] adi-garg commented on #100049
Hello @SaibabaBalapur-MSFT ,
While I appreciate you sharing the link regarding depreciation, I am still looking for clarity on the working of unmanaged disks until Sept 30 2025.
It would help if you could please clarify on the 2 queries.

Kind regards,
Aditya Garg

[2022-10-18 18:04] hokaiyipFS opened #100106 "Error while doing: "terraform apply""
While applying
`terraform apply`

azurerm_service_plan.appserviceplan: Creation complete after 7s [id=/subscriptions/76e92d8f-9793-4ec6-b1a7-c13660ee5293/resourceGroups/ResourceGroup-86350/providers/Microsoft.Web/serverfarms/webapp-asp-86350]
azurerm_linux_web_app.webapp: Creating...
azurerm_linux_web_app.webapp: Still creating... [10s elapsed]
╷
│ Error: creating Linux Web App: (Site Name "webapp

[2022-10-18 18:06] camalloy opened #100107 "Clarification on changes to RI's post Jan 2024"
The warning box says that you will no longer be able to exchange RI's that are purchased after Jan 2024, I was wondering if customers will still be able to refund them, upto the $50,000 rolling 12-month limit.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Indepe

[2022-10-18 18:07] seesharprun commented on #98884
@electricllama, this seems to be a support issue and not an issue with the docs. The **upsert** operation is supported in both provisioned and serverless accounts.

Here's what's going on with your issue. Let's start with an instance of the [CosmosClient](https://learn.microsoft.com/en-us/javascript/api/@azure/cosmos/cosmosclient?view=azure-node-latest) class:

[code]

In our [Node.js Quickstart](

[2022-10-18 18:08] seesharprun commented on #98884
#please-close

[2022-10-18 18:08] #98884 closed

[2022-10-18 18:12] seesharprun commented on #99206
@sijucm, you are right that it's confusing comparing the two ways you can use JavaScript with Azure Cosmos DB:

- Node.js SDK for Azure that includes support for Azure Cosmos DB
- Server-side native JavaScript support

On the server-side JavaScript support, you are right that the ``collection.createDocument()`` syntax is based on an older version of the JavaScript SDKs for Azure Cosmos DB.

We hav

[2022-10-18 18:12] #99206 closed

[2022-10-18 18:13] SatishBoddu-MSFT commented on #100005
Hello @assaf-grth,

We will not be able to provide an exact timeline of when this region will support AZ. Please continue to monitor the below page.

[Availability Zones](https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#availability-zones)

<img width="454" alt="image" src="https://user-images.githubusercontent.com/62923178/196511146-45155c14-6b86-4a95-a41f-091f49dc10be.png">

We will

[2022-10-18 18:20] Robert-Lauriston-at-Striim commented on #99534
It's working today.

[2022-10-18 18:30] jaxidian opened #100109 "Cannot successfully provision a STIG-compliant Windows VM"
When following these steps for Windows Server 2019 in US East on a DS2v2 instance with mostly default settings, the following error is encountered during the bootstrapping activities:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"cod

[2022-10-18 18:32] bandersmsft commented on #99387
Hi @robertm73

In Azure tech docs here on learn.microsoft.com, we’re expressly forbidden from announcing future features and functionality and dates associated with them. Although we can’t *announce* future release dates, we can and sometimes do echo plans that are publicly announced, particularly from https://azure.microsoft.com/updates/. Unfortunately, there hasn’t been a public announcement fro

[2022-10-18 18:32] #99387 closed

[2022-10-18 18:34] AbdullahBell commented on #99857
#please-close

[2022-10-18 18:34] #99857 closed

[2022-10-18 18:39] AbdullahBell commented on #97400
#please-close

[2022-10-18 18:39] #97400 closed

[2022-10-18 18:40] rgl opened #100111 "Move the export environmental variables section to the beginning of the document"
Please move the `Export environmental variables` section to be the first document section and use the variables there after in all shell examples.

That would make things easier to follow, as we can just start by copy&pasting from the get-go and would only need to modify the environment variables.

It would also be awesome to have a terraform equivalent of this tutorial.

---
#### Document Details

[2022-10-18 18:45] mathewc commented on #99714
Not all attribute properties will support binding expressions. It's up to the implementation of the binding itself. For example, you can see in the code [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/f60ddaa9da1065fca896a1ef98ab62dd46ffd97d/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttributeBindingProvider.cs#L52) that there are 6 properties that support resolution,

[2022-10-18 18:47] shayoniseth commented on #99002
For deploying AMA on VMs (virtual machines), we use the VM extension framework as you note. VMs are recognizable by ARM (Azure Resource MAnager) as individual resources, and hence DCRs can be natively associated to VMs using their ARM resourceIDs to create the DCR-Associations.
Now for client devices, these live in the AAD world and have no existence or mapping in ARM. Given the fact that DCR is a

[2022-10-18 18:49] dereklegenzoff commented on #99486
Hi @sancarn - is this question related to SharePoint Search or Azure Cognitive Search? Azure Cognitive Search doesn't allow spaces in field names so I'm a bit confused about the question.

[2022-10-18 18:49] juliakm commented on #90227
@madiepev I apologize for the delay. The underlying GitHub Action Login action still uses the `--sdk-auth` flag, which creates the warning. Here's a related issue: https://github.com/Azure/login/issues/223

[2022-10-18 18:50] juliakm commented on #91019
@OzBob I apologize for the delay. The underlying GitHub Action Login action still uses the `--sdk-auth` flag, which creates the warning. We can't update the article until the Login active is updated. Here's a related issue: https://github.com/Azure/login/issues/223

[2022-10-18 19:00] craigeaw commented on #75344
@JamesTran-MSFT converting to a comma delimited string does not output a proper JSON array, so it's not a workaround when a JSON array is expected by the application. I understand that this isn't the best channel for updates, but there have been few B2C updates in the last year and there is nothing on the roadmap the mentions this. Is there a specific roadmap from the product team or an ETA when t

[2022-10-18 19:01] seligj95 commented on #100106
@hokaiyipFS - Thanks for creating this issue. Was there more to this error message that you can share? Alternatively, have you tried changing the `sku_name` and did that produce the same error? I tried reproducing and I get an error with no explanation when using the F1 sku, but am successful with all the other sku options. I'm checking if this has something to do with the Free tier which is used

[2022-10-18 19:05] shayoniseth commented on #99545
Thank you for this excellent feedback! We have updated the document, it should be live with the changes tomorrow.

[2022-10-18 19:07] #99545 closed

[2022-10-18 19:13] hokaiyipFS commented on #100106
Hi. what other sku options would you suggest?

[2022-10-18 19:17] cherylmc commented on #97292
Hi! Thanks for bringing this to my attention. This screenshot has been updated, both for Virtual WAN and for VPN Gateway articles and should show for the en-us region, to be updated for other regions on the regular update cycle. #please-close

[2022-10-18 19:17] #97292 closed

[2022-10-18 19:18] pkrumwiedePX commented on #22360
@kalyankrishna1 Is there any update to this ticket? This is still an issue where the role claims cant contain spaces.

[2022-10-18 19:21] spissay opened #100113 "ETA for whitelisting Azure netapp files backup functionality"
[Enter feedback here]
Team,

I have raised a request to whitelist our client subscription to enable backup functionality. Can you please confirm the ETA for the same. we are under tight deadlines on this one. Please reach out to me for further info.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e3e67719-733f-fed9-0a6

[2022-10-18 19:23] cherylmc commented on #93891
#reassign:aybatra

[2022-10-18 19:34] cherylmc commented on #93892
@tulis - Thanks for noticing that! I've removed the duplicate information. That will publish this week. I've also made a note to see if we can create some GUI instructions as well (if applicable). Thanks again! #please-close

[2022-10-18 19:34] #93892 closed

[2022-10-18 19:37] cherylmc commented on #91475
Documentation has been updated. Thanks! #please-close

[2022-10-18 19:37] #91475 closed

[2022-10-18 19:38] cherylmc commented on #88247
#reassign:aybatra

[2022-10-18 19:39] cherylmc commented on #90494
#reassign:aybatra

[2022-10-18 19:41] rgl commented on #100111
Following this is an example of what I mean; I've restyled the scripts a bit, let me known what you think.

Can you please help out filling in the `TODO` entries?

[code]

[2022-10-18 19:41] cherylmc commented on #99610
Hi! Thanks for bringing that to my attention. I've created a doc bug to address this. #please-close

[2022-10-18 19:41] #99610 closed

[2022-10-18 19:47] wpinegar commented on #22360
The only fix we have found for this is to create the AD groups as mail enabled groups (limitation at our company), sync the groups with Azure and then setup the SAML role claim to use SAMAccountName as the role names. That works perfectly for roles that need embedded spaces. Nested groups aren't supported in this configuration. Nothing else works. I have no idea why the Azure team designed it this

[2022-10-18 19:50] ericd-mst-github commented on #85389
Hi @CamiloTerevinto, I apologize for the day. can you try another update for your VM App? I checked with engineering and there should have been a fix already implemented.

[2022-10-18 19:52] cherylmc commented on #86931
We've added this information. If it's not quite what you are looking for, please comment. I'll close this PR for now. https://learn.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#how-do-i-add-dns-suffixes-to-the-vpn-client

#please-close

[2022-10-18 19:52] #86931 closed

[2022-10-18 19:56] #100050 closed

[2022-10-18 19:58] seligj95 commented on #100106
Any of the other skus seem to be working. You can try the Basic sku - for example use "B1" instead. More info on the skus can be found here: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/service_plan

[2022-10-18 20:06] hokaiyipFS commented on #100106
Thanks with B1, it works!!!

[2022-10-18 20:10] seligj95 commented on #100106
Perfect, thanks for trying that. We'll investigate what's going on with the free tier and update the doc if needed.

[2022-10-18 20:25] ChaitanyaNaykodi-MSFT commented on #99347
Hello @assaf-grth,

Apologies for the delayed response here, if you are an existing customer of Azure WAF CDN you can find the [pricing details here](https://azure.microsoft.com/en-us/pricing/details/web-application-firewall/).

Currently you cannot create a new WAF policy for Azure CDN as it has been retired , it is recommended to use WAF with Azure Front Door instead.

![image](https://user-imag

[2022-10-18 20:25] #99347 closed

[2022-10-18 20:28] cyn3rgy commented on #88666
Thanks but I don't see it on that doc...  it has a section on timing but nothing about 40 mins. See screenshot doing a find in the browser

Specific link is https://learn.microsoft.com/en-us/azure/active-directory/app-provisioning/how-provisioning-works#provisioning-cycles-initial-and-incremental

Regards

Andrew
0409 600 656
________________________________
From: udhaymahajan ***@***.***>
Sent: W

[2022-10-18 20:49] amsliu commented on #96364
#reassign @ilyalushnikov

[2022-10-18 20:50] kiwiant opened #100114 "Add warning for unsupported configurations"
Add a warning to the top of the page warning of unsupported configurations. This will avoid unnecessary wasted time and consultancy hours.

One such configuration is:

https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-errors

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2022-10-18 20:50] amsliu commented on #99231
#reassign @ilyalushnikov

[2022-10-18 20:51] amsliu commented on #99513
#reassign @ilyalushnikov

[2022-10-18 20:59] amsliu commented on #98159
#reassign @ilyalushnikov

[2022-10-18 21:14] mikaelweave commented on #91041
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-18 21:14] #91041 closed

[2022-10-18 21:14] jshealth commented on #100016
Thanks for your speedy response. It's no wonder Microsoft docs are way ahead of the competition now.

[2022-10-18 21:18] ealsur commented on #99714
@mathewc The problem is not the code not supporting resolving the expression, is that binding expressions only work on `string` data types, not `bool`, `int` or any other.

[2022-10-18 21:22] ChaitanyaNaykodi-MSFT commented on #99995
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-18 21:24] PatAltimore commented on #98817
Hi @petertuton ,

I'll close the issue. Let me know if you have suggestions on clarifying the docs.

Thanks,
Pat

#please-close

[2022-10-18 21:24] #98817 closed

[2022-10-18 21:34] mathewc commented on #99714
Right - good point. You can't put a binding expressing in an int, so this is not supported by design.

[2022-10-18 21:48] tfitzmac commented on #100084
@bvdboom - yes, it is limited to 1-64 characters. I will add that to the article.

[2022-10-18 21:52] cherylmc commented on #90290
Fixed and should publish this week. It was in the FAQ, but hadn't made it to this article. Thanks for letting us know. #please-close

[2022-10-18 21:52] #90290 closed

[2022-10-18 21:55] tfitzmac commented on #100084
The update should get published tomorrow.
#please-close

[2022-10-18 21:55] #100084 closed

[2022-10-18 21:57] bvdboom commented on #100084
Thank you! Will close the issue.

[2022-10-18 21:57] bvdboom commented on #100084
Thank you!

[2022-10-18 22:01] nickludwig commented on #99035
#reassign:nickludwig

[2022-10-18 22:02] nickludwig commented on #98787
#reassign:nickludwig

[2022-10-18 22:02] nickludwig commented on #99419
#reassign:sreyanth

[2022-10-18 22:02] nickludwig commented on #93415
#reassign:sreyanth

[2022-10-18 22:09] tfitzmac commented on #99761
If the resource type doesn't have a parent type, then that segment is omitted.
#please-close

[2022-10-18 22:09] #99761 closed

[2022-10-18 22:17] cherylmc commented on #98714
#reassign:isamorris

[2022-10-18 22:20] cherylmc commented on #88215
#reassign:cherylmc

[2022-10-18 22:24] cherylmc commented on #98747
#reassign:isamorris

[2022-10-18 22:25] Luketekex opened #100115 "Python functions version 3.6 is no longer supported"
As of 9/30/2022 Python 3.6 is no longer supported on Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://learn.microsoft.com/en-us/azure/azure-functio

[2022-10-18 22:26] Luketekex opened #100116 "Python functions version 3.6 is no longer supported"
As of 9/30/2022 Python 3.6 is no longer supported on Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://learn.microsoft.com/en-us/azure/azure-functio

[2022-10-18 22:32] cherylmc commented on #96959
I'm not really sure how the return is getting this article when none of those words are in the article itself. I'm not sure how to fix this and am not seeing the same results. I'm going to close this for now. If you do see it happening regularly, you can comment here and that will trigger another alert for this pr. #please-close

[2022-10-18 22:32] #96959 closed

[2022-10-18 22:36] nickludwig commented on #99569
Hey @jimbarrett33 - thanks for opening this! So, you're sort-of right that what we've implemented is a Microsoft specific flow... let me explain.

The concept of OBO or, generally, having a resource request tokens on-behalf-of a user isn't a foreign idea in OAuth2. It's covered in the [OAuth2 Token Exchange RFC](https://www.rfc-editor.org/rfc/rfc8693.html). So, while the structure of the OBO flow

[2022-10-18 22:46] MladjoA commented on #96321
Sorry for taking so long to get back.
I just checked the second link, and it clearly states 30s RTO for manual failover, i.e. failover command issued by the customer for a single database. It's consistent with the first link where 30s RTO refers to the [active geo-replication](https://learn.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview?view=azuresql).

With auto-fail

[2022-10-18 22:48] cherylmc commented on #98786
#reassign:deeharris-23

[2022-10-18 22:49] cherylmc commented on #98155
#reassign:deeharris-23

[2022-10-18 22:54] b-ahibbard commented on #100101
Thanks Geert and Jayesh. Volume naming has been updated in the 3 topics where it is mentioned. These topics point to conventions on character limits (1-64):
[Create an NFS volume](https://learn.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-volumes), [Create an SMB volume](https://learn.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-volumes-smb), [Cr

[2022-10-18 22:54] #100101 closed

[2022-10-18 22:56] amsliu commented on #97214
#reassign @rkarim-ms

[2022-10-18 22:56] amsliu commented on #96919
#reassign @rkarim-ms

[2022-10-18 22:56] amsliu commented on #98059
#reassign @rkarim-ms

[2022-10-18 22:57] cherylmc commented on #96648
#reassign:aybatra

[2022-10-18 22:59] optimist937 opened #100117 "how do you use the model you've built for on real data, not just click "Test""
This page gets you to the point where you can test the deployment, and then goes on to some related issues, skipping the part where you would use the model for a deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e6fbc978-36aa-d15b-c770-e9140fb89f79
* Version Independent ID: ba3e2bc4-d812-c405-15cc-02660b37467

[2022-10-18 22:59] cherylmc commented on #96570
#reassign:aybatra

[2022-10-18 23:00] cherylmc commented on #96452
#reassign:@deeharris-23

[2022-10-18 23:01] cherylmc commented on #95342
#reassign:@deeharris-23

[2022-10-18 23:02] cherylmc commented on #95342
This page has been updated with links to the latest steps. I think you should be all set. #please-close

[2022-10-18 23:02] #95342 closed

[2022-10-18 23:03] cherylmc commented on #93618
#reassign:@deeharris-23

[2022-10-18 23:06] cherylmc commented on #92881
#reassign:@deeharris-23

[2022-10-18 23:07] cherylmc commented on #92438
#reassign:@deeharris-23

[2022-10-18 23:08] cherylmc commented on #92351
#reassign:@deeharris-23

[2022-10-18 23:09] cherylmc commented on #92299
#reassign:aybatra

[2022-10-18 23:10] cherylmc commented on #92149
#reassign:aybatra

[2022-10-18 23:10] cherylmc commented on #91869
#reassign:aybatra

[2022-10-18 23:11] cherylmc commented on #90404
#reassign:aybatra

[2022-10-18 23:12] cherylmc commented on #88519
#reassign:deeharris-23

[2022-10-18 23:13] cherylmc commented on #86832
#reassign:deeharris-23

[2022-10-18 23:14] cherylmc commented on #86567
#reassign:deeharris-23

[2022-10-18 23:15] cherylmc commented on #85917
#reassign:deeharris-23

[2022-10-18 23:16] cherylmc commented on #85163
#reassign:aybatra

[2022-10-18 23:24] PatAltimore commented on #98814
@petertuton , Can you confirm this is resolved similar to #98817 ?

[2022-10-18 23:25] cherylmc commented on #85106
I've updated it and the change will publish this week. It really should have just said Export the P2S client certificate you created. Good catch!  #please-close

[2022-10-18 23:25] #85106 closed

[2022-10-18 23:28] cherylmc commented on #83925
#reassign:deeharris-23

[2022-10-18 23:29] cherylmc commented on #83925
We'll take a doc bug on this one as well, as the article could use a refresh.  Thanks!

[2022-10-18 23:30] MladjoA commented on #99088
Hello @timmi4sa, we are very sorry that the statement from the documentation caused such an impact to your project. Please note that the very next sentence in the article refers to the existing applications being moved to Azure SQL:
"Azure SQL Managed Instance also offers a choice of time zones to meet the needs of existing applications that store date and time values and call date and time functi

[2022-10-18 23:31] cherylmc commented on #81356
#reassign:aybatra

[2022-10-18 23:32] cherylmc commented on #83700
#reassign:deeharris-23

[2022-10-18 23:32] cherylmc commented on #83420
#reassign:aybatra

[2022-10-18 23:35] petertuton commented on #98814
Not yet resolved for this document.

In the section, "[Configure IoT Edge with the new certificate](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-manage-device-certificates?view=iotedge-1.4&tabs=linux#configure-iot-edge-with-the-new-certificates)", please add the same 'tip' about the use of `/etc/aziot/config.toml.edge.template`, as is done in the "[Configure certificates on device](http

[2022-10-18 23:41] PatAltimore commented on #99305
Hi @fgheysels ,

Maybe you can use the IoT Edge Visual Studio templates posted here as a guide: https://github.com/Azure/iot-edge-visual-studio-templates. Does that help?

Thanks,
Pat

[2022-10-18 23:42] mumurug-MSFT commented on #100116
@Luketekex Thanks for the feedback. This is duplicate of [#100115](https://github.com/MicrosoftDocs/azure-docs/issues/100115) and hence we will proceed to close this thread. Feel free to add a comment for any further questions.

[2022-10-18 23:42] #100116 closed

[2022-10-18 23:44] mumurug-MSFT commented on #100115
@Luketekex Thanks for the feedback. We will review and update as appropriate.

[2022-10-18 23:45] clin4 opened #100119 "ModuleNotFoundError: No module named 'azure.confidentialledger.certificate'"
[Enter feedback here]
Following the quick start and install the ACL data plane client library
pip install azure.confidentialledger
it will install the version 1.0.0b1
azure-confidentialledger      1.0.0b1
which will raise the error when I run the example.

from azure.confidentialledger.certificate import ConfidentialLedgerCertificateClient
ModuleNotFoundError: No module named 'azure.confidentialle

[2022-10-18 23:59] dbgitrdone opened #100120 "This page stops half way without addressing the 2nd option - VNet"
This page mentions two options:  "The options are private access (virtual network integration) and public access (allowed IP addresses)."  While it goes into detail about public access, it is glaringly void of directly speaking to the 2nd option - VNet.  It should at the very least indicated whether or not firewall rules apply to VNet integration, if so, how, if not, why not and what should be don

[2022-10-19 00:04] GeethaThatipatri-MSFT commented on #100120
@dbgitrdone Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-10-19 00:16] Jarsenal opened #100121 "Azure Monitor agent templates download link is broken"
Azure Monitor agent templates download link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 832fdc0f-9b12-ac34-a7fa-16509f757935
* Version Independent ID: eb3293e7-91db-2edf-d737-4e8ecc3f0696
* Content: [Enable VM insights using Resource Manager templates - Azure Monitor](https://learn.microsoft.com/en-us/az

[2022-10-19 00:24] benoithamet opened #100122 "Can you please the download link"
Hi there

could you please the download link to download the agent and proxy agent?
same as we have with the AAD Connect history page

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20b22c-e31c-67df-cea1-9a39bcbe6788
* Version Independent ID: 158dbe00-1ca1-085c-be81-01a7cadfd082
* Content: [Password protection agent

[2022-10-19 00:36] ChaitanyaNaykodi-MSFT commented on #100102
Thank you for your feedback! We will review and update as appropriate.

[2022-10-19 00:38] anandmeg commented on #100010
#assign: @RoseHJM

[2022-10-19 01:42] Anurzeuii commented on #94209
this issue is still present - getting the ""Recovery of storage accounts was renamed as "Restore" and moved to commands section of Browse Resource blade, click here to navigate to Browse Resource blade" and when i procede it has no restore options on resources

[2022-10-19 02:26] #100014 closed

[2022-10-19 02:36] RuiyiC commented on #99662
It has been updated to be the correct template for configuring $import. Because of Ignite, RP merge on Azure docs repo was blocked before Oct 12.

[2022-10-19 02:48] iamrahulus opened #100124 "Incorrect description of the command"
[Enter feedback here]
Following section:
Azure CLI

Copy
# Create Flexible server in a VNET

az postgres flexible-server create --resource-group myresourcegroup --location westus2
This command performs the following actions, which may take a few minutes:

Create the resource group if it doesn't already exist.
Generates a server name if it isn't provided.
"Create a new virtual network for your new

[2022-10-19 03:10] ChaitanyaNaykodi-MSFT commented on #99495
@rafa-el-nunes,

Thank you for your feedback, I have made a PR to address this issue and it is currently doc author's review. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-10-19 03:10] #99495 closed

[2022-10-19 03:29] v-missam commented on #60431
Thanks @sfc-gh-space  for the feedback. I have made a doc change to address this issue and it should be live in next couple of days
#please-close

[2022-10-19 03:29] #60431 closed

[2022-10-19 03:29] v-missam commented on #60733
Thanks @svickers  for the feedback. I have made a doc change to address this issue and it should be live in next couple of days
#please-close

[2022-10-19 03:29] #60733 closed

[2022-10-19 03:30] v-missam commented on #63825
Thanks @sfc-gh-sborella for the feedback. I have made a doc change to address this issue and it should be live in next couple of days.
#please-close

[2022-10-19 03:30] #63825 closed

[2022-10-19 03:32] jomalsan opened #100125 "AML - how to use secrets in runs - Typo in secret import code fragment"
Getting Secrets section, step 2 there is a typo in the code fragment.

The keyvault import statement should pluralize "secrets": `from azure.keyvault.secrets import SecretClient`, as seen on the packages pypi page: https://pypi.org/project/azure-keyvault-secrets/

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d638e5c5

[2022-10-19 03:36] YashikaTyagi-MSFT commented on #100104
@phatmcpat
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:40] YashikaTyagi-MSFT commented on #100107
@camalloy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:40] YashikaTyagi-MSFT commented on #100106
@hokaiyipFS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:42] YashikaTyagi-MSFT commented on #100109
@jaxidian
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:43] YashikaTyagi-MSFT commented on #100111
@rgl
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:51] YashikaTyagi-MSFT commented on #100113
@spissay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:53] YashikaTyagi-MSFT commented on #100114
@kiwiant
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-19 03:54] YashikaTyagi-MSFT commented on #100117
@optimist937
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:57] YashikaTyagi-MSFT commented on #100119
@clin4
Thanks for your feedback! We have assigned the issue to author and will provide further updates..

[2022-10-19 03:57] johnnyyuelee008 commented on #99050
@msmimart  @ManoharLakkoju-MSFT is there any update .

thanks.

[2022-10-19 03:58] YashikaTyagi-MSFT commented on #100121
@Jarsenal
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 03:59] YashikaTyagi-MSFT commented on #100122
@benoithamet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 04:01] YashikaTyagi-MSFT commented on #100124
@iamrahulus
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 04:02] YashikaTyagi-MSFT commented on #100125
@jomalsan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 04:07] YashikaTyagi-MSFT commented on #99959
@limanea
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-19 04:07] #99959 closed

[2022-10-19 04:10] YashikaTyagi-MSFT commented on #100067
@alexbuckgit
Could you please take a look at this issue ?

[2022-10-19 04:12] v-hgampala commented on #99017
@lenniecottrell, Updating the document.
#please-close

[2022-10-19 04:12] #99017 closed

[2022-10-19 04:21] ManoharLakkoju-MSFT commented on #100064
@tksh164
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-19 04:21] ManoharLakkoju-MSFT commented on #100064
@alkohli
Can you please check and add your comments on this doc update request as applicable.

[2022-10-19 04:40] Venkateshdodda-MSFT commented on #100056
@himachida Thanks for your feedback! I see the suggested statements were already present in this documentation under the FAQ section and therefore documentation update is up to date,no changes are required as shown below.

![image](https://user-images.githubusercontent.com/103091186/196598944-4b4e9609-f290-429d-b59d-21a4bab60e6d.png)

We will close this out, but if you feel you need more informati

[2022-10-19 04:40] #100056 closed

[2022-10-19 05:03] rybkov opened #100126 "Incorrect ref name in query for github_events"
The query reference main head in the documentation, when test data is still using master. To get proper result should use following query
`SELECT date_trunc('hour', created_at) AS hour,
      sum((payload->>'distinct_size')::int) AS num_commits
FROM   github_events
WHERE  event_type = 'PushEvent' AND
       payload @> '{"ref":"refs/heads/master"}'
GROUP BY hour
ORDER BY hour;`

---
#### Document D

[2022-10-19 05:05] shaktisingh-msft commented on #100124
Hi @sunilagarwal,

Could you please look into this document request. Thanks

[2022-10-19 05:05] AjayBathini-MSFT commented on #99945
@samssann
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-19 05:05] #99945 closed

[2022-10-19 05:06] shaktisingh-msft commented on #100126
Hi @rybkov,

Thanks for sharing feedback. We will look into this and update as appropriate.

[2022-10-19 05:14] YashikaTyagi-MSFT commented on #100022
@Aileron79
Thanks for contributing towards enhancement of the document. Required changes have been made, once approve by author, it will reflect in the document itself.

[2022-10-19 05:18] jaypatrick commented on #39577
Software engineer of 22 years, was reading about service fabric tonight to brush up for an interview tomorrow and saw that same term. Searching on "hostile tenant" educated me on eviction processes, but nothing to do w/ OUR version of tenants. Then I searched on non-hostile multi tenant" and this popped up as #2. Well done, and thank you for the explanation.

[2022-10-19 05:22] #100022 closed

[2022-10-19 05:32] AjayBathini-MSFT commented on #100068
@pmia
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-19 05:35] v-missam commented on #92481
Thanks @InforSupport   for the feedback. Our team has made changes to the doc and have instructed to use Powershell instead of NotePad++ . Please try it and let us know in case of any concern.
![image](https://user-images.githubusercontent.com/73954333/196605311-9a4c98a6-4328-4f8f-9a61-ba765b5f7c87.png)
#please-close

[2022-10-19 05:35] shaktisingh-msft commented on #100126
Hi @jonels-msft,

Could you please look into this document update request. Thanks.

[2022-10-19 05:35] #92481 closed

[2022-10-19 05:42] AjayBathini-MSFT commented on #100068
@pmia
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-19 05:42] #100068 closed

[2022-10-19 05:50] abengtss-max opened #100127 "Pod Security Policies deprecated since version Kubernetes 1.21"
[Enter feedback here]

In the documentation you mention, pod security policies, PSP is being deprecated in kubernetes version 1.21, its worth to mention it is deprecated since 1.21 and provide an alternative solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc83c-c911-4d82-98af-ed8880ca6c4a
* Version Indepen

[2022-10-19 06:03] SturgeonMi commented on #99952
Hi @mebristo , SasTokenCredentials object part is missing in the previous doc. Will update it.

[2022-10-19 06:14] SaibabaBalapur-MSFT commented on #100113
@spissay
Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-19 06:14] #100113 closed

[2022-10-19 06:21] SaibabaBalapur-MSFT commented on #100007
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-19 06:21] SaibabaBalapur-MSFT commented on #100007
@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-10-19 06:21] jyothisuri commented on #77499
@Kevintheanalyst kindly note, for documentation team, we have some internal processes and strategies to track and close GitHub issues. Accordingly, we have been closing the ones that are open for a year or more. However, these items would be further tracked as required.  If you have noticed, in this case, the issue was reopened shortly after closing it.

Thank you for understanding!

cc
@v-ksreede

[2022-10-19 06:24] RamanathanChinnappan-MSFT commented on #99991
@justinmchase

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-19 06:24] #99991 closed

[2022-10-19 06:42] SaibabaBalapur-MSFT commented on #100049
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-19 06:46] SaibabaBalapur-MSFT commented on #100049
Hi @jimmart-dev we have gone through different documents links where we couldn't find resolution for unmanaged disk for the GRS support for page blobs which are used as VM disks, could you please add your comments. Thanks.

[2022-10-19 06:47] anwojcie commented on #93952
Hi,

do we have an update on this or any more specific information in regards to potential subdomains?
I guess it would be enough for customers if they'd at least know which privatelink DNS zones they need to create.
Cheers,
Andre

[2022-10-19 07:11] tanjakersten opened #100129 "Does not apply to User Access Administrator"
This does not apply to the User Access Administrator Role. This log is logged in Directory Activity not in Activity Logs and cannot be exported to a Log Analytics Workspace via diagnostic settings. Therefore you can't create an alert on User Access Administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 544b4adb

[2022-10-19 07:12] HongW2019 opened #100130 "Editing the inbound security rules about SSH seems to always be denied because of the deny assignment with name 'System deny assignment created by Azure Databricks /subscriptions/XXX"
After I create a Azure Databricks service, and then configure the Azure network security group within this workspace resources. When edit the inbound security rules to allow connections to the SSH port, there will errors as below.
So how would I solve this error?

Editing the inbound security rules about SSH seems to always be denied because of the deny assignment with name 'System deny assignment

[2022-10-19 07:17] Naveenommi-MSFT commented on #100006
@yutaro113
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-19 07:21] Naveenommi-MSFT commented on #100006
@yutaro113
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-19 07:25] #74720 closed

[2022-10-19 07:26] Naveenommi-MSFT commented on #100006
@nabhishek

Could you please check and add your comments on this, update as appropriate.

[2022-10-19 07:27] Naveenommi-MSFT commented on #100006
@nabhishek

Could you please check and add your comments on this, update as appropriate.

[2022-10-19 07:38] v-amallick commented on #99217
Hi @Darryl-G - thanks for writing to us. We have updated doc in private PR #[215023](https://github.com/MicrosoftDocs/azure-docs-pr/pull/215023), this will be live soon.

As the doc update is complete, we are now closing this issue - #please-close .

[2022-10-19 07:49] Naveenommi-MSFT commented on #100026
@remuant
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-19 07:50] assaf-grth commented on #99882
Hi @shaktisingh-msft @sr-msft any updates on this?

[2022-10-19 07:51] Naveenommi-MSFT commented on #100026
@lgayhardt
Could you please review and add your comments on this update as appropriate.

[2022-10-19 07:53] RamanathanChinnappan-MSFT commented on #100003
@yutaro113

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-19 07:53] RamanathanChinnappan-MSFT commented on #100003
@ssabat

could you please review this and update as appropriate.

[2022-10-19 07:54] limwainstein commented on #99218
@pku-csis Apologies for the delay. There's a new article in progress that covers CEF via AMA, including how to set up a log collector. The page is currently in review and will be published when the feature goes to public preview in the new week or two (dependent on product timelines). Please contact your PM if you'd like to use the private preview document in the meantime.

[2022-10-19 07:57] assaf-grth commented on #100005
Hi @SatishBoddu-MSFT
I am asking about the IOT hub service specifically

I noticed that the [IoT Hub Device Provisioning Service](https://learn.microsoft.com/en-us/azure/iot-dps/iot-dps-ha-dr#high-availability) does support multiple AZ in West Europe so I wanted to verify that the IOT hub document is updated

From your answer I understand that indeed IOT hub service doesn't support multiple AZs in

[2022-10-19 08:00] rockboyfor opened #100133 "[Databrick] meta property gay between Json sample and Request structure."
Hi guys,

We notice that there is meta property gap between the Json sample code and Request structure section.
Whether it is typo in the Json sample code section?

Please refer to the following snapshot:
![image](https://user-images.githubusercontent.com/4704301/196631374-ba4fe3cd-ee81-47d1-bd44-2250797850d1.png)

Best Regards,
Edward Chen

---
#### Document Details

⚠ *Do not edit this section.

[2022-10-19 08:13] nilsgaeq opened #100134 "Connecting with managed identity while using built in pgbouncer does not work"
Setting up azure ad authentication for postgres flexible, we had no success while using pgbouncer port 6432. Error we got was "08P01: password authentication failed". Switching to plain postgres port 5432 resolved the issue, so it seems that pgbouncer + managed identity does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-19 08:30] adityabalaji-msft commented on #99105
Hi @matt961 - thanks for reaching out. If possible, could you add more detail on which command is incorrect and what is the error you are facing? This will help us update accordingly

[2022-10-19 08:51] SwathiDhanwada-MSFT commented on #99760
@AndrePKI Thanks for the details. This channel is mainly for documentation changes. For technical issues, I would request you to post your question on [Microsoft Q & A Community Forum](https://learn.microsoft.com/en-us/answers/products/) or reach out to [Microsoft Support Team](https://azure.microsoft.com/en-in/support/#get-support) for the same.

As there are no further documentation changes, we

[2022-10-19 08:51] #99760 closed

[2022-10-19 08:52] ArchangelSDY commented on #99773
Have you tried `Endpoint=https://<custom-domain>;...` as you connection string? Also please share your app server side error logs.

[2022-10-19 08:52] #100104 closed

[2022-10-19 08:54] SwathiDhanwada-MSFT commented on #100085
@yossi-y  Thanks for providing quick insights.

@andrePKI Thanks for the feedback. We will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-10-19 08:54] #100085 closed

[2022-10-19 08:55] joergen98 commented on #85886
Hi @John-HLC
I am experiencing the same issue, and was wondering if you found a solution to this problem?

[2022-10-19 08:57] AjayBathini-MSFT commented on #100096
Hi @marcgoff
Could you please let us know what corrections to be made in first sentence. So, we can work on updating as per requirement.

Thanks.

[2022-10-19 09:20] v-amallick commented on #97435
Hi @ibabedal - sorry for the delay in response. You can find the example pre-registration scripe in the table of [this section](https://learn.microsoft.com/en-us/azure/backup/tutorial-backup-sap-hana-db#what-the-pre-registration-script-does). Request you to please check.

Also, please share your suggestion for us to imporve the article.

[2022-10-19 09:27] v-amallick commented on #99792
Hi @jusolis  - thanks for writing to us. We are planning to release *Enhanced policy with selective disk backup* in preview soon.

As there are no doc updated needed, we are closing this issue - #please-close .

[2022-10-19 09:27] #99792 closed

[2022-10-19 09:36] Gaibusha opened #100141 "application insights"
very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content: [Application Insights overview - Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview?tabs=net)
* Content S

[2022-10-19 09:37] ManoharLakkoju-MSFT commented on #100088
@msjuergent
Thanks for your comments

@Klaas-
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-19 09:37] Gaibusha opened #100142 "insights"
very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4a1d83f2-9606-57cb-e31a-1362e6825503
* Version Independent ID: fa926f7a-15e3-230d-a2b5-884b831691ee
* Content: [Monitor Azure app services performance .NET Core - Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-net-core?

[2022-10-19 09:39] ManoharLakkoju-MSFT commented on #100074
@Arno-Pretorius
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your iss

[2022-10-19 09:39] #100074 closed

[2022-10-19 09:41] ManoharLakkoju-MSFT commented on #100111
@rgl
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-10-19 09:41] #100111 closed

[2022-10-19 09:45] Jessieliu111 opened #100143 "Script cannot run successfully"
[Enter feedback here]
Below script cannot run successfully. Please repro from your side. For the azureSubscription Pram, please help check if it's correct. Please confirm if it should be sercive connection name.
- task: AzureCLI@2
  inputs:
    ****azureSubscription: 'your-azure-subscription'****
    scriptType: 'bash'

---
#### Document Details

⚠ *Do not edit this section. It is required for lea

[2022-10-19 09:45] AjayBathini-MSFT commented on #99984
@MDYShah
We are going to close this thread but if there are any further questions in the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-19 09:45] #99984 closed

[2022-10-19 09:45] #100109 closed

[2022-10-19 09:47] Naveenommi-MSFT commented on #100071
Hi @JeeWeetje The link is not opening which is shared below. could you please elaborate your query with correct link for better understanding.

https://nsdigitaal.sharepoint.com/sites/NSCloudWiki/SitePages/NS-Cloud-Onboarding-Requirements.aspx

[2022-10-19 09:55] SadiqhAhmed-MSFT commented on #100109
The issue seems to be technical in nature that needs deeper investigation. This is not the right channel to troubleshoot technical issues. Which is why I mentioned you to contact Azure technical support team by raising support request. Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request to create support case.

[2022-10-19 09:55] SaibabaBalapur-MSFT commented on #100073
@cnpaccer
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-19 09:55] #100073 closed

[2022-10-19 09:55] SadiqhAhmed-MSFT commented on #99998
@Marwaabouawad For assistance.

[2022-10-19 10:00] hmenchaca commented on #100030
Just to add: the issue is basically that the subsections "a" and "b" of point #10 need to be swapped as they don't match the screenshot - an that causes visual confusion when they are putting those values into the Atlassian SAML configuration.
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/15057812/196660592-38387070-0063-4f51-bbf3-7413904c3725.png">
<img width="1053"

[2022-10-19 10:02] Vikram1988 commented on #99869
The commands have been tested and it is /bin/ls and not ps. Please elaborate which Linux OS distro needs ps command?

[2022-10-19 10:06] RamanathanChinnappan-MSFT commented on #100018
@jhirono

could you please review this and update as appropriate.

[2022-10-19 10:16] shaktisingh-msft commented on #100134
Hi @nilsgaeq,

Thanks for sharing your feedback. We will look into this and update as appropriate.

[2022-10-19 10:16] Klaas- commented on #100088
Hi,
yeah, the modifications in https://github.com/MicrosoftDocs/azure-docs/commit/cb3951b12982d2355a9db839159610941af0c61b make it better :)

[2022-10-19 10:16] #100088 closed

[2022-10-19 10:17] Klaas- commented on #100088
"Be aware that the experienced network roundtrip latency is not necessarily indicative to the real geographical distance of the datacenters that form the different zones." well it is indicative, it is at most 1ms speed of light :) But I am guessing you're thinking about a minimum distance, that is indeed undefined in Azure.

[2022-10-19 10:18] TedSanne opened #100144 "Cancellation token example seems to be incomplete"
The section about Cancellation tokens seems to have an incomplete example:
[code]

The first part of the method definition is missing. It also makes no mention in the example of the token itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad5f362-cbfb-0621-4389-6378f50359e4
* Version Independent ID: ebf1a8f3-ab9d

[2022-10-19 10:21] yelevin commented on #99218
@pku-csis Thanks for your patience. Our office has been on holiday most of the last two weeks so I wasn't able to find an answer for you until now.
I've been in contact with the product group and should have an answer sometime today or tomorrow.
Thanks!

[2022-10-19 10:21] shaktisingh-msft commented on #100134
Hi @kabharati,

Could you please look into this document update request. Thanks.

[2022-10-19 10:45] YashikaTyagi-MSFT commented on #100030
@hmenchaca
You meant to say that the below image should be attached with 'b' subsection
<img width="460" alt="image" src="https://user-images.githubusercontent.com/110381034/196669738-096fb1e9-1eab-4ba3-b64d-99ba3ea4047a.png">

[2022-10-19 10:48] hmenchaca commented on #100030
@YashikaTyagi-MSFT more or less - what I mean is that
![image](https://user-images.githubusercontent.com/15057812/196670625-e78419d7-0c14-44b6-917d-201e85ed499b.png)

Swapped the text values between sections "b" and "c" and keep the image. - the issue is that we receive some tickets where customers enter the values wrong cause of a visual mistake - I guess they got the impression that Login URL go

[2022-10-19 10:58] audunsolemdal commented on #99573
Anyone?

[2022-10-19 11:00] Thorfinn60 commented on #98899
Thank you for your answer, where can I find the PR with your fix, has it been published/released ?

[2022-10-19 11:05] tajwan69 commented on #99773
@ArchangelSDY Yes of course. As I said on the top:
_"But when I change Endpoint property in SignalR connection string to my custom domain a have a problems."_

And I don't have any errors on app server side.

[2022-10-19 11:27] KapilAnanth-MSFT commented on #99598
Hi @krispenner ,

I shall close this thread for now.
Please feel free to reopen should you have any follow-up questions

[2022-10-19 11:36] fgheysels commented on #99305
Thanks for pointing me in that direction.
As I understand, it would come down to the fact to create a VS template for this, but is there any documentation on where that template must be placed in order for it to be available ?

[2022-10-19 11:48] ManoharLakkoju-MSFT commented on #100033
@Justinha
Can you please check and add your comments on this doc update request as applicable.

[2022-10-19 12:25] andrePKI commented on #99002
Excellent! Thank you for this clarification. I guess I missed the "on Windows client devices" as I found the article via a search (as I usually do) and then jumped right in.  Hence no documentation issue, just a 'reader issue'. ;-)

[2022-10-19 12:25] #99002 closed

[2022-10-19 12:31] AbbyMSFT commented on #97158
Hi @anoobbacker,
We appreciate your comments and your dedication to the quality of our documentation.
The screenshot has been updated.
Please feel free to continue to send feedback!

Thanks,
Abby

#please-close

[2022-10-19 12:32] #97158 closed

[2022-10-19 12:37] v-missam commented on #68059
Thanks @sderungs  for the feedback. The doc change to address this issue is live now.
#please-close

[2022-10-19 12:37] #68059 closed

[2022-10-19 12:48] v-missam commented on #72293
Thanks @kathodion  for the feedback. The doc change to address this issue is live now. Please verify Step2 and let us know in case of any concern.
#please-close

[2022-10-19 12:48] #72293 closed

[2022-10-19 12:54] graemefoster opened #100151 "Availability zone sentence confusing"
Both the ASE V3 and this page have this statement regarding availability zones / instance count:

“Otherwise, instance counts beyond 3*N are spread across the remaining one or two zones.”

it’s unclear what “3*N” means in this sentence. N isn’t mentioned in the paragraph.

Would be awesome to clarify this maybe
“Otherwise the remaining (instances % 3) are spread across the remaining zones”

or may

[2022-10-19 13:00] adstuart opened #100152 "region nomenclature"
UK North and UK South 2 are not Azure region names, suggest updating to avoid confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is a private endpoint? - Azure Private Link](https://learn.microsof

[2022-10-19 13:01] v-amallick commented on #99669
Hi @scatmull - thanks for writing to us. We have updated the article with the unit in private PR #[215043](https://github.com/MicrosoftDocs/azure-docs-pr/pull/215043). The changes will be live soon.

As the doc updates are complete, we are closing this issue - #please-close .

[2022-10-19 13:01] #99669 closed

[2022-10-19 13:28] mbell85 commented on #100097
Thanks for the swift response and for looking into it!

[2022-10-19 13:29] lironh-di commented on #36222
Hey, this issue is such an eyesore and wed love it if it could be fixed in the near future.

[2022-10-19 13:40] GitaraniSharma-MSFT commented on #100152
@adstuart , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-10-19 13:47] v-missam commented on #91060
Thanks @alemurillo  for the feedback. We have made several changes to the doc like adding below sections:

- Recommendations.
- Update a Tableau Cloud application to use the Tableau Cloud SCIM 2.0 endpoint.
- Valid Tableau site role values

Hopefully these will answer your concern.

#please-close

[2022-10-19 13:47] #91060 closed

[2022-10-19 13:51] jsquire opened #100154 "[Mobile Services] "Returns" description not matching actual return type"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#31891](https://github.com/Azure/azure-sdk-for-net/issues/31891).

### Please be aware that @qbqaf is the author of the original issue and include them for any questions or replies.

**Transfer note:**

Though this text is likely sourced from build output on the library, this [package](https://www.nuget.org/

[2022-10-19 14:00] anaharris-ms commented on #100151
Hi @graemefoster. 3*N generally refers to multiples of 3, so 3 * 1, 3* 2, etc. But I agree that it isn't quite clear, so I will update the document. Thank you for your feedback!

[2022-10-19 14:03] marcgoff commented on #100096
The sentence is too jumbled to know what the author was meaning to say.

On Wed, Oct 19, 2022, 4:57 AM AjayBathini-MSFT ***@***.***>
wrote:

[2022-10-19 14:12] ElazarK commented on #99732
#please-close

[2022-10-19 14:12] #99732 closed

[2022-10-19 14:13] peteraziz10 opened #100155 "Incorrect Alternate Approver Email forwarding time explanation and example"
- [ Access Packages - Alternate Approver Email forwarding time] The relevant Azure service or technology.
- [ https://learn.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-approval-policy ] A link to the published documentation article that you have feedback about.
- [ In the alternate approver section (Link to section: https://learn.microsoft.com/en-us/

[2022-10-19 14:17] ElazarK commented on #99960
#reassign:bmansheim

[2022-10-19 14:19] VandhanaMehta commented on #98209
#reassign: @vivgk

[2022-10-19 14:19] lukos commented on #99151
I will try VMSS then, although I am having trouble with SSH on that, which is probably something very different.

Coming back to the original issue though, the documentation is confusing/missing due to the overlap of these different terms like zones, sets, fault domains, update domains, PPGs etc. and how they interact with each other.

[2022-10-19 14:21] ibrahimiy opened #100156 "Link to the parquet file does not work"
The download link to the parquet file does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID: 181a621d-0e83-af7d-cb8a-7e63f3195604
* Content: [Quickstart: Get started - create a Synapse workspace - Azure Synapse Analytics](https://learn.microsoft.com

[2022-10-19 14:27] MGoedtel commented on #100019
@torumakabe and @VikasPullagura-MSFT - This isn't a tutorial, rather a how-to deploy and configure an AKS cluster with workload identity in preparation for deploying an application/workload to it that would authenticate with the identity. I was contemplating or considering how to approach this given a customer might deploy either a legacy app and use the sidecar, or an updated app that is using th

[2022-10-19 14:35] KrishnaG-MSFT commented on #99981
@redog We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-19 14:46] robsmi-msfte opened #100159 "Updating process does not account for possible logged on users"
The process outlined here, does not mention what to do with logged on users.  Do we notify them?  Do we put the VMs in "Drain Mode" ahead of the patching window?  Do we force a user logoff after so many idle minutes?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4690ad4-6ccf-ace4-8e8f-98ab83838034
* Version Independ

[2022-10-19 14:48] KrishnaG-MSFT commented on #100141
@Gaibusha Thanks for the feedback! Glad the document was useful!

[2022-10-19 14:48] johnmarco commented on #100001
Hi @gbms311 . Yes, agreed that this is confusing. Will look into this soon and refresh the articles so they are more consistent.

[2022-10-19 14:48] KrishnaG-MSFT commented on #100142
@Gaibusha Thanks for the feedback! Glad the document was useful!

[2022-10-19 14:48] #100142 closed

[2022-10-19 14:50] KrishnaG-MSFT commented on #99645
@rahulgaadhe-8451 Hope you have self-resolved and hence closed the issue. If that's not the case, please share the Azure document link and elaborate the feedback. Thanks.

[2022-10-19 14:53] tomlegge opened #100160 "Scala and Python code mistake (getSecret NOT GetSecret)"
The is a mistake in the code example on this page - when getting a secret from an Azure Key Vault, the code in the Scala example should be "getSecret" not "GetSecret" (capitalization of the 'g' in get will result in an error). Same mistake in the python code example.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 56d6

[2022-10-19 15:09] krispenner commented on #99598
@KapilAnanth-MSFT but the document had not been updated and still reads an inaccurate description. I think it’s best to keep this open until it is resolved.

[2022-10-19 15:16] PatAltimore commented on #99305
Hi @fgheysels ,

This is a little outside my expertise. ...But, this VS article might be a good place to start. https://learn.microsoft.com/en-us/visualstudio/ide/how-to-update-existing-templates?view=vs-2022. Does that help?

Thanks,
Pat

[2022-10-19 15:24] aahill commented on #99991
@justinmchase just to add some additional information here, "Cognitive search" is a separate product than "Cognitive services" (although the naming is similar) which is why we don't list it on this page. - I checked with the team and they currently do not provide a docker container, though I've forwarded this suggestion to them.

[2022-10-19 15:26] YashikaTyagi-MSFT commented on #100127
@abengtss-max
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:28] YashikaTyagi-MSFT commented on #100129
@tanjakersten
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:30] YashikaTyagi-MSFT commented on #100130
@HongW2019
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:31] YashikaTyagi-MSFT commented on #100133
@rockboyfor
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:32] YashikaTyagi-MSFT commented on #100143
@Jessieliu111
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:37] YashikaTyagi-MSFT commented on #100151
@graemefoster
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-19 15:42] YashikaTyagi-MSFT commented on #100154
@jsquire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:43] YashikaTyagi-MSFT commented on #100155
@peteraziz10
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-19 15:46] davidsmatlak commented on #99502
@SwathiDhanwada-MSFT please remove the label `azure-resource-manager/svc` because this issue is for a Cloud Shell article. Thanks!

cc: @theJasonHelmick @maertendMSFT

[2022-10-19 15:50] YashikaTyagi-MSFT commented on #100156
@ibrahimiy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:52] YashikaTyagi-MSFT commented on #100159
@robsmi-msfte
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:54] YashikaTyagi-MSFT commented on #100160
@tomlegge
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-19 15:54] cherylmc commented on #81295
#reassign:deeharris-23

[2022-10-19 15:55] cherylmc commented on #80023
#reassign:aybatra

[2022-10-19 15:57] craigtp commented on #57611
@epomatti One thing I discovered myself when recently working in this area is that selecting `Messages Processed/Instance (Avg)` from the metric name dropdown in the portal actual creates a scaling rule with the `metricName` set to `MessageCount` (i.e. the value of the `metricName` property in the exported ARM template JSON will be `MessageCount`).  Likewise, selecting `Active Messages Processed/I

[2022-10-19 15:57] peteraziz10 commented on #100155
Hi,

All the links should be in my comments description section.

I can send it here once I get back to my computer if you still can't find
them.

Thanks,
Peter Aziz

On Wed, Oct 19, 2022 at 11:43 AM YashikaTyagi-MSFT ***@***.***>
wrote:

--

*Peter Aziz*
PwC | Senior Associate
T: 6137555901
Email: ***@***.***
PricewaterhouseCoopers Advisory Inc.
99 Bank Street, Suite 800, Ottawa, Ontario K1P 1E4

[2022-10-19 15:57] whomanGHA commented on #99867
The domain name being added in the screenshot is www.wihoman.com<http://www.wihoman.com> - which is a subdomain not an apex domain.  This is what I am trying to point out to you.  The portal allows you to validate a subdomain via TXT record, but our docs make no mention of this.  Either the docs are incomplete or the portal experience for this feature is broken.

***@***.***

Will Homan

Support E

[2022-10-19 16:02] cherylmc commented on #81408
I've updated the NAT FAQ information. It will publish this week. #please-close

[2022-10-19 16:02] #81408 closed

[2022-10-19 16:04] Anariks commented on #29343
and me also.. trying to do it from vscode

[2022-10-19 16:12] claria commented on #99834
As mentioned above, the updates to a device twin were NOT reflected within 5 minutes, but it was more like 2-3 hours (for very few messages).

Currently i am not affected by this issue but it seemed to be ok after ~3 hours (all messages correctly enriched).

[2022-10-19 16:16] cherylmc commented on #81061
#reassign:deeharris-23

[2022-10-19 16:16] cherylmc commented on #82232
#reassign:ayushi

[2022-10-19 16:17] cherylmc commented on #82232
#reassign:aybatra

[2022-10-19 16:19] cherylmc commented on #82799
I'm taking a doc bug on this. The article needs a refresh. Thanks for pointing this out. #please-close

[2022-10-19 16:19] #82799 closed

[2022-10-19 16:19] cherylmc commented on #81855
#reassign:deeharris-23

[2022-10-19 16:20] tejaswikolli-web commented on #99127
We have changed the documentation as just Digest. This supports just Digest.

[2022-10-19 16:20] tejaswikolli-web commented on #99127
#please-close

[2022-10-19 16:20] cherylmc commented on #79957
#reassign-aybatra

[2022-10-19 16:26] austinmccollum commented on #93208
#assign:austinmccollum

[2022-10-19 16:27] austinmccollum commented on #93208
You are right @malavann and now the Limo feed from Anomali is end of life. We've removed the reference in this article and are working to remove in other locations. Thank you!

[2022-10-19 16:27] austinmccollum commented on #93208
#please-close

[2022-10-19 16:27] #93208 closed

[2022-10-19 16:31] austinmccollum commented on #95048
#assign:austinmccollum

[2022-10-19 16:33] mattweale opened #100162 "Orbital Data Collection VM - Public IP Address?"
In the documentation "Prepare your virtual machine (VM) and network to receive AQUA data" it states "Ensure that the VM has at least one standard public IP".

https://learn.microsoft.com/en-us/azure/orbital/downlink-aqua#prepare-your-virtual-machine-vm-and-network-to-receive-aqua-data

Is this correct given that in the Contact Profile Documentation:

https://learn.microsoft.com/en-us/azure/orbital

[2022-10-19 16:54] tamram commented on #100049
#reassign: @roygara

@roygara - can you investigate? If needed, I would see this content belonging in the disks TOC.

[2022-10-19 17:02] sumitmalik51 opened #100163 "Not able to download the Cord-19 dataset locally using Azure ML- dataset-covid-19-open-research"
Hi Team,

Facing some permission issues while downloading the Cord-19 dataset locally using Azure ML, [Link to the doc](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/open-datasets/dataset-covid-19-open-research.md#getting-the-cord-19-data-from-azure-1)

Please look into the below error.

Error Code: ScriptExecution.StreamAccess.Authentication
Failed Step:########################
E

[2022-10-19 17:05] mbiver opened #100164 "Add persistent NFS FSTAB section?"
Hello, team.  Could we add a better FSTAB section to this document in order to persist the NFS share after reboots?  If you click on the FSTAB link provided in this document

https://learn.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux#static-mount-with-etcfstab

 it takes you to a section that talks about how to add a CIFS mount point to the FSTAB file, but not an NFS.  Pe

[2022-10-19 17:08] tasdflkjweio opened #100165 "How do you mount and share data via a single shared disk in Linux?"
When following the linux instructions, changes to a file in one VM are not reflected in the second VM. How do I do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838cb5-c34c-e0ff-b280-b86f29453cad
* Content: [Attach a data disk to a Linux VM - Azur

[2022-10-19 17:12] kengaderdus commented on #100038
@SaibabaBalapur-MSFT

Thanks for your feedback and patience. `city` is a built-in attribute, and not a custom/extension attribute, so you don't need to prefix it with `extension `.

For more details see, [Azure AD B2C User profile attributes](https://learn.microsoft.com/azure/active-directory-b2c/user-profile-attributes). Also mention in the [Next steps](https://learn.microsoft.com/en-us/azure/act

[2022-10-19 17:12] #100038 closed

[2022-10-19 17:12] ggailey777 commented on #100144
Thanks for reporting. This is currently being worked on. In the meantime, you can find the samples [here](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Net7Worker/EventHubCancellationToken.cs#L18).

[2022-10-19 17:12] ggailey777 commented on #100144
#reassign:ggailey777

[2022-10-19 17:14] SwathiDhanwada-MSFT commented on #99907
@ezYakaEagle442 Thanks for reaching out. As of now, Ubuntu 22.04 isn't supported by Azure Auto manage yet and there is no ETA for now.

As there are documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-10-19 17:14] #99907 closed

[2022-10-19 17:24] peteraziz10 commented on #100155
Article Link:  https://learn.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-approval-policy

Section with Alternate Approver Issue (Bullet Point #4): https://learn.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-approval-policy#alternate-approvers

[2022-10-19 17:32] jimbarrett33 commented on #99569
Thanks for the explanation!

[2022-10-19 17:45] chitturs opened #100167 "Default azure monitor workspace naming is incorrect"
This is what I see in a real deployment.

MA_defaultazuremonitorworkspace-weu_westeurope_managed

and not what is mentioned in the doc below

Create a new default Azure Monitor workspace.
If no Azure Monitor Workspace is specified, then a default Azure Monitor Workspace will be created in the DefaultRG-<cluster_region> following the format **DefaultAzureMonitorWorkspace-<mapped_region>**. This Azu

[2022-10-19 17:56] chitturs commented on #100167
@vishiy

[2022-10-19 17:56] cburuzie commented on #99587
Hi @davidramsayMS, thanks for your feedback. We have updated the document with the list of resources that can be associated with Basic PIP and their upgrade path.

#please-close

[2022-10-19 17:57] #99587 closed

[2022-10-19 18:22] glenmw opened #100170 "Pass parameter to PowerShell customizer that uses ScriptUri?"
Regarding https://learn.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-powershell, step 3. Create a VM Image Builder customization object:
I would like to create a PowerShell customization object ("customizer") that runs a PowerShell script stored in an Azure storage container. The script has one parameter, whose value should be sent to the script via the Image Builder image temp

[2022-10-19 18:58] devtrf commented on #47482
Bumping this. We're far too deep into the product lifecycle to still not have official wording.

[2022-10-19 19:27] cherylmc commented on #98786
#reassign-radwiv

[2022-10-19 19:28] cherylmc commented on #98786
#assign:cherylmc

[2022-10-19 19:29] cherylmc commented on #92881
#reassign:radwiv

[2022-10-19 19:29] cherylmc commented on #92881
#assign:cherylmc

[2022-10-19 19:29] cherylmc commented on #92351
#reassign:radwiv

[2022-10-19 19:30] cherylmc commented on #92299
#assign:cherylmc

[2022-10-19 19:32] cherylmc commented on #81061
#assign:cherylmc

[2022-10-19 19:35] SnehaGunda commented on #93242
#reassign: @shuaijunye

[2022-10-19 19:35] SnehaGunda commented on #93233
#reassign: @shuaijunye

[2022-10-19 19:35] SnehaGunda commented on #93231
#reassign: @shuaijunye

[2022-10-19 19:36] SnehaGunda commented on #89951
#reassign: @shuaijunye

[2022-10-19 19:36] SnehaGunda commented on #88124
#reassign: @shuaijunye

[2022-10-19 19:45] AjayKumar-MSFT commented on #99983
kszicsillag,  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-10-19 19:51] AriEstev opened #100171 "Licensing for free DR replica"
The document leaves out if Windows Server licenses are required in the free DR replica for SQL VMs. It only states that SQL Server licenses are required for the primary VM. But are Windows Server licenses required for all the VMs, or just the primary?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 683ac157-e57d-cb9f-8

[2022-10-19 20:03] kuwakino commented on #99526
Tested **Option 1** passing only the dataset with `bucketName`, `folderPath` and `fileName`, it returned all the files from folder.

[2022-10-19 20:08] MrJohnLocke opened #100174 "Azure Gov't regions not supported?"
Are the Azure government regions not supported?  They are not listed, and I have been trying to run a speech-to-text sample on our Azure Gov subscription without success.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 53d1ff6d-c13e-6e68-a2ba-c8d859d9e573
* Version Independent ID: 0290c57c-6a64-b696-d774-2e5e44a613cf
*

[2022-10-19 20:08] rgl commented on #100111
@ManoharLakkoju-MSFT, which of those 125 forums is the most appropriate?

[2022-10-19 20:22] ju-shim commented on #99593
Hey @mbiver - I'm checking with my team on this. If it is an actual constraint, I'll be sure to add this info to an appropriate section in our documentation. Thank you.

[2022-10-19 20:28] ju-shim commented on #98458
Thank you for bringing this documentation gap to our attention. I am double-checking this information with my team and we will add an appropriate message to the article in question.

[2022-10-19 20:29] Kiwi-dave commented on #97738
If you look in the "Azure GUI -> Azure Firewalls -Diagnostic settings -> new diagnostic setting" it is in the list of categories

[2022-10-19 20:49] shraboin opened #100177 "More specific wording on limitation of Object Replication"
Current wording:
A source account can replicate to no more than two destination accounts, with one policy for each destination account. Similarly, an account may serve as the destination account for no more than two replication policies.

Concern:
Should be more clear on limitations and not as vague. Example: You cannot daisy chain multiple storage because a "Source a conatiner cannot be a destina

[2022-10-19 21:34] nickludwig commented on #99035
Hey @neanderson - you used the right feedback option for submitting documentation related feedback. As for the issue itself, I think that's a reasonable request. How does this sound? (bolded part is the proposed addition)

"An opaque, reliable login hint claim **that's base64 encoded. Do not modify this value.** (remainder of description)"

[2022-10-19 21:38] originalnetadmin opened #100178 "Values not provided for rsize and wsize in cluster configuration"
In the section <b>Installation</b>, step 4, you provide the following mount commands.

 \# If using NFSv3
 sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,vers=3,tcp 10.1.0.4:/sapQAS /saptmp
 \# If using NFSv4.1
 sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,vers=4.1,sec=sys,tcp 10.1.0.4:/sapQAS /saptmp

However, in the section <b>Installing SAP NetWeaver ASCS/ERS</b>, step 1, you prov

[2022-10-19 21:41] trevor-webster opened #100179 "example of JMX test plan with CSV data config"
Can you please give a working github example of JMX test plan with CSV data config element? The instructions aren't working for me tks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 28ea6cfc-e89d-d587-6acc-6fd287cc3f8c
* Version Independent ID: c8ba383a-0c06-f6be-3906-716bfc1d8f30
* Content: [Read CSV data in an Apac

[2022-10-19 21:57] MladjoA commented on #99088
#please-close

[2022-10-19 21:57] #99088 closed

[2022-10-19 21:58] MladjoA commented on #96321
#please-close

[2022-10-19 21:58] #96321 closed

[2022-10-19 22:24] mimckitt commented on #99593
#assign: @mimckitt

[2022-10-19 23:00] torumakabe commented on #100019
@MGoedtel Thank you for your comment. I got it. Please close at your convenience.

[2022-10-19 23:07] SatishBoddu-MSFT commented on #100005
Hello @assaf-grth, So I have a quick update from the Microsoft Product Team on your follow-up query!
In short, Yes the product team is working on enabling more regions, but i don't have any public facing exact dates or any release plans.

_team is working with Azure resourcing constraints to enable AZ support in all regions. Due to the nature of Azure resourcing constraints, we will not be able to

[2022-10-19 23:07] #100005 closed

[2022-10-19 23:09] manojsubramani opened #100180 "Built-in role definition ids are incorrect"
The IDs mentioned in this section seems incorrect. Can you please verify and update?
https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#built-in-role-definitions

Error when deploying with this role id.
The specified role definition with ID '00000000000000000000000000000002' does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft

[2022-10-19 23:25] manojsubramani opened #100181 "Role assignment not clear"
In the section [Grant access to your Azure Cosmos DB account](https://learn.microsoft.com/en-us/azure/cosmos-db/managed-identity-based-authentication#grant-access-to-your-azure-cosmos-db-account), the article says "For this solution, you'll use the [Azure Cosmos DB Built-in Data Reader](https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#built-in-role-definitions) role."
But in ste

[2022-10-20 00:36] #100144 closed

[2022-10-20 01:10] GeethaThatipatri-MSFT commented on #100180
@manojsubramani Thank you for reaching out. We will look into it and update you as appropriate.

[2022-10-20 01:23] nssidhu commented on #100062
I am creating the Azure Synapse Analytic workspace as shown in this article
https://learn.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-managed-vnet

My question is inside of Synapse Workspace i create linked service, that should connect to my on-premise SQL server.
But it fails with error server not found.

so my question will Azure Private DNS Resolver help with creating

[2022-10-20 02:38] KrishnaG-MSFT commented on #100167
@chitturs Thanks for your comment! We will review and provide an update as appropriate.

[2022-10-20 03:02] nssidhu opened #100185 "Can this also work with Azure Synapse WorkSpace"
I am wondering if this also works for Azure Synapse Workspace(Which has Managed End point enabled) ?
Also would i be able to connect to Azure DB from SSMS ? or does that require some more configurtions ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0ad13676-0e4b-6e1d-bd9c-e7b6e6698da9
* Version Independent ID: 37f5f

[2022-10-20 03:13] ElectricLlama commented on #98884
Thanks for your detailed response. Happy to raise this up with the repo owner if I can get a clear repo

[2022-10-20 03:25] jingw0129 opened #100186 "it does not require aml and storage in same vnet if using python SDK to access data."
[Enter feedback here]

hey dear,
Cx request us to update the doc of this part that make cx confuses that we do always have the limitation

---
<img width="709" alt="image" src="https://user-images.githubusercontent.com/22219702/196848776-e8007da6-bba7-4955-a49d-cc255b989339.png">
Because code is working for aml and storage in different vnet as long as they are peering to each other.
SO the limitat

[2022-10-20 03:29] justinmchase commented on #99991
Ok, it used to be called Azure Search and was renamed to Azure Cognitive Search recently and it seems like a lot of these indexers are related so its been super confusing.

[2022-10-20 03:41] YashikaTyagi-MSFT commented on #100162
@mattweale
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 03:44] YashikaTyagi-MSFT commented on #100164
@mbiver
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:45] YashikaTyagi-MSFT commented on #100165
@tasdflkjweio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:47] neanderson commented on #99035
Hi @nickludwig , I think it sounds great! That would have helped us when troubleshooting our issue, and it may be useful to others who run into the same thing. Thank you!

[2022-10-20 03:49] neanderson commented on #99035
Sorry, @nickludwig , I fat-fingered the close button on my phone. But the solution is perect in my book.

[2022-10-20 03:52] YashikaTyagi-MSFT commented on #100163
@sumitmalik51
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:55] YashikaTyagi-MSFT commented on #100170
@glenmw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:56] PhilKoay opened #100187 "Synapse openrowset for json does not return separate rows for each object"
When I execute the code provided on this page in a synapse query
![image](https://user-images.githubusercontent.com/8741911/196852470-7eeef1cf-795b-496e-9821-ea168315784b.png)

It returns a single line, Not "seperate line" per object in the array. Why is that!?!?
Thanks for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-20 03:56] YashikaTyagi-MSFT commented on #100171
@AriEstev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:57] YashikaTyagi-MSFT commented on #100174
@MrJohnLocke
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 03:58] YashikaTyagi-MSFT commented on #100177
@shraboin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 04:00] YashikaTyagi-MSFT commented on #100178
@originalnetadmin
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 04:02] YashikaTyagi-MSFT commented on #100179
@trevor-webster
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 04:06] YashikaTyagi-MSFT commented on #100185
@nssidhu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 04:08] 99Edorde opened #100188 "Mhd-omr@hotmail.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Deploy an ASP.NET web app - Azure App Service](https://learn.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=

[2022-10-20 04:09] YashikaTyagi-MSFT commented on #100187
@PhilKoay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 04:10] sekharkumar opened #100189 "Support request for Module Twin desired properties update"
Hi Team,

I am following the below Microsoft doc for Module twin desired properties update in Node js - [Module Twin Update props](https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-node-node-module-twin-getstarted)

In this article i am not able to find a code to update the existing desired properties. Could you please help me on this

**ASK: Excepting a node Js code to update the existing m

[2022-10-20 04:11] YashikaTyagi-MSFT commented on #100188
@99Edorde
Could you please elaborate your query so that we can help you out in resolving the issue?

[2022-10-20 04:11] SwathiDhanwada-MSFT commented on #99850
@santhoshb-msft Thanks for your feedback.

Assigning to content author  @keferna for review.

[2022-10-20 04:11] 99Edorde commented on #99336
#100188

[2022-10-20 04:14] shaktisingh-msft commented on #99882
Hi Parikshit Savjani,

Could you please look into this issue as it is related to MySql server. Thanks

[2022-10-20 04:15] sekharkumar commented on #99691
Thanks @AshokPeddakotla-MSFT For the information, Thanks a lot

[2022-10-20 04:33] AshokPeddakotla-MSFT commented on #100189
@sekharkumar Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-20 04:35] v-amallick commented on #98811
Hi @Gurnam96 - thanks for highlighting this pointer. We have updated the doc accordingly in private PR #[215186](https://github.com/MicrosoftDocs/azure-docs-pr/pull/215186); this will be live soon.

As the documentation is complete, closing this issue - #please-close .

[2022-10-20 04:35] #98811 closed

[2022-10-20 04:49] SaibabaBalapur-MSFT commented on #100086
@asdcristi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-20 04:49] SaibabaBalapur-MSFT commented on #100086
@yelevin
Can you please check and add your comments on this doc update request as applicable.

[2022-10-20 04:58] ManoharLakkoju-MSFT commented on #100111
@rgl
For you information Please refer the below in documented link
https://feedback.azure.com/d365community/forum/aabe212a-f724-ec11-b6e6-000d3a4f0da0

[2022-10-20 05:05] Venkateshdodda-MSFT commented on #100154
@qbqaf I have assigned to content author @rloutlaw to review and share their valuable insights on this.

[2022-10-20 05:12] YashikaTyagi-MSFT commented on #100030
@hmenchaca
Thanks for pointing this out. Required changes have been made and will reflect in the document, once approve by author.

[2022-10-20 05:15] YashikaTyagi-MSFT commented on #100155
@peteraziz10
I have assigned to content author @OWinfreyATL  to review and share their valuable insights on this

[2022-10-20 05:20] SaibabaBalapur-MSFT commented on #100171
@AriEstev
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-20 05:20] #100171 closed

[2022-10-20 05:20] #100030 closed

[2022-10-20 05:23] AjayBathini-MSFT commented on #100096
@marcgoff
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-20 05:23] AjayBathini-MSFT commented on #100096
@vimrang
Can you please check and add your comments on this doc update request as applicable.

[2022-10-20 05:28] AjayBathini-MSFT commented on #100127
@abengtss-max
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-20 05:28] AjayBathini-MSFT commented on #100127
@miwithro
Can you please check and add your comments on this doc update request as applicable.

[2022-10-20 05:44] rgl commented on #100111
I've posted it at https://feedback.azure.com/d365community/idea/106e2839-3a50-ed11-a81b-000d3a7c50ce.

[2022-10-20 05:46] AjayBathini-MSFT commented on #100170
@glenmw
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-10-20 05:46] #100170 closed

[2022-10-20 05:52] bestinj opened #100190 "A correction suggestion"
In "Modify a backup policy" section, last statement in the first paragraph could be changed as follows.

" volume to revise the number of **restores** to keep."  => " volume to revise the number of **backups** to keep. "

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b1e74826-4a72-6258-cc61-67c81f9e97a7
* Version Inde

[2022-10-20 05:56] alexomanie opened #100191 "CosmosDB: intra container copy - typo in workaround for serverless accounts"
Is the name of the database for the workaround correct? I think it should be __datatransferstate instead of _datatransferstate.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2dff3bec-f944-60bd-70ba-450696ac1814
* Version Independent ID: 26946796-cb23-51de-0a4a-b8867282a8b4
* Content: [Intra-account container copy job

[2022-10-20 06:00] manojsubramani commented on #100180
It appears to be [sqlroledefinitions](https://learn.microsoft.com/en-us/azure/templates/microsoft.documentdb/databaseaccounts/sqlroledefinitions?pivots=deployment-language-arm-template)
I think it'll help if the type is mentioned in the doc.

[2022-10-20 06:00] #100180 closed

[2022-10-20 06:07] jesweare commented on #94494
@MashaMSFT @GeethaThatipatri-MSFT
If I'm not mistaken, it appears that updates are not still applied to the targeted documentation. SQL Server Networking settings, screenshot below,

![image](https://user-images.githubusercontent.com/23375232/196868603-0b3d4d13-0b84-4850-8ab3-9cb10b07b423.png)

Does not align with what is mentioned in the document (below). No term called "Connectivity Method" appe

[2022-10-20 06:15] SadiqhAhmed-MSFT commented on #100081
@ccarrolo The doc has been updated. Let us know if you have any questions or are we good to close this issue?

[2022-10-20 06:23] mbanck commented on #89931
Looks like this was fixed now in Flexible Server, this GUC is no longer in `pg_settings` it seems, and the value now is `-1`:

[code]

[2022-10-20 06:23] #89931 closed

[2022-10-20 06:54] RamanathanChinnappan-MSFT commented on #100075
@AdamGuan13

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 07:00] bmansheim commented on #99573
Hi @audunsolemdal . Sorry for the delay on my response. The content on this page was deprecated with the recent release of Defender for DevOps. If you go to the page, you'll be redirected.

Thanks

#please-close

[2022-10-20 07:00] #99573 closed

[2022-10-20 07:16] RamanathanChinnappan-MSFT commented on #100037
@chrbsg

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-20 07:20] RamanathanChinnappan-MSFT commented on #100186
@jhirono
could you please review this and update as appropriate.

[2022-10-20 07:23] RamanathanChinnappan-MSFT commented on #100186
@jingw0129

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-20 07:23] #100186 closed

[2022-10-20 07:24] shaktisingh-msft commented on #100191
Hi @nayakshweta,

Could you please look into this document typo request. Thanks

[2022-10-20 07:26] bmansheim commented on #97177
Hi @itguysocal . We just this week published updates to the Defender for Servers overview page, including clarification that Defender for Servers Plan 1 gets fileless attack detection from MDE. I hope that helps.

#please-close

[2022-10-20 07:26] #97177 closed

[2022-10-20 07:31] #99680 closed

[2022-10-20 07:32] bmansheim commented on #99960
Hi @rtrad89 . Thanks for opening an issue for this. I don't see it addressed in the documentation, and it probably will require support expertise. Please open a support case to get your question addressed, and then re-open this issue with the answer so we can add it to the docs to help others with the same question.

#please-close

[2022-10-20 07:37] bmansheim commented on #99972
You are absolutely correct, @bitsofinfo . The product was updated to manage the monitoring components through the "Configure" link for the Defender for Containers plan, and there is no longer an Auto Provisioning page.

I'll see when we can get that page updated.

#reassign: bmansheim

[2022-10-20 07:38] psignoret commented on #59982
@magic-happenz With the current behavior, there are fewer scenario where a user would be prompted for consent, so I'm not sure I fully understand your comment about muscle memory. Would you mind elaborating?

The most common case (though I understand there are exceptions), is that an app that requires assignment is managed by someone in the organization, and interrupting users to prompt them for c

[2022-10-20 07:47] ezYakaEagle442 opened #100193 "What is the port of the ASA Managed Config-Server ?"
In my App bootstrap.yml, I set the config server URL to http://config-server:8888 , is that correct ?
What is the port of the ASA Managed Config-Server ?

Could you please provide such example in the docs ?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd936ad-a0bf-fc1d-8312-a830d7bda5f3
* Version Independen

[2022-10-20 08:00] ezYakaEagle442 opened #100195 "Azure Spring Apps Probe should support other path than /actuator"
ASA docs refer to /actuator whereas the customer trend is use to use /manage instead

See also at [https://learn.microsoft.com/en-us/azure/spring-apps/troubleshoot](https://learn.microsoft.com/en-us/azure/spring-apps/troubleshoot)

https://asa-petcliasa.test.azuremicroservices.io/vets-service/default/actuator/health runs fine
https://asa-petcliasa.test.azuremicroservices.io/vets-service/default/ma

[2022-10-20 08:03] nishantroymsft opened #100197 "Additional Error for Azure backup for HANA (backint)"
**Error message:**
"code": "UserErrorInvalidBackint"
"message": **"Found invalid hdbbackint executable."**

**Possible causes:**
1. /hana/shared file system could become full if the default path for file-based backups was not changed post installation of the HANA system. Till the time Azure Backup for HANA using backint gets configured the file system could become full, causing failure to trigger

[2022-10-20 08:06] josvlict commented on #44645
We have the exact same issue after creating a VM with AzureAD connection.

- Http request status: 400. Method: GET Endpoint Uri: https://login.microsoftonline.com/xxxxx/sidtoname Correlation ID: xxxxx
- AAD Cloud AP plugin call Lookup name name from SID returned error: 0xC00485D3

We already assigned the roles "Virtual Machine User Login" and "Virtual Machine Administrator Login" to this user. We

[2022-10-20 08:26] svdHero opened #100198 "Flexible Server: pg_restore produces pg_catalog ACL privilege warnings"
I am using Azure DevOps Pipelines in order to copy databases from one Azure Database for PostgreSQL Flexible Server (in my prod environment) to another Azure Database for PostgreSQL Flexible Server (in my testing environment) by means of `pg_dump` and `pg_restore`.

More precisely I do a
[code]
followed by a
[code]

The user specified in my connection strings is the Flexible Servers' admin user (s

[2022-10-20 08:31] othmane-A-M commented on #94039
Hello @TahaMdarhriExakis, @SatishBoddu-MSFT , I am facing the same problem. Were you able to find a solution?

[2022-10-20 08:32] RamanathanChinnappan-MSFT commented on #100037
#sign-off

[2022-10-20 08:32] #100037 closed

[2022-10-20 08:54] ari75 opened #100199 "Signature block requirements are not up to date"
The chapter **Signature block requirements** is not up to date. It mentions that only the RSA-sha1 algorithm must be used as the DigestMethod. It's not true, as the integration with the more secure RSA-sha256 also work correctly (just tested successfully).

RSA-SHA1 is widely considered by the security community as unsecure and shouldn't be recommended in the documentation regarding Microsoft Serv

[2022-10-20 08:58] kipergil-wb commented on #92854
Any progress about the GA of SFTP feature ?
Will be glad if anyone can share a clear ETA for this.

[2022-10-20 09:00] shaktisingh-msft commented on #100198
Hi @svdHero ,

Thanks for your feedback on the documentation. We will look unto this update as appropriate.

[2022-10-20 09:10] git-me-five commented on #92842
Hello, I've got the same problem. The Microsoft doc is still not accurate.

[2022-10-20 09:33] hansharhoff opened #100201 "Links to full sample are dead"
Link is dead: https://github.com/Azure/azureml-examples/blob/main/sdk/jobs/pipelines/1b_pipeline_with_python_function_components/pipeline_with_python_function_components.ipynb

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3a5591-c4c4-16c4-5ec1-4fa12b4617cc
* Version Independent ID: 594db20c-39a6-1274-aaf7-ca7775bc9

[2022-10-20 09:35] danielharkerdp opened #100202 "Multiple Choice in the Number Matching Prompt"
When we were testing this, my colleague and I both got slightly different experiences.

My experience was as documented here, in that the notification had a text box and I had to type in the number.

But my colleague got a multiple choice style prompt. the same as this article I found online:

https://janbakker.tech/number-matching-with-microsoft-authenticator-app-in-azure-mfa/

I prefer the multi

[2022-10-20 09:36] kocken commented on #92820
Same issue here, keep getting warnings for one of our WebJob projects... I want all of our nugets up to date, so it would be appreciated if this could be re-opened and investigated :)

warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Host.Storage, Version=4.0.1.0, Culture=neutral, PublicKeyToken=x
      The following loader failures occured when tr

[2022-10-20 09:50] svdHero commented on #100198
Thanks @shaktisingh-msft. I have also tried the following, alternative restore approach (avoiding `--clean` and `--create` just in case):
[code]
However, I get the same warnings as with the original approach.

[2022-10-20 09:58] manjzu commented on #42085
This isn't reliable option to open new instance in incognito mode.....it is very length process to get login credentials setup and login as admin using user name and password.....

Ability of default admin login is very useful for developers without edit mode on it.

[2022-10-20 09:59] jaldinger opened #100204 "How to measure latency between Windows and Linux VMs"
This article is very informative. However, it does not provide steps for measuring the latency between one Linux and one Windows VMs, only Windows-Windows and Linux-Linux. Could such steps be added?

Thanks,

Joerg.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 96a8a8ae-019a-9164-7506-e6a2ac60269c
* Version Independe

[2022-10-20 10:01] KapilAnanth-MSFT commented on #99598
Hi @krispenner, sure. I have assigned this thread to the author.

@duongau , I have looped you in the internal communications.
Please review this and update the docs as required

[2022-10-20 10:18] Aryamaanjjw opened #100205 "CLU FlightBooking.json file has a format error"
FlightBooking.json file is not updated and is giving error.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6bbce3-0fc5-107b-e889-cf003886e688
* Version Independent ID: 2d97e979-ff4f-3d56-8b47-bb6b86241550
* Content: [Add natural language understanding to your bot in Bot Framework SDK using conversational language un

[2022-10-20 10:23] sekharkumar opened #100206 "Support request for multiple containers on BlobStorageonIoTEdge (marketplace) module"
Hi Team,

I am following the Microsoft doc for [Store data at the edge with Azure Blob Storage on IoT Edge](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-1.4)

Here is the **BlobStorageOnIoTEdge** module desired properties

"BlobStorageonIoTEdge": {
     "properties.desired": {
            "deviceToCloudUploadProperties": {
                    "uploadOn": tru

[2022-10-20 10:24] waszak commented on #99970
I would want to add the issue is critical for us because of this https://github.com/actions/runner-images/issues/6002
 Number of people with this issue will skyrocket in april once ubuntu 18.04 gonna gets deprecated.
So its important to have some update about this

[2022-10-20 10:26] SadiqhAhmed-MSFT commented on #100197
@nishantroymsft Thanks for sharing your valuable feedback. We will work with feature owner to review your feedback and update the document accordingly.

[2022-10-20 10:30] craigfor opened #100207 "Add Cosmos DB CMK to the list of Trusted Services"
I haven't tested if Cosmos DB is actually a Trusted Service yet or not, but it should be in the same way Azure Storage CMK is a Trusted Service.
https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-setup-customer-managed-keys

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 29579d6a-ad17-fd0f-9a27-3860d81efe6b
* Ver

[2022-10-20 10:34] magic-happenz commented on #59982
@psignoret I was hoping that with the redesign of the feature you would also improve that no global admin is required to actually allow an application to read user profiles. Currently I can only decide whether an admin or a user can consent to my application permissions but for the basic permissions an application needs, it should be more the responsibility of an application owner to make that dec

[2022-10-20 10:35] ninpan-ms commented on #100193
Hi @ezYakaEagle442, you don't need to set config server URL in your app it's configured by ASA. The port of config server in ASA is 8888.
More details about how to setup config server can be seen [here](https://learn.microsoft.com/en-us/azure/spring-apps/how-to-config-server), and also we provided [petclinic example](https://github.com/Azure-Samples/spring-petclinic-microservices).

[2022-10-20 10:40] shaktisingh-msft commented on #100198
Hi @sr-msft,

Could you please look into this request. Thanks

[2022-10-20 10:41] Ratty1967UK opened #100208 "very poor documentation"
the entire page lacks the detail required on each function to make it of any use.
not enough explanation of options - poor examples, often repetitive or with insufficient detail to explain the behaviour expected by the options available.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d30c6730-6586-5347-dc1b-43e6c930bb

[2022-10-20 10:49] v-amallick commented on #100197
Hi
@nishantroymsft - thanks for sharing your inputs. will discuss with the product group and get back.

[2022-10-20 10:55] SwathiDhanwada-MSFT commented on #100097
@mbell85 Thanks for reaching out. Kindly check [this document](https://learn.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-troubleshoot) for troubleshooting your issue. If you still need help please post your issue on [Microsoft Q & A Community Forum](https://learn.microsoft.com/en-us/answers/products/) or reach out to [Microsoft Customer Service](https://azure.microsoft.com/en-us/support/

[2022-10-20 10:55] #100097 closed

[2022-10-20 10:57] ManoharLakkoju-MSFT commented on #100159
@robsmi-msfte
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-20 10:58] ManoharLakkoju-MSFT commented on #100159
@dknappettmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-10-20 11:02] SwathiDhanwada-MSFT commented on #100107
@camalloy  As per my understanding, you should be able to refund upto $50,000 rolling 12-month limit.

@bandersmsft  Can you please provide your insights on the same?

[2022-10-20 11:06] Naveenommi-MSFT commented on #100187
Hi @PhilKoay you need to write additional query, please go through this below link for your reference.

[Query JSON data in SQL Server and Synapse Analytics - diangermishuizen.com](https://diangermishuizen.com/query-json-data-in-sql-server-and-synapse-analytics/)

Disclaimer: This response contains a reference to a third-party World Wide Web site. Microsoft is providing this information as conveni

[2022-10-20 11:08] AshokPeddakotla-MSFT commented on #100206
@sekharkumar Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-20 11:27] YusukeTobo opened #100209 "`deploy-zip#deploy-warjarear-packages` does not use /api/wardeploy"
`deploy-zip#deploy-warjarear-packages` does not use /api/wardeploy, but /api/publish. I believe /api/wardeploy should be updated to /api/publish in the following sentence.

https://learn.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-windows#tomcat
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-10-20 11:30] Naveenommi-MSFT commented on #100130
Hi @HongW2019
Before going to edit Inbound rule, need to check Deny assignment. Please check below related information about Deny Assignment for your reference.

https://learn.microsoft.com/en-us/azure/role-based-access-control/deny-assignments#:~:text=assignments%20are%20defined.-,How%20deny%20assignments%20are%20created,You%20can%27t%20directly%20create%20your%20own%20deny%20assignments.,-Compar

[2022-10-20 11:30] askaribragimov opened #100210 "Severe differences between document and the actual policies required to pass JWT claim check"
Drastic differences between real life and this docs which causing major time expense trying to make use of JWT Checks in APIM.

Several problems:

`<audiences>` JWT claim check is nonexistent in practice. You will get an error trying to specify it in the policy.

while I have ISS claim in the JWT token
`iss": "https://login.microsoftonline.com/<uuid>/v2.0`

for some reason when checking this, Azur

[2022-10-20 11:34] AjayBathini-MSFT commented on #100165
Hi @tasdflkjweio
While the best way would be to use the network, like SSH, SCP, rysnc or NFS, there are ways to share files at the virtual host level between 2 VMs. However, this is typically harder to configure and more prone to errors. I would suggest a network approach for all but special use cases.

In VMware for example, you can setup a virtual disk and share it to the two VMs. However, you n

[2022-10-20 11:34] Naveenommi-MSFT commented on #100083
@vasco-lopes
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-20 11:35] Naveenommi-MSFT commented on #100083
@mssaperla
Could you please review this and update as appropriate.

[2022-10-20 11:36] GitaraniSharma-MSFT commented on #100204
@jaldinger , thank you for your feedback. We have assigned this to the content owner/author for review.

@steveesp , for your review.

[2022-10-20 11:43] tfitzmac commented on #99965
@anaharris-ms - it looks like the TOC link originally went to: https://azure.microsoft.com/features/resiliency
which now redirects to https://azure.microsoft.com/en-us/explore/reliability/#features

Should the TOC get updated with the redirected link?

[2022-10-20 11:44] mumurug-MSFT commented on #100210
@askaribragimov Thanks for the feedback. We will review and update as appropriate.

[2022-10-20 11:47] Naveenommi-MSFT commented on #100066
@micli
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-20 11:48] Naveenommi-MSFT commented on #100066
@laujan
Could you please review this and update as appropriate.

[2022-10-20 11:57] tfitzmac commented on #99424
@ShawnHag - a region is a set of datacenters, so each datacenter within the region would have a minimum of 300 miles between them.
#please-close

[2022-10-20 11:57] #99424 closed

[2022-10-20 11:59] PhilKoay commented on #100187
Could you tell me what the query should be? I tried your documented query,
and looked through this post already, and I don't why the original query in
your own documentation does not work in my synapse query.

How should I add to the query?

Phil Koay

On Thu, 20 Oct 2022, 9:06 pm Naveenommi-MSFT, ***@***.***>
wrote:

[2022-10-20 12:00] Naveenommi-MSFT commented on #100125
@jomalsan
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-20 12:03] PhilKoay commented on #100187
Also note only one line is produced in my original post. Not one line per
object. Which is said will be returned in your documentation.

Phil Koay

On Thu, 20 Oct 2022, 9:06 pm Naveenommi-MSFT, ***@***.***>
wrote:

[2022-10-20 12:03] SadiqhAhmed-MSFT commented on #99869
@maheshau1 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-10-20 12:03] #99869 closed

[2022-10-20 12:08] Naveenommi-MSFT commented on #100185
@nssidhu

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-10-20 12:08] #100185 closed

[2022-10-20 12:23] slavizh opened #100217 "Link to templates does not exists"
This link https://adme2epublic.blob.core.windows.net/publicfiles/AMA/VMInsights-AMADA-ArmTemplates-PublicPreview.zip is used for templates but it does not exists. You cannot download them.
actual link is https://aka.ms/vminsights/downloadAMADaVmiArmTemplates which is redirected to the above.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub is

[2022-10-20 12:25] jjindrich opened #100218 "Update Center - Debian support"
Hi team,

please can you commented on OS Debian, if is planned in future to be supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6eada9-2fd6-c8a4-4d7c-c9b6647642c8
* Version Independent ID: 9a18fe92-8ab3-90c7-5495-98ae3299a451
* Content: [Update management center (preview) support matrix](https://learn.micr

[2022-10-20 12:27] thomasfrederikhoeck commented on #99490
Cross-linking with this issue https://github.com/Azure/azure-sdk-for-python/issues/22441

[2022-10-20 12:35] yelevin commented on #100086
@asdcristi Thanks for your question! Apparently this feature has been revised and this option is no longer available. The documentation has been updated (in the last few hours!) to reflect this. The updated instructions can be found here:

[What's New: Microsoft 365 Defender now integrates Azure Active Directory Identity Protection (AADIP)](https://learn.microsoft.com/en-us/azure/sentinel/whats-ne

[2022-10-20 12:35] #100086 closed

[2022-10-20 12:39] sekharkumar commented on #100206
Sure @AshokPeddakotla-MSFT, Thank you

[2022-10-20 12:42] seesharprun commented on #95958
@aj9411, after some investigation I was unable to find a way to query more granular metrics using the code you provided. Unfortunately, this repo is for documentation and we can't troubleshoot different SDK or products.

I recommend that you create an issue in the Azure SDK for .NET repository to see if this functionality is supported at all. If they share some sample code that's working, you can

[2022-10-20 12:46] jjindrich opened #100219 "Describe what do you mean Off-peak hours"
Hi team,

please can you describe in more details how is determined off-peak hours for Automatic VM parch management ?
How is it evaluated on Windows and Linux OS ? You are refering VM timezone, but where is defined ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Indepen

[2022-10-20 12:59] gflaz84 commented on #99919
Any updates on this? Being able to get the newer clients for deployment would be tremendously helpful.

[2022-10-20 13:08] christopherhouse opened #100221 "Savings Plans vs. RI's"
It would be super helpful if this documentation explained the differences between Reserved Instances and Savings Plans, and why a customer would choose one over another.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 633b666b-e9a4-3a8d-f758-a646800967a7
* Version Independent ID: 0947bfc8-441f-580e-0596-359d3b83380f
*

[2022-10-20 13:24] KDSBest commented on #98954
One of our biggest issue is that we also aren't able to disable it again:
![grafik](https://user-images.githubusercontent.com/391930/196960894-41153602-ef0c-4f87-9b2b-fadb479d3e30.png)

[2022-10-20 13:29] barclayn commented on #81232
@BrianVallelunga DefaultAzureCredential() requires that you specify the user assigned managed identity. The work item you linked was closed without a change that would allow us to get this done. https://learn.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet #please-close

[2022-10-20 13:29] #81232 closed

[2022-10-20 13:35] gerrynicol opened #100222 "Parameter file for Modules stored in a private registry"
[Enter feedback here]

Hi there,

is there a way to use a parameter file, rather than in line parameters with a bicep module stored in a container registry?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e1c1cbec-c325-f4b2-af56-6806330ad796
* Version Independent ID: 1b424365-2a0d-3d89-a989-53f20eb17c24
* Conte

[2022-10-20 13:38] teddy701 commented on #59932
Hello, I had the same problem, I can confirm that the attribute is called "adminrole" and has value "fwadmin" as in the guide, the claim is passed correctly, but I still get the same error "x is not authorized"

[2022-10-20 13:48] HongW2019 commented on #100130
Thanks for responses.
I have figured out how to solve this issue. This happens because my workspace is not deployed in my own Azure Virtual Network. After I create an Azure Databricks workspace in my own VNet, then I will be able add inbound security rules.
Docs also mention this point, I should have read it more carefully.

[2022-10-20 13:48] #100130 closed

[2022-10-20 13:59] anaharris-ms commented on #99965
Hi @tfitzmac I am actually in the process of redoing this entire content area. That link shouldn't be there. If anything, it should be in resources. For now, I will update the menu with the correct link, but will move it to resources.

[2022-10-20 14:04] flatfour67 opened #100223 "PowerShell script is unsigned so execution policy needs to be changed (or script signed)"
When configuring the TS step for the PowerShell script, it's necessary to set the PowerShell Execution Policy option to "bypass", since this script provided is not signed and therefore will fail when executed as "All Signed" which as per the screenshot in this document, is the default.

Alternatively, the script will need to be signed of course, but changing the dropdown in the TS step is going to

[2022-10-20 14:10] GitaraniSharma-MSFT commented on #100070
@yanxiu08 , I've added ExpressRoute gateway to the list and the doc will reflect the changes soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-20 14:10] #100070 closed

[2022-10-20 14:15] timothymeyers opened #100224 "Broken article link on Kubelet Logs documentation page"
The link at https://learn.microsoft.com/en-us/azure/aks/kubelet-logs#create-an-ssh-connection is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
* Version Independent ID: 171f79d7-e1a6-efa0-d45c-cfdc81faf3c0
* Content: [View kubelet logs in Azure Kubernetes Service (AKS) - A

[2022-10-20 14:20] ualves opened #100225 "Port number is incorrect"
[Enter feedback here]
In the section "**How can you validate if your connections are going to old gateway nodes or new gateway nodes?**",  it says port 3306, for Postgres the correct port number is 5432.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8dfffe1-e008-7ec5-4ff1-95bc94fea1e1
* Version Independent ID: 3bbe6

[2022-10-20 14:28] GitaraniSharma-MSFT commented on #100091
@durandguru , I've removed the duplicate entry and only kept the below:

Azure Key Vault (Microsoft.KeyVault/managedHSMs) / Managed HSMs | privatelink.managedhsm.azure.net | managedhsm.azure.net

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-20 14:39] bartvermeersch opened #100226 "Azure lab services advanced networking: vnet injection in other subscription"
The pages states:

[Create a virtual network](https://learn.microsoft.com/en-us/azure/virtual-network/quick-create-portal). The virtual network must be in the same region as the lab plan.

My question: Should the virtual network be in the same subscription as the azure lab as well? Or isn't that a requirement?

From the limited tests I did, it seems to be a requirement?

---
#### Document Details

[2022-10-20 14:41] roelofvsr opened #100227 "AzureML provider changed name for Telemaco019 to orobix"
As far as I can see the azureml provider used in the template (inside`main.tf`) has changed it's name to orobix, see:
https://registry.terraform.io/providers/Telemaco019/azureml/latest

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9bec8e6c-fbbf-b17c-a7da-b85a4cc1b338
* Version Independent ID: f508d1ab-7759-b850-c98b-

[2022-10-20 14:44] DonKoning opened #100228 "Configure your app to make outbound calls to private endpoints"
The document contains the following section:

_To call other services that have a private endpoint connection, such as storage or service bus, be sure to configure your app to make [outbound calls to private endpoints](https://learn.microsoft.com/en-us/azure/azure-functions/functions-networking-options?tabs=azure-cli#private-endpoints)._

The link provided above points to this exact same section a

[2022-10-20 14:48] #99598 closed

[2022-10-20 14:49] AminAvan commented on #99806
Thanks,
Any update?

[2022-10-20 14:49] MGoedtel commented on #100019
#please-close

[2022-10-20 14:49] #100019 closed

[2022-10-20 14:57] khdownie commented on #83495
@szabgab You have the same name as one of my favorite guitarists. The Sorcerer! Anyway, I added a "Delete file share" section per your request:
https://learn.microsoft.com/en-us/azure/storage/files/storage-how-to-create-file-share?tabs=azure-portal#delete-a-file-share

[2022-10-20 14:58] mrbullwinkle commented on #99892
#please-close

[2022-10-20 14:58] #99892 closed

[2022-10-20 15:04] jasongroce commented on #96270
Thanks for the feedback, @dciborow , we are continuing to look into this issue and have filed an internal work item to look at how to update the docs in future to address this. #please-close

[2022-10-20 15:04] #96270 closed

[2022-10-20 15:04] mbender-ms commented on #99571
Updated in PR to remove text.

#Please-close

[2022-10-20 15:04] #99571 closed

[2022-10-20 15:08] khdownie commented on #83495
#please-close

[2022-10-20 15:08] #83495 closed

[2022-10-20 15:23] swathikavijendrarao commented on #84233
I did try in the locations where the preview was available and was using az api provider to create one and faced the same issue. But it seems it doesn't get enabled when we use Premium LRS and when i changed my SKU to Standard_LRS , the Storage Account got created with SFTP property

[2022-10-20 15:28] mumurug-MSFT commented on #100228
@DonKoning Thanks for the feedback. We will review and update as appropriate.

[2022-10-20 15:31] nayakshweta commented on #100191
This is resolved. We have merged the PR
https://github.com/MicrosoftDocs/azure-docs/pull/100196

[2022-10-20 15:31] YashikaTyagi-MSFT commented on #100193
@ezYakaEagle442
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 15:39] #100195 closed

[2022-10-20 15:42] YashikaTyagi-MSFT commented on #100199
@ari75
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:43] YashikaTyagi-MSFT commented on #100201
@hansharhoff
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:44] YashikaTyagi-MSFT commented on #100202
@danielharkerdp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:45] YashikaTyagi-MSFT commented on #100205
@Aryamaanjjw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:47] YashikaTyagi-MSFT commented on #100207
@craigfor
Please use this form to submit your proposal to contribute to [docs.microsoft.com](http://docs.microsoft.com/) (which includes Docs, Learn, Azure Architecture Center, and Cloud Adoption Framework). You'll receive a follow up once submitted to begin the process.
https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR958mqNUZExPsLDhzSGD8aFUNVBKTFpITkFGR0FWV0U2VVhIWU1EQUcx

[2022-10-20 15:47] #100207 closed

[2022-10-20 15:47] seesharprun commented on #96119
@fkucuk, I have been testing this and can confirm that I'm seeing the same behavior. From my understanding, the `$sample` stage should work as it's documented in the 4.2 docs. From a Docs perspective, there's really not much we can do as it's already documented as a supported feature.

I recommend that you file a ticket with [Azure Cosmos DB Q&A}(https://learn.microsoft.com/en-us/answers/topics/az

[2022-10-20 15:47] #96119 closed

[2022-10-20 15:48] YashikaTyagi-MSFT commented on #100208
@Ratty1967UK
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:50] YashikaTyagi-MSFT commented on #100209
@YusukeTobo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:51] seesharprun commented on #100181
@manojsubramani, you are right that the text in the article does not match the steps.

We have a change being published that will update the text to say you are using a custom role.

For clarification, Azure Cosmos DB has built-in roles, but they are mostly scoped to control-plane operations. For data-plane RBAC, it's common to define your own custom role[s] with specific permissions.

[2022-10-20 15:52] YashikaTyagi-MSFT commented on #100217
@slavizh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:56] seesharprun commented on #98884
Here's the SDK repo: https://github.com/Azure/azure-sdk-for-js

[2022-10-20 15:57] bandersmsft commented on #100221
@christopherhouse Yes, you're right. We updated https://learn.microsoft.com/azure/cost-management-billing/savings-plan/discount-application yesterday to explain the difference between reservations and savings plans and when one is better than the other.

I hope this helps.

#please-close

[2022-10-20 15:57] YashikaTyagi-MSFT commented on #100218
@jjindrich
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 15:57] #100221 closed

[2022-10-20 15:58] SatishBoddu-MSFT commented on #94039
Hello @othmane-A-M
Thanks for reaching out to us.

Could you please submit a question on [**Microsoft Q&A**](https://docs.microsoft.com/en-us/answers/index.html) forum and we will address it asap?

[2022-10-20 16:01] seesharprun commented on #100181
This PR will auto-close once the change is in our publishing pipeline.

[2022-10-20 16:02] YashikaTyagi-MSFT commented on #100222
@gerrynicol
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 16:04] YashikaTyagi-MSFT commented on #100223
@flatfour67
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 16:06] YashikaTyagi-MSFT commented on #100224
@timothymeyers
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 16:09] YashikaTyagi-MSFT commented on #100227
@roelofvsr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-20 16:11] #100181 closed

[2022-10-20 16:15] seesharprun commented on #96237
@t-bzhan, you are absolutely right.

We have a change queued in our pipeline to re-order the steps in this section to make this clearer.

Thank  you for your feedback.

This issue will auto-close once that change is queued for publishing.

[2022-10-20 16:18] theguru0 opened #100230 "Kerberos authentication for Azure AD Principals is now GA"
This went GA last month.

Windows Authentication for Azure AD Principals (Preview):

[Kerberos authentication for Azure AD Principals](https://learn.microsoft.com/en-us/azure/azure-sql/managed-instance/winauth-azuread-overview?view=azuresql) (Preview) enables Windows Authentication for Azure SQL Managed Instance. Windows Authentication for managed instances empowers customers to move existing serv

[2022-10-20 16:22] seesharprun commented on #97779
@icanfathom, thanks for this feedback.

I have two things:

1. This seems to be a bug in the Node SDK. You may need to [file an issue](https://github.com/Azure/azure-sdk-for-js/issues) in the Azure SDK for JS repo to get support with this.
2. I have an update for the docs that removes the mention of Node.js not supporting this. This issue should auto-close once that change is queued for publishing

[2022-10-20 16:24] #96237 closed

[2022-10-20 16:28] seesharprun commented on #97867
@dgpoulet, thanks for this feedback!

I agree that we should rework the conflict feed article to provide more detail and be less of a "learning curve brick wall."

We have an exercise over the next calendar year to revisit and rework multiple articles. I'm going to put this on the list of articles that we are going to visit and entirely rework.

For now, I'm going to close this issue since it's go

[2022-10-20 16:28] #97867 closed

[2022-10-20 16:29] andrePKI opened #100231 "Table creation and table mappings for the Sentinel tables"
This article is about Sentinel data. That is of the same structure and format for all customers. Is there any resource or repository which contains the target table definition and corresponding mapping?
We are struggling with the creation of the tables and appropriate table mappings for the tables we have in Sentinel (about 100) and can't believe this hasn't been done before.

---
#### Document De

[2022-10-20 16:29] seesharprun commented on #97870
@dgpoulet, we are going to publish a quick edit to this article today to clear things up.

For the deeper changes, I refer you to #97867.

[2022-10-20 16:48] jcbendernh opened #100232 "powershell commands are incorrect"
The PowerShell commands should start with Deploy-Eflow not Deploy-EflowVm.

When I ran ...  Deploy-EflowVm -vSwitchType "External" -vSwitchName "EFLOW-Ext"

I received an error, but once I did Deploy-Eflow -vSwitchType "External" -vSwitchName "EFLOW-Ext"

The installation worked as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub is

[2022-10-20 17:01] #97779 closed

[2022-10-20 17:03] GeethaThatipatri-MSFT commented on #100230
@theguru0 Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-10-20 17:03] cynthn commented on #36222
#assign:@roygara Any chance we can get an update on whether this is being changed? Thanks!

[2022-10-20 17:11] #99486 closed

[2022-10-20 17:21] seesharprun commented on #97870
Here's a breakdown of what's going on:

In multi-region write scenarios, you can have conflicts when multiple clients write to the same item. To deal with this, you can configure the conflict resolution policy in a couple of different ways:

- **Configure "last writer wins"**: In this scenario, the last-writer always wins based on the timestamp.
- **Configure "custom" policy with a sproc**: In thi

[2022-10-20 17:23] seesharprun commented on #97921
@teggno, thanks for your feedback!

You are right, this should be consistent.

I'll publish a change to the docs to make this consistent. Once that change is in our publishing pipeline, it will auto-close this issue.

[2022-10-20 17:29] jlichwa commented on #79442
In general if you are creating AKS you should assign identity to the cluster instead:
https://learn.microsoft.com/en-us/azure/aks/use-managed-identity#create-an-aks-cluster-using-a-managed-identity

[2022-10-20 17:30] seligj95 commented on #100106
Updating the SKU in the template so other customers don't have this issue. Will reach out to additional folks to see what's wrong with the free tier - haven't been able to determine why it doesn't work yet.

[2022-10-20 17:36] mpgussert opened #100234 "please add a link to the binaries on the quickstart page of the docs"
I just want a link to the windows binaries... why isn't it on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf93cee5-3ed0-7500-aee5-da8e0f6941b6
* Version Independent ID: 89db53d9-22b9-35cf-1d98-22f6cdaeaef9
* Content: [Azure Kinect Sensor SDK download](https://learn.microsoft.com/en-us/azure/kinect-dk/sen

[2022-10-20 17:40] #100234 closed

[2022-10-20 17:50] seesharprun commented on #97926
@harleyrjacome, thanks for bringing this to our attention.

Since there is not an active docs bug, I will close this GitHub issue.

I did want to call out that the [Limitations](https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/how-to-setup-rbac#limitations) section from the same article clarifies that you cannot disable local (key-based) auth in favor of RBAC.

#please-close

[2022-10-20 17:50] #97926 closed

[2022-10-20 17:50] betolauda opened #100236 "Wrong End-of-support date for 11.3 LTS"
Hi,
There may be a mistake in the end of support date.
Where it says: Oct 17, 2024, it should say Oct 17, 2025?
Best
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8acd3e5b-cce3-ed29-db6f-a21a4f861b23
* Version Independent ID: 7994e24d-c9c5-290b-a344-43d29b9c9000
* Content: [Databricks runtime releases - Azure Databric

[2022-10-20 18:06] seesharprun commented on #98273
Hello @sleekflowleochoi!

We have added a note to this section to clarify that this feature will also disable trigger responses. When this change is in our publishing pipeline, this issue will automatically close.

Thanks for your feedback

[2022-10-20 18:12] stevevi commented on #100109
Thanks, @jaxidian
We deployed an update across all clouds.  Please try again.

[2022-10-20 18:14] jaxidian commented on #100109
@stevevi Thanks for the update. I'll give it a quick shot now and report back in an hour.

[2022-10-20 18:25] raschul-MSFT opened #100237 ""Online Tier" not obviously defined, leading to confusion with customer."
The definition of "Online Tier" of storage is not blatantly obvious. It would be good to have a clearer definition of online vs offline. maybe a chart instead of a natural language sentence.

I had a customer give feedback about this not being clear enough.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad1be335-4f65-7

[2022-10-20 18:30] Oury-MSFT commented on #100044
@raphaeldeletoille Are you referring to this script from the doc.
![image](https://user-images.githubusercontent.com/78940872/197029312-8bd31fae-41cc-433f-82c8-df10c90abb80.png)

[2022-10-20 18:33] #98273 closed

[2022-10-20 18:37] markjbrown commented on #99492
@dgpoulet the article itself is about the Cosmos DB connector so what is referred to as a source is Cosmos DB as the source and what is referred to as a sink is Cosmos DB as a target.

We've not received any feedback regarding confusion with this article so will keep it as is. But if we see additional feedback on the confusion with these we will adjust to clarify.

Thanks.

#please-close

[2022-10-20 18:37] #99492 closed

[2022-10-20 18:39] jaxidian commented on #100109
@stevevi I can report that my first attempt appears successful! Specifically, the `Microsoft.Compute/virtualMachines/extensions` that was failing in the deployment in Azure Commerical is now reporting success. I do not mean to comment on anything beyond that, but that was specifically the problem point I was having.

@SadiqhAhmed-MSFT I can report that the documentation seems to be correct. I did

[2022-10-20 18:42] seesharprun commented on #98178
#please-close per the product team.

[2022-10-20 18:42] #98178 closed

[2022-10-20 18:43] stevevi commented on #100109
Thank you again @jaxidian for alerting me about this issue.

[2022-10-20 18:55] abengtss-max opened #100238 "Pod security policies deprecated and mentioned in the documentation please update information."
[Enter feedback here]

Lets remove the mentioning of PSP for our Azure Policies. PSP is deprecated since release 1.21, please use an alternative solution then PSP. please refer to the Azure Policy:

[Kubernetes cluster containers should not use forbidden sysctl interfaces](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2

[2022-10-20 19:06] HitenBhavsarMSFT opened #100239 "Add Note- Check maintenance window on DB and EP, before set zone redundant availability."
For the elastic pool, the maintenance window has to set the System in-order to set General Purpose service tier zone redundant availability.
https://learn.microsoft.com/en-us/azure/azure-sql/database/maintenance-window-configure?view=azuresql&tabs=azure-portal#set-the-maintenance-window-while-creating-a-single-database-or-elastic-pool

SR:2210030050001392
ICM 2210030050001392

**Ask: Please add th

[2022-10-20 19:12] seesharprun commented on #100191
#please-close

[2022-10-20 19:12] #100191 closed

[2022-10-20 19:12] shlipsey3 commented on #99924
Hello - thanks for the feedback! I've reached out to the product group to get clarification on the URLS. The CA Details article is the current source, but I'm confirming the status of the three that are in the TLS article, but not the CA details article.

[2022-10-20 19:19] seesharprun commented on #98430
@t-bzhan, thank for reaching out! This seems to be a support issue rather than an issue with the documentation. There are various documentation pages that talks about the individual steps you must perform to ensure a zero-downtime migrate to a VNET.

For support issues, you can either:
- Open a [support ticket](https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure

[2022-10-20 19:19] #98430 closed

[2022-10-20 19:26] paulsysadmin commented on #90594
Is there an update on this please ? Obviously a bug somewhere. I'm seeing the same. Policy is using "Filter for Devices" with TrustType AzureADJoined or HybridAzureADJoined.

"What if" says the policy wont apply because "Device state (deprecated)"

I'm not using DeviceState I'm using Filter for Devices

[2022-10-20 19:31] seesharprun commented on #98928
@asos-martinsmith, you are right that this article should contain a link to the reference for the metrics and logs.

Here's the link: https://learn.microsoft.com/en-us/azure/cosmos-db/monitor-reference#resource-logs

We have an update queued with the changes that should be live soon.

Thank you for your feedback!

[2022-10-20 19:34] seesharprun commented on #98750
Hello @griffinbird,

I have a change to the doc inbound that should clarify this point.

Thanks for this great feedback!

[2022-10-20 19:39] amsliu commented on #97214
@JamesTran-MSFT could you please re-assign this issue to the PM @rkarim-ms? We are pending clarification from the product side. Thanks!

[2022-10-20 19:40] amsliu commented on #96919
@Sandeg-MSFT @ManoharLakkoju-MSFT could you please re-assign this issue to the PM @rkarim-ms? We are pending clarification from the product side. Thanks!

[2022-10-20 19:40] davidsmatlak commented on #98334
#label:"cloud-shell/svc"

[2022-10-20 19:40] kipergil commented on #92854
In case you are waiting this news like us for a loooong time, it's now officially announced that SFTP becomes GA.

https://azure.microsoft.com/en-us/updates/sftp-support-for-azure-blob-storage-now-generally-available/

[2022-10-20 19:41] amsliu commented on #96364
@JamesTran-MSFT could you please re-assign this issue to the PM @ilyalushnikov? We are pending clarification from the product side. Thanks!

[2022-10-20 19:41] amsliu commented on #98159
@YashikaTyagi-MSFT @ManoharLakkoju-MSFT could you please re-assign this issue to the PM @ilyalushnikov? We are pending clarification from the product side. Thanks!

[2022-10-20 19:42] amsliu commented on #99231
@YashikaTyagi-MSFT could you please re-assign this issue to the PM @ilyalushnikov? We are pending clarification from the product side. Thanks!

[2022-10-20 19:42] Oury-MSFT commented on #100239
@HitenBhavsarMSFT Thank you for pointing this out. We will work with the doc owner to update the doc.

[2022-10-20 19:42] amsliu commented on #99513
@YashikaTyagi-MSFT could you please re-assign this issue to the PM @ilyalushnikov? We are pending clarification from the product side. Thanks!

[2022-10-20 19:43] tlingenf commented on #89965
For me it does not give an error on connection. But then when I try to do anything after connecting I get the error "The current connection holds no SharePoint context. Please use one of the Connect-PnPOnline commands which uses the -Url argument to connect." as the -ManagedIdentity switch cannot be used in combination with the -Url parameter.

[2022-10-20 19:46] #98928 closed

[2022-10-20 19:47] #98750 closed

[2022-10-20 19:51] zaalion commented on #100041
Thanks a lot! Big help.

On Thu, Oct 20, 2022 at 3:50 PM Sidney Andrews ***@***.***>
wrote:

--
Reza Salehi
https://www.linkedin.com/in/rezasalehi2008

[2022-10-20 19:53] jlichwa commented on #97768
@tgillitzer in the document you mentioned, it says:
If the tenant IDs for the source and destination subscriptions aren't the same, use the following methods to reconcile the tenant IDs:

https://learn.microsoft.com/en-us/azure/cost-management-billing/manage/billing-subscription-transfer
https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associ

[2022-10-20 19:54] davidsmatlak commented on #99424
#label:"availability-zones/subsvc"

[2022-10-20 19:55] davidsmatlak commented on #99711
#label:"reliability/svc"

[2022-10-20 19:56] davidsmatlak commented on #99965
#label:"availability-zones/subsvc"

[2022-10-20 19:56] davidsmatlak commented on #98201
#label:"availability-zones/subsvc"

[2022-10-20 19:57] seesharprun commented on #98643
#please-close

[2022-10-20 19:57] #98643 closed

[2022-10-20 19:58] dhivyagana commented on #99444
Hi , We have published the latest binaries to the [download center](https://www.microsoft.com/en-us/download/details.aspx?id=56506).
You can now download the newer version of the plugin with 9.x version of JIRA supported. We are working on the documentation to get it updated soon.

[2022-10-20 19:59] #100041 closed

[2022-10-20 20:05] larryclaman commented on #98880
I concur that the content is misleading where the document says "_The example here demonstrates access to a secret through env variables and through volume/volumeMount. This is for illustrative purposes. These two methods can exist independently from the other_"

In order to access a secret through an env variable, it first needs to be mounted as a volume _on at least one pod_.  Additionally, the

[2022-10-20 20:05] marklagendijk commented on #98305
@GitaraniSharma-MSFT , @duongau it's been more than a month... any update?

[2022-10-20 20:06] seesharprun commented on #99970
Thanks @waszak for calling this out.

Unfortunately, I'm not sure why this documentation article encourages you to contact an e-mail alias and we couldn't figure out who owns it.

Fortunately, we have an [Azure Cosmos DB Q&A forum](https://learn.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) that is staffed with customer support professionals, product team members, and community members

[2022-10-20 20:08] CommitMeNow opened #100241 "Update for color blind disability"
Please consider updating all images to help people with color blindness.  These images were very difficult for me and I had to ask someone else which lines were red and green and had to make assumptions.  All you need to do is add a symbol on the red lines like X or a No Entry symbol or even just text to make it more obvious.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-10-20 20:09] mumurug-MSFT commented on #100210
@askaribragimov We are sorry to hear that you faced an issue and would be happy to assist you if you can post the policy details, full error message in [Q&A](https://learn.microsoft.com/en-us/answers/topics/25484/azure-api-management.html). That would really help in investigating the issue since this repo is related to azure-docs.

Regarding issuer, if you use V1 https://login.microsoftonline.com/

[2022-10-20 20:16] cveld opened #100242 "Environment in pending state forever"
I get the following error when running `az devcenter dev environment delete`:

`(EnvironmentActionInProgress) An action is already in progress for this environment. Wait for the current action to complete and try again.
Code: EnvironmentActionInProgress
Message: An action is already in progress for this environment. Wait for the current action to complete and try again. `

Just wanted to give this

[2022-10-20 20:17] MGoedtel commented on #100224
@timothymeyers - Yikes, I mistakenly deleted that article and added redirect as part of a previous PR to migrate content to the new Troubleshooting repo. I created a bug and am opening a PR now to fix it. #please-close

[2022-10-20 20:17] #100224 closed

[2022-10-20 20:39] #99970 closed

[2022-10-20 20:41] anandmeg commented on #100242
#assign:@RoseHJM

[2022-10-20 20:43] seesharprun commented on #100126
@rybkov, I just tested and you are correct that the query incorrectly references the `main` branch instead of the `master` branch.

We have a fix queued to publish soon for this. Thank you for your feedback!

[2022-10-20 20:54] chitturs opened #100244 "Feature doesn't currently work in centraluseuap"
https://learn.microsoft.com/en-Us/azure/azure-monitor/containers/container-insights-prometheus-metrics-addon?tabs=resource-manager#region-mappings

It has centraluseuap listed where the feature doesn't work. Please follow up with Rishabh Jain.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 77283dab-e731-8976-1047-8e6e

[2022-10-20 21:11] #100126 closed

[2022-10-20 21:47] khdownie commented on #99546
@Martin-Simonsen I see what you are saying now. The additional role requirement if you're using Storage Explorer to access the share. I will add a note about it in the docs. Thanks for submitting this.

[2022-10-20 21:49] askaribragimov commented on #100210
Hello,
thank you for your prompt response. 
In fact, I am trying to use "v2"  but for this URL: `https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration` since I am dealing with multi-tenant applications. I can tell your URLs are probably related to a single-tenant app registration.

I suggest therefore to clarify all cases in the documentation.  I think that the comm

[2022-10-20 22:32] PatAltimore commented on #98814
Hi @petertuton ,

Thanks for the clarification. That helped. I added the tip to the article and merged it. The change will be published soon. I'm going to close the issue.

Thanks,
Pat

#please-close

[2022-10-20 22:32] #98814 closed

[2022-10-20 22:48] nickludwig commented on #99035
Hey @neanderson - no worries, and glad the suggestion works! Just put in a PR for this and will have it merged soon.

[2022-10-20 23:01] davidsmatlak commented on #99997
#reassign:davidsmatlak

[2022-10-20 23:47] mkellogg-td opened #100246 "CLI and Classic CLI Together?"
Trying to migrate my classic VM to the newer model.  I tried to get the Azure CLI installed on my local with Powershell but whenever I try to run it I get a nasty JS error, so I turned instead to the Cloud Shell on my Azure dashboard.

That worked great for the first few commands since they are the "new" Azure CLI commands. As soon as I got to where the commands were "Classic" CLI commands it quit

[2022-10-20 23:47] jngibert opened #100247 "There appears to be an incorrect statement about RequestHeaderNames on this page"
There is a note on this page that says that Request Header Names are provided for backward compatibility with CRS 3.1, and that Request Header Names are synonymous with the new Request Header Values in CRS 3.2

I believe might be a mistake.
Since we are used to key-value pairs, then Request Header Names should be synonymous with the new Request Header Keys in CRS 3.2
Is that really not the case?

[2022-10-20 23:51] cynthn commented on #99517
@pgbfnf  What region are the VMs in? I'm not seeing any Dhs sizes when I list all of the available size, but they might only be available in certain regions. Also, are you taking part in any previews?

[2022-10-21 00:45] MGoedtel commented on #98889
@mosbahmajed - I reviewed your suggestion with someone from the product group and while it's another method, they don't considerr this as an enterprise-ready configuration.  As a result, they don't want to have this included in our documentation. We appreciate the time you took to submit this request for our consideration and I'm going to proceed with closing this issue. #please-close.

[2022-10-21 00:45] #98889 closed

[2022-10-21 00:45] LadtoHelp opened #100249 "Multisession skus aren't working"
Using the standard json templates, if we try to build with enterprise image skus  , no problem.
When using multisession skus such as 21h1-evd the image build fails.

`During the image build a failure has occurred. Please review the build log to identify which build/customization step failed. For more troubleshooting steps go to https://aka.ms/azvmimagebuilderts. Image build log location: https://m

[2022-10-21 01:10] mikesierra2 opened #100250 "Azure Disk Encryption is also available for VMs with premium storage??"
Can you please elaborate on the statement in the first paragraph:

"Azure Disk Encryption is also available for VMs with premium storage."

Does this mean it is not available for VMS with standard storage? Does having a priemium disk allow it on a VM that would not otherwise allow Encryption? This statement does not clarify the requirement, and gives me more questions.

---
#### Document Details

[2022-10-21 01:14] davidsmatlak commented on #99997
@mfthomps Thank you for your question, but the scope of this issue queue is to report documentation bugs or request documentation updates. For help with your product question, please [create an Azure support request](https://learn.microsoft.com/azure/azure-portal/supportability/how-to-create-azure-support-request). You mentioned student accounts, so you might also want to check [Azure Education Hu

[2022-10-21 01:15] davidsmatlak commented on #99997
#please-close

[2022-10-21 01:15] #99997 closed

[2022-10-21 01:39] jesweare opened #100251 "Call frequency limit of Question Answering features appears misplaced"
The page contains the passage below describing the "call frequency limit" to be "10 text records per second" for Question Answering features.

 **Note**
Question answering currently has no limits on the number of sources that can be added. Throughput is currently capped at 10 text records per second for both management APIs and prediction APIs.

I believe the placement of the passage

should be ad

[2022-10-21 01:46] jesweare commented on #100251
FYI,

may mislead users as well, as the limit is "shared" between all APIS under Prebuilt QA and Custom QA.

[2022-10-21 01:49] vicancy commented on #99773
When running your app server for example using `dotnet run`, there would be logs similar to:
[code]

Or when failure case:
[code]
There should be error details in the fail log.

Do you see anything similar in your app server side?

[2022-10-21 02:05] VanMSFT commented on #94494
Made changes to reflect actual steps for public network access

[2022-10-21 03:24] shaktisingh-msft commented on #100012
Hi @sunilagarwal,

Could you please look into this document request. Thanks

[2022-10-21 03:35] YashikaTyagi-MSFT commented on #98159
@amsliu
I have assigned the issue to @ilyalushnikov

[2022-10-21 03:39] Marwaabouawad commented on #99998
Yes, looks like its confusing. Tagging @AaronMaxwell for visibility, review and document enhancement consideration as appropriate.

[2022-10-21 03:41] YashikaTyagi-MSFT commented on #100231
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:42] YashikaTyagi-MSFT commented on #100236
@betolauda
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:43] YashikaTyagi-MSFT commented on #100237
@raschul-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:44] YashikaTyagi-MSFT commented on #100238
@abengtss-max
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:47] VikasPullagura-MSFT commented on #100250
@mikesierra2
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-21 03:47] VikasPullagura-MSFT commented on #100250
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-10-21 03:48] YashikaTyagi-MSFT commented on #100241
@CommitMeNow
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:49] YashikaTyagi-MSFT commented on #100242
@cveld
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-21 03:52] YashikaTyagi-MSFT commented on #100244
@chitturs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 03:57] YashikaTyagi-MSFT commented on #100247
@jngibert
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 04:23] sancarn commented on #99486
@dereklegenzoff At the time it was while I was trying to use the SharePoint REST API. Not sure where the SharePoint docs are?

[2022-10-21 04:35] SaibabaBalapur-MSFT commented on #100237
@raschul-MSFT
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-21 04:35] #100237 closed

[2022-10-21 04:43] YashikaTyagi-MSFT commented on #100031
@DziugasB
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-21 04:43] #100031 closed

[2022-10-21 04:44] YashikaTyagi-MSFT commented on #100043
@xtianus79
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-21 04:44] #100043 closed

[2022-10-21 04:44] Naveenommi-MSFT commented on #100208
@kromerm
Could you please review and add your comments on this update as appropriate.

[2022-10-21 04:45] Naveenommi-MSFT commented on #100208
@Ratty1967UK
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-21 04:45] YashikaTyagi-MSFT commented on #100029
@AL0505743
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-21 04:49] #100029 closed

[2022-10-21 05:00] AjayBathini-MSFT commented on #100190
@bestinj
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-21 05:02] ManoharLakkoju-MSFT commented on #100177
@shraboin
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-21 05:02] ManoharLakkoju-MSFT commented on #100177
@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-10-21 05:04] AjayBathini-MSFT commented on #100238
@abengtss-max
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-21 05:04] AjayBathini-MSFT commented on #100238
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-21 05:08] #100190 closed

[2022-10-21 05:16] Naveenommi-MSFT commented on #100201
@hansharhoff
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-21 05:16] AjayKumar-MSFT commented on #97204
jerodrigue, Apologies for the delay!

Thanks for leveraging Azure docs feedback channel to raise this question. Since you had closed the thread I presume the issue is resolved.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. For technical questions, request you to post your questions on [Microsoft Q&A forum](https:/

[2022-10-21 05:16] Naveenommi-MSFT commented on #100201
@cloga
Could you please review this and update as appropriate.

[2022-10-21 05:31] SwathiDhanwada-MSFT commented on #100241
@CommitMeNow Thanks for your feedback.

Assigning to content author @noakup for review.

[2022-10-21 05:45] sunnybansalmsft opened #100254 "CodeConfiguration() parameter"
HI Team,

Looks like the highlighted parameter "code_local_path" is just "code".  Refer to attached screenshot

Please correct it.

blue_deployment = ManagedOnlineDeployment(name='blue',
                                          endpoint_name='my-online-endpoint',
                                          model=model,
                                          code_configuration=CodeConfiguration(_

[2022-10-21 05:55] KapilAnanth-MSFT commented on #100062
Hi @nssidhu,

I am afraid it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on Microsoft Q&A and other forums, we have our engineers and others who are monitoring them and will be happy to help.

To address your query, Private DNS Resolver cannot be associated to a Managed Virtual Network.
However, how t

[2022-10-21 06:12] jesweare opened #100255 "Outdated information regarding Azure SQL Database settings"
The **Virtual Network** section includes a Note, below, indicating the necessary action to allow use of an Azure SQL Database--behind a VNET--for data storage.

If your data storage is an Azure SQL Database behind a virtual network, be sure to set Deny public access to No via the [Azure portal](https://portal.azure.com/) to allow Azure Machine Learning to access the storage account.

However, the

[2022-10-21 06:19] simon-harry opened #100257 "External package URL deploy section conflicts with deployment technology availability section"
Hi team,

The deployment technology availability table indicates that Zip deploy is supported by the linux consumption flavor. However the external package URL section then directly contradicts this information with this line:

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc400d6-feaf-3239-094e-3c19aae44345
* Versio

[2022-10-21 06:54] v-amallick commented on #97435
Hi @ibabedal - As we did not receive any response, closing this issue - #please-close . Feel free to share your recommendations, we will take it up. Thanks!

We

[2022-10-21 07:03] rdzotz opened #100258 "example of advanced settings"
From the documentation it is a little unclear how to define some of the other deployment parameters.

For example it would be great to have a single yaml indicating a "feasible" application of
readiness_probe:
   initial_delay:
liveness_probe:
   var1:
   var:2
   ...etc
...etc

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-10-21 07:38] LockTar commented on #99487
Worked great! thanks

[2022-10-21 07:40] ntrogh commented on #100179
@trevor-webster Thanks for your feedback. Could you provide some more information about what exactly doesn't work? I'll update the documentation to include a complete JMX script.

[2022-10-21 08:25] RamanathanChinnappan-MSFT commented on #100117
@likebupt
could you please review this and update as appropriate.

[2022-10-21 08:26] RamanathanChinnappan-MSFT commented on #100117
@optimist937

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-21 08:35] chhell commented on #99834
Have the same behavior here. In an integration test, I created an IoT hub and configured the message enrichment. These tests run every 24 hours and have worked reliably for many months. for the last few days I have noticed that the tests always fail. After a few days of research, this is due to the fact that the message enrichment only becomes functional after many hours. Is there any news regardi

[2022-10-21 08:38] jahirul2022 opened #100261 "Issue while calling TableServiceClient using DefaultAzureCredentials()"
###  **Facing issue while calling TableServiceClient using DefaultAzureCredentials() from local environment**
 **Used the below code
[code]

**### Getting an error** : _Azure.RequestFailedException: 'Authorization header doesn't confirm to the required format. Please verify and try again._
ActivityId: 07e97c33-90c9-4faf-a5b7-b031f4dbf621, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT

[2022-10-21 08:41] ankitgupta1729 opened #100262 "Azure ML : Unable to write data in a job"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-21 08:44] Hung20736 opened #100263 "Should be az ml workspace show -g <resource_group> -n <workspace> --query ..."
Should be az ml workspace show -g <resource_group> -n <workspace> --query ...

Moreover, the '--query v1LegacyMode' does not return anything
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecd515d-6575-bf7e-174d-f3e063c01475
* Version Independent ID: 062d0d3f-1f59-b90f-a394-562b8f8c885a
* Content: [Network isolation ch

[2022-10-21 08:47] #100263 closed

[2022-10-21 08:52] RamanathanChinnappan-MSFT commented on #100133
@rockboyfor

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-21 09:01] ManoharLakkoju-MSFT commented on #100246
@mkellogg-td
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-10-21 09:01] #100246 closed

[2022-10-21 09:02] #100232 closed

[2022-10-21 09:03] AshokPeddakotla-MSFT commented on #100232
@jcbendernh PR has been created to fix this issue. Once it has been peer reviewed and merged changes will go live.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-21 09:03] daisygithuba opened #100268 "confusion about how to calculate the credit per hour;"
[Enter feedback here]
based on the example it provided, for a B16 with 16 CPU, to use 80% vCPU for a hour, it would require 606 credit, however, based on the formula:
1 Credits accumulated/credits used in an hour is equivalent to: **((Base CPU perf of VM - CPU Usage) / 100) * 60 minutes.**
( (270% - 80% x 16 ) /100 ) * 60 = -6.06

it's either the formula is wrong with "/" instead it should be "x 1

[2022-10-21 09:06] ManoharLakkoju-MSFT commented on #100226
@bartvermeersch
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-21 09:07] ManoharLakkoju-MSFT commented on #100226
@ntrogh
Can you please check and add your comments on this doc update request as applicable.

[2022-10-21 09:22] Candelit opened #100269 "Details on the NSG rules?"
Hi.

We are moving from AKS to CAE, and want to restrict access as much as possible in a zero trust spirit, only allowing what we have to.
The section on NSG allow rules are to me unclear...
Can you please make them a bit more...exact?

On the Inbound section, we get protocol, port and 'service tag'.
But what is source and destination? Is the service tag for the source or the destination, or both?

[2022-10-21 09:30] psignoret commented on #59982
@magic-happenz No, we have no plans here to remove the requirement that someone with sufficient privilege (either the user themselves or an administrator) needs to authorize an app's access to user profile details.

[2022-10-21 09:54] laultman opened #100270 "Referenced Git Projects are Out of Date - do not work"
The page references Git projects that are more than four years old and the libraries either do not exist or are in new namespaces. Documentation does not indicate the new namespacing.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 84b695c1-a20c-ccf8-db99-c3362d9f08f6
* Version Independent ID: a6a

[2022-10-21 09:59] hoejsagerc opened #100271 "Link for downloading core tools --> v4.x - Windows 64-bit is not working"
The link under heading - Install the Azure Functions Core Tools - for download the Function Core Tools for Windows x64 is not working. It is redirecting to a "xml" resource not found.

The same goes for the 32 bit link.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Indep

[2022-10-21 10:03] elisebsm opened #100272 "ResourceNotFound when Install the Azure Functions Core Tools"
Received this error message when I try  download this for windows.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://learn.microsoft.com/en-us/azure/azure-fu

[2022-10-21 10:17] RamanathanChinnappan-MSFT commented on #100160
@tomlegge

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-21 10:23] RamanathanChinnappan-MSFT commented on #100156
@saveenr

could you please review this and update as appropriate. Please see the screenshot for your reference

![image](https://user-images.githubusercontent.com/110973511/197174018-dedbcdb1-a05c-4668-8db7-79e79b8513d4.png)

[2022-10-21 10:24] RamanathanChinnappan-MSFT commented on #100156
@ibrahimiy

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-21 10:25] AnuragSingh-MSFT commented on #99643
@phyoungmsft, thank you for reporting it. I am assigning it to the content author for further review and update, as required.

@rayne-wiselman, could you please review this and share your thoughts. Thanks

[2022-10-21 10:28] shaktisingh-msft commented on #100270
Hi @laultman,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-10-21 10:35] shaktisingh-msft commented on #100270
Hi @seesharprun,

Could you please look into this request. Thanks

[2022-10-21 10:37] SadiqhAhmed-MSFT commented on #100081
@ccarrolo No action pending from our end. Hence, closing this issue.

[2022-10-21 10:37] #100081 closed

[2022-10-21 10:50] TomaszWRutkowski opened #100273 "Service Description is wrong/misleading"
https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview

Point 4 of DNS Query Process states as following:
I"f the query doesn't match a Private DNS zone linked to the virtual network, then [Virtual network links](https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview#virtual-network-links) for [DNS forwarding rulesets](https://learn.microsoft.com/en-us/azure/d

[2022-10-21 10:51] RamanathanChinnappan-MSFT commented on #100174
@MrJohnLocke

Could you go through the link for your reference

https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/sovereign-clouds?tabs=c-sharp

[2022-10-21 10:52] noueh commented on #99477
@laujan Can you please review this PR that update the explanation of Form Recognizer's limitation?
To avoid confusion for our customers,it is strongly needed to be updated to reflect actual behavior.

[2022-10-21 11:05] RamanathanChinnappan-MSFT commented on #100236
@betolauda

could you elaborate your query with proper documented date which is mentioned above.

[2022-10-21 11:06] RamanathanChinnappan-MSFT commented on #100205
@aahill

could you please review this and update as appropriate.

[2022-10-21 11:06] Naveenommi-MSFT commented on #100187
Hi @PhilKoay

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-10-21 11:06] RamanathanChinnappan-MSFT commented on #100205
@Aryamaanjjw

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-21 11:07] iww9 opened #100274 "Speech-to-Text sample"
Hi,

I tried running the speech-to-text sample but get an error (SPXERR_GSTREAMER_NOT_FOUND_ERROR) on the mp3 file. It seems a plugin needs to be installed to read compressed files.

I can't see it addressed in the prerequisites. It would be good to add instructions on this for Databricks and Azure Synapse as described in the how-to, to be able to run these samples.

I see there's a guide here [ht

[2022-10-21 11:24] RamanathanChinnappan-MSFT commented on #100160
#sign-off

[2022-10-21 11:24] #100160 closed

[2022-10-21 11:36] Naveenommi-MSFT commented on #100227
Hi @roelofvsr
Thank you for reaching us. Hashicorp is the Official Provider for Terraform Azurerm, there are different providers for Terraform which as you listed in this case. we shared below link for your reference.
https://registry.terraform.io/providers/hashicorp/azurerm/3.28.0

Since this issue isn't directly related to improving our Microsoft docs, and to gain a better understanding of your

[2022-10-21 11:54] tajwan69 commented on #99773
Hi, @vicancy. Thanks for reply.
You are right. I see errors on my app server side in Output window when run ChatRoom sample application with custom domain url connection string.

[code]

Of course MY_CUSTOM_DOMAIN_URL is good custom domain url which I created using tutorial.

So there is a 400 Bad Request Error. When I changed url to standard url signal service url (not custom) everythink works fi

[2022-10-21 12:05] VEshelbyMTT opened #100276 "Application no longer writes correctly to CosmosDB."
Change in cosmosDB now causes the deployment to fail.

Error:
"The streaming job failed: Stream Analytics job has validation errors: The partition key provided does not match the partition key set on the Cosmos DB collection: /_partitionKey" (see image of cosmosDB)

![image](https://user-images.githubusercontent.com/104829457/197191696-137d03b9-bfeb-4ac8-8a43-10ec9e50febf.png)

---
#### Document D

[2022-10-21 12:35] MrJohnLocke commented on #100174
@RamanathanChinnappan-MSFT yes this is exactly what I needed.  Might be good to add a cross reference link to the main speech regions doc for those with the same question.  Thanks

[2022-10-21 12:35] #100174 closed

[2022-10-21 12:42] PhilKoay commented on #100187
This is a documentation problem surely if it does not work?

Can you explain if it doesn't work why would you document it that way?

Phil Koay

On Fri, 21 Oct 2022, 9:06 pm Naveenommi-MSFT, ***@***.***>
wrote:

[2022-10-21 12:42] KapilAnanth-MSFT commented on #100273
Hi @TomaszWRutkowski , we shall review this and get back to you shortly

[2022-10-21 12:46] kabharati commented on #100134
@shaktisingh-msft - pg bouncer integration is not available during public preview and this is planned for our GA release. We have added this info in our public docs. please go through it and let me know for more details.

[2022-10-21 13:05] roelofvsr commented on #100227
Thank @Naveenommi-MSFT I've opened an issue on the underlying repo;
https://github.com/Azure/terraform/issues/120

[2022-10-21 13:05] #100227 closed

[2022-10-21 13:25] chris2shehu opened #100277 "Needs updating"
This article could be improved. It's missing instructions on moving notebooks/artifacts between environments. It also mentions GITHUB actions for some of the automation piece but doesn't talk about or show how to setup anything using DevOPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58cc1024-dcb2-90eb-91d1-d81cca

[2022-10-21 13:29] jerryeml opened #100278 "Microsoft.DevTestLab/DisableLabVirtualMachineQuota can not be found"
Hi, I just reading your docs as belows:
https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/resources-without-resource-group-limit

![image](https://user-images.githubusercontent.com/41797744/197206799-48212fba-c19d-435c-a0a6-9b14a9f69d29.png)

 and then I just follow the steps you provide and just can not find the preview feature "Microsoft.DevTestLab/DisableLabVirtualMachin

[2022-10-21 13:44] mumurug-MSFT commented on #100257
@simon-harry Thanks for the feedback. We will review and update as appropriate.

[2022-10-21 13:45] mumurug-MSFT commented on #100271
@hoejsagerc Thanks for the feedback. We will review and update as appropriate.

[2022-10-21 13:47] mumurug-MSFT commented on #100272
@elisebsm Thanks for the feedback. We will review and update as appropriate.

[2022-10-21 13:54] roofiq opened #100279 "Max apps per app service plan sku - azure recommendations differs"
Hello,

We were trying to follow guideline on this document, that is about max app vs ASP SKU. What we have observed is that in Azure those recommendations are different. It treats SKU as different type of worker, when it comes to it size.
Let me show you on example.

We have app service plan on **P2V3** sku. Following doc, we should be able to host up to **32** apps.
We host 18 apps, of which 16

[2022-10-21 13:59] mumurug-MSFT commented on #100271
@hoejsagerc I checked both the links i.e. [Windows 64-bit](https://go.microsoft.com/fwlink/?linkid=2174087) & [Windows 32-bit](https://go.microsoft.com/fwlink/?linkid=2174159) and was able to download both versions.

Can you please validate again or try from different machine/environment and let us know?

[2022-10-21 14:01] sekharkumar opened #100280 "Support Request for Deploy multiple module instances"
Hi Team,

I am following this MicrosoftDoc [Deploy the Azure Blob Storage on IoT Edge module to your device](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob?view=iotedge-1.4)

On this above article section - **Deploy multiple module instances**

We have deployed multiple storage modules with different host ports (11002 and 11003) as mentioned in the docs, we are able to connect

[2022-10-21 14:07] jaxidian commented on #100109
I am now able to confirm that execution in an Azure Gov tenant completes those steps as well. Thanks again. :-)

[2022-10-21 14:09] olavt opened #100281 "Can appsettings.json be used with Microsoft.ApplicationInsights.AspNetCore or not?"
On the page it's written:

"With ASP.NET Core and with Microsoft.ApplicationInsights.AspNetCore >= 2.15.0 you can configure AppInsights options via appsettings.json"

Further down the page:

"There's no ApplicationInsights.config for ASP.NET Core applications, so all configuration is done via code."

On the page it's not mentioned anywhere that you can configure settings via appsettings.json.

If

[2022-10-21 14:40] jasonseatosky commented on #50798
Hello,

I have a couple questions about this command.

1. The import command only seems to work if the AzureVPN app is closed on the desktop. It won't import if the app is running even using the -f command doesn't work.
2. Is there a command to uninstall the profile via command line?

Thank you

[2022-10-21 14:57] clarotech opened #100283 "Typo on FAQ page for 'Data box'"
[Enter feedback here]
Typo on FAQ page.

Currently, text is "Can I connect multiple Data Box Disks at the same to the host computer to transfer data?"

Presumably, this should be "Can I connect multiple Data Box Disks at the same **time** to the host computer to transfer data?"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-10-21 14:58] KapilAnanth-MSFT commented on #100273
Hi @TomaszWRutkowski , I tried to repo your issue and I am not seeing such issues.

I created a Private DNS Resolver linked to a VNet with two Private DNS Zones.

- google.com.
- blob.core.windows.net.

The DNS server in the forwarding rules is configured as 8.8.8.8
I also have an OnPrem Network that uses the InboundEndPoint of the DNS Resolver for DNS queries.

Now, when I try to do a nslookup fr

[2022-10-21 15:17] shlipsey3 commented on #99924
Hello! I've confirmed with the product group that there were three URLs listed in the TLS article that were no longer used. I've updated the list and provided a link to the complete list on the Azure CA details article. While the TLS article is marked as no longer being updated, it made sense to remove outdated information.
The updates should be live later this morning.
Thanks again for your feedb

[2022-10-21 15:25] ManoharLakkoju-MSFT commented on #100219
@jjindrich
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-21 15:25] ManoharLakkoju-MSFT commented on #100219
@maulikshah23
Can you please check and add your comments on this doc update request as applicable.

[2022-10-21 15:48] msft-takend opened #100286 "use of appsettings.json for applicationinsights ???"
[Enter feedback here]

This document calls out the use of app.config or web.config.  It appears as though they are in the process of being replaced by [appsettings.json](https://learn.microsoft.com/en-us/iis-administration/security/integrated/web.config)  should we continue to use the web/app.config or is there a way to include these ApplicationInsights settings in the appsettings.json?
---
#### D

[2022-10-21 15:49] shlipsey3 commented on #87849
Hi @franklesniak,
Please refer to this issue for updates: https://github.com/MicrosoftDocs/azure-docs/issues/87926

Other users are also asking for this information, so I'm going to provide an update there. Thanks!

[2022-10-21 15:55] ramakoni1 commented on #96927
@helenxfu - docs are now updated. Please check updated section: https://learn.microsoft.com/en-us/azure/azure-sql/database/troubleshoot-common-connectivity-issues?view=azuresql#net-sqlconnection-parameters-for-connection-retry  - thanks again for reporting this. Please let us know if anything else needs clarification.

[2022-10-21 16:03] starbuck3000 opened #100287 "What about all Microsoft 365 admin centers?"
Readers might find useful to know whether this policy proposition would impact all Microsoft 365 admin centers, or whether they must specifically create additional policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 22df42c6-831d-ba42-8224-27176e8fd7d9
* Version Independent ID: 15299b18-e361-9e9f-f836-f37a466dcae

[2022-10-21 16:14] mbiver commented on #99652
As these images are provided by Azure, with a partition layout that could cause future issues, shouldn't we call this out in the documentation and perhaps provide steps to mitigate?  Thanks.

[2022-10-21 16:28] vigouredelaruse opened #100288 "doc enhancement - discuss 'func kubernetes deploy', github actions and azure devops"
[Enter feedback here]

kudos for detaching the functions funtime from azure datacenter deployment via
* keda
* kubernetes
* azure core tools - func kubernetes deploy

now for the last mile
obviously one wants to integratiethis deploymenent scenario with the rest of one's ci/cd pipeline

as discussed in the documentation referenced by this issue, a series of command line step are required to deploy

[2022-10-21 16:37] pgbfnf commented on #99517
East US 2
I'm not sure how to tell what previews we are in, but I would assume a v3 SKU is old at this point, since v5 is current.

[2022-10-21 16:41] pgbfnf commented on #99517
I don't know if it's relevant, but pretty much all 1700 of our VMs of this SKU family are "Windows 10 Enterprise for Virtual Desktops"

[2022-10-21 16:47] TomaszWRutkowski commented on #100273
Hello,

Thank you Kapil for your investigation. I will share with you results of my
testing and we might find a solution:
VM I am testing from is targeting inbound endpoint same as in your
scenario. VNET is linked both to 1) Private DNS Zones 2) DNS Forwarding
Rules to 8.8.8.8

10.1.1.20 - is my Private DNS Resolver Inbound Endpoint
1) With Ruleset enabled (blob.core.windows.net ----> 8.8.8.8)
[im

[2022-10-21 16:49] seanbruck commented on #99957
Same issue.  How do we reference a catalog item (source folder for the .json) when the catalog item is one or more layers deep in the folder structure?

[2022-10-21 16:49] TrzeciLacek opened #100289 "Tutorial Script needed changed to work"
I was following this tutorial and everything was going smoothly until this Step 5: Analyze data with dedicated SQL pools. The following step, when run in Azure Synapse, throws an error:

SELECT PassengerCount,
      SUM(TripDistanceMiles) as SumTripDistance,
      AVG(TripDistanceMiles) as AvgTripDistance
INTO dbo.PassengerCountStats
FROM  dbo.NYCTaxiTripSmall
WHERE TripDistanceMiles > 0 AND Passe

[2022-10-21 16:52] vittalmanikonda opened #100291 "This Create Group API accepting non-available group at tenant/account level"
[Enter feedback here]
The Create group API accepts any name, even though it is not available at the tenant/account level.
Is it the right behavior?
I am looking to add a group to the workspace in an identity federated workspace. Which API to use for Azure- data bricks workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-10-21 16:59] AlexFilipin opened #100292 "Most examples include continueOnError twice"
Most task code examples include continueOnError twice

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cc50f310-4a67-35b9-cd54-6427d8f31a4e
* Version Independent ID: bc95146e-c700-3679-4081-dcf0b8c8d174
* Content: [Lifecycle Workflows tasks and definitions - Azure Active Directory - Microsoft Entra](https://learn.micros

[2022-10-21 17:10] nickludwig commented on #99035
Change merged. Should be reflected in the docs shortly. Thanks for the partnership!

Closing the thread now.

[2022-10-21 17:10] nickludwig commented on #99035
#please-close

[2022-10-21 17:10] #99035 closed

[2022-10-21 17:32] YashikaTyagi-MSFT commented on #100249
@LadtoHelp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:32] YashikaTyagi-MSFT commented on #100251
@jesweare
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:33] YashikaTyagi-MSFT commented on #100254
@sunnybansalmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:34] YashikaTyagi-MSFT commented on #100255
@jesweare
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:37] YashikaTyagi-MSFT commented on #100258
@rdzotz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:37] YashikaTyagi-MSFT commented on #100261
@jahirul2022
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-21 17:38] YashikaTyagi-MSFT commented on #100262
@ankitgupta1729
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-21 17:41] YashikaTyagi-MSFT commented on #100268
@daisygithuba
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:42] YashikaTyagi-MSFT commented on #100269
@Candelit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:43] YashikaTyagi-MSFT commented on #100274
@iww9
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:45] YashikaTyagi-MSFT commented on #100276
@VEshelbyMTT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:46] YashikaTyagi-MSFT commented on #100277
@chris2shehu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:50] YashikaTyagi-MSFT commented on #100278
@jerryeml
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:51] YashikaTyagi-MSFT commented on #100279
@roofiq
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:53] YashikaTyagi-MSFT commented on #100280
@sekharkumar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:56] tfitzmac commented on #100278
@jerryeml - Have you tried running the following Azure CLI command:

az feature list --namespace Microsoft.DevTestLab --output table

[2022-10-21 17:56] YashikaTyagi-MSFT commented on #100281
@ela-malani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 17:57] YashikaTyagi-MSFT commented on #100283
@clarotech
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 18:01] YashikaTyagi-MSFT commented on #100287
@starbuck3000
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 18:03] YashikaTyagi-MSFT commented on #100288
@vigouredelaruse
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 18:04] YashikaTyagi-MSFT commented on #100289
@TrzeciLacek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 18:05] YashikaTyagi-MSFT commented on #100291
@vittalmanikonda
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-21 18:24] ankitgupta1729 commented on #100262
Hi @YashikaTyagi-MSFT, Thanks for asking. I was following [this](https://learn.microsoft.com/en-us/azure/machine-learning/tutorial-azure-ml-in-a-day) documentation and was unable to write data into a file for my working directory. Here, I have opened the issue because I have not found the solution in the documentation which I followed and also on the web.
But later I though that it is a technical

[2022-10-21 18:24] #100262 closed

[2022-10-21 18:30] CamiloTerevinto commented on #85389
Hey @ericd-mst-github - sorry I'm on holidays and I won't be able to test this for a couple more weeks. Feel free to close this if it's resolved and I'll comment if I see any problems :)

[2022-10-21 18:40] ericd-mst-github commented on #85389
No worries, thanks for letting us know and I'll go ahead and close. Enjoy your holidays!

#please-close

[2022-10-21 18:40] #85389 closed

[2022-10-21 18:51] Petermarcu opened #100295 "Is the .NET SDK really a prereq for this? What if I'm deploying a python or JS app?"
Do I really need the .NET SDK for this? Its listed in the prereqs but I don't see any .NET specific code in here.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2827e624-4f80-faa5-4aad-80d22a3ff75d
* Version Independent ID: a1100b71-8f09-baf6-4354-995b4891d43a
* Content: [Tutorial: Connect a web app to Azure App Confi

[2022-10-21 18:56] ericd-mst-github commented on #99568
Version now corrected.

#please-close

[2022-10-21 18:56] #99568 closed

[2022-10-21 19:09] SnehaGunda commented on #100289
@TrzeciLacek can you please share the updated query? Our docs are open source, if you are interested, you can also submit a PR to fix the doc.

[2022-10-21 19:20] TrzeciLacek commented on #100289
I'm not 100% positive that this is the best way, but it is what I used and does display the total trip distance and average trip distance based on number of passengers which is what the tutorial wanted:

SELECT PassengerCount,
      SUM(TripDistanceMiles) as SumTripDistance,
      AVG(TripDistanceMiles) as AvgTripDistance
INTO dbo.PassengerCountStats
FROM  dbo.NYCTaxiTripSmall
WHERE TripDistanceMi

[2022-10-21 19:54] jonburchel commented on #91551
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 19:54] #91551 closed

[2022-10-21 19:59] jonburchel commented on #92263
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-10-21 19:59] #92263 closed

[2022-10-21 20:00] jonburchel commented on #92390
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W