[2021-03-21 11:43] KrishnaG-MSFT commented on #72502
@miklemiracle Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-21 11:58] jonascphh opened #72504 "Storage information missing"
How come the information about IOPS, cached and uncached is missing from this size/type of VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab91be7-f262-4258-aa73-64a35e3d9ae4
* Version Independent ID: 93dc517e-720e-60bd-57b9-63a374d62a1f
* Content: [NVv4-series - Azure Virtual Machines](https://docs.microsoft.com/e

[2021-03-21 13:43] SnoWolfT opened #72506 "Need the "Complete Time" of the operations in the Activity Log"
Need the "Complete Time" of the operations in the Activity Log. In the JSON file of the operation, it contains the "eventTimestamp" and "submissionTimestamp". But there is place to check the "Complete Time". It is important for us to get this information and calculate the time consumption of the operations.

Thank you for your help!

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-03-21 14:14] KevinCathcart opened #72507 "More complete description of SSO process"
It would be helpful if there were a more complete description of SSO behavior for custom profiles.

Here are some of the questions that ideally should be answered:
1. What happens when encountering an orchestration step of type CombinedSignInAndSignUp or ClaimsProviderSelection? (As best as I am able to determine, it starts by looking at login self-asserted provider (combined case only), and deter

[2021-03-21 15:12] on-the-ray opened #72508 "Confusing docs of LB making unclear how/if TCP SNAT ports are multiused"
This paragraph is very confusing:

First sentence reads that for each tuple (destIP, destPort) there's single SNAT port allocated, whatever number of TCP connections/flows/streams is open. I.e. if a backend VM associated with the given SNAT port opens multiple concurrent connections to microsoft.com:443, they will share the same SNAT port. This is, however probably not how LB works (how would LB r

[2021-03-21 15:26] AshokPeddakotla-MSFT commented on #61880
This has been added to troubleshooting page.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-21 15:26] #61880 closed

[2021-03-21 15:27] AshokPeddakotla-MSFT commented on #54000
Closing as no plans to fix this.

[2021-03-21 15:27] #54000 closed

[2021-03-21 15:58] drorgalTingz opened #72509 "iot hub android and ios get twin module"
missing of docs on android and ios connect to device twin

Hey
I have tried to use a service that gives me back my twin but without success, there is no clear enough guide that gives the option to do so

please if anyone he an idea how to implement this like AWS IoT core like a shadow.
need a solution in the mobile native even better in flutter

[2021-03-21 16:39] DerekHerman-MSFT commented on #72499
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-21 16:40] DerekHerman-MSFT commented on #72500
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-21 16:43] DerekHerman-MSFT commented on #72501
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-21 16:44] DerekHerman-MSFT commented on #72503
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-21 16:45] DerekHerman-MSFT commented on #72504
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-21 17:08] rswetnam commented on #72423
Hi Ajay:

Thanks so much for your prompt response.  I appreciate that.  The link that
you sent me to was somewhat more understandable.  As you say, " once the
certificate is uploaded (as in your case), you will need to create a
binding to secure your custom domain."  Ok, I did that and the relevant
part of the article that you sent me to is  once the certificate is
uploaded (as in your case), you

[2021-03-21 17:14] brentminder opened #72510 "IServiceCollection does not contain a definition for AddSingleton in your code snippet"
In you code snippet for .ConfigureServices, I got the error:
"IServiceCollection does not contain a definition for AddSingleton".

I wish you would add a bit more context as this is brand new functionality with little doco other than this. Here is my interpretation for where to add .ConfigureServices:

        public static void Main()
        {
            var host = new HostBuilder()

[2021-03-21 17:28] KrishnaG-MSFT commented on #72506
@SnoWolfT Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-21 17:33] ricktam1469 opened #72511 "Is Multi-tenant login is possible using Non-Microsoft account???"
Is Multi-tenant login is possible using Non-Microsoft account???
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc84ec3c-dcb4-b735-5c51-5e7b1417a341
* Version Independent ID: 39d44a1e-06e5-40d2-9c6c-d011377bdc13
* Content: [Single and multi-tenant apps in Azure AD - Microsoft identity platform](ht

[2021-03-21 18:08] #71967 closed

[2021-03-21 18:20] mmacy commented on #72272
@garthoid I'm moving this one over to Azure DevOps for triage in APR2021 sprint planning. Thanks again for the call-out on this. #please-close

Microsoft-internal tracking:

ID | Title | Iteration Path
-- | -- | --
[1337375](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1337375) | [ISSUE][72272] User role not mentioned to achieve app registration | Technical Content

[2021-03-21 18:20] #72272 closed

[2021-03-21 18:34] cynthn commented on #72491
@carstenskjaer Yikes! Good catch. I've removed the .pub and I'll also be adding something about creating and storing SSH keys as resources.

#please-close

[2021-03-21 18:34] #72491 closed

[2021-03-21 20:13] larryclaman opened #72512 "Default storage classevolumeBindingMode?"
Within this page, it says: "The default storage classes use a `volumeBindingMode: Immediate` class".
Is this still the default for azure-disk?  On my AKS 1.18.14 cluster, running `kubectl get sc` shows:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba9a74f-e0b7-5e2c-b066-5f32dc47f950
* Version Independent ID:

[2021-03-21 20:18] larryclaman commented on #72512
closing issue -- realized I opened this on the CSI page

[2021-03-21 20:18] #72512 closed

[2021-03-21 20:33] SadiqhAhmed-MSFT commented on #72145
@michalchecinski We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-21 20:33] #72145 closed

[2021-03-21 21:23] EMCP opened #72513 "Azure ML does not support heirarchical namespaces but docs say supports Gen 2 ADLS ?"
- [ ] The relevant Azure service or technology.

Azure ML Workspaces
Azure Data Storage Accounts w/ Azure Data Lake Storage Gen 2

- [ ] A link to the published documentation article that you have feedback about.

https://docs.microsoft.com/en-gb/azure/storage/blobs/data-lake-storage-supported-azure-services

- [ ] Clear, specific feedback that the author can act on.

I'm trying to create my first

[2021-03-21 21:26] mpchen opened #72514 "Is ATP for CosmosDB still available?"
The ATP setting is not available for some CosmosDb but shows up for others. I am wondering why is that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ffcbc35-9721-0092-8a3b-316aa3072689
* Version Independent ID: 4ef23283-a5db-e672-70a2-419d9e7e2c31
* Content: [Advanced Threat Protection for Azure Cosmos DB](https://d

[2021-03-21 21:59] #72164 closed

[2021-03-21 23:23] SatishBoddu-MSFT commented on #72467
The page  or the content is not available for the 1.2 version. So the 'Next Steps' is redirecting to default 1.1 version page.

![image](https://user-images.githubusercontent.com/62923178/111924387-83a4ab80-8a61-11eb-81c7-5254b6ffb1bf.png)

Under 1.2 version , we only have Quickstart for Linux Device.

[2021-03-21 23:40] ClaudioRifo opened #72515 "Key vault integration requires firewall to be down"
To correctly deploy certificates using KeyVault it requieres to firewall to be down.
Can you incorporate to Azure-CDN the same feature as Azure App service (that can connect to KeyVault even if firewall is on)?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
*

[2021-03-22 00:06] fusyd commented on #72349
@JagVeerappan @VikasPullagura-MSFT Thanks guys. The price in history pricing/eviction page is consistent with the Azure Retail Prices api now.

[2021-03-22 00:06] #72349 closed

[2021-03-22 00:10] psinghal04 opened #72516 "Does DNS private zones auto registration work for Azure container instances?"
It is not explicitly clear from the documentation whether or not the DNS autoregistration feature is available for container instances deployed in a virtual network. It would be great if this is clarified beyond reasonable doubt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49cac13a-f868-1c40-da67-488c1ee1fb13
* Vers

[2021-03-22 00:36] YutongTie-MSFT commented on #72246
@AgribotGit Thanks, I will help forwarded the issue to product group. For Incorrect instruction in the how-to documentation and Duplicated lines of python code, I have fixed it and it should be live soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-22 00:36] #72246 closed

[2021-03-22 01:39] residentx10 opened #72517 "Dataset corrupt from github. You'll spend and hour cleaning this up if you use this file. https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-bike-share/bike-no.csv"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-22 02:24] JamesTran-MSFT commented on #72511
@ricktam1469
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-22 02:29] SaiKishor-MSFT commented on #71530
@pimbelien The given steps work when you use basic routing rule in which case the binding happens automatically as given in the steps, however, this seems not to be the case with path based routing. We are working on updating the document appropriately to reflect this information. Hops this helps. Thank you!
We will now proceed to close this thread. If there are further questions regarding this ma

[2021-03-22 02:29] #71530 closed

[2021-03-22 03:21] JamesTran-MSFT commented on #72400
@zengin
Thank you for your time and patience throughout this issue!

I tested out the link you provided and even selected the one within the documentation and was able to get to the security info page.

- Are you able to try and open the link within a private browsing session?
- What error message are you receiving?

![AddSecVer](https://user-images.githubusercontent.com/36619112/111936453-ece8e68

[2021-03-22 03:26] MayankBargali-MSFT commented on #72307
@vdimov-gcmlp Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-22 03:26] #72307 closed

[2021-03-22 03:34] KrishnaG-MSFT commented on #72229
@dgcaron Verified and updated the document as required. The change should reflect in the doc in some time i.e., in less than 24 hours. Thanks again for the feedback.

[2021-03-22 03:34] #72229 closed

[2021-03-22 03:35] KalyanChanumolu-MSFT commented on #72507
@KevinCathcart Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-22 03:35] JamesTran-MSFT commented on #72409
@DSPatrick
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-22 03:35] #72409 closed

[2021-03-22 03:36] KalyanChanumolu-MSFT commented on #72508
@on-the-ray Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-22 03:37] JamesTran-MSFT commented on #72456
@andrewwillett
Thanks for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/111937514-215da200-8a85-11eb-87c4-b566ea31202b.png)

[2021-03-22 03:42] KrishnaG-MSFT commented on #72364
Assigning content owner @cweining for visibility, review and document enhancement consideration as appropriate.

[2021-03-22 03:44] KrishnaG-MSFT commented on #72363
@piyushgupta12 I have verified and updated the document as required. The change should reflect in the document in some time i.e., in less than 24 hours. Thanks again for good catch and providing the feedback!

[2021-03-22 03:44] #72363 closed

[2021-03-22 03:44] JamesTran-MSFT commented on #72468
@UncleRic
Thank you for your time and patience throughout this issue!

- For authenticating your MS account, can you share some more info on why you can't authenticate/sign-in to your MS account?
- When it comes to the MS authenticator app, this should be used after you sign-in with your username and password.

If you have any other questions, please let me know.
Thank you!

[2021-03-22 03:44] KalyanChanumolu-MSFT commented on #72509
@drorgalTingz Technical support on GitHub is limited to documentation issues only.
Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-iot-hub) for better visibility

[2021-03-22 03:47] KrishnaG-MSFT commented on #72502
@trkeya Can you please provide your insights on this? Did the link change recently or was it an open issue that would be resolved soon?

[2021-03-22 04:01] KrishnaG-MSFT commented on #72506
@SnoWolfT Yes, as per [this](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/azureactivity) / [this](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/activity-log-schema) documents, event and submission timestamps as part of Azure Activity logs. When you say "_there is place to check the "Complete Time"_", can you elaborate it with more context or with a screen

[2021-03-22 04:02] AnuragSharma-MSFT commented on #72514
@mpchen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-22 04:13] kiwibayer opened #72518 "Documentation is missing information about DMA / DMS"
[Enter feedback here]
Documentation is missing information about DMA / DMS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e621254b-d284-23f4-7981-8ad3c28c8ab9
* Version Independent ID: 45724cdb-52f8-8549-c5f4-a389d91f1968
* Content: [Migrate a SQL Server database to SQL Server on a virtual machine - SQL Server on Azure

[2021-03-22 04:18] AnuragSharma-MSFT commented on #72434
@misterspeedy We were awaiting your response on it. I created the PR for the same and as @SnehaGunda mentioned, we really encourage if you could submit the fixes through the PRs if you observer any discrepancies.

This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please

[2021-03-22 04:18] #72434 closed

[2021-03-22 04:24] AnuragSharma-MSFT commented on #72436
@mcurko Yes you are right in mentioning it. I would suggest you to go through the below article which explains the same, "**_Azure VPN gateways provide cross-premises connectivity between customer premises and Azure. This tutorial shows you how to use the Azure portal to create a Site-to-Site VPN gateway connection from your on-premises network to the VNet. You can also create this configuration u

[2021-03-22 04:28] AnuragSharma-MSFT commented on #72487
@987a73ae7992294d Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-22 04:34] SubhashVasarapu-MSFT commented on #72515
@ClaudioRifo, Thanks for reaching out. We will investigate and update this thread.

[2021-03-22 04:37] v-hagamp commented on #71753
Issue resolved as suggested above, please find the updated article: _https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-single-sign-on-tutorial_
#please-close

[2021-03-22 04:37] #71753 closed

[2021-03-22 04:37] v-hagamp commented on #71754
Issue resolved as suggested above, please find the updated article: _https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-single-sign-on-tutorial_
#please-close

[2021-03-22 04:37] #71754 closed

[2021-03-22 04:37] VikasPullagura-MSFT commented on #72338
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-22 04:37] #72338 closed

[2021-03-22 04:38] VikasPullagura-MSFT commented on #72209
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-22 04:38] #72209 closed

[2021-03-22 04:43] VikasPullagura-MSFT commented on #72482
@haaami01 Can you please elaborate the issue a bit to assist your better.

[2021-03-22 04:59] DerekHerman-MSFT commented on #72510
@brentminder Can you please share the document URL you are referring to? This way I can get it assigned to the proper individual. Thanks!

[2021-03-22 05:01] DerekHerman-MSFT commented on #72513
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-22 05:03] VikasPullagura-MSFT commented on #72518
@kiwibayer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-22 05:03] VikasPullagura-MSFT commented on #72518
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-03-22 05:04] DerekHerman-MSFT commented on #72517
@residentx10 Could you please let me know the documentation URL you are working with? Once I have this I can assign the appropriate individual to work on the issue.

[2021-03-22 05:05] VikasPullagura-MSFT commented on #72512
@larryclaman Thanks for the update.

[2021-03-22 05:11] NorgFest opened #72519 "Change subsection title"
Please change the subsection title "Create an ExpressRoute authorization key in the on-premises circuit" to "Create an ExpressRoute authorization key in the private cloud circuit"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e365a3-e2f9-0fed-e8cc-8a6cad6224ef
* Version Independent ID: 8204c126-3976-8a5b-8c4a-58935d

[2021-03-22 05:21] sanghoon-damien-yang opened #72520 "Two things to update in this doc"
[Enter feedback here]
I found two things that causing confusion for readers.
I was also very confused and understood later by asking MS PG.

on AzureCLI.
**1) Exclude / Include disk command**
   => When backing up multiple disks scenario, when you exclude one disk and try to add that disk again by using include argument, you must specify every disk (except OS) that you want to include on backup ra

[2021-03-22 05:23] liudan66 commented on #71026
@Mja101  can you try to disconnect first and then reconnect to see if the issue still exists ?

[2021-03-22 05:24] VikasPullagura-MSFT commented on #72519
@NorgFest Thanks for the Feedback.
The document is updated and changes will go live soon.

[2021-03-22 05:26] SwathiDhanwada-MSFT commented on #72520
@sanghoon-damien-yang Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-22 06:01] pvrk commented on #71601
@dimilider : Another gentle reminder to see if the above response helped.

[2021-03-22 06:13] DonLifeScore opened #72521 "static websites isn't there"
"Select Static website to display the configuration page for static websites."

It's not there.  Thus I'm left unable to do anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507-4b62-07d9-a708-d26d62d990ac
* Version Independent ID: 6c7f4c32-69da-3929-dbf2-1591d667f979
* Content: [Host a static website in Az

[2021-03-22 06:17] v-amallick commented on #72150
Hi @AnishJS, thank you for your suggestion. You can see the changes on the page in following section:
https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-vms-prepare?branch=pr-en-us-151008#create-a-custom-policy

[2021-03-22 06:17] dominicbetts commented on #21684
I'm closing this issue for now. Please feel free to reopen if you have any follow up questions. Thanks!
#please-close

[2021-03-22 06:17] #21684 closed

[2021-03-22 06:36] SnoWolfT opened #72522 "Need to know the ETA of one bug | command terminated with exit status=52 | DNS record propagated"
When stopping and then starting the AKS cluster, we encounter the issue as below.
++++++++++++++
Agents are unable to resolve Kubernetes API server name. It's likely custom DNS server is not correctly configured, please see https://aka.ms/aks/private-cluster#hub-and-spoke-with-custom-dns for more information. Details: VMSSAgentPoolReconciler retry failed: {
  "Category": "InternalError",
  "SubCod

[2021-03-22 07:42] YutongTie-MSFT commented on #72361
@ShaneOsborne Hello Shane, I have fixed this issue and it should be live soon. Thanks for pointing this out.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-22 07:42] #72361 closed

[2021-03-22 07:49] SubhashVasarapu-MSFT commented on #72485
@AbhishekTripathi, Appreciate your patience. The doc has been updated with the required note. It would take some time for the changes to get reflect over the doc. There is a similar ask on this feature here in our [feedback section](https://feedback.azure.com/forums/34192--general-feedback/suggestions/39536116-cdn-multiple-instances-of-same-custom-domains) where you can provide your feedback and e

[2021-03-22 07:49] #72485 closed

[2021-03-22 07:51] emaborsa commented on #72218
Any updates?

[2021-03-22 07:54] VikasPullagura-MSFT commented on #72522
@SnoWolfT Thanks for reaching out with the details. I am reaching our to product team to confirm and share more information on this.

[2021-03-22 08:03] SubhashVasarapu-MSFT commented on #72516
@psinghal04, From the restrictions section in the document it looks like this auto registration is available only for virtual machines till date. For all other resources like internal load balancers etc., you can create DNS records manually in the private DNS zone linked to the virtual network.

![image](https://user-images.githubusercontent.com/44890829/111958284-0df91800-8b13-11eb-8ec0-958a8b464

[2021-03-22 08:07] ciph3rwoman opened #72523 "Data Explorer Instructions need updating"
Hi team,

I am leaving feedback because we need to update the documentation for this page.

I am just going through the lab and some things have changed on Azure portal for Gremlin.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64cdb516-a4f6-b33f-b993-48197836c6e9
* Version Independent ID: ae53a

[2021-03-22 08:23] SwathiDhanwada-MSFT commented on #72520
Assigning to content author @v-amalick for review

[2021-03-22 08:24] TonySoderbergRMT opened #72524 "Documentation not up to date, invalid Azure hostname stamp2.search.ext.azure.com"
Under the section "Include the Azure Cognitive Search portal IP addresses" it states: "Azure Cognitive Search portal IP addresses can be found by pinging stamp2.search.ext.azure.com".
However this is not possible due to that there doesn't exists a DNS-record for that hostname.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-22 08:39] zebraxlj opened #72525 "Unable to pull image for Playfab Multiplayer"
While trying to pull image from https://hub.docker.com/_/microsoft-playfab-multiplayer?tab=reviews, I ran into timeout issue.

![image](https://user-images.githubusercontent.com/7662408/111961662-478a4d00-8b2c-11eb-9aca-3ae06dc119ae.png)

Then I simply pinged the mcr.microsoft.com directly, and it's timing out
![image](https://user-images.githubusercontent.com/7662408/111961842-802a2680-8b2c-11eb-

[2021-03-22 08:51] #72478 closed

[2021-03-22 08:56] jyama4ta opened #72527 "Update Request: Max throughput and IOPS for Premium Storage not supported SKUs"
The Max throughput and IOPS are described as _2x500_ on Av2 series and some SKUs that doesn't support Premium Storage.
x500 may mean the maximum standard storage IOPS in the past. However, currently, standard storage has over 500 IOPS like S60 and above. So, I think it is better these series also are described the max throughput and IOPS overall the size like premium supported SKUs.

---
#### Docu

[2021-03-22 09:10] CHEEKATLAPRADEEP-MSFT commented on #72427
@JozefMelichar Unfortunately, I could not find ` val connStr = ConnectionStringBuilder()` from [Read tweets from Event Hubs ](https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-stream-from-eventhubs#read-tweets-from-event-hubs) - section.

I would suggest you to follow the code in the document.

We will now proceed to close this thread. If there are further questions regarding

[2021-03-22 09:10] #72427 closed

[2021-03-22 09:11] CHEEKATLAPRADEEP-MSFT commented on #72437
@johnmreynolds  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-22 09:11] #72437 closed

[2021-03-22 09:14] CHEEKATLAPRADEEP-MSFT commented on #72237
@yaronyg Could you please take a look at this query?

[2021-03-22 09:18] muzzamilT opened #72529 "Incorrect screenshot used for section 'Resync volumes after disaster recovery' on Step 2"
Incorrect screenshot used for section 'Resync volumes after disaster recovery' on Step 2.
The current documentation shows the 'Destination' volume being selected for resync operation post-disaster recovery. It should instead show the 'Source' volume as specified in the preceding step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-03-22 09:41] SwathiDhanwada-MSFT commented on #72291
@v-lyivan As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-22 09:41] #72291 closed

[2021-03-22 09:41] SwathiDhanwada-MSFT commented on #72295
@ktatar1209 As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-22 09:41] #72295 closed

[2021-03-22 09:42] SwathiDhanwada-MSFT commented on #72310
@jonbprogramming Did you get chance to check previous comments ? Kindly revert if you have further questions.

[2021-03-22 09:53] KalyanChanumolu-MSFT commented on #72523
@ciph3rwoman Thank you for the feedback.
Are you referring to the screenshots? Could you please let us know where you are seeing discrepancies?

[2021-03-22 09:54] SubhashVasarapu-MSFT commented on #72486
@AbhishekTripathi, Thanks for your feedback. We are assigning this issue to the respective content owner to update the document accordingly.

[2021-03-22 10:01] dimilider commented on #71601
Sorry, but i cannot find that section where it mentions that "Azure services always flows via Azure backbone" in this context. But if it is, so you can safely close this issue.

[2021-03-22 10:03] VikasPullagura-MSFT commented on #72527
@jyama4ta
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-22 10:03] VikasPullagura-MSFT commented on #72527
@ju-shim @mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-03-22 10:07] Robertj1983 opened #72530 "Incorrect image names"
I am trying to use my Visual Studio Professional with MSDN Azure subscription to create a Windows 10 VM. As the page states, this should entitle me to use it for dev/test scenarios.

I cannot find the exact image names specified in the table on the Azure Marketplace, and every other variant I select requires I confirm the following when creating the VM on Azure:

**I confirm I have an eligible Win

[2021-03-22 10:14] VikasPullagura-MSFT commented on #72530
@Robertj1983
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-22 10:14] VikasPullagura-MSFT commented on #72530
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-03-22 10:15] v-lyivan commented on #72291
@SwathiDhanwada-MSFT Thank you very much for your feedback!

The screenshot that you placed is showing a Public IP resource which is a Firewall.
Are you able to re-create it on a VM without a firewall and see different ports on the Packet Count metric?

[2021-03-22 10:24] MayankBargali-MSFT commented on #72479
@tommydogs Thanks for reaching out. Example 2 is incorrect and to get the desired output you need to use both addProperty and setProperty. I will update the document to reflect the correct example.

setProperty(json('{ "customerName": { "firstName": "Sophia", "surName": "Owen" } }'), 'customerName', addProperty(json('{ "customerName": { "firstName": "Sophia", "surName": "Owen" } }')['customerName'

[2021-03-22 10:24] AshokPeddakotla-MSFT commented on #72480
@diablodale  I have assigned the issue to the author @qm13  to evaluate and update as appropriate.

[2021-03-22 10:26] AshokPeddakotla-MSFT commented on #72481
@diablodale I have assigned the issue to the author @qm13 to evaluate and update as appropriate.

[2021-03-22 10:59] vhe1 opened #72531 "The page doesn't say what the sample rate for the DTU limit enforcement is"
I would like to know how exactly the governor decides to throttle a database due to DTU violations.
Like, "we take a 1 min average for DTU calculation and if two consecutive averages are above the limit, we throttle" or something like it.
In our setup we are trying to hunt down sporadic timeouts and this information would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-03-22 11:04] Briwalkr opened #72533 "PowerShell command DO NOT WORK"
The PowerShell command to get or set the AAD Admin for Synapse SQL Pools do not work.
l
PS Microsoft.PowerShell.Core\FileSystem::\\wsl$\Ubuntu\home\brwalker\pvn5-test> Get-AzSqlServerActiveDirectoryAdministrator -ResourceGroupName "rg-pvn5" -ServerName "asapvn5"

Get-AzSqlServerActiveDirectoryAdministrator : Can not perform requested operation on nested resource. Parent resource 'asapvn5' not foun

[2021-03-22 11:08] #71141 closed

[2021-03-22 11:09] miwithro commented on #72522
@feiskyer

[2021-03-22 11:14] stmccartney opened #72534 "Missing pre-requisite"
The pre-requisites section at the top is missing the minimum number of vCPU cores to run IoT Edge, which is 4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981e06fb-977c-c6a3-b5bf-23ea63b4dfe6
* Version Independent ID: 3620faaf-95d0-cdd2-e4ed-18c9e24a0bb4
* Content: [Install Azure IoT Edge for Linux on Windows](https:

[2021-03-22 11:26] jtpower opened #72536 "Multiple edge nodes via ARM deploy error"
Document error as below description, And I have a question: How do we deploy multiple edge nodes on same HDI cluster?

Modified ARM follow document:
[code]

Result:
Status: Conflict
[code]

HDI UI Show:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae57e5d6-7bd2-00a3-ca30-9d7b9d702940
* Version Independent ID: aa7f29d

[2021-03-22 11:35] simonvane opened #72538 "Documentation shows invalid JSON"
Some of the scriptContent in this page is shown on multiple lines. This is not valid JSON and fails if run in an Azure DevOps pipeline. The error was now massively helpful and took a long time to resolve the issue.

I used https://www.freeformatter.com/json-escape.html to escape the multiline script to make the JSON valid.

It would be helpful if the documentation should only showed valid JSON and

[2021-03-22 11:42] simonvane opened #72539 "Creation of Azure Container Instance not documented."
The documentation shows the use of an existing Azure Container Instance i.e.
[code]

However, it does not document how to create the Azure Container Instance in an ARM template (or the portal for that matter).

It does not appear to be as simple as creating an ACI with a container using the correct image. For example, it appears that the container must follow a naming convention i.e. start with `a

[2021-03-22 11:47] codemaker opened #72540 "Changing System.Data.SqlClient to Microsoft.Data.SqlClient in code sample fails the build"
I have changed namespace from System.Data.SqlClient  to Microsoft.Data.SqlClient

That results in the below error

          Argument 2: cannot convert from
          'Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider.SqlColumnEncryptionAzureKeyVaultProvider' to
         'Microsoft.Data.SqlClient.SqlColumnEncryptionKeyStoreProvider'

---
#### Document Details

⚠ *Do not edit thi

[2021-03-22 11:49] simonvane opened #72541 "Cannot use auto created storage account and ACI with resource group resource lock."
We use a delete resource lock on our resource groups to prevent accidental deletion of resources. This means that we cannot use deploymentScripts with automatically created storage account and ACI because when deployed, the deploymentScript resource tries to delete at least the ACI but possibly also the storage account, and therefore fails because of the lock.

It would have saved me a lot of time

[2021-03-22 11:57] AshokPeddakotla-MSFT commented on #72534
@stmccartney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-22 12:05] OAustlid commented on #24857
This worked. Great!

[2021-03-22 12:07] e-saiz opened #72542 "update the page please now we can go from Paid to free"
[Enter feedback here]

https://github.com/Azure/AKS/releases/tag/2020-11-30

You may now update your Uptime SLA clusters to Free.

And how to do it please.
https://github.com/Azure/AKS/issues/2046

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476

[2021-03-22 12:09] SwathiDhanwada-MSFT commented on #72538
@simonvane Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-22 12:10] SwathiDhanwada-MSFT commented on #72539
@simonvane Thanks for your feedback. We will review the issue and get back to you shortly

[2021-03-22 12:11] SwathiDhanwada-MSFT commented on #72541
@simonvane Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-03-22 12:16] v-jheichman commented on #72237
I don't see a query listed.

[2021-03-22 12:17] vipulsparsh commented on #72350
@parilla It is not recommended when you use password less sign in experience such as FIDO 2 keys.
[Here is a supported method](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/using-azure-ad-to-land-users-on-their-custom-login-page-from/ba-p/243900) for auto accelerating this.

[2021-03-22 12:18] #72357 closed

[2021-03-22 12:22] stdistef opened #72543 "The Linux Agent seems incomplete without discussing LAD"
[Enter feedback here]

VM Agents section states:
"Virtual machine agents. Metrics are collected from the guest operating system of a virtual machine. Enable guest OS metrics for Windows virtual machines with Windows Diagnostic Extension (WAD) and for Linux virtual machines with InfluxData Telegraf Agent."

There is no mention of LAD for Linux VM Guest metrics.   My understanding is guest OS Metric

[2021-03-22 12:52] smithGit commented on #21684
Closing is fine – Thank you.  Best wishes, Sam

From: Dominic Betts ***@***.***>
Sent: Monday, March 22, 2021 2:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sam Smith ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unclear What is Best Repository for IoT Measurements (#21684)

I'm closing this issue for now. Please feel free to reopen if you have any follow up ques

[2021-03-22 12:53] brentminder commented on #72510
Hi,

Here is the URL:
https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide

I figured it out. I needed to include this using statement (maybe the
snippet could include):
using Microsoft.Extensions.DependencyInjection;

Thanks,

Brent

On Mon, Mar 22, 2021 at 12:59 AM DerekHerman-MSFT ***@***.***>
wrote:

[2021-03-22 13:04] #72519 closed

[2021-03-22 13:13] shortpatti commented on #70309
#please-close

content updated and in tech review.

[2021-03-22 13:13] #70309 closed

[2021-03-22 13:25] mauve commented on #71461
Any progress?

[2021-03-22 13:29] DCtheGeek commented on #72425
@sscchh2001 Thanks for the question.  We aren't aware of a 50+ subscription limit on the portal page.  Please open a support ticket for the customer so that we can look at what's going on.  As this isn't a Docs related issue, I'm going to close this Issue.  Thanks!

#please-close

[2021-03-22 13:29] #72425 closed

[2021-03-22 13:34] mcollier commented on #51311
@craigshoemaker FYI, there is some info at:

- https://github.com/Azure/azure-functions-servicebus-extension/issues/15#issuecomment-702315755
- https://github.com/MicrosoftDocs/azure-docs/issues/52706

[2021-03-22 13:37] baanders commented on #72376
Hi @Glaubscher, great suggestion! I've confirmed this behavior with the product team (for all filter types), and added a note with this information to the document in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/151253.

![image](https://user-images.githubusercontent.com/55546137/111998105-12f99f80-8af2-11eb-8d2d-3b63cf1ec1d1.png)

Since this adds the requested information, I'll ha

[2021-03-22 13:41] #72376 closed

[2021-03-22 13:47] larryclaman opened #72546 "Change to default volumeBindingMode?"
In this page at https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi#create-a-custom-storage-class, it says _"The default storage classes use a volumeBindingMode: Immediate class"_

I think the default has actually changed to `volumeBindingMode: WaitForFirstConsumer` per what I'm seeing in new AKS clusters I create:
[code]

If the default volumebindingmode has indeed changed to `WaitForFirstC

[2021-03-22 13:49] pvrk commented on #71601
![image](https://user-images.githubusercontent.com/17268738/111999918-752ec080-8b43-11eb-9e62-bee3a3afc637.png)

Please look at the internet section. Have uploaded the relevant image.

[2021-03-22 13:49] jimmyjamesbaldwin opened #72547 "AKS "Built-in storage classes" documentation out dated"
Hi, while reading the MS docs on resizing persistent volumes in AKS I notice that it states that it is required to create a new StorageClass with the `allowVolumeExpansion: true` attribute set to true. This however appears to be enabled out of the box in the default/managed/managed-premium storageclasses so I assume this documentation is slightly out of date:

[code]

Cheers!
James

---
#### Docum

[2021-03-22 13:50] pvrk commented on #71601
Closing this issue since the documentation proof is given. Can re-open if there is any confusion.
#please-close

[2021-03-22 13:50] #71601 closed

[2021-03-22 13:50] MayankBargali-MSFT commented on #72479
@tommydogs You can use the below example to get your desired output as mentioned in Example 2. I have updated the document and it will be published once it is approved.

setProperty(json('{ "customerName": { "firstName": "Sophia", "surName": "Owen" } }'), 'customerName', addProperty(json('{ "customerName": { "firstName": "Sophia", "surName": "Owen" } }')['customerName'], 'middleName', 'Anne'))

[2021-03-22 13:53] dimilider commented on #71601
This is absolutely correct, but looking to my initial request, we have changed the default route and pointed them as next hop to the Azure Firewall! [0.0.0.0/0 -> AzureFirewall]. What will happen in this case with the data traffic?

[2021-03-22 13:58] mumian commented on #72538
@simonvane - Thank you for your comment.  I will include the information.

[2021-03-22 14:01] pvrk commented on #71601
Since this is not just backup related question, but applies to any Azure service, can you please open this bug on that article page? That will help others too. And sincere apologies since I haven't noticed the initial request or else I would told this on the first day itself. Please accept my apologies once more.

[2021-03-22 14:02] mumian commented on #72539
@simonvane - You can only specify an existing storage account.  The containerGroupName property is to customize the ACI container group name.  I know it doesn't address the resource lock issue. I will check with the product team regarding resource lock.

[2021-03-22 14:09] psinghal04 commented on #72516
Thanks for the clarification, @SubhashVasarapu-MSFT. It will be great if the restrictions section can be updated to call out the container instances case. Container instances present a unique challenge due to their ephemeral nature and the fact that their IP address could keep changing. It looks like API gateway is one way to route to container groups via fixed IP addresses, but that doesn't work

[2021-03-22 14:13] arashcomsense opened #72548 "Further examples in the scope of Azure SignalR Services required"
There are no examples related to sending a message to a group of users by Azure SignalR Services using Http-triggered functions, adding/removing a user to/from a group in signalR. This area needs more coverage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad5f362-cbfb-0621-4389-6378f50359e4
* Version Independent ID:

[2021-03-22 14:20] CHDAFNI-MSFT opened #72549 "Outbound connections - centralized articles - Load Balancers & NAT Gateway"
This article is the primary results from search engines when searching for how Outbound Connections work in Azure. However this article doesn't link or refer to the 'NAT Gateway' service that can also control Outbound connections.

Suggest either:
1. Add a reference or link to NAT Gateway - [https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview](https://docs.microsoft.com/en-us/azure

[2021-03-22 14:22] mgreenegit commented on #72311
that is correct

[2021-03-22 14:25] SwathiDhanwada-MSFT commented on #72543
@stdistef Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-03-22 14:27] rgembalik commented on #13883
@BryanTrach-MSFT Did you manage to update the docs? I am trying to reuse the custom role example to create API revisions and import OpenApi schema into them, but I am getting the following error (both on `az apim api revision create` and `az apim api import`):
[code]

And I believe I have the role defined as in the example:
[code]

[2021-03-22 14:49] HoCGeek opened #72550 "Least privilege model - "A user, who is a global administrator for the tenant.""
Are Global Administrator permissions really required for these activities?  Wouldn't Conditional Access Administrator be sufficient?

I'm responsible for vetting most of our AAD permissions requests, and I can't tell you how often Microsoft articles like this have been used as the justification for someone to request Global Administrator permissions (a role that Microsoft suggests should be given

[2021-03-22 14:50] AjayKumar-MSFT commented on #72524
@TonySoderbergRMT, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-22 14:52] JamesTran-MSFT commented on #72550
@HoCGeek
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-22 14:54] Zarathrustra commented on #72494
Thanks Derek for getting back to me.

I've delayed as I have tried to recall/rebuild what I had originally done - but I am not sure which one I did initially stumble on and complain about I'm afraid.

My main gripe is that all the Azure Welcoming info is seemingly generalised, whereas I'm looking for an idiot's way in: a step by step example of going from an Excel spreadsheet to using what I belie

[2021-03-22 14:56] AjayKumar-MSFT commented on #72423
@rswetnam, Thanks for additional details.  Sorry you're still experiencing issues with this. Looks like you'd shared a few images, which are not reflecting, could you please re-share those images (kindly ensure to conceal any PII info on the screenshot). Looking forward for your response.

[2021-03-22 15:02] svdHero opened #72552 "Add documentation on `authCallback` for `acquireTokenRedirect`"
While the code sample in section ["Acquire a token with a redirect"](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-acquire-token?tabs=javascript#acquire-a-token-with-a-redirect) shows how to call `acquireTokenRedirect` in case `acquireTokenSilent` fails, it does not not explain how one can retrieve the `accessToken` after the redirect has returned. The source code co

[2021-03-22 15:19] negoe commented on #68223
@jmprieur Would know more about it.

[2021-03-22 15:22] benjamin-goldman opened #72553 "totally useless function!"
[Enter feedback here]
i guess that instead of providing a feature that cuts down on work we need this?

when can we expect the lack of parameters to be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Ex

[2021-03-22 15:30] negoe commented on #66535
I have updated the information. Here is the PR  #72555

[2021-03-22 15:30] rswetnam commented on #72423
Hope this works...

On Mon, Mar 22, 2021 at 7:56 AM AjayKumar-MSFT ***@***.***>
wrote:

--
Roger Swetnam
p.  604-408-5703
c.  778-848-3118

[2021-03-22 15:31] DCtheGeek commented on #72311
@ChrisGibson1982 The doc updates has been made.  Once it merges in, this issue will automatically be closed.  Thanks again for the question and feedback!

#label:"in-progress"

[2021-03-22 15:37] SumanthMarigowda commented on #72521
@DonLifeScore Thanks for the question! We are investigating and will update you shortly.

[2021-03-22 15:50] MarileeTurscak-MSFT commented on #72440
Closing this out since the fix is live.

[2021-03-22 15:50] #72440 closed

[2021-03-22 15:57] yicw16322 commented on #70258
@JasonWHowell Hi Jason, it was not pointed to personal account, the org name of this project was setup with wenyun's alias, now we have already fixed it.

And for reading pipeline issue, we are double checking with ADO support see if it is current design of ADO project. Will update and try to find out solution as soon as we get the answer from them.

[2021-03-22 16:00] jmprieur commented on #68223
@mmacy what do we want to do here?

[2021-03-22 16:01] KalyanChanumolu-MSFT commented on #72540
@codemaker Thank you for taking the time to report the issue.
I will repro this at my end and get back to you.

[2021-03-22 16:01] mimckitt commented on #72527
#reassign: @rishabv90

Rishab can you take a look at this one?

[2021-03-22 16:02] SatishBoddu-MSFT commented on #72373
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-03-22 16:02] #72373 closed

[2021-03-22 16:02] mimckitt commented on #71080
#reassign: @psmanhas

[2021-03-22 16:04] mneLSI opened #72556 "Documentation on the webhooks status"
In the "[Implementing a webhook on the SaaS service](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#implementing-a-webhook-on-the-saas-service)" you give two examples of **webhooks** (One with **Success** status and the other with **InProgress** status) but there is no documentation about the status. I have two questions:

- What is the differen

[2021-03-22 16:04] kenwith commented on #70628
This is a very good point. I created a PR to add the information along with additional information for developers to add apps to the gallery. https://github.com/MicrosoftDocs/azure-docs-pr/pull/151475

Thank you for taking the time to provide feedback and make the docs better. Much appreciated.

#please-close

[2021-03-22 16:04] #70628 closed

[2021-03-22 16:05] KalyanChanumolu-MSFT commented on #72525
@zebraxlj Is this issue related to documentation on GitHub?
Could you please provide a link to the page so that we can check this issue.

[2021-03-22 16:12] rswetnam commented on #72423
Hi Ajay:

Just verifying that you are getting my messages - and that we are in
similar time zones?

Regards,
Roger

On Mon, Mar 22, 2021 at 7:56 AM AjayKumar-MSFT ***@***.***>
wrote:

--
Roger Swetnam
p.  604-408-5703
c.  778-848-3118

[2021-03-22 16:16] artisticcheese opened #72557 "No ARM, powershell examples"
The only example is CLI, Terraform, REST. While I understand presence of CLI, REST but why terraform reference provided but ARM is not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a7f17c-553a-9196-b047-7ddd70c477c6
* Version Independent ID: ddbbd498-a7cf-f44a-f4fc-7f2e78f45f40
* Content: [Orchestration modes for v

[2021-03-22 16:28] zengin commented on #72400
@JamesTran-MSFT
I get redirected to the following URL:
https://account.activedirectory.windowsazure.com/securityinfo?isOobe=False&brkr=&brkrVer=&clientSku=

The response is 500 with following content (which looks like a broken JSON object):
[code]

If CID is not a secret, I can share that too.

I had 2 AAD accounts logged in and I was choosing one of them from the account picker. Now I signed out

[2021-03-22 16:33] GitHubUser1339 opened #72558 "Confusing Bicep example for Take function"
The Bicep example provided for the [Take](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string?tabs=json#take) function has parameters named 'elementsToSkip' and 'characterstoSkip' while the PowerShell example has parameters named 'elementsToTake' and 'charactersToTake'.

The parameter names of the PowerShell are the opposite of those in the Bicep examp

[2021-03-22 16:39] Oury-MSFT commented on #72531
@vhe1 We are looking into this and will get back to you shortly.

[2021-03-22 16:41] mimckitt commented on #72530
@Robertj1983 images are there:

![image](https://user-images.githubusercontent.com/32313503/112025726-b1860080-8af2-11eb-96be-76e68b873b60.png)

That said, seems they are hard to find. I had to search for Windows Client. I will update the doc to clearly reflect that.

As per the checkbox for multitenant hosting rights. For now, you can select the check box to move on. We are in the process of remo

[2021-03-22 16:47] JamesTran-MSFT commented on #72379
@Satya-Panigrahy-Volvo
I just wanted to check in and see if you were able to resolve this issue? If you have any other questions, please let me know. Otherwise, I'll go ahead and close out this issue at the end of the day pending a response from your end.

Thank you for your time and patience throughout this issue.

[2021-03-22 16:48] b-juche commented on #72529
@muzzamilT - Thanks much for letting us know.  We'll update the screenshot accordingly.

[2021-03-22 16:51] alex-frankel commented on #72541
Unfortunately, deploymentScripts requires a new ACI instance, so if you want to keep the resource lock on the resource group there is no way for deploymentScripts to create what it needs to execute. You can use an existing storage account, but that will not solve your issue entirely. When the deploymentScript finishes, it cleans up the underlying resources that it created. If you use an existing s

[2021-03-22 17:00] BrodaNoel commented on #34167
Totally agree. windowsazure.com seem to be phishing.

<img width="701" alt="Screen Shot 2021-03-22 at 13 59 29" src="https://user-images.githubusercontent.com/1837969/112028355-d68c6a80-8b16-11eb-96b4-ec8a47d22ab3.png">

It even have a poor frontend design, which is even more weird (come on! it's not `don't`. It's `Don't`!).

And if you open `windowsazure.com`, it redirects to `microsoft.com`. Eve

[2021-03-22 17:15] SumeshP opened #72560 "Get Vpnclient Connection Health returns null with REST API but works with PowerShell"
Querying API based on documentation below. The API returns null however the equivalent powershell command returns data:
Get-AzVirtualNetworkGatewayVpnClientConnectionHealth

POST https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getVpnClientConnectionHealth?api-version=2020-1

[2021-03-22 17:16] micahl opened #72561 "Typo 'congig.toml' in the section "Special case: Update from 1.0 or 1.1 to 1.2""
![image](https://user-images.githubusercontent.com/1009123/112030566-a2558180-8af7-11eb-93aa-56022d5d9e71.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5479e748-bf43-eb2d-6110-98bff73c696e
* Version Independent ID: 91da9985-da00-ef20-3e3b-01b5df63baa9
* Content: [Update IoT Edge version on devices - Azure IoT Edg

[2021-03-22 17:21] MarileeTurscak-MSFT commented on #72381
I made a pull request to add:

Per discussion with @brsteel, it is only supported to assign a built-in role directly to an Azure AD Security Group. Assigning a custom role would require assigning the role to each member of the group individually (either by using a foreach loop with Azure AD Powershell or through manual assignment).

https://github.com/MicrosoftDocs/azure-docs-pr/pull/151490

@roly

[2021-03-22 17:21] #72381 closed

[2021-03-22 17:23] Oury-MSFT commented on #72533
@Briwalkr We are actively looking into this issue and will get back.

[2021-03-22 17:27] chanuengg commented on #71150
@mikemowgli do you still see this issue? This could be a transient issue. As long as you have the following permissions, you should be able to connect ADF to Purview.

Data Factory - contributor
Purview - purview data curator + purview data source admin

[2021-03-22 17:31] SwathiDhanwada-MSFT commented on #72558
@GitHubUser1339 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-22 17:31] MartinJaffer-MSFT commented on #72536
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-03-22 17:33] MartinJaffer-MSFT commented on #72536
Thank you for your feedback, @jtpower  . This has been assigned to the content owner, @JasonWHowell , and will be updated as appropriate.

[2021-03-22 17:33] JamesTran-MSFT commented on #72400
@zengin
Thank you for the quick response!

- Are you able to try this within a private browsing session?
- You can also try navigating to - **aka.ms/mysignins** to see if that'll take you to the correct webpage.

![mySignIn](https://user-images.githubusercontent.com/36619112/112032824-08db9f00-8afa-11eb-81ab-e3387601306d.gif)

If you have any other questions, please let me know.
Thank you for your

[2021-03-22 17:34] JamesTran-MSFT commented on #72472
@tech1982
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-22 17:38] j2020v commented on #36458
app plan kind: Linux
tier: Dynamic
os_type: linux
version: ~2

I'm getting this error when doing a swap slot

[code]

Looking in azure for diagnosis for the failure:
![image](https://user-images.githubusercontent.com/44373898/112032921-cb483780-8b34-11eb-8611-3db153b74ce2.png)

Though according to the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings):
WEBSITE_CO

[2021-03-22 17:43] zengin commented on #72400
aka.ms link works in both regular and private sessions. The link from the documentation continues to fail in both.

[2021-03-22 17:55] derisen commented on #71416
no further action to take at the moment, #please-close

[2021-03-22 17:55] #71416 closed

[2021-03-22 18:01] Karishma-Tiwari-MSFT commented on #72542
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-22 18:02] Karishma-Tiwari-MSFT commented on #72546
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-22 18:06] Robertj1983 commented on #72530
@mimckitt thank you! Didn't spot them, they aren't in the first few dozen entries if you search for "Windows", as you mentioned they only show when searching for "Windows Client".

[2021-03-22 18:09] julieMSFT commented on #69337
#assign:luisquintanilla

[2021-03-22 18:10] julieMSFT commented on #69736
#assign:julieMSFT

[2021-03-22 18:10] Karishma-Tiwari-MSFT commented on #72547
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-22 18:10] julieMSFT commented on #70011
#assign:julieMSFT

[2021-03-22 18:11] julieMSFT commented on #70533
#assign:julieMSFT

[2021-03-22 18:11] julieMSFT commented on #70727
#assign:julieMSFT

[2021-03-22 18:11] qm13 commented on #71735
There is no support for zoom of RGB or depth cameras in the Azure Kinect DK.

[2021-03-22 18:13] julieMSFT commented on #72012
#assign:luisquintanilla

[2021-03-22 18:13] VikasPullagura-MSFT commented on #70985
@DavidNorena Do you have any further comments on the above response.

[2021-03-22 18:14] julieMSFT commented on #72077
#assign:luisquintanilla

[2021-03-22 18:15] mikebudzynski commented on #72426
1. You can inspect the API version used by Azure portal in the developer tools console.
2. https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-01-01-preview/apis/createorupdate
3. API creation experience in the Azure portal will be migrated to the new API version in April.
4. API creation experience in the VS Code extension will be migrated to the new API version in April.

Please, note t

[2021-03-22 18:16] julieMSFT commented on #72464
#assign:julieMSFT

[2021-03-22 18:20] yaronyg commented on #72237
This should be @viseshag . Thanks!

[2021-03-22 18:20] JamesTran-MSFT commented on #72511
@ricktam1469
Thank you for your time and patience throughout this issue!

For signing in with a Non-Microsoft account on a multi-tenant app, I tested this out using my Yahoo email, and was able to log-in once I invited my user to my AzureAD tenant.

![nonMSAccountLogin](https://user-images.githubusercontent.com/36619112/112038698-6bd03480-8b00-11eb-98c8-060e472f79e5.gif)

If you have any other que

[2021-03-22 18:20] KranthiPakala-MSFT commented on #53751
@med-bouras As the above GitHub issue was old and closed. I would recommend you to please open a new thread [Microsoft Q&A forum](https://docs.microsoft.com/answers/index.html) with relevant information, where we have out engineers and other community members who would be happy to assist. Forums are better suited platform for such queries.

This channel is reserved for ‘Azure docs’ feedback - for

[2021-03-22 18:21] bwren commented on #54431
Sorry, cleaning up some issues that got dropped. In the context here, At Scale simply means that the workbook shows data for multiple machines as opposed to a single machine. I agree that At Scale is a little confusing though. I'm updating it now.

#please-close

[2021-03-22 18:21] #54431 closed

[2021-03-22 18:23] jovanpop-msft commented on #69790
@NikaKinska

[2021-03-22 18:24] JamesTran-MSFT commented on #72400
@zengin
Thank you for the quick response and I'm glad that the **aka.ms/mysignins** link worked for you. Since the documentation link is still failing on your end, I'll assign this to the author to investigate and update the links as appropriate.

Thank you for your time and patience throughout this issue.

[2021-03-22 18:34] JasonWHowell commented on #72536
@jtpower I tried it out and set the targetInstanceCount to two and the deployment succeeded in my subscription.

Did you customize the Template in another way?
I wonder if there is a quota issue or something else if your subscription hasn't had that many VMs deployed at once.

If you work with Microsoft support they could better diagnose the root cause, or look in the storage files for detailed er

[2021-03-22 18:34] ChaitanyaNaykodi-MSFT commented on #72548
Hello @arashcomsense, Thank you for reaching out. I just wanted to confirm if you have gone through the [documentation here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-output?tabs=csharp#send-to-a-group)  which describes more about sending a message to a group. You can also go through this sample (https://github.com/aspnet/AzureSignalR-samples/tree/ma

[2021-03-22 18:35] Rainier-MSFT commented on #14404
Folks, reading up looks like you're mixing up an apostrophe ` with a single quote '.  Azure AD doesn't appear to support an apostrophe in UPN, and you can validate this by trying to create a cloud only user or trying to sync a hybrid user with ` in the name. IDFix will also flag a character error too. @MicrosoftGuyJFlo @MohitGargMSFT

[2021-03-22 18:47] jsandersrocks commented on #72260
This is an ARR customer so I will file an ICM to have the product group comment and update ASAP since there has been no traction on this yet.

[2021-03-22 18:47] tigormanoak opened #72566 "Add step to determine proper OS group for database role SYSBACKUP"
In the instructions for setting up Azure VM Backup, under the sub-section entitled "Prepare the environment for an application-consistent backup", there must be a prior step added before the current step 1.  This new first step should read as follows...

**1. Determine the name of the OS group representing the Oracle SYSBACKUP role...**

First, set the Linux environment variables ORACLE_HOME, and

[2021-03-22 18:49] tloveland1 opened #72567 "Link broken to "Deploy the RD Gateway role""
In the "Next Steps" section of the page, the link in this sentence is broken:

To learn how to manage the Remote Desktop Services side of the KDC proxy and assign the RD Gateway role, see **Deploy the RD Gateway role.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ebbcf4-1385-c608-04ab-568517aeda6b
* Version Indepe

[2021-03-22 18:55] lokijota opened #72568 "Typo in section title"
It says "Getting started with Azure Synpase Link - Samples"

instead of

"Getting started with Azure Synapse Link - Samples"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccfb5cf-0a7d-220c-3f68-8ed5ea60bfa4
* Version Independent ID: 080e66e3-d3bd-5915-1137-cf8c48671ecb
* Content: [Configure and use Azure Synapse Link

[2021-03-22 18:57] ibodrin-rogers commented on #58027
Is there any resolution to this issue? We are getting the same error when querying the ADLS Gen2 data via Databricks ODBC.

[2021-03-22 18:57] kenwith commented on #70896
@RayGHeld - thank you for taking the time to provide feedback and make the docs better. I really appreciate it.

In the API reference you found it looks like it is a POST event and expects a JSON payload. I was able to run it in Graph Explorer and get results. However, I am not positive on the formatting in the SAML token.

Someone also pointed me to https://docs.microsoft.com/en-us/graph/api/user

[2021-03-22 19:01] AjayKumar-MSFT commented on #72423
@rswetnam,  Ack! Thanks for the follow-up.

Sorry! I'm still not seeing the images, if you're replying and 'attach'ing the images directly from the webmail/web-client - I would suggest you to land on this GitHub thread and then attach files ( by dragging and dropping Or selecting or pasting them).

In case the binding was successful, you can navigate to the  browse to https://<your.custom.domain>

[2021-03-22 19:02] dmorris6-hub commented on #72110
@BryanTrach-MSFT Thanks for the info, let me know whenever you have an update!

[2021-03-22 19:03] ggailey777 commented on #72449
Thanks Naren, moved to internal tracking ([1828541](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1828541)).
#please-close

[2021-03-22 19:03] #72449 closed

[2021-03-22 19:04] cherylmc commented on #72471
Thanks! Discussing with the product team.

[2021-03-22 19:05] arashcomsense commented on #72548
@ChaitanyaNaykodi-MSFT My .net core 3.1 function app works and it's consistent with that document. There are a bunch of error messages generated in .NET 5.0. Have you tried those documents and samples in .NET 5.0?

[2021-03-22 19:08] r3mattia commented on #23558
@msfcolombo it may be that this works for certificates without the `basicConstraint` set to `CA:TRUE`.

It seemed to work when I used `LibreSSL` to import the certificate, as I noticed that `LibreSSL` actually did not support the creation of the `CA:TRUE` `basicConstraint`. As soon as I updated to `OpenSSL` version 1.1.1j, and I ran the following commands:

[code]

Then tried to upload this `compl

[2021-03-22 19:09] SadiqhAhmed-MSFT commented on #72230
@t-leblanc As an easy approach you can subscribe to the updates on https://azure.microsoft.com/en-us/updates/?product=site-recovery. You will receive an alert whenever a new agent is available from ASR.

Hope this helps!

[2021-03-22 19:12] DerekHerman-MSFT commented on #72510
Thanks for the URL! In the future you can open issues from the URL in the feedback section at the bottom of the article. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-22 19:12] James-Hamil-MSFT commented on #70979
Hi @theheatDK , so sorry for the delay in response. The product group said this should work for you:

- Get-MgAgreement on this module: [PowerShell Gallery | Microsoft.Graph.Identity.Governance 1.4.2](https://www.powershellgallery.com/packages/Microsoft.Graph.Identity.governance/1.4.2)
- Here is the rest API agreement resource type -[ Microsoft Graph beta | Microsoft Docs](https://docs.microsoft.c

[2021-03-22 19:12] #70979 closed

[2021-03-22 19:19] Rodrigossz commented on #72568
Thanks for the warning. We have already adjusted and will be reflected in the documentation in a few hours. Thank you so much for your help!

[2021-03-22 19:23] eddievaltix opened #72570 "remove reference for "New-AzADDomainServiceReplicaSetObject""
New-AzADDomainServiceReplicaSetObject is no longer a valid command.. change docs to reflect the correct command New-AzADDomainServiceReplicaSet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c701f84-d6a8-b5aa-dad7-4c38b7749670
* Version Independent ID: 207343c0-a46d-d277-c900-879d1065f25e
* Content: [Enable Azure DS D

[2021-03-22 19:28] qm13 commented on #66050
We have added a note to the synchronization page covering removing the cover to access the sync in and out jacks

https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync#plan-your-multi-device-configuration

[2021-03-22 19:31] KranthiPakala-MSFT commented on #72328
Hi @mssaperla , Could you please review the above feedback from the user.  - Thanks

[2021-03-22 19:33] James-Hamil-MSFT commented on #72185
Hi @ricktam1469 , can you please post the document associated with this issue? By ADT, are you referring to Active Directory tenant or Azure Digital Twins or something else?

Best,
James

[2021-03-22 19:36] tigormanoak opened #72571 "Update documentation to backup multiple Oracle instances"
In the original release of app-consistent Oracle backups with Azure VM Backup, only one database instance per VM was supported.

Now, multiple Oracle database instances per VM are supported, so the documentation should be updated to reflect this.

There are multiple sections of this doc page which must be changed...

**First**, under the page sub-section entitled "Prepare the environment for an ap

[2021-03-22 19:37] brentminder commented on #72510
Ok. I thought i did click on it from the feedback link of the article.

Thanks.

On Mon, Mar 22, 2021 at 3:12 PM DerekHerman-MSFT ***@***.***>
wrote:

[2021-03-22 19:39] SnehaGunda commented on #72514
@mpchen which type of account are you using? we have a note in the doc with the following, maybe your account falls under one of those categories:

_Advanced Threat Protection for Azure Cosmos DB is currently available only for the SQL API.
Advanced Threat Protection for Azure Cosmos DB is currently not available in Azure Government and sovereign cloud regions._

[2021-03-22 19:43] NavtejSaini-MSFT commented on #72568
Thank you everyone!! We will be closing this issue.

[2021-03-22 19:43] #72568 closed

[2021-03-22 19:44] NavtejSaini-MSFT commented on #69790
Thank you @jovanpop-msft We have assigned this issue to @NikaKinska

[2021-03-22 20:11] mattneerincx opened #72573 "Please add clarification details to this table with respect to log max size"
[Enter feedback here]
The tables on this page seem to indicate (falsely) that GP_S_Gen5_1 for example gets Max log size (GB) 154 GB.   There needs to be some clarification here that Max log size (GB) is a function of Max data size (GB) (you get 30% of Max data size (GB)) and is NOT a function of cores selected.   We explain this here https://docs.microsoft.com/en-us/azure/azure-sql/database/single

[2021-03-22 20:13] HeidiSteen commented on #71591
#please-close

[2021-03-22 20:13] #71591 closed

[2021-03-22 20:29] gasgesgos opened #72574 "The video is very loud and automatically plays."
The video on this page plays automatically. Please do not do this, it's a VERY loud video compared to others I already had playing. It's a poor practice to automatically play loud videos on page load, especially if a person is navigating to the page specifically for the non-video content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-22 20:33] MarileeTurscak-MSFT commented on #72570
@eddievaltix
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-22 20:33] RyanHill-MSFT commented on #72260
@jsandersrocks, I'm checking with @ccompy, but please feel free to send the link the IcM direclty.

[2021-03-22 20:34] cherylmc commented on #72471
I've updated the article to add the keystrokes. It will publish this week. Thanks for letting us know! #please-close.

[2021-03-22 20:34] #72471 closed

[2021-03-22 20:35] MarileeTurscak-MSFT commented on #72570
Hi @eddievaltix , do you have a citation for when this was replaced?

[2021-03-22 20:36] SaiKishor-MSFT commented on #72549
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-22 20:37] SnehaGunda commented on #72487
@987a73ae7992294d thank you for your suggestion, I submitted a PR to update the doc. The changes will be live later today. We will now close this issue.

#please-close

[2021-03-22 20:37] #72487 closed

[2021-03-22 20:43] ChaitanyaNaykodi-MSFT commented on #72548
Hello @arashcomsense, agreed those examples use .NET Core 3.1. I am further assigning this issue to the Doc author to add any additional examples for .NET 5.0. Thank you!

[2021-03-22 20:52] DerekHerman-MSFT commented on #72494
@Zarathrustra
If you let me know which URL you feel this information should be added to I can get your issue over to the proper doc author to look into your feedback.
I'd also recommend posting your questions in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation and our community team should be able to help.

[2021-03-22 20:53] Karishma-Tiwari-MSFT commented on #72567
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-03-22 20:53] #72567 closed

[2021-03-22 20:58] crisansou opened #72576 "How to set the environment for AutoMLConfig?"
Hello,

Is it possible to set an environment for AutoMLConfig? If possible, can you send an example, please?

I'm experiencing some version issues using compute instance (STANDARD_DS3_V2). I already tried to use **conda env** but the errors continue.

I looked in some forums and in the past there was the **run_configuration** parameter, but in the documentation it does not exist anymore.

**Docume

[2021-03-22 21:03] SnehaGunda commented on #69056
@phatcher apologies for the long delay, agree that the current version is old. Issues on this repo are intended for docs only, when you say project repo, is it this? https://github.com/Azure/azure-documentdb-datamigrationtool

I can't find your issue but I see there is another PR for TLS 1.2, it's not merged, can you please continue your discussion on that thread. @kirankumarkolli already responde

[2021-03-22 21:06] DCtheGeek commented on #72493
#reassign:DCtheGeek

[2021-03-22 21:06] DCtheGeek commented on #72493
#label:"assigned-to-author"
#remove-label:"cxp"

[2021-03-22 21:07] tigormanoak opened #72577 "Provide instructions for database recovery to the point-in-time of failure"
Please add new items to the list of steps entitled "**Prepare the environment for an application-consistent backup**", which presently completes with the step entitled "_Create a stored procedure to log backup messages to the database alert log_", as follows...

**5. Create an Azure File share for the Oracle archived redo log files**

In order to achieve recovery to the point-in-time of failure, i

[2021-03-22 21:10] DCtheGeek commented on #72493
@GitHubUser1339 Thanks for the question.  The `current()` template function gives access to the value and properties of the currently evaluated array instance and is intended for use in combination with other template functions as part of a **value** condition.  Using `current()` as the only template function in a **value** condition is roughly equivalent to using **field** for the given array pro

[2021-03-22 21:10] #72493 closed

[2021-03-22 21:12] #72311 closed

[2021-03-22 21:17] HeidiSteen commented on #72524
@TonySoderbergRMT  The correct URL is stamp2.ext.search.windows.net (typo in the top-level domain).  I fixed the docs and the update should be live within the hour.  Thank you for filing this issue!

[2021-03-22 21:25] TravisCragg-MSFT commented on #72553
@benjamin-goldman Thanks for the feedback! If you would like us to add something with the existing commands, your best place to leave that feedback is on [ACI's feedback.azure.com page.](https://feedback.azure.com/forums/602224-azure-container-instances?)

[Here is an existing piece of feedback that looks like it is what you are referring to](https://feedback.azure.com/forums/602224-azure-containe

[2021-03-22 21:25] #72553 closed

[2021-03-22 21:31] pochiraju commented on #70986
In our SQL MI, online migration tutorial with DMS, https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-managed-instance-online, there is a not below.  Will this address your concern?

"When you migrate a database that's protected by Transparent Data Encryption to a managed instance by using online migration, the corresponding certificate from the on-premises or Azure VM SQL Server insta

[2021-03-22 21:33] Karishma-Tiwari-MSFT commented on #72557
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-22 21:34] TravisCragg-MSFT commented on #72566
@tigormanoak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-22 21:35] SnehaGunda commented on #72392
@IanMercer Agree with your feedback, I added a note to the intro doc with a link to the limitations page. The above PR has these changes and it will be live later today. The note has this content:

Azure Cosmos DB graph engine closely follows Apache TinkerPop specification. However, there are some differences in the implementation details that are specific for Azure Cosmos DB. Some features suppor

[2021-03-22 21:35] TravisCragg-MSFT commented on #72577
@tigormanoak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-22 21:36] TravisCragg-MSFT commented on #72571
@tigormanoak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-22 21:42] tigormanoak opened #72579 "Separate recover instructions for Azure VM Backup"
The instructions to recover a database restored from an app-consistent Azure VM backup is different than the instructions given on this page for a backup made with RMAN.  There should be a separate section which is similar to the following...

**Recovering database(s) restored from an Azure VM backup**

Following a VM restore, please connect to SQL*Plus with SYSBACKUP privileges and execute the fo

[2021-03-22 21:45] Oury-MSFT commented on #72392
Thank you @SnehaGunda for making the change.

[2021-03-22 21:45] #72392 closed

[2021-03-22 21:50] tigormanoak opened #72580 "Add references to vendor (Oracle) documentation"
At the bottom of the page, it might be useful to provide references to the appropriate sections in the Oracle documentation for some of the mechanisms discussed on the page.

**More information about the Oracle commands and concepts at...**

- Performing Oracle user-managed backups of the entire database [HERE](https://docs.oracle.com/en/database/oracle/oracle-database/19/bradv/user-managed-databa

[2021-03-22 21:53] Mahesh-MSFT opened #72581 "Rollout in other regions?"
Hi,

Is there any high level roadmap available for rollout in additional regions for bare metal infrastructure?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a00f8f-aa3d-18ef-88ff-2ef4bc3ce8a2
* Version Independent ID: 83e4b536-e0ec-4041-ca9c-0255fd64722b
* Content: [Overview of BareMetal Infrastructure Pre

[2021-03-22 21:53] mumian commented on #72574
@gasgesgos - thank you for your comment.  I will remove the video until I figure out a better solution.

#please-close

[2021-03-22 21:54] #72574 closed

[2021-03-22 21:54] RonnieQuan opened #72582 "When Send Audit Log to Storage account, Managed Identity Needs Blob Data Contributor Permission"
When Send Audit Log to Storage account, SQL serverManaged Identity Needs Blob Data Contributor Permission

Is this recent change?
Can we use the user permission, in other words whoever run the audit log enablement, should have the permission on the storage account?
Can I choose between user and Managed identity?

https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=a

[2021-03-22 21:55] MarileeTurscak-MSFT commented on #72552
@svdHero
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-22 21:58] Ajayan1008 commented on #72581
Hi Mahesh,
I just started with this project, so I'll check and get back to you.
Thanks,
Ajayan

[2021-03-22 21:58] SatishBoddu-MSFT commented on #72561
@micahl Thanks for the Feedback! This will be fixed soon.

[2021-03-22 22:02] GiftA-MSFT commented on #72576
@crisansou we'll review your feedback and get back to you soon. Thanks.

[2021-03-22 22:03] eddievaltix commented on #72570
just noticed in the powershell cmdlet in Azure Cloud Shell that the New-AzADDomainServiceReplicaSetObject cmd no longer exists and I found New-AzADDomainServiceReplicaSet which is likely the correct command so have no citation on when this command was changed

I found no reference to this command in any documentation.  I did however find this:
https://docs.microsoft.com/en-us/powershell/module/az.

[2021-03-22 22:05] rswetnam commented on #72423
I'll try uploading on Github - are you still at work?

r.

On Mon, Mar 22, 2021 at 12:01 PM AjayKumar-MSFT ***@***.***>
wrote:

--
Roger Swetnam
p.  604-408-5703
c.  778-848-3118

[2021-03-22 22:11] rswetnam commented on #72423
![azure1](https://user-images.githubusercontent.com/2905367/112064778-c2e60180-8b20-11eb-928b-6f2e6c94ff94.jpg)
![azure2](https://user-images.githubusercontent.com/2905367/112064781-c37e9800-8b20-11eb-9fd8-2e139eed7ee9.jpg)
![azure-3](https://user-images.githubusercontent.com/2905367/112064783-c37e9800-8b20-11eb-9c39-824d397fc014.jpg)
 Hope this works - didn't realize the conversation was going on

[2021-03-22 22:14] rswetnam commented on #72423
![azure-3](https://user-images.githubusercontent.com/2905367/112065074-469fee00-8b21-11eb-8f75-745074ccf64c.jpg)
![azure1](https://user-images.githubusercontent.com/2905367/112065079-469fee00-8b21-11eb-9a26-0505d880e134.jpg)
![azure2](https://user-images.githubusercontent.com/2905367/112065081-47388480-8b21-11eb-9dda-942fd148addb.jpg)

[2021-03-22 22:19] rswetnam commented on #72423
![azure2](https://user-images.githubusercontent.com/2905367/112065498-f37a6b00-8b21-11eb-8202-a4116004a50c.jpg)
![azure-3](https://user-images.githubusercontent.com/2905367/112065500-f37a6b00-8b21-11eb-9755-ef03cb1dfb38.jpg)
![azure1](https://user-images.githubusercontent.com/2905367/112065501-f4130180-8b21-11eb-954b-848877c6b381.jpg)

[2021-03-22 22:20] rswetnam commented on #72423
![azure-3](https://user-images.githubusercontent.com/2905367/112065582-1c9afb80-8b22-11eb-9394-d47f898bca2d.jpg)

[2021-03-22 22:20] mimckitt commented on #72530
Submitted a fix. Should be live around 4PM today :)

Thanks for pointing this out! I recently updated the doc to make it clear which images to use and this was an oversight on my part.

#please-close

[2021-03-22 22:20] #72530 closed

[2021-03-22 22:26] opticyclic opened #72584 "The Screenshots Are For The Classic Deployment Center"
The screenshots on this page are for the old Deployment Center.

I should point out that the functionality described in this page doesn't appear to exist in the new Deployment Center though, which is strange.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1

[2021-03-22 22:26] Ajayan1008 commented on #72581
Hi Mahesh,
Have you seen this article: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-available-skus?
Approximately end of June, these will be converted to Rev 4.2
SAP HANA on Azure (Large Instances) service based on Revision 4 stamps is available in several configurations in the Azure regions of:
West US 2
East US

Germany West Central is the new location in our roadma

[2021-03-22 22:32] opticyclic opened #72585 "Prepend Is Not A Word"
The work you are looking for here is _Prefix_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-contin

[2021-03-22 22:33] opticyclic opened #72587 "How Do You Deploy A Java Function?"
The page doesn't document how to deploy a Java function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Independent ID: 86725233-d4a5-a796-cd6e-c05c3675952b
* Content: [Continuously update function app code using Azure DevOps](https://docs.microsoft.com/en-us/azure/azure-f

[2021-03-22 22:44] NavtejSaini-MSFT commented on #67328
@martinekuan Please help here.

[2021-03-22 23:06] #72561 closed

[2021-03-22 23:09] michelamarie opened #72590 "Instructions for adding secondary IP addresses in Linux is out-dated"
Hello. The following passage on this document is not correct:

The sentence in bold should now read, "For a Linux virtual machine, you **must** only manually set the secondary IP addresses." Previously, setting the primary IP address in the OS (Linux NetworkManager) was, in fact, needed for networking to function properly when multiple IP configurations were set for a Linux guest in Azure. As of s

[2021-03-22 23:27] #72379 closed

[2021-03-22 23:28] JamesTran-MSFT commented on #72386
@AndrejsSo
I just wanted to check in and see if you had a chance to review my previous comment?

[2021-03-22 23:28] JamesTran-MSFT commented on #72468
@UncleRic
I just wanted to check in and see if you had a chance to review my previous comment?

[2021-03-22 23:32] PingPongSet opened #72592 "URL Request timeout error for the webfrontend example running Azure Kubernetes Service"
I followed the example and got to the end without error,

but got a timeout error with the external IP address like below,

http://20.62.159.20/

Any idea?

[https://i.stack.imgur.com/gP8AQ.jpg](https://i.stack.imgur.com/gP8AQ.jpg)

[https://i.stack.imgur.com/em473.jpg](https://i.stack.imgur.com/em473.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-03-22 23:36] Oury-MSFT commented on #72573
@mattneerincx We are looking into this issue and will get back to you.

[2021-03-22 23:40] michelamarie opened #72595 "Errors in steps for changing an address assigned to an IP configuration"
Hello, there appear to be errors in the following passage on this page:

The second sentence on the first step does not appear to make sense -- "Once you have, change the assignment of the IP address back to DHCP within the operating system and restart the virtual machine." _Why change the assignment of the IP address back to DHCP after you have just confirmed that it is already receiving an IP ad

[2021-03-22 23:40] wilbaker opened #72596 "Managed Identities in Logic Apps Documentation is missing that "parameterValueType": "Alternative" is required for connections in ARM templates"
To configure a logic app connection to use a managed identity (e.g. when connecting to Azure Automation) via ARM template it's required that `"parameterValueType": "Alternative"` be added to the `properties` of the `Microsoft.Web/connections` resource.

*Example*

[code]
Without `"parameterValueType": "Alternative"` the ARM deployment will not configure the connection to use managed identity for a

[2021-03-22 23:47] ricktam1469 commented on #72185
Yes ADT means Azure Digital Twin. I am unable to find any document on this. How to achieve multi-tenancy in Azure digital twin is what I want to know and if there is any documentation available for this?

[2021-03-22 23:52] paulfinol opened #72597 "Dashbaord lose link to resource"
Maybe you should point out the resource ID changes thus the dashboard link to those services become useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51002d4a-d8de-53d1-2e78-cb0440f5f23e
* Version Independent ID: 40f69d9c-2cb7-87e1-291d-525882347925
* Content: [Move resources to a new subscription or resource grou

[2021-03-23 00:03] dlepow commented on #72213
@alexeyshishkin01 - Thanks for the question. The scheduling feature allows you to run any ACR task with a timer trigger. The task could run a command (as shown in the article), build an image, push an image, etc.

Example to build and push an image using timer trigger (only) from task YAML file in Azure-Samples repo:

[code]
One detail here is to disable the source code commit trigger, which is en

[2021-03-23 00:07] SaiKishor-MSFT commented on #72212
@Herman5006 Any update?

[2021-03-23 00:08] Oury-MSFT commented on #72533
@Briwalkr thank you for your feedback. I did a repro of the issue and If I use the server name without .database.windows.net it worked.
Script:  Get-AzSqlServerActiveDirectoryAdministrator -ResourceGroupName  "....-rg" -ServerName "....sqlserverpool". See image below
![image](https://user-images.githubusercontent.com/78940872/112072838-eebcb380-8b2f-11eb-9a5e-7efe6b7f5e34.png)

[2021-03-23 00:16] opticyclic opened #72598 "This Doesn't Actually Show Any Logs"
This page is mostly useless.
It doesn't actually show any of your function logs.

As you can see from this stackoverflow question, the only reliable way to get the logs is to go to the Kudu DebugConsole and browse the files there.

https://stackoverflow.com/questions/63117686/view-logging-output-from-azure-function

Maybe leave all these complicated ways on the page, but at least mention that ther

[2021-03-23 01:01] PingPongSet commented on #72136
@mlearned @zr-msft @VikasPullagura-MSFT

Any update on this please?

[2021-03-23 01:12] arcturusInk opened #72601 "'sql-file' not working as the variable to pass in Dacpac's path"
Hello,

I am a Data Engineer at Teach for America. We followed the steps in this tutorial, but continually ran into this following error:
![image](https://user-images.githubusercontent.com/9923181/112076931-bfb73980-8b51-11eb-8d63-1d61788615c9.png)
Using the code in the tutorial, it seems like it was unable to locate the dacpac file even though it was located in the root level of the repository as

[2021-03-23 01:14] JazminRMT opened #72602 "Wrong commands in the Official Documentation"
The issue was encountered by CSS engineer Jessie Astorga jeastorga@microsoft.com, while delivering training for new hires, they realized that all the commands are wrong on the official documentation due to the updates of the AzureAD module.

On the documentation the commands suggested to use are:
![image](https://user-images.githubusercontent.com/61716458/112077324-e1a8c000-8b41-11eb-8342-0abc602a

[2021-03-23 01:19] KrishnaG-MSFT commented on #72574
@mumian Thanks for the quick response. :+1:

[2021-03-23 01:22] ChaitanyaNaykodi-MSFT commented on #72587
Hello @opticyclic,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-23 01:22] ChaitanyaNaykodi-MSFT commented on #72584
Hello @opticyclic,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-23 01:24] ChaitanyaNaykodi-MSFT commented on #72585
Hello @opticyclic,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-23 01:26] ChaitanyaNaykodi-MSFT commented on #72596
Hello @wilbaker,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-23 01:47] rolandnyamo opened #72604 "SSL Policy > (TLS) Client Authentication (Preview) concept missing"
Hello.

There's a preview feature that enables TLS Client Authentication configuration under `SSL Settings > Client Authentication`. However, it doesn't seem like current documentation reflects this. Could you please either point to or add the appropriate page so there won't be any misconfiguration for folks that are eager to test this new feature?

For reference, (I think) this is the `az cli` do

[2021-03-23 02:03] tjunnu opened #72605 "Translate content from file"
Hi @RohitMungi-MSFT , I am Java developer. I have integrated Microsoft translator api  to translate from one language to another language. What I understood with this api is, we need to pass text(which text we want to translate) to this api. But my requirement got changed I need to translate email content(this content is from one external file) in my application. Could you please tell me, can we a

[2021-03-23 02:09] ToruMakabe opened #72606 "Need explanation about container lifecycle for graceful shutdown"
Is there any doc/reference related to container lifecycle on Azure App Service/Functions? I am going to use Functions with docker container for production, so I have to implement graceful shutdown logic. But I cannot find any information about it.

Especially, I would like to understand the behavior when functions stop/restart by Azure portal/API. Does Functions control plane invoke docker stop/st

[2021-03-23 02:23] zebraxlj commented on #72525
Hey @KalyanChanumolu-MSFT , I believe this is an issue with Azure host. We are experiencing unstable connection these days.

[2021-03-23 02:31] andersiro commented on #61568
I am getting this error when using the "try-it" widget here: [Scheduled Query Rules - Create Or Update](https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules/createorupdate#code-try-0)

`
{
  "error": {
    "code": "LinkedAuthorizationFailed",
    "message": "The client has permission to perform action 'microsoft.operationalinsights/workspaces/read' on scope '/subscriptions/<redact

[2021-03-23 02:39] yucwan commented on #67218
Good suggestion. we are working on it and here are some instructions if you need.

## Prerequisites

* Follow the [Spring Data JPA tutorial](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-data-jpa-with-azure-sql-server) to provision an Azure SQL Database and get it work with a Java app locally
* Follow the [Azure Spring Cloud system-assigned managed identity tuto

[2021-03-23 02:47] b-juche commented on #72529
PR has been merged for the screenshot update.

#please-close

[2021-03-23 02:47] #72529 closed

[2021-03-23 02:55] KalyanChanumolu-MSFT commented on #72523
@ciph3rwoman Thank you for the additional context.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-23 03:01] ciph3rwoman commented on #72523
Thanks for your response. I am still new hence why I am lost in general.  👯‍♀️

Also, I think the docs were written quite awhile ago and Azure has done an update or I am completely blind.

Please note I am also sending this to clients to follow through the demo. So if we can update that! It would be much appreciated 👍🏻

[2021-03-23 03:26] MayankBargali-MSFT commented on #72606
@ToruMakabe Thank you for your feedback! We will review and update as appropriate.

[2021-03-23 03:35] MayankBargali-MSFT commented on #72298
@RodrigoGroener The document will be updated to clarify more on controls not applicable to API Management, or for which the responsibility is Microsoft's, have been excluded. The changes will be reflected in future builds. I will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-23 03:35] #72298 closed

[2021-03-23 03:39] femsulu commented on #72597
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-03-23 03:42] femsulu commented on #72556
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-03-23 03:43] SubhashVasarapu-MSFT commented on #72604
@rolandnyamo, Thanks for reaching out. We will investigate and update this thread.

[2021-03-23 03:44] elpablete commented on #69538
@psmanhas  I would like to create a new aks cluster with my (previuosly create, and with Network Contributor role assigned) managed Identity. But:
1. Can't find a usage example.
2. Can't find anything more than the "--assign-identity" optional parameter in the az cli docs
3. The portal steps do not appear to support that option (only Service principal or System-assigned managed identity)

I do not

[2021-03-23 03:54] SwathiDhanwada-MSFT commented on #72310
@jonbprogramming As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-23 03:54] #72310 closed

[2021-03-23 03:56] ggailey777 commented on #72168
Thanks @allanlw for reporting this.

@brettsam do we not still support host.json settings to control logging in .NET isolated, or is there a bug somewhere?

[2021-03-23 04:10] AnuragSharma-MSFT commented on #72601
@arcturusInk Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-23 04:11] AnuragSharma-MSFT commented on #72436
@mcurko Awaiting your response on this.

[2021-03-23 04:25] #72350 closed

[2021-03-23 04:31] VikasPullagura-MSFT commented on #72580
@cro27
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-23 04:33] VikasPullagura-MSFT commented on #72580
@cro27
Can you please check and add your comments on this doc update request as applicable.

[2021-03-23 04:35] VikasPullagura-MSFT commented on #72579
@tigormanoak
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-23 04:36] VikasPullagura-MSFT commented on #72579
@cro27
Can you please check and add your comments on this doc update request as applicable.

[2021-03-23 04:41] vipulsparsh commented on #72602
@JazminRMT Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-23 04:55] tommydogs commented on #72479
Thank you for addressing the issue.

On Mon, Mar 22, 2021 at 6:50 AM MayankBargali-MSFT ***@***.***>
wrote:

[2021-03-23 05:14] Herman5006 commented on #72212
Hi SaiKishor,
yes, I purge all content on CDN side, and also clear cache on browser side, issue still same.

[2021-03-23 05:23] #72479 closed

[2021-03-23 05:24] felinepc commented on #72168
@ggailey777 @brettsam Thanks for looking into this. While you're at it, I just want to let you know that `IConfiguration` DI via `local.settings.json` also seems to be broken, which means the Options pattern described in [this doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) does not work.  See [this](https://github.com/Azure/azure-functions-dotnet

[2021-03-23 05:24] RohitMungi-MSFT commented on #72605
@tjunnu Based on your current requirement it seems like the best option is to use the [document translator](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/document-translation/overview) to translate email files(.msg) after you place them on a blob storage. You can also use any of the supported [file types](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/d

[2021-03-23 05:39] MayMSFT commented on #70668
@FabianHertwig

We are not able to reproduce the issue from our end. Can you send me an email (sihhu@microsoft.com)? I can schedule a working session with you to share screen and resolve your issue.
Thanks

[2021-03-23 05:45] PramodValavala-MSFT commented on #72587
@opticyclic Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

In the meantime, you could take notes from the [GitHub Actions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=java) doc which covers Java and replicate the same steps for Azure DevOps.

[2021-03-23 05:46] MayankBargali-MSFT commented on #72422
@olitomlinson Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-03-23 05:49] SubhashVasarapu-MSFT commented on #72418
@Andriy-dev, as per your request, we are assigning this issue to the respective SME for providing further insights on your asks.

[2021-03-23 05:51] SubhashVasarapu-MSFT commented on #69393
@monojit18, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-23 05:51] #69393 closed

[2021-03-23 05:55] parilla commented on #72350
@vipulsparsh The [supported method article](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/using-azure-ad-to-land-users-on-their-custom-login-page-from/ba-p/243900) provided is also for enabling auto-acceleration , and both articles discuss using the **domain_hint** URL parameter to enable auto-acceleration.

There is no mention of the FIDO issues in the article, and a solu

[2021-03-23 06:15] feiskyer commented on #72522
@palma21 do you know the ETA of fix?

[2021-03-23 06:22] andrewt3000 commented on #60675
Any update??

[2021-03-23 06:23] AjayKumar-MSFT commented on #72598
@opticyclic, Thanks for taking time to share your feedback on this topic! Apologies for any frustrated experience with this.

The doc that you referenced aims at outlining built-in diagnostics/logs for App Service in general.
--It does outline on accessing Kudu for logs:
      _Linux/container apps: https://<app-name>.scm.azurewebsites.net/api/logs/docker/zip
      Windows apps: https://<app-name>

[2021-03-23 06:43] akshaymatmicrosoft opened #72608 "ClientShareIopsThrottlingError is applicable to both Standard and Premium Storage Accounts"
Please help update the below statement which incorrectly states that ClientShareIopsThrottlingError is applicable to premium file shares only. This is incorrect, I have verified that ClientShareIopsThrottlingError is applicable to both standard and premium account. This can also be seen in another public facing documentation "https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoo

[2021-03-23 06:46] codexponent commented on #14413
Facing the same issue as @flatrixnet. Not being able to Pin to dashboard from Azure Log Analytics Workspace.

[2021-03-23 07:18] ChaitanyaNaykodi-MSFT commented on #72238
Hello @andybooth, Thank you for your feedback, I will make a PR to rectify this in the document. Thank you!
Please tag me in your response if there are any additional concerns.

[2021-03-23 07:18] #72238 closed

[2021-03-23 07:27] KalyanChanumolu-MSFT commented on #72560
@tfitzmac @mmacy Need your help here. Is there a way for customers to file bugs for Rest APIs?

[2021-03-23 07:28] amanjeetsingh opened #72609 "Clarification - S2D and Windows VMs using AZ or AVSet"
Hi

Needed a clarification - are there any additional points that one must consider in the context of S2D if Windows VMs on Azure are deployed across two AZs or perhaps deployed within an AVSet?

Thanks,
Amanjeet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af5726e-d326-fcd0-ced0-718fc31cd12d
* Version Independent I

[2021-03-23 07:31] amanjeetsingh commented on #72609
There's another issue logged here https://github.com/MicrosoftDocs/azure-docs/issues/70760 in context of S2D and AZs. Would be good to get clarity on this. Thanks!

[2021-03-23 07:32] SubhashVasarapu-MSFT commented on #72516
@psinghal04, sure. Then we will assign this issue to the respective content owner to update the document accordingly.

[2021-03-23 07:33] Satya-Panigrahy-Volvo commented on #72379
Hello @James-Hamil-MSFT, yeah I have got the answer. Sorry I didn't see it because of time difference.

[2021-03-23 07:36] KalyanChanumolu-MSFT commented on #72525
@zebraxlj Apologies for the inconvenience you are facing.

Unfortunately, support on GitHub is limited to documentation issues only.
If you are consistently facing the same issue, please reach out to Azure support.

[2021-03-23 07:41] AnuragSharma-MSFT commented on #72500
@SogoGolf Could you try explicitly declaring the response object something as below:

`Microsoft.Azure.Cosmos.FeedResponse<T>response = await feedIterator.ReadNextAsync();`
`var tokenForClient = response.ContinuationToken`

Referenced Article: [Paging with CosmosClient in CosmosDB](https://stackoverflow.com/questions/59307840/paging-with-cosmosclient-in-cosmosdb/59309908)

Please let us know if th

[2021-03-23 08:18] msft-jaiverma opened #72611 "Information mentioned in the section - 'Require users to register when they sign in' is not complete"
As mentioned in the Section - 'Require users to register when they sign in',  'f they sign in to any applications using Azure AD.' This is not completely true, it is only applicable for user's web login. However, if a user login using the M365 apps(Outlook/TEAM), he is not forced to complete the registration process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-03-23 08:20] AnkitPathak41 commented on #51236
@mpsingh10  Can you please highlight the correct code, as I'm also facing the same issue for service endpoints

[2021-03-23 08:34] TonySh127-ms opened #72612 "DocuSign login failure due to replyURL mismatch"
The reply URL is incorrect in this document
![image](https://user-images.githubusercontent.com/68043042/112116524-5557d500-8bf5-11eb-884c-18a05eefc004.png)

The correct value is
https://<subdomain>.docusign.com/organizations/<OrganizationID>/saml2
---

Error reference:
Error: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'https://

[2021-03-23 08:36] hemsija commented on #14421
Hi, was this ever solved please?

[Documentation](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-windows) says:

_When users reset their password from the sign-in screen of a Windows 10 device, a low-privilege temporary account called defaultuser1 is created. This account is used to keep the password reset process secure.

The account itself has a randomly genera

[2021-03-23 08:37] xps233 opened #72613 "Check if this document is still up-to-date? (image cloud-init ready)"
Hi Team,

From this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init),  we've noticed there's several `will be removed` clause in the article, like the following pic shows:
![image](https://user-images.githubusercontent.com/74043506/112116650-73253a00-8bf5-11eb-8973-fa7d73a6945e.png)

It seems leave the message that this document need to get updated.. obvio

[2021-03-23 08:38] ScottGuymer opened #72614 "Missing tenant-id env when using SPN with no auth store"
When configuring SPA auth with no secret store there is no mention of setting the tenant-id in an environment variable.

The environment variable `AZCOPY_TENANT_ID` needs to be set to enable login with an SP with client credentials. Did not test with certificate auth but assume the same.

This would make the environment values look like

[code]

---
#### Document Details

⚠ *Do not edit this secti

[2021-03-23 08:52] MartinHBA commented on #17197
@Mike-Ubezzi-MSFT , is there anything readily available to automate creation of $tableMap? I pretty sure there is, I doubt that Microsoft wants us to manually write hundreds of lines or reinvent wheel with custom script for automatic creation of $tablemap object.

[2021-03-23 09:22] ganesh-gawande opened #72615 "Best way of using static HTTPClient in non static azure functions"
I am using the Azure functions using dependency injection. So using function startup to initialise the Services and access those in Azure function.

Can I use static HTTP object ? or there is any other best way to do so such as Singleton?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b6

[2021-03-23 09:49] jyama4ta commented on #69292
@psmanhas @ayshakeen Is there any update?

[2021-03-23 10:00] ralphke commented on #72031
Thank's @SamaraSoucy-MSFT

[2021-03-23 10:10] AjayKumar-MSFT commented on #72423
@rswetnam, Thanks for the sharing the screenshots. The issue is now clear, that the Commodo certificate that you're using is expiring.

To new the **Commodo certificate,** you need to do it via, Commodo control panel/site- (typically) select the expiring certificate and click the "**Renew"** button.
AFAIK, you should have probably **received a notice** from Commodo that your SSL certificate is abo

[2021-03-23 10:24] AjayKumar-MSFT commented on #72495
@BenjaminAbt, That's a good catch! We'd raised a PR and it's merged the document will reflect the changes shortly.
-We really appreciate you taking time to share your value feedback to improve the Azure doc! thanks again! closing this for now.

[2021-03-23 10:24] #72495 closed

[2021-03-23 10:29] AjayKumar-MSFT commented on #72524
@TonySoderbergRMT, The doc fix is live and it now reflects the correct URL.
-We really appreciate you taking time to share your value feedback to improve the Azure doc! thanks again! closing this for now.  Thanks Heidi for the fix.

[2021-03-23 10:29] #72524 closed

[2021-03-23 10:56] amanmcse commented on #71146
@ertork Thank you for providing details. Please find my comments inline:

**Is there a possibility that the lastSignInDateTime for an Azure Guest User might not give a correct answer for when he/she has signed in, because the Azure Guest User only has non-interactive sign-ins?**
If the guest user is signing in by typing his/her credentials, it will be considered as Interactive sign in. The stateme

[2021-03-23 11:22] AjayKumar-MSFT commented on #72443
spudcz, [This doc](https://docs.microsoft.com/azure/app-service/deploy-local-git?tabs=cli#troubleshoot-deployment) outlines the steps to resolve such errors  - (Troubleshoot deployment
| common error messages when you use Git to publish to an App Service app in Azure - "**Run git push** again, specifying the main branch: git push azure main."

Your feedback has also been shared with the content au

[2021-03-23 11:22] dimaqq commented on #38378
Weirdly this doesn't work in the SDK.
`create_item` without `id` succeeds but the data is lost in the wind 🤷🏿

[2021-03-23 11:54] #72509 closed

[2021-03-23 11:55] #72525 closed

[2021-03-23 11:58] vipulsparsh commented on #72218
@emaborsa I am checking this internally with the team. Will update soon.

[2021-03-23 12:00] Zarathrustra commented on #72494
Hi Derek,

I started with this: Home - Microsoft Azure<https://portal.azure.com/#home>
Microsoft Azure<https://portal.azure.com/#home>
Microsoft is radically simplifying cloud dev and ops in first-of-its-kind Azure Preview portal at portal.azure.com
portal.azure.com
Then, thinking I needed to Setup a place to put my Excel spreadsheet, from what I understood on: How to Import Data from Microsoft Ex

[2021-03-23 12:09] VikasPullagura-MSFT commented on #72613
@xps233
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-23 12:09] VikasPullagura-MSFT commented on #72613
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2021-03-23 12:26] RobvanB opened #72618 "Dead link"
The link in the 'important' box is dead

Important

This documentation is for Azure Front Door. Looking for information on Azure Front Door Standard/Premium (Preview)? View here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec

[2021-03-23 12:38] VikasPullagura-MSFT commented on #72592
@PingPongSet Thanks for posting your query.

Timeout error, means the application is not getting served.

From the screenshots shared, containers in ImagePullBackOff State and in the second image containers are not ready.

For the ImagePullBackOff State one reason could be issue with ACR authentication, it could be an Expired token.

For containers not ready in which case two reasons, either a rea

[2021-03-23 12:44] BharathNimmala-MSFT commented on #72394
@D3athByMonkey Apologies for the delay here, we are further reviewing the feedback with our internal team and based on those learnings will keep this thread updated. Thanks

[2021-03-23 12:47] dominikjakob commented on #57211
@shashishailaj
"Understand Azure Security Center's Threat detection for data services" links to "[Introduction to Azure Defender](https://docs.microsoft.com/en-us/azure/security-center/azure-defender)", which links to "[Introduction to Azure Defender for Storage](https://docs.microsoft.com/en-us/azure/security-center/defender-for-storage-introduction)".
Does "Azure Defender for Storage" scan files

[2021-03-23 13:01] PingPongSet opened #72620 "[DocRequest] Repeated Requests for Hello World examples on using ASP.NET CORE, AKS and HELM for a multi container app"
I have checked this site, and I cannot find any information on using Azure Kubernetes Service and HELM for a multi container app in ASP.NET CORE.

Given that ASP.NET Core is MS's flagship web framework, I find difficult to believe that I cannot find the information. I requested this in 2019. So far, the information is still not available.

Specifically, it would be great to show a hello world exam

[2021-03-23 13:30] SumanthMarigowda commented on #72582
@RonnieQuan Thanks for the question! We are investigating and will update you shortly.

[2021-03-23 13:31] SumanthMarigowda commented on #72614
@ScottGuymer Thanks for the question! We are investigating and will update you shortly.

[2021-03-23 13:35] shashishailaj commented on #72611
@msft-jaiverma Thank you for your feedback . We will investigate and update the thread ,

[2021-03-23 13:37] shashishailaj commented on #72612
@TonySh127-ms Thank you for your feedback. We will investigate and update the thread .

[2021-03-23 13:50] rahul799 commented on #49147
@BryanTrach-MSFT  so can the 4000 character limitation be removed?

[2021-03-23 14:06] groovy-sky commented on #40561
@msrini-MSFT Is this feature available now?

[2021-03-23 14:19] MonikaReddy-MSFT commented on #72608
@akshaymatmicrosoft - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-23 14:20] MonikaReddy-MSFT commented on #72595
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-23 14:21] MonikaReddy-MSFT commented on #72590
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-23 14:23] MonikaReddy-MSFT commented on #72006
@JamesK3  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can work on this issue accordingly.

[2021-03-23 14:25] #72538 closed

[2021-03-23 14:25] MonikaReddy-MSFT commented on #72228
@woutervanranst - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2021-03-23 14:25] #72228 closed

[2021-03-23 14:26] tfitzmac commented on #72597
@paulfinol - thanks for this feedback. Are you using a custom dashboard that queries a specific instance of a resource?

[2021-03-23 14:29] campbellj0 opened #72622 "Unable to Integrate Azure Key Vault certificate with AKS nginx Ingress Controller"
[Enter feedback here]
Not able to get nginx ingress controller successfully configured to support TLS with a certificate contained in our Azure Key Vault using the Secrets Store CSI driver on Kubernetes.

The following two resource links were shared:
There is unclear direction when integrating AKS with Key Vault using the system managed identity with our AKS cluster.

Tutorial: Configure and run t

[2021-03-23 14:30] mumian commented on #72539
@simonvane - see the resource lock thread for the suggestion - use a different resource group for deployment script execution than the resource group which contains your resources?

#please-close.

[2021-03-23 14:30] #72539 closed

[2021-03-23 14:31] cveld opened #72623 "Support for server-side rendering"
Does this offering provide support for server-side rendering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67ef84a6-1076-d717-54da-4ed62b322c45
* Version Independent ID: 821a3bf1-9a2c-6b2d-8b2a-38fef8749a7a
* Content: [What is Azure Static Web Apps?](https://docs.microsoft.com/en-us/azure/static-web-apps/overview)
*

[2021-03-23 14:33] MonikaReddy-MSFT commented on #72377
@gujarnilesh - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 14:33] #72377 closed

[2021-03-23 14:42] 1RedOne opened #72625 "QueueTriggerDocs should have equal examples as Queue Docs"
The docs page for working with Azure Queue Storage in dotnet are more fleshed out than the docs for working with QueueTriggers.  For instance, the lets compare the topics in each:

[Storage Dotnet how to use Queues](https://docs.microsoft.com/en-us/azure/storage/queues/storage-dotnet-how-to-use-queues?tabs=dotnet#change-the-contents-of-a-queued-message)

- Overview
- What is Queue storage?
- Queue

[2021-03-23 14:48] geoffbrucepayne opened #72626 "More detail/example on offline command structure received by device"
The examples provide do not match what I see in my Nodejs client connection.  `data` is in the form of a buffer which may or may not contain JSON-encoded data.  For example I see `@` as the data content when no command parameters are specified in my DTDL definition.

Where can I find more comprehensive documentation on what gets passed into the offline command function?

---
#### Document Details

[2021-03-23 14:49] SaiKishor-MSFT commented on #72212
@Herman5006 I would suggest you to reach out to the Azure Support Team directly regarding this so that they can investigate further in depth. If you do not have a support plan, please let us know so we can enable a one-time support ticket for you. For this, please share your subscription. Thank you!

[2021-03-23 14:50] tfitzmac commented on #72560
The documentation indicates the REST operation also returns data so I don't see anything that needs to change in the documentation. I don't think it's possible for there to be a bug in the REST operation that wouldn't also be seen in PowerShell since ultimately the call is routed through the REST operation. I am guessing there is some difference in the provided parameters.

[2021-03-23 14:50] MonikaReddy-MSFT commented on #72397
@picardsrcd -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2021-03-23 14:50] #72397 closed

[2021-03-23 14:50] SaiKishor-MSFT commented on #72285
@kfollesdal This has been identified to be a bug and a fix is being rolled out soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 14:51] vipulsparsh commented on #72218
@emaborsa  Can you share the screenshot of the error along with any co-relation ID that you are getting

[2021-03-23 14:52] SaiKishor-MSFT commented on #72618
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-23 14:52] KrishnaG-MSFT commented on #72609
@amanjeetsingh Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-23 15:19] JamesTran-MSFT commented on #72622
@campbellj0
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-23 15:21] AbhishekTripathi commented on #72485
@SubhashVasarapu-MSFT I don't see the document updated with an additional note regarding this. The last update to the document was in Oct 2020. See here: https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/cdn/cdn-traffic-manager.md

Can you please take a look at it? Possibly you forgot to push your changes?

[2021-03-23 15:22] MonikaReddy-MSFT commented on #72590
@michelamarie - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 15:22] #72590 closed

[2021-03-23 15:23] aodugga opened #72627 "Removing Mounted Storage for ADLS can delete content in ADLS folders"
Hi Team,

I'm an Azure Customer Engineer and my assigned customer had an issue recently where their ADLS folders and contents were randomly disappearing. After a lengthy investigation with both MSFT and Databricks, we could see that someone had ran the following command in a Notebook which removed all mounted data.

%sh rm -rf /dbfs/mnt/

This command is not specific to a mount point (i.e %sh rm -

[2021-03-23 15:23] hansellb opened #72628 "No access (404 resource not found) to Computer Vision (Free tier) from outside Azure (public internet)"
I am creating this issue because I saw similar ones created no so long ago, and they received help...

Basically, I am getting a 404 error when using the Computer Vision API (Free subscription) even though I allowed access from all networks...
Steps I took set it up:

1. Search Computer Vision in Marketplace
2. Created a new Computer Vision resource (and a new Resource Group). Name: smarty
3. In t

[2021-03-23 15:25] an-prog commented on #70670
I tried both ways but none of them worked - I was finally able to get it done using the one used to create the VMSS

[2021-03-23 15:27] MonikaReddy-MSFT commented on #72595
@michelamarie - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 15:27] #72595 closed

[2021-03-23 15:28] MonikaReddy-MSFT commented on #71713
@saimachi - - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can work with you directly to get the issue resolved.

[2021-03-23 15:28] rondfw opened #72629 "MFA using SMS or non-MS app?"
The page says:  The sign in behavior for Remote Desktop Gateway doesn't provide the option to enter a verification code with Azure AD Multi-Factor Authentication. A user account must be configured for phone verification or the Microsoft Authenticator App with push notifications.

If one of these two authentication methods isn't configured for a user, they won't be able to complete the Azure AD Mul

[2021-03-23 15:38] emaborsa commented on #72218
Correlation ID: 71323c4a-6ea8-41b9-ace6-265715cef1e1
Timestamp: 2021-03-23 15:36:35Z
AADB2C90007: The application associated with client id '9e99f9ee-1f6d-4668-8f4d-050a9434e284' has no registered redirect URIs.
![b2c_error](https://user-images.githubusercontent.com/9129912/112173701-19713f80-8bf6-11eb-9037-921f4ca7f40c.png)

[2021-03-23 15:38] markingmyname commented on #67658
@alalani123

The data is correct.

this is a future notification as a heads up to all using SSMS 18.6 or older.

thank you.

[2021-03-23 15:39] markingmyname commented on #67658
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [SQL Server User Feedback](https://feedback.azure.com/forums/908035-sql-server) site.

[2021-03-23 15:39] markingmyname commented on #67658
#please-close

[2021-03-23 15:39] #67658 closed

[2021-03-23 15:44] cynthn commented on #72006
Since it works as is, I've just put in a short note about using `--interactive` mode. Thanks again!

#please-close

[2021-03-23 15:44] #72006 closed

[2021-03-23 15:48] smits23 commented on #39017
Does this apply to AGW v2 also?

[2021-03-23 15:49] sideeksh commented on #72609
There should be no issue if you deploy S2D in a single availability set or inside a single availability zone.

[2021-03-23 15:51] JamesTran-MSFT commented on #72511
@ricktam1469
I just wanted to check in and see if you had any other questions or if you were able to read my previous comment?

[2021-03-23 15:51] NavtejSaini-MSFT commented on #72446
@rachel-msft We are unable to check with Lukas who is doc author for this page. Do you have a POC who can look into this doc enhancement.

[2021-03-23 15:52] NavtejSaini-MSFT commented on #72514
@mpchen Can you please help with the questions asked above to help you better.

[2021-03-23 15:59] JamesTran-MSFT commented on #72379
@Satya-Panigrahy-Volvo
Thank you for the follow up. It's no problem at all, I'm glad that we were able to help you resolve this issue!

[2021-03-23 16:02] PeterCLu commented on #71691
@jpmlblog, great catch! I confirmed with the product team that you're correct.
We created the following PR to address the change. The changes are live. I'll proceed to #please-close this issue
https://github.com/MicrosoftDocs/azure-docs-pr/pull/151529/files

[2021-03-23 16:03] #71691 closed

[2021-03-23 16:04] BharathNimmala-MSFT commented on #72314
@andyturn31 Apologies for delay in getting back to the thread. Reviewing the error you shared, we need to better understand the query you are using to fetch the data from log analytics workspace. Also, it would help if you could share permissions (Orgnaizational account/ web api/basic/Windows)  you are using to connect to the loganalytics.

Can you please share additional information to further he

[2021-03-23 16:04] #72314 closed

[2021-03-23 16:06] AWilsonBP opened #72630 "Missing prerequisite"
If signed into either Azure PowerShell or CLI with a service principal, it will also need API permissions to Azure Active Directory Graph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d9df941-3116-600e-49f7-a8fa3f732970
* Version Independent ID: 65afc3ee-c285-a8cc-2d8b-a509446fe08b
* Content: [Steps to assign an Azu

[2021-03-23 16:08] kathodion opened #72631 "AAD SSO integration with Google Cloud - Logout URL missing"
Hello

About heading "Configure Azure AD SSO" -> Step 8 -> Logout URL
For my point of view the logout url "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0" is missing.

Would be great if you could have a look at it.

Kind regards
Pascal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-9

[2021-03-23 16:11] os-slalom opened #72632 "ADF SFTP connector fails for SFTP with default remote directory"
When setting up a connector to an SFTP with a default remote directory specified, ADF Linked Services fail to establish the connection with the following error:

Can't find SFTP path ''. Please check if the path exists. If the path you configured does not start with '/', note it is a relative path under the given user's default folder ''.
No such file

Please advise.

---
#### Document Details

⚠

[2021-03-23 16:14] nimoniyaz opened #72633 "Support for non integrated DNS that do not support kerberos"
In this documentation, we do not cover non-integrated DNS or third party DNS. For domain join operation, DNS requires kerberos authentication.

Could we please update the doc to reflect the following: For non-integrated DNS that do not support kerberos, “Add an A Record” to allow the service to function using a “friendly name” as DNS will never be updated.

---
#### Document Details

⚠ *Do not edi

[2021-03-23 16:15] PeterCLu commented on #70668
Hi @FabianHertwig, thanks for your patience as we checked on this issue. Please contact the above product manager for further troubleshooting. I'll proceed to #please-close this issue.

[2021-03-23 16:15] #70668 closed

[2021-03-23 16:26] JamesTran-MSFT commented on #72629
@rondfw
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-23 16:27] #72390 closed

[2021-03-23 16:28] JamesTran-MSFT commented on #72631
@kathodion
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-23 16:29] shortpatti commented on #64237
#please-close

[2021-03-23 16:29] JamesTran-MSFT commented on #72630
@AWilsonBP
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-23 16:34] jessasq commented on #72602
Hi @vipulsparsh, Jazmin and I have reviewed this in further detail and found that the commands can work as they are documented but the AzureAD module needs to be updated before hand.

Our personal recommendation would be only adding instructions on how to update the AzureAD module, we have confirmed the below method works:

Uninstall-Module AzureADPreview
Uninstall-Module AzureAD
Install-Module Az

[2021-03-23 16:38] #72386 closed

[2021-03-23 16:39] #72468 closed

[2021-03-23 16:46] #72628 closed

[2021-03-23 16:50] KranthiPakala-MSFT commented on #72632
@os-slalom
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://

[2021-03-23 16:52] KranthiPakala-MSFT commented on #72627
@aodugga
Thank you for the feedback. At this time we are reviewing the ask and will provide an update as appropriate.

[2021-03-23 16:56] rswetnam commented on #72423
Thank you Ajay - I was able to resolve my issue before the site became insecure.  While I am not the sharpest knife in the drawer, I still believe that others may have similar problems that I had regarding your documentation - which is to convoluted - and your interface which is confusing.  As you know I had already secured my domain years ago and was renewing.  And as your annotated screenshot sh

[2021-03-23 16:57] rswetnam commented on #72423
![bindings](https://user-images.githubusercontent.com/2905367/112186207-270ad300-8bbe-11eb-8ad5-a580d6c26cfc.jpg)

[2021-03-23 16:59] rswetnam commented on #72423
![bindings](https://user-images.githubusercontent.com/2905367/112186505-6cc79b80-8bbe-11eb-946a-86a5d9418db2.jpg)

[2021-03-23 17:06] VikasPullagura-MSFT commented on #72482
@haaami01 Any update on the issue?

[2021-03-23 17:06] JamesTran-MSFT commented on #72550
@HoCGeek
Thank you for pointing this out!

I tested this and configured a named location with a user assigned to the Conditional Access Administrator role. However, I'll assign this issue to the author to investigate and update as needed.

![namedLocations](https://user-images.githubusercontent.com/36619112/112187411-4fdf9800-8bbf-11eb-93f6-cca93357be69.gif)

Thank you for your time and patience t

[2021-03-23 17:06] Sri-SD opened #72634 "what is the stable chart version for ingress-nginx on helm3?"
Recently we installed helm3 on AKS which by default installed Chart Version: ingress-nginx-3.24.0  and NGINX version 1.19
.6 , from then, our APIs deployed were returning 502 error instead of 204, In kubernetes logs, we find the correct response 204 but it is returning 502 on the gateway response.

We are thinking this is due to the NGINX version change. We would like to know what is the stable ch

[2021-03-23 17:06] VikasPullagura-MSFT commented on #70985
@DavidNorena Any update on this?

[2021-03-23 17:19] DavidNorena commented on #70985
Amazing, it seems is not possible for now, I think if there is not other way, then we should close this and use the information @toddysm posted.

[2021-03-23 17:19] #70985 closed

[2021-03-23 17:19] uda832 commented on #35374
@vlall you can use this tool that Microsoft provides: https://github.com/microsoft/OCR-Form-Tools

[2021-03-23 17:20] JamesTran-MSFT commented on #72631
@kathodion
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I'll go ahead and assign this issue to the author. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-23 17:29] Sri-SD commented on #72634
We tried installing chart version 2.12.0 with helm3 from the document but that is not installing ingress and throws error...

[2021-03-23 17:32] leodeoz commented on #72390
Sounds great, thanks to you!

[2021-03-23 17:40] artisticcheese commented on #55261
That's pretty crazy since it's exactly my first question as well. Why this requirement as part of resource in Azure. I don't beleive there is another resource in Azure which have exclusive dependency on externally hosted source control.

[2021-03-23 17:50] RyanHill-MSFT commented on #72260
@jsandersrocks wanted to update you; the doc will be updated. You are correct that some addresses were added to the API. The list will be as follows:

13.66.140.0, 13.67.8.128, 13.69.64.128, 13.69.227.128, 13.70.73.128, 13.71.170.64, 13.71.194.129, 13.75.34.192, 13.75.127.117, 13.77.50.128, 13.78.109.0, 13.89.171.0, 13.94.141.115, 13.94.143.126, 13.94.149.179, 20.36.106.128, 20.36.114.64, 23.102.1

[2021-03-23 17:52] Nickomang commented on #72355
Hi @davidbarrowsatasos,

Appreciate the feedback.

Regarding the resource group used for disk creation: All infrastructure resources related to the cluster are contained in the "node resource group", and disks are no exception. For more on this, I'd recommend reading [Why are two resource groups created with AKS](https://docs.microsoft.com/en-us/azure/aks/faq#why-are-two-resource-groups-created-wi

[2021-03-23 17:54] felixtsem5 opened #72636 "Dead link to Azure Front Door Standard/Premium preview"
The link to the docs for AFD Standard/Premium is dead.
(/standard-premium/overview.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/front-d

[2021-03-23 17:55] SubhashVasarapu-MSFT commented on #72636
@felixtsem5, Thanks for reaching out. We will investigate and update this thread.

[2021-03-23 17:58] rbavery commented on #71830
Any updates on this?

[2021-03-23 17:59] SubhashVasarapu-MSFT commented on #72636
@felixtsem5, PR has been submitted successfully. It will be merged soon after the review.
![image](https://user-images.githubusercontent.com/44890829/112195111-966cdb00-8c2f-11eb-8155-ef51a1c191ab.png)

[2021-03-23 18:00] rbavery commented on #71813
Here's a script my colleague uses with terraform

[code]

[2021-03-23 18:10] jeevansd commented on #72612
I do see the value of the AssertionConsumerService URL as per the document only. Can you please provide screenshot (covering the account id) of your Docusign configuration

[2021-03-23 18:11] SaiKishor-MSFT commented on #72618
@RobvanB There is a [related Github Issue](https://github.com/MicrosoftDocs/azure-docs/issues/72068) where the change has been applied and will be updated soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 18:11] #72618 closed

[2021-03-23 18:42] nibaccam commented on #72576
Hi @crisansou, bringing your own environment to the AutoMLConfig is not a supported scenario. Can you provide additional detail as to what you're trying to accomplish by specifying a custom environment? Once we know more, we can loop in the appropriate contacts that might be able to help with your scenario.

[2021-03-23 18:47] algattik opened #72638 "ETag for read operations?"
As a F/U to my previous issue on the topic. The page now contains:

"$etag:... It can also be used in HTTP headers in these ways:
with read operations to avoid fetching content that hasn't changed"

Actually as far as I can tell, IfMatch header is not available for ADT read operations (only for update and delete).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-03-23 18:47] SnehaGunda commented on #69056
@phatcher, I hope you can followup on the PR I mentioned above. We will close this issue as we can't do anything on docs.

#please-close

[2021-03-23 18:47] #69056 closed

[2021-03-23 18:51] ChaitanyaNaykodi-MSFT commented on #72615
Hello @ganesh-gawande,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-23 18:54] ChaitanyaNaykodi-MSFT commented on #72625
Hello @1RedOne,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-23 18:58] tokawa-ms opened #72639 "AMP Quick Start : There are unsupported parentheses in the manual setup sample script that cause a script run-time error."
There are unsupported parentheses in the manual setup sample script that cause a script run-time error.

**wrong**
[code]

**correct**
[code]

I suggest to replace its buggy code block to the following.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5eb175-8f8f-53f3-4026-328ffc265569
* Version Independent ID:

[2021-03-23 19:02] tokawa-ms opened #72640 "AMP full setup doc : There is unsupported parenthesis in the manual setup sample script that cause a script run-time error."
There is unsupported parenthesis in the manual setup sample script that cause a script run-time error.

**wrong**
[code]

**correct**
[code]

I suggest to replace its buggy code block to the following.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 303e0374-9430-c7c2-1159-7bba970800c7
* Version Independent ID:

[2021-03-23 19:11] tokawa-ms commented on #72639
I created a pull request by myself in #72641.
Sorry for dup.

[2021-03-23 19:12] SadiqhAhmed-MSFT commented on #72230
@t-leblanc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 19:12] #72230 closed

[2021-03-23 19:12] DerekHerman-MSFT commented on #72455
@doveryai We haven't heard back from you so we will proceed to close this thread. Please let us know if you are still facing issues with the documentation and we will do our best to assist.

[2021-03-23 19:12] #72455 closed

[2021-03-23 19:16] robotpukeko opened #72642 "Purview data lineage introduction - incorrect video"
The page features what I assume is supposed to be an introduction to Purview data lineage, but it appears to be a video about CVS and using AI for image recognition. Please can you replace it with the data lineage introduction?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8c9bc27-7e6f-e2a7-01af-f00171b5d63a

[2021-03-23 19:18] msfcolombo commented on #23558
@r3mattia This incident is closed. Can you open a new one with your case, for proper tracking?

[2021-03-23 19:22] tokawa-ms commented on #72640
I created a pull request by myself as #72643.
Sorry for dup.

[2021-03-23 19:31] ran-ten21 opened #72647 "is the phone # retired"
Is the phone # feature being retired officially?

under this section:
Customize the alerts email notifications through the API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Configure email notifications for

[2021-03-23 19:49] HappyNomad opened #72648 "Clarify which app registration(s) are referred to by client ID(s)"
It seems logical  to configure an Azure AD B2C tenant with two app registrations: one for a web API, and another for an SPA.  Therefore, mustn't the request to the auth server include client IDs from both the web API and SPA app registrations?  The example shows the same client ID being sent as both the `client_id` and a `scope`.  It seems that, instead, the SPA's client ID should go in `client_id

[2021-03-23 19:53] AjayKumar-MSFT commented on #72280
@star286, Yes, you're correct the pricing evaluates per month (~ 730 hr), you may also validate this by switching between the units (h, d, m).
![image](https://user-images.githubusercontent.com/44606227/112206404-e5207200-8c3b-11eb-9a6a-4a17327d054d.png)

Yes, the 240 CPU minutes mentioned is only for the CPU time quota ( Shared tier) /The amount of CPU consumed by the app- it is based on the weba

[2021-03-23 19:53] #72280 closed

[2021-03-23 19:58] tokawa-ms commented on #72640
I confirmed that my PR already merged.
So I close this issue.

[2021-03-23 19:58] #72640 closed

[2021-03-23 19:59] tokawa-ms commented on #72639
I confirmed that my PR already merged.
So I close this issue. Thanks.

[2021-03-23 19:59] #72639 closed

[2021-03-23 20:00] JamesTran-MSFT commented on #72648
@HappyNomad
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-23 20:09] beppe9000 opened #72649 "Hotlink to App Passwords settings page in 2FA App Password article"
This isssue refers to the following URL: https://github.com/MicrosoftDocs/azure-docs/blob/d4ccc0e390502e8f29764ba94d14edcd9123b18a/articles/active-directory/user-help/multi-factor-authentication-end-user-app-passwords.md

Can the actual link (`https://account.activedirectory.windowsazure.com/AppPasswords.aspx`) be added to the text highlighted (white) in the screenshot you'll find below? I feel it

[2021-03-23 20:11] rp-msft opened #72650 "Update ACR anonymous pull documentation"
This section https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#how-do-i-enable-anonymous-pull-access needs to be updated. This feature can now be enabled through Azure CLI , please check and update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2815fa-0561-746d-b5c3-74ab098d0c25
* Vers

[2021-03-23 20:11] tfitzmac commented on #71902
I have updated the article to include a section about how to handle the scenario of the portal returning resource not found after deletion. It should get published later today.

[2021-03-23 20:11] tfitzmac commented on #71902
#please-close

[2021-03-23 20:11] #71902 closed

[2021-03-23 20:14] crisansou commented on #72576
Hi @nibaccam ,

I'm trying to set up an environment to use Azure AutoMl. First I created a compute instance **STANDARD_DS3_V2**. After that when running the experiment I got the error message **undefined symbol: XGDMatrixSetDenseInfo**. So I uninstalled the version that came on the machine (xgboost 1.3.3) and installed version 0.90 using the command **!pip install xgboost==0.90** as suggested in t

[2021-03-23 20:14] AjayKumar-MSFT commented on #72423
Thanks for the update. I completely understand the frustration with the document, your feedback has been shared with the content author (@cephalin) for further review and to make appropriate changes.

Glad to know that you were able to resolve the issue. For the certificate renewal, I would suggest you to set auto-renewal/ configure to have a reminders to renew with the provider.

Screenshot from

[2021-03-23 20:18] mattvlas opened #72651 "Tenant ID wording change"
Hello please update the text as follows in the callout box:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab71193-ed41-9cc9-6803-7c24770bb7c4
* Version Independent ID: 703c4d28-6db0-782d-6aa3-fa3dc6d9d063
* Content: [Tutorial: Azure Active Directory integration with Wandera RADAR Admin](https://docs.microsoft.com/en-

[2021-03-23 20:21] TravisCragg-MSFT commented on #70670
@an-prog Thanks for the follow up!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 20:21] #70670 closed

[2021-03-23 20:22] MarileeTurscak-MSFT commented on #72651
@mattvlas
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-23 20:24] stevestein commented on #72167
@HWidforss - thanks for pointing this out. I removed _az sql db update_ from the list of commands to set the license type because as you point out - the parameter is not available.

Thanks.

#please-close

[2021-03-23 20:24] #72167 closed

[2021-03-23 20:26] MarileeTurscak-MSFT commented on #72651
Thanks! I made a pull request to update this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/151730

@jeevansd this change was suggested by @mattvlas , who is from Wandera.

[2021-03-23 20:26] #72651 closed

[2021-03-23 20:27] TravisCragg-MSFT commented on #72650
@sajayantony Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-23 20:27] baanders commented on #72638
Hi @algattik, thanks for catching this. You're right, If-Match should be used for update and delete, not read.

I'm updating the document in [PR #151729](https://github.com/MicrosoftDocs/azure-docs-pr/pull/151729) to state that you can use If-Match to perform updates and deletes:

![image](https://user-images.githubusercontent.com/55546137/112213317-51778300-8bf4-11eb-8e55-aee8d99e40a3.png)

Since

[2021-03-23 20:30] #72638 closed

[2021-03-23 20:35] #72453 closed

[2021-03-23 20:39] RyanHill-MSFT commented on #72623
@cveld, static web apps does not support server rendering. We have the following stated in this [doc](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website):

I will add this on the static web app doc to provide clarity.

[2021-03-23 20:45] JamesTran-MSFT commented on #72622
@campbellj0
Thank you for your time and patience throughout this issue!

I've reached out to the author of this doc and our Azure Key Vault engineering team and will update as soon as possible.

[2021-03-23 20:49] SnehaGunda commented on #70418
@Pelagoutb you can get the first item with a query like the below. You can leave the "filter" and "select" parameters when querying the entities. I can add this example to the doc:

print("Get the first item from the table")
tasks = table_service.query_entities(
    'tasktable')
lst = list(tasks)
print(lst[0])

![image](https://user-images.githubusercontent.com/14284405/112214547-8ed01680-8bdc-11e

[2021-03-23 20:57] JamesTran-MSFT commented on #72247
@sgdesmet
Thank you for your time and patience on throughout this issue. I received an update from our engineering team and will post it below.

**Update:**
Can you try the latest page layout version 2.1.4 and confirm if the issue still persists? 2.1.4 uses latest jQuery version.
For more info - https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout

[2021-03-23 20:58] JamesTran-MSFT commented on #72647
@ran-ten21
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-23 21:34] Jarlotee commented on #64660
So this tutorial https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux#configure-app-service-to-deploy-the-image-from-the-registry seems to indicate that this should work, but I am still seeing errors in the logs

[code]

Any updates on this?

[2021-03-23 21:48] ggailey777 commented on #72587
@opticyclic I'm checking to see if this is just an oversight, or if there's a limitation of Java deployments.

[2021-03-23 21:55] DerekHerman-MSFT commented on #72633
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-23 22:00] Oury-MSFT commented on #72573
@mattneerincx Thank you for your feedback. We have added the note to the document , once the change made is approve . The document will be updated.

[2021-03-23 22:04] Oury-MSFT commented on #72533
@Briwalkr Please let us know if you were able to check the information or need any further help.

[2021-03-23 22:10] DanielLarsenNZ opened #72652 "GZRS and RA-GZRS is supported in Australia East"
[This document](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#geo-zone-redundant-storage#:~:text=GZRS%20and%20RA-GZRS%20are%20supported%20in%20the%20following%20regions) needs to be updated. GZRS and RA-GZRS is supported in Australia East.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f4

[2021-03-23 22:19] Oury-MSFT commented on #72531
@stevestein Can you please help with the customer feedback above.

[2021-03-23 22:20] YidiQin opened #72653 "DNAseq pipeline"
What is the exact resource of the default reference genome file? I am using the 37 and think there are 4 common "hg19(grch37)" references that are not directly interchangeable.

1. hg19 (ucsc.hg19.fasta, MD5sum: a244d8a32473650b25c6e8e1654387d6)
2. b37 (Homo_sapiens_assembly19.fasta, MD5sum: 886ba1559393f75872c1cf459eb57f2d)
3. GRCh37 (GRCh37.p13.genome.fasta, MD5sum: c140882eb2ea89bc2edfe934d51b6

[2021-03-23 22:21] nibaccam commented on #72576
Hi @crisansou, you should be able to run your code on an Azure compute instance without errors. Please reach out to the AskAutomatedML@microsoft.com alias so the product team can better assess if this is a bug within the Azure compute instance environment builds.

[2021-03-23 22:23] kgremban commented on #72467
@micahl Satish is right in that there's no 1.2 version of the Windows quickstart to link to, so readers are forced into the 1.1 version of the docs. However, what I can do is update the Overview next steps to point to both quickstarts, so those who choose the Linux link will maintain their 1.2 view.

[2021-03-23 22:23] ggailey777 commented on #72585
Hey @opticyclic, thanks for the feedback. I think based on your feedback, you're referring to [this article](https://docs.microsoft.com/azure/azure-functions/functions-how-to-azure-devops?tabs=csharp)? While I won't disagree that `prefix` might be a better term, the statement to which you are referring is a visual element of the template, so there's nothing we can do about it from the Functions si

[2021-03-23 22:23] #72585 closed

[2021-03-23 22:23] PRMerger12 commented on #72585
GitHub user JayaChatterjee-MSFT has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-03-23 22:29] micahl commented on #72467
Thanks, @kgremban.  That sounds like a good approach.

[2021-03-23 22:36] VladKulyk opened #72654 "Specialized images are not supported"
on test get error
New-AzGalleryImageDefinition : Specialized images are not supported in Put gallery image api as of yet.
ErrorCode: InvalidParameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aea3dc10-1548-3447-fb12-d2cea8dc2235
* Version Independent ID: 614784aa-6c14-7aa8-b74e-331afcc407de
* Content: [PowerShell

[2021-03-23 22:43] #72467 closed

[2021-03-23 22:45] crisansou commented on #72576
Hello @nibaccam ,

I sent the email, thank you!

[2021-03-23 22:48] b-juche commented on #72633
@nimoniyaz - Thanks again NiMo.  We are waiting input from PM, Dev, TME about adding the requested statement.   Will follow up through email.

[2021-03-23 22:54] DerekHerman-MSFT commented on #72652
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-23 22:59] SatishBoddu-MSFT commented on #72626
@geoffbrucepayne
I have assigned the issue to the content author for further review.

[2021-03-23 23:04] RyanHill-MSFT commented on #72262
@ericthomas1, apologies for the delayed response. I'm trying to get clarification, but I do believe there isn't any logic that is done against client certificates. The reasoning behind this is to allow customers to do any sort of validation they choose without being confined to a preset of rules.

[2021-03-23 23:05] TravisCragg-MSFT commented on #72654
@VladKulyk Can you give the full command & Parameters you are using?

[2021-03-23 23:05] panchagnula commented on #72262
How is this client cert being used with App Service - is the site getting uploaded as PFX or is this a certificate from AKV imported to webapp? If the cert is uploaded & used with AppService then we do some basic validation for expiration.
If the certificate on AKV - then AKV team might do more detailed checks & while being imported to webapp as well we will still similar validation checks. Hope t

[2021-03-23 23:06] KranthiPakala-MSFT commented on #72328
@chaitranagaraj The document has been updated with "Seattle Safety Data". Thanks much for reporting this issue to us.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-03-23 23:06] #72328 closed

[2021-03-23 23:06] mimckitt commented on #70906
I pushed an update. Changes should go live tomorrow morning.

#please-close

[2021-03-23 23:06] #70906 closed

[2021-03-23 23:06] TravisCragg-MSFT commented on #72620
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-23 23:13] ericthomas1 commented on #72262
**@RyanHill-MSFT:**  Thanks for the response.
- I need to know if Microsoft does any type of validation on the cert
- Does it check whether the cert is self-signed?
- Does it check whether the cert is expired (not-valid-before/after dates)?
- Does it check whether the cert is revoked (using the OCSP URL listed on cert)?
- OR is it all up to the application code to perform these actions?

**@pancha

[2021-03-23 23:13] kgremban commented on #72439
@jokarl Thank you for pointing out this contradiction in the docs. This is a versioning mistake. In version 1.1 of IoT Edge and older, IoT Edge devices can't be downstream of an IoT Edge gateway. Starting with version 1.2 of IoT Edge, that is now possible. So that line you found, "including other IoT Edge devices," was only supposed to be in the 1.2 version of the article. I'll fix that error.

Do

[2021-03-23 23:17] mhyon opened #72655 ""Summarize" operator error for example query"
In the section [Data volume by Azure resource, resource group, or subscription](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-cost-storage#data-volume-by-azure-resource-resource-group-or-subscription), the example query for the ingested data size by subscription returns the following error:

'summarize' operator: Failed to resolve scalar expression named '_SubscriptionId'

---
#

[2021-03-23 23:24] TomParnell opened #72656 "dayOfWeek values based on Region setting for First day of week"
The documentation of dayOfWeek function needs to include that fact that the value returned is based on Region setting for First day of week i.e. if First day of week is Monday, then Sunday = 7

Suggested update, below

Return value | Type | Description
<day-of-week> | Integer | The day of the week from the specified timestamp, based on Region setting for First day of week. First day of week return

[2021-03-23 23:25] TravisCragg-MSFT commented on #65868
Closing this issue as it is resolved.

[2021-03-23 23:25] #65868 closed

[2021-03-23 23:34] TonySh127-ms commented on #72612
Hi Jeevan,

Thank you for your response.

Problem description:
The user account Oganesyan, Grachya (object id: ce0a37f0-4153-4139-b2f9-906c056af862) cannot login at application TCW Docusign SSO QA (object id: b6c77c12-9cc7-4f31-b6ec-8c323f5090ff)
Error: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'https://account-d.docusign.com/

[2021-03-23 23:46] shortpatti commented on #68826
#please-close

content updated

[2021-03-23 23:46] #68826 closed

[2021-03-23 23:47] VladKulyk commented on #72654
Please close the ticket/ Update PS AZ module helped for me

[2021-03-23 23:48] TravisCragg-MSFT commented on #72654
@VladKulyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-23 23:48] #72654 closed

[2021-03-23 23:52] jlichwa commented on #71545
Thank you @bakintunde. I updated the doc stating ".... as volume" to match AKS documentation. #please-close

[2021-03-23 23:52] #71545 closed

[2021-03-23 23:55] siliconWOLF commented on #59979
This behaviour was observed with a similar hub/spoke deployment with Bastion on the hub. Read access granted as per the documentation. The Global Subscriptions Filter subscriptions had the hub subscription unchecked. Checking this enabled the Bastion to be utilised as expected. Hope this helps someone else.

[2021-03-24 00:01] ruandersMSFT commented on #59979
@siliconWOLF Agree!  I also ran into that, in which the Global Subscription Filter did not have the subscription selected.  The result was that the Azure Portal kept prompting the user to create a Bastion Host (even though they actually have access to one via RBAC which is VNet Peered to the system they were trying to access).  Once the user added the subscription as "selected" to their view filte

[2021-03-24 00:10] laujan commented on #71988
#please-close

[2021-03-24 00:10] #71988 closed

[2021-03-24 00:12] BharathNimmala-MSFT commented on #72655
@mhyon Thank you for bringing this to our notice, we will review the feedback and update the document as needed.

[2021-03-24 00:25] BHeshka opened #72658 "QR Code?"
Were do we get the QR code to restore account. Even my IT administrator cannot figure this out.   It is easy to get the QR code when you first set up your account but how do you get it a second time?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Ind

[2021-03-24 00:35] stevenxzhou commented on #72247
Same issue may apply to 2.1.4 as well. Will fix it in version selfasserted-2.1.5. WIP

[2021-03-24 00:39] BHeshka commented on #37725
@MicrosoftGuyJFlo The information in the purple note section does not say how to reshow the QR code.  If by reshow, Microsoft means resetup, can we call it that instead of making it seem like we can restore the same token by rescanning a QR Code. The wording in the app should also say that you need to reset up the token. If the note in the purple information does link to the solution and I missed

[2021-03-24 01:49] Herman5006 commented on #72212
@SaiKishor-MSFT  I suspect this is document issue as the issue mentioned can be easily reproduced. Could you help to check whether this is document issue? Thanks.

[2021-03-24 02:08] peter-bertok commented on #63288
Still 100% undocumented in the Azure documentation.

This is the _only_ page that mentions that these are regular expressions!

[2021-03-24 02:26] Karishma-Tiwari-MSFT commented on #72451
The doc has been updated by the author for your first point. Thanks Cynthia.
Regarding the second point, I found the following thread on Stack overflow: https://stackoverflow.com/questions/65850971/ansible-parted-command-fails-when-new-disk-being-used

Please check this and let me know if you have further questions.

Thanks for bringing this to our attention. We will now close this issue. If there

[2021-03-24 02:26] #72451 closed

[2021-03-24 02:27] SCuffy commented on #71592
This error commonly occurs when Visual Studio or your method of authentication to your Azure subscription was done with a Microsoft Account and not an Azure Active Directory account. Is this the case for you?

[2021-03-24 02:40] Clare-Zheng82 commented on #72476
Thanks for the feedback! This article has been refreshed to correct the grammar error. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-03-24 02:40] #72476 closed

[2021-03-24 02:51] femsulu commented on #72044
redirecting to @bandersmsft to review doc-enhancement request.

[2021-03-24 03:59] JamesTran-MSFT commented on #72658
@BHeshka
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-24 04:03] SumanthMarigowda commented on #72347
@LilacBrandy ! Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-24 04:04] AnuragSharma-MSFT commented on #72436
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-24 04:04] #72436 closed

[2021-03-24 04:05] AnuragSharma-MSFT commented on #72500
@SogoGolf Awaiting your response on this.

[2021-03-24 04:10] AshokPeddakotla-MSFT commented on #66050
@qm13 Thanks for an update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-24 04:10] #66050 closed

[2021-03-24 04:11] AshokPeddakotla-MSFT commented on #71735
@qm13 Thanks for an update.
@gregdegruy We hope that address your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-24 04:11] #71735 closed

[2021-03-24 04:11] AjayKumar-MSFT commented on #72640
tokawa-ms, Thanks for taking time to raise a PR to improve the Azure doc. We appreciate the feedback and follow-up on this.

[2021-03-24 04:12] AjayKumar-MSFT commented on #72639
tokawa-ms, Thanks for taking time to raise a PR to improve the Azure doc. We appreciate the feedback and follow-up on this.

[2021-03-24 04:12] AnuragSharma-MSFT commented on #72601
@arcturusInk Thanks for pointing out the issue with the document. I am assigning it to content author to evaluate and update accordingly.

[2021-03-24 04:17] #72423 closed

[2021-03-24 04:18] MayankBargali-MSFT commented on #72656
@TomParnell Thank you for your feedback! We will review and update as appropriate.

[2021-03-24 04:31] AjayKumar-MSFT commented on #72443
spudcz, It should be 'git push azure master' - we have raised a PR and the doc would reflect the changes once the PR is merged. Thanks again for your feedback.

[2021-03-24 04:43] ram-msft commented on #72492
Thanks, @trevorbye Could you please review and help with the document update.

[2021-03-24 04:46] VikasPullagura-MSFT commented on #72634
@Sri-SD
Thanks for your Question! We are currently investigating and will get back on this.

[2021-03-24 05:25] HarshitaSingh-MSFT commented on #72399
@garthoid, can you follow these steps to enable diagnostic logs for control plane: https://docs.microsoft.com/en-us/azure/aks/view-master-logs

To search for logs related to your AAD authorization run the following query once you have followed steps mentioned in the link above:
[code]

Also, request you to check out [this](https://docs.microsoft.com/en-us/azure/aks/managed-aad#troubleshooting): Ma

[2021-03-24 05:37] kinetiq commented on #72168
@ggailey777  @brettsam  @felinepc Can confirm this problem re: IConfiguration. This is currently a show stopper for my efforts to port to Core 5.  Is there a workaround? I have code that needs to work in both MVC and Azure Functions.

[2021-03-24 05:49] CHEEKATLAPRADEEP-MSFT commented on #72642
@robotpukeko The video in the document talks about data lineage in Azure Purview:

![image](https://user-images.githubusercontent.com/79183421/112261876-a23db900-8c92-11eb-809d-9c79039c5092.png)

Could you please help me where does it talks about CVS and using AI for image recognition?

[2021-03-24 05:57] CHEEKATLAPRADEEP-MSFT commented on #72653
@YidiQin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-24 06:01] parwejp commented on #70841
@shashishailaj : I found out the issue few days back. Was repeat of my common mistake. Let me explain scenario. I am having durable function spinning of multiple activity functions. Unfortunately I missed to use HttpRequestMessage and set the token directly on shared httpclient in two of my 50+ methods. Hence correct access token was overwritten by another method with different token causing graph

[2021-03-24 06:01] #70841 closed

[2021-03-24 06:11] nellyontour opened #72662 "Azure Bastion Permissions"
In addition to the permissions below
Reader role on the virtual machine.
Reader role on the NIC with private IP of the virtual machine.
Reader role on the Azure Bastion resource.
Reader Role on the Virtual Network (Not needed if there is no peered virtual network).

You also need
Reader Role on the Azure Bastion Virtual Network.

I tested the setup with just the top 4 permissions in the following

[2021-03-24 06:20] henrikhelvete opened #72663 "500 Internal Server Error deploying Azure VM Image Builder DevOps Task (Preview)"
When trying to deploy the Image Builder task from the DevOps marketplace I'm met with a 500 internal server error.
I'm using this link that I found in the official docs.

https://marketplace.visualstudio.com/items?itemName=AzureImageBuilder.devOps-task-for-azure-image-builder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-24 06:23] Yangsh-w opened #72664 "Sample code will throw ArgumentException if the ‘Microsoft.Azure.Services.AppAuthentication’ is too old"
In [[Using the Microsoft.Azure.Services.AppAuthentication library for .NET]](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#asal) part of the doc [How to use managed identities for App Service and Azure Functions](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet), it's showing that we could use the 'Microsoft.Azure.S

[2021-03-24 06:28] star286 commented on #72280
@AjayKumar-MSFT Yes, I see that note. But I still don't know the reason why it uses 730hours. If you can explain, that will be good:).

[2021-03-24 06:43] chanuengg commented on #72642
This has been fixed. Thanks.

From: CHEEKATLAPRADEEP-MSFT ***@***.***>
Sent: Tuesday, March 23, 2021 10:49 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Chandru Sugunan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Purview data lineage introduction - incorrect video (#72642)

@robotpukeko<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2

[2021-03-24 06:44] konabuta opened #72665 "Synapse Analytics SQL Pool Support"
Currently Azure Synapse Analytics SQL Pool is not officially supported. Please describe explicitly that Azure ML doesn't support Synapse Analytics SQL Pool in this doc.

Regards,
Keita

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c92a0e-152f-39b0-a27f-ad608ffbcaf7
* Version Independent ID: 867dba15-0ead-ee87-037c-0

[2021-03-24 06:57] emaborsa commented on #72218
Hi,
don't know what I did different now, but I have been able to get it to work.

[2021-03-24 07:12] #71936 closed

[2021-03-24 07:13] GitaraniSharma-MSFT commented on #71936
@akshaymatmicrosoft , I have added the bullet point as agreed and it will reflect shortly on the doc:

![image](https://user-images.githubusercontent.com/67630903/112269593-922bd680-8c9e-11eb-8faf-bf57c58720e7.png)

[2021-03-24 07:17] lgayhardt commented on #48222
Sorry for the delay, thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1829148) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-03-24 07:17] #48222 closed

[2021-03-24 07:26] ram-msft commented on #72665
@konabuta Thanks for the feedback! We will review and update accordingly.

[2021-03-24 07:27] lgayhardt commented on #48224
Thanks for your feedback. I will combine this issue and the other you made [48222](https://github.com/MicrosoftDocs/azure-docs/issues/48222) in an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1829148) to update the Telemetry context: Application Insights data model doc.  I'll close out this issue for now but will @mention you when the update

[2021-03-24 07:27] #48224 closed

[2021-03-24 07:46] jokarl commented on #72439
Thank you for the answer, clarifies both my questions perfectly!

[2021-03-24 07:46] #72439 closed

[2021-03-24 07:57] blazyy opened #72669 "'PredictionOperations' object has no attribute 'get_slot_prediction'"
I'm getting the following error:

[code]

I have no clue why, as the code is exactly as specified in the LUIS documentation, in the [client libraries section](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/client-libraries-rest-api?tabs=windows&pivots=programming-language-python).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-03-24 07:59] tomkerkhove opened #72670 "Azure Logic Apps - Deploy to Docker should not hardcode connection strings"
Deploy to Docker guidance adds the following to the Dockerfile:
[code]

This has several issues:
- The container image contains secrets baked into it
- The container image is tied to a certain environment

The guidance should be updated to remove that and pass it as an environment variable when running it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-03-24 07:59] t-leblanc commented on #72230
Thank you @SadiqhAhmed-MSFT for your suggestion, we will use the RSS feed for now. It would be good that in the future this type of notification will be integrated in Log Analytics or ASR so an ever changing admin time can be notified in an easy way.

[2021-03-24 08:00] JonRunheim commented on #22631
I have the same issue on Mac OSX Big Sur, Swedish date & keyboard settings, same problem using both Edge Chromium and Safari.. Have not found any way around it yet.

[2021-03-24 08:27] dhilgarth opened #72672 "Add troubleshooting section to AAD Pod Identity documentation"
I have setup an AKS cluster as described in the documentation but my pods still can't authenticate.
The documentation is severely lacking any troubleshooting steps for that case.
Please add

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4

[2021-03-24 08:28] prabhakarreddy1234 commented on #42603
Is there any update on it ?

[2021-03-24 08:45] roopesuomalainen commented on #62877
@JamesTran-MSFT - anything that could be done here? I have tried this tens of times and always failing. It is also very disappointing to go through create support ticket flow and in the final phase, you are told that your plan does not allow you to do it.

[2021-03-24 08:53] dkattan commented on #62877
I’ve got a support request open currently, they identified my UPN as having been flagged for risky sign-in (it was from a benign event from a conditional access policy change a few months back) and suggested that if I resolve the risky sign-in, then it would work.

I resolved it 16 hours ago and the error is still occurring.

[2021-03-24 08:53] YutongTie-MSFT commented on #72669
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-24 09:15] CHEEKATLAPRADEEP-MSFT commented on #72642
@chanuengg thanks for the confirmation.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-24 09:15] #72642 closed

[2021-03-24 09:20] CHEEKATLAPRADEEP-MSFT commented on #72488
@chinmoysarangi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-24 09:21] qm13 commented on #72481
#please-close

[2021-03-24 09:21] #72481 closed

[2021-03-24 09:21] qm13 commented on #72480
#please-close

[2021-03-24 09:21] #72480 closed

[2021-03-24 09:26] LanderVe opened #72674 "Code snippets for .NET v12 are incorrect"
`await blob.GetPropertiesAsync` returns a `Response<BlobProperties>` not `BlobProperties`

[code]

should be

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c6dc17-5057-abdd-506d-4d7b294925d9
* Version Independent ID: 64ad32f4-f946-61f7-d105-8cd9205505f3
* Content: [Manage properties and metadata for a blob wit

[2021-03-24 09:36] shashishailaj commented on #72649
@beppe9000 Thank you for your feedback . We will investigate and update the thread.

[2021-03-24 09:38] codexponent commented on #14413
@flatrixnet @Pesonet1 @bwren @femsulu @MGoedtel . I actually found a solution for this problem. It turns out that the answer was in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/customer-managed-keys?tabs=azure-cli#customer-managed-key-for-saved-queries) documentation. When you enable Customer managed key for saved queries, the Pin to dashboard will not be supported and the prer

[2021-03-24 09:53] blazyy opened #72675 "'EntityExtractor' object has no attribute 'children'"
Trying to create a LUIS app through the client library but getting an error. The code has been copied from the document as is. If it helps, the code worked on March 3, but isn't working now.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcbc7152-8b7e-bb38-1b1c-13f449919eee
* Version Independent ID: c520b585-73

[2021-03-24 10:03] ricktam1469 commented on #72511
Yes it is resolved.

[2021-03-24 10:03] #72511 closed

[2021-03-24 10:51] atb-laktionov opened #72676 "Link to script points to catalog"
Hi!
In the article under the "Unregister a VMM server" paragraph at item 6 mentioned cleanup script, and there is a link
Unfortunately, that link points to catalog, not the script
And we couldn't find script in that catalog
Fix it, please :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e25918-0eab-3275-8f0e-3d5d60d

[2021-03-24 10:52] VikasPullagura-MSFT commented on #72672
@dhilgarth
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-24 10:52] VikasPullagura-MSFT commented on #72672
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-24 10:53] AjayKumar-MSFT commented on #72664
@Yangsh-w, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-24 10:59] AjayKumar-MSFT commented on #72271
garthoid, No worries! thanks for taking time to post your question and follow-up on this. It's much appreciated.

[2021-03-24 11:01] AshokPeddakotla-MSFT commented on #72258
@elqu20 Thanks for an update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-24 11:01] #72258 closed

[2021-03-24 11:11] AjayKumar-MSFT commented on #72628
@hansellb,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

Since you have closed the issue, so I presume you have resolved the issue.
As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

Thanks again for t

[2021-03-24 11:12] rvm1975 commented on #68538
Hola el correo se quedó en un lugar no visible pero quedó a sus órdenes para cualquier ayuda que pueda recuperar la cuenta ya que se utiliza para el trabajo gracias

[2021-03-24 11:12] Zhaph opened #72677 "Call out that Premium 1 or 2 licenses are required to use the feature."
The licensing requirements to use this feature are buried at the bottom of the linked page. It would be good to include a note to that effect on this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b20c1bb-dbfc-06db-b5b4-ce9d67c004cd
* Version Independent ID: acbdb973-4c76-db09-400d-013e364f2dba
* Content

[2021-03-24 11:18] rmhomecouk commented on #49947
This really ought to show that it will **work** inbound but if it's not recommended then please state why it's not recommended. We have services using Teams / Graph and it's difficult to lockdown inbound traffic due to lack of M365 service tags. We use AzureCloud to at least block the non MS ranges from inbound access to our services.

[2021-03-24 11:20] mickhowarth opened #72678 "Too many assumptions"
Too many assumptions are made here as to the user's knowledge of powershell, what it is, where and how to install it etc etc.

I've simply enabled Security Defaults and locked out all of my users from Exchange and need to fix this. Surely this should be something that should be easier to fix?!

I'm now in an absolute rabbit warren of tech documents regarding setting up legacy defaults via powershe

[2021-03-24 11:21] NavtejSaini-MSFT commented on #72446
@sunilagarwal Please help with the doc enhancement for this document.

[2021-03-24 11:40] simonvane commented on #72541
Thanks for the response and suggestion @alex-frankel .

The workaround of using a different resource group for the deployment script could work for us in some cases. It does make it more awkward and more work though.

Am I right in thinking that would require using a [nested template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates?tabs=azure-powershell#nes

[2021-03-24 11:48] SwathiDhanwada-MSFT commented on #72676
@atb-laktionov Thanks for raising this issue. Kindly note our content team is working on this to fix. A similar issue #71086 has been raised and the content team will post their updates in that issue.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-24 11:48] #72676 closed

[2021-03-24 11:49] simonvane commented on #72538
Thanks. That's a good addition. That would have saved me some time.

[2021-03-24 11:50] SubhashVasarapu-MSFT commented on #72662
@nellyontour, Thanks for reaching out. We will investigate and update this thread.

[2021-03-24 11:52] rvm1975 commented on #68538
Y disculpen pero yo no genere este problema tan solo les he pedido la recuperación de mi cuenta ya que tengo el tiempo solicitándoles ni contraseñas

[2021-03-24 11:53] rvm1975 commented on #68538
Si tuviera mi cuenta le aseguro que no les molestaba ya que solo ustedes pueden recuperarmela y les agradecería mucho que me ayudara a tenerla muchas grs

[2021-03-24 11:57] simonvane commented on #72539
Thanks for your response @mumian .

Although the documentation does say what you've just told me, it would be helpful and would have saved me a lot of time, if this part of the documentation said explicitly that you cannot use your own ACI:
[code]

Perhaps something like the following could be appended?
"Please note that you cannot use an existing Azure Container Instance, this can only be used to

[2021-03-24 12:08] AjayKumar-MSFT commented on #72438
@m-gug, Apologies for the delay! The private IP used for the health checks are internal to stamps, and should not be used to as 'access filter'
![image](https://user-images.githubusercontent.com/44606227/112307114-8d7b1880-8cc6-11eb-8c81-7422effccded.png)

On a similar note, your feedback has been shared with the product (and content) team and the doc update is awaited (but  there is no ETA on thi

[2021-03-24 12:15] PramodValavala-MSFT commented on #72663
@henrikhelvete Is there a specific doc that you are referring to here?

Do note that this repo is primarily for addressing doc related feedback. For other queries, [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) is a better place to engage the wider community.

[2021-03-24 12:19] PramodValavala-MSFT commented on #72670
@tomkerkhove Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-03-24 12:34] NikaKinska commented on #69790
Changes implemented https://github.com/MicrosoftDocs/azure-docs-pr/pull/151832 .

[2021-03-24 12:37] #72443 closed

[2021-03-24 13:06] m-gug commented on #72438
@AjayKumar-MSFT thank you for the information!

[2021-03-24 13:06] #72438 closed

[2021-03-24 13:08] diablodale commented on #72481
Hi @qm13. I think you made a change that isn't correct as per official onx docs.
You were successful with `ORT_TENSORRT_CACHE_PATH`. Thank you..

However, you made an additional change and renamed `ORT_TENSORRT_ENGINE_CACHE_ENABLE` when it was already correct.
Therefore you have introduced an error in usage/documentation. As I look at the onx runtime code itself (even the most current master), the

[2021-03-24 13:41] dmoll-nex opened #72680 "Dead link at the bottom of the page"
In "Next Steps" at the bottom of the page, the first bullet point "Quickstart: Enable users and create a SQL endpoint" which leads to https://docs.microsoft.com/en-us/azure/databricks/sql/admin/admin-quickstart goes to a 404 page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1095c135-0915-f6c8-

[2021-03-24 13:49] nkumars opened #72681 "B2C User flow API Connector: Unable to set extension attributes in token even after returning them in response"
Hi,

Per the link in the document [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-api-connector#example-of-a-continuation-response) **it is possible to return extension attributes to be part of claims**. But to my surprise, I don't see them in the token at all.

I return the key-value pair with key that matches exactly the one existing for other users.

For all federated use

[2021-03-24 13:56] fschoening opened #72683 "Single-quotes should be removed in "az provider register --namespace 'Microsoft.Storage'""
Running `az provider register --namespace 'Microsoft.Storage'` gives the following error using Azure CLI:

Instead, execute without the quotes like this:
`az provider register --namespace Microsoft.Storage`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da2e215-16f4-4cfa-9df8-ed2f62f2d690
* Version Independent ID: b3e

[2021-03-24 14:00] UtpalMattoo opened #72684 "localhost refused to connect"
I followed the steps exactly. But I get this localhost refused to connect. I am using Chrome. and the port number I get from the ssh command is 8889

[![image](https://user-images.githubusercontent.com/30846264/112322960-ba5c0b00-8c87-11eb-97f5-d53c26ff86d0.png)
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b2c8a7

[2021-03-24 14:04] diablodale opened #72685 "missing several dependent files for body tracking v1.1.0"
There are several files missing from the list of "needed files" for Body Tracking v1.1.0.

For example:
[code]

I recommend inspecting the install of Body Tracking v1.1.0 in the `tools` subdirectory and `sdk\windows-desktop\amd64\release\bin`. Check each file in both directories. It could be not all in that directory are needed (e.g. k4abt_simple_3d_viewer.exe). But I am confident that some of the

[2021-03-24 14:12] ukphillips commented on #64660
@Jarlotee I believe that link is using a System Assigned managed identity, are you using a User Assigned one? I am using a user assigned and am still having no luck. I even tried following this example (which seems like a hack) https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/use_user-assigned_managed_identities.md but is still not working

[2021-03-24 14:14] wolfgangstemberger commented on #25357
In addition to @MickBadran 's post: I only had to enable staging and don't do anything regarding ports. I used a self hosted IR for Oracle and a standard Azure IR for both the blob storage and the SQL Server

[2021-03-24 14:15] xmasteron opened #72686 "update last update time of the document."
[Enter feedback here]
kindly update the last update time of the document as cx does not go though the document as its last update date shows as year 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735c7fb4-13e2-36b1-6310-85e525b01f90
* Version Independent ID: 99b5b1f2-e588-e879-796f-5922c3dd1258
* Content: [Connec

[2021-03-24 14:30] YutongTie-MSFT commented on #72675
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-24 14:36] simion314 opened #72688 "Missing all requiered informations"
Comming from the Text to speech documentation pages where all requests are documented including REST/curl documentation , this page is only providing C#,Python and Java examples, this API should also include a clear pure HTTP/curl docuemntation so other languages could be used with it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-24 14:43] steffigro opened #72689 "Link to the Github containing the update files is empty. Private Preview Update files accessible"
IMPACT: If a device needs to be resetted via USB, this is not possible bc the update files are missing from the Azure Percept Github and the link leads to an empty sub-page.

Under the heading "Download software tools and update files" in the docs,
the link to the download files is empty (date: 03/24/2021)
Link: https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/update

[2021-03-24 14:49] MarileeTurscak-MSFT commented on #72677
@Zhaph
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-24 14:51] andybooth opened #72690 "Descriptions for SQL language LEADING and TRAILING missing for Query Acceleration shows placeholders"
String functions are described in the table for all other supported expressions, but a placeholder of text "Description" is only shown for LEADING and TRAILING. https://docs.microsoft.com/en-us/azure/storage/blobs/query-acceleration-sql-reference#string-functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80372771-

[2021-03-24 14:52] Peter-B- commented on #72220
Thanks a lot.

[2021-03-24 14:53] jeevansd commented on #72612
@TonySh127-ms This article is talking about using Docusign Production instance. What you are trying with is using Docusign QA/Demo environment which is very different. We will add these patterns here and that way you can use these URLs here.

[2021-03-24 14:55] Svijay-msft commented on #72684
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-24 14:56] MarileeTurscak-MSFT commented on #70935
Can you please confirm - are you trying to set password expiry for a user in staged roll out?

And did you enable enforceCloudPasswordPolicyForPasswordSyncedUsers prior tp enabling PHS or after that?

[2021-03-24 15:03] opticyclic commented on #72598
OK. Thanks for the info.
I think the issue is not when it is running but when the deployment has failed or partially failed and so you can't see any logs.
When it is running this page actually shows logs coming through.

[2021-03-24 15:05] paulfinol commented on #72597
correct

Paul Finol

On Tue, Mar 23, 2021 at 11:26 AM Tom FitzMacken ***@***.***>
wrote:

[2021-03-24 15:06] paulfinol opened #72691 "Disk size"
Resolve common issues
Each disk should be smaller than 4 TB.
The operating system disk should be a basic disk, not a dynamic disk.
For generation 2 UEFI-enabled virtual machines, the operating system family should be Windows, and the boot disk should be smaller than 300 GB.

OS disk should be smaller than 4TB, data disk smaller than 8TB
Right?

Thanks

---
#### Document Details

⚠ *Do not edit thi

[2021-03-24 15:09] alex4108 opened #72692 "Change Health Probe Snippet "ILBIP" to reflect any load balancer type"
In the section, "Configure cluster probe", there is a powershell snippet which configures the TCP Health Probe for the Failover Cluster Role, and sets the IP address of the Role.

This snippet explicitly uses the variable, "ILBIP", referring to an Internal Load Balancer IP.  When transferring my infrastructure from a Private to a Public load balancer, it wasn't apparently evident due to the variab

[2021-03-24 15:10] tamram commented on #72683
@fschoening - Thanks for your feedback! Whether you need to include the quotes depends on the environment in which you are running the CLI.

In the Azure docs, we use the quotes as our standard - see the CLI reference for [az provider register](https://docs.microsoft.com/cli/azure/provider?view=azure-cli-latest#az_provider_register) and the [CLI docs](https://docs.microsoft.com/azure/cloud-shell/q

[2021-03-24 15:10] #72683 closed

[2021-03-24 15:12] fschoening commented on #72683
Thanks for clarifying, @tamram :) My bad, I was on Windows/cmd and didn't really consider environment differences.

[2021-03-24 15:13] SamaraSoucy-MSFT commented on #72680
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-03-24 15:20] guybartal opened #72693 "update LVA cloud-to-device-console-app to LVA 2.0 version"
running the console app giving these results:

-----------------------  Request: GraphTopologyList  --------------------------------------------------

{
    "@apiVersion": "1.0"
}

---------------  Response: GraphTopologyList - Status: 400  ---------------

{
    "error": {
        "code": "BadRequest",
        "message": "The request is invalid",
        "details": [
            {

[2021-03-24 15:21] jlorich opened #72694 "Referenced to archived product"
Hello - this document seems to reference a now-archived repo: https://github.com/Azure/device-simulation-dotnet/blob/master/README.md and the solution accelerator site fails to load this accelerator to deploy.

I would recommend we either fix this page to use the up to date device simulator: https://github.com/Azure/azure-iot-pcs-device-simulation or remove it.

---
#### Document Details

⚠ *Do no

[2021-03-24 15:25] JamesTran-MSFT commented on #72247
@sgdesmet
I just wanted to check in and see if you had any other questions or if you had a chance to see if version 2.1.4 will work for your environment?

[2021-03-24 15:29] mamccrea commented on #72680
#reassign: @mssaperla

[2021-03-24 15:47] JerryMSFT opened #72696 "Documentation is dated"
Need update documentation as the portal has changed. Now way to create a project as per the current instructions

![image](https://user-images.githubusercontent.com/443299/112339689-49701f80-8c96-11eb-96e4-19267075f479.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dc0f9e8-9503-5d8c-e597-66c629e23357
* Version In

[2021-03-24 15:55] BrooksV opened #72697 "Examples returns null results"
I have followed the API documentation and examples which returns a Null Response and no errors.

I tried it with several different resources such as Microsoft.Storage/storageAccounts & Microsoft.Network/routeTables with same results.

Not sure if the docs are missing something or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-03-24 15:55] alex-frankel commented on #72541
Yep, exactly. Nested templates support dependsOn. FWIW, if you are using [bicep](https://github.com/azure/bicep) you can split this up into multiple files with modules for ease of management, but this will still transpile into a single ARM Template with nested templates for deployment. In bicep, the dependsOn gets handled for you automatically.

You can also choose to deploy the bicep code directl

[2021-03-24 15:56] SaschaSeipp opened #72698 "Adding "App roles" no longer in preview, also some issues with default "user" role"
Hi there,

two remarks:

1. Not sure if this is true for all tenants, but it seems the "App roles UI" is no longer in preview - at least it does not say anything of "preview" in my tenant, so you might want to update the documentation accordingly.
2. Something I always find quite irritating, given that I don't add App roles to applications that often: the two default roles "user" and "msiam_access

[2021-03-24 15:59] SatishBoddu-MSFT commented on #72694
Hello @jlorich Thanks for the feedback.

I have assigned the issue to the content author for further review.

[2021-03-24 16:03] DCtheGeek commented on #72697
#assign:DCtheGeek
#label:"product-question"

[2021-03-24 16:06] msmimart commented on #71139
#please-close

[2021-03-24 16:09] DCtheGeek commented on #72697
@BrooksV Thanks for the question. Are you querying the `resourceChanges` or `resourceChangeDetails` endpoint and getting no results?  If you aren't getting any results for `resourceChanges`, make sure the resource you query for had an Azure Resource Manager property changed between the `interval.start` and `interval.end` time.  Note that the time format is **Zulu Time Zone (Z)**.  Try a wider wind

[2021-03-24 16:10] SumanthMarigowda commented on #72674
@LanderVe Thanks for the question! We are investigating and will update you shortly.

[2021-03-24 16:17] Oury-MSFT commented on #72686
@xmasteron Thank you for your feedback . We are looking into this and will get back soon

[2021-03-24 16:20] GiftA-MSFT commented on #72688
@simion314 we'll review your feedback and get back to you shortly. Thanks.

[2021-03-24 16:25] #72549 closed

[2021-03-24 16:27] asudbring commented on #72486
Hi @AbhishekTripathi
That article doesn't mention HTTPS because it's not required to setup a custom domain.  HTTPS would require an integration with Keyvault to store the SSL cert to enable HTTPS.  That is out of the scope of that article.

#please-close

[2021-03-24 16:28] #72486 closed

[2021-03-24 16:30] asudbring commented on #72508
Assigning to PM for review
#reassign:@erichrt

[2021-03-24 16:31] JayaChatterjee-MSFT commented on #72402
@ggailey777 Any suggestion on this?

[2021-03-24 16:33] #71733 closed

[2021-03-24 16:35] sgdesmet commented on #72247
@JamesTran-MSFT I just tested version 2.1.4, and as @stevenxzhou already suspected, the issue was not solved yet.

![image](https://user-images.githubusercontent.com/1021366/112347167-f498cd00-8cc6-11eb-9728-d35212e059cf.png)

[2021-03-24 16:39] JamesTran-MSFT commented on #72247
@sgdesmet
Thank you for the quick follow up!

Since @stevenxzhou is part of our PG team, it sounds like they'll "fix it in version selfasserted-2.1.5. WIP". I'll also update my team on this and see if there's anything else we can do from our end.

[2021-03-24 16:41] felinepc commented on #72168
@kinetiq I had to make a few duplicate service configuration code files and use `Environment.GetEnvironmentVariable` just for the Azure Function project.

I also configured some options directly via `services.AddOptions<TOptions>().Configure(options =>{...})`.

Thankfully my project is still small. I can see this being a problem for larger projects that already make heavy use of the IOptions patte

[2021-03-24 16:41] VikasPullagura-MSFT commented on #72634
@Sri-SD Can you share the document link that you followed.
Following the instructions in this [document](https://docs.microsoft.com/en-us/azure/aks/ingress-basic) with the latest helm chart (3.25.0) on a cluster, the instructions are successful.

Looks like the API's you mentioned are having issue. As, this issue needs deeper investigation I would request you to open a support ticket.

If you do n