[2020-06-19 05:59] RBStarkey opened #57423 "Well written"
This is a well written paper.  It is easy to understand - a feature not usually found in this subject

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens - Microsoft ident

[2020-06-19 06:03] dcallagh commented on #37484
Essentially from what I see you cannot use ANY Azure ALG 'inline' without using NAT?  Best off configuring your own ModSec ALG, might even be cheaper. :-)

Not sure why we cannot have the API call work through the firewall, deliberate?

Solution - provide a routing service tag please for the control plane, then we simply add that to the UDR

[2020-06-19 06:13] theredrighthand opened #57424 "rdp azure troubleshooting"
Noice

[2020-06-19 06:13] #57424 closed

[2020-06-19 06:17] jjindrich commented on #57231
Thanks for answer. Can we track this feature request somewhere ?

[2020-06-19 06:27] KrishnaG-MSFT commented on #57135
@ChenRahimiPlaytika Verified and updated the document as required. The changes will go live in some time i.e., in less than 24 hours. Thanks.

[2020-06-19 06:27] #57135 closed

[2020-06-19 06:30] vipulsparsh commented on #57226
@ifslearning  I checked this internally, it seems we are planning to release a V3 user flow which will supersede these in few months. The exact ETA is still unknown, but it is coming in few months.

[2020-06-19 06:36] algattik opened #57425 "Add mention of Private Link"
The sentence "Connect Azure Databricks to other Azure services (such as Azure Storage) in a more secure manner using service endpoints." should also mention Azure Private Link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1c527c328a7e
* Version Independent ID: 5342d01e-c2da-f7a8-d22e-86995a17a

[2020-06-19 06:43] dagefjestad opened #57426 "Can't give a service principal permission to create subscriptions"
If I try to use the recipe to give the rights to a service principal instead of a user i get the following errors:
az role assignment create --role Owner --assignee-object-id ****** --scope /providers/Microsoft.Billing/enrollmentAccounts/*****
Principals of type Application cannot validly be used in role assignments.

or

New-AzRoleAssignment -RoleDefinitionName Owner -ObjectId ***** -Scope /provi

[2020-06-19 06:49] damendo commented on #56192
Able to access the case, thanks.

[2020-06-19 06:50] KranthiPakala-MSFT commented on #57157
Hi @VitalyMCT, Yes, it is recommended not to do parallel execution of data flows against the same Azure IR with TTL is because you'll end-up spinning up multiples pools which will take longer startup time and increase the cost.

Only recommended to use TTL in sequential scenarios.

Please refer to below diagram.

![image](https://user-images.githubusercontent.com/50185738/85104903-4d7a8880-b1be-11

[2020-06-19 06:52] KranthiPakala-MSFT commented on #57157
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-19 06:52] #57157 closed

[2020-06-19 06:54] KranthiPakala-MSFT commented on #57425
@algattik  Thanks for the feedback! We have assigned the issue to the content author to evaluate this and update the document as appropriate.

[2020-06-19 06:54] KrishnaG-MSFT commented on #57402
@EdwardP-VEN Verified and updated the document as required. The changes in the document would reflect after sometime i.e, in less than 24 hours. Thanks.

[2020-06-19 06:54] #57402 closed

[2020-06-19 06:56] Dev-ML11 commented on #56048
@SwathiDhanwada-MSFT  can you please let me know if any update from your team on this.

[2020-06-19 06:56] SadiqhAhmed-MSFT commented on #57332
@bandersmsft Could you please clarify?

[2020-06-19 06:56] v-hakob opened #57427 "Is the Log Analytics (OMS) gateway free?"
Could you confirm there are costs to use the Log Analytics agent?

I don't find documents about costs relating to the Log Analytics gateway. I saw the documents saying there are no costs associated with log analytics agent, but don't find the pricing information about Log Analytics agent in the pricing page. Thank you.

[2020-06-19 06:58] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Apologies! I haven't received response yet. I will follow up and respond asap.
Thanks for your understanding and patience.

[2020-06-19 07:01] SadiqhAhmed-MSFT commented on #57356
@SwiftDavid Could you please describe your issue in detail?

[2020-06-19 07:07] DiSae opened #57428 "unclear permission assignment to user-assigned managed identity"
Hi,

As the documentation describes you can assign a role to a user-assigned managed identity.

I find it unclear as to what specifically you need to assign permissions to.

1. Go to the managed identity
2. Go to IAM
3. Add role, let's say Contributor
4. I then have to select 'Assign access to'... Not sure what to select here (unclear)

Why would I need to set permissions here? I created a user-as

[2020-06-19 07:09] shashishailaj commented on #57423
@RBStarkey Thank you for your feedback . We are glad that the document did help and you find it well written . At Microsoft we try to provide the documentation which gives best experience to our readers. And it was thought that if the documentation was moved to github and open sourced , we would better connect with our readers by giving them an opportunity to have a say in how they expect the docu

[2020-06-19 07:12] shashishailaj commented on #57428
@DiSae Thank you for your feedback . We will investigate and update the thread further.

[2020-06-19 07:16] shashishailaj commented on #57062
@firephantomassasin My apologies for missing out on linking the post . Please find the post here.
https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/40668055-allow-recover-or-purge-soft-deleted-azure-key-vaul . Also We have good news on this. We have had got this discussed internally and the work has been started on this. Please upvote the link which will help with this features

[2020-06-19 07:20] mike-urnun-msft commented on #56952
@Expecho Thank you for sharing your feedback and helping us drive improvements towards MS Docs! I've created a PR that makes the `host.js` link to deep-link into the `applicationinsights` section. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-19 07:20] #56952 closed

[2020-06-19 07:20] shashishailaj commented on #57325
@mandiaya di you have a chance to get the error message on this one ?

[2020-06-19 07:22] shashishailaj commented on #57423
@RBStarkey We will close this issue now as there is nothing pending from our side. Should you have any query, please feel free to tag me to you reply or open a new issue on the related page.

Thank you.

[2020-06-19 07:22] #57423 closed

[2020-06-19 07:23] SeaDude opened #57429 "Please make sku's more evident."
I want to buy a premium app service plan for my azure function. I can't find the premium skus referenced ANYWHERE! Please make a clear link to the SKU's.

Its also unclear which SKU's work with which runtimes (Windows vs. Linux).

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c

[2020-06-19 07:28] tinytortoise-dev opened #57430 "Translator API always gives me 404"
I'm trying to use translator API through a free trial subscription. After creating it, I set resource groups and add cognitive service to it. On that cognitive service page, I followed the "Quick Start" guide and got a pair of keys and ENDPOINT url.

Then I followed this document. It says an API key and endpoint are needed to use translator API. And I've already got them.
https://docs.microsoft.co

[2020-06-19 07:36] Bazrat24 opened #57431 "User experience when user logins."
We have enabled this feature as our users UPN is different to their email address and they get confused when asked to enter their Windows username followed by @domain. We were therefore excited when this preview came out.

However, when a user logs in using their email address, it doesn't seem to provide the same permissions as logging in as the UPN. e.g. The download for Office disappears.

Also,

[2020-06-19 07:39] VikasPullagura-MSFT commented on #56990
@StingyJack Any update on this? Can you please share requested details.

[2020-06-19 07:40] VikasPullagura-MSFT commented on #57057
@rdeltcheva Can you please add your comments on this.

[2020-06-19 07:45] VikasPullagura-MSFT commented on #57310
@kprpg Any update on the issue?
Can you please share the requested details.

[2020-06-19 07:58] BharathNimmala-MSFT commented on #56993
@anilrv Thanks again for your query, post validating this with our internal teams it has been called out that Public IP addresses cannot be retained. One should use traffic manager to ensure no impact.

Hope this information helps. I will further work with our document authoring to raise a PR to update the document as needed by next week.

At this point it appears that there's no further edits or

[2020-06-19 07:58] #56993 closed

[2020-06-19 08:14] Oppedijk commented on #57403
Can you please double check if this was the correct solution, as this sample is really bad. In another issue #55576 I found a different explanation, that you would need to start the "prerequisite" application.

Either way, the document is missing that the reply url with https://jwt.ms should be added. Also issue 1 from #55576 is still there.

This whole sample thing is a mess and too complicated e

[2020-06-19 08:26] dedvds commented on #54885
Could we reopen this?  My customer has a similar issue when loading the App content for ACM. A Convertion step seems to be going wrong when loading the data into the reports.

https://appsource.microsoft.com/en-us/product/power-bi/costmanagement.azurecostmanagementapp?tab=Overview

and tutorial :

https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/analyze-cost-data-azure-cost-man

[2020-06-19 08:58] ehsf973 opened #57433 "give the definition of the acronym RPS ?"
[Enter feedback here]

" RPS Workloads" refers to what ?
All thinks of non native english learning with thoses docs.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2-a10795161d04
* Version Independent ID: d2b59e0c-0c35-a335-b523-64f4d6f29d09
* Content: [Introduction - Azure App Service Environment]

[2020-06-19 09:05] dgcaron commented on #48902
i ran into this with container instances and here is what i did to get this deleted when my container instance was removed and i couldn't remove the delegation.

using the az cli with a logged in user to obtain a jwt token
[code]

then using postman to issue the following calls:

add to the headers: "Authorization: Bearer |accesstoken from cli|"

[code]

after this i could remove the delegation us

[2020-06-19 09:21] joker-vn opened #57434 "Step #13"
I can not found class FirebaseMessagingService to inherit if spite of import Firebase.Messaging in my Project.
package: Xamarin.Firebase.Messaging, Version 120.1.7-preview01
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777

[2020-06-19 09:29] thisissubbuster opened #57435 "Migrate to Premium service bus from multiple standard namespaces"
We have two standard azure service bus namespaces in Production as part of DR strategy. Both are active-active. How can I migrate both the service bus namespaces to one single Premium service bs namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8576690c-ff62-9691-b66e-77beaa754431
* Version Independent ID: d0e6

[2020-06-19 09:32] firephantomassasin commented on #57062
@shashankbarsin Thanks! I already vote up. When will it be available in azure portal? I hope this can be prioritize. This is a very important feature.

[2020-06-19 09:40] JasSuri commented on #48396
It is really unclear what the question or goal is. To me it sounds like you want to pass through the ObjectId (or Unique Identifier) from the federated Identity Provider into the Azure AD B2C issued token? Is that right?  This is an unusual practice as the application will then not be able to ever correlate that back to its Identity Provider (Azure AD B2C), for example to do Graph API lookups.

Th

[2020-06-19 09:50] dfatkulbayanova opened #57436 "Change title of page"
The title on the left side menu - Transfer CSP subscriptions is very confusing as article describes transfer subscriptions TO CSP subscriptions - please change it to be more precise.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aef944e-c3da-70b4-47c4-9c45447d0a3c
* Version Independent ID: 4fb9a

[2020-06-19 09:52] KrishnaG-MSFT commented on #57426
@dagefjestad Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 09:53] KrishnaG-MSFT commented on #57427
@v-hakob Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 09:54] ansred commented on #57031
@MarileeTurscak-MSFT Sounds like a plan. Thanks for your help too.

For now, I am only using the classic experience - [https://account.activedirectory.windowsazure.com/ ](url)

and not the new/modern [https://myapplications.microsoft.com/](url)

To avoid complains by the users.

Looking forward to hearing from you soon.

[2020-06-19 09:55] KrishnaG-MSFT commented on #57436
@dfatkulbayanova Thanks for the feedback!
Assigning @bandersmsft for visibility, review and document enhancement consideration.

[2020-06-19 09:56] SadiqhAhmed-MSFT commented on #57065
@pkvk14 Since we haven't heard back from you on this, we will close this issue for now. Feel free to reach out to us with more details and we would be glad to continue the discussion.

[2020-06-19 09:56] #57065 closed

[2020-06-19 09:59] SnehaAgrawal-MSFT commented on #57433
@ehsf973 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 10:00] SnehaAgrawal-MSFT commented on #57434
@joker-vn Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 10:01] vatansoni89 opened #57437 "Do u have power-shell equivalent for same script, please help."
I am looking for power-shell  equivalent for same script, please help.
(you provided just bash and so many uses .ps1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0081e7b4-8ee8-3922-bfe7-849a0375b714
* Version Independent ID: 74f20b63-c25e-ffc9-c8c2-7c5e6dfaf323
* Content: [Create a database and collection for MongoD

[2020-06-19 10:03] SnehaAgrawal-MSFT commented on #57429
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 10:08] vatansoni89 opened #57438 "I followed instruction and I am getting error, please guide me."
I am looking for power-shell  equivalent for same script, please help.
(you provided just bash and so many uses .ps1)

Also if i just followed instruction (copy-paste to session) with BASH then its not working.

![image](https://user-images.githubusercontent.com/29680895/85121697-d76c3500-b242-11ea-82d5-dce23373c0ed.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-06-19 10:09] SnehaAgrawal-MSFT commented on #57430
@tinytortoise-dev Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 10:09] bizinbarefeet opened #57439 "no Upgrade Subscription listed."
This is a fail.  There is no Upgrade Subscription listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e2b8c0-6652-53b8-ff40-37473c359b7e
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upgrade your Azure account](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/upgra

[2020-06-19 10:13] MagicBulletDave opened #57440 "Create recommendation digest button greyed out."
I have followed the steps in the document, including creating action groups, etc.  However at the bottom of the page the Create recommendation digest button is greyed out.  There is nothing in the document explaining why this might be greyed out or how to fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b18093-767

[2020-06-19 10:13] MikhailTymchukFT commented on #57410
@Mike-Ubezzi-MSFT

This is what I try to figure out. I asked several sales [here in chat](https://azure.microsoft.com/en-us/pricing/details/synapse-analytics/), told them about our build pipeline which produces query bursts and that I want to migrate from provisioned resource model
<img width="1332" alt="Screenshot 2020-06-19 at 13 07 24" src="https://user-images.githubusercontent.com/62020066/851

[2020-06-19 10:13] SnehaAgrawal-MSFT commented on #57435
@thisissubbuster Could you please share the document you are referring to help you better on this.

[2020-06-19 10:16] lxsocon opened #57441 "View product licenses assigned to a group <- viewing disabled plans."
In the [View product licenses assigned to a group](https://docs.microsoft.com/en-gb/azure/active-directory/users-groups-roles/licensing-ps-examples#view-product-licenses-assigned-to-a-group) example, it says that the `Licenses` attribute will not tell you what any of the disabled plans are. This is true. However, the `AssignedLicenses` attribute _will_, via the nested `DisabledServicePlans` attrib

[2020-06-19 10:21] jkn opened #57442 "article incomplete - the documentation of the title part stating "and receive them in the token" is missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a token - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/howt

[2020-06-19 10:23] thisissubbuster commented on #57435
I was referring to this article:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-migrate-standard-premium

But this article talks about migrating one standard namespace to premium. But my requirement is to migrate  2 standard namespaces to the same 1 premium namespace

[2020-06-19 10:36] mohamed-shehata-m commented on #57351
Thank you, now I'm using ARG provider and I'm able to get the data that I want.

[2020-06-19 11:18] StingyJack commented on #56990
One that doesn't show it is an "enterprise dev/test".

[2020-06-19 11:23] smoms opened #57443 "can custom code run also on Self-Hosted IR?"
can custom code run also on Self-Hosted IR? For on-prem use cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independent ID: 9ec244a7-d939-3918-fc87-34ab1eec5293
* Content: [Use custom activities in a pipeline - Azure Data Factory](https://docs.microsoft.com/en-us/azu

[2020-06-19 11:28] piotrgwiazda opened #57444 "How AKS handles potential conflict of IP addresses of a provate load balancer and pods?"
I want to have a private load balancer with the annotation `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` and set a specific IP address for the load balancer in the Kubernetes subnet (**not specifying another subnet**).
Is there a risk, that some pod will "occupy" my selected IP address and the Load Balancer will not be created?
I have some deployments and services released, I w

[2020-06-19 11:30] Xyroid commented on #57082
Thanks @SatishBoddu-MSFT for your follow up. I am not stuck anywhere but I want to put better error handling. So if I am aware about the error codes then I can put relevant and user friendly error messages. So far I came across below given errors. All message are assigned in `Message` property of `ProvisioningServiceClientHttpException`.

- Updating the enrollment with IotHubHostName when allocati

[2020-06-19 11:52] VikasPullagura-MSFT commented on #57313
@thowilli I reached out to internal teams on this ask. However, currently there is no timeline for iOS and Mac support.

Requesting you to submit this feature request here in [feedback.azure.com](https://feedback.azure.com/forums/34192--general-feedback) or [UserVoice](https://windowsvirtualdesktop.uservoice.com/forums/921271-remote-desktop-clients) here.

Product teams prepare the backlogs based

[2020-06-19 11:52] #57313 closed

[2020-06-19 11:55] cloudruler opened #57445 "Missing an example of how to do external parameter files"
This page says: "It's possible to use an external parameter file, by providing the URI to the file. When you do this, you can't pass other values either inline or from a local file. All inline parameters are ignored. Provide all parameter values in the external file."

However, I'm not sure exactly how to specify an external parameter file. Please include a link to another page or an example.

---

[2020-06-19 11:58] jacksiergiej commented on #57031
@ansred how do you stop the classic UI from automatically switching to the new experience?   I tried to use https://account.activedirectory.windowsazure.com/, but as soon as I login, the portal automatically switches to the new experience and the URL changes to https://myapplications.microsoft.com/.

[2020-06-19 12:00] souravmishra-msft commented on #57020
@zzl1, I apologize for the delay in my response. We would like to connect with you offline and inoder to do that can you please drop us an email with your TenantName, SubscriptionID and your preferred time with timezone at **azcommunity[at]microsoft[dot]com.**

Do send us the email so that we can take this forward.

[2020-06-19 12:01] felipecruz91 commented on #19456
I also happen to experience the same issue. Anyone could *officially* confirm this is still planned?

[2020-06-19 12:15] abmis-mi opened #57446 "How to use storage account connection string from Key Vault instead of appSettings?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61008c1e-a107-ff6a-a5e8-26cd0b42b443
* Version Independent ID: b7a1b3c9-4165-8930-d309-da6420f26360
* Content: [Configure a connection string - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string)
*

[2020-06-19 12:26] mikenri opened #57447 "Is the supported Operating System list accurate? If so, remove OS versions that are end of life."
Is the supported Operating System list on this page accurate in terms of supported versions?

Red Hat Enterprise Linux 7.3 and CentOS 7.3 are both "End of Life" and they no longer receive security updates or bug fixes.

Only currently supported operating systems by the OS vendor should be considered to be supported.

Red Hat Enterprise Linux and CentOS should be removed as being supported operatin

[2020-06-19 12:32] piotrgwiazda commented on #57444
Actually I've tested that it fails with "PrivateIPAddressIsAllocated" error when trying to create the load balancer. Please update the documentation.

[2020-06-19 12:33] RohitMungi-MSFT commented on #57267
@annelo-msft Based on the standards that i have observed with the documentation of cognitive services, the content team has been using the tabbed way for different programming languages. The content team can review this feedback and change this if required.

[2020-06-19 12:34] amanmcse commented on #57336
@JohnMoor Thank you for pointing this out. I have assigned the issue to the author of the document to make required changes.

[2020-06-19 12:40] fzoccara opened #57448 "target condition, shouldn't be NOT prefixed with AND or OR?"
[Enter feedback here]

Hello there,
I think this example condition on the target condition paraghraph is wrong:
`tags.operator = 'John' AND tags.environment = 'prod' NOT deviceId = 'linuxprod1'`
shouldn't be as:
`tags.operator = 'John' AND tags.environment = 'prod' AND NOT deviceId = 'linuxprod1'`
or as:
`tags.operator = 'John' AND tags.environment = 'prod' OR NOT deviceId = 'linuxprod1'`
?

Best.

[2020-06-19 12:46] VikasPullagura-MSFT commented on #57420
@MikeChristensen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-19 12:46] VikasPullagura-MSFT commented on #57420
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-06-19 12:47] VikasPullagura-MSFT commented on #57382
@azurejoe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-19 12:47] #57276 closed

[2020-06-19 12:47] VikasPullagura-MSFT commented on #57382
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-06-19 12:50] RohitMungi-MSFT commented on #57283
@GeekTrainer Thanks for the feedback. The link to the source code of azure SDK code for cognitive services is usually at the top of the page.

![image](https://user-images.githubusercontent.com/46958063/85133714-dba34d00-b258-11ea-9153-6d0c63bc40cf.png)

Along with some examples from the Azure-Samples repo at the bottom of page for all services.

![image](https://user-images.githubusercontent.com/

[2020-06-19 12:54] amanmcse commented on #57289
@SpockDK  What is the authentication mode you have selected for the user. Is the user required to provide a PIN or just select approve to complete the authentication?

Have you tried with Phone call option? Do you face similar issue in that case or it works with phone call and the issue is just with authenticator app?

[2020-06-19 12:58] RohitMungi-MSFT commented on #57430
@tinytortoise-dev If you have already created a new resource from azure portal you can use the endpoint name that is available on the resource page directly. For example:

![image](https://user-images.githubusercontent.com/46958063/85134578-5c167d80-b25a-11ea-8313-47c95bda94ba.png)

You can also use it as mentioned in the document.

![image](https://user-images.githubusercontent.com/46958063/85134

[2020-06-19 12:58] Jarrich commented on #24116
Can we please never - ever - suggest MSDN forums to people here? They are the most useless, un-helpful forum even conceived.

[2020-06-19 13:06] markjbrown commented on #57438
There is a full set of PowerShell samples in our docs here.
https://docs.microsoft.com/en-us/azure/cosmos-db/powershell-samples-mongodb

[2020-06-19 13:07] shashishailaj commented on #57431
@Bazrat24 Thank you for your query. We will investigate and update the thread .

[2020-06-19 13:13] markjbrown commented on #57422
Confirmed there is a bug in the link to this template in this doc.

You can workaround this by going directly to the template and deploying from GitHub here.
https://github.com/Azure/azure-quickstart-templates/tree/master/101-cosmosdb-free

Submitting a PR to correct the link today.

Thanks.

#please-close

[2020-06-19 13:13] #57422 closed

[2020-06-19 13:13] shashishailaj commented on #57442
@jkn Thank you for your feedback . We will engage with the content team and update the thread.

[2020-06-19 13:14] crisansou opened #57449 "Authenticate with Azure Active Directory - Error " New-Object: Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.SecureClientSecret]: verify that the assembly containing this type is loaded.""
Hello,

I'm following the steps in the link below to perform authentication by AAD, but I received the error message "New-Object: Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.**SecureClientSecret**]: verify that the assembly containing this type is loaded".

Does anyone know how to solve this issue?

![image](https://user-images.githubusercontent.com/29444086/85136197-aa555d80

[2020-06-19 13:17] shashishailaj commented on #57442
@kkrishna Could you please review this issue and see how best we can enhance the existing document ?

[2020-06-19 13:22] shashishailaj commented on #57441
@lxsocon Thank you for your feedback . We will have this reviewed with the content team and see how best we can improve the documentation.

[2020-06-19 13:29] HarrisburgUSysAdmin commented on #57244
Yes, it seems with all new accounts.  Here is another screenshot for a new faculty member recently setup in the system.  We have tried all browsers and even private browser sessions.  No luck.

Do you have an understanding of how MS determines the list of applications?

![AHabib](https://user-images.githubusercontent.com/52167303/85137435-3adc6f80-b20f-11ea-95a3-015708c43776.PNG)

[2020-06-19 13:31] VikasPullagura-MSFT commented on #57337
@deyanp
You can try creating a new pool with the other size as per your requirement,and ensure you have more than one replica for your application.
Then apply the PodDisruptionBudgets to ensure at least 1 or more replica are kept running. The go ahead and Drain old nodepool to new and optionally delete old nodepool.

Recommending to try this in non-production environment.

[2020-06-19 13:37] KrishnaG-MSFT commented on #57439
@bizinbarefeet Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 13:41] KrishnaG-MSFT commented on #57445
@cloudruler Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-19 13:45] RohitMungi-MSFT commented on #50892
@dargilco @ram-msft The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 13:45] #50892 closed

[2020-06-19 13:46] GiftA-MSFT commented on #57449
@crisansou we will review your feedback and get back to you shortly. Thanks.

[2020-06-19 13:49] RohitMungi-MSFT commented on #50897
@dargilco @ram-msft The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 13:49] #50897 closed

[2020-06-19 13:52] RohitMungi-MSFT commented on #50898
@dargilco @ram-msft The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 13:52] KrishnaG-MSFT commented on #57440
@MagicBulletDave Thanks for reaching out! I just tried to reproduce the issue and "Create recommendation digest" is not greyed out for me. However, one thing I observed while I was trying to reproduce the issue was, it stays greyed out until you fill out the name for it (which actually is seen only when you scroll down in your browser page). So I recommend you to please double check if you have pr

[2020-06-19 13:53] #50898 closed

[2020-06-19 13:54] Imbusyworking opened #57451 "new My Apps experience displays blank page in iOS My Apps application"
This [document ](https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-user-access#access-and-use-the-my-apps-portal-on-an-ios-device) states users can download the My Apps mobile [app ](https://apps.apple.com/us/app/my-apps-azure-active-directory/id824048653) to access Azure AD Enterprise apps.
However, I've found that when using the new experience this app will acc

[2020-06-19 13:59] mumian commented on #57445
@cloudruler - See https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-powershell, and https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-cli.  I will update the article.

[2020-06-19 14:00] VitalyMCT commented on #57157
@KranthiPakala-MSFT, thanks for your reply.

Yes, it's clear how the cost will be increased. The instances with TTL values will be sitting there after execution without any workloads.

However, you've also mentioned that having a TTL in that scenario "will take longer startup time". Can you elaborate on this please? I just can't see how having a TTL value impacts initial startup (in that parallel

[2020-06-19 14:03] RohitMungi-MSFT commented on #50907
@dargilco @GiftA-MSFT  The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 14:03] #50907 closed

[2020-06-19 14:08] MacKender commented on #16393
Any update on this issue?

AAD Connect is (implicitly) stated to be supported on Windows server 2019 Standard/DC but the version of LocalDB that's installed is based on MS SQL Server 2012 (SP4) - Which is _not_ supported on WSRV 2019. The [doc](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites) doesn't differentiate between using remote SQL Server

[2020-06-19 14:09] RohitMungi-MSFT commented on #50901
@dargilco @ram-msft The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 14:09] #50901 closed

[2020-06-19 14:12] RohitMungi-MSFT commented on #50902
@dargilco @ram-msft The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 14:12] #50902 closed

[2020-06-19 14:15] VitalyMCT opened #57452 "Version supportability"
Can you please clarify which versions are supported? There are two seemingly conflicting statements on this page:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0fee977f4beb
* Content: [Quickstart: Create an Azure Data Factory using

[2020-06-19 14:16] roygara commented on #49449
@OffColour @sladeedmonds @wcvanzyl Sorry for the delay.

After going back and forth with the product team, we've updated the guidance to be more clear. I'll paraphrase that guidance here: The default selection and what the script uses is a computer account. If, for whatever reason, your environment prohibits this, then you may alternatively use a service logon account.

That should clarify things,

[2020-06-19 14:19] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin Thanks for confirming. Let me check with our internal Teams and get back to you.

[2020-06-19 14:21] RohitMungi-MSFT commented on #50964
@dargilco @GiftA-MSFT  The steps on this page are now updated according to the latest changes to the portal along with this section.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 14:21] #50964 closed

[2020-06-19 14:35] DerekHerman-MSFT commented on #57446
@abmis-mi Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-19 14:41] souravmishra-msft commented on #57069
@billmath , Can you please take a look into this?

[2020-06-19 14:45] AronT-TLV opened #57453 "Finding data disk is unclear"
[Enter feedback here]
1. You should note that /dev/sdc is an example and it may be /dev/sda
2. lssci is not installed by default in UbuntuLTS. Perhaps you should add `lsblk` as a useful alternative to finding which is/are the data disks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2036c044-4fbd-6016-c026-fea724b530d6

[2020-06-19 14:45] tarunesh-saurav opened #57454 "tutorial is like overview"
ADF is mostly controlled by UI. But all related page talks about only code. It has example which can be decoded only by author. Instead you should put visual examples. This tutorial is not for beginners. People with prior knowledge can come and verify their understanding. That's this page do.
 [Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-19 14:49] mumian commented on #57445
I have created a PR.

#please-close

[2020-06-19 14:49] #57445 closed

[2020-06-19 14:51] mumian commented on #57383
@JFolberth - Thank you for your contribution.  Once the PR is approved, I will update the article.

[2020-06-19 14:55] harendra-prasad1 commented on #45050
Any update?

[2020-06-19 15:00] RohitMungi-MSFT commented on #52322
@CeciAc As there is no further update on the thread we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-19 15:00] #52322 closed

[2020-06-19 15:02] dougmolineux commented on #55678
thank you sir

[2020-06-19 15:02] #55678 closed

[2020-06-19 15:02] wrightmd93 commented on #18220
We faced the same issue so I can provide a little detail that might help the next person who comes across this thread.

We enabled MFA Adapter logging on our ADFS servers but were not getting any logs.  It turns out that when the MFA adapter starts up, it talks to the MFA App server to see if logging is turned on there, and then starts logging.  In our case, we had an issue with our MFA App server

[2020-06-19 15:04] KrishnaG-MSFT commented on #57343
@knuthalvor If you have enabled container insights metrics then ideally you should be able to see "CUSTOM" section with "insights.container/nodes" and "insights/container/pods" metric namespaces under it. Please double check if you have done it or not.

As shown in below screenshot, it's mentioned in [View container metrics in metrics explorer](https://docs.microsoft.com/en-us/azure/azure-monitor/

[2020-06-19 15:06] bandersmsft commented on #57332
@SadiqhAhmed-MSFT Need input from @yashesvi.

[2020-06-19 15:07] awentzel opened #57455 "How to prevent direct access to backend Web Apps"
Please provide documentation on how to prevent direct access to backend Web Apps so they can only be accessed through Azure Front Door.

There are a few FAQs that describe in a high level, but, a document specifically outlining how to do this would be great.  Ideally, through Azure CLI or Portal.  Although, it seems it may only be possible through application middleware.  This seems like a feature

[2020-06-19 15:09] SwiftDavid commented on #57356
I cannot offer more than I put before. Your form asks me to provide my VAT
number. I am a registered UK company and therefore provide this as HM
Inland Revenue from the UK Government provided it to me, which is 196 0876
64.
But regardless whether I take all the spaces out or not, the
registration page says number format not recognised, or some such.

On Fri, Jun 19, 2020 at 8:01 AM SadiqhAhmed-MSF

[2020-06-19 15:11] KrishnaG-MSFT commented on #57351
@gardnerjr Thanks for the insights.
Assigning content owner @mrbullwinkle for visibility, review and to ensure the referred document is updated as appropriate. Thanks.

[2020-06-19 15:13] bandersmsft commented on #57439
@bizinbarefeet The first sentence of the article says that you can upgrade a free account or an Azure for Students starter account to a pay-as-you-go plan (https://azure.microsoft.com/offers/ms-azr-0003p/). Can you recommend how we can make that more clear?

[2020-06-19 15:14] KrishnaG-MSFT commented on #57406
@jialinding No problem. Glad to know that you have self resolved the issue. Thanks for the update.

[2020-06-19 15:20] wcvanzyl commented on #49449
That helps, thank you.

It unfortunately still does not explain the impact of either choice. I have
recently rolled out a WVD POC and we decided to not use the computer
account, but the user account and the question that came up from the client
for the user/service account was: "what happens to the password, should we
set it to not change?"

It appears that with the computer account approach to Az

[2020-06-19 15:23] KrishnaG-MSFT commented on #57371
@devszr Perhaps I am missing something but based on given information, the default regex used for Linux passwords for this UI element is "^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{12,}$" i.e., the password must be alphanumeric, contain at least 12 characters, and have at least 1 letter and 1 number. If your ask is different, can you please elaborate it with more context around it?

[2020-06-19 15:29] devszr commented on #57371
Thanks for your response. I'm not sure if the Regex shown in the example is the default one. Without specifying a custom Regex, it seemed to accept a password without a number. Wanted to have this clarified so users of the component know a custom regex should be provided to include a number requirement.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Krishna

[2020-06-19 15:30] KrishnaG-MSFT commented on #57408
Assigning @dsindona for visibility, review and document enhancement consideration as appropriate.

[2020-06-19 15:34] bizinbarefeet commented on #57439
Hmmm. Now lets me walk this through.  Your page says to do X to get Y but needs an upgraded account.  We have an upgraded paid account and the info is not shown.  Your page has a Feedback button which we placed our feedback on.  Now we don't really care about debating the issue as we're provided feedback.  If you don't want feedback then perhaps don't place such as button on your pages.

[2020-06-19 15:40] Steven-FCI opened #57456 "Set user MFA state using AzureAD module"
Need to be able to set user MFA State using the AzureAD v2 module.  Example powershell code still uses the depricated msol module.  If this does not yet exist, please get this request to the dev team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-

[2020-06-19 15:45] bandersmsft commented on #57436
@dfatkulbayanova Hi. The article describes how to transfer subscriptions to and from CSPs. I updated the table of contents title and the heading titles in the article for clarity with https://github.com/MicrosoftDocs/azure-docs-pr/pull/119525.
#please-close

[2020-06-19 15:45] #57436 closed

[2020-06-19 15:48] KrishnaG-MSFT commented on #57371
@devszr Got it. Thanks for the clarification.
Tagging @tfitzmac for visibility and to help provide insights and update document with a note if required.

[2020-06-19 16:09] pmahend1 opened #57457 "Android broker : redirect_uri is not valid"
I am running the sample for With-Broker for Android . I am using the same azure credentials as in the sample i.e  ClientID = "4a1aa1d5-c567-49d0-ad0b-cd957a47f842" android bundle id UserDetailsClient.Droid

What is the right way of getting Base64 converted string of SHA1

I am getting error "We are unable to process your request : redirect uri is not valid"

<img width="478" alt="image" src="https

[2020-06-19 16:12] SatishBoddu-MSFT commented on #57448
@fzoccara ,Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 16:15] bandersmsft commented on #57439
@bizinbarefeet We definitely value your feedback and want to make the technical documentation as clear and useful as we can. Is the problem you're describing:

You had a free or student account. You upgraded it to a pay-as-you-go account. You didn't get $200 credits and 12 months of free services? Or, is your problem something else?

[2020-06-19 16:28] v-albemi commented on #50902
@RohitMungi-MSFT, I don't know why you're assigning these to me.

thanks

[2020-06-19 16:28] ggailey777 commented on #57429
@SeaDude I kind of liked your first title 😉

We should probably make this more clear, but you can see the (Elastic) Premium plans in the portal here:
![image](https://user-images.githubusercontent.com/1388263/85155620-d10f9600-b20d-11ea-9959-2ff315965f4c.png)

If you [use the Azure CLI to create your Premium plan](https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-create-

[2020-06-19 16:29] KranthiPakala-MSFT commented on #57443
@smoms
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-19 16:29] markwahl-msft opened #57458 "missing s on section heading for role name Device Administrators"
In this article the section heading

### [Device Administrator](#device-administrators-permissions)

is missing the letter "s"  - the role is named Device Administrators further down in the article, as well as in the service itself.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8ead

[2020-06-19 16:31] KranthiPakala-MSFT commented on #57452
@VitalyMCT  Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-19 16:31] koo9 commented on #48396
@JasSuri that's the goal.  oid is what we want for identifying the user in the application. I wonder what the flow will be in this case.  for example when using google login, after the user sign up from the first time, how to create a stub account and return the stub account oid instead of the objectid from Google login?  thx

[2020-06-19 16:31] JamesTran-MSFT commented on #57458
@markwahl-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-19 16:33] KranthiPakala-MSFT commented on #57454
@tarunesh-saurav Thanks for the feedback! We have assigned the issue to the content author to review the feedback and provide an update as appropriate.

@nabhishek Could you please have a look at the above feedback? - Thanks

[2020-06-19 16:39] SadiqhAhmed-MSFT commented on #57356
@SwiftDavid Can you please share the screenshot of the page that you are referring to?

[2020-06-19 16:40] SadiqhAhmed-MSFT commented on #57332
@yashesvi Could you please share your inputs here?

[2020-06-19 16:48] SadiqhAhmed-MSFT commented on #57356
@dsindona Any thoughts on the query in the previous post?

[2020-06-19 16:48] algattik opened #57459 "Incomplete version list"
What's the exact version of Spark and of Delta? Previous release notes had those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fa33ec-5e18-11ea-d073-7f4237e0961e
* Version Independent ID: 00d0e88d-eb95-62a6-1589-f56ac17518a1
* Content: [Databricks Runtime 7.0 (Beta) - Azure Databricks](https://docs.microsoft.com/en

[2020-06-19 16:50] SadiqhAhmed-MSFT commented on #57111
@amjad-Alhusseini Closing this issue for now. Feel free to reply to this post if you have any further questions in this matter.

[2020-06-19 16:50] DerekHerman-MSFT commented on #57092
@the-grayest We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-19 16:50] #57092 closed

[2020-06-19 16:51] SadiqhAhmed-MSFT commented on #57111
@amjad-Alhusseini Closing this issue for now. Feel free to reply to this post if you have any further questions in this matter.

[2020-06-19 16:51] #57111 closed

[2020-06-19 16:53] JamesTran-MSFT commented on #57458
@markwahl-msft
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-19 16:53] #57458 closed

[2020-06-19 16:57] himanshusinha-msft commented on #57093
@eyedia : You can use the bearer token to get your call authenticated and use the token in all susequent API calls . This has been the design which I have seen on many the API calls on Azure and many  of the other cloud providers . Some code is placed here which calls that out .

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-create-linux-clusters-curl-rest#get-an-authentication

[2020-06-19 16:57] #57093 closed

[2020-06-19 16:58] awentzel commented on #36141
@TravisCragg-MSFT or @msrini-MSFT Could you verify that this "can" be the only method, however, it's also recommended to use the X-Azure-FDID today?

Your paragraph was more specific than what's documented and seems more clear.  I'm looking for verification that either IP restrictions can be used **OR** middleware with X-Azure-FDID are needed.  Both are not.

What is the best practice recommendati

[2020-06-19 17:01] malopMSFT commented on #56534
The complete network information is included in the associated network interface, here some examples:

CustomDNSConfigs will only show up when it's not associated with a DNS  zone for which requires custom DNS configuration :)

[2020-06-19 17:03] motert opened #57460 ""Set Permissions on the resource group" section needs updating"
The Set Permissions on the resource group section needs to be made consistent with the PowerShell page that does not have appid assignment steps and the overview page that talks about after May 26, 2020 templates not being accepted without a user-assigned identity.  This page still talks about the service principal name and appid at this anchor #set-permissions-on-the-resource-group.

---
#### Doc

[2020-06-19 17:03] RohitMungi-MSFT commented on #50902
@v-albemi Apologies for not mentioning the context. I think some of the recent [commits](https://github.com/MicrosoftDocs/azure-docs/commit/4498ce96edf6e9a1b0d43ea4beb40a082eb94e49#diff-5972e3c322ef75ce8e2c749621faccc2) or changes you added to the docs fixes issues mentioned in this issue and others. Since the author in metadata of this doc is no longer valid I have closed and assigned the issue.

[2020-06-19 17:05] adimoraret commented on #45574
@himanshusinha-msft, until this problem gets fixed, can we update the documentation page to mention the fact that ADF does not support integration with the enhanced package of Salesforce Marketing Cloud ?

[2020-06-19 17:05] RichardJFoster opened #57461 "DOTNETCORE|LTS appears to have been renamed DOTNETCORE|3.1"
In the "Create a web app" section, the DOTNETCORE|LTS runtime is mentioned. That runtime does not appear to be among the valid ones returned by `az webapp list-runtimes --linux`. It's not clear from the Azure CLI response if that's because the runtime is not supported in the specific region where I'm trying it ("South Central US"), or if it was, as I suspect, renamed to provide consistent behavior

[2020-06-19 17:07] pvrk commented on #56162
@Klaas- The current plan is to support Rev 47 and 48 by end of this month. But we also encourage anyone to test and report issue via support cases which we will then take a look.

We are also getting the rev releases plan and preparing a testing plan for supporting releases.

[2020-06-19 17:07] pvrk commented on #56162
Closing this since the plan and strategy is shared.

[2020-06-19 17:07] pvrk commented on #56162
#please-close

[2020-06-19 17:07] #56162 closed

[2020-06-19 17:13] #57429 closed

[2020-06-19 17:14] KoenigLear opened #57462 "The instructions lead to CORS errors"
Access to XMLHttpRequest at
.../v2.0/.well-known/openid-configuration?p=b2c_1_sign_up_sign_in/v2.0/.well-known/openid-configuration' from origin 'http://localhost:6420'
has been blocked by CORS policy:
No 'Access-Control-Allow-Origin' header is present on the requested resource.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-19 17:16] dsindona commented on #57356
I'll look into this.

[2020-06-19 17:32] MGoedtel commented on #55058
@o-l-a-v - Yes I tried it yesterday before responding to the issue and wasn't able to repro it, which is why I suspected it was most likely related to RBAC permissions issue.  #reopen issue and will investigate further when I return on Monday.

[2020-06-19 17:36] HeidiSteen commented on #57415
@ajeetk-github @brjohnstmsft   Sorry, I'll fix it.  It's an indexing vs query issue.  Analyzers are used during indexing to get content into the right format (whole string tokens, char preservation, etc.).   But analyzers are NOT used during queries for those query types (regex, fuzzy search).

[2020-06-19 17:45] iliassk commented on #16566
I've wasted days on this. Why is it so difficult to get the email in our it_token claims is beyond me !
I've managed to collect it on signup, but it's never returned on signin. Can someone please help?

This is my `PolicyProfile` :
[code]

Thank you!

[2020-06-19 17:45] yegu-ms commented on #53235
@mgravell thank you for your feedback! We updated the code sample. Hopefully that addresses the issue you raised.

#please-close

[2020-06-19 17:45] #53235 closed

[2020-06-19 17:46] JasSuri commented on #48396
Thats the default behavior. You don't need to do anything.

[2020-06-19 17:50] SnehaGunda commented on #57437
@vatansoni89 please see this page: https://docs.microsoft.com/en-us/azure/cosmos-db/powershell-samples-mongodb

[2020-06-19 17:51] dfatkulbayanova opened #57466 "Move resource may result downtime or not?"
Move resource may result in downtime statement contradicts with information on Azure resource move page (given link), that in its turn says that there is no downtime but only lock for 4 hours. Which page is correct?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aef944e-c3da-70b4-47c4-9c45447d0a

[2020-06-19 17:52] SubhashVasarapu-MSFT commented on #57156
@bandwiches , Appreciate your patience. We have assigned this issue to the respective product owner to provide better insights.

[2020-06-19 17:52] HughDevlin commented on #44273
"Remote debugging is not supported for Linux OS."
Where in the docs is this limitation reflected?
Here are some pages where this limitation is NOT reflected:
1. "Java Web Apps with Visual Studio Code"
https://code.visualstudio.com/docs/java/java-webapp#_run-and-debug-the-application
2. *Debugging*
https://code.visualstudio.com/docs/editor/debugging#_platformspecific-properties
states: "Valid opera

[2020-06-19 17:52] yegu-ms commented on #55044
@sonic1981 thank you for the feedback! We updated the code sample per your suggestion.

#please-close

[2020-06-19 17:52] #55044 closed

[2020-06-19 17:53] SeaDude commented on #57429
Thanks for the information. I've been deploying everything from az cli. Prefer to stay out of the gui. The link you sent is awesome, and I've seen it before BUT it doesn't link to or show the available SKU's ANYWHERE. https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-create-premium-plan

[2020-06-19 17:53] mamccrea commented on #56280
@ThomasPe - I am going to close this issue for now. We will get a notification when you open a PR to update the content.

#please-close

[2020-06-19 17:53] #56280 closed

[2020-06-19 17:54] KranthiPakala-MSFT commented on #57153
@pihalve Thanks for sharing the additional details. We have assigned the issue to the content authorto furhter evaluate and update the document as appropriate.

@spelluru Could you please have a look at this feedback? -Thanks.

[2020-06-19 17:54] mamccrea commented on #56560
Thanks @ThomasPe - I have updated the doc. It should go live later today.

#please-close

[2020-06-19 17:54] #56560 closed

[2020-06-19 17:55] SubhashVasarapu-MSFT commented on #57213
@swieder , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-19 17:55] #57213 closed

[2020-06-19 17:55] koo9 commented on #48396
that's the google id, that's what I am getting. sometimes the IDP does not return object id or the id in a different claim name. in that case, will need to map that id to oid, sub is not always the oid

[2020-06-19 17:56] SubhashVasarapu-MSFT commented on #57228
@junpark12 , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-19 17:56] #57228 closed

[2020-06-19 18:04] vboyev-MSFT opened #57467 "PowerBi does not list ALA as a supported data source"
See https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources

ALA is not a supported data source explicitly absent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version Independent ID: b03d56d0-1fba-bea4-6f02-97fbc5832651
* Content: [Import Azure Log Analytics

[2020-06-19 18:09] ggailey777 commented on #57429
@SeaDude good call. I'll add a link there too. (BTW, I think it's an [Azure CLI gap](https://github.com/Azure/azure-cli/issues/13466) also.)

[2020-06-19 18:16] jimzim commented on #57034
@ShafeerAli - You need to request a quota increase by following the instructions on this page.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-resource-quota

[2020-06-19 18:17] SubhashVasarapu-MSFT commented on #57376
@trevorreeves , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-19 18:17] #57376 closed

[2020-06-19 18:19] alhails opened #57468 "Link broken to Integrate Azure Active Directory with Azure Kubernetes Service using Portal"
It appears that the link associated with this text (https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration) points at a page that has been deleted.  The commit that deleted this page is 436335d19556e326399fafbe76720c4fdb93d68e.

Can you confirm the reason why this page was deleted - I have relied on the content of that page and would be interested to know how it is incorrect.

Also are th

[2020-06-19 18:20] jimzim commented on #57010
@madhukiranbr - here is the link to support VM types.  We do not support DS2_v3 because lack of RAM in that VM type.
https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4

[2020-06-19 18:23] YutongTie-MSFT commented on #24116
@Jarrich Hi Jarrich, sorry for your experience. For now we have new tech forum - Microsoft Q&A, please feel free to try ^^ https://docs.microsoft.com/en-us/answers/index.html

[2020-06-19 18:24] annelo-msft opened #57469 "App Configuration Samples should include SDK samples"
The SDK READMEs are referenced in the TOC under Reference\Configuration.  Please consider referencing the SDK samples as well in the TOC under Samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f05c5b-3102-f83b-c4fd-86c75dd34d0c
* Version Independent ID: 6becbcf4-b0a5-e8aa-4759-44a97990da47
* Content: [Azure CLI

[2020-06-19 18:25] annelo-msft commented on #57469
@maggiepint

[2020-06-19 18:27] NavtejSaini-MSFT commented on #57344
@irgnosis Please let us know if you need further help with this.

[2020-06-19 18:28] #57346 closed

[2020-06-19 18:30] vatansoni89 commented on #57438
Why I m getting error on copy paste and running the script, please see my screen shot

[2020-06-19 18:35] Jarrich commented on #24116
Ok, thank you!

[2020-06-19 18:35] aniket-ms opened #57472 "Hive / Hive Metastore version is not listed"
[Enter feedback here]
HI, Can we include Hive and Hive Metastore versions as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13a63d7b-aac1-ac22-cee8-e2873407c251
* Version Independent ID: cb2b1a56-5313-4bad-1854-72e8525583e3
* Content: [Release notes for Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdi

[2020-06-19 18:37] RotateAt60MPH opened #57473 "Navigating to initial backend website does not work"
In page: [Tutorial: Authenticate and authorize users end-to-end in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad#create-azure-resources)

In the 'Check your changes' section, you should be able to browse the to freshly deployed backend website.  When you do, the web site comes up, but it hangs reading any data (you see 'Loading', but that's

[2020-06-19 18:44] kar400 opened #57474 "Unclear sentence about principals retrieving the password/identity"
In the section Create gMSA: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/create-gmsa#create-a-gmsa

Not sure what this means: "Principals in AADDSCONTOSO-SERVER$ are allowed to retrieve the password use the identity."

Maybe there's supposed to be an "and" or a "to"?
"...and use the identity."
"...to use the identity."

---
#### Document Details

⚠ *Do not edit this sect

[2020-06-19 18:45] MGoedtel commented on #55058
#assigned-to-author

[2020-06-19 18:50] Falconwmua commented on #55058
I just tested it in my subscription and all the AzureRM modules are marked as Global modules and not able to be removed.

[2020-06-19 18:51] nschonni commented on #56981
The linked issue was closed https://github.com/igorshubovych/markdownlint-cli/issues/98#issuecomment-646395495

[2020-06-19 18:51] MonikaReddy-MSFT commented on #57469
@annelo-msft -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-19 19:10] alac0m commented on #51184
Same here.

PSMessageDetails      :
Exception             : Microsoft.Open.MSGraphBeta.Client.ApiException: Error occurred while executing
                        GetAzureADMSPrivilegedRoleDefinitions
                        Code: UnknownError
                        Message:
                        InnerError:
                        RequestId: 94bfb70f-e612-41dd-b0f4-a3a97150d838

[2020-06-19 19:13] JimacoMS3 commented on #57246
Hi @MatthijsvdVeer ,

Thanks for your feedback. I'm checking with engineering about this. Have you actually validated that HTPPS is not supported by trying it?

Thanks,
Jimaco

[2020-06-19 19:17] santhoshbomma9 opened #57475 "Plan Pricing locked after publish, advice"
I thought pricing is locked once published here
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-saas-offer#pricing-model

But here it says you can update plan pricing details
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/update-existing-offer#update-a-plan-within-an-existing-offer

---
#### Document Details

⚠ *Do not edit this section

[2020-06-19 19:19] MatthijsvdVeer commented on #57246
Yes, I tried it and using HTTPS and it comes up with an error message that says it only supports MQTT. But when you run the same code using MQTT or AMQP it works, I was using the C# SDK.
Important to note, I believe this might work with the service endpoint, but from the Device it definitely doesn't work. Let me know if you need more info, I can show you the error over Teams.

[2020-06-19 19:29] cloudruler opened #57477 "Confusing Documentation"
"If you use the option to redeploy an earlier successful deployment, and the earlier deployment includes a parameter that uses utcNow, the parameter isn't reevaluated. Instead, the parameter value from the earlier deployment is automatically reused in the rollback deployment.

Be careful redeploying a template that relies on the utcNow function for a default value. When you redeploy and don't prov

[2020-06-19 19:42] CodyMorris commented on #16566
@iliassk I'm not on the microsoft team but I can try to help.  When you inspect the token on jwt.ms do you see the claims there after signin?

[2020-06-19 19:49] natiox opened #57480 "Resource Explorer disabled in Azure Stack"
How do we configure App Service to return a usable access token in Azure Stack where we don't have access to the resource explorer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02b6-8f510d8059b0
* Version Independent ID: 24d09b70-d144-d152-ac5a-c49219a5d8e8
* Content: [Tutorial: Authenticate users

[2020-06-19 19:49] Mike-Ubezzi-MSFT commented on #57083
@RonnieQuan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-19 19:49] #57083 closed

[2020-06-19 19:49] JasSuri commented on #48396
Here is the complete flow of how every federation works with the examples we have given.

Lets take the case of Google Federation. The google technnical profile has:
[code]

This takes the Google `id` claim from the Google token, and puts it in `issuerUserId` claim.
B2C then generates an `AlternativeSecurityId` by combining the `identityProvider` claim with the `issuerUserId` claim (Google Id) usi

[2020-06-19 19:53] TravisCragg-MSFT commented on #57086
@ezYakaEagle442 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-19 19:53] #57086 closed

[2020-06-19 20:08] koo9 commented on #48396
@JasSuri thx for the explanation.  rock on!

[2020-06-19 20:09] lmeyerov commented on #37716
AFAICT, *negative* progress:

-- In practice, it seems that packer VHD support here recently *broke* in the last few weeks

-- We successfully build Managed & Shared Image Gallery images via packer, but unclear how to get either in to Marketplace, which only accepts an OS VHD URL

[2020-06-19 20:10] koo9 commented on #48396
that should conclude this question

[2020-06-19 20:10] #48396 closed

[2020-06-19 20:14] MarileeTurscak-MSFT commented on #57474
@kar400 thanks! Fixing this.

[2020-06-19 20:17] MarileeTurscak-MSFT commented on #57474
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/119565

[2020-06-19 20:17] #57474 closed

[2020-06-19 20:18] Mike-Ubezzi-MSFT commented on #57087
@sarah026 If there are no further questions regarding this, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-19 20:18] #57087 closed

[2020-06-19 20:50] paulanguiano commented on #56534
We are now pursuing a strategy of extracting the needed DNS info from the attached NICs, as you specified.

Can you clarify this?  None of our private endpoints get put into DNS at creation time because the networks are linked together in a hub/spoke topology, and the DNS zones are centrally linked as well, per the documentation at https://docs.microsoft.com/en-us/azure/private-link/private-endpoi

[2020-06-19 20:54] JimacoMS3 commented on #57246
Thanks for the info! I think we're OK for the moment. I've asked our engineering team to look into it. I've noticed that in our documentation there are some topics where we say it's MQTT and AMQP only.

I think on the service-side, it should be only AMQP (and AMQP over WebSockets) for device/module twins.

Thanks again for your help. I'll update the thread with what I find out from engineering. It

[2020-06-19 21:21] MarileeTurscak-MSFT commented on #57096
Hi @derekpurdy ,

We confirmed that the action is being deprecated and is not currently available there is an open item being worked on to replace this function but is yet not available. Further updates will be provided when the feature is released.

Closing this out for now but will reply as new information is released.

[2020-06-19 21:21] #57096 closed

[2020-06-19 21:24] Mike-Ubezzi-MSFT commented on #45050
@stilren The solution here is to upgrade the secondary first (scale-up) followed by the same operation on the primary. In the case of scaling down, the operation is performed initially on the primary followed by the same operation on the secondary. This is regardless of method used to perform the operation, as detailed here: [Upgrading or downgrading primary database](https://docs.microsoft.com/en

[2020-06-19 21:26] Mike-Ubezzi-MSFT commented on #45050
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-19 21:26] #45050 closed

[2020-06-19 21:30] CeciAc opened #57481 "Documentation on AZURE_FUNCTIONS_ENVIRONMENT is not correct"
@hcoppen commented on [Wed Jun 17 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/604)

Hi,

The documentation on AZURE_FUNCTIONS_ENVIRONMENT tells me that this variable should be available on the Azure portal when creating an Azure function. But it isn't available and not set. The document says 'When AZURE_FUNCTIONS_ENVIRONMENT isn't set, it defaults to Development on a local envir

[2020-06-19 21:46] ansred commented on #57031
It just works by going directly to either link mentioned. I am not sure if there is an option that is maybe forcing users on your end to use the modern UI?

[2020-06-19 21:55] curtand commented on #57201
#please-close
@JamesTran-MSFT

[2020-06-19 21:55] #57201 closed

[2020-06-19 22:02] BryanTrach-MSFT commented on #57444
@piotrgwiazda Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 22:19] BryanTrach-MSFT commented on #57447
@mikenri Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 22:20] BryanTrach-MSFT commented on #57451
@Imbusyworking Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 22:22] BryanTrach-MSFT commented on #57453
@AronT-TLV Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-19 22:25] SnehaGunda commented on #56469
@markjbrown updated all the stored procedure examples. We will close this issue now.

#please-close

[2020-06-19 22:25] #56469 closed

[2020-06-19 22:37] sultandxb opened #57483 "L"
L

_Originally posted by @sultandxb in https://github.com/sultandxb/sultan-m/pull/1#discussion_r439682303_

[2020-06-19 23:01] Karishma-Tiwari-MSFT commented on #51690
@pawarbi I would suggest opening a new issue for the doc you have mentioned above, so that it goes to the right team with machine learning expertise.

You can do so by scrolling to the bottom of this [doc](https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/execute-python-script) and clicking on
'This page'
![image](https://user-images.githubusercontent.com/20851144/

[2020-06-19 23:16] SnehaGunda commented on #50856
Fixes https://github.com/MicrosoftDocs/azure-docs-pr/pull/119568

[2020-06-19 23:18] SnehaGunda commented on #50856
@JimFett and @MedAnd the above PR fixes the templates. The changes should be live by Monday, we will now close this issue.

#please-close

[2020-06-19 23:18] #50856 closed

[2020-06-19 23:31] StevenBalnis opened #57485 "Update Note for Global Reader role"
Skype for Business Legacy admin center- Skype for Business Legacy admin portal not supported for Global Reader role.

Skype for Business Legacy portal not visible in Teams admin center.

Microsoft 365 admin center>Reports>Usage>Skype for Business>Users blocked     is not visible because it relies on Skype for Business Admin center.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit t

[2020-06-19 23:33] SnehaGunda commented on #51732
@sakash279 Reading through it again, what you said makes sense. Thanks for pointing out. I submitted a PR for the doc update. The changes will be live on Monday.

In the future, if you see any minor doc issues, If you are interested in contributing, please click on the edit button on the page and submit a PR. We will review and merge your contributions.

We will now close this issue.

#please-clos

[2020-06-19 23:36] SatishBoddu-MSFT commented on #57149
@Raregine , Building arm32 images on amd64 is not supported. There is an open bug regarding this: here: https://github.com/MicrosoftDocs/azure-docs/issues/56984. We would be happy to discuss this specific environment architecture compatibility on [Microsoft's Q&A](https://docs.microsoft.com/en-us/answers/index.html)

[2020-06-19 23:44] SatishBoddu-MSFT commented on #57149
@Raregine We would like to close this issue now and please follow the other issue as mentioned in above response. Please feel free to comment and we hope to continue this discussion on Microsoft's Q&A.

[2020-06-19 23:44] #57149 closed

[2020-06-19 23:47] BharathNimmala-MSFT commented on #57467
@vboyev-MSFT Thank you for bringing this to our notice, we will look into it and get back to you shortly.

[2020-06-19 23:50] BharathNimmala-MSFT commented on #57475
@santhoshbomma9 Thank you for bringing this to our attention and raising a PR to correct the document. I am further assigning this to our document author @dsindona to further evaluate the PR and this thread and close it out accordingly.

[2020-06-19 23:51] SatishBoddu-MSFT commented on #57082
@Xyroid Thanks for the more info, I have assigned the issue to the content author @xujing-ms  for further review and update the doc as appropriate.

[2020-06-19 23:52] BharathNimmala-MSFT commented on #57477
@cloudruler Thank you for your feedback we will further look into it and get back to you at the earliest.

[2020-06-20 00:05] Karishma-Tiwari-MSFT commented on #57424
Thanks for sharing the feedback.

[2020-06-20 00:07] Karishma-Tiwari-MSFT commented on #57460
Can you please share the
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-20 00:09] Karishma-Tiwari-MSFT commented on #57453
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-20 00:11] Karishma-Tiwari-MSFT commented on #57468
Looks like the link is working now. Let me know if you are can't access it yet.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-20 00:11] #57468 closed

[2020-06-20 00:13] TravisCragg-MSFT commented on #57455
@awentzel The best way to secure your Web App is by using [IP restrictions](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions) to only allow access from [Azure Front Door's address range](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door).

This should not require any middleware, or any

[2020-06-20 00:26] GavinHaak opened #57486 "Instructions for setting the MIP value are incorrect"
As per https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-cmdlets , you need to create a settings object to assign the value to the EnableMIPLabels property. Was this tested?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent

[2020-06-20 00:30] keithcharlie opened #57487 "Duplicated content - SaaS Dev and Testing"
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#development-and-testing

Duplicated content here. The 2, 3, 4 bullets under this topic should be deleted.

"This offer should have a plan with 0 price, so not to trigger actual billing expense while testing.

Ensure all flows are invoked end to end, just like a customer would purchase the offer.

Pu

[2020-06-20 00:49] VitalyMCT opened #57488 ""Azure SQL Data Warehouse" branding"
Please update to Azure Synapse Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e0996a-5a15-b03a-f204-b8725579109d
* Version Independent ID: 6c8ed85a-8e40-a7b2-c13a-81123aa499d4
* Content: [Transform data by using the Stored Procedure activity - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data

[2020-06-20 00:57] ajeetk-github opened #57489 "what analyzer would be used at query time if it uses different query analyzers for different fields"
During indexing time it is clear from this page which analyzer will be used, but this page lacks clarity in explaining which analyzer will be used during query time.

Ex:- which analyzer will be used during query time. Given that I have below schema/configuration: -
 {
     "name":"myindex",
     "fields":[
        {
           "name":"id",
           "type":"Edm.String",
           "key":true,

[2020-06-20 00:59] ajeetk-github commented on #57415
Thank you for quickly acting on this!!

[2020-06-20 01:01] VitalyMCT opened #57490 "Reference to Oracle"
Can you please clarify the nature of the reference to Oracle on this page? According to the beginning of the article only Azure SQL Database, Azure SQL Data Warehouse and SQL Server are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e0996a-5a15-b03a-f204-b8725579109d
* Version Independent ID: 6c8ed85a-8e40

[2020-06-20 01:04] markjbrown commented on #57438
There's a couple of things going on here.

First the bin/bash statement at the top is incorrect. Should be #!/bin/bash
Second, the parameters do not copy well into cloud shell. Need to prepend them with $ such as

$resourceGroupName='myResourceGroup'
$accountName='my-cosmos-account'
$databaseName='myDatabase'
$containerName='myContainer'

It seems that copy/paste itself does not work very well wit

[2020-06-20 01:06] mike-urnun-msft commented on #57481
@hcoppen Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-20 01:13] ajafry opened #57491 "Call to dotnet user-secrets init is required"
In the section **Connect to an App Configuration store** before step 3, the addition of the connection string, you have to call `dotnet user-secrets init`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quicks

[2020-06-20 01:15] femsulu commented on #37716
Hi @BrianLevenson  - can help fast-track?

[2020-06-20 01:42] v-vrusse opened #57492 "StorageAccountAlreadyTaken When Incremental Deploying ARM Template"
I was hoping this page would tell me why I'm getting a StorageAccountAlreadyTaken error when I attempt to incremental deploy the following template using the `ARM Template Deployment` task in Azure Pipelines:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b97b9a9-93b9-f6ca-dc74-50e9a8eda668
* Version Independe

[2020-06-20 01:51] BryanTrach-MSFT commented on #57455
@awentzel To add to Travis's suggestion, there is also Azure Private Endpoint. While this doesn't use Front Door, it's another way to block internet access to your web app.

More here:

1. https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint
2. https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal

[2020-06-20 01:55] BryanTrach-MSFT commented on #57459
@algattik Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 01:56] BryanTrach-MSFT commented on #57457
@pmahend1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 01:58] BryanTrach-MSFT commented on #57456
@Steven-FCI Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:04] BryanTrach-MSFT commented on #57461
@RichardJFoster Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:05] BryanTrach-MSFT commented on #57462
@KoenigLear Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:06] BryanTrach-MSFT commented on #57466
@dfatkulbayanova Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:08] BryanTrach-MSFT commented on #57472
@aniket-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:09] BryanTrach-MSFT commented on #57473
@RotateAt60MPH Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:14] BryanTrach-MSFT commented on #57480
@natiox You'll need to use an ARM template to set the parameter in Azure Stack. See the below links for more information.

1. https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-arm-templates?view=azs-2002
2. https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-11-01/sites/config-authsettings

We will now proceed to close this thread. If there are further questions regardi

[2020-06-20 02:14] #57480 closed

[2020-06-20 02:15] BryanTrach-MSFT commented on #57483
@sultandxb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-20 02:16] #57483 closed

[2020-06-20 02:17] BryanTrach-MSFT commented on #57485
@StevenBalnis Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:17] tp6hannah commented on #57139
Hi @BhargaviAnnadevara-MSFT and @mrbullwinkle  , I have tried the rest api way, and it succeed.
thanks for your help!! 👍
==============
Following, it's further description for why I created this issue though I know I can do by RestAPI method.

I am wonder how I created application insights matters to this issue.

when I built staging environment for our project, I've created application insights o

[2020-06-20 02:19] BryanTrach-MSFT commented on #57486
@GavinHaak Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:20] BryanTrach-MSFT commented on #57487
@keithcharlie Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:22] BryanTrach-MSFT commented on #57488
@VitalyMCT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-20 02:23] BryanTrach-MSFT commented on #57489
@ajeetk-github Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:23] BryanTrach-MSFT commented on #57490
@VitalyMCT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:24] BryanTrach-MSFT commented on #57491
@ajafry Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:26] BryanTrach-MSFT commented on #57492
@v-vrusse Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 02:54] Mike-Ubezzi-MSFT commented on #57410
@MikhailTymchukFT When you provision an Azure Synapse Workspace, you have the option to leverage Synapse SQL on-demand which are queries to data hosted on the paired Azure Data Lake account. This is the serverless option. If you are currently using a Synapse SQL Pool hosted under an Azure SQL logical server, then serverless is not an option. The serverless option writes to a different data storage

[2020-06-20 03:31] SeaDude opened #57493 "Is Azure blob storage to AWS possible with `az copy`?"
I see AWS-to-Azure is possible, but what about the other way? Is it possible to copy from Azure-to-AWS with this tool?
Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7440c0c4-3fd0-cf6e-bdd2-5e7f4eeedbef
* Version Independent ID: 49c0fd0d-d705-7649-8a4d-c016abb0848a
* Content: [Copy data from Amazon S3 to Azure

[2020-06-20 03:48] soniaang opened #57494 "There is another typo here there is no such package"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7a36f9-6a41-1105-2853-9353a64fac16
* Version Independent ID: ab8c2ae0-b280-0b45-31a0-a6b313e8195d
* Content: [Model interpretability in Azure Machine Learning - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-m

[2020-06-20 03:53] soniaang commented on #57494
Earlier i mentioned there is a typo i and  i found  second error
The interpretability classes are made available through multiple SDK packages: (Learn how to install SDK packages for Azure Machine Learning)

azureml.interpret, the main package, containing functionalities supported by Microsoft.

azureml.contrib.interpret, preview, and experimental functionalities that you can try.

*******azureml.

[2020-06-20 04:02] toy-opensource commented on #31380
@alexandis
running into the same problem -
did you ever find the solution?

[2020-06-20 04:25] mike-urnun-msft commented on #56978
Hello @sirdank

Per this [Azure UserVoice item](https://feedback.azure.com/forums/287593-logic-apps/suggestions/18327058-webhook-timeout-and-status), you can set a timeout limit in your Webhook action's settings:

![image](https://user-images.githubusercontent.com/36717703/85191255-07cbc780-b273-11ea-8425-6e4a594d8e05.png)

When this timeout limit is hit, Webhook action will gracefully fail the ac

[2020-06-20 04:25] #56978 closed

[2020-06-20 04:58] jcpayne commented on #57040
Yes, the information appears in at least one place, but there are tens or maybe hundreds of pages of documentation and the 'azcopy login' phrase appears all over the place.  BTW I am not a "member of multiple orgs," yet I had the problem, so apparently it crops up from time to time regardless.

[2020-06-20 05:32] rpanday opened #57496 "Throughput distribution is ambigiously mentioned in context of logical & physical partitions"
Section on [physical partitions](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#physical-partitions) states:

While the section on [Set throughput on a database](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-on-a-database) states:

IMO, the parts in **bold** in the "Set throughput on a database" section should replace the _logical partition_ with _

[2020-06-20 05:32] mike-urnun-msft commented on #56998
@ssemyan Thank you for bringing this to our attention and helping us drive improvements towards MS Docs! I have created a PR that fixes the sample per your suggestions and the changes will be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-20 05:32] #56998 closed

[2020-06-20 06:03] bizinbarefeet commented on #57439
Our Feedback is that there is no Upgrade Subscription listed on this page.

Our Problem is that following an increase in hacking attacks (https://www.abc.net.au/news/2020-06-19/foreign-cyber-hack-targets-australian-government-and-business/12372470) we're trying to setup MFA on our Microsoft accounts.

Any Microsoft aren't making it very easy.

[2020-06-20 06:16] alexandis commented on #31380
No. So we need to find out the way to override those two stdOutLog[...] parameters via project file. It’s sad they do not publish anywhere how to do that: it needs to be possible to override EACH line of web.config

[2020-06-20 06:20] toy-opensource commented on #31380
@alexandis
ive been googling FOR HOURS!
posted to SO...

[2020-06-20 07:36] BakkerJan opened #57497 "Enable phone number sign-in for a user"
What role does the users needs to have to enable this with the My Staff portal?
Currently, I can only see the setting when the user is Global Admin.

When the user is authentiation admin in the Administrative Unit, this option is not shown.

![image](https://user-images.githubusercontent.com/38911727/85196260-501dd080-b2d9-11ea-9205-238755ba9c6d.png)
![image](https://user-images.githubusercontent.

[2020-06-20 07:43] BharathNimmala-MSFT commented on #57052
@paulvanw Thanks again for bringing this to our notice. You were right the C# sample from the document was working and not the Power Shell script at this time. However , after closer look seems that the  `$TimeStampField = "DateValue"` being the issue. If we change that to `$TimeStampField = ""`  the powershell script works as well. Its the same configuration in C# sample as well.

Hope this infor

[2020-06-20 07:43] #57052 closed

[2020-06-20 08:22] jarekkoziol commented on #55576
@mmacy  thanks for explanation. I think, that problem with this doc is that it is not implicite explained, that these 2 registrations (ProxyIdentityExperienceFramework  and IdentityExperienceFramework ) are for internal policies use, so I was thinking that these should be my e.g. front end and backend app. I suggest to add your explanation to document.

[2020-06-20 09:19] MrHinsh opened #57498 "The Link for Github samples generates 404"
The Link for Github samples generates 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eb6a3cc-d46c-b4ad-41a5-1b347f6d21be
* Version Independent ID: 83191b2a-86f4-6e9e-965f-1f9a6781f568
* Content: [API connector code samples for user flows - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/b2b/code-

[2020-06-20 09:25] alhails commented on #57468
@Karishma-Tiwari-MSFT
Hi, thanks however this doesn’t help me if I want to enable AKS AD Integration via the Portal without using Preview features.

It also doesn’t use the portal either so it doesn’t make sense to direct here given the previous link was ...

[2020-06-20 10:56] murdockcrc opened #57499 "Installation of Azure Functions Core Tools fails on WSL Ubuntu 18.04"
Following the installation instructions documented [HERE](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=linux%2Ccsharp%2Cbash#v2)

The command `sudo apt-get update` fails with the following error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df39

[2020-06-20 11:01] murdockcrc commented on #57499
Oversaw that the Step 2 of the docs includes steps for both Ubuntu and Debian (so you dont have to run both of them, instead you need one or the other)

[2020-06-20 11:01] #57499 closed

[2020-06-20 11:44] SnehaAgrawal-MSFT commented on #57493
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 11:45] SnehaAgrawal-MSFT commented on #57494
@soniaang Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 11:47] SnehaAgrawal-MSFT commented on #57496
@rpanday Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 11:48] SnehaAgrawal-MSFT commented on #57497
@BakkerJan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 11:49] SnehaAgrawal-MSFT commented on #57498
@MrHinsh Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 11:50] hisasima opened #57500 "Client authentication is private preview."
I posted below issue but it was closed. Could you add the private preview of client authentication into the public document ? I couldn't find any document.

https://github.com/MicrosoftDocs/azure-docs/issues/57070

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent

[2020-06-20 12:27] Klaas- commented on #56162
@pvrk so what you actually mean on https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/backup/sap-hana-backup-support-matrix.md#L22 is "until rev 46 is tested and supported" and newer versions are unsupported and untested but could/should work?

[2020-06-20 14:20] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin So, to access all the benefits, every student/faculty will need to sign in to [https://azureforeducation.microsoft.com/devtools](https://azureforeducation.microsoft.com/devtools), verify their account and accept terms and conditions, post which they will have access to all the benefits.

![image](https://user-images.githubusercontent.com/44050820/85203865-132ff900-b32e-11ea-82

[2020-06-20 14:31] poshpaws opened #57501 "out of date"
[Enter feedback here]

no longer in date , please update page

you cannot create a policy without ad premium :(

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6-5472-62c3-5eae-fa39ecccd12e
* Content: [Enable Azure Multi-Factor Authentication](https:/

[2020-06-20 15:21] mkosieradzki opened #57502 "3 more practical methods of connecting to private cluster management plane"
The document presents 3 different methods to connect to the private cluster: peering, VPN and VM.

But there are three more practical methods to achieve the same thing:
1. create a second private endpoint for the same cluster in a more convenient vnet? IT is not supported in portal (as Create private endpoint UI responds with `Resource not supported`) but you can achieve this from azure cli...
2.

[2020-06-20 15:29] ravinsinghd commented on #21516
Hi @Mike-Ubezzi-MSFT  Facing the same probelem. I Have generated key using below command
[code]
And then used Start the emulatore using below command
[code]
Also tried to copy the key from the key file and used it directly as below
[code]

Both case Emulator starts fine but the data explorer showing error
![image](https://user-images.githubusercontent.com/9314601/85205405-e0d7c900-b338-11ea-98a2-d

[2020-06-20 16:17] markjbrown commented on #57438
Took another look at this and the real issue here is this line to generate unique names doesn't work in CloudShell
uniqueId=$(env LC_CTYPE=C tr -dc 'a-z0-9' < /dev/urandom | fold -w 10 | head -n 1)

It works fine in Linux and Mac but for some reason not on CloudShell. It used to work before. If you omit this line and create your own resources names that are unique the script will work.

I will sub

[2020-06-20 16:26] RonnieQuan opened #57503 "API Console Test Bypass CORS proxy"
I would like to understand more about "Bypass CORS proxy" option in API console test blade.
If you could point out where the detail is documented, will be great.

What's https://apimanagement-cors-proxy-prd.azure-api.net/send?
Why and when we should use or bypass.

I have one private api endpoint as the backend, which can only test successfully when bypass cors proxy. I would like to understand mo

[2020-06-20 17:13] SnehaAgrawal-MSFT commented on #57500
@hisasima Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 17:14] SnehaAgrawal-MSFT commented on #57501
@poshpaws Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 17:15] SnehaAgrawal-MSFT commented on #57502
@mkosieradzki Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 17:17] SnehaAgrawal-MSFT commented on #57503
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 17:38] AjayKumar-MSFT commented on #57499
@murdockcrc, Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate the follow-up. Kindly let us know if you need further assistance.

[2020-06-20 17:51] AjayKumar-MSFT commented on #57341
Thanks for the update, much appreciate your feedback and the follow-up.

[2020-06-20 17:51] #57341 closed

[2020-06-20 18:39] eyedia commented on #57093
Thanks @himanshusinha-msft , let me check that out

[2020-06-20 18:41] VitalyMCT opened #57505 "Typo fix"
The first "evaluates" should say "executes".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d678cb66-3b9e-3ade-fe25-15957b6b2537
* Version Independent ID: 76e7e206-4da3-f543-8766-d157eb57c03e
* Content: [If Condition activity in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factor

[2020-06-20 18:41] BharathNimmala-MSFT commented on #57487
@keithcharlie Thanks again for bringing this to our notice . I have raised a PR to remove the duplicate content , once reviewed it will be merged with the main repo in next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and w

[2020-06-20 18:41] #57487 closed

[2020-06-20 18:55] BryanTrach-MSFT commented on #54885
@dedvds Due to the age of this issue, can you please open a new issue for tracking purposes? Thank you. You can do so by navigating to the bottom of the tutorial page you referenced and click "This page."

Thank you for your understanding.

[2020-06-20 18:57] jeramyRR opened #57506 "Deploy with Azure option fails because 201-vm-win-vnet-sql-tools template does not exist any longer"
The `Deploy with Azure` feature in the article [connect-vm-instance-configure](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connect-vm-instance-configure) does not work because the template `201-vm-win-vnet-sql-tools` does not exist in the https://github.com/Azure/azure-quickstart-templates repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-06-20 18:57] BryanTrach-MSFT commented on #57243
@anil-kapoor Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-20 18:57] #57243 closed

[2020-06-20 19:18] anil-kapoor commented on #57243
Hello Bryan,
This issue comes when I open Any CosmosDB Cassandra API data explorer window.
Let me know, If you need any other information.
Thanks
Anil Kapoor

[2020-06-20 19:20] BryanTrach-MSFT commented on #57505
@VitalyMCT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-20 19:23] BryanTrach-MSFT commented on #57506
@jeramyRR Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-20 19:40] MonikaReddy-MSFT commented on #57095
@DanBrown-TechSmith -  I'm going to assign this to the document author so they can clarify it accordingly.

[2020-06-20 19:49] iliassk commented on #16566
Hey @CodyMorris! Thank you. I managed to find a solution by using this instead:
[code]

I don't get why it is so difficult to retrieve the email claim from the `id_token`. It seems that the only way is using Identity Experience Framework's custom policies.
Doing that automatically adds more complexity. With IEF's policies we don't even have the country claim (nor 80% of the built-in user-flows pol

[2020-06-20 19:50] AjayKumar-MSFT commented on #57051
@robidas,  We will close this out, but if you feel you need more information please just let us know.

[2020-06-20 19:50] #57051 closed

[2020-06-20 20:57] MikhailTymchukFT commented on #57410
@Mike-Ubezzi-MSFT Thank you! Now it gets clearer to me.
I still have some questions about terms:
1. You mentioned Azure Data Lake storage. I think this is it: https://azure.microsoft.com/en-us/solutions/data-lake/
Does [this section](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/overview-architecture#azure-storage) tell about the same storage?
2. I see 3 different types of data stor

[2020-06-20 22:24] tastyeggs opened #57507 "Clarify time zone of "Maintenance start hour""
The documentation says "local start time", but what is "local" here? Local to the currently logged in user's device, local to the time zone of the region, local to the time zone of the server? This is unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc1e80-5a56-3850-cb63-7c882950c4e6
* Version Independent ID:

[2020-06-20 22:50] veronicageek opened #57508 "Global Reader Role doesn't work with SharePoint Online nor PowerShell"
As of today (June 20th, 2020), the **Global Reader** role **doesn't allow** to connect to the SharePoint Online Admin Center, nor use PowerShell. The documentation is stating otherwise for the Admin Center, and nothing for PowerShell.

![image](https://user-images.githubusercontent.com/25181757/85212991-6c108900-b350-11ea-8de0-de42b250b413.png)

![image](https://user-images.githubusercontent.com/2

[2020-06-21 00:44] HeidiSteen commented on #57489
@ajeetk-github  Field1 uses whitespace for indexing and standard for queries. Field2 uses ja.microsoft for both indexing/queries, Field3 uses zh-Hant.microsoft for both indexing/queries.  We don't document _how_ the tokens are analyzed, but there is a Test Analyzer API that shows you the tokens emitted by each analyzer.  One of the places its documented is here: https://docs.microsoft.com/en-us/az

[2020-06-21 01:24] epomatti opened #57511 "Deployment slots best practices"
I've been experimenting with slots and I would like to check how to deal with obsolete deployment slots. I was taking a look at [swap slots](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#swap-two-slots) and the [best practices](https://docs.microsoft.com/en-us/azure/app-service/deploy-best-practices#use-deployment-slots) articles.

Let's say I swap `stage` into `productio

[2020-06-21 03:01] bdan9559 opened #57512 "Hello World"
[

](url)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active Directory logs to Azure Monitor logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitor

[2020-06-21 03:16] kewalaka opened #57513 "public IP should specify standard SKU"
The bastion host fails to create if the public IP SKU is not "standard"..

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a45429a-0c49-80f0-a5fa-1de707059375
* Version Independent ID: 0e5d368f-a562-2ce9-3261-3e4443b08a18
* Content: [Create a Bastion host using Azure CLI](https://docs.microsoft.com/en-us/azure/b

[2020-06-21 03:22] BryanTrach-MSFT commented on #57507
@tastyeggs Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 03:23] BryanTrach-MSFT commented on #57508
@veronicageek Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 03:24] BryanTrach-MSFT commented on #57511
@epomatti Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 04:25] ajeetk-github commented on #57489
Thanks for the detailed reply!! It helped me to confirm my understanding.

Let me explain my question a bit more clear:- For the given schema in the original question, if I make a query querytype=full&search="text" .
As you know for this query querytype=full and also this query is searching for word "text" in all columns field1, field2 and field3 as I have not specified a specific column name (it

[2020-06-21 04:37] soniaang opened #57515 "Need Python of this please?"
[Enter feedback here]

Can someone translate this to python?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* Content: [Use prediction endpoint to programmatically test images with classifier - Custom Vision - Azure Cogni

[2020-06-21 05:09] Daniel-Krzyczkowski opened #57516 "Update sentiment analysis result payload documentation"
In the documentation that describes JSON output from the Video Indexer analysis there is a field called "sentimentType" in the sentiment object. However when I made a few tests I see that there is no field called "sentimentType" but there is "sentimentKey" and uder this field there are values like "Positive" or "Neutral". Documentation should be updated.

---
#### Document Details

⚠ *Do not edit

[2020-06-21 05:30] shashishailaj commented on #57512
@bdan9559 Thank you for your query. As you have not mentioned any details , We would like to understand about your feedback/query ? Please let us know so that we can help you better.

Thank you

[2020-06-21 05:32] shashishailaj commented on #57513
@kewalaka Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 05:33] shashishailaj commented on #57515
@soniaang Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 05:52] shashishailaj commented on #57516
@Daniel-Krzyczkowski Thank you for catching this. We will have this reviewed with content authors and take action accordingly.

[2020-06-21 06:43] Surendra-thota1640 commented on #32940
Hi
When we use the same clientid, client secret and audience in. Net code
outside ADF it is working fine, I hope the issue is with web activity in
ADF  or do we need any extra permissions in Azure AD level. Please let me
know.

On Wed, 10 Jun 2020, 23:02 Surendra Thota, <surendra.thota.1640@gmail.com>
wrote:

[2020-06-21 06:49] abhirockzz opened #57517 "Provide info on the GitHub project, including code snippets"
Some inputs to help improve the developer experience:

- please provide instructions on cloning the GitHub project as opposed to just providing a hyperlink to download it (see section https://docs.microsoft.com/en-in/azure/iot-hub/quickstart-send-telemetry-java#prerequisites)
- please provide code snippets for send and receive (in sections https://docs.microsoft.com/en-in/azure/iot-hub/quickstart-

[2020-06-21 07:16] reinux opened #57518 "Quickstart as demonstrated in "How to authenticate users of your apps with the Microsoft identity platform" does not exist"
[This video](https://youtu.be/Mtpx_lpfRLs?t=430) demonstrates a Quickstart feature in AAD on the Azure portal, but this feature doesn't seem to actually exist.

In the video:

![image](https://user-images.githubusercontent.com/5127297/85218967-76348680-b354-11ea-995c-b2f3702dff6e.png)

In my portal:

![image](https://user-images.githubusercontent.com/5127297/85218964-661ca700-b354-11ea-9032-925fb1

[2020-06-21 07:36] vipinlalvs commented on #41248
We are having same issue, while scaling out. We are getting expired tokens on some instances. When we tried with ARR Affinity it was working.

It would be great if you guys can provide a clarity on following things.

1. Does token store need ARR Affinity to be turn on in order to work in a multi-instance app service (scaled out to 8+ instances)?.

2. ARR Affinity turned OFF + multiple instances: O

[2020-06-21 07:41] shashishailaj commented on #57517
@abhirockzz Thank you for your inputs . We will have this feedback reviewed with the content team and the product group and update this thread accordingly.

[2020-06-21 07:41] shashishailaj commented on #57518
@reinux Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 07:53] pvrk commented on #56162
Yes, minor revisions are expected to be backward compatible. Hence, if you don't see them on backup's support matrix yet but are in a urgent state to use, please continue to upgrade and use them. If you face an issue during backup, please file a support case

What we are also trying to do is to minimize the gap between the time the version is released and the time it is updated in support matrix s

[2020-06-21 08:15] michaelelleby commented on #45796
I am seeing this same issue, with minikube on a physical Windows 10 version 1909 with Hyper-V.

[code]

[2020-06-21 08:43] tajaber opened #57519 "Single app "Application Administrator" Role not able to access Provisioning logs"
Can you please calrify if the role "Application Administrator" need to be assigned on tenant level or enterprise level? Because if I assign an application administrator on one app, I cannot access Provisioing Logs (preview) with access denied error, but If I assign a user Application Administrator from All Roles under AAD then I can access the preview logs.

---
#### Document Details

⚠ *Do not ed

[2020-06-21 10:05] falrnacn opened #57520 "Delete all named-value pairs in one go"
How can we delete all name-value pair in one go?

[2020-06-21 10:16] dylanwa commented on #44968
My thinking:
When doing local development, shouldn't we use local secrets.json? [Secret Manager Tool](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows), especially when you're working in a team and you want to use your own test DB connection, etc.
Yes, it's valid to use App Configuration for local development, but not the best practice I think.

Th

[2020-06-21 10:19] singhupendra opened #57521 "Copy button copies unnecessary text"
Copy button on ```kubectl get service -l app=nginx-ingress --namespace ingress-basic``` copies the command output also. Ideally, it should copy only the command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [

[2020-06-21 11:06] apacdevpmmresources opened #57522 "Error while executing the sample"
[Enter feedback here]
Hi,

I am getting following error while running above sample (at last step).

Msg 102, Level 15, State 40, Line 27
Incorrect syntax near '='.
Msg 319, Level 15, State 1, Line 27
Incorrect syntax near the keyword 'with'. If this statement is a common table expression, an xmlnamespaces clause or a change tracking context clause, the previous statement must be terminated with a

[2020-06-21 12:30] AmitavaHazra opened #57523 "Exception while calling Face API"
Reference:
https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiincsharptutorial

Error while calling FaceApi:

IList<DetectedFace> faceList =
                        await faceClient.Face.DetectWithStreamAsync(
                            imageFileStream, true, false, faceAttributes);
                    return faceList;

There is exception occurring on the above steps

[2020-06-21 12:49] AmitavaHazra commented on #57523
It has been resolved

[2020-06-21 12:49] #57523 closed

[2020-06-21 12:57] AmitavaHazra opened #57524 "Issue with retrieving environment variable code"
Reference:
https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiincsharptutorial

Code is not able to retrieve value from environment variable.

  private const string faceEndpoint = Environment.GetEnvironmentVariable("FACE_ENDPOINT");
private const string subscriptionKey = Environment.GetEnvironmentVariable("FACE_SUBSCRIPTION_KEY");

Above line is not resolving at all.

[2020-06-21 13:07] megatc101 commented on #57312
Hello

I have an update for you.

Selecting the PROXY_URL command line option automatically enables the "Use
Proxy Server" option.  However this only works for a new installation of
the Microsoft Monitoring Agent.  I'm attempting to upgrade the agent and at
the same time amend the configuration options so that the server sends
event log data to OMS, via an OMS Gateway.  When attempting to do this

[2020-06-21 13:44] weiqing-beijing opened #57525 "The number of attestation mechanisms of IoT Edge should be three instead of two"
[Enter feedback here]
Under the Option 2: Automatic Provisioning of Configure Security Daemon:
For sentence -> "Currently, IoT Edge supports **two** attestation mechanisms when using automatic provisioning, but your hardware requirements may impact your choices.": since there are three listed attestation mechanisms, this sentence should be as -> "Currently, IoT Edge supports three attestation mech

[2020-06-21 13:56] tebeco commented on #51447
hello @tamram
I see that lots of documentation topics are moving a lot :D thx a lot for all of that ;)
Do you know if there's a preview branch I can rely on for new API around DistributedLock using Blob ?
Or any new `samples` (old one seems to be removed from the repo (getting 404)

[2020-06-21 14:08] shashishailaj commented on #57519
@tajaber Thank You for your feedback . We will investigate and update the thread.

[2020-06-21 14:21] nextxpert opened #57526 "Headers with roles appear to be missing."
[Enter feedback here]
It appears as if headers are missing in the page.

Each paragraph starts with the phrase: "Users in this role can..."  without telling what role is being discussed.

Please check that the roles are available as headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8e

[2020-06-21 14:45] AmitavaHazra opened #57527 "No camera found"
Reference:
https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoanalyzevideo_face

After running the code it is not able to detect any camera. I am running this within a Azure VM 2019 windows server 2019.
How and where we can run this sample to test it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-21 15:08] tusharmathur08 opened #57528 "Edit your Application delivery services definition"
Please edit your application delivery service definition examples as it is currently showing examples for network monitoring. If someone directly comes to view this section, he or she might get wrong conception. [page](https://docs.microsoft.com/en-us/azure/networking/networking-overview)
I have attached the image below on click here.
[Click here.](https://user-images.githubusercontent.com/3736390

[2020-06-21 15:24] guyma opened #57529 "resultType attribute value"
Azure AD sign-in logs schema contains a field called "resultType",
the example show that the field value can be "resultType": "50140"
but the field description is:
"The result of the sign-in operation can be Success or Failure."
where can i see the possible values of this field?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-21 15:35] shashishailaj commented on #57521
@singhupendra Thank you for your feedback . We will have this reviewed and update this thread .

[2020-06-21 15:38] shashishailaj commented on #57520
@falrnacn Thank you for your query. Could you please provide the reference of the document you are using . We use github for documentation improvement and would like to know which document you were using for which you provided this feedback ? Please let us know accordingly and we will take this forward.

[2020-06-21 15:43] FoonlyToons opened #57530 "MFA for Wundows, or for Azure - needlessly confusing"
I arrived at:

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-mfa-get-started

After clicking the Get Started button on:

https://www.microsoft.com/en-us/security/business/identity/mfa

This is clearly designed for enterprise users, not small business or home users. Even for enterprise users, the page is needlessly complex. Microsoft should provide the be

[2020-06-21 15:48] shashishailaj commented on #57522
@apacdevpmmresources Thank you for your feedback . We will investigate on this and update the thread.

[2020-06-21 15:50] shashishailaj commented on #57524
@AmitavaHazra Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 15:52] shashishailaj commented on #57525
@weiqing-beijing Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 15:55] shashishailaj commented on #57526
@nextxpert Thank you for your feedback . We will investigate and update the thread.

[2020-06-21 16:20] SnehaAgrawal-MSFT commented on #57527
@AmitavaHazra Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 16:23] SnehaAgrawal-MSFT commented on #57528
@tusharmathur08 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 16:24] SnehaAgrawal-MSFT commented on #57529
@guyma Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 16:25] saikumaru opened #57531 "ADF issue while copying data from JSON to MongoDB API of CosmosDB"
[Enter feedback here]

Upon completion of the pipeline the data doesnt show up on the Data Explorer of the CosmosDB account using Mongo API

Source: Json from Azure storage

Sink: Collection in Cosmos DB MongoDB

The logs show a successful run and data written
![image](https://user-images.githubusercontent.com/44021002/85229318-a0468100-b406-11ea-961f-6c0ffe3928ad.png)

But the data on collection

[2020-06-21 16:25] SnehaAgrawal-MSFT commented on #57530
@FoonlyToons Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 16:52] ThomasVandenbon opened #57532 "Update CosmosDB Emulator Throughput through the REST API causes 401: Unauthorized"
_Note: I'm adding feedback to this page, since I can't add feedback to the [Access control in the Azure Cosmos DB SQL API](https://docs.microsoft.com/en-gb/rest/api/cosmos-db/access-control-on-cosmosdb-resources)._

I've managed to use the REST API to:
- Create/List/Delete databases
- Create/List/Delete collections
- Add documents

But I can't figure out how to modify the throughput of a collectio

[2020-06-21 17:13] SNorzagaray opened #57533 "Steps missing"
I thing two steps are missing for the Net Core 3.1:
On Program.cs the options.Connect:
                        var settings = config.Build();
                        config.AddAzureAppConfiguration(options =>
                        {
                            options.Connect(settings["ConnectionStrings:AppConfig"]);
                        });

On Startup.cs:
                       app.UseAzure

[2020-06-21 17:25] akiragothick commented on #46744
Hello friends,

{
  "recordingsUrl": "https://xxxx.blob.core.windows.net/container-blob-audio/cortito2.wav?sv=2018-03-28&sr=b&sig=xxxx&se=2020-06-22T17%3A18%3A33Z&sp=rwdl",
  "models": [

  ],
  "locale": "es-MX",
  "name": "FFTCA001_Transcription_2020-06-21T17:18:33.3043668Z",
  "description": "An optional description of the transcription.",
  "properties": {
    "AddWordLevelTimestamps": "True",

[2020-06-21 17:39] akiragothick opened #57534 "The property transcription.TranscriptionResultsContainerUrl is missing required query parameters"
Hello friends,

{
"recordingsUrl": "https://xxxx.blob.core.windows.net/container-blob-audio/cortito2.wav?sv=2018-03-28&sr=b&sig=xxxx&se=2020-06-22T17%3A18%3A33Z&sp=rwdl",
"models": [

],
"locale": "es-MX",
"name": "FFTCA001_Transcription_2020-06-21T17:18:33.3043668Z",
"description": "An optional description of the transcription.",
"properties": {
"AddWordLevelTimestamps": "True",
"AddDiarization":

[2020-06-21 17:49] manikyabard commented on #57430
Try using the global endpoint in your code instead of the one given in "APIs and Endpoints".
So in this case, put https://api.cognitive.microsofttranslator.com as your endpoint.

[2020-06-21 17:56] weiqing-beijing opened #57535 "no "share access key" for connection string under X.509 CA certificate authentication"
[Enter feedback here]
On this page under "Retrieve and modify connection string" section, there is a mention of "Parent/child relationships are required for X.509 authentication but optional for symmetric key authentication. For example: HostName=myGatewayDevice;DeviceId=myDownstreamDevice;SharedAccessKey=xxxyyyzzz".

But there should not be shared access key for X.509 CA certificate authenticatio

[2020-06-21 18:38] BryanTrach-MSFT commented on #57243
@anil-kapoor Please note that this is the Azure Docs repro where we handle feedback related to Azure Docs.

Since your question seems to be more related to troubleshooting, we kindly request you post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html), where we have engineers waiting to assist you further.

Thank you for your understanding.

[2020-06-21 18:44] BryanTrach-MSFT commented on #57531
@saikumaru Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 18:46] BryanTrach-MSFT commented on #57534
@akiragothick
Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2020-06-21 18:49] BryanTrach-MSFT commented on #57532
@ThomasVandenbon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 18:51] BryanTrach-MSFT commented on #57533
@SNorzagaray Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 18:52] BryanTrach-MSFT commented on #57535
@weiqing-beijing Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 18:57] Daniel-Krzyczkowski opened #57536 "Incorrect video indexer website link"
In the section called [Sign up for Video Indexer](https://docs.microsoft.com/en-us/azure/media-services/video-indexer/video-indexer-get-started#sign-up-for-video-indexer) there is not correct link to the Video Indexer website. Once clicked, there is "403 - Forbidden: Access is denied" returned.

Incorrect URL used: https://www.videoindexer.com/

Should be: https://www.videoindexer.ai/

---
#### Do

[2020-06-21 19:21] AjayKumar-MSFT commented on #57206
@GZidar, Thanks again for sharing great feedback.

The tutorial aims to provide key concepts and general instructions on how to use the APNS HTTP/2 protocol with token-based authentication, provides step-step instructions on obtaining authentication information from Apple and setting-up configuration in the Azure Portal and also emphasizes that the token value is selected on the Apple Developer po

[2020-06-21 20:11] qm13 commented on #53383
@asergaz Please close,

[2020-06-21 20:13] akiragothick commented on #57534
Dear @BryanTrach-MSFT ,

here link: https://docs.microsoft.com/es-es/azure/cognitive-services/speech-service/batch-transcription,

in the configure section is the parameter

{
  "recordingsUrl": "<URL to the Azure blob to transcribe>",
  "models": [{"Id":"<optional acoustic model ID>"},{"Id":"<optional language model ID>"}],
  "locale": "<locale to use, for example en-US>",
  "name": "<user define

[2020-06-21 21:04] Marusyk opened #57537 "How to add NuGet package in the new interface"
I need to add a Nuget package to my function on the portal. How can I add `function.proj` with new interface?

![image](https://user-images.githubusercontent.com/9221694/85235202-ebb75a00-b41b-11ea-8b19-283c62a1db02.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c59
* Version Indep

[2020-06-21 21:07] bluonic opened #57538 "Policy does not exist: "Use the hardware default graphics adapter for all Remote Desktop Services sessions""
In none of my VMs (Windows 10 Pro), I can find the mentioned group policy:
"Use the hardware default graphics adapter for all Remote Desktop Services sessions"

Has it been deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d3e1c81-42fd-8a46-b816-9dcce9e6b3f3
* Version Independent ID: 06ab7ec2-2a39-c4de-8d9e-5

[2020-06-21 21:20] osmanys opened #57540 "Differences in geography concepts"
Hello,
According to [Understand Geographies in Azure](https://docs.microsoft.com/en-us/learn/modules/explore-azure-infrastructure/3-geographies) an Azure geography contain *"two or more regions that preserve data residency and compliance boundaries"*.
...
*Geographies are broken up into the following areas:*
- *Americas*
- *Europe*
- *Asia Pacific*
- *Middle East and Africa*

However in this artic

[2020-06-21 22:12] mkvalluri commented on #49245
Same issue using Linux B1, but it works when switched to Windows.

[2020-06-21 22:45] HeidiSteen commented on #57489
@ajeetk-github You are correct.  If you have 3 fields that contain the same string, and each field has a different analyzer, the same string will undergo 3 different analyses.  The Test Analyzer API will show you exactly how that string is tokenized by each analyzer.  Usually, if people build a search app with fields containing language-specific content, they'll use the $select parameter and/or $f

[2020-06-21 22:46] blingjug commented on #42257
Changing the syntax is one thing... But then seeing all the current documentation in the Import/Export process in O365, while linking to the new version that uses a totally different syntax... That's a paddling

[2020-06-21 23:20] JimacoMS3 commented on #44206
@RyanMannix Thanks again for your feedback. I haven't heard back from you, so I'm now going to close this issue. If you think there is more to be addressed please @comment me here or open another issue. Thanks!

Jimaco

[2020-06-21 23:20] JimacoMS3 commented on #44206
#please-close

[2020-06-21 23:20] #44206 closed

[2020-06-21 23:36] techangelsau opened #57542 "Requires update"
One thing that is not mentioned here is that Azure AD User Provisioning Mappings.
It is important to note that if the Azure AD Groups Provisioning is enabled, it provisions ALL user groups from Azure AD into Zendesk, and there is no way to delete them in an automated way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-21 23:40] BryanTrach-MSFT commented on #57534
@akiragothick Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:42] BryanTrach-MSFT commented on #57536
@Daniel-Krzyczkowski Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:43] ctolkien opened #57543 "Azure Monitor logs does not contain information on all the supported log types."
The current information contains information about the following log types:

![image](https://user-images.githubusercontent.com/515955/85237755-92c3e200-b46c-11ea-990c-38dd6cd89d04.png)

However, the current Azure Portal (2020-06-22) lists a number of additional log types:
![image](https://user-images.githubusercontent.com/515955/85237790-c0109000-b46c-11ea-95f0-45275357781b.png)

These are undocu

[2020-06-21 23:44] BryanTrach-MSFT commented on #57537
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:46] BryanTrach-MSFT commented on #57538
@bluonic Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:47] BryanTrach-MSFT commented on #57540
@osmanys Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-21 23:51] BryanTrach-MSFT commented on #57542
@techangelsau Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:52] eshy opened #57544 "The instructions to turn on spending limit are unclear, maybe out of date, or just plain wrong."
The instructions to turn on spending limit are unclear, maybe out of date, or just plain wrong.
[Enter feedback here]

(edited by brtrach to include title in the body)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a-fee6432e09d2
* Con

[2020-06-21 23:55] BryanTrach-MSFT commented on #57543
@ctolkien Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-21 23:58] BryanTrach-MSFT commented on #57544
@eshy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-22 00:11] #57536 closed

[2020-06-22 00:12] BryanTrach-MSFT commented on #57536
@Daniel-Krzyczkowski Thank you for bringing this up. We went ahead and made a doc edit. The change should be publicly viewable within 24 hours or less.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 00:56] neerajks77 opened #57545 "Access without the host entry"
[Enter feedback here]
I do not wish to have the host entry on my machine or in the Azure VM. How can I access without the host entry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Independent ID: 4197cd82-b89e-ac93-d966-40c06e3e8588
* Content: [Connect privately to a Web

[2020-06-22 01:04] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin Any update here?

[2020-06-22 01:16] NWiddup opened #57546 "SQL IAAS RP Default manual installation not correct"
In this article, the section for the different Management Modes indicates that "FULL" is the default installation type when installing Manually, however if you install manually using the AZ CLI (in the portal), it installs in Lightweight mode by default (not Full).

Please clarify:
1. What is the correct behaviour/expected outcome.
2. If the expected default behaviour is different between types of

[2020-06-22 01:42] HeidiSteen commented on #57489
@ajeetk-github  sorry, I should have mentioned "searchFields" to scope the query to a lang-specific field, and then "select" to include that field in the response.

[2020-06-22 01:52] jffaust opened #57548 "Allowed characters for the partition key value"
The section "Choosing a partition key" should include the allowed characters that can be used for a partition key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee4038d5ecd1
* Version Independent ID: e45b7f29-4d75-0dda-0f13-38b644213840
* Content: [Partitioning in Azure Cosmos DB](https://docs.

[2020-06-22 01:56] jffaust commented on #57548
And also possibly other limits like the max. number of characters. This information is pretty hard to find.

[2020-06-22 01:58] jffaust commented on #57548
The key length limit can be found [here ](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits) but I think it would make sense to also add a reference to the limits in the "Choosing a partition key" section.

[2020-06-22 02:04] BhargaviAnnadevara-MSFT commented on #57139
@tp6hannah Sure, thanks for confirming. Also, exporting the template from _Resource group > Deployments_ blade should still work and generate the ARM template.

Just to clarify, the method of creation of the App Insights resource is not relevant to this error.
It should be gone once the ARM schema for that resource provider is published. Similar issue discussed [here](https://github.com/Azure/azur

[2020-06-22 02:11] BhargaviAnnadevara-MSFT commented on #57139
@tp6hannah At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-22 02:11] #57139 closed

[2020-06-22 02:14] chanmmn opened #57549 "The Publish dialog is completely different"
[Enter feedback here]

Publish your web app Step 1 right-click the myFirstAzureWebApp project and select Publish
The dialog look like this https://1drv.ms/u/s!AlUZkNIm6J4hhRj4yyJGA1uDYpT8?e=GDCnWr

But the Publish dialog from Visual Studio 2019 version 16.6.2 is like this
https://1drv.ms/u/s!AlUZkNIm6J4hhRms7yeml0SD8x9w?e=cCWAcJ

There are completely different. This document really need to be upda

[2020-06-22 02:24] pacodelacruz opened #57550 "Update availability in the Australia East region"
[Enter feedback here]

Please update availability in the Australia East region. I have been able to create Service Bus and Event Hubs namespaces with zone redunancy in the Australia East region. However, this page does not reflect this support.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-

[2020-06-22 02:32] spelluru commented on #56777
This issue is fixed now. Thank you for reporting the issue.

#please-close

[2020-06-22 02:32] #56777 closed

[2020-06-22 02:40] VikasPullagura-MSFT commented on #57337
@deyanp
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-22 02:40] #57337 closed

[2020-06-22 02:42] VikasPullagura-MSFT commented on #56834
@jusnitlive

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-22 02:42] #56834 closed

[2020-06-22 03:12] VikasPullagura-MSFT commented on #57546
@NWiddup
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-22 03:27] Calvin-Yuhui-Liu opened #57551 "Something may need to be updated"
Hi there, somehow the instruction on this page doesn't work for me.
(I believe) I did everything as this document says but when goes to the test:

**For local account login:**
It kept saying "**_Invalid username or password_**". Although I can use the same username and password to sign up/in with a standard user flow.

**For the Facebook authentication**:
I got the following error,
![image](https:

[2020-06-22 03:57] Calvin-Yuhui-Liu opened #57552 "For "Grant API access" section, looks like step 8 and 9 are not necessary"
For "Grant API access" section, looks like step 8 and 9 are not necessary:
![image](https://user-images.githubusercontent.com/42446782/85247167-c74e8400-b401-11ea-948a-36a4395d761c.png)
Could someone please help to confirm? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45fe2896-2630-fcfa-97ed-c11f5bcdeb26
* Ve

[2020-06-22 04:19] paulbouwer commented on #56057
The `--logtostderr --set installPackagePath=./install/kubernetes/operator/charts` bit was originally added in to resolve:
- [MicrosoftDocs/azure-docs - issue #45252 - Problems with istioctl command on window](https://github.com/MicrosoftDocs/azure-docs/issues/45252)
- [istio/istio - issue  #19020 - istioctl install fails on windows](https://github.com/istio/istio/issues/19020)

It looks like it wa

[2020-06-22 04:26] Daniel-Krzyczkowski commented on #57536
Great, thank you!

[2020-06-22 04:36] SnehaAgrawal-MSFT commented on #57549
@chanmmn Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-22 04:36] SnehaAgrawal-MSFT commented on #57545
@neerajks77 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-22 04:40] SnehaAgrawal-MSFT commented on #57391
@EGlennn Since we didn't hear back from you we will close this out.

[2020-06-22 04:40] #57391 closed

[2020-06-22 04:41] RohitMungi-MSFT commented on #57283
@GeekTrainer We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-22 04:41] #57283 closed

[2020-06-22 04:44] SnehaAgrawal-MSFT commented on #57416
@g0pinath-metricon Since we didn't hear back from you we will close this out. In case issue persists please let us know.

[2020-06-22 04:44] #57416 closed

[2020-06-22 04:48] RohitMungi-MSFT commented on #57267
@PatrickFarley Could you please review the feedback on this thread to change the TOC heading and using different pages for SDK samples for different languages in your future updates to the documentation?

@annelo-msft We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-22 04:48] #57267 closed

[2020-06-22 05:07] AmitavaHazra opened #57553 "Issue with Build-a-classifier model"
Reference:
https://docs.microsoft.com/en-us/azure/cognitive-services/Custom-Vision-Service/getting-started-build-a-classifier

I was following tutorial for building classification model.

I have uploaded 5 images and tagged it as "Mask" but it is not allowing me to train the model.

Error:
Your project can't be trained just yet. Make sure you have at least 1 non-negative tag and 5 images for every

[2020-06-22 05:18] SumanthMarigowda-MSFT commented on #57076
@whatisthejava The PR request has been initiated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 05:18] #57076 closed

[2020-06-22 05:23] SumanthMarigowda-MSFT commented on #57136
@Gerould  Pull request successfully merged and closed< for more information you may refer here!  https://github.com/MicrosoftDocs/azure-docs/issues/54757 . If you still have any issue. I would recommend to post your query in https://azure.microsoft.com/en-us/support/community/ (Microsoft Q&A) I would like to follow-up there!
We will now proceed to close this thread. If there are further questions

[2020-06-22 05:23] #57136 closed

[2020-06-22 05:33] AshokPeddakotla-MSFT commented on #56981
Since your issue is resolved as mentioned in the linked issue,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

![image](https://user-images.githubusercontent.com/44426435/85251784-d2dc9200-b477-11ea-837d-2abc46633c2c.png)

[2020-06-22 05:33] #56981 closed

[2020-06-22 05:34] AshokPeddakotla-MSFT commented on #57023
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-22 05:34] #57023 closed

[2020-06-22 05:37] RohitMungi-MSFT commented on #57553
@AmitavaHazra When a tag is created the service expects at least 5 images for each tag  and it is also necessary to tag some images as negative so the model can differentiate the two states. For example:

If your goal is to distinguish between an empty room and a room with people in it, we recommend tagging five or more images with people as a new class, People, and tagging five or more images wit

[2020-06-22 05:50] SumanthMarigowda-MSFT commented on #57253
@ydeenekamp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 05:50] #57253 closed

[2020-06-22 05:50] VikasPullagura-MSFT commented on #56990
@StingyJack
Can you please share the URL that you are using (Ex. Such as portal.azure.com, portal.azure.us, portal.azure.cn or others) for both your Environments?

Also, If you can share the session ID from the environment that is having issues that will help us narrow down the issue some more.

Thanks.

[2020-06-22 05:56] RohitMungi-MSFT commented on #57515
@soniaang You can use this python [sample ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/image-classification?pivots=programming-language-python)using the SDK to get the predictions.

[2020-06-22 06:05] ajafry opened #57554 "Clarification on the use of the Sentinel key"
It would be helpful to mention that if you are not using the Sentinel key, then you have to manually register every key that you want to watch for a refreshed value. It would also be helpful to link the "Options pattern in ASP.NET Core" page from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-6

[2020-06-22 06:13] RohitMungi-MSFT commented on #57524
@AmitavaHazra Yes, the [guidance](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Cwindows#configure-an-environment-variable-for-authentication) for the samples is to use setx to set the variables and use them in the samples.

[2020-06-22 06:13] MisiekBest opened #57555 "Missing link for "Learn more" in identity providers for External Identities"
In the section "Integrate with Identity providers", this line: "Learn more about identity providers for External Identities." is not linked to any external documentation and looks like it should be :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f8cb0a2-6df6-06d6-8cda-df18c0b2f32f
* Version Independent ID: e452da86-

[2020-06-22 06:14] AnuragSharma-MSFT commented on #57548
@jffaust Thank you for writing to us. This is being assigned to the content author to evaluate and update as appropriate.

Currently Partition Key can contain a mix of both alphabets and numeric values and should always start with alphabets.

[2020-06-22 06:21] shashishailaj commented on #57552
@amanmcse Thank you for your feedback . We will have this reviewed and update it .

[2020-06-22 06:22] PramodValavala-MSFT commented on #57294
@RonnieQuan Just following up here... Hope my previous comment clears things up.

[2020-06-22 06:23] shashishailaj commented on #57551
@amanmcse Thank you for your feedback . We will investigate and update further.

[2020-06-22 06:25] shashishailaj commented on #57555
@MisiekBest Thank you for pointing that out . We will have this reviewed and updated.

[2020-06-22 06:26] shashishailaj commented on #57550
@pacodelacruz Thank you for pointing this out. We will have this reviewed and updated as needed.

[2020-06-22 06:56] VikasPullagura-MSFT commented on #57318
@liutang
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-22 06:56] #57318 closed

[2020-06-22 06:56] joelw opened #57556 "Monitor connection status as a producer?"
Do you have any thoughts on how a producer can monitor Event Hub connectivity status with the Azure SDK? (I'm using the Java SDK) As an example, an application is reading from a reliable queue and transforming and forwarding messages to Event Hubs. If the connection to Event Hubs is interrupted, it seems like the SDK will presumably buffer messages in memory until they can be sent. This is great u

[2020-06-22 07:01] astaykov opened #57557 "Custom sining key seems to not be required anymore"
A custom signing key does not seem to be required anymore. `acceptMappedClaims` set to `true` in application manifest seems to be enough.
Can you confirm and respectively update this part of the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID:

[2020-06-22 07:04] RohitMungi-MSFT commented on #57534
@akiragothick Could you please recheck the container URL or regenerate the same using the storage explorer(Preview) tab on Azure portal for your storage account?

[2020-06-22 07:07] astaykov opened #57558 "Custom extension attributes support not described"
It seems it is possible to also include or refer to custom extension attributes, registered by **any** application. However the claims schema (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#claim-schema-entry-elements) looks different then.
When referring to custom extension attribute the claims schema has **Source/ExtensionID** values and not **Sou

[2020-06-22 07:19] dcurwin commented on #57326
#reassign:tjvishnu

[2020-06-22 07:23] jjindrich opened #57559 "App Configuration - Where is dedicated UI for feature management"
Hi, as mentioned on App config overview page. Please where I can find more information about "Dedicated UI for feature flag management" ? I can see section in Azure Portal only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f

[2020-06-22 07:33] SpockDK commented on #57289
Hi
I do not need to provide a PIN, I just have to press the Approve button.

I have nowe also tried to select send a SMS, and again I do get 4 SMS at all, but I never get a box to type the code.

I then changed it to a phone call, and I do get 2 calls which I both get a successfully verified. And after RDP session did time out, I did get two extra calls to verify.

Still the same messages in my Ev

[2020-06-22 07:35] SwathiDhanwada-MSFT commented on #57427
@v-hakob Thanks for reaching out!! There are no costs associated for the Log analytics Agent and also Log analytics Gateway. You can use them for free of cost.

Hope this helps!!

[2020-06-22 07:37] tjvishnu commented on #57326
Yes you cannot choose RAGRS explicitly for a vault today. However, when you enabled Cross region restore, we upgrade the underlying data in GRS to an RAGRS backup storage. That's the reason it will be billed as RAGRS storage.

Regarding the query on pricing page, there is a delay in updating the page. It should be updated soon

[2020-06-22 07:39] V-Guru opened #57560 "Support for UBUNTU 18.04.3 LTS(4.9.88 armv7I)"
# Azure IOT edge support for ARMv7 with Ubuntu

Is Azure supports above configuration?

System details:

![image](https://user-images.githubusercontent.com/23724110/85261225-7b472200-b489-11ea-87b8-b6227cf9163b.png)

#Error On iot edge installation
I
![image](https://user-images.githubusercontent.com/23724110/85261106-5c489000-b489-11ea-94fc-94fa2696666d.png)

Thanks
Suresh

---
#### Document Deta

[2020-06-22 07:44] AshokPeddakotla-MSFT commented on #54440
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 07:44] #54440 closed

[2020-06-22 07:45] AshokPeddakotla-MSFT commented on #56912
@chrisfromwork We hope that addresses your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 07:45] #56912 closed

[2020-06-22 07:54] win2000b opened #57561 "SAP Business One Hardware Requirements Guide Link broken"
Link is broken for "SAP Business One Hardware Requirements Guide."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c88fe88b-64af-eafa-60fa-4bdce1a47f9a
* Version Independent ID: c2ae11b3-fdbe-5e9b-b439-ab5006653000
* Content: [SAP Business One on Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-mac

[2020-06-22 08:26] timvanderweijde commented on #57177
@TravisCragg-MSFT What is changed? I still see the same text I mentioned in the issue.

[2020-06-22 08:28] Expecho opened #57562 "Sample AlertContext for Log Analytics is wrong"
The sample json for the alert context of a Log Analytics alert is wrong, the properties IncludeSearchResults and AlertType are defined outside the alertContext object, but they are properties of the alertContext object itself, like the Application Insights alertcontext object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-22 08:30] Sebastian-Negoescu opened #57563 "Wrong Linux Extension info"
[Enter feedback here]
Regarding "On Linux, the extension is called "LinuxAgent.AzureSecurityCenter" and provider name is "Qualys"

The actual values are PublisherName "Qualys" and Type is "QualysLinuxAgent"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747a2c52-c59c-dedc-9c72-6b6352ea2cab
* Version Independent ID: 07e

[2020-06-22 08:37] Ericgre commented on #57545
Hello, you mean you wish to access your webapp only by IP address ?
This is impossible, you must use a DNS name, you can bring your own domain name if needed, you can use private DNS zone ...

[2020-06-22 08:45] MrAzureAD opened #57564 "Creation of gallery app needs provisioning time"
You should mention that the creation of the gallery app needs time to provision.
So any subsequent call to the application or service principal may fail.

My recipe is to do a GET query on the application / service principal object every 5-10 seconds until it the query is successful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-06-22 08:47] amanmcse commented on #57020
@zzl1 Have you sent the email?

[2020-06-22 08:50] AshokPeddakotla-MSFT commented on #57359
@DeanGross  Links mentioned on Recent Updates page working fine. Below are the reference links.

https://azure.microsoft.com/en-us/updates/azure-iot-central-jobs-and-metrics-feature-updates-may-2020/
https://azure.microsoft.com/en-us/updates/azure-iot-central-may-2020-dashboard-updates/

![image](https://user-images.githubusercontent.com/44426435/85267844-5ce62400-b493-11ea-86d0-2823f854c0ea.png)

[2020-06-22 08:50] #57359 closed

[2020-06-22 08:54] amanmcse commented on #57498
@MrHinsh I just checked all the links in this [document ](https://docs.microsoft.com/en-us/azure/active-directory/b2b/code-samples-self-service-sign-up#custom-approval-workflows)and all links are working. Could you please check again and let me if you are still facing the issue?

[2020-06-22 08:56] AshokPeddakotla-MSFT commented on #57187
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 08:56] #57187 closed

[2020-06-22 08:56] MrAzureAD opened #57565 "Claims mapping policy: key names may be case sensitive"
Note that at least some keys in the claims mapping policy are case sensitive.
I literally spend hours to find that "Version" works while "version" does not.
Graph error messages like "One or more properties contains invalid values." are not helpful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa04cf91-e1eb-5b59

[2020-06-22 08:58] amanmcse commented on #57512
@bdan9559 Please include the details in your question so that we can assist you.

[2020-06-22 08:58] isamllr opened #57566 "Extend this tutorial with ADLS Gen2 support vs Blob"
Please wxtend this tutorial with ADLS Gen2 support vs Blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eaa2684-cde6-e260-5725-d0eea894889f
* Version Independent ID: ed048e95-a087-50f5-b2c7-0c3b6be2b70f
* Content: [Run an Apache Spark job with Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.m

[2020-06-22 09:08] MrAzureAD opened #57567 "Configuring signing key cert is not detailed enough"
The configuration of signing key cert lacks details regarding field meaning and how to extract and convert the information from the certificate. The referenced link is not helpful.

Suggestion for information to add:
- key field contains the Base64 string of the raw cert data
- use the X509Certificate2 class to read both public and private certs and use the GetRawCertData() function

---
#### Docu

[2020-06-22 09:09] SebastianClaesson opened #57568 "Add information about the different available deployment types (Resource Group/Subscription)"
[Enter feedback here]
There should be a mention that if deployed to a resource group (PS command: New-AzResourceGroupDeployment) is used then the budget is tied to the Resource group, whilst if New-AzSubscriptionDeployment is used with a subscriptionDeploymentTemplate then the scope of the budget is at subscription level and not resource group level.

Reference:
https://docs.microsoft.com/en-us/az

[2020-06-22 09:09] #57565 closed

[2020-06-22 09:10] MrAzureAD commented on #57565
Duplicate of #57264

[2020-06-22 09:12] w0ut0 commented on #10766
I also see this "Vortex [wsfed enabled]" showing up.

When correlating with network logs, I see the browser tried accessing "http://web.vortex.data.microsoft.com/".

This seems to be a domain that Microsoft uses for tracking. Why does this application occur in our sign-in log?

[2020-06-22 09:15] amanmcse commented on #57289
@SpockDK  Have you increased the default timeout values as mentioned [here](https://docs.microsoft.com/en-ca/azure/active-directory/authentication/howto-mfa-nps-extension-rdg#configure-radius-timeout-value-on-remote-desktop-gateway-nps).

"**I have nowe also tried to select send a SMS, and again I do get 4 SMS at all, but I never get a box to type the code.**"
In RDP, you will not get an option to

[2020-06-22 09:15] MrAzureAD opened #57569 "Activated signing key shows as inactive in Azure portal"
I activated the signing key and the PreferredTokenSigningKeyThumbprint shows in the servicePrincipal object.
Still in Azure portal in Enterprise Apps -> SSO -> SAML -> SAML Signing Cert the certificate is shown as "Inactive".

I cannot confirm (yet) that the key works in this state.

Either this is works-as-designed visibility issue then it should be at least mentioned in the docs
OR it is a bug a

[2020-06-22 09:21] ma3u commented on #50942
@vikancha
When we can expect the missing information of
Disk throughput measured in input/output operations per second (**IOPS**) and **MBps** ?

[2020-06-22 09:22] dedvds opened #57570 "App content of ACM in PowerBI does not load"
We have an issue when loading the App content for ACM for the first time. A conversion step seems to be going wrong when loading the data into the reports:

{"error":{"code":"ModelRefresh_ShortMessage_ProcessingError","pbi.error":{"code":"ModelRefresh_ShortMessage_ProcessingError","parameters":{},"details":[{"code":"Message","detail":{"type":1,"value":"We cannot convert the value null to type Reco

[2020-06-22 09:23] MrAzureAD opened #57571 "Multiple AWS instances - unique identifier required?"
In a multiple AWS instances scenario, it used to be required to make the AWS identifier URI unique by adding "#" and any unique value.
This is still mentioned in the AAD tutorial for AWS [here](https://docs.microsoft.com/de-de/azure/active-directory/saas-apps/amazon-web-service-tutorial)

This doc should make clear if for AWS a unique identifier is still required or not.

---
#### Document Details

[2020-06-22 09:26] kristinesimon opened #57572 "[Question] Managed Identity with Authorization Flows"
What type of auth flow does Managed Identity use? Since it uses application permission, is it Client Credentials? How do I use Managed Identities for authenticating APIs that use AuthCode Flow? Since some APIs require a scope in the token, how would it be managed if we opt to use Managed Identities instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-06-22 09:28] MrAzureAD commented on #56589
I cannot confirm this. For me both public key types "X509CertAndPassword" and "AsymmetricX509Cert" work.

[2020-06-22 09:42] DavidTrigano commented on #57259
Hello @loopfish

Many thanks for your inquiry. I will try to assist you, based on what I see in your screenshots:

1. The first screenshot you attached shows the number of classified columns versus the total number of columns you have in your database (100/10256)
2. To avoid high impact on database's performance, we limit by design the number of recommendations to 100. We recommend to the DBA to r

[2020-06-22 09:47] kajencik opened #57573 "OWASP link is broken"
It seems the OWASP link is no longer working, the correct one seems to be: https://owasp.org/www-project-modsecurity-core-rule-set/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3abaaaa-87a3-f5b6-4265-a5cff6206ed4
* Version Independent ID: c93fe969-c631-0d2d-fcb7-c347da3a96d9
* Content: [Introduction to Azure Web App

[2020-06-22 09:49] amanmcse commented on #57519
@tajaber If you have added a user to Application Administrator role of a specific application under App Registration, you cannot modify that application under Enterprise application as it provides  Application Administrator privileges to manage App Registration only and not the corresponding service principal under enterprise applications.

[2020-06-22 09:54] #57128 closed

[2020-06-22 09:55] the-grayest opened #57574 "Uncertain statement"
Ref: #57092

Current document states:
A single blob supports up to 500 requests per second.

As far as I understand, it is applicable to what is stated here: https://docs.microsoft.com/en-us/azure/storage/blobs/scalability-targets

However, the actual performance of the single blob is depending on performance tier: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-performance-tiers

[2020-06-22 09:55] YutongTie-MSFT commented on #57131
@Navatalin I have created a fix for this. You should see the change soon. Thanks again for the feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-22 09:55] #57131 closed

[2020-06-22 10:03] VikasPullagura-MSFT commented on #57566
@isamllr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-22 10:04] VikasPullagura-MSFT commented on #57566
@lenadroid
Can you please check and add your comments on this doc update request as applicable.

[2020-06-22 10:05] VikasPullagura-MSFT commented on #57010
@jimzim Thanks for adding the details.

@madhukiranbr
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-22 10:05] #57010 closed

[2020-06-22 10:11] loopfish commented on #57259
thank @DavidTrigano

I had already seen the PowerShell commands, but at the moment, I am looking to give this to our SecOps as a weekly manual task. The most columns with recommendations we've seen so far is 420, so actually, scrolling down and down, then selecting all, is not too much of a problem. Is the 100 limit just what is returned to the page (for performance)? But I can actually apply 100+

[2020-06-22 10:12] ChiragMishra-MSFT commented on #57183
@kromerm Can you please take a look at this enhancement request?

[2020-06-22 10:13] zhouwangzw commented on #46744
The SAS you were using is an account SAS, but not a service SAS. As I mentioned in the answers above, please a service SAS. Please try to create a service SAS with write permission to the container where the results should be stored.

[2020-06-22 10:16] Tim-Hodge opened #57575 "Example file hello-world-ingress.yml requires correct namespace"
Add `namespace: ingress-basic` to line 5 of hello-world-ingress.yaml file.
Without a namespace the ingress controller will be created in the default namespace and won't be able to find backend services, resulting in a 503 error.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Versi

[2020-06-22 10:18] PramodValavala-MSFT commented on #57363
@spelluru Do we have any published metrics that we can share here?

[2020-06-22 10:19] akingscote opened #57576 "Linux VPN Setup - Missing Prerequisite"
Hello,

I spent far too long struggling to get this working before realising that you cant have the SKU set to `Basic`.
See 4.2 - https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#addresspool

I think that there is an assumption that all of this documentation is consumed in one go and in order.
In my case, i had used terraform to deploy an A

[2020-06-22 10:21] algattik opened #57577 "How many IP addresses for private subnet?"
The information from the different sources is confusing. This page states that with /26 subnets, you can have a maximum of 64 nodes active at a time. This sounds wrong, since such subnets have only 62 usable IPs.

Then, https://github.com/Azure/AzureDatabricksBestPractices/blob/master/toc.md#select-the-largest-vnet-cidr, we state that we need 4x more IP addresses in the private subnet. So that wou

[2020-06-22 10:24] plachor commented on #56589
Have you used SDK or directly graph API?

[2020-06-22 10:25] AmitavaHazra commented on #57524
@RohitMungi-MSFT,

I know how to set environment variable but please find my issue below.

private const string faceEndpoint = Environment.GetEnvironmentVariable("FACE_ENDPOINT");
 private const string subscriptionKey = Environment.GetEnvironmentVariable("FACE_SUBSCRIPTION_KEY");

Above line is not resolving at all in visual studio 2019.
 Build error:
 the expression being assigned to must be cons

[2020-06-22 10:35] SpockDK commented on #57289
Hi

Problem found, it was the Pre-Shared Key on my RDGW that was missing. I think what went wrong for me was, that after I did set up the RDGW and moved on to the NPS on the RDGW and opened the TS GATEWAY SERVER GROUP, the Radius server had not yet replicated, so I did that manually. And by doing this, the Pre-Shared Key got cleared, and my installaiton corrupted. This time I was a bit slower, and

[2020-06-22 10:35] #57289 closed

[2020-06-22 10:36] VikasPullagura-MSFT commented on #57561
@win2000b
Thanks for bringing this to our attention. We are working towards fixing this and will get back on this.

[2020-06-22 10:36] PramodValavala-MSFT commented on #57257
@llimos Thanks for catching that! We have worked up a PR to address the issue, which will reflect in a couple of hours once merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 10:36] #57257 closed

[2020-06-22 10:40] vpohl opened #57579 "Using Azure CDN with SAS and Rules Engine v4.0"
The tutorial of using Azure CDN together with Verizon Premium seems to be outdated for the Rules Engine v4.0.

- If I strictly follow the tutorial (Option 2), I get the this error:
![image](https://user-images.githubusercontent.com/15653922/85276873-c1e54e00-b482-11ea-9f48-a31d2cd57aa4.png)

- I found (https://stackoverflow.com/questions/58697519/azure-cdn-verizon-custom-rewrite-rule-invalid-origi

[2020-06-22 10:41] Surendra-thota1640 commented on #32940
Hi Chanakya
The audenice here is resource_Id  ,  i am able to get the token from the webactivity without error but the token generated one is not valid one , when i used that token in jwt.io to check the aud is giving some wrong value , if i have use the same client id , secret and resource id in net code  thet token which is generated there is a valid one , if i use that in our copy activity it i

[2020-06-22 10:45] AnuragSharma-MSFT commented on #57496
@rpanday Thank you for the feedback. Please read below for more details.

There is slight difference in both the cases. One talks about distribution of RUs based on physical partitioning, while other talks about based on logical partitioning.

**Provisioned the throughput at the container level:** Throughput is distributed among all the physical partitions which in turn will be distributed across

[2020-06-22 10:45] mchudinov opened #57580 "Is dashboard enabled or disabled?"
This page gives a confusing information about dashboard for Kubernetes:

"_The dashboard add-on will be disabled by default for all new clusters created on Kubernetes 1.18 or greater._"
and then in the same page:
_"The kube-dashboard addon is enabled by default on clusters older than K8s 1.18."_

So is the dashboard enabled or disabled?

Then comes an information about how to disable the dashboard

[2020-06-22 10:46] ChiragMishra-MSFT commented on #57280
@VitalyMCT The "Output Stream Name" represents the name/label for your output stream (which consists of a sink dataset).

In the image below, you can see multiple sinks - DayStatsSink, VendorStatsSink, TotalPaymentBy... These streams represent a specific output which can be written to any supported sink dataset (which represents the actual dataset).

![image](https://user-images.githubusercontent.

[2020-06-22 10:51] shashishailaj commented on #57557
@astaykov Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:52] shashishailaj commented on #57558
@astaykov Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:53] shashishailaj commented on #57563
@Sebastian-Negoescu Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:57] shashishailaj commented on #57564
@MrAzureAD Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:57] shashishailaj commented on #57567
@MrAzureAD Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:58] shashishailaj commented on #57569
@MrAzureAD Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 10:59] shashishailaj commented on #57571
@MrAzureAD Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 11:00] CatchSandeepVaid opened #57581 "Cant find option of Diagnostic Settings user Function app"
Cant find option of Diagnostic Settings user Function app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceaf516-a1b0-eb1e-e106-62c31db3e69c
* Version Independent ID: abbbd2d6-e0fc-d370-f4a7-ac669fc4acd6
* Content: [Monitoring Azure Functions with Azure Monitor Logs](https://docs.microsoft.com/en-us/azure/azure-functi

[2020-06-22 11:00] shashishailaj commented on #57572
@kristinesimon  Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 11:01] BhargaviAnnadevara-MSFT commented on #57559
@jjindrich Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-22 11:02] BhargaviAnnadevara-MSFT commented on #57554
@ajafry Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-22 11:02] shashishailaj commented on #57573
@kajencik Thank you for your feedback . We will investigate and update the thread further.

[2020-06-22 11:03] shashishailaj commented on #57574
@the-grayest  Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 11:05] shashishailaj commented on #57579
@vpohl  Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 11:05] shashishailaj commented on #57576
@akingscote  Thank you for your feedback . We will investigate and update the thread.

[2020-06-22 11:09] tinytortoise-dev commented on #57430
@RohitMungi-MSFT @manikyabard I've already tried using the global endpoint. But got a bit different response:

[code]

And I want to make sure what subscription key is.
<img width="905" alt="sub1" src="https://user-images.githubusercontent.com/55280088/85280654-828b2180-b4c3-11ea-9d83-c22cb21e78d9.PNG">
<img width="841" alt="sub2" src="https://user-images.githubusercontent.com/55280088/85280660-87

[2020-06-22 11:21] AshokPeddakotla-MSFT commented on #57220
@anastasia-ms Thanks for updating the doc.
@Druffl3 We hope that addresses your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 11:21] #57220 closed

[2020-06-22 11:27] SadiqhAhmed-MSFT commented on #57568
@SebastianClaesson Thanks for the feedback. We are looking into this and will get back to you shortly.

[2020-06-22 11:27] RohitMungi-MSFT commented on #57430
@tinytortoise-dev It looks like you are using a common cognitive service resource and a key. Most the services have moved to using an individual resource type and if you can create and use the translator resource the steps mentioned in the documentation should work as is.

![image](https://user-images.githubusercontent.com/46958063/85282456-667a8680-b4a9-11ea-96bd-d72eda98edd7.png)

[2020-06-22 11:28] SadiqhAhmed-MSFT commented on #57570
@dedvds Thanks for the comment. We are actively investigating and will get back to you soon.

@bandersmsft  Could you please take a look at this issue and assist further?

[2020-06-22 11:32] VikasPullagura-MSFT commented on #57580
@mchudinov
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-22 11:32] VikasPullagura-MSFT commented on #57580
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-22 11:37] SadiqhAhmed-MSFT commented on #57568
@bandersmsft FYI.

[2020-06-22 11:47] DavidTrigano commented on #57259
When we found 100 recommendations, we stop the discovery mechanism and expose the results. This is to prevent performance degradation, specifically when running DC on production SQL databases.

Do you have any other question, or can we go ahead and close this ticket?

[2020-06-22 11:47] feksai opened #57583 "Unable to view topology on portal"
Hello I'm trying to view topology on portal, but I'm getting blank area after selection of resource group and vnet. Network Watcher is enabled in that region. I see that behavior on different subscriptions

Also I noticed, that `az network watcher show-topology` returns json formatted result without errors.

I see in browsers developers console that then viewing topology on portal requests are sen

[2020-06-22 11:57] RohitMungi-MSFT commented on #53622
@lhk We hope the above steps helped in correcting the issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-06-22 11:57] #53622 closed

[2020-06-22 11:59] HarrisburgUSysAdmin commented on #57244
This was the issue.  Our internal documentation/solution points users right to the Education page but skips the accepting of terms. See here: https://ithelp.harrisburgu.edu/a/solutions/articles/44001946018

I will make sure these get updated.

Thank you for following through with this.

[2020-06-22 12:01] RohitMungi-MSFT commented on #53919
@eyast The links should be updated now. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-22 12:01] #53919 closed

[2020-06-22 12:02] BhargaviAnnadevara-MSFT commented on #57244
@HarrisburgUSysAdmin Thanks for confirming! Sure, glad I could help. :)

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-22 12:02] #57244 closed

[2020-06-22 12:03] danielbjork opened #57584 "How to activate Cost Policy for Customer - Moved to other location?"
The images for how to enable to Cost Policy for our CSP partners doesnt match how it looks for me. Is it that this information has been moved elsewhere? I am Global Admin in our Partner AAD.

https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/get-started-partners#enable-the-policy-to-view-azure-usage-charges

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-22 12:03] RyanHill-MSFT commented on #56957
Hi @saikovvuri, the RunAs=App;AppId={} isn't required if you're using a system managed identity, which this tutorial walks you though. Nonetheless, we should include this as well. Thanks for pointing that out.

[2020-06-22 12:03] #56957 closed

[2020-06-22 12:05] AjayKumar-MSFT commented on #57117
Apologies for the delay! I wish to engage with you offline further to understand some more details about the problem, have a closer look and provide a specialized assistance, please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you. As we will work with you offline, I will now proceed to close this thread.

Having men

[2020-06-22 12:05] #57117 closed

[2020-06-22 12:18] sanjeevgaut opened #57585 "How to find prediction url for custom vision"
Hi,

I am working on trainig custom vision using c#. i am able to train and publish the custom vision. i can see there new iteration is listed. when I am trying to get the Prediction URL. it says "It seems the prediction resource is moved in Azure portal. You can unpublish the iteration and publish it to another prediction resource.". Any help, I am not able to predict based on the new iteration.

[2020-06-22 12:26] VikasPullagura-MSFT commented on #57575
@Tim-Hodge Thanks for the Feedback.
The doc was updated based on this Issue #[55949](https://github.com/MicrosoftDocs/azure-docs/issues/55949)

Please check this once, Hope this helps.

[2020-06-22 12:28] VikasPullagura-MSFT commented on #57034
@ShafeerAli
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-22 12:28] #57034 closed

[2020-06-22 12:28] ezYakaEagle442 opened #57586 "Azure Arc for Kubernetes built-tin role not documented"
At [https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsofthybridcompute](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsofthybridcompute), Azure Arc for Kubernetes buil-tin role not documented whereas 34e09817-6cbe-4d01-b1a2-e0eac5743d41 is mentioned at [https://docs.microsoft.com/en-us/azure/azur

[2020-06-22 12:28] AnuragSharma-MSFT commented on #57522
@apacdevpmmresources  Thank you for pointing out the issue, I have updated the code snippet accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue once we have the changes reflected.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-22 12:28] ezYakaEagle442 opened #57587 "Azure Arc for Kubernetes built-tin role not documented"
Azure Arc for Kubernetes buil-tin role not documented whereas 34e09817-6cbe-4d01-b1a2-e0eac5743d41 is mentioned at [https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/create-onboarding-service-principal#assign-permissions](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/create-onboarding-service-principal#assign-permissions)

See #57586 not documented neither on another page
-

[2020-06-22 12:29] KrishnaG-MSFT commented on #57562
@Expecho Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-22 12:29] ezYakaEagle442 commented on #57586
See #57587 not documented neither on another page

[2020-06-22 12:31] KrishnaG-MSFT commented on #57584
@danielbjork Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-22 12:36] guyma commented on #57529
The description of the field "The result of the sign-in operation can be Success or Failure.", is a bit confusing...
The sign-in operation can be Success or Failure, but **this is not the value** of "resultType" field. The value of "resultType" field will specify the error number if the operation was Failure...

Am I right?

[2020-06-22 12:36] boltomli opened #57588 "spx config command line not correct"
`spx config @region --set westus` doesn't work. Error: `"--set westus" is invalid; missing @file, name, or value`

But this works well `spx  config --set region=westus`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91e2ab62-8804-694f-f51a-ab5cef82c2d6
* Version Independent ID: 3eac47ce-d629-6a1f-914b-ce60ab13ebae
* Co

[2020-06-22 12:39] loopfish commented on #57259
I have to say that my experience is different, and that although only the first 100 columns are displayed initially, the engine does discover and recommend more than 100, and I can select and apply all of those, as the screenshot below shows:

![image](https://user-images.githubusercontent.com/39245344/85288492-b6e3eb00-b48d-11ea-8a85-7a86e3844f0b.png)

[2020-06-22 12:45] VikasPullagura-MSFT commented on #57310
@kprpg Any update on the issue?

[2020-06-22 12:51] pryanga-wk commented on #14761
What I have noticed is that, if ssl certificate is downloaded from via Azure CLI from Azure Key Vault>Secret, the cert has a blank password (or null).

[2020-06-22 13:21] neerajks77 commented on #57545
No. I do not wish to access by the IP address. I wish to do it with the
custom domain name, added to the app services web app.

In case we do it with the host entry, then there is no point introducing
the private end point for web app in Azure.

On Mon, Jun 22, 2020, 03:37 Eric Grenon <notifications@github.com> wrote:

[2020-06-22 13:24] #57094 closed

[2020-06-22 13:27] Ericgre commented on #57545
Not sure to understand your point, what is your question in that case ? If you wish to use custom domain, in that case you manage your own DNS entry in your DNS infrastructure, like you need to do with public Web App.
In the doc example I used host file, just to simplify the doc, but in real production workload you will not use the host file, instead you will use your DNS setup.

[2020-06-22 13:37] GiftA-MSFT commented on #57588
@boltomli we will review your feedback and get back to you shortly. Thanks.

[2020-06-22 13:38] SwathiDhanwada-MSFT commented on #57320
@kichiu  Thanks for reaching out !! I am sure you might have already checked. Can you please let me know what type of subscription are you using  and also permissions that you have ?

[2020-06-22 13:54] neerajks77 commented on #57545
Hello Eric,

I completely understand what you are saying and I used the private DNS zone
to define the record sets for domain and sub domains, but I am getting the
403 Forbidden error.

For ex - I added the custom domain name xyz.com and www.xyz.com to my web
app and then I created a private DNS zone with the name xyz.com, where I
created the record set for A type and the CNAME for both xyz.com an

[2020-06-22 14:01] richard-artes opened #57590 "out of date page"
This document is out of date and doesn't show some of the options on the new page, such as Port Type: Provider/Direct.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a194d81-fdcf-dbe0-0817-37609a377e46
* Version Independent ID: f70fedd3-a271-10e9-e60b-d76ff2b67131
* Content: [Tutorial - Create a

[2020-06-22 14:02] Expecho opened #57591 "Wrong property name in sample"
The SearchResult property of the log analytics alertContext sample really is SearchResult**s**. It is missing the `s` at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Alert schema definitions in Azu

[2020-06-22 14:02] AlexPLC commented on #57187
Thanks!

On Mon, Jun 22, 2020 at 3:56 AM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

--
Thank You,

Alex Yousefian
Continuity Controls
Controls Specialist / Owner
713-364-3708

[2020-06-22 14:02] cabtilx commented on #57526
This issue makes the page almost unreadable as it is difficult to see which roles the comments relate to. It is essentially an unseperated list of "this role gives permission to do x y z" without naming which role it refers to.

[2020-06-22 14:04] Ericgre commented on #57545
ok, now I understand.
You don't need a CNAME, if you have the A record www.xyz.com pointing to the Web App Private Endpoint IP, you are fine.
When you setup a private endpoint for your web app (today, PE is still in preview) we don't change the DNS record of the public name xyz.azurewebsites.net), and that why you got a 503 error because you resolved the public IP.

[2020-06-22 14:07] spelluru commented on #57363
@PramodValavala-MSFT - Sorry. don't know.

@jfggdl, @clemensv - Can you help? Thanks.

[2020-06-22 14:07] kichiu commented on #57320
I have Power BI Pro license.  I am a consumer, logging in with my Microsoft FTE account.

Regards,
Kitty

From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Monday, 22 June 2020 23:39
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kitty Chiu <Kitty.Chiu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Enable report (.pbix) downl

[2020-06-22 14:08] JonasReichenbach commented on #20351
Still running into the same issue when trying to deploy a registered model from within a pipeline step. However the error is not limited to Aks computes. It shows up when obtaining a compute target within the pipeline like so:
```compute_target = ComputeTarget(ws, name=compute_target_name)```
where
[code]

This is the error:
[code]
I am using the current azureml-sdk version : `azureml-sdk==1.7.0.p

[2020-06-22 14:13] hassant commented on #48902
In case of an app service, you need to clean up the association under App Service Plan > Networking which will list all the links your net has to any of the apps including slots.
Once you disconnect the vnet from app service and slot you should be then able to set the delegation back to None and unselect the service endpoint and finally be able to delete the subnet respectively.

[2020-06-22 14:14] neerajks77 commented on #57545
Hi Eric,

I have tried that as well, where I created the A record for www.xyz.com,
and not the CNAME, but I keep on getting the same error. By the way, I am
connected to the Azure network using VPN client downloaded after creating
Virtual Network Gateway.

Regards,
Neeraj

On Mon, Jun 22, 2020, 09:04 Eric Grenon <notifications@github.com> wrote:

[2020-06-22 14:20] Ericgre commented on #57545
Maybe your computer is not resolving the DNS entry from the private zone, what is the result of
nslookup www.xyz.com, is it the IP of the private endpoint ?
We support reaching the private endpoint from on prem through VPN.
503 error means that you are not reaching the web app through the private endpoint, or that you are using the private endpoint but not for your app. you must deploy one PE per

[2020-06-22 14:24] rgamage opened #57592 "Examples are using deprecated libraries"
Please make it clear at the TOP of these documents that the libraries referenced here, and all of the examples, are **deprecated.**  It's disappointing to develop a bunch of code based on these docs, and then realize you have to re-write them to the latest Nuget packages, Azure.Storage.Blob rather than these deprecated Microsoft.Azure.Storage.Blob.

---
#### Document Details

⚠ *Do not edit this s

[2020-06-22 14:27] zzl1 commented on #57020
I sent to  azcommunity[at]microsoft[dot]com.
Thanks.
@amanmcse @souravmishra-msft

[2020-06-22 14:31] memildin opened #57593 "MMA no longer the correct term"
This page includes screenshots referring to the Microsoft Monitoring Agent.
"Microsoft Monitoring Agent" and "MMA" are the old name.
This product is now called the Log Analytics agent. Please see the top of this page:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-22 14:35] somarnebur commented on #16469
Maybe This:

•	https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#can-i-use-traffic-manager-with-more-than-one-web-app-in-the-same-region
->The Traffic Manager Azure endpoints do not permit more than one Web App endpoint from the same Azure region to be added to the same Traffic Manager profile.

Possible solution is to add second endpoint not as an Azure Endpoint, but as

[2020-06-22 14:37] sidprasher commented on #55919
Apologies for the late response. I understand the comment on event grid
above. My question really was why would there be no option to link with the
event grid for pushing service bus events. A clarification in the document
will be helpful.

On Wed, Jun 10, 2020 at 3:13 AM Ashish Chhabria <notifications@github.com>
wrote:

[2020-06-22 14:41] shooker commented on #56965
@TravisCragg-MSFT You can move the resource from one resource group into another, outside of the default Resource Group that the portal creates.

[2020-06-22 14:45] neerajks77 commented on #57545
Hello Eric,

Below is the screenshot for your reference.

[image: image.png]

and below is the entry in the Private DNS Zone.

[image: image.png]

Regards,
Neeraj

On Mon, Jun 22, 2020 at 9:21 AM Eric Grenon <notifications@github.com>
wrote:

--
Best Regards,
Neeraj

[2020-06-22 14:51] jjindrich commented on #56160
Docs has been updated. Thanks

[2020-06-22 14:51] #56160 closed

[2020-06-22 14:51] lxsocon commented on #48759
I have a suspicion, that this may have stalled because I had several typos in my original report. (Apologies for that!)  Let's have another go:
---------------------------------------------------------
The suggested way of doing this, is incredibly inefficient. Using a `-Filter` clause, is several orders of magnitude faster. You could re-write the example given in the following way:

`Get-Recipien

[2020-06-22 14:53] jjindrich commented on #57231
@SubhashVasarapu-MSFT Thanks for answer. Can we track this feature request somewhere ?

[2020-06-22 14:55] MGoedtel commented on #55058
Modules marked as Global cannot be deleted from your Automation account.  Those are modules provided by default when you create your Automation account and under the [Default module](https://docs.microsoft.com/azure/automation/shared-resources/modules#default-modules) section, it states that you cannot delete the default modules (which are listed in the table in that section).  The point about not

[2020-06-22 14:56] amanmcse commented on #57552
@Calvin-Yuhui-Liu Thank you for pointing this out. I have updated the document.

[2020-06-22 14:56] #57552 closed

[2020-06-22 15:03] svsvirid opened #57595 "Chapter policy reference is not up to date"
Hi, I'm looking for assignment parameter names to disable particular ASC policies (like DDOS standard SKU for instance). This reference provides only small part of existing policies/parameters. Googling gives some old github commits from 01/2019, so I'm curious where I could find the complete list of them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-06-22 15:11] squasta opened #57596 "Assign instead of Select"
There is a small error on line
"2- Choose the "Deploy GitOps to Kubernetes cluster" built-in policy in the "Kubernetes" category, and click on **Select**"

There is no Select in Azure Portal UI, you have to click on **Assign**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c754b371-70fc-638d-b1af-768ae43ce35a
* Version

[2020-06-22 15:15] FluxBoson opened #57597 "Clarification Of Private Endpoint Limits"
Hello team,

The documentation is not clear as to the limits of Private Endpoint with respect to the Azure Key Vault service. This page lists a limit of 64 key vaults with private endpoints per subscription, whereas [this](https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service#limitations-and-design-considerations) page lists a limit of 400 with an ability to adjust. Which s

[2020-06-22 15:18] GiftA-MSFT commented on #57449
@erhopf I was able to reproduce this error when trying to get a token. Can you please review documentation? Thanks.

![image](https://user-images.githubusercontent.com/51332022/85302733-898c4280-b477-11ea-9fcf-edc92f39154e.png)

[2020-06-22 15:19] DerekHerman-MSFT commented on #57592
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-22 15:21] MGoedtel commented on #55058
One important detail I just learned that slightly changes my last response.  Default modules included with your Automation account that are marked Global and are updated to a newer module version, will then show the value of "No" for the Global property.  If you delete the newer module, this module is automatically returned to the previous version.

[2020-06-22 15:27] cynthn commented on #57460
@danielsollondon FYI

[2020-06-22 15:30] Kentcomp opened #57599 "Restore previous page version? I accidentally removed the role titles/headings on Friday"
[Enter feedback here]
I used a Chrome extension on Friday afternoon (~4:30 PM Pacific) with the intent of copying all of the AAD Roles and URLs on [this page](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#available-roles) to a spreadsheet ([link](https://cdw-my.sharepoint.com/:x:/p/kent_compton/Ea7qmzWKmh9BpSqONM3Oh5cBJMYegOwhY6PizYtZGcKXZw

[2020-06-22 15:31] davidsmatlak commented on #57597
#assign:davidsmatlak

[2020-06-22 15:33] Kentcomp commented on #57526
Neal, this is my fault. I used a Chrome extension with the hope of copying all of the role titles/headings and URLS locally, so I could create a spreadsheet.  I just posted to feedback with the hope that someone can restore the previous version of the page prior to my edits on Friday afternoon around 2:30 PM Pacific.

[2020-06-22 15:33] davidsmatlak commented on #57597
@FluxBoson thank you for the documentation feedback. I'll research the question and respond within two business days.

[2020-06-22 15:44] T-Benny opened #57601 "Exclusions from Office 365 (preview) not working properly"
Contrary to the documentation, specific applications cannot be excluded from a conditional access policy once Office 365 (preview) has been included. Tested with Teams; when enforcing conditional access by including Office 365 (preview), excluding Teams and Sharepoint from this policy have no effect and still fall under the conditional access policy.

Reference from article" Administrators can cho

[2020-06-22 15:45] GeekTrainer commented on #57283
@RohitMungi-MSFT

[2020-06-22 15:53] FluxBoson commented on #57597
Sounds good @davidsmatlak

[2020-06-22 16:02] msjuergent commented on #57561
I corrected the link. PR is merged already

[2020-06-22 16:05] MarileeTurscak-MSFT commented on #52317
Hi @CharmanderJieniJieni ,

Just got confirmation from the product team that no validation is done to prevent duplicates.

However, for generating a client secret, the probability of generating a secret that is of the same value is extremely low (nearly impossible even). A client secret is a random string or 34 characters, and those characters can be any of the ASCII characters, which is 127 possi

[2020-06-22 16:05] #52317 closed

[2020-06-22 16:13] ld0614 commented on #54808
Having the pricing on this page is also an issue as it doesn't take into account regional pricing / currencies.  Is it possible to confirm the current pricing in UK Pounds please as it doesn't appear on the main pricing calculator or webpage.

[2020-06-22 16:18] OwainWin commented on #36458
I have just encounted the 'WEBSITE_CONTENTSHARE' cannot be a slot setting error as mention above when deploying a new Function App for the first time in serveral months using a template that has worked fine before.
The template has 'WEBSITE_CONTENTSHARE' as a slot setting and defined in both the Function App and deployment slot appsettings as per the following article that has also be mention abov

[2020-06-22 16:18] parulbansal2009 commented on #57261
It’s not a requirement for UK OFFICIAL, however, it is a strong preference for many government departments. You can always customize and remove these policies from the blueprint before deployment, if you do not prefer to use these policies.

[2020-06-22 16:21] roygara commented on #49449
@wcvanzyl The impact of the choice is entirely determined by your own (or, in this case, the clients) AD DS environment. It's not something that is relevant to the Azure environment. The choice and its relevant impact is entirely dependent on your AD DS environment.

As far as password rotation requirements, thanks for the feedback, we'll consider how we can incorporate that into the overview arti

[2020-06-22 16:24] KrishnaG-MSFT commented on #57591
@Expecho Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-22 16:30] ehamai commented on #36458
Hey everyone, sorry for all the confusion here.  We were trying to be smart by having the Azure Portal tell you when you may run into scaling issues with your configuration, but we goofed up the logic and so now people may be seeing the warning incorrectly. We're working on a fix but in the meantime here's how to validate if you may run into scaling issues with your app or not:

If you're running

[2020-06-22 16:30] elkadeem opened #57603 "The RSS link is not working"
The RSS link is not working, article need to be updated with new one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b68d35f-e331-bb2b-dd1e-c951bf6baeda
* Version Independent ID: d01f87a2-a873-2e8e-37ca-94aecceb5e9f
* Content: [Create your first automated workflow - Azure Logic Apps](https://docs.microsoft.com/en-us/az

[2020-06-22 16:31] KrishnaG-MSFT commented on #57593
@memildin Thanks for the comment.
Assigning @MGoedtel for visibility, review and document enhancement consideration as appropriate.

[2020-06-22 16:32] dphansen commented on #57522
@apacdevpmmresources @AnuragSharma-MSFT Thank you for the contribution. The change will be published later today.

[2020-06-22 16:32] dphansen commented on #57522
#please-close

[2020-06-22 16:32] #57522 closed

[2020-06-22 16:32] mhabibal13 opened #57604 "Missing operation under "Performance""
![image](https://user-images.githubusercontent.com/36855996/85311778-3a193700-b4b6-11ea-9ec4-7451b38ff9fb.png)

What is the best way to show my events on the same view that I show in the image?

I have created an operation including some requests, yet I can't see it under Performance (I can see them in the logs und requests).

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-22 16:33] brunofeldman opened #57605 "MS Access as sink"
Microsoft Access is listed as a not supported sink on Copy Activity, but on ADF Author its showed as sink option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy activity in Azure Data Factory - Azure Dat

[2020-06-22 16:33] SaurabhSharma-MSFT commented on #57587
@ezYakaEagle442 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-22 16:34] SaurabhSharma-MSFT commented on #57586
@ezYakaEagle442 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-22 16:34] jeevansd commented on #56903
#please-open

[2020-06-22 16:35] SaurabhSharma-MSFT commented on #57595
@svsvirid Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-22 16:35] SwathiDhanwada-MSFT commented on #57320
@kichiu AFAIK , the option to download the .pbix is currently not supported. However, as a workaround, you can connect to AzureCostManagement App through Power Bi desktop.

Open PowerBi Desktop  -> Get Data -> Azure -> Select AzureCostManagementApp - > Click on Connect

![image](https://user-images.githubusercontent.com/48976275/85310635-def53d80-b4d1-11ea-99fd-c2047083808d.png)

Select the scope

[2020-06-22 16:37] MonikaReddy-MSFT commented on #57604
@mhabibal13 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-22 16:38] JackTiber commented on #33157
Just to echo all of the above. This issue is definitely still present in Azure and honestly blows my mind.

After adding a managed identity to manage permissions for a wildcard certificate PURCHASED FROM AZURE, then following all of the documented steps to add this certificate to the gateway, an error still occurs indicating that the identity does not have access to the vault. Check both vault and