[2022-02-07 07:10] ram-msft commented on #87555
@Matt-Finlay Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-07 07:30] wendiz-zhang opened #87559 "How to restrict the firewall so that the database can use the AAD access method ."
Hello team,

This is Wendy from Azure China content team.

I receive a feedback like this:

Background: When the customer installs the SQL Server client in the Windows virtual machine to connect to the SQL server of **Azure** **PaaS**, the following error is reported:

![image](https://user-images.githubusercontent.com/85976579/152738971-2e1ad00d-3568-4231-a4d4-f32e96e99bdb.png)

This virtual mach

[2022-02-07 07:32] shashishailaj commented on #87557
@GlenGengMicrosoft Thank you for catching this. We will review and initiate a change request.

[2022-02-07 07:34] shashishailaj commented on #87549
@mikerains Thank you for your inputs . We will investigate and update the thread.

[2022-02-07 07:36] shashishailaj commented on #87544
@ivratche Thank you for your feedback . We will investigate and update the thread.

[2022-02-07 07:56] dferraiolo opened #87560 "Confusion Helpdesk Administrator vs. Service Support Administrator regarding creation of service/support request in M365"
Hello,

Overall it's not clear if the Helpdesk Administrator can only manage service requests or if this role can also create service requests.
As per https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#helpdesk-administrator there are contradictory statements..first "can manage"...then "create and manage Microsoft 365 service requests"..

thanks for clarifying.

BR

[2022-02-07 07:58] shwetamathur7 commented on #87452
@muzzar78  SignedOutCallbackPath are the internal paths of OpenID Connect provider posts back after signing out.

If you have configured the SignedOutCallbackPath during the application registration and  same path in the application configuration as well then there will be conflict and first one will registered will handle the requests and second one will not redirect to /Account/SignedOut and sho

[2022-02-07 08:00] g7crservice-sajid-f opened #87561 "API doc page is not working"
Please find attached screenshot.
<img width="956" alt="image" src="https://user-images.githubusercontent.com/96610699/152747914-aa8e4b75-c938-4d8b-9c80-24be854e364e.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ff2597-abf0-84d3-6aa0-911435713431
* Version Independent ID: a51b13b2-a374-9b35-06bc-ddcf01aea5cb
*

[2022-02-07 08:03] kobulloc-MSFT commented on #87406
@abarqawi We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-07 08:03] #87406 closed

[2022-02-07 08:11] purijatin opened #87562 "Dependency conflicts when the synapseutils is imported"
Let's look at the dependency tree of `synapseutils` [1.4](https://mvnrepository.com/artifact/com.microsoft.azure.synapse/synapseutils_2.12/1.4) version.

Some of the versions of dependencies are not compatible with the runtime libs mentioned [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-3-runtime). Hence creating conflicts. (dependency tree for synapseutils bel

[2022-02-07 08:14] Sachin1O1 opened #87563 "Is it still in preview ?"
Is sampling override still in preview? and this page is still not updated for the all sampling override that we can do with the related config. please update it ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d239d5d-52fb-221f-2c96-6994da3f622c
* Version Independent ID: 8aebdb63-c252-61ef-39c5-bc940d62ba9a
* Cont

[2022-02-07 08:17] RutgerKosters opened #87564 "Add SAP ASE link to ANF solution architectures"
Hi team,

Can you please add the following link:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/dbms_guide_sapase

To the AnyDB section:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-solution-architectures#sap-anydb

Thanks,

Gr. Rutger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-02-07 08:17] SubhashVasarapu-MSFT commented on #87556
@BrianAndersen78, Thanks for reaching out. We will investigate and update this thread.

[2022-02-07 08:19] BrianAndersen78 commented on #87556
It seems a guy here: https://stackoverflow.com/questions/68839058/appgateway-aks-agic-lets-encrypt-not-working-secret-not-found has found a solution...

[2022-02-07 08:20] softlion opened #87565 "Errors in sample code"
In the OnPushNotificationReceived sample code, you can read:
[code]

It should be instead:
[code]

Repeat that fix for each error encountered.

Also, any C# class deriving from a java native class must have a special constructor. The final class should look like:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2022-02-07 08:20] Willem-J-an opened #87566 "WEBSITE_RUN_FROM_PACKAGE_BLOB_MI_RESOURCE_ID"
https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#fetch-a-package-from-azure-blob-storage-using-a-managed-identity
[code]
What is the "Resource ID of that identity"? The docs are not completely clear.
Is this:
`/subscriptions/subid/resourcegroups/rg-name/providers/Microsoft.Web/sites/site-name/providers/Microsoft.ManagedIdentity/Identities/default`
Or the

[2022-02-07 08:29] Klaas- commented on #74845
Hi,
I'd argue you're masking the real problem instead of fixing it. Now systemd does not wait 120 seconds for the timeout, but it's still not waiting for cloud init to finish.

Greetings
Klaas

[2022-02-07 08:35] KrishnaG-MSFT commented on #87561
@g7crservice-sajid-f Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-07 08:36] KrishnaG-MSFT commented on #87563
@Sachin1O1 Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-07 08:53] martinesmann commented on #85688
I'm getting the same 403 error in a react application any workaround/fix for this?

[2022-02-07 09:14] g7crservice-sajid-f commented on #87561
Our dev team is idle due to this un-availability. Please escalate

[2022-02-07 09:15] SwathiDhanwada-MSFT commented on #87377
@jcetina  Modify effect can only be used with modifiable aliases. The Modifiable attribute is a part of the alias metadata. It tells the policy engine in which API versions the alias is modifiable, and what is the token type of the property in each API version.

To get list of aliases that support modifiable property, kindly use below command.

`Get-AzPolicyAlias | Select-Object -ExpandProperty 'A

[2022-02-07 09:37] SumanthMarigowda commented on #87564
@RutgerKostersThanks for the question! We are investigating and will update you shortly.

[2022-02-07 09:40] lightupdifire opened #87570 "Get-AzureADApplicationProxyApplication"
Hello,
When running this PS "Get-AzureADApplicationProxyApplication -ObjectId $item.objectid":

https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/Get-AzureADApplicationProxyApplication.md

Error received:
Get-AzureADApplicationProxyApplication : Error converting value "aadHeaderBased" to type 'System.Nullable`1[Microsoft.Open.MSGraph.Model.OnPremisesPublishingS

[2022-02-07 09:42] SwathiDhanwada-MSFT commented on #87553
@kellyjjrusk Thanks for reaching out. We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation. For technical issues, you can post your questions on [Microsoft Q & A](https://docs.microsoft.com/en-us/answers/products/) Channel.

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedbac

[2022-02-07 09:43] VikasPullagura-MSFT commented on #87557
@GlenGengMicrosoft The document is updated and changes will go live soon.

[2022-02-07 09:44] #87557 closed

[2022-02-07 09:45] rene-airtame opened #87571 "Calling SDK streaming support"
In this section there's the following limitation is listed:

With **4 videos + 1 screen** sharing for **Web**, and **6 videos + 1** screen sharing for **Windows/Android/iOS**, along the following footnote:

Testing with the tutorial app from https://github.com/Azure-Samples/communication-services-web-calling-tutorial, I've experienced a cap of maximum 6 _active_ incoming video streams from remote

[2022-02-07 09:46] madsd commented on #87533
@krispenner the docs and portal are both correct. There is a difference between minimum App Service **plan instance count** and App Service **Environment instance charge**. When you have less than 9 instances across all you plans in the ASE, there is an added billing charge/padding with I1v2 Windows instances.

[2022-02-07 09:52] anideswandikar-github opened #87572 "The pricing example does no cover no Ops"
[Enter feedback here]
Customers typically are looking for cost in Serverless operations when there is no Activity or usage of CUs. The example does not cover that. There is one statement that says "You are billed for the maximum Data Map capacity unit needed within the hour" but it's not clear in the example that follows. Because the example assumes some activity every hour.

---
#### Document Det

[2022-02-07 10:15] GitHubUser1339 opened #87574 "Unauthorized message when publishing module to container registry"
Following the documentation, I get the following error message when I try to push my bicep module to the registry:

_Publish-AzBicepModule: Unhandled exception. Azure.RequestFailedException: Service request failed.
Status: 401 (Unauthorized)
System.Management.Automation.RemoteException
Content:
{"errors":[{"code":"UNAUTHORIZED","message":"retrieving permissions failed"}]}
System.Management.Automat

[2022-02-07 10:35] soutchilin opened #87575 "Azure Service Bus not listed"
Hi,

I'm wondering if the Azure Service Bus should be listed here? According https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity the Azure Service Bus supports managed identity. Am I wrong in my understanding?

Regards,
Alexander

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-02-07 10:38] #87440 closed

[2022-02-07 10:40] DennisBergemann commented on #14690
I have a matching error for this.
I have created a CustomLog with the HTTPDataCollectorAPI. After that I deleted the table at some point to get rid of test entries.

When I created this table again with the HTTPDataCollectorAPI and wrote data into it, something very crazy happened.

The table no longer appears in "CustomLogs" but its fields appear in "CustomFields".

The table can also no longer b

[2022-02-07 10:41] michael-vella opened #87576 "Incorrect Image Highlit"
Under the Create a pipeline with a Data Flow activity section, the first image is highlighting Ingest instead of Orchestrate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c75ee8-d021-62fe-c7e3-53a6e729e1fc
* Version Independent ID: 7ae45fa9-cb4f-dbc5-dcb6-4a4f4c040d28
* Content: [Transform data using a mapping data

[2022-02-07 11:12] MichaelZp0 commented on #87363
Hi @dm3942,
it seems, that depending on the version of the installed package, the -s is either present or not. We did not notice that before, but we'll change the documentation to `Get-AppxPackage -Name Microsoft.HEVCVideoExtension*`, which should cover both cases.

Thanks again, for pointing that out :)

[2022-02-07 11:18] ShaikMaheer-MSFT commented on #87562
@purijatin Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-07 11:21] ShaikMaheer-MSFT commented on #87576
@michael-vella Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-07 11:46] HenriHeijltjes opened #87578 "Proposal to improve Purview documentation about using REST-api"
There is a wrong (or at least very confusing) comment  in the documentation. See section "Set up authentication using service principal", step 4 " Select the root collection...". So it states that you need to select the root collection. I tested whether it is possible to select a lower level collection. This test was successful. So in my opinion step 4 shoud be: "4. Select teh root collection or o

[2022-02-07 11:49] jotafabio opened #87579 "No working support email"
The email 'catechnicalsupport@ca.com' is not found. What is the correct e-mail address?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2cf3a3c-5fd5-2f90-51b8-20cee671b67e
* Version Independent ID: cfb76736-2e5c-7277-9f00-8bbc1fb6786b
* Content: [Tutorial: Azure Active Directory integration with

[2022-02-07 12:06] techestop4u opened #87580 "Bootstrap property value for app configuration refresh have to be updated"
The below bootstrap property value doesn't work.

spring.cloud.azure.appconfiguration.stores[0].monitoring.triggers[0].key=sentinel

It has to be updated to ( Sentinel with uppercase S )

spring.cloud.azure.appconfiguration.stores[0].monitoring.triggers[0].key=**S**entinel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-02-07 12:16] malkitsaggu opened #87581 "Spelling mistake in page"
This page has incorrect spelling of word "administrator " as **"adminstrator "**.

Screenshot for reference
![image](https://user-images.githubusercontent.com/45651825/152786432-4cbc3182-4a73-47aa-b6d1-c85c6cbf6974.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Indepe

[2022-02-07 12:29] alexmartinezm commented on #42933
Have a look at this blog, it has an example with this exact method from FirebaseMessaging: https://www.damirscorner.com/blog/posts/20210416-AwaitingGooglePlayServicesTasks.html

[2022-02-07 13:03] SwathiDhanwada-MSFT commented on #87574
@GitHubUser1339 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-07 13:14] bobe999 opened #87583 "Account billing administrator, Account admin und billing administrator. Are they the same?"
In [Transfer an Azure subscription to a different Azure AD directory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/role-based-access-control/transfer-subscription) under prerequisites: "Account Administrator of the subscription you want to transfer in the source directory"
Transfer an Azure subscription to a different Azure AD directory
Learn how to transfer an Azure subscription and kn

[2022-02-07 13:19] Arash-Sabet opened #87584 "Clarification is required on SignalR class's namespace in [SignalR(HubName = "chat")]"
Could you please elaborate which namespace and NuGet package is required for `SignalR` in the following definition?

[code]
How can a "fresh" reader guess where this class is coming from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b253c164-d46b-0193-b168-7eb024097bf6
* Version Independent ID: 5858135e-528b-81ba-84a

[2022-02-07 13:24] fschmied opened #87585 "Improve role assignment sample tempate by making it idempotent"
The role assignment sample on this page declares a parameter for the role assignment name GUID: `param roleNameGuid string = newGuid()`. Even though this docs page focuses on scopes, not on role assignments, I think the sample is misleading because `newGuid()` is not idempotent, so repeated execution of this template will create a new role assignment every time.

So, maybe change the sample so the

[2022-02-07 13:27] MattiasAtelius opened #87586 "Not clear that this is only for AAD"
I work at Microsoft and after a lot of internal discussions we found out how the process works with Global Privacy contact. After discussions with Gail Warren and Mike Ziock we agreed that this should be updated so that it's really clear that we only use this Global Privacy contact if there is an issue with AAD. Not anything else within Azure or any other services that relies on AAD. Our customer

[2022-02-07 13:48] rpalves opened #87587 "The public documentation no longer mentions how to register AllowNfsFileShares"
The public documentation no longer mentions how to register AllowNfsFileShares (I remember it did, in the past).

I followed this article:
https://charbelnemnom.com/getting-started-with-nfs-v4-1-for-azure-files/

1.	Register NFS extension for your subscription

Get-AzProviderFeature -ProviderNamespace Microsoft.Storage -FeatureName AllowNfsFileShares

# Set the actively selected subscription, if y

[2022-02-07 13:48] ShachafGoldstein opened #87588 "Least privileges doc for user settings is incorrect"
The document states that `Update user settings` requires `Global Administrator`, but some tests show that the only attribute under that section that needs GA is the `block sign in` one and that it only requires GA when the user is a member of an AAD group that has the attribute `isAssignableToRole` is set to `true` - [Group role assignment docs](https://docs.microsoft.com/en-us/azure/active-direct

[2022-02-07 13:53] JamesTran-MSFT commented on #87579
@jotafabio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-07 13:54] JamesTran-MSFT commented on #87560
@dferraiolo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-07 13:56] JamesTran-MSFT commented on #87570
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-07 13:56] shashishailaj commented on #87575
@soutchilin Thank you for your feedback . we will check this and update the thread.

[2022-02-07 13:58] shashishailaj commented on #87586
@MattiasAtelius Thank you for your feedback . We will investigate and update the thread.

[2022-02-07 14:03] JamesTran-MSFT commented on #87583
@bobe999
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-07 14:15] jkudo opened #87589 "The validity of certificate-data has expired."
The validity of certificate-data has expired.
`Not Before: Nov  9 22:31:55 2020 GMT`
`Not After : Nov  9 22:51:55 2021 GMT`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93114e60-1ee0-f0bc-6d01-f5236dcde576
* Version Independent ID: ff44403e-d95b-6174-8af7-4e5a412a2245
* Content: [Quickstart: Route to shared services

[2022-02-07 14:24] GitaraniSharma-MSFT commented on #87244
@Ravivarman13 , We have assigned this to the content owner/author for review.

@cherylmc , could you please review this feedback and update the doc as appropriate?

[2022-02-07 14:28] tcsougan commented on #84886
@vhorne Sorry I was on vacation. Yes, your suggestion was clean. Thank you !

[2022-02-07 14:34] Tiberriver256 opened #87590 "Is there some way to use service bus triggers with User Assigned Managed Identities?"
The document referenced here has information on how to use a System Assigned Managed Identity. Is there a way to do the same thing with User Assigned Managed Identities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bea1026-35d3-a51f-6161-01aa0cc245a4
* Version Independent ID: 8f084907-67d6-c2a6-69a4-7a8c8aaa0ba0
* C

[2022-02-07 14:44] MonikaReddy-MSFT commented on #87559
@wendiz-zhang - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-07 14:48] MarcosMMartinez opened #87591 "AKS - "Add a node pool with a unique subnet (preview)" needs revision"
Wording for this section includes:

_If you expand your VNET after creating the cluster you must update your cluster (perform any managed cluster operation but node pool operations don't count) before adding a subnet outside the original cidr. AKS will error out on the agent pool add now though we originally allowed it. **If you don't know how to reconcile your cluster file a support ticket**._

W

[2022-02-07 15:12] Ozzian opened #87592 "How to grant admin consented to EventGrid scope"
Hi there,

We have a windows application that uses Integrated Windows Authentication to authenticate towards Azure (the  ` IPublicClientApplication.AcquireTokenByIntegratedWindowsAuth` ). The application is sending events to an Event Grid Topic. We want to migrate from Event Grid Topic access-key authentication to AAD authentication, but we are struggling to find the details in order to solve the

[2022-02-07 15:19] kellyjjrusk commented on #87553
Thanks @SwathiDhanwada-MSFT,

I had raised it here as those articles did not have complete information on how to connect a Hybrid Worker or any reference to the error I had discovered. My thinking is that perhaps we need a step by step article separate of those. I will feedback on those articles so those teams can collaborate.

Regards,

Kelly

[2022-02-07 15:20] SnehaAgrawal-MSFT commented on #87565
@softlion Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-07 15:21] kellyjjrusk opened #87593 "[Internal Error] The Hybrid Worker Extension failed to execute: {"Message":"Authentication failed for private links"}"
I am using Azure Automation set as private per the recommendation on screen when creating an Azure Automation account. The goal is to run T-SQL against Azure SQL but since Azure Automation does not support a Private Link to Azure SQL yet, I set up a Hybrid Worker group and an Hybrid Worker. It added the Hybrid Worker and seems to be trying to install the extension but upon inspecting the VM (since

[2022-02-07 15:23] kellyjjrusk opened #87594 "[Internal Error] The Hybrid Worker Extension failed to execute: {"Message":"Authentication failed for private links"}"
I am using Azure Automation set as private per the recommendation on screen when creating an Azure Automation account. The goal is to run T-SQL against Azure SQL but since Azure Automation does not support a Private Link to Azure SQL yet, I set up a Hybrid Worker group and an Hybrid Worker. It added the Hybrid Worker and seems to be trying to install the extension but upon inspecting the VM (since

[2022-02-07 15:24] kellyjjrusk opened #87596 "[Internal Error] The Hybrid Worker Extension failed to execute: {"Message":"Authentication failed for private links"}"
I am using Azure Automation set as private per the recommendation on screen when creating an Azure Automation account. The goal is to run T-SQL against Azure SQL but since Azure Automation does not support a Private Link to Azure SQL yet, I set up a Hybrid Worker group and an Hybrid Worker. It added the Hybrid Worker and seems to be trying to install the extension but upon inspecting the VM (since

[2022-02-07 15:34] sebhe opened #87597 "wrong link to compute section"
In the section "Continuous monitoring of your Kubernetes clusters - wherever they're hosted" you have a link that points to the compute section of the reference list. Shouldn't this be "container" section instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7c05f1-f69c-c033-0409-39f5c8f03674
* Version Independent

[2022-02-07 15:39] kobulloc-MSFT commented on #87581
@malkitsaggu Thank you for bringing this spelling error to our attention!  We'll get a PR out to address this.

[2022-02-07 15:43] SwathiDhanwada-MSFT commented on #87593
@kellyjjrusk Thanks for your comment.  I am looking into it and revert to you soon.

[2022-02-07 15:44] SwathiDhanwada-MSFT commented on #87594
Closing this issue as its duplicate of #87593.

[2022-02-07 15:44] #87594 closed

[2022-02-07 15:46] #87596 closed

[2022-02-07 15:52] seligj95 commented on #87507
@amyluums - Thank you for the feedback, I am making updates to the docs. Is there anything in particular you are looking for when it comes to how zone redundancy and auto scale work? They are both standard Azure features, not necessarily specific to App Service. For zone redundancy, I have already included the information we believe is relevant for our users, but please let me know if there is som

[2022-02-07 15:58] ShaikMaheer-MSFT commented on #87572
@anideswandikar-github Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-07 16:02] dhirajgandhi commented on #87278
Hello Frank, The partner of record is per customer tenant, not per Azure subscription.  It is applicable to all the subscriptions and resources where the user has RBAC access in the customer tenant.  Once you have set partner id for the user, it applies for all the subscriptions.  It applies to existing and new subscriptions/resources both. Hope this clarifies your questions.

[2022-02-07 16:05] MartinJaffer-MSFT commented on #87537
@sriram-adpusuhup  yes that would by much preferred, thank you.  Once you do, link it here please.

[2022-02-07 16:07] mumian commented on #87585
@fschmied - thank you for your comments.  I will update the article today.

#please-close

[2022-02-07 16:07] spelluru commented on #86762
@LeszekKalibrate - Thanks for the feedback. I will add it to our product team's backlog and get to it as soon as possible. Thank you!

#please-close

[2022-02-07 16:07] #86762 closed

[2022-02-07 16:09] joshmakestuff opened #87598 "Cannot change password should be true for service accounts."
In the section https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/service-accounts-govern-on-premises#set-restrictions-for-user-accounts there is a statement:

[Cannot change password](https://docs.microsoft.com/en-us/powershell/module/activedirectory/set-aduser): Prevent the service account from changing its own password by setting the parameter to false.

It should be set to tr

[2022-02-07 16:12] GitaraniSharma-MSFT commented on #87525
@OisinFoley , the information is correct though a bit confusing due to the naming convention.

When you configure a virtual network gateway, you configure a setting that specifies the gateway type. The gateway type determines how the virtual network gateway will be used and the actions that the gateway takes. The gateway type '**Vpn**' specifies that the type of virtual network gateway created is

[2022-02-07 16:15] Jeroen-VdB opened #87599 "Java sample content length bug with special characters"
When the content contains a special character, the Java sample content length is incorrect.
For example: ’
This makes the API return a 403.

[I attached my update of the Java sample to this issue.](https://github.com/MicrosoftDocs/azure-docs/files/8016827/azure-http-data-collector-java-sample-content-length-fix.txt)

Changes I made to the sample:

- Include `StringEntity body = new StringEntity(js

[2022-02-07 16:19] csvdarius opened #87600 "Inaccurate list of Gateway IP Addresses for Azure SQL Database"
The Gateway IP addresses (and subnets) listed, at least for West Europe are not a comprehensive list OR the Azure SQL Database service in West Europe is using additional addresses/subnet ranges which have not yet been published here.

As seen in the attached screenshot of firewall traffic monitoring:

1. A connection is made over TCP 1433 to 52.236.184.163 - an IP address [on the list of Azure SQL

[2022-02-07 16:20] MonikaReddy-MSFT commented on #87278
@dhirajgandhi - Thank you for providing your insights.
@franklesniak  - I hope @dhirajgandhi has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-07 16:20] #87278 closed

[2022-02-07 16:23] chanuengg commented on #87572
Adding @***@***.***> to word smith and additional clarification.

At minimum, even if there is no usage 1 datamap cu is charged every hour. Assuming the storage consumption is less than 10 GB.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ShaikMaheer-MSFT ***@***.***>
Sent: Monday, February 7, 2022 7:58:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Chandr

[2022-02-07 16:33] Cristiano-Rosa opened #87601 "Client automatic cert rotation is now being enabled on the last set of regions"
**********
According to this documentation;
https://docs.microsoft.com/en-us/azure/aks/certificate-rotation#certificate-auto-rotation

Azure Kubernetes Service will automatically rotate non-ca certificates on both the control plane and agent nodes before they expire with no downtime for the cluster.
For AKS to automatically rotate non-CA certificates, the cluster must have [TLS Bootstrapping](http

[2022-02-07 16:33] andrePKI opened #87602 "Microsoft.HybridConnectivity ?"
This page mentions `Microsoft.HybridConnectivity` resource provider as a prerequisite. [This page](https://docs.microsoft.com/en-us/azure/azure-arc/servers/learn/quick-enable-hybrid-vm#register-azure-resource-providers) does not. What should it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e15326-3ca0-09ce-97de-

[2022-02-07 16:34] andrePKI opened #87603 "Microsoft.HybridConnectivity ?"
This page does not mention `Microsoft.HybridConnectivity` resource provider as a prerequisite. [This page](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-overview) does mention it. What should it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1eeb948-3cec-c7f7-334e-227c3b4d82f2
* Version Independen

[2022-02-07 16:38] santhoshb-msft opened #87604 "Broken link"
A link to APIs(https://[apidocs.microsoft.com](https://apidocs.microsoft.com/services/partneringestion/)/services/partneringestion/) is broken from this doc.

![image](https://user-images.githubusercontent.com/63607175/152831545-ee796c3c-864e-4408-ae5d-56e5899b2625.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03

[2022-02-07 16:41] JamesTran-MSFT commented on #87598
@joshmakestuff
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-07 16:43] dianasm22 opened #87605 "LTR in SQL Managed Instance used in Production"
Based on https://azure.microsoft.com/en-ca/updates/longterm-backup-retention-ltr-for-azure-sql-managed-instance-in-public-preview/ with published date of March 17, 2021,  the long-term backup retention (LTR) for Azure SQL Managed Instance is still in public preview.  Is there an update on how soon it will be moved to the general available (GA) status?

We have used LTR in one of our Production SQL

[2022-02-07 16:47] franklesniak commented on #87278
Thank you for the clarification!

[2022-02-07 16:51] franklesniak commented on #87278
@dhirajgandhi - one quick follow-up. Let's say a customer has two users:

- UserA - from Partner123
- UserB - from Partner987

Both users have the same role assignments to Azure resources. Additionally, both users have the partner of record configured to point to their respective organizations.

In this case, how would partner of record be determined for existing resources? Would both partners "re

[2022-02-07 16:54] bmay-cloudwallcapital commented on #87189
Hi @shwetamathur7 I figured a way to do this and worked around it (you can use the GET/PATCH API to update the manifest), but it would be helpful if next time I was pointed to someone who could help with what was blocking me.

[2022-02-07 16:54] KrishnaG-MSFT commented on #87604
@santhoshb-msft Thanks for bringing this up! We are aware of this and are working to fix it. Will provide an update as soon as possible.

Duplicate: https://github.com/MicrosoftDocs/azure-docs/issues/87561

[2022-02-07 16:55] KrishnaG-MSFT commented on #87603
@andrePKI Thanks for the comment. We will review and provide update as appropriate.

[2022-02-07 16:55] KrishnaG-MSFT commented on #87602
@andrePKI Thanks for the comment. We will review and provide update as appropriate.

[2022-02-07 16:58] #87551 closed

[2022-02-07 17:01] kellyjjrusk commented on #87593
Thank you @SwathiDhanwada-MSFT

[2022-02-07 17:06] kobulloc-MSFT commented on #87499
@y2kdread We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-07 17:06] #87499 closed

[2022-02-07 17:08] gabe-sra opened #87607 "Text states that there are two management portals, but three are listed"
![image](https://user-images.githubusercontent.com/75450667/152836725-772356f5-977f-428f-88dc-410b9df5c946.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d4c7a0-0278-3807-0e67-6e5b6f914db0
* Version Independent ID: f1d31c39-4e99-cf52-d666-3b53378c9184
* Content: [What is agentless solution architecture - Azure D

[2022-02-07 17:11] KyferEz opened #87608 "Some instructions unclear and a missing important note"
**Instructions Unclear**
In section "Create a pipeline with a Data Flow activity", steps 3 and 4 are unclear; it seems something change or a step was missed in the instructions.

In step 3, we are adding a Data Flow Activity. However this does not automatically create a DataFlow so step 4 which says "In the Adding Data Flow pop-up", there is no pop-up to speak of after completing step 3. One has t

[2022-02-07 17:17] b-hchen commented on #87564
@RutgerKosters - Thanks, Rutger!  We'll implement after confirming with Geert.

cc: @b-ahibbard

[2022-02-07 17:29] prosprice opened #87609 "Please clarify terminology between Azure Subscription and Storage Account"
Confusing terminology, where the **cause** refers to "Azure storage subscriptions" but then says the "account" will be throttled because of a "subscription" limit (emphasis mine):

There are "storage accounts" and "azure subscriptions", but I don't recall seeing such a thing as "azure storage subscriptions".  This leads to confusion as to whether the limit is at the Azure Subscription level or at

[2022-02-07 17:30] b-hchen commented on #87564
#please-close

[2022-02-07 17:30] #87564 closed

[2022-02-07 17:31] frkr opened #87610 "reactivate the subscription"
Where can i reactivate the subscription??? there is no button or option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bffdd7e-ea18-32e8-6aa3-1f24e531414f
* Version Independent ID: 053c490b-4078-a18c-cc22-38e8e3329dc1
* Content: [Reactivate a disabled Azure subscription](https://docs.microsoft.com/en-us/azure/cost-man

[2022-02-07 17:32] JamesTran-MSFT commented on #87570
@lightupdifire
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products

[2022-02-07 17:33] juanandmsft opened #87611 "Use of SQL Aliases"
In the "Platform capabilities" section, the table row for "SQL Alias" says that it is not supported for SQL DB or SQL MI.
However, the SQL MI column points to a Tech Community article to setup SQL aliases, that indeed talks about SQL DB but not SQL MI, and also says it is not supported.

As result of reading article and link, for SQL DB the article says aliases are not supported but links to an ar

[2022-02-07 17:50] JamesTran-MSFT commented on #87598
@joshmakestuff
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-07 17:50] #87598 closed

[2022-02-07 17:55] Karishma-Tiwari-MSFT commented on #87597
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-07 18:11] tfitzmac commented on #87246
@cherylmc - can you take a look at this request to update Bastion limits?

[2022-02-07 18:12] #87367 closed

[2022-02-07 18:13] krispenner commented on #87533
@madsd thanks for the reply. So to enable zone redundancy, there is a minimum plan instance count of 3, since there are three availablity zones. But for whatever reason it requires more or less 3 instances per zone as a minimum charge, hence 9 minimum instance charge. Therefore if I only deploy the minimum of 3, I'll be charged for 6 more? Is there any background logic as to why this is the case?

[2022-02-07 18:13] KranthiPakala-MSFT commented on #87608
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-02-07 18:14] KranthiPakala-MSFT commented on #87609
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-02-07 18:18] GeethaThatipatri-MSFT commented on #87294
We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-02-07 18:18] #87294 closed

[2022-02-07 18:20] whhender commented on #86521
Still top of mind for me. I'm just waiting on the update to the graphic. Thanks for your patience!

[2022-02-07 18:20] KranthiPakala-MSFT commented on #87487
Thank you @lasyan3 for sharing the details. As we are tracking this in MS Q&A forum, we will proceed to this close this thread.

One of our engineers or MVPs will assist on your ask in MS Q&A forum.

Thank you

[2022-02-07 18:20] #87487 closed

[2022-02-07 18:22] GeethaThatipatri-MSFT commented on #87018
We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-02-07 18:22] #87018 closed

[2022-02-07 18:26] whhender commented on #87578
@HenriHeijltjes - Thank you for the feedback! I see where you are coming from.

This particular article is a Tutorial, which typically shows a set of steps to perform a single, specific operation, rather than showing all possibilities.

That said, I understand how this language is limiting/confusing here, and I will update it today. Thank you!

[2022-02-07 18:28] hpsin commented on #86801
@vault79, would it help to rephrase this as "The same account ID is seen by every application inside a tenant" ? To help clarify that the ID belongs to the user, and apps see it, not that it belongs to the app?

[2022-02-07 18:29] hpsin commented on #85713
As an update we're reviewing this internally and believe there's a bug here related to custom signing keys and JWT creation.

[2022-02-07 18:29] BryanTrach-MSFT commented on #86956
@jinyu1122 media.peerconnection.ice.relay_only needs to be enabled. In your browser search bar type about:config. Click Accept the Risk and Continue. Search for media.peerconnection.ice.relay_only and change its value to true.

Can you please let us know if this resolves your issue?

[2022-02-07 18:37] JamesTran-MSFT commented on #87583
@bobe999
Since I don't work in Cost Management+Billing, I'll do my best to interpret the differences when it comes to an `Account Administrator` and `Account Billing Administrator` (Billing Administrator).

As an [Account Admin](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/account-admin-tasks) you can:

- Manage your subscription's payment methods
- Remove your subscriptio

[2022-02-07 18:37] #87583 closed

[2022-02-07 18:41] SaiKishor-MSFT commented on #87589
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-07 18:50] SadiqhAhmed-MSFT commented on #87610
@frkr If you are unable to re-activate your subscription, kindly contact Azure subscription management team to re-enable your subscription by raising a support request. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-02-07 18:55] securityvoid commented on #85682
I have to ask why this behavior is this way. Why on earth would you want to prevent someone from having multiple Billing Profiles? Yes, if its properly documented its not the end-of-the-world, but the nature of Microsoft Documentation is there are at least a half a dozen pages that have the same documentation details. As an example, I never saw any write-up suggesting this wasn't possible, and I p

[2022-02-07 18:57] jcetina commented on #87377
OK that helps me understand what is and isn't available. Here's my concern though:

We deploy DiagnosticSettings with certain values set (e.g. storage account name, event hub name and key, etc). If we can't modify or undeploy with policy, we have to write a fair bit of code or script to do that ourselves. I'd really much rather this happens in Policy.

[2022-02-07 19:01] ElazarK commented on #87597
@sebhe Thank you for bringing this to my attention. I am looking into the matter and hope to have a resolution soon.

[2022-02-07 19:04] MikeRayMSFT commented on #86600
I'll discuss this with the team to see if a documentation update will help resolve this. Thank you.

[2022-02-07 19:04] #86600 closed

[2022-02-07 19:15] MonikaReddy-MSFT commented on #87390
@DBJDBJ - The document looks accurate. Do you mind sharing more context on what exactly you are looking for?

[2022-02-07 19:18] DerekHerman-MSFT commented on #87587
@rpalves [NFSv4.1 support on Azure Files is GA](https://azure.microsoft.com/en-us/updates/azure-files-nfs-ga/) so there is no need to enable this as a preview feature.

[2022-02-07 19:18] #87587 closed

[2022-02-07 19:30] j-dahl7 opened #87614 "Doc enhancement to add more information to find the "service name" & "api ID" in the given example below."
Can you elaborate on how to find the _"service name" & "api ID"_ with using this custom role in API Management? Could more clarity be given on how to find the right values for lines 8 and 10? This will be helpful in implementing this in an environment. You most likely can find this with CLI or Azure PowerShell commands but providing that information would be helpful here.

#### Document Details

⚠

[2022-02-07 19:30] mike-urnun-msft commented on #87584
Hello @Arash-Sabet -  Thank you for your feedback! It's documented on the [Overview page for SignalR binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service#add-to-your-functions-app), Nuget Package should be: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.SignalRService

[2022-02-07 19:31] mike-urnun-msft commented on #87590
Thank you for your feedback! We will review and update as appropriate.

[2022-02-07 19:32] mike-urnun-msft commented on #87592
Thank you for your feedback! We will review and update as appropriate.

[2022-02-07 19:36] dlepow commented on #87338
@ofligit - Thanks for reaching out and for the good suggestion. I'll clarify this point soon in an update to the article.

[2022-02-07 19:42] GeethaThatipatri-MSFT commented on #87430
@SudhirRaparla assigning this to the author for further update.

[2022-02-07 19:45] securityvoid commented on #85682
Apparently "direct" doesn't really mean "direct". Purchasing on the Azure website is about as direct as you can get, but doesn't create a direct Microsoft Customer Agreement. "direct" apparently means you talked with a person when purchasing. The sales rep I talked with at that link seemed to suggest if I talk with a Microsoft Partner that organization could set me up with a "direct Microsoft Cust

[2022-02-07 19:45] GeethaThatipatri-MSFT commented on #87384
I'm assigning this to the author for the feedback review.

[2022-02-07 19:56] mumian commented on #87192
@tymtam2 - thank you for your comments.  I will add a step to show the job status.

#please-close

[2022-02-07 19:56] #87192 closed

[2022-02-07 20:12] Karishma-Tiwari-MSFT commented on #87432
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-07 20:16] SaiKishor-MSFT commented on #87474
@esanchezvela Any update?

[2022-02-07 20:17] SaiKishor-MSFT commented on #86607
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-07 20:17] #86607 closed

[2022-02-07 20:19] Karishma-Tiwari-MSFT commented on #87280
@MohamedA-Ibrahim The link that you have shared above is showing 404 for me. I am requesting the link for the documentation where you found this 404 link. Is it this doc - https://docs.microsoft.com/en-us/samples/microsofttranslator/text-translation-api-v3-c-sharp/translator-c-sharp-v3/  ?

[2022-02-07 20:20] Karishma-Tiwari-MSFT commented on #86756
@joelpelley Need your help to confirm on this. Thanks.

[2022-02-07 20:21] Karishma-Tiwari-MSFT commented on #87293
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-07 20:21] #87293 closed

[2022-02-07 20:26] saimsh-msft commented on #74845
The main reason for the delay is that systemd has a default timeout of 90s when looking for devices. The swap partition has an entry in /etc/fstab. Upon deallocate/start, the partition is destroyed (as the partition is created on the resource disk, which goes away when the VM is deallocated/started again). Cloud-init will eventually re-create the partition, but this step happens later in the boot

[2022-02-07 20:29] Karishma-Tiwari-MSFT commented on #87428
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-02-07 20:29] #87428 closed

[2022-02-07 20:30] Karishma-Tiwari-MSFT commented on #87591
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-07 20:31] don4of4 commented on #56034
@souravmishra-msft Which backlog can we get this raised on?  AZ CLI >> Powershell, and I would love to see this added.

[2022-02-07 20:54] questsin commented on #87103
using outdated version of gremlin node driver
calling client.submit("g.V()".... is prone to security issues

g.V() implementation is not first-class object. very sad :(

[2022-02-07 20:56] #87338 closed

[2022-02-07 21:04] jeevansd commented on #87579
@v-hagamp and @v-rant Can you please get the right support alias for this app?

[2022-02-07 21:31] softlion commented on #87565
The initialization code is also missing one line :

```FirebaseApp.InitializeApp(this);```

So it should read

[code]

[2022-02-07 21:41] softlion commented on #87565
Also you need to install the nuget "Xamarin.Firebase.Messaging" otherwise the app won't start, as the nuget version included in Xamarin.Azure.NotificationHubs.Android is referencing an old version of Xamarin.Firebase.Messaging.

[2022-02-07 22:15] SaiKishor-MSFT commented on #87589
@jkudo Can you please provide more details regarding this issue as it is not so clear from your Title/Description?

[2022-02-07 22:38] MSFTeegarden commented on #73852
@shraboin, thanks for flagging this for us. Based on your input, we updated the document to show that indeed there is no reboot option currently. This is something on our roadmap, so we're planning on adding this functionality in the future. Hopefully, this addresses your issue. If so, I will close issue.

[2022-02-07 22:46] flang-msft commented on #73852
#assign: @MSFTeegarden

[2022-02-07 22:49] flang-msft commented on #86640
#assign: @shpathak-msft - adding you the assigned list for tracking and because of your input on the update.

[2022-02-07 22:49] PRMerger17 commented on #86640
The following users don't have valid GitHub IDs, or are not collaborators on this repo: shpathak-msft - adding you the assigned list for tracking and because of your input on the update.

[2022-02-07 22:52] flang-msft commented on #86640
#assign: shpathak-msft

[2022-02-07 22:58] GeethaThatipatri-MSFT commented on #87600
Hi @csvdarius Thanks for your findings,We will investigate and update as appropriate

[2022-02-07 23:00] GeethaThatipatri-MSFT commented on #87611
Hi @juanandmsft Thanks for your findings,We will investigate and update as appropriate

[2022-02-07 23:04] dlepow commented on #87267
@abelal83 - Thank you for contacting us and letting us know about this issue. Can you please tell us a little more about your scenario? It sounds like you were able to create a revision as described in the article. Then, what happened when you tried to make the revision current? Were you using the portal or another tool to try this step? Many thanks for the info.

[2022-02-07 23:12] jesseryoungVUMC opened #87617 "Web Activity Documentation For Handling HTTP 202"
It appears that Data Factory's Web Activity will gracefully handle an API or service that returns an HTTP 202 and in the case of Azure Durable Functions wait for up to the activity's timeout (default of 7 hours) before returning the output from the durable functions status endpoint.

This is a great feature! However, it is not documented anywhere in the documentation for the web activity. The docu

[2022-02-07 23:23] JimacoMS4 commented on #68690
Hi @Marusyk,

Thanks again for your feedback. We just published a page that specifically addresses HA DR for DPS: https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-ha-dr. Please have a look and let me know if you have additional feedback. Do note that the DPS scenario is much simpler than that for IoT Hub, so the topic is not as extensive. As this is an old issue, I'll leave it open for a few

[2022-02-07 23:27] flang-msft commented on #86640
You mentioned that the our documentation differs from the Redis docs on `used_memory_rss` vs  `used_memory` . This caused us to revisit our documentation around this feature. Based on your input, we updated the document to clarify the relationship between the two values. Thanks for that. Hopefully, this addresses your issue. If so, I will close issue.

[Troubleshoot Azure Cache for Redis server is

[2022-02-07 23:28] #87537 closed

[2022-02-07 23:32] shraboin commented on #73852
thank you

[2022-02-07 23:37] dcbrown16 opened #87624 "CUDA drivers "following table""
The section on NVIDIA CUDA drivers says "NVIDIA CUDA drivers for NC, NCv2, NCv3, ND, and NDv2-series VMs (optional for NV-series) are supported only on the Linux distributions listed in the following table."
Is this supposed to refer to the table that is under the NVIDIA GRID section?

I see that at some points in the past, there were separate tables for CUDA and GRID.
https://github.com/Microsoft

[2022-02-07 23:49] KranthiPakala-MSFT commented on #87617
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-07 23:49] flang-msft commented on #73852
#please-close

[2022-02-07 23:49] #73852 closed

[2022-02-08 00:13] femsulu commented on #87403
Hi @dpatel124, Yes, all 3 perms are required.
 'write' and 'delete' are [pre-requisite](https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli#enable-azure-rbac-permissions-on-key-vault) perms needed to create or delete permission models on Key Vault. Both perms roll up to the Owner & Administrator roles by default. i assume you are an Admin/Owner on the subscription wh

[2022-02-08 00:13] #87403 closed

[2022-02-08 00:15] flang-msft commented on #82003
@aelij - Thanks for the input. After triaging, we have turned this into a bug we are tracking in our ADO. @shpathak-msft will follow-up on this issue.

[2022-02-08 00:29] D-Jeffrey opened #87625 "Syntax is wrong on the Powershell command"
This syntax is wrong.  There is an extra ] in the command; there are Word generated quote marks instead of regular quote code marks.  The links to Github show it updated in the last few days and the links from Github to Powershell Gallery reference a version from 5 months ago.  The installation of Install-Module -Name MSIdentityTools does not include the associated command from this page.
Excited

[2022-02-08 00:30] JamesTran-MSFT commented on #87625
@D-Jeffrey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-08 00:37] TelmoC76 opened #87626 "SharePoint Server Subscription Edition /SharePoint 2019 Supportability"
[Enter feedback here]

This article  seems to enter in contradiction with the sharepoint databases that support assync replicas - [Plan for SQL Server Always On and Microsoft Azure for SharePoint Server Disaster Recovery](https://docs.microsoft.com/en-us/sharepoint/administration/plan-for-sql-server-always-on-and-microsoft-azure-disaster-recovery). see the below table

![image](https://user-images

[2022-02-08 01:02] flang-msft commented on #85168
@wilson-mar
You mentioned that our documentation should not suggest hard-coding passwords in the code or use an external variable in this Python sample. This caused us to revisit the documentation in our samples around passwords. Thank you.

Based on your input, we created a work item in our backlog to revisit this aspect of our samples. Hopefully, we can improve our samples in this way. If that i

[2022-02-08 01:04] dcbrown16 opened #87628 "CSE for flexible scale set"
In my understanding, it should be possible to apply custom script extension on flexible scale set as well. Can you update the "Applies to" line to add flexible scale set if that is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50e2e178-cc8a-3f67-2b07-00671bce74c9
* Version Independent ID: b702442c-3a33-32db-c

[2022-02-08 01:09] Karishma-Tiwari-MSFT commented on #87601
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-08 01:19] Karishma-Tiwari-MSFT commented on #87599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-08 01:21] Karishma-Tiwari-MSFT commented on #87607
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-08 01:23] jberry777 opened #87629 "Missing API Management API Definition Documentation"
What was expected:
The Azure documentation for importing an API into API Management from an existing Function App (which uses a custom handler), should define how descriptions are created. There should be documentation on how to create the required API definition for the functions in the custom handler.

Issues encountered:
The Azure documentation for importing existing Function Apps into API Mana

[2022-02-08 01:26] jyama4ta opened #87630 "Throughput and IOPS values are not listed on NC4asT4_v3"
We would like to know Storage performance on NC4asT4_v3 series. Could you please add values same as other series?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69c59f5-b6b8-4be6-2653-3373b24caf31
* Version Independent ID: 9476f9ec-4da6-df60-d877-1bbe60d47c03
* Content: [NCas T4 v3-series - Azure Virtual Machines](htt

[2022-02-08 01:29] XavierGuerette opened #87631 "Stream Analytics Output to Azure Function"
Hi,

Would it be possible to clarify exactly what is supported as an Azure Function for the Output of Stream Analytics. From this document, it seems that using an Azure Function that is Virtual Network Integrated is not supported. Does that mean that only Consumption Azure Functions are supported.

How does Stream Analytics access Azure Function from a Network Perspective? What needs to be done fo

[2022-02-08 01:30] Karishma-Tiwari-MSFT commented on #87605
Thanks for your question.
Is there something in any specific Azure document you are looking to have updated or are having issues with? Please provide us with the link to the documentation you are referring to so we can better assist.
The scope for these doc issues is to help identify gaps and issues with the documentation.

[2022-02-08 01:35] kobulloc-MSFT commented on #87624
@dcbrown16 Thank you for bringing this to our attention.  We are reviewing the CUDA documentation and will get back to you shortly.

[2022-02-08 02:17] Norrch2 commented on #86290
Hello, wanting to check in to see if there is an update to this.

[2022-02-08 02:21] kiwi-cam commented on #59484
Just wanted to make a note for any future sufferers. I had this issue today which was caused by the Automation Run As account being granted permissions to a resource in another subscription. It appears it was connecting to the other subscription first so didn't find the Resource Group, and the command doesn't try other Subscriptions.  Removing the erroneous permissions resolved my issue.

Adding i

[2022-02-08 02:26] mike-urnun-msft commented on #87500
As the next step, we are proceeding to assign this issue to the author to review further and take the next course of action.

[2022-02-08 02:42] mike-urnun-msft commented on #87614
Thank you for your feedback! We will review and update as appropriate.

[2022-02-08 02:57] ivassallo19 commented on #87379
Thanks for the reply.
So are you saying, that the document's instructions are correct / up to date?
Because I am simply trying to follow these instructions, to configure SSO in Salesforce, but I am not seeing the same.
As I showed in my screenshot, the app Salesforce has already been added from the AAD Gallery, under Enterprise Applications.
Under 'Configure Azure AD SSO', step 2, does not show.

[2022-02-08 03:04] LeonSpark opened #87633 "AMD GPU drivers on N-series VMs running Linux"
On the doc page, only windows driver for AMD GPU (NVv4 series) is supported. Do you have plan to officially provide Linux driver also?
I have tried to install community ROCM driver on NV4as_v4 VM, but the GPU is not detected (https://github.com/RadeonOpenCompute/ROCm/issues/1638).
Can someone help to identify what's the root cause? Thanks!

---
#### Document Details

⚠ *Do not edit this section. I

[2022-02-08 03:07] PriyankaRudramaina commented on #87464
Hello @darrenomalley,

Do you have Azure Virtual Desktop (classic) deployment only?

[2022-02-08 03:20] pochiraju commented on #87384
juanand, I am sorry but I didn't understand the feedback here, can you please provide more specifics?
Thanks
Raj

[2022-02-08 03:20] PriyankaRudramaina commented on #87633
Hello @LeonSpark,

Thanks for the question! We are checking internally on the roadmap for linux driver and will update you shortly.

[2022-02-08 03:20] SadiqhAhmed-MSFT commented on #87626
@TelmoC76 Thank you for your post. We will look into it and get back to you shortly.

[2022-02-08 03:26] AnuragSingh-MSFT commented on #87168
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-02-08 03:26] #87168 closed

[2022-02-08 03:29] PriyankaRudramaina commented on #87630
Hello @jyama4ta,

Thank you for bringing this to our attention. Your feedback is under review, we shall update you once it has been discussed internally with the respective doc owners

[2022-02-08 03:31] PriyankaRudramaina commented on #87628
Hello @dcbrown16,

Thank you for bringing this to our attention. Your feedback is under review and we shall update the document accrodingly after discussing this with content owner.

[2022-02-08 03:38] brittanyrowe commented on #86684
Hi @yonisade,

The first doc you linked has been updated to reflect the full scope of the isolated M-series VMs, including the M192idsv2 and M192idmsv2.

Regarding the second point, I don't own the VM sizes, but given the note in the naming convention, the 'd' is only applicable to newer VM sizes.

[2022-02-08 03:49] franklesniak opened #87634 "Not Necessary to Install AzureADPreview Module"
Hello, since the "release" version of the AzureAD module supports the cmdlets mentioned on this page, I believe the instructions should be modified to indicate that the reader simply needs to install the AzureAD module.

Thanks in advance!
Frank

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71d

[2022-02-08 03:56] jkudo commented on #87589
@SaiKishor-MSFT Thank you. When deploying a template, if I use "certificate-data" as sample data, the deployment will fail due to certificate expiration. I want you to update the certificate so that it does not fail.

[2022-02-08 04:18] shashishailaj commented on #87634
@franklesniak Thank you for your feedback . We will investigate and update the thread.

[2022-02-08 04:22] mq-de opened #87635 "link to this cmdlet is wrong new-azurermadspcredential"
link to this cmdlet is wrong new-azurermadspcredential

points to AzureRM
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f6e05d-7293-dcc4-c243-2c54dba72b0d
* Version Independent ID: 0bf11ad7-0ca5-4f8b-620e-c89ed96c31ea
* Content: [Connect hybrid machines to Azure at scale - Azure Arc](https://docs.microsoft.com/en-us/

[2022-02-08 04:23] ziyor opened #87636 "clase virtual"
[Ingrese los comentarios aquí] --- #### Detalles ⚠ del documento *No edite esta sección. Es necesario para docs.microsoft.com ➟ vinculación de problemas de GitHub.* * ID: 2b27b9b3-fe7e-1ac3-d07a-3d55ce820e48 * Id. independiente de la versión: 9607bff7-4b14-f3ef-6a4d-cf494eb84c07 * Contenido: [Azure ExpressRoute: Diseño para alta disponibilidad](https://docs.microsoft.com/en-us/azure/expressroute/d

[2022-02-08 04:29] franklesniak commented on #87634
@shashishailaj - you can close this issue with my apologies. In reading the release history for the AzureAD module it read to me that the Get-AzureADMSPrivilegedRoleAssignment/etc. cmdlets appeared in the AzureADPreview module long ago but had since been merged into the release module (AzrureAD). However, in testing, this does not seem to be the case.

That is, the Get-AzureADMSPrivilegedRoleAssig

[2022-02-08 04:42] ShaikMaheer-MSFT commented on #87631
@XavierGuerette Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2022-02-08 04:45] eringreenlee commented on #86445
Will be done in Februrary, have created a doc PBI for this.

[2022-02-08 04:45] eringreenlee commented on #86445
#please-close

[2022-02-08 04:45] #86445 closed

[2022-02-08 05:06] SwathiDhanwada-MSFT commented on #87635
@mq-de  This  PowerShell command "new-azurermadspcredential" hasn't been used in the reference document.  Can you please share the document where it has been linked incorrectly ?

[2022-02-08 05:06] ssivas commented on #86507
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.
#please-close

[2022-02-08 05:06] #86507 closed

[2022-02-08 05:17] kudlatiger commented on #87340
Some sample code in the document would help the community.

[2022-02-08 05:47] MughundhanRaveendran-MSFT commented on #87165
@AmitavaHazra , Wondering if you had a chance to look into my previous comment. Please let me know if you have any queries or concerns.

[2022-02-08 05:51] #87452 closed

[2022-02-08 05:52] MughundhanRaveendran-MSFT commented on #87183
@charlejc , Closing this issue as there is no response. Feel free to reopen if required

[2022-02-08 05:52] #87183 closed

[2022-02-08 05:54] #87366 closed

[2022-02-08 05:56] LeonSpark commented on #87633
Thanks for the reply!
We have checked that windows VM with AMD GPU works fine. But as you know, Linux is a widely used platform for machine learning scenarios. Since from the azure portal, users now can create Amd GPU VM running Linux. It would be really helpful if there are some guidance showing how to leverage the AMD GPU.

[2022-02-08 06:09] shhazam-ms commented on #87607
Thanks. I’ll fix this

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Karishma Tiwari - MSFT ***@***.***>
Sent: Tuesday, February 8, 2022 3:22:02 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Shelley Hazam ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Text states that there are two management portals, but three are listed (Issue #87

[2022-02-08 06:09] mike-urnun-msft commented on #86251
@ivansurif - Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-08 06:09] #86251 closed

[2022-02-08 06:11] MayankBargali-MSFT commented on #87276
@real-oneill You cannot define the Event handler as the Custom Topic. The only supported event handler is mentioned [here](https://docs.microsoft.com/en-us/azure/event-grid/overview#event-handlers).

As you have created the event grid subscription of your storage account and configured the Webhook as the `Custom Topic`.
Only in the case of below the azure infrastructure automatically handles the v

[2022-02-08 06:11] #87276 closed

[2022-02-08 06:20] AnuragSingh-MSFT commented on #87144
@Jiannko, following up to check if you were able to get the test results back. Please let us know if you have any questions.

[2022-02-08 06:34] vipulsparsh commented on #87247
@malexmave  There is no direct way for this for now. But you can find out the cost from your infrastructure using the following KQL query.

https://github.com/rod-trent/Azure-Sentinel-Cost-Troubleshooting-Kit/blob/main/KQL-Queries/UEBACosts.yaml

[2022-02-08 06:34] #87247 closed

[2022-02-08 06:36] mq-de commented on #87635
[Connect hybrid machines to Azure at scale - Azure Arc](https://docs.microsoft.com/en-us/azure/azure-arc/servers/onboard-service-principal)

"In the output, find the password value under the field password and copy it. Also find the value under the field ApplicationId and copy it also. Save them for later in a secure place. If you forget or lose your service principal password, you can reset it us

[2022-02-08 06:50] #80710 closed

[2022-02-08 06:52] Aftabalamkhan120 opened #87637 "<URL> is translate"
[Good]("@azure-docs.”)

[2022-02-08 06:54] SwathiDhanwada-MSFT commented on #87635
@mq-de  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-02-08 06:57] #87635 closed

[2022-02-08 07:34] kobulloc-MSFT commented on #87368
@bubbletroubles A PR has been created and @Heidilohr has been added for review.

[2022-02-08 07:38] harald-quist-stratsys opened #87638 "Department is not sent on creation"
When creating a new user and providing a Department value, this value is not sent along on creation. What am I missing? Shouldn't this value be provided automatically?

Thanks.

Example:
![image](https://user-images.githubusercontent.com/31272066/152939736-3a6d8522-80b5-44f6-86d9-eeb9032b4377.png)

Provisioning logs:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-02-08 07:47] jinyu1122 commented on #86956
Thanks for your reply. But I don't think this is an answer for my questions, I'm developing a **Teams** app, I can't tell all of our users to change relay_only config.
Here are my questions:
1. Why does SDK return more than 1 STUN/TURN server? Is it for a backup?
2. If we only want to use one of them, which one of the two returned servers to use with precedence?

[2022-02-08 07:49] NakayamaKento opened #87639 "Add the description about the remain session"
Please add the note to reboot (or cut the session) to block sending the logs from VMs.

[Details]
When I used Log Analytics with Private Link, first I set the NSG rules to allow outbound traffic by ServiceTag:AzureMonitor.
Of course, the VMs could send the logs through Public endpoint.
Next I have changed the rules to deny outbound traffic by ServiceTag:AzureMonitor, but the VMs could keep sending

[2022-02-08 08:01] zipon opened #87640 "Bug in auto correcting an exercise if the storage account is not in the same region - still present"
In https://docs.microsoft.com/en-gb/learn/modules/monitor-azure-vm-using-diagnostic-data/3-exercise-create-virtual-machine
you spin up a sandbox and in it it creates a storage account in the region closest to you. But in the exercise you are tasked to spin up resources in eastus2 and after that you try to do a completion check with the built in check and it wont pass. This because the storage acco

[2022-02-08 08:01] sriram-adpusuhup commented on #87537
Here is the issue link @MartinJaffer-MSFT
https://github.com/Azure/azure-sdk-for-java/issues/26921

[2022-02-08 08:06] shwetamathur7 commented on #87379
@ivassallo19 Could you please confirm that Salesforce application has been added by you in the Enterprise applications and owned by you or it has already been present in your Enterprise Applications?
As per query, it seems it has been already present in your Enterprise applications. If that is the scenario then it is expected that your tenant don't have rights to configure the SSO because the appl

[2022-02-08 08:16] darrenomalley commented on #87464
It's a new subscription with an ARM deployment of AVD

[cid:e1b729a5-b914-4e21-9ec4-cff25717e13f]
________________________________
From: Priyanka_Rudramaina-MSFT ***@***.***>
Sent: 08 February 2022 03:07
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: darrenomalley ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update screen shot in section "Assign custom roles with the A

[2022-02-08 08:18] Jiannko commented on #87144
@AnuragSingh-MSFT yes we have received the results unfortunately the counts don't match up.

[2022-02-08 08:18] KrishnaG-MSFT commented on #87639
@NakayamaKento Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-08 08:19] KrishnaG-MSFT commented on #87637
@Aftabalamkhan120 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share

[2022-02-08 08:25] Jiannko commented on #87144
The query used in Azure Insights (Time range is set to last 7 days)
pageViews
| where url contains "PageName.aspx"

[2022-02-08 08:29] Aoloa-dev opened #87641 "NotEnoughData is not included in the documentation."
I am working on the new Inference with the synchronous API when I am sending `LastDetectionRequest `it shows an error of `NotEnoughData` , I know that the `detectingPoints ` field, could be a number between 1 and 10, and I am giving it 8.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fd9335f-44a3-df94-297b-c9

[2022-02-08 08:45] shhazam-ms commented on #87607
Fixed this in https://github.com/MicrosoftDocs/azure-docs-pr/pull/187823. Thanks for your feedback!

[2022-02-08 08:47] jonas-lomholdt commented on #87284
We are having this exact issue. Copying ~1.000.000 rows but it times out after 2 minutes no matter the timeout value specified.

[2022-02-08 09:29] Sachin1O1 commented on #87563
Hi @trask ,
Thanks for a quick update. As we are using application insight agent jar in production it sends a lot of noisy data to log analytics what inc. our cost insanely. As it is still in preview so I a not sure if It is safe to use sample override in prod env. What do you think?

and is there any timeline for when it will be out of preview?

The missing info I was talking about was already lo

[2022-02-08 09:44] doroodgar opened #87643 "Allow privous on"
https://github.com/github/opensource.guide/blob/main/node_modules/primer-base/build/build.css

[2022-02-08 09:51] danimir commented on #87611
@GeethaThatipatri-MSFT - the article is correct. The SQL link feature for SQL Server 2019 is not supported for SQL DB and MI. What was provided in the article are workarounds. Not sure if you can be more specific these are workarounds suggested.

[2022-02-08 09:52] ciufudean opened #87644 "Scaling APIM and backend services"
This phrase is awkward and in this form contradicts the fact that an APIM hosts multiple APIs

Are you trying to express that with respect to one API, after adding another APIM instance, both instances will route to the same backend service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b2624c-40ea-c23c-3af5-79953d4

[2022-02-08 10:01] nkumars commented on #58469
Comment the `SelfAsserted-Social` _ClaimsExchange_ and re order the rest of orchestration steps. This should work

[2022-02-08 10:02] nkumars commented on #58469
Comment the `SelfAsserted-Social` _ClaimsExchange_ and re order the rest of orchestration steps. This should work

[2022-02-08 10:03] Last8Exile opened #87645 "Error in Data flattening example"
Example mentions 3 properties of object, but there are 4 properies (id, email, phone and extension). This is important because this section explains that some properies would be missing in analitics because of nesting (embeding). Missing property may mislead reader, that having 2 properties on same line will hide on of them from analitics.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-02-08 10:06] bhadev24 commented on #58469
I already tried that and it ended up with the below error:
**AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access**

[2022-02-08 10:55] hardcoded-dev commented on #70761
Are there any information about this topic? We have at least two applications that ran into performance issues when switching over to read replicas.

[2022-02-08 10:57] MayankBargali-MSFT commented on #87629
@jberry777 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-08 11:03] SnehaAgrawal-MSFT commented on #87490
Thanks! I am not sure what are you trying to say with this statement “ why we have to change a setting for the cache to update?

As to elaborate on this Key Vault reference is of the form `@Microsoft.KeyVault({referenceString}),`
where` {referenceString}` can be replaced by one

Secret Uri :
Example: `@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ )`or
`@Microsoft.

[2022-02-08 11:04] michevnew opened #87647 "B2B direct connect"
The first screenshot in the article (https://docs.microsoft.com/en-us/azure/active-directory/external-identities/media/cross-tenant-access-settings-b2b-collaboration/cross-tenant-defaults.png) showcases the "B2B direct connect" defaults in addition to the "B2B collaboration" ones. Afaik, only the latter are currently available in public preview, and it is in fact what the rest of the document cove

[2022-02-08 11:13] michaelspinks opened #87649 "Support for Gatekeeper v3"
Please would it be possible for clarification on the page around Microsoft's support for Gatekeeper?

The https://docs.microsoft.com/en-us/azure/aks/support-policies#shared-responsibility documentation refers only to addons within the kube-system namespace, implying outside of this addons within other namespaces are unsupported.

Whilst the Azure policy pod is installed in kube-system,  Gatekeeper

[2022-02-08 11:14] shashishailaj commented on #87634
Thank you @franklesniak for sharing the findings. The AzureAD preview module does contain some cmdlets which have not yet reached GA and hence it is still required. We will be closing this thread now.

Thank you.

[2022-02-08 11:14] #87634 closed

[2022-02-08 11:17] shashishailaj commented on #87638
@harald-quist-stratsys Thank you for your feedback . We will investigate and update the thread.

[2022-02-08 11:18] KrishnaG-MSFT commented on #87643
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-08 11:19] AnuragSingh-MSFT commented on #87599
@Jeroen-VdB, I used the sample provided for Java as-is and did not run into any issues with the character provided (single-quote) or the content length. In fact, I changed the content to following and it showed in the logs with only change to the property name:

![image](https://user-images.githubusercontent.com/87687088/152976582-912b3fe0-f9f0-4634-b17a-987efd9e0f39.png)

In log Analytics, it is

[2022-02-08 11:26] shashishailaj commented on #87647
@michevnew Thank you for your inputs . We will investigate and update the thread.

[2022-02-08 11:34] shashishailaj commented on #87636
@ziyor Thank you for your screenshot . Could you please provide more details about the issue you have with the current documentation ? It will help us clarify your query and see how best we can improve the current documentation .

[2022-02-08 11:38] keen85 opened #87651 "Synapse SparkPool: Java serialization or Kryo serialization"
Feedback is concerning the subsection ["Optimize data serialization"](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-performance#optimize-data-serialization)

Documentations states "Java serialization is the default".
However, when running a Synapse Notebook on a 3.1 cluster, Spark UI says:

Is the documentation incorrect here? Should it better say that in Synapse, Kyr

[2022-02-08 11:43] Jeroen-VdB commented on #87599
Interesting. Maybe it's because I'm using Groovy and not Java itself, although I would not know why this might differ.

When I log the information of the plain JSON in comparison to the StringEntity, which I retrieve using logging like so:
[code]
I get the following result:
[code]

And that is why I'm getting the question marks when sending the content using `httpPost.setEntity(body);`.
Those ques

[2022-02-08 11:44] DBJDBJ commented on #87390
Historically, you guys have introduced the term "Monitoring", into the realm of "Logging".

The question is what is a conceptual difference between "Telemetry" and "Logging"? Are they both inheriting from the same concept? If yes, which concept?

Customers are confused. Before, there was "only" Syslog :)

[2022-02-08 11:46] AnuragSharma-MSFT commented on #87645
@Last8Exile Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-08 12:12] juanandmsft commented on #87384
No worries :)... let me try to expand ...

First issue is that custom role definitions have AssignableScopes.
My understanding is that this could be just an optional thing in the custom role definition, as when customers have to define the custom roles for online migration with DMS, they may not know the SQL MI resource group(s) upfront when creating the role.
The article could either state that A

[2022-02-08 12:25] stephanieguyot opened #87652 "Custom Policy Azure Ad B2C localization, StringId DefaultMessage is not taken into account."
1) In the section Sign-up or sign-in error messages
The following key/Value is stated:
DefaultMessage | Invalid username or password.
Unfortunately, whatever changes made in there in whatever language. It always results to  Invalid username or password when entering a wrong combination.
2) Further it is not clear in the documentation, which keys are translated out of the box and which keys you hav

[2022-02-08 12:43] DominikKrissVisma opened #87653 "AzureWebJobsSecretStorageKeyVaultConnectionString configuration setting is deprecated"
[Enter feedback here]
please update documentation in section: https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#secret-repositories

according to this: https://github.com/Azure/azure-functions-host/pull/7683#issuecomment-931564624

there is breaking change and AzureWebJobsSecretStorageKeyVaultConnectionString is deprecated, replaced by AzureWebJobsSecretStorageKeyVaultUri
cu

[2022-02-08 12:45] yang-jiayi opened #87654 "Grant Stream Analytics job permissions Synapse sample code"
Feedback.
Grant Stream Analytics job permissions Synapse sample code.

1) No "ON" is written before OBJECT.
2) The GRANT statement will cause an error if you write server permissions and object permissions together. In the case of objects, you can specifically specify the Table name, View name, etc. In the case of server privileges, the object unit cannot be specified.

It should be written as fol

[2022-02-08 13:13] martynas-m commented on #29134
Almost 2 years after, the issue still exists- try to create new app service plan on existing resource group, does not work neither via portal nor cmd. cmd tells 'requested feature is not available for selected resource group', arm tells 'sku not allowed'.
any plans to fix? are azure functions still supported or it is discontinued and will not be developed further on?

[2022-02-08 13:26] fuocor opened #87657 "Add linux specifics"
Linux clusters to not support Azure Active Directory authentication when combined with Managed Identities nor do the support the recommended NSG configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a285068-c854-3688-e1ff-3ac4060a1848
* Version Independent ID: 5654209c-fed5-0ea1-3970-00605b4653b4
* Content: [A

[2022-02-08 13:47] DeanGross opened #87660 "Link to other best practices"
Please add a cross reference link to https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identity-best-practice-recommendations which is an important component to an identity management program.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f

[2022-02-08 14:08] srinivassunkari commented on #76142
@amanmcse
does it possible to filter by custom attributes with IN and NOT IN clauses or HAS clause?
https://graph.microsoft.com/beta/users?$filter=extension_24182594d2c140e4b5e1d30b3eb3b72b_AppRole in ( '')
here is an error while using IN operator with custom attributes.
{
    "error": {
        "code": "BadRequest",
        "message": "Filter IN operator on dynamic property not supported.",

[2022-02-08 14:10] #87438 closed

[2022-02-08 14:17] SwathiDhanwada-MSFT commented on #87649
@michaelspinks Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-08 14:21] jwilliams45-aug opened #87661 "Bad PowerShell code to get IP address"
The code:
[code]
in the [Connect to a VM from the internet](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-powershell#connect-to-a-vm-from-the-internet) section doesn't work.

This code specifies the name of the VM as the parameter, but Get-AzPublicIpAddress expects the name of a public IP address. See this snip from the output of

`Get Help Get-AzPublicIpAddress
`

possible w

[2022-02-08 14:26] m60freeman commented on #70761
We are coming up on the anniversary of my request. I realize that the documentation will likely to change again once secondaries get their own Query Store repositories, but the documentation still doesn't fully describe the current reality. This might be a fun project for Kendra...

[2022-02-08 14:27] m60freeman commented on #70761
We might as well, but we don't know of any way to tell. :-)

[2022-02-08 14:51] davidguest44 opened #87662 "Error in URL"
The URL that is to be copied to act as the Reply URL is incorrect. It should be something like https://SUBDOMAIN.Clarizen.com/Pages/Integrations/SAML/SamlResponse.aspx

That will match the information in the actual config screen and make it clear that the URL is client dependant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-08 14:52] hedbergtech opened #87663 "Device filter addition to "Common Signals""
[Enter feedback here]

It would be beneficial to add the Device filter under the segment "Common Signals" and the bullet labeled "Device" to add to the fact that you can expand the PAW mentality to the cloud as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d525ecd-381b-162f-84b7-2912b83462f6
* Version Independe

[2022-02-08 14:54] nielsuit227 opened #87665 "Documentation IoT Trigger"
I have two problems with this documentation, in particular the `Configuration` section.
1. Specification of the `eventHubName` in `functions.json`. Simply using the `IoT Hub` name does not work.  Going into the IoT Hubs Built-in Endpoints reveals a 'Event Hub-compatible name'. This is not mentioned at all.
2. Specification of the `connection` in `functions.json`. This point actually goes for all A

[2022-02-08 14:54] patuf opened #87666 "What to do with shared volumes exposed as raw block devices inside a pod?"
I could expose a shared disk as a raw block device inside a pod, but then what?!? lsblk doesn't show it as device, I could partition it but the new primary partition is not visible as device either, mounting is out of question. What in the (edited) world am I supposed to do with this raw block, keep it for decoration? Probably I am missing some knowledge, but then again, isn't this the point of th

[2022-02-08 15:07] hardcoded-dev commented on #70761
At least the DMV seem to work, here for CPU-Usage:
[code]

[2022-02-08 15:17] madsd commented on #87533
Hi @krispenner. The logic is that the cost of the supporting infrastructure is significantly higher with AZ App Service Environment. All supporting roles are tripled, and the internal storage solutions, which is dedicated to each ASE instance, requires a Premium tier to support AZ. With ASEv3 instead of having the Stamp fee, we have set a minimal charge for an ASE environment. Most customers will

[2022-02-08 15:22] #86536 closed

[2022-02-08 15:23] CRidge opened #87667 "Does ASB rule actions support retrieving system properties?"
I'm trying to achieve something, and it isn't clear from the documentation if it is possible or not:

What I want is (as a rule action) to add a postfix to sys.Label, but I am unable to get the original value of this. An example of what I've tried is:

`SET sys.Label = property('sys.Label') + '.MyPostFix'`

I am able to change sys.Label, I am able to concatenate two strings and I'm able to retriev

[2022-02-08 15:27] ChaitanyaNaykodi-MSFT commented on #87661
Hello @jwilliams45-aug
Thank you for your feedback! We will review and update as appropriate.

[2022-02-08 15:29] gs9824 commented on #86690
Update :

I used this piece of code to generate the sas token for an (normal) event hub policy. In that case I had to change the code as described above.

For an IoThub however - when using the primary key from a device as input the code in the document works as expected.

[2022-02-08 15:29] #86690 closed

[2022-02-08 15:39] eric-urban commented on #87555
@Matt-Finlay - Can you please share more about your dev environment and repro? Currently I’m running the [text to speech quickstart](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/unity/text-to-speech) via Unity Editor version 2020.3.26f1. This works for me with Speech SDK 1.20.

[2022-02-08 15:49] JamesTran-MSFT commented on #87652
@stephanieguyot
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-08 15:50] JamesTran-MSFT commented on #87660
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-08 15:51] JamesTran-MSFT commented on #87662
@davidguest44
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-08 15:56] juanandmsft commented on #87611
Thanks for the clarification, @danimir.

The intent here is reaching Azure SQL DB/MI with custom name, trying to avoid changing connection strings if possible.

I've tested the use of aliases on the client side (cliconfg 64/32) trying to reach Azure SQL DB and Azure SQL MI with SSMS and the results were:
- Azure SQL DB. It works as described in the [community article ](https://techcommunity.micros

[2022-02-08 16:00] m60freeman commented on #70761
@hardcoded-dev The DMVs work, but it isn't clear from which database they are getting their data.

[2022-02-08 16:01] JamesTran-MSFT commented on #87221
@TroutDD
Thank you for your time and patience throughout this issue! Since I haven't received a response from our engineering team, I'll go ahead and assign this issue to the author to investigate further and update the docs as needed.

I'll continue to monitor this GitHub thread and update as soon as I receive anything on my end.
Thank you!

[2022-02-08 16:12] kobulloc-MSFT commented on #87666
@patuf Edited for language.

[2022-02-08 16:15] spelluru commented on #84844
@tkent - could you please post this issue to our Q&A forum for better visibility? Thanks.
https://docs.microsoft.com/en-us/answers/topics/azure-service-bus.html

[2022-02-08 16:18] PriyankaRudramaina commented on #87633
@LeonSpark, I have reached out to internal teams to get details on this context. I will keep you posted as soon as i have the details.

[2022-02-08 16:18] Natochia opened #87669 "This page does not contain any thing regarding Azure Government cloud"
[Can this document be updated to include azure government cloud. It would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f50540b4-83ae-289a-e3ae-7ed2d66194b3
* Version Independent ID: f7554732-27f1-37cb-ff36-74d4ad3b9087
* Content: [View and download your Azure invoice](https://docs.microsoft.com/en-us/azur

[2022-02-08 16:24] Natochia opened #87670 "Please add Azure Gov to this doc"
[Please add Azure Gov to this doc]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da31e8ca-9234-5a12-4f1e-e1b2c39d39d9
* Version Independent ID: e64078cb-075a-a6cf-775f-0754fd6395f5
* Content: [Download Azure billing invoice](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/download-azure-invoice-d

[2022-02-08 16:25] kobulloc-MSFT commented on #87666
@patuf I've assigned this to the document author for further review to see if there is something we can add to the documentation to add further clarification.

[2022-02-08 16:26] #83835 closed

[2022-02-08 16:26] ivratche opened #87671 "List which sign-in risk could be remediated by an MFA policy or MFA token"
It would be helpful to list which sign-in risk could be remediated by an MFA policy or MFA token.

In the risk detection log I see things are all over place. For example, for same user and same IP roughly around the same time I see one unfamiliarfeatures detection remediated by an MFA policy, but another unfamiliarfeatures detection is still active. Again for the same user around the same time I s

[2022-02-08 16:39] bobe999 opened #87672 "More details needed on "Multiple forests: account-resource forest""
Hi,

I would need more details around "Multiple forests: account-resource forest". Implementation steps, functions, behaviour would be appreciated. Why are disabled accounts needed? Will there be cleaned up after a user leaves the company? Are there security risks attached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-02-08 16:43] #87507 closed

[2022-02-08 16:44] SaiKishor-MSFT commented on #86863
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-08 16:44] #86863 closed

[2022-02-08 16:47] Oury-MSFT commented on #87539
@msmbaldwin Could you please bring some clarification on the above feedback from customer.

[2022-02-08 16:55] JamesTran-MSFT commented on #87671
@ivratche
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the doc as appropriate.

[2022-02-08 16:56] liutang opened #87673 "Region pair target for US Texas?"
Please add the target region pair for US Gov Texas. Where does the GRS data go if I spin up a resource in US Gov Texas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Cross-region replication in Azure](https:

[2022-02-08 17:03] #87663 closed

[2022-02-08 17:06] tejaswikolli-web commented on #71439
@SteveLasker @yugangw-msft  - Can you please comment on this question about how/whether service endpoint policies affect ACR access when not using dedicated data endpoints?

[2022-02-08 17:11] JamesTran-MSFT commented on #87625
@D-Jeffrey
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-08 17:12] AaronMaxwell commented on #87390
We refer to any types of events we collect through Application Insights as "Telemetry". (Exceptions, Requests, Page Views, etc.)

Telemetry includes everything. Application telemetry consists of metrics and logs. You can view Metrics in Metrics Explorer and Logs in Log Analytics.

Logging is very specific.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger
https://docs.microsoft.com

[2022-02-08 17:15] FlorianBorn71 commented on #87363
Documentation has been fixed

[2022-02-08 17:19] FlorianBorn71 commented on #87363
#please close

[2022-02-08 17:19] #87363 closed

[2022-02-08 17:25] dianasm22 commented on #87605
Thanks for your response, Karishma.  Given that my question does not cover your scope, I'll just reach out to the resources you have mentioned.

[2022-02-08 17:25] AmitavaHazra commented on #87165
@MughundhanRaveendran-MSFT , Thanks for clarification. Its clear now.

[2022-02-08 17:25] #87165 closed

[2022-02-08 17:26] VanessaRussell opened #87676 "Doc doesn't mention that Service Bus triggered functions don't respect slot routing rules."
Item 3 listed under the Swap Slots section should be updated to denote the fact that routing rules are only web-based.  For example, if you have a Service Bus triggered function; it will attempt to process messages from the queue/topic regardless of the routing rules.

Here's the information that I obtained from the SME working on my support ticket that should be included within this document some

[2022-02-08 17:29] jvannor opened #87677 "If you want to use Ultradisks with 4K sector sizes for DB2, then you have to enable this option in DB2"
If you want to use Ultradisks with 4K sector sizes for DB2, then you have to enable this option in DB2.  Otherwise, you will face errors when attempting to create a database.

db2set DB2_4K_DEVICE_SUPPORT=ON

https://www.ibm.com/docs/en/db2/11.5?topic=variables-performance
https://www.ibm.com/docs/en/db2/11.5?topic=variables-registry-environment

---
#### Document Details

⚠ *Do not edit this sect

[2022-02-08 17:30] chihhaohuang opened #87678 "Is it possible to migrate/change cluster to Dynamic allocation of IP addresses and enhanced subnet"
Based on the document:
Q: Can some node pools in a cluster use the traditional CNI while others use the new CNI?
A: The entire cluster should use only one type of CNI

When tried to add a new pool with --pod-subnet-id, got this error.
(InvalidParameter) All or none of the agentpools should set podsubnet
Code: InvalidParameter
Message: All or none of the agentpools should set podsubnet

I suspect t

[2022-02-08 17:31] mtilak commented on #74476
@deshriva : When it this Spark 3.0 support scheduled for GA?

[2022-02-08 17:37] KarlErickson commented on #87500
#assign:@v-kevinmic3

[2022-02-08 17:37] mattchenderson commented on #87566
A resource ID is a standard representation for a resource in Azure. For a user-assigned identity, that is going to be `/subscriptions/subid/resourcegroups/rg-name/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity-name`

What you have shown is technically a way to reference a system-assigned identity as an extension resource, but that is not needed for this setup. "SystemAssigned"

[2022-02-08 17:39] KarlErickson commented on #87479
@yucwan @bmitchell287 for awareness

[2022-02-08 17:40] KarlErickson commented on #87476
#assign:@v-kevinmic3

[2022-02-08 17:40] KarlErickson commented on #87476
@yucwan can you comment here? Thanks.

[2022-02-08 17:47] SnehaGunda commented on #87651
#reassign: @juluczni

[2022-02-08 17:52] BrianMouncer commented on #87555
I am more concerned that the new release is causing you issues, So please follow up with more information about your dev and runtime environment and how we can to reproduce this problem...

but to unblock you, the previous release can be download from https://csspeechstorage.blob.core.windows.net/drop/1.19.0/Microsoft.CognitiveServices.Speech.1.19.0.unitypackage

[2022-02-08 18:03] JamesTran-MSFT commented on #87662
@davidguest44
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-08 18:03] #87662 closed

[2022-02-08 18:04] MartinJaffer-MSFT commented on #87654
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-08 18:32] GiftA-MSFT commented on #87641
@Aoloa-dev we'll review your feedback and get back to you shortly. Thanks!

[2022-02-08 18:33] mike-urnun-msft commented on #87644
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-08 18:35] ntrogh commented on #85554
Thanks for reporting this. We have tried to make it clearer in the docs how users can view the list of metrics for their selected app components.
#please-close

[2022-02-08 18:35] #85554 closed

[2022-02-08 18:36] mike-urnun-msft commented on #87653
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-08 18:48] mike-urnun-msft commented on #87665
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-08 18:50] mike-urnun-msft commented on #87667
Thank you for your feedback! We will review and update as appropriate.

[2022-02-08 18:51] mike-urnun-msft commented on #87676
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-08 19:11] Karishma-Tiwari-MSFT commented on #87640
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-08 19:12] Karishma-Tiwari-MSFT commented on #87651
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-08 19:49] #87461 closed

[2022-02-08 20:02] MonikaReddy-MSFT commented on #87669
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-08 20:02] MonikaReddy-MSFT commented on #87670
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-08 20:05] plaberge opened #87680 "Swift Examples?"
Hi!  Based on a customer's observation, the documentation for Notification Hubs (like in this linked page) is Objective-C focused.  Are there plans to provide updated code samples for Swift?  I know there is a GH repo with samples implemented in Swift (https://github.com/Azure/azure-notificationhubs-ios) but it would be great to have Swift-based samples in the documentation hub as well.

Thanks!

[2022-02-08 20:12] MarcosMMartinez opened #87681 "Incorrect syntax on "Configure HTTPS on a Front Door custom domain""
The below command is incorrect.

**_az ad sp create --id ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037 --role Contributor_**

This is a two-command operation that requires:

1. az ad sp create
2. az role assignment create

_az ad sp create_ doesn't allow for both sp creation and role assignment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-02-08 20:14] axc450 commented on #87490
Thanks for the reply!
I guess my question is more along the lines of: Is there a documented way of forcing a refresh _other then_ changing a app config setting or waiting 24hours? You mention "Any configuration changes to the app" - I have noticed that if I restart my web app (or turn it off and then on) this does **not** refresh the cache. Is there a list of things that do refresh it? I am essent

[2022-02-08 20:20] MarcosMMartinez commented on #87681
I'm showing the use of command **_az ad sp create --id ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037_**is not required since this app exists in the MSFT tenant already.

Ref:
![image](https://user-images.githubusercontent.com/29489962/153068698-2494a865-d685-4a60-aab5-cb790727308e.png)

The only command needed is:
**_az role assignment create --assignee ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037 --role Contribut

[2022-02-08 20:23] dlepow commented on #85469
@marcelkmfst - We've captured the request to document the scenario with Front Door and plan to address it in an upcoming sprint. According to our usual process, I'll proceed to close this issue. Thank you!
#please-close

[2022-02-08 20:23] #85469 closed

[2022-02-08 20:32] dlepow commented on #84373
@AldensNow - I hope you were able to get your question answered. As there hasn't been further information provided in this issue, I will proceed to close this issue. If you have further information or would like to continue this discussion, feel free to reopen.
#please-close

[2022-02-08 20:32] #84373 closed

[2022-02-08 20:36] Willem-J-an commented on #87566
Ah that makes more sense. The primary cause of my confusion is that I wasn't able to get the setup to work, and I tried experimenting with this setting, and wasn't completely clear on how to reference a system assigned ID. I have managed to get it to work now, with omitting the setting as is also referenced in the docs, so I'm happy!

[2022-02-08 20:36] #87566 closed

[2022-02-08 20:49] duongau commented on #87681
@MarcosMMartinez Thank you for pointing this out. You're correct with the command. I have submitted a request to get that updated. Please let me know if there is anything else. For now I will archive this issue. #please-close

[2022-02-08 20:49] #87681 closed

[2022-02-08 21:16] AsanFaraj opened #87683 "Can't subscribe to Azure Maps events"
When following this Microsoft Azure tutorial on geofencing with Azure Maps https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-geofence#create-azure-maps-events-subscriptions , I run into an issue at the step: **Create Azure Maps events subscriptions**

When following the tutorial exactly, I get this error message:

Creation of System Topic has failed with error: System topic's location mus

[2022-02-08 21:23] nabhishek commented on #80799
#Please-Close

[2022-02-08 21:23] #80799 closed

[2022-02-08 21:26] J-Fedor opened #87684 "The list is incomplete"
We were tracking a lot of these manually.  Would like to simplify life and use your CSV file, but your CSV file is incomplete.  I did a comparison of the SkuPartNumber we get from Get-MsolAccountSku and noticed the following are missing from your CSV - not sure if there is another one we are supposed to get or how to get a more comprehensive one?  I'm sure there are other entries too, but these ar

[2022-02-08 21:27] scomo opened #87685 "Single Sign-on page does not have the options described here."
When doing the walkthrough, I do not get the options described when I select Single Sign-on under the manage menu for my application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea1437d-a485-ed34-7706-c5be45ff3d8f
* Version Independent ID: f265f582-1894-bef9-9b81-a6bbd34b4381
* Content: [Quickstart: Enable single s

[2022-02-08 21:28] mike-urnun-msft commented on #81222
Hello @pragnagopa - Could you share your insights on the above and help bring clarity about the "_This setting applies to all non-.NET languages_" statement? I'm not sure if the setting has direct control over the number of worker processes for Java.. I was also wondering if the same applies to out-of-proc Dotnet workers too?

[2022-02-08 21:28] JamesTran-MSFT commented on #87684
@J-Fedor
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-08 21:29] Marusyk commented on #68690
Hi @JimacoMS4
Cool, it is very useful
thx

[2022-02-08 21:31] JimacoMS4 commented on #68690
Thanks @Marusyk! Do you mind if I close the issue?

[2022-02-08 21:34] nabhishek commented on #84904
@SConnellSwordGroup Thanks for pointing it out. Yes, the 'new branch' is the collaboration branch. We will update the doc to make it obvious.
For synapse, it's updated already and you can find it here.
https://docs.microsoft.com/en-us/azure/synapse-analytics/cicd/source-control#stale-publish-branch

[2022-02-08 21:34] nabhishek commented on #84904
#Please-close

[2022-02-08 21:34] #84904 closed

[2022-02-08 21:35] Marusyk commented on #68690
I think yes

[2022-02-08 21:37] #68690 closed

[2022-02-08 21:42] JamesTran-MSFT commented on #87685
@scomo
Thanks for your post!

If you're seeing something similar to the below screenshot, you'll have to select `SAML` to open the SSO Config page.
![image](https://user-images.githubusercontent.com/36619112/153080393-02a251d1-550a-4c4c-a97f-2e9c765ecad2.png)
![image](https://user-images.githubusercontent.com/36619112/153079616-aaa4883f-5419-4b88-a2f9-656d4e13e129.png)

However, since this issue i

[2022-02-08 21:42] #87685 closed

[2022-02-08 21:45] trentkurtz-wccobelting opened #87686 "Revoke Emergency Access in Hybrid AzureAD Environment"
Hello MS Team,

Minor detail I noticed in the instructions and wanted to point this out should another administrator find themselves in a situation of needing to immediately terminate User access.

The instructions call out using the command "Get-AzureADUserRegisteredDevice" to get the User's devices then disabling each device accordingly. Here's the catch, this command only retrieves "Azure AD Re

[2022-02-08 21:45] Stel-TG opened #87687 "Create runbook step 2 incorrectly indicates to select Powershell instead of PowerShell Workflow"
[Enter feedback here]
Step 2 of the creating a Workbook indicates to create a PowerShell workbook and should be a PowerShell Workflow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3632c749-8963-f5ed-55ec-28af005780bd
* Version Independent ID: 3ec0f957-e320-7ea7-e5f5-07f543f3c31b
* Content: [Tutorial - Create a PowerSh

[2022-02-08 21:50] questsin opened #87688 "No support for UDF"
[Enter feedback here]
UDFs are not supported by Cosmos DB for Graph.

function userDefinedFunction(){
    return g.V()
}

the simple function doesn't work and returns an error

Error
Failure in submitting query: c(): Script eval error: ActivityId : fb6be77e-a52d-462d-ae43-61f6100b5cc5 ExceptionType : GraphCompileException ExceptionMessage : Gremlin Query Compilation Error: Unable to resolve symbol

[2022-02-08 21:55] dlepow commented on #87644
@ciufudean - Thanks for your feedback. I see your point. Yes, you captured the intent that a given API routes (without additional configuration) to a single backend, regardless of number of gateways. I think we could state the point my clearly as "In API Management, by default each API forwards requests to a single backend service URL". Does that help?

[2022-02-08 22:12] mocleiri opened #87689 "Add 'Map the temporary cdnverify subdomain' to page index"
The documentation for setting up the Azure CDN for an existing site is hidden on a non-obvious second tab halfway down the page.

Can the sectioning be changed to that this very useful scenario be more easily seen.

At a minimum can the topic be listed on the "In this article"  right hand table of contents?

The 'Map the temporary cdnverify subdomain' is linkable (it shows the linked header icon w

[2022-02-08 22:53] SaiKishor-MSFT commented on #87689
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-02-08 22:53] RaymondBorbon opened #87690 "Question about overriding consistency per request"
When it says the following:

Our CosmsoDb is set to Session consistency. If we have a client make requests for strong consistency reads, is it exactly like converting the Db to strong consistency? For reads would there be any noticable difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30408ba6-333d-6fe5-0df2-e

[2022-02-08 22:54] adamfowlerit opened #87692 "Screenshots need updating"
The Remove Microsoft Sentinel option is no longer a tab, but at the bottom of the page with a dropdown option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d272cb77-30a3-15c5-eb77-c15e5b9937ed
* Version Independent ID: a1a18221-fe5a-aed8-3908-cbce1aa9502d
* Content: [Remove Microsoft Sentinel](https://docs.microsoft.

[2022-02-08 23:15] JamesTran-MSFT commented on #87686
@trentkurtz-wccobelting
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 00:20] kobulloc-MSFT commented on #87657
@fuocor Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-09 00:20] DBJDBJ commented on #87390
Many thanks @AaronMaxwell

Specifically, if and when we want to "redirect logs" from legacy apps Application insights are out of the question (inside or not from inside of containers).

In that scenario, I assume we simply add REST calls to the Log Analytics "nearby".

Or we "just" reformat legacy log files to be used by Azure ..... what?

On a similar but different note; AFAIK there is Azure Sysl

[2022-02-09 00:22] kobulloc-MSFT commented on #87678
@chihhaohuang Thank you for your question!  We've assigned this to the document author for further review.

[2022-02-09 00:23] questsin opened #87705 "Incompatible list"
[Enter feedback here]
Better docs would be transparent and show two lists of compatibility and Incompatibility. It's hard to trust the product when there is such a huge Incompatibility list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-

[2022-02-09 00:25] kobulloc-MSFT commented on #87368
@bubbletroubles A PR has been created and will be merged as soon as it gets a sign off from @Heidilohr.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-09 00:25] #87368 closed

[2022-02-09 00:28] tkent commented on #84844
@spelluru  - this isn't really a Q&A topic. This is a documentation request and I'd rather not lose the important discussion history and timestamps here.

[2022-02-09 01:11] YutongTie-MSFT commented on #87505
@jhirono Hello Jumpei, I have tried this scenario but I am not sure where is the best place for notifying customer that *.(region).instances.mazureml.ms is needed. Could you please take a look and update the document? Thanks a lot.

[2022-02-09 02:39] KrishnaG-MSFT commented on #87687
@Stel-TG Thanks for the comment. We will review and provide update as appropriate.

[2022-02-09 02:56] bradhawkes opened #87707 "Missing Release Notes."
The URL only contains release notes up to:
[Microsoft Threat Modeling Tool GA Release Version 7.3.00729.1]

But the latest version is 7.3.20120.2.

There are a lot of releases in between with no release notes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55cb0dfa-9fa7-85dd-4d44-0b6e30047d31
* Version Independent ID:

[2022-02-09 03:03] markjbrown commented on #87690
Consistency cannot be overridden with a stronger level of consistency than what is the default. It also can only be weakened. The overridden consistency is only noticed on the reads. It has no impact on writes.

To give you a specific example, assume default consistency is set to strong. User wants to be able to do reads but does not require or care about dirty or out of order reads so configures

[2022-02-09 03:10] markjbrown commented on #87645
@AnuragSharma-MSFT this is a formatting typo. Can you fix this by putting extension on its own line?

[code]

Also correct by saying, *The document below will have four columns in analytical store, id, email, phone and extension. All data is directly accessible as columns.*

Thanks.

[2022-02-09 04:10] SnehaAgrawal-MSFT commented on #87680
@plaberge Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-09 04:10] evgeshka-ol opened #87708 "Mistake in description"
[Enter feedback here]

<html>
<body>

"25:00:00" | every 25 days
-- | --

</body>
</html>

It looks like a mistake. Was it supposed to be "25.00:00:00" like in the next example?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48

[2022-02-09 04:11] SadiqhAhmed-MSFT commented on #87610
@frkr Did you happen to contact Azure subscription management team via support ticket?

[2022-02-09 04:21] AnuragSharma-MSFT commented on #87688
@questsin Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-09 04:23] AnuragSharma-MSFT commented on #87705
@questsin Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-09 04:25] ssivas commented on #87707
@bradhawkes , Thank you for your query . We will investigate and update the thread.

[2022-02-09 04:31] ssivas commented on #87692
@adamfowlerit , Thank you for bringing to our notice. We will investigate and update the thread. Thanks.

[2022-02-09 04:38] Matt-Finlay commented on #87555
Thanks,
I have identified and fixed the issue, it was in my end.
Sorry for wasting your time!

On Wed, Feb 9, 2022 at 4:52 AM BrianMouncer ***@***.***>
wrote:

[2022-02-09 05:15] hpsin commented on #85713
Ah, not a bug but undocumented limitation for security purposes.  Because the admin of the service principal owns the custom signing key, but not the application registration, we cannot allow them to mint tokens that can be used for the OBO flow, which crosses tenants.  Allowing this would permit a cross-tenant elevation of privilege attack.

[2022-02-09 05:17] hpsin commented on #85021
Salesforce can continue using the v1 token at this time to get this data - they should control their token format and associated validation.  While we know this is a priority gap to fill, we don't have anything on the public roadmap to comment with at this time.

[2022-02-09 05:20] yang-jiayi commented on #87654
@MartinJaffer-MSFT
Thanks for the reply.
I am a CSA on the Japanese side.
The SQL as is will result in an error, so please investigate.
The server Grant and object Grant should be written separately.
And you should write ON before the Object syntax.

[2022-02-09 05:32] AnuragSingh-MSFT commented on #87599
@Jeroen-VdB, thank you for the response. To me it seems to be `StringEntity` which is replacing certain characters with `?`. There are a few references on the net regarding it:

https://stackoverflow.com/questions/20473848/httppost-with-stringentity-having-special-characters-like-seeing-%C2%BD-instead

This one is quite like the current issue:
https://stackoverflow.com/questions/58214343/java-code

[2022-02-09 05:37] AnuragSingh-MSFT commented on #87144
@Jiannko, thank you for the update. Can you please set the time range to last 2-3 days and check (to ensure that you are looking at the data **after** the recommendation was implemented.)

In case this does not help, I would suggest opening a support case with us so that one of our engineers can assist you 1:1 regarding this issue. Please let me know if you need help opening a support case.

[2022-02-09 05:56] AnuragSharma-MSFT commented on #87645
Thanks @markjbrown, I have created the PR as per your inputs.

@Last8Exile Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-09 06:35] rmanandhar-janison commented on #87518
2022-02-09T06:34:49.200 [Information] Executing 'CreateOrder' (Reason='EventGrid trigger fired at 2022-02-09T06:34:49.0313871+00:00', Id=edcfa45f-8faa-4d09-9be9-d7d27f85762f)
2022-02-09T06:34:49.200 [Information] Before Method execution and grabbing the httpclient
2022-02-09T06:34:49.201 [Information] HTTP Instance gained2-02-09T06:34:49.201 [Information] HTTP Instance gained
2022-02-09T06:34:49.2

[2022-02-09 06:36] rmanandhar-janison commented on #87518
There is always 4 instances of the execution. For some reason this happens is there a way to solve this issue?

[2022-02-09 06:36] Jiannko commented on #87144
Thankyou  @AnuragSingh-MSFT .. we have opened a support case for this issue.

[2022-02-09 06:57] #87144 closed

[2022-02-09 07:07] AjayKumar-MSFT commented on #87673
@liutang, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-09 07:09] AjayKumar-MSFT commented on #87677
@jvannor, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-02-09 07:44] simoviljakainen opened #87710 "App Service snapshots update"
Are snapshots included now in standard tier (see the image below)? This documentation page might need updating.

![image](https://user-images.githubusercontent.com/24598806/153141842-23f17607-0589-4ea0-89f6-e28e2f75af5c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b16915a-cad2-3ac2-1949-488223a0195c
* Version I

[2022-02-09 08:11] diecknet opened #87712 "Linked YouTube Video is not about Azure Active Directory Activity Reports"
The embedded YouTube Video is not about Azure Active Directory Activity Reports. Instead it is about Azure Resource Activity Reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2763640f-ae78-a69e-0999-2863240dc2ff
* Version Independent ID: dd39081a-afd8-dda2-5a08-7cf54bab1fa4
* Content: [What are Azure Active Direc

[2022-02-09 08:16] diecknet commented on #84654
Looks good, thanks!

[2022-02-09 08:16] #84654 closed

[2022-02-09 08:17] ram-msft commented on #87683
@AsanFaraj Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-09 08:36] SnehaAgrawal-MSFT commented on #87710
@simoviljakainen Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-09 08:37] LANETLTD opened #87713 "missing space and missing FAQ guidance on where to create the Private DNZ Zone resource"
[Enter feedback here]
Hello there needs to be a space where is says "see" then a link. I think it was the last FAQ.

Also could you add a section on best practices on where to create the private DNZ zone resource ? I see customers creating them everywhere including networkwatcherrg.   For the same zone could you create multiple instances or just the one and link it to all networks ? that would mak

[2022-02-09 08:38] MayankBargali-MSFT commented on #87590
@Tiberriver256 You can refer to [this document](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Chttp#add-a-user-assigned-identity) on how you can add the user assigned identity. If you are looking for how to create the user assigned identity in azure then you can refer to [this document](https://docs.microsoft.com/en-us/azure/active-directory/managed-iden

[2022-02-09 08:40] SnehaAgrawal-MSFT commented on #87708
@evgeshka-ol Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-09 08:51] KranthiPakala-MSFT commented on #87608
We have assigned the issue to the content author to further evaluate and update the document as appropriate.

Thank you

[2022-02-09 08:58] Jeroen-VdB commented on #87599
Using `new StringEntity("test®", "UTF-8");` solves my problem.

Still don't know why the example did not work for me. Are the libraries I use different than the ones you use?
Nevertheless, I'm glad it is resolved now. Thank you for the information!

[2022-02-09 08:58] #87599 closed

[2022-02-09 09:04] alexs77 opened #87714 "Typo in table Extension versions"
In the table "Extension versions", the last line reads:

January 2021 | Syslog RFC compliance for LinuxFixed issue for Linux perf counters not flowing on restart | Not available yet | 1.15.2.0Hotfix
-- | -- | -- | --

That's probably wrong and should read: **January 2022**.

2022 vs. 2021

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-02-09 09:09] AnuragSingh-MSFT commented on #87599
@Jeroen-VdB, I am glad that the issue was resolved.

I used the following dependency.

[code]

I think the main reason for the same example to work on my system was that I used Maven which had the source encoding set to UTF-8. I *assume* that I did not need to pass "UTF-8" as parameter to StringEntity and it still worked.

`<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>`

[2022-02-09 09:23] vipulsparsh commented on #87418
@jreyes4949 The initial implementation of the password less allowed to select the numbers displayed, but the users who are added recently under will have to enter the number visible.

Are you finding the above pattern for older users and newer users to the policy ?

[2022-02-09 09:29] PriyankaRudramaina commented on #87630
Hi @jyama4ta,

I am checking internally with the product team to see if we can get the values for the specific series and update the document. I will keep you posted.

@vikancha-MSFT - Please review this and let us know if we can get the requested details here?

[2022-02-09 09:35] PriyankaRudramaina commented on #87628
Hello @dcbrown16,

I am validating this, I will get the document updated once I get the confirmation from the content author.

[2022-02-09 09:38] ImAbhishekTomar opened #87716 "Azure CosmsDB MongoApi - Shared Key issue"
Hi,

I am trying to assign a shared key that is inside "in_network[]" array but it's giving me an error.

**Error**

Tried -
- $.in_network.name
- $v.in_network.name
- in_network.name
- in_network..name

**JSON**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 950fb835-0873-318d-5da1-6753c2bd427b
* Version Indep

[2022-02-09 09:44] PriyankaRudramaina commented on #87464
Hello @darrenomalley

When you have an Azure Virtual Desktop (classic) deployment was known as WVD and an Azure Virtual Desktop(AVD) ARM deployment, you will see two apps with the same name. Then you need to select them both.
In your case you have only ARM deployment which is AVD. Hence you will select AVD and proceed. I will check with content author to see if we can change/add a better represent

[2022-02-09 09:48] PriyankaRudramaina commented on #87451
Hello @Shuanglu,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@zr-msft - Could you please review this and help further?

[2022-02-09 10:08] josejohny3 opened #87717 "Singleton orchestrators in Durable Functions is violating singleton behavior:"
![image](https://user-images.githubusercontent.com/99195253/153176428-771acc3f-69d3-43cc-8242-625fb47a3448.png)
jj
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5d6badc-f611-71ad-b167-aabfb95dc13f
* Version Independent ID: db5c72cb-648c-5009-7261-1ba55703c08e
* Content: [Singletons for Durable Functions - Azure](https

[2022-02-09 10:23] SuleymanA opened #87718 "App Service tutorial page refers to provisioning of SQL database"
I think this section is not correct, mentioning provisioning of SQL database as this article is about App Service:

_Deploy app to Azure
In this step, you deploy your SQL Database-connected .NET Core application to App Service._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Versi

[2022-02-09 10:39] vazhailravi opened #87720 "OMA URI Setting"
[Enter feedback here]
./Vendor/MSFT/Policy/Config/Authentication/AllowAadPasswordReset needs to be replaced with ./Device/Vendor/MSFT/Policy/Config/Authentication/AllowAadPasswordReset, The policy is applied only after apending with ./device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e93203

[2022-02-09 10:43] shashishailaj commented on #87712
@diecknet Thank you for catching this . We will investigate and update the thread.

[2022-02-09 10:45] AbbyMSFT commented on #82499
#reassign: @AaronMaxwell

[2022-02-09 10:46] AbbyMSFT commented on #82542
#reassign: @AaronMaxwell

[2022-02-09 10:46] AbbyMSFT commented on #82560
#reassign: @AaronMaxwell

[2022-02-09 10:47] AbbyMSFT commented on #82960
#reassign: @AaronMaxwell

[2022-02-09 10:47] AbbyMSFT commented on #83322
#reassign: @AaronMaxwell

[2022-02-09 10:48] AbbyMSFT commented on #83734
#reassign: @AaronMaxwell

[2022-02-09 10:49] AbbyMSFT commented on #84097
#reassign: @AaronMaxwell

[2022-02-09 10:49] AbbyMSFT commented on #85474
#reassign: @AaronMaxwell

[2022-02-09 10:51] AbbyMSFT commented on #86003
#reassign: @AaronMaxwell

[2022-02-09 10:52] AbbyMSFT commented on #86065
#reassign: @AaronMaxwell

[2022-02-09 10:52] AbbyMSFT commented on #86274
#reassign: @AaronMaxwell

[2022-02-09 10:53] AbbyMSFT commented on #86325
#reassign: @AaronMaxwell

[2022-02-09 10:54] AbbyMSFT commented on #86439
#reassign: @AaronMaxwell

[2022-02-09 10:55] AbbyMSFT commented on #86480
#reassign: @AaronMaxwell

[2022-02-09 11:10] vlad610 opened #87721 "Clarification on expected CPU spikes"
I have performed a few tests on unused Redis caches and noticed that the CPU can spike to almost 100% from time to time, despite the cache not being used. We are aware that the CPU is measured on the operating system level and there are low-priority, background processes (e.g. antivirus etc) that may spike CPU metrics from time to time, even though this should not affect the "Redis Server Load" me

[2022-02-09 11:15] Ozzian commented on #87592
Any ideas how to achieve this?

[2022-02-09 11:19] MayankBargali-MSFT commented on #87717
@josejohny3 Thank you for your feedback! We will review and update as appropriate.

[2022-02-09 11:33] AbbyMSFT commented on #82072
Hi @MonikaReddy-MSFT and @femsulu,
Following up on this issue. It has been open for a long time. Are we waiting for PM feedback? If so, is there someone else we need to assign it to?
Thanks,
Abby

[2022-02-09 11:34] AbbyMSFT commented on #84937
#reassign: @AaronMaxwell

[2022-02-09 11:39] AbbyMSFT commented on #79089
@noakup - I see that you removed the note discussed in this issue. Therefore, I am closing this done, and I am closing the issue.
#sign-off

[2022-02-09 11:40] AbbyMSFT commented on #79089
#please-close

[2022-02-09 11:40] #79089 closed

[2022-02-09 11:41] suganyas opened #87722 "Image upload in golang sample duplicated the region and name and all images end up having same Bounding box coordinates/region"
The golang implementation for tags (https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?tabs=visual-studio&pivots=programming-language-go#upload-and-tag-images) while adding the tags to respective images  with regions/bounding boxes in batch upload should not use loop variables but local ones or direct reference from map.

Issue detailed in

[2022-02-09 11:52] sunilgure opened #87723 "Wrongly documented deployment options for SQL MI"
Hi,
This seems to wrongly documented here.
Under the heading [vCore-based purchasing model]. Three options a) Gen5 Standard, b) Premium Series c) Premimum Series with memory optimized are documented under general purpose tier for SQL Managed Instance. This is wrong because these options ae not applicable to Aure SQL MI rather they are for Azure SQL Database only.

Can we correct his ASAP?

[vCore-

[2022-02-09 12:01] AnuragSharma-MSFT commented on #87721
@vlad610 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-09 12:03] AnuragSharma-MSFT commented on #87723
@sunilgure Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-09 12:05] sunilgure commented on #87723
It looks like these options are partially available in some selected regions but again it is not documented if that is the case.

[2022-02-09 12:11] assilabdulrahim commented on #87539
I just wanted to mention that the numbers of the recommendations are not
matching between the baseline and the benchmark in multiple places.
Is that because the baseline is not following the latest Benchmark V3 ?
Or maybe there is another reason ..
I was expecting in the example I provided *BR-3* to talk about the *same
concern* in both the Benchmark and the Baseline.

Am I mistaken in my observat

[2022-02-09 12:22] suabukha opened #87724 "I was using this PS since long time and it works perfect, recently when I tried to run the PS " Remove-AzVM -ResourceGroupName $resourceGroup -Name $vmName" I deleted the disk with the VM itself which is very risky, please have a look at this."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set using Azure PowerShell - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2022-02-09 12:56] camillesk commented on #29431
Same problem here, followed those instructions but the error continues

[2022-02-09 13:11] weltonrodrigo opened #87725 "Please provide real world example."
The example provided shows how to make a maps request using the CLI. Is it possible to show an example using a single page javascript application?

Also, if possible create the resources using az cli commands instead of templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd57d1cd-db76-b41e-cfc2-800f315ff27b
* Ver

[2022-02-09 13:29] g7crservice-sajid-f commented on #87561
@KrishnaG-MSFT this still not solved.

[2022-02-09 13:44] VinodSP1980 opened #87726 "The OMA URL doesnot work"
Hi, can you please check the below configuration? It does not work

OMA-URI set to ./Vendor/MSFT/Policy/Config/Authentication/AllowAadPasswordReset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
* Content: [Self-service

[2022-02-09 13:44] MohamedA-Ibrahim commented on #87280
@Karishma-Tiwari-MSFT Yes, the link appeared in the Recommended content section

[2022-02-09 13:45] Tiberriver256 commented on #87590
Thank you @MayankBargali-MSFT. All of that was well documented and easy to find. The question was after you do all of that, how do you get a ServiceBusTrigger to use a user-assigned managed identity?

A friend of mine pointed me to [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#common-properties-for-identity-based-connections) for the answer. I

[2022-02-09 13:53] joerg996 opened #87727 "Complete deployment deletion of AccessPolicy resources"
The docs say that keyvault accesspolicies are not affected by complete mode deletion. If I redeploy a keyvault without accesspolicies all the before existing accesspolicies are gone. Is the documentation not up to date or is this an ARM issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39a7b827-35ff-060d-55ea-591d6

[2022-02-09 13:55] mike-westaway opened #87728 "Troubleshooting 403 Errors"
If you receive a 403 (Authorization Error) response from the Postman calls, check that you have configured RBAC for the user.
For Azure RBAC, refer to the following:
https://docs.microsoft.com/en-gb/azure/healthcare-apis/azure-api-for-fhir/configure-azure-rbac

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-02-09 14:25] KrishnaG-MSFT commented on #87561
@g7crservice-sajid-f Apologies for the inconvenience caused.
Assigning this issue to content owner @mingshen-ms for visibility, review and document enhancement as required.

[2022-02-09 14:26] KrishnaG-MSFT commented on #87604
Assigning this issue to content owner @mingshen-ms for visibility, review and document enhancement as required.

[2022-02-09 14:26] brucelangston opened #87729 "Confusion of verb tense and parallelism"
This sentence confuses the action of configuring the export and what will happen as a result of that configuration.
"When configuring data export rules in Log Analytics workspace, new ingested data to selected tables in rules is exported to your Storage Account or to your Event Hubs as it arrives."

"When configuring..." could be "After you configure..."

---
#### Document Details

⚠ *Do not edit

[2022-02-09 14:28] KrishnaG-MSFT commented on #87310
Assigning the issue to content owner @awysza for visibility, review and document enhancement consideration as appropriate.

[2022-02-09 14:29] rollandjb opened #87730 "Recommendation for value of `SessionExpiryInSeconds` needs explanation"
The documentation states

"We recommend that you set the value of SessionExpiryInSeconds to be a short period (1200 seconds), while the value of KeepAliveInDays can be set to a relatively long period (30 days)"

The reason for the recommendation should be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9627f2f

[2022-02-09 14:46] dominic1904 opened #87731 "Problems with OAuth part"
Hello,

The configuration of SAML for the integration between SAP and NetWeaver with Azure Active Directory (Azure AD) is very clear. I have followed the steps and the SSO is working for those URLs in my SAP system. However, when it comes to OAuth, the testing part is missing. Is it possible to list out the steps on how to request the access token from the SAP system using Azure AD as the Idp? It

[2022-02-09 14:48] #87637 closed

[2022-02-09 14:48] #87643 closed

[2022-02-09 14:48] ram-msft commented on #87555
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-09 14:48] #87555 closed

[2022-02-09 14:50] KrishnaG-MSFT commented on #87729
@brucelangston Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-09 15:09] jwilliams45-aug commented on #87661
after looking at this more, the issue is that the tutorial assumes there are public IP addresses created when the VMs are created, but that is not the case.

[2022-02-09 15:10] SwathiDhanwada-MSFT commented on #87714
@alexs77 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-09 15:12] yossi-y commented on #87729
Thanks for you feedback and contribution. I've updated it to:

After configuring data export rules in Log Analytics workspace, new data for tables in rules is exported from Azure Monitor pipeline to your Storage Account or Event Hubs as it arrives.

Do you find it clearer?

Thanks again.

[2022-02-09 15:13] SwathiDhanwada-MSFT commented on #87727
@joerg996 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-09 15:15] SwathiDhanwada-MSFT commented on #83525
@keke8273 Apologies for late response on this. Can I know if you are still facing the issue? If so, kindly email to [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com) with subscription ID and a link to this thread with Subject as "Attn:Swathi".

I will work with you offline to resolve this issue. As there are no documentation changes. We will close the issue for now. If there are furthe

[2022-02-09 15:15] #83525 closed

[2022-02-09 15:15] #85763 closed

[2022-02-09 15:18] VadymPolianskyi opened #87732 "Solution is the instructions that solve the occurred problem."
It's not a solution. Currently, I have this problem and these preventing steps don't help at all because they should be executed before the problem happened, not after.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8358e2d-ceac-be2e-9591-8eb87dd760e5
* Version Independent ID: cde17f5d-13f7-8246-61b9-ee3f5e690f75
* Co

[2022-02-09 15:19] kimjamia commented on #40111
Any news on this? It's been over two years and Elastic Jobs are still in preview.

[2022-02-09 15:23] kimjamia commented on #35138
Are there any plans to support private endpoints? White-listing a bunch of data center IPs is a bit hackish and makes it impossible to use the "Deny public network access" setting.

[2022-02-09 15:44] TealDep opened #87734 "could you add more examples with pyspark"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29ae0a5-bdf3-7217-27ad-517af8c8e7e5
* Version Independent ID: 57139651-a482-7adc-ed0e-f401da63ef9f
* Content: [Quickstart - Manage data with Azure Cosmos DB Spark 3 OLTP Connector for SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/crea

[2022-02-09 15:52] JamesTran-MSFT commented on #87720
@vazhailravi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 15:53] JamesTran-MSFT commented on #87730
@rollandjb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 15:54] JamesTran-MSFT commented on #87731
@dominic1904
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 16:18] AbbyMSFT commented on #21354
Hi @dcbrown16, @bwren, @MeirMen,
This issue has been around for a very long time. Is it still relevant?
Thanks,
Abby

[2022-02-09 16:22] wintersteiger opened #87737 "Typo"
your-unique-keyvault-name -> your-unique-ledger-name

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffba32ba-d527-419f-ae4f-7984625843e5
* Version Independent ID: eb3c659d-380f-579e-1b83-8913e03e81af
* Content: [Quickstart – Microsoft Azure confidential ledger Python client library](https://docs.microsoft.com/en-gb/azu

[2022-02-09 16:22] JamesTran-MSFT commented on #87737
@wintersteiger
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 16:23] AbbyMSFT commented on #63988
Hi @vishiy
I see that this issue has been open for a very long time. Are you still experiencing this issue?
Thanks,
Abby

[2022-02-09 16:23] #87581 closed

[2022-02-09 16:26] AbbyMSFT commented on #81358
#assign: @yairgil

[2022-02-09 16:26] AbbyMSFT commented on #80168
#assign: @yanivlavi

[2022-02-09 16:29] KWinTie opened #87738 "Suppress redeem not working anymore?"
[Enter feedback here]

This text is either wrong or misleadning:
_This original method still works. However, there's a small difference in behavior. If you use PowerShell, you'll notice that an invited guest account now has a PendingAcceptance status instead of immediately showing Accepted._

If we follow the steps 1-3 using GUI (not powershell) I would expect that the invited user would show stat

[2022-02-09 16:31] davidsampson-hv opened #87739 "Mention limitation that user forests don't support trusts."
As per the Important Note in this article

https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-forest-trust

It would be good to mention the same limitation in this article as whilst the Azure AD to AADDS sync is mentioned in the description of the user forest mode it is not explicitly mentioned that trusts are not supported.

---
#### Document Details

⚠ *Do no

[2022-02-09 16:33] davidsampson-hv opened #87740 "Add FAQ regarding forests trusts in user forest vs resource forest mode"
As per the Important Note in this article

https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-forest-trust

It would be good to mention the same limitation in the FAQs. We have just been caught out by this limitation a long way into a project implementation and are going to need to redeploy AADDS or roll back to AD DS

---
#### Document Details

⚠ *Do not edit

[2022-02-09 16:39] #87718 closed

[2022-02-09 16:41] Kf-GaryNewport opened #87741 "Testing v4 Az Functions"
So, how do you test the v4 isolated azure functions that accept HttpRequestData objects ?
Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-gb/azure/

[2022-02-09 16:48] MarileeTurscak-MSFT commented on #87738
@KWinTie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 16:52] clhagler opened #87742 "Licensing Example Out of Date"
[Enter feedback here]

The Licensing examples on this page seriously confused my customer today.  The examples are based on the deprecated 1:5 model.  Need to update this example to the new MAU model.
- Clay Hagler  (US Dept of Energy Account Team)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-b

[2022-02-09 16:53] tejaswikolli-web commented on #73463
@Ahmad-Al-Ali, can you confirm if this is the article you are looking for?

 https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal

[2022-02-09 16:59] tejaswikolli-web commented on #84204
I have submitted a PR updating [the article ](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-registry/container-registry-get-started-docker-cli.md)with recommendations.

[2022-02-09 17:01] SumanthMarigowda commented on #87509
@pinyuko Firstly apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-09 17:06] SumanthMarigowda commented on #87522
@cataggar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-09 17:09] flang-msft commented on #86087
@ramya-rao-a, @yichungyu  You mentioned that the our documentation was not in sync with the sample . We updated this sample with the code from @philon-msft . Thanks for bringing this attention. Hopefully, this addresses your issue. If so, I will close issue.

[2022-02-09 17:14] amit12cool opened #87744 "The python example doesn't run"
I get below error:-
[code]

`    async def receive_message_handler(message):` is having async but `        client.on_message_received = receive_message_handler
` doesn't have await.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5

[2022-02-09 17:15] MarileeTurscak-MSFT commented on #87742
@clhagler
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 17:26] gorankuk opened #87746 "Document potentially missing feature: Improve application availability for private network access only"
Can you as well cover scenario when organization must prevent access from the public endpoints and to enable only access from the private network over express routes (that we know are regional services) where Traffic manager is non regional. If this is possible it will be very helpful to present  network diagram that will support this use-case.

---
#### Document Details

⚠ *Do not edit this secti

[2022-02-09 17:30] Aftabalamkhan120 opened #87747 "multi languages Email Template embededSample, hope this will helps"
Sample, hope this will helps
[code]

__Originally posted by @xantos008 in https://github.com/unlayer/react-email-editor/issues/28#issuecomment-841818083__

[2022-02-09 17:31] GeethaThatipatri-MSFT commented on #87734
Hi @rothja Thanks for your feedback, I'm assigning this to the author for the feedback review.

[2022-02-09 17:32] davidspiess opened #87748 "A sub journey should not call another sub journey"
The documentation states

`A sub journey should not call another sub journey.`

The reason for this note should be provided. I tried it in a custom policy and it seems to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa334514-803c-a2dc-3a05-af10070c46d4
* Version Independent ID: aa2ebc9b-bb2a-1fae-1f24-5494acc07

[2022-02-09 17:32] JamesTran-MSFT commented on #87748
@davidspiess
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 17:41] roygara commented on #87509
@pinyuko Thanks for bringing this to our attention, we appreciate it! We've staged the content update and it'll be live later today.

Accordingly, I'll close this out.

Thanks again! :)

#please-close

[2022-02-09 17:42] #87509 closed

[2022-02-09 17:51] shudson302 opened #87749 "Is literally all of this documentation Deprecated?"
None of these UI elements exist in the portal or DataFactory studio.  Is there new documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9acff2-c792-d606-43bc-12f1b4351985
* Version Independent ID: 1ea0d7f4-5407-3506-5117-37e7c058f016
* Content: [Move data - Data Management Gateway - Azure Data Factory](https

[2022-02-09 17:54] GeethaThatipatri-MSFT commented on #87521
I'm assigning this to the author for the feedback review.

[2022-02-09 17:59] GeethaThatipatri-MSFT commented on #87728
Hi @mike-westaway Thanks for your findings,We will investigate and update as appropriate

[2022-02-09 18:05] JamesTran-MSFT commented on #87726
@VinodSP1980
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Related Issue:** https://github.com/MicrosoftDocs/azure-docs/issues/87720
`./Device/Vendor/MSFT/Policy/Config/Authentication/AllowAadPasswordReset`, The policy is applied only after apending with ./device.

I will now close out this issue.

[2022-02-09 18:05] #87726 closed

[2022-02-09 18:05] JamesTran-MSFT commented on #87720
@vazhailravi
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-09 18:05] #87720 closed

[2022-02-09 18:11] JamesTran-MSFT commented on #87737
@wintersteiger
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-09 18:11] #87737 closed

[2022-02-09 18:19] himanshusinha-msft commented on #87749
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-02-09 18:21] #87739 closed

[2022-02-09 18:21] wyy511511 opened #87753 "When I want to download/clone the code of this project, the GitHub remind me that Page not found. Could you please upload the proper version for this doc? thx"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196-870b-760f-94a97ae437e8
* Content: [Deploy an ASP.NET Core and Azure SQL Database app to Azure App Service - Azure App Service](https://docs.microsoft.com/en-us/azure/app-serv

[2022-02-09 18:21] himanshusinha-msft commented on #87732
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-02-09 18:21] kobulloc-MSFT commented on #87624
@dcbrown16 It appears that there was a table here that was removed on May 31st, 2020.  I'm including the legacy CUDA information below and following up to see what the current information is.

**Distribution**

- Ubuntu 16.04 LTS, 18.04 LTS
- Red Hat Enterprise Linux 7.3, 7.4, 7.5, 7.6
- CentOS-based 7.3, 7.4, 7.5, 7.6, CentOS-based 7.4 HPC

**Driver**
NVIDIA CUDA 10.1, driver branch R418

[2022-02-09 18:22] JamesTran-MSFT commented on #87740
@davidsampson-hv
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 18:27] Aftabalamkhan120 opened #87754 "GitHub build pull projects from Microsoft software development tools visual studio"
GitHub build pull projects from Microsoft software development tools visual studio

__Originally posted by @Aftabalamkhan120 in https://github.com/Aftabalamkhan120/FASZA/issues/1__

[2022-02-09 18:30] erishiamu opened #87755 "Lack of clarity with 'Company branding shown on My Apps' or the extent of customization of the page view in general."
Under [How is the My Apps portal used?](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/my-apps-deployment-plan#how-is-the-my-apps-portal-used) / Administrators can configure:, the final bullet is "Company branding shown on My Apps"

It is unclear how this is done or what is meant by 'branding'. We are able to apply, for example, custom backgrounds and icons to the sign-in expe

[2022-02-09 18:30] ChaitanyaNaykodi-MSFT commented on #87713
Hello @LANETLTD
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-09 18:31] JamesTran-MSFT commented on #87755
@erishiamu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 18:31] ChaitanyaNaykodi-MSFT commented on #87746
Hello @gorankuk
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-09 18:47] SadiqhAhmed-MSFT commented on #87626
![image](https://user-images.githubusercontent.com/44458118/153268966-ec703f51-99e7-4c5c-8fd7-2ae7e100adbd.png)

Doc: https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-sharepoint#site-recovery-support

Hope this answers your question!

[2022-02-09 18:49] tejaswikolli-web commented on #81128
Created PR for updating the information on NOTARY_VERSION_ERROR

[2022-02-09 18:53] VikasPullagura-MSFT commented on #87534
@sadatnfs Can you please confirm if you are using [Azure Files Container Storage Interface (CSI) drivers in Azure Kubernetes Service (AKS) ](https://docs.microsoft.com/en-us/azure/aks/azure-files-csi)

[2022-02-09 18:56] tfitzmac commented on #87727
@joerg996 - It looks like accesspolicies is both a property on the keyvault and a separate resource type. Was your existing accesspolicies implemented as a separate resource?

[2022-02-09 18:57] #87422 closed

[2022-02-09 18:57] kovacspro opened #87756 "Important FQA question missing"
What happens if change the db recovery modell SIMPLE to FULL?

I tried, and Azure backup for SQL cannot change their mechanism, creates only FULL backups and no log backups.
On backup item page, portal say: "This database is in SIMPLE recovery model. Log backup for databases in SIMPLE recovery model is not supported by SQL Server."
But the database in FULL recovery modell.
---
#### Document Detail

[2022-02-09 19:00] #87748 closed

[2022-02-09 19:08] sadatnfs commented on #87534
Closing this after checking internally since this isn't necessarily a doc issue

[2022-02-09 19:08] #87534 closed

[2022-02-09 19:10] tejaswikolli-web commented on #80878
#please-close.

There is a backlog work item for this request

[2022-02-09 19:10] #80878 closed

[2022-02-09 19:21] gvanteylingen opened #87758 "Incorrect limit"
Number of IPs in a VNet (including immediately peered VNets) accessing volumes in an Azure NetApp Files hosting VNet should say 1000, not 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-80b5-3df2a180a5e9
* Version Independent ID: 72abc701-095f-3f2f-b35c-0161e4980c1e
* Content: [Resource limits for

[2022-02-09 19:21] MartinJaffer-MSFT commented on #87749
Hello @shudson302  , you were looking at Version 1 of Data Factory documentation.  Version 1 and Version 2 of Data Factory are so different as to nearly be different products.  Version 1 is being deprecated / phased out.  Version 2 is current.
![image](https://user-images.githubusercontent.com/46612670/153274596-a773f42f-58c4-4d6a-a7e7-0820a776e321.png)

Does this answer your question?

[2022-02-09 19:30] kgremban commented on #87744
@konichi3 Can you take a look at this? It may be a result of the recent Python SDK changes.

[2022-02-09 19:36] b-hchen commented on #87758
@gvanteylingen - Thanks, Geert.
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/188111

[2022-02-09 19:44] ElanShudnow opened #87760 "Clarification Needed"
I think the following statement needs to be clarified:
For non-Virtual Machine Scale Set deployments - For every 20 VMs that you create concurrently, we recommend you keep one replica. For example, if you are creating 120 VMs concurrently using the same image in a region, we suggest you keep at least 6 replicas of your image.

The reason is because you can choose between Standard_LRS, Premium_LRS,

[2022-02-09 19:45] b-hchen commented on #87758
PR has been merged for publishing.

#please-close

[2022-02-09 19:45] #87758 closed

[2022-02-09 19:51] tfitzmac commented on #87727
I ran a test and noticed that even if a deploy accesspolicies as a separate resource, it gets added to the array property on the keyvault. So, redeploying that keyvault without the same accesspolicies would be interpreted as an update. I'll update the docs to reflect this case.

[2022-02-09 20:05] AbbyMSFT commented on #86365
#assign: @rishabjolly

[2022-02-09 20:05] AbbyMSFT commented on #86064
#assign: @cartersocha

[2022-02-09 20:37] shudson302 commented on #87749
Yes it does.  Thank you!

[2022-02-09 20:44] Kiwi-dave opened #87764 "Missing AD DS Identity character length restriction."
When following "Option two: Manually perform the enablement actions" there is a character length restriction on the name of the user/computer account that is created in Active Directory. This limitation is not mentioned in the documentation.

If you create a user with a name longer than the character length restriction you can still connect the storage account to active directory but all attempts

[2022-02-09 20:51] #87749 closed

[2022-02-09 20:52] RyanHill-MSFT commented on #87753
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-09 20:58] alexwolfmsft commented on #87753
This has been fixed with this PR:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/188102

[2022-02-09 21:00] ThomasWeinm opened #87765 "Why are device extension attributes are not supported for dynamic rules? Will it come?"
ExtensionAtributes1-15 are supported for dynamic user groups.  However those attributes are not supported for creating dynamic device groups even they are available and can be updated by graph-api.
On the other hand device extension attributes can now be used for device filters in [Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-condition-filt

[2022-02-09 21:00] ChaitanyaNaykodi-MSFT commented on #87754
Hello @Aftabalamkhan120, we monitor this channel for documentation enhancements and bugs. Can you please elaborate more on the issue faced and provide a link for the documentation referred? Thanks

[2022-02-09 21:01] #87753 closed

[2022-02-09 21:02] ChaitanyaNaykodi-MSFT commented on #87747
Hello @Aftabalamkhan120, we monitor this channel for documentation enhancements and bugs. Can you please elaborate more on the issue faced and provide a link for the documentation referred? Thanks

[2022-02-09 21:11] rod-trent opened #87767 "Workbook errors..."
According to reports, the Azure Firewall workbook is producing errors. Documented by a customer here:  https://www.cryingcloud.com/blog/2022/2/9/fixing-azure-firewall-monitor-workbook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33d915e4-ebc4-3ccf-a779-4a149cb81fd9
* Version Independent ID: 5e85052e-aeed-4b77-f818-23

[2022-02-09 21:12] JamesTran-MSFT commented on #87765
@ThomasWeinm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 21:23] ChaitanyaNaykodi-MSFT commented on #87716
Hello @ImAbhishekTomar
Thank you for your feedback! We will review and update as appropriate.

[2022-02-09 21:27] willcotton-msft opened #87768 "Data classification roles are unclear for Synapse"
This page is listed as applying for Synapse, but there are two problems under the permissions section that I can see:

- First, the built-in role SQL Security Manager does not apply to Synapse since the object does not contain a logical SQL server that is modifiable by the user. As a result, that role will not appear for users when trying to modify RBAC permissions for the workspace. The only work

[2022-02-09 21:39] sebastianstephan commented on #85849
Please clarify. I also want to understand, if it is possible to onboard a VM on Update Management and have it reported its logs/metrics to a second log analytics workspace or sentinel as well.

Did you find a solution @joataid  ?
Any updates on the clarification @SGSneha ?

[2022-02-09 21:41] chaisen2006 opened #87769 "Mutual TLS in App Service"
When I try to do mutual TLS in Azure App Service , and my client certificate is not a certified CA - can I in any way add my client certificate Root CA to the app service Trust Store ? ( not with ASE option )

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502

[2022-02-09 21:43] ShuningTong commented on #87454
Is there any update on this?

How can I put it back to resolver side?

[2022-02-09 21:44] tejaswikolli-web commented on #73463
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity

App services support both the service principle and managed identity. I hope this answers your question.

#please-close

[2022-02-09 21:44] #73463 closed

[2022-02-09 21:45] tamram commented on #85937
@buddolla-suresh - The error you're getting suggests a problem with your PowerShell installation. Can you uninstall the Azure PowerShell module and reinstall (by running Install-Module -Name Az), then try again?

[2022-02-09 21:46] RaymondBorbon commented on #87690
That is very clear. Thank you

[2022-02-09 21:46] #87690 closed

[2022-02-09 21:47] asudbring commented on #87454
Hi @ShuningTong
Those screenshots look like it's setup properly.  IIS is installed on the VMs?  I would say if you still can't get it to work, it might be something with your subscription or your configuration.  A support ticket would probably be your next best step.
Thanks!

[2022-02-09 22:01] zen-jsandford opened #87770 "Update Documentation"
Hello! It looks like some of the screenshots and documentation on this page are out of date. Could it be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6ca
* Version Independent ID: 1d3d0543-89f7-180a-e52a-b5668a314e6a
* Content: [Tutorial: Azure Active Directory integration wi

[2022-02-09 22:04] jjcv2304 opened #87771 "Class reference not available"
There is a paragraph that says:

![image](https://user-images.githubusercontent.com/14250648/153297142-b64ff687-8693-48e5-a813-2fa02d3ff006.png)

The mentioned class _**ControllerConstant.cs**_ doesn't seem to exists, neither the path _**AzureADProvisioningSCIMreference > ScimReferenceApi > Controllers**_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-02-09 22:07] stambunan opened #87773 "Update note to state app service plans with a different OS will be in a different webspace"
We encountered an issue recently where we wanted to have a certificate that's in a `resource-group-1`, `Australia Southeast`, and `Windows` webspace added to an app service in `resource-group-1`, `Australia Southeast`, and `Linux` webspace.

This didn't work and we weren't sure why it wouldn't work as the documentation didn't mention that different OS would be bound to a different webspace.

Can w

[2022-02-09 22:12] MarileeTurscak-MSFT commented on #87770
@zen-jsandford
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-09 22:34] Grace-MacJones-MSFT commented on #87769
Hi @chaisen2006 , Thank you for the question. We are currently investigating and will update you when we have accurate information to provide.

[2022-02-09 22:44] tkent commented on #84844
@EldertGrootenboer I appreciate the direct response. For the moment, it appears customers subject to things like HIPPA or PCI-DSS have the following options:

1. Mitigate the risk themselves (e.g. dedicated namespaces, frequent key rotations using a lambda, network controls, etc).
2. Be a bit hand-wavy when a QSA asks to see how the service bus configurations don't use shared keys and enforce the

[2022-02-09 22:52] cjfjones opened #87776 "Use of Azurite with windows-latest build pipelines"
I can see how this can be used in linux pipelines in DevOps, however I cannot get my windows-latest pipeline to spin up the Azurite service correctly. Can the guide be updated to reflect both?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58777c8b-2d30-d784-43b3-54347f3dc892
* Version Independent ID: 431ece30-0d52-1d2

[2022-02-09 22:56] James-Hamil-MSFT commented on #87771
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-02-09 23:07] MarcosMMartinez opened #87787 "Users need to be made aware of Pod Identity V2 within the Pod Identity V1 documentation."
Customers needs to be made aware of https://azure.github.io/azure-workload-identity/docs/introduction.html -- in the following section:

![image](https://user-images.githubusercontent.com/29489962/153305679-ec613507-d0d6-4dcc-9172-dfaffd81fe20.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-

[2022-02-09 23:10] Karishma-Tiwari-MSFT commented on #87724
Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-09 23:13] gitkmeunier opened #87788 "Azure Integration with OrgChart Article Outdated"
Hello,
My name is Kimmie, and I'm the Product Manager at OrgChart Now.
The article below is years out of date, and has been confusing for Azure AD customers looking to integrate with OrgChart Now.
I have updated [documentation that is available on our site](https://help.orgchartnow.com/en/topics/sso-configuration/azure-active-directory.html). I'm happy to update this documentation here, but I want

[2022-02-09 23:17] Karishma-Tiwari-MSFT commented on #87725
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-09 23:25] shossain321 opened #87789 "Azure AD Connect sync: Understanding Users, Groups, and Contacts"
[Enter feedback here]

Can you please below line at the Groups section after verifying with my TA

Group do not sync when member is in public folder
We do not sync public folder as group member
by design bad group member does not export

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af61cbd-0ade-e458-e674-c15971b05c05

[2022-02-09 23:32] dcbrown16 commented on #21354
@AbbyMSFT well the Networking Analytics solution is deprecated in my understanding. I think the sentiment would now apply to the Network Insights page here.
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/network-insights-overview
That page references Network Watcher a couple of times, but the high-level relationship between Network Insights and Network Watcher is unclear to me.
If w

[2022-02-09 23:34] JamesTran-MSFT commented on #87789
@shossain321
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-09 23:39] ElectricLlama opened #87790 "Does not integrate natively with CI/CD"
Guys I disagree with this statement:

For example.

1. Implement new CI/CD Process. Specifically this means use source code from the *collabaration* branch, not the *adf_publish* branch
2. Add a global parameter, ticking "Include in ARM template"
3. Use that global parameter in a pipeline
4. Save Data Factory

What happens:

-Data factory is saved to collabaration branch
-Global parameters are _no

[2022-02-09 23:42] ioapan opened #87791 "Authentication failed on git download"
Can't download
fatal: Authentication failed for 'https://github.com/Azure-Samples/msdocs-app-service-sql-db-dotnetcore.git/'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df55b676-8ff7-1470-3525-d0edfd406af6
* Version Independent ID: ac264c26-7196-870b-760f-94a97ae437e8
* Content: [Deploy an ASP.NET Core and Azure SQL

[2022-02-09 23:45] markjbrown commented on #87645
Hi @AnuragSharma-MSFT Another PM on our team went and did this update before I could tell them you had made a PR. Feel free to close your PR this is now resolved.

Thanks for all your help!!!

#please-close

[2022-02-09 23:45] #87645 closed

[2022-02-09 23:47] alexwolfmsft commented on #87791
This will be fixed in an upcoming PR.  The correct repository URL is:
https://github.com/Azure-Samples/msdocs-app-service-sqldb-dotnetcore

[2022-02-09 23:55] dulfe opened #87792 "Incorrect setup instruction in the Readme file"
The Readme file instructions do not work, links do not work like in Step 3, the current documentation does not have instructions about Web API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976c73ce-6915-43a0-d862-2c05465341f8
* Version Independent ID: f4f562c1-8a77-4e36-4815-14533492e52d
* Content: [Quickstart: Set u

[2022-02-10 00:13] dcbrown16 commented on #83000
@GitaraniSharma-MSFT @gsilva5 can you get in touch with me internally at v-dibr? I can't find gsilva's email.
I am in support and we continue to receive cases confused about the Portal option since the doc doesn't cover it.

[2022-02-10 00:15] MarileeTurscak-MSFT commented on #87792
@dulfe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-10 00:20] emuench commented on #84897
We added several user-requested clarifications to [Test a Virtual Machine image](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test) to improve the VM image testing experience. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing!

[2022-02-10 00:37] n3wt0n commented on #42614
Hi, can we have an official answer here? Can any Azure VPN PM check and let us know if using B2B accounts to authenticate to the VPN is **officially supported**?

Thans

[2022-02-10 00:38] micrileyatx opened #87795 "Missing HREF for signing up for AAD-P1 via existing Azure???"
In the "Sign up using your existing Azure" section, the text reads like it is pointing you to a more detailed walkthrough - but doesn't point to anything...  Specifically "see How to Purchase Azure Active Directory Premium - New Customers"  <-- (that "see ____" doesn't link to anything, nor does that name/text seem to match an existing section title)

(and I honestly don't see how I/a-customer pur

[2022-02-10 01:14] SatishBoddu-MSFT commented on #87725
Hello @weltonrodrigo
I have assigned the issue to the content author for further review.

[2022-02-10 01:41] msjuergent commented on #87677
Thanks a lot for pointing this out. The PR with the change just merged. Thanks a lot

[2022-02-10 01:49] SadiqhAhmed-MSFT commented on #87756
@kovacspro Thank you for your post. We will review the content with the owners and update as appropriate.

[2022-02-10 02:02] JamesTran-MSFT commented on #87795
@micrileyatx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-10 02:15] davidsmatlak commented on #85238
Product team responded and will provide instructions to register a resource provider in a new subscription.

[2022-02-10 02:49] ladykraken opened #87799 "Share via GitHub.com/ladykraken"
Skip to main content
Power BI

MICROSOFT SOFTWARE LICENSE TERMS
MICROSOFT POWER BI FOR ANDROID

These license terms are an agreement between Microsoft Corporation (or based on where you live, one of its affiliates) and you. Please read them. They apply to the software named above, which includes the media on which you received it, if any. The terms also apply to any Microsoft

    updates,
    sup

[2022-02-10 02:49] MayankBargali-MSFT commented on #87741
@Kf-GaryNewport Thank you for your feedback! We will review and update as appropriate.

[2022-02-10 02:50] davokr opened #87800 "Clarification on "Preview resources" during Network Group creation in Azure Virtual Network Manager"
Seems like the "Preview resources" button never resolves regardless of JSON query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfa2faa6-1cee-ca5f-bc66-43be917dcb81
* Version Independent ID: a6ec5ae9-a890-be51-10a9-c94cc15fa244
* Content: [Excluding elements from dynamic membership in Azure Virtual Network Manager (P

[2022-02-10 03:15] kudlatiger opened #87801 "You're not eligible for an Azure free account"
What I have done!!

Step 1: Created "outlook" account  -
Step 2: used it to create Azure FREE subscription
Step 3: Provided credit card and personal information
Step 4: Now unfortunately "forgot outlook" password!!!  my bad
Step 5: created new "outlook" account
Step 6: provided same credit card and personal information

I am getting "You're not eligible for an Azure free account"

I tried all poss

[2022-02-10 03:32] Tanner-Tran opened #87802 "[Azure SQL Database] Charged for using Basic plan instead of S0 plan"
Hi if you use Basic for a SQL database you incur charges even though you are technically using LESS resources than are allotted for the free service. It appears you have to specifically use Standard S0 to avoid getting charged which doesn't really make any sense.

[2022-02-10 03:49] Tanner-Tran commented on #87802
https://docs.microsoft.com/en-us/answers/questions/189570/azure-for-students-and-free-250-gb-sql-database.html

[2022-02-10 03:51] AjayKumar-MSFT commented on #87773
@stambunan, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-10 03:51] saurabhvartak1982 opened #87803 "Screenshot in point no. 3 under "Create an experiment" is that of AKS"
Screenshot in point no. 3 under "Create an experiment" is that of AKS. It will be nice if it is more relevant to VM for better continuity.

Regards, Saurabh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ba592e9-492a-0217-3a99-ddd9357e6f1f
* Version Independent ID: 77f3003e-5f61-81ed-0d4a-644c8b7a589a
* Content: [Crea

[2022-02-10 03:59] MayankBargali-MSFT commented on #87460
@Robin2626 MicrosoftDocs Github issue is mainly related to the document issue. The best place for specific answers about implementations/troubleshooting/errors is [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of iss

[2022-02-10 03:59] #87460 closed

[2022-02-10 04:03] PriyankaRudramaina commented on #87760
Hi @ElanShudnow

Thanks for your question. We are checking on this and will respond to you soon.

[2022-02-10 04:09] AjayKumar-MSFT commented on #87801
@kudlatiger,  Thanks for posting the question here!

You may create a free support ticket to work with our subscription team.
- You have the option to create a subscription management support request in the [Azure portal](https://portal.azure.com/) even if your subscription has not yet been created.
-https://azure.microsoft.com/support/create-ticket/

Checkout this FAQ https://azure.microsoft.com/

[2022-02-10 04:37] vipulsparsh commented on #87418
@jreyes4949  Thanks for confirming. Entering the number is more secure than choosing a number among 3 numbers, and that is why the new behavior was introduced. Thanks again

[2022-02-10 04:37] #87418 closed

[2022-02-10 04:48] SwathiDhanwada-MSFT commented on #87377
@jcetina That's really good feedback.  I would recommend you to navigate [here](https://feedback.azure.com/d365community/forum/675ae472-f324-ec11-b6e6-000d3a4f0da0#) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of your suggestion to raise visibility and priority on it.

As there are no further documentation changes, we will cl

[2022-02-10 04:48] #87377 closed

[2022-02-10 05:07] trask commented on #87563
for Application Insights Java, we do officially support using preview features in prod. however we don't guarantee that preview features won't be dropped or undergo significant changes in future releases. sampling overrides has been a very popular feature, so we are not going to drop it. the main risk currently is that the OpenTelemetry attributes on which it is built have not been declared stable

[2022-02-10 05:18] AnuragSharma-MSFT commented on #87768
@willcotton-msft Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-10 05:22] AnuragSharma-MSFT commented on #87802
@Tanner-Tran Thanks for your query. GitHub forum is primarily used for queries related to Microsoft document/articles. Could you please provide the url if you are referring to any article? If this is just a technical question, I would request you to reach out to Microsoft Q&A forum.

[2022-02-10 05:35] PriyankaRudramaina commented on #87628
Hello @dcbrown16,

I have verified this with content author, and yes, your understanding is correct however, we won’t update the "Applies To" section quite yet. We are in the process of overhauling the VM and VMSS table of contents (and articles) to better reflect the direction of Flexible VMSS, Uniform VMSS, and VM content.
This article has a section for scale sets and it was specifically written

[2022-02-10 05:35] #87628 closed

[2022-02-10 05:37] mariusraileanu opened #87808 "Broken Link"
There is a broken link - https://docs.microsoft.com/en-us/data-factory/data-flow-assert.md
It's a Hyperlink under Data Integration -  "Assert transformation in mapping data flow article"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8972d2-1aa1-05fb-d9ea-8a3ef322cebf
* Version Independent ID: d390905a-874f-884e-683b

[2022-02-10 05:40] SadiqhAhmed-MSFT commented on #87756
@v-amallick For visibility

[2022-02-10 05:46] SadiqhAhmed-MSFT commented on #87610
@frkr We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-02-10 05:46] #87610 closed

[2022-02-10 05:50] kulkarnisonia16 commented on #82452
Hi Manish - thank you for this issue. Few questions -
1. Why are you using App service deploy task to deploy function app? There is a Function App deploy task available and that is recommended.
2. Can you confirm that you are deploying .NET function app to Windows Consumption plan?
3. What is your intent to doing step #4?

cc- #patelchandni

[2022-02-10 05:50] dcbrown16 commented on #87628
Sounds good, thanks for confirming!

[2022-02-10 06:23] joerg996 commented on #87727
@tfitzmac I deployed accesspolicies as a resource.

[2022-02-10 06:36] ShaikMaheer-MSFT commented on #87437
@rjitprof Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-02-10 06:44] ShaikMaheer-MSFT commented on #87790
@ElectricLlama Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-10 06:53] SumanthMarigowda commented on #87764
@Kiwi-dave Thanks for the question! We are investigating and will update you shortly.

[2022-02-10 06:54] SumanthMarigowda commented on #87776
@cjfjones Thanks for the question! We are investigating and will update you shortly.

[2022-02-10 06:55] ShaikMaheer-MSFT commented on #87808
@mariusraileanu Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-10 07:19] Aoloa-dev commented on #87641
@GiftA-MSFT Thank you for you comment, Any updates?

[2022-02-10 07:35] AnuragSharma-MSFT commented on #87688
@questsin Thanks for your patience. Yes currently the UDFs are supported just for SQL API, sorry for the inconvenience. However you can submit the feature feedback and product team can review it accordingly.

https://feedback.azure.com/d365community/post/

[2022-02-10 07:35] suabukha commented on #87724
Here you go: Change a VMs availability set using Azure PowerShell - Azure Virtual Machines | Microsoft Docs<https://docs.microsoft.com/en-us/azure/virtual-machines/windows/change-availability-set>

Thanks,
Suliman Abu Kharroub

Support Engineer
Microsoft Azure Technical Support CSS
Office: +962 (6) 5504290
Mobile: 0096279660321
***@***.******@***.***>
9 AM - 6 PM UTC+2 Sun-Thu
***@***.***
﻿ If you

[2022-02-10 07:36] SreejaBhattacharya-MSFT commented on #87787
Hello @MarcosMMartinez ,
Thank you for reaching out.

@miwithro
Can you please check and add your comments on the product roadmap update request?

[2022-02-10 07:37] KrishnaG-MSFT commented on #87799
@ladykraken [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the f

[2022-02-10 07:38] Bob-Bradley opened #87809 "Meta data "Tutorial: Configure Workday for automatic user provisioning with Azure Active Directory" is indistinguishable from the Azure provisioning option"
[Enter feedback here]

I've noticed when pasting a link to this page (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial) that I get the misleading text "Tutorial: Configure Workday for automatic user provisioning with Azure Active Directory | Microsoft Docs" which is indistinguishable from the alternative (CLOUD ONLY) option (https://docs.microsoft.com/en-u

[2022-02-10 07:48] AnuragSharma-MSFT commented on #87705
@questsin This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-10 07:53] CribberSix commented on #86688
I received the same error and I tried pretty much about anything I could think of - reinstalling VSCode, Python versions 3.10, 3.9, 3.8, installing jupyter manually into the virtualenv... I even downgraded the extension "Spark & Hive Tools" to 1.1.15, but to no avail.

[code]

[2022-02-10 07:54] hemanthmatam opened #87810 "getting error while following this Doc : https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-vnet#create-the-image"
Hi Team,

I'm creating a New custom Image by following this Doc
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-vnet#create-the-image

There is a command to create a templete:

New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup -TemplateFile $templateFilePath -api-version "2020-02-14" -imageTemplateName $imageTemplateName -svclocation $location

but

[2022-02-10 07:56] hemanthmatam commented on #87810
Hi Team,

I'm creating a New custom Image by following this Doc
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-vnet#create-the-image

There is a command to create a templete:

New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup -TemplateFile $templateFilePath -api-version "2020-02-14" -imageTemplateName $imageTemplateName -svclocation $location

but

[2022-02-10 08:40] rpilot opened #87811 "Fail back for VMware VMs migrated to Azure"
Please check the migration section: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-common-questions#can-i-use-site-recovery-to-migrate-vmware-vms-to-azure
It says that "...you can't fail back from Azure", but I'm not aware of any blockers that prevents fail back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-02-10 08:43] SnehaAgrawal-MSFT commented on #87490
@axc450 Sure, Thanks for clarification! Suggest you to share your feedback by creating a [Feedback item](https://feedback.azure.com/d365community/forum/b09330d1-c625-ec11-b6e6-000d3a4f0f1c) and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they information they can currently share.

We

[2022-02-10 08:43] #87490 closed

[2022-02-10 08:55] SnehaAgrawal-MSFT commented on #87533
@krispenner Just checking if you chance to see recent response of @madsd ? Let us know.

[2022-02-10 08:58] SnehaAgrawal-MSFT commented on #87565
@softlion Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-10 08:58] amit12cool commented on #87744
Also If I add `await`  in this line `client.on_message_received = receive_message_handler` the messages are never received on the Input queue. And If I remove they are.

[2022-02-10 09:19] jeffyeh commented on #34672
Still not seeing the pricing information for VPN Gateway in Standard/ High Performance.

[2022-02-10 09:35] fschmied commented on #39508
Linking https://github.com/Azure/AKS/issues/1569 as it asked the same question and is currently ranked higher on Google.

@jluk @TomGeske Could you please link back from that issue to this comment here: https://github.com/MicrosoftDocs/azure-docs/issues/39508#issuecomment-657981707 ? The comment explains exactly how to do the attaching in ARM. (I cannot comment on that issue myself as it has been

[2022-02-10 09:37] Liubaituo opened #87813 "Python how to printf Live Metrics? I use is sdk it show Not available: your app is offline or using an older SDK!!!!"
I use  python sdk to use Azure monitor ,beside  live monitor others show ok. I click Live metrics model  it show "Not available: your app is offline or using an older SDK" but I use SDK opencensus-ext-azure==1.1.0.  python sdk Can't print this live monitor Info???
 Can you give me some help？

[2022-02-10 09:43] KrishnaG-MSFT commented on #87602
@andrePKI Thanks for bringing this to our notice! Microsoft.HybridConnectivity resource provider should be part of the prerequisites hence product team has added it to [this](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-overview) document but was missed to add in [this](https://docs.microsoft.com/en-us/azure/azure-arc/servers/learn/quick-enable-hybrid-vm#register-azure-resource-p

[2022-02-10 09:43] #87602 closed

[2022-02-10 09:43] KrishnaG-MSFT commented on #87603
@andrePKI Thanks for bringing this to our notice! Microsoft.HybridConnectivity resource provider should be part of the prerequisites hence product team has added it to [this](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-overview) document but was missed to add in [this](https://docs.microsoft.com/en-us/azure/azure-arc/servers/learn/quick-enable-hybrid-vm#register-azure-resource-p

[2022-02-10 09:43] #87603 closed

[2022-02-10 10:29] SadiqhAhmed-MSFT commented on #87811
@rpilot Thank you for your post.

If you are replicating your on-premise VMware VMs(V2A) to Azure using Azure Site Recovery (ASR), you will be able to perform, failover and failback operations. However, if you migrate your V2A VMs to Azure, you will not be able to perform failback. Because migration is one-time operation, where in you move your VMs to Azure permanently.

![image](https://user-imag

[2022-02-10 10:35] SadiqhAhmed-MSFT commented on #87756
@kovacspro Checked with the concerned team, we need your subscription ID and SQL Machine details for further investigation. Please send us an email at AzCommunity @ Microsoft dot com with subject: Attn: Sadiqh Ahmed with your subscription ID and a link to this forum thread for context.

[2022-02-10 11:12] cpinotossi opened #87815 "multiple cookies"
Could you explain how to best match on a certain cookie value?

[2022-02-10 11:23] shashishailaj commented on #87809
@Bob-Bradley Thank you for your inputs . We will investigate and update the thread.

[2022-02-10 11:30] angusrw opened #87816 "Stored Procedure implementation of Partial Update isn't clear / doesn't work"
Is patchDocument already defined or do we need to define it in the stored procedure?

Either way (whether I define patchDocument in the stored procedure or not), I get the following error:

`ReferenceError: 'validateDocumentLink' is not defined`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3033ce85-b59b-f399-8348-04d

[2022-02-10 11:43] midhun-mohan opened #87817 "Type Error in API Microsoft.Insights diagnosticSettings ( contrary to the documentation )"
Hello,

As per the [document](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2021-05-01-preview/diagnosticsettings?tabs=bicep#diagnosticsettings-1) here,
the property _properties.eventHubAuthorizationRuleId_ in  Microsoft.Insights/diagnosticSettings API is "The resource Id for the event hub authorization rule." But this is not true. it is expecting authorization rule of  an ev

[2022-02-10 11:45] vlad-ion opened #87818 "ADLS Gen1 for Cosmos Structured Stream showing in public docs"
I noticed the second screenshot showing ADLS Gen1 for Cosmos Structured Streams under this topic: https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-lake-store?tabs=data-factory#create-a-linked-service-to-azure-data-lake-storage-gen1-using-ui.

I don't think this should be shown on public facing documentation as Cosmos (not CosmosDB) is an internal service.

---
#### Document

[2022-02-10 11:52] KrishnaG-MSFT commented on #87813
@Liubaituo [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-10 11:55] AnuragSharma-MSFT commented on #87816
@angusrw Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-10 11:57] KrishnaG-MSFT commented on #87815
@cpinotossi [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the f

[2022-02-10 11:57] zojovano opened #87819 "SQL MI - Private endpoint connections (Preview) - Documentation?"
There is a Private endpoint connections (Preview) SQL MI feature available but I cannot find any mention of this feature in the product documentation. Some people are confused this feature with Private Endpoint feature of some other PaaS services. Documentation would help....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-10 11:57] ShaikMaheer-MSFT commented on #87818
@vlad-ion Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-10 12:28] Freia3 opened #87820 "Not able to mount storage account located in other tenant using service principal"
Hi,

I'm not able to mount an azure storage container located in a different tenant than the databricks workspace, using a service principal.
It works with SAS/account key but I don't want to use this.

I'm using the following code:
endpoint = "https://login.microsoftonline.com/" + tenandId + "/oauth2/token"
source = "abfss://" + adlsContainerName + "@" + adlsAccountName + ".dfs.core.windows.net/"

[2022-02-10 12:30] NoorKhaldi commented on #87625
I managed to get the second command run using the following:

1. Connect-MgGraph -Scopes "AuditLog.Read.All"
2. Select-MgProfile -Name "beta"
3. Get-MgAuditLogSignIn -Filter "ResourceTenantID ne '<YourTenantID>'" -all:$True | group ResourceTenantId,AppDisplayName,UserPrincipalName | select count, @{n=’Ext TenantID/App User Pair’;e={$_.name}}

Hope this helps.

[2022-02-10 13:16] AnuragSharma-MSFT commented on #87819
@zojovano Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-10 13:34] Madhumitatripathy commented on #87768
Are you referring to standalone Azure SQL Server (dedicated SQL pool - formerly SQL DW) or Synapse Analytics ?

[2022-02-10 13:37] mike-westaway opened #87822 "Clarification on deployment strategy for Regional VMSS"
After talking to the PM my understanding is that a Regional VMSS will prioritize deployment to a single Availability Zone. Therefore if there is a Zonal outage, all nodes are taken out. It is not clear from the docs that this is the default behaviour.

If this is the case, and the VMSS is set to AutoScale, then in the event of a Zonal outage and all the current nodes are in the failed Zone, would

[2022-02-10 13:42] g-martinse opened #87824 ""Consent given""
Issue is with area "Call to actions trend".

It is about the statemnet:
"Consent given represents the total count of clicks for customer-provided consent to Microsoft or the partner, and equals the number of customers acquired for your offers."

Does this mean that a customer will get a lead for each consent given?

More information:
Seeing 17 "consent given" in Partner Center and getting just 5 l

[2022-02-10 13:47] Antyteza opened #87825 "Problem with Text Analytics Endpoint - piiCategories in Text Analytics v3.1"
I'm trying to perform some more in-depth PII detection as the standard code that might be found here: https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/personally-identifiable-information/quickstart?pivots=programming-language-python fails to find some more detailed entities (like French registration plates number, for example).

Everything works fine when I use the standa

[2022-02-10 13:57] ctahok opened #87826 "XML"
It would be nice to have XML version of the configuration which can be added to existing VMs using a PowerShell as per this [article](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-windows?toc=/azure/azure-monitor/toc.json)

Also adding EventHub in the portal would make things much easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-02-10 14:15] KrishnaG-MSFT commented on #87639
@NakayamaKento I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours.

[2022-02-10 14:15] #87639 closed

[2022-02-10 14:17] KrishnaG-MSFT commented on #87687
@Stel-TG I am not able to find the word "workbook" in the referred Azure document. Can you please provide a screenshot of the step that you are referring?

[2022-02-10 14:29] Antyteza opened #87827 "Problem with Text Analytics Endpoint - piiCategories in Text Analytics v3.1"
I'm trying to perform some more in-depth PII detection as the standard code that might be found here: https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/personally-identifiable-information/quickstart?pivots=programming-language-python fails to find some more detailed entities (like French registration plates number, for example).

Everything works fine when I use the standa

[2022-02-10 14:36] robwe opened #87828 "Add information about the frequency of Autoscale job runs"
The documentation only states what happens if an Autoscale job runs, but it does not mention when it runs, i.e. with which frequency. Please add that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b555a28-bc6e-6234-eae1-56f83b073c1b
* Version Independent ID: 7dc075c1-3912-d119-5564-1acb5c0ea459
* Content:

[2022-02-10 14:56] Freia3 opened #87829 "Bug when using databricks mount with SAS token"
Hi,

We have an azure storage account mounted on our databricks workspace. Using databricks, we upsert delta tables located in the azure storage account. We mounted the azure storage account using a service principal (ABFS driver)

Everything was working fine, until we wanted to switch the mount to a mount using a SAS.
We replaced the mount, now we can not update some of our delta tables.

SAS has

[2022-02-10 14:57] willcotton-msft commented on #87768
Hi, I haven't tested this on the standalone SQL server-I think it would work there since the object type is correct. My comments apply to Synapse Analytics only (as far as I know).

Thanks
Will

From: Madhumitatripathy ***@***.***>
Sent: Thursday, February 10, 2022 7:35 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Will Cotton ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure