[2020-11-15 07:29] mcurko commented on #66080
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitor-cluster

It's unclear what exactly had to be done in the previous step.

[2020-11-15 09:12] da1rren opened #66087 "Use managed identities commands don't work"
Under `Update an existing service principal based AKS cluster to managed identities` the command `az aks update -g <RGName> -n <AKSName> --enable-managed-identity` is provided.  This doesn't appear to be available in the latest version of the Azure Cli or on shell.azure.com

The version I'm using:
[code]

I have all the prerequisites, it feels like something in the docs is missing.

---
#### Docum

[2020-11-15 09:15] da1rren commented on #66087
Additionally the cli reference does not include this command: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_update

[2020-11-15 09:23] endapril opened #66088 "Getting UnrecognizedArgumentError: unrecognized arguments: --enable-managed-identity"
Getting below error when try to update an existing service principal based AKS cluster to managed identities

The command I run:
az aks update -g middlewareppecentral -n middlewareppecentral --enable-managed-identity

The error message I got:
UnrecognizedArgumentError: unrecognized arguments: --enable-managed-identity

my az cli version is 2.14.2

---
#### Document Details

⚠ *Do not edit this sec

[2020-11-15 09:36] HarithaMaddi-MSFT commented on #66087
@da1rren - Thanks for posting your valuable feedback. We will review and get back to you.

[2020-11-15 09:39] HarithaMaddi-MSFT commented on #66088
@endapril - Thanks for posting the feedback. This is similar to another [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/66087)posted today and our team will review and share the update in the same. I will proceed with closing this issue now, please feel free to post for any queries in the other issue.

[2020-11-15 09:39] #66088 closed

[2020-11-15 09:40] VikasPullagura-MSFT commented on #66087
@TomGeske Can you please check and add your comments on this.

[2020-11-15 10:38] SnehaAgrawal-MSFT commented on #65850
@rachelxj-ms Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-11-15 10:57] tibibaraboi commented on #57180
I had as well few issues  which we solved in the end. We had the authentication to the firewall failed as users tried from Edge (Chromium) to use /RDweb while they should have use /RDweb/webclient and few other errors.

It might help pointing out several settings mentioend in other documents which should be double checked/configured:

1. On Windows Server 2019 disable http2 (mentioned in the app-p

[2020-11-15 11:28] SubhashVasarapu-MSFT commented on #66032
@kishaa, Appreciate your patience. Are you executing these CLI commands from your MAC? If yes it looks there is some issue with MAC version of CLI. Please continue using cloud shell for now. Let us know if you can execute from cloud shell or not.

[2020-11-15 12:05] SubhashVasarapu-MSFT commented on #66082
@rramoscabral, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-15 12:05] #66082 closed

[2020-11-15 12:35] o-l-a-v opened #66089 "Please provide alternatives for moving VM with marketplace plan"
Please provide some alternatives when it comes to moving Azure virtual machines with a marketplace plan attached to it. Preferably non-distructive ways of doing so.

Neither documentation provides such information:

* https://docs.microsoft.com/en-us/azure/virtual-machines/windows/move-vm
* https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-m

[2020-11-15 13:35] dudu-markovitz opened #66090 "Azure Cache for Redis should be added to the list (public preview)"
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-private-link

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What is Azure Private Link?](https://docs.microsoft.com/en

[2020-11-15 13:51] ezYakaEagle442 opened #66091 "with Containerd , --docker-bridge-address still required ?"
When running AKS 1.19 with Ubuntu 18.04  and Containerd, is --docker-bridge-address  still required ?

[https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#create-an-aks-cluster-in-the-virtual-network](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#create-an-aks-cluster-in-the-virtual-network) :

The --docker-bridge-address lets the AKS nodes communicate with the underlying

[2020-11-15 15:00] KrishnaG-MSFT commented on #66089
@o-l-a-v Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-15 16:14] nunepalli opened #66092 "SQL Data Sync for Azure SQL Managed Instance"
I see that the page was last updated on 08/20/2019.
And, its mentioned that "Azure SQL Data Sync does not support Azure SQL Managed Instance at this time."
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database

Is that still relevant or Azure SQL Data Sync does support Azure SQL Managed Instance now?

---
#### Document Details

⚠ *Do not edit this sec

[2020-11-15 16:26] kishaa commented on #66032
@SubhashVasarapu-MSFT I was not using mac. I tried it on cloud CLI and using windows powershell as well but the results were identical (got same error). However you can refer the link https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_enable_addons there is no such option ( --appgw-id) with `az aks enable-addons ` command

[2020-11-15 18:06] KitLemmonds opened #66094 "Include information on migrating between tiers."
I was hoping this page would include information on moving between tiers.  Our managed instance migration involves moving an instance with 64gb memory to a managed instance with only 40.8gb memory.  If this causes a problem with increased disk io for uncached data, upscaling the managed instance from the general tier to the business critical tier could help by reducing io latencies (and splitting

[2020-11-15 19:15] AjayKumar-MSFT commented on #65834
@TopperKain, We have raised a PR on the requested changes for author's review. Once the changes are approved by the author, It will be published in the doc. Thanks for taking time to share your feedback.

[2020-11-15 20:41] gregdegruy opened #66097 "POWERAPPS_VIRAL LicenseText_Microsoft Power Apps Plan 2 Trial Note listed"
Please add the SKU Id POWERAPPS_VIRAL for the Microsoft Power Apps Plan 2 Trial license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](htt

[2020-11-15 21:48] BondarencoM opened #66098 "YAML configuration not being picked up because of missing space"
I was following along with the document and i couldn't access Kibana from outside.

Turns out because there was no space after the column, Kibana was listening to localhost instead of 0.0.0.0

Consider adding the space `server.host: "0.0.0.0"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b640eeb-c8c8-e983-1e73-8a6e3

[2020-11-15 22:03] #66059 closed

[2020-11-15 22:04] mattp-rab commented on #61627
Related: https://github.com/MicrosoftDocs/azure-docs/issues/65128

[2020-11-15 23:07] n1ckdm opened #66101 "Incorrect documentation"
The documentation for this page is incorrect. The following code snipped for redirect login with MSAL.js 2.0 is currently:

[code]

The second to last line should be changed to:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21db2aed-de6f-185b-bacf-ec00fbfba2bf
* Version Independent ID: 3f09d8fe-0b80-3055-3a6d-

[2020-11-15 23:10] DOMZE opened #66102 "nginx.conf should not enable listening on IPV6"
In the nginx.conf, the server listens on both IPv4 and IPv6.

Leaving the IPv6 directive makes the container crash with:

2020-11-15T20:22:56.3972509Z stdout F 10-listen-on-ipv6-by-default.sh: error: ipv6 not available
2020-11-15T20:22:56.3992278Z stdout F /docker-entrypoint.sh: Launching /docker-entrypoint.d/20-envsubst-on-templates.sh
2020-11-15T20:22:56.4132442Z stdout F /docker-entrypoint.sh:

[2020-11-15 23:25] mmacy commented on #66059
@rajesh-erasani @hpsin Image update merged, should be live sometime shortly after either the 4AM or 10AM Pacific publish:

![image](https://user-images.githubusercontent.com/13394541/99199845-cd4d5480-2756-11eb-88ac-cf2e6e58ed87.png)

[2020-11-15 23:41] BharathNimmala-MSFT commented on #66090
@dudu-markovitz Thanks a lot for bringing this to our attention, our team will review and update the document accordingly.

[2020-11-15 23:44] BharathNimmala-MSFT commented on #66091
@ezYakaEagle442 Thank you for your query. Our team will review and get back to you at the earliest.

[2020-11-15 23:46] BharathNimmala-MSFT commented on #66092
@nunepalli Thank you for your feedback and query, our team will review it and get back to you at the earliest.

[2020-11-15 23:52] BharathNimmala-MSFT commented on #66094
@KitLemmonds Thank your for reaching out with your query, Our team will review it and circle back at the earliest.

[2020-11-15 23:57] BharathNimmala-MSFT commented on #66081
@mcurko Thank you for sharing the document link you are referring, our team will review your query and get back to you at the earliest.

[2020-11-16 00:02] BharathNimmala-MSFT commented on #66080
@mcurko Thank you for sharing the documentation link. Our team will review your query and get back to you at the earliest.

For future use , if you want to share any feedback related to particular Azure document then I suggest you to please click on 'This page' option at the bottom of referred Azure document and share the feedback. For reference, adding screenshot of the 'Feedback' section that yo

[2020-11-16 00:14] BharathNimmala-MSFT commented on #65640
@padmajauk My sincere apologies for delay in getting back to this thread. I have assigned this issue to our document author @twright-msft to once review your issue and share any pointers accordingly.

[2020-11-16 00:35] damochiz opened #66103 "The use of the "az ml computetarget computeinstance" command is incorrect."
[Enter feedback here]
The "az ml computetarget computeinstance stop/start/restart" command is incorrectly described as "az ml computetarget stop/start/restart computeinstance". The name of the link of the detailed explanation is also wrong.

https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#compute-instance

---
#### Document Details

⚠ *Do not edit this

[2020-11-16 00:44] damochiz opened #66104 "The link for "az ml computetarget delete computeinstance." is incorrect."
[Enter feedback here]
The link for "az ml computetarget delete computeinstance." is incorrect.

https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#compute-instance

Currently it is as follows, but it is wrong.
`Https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/computetarget?preserve-view=true&view=azure-cli-latest#ext-azure-cli-ml -az-ml-compu

[2020-11-16 00:57] jinchunhuachoco opened #66105 "description problem with "Under DDoS or not""
[Enter feedback here]
"except for Azure App Service Environments and Azure VPN Gateway."
->VPN Gateway is the protected resource.  should be "except for Azure App Service Environments"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d687488-a836-bc73-8d8f-9587bae269fd
* Version Independent ID: 129509fe-7d90-371a-1de5-6

[2020-11-16 02:06] daggmano opened #66106 "Is FrontDoor routing case sensitive?"
There appears to be nothing in the documentation regarding case-sensitivity of FrontDoor routes. This would be helpful to know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3be96aa5-02e8-7c73-9fc1-2b6d140e976f
* Version Independent ID: a91c2107-d735-9742-a37e-a77893ff16fc
* Content: [Azure Front Door - routing archit

[2020-11-16 02:57] SatishBoddu-MSFT commented on #66083
Hello @CliffAgius
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-11-16 02:59] SubhashVasarapu-MSFT commented on #66106
@daggmano, Thanks for reaching out. We will investigate and update this thread.

[2020-11-16 03:02] SubhashVasarapu-MSFT commented on #66105
@jinchunhuachoco, Thanks for reaching out. We will investigate and update this thread.

[2020-11-16 03:06] SatishBoddu-MSFT commented on #65790
Hello @pnarsi

Please let us know if you need further help in this matter or we good to close this issue?

[2020-11-16 03:13] benhurjoel opened #66107 "Validation rule for Shared Image Gallery and Image Definition"
The validation rule for Shared Image gallery and Image definition names in the Documentation page may need to be updated. The current pattern mentioned in the document is ``'^[^_\W][\w-._]{0,79}(?<![-.])$`` which still allows dashes. My tests show that the right pattern would be ``^[^_\W][\w_._]{0,79}(?<![-.])$``  .

Page : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-m

[2020-11-16 03:27] msdpalam opened #66109 "What would be a confidence score when we would use five samples to train the custom form recognizer model?"
To train the custom Form Recognizer models, the documentation talks about five sample input forms to start with. What is not clear is what would be a confidence score, when using 5 sample forms. In other words, if we want to have very high confidence score that the model, after being trained, will be able to recognize any similar form, irrespective of the quality of the document scan (i.e. deskew,

[2020-11-16 03:43] VikasPullagura-MSFT commented on #66098
@BondarencoM Thanks for pointing this out. We have updated the document and changes will go live soon.

[2020-11-16 03:46] VikasPullagura-MSFT commented on #66107
@benhurjoel
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-16 03:46] VikasPullagura-MSFT commented on #66107
@olayemio
Can you please check and add your comments on this doc update request as applicable.

[2020-11-16 03:47] #66098 closed

[2020-11-16 03:59] SaebAmini opened #66110 "ASP.NET Core Web App (Razor Pages) sample that uses the Authorization Code flow"
I've been trying to find an ASP.NET Core web app (not SPA + API) sample that uses the authorization code flow, however nearly all samples I've come across use the implicit flow.

Considering the current [OAuth Security Best Practice](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-16#section-2.1.2) is to avoid using implicit flow if possible and to use the authorization code flow inst

[2020-11-16 04:17] ram-msft commented on #66103
@damochiz Thanks for the feedback! We will review and update accordingly.

[2020-11-16 04:18] ram-msft commented on #66104
@damochiz Thanks for the feedback! We will review and update accordingly.

[2020-11-16 04:25] pnarsi commented on #65790
@SatishBoddu-MSFT I have asked our Microsoft rep to assist in following up on this. Ideally however this should be documented on this docs page somewhere i.e. if supported it should be documented here otherwise it should be called as not supported.

[2020-11-16 04:41] vipulsparsh commented on #66097
@gregdegruy   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kkern13  Can you have a look at this ?

[2020-11-16 04:43] vipulsparsh commented on #66101
@n1ckdm Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@navyasric  Can you have a look at this ?

[2020-11-16 04:51] HarithaMaddi-MSFT commented on #65967
@ouyangfangxin11 - I will proceed with closing the issue now. Please feel free to share additional information for further queries.

[2020-11-16 04:51] #65967 closed

[2020-11-16 04:59] Caoxuyang opened #66111 "One question about managing storage account keys & sas with Key Vault"
Hi,
here is Xuyang from Azure Spring Cloud team.
We are planning to use kv to manage our storage accounts and use sas auth instead of using connection string directly.
However I got one question while reading this doc: https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys.

Let's assume that we enabled the kv to manage the storage account and auto-rotate the account key ev

[2020-11-16 04:59] AshokPeddakotla-MSFT commented on #65814
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-16 04:59] #65814 closed

[2020-11-16 05:06] pnarsi opened #66112 "Event Grid Trigger if Functions has a private endpoint."
If my Functions is exposed as a private endpoint on my VNET and I configure my Functions firewall to block all public traffic (as per my organisation's network security requirements), can I still use my Function as a Event Handler for Event Grid as documented on this page?

I assume that this scenario is not possible as the Event Grid has no VNET integration capability for egress and  therefore ca

[2020-11-16 05:11] rgamage opened #66113 "Missing words in sentence"
It seems like this sentence, "Make sure that you access this file" maybe should be "Make sure that you *can* access this file"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7770a017-f3de-4ffb-fbe1-7f673e46b9f6
* Version Independent ID: 17f6ec57-f223-63ef-e8a6-971a756c186b
* Content: [Query Parquet files using serverle

[2020-11-16 05:15] channeladam commented on #34828
+8

[2020-11-16 05:18] HarithaMaddi-MSFT commented on #66113
@rgamage - Thanks for posting your valuable feedback. I am looking into it and will get back to you soon.

[2020-11-16 05:23] genlin commented on #65720
@SquirrelAssassin Thanks for the suggestion! I will check with our engineers to improve the script.

Thomas

[2020-11-16 05:24] AshokPeddakotla-MSFT commented on #65786
@ningweinw Apologies for the delay. I have reached out to our internal team on this question and update you as earliest once i receive any response. Appreciate your time and patience in this regards.

[2020-11-16 05:27] SnehaAgrawal-MSFT commented on #66066
@SvenAelterman Thanks again for the feedback. Request you to refer to https://github.com/MicrosoftDocs/azure-docs/issues/64938 on similar ask.

[2020-11-16 05:42] HarithaMaddi-MSFT commented on #66074
@slopezv2 - These commands are only for Synapse data warehouse as mentioned in the document. Please use these set of [Az commands](https://docs.microsoft.com/en-us/powershell/module/az.synapse/?view=azps-5.0.0) when need to access SQL Pool in Synapse Workspace.

[2020-11-16 05:47] HarithaMaddi-MSFT commented on #66113
@rgamage - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#137781

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-16 05:48] SebDub opened #66114 "Problem with warm starting Hyperparameter search"
Hi,

I'm trying to warm start some hyper parameters search for a model. I created a training script and ran a random search with 500 child runs. Now I want to use the knowledge created in the 500 random runs, to male 50 Bayesian run. But doing that (and I tried multiple times), I run into an error that I can't understand.

First the error:
When i do pass the random search run to the HyperDriveRun

[2020-11-16 05:59] #66113 closed

[2020-11-16 06:05] euangms commented on #65682
Please re-assign to @midesa  as she owns this doc now, we should update the owner tag

[2020-11-16 06:08] kaleshas opened #66115 "'The list is guaranteed to contain machines from at most one update domain' - is not respected"
[

There was an event where machines from multiple update domains were reported.

Please check and update us if the below statement in the documentation is correct.

Resources | List of resources this event affects. The list is guaranteed to contain machines from at most one update domain, but it might not contain all machines in the UD.Example:["FrontEnd_IN_0", "BackEnd_IN_0"]
-- | --

https://do

[2020-11-16 06:14] psmanhas commented on #66102
@DOMZE Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-16 06:19] psmanhas commented on #66115
@kaleshas Thank you for sharing your query! Can you please explain your issue in brief so I can have a better understanding and help you out accordingly.

[2020-11-16 06:48] RohitMungi-MSFT commented on #66109
@msdpalam The guidance for training for improving model's average accuracy is by labeling additional forms and training again to create a new model. The recommendation is to start by labeling five forms and adding more forms as needed. We have added more guidance in the [training custom model document with labels](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstart

[2020-11-16 07:16] bim-msft commented on #65622
Hi @JamesTran-MSFT which CLI version were you using?

[2020-11-16 07:19] RohitMungi-MSFT commented on #66070
@manknewl  I have used this query from the documentation and it seems to fetch data on my App insights resource. Curious to check if there is any specific time range that is restricting your results. Could you change the range to custom values and check if it works?

[code]

[2020-11-16 07:41] ishepherd commented on #51504
Hi @duongau, we implemented the deployment process I mentioned and haven't had any issues.

It would still be worthwhile to have this question answered in this FAQ page.

[2020-11-16 08:08] SubhashVasarapu-MSFT commented on #65789
@jinzejian, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-16 08:08] #65789 closed

[2020-11-16 08:09] SubhashVasarapu-MSFT commented on #65867
@david-freistrom, I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2020-11-16 08:15] matthiaspfenninger opened #66116 "Add OpenJDK As Additional Requirement Next To Java 8"
Under _Requirements_, add a note at the point

[code]

that hints at only OpenJDK being supported. According to own tests, e.g. the IBM JDK 8 does _not_ work and leads to errors stating `Invalid shard address`.

Suggestion: Change to
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9b

[2020-11-16 08:27] ezYakaEagle442 opened #66117 "ARO available Region link broken"
Hi,
At [https://docs.microsoft.com/en-us/azure/openshift/openshift-faq#which-azure-regions-are-supported](https://docs.microsoft.com/en-us/azure/openshift/openshift-faq#which-azure-regions-are-supported)
the link [https://docs.openshift.com/aro/4/welcome/index.html#available-regions](https://docs.openshift.com/aro/4/welcome/index.html#available-regions) lands on RedHat ARO4 welcome page but there

[2020-11-16 08:28] markusgreinerdamovo commented on #44645
please note that this errors will occur if the the user was not granted "Virtual Machine User Login" for the virtual machine within azure
this fixed it within minutes

[2020-11-16 08:35] TomGeske commented on #66087
I can repro getting error:

`UnrecognizedArgumentError: unrecognized arguments: --enable-managed-identity`

@miwithro in which az cli version should update --enable-managed-identity be availble?

[2020-11-16 08:45] psmanhas commented on #65272
@gsxmax Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-16 08:45] #65272 closed

[2020-11-16 08:46] KrishnaG-MSFT commented on #65736
@J0F3 As we didn't hear back from you and also as at this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-11-16 08:46] psmanhas commented on #65935
@leroydsouzapact Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-16 08:46] #65935 closed

[2020-11-16 08:47] vasalis opened #66118 "Partner Center customer usage attribution - Broken link"
The link:
https://partner.microsoft.com/dashboard/mpn/analytics/CPP/MicrosoftAzure

Does not seem to be working. Can you please verify that this is the correct one? If indeed is broken, could you please update with the correct one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Ve

[2020-11-16 08:48] palma21 commented on #66091
No, that parameter is ignored for containerd. We'll update the documentation as soon as containerd GAs and it will eventually be removed and Moby is phased out.

cc @zr-msft

[2020-11-16 09:02] SumanthMarigowda-MSFT commented on #65934
@choward84  It based on the requirement
[Azure Premium Block Blob Storage ](https://azure.microsoft.com/en-in/blog/azure-premium-block-blob-storage-is-now-generally-available/)
[
Performance tiers for block blob storage for standard and premium performance ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-performance-tiers

[Scalability and performance targets for premium page bl

[2020-11-16 09:02] #65934 closed

[2020-11-16 09:03] nidiculageorge opened #66119 "Unrecognized Command --enable-managed-identity while doing az aks update"
While running the below command

az aks update -g rg-poc-aks -n aks-poc --enable-managed-identity

ArgumentParseError: unrecognized arguments: --enable-managed-identity

PS C:\Users\nidicula\OneDrive - RM PLC\Studydocs\Kubernetes\Lab> az version

{
  "azure-cli": "2.12.0",
  "azure-cli-core": "2.12.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.4.65"
  }
}

---
####

[2020-11-16 09:04] markusgreinerdamovo commented on #54126
please note that this errors will occur if the the user was not granted "Virtual Machine User Login" for the virtual machine within azure
this fixed it within minutes

[2020-11-16 09:06] ram-msft commented on #66114
@SebDub Thanks for the feedback! We will review and update accordingly.

[2020-11-16 09:33] genlin commented on #65720
@@SquirrelAssassin  I just submitted a pull request to fix the problems in the script. The "test-path" method is added to verify ithe path of ADAL Assemblies (See sample below).  Thank you very much for the comments and suggestions. I will process to close this issue. Feel free to reopen it if there are any additional questions or problems.
------------------------------------------------
# Load A

[2020-11-16 09:34] kasgit opened #66121 "Not sure whether page title is correct"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/19492569/99236234-0c5cd200-284b-11eb-8fed-4de7c1d40693.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b38e3c-c054-794a-70af-ce9d2ec70507
* Version Independent ID: 04653c31-670f-ebd4-da07-072ea5503483
* Content: [Revoke user access in an eme

[2020-11-16 09:39] KrishnaG-MSFT commented on #65688
@chuckthompsonprofisee We do not have this capability as yet. If interested, I would recommend you to share it as a feature request from [here](https://feedback.azure.com/forums/34192--general-feedback) and upvote it and other features that are of interest. In general, Azure feature team would check feasibility of a feature request, prioritize against existing feature backlog, add in roadmap as ap

[2020-11-16 09:39] #65688 closed

[2020-11-16 09:42] KrishnaG-MSFT commented on #66118
@vasalis Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-16 09:43] MSNina123456 opened #66122 "TS tool didn't work"
This module didn't work anymore: PS C:\Users\tester> Get-GuestConfigurationPolicyHealth -ResourceGroupName "Nina-rg1" -VMName "Nina1-win2012R2"
Would you still like to continue? There are 16 policies assigned to this scope, so this test will take some time. [Y] Yes [N] No [S] Suspend [?] Help (default is "Y"): Get-AzPolicyDefinition : Required property 'policyRule' not found in JSON. Path ''. At C

[2020-11-16 10:05] J0F3 commented on #65736
@KrishnaG-MSFT I had just not the time yet to look into it. But this means not that the issues is resolved! I was still not successful to create a EA Subscription using your documentation. Also because of all the other issues I had opened here for which I have mostly no answer at all yet. So I think you documentation needs definitely some updates.

[2020-11-16 10:10] HarithaMaddi-MSFT commented on #66116
@matthiaspfenninger - Thanks for your suggestion. I am moving it to content author for further review.

@mssaperla - Can you please take a look.

[2020-11-16 10:32] maxstefaniv opened #66124 "Issue on "Route events within and outside of Azure Digital Twins""
To whom it may concern, I hope you can understand my issue and give me some answers.
This is based mainly on the data flow explained on [Route events within and outside of Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/concepts-route-events).
I have some issues finding out and understanding the proper use of a Telemetry on DT as well as the proper generation and consumpt

[2020-11-16 10:36] SubhashVasarapu-MSFT commented on #66090
@dudu-markovitz, Appreciate your patience. The doc has been enhanced accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-16 10:36] #66090 closed

[2020-11-16 10:38] BhargaviAnnadevara-MSFT commented on #66119
@nidiculageorge Thanks for the feedback. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-16 10:43] J0F3 commented on #65736
@SwathiDhanwada-MSFT The link which you had posted here is not really useful. I know how to create an ARM deployment for an Management Group in general and I have done that also several times already. But my question is specific to the `Microsoft.Subscription/aliases` resource which seems not to be valid when the deployment is on a Management Group. That's also why I post it here.

I test with two

[2020-11-16 10:46] SubhashVasarapu-MSFT commented on #65894
@anhlqn, Appreciate your patience. Yes, you need to restart the Application Gateway after changing the DNS settings in a VM. We are assigning this issue to the respective content author to update the document accordingly.

[2020-11-16 10:49] SubhashVasarapu-MSFT commented on #65845
@hisasima, Appreciate your patience. Yes, you need to restart the Application Gateway after changing the DNS settings in a VM. We are assigning this issue to the respective content author to update the document accordingly.

[2020-11-16 10:49] KrishnaG-MSFT commented on #65736
@J0F3 Sure. Thanks a lot for the detailed explanation and the valuable feedback.
Tagging @SwathiDhanwada-MSFT to provide additional insights if any and assigning content owner @bandersmsft for visibility, review and document enhancement consideration.

[2020-11-16 10:51] ezYakaEagle442 opened #66125 "ARO life cycle and upgrade doc"
ARO 4.3 is Kubernetes 1.16, ARO 4.4 relies on K8s 1.17, as mentionned in [OCP 4 release notes](https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-about-this-release)

 is it correct then to expect 1 minor release/quarter following Kubernetes life cycle, meaning that any new ARO minor version will rely on the next K8S upstream N+1 version (ex: ARO 4.5

[2020-11-16 10:51] amanmcse commented on #66121
@kasgit Thank you for your feedback . We will investigate and update the thread further.

[2020-11-16 10:52] amanmcse commented on #66110
@SaebAmini Thank you for your feedback . We will investigate and update the thread further.

[2020-11-16 10:54] amanmcse commented on #66111
@Caoxuyang Thank you for your feedback . We will investigate and update the thread further.

[2020-11-16 11:14] sarah026 opened #66126 ""Max NICs / Expected network performance (Mbps).""
Hi, can you please clarify what this means "Max NICs / Expected network performance (Mbps)."
The value for this for our Azure VMs is "2/2000"
If we can have 2 NICs, does that make the total 2000Mbps or 4000Mbps ?

**In otherwords, what is the bandwidth per NIC.**

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7

[2020-11-16 11:28] nidiculageorge commented on #66119
@BhargaviAnnadevara-MSFT

https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-existing-service-principal-based-aks-cluster-to-managed-identities

https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-existing-service-principal-based-aks-cluster-to-managed-identities

[2020-11-16 11:30] AshokPeddakotla-MSFT commented on #65790
@pnarsi Thanks for the further feedback. We will review and update the doc as necessary. Meanwhile as suggested, kindly follow up with support for further help. Do let us know if you have any further queries.

[2020-11-16 12:04] l-ip opened #66127 "580868"

[2020-11-16 12:04] ezYakaEagle442 opened #66128 "Add SLA & pricing sections"
Hi !

Could you please add sections with links to :
[Pricing](https://aka.ms/openshift/pricing)
[SLA](https://azure.microsoft.com/en-us/support/legal/sla/openshift/v1_0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95ea-9681d266f9a7
* C

[2020-11-16 12:04] JayaChatterjee-MSFT commented on #66112
@pnarsi Thank you for the question. We will review and get back to you.

[2020-11-16 13:12] savas-guven opened #66130 "Confusing statement, please recheck"
This sentence is confusing and possibly grammatically incorrect:

"Sending them to the Azure Monitor Logs store (which is searchable via Log Analytics) you to integrate them into queries which search across other logs."

You should be able to read a sentence without the section defined by the parentheses, and it should still make sense. With or Without the section in the parentheses, this sentence

[2020-11-16 13:12] BhargaviAnnadevara-MSFT commented on #66127
@l-ip Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-16 13:14] memento77 opened #66131 "remove Hybrid Joined device from On-Premise AD"
Hi,
After MDM is enabled and device are Hyrbrid joine and managed by Intune is there a way to remove these devices from on premise AD?

[2020-11-16 13:18] #66127 closed

[2020-11-16 13:26] baseif opened #66132 "Connectivity matrix"
There is some mistake on the connectivity matrix ,where a "Direct" means that connectivity is provided by Virtual WAN
Vnet to Vnet connection is not allowed !
please put the old value back with an X
https://github.com/MicrosoftDocs/azure-docs/commit/a37629e32f6e3e73b0d007339d0c98cc1be356fd#diff-e268c8978932da4e3b71c6e3c2ffd61de486b90364fcb4dbd8cb8df172f8f630

regards
---
#### Document Details

⚠ *

[2020-11-16 13:27] brudnyhenry opened #66133 "Azure AKS managed identity"
Hi,

The documentation says that it's possible to update existing AKS to use managed identity.
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-existing-service-principal-based-aks-cluster-to-managed-identities

But the CLI option
[code]

Also at the beginning of the document, it's stated that existing clusters can not be updated to managed-identities.

So what is the trut

[2020-11-16 13:28] mcurko opened #66134 "Azure Service Fabric Cluster Upgrade error"
Register-ServiceFabricClusterPackage as described results in:

Register-ServiceFabricClusterPackage : The file name 'ServiceFabric.msi' is invalid. File should be Microsoft Azure
Service Fabric.<MajorVersion>.<MinorVersion>.<BuildNumber>.<HotfixVersion>.msi
At line:1 char:1
+ Register-ServiceFabricClusterPackage -Code -CodePackagePath "ServiceF ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-11-16 13:31] swapnild2111 commented on #63455
That I do not know, may be their community will know.

However, on Microsoft Azure portal - case-sense differs. That part you should be able to fix.

[2020-11-16 13:34] DCtheGeek commented on #66122
#assign:mgreenegit

[2020-11-16 13:35] DCtheGeek commented on #66122
@MSNina123456 Thanks for the question. I've assigned this to the PM who owns that module.

@MicrosoftDocs/azure-cxp-triage Please label 'product-issue' and #in-progress.

[2020-11-16 13:47] NaeemIsAtGitHub opened #66135 "Out of date Function trigger documentation"
Other MS articles suggesting that Consumption plan and cron are supported.  I think this page is out of date and needs updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions

[2020-11-16 13:50] yoelhor commented on #50358
Closing due to inactivity

[2020-11-16 13:51] #50358 closed

[2020-11-16 13:54] elsantorini opened #66136 "Gateway when private link is enabled"
Hi, can you please clarify if the connectivity to the DB continues to happen through the public gateway when the private link is enabled ? It's not in the diagram.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e23acd-1ca5-ee48-5706-273f1d4327b9
* Version Independent ID: 31d5e234-c8eb-3bf2-1492-b7c48ccba0dc
*

[2020-11-16 13:57] yoelhor commented on #65903
I don't feel clear about the main issue here. Can you clarify that for me?

[2020-11-16 14:06] yoelhor commented on #65795
Thanks for you feedback, good point. I'll update the document with the relevant information.

[2020-11-16 14:09] amanmcse commented on #65795
@SampathDilhan You can pass custom query string by using InputClaims in a given Technical Profile. In below example, I am passing login_hint and hsu parameters in the request for External Azure AD tenant added as IDP.

[code]

[2020-11-16 14:09] yoelhor commented on #64793
This issue should be fixed now. I would be grateful if you check the flow again.

[2020-11-16 14:11] ezYakaEagle442 opened #66137 "Add ARO roadmap link under the Resources section"
[Enter feedback here]

Could you please add  not only Azure Roadmap but also ARO roadmap under the Resources section : https://aka.ms/openshift/roadmap
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95ea-9681d266f9a7
* Content: [Frequently

[2020-11-16 14:18] manknewl commented on #66070
Hi, it initially worked for me but it stopped working.

I simplified it to:

traces
| where customDimensions contains "question"
| extend question = tostring(customDimensions['Question'])
| extend answer = tostring(customDimensions['Answer'])
| extend score = tostring(customDimensions['Score'])
| project timestamp, question, answer, score

and now it works

On Mon, Nov 16, 2020 at 2:19 AM RohitMun

[2020-11-16 14:25] yichungyu opened #66138 "Public client IPs from Log Analytics Workspace not listed on the documentation"
I tried using the externaldata function of the Log Analytics Workspace Kusto to access my firewall-enabled storage account. In the storage account error logs, I saw that the client IP is 40.91.121.152, which is not on the list of IPs in the documentation. Is there anywhere we can find a list of client IPs used by Log Analytics Workspace? Thanks!

---
#### Document Details

⚠ *Do not edit this sect

[2020-11-16 14:32] MonikaReddy-MSFT commented on #65919
@dlew56 - Thanks for sharing the doc info. I have tried to reproduce the scenario and I am able to deploy the template fine without any issues.

Are you still facing this issue?
If so,
In order to find the root cause of it, we would need you to send us an email at AzCommunity@Microsoft.com by providing below details. 
Subject : ATTN:Monika 
1) Subscription ID 
2)  A link to this thread.
Please ema

[2020-11-16 14:32] #65919 closed

[2020-11-16 14:34] NavtejSaini-MSFT commented on #65798
@cedricmaesse We are going ahead and closing this issue for now. Please let us know if you have any other issues.

[2020-11-16 14:34] #65798 closed

[2020-11-16 14:35] MonikaReddy-MSFT commented on #65964
@xuwenjian1995 - I have reached out to Product team and waiting their response. Will get back to you as soon as I hear back from them. Thank you for your patience.

[2020-11-16 14:37] xuwenjian1995 commented on #65964
@MonikaReddy-MSFT -Thanks for your update. awaiting your good news!

[2020-11-16 14:37] MonikaReddy-MSFT commented on #66131
@memento77 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-16 14:40] saikumar0412 opened #66141 "Private aks cluster documentation update"
While creating private aks cluster using below documentation

https://docs.microsoft.com/en-us/azure/aks/private-clusters#hub-and-spoke-with-custom-dns

There has to be some steps added at hub and spoc with custom dns section in order to avoid confusion.

Details need to be added:
https://github.com/feiskyer/aks-private-cluster-demo

https://docs.microsoft.com/en-us/azure/private-link/private-endp

[2020-11-16 14:43] VikasPullagura-MSFT commented on #66133
@brudnyhenry Thanks for posting your valuable feedback.

This is a CLI version issue which the team is working in releasing this week. The current CLI version is missing this.

Similar issue here [#66087](https://github.com/MicrosoftDocs/azure-docs/issues/66087)

[2020-11-16 14:48] VikasPullagura-MSFT commented on #66117
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-11-16 14:49] VikasPullagura-MSFT commented on #66125
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-11-16 14:49] VikasPullagura-MSFT commented on #66128
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-11-16 14:51] VikasPullagura-MSFT commented on #66137
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-11-16 14:52] VikasPullagura-MSFT commented on #66088
@endapril This is a CLI issue which the team is working in releasing this week. The current CLI version is missing this.

[2020-11-16 14:57] NavtejSaini-MSFT commented on #65880
@SAKARIYAKK We are going ahead and closing this issue for now. Please get back to us if you still facing some issue regarding this.

[2020-11-16 14:57] #65880 closed

[2020-11-16 14:57] memento77 commented on #66131
sorry about it
this was question for the product.

Thanks

[2020-11-16 14:59] NavtejSaini-MSFT commented on #65895
@mksuni Please check this question from user and help with the query.

[2020-11-16 15:00] NavtejSaini-MSFT commented on #66027
@Super-tim Please share your use case for better help from our team.

[2020-11-16 15:01] daledev-uk opened #66144 "Missing dll's running emulator on windows 8"
I have upgraded from 2.2.1 to 2.11.8 of the ComosDB emulator, the docs state that the emulator version supports windows 8, however, I'm getting errors saying it can't find `api-ms-win-core-heap-l2-1-0.dll`, then if I add that manually, it can't find `api-ms-win-core-localization-l1-2-2.dll`, lucky I have the older msi still on my machine so I was able to revert, but I need the new version, can you

[2020-11-16 15:11] glomaga commented on #64793
Hi, @yoelhor  I tested it on Chrome, Edge, Mozilla, and now is working correctly. Thanks

[2020-11-16 15:24] jgoretzky opened #66148 "Android Device receive message payload."
[Enter feedback here]
does this SDK contain a method for Android devices to subscribe to messages in an IOT Hub?  IE: goal is for the Android app to receive all messages sent to the IOT hub by other deviecs.
thanks,
Jared

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f68c0-eec7-42c4-705c-e773f0151fb3
* Version Inde

[2020-11-16 15:30] swettstein opened #66149 "When will PowerShell for PIM be GA?"
When will the current AzureADPreview module make its way to be Generally Available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71de3082cf2c
* Version Independent ID: 020b443d-d664-9bad-bbc9-74dbe35c8ae2
* Content: [PowerShell for Azure AD roles in PIM - Azure AD](https://docs.microsoft.com/e

[2020-11-16 15:35] olayemio commented on #66107
We will make the changes in the error messages of our API and once they have been updated, I will update the error message.

[2020-11-16 15:37] miwithro commented on #66087
Hello, we will have this out soon.  Once it is out you can run the below after you register the FF's
System Assigned Identity
az aks update -g <RGName> -n <AKSName> --enable-managed-identity <- To update to system assigned identity
User Assigned Identity
az aks update -g <RGName> -n <AKSName> --enable-managed-identity --assign-identity <UserAssignedIdentityResourceID>

[2020-11-16 15:39] VikasPullagura-MSFT commented on #66087
@miwithro Thanks for sharing the details.

[2020-11-16 15:44] rajkumar-munusamy commented on #56666
Hi @ofirmanor ,
I am not sure if I am reading your last comment correctly. If an alert was suppressed during this window and it hasn't self-resolved then after the suppression window is over no team will NOT be notified? How/What is your recommendation for us to deal with this scenario? Sounds like we need to deal with problem resources that happened during the suppression manually outside of our

[2020-11-16 15:47] csucsuno1 opened #66150 "Typo"
Dear Documentation Team,

I've just discovered a possible typo, please review and correct it if I'm right.
In the Operational security of the Authentication Agents section in the 9th point the certificate store should be CERT_SYSTEM_STORE_CURRENT_USER because after the automatic renewal the certificates are stored, here not under the local machine certificate store.

Thanks in advance!

Best Regar

[2020-11-16 15:54] MonikaReddy-MSFT commented on #66131
@memento77 - Sure no worries. Please raise your question on[ Microsoft QnA ](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) so our engineers and community can help answer the questions.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2020-11-16 15:54] #66131 closed

[2020-11-16 15:55] MonikaReddy-MSFT commented on #66144
@daledev-uk -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-16 16:12] KrishnaG-MSFT commented on #66130
@savas-guven Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-16 16:17] spranav72 opened #66151 "E: Unable to locate package moby-engine on Ubuntu 18.04"
[Enter feedback here]

I read an old thread about this error, it seems the same issue is showing up again.

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package moby-engine

Is there a fix for this issue?

Please let me know if you need more debug information.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-11-16 16:29] JamesTran-MSFT commented on #66150
@csucsuno1
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-16 16:54] AjayKumar-MSFT commented on #65904
@mcbsys, This is the outcome of the cmdlet that I see - az webapp config show (specific App version queried for -in my case _phpapptestok_)

![image](https://user-images.githubusercontent.com/44606227/99282128-4d5be300-2859-11eb-9242-4a0773b041ee.png)

If I have understood you correctly, to control the PHP runtime version (for apps which doesn't support built-in images) you can deploy it with a cu

[2020-11-16 16:56] SubhashVasarapu-MSFT commented on #66126
@sarah026, expected network performance is the maximum aggregated bandwidth allocated per [VM size](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes) across all NICs.

[2020-11-16 16:58] #66000 closed

[2020-11-16 17:07] RyanHill-MSFT commented on #65349
Hi @fratschi, after creating the app service plan, you have to [create the web app](https://docs.microsoft.com/en-us/azure/app-service/quickstart-php?pivots=platform-windows#create-a-web-app) with `--deployment-local-git` command switch. The output of this command will provide the remote git url at which time you can use `git add remote azure https://<username>@<app-name>.scm.azurewebsites.net/<ap

[2020-11-16 17:07] #65349 closed

[2020-11-16 17:12] JamesTran-MSFT commented on #66149
@swettstein
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-16 17:15] DerekHerman-MSFT commented on #66004
@ms-lolo
There is a small delay after tag creation and the tax being indexed. I confirmed with the product team and they are still validating production numbers on what we can expect, but the index time should be measured in seconds, not minutes. I expect this number will be made clearer as the feature moves out of preview.

[2020-11-16 17:17] RyanHill-MSFT commented on #65819
Hi @pavlism, you will need the [Azure Extension pack](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azureappservice) to complete this tutorial, it's in the **Prerequisites** section at the top of doc. This will put an Azure logo on your [Activity bar](https://code.visualstudio.com/docs/getstarted/userinterface) at which time you'll be able to sign into your Azure subscri

[2020-11-16 17:17] #65819 closed

[2020-11-16 17:29] spranav72 commented on #66151
Update: I was able to install the same command w/o any issue after an hour. However I have experienced this issue two times in last 24 hours.

[2020-11-16 17:29] #66151 closed

[2020-11-16 17:31] yoelhor commented on #65903
Thanks @rbrayb for the feedback, and @amanmcse for the clarification, I'm updating the doc

[2020-11-16 17:33] #65903 closed

[2020-11-16 17:45] YutongTie-MSFT commented on #66042
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-16 17:45] #66042 closed

[2020-11-16 17:50] yoelhor commented on #64793
Thanks @glomaga, glad to hear. Thanks for bringing this issue to our attention.

#please-close

[2020-11-16 17:50] #64793 closed

[2020-11-16 17:58] Nickomang commented on #65534
Thanks @writex, the changes have been made.

#please-close

[2020-11-16 17:58] #65534 closed

[2020-11-16 18:04] Deepti886 opened #66155 "Microsoft LUIS v3 sample project in .NET to deserialize the elements."
Hi All,
Requesting  for a Microsoft LUIS V3 sample project in .Net to know exactly how to deserialize the elements from the latest LUIS v3 prediction endpoint Json.
Please find the example json as below:

{"query":"Is the stock for Samsung TV available tomorrow","prediction":{"topIntent":"GetDeviceInformation","intents":{"GetDeviceInformation":{"score":0.901367366},"ApplyForJob":{"score":0.0307973

[2020-11-16 18:07] himanshusinha-msft commented on #65807
@thommck  : I think what "cooking" means is to convert small files to large files , but for guidance I will let the content author speak on this  . @normesta  : Can you please share your thoughts on the ask please ?

[2020-11-16 18:08] aahill commented on #65135
Thanks for reaching out about this. the `api_version` param is available in v5.1.0 beta of the client library.

If your client version is v5.0.0 it will throw an error. For 5.0.0, you can use the following format

[code]

If you use v5.1.0, you can use

[code]

I'll work on updating the documentation.

#please-close

[2020-11-16 18:08] #65135 closed

[2020-11-16 18:12] jlichwa commented on #64443
@smizrohi  SKU is complex object {
           "name": "Standard_B1",
            "family": "B"
         },
Since there is no other option for SKU at this moment we removed it from parameters list, so it should not be a problem anymore.

#please-close

[2020-11-16 18:12] #64443 closed

[2020-11-16 18:15] WinstonHoward-MSFT commented on #66141
Thanks for the doc feedback, I've assigned this to the doc author to take a look at your ask.

[2020-11-16 18:19] mcbsys commented on #65904
Ajay, thank you for your reply.

I am not familiar with DOCKER_CUSTOM_IMAGE_NAME and I don't know where to find it. I'm trying to use a standard image.

To duplicate this issue, create a "WordPress on Linux" app in West US 2. I used a new P1v2  app service plan and a Basic database.

![testapp config](https://user-images.githubusercontent.com/865498/99290298-f7eceb00-27f2-11eb-91cf-7ab3655421a2.pn

[2020-11-16 18:19] Nickomang commented on #65533
Thanks for catching this @writex, the sentence has been reworded for correctness/clarity.

#please-close

[2020-11-16 18:19] #65533 closed

[2020-11-16 18:26] sdgilley commented on #65833
Hi @gitclem, thanks for your question.  There isn't a slow-down or speed-up control.  However, you can:
1. Use the Play/Pause button at the bottom to stop the video, catch up, and then resume.
2. Use the slider to move back or forwards in the video.
3. Download the transcript for the video

![image](https://user-images.githubusercontent.com/3650506/99292477-e0b7f880-2806-11eb-82fe-67a69c598e2c.png

[2020-11-16 18:26] #65833 closed

[2020-11-16 18:30] venkateshkuppusamy opened #66156 "Associating app to the Windows Store"
[Enter feedback here]

I am trying to register a sample windows app at the partner center (Windows store) https://partner.microsoft.com/en-us/dashboard/directory .
I don't see any view where I can do this app creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Indepen

[2020-11-16 18:32] vhorne commented on #65109
Added link
#please-close

[2020-11-16 18:32] #65109 closed

[2020-11-16 18:33] mike-urnun-msft commented on #66135
Hello @NaeemIsAtGitHub - Thank you for your feedback. We'd be happy to review and update as appropriate. Could you reference the other MS articles here?

[2020-11-16 18:38] SaurabhSharma-MSFT commented on #65970
@MoulshreeSD Sorry, but I do not see any date time conversion with the sample you are referring to.  I have tried but I do not see any errors.
![image](https://user-images.githubusercontent.com/38112130/99293341-616ef880-27f7-11eb-8232-6fedbbc5f32b.png)

In case you are working for your custom scenario and if you are getting error then I would suggest to please open a new Microsoft Q&A forum post

[2020-11-16 18:45] Nickomang commented on #65390
Thanks for pointing this out @mcurko, it's been rectified.

#please-close

[2020-11-16 18:45] #65390 closed

[2020-11-16 18:45] #64614 closed

[2020-11-16 18:49] AjayKumar-MSFT commented on #65932
@ansh0507, I'd received the same error. You could use this [document](https://docs.microsoft.com/azure/app-service/configure-custom-container?pivots=container-linux#enable-ssh) for SSH and corresponding sshd_config file.
I have assigned the issue to the content author to review further and update the document as appropriate.

![image](https://user-images.githubusercontent.com/44606227/99294045-827

[2020-11-16 18:52] dgdrake commented on #43390
We have experienced the same problem.

What we have done to fix this issue is by no longer merging new feature work into the master branch. All new features would be merged into a "Release" topic branch, which has the same branch policies as master.

For CI/CD, the Azure Release Pipeline in DevOps points to the release branch that we created to deploy.

Once the release has gone into production, t

[2020-11-16 18:54] jitendraRai opened #66158 "Current logged user can't able see own sign-ins activity."
[Enter feedback here]
As mentioned in the document Any user (non-admins) can access their own sign-ins however in the azure portal user can't able to see and sign-ins link is disabled. Please correct the document or enable the link.

![image](https://user-images.githubusercontent.com/4159689/99295282-3e7e2c00-286b-11eb-8075-b80ed4502586.png)

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-16 18:55] jitendraRai commented on #66158
Please refer the URL:- https://stackoverflow.microsoft.com/questions/232220

[2020-11-16 18:56] AgSync-Aaron opened #66159 "Examples out of date?"
It would appear this documentation is out of date possibly. When I attempt to run these scripts I get the following error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f465-7439aecc40e5
* Version Independent ID: f836844c-0089-1477-57af-43a76181e5d6
* Content: [Deploy resources with Azure CLI

[2020-11-16 19:08] AgSync-Aaron commented on #66159
Never mind, I used `winget` to update my azure cli. Apparently it was out of date.

[2020-11-16 19:19] bandersmsft commented on #42924
@whaakman We recently updated the article for the latest API version. It should be corrected now. Please take a look and let us know if that resolved your issue.

[2020-11-16 19:20] femsulu commented on #66138
@yichungyu, Thanks for the question. We are actively investigating and will get back to you soon.

[2020-11-16 19:24] ms-lolo commented on #66004
thanks for the info, @DerekHerman-MSFT, I have some followup questions then :)
- once tags have been indexed, is the index consistent across requests? or is it eventually consistent? if many clients are querying with tags every few seconds, are they all going to see the new tags at the same time?
- is there any way to query the system to check if a blob's tags have been indexed?

[2020-11-16 19:26] JamesTran-MSFT commented on #65622
@bim-msft
I was using 2.14.2

![image](https://user-images.githubusercontent.com/36619112/99298353-713e0b00-27fe-11eb-92ce-b25193d88237.png)

If you have any other questions, please let me know.
Thank you!

[2020-11-16 19:27] mcbsys commented on #65904
P.S. I just noticed that the visibility of the PHP version in the Azure UI is also related to this issue. When linuxFxVersion shows the DOCKER string, the UI elements are missing. Once PHP is set correctly from the command line, the UI works as expected. See screen shots in this post: https://www.mcbsys.com/blog/2020/11/check-and-change-php-version-in-azure-wordpress-on-linux/

[2020-11-16 19:28] SaurabhSharma-MSFT commented on #66155
@Deepti886  Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-16 19:29] SaurabhSharma-MSFT commented on #66134
@mcurko To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-11-16 19:31] SaurabhSharma-MSFT commented on #66132
@baseif Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-16 19:36] rbrayb commented on #65994
James,

The name is in the custom policy referenced by the article.

So if you follow the article, the custom policy doesn't work because the
certificate names are different.

Rory

On Sat, Nov 14, 2020 at 6:51 AM James Tran-MSFT <notifications@github.com>
wrote:

[2020-11-16 19:41] MSEvanhi commented on #64994
Hey folks,

Since Azure Custom Providers sits behind ARM, authentication is handled for us. Authorization however needs to be verified at all hops across the network. Most of the calls through the custom provider instance are routed to an external endpoint url, so that endpoint needs to implement authorization.

To do this the endpoint needs to compare the client certificate of the calling request

[2020-11-16 19:42] JamesTran-MSFT commented on #65825
@raghava1147
Since you're internal, I've looped you into an email with our PG teams and we'll continue working through this bug using the ICM I linked.

Thank you for your time and patience!

[2020-11-16 19:42] #65825 closed

[2020-11-16 19:48] SaurabhSharma-MSFT commented on #66124
@maxstefaniv Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-16 20:04] SaurabhSharma-MSFT commented on #66151
@spranav72 sorry for the trouble and good to hear that your issue is resolved.

[2020-11-16 20:22] jlichwa commented on #65622
@bin-msft @JamesTran-MSFT - I believe our conclusion that with new "SDK" https://docs.microsoft.com/en-us/cli/azure/keyvault/storage/sas-definition?view=azure-cli-latest#az_keyvault_storage_sas_definition_list should be used instead for sas

[2020-11-16 20:30] shoresh57 opened #66162 "Hi Team you need uppdate https://github.com/Azure/Azure-TDSP-Utilities/tree/master/DataScienceUtilities/DataReport-Utils since it is not working and many customer asked about it"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b93c5d-758b-d3ea-0165-64869100bba6
* Version Independent ID: 7c801950-0b7f-aaef-559e-6b7e196fba7d
* Content: [Data acquisition and understanding of Team Data Science Process](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-

[2020-11-16 20:46] tamram commented on #65879
@AdelaManea - Thanks for your feedback! I've added a note to the Scenarios section to note this.

#please-close

[2020-11-16 20:46] #65879 closed

[2020-11-16 20:57] theheatDK opened #66163 "Managed boot diagnostics retention?"
Hi,
When you enable managed boot diagnostics for VM, how much storage will be used?

Will old files be deleted when the VM boot or will the files stay for some time? Retention?

Is it possible to see the files anywhere or are they completely hidden?

Regards Peter

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-11-16 21:00] wtcan99 opened #66164 "Is it possible to get French translation from Workday to AD by using Get_Worker API?"
While getting employee info from Workday to AD, we will need to get French translation for a few fields depends on the preferred language of the employee. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 1339cc93-712c-3a32-8321-dfd016a50ed4
* Content:

[2020-11-16 21:02] yfphoon opened #66165 "Please clarify the statement in the doc"
[Enter feedback here]
The doc states "_This data is stored for 30 days_", but if I build a LUIS app, I want the data to live for as long as my app exist.  What does this 30 days limit mean?  Thank you.

Sidney

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98177a83-fc2d-6818-a190-b5e3623ba008
* Version Independent ID:

[2020-11-16 21:27] MartinDiewald opened #66166 "Documentation für parameters missing"
Please add documentation for parameters:
What is the difference between aliasname and subscriptionname?
How to get the Billing Scope?
What are the allowed values for workload?
Why is New-Subscription replaced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3632da-89e0-cbd4-2d92-311eaacd33b3
* Version Independent ID:

[2020-11-16 21:49] NavtejSaini-MSFT commented on #65831
@duanzy47 Hope the above comment helped you. If not please raise and issue with correct document information and we will be happy to help.

[2020-11-16 21:49] #65831 closed

[2020-11-16 21:53] 404cruX opened #66169 "Update Identifiers / Reply URL / Sign on URL"
[Enter feedback here]

In Doc example of -> https://github.com/**enterprises**/* is given.

This needs to be updated to Patterns: https://github.com/**orgs**/*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ddf301-6502-8b20-243e-7af24023e3cd
* Version Independent ID: ae6a3790-e090-de5d-4e13-7b4d3f8c35b9
* Content: [T

[2020-11-16 21:53] sarah026 commented on #66126
The VM size is Standard D4s v3, and the "Max NICs / Expected network performance (Mbps)." value is "2/2000" in the documentations [here ](https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series)
From what you've just said, it is the aggregate value, so if I have 2 NIC cards, then the expected net performance is 2000Mbps
and if I only have 1 NIC, it is 1000Mbps

Correct?

[2020-11-16 22:06] Chireven commented on #38914
This is closed, so how do I get the fix?

Security isn't a feature request, it's a necessity to any cloud component.  If this isn't fixed, can it be re-opened?  I saw mentioned of something being in preview... I'll take a preview feature.  This is going to hold up our deployment as I don't want to spend even more money spinning up VMs in azure to do this...

[2020-11-16 22:15] ehaslett opened #66170 "Typo - "without" used twice"
Typo - "without" used twice here:

This selection is valid in all regions and is the default selection for Standard Public IP addresses in regions **without without** Availability Zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be300b0c-96b6-d8de-b755-dca049ab0f9a
* Version Independent ID: 180df42e-76f3-9ff8-9e18

[2020-11-16 22:21] MarileeTurscak-MSFT commented on #65980
[Passwordless security key sign-in ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key)is currently in public preview.

For more info on new releases and features, the best place to check is in User Voice, which I see you have already done. (I went in and upvoted your request.)

I have reached out to the product team to check if t

[2020-11-16 22:22] DerekHerman-MSFT commented on #66004
@ms-lolo
•	once tags have been indexed, is the index consistent across requests? or is it eventually consistent? if many clients are querying with tags every few seconds, are they all going to see the new tags at the same time?

•	is there any way to query the system to check if a blob's tags have been indexed?

[2020-11-16 22:26] pnarsi commented on #65790
Thanks @AshokPeddakotla-MSFT. I have followed up offline with my Microsoft reps and have got answers to my questions.

[2020-11-16 22:26] pmccloghrylaing commented on #17169
I just went looking for information on how the cooldown period works and ended up here, reading @anirudhcavale's example, and a colleague found similar information in the [Terraform docs](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/monitor_autoscale_setting#cooldown). I think it would be really useful for that example to be added to the docs, or something simila

[2020-11-16 22:27] SatishBoddu-MSFT commented on #65790
Thank you @pnarsi for the response. Please let us know if we are good to close this issue?

[2020-11-16 22:38] femsulu commented on #66159
Thanks for the update @AgSync-Aaron . We will now close this issue.

[2020-11-16 22:38] #66159 closed

[2020-11-16 22:39] xpouyat opened #66171 "VideoAnalyzerPreset should be linked to https://docs.microsoft.com/en-us/rest/api/media/transforms/createorupdate#videoanalyzerpreset"
[Enter feedback here]
In the "Build-in preset" section, VideoAnalyzerPreset is linked to https://docs.microsoft.com/en-us/rest/api/media/transforms/createorupdate#audioanalyzerpreset. It should be linked to https://docs.microsoft.com/en-us/rest/api/media/transforms/createorupdate#videoanalyzerpreset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-11-16 22:48] JamesTran-MSFT commented on #66169
@404cruX
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-16 22:49] bandersmsft commented on #65987
@gihermos Hi there. Yes, your customer is correct. We have conflicting information in our docs between https://docs.microsoft.com/azure/cost-management-billing/costs/understand-cost-mgt-data (mentioning 72 hours) and https://docs.microsoft.com/azure/cost-management-billing/manage/ea-portal-enrollment-invoices (mentioning five days - and the internal support article). My apologies for this. I'm wor

[2020-11-16 22:49] JamesTran-MSFT commented on #66158
@jitendraRai
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-16 23:23] MarileeTurscak-MSFT commented on #66077
Currently, there is no way to leave the organization, and Microsoft is working on providing this functionality. Until this feature is available, you can ask the inviting organization to remove you from their tenant. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-faq

There is an open feedback request here that you can upvote and view for updates: https://feed

[2020-11-16 23:23] #66077 closed

[2020-11-16 23:39] WinstonHoward-MSFT commented on #66163
Thanks for the question, I'll take a look.

[2020-11-16 23:43] KumudD commented on #57742
@rajeshshanker The tutorial prescribes you to select the default **Windows Server 2019 Datacenter** as the image and should work as described in the tutorial. Please let us know if you still come across any issues when doing so.

#please-close

[2020-11-16 23:43] #57742 closed

[2020-11-16 23:48] #65827 closed

[2020-11-16 23:51] tamram commented on #65461
@Arithmomaniac - Thanks so much for your feedback!

I've updated the examples to remove the continuation token.

#please-close

[2020-11-16 23:51] #65461 closed

[2020-11-16 23:52] tamram commented on #62962
@englandcarl - I've made some further updates to the examples. They now rely on AsPages to handle the continuation token.

If you have further feedback, please let us know.

#please-close

[2020-11-16 23:52] #62962 closed

[2020-11-16 23:57] MarileeTurscak-MSFT commented on #65980
I am closing this out since there is an open feedback request but I will reply on this post if there's an update or workaround provided by the product group.

[2020-11-16 23:57] #65980 closed

[2020-11-17 00:11] MarileeTurscak-MSFT commented on #65181
I would recommend [running this detection script ](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/run-detection-test)to ensure that the device are properly reporting to the Defender service.

What do you see in the recommendation details page? That message means that the machine does not have a vulnerability assessment deployed, and this can happen if th

[2020-11-17 00:12] MarileeTurscak-MSFT commented on #65181
If none of this works, please send me an email at AzCommunity@microsoft.com with "Attn: Marilee Turscak" and include your subscription ID, and I will open a free support case for you to get this resolved.

[2020-11-17 00:12] #65181 closed

[2020-11-17 00:29] jdelforno opened #66173 "Provide PowerShell ARM Template directly without REST and update documentation"
The page shows how to create a subscription via a REST, not a powershell deployment which most of us would normally use.

If the ARM template can be applied using New-AzTenantDeployment, can you please include the documentation for it and update this page: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-tenant?tabs=azure-cli ?

---
#### Document Details

⚠ *Do not

[2020-11-17 00:42] jsburckhardt commented on #38914
Hi mate, is a good workaround. Unfortunatelly, due to security restrictions. The team doesn't have control of the KV/vNet whitelisted IPs

[2020-11-17 00:51] WinstonHoward-MSFT commented on #66163
Hi @theheatDK,

I just ran a VM with Boot Diagnostics and it took up only 800kb of space. I wouldn't expect it to be a significant cost when compared to the VM or other resources you have.

Can you explain more about what you mean by Will old files be deleted when the VM boot or will the files stay for some time? The Boot Diagnostic Storage only contains serial log information and screenshots. Tha

[2020-11-17 00:53] Thomas-Bailey commented on #43390
Ok, but that would suggest you have an ADF that is git enabled but never gets a publish right? Are you ARM template deploying over it or does it never match a branch? How are you handling the param files that are generated with the publish, are you manually crafting these?

[2020-11-17 01:03] JamesTran-MSFT commented on #65994
@rbrayb
Thank you for following up! Since this is an issue with the custom policy referenced by the article, I've assigned this issue to the author to investigate and update as required.

[2020-11-17 01:04] JamesTran-MSFT commented on #66169
@404cruX
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-17 01:09] MarileeTurscak-MSFT commented on #65893
We have an internal work item (1780561) to add minimum RBAC perms for SQL DB tasks. The Azure AD account needs to have the [server admin roles for Azure SQL](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import?tabs=azure-powershell), but I'm unsure if an additional RBAC role is required. One article I read suggested that the Storage Blob Data Contributor role is required.

I'

[2020-11-17 01:23] SubhashVasarapu-MSFT commented on #66170
@ehaslett, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-17 01:23] #66170 closed

[2020-11-17 01:24] SubhashVasarapu-MSFT commented on #65867
@david-freistrom, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-17 01:24] #65867 closed

[2020-11-17 01:26] twright-msft commented on #65640
@padmajauk - It looks like maybe you have not done the initial steps in the documentation yet.
These are the overall steps:

Create the custom resource definitions for the Arc data controller, Azure SQL managed instance, and PostgreSQL Hyperscale. [Requires Kubernetes Cluster Administrator Permissions]
Create a namespace in which the data controller will be created. [Requires Kubernetes Cluster Ad

[2020-11-17 01:35] BharathNimmala-MSFT commented on #65799
@henrypi73 My sincere apologies for delayed response on this.

Sorry if the document was not very clear on this, basically you need to define the firewall rules on system your running the [Operations console](https://docs.microsoft.com/en-us/system-center/scom/deploy-install-ops-console?view=sc-om-2019#to-install-the-operations-console) and all management servers in the management group.

We will

[2020-11-17 01:35] #65799 closed

[2020-11-17 01:35] jerdobi opened #66174 "Streaming Analytics Data Refreshing a PowerBi dataset has no guidance"
There's no information on setup of the push to the PowerBI dataset for refreshing the data.  On initial setup the PowerBI dataset is created from setup of the Output on the Streaming Analytics job.  Subsequently, the data is never refreshed.  There needs to be guidance on setup of a scheduled data push from Azure to PowerBi for a dataset that's created by Azure from a streaming analytics job.

---

[2020-11-17 01:39] KumudD commented on #62389
@theglossy1 The following sentence _The Azure platform (AKS, etc.) does not support IPv6 communication for Containers_ is accurate. Thanks!

#please-close

[2020-11-17 01:39] #62389 closed

[2020-11-17 01:45] pablodiazgutierrez opened #66176 "Getting "ErrorResponseException: Operation returned an invalid status code 'Resource Not Found'""
I tried the sample code on a Python 3.8 setup, with freshly created credentials, and I'm getting a not found error:

[code]

Is this a known error? I wonder if the endpoint has changed. I'm using `https://api.bing.microsoft.com/` which is what the Azure portal gives me...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-17 01:45] SaurabhSharma-MSFT commented on #66136
@elsantorini Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 01:46] SaurabhSharma-MSFT commented on #66148
@jgoretzky Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 02:02] MarileeTurscak-MSFT commented on #66164
@wtcan99 please provide the link to the document that you are referencing so that we can better assist.

[2020-11-17 02:06] NavtejSaini-MSFT commented on #66038
@srdan-bozovic-msft Please check the feedback from the Cx and provide guidance here.
@spaelling We are checking this with our doc author for further help.

[2020-11-17 02:10] NavtejSaini-MSFT commented on #65983
@BE-Digital-Solutions-Bart Please share the documentation that this feedback is associated with. This will help us to take correct action regarding the feedback.

[2020-11-17 02:12] NavtejSaini-MSFT commented on #66056
@johnstairs We are assigning this feedback to our doc author for further review.
@matjazl Please check the feedback from Cx and help us correct the document is needed.

[2020-11-17 02:57] x3n3tix opened #66178 "Admin Grant/Revoke Permissions Clarity"
The warnings state that previously granted permissions wil be revoked tenant-wide. Can you either clarify if this is against all app grants or just the one? If it is just the one app then I would suggest amending the warnings to reflect that as it can be confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b3d688

[2020-11-17 03:30] CHEEKATLAPRADEEP-MSFT commented on #66174
@jerdobi  Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2020-11-17 03:43] SnehaAgrawal-MSFT commented on #66156
@venkateshkuppusamy Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-17 03:44] SnehaAgrawal-MSFT commented on #66171
@xpouyat Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-17 03:48] SnehaAgrawal-MSFT commented on #65846
@razvansalajan Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-11-17 03:51] hitsy opened #66179 "DUAL authentication on SFTP server (SSH and User name /Password) does not work"
There is an issue with the connector - I think - where we have DUAL authentication enabled on our SFTP server (SSH and User name /Password) but have ascertained that if the connection parameters included SSH Private Key and Passpharse - the password is not being sent to the SFTP server and hence get the following Error

[code]

Could someone assist in providing a confirmation or where or not we ha

[2020-11-17 03:52] MichaelSL opened #66180 "Can't create hierarchical app setting for Azure WebApp"
The command built with example

[code]
returns
[code]

The same result when trying to create similar app settings through azure web portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568d6695-8344-3d44-aaaf-c00786f9bee1
* Version Independent ID: 60034daf-9dff-5b16-9ff8-f675bafac61d
* Content: [Configure ASP.NET Cor

[2020-11-17 04:01] spelluru commented on #65617
#in-progress

[2020-11-17 04:04] AjayKumar-MSFT commented on #65940
@desplesda, Apologies for the delay! We're discuss on this internally with our product\content team, we'll get this fixed shortly.

[2020-11-17 04:38] benhurjoel commented on #66107
Thank you @VikasPullagura-MSFT and @olayemio

[2020-11-17 04:42] KrishnaG-MSFT commented on #66166
@MartinDiewald Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-17 04:42] KrishnaG-MSFT commented on #66173
@jdelforno Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-17 04:50] YutongTie-MSFT commented on #66162
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-17 04:51] YutongTie-MSFT commented on #66165
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-17 04:53] YutongTie-MSFT commented on #66176
@pablodiazgutierrez Hello Pablo, the API endpoint is https://api.bing.microsoft.com/v7.0/search
For client seems it's not. I am checking internally and will get back to you soon.

[2020-11-17 04:54] AjayKumar-MSFT commented on #66180
@MichaelSL, Thanks for the question! We're taking a look into this and will get back to you soon.

While I'm taking a look into this (with a repro),  just to clarify, I believe the cmdlet that you'd tried and shared is via Azure Cloud Shell.
[Configure app settings values](https://docs.microsoft.com/azure/app-service/configure-common#configure-app-settings)
[az_webapp_config_appsettings_set](https

[2020-11-17 05:09] JSeb225 commented on #66174
Hi @jerdobi : PowerBi dashboards are constantly refreshed when using in "push" mode. As long as the ASA job runs and outputs new data, you will see the dashboard being updated in real-time. Let me add some comments in the doc.

[2020-11-17 05:14] nidiculageorge commented on #66119
@BhargaviAnnadevara-MSFT I am trying to update the cluster to managed identity cluster ,using the aks update command,as per the above doc ,which was released yesterday

[2020-11-17 05:25] mcurko commented on #66134
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-infrastructure-as-code

[2020-11-17 05:34] AnuragSharma-MSFT commented on #66136
@elsantorini Yes the connectivity through the public traffic continues. I would recommend you to go through below section that answers the query you have:

https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-private-link#private-link-combined-with-firewall-rules
https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-private-link#deny-pub

[2020-11-17 05:39] MonikaReddy-MSFT commented on #66144
@daledev-uk -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-17 05:49] shashishailaj commented on #66178
@x3n3tix Thank you for your feedback . We will investigate and update the thread.

[2020-11-17 05:51] ram-msft commented on #66065
@engineersamuel Thanks for the feedback. @tmccrmck Could you please help to update the link to **from azureml_user.parallel_run import EntryScript.**

## About EntryScript
ParallelRunStep provide a help class `azureml_user.parallel_run.EntryScript`, which has dependency of AmlCompute.
To allow running your code locally, you can substitute EntryScript with DummyEntryScript for local testing as belo

[2020-11-17 05:55] SadiqhAhmed-MSFT commented on #65862
@keithcharlie Private offers (or more accurately: private plans) are available for gov cloud like any other offer. A plan can also shift status from private to public and vice versa. The control on which cloud the offer will be available is in the partner’s hands and can be configured via Partner Center.

I have raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/137978 post review b

[2020-11-17 06:01] AjayKumar-MSFT commented on #65706
@abbaskiko,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us (@BryanTrach-MSFT) in your reply and we will gladly continue the discussion.

To better assist you, if you could share the exact steps (section) referencing from the doc and the screenshot (concealing private details) would be helpful for

[2020-11-17 06:01] #65706 closed

[2020-11-17 06:05] AjayKumar-MSFT commented on #65834
@manekinekko, Requesting your comments on this and PR review.

[2020-11-17 06:16] kazshi opened #66181 "TimeGenerated date/time format"
My customer reported that date/time format for TimeGenerated (exported in csv) was changed as below at some point. And I would like to make sure if it's changed on purpose and will not change in the future.
I know this is not a feedback for content, but I couldn't find TimeGenerate specific content in other pages.

OLD: "2020-10-15T00:00:00.247Z"
NEW: "2020/10/16 0:00:01.403"

---
#### Document De

[2020-11-17 06:26] SnehaGunda commented on #64610
#please-close

[2020-11-17 06:26] #64610 closed

[2020-11-17 06:49] amanmcse commented on #66121
@kasgit Thank you for pointing it out. I have assigned it to the author of the doc to make required changes.

[2020-11-17 07:07] EricHerlitz commented on #13816
This can occur if the service is newly created. While it may be available ensure that Azure is 100% done with the deployment.

[2020-11-17 07:14] theheatDK commented on #66163
Thanks @WinstonHoward-MSFT,
Will 800kb of files be created every time the VM boots? So over time, there will be more and more files?
Since you cannot access the files like you can if you put it in your own storage account, there might be some mechanism to delete them over time?
Regards Peter

[2020-11-17 07:22] byohei125 opened #66183 "AIP license should be required and written in "Prerequisites""
I believe that you need AIP license for AIP connector.
So I would appreciate if this is clearly documented in "Prerequisites".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30350607-39c8-7898-eb65-48c4825df6ad
* Version Independent ID: 40db1304-c34f-9391-ffc3-60e0392ab7d0
* Content: [Connect Azure Information Protecti

[2020-11-17 07:24] psmanhas commented on #66102
@DOMZE I have created internal bug item on the issue and will keep you posted once I have an update.

Thanks

[2020-11-17 07:36] BhargaviAnnadevara-MSFT commented on #66119
@nidiculageorge Thanks for the details! It looks like this is a known issue as mentioned in #66087.

_Originally posted by @miwithro in https://github.com/MicrosoftDocs/azure-docs/issues/66087#issuecomment-728139731_

[2020-11-17 07:37] vipulsparsh commented on #66110
@SaebAmini  Thanks for reaching out. You can try the sample listed here :
https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

The above uses the openID Connect to authenticate the user and Auth code flow to fetch the tokens for Graph API.
Let me know if above helps.

[2020-11-17 07:40] mayoneka opened #66185 ""0xfc0""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b-eff387f3ffef
* Version Independent ID: ded2a816-93c7-a4b3-1ec2-c29ce86cd492
* Content: [About Azure Point-to-Site VPN connections](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about)
* Content Source: [artic

[2020-11-17 07:50] SaebAmini commented on #66110
@vipulsparsh that project seems very old. It's not ASP.NET Core and it's targeting .NET Framework.

[2020-11-17 07:51] palma21 commented on #66079
They are 2 different articles and way to achieve authorization. Indeed the one one mentioned at the top offers a simpler and azure native way to do it, that scales easily.

The second uses the native kubernetes roles and role bindings which need to be manually bootstrapped or scripted, but can still be the preferred option for many folks out there.

[2020-11-17 07:54] dArignac commented on #64610
@SnehaGunda I can't see any referenced PR for the topic, so I assume nothing is merged?

[2020-11-17 07:56] SubhashVasarapu-MSFT commented on #66126
@sarah026, The MAX NIC is the capability of the VM where it can hold up to 2 NIC's or the limit based on the size. The bandwidth is not calculated based on the number of NIC. The bandwidth is for the whole VM as per the article. Irrespective of the number of NIC's it is holding. If you consider Standard_D16_v3 size,
![image](https://user-images.githubusercontent.com/44890829/99361582-50e27f00-28d8

[2020-11-17 07:59] JasonWHowell commented on #64610
This page was updated https://docs.microsoft.com/azure/cosmos-db/gremlin-support and it will be available around 4am PST
![image](https://user-images.githubusercontent.com/5067358/99362028-c9f5be00-2867-11eb-8a09-7b495451f813.png)

[2020-11-17 08:00] SubhashVasarapu-MSFT commented on #66185
@mayoneka, could you please provide us with more details on the issue you are facing here in this document?

[2020-11-17 08:10] daledev-uk commented on #66144
The page in question was Scott troubleshooting running the cosmos emulator which is exactly the issue I have.

https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-emulator

Could you please point me in the direction of where I should go to post for help regarding this issue? I'm struggling to find anywhere that seems appropriate.

Thanks

[2020-11-17 08:26] dansydner opened #66186 "Multistage yaml pipeline"
It would be helpful if the Azure Pipeline would be a multistage (yaml) pipeline instead of the classic.

Regards

/Dan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azu

[2020-11-17 08:26] markusdresch commented on #30168
i cannot disable email verification for "PasswordReset". is there any way to increase the expiration in custom policies? we have several customers who receive the verification code after it being already expired.

[2020-11-17 08:28] Deepti886 commented on #66155
@SaurabhSharma-MSFT Thanks. It would be very helpful if you provide a sample project in .Net to deserialize the v3 Json as early as possible.

[2020-11-17 08:36] JayaChatterjee-MSFT commented on #66062
@miqm  I have tried from the portal and I can do it. Could you please confirm how have you tried and when are you getting the exception. I need little more details.

[2020-11-17 08:40] SadiqhAhmed-MSFT commented on #66166
@bandersmsft For visibility.

[2020-11-17 08:43] mayoneka commented on #66185
Sorry I created this issue by mistake.
I'd appreciate if you could close it.

[2020-11-17 08:45] HarithaMaddi-MSFT commented on #66186
@dansydner - Thanks for posting your valuable feedback. Can you please elaborate on the purpose of having multistage pipeline example in this document context as we have [Azure DevOps document](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/multi-stage-pipelines-experience?view=azure-devops) covering that feature.

[2020-11-17 08:46] arseyam opened #66187 "The object does not have authorization to perform action 'Microsoft.DocumentDb/databaseAccounts/listKeys/action'"
Hi,
I think there's a mistake in the documentation, after I assigned the VM's managed service account the "Cosmos DB Account Reader Role" role, I'm not able to read the Cosmos DB keys. Only when I assigned it the "DocumentDB Account Contributor" I was able to perform the operation.

Error message:
Invoke-WebRequest : {"error":{"code":"AuthorizationFailed","message":"The client '{guid}' with object

[2020-11-17 08:49] divikshrivastava commented on #30807
Why should the deprecated accounts be removed, what risks do they pose?

[2020-11-17 08:49] souravmishra-msft commented on #65847
Hello @bryhall, thank you for reaching out. I apologize for the delay in my response. Just wanted to share that, I have no information on this yet, but I am trying to get some answers for you soon.

[2020-11-17 08:55] nidiculageorge commented on #66119
@BhargaviAnnadevara-MSFT thanks for the update Just to clarify once this released only we can update the cluster to managed identity enabled cluster without recreating the cluster ?

[2020-11-17 08:58] sgdesmet opened #66188 "Add documentation regarding technical limitations on (String) claim transformations"
We've encountered an issue with the [`FormatString`](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#formatstringclaim) claims transformation, where an exception was thrown because the input claim to be formatted exceeded 4096 characters.

Having these technical limitations in the documentation would be convenient to avoid issues such as these in the future.

---

[2020-11-17 09:12] vipulsparsh commented on #66110
@SaebAmini  This is the correct link :

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC

[2020-11-17 09:17] priests123 commented on #66070
Having a look at the original query from the docs:

requests
| where url endswith "generateAnswer"
| project timestamp, id, url, resultCode, duration, performanceBucket
| parse kind = regex url with *"(?i)knowledgebases/"KbId"/generateAnswer"
| join kind= inner (
traces | extend id = operation_ParentId
) on id
| extend question = tostring(customDimensions['Question'])
| extend answer = tostring(cu

[2020-11-17 09:22] miqm commented on #66062
@JayaChatterjee-MSFT Hello, I just tested on the Resource group I had it failed before, and now it does work. Believe me - I  had that issue when I wrote the ticket, seems like there were some infrastructure upgrade in the meantime.

It does work now, so I'm closing the ticket. Thanks.

[2020-11-17 09:22] #66062 closed

[2020-11-17 09:30] mshparber commented on #30744
My API (OKTA) returns rel="next" url in the RESPONSE HEADER.
Is this supported?

[2020-11-17 09:59] timoklimmer opened #66189 "Update diagrams, add multiple nodes IR setup"
AFAIK the Credential Manager app does not exist anymore in V2. Please update the diagrams accordingly and show how the setup and firewall configuration looks in case multiple nodes are used for the IR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49

[2020-11-17 10:03] Qythyx commented on #58976
I'm having this problem too. `DidReceiveRemoteNotification` is called, but `ReceivedRemoteNotification` is not called. I easily worked around this by adding:

[code]

[2020-11-17 10:11] RohitMungi-MSFT commented on #66070
Thanks @priests123 @manknewl for posting the queries. @nerajput1607 Could you please review the above suggestions to check if they can be incorporated in future updates?

[2020-11-17 10:26] AlexCesarini opened #66191 "More than five authenticator apps or hardware tokens"
When you have more than 5 authenticator apps or hardware tokens, you get an error.
Perhaps would be an good idea to mention it in this article?

Error:
You can't setup Microsoft Authenticator because you already have five authenticator apps or hardware tokens. Please contact your administrator to delete one of your authenticator apps or hardware tokens

---
#### Document Details

⚠ *Do not edit th

[2020-11-17 10:26] c-lamont commented on #58976
@Qythyx I found out that you can only override one or the other. Overriding `DidReceiveRemoteNotification` means `ReceivedRemoteNotification` is not called (If I remember correctly).
Maybe this helps @damar3 as well?

[2020-11-17 10:30] AjayKumar-MSFT commented on #65732
@gathakur, As we're discussing on this internally, I'll close this thread for now.

To benefit the community, based on the author's feedback/on our internally discussion, the document would be updated with the requested changes.

[2020-11-17 10:30] #65732 closed

[2020-11-17 10:41] Turnip75 opened #66192 "Outlook Example Image"
Not pertinent to the wider detail of the page, but the image showing the example within Outlook (https://docs.microsoft.com/en-us/azure/logic-apps/media/quickstart-create-logic-apps-with-visual-studio/outlook-email.png) uses a news feed referring to a school shooting.  Perhaps this could be reviewed and replaced with something else.

Dean

---
#### Document Details

⚠ *Do not edit this section. It

[2020-11-17 10:46] HarithaMaddi-MSFT commented on #66189
@timoklimmer - Thanks for posting the valuable feedback. I am moving it to content author to review and share their thoughts.

@nabhishek - Can you please take a look?

[2020-11-17 10:47] cervezerg opened #66193 "RandomWrites and RandomReads are OK in the table?"
[Enter feedback here]
I see that in iometer when testing ReadIOps you are using RandomWrites. And when testing Write IOPS, you are using RandomReads. Is that correct or an error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a57a6f3-0a61-5149-04b4-500b51a56bd8
* Version Independent ID: 759324cc-a029-ef90-0579-adc0bb2

[2020-11-17 10:47] SnehaAgrawal-MSFT commented on #66066
@SvenAelterman We will close this out but if you feel you need more information please just let us know.

[2020-11-17 10:47] #66066 closed

[2020-11-17 10:57] SubhashVasarapu-MSFT commented on #66185
@mayoneka, Sure. Thanks for the quick update. We are closing this issue now.

[2020-11-17 10:57] #66185 closed

[2020-11-17 11:20] Lahiru89 opened #66195 "How to increase the retention period of recovery points?"
How do I increase the ASR retention period to 72 hours? I can't enter more than 24 hours on replication policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8f2ca3-19b1-330d-8dd3-6dcdce38c8d4
* Version Independent ID: 700335aa-c802-0314-1579-3493918f5000
* Content: [General questions about the Azure Site Recovery

[2020-11-17 11:21] vipulsparsh commented on #66187
@arseyam Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@barclayn  Can you have a look at this

[2020-11-17 11:23] vipulsparsh commented on #66188
@sgdesmet Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-17 11:23] LoekvanKooten opened #66196 "Documentation incorrect: authentication key nowhere to be found"
_Authentication key
When you sign up for Translator, you get a personalized access key unique to your subscription. This key is required on each call to the Translator.

Retrieve your authentication key by first selecting the appropriate subscription.
Select Keys in the Resource Management section of your subscription's details.
Copy either of the keys listed for your subscription_

There is no Re

[2020-11-17 11:43] reginbald opened #66197 "Client certificate not forwarded from Azure Web App to container."
Hi,

I'm securing a small project using certificate authorisation and validating incoming certificates.
When I run the project locally with Kestrel or docker I am able to retrieve the certificate and validated it. However when I run the container image in Azure Web App for containers with "Client certificate mode=Allow" nothing happens. Is this not supported for Azure Web App for containers?

![im

[2020-11-17 11:44] Manubi commented on #34451
Can someone explain me how I now deploy a container that is exposing the port 8080?
I tried it with a new dockerfile. I've tried it with a docker-compose file and I've tried to add/edit the PORT and WEBSITES_PORT variable. Without success.

I want to deploy the following dockercontainer from docker-hub: manubi/metaboanalyst:latest
The container is exposing a webapp at port 8080/MetaboAnalyst

Any

[2020-11-17 11:48] RutgerKosters opened #66198 "TCP/UDP missing"
All NFS ports require TCP as well as UDP protocol, according to this NetApp article: https://kb.netapp.com/Advice_and_Troubleshooting/Data_Storage_Software/ONTAP_OS/Which_Network_File_System_(NFS)_TCP_and_NFS_UDP_ports_are_used_on_the_storage_system%3F

111 TCP/UDP = RPCBIND/Portmapper
635 TCP/UDP= mountd
2049 TCP/UDP= nfs
4045 TCP/UDP= nlockmgr (NFSv3 only)
4046 TCP/UDP= status (NFSv3 only)

[Ent

[2020-11-17 12:01] phatcher opened #66199 "Not good enough migration path!"
There is no clone functionality available for Linux apps.

Also, you are making your internal engineering issues our problem.

There should be a command that migrates the entire app service plan to a different scale unit without any public visible changes, don't mind the potential downtime but doing this all manually with the knock on effect on DevOps pipelines is non-trivial once you have more th

[2020-11-17 12:01] Qythyx commented on #58976
@c-lamont, thanks for the info, but for me I originally was only overriding `ReceivedRemoteNotification`, but it wasn't being called. I then added the override for `DidReceiveRemoteNotification` and it did get called. The only real difference is that for the Did call I added the decoration, but for the first I did not. I don't know if that matters.

[2020-11-17 12:14] MoulshreeSD opened #66200 "How to do this with multiple tables?"
I want to implement this with multiple tables. How should I write my Copy Activity query for this purpose? And what additional things will be needed to implement it?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66029772-b5cd-01ea-74e4-3e0a1b7a8a66
* Version Independent ID: 0d0a58d8-885c-552c-56e

[2020-11-17 12:19] matuhinal opened #66201 "oтладка"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36a9f20-03fd-6b29-e9b3-0f3d440bb65c
* Version Independent ID: c729f86d-7b1c-fafb-97da-adaca6fc87de
* Content: [Debug Application Proxy applications - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/applicat

[2020-11-17 12:23] sesmailjee opened #66202 "Incorrect text displaying under graphic"
See screenshot, text displaying under image!
![image](https://user-images.githubusercontent.com/18234424/99389695-69857180-28a5-11eb-927b-19aa3acf3930.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content: [Conne

[2020-11-17 12:32] chakra146 opened #66203 "SecretValueText is deprecated in azure powershell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730f8398-bf64-be5c-0574-19f8c991d20d
* Version Independent ID: 4d33564d-fa8a-9a98-ad31-5779b0824efe
* Content: [Troubleshooting BitLocker boot errors on an Azure VM - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/trou

[2020-11-17 12:40] bewsbews commented on #34451
To be honest, I couldn't make it work so I switched to Google Cloud Run and made it work in under 1 hour with the same dockerfile. I have never deployed anything in Google Cloud before but it was very easy!

[2020-11-17 12:44] RohitMungi-MSFT commented on #66196
@LoekvanKooten You can get the keys to your resource from the translator resource you created on azure portal. Here is a screen shot of where the key should be available.

![image](https://user-images.githubusercontent.com/46958063/99391543-5358cf00-2900-11eb-80b4-df0d0dade9c6.png)

The documentation details selecting the required subscription from the Azure portal and then selecting the keys of o

[2020-11-17 12:45] SnehaAgrawal-MSFT commented on #66197
@reginbald Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-17 12:46] LoekvanKooten commented on #66196
Thank you, but this is what my screen looks like:

![image](https://user-images.githubusercontent.com/33692323/99391972-44135a80-28db-11eb-9683-3ca596ce831f.png)

[2020-11-17 12:48] RohitMungi-MSFT commented on #66196
You are looking at your subscriptions page. Please search for the translator resource you created from azure portal by going to your home page.

[2020-11-17 12:48] SnehaAgrawal-MSFT commented on #66199
@phatcher Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-17 12:49] LoekvanKooten commented on #66196
That screen looks like this:

![image](https://user-images.githubusercontent.com/33692323/99392269-be43df00-28db-11eb-9948-82889eaccbfa.png)

[2020-11-17 12:52] LoekvanKooten commented on #66196
Got it! That was a Resource Group, not a Resource. This is a bit of a maze to be honest.

Thank you very much for your help!

[2020-11-17 12:53] #66196 closed

[2020-11-17 12:54] wtcan99 commented on #66164
Here is the link:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#creating-an-integration-system-user

[2020-11-17 13:02] ekrotki opened #66204 "Hi, is the link broken?"
Hitting the ling from sentence "For more information, see One Time Password over SMS Added to Azure MFA Server." I am presented with access denied message.
Do you really not like me, or the link is broken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b708a8fc-a9f9-365b-7f85-ead0d1a9b440
* Version Independent ID: 8aa7

[2020-11-17 13:07] HarithaMaddi-MSFT commented on #66074
@slopezv2 - I will proceed to close this issue now. Please feel free to post for any queries.

[2020-11-17 13:07] #66074 closed

[2020-11-17 13:22] PramodValavala-MSFT commented on #65899
@DarrenWainwright Glad that you were able to set things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-17 13:22] #65899 closed

[2020-11-17 13:26] georgesymonds opened #66205 "Issues with CSV Template"
Two issues have been noticed:
1. When downloading the file, it is downloaded without the .csv filetype. The .csv filetype needs to be manually added either while saving the file or after download has completed
2. The example userPrincipalName, passwordProfile, and accountEnabled have a leading whitespace which goes against the documented guidelines

---
#### Document Details

⚠ *Do not edit this s

[2020-11-17 13:31] M0ns1gn0r commented on #56914
@Marusyk since you've closed the issue no one will update the docs.

[2020-11-17 13:31] dkreeft opened #66206 "Docs mention "http://127.0.0.1/" as valid redirect URL, which is not accepted by Azure"
As title implies. `127.0.0.1` is not accepted with `http://` in the Azure portal. Only `http://localhost` is accepted. The documentation provides examples with `http://127.0.0.1` and recommends not to use `localhost`, but `127.0.0.1` instead. Please update documentation to reflect Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-11-17 13:38] Marusyk commented on #56914
@M0ns1gn0r thanks, I know. It's not valid anymore. My mistake, the problem was in my code.
If I closed it, it means that no docs update required.

[2020-11-17 13:48] GitaraniSharma-MSFT commented on #65925
@rjosephp , since we have not heard from you, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-17 13:48] #65925 closed

[2020-11-17 14:13] AlexCesarini commented on #66204
the correct link should be
https://techcommunity.microsoft.com/t5/azure-active-directory-identity/one-time-password-over-sms-added-to-azure-mfa-server/ba-p/243919

[2020-11-17 14:16] tofkamp opened #66207 "typo: credentialprovider.admx should be CredentialProviders.admx"
At the group policy settings, the policydefinition filename credentialprovider.admx is wrong. It should be CredentialProviders.admx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e1d9a-fdaf-0a29-0746-e3a32826eb6b
* Version Independent ID: 78e9b684-1121-6193-387f-fd8b6040cc0a
* Content: [Passwordless security key sig

[2020-11-17 14:16] KrishnaG-MSFT commented on #66195
@Lahiru89 Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-17 14:29] binhnguyen1984 opened #66208 "ms-identity-javascript-v2 does not work in IE 11"
The sample code does not work in IE 11. Could someone provide some hints on how to make it work in IE 11?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cff30850-fbce-1c4d-8979-561e84b09c78
* Version Independent ID: ad8742e7-a4c7-5b1a-1b68-dc7c14edc3ac
* Content: [Tutorial: Create a JavaScript sin

[2020-11-17 14:29] vhorne commented on #65818
done
#please-close

[2020-11-17 14:30] #65818 closed

[2020-11-17 14:30] SumanthMarigowda-MSFT commented on #66179
@hitsy Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:31] SumanthMarigowda-MSFT commented on #66181
@kazshi Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:34] SumanthMarigowda-MSFT commented on #66201
@matuhinal  Can you provide more information on your query? Requesting you to post the query in English.

[2020-11-17 14:36] SumanthMarigowda-MSFT commented on #66183
@byohei125 Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:37] SumanthMarigowda-MSFT commented on #66191
@AlexCesarini Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:38] SumanthMarigowda-MSFT commented on #66192
@Turnip75 Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:41] SumanthMarigowda-MSFT commented on #66193
@cervezerg Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:42] SumanthMarigowda-MSFT commented on #66198
@RutgerKosters Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:42] SumanthMarigowda-MSFT commented on #66200
@MoulshreeSD Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:44] SumanthMarigowda-MSFT commented on #66202
@sesmailjee  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-17 14:44] rawwar opened #66209 "Wrong spelling of jupyter notebook"
[Wrong spelling of jupyter notebooks. Its written as jupiter which is wrong]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d306ad73-fbd4-65b3-c79e-da50f020dfc2
* Version Independent ID: 3045cd0f-7488-6fbd-0047-f33f61f97f4b
* Content: [What is a workspace - Azure Machine Learning](https://docs.microsoft.com/en-us/azure

[2020-11-17 14:45] SumanthMarigowda-MSFT commented on #66203
@chakra146 Thanks for the question! We are investigating and will update you shortly

[2020-11-17 14:50] vhorne commented on #62106
@Ayanmullick

See https://docs.microsoft.com/azure/firewall-manager/secure-cloud-network-powershell
#please-close

[2020-11-17 14:50] #62106 closed

[2020-11-17 14:53] ram-msft commented on #66104
@damochiz Thanks for the feedback. Raised the PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/138010 for the link update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-17 14:53] #66104 closed

[2020-11-17 15:02] raphaeljoie opened #66212 "document process to manually validate JWT access token signature"
Hello Active Directory,

About the underlying process to validate the signature, I would like to get the exact process?
https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens

I'm using implicit flow grant to get identity token (`response_type=id_token`) and access tokens (`response_type=token`).
In python I was able to build a script
1. Loading the jwks ur

[2020-11-17 15:06] jimmyjamesbaldwin opened #66213 "Static web app instructions for Jekyll error"
Hi, I've attempted to follow the instructions on this doc, but the Step 5 yaml involving the "Set up Ruby" task copied from the doc into the GitHub Action Workflow no longer works, throwing the following error when installing Ruby as set-env used by the install process is now disabled:

[code]

This can be resolved by updating the "Set up Ruby" task to use the following env variable to ignore the

[2020-11-17 15:14] blarosen95 opened #66214 "ASRDeploymentPlanner.exe Not Working As Expected"
When running the executable on Server 2012 R2 with Excel installed and access to the VMware network, the following appears:
![image](https://user-images.githubusercontent.com/26372949/99408028-bf661380-28bd-11eb-98d7-bfb78e2e17d9.png)

The executable appears to target 4.6.2. An attempt was made to install this with the offline installer but was informed the installed framework is already at or abo

[2020-11-17 15:16] ram-msft commented on #66103
@damochiz Thanks for the feedback. Raised PR  #https://github.com/MicrosoftDocs/azure-docs-pr/pull/138014 for stop/start/restart commands to correct names and links.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-17 15:16] #66103 closed

[2020-11-17 15:26] sgdesmet commented on #66188
The exception thrown was:

    {
    "Kind": "FatalException",
    "Content": {
      "Time": "1:14 PM",
      "Exception": {
        "Kind": "Handled",
        "HResult": "80131500",
        "Message": "String format has exceeded the maxmium allowed size of 4096",
        "Data": {
          "IsPolicySpecificError": false
        },
        "Exception": {
          "Kind": "Handled",
          "H

[2020-11-17 15:26] RonnieQuan opened #66215 "VMSS and ASG"
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#nsg--asgs-per-scale-set

Two questions here,
- What happen when auto scale down? if the VMSS instance is configured with ASG?
- What happen when auto scale up, will Azure add the new instance to ASG or user has to take care of it?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit

[2020-11-17 15:27] SadiqhAhmed-MSFT commented on #66195
@Lahiru89 Can you share the scenario type you are referring to? AtoA, VtoA, HtoA, or PtoA?

[2020-11-17 15:30] asifma commented on #33157
Does anyone know if there is any plan to support FW on key vault -> "Private endpoint and selected networks" ?

[2020-11-17 15:33] shashishailaj commented on #66191
@AlexCesarini Thank you for your inputs and confirming the same offline.  I have submitted a change request and the change should show up within the next 24-48 hours. We will now close this issue.

Thank you.

[2020-11-17 15:35] yossi-y commented on #65555
I want to update that documentation was updated and mentions the keys change in: https://docs.microsoft.com/azure/azure-monitor/platform/move-workspace#workspace-move-considerations.

#close

[2020-11-17 15:42] 0GiS0 commented on #66032
Hi all,

I'm facing the same issue that @kishaa had.

Any ideas?

Thanks!

[2020-11-17 15:49] AshokPeddakotla-MSFT commented on #65786
@ningweinw Could you please try using **on_message_received** instead? receive_message_on_input seems to be deprecated

https://docs.microsoft.com/en-us/python/api/azure-iot-device/azure.iot.device.iothubmoduleclient?view=azure-python#receive-message-on-input-input-name--block-true--timeout-none-

[2020-11-17 15:55] cpinotossi opened #66216 "Step 3 Grant the user missing, missmatch <roleAssignmentGuid> vs. <userObjectId>"
The REST example does mention a parameter called "<roleAssignmentGuid>".
The corresponding description does mention a parameter called "<userObjectId>".

Would be good to align both so it is much easier to follow.
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564fcf4e-69b9-a8b0-a362-c4effeca4a8b
* Version Indep

[2020-11-17 15:58] #66191 closed

[2020-11-17 16:18] mrbullwinkle commented on #60555
The article linked to this GitHub issue was retired.

[2020-11-17 16:18] mrbullwinkle commented on #60555
#please-close

[2020-11-17 16:18] #60555 closed

[2020-11-17 16:18] spelluru commented on #55724
##reassign:juliako

[2020-11-17 16:19] spelluru commented on #54665
@reassign:juliako

[2020-11-17 16:20] spelluru commented on #49061
#reassign:juliako

[2020-11-17 16:20] spelluru commented on #14568
##reassign:juliako

[2020-11-17 16:20] spelluru commented on #60091
#reassign:juliako

[2020-11-17 16:20] spelluru commented on #57095
#reassign:juliako

[2020-11-17 16:21] spelluru commented on #53041
#reassign:juliako

[2020-11-17 16:22] zyadamec opened #66217 "AZ CLI now supports tagging subscriptions"
Please update the document to reflect that the AZ CLI now supports tagging subscriptions.

https://docs.microsoft.com/en-us/cli/azure/tag?view=azure-cli-latest#az_tag_update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc31656
* Version Independent ID: 0310805b-ff71-85bf-3f74-ca4caa6a46ce

[2020-11-17 16:23] mcqj opened #66218 "Tutorial Did Not Work"
I followed the imstructions in the tutorial.
It appeared that VSCode uploaded the files - there were no errors. Going to the website URL resulted in an error.

[code]

[2020-11-17 16:30] AlphaSeb commented on #62660
I have the exact same issue!

2020-11-17 17:25:59 [567] Number of running session hosts: 2 of total 2

2020-11-17 17:25:59 [568] Number of user sessions: 0 of total allowed 30

2020-11-17 17:25:59 [569] Number of user sessions per Core: 0, threshold: 3

2020-11-17 17:25:59 [570] Minimum number of running session hosts required: 1

2020-11-17 17:25:59 [683] No need to start/stop any session hosts

[2020-11-17 16:40] hpsin commented on #66212
Hi there @raphaeljoie - make sure that you're only validating tokens that have your app's `aud` claim.  Tokens for Microsoft APIs don't always validate since they use a custom format that they understand how to validate, or they can be encrypted. In general, as a client application you don't need to validate access tokens - there's no benefit to it, and the API will do that validation.

[2020-11-17 16:53] AlphaSeb commented on #62660
I found the 'issue'. **The script only shuts down VM's during Off-Peak hours.**

[2020-11-17 16:58] Lahiru89 commented on #66195
Hyper-V to Azure without VMM

[2020-11-17 16:59] Kentcomp opened #66221 "Add a Compare and Contrast with Entitlement Management's access packages"
[Enter feedback here]
The information is great but it would help to know where exactly does and doesn't it overlap with Entitlement Management's access packages? They clearly have some redundancy, but it's hard to understand where groups stop and access packages begin.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-11-17 17:01] b-roconl opened #66222 "pcuser"
I don't see a mention to create 'pcuser' in windows active directory if they choice to use NTFS security style. It is however mentioned in the Dual protocol  troubleshooting guide here: https://docs.microsoft.com/en-us/azure/azure-netapp-files/troubleshoot-dual-protocol-volumes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-17 17:05] #65555 closed

[2020-11-17 17:12] MarileeTurscak-MSFT commented on #66207
@tofkamp
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 17:15] pjdamato opened #66223 "No detach option found in Azure Portal"
I got to the detach steps but didn't find those options in the portal.
Is the detach option no longer available? Is it an access issue?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72437e7b-8548-a802-e4f8-731059cca276
* Version Independent ID: 9b31eabf-cfd3-cf55-aa30-f8538e0d4f83
* Content: [Detach a data

[2020-11-17 17:19] MonikaReddy-MSFT commented on #66144
@daledev-uk - Thanks for providing more details.

You can raise a question [here](https://docs.microsoft.com/en-us/answers/questions/ask.html), where our engineers and community are helping to answer the product related questions.

Thank you for understanding.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding

[2020-11-17 17:19] #66144 closed

[2020-11-17 17:19] BharathNimmala-MSFT commented on #66051
@mcurko Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply with a link to the Azure documentation you are referring to. We will gladly reopen the issue and continue the discussion.

[2020-11-17 17:19] #66051 closed

[2020-11-17 17:21] PeterCLu commented on #66209
Thanks @rawwar for the catch! You're right, I've fixed the spelling to Jupyter. You should see the changes live in a few hours. I'll proceed to #please-close this issue.

Have a great day!

[2020-11-17 17:21] #66209 closed

[2020-11-17 17:25] DCtheGeek commented on #66122
#reassign:DCtheGeek

[2020-11-17 17:26] BharathNimmala-MSFT commented on #66216
@cpinotossi Thanks a lot for your feedback, we will review and update the document accordingly.

[2020-11-17 17:26] DCtheGeek commented on #66122
@MSNina123456 Thanks for the feedback.  I talked with the PM (@mgreenegit) and this module is getting phased out as a standalone module and the functionality will be added to the core GuestConfiguration module.  I've removed the sections that point to it for now. We'll add new sections when the core GuestConfiguration module is updated with the new cmdlets.  I've submitted a PR, so when it merges,

[2020-11-17 17:27] #66122 closed

[2020-11-17 17:27] AshokPeddakotla-MSFT commented on #65790
Good to hear that you got the answers. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-17 17:27] #65790 closed

[2020-11-17 17:27] davidjrh commented on #14305
Why this issue was closed? Is there another thread?

[2020-11-17 17:38] JamesTran-MSFT commented on #66205
@georgesymonds
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-17 17:39] mrbullwinkle commented on #65484
@Mexicoder thanks for reaching out with your questions/feedback. This example was designed by the engineering team to demonstrate the basics of using the `TrackAvailability()` call, primarily for use cases of VNETs or on premises resources which cannot open up their firewalls for direct communication with Azure.

Unless something has changed since I left the product, this article/solution is not i

[2020-11-17 17:39] mrbullwinkle commented on #65484
#assign:cartersocha

[2020-11-17 17:39] dlew56 opened #66224 "Missing Powershell cmdlet to confirm successful onboarding for Lighthouse"
The Powershell section seems to be missing the cmdlets to confirm successful customer onboarding for Lighthouse.

My guess the appropriate cmdlet(s) to run are:
Get-AzManagedServicesDefinition
Get-AzManagedServicesAssignment

Doc URL: https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#powershell-3

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-11-17 17:45] BharathNimmala-MSFT commented on #65983
@BE-Digital-Solutions-Bart  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply with a link to the Azure documentation you are referring . We will gladly reopen the issue and continue the discussion.

[2020-11-17 17:45] #65983 closed

[2020-11-17 17:48] NavtejSaini-MSFT commented on #66027
@Super-tim At this point we are going ahead and closing this issue. Please get back to us with more information regarding this to take this further.

[2020-11-17 17:48] #66027 closed

[2020-11-17 17:51] sescro opened #66225 "AAD Connect hardware sizing chart implies incorrect sizing for AAD Connect Server when using separate SQL Server"
In the hardware requirements table of disk sizing, it implies that even if you use a separate SQL Server entirely, you still need to make the AAD Connect server disk size up to 500GB in size which is incorrect.  I have had my customers incorrectly size their servers based on this information eluding to this incorrectly.  Please add a note or new table that recommends what the AAD Connect server di

[2020-11-17 17:51] lgayhardt commented on #65627
Assigning this issues to the PM who owns this functionality for App Insights

#assign:MS-jgol

[2020-11-17 17:54] JamesTran-MSFT commented on #66221
@Kentcomp
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-17 17:56] applegrew opened #66226 "Wrong sample provided in doc and missing info."
### Issue 1
The sample output given for the [Test validation response](https://docs.microsoft.com/en-us/azure/event-grid/receive-events#test-validation-response) payload is `{"ValidationResponse":"512d38b6-c7b8-40c8-89fe-f46f9e9622b6"}`. Even in the screenshot it shows this exact response. However, that does not work in practice. It should be `{"validationResponse":"512d38b6-c7b8-40c8-89fe-f46f9e9

[2020-11-17 17:57] NavtejSaini-MSFT commented on #66092
@nunepalli Yes this is still correct. Please share your feedback for the product team to prioritize this. here is the link for the same - https://feedback.azure.com/forums/217535-sql-data-sync/suggestions/39190891-enable-sql-data-sync-on-sql-azure-managed-instance
Hope this helps.

[2020-11-17 17:59] JamesTran-MSFT commented on #66225
@sescro
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-17 18:00] roygara commented on #64644
@naraynm Sorry for the delayed response, this is not possible. We've updated the article to make that more apparent, the updates will be live later today.

Thanks for bringing this to our attention, we appreciate it! :)

#please-close

[2020-11-17 18:00] #64644 closed

[2020-11-17 18:05] himanshusinha-msft commented on #66200
@MoulshreeSD :  Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft QnA and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it n

[2020-11-17 18:05] #66200 closed

[2020-11-17 18:12] bwren commented on #63459
Actually, in public preview today. I'll remove that entry, thanks.

#please-close

[2020-11-17 18:12] #63459 closed

[2020-11-17 18:14] MarileeTurscak-MSFT commented on #66206
@sureshja
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 18:17] bwren commented on #63459
I accidentally read this as Azure Monitor for VMs in my first response (deleted that one). That is out of date though. Removing that sentence.

#please-close

[2020-11-17 18:18] JayaChatterjee-MSFT commented on #66226
@applegrew  Thank you for your feedback! We will review and update as appropriate.

[2020-11-17 18:21] SaurabhSharma-MSFT commented on #65970
@MoulshreeSD We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-17 18:21] #65970 closed

[2020-11-17 18:21] bwren commented on #63421
Sentence isn't needed. I'll pull it.

#please-close

[2020-11-17 18:21] #63421 closed

[2020-11-17 18:25] nunepalli commented on #66092
@NavtejSaini-MSFT Thanks for the response.

[2020-11-17 18:25] #66092 closed

[2020-11-17 18:25] bwren commented on #63328
Thanks, we have a list of videos that we want to put out. I'll make sure this one gets on that list.

#please-close

[2020-11-17 18:25] #63328 closed

[2020-11-17 18:26] tamram commented on #65155
@henkyfen - Thanks for your feedback!

I have added an example that shows how to list blob versions:

https://docs.microsoft.com/azure/storage/blobs/versioning-enable?#list-blob-versions

#please-close

[2020-11-17 18:26] #65155 closed

[2020-11-17 18:27] bwren commented on #59937
I think we forgot to close this one. 2008 SP2 is no longer on the supported list.

#please-close

[2020-11-17 18:27] #59937 closed

[2020-11-17 18:27] SubhashVasarapu-MSFT commented on #65841
@kmcneelyshaw, @jolauMSFT, Appreciate your patience. We are working on the doc edits. Also, this issue has been assigned to the respective SME/author for updating the document accordingly.
@amitsriva / @surajmb, could you please update the doc accordingly. Also, here the IANA names corresponding to the listed OpenSSL names,
DHE-RSA-AES128-GCM-SHA256 --> DHE-RSA-AES128-GCM-SHA256
DHE-RSA-AES128-SHA

[2020-11-17 18:29] bwren commented on #57026
Actually, it's never gone to GA. Solutions are mostly in the process of being deprecated for insights.

#please-close

[2020-11-17 18:29] #57026 closed

[2020-11-17 18:30] tamram commented on #62619
@jlichwa - Thanks for your feedback! The v12 example has been added.

@normesta FYI

#please-close

[2020-11-17 18:30] #62619 closed

[2020-11-17 18:31] bwren commented on #50880
Sorry for late reply. That list is meant to show all of your options, so it includes Data Collector API to compare it to other options.

#please-close

[2020-11-17 18:31] #50880 closed

[2020-11-17 18:32] kmcneelyshaw commented on #65841
@SubhashVasarapu-MSFT are you sure about that first substitution? It doesn't seem to be changing anything.

[2020-11-17 18:33] bwren commented on #66085
This is still in preview, but we'll look at adding that by GA.

#please-close

[2020-11-17 18:33] #66085 closed

[2020-11-17 18:33] Mahesh-MSFT opened #66227 "Customer Usage Attribution for AKS"
This guidance has following note about known issues

Is the issue with AKS customer usage attribution fixed?

If it is not fixed, what is guidance on usage attribution to Partners who are creating Managed Applications on AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version

[2020-11-17 18:33] MonikaReddy-MSFT commented on #66224
@dlew56 -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-17 18:33] #66224 closed

[2020-11-17 18:34] bwren commented on #65448
You are correct, thanks. I'll fix those.

#please-close

[2020-11-17 18:34] #65448 closed

[2020-11-17 18:37] Karishma-Tiwari-MSFT commented on #66079
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-17 18:37] #66079 closed

[2020-11-17 18:37] Karishma-Tiwari-MSFT commented on #66091
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-17 18:37] #66091 closed

[2020-11-17 18:38] bwren commented on #63913
Please assign to @rboucher

[2020-11-17 18:40] MarileeTurscak-MSFT commented on #66207
Thank you. I verified this and made a pull request to correct this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/138070

[2020-11-17 18:40] #66207 closed

[2020-11-17 18:42] mrbullwinkle commented on #58713
Apologies for the delay in response on this one. The answer from the engineering team was the following:

_"Export has not been tested with ADLS Gen 2. Regardless of whether it works or not, there may be some scenarios where it breaks. It is not officially supported."_

[2020-11-17 18:42] mrbullwinkle commented on #58713
#please-close

[2020-11-17 18:42] #58713 closed

[2020-11-17 18:42] MarileeTurscak-MSFT commented on #66204
Thanks! Just made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/138076

[2020-11-17 18:42] #66204 closed

[2020-11-17 18:44] SadiqhAhmed-MSFT commented on #66030
@RZuid The best way to address this issue would be through technical support ticket. Because the issue requires deeper investigation and this is not the right channel for troubleshooting/debugging issues. Here is the link https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request to create support case.

Closing this issue as it is not a doc-bug or doc-e

[2020-11-17 18:44] #66030 closed

[2020-11-17 18:45] rboucher commented on #45763
#please-close

[2020-11-17 18:45] #45763 closed

[2020-11-17 18:46] jerdobi commented on #66174
Automatic pushing is what I thought too.  
That said, I'm finding data in Power BI is not refreshing after initial creation.  I'm thinking it could be IAM not set on all the different things needing to be setup.  You can see the data is handed across 9 things that have to be setup.  I've done it all 1-9 steps below and it's not refreshing the data periodically and there's no errors nor does Azure

[2020-11-17 18:46] PeterCLu commented on #66162
Hi @shoresh57, thanks for bringing this content to our attention. We no longer support the TDSP tools in this repo and have changed our guidance in our docs.

Here's a message from the content creator:

"The TDSP Utilities were created to complement the previous iteration of Azure machine Learning Studio (classic) (now replaced in functionality by the designer).  At the time, the best approach was

[2020-11-17 18:47] WinstonHoward-MSFT commented on #66163
Hey Peter,

So I've been running my VM for a while (booting and rebooting several times) each time the storage size is around the same. Like as I'm writing this its 605kb. So no I wouldn't expect the Boot Diagnostics file size to explode with more usage, it may increase but not significantly.

I just want to clarify what the boot diagnostics are, it is simply a .bmp (a screenshot) and a plain text

[2020-11-17 18:53] r-milne opened #66228 "Typo"
Please correct the use of 'on premises' (sic) - most of the others are correct as 'on-premises'

Cheers,
Rhoderick
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content: [Implement password hash

[2020-11-17 18:55] JamesTran-MSFT commented on #66228
@r-milne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 19:02] JamesTran-MSFT commented on #66228
@r-milne
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-11-17 19:02] #66228 closed

[2020-11-17 19:06] theheatDK commented on #66163
Thanks @WinstonHoward-MSFT
You have answered my question :-)
I was not aware that the .bmp and .txt files for the previous boot were deleted/replaced by the next boot. I thought that two files were created for each boot and they were not deleted, so there would be a series of files.
Regards Peter

[2020-11-17 19:06] #66163 closed

[2020-11-17 19:12] mrbullwinkle commented on #62117
Closing this on out as the doc has been updated with the latest ranges and will go-live later this afternoon.

[2020-11-17 19:12] mrbullwinkle commented on #62117
#please-close

[2020-11-17 19:12] #62117 closed

[2020-11-17 19:21] SadiqhAhmed-MSFT commented on #66227
@Mahesh-MSFT Thanks for the question. We are investigating this issue and will get back to you shortly.

[2020-11-17 19:24] IngridAtMicrosoft commented on #66171
Thanks! Taking care of it.

[2020-11-17 19:30] PeterCLu commented on #66114
#assign:@sdgilley

[2020-11-17 19:32] SadiqhAhmed-MSFT commented on #66214
@blarosen95 Thanks for the update! Glad to hear it is resolved :)

@Rajeswari-Mamilla FYI, please review this request and take necessary action if required a doc update.

Closing this issue for now!

[2020-11-17 19:32] #66214 closed

[2020-11-17 19:32] mrbullwinkle commented on #47969
The article has been updated to point to this sample: https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-alerts-metric#availability-test-with-metric-alert

This change is merged internally and will go-live later today.

[2020-11-17 19:32] mrbullwinkle commented on #47969
#please-close

[2020-11-17 19:32] #47969 closed

[2020-11-17 19:36] Anmolgan81 opened #66229 "Issue with the changes related query?"
I am executing the below query in SQL and its working fine and giving the desired output, but when I run this query in ADF it gives me the below error, can someone explain why thats so?

Qurey:

SELECT
@{item().TABLE_NAME}.*,
    c.SYS_CHANGE_VERSION,
c.studentId,
	SYS_CHANGE_OPERATION
FROM @{item().TABLE_NAME}
	RIGHT OUTER JOIN CHANGETABLE(
	CHANGES @{item().TABLE_NAME}, @{activity('lkupLastChngT

[2020-11-17 19:48] IngridAtMicrosoft commented on #66171
Done.
#please-close

[2020-11-17 19:48] #66171 closed

[2020-11-17 19:57] ecfan commented on #66192
Thanks for calling attention to this issue. I'll fix the image.

#assign @ecfan

[2020-11-17 20:00] jwhitlock opened #66230 "Azure TLS Certificate Changes: How will this affect the attested data API?"
We are verifying VMs by inspecting the [attested data API](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#attested-data). This returns a PKCS#7 message, signed by an included certificate that was issued by one of four "Microsoft IT TLS CA" intermediate certificates, in turn issued by the "Baltimore CyberTrust Root" CA. As announced on [Azure TLS Certifica

[2020-11-17 20:04] femsulu commented on #66217
Hello @zyadamec, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-11-17 20:05] ChaitanyaNaykodi-MSFT commented on #65943
Hello @fhzhang, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-11-17 20:05] #65943 closed

[2020-11-17 20:15] MarileeTurscak-MSFT commented on #65835
"Now, we get an error that says you can not sign in with a personal account."

Is this the only error message you're getting? Can you provide the exact error message or screenshot that the user is seeing?

"Now that ability has been removed leaving us to have to send links tot he resource to users. "

This feature is still present and it hasn't been removed, though if a resource doesn't have a URL

[2020-11-17 20:27] pablodiazgutierrez commented on #66176
Thanks for checking. I tried with that as well since I found it in some forum, with the same result.

-Pablo

From: YutongTie-MSFT <notifications@github.com>
Date: Monday, November 16, 2020 at 8:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Pablo Diaz-Gutierrez <pablo@appfluence.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Getting "Err

[2020-11-17 20:41] MarileeTurscak-MSFT commented on #66029
Thanks for this feedback!

If you are using an Azure AD account to log in, you should be able to log in to the device without a network because the use's information would be cached to your computer.

Another option would be a Windows 10 installation disc.

Hope this helps! If you have further questions feel free to reach out in [Microsoft Q&A ](https://docs.microsoft.com/answers/topics/azure-acti

[2020-11-17 20:41] #66029 closed

[2020-11-17 20:49] vsnreddy2006 opened #66231 "Typo error Azure Event Grid documentation"
[Enter feedback here]

Here's an example of passing the SAS token as a value for the **aeg-sas-toke** header. Typo error : missing n in aeg-sas-token

Link : https://docs.microsoft.com/en-us/azure/event-grid/security-authenticate-publishing-clients#using-aeg-sas-token-header

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-11-17 20:55] #66192 closed

[2020-11-17 20:56] AjayKumar-MSFT commented on #65917
Andrew, kindly let us know if you have any further questions. We will close this out, but if you feel you need more information please just let us know.

[2020-11-17 20:56] #65917 closed

[2020-11-17 20:59] elvirk opened #66232 "Support for Condition?"
[Enter feedback here]
Does ARM template and permissions and action/not action support condition/s?

i.e. I create custom role that I want to apply to different Azure Environments (Azure, Azure US Gov).
I tried this and I ran into issue:
 "The resource provider referenced in the action is not returned in the list of providers from Azure Resource Manager".

---
#### Document Details

⚠ *Do not edit

[2020-11-17 21:07] SatishBoddu-MSFT commented on #65909
Hello @toddysm
Just checking back! Please let us know if you need further help in this matter.

[2020-11-17 21:12] DerekHerman-MSFT commented on #66218
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-17 21:19] jvmap commented on #25118
Today I encountered the same problem. What does PR #67862 refer to?

I get the same result as described in the tutorial, so in that sense the tutorial is correct. The problem is that, after the transformation by redirect-content-urls, the collection.href field in the response contains an invalid URL. A hypothetical user of this API probably would not be happy with that.

![final-response2](https:/

[2020-11-17 21:23] sdgilley commented on #66114
Thanks for your question, @SebDub.  We're investigating now and hope to have an answer for you soon.

#assign:@mx-iao

[2020-11-17 21:30] jahobson75 opened #66233 "SAP Host Agent Version Differences"
The page says to:
"Make sure to use SAP Host Agent 7.21 PL 47 or higher."

However the SAP notes say this is the minimum versions:
"For Azure monitoring, at least SAP Host Agent 7.21 Patch Level 14 must be used"

Does the note need to be updated to reflect the latest version requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-11-17 21:30] JamesTran-MSFT commented on #66208
@binhnguyen1984
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 21:38] jolauMSFT commented on #65841
@amitsriva  / @surajmb . The first line of the change requested by @SubhashVasarapu-MSFT should read:
DHE-RSA-AES128-GCM-SHA256 --> TLS_DHE_RSA_WITH_AES_128_GCM_SHA256

[2020-11-17 21:45] JamesTran-MSFT commented on #66230
@jwhitlock
Thanks for your questions!

Have you looked in our Q&A forums? I'd recommend posting your questions there, since all of the TLS certificate change questions are currently being answered by our product groups within this [MS Q&A forum - **Reminder** Azure TLS certificate changes](https://docs.microsoft.com/en-us/answers/questions/117444/reminder-azure-tls-certificate-changes.html?page=1&

[2020-11-17 22:06] MarileeTurscak-MSFT commented on #66232
@elvirk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-17 22:07] sarah026 opened #66234 "how do we assign a deny assignment"
So, how do we assign a deny assignment please? Can you please include a section for that here? it is part of Access Control

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc146ac-d530-fccb-0157-43cfcaeab937
* Version Independent ID: 84376ebf-b328-39b0-5435-569a31c879e1
* Content: [Understand Azure deny assignments - A

[2020-11-17 22:09] dapperdanhorvath commented on #55313
@vladvino I'm also seeing this behavior, which is very misleading to callers. Any updates or advice?

[2020-11-17 22:16] ryanbrownnetworking777 opened #66235 "Parameterizing not immediately supported Linked Service types leading to time out errors on connect"
Hello,

Not sure if feedback goes here or if there is a better forum; I followed the directions on this page and my linked services now display "timeout occured" when I attempt to do the test connection. I've added parameters sections for Azure Data Explorer (Kusto) and Azure Data Lake Storage Gen2 Linked Services. Is there something I am missing here?

---
#### Document Details

⚠ *Do not edit th

[2020-11-17 22:24] JamesTran-MSFT commented on #66149
@swettstein
Thank you for your time and patience, I reached out to our PIM team and was given the below response.

**PG update:**
We are developing new PIM API at the moment that is going to public beta soon. We will also be generating some new PowerShell commands that will eventually hit GA. We don't have any timeline yet. The one you are using will continue to work but it won't go to GA. We don'

[2020-11-17 22:25] deetoo opened #66236 "disable-tcp-reset annotation deprecated in Azure Load Balancer v1.16-1.18?"
Greetings,
I see in [https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/ ](https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/ )that the following annotation: **service.beta.kubernetes.io/azure-load-balancer-disable-tcp-reset** is deprecated in v1.16-1.18 and scheduled to be removed in newer versions. However, our Docs still include this annotation,

[2020-11-17 22:26] JamesTran-MSFT commented on #66208
@binhnguyen1984
Within the tutorial there was a [note](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code#get-a-user-token-silently) that might help with what you're looking for:

![image](https://user-images.githubusercontent.com/36619112/99458077-d0744c00-28e0-11eb-98d0-bd46efd72a5d.png)
[Internet Explorer known issues](https://github.com/AzureAD/mic

[2020-11-17 22:34] asears opened #66237 "Provide Azure Devops build pipeline usage of azurite storage emulator"
Documentation could provide some detail on how to setup Local Emulator for Storage (azurite) with https and Managed Identity DefaultCredential usage in an Azure Devops pipeline, for C#/Python/Java app tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c

[2020-11-17 22:46] b-juche commented on #66198
@RutgerKosters - Thank you, Rotger!  Doc has been updated to specify "TCP/UDP" in the existing port requirements, as you called out -

111 TCP/UDP = RPCBIND/Portmapper
635 TCP/UDP= mountd
2049 TCP/UDP= nfs
4045 TCP/UDP= nlockmgr (NFSv3 only)
4046 TCP/UDP= status (NFSv3 only)

[2020-11-17 22:47] swellhunter opened #66238 "How to detach OS Disks. How to attach dormant OS disks as data disks?"
These instructions do not seem to apply to OS disks. Can they be updated please.
I want to edit partitions on an OS disk by attaching to another instance.
This should be trivial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a0

[2020-11-17 22:52] jwhitlock commented on #66230
Thanks, reposted at https://docs.microsoft.com/en-us/answers/questions/117444/reminder-azure-tls-certificate-changes.html?childToView=166156

[2020-11-17 22:59] SaurabhSharma-MSFT commented on #66134
@mcurko Thanks for sharing documentation link.  We will investigate and update as appropriate.

[2020-11-17 23:01] ChaitanyaNaykodi-MSFT commented on #66231
Hello @vsnreddy2006, Thank you for pointing the typo out. I have made a PR to fix it.

[2020-11-17 23:11] b-juche commented on #66198
Changes are in the pipeline for publishing. ETA next business day (11/18/20).

#please-close

[2020-11-17 23:11] #66198 closed

[2020-11-17 23:22] JamesTran-MSFT commented on #66230
I'll go ahead and close out your issue, if you don't receive a response from our engineering team please let me know and I'll definitely reach out.

Thank you for your time and patience throughout this issue.

[2020-11-17 23:22] #66230 closed

[2020-11-17 23:24] Jimnar opened #66239 "Are there more detailed troubleshooting steps for "Unauthorized client" section?"
I have configured my VM host machine to be Azure AD registered to my target Azure AD. I'm able to log on the Azure VM using local admin credentials, but not the Azure AD credentials. I have been through the instructions a number of times, created a second virtual machine and done everything else I can think of.  The machine is showing as AzureADJoined. If that is the case, where should I start my

[2020-11-17 23:24] manknewl commented on #66070
Just FYI - that query is not working for me. Documentation might have to be updated if previous query is not correct.

[2020-11-17 23:30] Hazhzeng commented on #63337
Hi @youn123,

We recently updated the documentation on Python folder structure which **no longer requires \_\_app\_\_ namespace**. Please try it out https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure.

[2020-11-17 23:31] Hazhzeng commented on #52712
Hi @jeffthink,

We recently updated the documentation on Python folder structure which no longer requires __app__ namespace. Please try it out https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure.

[2020-11-17 23:31] Hazhzeng commented on #52228
Hi @KSLiquid,

We recently updated the documentation on Python folder structure which no longer requires __app__ namespace. Please try it out https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure.

[2020-11-17 23:32] Hazhzeng commented on #50089
Hi @cecilphillip,

We recently updated the documentation on Python folder structure which no longer requires __app__ namespace. Please try it out https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure.

[2020-11-17 23:32] BharathNimmala-MSFT commented on #65792
@v-tawe Our since apologies for delay in getting back to the thread, we have reached out to our document author @rthorn17 to further help on this issue. Will keep this thread updated as we get more information. Thank you

[2020-11-17 23:39] sgodiyal commented on #66079
Thank you! all for the clarification
    On Tuesday, November 17, 2020, 12:37:30 PM CST, Karishma Tiwari - MSFT <notifications@github.com> wrote:

Closed #66079.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-17 23:43] vladvino commented on #55313
@rafamerlin 401 responses are coming from the JWT validation policy you alluding to in the provided policy snippet. CORS policy never responds with 401. FWIW, the spec is not prescribing status code that didn't meet CORS conditions. We picked 200 OK. I understand that this might be confusing to callers. We will consider adding an option to change that behavior to the policy.

[2020-11-17 23:50] mksuni commented on #65895
@snpdev  Here is the SDK documentation for .NET
This is for Single Server so here is the link for the documentation  [.NET SDK Single server](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.mysql?view=azure-dotnet-preview)

[Nuget can be downloaded from NuGet Gallery | Microsoft.Azure.Management.MySQL 0.1.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Management.M

[2020-11-18 00:01] ningweinw commented on #65786
Even with on_message_received, the Message class doesn't carry device
information at all, refer to
https://docs.microsoft.com/en-us/python/api/azure-iot-device/azure.iot.device.message?view=azure-python

For comparison, let's take a look at the Message class in .NET API:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.message?view=azure-dotnet
It has both ConnectionDevic

[2020-11-18 00:09] the-chad-at-ms opened #66240 "PS Command for existing VMs incorrect"
The command used for powershell for updating existing VMs is incorrect.
The command talks about using -ResourceGroup when in actual fact it should be -ResourceGroupName.
Please can this be updated for the following section/area:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing#powershell-1

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-11-18 00:12] DerekHerman-MSFT commented on #66004
@ms-lolo The product team has made a few clarifications on the doc page. I will now close this thread out. If you need to reopen this thread please tag me and we will be happy to help further.

[2020-11-18 00:12] #66004 closed

[2020-11-18 00:15] Karishma-Tiwari-MSFT commented on #66233
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-18 00:17] Karishma-Tiwari-MSFT commented on #66238
This similar thread should help answer your question: https://github.com/MicrosoftDocs/azure-docs/issues/22501
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-18 00:17] #66238 closed

[2020-11-18 00:18] Karishma-Tiwari-MSFT commented on #66240
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-11-18 00:18] #66240 closed

[2020-11-18 00:19] BharathNimmala-MSFT commented on #65978
@javiersoriano Thanks again for bringing this to our attention. I have raised a PR to reflect the feedback , once its reviewed and approved it will be merged with the live document later in the week.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what is already called out above . We will go ahead and clo

[2020-11-18 00:19] #65978 closed

[2020-11-18 00:20] cmmdesai commented on #66164
@wtcan99 Thank you for reaching out. The connector uses Workday's Get_Workers web service API. Whatever data we get with this API can be used during provisioning. Please check with your Workday admin/consultant to see if it is possible to fetch French translated words in the response of Get_Workers. If that's possible, then you can build an appropriate XPATH to retrieve the correct value. Let us k

[2020-11-18 00:34] nagau commented on #66114
@SebDub,
Sorry that you are running into this issue. We are working on a fix that will allow you to warm start the run as intended.
In meantime, we believe that you should be able to to warm start from an already existing run with lesser number of childruns. You can try warm starting a run with 100 child runs and that should work.
We will also work on fixing the error message, so that you get an a

[2020-11-18 00:37] BharathNimmala-MSFT commented on #65971
@dodge1350-frp Thanks again for reaching out, requesting you to please review [this ](https://docs.microsoft.com/en-us/azure/automation/manage-office-365#connect-to-the-azure-ad-online-service) documentation on how to "Connect to the Azure AD online service".

Please review the above information and get back to us if you have any further queries. Thank you

[2020-11-18 00:39] CaitlinV39 commented on #66056
@NavtejSaini-MSFT - Can you assign this to me. I will own the update.

[2020-11-18 01:06] tamram commented on #66037
@normesta - FYI

[2020-11-18 01:06] dodge1350-frp commented on #65971
Thanks for that update, but that is only valid for non-MFA based credentials.  We use MFA completely, as everyone should.  Please review your documentation and update accordingly if possible.  Thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BharathNimmala-MSFT <notifications@github.com>
Sent: Tuesday, November 17, 2020 7:38:09 PM
To: MicrosoftDocs/az

[2020-11-18 01:12] softcraftsman opened #66244 "Confusing 'froms'"
The English of this statement is confusing. I would expect it to say "from" and "to", yet it says "from" and "from".

Configure IP ACLing for your backends to accept traffic **from** Azure CDN **from** Microsoft's backend IP address space and Azure's infrastructure services only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-18 01:22] MarileeTurscak-MSFT commented on #65816
Sorry for the late reply on this. I read the document the same way as you did, since it is stated that Seamless SSO is not used on hybrid Azure AD domain joined devices. I have assigned this to the document author to update for clarity. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso

[2020-11-18 01:23] MarileeTurscak-MSFT commented on #66234
@sarah026
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-18 01:25] mike-urnun-msft commented on #65897
Hi @ERGeorgiev - I've gone through the steps on this documentation and didn't encounter the issue that you have observed. Since this channel is more for driving improvements towards MS Docs and we didn't find any faulty steps in the doc, we're going to proceed to close this issue. If you're still hitting that error on the `docker build` command, could you open a post on [MS QnA](https://docs.micro

[2020-11-18 01:25] #65897 closed

[2020-11-18 01:28] genlin commented on #66203
@chakra146, The script has been updated with a new method to retrieve wrapped BEK. Thanks @SquirrelAssassin for providing the new script.

[2020-11-18 01:35] SaebAmini commented on #66110
@vipulsparsh close, but that's using the implicit flow:

![image](https://user-images.githubusercontent.com/6758734/99471370-205f1b80-2992-11eb-9a35-5b94fdca0978.png)

[2020-11-18 01:40] SatishBoddu-MSFT commented on #65820
Hello @pranavsanghadia
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-11-18 01:56] SatishBoddu-MSFT commented on #65999
Hello @wmk1 Thanks for the feedback!
The document section which you have referred to is about how to connect to your 'container registry' from VS code to push the images.
As far as the document, the information is about pushing the container images to your 'container registry' and then initiate deployment from VS code. It won't ask for any password for your RPI. You will need your container regist

[2020-11-18 02:25] jherkyesse opened #66250 "[CredScan] Ignore files under scanFolder"
I'm trying the Azure DevOps CI Pipelines and already added CredScan in my flow.
For some reasons I would like to ignore some files under the scanFolder parameter, is it possible to ignore specific files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ca5e7d-d25c-2b11-44fe-620946cf4577
* Version Independent ID: 224fdc

[2020-11-18 03:14] NavtejSaini-MSFT commented on #66056
@CaitlinV39 We have assigned this to you for further action.

[2020-11-18 03:24] RIKIKU opened #66253 "Documentation for ARM Template is missing resource type."
The JSON supplied does not include the resource type, is this in the WAF resource? looking at the arm template schema for application gateway, it seems not. In order to use the supplied JSON for anything, some context needs to be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc6

[2020-11-18 03:35] VikasPullagura-MSFT commented on #66215
@RonnieQuan
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-18 03:36] VikasPullagura-MSFT commented on #66215
@mimckitt
Can you please check and add your comments on this.

[2020-11-18 03:41] VikasPullagura-MSFT commented on #66236
@deetoo
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-18 03:43] VikasPullagura-MSFT commented on #66223
@pjdamato
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-18 03:48] Jimnar commented on #66239
I was able to get my scenario to work by following the instructions in this YT video. https://www.youtube.com/watch?v=hbKNrNjQpUw&t=303s. I'm curious why these steps, if required, are not documented in this article.

[2020-11-18 04:05] #65469 closed

[2020-11-18 04:06] BryanTrach-MSFT commented on #65469
@npalmiusfutr I apologize for the delay but I received confirmation from the technical lead that the number has indeed changed to 128 SNAT ports per instance now.

Please note that the port allocation section that you referenced is for Azure IaaS infrastructure. The Azure PaaS infrastructure while similar has different limitations than what that doc lists.

I have submitted a change request for th

[2020-11-18 04:07] spelluru commented on #65931
@ccarns - Thanks for reporting the issue. However, I couldn't reproduce the issue with the 0.50.3 version of azure-servicebus.

Here's the code I tried:

[code]
Here's the link to the complete method in the reference content:

https://docs.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.common.message.message?view=azure-python#complete--

[2020-11-18 04:07] spelluru commented on #65931
#in-progress

[2020-11-18 04:08] spelluru commented on #65164
#in-progress

[2020-11-18 04:10] BryanTrach-MSFT commented on #66046
@DarrenWainwright Thank you for the feedback. After further review, we believe your doc idea would be best reviewed by the doc author so we have assigned the feedback to them.

[2020-11-18 04:17] spelluru commented on #59641
Add "The peek operation on a subscription returns all messages except scheduled messages in the subscription message log."

#please-close

[2020-11-18 04:17] #59641 closed

[2020-11-18 04:21] SnehaAgrawal-MSFT commented on #66213
@jimmyjamesbaldwin Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-18 04:28] PramodValavala-MSFT commented on #66049
@vbeaulieu278 When you have any client consuming messages, notifications are not sent out. But when the client is offline (like the PC shutdown), on the next interval a notification should indeed be sent out. And the metric is the way to check for active connections.

Could you confirm if you were getting notifications for other entities within the namespace at the time?

[2020-11-18 04:29] jerdobi commented on #66174
I got it working tonight...
Continuous Export will only go to the West Central US Location.  You must also have the Blob Storage in West Central US and the Streaming Analytics jobs in West Central US.  If not, it doesn't work and no errors.  Therefore, no hops between location or it won't work.
Gary
    On Tuesday, November 17, 2020, 10:46:02 AM PST, Gary Wood <jerdobi@yahoo.com> wrote:

  Automat

[2020-11-18 04:43] SumanthMarigowda-MSFT commented on #66222
@b-roconl Thanks for the question! We are investigating and will update you shortly

[2020-11-18 04:44] SumanthMarigowda-MSFT commented on #66229
@Anmolgan81 Thanks for the question! We are investigating and will update you shortly

[2020-11-18 04:45] reddyeswar161 opened #66254 "Where can I find local.user.config"
Where can I find local.user.config? I couldn't find it anywhere in the solution

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abde5e63-dcca-331a-2dde-21486b984ea4
* Version Independent ID: 3b33f27e-2690-a0c0-a4a4-1c9ddf73b3e2
* Content: [Introduction to IoT solution accelerators - Azure](https://docs.microsoft.com/en-

[2020-11-18 04:45] SumanthMarigowda-MSFT commented on #66237
@asears Thanks for the question! We are investigating and will update you shortly

[2020-11-18 04:46] SumanthMarigowda-MSFT commented on #66254
@reddyeswar161  Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-11-18 04:53] reddyeswar161 commented on #66254
https://github.com/Azure/azure-iot-connected-factory

[2020-11-18 04:53] BryanTrach-MSFT commented on #65462
@ChrisSommers Yes, a web app should be able to integrate with a WAF and regional VNET with expressroute. The AppGateway WAF for example uses the FQDN of the web app, so there shouldn't be any configuration issues with that. You should not need an ASE for this configuration.

With that being said, this is a more complex setup so feel free to reach out to us if there are any issues with setting it u

[2020-11-18 04:53] #65462 closed

[2020-11-18 04:55] reddyeswar161 opened #66255 "What is RDX service?"
What is RDX service? Can you please explain what is RDX and why it is used..

[2020-11-18 04:59] reddyeswar161 commented on #66254
https://github.com/Azure/azure-iot-connected-factory

[2020-11-18 05:08] BryanTrach-MSFT commented on #65517
@difatkulbayanova When customers create an ILB ASE, they assign a domain to it such as contoso.com. From here, most customers will use a wild card cert *.contoso.com to protect their ILB ASE and any apps that might be created within it.

Some customers though are unable to use wild card certs due to their company policies and security standards that they set for themselves. As a result, customers

[2020-11-18 05:08] #65517 closed

[2020-11-18 05:13] BhargaviAnnadevara-MSFT commented on #66119
@nidiculageorge Yes. As further updates are available to be tracked in #66087, we will now proceed to close this thread. But if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-18 05:13] #66119 closed

[2020-11-18 05:15] JSeb225 commented on #66174
Hi, happy to see it is working. However, looking at your flow it should work in any region. We don't have any limitations on the location of the storage account.
On your question related to set up the dataset, you indeed need to specify it from the Stream Analytics job and it will be created at the time the first output is generated.
What happens when you are using this pipeline in another region,

[2020-11-18 05:17] VikasPullagura-MSFT commented on #66223
@pjdamato I just tested it and I see an option to detach the disk from Azure Portal.

Here is a screenshot for your reference:
![image](https://user-images.githubusercontent.com/48944027/99487002-5f3da300-298b-11eb-94e6-a738eadc0a61.png)

Can you please check this once on your side for this option.

[2020-11-18 05:17] AjayKumar-MSFT commented on #65904
@mcbsys, thanks for sharing a detailed description of the issue and repro steps, I'm checking on this and will get back to shortly.

[2020-11-18 05:24] BryanTrach-MSFT commented on #65733
@chenxizhang Can you please try to go to the CORS blade for your web app and create a setting for *. While we don't recommend this setting, for testing purposes, this will help us verify if there is an issue with the domains that you have allowed.

We look forward to your reply.

[2020-11-18 05:26] jerdobi commented on #66174
I didn't test the combination of storage out of location; I put all 3 in same location/region just to make it a more sure thing.  Most likely it's just the streaming analytics job and the power bi extension need to be in the same region/location on refresh.  The confusing think is it works for the initial dataset creation then fails for refresh.  I've opened a support ticket yesterday and they loo

[2020-11-18 05:27] AnuragSharma-MSFT commented on #66136
@elsantorini Just wanted to follow up on this and check if this answers your query.

[2020-11-18 05:28] chenxizhang commented on #65733
@BryanTrach-MSFT  I think this error message mean that we can't access the "https://login.windows.net", how we can set the CORS of this site?

[2020-11-18 05:29] cannehag commented on #36458
I agree too. It's really time for some explanation on how to use slots here!

[2020-11-18 05:36] SubhashVasarapu-MSFT commented on #65841
@kmcneelyshaw, Apologies. It's my bad. @jolauMSFT, Thanks for the quick fix.

[2020-11-18 05:38] BryanTrach-MSFT commented on #65733
@chenxizhang Can you please navigate to portal.azure.com and then select your backend app and then select the CORS blade of the backend app. Please ensure that there is the front end app allowed as shown in the below example.

![image](https://user-images.githubusercontent.com/20250350/99489688-2a930280-291d-11eb-81ac-470d0c873d0f.png)

[2020-11-18 05:42] chenxizhang commented on #65733
@BryanTrach-MSFT  Thanks, we already do this settings.

[2020-11-18 05:45] SubhashVasarapu-MSFT commented on #66244
@softcraftsman, Appreciate your patience. The document has been edited accordingly and it would take some time for the changes to reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-18 05:45] #66244 closed

[2020-11-18 05:49] SumanthMarigowda-MSFT commented on #66255
@reddyeswar161 Can you please provide us with the URL of the Azure Doc you are having a query with? We look forward to your reply.

[2020-11-18 05:51] BharathNimmala-MSFT commented on #65971
@dodge1350-frp We greatly appreciate your feedback, we will take the feedback to our document author and our internal product team and see how we can improve the documentation , with a backlog item.

Once the feedback is reviewed , we will a have a PR to update the live document and link to this thread so that it makes you aware that the feedback as been reflected on the live document.

We will go

[2020-11-18 05:52] SebDub commented on #66114
@sdgilley & @nagau  Thanks a lot for the answers! Great to see such reactivity !
I'll try with smaller numbers.
Looking forward to the fix.

[2020-11-18 05:56] psmanhas commented on #66102
@DOMZE I got below information from our backend team:

This is a known issue, we have a rollout going out with a fix but in the meantime as a mitigation you can modify all listen directives in your nginx config to: listen 0.0.0.0:port.That will force it to only listen on ipv4 addresses.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regardi

[2020-11-18 05:56] #66102 closed

[2020-11-18 05:57] AjayKumar-MSFT commented on #65940
@desplesda, As mentioned above, Face detector has been deprecated as of June 2020, we will add a note on this in the document for brining clarity. [Azure Media Services legacy components](https://docs.microsoft.com/azure/media-services/previous/legacy-components).
Based on your scenario and as mentioned in the same document, you could migrate to [Media Service v3 (latest)](https://docs.microsoft.c

[2020-11-18 05:57] #65940 closed

[2020-11-18 06:02] shashishailaj commented on #66250
@jherkyesse Thank you for your query . We will investigate and update the thread.

[2020-11-18 06:04] shashishailaj commented on #66239
@Jimnar Thank you for your feedback . We will have the video reviewed and check with engineering and the content team on how best the information can be documented.

[2020-11-18 06:08] SubhashVasarapu-MSFT commented on #66253
@RIKIKU, Appreciate your feedback. Here the doc is more towards explaining the WAF configurations in Application Gateway, so the ARM schema snippets are cropped/sampled to just WAF configuration for quick view and understanding. Here is the complete template of [Microsoft Application Gateway](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/applicationgateways) to modify resource

[2020-11-18 06:19] KrishnaG-MSFT commented on #66034
@PatrickLownds Good observation! I have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks.

[2020-11-18 06:19] #66034 closed

[2020-11-18 06:30] Deepti886 commented on #66155
Hi,
Is there any update on the above ask?

[2020-11-18 06:36] wanglijun378617 opened #66257 "The backend don't create new subnet automatically when create AKS cluster with virtual node enabled."
Hi team,

When create AKS cluster on the portal by enable virtual node, it will show validation failed with below error msg:

{"code":"InvalidTemplateDeployment","message":"The template deployment 'microsoft.aks-20201118142343' is not valid according to the validation procedure. The tracking id is 'd3522973-f6c2-434d-824c-147092f997f7'. See inner errors for details.","details":[{"code":"GetSubnetE

[2020-11-18 06:53] #66087 closed

[2020-11-18 06:54] VikasPullagura-MSFT commented on #66133
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-18 06:54] #66133 closed

[2020-11-18 07:00] kishaa commented on #66032
@SubhashVasarapu-MSFT Is there any update on this issue which you would like to share?
Please share any workaround to get app gateway integrated with AKS

[2020-11-18 07:03] OwainWin commented on #36458
I also agree, this thread was started over 15 months ago and there is still no stable resolution.
We cannot use slots until this has been properly resolved with a trusted solution, slots are a fantastic feature but they need to be reliable.

[2020-11-18 07:16] kny78 opened #66258 "Preview of PostgreSQL 12 and 13"
We have used PostgreSQL 12 in development, and would actually prefer to use PostgreSQL 13.

It would be very nice if you could provide PostgreSQL 12 and 13 as a "preview" version, but with lower guarantees etc. This could be solved by adding versions like:
* 12.0-preview
* 13.0-preview

Then we could use PostgreSQL 12 in development and less important applications. And Azure would get some experie

[2020-11-18 07:30] VikasPullagura-MSFT commented on #66257
@wanglijun378617
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-18 07:34] Klaas- commented on #58365
It was finally announced, https://azure.microsoft.com/en-us/updates/azure-backup-for-sap-hana-backup-user-management-improvements/ - but that does not fit my requirement of timely notification of changes. For now I have just created a github repo with an action that checks for a new version and commits it if there is a new version.

[2020-11-18 07:37] SadiqhAhmed-MSFT commented on #66173
@jdelforno You have REST API, PowerShell as well as CLI options to create Azure Subscriptions Programmatically in EA:

![image](https://user-images.githubusercontent.com/44458118/99499438-ed6f5480-299e-11eb-86b4-75114d376ebf.png)

Reference: https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription?tabs=rest-getEnrollments%2Cazure-powershell-EA%2Cre

[2020-11-18 07:44] MSSedusch commented on #66233
@jahobson75 SAP Host Agent 7.21 PL47 is only required if you use the new version of the extension. The default/old extension works with PL14. We will update the SAP Note to reflect that as well. Thanks for your feedback.

[2020-11-18 07:44] KrishnaG-MSFT commented on #66118
@vasalis Good observation! Yes, the link is broken because of the reason shown in below screenshot. Use the new link i.e., https://partner.microsoft.com/en-us/dashboard/partnerinsights/analytics/overview.

![image](https://user-images.githubusercontent.com/45988031/99499585-23143d80-299f-11eb-869c-e5a816805265.png)

@vikrambmsft Can you confirm and update the below highlighted section as well in t

[2020-11-18 08:00] KrishnaG-MSFT commented on #66048
@github-2407 (krsh) / @emuench, When I try to edit this document to create a Pull Request by going to GitHub reference of same doc [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace/azure-vm-create-using-own-image.md), the content in the doc looks changed. Do you know the reason for it? Can you correct it so that correct content is live?

[2020-11-18 08:20] sukhans commented on #66250
@jherkyesse the documentation at https://docs.microsoft.com/en-us/azure/security/develop/security-code-analysis-faq#what-are-common-suppression-scenarios-and-examples shows all the different ways in which you can suppress credentials. Do any of these answer your question?

[2020-11-18 08:26] PramodValavala-MSFT commented on #65975
@subhasett This has now been fixed. Thanks @vladvino!

[2020-11-18 08:26] #65975 closed

[2020-11-18 08:27] KrishnaG-MSFT commented on #66130
@savas-guven Good catch! I have verified and updated the document as required i.e.,

from - "_Sending them to the Azure Monitor Logs store (which is searchable via Log Analytics) you to integrate them into queries which search across other logs._"

to - "_Sending them to the Azure Monitor Logs store (which is searchable via Log Analytics) helps you to integrate them into queries which search acros

[2020-11-18 08:31] SarveshPandey opened #66259 "Is there any way to start stop the HDInsight and can we setup HADR on it?"
It is tedious task for us to delete and re-create the Cluster everyday. We are expecting from Microsoft to launch a Start Stop just like Azure Synapse. Alon with this, is there any way to setup HADR on Kafka HDinsight?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0edc8be-5f9c-4146-17a3-08f88d3bcd48
* Version Indepen

[2020-11-18 08:48] psmanhas commented on #66115
@kaleshas Can you please provide information as per ask so I can help you out better here?

Thanks

[2020-11-18 08:48] marinnedea opened #66260 "Incorrect refference in documentation to /etc/sshd_conf <-- file doesn't exist"
The line:
Enable root access in /etc/sshd_conf. This is caused by not enabling root ssh access in /etc/sshd_conf as per the “[Preparations for the upgrade](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-in-place-upgrade#preparations-for-the-upgrade)” section.

Should be:
Enable root access in `/etc/ssh/sshd_config`. This is caused by not enabling root ssh access in

[2020-11-18 08:50] psmanhas commented on #65506
@shizhMSFT Can you please provide your inputs on mentioned ask?

Thanks

[2020-11-18 08:51] vipulsparsh commented on #66183
@byohei125 The requirement for having the AIP license is for when we use AIP functionality, the AIP license is not required while adding that AIP connector in Azure Sentinel, you only need workspace access permission plus any of the following roles :
'Security Administrator' or 'Global Administrator' or 'Azure Information Protection Admin' on the workspace's tenant.

Let me know if you have any qu

[2020-11-18 09:04] SnehaAgrawal-MSFT commented on #65385
@tiagonmas Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-18 09:14] SadiqhAhmed-MSFT commented on #66195
@Lahiru89 The maximum allowed value for Recovery point retention is 24 hours when protecting via Hyper-V hosts. Adding the doc link here - [Set up Hyper-V disaster recovery using Azure Site Recovery - Azure Site Recovery | Microsoft Docs](https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial#set-up-a-replication-policy)

Hope that answers your question!

[2020-11-18 09:16] SumanthMarigowda-MSFT commented on #66235
@ryanbrownnetworking777 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-18 09:17] SumanthMarigowda-MSFT commented on #66258
@kny78 Thank you for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-11-18 09:23] kny78 commented on #66258
It was this page:
   https://docs.microsoft.com/en-us/azure/postgresql/concepts-supported-versions
The question is also relevant to PostgreSQL Flexible Server

[2020-11-18 09:23] sheigel opened #66261 "Sections mentioning powershell azuread commandlets cannot be used"
Because the very bad development practices inside the powershell azuread module (having dependencies on System.Windows.Forms from a cli tool is ridiculous) the commands from: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#identify-configuration-in-scope-of-retirement cannot be followed.
The module cannot be used on linux.
The commands

[2020-11-18 09:30] Lahiru89 commented on #66195
Yes. thank you. Is there any chance that it would increase to 72 hours for Hyper-V in future?

[2020-11-18 09:44] bertrandpons opened #66262 "What about Azure AD for B2C when transferring subscription to another AAD directory?"
Hello,

Regarding AAD for B2C, is there anything to know and/or to take care of when we want to transfer an subscription to another AAD directory, this subscription containing an Azure AD for B2C tenant?

Thank you for your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afab524-67c2-2e76-fd7a-46238cb9d249
* Vers

[2020-11-18 09:53] jvmap commented on #25118
I eventually used this policy to get the output I wanted.
`<outbound>
        <set-header name="X-Powered-By" exists-action="delete" />
        <set-header name="X-AspNet-Version" exists-action="delete" />
        <find-and-replace from="@("://" + context.Api.ServiceUrl.Host + ":443" + context.Api.ServiceUrl.Path)" to="@("://" + context.Request.Headers["Host"][0] + context.Api.Path + "/")" />

[2020-11-18 10:06] mloskot commented on #64853
The release notes of the latest Azure CLI 2.15.0 at https://docs.microsoft.com/en-gb/cli/azure/release-notes-azure-cli#network say:

Is this related to this issue?

[2020-11-18 10:17] naraynm commented on #64644
Thanks for confirming and updating the article.

[2020-11-18 10:26] langebo opened #66263 "Upload all containers of Blob Storage IoT Edge module"
We are currently trying to implement the Azure Blob Storage on IoT Edge module into an existing IoT Edge solution. The solution dynamically creates blob storage containers with names that are generated at runtime.

The desired properties configuration "storageContainersForUpload" allows us to define static source container names and dynamic target container names.

[code]

Since the solution produ

[2020-11-18 10:27] Lerty opened #66264 "Diagnostic logs explanination of DDoS categories"
## DDoS Diagnostic logs explanination

Issue lists:

- [ ] The relevant Azure service or technology.
DDoS protection plan

- [ ] A link to the published documentation article that you have feedback about.
https://docs.microsoft.com/en-us/azure/ddos-protection/reports-and-flow-logs

- [ ] Clear, specific feedback that the author can act on.

Issue: Need the results explanation/reference doc of DDoS

[2020-11-18 10:29] Lerty commented on #66264
Is there a reference doc specifically for the DDoS categories?

[2020-11-18 10:58] peterjoinobits opened #66265 "Doucmentation error w.r.t combined security information registration and AAD Audit logs"
[Enter feedback here]
This page states the following:

The events logged for combined registration are in the Authentication Methods category in the Azure AD Audit logs. However I believe this to be incorrect. Authentication Methods is under the Service filter and not under the Category filter. This need to be corrected.

Also the UI is completely different in my AAD tenant.

---
#### Document Det

[2020-11-18 11:05] jherkyesse commented on #66250
@sukhans Thanks for reply :)
I have tried the suppressionsFile parameter and get an error: [ERROR] Failed to load suppression rules. Suppression file is malformed.

btw I'm confused with the type "filePath" cause the scanFolder could accept folder path but suppressionsFile/searchersFile could only accept file path. And my expectation is to ignore the whole folder, not only some files.

[2020-11-18 11:18] Kitwradr opened #66266 "Unable to create Feature flag with ARM template"
Hi, please provide better documentation of how to create feature flags via ARM templates. I am not able to figure it out.

The only documentation I found for feature flags is this

`For feature flag, the value should be application/vnd.microsoft.appconfig.ff+json;charset=utf-8. For Key Value reference, the value should be application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8. Otherwis

[2020-11-18 11:21] SubhashVasarapu-MSFT commented on #66032
@kishaa, @0GiS0, Yes, this addon is missing on the list and been a showstopper for now. Also, this feature is not yet generally available and is in preview. We don't recommend deploying these in your production environments as it is still under testing and evolving.
We have raised this issue with the corresponding product team.

[2020-11-18 11:26] SarveshPandey opened #66267 "Does Azure has service to migrate data from AWS MSK to Azure Kafka HDInsight"
I am looking for way to migrate data from AWS MSK to Azure Kafka. Is there any service available to do that are what are its pre-migration Prerequisites?

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0edc8be-5f9c-4146-17a3-08f88d3bcd48
* Version Independent ID: 3d390731-26cf-3a8e-a11c-e73a3efccf4e
* Content: [An introduc

[2020-11-18 11:27] harelbr commented on #50121
#please-close

[2020-11-18 11:27] #50121 closed

[2020-11-18 11:28] harelbr commented on #45109
#please-close

[2020-11-18 11:28] #45109 closed

[2020-11-18 11:29] harelbr commented on #16061
#please-close

[2020-11-18 11:29] #16061 closed

[2020-11-18 11:40] Anmolgan81 commented on #66229
Hi is here any updates ?

[2020-11-18 11:41] MoulshreeSD commented on #66229
I am facing the same issue.. Any updates here?

[2020-11-18 11:53] KamleshKhollam opened #66268 "Azure Stream Analytics Job Reference Input Join Error"
Hi Team

I am trying to use following query to join stream input (deviceinput) and reference input (refinputpdjson):

`SELECT din.EventProcessedUtcTime, din.deviceid as streamdeviceid, din.heartrate as streamheartrate, refin.deviceid as refdeviceid, refin.patientid as refpatientid FROM deviceinput din TIMESTAMP BY EventProcessedUtcTime LEFT OUTER JOIN refinputpdjson refin ON din.deviceid = refin.d

[2020-11-18 11:55] jonashaefele opened #66269 "exportPathMap is now getStaticPaths"
[Enter feedback here]

The article, while being really clear and precise, is referring to an old version of Next.js

`exportPathMap` in next.config.js has been replaced by `getStaticPaths` on each page.

https://github.com/vercel/next.js/issues/9524#issue-528348833
https://resir014.xyz/posts/2020/03/07/supercharging-your-nextjs-site-with-getstaticprops-and-getstaticpaths

---
#### Document Details

[2020-11-18 11:57] asergaz commented on #66050
fyi @tesych

[2020-11-18 12:12] #65862 closed

[2020-11-18 12:14] ezYakaEagle442 opened #66270 "AKS Internal Ingress requires IP from 10.240.0.0/16 , not documented"
Following the Reference doc at [https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip#create-an-ingress-controller](https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip#create-an-ingress-controller)
[code]

In the above sample , the IP is **10.240.0.42**,

When trying with 10.0.4.45 it fails, kubectl get events shows :
CreateOrUpdateLoadBalancer   service/internal-ingress-ingres

[2020-11-18 12:19] CHEEKATLAPRADEEP-MSFT commented on #66259
@SarveshPandey  Unfortunately, you cannot Start/Stop Azure HDInsight clusters.

I would suggest you to vote up an idea submitted by another Azure customer.

https://feedback.azure.com/forums/217335-hdinsight/suggestions/5663773-start-stop-cluster-hdinsight

All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure

[2020-11-18 12:21] CHEEKATLAPRADEEP-MSFT commented on #66267
@SarveshPandey  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-11-18 12:21] #66267 closed

[2020-11-18 12:24] CHEEKATLAPRADEEP-MSFT commented on #66268
@KamleshKhollam  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2020-11-18 12:24] #66268 closed

[2020-11-18 12:26] #62364 closed

[2020-11-18 12:32] kiranpradeep opened #66271 "Specifying container registry for the docker image"
This document correctly specifies how to package a model into a docker image. But that does not allow the user to specify the  the container registry to be used. It pushes docker images to ACR associated with workspace. Could the document be extended on how to specify the ACR address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-11-18 12:54] KrishnaG-MSFT commented on #66266
@Kitwradr Thanks for the feedback!
Assigning to content owner @ZhijunZhao for visibility, review and document enhancement consideration as appropriate.

[2020-11-18 13:03] ZhijunZhao commented on #66266
@Kitwradr Thanks for the feedback! For now, please check whether below chat thread could help you.

https://github.com/Azure/AppConfiguration/issues/268#issuecomment-687107342

[2020-11-18 13:07] VikasPullagura-MSFT commented on #66260
@marinnedea Thanks for the feedback. The document is updated and changes will go live soon.

[2020-11-18 13:07] dodge1350-frp commented on #65971
This issue isn't closed.  Where is the code to use Connect-MsolService via MFA in Azure Automation using credentials?  That's the question, and I haven't seen any answer her to that effect.  This should not be closed until an answer is provided or you say you can't do it and put it into a que to have it fixed.  What is going on?

[2020-11-18 13:10] bilak opened #66273 "Reset performance insights"
[Enter feedback here]
Hi, we would like to reset performance insights between performance load tests. Is there any option to do so? Maybe deleting some data from tables, etc...?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb9e85-9373-ea1a-2ab9-93967339d617
* Version Independent ID: 1405577d-16e1-4b97-e9f3-

[2020-11-18 13:12] DOMZE commented on #66102
@psmanhas Thank you. When is the fix coming out? If it's not within the next few days, preferably update the doc with the correct information and re-update it once the fix is done.

Otherwise right now, the information is incorrect and people do not see this issue in the documentation

[2020-11-18 13:19] shizhMSFT commented on #65506
@puneethkgowda @psmanhas Sorry for the late reply. The response shows `401 Unauthorized`, which means that
- Incorrect username / password are provided
- Or, incorrect type of credential is provided. Please note that `helm repo add` accesses remote servers using basic auth. For ACR, only admin user credentials or service principal credentials can be accepted for basic auth.

Please verify your cre

[2020-11-18 13:20] emilpeder opened #66274 "Missing $"
The line:
`azureaduser=$(az ad user list --filter "userPrincipalName eq '<user-principal-name>'" --query [].objectId --output tsv)`
I guess lacks "$" in the front, or maybe there is something I am missing :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4

[2020-11-18 13:39] MonikaReddy-MSFT commented on #66001
@aressler38 - Thanks for providing the details. I will work with the Content author to get the doc Updated. Thank you.

[2020-11-18 13:43] PramodValavala-MSFT commented on #66179
@hitsy The passphrase isn't sent to the server but just used to decrypt the SSH Key before connecting. Could you confirm if you are able to connect to it using the same SSH Key from another machine?

[2020-11-18 13:53] pjdamato commented on #66223
Hi -

I guess the confusion is that when I hover over the "X" it says "Delete".

[image: image.png]

-Paul

On Wed, Nov 18, 2020 at 12:17 AM VikasPullagura-MSFT <
notifications@github.com> wrote:

--
Paul D'Amato

[2020-11-18 13:55] mcqj commented on #66218
In actual fact, the answer was fairly straightforward.
It was just that the suggested HTML needed to be a little more complete.
Changing index.html to:
[code]
resolved the issue

[2020-11-18 14:03] souravmishra-msft commented on #66110
Hello @SaebAmini, the sample shared above uses OpenIDConnect for Authentication, and then it uses the Auth-Code Grant flow to fetch a token from AAD. In the auth process since it is using OpenIDConnect, ID-Token is issued by AAD as a response to the auth request and on receiving the ID-Token by the app who initiated the auth-request knows that the user got successfully authenticated.

The sample a

[2020-11-18 14:06] AnuragSharma-MSFT commented on #66136
@elsantorini We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-18 14:06] #66136 closed

[2020-11-18 14:07] vhorne commented on #64498
Updated for breaking UI changes
#please-close

[2020-11-18 14:07] #64498 closed

[2020-11-18 14:10] RohitMungi-MSFT commented on #66109
@msdpalam We hope the above information to use additional forms helps to train model with higher accuracy. Our content team is tagged to update the documentation with more clarify and guidance.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-11-18 14:10] #66109 closed

[2020-11-18 14:24] mmacy commented on #66110
@SaebAmini To add to @souravmishra-msft's response, this is referred to as the **hybrid flow**. We're currently in the process of adding a section about the hybrid flow to our [auth code flow](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-auth-code-flow) article that will look something like this:

We're also working on clarifying this in the Azure portal's app registration p