[2020-01-28 21:26] Mike-Ubezzi-MSFT commented on #46925
@macolso Thank you for bringing this to our attention. I have redirected this to the appropriate Service Area for their awareness.

[2020-01-28 21:27] torfulle commented on #46758
Awesome! Thanks so much!

Tori Fuller
Premier Field Engineer
Azure Secure Infrastructure
Working Hours:
Email:
Phone:
Mon – Fri 09:00 AM–06:00 PM EST tofulle@microsoft.com<mailto:tofulle@microsoft.com>
+1 (469) 775-2937
 [cid:image003.jpg@01D5D5F7.C1875D50]    [cid:image004.png@01D5D5F7.C1875D50]

From: Tom FitzMacken <notifications@github.com>
Sent: Tuesday, January 28, 2020 1:32 PM
To: Microsoft

[2020-01-28 21:28] Karishma-Tiwari-MSFT commented on #46970
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-28 21:28] hpsin commented on #46781
Hi @boachim - can you provide some details on why you need this? It's a standard JWT, so at least for the Headers it should be pretty straightforward - the 1st three are always present, and the last is only present on v1 tokens (and unsigned tokens on v1 are missing both `kid` and `x5t`.).

Your use of "mandatory" makes me think you're trying to use this for client credentials - is that the case?

[2020-01-28 21:32] MarileeTurscak-MSFT commented on #46984
@ticianaciminari and @ShintakuNobuhiro -

I made a pull request to update the documentation and will merge it within 24 hours. This issue has been reported before. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102583

[2020-01-28 21:32] #46984 closed

[2020-01-28 21:34] MartinJaffer-MSFT commented on #46895
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-28 21:34] #46895 closed

[2020-01-28 21:35] Mike-Ubezzi-MSFT commented on #46932
@dem108 The document you are referring to is not part of the MicrosoftDocs GitHub repository, and this doc feedback workflow is not able to directly route the issue to the content owner. We do, however, have another means to make the product group aware of this issue, and will leverage these steps to have this addressed. Thank you for taking the time to make us aware of this issue.

![Screenshot (

[2020-01-28 21:35] ynambiar opened #46991 "Typo in Create RBAC Binding section"
Hello - there is a typo in the Create RBAC Binding section. The current text says
"Replace the &lt;your-aad-account&gt; placeholder with your Azure AD tenant Object ID."
I think it means to say
"Replace the &lt;your-aad-account&gt; placeholder with your Azure AD tenant Object ID."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-01-28 21:37] mikewo opened #46992 "Misleading regarding the requirement for the load balancer or Application Health probe"
In the requirements section of the doc it specifically states:

In numerous other places in the document it makes it sound more like it's optional. For example:

- "**Integrates with** application health probes and Application Health extension." --&gt; Makes it sound like it works well with it, but that it isn't a required thing.

- "You **can also** integrate an Azure Load Balancer application he

[2020-01-28 21:39] adamgourd opened #46993 "What happens if an attribute or password is changed in Azure AD Domain Services"
Suppose a user changes their password from a Windows Server joined to the Azure ADDS domain, or an admin uses a PowerShell script pointing to the Azure ADDS domain to set a password or change an attribute. Will the change be synchronized back to Azure AD? This article suggests that the synchronization is only one-way from Azure AD to Azure AD DS. Are there access controls in place to prevent chang

[2020-01-28 21:53] GiftA-MSFT commented on #46971
@girishnadiger-gep we will review this feedback and get back to your shortly. Thanks.

[2020-01-28 21:53] Mike-Ubezzi-MSFT commented on #46954
@onkarthg Thank you very much for bringing this to our attention. We are investigating and will update this issue when we have additional information to share.

[2020-01-28 21:56] MarileeTurscak-MSFT commented on #46890
Thanks. I made a PR to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102586

[2020-01-28 21:56] #46890 closed

[2020-01-28 21:59] MarileeTurscak-MSFT commented on #46964
@VOVELEE
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-28 22:01] josuvil opened #46995 "Version update needed?"
Hello, my agents are now running 3.1.68.0. Wondering if we should post an update on this page. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e51-c77f8a6aa59c
* Version Independent ID: e11ed733-2e65-7000-87b0-4adfcb16db21
* Content: [Azure AD Connect Health Version History](https://docs.m

[2020-01-28 22:08] laurenhughes commented on #46231
@gregbnz The other docs are likely referring to on-premises Gen2 VMs, which do support Secure Boot. Gen2 VMs on Azure do not currently support Secure Boot.

Thanks!

#please-close

[2020-01-28 22:08] #46231 closed

[2020-01-28 22:11] kevinlam1 commented on #46826
I'm trying to get clarity on why that information is needed. This will help us make sure we are communicate the right information in the right and in the correct place.

[2020-01-28 22:11] laurenhughes commented on #46422
@anarazel Yes, you are correct. Gen1 images are not supported on Mv2-series VMs. Thanks for the catch! I'm putting out a fix which will go live shortly.

[2020-01-28 22:12] laurenhughes commented on #44039
Thanks for pointing this out. I'm putting out a fix for the screenshot which will go live shortly.

[2020-01-28 22:13] zr-msft commented on #46976
Thank you for the feedback @zer0big

I reviewed the doc and the paths are correct based on my testing.

#please-close

[2020-01-28 22:13] #46976 closed

[2020-01-28 22:31] laurenhughes commented on #45622
Thanks for the feedback, @gcontrer87. I added a fix that addresses this issue, it should be live in a few hours.

[2020-01-28 22:33] infact commented on #21690
We are facing the same error  "AADSTS700016: Application with identifier '..' was not found in the directory 'botframework.com'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant" .   Any solutions for this error?

[2020-01-28 22:33] Karishma-Tiwari-MSFT commented on #46974
You can deploy a multi-container group by deploying a YAML file using the Azure CLI. The steps are described in this document:

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml

[2020-01-28 22:34] Mike-Ubezzi-MSFT commented on #46957
@Pitusiray Thank you for bringing this to our attention. We are investigating and will update you when we have additional information to share.

[2020-01-28 22:35] gregorvilkner opened #46997 "updated demo solution needed"
which msal and .NET version should this use? currently this doesn't compile. maybe an updated sample project would be nice (msal ~4.7 and ~NET 4.7).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd63eb6-21cc-a68b-a514-67f12566c476
* Version Independent ID: 0c41a395-dfe1-7db3-d592-70c1b7cec724
* Content: [Quickstart:

[2020-01-28 22:37] SquirrelAssassin opened #46998 "Users Signs into a autopilot device before piming cannot sign in for another 24 hours"
After a user signs in without piming into the role .... but tries to sign in cannot.  They have to wait 24 hours and try again.  How can we flush the system to allow them to sign in and not wait the 24 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6

[2020-01-28 22:44] CelesteDG commented on #21690
#reassign:@rwike77

[2020-01-28 22:48] anarazel commented on #46422
Thanks!

[2020-01-28 22:50] Karishma-Tiwari-MSFT commented on #46991
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/102601

[2020-01-28 22:53] Mike-Ubezzi-MSFT commented on #46967
@paulnuk Thank you for bringing this to our attention. This offering is made available via a 3rd Party service, and I am in the process of attempting how to escalate service related issues, as this channel is to support documentation.

[2020-01-28 22:55] Karishma-Tiwari-MSFT commented on #46992
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @mimckitt

[2020-01-28 22:58] Mike-Ubezzi-MSFT commented on #46972
@Tiger333 Thank you for bringing this to our attention. I will have the content owner review this and make an update as appropriate.

[2020-01-28 23:04] #46991 closed

[2020-01-28 23:07] SnehaGunda commented on #43680
Apologies for the delay. Thank you @EricDahlvang for your suggestion, we have updated the doc to include the VS2019 details. The above PR has updates. JFYI that if you run into any issues with the hosted VS2019, please reach out to the [Azure DevOps](https://developercommunity.visualstudio.com/spaces/21/index.html) team as they have all the context to offer support.

We will now close this issue i

[2020-01-28 23:07] #43680 closed

[2020-01-28 23:08] himanshusinha-msft commented on #46577
Hello @anderbr-au
I did tried to repro the issue but I failed .

Assuming that the your function published step just went fine without issues ,can you please
Navigate to https://portal.azure.com ->All resource -> DemoMigrationApp ( this is our Function app) .

If you can see the app DemoMigrationApp  , please double click and it should show up the form and you can follow up the tutorial .

I will

[2020-01-28 23:08] #46577 closed

[2020-01-28 23:15] EricDahlvang commented on #43680
Thanks @SnehaGunda

[2020-01-28 23:16] wilsonjm-B commented on #46484
I am waiting on this too. Can you please advise any updates?

[2020-01-28 23:19] sidhartha-patra opened #46999 "Have a doubt regarding setting the properties as part of the eventdata while using the batched write API. If I just add the column to the dataframe by name of "properties", is it supposed to work ? In in my dataframe I add a column for properties alongwith body it doesn't work"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-28 23:40] asubmani commented on #34520
How to add multiple ranges? I have tried the below options

10.0.0.0/8 ,13.92.135.174
"10.0.0.0/8,13.92.135.174"
"64.25.21.14/32","13.92.135.174"
["10.0.0.0/8" "13.92.135.174"]
["10.0.0.0/8","13.92.135.174"]
[10.0.0.0/8,13.92.135.174]

all of them report "--api-server-authorized-ip-ranges should be a list of IPv4 addresses or CIDRs"

[2020-01-28 23:44] MattHartz opened #47000 "Service Fabric Onebox On Mac Destroys Disk Space"
Hi,
I am deploying https://hub.docker.com/_/microsoft-service-fabric-onebox on a Mac, and each time I deploy, it eats up about 20GB of diskspace.  And even restarting the container can sometimes utilize more additional space.

Is there a way to also run the one box image in 1 node mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-01-28 23:49] jcbrooks92 commented on #46787
There looks to be a bug that we will report. In the meantime though you can use Fiddler or postman to test out the configuration (token, URL, ect that's generated in the "Try me" option.) You'll just need to add applicaiton/json in the "Accept" header.

![image](https://user-images.githubusercontent.com/18233035/73315701-c6bd1300-41fe-11ea-93d1-cfea6b08bb42.png)

[2020-01-28 23:51] TravisCragg-MSFT commented on #46986
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-29 00:02] asubmani commented on #36158
Hi.. is this issue fixed? I still cannot add multiple ranges as docs don't indicate this.

--api-server-authorized-ip-ranges "13.92.135.174/32, 10.0.0.8"

[2020-01-29 00:02] bandersmsft commented on #46671
@yashesvi Thanks!
#please-close

[2020-01-29 00:02] #46671 closed

[2020-01-29 00:05] WizX20 opened #47001 "Unable to find the rules engine"
Ok, so I'm going through all these steps to configure a static website via https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name?toc=%dns%2ftoc.json

Then I arrive at the rules engine, but I do not understand where it is. I can click the 'manage' button on my cdn profile. That takes me to some kind of reports tool? The navigation that is mentioned with HTTPS etc is not vi

[2020-01-29 00:05] #44039 closed

[2020-01-29 00:05] #46422 closed

[2020-01-29 00:05] dotnetgator commented on #46916
Thank you Marilee and Marsh. I suppose it's fair to mention that both Claims Provider and Technical Profile include this required property, but I think ClaimsSchema may be the only element where this actually gets surfaced to the user/user-interface. From a doc standpoint, the doc should probably be tweaked/tuned to align to functionality (value is required, value is not displayed to users (or whe

[2020-01-29 00:06] #31198 closed

[2020-01-29 00:13] MartinJaffer-MSFT commented on #46981
@James-Pretorius sadly it is not possible at the present time to specify a custom folder for the ARM templates.  Presently, the `publish_config.json` has only the one property.   However you can go to the [feedback forum](https://feedback.azure.com/forums/270578-azure-data-factory), and put in a request for this feature.  I like your idea.

[2020-01-29 00:13] #46981 closed

[2020-01-29 00:14] luthv commented on #46776
@ketan-chawda-msft ah thanks for the clarification, I got the two settings mixed up from the start.

[2020-01-29 00:22] pplavetzki opened #47002 "Ingress Error on mutate_aks"
When looking at the container log for the ingress controller I see the following error:
[code]
I can confirm that I'm able to deploy the sample app and view the web page, but not sure if that error is an issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f12c89-40e2-076e-6135-64773551e673
* Version Independent ID:

[2020-01-29 00:31] dem108 commented on #46932
@Mike-Ubezzi-MSFT thanks a lot! Let me know if there are any other things that I can help you with. Cheers.

[2020-01-29 00:32] femsulu commented on #46963
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-29 00:33] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri In looking at the Machine Learning part of this tutorial, there are potentially some steps that were not implemented. The tutorial specifies that you need a Linux based IoT Edge instance created per the following instructions: [Quickstart: Deploy your first IoT Edge module to a virtual Linux device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux)

But when reviewi

[2020-01-29 00:35] femsulu commented on #46975
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-29 00:48] a-mart33 opened #47004 "Drag to select does not work"
The article mentions "2. In the main editor, click and drag to select one or multiple words from the highlighted text elements." This does not work. Click and drag is just moving the document around the pane instead of giving the ability to select fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6

[2020-01-29 01:23] rwike77 commented on #36432
@psignoret, can you update the article?  Thanks.

[2020-01-29 01:25] mike-urnun-msft commented on #46989
@asears Have you gone through the [Azure Functions PowerShell developer guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#triggers-and-bindings-types)?

[2020-01-29 01:44] Mike-Ubezzi-MSFT commented on #46987
@katie199 Thank you for your interest in Azure. I am having an engineer from the Azure AD Service Area review your inquiry. We will get back with you when we have information to share.

[2020-01-29 01:45] rwike77 commented on #45442
@jmprieur, can you comment on this?  Thanks.

[2020-01-29 01:48] lobrien commented on #46409
#assign: @lobrien

[2020-01-29 01:49] lobrien commented on #46409
Investigating...

[2020-01-29 02:03] macolso commented on #20737
Update: if you follow these steps, you should be able to successfully delete your VNet. If these steps do not work for you, please open a support ticket.

**Mitigation**
Please follow these steps in order
1. Delete container groups
```az container delete --id $CG_RESOURCE_ID```
2. Delete delete network profile
```az network profile delete --id $NETWORK_PROFILE_ID -y```
3. Delete VNet
```az network

[2020-01-29 02:04] macolso commented on #46927
Update: if you follow these steps, you should be able to successfully delete your VNet. If these steps do not work for you, please open a support ticket.

**Mitigation**
Please follow these steps in order
1. Delete container groups
```az container delete --id $CG_RESOURCE_ID```
2. Delete delete network profile
```az network profile delete --id $NETWORK_PROFILE_ID -y```
3. Delete VNet
```az network

[2020-01-29 02:04] #46927 closed

[2020-01-29 02:11] dcbrown16 opened #47005 "Sample NSG"
The sample NSG seems like it doesn't really need the extra deny all inbound and allow Azure Load balancer rules (4096 and 110 in the screenshot). 65500 and 65001 already accomplish those goals...all you need to do is allow the App GW ports as shown in rule 100.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81

[2020-01-29 02:26] bwren commented on #46583
@Ayanmullick Thanks, this one is a bit out of date.  I'm creating a work item to get this updated.  I can't guarantee when we'll get that out, but it is on the list.

#please-close

[2020-01-29 02:27] #46583 closed

[2020-01-29 02:32] sivawebfunky opened #47006 "Detailed explanation"
Firstly thanks for the article. My suggestion would be to be more precise when it comes to examples. For example, the above statement "run this query in the workspace that is connected to Application Insights resources to get the list of connected applications:" for someone who is not very proficient in Azure I tried to run the command to list all application insights in default log analytics work

[2020-01-29 02:39] AshokPeddakotla-MSFT commented on #46990
@Gamecock Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-29 02:43] plangone22 opened #47007 "Sending data from one tenant to another"
It's not clear if you are limited to doing this within the same tenant. I'm trying to connect my Azure AD logs in one tenant, that just has the Azure AD needed to support Office 365, to another tenant that has the usual Azure components, like Log Analytics workspaces. Is this possible or not? If so, how? The GUI wants me to create a trial subscription.

---
#### Document Details

⚠ *Do not edit th

[2020-01-29 02:44] AshokPeddakotla-MSFT commented on #46983
@freeknortier Could you please share more details regarding the issue which you are facing? In which step are you getting this issue?

[2020-01-29 02:45] AshokPeddakotla-MSFT commented on #46457
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-29 02:45] #46457 closed

[2020-01-29 03:07] #43312 closed

[2020-01-29 03:19] mybm3w opened #47008 "Issue with groups not being provisioned that start with a dot/period <.>"
Security groups that start with a dot/period &lt;.&gt; e.g .GroupName1 fails to provision in Azure AD. The error message in Azure AD Connect is "DataValidationFailed" and Detailed message "Unable to update this object in Azure Active Directory, because the attribute [MailNickname], is not valid. Update the value in your local directory services."
I found the following:
1. If I change the name so e

[2020-01-29 03:22] amanmcse commented on #46988
@naiduv Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 03:23] CHEEKATLAPRADEEP-MSFT commented on #46977
Duplicate of #42671

[2020-01-29 03:25] CHEEKATLAPRADEEP-MSFT commented on #46977
@ChristopherGLewis  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-29 03:26] amanmcse commented on #47005
Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 03:36] amanmcse commented on #46998
@SquirrelAssassin  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 03:41] amanmcse commented on #47001
@WizX20  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 03:48] neeleshray-msft commented on #46993
@adamgourd Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 03:49] neeleshray-msft commented on #46950
@ThijsLecomte We have made the changes to the document and it should reflect soon.

[2020-01-29 03:51] neeleshray-msft commented on #46995
@josuvil Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:09] apcsaba opened #47009 "Wrong region?"
Why Azerbaijan is listed under Asia Pacific?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17626d99-44db-3195-0aee-5a2302a2c6d7
* Version Independent ID: 2c91c16f-04d8-cbc4-a157-d7a853d5a9be
* Content: [Weather coverage](https://docs.microsoft.com/en-gb/azure/azure-maps/weather-coverage#feedback)
* Content Source: [ar

[2020-01-29 04:19] AshokPeddakotla-MSFT commented on #46713
@ginomessmer Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-29 04:19] #46713 closed

[2020-01-29 04:20] amanmcse commented on #46997
@gregorvilkner Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:23] AshokPeddakotla-MSFT commented on #43818
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-29 04:23] #43818 closed

[2020-01-29 04:23] FoundryFounder opened #47010 "Missing information?"
About 1/4 down the page, one runs openssl.  Then, the article talks about "This script creates an assigned identity...".
What script?  How does one run it?  Is there source code missing?
I have cloned the "AAD-Security" repo about 3/4 down the page.  I have cloned the "microsoft-identity-platform-aspnetcore-webapp-tutorial" repo referenced in "AAD-Security", and I don't see what is to be run.
Beyo

[2020-01-29 04:26] amanmcse commented on #47000
@MattHartz Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:28] kogesaka opened #47011 "NSG ("AllowAPIMagagement") setting in Deployment steps is incorrect (#46943 related)"
Hi,

Related to #46943, in Step 4 of the Deployment steps, I see "d. Add a rule to Allow access to AzureCloud, with priority lower than the priority of the rule to deny all internet access.", but the results ([https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/media/high-availability-guide-standard-load-balancer/high-availability-guide-standard-load-balancer-network-security-gro

[2020-01-29 04:32] amanmcse commented on #47004
@a-mart33  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:33] FoundryFounder opened #47012 "Article inconsistent with code"
Also, note that the line "New-AzVirtualNetworkSubnetConfig  -Name 'appsubnet' -AddressPrefix 10.0.0.0/24" is inconsistent with the code in the repo, which is "........10.0.2.0/24".
Thanks, J

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81712a5d-c3c2-f49b-17f8-559a8011aa84
* Version Independent ID: d0c0d5e5-4b61-26c1-

[2020-01-29 04:36] amanmcse commented on #47006
@ Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:49] js-mode commented on #20737
This is still not fixed. Once the container group is deleted, the network profile is still left over. After running `az network profile delete --id $NETWORK_PROFILE_ID -y` still repeatedly get these errors:

`Network profile /subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RG/providers/Microsoft.Network/networkProfiles/aci-network-profile-$RG-vnet is already in use with container nics a76d6805-228d

[2020-01-29 04:51] sujayvsarma commented on #46787
Ah, so it is a bug in the Try It UI. Got it. Its working fine in Postman and via code.

You may close this ticket at your discretion.

[2020-01-29 04:52] tamram commented on #46348
#please-close

[2020-01-29 04:52] #46348 closed

[2020-01-29 04:53] amanmcse commented on #47002
Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 04:54] neeleshray-msft commented on #46999
@sidhartha-patra Could you mention which Azure Document or Service you are referring to ?

[2020-01-29 04:56] vikranthsuravarapu opened #47014 "Hyperlink is not pointing the right blog"
" Name resolution performance of a recursive Windows DNS Server 2012 R2."

https://blogs.technet.com/b/networking/archive/2015/08/19/name-resolution-performance-of-a-recursive-windows-dns-server-2012-r2.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d3

[2020-01-29 04:57] souravmishra-msft commented on #47012
@FoundryFounder, Thank you for reaching out and pointing this out. We are looking into this and will update the doc accordingly.

[2020-01-29 04:59] ketan-chawda-msft commented on #46826
@radumg Can you please provide the info asked by Kevin in the last post?

[2020-01-29 04:59] souravmishra-msft commented on #47010
@FoundryFounder, Thank you for pointing it out. I am working on this. Do allow me sometime and I will reach out to you shortly with the updates.

[2020-01-29 05:00] neeleshray-msft commented on #47007
@plangone22 Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 05:24] neeleshray-msft commented on #47008
@mybm3w Thank you for your feedback . We will investigate and update the thread further.

[2020-01-29 05:26] CHEEKATLAPRADEEP-MSFT commented on #46725
@Russellmd  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-29 05:26] #46725 closed

[2020-01-29 05:32] dcurwin commented on #46855
#reassign:pvrk

[2020-01-29 05:35] shashishailaj commented on #46592
@truekonrads As we have not received any response from your side , we are closing this on our end and we request you to email us on azcommunity[at]microsoft[dot]com and we will continue to help you offline on this as this requires troubleshooting over screen-sharing and cannot be done over github.

[2020-01-29 05:35] #46592 closed

[2020-01-29 05:57] kazshi opened #47015 "missing information about "Affinity cookie name""
Please add a description about the "Affinity cookie name" (it might be used for SDK mainly?) although we know it's a name of Affinity cookie since I got a question from my customer about the item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID: 0e67beb9-827a

[2020-01-29 05:58] KrishnaG-MSFT commented on #46954
@TomArcherMsft Can you please provide your inputs on the issue?

[2020-01-29 05:59] KrishnaG-MSFT commented on #46954
Duplicate #44717

[2020-01-29 06:02] truekonrads commented on #46590
Hi,

This isn't true for me:
![image](https://user-images.githubusercontent.com/1421150/73331785-ece6bf80-429f-11ea-93ea-37d7b0abed6f.png)

I suspect it is related to the discussion at #46592

[2020-01-29 06:06] truekonrads commented on #46592
I've emailed azcommunity[at]microsoft[dot]com; will keep you posted

As an aside and as a general rant, my employer spends probably north of hundred million per year and plans to spend $5B in next 5-10 years, yet the ability to get support outside of the official production tenants is community....

[2020-01-29 06:15] msrini-MSFT commented on #47015
@kazshi  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-29 06:16] msrini-MSFT commented on #47014
@vikranthsuravarapu , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-29 06:20] jaredthirsk opened #47016 "Redundancy and inconsistency in 12% refund fee"
Issue #1 - Elsewhere in Microsoft documentation and pricing, the 12% sounds like a definite early termination fee, yet item 3) below says Microsoft isn't currently charging this.
Issue #2 - Items 1) and 2) mention 'termination fee', but item 3) mentions 'penalty'.  It is not clear to me whether this penalty might be separate from the 'termination fee'.  If it was different, it might also help to c

[2020-01-29 06:25] RohitMungi-MSFT commented on #46833
@Shelabd We hope the above steps helped you to use the endpoint correctly while using the labeling tool. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-29 06:25] #46833 closed

[2020-01-29 06:26] Kenneth-Abrams commented on #46922
@RohitMungi-MSFT I'm going to close this issue. We worked around this by making a white space change to the file. This caused the binary hash to be differen't, whereas the file name change did not change the hash. After a content change, the file was picked up as expected.

We also opened a case with support, and we will have them work the issue that @nicolemhfarley mentioned were the **allow_reus

[2020-01-29 06:26] #46922 closed

[2020-01-29 06:31] byohei125 opened #47017 "Need network requirement statement"
It will be more helpful if there are network requirement documented in this page as prerequisite.
Such as following information.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-65

[2020-01-29 06:33] wonderplayer commented on #46788
I was referring to this
![image](https://user-images.githubusercontent.com/15668343/73333131-89459d80-4271-11ea-82bf-9f5510dc2350.png)
But it seems I've misunderstood, that App Service has Premium V2 plan which requires 32 addresses and Elastic SKU for Azure Function App is different and it requires more than that.

But strange thing is though, that I could create ARM template with subnet with add

[2020-01-29 06:40] jcbrooks92 commented on #46788
In the premium plan the app can scale up to 100 instances, so in the portal validation, it attempts to make sure you will not run into any issues when the app tries to scale to that many VMs.  In any of the non-portal deployment types, you can configure the subnet range as you see fit. Some apps may never scale to the max number of 100 instances so a subnet that large wouldn't be required.

[2020-01-29 06:44] RohitMungi-MSFT commented on #46919
@wiazur It looks like the variable `COMPUTER_VISION_ENDPOINT `was not updated using the endpoint as seen in the Azure portal where the forward slash(/) is mentioned as part of endpoint URL. The general guidance is to use the endpoint details from the resource page which would not result in adding an extra `/` in `analyze_url = endpoint + "vision/v2.1/analyze"`
![image](https://user-images.githubus

[2020-01-29 06:51] mike-urnun-msft commented on #46632
@mohibakhan After review, we think that it'd be best if you open a new thread either on [MSDN forum for Functions](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or on [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-functions) for this scenario. Once you've done so, could you tag me here with the URL to your newly created post? We'll monitor your post an

[2020-01-29 06:51] #46632 closed

[2020-01-29 06:52] dcbrown16 commented on #37703
@bobbytreed did this change ever go through? I don't see any reference to being in the same resource group in the document.

[2020-01-29 06:53] amanmcse commented on #46988
Which starter pack are you using? alternativeSecurityId attribute is used with Social IDPs only. If you are using **Local Accounts** startup pack, it is expected. Try using **Social and Local accounts** starter pack.

[2020-01-29 06:55] spmanjunath opened #47019 "Missing details/guidelines for Policy Definition and Initiative Definition"
Perhaps having below information in the documentation would be helpful;
In PolicyDefinition structure:
 1)  There is no reference to the 'name' field, however, this field is part of the JSON structure.  There is lack of documentation related to this, and the built-in policies always seems to have GUID in the 'name' field.  what is Microsoft recommendation w.r.t. the 'name' field for the custom pol

[2020-01-29 06:58] LXBdev opened #47020 "Support for production use?"
Most of the Identity Experience Framework has always been public preview with support for production use. Does this feature have production support or should we wait until GA? We would like to use it for the custom email verification feature.

https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/

Does this apply?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-01-29 06:58] dinesh71 opened #47021 "login_hint - Is there a way we remove the option to 'Sign In with Another account in Microsoft login page' so that we can force the user to use prefilled username and password"
.

login_hint - Is there a way we remove the option to 'Sign In with Another account in Microsoft login page' so that we can force the user to use prefilled username and password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39418791-b741-b97c-f15d-8309f5576bad
* Version Independent ID: 8801c50e-b3ec-5f3b-d711-68d9f2e

[2020-01-29 07:03] msrini-MSFT commented on #46877
@rwiankowski , Do you have any update on this issue?

[2020-01-29 07:05] abhilashmk opened #47022 "App Logging will not be disabled after 12 hours"
Here it is mentioned that app logging will be disabled after 12 hours. https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-java#app-logging

The above statement does not hold good for Linux App Service, it is only valid for Windows App Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-29 07:09] spmanjunath commented on #46859
Thanks for the response, earlier i had not noticed that parameters being passed were different.

[2020-01-29 08:02] wonderplayer commented on #46788
Ok, thanks :)

[2020-01-29 08:02] #46788 closed

[2020-01-29 08:16] SadiqhAhmed-MSFT commented on #47016
@jaredthirsk Thanks for the question. We are reviewing this and get back to you shortly.

@yashesvi To clarify.

[2020-01-29 08:17] SwathiDhanwada-MSFT commented on #47019
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-01-29 08:20] SwathiDhanwada-MSFT commented on #46673
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-29 08:20] #46673 closed

[2020-01-29 08:21] tdefise commented on #46613
Hello Grace,

First, let me thank you for your help.
Unfortunately, it doesn't answer to my questions. I would like to know if we also could receive mail with context about the alert like the SQL Database ATP and Storage Accounts ATP (like showed below)

![image](https://user-images.githubusercontent.com/36169753/73339237-9ca83700-4278-11ea-96fd-c5ada57b5810.png)

Kind Regards,
Thomas

[2020-01-29 08:21] DOliana commented on #43262
Any news here? We are experiencing long duratoin for warm-up (~10 minutes) and would like to rule out ip restrictions as cause.

[2020-01-29 08:27] BarryShtPeas opened #47024 "No guidance on how to manage the ASC Default Policy with PowerShell"
In part 5 of the the 'Disable security policies' section is the instructions for how to disable certain policy parameters via the GUI.

I have been trying to research how to disable these parameters via PowerShell with limited success (the main one being "Just-In-Time network access control should be applied on virtual machines") , can you please amend the article to include an example command?

C

[2020-01-29 08:37] sanchetanparmar opened #47025 "Does Azure Database for MySQL Support Multi-AZ like AWS RDS ?"
Does Azure Database for MySQL Support Multi-AZ like AWS RDS ?
I can't see Multi-AZ option with Azure database for Mysql . What will happen, if one availability zone down ?
As per docs  https://docs.microsoft.com/en-us/azure/mysql/concepts-high-availability

how can i test HA fail-over  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-29 08:42] DaveZimmermann commented on #46941
Hi @SubhashVasarapu-MSFT
Thanks for your response. I think it would make sense to write that down as well for CSP, then it would be clear as well - I couldn't find that without your screenshot.

[2020-01-29 08:43] jakaruna-MSFT commented on #44396
I reached out to the product teams. But i didnt get a reply.
Send an email to Azcommunity@microsoft.com. I will add the product team and we can continue the discussion via email.

Once resolved, We can post the answer here.

[2020-01-29 08:43] whaakman opened #47026 "Error code: MissingSubscriptionRegistration"
On most subscriptions I come across, creating a shared query for the first time results in the error:

Error saving shared query. Error code: MissingSubscriptionRegistration. Error message: The subscription is not registered to use namespace 'Microsoft.ResourceGraph'. See https://aka.ms/rps-not-found for how to register subscriptions.

I'm logged in with owner permissions so I thought it would reg

[2020-01-29 08:46] MohitVerma-MSFT commented on #46982
Hello @ticianaciminari ,

Thanks for reaching out !!

I am assuming you are using windows power shell with the version 5.1.18362. I would suggest you to open your Deploy-AzTemplate.ps1 file and change the below line:

`[string] $DeploymentName = ((Split-Path $TemplateFile -LeafBase) + '-' + ((Get-Date).ToUniversalTime()).ToString('MMdd-HHmm')),`

with below code:

`[string] $DeploymentName = (Get-

[2020-01-29 08:51] MohitVerma-MSFT commented on #46961
Hello @PashaPash ,

Thanks for the feedback , i have assigned content -author for the further review.

[2020-01-29 08:56] James-Pretorius commented on #46981
Thank you for the prompt response. I've added a request to the feedback forum. Please vote :-).
https://feedback.azure.com/forums/270578-data-factory/suggestions/39560182-publish-azure-data-factory-arm-templates-to-a-cust

[2020-01-29 08:59] andyjballgit opened #47027 ""Who can Access the Data" section doesnt mention Global Reader which appears to work"
for viewing Audit logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 378b87c1-ae6d-6b16-57b9-5f312583b8bd
* Version Independent ID: bdf6b43b-ac28-f1ac-e53b-d99f22d0754c
* Content: [Audit activity reports in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/c

[2020-01-29 09:05] msrini-MSFT commented on #46825
@Ayanmullick , Seems like the command Set-AzVMDiagnostic is broken. Can you please raise an issue in Power-shell repo ?

https://github.com/Azure/azure-powershell/issues

[2020-01-29 09:20] amit147 commented on #43315
We have configured a TSI environment with Warm storage enabled, but still am not able to load events into Power BI. What might be the possible cause ??

[2020-01-29 09:25] shashishailaj commented on #47021
@dinesh71 Thank you for your feedback . We will investigate and update this thread.

[2020-01-29 09:30] shashishailaj commented on #47017
@byohei125 Thank you for your feedback. We will have the author engaged for the same and have this reviewed so as how best we can add the details to the document.

[2020-01-29 09:36] shashishailaj commented on #47017
@rkarlin @lgayhardt

Could you please review this request and help add the details about network requirement for sentinel in the existing document and also to https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses as this page is available as a RSS feed for end users ?

[2020-01-29 09:37] shashishailaj commented on #47020
@LXBdev Thank you for your feedback . We will investigate and update this thread further.

[2020-01-29 09:38] loopfish opened #47028 "'App Logs' tile not present in 'Availability and Performance' or 'Web App Down' tabs"
Hi, the screenshots on this page show an 'App Logs' tile under the 'Availability and Performance' tabs, but this is not present in any of our web apps. Also, your screenshots show a 'Web App Logs' category in the list under the 'Web App Down' tab, but again this is not present. Is there a prerequisite that needs to be enabled for 'App Logs' solutions to appear in the Diagnostics and Performance ta

[2020-01-29 09:38] shashishailaj commented on #47024
@BarryShtPeas Thank you for your feedback. We will instigate and update this thread .

[2020-01-29 09:39] shashishailaj commented on #47027
@andyjballgit Thank you for catching this. We will have this reviewed and updated accordingly. .

[2020-01-29 09:44] StefanIvemo opened #47029 "Is seamless single sign-on a pre-req for successful Hybrid Join"
Is seamless single sign-on a pre-req for a fully functional hybrid join and retrieval of PRT Tokens? Or can Hybrid join be configured with password hash sync (PHS) or pass-through authentication (PTA) only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5

[2020-01-29 09:46] AlexanderTodorovic opened #47030 "MFA authentication does not show Quick steps"
Dear All,

Multi-Factor Authentication users page does not show the quick steps. It shows only the name but not Enable etc. I've tried several browsers and also zoom in/out of the page but it does not show anything than the name and the e-mail address.
Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d

[2020-01-29 09:48] sorantis opened #47031 "Add Elastic to the list integrations with Azure AD Logs"
Would be great if Azure docs contained some information about integrating Azure AD log with Elastic Stack using Filebeat:

*  **Elastic**: To configure Azure AD logs integration with Elastic using an event hub see the [Filebeat Azure module documentation page](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-azure.html).

[howto-integrate-activity-logs-with-elastic.md.zip](ht

[2020-01-29 09:48] jakaruna-MSFT commented on #45872
Hi,
i tried with the below yaml and it works well.

I see that you have provided username and password to connect with the mongo db.
But you didn't provide them while creating the mongodb container. By default mongodb container will not have auth enabled.

Instead of your nodejs container, i used a mongoclient to check the connectivity.

Can you try with the below yaml and let me know your thought

[2020-01-29 09:49] AlexanderTodorovic opened #47032 "Connect-MsolService runs into"
Dear All,

on Azure Cloud Shell running Import-Module MSOnline generates =&gt;"Import-Module : Assembly with same name is already loaded".
Then running Connect-MsolService runs into =&gt; "Connect-MsolService : The term 'Connect-MsolService' is not recognized as the name of a cmdlet, function, script file, or operable program."
Is there any other script to activate MFA?
Thanks,
Alex

---
#### Docu

[2020-01-29 09:50] rajanbhayana opened #47033 "Stuck on RefreshingAADProfile for long and then failed."
I tried above twice on an existing cluster with RBAC enabled. Instead of creating a new cluster, I have used az aks update-credential command. I tried this twice and in both tries, my cluster got stuck on RefreshingAADProfile for a long time and then went into failed state. Wierd is when I use az aks show command, i can see aadProfile updated with right client,server and tenant IDs of my registere

[2020-01-29 09:53] shashishailaj commented on #47027
@andyjballgit Thank you for observing this . We will investigate and update this thread further.

[2020-01-29 09:54] jakaruna-MSFT commented on #45872
To check only the connectivity, ssh into the nodejs container and try the below commands

`nslookup mongodb` to check name resolution

Then `telnet mongodb 27017`

If the nodejs container dont have those commands, you can spin up a  test ubuntu container

[2020-01-29 09:57] jakaruna-MSFT commented on #45872
`ping` also works.

command is `ping mongodb`

Sample output will be something like this
[code]

[2020-01-29 09:58] souravmishra-msft commented on #47032
@AlexanderTodorovic, Thank you for reaching out. We are looking into this and will update you shortly.

[2020-01-29 10:00] souravmishra-msft commented on #47030
@AlexanderTodorovic, Thank you for reaching out. I am working on this and will keep you updated with the details.

[2020-01-29 10:01] souravmishra-msft commented on #47029
@StefanIvemo, Thank you for reaching out. I am working on this and will share an update shortly.

[2020-01-29 10:03] EugeneTargonski opened #47034 "Dead Link"
You have a dead link here: Download the Elastic DB Tools for Azure SQL - Getting Started sample from MSDN.
(https://code.msdn.microsoft.com/windowsapps/Elastic-Scale-with-Azure-a80d8dc6)
This is one of many pages with this problem.

The correct link is: https://github.com/Azure/elastic-db-tools/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-29 10:03] jakaruna-MSFT commented on #46595
I think we need to have one default template with the ARM template while creating a cluster.
Then we can manage the additional nodepools from managedclusters/agentpools

@jluk @sauryadas Please comment on my assumption

[2020-01-29 10:14] AshokPeddakotla-MSFT commented on #47009
@apcsaba Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-29 10:18] souravmishra-msft commented on #46587
Closing this thread for now.

[2020-01-29 10:18] #46587 closed

[2020-01-29 10:21] baatch commented on #46655
@timowille & @AshokPeddakotla-MSFT

Please provide an working example query for getting the deviceid. I followed the link to https://docs.microsoft.com/en-us/stream-analytics-query/getmetadatapropertyvalue and used the following query in Stream Analytics, but still can't get the deviceid:

SELECT GetMetadataPropertyValue([test-ehub], '[EventHub].[IoTConnectionDeviceId]') AS myIoTDeviceId FROM [tes

[2020-01-29 10:23] sorantis commented on #47031
I've also added a how-to page that similar to other integrations, e.g.  howto-integrate-activity-logs-with-* .

[2020-01-29 10:27] antonbsvard commented on #46512
I used a 64-byte base64 key but I was missing a character at the end of the key. Changing it solved it for me as well

[2020-01-29 10:30] SnehaAgrawal-MSFT commented on #47028
@loopfish Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-29 10:42] senna8 opened #47035 "VM series limitations updates"
Hi,

Under "limitations" the sentence "The following VM series are supported" needs to be updated with FSv2 Series according to https://azure.microsoft.com/en-us/services/virtual-machines/dedicated-host/ and https://azure.microsoft.com/en-us/pricing/details/virtual-machines/dedicated-host/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-01-29 10:46] ChristineChetty11 commented on #32325
This issue is identical to what I am facing. Trying this deployment on Linux environment today. However, spent 2 weeks trying every which way to deploy locally. Requesting some help here please

[2020-01-29 10:49] bertrandpons opened #47036 ""Failed to resolve table or column expression named 'AzureDiagnostics'""
Hello,

When I try using the query you mention on this page, I am getting an error message:
"'where' operator: Failed to resolve table or column expression named 'AzureDiagnostics'"

Could you please help on this?

Thank you

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: a0639c6f-f0b4-0ae0-feba-6dadf51

[2020-01-29 10:52] johnmreynolds opened #47037 "Recommendations are almost completely useless"
For most of the errors (e.g. 2312), the recommendation is just an even less useful rewording of the original uninformative error message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b57894dd-9bb6-0900-63c5-71c6b902abdf
* Version Independent ID: 048a747c-7ac0-e9a1-2c36-8cdf82cfd143
* Content: [Troubleshoot Azure Data

[2020-01-29 11:01] aros1697 commented on #46512
@arduppal I had a 64-byte base 64 key. It was a human error with typing the wrong account key.

I have a questions regarding the blobstorage.

Is it possible to add a file in cont1 folder on the raspberry pi where it shows up in storage explorer?

[2020-01-29 11:02] koratshail commented on #46601
@kgremban,
Any update on this issue?

[2020-01-29 11:04] RohitMungi-MSFT commented on #46932
@dem108 The link to the nextOffset should be the following.
https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-images-api-v7-reference#nextoffset

It looks like the URL is not constructed correctly to redirect to the correct page. We have reported this internally to our team and should be fixed soon.

Thanks for helping us.

[2020-01-29 11:34] nanowireUK opened #47040 "Reported properties as target conditions"
The docs state only deviceId and tags can be sued as targets but the service also the use of reported properties as well. From the deployment configuration screen on IoT Hub:
Valid conditions specify a either a deviceId (e.g. deviceId='{id}'), one or more device twin tag criteria (e.g. tags.environment = 'prod' AND tags.location = 'westus'), or reported property criteria (e.g. properties.reported.

[2020-01-29 11:35] colin-lyman commented on #35411
From a previous comment earlier in the thread. My issue came from the tag of the image not being correct.  Worth double-checking the repo and image tag exists.

[2020-01-29 11:35] jakaruna-MSFT commented on #47011
@kogesaka
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-29 11:41] SadiqhAhmed-MSFT commented on #46921
@santhoshbomma9 You cannot fully delete an offer once it is published. You can stop-sell an offer, which will take it off of the marketplaces and serve a similar purpose.

This is by design, as you may have a case where you have a transactable SaaS that you want to stop selling, but any customers that purchased it must continue to have their purchase function correctly. If your offer is a listing

[2020-01-29 11:41] shashishailaj commented on #47031
@sorantis Thank you for your help with the page. We will have this reviewed with the content team as to how best we can incorporate this into current documentation .

Thank you.

[2020-01-29 11:52] dem108 commented on #46932
@RohitMungi-MSFT thanks a lot! The link looks very helpful for my problem at hand. Appreciate the efforts to reflect it in the documentation as well.

[2020-01-29 11:53] msrini-MSFT commented on #47036
@bertrandpons , Can you just type in AzureDiagnostics and check if you are able to see any records?

Also can you make sure you enabled log analytics workspace for the WAF logs ?

[2020-01-29 11:57] bertrandpons commented on #47036
@msrini-MSFT I get a message "NO RESULTS FOUND" now.
And the Log Analytics workspace is enabled and attached to WAF Diagnostic settings

[2020-01-29 11:59] msrini-MSFT commented on #47036
Can you search for a longer timestamp and check if there are any logs in the past ?

Like for last 25 days ?

[2020-01-29 12:00] bertrandpons commented on #47036
The thing is that created the WAF 4 hours ago. Is there any delay in logs treatment ?

[2020-01-29 12:01] msrini-MSFT commented on #47036
It can be. First of all we need WAF logs to be generated first. Is there any traffic to passing to your WAF currently ?

[2020-01-29 12:02] bertrandpons commented on #47036
Yes there is traffic (not a lot but at least it should generate some logs)

[2020-01-29 12:04] RohitMungi-MSFT commented on #47004
@a-mart33 If you use text that is not highlighted the drag would move the document instead of highlighting the text. Please try to run OCR before performing this step. Here is a screen shot of the same for text that is identified by OCR and highlighted.
![iot_visual2](https://user-images.githubusercontent.com/46958063/73355190-8a9cb780-42bd-11ea-8998-db59a2059251.gif)

[2020-01-29 12:05] msrini-MSFT commented on #47036
WAF logs are generated only when the request hits the ruleset. Can you try generating web request which should be blocked by WAF ? Also try to query after sometime so that the data gets ingested to your workspace.

[2020-01-29 12:06] bertrandpons commented on #47036
For now it is in Detection mode. Therefore, should I not get any WAF logs ?

[2020-01-29 12:08] msrini-MSFT commented on #47036
You should get logs for both detection and prevention mode. If all your request are legitimate, then WAF logs are not logged. If there are malicious request then it gets logged.

[2020-01-29 12:08] bertrandpons commented on #47036
ok thank you for the clarification.

[2020-01-29 12:11] AjayKumar-MSFT commented on #47022
@abhilashmk, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-01-29 12:16] BhargaviAnnadevara-MSFT commented on #46909
So, Azure Application Insights displays data about your application in a Microsoft Azure _resource_. It acts like a means to visualize the collected telemetry from your application. Creating a new resource is therefore part of setting up Application Insights to monitor a new application. After you have created your new resource, you can get its instrumentation key and use that to configure the App

[2020-01-29 12:19] dfatkulbayanova opened #47041 "Application consistent backup for Linux VM"
[Enter feedback here]
Apparently this page contradicts with information here https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-backup-recovery where it is said that application consistent backup are already available, please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25dd20b3-1

[2020-01-29 12:24] stephen-cairns opened #47042 "Windows Containers"
Hi can confirm if this Azure Security Centre will scan windows Docker images?  If not is that on the road-map?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61dff514-e42f-e66d-dd9c-1bd18cae2fa0
* Version Independent ID: 64ccc018-2e5f-b1ff-6c88-0c8761e4c2f9
* Content: [Azure Security Center and Azure Container Registry

[2020-01-29 12:31] jochenvanwylick opened #47043 "Typo in code snippet for 'reference' and 'Full'"
Code snippet under "Use 'Full' when you need resource values that aren't part of the properties schema. " - line with tenantId the word 'resource' is misspelled. Or search for 'reosurceId' within this text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a4ab1
* Version Independent ID: cc5

[2020-01-29 12:45] kvasu2172 commented on #37585
Is it possible to use Cloudflare DNS ip address ( sometime we may need to control Malware and Content Filtering through DNS)  as a forwarders in DNS servers that are hosted on Azure cloud ? and I don't want to use Azure provided DNS IP (168.63.129.16) for Public name resolutions .

[2020-01-29 12:46] jakaruna-MSFT commented on #47035
@senna8
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-29 12:49] chrobakos opened #47044 "Outdated/wrong?"
This page seems to be outdated.

"Install via PyPi" section should have "pip install azure-storage-queue" instead of current "pip install azure-storage-blob==2.1.0"

also, to import library you should do "from azure.storage.queue import QueueServiceClient" instead of "from azure.storage.queue import QueueService"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-29 12:51] jakaruna-MSFT commented on #47033
@rajanbhayana In these scenarios the general fix is to go to resources.azure.com and then select the particular aks resource and submit a put call without changing any payload.

In that case the cluster status will be reevaluated.

If that environment is non prod you can try that solution.

Else contact azure support.  If you dont have access to azure support, Send your subscription id to azcommun

[2020-01-29 12:53] dmanibtech commented on #44923
Hi Krishna -

We configured 'Azure-Diagnostics' mode to push the logs to LAW, but for some reason it's stopped send ing the logs - when I query AzureDiagnostics table in LAW I get nothing.

But if I choose 'Resource-Specific' mode, I do see the PipelineRuns category logs under ADFPipelineRuns table.

Could you pls hint what's the reason?

[2020-01-29 13:29] SadiqhAhmed-MSFT commented on #47043
@jochenvanwylick Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@mumian FYI.

[2020-01-29 13:32] mchudinov opened #47045 "Create a user-assigned managed identity"
And HOW to create a managed identity?
Are there any instruction available? Can it be referenced here ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [SSL termination with Azure Key Vault certificates](https:/

[2020-01-29 13:40] zakibenz commented on #46531
I resolved my issue by creating a scope.
Now when I ask for an access_token I get one with the right 'audiance' and signature validation works.

What I dont understand is : Why I should add a scope to my app registration to get tokens with right audiance ?
in my case I just need claims in graph.microsoft.com/User.Read scope ?

[2020-01-29 14:13] dineshbaskaran opened #47046 "Azure App Service Environment(ASE ILB) Logs are not written in Azure Blob Storage"
We have App Service Environment(ASE ILB) for .NET Core App. And we used Microsoft.Extensions.Logging in our application. We have configured Blob storage for Application logs with retention days of 30 days. But no logs were written in application logs blob containers.

In Alternate case : It is working fine in public Azure app service.

Is there any other setup/configuration needed for ASE ILB App

[2020-01-29 14:14] DCtheGeek commented on #47026
#assign:DCtheGeek

[2020-01-29 14:14] DCtheGeek commented on #47026
Thanks @whaakman for the question.  I'm looking into this. Are these subscriptions in your own tenant or are they delegated?

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-01-29 14:18] whaakman commented on #47026
Own tenant. The subscription does have a Resource Delegation to our MSP tenant but I was logged in as the original global admin and subscription owner of that environment. Tested it on non lighthouse customers as well, sometimes it requires a registration, sometimes it doesn't.

[2020-01-29 14:19] DCtheGeek commented on #47026
Thanks for the additional information. Will update with what I find out.

[2020-01-29 14:35] NavtejSaini-MSFT commented on #47034
@EugeneTargonski We are looking into this and will get back to you.

[2020-01-29 14:36] mchudinov opened #47048 "delegation and private endpoints"
It should be mentioned here that delegation cannot be used together with private endpoints.
Once a subnet has a delegation the Azure portal shows an error "The selected subnet has a delegation and cannot be used with a private endpoint" while attaching a private endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-29 14:38] RyanHill-MSFT commented on #46787
@sujayvsarma you can actually get around it by adding `application/json` as an accept header to get the format in json.

![2020-01-29 09_30_55-TryIt](https://user-images.githubusercontent.com/47189704/73365895-0f1a1680-427b-11ea-99bb-520789b7185e.png)

Let us know if you have any more questions.

[2020-01-29 14:38] #46787 closed

[2020-01-29 14:43] mamccrea commented on #46946
@JamesWhitfield  - Thanks for bringing this to our attention. I've updated the doc and the changes should be live later today.

#please-close

[2020-01-29 14:43] #46946 closed

[2020-01-29 14:45] baatch commented on #46655
I got it to work now with this query: SELECT GetMetadataPropertyValue(ehInput, '[EventHub].[IoTConnectionDeviceId]') AS myIoTDeviceId FROM ehInput

But what was not so clear was that you cannot run this query in the azure portal test editor.

In the link https://docs.microsoft.com/en-us/stream-analytics-query/getmetadatapropertyvalue
it was mentioned at the top. But it is easy to miss. I would be

[2020-01-29 14:47] asears commented on #46989
Hi @mike-urnun-msft thanks for the reply.  I should have been more specific.  I am looking for examples to parameterize the Service Bus queue input binding queue name as part of the function app.  Instead of hard-coding the queue name in the function.json file, I would prefer that it be in the AppSettings for portability.

After further investigation, I understand this might not be currently possi

[2020-01-29 14:54] mamccrea commented on #46780
Thanks @Lonefish - the doc does state prior to the python code blocks that they require the %python magic command, but I've added them to the code blocks for clarity. They should be live by the end of the week. Please let us know if you have any additional feedback.

#please-close

[2020-01-29 14:54] #46780 closed

[2020-01-29 14:55] Willem-J-an opened #47049 "Block size documentation"
I can find no documentation on the "Block size (MB)" property available in Azure Blob Storage sink of Copy Data. The documentation refers to various pages where properties can be found, and the link from the tool links here; but the term Block size is not available on the page. Where can I get this info?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-29 14:55] DCtheGeek commented on #47019
#reassign:DCtheGeek

[2020-01-29 14:58] santhoshbomma9 commented on #46921
Thank you @SadiqhAhmed-MSFT!

[2020-01-29 14:58] #46921 closed

[2020-01-29 15:00] 3tcsoftware opened #47050 "Version number mismatch"
In the Using the Setup Wizard section the versions are not consistent - some are 9.9.0 and some are 9.9.1. In any case, the current version is 9.10.
It would be better not to reference the version number.
To be honest, the instructions are overly verbose - any competent enough to use Azure is not going to need a step by step instruction on clicking buttons on a Wizard.

---
#### Document Details

[2020-01-29 15:06] DCtheGeek commented on #47019
@spmanjunath Thanks for the questions.

- You are correct that there isn't a direct mention of **name**.  **Name** isn't something you can define in the policy definition JSON, although it is returned by SDK. I'll look for a spot to mention this property, although I'll be explicit that it isn't set in the JSON itself, but only returned when viewing existing policy definitions. There isn't guidance

[2020-01-29 15:12] ClintFrancis commented on #38660
I'm getting the same error when making a call to the Usage Details List with the 2019-10-01 API:

```https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails?api-version=2019-10-01```

```{"code":"400","message":"Billing Period is not supported in (2019-10-01) API Version for Subscription Scope With Web Direct Offer. (Request ID:

[2020-01-29 15:30] Ayanmullick commented on #46825
No @msrini-MSFT. I don't think PowerShell is broken. It could, potentially, be a bug with the Az.Compute module. @SteveL-MSFT, could you confirm?

@msrini-MSFT , Having said that, the sample diagnostics config file must be capable of handling boot diagnostics configuration.

[2020-01-29 15:31] leela-uppuluri commented on #46885
@Mike-Ubezzi-MSFT Thanks for the update regarding which documentation I need to follow.

Yes, I have installed the ML service on IoT Hub and from there I was accessing the Azure Notebooks to run those examples that were documented.

[2020-01-29 15:35] AshokPeddakotla-MSFT commented on #46655
@baatch  Thanks for the details.
Author @viv-liu is notified already for further review and update the doc as appropriately.

[2020-01-29 15:40] mmacy commented on #46997
Hi @gregorvilkner, I believe I know what your issue might be. The latest version of this sample application is in the **msalv3** branch, which is the new default branch for the repo. That version of the sample is on MSAL 4.8.1 and .NET 4.7.2.

However, the link to the downloadable ZIP file in the article currently (and erroneously) targets the _master_ branch of this repo, which has not been updat

[2020-01-29 15:40] titiks commented on #46475
Hello

Another issue with the doc not being up-to-date is in the "Delete the VM" section. To "Configure the task" one should enter:
- Azure RM Subscription
- Lab
- Virtual Machine

The Virtual Machine field should just contain the VM name, not the Lab VM ID. Using the Lab VM ID, for instance through the $(labVMId), does not work.

I must add that the task is in version 3.* (preview) and that it is

[2020-01-29 15:44] crow-ua opened #47051 "Cosmos DB Change Feed reliability/availability"
It is planned to leverage Change Feed for tracking changes in mission-critical company data. It is unacceptable that some updates to underlying Cosmos collection are lost.
I assume Change Feed has the same SLA as Cosmos DB (99.999%) and I understand it is practically impossible for it to break, but what will happen in hypothetical situation when collection is updated, but change event is not issue

[2020-01-29 15:48] leela-uppuluri commented on #46885
@Mike-Ubezzi-MSFT  We have the infrastructure setted up in this way,

- Created a Resource Group using Azure portal and created IoT Hub under the same resource group and installed necessary services for Hub like Azure Machine Learning.
- We have setted up dedicated IoT Edge server on premise as a bare metal Linux device and added this device to IoT Hub using the primary connection string and every

[2020-01-29 15:49] gregorvilkner commented on #46997
now that changes everything. thanks for the fast response. generally speaking (we looked into this a year ago), b2b to b2c conversion/usage has improved a lot! but still a good dose of black magic and confusion there. especially the authority strings are not consistently documented.
thanks again. cheers, Gregor
one more question: I have user info (name, email, ...) in the token (jwt.ms), but msal

[2020-01-29 15:53] #46997 closed

[2020-01-29 15:54] titiks commented on #46475
Well, hold on.
I reopened the task in the pipeline and now the vm name I entered got converted into the VM ID.
But when I previously used the $(labVMId) variable the task failed, and the logs are useless (no error, no info on what is done...)

[2020-01-29 15:57] AshokPeddakotla-MSFT commented on #47040
@nanowireUK Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-29 16:08] OffColour opened #47052 "Reboot and WSUS clarification"
"The registry keys listed in Configuring Automatic Updates by editing the registry and Registry keys used to manage restart can cause your machines to reboot, even if you specify Never Reboot in the Update Deployment settings. You should configure these registry keys to best suit your environment."

This is too vague. Would be sensible to state the required values for a) Reboot after Update Mangem

[2020-01-29 16:08] BhargaviAnnadevara-MSFT commented on #47006
@sivawebfunky Thanks for the suggestion. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-29 16:08] mmacy commented on #46997
Thanks, @gregorvilkner, we're definitely still working on synchronizing and bringing our docs up to date, and appreciate your patience. We're also currently evaluating our code samples for possible future updates.

For your MSAL.NET question, you might want to check out this sample which is a bit newer:

https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2

If it doesn't hav

[2020-01-29 16:12] JesvinJoseph opened #47054 "How to limit the rocks DB log file size?"
Hi,
From the rocks DB options file, I can see that the max_log_file_size is set to zero and the LOG file inside the Database folder goes on increasing. Will this exhaust the device disk storage? I can see that the log file count is limited to 1. How can I set a limit to the log file size from the cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-29 16:12] kabirshaikh opened #47055 "Converting 'IListBlobItem' to 'CloudBlob' throws Invalid Cast exception"
**UPDATE 2**: I was able to resolve this issue by moving the the call to **ListBlobsSegmentedAsync** to the container and using a prefix.

**UPDATE**: After taking a closer look at my code vs the sample in the docs, the only difference I can see is that rather than calling **ListBlobsSegmentedAsync** on a container, I'm calling it on a directory.

[code]
Then, in a separate method, this line now f

[2020-01-29 16:13] LowerKees opened #47056 "Should Azure Steam Analytics be in the streaming data ingestion table?"
Hi MFST,

Question: is Azure Stream Analytics a suitable ingestion tool for ingesting streaming data into the Data Lake? Currently, only Apache Storm is listed in the table under the following anchor: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-data-scenarios?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#streamed-data

Looking forward to your reply.

---
#### Document Detail

[2020-01-29 16:16] davidsmatlak commented on #46873
#in-progress

[2020-01-29 16:16] GiftA-MSFT commented on #46971
@girishnadiger-gep what latest changes are you referring to?

[2020-01-29 16:23] michaelschmit commented on #46886
For a little more context, I have enabled this setting/feature on my AKS cluster.  From a networking standpoint, I can see that it is working.  However, in security center my AKS cluster is still flagging the item as a security concern.  I'm wondering if it has to do with the fact that the security center item is marked as preview but the feature is no longer in preview.  With that said, I would l

[2020-01-29 16:24] tscheffel opened #47057 "ctx undefined"
In two examples on this web page, the variable "ctx" is used but is neither defined nor initialized.  It is doubtful the code would compile (it likely needs to be changed to "context").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd81df21-6f7d-9822-21a4-7098043e36f0
* Version Independent ID: d8b04662-9561-9cfc-a635-

[2020-01-29 16:31] wolfma61 commented on #45220
#please-close

[2020-01-29 16:31] #45220 closed

[2020-01-29 16:34] wolfma61 commented on #40202
The sample repository has samples for Pull- as well as PushAudioStream

[2020-01-29 16:34] jluk commented on #46595
Assumption is correct - to create a cluster, it requires defining the first agent pool in the same definition of the cluster. Subsequent updates can be made with agentpools only, but that first pool is required so the system pods can get scheduled altogether.

If you're trying to define in a single template, can you have all your agent pools configured with your managed cluster? We support that, b

[2020-01-29 16:34] ph3ll3r opened #47058 "Windows server 2019 enterprise Hyperv vm has docker installed and gets a error hcsshim::CreateComputeSystem: The virtual machine could not be started because a required feature is not installed. Probably since it is nested within the physical machine?"
Windows server 2019 enterprise Hyperv vm has docker installed and gets a error hcsshim::CreateComputeSystem: The virtual machine could not be started because a required feature is not installed. Probably since it is nested within the physical machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddbf28b-7953-3357-55

[2020-01-29 16:46] Adam-Smith-MSFT commented on #47044
@chrobakos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-29 16:54] DanieleG90 commented on #46905
I found a possible solution, in old Sql-connector configurations there are another 2 parameters for the Api connection:
          "authType": "[parameters('sql_1_authType')]",
          "gateway": {
            "id": "[parameters('sql_1_gateway_id')]"
          }
With these parameters it works, why aren't included in default parameters? Is it a bug?

[2020-01-29 17:15] EdwardP-VEN opened #47060 "Supported Linux Operating Systems"
I received the following error when running Update Agent Readiness against an Ubuntu 18.04 Azure Virtual Machine:
"Failed: Operating System version (Linux-5.0.0-1025-azure-x86_64-with-Ubuntu-18.04-bionic) is not supported. Supported versions listed here: https://docs.microsoft.com/en-us/azure/automation/automation-update-management#clients"
Would someone be able to update this page?

---
#### Docu

[2020-01-29 17:20] yoelhor commented on #46916
Both Claims Provider and Technical Profile must include the display name. Only the technail profile gets surfaced to the user interface. Thanks for the feedback we are fixing the doc accordingly.

[2020-01-29 17:32] philipstreet-hiscox opened #47062 "Issues with "Network ports used by your ISE" section"
I’m still struggling with some of the rules required for the ISE subnet NSG:
- “Intrasubnet communication” has Source / Destination Service Tag = “-“. What does that mean exactly?
- “Communication to Azure Logic Apps” and “Logic app run history” look the same to me, so why are they there twice? Unless there is a typo on one of them that would make them different.
- “Logic Apps Designer” and “Netwo

[2020-01-29 17:33] pvrk commented on #46855
Yes, we are working to enable this via Powershell. As of now, this feature is not yet available.

[2020-01-29 17:34] pvrk commented on #46855
@dcurwin: Can we add the 'feature-request' label? There is no documentation or product issue. Once the feature is available from Powershell, I will update the documentation.

[2020-01-29 17:34] philipstreet-hiscox commented on #46127
Is there any update on this, seeing as it was submitted 15 days ago? Thanks.

[2020-01-29 17:36] dcurwin commented on #46855
I think we can close the issue. The customer can make a feature request in the bottom of the documentation page, under "Feedback -> This product".

[2020-01-29 17:40] davidsmatlak commented on #46873
Another contributor published the fix for the broken link. I'll do a copyedit and style review of the document.

[2020-01-29 17:40] macolso commented on #20737
Hi @js-mode - thanks for bringing this to our attention. Unfortunately there are the only mitigation steps we can recommend for customers to attempt independently at this time. Can you please tag me  in your most recent open ticket or have your support engineer loop me into an email (email in GitHub bio)?

[2020-01-29 17:42] ticianaciminari opened #47063 "Is ”Resource Health alerts” already GA ?"
@aykitaya commented on [Wed Jan 29 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3031)

I have a question about "Resource Health alerts".
This document says "Resource Health alerts currently are in preview.".
However, according to the site below,  it looks like that Azure Monitor (Alert) and Azure Service Health have been already GA.
I think it means that "Resource Health alerts"

[2020-01-29 17:43] ticianaciminari commented on #47063
Hi Team, could you please check the question from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-29 17:45] #47043 closed

[2020-01-29 17:48] karimabuzaid opened #47064 ""The specified item could not be found in the keychain""
Would be nice to add a note about this issue:
https://stackoverflow.com/questions/16845169/error-when-trying-to-obtain-a-certificate-the-specified-item-could-not-be-found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b10cad-fba9-c907-fec8-ea03d21c9805
* Version Independent ID: b8676ca4-48fb-7640-f064-eb623eb1cba8
*

[2020-01-29 17:48] Schenz opened #47065 "Unable to do this to create social login users"
When I try to POST to https://graph.windows.net/{tenant}.onmicrosoft.com/users?api-version=1.6 my access_token never works.

When I try to POST to https://graph.microsoft.com/v1.0/Users, it does not like the userIdentities object (and passwordProfile object is slightly different)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-29 17:50] encorona-ms opened #47066 "Coming from Macos quickstart is not obvious"
If I come from https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-platform-cpp-macos is not obvious that I need to change the tabs to C++ and macOS... my first impression is that the document was incomplete/wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-27

[2020-01-29 17:51] ticianaciminari opened #47067 "improvement content - clean-up-resources section missing"
@aitormartinezvalderrama commented on [Wed Jan 29 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/696)

What about "clean-up-resources" section in this page "https://docs.microsoft.com/es-es/azure/app-service/app-service-web-get-started-dotnet-framework" like in the start guide os .NET Core (https://docs.microsoft.com/es-es/azure/app-service/app-service-web-get-started-dotnet#clean-

[2020-01-29 17:52] crisansou opened #47068 "Advisor doesn't allow to disable "Enable Soft Delete to protect your blob data" recommendation for Storage Account managed by Databricks"
Hi,

When the Storage Account is managed by Databricks, the Advisor displays an error message and doesn't allow disabling the recommendation. If it's not possible to disable why is the recommendation displayed? Can someone check, please?

![soft-delete-databricks](https://user-images.githubusercontent.com/29444086/73382757-e0199a00-42a6-11ea-8266-b6d9d762ad73.jpg)

Best regards,
Cristina

---
####

[2020-01-29 17:53] pl-araw opened #47069 "Removing VMSS VMs from AD Domain during deletion"
I am currently using the "JsonADDomainExtension" extension to add VMSS VMs to an Active Directory domain upon creation/update of each VM so that we can apply policies and use AD authentication to access the VMs. However, I cannot find any method to remove these VMs from the domain as apart of their deletion from the VMSS.

Is there any method to automatically delete the computer objects from AD on

[2020-01-29 17:54] safaheem opened #47070 "WEBSITES_ENABLE_APP_SERVICE_STORAGE setting"
There needs to be a correction in the default value of this setting. By default, the value of this app setting is false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [Run built-in containers FAQ - Azure App

[2020-01-29 17:55] erhopf commented on #47066
@encorona-ms - Thanks for reaching out. We're in the process of deprecating: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-platform-cpp-macos. Moving forward the expectation is that you'll get your guidance from the quickstart itself or the guides linked to in the prereqs section. @IEvangelist is working on the change and we'll notify you when it's live.

#ple

[2020-01-29 17:55] #47066 closed

[2020-01-29 18:00] MancTwins commented on #23700
Hi @YutongTie-MSFT ,
i am trying to run the sample code,but i am getting an error: "An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set."
I have create a computer vision from my azure portal, the endpoint is https://tisskicomputervission.cognitiveservices.azure.com/
and the region is UK south

[2020-01-29 18:02] vlado101 commented on #46799
Hi @MartinJaffer-MSFT sorry for the lat reply.

So I am having an issue where I am not seeing the format that you see for DateTime on the right hand side in the mapping section. For example this is what I see:

![image](https://user-images.githubusercontent.com/9321800/73383537-83fb4980-4297-11ea-83a1-7998d0e53682.png)

Column 1 in this case is date that is coming from a text file. So what is happ

[2020-01-29 18:05] #47019 closed

[2020-01-29 18:10] SaurabhSharma-MSFT commented on #47042
@stephen-cairns Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-29 18:11] gomnet commented on #46531
Thanks for the information, could you give me more details about scope?
Which scope exactly I have to add? Could you confirm me the access_token is
JWT format? And are you using common tenant?

Thx so much for sharing your knowledge.

On Wed, 29 Jan 2020, 14:40 zakibenz, <notifications@github.com> wrote:

[2020-01-29 18:12] himanshusinha-msft commented on #47037
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-29 18:13] SteveL-MSFT commented on #46825
This doesn't look like an issue in PowerShell itself, but in the `Set-AzVMBootDiagnostic` cmdlet.  As @msrini-MSFT noted, please open an issue in the Azure PowerShell repo: https://github.com/Azure/azure-powershell/issues

[2020-01-29 18:16] ticianaciminari commented on #47067
Hi Team, could you please check the request from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-29 18:23] erhopf commented on #46744
#reassign: @oscholz

[2020-01-29 18:24] fborup commented on #37819
I´m stuck wit the error:
NPS Extension for Azure MFA:  CID: 82ab84c7-1364-4970-a065-89b6527cc107 :Exception in Authentication Ext for User DOMAIN\USERLOGINNAME
:: ErrorCode:: CID :82ab84c7-1364-4970-a065-89b6527cc107 ESTS_TOKEN_ERROR Msg
:: Verify the client certificate is properly enrolled in Azure against your tenant and the server can access URL in Registry STS_URL. Error authenticating to eSTS

[2020-01-29 18:25] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri You are going to need to deploy a VM with the specific Data Science VM components, and once these are understood, you could possibly set up your bare-metal instance in the same manner. There appears to be two sets of instructions, one to use the standard IoT Edge Linux VM and the other to use the Data Science VM. There is also a specific AI container for IoT Edge.

[Create containe

[2020-01-29 18:26] SaurabhSharma-MSFT commented on #46898
@Superdabdab Are you able to join your device to your organizational network ?  Once you join your network then you can follow the [document](https://docs.microsoft.com/en-us/intune-user-help/enroll-windows-10-device) to enroll your device to intune.

[2020-01-29 18:41] robhardman opened #47071 "Support Tip: Ensure User is set to correct login type within Workplace"
When rolling a certificate over, administrators may choose to also enable password login in the authentication settings page within Workplace, in order to stop themselves getting locked out. Admins should ensure their 'test user' login setting within Workplace Settings &gt; People is set to 'SSO' (particularly if they have logged themselves into Workplace using a password during testing), otherwis

[2020-01-29 18:41] curtand commented on #46552
Bulk restore can restore at least 30,000 users in one hour.

  *   Kristina

From: Kristina Smith
Sent: Tuesday, January 28, 2020 11:17 AM
To: Curtis Love <Curtis.Love@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Is there a limit on how man

[2020-01-29 18:49] MartinJaffer-MSFT commented on #47049
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-01-29 18:50] tzedakisp opened #47072 "Multi-region API Management deployment with 1 single unit in each region?"
Hi, I have a question that I could not answer just by studying the documentation, so I would appreciate your insight.
Suppose that I scale my premium-tier, 1-unit API Gateway to a multi-region deployment with two regions, say North Europe and West Europe, each region having just one (1) unit.

I understand that if one region goes down, then my API calls will be served by the other region's API gat

[2020-01-29 18:54] mikebudzynski commented on #47072
The answer to your questions is in the last section of the documentation:

You can read more about the routing in the Traffic Manager documentation: https://docs.microsoft.com/en-gb/azure/traffic-manager/traffic-manager-routing-methods#performance

If you have more questions, please contact Azure support.

#please-close

[2020-01-29 18:54] #47072 closed

[2020-01-29 18:54] rishabpoh commented on #44632
Default behavior is as follows:
GPv2 Account - soft delete (disabled)
GPv1 Account - soft delete (disabled)
Blob Storage Account - soft delete (disabled)
Classic Storage Account - soft delete (disabled)

Mentioned in docs [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete?tabs=azure-portal#configuration-settings)
"When you create a new account, soft delete is off

[2020-01-29 18:57] codepoet80 commented on #43515
Why did you close this thread without resolving the issue?

[2020-01-29 18:59] arduppal commented on #46512
@aros1697 :- It should upload the file to the cloud if `storageContainersForUpload` property for cont1 is correctly configured

[2020-01-29 19:01] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri All the documentation stuff aside, you might be able to resolve your issue by opening port `5671` on the Linux host. You can use one of the following commands to test ports and IP communications. Please investigate the communication between your on-premise host and the ML Notebook instance in Azure.

[2020-01-29 19:06] mike-urnun-msft commented on #47057
@tscheffel Thank you for your feedback! We will review and update as appropriate.

[2020-01-29 19:09] Grace-MacJones-MSFT commented on #47046
Hi @dineshbaskaran, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-29 19:14] shaileshvajacobweb opened #47073 "Location parameter is miss-typed"
Section 4, "Create the gateway" in "To configure coexisting connections for an already existing VNet" Location parameter is miss-typed.
$gw = New-AzVirtualNetworkGateway -Name <yourgatewayname> -ResourceGroupName <yourresourcegroup> -Location <yourlocation) -IpConfigurations $gwConfig -GatewayType "ExpressRoute" -GatewaySku Standard

it should be like this.
$gw = New-AzVirtualNetworkGateway -Name

[2020-01-29 19:17] jvdenning commented on #44779
I agree with the OP, it's pretty dismal that the code sample in the documentation uses an class that is marked as internal (and for those who don't understand that, means us mere mortals can't use it) - nothing to do with the product, the majority know where to go if we have comments about the actual product....

[2020-01-29 19:18] Grace-MacJones-MSFT commented on #47070
Hi @safaheem, Thanks for bring this to our attention. We are actively investigating and will get back to you soon.

[2020-01-29 19:20] tfitzmac commented on #46271
In this case, I believe there is an overlap of terms. For this article, applications refers to the resource type which currently indicates it does not support move.

[2020-01-29 19:20] tfitzmac commented on #46271
#please-close

[2020-01-29 19:20] #46271 closed

[2020-01-29 19:20] Grace-MacJones-MSFT commented on #47064
Hi @karimabuzaid, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-29 19:21] Mike-Ubezzi-MSFT commented on #46885
And I believe your on-premise IoT Edge Linux host needs to connect with the Data Science VM running in Azure: [Welcome to Azure IoT Edge on Data Science Virtual Machine](https://github.com/Azure/ai-toolkit-iot-edge/tree/master/Azure%20IoT%20Edge%20on%20DSVM#welcome-to-azure-iot-edge-on-data-science-virtual-machine)

1. You have created an IoT Hub in your Azure subscription
2. You have created IoT

[2020-01-29 19:28] beniluul opened #47074 "SaaS app in Azure gallery needs to be renamed from "Halogen Software" to "Saba TalentSpace""
As you may be aware, Halogen has recently been acquired by Saba Software.
https://www.saba.com/press/news/saba-software-announces-agreement-to-acquire-halogen-software
Thus, the "**Halogen Software**" Product is currently called "**Saba TalentSpace**".

A few sections that need to be updated on your KB article, "**_Azure Active Directory integration with Halogen Software_**" (https://docs.microsof

[2020-01-29 19:38] ticianaciminari opened #47075 "Possibility to define different lockout threshold for each type of counter (familiar / unfamiliar) ?"
@bsocca commented on [Wed Jan 29 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/680)

Hello,

Could you confirm that the Azure AD threshold is used both for familiar and unfamiliar locations ?
If yes, do you have a roadmap to be able to configure independant threshold (existing feature in ADFS 2019) ?
Regards,

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est o

[2020-01-29 19:38] ticianaciminari commented on #47075
Hi Team, could you please check user's question?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-29 19:39] hpsin commented on #46953
At this time it's not possible.  We're investigating more reliable replacements for v2, as the existing amr claim has issues related to onboarding FIDO and other more advanced credentials.

[2020-01-29 19:40] leela-uppuluri commented on #46885
@Mike-Ubezzi-MSFT Thanks for all those suggestions. I will try to create a DSVM instance and check it out if it works that way.

[2020-01-29 19:41] himanshusinha-msft commented on #46724
@yevgenche : Wed id tried to repro the issue and unfortunately we failed .

For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to azcommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.
Thread URL:https:

[2020-01-29 19:48] asubmani commented on #39015
+1.. I am testing this..
The docs indicate that Traffic Manager is an optional feature to route traffic.
What is NOT clear is if in an APIM with PVT VNET setup; without Traffic manager, will the `@(context.Deployment.Region) ` config setting still work?

Another thing the doc doesn't clearly mention is the below:

[code]
Is the base url the url of Backend service? It seems it is the base url of th

[2020-01-29 19:51] wendlandreas commented on #43257
I think, I found the solution:

1. Create a new rule
2. Condition: URL file name "Any"
3. Action: URL rewrite:
  a. Source pattern: "/"
  b. Destination: "/index.html"
  c. Preserve unmatched path: No
4. Save rule

Hard reload of the page with custom URL returns status code 200 and is routed correctly.
See attached screenshot.
![Azure_Static_Website_Rewrite_Spa_Urls](https://user-images.githubuser

[2020-01-29 19:52] SaurabhSharma-MSFT commented on #46945
@PaulSells Are you still having this issue ?  Can you please share your subscription id, portal screenshot with the issue link over email to AzCommunity[at]microsoft[dot]com so that I can investigate it.

[2020-01-29 19:56] SaurabhSharma-MSFT commented on #46964
Please post this as a feedback to [Uservoice](https://feedback.azure.com/forums/920458-azure-sentinel). This will allow the community to up-vote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-01-29 20:03] MarileeTurscak-MSFT commented on #47074
@beniluul
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-29 20:04] Karishma-Tiwari-MSFT commented on #44395
@viswanadham-k Is there an update on the same?

[2020-01-29 20:06] Karishma-Tiwari-MSFT commented on #44940
@throndir The schema link is not working. Can you please share the link again.
Also, checking in, were you able to resolve your issue?

[2020-01-29 20:10] Karishma-Tiwari-MSFT commented on #45939
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-29 20:10] #45939 closed

[2020-01-29 20:16] WizX20 commented on #47001
Never mind, I think it is because I'm not on the Verizon Premium Tier or something. I am going to drop this and try something else.

[2020-01-29 20:16] #47001 closed

[2020-01-29 20:36] szliuxf opened #47078 "formatNumber example error"
The example is not correct for formatNumber.
formatNumber(17.36, "{0:C2}")  really did not work for me in trying out flow.  It should have been
formatNumber(17.36, 'C2') and it took me quite some time to do try and error and figure out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a

[2020-01-29 20:39] TravisCragg-MSFT commented on #47045
@mchudinov You can find [PowerShell instructions to configure SSL with Azure Key Vault Here](https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps). Instructions for  the creation and assignment of the User-Assigned Managed Identity are included.

Unfortunately we only have instructions for PowerShell at the moment.

We will now proceed to close this thread. If there are

[2020-01-29 20:39] #47045 closed

[2020-01-29 20:41] mhopkins-msft commented on #46624
Hi @bjss-chris, the Azure storage emulator is not yet deprecated because it supports some scenarios that are not yet implemented in Azurite. However, ongoing development for storage emulation is taking place in Azurite, at this point. Azure storage emulator should be deprecated once Azurite reaches parity.

Thanks!
 ~ _Mark_

#please-close

[2020-01-29 20:41] #46624 closed

[2020-01-29 20:42] ololoru opened #47079 "Markdown issues with Accounts item rendering"
Must be markdown error somewhere here

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83df0ac8-6349-4ea5-4698-fdf00c69c92f
* Version Independent ID: 5afd32d5-5585-c495-b68d-7d68963b6b3d
* Content: [Introduction to Table storage - Object storage in Azure](https://docs.microsoft.com/en-us/azure/storage/tables/tabl

[2020-01-29 20:43] shalosi opened #47080 "Give more detailed information about Resource Groups limits"
Please update the limit for each of the resources below is 800 per Resource Group:

• microsoft.portal/dashboards
• microsoft.insights/scheduledqueryrules
• microsoft.insights/components
• microsoft.insights/alertrules
• microsoft.alertsmanagement/smartdetectoralertrules
• microsoft.insights/actiongroups
• microsoft.insights/metricalerts
• microsoft.insights/webtests
• microsoft.insights/activityl

[2020-01-29 20:47] vhorne commented on #46847
Article updated. Should go live around 3 pm PST
#please-close

[2020-01-29 20:47] #46847 closed

[2020-01-29 20:49] mhopkins-msft commented on #47044
Hi @chrobakos, this article is specifically about version 2.1 of the Azure Storage Python library. The `pip` command is correct for that version. There is another article about using the latest version of the library here: [Quickstart: Azure Queue storage client library v12 for Python](https://docs.microsoft.com/en-us/azure/storage/queues/storage-quickstart-queues-python). Sorry for the confusion.

[2020-01-29 20:49] #47044 closed

[2020-01-29 20:59] hat-cat commented on #36325
I am also having the same issue.

I currently have on-prem AD connected to AzureAD (free tier) via AAD Connect. When I set up the AzureAD authentication method via AzureCP, there doesn't seem to be a way for me to set up a synchronization connection without having to implement something else (AAD DS, ADFS etc.). Simply importing profiles from On-prem AD does not work, and I don't know how on-prem

[2020-01-29 20:59] MarileeTurscak-MSFT commented on #47074
@beniluul thanks for this. I made a pull request to change all of the references, but the screenshots still need to be changed. @jeevansd

https://github.com/MicrosoftDocs/azure-docs-pr/pull/102716

[2020-01-29 21:05] bandersmsft commented on #16738
@jtuliani @BenWhite27 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:05] #16738 closed

[2020-01-29 21:06] bandersmsft commented on #19918
@dcbrown16 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:06] #19918 closed

[2020-01-29 21:07] bandersmsft commented on #25113
@jzuchora87 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:07] #25113 closed

[2020-01-29 21:08] bandersmsft commented on #25867
@Praveen-410 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:08] #25867 closed

[2020-01-29 21:08] bandersmsft commented on #29143
@PowerShellToday I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:08] #29143 closed

[2020-01-29 21:09] bandersmsft commented on #33660
@HannahHsiao I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:09] #33660 closed

[2020-01-29 21:11] bandersmsft commented on #34563
@Jacintopc I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:11] #34563 closed

[2020-01-29 21:11] bandersmsft commented on #35275
@HannahHsiao I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:11] #35275 closed

[2020-01-29 21:13] wiazur commented on #46919
Thanks @RhohitMungi-MSFT, I'll let my manager know. The endpoints in Azure have not been consistent with their pattern of usage, so this might be a good thing to share with him. Oftentimes you only use what they call the base endpoint, which is `http://<custom-name-or-region>.api.cognitive.microsoft.com`. Then other times you are supposed to use the full endpoint path as shown in Azure. I'll pass

[2020-01-29 21:13] #46919 closed

[2020-01-29 21:17] bandersmsft commented on #36266
@sanalex I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:17] #36266 closed

[2020-01-29 21:17] bandersmsft commented on #13487
@mganeshphani I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:17] #13487 closed

[2020-01-29 21:19] bandersmsft commented on #25122
@jask2002 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:19] #25122 closed

[2020-01-29 21:22] bandersmsft commented on #26499
@shalosi I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:22] #26499 closed

[2020-01-29 21:22] sunil-cldy commented on #28457
@anirudhcavale the above thread and solution by you very very helpful.
Now I see that I'm able to query the custom metrics for linux with namespaces from the REST API call mentioned above... how about retrieving the same from azure sdk for java? I that still not supported but if its supported can you please help me around the same with some examples!

[2020-01-29 21:23] bandersmsft commented on #33841
@prabhakarreddy1234 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 21:23] #33841 closed

[2020-01-29 21:23] Mike-Ubezzi-MSFT commented on #47025
@sanchetanparmar Thank you very much for your interest in Azure. There is a High Availability option for Azure Database for MySQL as well as a Read-Replicas option. As for High Availability, I am not seeing a means to trigger an fail-over event, unless you try a [server restart](https://docs.microsoft.com/en-us/cli/azure/mysql/server?view=azure-cli-latest#az-mysql-server-restart).
The High Availab

[2020-01-29 21:25] rajanbhayana commented on #47033
resource manager is not letting me make a PUT call at resource level. the EDIT button is hidden. I can see it at resource group level but not when i select my cluster.

[2020-01-29 21:29] BenWhite27 commented on #16738
@bandersmsft The question still remains if this is the correct API and if it's soon to be deprecated or not.  Perhaps some details of my scenario will help?

I work for an MSP and we're signed up as an Indirect Reseller in the CSP Partner program.  We use an Indirect Provider to resell Azure subscriptions for our customers.  The Indirect Provider has an API that supplies us with the usage meters a

[2020-01-29 21:30] mgibb-bdo opened #47081 "Basic SKU cannot do outbound rules"
In the Scenario overview table the Basic SKU is included in Scenarios 1 and 2, but Outbound rules are not supported on the basic SKU

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-16e2-1916-4270cdfbbcdd
* Content: [Outbound connections in Azur

[2020-01-29 21:30] galvesribeiro commented on #42962
Hello folks!

This is issue is labeled _assigned-to-author_. I'm now see how I can fix this problem...

Can someone give us directions?

Thank you!

[2020-01-29 21:33] jyee021 opened #47082 "Tainting a AutoScalable Node Pool"
I'm running azure-cli v2.0.80 and getting an error when running "az aks nodepool --node-taints", "--node-taints" is not a listed option in az aks.  Also the doc states to list all nodes via kubectl get nodes and then apply the taint, doesn't this just taint one node in a nodepool? How do I apply it to an entire nodepool that autoscales?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-01-29 21:38] asudbring commented on #47081
Hi @mgibb-bdo
The table is to show how azure handles all outbound connectivity and is not only for Standard LB:

**Azure currently provides three different methods to achieve outbound connectivity for Azure Resource Manager resources.**

There is an explicit callout in the Scenario 1 to use outbound rules for Standard LB.

Thanks!

[2020-01-29 21:39] MartinJaffer-MSFT commented on #47049
Thank you for bringing this to our attention, @Willem-J-an .  I will assign this to author, and I will reach out internally for more information you can use until the document is properly updated.

[2020-01-29 21:41] Mike-Ubezzi-MSFT commented on #47055
@kabirshaikh Thank you for bringing this to our attention. We are investigating and will update you when we have additional information.

[2020-01-29 21:42] MartinJaffer-MSFT commented on #47049
@linda33wj  Please assist and provide information on the "Block size (MB)" feature.
![image](https://user-images.githubusercontent.com/46612670/73400000-181bdf80-429d-11ea-8844-9d7e5816b74f.png)  This document is linked to by the "Click to learn more." button, but has no information.

[2020-01-29 21:44] MarileeTurscak-MSFT commented on #46916
Thanks @yoelhor .

I've assigned this to you. Please close the issue out when this is resolved.

[2020-01-29 21:45] jeevansd commented on #47074
@MarileeTurscak-MSFT Can you please fix the image names?

[2020-01-29 21:49] rwike77 commented on #43752
#reassign:@TylerMSFT

[2020-01-29 21:50] radumg commented on #46826
hi everyone, sorry for delay. @ketan-chawda-msft , note i'm on UK timezone, so won't see comments during PT workhours.

@kevinlam1 , we hit many issues when trying to use the NEW ServiceBus client together with AppLogic's ServiceBus connector. We're posting messages using the new `Microsoft.Azure.ServiceBus`  NuGet, running inside .NET Core 3.1 Azure Functions with a simple string payload (json as

[2020-01-29 21:52] tehtertot opened #47083 "Issues with continuous deployment"
I am having trouble integrating C# .NET Core code with continuous deployment. My code works great locally, but doesn't work from the portal. My deployment settings are linked to VSO. From the logs, it appears the build is successful. The ServiceBusTrigger function is appropriately triggered, but when I check the "Monitor" tab and view the Invocation Details, I get the following:

Something went wr

[2020-01-29 21:53] rajanbhayana commented on #47033
Thanks. That resolved it.

[2020-01-29 21:53] #47033 closed

[2020-01-29 22:00] eugen-nw opened #47084 "People who want to script the Key Vault & certificate import need these two lines"
They need to be placed right after the `New-AzKeyVault` call.  To retrieve the `$UserPrincipalName` value one needs to run `Get-AzADUser`.

`# Enable access to Key Vault`
`Set-AzKeyVaultAccessPolicy  -VaultName $VaultName  -ResourceGroupName $KeyVaultResourceGroupName  -UserPrincipalName $UserPrincipalName  -PermissionsToCertificates get, list, delete, create, import, update, getissuers, listissue

[2020-01-29 22:01] Mike-Ubezzi-MSFT commented on #47058
@ph3ll3r Thank you for bringing this to our attention. Can you detail the specific document or tutorial you were following for this? It will help get the issue the appropriate attention.

[2020-01-29 22:03] asudbring commented on #47081
#please-close

[2020-01-29 22:03] #47081 closed

[2020-01-29 22:19] markmabe commented on #45791
Hi @Adam-Smith-MSFT -- was just wondering if you heard anything back regarding a firm time frame for when ATP gets enabled on new storage accounts?

[2020-01-29 22:19] eugen-nw opened #47085 "My ARM deployment fails because the VM extension cannot find the certificate"
I'm running out of ideas here, so I'm wondering if anyone already solved this problem.  I VPN-ed into one of the Nodes and the certificate sits there nicely in the "Certificates (Local Machine)/Personal/Certificates" and the common name matches exactly.  This is the full error that I'm getting:

New-AzResourceGroupDeployment : 1:48:07 PM - Resource Microsoft.Compute/virtualMachineScaleSets 'certs'

[2020-01-29 22:19] RyanHill-MSFT commented on #47022
@abhilashmk can you tell us what behavior you're currently seeing? Does it become disabled before 12 hrs?

[2020-01-29 22:21] Karishma-Tiwari-MSFT commented on #47082
The document says, ''Use the kubectl get nodes command to **view** the nodes in your cluster."
This command is used to apply taint to the specified nodepool i.e. nodes in that nodepool
az aks nodepool --node-taints aks-gpunodepool-28993262-vmss000000 sku=gpu:NoSchedule

It looks like the feature for autoscalable node pool has been completed.
Please refer to this thread for more details: https://gi

[2020-01-29 22:29] mike-urnun-msft commented on #47062
@philipstreet-hiscox Thank you for your feedback! We will review and update as appropriate.

[2020-01-29 22:30] bandersmsft commented on #16738
@BenWhite27 I plan to update https://docs.microsoft.com/azure/cost-management-billing/manage/usage-rate-card-overview by the end of this week. It's outdated and needs an overhaul. As you might have noted, https://docs.microsoft.com/rest/api/billing has the most up-to-date info, but there's a subset of users that will still want to use the older Azure Resource RateCard API. Feel free to open a new

[2020-01-29 22:30] tehtertot commented on #47083
For additional information, even though it appears to have installed in the deployment logs, I still had to manually install the extensions by:
1. changing Function app edit mode from Read Only to Read/Write
2. then clicking "+" next to the functions
3. clicking on Azure Service Bus Queue trigger to get the prompt to install the extension
4. click to install the extension

I am wondering if the ve

[2020-01-29 22:34] Mike-Ubezzi-MSFT commented on #47069
@pl-araw Thank you for making us aware of this scenario and the lack of clarity in the documentation. We are investigating and will update you when we have additional information to share.

[2020-01-29 22:34] Grace-MacJones-MSFT commented on #47064
Hi @karimabuzaid, what exactly would you like to see added to this doc?

[2020-01-29 22:37] bandersmsft commented on #34230
@femsulu Can you please assign this issue to the Azure Resource Manager service? This isn't an issue for billing/svc. Thanks

[2020-01-29 22:38] bandersmsft commented on #11814
@gitstua I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 22:39] #11814 closed

[2020-01-29 22:41] bandersmsft commented on #18121
@DrachovDmytro I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 22:41] #18121 closed

[2020-01-29 22:43] bandersmsft commented on #21126
@pzmusician I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 22:43] #21126 closed

[2020-01-29 22:44] marc-gmail-towersap opened #47086 "This doesn't seem to work with the original URL scheme"
We have an older azure devops organization that follows the pattern org.visualstudio.com.  We have LOTS of projects underneath it.

Now, when we try to save our git repo using the url org.visualstudio.com/project/_git/repo, it fails.  It cannot work.
we tried to see if dev.visualstudio.com/org/project/_git/repo, but that fails as well.

Please SUPPORT the old URL.  We have lots of people who would

[2020-01-29 22:45] bandersmsft commented on #28697
@vinnielima I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 22:45] #28697 closed

[2020-01-29 22:45] jtuliani commented on #46986
Thanks all for the quick response. Really hope we can update the doc to reflect this, it would only take a few words. Much better when this is used as a feedback channel to improve the docs, rather than a Q&A channel.

[2020-01-29 22:47] bandersmsft commented on #27569
@SadiqhAhmed-MSFT please assign this to the Azure Resource Manager service. Not a billing issue.

[2020-01-29 22:47] SaurabhSharma-MSFT commented on #47042
@stephen-cairns Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@memildin Can you please check and update the documentation as the documentation says about Linux images but not about windows images.

[2020-01-29 22:47] marc-gmail-towersap commented on #43890
say, is your organization URL like <org>.visualstudio.com/<project>/_url/<your repo>?  because we are facing the same issue, that save button is not enabled, and I'm guessing it's because my organization does NOT follow dev.visualstudio.com/<org>.  Which is not my fault, microsoft for whatever reason decided to change after we created our org(s).  we have multiple orgs due to acquisitions.

[2020-01-29 22:48] SaurabhSharma-MSFT commented on #46711
@BakkerJan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-29 22:48] #46711 closed

[2020-01-29 22:48] bandersmsft commented on #35491
@SadiqhAhmed-MSFT Please assign this to the Azure Resource Manager service. This isn't a Billing issue.

[2020-01-29 22:49] marc-gmail-towersap commented on #43890
dang it, it lost the brackets.  is your URL like org.visualstudio.com/ instead of dev.visualstudio.com/org??

[2020-01-29 22:49] SaurabhSharma-MSFT commented on #42936
@sladeedmonds We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-29 22:49] #42936 closed

[2020-01-29 22:50] bandersmsft commented on #7882
#please-close

[2020-01-29 22:50] #7882 closed

[2020-01-29 22:58] tfitzmac commented on #44546
@SwathiDhanwada-MSFT or @KrishnaG-MSFT - can you forward this issue to the SQL product team? I have confirmed the same behavior when redeploying an existing sync agent. I don't see any kind of change that can be made in the documentation.

[2020-01-29 23:00] bandersmsft commented on #40519
@KrishnaG-MSFT Please reassign this as an engineering team bug and clear assigned to author.

[2020-01-29 23:00] Karishma-Tiwari-MSFT commented on #46974
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-29 23:00] #46974 closed

[2020-01-29 23:03] bandersmsft commented on #34025
@prabhakarreddy1234 I apologize this old issue wasn’t resolved. In an effort to refocus resources on current issues, I’m closing this one. If you feel that the issue wasn’t adequately addressed and you still need assistance, please feel free to reactivate.
#please-close

[2020-01-29 23:03] #34025 closed

[2020-01-29 23:03] jwisener commented on #40030
I don’t see how you can say it’s beyond the ‘scope’, given the documentation states it’s to reduce downtime and provide zero down time. No one ever creates apps that use just one machine. Most apps use an front end,
Api and at least a data store (sql or some sort of db). This describes in the document helps with nothing. Because as soon as you swap the front end your api is now out of sync.

[2020-01-29 23:06] bandersmsft commented on #34024
@femsulu This is an enginnering team bug. Please remove the assigned to author flag.

[2020-01-29 23:07] jyee021 commented on #47082
Thank You ! Yes, adding the "add" command worked to taint the node pool during the initial deployment of the node pool.  Just curious if there's a way to apply the taint to an entire node pool after its been deployed?

[2020-01-29 23:09] eugen-nw commented on #47085
I've figured out this one.  The problem was caused by me using the full Certificate.Subject value of "CN=*.boldiq.solutions, OU=Domain Control Validated" in the certificateCommonName parameter's value, instead of only the CN part which is "*.boldiq.solutions".  The deployment completed successfully after this change.

[2020-01-29 23:10] Ayanmullick opened #47087 "Managed instance PowerShell support"
Is there an ETA for PowerShell support for BACPAC export of an Azure Managed instance SQL database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc23-72a48fc46e1e
* Version Independent ID: dfb8cad9-6233-f97f-c849-1820ad642c7c
* Content: [Export a single or pooled database to a BACPAC file - Azure S

[2020-01-29 23:21] KranthiPakala-MSFT commented on #46869
@mamccrea Hi Mary, could you please have a look at the feedback from @krishnasriSomepalli . Thanks!

[2020-01-29 23:22] michaelschmit opened #47088 "AKS NSG when Grafana and Kiali are Disabled in Istio Config"
When deploying istio into AKS with grafana and kiali disabled, I am still seeing the NSG being updated to allow the traffic which seems wrong to me.  I know grafana and kiali are disabled properly via the config because the deployment doesn't exist in AKS under the istio-system namespace.  If I enable grafana and kiali I see the those deployments.  With that said, if this for some reason is intend

[2020-01-29 23:30] antgonmir opened #47089 "Does this feature work with Linux based (Python) Azure Functions?"
Even though in the application settings the Azure portal indicates success for referencing the secret in the Key vault, the function fails to resolve the references into the actual secret values when running. We are testing this with Linux based (Python) Azure Function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f

[2020-01-29 23:31] Mike-Ubezzi-MSFT commented on #8416
@ikflc Wanted to follow-up and see if you were able to resolve this? Per the support request that was opened for this specific issue, the following is the issue:

[2020-01-29 23:32] nickbeagley2 opened #47090 "Process database permission description"
The current description of the "Process database" permission is: "Members can run Process and Process All operations. Cannot modify the model schema and cannot query data."

As-is it implies reading of the model schema is granted, which through my testing does not appear to be the case. The only way to read the model schema is with Full Control.

An improved definition, once validated, would be: "

[2020-01-29 23:34] bmwaechter opened #47091 "JSON Playload Expression does not work for ServiceBus Triggers"
The documentation reads: "When a trigger payload is JSON, you can refer to its properties in configuration for other bindings in the same function and in function code.".  However, when my trigger is a service bus message who's content is JSON, I cannot refer to the properties with expressions.  Either there is a bug in the service bus trigger library or the documentation needs updated to specify

[2020-01-29 23:34] Mike-Ubezzi-MSFT commented on #47073
@shaileshvajacobweb Thank you for bringing this to our attention, and for detailing the specific changes that are needed. What I am looking for is the specific document that requires this update. Can you provide the link? Thank you...

[2020-01-29 23:35] ikflc commented on #8416
Hi Mike,
I am still waiting for our cloud team to action. I think the issue can be closed.
Thanks for your follow-up.
Best regards,
Irene

From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, 30 January 2020 10:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Irene Lam <Irene.Lam@aemo.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs

[2020-01-29 23:36] Karishma-Tiwari-MSFT commented on #46876
From my understanding, this parameter "-AvailableToOtherTenants $true" is for creating multitenant service principal but not needed in this scenario.
@ChristianMontoya Can you please confirm, I will update the document if needed. Thanks :)

[2020-01-29 23:39] Karishma-Tiwari-MSFT commented on #45878
The PR has been created and currently being reviewed. The changes will be live shortly after merge.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-29 23:39] #45878 closed

[2020-01-29 23:39] ChristianMontoya commented on #46876
@diecknet : Unfortunately, this is still needed. We are updating our service and PowerShell modules to not rely on the global scope for Azure AD, and will update this document when this is no longer required.

[2020-01-29 23:46] dave-read opened #47093 "Name for disk encryption set doesn't match prior step when creating the AKS cluster"
Small difference in name of Disk Encryption Set between create step and using it when creating AKS cluster.

`myDiskEncryptionSetName` vs `diskEncryptionSetName`

# Create a DiskEncryptionSet
az disk-encryption-set create -n **myDiskEncryptionSetName**  -l myAzureRegionName  -g myResourceGroup --source-vault $keyVaultId --key-url $keyVaultKeyUrl

# Retrieve the DiskEncryptionSet value and set a va

[2020-01-29 23:47] lobrien commented on #46409
Attached please find a Jupyter notebook that tries to address your question. The notebook writes two files: **parent.py** and **child.py**. The **parent.py** program runs on your local machine and creates several children instances of **child.py**. It passes a different argument to each child, which outputs the passed-in argument as a "metric" that shows up in the Azure page appropriate to each ch

[2020-01-29 23:49] TravisCragg-MSFT commented on #47073
@shaileshvajacobweb Thanks for the feedback! I have updated the script, and the changes should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-29 23:49] #47073 closed

[2020-01-29 23:50] femsulu commented on #47050
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-29 23:50] Karishma-Tiwari-MSFT commented on #47082
Thanks for the update.
`az aks nodepool` command execute operations on an individual node pool.
Nodes of the same configuration are grouped together into node pools. So yes, the command shared above for taint should apply taint to the specified nodepool in the command.

[2020-01-29 23:50] mikemorrison111 opened #47094 ""Run the device sample" section could use an update"
Run the device sample needs to be adjusted to take into account the code creates binaries for DotNet 2.2. & 3.0.
(note .NET Core 2.2 is EOL 2019-12-23 but the build is locked on this from the SDK)

[failed run]:
E:\...EnvironmentalSensorSample&gt; dotnet run
Unable to run your project
Your project targets multiple frameworks. Specify which framework to run using '--framework=netcoreappX.x'.

[prop

[2020-01-29 23:51] #47082 closed

[2020-01-29 23:51] femsulu commented on #47052
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-29 23:52] femsulu commented on #47060
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-29 23:55] femsulu commented on #47068
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@saket-ms - who on the PG side can help with this?

[2020-01-29 23:56] femsulu commented on #47080
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-29 23:56] normesta commented on #44043
Thank you @MatthewSteeples. We've reorganized this article and now include a link to an Azure CDN article where the pricing information should be more accurate. Thank you.

[2020-01-29 23:57] normesta commented on #44043
#please-close

[2020-01-29 23:57] #44043 closed

[2020-01-29 23:58] tfitzmac commented on #36511
@Mike-Ubezzi-MSFT - please reassign to SQL product team. Any changes in the descriptions have to happen in the [REST API specifications](https://github.com/Azure/azure-rest-api-specs). There are no changes that can be made directly in the template documentation.

[2020-01-29 23:59] normesta commented on #43551
Thank you all for the feedback. The documentation has been streamlined a bit and now links to articles that are bit more up to date. Thank you again.

[2020-01-29 23:59] normesta commented on #43551
#please-close

[2020-01-29 23:59] #43551 closed

[2020-01-30 00:04] normesta commented on #23714
Thank you for reaching out @CastleArg. We've added an article for setting CDN with static site here - https://docs.microsoft.com/en-us/azure/storage/blobs/static-website-content-delivery-network. Thx again!

[2020-01-30 00:04] normesta commented on #23714
#please-close

[2020-01-30 00:04] #23714 closed

[2020-01-30 00:04] davidsmatlak commented on #46873
Another contributor published the fix for the broken link. I did a copyedit and style review. I submitted an update and when it merges, this issue will automatically close.

[2020-01-30 00:06] normesta commented on #13151
Hello all, We've added an article for static site setup with CDN here - https://docs.microsoft.com/en-us/azure/storage/blobs/static-website-content-delivery-network.

Thank you!

[2020-01-30 00:06] normesta commented on #13151
#please-close

[2020-01-30 00:06] #13151 closed

[2020-01-30 00:08] Grace-MacJones-MSFT commented on #47089
Hi @antgonmir, thanks for the question! We are currently investigating and will update you shortly.

[2020-01-30 00:10] tfitzmac commented on #47080
@shalosi - thanks for this feedback. The article states that by default each resource type is limited to 800 per resource group. However, there are some resource types that allow more than 800. Those resource types are listed in the [linked article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resources-without-resource-group-limit).

I want to make sure I understand yo

[2020-01-30 00:11] normesta commented on #45835
#assign: @bensack

[2020-01-30 00:12] kgremban commented on #45177
@mcurko Thank you for pointing that out. I'll fix those route samples in a pull request today. Since this is a straightforward fix, I'll have GitHub automatically close this issue once that pull request is merged. If you have any more questions or comments on this topic, though, feel free to post here again and we can reopen the issue.

[2020-01-30 00:12] MarileeTurscak-MSFT commented on #46902
@mjonespro there's an open feature request to add this to the CLI. https://github.com/MicrosoftDocs/azure-docs/issues/33494

The team is working on it and will update the documentation when the work is complete.

CC: @msmimart

[2020-01-30 00:12] #46902 closed

[2020-01-30 00:17] normesta commented on #23361
This post has some work arounds if you need to obtain the code dynamically. While these approaches aren't officially supported, they might work for your scenarios.. - https://stackoverflow.com/questions/57396768/retrieve-regional-code-for-azure-static-website-in-arm-template

[2020-01-30 00:17] normesta commented on #23361
#please-close

[2020-01-30 00:17] #23361 closed

[2020-01-30 00:17] TravisCragg-MSFT commented on #47048
@mchudinov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@KumudD I was able to reproduce this.

[2020-01-30 00:18] lobrien commented on #46409
I've opened a workitem to expand that section of the document.

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1670861

[2020-01-30 00:19] ph3ll3r commented on #47058
I created a Hyper V VM WIN10 pro, version 1909 on a physical server using Windows Server 2019 enterprise data center.  I downloaded Docker for windows 10 desktop.  It installed properly or so I thought.  I started docker in windows  as the default.  I tried to switch to Linux containers.  A soon as I started Powershell and it crashed.  DockerDesktopVM never started in the VM.
Below is the crash lo

[2020-01-30 00:19] mike-urnun-msft commented on #47078
@szliuxf Thank you for your feedback! We will review and update as appropriate.

[2020-01-30 00:20] aldelar commented on #45640
Could the documentation be updated here to specify that only specific regions can be used right now for the Form Recognizer service (namely West US 2 and West Europe I believe) to work with this tool?

If you pick anything else, you're able to create a project just fine, but at training time the error is about a non valid URI and it's hard to decipher what the problem may be. There's no mention an

[2020-01-30 00:22] mike-urnun-msft commented on #47083
@tehtertot Thank you for your feedback! We will review and update as appropriate.

[2020-01-30 00:22] himanshusinha-msft commented on #46767
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-30 00:23] mayurpuli opened #47095 "Service tags for HDInsight health and monitoring"
Hello There! My customer has created an Azure HDInsight cluster in South Central Region and has setup all the NSG rules. It is not very clear from this document that besides the four IPs listed here, does he also needs to add region specific service tags?

<table>
  <tr>
    <th>Source IP</th>
    <th>Destination</th>
    <th>Direction</th>
  </tr>
  <tr>
    <td>168.61.49.99</td>
    <td>*:443</t

[2020-01-30 00:23] mike-urnun-msft commented on #47091
@bmwaechter Thank you for your feedback! We will review and update as appropriate.

[2020-01-30 00:28] pwild opened #47096 "Filter attachments by Content-Type"
How would I filter out superfluous attachments I don't wan't to load to blob storage, e-mail signatures for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 771c44cc-a284-0c97-dae3-218e7319018f
* Version Independent ID: e4b73a57-0c44-2453-2baa-7652bbbafc51
* Content: [Automate tasks with multiple Azure services

[2020-01-30 00:32] ph3ll3r commented on #47058
Trying to do a docker windows  container and it generated the errors below:

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\WINDOWS\system32> docker version
Client: Docker Engine - Community
 Version:           19.03.5
 API version:       1.40
 Go version:        go1.12.12
 Git commit:        633a0ea

[2020-01-30 00:32] Karishma-Tiwari-MSFT commented on #47041
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-30 00:32] Ayanmullick opened #47097 "PowerShell documentation missing"
Is there PowerShell steps' documentation on how to buy an App Service domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-191db4b589e5
* Content: [Buy a custom domain name - Azure App Service](https://docs.microsoft.com/en-us/azur

[2020-01-30 00:34] Karishma-Tiwari-MSFT commented on #47085
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-30 00:34] #47085 closed

[2020-01-30 00:36] #45177 closed

[2020-01-30 00:36] #46873 closed

[2020-01-30 00:37] gregsmi opened #47098 "Typo in instructions"
"Visual Studio creates a project and class that contains boilerplate code for the HTTP trigger function type. The FunctionName attribute on the method sets the name of the function, which by default is HttpTrigger."  - actually, current default name is 'Function1'...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88e

[2020-01-30 00:39] Karishma-Tiwari-MSFT commented on #47093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 00:40] bmwaechter commented on #47091
Thanks for reviewing! Is there a repo for the service bus trigger I should ask about this in as well?

[2020-01-30 00:44] himanshusinha-msft commented on #46874
@jeethub5 : The script is here . https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-refresh-azure-automation#sample-powershell-runbook . Please copy  the script in Refresh-Model.ps1 and upload the same in step 4 .

We are closing this issue as of now ,  you can always re-open the issue if you think that appropriate .

[2020-01-30 00:44] #46874 closed

[2020-01-30 00:46] Karishma-Tiwari-MSFT commented on #47041
Can you please elaborate to help me with which parts of this document contradict with the other one.

[2020-01-30 00:46] lucidqdreams commented on #46938
any progress here?  I actually have been trying to get cert-manager working as well which it was working when I went through the process manually but I'm trying to script it and now I have a 502 bad gateway trying to get the cert from a URL path based request.

![image](https://user-images.githubusercontent.com/6086602/73410381-e3b51d00-42b6-11ea-9d1d-ebc391c17670.png)

[2020-01-30 00:47] Mike-Ubezzi-MSFT commented on #47054
@JesvinJoseph Thank you for your interest in Azure. In looking into this configuration, it appears that there is some potential to limit this growth. Please see: [Why Rocks DB logging of edgeHub is written filesystem?](https://github.com/Azure/iotedge/issues/1274)
I am investigating this further to identity current capabilities. Can you share the Rocks DB options file? Thank you!

[2020-01-30 00:48] normesta commented on #46213
@mrisaac thank you for the feedback. I've updated the article accordingly. The changes should appear live by tomorrow 10 AM. Thank you.

[2020-01-30 00:48] normesta commented on #46213
#please-close

[2020-01-30 00:48] #46213 closed

[2020-01-30 00:54] Karishma-Tiwari-MSFT commented on #47058
@ph3ll3r Is there something in any specific Azure doc you are looking to have updated or are having issues with? If yes, please share the link to the documentation you are following.The scope for these doc issues is to help identify gaps and issues with the documentation.

Else, if you are looking for help with debugging issues I would suggest opening a post on [MSDN](https://social.msdn.microsoft

[2020-01-30 00:58] Karishma-Tiwari-MSFT commented on #47088
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 00:59] Karishma-Tiwari-MSFT commented on #47084
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 01:01] Karishma-Tiwari-MSFT commented on #46888
@techsaau Did the document provided above help? Let me know.

[2020-01-30 01:06] bradyson commented on #47081
This is not clear.  Can the Basic SKU of SLB do outbound rules?  This document only adds to the confusion: https://azure.microsoft.com/en-us/blog/azure-load-balancer-becomes-more-efficient/

[2020-01-30 01:10] LarsKemmann opened #47099 "Error on adding new C# module: "The system cannot find the file specified""
Following the steps above (on latest VS2019), I get the following error when adding a C# module to the IoT Edge project:
&gt; The system cannot find the file specified. (Exception from HRESULT: 0x80070002)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d22a18-3f56-3845-fbeb-38dc5a56cd9b
* Version Independent ID: d88f

[2020-01-30 01:16] TravisCragg-MSFT commented on #46704
@Coldpawz Error pages no longer have to be in Azure Storage accounts.

For refreshing the error page - If you would like us to implement this feature in the future, [please leave your feedback at Azure Networking's Feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2020-01-30 01:16] #46704 closed

[2020-01-30 01:23] JimacoMS3 commented on #46125
@uriel-kluk -- can you answer the questions above?

[2020-01-30 01:39] kogesaka commented on #44632
@rishabpoh,

Thank you for comment.

When I checked with Classic Storage Account earlier, the error I was inquiring about did not occur, and I was able to set up Soft Delete.

It was confirmed that Classic Storage Account can use (support) Soft Delete, so there is no problem with closing.

[2020-01-30 01:45] femsulu commented on #34024
Thanks for the update @bandersmsft  - can you provide details on bug owner and when the bug will be fixed so we can track from this end?

[2020-01-30 01:49] femsulu commented on #34230
adding @tfitzmac  - ARM Doc owner for comments.

[2020-01-30 02:05] femsulu commented on #46720
Thanks for the candid feedback. This has been passed on the appropriate product groups and content owners to review the different deployment methodologies and converge where possible.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-30 02:05] #46720 closed

[2020-01-30 02:09] #46956 closed

[2020-01-30 02:10] FrankHu-MSFT commented on #46962
@Chai-NED  I'm following up on this can you please respond in regards to this issue? if there's no response by end of day tomorrow I'll be closing out this issue.

[2020-01-30 02:10] cgillum opened #47101 "Need to update "Get instance status" for new Durable 2.x behavior"
As a breaking change in Durable 2.x, we changed the default behavior of the GET single orchestration instance status API to return 200 when the orchestration failed. The current documentation does not reflect this.

We should additionally add documentation for the new `returnInternalServerErrorOnFailure` query string parameter that is used to control this behavior.

---
#### Document Details

⚠ *D

[2020-01-30 02:14] Mike-Ubezzi-MSFT commented on #47051
@crow-ua Thank you for the inquiry about this scenario. We are investigating and will update this issue when we have additional information to share.

[2020-01-30 02:16] jwisener opened #47102 "no mention of swapping multiple apps."
It’s unclear from the documentation provided, how to orchestrate across multiple app instances. For example, if I have a web app on one instance and say an API on another instance. The web app depends on the API being swapped before it should be swapped. How does one ensure, both are swapped together? For example, if a swap fails on either one then you want to the whole swap rolled back for both.

[2020-01-30 02:34] Chai-NED commented on #46962
Hi Frank,

Thank you for following up.

I wanted  to understand :

1. How lockbox process works if the data is on a VM hosted on an Azure Dedicated Host?

2. Is the lockbox process applicable to a Dedicated Host itself if for some reason Azure support needs to access the data on it?

Thanks,

Chai

Thanks,

Chai

________________________________
From: Frank Hu <notifications@github.com>
Sent: Wedn

[2020-01-30 02:40] femsulu commented on #46855
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-30 02:40] #46855 closed

[2020-01-30 02:42] stammd commented on #45640
Yes, that clarification is all that is needed.

On Wed, Jan 29, 2020 at 7:20 PM Alexandre Delarue <notifications@github.com>
wrote:

[2020-01-30 02:46] femsulu commented on #46735
@mayurigupta13 & @rayne-wiselman  - can you comment please?

[2020-01-30 02:49] AshokPeddakotla-MSFT commented on #47094
@mikemorrison111 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-30 02:51] NavtejSaini-MSFT commented on #47087
@Ayanmullick We are checking this and will get back to you.

[2020-01-30 02:51] AshokPeddakotla-MSFT commented on #47099
@LarsKemmann Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 02:52] LarsKemmann commented on #47099
Thank you! I've [posted this on Stack Overflow](https://stackoverflow.com/questions/59978451/system-cannot-find-the-file-specified-when-adding-a-new-azure-iot-edge-module) as well.

[2020-01-30 03:00] dcbrown16 opened #47104 "Remove important text from image"
For localization and search purposes, it's not best practice to include the list of required info as an image. Please replace this with a text list or table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca240f49-ece4-cba8-5764-cac971896652
* Version Independent ID: 26f6c050-e92b-a6c3-a566-b9f6ff86915e
* Content: [Azu

[2020-01-30 03:11] CHEEKATLAPRADEEP-MSFT commented on #47056
@LowerKees Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

Yes, Azure Stream Analytics a suitable ingestion tool for ingesting streaming data into the Data Lake.

[2020-01-30 03:13] DixitArora-MSFT commented on #47098
Hi @gregsmi Thanks for your feedback. We will review and update as appropriate.

[2020-01-30 03:14] CHEEKATLAPRADEEP-MSFT commented on #47086
@marc-gmail-towersap  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-01-30 03:14] DixitArora-MSFT commented on #47096
Hi @pwild Thanks for reaching out. We will review and update as appropriate.

[2020-01-30 03:17] ms-yuukih opened #47105 "Script for creating B2B guest user objects in AD needs to be updated to avoid an error with samaccountname ending with a period"
The current script takes 20 characters from guest user's UPN, and set the string as its samaccountname.
If there's a guest user with UPN as below, the sameaccountname will contain a period at the end.

UPN: 1234567890123456789.fabrikam.com#EXT#@contoso.onmicrosoft.com

But because samaccountname cannot end with a period in AD, it returns an error, and the user cannot be created.

Suggestion:
Updat

[2020-01-30 03:17] ericmitt opened #47106 "Typo in the code sample to register a pnp device"
DIGITALTWIN_INTERFACE_CLIENT_HANDLE interfaces[2];
interfaces[0] = thermostatInterfaceHandle;
interfaces[1] = deviceInfoInterfaceHandle;

result = DigitalTwin_DeviceClient_RegisterInterfacesAsync(
    digitalTwinClientHandle, // The handle for the connection to Azure IoT
    "urn:example:Thermostat_T_1000:1",
    interfaceHandleList, 2,
    null, null);

interfaceHandleList doesn't exists in this

[2020-01-30 03:44] thomas-warner opened #47107 "What are the error codes?"
Under the Failed state, please include a hyperlink to the page describing error codes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8729fb-9c09-1872-be3f-8a0dc1a93d38
* Version Independent ID: 51bba8e0-91a8-38c0-5ec2-9309687985b9
* Content: [Lifecycle and states of a Windows VM in Azure - Azure Windows Virtual Machi

[2020-01-30 03:46] CHEEKATLAPRADEEP-MSFT commented on #47090
@nickbeagley2  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-30 03:47] bloader-nrma commented on #46448
Ran into the same issue with Proxy and DSC on-boarding non-azure servers

What MSNina123456 is pointing out is that to use the ProxyURL and ProxyCredential in the creation of the DSCMetaConfig  is that it **must have the following**
1. Creation of the PSCredential object's password value created during the DSCMetaConfig (Is this because the password encryption happens on the machine account instea

[2020-01-30 03:49] CHEEKATLAPRADEEP-MSFT commented on #47095
@mayurpuli  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-30 03:51] dotnetgator commented on #46916
Thank you @yoelhor - probing further:

Under what conditions does the Technical Profile display name appear in the user interface? I ask because I cannot recall a DisplayName from a TP (presumably a SelfAsserted TP) ever actually appearing as a page title, UI header, etc. The only Display Name value that I am certain appears in the UI is the one on the ClaimType.

Am I missing a way that the Displ

[2020-01-30 03:53] MartinJaffer-MSFT commented on #47049
@Willem-J-an The Block size is for performance tuning.  [Read about blocks in blobs here](https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs#about-block-blobs).  Do you have a specific question?
When writing to a block blob, the writes are staged in an array of 'blocks'.  There is a maximum number of blocks you can use before committin

[2020-01-30 03:57] josem0287 opened #47108 "Multiple issues in the redaction of this page"
Hello, I found the following issues while testing this section:

In the section that says:

az network front-door waf-policy rule match-condition add\

it is missing space before "\"

In this line:

--values "ip-address-range-1" "ip-address-range-2"

missing "\" after the end of that line

In this line:
--operator IPMatch
missing "\" after the end of that line

In this line:
--negate true\
Missing

[2020-01-30 04:00] SnehaAgrawal-MSFT commented on #47097
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 04:07] jakaruna-MSFT commented on #47107
@thomas-warner
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-30 04:14] amanmcse commented on #47065
@Schenz Thank you for your feedback . We will investigate and update the thread further.

[2020-01-30 04:19] amanmcse commented on #47075
@ticianaciminari  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-30 04:21] amanmcse commented on #47105
@ms-yuukih  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-30 04:24] shashishailaj commented on #47071
@robhardman Thank you for your feedback. We apologize that you had to spend time due to these instructions. We will have this checked with content authors and and update this thread accordingly.

[2020-01-30 04:25] amanmcse commented on #47079
@ololoru  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-30 04:25] SubhashVasarapu-MSFT commented on #47104
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-30 04:27] PramodValavala-MSFT commented on #47101
@cgillum We are assigning this is to you since you are the content author. Please do let us know if you would like us to reassign it.

[2020-01-30 04:46] DixitArora-MSFT commented on #46858
@mikaelsand Thanks for all the ideas and suggestions. Will create the internal work item for this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-01-30 04:46] #46858 closed

[2020-01-30 04:50] AshokPeddakotla-MSFT commented on #47106
@ericmitt Thank you for pinpointing this out. I have created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/102762) to update the doc as per suggestions. Changes will go live once it has been reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2020-01-30 04:50] #47106 closed

[2020-01-30 04:55] DixitArora-MSFT commented on #46861
@TechWatching Just following up if you have gone through these and see if it helps.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs?tabs=csharp#trigger

https://medium.com/@the.green.man/trigger-azure-functions-on-event-hub-1e1df0402ba4

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your

[2020-01-30 04:55] #46861 closed

[2020-01-30 04:55] msrini-MSFT commented on #47108
@josem0287  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-30 05:00] ketan-chawda-msft commented on #46826
@radumg Thank you providing the details.

@kevinlam1 Could you please take a look at this and share your thoughts.

[2020-01-30 05:14] SnehaAgrawal-MSFT commented on #46960
@cat-mucius Thanks for asking question! As mentioned in the doc Could you please double check on few below things before connecting your web app to a virtual network.
•	A target virtual network must have point-to-site VPN enabled with a route-based gateway before it can be connected to app.
•	The VNet must be in the same subscription as your App Service Plan(ASP).
•	The apps that integrate with a

[2020-01-30 05:17] AshokPeddakotla-MSFT commented on #47099
@LarsKemmann

I just tried to create the project as per the document and unable to reproduce your issue on VS 2019. It is likely to be you are missing some pre-requisites

Please see below for more details.

![image](https://user-images.githubusercontent.com/44426435/73421898-4a851580-434d-11ea-9c03-5f876d86ddcb.png)

A similar issue has been addressed here: https://github.com/MicrosoftDocs/azure-

[2020-01-30 05:18] #46920 closed

[2020-01-30 05:26] thomshib commented on #46936
This is the link to the original doc https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-query-horizontal-partitioning

[2020-01-30 05:34] neeleshray-msft commented on #46842
@EddyHaigh We will be closing this thread. Do let us know if you need further help on this.

[2020-01-30 05:34] #46842 closed

[2020-01-30 05:34] neeleshray-msft commented on #46848
@tmmueller We will be closing this thread. Do let us know if you need further help on this.

[2020-01-30 05:34] #46848 closed

[2020-01-30 05:38] SubhashVasarapu-MSFT commented on #46774
@KosukeHosoda , Appreciate your patience. There is no possibility/document given publicly to find the SNAT port exhaustion for application gateway for now. You should raise a support ticket in this case to enquire about port exhaustion issues.
You can also provide your valuable feedback and feature request in our [Azure feedback section](https://feedback.azure.com/forums/231545-diagnostics-and-mon

[2020-01-30 05:38] #46774 closed

[2020-01-30 05:45] Willem-J-an commented on #47049
I was wondering if I would be able to use this setting to write rows to a blob, and dynamically create a new blob once the block size has been reached, but now I gather that this would split 1 blob in block sized segments, unreadable until they're joined together. I would appreciate a link in the docs: max block size> the page that you linked in your last comment!

[2020-01-30 05:45] neeleshray-msft commented on #46851
@Ayanmullick As of now, there is no "only" powershell script for the same as the JSON script passes the data in a very comprehensive manner.

[2020-01-30 05:45] #46851 closed

[2020-01-30 05:46] neeleshray-msft commented on #46950
@ThijsLecomte We will be closing this thread. Do let us know if you need further help on this.

[2020-01-30 05:46] #46950 closed

[2020-01-30 05:53] cjlpowers commented on #43699
Based on my usage of the service a few months ago, the data received will be VXLAN encapped and configured with a particular VNI. I asked Microsoft at the time if that VNI could be considered static but never received an answer. It would be nice if they made the VNI configurable like they do the port.
To processes the received traffic you need to use a VXLAN parser or configure a VXLAN interface o

[2020-01-30 05:54] TechWatching commented on #46861
Thanks for the link but that does not solve my issue.
I am looking to manually trigger my Azure Function with an EventHubTrigger like it is mentionned in [this page of the doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http). But I need to know the expected json format for an Event Data in order to put the appropriate json payload in the HTTP request. The ai

[2020-01-30 05:57] sanchetanparmar commented on #47025
@Mike-Ubezzi-MSFT could you please share me link of HA for azure database for MySQL ? I can't see.

[2020-01-30 05:58] msrini-MSFT commented on #46877
@rwiankowski , Please tag me if you have any further questions.

[2020-01-30 05:58] #46877 closed

[2020-01-30 05:58] msrini-MSFT commented on #47036
@bertrandpons , It is working now?

[2020-01-30 06:01] a-mart33 commented on #47004
Thank you for the prompt reply. I found that the drag to select worked once I zoomed in on the document a small amount.

[2020-01-30 06:16] shandilvarun commented on #47107
the error code is already defined in the example. we don't output other internal errors. we should close the comment.

[2020-01-30 06:22] RohitMungi-MSFT commented on #46932
@dem108 Thanks for confirming. We have provided the feedback to our SDK team and should be fixed soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-30 06:22] #46932 closed

[2020-01-30 06:29] AshokPeddakotla-MSFT commented on #46957
@drajput Can you help here. Same issue as you helped in the other git issue: https://github.com/MicrosoftDocs/azure-docs/issues/44996

[2020-01-30 06:35] RohitMungi-MSFT commented on #23700
@MancTwins Could you please check if the environment variable `COMPUTER_VISION_ENDPOINT `is set correctly? This error may be seen if this is missing while running this quickstart.

[2020-01-30 06:41] HMatsumura opened #47110 "Adding warning "Encryption Status""
At the disk screen of a VM in Azure Portal, we can confirm the encryption "Enabled" or "Not enabled" in encryption column. However, this shows only the ADE provisioning status.
The process of encryption is separated 2 phases: "provisioning of the ADE extension" and "running encryption by DM-Crypt for Linux (or BitLoker for Windows)."

The column shows the ADE phase status, however, actual encrypti

[2020-01-30 06:41] msrini-MSFT commented on #47108
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102766

[2020-01-30 06:51] HMatsumura commented on #42851
The doc is not updating. @MarileeTurscak-MSFT, could you reopen this issue? This is affecting some customer.

[2020-01-30 07:07] AshokPeddakotla-MSFT commented on #46957
@Pitusiray Which steps you are receiving this error message?

[2020-01-30 07:08] bladerunner41 opened #47111 "Is 'Entities per second (partition)' limit example correct for a 'Range Query'"
The document states '[A query that scans 1000 entities and returns 5 would count as 1000 entities.](https://docs.microsoft.com/en-us/azure/storage/tables/storage-performance-checklist#entities-per-second-partition)'.

It is unclear as to whether the eample is for a 'Partition Scan' query or also a 'Range Query' which filters on a range of indexed RK values?  I don't believe the example is correct

[2020-01-30 07:20] Pitusiray commented on #46957
Hi,
I'm having this issue while running 01-turbofan_regression notebook at the
step : Run the experiment.
It starts the job on a remote compute, I can see on the log or via the
portal that it is preparing, then about 30 mn it failed.

On Thu, Jan 30, 2020 at 8:08 AM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

[2020-01-30 07:31] AshokPeddakotla-MSFT commented on #46957
@Pitusiray Which step are you getting this issue? Looks like you missed to install latest version of azure-sdk and auto ml.

Please run **!pip install --upgrade azureml-sdk[automl]**  and then run **from azureml.train.automl import AutoMLConfig** see it helps to resolve the issue?

[2020-01-30 07:42] tzedakisp commented on #47072
Sorry, I was not very clear. Suppose that I have two regions with just one (1) API Management gateway unit in each region:
1) What happens if the primary region is up and running but for some reason the API gateway unit is not responding? Will APIM route requests to the other region?
2) Do I get any load balancing while both regions are active?
Thanks,
P.

[2020-01-30 07:43] MancTwins commented on #23700
@RohitMungi-MSFT thanks for answering me so quickly. I have it like that
Environment.GetEnvironmentVariable("https://tisskicomputervission.cognitiveservices.azure.com/"); Does it need a different syntax?

[2020-01-30 07:51] nabeelgit opened #47112 "Is there any document related to tag table with multiple rows. Didn’t find a way to extract multiple rows"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553e-a537b6084de9
* Content: [Quickstart: Label forms, train a model, and analyze a form using the sample labeling tool - Form Recognizer - Azure Cognitive Services](htt

[2020-01-30 07:52] #47108 closed

[2020-01-30 08:00] robhardman commented on #47071
No apology necessary - it's not that the instructions were defective - just a thought that including this item as perhaps a 'note' would help others :)

[2020-01-30 08:01] pjvander commented on #37127
Just wanted to piggyback onto this issue, and state that I am also receiving "Provisioning Failed" messages when trying to deploy the SQLIaaSAgent via a Terraform "azurerm_virtual_machine_extension":

`##################################################
##############################################
# SQL Server IaaS Agent Extension
# https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2020-01-30 08:02] JasSuri commented on #46916
DisplayName gets surfaced by the UI (selfasserted) as given name in the social account examples. Since given name is an output claim that is not satisfied directly by an output claim as part of the validation technical profile during the sign up phase.

[2020-01-30 08:03] DixitArora-MSFT commented on #46920
@swigerb PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-30 08:05] bertrandpons commented on #47036
@msrini-MSFT it seems to work now, but better in Prevention mode than Detection mode

[2020-01-30 08:06] JasSuri commented on #46850
Although undocumented, you never need to change this clientId in JWTIssuer, we resolve this ourselves. We shall provide some reference for explanation.

[2020-01-30 08:06] msrini-MSFT commented on #47036
Thank you for your confirmation. Will proceed with the closure of this issue now.

[2020-01-30 08:06] #47036 closed

[2020-01-30 08:10] JasSuri commented on #46843
Thanks for the feedback, we are working on bringing the wiki into the official docs page, it’s a lot of content so this may take a little time but hopefully solves this.

[2020-01-30 08:11] JasSuri commented on #46837
Confirming on this but debugging adds further internal telemetry for Microsoft. Once confirmed we will remove the reference to the debugging option.

[2020-01-30 08:17] shashikalapatel opened #47113 "After enable dead lettering, not got any dead letter in container for the event status code 400 & 413. even this event not in failed event metrics"
Our code publishes the events to the domain. The events are delivered to the configured web hook in the subscription. This works for a while. The consumer (who owns the web hook endpoint) complains that he is not receiving some events but most are coming through. We look in the configured dead-letter queue and find that there are no events. It has been more than a day and hence all retries are alr

[2020-01-30 08:24] shashikalapatel commented on #47113
![image](https://user-images.githubusercontent.com/49141439/73432011-c429fd00-4367-11ea-8880-a0ad84159e56.png)

![image](https://user-images.githubusercontent.com/49141439/73432039-da37bd80-4367-11ea-935c-e2a9c19078d2.png)

![image](https://user-images.githubusercontent.com/49141439/73432083-f9cee600-4367-11ea-85c9-7d059d64e2c7.png)

[2020-01-30 08:26] Pitusiray commented on #46957
Hi,
The previous steps in notebook contains the upgrade command.
Therefor I'm running the following :
azureml-sdk                           1.0.85
azureml-train                         1.0.85
azureml-train-automl                  1.0.85
azureml-train-automl-client           1.0.85
azureml-train-automl-runtime          1.0.85
azureml-train-core                    1.0.85
azureml-train-restclients-hy

[2020-01-30 08:27] shashikalapatel commented on #47113
![image](https://user-images.githubusercontent.com/49141439/73432284-6944d580-4368-11ea-8758-dada94d422a3.png)

![image](https://user-images.githubusercontent.com/49141439/73432318-78c41e80-4368-11ea-99e5-c781a5ba714b.png)

[2020-01-30 08:27] DixitArora-MSFT commented on #46889
@vladvino Just following up again in case missed the previous communication.

[2020-01-30 08:31] amanmcse commented on #47065
@Schenz If you decode the access token by using https://jwt.ms, what value do you see for audience claim? If it is  https://graph.microsoft.com, you won't be able to use it for POST call to https://graph.windows.net/{tenant}.onmicrosoft.com/users?api-version=1.6. Easy way to test it out is by using https://graphexplorer.azurewebsites.net/# , login with Global Admin of your B2C tenant and make a PO

[2020-01-30 08:33] DixitArora-MSFT commented on #47113
Hi @shashikalapatel This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-01-30 08:33] #47113 closed

[2020-01-30 08:36] DixitArora-MSFT commented on #47098
@Potapy4 Thanks for raising the PR and making contribution to the docs.
@gregsmi PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we w

[2020-01-30 08:36] #47098 closed

[2020-01-30 08:37] shashishailaj commented on #47110
@HMatsumura Thank you for pointing this out . We will have this reviewed and action this accordingly.

[2020-01-30 08:39] shashishailaj commented on #47031
@MarkusVi Could you please review this new-document request and the markdown which is attached by @sorantis if we can add this to the current page.

[2020-01-30 08:41] lucidqdreams commented on #46938
it appears the health probes are failing for the service using the URLpath

![image](https://user-images.githubusercontent.com/6086602/73433128-fbad9080-42f8-11ea-918e-440b4b18a6f9.png)

![image](https://user-images.githubusercontent.com/6086602/73433104-f05a6500-42f8-11ea-8083-709537f2cec6.png)

If I change the path option to / the probe works
![image](https://user-images.githubusercontent.com/60

[2020-01-30 08:43] keunsoopark opened #47114 "New linked service - "load failed" in cluster version section"
This happens frequently for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d7cef0-c849-40fa-6b93-c2164518048e
* Version Independent ID: 4a7c4338-0756-ad7c-a7a1-d00523354162
* Content: [Common Errors Using Azure Data Factory - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/kb/dev-tools/common-

[2020-01-30 08:46] amanmcse commented on #46631
@shankurmahajan There is no B2C specific limitation. This statement is for general browser limitation of HTML/CSS and JS parsing by IE8 & 9.

[2020-01-30 08:49] aros1697 commented on #46512
If I add a file to cont1 trough storage explorer, indeed it uploads to the cloud  according to the property settings of `storageContainersForUpload`. But if I want to add a file trough my raspberry pi to cont1 directory, it wont show up either on storage explorer or in the cloud. Is there additional settings for this?

[2020-01-30 08:53] SubhashVasarapu-MSFT commented on #46941
@DaveZimmermann , Actually the main intent of the document here to explain the troubleshooting steps where as if you want to know more about raising a support ticket, here is the reference [doc](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) for you.
We are closing this issue for now. If there are further questions regarding this matter, ple

[2020-01-30 08:53] #46941 closed

[2020-01-30 08:54] RohitMungi-MSFT commented on #47112
@nabeelgit You can create labels to text by clicking and dragging multiple words but labeling multiple rows might not be an ideal scenario. Although you can label multiple rows in a page to a tag this cannot be extended for multiple pages.

![image](https://user-images.githubusercontent.com/46958063/73432667-3d761f80-4369-11ea-89f3-3232e94bc416.png)

[2020-01-30 08:54] amanmcse commented on #46936
@thomshib Thank you for sharing the link. We will investigate and update the thread further.

[2020-01-30 08:54] RicoSuter commented on #21457
Same problem here: Is there something I need to enable in the auth settings to get the access token via header?

[2020-01-30 08:56] CHEEKATLAPRADEEP-MSFT commented on #47114
@keunsoopark When you say "New linked service - load failed in cluster version section",  in order to create the linked service you may checkout all the mandatory fields are provided correctly.

[2020-01-30 08:58] PramodValavala-MSFT commented on #47062
@philipstreet-hiscox For intrasubnet communication, instead of using a service tag, you could just set Source/Destination to Any.

In case of Logic App run history, the note column mentions that this mainly affects viewing the inputs/outputs for each step.

For the 3rd point, I believe its just to be clear on the different services that require access to the ISE for optimal functioning.

As for an

[2020-01-30 09:03] abhilashmk commented on #47022
For App Service Linux the logging never gets disabled, also the point which talks about sending logs to storage is specific to Windows. Sending logs to storage option is not available for Linux App Services.

![image](https://user-images.githubusercontent.com/13750731/73434700-449f2c80-436d-11ea-8d45-1cc5d4ea49f9.png)

I am with CSS Azure App Service Linux, came across this article and thought of

[2020-01-30 09:21] DixitArora-MSFT commented on #47078
@ecfan Any inputs in this ?

[2020-01-30 09:27] DixitArora-MSFT commented on #47096
@pwild If you want to check the filename extension of an attachment, create a condition using one of our workflow functions - [https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-definition-language](url) - like @endswith()

You can do this all in the designer as follows (opened a condition and set "Attachment Name" to ends with xml.

![image](https://user-images.githubuserconten

[2020-01-30 09:29] AshokPeddakotla-MSFT commented on #46311
@RyanMannix Update on this issue is to use https://www.azureiotsolutions.com/
Also, For further debugging and troubleshoot the issue, please open a bug on this page:  https://github.com/Azure/pcs-cli/issues

All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

@ppathan FYI

We will now proceed to close this th

[2020-01-30 09:29] #46311 closed

[2020-01-30 09:32] LowerKees opened #47115 "Missing bracket in markdown expression"
There is a bracket missing in the markdown expression in the following sentence:

"To view the resources allocated for all the performance profiles, see [Memory and concurrency limits]memory-concurrency-limits.md)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2161fcd-60d9-b3f9-6d94-493383ec2630
* Version Independen

[2020-01-30 09:47] KalyanChanumolu-MSFT commented on #47051
@TheovanKraay Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-01-30 09:52] MohitVerma-MSFT commented on #46982
Hello @ticianaciminari ,

Just wanted to check if you got a chance to check my previous response.

[2020-01-30 09:55] 2shipEcom commented on #14287
What a crap!

[2020-01-30 09:59] nabeelgit commented on #47112
Hi Rohit,
  Thanks for the response.
Training the model directly(un supervised way) its returning all values inside the table as items in each header . but in the below document its not detecting the table header. So I thought I can use the sample label tool and tag the header and all items . Is there anyway in the tool to get that result

<img width="515" alt="test" src="https://user-images.githu

[2020-01-30 10:02] jbinard commented on #46351
Hi @RyanHill-MSFT,

Any update on this issue ?

[2020-01-30 10:20] MancTwins commented on #23700
The problem seems to be in  the part of code when the two strings are constructed, they return null.
Something is not working with the Environment in my pc (?)
When i pass hardcoded the subscription Key and endpoint in the uribase or in the ReadText, it works correctly
static string subscriptionKey = Environment.GetEnvironmentVariable("My subscription key");
        static string endpoint = Enviro

[2020-01-30 10:20] memoryz opened #47118 "This page should be moved to "Unsupported" folder"
Databricks Runtime 3.5 is no longer supported, as the title suggests, but as of now it's still under the "Supported" folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b5db593-1115-24c7-913f-1ffbcc99bc22
* Version Independent ID: 08833403-4367-6d1e-13a1-cb9d5da6ff14
* Content: [Databricks Runtime 3.5 LTS (Unsuppor

[2020-01-30 10:22] andyjballgit opened #47119 "Some additions required re permissioning"
- Which Roles can view Assignments for Azure Resources in PIM - its Reader at the relevant level right (either directly or inherited)

- Can also "View request and approval history for all privileged role" if Security Reader or Global Reader in the Azure AD Audit logs , Service = PIM can't you ? Think this should be called out , based on least privilege ?

---
#### Document Details

⚠ *Do not edit

[2020-01-30 10:24] tomkerkhove opened #47120 "database_ metrics for Microsoft.Sql/servers are not available"
database_ metrics for Microsoft.Sql/servers are not available and should not be listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource type - Azure Monitor](https://

[2020-01-30 10:25] tomkerkhove commented on #47120
Tagging @anirudhcavale since he confirmed this.

[2020-01-30 10:25] andyjballgit commented on #47119
PS - What is the difference between PIM Service entries in Azure AD Audit Log and below ?
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-use-audit-log?tabs=previous

[2020-01-30 10:27] Haritha-Nuthi commented on #21763
@PramodValavala-MSFT Where can we get this doc on Usage of SSL in MQ Connector.

[2020-01-30 10:30] girishnadiger-gep commented on #46971
@GiftA-MSFT azure.cognitiveservices.search.customsearch has v0.3.0 released, but the documentation still shows capabiilities and usage according to v0.2.0.

[2020-01-30 10:42] CHEEKATLAPRADEEP-MSFT commented on #47118
@memoryz  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-30 10:46] intertrap commented on #42614
I seem to be getting this error for my users as well. Diagnostics come back all green is there anymore insight as to why one would receive this error?

[2020-01-30 10:48] philipstreet-hiscox commented on #47062
@pramodvalavala-MSFT Thanks for the prompt response.

Do you mean having the first rule of the NSG to allow Source / Destination Ports = Any, Source / Destination Prefix(es) = Any, and Protocol = Any? That seems a bit open, and results in various warnings when added via the Portal. Also, if that essentially allows anything/everything through, why have all the other specific rules?

OK, it is a dup

[2020-01-30 10:49] hsbsandrecv opened #47121 "SP Cert ( Signed AuthRequest) Expiration/Rollover"
This Doc talks about the Renew of AzureAD generated Certs used to Sign AuthResponse and Assertion, however it does not mention anything about Cert from SP that is used to Sign the AuthREQUEST.
So it would be great to let us now, in this Doc, how AzureAD SAML Authentication handles Certs from the SP, and how to manage them (if thats the case).
 - Does Azure AD ignores the signature on the AuthREQUE

[2020-01-30 10:59] bensack commented on #41995
Hi @fhtino, the connector is now generally available, which also means running in the service is supported. We dont normally publish roadmap information in tutorials. Instead, I recommend the following channels to stay up to date:

New feature announcements in Power BI Blog, for example: https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-december-2019-feature-summary/#ADLS

Request new feat

[2020-01-30 11:06] deep-mm commented on #43744
Hey,
I am getting the exact same error, and cleaning up the resources didn't work for me.
Any other alternate solution to this?

![image](https://user-images.githubusercontent.com/29853549/73444470-a3b96d00-437e-11ea-92cd-4f0c799ba0f0.png)

Locally the function runs fine but this only occurs on azure portal

[2020-01-30 11:10] Naboo2604 opened #47122 "az webapp create failed if using linux web service plan..."
the above command: az webapp create --name &lt;app-name&gt; --resource-group &lt;group-name&gt; --plan &lt;plan-name&gt; --deployment-local-git failed with the error:
cli.azure.cli.core.util : usage error: --runtime | --deployment-container-image-name | --multicontainer-config-type TYPE --multicontainer-config-file FILE
usage error: --runtime | --deployment-container-image-name | --multicontainer-

[2020-01-30 11:17] deep-mm opened #47123 "Azure Function with Signal R"
When I am using Azure SignalR version 1.0.2 with latest Azure Function version 3.0.3, the function app runs fine locally, but when published on Azure Portal, I am getting the following error:

![image](https://user-images.githubusercontent.com/29853549/73445088-f6475900-437f-11ea-9562-5c89d1126902.png)

The Nuget Packages in my project are:
![image](https://user-images.githubusercontent.com/298535

[2020-01-30 11:24] mcurko opened #47124 "Comments"
1. private and not public IPs have to be in the NSG-s
2. a few other commands have to be entered in Ubuntu prior to installing Docker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee0b4a4b-0635-6f05-5fdb-6b54afe28afc
* Version Independent ID: 12ee435f-c583-b79b-b7ff-ec919b00490f
* Content: [Query a SQL Server Linux Do

[2020-01-30 11:28] ChiragMishra-MSFT commented on #47124
@mcurko Thanks for the feedback. I am assigning this feedback to the content owner to review and update as appropriate.

@mamccrea Can you please take a look at this?

[2020-01-30 11:33] DixitArora-MSFT commented on #47123
Hi @deep-mm Thanks for reaching out. This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-01-30 11:36] shashishailaj commented on #46834
@scale-tone We are checking this with the content team and will let you know accordingly .

[2020-01-30 11:37] shashishailaj commented on #46834
@barclayn Could you please review this request and ad your comments on this ?

[2020-01-30 11:39] mcurko opened #47125 "Question"
It would be useful to explain why does the notebook have the right to access the secret in the key vault - does it use the rights of the user running the notebook?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2223cfd-6cd9-d637-d750-36156acf3438
* Version Independent ID: c65ea061-d499-3449-4f1c-fb2af4b9b27b
* Content

[2020-01-30 11:53] BenWhite27 commented on #16738
@bandersmsft Thanks for the update, I'll give you a break and raise something later next week if needed against https://docs.microsoft.com/azure/cost-management-billing/manage/usage-rate-card-overview.

Thanks to you and the team, I don't know how you keep on top of this documentation stuff.

[2020-01-30 12:14] MadhurBhardwaj commented on #43345
any update

[2020-01-30 12:15] DaveZimmermann commented on #46941
@SubhashVasarapu-MSFT
Of course I know how to open the ticket, but it is in my opinion very well hidden. So you simply could describe, where exactly you open the ticket, as in you did for Pay as you go --> To make a request, open a support case by using the following issue type: Technical > Virtual Network > Connectivity > Cannot send email (SMTP/Port 25)

[2020-01-30 12:23] j82w opened #47126 "Indexing policies deprecated the IndexKind and Precision"
Please update the documentation to reflect that IndexKind and Precision have been deprecated.

Related issue:
https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1176#issuecomment-580015789

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aeab4a-343d-b492-f9dc-a3233a117101
* Version Independent ID: 075ccfaf-9b5c-aa6

[2020-01-30 12:23] j82w commented on #47126
@nahk-ivanov created an issue to update documentation.

[2020-01-30 12:24] mcurko opened #47127 "Can't make this work"
With Cosmos DB firewall I can't connect from my PC nor from Databrics WS, despite the firewall data being correct.
With firewall off I receive:

users = spark.read.format("com.microsoft.azure.cosmosdb.spark").options(**connectionConfig).load()
users.createOrReplaceTempView("storm")

java.lang.NullPointerException

Py4JJavaError                             Traceback (most recent call last)
&lt;comm

[2020-01-30 12:28] jrebagliatti opened #47128 "Code to delete network resources deletes the first network profile in the resource group"
If there are more than one vNet in the resource group, the clean up code might end up deleting the wrong network profile. I think you should put a warning notice indicating this condition.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8

[2020-01-30 13:01] Schenz commented on #47065
the aud is https://graph.microsoft.com

when I use graph explorer I get:
{
    "odata.error": {
        "code": "Authorization_RequestDenied",
        "message": {
            "lang": "en",
            "value": "UserIdentities property cannot be set."
        },
        "requestId": "1ac47f36-863c-46b0-b825-0bcdfb3dd421",
        "date": "2020-01-30T13:00:38"
    }
}

[2020-01-30 13:06] ginomessmer commented on #46713
Hey @AshokPeddakotla-MSFT and @craigktreasure, thank you both for your replies. Sorry for the late reply, I'm out of office this week. It does clarify indeed.

That makes perfectly sense now, thanks. Maybe it would be helpful to mention it in the docs since many Azure users might work with Unity for the first (or second time) and the development patterns/style might differ a lot from what they (in

[2020-01-30 13:14] dotnetgator commented on #46916
Thank you @JasSuri . Do you mean to say that the "Display Name" of a Technical Profile populates the claim "Given Name" representing the name of a user/subject who uses a Social IdP for a journey? If so, it would make sense to be diligent to clarify this in the documentation - that is fairly unexpected. For now, I use the Display Name of my TP's almost as a comment describing what function they pe

[2020-01-30 13:17] dotnetgator commented on #46850
Thank you @JasSuri . I've actually found that it may go further than never needing to change this - some quick tests suggested you do not need to *include* it. Of course, it would be great if I could get confirmation on those observations, or a dire warning if I'm setting up for disaster.

[2020-01-30 13:21] PHATGZA opened #47130 "Application with SQLite database only working on blob storage - no working solution available without it now"
Hi there,
I want to deploy an application into an App Service container with persistent storage using docker compose. As the application (pgadmin4) only supports SQLite as a database option, the db file has to be placed on persistent storage, otherwise all the settings in the application will be resettet after each container redeployment, which kinda kills the point of container deployments.

I co

[2020-01-30 13:21] StingyJack opened #47131 "Sync frequency must be a value between 5 minutes and 30 days"
Says the error message when I tried to specify 30 seconds. This is not present in the docs.

Whats the point of offering seconds as a drop down choice if this is the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8439fa3-ed6f-94cd-107c-c2b00fa97d1a
* Version Independent ID: 0abf3b39-4fd0-a920-e5d2-8ae2bac650cd
*

[2020-01-30 13:27] petehauge commented on #42614
If you're seeing this for regular AAD users too - take a look here:  https://github.com/MicrosoftDocs/azure-docs/issues/45598#issuecomment-577669148   .  You need a trailing slash on the Issuer field...  If you miss this, you get the error for all users:  "Server did not respond properly to VPN Control Packets. Session State: Key Material sent"

[2020-01-30 13:30] tjrobinson commented on #46804
FWIW, the instructions work for me - for cloning a non-generalized Windows VM.

[2020-01-30 13:32] JasSuri commented on #46850
I would not remove anything from the starter packs, only build upon them to stay in a supported state. We can confirm of course in any case.

[2020-01-30 13:33] SteveColegrove opened #47132 "ITSM Action Type configs"
In Azure ITSMC, I have a connection to a Service Manager 2016 instance.  I have two questions regarding the configuration of an ITSM Action Type in an Action Group.
1.	The only Work item type available to me is Incident.  Shouldn’t there be other options?
2.	My Service Manager instance has many custom-built templates, but in the ITSM config screen, the Template dropdown only lists three of them.

[2020-01-30 13:37] LarsKemmann commented on #40805
Same issue here @kgremban, but none of the steps above have helped:

- Visual Studio 2019 16.4.3
- All prerequisite Visual Studio workloads installed
  - .NET Core workload installed the latest -- 3.1 LTS SDK -- only. Is there a hidden dependency on a specific older .NET Core 2.x SDK somewhere? Or is [the documentation for VS Code](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-dev

[2020-01-30 13:39] himanshusainig commented on #46735
@egondalia can you confirm on the machine in question whether the performance counters are getting created, you can do this launching perfmon and looking for category " ASRAnalytics".

There is an open issue where if the instance name is getting bigger than 127 character (which is generally the case of gpt disk) then perf counter don't get created and hence not getting ported to log analytics work

[2020-01-30 13:44] LarsKemmann commented on #47099
Unfortunately none of the steps there have helped me, but it does seem to be the exact same issue. I've commented there and updated my Stack Overflow post as well. I don't know if any of the steps ever helped the OP; the issue was closed because she never responded.

[2020-01-30 13:47] MladjoA commented on #46936
@thomshib , select statements on external tables on top of external sources of RDBMS and SHARD_MAP_MANAGER type would run normally on read-only replica hosting external table (so-called head node). However, remote part(s) of query would still be executed on remote primary. Today, there is no way to specify read-only intent in shard map itself, or to propagate that information from the head node.

[2020-01-30 13:48] ld0614 opened #47133 "More information of Permissions"
This document talks a lot about 'Log in as an Administrator' however with the release of the new RBAC roles and custom it doesn't appear to be documented anywhere want the actual minimum requirements are for each of these activities.  As we want to follow good practice in assigning minimal requirements any advice on this would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this

[2020-01-30 13:51] JesvinJoseph commented on #47054
@Mike-Ubezzi-MSFT Thank you for the quick response. I have attached the options file created inside the Database folder of edge blob storage.
[OPTIONS-000059.txt](https://github.com/MicrosoftDocs/azure-docs/files/4133996/OPTIONS-000059.txt)

The issue that you mentioned is also accurate to me. But I need to persist the messages from edgeHub. But when I started to persist, Rocks DB is creating mult

[2020-01-30 13:54] zakibenz commented on #46531
I just created a custom scope in 'Expose API' section.
The created scope will be prefixed with your Application (client) Id and if it is used to issue a token, your application keys will be used to sign your tokens and 'aud' field (for audiance) will be set to your client Id (this is the way you know if your token was signed with your app keys).

The issued token will be a JWT token and the tenant

[2020-01-30 13:54] souravmishra-msft commented on #46816
@ivratche, I apologize for the delay in my response. I had an internal discussion on this ask and currently the documentation has some glitches which are being worked upon to correct them.

Until then I would like to share some information with you regarding this ask based on the discussion I had with the backend team. When using PIM for the first time, we require an owner of a subscription or man

[2020-01-30 14:00] naiduv commented on #46988
Yes, I used the social and local accounts starter pack. This starter pack contains the alternativeSecurityId

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAndLocalAccounts/TrustFrameworkBase.xml

[2020-01-30 14:05] amanmcse commented on #47111
@bladerunner41  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-30 14:07] NavtejSaini-MSFT commented on #47115
@LowerKees Thanks for feedback. We will work on getting this corrected.

[2020-01-30 14:09] RohitMungi-MSFT commented on #47112
@nabeelgit Yes, the items in each column is returned with the header with all values like below.
[code]
Using the labeling tool the rows or columns can be selected with the text spanning all highlighted text where you can use the header as the tag while training the model.

[2020-01-30 14:32] mhomol opened #47136 "NT Service\AzureWLBackupPlugin not found"
I am trying to figure out what I'm missing in the following documentation:
https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-database

I have enabled the Azure Backups on a standard Marketplace SQL server.  Based on my reading of the documentation, the plugin would be installed the virtual account created.  However when I try to add the  account to the database and give it sysadmin ri

[2020-01-30 14:42] Ayanmullick commented on #46851
@neeleshray-msft , Thanks for clarifying. Could you share the GitHub location for the Az.Insights repository so one could submit an enhancement suggestion for greater ease of use for ITPros without a Java background.

[2020-01-30 14:47] tfitzmac commented on #34230
I added a new article recently that list naming limitations. You can find Key Vault at [https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftkeyvault](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftkeyvault).

I'll add a link from the quotas and limits page to the new article.

[2020-01-30 15:06] prvempat opened #47137 "RBAC role information is missing"
Can you please describe what RBAC roles need to be specified for VMs to be configured for JIT access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just-in-time virtual machine access in Azure Security Center

[2020-01-30 15:07] dotnetgator commented on #46850
Thank you @JasSuri. I do think it is important to clarify, if for no other reason than the cases where the JwtIssuer may be replaced within the policy file hierarchy. There isn't anything in the Starter Pack that suggests that it is crucial to keep the JwtIssuer as-is (there are some warnings about a few of the ClaimTypes, but that's it.)

Inre the {service:te} Claims Resolver, it should be includ

[2020-01-30 15:34] shashishailaj commented on #46841
@SamKilkens  Thank you for pointing this out. I agree that currently the [capability for B2B users to
 logon using One time passcode over email exists](https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode) however this needs to be [opted-in](https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode#opting-in-to-the-preview) . From the article .

At this

[2020-01-30 15:34] #46841 closed

[2020-01-30 15:36] rbonini opened #47138 "Spelling correction"
Under Account Id it currently reads:
"Examples may be subscription ID for Azure portal *or blog name blogging platform*"

Should it not read:  "or blog name *for a* blogging platform"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c3dfe3-25e4-6899-9bb9-22c1690c8e83
* Version Independent ID: d8ec3295-937e-5e64-132e-7b

[2020-01-30 15:42] mikerodrick opened #47139 "Azure PowerShell parameter"
In your example for the Set-AzKeyVaultAccessPolicy cmdlet

Set-AzKeyVaultAccessPolicy –VaultName &lt;your-key-vault-name&gt; -PermissionsToKeys create,decrypt,delete,encrypt,get,list,unwrapKey,wrapKey -PermissionsToSecrets get,list,set,delete -ApplicationId &lt;Id&gt;

I believe the parameter -ApplicationId should be -ObjectId

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-01-30 15:43] ArindamRayMukherjee opened #47140 "Azure resource group creation through ARM template fails"
I have a template json file that has the following to create a resource group.
Basically I'd like to create the resource group from my build pipeline if it is not present. If it is present the step should do nothing.

And in my azure pipeline I have the following as a task

And I get this error

What am I doing wrong please?

---
#### Document details

⚠ *Do not edit this section. It is required f

[2020-01-30 15:51] JYOTHIRMAISURI commented on #47132
@SteveColegrove
Hi, I  was the technical author for this document, currently not working for iTSM. Marking the PM owner.

@ananthradhakrishnan  pls look into this. Thanks.

[2020-01-30 15:53] MGoedtel commented on #47060
@EdwardP-VEN - I'm going to discuss this with engineering today to determine if its a bug (known or not) before I update the article.  I'll bug this and have the article updated by end of day. Thanks for bringing this to our attention. #please-close.

[2020-01-30 15:53] #47060 closed

[2020-01-30 15:57] rodionaltshuler opened #47141 "failed container start caused by mussing gensim dependency"
When following this tutorial, you get an error when deploying error at the stage of checking container health check: 'ModuleNotFoundError: No module named 'gensim''

Please add  'gensim' to pip dependencies in myenv.yml for CLI and to corresponding Python snippet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0a7c4e

[2020-01-30 16:01] Haritha-Nuthi opened #47142 "Usage of SSL in MQ Connector is very unclear or has no helpful documentation at all for Azure."
I have seen a post from last year that it would be available soon, but didn't find that. Could ypu please help me on how to use SSL configuration on logicapps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e7fab4-1469-22df-2618-b6b82b09df6d
* Version Independent ID: 4d8ae394-5c92-7949-db5f-99884de55c21
* Content: [C

[2020-01-30 16:02] tfitzmac commented on #34230
The link was added. It should get published in the next few hours.

[2020-01-30 16:02] Haritha-Nuthi commented on #47142
I have seen a post from last year that it would be available soon, but didn't find that. Could ypu please help me on how to use SSL configuration on logicapps

[2020-01-30 16:02] tfitzmac commented on #34230
#please-close

[2020-01-30 16:02] #34230 closed

[2020-01-30 16:02] mikerodrick opened #47143 "Default vault access"
Your documentation states "After vault creation your Azure account is the only account allowed to do anything on this new vault."

After using Azure PowerShell to create a vault, the following warning appears...
"WARNING: Access policy is not set. No user or application have access permission to use this vault. This can happen if the vault was created by a service principal. Please use Set-AzKeyVa

[2020-01-30 16:05] uriel-kluk commented on #46125
This is my code, I took it from the sample App:
[code]

This is the error I get:
**Unexpected character encountered while parsing value: C. Path '', line 0, position 0.**
Source: Newtonsoft.Json

Target Windows 10, Version 1903 x64
NETFX_CORE;WINDOWS_UWP

Here are the dependencies:
[code]

[2020-01-30 16:07] MGoedtel commented on #47060
@EdwardP-VEN - I just realized, this check is to verify that version of the OS is supported for the Hybrid Runbook Worker role, which is required for deploying updates to that distro/version. The Hybrid Runbook Worker doesn't support that version of Ubuntu as described here - https://docs.microsoft.com/en-us/azure/automation/automation-linux-hrw-install#supported-linux-operating-systems, as we onl