[2020-03-05 15:05] mike-2138 opened #49566 "Clarification please on device certificate prompts"
Could you please provide some clarity on this as the statement below is a little vague and not very explicit.

"may prompt users on Mac, iOS, and Android to select a device certificate during policy evaluation"

Under what conditions will this occur?

Also, what will happen in the scenario that you set a policy that has "REQUIRE ONE: MFA & Complaint Device" - does this mean that non-registered dev

[2020-03-05 15:08] adetayorabiu opened #49567 "Confusion about token quota of 600 on databaricks token create api"
I wanted to get clarification on QUOTA_EXCEED in the databricks token create rest api here [Documentation](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/tokens)

The line line below isn't clear enough to me.

Is this a lifetime quota or just the number of active token allowed at any time. This clkarification is important because I'm integrating the creation of Personal Acc

[2020-03-05 15:09] jwisener commented on #36001
Hi @shawndewet it really depends on how you are going to setup a pipeline. You can send me an email and we can converse back and forth if you like just take my username you see and add at gmail dot com on it

[2020-03-05 15:09] normesta commented on #49464
@southpolesteve thanks for your feedback. I updated the page just yesterday in response to your concern. It should look a bit more comprehensive now. Thx again!

[2020-03-05 15:09] normesta commented on #49464
#please-close

[2020-03-05 15:09] #49464 closed

[2020-03-05 15:10] matt4885 commented on #49531
I agree, this information would be extremely helpful. Postgres 12.2 has been out for roughly a month, so very curious to see when it will be out. Additionally, when Citus 9.2 + PG 12 will be integrated into Azure Postgres Hyperscale.

[2020-03-05 15:12] doelpede opened #49568 "Can not located Powershell Az.Subscription Module"
Hi, the steps outlined in this documentation how to install the module Az.Subscription do not work for me. Powershell can not find the mentioned Az.Subscription Modul. Please advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3632da-89e0-cbd4-2d92-311eaacd33b3
* Version Independent ID: 9a59177a-4183-cdd8-dee3-9db

[2020-03-05 15:39] #42861 closed

[2020-03-05 15:46] PramodValavala-MSFT commented on #49192
@linxlims Just following up here... Hope my previous comment clears things up.

Since there is on doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-05 15:46] #49192 closed

[2020-03-05 15:51] JaumenseT commented on #49497
Hey there! This is cause the version of terraform, u can add the "features {}" or just set in the tf a previous version than the 2.0.0

[2020-03-05 15:53] JaumenseT commented on #49497
Great article btw, thanks for your work!

[2020-03-05 15:56] PramodValavala-MSFT commented on #49562
@hrafnkel While it is true that multiple clients can `peek` messages, when trying to delete (or for that matter any action), they would require a valid `lock token` which only one client can have at a time.

Generally, process messages implies that a message is received by one of the [receive methods](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscripti

[2020-03-05 16:06] MGoedtel commented on #49332
@KrishnaG-MSFT - As far as I know this document is up-to-date.  I will check with the product team to verify and if a region is missing, I'll get that addressed ASAP.  Thanks.

[2020-03-05 16:08] dstampfli opened #49570 "Failure enabling Azure Monitor for Containers"
Hi,
I tried enabling Azure Monitor for Containers and received the error below:
**"The subscription is not registered to use namespace 'Microsoft.OperationsManagement'"**.

This is a pay-as-you-go subscription.

Two points:
- You may want to consider adding this is prerequisite to the docs.
- I checked the portal and this namespace is registered for my subscription.  Are there any other namespaces

[2020-03-05 16:09] christiankuhtz commented on #49236
Busy building this ;-) @anavinahar owns LB now.

[2020-03-05 16:12] christiankuhtz commented on #48257
fyi, the maximum "ping size" is 1472 (1500-20 IP header - 8 ICMP) when the mtu is 1500. this is expected as azure supports 1500 mtu. the fact that you might see more mtu in places doesn't mean it's supported. @altambaw fyi

[2020-03-05 16:14] Molx32 opened #49571 "Missing information regarding SIZE"
Hello,

From the different sources of information regarding Azure AppGateway and WAF I read, I could't find any relevant nor useful information regarding the **size** of the AppGateway, which can be **small**, **medium**, or **large**. Several threads and GitHub issues redirected me to the _Performance_ section of this page, but I still don't get what the size means. Note that when creating an App

[2020-03-05 16:15] dstampfli opened #49572 "Applying taint to node pool"
I think the "Schedule pods using taints and tolerations" section has a couple of issues:
- Taints can be only be applied to a new nodepool and not an existing one.  That's not clear from the example above.
- The default node pool runs a lot of management pods in the kube-system namespace and problems might occur if a taint is applied to this node pool.  I think this should be covered in more detai

[2020-03-05 16:16] hrafnkel commented on #49562
Peek is perfect for aggregate and collate operations on multiple messages
that combine into a greater data object. Multi-phase data processing with
multiple messages can be architected by selecting messages by metadata fro
the queue and disposal at the conclusion of the unit of work.

This is a well known and documented pattern in SOA/ESB solutions.

On Thu, 5 Mar 2020, 15:56 Pramod Valavala, <not

[2020-03-05 16:17] dstampfli opened #49574 "Failure enabling Azure Monitor for Containers"
I tried enabling Azure Monitor for Containers and received this error using my pay-as-you-go subscription:
"The subscription is not registered to use namespace 'Microsoft.OperationsManagement'".

Two points:
1.  You may want to consider adding this is prerequisite to the docs.
2.  I checked the portal and this namespace is registered for my subscription. Are there any other namespaces that need to

[2020-03-05 16:18] ElanShudnow opened #49575 "Resource column also gone"
It appears the resource column was also removed and the resource value is now stored in properties column. My old query leveraged project and did:
| project TimeGenerated, OperationName, ActivityStatusValue,ActivitySubstatusValue,Resource,ResourceGroup,Caller,SubscriptionId

But now I'm still trying to project the resource name.  I tried:
| project TimeGenerated, OperationName, ActivityStatusValue

[2020-03-05 16:30] littlescratch commented on #46160
Did we find out what module version is required to make this work?

[2020-03-05 16:34] miked1313 commented on #49254
@neeleshray-msft  - I believe that you are incorrect.  @loosus456 only mentioned "Office 365".  Microsoft 365 E3 and E5 is what includes Azure AD P1 and P2 licenses respectively.  "Office 365" does not.  Both of these products having 365 and E3/E5 in their names makes it very difficult to describe/refer to the correct product, which is super frustrating and confusing for many people.

[2020-03-05 16:36] curtand commented on #49478
Hi @CharmanderJieniJieni
Yes, you can. I’ll add a statement to that effect to the beginning of the article. To assign a role to a service principal instead of a user, use the Get-AzureADMSServicePrincipal cmdlet.

And assigning roles to groups will be in preview soon. Thanks for your contribution!

#please-close

[2020-03-05 16:36] #49478 closed

[2020-03-05 16:39] curtand commented on #49094
Hi @plangone22
The article was actually updated just a week or so ago ago by my PM who did not update the date for the article, so I just did. Thanks for your contribution and we’ll keep it up!

#please-close

[2020-03-05 16:39] #49094 closed

[2020-03-05 16:39] IEvangelist commented on #49414
You might need to have the `de-DE` language package installed on your machine. For example, after setting the voice and setting the language property... it should work. Also, have you verified that you're using a [valid region](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions#standard-and-neural-voices)?

[2020-03-05 16:44] CharmanderJieniJieni opened #49577 "Is it possible to use Managed Identity as a user to interact with Azure?"
It sounds like Managed Identity is used to interact between Azure resources, but with the fact the backend of Managed Identity is Service Principal, does it mean if I get the Service Principal object id and secret behind ad Managed Identity, I can use that to login to Azure and perform actions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-05 16:46] curtand commented on #46636
Hi @cchambers-cap
I just updated this article 2 weeks ago. Can you verify that your question is answered?

Thanks for your contribution!

[2020-03-05 16:52] jemag opened #49578 "AKS authorized ip ranges does not mention devops environments"
Unless I am mistaken, restricting the ip ranges will prevent azure devops environments to connect to the cluster:
![image](https://user-images.githubusercontent.com/7985687/76003695-6a70a180-5ed6-11ea-9d55-8397b56c244a.png)

This scenario does not seem to be talked about in the documentation.

Are there any ways to make environments still work in such a setup? Perhaps by using some kind of agent p

[2020-03-05 16:54] neilpeterson opened #49579 "Microsoft.Storage/storageAccounts template reference missing 2019-06-01"
Update Request: https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/allversions

Right now the storage account ARM template reference lays out the ARM template for Microsoft.Storage/storageAccounts API version 2019-04-01, however, I'd like to see it for API version 2019-06-01 as multiple properties have been added such as RoutingPreference and BlobRestore.

Transferring from  https:

[2020-03-05 16:55] curtand commented on #47119
Hi @andyjballgit

Regarding your PS, the article you cite is regarding audit log entries for Azure AD roles, not Azure roles, which was the subject of your original question.

I’m investigating your original question to find out if global readers can see this information. Because Azure resource roles also require Azure subscription access, I won’t be sure until I confirm.

Thanks for your contribu

[2020-03-05 16:59] NigelbrownIBM opened #49580 "Retrieve Network Watcher"
Retrieve Network Watcher step does not get the correct object for Start-AzNetworkWatcherResourceTroubleshooting cmdlet (creates binding error - Cannot convert the "Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSResource" value of type "Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSResource" to type "Microsoft.Azure.Commands.Network.Models.PSNetworkWatcher").

Suggest r

[2020-03-05 17:00] loosus456 commented on #49254
@miked1313 Yes, it is very confusing and difficult to describe.

What we have is literally just an Office 365 tenant.  There basically is no Azure, other than the bare minimum to make Office 365 function.  In fact, when I login to the Azure portal, I see a message that reads "Start with an Azure free trial."

There are indeed some things I can do with Azure, such as checking risky users/logins, au

[2020-03-05 17:05] willzhan commented on #49017
On one hand, we wish for downloading a file which is PlayReady protected (for Windows), ideally it is MP4 file. On the other hand, there is no binding between MP4 file and DRM. To overcome this, suppose we have a smooth streaming content (containing multiple bitrates, each bitrate maps to a .ismv file). Suppose you could use a commercial encoder to perform PlayReady encryption on smooth streaming

[2020-03-05 17:13] jesperilsoenielsen commented on #44396
@jakaruna-MSFT  I have not received a reply to my email. Have you added the product team?

Thanks.

[2020-03-05 17:13] bandersmsft commented on #49552
@tom-ditlev @karthick3d
I’m sorry you’ve ran into this issue. The Cost Management team has found a bug with underlying metadata that’s causing the error. The issue happens because there is no budget available under "Cost Management > Budget" in the Azure portal. The fix is in the process of being deployed to the Power BI desktop and Power BI service. Until we get the fix out, the workaround for no

[2020-03-05 17:15] mamccrea commented on #49550
Thanks for the feedback @jjimenezroda. I'll get this updated.

[2020-03-05 17:18] MarileeTurscak-MSFT commented on #49544
@pgarm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 17:20] mamccrea commented on #49510
Hi @johndelizo - I apologize for the inconvenience. I will update the doc to make this more clear as it cannot be done with a free trial account.

[2020-03-05 17:21] JimacoMS3 commented on #45003
@fanshaoshan Just FYI, we've updated both the [device twin](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-twin-size) and [module twin](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins#module-twin-size) topics to better explain how size is computed.  Thanks again for your feedback!

[2020-03-05 17:25] haymansfield opened #49581 "Upcoming Azure Availability Zones roll out"
Is there any intention to roll out Availability zones to further regions? Specifically interested in UK West.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.mi

[2020-03-05 17:26] MarileeTurscak-MSFT commented on #49558
@balintbako
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 17:27] MarileeTurscak-MSFT commented on #49566
@mike-2138
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 17:27] PeterCLu commented on #48784
@jberezanski-mdg Thanks for your report. This issue has been added to the engineering backlog for a fix in the near future. I shall proceed to close this issue, #please-close. If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-03-05 17:27] #48784 closed

[2020-03-05 17:28] MarileeTurscak-MSFT commented on #49577
@CharmanderJieniJieni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 17:33] SaurabhSharma-MSFT commented on #49581
@haymansfield Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 17:33] BharathNimmala-MSFT commented on #49551
@stephen-cairns Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-05 17:35] BharathNimmala-MSFT commented on #49568
@doelpede  Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-05 17:37] BharathNimmala-MSFT commented on #49574
@dstampfli Thank you for your feedback, we will further look into it and get back to you at the earliest

[2020-03-05 17:38] michaelpaulus opened #49584 "Enable Password Protection - Image"
Nice bad password list, must have come from a Buckeye LOL, Go Blue!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799247b7-b3f3-807f-2183-1775f47500f9
* Version Independent ID: 8c242698-eaa1-4132-497f-e6ac336e94f6
* Content: [Password protection operations and reports - Azure Active Directory](https://docs.microsoft.c

[2020-03-05 17:43] greendx commented on #49401
Thanks. That's helpful. Maybe it is obvious but wasn't to me. Perhaps clarify this in the documentation?

Can I also ask if there are any plans to have documentation or a support matrix that lists preferred and supported authentication methods for Key Vault with Azure resources other than virtual machines? The example used in this key vault basic concepts document is specific to virtual machines.

[2020-03-05 17:45] PramodValavala-MSFT commented on #49562
@hrafnkel I believe the same can be achieved by using [sessions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions) by having a single consumer perform the aggregation but I see the benefit of using peek, especially when having multiple consumers.

With multiple consumers and no peeking, you would require a chain of topics/subscriptions along with [auto-forwarding](http

[2020-03-05 17:47] hilari0n commented on #42614
Uhm... issuer URI is of the AAD issuing authorization tokens (the one the user is guest in), not the one which authenticated the user (the one the user is guest from). E.g. for JWT tokens it's "iss" vs "idp".

[2020-03-05 17:47] hrafnkel commented on #49562
Event Hubs would be quite good. There is some reason that my enterprise
architect has not chosen them for our particular project.

On Thu, 5 Mar 2020, 17:45 Pramod Valavala, <notifications@github.com> wrote:

[2020-03-05 17:48] robert4os opened #49585 "automl_setup_model_explanations fails for forecasting model"
Hi,

I am trying to get 'explanation' for a forecasting model generated with automl.

The fitted model is explainable according to automl_check_model_if_explainable

However, when running
automl_setup_model_explanations(_best_model, X=_train_X, y=_train_y, X_test=_test_X, task='forecasting')

I get the following error (please see below).

Any advice would be great.

Current status: Generating a fe

[2020-03-05 17:48] iainfoulds commented on #49584
Can thank @MicrosoftGuyJFlo for that custom banned password list ;) I'm going to keep out of this one!

Let us know if you have any problems with the on-prem password protection component. For now, #please-close

[2020-03-05 17:48] #49584 closed

[2020-03-05 17:49] mdgattuso commented on #49537
one other comment, the location will determine where the profile configuration is stored. your CDN profile will still be deployed across all CDN PoPs globally.

[2020-03-05 17:50] hilari0n opened #49586 "Admin consent directory ID"
The admin consent links, e.g.:
https://login.microsoftonline.com/common/oauth2/authorize?client_id=41b23e61-6c1e-4545-b367-cd054e0ed4b4&response_type=code&redirect_uri=https://portal.azure.com&nonce=1234&prompt=admin_consent
would work much better, if the "common" part was actually replaced by the directory ID.
Without those, it's quite hard to give consent using a Global Admin account, which is f

[2020-03-05 17:50] OffColour commented on #32113
Confirmed. A lock does not prevent a share being deleted.

[2020-03-05 17:52] hilari0n opened #49587 "Why "Create Azure AD tenant users"?"
What is the purpose of "Create Azure AD tenant users"?
I already have a Global Admin account (if I'm the one creating the AAD) for next steps.
No subsequent steps seem to utilize the second user (non Global Admin).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent

[2020-03-05 17:59] spacecookies4 opened #49588 "Issue creating role assignment in WVD preview"
In the section titled "Create a role assignment in Windows Virtual Desktop Preview" the instructions state to run Get-RdsTenant to return a list of RDS tenants and find the associated name for your tenant. This name is to be used in the next powershell cmdlet. Get-RdsTenant alone does not return the necessary information needed to proceed to the next step.  To see the names of RDS tenants, you nee

[2020-03-05 18:01] ketaanhshah commented on #13195
Seems like Microsoft still doesnt support the DIAGNOSTICS SETTINGS for Storage Accounts thru ARM template? I am trying to set the Queue Properties thru ARM template and I cant find any documentation on how to do it?

[2020-03-05 18:03] ketaanhshah opened #49589 "How to configure QUEUE PROPERTIES Diagnostics settings for Azure Storage Account using ARM"
Hi All,
I am unable to find any documentation on  How to configure QUEUE PROPERTIES Diagnostics settings for Azure Storage Account using ARM.
Is it still not supported and this can only be done manually thru portal?
Is there any POWERSHELL script I can use as part of my deployment to set these properties for Diagnostics logs for QUEUE, BLOB, TABLE, etc.?

Appreciate your help as stuck here without

[2020-03-05 18:03] wmgries commented on #49481
@OffColour, can you please reach out to us? Send mail to AzureFiles@microsoft.com and we'll have a call to figure out what's going on.

[2020-03-05 18:04] hilari0n opened #49590 "Why fixed audience?"
The virtual network gateway seems to be able to accept any audience (not just "41b23e61-6c1e-4545-b367-cd054e0ed4b4"). Why would you suggest to always use the "Azure VPN" (41b23e61-6c1e-4545-b367-cd054e0ed4b4) one?
With this approach, all gateways I create and configure like this, will either be allowed access by the exact same set of users, or will require creating separate AAD-s, which sucks, es

[2020-03-05 18:07] KranthiPakala-MSFT commented on #49564
@mphoboon Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-05 18:10] anzaman commented on #49590
Please follow https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant-multi-app if you want to register your own app for granular user access.

[2020-03-05 18:10] juanand opened #49591 "enableServerCertificateValidation"
How does cert validation works or requires to work?
I'm testing this scenario with explicit FTPS and Windows box where IR is installed is trusting the certificate and its hierarchy just fine, certutil -urlfetch -verify &lt;cert&gt; is happy too, CRLs and CA certs are retrieved from internal IIS fine, root and issuer CAs certs installed in Local Machine cert store, but ADF fails to get the file whe

[2020-03-05 18:10] anzaman commented on #49590
#please-close

[2020-03-05 18:10] #49590 closed

[2020-03-05 18:18] anzaman commented on #49425
@cherylmc  - can you look at rewording it?

[2020-03-05 18:28] hengsworld commented on #49290
Have this set up on my lab looks like B2B or guest users with VM admin login role wont be able to RDP "login attempt failed" should reflect in document

[2020-03-05 18:31] hilari0n commented on #49590
This article should mention it at the very beginning and explain the difference.

[2020-03-05 18:34] deepikabandhanadham opened #49592 "Availability for Azure Government"
When will the event based triggers be made available for Azure Government subscription? I only see Schedule and Tumbling Window options

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based trigge

[2020-03-05 18:35] BharathNimmala-MSFT commented on #49299
@theheatDK Please see if you can leverage [Azure Storage explorer ](https://azure.microsoft.com/en-us/features/storage-explorer/#features) to view the logs.  However to have a similar experience of querying it via log analytics, we don't have out of box functionality at this time to send storage logs to Log analytics but you can use [custom scripts](https://github.com/Azure/azure-docs-powershell-s

[2020-03-05 18:40] jgallucci32 commented on #49027
@neeleshray-msft Before closing would you mind adding a note to the documentation the feature is only supported in certain regions?

After further testing it appears the documentation link you provided for SCIM configuration Azure Databricks is only available in the commercial regions as well. There is no app gallery in Azure Government.

Thank you.

[2020-03-05 18:41] djpmsft commented on #49592
@deepikabandhanadham Event based triggers in Azure Gov is current under development and should land this month (March 2020)

#please-close

[2020-03-05 18:41] #49592 closed

[2020-03-05 18:42] YutongTie-MSFT commented on #49585
@robert4os
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-05 18:44] hilari0n opened #49593 "Single app vs multiple client apps"
Is the process exactly the same if we use the single application approach and the multiple client application approach? I.e. will it be always done in the context of "Azure VPN" application or the application we actually used for the gateway audience?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77476799-7803-afb8-c6

[2020-03-05 18:44] BryanTrach-MSFT commented on #49557
@mikaelliljedahl Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-05 18:48] aaroncalderon commented on #33099
So, I solved my issue by updating the values of:
- __Login Redirect URL__
- __Mobile App Login Redirect URL__ and
- __Mobile Browser Login Redirect URL__

To `https://<workdayhost>/<tenantname>/login-saml2.htmld`.

Apparently I was '__Configure Service Provider-Initiated SAML Authentication__'

[2020-03-05 18:49] SnehaGunda commented on #49271
We will close this issue if there aren't further questions.

[2020-03-05 18:50] MarileeTurscak-MSFT commented on #49331
Thanks for this question! I believe they'll just stop working and you'll need to remove them, but I've reached out to the product team to confirm as I'm not certain how that will work and we will get back with that information shortly.

In the future it is recommended to use conditional access policies instead.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-condit

[2020-03-05 18:50] deepikabandhanadham commented on #49592
Thank you!

[2020-03-05 18:53] henry-schneiderman opened #49594 "conda not in PATH on DSVM"
'conda activate py36' gives 'command not found' on DSVM
Instead used:
1)  '/anaconda/bin/conda init bash'
2) closed shell
3) opened new shell
4) conda activate py36

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b9a9a
* Version Independent ID: 734d767b-f22d-2ba6-aabf-98b07bf5abfc
* Conten

[2020-03-05 18:55] ggailey777 commented on #48117
Hi @SychevIgor, this sounds like a feature request for Functions. Can you please reopen this request in the [Azure/azure-webjobs-sdk](https://github.com/Azure/azure-webjobs-sdk/issues) product repo?

[2020-03-05 19:00] #42072 closed

[2020-03-05 19:02] zr-msft commented on #42072
Thank you for the feedback @walima0103 !

I updated the documentation to help with the Bad Gateway issue. The changes should be live soon.

#please-close

[2020-03-05 19:03] ggailey777 commented on #48117
Since this isn't technically a docs issue #please-close.

[2020-03-05 19:03] #48117 closed

[2020-03-05 19:05] mrdenny opened #49595 "Changing the port number does not increase security"
Changing the port number does not increase security by any meaningful amount.  All this does is make it slightly harder for someone to break into your server. Instead of attacking port 1433, I need to port scan your box first to find out the port to attack.  A better option would be to simply not expose the SQL port to the public internet at all.

All using a non-standard port number does is make

[2020-03-05 19:06] cherylmc commented on #49425
@anzaman - sure! I'll take that as a doc task.

[2020-03-05 19:06] cherylmc commented on #49425
#please-close

[2020-03-05 19:06] #49425 closed

[2020-03-05 19:07] bandersmsft commented on #49542
@slavizh Quite right. I'll look at this and update.
#in-process

[2020-03-05 19:07] jdanton commented on #49595
I think it would be good to highlight the risk of having SQL Server exposed to the internet on even a non-default port. If you enable this, your error log will become quickly inundated with failed SA connections. If you set a bad SA password your server will be owned withing 20 minutes.

[2020-03-05 19:10] jstafford5380 opened #49596 "A bit more info on the feature?"
Could we get some more info on this feature? It talks about how to turn it on, but why would I turn it on? What is its intent? How is it supposed to behave?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a053a774-e0e7-e7c7-8a08-7244cb0f058d
* Version Independent ID: 7acef172-4c69-6502-d506-c8c3ef13a1c1
* Content: [CI/C

[2020-03-05 19:10] bandersmsft commented on #49543
@slavizh Thanks. I'm looking at this and will update after I review.
#in-process

[2020-03-05 19:11] mikebudzynski commented on #49561
Coming soon.
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#does-the-new-portal-have-all-the-features-of-the-old-portal

#please-close

[2020-03-05 19:11] #49561 closed

[2020-03-05 19:15] LoveCSharp opened #49597 "Sliding Windows diagram has wrong unit"
The sliding window diagram has Minute in Time (Minute) axis but code uses Seconds

[2020-03-05 19:21] dotnetgator opened #49598 "Confusing statement about inclusion of AAD-Common TP"
The Protocol section mentioned that "All Azure AD technical profiles include the AAD-Common technical profile." It should probably indicate instead that "All Azure AD technical profiles included in the Starter Pack policies include the AAD-Common technical profile."
It is fairly straightforward to create an AAD Technical Profile that does *not* reference AAD-Common, but this statement suggests tha

[2020-03-05 19:22] MisinformedDNA commented on #46972
I also cannot find the username. @Tiger333 did you figure it out?

[2020-03-05 19:23] dotnetgator opened #49599 "Conflicting information about technical profile inclusion"
The table at the beginning of this document that describes the elements within a Technical Profile has a description for IncludeTechnicalProfile that indicates "An identifier of a technical profile from which you want all data to be added to this technical profile. The referenced technical profile must exist in the same policy file."

However, the description within the IncludeTechnicalProfile sec

[2020-03-05 19:27] dotnetgator opened #49600 "Missing Metadata documentation - authorization_endpoint"
The starter pack policies (specifically, the TrustFrameworkBase.xml) include a Metadata item called "authorization_endpoint" which is not documented here:

&lt;Item Key="authorization_endpoint"&gt;https://login.microsoftonline.com/{tenant}/oauth2/token&lt;/Item&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f

[2020-03-05 19:29] MarileeTurscak-MSFT commented on #49459
It seems to only appear if you're the first person to use PIM in your tenant and it hasn't already been set up. I checked several tenants and could only see it in a tenant that had a Premium license applied where no one else had set up PIM. The document states that it shows up if you're the first person to use it in the tenant.

![image](https://user-images.githubusercontent.com/13383753/76018024-

[2020-03-05 19:29] tfitzmac commented on #49579
The template reference for storage has been updated.

[2020-03-05 19:29] tfitzmac commented on #49579
#please-close

[2020-03-05 19:29] #49579 closed

[2020-03-05 19:30] dotnetgator opened #49601 "Missing description of {tenant} substitution"
The starter pack policy files include a value substitution item in the METADATA and authorization_endpoint metadata elements using the syntax {tenant}:
  &lt;Item Key="METADATA"&gt;https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration&lt;/Item&gt;
  &lt;Item Key="authorization_endpoint"&gt;https://login.microsoftonline.com/{tenant}/oauth2/token&lt;/Item&gt;
This syntax and ho

[2020-03-05 19:31] georgewallace commented on #46972
@Tiger333 and @MisinformedDNA I am reaching out to see if they can provide some guidance and to also help get this article updated.

[2020-03-05 19:32] johndeu commented on #49017
Let us know if there is any feedback on documentation improvements we can make

[2020-03-05 19:46] nissan opened #49603 "HttpTrigger is sealed and cannot be accessed as in the code"
I was using the code sample and could not resolve HttpTrigger even after adding the reference to Microsoft.Azure.WebJobs nuget where it lives. I looked at the code, it is now marked as "public sealed" so I don't think I can reference it in the manner as listed in the code. Can you advise as to an alternative route or update the code to reflect the method that should be used instead?

---
#### Docu

[2020-03-05 19:51] MarileeTurscak-MSFT commented on #49459
You're saying though that you saw it in your tenant but then it disappeared after logging into the same tenant with the same account?

I asked the product team to confirm if that is expected behavior as the doc only says that it appears for the first person to set up PIM and not that it disappears after.

[2020-03-05 19:51] wfc-sfmjp opened #49604 "kubectl delete ns nginx-ingress doesn't remove clusterroles"
Following this tutorial using helm v3.1.1 and kubectl 1.17.2, I ran into an issue trying to replicate the example. The first time executing the commands was fine. I performed a teardown with `kubectl delete ns ingress-basic`. The issue I ran into was attempting execute a helm install a second time. The the following output was generated:

[code]

I would have anticipated all of the resources being

[2020-03-05 19:57] jpconnock commented on #44587
Hi @bartduncan.  We've just updated this article to include all paired regions currently available to customers.  Thanks for your feedback!

#please-close

[2020-03-05 19:57] #44587 closed

[2020-03-05 19:59] MicrosoftGuyJFlo commented on #49584
@michaelpaulus Go Bucks! Yes I threw that in there since there are a bunch of UM grads in the product team on both the PM and Development sides. Took a while for them to notice and you are the first customer to make mention of it. The docs are open source and we do take community contributions so if you want you could propose a change.

[2020-03-05 19:59] MisinformedDNA commented on #46972
After reading further, there seems to be no purpose in retrieving the username for this tutorial. It is never actually used.

[2020-03-05 20:04] bdschaap opened #49605 "Cross-App Insights Resource Application Map"
Does the Application Map support displaying information across multiple App Insights resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc7b703-b823-5719-36de-0eeaf096b3ca
* Version Independent ID: d85431d2-7253-80e9-9036-b62e2e230cca
* Content: [Application Map in Azure Application Insights - Azure Monitor](ht

[2020-03-05 20:08] MicrosoftGuyJFlo commented on #47622
Pending feedback from the product teams

[2020-03-05 20:08] MicrosoftGuyJFlo commented on #47711
Pending feedback from the product teams

[2020-03-05 20:09] MicrosoftGuyJFlo commented on #48816
Sent to product team for feedback

[2020-03-05 20:09] MarileeTurscak-MSFT commented on #49290
Hi @hengsworld , you can create a resource group in the tenant with the VM and add the VM to that resource group. Then you can grant users access to the resource group, subscription, resources, or management group. https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal

![image](https://user-images.githubusercontent.com/13383753/76021313-ee785880-5ed9-11ea-8f6b-66

[2020-03-05 20:09] SaurabhSharma-MSFT commented on #49526
@tham3sayneewong Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 20:10] MarileeTurscak-MSFT commented on #49290
Hope this helps! If you have further questions feel free to tag me in the comments or open a thread on Q&A. https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-external-users

[2020-03-05 20:10] #49290 closed

[2020-03-05 20:10] SaurabhSharma-MSFT commented on #49527
@kazshi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-05 20:11] dvanderslice commented on #49554
Theres a dependency on the connection string. Take a look at this article: https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints#dns-changes-for-private-endpoints

I ran into the same thing. If the CNAME maps directly from internal DNS to that endpoint it'll allow kerberos auth. Like you i have always just used the account name and key with an A record on-prem but that do

[2020-03-05 20:12] SaurabhSharma-MSFT commented on #49540
@jishansiddique To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:17] SaurabhSharma-MSFT commented on #49548
@PezCo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-05 20:18] SaurabhSharma-MSFT commented on #49549
@swarna-p To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:19] sheptechio opened #49606 "Typo: Visual Studio Core -> Visual Studio Code"
The hyper link text for the Visual Studio Code Extension reads "Core" instead of "Code"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08ea0e9e-86ba-45be-a0c4-ea05564edf0e
* Version Independent ID: a246ebd2-fe12-7e54-3a46-d62302ecf72b
* Content: [How to use Azure Cosmos DB change feed with Azure Functions](https://docs

[2020-03-05 20:19] tamram commented on #13195
@fhryo-msft - Can you comment on configuring diagnostics with an ARM template?

@normesta FYI

[2020-03-05 20:20] stewartadam opened #49607 "awk is specific to output format and should not be used"
Using awk in the code examples takes a strong dependency on the order of outputs by the Azure CLI and should not be used. Azure CLI has native ability to pull a property with the `--query`, or at worst `az ... -o json | jq` could be used instead to pull specific properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-03-05 20:21] SaurabhSharma-MSFT commented on #49555
@AmitavaHazra To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:21] mc0re commented on #49017
Thank you very much for guiding. It was really confusing for me to see the "progressive download" mode, `DownloadOnly` locator, `UltraVioletDownload` content type - but still been said that downloading is not what I need... It is somewhat clearer now, though took quite some time to wrap my head around this topic.

As for the documentation, probably explaining somewhere (tagged as "download" and "d

[2020-03-05 20:23] SaurabhSharma-MSFT commented on #49556
@pejenarh To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:24] Karishma-Tiwari-MSFT commented on #49374
@fgauna12 Did that help answer your question?

[2020-03-05 20:24] SaurabhSharma-MSFT commented on #49563
@pradeepbafna To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:25] SaurabhSharma-MSFT commented on #49565
@GabrielOrAnder To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:25] jackbond opened #49608 "Higher throttle limits"
"If you have a valid business case for higher throttle limits, please contact us."

I submitted a service ticket, but didn't get a response. What is the best way to contact you?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d31545e-0af5-dd52-d28b-7507a2288f36
* Version Independent ID: 85ee6742-06ad-9379-a8f2-6f83d1a1

[2020-03-05 20:26] SjoerdV commented on #47873
I think that is actually already possible with this handy script:
https://github.com/skillriver/AzureMFADashboard/blob/master/MFAStrongAuthenticationUserReport.ps1

[2020-03-05 20:27] bandersmsft commented on #49552
@tom-ditlev @karthick3d Article updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106641 to add a Troubleshooting section. Until the article published live later today, you can check out the PR changes.
#please-close

[2020-03-05 20:27] #49552 closed

[2020-03-05 20:28] bandersmsft commented on #49500
@adikota  Article updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106641 to add a Troubleshooting section. Until the article publishes live later today, you can check out the PR changes.
#please-close

[2020-03-05 20:28] #49500 closed

[2020-03-05 20:29] SaurabhSharma-MSFT commented on #49567
@adetayorabiu Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 20:30] heikkiri-ms opened #49609 "CLI Samples to use supported --query"
Could the samples be change so that it is generic. The samples show use of 'grep' so this would fail on Powershell AZ CLI.

Making the command generic would be to use the '--query' parameter like this:
az provider show -n Microsoft.VirtualMachineImages --query "registrationState" which would show the state the same way and now would be cross platform.

---
#### Document Details

⚠ *Do not edit thi

[2020-03-05 20:30] tamram commented on #49423
@stdistef - thanks for your feedback! I'm not clear on what you are referring to, however. In the table, Azure Files for standard shares is listed under the GPv2 account type, and Azure Files for premium shares is listed under the FileStorage account type.

What is it that you think we need to add to the table?

[2020-03-05 20:30] tamram commented on #49423
@roygara FYI

[2020-03-05 20:31] lucashuet93 opened #49610 "Reference to Azure Functions Core Tools for KEDA deployment should be removed"
Deploying KEDA to a brand new cluster through func kubernetes install throws errors after a fresh core tools install. Deployment is much easier through helm and the KEDA docs do the best job of explaining how to install it on a cluster. This doc should merely link to the KEDA deployment docs rather than specify that the user should use the core tools. The errors are as follows:

Error running kube

[2020-03-05 20:31] DNguyen20 opened #49611 "mail user attribute is required for provisioning sync to work"
In the "Connector Limitations" section, please consider explicitly mentioning that provisioning will not work if there isn't a mail attribute present.  Something like:
* The value of the mail user attribute in Azure AD is only populated if the user has a Microsoft Exchange Mailbox - as per the default mappings, a mail attribute is required or the provisioning sync will not work. If the user does n

[2020-03-05 20:33] SaurabhSharma-MSFT commented on #49589
@ketaanhshah To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:34] code-vega commented on #49290
@MarileeTurscak-MSFT Could you help me understand what I am missing? I am a guest on the directory where the VM is, I have created a VM Admin Login role for my account, my local pc is AAD joined. Yet, when I try to login it says I do not have permission. I can login with the local username and password I created upon creating the VM but cannot login using Azure AD. Also, AADLoginForWindows is an e

[2020-03-05 20:35] hengsworld commented on #49290
I have the guest user with contributor and VM Admin login role at subscription level, local tenant user was able to login but guest user failed. ![image](https://user-images.githubusercontent.com/14930535/76023083-50868d00-5edd-11ea-8f11-bf7564cc3564.png)

[2020-03-05 20:36] SaurabhSharma-MSFT commented on #49597
@LoveCSharp To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:36] tamram commented on #48600
@cmcapellan - We'll update the doc once the storage implementation goes GA.

#please-close

[2020-03-05 20:36] #48600 closed

[2020-03-05 20:39] SaurabhSharma-MSFT commented on #49570
@dstampfli To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 20:40] tamram commented on #49397
@theheatDK - Thanks for pointing that out, Peter. You're right, this is a gap in the docs. We'll work on addressing it in the near future.

[2020-03-05 20:40] IEvangelist commented on #48029
Hi @RonaldvanMeer,
Did you get a reply now? I messaged the PM on the team, this was their response:

[2020-03-05 20:41] stdistef commented on #49423
OK, I am at a desktop now and can operate better than my mobile.

This table is what I reported.
[cid:image002.jpg@01D5F304.7B0101E0]

I saw the lower entry and saw Premium only.

Now you called my attention to the top (also highlighted).  So Standard 100TiB Files can also leverage Tiers (hot cool and archive) in a general purpose storage account?    I guess I didn’t know that.  When Standard File

[2020-03-05 20:43] igritsak opened #49612 "Missing ` in VMSS Script"
On the  Set-AzVmssStorageProfile command there is a missing `  on this line which breaks the script:
    -ImageReferenceVersion latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83424970-5018-be40-b5d1-d5719b45759f
* Version Independent ID: 126008c4-7ffb-7116-06e3-192fd855ce36
* Content: [Host multiple web sites us

[2020-03-05 20:43] theheatDK commented on #49397
Super :-)

[2020-03-05 20:43] #49397 closed

[2020-03-05 20:45] ketaanhshah commented on #49589
Hi @SaurabhSharma-MSFT following is the documentation link:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template

This doesnt have any details on how to add QUEUE PROPERTIES diagnostics settings details for Storage account in an ARM Template.

[2020-03-05 20:46] leighj commented on #48021
You registered your domain name. That only provides the "ownership of the domain" and points to the DNS servers. It does NOT provide DNS services.

DNS Zones are hosted on DNS Servers, and provide the translation of the Domain Name to an IP or MX records.

So when the line item says Azure DNS would indicate services by Azure to provide DNS.

An internet search of Azure DNS Pricing shows that the c

[2020-03-05 20:48] code-vega commented on #49290
@MarileeTurscak-MSFT @hengsworld This is the issue!

[2020-03-05 20:51] SaurabhSharma-MSFT commented on #49265
@sanderdekoning Good to hear that you are being helped.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-05 20:51] #49265 closed

[2020-03-05 20:52] SaurabhSharma-MSFT commented on #49283
@dipinn26592 We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-05 20:52] #49283 closed

[2020-03-05 20:53] SaurabhSharma-MSFT commented on #49362
@amitbapat Can you please help here.

[2020-03-05 20:53] jmanyoma commented on #49302
Thank you for your response Mike, after further research we determined leveraging Automation Accounts with Service Principals and the Powershell Workflows is the way to go.

[2020-03-05 20:53] #49302 closed

[2020-03-05 20:55] #49511 closed

[2020-03-05 20:56] Karishma-Tiwari-MSFT commented on #49560
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @rapatchi

[2020-03-05 20:58] SaurabhSharma-MSFT commented on #49441
@MMollyy Thanks.
@rolyon can you please help on this one.

[2020-03-05 20:59] yoelhor commented on #49598
Thanks for the feedback I'm updating the doc according to your comments

[2020-03-05 20:59] jcbrooks92 commented on #49143
@juanand The gr-Prod-*.cloudapp.net is for outbound dependency calls from the ASE to the App Service management endpoints+supporting resources. I believe they were left with a wildcard since the name of that dependency may change over time and based on the region.

If you watch the recording from Build (specifically around the 40 minute mark) you'll see there are plans to provide an isolated envir

[2020-03-05 21:00] ram-kakani commented on #49527
@kazshi Yes, its supported. Please see here https://docs.microsoft.com/azure/virtual-network/create-peering-different-subscriptions

[2020-03-05 21:06] dkisselev commented on #49607
`az resource update --id "$(az keyvault show --name ContosoVault -o tsv --query id)" --set properties.enableSoftDelete=true`

Worked for me on the Existing Key Vault sample (zsh on OSX).

[2020-03-05 21:09] RonaldvanMeer commented on #48029
Hi @IEvangelist ,

Yes I've got a response.
thank you!

[2020-03-05 21:12] VelinGeorgiev commented on #42861
@v-albemi why would you close the issue without updating the official docs - [https://github.com/Microsoft/azure-docs/blob/master/articles/app-service/app-service-web-get-started-nodejs.md](https://github.com/Microsoft/azure-docs/blob/master/articles/app-service/app-service-web-get-started-nodejs.md) or I am missing something?

Having that gap in the official docs will cause similar issues to be r

[2020-03-05 21:12] yoelhor commented on #49599
Agree, thanks!

[2020-03-05 21:15] Karishma-Tiwari-MSFT commented on #49457
Thanks for sharing the details.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
C: @TomArcherMsft

[2020-03-05 21:16] Materia-xx commented on #35832
Name length, according to https://docs.microsoft.com/en-us/powershell/module/azurerm.keyvault/add-azurekeyvaultkey?view=azurermps-6.13.0

The name must be a string of 1 through 63 characters in length that contains only 0-9, a-z, A-Z, and - (the dash symbol)

[2020-03-05 21:20] Karishma-Tiwari-MSFT commented on #49458
Thanks for sharing the update. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@TomArcherMsft This information needs to be added to the documentation. The details are provided [here](https://github.com/terraform-providers/terraform-provider-azurerm/issues/5880#issuecomment-590945984).

[2020-03-05 21:22] yoelhor commented on #49601
Thanks I'm also adding the `issuer` metadata.

[2020-03-05 21:23] TomArcherMsft commented on #49458
@rudolfdobias Thanks for the feedback. We are updating all docs affected by the Terraform 2.0 release.

[2020-03-05 21:27] kraigb commented on #42861
It's out practice to close the issue when the associated PR is merged into the master branch of the repo, because the Azure docs get published twice a day. Even so, the Markdown file you link to is the one I just updated, which includes the instructions to set the Node.js version through the application setting.

Is there something still missing from the doc update? Please note that for simplicity

[2020-03-05 21:27] #49598 closed

[2020-03-05 21:29] #49599 closed

[2020-03-05 21:33] pgarm commented on #47873
That's a tad different - it gets the MFA methods registered. The question is whether it's possible to know if the "Enable phone sign-in" has been done by the user.

[2020-03-05 21:43] adamdimopoulos opened #49613 "Azure CLI command to retrieve objectId for a user is formatted incorrectly and will fail"
The AZ cli example from the section **Define Roles and Permissions** has a non-working line:

**To retrieve the objectId for an Azure AD user**
az ad user show --upn-or-object-id "&lt;yourUPN&gt;" **–-query** "objectId" --output tsv

This is formatted incorrectly and will fail with an invalid argument.  This is due to incorrect dashes for the command  –-query.  Update to use --query instead.  Also

[2020-03-05 21:43] cherylmc commented on #40713
#please-close

[2020-03-05 21:43] #40713 closed

[2020-03-05 21:56] Tam66662 opened #49614 "The container host is on unsupported build version 18363."
As of this writing, the latest release of Windows 10 is version 1909 (18363).  I have a desktop NUC with Windows 10 Pro installed with that version.  Can I turn this device into an IoT Edge Device?

When I run the system checks outlined on this Azure documentation page, I get the following result:
[code]

Does this mean that it will run ONLY on version 17763, and nothing later?  Any help would be

[2020-03-05 22:03] SaurabhSharma-MSFT commented on #49558
@balintbako Currently JIT does not work well with Bastion as it does not support Bastion subnets.  Please refer to the existing [uservoice](https://feedback.azure.com/forums/217313-networking/suggestions/38231884-bastion-and-jit-access) which talks about alternative approach.  Please upvote existing feedback for the product team to include into their plans.

[2020-03-05 22:05] MarileeTurscak-MSFT commented on #49600
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 22:05] roygara commented on #49423
@stdistef Yes, that's correct. Standard file shares with large file shares enabled (scaling up to 100 TiB) can make use of tiers. As you say, Files (standard file shares) are called out in GPv2 (among the other services like blobs) in that table, whereas FileStorage is strictly limited to premium file shares.

I'm going to go ahead and close this out now, since that's what you requested. Please fe

[2020-03-05 22:05] #49423 closed

[2020-03-05 22:18] MarileeTurscak-MSFT commented on #49608
Closing this out but please do reach out to the AzureKeyVault alias and feel free to reach out to me as well.

[2020-03-05 22:20] 4everinbeta opened #49615 "How to specify a provider?"
Hello, I am trying to follow this tutorial but am not able to use the Azure app config to store my flags. I have tried to use just the application.yaml to pass the flags specified here but they do not seem to be being read. Is there a way to specify a different provider? I would ultimately like to store these in mongo alongside some other config that we store.

---
#### Document Details

⚠ *Do not

[2020-03-05 22:27] FrankHu-MSFT commented on #49577
@CharmanderJieniJieni that's a very good insight. Yes a MSI is actually an extension onto the azure service that just leverages a service principal that has access to a resource.

So you could technically still utilize the service principal, but the idea is that MSI is secure by keeping all token access and authorization in Azure as opposed to requiring traffic outside of Azure to access another A

[2020-03-05 22:43] GabrielOrAnder commented on #49565
Hi, @SaurabhSharma-MSFT,

Follow the link i've used as reference:
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net

There is no mention at the documentation about how to add mappings or even if it is possible. I would like to know if it is, since i can map when i create a copy activity on azure data factory.

[2020-03-05 22:46] vermagit commented on #49317
@dops0
All MPI implementations are supported on the SR-IOV enabled HB, HC, HB_v2 VM sizes, as is Intel MPI.
I suggest Intel MPI 2019.6 as one of the older versions in 2019 had a bug, and is more performant than some older versions (2018).

[2020-03-05 22:48] dcbrown16 commented on #49523
Thanks @msrini-MSFT, please have this added to the doc for clarity.

[2020-03-05 22:53] johndeu commented on #26040
That is actually intentional.  This specification only shows the Differences from the published MS-SSTR specification. Those headers are intentionally left blank.

Refer the MS-SSTR spec for complete details, as this is only an amendment.

[2020-03-05 22:55] j-martens commented on #49375
#assign: @PeterCLu

[2020-03-05 22:55] j-martens commented on #49378
#assign: @PeterCLu

[2020-03-05 22:56] j-martens commented on #49381
#assign: @PeterCLu

[2020-03-05 22:56] johndeu commented on #26040
This article provides detailed amendments to be applied to the Smooth Streaming Protocol specification [MS-SSTR] to enable Smooth Streaming of HEVC encoded video. In this specification, we outline only the changes required to deliver the HEVC video codec. The article follows the same numbering schema as the [MS-SSTR] specification. The empty headlines presented throughout the article are provided

[2020-03-05 22:56] j-martens commented on #49400
#assign: @blackmist

[2020-03-05 22:56] ballcap231 opened #49616 "Run.log_table() and Run.log_list() not working"
Whatever I try to log using log_table() or log_list() doesn't show up on Azure ML Studio. Only log() and log_row() seem to be able to log anything on Azure ML Studio.

Neither of log_table and log_list did anything. Where are the logged data supposed to show up? Under the "metrics" tab on Azure ML Studio? I couldn't find the logged data anywhere
![image](https://user-images.githubusercontent.com/4

[2020-03-05 23:09] #26040 closed

[2020-03-05 23:10] johndeu commented on #29909
We are no longer recommending using Azure for just DRM license delivery only.  That capability was removed in the v3 API.
#please-close

[2020-03-05 23:12] #38125 closed

[2020-03-05 23:16] #48721 closed

[2020-03-05 23:22] dpgindler opened #49617 "How do we implement this in code?"
What API do we call to generate a deployment and send to the IOT Hub?
I have created an IoT device config...  and a deployment to a specific device...
but really looking to create an IoT Edge deployment.

We want to tie this to our release pipeline.

Input appreciated!

This is the page and information I am referring to.
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-monitor-cli#fee

[2020-03-05 23:22] MarileeTurscak-MSFT commented on #49607
@stewartadam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 23:30] anujgeek opened #49618 "GA ETA"
Hello, I've been following this topic for more than 4 months. What's the ETA for GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Service (

[2020-03-05 23:35] 4everinbeta commented on #49615
It actually appears that the issue is not that it isn't reading my flags in application.yaml but that the sample thymeleaf is not handling the Mono<Boolean> being bound. If I just pass a Boolean it works fine. Seems like the [demo](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-spring-boot) is missing something?

[2020-03-05 23:38] phawley-kingcounty opened #49619 "Data Solution Architect"
How do I set the SqlPackage.exe path to
C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\150
if I am not using a self-hosted agent?  My pipeline always chooses the path "C:\Program Files\Microsoft SQL Server\150\DAC\bin\SqlPackage.exe" but this version does not have support for Azure SQL DW it seems (must use the Preview version as listed).  Is

[2020-03-05 23:40] BharathNimmala-MSFT commented on #49177
Thank you @rolyon  for helping on this issue.

@CharmanderJieniJieni Azure Active Directory (Azure AD) and Azure resources are secured independently from one another. That is, Azure AD role assignments do not grant access to Azure resources, and Azure role assignments do not grant access to Azure AD.

[Here ](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assi

[2020-03-05 23:40] #49177 closed

[2020-03-05 23:40] dilipr05 opened #49620 "Teams App - Seamless SSO Error"
Hello

We have turned on Azure AD Seamless SSO feature in our tenant as per instructions from Microsoft docs (enable through Azure AD Connect and GPO to target set of pilot users - security group to add the URL to the Trusted Zone of the SOE device).
![Teams error](https://user-images.githubusercontent.com/61853260/76035963-edf1c780-5f96-11ea-8bb9-e3e1d1704d88.png)

We are noticing other users who

[2020-03-05 23:44] lujiangfeng666 commented on #30503
Sign in frequency should work with Outlook. Do you have details about the case that "Sign-in Frequency is not honoured by Outlook"?

Sign-in frequency setting works with apps that have implemented OAUTH2 or OIDC protocols according to the standards. Most Microsoft native apps for Windows, Mac, and Mobile including the following web applications comply with the setting.

Word, Excel, PowerPoint Onl

[2020-03-06 00:05] Ayanmullick opened #49621 "Image skus' differentiation documentation"
The below lists the skus for the `Windows-10` offer.
`Get-AzVMImageSku -Location northcentralus -PublisherName MicrosoftWindowsDesktop -Offer Windows-10`
What does `h` stand for in `19h2-ent-g2` and what does `rs` stand for in `rs5-enterprise-g2`?

And how do I locate a Gen2 image for the `office-365` offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-03-06 00:10] jmservera opened #49622 "We should add a warning about the timeout value, it should be greater than the default websocket ping/pong interval"
The [Http setting](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket#backendaddresspool-backendhttpsetting-and-routing-rule-configuration) section says that:

After a few days tinkering with a weird behavior that I thought came from my client side because I was getting a 1006 disconnection error, I've found that I should set this value to a bigger one because

[2020-03-06 00:11] mmacy commented on #34851
@dkboon01 As there's been no response to the request for more information (see https://github.com/MicrosoftDocs/azure-docs/issues/34851#issuecomment-510124066), I'm closing this one out. If you have additional information to provide and feel this issue should be reopened, please let us know. #please-close

[2020-03-06 00:11] #34851 closed

[2020-03-06 00:14] Karishma-Tiwari-MSFT commented on #49588
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-06 00:14] sheng-jie opened #49623 "Cannot export tcp service"
I followed [this guide](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/) still cannot export tcp 3306 port for mysql.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP appli

[2020-03-06 00:15] SeanXuMSFT opened #49624 "question about "approved client app" list"
for new Office Hub app, it's not in "approved client app" list now, but end user could still pass the "required approved app" control in CA policy. will this app be added to the list to avoid confusion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b8

[2020-03-06 00:16] XzeroR3 opened #49625 "ConnectionFailedAdErrorNoSuchMember and ConnectionFailedNoMappingOfSIDinAD"
I came across these two errors with two separate accounts:
- ConnectionFailedAdErrorNoSuchMember
- ConnectionFailedNoMappingOfSIDinAD

These errors came after setting up Windows Virtual Desktop and erroneously using Azure AD credentials for my sign in.  Neither error is called out on this article.

Support was able to help me find one of the errors "ERROR_NO_SUCH_MEMBER" @ the following URL: https

[2020-03-06 00:18] codercampos commented on #38125
Thanks, will do!

[2020-03-06 00:20] SamaraSoucy-MSFT commented on #49615
@4everinbeta Thank you for bringing this to our attention. I'll review the demo and see if it needs adjustment.

[2020-03-06 00:23] MarileeTurscak-MSFT commented on #49455
@richard-artes can you clarify what your exact concern is? Is it that there's advice in the article to configure the objectGUID even though the AD Connect wizard also selects it automatically, or am I misunderstanding your concern?

[2020-03-06 00:24] SamaraSoucy-MSFT commented on #49605
@bdschaap  Thank you for your question. The application map will indeed attempt to connect components that are in different App Insights workspaces.

[2020-03-06 00:31] Karishma-Tiwari-MSFT commented on #49618
Please refer to this comment here from the product team: https://github.com/Azure/AKS/issues/980#issuecomment-538943165
We cannot share a timeline at this point, however we are interested in hearing your [feedback](https://github.com/Azure/AKS/issues/980#issuecomment-583052196). Please feel free to contact us at: win-containers@microsoft.com.

[2020-03-06 00:32] TravisCragg-MSFT commented on #49571
@Molx32 Azure Application Gateway is broken down into 4 main SKUs: basic, WAF, V2, WAF_V2.

For Basic and WAF sizes, you can [find information on the sizes here](https://docs.microsoft.com/en-us/azure/application-gateway/features#sizing). the sizes refer to the size of instances used to host your application gateway. the larger the size, the more throughput the instance can handle.

For the V2 & W

[2020-03-06 00:33] NordyDataGuy opened #49626 "Confusion using the Parameters"
I would like to replicate everything in one **Azure Blob storage** account to another and I am having issues using the template for copying files from multiple containers.

I cannot figure out what I am supposed to enter for the **SourceFileFolder** (the folder path of your data source store, where you can get a list of the containers) and **SourceFileDirectory** (the subfolder path under the root

[2020-03-06 00:35] Karishma-Tiwari-MSFT commented on #49374
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-06 00:36] julianparismorgan commented on #39964
Hi @Maheenmathew, you can check out [this doc ](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#provide-feedback-to-the-user)to learn about `RecommendedForCreateProgress`, which is what makes the sphere turn yellow. In short, once we get enough frames, we can save an anchor. Until then, you need to continue to scan the space around you. What are you seein

[2020-03-06 00:37] NavtejSaini-MSFT commented on #49606
@sheptechio Thanks for the feedback and we will check it further.

[2020-03-06 00:38] KranthiPakala-MSFT commented on #49591
@juanand Thanks for the reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-03-06 00:38] mrm9084 commented on #49615
@4everinbeta, sorry to hear the issue. If you are trying to use feature management with  Azure App Configuration you will want to look at the quickstart guide, https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-spring-boot which also has information of feature flags, specifically getting them from App configuration. Also if you want to check what the resulting p

[2020-03-06 00:39] Karishma-Tiwari-MSFT commented on #49409
@MashaMSFT Can you please help confirm on this question. Thanks for your help :)

[2020-03-06 00:40] JonathanPalmerGD opened #49628 "JavaScript sample help is not useful"
Reached this page from: https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser

The button in question is in the following line:
Note: more detailed step-by-step instructions are available **here**.

But it doesn't provide step-by-step instructions. If you click on Javascript or Node, it just takes you back to where you were.

---
#### Document Det

[2020-03-06 00:42] malopMSFT commented on #47610
It's coming, just need a couple more weeks and will be available in all regions :)

For complete notifications Azure Updates
https://azure.microsoft.com/en-us/updates/?category=networking

[2020-03-06 00:50] SaurabhSharma-MSFT commented on #49553
@Digiroka Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 00:50] SaurabhSharma-MSFT commented on #49554
@OffColour Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 00:51] MarileeTurscak-MSFT commented on #49624
@SeanXuMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 00:52] SaurabhSharma-MSFT commented on #49559
@crowcoder Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 00:55] acervanez opened #49629 "Is there a way to increase the file size limit of zip deployment for azure web app? Currently the limit based on the documentation is 2048MB (https://docs.microsoft.com/en-us/azure/app-service/deploy-zip)."
Whenever we try to do a zip deployment and our file is bigger than 2048 MB, we notice that the changes are not being published. This is not the case as long as the uploaded zip file is less than 2GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Version Independent ID: 461fc0b5-a

[2020-03-06 00:59] msabramo opened #49630 "ToDoList vs. Tasks"
In the "Add a container" section, it says:
&gt; Enter ToDoList as the name for the new database.
I think that *ToDoList* should be *tasks* to match the rest of the documentation and the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3a7fc5
* Version Independent ID: dff7d0b8-f67

[2020-03-06 01:09] TravisCragg-MSFT commented on #49580
@NigelbrownIBM Thanks for the feedback! I have updated the cmdlet, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-06 01:09] #49580 closed

[2020-03-06 01:15] TravisCragg-MSFT commented on #49586
@hilari0n Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 01:19] TravisCragg-MSFT commented on #49587
@hilari0n Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 01:28] cynthn commented on #49395
@Karishma-Tiwari-MSFT That's outside of my knowledge. Adding @JagVeerappan, but he is out. Can you pull in Varun Shandilya?

@mimckitt Anyone else that might be able to answer?

[2020-03-06 01:38] TravisCragg-MSFT commented on #49593
@hilari0n can you give some more information about your ask? Are you trying to enable MFA for a group of people that you are adding to the VPN?

[2020-03-06 01:48] TravisCragg-MSFT commented on #49612
@igritsak Thanks for the feedback! I have added the character, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-06 01:48] #49612 closed

[2020-03-06 01:52] ram-msft commented on #49616
@ballcap231 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-06 01:52] TravisCragg-MSFT commented on #49622
@jmservera Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 01:54] bdschaap commented on #49605
Thanks.  Can you explain at a high level how this works?  I can understand it from a dependency perspective but it seems like that would only be for immediate dependencies.  However, immediate dependencies would not cover an app that makes a request to a service that then makes a request to another service.

[2020-03-06 01:54] ram-msft commented on #49594
@henry-schneiderman Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-06 02:02] damochiz opened #49632 "blacklist_models and whitelist_models are wrong"
The sample code in the Configure your experiment settings section is incorrect.
The blacklist_models and whitelist_models must be list(str) type, but the sample is str type.

automl_classifier=AutoMLConfig(
    task='classification',
    primary_metric='AUC_weighted',
    experiment_timeout_minutes=30,
    blacklist_models='XGBoostClassifier', &lt;--- this must be [''XGBoostClassifier'']
    train

[2020-03-06 02:06] nkiest commented on #13195
Log are not currently supported, but metrics are. If you adjust your ARM template to only collect metrics, you should not get the above error.
Note, you need to configure on the subresource you want to monitor separately, ie blobservice:
/subscriptions/subID/resourceGroups/rgID/providers/Microsoft.Storage/storageAccounts/resourceName/blobServices/default

[2020-03-06 02:10] FrankHu-MSFT commented on #49566
@mike-2138  as this feature is currently in preview, not all rules are set in stone as of right now. I'm including the author of the doc for his opinion on this.

[2020-03-06 02:10] #49577 closed

[2020-03-06 02:13] paulbouwer commented on #49374
@Karishma-Tiwari-MSFT  - I think we should update the docs with the above proposed solution since there will probably be other folks who run into the same issue.

Can you re-open and I'll drop in a PR in the next day or so (need to do it for all the service mesh docs - not just Linkerd)

[2020-03-06 02:22] ketaanhshah commented on #13195
@nkiest can I set the Queue  logs settings for the Storage Account  then through Powershell then instead of ARM template? If yes any help on what Powershell I can use

[2020-03-06 02:24] danielsollondon opened #49633 "This command fails"
$virtualNetwork= Get-AzVirtualNetwork `
  -Name "myVirtualNetwork" `
  -ResourceGroupName "myResourceGroup"

($virtualNetwork | Select -ExpandProperty subnets | Where-Object  {$_.Name -eq 'default'} ).privateLinkServiceNetworkPolicies = "Disabled"

$virtualNetwork | Set-AzVirtualNetwork

InvalidOperation: The property 'PrivateLinkServiceNetworkPolicies' cannot be found on this object. Verify that

[2020-03-06 02:25] SusanBradley opened #49634 "Question about licensing"
In order to properly license the " all up sign-in activity report." does one need ALL users licensed with an Azure p1 license or just the administrator viewing the report.  The use of the phrase "Your tenant must have an Azure AD Premium license associated with it to see the all up sign-in activity report. " is confusing.  My users don't care about this activity report.  Only I do.  But do I need

[2020-03-06 02:48] 4everinbeta commented on #49615
Thank you @mrm9084 but I am actually trying to use it without Azure app config. Currently these applications are still run in our on-site datacenter and all configuration must live onsite as well. I was going to start with just application.yaml and move it to another source onsite such as mongo if I could get another provider to work.

[2020-03-06 02:50] kazshi commented on #49527
@ram-kakani Thank you for the clarification!

[2020-03-06 02:50] #49527 closed

[2020-03-06 02:52] mike-urnun-msft commented on #49610
@lucashuet93 Thank you for your feedback! We will review and update as appropriate.

[2020-03-06 02:53] mike-urnun-msft commented on #49603
@nissan Thank you for your feedback! We will review and update as appropriate.

[2020-03-06 02:57] marcelvandendungen opened #49636 "Refresh auth token in secret token field"
In July 2018, I opened a ticket to point out a flaw in the documentation. See https://github.com/MicrosoftDocs/azure-docs/issues/11219.

I got a response saying, 'great question, we'll follow up with the product team and update the documentation as soon as we can. We're going to close the issue now'. The only update made so far is to add a note that says not to rely on the AAD issued token.

The o

[2020-03-06 03:00] KrishnaG-MSFT commented on #49613
@adamdimopoulos Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-06 03:01] mrm9084 commented on #49615
@4everinbeta I found the problem with the demo this line `model.addAttribute("Beta", featureManager.isEnabledAsync("Beta"));`  Should be `model.addAttribute("Beta", featureManager.isEnabledAsync("Beta")).block(); `

[2020-03-06 03:03] TravisCragg-MSFT commented on #48953
@girishgouda I do not believe that this is a limitation, make sure your NSGs allow the traffic, and that your storage account does not have a firewall that could be blocking the traffic.

[2020-03-06 03:05] KrishnaG-MSFT commented on #49561
@mikebudzynski Thanks for the quick response. :+1:

[2020-03-06 03:08] DixitArora-MSFT commented on #49226
@davinci26 I have assigned this to content author for further review and update as appropriate.

[2020-03-06 03:11] SnehaAgrawal-MSFT commented on #49629
@acervanez Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-06 03:11] jzhouw commented on #48721
@johndeu  without the extensions, how can we configure caching policy with our own CDN? as the caching rule is usually based on extensions

[2020-03-06 03:16] johndeu commented on #48721
Restful URLs are not required to have extensions.  How does it work for Akamai and Verizon ?

Thanks,
John D

________________________________
From: jzhouw <notifications@github.com>
Sent: Thursday, March 5, 2020 7:11:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Deutscher <John.Deutscher@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2020-03-06 03:17] ketan-chawda-msft commented on #49578
@jemag Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:18] ketan-chawda-msft commented on #49596
@jstafford5380 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:19] johndeu commented on #48721
Also refer to the HLS and Dash protocol specifications. Neither state that extensions are a must.

Thanks,
John D

________________________________
From: John Deutscher <John.Deutscher@microsoft.com>
Sent: Thursday, March 5, 2020 7:16:23 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subjec

[2020-03-06 03:20] ketan-chawda-msft commented on #49604
@wfc-sfmjp Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:21] ketan-chawda-msft commented on #49614
@Tam66662 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:24] ketan-chawda-msft commented on #49617
@dpgindler Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:27] ketan-chawda-msft commented on #49619
@phawley-kingcounty Thank you for your question! We will review and provide an update as appropriate.

[2020-03-06 03:29] ketan-chawda-msft commented on #49620
@dilipr05 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-03-06 03:30] ketan-chawda-msft commented on #49621
@Ayanmullick Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:32] ketan-chawda-msft commented on #49623
@sheng-jie Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-06 03:39] dilipr05 commented on #49620
Hello -
Was referring to this link https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start

Thanks

[2020-03-06 03:44] seanperera commented on #6431
I experienced the issue where the jwt token didn't have the sub(subject) claim and APIM was throwing a 500 internal error with the message "Expression value is invalid. The counter-key field is required."  The error recorded in AppInsights when i enabled diagnostics logging for APIM.

Registered claims (iss (issuer), exp (expiration time), sub (subject), aud (audience)) in jwt token is not mandato

[2020-03-06 04:03] 4everinbeta commented on #49615
Thank you! One slight change (I put the .block() inside the parenthesis for addAttribute! Thank you so much! Do you happen to know if there is hot reload of file updates? I'm thinking no as that is not the behavior I'm seeing but noticed it is working that way in .net core.

[2020-03-06 04:07] AshokPeddakotla-MSFT commented on #49112
@olivoarroba Do let us know if you have further questions.

[2020-03-06 04:12] ketan-chawda-msft commented on #49626
@NordyDataGuy Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2020-03-06 04:15] ketan-chawda-msft commented on #49620
@dilipr05 Thank you for the link. I have assigned the issue to the respective team member.

[2020-03-06 04:17] AshokPeddakotla-MSFT commented on #49405
@cecilphillip Does that answers  your question? Do let us now if there any further queries. Also, as Ricky mentioned, you can discuss offline as well.

[2020-03-06 04:17] ketan-chawda-msft commented on #49628
@JonathanPalmerGD Thank you for reaching out to us. We will review and provide an update as appropriate.

[2020-03-06 04:28] souravmishra-msft commented on #49231
closing this thread for now

[2020-03-06 04:28] #49231 closed

[2020-03-06 04:36] souravmishra-msft commented on #49401
@greendx, Mostly all Azure Resources that are protected by AAD, does support OAuth2.0 protocol for authentication. You can refer to the REST API docs and samples published in github to understand how  and what libraries to be used to programatically call these APIs and perform the tasks in your application. Also, Managed Identities are used widely now as the app admin doesnt have to take the burde

[2020-03-06 04:38] mrm9084 commented on #49615
@4everinbeta Refresh isn’t built into the package. A refresh event would need to be triggered to do that. If you implement `ApplicationEventPublisherAware` and she publish a refreshEvent, it will trigger an update. An example can be seen here https://github.com/microsoft/spring-cloud-azure/blob/master/spring-cloud-azure-appconfiguration-config/src/main/java/com/microsoft/azure/spring/cloud/config/

[2020-03-06 04:49] sujayvsarma commented on #39108
What I have noticed is for 99% of cases, the "display name" of an Azure region (eg: "West US") is exactly the same as its region ID ("westus"). Simply remove all spaces from the display name and lowercase the result. You will get the region ID.

For somethings, you dont really need an API.

If you really want one, take a look at this:
https://docs.microsoft.com/en-us/rest/api/resources/subscriptio

[2020-03-06 04:50] RohitMungi-MSFT commented on #49438
@sunnysharma03 Since this looks like a service level issue and not a doc bug we will now proceed to close this thread. Your request through general inquiry should be answered by our service team.

If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-06 04:51] #49438 closed

[2020-03-06 04:53] KrishnaG-MSFT commented on #49584
@MicrosoftGuyJFlo @iainfoulds Thanks for the quick response. 👍

[2020-03-06 04:54] sujayvsarma opened #49637 "RateCard API - ambiguity"
Please take a look at the following issues:

* https://github.com/MicrosoftDocs/azure-docs/issues/41082

* https://github.com/MicrosoftDocs/azure-docs/issues/19918

* https://github.com/MicrosoftDocs/azure-docs/issues/16738

* https://github.com/MicrosoftDocs/azure-docs/issues/15593

All of the issue owners have raised the same question --

WHERE is the new API for this if the RateCardAPI has been

[2020-03-06 04:57] sujayvsarma commented on #11219
I guess they closed the ticket to maintain their internal "aged & open ticket" counts and not really to do with customer experience.

[2020-03-06 04:58] sujayvsarma commented on #49634
The license (P1) is applied at the Tenant level and not to a particular user.

[2020-03-06 05:00] DashleenBhandari-MSFT commented on #49420
@andy-822 , I will go ahead and close this issue. Please feel free to reopen in case you need further assistance.

[2020-03-06 05:00] #49420 closed

[2020-03-06 05:01] DashleenBhandari-MSFT commented on #49308
@thdotnet , I will go ahead and close this issue. Please feel free to reopen in case you need further assistance.

[2020-03-06 05:01] #49308 closed

[2020-03-06 05:01] DashleenBhandari-MSFT commented on #49131
@nofield , I will go ahead and close this issue. Please feel free to reopen in case you need further assistance.

[2020-03-06 05:01] #49131 closed

[2020-03-06 05:01] VikasPullagura-MSFT commented on #49625
@XzeroR3
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-06 05:03] DashleenBhandari-MSFT commented on #49017
Thanks for the help. I will work with @Juliako to update the content.
I will go ahead and close this issue. Please feel free to reopen in case you need further assistance.

[2020-03-06 05:03] #49017 closed

[2020-03-06 05:03] sujayvsarma commented on #49629
As a user, there is nothing you can do to change this limit. The limit is controlled by the backing IIS server's machine.config file where the upload limit has been set to 2GB.

[2020-03-06 05:08] sujayvsarma commented on #49626
@NordyDataGuy - Hopefully, you are using this?

https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob

[2020-03-06 05:09] artmasa opened #49638 "B2C generating redirects for custom ROPC flow"
Trying to customize this policy for a JIT migration scenario where prior to authentication (`ResourceOwnerPasswordCredentials-OAUTH2`) other orchestration steps are necessary.
As soon as another claims exchange (REST call) is put in front of it B2C engine decides the local authentication step now should be handled by `IsClaimsExchangeProtocolARedirectionHandler = true` making it useless for advanc

[2020-03-06 05:09] ram-msft commented on #49632
@damochiz Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-06 05:10] sujayvsarma commented on #49621
@Ayanmullick -

19h2 ("19H2") and rs5 (RS5) corresponds to specific releases of the Windows OS. See this Wikipedia page:

https://en.wikipedia.org/wiki/Template:Windows_10_versions
"RS5" is basically "Redstone 5" in the above list

[2020-03-06 05:14] VikasPullagura-MSFT commented on #49621
@cynthn Can you add your comments.

[2020-03-06 05:14] RohitMungi-MSFT commented on #49628
@JonathanPalmerGD The steps mentioned in the [Azure-Samples](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser) repo should be good to run the solution. The Azure docs page is actually a reference to the Azure-Samples repo. I have created a [PR ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/533)to remove the link and avo

[2020-03-06 05:14] sujayvsarma commented on #49638
Obviously? Because the moment you put a REST claims-exchanger in front of the Oauth2, B2C considers that a server-to-server auth flow. [Which in itself is listed as 'unsupported' in that document you referenced].

[2020-03-06 05:14] VikasPullagura-MSFT commented on #49625
@ChristianMontoya Can you please check and add your comments on this.

[2020-03-06 05:21] MarileeTurscak-MSFT commented on #49634
Hi @SusanBradley , you're right that there's no reason for the P1 to apply to all of those users when you're just viewing the activity report. As Sujay said, this just applies to the tenant so you only need one P1 license at the tenant level.

I'm closing this out but if you think this could be more clear in the documentation feel free to make a pull request or suggestion.

[2020-03-06 05:21] #49634 closed

[2020-03-06 05:24] VikasPullagura-MSFT commented on #49578
@MicrosoftDocs/aks-pm Please add your comments.

[2020-03-06 05:29] FunkyGhost opened #49639 "The Data Types dont match inside the Storage blob location"
After you create the continuous export, you go to the Storage blob container location. There, you only get few folders matched with Data Types such as - Availability, (custom) Events, Metrics, requests, (remote) dependency

I figured my traces were being dropped inside 'Messages' folder but how's the other data types being distributed (Exceptions, Page Load, Page View)?

Can we add this in this do

[2020-03-06 05:36] msrini-MSFT commented on #49633
@danielsollondon , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-06 05:37] msrini-MSFT commented on #49537
@SunnyXiao , Do you have any update on this issue?

[2020-03-06 05:37] msrini-MSFT commented on #49523
@vhorne, Can you please update the doc with the latest info ?

[2020-03-06 05:39] msrini-MSFT commented on #49517
@brian-untangle , We will validate and if it is compatible, we will add it to the validated list.

[2020-03-06 05:39] #49517 closed

[2020-03-06 05:45] pradeepbafna commented on #49563
Hi @SaurabhSharma-MSFT . I am referring this general link for creating oauth app https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#feedback. In short i want to say that, i need to create oauth app which can be used by any type of user who have sharepoint account

[2020-03-06 06:08] jakaruna-MSFT commented on #49604
@wfc-sfmjp Thats true. Deleting a namespace wont delete the cluster role bindings.

We can add two more commands to delete the cluster role bindings.

I will assign the issue to the content author to investigate further and update the document as appropriate.

[2020-03-06 06:12] AjayKumar-MSFT commented on #49431
Sujay, We have shared the feedback with our content team on this. Much appreciate your feedback!

[2020-03-06 06:13] jakaruna-MSFT commented on #49578
@jemag Once we enable the authorized ip ranges, Then it will allow only the ips added to that.

So it restricts other environments to connect.  For example , for the azure pipelines to connect, We need to add the ips of pipelines for that regions to the authorized ip ranges.

problem is that those ips may change on weekly basis.

Lets wait for the comments from the aks-pm team.

[2020-03-06 06:27] balintbako commented on #49558
Thank you for the feedback! Upvoted the use case in user voice.

[2020-03-06 06:27] #49558 closed

[2020-03-06 06:31] RonakThakkar opened #49641 "host.json properties section has incorrect json example"
I am using Azure Functions V3 with netcoreapp3.0.

host.json file has set version 2.0

I tried host.json properties section json example from this page and it did not work.

Then I somehow visited the Output bindings page of Event Hubs documentation section in functions documentation. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-output?tabs=csharp

There I f

[2020-03-06 06:39] DixitArora-MSFT commented on #49641
Hi @RonakThakkar Thanks for your feedback. We will review and update as appropriate.

[2020-03-06 06:43] yuyuma opened #49642 "Encrypted Backups?"
Per https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups?tabs=single-database#encrypted-backups SQL Databases provide automatic encrypted backups if TDE is enabled.  Does Azure Synapse provide the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90f-36a7-2178a17d7951
* V

[2020-03-06 06:46] raghureddycloud commented on #22205
Hi @BryanTrach-MSFT ,
We are also having same sort of requirement.
In function app we are making network restriction, We want to whitelist SignalR on Azure function App for Webhook trigger.

[2020-03-06 06:53] loboc101 opened #49643 "TLS for Datawarehouse?"
Hi, the document does not clearly mentions if the SSL/TLS applies to Azure SQL Datawarehouse also. Can you please confirm on that. Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2b2800-b8b3-a8f3-a14f-8dc95eb133ba
* Version Independent ID: d92ac8c6-7812-9654-6d72-fcb8b61b8423
* Content: [Security Overview - A

[2020-03-06 07:13] KrishnaG-MSFT commented on #49155
@pwouavre Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-03-06 07:13] #49155 closed

[2020-03-06 07:15] Molx32 commented on #49571
This first link is exactly what I needed!
Thank you for your quick answer!

[2020-03-06 07:15] #49571 closed

[2020-03-06 07:24] rchouser opened #49644 "Unused serviceBusApiVersion parameter"
minor issue but the sample snippet of the resource itself doesn't use the serviceBusApiVersion parameter defined and hard codes "apiVersion": "2017-04-01". just above it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc0981-e410-02b1-5319-95bb0dd7ee54
* Version Independent ID: 743da137-e3ea-838e-b67d-2a175c93728a
*

[2020-03-06 07:28] MiroslavVanicky commented on #39108
99% is still not systematic solution. If there is some global "region id" used it would be systematic. Otherwise you have to hardcode some logic of mapping "US West Central" VS "westcentralus" VS "West Central US". Also, new regions are being crated.

[2020-03-06 07:35] AmitavaHazra commented on #49555
Hello Saurabh,

Kindly check the document
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial
Please check Prerequisites.

BR,
Amitava

[2020-03-06 07:40] mc0re commented on #49017
Can you answer my questions?

[2020-03-06 07:42] mvpkenlin commented on #25273
I have the same issue too.

![image](https://user-images.githubusercontent.com/20411183/76062666-17274d80-5fc1-11ea-8c4c-66a4f2f7aff2.png)

[2020-03-06 07:53] NishantThakkar opened #49647 "Patient resource returning 401 for other than my accounts of my organization"
I have inserted a Patient in my SMART on FHIR API: https://smartfhir.azurehealthcareapis.com/
For my account authorization and patient's information retrieved successfully.
For other than my accounts of my organization authorization is successfully happening, but returning 401 while fetching Patient resource:  https://smartfhir.azurehealthcareapis.com/Patient/9287bc3a-9d7a-47b1-a9a3-0c71f40e593c

[2020-03-06 08:01] HMatsumura opened #49648 "Hard to understand supported Azure Channel"
In the section of FAQ, supported channels for Spot VMs are shown the table.
However, the understanding is difficult. (For example, which offer plan is included in "Benefit"?, how about 'Azure in Open' offer?)
https://azure.microsoft.com/en-us/support/legal/offer-details/

I think it should be written supported offers only and should be written that "other offers are not available."

---
#### Docum

[2020-03-06 08:07] DixitArora-MSFT commented on #49319
@georgewallace Thanks for the update.

@dcbrown16 As there is a already a work item on this . So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-06 08:07] #49319 closed

[2020-03-06 08:18] mms- opened #49650 "multiple simultaneous port tunnels"
This only seems to support one tunnel to one device local port at a time? i.e. doesn't seem to be a way to tell service local client what 'device stream' or what device local port we're connecting to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31cd2f69-1c17-95fe-49b7-f1ad2705e8ba
* Version Independent ID: 3fa1a754-

[2020-03-06 08:20] CHEEKATLAPRADEEP-MSFT commented on #25273
@mvpkenlin  You may follow the steps mentioned in the MSDN thread: https://social.msdn.microsoft.com/Forums/en-US/7c8d58a4-04d1-4d0a-a9fa-c48c9991f1ab/azure-databricks-throwing-403-error?forum=AzureDatabricks

Hope this helps.

[2020-03-06 08:21] CHEEKATLAPRADEEP-MSFT commented on #49510
@johndelizo  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-06 08:21] #49510 closed

[2020-03-06 08:22] msrini-MSFT commented on #49633
@danielsollondon , The command does work fine. Please change the subnet name from "default" to your subnet to which you need to disable privatelinkservicenetworkpolicy.

($virtualNetwork | Select -ExpandProperty subnets | Where-Object {$_.Name -eq '**default**'} ).privateLinkServiceNetworkPolicies = "Disabled"

Also please print the variable $virtualNetwork here so that I can check what's wrong.

[2020-03-06 08:24] #49236 closed

[2020-03-06 08:27] SwathiDhanwada-MSFT commented on #49263
Thanks for reaching out!! As per my knowledge, SQL Server Health Solution runs health check once for every seven days. When the health check run is executed , it collects all the data and sent it to Log analytics.

Hope this helps! We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-03-06 08:27] #49263 closed

[2020-03-06 08:27] msrini-MSFT commented on #49119
@igorjnz , for each backend pool, you can select different path as shown in the below screenshot :

![image](https://user-images.githubusercontent.com/47132998/76065844-6914a700-5fb2-11ea-9bb8-6be508ea91a0.png)

Similarly click on the another backend pool and configure different probe path.

[2020-03-06 08:40] ukez15 commented on #49458
Please update the DevOps documentation and Microsoft Learn links on automation too
https://docs.microsoft.com/en-gb/learn/modules/provision-infrastructure-azure-pipelines/8-run-terraform-pipeline

[2020-03-06 08:42] PramodValavala-MSFT commented on #49562
@hrafnkel As for the scope of this document, I believe the wording here is a appropriate and a doc update isn't required.

@axisc @spelluru @clemensv Thoughts?

[2020-03-06 08:44] PramodValavala-MSFT commented on #49644
@rchouser Thanks for catching that! Looks like the doc hasn't kept up with the changes in the template referenced. We have assigned this issue to the content author to review and update accordingly.

[2020-03-06 09:12] pwouavre commented on #49155
Hello Krishna,

Thanks for your feedback, I'll open again this project and run some test
again.
Thx

Le ven. 6 mars 2020 à 08:13, KrishnaG-MSFT <notifications@github.com> a
écrit :

[2020-03-06 09:14] PramodValavala-MSFT commented on #49430
@artmasa While the `dynamic` keyword doesn't seem to work, you should be able to use [`liquid` templates](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#using-liquid-templates-with-set-body) instead where you access the properties of the payload similar to how you would do it when using `dynamic`.

As for support for the `dynamic` type, please feel fre

[2020-03-06 09:23] jishansiddique commented on #49540
Thanks for reply @SaurabhSharma-MSFT ,
Please check this [Link](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.models.indexbatch?view=azure-dotnet)

[2020-03-06 09:26] anwarmahmood1 commented on #30503
Jay Lu, my experience is as described https://help.duo.com/s/article/5239?language=en_US.  Outlook DID NOT PROMPT FOR REAUTHENTICATION.  Browsers *DO* prompt for re-authentication.

I have already opened an incident - for which my organisation pays a CONSIDERABLE sub - and I've heard nothing - NOTHING - for two days now.

This documentation is negligent in not explaining this.

Does it work for yo

[2020-03-06 09:36] AshokPeddakotla-MSFT commented on #49520
@sudeepster Just to confirm, are you referring to IoT Edge automatic deployments under Other limits section?

![image](https://user-images.githubusercontent.com/44426435/76071256-f5779780-5fbb-11ea-84cf-90477c3a578e.png)

[2020-03-06 09:39] rishab247 commented on #37017
I am also facing same issue. Is there any update on this situation ?

[2020-03-06 09:42] WenJason opened #49651 "Azcopy on Linux v8 download page"
Hi all,
This article provides the Azcopy on Linux v8 link in the "#use-the-previous-version-of-azcopy" paragraph. However, there are only v7 Azcopy links on the redirected page "https://docs.microsoft.com/en-us/previous-versions/azure/storage/storage-use-azcopy-linux#download-and-install-azcopy". That may confuses the readers. Could you please update the page? Thanks in advance.

---
#### Document

[2020-03-06 09:53] SnehaAgrawal-MSFT commented on #49334
@gpj1 Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-06 09:53] #49334 closed

[2020-03-06 09:53] waitingkuo opened #49652 "the article in the next steps is gone"
this article is gone "object detection using Azure and the "Faster R-CNN" technique"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26a8c6c-d3b8-6b61-44a0-455d41e2643b
* Version Independent ID: d1fc33eb-8d62-6313-6913-03f6b1e7bc3c
* Content: [Tag images in a labeling project](https://docs.microsoft.com/en-us/azure/mac

[2020-03-06 09:59] Mr-Fish654 opened #49653 "Powershell example to connect via psql:"
As was mentioned elsewhere,
for those of you using Powershell, passing the environment variable on my end was done like this:

Set-Location 'C:\Program Files\PostgreSQL\12\bin\';
$env:PGPASSWORD = 'Token From Step 2';
.\psql "host=[host name].database.azure.com user=[username]@[subdomain].onmicrosoft.com@[database name] dbname=postgres"

only the token value within the quotations gets passed in th

[2020-03-06 10:05] t-leblanc opened #49654 "VM's are not reducing during off-peak hours"
Hello, during off-peak hours, the amount of VM's is not reduced. In the output of the Runbook job I can see that the heartbeat of the session hosts is not captured while both VM's are up and running.
I think this is the reason why no scale down action is performed, but not clear why no heartbeat is detected?

Checking session host: desktop-2.cloudiction.net
  of sessions:0 and status:NoHeartbeat

[2020-03-06 10:13] swarna-p commented on #49549
hi Saurabh,
I link that I used is
https://docs.microsoft.com/en-us/azure/automation/automation-linux-hrw-install

[2020-03-06 10:30] jakaruna-MSFT commented on #49238
@afandl I will close this out for now. If you have additional comments on this issue, please open a new one.

[2020-03-06 10:31] #49238 closed

[2020-03-06 10:31] its-phil opened #49656 "Which certificate is presented by Edge Hub to downstream devices?"
I noticed a slight difference in two documents regarding the certificate that is presented by Edge Hub to downstream devices.

Here https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway it says

whereas here https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-certs it says

According to the illustrations on the referenced pages these are two different certificates.

[2020-03-06 10:32] jakaruna-MSFT commented on #49101
@robertlagrant I will close this out for now.
Please provide the feedback.
If you need additional help please please open a new issue.

[2020-03-06 10:32] #49101 closed

[2020-03-06 10:34] tom-ditlev opened #49657 "Exactly where are the role definitions stored?"
In this document it states: "Custom roles are stored in an Azure Active Directory (Azure AD) directory". As far as I've been able to tell they are stored at "/subscriptions/{guid}/providers/Microsoft.Authorization/roleDefinitions".

According to "https://docs.microsoft.com/da-dk/rest/api/authorization/roledefinitions/getbyid":

The fully qualified role definition ID. Use the format, /subscriptions

[2020-03-06 10:35] JIhunYeon opened #49658 "TEST"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-06 10:37] jakaruna-MSFT commented on #49426
@MikeChristensen Release status cant be shared for the service which are in preview.

If you like to know the status of this feature, please send an email to azcommunity@microsoft.com

Include this issue url in the email.  Also add this issue title in the subject of email.

[2020-03-06 10:39] jakaruna-MSFT commented on #49426
@MikeChristensen
I will close this out for now. I will be expecting your email.

[2020-03-06 10:40] #49426 closed

[2020-03-06 10:42] jakaruna-MSFT commented on #49442
@mddazure
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-06 10:47] wrzzd opened #49659 "How to specify a conda env in Environment with docker image?"
For example, I new an Environment, and choose a docker image which has one more conda environments. How to specify a conda environment in this Environment?
I try to specify the params of interpreterPath. But it doesn't work.

`
myenv = Environment("env_almbert") \
myenv.docker.enabled = True \
myenv.python.interpreter_path = '/opt/miniconda/envs/amlbert/bin/python' \
myenv.docker.base_image = 'mcr

[2020-03-06 10:50] VikasPullagura-MSFT commented on #49623
@sheng-jie
This is not supported out of the box.
Http addon internally used nginx ingress controller. This addon is not recommended for production workloads.  Mainly ingress is for http based workloads.

You can expose TCP based workloads on nginx ingress .  Reference is [here](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/exposing-tcp-udp-services.md).

Also, you can con

[2020-03-06 10:52] v-tawe opened #49660 "The name 'ExitProgram' does not exist in the current context"
The name 'ExitProgram' does not exist in the current context
![image](https://user-images.githubusercontent.com/22313449/76077444-ab061300-5fdb-11ea-9a87-d3fbaa25e2f0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5117f79-c345-55ac-f607-90fd6c90a4ce
* Version Independent ID: dcf7e0e9-34c7-7a52-5ade-7799e60980b0
*

[2020-03-06 10:54] John-Blair commented on #48021
Thank you for the clear explanation - I had no idea there were charges for "DNS Services".
Per my initial statement on this issue it would be useful to have that info in a popup on the billing line to help others understand the charge.

If that is not possible - feel free to close the issue. Thanks.

[2020-03-06 10:55] jakaruna-MSFT commented on #49411
@timriker Please provide a feedback [here](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=166032).

Community can vote on this feedback. Product teams consider these features requests in their planning.

[2020-03-06 10:56] jakaruna-MSFT commented on #49411
@timriker I think currently your ask is not possible with xrdp login.

@iainfoulds please add your comments

[2020-03-06 10:57] VikasPullagura-MSFT commented on #49654
@t-leblanc
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-06 10:57] VikasPullagura-MSFT commented on #49654
@ChristianMontoya Can you please check and add your comments.

[2020-03-06 11:08] sanderdekoning commented on #49265
The solution was to add a `Expect: 100-continue` header to the request.

[2020-03-06 11:09] Aravind-Kumpatla-SAP commented on #27848
Any resolution for this error?

[2020-03-06 11:15] jakaruna-MSFT commented on #49521
@henry-schneiderman This document describes the process of adding a data disk to a linux VM.
Lets go through your questions

By default os disk is mapped to /.  data disk mapping can be any folder. I think in you case the custom script extension of any other script would have mounted the data disk to /data

Currently  the mapping is not shown in portal.  portal shows the lun number.  You can use t

[2020-03-06 11:16] jakaruna-MSFT commented on #49450
@jmorcar
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-06 11:38] AjayKumar-MSFT commented on #49658
@JIhunYeon, Thanks for leveraging Azure docs feedback channel to raise this test question!
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements. If you have any feedback on any specific Azure docs you may always raise a GitHub issue (just like this one) under the respective docs repo. Please do note the documentation feedback guidelines above.
Since this is

[2020-03-06 11:38] #49658 closed

[2020-03-06 12:04] RohitMungi-MSFT commented on #49652
@waitingkuo Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-06 12:14] CedricSteenbeke opened #49661 "Add postman Redirect URI to Register a new Apllication section"
Please add a small note in the 'Register a new application' section under point 2.
The note should clarify the URL the user should use for Postman authentication.
something like:
For Postman API access use 'https://www.getpostman.com/oauth2/callback' as the Redirect URI

I've seen some other users struggle to find this information in some of the other pages.
---
#### Document Details

⚠ *Do not ed

[2020-03-06 12:17] karthick3d opened #49662 "Another Failure"
Hi,
based on the suggestion you mentioned about creating a Budget in EA level, I created one and I started the refresh process. After half an hour, I got another error below.

Something went wrong
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
Message: We cannot convert the value null to t

[2020-03-06 12:27] AjayKumar-MSFT commented on #49660
@v-tawe, Thanks for leveraging Azure docs feedback channel to raise this question!
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements. While I check on this further, kindly do share more information on the document step (process) you're facing issues with to better assist you.

[2020-03-06 12:32] biste5 opened #49663 "Disabled Front Door, is it charged?"
Front Door has, and we can control via API / scripting the possibility to set it in Disabled state.
Would be convenient to have documented somewhere whether this will still occur in hours being charged for the service, or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version

[2020-03-06 12:33] don-petry opened #49664 "username must be lowercase for JupyterHub"
We, and others (https://github.com/MicrosoftDocs/azure-docs/issues/24813) have found that the username must be lowercase to use it with JupyterHub.  Recommend indicating need for lowercase username in this article to avoid the issue mentioned in the GitHub thread.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c54d29f

[2020-03-06 12:34] Jon-Work commented on #29909
@johndeu In that case, please can you fix the documentation to make it clear that's no longer supported?  This document has 2 tables that list that option, please can you remove (or mark as "No longer supported") the relevant row in each table?

[2020-03-06 12:54] artmasa commented on #49638
@sujayvsarma It makes total sense from an ROPC perspective. Thanks for for pointing to that section of the documentation. Now it's about configuring native clients to follow redirects. Thanks for the insight.

[2020-03-06 12:54] #49638 closed

[2020-03-06 12:56] KrishnaG-MSFT commented on #49637
@sujayvsarma Thanks for the feedback!
Tagging @bandersmsft, @Erikre, @amberbhargava for visibility, review and to provide insights on @sujayvsarma's feedback and for document enhancement consideration if required.

[2020-03-06 13:03] theheatDK commented on #49299
Thanks @BharathNimmala-MSFT

[2020-03-06 13:03] #49299 closed

[2020-03-06 13:04] BhargaviAnnadevara-MSFT commented on #49639
@FunkyGhost Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 13:16] yingqunpku commented on #49002
This error is usually caused due to **client.entire_detect(request)** returns null: e.g. when there's a 400 error if the passed in data doesn't fully meet the API requirement. Common issues with input data could be for example too many (>8640) data points or too few of them (<12). Please check https://westus2.dev.cognitive.microsoft.com/docs/services/AnomalyDetector/operations/post-timeseries-enti

[2020-03-06 13:31] nwipfli opened #49666 "Supported regions"
Hi,

It seems that SwitzerlandNorth is not listed under https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-vmware-deployment-planner-cost-estimation#supported-target-regions although this region is normally supported by Azure Site Recovery.

Thanks
Nicolas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-06 13:32] IEvangelist commented on #49628
Done, I cannot merge in that repo though. We'd have to ask @BrianMouncer as he as rights there.

[2020-03-06 13:34] cananac opened #49667 "Setting Pricing Tier to Standard via REST API"
Hi,

What is the way to set pricing tier as Standard for the subscription via REST API? It used to be by setting "name" as "default". But now it expects a specific resource name and does not accept default as value any more.
"The name 'default' is not a valid name. Possible pricing bundle names: VirtualMachines, SqlServers, AppServices, StorageAccounts, SqlServerVirtualMachines, KubernetesService,

[2020-03-06 13:47] mt-cphmist-com commented on #49557
We are also seing the same problem, but for us it's only working when we use x.x.x.x/32. This also has an impact on several of our customers running with Azure FrontDoor, where we have defined the ranges for FrontDoor as described here https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door as part of the allowed IP's on

[2020-03-06 14:00] ketaanhshah commented on #13195
@normesta @tamram @fhryo-msft any help on this?? can I set the Queue logs settings for the Storage Account then through Powershell then instead of ARM template? If yes any help on what Powershell I can use

[2020-03-06 14:00] amunger opened #49668 "CertificateImproperlyFormatted when using a key created through the portal"
I can create the VM if I create the key as it's done in this tutorial, but when trying to use a key that I had created earlier in the portal (with default settings, self-signed, pkcs#12), I get a ResourceDeploymentFailure with the message: "The secret retrieved from https://keyvaultname.vault.azure.net/secrets/myselfsignedcert/5c6087a920e04c9d8d92de72738bbd3a is not a properly encoded Base64 strin

[2020-03-06 14:06] KalyanChanumolu-MSFT commented on #49643
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-06 14:10] Blackmist commented on #49501
@dagarkatyal Thanks for reporting this. Unfortunately, this is not a known issue. The error is occurring in the SDK code, which implies a bug either with the SDK or maybe the values passed in to profiling. This is not something that the documentation team can help with.

I recommend contacting Microsoft support for assistance in isolating the root cause of the failure. Once the root cause is under

[2020-03-06 14:11] KalyanChanumolu-MSFT commented on #49642
@yuyuma Thank you for reaching out.
Yes it applies to Synapse as well. Please find more information [here](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#azure-sql-database)

[2020-03-06 14:12] KalyanChanumolu-MSFT commented on #49630
Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2020-03-06 14:15] MagadiBh opened #49669 "Information of the Peering End"
[Enter feedback here]
It would be nice to have information on which end of the Peering link the configuration is being done.  In the current page, the configuration is done on the Microsoft Azure end.

Though this may be obvious to advanced user, personally I feel this for newbie like me , this aspect leads to pondering to which end this applicable. Personally feel this better end user experience.

[2020-03-06 14:24] NavtejSaini-MSFT commented on #49491
@briandunnington Please go through this document for further information about the supported operations for different API's
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator

Please check and get back to us for any questions.

[2020-03-06 14:29] CharmanderJieniJieni opened #49670 "Client ID, Principal ID Clarification"
When I create a Managed Identity and locate it in Azure AD, it is showing an Object ID and Application ID. However in Terminology section it is said there are Client ID and Principal ID, what is the relationship between them?

From my understanding once a managed Identity is created, there should be 3 IDs, the unique Identifier of the Managed Identity itself, the Service Principal object ID behind

[2020-03-06 14:30] skeeler opened #49671 "Missing information on exporting vulnerability assessment results"
Please add instructions on how to export vulnerability assessment results to this documentation. You can find the information on this TechCommunity post from yesterday, but it would be helpful to include that information (or at least a link to the TechCommunity post) here in the official documentation page: https://techcommunity.microsoft.com/t5/azure-security-center/exporting-vulnerability-assess

[2020-03-06 14:31] #49271 closed

[2020-03-06 14:36] NavtejSaini-MSFT commented on #49429
@michaelsync Glad you got the confirmation regarding this issue. As conveyed by @VanMSFT they will edit the doc once functionality is available. We will go ahead and close this issue for now.

[2020-03-06 14:36] #49429 closed

[2020-03-06 14:37] NavtejSaini-MSFT commented on #49482
@Gabilehner and @saguiitay We are assigning this issue to you for further insight.

[2020-03-06 14:37] CharmanderJieniJieni commented on #49670
Also when I do an 'az ad sp show --id <my_object_id> I see below section
"servicePrincipalNames": [
    "<application id from Azure AD portal>",
    "https://identity.azure.net/XXXXXXXXX"
  ]
Is that https endpoint the IMDS?

[2020-03-06 14:39] #49377 closed

[2020-03-06 14:42] NavtejSaini-MSFT commented on #49606
@SnehaGunda Please review the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/106757

[2020-03-06 14:42] fabianflanhardt opened #49672 "Localization string for Password Pattern Popup"
Hi, when a user tries to submit a password that is not matching the configured pattern, a small popup appears with the default message "Please match the requested format." I did not find the corresponding string in the tables above. Could you check that and add appropriate documentation to the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-06 14:45] CharmanderJieniJieni commented on #49670
In addition, after reading this page, I am under impression that managed Identity can be enabled only on VM, is this correct?

[2020-03-06 14:59] raisingcode opened #49673 "@Microsoft.KeyVault(SecretUri= for setting ARM Template vms"
Is it possible leverage the @Microsoft.KeyVault(SecretUri=https to set up configurations in vm like admin passwords?
 I saw references to that in the app services but no mention of it virtual machine arm examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26d9d7e2-b16a-0b73-bb1a-f08320f7ccc9
* Version Independent

[2020-03-06 15:00] kmoore-riphaina commented on #49011
this should not  have been closed, my issue has not been resolved the api still doesn't work despite me scaling up from trial to standard

[2020-03-06 15:05] sujayvsarma commented on #39108
I dont see that as a show-stopper. The ListLocations API I linked to above already provides a display name to code mapping. It would be easy to extend that to map with strings with components switched around.

[2020-03-06 15:06] sujayvsarma commented on #49637
NOTE: The RateCard API though it says "deprecated" still actually works.

However, the data is so HUGE and its returned data structure is not documented. So I would ask that someone please document the result structure.

[2020-03-06 15:09] dsfrederic opened #49674 "Is there a possibility to skip a property iteration based on a condition?"
Context: I have multiple web apps accessible through application gateway. Both the app services and the application gateway is setup through an ARM template. I want to reuse the same parameters array for both. Not all app services require a hostname. App Services with "hostname: NA" should skip http settings, health probes,... in the application gateway.

---
#### Document Details

⚠ *Do not edit

[2020-03-06 15:12] stevebus commented on #49656
Hey @its-phil -- thank you for the feedback and for catching that inconsistency.   The second quote, from the iot-edge-certs document is the correct one.  The certificate that is presented to clients upon attempted TLS connections is a certificate that is *signed by* the workload CA cert which is in turn signed by the Device CA certificate (using the hostname from config.yaml as the CN/subject of

[2020-03-06 15:16] meswaramoorthy opened #49675 "EPERM: operation not permitted"
Not able to submit experiment from VS Code. Getting the following error:

EPERM: operation not permitted, lstat 'd:\$RECYCLE.BIN\S-1-5-21-4242884320-2990332693-2760820008-1001'

[2020-03-06 15:19] meswaramoorthy opened #49676 "EPERM: operation not permitted"
Not able to submit experiment from VS Code. Getting the following error:

EPERM: operation not permitted, lstat 'd:$RECYCLE.BIN\S-1-5-21-4242884320-2990332693-2760820008-1001'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7c721-ed6e-d2d2-6f04-90c1d977bcc2
* Version Independent ID: ced92b08-175e-748c-ee8b-d7419d5211

[2020-03-06 15:19] #49675 closed

[2020-03-06 15:19] meswaramoorthy commented on #49675
Raised in the correct location

[2020-03-06 15:21] kc9zyz commented on #45756
@neeleshray-msft Is this something that can get accomplished sooner? I ran into this problem when implementing a solution yesterday and this error cost me quite a bit of timel.

[2020-03-06 15:24] henriquebelotto opened #49677 "VS2019 doesn't come with a class that contains boilerplate code for the HTTP trigger function type"
I created the project following the steps, however, VS2019 didn't create the "sample" class as specified in this part.

"Visual Studio creates a project and class that contains boilerplate code for the HTTP trigger function type. The FunctionName attribute on the method sets the name of the function, which by default is Function1. The HttpTrigger attribute specifies that the function is triggered

[2020-03-06 15:27] brian-untangle commented on #49517
Thanks. To validate, I suggest to deploy the Untangle Virtual Machine in Azure. You can find it in the Azure Marketplace.

Brian Carmichael
Untangle, Inc.
Phone: (408) 260-5682

[2020-03-06 15:35] Ayanmullick commented on #49621
Thanks for clarifying @sujayvsarma . Could you also share the meaning of `zh` and `cn` in `19h2-pro-zh-cn` and the of `evd` in `19h2-evd`? Why aren't the `20H1` images showing up? And how do I locate Gen2 images for the `office-365` offer?

[2020-03-06 15:36] diberry opened #49678 "Endpoints section contains full HTTP signature"
Can the endpoints section contain a full HTTP signature including headers, querystring, and body? Or a link to an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50110dd-3c4d-6e42-8f71-332062279f30
* Version Independent ID: 0ae0df0d-9fbb-861a-a50a-9e2f3792d6b1
* Content: [OAuth 2.0 and OpenID Connect protocols

[2020-03-06 15:36] henriquebelotto opened #49679 "Datepicker"
Hello,

I need to add a datepicker in my form, however, I couldn't find any tutorial about how to do that in Azure B2C. Could you provide me some guidelines?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae8461-82d9-9172-a76d-3185799203b4
* Version Independent ID: 8c059024-1b26-ed3f-c53b-246000b8bf7f
* Co

[2020-03-06 15:40] henriquebelotto commented on #49677
Please, close this. I did a mistake. It's working fine. Sorry about that

[2020-03-06 15:48] c3474 opened #49680 "May need updating"
When I try to setup the SAML config Under "Configure Azure AD single sign-on" Step 4 this document only list 2 URLs where in the actual config I'm seeing three URLs required.
a) Identifier (Entity ID)
b) Reply URL (Assertion Consumer Service URL)
c) Sign on URL
I find it would be helpful to have the Reply URL format in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-06 15:51] ajpaverd opened #49681 "Text clarification: ML Pipelines"
The ML Pipelines section currently says "Pipeline steps are reusable, and can be run without rerunning subsequent steps if the output of that step hasn't changed." Should this instead say "... without rerunning *previous* steps..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134791cd-db3b-b729-607e-22be8dcddf9a
* V

[2020-03-06 15:58] LeoLopezAtHL opened #49682 "Error while running stage script"
I'm getting "You cannot call a method on a null-valued expression." while running the stage script. error is on the $astask=...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Independent ID: 21322b77-a2e0-41a2-b128-7681d2d62577
* Content: [Windows Virtual Desktop MSIX app

[2020-03-06 16:01] #49606 closed

[2020-03-06 16:02] Blackmist commented on #49400
@ZanderFick-Accenture Thanks for reporting. Can you give me more details on the scenario that lead up to the error? Like, did you start training from the SDK, CLI, VSCode, Designer, etc.? I tried to reproduce using the Python SDK to create the environment and submit the job and wasn't able to reproduce the failure. Here's the steps I tried:

1. Create a custom image using the steps in the document

[2020-03-06 16:06] DixitArora-MSFT commented on #49356
@vladvino Any inputs in this ?

[2020-03-06 16:06] DixitArora-MSFT commented on #49343
@vladvino Any inputs in this ?

[2020-03-06 16:08] rajaprad opened #49683 "Unclear if the default TLS setting changes in "Phase 2""
[Enter feedback here]

Phase 1: We'll configure the default minimum TLS version to be 1.2 for new caches/

Verbiage for phase 2 does not talk about the default minimum version (for Redis Cache created before Phase 1). Its implied to be 1.2, but is not specific. Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-06 16:09] 4everinbeta commented on #49615
Thanks again for the great information @mrm9084! I am going to create an issue as I feel that it makes sense for the java version to have as close as possible to parody with the .net version.

[2020-03-06 16:09] #49615 closed

[2020-03-06 16:20] vhorne commented on #49523
updated
#please-close

[2020-03-06 16:20] #49523 closed

[2020-03-06 16:20] SB-o-matic opened #49684 "Link to Article 3 broken"
Article 3 - Assess on-premises resources for migration to Azure has a broken link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0beb9e9-8d92-0194-7a16-111656529a41
* Version Independent ID: 68fe41fc-951d-d06a-2eba-9c406e5d7c26
* Content: [Contoso migration series - Azure Migrate](https://docs.microsoft.com/en-us/azur

[2020-03-06 16:21] BharathNimmala-MSFT commented on #49666
@nwipfli  Thank you for your query, we will look further into it and get back to you at the earliest.

[2020-03-06 16:27] amunger opened #49685 "missing step to assign the VM an Identity"
The steps refer to "the VM you created earlier", but creating a VM doesn't seem to be part of this tutorial. I wasn't able to find my VM's name in the list of principals for keyvault access until I assigned an identity with "az vm identity assign --name myVm --resource-group rg"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-06 16:27] Blackmist commented on #49681
@ajpaverd Thanks for the suggestion! I've made changes to the document and sent to our publishing system. They should go live later today.

#please-close

[2020-03-06 16:27] #49681 closed

[2020-03-06 16:32] mimckitt commented on #49395
Can someone elaborate on what MCA is? I am not familiar with that term.

[2020-03-06 16:33] smaher37 opened #49686 "Template download from Azure"
When I download the template from within Azure it has seven columns when it should have six. This is very misleading and frustrating for anyone that has tried to use the downloaded templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3

[2020-03-06 16:34] BharathNimmala-MSFT commented on #49657
@tom-ditlev Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-06 16:36] SusanBradley commented on #49634
Yes please because that's not what I've interpreted from other locations.  We are in the SMB space, and  I'm seeing conflicting info.  Example - https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance in the closed feedback section read the "unclear r

[2020-03-06 16:36] SaurabhSharma-MSFT commented on #49667
@cananac Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 16:37] SusanBradley commented on #49634
P.S. actually I assigned the P1 license to my admin, so I am "assigning" that P1 not to my tenant, but to a specific user.  Once I did the azure AD user logging report opened up.

[2020-03-06 16:38] SaurabhSharma-MSFT commented on #49671
@skeeler Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 16:39] Blackmist commented on #47237
@eedorenko Thanks for reporting this. I'll update the screenshots today.

[2020-03-06 16:43] BharathNimmala-MSFT commented on #49684
@SB-o-matic Thank you for bringing this to our notice, we will fix the link.

[2020-03-06 16:47] SaurabhSharma-MSFT commented on #49686
@smaher37 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 16:50] SaurabhSharma-MSFT commented on #49685
@amunger Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 16:51] lyrana commented on #49385
Hi @hansmbakker

If data had been consumed by your first TSI environment it should not have been re-played into the second.
I was thinking perhaps there were still events in the queue that hadn't yet gone into the first and thus were consumed by second when the event source connection was made.

We will try to reproduce this behavior on our side, and in the meantime I want to make sure that you're

[2020-03-06 16:51] SaurabhSharma-MSFT commented on #49680
@c3474 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 16:53] SaurabhSharma-MSFT commented on #49679
@henriquebelotto Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 16:53] SaurabhSharma-MSFT commented on #49678
@diberry Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 16:54] SaurabhSharma-MSFT commented on #49672
@fabianflanhardt Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 16:54] MikeMichel opened #49687 "Public IP from different RG"
https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#are-there-any-firewall-resource-group-restrictions
I just tried to assign a IP from a different RG as the fw is in and it seems to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78

[2020-03-06 16:55] SaurabhSharma-MSFT commented on #49670
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 16:55] Zhaph opened #49688 "Should be marked as Deprecated or Obsolete - can no longer create "Classic" alerts, and they will stop working in June 2020."
I attempted to run an ARM template containing some "Classic" alerts this afternoon which failed with the notice that:

&gt; As part of classic alerts retirement, starting Sep 01, 2019, no new classic alerts can be created except on a few metrics listed here https://aka.ms/classic-alerts-exceptions. All classic alerts including the exceptions listed will stop working after June 2020. It is strongly

[2020-03-06 17:04] MarkHeff commented on #49660
This is the function that needs to be added to your program in Main(). I'll add this to the doc today.

private static void ExitProgram(string message)
{
    Console.WriteLine("{0}", message);
    Console.WriteLine("Press any key to exit the program...");
    Console.ReadKey();
    Environment.Exit(0);
}

[2020-03-06 17:04] #48544 closed

[2020-03-06 17:07] johndeu commented on #29909
@Juliako  - can you make the adjustments to the tables noted above. Looks like folks are still looking and finding the older legacy API docs for DRM where this is recommended.  Mark it as no longer supported in V3 API

[2020-03-06 17:12] bandersmsft commented on #49662
@karthick3d Sorry you're having problems with the Power BI app. I've asked for help with this from the enginnering team. When I have something to share with you, I'll reply here.

[2020-03-06 17:13] hilari0n commented on #49593
There are 2 distinct ways described to configure access management to the VPN:
1. [Configure a tenant](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant)
2. [Configure a tenant with multiple client apps](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant-multi-app)

The [Option 2 - Conditional Access](https://docs.microsoft.com/en-us/azure/vpn-gatew

[2020-03-06 17:13] bandersmsft commented on #49662
#in-process

[2020-03-06 17:14] JasonRBeer opened #49689 "No information about automated importing/setup"
Exporting and importing settings through the GUI is nice but Azure VPN is not a feasible solution for us if there is no way to deploy these settings to many users. Is there any way to automate this using Intune, PowerShell, or GPO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Ve

[2020-03-06 17:15] JasonRBeer commented on #46337
This really needs to be addressed for this to be a viable solution for businesses.

[2020-03-06 17:16] dagarkatyal commented on #49501
THank you for the reply. I will try to get to product team and see if it works..
I do like to highlight a bug in the documentation.. Here is how it goes..

this is the screenshot from the link here https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where#profilemodel
see the profile function is called in last line with one param "input_dataset=input_dataset".. there are two

[2020-03-06 17:16] rwike77 commented on #36432
#reassign:@psignoret  Can you update the article and close out the issue?  Thanks.

[2020-03-06 17:19] SaurabhSharma-MSFT commented on #49636
@marcelvandendungen Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 17:20] bandersmsft commented on #49637
@sujayvsarma @KrishnaG-MSFT I'm investigating this with the Cost Management engineering team. As soon as I have useful information to share, I'll reply here.
#in-process

[2020-03-06 17:34] diberry commented on #47951
This issue has been handed off to the service group. Please feel free to continue offline. #please-close

[2020-03-06 17:35] #47951 closed

[2020-03-06 17:36] diberry commented on #48664
#please-close

[2020-03-06 17:36] #48664 closed

[2020-03-06 17:36] diberry commented on #49217
Added to backlog. #please-close

[2020-03-06 17:36] #49217 closed

[2020-03-06 17:36] BharathNimmala-MSFT commented on #49688
@Zhaph Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-03-06 17:37] fsimonazzi commented on #43838
@nikoudel for EF 3.0 I've successfully used a custom interceptor that overrides the async "connection opening" event, acquires a token asynchronously and sets it to the connection after casting. https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.diagnostics.dbconnectioninterceptor.connectionopeningasync?view=efcore-3.1#Microsoft_EntityFrameworkCore_Diagnostics_DbConnectionIn

[2020-03-06 17:38] BharathNimmala-MSFT commented on #49674
@dsfrederic Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-06 17:39] diberry commented on #49438
#please-close

[2020-03-06 17:40] BharathNimmala-MSFT commented on #49673
@raisingcode Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-06 17:40] lujiangfeng666 commented on #30503
What is the incident number?

"If you have Azure AD joined, hybrid Azure AD joined, or Azure AD registered devices, when a user unlocks their device or signs in interactively, this event will satisfy the sign in frequency policy as well."
![image](https://user-images.githubusercontent.com/23044441/76107817-4bcde180-5f8e-11ea-9b74-e62eea27f611.png)

[2020-03-06 17:47] timriker commented on #49411
@jakaruna-MSFT The current interface requires a web login. xrdp and other services expect username and password and there is no valid password to supply.
The current web login for ssh is painful. AAD credentials just don't make this a good experience.
Is the experience different for RDP on a windows box? I've not tried that.

[2020-03-06 17:49] angellmethod opened #49692 "Suggest adding section for "Edge Hub can bind to ports" connectivity check error"
This section in "Install & manage edge: Linux" helped a lot when I deployed with the marketplace VM and hadn't yet put any modules on my device.  It'd be nice to consolidate it over here as well.

"Until you deploy your first module to IoT Edge on your device, the $edgeHub system module will not be deployed to the device. As a result, the automated check will return an error for the Edge Hub can b

[2020-03-06 18:06] hansenms commented on #49661
That is covered in the postman tutorial: https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial#fhir-server-and-authentication-details

[2020-03-06 18:06] kmoore-riphaina commented on #49011
Filing a ticket with azure support identified the issue as cognitive services forcing Tls1.2, adding this to the code before instantiating the httpclient resolved the issue

System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2020-03-06 18:10] hansenms commented on #49647
Typically when you get a 401, it is because your token is invalid (missing, wrong audience, expired, etc). It is not clear from your message what exactly you are trying to do. What do you mean by "For other than my accounts of my organization authorization is successfully happening, but returning 401 while fetching Patient resource". Can you rephrase and add some examples.

[2020-03-06 18:23] NordyDataGuy commented on #49626
I am referring to documentation found at https://docs.microsoft.com/en-us/azure/data-factory/solution-template-copy-files-multiple-containers

I THINK this is the ID "f3191220-8c7b-3b6a-7c9c-2b0cc2f4211f"

It looks like I should have said I am new to posting questions on GitHub..

[2020-03-06 18:28] trevorbye commented on #49354
Hi @LorenzPensaert, this tutorial is a fairly basic getting-started experience, where we try not to include any extra info, or diverge down more-advanced paths. We have an [article on authentication](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-setup-authentication#interactive-authentication) that goes into much more detail on these topics, including what you mentioned here about

[2020-03-06 18:28] SumanthMarigowda-MSFT commented on #49651
@WenJason Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-06 18:28] #49354 closed

[2020-03-06 18:29] MashaMSFT commented on #49595
Hi @mrdenny and @jdanton , thank you for contacting Microsoft with your feedback! Let me do a bit of research :)

Thanks!
Masha from the SQL Docs team

[2020-03-06 18:31] mike-urnun-msft commented on #49677
@henriquebelotto Glad to hear it's working. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:31] #49677 closed

[2020-03-06 18:36] bandersmsft commented on #49662
@karthick3d It looks like there might have been a temporary API connection issue. Try this: in Power BI, on the Dataset page, click the refresh icon to kick off a data refresh. Does that fix the problem?

[2020-03-06 18:48] IEvangelist commented on #49011
Hi @kmoore-riphaina,

I wanted to apologize for closing this before we both agreed the issue was fully resolved. I made an assumption that the issue was the pricing tier, again; I'm sorry. Thank you for your feedback, and please continue to share it.

[2020-03-06 18:49] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 No it won't be available for O365 subscription. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:49] #48712 closed

[2020-03-06 18:49] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:49] #49166 closed

[2020-03-06 18:50] linxlims commented on #49192
@PramodValavala-MSFT Thanks for your response. I tried to modify it in the code view but it says it's a readonly editor... Any idea on this?

[2020-03-06 18:51] tamram commented on #13195
@ketaanhshah - Try this PowerShell command:

[Set-AzStorageServiceLoggingProperty](https://docs.microsoft.com/powershell/module/az.storage/Set-AzStorageServiceLoggingProperty)

[2020-03-06 18:53] SaurabhSharma-MSFT commented on #49475
@liutang We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:53] #49475 closed

[2020-03-06 18:53] SaurabhSharma-MSFT commented on #49357
@aelij We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:53] #49357 closed

[2020-03-06 18:55] SaurabhSharma-MSFT commented on #49467
@ediazrod We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-06 18:55] #49467 closed

[2020-03-06 18:59] AjayKumar-MSFT commented on #49660
Thank you @MarkHeff for the comments and swift fix!

@v-tawe, the document now has a section "**[Add function to exit the program during failure](https://docs.microsoft.com/azure/search/cognitive-search-tutorial-blob-dotnet#add-function-to-exit-the-program-during-failure)**" with the function Mark highlighted above.
I have added a screenshot here for your quick reference:

![image](https://user-im

[2020-03-06 18:59] #49660 closed

[2020-03-06 19:01] berndverst opened #49695 "Nit: "database-level" or "database level"?"
Just a small nit -- in the intro paragraph both "database-level" and "database level" are used. Probably should be consistent in our documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789936dc-e275-a87f-4f34-8f757db9b3b4
* Version Independent ID: ce1c88a2-5e85-1f2b-d5aa-a2f9b117635e
* Content: [Provision dat

[2020-03-06 19:07] syntetic81 commented on #43515
@CeciAc @Alberto-Vega this problem still exists. i bought a new rpi 3 and also try it on a rpi4 please assist to solve these issue. it is very bad to see that people wants to use azure but stuck on it.

[2020-03-06 19:10] ketaanhshah commented on #13195
@tamram Thank you dear, that PS1 worked perfect for me.

[2020-03-06 19:13] Grace-MacJones-MSFT commented on #49161
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-03-06 19:20] Grace-MacJones-MSFT commented on #49371
Hi @bertrandpons, here’s the [documentation](https://docs.microsoft.com/en-us/azure/app-service/deploy-resource-manager-template#deploy-web-app-certificate-from-key-vault) that talks about adding the Principal ID to grant access to Key Vault. In global Azure, the App Service service principal has the ID of `abfa0a7c-a6b6-4736-8310-5855508787cd.` As for what would be needed for renewal, as long as

[2020-03-06 19:20] #49371 closed

[2020-03-06 19:22] deepikabandhanadham opened #49697 "Folders do not get deleted when LastmodifiedDate option is used"
[Enter feedback here]

Referring to examples section: scenario 2
when folder path is set Root/ Folder_A_2, filename - NULL and recursive set to True, when this scenario is used in conjunction with deleting files and folders with Modified datetime end (UTC), it throws this error - "The activity payload is currently not supported. If you want to delete files filtered by LastmodifiedDate, please set

[2020-03-06 19:27] deepikabandhanadham commented on #49022
Any update on this?

[2020-03-06 19:27] dreeves14 opened #49698 "Use the authorization code to request an access token"
To find the App ID URI, in the Azure Portal, click Azure Active Directory, click Application registrations, open the application's Settings page, then click Properties.

Clicking the application there isn't a Properties option the blade. There isn't a Settings page either on the Applications blade and App registrations blade has a Properties but it's useless.

---
#### Document Details

⚠ *Do not

[2020-03-06 19:32] tfitzmac commented on #49674
@dsfrederic - you could try using the [if function](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-logical#if) when setting the properties to evaluate whether it gets a value or null.

[2020-03-06 19:32] SaurabhSharma-MSFT commented on #49659
@wrzzd To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-06 19:34] SaurabhSharma-MSFT commented on #49661
@hansenms thank you.

[2020-03-06 19:35] bandersmsft commented on #47016
@jaredthirsk We recently updated the wording for refunds and the termination fee. Please let us know if anything is unclear. Thanks for your feedback.
#please-close

[2020-03-06 19:35] #47016 closed

[2020-03-06 19:44] MarileeTurscak-MSFT commented on #49698
@dreeves14
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-06 19:48] Karishma-Tiwari-MSFT commented on #49395
@mimckitt I think it is Microsoft Customer Agreement (MCA).
@jabbera Can you confirm?

[2020-03-06 19:49] SaurabhSharma-MSFT commented on #49653
@Mr-Fish654 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-06 19:50] tfitzmac commented on #49673
@raisingcode - the syntax you refer to for web apps is applied to an application setting. I don't believe that secret is actually retrieved during deployment. This syntax is not supported for a parameter that must be retrieved during deployment to set a value.

[2020-03-06 19:50] tfitzmac commented on #49673
#please-close

[2020-03-06 19:50] #49673 closed

[2020-03-06 19:51] Karishma-Tiwari-MSFT commented on #49374
Sounds good. @paulbouwer

[2020-03-06 19:52] SaurabhSharma-MSFT commented on #49664
@don-petry Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 19:53] SaurabhSharma-MSFT commented on #49675
@meswaramoorthy Ok, thanks.

[2020-03-06 19:55] SaurabhSharma-MSFT commented on #49265
@sanderdekoning Thank you for providing the solution over here as it will help future readers.

[2020-03-06 20:00] rrodemann commented on #43515
Since this has been an ongoing issue and I've tried all solutions others have had I'm going to abandon the node.js route and try the instructions for C

[2020-03-06 20:00] Grace-MacJones-MSFT commented on #48978
@johndeu do have any insight on this?

[2020-03-06 20:03] bmitchell287 commented on #49384
@MikeDodaro - Mike would you please look into this issue. Thanks.

[2020-03-06 20:05] bmitchell287 commented on #47022
@KarlErickson - Karl would you please look into this issue? Thanks.

[2020-03-06 20:06] bmitchell287 commented on #34650
@KarlErickson - Karl would you please look into this issue? Thanks

[2020-03-06 20:09] NavtejSaini-MSFT commented on #49695
Thanks @berndverst for the feedback. We will correct the same.

[2020-03-06 20:11] mumami commented on #41082
@lesterw1 - You can use this API for PAYG rates
https://prices.azure.com/api/retail/prices

[2020-03-06 20:16] #43571 closed

[2020-03-06 20:18] zr-msft commented on #43571
Thank you for the feedback @abhall724. I have updated the documentation with more details on how to remove Azure Dev Spaces from a cluster. The changes should be live soon.

[2020-03-06 20:23] mimckitt commented on #49395
If that is the case, MCA is not a stand alone offering type. So not sure why it would be included in the list
https://azure.microsoft.com/en-us/support/legal/offer-details/

[2020-03-06 20:26] mimckitt commented on #49648
As the table shows, only the 3 subscription types are possible. However we include a few other most commonly used subscription types to ensure those customers can easily see the information.

All our subscription types are found here: https://azure.microsoft.com/en-us/support/legal/offer-details/

@JagVeerappan is the PM for sport. However he is out of office for a while. For now I would say we le

[2020-03-06 20:26] #49648 closed

[2020-03-06 20:28] mimckitt commented on #49395
Essentially only those three are eligible at the moment to use SPOT. We include the others as they are also highly used subscription types and want to make it easily visible.

As availability changes, we will continue to update the document.

#please-close

[2020-03-06 20:29] GiftA-MSFT commented on #49676
@meswaramoorthy we will review your feedback and get back to you shortly. Thanks.

[2020-03-06 20:31] blmiles commented on #48843
@BryanTrach-MSFT, hello, I see this was assigned to you.

I realise you're pretty busy but was wondering if you'd read my original post at top of this thread?

Any insight into this and if/when MS will be broadening the scope of authentication in the Node.js backend.

As stated in original post
- I already have a user logged in on client-side.
- I have an access token and id token for that user.
I

[2020-03-06 20:33] SaurabhSharma-MSFT commented on #49565
@GabrielOrAnder Thank you, we will investigate and update as appropriate.

[2020-03-06 20:36] SaurabhSharma-MSFT commented on #49555
@AmitavaHazra Thanks, I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-06 20:36] glimoli commented on #48996
@VikasPullagura-MSFT Usually this IP is never blocked on the firewall and I haven't seen a single case where this was the problem blocking the connectivity of a VM which is why we didn't have any problem till now on this article the way it is however yes, we could add that out.

[2020-03-06 20:41] #49664 closed

[2020-03-06 20:42] JasonWHowell commented on #49664
We've updated the article. It should publish this afternoon. Thanks for the feedback! ~Jason

[2020-03-06 20:49] MarileeTurscak-MSFT commented on #49421
Currently scans are only triggered by a push event to the ACR registry.

For now, to implement scheduling, customers need to re-push images to the registry.

We are currently working to expand that and add continuous scans, but do not have a concrete ETA to share just yet.

Hope this helps!

[2020-03-06 20:49] MarileeTurscak-MSFT commented on #49421
We will proceed to close this thread but if you have further questions feel free to create a new issue.

[2020-03-06 20:49] #49421 closed

[2020-03-06 21:00] NavtejSaini-MSFT commented on #49683
@rajaprad We are checking this and will get back to you

[2020-03-06 21:11] cjoakim opened #49701 "please update this page and include a working github repo"
Please include the URL to a working GitHub repo on this page.  These code snippets are not working with the current SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d24f0e5c-4677-457a-5f14-98c44e7157f3
* Version Independent ID: 35ec5bb0-5969-c3e1-3611-b06a8e2566ea
* Content: [Azure Data Lake Storage Gen2 .NET SDK fo

[2020-03-06 21:12] MarileeTurscak-MSFT commented on #49455
Hi @richard-artes - or are you referring to the ConsistencyGuid recommendation?

[2020-03-06 21:15] rayluo commented on #49541
Good call from @mrdeveloperdude ! And [that StackOverflow answer](https://stackoverflow.com/a/60556275) makes sense. We can improve our docs accordingly. CC: @navyasric

[2020-03-06 21:16] gaugup commented on #49585
Hi,

Sorry you ran into this issue. Could you tell us the SDK version that you saw this issue in and a snippet of your AutoML config?

Regards,

[2020-03-06 21:19] nofield commented on #49131
Sorry for not replying to this. This is exactly the information I was looking for, thank you very much!!

[2020-03-06 21:19] MisterCloudTech commented on #40812
Same experience here.
Have tried to grant these permissions:
 - Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action
 - Microsoft.Security/locations/jitNetworkAccessPolicies/*/read
 - Microsoft.Compute/virtualMachines/read
 - Microsoft.Network/networkInterfaces/*/read
But no success. Users can't get into the JIT blade in Security Center, nor can they access the VM.
Anyone found th

[2020-03-06 21:21] ajopjo opened #49702 "Claim resolver for extracting a federating openidconnect provider's id token"
Hi:
I need to extract the id token from the federating open id connect provider's token. As of now, I can see a claim resolver for access token.

&lt;OutputClaim ClaimTypeReferenceId="identityProviderAccessToken" PartnerClaimType="{oauth2:access_token}" /&gt;

Is there any way I can extract the id_token?

If a claim resolver is not available, can you please share an alternative approach - may be u

[2020-03-06 21:23] jeevansd commented on #49555
@cmmdesai Can you please review this?

[2020-03-06 21:27] TravisCragg-MSFT commented on #48866
@shuttlek your best bet to proceed with this issue is to create a support request. If you do not have a support plan, please Email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support request for you to troubleshoot this further.

[2020-03-06 21:30] jackchenquest commented on #40812
I am disappointed with the response from Microsoft support. I already mentioned the two permissions listed in the document is not enough, yet @azsec just repeated what the document said ( did you try it ? ).

This is a simple question and Azure support should be able to find answer easily, we shouldn't need to waste time to try different combinations.

[2020-03-06 21:33] HolyMoly05 commented on #40812
I've tried a couple times

On Fri, Mar 6, 2020, 4:31 PM Jack Chen <notifications@github.com> wrote:

[2020-03-06 21:36] jackchenquest commented on #40812
OK Thanks, then I guess this issue only happen in certain environment?  I will open a Azure support request then.

[2020-03-06 21:45] henry-schneiderman opened #49704 "Could not get X2Go to connect"
On a Mac OS 10.14.6 I was unable to get X2Go to connect to the VM. Error msg: "Access denied for 'none'. Authentication that can continue: publickey"

I've tried a number of things:
-- various versions of X2Go
-- permutations on the XQuartz settings
-- Including the full path to the client's publickey in the X2Go session settings
-- rebooting both the client and the VM

As a work around, I simply

[2020-03-06 21:51] kraigb commented on #42861
https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-azure-app-service-node-03 is live now, with the full story for deploying to App Service from VS Code using git deploy, which creates web.config for you. It's necessary in this case to create a couple of app settings prior to deployment.

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs is also up

[2020-03-06 21:52] SaurabhSharma-MSFT commented on #49667
@cananac You can use the below Rest API  endpoint to update the security center pricing
`https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}?api-version=2018-06-01`
Please refer to the [Pricings - Update](https://docs.microsoft.com/en-us/rest/api/securitycenter/pricings/update?view=azureeventhubs-1.0.1#pricingtier) documentation.

[2020-03-06 21:53] Karishma-Tiwari-MSFT commented on #49618
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-06 21:53] #49618 closed

[2020-03-06 21:53] Karishma-Tiwari-MSFT commented on #49609
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-06 21:53] #49609 closed

[2020-03-06 21:55] erotavlas opened #49705 "Unable to access application through EXTERNAL-IP"
I followed the steps above exactly as described, my container is running and is assigned an external IP but I cannot connect to it from my local machine.  Any suggestions? Perhaps the instructions are missing a step?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independe

[2020-03-06 21:55] Karishma-Tiwari-MSFT commented on #49468
@romitgirdhar Can you please share your insights on this issue and if the doc needs to be updated? Thanks. :)

[2020-03-06 21:58] Karishma-Tiwari-MSFT commented on #49274
Hi @hbiarge Thanks for providing the details. I will get back to you soon.

[2020-03-06 22:00] TravisCragg-MSFT commented on #49663
@biste5 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 22:04] Karishma-Tiwari-MSFT commented on #48274
On your question, 'Imagin in Azure cloud shell I upload multiple files when I run "terraform apply" which file will be run?'
As answered in the comment above, Running 'terraform apply' in a directory with multiple .tf files will cause terraform to merge all those files and then execute them. Let me know if you have any further questions.
We will now close this issue. If there are further questions

[2020-03-06 22:04] #48274 closed

[2020-03-06 22:05] Karishma-Tiwari-MSFT commented on #44940
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-06 22:05] #44940 closed

[2020-03-06 22:06] bkaidbb opened #49706 "Migration guide link is 404 broken"
Currently: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MIGRATIONGUIDE.md

Should be: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b109d8b1-4a76-6c2c-b7a1-f4

[2020-03-06 22:08] TravisCragg-MSFT commented on #49669
@MagadiBh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 22:08] MikeDodaro commented on #49384
Revised here: https://review.docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-quickstart-launch-app-cli?branch=pr-en-us-106832
@rbmathis   Please review.

[2020-03-06 22:08] GiftA-MSFT commented on #49704
@henry-schneiderman we will review your feedback and get back to you shortly. Thanks.

[2020-03-06 22:12] sdgilley commented on #49355
Thanks for this feedback.  We're investigating the best way to change the notebook so that this version confusion doesn't happen.

[2020-03-06 22:18] MisterCloudTech commented on #40812
When the JIT requester logs into the Azure portal, this error appears:
  "Failed to retrieve your subscription list, please try again later"

I have tried to add the following permissions one by one:
 - Microsoft.Resources/providers/read
 - Microsoft.Resources/subscriptions/read
 - Microsoft.Resources/subscriptions/resources/read
 - Microsoft.Resources/subscriptions/resourceGroups/read
 - Microsof

[2020-03-06 22:27] taromielnaz commented on #48274
Yes, what if I have already run other files. I expect to get an error on the resource with the name "name" already exists if each time it merges all files.

[2020-03-06 22:43] TravisCragg-MSFT commented on #49687
@MikeMichel I was able to get this to work as well. Let me follow up to confirm, and I will remove this item from the FAQ.

[2020-03-06 22:58] femsulu commented on #39108
Thanks @sujayvsarma for proposing the above workaround. Super useful.

@MiroslavVanicky , @qub1n  - you both bring up very valid points on having a global region ID. The Feature team will love to hear your feedback directly using [this link](https://feedback.azure.com/forums/170030-signup-and-billing?query=region%20id). I strongly recommend sharing your feedback below using the abovementioned link

[2020-03-06 23:02] jpconnock commented on #32024
We have added stories to our backlog to capture this work -- thanks very much for your feedback!

#please-close

[2020-03-06 23:02] #32024 closed

[2020-03-06 23:05] mike-urnun-msft commented on #49386
@spmanjunath We have assigned this issue to the author to review further and take the right course of action.

[2020-03-06 23:09] samevansak commented on #15839
This actually isn't correct. You currently do not ingest data into Log Analytics from a variety of sources if running PaaS resources (App Service) on windows. This is shown here https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs at the bottom. Why can you not use diagnostic logging for AppServiceAppLogs on windows through a Microsoft service?

[2020-03-06 23:10] MarileeTurscak-MSFT commented on #49698
For the classic portal you can access it that way. For the new experience you can find this under the manifest under identifierUris or at the top of the "Expose an API" section.

![image](https://user-images.githubusercontent.com/13383753/76129574-79ca1a80-5fbc-11ea-80d6-e1a51a5ed6f6.png)

I agree that this should be updated for the new experience and I am making a pull request right now to change

[2020-03-06 23:12] hpsin commented on #46754
Rachel and I synced offline on this a while ago.  The /organizations support for MSA users is extremely specific to itnernal applications at Microsoft and not something 3rd party developers can use.  However, the actual question is accurate: apps (1st party or 3rd party) can't use /common to get tokens for MSA users for ARM because ARM doesn'y support MSA users.  They only support AAD users - so y

[2020-03-06 23:12] hpsin commented on #46754
#please-close

[2020-03-06 23:12] #46754 closed

[2020-03-06 23:19] MisterCloudTech commented on #40812
Short update:
Reader permissions on subscription seems to be inadequate, and the only combo I so far can get working is assigning the JIT request'ers Global Reader + permissions from the MS article.
(sigh...)

[2020-03-06 23:20] NavtejSaini-MSFT commented on #49695
@berndverst We have created the Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/106852 for making the document consistence. Once approved the changes will be live.

[2020-03-06 23:25] MarileeTurscak-MSFT commented on #49698
I made a pull request to add this. Thanks for catching this , @dreeves14 !

https://github.com/MicrosoftDocs/azure-docs-pr/pull/106853

[2020-03-06 23:25] #49698 closed

[2020-03-06 23:31] TravisCragg-MSFT commented on #49689
@JasonRBeer Thanks for the feedback! This should be possible, but we do not currently have any documentation outlining how.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-06 23:44] Rahul-Menon-8 commented on #43750
https://www.itexams.com/exam/AZ-900  (Question #1 in this case)

[2020-03-06 23:51] doc-rj-celltrak opened #49708 "SAML Question - B2C as IdP"
Hi, we're trying to use AWS Cognito user pool as SP and Azure AD B2C as IdP. Unfortunately, we haven't had any success yet. The SAML request is failing. The SAML response from Azure B2C has the following status message, indicating the RelayState content from AWS Cognito is too big (> 1000 byte max):

[code]

After decoding the RelayState (2x base64), we see this (some sensitive names changed to ab

[2020-03-06 23:51] MarileeTurscak-MSFT commented on #49455
In the line you referenced it is giving the instructions for if you have a single forest on-premises.

[2020-03-07 00:03] MartinJaffer-MSFT commented on #49706
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-07 00:04] MartinJaffer-MSFT commented on #49697
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-07 00:10] MarileeTurscak-MSFT commented on #49544
That should take you to the "Approve sign in" page once you have enabled phone sign-in.

Have you followed all of the steps in this guide? https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-sign-in#turn-on-phone-sign-in

I'm not sure if this is a limitation in Preview but I am checking with the product team for you.

[2020-03-07 00:14] TravisCragg-MSFT commented on #49469
@JasonRBeer Closing as duplicate of #49689

[2020-03-07 00:14] #49469 closed

[2020-03-07 00:20] monsterenterprises commented on #19601
Don't close. Not updated on GitHub.

[2020-03-07 00:25] TomArcherMsft commented on #49497
**UPDATE**: The updates are more taking more time than originally though due to testing and ensuring we don't break the samples. I'll update as soon as we're done.

[2020-03-07 00:29] MarileeTurscak-MSFT commented on #49672
@fabianflanhardt thanks for reporting this! Do you have a screenshot of this? I have seen that as a Chrome message but not as an Azure message.

[2020-03-07 00:42] MarileeTurscak-MSFT commented on #49611
@DNguyen20 thanks for this! I made a PR to include your suggestion. https://github.com/MicrosoftDocs/azure-docs-pr/pull/106862

[2020-03-07 00:42] #49611 closed

[2020-03-07 00:48] dhillonsh opened #49711 "Rename Get-AzEventHubNamespaceKey to Get-AzEventHubKey"
Fix the reference to "Get-AzEventHubNamespaceKey" by updating it to "Get-AzEventHubKey"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c25273e-d486-f45e-347b-e0e47bdac7da
* Version Independent ID: e2fdb8f0-af84-5d43-d378-da02a5a07426
* Content: [Get connection string - Azure Event Hubs](https://docs.microsoft.com/en-u

[2020-03-07 01:05] MarileeTurscak-MSFT commented on #49563
The error indicates that your client code is asking the STS to give you tokens which grant access to a certain app, but your app registration in the Azure Portal only lists another appID. To solve this you need to grant access and make sure that the values, App IDs, and IdentifierUris are matching in both places.

Two things you can check:

1. Go to Azure portal --> Azure Active Directory --> App

[2020-03-07 01:06] MarileeTurscak-MSFT commented on #49563
Let me know if this helps! Since this is more of a product question than a documentation update, we will proceed to close this thread. If you have further questions feel free to reach out to me on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or tag me in the comments.

[2020-03-07 01:06] #49563 closed

[2020-03-07 01:14] yingqunpku commented on #48240
In entire detect mode, maxAnomalyRatio will restrict the max number of anomailes detected in the given series. In last detect mode, it works together with 'sensitivity' parameter to affect the strictness of the detector to judge if the last point is anomaly or not. Some information could be found here: https://westus2.dev.cognitive.microsoft.com/docs/services/AnomalyDetector/operations/post-timese

[2020-03-07 01:19] SaurabhSharma-MSFT commented on #49650
@mms- Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 01:22] SaurabhSharma-MSFT commented on #49656
@stevebus Thank you.

[2020-03-07 01:24] SaurabhSharma-MSFT commented on #49668
@amunger Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 01:26] BharathNimmala-MSFT commented on #49275
@jethrovaneetvelde Thanks again for your query. Scoping the sample from the [documentation ](https://docs.microsoft.com/bs-latn-ba/azure/azure-monitor/insights/solutions-resources-searches-alerts#sample) to create the saved search, was able to successfully create and redeploy incrementally with ARM without the 409 error . Please see if you can use it for your scenario

`{
  "$schema": "https://sch

[2020-03-07 01:27] MarileeTurscak-MSFT commented on #49624
It sounds like it needs to be updated to include Office Hub as an approved client app, based on the discussion here: https://github.com/MicrosoftDocs/IntuneDocs/issues/3516

I made a pull request to add it: https://github.com/MicrosoftDocs/azure-docs-pr/pull/106866

CC @MicrosoftGuyJFlo

[2020-03-07 01:27] #49624 closed

[2020-03-07 01:27] SaurabhSharma-MSFT commented on #49702
@ajopjo Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 01:28] SaurabhSharma-MSFT commented on #49708
@doc-rj-celltrak Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 01:35] TravisCragg-MSFT commented on #49313
@m43kwon I am unsure if this will work with a dual stack VNET, but I see no reason it should fail. Use JSON configurations from [this doc](https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-configure-standard-load-balancer-template-json) and from resources.azure.com to view the template structure, and add elements to the VNET and subnet as needed.

Please let me know if you need any addit

[2020-03-07 02:07] Mike-Ubezzi-MSFT commented on #49221
@gdalsnes Yes, the opening paragraph of the [Indexing policies in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy) document states the following:

Please let me know if you have any additional questions.

[2020-03-07 02:13] Mike-Ubezzi-MSFT commented on #49221
@gdalsnes The key point here is newly created containers. So, at some point this was made the default and a container created before this time will not exhibit this default behavior.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. is newly created containers.

[2020-03-07 02:13] #49221 closed

[2020-03-07 02:27] Mike-Ubezzi-MSFT commented on #49243
@magnarw Yes, this is the case. Version 2 of the SDK will eventually retire and the capability discussed in the document is dependent on the version of the SDK but, there is a REST option: [Tuning query performance with Azure Cosmos DB
](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-query-metrics)
Please let me know if I have answered your question or not, or if you require additional i

[2020-03-07 02:29] Mike-Ubezzi-MSFT commented on #49243
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-07 02:29] #49243 closed

[2020-03-07 02:57] femsulu commented on #39108
@MiroslavVanicky, @qub1n  - Got an update from the Subscription mgmt & billing support team. They will like to know more about your implementation details and have requested you please create a case for a deeper review which will hopefully yield a systemic solution. Use [this link](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade) to create a case with the subscription m

[2020-03-07 03:11] KrishnaG-MSFT commented on #49638
@sujayvsarma Thanks for the clarification provided. :+1:

[2020-03-07 03:16] NewGyu commented on #48070
The above expression make mislead the reader.  As @cijothomas  says, I think `UseApplicationInsights` is no longer a standard method. It should be noted that it will be removed in the next major version.

[2020-03-07 03:47] ketan-chawda-msft commented on #49682
@LeoLopezAtHL Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 03:48] ketan-chawda-msft commented on #49692
@angellmethod Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 03:50] ketan-chawda-msft commented on #49701
@cjoakim Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 03:52] ketan-chawda-msft commented on #49705
@erotavlas Thank you for reaching out to us! We will review and provide an update as appropriate.

[2020-03-07 03:53] ketan-chawda-msft commented on #49711
@dhillonsh Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 04:29] sujayvsarma commented on #49621
A google will tell you what those acronyms mean.

Not all versions of all software show up in the marketplace.

[2020-03-07 04:36] Karishma-Tiwari-MSFT commented on #49409
@webguynj Only Windows and SQL Server updates marked as **Important** are installed. Other SQL Server updates, such as Cumulative Updates, must be installed manually. The same goes with service packs, per my understanding.

[2020-03-07 04:37] sujayvsarma commented on #49626
Np. Next time, simply use the "Feedback" section at the bottom of the docs page to post the question. It makes it much easier for everyone to understand what you're talking about.

So, if you look at the "About this solution template" section at the top of the document, it mentions details about these four parameters.

The `*FileFolder` values should be the root of your blob storage system. So all

[2020-03-07 04:42] #49409 closed

[2020-03-07 05:09] BharathNimmala-MSFT commented on #49282
Assigning this to @saket-ms our document author to further evaluate the feedback and update the document accordingly.

[2020-03-07 05:12] Karishma-Tiwari-MSFT commented on #49499
@gitmaximd Did you run these commands in Azure Cloud shell on Azure portal?

[2020-03-07 05:57] Karishma-Tiwari-MSFT commented on #49507
@ChristianMontoya Would you have any idea on this error the customer is seeing. Thanks :)

[2020-03-07 08:02] Silencer0001 opened #49716 "Managed identities and applicability of this MFA rule"
We currently have a couple of "service principals" defined with Azure AD roles (eg: Office 365 Yammer). We can't exclude these from the Conditional Access policy and when verifying the sign-in logs, we see that this Conditional Access policy is applied. How can we exclude these "service principals" in the conditional access policy?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-07 09:17] richard-artes commented on #49455
In the article it says "the attribute you should use is objectGUID", but in the wizard when you run the AzureADConnect installation it says " It is strongly recommended that you let Azure manage the source anchor for you." So which one is correct? Do I use the objectGUID or do I let AzureADConnect chose one for me?

[2020-03-07 10:34] drmiru opened #49717 "global vnet peering"
It would be helpful to mention in the documentation that the basic SKU does not support global vnet peering

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aecd7fa-47dd-4854-caaf-8f037872998a
* Version Independent ID: ffb49fcc-378f-7eff-5d67-56296acdf9ac
* Content: [Components and Limitations - Azure Load Balancer](htt

[2020-03-07 11:42] theheatDK opened #49718 "AzureLoadBalancer - This does not include traffic to your Azure Load Balancer resource?"
Hi,
I am a little puzzled about the below:
“This does not include traffic to your Azure Load Balancer resource.”
So are we only talking about health probe traffic from the VMs that hosts the load balancer(s)?
If so, why can the tag be used both inbound and outbound? For AzureTrafficManager it is only inbound?

Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-03-07 11:54] tyconsulting opened #49719 "missing resource provider registration step"
I'm connecting a VM to Azure Arc for the first time, when connecting the VM, got an error " The subscription is not registered to use namespace 'Microsoft.HybridCompute'." I think for the sake of completeness, you should add a step to ensure this RP is registered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f6e05d

[2020-03-07 12:31] pgarm commented on #49544
Ok, there appears to be propagation latency in play - today this works as expected, so turning the setting on for a particular user in tenant settings takes up to 48 hours to be applied. Maybe worth noting that in the docs - to set the expectations :)

[2020-03-07 12:31] gandhirajan commented on #41645
@AjayKumar-MSFT Hi Ajay, Do we have any clarity on GA dates now? Any update on the tentative GA plan?

[2020-03-07 12:46] ketan-chawda-msft commented on #49716
@Silencer0001 Thank you for reaching out to us! We will review and provide an update as appropriate.

[2020-03-07 12:48] ketan-chawda-msft commented on #49717
@drmiru Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 13:02] ketan-chawda-msft commented on #49718
@theheatDK Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-07 13:06] ketan-chawda-msft commented on #49719
@tyconsulting Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-07 13:12] Joe8908 opened #49720 "How to use the output of the Stored Proc activity"
Can you include how to use the output of the Stored Proc activity, if the SP has an Output parameter. I am using @activity('Call SProc name').output, but it is not of the right data type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e0996a-5a15-b03a-f204-b8725579109d
* Version Independent ID: 6c8ed85a-8e40-a7b2-c13

[2020-03-07 13:37] theBlueclouds commented on #47350
If executed directly on cloud shell, it works. But when done through devops pipeline I got this error

[code]

[2020-03-07 14:28] rogersass commented on #49421
Thanks for the follow-up and clarification!

[2020-03-07 14:29] webguynj commented on #49409
Can you please have the documentation here https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-automated-patching updated to clarify and reflect that Service Packs are not installed.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, March 6, 2020 11:43 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Moore <

[2020-03-07 14:51] maheshn99 opened #49721 "Application Gateway is Layer 7 Load Balancer"
Please correct the mistake in this sentence on this page:"Azure provides a suite of fully managed load-balancing solutions for your scenarios. If you need high-performance, low-latency, Layer-4 load balancing, see What is Azure Application Gateway? "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-547

[2020-03-07 14:53] ssljivar opened #49722 "Build and push / Step 1 fails when target architecture is set to ARM32v7"
The first 9 steps of docker build success, but step #10 fails with the following:

  Step 10/12 : RUN useradd -ms /bin/bash moduleuser
   ---&gt; Running in 79f0b834d91c
  standard_init_linux.go:211: exec user process caused "exec format error"
  The command '/bin/sh -c useradd -ms /bin/bash moduleuser' returned a non-zero code: 1

I am running Ubuntu in a Virtualbox VM:

  uname -a
  Linux xxx-Vi

[2020-03-07 15:30] cijothomas commented on #48070
@NewGyu I am sorry I dont understand the confusion. Ilogger doc states ilogger provider is enabled on both useapplicationinsights, or addapplicationinsightstelemetry , which is correct. The doc about asp.net core specifics - it mentions the method is obsolete.
What change do you propose?

[2020-03-07 15:57] gitmaximd commented on #49499
@Karishma-Tiwari-MSFT I’m running it with Azure CLI installed locally on my machine. Using portal or Set-AzKeyVaultAccessPolicy cmdlet works as expected.
You can work with me on it.
Thank you for looking in to it.

[2020-03-07 16:07] SaurabhSharma-MSFT commented on #49720
@Joe8908 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 16:07] GieForce opened #49723 "SSH connection closed after first request"
Hi all,

I'm currently trying to set up the device streams proxy myself. The thing I basically want is to configure some of my devices remotely within their own interface. I thought it would be nice to do this by using the device-streams proxy.

These steps I want to take configuring my device.

1. Connect the device with the Azure IOT hub by using the device-local-proxy-streaming project
2. Conne

[2020-03-07 16:09] SaurabhSharma-MSFT commented on #49721
@maheshn99 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 16:10] SaurabhSharma-MSFT commented on #49722
@ssljivar Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 16:12] SaurabhSharma-MSFT commented on #49723
@GieForce Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-07 16:56] msrini-MSFT commented on #49119
@igorjnz , Please tag me if you have any further questions.

[2020-03-07 16:56] #49119 closed

[2020-03-07 16:56] Ayanmullick commented on #49621
@sujayvsarma , I feel Microsoft should document how to access a current generation [Gen2] image for Microsoft's `office-365` offer.

[2020-03-07 16:56] msrini-MSFT commented on #49537
@SunnyXiao , Please tag me if you have any further questions.

[2020-03-07 16:56] #49537 closed

[2020-03-07 17:12] BharathNimmala-MSFT commented on #49358
@mb01r Thanks for the feedback , the credentials for using Web API as authentication mechanism to read Log Analytics logs. Its not the workspace ID but you need the API key . Log Analytics REST API have been documented [here ](https://dev.loganalytics.io/documentation/overview) .

Below are few documentation links which will help you

[Log Analytics REST API - Registering AAD Application](https://

[2020-03-07 17:46] fabianflanhardt commented on #49672
@MarileeTurscak-MSFT thanks for the hint. It looks like the popup indeed is a browser message. Just to be sure we're talking about the same thing, here is a screenshot:
![image](https://user-images.githubusercontent.com/4006917/76145489-0f7fab80-608a-11ea-9489-28d6937a7ddd.png)

I also had a look into how this works, so here is what I found:

- chrome checks, the pattern attribute for input elemen

[2020-03-07 18:35] cananac commented on #49667
Thanks @SaurabhSharma-MSFT . My question is more about at what level this should be configured. To be more clear, if I want to set Standard pricing Tier at subscription level, what should be the pricing name?

[2020-03-07 18:54] dotnetgator opened #49725 "Should objectId be part of the PersistedClaims collection in a DeleteClaims operation"
In the example above for DeleteClaims, objectId is included in the list of PersistedClaims (in addition to being specified as the key in the Input Claims). Shoudl object ID really be included as a claim to modify/delete? Or is doing so a no-op in that objectId value gets ignored? Or is it maybe an inadvertent inclusion in the example?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-03-07 18:59] dotnetgator opened #49726 "Nitpick - PersistedClaims section header differs from section headers for Input & Output claims"
A complete nitpick, low priority. "Input claims" and "Output claims" section headers differ from the "PersistedClaims" (no space, claims is capitalized) header. The paragraph intros are pretty consistent, suggesting the header probably should be aligned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d3375c1-260a-279e

[2020-03-07 19:04] dotnetgator commented on #49725
Following up here - looking at the guidance in the "Requirements of an operation" section:

That does not seem to be the case. If you examine the internals of the AAD-DeleteClaimsUsingAlternativeSecurityId implementation in B2CTRUSTFRAMEWORKBASEV2-PROD base profiles, you will see that DeleteClaims does not in fact repeat the alternativeSecurityId value in the PersistedClaims collection.

[2020-03-07 19:22] justSteve commented on #44105
bumping this as a continuing problem. Soon-ish?

[2020-03-07 19:28] hhubik opened #49727 "Truth tables for OR and AND are not useful"
How exactly do I interpret them?  Also need more information on the precedence of AND, OR, NOT in the same expression/clause.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f1caaa5-5526-061d-de8c-aedd689e4637
* Version Independent ID: 27d549e8-1416-60b5-4043-ffe6ecf1e079
* Content: [SQL query operators for Azure Cosmo

[2020-03-07 19:28] justSteve commented on #44105
I should clarify by saying that despite having the referenced using statements, I'm hitting the error.

[2020-03-07 19:34] yoelhor commented on #49679
Please check this doc https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema

[2020-03-07 19:39] justSteve commented on #44105
I'm trying to implement the ConnectedService per this guidance but am obligated to building from an IWebHost instead of the generic host. How complex a task to ask that an IWebHost implementation be shared?

[2020-03-07 20:00] #49322 closed

[2020-03-07 20:18] pipern opened #49728 "`--ssh-key-value` is misspelled `--ssh-key-values` in two places"
`--ssh-key-value` is misspelled `--ssh-key-values` in two places, but my azure-cli 2.0.31 instance only recognises without the final `s`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version Independent ID: 50b13de9-334d-0db5-492c-862935df2cd9
* Content: [Create and use an SSH ke

[2020-03-07 20:19] craig-martin commented on #49322
Not sure why this was closed, did I miss the commit that fixed it?

[2020-03-07 20:36] guibirow opened #49729 "Scalability of Single Namespace with Auto-Forwarding"
I'm designing a platform that will rely on quite a few microservices raising events and commands using azure service bus, these services will be isolated into multiple bounded domains, where each domain might have at least one API and one queue listener. Something around 50+ services types and each with at least 3 replicas. On peak time we expect to have 2k to 5k messages per second for all servic

[2020-03-07 20:56] vikramdadwal opened #49730 "Score training Rest API ?"
I do not see any Rest API available for changing the score for a specific user query ? Is there any plan in the future to provide such API ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Metadata with Genera

[2020-03-07 21:21] BharathNimmala-MSFT commented on #49515
@knssub Appreciate your feedback, assigning this to our document author @rayne-wiselman to further evaluate the feedback and enhance the document accordingly.

[2020-03-07 21:34] robcamer opened #49731 "RegisteredForRemoteNotifications never gets called"
I am on the latest Visual Studio for Mac with all updates.  XCode 11.3.

There are a few issues with this tutorial:
1. None of these methods accepts the override keyword:
public bool FinishedLaunching
public void RegisteredForRemoteNotifications
public void ReceivedRemoteNotification

2. RegisteredForRemoteNotifications is never called so when I try to send a test notification, Notification hub re

[2020-03-07 22:00] ashdubeyaz commented on #37484
Hello,

I ran into this problem and i am still a bit confused about the solution. The error i get is this

For routes associated to subnet containing Application Gateway V2, please ensure '0.0.0.0/0' uses NextHopType as 'Internet'.

My setup looks like following -
Application Gateway Subnet – 10.62.15.192/26. App Gateway integrates with AGIC such that it has awareness of what pods are available an

[2020-03-07 22:19] robcamer commented on #49731
OK, in the latest Xamarin / VS 2019 / Xcode 11.3, the AppDelegate class is declared this way:
'public class AppDelegate : UIResponder, IUIApplicationDelegate'
If I change it to this, the code works as written:
'public class AppDelegate : UIApplicationDelegate'

More importantly, RegisteredForRemoteNotifications DOES get called and I can send a test notification.

However, ProcessNotification throw

[2020-03-07 22:21] dotnetgator opened #49732 "Write operation should clarify role of ObjectId"
WHen using ObjectId as a key for a write operation, it needs to be for an Update, not a create. If a pre-fabricated ObjectId is used as the key Input Claim for a Create Operation (and also included in the PersistClaims collection), the user gets created with a different ObjectId (if the ObjectId is used in the OutputClaims, the new Object Id is replaced.)

Consider the following minimal example TP

[2020-03-08 01:07] lshunnarah77 commented on #49191
Just wanted to update my own issue here.  I was able to connect after creating an internal DNS record using the Azure SQL PaaS name.  My mistake prior was that I used the private link name when creating the DNS record and apparently it's very picky on using the correct name.  You HAVE to use the FQDN to connect as it's require for some of the functionality I read.  I know some people suggested usi

[2020-03-08 01:07] jaybo opened #49733 "localhost vs production"
All of these examples are having me update localhost:&lt;port&gt; in what ends up being a dozen different locations within the Azure portal to facilitate development.  But there is no explanation of what happens when I move to production.  Do I need to manually change all of these localhost entries to my actual external URL (eg. https://www.foo.com), or does this somehow get fixed up automagically

[2020-03-08 01:11] #49191 closed

[2020-03-08 01:17] DanielRosenwasser opened #49734 "SignalR Functions Quick Start for JS: Failed to complete negotation with the server"
I tried to follow the steps on https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-javascript#run-the-web-application

Locally, `func start` seems to work fine, but loading the page seems to give errors in the console, probably due to CORS issues.

<details>
<summary>My Browser Console</summary>

[code]

</details>

<details>
<summary>Terminal Log</summary>

[co

[2020-03-08 01:42] barakooda opened #49735 "Sync between depth and color after extraction"
Hi there,
I have record 8 mkv files from 8 synced cameras with offset of 170 micro sec.

After extracting the mkv into color and depth
for example:
ffmpeg -i output.mkv -map 0:0 -vsync 0 color%04d.png
ffmpeg -i output.mkv -map 0:1 -vsync 0 depth%04d.png

Does it output the color and the depth synced ?
can i just use the corresponded files ?
or
i need to sync between them ?
if so , i will have to e

[2020-03-08 02:01] DanielRosenwasser commented on #49734
For the record, I've tried to run this with the given URL

[code]

and by running locally with

[code]

and

[code]

and every time I've loaded the page, it's failed on me.

[2020-03-08 02:03] xthexder commented on #49735
ffmpeg alone will not be enough to synchronize the color and depth images, since it's likely 1-2 frames are dropped at the beginning of the recording, especially with multiple cameras. You will need to read each frame's timestamp and compare instead of just using the frame index.

You can see some example code in the SDK (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/p

[2020-03-08 02:11] mhykes commented on #31701
I know this is closed, but I'm commenting in the hope that someone still sees this.  I am one of those customers who read the scary wording, went ahead anyway for the benefits of deeper azure integration, and deployed on a /24 subnet.  Please modify the description to warn specifically that a /24 subnet is too small and provide a recommendation on how to determine a proper size of subnet for the i