[2020-04-20 14:39] artisticcheese opened #52830 "What {subId} means"
This page showcases various powershell statements with frequent use for parameters values like `{subId}`. What does this notation means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54bc2b59-0178-5a45-c8f7-a1544ded4d7a
* Version Independent ID: fd23e3db-d408-ebdd-b8fc-908ea2f12b47
* Content: [How to manage assignment

[2020-04-20 14:40] NavtejSaini-MSFT commented on #52451
@vytux-com This is valid feedback if you are not getting correct operation status. We would advise to provide the Product Feedback here - https://feedback.azure.com/forums/908035-sql-server.
The Product team has direct access to the same and will provide feedback on this directly.

[2020-04-20 14:41] johncdawson commented on #52710
I completed this and unassigned myself.

Cheers,
John

From: gwenbettwy <notifications@github.com>
Sent: Friday, April 17, 2020 1:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Dawson <John.Dawson@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] SSL to TLS (#52710)

SSL is the old name. All references to this network security pro

[2020-04-20 14:41] jonwbstr commented on #51881
This might be the last undocumented step in this process:
The final steps are outlined below for completing the setup for the invoice pay:

---

1.	Log into the Microsoft Azure Portal with your Account at https://portal.azure.com/.
2.	Click Subscriptions and select the subscription you would like to update a payment method on.
3.	Under the Billing Profile menu, click Payment Methods.
4.	A banner w

[2020-04-20 14:44] AshokPeddakotla-MSFT commented on #52813
@smstuebe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-20 14:44] SnehaAgrawal-MSFT commented on #52812
@hire-him Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-20 14:46] RonPattersonBadger commented on #52375
ziesemer is right.  The issue is directly related to the documentation.  There is no 'error' as such (just that you can't map to the drive until the share permission is populated).  This is not a question of understanding the roles, it is a question of a Microsoft process taking place that is not documented.

[2020-04-20 14:50] SubhashVasarapu-MSFT commented on #52520
@James-McIntosh-NZHG , Thankyou for your valuable feedback. Yes, you can even run those VPN configuration scripts under the system account instead of user account. We are working on editing the doc. it would take some time for the edits to get reflect overt the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the

[2020-04-20 14:52] SubhashVasarapu-MSFT commented on #52519
closing this issue as this is a duplicate of #52520

[2020-04-20 14:52] #52519 closed

[2020-04-20 14:52] #52520 closed

[2020-04-20 15:02] NavtejSaini-MSFT commented on #52476
@stevestein Please help regarding this issue. Do we have Powershell commands to add the sync members in different subs?

[2020-04-20 15:03] GiftA-MSFT commented on #52678
You can [download data](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data#download) from a datastore to your local file system, however, to interact with data in your experiment, you need to [create a dataset](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets). This [document](https://docs.microsoft.com/en-us/azure/machine-learning/con

[2020-04-20 15:06] mumian commented on #52780
@cconrado - Thank you for your comments.  Both schemas work. The newer one is recommended.  I will update the article.  It will go live in the afternoon.

#please-close

[2020-04-20 15:06] #52780 closed

[2020-04-20 15:08] tfitzmac commented on #52697
@j03Martin - the issues in this repo are intended for documentation feedback. To provide requests for product changes, please use [https://feedback.azure.com/forums/281804-azure-resource-manager](https://feedback.azure.com/forums/281804-azure-resource-manager)

[2020-04-20 15:08] #52697 closed

[2020-04-20 15:11] NavtejSaini-MSFT commented on #52818
@marioanton We are checking this and will get back to you as soon as possible.

[2020-04-20 15:13] NavtejSaini-MSFT commented on #52822
@ivanaliptakova We are checking this and will get back to you.

[2020-04-20 15:14] nberdy commented on #52813
@smstuebe Can you please provide more details on how you are enrolling the device? The registration IDs are case-insensitive, but it may be that the tool you are using to enroll devices does a case-check that is blocking enrollment.

[2020-04-20 15:18] mumian commented on #52747
@mcollier -  Thank you for your comments.  I will update the article.  The change will go live tomorrow.

[2020-04-20 15:21] ccarls-cloudfit commented on #51346
Any update here? The SecurityAlert table seems to define a field labeled IsIncident but it is consistently false. I have looked at all the table schemas provided within the SecurityInsights space and none seem to house the actual definition of an 'Incident' within Sentinel. I did find articles that denote an Incident/Case API (https://azsec.azurewebsites.net/2020/03/18/quick-look-at-new-azure-sent

[2020-04-20 15:24] #52358 closed

[2020-04-20 15:26] er-mohd-ali commented on #52666
No, thanks alot for the help.

[2020-04-20 15:26] #52666 closed

[2020-04-20 15:26] amanmcse commented on #52783
@dotnetgator Since we are referencing to Base/Extension/RP files in almost all B2C documents, examples and samples, it is going to be a massive change in the documentation. I am assigning it to the author to see how we can accommodate this suggestion in the documentation.

[2020-04-20 15:30] #51562 closed

[2020-04-20 15:30] mrbullwinkle commented on #48235
Thank you for reporting this. This article has been retired and all references have been redirected to the appropriate up-to-date articles.

[2020-04-20 15:31] mrbullwinkle commented on #48235
#please-close

[2020-04-20 15:31] #48235 closed

[2020-04-20 15:33] mrbullwinkle commented on #52486
@eddynaka, thanks again for the fix! Going to close this one out now.

[2020-04-20 15:33] mrbullwinkle commented on #52486
#please-close

[2020-04-20 15:33] #52486 closed

[2020-04-20 15:38] CharmanderJieniJieni opened #52832 "Terminology about resource"
Reading this page, looks like resources are those created under resource group. But when I look at IAM from Azure Portal at role-assignment tab, I see subscription, resource group also labeled as resource. Could you clarify the resource terminology? Is that only for what is created under resource group or everything is Azure is resource?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-20 15:41] mumian commented on #52747
@mcollier - the switch is still required based on my testing.  I will research and get back to you.

[2020-04-20 15:44] artisticcheese opened #52833 "Why resourcegroup object is mandatory for Assignment to succeed?"
My blueprint generates Resource Group based on parameters as part of assignment, why "New-AzBlueprintAssignment" requires this object to be specified?
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54bc2b59-0178-5a45-c8f7-a1544ded4d7a
* Version Independent ID: fd23e3db-d408-ebdd-b8fc-908ea2f12b47
* Conte

[2020-04-20 15:48] #52833 closed

[2020-04-20 15:51] Git-PBradz opened #52834 "Diagram update needed"
Image still has ‘Data Box Edge’; update to Azure Stack Edge requested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a98cba6-7267-3b45-8403-ff4138c1fec0
* Version Independent ID: e0ef9a1f-1caa-ed3a-257d-13a6e6136bd7
* Content: [Choose an Azure solution for data transfer](https://docs.microsoft.com/en-us/azure/storage

[2020-04-20 15:53] SaurabhSharma-MSFT commented on #52821
@alex-mason-jdas Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 15:53] RyanHill-MSFT commented on #52724
Hi @J-Prashant, could you point out which class you are referring to on this doc?

[2020-04-20 15:56] SaurabhSharma-MSFT commented on #52825
@bkeefeON Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 15:58] SaurabhSharma-MSFT commented on #52828
@qianweicheng Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 15:59] SaurabhSharma-MSFT commented on #52829
@dkotars Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-20 16:01] SaurabhSharma-MSFT commented on #52811
@Bibekg001 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 16:01] mumian commented on #52747
@mcollier - used an older CLI version.  It does work on 2.3.1.  I will update the article.

[2020-04-20 16:06] J-Prashant commented on #52724
Thanks for interest shown. I am referring "MyFirebaseMessagingService" class used here but in example linked here has old version with 2 classes, one for id service and other for message. I found one link "https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/webservices-azurenotificationhub/" where I found updated example and modified it. I am getting test message from Azure. I h

[2020-04-20 16:07] MarileeTurscak-MSFT commented on #52312
Hi Karthik,

It seems you will need to use oid for this, as the sub is unique to each client id. If you need to share data across services, you can use oid+sub+tid since multiple services all get the same oid.

"The subject is, however, a pairwise identifier - it is unique to a particular application ID. Therefore, if a single user signs into two different apps using two different client IDs, thos

[2020-04-20 16:07] MarileeTurscak-MSFT commented on #52312
Hope this helps! If you have further questions feel free to post to Q&A, which we monitor regularly. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-04-20 16:07] #52312 closed

[2020-04-20 16:09] ElmoGonzo opened #52835 "Sample links are out of date"
The link to the samples for Angular single-page and Java web have only a README.md which says they are outdate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens referen

[2020-04-20 16:14] boomalator opened #52836 "Incorrect."
This statement "Not all Microsoft services are available in all locations. Before a license can be assigned to a user, you must specify the Usage location. You can set this value in the Azure Active Directory &gt; Users &gt; Profile &gt; Settings area in Azure AD. Any user whose usage location is not specified inherits the location of the Azure AD organization." does not appear to be true.

The Of

[2020-04-20 16:14] mcollier commented on #52747
@mumian I think the page at https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-cli#handle-extended-json-format may need a similar update.

[2020-04-20 16:15] DCtheGeek commented on #52830
#assign:DCtheGeek

[2020-04-20 16:15] DCtheGeek commented on #52830
@artisticcheese Thanks for the question.  The `{subId}` references the subscription.  This is mentioned earlier in the doc:

`... from a specific subscription represented as {subId}:`

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close.

[2020-04-20 16:15] #52830 closed

[2020-04-20 16:17] xtianus79 commented on #52746
@TravisCragg-MSFT a link to deploying static web files i.e. from Angular, React or Vue would be highly advisable

[2020-04-20 16:18] artisticcheese commented on #52830
Using squiggly brackets have a lot of additional meaning in both powershell and shell scripts. One can think that it's value of variable or expanding environment variable etc. Not sure if there is better way to denounce it but I think it would be better to use real subscriptionID value and there and just note that users needs to replace their specific subscription ID with correct values

[2020-04-20 16:19] RohitMungi-MSFT commented on #52661
@ggerogiokas The support channel is through Azure Help+Support blade from the Azure portal.
If you have a support plan you can raise a ticket. If you do not have a valid plan we can help you to provide a 1 time request to raise the issue.

[2020-04-20 16:20] KrishnaG-MSFT commented on #52833
@artisticcheese Hope you have self resolved and hence closed the issue. Thanks for the update. If there is unresolved question regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-04-20 16:20] DCtheGeek commented on #52830
If it was a PowerShell variable, it would have been `$subId`.  Using real values has their own set of issues... basically people end up cut/paste the code and then it doesn't work and then open tickets.  Appreciate the feedback, though.  We'll take it into consideration for future changes and consideration for how to structure sample code!

[2020-04-20 16:23] mumian commented on #52747
@mcollier - you are right.  Both are updated.  Both articles will go live last this afternoon. I appreciate the help.

#please-close

[2020-04-20 16:23] #52747 closed

[2020-04-20 16:25] nchamberlain05 commented on #51264
any updates on this?

[2020-04-20 16:26] iainfoulds commented on #52515
This limitation is being noted in the docs and the update should publish today.

[2020-04-20 16:26] trdavid20 opened #52837 "Dynamics CRM synchronization section requires update"
Fields listed in the Dynamics CRM sync section are not accurate and after speaking to a product engineer, not sure when all the fields listed were ever supported.
Current information about the fields supported through this sync are listed here :
https://community.dynamics.com/crm/f/microsoft-dynamics-crm-forum/386022/info-azure-active-directory-attributes-that-are-synced-to-dynamics-365-cds

---
#

[2020-04-20 16:37] cynthn commented on #52823
@DavidBerg-MSFT

[2020-04-20 16:44] rdefreitas opened #52839 "Poor Solution"
Not everyone has the luxury of making an immediate jump to Gen 2 and it may be part of a longer migration plan. How about a solution that doesn't require Gen2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee654ee-dffa-08cb-67e2-8bee2034529c
* Version Independent ID: 18ef70b3-8761-5001-6910-858aefadcd51
* Content: [U

[2020-04-20 16:47] gwenbettwy commented on #52710
I would just like to say Thank you.  I did not even expect a response to my feedback based on interactions with other companies.  I will continue to point things out if/when I find them.

Your documentation is pretty darn good.  I am going though just about all of it looking for security things companies could do and I appreciate your response deeply.

Stay safe, stay home
Kind regards,
Gwen

[2020-04-20 16:50] VanMSFT commented on #47257
Hi @StingyJack - Thanks for the feedback. However, we don't list every single product that won't support this authentication method. If you are using Invoke-Sqlcmd, you would want to look at the necessary referenced doc for [Invoke-Sqlcmd](https://docs.microsoft.com/powershell/module/sqlserver/invoke-sqlcmd?view=sqlserver-ps) for all the properties available. `Authentication` is not a property for

[2020-04-20 16:50] #47257 closed

[2020-04-20 16:51] KAnderson opened #52840 "Android studio vs Visual Studio for Android - there is no gradle"
In the Android section step 5 it refers to things to do in Android Studio. What are the equivalent steps for Visual Studio? There are no build.gradle files. Can we just skip this step?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88-3c4d-a148-6

[2020-04-20 16:54] jlichwa commented on #49607
Fixed #please-close

[2020-04-20 16:54] #49607 closed

[2020-04-20 16:55] StingyJack commented on #47257
@VanMSFT - see the linked issue. Active directory integrated didn't work the last time I tried it, only password.

InvokeSqlcmd takes a connection string, and I'm sure that it uses the same ado style connection stuff you and I have both posted.

Also I mean it's important to note that .net core does not work with this keyword, not every program under the sun.

[2020-04-20 17:00] VanMSFT commented on #47257
@StingyJack - We do appreciate the feedback. I will try to make the documentation clearer in the future.

If you are using .Net Core, you will want to use the newer Provider, [**Microsoft.Data.SqlClient**](https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/).

[2020-04-20 17:06] BharathNimmala-MSFT commented on #52832
@CharmanderJieniJieni  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-20 17:08] spelluru commented on #51642
Done. Updated it to 20.

#please-close

[2020-04-20 17:08] #51642 closed

[2020-04-20 17:09] #52783 closed

[2020-04-20 17:09] spelluru commented on #51505
Refreshed the article. Updated screenshots. Added more details.

#please-close

[2020-04-20 17:09] #51505 closed

[2020-04-20 17:13] smstuebe commented on #52813
@nberdy

I just wanted to show you my code and the exception details and then I noticed, that the validation came from the sample code I copied 🤦‍♂️ I removed the validation and I could successfully register a device with a registration id containing upper case letters. So the docs are fine. Sorry 😔

But if this is allowed: Why does the sample contain this validation? Or is this not in your respon

[2020-04-20 17:15] himanshusinha-msft commented on #52839
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-20 17:15] MarileeTurscak-MSFT commented on #50692
I believe you should still be able to apply the App Configuration Data Owner role at the resource level.

![image](https://user-images.githubusercontent.com/13383753/79778765-1f77e580-82ee-11ea-88b4-7d00b466e07f.png)

How long do you wait after adding the role before testing? Have you tried having them open in an incognito window and new browser? Sometimes it takes a little while for the role to p

[2020-04-20 17:16] dpolivy commented on #46251
@warnov FWIW, I did figure this out through other channels. Apparently multiple values is not supported in the portal yet, but you can use Powershell to set multiple values for a rule and then it works just fine.

[code]

[2020-04-20 17:19] GiftA-MSFT commented on #52757
@MachineIntelligenceCN to connect to your workspace, you need to load subscription information from the config.json file. What do you mean by you can't enter the code? Is it giving you errors or are you unable to locate the code? If you run the command shown in the screenshot below, you will find the code to enter for authentication. Hope this helps. Thanks.

![image](https://user-images.githubuse

[2020-04-20 17:19] BharathNimmala-MSFT commented on #51810
@Chai-NED Requesting you to please review the above information and circle back any queries. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-04-20 17:19] #51810 closed

[2020-04-20 17:20] gwenbettwy opened #52841 "References"
Using Wikipedia as a reference is just never a good idea.  The definition you have for RTO is not correct.  It is not even what wikipedia says, which is nothing.  But the reference Wiki points to is ok.  That is: https://www.druva.com/blog/understanding-rpo-and-rto/

RTO is not the amount of time a service can be down. "It is the duration of time and a service level within which a business process

[2020-04-20 17:21] cmmdesai commented on #52074
Completed the update. #please-close.

[2020-04-20 17:21] #52074 closed

[2020-04-20 17:23] mrbullwinkle commented on #48645
the updates to this page have been merged internally, and will go-live later today.

[2020-04-20 17:23] mrbullwinkle commented on #48645
#please-close

[2020-04-20 17:23] #48645 closed

[2020-04-20 17:23] msmbaldwin commented on #46427
Hi, @juyama. The article you referenced was out-of-date, so we've removed it entirely.  Current information is available on https://docs.microsoft.com/en-us/azure//virtual-machines/windows/disk-encryption-overview, which correctly states that "Azure Disk Encryption is not available on Basic, A-series VMs, or on virtual machines with a less than 2 GB of memory."  Thank you! #please-close

[2020-04-20 17:23] #46427 closed

[2020-04-20 17:26] ecfan commented on #41412
Hi @lokijota, thanks for your post, and I'm sorry to hear about your experience. Could you please post this issue on the [Logic Apps forum](https://social.msdn.microsoft.com/forums/en-us/home?forum=azurelogicapps)? The GitHub issues channel is for driving improvements to the documentation.

[2020-04-20 17:27] BharathNimmala-MSFT commented on #52643
@ssjaronx4 Thanks again for reaching out, assigning this issue to our document author @rayne-wiselman to further evaluate the queries and update the document as needed.

[2020-04-20 17:29] BharathNimmala-MSFT commented on #52475
@JordanBurns27 Thanks again for your feedback, we have shared this feedback to our Internal Product teams and will reach out to you if we need any additional information.

[2020-04-20 17:29] nberdy commented on #52813
No worries, I'm glad you got it working!

I don't maintain the sample code, and sometimes samples get missed when we make service changes. Could you please file an issue on the sample asking them to remove the validation? That would be a big help towards making sure others don't hit the same problem you encountered.

[2020-04-20 17:30] robmacf opened #52843 "Office 365 Security and Compliance Center roles?"
It seems that PIM also cannot manage many of the Office 365 Security & Compliance Center roles (some, but not all of these roles are documented here: https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center?view=o365-worldwide) For a complete list of roles, go to https://protection.office.com/permissions on an O365 test tenant.

[2020-04-20 17:30] willturcios1 commented on #45574
Hello @himanshusinha-msft, @KranthiPakala-MSFT I have also encountered the same error. I have the same error with the workaround as @dodzik18. Are we missing some type or parm ?

[2020-04-20 17:32] Grace-MacJones-MSFT commented on #52840
Hi @KAnderson, thanks for the question. We are looking into this

[2020-04-20 17:32] Grace-MacJones-MSFT commented on #52840
@elamalani is there equivalent steps for Visual Studio for this tutorial?

[2020-04-20 17:33] smstuebe commented on #52813
kk. will do. thanks for the quick response.

[2020-04-20 17:33] #52813 closed

[2020-04-20 17:40] dsindona commented on #52684
@santhoshbomma9 you can find new documentation under the [Commercial marketplace in Partner Center node of the TOC](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-overview).
For example [Create an Azure application offer](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-azure-apps-offer). We do plan to deprecated t

[2020-04-20 17:43] Grace-MacJones-MSFT commented on #52058
Hi @PiotrPerak, any update on this issue? Were you able to test out the workaround Syed provided?

[2020-04-20 17:45] viswanadham-k commented on #50422
Hi @townendk
Thank you for giving feedback.
Can you please close this issue.

Thanks

[2020-04-20 17:45] dsindona commented on #52684
#please-close

[2020-04-20 17:45] #52684 closed

[2020-04-20 17:47] sanpil commented on #52585
Thanks for the feedback. We will work on unifying the sample datasets/files/paths used.

[2020-04-20 17:50] aelmanaa opened #52844 "Update a workbook programatically fails in "A workbook with the same name already exists""
Hi

I don't know if it's the right project.
I'm trying to use CI/CD to maintain workbooks. However it odesn't work:

az group deployment create --name xxx --resource-group xxx --template-file myworkbook.json  --parameters myworkbook.parameters.json --mode incremental --debug

I get the following error
[code]

workaround I'm thinking of now is to delete the workbook and recreate it everytime but it

[2020-04-20 17:52] stgeorgi commented on #52799
Yes, it doesn't. Customer will need to change the input parameter that offset.

[2020-04-20 17:54] bleek00 opened #52845 "Disable password protection"
Hi,
Is there a way to disable password protection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301-0c8d-26ff-1deb-6d309aef2f97
* Content: [Dynamically banned passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2020-04-20 17:55] IEvangelist commented on #52322
I'm not sure, I just tried this out now and it worked perfectly. A few things to try might be to verify that the local .wav file actually has audio and is accessible.

[2020-04-20 17:56] SnehaGunda commented on #52107
@vvanloc, the script is fixed, we will now close this issue.

#please-close

[2020-04-20 17:56] #52107 closed

[2020-04-20 17:57] llgjermeni opened #52847 "Azure SQL Database instance pools ARM Template"
Hi,
I am working in a project for the instance pool creation using ARM Template. I already know that I can create Azure SQL Database instance pools using powershell, but my client asked me to create it using ARM Template. I can't find anything how to start with, so if someone can help me with a starting point.

Thanks,
Llazar

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-20 17:57] syedhassaanahmed commented on #52058
@Grace-MacJones-MSFT Once verified, should we add the workaround in the doc itself?

[2020-04-20 18:01] IEvangelist commented on #52322
Hi Oliver,
I'm not sure why this Quickstart isn't working for the customer, I tested it out and it does work. I am going to reassign this issue to you.
#reassign @oscholz

[2020-04-20 18:06] realdaweiyao opened #52849 "When employee from partner org leaves ?"
Suppose this scenario, if company A uses AAD B2B with partner company B.  Lets say employee J from company B gets an AAD account in company A through B2B setup, and works as partner for a while. After then J leaves company B without informing company A.    How would the admins in company A gets automatically informed and then take action to remove the account in AAD of company A?

---
#### Documen

[2020-04-20 18:09] RonnieQuan opened #52850 "Latency in Deployifnotexists"
https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#deployifnotexists-evaluation
The deployment will be triggered around 15 mins, is this by design? by any chance in future release this waiting time will be shortened?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52df521-f6fb-6b7c-11de-7eef01d60

[2020-04-20 18:10] StingyJack commented on #47257
Also, you could have posted that connection string a few months ago for the other article issue we are discussing/discussed. What powershell version is that example?

[2020-04-20 18:12] upmygit commented on #50692
Several hours went past between more than one test, it didn't work. When I granted contributor role to the same group, it worked like a charm, almost instantly.

[2020-04-20 18:18] testad commented on #31078
I fully agree with @jakeives95. I have learned far more from this thread than from the documentation. Both this this article and "Configure hybrid Azure AD join for federated domains" needs to be more clear around which options to use when. Didn't even know about the third article @jakeives95 he just linked to. I will ignore that one considering it has not been edited since 2018.

We just started

[2020-04-20 18:19] StefanIvemo commented on #52660
@mikebudzynski thank you for that information. I look forward to those changes, because if we need to publish the Management endpoint externally as well it's almost the same as External vNet mode.

[2020-04-20 18:20] DCtheGeek commented on #52850
#assign:DCtheGeek

[2020-04-20 18:21] spelluru commented on #48394
This section shows how to do it from ARM:
https://docs.microsoft.com/en-us/azure/event-hubs/configure-customer-managed-key#use-resource-manager-template-to-enable-encryption

I am guessing that the feature isn't enabled for exporting to an ARM template.

[2020-04-20 18:21] DCtheGeek commented on #52850
@RonnieQuan Thanks for the question. This is by design to ensure that all resources are created before checking for other resources to deploy.  If you have a business case for the time to be shorter, please post it [UserVoice](https://feedback.azure.com/forums/915958-azure-governance).

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close.

[2020-04-20 18:21] #52850 closed

[2020-04-20 18:22] Michael9127 commented on #52310
Any updates on this? Is there a different place it would make sense to ask about the "platf" claim values?

[2020-04-20 18:26] lshade opened #52852 "POST purge using search query for user ID"
`search "[username goes here]"` is a helpful command for the data I want to delete, but from my understanding, it can't be used as a filter in the `POST purge` calls for App Insights. Is there a `POST purge` request body to delete all data mentioning a user ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-43

[2020-04-20 18:28] santhoshbomma9 commented on #52684
Thank you @dsindona

[2020-04-20 18:34] rghelman opened #52853 "Page information references code that doesn't exist in the example"
Example: Usually, you write your code to react to a TimeoutException by catching it and retrying the entire operation (as shown in the code above). In my simple code, I'm just calling Task.Delay passing 100 milliseconds each time. But, in reality, you might be better off using some kind of exponential back-off delay instead.
The catch block for the TimeoutException in the example has just a commen

[2020-04-20 18:35] MarileeTurscak-MSFT commented on #52835
@ElmoGonzo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 18:37] zhusulai commented on #46668
@HammadKamran I was running into the same empty response issue. I uninstalled all my previously installed `Az.Resources` modules, reinstalled the preview version then restarted PowerShell. That seems to fixed my issue.

[2020-04-20 18:39] KranthiPakala-MSFT commented on #52760
@mikebernal Sorry for your experience. A support engineer is looking into #51554 . We will keep you posted once we have an update from the support engineer.

In the meantime, if you have a support plan, I would recommend you to please file a SR for deeper analysis on your issue.

[2020-04-20 18:39] FrankGagnon opened #52854 "CosmosClient instances in a multitenant application"
How should a multitenant application using a resource token per tenant handle the CosmosClient lifetime? Currently, we'd have a singleton client with the master key that's used to provide the tokens to the tenants and then the application would keep one client per tenant. What would be the recommended way to handle our scenario?
Thanks

---
#### Document details

⚠ *Do not edit this section. It is

[2020-04-20 18:40] dubnemo opened #52855 "OpenAPI 3.0"
It is not clear from this page if you support OpenAPI 3.0.2 or later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0981461e-1ead-ae0c-aa10-f29d580d2c0d
* Version Independent ID: 261900c6-7dd2-a98b-6228-2627dfa7cd9a
* Content: [Import an OpenAPI specification using the Azure portal](https://docs.microsoft.com/en-us/az

[2020-04-20 18:41] Grace-MacJones-MSFT commented on #52058
@syedhassaanahmed we should be able to add it if it fits the scope of this doc. I will leave it up to the doc author to decide if the workaround should be added. @cephalin what are your thoughts?

[2020-04-20 18:43] bbmilan opened #52856 "waiting to run issue"
Hi,

I've implemented everything as per the tutorial (https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-stream-from-eventhubs) but having the issue "waiting to run" when running the second notebook. Any advice about how to overcome this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c

[2020-04-20 18:47] rohank-proarch commented on #48341
Any update on this?

[2020-04-20 18:49] jlichwa commented on #52062
Added #please-close

[2020-04-20 18:49] #52062 closed

[2020-04-20 19:06] VanMSFT commented on #47257
@StingyJack - The sample will work for PowerShell 5.1 and below. PowerShell 6 and 7 are built on .NET Core, and you will need to use the Provider Microsoft.Data.SqlClient if you want to use the `Authentication` keyword. Connection strings are dependent on the provider being used. Please see https://github.com/PowerShell/PowerShell/issues/11049.

[2020-04-20 19:09] Mike-Ubezzi-MSFT commented on #52854
@FrankGagnon Thank you for your inquiry. Let me verify the best practice for this scenario.

[2020-04-20 19:11] amac44 opened #52859 "Missing closing quotation mark"
In the example under iterationIndexes, the line beginning with "expression" is missing the closing double quote on the end of the expression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference guide for

[2020-04-20 19:12] SaurabhSharma-MSFT commented on #52825
@bkeefeON I am able to upload the gues users using the memberobject.  However, I am getting the same error when trying to upload the user with a upn.
![image](https://user-images.githubusercontent.com/38112130/79790186-358ea180-8300-11ea-931c-0f23f7180736.png)
I am checking internally with the products team if this an issue and update you back over here.

[2020-04-20 19:14] BadFame commented on #52689
How strange... I submitted a new transcription request today:

[code]

And I got sentiment back:

[code]

It is the first time an instance like this one has happened in 5 months of running a production product against the Speech to text batch API.

Unless I hear otherwise, I will reenable the web-hook and my automated product to continue transcribing. We will continue to monitor the behavior of th

[2020-04-20 19:17] burkeholland commented on #52793
Fix is in https://github.com/Azure-Samples/azure-cosmos-db-sql-api-nodejs-getting-started/pull/5

[2020-04-20 19:19] amac44 commented on #52859
And actually I'm confused by that example since it doesn't use iterationIndex function; isn't it supposed to be an example demonstrating its use? Or are you saying without this function, you'd have to follow the example to accomplish what this function does?

[2020-04-20 19:26] Blackmist commented on #52344
Hi @slavizh
The document has been updated to use `hbiWorkspace` when setting the value. The change will be live later today. I've also added a note that it's expected that, once created, you cannot change these settings for the workspace.

[2020-04-20 19:27] redtaped opened #52860 "Add "Concurrency" section similar to that on the Queue storage"
Would be nice to understand how concurrency is handled. I see that max concurrency is configurable in host.json, under serviceBus.maxConcurrentCalls, but it took me a little digging to find it.

Moreover, I'm not sure how the concurrency is determined, and what the relationship to scaling the functions is.

Example: If we get 200,000 queued messages in the service bus queue, will the function scal

[2020-04-20 19:30] bkeefeON commented on #52825
@SaurabhSharma-MSFT  I had to figure out the UPN was distinct from the username.  Using the UPN, I am able to add the users to groups using the GroupImportMembers template.

[2020-04-20 19:33] mrbullwinkle commented on #50097
Thanks for the feedback. We have added a note to the doc to help clarify the scenario you described. The update to the doc is merged internally and will go-live later today.

[2020-04-20 19:33] mrbullwinkle commented on #50097
#please-close

[2020-04-20 19:33] #50097 closed

[2020-04-20 19:39] christiankuhtz commented on #51706
@CongDs thanks for the feedback. can please elaborate on what you're looking for exactly?  is this specific to the portal instructions or also to other docs?

[2020-04-20 19:44] bigdatamoore opened #52861 "What about using Azure Container Instances?"
You can also call an ACI by leveraging a Web Activity or Webhook activity.  See this blog for an example. https://medium.com/asos-techblog/serverless-python-in-azure-data-factory-42f841e06dc3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe1a72b-247b-5797-d55c-645b159052f3
* Version Independent ID: 959cf0a3-c444-9900

[2020-04-20 19:50] mike-urnun-msft commented on #52827
@MadDenker Thank you for your feedback! What is the version of the Azure Functions for Visual Studio Code extension do you have installed? I tried repro-ing but clicking on the "Create New Project" while having an another project prompts me to select the folder for the new project first followed by the subsequent prompts for other details (language/runtime selection, binding template, etc..) about

[2020-04-20 19:52] MarileeTurscak-MSFT commented on #52836
Hi @boomalator ,

Thanks for this! Can you please clarify what you mean by "The Office Admin page will not allow you to assign a license without this set."? What is the prerequisite that you think needs to be added to the document? I want to work with you to get this fixed.

[2020-04-20 19:53] #52689 closed

[2020-04-20 19:59] MadDenker commented on #52827
Ironically I was laid off this morning, so I cannot reproduce it right now, either.  Really weird error it was though.  Absolutely nothing happened after I entered a project name.

[2020-04-20 20:00] YutongTie-MSFT commented on #51277
@richardeakin
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-20 20:00] #51277 closed

[2020-04-20 20:07] TravisCragg-MSFT commented on #52751
@AshishRay unfortunately no, there is almost no documentation about the difference between Azure Stack's SQL offering and Azure SQL. The functionality is quite similar between them, most of the differences are how it is handled in the backend.

[2020-04-20 20:09] gaikovoi commented on #42947
@jcbrooks92 could you comment on the KV FW rules limit ?

BTW, today, one (out of 30) of the function apps in my client environment started to use some random IP to access KV. This IP is not listed in "outboundIpAddresses", not in "possibleOutboundIpAddresses", not as "inboundIpAddress". App configuration shows this:
![image](https://user-images.githubusercontent.com/34320902/79794761-d55c2780-832

[2020-04-20 20:11] mike-urnun-msft commented on #52817
@hochas Thank you for your feedback! We will review and update you with our findings.

[2020-04-20 20:13] mike-urnun-msft commented on #52841
@gwenbettwy Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-20 20:13] TravisCragg-MSFT commented on #52807
@aykay76 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-20 20:24] KranthiPakala-MSFT commented on #52803
@Murthy582 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-04-20 20:27] haakar commented on #9406
@ashoksamal6363 we moved model data collector from azureml.datacollector to azureml-monitoring on May 2018. Could you update your setup code and scoring script to use azureml-monitoring instead? To answer your question, yes, it is available in North Europe.
https://pypi.org/project/azureml-monitoring/

[2020-04-20 20:32] SaurabhSharma-MSFT commented on #52825
@bkeefeON Good to hear that you are unblocked.  I missed that as well but figured out it now.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-20 20:32] #52825 closed

[2020-04-20 20:42] 99six commented on #50685
@VikasPullagura-MSFT  I am having the same issue.  On the Management tab when creating a new CentOS 7.7 VM the Azure Active Directory section is greyed out and a triangle warning box with ‘This image does not support Login with AD’ and cannot select it.  Building In Australia East.

[2020-04-20 20:44] KranthiPakala-MSFT commented on #45574
Hi @dodzik18, @willturcios1 : Thanks for reaching out and sorry you are experiencing this. if you have a support plan, could you please file a SR,  that way a Support engineer can take a deeper look into the issue.  Else please do email below details to AzCommunity@microsoft.com.

Subject of the email: <Attn - Kranthi : GitHub issue title>
Thread URL: <GitHub issue link>
Subscription ID:  <your su

[2020-04-20 20:47] owp3 opened #52863 "MIcrosoft Threat Modeling Tool tag/color/options"
I'm trying to find a way to customize the way the TMT looks. For example, if I have a data flow with a specific data sensitivity, is there a way to change the color of the data path or text box? If so, how and can it be configured to happen automatically based on my template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-20 20:58] ggailey777 commented on #52827
@MadDenker very sorry to hear about your job 🙁
\+ @fiveisprime in case he’s heard of this happening.

[2020-04-20 20:59] MartinJaffer-MSFT commented on #52373
@ppothnis  @impothnis
I have some details for you.

For renaming a file, the minimum set of headers is :

Authorization: Bearer XXXXXX (assuming you use bearer token.)
x-ms-rename-source: myContainerName/myOldFileName

The URL should point to the new name.  There is no '?resource=file'
![image](https://user-images.githubusercontent.com/46612670/79799306-18150400-830f-11ea-9b85-d785b91377d2.png)

[2020-04-20 21:00] xantari opened #52865 "There is no mention of "upgrading" to the new hit highlighting functionality?"
Will it be possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e12a8976-0a1d-c1ea-994d-ddc57d6e468b
* Version Independent ID: cb0473e9-8f4f-3eab-13fc-dd36f7bf2e20
* Content: [How to work with search results - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout#hit-hi

[2020-04-20 21:02] yeahsicy commented on #23301
Scaling up / down would cause "downtime" up to a few minutes because workers would be changed and things need time to get ready.

For scaling out, it should be no "downtime" because it just adds more workers; Scaling in might or might not have "downtime" - It depends on if your apps or stuff loaded into the workers which would be removed.

Hope it helps.

Jerry @yeahsicy

[2020-04-20 21:03] MarileeTurscak-MSFT commented on #52317
For secrets stored in Key Vault, there is no comparison to previous versions or to other secrets in the vault. But I'm not sure if this is the same for the generation of client secrets for AAD service principals. I'm checking back with the product team.

[2020-04-20 21:03] MarileeTurscak-MSFT commented on #52317
My guess is yes, but I'm looking for documentation to confirm.

[2020-04-20 21:03] KranthiPakala-MSFT commented on #52374
Hi @linda33wj , could you please have a look at the feedback from @Will-Hyde. Thanks!

[2020-04-20 21:05] MartinJaffer-MSFT commented on #52373
@ppothnis @impothnis
The minimum requirements for renaming directories is the same.
The x-ms-rename-source value is myContainerName/myOldFolderName
No trailing slash.
No trailing slash in the URL destination either.

[2020-04-20 21:14] willturcios1 commented on #45574
Hi @KranthiPakala-MSFT  thank you so much for your response!
I have sent an email with the information you requested.

Thanks again.

[2020-04-20 21:17] MartinJaffer-MSFT commented on #52373
@ppothnis @impothnis
My apologies for the delay.
The REST API docs are actually part of another repo.
Could you please create an issue at https://github.com/Azure/azure-rest-api-specs/issues
and link this issue and the new one?

[2020-04-20 21:17] #52373 closed

[2020-04-20 21:23] dannyalcedo opened #52867 "Markdown Issue with "Connect to the server by using MySQL Workbench""
I believe on step #2 of this section, there's a markdown issue. Instead of showing a picture with a table, it's just showing the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56945d81-d8a4-3809-2372-1b21f278ec88
* Version Independent ID: e6fa3969-a0ac-c5a1-3655-580c63f09732
* Content: [Connect using MySQL Workbe

[2020-04-20 21:26] SaurabhSharma-MSFT commented on #52828
@qianweicheng I do not see EWS and dates mentioned in the current documentation however as per the [Microsoft Techcommunity forum](https://techcommunity.microsoft.com/t5/exchange-team-blog/upcoming-changes-to-exchange-web-services-ews-api-for-office-365/ba-p/608055) the the Basic Authentication for EWS to access Exchange Online will be fully decommissioned on Oct 13th 2020 and yes, it will only Mi

[2020-04-20 21:28] mamccrea commented on #51679
Hi @kristerkarto - this appears to be a duplicate of issue https://github.com/MicrosoftDocs/azure-reference-other/issues/115. I am going to close this issue and continue the discussion there. If this is not a duplicate and I have closed the issue in error, please reopen the issue.

#please-close

[2020-04-20 21:28] #51679 closed

[2020-04-20 21:31] Rodrigossz opened #52868 "Incorrect information about DWs"
Hello! I may be wrong, but the sentence below has a mistake.

Star Schema DWs will always have a time dimension, allowing apps/users to query past situations. What do you think?

In traditional data warehouse scenarios, the concept of snapshot isn’t possible because the data warehouses aren’t designed to incorporate it and the data only provides a current view of what’s happening.

---
#### Docume

[2020-04-20 21:34] MayMSFT commented on #52678
Hi @CeciAc , dataset is our recommended way to access your data in training. It gives you management, tracking, versioning capability in your ML workflow. The relevant documentation is linked in the comment above and pls let us know if you have any concern. Thanks!

[2020-04-20 21:43] mganeshphani commented on #51059
Thankyou Bahram. hope the documentation precedes the feature
releases/changes going forward. between i saw the rest api schema for
eventgrid has a preview version and planned changes for feature, very
exciting to see these changes coming.

On Thu, Apr 16, 2020 at 2:03 PM Bahram Banisadr <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2020-04-20 21:50] mamccrea commented on #50023
We're still working on this. Thanks for your patience.

[2020-04-20 21:51] KirillOsenkov opened #52869 "Document .auth URLs such as /.auth/me, /.auth/refresh, /.auth/logout"
If I'm writing a static site (HTML + JS) it's not clear how to show the logged in user name, and how to implement the Logout button.

Turns out it's pretty easy: to get the current user name just make a request to https://mysite.azurewebsites.net/.auth/me and parse the Json that comes back. To log out, just have a hyperlink to https://mysite.azurewebsites.net/.auth/logout.

These don't seem to be

[2020-04-20 21:54] MarileeTurscak-MSFT commented on #52654
As stated in the error message, this can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. The IT administrator of the company with xyz domain (email@xyz.onmicrosoft.com) has to give consent on behalf of the whole company so that the users of that company will be able to use your application.

 It can also happen if the a

[2020-04-20 21:55] MarileeTurscak-MSFT commented on #52654
If you're still having this issue, feel free to reach out on [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html) or send my an email at AzCommunity@microsoft.com (including your subscription ID), and I will be glad to continue the discussion.

[2020-04-20 21:55] #52654 closed

[2020-04-20 21:56] KirillOsenkov commented on #52869
FYI @cgillum @ConnorMcMahon would be nice to have an official Doc or a sample of the simplest possible website that shows the currently logged in user name and a Logout button.

[2020-04-20 22:00] CelesteDG commented on #42631
#reassign:@brandwe Reassigning to Brandon to help answer

[2020-04-20 22:01] CelesteDG commented on #42546
#reassign:@brandwe Reassigning to Brandon to help answer

[2020-04-20 22:03] dsindona commented on #46813
@rstorgaard sorry for the delay. The top of this article links to the Payout summary (Payout reports) article. Which has a simple 2-step procedure to [access the payout summary pages](https://docs.microsoft.com/en-us/windows/uwp/publish/payout-summary#access-the-payout-summary-pages). The instructions are simple, however let me know if you think a screenshot is still needed.

[2020-04-20 22:04] SnehaGunda commented on #52793
@rajukmr The sample works fine now, I just tested it.

![image](https://user-images.githubusercontent.com/14284405/79804105-29164300-8318-11ea-96a2-dd9f9f7ff597.png)

We will now close this issue if there aren't further questions.

[2020-04-20 22:05] SnehaGunda commented on #52793
#please-close

[2020-04-20 22:05] #52793 closed

[2020-04-20 22:06] BrianLevenson commented on #44173
@rogeraustin - i apologize for the delay, and i'm now in contact with the team that owns this tool and policy. we will be making some updates to the tool based on your experience and feedback. were you able to workaround the error and publish your offer?

[2020-04-20 22:07] BrianLevenson commented on #42779
@santhoshbomma9 - this is a great question, and i am still looking into the answer. my expectation is that the plan change will fail, and i will confirm or correct this expectation asap.

[2020-04-20 22:12] ahelwer opened #52871 "After reading this page I have no idea how to establish correlation in .NET"
The .NET section just lists a bunch of historical things and then never tells you what to use. It should have clear instructions for how to write a dotnet core program which creates a HTTP request against an ASP.NET web server, where the resulting telemetry logs on client & server are correlated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-04-20 22:14] CtrlDot opened #52872 "Expand Example for Event Hubs"
The example just shows passing in a parameter, for example, eventHubAuthorizationRuleId, but does not show or provide detail on what that rule ID actually is.

More comprehensive example would be nice here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049

[2020-04-20 22:15] KirillOsenkov commented on #52869
Also needs a link to this:
https://github.com/MaximRouiller/MaximeRouiller.Azure.AppService.EasyAuth

[2020-04-20 22:19] mamccrea commented on #47164
Hi @sandeep8530 - are you asking if you can use the python library to connect to EventHubs instead of the connector?

[2020-04-20 22:22] ggailey777 commented on #51116
@ravick4u please reopen this issue if you still have questions. Thanks.
#please-close

[2020-04-20 22:22] #51116 closed

[2020-04-20 22:25] aka5h2017 commented on #51888
Hi @devlife, please see the link at - https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.1/dev. This is where the rules are maninainted. Please select the appropriate branch corresponding to the version CRS rule select selected in the WAF configuration. E.g. for CRS 3.1 "Request content type is not allowed by policy" is - https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/cf57fd53de

[2020-04-20 22:26] mamccrea commented on #52044
@jaokeeffe - thank you for the feedback. I've updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-04-20 22:26] #52044 closed

[2020-04-20 22:30] KranthiPakala-MSFT commented on #52696
@slopezv2 I was able to install com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.15 successfully without issue.

![image](https://user-images.githubusercontent.com/50185738/79805317-b3f83d00-831a-11ea-9ed9-496bcb56835f.png)

Could you please retry and let us know if you still experience the issue.

[2020-04-20 22:31] jonx commented on #43744
I have a similar error and cleaning everything up doesn't help:
[code]
Anything else I can try?

[2020-04-20 22:33] yingmu52 commented on #47395
@Karishma-Tiwari-MSFT any updates would be appreciated, thanks. :)

[2020-04-20 22:35] JimacoMS3 commented on #38963
Hi @JawadJaber ,

Thanks again for your feedback. After consulting with our product team, I changed the bullet point to read as-follows:

**Field gateways**. MQTT and HTTPS support only a single device identity (device ID plus credentials) per TLS connection. For this reason, these protocols are not supported for [Field gateway scenarios](https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-e

[2020-04-20 22:36] mamccrea commented on #52729
I have updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-04-20 22:36] #52729 closed

[2020-04-20 22:42] jonx commented on #43744
Actually, I just found the solution here: https://zimmergren.net/after-upgrading-azure-functions-to-v3-and-you-get-cannot-bind-parameter-log-to-type-ilogger-make-sure-the-parameter-type-is-supported-by-the-binding-and-how-you-can-fix-it/

You "just" have to update the Azure Function project from v2 to v3:
[code]
Did that, re-published the project, works like a charm.

[2020-04-20 22:45] mamccrea commented on #52085
Thanks for the feedback! Which part of the image appears to be out of date?

[2020-04-20 22:49] YutongTie-MSFT commented on #52381
@IEvangelist Hi David, could you please help us verify the supporting language part? Thanks.

[2020-04-20 22:52] jeeszacharia opened #52874 "Could not find documentation for userIdentity, userIdentityCollection datatypes claimsTransformations."
For identity linking scenario, the sample policy has some claimsTransformations specific to userIdentityCollection and userIdentity which is missing in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f167f4c9-f5ea-edde-579b-f2c7980349ea
* Version Independent ID: 688c71d2-421a-41de-4b74-cb1ca498a33b
*

[2020-04-20 23:00] BharathNimmala-MSFT commented on #52872
@CtrlDot Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-20 23:01] BharathNimmala-MSFT commented on #52852
@lshade Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-20 23:04] boomalator commented on #52836
If you use the Microsoft 365 Admin page, not because you’re active directory assign a license page, and you attempt to assign an office license to a user that does not have the usage location attributes that, you receive a pop-up error, and you cannot continue the process.  By that I mean you cannot click “next” or whatever the button is labeled. You cannot continue to assign a license, if the use

[2020-04-20 23:06] boomalator commented on #52836
I have seen that Siri did a terrible job of transcribing what I was trying to say.

I will try to clean that up a little bit when I am by a computer. My apologies.

Mobile: big fingers, little buttons, and don't get me started about autocorrect.

On Apr 20, 2020, at 5:03 PM, Byron P. Hynes <byron@hynes.ca> wrote:

﻿ If you use the Microsoft 365 Admin page, not because you’re active directory assig

[2020-04-20 23:07] mike-urnun-msft commented on #52855
Hello @dubnemo - Thank you for your feedback. Please review following announcement: [Announcing the preview of OpenAPI Specification v3 support in Azure API Management](https://azure.microsoft.com/en-us/blog/announcing-the-preview-of-openapi-specification-v3-support-in-azure-api-management/)

[2020-04-20 23:08] mike-urnun-msft commented on #52859
@amac44 Thank you for your feedback! We will review and update as appropriate.

[2020-04-20 23:09] mike-urnun-msft commented on #52860
@redtaped Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-20 23:11] mamccrea commented on #52839
We are currently investigating this issue.

[2020-04-20 23:12] mamccrea commented on #52431
We are currently investigating this issue.

[2020-04-20 23:12] mamccrea commented on #52233
We are currently investigating this issue.

[2020-04-20 23:13] mamccrea commented on #51889
Thanks for bringing this to our attention. We're updating the doc.

[2020-04-20 23:13] mamccrea commented on #51851
We are currently investigating this issue.

[2020-04-20 23:16] mamccrea commented on #52293
Hi @jackt-moran. It is supported to have multiple A/D function calls in the same query. What results are you seeing?

[2020-04-20 23:19] CodyMorris commented on #16566
Is there a resolution for this

[2020-04-20 23:19] MarileeTurscak-MSFT commented on #52824
@namithakrshn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:24] MarileeTurscak-MSFT commented on #52837
@trdavid20
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:25] SaurabhSharma-MSFT commented on #52863
@owp3 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:26] SaurabhSharma-MSFT commented on #52874
@jeeszacharia Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:27] SaurabhSharma-MSFT commented on #52843
@robmacf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-20 23:28] SaurabhSharma-MSFT commented on #52845
@bleek00 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:29] casocha commented on #26050
@Mexicoder We're not deprecating the Track Availability API. No alternative recommendations. We're currently working on the next version of Azure Monitor Availability that should be in Public Preview this summer

[2020-04-20 23:29] SaurabhSharma-MSFT commented on #52849
@realdaweiyao Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-20 23:30] philosophicles commented on #45257
Forgive me if I'm missing something obvious, but isn't the problem here that the root folder (generally being named `__app__`) does not contain an `__init__.py` file?

Python's import system needs an init file to exist in every level of a package directory hierarchy. Whether we use absolute or relative refs, we're asking the import system to traverse via the top-level `__app__` folder at some poin

[2020-04-20 23:31] philosophicles commented on #45257
See also #45036 which corroborates what I think.

[2020-04-20 23:40] KranthiPakala-MSFT commented on #52718
@michalmar Confirmed with internal team that it supports .Net Standard 2.0.

[2020-04-20 23:40] #52718 closed

[2020-04-20 23:42] artisticcheese opened #52876 "How do you control browser being used by Azure File Sync during registration process"
Browser which pops up during registration is not supported by my company. I assume it's using outdated version of control. How do you control this to allow to proceed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Con

[2020-04-20 23:48] TravisCragg-MSFT commented on #52823
@edemen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-20 23:50] TravisCragg-MSFT commented on #52844
@aelmanaa can you post a link to the doc you are referring to?

[2020-04-20 23:50] SaurabhSharma-MSFT commented on #52674
@Donovand4 ok, got it.  I missed to check the second code section and you are correct casting is not required.  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-20 23:50] #52674 closed

[2020-04-20 23:51] TravisCragg-MSFT commented on #52847
@llgjermeni can you post a link to the doc you are referring to?

[2020-04-20 23:54] dcbrown16 commented on #40681
We could use a good statement about this in CSS as well. Has Lichun's alias changed? @SumanthMarigowda-MSFT please find someone to answer.

[2020-04-20 23:55] youngbink commented on #52431
@dheerajkumar-solanki Df caching should be working. I just re-verified that df caching works with some examples I had. I am wondering if there's an edge case or something where df caching isn't correctly working.

Could you please share your code or some example code so that we can reproduce this unexpected issue?

[2020-04-20 23:56] #52867 closed

[2020-04-20 23:57] ajlam commented on #52867
@dannyalcedo - thanks for catching this! I've fixed the formatting and it should publish in the next 24 hours.

[2020-04-21 00:02] cynthn commented on #52823
@TravisCragg-MSFT Let's get engineering to weigh in before assigning it to me for doc work.

[2020-04-21 00:02] azghafar opened #52877 "IOPS"
Hi there,

My customer is referring to this page for the SQL Hyperscale Pricing, referring to "IOPS not yet charged" on this page the are asking if IOPS will be charged in the future.

Thanks,
Azadeh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd7dc24-fc18-0670-8287-70c952aaa60a
* Version Independent ID: 75e5f6eb-0

[2020-04-21 00:06] TravisCragg-MSFT commented on #52823
@cynthn I have taken back ownership until we have a better direction.

[2020-04-21 00:07] KranthiPakala-MSFT commented on #52755
@RonnieQuan We have assigned the issue to the content author to further review the ask and provide an update as appropriate.

[2020-04-21 00:07] DavidBerg-MSFT commented on #52823
Runs is the number of times the test was run to come up with the average score.  Base Rate is the name SPEC gives to the score that represents the results of the benchmark (in this case the rate at which work is performed, the number has no significance other than in comparison to other base rate scores).  Thus Average Base Rate is the average of the base rate score over the number of runs.

[2020-04-21 00:07] KranthiPakala-MSFT commented on #52755
@Minewiskan Could you please have a look at the feedback from @RonnieQuan . Thanks!

[2020-04-21 00:08] DavidBerg-MSFT commented on #52823
I posted a comment:

Runs is the number of times the test was run to come up with the average score.  Base Rate is the name SPEC gives to the score that represents the results of the benchmark (in this case the rate at which work is performed, the number has no significance other than in comparison to other base rate scores).  Thus Average Base Rate is the average of the base rate score over the n

[2020-04-21 00:17] Mike-Ubezzi-MSFT commented on #15398
**Providing an update:** .NET V3 SDK provides a bulk support feature. [This](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-migrate-from-bulk-executor-library) article describes the required steps to migrate an existing application's code that uses the[ .NET bulk executor library](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net) to the [bulk support](https://docs.mi

[2020-04-21 00:21] madhanan commented on #43731
Is it possible to provide some example ?

[2020-04-21 00:26] RonnieQuan commented on #52578
Thanks for the reply.
My question is about the private endpoint of storage account, the target.
If I don't configure the storage account firewall rules, do'n vnet configuration in storage account networking settings.

Can I still access to this private endpoint storage account from anywhere within my private network.

In other words, what's the best practice for storage account firewall rules conf

[2020-04-21 00:32] MarileeTurscak-MSFT commented on #52408
Hi @mrvladis ,

Thanks for this feedback! I made a pull request to add the missing step: https://github.com/MicrosoftDocs/azure-docs-pr/pull/112083

If you think more needs to be added, feel free to make a pull request to the article yourself and we can credit you for it.

CC: @msimart

[2020-04-21 00:32] #52408 closed

[2020-04-21 00:34] Mike-Ubezzi-MSFT commented on #48199
@theheatDK The document that @danimir has provided does explain the metrics available for which alerts could be configured for and possible actions to take, and for [configuring webhooks in alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-webhooks).
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will

[2020-04-21 00:34] #48199 closed

[2020-04-21 00:36] rogeraustin commented on #44173
This is not (yet) an issue for me as I am yet to publish an offer - I am waiting on others in my company to complete the partnering arrangements needed to publish.

[2020-04-21 00:38] v-pethur opened #52878 "Request to change "example VM" listed for each Meter. (Also ties in to the other feedback #42340, "Why are there duplicates""
Hello, I was helping an Internal customer understand this document, and he also was asking "why are there duplicates"  After investigating, I have found out, that these MeterIDs are legacy carry overs, with each MeterID corresponding to a specific number of vCPUs.
----------------------
Red Hat Enterprise Linux (1 core) 2f96d035-3bac-46d6-b2bc-c6daa0938536
Red Hat Enterprise Linux (2 core) 077a07b

[2020-04-21 00:38] Mike-Ubezzi-MSFT commented on #52598
@sdg002 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 00:38] #52598 closed

[2020-04-21 00:39] Mike-Ubezzi-MSFT commented on #52701
@chaneyw We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 00:39] #52701 closed

[2020-04-21 00:47] v-pethur opened #52879 "Request to change example in "Discount applies to different VM sizes" section to use 1-4 vCPU→ratio１and 5+vCPU →ratio 2.166667"
Request to change the example used in the "Discount applies to different VM sizes" section
1-2 vCPU　→ratio１
3-4vCPU 　→ratio 2
5+vCPU      →ratio2.6

to an example that better matches the document.
1-4 vCPU　→ratio１
5+vCPU 　→ratio 2.166667

The 3 scenario example is used as an example to illustrate VM flexibility, and this it does very well, but this doc only has 2 ratios in each section (unlike the

[2020-04-21 00:49] dcbrown16 commented on #49433
Is there any progress on this research, @mrbullwinkle? We have another case asking how to whitelist traffic to Application Insights effectively.

[2020-04-21 00:51] kummanish commented on #52808
Could you please explain what is missing there ?

[2020-04-21 00:52] kummanish commented on #52707
Could you please provide an update on this ?

[2020-04-21 00:52] RonnieQuan opened #52880 "Credential for Storage Account - Diagnostic Extension"
When install the extension using ARM, I provide either the storage account key or SAS, what about the ongoing basis? Does the extension use the same credential from the initial installation to access the storage account whenever needs to send the log?

What happen if I generate new storage account key, or SAS expired, I need to reinstall the extension again just to refresh the storage account cred

[2020-04-21 00:56] Mike-Ubezzi-MSFT commented on #52847
@llgjermeni I did some investigation myself and PowerShell is the only programmatic method for which to deploy an Instance Pool. The document: [Azure SQL Database instance pools (preview) how-to guide](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-instance-pools-how-to) details all the PowerShell cmdlets and the instance pool operations. The [Azure Resource Manager templates for

[2020-04-21 00:58] RonnieQuan opened #52881 "Storage Account SAS"
Based on this section https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#protected-settings
the extension stored the SAS key, then when SAS expire, the extension stops working and can not send the log to the storage account?
Is there any document talking about SAS key expire, we need to update the extension or re-install the extension?
Is there a RABC role option

[2020-04-21 01:01] MarileeTurscak-MSFT commented on #52457
Hi @brianreidc7

I agree that the language should be stronger.

It's both. They're incompatible, and for that reason they are not recommended. I made a pull request to update the sentence to, "These different versions are incompatible when installed side by side and doing so will prevent the Agent Updater service from contacting Azure for software updates, so you should never install Azure AD Pass

[2020-04-21 01:01] #52457 closed

[2020-04-21 01:06] RonnieQuan commented on #52568
Thanks for your reply.

Actually my question is about RBAC permission, what roles or permission are available, what features are tied to which permission or role.

  | privateEndpoints |  
-- | -- | --
Action | Microsoft.Network/privateEndpoints/pushPropertiesToResource/action | Operation to push private endpoint property updates from NRP client
Action | Microsoft.Network/privateEndpoints/read | G

[2020-04-21 01:07] MarileeTurscak-MSFT commented on #52448
I made a pull request to update this. Thanks for the feedback. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112089

[2020-04-21 01:07] #52448 closed

[2020-04-21 01:08] JimmyLS opened #52883 "Doc errors"
For Basic SAML configuration part (Sign-on URL, Reply URL) , while I can see the doc update here: https://github.com/MicrosoftDocs/azure-docs/pull/47293/commits/b576cc9b062866460339baae8b64e32add4723e1?short_path=b3b21f8#diff-b3b21f860547c851a4f2e027e853b176, but actually the whole doc didn't get updated.

Further more, the update said "You can retrieve settings by using the SAML Toolkit SAML Conf

[2020-04-21 01:16] RonnieQuan commented on #52774
Thank you! I'm looking for RBAC option, when I use SAS key or Storage Account key, if key is rotated or SAS key expire, the extension stops working, not sure if this is by design, or I misunderstand the product feature.

[2020-04-21 01:19] #50422 closed

[2020-04-21 01:25] SnehaGunda commented on #51147
@akirajay Thanks for pointing out the issue. I submitted a PR to fix the sample to match what's in Github.

[2020-04-21 01:25] #51147 closed

[2020-04-21 01:29] andrewatfornax opened #52884 "Make system-assigned identity requirement clearer."
I came to this page via links from dealing with migration from classic alerts. As a result, I completely skipped over the section on creating a test VM, because that wasn't relevant to me (I already have loads of VMs). However, as a result, I missed the part that the VM requires a system-assigned identity for this to work.

Making that part of the documentation clearer for users wanting to migrate

[2020-04-21 01:35] RonnieQuan opened #52885 "Undocumented Domains?"
We are in the process of a POC with Microsoft consultants, currently the gateway is not working, per our firewall log, we got following deny, does the gateway need to access following sites?
mscrl.microsoft.com      Deny
ocsp.digicert.com           Deny
crl.microsoft.com           Deny
crl3.digicert.com            Deny

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-21 01:35] jcbrooks92 commented on #42947
@gaikovoi
If the app is running on consumption you're most likely running into the scenario below. If its dedicated there are some other scenarios you could be hitting.

_When a function app that runs on the Consumption plan is scaled, a new range of outbound IP addresses may be assigned. When running on the Consumption plan, you may need to whitelist the entire data center._
https://docs.microsof

[2020-04-21 01:36] SnehaGunda commented on #52804
@BartR96 Thanks for pointing out the issue, I submitted a PR to fix it. Changes will be live tomorrow. We will now close this issue.

#please-close

[2020-04-21 01:36] #52804 closed

[2020-04-21 01:39] MarileeTurscak-MSFT commented on #52679
Thanks for this. I noticed that link was removed from other related documentation and made a pull request to remove the reference from the sample. https://github.com/MicrosoftDocs/samples/pull/1246

[2020-04-21 01:39] #52679 closed

[2020-04-21 01:43] MarileeTurscak-MSFT commented on #52835
Thanks! I made a pull request to update these with the v2 links. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112093

[2020-04-21 01:43] #52835 closed

[2020-04-21 01:44] TravisCragg-MSFT commented on #52578
@RonnieQuan Azure Private Endpoint allows you to control access via the storage firewall just like a service endpoint, but you can also use Network Security Groups on the subnet or the NIC to limit traffic as well.

I do not believe we have a published best practice, so the amount of security needed is up to you. Typically having a Storage Account being restricted to only a Virtual Network is enou

[2020-04-21 01:44] mrbullwinkle commented on #49433
@dcbrown16 thanks for re-pinging. Sadly I still haven't gotten a response back internally.

I can re-ping the folks internally, but in the interest of time I manually downloaded the json for the public service tags and did a quick spot check against the docs. It looks like profiler and snapshot debugger are covered under the Azure Monitor service tag so my primary concern seems to not be an issue.

[2020-04-21 01:46] SLdragon commented on #52715
Hi, @RotateAt60MPH , because debug Edge project in VS and VSCode are slightly different, and VSCode do not strictly need to install vcpkg, so our document do not mention that. Just as your suggestions, if user want to browse definitions, then it need to include the path in VSCode, and I will discuss with my team members about this, thank you very much!

[2020-04-21 01:48] MarileeTurscak-MSFT commented on #52836
Thank you! I'm actually impressed that Siri pulled that off. :)

[2020-04-21 01:49] TravisCragg-MSFT commented on #50796
@kuulemart I cannot provide a timeline on when this will be added to the doc, but it will be added at some point in the future.

[2020-04-21 01:55] raid-jtaber commented on #52749
Good lord, please let there be an answer for this.  This Remote Desktop Client has a ways to go before I can install it in a shared environment or use it for multiple subscriptions.

Thanks!

[2020-04-21 01:56] icocwp opened #52887 "Reference App"
Can you share the sample codes of the app referenced in the video?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a8f-ca9a-ec92-d088f43e0401
* Version Independent ID: a56f0f32-4fb5-55b5-54d4-d26b39384316
* Content: [How to delegate user registration and product subscription](https://docs.microsoft.com/en-us/a

[2020-04-21 01:56] VictorioBerra commented on #52679
Is the PR deleted? Link gives back 404.

[2020-04-21 01:59] raid-jtaber commented on #35670
@StephanElst  - Did you ever get an answer to this....?  I'm really stuck with a newer windows 10 client experiencing the same issue.  I never seen a solution here.

John

[2020-04-21 02:04] BharathNimmala-MSFT commented on #52634
@tksh164 Appreciate your feedback, assigning this issue to our document author @rayne-wiselman to further evaluate the feedback and take it forward with the script owners to reflect the feedback accordingly.

[2020-04-21 02:04] averkinderen opened #52888 "Identities is not under security but under developer portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Authorize developer accounts by using Azure Active Directory - Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/

[2020-04-21 02:25] BhargaviAnnadevara-MSFT commented on #52871
@ahelwer Thanks for the feedback. I have assigned the issue to the content author to evaluate the enhancement and update as appropriate.

[2020-04-21 02:26] neeleshray-msft commented on #52883
@JimmyLS Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-21 02:27] neeleshray-msft commented on #52883
@jeevansd Could you verify this ?

[2020-04-21 02:34] MarileeTurscak-MSFT commented on #52403
Hello,

Thanks for this feedback! I agree with you and made a pull request to add instructions for upgrading:

1. Sign in with an administrator account on your Azure AD Connect server and launch your browser.
2. Visit aka.ms/DownloadAADConnect to start the download of the upgrade.
3. Click "Run" to start the upgrade process.
4. The upgrade process will start the upgrade of the latest version of Az

[2020-04-21 02:34] #52403 closed

[2020-04-21 02:37] James-McIntosh-NZHG opened #52889 "Incorrect script - "PowerShell reporting on users registered for MFA""
The two scripts you have in the text is incorrect:

Get-MsolUser -All | Where-Object {$.StrongAuthenticationMethods -ne $null -and $.BlockCredential -eq $False} | Select-Object -Property UserPrincipalName

Get-MsolUser -All | Where-Object {$.StrongAuthenticationMethods.Count -eq 0 -and $.BlockCredential -eq $False} | Select-Object -Property UserPrincipalName

"$.StrongAuthenticationMethods : The t

[2020-04-21 02:40] BharathNimmala-MSFT commented on #52884
@andrewatfornax Thank you for sharing the feedback, we will look further into it and see how we can enhance the documentation to make this more clear.

[2020-04-21 02:42] jaydarius opened #52890 "Image resolutions - poor"
Hi all,

It is difficult to read the text in the images for this doc.  Please provide higher resolution images.  Hope this helps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8103add1-c96f-9b19-e071-ac1709a124e2
* Version Independent ID: ffb32c1e-52dc-19fe-1d6f-938e15eaf5f3
* Content: [Azure Application Insights User

[2020-04-21 02:43] boomalator commented on #52836
Every once in a while, Azure/O365/M365 shows a glaringly mind-dead seemingly obvious gap. Of the thousands of companies in AAD, I would submit that the majority of companies have the majority if not all of their users in one country (region).

Because this tenant is hybrid, most of the scripted examples don’t work . In order to “default” users to being in Canada, I had to run a powershell script t

[2020-04-21 02:48] Mike-Ubezzi-MSFT commented on #52868
@Rodrigossz Thank you for bringing this to our attention. The specific section this is found is [Time series analytics over historic data](https://docs.microsoft.com/en-us/azure/cosmos-db/analytics-usecases#time-series-analytics-over-historic-data) and is made possible by the Jupyter Notebook (Preview) feature. Please see the following Tutorial: [Create a notebook in Azure Cosmos DB to analyze and

[2020-04-21 03:04] BharathNimmala-MSFT commented on #51744
@dgancho With latest version of helm (3 and above) use of --name seems to be removed. We appreciate you bringing this to our notice , i have raised a PR to add a note to clarify this. Once reviewed and approved the document will update accordingly later in the week. We will also work with our document authoring team to have a backlog item to update the commands to Helm V3 accordingly across the Az

[2020-04-21 03:04] #51744 closed

[2020-04-21 03:12] ram-msft commented on #52506
@luisflkn Please follow this sample to verify the faces that takes ID from DetectedFace or PersistedFace and either another face ID or a Person object and determines whether they belong to the same person.
https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/Face/FaceQuickstart.py#L235
https://github.com/Azure-Samples/cognitive-services-sample-data-files/tree/mast

[2020-04-21 03:13] dcbrown16 opened #52892 "Metric dashboard refresh rate"
"Metrics refresh depends on time range with minimum of five minutes. "
I have a metrics dashboard with 1 minute granularity (last 30 mins) that is refreshing every minute. Is the quote above outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eae3c08-ec6d-7582-d4d9-59de75c0e252
* Version Independent ID: 97123dec-

[2020-04-21 03:27] SnehaGunda commented on #42106
Great discussion, I guess what @simonvane said is true. However, I would let @deborahc confirm as she is our SME on the autopilot feature.

I will clarify the docs when I have more details.

[2020-04-21 03:29] JuneZhao opened #52894 "Private AKS cluster with ACR intgration"
In you doc for limitation of your integrating ACR with AKS, below is mentioned:

For customers that need to enable Azure Container Registry to work with private AKS, the Container Registry virtual network must be peered with the agent cluster virtual network.

How this is related? ACR doesnt have virtual net work by nature, can you explain what this sentence means?

---
#### Document Details

⚠ *D

[2020-04-21 03:29] PramodValavala-MSFT commented on #52859
@amac44 Thanks for catching that! We have worked up a PR to address this.

As for the example itself, I believe you are right that it showcases the functionality the function aims to achieve if it were not present. @ecfan Could you please confirm?

[2020-04-21 03:38] CHEEKATLAPRADEEP-MSFT commented on #52885
@RonnieQuan  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-21 03:43] ram-msft commented on #52509
@kentontroy Thanks for the details.can you please add more details about the use case that you are trying.
@aahill can you please check on this.

[2020-04-21 03:48] ram-msft commented on #52529
@slavizh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-21 03:52] DixitArora-MSFT commented on #52888
Hi @averkinderen Thanks for reaching out. We will review and update as appropriate.

[2020-04-21 03:52] DixitArora-MSFT commented on #52887
Hi @icocwp Thanks for reaching out. We will review and update as appropriate.

[2020-04-21 03:55] SnehaAgrawal-MSFT commented on #52869
@KirillOsenkov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-21 03:58] CHEEKATLAPRADEEP-MSFT commented on #52856
@bbmilan To remediate an affected notebook without restarting the cluster, go to the notebook’s Clear menu and select Clear State:

![image](https://user-images.githubusercontent.com/44426401/79823893-70e9a880-83b2-11ea-8072-afddd6d3bd5e.png)

Hope this helps.

[2020-04-21 04:00] CHEEKATLAPRADEEP-MSFT commented on #52607
@bryan238  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 04:00] #52607 closed

[2020-04-21 04:07] msftkenneth commented on #39364
Seems it's gone again
I cannot find anything on pricing page and also documentation.

And Zone 4 definition has not been stated in anywhere too.

[2020-04-21 04:15] ram-msft commented on #52861
@bigdatamoore Thanks for the question. We will update you shortly.

[2020-04-21 04:16] SwathiDhanwada-MSFT commented on #52826
@microkost  Thanks for your comment. We will review and get back to you shortly.

[2020-04-21 04:18] SwathiDhanwada-MSFT commented on #52878
@v-pethur Thanks for your comment. We will review the issue and get back to you shortly.

[2020-04-21 04:21] SwathiDhanwada-MSFT commented on #52879
@v-pethur Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-21 04:22] SwathiDhanwada-MSFT commented on #52890
@jaydarius  Thanks for your feedback

@NumberByColors Can you please review the request and update the document accordingly?

[2020-04-21 04:24] SwathiDhanwada-MSFT commented on #52892
@dcbrown16  Thanks for your comment. We will review the issue and get back to you shortly.

[2020-04-21 04:25] CHEEKATLAPRADEEP-MSFT commented on #52536
@abbgrade Yes, if you have Azure SQL is deployed in a Vnet, it requires on-premise data gateway.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 04:25] #52536 closed

[2020-04-21 04:31] AjayKumar-MSFT commented on #51974
Rafael, We will close this out, but if you feel you need more information please just let us know.

[2020-04-21 04:31] #51974 closed

[2020-04-21 04:31] neeleshray-msft commented on #52889
@James-McIntosh-NZHG Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-21 04:33] AjayKumar-MSFT commented on #52865
@xantari, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-21 04:37] imsiddsingh commented on #47957
It seems to be having some issues with azure function v2 (Functions SDK version 3.0.6. .net core 3.0). Getting this runtime error -  System.Private.CoreLib: Exception while executing function: MVSendQuantToEventhub. AE.Fusion.Functions: Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified. System

[2020-04-21 04:41] SnehaAgrawal-MSFT commented on #52765
@capraynor Thanks again for the feedback! You may refer to this for clarification on this. https://docs.microsoft.com/en-us/azure/app-service/configure-common#containerized-apps

We will close this out but if you feel you need more information please just let us know.

[2020-04-21 04:41] #52765 closed

[2020-04-21 04:44] SnehaAgrawal-MSFT commented on #52723
@Chitra27 Since we didn't hear back from you We will now close this issue. Thanks.

[2020-04-21 04:44] #52723 closed

[2020-04-21 04:46] scottgorlick opened #52895 "Validation is not accurate, must also validate resourceTypes, not just namespace registration."
I believe that if someone runs the command you specify:
$ az provider register --namespace Microsoft.NetApp--wait

before your form has been approved, they will end up in a state where they can run your commands to validate that ANF is Registered, but it only shows resourceTypes: "operations", which does not include the anfAccount (or whatever the specific resource name is for ANF accounts, volume

[2020-04-21 04:48] PoorviSrivastavaGit commented on #51931
@supmn084 can you please share details about the TCP setting changes you made? From what I read about SQL documentation 1433 is the default port enabled by SQL. Our installation enables TCP/IP protocol for the SQL instance.

[2020-04-21 04:49] VikasPullagura-MSFT commented on #52554
@dohughes-msft Closing this issue now as this is rolled back. You can continue your discussion on email.

[2020-04-21 04:49] #52554 closed

[2020-04-21 04:53] SaurabhSharma-MSFT commented on #52798
@yoelhor Thanks

[2020-04-21 04:58] VikasPullagura-MSFT commented on #52600
@nelsonflorez11 Can you please try running this command to register the preview and see of you are still facing issue.

`az feature register --namespace Microsoft.RedHatOpenShift -n aropreview`

[2020-04-21 04:59] SumanthMarigowda-MSFT commented on #52834
@Git-PBradz Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-21 04:59] SumanthMarigowda-MSFT commented on #52876
@artisticcheese Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-21 05:06] VikasPullagura-MSFT commented on #52826
@microkost I tried running this on Cloud Shell and it is working as expected without passing chart name argument.

Can you please check your cli version. I tried on `azure-cli                          2.2.0`

[2020-04-21 05:07] mrbullwinkle commented on #52609
I merged a PR that adds a note to the top of this doc letting customers know that connection strings are now the preferred method of setting custom endpoints and links to the connection string doc. I also converted the content over to tabs as per your suggestion. This change will go live at 10 AM today.

[2020-04-21 05:07] mrbullwinkle commented on #52609
#please-close

[2020-04-21 05:07] #52609 closed

[2020-04-21 05:08] DixitArora-MSFT commented on #52730
@kiranshashiny Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-21 05:08] #52730 closed

[2020-04-21 05:09] mike-urnun-msft commented on #51485
@spmanjunath Sorry for the late reply. I believe the answer still stands. @PramodValavala-MSFT can offer more insights.

[2020-04-21 05:09] VikasPullagura-MSFT commented on #52853
@rghelman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-21 05:10] VikasPullagura-MSFT commented on #52853
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-04-21 05:12] mrbullwinkle commented on #52890
@SwathiDhanwada-MSFT you can assign this to me, we'll add it to next month's sprint.

[2020-04-21 05:14] TheITRx opened #52896 "Best Practice for Re-using Refresh Token"
"Refresh tokens do not have specified lifetimes. Typically, the lifetimes of refresh tokens are relatively long."
I understand that there is no definite number for its lifetime. But what is the recommended approach of when we need to ditch the current refresh token? Is it advisable to rotate the refresh token? I mean can I do this:

1. Authenticate and gets access token and refresh token
2. Contin

[2020-04-21 05:19] VikasPullagura-MSFT commented on #50685
@99six
UI has an explicit list of supported versions and team is working on adding 7.7 to the list. However if you try to install the extension, it should work.

[2020-04-21 05:22] SadiqhAhmed-MSFT commented on #52879
@yashesvi  and @bandersmsft FYI.

[2020-04-21 05:23] DixitArora-MSFT commented on #52740
@yangyu1900 For Azure function it is 50-1000 GB for App service plan. It is also mentioned under https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-functions-limits

For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2020-04-21 05:23] #52740 closed

[2020-04-21 05:32] DixitArora-MSFT commented on #52637
@sgolomedov PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation.

Also If you specify a single filter with **multiple values**, an OR operation is performed, so the value of the key field must be one of the values.

If you specify multiple different filters, an AND operation is performed, so each filter conditi

[2020-04-21 05:32] #52637 closed

[2020-04-21 05:36] cmmdesai commented on #52464
#please-close

[2020-04-21 05:36] #52464 closed

[2020-04-21 05:36] cmmdesai commented on #52065
#please-close

[2020-04-21 05:36] #52065 closed

[2020-04-21 05:36] KalyanChanumolu-MSFT commented on #52877
@azghafar Thank you for reaching out.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-04-21 05:37] DixitArora-MSFT commented on #52702
@tartieret Just following up to check if you have gone through this and let us know if this helps.

https://github.com/Azure/azure-functions-java-library/issues/18

[2020-04-21 05:39] VikasPullagura-MSFT commented on #52710
@johncdawson Thanks for confirming the changes are live. I will proceed to close this issue now.

[2020-04-21 05:39] #52710 closed

[2020-04-21 05:50] zanoni23 opened #52898 "Python 2?"
I like how this page has Python 2 on it, and was last updated in the month after that version finally reached end of life.  Does this really not support Python 3 or something else for Runbooks?  There was 5 years of notice of the impending end-of-life of Python 2...  and Python 3 is older than Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-04-21 05:55] MartinJaffer-MSFT commented on #52768
Hello @catAngangco
The problem is located in the data source creation, not the table creation.

[2020-04-21 06:07] Think3wang commented on #52832
same question as CharmanderJieniJieni,
really good question.

[2020-04-21 06:07] KalyanChanumolu-MSFT commented on #52726
@efreeman518 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 06:07] #52726 closed

[2020-04-21 06:10] KalyanChanumolu-MSFT commented on #52633
@Cephei, Thank you for taking the time to report this issue.
I was able to repro it and we are working internally with the product group on this.
I will provide more updates here as and when I have them.

[2020-04-21 06:12] chenheng0910 commented on #52795
ok，i will try to use MSAL or ADAL to solve this. Thanks.

[2020-04-21 06:15] namnam0610 opened #52899 "Can P2S Client connect to the resources in On-Premise Site1 or Site2?"
As the title, I would like to know if connected P2S VPN clients can connect to the resources in on-premise sites through the Express Route or S2S VPN or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0224af-2059-f88c-bb14-926ef69bd835
* Version Independent ID: c8859d92-dced-ecaa-a409-7af3cc064187
* Content: [Use

[2020-04-21 06:31] StevonixDev opened #52900 "How to authenticate only with a specific AD"
When I follow this documentation I can authentificate myself with any Azure AD. I do not understand how to restrict the authentifation only to a specific AD. We want to use this feature for pre-production sites. So we cannot make changes to the site  code itself since the app will be public. Maybe this is not the correct way to accomplish this.

regards
Stefan

---
#### Document Details

⚠ *Do not

[2020-04-21 06:32] yangyu1900 commented on #52740
Hi @DixitArora-MSFT, thank you for looking into it. Just to make sure I am getting it right. Can we say storage limit is different on Azure Function when compared to Azure Web App even if they are deployed on the App Service Plan of the same tier (e.g. both on Basic Plan, Function has 50GB storage whereas Web App get 10GB only)?
Also, in the 6th footnote of this section https://docs.microsoft.com/

[2020-04-21 06:33] SwathiDhanwada-MSFT commented on #52776
@CharmanderJieniJieni Role definitions are collection of permissions and also otherwise called as role sometimes. All the role definitions reside on AD, even the custom role definitions.

Hope this helps!!

[2020-04-21 06:43] souravmishra-msft commented on #52201
@iainfoulds, can you please take a look at this.

[2020-04-21 06:45] souravmishra-msft commented on #52433
@john-mills-nz, There is no such sample available for this. To get you an idea, it works the same way as you would do in a normal .net core application and it has to be coded in the app itself. Though I am taking this feedback and would share it with the concerned team, so that they can try to put down a sample in future.

[2020-04-21 06:45] #52433 closed

[2020-04-21 06:50] rkapoor028 opened #52902 "Default Storage Class Is StandardSSD_LRS"
With 1.15.10 the default storage class has the following properties
cachingmode: ReadOnly
kind: Managed
storageaccounttype: StandardSSD_LRS

We are not able to mount StandardHDD anymore by default.

Pleas review the doc above accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9

[2020-04-21 06:50] johannordin commented on #51099
`helm init` is no longer a valid command, https://github.com/helm/helm/issues/6996 .
how do i setup rbac without init? @TravisCragg-MSFT

[2020-04-21 06:53] souravmishra-msft commented on #52727
@zayn008, We are closing this thread as of now.

[2020-04-21 06:53] #52727 closed

[2020-04-21 06:53] slavizh commented on #52529
@ram-msft Please re-open the case as I do not see this fixed in the documentation. When you enable diagnostic settings for metrics you have Model, Quota, Run and Resource as different metrics types that you can send for example to Log Analytics. On the documentation you only have documented Model, Quota and Run. Resource is not documented and it should be. You can close the case after that one is

[2020-04-21 06:54] slavizh commented on #52344
thanks!

[2020-04-21 06:54] #52344 closed

[2020-04-21 06:58] ram-msft commented on #52529
@aashishb Can you please check on this.

[2020-04-21 06:59] VikasPullagura-MSFT commented on #52881
@RonnieQuan
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-21 06:59] VikasPullagura-MSFT commented on #52880
@RonnieQuan
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-21 07:02] sabicd opened #52903 "Room for improvement: add missing server variables, highlight var_ prefix"
Missing Server variables:
 - uri_path is not documented, even though it works fine, just as any another

Highlight var_ prefix:
- Under the title: Server Variables there is no mention of the required prefix (`var_`)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aedb5a9b-70bd-506d-41c7-2ede4e12e116
* Version Independen

[2020-04-21 07:03] souravmishra-msft commented on #52764
@BakkerJan, Powershell and Microsoft Graph cannot be used to activate SMS signin. You can check for the available api methods here:
https://docs.microsoft.com/en-us/graph/api/resources/phoneauthenticationmethod?view=graph-rest-beta#methods
Hope this helps.

[2020-04-21 07:03] #52764 closed

[2020-04-21 07:13] SwathiDhanwada-MSFT commented on #52810
@anirudhcavale Can you please provide your inputs on the issue?

[2020-04-21 07:19] VikasPullagura-MSFT commented on #52902
@rkapoor028
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-21 07:19] VikasPullagura-MSFT commented on #52902
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-21 07:19] SnehaAgrawal-MSFT commented on #52645
@lasyan3 We kindly request you to share your question on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-webapps.html) or  [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service) We try to keep this GitHub channel scoped to just issues related to [Azure Docs](https://docs.microsoft.com/en-us/azure/?product=featured) .
Thank you for your understanding.

[2020-04-21 07:19] #52645 closed

[2020-04-21 07:21] viju2008 opened #52904 "Speech Containers performance optimization configuration"
Dear Sir,

What are the configuration available to optimize the speech to text transcription time for container version of speech to text.

I am using the speech sdk desktop java version to send a .wav file.

Is there a way to disable partial results and also is there a way to speed up speech to text transcription from default  for processing files

Regards,

Regards,

---
#### Document Details

⚠

[2020-04-21 07:22] erikadoyle commented on #15928
Closing, as this repo is only for documentation issues. If you still need assistance, please file an issue at https://github.com/azure/service-fabric-issues/issues. #please-close

[2020-04-21 07:22] #15928 closed

[2020-04-21 07:30] rageshm110 opened #52905 "Directory Permission required to edit userflows"
This more of a query than an issue, I could not find it form this documentation. What directory roles needs to be assigned in order to create and edit user flows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a5dbe-3776-6cbf-41b1-a2b00dcfe95e
* Version Independent ID: 14bb0adf-b9d0-7f70-1d35-ba38e85e0f65
* Content:

[2020-04-21 07:44] VikasPullagura-MSFT commented on #52894
@JuneZhao Thanks for your Question.

If we enable firewall for ACR, then it can be added to a vnet (allow connections from that vnet only). As this document explains about private cluster, this limitation ins mentioned here.

However, I am assigning the issue to content author for enhancing this with more details to clarify the statement.

[2020-04-21 07:47] VikasPullagura-MSFT commented on #52904
@viju2008
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the documentation you are referring to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-21 07:51] RobMcZagBDS commented on #52800
Hi, attaching an image showing that a pipeline expression can be bound to a timestamp param.
Note also that TimeStamp type does not exist in pipeline expression. Is it correct?

<img width="450" alt="Screenshot 2020-04-17 at 12 54 34" src="https://user-images.githubusercontent.com/62093412/79839811-bd86b100-83bd-11ea-9677-d409ab96ef8e.png">

[2020-04-21 07:55] bsab commented on #42379
Hello, i'm having the same issue here, not using VS Code.
Any updates on this **@mike-urnun-msft**?

[2020-04-21 07:57] ehrnst commented on #42136
Hi. tried to follow this documentation today. There's an issue with the redirect URIs. You will need to configure both (new and legacy) in the app registration. The AAD consent page is also only available through the legacy portal.

[2020-04-21 08:01] ms-yuukih opened #52907 "Error running script to install/register AADCH for ADDS"
Regarding the powershell script at https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-agent-install?source=docs#quick-agent-installation-in-multiple-servers.

If you run it, you get an error. 100% repro on 3 different servers. (Registration succeeds with the error, though)

Current Script:
-----------------------
AdHealthAddsAgentSetup.exe /quiet
Start-Sleep 30
$u

[2020-04-21 08:03] SumanthMarigowda-MSFT commented on #52479
@vishalpatole This is the doc are you  referring to  https://docs.microsoft.com/en-us/azure/storage/common/storage-rest-api-auth
Call REST API operations with Shared Key authorization - Azure StorageUse the Azure Storage REST API to make a request to Blob storage using Shared Key authorization.docs.microsoft.com

Prerequisites

The sample application lists the blob containers for a storage account

[2020-04-21 08:04] ehrnst opened #52908 "App registration need to be multi-tenant"
This is not specified in the documentation. But if you want to allow users from other directories. The application will need to be set to multi-tenant. Otherwise, the consent process will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6d

[2020-04-21 08:04] SubhashVasarapu-MSFT commented on #52903
@sabicd , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-21 08:07] amanmcse commented on #52896
@TheITRx The refresh token that you get after Single/Multi-factor authentication is valid until it is revoked manually. However, the MaxInactiveTime for refresh token is 90 days by default, which means if you don't redeem the refresh token within 90 days, it will be expired and you would have to re-authenticate.

When the Access token is expired, Refresh token is used to obtain new Access/Refresh

[2020-04-21 08:14] dhdiez opened #52909 "404 errors in the Docker Hub page"
Hello, this article has a link to Docker Hub, where the images can be found: https://hub.docker.com/_/microsoft-azure-functions-base

This page, has then links to the different Docker files, but are incorrect (and therefore returns a 404 error). For example, this text "The Dockerfile can be found here." has a link to https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd6

[2020-04-21 08:15] beowulf79 commented on #39201
Hello, i'm trying to  get an Authorization Code through a JQuery Call; the users will be authenticated through SSO and so no interaction; but this error response is returned from the Authorization URL:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://login.microsoftonline.com/45392360-6e37-4be7-acfb-4c…c1a-d748-434a-9345-3ca9f53f11e4/.default&s

[2020-04-21 08:17] #50321 closed

[2020-04-21 08:18] DixitArora-MSFT commented on #52909
Hi @dhdiez Thanks for your feedback. We will review and update as appropriate.

[2020-04-21 08:18] DixitArora-MSFT commented on #52908
Hi @ehrnst Thanks for your feedback. We will review and update as appropriate.

[2020-04-21 08:25] wouterdevinck commented on #52549
Open support case:
Support request ID | 120042122000504

[2020-04-21 08:29] pameruoso opened #52911 "Red Hat OpenShift Container Platform (OCP) 3.4 and 3.5. What about the new versions?"
Hi All, is this solution supported for all the new versions of Openshift like 3.11 and 4.x?
Is the documentation just old and not updated? or maybe (hope not) this solution does not support the new openshift versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independ

[2020-04-21 08:30] theheatDK commented on #51808
Thanks

[2020-04-21 08:31] ggailey777 commented on #50321
@estensen thanks for providing the feedback on WebJobs documentation. We realize that WebJobs is an important component of App Service for many Azure customers. However, as @SnehaAgrawal-MSFT points out, Functions is built on WebJobs. As such, the bindings documentation for Functions should generally "just work" with the WebJobs SDK.
I've updated some of the links in this article to make sure that

[2020-04-21 08:42] alexanderbikk commented on #52667
@PramodValavala-MSFT
Indeed. After your response I tested in Postman and it works.

All the time I did my tests through Azure portal and Azure Dev portal. I don't know why I even not tried to test my API in Postman.
But for me, this is unexpected behavior of the Azure portal. Looks like I can't test the API through portal if my timeout more that 1 minutes. Maybe I missed something in docs and this

[2020-04-21 08:45] qianweicheng commented on #52828
@SaurabhSharma-MSFT, Thanks for your help. You said: "_the the Basic Authentication for EWS to access Exchange Online will be fully decommissioned on Oct 13th 2020_". But I'm using OAuth(MFA)+EWS, NOT Basic Authentication for EWS.  I need to confirm that:
Does OAuth(MFA)+EWS work after Oct 13th?

[2020-04-21 08:48] steveculshaw opened #52912 "Images are well out-of-date"
The images could do with updating to the current UI format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54d22300-48e8-8ca1-5260-4cd57e576ec3
* Version Independent ID: 7769b40c-78ff-7e1e-9b4e-82751a9e963e
* Content: [Encode or decode flat files - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logi

[2020-04-21 08:49] qianweicheng commented on #52828
@SaurabhSharma-MSFT, Thanks for your help. You said: "the the Basic Authentication for EWS to access Exchange Online will be fully decommissioned on Oct 13th 2020". But I'm using OAuth(MFA)+EWS, NOT Basic Authentication for EWS. I need to confirm that:

1. Does OAuth(MFA)+EWS work after Oct 13th?
2. Does OAuth(MFA)+IMAP work after Oct 13th?

[2020-04-21 08:53] SumanthMarigowda-MSFT commented on #52461
@Apologies for delay in responding here! Your feedback has been shared with the content owner for further review.

![image](https://user-images.githubusercontent.com/44606021/79846026-8b844780-83db-11ea-8abb-e230e2c0ebf5.png)

[2020-04-21 08:58] harryvinod opened #52913 "Typo in Username/password authentication>Mac (OS X) VPN client setup>Step 3"
In the below section, there is a "/" missing:
     &lt;array&gt;
         &lt;string&gt;10.0.0.132&lt;/string&gt;
     &lt;array&gt;

It should ideally be:

     &lt;array&gt;
         &lt;string&gt;10.0.0.132&lt;/string&gt;
     &lt;/array&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a601bb83-ee21-3417-4f71-b63d

[2020-04-21 09:05] VikasPullagura-MSFT commented on #52913
@harryvinod Thanks for pointing this out. I have updated the document and changes will go live soon.

[2020-04-21 09:08] #52913 closed

[2020-04-21 09:09] thomasdc opened #52914 "Elaborate on accountEnabled"
When do you consider accountEnabled=False for an AAD B2C user account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b30bc6cd-5d1a-6966-747e-ec03607d8967
* Version Independent ID: 5e6fd653-e232-3a19-3739-7144ea587c51
* Content: [User profile attributes in Azure Active Directory B2C](https://docs.microsoft.com/en-us/az

[2020-04-21 09:10] SumanthMarigowda-MSFT commented on #52756
@RonnieQuan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-21 09:11] SumanthMarigowda-MSFT commented on #52834
@Git-PBradz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-21 09:11] SnehaAgrawal-MSFT commented on #52720
@peachorchid Thanks for the feedback! As mentioned in this tutorial in Prerequisites section to complete this tutorial you need to [Install .NET Core SDK](https://dotnet.microsoft.com/download) . Could you Please try [Installing .Net Core 3.1 SDK](https://dotnet.microsoft.com/download) and then try with further steps by using below commands.

Run the following commands to clone the sample reposito

[2020-04-21 09:13] DixitArora-MSFT commented on #52912
Hi @steveculshaw Thanks for your feedback. We will review and update as appropriate.

[2020-04-21 09:15] Vladeexx commented on #52462
Hi,
I have the same problem can anybody please help?

VERBOSE: Authenticating to Azure ...
Out-File: /opt/microsoft/powershell/7/profile.ps1:143
Line |
 143 |              $addAzAccountParameters.Keys > $azErrorPath
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Read-only file system

VERBOSE: Building your Azure drive ...

[2020-04-21 09:16] BartVanBerkel opened #52915 "CAA Record for paid certificates"
The free certificate is issued by DigiCert, but what about the paid certificates? Which value(s) do I need to put in my DNS as CAA records?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage TLS/SS

[2020-04-21 09:18] PramodValavala-MSFT commented on #52667
@alexanderbikk Glad that worked and thanks for confirming it! I will confirm with the concerning team about the timeout behavior when testing it from the Azure Portal and keep this thread posted.

Since there is no doc update required for the policy, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2020-04-21 09:18] #52667 closed

[2020-04-21 09:19] BartVanBerkel opened #52916 "Is AppGw/KeyVault integration supported?"
Is it possible use the this feature with AppGw?
https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage TLS/SSL certificates -

[2020-04-21 09:20] amanmcse commented on #52549
@wouterdevinck Thanks for the support case.
I am closing this issue as we use this platform for Document enhancement but we'll keep posting comments to keep the thread up to date until the issue is fixed.

[2020-04-21 09:20] #52549 closed

[2020-04-21 09:29] PramodValavala-MSFT commented on #51485
@spmanjunath You should be able to access Named Values in your C# policies in a similar fashion by assigning it to a variable first. A line like this in your policy expression should

[code]

The error that you have seen was probably because of the missing quotes and semicolon.

[2020-04-21 09:31] amanmcse commented on #52874
@jeeszacharia Could you please share the specific section/sections from the policy files that you are referencing to?

[2020-04-21 09:38] RobMcZagBDS commented on #50520
@TjommeVergauwen it might get to work now as I had a similar issue and MS fixed a front-end bug that prevented the double flatten in my case.
Ciao, Roberto

[2020-04-21 09:39] RobMcZagBDS opened #52917 "Flatten with unroll root does not remove null elements or removes all elements"
Using Flatten with unroll root:
* does removes all elements if used with same root as array to unroll
* does not remove null elements if used with root one layer up (while it should and was working days ago) as without any unroll root.

PICs attached in comments

Ciao, Roberto

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-21 09:42] medavamshi commented on #34520
Any updates on leveraging existing subnets for AKS?

[2020-04-21 09:44] SadiqhAhmed-MSFT commented on #52878
@bandersmsft Please review this request and share your insights.

[2020-04-21 09:44] KrishnaG-MSFT commented on #52898
@zanoni23 Support for Python 3 in Azure Automation is work in progress & we are targeting May end as the ETA.

[2020-04-21 09:44] KrishnaG-MSFT commented on #52898
This issue is duplicate / related to #37403

[2020-04-21 09:47] RobMcZagBDS commented on #52917
Pictures.

1. Data structure. Trying to unroll task_type_tags[]
Note that the field task_type_id is not inside the array I am trying to unroll.
<img width="500" alt="Screenshot 2020-04-21 at 12 29 43" src="https://user-images.githubusercontent.com/62093412/79850883-32adb280-83cd-11ea-80dc-930cc4000c95.png">

2A. Unroll same as root.
<img width="600" alt="Unroll same as root" src="https://user-imag

[2020-04-21 09:51] ariel262626 opened #52918 "Error: Cannot find module '@azure/event-hubs@2'"
After installing the npm packages I getting that error when I call node send.js

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab0e1be-fcfe-6f77-d5c0-3ad4d16bbe97
* Version Independent ID: 168f8515-2da3-0b7e-a8bf-ef87f3d21274
* Content: [Send or receive events from Azure Event Hubs using JavaScript (legacy)](h

[2020-04-21 09:53] Vladeexx commented on #52462
Ok, I fix the issue on following way.
Open your local PowerShell (on your comp) as Administrator an type
Login-AzAccount
Log in your Azure and after that try, Cloud shell.
Now it is fine for me, and I have uploaded 2 yml files successfully.

[2020-04-21 09:54] SubhashVasarapu-MSFT commented on #52534
@KosukeHosoda , Appreciate your patience. We have edited the doc by adding the rule to the list. it would take some time for the edits to get reflect over the doc.

[2020-04-21 10:10] rich-davies opened #52919 "unable to assign "Owner" built-in role?"
When I try to assign the Owner built-in role I get the message "The role definition" (id of Owner Role) "is restricted for registration".  Is it not possible to delegate with Owner role?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c

[2020-04-21 10:11] sabicd commented on #52903
thanks, @SubhashVasarapu-MSFT.
Context:
- Using Terraform to define the resource (application-gateway)

- Using the documentation to create conditional rewrite rule sets, did not help.

- Solved the issue by creating a new rule from the portal, and checked the "template export" for the correct server variable naming convention.

[2020-04-21 10:16] #52534 closed

[2020-04-21 10:18] Tolle3000 opened #52920 "Problem with Membership Type"
I cannot change the Membership Type. The field is greyed out.
I couldn't change this either during the creation of the group.
Tried security group and Office365 group.
I am a global admin user.
Did I do something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e6466f-2c97-2c85-98bc-6f5ed8a5b60e
* Version Indepe

[2020-04-21 10:20] jakeives95 opened #52921 "Reopen #31078 and update documentation"
Hello,

It's now 2020 and all of the useful information resides under this 'closed' feedback topic, which I find very annoying.

If device registration GPO doesn't work and you're suggesting that clearing the device registration SCP from Active Directory and using the ClientSideSCP Method is the only way to achieve a controlled rollout, could you please remove the below article, as it was the the

[2020-04-21 10:23] rich-davies commented on #52919
Ignore comment above - I've just found https://docs.microsoft.com/en-gb/azure/lighthouse/concepts/tenants-users-roles which states that Owner role is not supported - any idea when it might be (if ever)?

[2020-04-21 10:29] wsmckenz commented on #52315
Thank you. Yes, I do have VPN Gateway. My comment was more just for general users, especially right now with so many people working at home and using their private internet connection, I think it's important for the document to reflex that this will not work unless you have some form of direct connection.

[2020-04-21 10:35] mnbvcxz010308 opened #52922 "Getting error while creating cluster"
The resource type could not be found in the namespace 'Microsoft.RedHatOpenShift' for api version '2020-04-30'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a6a04bd-3c2e-1c78-850d-2930161c2516
* Version Independent ID: 3adb1f2c-cba8-9220-e08e-41800a4cb8cd
* Content: [Create an Azure Red Hat OpenShift 4.3 Cluster](ht

[2020-04-21 10:36] eparizzi commented on #45257
I can confirm what @philosophicles says. Although I don't have a __init__.py on my root level.

This is the structure I ended up with:

[code]
So from my function code I can simply do `from ..shared import something` to import modules from `shared` folder.

Of course the problem with this new `__app__` based structure is that there's some tweaking needed to get VSCode debugging working properly.

[2020-04-21 10:37] AjayKumar-MSFT commented on #52900
@StevonixDev, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-21 10:39] mnbvcxz010308 commented on #52600
same issue. not fixed with above command.

[2020-04-21 10:40] AjayKumar-MSFT commented on #52915
@BartVanBerkel, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-21 10:40] AjayKumar-MSFT commented on #52916
@BartVanBerkel, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-21 10:40] ezYakaEagle442 opened #52923 "--generator=run-pod/v1 is deprecated and should be replaced"
kubectl run --generator=run-pod/v1 nginx-dev --image=Nginx
should be repalced by
kubectl run nginx-dev --image=Nginx --restart=Never

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84495e76-eca6-ddc9-989f-01c844aaa29d
* Version Independent ID: de2a46f6-59c7-f4bd-c409-ea8d04741a6d
* Content: [Use Azure AD and RBAC for cl

[2020-04-21 10:41] rohancragg opened #52924 "Azure Repos - 180 days is not an option"
#get-the-azure-repos-clone-url-and-personal-access-token - 180 days is not an option that can be selected - maximum is 90 Days

Also, 'All scopes' is not an option - now called 'Full Access'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 913f4fbe-96c2-26c6-f3cd-bd82c18b9b24
* Version Independent ID: 85034f1f-2bd0-0bfc-

[2020-04-21 10:43] RobMcZagBDS opened #52925 "formatDateTime works on string not timestamp."
Hi, the doc for formatDateTime reads "Return the date from a timestamp."

This misleads people to think that an input of type timestamp is needed, while the expected input is actually a String representing a timestamp.

"Return a String with a formatted timestamp from a String representing a timestamp."
That while might sounds crazy at lest explains that the string is most probably converted to ti

[2020-04-21 10:51] SwathiDhanwada-MSFT commented on #52352
@jethrovaneetvelde  Your understanding is quite correct. If monitorCondition == "Resolved" than you can interpret it as the existing incident as Resolved.

Also, as different alerts have different alert contexts which is already been defined in the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema-definitions#monitoringservice--platform). The one yo

[2020-04-21 10:53] peachorchid commented on #52720
@SnehaAgrawal-MSFT My original post shows that I have 2.1.2, 2.1.6, 2.1.17, and 3.1.3. Are you saying I also need 3.1.1?

[2020-04-21 10:56] jethrovaneetvelde commented on #52352
Hi,
I read the documentation, that's why I got confused. I also understand that the alertcontext is different for all services.
My problem however is that monitorcondition, which should be the true state of the incident, regardless of services, is not correct in real alerts.
The example I gave showed monitorcondition = "Fired". So this means this is a new alert if I understand it correctly. That's

[2020-04-21 11:11] ariel262626 opened #52928 "Error occurred: TypeError: EventHubProducerClient is not a constructor"
Hi,
https://docs.microsoft.com/en-us/azure/event-hubs/get-started-node-send-v2
I'm doing the steps in this guide and when trying to run the send.js file getting the error:
"Error occurred:  TypeError: EventHubProducerClient is not a constructor"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23bbdebe-7c92-b9ab-9ff1-5eb

[2020-04-21 11:11] viju2008 commented on #52904
Hello Vikas,

I am referring the these links in the Github of Azure-docs

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/speech-container-howto.md

[2020-04-21 11:18] SnehaAgrawal-MSFT commented on #52735
@ningweinw Thanks for asking question! To protect you and your users, Google restricts your OAuth 2.0 application to using Authorized Domains. If you have [verified the domain](https://support.google.com/a/topic/1409901) with Google, you can use any [Top Private Domain](https://github.com/google/guava/wiki/InternetDomainNameExplained) as an Authorized Domain.
To elaborate on this Google oauth requ

[2020-04-21 11:20] BhargaviAnnadevara-MSFT commented on #52924
@rohancragg Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-04-21 11:30] dvherk opened #52929 "Keyvault specific Private Link limits"
Please add the specifics regarding Private Link for Keyvault.
You could refer to the Keyvault docu for details here; https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service#limitations-and-design-considerations
Would be good to have this limit of 64 on Keyvault also in this summarized overview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-04-21 11:43] #52928 closed

[2020-04-21 11:44] microkost commented on #52826
+ az version
This command is in preview. It may be changed/removed in a future release.
{
  "azure-cli": "2.3.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.3.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.34"
  }
}

[2020-04-21 11:45] akczcz opened #52930 "Azure Cognitive Search"
Please add also missing feature of SystemAssignedManagedIdentity as using with service Azure Cognitive Search ( see e.g.: https://docs.microsoft.com/en-us/azure/search/search-security-manage-encryption-keys )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 2

[2020-04-21 11:55] ChiragMishra-MSFT commented on #52917
@RobMcZagBDS Thanks for reaching out. We are actively looking into your query and will get back to you shortly.

[2020-04-21 11:58] mike-urnun-msft commented on #52581
@RonnieQuan that’s correct! Here’s consolidated list of helpful resources: https://aka.ms/apimlove

[2020-04-21 12:03] shashishailaj commented on #52907
@ms-yuukih Thank you for pointing this out. We will have this reviewed and updated accordingly .

[2020-04-21 12:04] shashishailaj commented on #52930
@akczcz Thank you for pointing this out. We are engaging the content author on this.

[2020-04-21 12:04] ChiragMishra-MSFT commented on #52918
@ariel262626 Thanks for reaching out. As mentioned in the note, This quickstart uses the old azure/event-hubs version 2 package. For a quickstart that uses the latest version 5 of the package, see[ Send and receive events using azure/eventhubs version 5](https://docs.microsoft.com/en-us/azure/event-hubs/get-started-node-send-v2). To move your application from the using the old package to new one,

[2020-04-21 12:06] SwathiDhanwada-MSFT commented on #52929
@dvherk Thanks for your feedback. We will review your suggestion and update accordingly.

[2020-04-21 12:07] shashishailaj commented on #52920
@Tolle3000 Thank you for your feedback . We will have this looked into and update this thread.

[2020-04-21 12:09] shashishailaj commented on #52905
@rageshm110 Thank you for your feedback . We will investigate and update the thread further. also for general queries , we would request you to use our new [QnA platform](https://docs.microsoft.com/answers) which supports Azure products.

[2020-04-21 12:10] mike-urnun-msft commented on #42136
Hi everyone, will update with my findings soon.

[2020-04-21 12:11] yoelhor commented on #52905
You can use the Azure AD role based access control [B2C User Flow Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#b2c-user-flow-administrator).

[2020-04-21 12:11] dmitriyteteruk opened #52931 "A module runtime error occurred - Connection refused (os error 111)"
What NSG in Azure VM settings should be done to connect to IOTC?
I did replicate example step-by-step but getting error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70cb9171-7b4e-11bd-8220-3b65661982cd
* Version Independent ID: 0a487359-e7fb-407f-7c42-9f87fa72ac40
* Content: [Add an Azure IoT Edge device to Azure IoT

[2020-04-21 12:13] shashishailaj commented on #52914
@thomasdc  Thank you for your query . We will investigate and update the thread further. Also for general queries , we would request you to use our new [QnA platform](https://docs.microsoft.com/answers) which supports Azure products as we primarily use github for documentation improvement.

[2020-04-21 12:14] efraimnewman opened #52932 "Not Working on ubuntu mate on raspberry pi"
I am trying to make a Smart Home on my raspberry pi using Ubuntu MATE for RPi, LUIS Intent recognition, .net core, and  c#. my app runs fine on windows but on the pi I get the following error:

[code]

also when running with `sudo` (which is required for GPIO) I get this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-21 12:14] mike-urnun-msft commented on #52855
@dubnemo I hope the announcement post provided in my reply above brings more clarity & context on OpenAPI v3 support. Let us know if you had any further questions, otherwise, we’ll proceed to close this issue.

[2020-04-21 12:16] CharmanderJieniJieni commented on #52776
Thanks for clarifying!

On Tue, Apr 21, 2020 at 2:33 AM SwathiDhanwada-MSFT <
notifications@github.com> wrote:

[2020-04-21 12:19] SwathiDhanwada-MSFT commented on #52352
Thanks for reverting. To troubleshoot your issue further, can you please send mail to AzCommunity@microsoft.com by including your Subscription ID, alert json and a link to this Github thread (for context).

As there are no documentation changes,we will close the issue for now. After troubleshooting the issue , we will post the resolution for the benefit of broader audience.

[2020-04-21 12:19] #52352 closed

[2020-04-21 12:23] SwathiDhanwada-MSFT commented on #52776
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-21 12:23] #52776 closed

[2020-04-21 12:27] VikasPullagura-MSFT commented on #52922
@mnbvcxz010308 As there is already same issue reported [here](https://github.com/MicrosoftDocs/azure-docs/issues/52600), I will close this duplicate issue and you can continue the discussion in the other thread.

[2020-04-21 12:27] #52922 closed

[2020-04-21 12:29] IEvangelist commented on #52381
Hi @KatieProchilo, I hope all is well. You'll need to work with Oliver (@oscholz) on this one. I'm no longer with the Speech team and I'm not actually sure about the supported languages for pronunciation. #reassign @oscholz

[2020-04-21 12:29] PramodValavala-MSFT commented on #52772
@usgvja Just following up here... Hope my previous comment clears things up.

[2020-04-21 12:29] VikasPullagura-MSFT commented on #52600
@mnbvcxz010308 Thanks for confirming that you are still running into same issue even after registering for aro preview using the shared command.

I have closed other issue you opened [here](https://github.com/MicrosoftDocs/azure-docs/issues/52922) reporting the same problem.

You can follow this thread for updates.

[2020-04-21 12:31] VikasPullagura-MSFT commented on #52600
I am reaching out to internal team to check on this, will update once I hear from the team.

[2020-04-21 12:36] ariel262626 commented on #52918
Hi.
Thanks for the advice.

בתאריך יום ג׳, 21 באפר׳ 2020, 15:05, מאת ChiragMishra-MSFT ‏<
notifications@github.com>:

[2020-04-21 12:37] Arcass opened #52933 "Send logs to Azure Monitor - Step 7"
Hi,

Could step 7 include an example of how to verify the events are being streamed?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active Directory logs to Azure Monitor logs](https://do

[2020-04-21 12:41] mike-urnun-msft commented on #52748
@spmanjunath Since your delimiter comprises of multiple characters (|||), you might try using String.Substring or Regex.Split instead: https://docs.microsoft.com/en-us/dotnet/api/system.string.split?view=netframework-4.8#alternatives-to-stringsplit

[2020-04-21 12:43] SubhashVasarapu-MSFT commented on #52620
@Rednickle , I am wondering if you had a chance to look over our previous reply. Could you please elaborate your issue here for helping you further?

[2020-04-21 12:46] ram-msft commented on #52506
@luisflkn We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-21 12:46] #52506 closed

[2020-04-21 12:55] jhagege opened #52934 "Can't access Jupyter Notebook in Azure ML"
Hi, I'm trying to access Jupyter Notebook by clicking Edit --> Jupyter, and I get message:

How can I access the machine ? I am the one who created it.
I then stopped it and started it from the Azure ML compute interface.
Thanks.

[2020-04-21 13:01] RohitMungi-MSFT commented on #52932
@pankopon @trevorbye Could you please confirm if speech SDK is supported for raspberry pi?

[2020-04-21 13:10] cjtmed opened #52935 "Steps misidentified in final section"
In the final section "Start the virtual device and get the IP", step 6 says "Steps 5-7 only apply when...".  It should read steps 6-8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2773d821-d006-8772-5c1a-34c82cb7812c
* Version Independent ID: e1271f82-2b73-c022-7c40-08d55473da8c
* Content: [Tutorial on provision Azur

[2020-04-21 13:13] powersshell commented on #51297
I am interested in automating the setup of the continuous export functionality. Preferably an ARM template, but PowerShell/CLI commands would also be useful.

[2020-04-21 13:19] iricigor opened #52936 "default access under PowerShell v7"
In my experience, default access for a user creating a Key Vault is **not** granted. After Key Vault is created, I am getting following warning: `WARNING: Access policy is not set. No user or application have access permission to use this vault. This can happen if the vault was created by a service principal. Please use Set-AzKeyVaultAccessPolicy to set access policies.`. I am using commands from

[2020-04-21 13:20] ningweinw commented on #52735
Hi

Thanks for the reply, does this mean the Azure documentation is wrong? Apps
using azurewebsites.net won't register with Google, one must use a custom
domain? Then please get the documents updated.

But I'm afraid there is more to this. To be more specific, i got the error
when I tried to register the top domain, azurewebsites.net, not a sub
domain. For that matter, I tried other domain names,

[2020-04-21 13:21] rwaithaka opened #52937 "ConnectionString Incorrect Name"
Minor blip with the name indicated in the instructions for the constant seems i.e. IotHubConnectionString instead of iotHubConnectionString
This can prevent the connection strings from being assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-

[2020-04-21 13:21] tajaber opened #52938 "Primary Key mapping to another source attribute"
Kindly mention in the doc or in another doc that "Primary Key" attribute must not be mapped to any attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b07a9e-5e16-32ed-265e-32a32998ce37
* Version Independent ID: 09008259-4b53-2925-9679-ecad59cefe41
* Content: [Customizing Azure AD attribute mappings](https://do

[2020-04-21 13:21] BharathNimmala-MSFT commented on #52911
@pameruoso Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-21 13:22] iricigor commented on #52936
Here is the full warning output from the commandlet v.1.6.0

![image](https://user-images.githubusercontent.com/15923171/79870770-c5594c00-83e3-11ea-87a4-7149549650a0.png)

[code]

[2020-04-21 13:22] ReneRebsdorf opened #52939 "Simplying script"
Perhaps the script for managed disks could be simplified by this?

Get-AzDisk | Where-Object { $_.ManagedBy -eq $null} | Remove-AzDisk -Verbose

The fact that the use of the -Force (and the -Verbose) parameter better aligns with the existing script probably is not worth mentioning as they are common parameters, and are described in the Remove-AzDisk article.

---
#### Document Details

⚠ *Do not e

[2020-04-21 13:24] efraimnewman commented on #52932
Why should it not work? it is ubuntu 18.04 and the docs say linux-arm is supported.

[2020-04-21 13:27] stuhad opened #52940 "OpenVPN tries to use PAP authentication"
When trying to integrate OpenVPN with RADIUS authentication we see the connection is using unencrypted PAP as the authentication method. Please update documentation with steps to enable encrypted OpenVPN and RADIUS authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6298aba8-c953-c7c1-3630-421639631b70
* Ver

[2020-04-21 13:28] varundesai85 commented on #52703
Newer version of Azure VPN client resolved an issue of "ClientID should not be empty" . Thank you

[2020-04-21 13:28] #52703 closed

[2020-04-21 13:32] VikasPullagura-MSFT commented on #52923
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-21 13:36] xom-pschiess opened #52941 "Get-AzureADPolicyAppliedObject only returns 100 results"
Greetings - the Get-AzureADPolicyAppliedObject cmdlet only returns 100 results and I'm certain that we have > 100 objects that are using this policy. We need a -All parameter to be able to show the full resultset. I haven't checked MS Graph REST API to see if this limitation exists there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-21 13:38] VikasPullagura-MSFT commented on #52939
@ReneRebsdorf
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-21 13:38] VikasPullagura-MSFT commented on #52939
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-04-21 13:40] MonikaReddy-MSFT commented on #52609
@mrbullwinkle , Thanks for raising the PR and taking care of this.

@TimothyMothra , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-21 13:41] akczcz opened #52942 "Encryption in transit / which versions of SSL/TLS are allowed?"
Please can you specify applicable versions of TLS you are able to connect in all client to service connections? You recommend version 1.2 but you do not specify whether also lower versions (e.g. 1.0 or 1.1) are allowed. It is important in combination with only preview ability of firewall filtering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-04-21 13:42] zamzowd opened #52943 "'settings.enableRememberMe' not required?"
It doesn't look like the `setting.enableRememberMe` metadata item does anything. Updating the page version to 1.1.0 and the relying party file seems to be sufficient for implementing KMSI. Even the [sample policy](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios/keep%20me%20signed%20in) for keep-me-signed-in doesn't include it.

---
#### Documen

[2020-04-21 13:42] rageshm110 commented on #52905
@yoelhor I have given B2C User Flow Administrator permission in B2C tenant but the userflow link is greyed out.

[2020-04-21 13:44] rageshm110 commented on #52905
![image](https://user-images.githubusercontent.com/6996136/79873079-3d376e80-8404-11ea-9fa2-3691adcf74e4.png)
Does this means any user who needs access to manage Azure B2C tenant needs to be a Global Administrator?

[2020-04-21 13:45] VikasPullagura-MSFT commented on #52899
@namnam0610

Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your are following? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-21 13:47] TheITRx commented on #52896
@amanmcse wow! that's really good info! Thank you! Follow up question, what if I opt to rotate my refresh token every x # of days (.e.g: use a new one every 15 days). I grab the new refresh token from a new access/refresh token pair, how do I purge/invalidate/manually expire my old refresh token? This way I don't have to wait for 90 days of inactivity and be sure that the previous refresh token ca

[2020-04-21 13:52] yoelhor commented on #52874
## GetIssuersFromUserIdentityCollectionTransformation
Extracts the list of social identity providers associated with the user

| Item | TransformationClaimType | Data Type | Notes |
| ---- | ----------------------- | --------- | ----- |
| inputClaim | userIdentityCollection | userIdentityCollection | The ClaimType to be used to get the list of identity providers (issuer). |
| OutputClaim | issuers

[2020-04-21 13:55] danimir commented on #52791
This will be corrected, the page was just published recently before revisions could take place.

[2020-04-21 13:55] strausy commented on #39451
What was the recommended role if not Global Admin? @kschach did you settle on a less powerful role?

[2020-04-21 13:56] KrishnaG-MSFT commented on #52919
@rich-davies Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-21 13:58] MGoedtel commented on #52911
@pameruoso + @BharathNimmala-MSFT - Currently we support Red Hat OpenShift version 3.x and support for version 4.x is planned for release shortly.  As soon as we release support for version 4.x, the documentation will be updated, including reflecting the existing support is for version 3.x and not just 3.3. Thanks. #please-close

[2020-04-21 13:58] #52911 closed

[2020-04-21 14:01] gaikovoi commented on #42947
@jcbrooks92 whitelisting of the entire DC in not possible in many cases. E.g., North Central US currently has **146** IP ranges published, but KV supports only **127** (see https://docs.microsoft.com/en-us/archive/blogs/kv/announcing-virtual-network-service-endpoints-for-key-vault-preview)

[2020-04-21 14:04] SumanthMarigowda-MSFT commented on #52711
@mallecespedes  The suggestion mentioned in this thread should help you on your query
https://stackoverflow.com/questions/51056288/shared-key-for-azure-storage

[2020-04-21 14:07] souravmishra-msft commented on #52640
@deyanp, I apologize for the delay in my response, as it took me sometime researching on the same. First of all, adding Azure CDN service to Azure Key Vault is not a good idea because CDN has hundreds of POP servers across the globe which is shared across multiple customers.
Now the only available way is to whitelist all the POP servers IPs, which is not recommended as well as a tedious job.

[2020-04-21 14:08] souravmishra-msft commented on #52640
Closing this thread for now.

[2020-04-21 14:08] #52640 closed

[2020-04-21 14:13] FaganSC opened #52944 "CorpNetSaw"
The Source CorpNetSaw is not in the current dropdown list in the Azure Blade. Can you please provide the updated name to the source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57bb-232c-970ccfec504c
* Content: [Network planning and connect

[2020-04-21 14:18] o-o00o-o opened #52945 "Bulk API"
This article says "The Salesforce connector is built on top of the Salesforce REST/Bulk API." but this seems ambiguous. Is it on the Bulk API or is it on the standard REST API?

If it is the Bulk API, is it built supporting PK Chunking as per these articles?

https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/asynch_api_bulk_query_processing.htm

https://developer.salesfo

[2020-04-21 14:19] efraimnewman commented on #52932
When targeting Linux ARM64, and using C# - the .NET Core 3.x (dotnet-sdk-3.x package) is required. If you're targeting ARM32 or ARM64, Python is not supported.
(from the docs [https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=linux%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio#get-the-speech-sdk]( https://docs.microsoft.com/en-us/azure/cognitive-services/

[2020-04-21 14:20] iricigor commented on #52936
OK, I managed to narrow it down. I was logged in with AAD guest account. Although Get-AzContext says Account Type is user, I guess there is something else in the background.

I do have owner role assigned to Resource Group and Key Vault, but that seems irrelevant.

![image](https://user-images.githubusercontent.com/15923171/79876958-f50c5200-83eb-11ea-948e-67b884362bfd.png)

[2020-04-21 14:20] josuvil opened #52946 "Azure AD Connect Health for AD FS and Windows Server 2008 R2 support?"
Hello, now that Windows Server 2008 has reached the end of its support lifecycle, is the AAD Connect Health Agent for ADFS still supported on this platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79ab2bbb-4adc-3106-c8dc-3462cc23c587
* Version Independent ID: 8fa8f32e-ceca-6604-f2e3-a994efd17ecc
* Content: [What

[2020-04-21 14:20] NavtejSaini-MSFT commented on #52451
@vytux-com We will be going ahead and closing this thread for now. Please get back to us for any questions.

[2020-04-21 14:20] #52451 closed

[2020-04-21 14:21] efraimnewman commented on #52932
also on the release notes page for 1.11 Linux:

[2020-04-21 14:24] AAdamCCox opened #52947 "Feature request: Display session host status"
Session host status is not shown anywhere, such as the Hosts page or individual host Summary page.
I.e. the output of command: Get-RdsSessionHost | Select-Object Status

Therefore using the tool, it's not possible to see which hosts are running (Available) or stopped (Unavailable).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-04-21 14:26] dazinator opened #52948 "How to deploy using devops pipelines as the task doesn't have option for windows containers only linux"
I am struggling to work out how to deploy to web app for windows containers (azure app service) using a DevOps pipeline - as the deployment task only has an option for Linux container apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 705f9cf9-9bdd-c0e6-8170-062c62b6e12b
* Version Independent ID: 8de37e15-ccfb-e619-6

[2020-04-21 14:28] JanNepras opened #52949 "RegisteredForRemoteNotifications might not be called in certain scenarios"
I have a question related to part "Connect your app to the notification hub" section "9".  There is this code:

[code]

Why do you add the the condition if(granted)? What if user declines push notifications permissions after installing the app? Then if user enables permissions back in phone setting the RegisteredForRemoteNotifications will never be called. Token is not generated and you are not ab

[2020-04-21 14:29] jpl2nd commented on #31372
@nuno-barreiro were you able to leverage the API calls to import the function as API?

[2020-04-21 14:31] aashishb commented on #52529
@Blackmist is this something you can help with?

[2020-04-21 14:31] DCtheGeek commented on #52681
@RonnieQuan Thanks again for the feedback. We've discussed where to put this comment/link and decided the [Manage tag governance with Azure Policy](https://docs.microsoft.com/azure/governance/policy/tutorials/govern-tags) article is the best location.  I've already submitted the PR, and when it's merged, this issue will automatically close.  Thanks again for the feedback and suggestion!

[2020-04-21 14:31] SaurabhSharma-MSFT commented on #52933
@Arcass Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-21 14:33] sachinmishra007 opened #52950 "Method GetHttpsCertificateFromStore Missing"
I was going throgh the document and under the section Configure Kestrel to use HTTPS section, I found the the method GetHttpsCertificateFromStore which is missing.
I believe author was trying to mentioned FindMatchingCertificateBySubject this method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f21

[2020-04-21 14:35] #52681 closed

[2020-04-21 14:39] KrishnaG-MSFT commented on #52919
@rich-davies [This](https://feedback.azure.com/forums/922753) is the UserVoice / feedback forum page for Azure Lighthouse related feedback and [here](https://feedback.azure.com/forums/922753-azure-lighthouse/suggestions/38270251-allow-delegate-also-for-roles-owner-and-user-acces) I could see that your ask is the top ask from other partners as well and it is on our list to be addressed for the road

[2020-04-21 14:39] Blackmist commented on #52529
Thanks for the feedback @slavizh ! I'll work on this today.

[2020-04-21 14:45] JawadJaber commented on #38963
Hi @JimacoMS3
This is much more accurate and direct to the point.
I am closing the the issue now.

[2020-04-21 14:45] #38963 closed

[2020-04-21 14:46] SyntaxWarrior commented on #46401
I just ran in to this issue as well. Pretty much the same premise as OP.
I can build and run my asp net core in Docker Desktop. No issues.
But I get the exackt same error when I try to run it in Azure Web App with a Linux service plan (have not tried windows as it is 2x the price).

I can copy and paste the docker run command that Azure uses (just replacing the image for my local build name) and i

[2020-04-21 14:49] MonikaReddy-MSFT commented on #52583
@Costo, Hope you're doing great and thanks for being patient.
In order for us to look at how you have instrumented the app, we might need to repro the scenario.

Could you provide us with the repro instructions on how you are trying to achieve this, so we can replicate it and provide any guidance we may have on this.

Looking forward to hear back from you soon.

[2020-04-21 14:50] MasayukiOzawa opened #52952 "The behavior when Memory Quota is reached is different."
The memory quota is described as follows.
&gt; If the app Memory quota is exceeded, the app is restarted.
The actual action is not a reboot, but a halt to the application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
*

[2020-04-21 14:52] amanmcse commented on #52769
@jorgecarleitao You can expose a custom scope for v2.0 Access token by using below steps:
1. Navigate to the application that you want to own the custom scope.
2. In the Expose an API blade, set the App ID URI e.g., https://your_verified_domain/api
3. Click on add scope, e.g., read. The custom scope would be exposed as https://your_verified_domain/api/read

![image](https://user-images.githubuserc

[2020-04-21 15:00] neeleshray-msft commented on #52938
@tajaber Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-21 15:01] neeleshray-msft commented on #52941
@xom-pschiess Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-21 15:04] henriquebelotto opened #52953 "How add the query string &ui_locales using Microsoft.AspNetCore.Authentication.AzureADB2C.UI"
Hello

I'm using this package Microsoft.AspNetCore.Authentication.AzureADB2C.UI to provide authentication and the sign in and sign out buttons on the page.

I'm trying to send the language that the user set the site using this query string &ui_locales. However, I could not figure out how to add the parameter to the query that is sent from my side to Azure when I click in the Sign In.
Can you help

[2020-04-21 15:04] jackt-moran commented on #52293
@mamccrea thanks for getting back. I'm glad to hear it is supported.
I had a query that would infrequently detect anomalies in the data, on the order of about once a day. The query step had 7 A/D function calls and for every anomaly detected, all 7 A/D function calls returned `IsAnomaly=1`. While the 7 data points are indeed related, what was strange is they all returned true on exactly the same o

[2020-04-21 15:05] cmbaconsulting commented on #47577
I just went through the process with my Azure training account.  It required me to remove any active resources prior to cancelling the subscription.

[2020-04-21 15:08] SaurabhSharma-MSFT commented on #52944
@FaganSC Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 15:09] SaurabhSharma-MSFT commented on #52946
@josuvil Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 15:10] SaurabhSharma-MSFT commented on #52936
@iricigor Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 15:11] SaurabhSharma-MSFT commented on #52921
@jakeives95 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 15:12] SaurabhSharma-MSFT commented on #52943
@zamzowd Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-21 15:13] SaurabhSharma-MSFT commented on #52953
@henriquebelotto Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 15:25] JarroVGIT opened #52954 "Using AD Authentication is not possible on Linux Consumption plan for Azure Functions"
It is not documented but it seems that you can't use this when you are trying to use this in an Function App that runs on a Consumption Plan for Linux. Could this be clarified and if this is on the roadmap? Using Python in Azure Functions forces you into a Linux plan but if you want to leverage AAD for authentication you are then forced to use a Premium Plan (adding unnecessary cost imo).

---
###

[2020-04-21 15:26] vvoinov opened #52955 "Use token example is misleading"
Instead of showing how to use token to access 'http://localhost/myap' resource the example call MS Graph API. :(
The whole point of the example was to show how to protect and access custom app using OAuth2.0 client grant credentials. However the most important part which should demonstrate how create and perform request to Custom App using obtained access token is missing which only adds confusion

[2020-04-21 15:39] GiantCrocodile opened #52956 "How to use GET parameters instead of relative paths?"
Hello,

you did provide an example to use relative paths like `/address/{postalCode}`. How can we use GET-Parameters?

I would like to see an example like this:

Relative paths example:
`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}/triggers/manual/paths/invoke/address/{postalCode}?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={shared-access-signature}`

[2020-04-21 15:39] GiantCrocodile opened #52957 "How to use GET parameters instead of relative paths?"
Hello,

you did provide an example to use relative paths like `/address/{postalCode}`. How can we use GET-Parameters?

I would like to see an example like this:
`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}/triggers/manual/paths/invoke/address/{postalCode}?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={shared-access-signature}`

Relative paths example:

[2020-04-21 15:41] llgjermeni commented on #52847
Thanks @Mike-Ubezzi-MSFT . I know the links you are referring. In fact there is another source [Microsoft.Sql instancePools template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2018-06-01-preview/instancepools). Because the deployment of instance pool is a long running a very costly I wanted some reliable guide line how to create a instance pool with instance db insid

[2020-04-21 15:42] LuisCabrer commented on #52865
@xantari,

No, it is not possible to enable that functionality. The work is in development, and our goal is that by 7/15, everyone will get the new functionality by default.

Thanks!
-Luis Cabrera
Azure Search Program Manager

[2020-04-21 15:43] LuisCabrer commented on #52865
@xantari,

No, it is not possible to enable that functionality. The work is in development, and our goal is that by 7/15, everyone will get the new functionality by default.

Thanks!
-Luis Cabrera
Azure Search Program Manager

[2020-04-21 15:44] ShreedharYashoda opened #52958 "How to connect externally created IoT Hub with the Digital twin..?"
Document I am following is "Device connectivity and telemetry ingress"
https://docs.microsoft.com/en-us/azure/digital-twins/concepts-device-ingress

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7028fa-961b-c7da-212d-686ba8672130
* Version Independent ID: 55d0fa05-72e8-47a0-660f-828fd0504e31
*

[2020-04-21 15:45] GiantCrocodile opened #52959 "How to use GET parameters instead of relative paths?"
Hello,

you did provide an example to use relative paths like `/address/{postalCode}`. How can we use GET-Parameters?

I would like to see an example like this:
`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}/triggers/manual/paths/invoke/address/{postalCode}?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={shared-access-signature}`

Relative paths example:

[2020-04-21 15:47] GiantCrocodile opened #52960 "How to use GET parameters instead of relative paths?"
Hello,

you did provide an example to use relative paths like `/address/{postalCode}`. How can we use GET-Parameters?

I would like to see an example like this:
`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}/triggers/manual/paths/invoke/address/{postalCode}?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={shared-access-signature}`

Relative paths example:

[2020-04-21 15:47] NaomiN opened #52961 "Few typos noticed in this documentation"
This step is needed if you want o deploy properly sized Managed Instance and verify that performances after migration are not affected.

[want to deploy]

 and the cost of implementing a workaround are too high.

[Should cost be singular here?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f5af17-9b52-8353-eb19-973b

[2020-04-21 15:56] GiantCrocodile commented on #52957
Closed because it's a duplicate due to Github hanging/internal errors.

[2020-04-21 16:02] #52960 closed

[2020-04-21 16:10] DixitArora-MSFT commented on #52956
Hi @GiantCrocodile Thanks for reaching out. We will review and update as appropriate.

[2020-04-21 16:19] kirknall opened #52962 "Needed to use Cloud Shell"
Any attempts to execute these commands from a fat shell on a PC failed with the same errors as were reported in the 'Closed' issue on this page in 2018 and what is described alternatively as 'Fixed' and 'by design' since 2016 here: https://github.com/Azure/azure-powershell/issues/2605.

There is no 'Get-AzureRmResource' anymore. Any attempts to use the newer Az.Resource command set which includes

[2020-04-21 16:22] mimckitt commented on #52880
@RonnieQuan you are correct. If you change the storage account key or the SAS expires, you need to remove the extension and reapply it with the updated credentials.

We have some ongoing work to address this in the long term to avoid you having to do so but it is still in progress. So at this point in time, your assumption is correct.

[2020-04-21 16:24] BrianLevenson commented on #42779
I've confirmed that our assumption is accurate: If customer's tenant is not set as part of plans private audience in the catalog such change plan will fail.

[2020-04-21 16:27] Minewiskan commented on #52755
@KranthiPakala-MSFT - This is a support issue. Please remove documentation assignment.

[2020-04-21 16:29] SumanthMarigowda-MSFT commented on #52790
@ksm8bjm  I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-21 16:29] #52790 closed

[2020-04-21 16:31] Minewiskan commented on #52885
@CHEEKATLAPRADEEP-MSFT - This is a support issue. Please remove documentation assignment.

[2020-04-21 16:32] amanmcse commented on #52896
@TheITRx  In that case, I would suggest you to create an Azure Policy with MaxInactiveTime set to 15 days.

In below example, along with MaxInactiveTime, Single-Factor Refresh Token Max Age is set to 180 days and Multi-Factor Refresh Token Max Age is until-revoked. You can refer to https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes for mor

[2020-04-21 16:38] Grace-MacJones-MSFT commented on #52954
Hi @djerro123, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-04-21 16:38] mrbullwinkle commented on #28509
This issue has been addressed.

[2020-04-21 16:38] mrbullwinkle commented on #28509
#please-close

[2020-04-21 16:44] Grace-MacJones-MSFT commented on #52325
I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-04-21 16:46] Grace-MacJones-MSFT commented on #52058
Hi @PiotrPerak, since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. thanks!

[2020-04-21 16:46] #52058 closed

[2020-04-21 16:47] mimckitt commented on #52445
@skwasiborski I sort of get where you are going, but your example doesn't seem to work. If you are using Automatic OS upgrades with VMSS on Service Fabric, it requires you to have at a minimum, the silver durability tier. This means you are required to have 5 VMs in each VMSS instance. So even if you have 2 VMs in different update domains go down across an Availability Zone, you still would have 4

[2020-04-21 16:47] #28509 closed

[2020-04-21 16:48] MarileeTurscak-MSFT commented on #52921
Thanks @jakeives95! Definitely a valid point. I'm linking https://github.com/MicrosoftDocs/azure-docs/issues/31078 for reference

[2020-04-21 16:50] dubnemo commented on #52855
@mike-urnun-msft
Yes that is very helpful.
We are using the NIST/ OAGi Score tool to generate OAS 3.0.2 templates, as we are able to pick and choose fields from the OAGIS standard and express as either JSON Schema or OpenAPI3.  It is saving significant hours in our API definitions.
![image](https://user-images.githubusercontent.com/32434235/79890887-c54a5380-83c5-11ea-801f-3bffe91745cc.png)

![ima

[2020-04-21 16:50] #52855 closed

[2020-04-21 16:52] mimckitt commented on #52360
@RubenKhachatryan please try the steps listed further down in the docs to install when the package does not exist

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/update-linux-agent#update-the-linux-agent-when-no-agent-package-exists-for-distribution

[2020-04-21 16:56] mrbullwinkle commented on #52871
@ahelwer Thank you for the feedback. We have added an item for your request to our internal backlog. If others are interested in more detailed code level step-by-step examples of setting up correlation manually with App Insights please add a comment or +1 as it helps us to prioritize the work.

[2020-04-21 16:56] HeidiSteen commented on #52942
@akczcz Hi, I just updated the docs to clearly state the 1.2 is used on all connections, and 1.0 and 1.1 are not supported.  The change should be live in about 6 hours.  Thanks for posting!

#please-close

[2020-04-21 16:56] #52942 closed

[2020-04-21 16:56] jeevansd commented on #52883
@v-nagta This is good feedback here. Can you please update the doc with the said changes?

[2020-04-21 16:57] alohaninja opened #52964 "DaaS - Diagnostics as a Service Profiler"
Can we please add reference to the [Diagnostic Tool - Profiler](https://azure.github.io/AppService/2018/06/06/App-Service-Diagnostics-Profiling-an-ASP.NET-Web-App-on-Azure-App-Service.html) here? This is a powerful tool for finding bottlenecks in your apps.

[Real-time profiling via Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler) is also useful to mention a

[2020-04-21 17:01] mimckitt commented on #51103
@jonwbstr I added a note in this document with a link to the Endorsed Distos for Linux in Azure. That way it should be a little easier to find next time.

We also have a section at the bottom regarding installing manually. I am not sure if you saw it or not.

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/update-linux-agent#update-the-linux-agent-when-no-agent-package-exists-fo

[2020-04-21 17:03] BhargaviAnnadevara-MSFT commented on #52924
@rohancragg Thank you very much for bringing this to our attention! I have submitted a PR to fix the issue that's awaiting review.

Just FYI that although 180 days is not an option on the UI, the maximum validity for a PAT is not restricted to 90 days either. The **Custom defined** option lets you choose a date upto an year from the current day. Any PAT can live up to one year at most. :)

![image

[2020-04-21 17:05] amanmcse commented on #52905
@rageshm110 This completely depends on what you want to manage in you Azure AD B2C tenant. If you just want to manage User flows, **User Flow Administrator** role would work for you. To manage custom policies in B2C, you would need at **B2C IEF Policy Administrator** role. If you want to manage all aspects of B2C tenant, you would need **Global Administrator** role in B2C tenant. Having Global Adm

[2020-04-21 17:05] Grace-MacJones-MSFT commented on #52080
Hey @cbcoutinho, we appreciate your feedback! We have added a note in the doc stating "If the "Networking” blade is disabled (grayed out) in the menu for your Linux apps, it means that feature is currently not available." based on this doc  https://docs.microsoft.com/en-us/archive/blogs/waws/things-you-should-know-web-apps-and-linux

I have submitted a PR to update the doc, the change is merged in

[2020-04-21 17:05] #52080 closed

[2020-04-21 17:05] santhoshbomma9 commented on #42779
Awesome, thanks @BrianLevenson !

[2020-04-21 17:05] #42779 closed

[2020-04-21 17:08] MartinJaffer-MSFT commented on #52945
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-21 17:11] #52924 closed

[2020-04-21 17:12] tfitzmac commented on #52929
@dvherk - thanks for this suggestion. I am adding those limits and it should get published today.

[2020-04-21 17:13] tfitzmac commented on #52929
#please-close

[2020-04-21 17:13] #52929 closed

[2020-04-21 17:15] lokijota commented on #27590
The answer @KrishnaG-MSFT provided is not totally correct. Logic Apps log app behavior into Log Analytics, including application-specific context properties.

[2020-04-21 17:17] LuisCabrer commented on #52865
#please-close

[2020-04-21 17:17] #52865 closed

[2020-04-21 17:18] mrbullwinkle commented on #52657
Thank you so much for the detailed notes, and our apologies for the confusion this caused. I am adding updating this doc to next month's sprint.

[2020-04-21 17:23] divyag11 opened #52965 "Regarding training custom ner model in azure"
Does azure support training of custom ner model and provide endpoints to host it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe73e72f-a266-ecf1-5320-8f2757f83d7f
* Version Independent ID: bcbccf35-ec2c-69e3-8c89-4b69f5af6a7b
* Content: [Frequently Asked Questions about the Text Analytics API - Azure Cognitive Servi

[2020-04-21 17:25] TheITRx commented on #52896
@amanmcse  This is superb! Thank you so much for the clarification! I think I'm all good!

[2020-04-21 17:33] thowilli commented on #52682
Any update on this?

[2020-04-21 17:33] NavtejSaini-MSFT commented on #52961
@NaomiN We are checking and correcting this.

[2020-04-21 17:36] KalyanChanumolu-MSFT commented on #52474
@b-slim We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 17:36] #52474 closed

[2020-04-21 17:38] KalyanChanumolu-MSFT commented on #52791
@rphoon We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-21 17:38] #52791 closed

[2020-04-21 17:42] NavtejSaini-MSFT commented on #52763
@srini1978 The Document explains this here:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out#using-tempdb-on-read-only-replica
![image](https://user-images.githubusercontent.com/52257742/79896149-f7fc4800-83d5-11ea-9dbf-943befefe7b4.png)
Hope this helps.

[2020-04-21 17:43] KranthiPakala-MSFT commented on #45574
@willturcios1 Thanks much for sharing the details. I am working with internal team on this issue and will get back to you once I have further information.

[2020-04-21 17:43] erelh commented on #52466
Hi @RobertCadd,
As stated above - AAC doesn't configure AppLocker if GPO is identified.
Regarding the line of code with RuleCollectionExtensions - that is only 1 specific validation out of few more - it was used to reconfigure AppLocker with RuleCollectionExtensions for machines that were previously configured by AAC but didn't have this flag turned on, as it was later discovered that it is needed

[2020-04-21 17:44] PeterCLu commented on #52563
@DonPetry-EY, please use the report feedback button in documentation for documentation-related issues. You can submit product feedback and request here: https://feedback.azure.com/forums/257792-machine-learning

Thanks so much, I'll proceed to #please-close this issue

[2020-04-21 17:44] #52563 closed

[2020-04-21 17:45] PeterCLu commented on #52585
#assign:@sdgilley

[2020-04-21 17:46] PeterCLu commented on #52629
#assign:@luisquintanilla

[2020-04-21 17:50] tamram commented on #52711
#reassign: @tamram

@mallecespedes - If you wish to use Shared Key authorization when making a request to Azure Storage, you can find the access keys and connection string as described [here](https://docs.microsoft.com/azure/storage/common/storage-account-keys-manage?toc=/azure/storage/blobs/toc.json).

We recommend using Azure AD for authorization if you can over Shared Key. It's more secure and

[2020-04-21 17:50] #52711 closed

[2020-04-21 17:51] Sasmita1396 commented on #52413
I'm going through this tutorial with the free trial subscription (INDIA), but I am unable to create a compute instance at step #4 of Open the Cloned Notebook. The error I am getting that failed to create instance.

[2020-04-21 17:53] PeterCLu commented on #52861
#assign:@blackmist

[2020-04-21 17:54] sfilipi opened #52967 "Nit: Change description passed to the scheduler on the "Change based scheduler""
The reactive_schedule description has a description of "Based on time" but it is actually based on file changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0873373-90d0-b221-35be-8e243425cdbe
* Version Independent ID: 1c5bfc26-b81e-4883-4913-cb9b378b3785
* Content: [Schedule Azure Machine Learning pipelines - Azur

[2020-04-21 17:54] billmath commented on #51031
@tfurstms Thank you for the issue.  I have created a work item for this and will be addressing it.  We need to evaluate whether or not this page is worth keeping up.  Because things move around, it often gets outdated very quickly.  Unfortunately I don't have an ETA for when this change will go in because things move around.  I will post an update to this thread once the changes have been staged a

[2020-04-21 17:54] #51031 closed

[2020-04-21 17:56] billmath commented on #51085
@richard-artes Thank you for the issue.  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-21 17:56] #51085 closed

[2020-04-21 17:57] billmath commented on #51433
@rsoakford Thank you for the issue.  This is a bug and should show the agent as active.  Good catch!  I have created a work item for this and will be addressing it.  Unfortunately I don't have an ETA for when this change will go in because things move around.  I will post an update to this thread once the changes have been staged and are going live.

Thanks!

Bill

#please-close

[2020-04-21 17:57] #51433 closed

[2020-04-21 17:57] mmacy commented on #49541
#reassign:navyasric

[2020-04-21 18:01] jonwbstr commented on #51103
I saw, but wanted it managed through a repo. Thanks!

On Tue, Apr 21, 2020, 1:01 PM Micah McKittrick <notifications@github.com>
wrote:

[2020-04-21 18:01] billmath commented on #51514
@neeleshray-msft This is a support issue and not a doc issue.

#please-close

[2020-04-21 18:01] #51514 closed

[2020-04-21 18:02] billmath commented on #51786
@souravmishra-msft  This is a support issue and not a doc issue.

#please-close

[2020-04-21 18:02] #51786 closed

[2020-04-21 18:02] KranthiPakala-MSFT commented on #52110
@vikassinha2019 Thanks for sharing forum link here. Since it is handled in forum and we will proceed to close this issue.

[2020-04-21 18:02] #52110 closed

[2020-04-21 18:03] PeterCLu commented on #52529
#assign:@Blackmist

[2020-04-21 18:14] Blackmist commented on #52861
Hi @bigdatamoore I'm not sure I understand the suggested improvement. The article is about ingesting data into Azure Machine Learning using Azure Data Factory. Are you proposing ACI as an intermediate step, or as a replacement for Azure Machine Learning?

[2020-04-21 18:16] GiftA-MSFT commented on #52967
@sfilipi we will review your feedback and get back to you shortly. Thanks.

[2020-04-21 18:18] KranthiPakala-MSFT commented on #52150
@vishalaj1 Sorry for the late response. After reviewing the feedback, it doesn't seem to be related to the document linked to the issue. Could you please point us to the correct document related to this feedback?

[2020-04-21 18:24] o-o00o-o opened #52969 "Is "Cherry Pick not supported" really very precise?"
We use [Release Flow](https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/release-flow) and so we do hotfixes in feature branches off master, merged back then cherry pick that master commit into the last release branch

From the little I know of ADF source control, and the description in this article, I don't really understand why this wouldn't work.

By their nature hotfixes m

[2020-04-21 18:25] KranthiPakala-MSFT commented on #52240
@saitejakothamasu Could you please point us to the document you are referring to? In case if this is not a doc feedback, we request you to please post your question on MSDN/Stackoverflow. We have out engineers and other community members who will be happy to help.

[2020-04-21 18:29] sebansal commented on #38674
It has been added in the new documentation https://docs.microsoft.com/en-us/azure/key-vault/certificates/quick-create-portal

[2020-04-21 18:29] sebansal commented on #38674
#please-close

[2020-04-21 18:29] #38674 closed

[2020-04-21 18:35] NavtejSaini-MSFT commented on #52822
@ivanaliptakova The document does mention the use of ASC and DESC:
ASC | DESC

Specifies that the values in the specified column should be sorted in ascending or descending order. ASC sorts from the lowest value to highest value. DESC sorts from highest value to lowest value. ASC is the default sort order. Null values are treated as the lowest possible values.

Please elaborate your question.

[2020-04-21 18:36] mathieulongtin opened #52970 "Pymysql ssl argument is wrong"
The suggested argument for PyMysql ssl is:
    ssl={'ssl': {'ssl-ca': '/var/www/html/BaltimoreCyberTrustRoot.crt.pem'}}
It works, but doesn't do anything. No certificate is verified.

The proper argument is:
    ssl={'ca': '/var/www/html/BaltimoreCyberTrustRoot.crt.pem'}

You can verify this by checking the certificate after connection:

   &gt;&gt;&gt; db = pymysql.connect(..., ssl={'ssl': {'ssl-

[2020-04-21 18:36] Grace-MacJones-MSFT commented on #52964
Hey @alohaninja, thanks for the feedback! We will look into updating the doc with the tools you mentioned.

[2020-04-21 18:39] GiantCrocodile commented on #52959
Closing this one in favor of #52956. GitHub had technical issues. Sorry for posting the issue multiple times!

[2020-04-21 18:39] #52959 closed

[2020-04-21 18:43] KranthiPakala-MSFT commented on #52969
@o-o00o-o Thanks for the feedback! We have assigned the issue to the content author to further review the feedback and provide an update as appropriate.

[2020-04-21 18:44] keithnicholson opened #52971 "ErrorCode: authentication_ui_failed"
I went through the steps here and received the following Error:

Error Acquiring Token:
MSAL.UAP.4.8.1.0.MsalClientException:
	ErrorCode: authentication_ui_failed
Microsoft.Identity.Client.MsalClientException: Web Authentication Broker (WAB) authentication failed. To collect WAB logs, please follow https://aka.ms/msal-net-wab-logs ---&gt; System.Exception: The process terminated unexpectedly. (Exc

[2020-04-21 18:50] NavtejSaini-MSFT commented on #52818
@rohitnayakmsft Please check that the document can be enhanced with this information.

[2020-04-21 18:58] ajlam commented on #52970
@mathieulongtin - thanks for catching this issue! I've just made a doc change and it should be live in the next 24 hours.

[2020-04-21 18:58] zPhilMc opened #52972 "Unable to create Hyper-V version 2 disk"
Following the documentation guide at this link:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2

The New-AzDiskConfig cmdlet has been replaced with New-AzureRmDiskConfig

The New-AzureRmDiskConfig cmdlet does not have an option to specify the Hyper-V generation when creating a new disk.  Error message below:

"New-AzureRmDiskConfig : A parameter cannot be found that ma

[2020-04-21 19:02] Blackmist commented on #52529
Hi @slavizh it may be tomorrow before I get an update published. Waiting on engineering to review some of the descriptive text for the changes before publish.

[2020-04-21 19:04] RyanHill-MSFT commented on #52900
In addition to @JarroVGIT's response @StevonixDev, have you [created a new tenant](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-create-new-tenant)? Majority of the time, when you setup additional tenants, you would setup a B2B or [B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications). This [d

[2020-04-21 19:10] pecrow opened #52973 "Private AKS w/ PIP on LB."
Can you add a note stating that the standard LB will still use/have a Public IP same as the AKS nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure

[2020-04-21 19:11] mcollier commented on #41341
@PramodValavala-MSFT I think this can be closed now.  The trigger page has been updated to show V1 and V2 settings.  See https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp#hostjson-properties.

@craigshoemaker FYI

[2020-04-21 19:14] john-matlock-tech commented on #46876
This should be updated to -AvailableToOtherTenants $false, IMO.  This setting makes it impossible to use a service principal for the azure subscription delegation required by the arm template automation for scaling hosts.

[2020-04-21 19:14] #52970 closed

[2020-04-21 19:15] SnehaGunda commented on #52868
@Rodrigossz Thanks for pointing out. The above PR fixes the issue. Changes will be live by EOD.

We will close this issue now.

#please-close

[2020-04-21 19:16] #52868 closed

[2020-04-21 19:19] mehmetekici opened #52974 "Locally Redundant needs to be detailed"
Hello,
I think "Locally Redundant" database (postgresql) needs some more explanation.
- What kind of disruptions it can bare?
- Is it single data center backup and if a disruption fails the data center, is it possible to recover in region?

It is not obvious if there is a intermediary backup redundancy option between local (data center) and geo redundant.
I wish there were a regionally redundancy

[2020-04-21 19:23] dgancho opened #52975 "Azure Connected Machine Agent -- installation failed (Windows Server)"
Attempts to install Azure Connected Machine Agent on multiple Windows servers (2012R2, 2016, 2019) fail with 1603.
Looks like it reaches almost complete install, and then rolls back and deleted all files and folder in C:\Program Files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6036c6de-a2e8-ffd7-50e9-44ae32bf1682
*

[2020-04-21 19:24] eugman opened #52976 "Missing InMemoryCheckPointStore"
This the link in this sample no longer points to a valid URL for the InMemoryCheckpointStore.java file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16baa4ee-ed4b-5fae-e962-bc9af2ac7c00
* Version Independent ID: 82112058-21e1-7793-f67a-305fcd65b959
* Content: [Send or receive events from Azure Event Hubs using Java (

[2020-04-21 19:27] CeciAc opened #52977 "How can I get "IDPID" in Configure Azure AD SSO?"
@ShujiMIYOSHI commented on [Mon Apr 20 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4445)

Here there is a description to setupsaml configration.

Configure Azure AD SSO
(snip)
4.In the Basic SAML Configuration section, follow these steps:
a. In the Sign on URL box, enter a URL using the following pattern: https://&lt;subdomain&gt;.docusign.com/organizations/&lt;OrganizationID&gt

[2020-04-21 19:27] dgancho commented on #52975
Installation log (Windows Server 2012R2) - attached
[installationlog.txt](https://github.com/MicrosoftDocs/azure-docs/files/4512222/installationlog.txt)

[2020-04-21 19:30] JasonWeiand-MSFT commented on #52325
You are awesome. Thank you!

Cheers,

Jason Weiand
Support Engineer
Azure Rapid Response
Web Apps
Phone: +1 469-775-0090
Email:Jason.Weiand@Microsoft.com<mailto:Jason.Weiand@Microsoft.com>
Team Manager | Alina Streang | (alinastr@microsoft.com<mailto:alinastr@microsoft.com> ) +1 (469) 775-4367

My normal working hours are  Mon-Friday 11am-8pm US-Central Time.  If you would prefer to work with an A

[2020-04-21 19:33] mamccrea commented on #50151
@rfhickey is correct -  you should connect to a database and then exploring all schemas with search.

[2020-04-21 19:37] djpmsft commented on #52969
Hi @o-o00o-o,

Thanks for reaching out. ADF source control is just an implementation of DevOps source control. If you have a git process that works for you, I suggest you continue to use it.

This article is in the process of being updated and I will take your feedback into consideration. Our goal with the hot-fix section is to guide users to a pattern that will not break them.

Thanks,
Daniel

[2020-04-21 19:40] mamccrea commented on #50151
I hope this information is helpful. I will now proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-04-21 19:40] #50151 closed

[2020-04-21 19:46] SaurabhSharma-MSFT commented on #49786
@arowse-pfl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-21 19:46] #49786 closed

[2020-04-21 19:47] RobertCadd commented on #52466
Thanks @erelh,   I'm adding you to a thread for a ticket I have open with MS.

[2020-04-21 19:50] shawnparslow opened #52978 "CLI Commands for Register a Device errors unless you first run `az extension add --name azure-cli-iot-ext`"
In a new/default cloud shell CLI I ran:
az iot hub device-identity create --hub-name sometestiot --device-id MyNodeDevice
az iot hub: 'device-identity' is not in the 'az iot hub' command group. See 'az iot hub --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azu

[2020-04-21 19:51] Karishma-Tiwari-MSFT commented on #52115
@briantaintor Did you get a chance to look into this issue? Thanks :)

[2020-04-21 19:52] Karishma-Tiwari-MSFT commented on #52189
Is there an update? Did you get a chance to try out the steps in the comment above? Let us know if you are still seeing the issue.

[2020-04-21 19:52] MarileeTurscak-MSFT commented on #52955
@vvoinov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 19:53] Karishma-Tiwari-MSFT commented on #52671
We will close this issue now. Once the PR is merged, changes will be live shortly after.

[2020-04-21 19:53] #52671 closed

[2020-04-21 19:55] dsindona commented on #45267
@hammerhead Sorry for the delayed response and thanks for the feedback. I have updated the schema and the example. FYI: on our end, the capitalization shows as correct...
I also made a changes around the Microsoft Power Automate (previously Flow) steps. Let me know if you have additional questions.
#please-close

[2020-04-21 19:55] #45267 closed

[2020-04-21 19:56] jlichwa commented on #36229
Using assignee instead works universally for public cloud. Document updated to us that instead --assignee 'https://vault.azure.net'
#please-close

[2020-04-21 19:56] #36229 closed

[2020-04-21 19:56] jlichwa commented on #31282
Updated #please-close

[2020-04-21 19:56] #31282 closed

[2020-04-21 19:59] payiAzure commented on #52189
Yes, I tried new password to meet the requirement you mentioned. It worked now.

Is there a way for updating password resetting command: if the password does not meet the requirement, fail the command and return corresponding error message? When I used a password that not satisfy the requirement, the command still went through without returning any error message to me.

From: Karishma Tiwari - MSF

[2020-04-21 19:59] BernEdel opened #52979 "Requirement lists wrong licenses to access WVD resources"
The Microsoft 365 F1 license got a new name on April 1st, 2020: Microsoft 365 F3.
The new Microsoft 365 F1 does not include a Windows Enterprise license at all and does not include access rights to WVD according to the Product Terms (April 2020).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80

[2020-04-21 20:00] rw5207 opened #52980 ""seem" should be "seems""
"Oops, seem you're not authorized to see My Staff at this time. Please contact your admin for more information."  There is an "s" missing from "seems."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bdbdff-591e-ffc9-9e4c-49b38cc1b3ba
* Version Independent ID: b0ff6c86-fee1-c0f6-6e32-e0764e1f10b9
* Content: [Manage pa

[2020-04-21 20:10] jhernandez212 opened #52981 "Teams.microsoft.com endpoint broken"
When logging into https://teams.microsoft.com with a google account it is just redirecting to login.live.com.  As of last month it was redirecting properly to google.

If I log in to https://myapps.microsoft.com/<my tenant>.onmicrosoft.com I am able properly redirected to google to authenticate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-21 20:15] spelluru commented on #52976
@eugman - looks like name of the file and class has been changed to SampleCheckpointStore.

Here is the link to the Java file:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/SampleCheckpointStore.java

Replace InMemoryCheckpointStore to SampleCheckpointStore in the following call:

             EventPro

[2020-04-21 20:16] luisquintanilla commented on #52629
Hi @arvind-dhariwal ,

This is a Visual Studio Code extension, **not** Visual Studio. Currently there is no Visual Studio extension available for Azure Machine Learning. However, if you are looking to do Machine Learning in Visual Studio, an alternative you might want to explore is [ML.NET Model Builder](https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/model-builder).

[2020-04-21 20:18] icdavid opened #52982 "Missing RequestCharge property in 4.0.0-preview3 version?"
I'm using the 4.0.0-preview3 version of the API. I'm making the following call:

await container.UpsertItemAsync\<dynamic\>(org, new PartitionKey(org.orgId));

My issue is that the ItemResponse\<dynamic\> object returned by this call does not have an accessible RequestCharge property as documented. Is this by design? If so, is there another way to get the request charge?

---
#### Document Details

[2020-04-21 20:20] sdgilley commented on #52368
Yes, the compute instance can be created from an ARM.  We're planning to add this to documentation in the future, but in the meantime here is a template you can use. (Change the filetype to .json after you download it. )

[compute_instance_simple_deployment_arm_template.txt](https://github.com/MicrosoftDocs/azure-docs/files/4512417/compute_instance_simple_deployment_arm_template.txt)

#sign-off

[2020-04-21 20:28] #52678 closed

[2020-04-21 20:29] #52757 closed

[2020-04-21 20:33] #52368 closed

[2020-04-21 20:52] yuanman2016 commented on #43897
This is really helpful! I spent 2 hours to find an example of how to fail a runbook webhook activity. And I got it here. Great, thanks very much!

[2020-04-21 20:53] jeeszacharia commented on #52874
Thanks, can you please include this in the documentation, it will be helpful for others.

[2020-04-21 20:53] SaurabhSharma-MSFT commented on #52863
@owp3 I do not see any way to do that however I suggest you to please reach out to  tmtextsupport@microsoft.com with your questions or concerns on Threat Modeling tool.

[2020-04-21 20:57] akczcz commented on #52942
Hello, thx! that's great, thank you for your quick response
Adam

________________________________
Od: PRMerger20 <notifications@github.com>
Odesláno: úterý 21. dubna 2020 18:56
Komu: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Kopie: Adam Kolarik <a.k.cz@outlook.com>; Mention <mention@noreply.github.com>
Předmět: Re: [MicrosoftDocs/azure-docs] Encryption in transit / which versions o

[2020-04-21 20:57] SaurabhSharma-MSFT commented on #52559
@moiiran We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-21 20:57] #52559 closed

[2020-04-21 20:59] SaurabhSharma-MSFT commented on #52980
@rw5207 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-21 21:15] muhammadaffan14github commented on #52982
Gg

[2020-04-21 21:16] MarileeTurscak-MSFT commented on #52981
@jhernandez212 the link you posted is misspelled, but assuming it's spelled correctly in the app you will need to make sure you set the Redirect URI to the right spot so that it redirects where you want it to go.

[2020-04-21 21:25] iainfoulds commented on #52944
As noted in the doc, the _CorpNetSaw_ service tag isn't available in the Azure portal:

![image](https://user-images.githubusercontent.com/17856069/79914108-8a521b00-83d9-11ea-84fc-02a999b18c71.png)

The _CorpNetSaw_ service tag is correct from PowerShell or Azure CLI, such as [the New-AzNetworkSecurityRuleConfig PowerShell cmdlet](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-fi

[2020-04-21 21:25] #52944 closed

[2020-04-21 21:28] SaurabhSharma-MSFT commented on #52980
@rw5207 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-21 21:28] #52980 closed

[2020-04-21 21:29] MartinJaffer-MSFT commented on #28027
Optionsets can be mapped to the Data Factory integer type.

[2020-04-21 21:32] KranthiPakala-MSFT commented on #52696
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-21 21:32] #52696 closed

[2020-04-21 21:33] jdkrobinson opened #52984 "Explicit statement re Intermediate Certs would be helpful"
If the Trusted Root CA Certificate is a private, offline root CA, which authenticates an online Enterprise CA, do we:
1) Only need to upload the offline root CA cert?
2) Also need to upload the intermediate/Enterprise-CA cert?
3) ONLY upload the Enterprise CA's certificate as the "Trusted Root CA Certificate"?

It appears from the doco above that option 1) is sufficient...but then the doco is usin

[2020-04-21 21:35] b-juche commented on #52895
@lichunli-ms -- Can you please weigh in?  Thanks.

[2020-04-21 21:35] Anand-Moghe commented on #52036
@SnehaAgrawal-MSFT  Any update on this? BTW, PHP stack can be hosted on Windows or Linux App Service Plan. So the documentation needs to address both.

[2020-04-21 21:35] chriscrawfordTR commented on #28027
Regular OptionSets can be mapped, but "MultiSelect Option Sets" can't be mapped to a DataFactory data type

[2020-04-21 21:39] Grace-MacJones-MSFT commented on #52409
Hi @CeciAc, I got confirmation from the engineering team that the original sentence is correct as is. However, we are going to update the sentence to this "ASEs host applications from only one customer and do so in one of their VNets." to avoid confusion.

I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to c

[2020-04-21 21:39] #52409 closed

[2020-04-21 21:41] DCtheGeek commented on #39701
The overview has been updated and will publish later today. The updates add clarity to roles required for these activities.  Thanks again for all the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-04-21 21:41] #39701 closed

[2020-04-21 21:41] TravisCragg-MSFT commented on #52940
@stuhad This is something simple that you set on the [OpenVPN Client](https://openvpn.net/access-server-manual/authentication-radius/).

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-21 21:43] supmn084 commented on #51931
Correct, SQL should be configured to listen over this port. In every installation I've done from scratch for DPM it fails to be configured. In every instance of running through the install wizard (selecting DPM to install and configure SQL along with reporting services) It fails to set the TCP port at 1433.

This is in SQL Server Configuration Manager > SQL Server Network Configuration > Protocols

[2020-04-21 21:49] jzuchora87 opened #52985 "New Regions online"
Are there any updates to this pairing for the more recently added regions, specifically:  Norway, Switzerland, South Africa, UAE, or Germany Public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Azure Automa

[2020-04-21 21:51] ducatijosh opened #52986 "Syncing Alternate Email, OtherMails or AlternateEmailAddresses via AD Connect?"
I see in the article how we can manually configure the Authentication email address via powershell or the Azure portal, how do we sync it via AdConnect? In the ADConnect sync rules I don't see a target option for any of this?

We would like to add the value when creating users and have it populate for us when synced to AzureAD via ADConnect.

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-21 21:55] jessicl-ms commented on #52123
You can add wildcard domains via PS the same way you add fully qualified custom domains via PS. Here's an example script:
[code]

[2020-04-21 21:57] tartieret commented on #52702
My understanding of this issue is that it's possible to the set the partitionKey of the output event as metadata with the C# SDK. However, I cannot find any example about how to do this in Python ?

[2020-04-21 21:58] tfitzmac commented on #52832
@CharmanderJieniJieni - thanks for this feedback and question. Yes, resource groups and subscriptions are resource types. A resource type is any entity that has an Azure REST API operation associated with it. I will update the doc to clarify that term.