[2020-03-10 18:08] SaurabhSharma-MSFT commented on #49581
@haymansfield We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-10 18:08] #49581 closed

[2020-03-10 18:09] SaurabhSharma-MSFT commented on #49362
@juniwang We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-10 18:09] #49362 closed

[2020-03-10 18:10] SaurabhSharma-MSFT commented on #49659
@wrzzd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-10 18:10] #49659 closed

[2020-03-10 18:10] MarileeTurscak-MSFT commented on #49866
@HenkPoley
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 18:10] SaurabhSharma-MSFT commented on #49741
@Ashish-Jovial We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-10 18:10] #49741 closed

[2020-03-10 18:12] #49679 closed

[2020-03-10 18:12] SaurabhSharma-MSFT commented on #49786
@arowse-pfl sorry for the inconvenience.   I am able to repro it and checking internally with the products team.  I will let you update you as soon as I hear back.

[2020-03-10 18:14] normesta commented on #40944
Hi @PingPongSet thank you for raising this. I've updated this content by adding a link to the following content: [Managing concurrency in Blob storage](https://docs.microsoft.com/azure/storage/common/storage-concurrency#managing-concurrency-in-blob-storage). This content provides a clearer explanation of the etag field and provides a code example for how you might use that field to ensure that the

[2020-03-10 18:14] normesta commented on #40944
#please-close

[2020-03-10 18:14] #40944 closed

[2020-03-10 18:23] CeciAc opened #49889 "Changing the VNet of an existing Azure Databricks workspace is not supported."
@JamesDLD commented on [Sat Mar 07 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/690)

Would you mind adding in this page as a Known issue that "Changing the VNet of an existing Azure Databricks workspace is not supported".
I did raise a feature request here would appreciate your vote : https://feedback.azure.com/forums/909463-azure-databricks/suggestions/39884620-support-changing

[2020-03-10 18:23] SaurabhSharma-MSFT commented on #49667
@cananac ok. I get you.  I am checking this internally with the products team and update you on my findings.

[2020-03-10 18:24] normesta commented on #49840
Hi @jay7x The [Use AzCopy in a script](https://docs.microsoft.com/azure/storage/common/storage-use-azcopy-v10?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#use-azcopy-in-a-script) section of this page contains guidance for creating a static link that you can use in automation. Please let me know if this is what you are looking for. Thx!

[2020-03-10 18:30] hEi872 opened #49890 "process.env error"
Error happened for process.env
'process' is not defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98279c3-7183-f0ee-4378-e8a232b6ba22
* Version Independent ID: c59ccc3e-b157-bb6a-5926-fd52a17f65a2
* Content: [Quickstart: Generate a thumbnail - REST, JavaScript - Azure Cognitive Services](https://docs.microsoft.co

[2020-03-10 18:35] LeoLopezAtHL commented on #49682
The issue is resolved. I used the "copy" option on the webpage to copy the code. Apparently when I pasted it; the long string it searches for in the "where" statement had a "return" after [TResult] as shown here. I just removed it and it worked. Thanks.
'System.Threading.Tasks.Task`1[TResult]
AsTask[TResult,TProgress](Windows.Foundation.IAsyncOperationWithProgress`2[TResult,TProgress])'})[0]

[2020-03-10 18:43] CeciAc opened #49892 "please add new VM types"
Example, but likely more you can and hence should add;
https://azure.microsoft.com/en-us/blog/announcing-new-amd-epyc-based-azure-virtual-machines/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of t

[2020-03-10 18:48] MicrosoftGuyJFlo commented on #49566
I will see if I can get additional clarification

[2020-03-10 18:48] MicrosoftGuyJFlo commented on #49535
#please-close

[2020-03-10 18:49] #49535 closed

[2020-03-10 18:54] IEvangelist commented on #49338
Hi @Pancat007,

I happy to report that we've updated the page that said "11", as that was out of date. Thank you for bringing this to our attention.

[2020-03-10 18:59] CeciAc opened #49893 "There is an error in the IP address in the "Update DNS settings for the Azure virtual network" section"
@Shinji-IkariG commented on [Thu Mar 05 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/699)

IP should be 10.0.1.4, 10.0.1.5 instead of 10.1.0.4, 10.1.0.5

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: ad393cc1-3395-fb17-b441-3d8998ed515b
* Version Independent ID: d4ebda6b-1528-e553-b37e-df586e6cb606
* Content: [教程 - 创建 Azure Active Directory 域服务实例](

[2020-03-10 19:00] SaurabhSharma-MSFT commented on #49792
@mbell85 Please check this [documentation](https://docs.microsoft.com/en-us/azure/sentinel/connect-cisco) which is specific to connect Cisco ASA to sentinel
which says that you need to "Set port to 514 or the port you set in the agent."  Please let me know if you still face any issues.

[2020-03-10 19:02] joverdon opened #49894 "Licensing Transfer from CSP to MCA (Self-serve and/or Field-led)"
It is my understanding that there must be a rebuild if an Azure customer would like to move from a CSP to direct. This page makes it sound like it is possible with little rebuild, in fact, that you can use the Azure Resource Move tool to migrate certain resources without rebuilding. This page could use clarification on capabilities to move from CSP subscriptions to a direct subscription.

---
####

[2020-03-10 19:02] mbell85 commented on #49792
Not sure how to set the port in the OMS agent. There is no documentation.

--

Mark Bell
IT Admin/Coordinator
Journeys in Community Living
1130 Haley Rd.
Murfreesboro, TN 37129
615-890-4389, ext. 45 (ofc)
615-295-3046 (cell)
www.journeystn.org<http://www.journeystn.org/>
www.fb.com/journeysincommunity<http://www.fb.com/journeysincommunity>
www.twitter.com/journeystn<http://www.twitter.com/journeys

[2020-03-10 19:04] kobulloc-MSFT commented on #48325
@SychevIgor We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-10 19:04] #48325 closed

[2020-03-10 19:06] chwarr commented on #49417
I have a PR proposal to improve this documentation. Can we re-open this issue so I can link it?

[2020-03-10 19:07] Ericgre commented on #49884
Thanks for the feedback, I'll add a comment in the beginning of the doc. Only premium v2 (not premium v1) and ASE with ELB. Just after the section "Create your Web App and Private Endpoint" you have a note in purple explaining that is only for 2 SKUs. We are still in preview, it's not open today, please wait for public announcement.

[2020-03-10 19:07] SaurabhSharma-MSFT commented on #49793
@cmmdesai Can you please help.

[2020-03-10 19:09] ravick4u opened #49895 "Publish-AzWebapp"
I see the command "Publish-AzWebapp" is from the PowerShell AZ module. Is there a similar command for the PowerShell AzureRM module as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment

[2020-03-10 19:10] SaurabhSharma-MSFT commented on #49862
@steele6599 I see your issue is still open over [here](https://github.com/MicrosoftDocs/azure-docs/issues/49793) and so closing this one as duplicate.  We will provide you updates on your old issue.

[2020-03-10 19:10] #49862 closed

[2020-03-10 19:14] Mike-Ubezzi-MSFT commented on #49417
@chwarr Thank you for the update.

[2020-03-10 19:18] varyamereon commented on #49016
@DashleenBhandari-MSFT I think the main point @blmiles was making is that the documentation needs updating as Easy Tables is no longer an option. I am getting started writing my first Azure backend and it's a shame when the documentation is not up to date as I do not know what to do next.

[2020-03-10 19:18] uranio-235 commented on #49784
Thanks for you answer. I'm using VisualStudio 2019, just created azure function time triggers and follow such steps.

[code]
As you can see, version is 2.  This is my project file:

[code]

[2020-03-10 19:22] ADNewsom09 opened #49896 "Version of powershell supported?"
This doesn't seem to work on PowerShell 7.
Can we get clarification on what versions of PowerShell are supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell V2 examples for managing groups - Az

[2020-03-10 19:23] CeciAc opened #49897 "Code inclusions don't work when viewing the page in German"
@chlandsi commented on [Tue Mar 03 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/629)

Under "Display the recognition results (or errors)" and "Check your code", I don't see the included code, but markup like this `Inside the using statement, add this code: [!code-csharp]` when viewing the page in German (de-de in the url). The index on the left is in German, as well as the boiler

[2020-03-10 19:25] CeciAc commented on #49897
Hi team,
can you please check this issue?
It looks like an issue in other pages where the wrong fencing format was used and the translation software broke the format in localized versions.

best

[2020-03-10 19:27] RavennMSFT commented on #47473
@Artfoul There's no writeback required. Windows has the capability built into it based on the user attributes it receives from Azure AD. When a user is synced from AD to AAD, the on-premises domain attributes are also synced that are also available to AAD joined machines. Specifically, when we get a PRT from Azure AD, we also receive the NetBios and DNS domain name. This allows Windows to locate t

[2020-03-10 19:28] bandersmsft commented on #49894
@joverdon Thanks for your feedback. I'm investigating this with the Cost Management team. When I have info to report, I'll reply here.
#in-process

[2020-03-10 19:33] devarghya-tech commented on #44410
In my experience, we get this error when the application (in this case Power BI Service) has not enabled users to sign-in. We can fix this by going into Enterprise Applications>All Applications>{Application name}>Properties and set Enable users to sign-in as Yes.

Alternately we can do it by using Powershell by
Connect-MsolService # then provide credentials and then
Set-MsolServicePrincipal -AppPr

[2020-03-10 19:33] jemag commented on #49578
@jakaruna-MSFT that seems quite unfortunate if this is the only option. With authorized IP ranges and now Private API Server in preview, it seems like there should be a better way to handle this.

Having a Private API Server would be inconvenient with the current Environments requirements. Anyway, thanks for the clarification I will try to create a feedback post a suggested.

[2020-03-10 19:33] spelluru commented on #37532
@axisc - Please answer as soon as you can. Thanks.

[2020-03-10 19:34] CeciAc opened #49898 "Azure CLI command notation error fix review"
**The comments below were machine-translated**

@zer0big commented on [Tue Mar 03 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1086)

In the Azure CLI commands in the Deployment Execution Commands section, "azure group deployment create ..." may need to be modified to "az group deployment create ...". Please review.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitH

[2020-03-10 19:37] MicrosoftGuyJFlo commented on #47711
@martincoetzer please comment when your PR is merged that addresses this issue.

[2020-03-10 19:37] MicrosoftGuyJFlo commented on #47711
#assign @martincoetzer

[2020-03-10 19:37] rboucher commented on #42655
#reassign:sshams79

[2020-03-10 19:38] MicrosoftGuyJFlo commented on #47711
#unassign @MicrosoftGuyJFlo

[2020-03-10 19:39] bandersmsft commented on #48021
@leighj Thanks very much for your contribution to this issue.
@John-Blair If you'd like to submit an idea or suggestion, https://feedback.azure.com/forums/906772-cost-management is the place to go.
#please-close

[2020-03-10 19:39] #48021 closed

[2020-03-10 19:41] SeanFeldman commented on #37532
The way I see it is the type is up to the users of the service bus. The broker cannot (and should not) enforce it.

It's already there and called `UserProperties` 🙂
You can use custom headers (user properties) for any metadata you desire.
How you use `ContentType` is also up to you. You can specify the serialization used, or leave it and use headers as well. Keep in mind that for subscriptions hea

[2020-03-10 19:44] rboucher commented on #40998
#reassign:sshams79

[2020-03-10 19:46] uranio-235 commented on #49784
Example neither work

[code]

[2020-03-10 19:51] martincoetzer commented on #47711
I added a note to mention the MFA claim in a PRT and RT only satisfy the first claim and a new access token will be required with MFA for the second claim:
When a previous existing PRT and RT are used for access to an app, the PRT and RT will be regarded as the first proof of authentication. A new AT will be required with a second proof and an imprinted MFA claim. This will also issue a new PRT an

[2020-03-10 19:53] MarileeTurscak-MSFT commented on #49843
@imeya
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 19:53] normesta commented on #49861
Thanks for raising this @CeciAc - I've removed the AzCopy V10 link from the TOC. You are most certainly correct, AzCopy V10 is not supported for tables. I updated the two other AzCopy links to point to our archived content for AzCopy v8. AzCopy v18 and AzCopy v7 are legacy systems and this archived content is all that is available.  Please try to use the examples presented in the AzCopy v8 version

[2020-03-10 20:02] rboucher commented on #13417
@sergioeliot2039 Did this answer your question?  Can we close this issue?

[2020-03-10 20:11] IEvangelist commented on #49897
This should have been fixed as part of this https://github.com/MicrosoftDocs/azure-docs-pr/pull/106659, I believe it takes the localization team a full week to propagate dates through. Please check back in a few days.

[2020-03-10 20:11] erotavlas commented on #49705
Nope, still didn't work now in the events it says

"Failed to pull image "myinscontainers.azurecr.io/test3:latest": [rpc error: code = Unknown desc = a Windows version 10.0.18363-based image is incompatible with a 10.0.17763 host, rpc error: code = Unknown desc = Error response from daemon: Get https://myinscontainers.azurecr.io/v2/test3/manifests/latest: unauthorized: authentication required] "

[2020-03-10 20:16] BharathNimmala-MSFT commented on #49551
@stephen-cairns Post validation with our product team associated to this feature , sorry to inform you that we don't have an ETA on this at this point of time. However want to keep you informed that discussion are in progress based on current backlog and our documentation will be updated as we make progress on this.

Hope the above information helps. At this point it appears that there's no furthe

[2020-03-10 20:16] #49551 closed

[2020-03-10 20:17] abelsquidhead opened #49901 "UI has Changed a bit in AzD. Some steps have changed a little bit"
[Enter feedback here]

- Examine the CI/CD Pipeline: Step 3 - does not look like that anymore

- Examine the CI/CD Pipeline: Step 9 - Retention Policy has moved in AzD

- Examine the CI/CD Pipeline: Step 11 - UI has changed, you just need to select the pipeline and then click the edit button

- Examine the CI/CD Pipeline: Step 16-18 - UI has changed

---
#### Document Details

⚠ *Do not edit this

[2020-03-10 20:23] WhippsP commented on #49708
Please post this on Stack Overflow and tag the question azure-ad-b2c.
It is also worth noting that the SAML specification mandates that the relaystate must be no larger than 80 bytes. See http://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf section 3.4.3

[2020-03-10 20:27] igorjnz commented on #49119
@msrini-MSFT - I realize how to set it but when I set it on one backend pool it flows through to ALL my backend pools. I need each backend pool to have a different health probe endpoint

[2020-03-10 20:28] MicrosoftGuyJFlo commented on #47473
Thanks @RavennMSFT! Will add this to a future update to the content.

[2020-03-10 20:28] MicrosoftGuyJFlo commented on #47473
#please-close

[2020-03-10 20:28] #47473 closed

[2020-03-10 20:28] MicrosoftGuyJFlo commented on #47711
#please-close

[2020-03-10 20:28] #47711 closed

[2020-03-10 20:29] vlall commented on #35374
Can we view these bounding boxes visually with a pre-existing tool?

[2020-03-10 20:33] D-Moonesinghe opened #49902 "This video shows selecting a program"
Yet I couldn't find any page under the access review docs that explained what the "Access Review Programs" are and their significance.  Other than the video on this page in passing selects this option without much elaboration. https://youtu.be/X1SL2uubx9M?t=158 (video is queued to the point).
The following page (seems newer) that walks you through creating and access review never mentions it at al

[2020-03-10 20:38] stijnherreman commented on #34580
@msrini-MSFT please take another look at this.

Step 4 is 'Verify the custom domain' and step 5 is 'Map the permanent custom domain'. When at step 4, `www.contoso.com` is not yet pointing at the CDN endpoint, there is only `cdnverify.www.contoso.com`

`cdnverify.contoso.azureedge.net` does not resolve, so it's seemingly impossible to verify that everything is working correctly, before moving on to

[2020-03-10 20:39] dmarlow commented on #34451
Took a bit of trial/error for me, but here's what I've found. I had a docker image that I wanted to use was one I didn't create, but publicly available on docker hub.

The port was set to 8030, but could be overridden by using the PORT environment variable.

I tried setting PORT to 80 and saw it was being utilized correctly via the startup command: `-e PORT=80`.
However, I did also see this in the

[2020-03-10 20:40] dhirajgandhi commented on #49894
@jpvedon - It is based on each resource. Some resources can be moved and some requires rebuild. This is documented in the link provided in this page.

[2020-03-10 20:41] KranthiPakala-MSFT commented on #49591
@juanand Thanks much for sharing additional information. As per the offline conversation, the issue seems to be with Certificate and not ADF.

And also the purpose of this repo is to address issues related to document content and at this time the reported issue is related to certificate used and not the ADF side, we will now proceed to close this thread.

I have also reported the error message typ

[2020-03-10 20:41] #49591 closed

[2020-03-10 20:42] iainfoulds commented on #49893
Thanks for the feedback, @Shinji-IkariG and @CeciAc

I've created a PR to update the example DNS servers to match the default IP address ranges and screenshot.

#in-progress

[2020-03-10 20:44] shooker opened #49903 "Pre-requisite update"
In this prerequisite: "An existing Azure subscription and an existing storage account within it to store the data."

Could this sentence be altered to include that Blob storage accounts are incompatible and/or a storage account that supports Table storage is required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1324

[2020-03-10 20:52] BernhardRode commented on #39201
From what my tests showed, it is.

[2020-03-10 20:55] WhippsP commented on #46412
The Test App has now been updated to use b2clogin.com

[2020-03-10 20:56] joverdon commented on #49894
The second step (transferring subscriptions b/n tenants) brings up a new page: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory. This page mentions "Make sure you're not using an Azure Cloud Service Providers (CSP) subscription (MS-AZR-0145P, MS-AZR-0146P, MS-AZR-159P), a Microsoft Internal subscription (MS-AZR-0015P), or

[2020-03-10 20:56] MikeDodaro commented on #49384
Merged changes in https://github.com/MicrosoftDocs/azure-docs-pr/pull/106832

[2020-03-10 20:56] #49893 closed

[2020-03-10 21:09] hengsworld commented on #34916
Looking for a similar solution with Azure NetApps metrics to Log analytics workspace. I am clicking in circle with all the nested links... Can you lead me in the right direction?

[2020-03-10 21:11] MartinJaffer-MSFT commented on #49855
@GuidoTournois  you will find the output looks similar to the following:

[code]
The `"runOutput"` will exist if and only if, the notebook returns an exit code ( `dbutils.notebook.exit(stuff)` ).

Please let me know if this did not answer your query, and I will re-open the issue.

[2020-03-10 21:11] #49855 closed

[2020-03-10 21:11] haymansfield opened #49904 "Network security group associated with Vnet"
The article warns not to associate the GatewaySubnet with a network security group as it may not work correctly.
Could the article clarify whether a network security group associated with the GatewaySubnet's Vnet will cause similar issues?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7beda32-f5fd-67b9-4845-015c92c77

[2020-03-10 21:15] RyanHill-MSFT commented on #49844
Hi @gennarodimeosax can you provide more info on which request(s) is causing the redirects? Do you have any node package dependencies?

[2020-03-10 21:16] mike-urnun-msft commented on #49784
@uranio-235 Could you share your code in `Startup.cs` as well as in `WealFunction.cs` files? For getting the exact runtime version, in your command line, you can type in `func` and it should show as below:
![image](https://user-images.githubusercontent.com/36717703/76360205-c58d0480-62d9-11ea-8f26-d2d885262291.png)

[2020-03-10 21:18] RyanHill-MSFT commented on #49143
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-10 21:18] #49143 closed

[2020-03-10 21:33] kuwe1990 opened #49907 "ACR Task build RS1&RS5 dockerfile. It fail for timeout issue."
I try to write some acr task to build rs1/rs5 windows container. But it randomly get some timeout exception. It use same dockerfile like 19h1/19h2. But similar issue do not happen for 19h1 and 19h2.

Removing intermediate container f78fdc39c8f4
 ---> f885b310565a
Step 7/102 : RUN reg query "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion" /v CurrentBuild > runTimeVersion
 ---> Running in cc7d9eb

[2020-03-10 21:33] GiftA-MSFT commented on #49897
@CeciAc the fix should resolve your issue, let us know by the end of next week if issue persists. Thanks.

[2020-03-10 21:33] #49897 closed

[2020-03-10 21:34] Ayanmullick opened #49908 "Boot diagnostics element missing"
How does one add the `boot diagnostics` element in the configuration so the boot diagnostics data can be sent to a storage account in a different subscription like all other diagnostics data?

<details>

<summary> Screenshot </summary>

![image](https://user-images.githubusercontent.com/17693249/76361411-03475880-62ed-11ea-8d8e-e97bd6f4cf8d.png)

</details>

@slavizh

---
#### Document Details

⚠

[2020-03-10 21:40] gjmoyer commented on #48047
At the time I clicked, the link above does not show anything related to my inquiry of how to use role based security in trigger functions.  The answer is to add "Authentication=Managed Identity" to the connection string which is currently only available in the premium tier, but I am told is planned for the standard tier.

[2020-03-10 21:43] MarileeTurscak-MSFT commented on #49459
Thank you both! I created a bug for this. I have pinged you on Teams but will also follow up on this thread when we have an ETA for a fix.

[2020-03-10 21:43] #49459 closed

[2020-03-10 21:55] GiftA-MSFT commented on #49890
@hEi872 we will review your feedback and get back to you shortly. Thanks.

[2020-03-10 21:56] GiftA-MSFT commented on #49886
@DarylArmstrong we will review your feedback and get back to you shortly.

[2020-03-10 21:59] MarileeTurscak-MSFT commented on #49857
@balukantu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 21:59] Grace-MacJones-MSFT commented on #49187
Thanks for the clarification John.  I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-03-10 21:59] #49187 closed

[2020-03-10 22:06] javester commented on #48830
The documentation does not specify that you have to disable the VM backup job in order to perform this task.

[2020-03-10 22:08] snesbitt76 commented on #49834
The default behaviour for app settings is to swap with the application. It is extra effort to define settings as slot-specific in ARM templates. Furthermore, one of the advantages of using slots in a CI/CD methodology is define the Release Pipeline to deploy a new version of the function to the staging slot and then swap it with the production slot. This pattern will always ensure that after the s

[2020-03-10 22:14] shreyasharmamsft commented on #49367
@mwlootens thanks for the reply. Would you mainly use the instance fields to store static values for calculations (i.e. in variables)?

[2020-03-10 22:17] shreyasharmamsft commented on #49778
@KristinLieber thanks so much for pointing that out! Values must be unique across categories. We will update this 👍

[2020-03-10 22:21] Anand-Moghe opened #49910 "How does authentication with x.500 certificate hosted in AD Server works with self-hosted gateway"
If I am implementing self hosted gateway for hybrid scenario, how does x.500 certification hosted in AD server works? Lets say I have an internal on-premise SOAP API that need X.500 certificate to authenticate. What is the workflow looks like in this scenario for AuthN and AuthZ for internal API (SOAP or REST) in self-hosted gateway scenario? Where does the certificate is stored (on-premise or Azu

[2020-03-10 22:21] #49417 closed

[2020-03-10 22:24] david-jarman opened #49911 "Example ARM template workspace API is not documented in the official ARM template references"
The API of the example workspace in this page is "2017-03-15-preview", but when you go to the [Microsoft.OperationalInsights](https://docs.microsoft.com/en-us/azure/templates/microsoft.operationalinsights/allversions) resource reference, the only API version listed is 2015-11-01-preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-03-10 22:29] #46412 closed

[2020-03-10 22:32] MarileeTurscak-MSFT commented on #49670
Hi @CharmanderJieniJieni ,

The Application ID and the Client ID are the same thing. There is just different terminology for them.

![image](https://user-images.githubusercontent.com/13383753/76364502-8fa04e00-62e2-11ea-8919-f6328b2a3d16.png)

Object ID, as you mentioned, is just the unique identifier of the Object. So any user in the AAD would have a unique Object ID. The Principal ID and Object

[2020-03-10 22:32] MarileeTurscak-MSFT commented on #49670
Hope this helps! If you have further questions feel free to reach out to us on [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or create a new issue.

[2020-03-10 22:32] #49670 closed

[2020-03-10 22:37] mikewo commented on #46992
We are using Terraform to create these scale sets, which would mean the Go SDK hitting the API. Not the portal.

[2020-03-10 22:37] yairt1974 commented on #49687
This is working but not supported or recommended at this time. We are also not sure it is a good idea to support it in the future as it will make cleaning up resources a challenge especially if you happen to have several Public IP addresses with the same names in different resource groups.

[2020-03-10 22:44] Karishma-Tiwari-MSFT commented on #49499
Hi, This looks like a azure cli issue. I opened an issue to Azure-CLI repo [here](https://github.com/Azure/azure-cli/issues/12531).
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-10 22:44] #49499 closed

[2020-03-10 22:44] cherylmc commented on #49669
@MagadiBh  - Thank you for your feedback. You are correct, this is indeed steps on the your end, not the provider.  This article contains only configuration steps. The "Before you being" section provides links to prerequisites and the workflows, which will help clarify the process. Hope this helps! #please-close

[2020-03-10 22:44] #49669 closed

[2020-03-10 22:45] luzmariaeIDB commented on #12432
MrJinx2015 where you able to fix the firewall authentication issue? is what is killing me now.

[2020-03-10 22:51] luisbecerril-ips opened #49914 "Cannot build docker image"
I cannot build the specified docker image.
On my windows 10 machine, I get the following when trying to install Flask:
[code]

It looks like pypi.org DNS is not being resolved correctly. If I log into the python:2.7-windowsservercore container and execute `nslookup pypi.org` I get the following message:

&gt; UnKnown can't find pypi.org: Server failed

---
#### Document Details

⚠ *Do not edit thi

[2020-03-10 22:56] lokijota opened #49915 "FATAL: SSL connection is required. Please specify SSL options and retry."
I'm getting this when following these instructions to connect to my Azure PgSQL instance with my Azure AD user:

psql: server closed the connection unexpectedly
        This probably means the server terminated abnormally
        before or while processing the request.
FATAL:  SSL connection is required. Please specify SSL options and retry.

Can you please validate/amend the instructions?

---
##

[2020-03-10 22:57] MartinJaffer-MSFT commented on #49565
To achieve this I believe you would want to create an instance of the [TabularTranslator mode](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.tabulartranslator?view=azure-dotnet)l, and set the Copy Activitiy's [Translator property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.copyactivity.translator?view=azure-

[2020-03-10 22:58] BharathNimmala-MSFT commented on #49911
@david-jarman Thank you David for your query, we will look into it and get back to you at the earliest.

[2020-03-10 22:58] lgayhardt commented on #49466
@tudorsibiu90 were you targeting Azure Functions runtime version 1.x?  To use the Application Insights scheduled digest template you must target runtime version 1.x.

By default when you create your Azure Function it should be on the latest runtime. To change the runtime version go to the **Function app settings** and select -1 under _Runtime Version_.
https://docs.microsoft.com/en-us/azure/azure-

[2020-03-10 23:02] MarileeTurscak-MSFT commented on #49763
@imshreya please change the"Default Client type" to "yes" to activate ROPC flow, if you have not done so already.

Since this is not posted to a particular document you will need to open a thread on [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) and we will continue the discussion there.

[2020-03-10 23:02] #49763 closed

[2020-03-10 23:05] MartinJaffer-MSFT commented on #49889
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-10 23:19] #37819 closed

[2020-03-10 23:37] thdotnet commented on #49308
Hi @DashleenBhandari-MSFT

I've tried with StretchMode.None, but it's still not generating the videos in the resolution I'm specifying. In fact, it's not even respecting the file name pattern.

Here's the code I'm using:

[code]

[2020-03-10 23:49] KenBrady opened #49916 "This Preview Fails"
There were at least two problems with this quick-start:

1.  The step "Create a Windows container app" - the instance name kept giving a message like "this name is not available".  I finally chose "doesAnythingWork", and it allowed me to use that.

2.  In "Browse to the container app", in step 2 where I browse to the URL, I'm greeted with ":( Application Error".  When I click the link "diagnostic

[2020-03-10 23:50] Karishma-Tiwari-MSFT commented on #49870
Cluster implies hardware cluster here.
For example, in [this section](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-availability-sets#check-for-available-vm-sizes), it is mentioned

[2020-03-10 23:51] Karishma-Tiwari-MSFT commented on #49870
Thanks for your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-10 23:51] #49870 closed

[2020-03-10 23:52] Karishma-Tiwari-MSFT commented on #49873
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-10 23:55] Karishma-Tiwari-MSFT commented on #49892
Please refer to this document on AMD EPYC based VMs:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/storage-performance
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-11 00:00] TravisCragg-MSFT commented on #49687
@MikeMichel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-11 00:00] #49687 closed

[2020-03-11 00:01] mike-urnun-msft commented on #49895
@ravick4u Thank you for your feedback! We will review and update as appropriate.

[2020-03-11 00:02] mike-urnun-msft commented on #49898
@zer0big Thank you for your feedback! We will review and update as appropriate.

[2020-03-11 00:07] mike-urnun-msft commented on #49910
@Anand-Moghe Thank you for your feedback! We will review and update as appropriate.

cc: @miaojiang for any insights

[2020-03-11 00:14] CESARDELATORRE commented on #46653
I think this issue should be re-opened (please, re-open it since I'm the PM driving AutoML-ONNX) and let's provide a better vision of what you achieve with ONNX plus, like I was saying above, it doesn't make sense to have a section titled "Use with ONNX in C# apps" and then point to a notebook which is only Python code and nothing about C#.

We need to explain the end-to-end process, how to export

[2020-03-11 00:26] Karishma-Tiwari-MSFT commented on #49903
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 00:31] Karishma-Tiwari-MSFT commented on #48581
Are you still seeing the issue?
Do you have the ability to open a support request?
If not, send me an email to AzCommunity@microsoft.com with your Subscription Id and a link to thus thread. I can enable a support request for you and support engineer can take a look at the backend on why is this failing.

[2020-03-11 00:35] Grace-MacJones-MSFT commented on #49398
@ohwellwhatever  there is a background job that runs and pulls/syncs the new cert from Key Vault. This background job runs about every 8 hours, however it does the syncing by batches, so it’s not a guarantee that the new cert would’ve synced within 8 hours. Thus, we document it as 48 hours in case the cert doesn’t get picked up with the first runs of the background tasks. The sync operation should

[2020-03-11 00:35] #49398 closed

[2020-03-11 00:35] aarontownley commented on #49689
Agreed, there is no documentation on this however I've just achieved automated deployment of the configuration through the following (assumes you're using Azure VPN Client with AzureAD Authentication) -
1) Download the azurevpnconfig.xml file and make your necessary changes (eg add DNS servers/suffix)
2) On your PC only, import the azurevpnconfig.xml file which will create a rasphone.pbk file here

[2020-03-11 00:36] KranthiPakala-MSFT commented on #49801
Please do share the forum link here once it is created. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-03-11 00:36] #49801 closed

[2020-03-11 00:43] TravisCragg-MSFT commented on #49880
@edsimonaire This is a bug with the portal. I am going to follow up with the portal team, and as a workaround you can make adjustments in step 3.

[2020-03-11 00:44] BhargaviAnnadevara-MSFT commented on #49435
@lisaguthrie Thank you! Keeping this issue open for any updates you may want to convey.

[2020-03-11 00:45] edsimonaire commented on #49880
That makes sense.  Thank you,

Eric

On Tue, Mar 10, 2020 at 7:43 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2020-03-11 00:48] JasonWHowell commented on #49827
@BhargaviAnnadevara-MSFT
@mamccrea is off the hook here. Please remove her name.
@jpconnock can you please adjust as needed.

[2020-03-11 00:51] JasonWHowell commented on #47152
@shraboin Your approach using the configuration string as a workaround is good.

Later on, Microsoft may be able to add direct property support, but that could take some time to fully develop.

[2020-03-11 00:51] JasonWHowell commented on #47152
#please-close

[2020-03-11 00:51] #47152 closed

[2020-03-11 01:04] rrodemann commented on #43515
Holy $%@# Mark, you figured it out. Thanks a lot. I've been trying to fix this for a week or two.  The 2 commands you mentioned above:
- sudo apt-get install wiringpi
- npm install node-wiring-pi

Fixed my problem. Up arrowed to my statement "sudo node index.js ...." and it started sending to Azure.
Cheers to your for persistence and ownership!

[2020-03-11 01:06] TravisCragg-MSFT commented on #49885
@miguelerm I do not believe there is a published limit on the cache size. You can find the [Azure Front Door limits Here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-front-door-service-limits). You could cache every page of your API, but you might not see a performance increase because of how caching and Front Door work.

URLs ar

[2020-03-11 01:10] TravisCragg-MSFT commented on #49904
@haymansfield NSGs should not be applied to the "GatewaySubnet", and most Azure subscriptions do not have the ability to apply a NSG to that subnet.

most other subnets can have a NSG without an issue, even if the VNET contains a gateway subnet.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2020-03-11 01:10] #49904 closed

[2020-03-11 02:00] aarontownley commented on #47907
I'm using vWAN and have contacted Microsoft Support to have the DNS addresses added to the vWAN configuration but there has been no noticable change at my end - my Azure VPN clients still aren't provided a DNS server address. Neither the Azure VPN client, IPCONFIG, or the AzureVpnCxn.log log has any reference to DNS servers. If I add the DNS servers into the clientconfig area of the XML before the

[2020-03-11 02:04] TomArcherMsft commented on #45375
@MohamedRadwan-DevOps Apologies for not replying to this more quickly. We do not link to 3rd party content from our docs - even content as amazing as your work. Keep up the great blog posts and videos, and let me know if there's anything you see that we should be doing to improve the docs!

#please-close

[2020-03-11 02:04] #45375 closed

[2020-03-11 02:06] TomArcherMsft commented on #45377
@MohamedRadwan-DevOps As with the Terraform post, I apologize for not replying to this more quickly. As I mentioned, we do not link to 3rd party content from our docs - even content as amazing as your work. Keep up the great work, and please reach out to let me know if there's anything we can do to improve the docs!

#please-close

[2020-03-11 02:06] #45377 closed

[2020-03-11 02:32] charryshun opened #49918 "the apiVersion of scaleTargetRef in azure-vote-hpa.yaml example does not match deployment version"
I have download the https://github.com/Azure-Samples/azure-voting-app-redis.git and find the deployment version is apps/v1beta1 in azure-vote-all-in-one-redis.yaml, but in your example the apiVersion of scaleTargetRef is apps/v1, does that match?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1

[2020-03-11 02:44] jay7x commented on #49840
Hi @normesta! Yes, I'm aware of this and this looks like good solution for scripting. Though I'm using Puppet for infra automation (https://github.com/voxpupuli/puppet-archive module). Without version it will 1) download azcopy every Puppet run or 2) will not download it as long as azcopy is already downloaded. In first case every VM will download azcopy every 30 min. In second case I'll be unable

[2020-03-11 02:45] KrishnaG-MSFT commented on #49860
@Potapy4 Thanks for the quick response and the fix done. :+1:

[2020-03-11 03:00] SnehaAgrawal-MSFT commented on #49916
@KenBrady Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 03:01] jay7x commented on #49840
Ah.. I just re-read chapter you pointed on above.. So I just realised this article is pointing to the way I'm using right now. I'd say you may improve readability (understandability actually) by showing example output of `curl` command. Another way is to use following `curl | grep` call instead of `curl -v`. Anyway it's better to explain where to look explicitly.
[code]

I'm using this now. Though

[2020-03-11 03:15] Mike-Ubezzi-MSFT commented on #49865
@langstonj Thank you for bringing this to our attention. I believe that Azure is moderate FedRAMP compliant per the documentation found out on the [FedRAMP.gov](https://www.fedramp.gov/documents/) site: [FedRAMP Security Controls Baseline](https://www.fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx)

I am not seeing anything specific for Azure Database for MySQL per

[2020-03-11 03:17] dhirajgandhi commented on #49894
This change directory is non CSP subscription.  I will clear that in the documentation.

Example: If you are transferring from CSP to PAYGO then you need change the directory of the PAYGO subscription to match with CSP directory.

[2020-03-11 03:17] #49823 closed

[2020-03-11 03:18] Mike-Ubezzi-MSFT commented on #49915
@lokijota Thank you for bringing this to our attention. I will investigate this and see what is the root cause.

[2020-03-11 03:20] MarileeTurscak-MSFT commented on #49867
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 03:21] hammerstrike opened #49919 "[Question] Is Admin Consent mandatory in client credential flow ?"
# [Question] Is Admin Consent mandatory in client credential flow ?

I tried creating Application role and providing admin consent works fine.
Is Admin Consent step shown in [`Protocol Diagram`](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#protocol-diagram) is mandatory ?
Any way without admin consent to access APIs ?
---
#### Document Details

[2020-03-11 03:36] axisc commented on #37532
@SeanFeldman is absolutely on point :)

#please-close

[2020-03-11 03:49] BharathNimmala-MSFT commented on #49908
@Ayanmullick Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-11 03:50] VikasPullagura-MSFT commented on #49654
@RoopChevuri Can you please check this and add your comments.

[2020-03-11 03:55] Juh-net opened #49921 "The "Availability set" option is not available in current Azure portal. Please kindly update the document below to avoid any confusion."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9b2908-f032-3f26-76de-6e6edf356f40
* Version Independent ID: bfe6017f-306b-f502-e984-5558ce7de732
* Content: [Tutorial: Create an internal load balancer - Azure portal - Azure Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/tutor

[2020-03-11 03:56] RohitMungi-MSFT commented on #46653
@cartacioS Could you please help to drive this and update the document as requested by @CESARDELATORRE

[2020-03-11 03:57] Juh-net opened #49922 "Kindly update the document"
[Enter feedback here]
The "Availability set" option is not available in current Azure portal. Please kindly update the document below to avoid any confusion.

3. On the Add a backend pool page, type or select the following values:

Name: Type MyBackendPool.
Associated to: Drop down and select **Availability set.**
**Availability set: Select MyAvailabilitySet.**

---
#### Document Details

⚠ *Do no

[2020-03-11 03:58] #49921 closed

[2020-03-11 04:02] sujayvsarma commented on #49629
#please-close

[2020-03-11 04:02] #49629 closed

[2020-03-11 04:06] kachontep commented on #49773
I know the note from the docs. As I informed that I have already logged in
successfully and can do docker pull success. Running with jib:build goal, I
see that the credential not found by the plugin. I think you can reproduce
the problem by simply following the tutorial in the docs.

On Tue, Mar 10, 2020 at 4:02 PM jakaruna-MSFT <notifications@github.com>
wrote:

[2020-03-11 04:09] sujayvsarma commented on #49638
No. Perhaps I can help you if you tell us a little about how you've set it up and what error(s) you are seeing.

[2020-03-11 04:37] marcelvandendungen commented on #49636
Thanks, but issuing bearer tokens that never expire is not something that I can get past our security review. Is there a timeline on when client credentials will be supported?

Why is there different support for OAuth2 grants for gallery and non-gallery apps?

[2020-03-11 04:40] AshokPeddakotla-MSFT commented on #49882
@barakooda Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 04:48] shashishailaj commented on #49896
@ADNewsom09  Thank you for your query. We will investigate and update the thread further.

[2020-03-11 04:50] shashishailaj commented on #49902
@D-Moonesinghe Thank you for your feedback . We will have this reviewed and update this thread.

[2020-03-11 04:53] DixitArora-MSFT commented on #49641
@RonakThakkar The article https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp discuss about settings that control Event Hubs trigger behavior and this discuss about binding. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-output?tabs=csharp .

At present , I don't there is a doc change required. So for now I

[2020-03-11 04:53] #49641 closed

[2020-03-11 04:56] SLdragon commented on #46942
Hi, @ganesh-gawande, could you please share your sample project, so that we can repro your problem, I think maybe there is something wrong when the extension try to parse the input name.

[2020-03-11 05:01] NrgFly opened #49924 "Update JSON document example"
[Enter feedback here]
Would it be helpful to update the JSON example document and add '[', ']' characters to specify JSON array as well as commas to split different JSON company datasets?
![image](https://user-images.githubusercontent.com/20412714/76383893-a8851f80-6333-11ea-8c15-bec55fd113c5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-03-11 05:05] AshokPeddakotla-MSFT commented on #49614
@Tam66662 Please let me know if you have further questions.

[2020-03-11 05:06] VikasPullagura-MSFT commented on #49682
@LeoLopezAtHL Glad to hear that the issue is resolved.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-11 05:06] #49682 closed

[2020-03-11 05:21] #49596 closed

[2020-03-11 05:24] SnehaAgrawal-MSFT commented on #49756
@wuhanyumsft Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-11 05:24] #49756 closed

[2020-03-11 05:27] andreasmarx commented on #47907
for me both methods work - the first DNS server gets pushed, the second one I am able to configure via client XML. What is your OS version? Are the configured DNS servers reachable from the client? Can you use them as DNS servers when you specify them manually in nslookup? Did you try it from another, fresh installed client?

[2020-03-11 05:29] VikasPullagura-MSFT commented on #49746
@ricvil As mentioned above this is a know issue and this should not impact the scaling operation. Can you confirm if the scaling is impacted due to this.

[2020-03-11 05:35] KalyanChanumolu-MSFT commented on #48838
Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-11 05:35] #48838 closed

[2020-03-11 05:37] msrini-MSFT commented on #49878
@mikehutter , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 05:39] msrini-MSFT commented on #49881
@shanecribbs , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 05:40] AshokPeddakotla-MSFT commented on #49887
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-11 05:53] techsaau commented on #48962
@jakaruna-MSFT I'm already using cert manager with AzureDNS. My main concern was that how can we use dns challenge for azure provided dns on public IP i.e. example.westeurope.cloudapp.azure.com or is it possible.

[2020-03-11 06:06] CHEEKATLAPRADEEP-MSFT commented on #49924
@NrgFly Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/107226](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107226)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2020-03-11 06:06] #49924 closed

[2020-03-11 06:21] SwathiDhanwada-MSFT commented on #49532
Thanks @g-petre for the detailed steps. I reproduced the issue and I agree with you the documentation needs to be updated.
@tfitzmac  Can you please review the request and update the document with detailed steps?

[2020-03-11 06:26] msrini-MSFT commented on #49922
@Juh-net , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 06:26] msrini-MSFT commented on #49907
@kuwe1990 , Can you please share the doc which you are referring to ?

[2020-03-11 06:28] msrini-MSFT commented on #49780
@brianfromoregon , GitHub issues are for the doc enhancement/ bug. Please provide the doc which you have questions on so that we can help you better.

[2020-03-11 06:28] #49780 closed

[2020-03-11 06:28] msrini-MSFT commented on #49739
@ikewabo , Please tag me if you have any further questions.

[2020-03-11 06:28] #49739 closed

[2020-03-11 06:29] SwathiDhanwada-MSFT commented on #49829
@tfitzmac  Can you please review the request and update the document ?

[2020-03-11 06:30] ElectricLlama opened #49925 "Guest accounts not supported"
Please add info to this doco that indicates that guest accounts are not supported for ADLS gen  functionality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d29fd9c-d764-3d15-bff3-2d61ec9f757f
* Version Independent ID: 58503de5-d10f-eb43-34f9-6f72a0fa1f9b
* Content: [Overview of access control in Azure Data Lake Stora

[2020-03-11 06:37] SnehaAgrawal-MSFT commented on #49852
Thanks for the feedback! To elaborate on this Azure Cloud Shell is an interactive, authenticated, browser-accessible shell for managing Azure resources. It provides the flexibility of choosing the shell experience that best suits the way you work, either Bash or PowerShell.
You may refer to https://docs.microsoft.com/en-us/azure/cloud-shell/overview

Let me know if you have further questions on th

[2020-03-11 06:51] nickstaggs commented on #37532
@axisc @SeanFeldman please reopen as the original question of: _Why are JSON and Apache Avro the recommended payload formats for the Service Bus?_ was not answered

[2020-03-11 06:52] CHEEKATLAPRADEEP-MSFT commented on #49925
@ElectricLlama Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@normesta Could you please add this point in the document to avoid confusion?

"**Note:** Bydesign, ADLS Gen2 ACLs only support users from the current tenant. So a guest user cannot be added."

[2020-03-11 07:00] jishansiddique commented on #49540
HI @BryanTrach-MSFT ,
Sorry for the inconvenience, we found an issue caused due to duplicate data from `SQL`.

[2020-03-11 07:00] #49540 closed

[2020-03-11 07:04] sunkada opened #49926 "Can AAD B2B works for Jira and Confluence?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-11 07:05] AshokPeddakotla-MSFT commented on #49617
@dpgindler You can use the REST API to Apply Configuration On Edge Device.

`POST https://fully-qualified-iothubname.azure-devices.net/devices/{id}/applyConfigurationContent?api-version=2018-06-30`

It applies the provided configuration content to the specified edge device.  Please see [Service - Apply Configuration On Edge Device](https://docs.microsoft.com/en-us/rest/api/iothub/service/applyconf

[2020-03-11 07:18] v-tawe opened #49927 "Why no Java tag here"
see below screenshot:
![image](https://user-images.githubusercontent.com/22313449/76391521-a6aa7300-63aa-11ea-881e-4d3eb224a2fd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee95b20-a793-b370-f7a0-5661e9b2b569
* Version Independent ID: 5a83c187-fad2-e1cb-e3cb-8af69b3edf83
* Content: [How to use automatic languag

[2020-03-11 07:18] SumanthMarigowda-MSFT commented on #49553
@Digiroka Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. You need the cmdlet

The join-AzStorageAccountForAuth cmdlet will make modifications to your AD environment. Read the following explanation to better understand what it is doing to ensure you have the proper permissions to execute the command and that the applied changes align with the c

[2020-03-11 07:18] #49553 closed

[2020-03-11 07:24] meswaramoorthy commented on #49676
![Azure VS Code feedback](https://user-images.githubusercontent.com/41995288/76392113-eb2c1380-6396-11ea-993d-fec25d1ca5da.png)

I tried the same process. Everything works fine till compute creation. While running the experiment, I get this EPERM error.

Is it because TRIAL subscription doenst hv VS Code integration?

[2020-03-11 07:28] dvherk commented on #49892
I do not think this is answering the feedback/need.
This is more specific to L-serie, mine is the new Dv4 and based (yes also amd).

The page where I posted provides performance ind x so you know how one can type compares to another, your suggestion does NOT.
Please update the documentation and have it complete.

________________________________
From: Karishma Tiwari - MSFT <notifications@github.c

[2020-03-11 07:50] anaskalash commented on #48978
Hi Ori,

Thanks a lot for your help,
Could you please remove "search" from the Example and the Available options, because it appears as a controllable option that we can show or hide?

Best Regards,

[2020-03-11 07:51] anaskalash opened #49929 "misleading parameter description in the embedded insights widget"
Hello,

In the embedded insights widget parameter, it has written that the "locale" control the insights language, but it only controls the widget label language, So could you please change it since it misleading a bit,

Thanks a lot,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2de762-1707-7c34-6bdb-58679e715fce
*

[2020-03-11 07:51] manuenc opened #49930 "In case of Multi Container in App Service how can we monitor each of the Containers"
How can we monitor each of the containers created in App Service either in case of Multi Container or single Container scenario. Is there a way we can figure out Memory, health of each of the containers?

Edited: Added GitHub doc footer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d2544b-a09d-4ad1-3811-5b3f67154591

[2020-03-11 07:53] HenkPoley commented on #49866
For Azure AD Connect there already is some documentation here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-connectivity

Maybe I am mistaken, but `C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\machine.config` seems to be a _global_ configuration. Meaning, _any .NET application_ that goes through "Framework64 v4.0.30319" will get access to the proxy.

Whic

[2020-03-11 08:05] ram-msft commented on #49927
@v-tawe Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-11 08:06] mslot commented on #36458
Remove it and let the runtime pick a name. Thid is how I do it.

[2020-03-11 08:15] gennarodimeosax commented on #49844
Hi Rian,

I must say in first place that this is my first time with NodeJs, so I haven’t a very clear idea about it.

I’m evaluating NodeJs for implementing a PWA.

I’ve just taken Google codelab at  <https://codelabs.developers.google.com/codelabs/your-first-pwapp/#0> https://codelabs.developers.google.com/codelabs/your-first-pwapp/#0,

put it in VsCode  and tried it locally on my machine this wa

[2020-03-11 08:31] mikewillodea opened #49931 "Regions available for Azure Files authentication to Active directory feature"
We use Australia (East) for our Storage account and azure file instance.. While trying to setup the authentication for the storage account to AD we get an error when using the Join-AzStorageAccountForAuth command.
"Unable to generate a Kerberos key for storage account. This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in location (australiaea

[2020-03-11 08:38] mikewillodea commented on #48825
Ive just tried to set this up in region (australiaeast) and having the same issue? Yet the link of available regions has this location as an Available Region? Am i missing something here?

[2020-03-11 08:39] AmitavaHazra commented on #49555
Can I expect an update on this ?

[2020-03-11 08:43] Grace-MacJones-MSFT commented on #49929
Hi @anaskalash, thanks for bringing this to our attention! We will review and update this doc accordingly.

[2020-03-11 08:47] SamratAlamgir opened #49932 "What are the available values for WEBSITE_LOCAL_CACHE_OPTION to set"
"properties": {
        "WEBSITE_LOCAL_CACHE_OPTION": "Always",
        "WEBSITE_LOCAL_CACHE_SIZEINMB": "300"
    }

I want to set the value for WEBSITE_LOCAL_CACHE_OPTION via parameter which will differ from environment to environment. For example, I don't want to use local cache for test environments, then what should be the value?

Edited: Added GitHub footer

---
#### Document Details

⚠ *Do n

[2020-03-11 08:51] tarba12 commented on #46588
The "Important" section is confusing . I have a AKS cluster with Basic loadbalancer . I wanted to understand the "API server authorized IP address ranges" still works for basic LB ?. Because when i tried to az aks update , i got an error this is not supported on Basic LB .

[2020-03-11 08:52] PramodValavala-MSFT commented on #49562
@hrafnkel Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-11 08:52] #49562 closed

[2020-03-11 08:58] msrini-MSFT commented on #49901
@abelsquidhead , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 09:07] VikasPullagura-MSFT commented on #49918
@charryshun
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-11 09:08] VikasPullagura-MSFT commented on #49918
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-11 09:09] Dustefan opened #49933 "provide guidance on the process which should be followed when retiring a phone."
Hello Team, concern has been raised regarding the fact that on IOS if the user simply uninstalls the Authenticator App and other MS related applications, and the phone is restarted and last the authenticator is again installed, the previous work account is present there, and can accept notifications( tested on OS version 12.4.5 and 13.3.1) I was able to replicate this to the extent, where the acco

[2020-03-11 09:12] GuidoTournois commented on #49855
Thanks for you swift respons. For me it would help tremendously if these output jsons can be added to all activities as I think the output is an essential part of the documentation, not just the input. Running activities in debug mode, just to see what fields are in the output json for these activities seems like a workaround for the lacking of proper documentation.

[2020-03-11 09:14] msrini-MSFT commented on #49845
@OffColour , Are you using Password hash sync?

Can you login using local credentials and install the Azure VPN client App and try login using work or school account ?

If the Password is synced to Azure AD, user should be able to authenticate successfully.

[2020-03-11 09:17] jakaruna-MSFT commented on #49728
@pipern  I will close this issue as the document is fixed.
Progress of the CLI fix can be tracked from this issue Azure/azure-cli#12520

[2020-03-11 09:17] #49728 closed

[2020-03-11 09:17] smudgecat opened #49934 "Risky User Report Queries fail often fail if the username starts with a letter"
Searching for a username that begins with a letter (upper or lower case) does not return the account in 99% of cases. Searching by user finds the account.

I opened a support case (120020625000564), however they just said it was a known issue.
It would be good to list this here, or even better, resolve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-03-11 09:20] it0056 opened #49935 "Page is out 0f date"
The page is missing resources and some resources have their old names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4bb50-25ad-a3c6-f42a-84f33c84e362
* Version Independent ID: 6188226a-1f56-2a0a-fc57-4b8616b5fe32
* Content: [Resource providers by Azure services - Azure Resource Manager](https://docs.microsoft.com/

[2020-03-11 09:32] VikasPullagura-MSFT commented on #49914
@luisbecerril-ips I tried reproducing the issue and I was able to deploy the container without any issues.

Can you run `ipconfig /all` on the container and see what you are seeing for the DNS Severs.
Here the first IP is the docker network gateway and the other two are the DNS servers.

If you are not seeing these DNS servers correctly then there is issue with your local settings.
I tried running

[2020-03-11 09:32] femsulu commented on #49418
Hi @psihonavt , thanks again for the really good feedback. The subscription management team would love to receive this feedback directly using [this link](https://feedback.azure.com/forums/170030-signup-and-billing?category_id=359290). Once submitted, they will review and prioritize accordingly. This also opens your feedback to upvotes from the community.

[2020-03-11 09:32] femsulu commented on #49418
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-11 09:32] #49418 closed

[2020-03-11 09:49] femsulu commented on #49549
hi @swarna-p , apologies for the delay. Deeper investigation is required to get to resolve this issue. As this channel is reserved for issues with documentation, the next step is to redirect to our technical support channel. If you have a support plan, create a service request using [this link](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2020-03-11 09:50] femsulu commented on #49549
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-11 09:50] #49549 closed

[2020-03-11 09:53] femsulu commented on #49574
@MGoedtel  - can you take a peek at the doc-update request to add Namespace registration to the pre-requisite section?

[2020-03-11 09:55] rayne-wiselman commented on #49803
Thanks for your feedback. Verifying this

[2020-03-11 09:55] rayne-wiselman commented on #49515
Thanks for your feedback. We'll post an example

[2020-03-11 09:55] jakaruna-MSFT commented on #49773
i just tried now.  It gave 401.  After that i used `az acr login -u <my registry name>`  . It worked well.

I tried in windows 10.  Need to look for additional options to troubleshoot.

[code]

[2020-03-11 09:57] jakaruna-MSFT commented on #49705
ok.   Let me know the OS and version of the machine from which you are building the image.

[2020-03-11 09:58] QuickScoP3s opened #49936 "v1.10.0 - NuGet Package for Linux ARM32 missing?"
We tried running a simple app with the Speech SDK on a Linux ARM32 device, but got following message:
Library "Microsoft.CognitiveServices.Speech.core.dll": Unable to load; file not found

When investigating the downloaded nuget package, we found that there is not runtime folder for linux-arm, only for linux-arm64...

Is this intentional, because the newest Release Notes for v1.10.0 specify:
"Linu

[2020-03-11 10:00] jakaruna-MSFT commented on #49705
It looks like you are using a old version of windows 10

[2020-03-11 10:03] John-Blair commented on #48021
I've made as comment on the reference forum.

You have not fixed my issue:

When you or the feedback forum does so I will close.

[2020-03-11 10:06] John-Blair commented on #48021
It is a joke that you close an issue that has not been resolved and I am unable to re-open it - the service provided is dreadful.

[2020-03-11 10:08] iceyokuna commented on #49534
Thank you so much.

[2020-03-11 10:09] John-Blair commented on #48021
Instead of asking me to go to the forum and submit a suggestion - why not take my issue and submit your own item on the forum to make it happen - if that is your way of actually fixing a problem reported here  - you are just passing the buck to get out of doing any work that makes a difference to a real concern for a client.

[2020-03-11 10:13] Ericgre commented on #49884
#please-close

[2020-03-11 10:13] #49884 closed

[2020-03-11 10:13] serverhack74 commented on #45598
That's the config I have:

![image](https://user-images.githubusercontent.com/37586425/76405968-46570980-6389-11ea-82f2-c4e3dcf48cd1.png)

[2020-03-11 10:13] serverhack74 commented on #45598
and it isn't working

[2020-03-11 10:15] jakaruna-MSFT commented on #49705
@erotavlas we need to use the base image (nanoserver) with the tag 1809 which is compatible with the windows images used in AKS.
Reference : https://hub.docker.com/_/microsoft-windows-nanoserver   Look for the table in "Full tag listing"

But aspnet built on nanoserver dont have a image based on 1809

[2020-03-11 10:16] jakaruna-MSFT commented on #49668
@amunger Did you had a chance to try that out

[2020-03-11 10:16] sychare commented on #16825
@femsulu, this documentation is still incorrect as per @ravimandal47's comment.

[2020-03-11 10:20] msrini-MSFT commented on #49919
@hammerstrike , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 10:22] msrini-MSFT commented on #49926
@sunkada , Can you please provide the documentation link to further assist ?

[2020-03-11 10:23] msrini-MSFT commented on #49931
@mikewillodea , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-11 10:25] Ericgre commented on #36649
#please-close

[2020-03-11 10:25] #36649 closed

[2020-03-11 10:25] Ericgre commented on #28442
#please-close

[2020-03-11 10:25] #28442 closed

[2020-03-11 10:27] Ericgre commented on #39547
#please-close

[2020-03-11 10:27] #39547 closed

[2020-03-11 10:28] AjayKumar-MSFT commented on #49930
@manuenc, Thanks for leveraging Azure docs feedback channel to raise the question!
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements.  Could you please share the Azure doc for which this feedback is applicable to?

[2020-03-11 10:28] Ericgre commented on #25052
#please-close

[2020-03-11 10:28] #25052 closed

[2020-03-11 10:32] AjayKumar-MSFT commented on #49932
@SamratAlamgir, Thanks for leveraging Azure docs feedback channel to raise the question!
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements.  Could you please share the Azure doc for which this feedback is applicable to?

[2020-03-11 10:33] Ericgre commented on #44047
This limitation was during the preview, since Feb 27th it's GA for Windows worker, no more UDR or NSG limitation.

[2020-03-11 10:34] Ericgre commented on #44047
#please-close

[2020-03-11 10:34] #44047 closed

[2020-03-11 10:34] sunkada commented on #49926
Hello Karthik,

As per the documentation of this extension it appears that it helps in authenticating Jira and Confluence through Azure Active Directory for any organization.

My use case is

Organization A owns AAD , Jira and confluence.
Organiation A has may vendors V1 V2, and so on

Organization A wants all its vendor to access Jira and confluence by authenticating AAD without adding V1, V2 use

[2020-03-11 10:37] Ericgre commented on #49287
The networking UI must be updated anywhere now, do you still have the issue ?

[2020-03-11 10:46] SychevIgor opened #49937 "Make something with this screenshot for people without giant monitors and young eyes."
https://docs.microsoft.com/en-us/azure/sentinel/media/collect-data/collect-data-page.png
I don't know about others, but recognize something on this screenshot- was painful for me. Giant screenshot with tiny text on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e176-be3e85961eb6
* Version Indepen

[2020-03-11 10:51] manuenc commented on #49930
Hi, I think it must be , https://docs.microsoft.com/en-us/azure/azure-monitor/app/docker
Thanks!

[2020-03-11 10:51] PramodValavala-MSFT commented on #49834
@snesbitt76 Only slot-specific app settings are swapped as mentioned under [Swap Operations](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#swap-operations). And the old version still executes to handle any requests that it may have received before the swap operation.

Specifically for event sources, the doc quotes the following

[2020-03-11 10:55] RichardJDay opened #49938 ""code":"2003","message":"Download failed. Please check your input URL.""
I'm trying to hit the Get the Analyze results in Form-Recognizer API

C:\Users\Polygon&gt;curl -X GET "https://simply-form-recognition.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/7c16f45b-7640-4b9b-a6cb-346538c94c63/analyzeresults/b80e6400-e9de-400c-a565-016253e03abd" -H "Ocp-Apim-Subscription-Key: Subscription Key was here"

{"status":"failed","createdDateTime":"2020-03-

[2020-03-11 11:02] sujayvsarma commented on #49937
@SychevIgor The content of what is on that screenshot is not important to the text it is attached to.

The step describes that when you click on the Data Connectors option, you get a big list of things and you should select one from them.

There is no update to be made here to the screenshot.

[2020-03-11 11:03] sujayvsarma commented on #49935
Agreed.

[2020-03-11 11:03] RedBa opened #49939 "-countername in code part # Windows Event"
[Enter feedback here]
New-AzOperationalInsightsWindowsPerformanceCounterDataSource -ResourceGroupName $ResourceGroup -WorkspaceName $WorkspaceName -ObjectName "LogicalDisk" -CounterName "Avg. Disk sec/Read" -IntervalSeconds 10 -Name "Avg.Disksec/Read"
New-AzOperationalInsightsWindowsPerformanceCounterDataSource -ResourceGroupName $ResourceGroup -WorkspaceName $WorkspaceName -ObjectName "LogicalDis

[2020-03-11 11:05] sujayvsarma commented on #49933
This is not just for iOS phones, but is applicable to Android phones as well and is a very common problem.

Unfortunately, this problem is not restricted to just Microsoft / Azure authenticator scenarios but also applies to a whole bunch of other (third party) services that let you use Authenticator apps for MFA.

[2020-03-11 11:06] ram-msft commented on #49936
@QuickScoP3s Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-11 11:07] rajashekargowda commented on #48339
Hi Saurabh, I am also getting same error when trying to set the azure security center pricing tier.
Any update on the issue

[2020-03-11 11:10] ram-msft commented on #49938
@RichardJDay Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-11 11:12] AshokPeddakotla-MSFT commented on #49614
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-11 11:12] #49614 closed

[2020-03-11 11:15] sujayvsarma commented on #49931
@mikewillodea Try to build a fresh VM [use a free laptop!] and join it to the AD-DS that you are trying to use for the Azure Files Auth. If that works, then you have a different problem.

[2020-03-11 11:18] BertelBB opened #49940 "Helm 3 guide does not result in a valid Helm repository"
The Helm 3 guide is basically useless. You can push chart images to ACR just fine, but the repository you are pushing to isn't a valid Helm repository because there is no index.yaml file. Therefore, you cannot add the repository to your local helm repositories and query the repository as you would normal Helm repositories. You also cannot reference images in the repository from a Helm Chart becaus

[2020-03-11 11:19] sujayvsarma commented on #49919
@hammerstrike No, Admin Consent is only required for those permissions that require administration consent. When you define your application and then select what permissions you want to give that application, you will see a column on that page "Admin Consent". If you see a "Yes" in that column, it means that you will need an AD Admin provide consent during the authentication workflow for things to

[2020-03-11 11:24] sujayvsarma commented on #49938
The error you received is not for the `analyzeResults` endpoint. It was an error about your previous (`analyze`) call -- the one you provided the SAS URL in. Please check the SAS URL you provided there and try again. It is posisble there was a typo or extra spaces or wrongly escaped characters in that URL.

[2020-03-11 11:33] #49940 closed

[2020-03-11 11:41] roofiq opened #49941 "Cosmos DB Table API migration"
Hello,

I have a situation where I want to migrate couple of tables to another Cosmos DB account. What would be the best approach here?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Tutorial: Databas

[2020-03-11 11:42] smiller7812 commented on #49852
Thank you.
That helps a little.

________________________________
From: SnehaAgrawal-MSFT <notifications@github.com>
Sent: Wednesday, March 11, 2020 2:37 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: smiller7812 <smiller781@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Start cloud shell how? (#49852)

Thanks for the feedback! To el

[2020-03-11 11:43] romankiss opened #49942 "Advanced filtering limitation for some data.claims properties"
In the document is missing (in the limitations section) a limitation of the advanced filtering for some properties of the data.claims object.

There is no way to filter for some [claims properties](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-resource-groups) where their name is represented by [JWT specification](https://self-issued.info/docs/draft-ietf-oauth-json-web-token.html)

[2020-03-11 11:47] myselfme0194 commented on #44790
I am facing this same issue for a very basic sample image creation fusing Packer in Azure.I tried using 2019,2016-Datacenter image_sku as well.Ultimately tried creation of image removing all of the WinRM parameters.Still it show the same error.

Kidly suggest.

Below is my code.
{
  "builders": [{
    "type": "azure-arm",

    "client_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx",
    "client_secret"

[2020-03-11 11:52] crgarcia12 commented on #40754
up!

[2020-03-11 11:59] ShakAttacked opened #49943 "urgently need this feature for iOS"
Hi, how soon can we have this feature available on iOS?  We urgently need this for our app that will allow students to learn a language.  Isn't it a backend option? So it shouldn't depend on the device/language?

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee95b20-a793-b370-f7a0-5661e9b2b569
* Version Indepe

[2020-03-11 12:03] msrini-MSFT commented on #49922
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/107245

[2020-03-11 12:05] SnehaAgrawal-MSFT commented on #49916
@KenBrady Thanks for asking question!
“The step "Create a Windows container app" - the instance name kept giving a message like "this name is not available":   This is required field and needs to unique as it get resolved when you tried "doesAnythingWork"
In "Browse to the container app", in step 2 where I browse to the URL, I'm greeted with ":( Application Error" : Could you please confirm if dep

[2020-03-11 12:05] mikewillodea commented on #49931
@sujayvsarma i Don’t actually want to join the storage account to AD-DS just active directory I believe there is a significant difference in this new feature if I’m not wrong.?

[2020-03-11 12:07] RedBa opened #49944 "# Custom Logs script part"
[Enter feedback here]
# Custom Logs|
# Custom Log to collect
$CustomLog = @"
{
    "customLogName": "CustomLog",
    "description": "Custom log datasource",
    "inputs": [
        {
            "location": {
            "fileSystemLocations": {
                "windowsFileTypeLogPaths": [ "e:\\iis5\\*.log" ],
                "linuxFileTypeLogPaths": [ "/var/logs" ]
                }
            }

[2020-03-11 12:11] #49922 closed

[2020-03-11 12:12] sujayvsarma commented on #49931
Let me first quote from the document you linked to:

So if you try the domain-join on your own, you will know what the problem is.

[2020-03-11 12:15] mikewillodea commented on #49931
Ok Sujay I will try that and see how I go.

[2020-03-11 12:16] oerpli opened #49945 "Azure Storage Issue fixed"
&gt; There is currently a storage bug affecting version 1.11.0 that can result in authentication errors in certain scenarios. A fix for the storage bug is being rolled out, but as a workaround, we recommend that you use version 1.10.x which is available as a free download. 1.10.x is not affected by the storage bug.

Is 1.10.x still recommended? From the [release notes](https://github.com/microsoft

[2020-03-11 12:42] BenjaBobs opened #49946 "[Graph API] Are there any plans to make the intrinsic properties indexed?"
For context consider the following graph:
![image](https://user-images.githubusercontent.com/8708965/76416517-87f0b000-639b-11ea-96e6-00ff5d63e570.png)

Note that the outgoing edges from `Person` have the same labels, `Owns`.

Let’s say I want to find all the `Car`s owned by a `Person`.
There are a couple of ways to do this.

**A)** I can start from the `Person`:
[code]

**B)** I can start from th

[2020-03-11 12:53] lindgrend commented on #46076
Is there an update on this?

[2020-03-11 13:05] NishantThakkar commented on #49647
Thank you, It started working after adding the object ids of user. But I don't want to add every user. I have generated and added the object id of application, but it did not work. I have generated the object id of application as mentioned in below image.

![image](https://user-images.githubusercontent.com/5793534/76419671-c059b380-63c6-11ea-8504-727fa259a435.png)

[2020-03-11 13:13] edogwv commented on #34331
Any updates around other methods to leave old organizations?  I have someone who had a phone number change, so currently unable to sign in to MS Teams,  or sign in to leave the old organization.

[2020-03-11 13:14] paweltajs opened #49947 "AzureCloud could use both inbound and outbound"
We can use AzureCloud Service Tag also as inbound rule. In the table we can see, that only outbound option is indicated.

It is very useful in the scenario with Azure SQL Managed Instance when used as source for Azure Analysis Services and it is well documented here (point 4.):
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-public-endpoint-configure#allow-public-

[2020-03-11 13:14] erotavlas commented on #49705
@jakaruna-MSFT  The version of Windows I am working on to build my images is

[code]

The version of windows of the nodepool on AKS is

[code]
I think AKS is the one running the old version of windows.

[2020-03-11 13:17] mikaelliljedahl commented on #49557
Today it seems our access restrictions started working again without having to remove and readd anything. I have not checked out all the services, but the one we had most problem (not even possible to get to work by removing/readding) with is now ok.

[2020-03-11 13:19] ricvil commented on #49746
No impact on the actual operation.  It is just unsettling to see page after page of running Logic Apps.  Not sure if this has any cost implication also.  After a few weeks I can imagine thousands of stuck apps as we would run the app as suggested (every 15 minutes).

[2020-03-11 13:23] miguelerm commented on #49885
that answer my question. thanks.

[2020-03-11 13:23] #49885 closed

[2020-03-11 13:25] hansenms commented on #49647
For now you have to add the object id of every user or service principal. We are making some changes that will allow you to add the object id of an AAD security group instead or use Azure RBAC (the Access control (IAM) pane) for assigning data plane privileges. It should be available in the next couple of months, but until then you have to add each individual object id.

[2020-03-11 13:25] steele6599 commented on #49859
Any update on this as i have now changed the Default attribute mapping for "Account Disabled" from "Always Apply" to only "During Object Creation".

[2020-03-11 13:28] MGoedtel commented on #49332
@rfphoon & @KrishnaG-MSFT - I've checked with the product team and our list of region mappings in the article is up-to-date. There is work underway to have this and the other Automation solutions available in this region within the third quarter of this year. While your VMs are in the South Africa region, you can have an Automation account and LA workspace in the West Europe region to use UM solut

[2020-03-11 13:28] #49332 closed

[2020-03-11 13:38] MGoedtel commented on #49574
@dstampfli - Can you clarify what type of K8s (i.e. AKS, hybrid Kubernetes cluster, etc.) that you were attempting to enable AzMon for containers for? What rights are assigned to your account in the subscription and with Azure Monitor?

[2020-03-11 13:55] NishantThakkar commented on #49647
Ok, thank you.

[2020-03-11 13:55] #49647 closed

[2020-03-11 14:01] RGoodmanAxioma commented on #48581
I don't have time now to try to recreate the VHD, so I guess the answer to your question is no, only because I can't proceed with it. Perhaps I will try again someday.

[2020-03-11 14:08] naymore commented on #25049
Any update on this? I'm experiencing this as well :(

Result:

,Standard_A2m_v2,Standard_A3,Standard_A4,Standard_A4_v2,Standard_A4m_v2,Standard_A5,Standard_A6,Standard_A7,Standard_A8,Standard_A8_v2,Standard_A8m_v2,Standard_A9,Standard_B12ms,Standard_B16ms,Standard_B20ms,Standard_B2ms,Standard_B2s,St
andard_B4ms,Standard_B8ms,Standard_D1,Standard_D11,Standard_D11_v2,Standard_D11_v2_Promo,Standard_D

[2020-03-11 14:11] haroldwongms commented on #49873
@brunofurtado Thanks for bringing to my attention.  I will make the correction.

[2020-03-11 14:16] normesta commented on #49861
#please-close

[2020-03-11 14:16] #49861 closed

[2020-03-11 14:17] naymore opened #49948 "Cannot create multi nodepool cluster with node-vm-size "Standard_B2s" (WestEurope)"
`az aks create [...] --node-vm-size "Standard_B2s" --vm-set-type VirtualMachineScaleSets --node-count 2 --max-count 10 --min-count 2`

It works using "Standard_D2_v3". Using the Azure Portal I can also create a Standard B2s cluster. I wonder why.

I'm refering to two documentation pages:
- https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler
- https://docs.microsoft.com/en-us/azure/aks/us

[2020-03-11 14:20] ak09 commented on #49802
@SumanthMarigowda-MSFT @msrini-MSFT Any update here?

[2020-03-11 14:21] jay98014 commented on #48158
Hi @Ken-Br,

There should not be any conflicts between AADPP and PCNS.  Windows\ActiveDirectory will not accept\persist a new password unless\until all registered password filter dlls (of which AADPP is one) have accepted the new password.  Upon acceptance, all password filter dlls get notified (see https://docs.microsoft.com/windows/win32/api/ntsecapi/nc-ntsecapi-psam_password_notification_routin

[2020-03-11 14:21] Ericgre commented on #48380
Hello, in the doc, NSG topic explicitely says : "The inbound rules in an NSG do not apply to your app as VNet Integration only affects outbound traffic from your app"

[2020-03-11 14:21] Ericgre commented on #48380
#please-close

[2020-03-11 14:21] #48380 closed

[2020-03-11 14:22] luisbecerril-ips commented on #49914
Hi @VikasPullagura-MSFT thanks for your answer. These are my DNS servers and `nslookup` results

![image](https://user-images.githubusercontent.com/51175622/76426838-2f0c2200-6371-11ea-9f20-e15893231721.png)

It also looks like `ping` command is not working for any domain name, could it have to do with networking? I have tried running the container with `--net=nat` (since --net=host is not availab

[2020-03-11 14:27] KrishnaG-MSFT commented on #49939
@RedBa Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-11 14:28] WiseOldHowell commented on #20035
@tamram,
If Azure AD is migrated from the classic vnet to rm vnet,

See this article: https://docs.microsoft.com/azure/active-directory-domain-services/migrate-from-classic-vnet

then is Azure AD over SMB supported?

[2020-03-11 14:28] lshunnarah77 opened #49949 "Login to private link using internal DNS A record and AAD User Fails but works with SQL Login"
Hi,

I have setup a private link and we are using our custom internal AD DNS to access.  However, we can only access using local SQL Logins and not Azure AD logins when attempting to connect using the A record created in our DNS.  I can however login using AAD accounts when connecting using the public FQDN.  The error message I receive when attempting using the internal DNS FQDN we created on an A

[2020-03-11 14:30] Blackmist commented on #49501
@dagarkatyal I spoke to one of the engineers and, once the new profiling goes to the stable SDK (I'm told it should be in a few days), it sounds like your scenario should work. They recommended:

* Create an Environment.
* Use the [DockerSection](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.dockersection?view=azure-ml-py) to reference (or define in a dockerfile

[2020-03-11 14:30] KrishnaG-MSFT commented on #49935
@it0056 @sujayvsarma Thanks for the feedback.
Assigning content owner @tfitzmac for visibility, review and document enhancement consideration.

[2020-03-11 14:31] tx5westmt commented on #41282
Can you please clarify the documentation regarding dns subdomains? Are you saying that a subdomain such as ds.contoso.com is sufficiently 'separate' from contoso.com and recommended, or the entire namespace should be unique as in dscontoso.com? I am confused because the tips section says the examples are using a separate namespace but the examples and pictures use a subdomain of the root namespace

[2020-03-11 14:33] KrishnaG-MSFT commented on #49921
@Juh-net Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-11 14:35] know-where commented on #40988
I have noticed this issue as well in my deployment today. I have two other KV references in my Function app configuration: function apps blob storage connection string and event hub connection string, yet Application Insights is the only one that does not work. If Application Insights is configured as Key Vault reference, attempting to monitor function apps displays the warning page as if Applicat

[2020-03-11 14:35] jemag commented on #49578
@jakaruna-MSFT just to be sure, the link you provided is for AKS feedback, wouldn't it be more appropriate to leave the feedback for azure devops instead? Since environments is purely a devops concept.

[2020-03-11 14:38] luisbecerril-ips commented on #49914
Thanks @VikasPullagura-MSFT It looked like my DNS server was not reachable in my network. It was an internal DNS server and I had to be in the same network. Its now working! Thanks

[2020-03-11 14:38] #49914 closed

[2020-03-11 14:39] mmacy commented on #37931
This is a duplicate of #45787, which was fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/102873 (merged 03 Feb 2020). The SVGs were updated such that the captions no longer display black-on-black:

![image](https://user-images.githubusercontent.com/13394541/76426926-ebadb580-6368-11ea-860e-4b38f8352102.png)

Sorry, @suraneti, we don't currently have that level of control on the conten

[2020-03-11 14:39] #37931 closed

[2020-03-11 14:41] dagarkatyal commented on #49501
Can’t wait for it. Thanks for following up. Should I keep this open. Or what is the best way to know when the new release is out??

[2020-03-11 14:44] Ericgre commented on #40379
Thank you for the suggestion. We think that the SNAT port exhaustion discussion is more related to troubleshoot article than this global overview article. You can debug the port exhaustion yourself through the "Diagnose and solve problem" menu of your web app searching for "SNAT" key word.

[2020-03-11 14:44] Ericgre commented on #40379
#please-close

[2020-03-11 14:44] #40379 closed

[2020-03-11 14:46] igilham opened #49950 "logging.console.isEnabled does not work on v2 runtime"
I have been trying to use this setting to enable `console.log` calls in NodeJS 10 on the V2 Runtime on a Linux Consumption Plan.  I have tried with the value set the `true` and also the string `"true"` because the documentation is not very clear on what type the value should be.

The setting has no effect at all.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-03-11 14:48] stspinu opened #49951 "Typo """
Hi folks,

Please type 'infrastructure' instead of "ndrastructure".

Here is the full sentence:

When either of the endpoints lies in Azure, traceroute shows up unidentified hops as Azure ndrastructure does not reveal identity to traceroute.

Cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb056c1-50bf-ac78-933

[2020-03-11 14:51] nikolaidk commented on #41227
I have det samme issue. I has not been fixed?

[2020-03-11 14:59] troyfmay opened #49952 "Easy versus Making it More Difficult than it has to be."
So when I have a VM I like, and wish to create a template from it (so I may quickly create a new VM just like it later), I DON'T:

Take that template, click a button on the Azure panel, upload said template THERE and let it process me a brand new Azure VM.  Sure, I may be prompted to change some conflicted naming before the new VM is generated, but that should be it. Oh no. Not with Microsoft Azur

[2020-03-11 15:00] keyaertc opened #49953 "Typo in a commande"
There is a typo in the following parameter: EnableActiveDirectoryDomainServiesForFile
The correct one is: EnableActiveDirectoryDomainServicesForFile

#Set the feature flag on the target storage account and provide the required AD domain information

Set-AzStorageAccount -ResourceGroupName "&lt;your-resource-group-name-here&gt;" -Name "&lt;your-storage-account-name-here&gt;" -EnableActiveDirectoryD

[2020-03-11 15:07] CeciAc opened #49954 "Double performancecounter in Linux part"
@RedBa commented on [Wed Mar 11 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/575)

[Voer hier feedback in]
In the codepart# Linux Perf
New-AzOperationalInsightsLinuxPerformanceObjectDataSource -ResourceGroupName $ResourceGroup -WorkspaceName $WorkspaceName -ObjectName "Logical Disk" -InstanceName "*"  -CounterNames @("% Used Inodes", "Free Megabytes", "% Used Space", "Disk Transf

[2020-03-11 15:13] austinmcdaniel opened #49955 "Microsoft Graph API does not show custom extensions"
According to the article: "Azure AD B2C extends the set of attributes stored on each user account. You can also read and write these attributes by using the Microsoft Graph API."

Attempting to retrieve the custom extension on a user resource does not work.
GET https://graph.microsoft.com/v1.0/users/{userId}/extensions/{extensionId}
The extensionId (either extension_X or extension_guid_X) results

[2020-03-11 15:15] mmacy commented on #39441
Closing this one out due to inactivity and the fix having been merged (see https://github.com/MicrosoftDocs/azure-docs/issues/39441#issuecomment-534842604). If you feel this  issue has been closed prematurely, please let us know. #please-close

[2020-03-11 15:15] #39441 closed

[2020-03-11 15:21] mmacy commented on #40961
Per https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/pull/111 and https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/191, the code sample has been updated as requested. Closing this one out, but if you feel it's been closed prematurely, please let us know. #please-close

[2020-03-11 15:21] #40961 closed

[2020-03-11 15:22] markjbrown commented on #49941
This issues list is to report bugs or other issues with our documentation. This question is best suited for Stack Overflow, please post your question here, https://stackoverflow.com/questions/tagged/azure-cosmosdb

Thank you.

#please-close

[2020-03-11 15:22] #49941 closed

[2020-03-11 15:22] mmacy commented on #43227
Closing as fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/96901 as noted in https://github.com/MicrosoftDocs/azure-docs/issues/43227#issuecomment-557446308. #please-close

[2020-03-11 15:23] #43227 closed

[2020-03-11 15:24] markjbrown commented on #49946
This GitHub issues list is for bugs or other issues with our documentation. Questions on roadmap or futures should be posed on our User Voice, https://feedback.azure.com/forums/263030-azure-cosmos-db

Thank you.

#please-close

[2020-03-11 15:24] #49946 closed

[2020-03-11 15:25] DixitArora-MSFT commented on #49950
Hi @igilham Thanks for reaching out. We will review and update as appropriate.

[2020-03-11 15:25] mmacy commented on #44344
Closing due to inability to reproduce issue, as well as lack of response. If you feel this issue has been closed prematurely, please let us know. #please-close

[2020-03-11 15:25] #44344 closed

[2020-03-11 15:25] DixitArora-MSFT commented on #49942
Hi @romankiss Thanks for reaching out. We will review and update as appropriate.

[2020-03-11 15:30] asergaz commented on #49723
Hello @GieForce , we appreciate your feedback though I want to make sure we keep it in the context of [this doc](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-csharp) where you opened the issue at.

If you couldn't follow the steps to successfully complete this quickstart can you point us on which step it failed? As well as if you are suggesting an enhancement to m

[2020-03-11 15:34] fgheysels opened #49956 "Sample code to acquire an access token on behalf of a user is outdated"
The code that is commented out and which would allow you to retrieve a token on behalf of a user (for testing purposes), does not compile.

This concerns the code that is available in [this](https://docs.microsoft.com/bs-cyrl-ba/azure/time-series-insights/time-series-insights-authentication-and-authorization#client-app-initialization) section, more specifically:

[code]
In .NET Core, there is no c

[2020-03-11 15:36] Guillaume-Docquier opened #49957 "MeterIds returned by Microsoft.CostManagement/query are not Guids"
I am trying to use Microsoft.CostManagement/query instead of Microsoft.Commerce/UsageAggregates to retrieve usage data.

However, I noticed that the MeterIds do not match the expected format. Instead of Guids, I get back numbers.

Query url
[code]

Query body
[code]

Response
[code]

Is it an expected behaviour? How can I map those MeterIds to the Guids I normally get?

Content: [CostManagement -

[2020-03-11 15:42] kuwe1990 commented on #49907
This is the doc I am using
FROM mcr.microsoft.com/windows/servercore:1809-amd64
ARG CERT
# generate runtime currentVersion & UBR.
RUN echo %CERT% > cert
RUN reg query "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion" /v UBR > runTimeUBR
RUN reg query "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion" /v CurrentBuild > runTimeVersion
SHELL ["powershell", "-Command", "$ErrorActionPreference = 'St

[2020-03-11 15:44] SamratAlamgir commented on #49932
This is for Azure App Service Local Cache.
https://docs.microsoft.com/en-us/azure/app-service/overview-local-cache

[2020-03-11 15:55] BharathNimmala-MSFT commented on #49951
@stspinu Thank you for bringing this to our notice, will raise a PR to fix the document.

[2020-03-11 15:57] Ericgre commented on #36224
Thank you we added in the doc that AD integration isn't supported with Vnet integration feature

[2020-03-11 15:57] Ericgre commented on #36224
#please-close

[2020-03-11 15:57] #36224 closed

[2020-03-11 16:00] mstair opened #49958 "Custom Role Permissions"
Are the custom role permissions listed still valid/complete? I verified I have those actions assigned in a custom role at subscription scope but am getting TAUserDoesNotHavePermissions errors enabling Traffic Analytics against a security group (which previously did work).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-11 16:12] rapout83 opened #49960 "It has a wrong phone number, and my helpdesk doesn't know how to reset"
They don't understand what the problem is and keep asking me random questions such as okta setup, office365 setup etc.
How can I clearly instruct them on how/where to update the phone number for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-

[2020-03-11 16:21] Klaas- opened #49961 "RHEL 8 Images"
Hi,
these docs seem to be missing the rhel 8 images.
Also it seems there is no equivalent for 7-RAW or 7-LVM in RHEL8 that always points to the newest minor release.
The images available seem to be these:
[code]
and their HA versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768ba2bd-c8a7-9393-2cfd-387a3fc27783
*

[2020-03-11 16:40] SeanFeldman commented on #37532
@nickarms, I can't. I'm an external person.

Regarding the recommendation,

Personally, I think it should be removed or replaced with a "consideration for payload serialization" type of wording. If someone chooses to send the payload serialized as XML, it's their business. Wherever it is JSON, XML, BSON, AVRO, service bus doesn't care and is not impacted.

[2020-03-11 16:43] RyanHill-MSFT commented on #49844
Hi @gennarodimeosax your attachments didn't come up. I think if you're replying by email, you might have to enclose images as embedded rather than attached.

Do you still [have](https://github.com/googlecodelabs/your-first-pwapp/blob/44a973b551cf748faa7a7caeeaadcb9f4097983f/server.js#L168) `app.use(redirectToHTTPS([/localhost:(\d{4})/], [], 301));` in your repo? If so, I'm betting this is your iss

[2020-03-11 16:45] ameyakarve commented on #49245
Any updates on this one? Getting the same issue

[2020-03-11 16:47] #49953 closed

[2020-03-11 16:52] SumanthMarigowda-MSFT commented on #49554
https://github.com/MicrosoftDocs/azure-docs/issues/49481

[2020-03-11 16:52] maciek-polakowski opened #49963 "Missing property "location" in linked template section"
I spent 1,5 hours trying to locate strange error saying that "property location is not present  ...". it turned out that it must be specified in section of linked template within master template. It is not so in the text / picture above. Pls correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e5cf2a-a12f-8dcc-6ff8

[2020-03-11 16:53] RohitMungi-MSFT commented on #49943
@ShakAttacked Do you mean a support of the speech sdk for iOS? The speech SDK reference for iOS using Objective-C reference is available [here](https://docs.microsoft.com/en-us/objectivec/cognitive-services/speech/)

[2020-03-11 16:53] #49554 closed

[2020-03-11 16:54] #49919 closed

[2020-03-11 16:54] tamram commented on #49534
@iceyokuna - I found one instance in the Azure Storage documentation where the max storage account size was incorrect, and I've updated that. If you come across any others, please let us know!

#please-close

[2020-03-11 16:55] gennarodimeosax commented on #49844
Yes Ryan,

you are absolutely right.

Thanks a lot,

Gennaro.

Da: Ryan Hill <notifications@github.com>
Inviato: mercoledì 11 marzo 2020 17:44
A: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: gennarodimeosax <di.meo.gennaro@gmail.com>; Mention <mention@noreply.github.com>
Oggetto: Re: [MicrosoftDocs/azure-docs] Node Js Web App not reachable for ERR_TOO_MANY_REDIRECTS (#49844)

Hi @g

[2020-03-11 16:56] MashaMSFT commented on #49409
Hi @webguynj , thanks for contacting Microsoft! If a service pack is marked as Important or Critical, it will be installed. However, typically, the only type of SQL Server update that's marked as Important or Critical is a GDR. GDRs will be installed automatically via automated patching.

I've added a note to clarify this further in the doc.

I hope that helps and please let us know if we can be o

[2020-03-11 16:57] RyanHill-MSFT commented on #49844
Glad we could help @gennarodimeosax. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and reopen the issue.

[2020-03-11 16:57] #49844 closed

[2020-03-11 16:58] Klaas- opened #49965 "RHEL 8 Support"
Hi,
is the rhel 8 support missing from the docs or does azure monitor really not support the current rhel version?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908295a0-ead4-9061-3a60-b0e9883118e4
* Version Independent ID: 7dc47b3c-5643-0b09-41b7-e69852210a1d
* Content: [Enable Azure Monitor for VMs

[2020-03-11 17:01] cmmdesai commented on #49555
@AmitavaHazra Thank you for your question. Here is clarification regarding P1 license requirement. At the time of reading the user record from Workday, the provisioning engine does not perform any check on license assignment. We understand and trust that after the provisioning to Azure AD is complete, you will assign P1 or higher license to the user record. Hope this helps.

[2020-03-11 17:02] #42233 closed

[2020-03-11 17:03] msereda commented on #47349
FYI for anyone looking at this in the future - while looking for the same thing, I noticed that they've now added that item in localization as **verification_control_code_sent**

[2020-03-11 17:04] ShakAttacked commented on #49943
Hi

No I mean the support of multiple language in detection. There is no way to pass array of languages in the config. I’m using swift.

Sent from my iPhone

[2020-03-11 17:05] msereda commented on #49392
Thanks Yoel, updated my xml and the messages are now working.

[2020-03-11 17:06] mihsoft opened #49966 "App Service VNET integration to Gateway in the same region no longer possible in the portal"
Previously if you were using a Gateway required integration using a Gateway in the same region you could set this up through the portal. Using the new UI it is no longer possible to setup an integration using a gateway in the same region. This should be highlighted clearly to state that it is possible and supported but can no longer be done through the portal. This would be highly beneficial for a

[2020-03-11 17:07] SaurabhSharma-MSFT commented on #49933
@Dustefan Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 17:09] SaurabhSharma-MSFT commented on #49934
@smudgecat Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 17:12] SaurabhSharma-MSFT commented on #49960
@rapout83 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 17:13] SaurabhSharma-MSFT commented on #49955
@austinmcdaniel Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 17:14] Ken-Br commented on #48158
Yes it does - thank you.  Just wanted to be sure because we have many man-years of work that depends upon PCNS working to sync passwords across domains.

[2020-03-11 17:14] #48158 closed

[2020-03-11 17:18] SaurabhSharma-MSFT commented on #49657
@tom-ditlev Apologies for the delay. I am working on it internally and update you with my findings.

[2020-03-11 17:19] pkshultz commented on #49022
Thanks for the feedback @deepikabandhanadham. I'm looking into this and will provide an update within the next couple of days.

[2020-03-11 17:19] MarileeTurscak-MSFT commented on #49960
If you are a member user then you can change it yourself by going to aka.ms/mfasetup.

Otherwise the Azure AD admin can change it by going to portal.azure.com > Azure Active Directory > Users > your user account > Edit

[2020-03-11 17:23] Ken-Br commented on #48289
Thank you for the information.

[2020-03-11 17:25] bsafcik commented on #49459
This is indeed the new process for PIM.  New PIM instances will be created as v2 instances.  The process that is described in this thread is the process that will occur moving forward.  We are working to get an official announcement for this change as well as getting the documentation updated to reflect the new behavior and provide details.

[2020-03-11 17:25] MarileeTurscak-MSFT commented on #49937
@SychevIgor Thanks for this feedback! I tried to edit it and add a larger one but it doesn't look like there's a good way to fit the entire contents of the screenshot onto the page without the text being a bit small.

I do think that the text there is the most important bit, so following the instructions will lead to that exact page.

@yelevin if there's a better way to do this please update the d

[2020-03-11 17:25] #49937 closed

[2020-03-11 17:28] Forket commented on #39347
Have same issue (manual sync works OK, but auto sync fails with error "Invalid project or repo name ")
And found that reason is when Repo name is different from project name. In case if U will use default repo for project (usually on creating project U have repo with name same as project name).

[2020-03-11 17:33] MarileeTurscak-MSFT commented on #49948
@naymore please include the link to the document that you are following so that we may better assist you.

[2020-03-11 17:34] SaurabhSharma-MSFT commented on #48450
@CharmanderJieniJieni Sorry for the delay.  I was checking internally on this and I have got the information that the VM will reboot on both Windows and Linux when enabling the encryption.  However, a reboot is not required when enabling encryption on new data disks being added to a virtual machine that was already encrypted earlier.

[2020-03-11 17:35] DonPetry-EY opened #49968 "Office Licensing Setup"
Can you please add a section describing what options are available to activate Office?

I found some references in feedback about Shared Computer Activation.  Is Volume Licensing Key (KMS) based activation?

Would be helpful to share this info here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 256bb460-6bd0-404e-a720

[2020-03-11 17:37] mmacy commented on #41595
Closing as resolved in https://github.com/MicrosoftDocs/azure-docs/pull/41631. #please-close

[2020-03-11 17:37] #41595 closed

[2020-03-11 17:37] rapout83 commented on #49960
aka.ms/mfasetup can't work as it requires the verification with the 'wrong' phone number. Let me know if there's a way to bypass it.
I'm asking the admin if he can update it from the portal.

[2020-03-11 17:39] tamram commented on #20035
@WiseOldHowell - I would think so, but I don't know.

@roygara - Can you help here?

[2020-03-11 17:41] ffirg opened #49969 "az aro create fails almost immediately"
pgriffit@MacBook-Pro:~: LOCATION=northeurope
pgriffit@MacBook-Pro:~: RESOURCEGROUP="v4-$LOCATION"
pgriffit@MacBook-Pro:~: CLUSTER=ocp43
pgriffit@MacBook-Pro:~: az group create -g "$RESOURCEGROUP" -l $LOCATION
{
  "id": "/subscriptions/xxxxxxxxxxxxx/resourceGroups/v4-northeurope",
  "location": "northeurope",
  "managedBy": null,
  "name": "v4-northeurope",
  "properties": {
    "provisioningState"

[2020-03-11 17:42] SaurabhSharma-MSFT commented on #49792
@yelevin Can you please help..

[2020-03-11 17:43] CeciAc opened #49970 "Get or refresh token from /.auth/ require a setting"
@jhauray commented on [Mon Mar 02 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/688)

It could be interesting to precise that using `/.auth/me` and `/.auth/refresh` endpoints, require to enable **Token store** option, in Web App&gt;Authentication settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-11 17:49] mmacy commented on #39389
This is related to #45787. The shared SVGs, also used by this article, were updated in https://github.com/MicrosoftDocs/azure-docs-pr/pull/102873 (merged 03 Feb 2020) such that the captions no longer display black-on-black in the dark Theme:

![image](https://user-images.githubusercontent.com/13394541/76426926-ebadb580-6368-11ea-860e-4b38f8352102.png)

#please-close

[2020-03-11 17:49] #39389 closed

[2020-03-11 17:50] kilasuit opened #49972 "Please document the following error"
When Running PowerShell DSC Configurations, reguarly I get a `VMExtensionProvisioningTimeout` error

Considering there is no documentation for this as and error code and the VM Extension points to this page as per the below this really should be added to the Error Codes and their meanings section of this page
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-03-11 17:52] CeciAc opened #49973 "About func streamToString"
@vagner-nascimento commented on [Sun Mar 01 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/581)

Hello!!
I tried to use this function to read jpf, xlsx, docx and pdf file from the storage and recreate those file from its string, what doesn't worked. Then, i made a little change that worked fine for me:

const streamToStr64 = async readableStream =&gt; {
    return new Promise((reso

[2020-03-11 17:55] priestlg commented on #49783
Fixed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/107294.

[2020-03-11 18:01] lamek commented on #49969
Thanks for the feedback @ffirg. Did you register for the preview following the link in the top of the article?
https://aka.ms/aro-preview-register

After registering, can you try again using the `eastus` location?
@sakthi-vetrivel if the preview will remain limited to the `eastus` location then I recommend we update the docs to specify this. Right now you might expect to be able to set the locatio

[2020-03-11 18:15] Blackmist commented on #49501
It updates every 2 weeks usually. I believe the next update is on Monday. You can also check the [release notes](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes). However, these mix the experimental and release updates so it's a little hard to parse. I've asked if we can break it into two docs, one for each SDK version, or at least more clearly label th

[2020-03-11 18:17] Blackmist commented on #49501
@dagarkatyal Thanks again for reporting this problem and helping improve the docs.

#please-close

[2020-03-11 18:17] #49501 closed

[2020-03-11 18:19] bandersmsft commented on #44947
@glaisne Hi there. Yes, the information displayed varies based on your type of subscription. Are you can EA user?

[2020-03-11 18:21] yoelhor commented on #49955
Please take a look on following document

https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-operations#application-extension-properties

[2020-03-11 18:26] JasonWHowell commented on #49683
@rajaprad We're updating the doc today. I expect it will be published around 3pm PST.

Thanks for your feedback! Jason

(This used to be TLS 1.0). Existing cache instances won't be updated at this point.  You'll be allowed to [change the minimum TLS version](cache-configure.md#access-ports) back to 1.0 or 1.1 for backward compatibility, if needed.  This change can be done through the Azure portal

[2020-03-11 18:27] JasonWHowell commented on #49683
#please-close

[2020-03-11 18:27] #49683 closed

[2020-03-11 18:27] v-erswar commented on #47458
[Request 1]
Start of Rollout:  Process already includes an initial notice and includes publication of the Release Notes.  This is published out to: https://docs.microsoft.com/azure/cloud-services/cloud-services-guestos-msrc-releases

End of Rollout: Process includes publication of doc updates in 3 locations.  (1) The MSRC Releases page (noted above) is update & finalized.  (2) The Update Matrix (l

[2020-03-11 18:28] JasonWHowell commented on #49514
@milope  We're updating the doc today. I expect it will be published around 3pm PST. Thanks for your feedback! Jason

[2020-03-11 18:28] yoelhor commented on #49955
To get a user profile with the extension attribute, run the GET request to the **beta** endpoint

[code]

To get the list of extension attributes registered with your application, use following [MS Graph command ](https://docs.microsoft.com/en-us/graph/api/application-list-extensionproperty?view=graph-rest-1.0&tabs=http)

[2020-03-11 18:28] JasonWHowell commented on #49514
#please-close

[2020-03-11 18:28] #49514 closed

[2020-03-11 18:32] nastassiar opened #49975 "How to verify Resource Manager API or Terraform deployments?"
The Verify the GUID deployment section provides a script for verifying ARM templates but how do you do the same for  Resource Manager API or Terraform deployments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content

[2020-03-11 18:32] bandersmsft commented on #49662
@karthick3d Please let me know if your problem was resolved.

[2020-03-11 18:36] CeciAc opened #49976 "Change Set-AzWebApp to Set-AzAppServicePlan"
@SteveVaneeckhout commented on [Wed Feb 26 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/567)

In the Script explanation section the command Set-AzWebApp is listed but is not actually used in the sample. This should be changed to Set-AzAppServicePlan.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitH

[2020-03-11 18:39] SychevIgor commented on #49937
If you have something not important, why it's there?

[2020-03-11 18:40] MarileeTurscak-MSFT commented on #49796
This is not supported yet, but there is a feedback item open for this.

"The work to start showing creation metadata for new resources and modification metadata for existing resources is currently ongoing, but work is required by each resource provider. As a result, we will be pushing resource types out steadily over the next year or so based on each team’s availability. If you have certain resour

[2020-03-11 18:40] #49796 closed

[2020-03-11 18:43] CeciAc opened #49977 "Unnecessary command listing in Script explanation"
@SteveVaneeckhout commented on [Wed Feb 26 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/568)

Get-AzWebAppMetric is listed in the Script explanation section but is not used in the sample.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 1c9f0745-8210-5e90-b12c-26bcc94ea4b8
* Version Inde

[2020-03-11 18:44] austinmcdaniel commented on #49955
Thanks, that does appear to work using the beta route (vs v1.0) -- is this feature set to be released soon? Is it recommended/preferred to use the beta APIs over the existing Azure Directory Graph API?

[2020-03-11 18:47] anfeldma-ms commented on #49488
@juanren Thank you for raising this important point. A simple way to set TTL for an item is to add a TTL JSON field:

[code]

But of course you can also accomplish this through the Java SDK without modifying JSON - I will modify this doc with instructions for setting TTL programmatically; keep an eye out for an update around the end of the week.

[2020-03-11 18:48] CeciAc opened #49978 "It doesn't work"
@vicobiscotti commented on [Tue Feb 25 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/425)

At the end of step 5, the list does not appear. A Home with "Welcome" inside appears. The header contains "Home" and "Privacy", but the content is not the expected list.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi t

[2020-03-11 18:49] ffirg commented on #49969
Hi Kevin

Yes I registered as per the guide. That worked fine
Tried changing LOCATION=eastus but same error on the az aro create

[2020-03-11 18:51] bandersmsft commented on #49543
@slavizh Thanks for letting us know about this. You're correct. I've removed the statement about the template supporting only EA customers with https://github.com/MicrosoftDocs/azure-docs-pr/pull/107303
#in-process

[2020-03-11 18:51] lobrien commented on #49704
When you created the VM did you configure it for ssh authentication from the get-go? Or did you start with user/pass and switch?

[2020-03-11 18:59] JozoSlejko commented on #41184
Premium FileStorage accounts are giving me the same error when trying to mount as user who has RBAC rights on the share. Standard accounts work fine.
How can we mount AADDS integrated Premium FileStorage accounts?

[2020-03-11 19:00] BharathNimmala-MSFT commented on #49496
@slopezv2 Thanks again for your query, post discussion with our internal product team it has been advised for customers to choose a storage account that does _NOT_ have Hierarchical Namespace enabled for their destination in diagnostics settings.

Hope the information helps. Since this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is for driving improvements re

[2020-03-11 19:00] #49496 closed

[2020-03-11 19:03] mikerodrick commented on #49588
FWIW, when I run this command, the cmdlet output seems to default to Format-List. The tenant name is the third value in the list.
![get-rdstenant](https://user-images.githubusercontent.com/10505335/76453344-1881bd00-63a9-11ea-8f7c-d84796f657a4.png)

[2020-03-11 19:08] BharathNimmala-MSFT commented on #49951
@stspinu Thanks again for bringing this to our notice and helping correct our document.
PR has been merged and the document reflects it correctly now.

Closing this issue for now, however if you have any queries please revert back. Thank you

[2020-03-11 19:08] #49951 closed

[2020-03-11 19:12] MarileeTurscak-MSFT commented on #49960
Can you try to add it as if you were adding a new phone number, following the instructions here and going to "Additional Verification Info"? https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-troubleshoot#i-got-a-new-phone-number-and-i-want-to-add-it

Also, in the mfasetup, you can maybe try adding your real number as an alternate number and remo

[2020-03-11 19:17] daweins opened #49979 "I'd like to re-open feedback #30807 - "What are deprecated accounts""
I had another customer ask me the same question, and I don't see anywhere in the docs w/ a good definition of deprecated accounts. Item 30807 says we would clarify the docs last year, but I don't see any result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59d5bc1-0e5e-4183-58e3-da7b20a450c6
* Version Independent ID

[2020-03-11 19:19] lamek commented on #49969
Ok, in that case I don't know the answer, but checking with the team to help find someone who does.

[2020-03-11 19:24] SaurabhSharma-MSFT commented on #49667
@cananac I have got the information that the naming indeed changed, the “default” pricing from the older API was changed to “VirtualMachines” and support for more types were added to support more granular resource type protection. Each bundle represents standard protection for the bundle’s resource types across the entire subscription. So, if you wants to upgrade all bundles for a subscription, th

[2020-03-11 19:24] cap273 opened #49980 "Programmatically?"
This document gives indications on how to Resync Storage Keys through the Azure portal. What about programmatically? Either through PowerShell or through REST APIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad0ca2a0-b63d-30a9-e5af-28faf3106e07
* Version Independent ID: ed393e62-c9bf-8d51-a30f-a7fec72a125b
* Conten

[2020-03-11 19:28] lfittl-msft commented on #49915
Hi @lokijota,

Two questions to debug this further:

1) Are you trying to connect with the Azure AD administrator and getting this error?

2) Could you try restarting your server and see whether that changes anything? (we've sometimes seen a bug related to caching that we're in the process of fixing - restarts should resolve this for now)

[2020-03-11 19:36] BharathNimmala-MSFT commented on #49965
@Klaas Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-11 19:39] tesych commented on #49882
@barakooda , the cameras can point at each other and as long as they are synchronized they should be performing the same way.

[2020-03-11 19:39] MarileeTurscak-MSFT commented on #49869
Thanks @nakazax

I think it's a good call out and made a pull request to include your notes.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/107322

[2020-03-11 19:39] #49869 closed

[2020-03-11 19:44] AjayKumar-MSFT commented on #49749
Rob, thanks for sharing a detailed good feedback! Your feedback has been shared with the content owner for further review.

[2020-03-11 19:44] MarileeTurscak-MSFT commented on #49872
@BartHoofd thanks for your question!

Yes, they are. They've just been in preview for a long time. They have been in public preview since 2014, and the V2 has been in public preview since 2017.

Hope this helps. If you think anything should be added to the documentation feel free to make a suggestion on those docs where you think this is unclear.

[2020-03-11 19:44] #49872 closed

[2020-03-11 19:55] MarileeTurscak-MSFT commented on #49934
@smudgecat Thanks for this! I was able to access the case and the support engineer seemed to indicate that this is a feature request, but based on your description this sounds more like a bug. Can you please provide me with some more context on what happens and what is the expected vs actual behavior?

[2020-03-11 20:00] gatortarheel opened #49981 "Seeing deprecated command language"
This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 999c1308-1285-7bc6-06aa-a83b7266e0e9
* Version Independent ID: cbf8c7f4-d9bd-929f-626f-b65e2f37f896
* Conte

[2020-03-11 20:03] Karishma-Tiwari-MSFT commented on #49940
Is this issue resolved?

[2020-03-11 20:04] AjayKumar-MSFT commented on #49839
@assaf-grth, In a normal-use scenario, where the incoming load is consistent and even, Azure Notification Hubs can process at least **1 million push notification sends a minute**. This rate might vary depending on the number of tags, the nature of the incoming sends, and other external factors.

During the estimated delivery time, the service calculates the targets per platform and routes messages

[2020-03-11 20:07] naymore commented on #49948
I added two links.

I want to enable the auto-scaler.
The second documenation describes nodepools (required for auto-scaler) in general and that you can set the VM-size on an initial az aks create.

[2020-03-11 20:15] priestlg commented on #49783
#please-close.

[2020-03-11 20:15] #49783 closed

[2020-03-11 20:18] karthick3d commented on #49662
Yes, it works now. Thanks for your suppoet.

[2020-03-11 20:20] priestlg commented on #48371
#please-close

[2020-03-11 20:20] #48371 closed

[2020-03-11 20:21] henriquebelotto opened #49984 "showCancelButton"
Hello,

How can I set up where the user should be redirected if he/she clicks to Cancel?
When I tried in Azure, I just get an error "AADB2C90091: The user has cancelled entering self-asserted information."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c33bed9-7e41-92cb-e093-80e5fda0e718
* Version Independent ID: 94d9

[2020-03-11 20:26] katomel4 opened #49985 "Invitation redemption failed - error"
how to troubleshoot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d96be0-1470-eb2c-ea5b-cea0a5cc44a1
* Content: [Add Google as an identity provider for B2B - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/b2b/google-federation#feedbac

[2020-03-11 20:33] Ruqia91 opened #49986 "ARM and RP throttling limits cannot be increased at subscription level"
We have cases where customers are requesting to increase the throttling limits for their Subscription as it is mentioned in this document.
However, it is clearly mentioned in our TSG that it is not possible to increase ARM and RP throttling limits as they are configured globally and not on per subscription basis.
Can the document be please updated to mention the same?

---
#### Document Details

⚠

[2020-03-11 20:39] #49781 closed

[2020-03-11 20:40] lokijota commented on #49915
Hi,

1- I'm an FTE, this is in my internal subscription, of which I'm owner/admin.
2- No impact, same error.

[2020-03-11 20:41] sdgilley commented on #49811
@ballcap231 thanks for reporting this. I’ve reported this issue and the product team is investigating it as a bug with the service/SDK.

Since this is not a documentation problem, I will close this github issue. If you need to track work on this bug, please open a support incident with Microsoft and reference this GitHub issue. The support team will be able to link this to the internal bug trackin

[2020-03-11 20:41] #49811 closed

[2020-03-11 20:42] djpmsft commented on #49831
This question looks answered with ack from original poster

#please-close

[2020-03-11 20:42] #49831 closed

[2020-03-11 20:47] jpconnock commented on #48148
#please-close

This Issue may be reopened if more questions arise or if additional clarity is requested.  Thank you!

[2020-03-11 20:47] #48148 closed

[2020-03-11 20:52] eparizzi opened #49987 "Queued ingestion examples for all SDKs"
This page mentions the Queued ingestion as the recommended approach for batch programmatic ingestion on production.

---
Batch ingestion (provided by SDK): the client uploads the data to Azure Blob storage (designated by the Azure Data Explorer data management service) and posts a notification to an Azure Queue. Batch ingestion is the recommended technique for high-volume, reliable, and cheap data

[2020-03-11 20:56] BharathNimmala-MSFT commented on #49944
@RedBa Thank you for your query , we will look into it and get back to you at the earliest.

[2020-03-11 20:58] mbell85 commented on #49792
Hey guys,

I had a call with Roger Fleming from Microsoft and we got it working!

Thanks!

--

Mark Bell
IT Admin/Coordinator
Journeys in Community Living
1130 Haley Rd.
Murfreesboro, TN 37129
615-890-4389, ext. 45 (ofc)
615-295-3046 (cell)
www.journeystn.org<http://www.journeystn.org/>
www.fb.com/journeysincommunity<http://www.fb.com/journeysincommunity>
www.twitter.com/journeystn<http://www.twit

[2020-03-11 21:00] BharathNimmala-MSFT commented on #49981
@gatortarheel  Thank you for your feedback, assigning this issue to our document author @mumian to further evaluate the feedback and update the document accordingly.

[2020-03-11 21:01] yoelhor commented on #49984
The user is redirect to the url specified in the `redirect_uri` query string parameter, with the AADB2C90091 error message. You can't change the location. But you can play with JavaScript and add your own link.

[2020-03-11 21:03] mihsoft opened #49988 "Lack of clear wording"
When adding a Regional VNET integration the wording states - "Communicating with resources behind a service endpoint for this subnet may take a number of hours to take effect."

Please outline why it would take a number of hours. The problem with this wording is that it could mean absolutely anything. We have waited 3+ hours and found the App Services are still unable to resolve items behind the s

[2020-03-11 21:04] Nesyne opened #49989 "How do you overcome infinite voice cycling..."
[Enter feedback here]
I am currently doing Speech-to-Speech translation. My issue is, if i am using my laptops mic and speaker, my mic is picking the voice from speaker and trying to re-translate that; which gets into an infinite re-translation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71b1b04-27c4-8b1f-2de1-f22

[2020-03-11 21:09] rapout83 commented on #49960
it doesn't work as it asks me to verify myself with the 'wrong' phone number first. Only after the verification I can change/add the phone number.

[2020-03-11 21:11] yoelhor commented on #49955
First you should use only MS Graph API (we don't recommend to use Azure AD Graph anymore). With regard to the version of the MS Graph. By default the beta version returns more properties than v1.0. But, you can also use the v1.0 and explicitly select the attributes to return (including the extension attributes). For example,

[code]

[2020-03-11 21:13] BHoggs commented on #29124
@msrini-MSFT @rambk this has been sitting for a while now, can we get an update? Just spent 3 days pulling hair out trying to figure out where the heck our BGP routes are pointing until I found this ticket. There is absolutely no explanation of this anywhere on the internet!

[2020-03-11 21:15] jispar commented on #49947
Because AzureCloud tag represents all datacenter public endpoints (broader scope than the endpoints of Azure first party services), we recommend only outbound connectivity. Of course, you can use the tag for inbound connectivity, but our public documentation will not recommend that.

[2020-03-11 21:28] priestlg commented on #45866
Merged.
#please-close

[2020-03-11 21:28] #45866 closed

[2020-03-11 21:30] paweltajs commented on #49947
@jispar thats not entirely true. Public documentation recommend that for the use case which I quoted (there is no Azure Tag for AAS or PowerBI). And it is really common scenario with managed instance involved.

So here and there we can see different recommendations for the same feature. If it is not recommended it should be somehow described in the article about managed instance.

[2020-03-11 21:39] gamullen opened #49991 "CDN?"
Why is the term "CDN" never used on this page? We use it in other similar solutions in Azure. Why is it called "caching" instead? One of my customers was confused by this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a80-1344-07a9e0063951
* Version Independent ID: c0cff4d9-d7fd-7b25-52da-9cbe5dda3ba8
*

[2020-03-11 21:47] JonathanPalmerGD opened #49992 "Events"
The events that are used by the Direct Line Speech might want to be separately documented.
I needed to better understand the timing and purpose of the events so I can construct a robust multi-turn exchange.

I didn't expect that I'd find the answers I was looking for in a quickstart's code comments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-11 22:00] mikebudzynski commented on #40095
Most likely a bug, thanks for reporting it. No ETA for a fix at this moment.

[2020-03-11 22:00] ohorvath opened #49993 "Support for provisioning new cluster with spot pool"
As far as I understand there is no way to create a new AKS cluster with an additional spot node pool, am I right? Is there a plan to implement this feature for GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc40e8e-558d-171c-2fd9-82b67f89d221
* Version Independent ID: 9a757f12-cf86-2095-0f6a-37397024e3a5
* Content

[2020-03-11 22:01] Karishma-Tiwari-MSFT commented on #48581
Sorry to hear that. If you see the issue again, let me know and I will get you connected to a support engineer via support request.

[2020-03-11 22:03] lyrana commented on #49806
Hi @slopezv2  good questions, thanks for reaching out. DirectQuery to Azure TSI from Power BI is not currently supported. In general, Power BI recommends using import rather than DirectQuery whenever possible to take advantage of PBI's query engine, can I ask why you'd like to go the DirectQuery route? The TSI connector will make API calls to your environment to import your data, and thus it's lim

[2020-03-11 22:05] jinli commented on #43277
This is caused by running version 1.x azure function apps in version 2.x or 3.x runtime. New function apps created in azure default to runtime 3.x.  You can manually change it back to 1.x in application settings:

 {
    "name": "FUNCTIONS_EXTENSION_VERSION",
    "slotSetting": false,
    "value": "~1"
  },

Then you should not get that error anymore

[2020-03-11 22:06] Mike-Ubezzi-MSFT commented on #49915
@lokijota You need to include the following in your psql statement: `sslmode=require`

So that user/password authentication looks like:

And AAD Authentication looks like:

@lfittl-msft
I could not get AAD authentication to work, as it did not like my token but user/password authentication is successful. I think adding a bit about `sslmode=require` is needed in the document.

![Screenshot (779)](h

[2020-03-11 22:07] Karishma-Tiwari-MSFT commented on #49507
@Mriccio Let us know when you get a chance to try out other regions.

[2020-03-11 22:15] jpconnock commented on #43766
Thanks @bdnts !

This is valuable information and I'm thankful you've shared it.  Since this article is a quickstart and meant to focus on a single path to complete a task, I'm not going to add it here.  However, it will stay in this Issue for future reference -- and when we have the opportunity, I'll include it in an article.

#please-close

[2020-03-11 22:15] #43766 closed

[2020-03-11 22:16] ffirg commented on #49969
@lamek sounds like it could just be a whitelisting subs issue. Hopefully that'll fix it, so I close this and re-open if needed. Thanks for the help :)

[2020-03-11 22:16] #49969 closed

[2020-03-11 22:18] Karishma-Tiwari-MSFT commented on #48147
@cricex Did that help answer your question?

[2020-03-11 22:22] MartinJaffer-MSFT commented on #49565
@GabrielOrAnder Only one of ColumnMappings , SchemaMapping , or Mappings should be used at a time in the TabularTranslator model.

a crude example could look like:

[code]

[2020-03-11 22:37] MarileeTurscak-MSFT commented on #49945
@oerpli
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-11 22:41] MarileeTurscak-MSFT commented on #49976
@CeciAc
Thanks! We are fixing this.

[2020-03-11 22:46] MarileeTurscak-MSFT commented on #49976
Thanks. I made a PR to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107362

[2020-03-11 22:46] #49976 closed

[2020-03-11 22:49] lisaguthrie commented on #49857
Hi @balukantu - you'll need to assign a managed identity to an AKS cluster, just as the article you linked walks you through assigning a managed identity to an App Service instance. Then you'll be able to assign permissions to that managed identity in App Config.

AKS's managed identity functionality is still in preview and has some important limitations. You can read more here: https://docs.micro

[2020-03-11 22:49] MarileeTurscak-MSFT commented on #49977
@CeciAc Thanks! We are fixing this.

[2020-03-11 22:52] MarileeTurscak-MSFT commented on #49977
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107364

[2020-03-11 22:52] #49977 closed

[2020-03-11 22:56] jim-minter commented on #49969
@ffirg also note region must be eastus currently

[2020-03-11 23:04] MartinJaffer-MSFT commented on #49855
I agree.  If I get some time, I'll try adding to this page.

[2020-03-11 23:05] Karishma-Tiwari-MSFT commented on #49892
I apologize for the misunderstanding. You are right, the document referenced talks about the performance comparison between SKUs.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 23:10] MarileeTurscak-MSFT commented on #49960
You can only disable the verification method as a tenant admin, which is something the admin will have to do for you.

Sign in to the Azure portal.
On the left, select Azure Active Directory > Users.
Select Multi-Factor Authentication.
Under Multi-Factor Authentication, select service settings.
On the Service Settings page, under verification options, select/unselect the methods to provide to your

[2020-03-11 23:12] MarileeTurscak-MSFT commented on #49960
Here is the guide for handling your exact scenario, which you can pass on to your administrator:

Ask another cloud services admin to reset your Multi-Factor Authentication settings. To do this, the admin should follow these steps:
Sign in to the cloud service portal as an admin.
Go to https://account.activedirectory.windowsazure.com/usermanagement/multifactorverification.aspx.
Select the check bo

[2020-03-11 23:12] MarileeTurscak-MSFT commented on #49960
Hope this helps! If they have trouble please ask them to create a support ticket with us.

[2020-03-11 23:12] #49960 closed

[2020-03-11 23:15] ffirg commented on #49969
I'm assuming that most people are likely to hit this limit issue to?
Resource quota of cores exceeded. Maximum allowed: 20, Current in use: 0, Additional requested: 30.

[2020-03-11 23:16] Karishma-Tiwari-MSFT commented on #49952
Thanks for the feedback.
We do have a doc on deploying resources using templates from Azure portal:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-portal
Please take a look and let me know if you have questions.

[2020-03-11 23:17] #49565 closed

[2020-03-11 23:34] Karishma-Tiwari-MSFT commented on #49972
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-11 23:43] cupacheeno opened #49997 "SAML Test App - Assertion Consumer is Invalid"
Following along the example given we are coming across SAML errors whereby the following is being displayed after attempting to login.

SAML Error
The specified assertion consumer service URL https://samltestapp2.azurewebsites.net/SP/AssertionConsumer is invalid.

Request ID: 0HLU56JI97H7U:00000008

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-11 23:50] Karishma-Tiwari-MSFT commented on #49993
Is your question about creating a new AKS cluster with a spot node pool instead of adding to the existing AKS cluster?
That is not supported yet. You must add a spot node pool to an existing cluster that has multiple node pools enabled.

[2020-03-11 23:51] ishepherd opened #49998 "Missing docs for Microsoft.Web"
Please could App Service team contribute documentation for Microsoft.Web metrics. Looks like most other providers have.

I'm interested in 'Connections' (AppConnections) and whether it relates to inbound connections maintained by the load balancer, outbound connections made by the app, ... ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-03-12 00:00] abatishchev opened #49999 "Cannot change accessTokenAcceptedVersion other than via manifest"
Per [the doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) the change of `accessTokenAcceptedVersion ` from `null` (the default value) to `2.0` can be made only via the app manifest.

The problem is: none of the blades on the UI neither display the value nor allow to change it. How come?

Not setting to the correct value causes my service to fail at 403 without ex

[2020-03-12 00:12] ElectricLlama commented on #49925
Hi the issue I encoutnered was that I could create a ADLS Gen2 account with a guest account, but I could add any roles. So perhaps a better sentence is;

Note: By design, ADLS Gen2 ACLs only support users from the current tenant. So a guest user cannot be added. In addition, guest users also cannot assign any RBAC security"

[2020-03-12 00:29] Anand-Moghe commented on #49910
@mike-urnun-msft  I am closing this ticket because I found answer to this question. Basically the AuthN and AuthZ should be transparant here and it can use whatever scheme that works for API. It is separate from self-hosted gateway.

[2020-03-12 00:29] #49910 closed

[2020-03-12 00:30] mav3rick76 opened #50001 "AD credentials not working"
Implemented smb file share access with AD authentication. Gave my AD account access and can get into the share fine via file explorer. Can even map the drive. However, others users on the network are unable to do so. They have been been given permissions just like I gave myself (smb contributor), but when they are prompted for credentials, it continues to keep prompting as if they are putting in t

[2020-03-12 00:43] BharathNimmala-MSFT commented on #49998
@ishepherd Thank you for your feedback, we will direct the feedback to concerned team to take it forward.

[2020-03-12 00:48] BharathNimmala-MSFT commented on #49986
@Ruqia91 Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-12 00:49] TravisCragg-MSFT commented on #49958
@mstair Thanks for the feedback! I was also unable to enable Traffic Analytics using the permissions given. It also required permissions over the Network Watcher RG:

There was an error provisioning the resource group 'NetworkWatcherRG'.
Additional details from the underlying API that might be helpful: The client  does not have authorization to perform action 'Microsoft.Resources/subscriptions/res

[2020-03-12 00:52] BharathNimmala-MSFT commented on #49975
@nastassiar Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-12 01:10] TravisCragg-MSFT commented on #49991
@gamullen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-12 01:13] MarileeTurscak-MSFT commented on #49949
@lshunnarah77
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 01:14] BharathNimmala-MSFT commented on #49963
@maciek-polakowski Apologies that you had to spend that time to isolate the error and we really appreciate your feedback, assigning this to our document author @mumian to further evaluate the feedback and update the document accordingly.

[2020-03-12 01:15] MarileeTurscak-MSFT commented on #49985
@katomel4
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 01:16] yuemasy commented on #48278
@tesych @AshokPeddakotla-MSFT , I'm also interested in the origin location of color sensor and depth sensor. When I measured depth value ground truth, this value is necessary. And I'm very glad to see there is a thread about this. Is there any update recently? Thanks.

[2020-03-12 01:18] KrishnaG-MSFT commented on #49954
@CeciAc Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-12 01:26] KrishnaG-MSFT commented on #49953
@Potapy4 Thanks for the quick response. :+1:

[2020-03-12 01:29] danhlee329 opened #50003 "Other Options for Certificate Generation"
For certificate generation, it would be nice to also include other ways using openssl to generate the .pfx file for non-Windows users.  I used this script to generate the .pfx file, which was accepted successfully for the enabling of LDAPS:

openssl pkcs12 -inkey privatekey.key -in certificate.crt -export -out newfile.pfx

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-12 01:33] danhlee329 commented on #50003
Also should note the expected items to use for the next step from the command above:
* Generated .pfx file
* Password used to encrypt file

[2020-03-12 01:33] sashizaki opened #50004 "Is the service name of Hyper-V host different when replicating using VMM in the environment?"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-troubleshoot#replication-issues
Has the following statement.
-----
If you're replicating with VMM in the environment, check that these services are running:
On the Hyper-V host, check that the Virtual Machine Management service, the Microsoft Azure Recovery Services Agent, and the WMI Provider Host service are

[2020-03-12 01:37] gitmadness opened #50006 "Please document if there are any limits and restrictions to the number of continuous jobs."
I'm writing regarding https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry#q--a.

I'm looking for information on how many continuous export jobs I can have for an ApplicationInsights instance. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a72-85d8-6296-d9f0-638907f1382b
* Version I

[2020-03-12 01:38] blouwagie opened #50007 "RADIUS services"
1. One feature that should be in table named "features you may need for your organization" is RADIUS, that is a feature that many organisations need and is apparently still not supported with Azure AD DS or AAD.  PLease this to the table to help us make the correct solution.
2.  Custom OU structure. You indicate that is is possible in both. In my experience this is very limted in AD DS, please doc

[2020-03-12 01:40] niklarin opened #50008 "Missed pair"
Sorry, another pair of regions is missing - Germany West Central. I assume that its paired region is Germany North but it would be great to have it on this page. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* C

[2020-03-12 02:13] y0da822 commented on #12432
I’m lost. Does following this article on server 2019 with html5 rd web work? I really don’t want to setup 2 apps. Doesn’t make sense to me. It’s a reverse proxy.

[2020-03-12 02:16] hungvotrung commented on #49966
Same issue. And new one doesn't even work for me.

[2020-03-12 02:26] mumian commented on #49963
@maciek-polakowski - thank you for your feedback.  I walked through the tutorial and didn't see the error that you got.  Which text/picture you were referring to?  Is the problem in the Microsoft.Resources/deployments resource definition?

[2020-03-12 02:31] KalyanChanumolu-MSFT commented on #49987
@eparizzi Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-12 02:32] hungvotrung opened #50009 "New Regional VNet intergration doesn't work"
Tried on Southeast-asia, timeouted when using portal and az command just stay there and do nothing
request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/..../networkConfig/virtualNetwork?api-version=2019-08-01 (Caused by ResponseError('too many 504 error responses',))
---
#### Document Detai

[2020-03-12 02:40] KalyanChanumolu-MSFT commented on #49978
@CeciAc @SnehaGunda Is this created as part of a test/automation?

[2020-03-12 02:44] dcbrown16 opened #50010 "Required permissions"
The Site Recovery Contributor description says that they can enable replication, but the list of permissions required to enable replication includes a bunch of .Compute permissions and the Storage listkeys permission, which the Site Recovery Contributor is not listed as having in the built-in roles doc. Which info is correct - can Site Recovery Contributor enable replication or not?

---
#### Docu

[2020-03-12 02:52] Chandu12x opened #50011 "How to add custom userdefined claims like moviename to aad access token."
I have a requirement where I need to add custom user defined claims like moviename to Azure AD access token.Actually this will be the additional claim I want to include in the token along with default claims. I want to add claims even before creating access token.

So my code looks like below

[code]

In above code, result will have access token with some default claims.  I want to add custom user

[2020-03-12 02:53] doc-rj-celltrak commented on #49708
Hi @amanmcse thanks again for your help. I count 1832 bytes after adding together both query params SAMLRequest and RelayState in url-decoded form, 1917 bytes in url-encoded form.

However, just to make sure, I'm going to try to configure the RequestContextMaximumLengthInBytes to 3000 bytes or larger.

Here's the entire request url in url-encoded form:

[code]

[2020-03-12 02:55] AshokPeddakotla-MSFT commented on #49956
@fgheysels Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-12 02:58] MicrosoftGuyJFlo commented on #42584
#assign @SanDeo-MSFT

[2020-03-12 02:58] MicrosoftGuyJFlo commented on #44645
#assign @SanDeo-MSFT

[2020-03-12 03:02] doc-rj-celltrak commented on #49708
@WhippsP Thank you, I'll try posting on Stack Overflow, but I'll probably need support from Amazon or Microsoft or both. Regarding the 80 bytes, my understanding is that spec is not followed in actual industry practice. Microsoft apparently defaults to a 1000 byte max, and Amazon specifically says this: "Cognito supports relayState values larger than 80 bytes. Whilst SAML specifications state that

[2020-03-12 03:02] MicrosoftGuyJFlo commented on #47622
#assign @sdabbiru

[2020-03-12 03:03] MicrosoftGuyJFlo commented on #48816
#assign @spunukol

[2020-03-12 03:05] Huemain commented on #42584
Hi Guys apologies that I left this thread so long. We have spent some more time on this issue and seems that we might have a solution. Will update shortly.

[2020-03-12 03:05] mumian commented on #49981
@gatortarheel Thank you for your feedback. I have created a PR to update the articles.

#please-close

[2020-03-12 03:05] #49981 closed

[2020-03-12 03:10] MicrosoftGuyJFlo commented on #42826
Pinged PG again on this.

[2020-03-12 03:13] seagullt opened #50012 "The IP Address Range of App Service Data Center is not correct"
Hi Team,

I'm the support engineer from APIM team. I tried to restrict caller IP from Logic App Side, I want to allow request only from APIM. As you know, the backend of the consumption tier of APIM is App Service. So in theory, we can achieve the goal by whitelisting the IP Address Range of App Service DataCenter according to the region. But we can still get the error when we tried to access Logi

[2020-03-12 03:23] Huemain commented on #42584
Passing on from someone else who help solve this or offer a work around.

We did end up using powershell. But we also had to add the user object id rather than the username. Before you install the extension you need to make sure that the machine has a system identity as well.

[2020-03-12 03:23] #42584 closed

[2020-03-12 03:29] likebupt commented on #49980
Hi @cap273 , please refer to [this article](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-storage-keys-powershell)

[2020-03-12 03:42] VikasPullagura-MSFT commented on #49746
@ricvil Thanks for responding with the details.

@RoopChevuri Can you share insights on the cost implications and any work around to get over this issue.

[2020-03-12 03:44] snesbitt76 commented on #49834
Thank you for clarifying. Appreciate it.

[2020-03-12 03:49] RoopChevuri commented on #49746
We are investigating the issue and will get back to the thread.

________________________________
From: VikasPullagura-MSFT <notifications@github.com>
Sent: Wednesday, March 11, 2020, 20:42
To: MicrosoftDocs/azure-docs
Cc: Roop Kiran Chevuri; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Automation Logic App stuck on running state (#49746)

@ricvil<https://apc01.safelinks.protection.outlook.com/

[2020-03-12 03:56] barakooda commented on #49882
thanks for the reply,
i meant if they shoots in the same time
it will affect their depth calculation.

[2020-03-12 04:14] mike-urnun-msft commented on #49470
@spottedmahn Thanks for reporting this and helping us drive improvements towards MS Docs! I've created a PR that corrects the sentence.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-12 04:14] #49470 closed

[2020-03-12 04:19] msrini-MSFT commented on #49907
@kuwe1990 , I am still not able to get the doc link. Can you send it again?

[2020-03-12 04:21] msrini-MSFT commented on #49957
@Guillaume-Docquier , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 04:22] msrini-MSFT commented on #49970
@CeciAc , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 04:24] msrini-MSFT commented on #49973
@CeciAc , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 04:25] nibaccam commented on #47237
Thank you for reporting this issue. The documentation has been updated and will be live tomorrow morning. We will now proceed to close this thread.
#please-close

[2020-03-12 04:25] #47237 closed

[2020-03-12 04:28] msrini-MSFT commented on #49979
@daweins , Thank you for your feedback. We will investigate and get back to you shortly.

https://github.com/MicrosoftDocs/azure-docs/issues/30807

[2020-03-12 04:30] msrini-MSFT commented on #49980
@cap273  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 04:31] mike-urnun-msft commented on #49471
@spottedmahn This doesn't appear to be the case per: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/MessageHandlerOptions.java

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-12 04:42] RohitMungi-MSFT commented on #49968
@DonPetry-EY For supported office offerings on windows DSVM here is the [link ](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-tools-productivity)for the productivity tools that can be installed.

I am not an expert on office licensing but it looks like Key Management Service(KMS) or Volume Activation(VA) is offered to older versions of office product so

[2020-03-12 04:52] vivrao opened #50013 "Unable to login with concurrent users using Bastion on Windows 10 VM"
While logging with multiple users (concurrent) through Bastion, it gives an error message that "another user will be disconnected if you continue sign in ". As per Bastion documentation, 25 concurrent users are allowed but I am not able to achieve it. Are there any additional settings to be done to allow concurrency. I am logging on to Windows 10 VM through Azure Bastion.

---
#### Document Detail

[2020-03-12 04:57] mike-urnun-msft commented on #49559
@crowcoder Connectors are built by internal teams. Please open a feature on [Azure Uservoice for Logic Apps](https://feedback.azure.com/forums/287593-logic-apps) and reply here with the URL. I'll ask the right team internally and help get clarity on the changes.

Since this channel is for driving improvements towards MS Docs, we will now proceed to close this thread. If there are further questions

[2020-03-12 04:57] #49559 closed

[2020-03-12 05:01] balukantu commented on #49857
@lisaguthrie Thanks for the update.
I would be grateful if you provide the roadmap of ManagedIdentity in AKS.

[2020-03-12 05:09] Samantha-Yu commented on #37888
Thanks for the feedback! Scripts in this article have been refreshed. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-12 05:09] #37888 closed

[2020-03-12 05:09] Samantha-Yu commented on #37039
Thanks for the feedback! Scripts in this article have been refreshed. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-12 05:09] #37039 closed

[2020-03-12 05:13] AmitavaHazra commented on #49555
@cmmdesai, Thanks for your time. I need more clarity. Workday to On prem AD provisioning is completed without any license. If we do not assign license to user once it will be provisioned to Azure AD then will it create any issue for Workday to On prem AD provisioning. ? I mean where is the use of license in context of  Workday to on prem AD provisioning ?

[2020-03-12 05:16] AjayKumar-MSFT commented on #49988
@mihsoft, Thanks for leveraging Azure docs feedback to raise this question.
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements.

I understand, you're referring to the verbatim on the Azure Portal for clarity, thanks for sharing your feedback.
![image](https://user-images.githubusercontent.com/44606227/76488895-de69f700-644c-11ea-879c-3081abeec263.png)

@cc

[2020-03-12 05:23] SnehaAgrawal-MSFT commented on #49852
@smiller7812 Gald to know it helps. We will close this out but if you feel you need more information please just let us know.

[2020-03-12 05:23] #49852 closed

[2020-03-12 05:25] SnehaAgrawal-MSFT commented on #49867
@CeciAc Thanks for leveraging Azure docs feedback channel to raise this question!
This channel is reserved for ‘Azure docs’ feedback- document feedback & content improvements.

[2020-03-12 05:25] #49867 closed

[2020-03-12 05:29] ashish2rathi opened #50014 "Missing details for services.AddFeatureManagement() service"
I think this page should also contain the information required for to use AddFeatureManagement() service, that is about installation of Microsoft.FeatureManagement nuGet package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3af04-a314-24fd-6202-772aaa6

[2020-03-12 05:29] AshokPeddakotla-MSFT commented on #49722
Hello @ssljivar

If you encounter errors when building and pushing your module image, it often has to do with Docker configuration on your development machine. Use the following checks to review your configuration:

- Did you run the docker login command using the credentials that you copied from your container registry? These credentials are different than the ones that you use to sign in to Azur

[2020-03-12 05:34] ram-msft commented on #49992
@JonathanPalmerGD Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-12 05:35] SnehaAgrawal-MSFT commented on #49744
@cat-mucius Thanks again for the feedback! To add to this you may also want to look into below doc link might be helpful:
https://docs.microsoft.com/en-us/azure/app-service/environment/network-info

We will close this out but if you feel you need more information please just let us know.

[2020-03-12 05:35] #49744 closed

[2020-03-12 05:45] ohorvath commented on #49993
I'd like to create a cluster with three node pools, two standard pools and one spot node pool.  And then we can assign kubernetes pods to different pools using node labels. We use amazon EKS the same way to save cost in test/dev environments. That would be very beneficial on azure platform too.

[2020-03-12 05:50] jakaruna-MSFT commented on #49578
You can submit feedback in azure devops as well.

It would be easier to add "allow Azure devops" as one of the rule in Authorized ip ranges.

[2020-03-12 05:51] jakaruna-MSFT commented on #49578
I have added this thread for review with Product team

[2020-03-12 05:52] jakaruna-MSFT commented on #49668
@amunger
I will close this out for now. If you need additional help please open a new issue.

[2020-03-12 05:52] #49668 closed

[2020-03-12 05:53] jakaruna-MSFT commented on #49264
@kentmc did you had a chance to send a email

[2020-03-12 05:54] ChiragMishra-MSFT commented on #49626
@NordyDataGuy I will now proceed to close this issue. Feel free to still comment if you have any queries on the same.

[2020-03-12 05:54] #49626 closed

[2020-03-12 05:56] ohearcain opened #50015 "Availability test template add parameter for 'Content Match' success criteria"
Template for availability test along with a metric alert doesn't show parameter for the 'Content Match' checkbox or 'Content must contain'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a metric alert

[2020-03-12 05:58] subodh66 commented on #16469
Even Am also getting the same issue.

[2020-03-12 06:00] neeleshray-msft commented on #49984
@henriquebelotto Hope @yoelhor's reply helps you out. Let us know if you need further help.

[2020-03-12 06:01] dcbrown16 opened #50016 "CA vs client validity"
The 30 year validity described in the doc is apparently for the CA cert, while the client certs (I believe described in the line below) are only valid for 2 years.
"The kubectl client has a certificate for communicating with the AKS cluster."

In research for my current case I have run across at least 3 cases where this has caused confusion. Can we please update to make the difference clearer in t

[2020-03-12 06:02] neeleshray-msft commented on #49997
@cupacheeno Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 06:02] neeleshray-msft commented on #49999
@abatishchev Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 06:03] mansi-aggarwal-2504 opened #50017 "Locale in Speech SDK"
[Enter feedback here]
I am using the speech sdk to transcribe a Japanese audio but I am getting the result in English.
How and where do I specify the audio locale?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf
* Version Independent ID: 7d902f9e-4f56-30c9-4a39-7d800f92e088
* Content

[2020-03-12 06:03] neeleshray-msft commented on #50003
@danhlee329 Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 06:04] neeleshray-msft commented on #50007
@blouwagie Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-12 06:05] RohitMungi-MSFT commented on #49943
@ShakAttacked Yes, this feature is only available for the Speech SDK for C#, C++ and Java. We are checking internally to understand if there are any plans to implement the same for other SDKs and will update this thread as soon as we have more information.

[2020-03-12 06:05] #50017 closed

[2020-03-12 06:09] mansi-aggarwal-2504 commented on #50017
I used
   speech_config.speech_recognition_language="YourLocale"
and it worked!

[2020-03-12 06:09] arvind-dhariwal opened #50018 "Access issue of storage account from Sql data warehouse using access key"
I was following this page and was not able to create external table because here it is using access key for credential .
after using this page I was able to solve the issue - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview?toc=/azure/sql-data-warehouse/toc.json#impact-of-using-vnet-service-endpoints-with-azure-storage

ADLS Gen 2 and SQL data wa

[2020-03-12 06:11] RohitMungi-MSFT commented on #49980
@likebupt Thanks for sharing the document. @cap273 you can use these [steps ](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-storage-keys-powershell#enable-key-regeneration)to regenerate keys periodically with powershell. Using the REST API you can use these [steps ](https://docs.microsoft.com/en-us/rest/api/keyvault/regeneratestorageaccountkey/regeneratestorageaccountkey)afte

[2020-03-12 06:11] #49980 closed

[2020-03-12 06:22] ShakAttacked commented on #49943
Thank you.  It’s quite urgent please. Students will be studying from home as of next week and we want to help them study at home. Thank you so much.

Sent from my iPhone

[2020-03-12 06:29] souravmishra-msft commented on #49538
closing the thread for now

[2020-03-12 06:29] #49538 closed

[2020-03-12 06:32] BharathNimmala-MSFT commented on #49568
@doelpede Apologies for delay on this, I am working to get in contact with our internal product team associated to this feature to further investigate the issue. Will keep you updated as we make progress. Thank you

[2020-03-12 06:38] cmmdesai commented on #49555
@AmitavaHazra Yes, Workday to AD provisioning is completed without any license assignment to the user and there is no license check enforced even after we create the user in Azure AD. As HR inbound provisioning is a Azure AD P1 feature, we trust that from a business and license compliance perspective, enterprises will do the right thing and eventually assign the correct license (Azure ADP1/P2 or E

[2020-03-12 06:56] #49751 closed

[2020-03-12 06:57] ketan-chawda-msft commented on #49751
@Cesarfgc Thanks for reporting this issue. I have created a PR to update the document. The updates will be available to the document in next 24-48 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-12 07:01] RohitMungi-MSFT commented on #49989
@Nesyne Could you please let us know if you are using any specific quickstart doc or link when this behavior is seen to replicate the scenario?

[2020-03-12 07:01] BryanTrach-MSFT commented on #49557
@mikaelliljedahl @mattnewman125 @mt-cphmist-com We apologize for the frustration that you encountered. There indeed was a service impacting event that occurred in regards to the IP restrictions feature.

At this time, the event should be completely resolved. If you have further issues in regards to this matter, please reply and tag me so I receive an email alert.

The team is currently working on

[2020-03-12 07:01] #49557 closed

[2020-03-12 07:03] mike-urnun-msft commented on #49603
@nissan Could you elaborate on the "public sealed" remark? I have gone over the steps and ran the tests from the sample this documentation is based on: https://github.com/Azure-Samples/azure-functions-tests

All tests are passing and there doesn't appear to be any issues. Since we haven't found any issues, we will now proceed to keep this thread in a closed state for now. But feel free to elaborat

[2020-03-12 07:03] #49603 closed

[2020-03-12 07:07] mike-urnun-msft commented on #49610
@lucashuet93 Thanks again for your feedback! Upon our review, we are assigning this issue to the author to review further and take the right course of action.

[2020-03-12 07:09] femsulu commented on #49574
@dstampfli  - any update please?

[2020-03-12 07:12] mike-urnun-msft commented on #49784
@uranio-235 Since this channel is for driving improvements towards MS Docs and we haven't determined any faulty steps in this documentation from our review, we will now proceed to close this thread. If there are further questions regarding this matter, please engage the [existing issue](https://github.com/Azure/azure-functions-dotnet-extensions#29) where the Functions team and the rest of Function

[2020-03-12 07:12] #49784 closed

[2020-03-12 07:23] cmmdesai commented on #49859
@steele6599 to exclude contractors from getting processed and only process employees, you can set the scoping filter to [EmployeeID IS NOT NULL]. As EmployeeID attribute is set to NULL for contractors, they will not get processed.

[2020-03-12 07:26] #49985 closed

[2020-03-12 07:26] katomel4 commented on #49985
domain sync issue... solved

[2020-03-12 07:30] AmitavaHazra commented on #49555
@Cmmdesai, Thanks for clarification. We can conclude it that for workday to On Prem AD there is no individual license required. Only thins is we need to have Azure AD P1 tenant. And then if we want to use Azure AD p1 features then only we can apply P1 and above license to individual else we can skip and licensing. there will be no issue of provisioning without individual license.
Please confirm th

[2020-03-12 07:36] cmmdesai commented on #49793
@steele6599 you can do null check using the IsNull function and build your expression with [IIF](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/functions-for-customizing-application-data#iif). Also you don't need to multiple nested Joins. You can use a single join expression to combine all the address data fields, using the string "N/A" for empty values and then apply a r

[2020-03-12 07:51] synddd commented on #49036
I'm not the original author of this issue, but I have the same requirement and I don't think this has been answered.
The OP asked about using a keyvault secret in an environment variable not using a secret variable, though the solution may end up being related.

You have provided a link to how to use secret variables, but is there is a way of passing a keyvault secret to an environment variable pr

[2020-03-12 07:53] cmmdesai commented on #27320
This has been fixed. Worker_ID is the field reference in Workday XPATH API expressions, while WorkerID is how we reference it in the attribute mappings. #please-close.

[2020-03-12 07:53] #27320 closed

[2020-03-12 07:55] AmitavaHazra opened #50022 "Workday to AD provisioning custom attribute issue"
The Azure AD provisioning service supports the ability to customize your list or Workday attribute to include any attributes exposed in the Get_Workers operation of the Human Resources API.

- In one case we need workday attribute which is not available in Get_Workers menthod of Human Resource API from workday. How can we manage this case ? How to handle such technical constraints.
We need to sync

[2020-03-12 07:56] AmitavaHazra commented on #50022
Reference link:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#customizing-the-list-of-workday-user-attributes

[2020-03-12 08:02] jdocampo opened #50023 "Missing Request parameters"
In Databricks documentation for other clouds (https://docs.databricks.com/administration-guide/account-settings/audit-logs.html#request-parameters) there is a section for request parameters, that gives crucial information on which is the content of the logs.
I think there should be a section like that in this documentation. At least a list of the different operationNames for each event

---
#### D

[2020-03-12 08:03] Klaas- commented on #49961
Also it seems there is a 2nd list that is more current:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-imagelist
Maybe merge these? :)

[2020-03-12 08:06] cmmdesai commented on #49555
@AmitavaHazra Though there will be no issue with provisioning, you should not skip assigning the P1 license. To be compliant with the Azure AD license agreement, it is necessary that all users using P1 features are licensed. So you must eventually apply P1 license to all users you get from Workday into Azure AD.

[2020-03-12 08:11] Klaas- commented on #49961
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-imagelist
states that sku: 8 would be the equivalent to 7-LVM. That seems to be false.
sku: 8 is pointing to a 8.0 release
sku: 8.1 is pointing to a 8.1 release
whereas 7-LVM is pointing to the newest 7 minor version 7.7
[code]

[2020-03-12 08:15] GuidoTournois commented on #49855
Great!

[2020-03-12 08:21] VikasPullagura-MSFT commented on #50016
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-12 08:22] VikasPullagura-MSFT commented on #50016
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-03-12 08:27] PramodValavala-MSFT commented on #49834
@snesbitt76 Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-12 08:27] #49834 closed

[2020-03-12 08:29] femsulu commented on #49589
Hi @ketaanhshah  - Enabling queue properties (under Diagnostic settings) can be done manually via the via [Portal](https://docs.microsoft.com/en-us/azure/storage/common/storage-monitor-storage-account), and programmatically via the client library or [Set Queue service properties](https://docs.microsoft.com/en-us/rest/api/storageservices/set-queue-service-properties) REST API only.
Useful reference

[2020-03-12 08:30] femsulu commented on #49589
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-12 08:30] #49589 closed

[2020-03-12 08:35] CHEEKATLAPRADEEP-MSFT commented on #49889
@JamesDLD This point has already mentioned in the document.

![image](https://user-images.githubusercontent.com/44426401/76502527-29463780-646a-11ea-8031-c8db3661139e.png)

Hope this helps.

[2020-03-12 08:36] KrishnaG-MSFT commented on #50008
@niklarin Thanks for the feedback!
Assigning content owner @jpconnock for visibility, review and document enhancement consideration as appropriate.

[2020-03-12 08:37] maciek-polakowski commented on #49963
Ok maybe i did something wrong. Anyway no problem :)

czw., 12 mar 2020, 03:26 użytkownik Jonathan Gao <notifications@github.com>
napisał:

[2020-03-12 08:37] CHEEKATLAPRADEEP-MSFT commented on #49889
@JamesDLD  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-12 08:37] #49889 closed

[2020-03-12 08:38] BertelBB commented on #49940
@Karishma-Tiwari-MSFT I just wanted to give feedback, didn't mean to open an issue.
In the guide it is recommended to use the Helm3 approach. However, OCI is still experimental in Helm and hasn't been adopted by other libraries such as HelmOperator. So there really isn't any point in using OCI registries unless you are going to build some custom solution around it, which is not guaranteed to last

[2020-03-12 08:42] meraj-kashi opened #50024 "Configuration"
Hi,
Where can I find "eventHubName" and "Connection" values when I use Azure IoT Hubs?
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f46c6b7-dcdb-699e-635c-4d1f92f1e628
* Version Independent ID: e540bda0-7676-0e5a-5aca-5d0af203957a
* Content: [Azure IoT Hub bindings for Azure Functions](https://docs.microsoft

[2020-03-12 08:45] mihsoft commented on #49988
Thanks Ajay, I believe this feedback is relevant for the docs too. Presently the docs make no reference to needing to wait multiple hours for Regional VNET integration to become active.

[2020-03-12 08:48] AjayKumar-MSFT commented on #50009
@hungvotrung, Thanks for the question! We are investigating and will update you shortly.

[2020-03-12 08:49] CHEEKATLAPRADEEP-MSFT commented on #47762
@torbenboeck  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-12 08:49] #47762 closed

[2020-03-12 08:53] CHEEKATLAPRADEEP-MSFT commented on #43525
@knaidoo33 Mapping Data Flow follows an extract, load, transform (ELT) approach and works with staging datasets that are all in Azure. Currently the following datasets can be used in a source transformation:

- Azure Blob Storage (JSON, Avro, Text, Parquet)
- Azure Data Lake Storage Gen1 (JSON, Avro, Text, Parquet)
- Azure Data Lake Storage Gen2 (JSON, Avro, Text, Parquet)
- Azure Synapse Analytic

[2020-03-12 08:53] #43525 closed

[2020-03-12 08:55] AjayKumar-MSFT commented on #49988
I agree with you, I have looped the content author (/product owner) for the comments on the portal verbatim clarity & also to review further for any doc changes as appropriate.

[2020-03-12 08:55] gorano79 commented on #40331
I have the same problem. The issue disappeared after adding:
app.UseSwagger(o => o.SerializeAsV2 = true); in Startup.cs

[2020-03-12 09:03] ChrisSommers opened #50025 "Portal experience"
This article should be updated to state that this can also now be done in the Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a994dabc-b468-b3b3-91a4-c9db4af026bc
* Version Independent ID: e2f04ce5-20c4-d9f8-aaed-fce4f356dbd0
* Content: [Configure IP restriction WAF rule for Azure Front Door Service](https://doc

[2020-03-12 09:03] viswanadham-k commented on #49654
Sure @VikasPullagura-MSFT
Hi @t-leblanc
Why no heartbeat is detected?
Please find below reasons hopefully it will help you.
Reason 1: I hope WVD Agent installers not properly installed in your session hosts. So please check your session hosts properly installed.
Reason 2: If you are started VM's manually from azure in off peak hours, session hosts status will take some time.

Thanks,

[2020-03-12 09:06] AmitavaHazra commented on #49555
@cmmdesai, Again it is creating a bit confusion. I would like to know impact of not being compliant with Azure AD license agreement ? I do understand we can't use MFA and all without license but if we do not assign any license for few users in that case also our provisioning and update will work for non licensed user right ? Could you please highlight impact for not being compliant with Azure AD l

[2020-03-12 09:11] jakaruna-MSFT commented on #49079
@skynetrulz
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-12 09:12] maciek-polakowski commented on #49963
I was trying to do it using az cli, not PowerShell - and then got this
"location missing error". Maybe this is the reason you could not
replicate it

On Thu, 12 Mar 2020 at 09:36, Maciej Polakowski <maciek.polakowski@gmail.com>
wrote:

[2020-03-12 09:13] jakaruna-MSFT commented on #49079
@mlearned Please check and update the doc with an FAQ or a troubleshooting guide.

[2020-03-12 09:15] AshokPeddakotla-MSFT commented on #49650
@mms- Does that answers your question? Please let us know if you have further questions.

[2020-03-12 09:17] squasta opened #50026 "small typo : ExpressRotue instead of ExpressRoute"
just found a small typo : ExpressRotue instead of ExpressRoute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09d53f9-3818-3d8f-f477-bc04374163a4
* Version Independent ID: 320e34e4-54b3-0e0a-448a-473ac08499e8
* Content: [Network architecture of SAP HANA on Azure (Large Instances)](https://docs.microsoft.com/en-us/azur

[2020-03-12 09:18] CHEEKATLAPRADEEP-MSFT commented on #49042
@spelluru Could you please look into this issue?

[2020-03-12 09:19] CHEEKATLAPRADEEP-MSFT commented on #42167
@angellmethod Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/107434](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107434)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love t

[2020-03-12 09:19] #42167 closed

[2020-03-12 09:23] mark-szabo commented on #33157
We've found one of the causes of this error with the PG. If you had the Retention Period on the KeyVault set to something different than the default 90 days, AppGW was throwing this error message even if you had soft-delete enabled and all-network set as the accessibility. The update is rolling out currently to fix this bug.

[2020-03-12 09:25] Mobrockers opened #50027 "Hard delete does not work"
We have been trying to do a hard delete of a workspace to create a new one with that name in another resource group. This still results in a 409 conflict.

Situation:
resource group log-analytics-a
resource group log-analytics-b
log analytics log-analytics-to-recreate

Use DELETE on API to delete log-analytics-to-recreate in resource group log-analytics-a

Use az CLI to create new log analytics wi

[2020-03-12 09:30] mms- commented on #49650
Hi, yes it does, I guess the confusion at initial look came from the sample apps, the service client takes only ServiceConnectionString, MyDevice, localPortNumber as input and nothing to specify which stream on the local device this is actually going to connect to.

Looks like StreamName is meant to allow us to differentiate streams apart : https://github.com/BeringBullet/Azure-IOT-hub/blob/97baba

[2020-03-12 09:32] BhargaviAnnadevara-MSFT commented on #50014
@ashish2rathi Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-12 09:33] CHEEKATLAPRADEEP-MSFT commented on #44005
@ShubhaVijayasarathy Could you please review further and update the document as appropriate.

Could you please update the screenshot in this document: [Azure Event Hub - Create](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-create#create-an-event-hub)

![image](https://user-images.githubusercontent.com/44426401/76507064-23545480-6472-11ea-8f52-fc9ab0ca685d.png)

[2020-03-12 09:37] CHEEKATLAPRADEEP-MSFT commented on #47830
@CatchSandeepVaid We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-12 09:37] #47830 closed

[2020-03-12 09:42] CHEEKATLAPRADEEP-MSFT commented on #48942
@Samantha-Yu Is the SAS URI has updated?. The document still points to the old SAS URI. Could you please re-confirm?

![image](https://user-images.githubusercontent.com/44426401/76508090-db363180-6473-11ea-9e34-0bddb64dca0a.png)

[2020-03-12 09:44] RichardJDay commented on #49938
To confirm i'm sending the SAS of my container to train the model. Then I'm sending the SAS pf a file in the container to get the analysis result?

[2020-03-12 09:56] sujayvsarma commented on #49938
Which step of that document are you at? And, did you skip (or do differently) anything there?

[2020-03-12 09:57] CHEEKATLAPRADEEP-MSFT commented on #45892
@crisansou  The document seems to be correct.  I'm see the "Integration Runtime", when I click on settings menu.

![image](https://user-images.githubusercontent.com/44426401/76509346-e0947b80-6475-11ea-89c6-3d8a1dc0732a.png)

You may try the following steps and let us know.

- Clear “Cookies and Cached data” of your browser.
- Private Mode (New InPrivate Window).
- Try in different browser.

Hope

[2020-03-12 09:59] CHEEKATLAPRADEEP-MSFT commented on #46136
@mwc360  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-12 09:59] #46136 closed

[2020-03-12 10:01] Samantha-Yu commented on #48942
@CHEEKATLAPRADEEP-MSFT

Yes, both the SAS URL (https://storagewithdata.blob.core.windows.net/data?sv=2018-03-28&si=read%20and%20list&sr=c&sig=PuyyS6%2FKdB2JxcZN0kPlmHSBlD8uIKyzhBWmWzznkBw%3D) and screenshots in the article have been refreshed recently.The SAS URL works fine in the test.

[2020-03-12 10:08] amir-microsoft opened #50028 "Throttling counter value"
How can I trace the Throttling counter value during inbound  policy processing?
I would like to be able to constantly monitor the value of the counter and not just throttle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64c31f4-ee3f-1482-14a8-3585ff5ef2de
* Version Independent ID: 8e50e224-bfd8-061c-3203-4d19016d16dd

[2020-03-12 10:10] Clen10 opened #50029 "Face API need support for base64 string or Local File URL or Native File URL instead of Image URL"
**Existing One:**
- Need to capture image and then send it to web server to make it as URL
- After that need to get generated URL and send it to `FACE DETECT API` to generate `FACE ID`
- On successful attempt we will get a `FACE ID` for the uploaded image in response
- Then need to call `FACE VERIFY API` with two `FACE ID 'S` (Already Stored `FACE ID`,`FACE ID` from response) for verification
- On

[2020-03-12 10:13] mtiwa1983 opened #50030 "Error Code 3208 undocumented"
Hi,
Two ADF pipelines failed for AzureDataricks Notebook activity ths morning, please find below the error details. I could not find any documentation for error 3208 though.
Error
Troubleshoot activity failures
{
    "errorCode": "3208",
    "message": "Time out to retry.",
    "failureType": "UserError",
    "target": "External Promotions",
    "details": []
}

---
#### Document Details

⚠ *Do no

[2020-03-12 10:20] KrishnaG-MSFT commented on #50015
@ohearcain Thanks for the comment. It does show parameter for the 'Content Match' checkbox or 'Content must contain' under Configuration WebTest part i.e.,

![image](https://user-images.githubusercontent.com/45988031/76511025-8812ad80-6478-11ea-9253-344be902667e.png)

For better readability, below is the breakdown way of showing it in which highlighted part is the place which represents the value

[2020-03-12 10:21] juanand opened #50031 "Breaking changes tracking"
Hi,
Potentially breaking changes like *.cdn.mscr.io been replaced by *.data.mcr.microsoft.com should be included in https://azure.microsoft.com/en-us/updates/ RSS feed, so customers don't have to deep dive into each individual product documentation periodically and weak up one day to find something got broken.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-03-12 10:21] ketan-chawda-msft commented on #50024
@meraj-kashi Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-12 10:29] DixitArora-MSFT commented on #50028
@vladvino Any inputs in this ?

[2020-03-12 10:30] #50024 closed

[2020-03-12 10:35] scottclarke1 opened #50033 "Errors with PowerShell Changes"
Hey Guys
When using the new PowerShell cmdlets; the following error is being generated despite PIM being onboarded in the tenant;

Error occurred while executing GetAzureADMSPrivilegedResources
Code: UnauthorizedAccessException
Message: The tenant has not onboarded to PIM.
InnerError:
  RequestId: 18aa7a27-9d37-45bb-bdee-aaabf9737e0d
  DateTimeStamp: Thu, 12 Mar 2020 10:20:17 GMT

Seems to be a co

[2020-03-12 10:35] KrishnaG-MSFT commented on #50010
@dcbrown16 Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-12 10:36] KrishnaG-MSFT commented on #50004
@sashizaki Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-12 10:37] BhargaviAnnadevara-MSFT commented on #50014
@ashish2rathi I believe the following section in the beginning of the tutorial should provide that information:

![image](https://user-images.githubusercontent.com/44050820/76512034-09b70b00-647a-11ea-861a-c08237713d7f.png)

[Add feature flags to an ASP.NET Core app Quickstart](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core?tabs=core2x#connect-to

[2020-03-12 10:38] pmia opened #50034 "The screenshot and description on this page is incorrect"
The screenshot and description on this page is incorrect. It refers to the older version of the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb3e4b3-be5b-87f7-7d83-d62e98ccde78
* Version Independent ID: fc9e170a-2fbd-5cec-dde0-2a71226d28fe
* Content: [Find help and open a support ticket - Azure Active

[2020-03-12 10:43] BhargaviAnnadevara-MSFT commented on #49901
@abelsquidhead Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-12 10:44] mikaufma opened #50035 "Intro refers to HANA 1.0 SP12 only"
"This guide helps you set up a single-instance SAP HANA on Azure Virtual Machines when you install SAP NetWeaver 7.5 and SAP HANA 1.0 SP12 manually. "
Should this not be valid for all HANA versions beginning from HANA 1.0 SP12?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b6c953-e54f-5605-d377-2ccf6cb4fb2f
* Versio

[2020-03-12 10:45] DixitArora-MSFT commented on #49876
@divyaswarnkar  Any inputs in this ?

[2020-03-12 10:49] ChiragMishra-MSFT commented on #50023
@jdocampo Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

@mamccrea Can you please take a look at this and update as appropriate ?

[2020-03-12 10:50] DixitArora-MSFT commented on #49849
@johnkostyrka While functions supports having a managed identity, the event hub binding doesn't support it yet.

There is a [feature request](https://feedback.azure.com/forums/355860-azure-functions/suggestions/37907848-support-for-azure-managed-service-identities-in-ev) which you could up vote for it to gain traction. Also, there are a couple of similar issues raised on the [azure-webjobs-sdk rep

[2020-03-12 10:54] ncarandini commented on #31396
Please reopen, the issue is not resolved.

[2020-03-12 10:58] CHEEKATLAPRADEEP-MSFT commented on #50030
@mtiwa1983  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-03-12 10:58] mikaufma opened #50036 "Deploy a complete installed SAP HANA platform on the Azure VM services through the SAP Cloud platform"
"You also can deploy a complete installed SAP HANA platform on the Azure VM services through the SAP Cloud platform."
This should be called "SAP Cloud Application Library" not SCP!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98b3d8f3-4639-aa5f-d0ca-9a41170dd0cf
* Version Independent ID: 3ce38d97-3717-9e25-2082-f6597

[2020-03-12 11:03] BhargaviAnnadevara-MSFT commented on #50006
@gitmadness Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-12 11:11] bbojilov opened #50037 "Allow Azure services to access server"
Hi,
in the article, you explain "Allow Azure services to access server" applies for all resources inside the Azure boundary, that may or may not be part of your subscription. From the other side in the embedded video they explain that this is gives access to any resource within your own subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-03-12 11:14] #49147 closed

[2020-03-12 11:16] BryanTrach-MSFT commented on #49147
@fhlmbrg We have gone ahead and added a note to the doc calling out the limit. The change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-12 11:26] qusp66 opened #50038 "Incorrect, incomplete information"
A leaf device that authenticates to IoT Hub DOES NOT have a SharedAccessKey. How to form the connection string then? Should it be HostName=myGatewayDevice;DeviceId=myDownstreamDevice;x509=true ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3512ec24-1146-0dc8-4529-80d4770e1ec2
* Version Independent ID: 8abd57ee-a785-4

[2020-03-12 11:30] SumanthMarigowda-MSFT commented on #49757
@normesta Please add your comments

[2020-03-12 11:46] smoms opened #50039 "Why is Enterprise Integration Pack (EIP) only available for VS2015?"
Why is Enterprise Integration Pack (EIP) only available for VS2015? What about VS2019? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fc9dfa-fedf-01d9-1d60-6819d03a4c91
* Version Independent ID: 06cc4136-19d4-9786-708b-80699c259c2f
* Content: [B2B enterprise integration - Azure Logic Apps](https://docs.microso

[2020-03-12 11:48] SumanthMarigowda-MSFT commented on #49931
@mikewillodea Azure Files AD authentication (preview) is available in [most public regions](https://azure.microsoft.com/en-gb/global-infrastructure/regions/).
Azure Files AD authentication is not available in:

West US
West US 2
East US
East US 2
West Europe
North Europe

You may also refer to the suggestions mentioned in the [link ](https://social.msdn.microsoft.com/Forums/en-US/0b8eee48-b93a-431

[2020-03-12 11:51] SumanthMarigowda-MSFT commented on #49945
@oerpli As per the release note we recommend to use the latest version Azure Storage explorer!
If you find any issues, please let us know

[2020-03-12 11:55] SumanthMarigowda-MSFT commented on #49973
@CeciAc Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-03-12 12:00] JasonBSteele opened #50040 "Effect on change feed of exceeding provisioned throughput?"
"You are charged for RUs consumed, since data movement in and out of Cosmos containers always consumes RUs. You are charged for RUs consumed by the lease container."
Assuming that my container is billed as "manually provisioned throughput" and therefore will not automatically scale, what happens to the change feed if I exceed the provisioned RU/s?

---
#### Document Details

⚠ *Do not edit this se

[2020-03-12 12:08] CHEEKATLAPRADEEP-MSFT commented on #48942
@Samantha-Yu Thanks for the update.

[2020-03-12 12:08] robcamer commented on #49749
Hi AJay, Thanks for taking a look.  I would love to get this working soon as it's a major blocker for me right now.  Thanks!

[2020-03-12 12:22] VikasPullagura-MSFT commented on #50026
@squasta Thanks for the Feedback. The doc is updated and the changes will go live soon.

[2020-03-12 12:23] VikasPullagura-MSFT commented on #50031
@juanand
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-12 12:24] VikasPullagura-MSFT commented on #50031
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-03-12 12:24] ashish2rathi commented on #50014
I think that will be fine, but sometime we skip going through such links which takes you into some other context. I mentioned this point because it has taken some time from my end to figure it out why service.AddFeatureManagement() was not resolved by compiler.
Thanks for your quick response.

[2020-03-12 12:24] yelevin commented on #48918
This has been updated in the document.

[2020-03-12 12:29] VikasPullagura-MSFT commented on #50035
@mikaufma
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-12 12:29] VikasPullagura-MSFT commented on #50035
@hermanndms
Can you please check and add your comments on this doc update request as applicable.