[2019-03-19 16:20] tknerr commented on #18737
@TravisCragg-MSFT same issue here, I was not able to configure the proper NSG rule that satisfies the rule check on AzureRM deployment.

No matter how open I make the NSG rule, deployment always fails with this error:

[code]

I tried all of these variations, but the deployment always fails due to the above rule check:

with explicit service tag 'Internet' for source / 'VirtualNetwork' for destina

[2019-03-19 16:22] sergaz-msft commented on #18716
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 16:22] #18716 closed

[2019-03-19 16:22] sergaz-msft commented on #13986
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 16:22] #13986 closed

[2019-03-19 16:22] sergaz-msft commented on #13978
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 16:22] #13978 closed

[2019-03-19 16:22] CarlRabeler commented on #26541
@A144546 Thanks for reporting this. Have you tried using the -Name argument rather than the -DnsAliasName argument?
We will be fixing the example....
@KalyanChanumolu-MSFT please assign to me @CarlRabeler

[2019-03-19 16:23] #27362 closed

[2019-03-19 16:23] CarlRabeler commented on #22508
@srdan-bozovic-msft have you updated the image?

[2019-03-19 16:24] tknerr commented on #18737
**UPDATE:** it finally worked with using "Any" destination (which is way too open):

![image](https://user-images.githubusercontent.com/365744/54623310-90a1f500-4a6b-11e9-8b8d-23f6f5eaa515.png)

Now I' struggling with the next validation error for the outbound rule...

@TravisCragg-MSFT regarding the docs, it would be helpful if the concrete rules that need to be added would be documented (for sur

[2019-03-19 16:24] Mike-Ubezzi-MSFT commented on #26262
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 16:24] #26262 closed

[2019-03-19 16:24] CarlRabeler commented on #24546
@srdan-bozovic-msft please review

[2019-03-19 16:25] CarlRabeler commented on #25774
@srdan-bozovic-msft please review and update

[2019-03-19 16:25] Mike-Ubezzi-MSFT commented on #27335
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 16:25] #27335 closed

[2019-03-19 16:26] CarlRabeler commented on #22943
@stevestein for awareness and visibility

[2019-03-19 16:27] CarlRabeler commented on #24805
@VanMSFT for visibility and awareness

[2019-03-19 16:28] CarlRabeler commented on #24440
@KalyanChanumolu-MSFT @Mike-Ubezzi-MSFT please assign to @VanMSFT

[2019-03-19 16:30] SaurabhSharma-MSFT commented on #27520
@k3vnj To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-19 16:31] CarlRabeler commented on #27472
@craigg-msft for your awareness and visibility

[2019-03-19 16:33] k3vnj commented on #27520
Hi yes [https://docs.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions]

[2019-03-19 16:33] VanMSFT commented on #25302
Following up with @GithubMirek

[2019-03-19 16:33] m60freeman commented on #25415
I still see nothing that addresses this issue with regard to the DTU model other than "these items could be managed by the service and not necessarily static limits", which doesn't really tell me anything. Isn't there any more information available and that could be added to this page?

[2019-03-19 16:34] Mattp123 commented on #22570
@boltlol
@ecfan
Checking with the program manager of the feature to confirm if the CSH solution is a prerequisite.

[2019-03-19 16:36] SaurabhSharma-MSFT commented on #27512
@georgiikon Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-19 16:38] SaurabhSharma-MSFT commented on #27504
@sawansharma005 To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-19 16:38] chwilfing opened #27535 "Hero Card Sample not working"
The Sample provided for a hero card is no longer working. Errors out with

HTTP/1.1 400 Bad Request
Summary or Text is required.

even if summary and text is provided

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d517a095e93
* Version Independent ID: 51b5ddf3-109d-4f9e-5d2d-afe7d46dab42
* Cont

[2019-03-19 16:38] Mike-Ubezzi-MSFT commented on #27477
@MashaMSFT @anosov1960
Agree that this needs additional review but, at least the doc could suggest a 3rd option using T-SQL, with the below T-SQL example stressing the `FAILOVER` and `FORCE_FAILOVER_ALLOW_DATA_LOSS` options.

![Screenshot (316)](https://user-images.githubusercontent.com/37126106/54624335-6aa83080-4a2a-11e9-8583-86f2ef277efc.png)

`-- Azure SQL Database Syntax
ALTER DATABASE { data

[2019-03-19 16:39] chwilfing commented on #27535
sorry, wrong window, wrong text

[2019-03-19 16:39] #27535 closed

[2019-03-19 16:39] VanMSFT commented on #26860
@anosov1960 - Hey Sasha, can you please confirm the same permissions for Point in Time restore in SQL DB as this doc: https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/restore-a-sql-server-database-to-a-point-in-time-full-recovery-model?view=sql-server-2017#Permissions

Thanks!

[2019-03-19 16:41] ghahm opened #27536 "It's different between Azure portal and 'Use the Azure portal' in this page."
There is no required field - 'user-assigned managed identity' in Use the Azure portal part of this page.
But I have to input user-assigned managed identity when I create HDInsight cluster with Azure Data Lake Storage Gen2 now.
Sometimes I have experienced out of date contents of HDInsight.
Especially contents related to Azure Active Directory.
It's too difficult for users new to Active Directory b

[2019-03-19 16:41] smoms commented on #27313
@sergaz-msft thanks, I need few clarifications though.
Are you saying that at moment the way to make it work (i.e. to assign devices to a specific Edge) is to use Edge Modules (and Edge Module Twins) and NOT leaf devices, right?
Also, if this is the case the use of DPS  to provision and assign (leaf) device to specific GW is not possible/supported, right?

thanks.

[2019-03-19 16:42] tFable commented on #16501
@rayne-wiselman can you please reopen this case?

Hello @tjvishnu ,

Now that we are heading towards the end of March, is there any word on how much Azure Backup for Azure Files will cost?

Also, any word on when Azure Backup for Azure Files will actually transfer files to a vault instead of simply managing snapshots that reside within the storage account?

Also, any word on when Azure Backup for

[2019-03-19 16:43] #27214 closed

[2019-03-19 16:43] VanMSFT commented on #24440
@vainolo - Hi Arieh, can you please help update the link or remove it? Thanks!

[2019-03-19 16:44] georgewallace commented on #12741
@snerting This type of feedback needs to be done on User Voice.. Please go to [Product Feedback](https://feedback.azure.com/forums/216843-virtual-machine) to provide this type of request.

[2019-03-19 16:45] TomArcherMsft commented on #19006
@qoricode Apologies for taking so long to get to this! I just ran the steps and everything worked as documented. Are you still seeing the problem when you create a new project and attempt to build it?

[2019-03-19 16:45] georgewallace commented on #26351
@EdwinGomes Your change is live! Thanks again for your commitment to our documentation. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-19 16:46] SaurabhSharma-MSFT commented on #27505
@kiranjshetty To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-19 16:48] georgewallace commented on #18239
@ejacobsen-glofin The modules doc was created.  Sorry for the delay, there was many competing priorities.. You can see the new modules doc at [Manage Modules in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules). Please don't hesitate to open an issue on that article if you have any other questions. @MicrosoftDocs/azure-cxp-triage  #please-close

[2019-03-19 16:49] BryanTrach-MSFT commented on #27513
@santifdezmunoz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@cephalin Assigning this to you since the PR requires author approval.

[2019-03-19 16:49] bdschaap opened #27537 "More Documentation Needed on Dashboard ARM Templates"
More documentation is needed for Dashboard ARM templates.  Specifically the various charting elements and options for each.  Examples include but are not limited to the valid values for axisType, aggregation, chartType, position, metricAggregation, timeBrushEnable, v2charts, format, granulatity, relative, colSpan, rowSpan, filteredPartIds, and displayCache.

---
#### Document Details

⚠ *Do not ed

[2019-03-19 16:50] shashishailaj commented on #27502
@jesspent I hope you mean Azur eAD powershell rather than Azure Powershell module. The azure AD Powershell currently has Get-AzureADUser cmdlet and its output does not contain StrongAuthenticationMethods parameter due to which , MFA reporting is supposed to be done by Get-MsolUser cmdlet and hence its mentioned in the article.

In case you meant Azure powershell , we still have Azure AD module sep

[2019-03-19 16:50] ejacobsen-glofin commented on #18239
Totally understand George, thank you for getting back to me. I'll consult the documentation for any further questions.

Erik
________________________________
From: George Wallace <notifications@github.com>
Sent: Tuesday, March 19, 2019 12:48 PM
To: MicrosoftDocs/azure-docs
Cc: Erik Jacobsen; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How do you upload a module? (#18239)

@ejacobsen-glofin<htt

[2019-03-19 16:52] BryanTrach-MSFT commented on #27509
@shlemonz Thanks for the feedback! After reviewing the feedback, we agree this needs further attention. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 16:56] VanMSFT commented on #27471
@sqlazure - Thanks for the great feedback! We will take this as an internal task, and review the additions needed. I agree with your assessment, and will add a link for auditing to the index page shortly. Thanks!

#please-close

[2019-03-19 16:56] MicahMcKittrick-MSFT commented on #27514
@tysonn assigning this test issue to you.

[2019-03-19 16:56] MicahMcKittrick-MSFT commented on #27523
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 16:57] MicahMcKittrick-MSFT commented on #27521
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 16:57] shashishailaj commented on #27506
@kiranjshetty Thank you for your feedback . We will investigate and update further.

[2019-03-19 17:02] SaurabhSharma-MSFT commented on #27517
@reutann Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-19 17:13] mattyweb commented on #26454
also, it looks like the link for the example repository doesn't work: https://github.com/Azure-App-Service/node/blob/master/6.9.3/

i've searched for it on GitHub but came up empty...

[2019-03-19 17:13] #27355 closed

[2019-03-19 17:14] dlepow commented on #27183
@robertdj - Thanks for the question. My understanding is the same as yours that the [az acr task create](https://docs.microsoft.com/en-us/cli/azure/acr/task?view=azure-cli-latest#az-acr-task-create) command should allow you to pass in a custom values file path from your repo (relative to source context). @sajayantony - Can you please confirm or perhaps you see something else obvious in this custom

[2019-03-19 17:24] KingdomOfEnds commented on #27526
Hi! Ran into a similar issue myself. I was able to manually create the VM and configure my device (I've removed the one I was using for security reasons so the connection key is no longer being used in the supplied picture). However, when I check to see the status using the  `sudo systemctl status iotedge` I get something very similar to the OP.

![Error](https://user-images.githubusercontent.com/

[2019-03-19 17:28] cicorias commented on #27526
I'm guessing your parm is being truncated as it needs to be quoted (double should work.)

At this point ssh into the device/instance and run the diagnostic commands like
[code]

The journalctl showed the core issue for me - in that the SharedAccessKey value was truncated. It's probably visible in the `/etc/iotedge/config.yaml` too

[2019-03-19 17:29] SaurabhSharma-MSFT commented on #27178
@jaypatrick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-19 17:29] #27178 closed

[2019-03-19 17:31] SaurabhSharma-MSFT commented on #27503
@arjantent

[2019-03-19 17:32] Karishma-Tiwari-MSFT commented on #27027
@cynthn @jonbeck7 Did you get a chance to take a look at this one? Need confirmation on which one is correct and update the doc accordingly.

[2019-03-19 17:33] KingdomOfEnds commented on #27526
Ah, my apologies. I see now what you were referring too.

![Fix](https://user-images.githubusercontent.com/43044425/54628222-52d4aa80-4a32-11e9-844c-838e98b2028d.PNG)

So, if I understand correctly, the config bash script doesn't pass the connection string in correctly into the configuration file? If so, is there a timeline on that fix? Many thanks!

[2019-03-19 17:35] roygara commented on #18086
@KeiroKamioka0000 Yes, I actually got an answer just yesterday, sorry about the delay. These are the total number of disks that can be created per subscription per region. I'm working on a doc change to make that more apparent.

I hope that helps.

[2019-03-19 17:36] Karishma-Tiwari-MSFT commented on #27043
@cynthn @roygara Can either of you please help clarify the statement on the export action for managed disks?

[2019-03-19 17:39] roygara commented on #27478
@rothja @KeiroKamioka0000 Yes I do, the current default limit is 25,000 managed disks which can be created per region per subscription.

[2019-03-19 17:40] KingdomOfEnds commented on #27526
OK - resolved the problem with your examples above. First, double-quotes are mandatory. Second, I actually created a standard IoT device and not an Edge one. Doing both fixed my issue. Hope that helps the OP as well. Thanks again!

[2019-03-19 17:41] #18350 closed

[2019-03-19 17:41] mmolaro commented on #24341
Following up on this issue. I don't see ABFS support mentioned in official hadoop documentation yet.

[2019-03-19 17:44] kgremban commented on #27179
@smoms since the answer that Alberto provided was in the document text, I added language to the graphic to help clarify that docker works, but is not recommended for production. Please take another look and let me know if this is more clear. Thanks!

[2019-03-19 17:45] Karishma-Tiwari-MSFT commented on #27358
@hahazeMSFT Can you please elaborate a little more on the issue you are seeing with the command in the doc?

[2019-03-19 17:55] MashaMSFT commented on #26755
Hi @KeiroKamioka0000 , thanks for bringing this to our attention! Let me research a bit. Thanks!

[2019-03-19 18:01] cicorias commented on #27526
yea, that `--edge-enabled` flag will get you :)

[2019-03-19 18:01] TomArcherMsft commented on #18894
@daniel-rocha I apologize for not following up on this. For some reason, I thought this Issue had been closed. I'll work on this and update the article and this Issue.

[2019-03-19 18:01] nkwolf opened #27540 "Is this information still up to date? We could use existing app registration without creating a brand new one."
"At this time, you won't be able to use any existing apps you may have with Azure AD or MSA - you'll need to create a brand new one."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18882e74-1275-a04f-cd7a-9fa170e6b853
* Version Independent ID: decf2e12-59ba-2707-53cb-adb72a781987
* Content: [Register an app with the Az

[2019-03-19 18:02] CarlRabeler commented on #25415
Documentation as it stands on this subject is here:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-resource-limits-database-server#transaction-log-rate-governance

And resources by tier here:

vCore Model: Azure SQL Database vCore-based purchasing model limits for a single database
DTU Model: Resource limits for single databases using the DTU-based purchasing model

[2019-03-19 18:05] tamram commented on #25290
@seanalexander - Please see [Azure Files scalability and performance targets](https://docs.microsoft.com/azure/storage/files/storage-files-scale-targets#azure-files-scale-targets) for the most up to date information on targets. The 60 MiB/s value is still accurate for standard file shares, but it is higher for [premium file shares](https://azure.microsoft.com/blog/premium-files-pushes-azure-files-

[2019-03-19 18:05] tamram commented on #25290
#please-close

[2019-03-19 18:15] YutongTie-MSFT commented on #27510
@thecpshah
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 18:17] mikeclymer opened #27541 "Is there a way to get the result / response of the create document operation?"
The example here shows the binding for storing a document, which will create the document if new. The Cosmos DB API docs show that a response is returned when the 'Create Document' operation is invoked https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-document#response

The code examples assume a successful operation, if no errors are detected. Is there way to get the actual results / r

[2019-03-19 18:18] romankiss commented on #22798
Hi Antonio & Reza,

Any progress on the issue of the concurrency for active multiple modules within the device?

Thanks
Roman

[2019-03-19 18:22] jaysterp commented on #27183
@robertdj Thank you for the question. Right now we only support using a values YAML file if the task is created with a YAML file. Therefore, your `values.yaml` is not compatible with `Dockerfile`. To work around this can you please rewrite task in YAML and try again?

If there is a reason why you do not want to use a task YAML file please let us know and we would be happy to create a feature reque

[2019-03-19 18:31] Mike-Ubezzi-MSFT commented on #27507
@atomek1000 This has been addressed and will be published soon. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 18:31] #27507 closed

[2019-03-19 18:47] MicahMcKittrick-MSFT commented on #27183
Thanks @dlepow @jaysterp ! That makes sense as to why we were seeing issues.

I will let @robertdj reply further :)

[2019-03-19 18:47] robertdj commented on #27183
@jaysterp : I'll try to rewrite the task using YAML.

I like the idea of YAML tasks and how it allows me to put it under version control along with the code.
But I find it easier to create and read a task with the "drag & drop" approach.

[2019-03-19 18:52] kgremban commented on #27519
Hi @cicorias, thanks for the suggestions. That's a neat trick which does remove the need for people to know what release version they're running. However, I'm not sure that's something that we want to automate. Right now we only support 16.04 and 18.04. What if someone is running an old version, or a new version gets released before we have support set up for it? I think it's easier to tell reader

[2019-03-19 18:58] Rabbit994 opened #27542 "All root Az module Reference pages are 404"
When clicking on any of root module links (Examples, list not exhaustive):
https://docs.microsoft.com/en-us/powershell/module/az.automation
https://docs.microsoft.com/en-us/powershell/module/az.datafactory
https://docs.microsoft.com/en-us/powershell/module/az.accounts

You get 404 error instead of index of cmdlets or overview of what module entails. 404 error is very jarring because you lose acces

[2019-03-19 18:58] sajayantony commented on #27183
@robertdj - Here is a sample. https://github.com/sajayantony/task-sample-with-values

[2019-03-19 19:00] kgremban commented on #27525
@cicorias Good catch. In the Azure IoT CLI extension version 0.6.0, the output was "cs" but they updated to 0.7.0 about two weeks ago and changed that to "connectionString". I'll make the updates to the articles today to match.

[2019-03-19 19:01] hahazeMSFT commented on #27358
@Karishma-Tiwari-MSFT the command does not convert `publicsettings`.

'$encodedconfig = (ConvertFrom-Json -InputObject $publicsettings).xmlCfg'

[2019-03-19 19:02] Karishma-Tiwari-MSFT commented on #27374
@omerlh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 19:03] Karishma-Tiwari-MSFT commented on #27358
Thanks @hahazeMSFT
@sbtron Can you please share your insights on this one? Thanks. :)

[2019-03-19 19:08] abrahamfs11 commented on #22871
Hello guys, what happens if I have 2 app services using SSL 443. But I can only have a listener over 443. There's any solution for this problem?

[2019-03-19 19:08] Grace-MacJones-MSFT commented on #26351
We will now proceed to close this thread.

[2019-03-19 19:08] #26351 closed

[2019-03-19 19:12] craigshoemaker commented on #22997
@jackhorton, @PramodValavala-MSFT, and @anirudhgarg the [docs is now updated](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#trigger---hostjson-properties)

#please-close

[2019-03-19 19:13] TitanDevopsTeam opened #27545 "Your team needs to clarify a few steps not on the Quick Start"
Today I tried to use this Quick Start: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal

There are a few steps missing from this document that made the process confusing, unclear and made me take 3 times the amount it should have taken me. The source of the issues:

1)Your team does not have updated screenshots
2)Your team has not updated the necessary steps that

[2019-03-19 19:22] BhargaviAnnadevara-MSFT commented on #27516
@harelbr Thanks for the information!

@seandonovancvx In addition to @harelbr's comment above, I would also like to echo that this change would be applicable to **both** Smart Detection rules that already exist as of today, as well as to those provisioned for newer Application Insights resources.

Hence, you will need to configure the _Monitoring Reader_ and _Monitoring Contributor_ roles in the s

[2019-03-19 19:22] shashishailaj commented on #27511
@peterzdovc Thank you for your contribution. we will investigate and update the thread further.

[2019-03-19 19:23] MicahMcKittrick-MSFT commented on #27545
Thanks for reaching out @TitanDevopsTeam

I ran through the doc as well and I can see what you mean, Seems now you select Windows Server image and then select the actual version and a few other minor changes have happened. Thank you for the video by the way. It was perfect :)

![image](https://user-images.githubusercontent.com/32313503/54635425-57548f80-4a41-11e9-867c-7c11076c1862.png)

![image](h

[2019-03-19 19:25] #18838 closed

[2019-03-19 19:25] #27471 closed

[2019-03-19 19:25] #26036 closed

[2019-03-19 19:25] murdockcrc commented on #26870
So the way I understand this conversation, without using the C client SDK, one would need to manually craft the AMQP/MQTT messages to add those properties. That's going too deep into the transport protocols for our liking, so we'll prefer to wait until the C# client SDK are ready to implement this feature.

For now, as mentioned by @francisco-ltech already, the title of the docs is misleading and

[2019-03-19 19:26] #22793 closed

[2019-03-19 19:26] #18239 closed

[2019-03-19 19:26] #26707 closed

[2019-03-19 19:26] #23264 closed

[2019-03-19 19:30] seandonovancvx commented on #27516
@BhargaviAnnadevara-MSFT It is clear to me now. Thanks!

[2019-03-19 19:34] TitanDevopsTeam commented on #27545
Thank you for your quick response.

[2019-03-19 19:38] smoms commented on #27179
@kgremban thanks!

[2019-03-19 19:38] cynthn commented on #27545
@TitanDevopsTeam After clicking **Create a resource**, I've updated the topic to point to the "Popular"  section and select **Windows Server 2016 Datacenter** as a more direct route than trying to search for the correct OS and version. You can also go here: https://ms.portal.azure.com/#create/Microsoft.WindowsServer2016Datacenter-ARM and leave the defaults on that first page, but using the "Popula

[2019-03-19 19:45] TravisCragg-MSFT commented on #18063
@PhaLeSha try to use "Microsoft.Network/virtualNetworks/subnets/joinViaServiceEndpoint/action". Keep in mind that this issue will prevent anyone you give that permission to from actually adding a Service Endpoint with the portal, they can still use PowerShell or the CLI.

[2019-03-19 19:46] robertdj commented on #27183
It's working with the YAML task.

Thanks a lot!

[2019-03-19 19:46] #27183 closed

[2019-03-19 19:48] TitanDevopsTeam commented on #27545
@cynthn 2:43 - 3:30 of my video shows that in order for me to complete your Quick Start I have to create\assign a storage account under Create a virtual machine>Management. This is not mentioned in the Quick Start. Please advise when possible on how your team is going to resolve.

[2019-03-19 19:54] v-miclar commented on #16498
#please-close
Thank you for the feedback.  I am currently updating this topic and this correction should be published in the next doc update.

[2019-03-19 19:54] v-miclar commented on #16499
#please-close
Thank you for the feedback.  I am currently updating this topic and this correction should be published in the next doc update.

[2019-03-19 19:55] Adam-Smith-MSFT commented on #27536
@ghahm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-19 19:56] shizn commented on #27377
@erich-wang  please help take care of this issue.

[2019-03-19 19:58] vladvino commented on #27310
Added -
https://github.com/MicrosoftDocs/azure-docs-pr/pull/70117/commits/08266bb0ba74030ee9b212f4b6cb804ee44fa152. #please-close

[2019-03-19 19:59] vladvino commented on #7971
This is a feature request and should be submitted on https://aka.ms/apimwish. #please-close

[2019-03-19 20:02] vladvino commented on #8244
Support for expressions in validate-jwt>openid-config.url was added and will be coming in the next release in a few weeks. #please-close

[2019-03-19 20:03] cynthn commented on #27545
@TitanDevopsTeam Ah, okay. The storage account part will be trickier. I've never actually seen an account that doesn't already have a storage account (mostly because they are created when you use other services like Cloud Shell, so there is usually one there to automatically use as the default).

I'll need to think about whether to walk folks through creating the storage account or have folks turn

[2019-03-19 20:10] MicahMcKittrick-MSFT commented on #27224
Adding some info for others who find this.

The doc works exactly as written. However, if you do not have admin access to your AAD Tenant then you might have issues such as some users find. For example, as an MSFT employee you do not have access to the MSFT AAD and hence, need to create the SP with az ad sp create-for-rbac --skip-assignment and specify with az aks create --service-principal --clie

[2019-03-19 20:20] francisco-merizalde opened #27548 "Azure Functions Not Listed as an Activity"
Please document Azure Functions as activities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID: c1f105f2-3faa-3aca-7365-02ffeaae6d0a
* Content: [Pipelines and activities in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipel

[2019-03-19 20:38] mrohera commented on #13986
Sorry for dropping the ball on this issue. I think this will make a nice addition to the Troubleshooting FAQ. @kgremban can you put this together?

[2019-03-19 20:42] tamram commented on #15019
@khanasif1 - If your primary fails in a region where account failover is not supported, you'll be relying on Microsoft to handle the failover for you.

Note that account failover is currently in preview, so we don't recommend that anyone rely on it yet for production workloads.

[2019-03-19 20:49] omnipresentminded commented on #23789
+1 here as well,

[2019-03-19 20:50] MashaMSFT commented on #26755
Hi @KeiroKamioka0000, the [support.microsoft.com](https://support.microsoft.com/en-us/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines) article details which software is supported to install on an Windows VM in Azure.  This means that if you deploy a Windows VM, you will be able to manually install SQL Server 2008 on it.

However, this is different than deploying

[2019-03-19 20:59] SaurabhSharma-MSFT commented on #27522
@NextTurn To assist you better on your query could you provide us with the link to the document you are referring to ?  In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-03-19 21:03] TomArcherMsft commented on #23920
@dneelyep I've been corrected in that 0.12 will not support the ReadPlan function after all. I've updated the article appropriately. Apologies for the confusion.

[2019-03-19 21:05] TomArcherMsft commented on #23920
@MicahMcKittrick-MSFT Please close the issue as it has been resolved with a note on the article explaining to customers that the new versions will not support the function used in the sample code.

[2019-03-19 21:07] mtyeager commented on #27379
Not sure what you mean by not supported. You mean that ARM32 is not supported by the extension in Visual Studio? This documentation says that ARM32v7 on Raspbian is supported by IoT Edge https://docs.microsoft.com/en-us/azure/iot-edge/support

[2019-03-19 21:16] TitanDevopsTeam commented on #27545
Up to your team. Thanks

[2019-03-19 21:21] #23920 closed

[2019-03-19 21:21] canoas opened #27550 "Servicebus nuget reference"
the ServiceBus reference does not work. a workaround is available here https://stackoverflow.com/a/55205121/358580

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c59
* Version Independent ID: 8846f2c6-df56-f387-4727-1004fab35c0a
* Content: [Azure Functions C# script developer reference]

[2019-03-19 21:22] SnehaGunda commented on #26607
@stratospheres I guess you are referring to the line numbers, I see they are out of sync. My PR above should fix the issue.

We will now close this issue if you don't have further questions.

#please-close

[2019-03-19 21:23] knowpath opened #27551 "C# on ARM32"
The documentation implies you can use either C# or Python on IoT Edge, but the samples for ARM32 all use Python. Can you use C# on ARM32? If so, can you point to any documentation? Also, if you use C# on armv7, are there limitations on capabilities? Can you use USB and BLE functionality for instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-03-19 21:25] kgremban commented on #27179
@Alberto-Vega-MSFT #please-close

[2019-03-19 21:27] SnehaGunda commented on #24460
@ijabit Unfortunately I can't find your email to askcosmosdb alias, I am sure you sent it because other PM saw the email. I may have deleted it by mistake. Did you get your questions addressed?

[2019-03-19 21:30] SnehaGunda commented on #27398
@danny8002 thanks for pointing out the issue and @Potapy4 thanks for the fix.

We will now close this issue if there aren't any further questions.

#please-close

[2019-03-19 21:32] tknerr commented on #18737
After finally finding out the required *inbound* rule, I am now as open as it possibly can be with my *outbound* rules:

![image](https://user-images.githubusercontent.com/365744/54643061-526dfb00-4a96-11e9-9891-19e09ac33447.png)

But still getting the "ApplicationGatewaySubnetOutboundTrafficBlockedByNetworkSecurityGroup" rule validation error below:

[code]

@xenalite @TravisCragg-MSFT any ideas

[2019-03-19 21:37] Rabbit994 commented on #27542
Between me opening this issue and now, it's been fixed so closing.

[2019-03-19 21:37] #27542 closed

[2019-03-19 21:38] SaurabhSharma-MSFT commented on #27415
@Trundlore It is from the machine where the Proxy service is installed and to all Domain controllers.

[2019-03-19 21:41] ijabit commented on #24460
@snehagunda the subject contains I110793756 if that helps. Karthik Raman asked me for clarification which I replied to. I haven't heard back form anyone since then. Thanks.

[2019-03-19 21:43] wibjorn opened #27552 "Spelling error YOu -> You"
First paragraph: "YOu can also detect language, entities,"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ec84065-6739-6626-3983-4e4a63ea04a1
* Version Independent ID: c9339023-7753-5d37-1c03-c539c27b77af
* Content: [Tutorial for calling Cognitive Services APIs in an indexing pipeline - Azure Search](https://docs.micr

[2019-03-19 21:43] #7971 closed

[2019-03-19 21:44] #8244 closed

[2019-03-19 21:46] SaurabhSharma-MSFT commented on #27028
@SamBlakeC ok, I am able to reproduce your issue and working internally with the products team.  I will update you as soon as I hear back.

[2019-03-19 21:50] SnehaGunda commented on #26593
@tony-gutierrez some more details on this - When a query is executed, the resulting data is sent within a TCP packet. If you specify too low value for macItemCount, the number of trips required to send the data within the TCP packet are high, which impacts the performance.

When maxItemCount is set to -1, the default value chosen by the SDK and its; depended on the document size. The system chosen

[2019-03-19 21:50] VanMSFT commented on #25302
Hello @Ayanmullick, thank you for your inquiry. I checked with the Product Team on whether they have a PowerShell example for the requested document. Unfortunately, there's no samples available, and no plans at the moment to provide it. We will evaluate adding different types of samples in the future to improve our documents, and we appreciate the feedback. Thanks!

[2019-03-19 21:59] MarileeTurscak-MSFT commented on #27540
@nkwolf
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-19 21:59] MarileeTurscak-MSFT commented on #27540
@nkwolf for Microsoft Account apps with the v 2.0 endpoint, this is true.

CC: @CelesteDG

[2019-03-19 22:00] alinamstanciu commented on #19946
Sorry, for late response, I didn't see this until few days back. You can have any payload in the SendNotification. For example based on our article, you can see we have a json

    var alert = {
      message: 'Temperature reading has surpassed threshold',
      sensorId: telemetry.SensorId,
      reading: parseReading
    };

sendNotification(telemetry.SensorId, "Sensor", JSON.stringify(alert));

[2019-03-19 22:00] MarileeTurscak-MSFT commented on #27540
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-19 22:00] #27540 closed

[2019-03-19 22:02] roygara commented on #27043
@jtuliani thanks for reaching out! I'll try to clarify:

You can control access to a disk using beginGetAccess: https://docs.microsoft.com/en-us/rest/api/compute/disks/grantaccess , I think to do an export action it's something like  export(beginGetAccess) but I'm still confirming with the product team.

@Karishma-Tiwari-MSFT sorry, missed this in my inbox somehow.

[2019-03-19 22:04] roygara commented on #26783
@sumptersmartt do you have any other questions? If not, I'll close out the issue in 24 hours. Feel free to re-open if you do, or open a new issue.

Thanks again for taking the time to reach out.

[2019-03-19 22:10] MarkusVi commented on #27449
HI @DeanGross, it is the other way around - the screenshot in the article was outdated. I have staged a fix for this.

#please-close

[2019-03-19 22:11] MGoedtel commented on #27323
To monitor a Windows container, you should review the Container Monitoring solution for Azure Monitor - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers#install-and-configure-windows-container-hosts.  AKS/ACI monitoring with Azure Monitor for containers is not applicable for what I believe you are asking for.  @KrishnaG-MSFT - this isn't an issue with the document the issue

[2019-03-19 22:12] A144546 commented on #26541
Hi @CarlRabeler
Unfortunately, I was trying this on a SQL  Managed Instance, which I figured out later on, that this command would not work. I do not have a SQL Database to try this out.

[2019-03-19 22:18] Karishma-Tiwari-MSFT commented on #27043
Thanks @roygara for looking into it.

[2019-03-19 22:18] saykumar commented on #22710
I couldn't quite figure out if there's a list function to list the resources in the current resource group. Is there one?

[2019-03-19 22:18] Karishma-Tiwari-MSFT commented on #26014
Thanks, @wandhydrant @raidlman for sharing the logs and details on this issue.
Our product team confirmed that they are aware of this issue and have a bug filed internally.
I will keep you informed on the updates.

[2019-03-19 22:22] mike-urnun-msft commented on #27541
Hi @mikeclymer Thank you for your feedback! We will review and update as appropriate.

[2019-03-19 22:23] mike-urnun-msft commented on #27550
Hi @canoas Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-19 22:27] SnehaGunda commented on #27136
@kdawg1406 as Wenbin responded, the content remains same for both the Azure services, just changing the endpoints will allow you to connect to either of the accounts. So we maintained single doc, these docs are referenced from Azure storage doc set and left nav/Table of contents.

We will close this issue if you don't have further questions.

#please-close

[2019-03-19 22:28] Karishma-Tiwari-MSFT commented on #26745
@iainfoulds Sorry, I think I did not make the question very clear.
The question is if we use Kubernetes version 1.12, then what value should we use for
image: nvidia/k8s-device-plugin:1.11?
The doc says that "Update the image: nvidia/k8s-device-plugin:1.11 half-way down the manifest to **match your Kubernetes version**"
In this case since the kubernetes version is 1.12 but nvidia device plugin doe

[2019-03-19 22:30] Alberto-Vega-MSFT commented on #27525
@cicorias Thanks for the feedback.  We will now proceed to close this thread. Since the document author merged the Pr with the fix. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.for the feedback!

[2019-03-19 22:30] #27525 closed

[2019-03-19 22:37] irwinwilliams commented on #27323
Thanks guys, I will check out the resources you provided. However, my chief issue is that the command line install should work, regardless of context, not so? If there are caveats, like the install won't work if you're logged in to a container, or you have a remote session then that should be stated.

[2019-03-19 22:38] embee8 opened #27554 "Include more advanced configuration options"
I don't think this sample project with its manual deployment procedure honors Microsoft's claim of ["first-class support" of Node.js](https://docs.microsoft.com/en-us/azure/app-service/overview).

1) The entry point definition in the package.json of your [sample project](https://github.com/Azure-Samples/nodejs-docs-hello-world) is the only customization option I could find. Heroku does a really go

[2019-03-19 22:39] tfitzmac commented on #22710
@saykumar - there is not a list function to list the resources in the resource group.

[2019-03-19 22:41] saykumar commented on #22710
Thanks @tfitzmac !

[2019-03-19 22:42] nkwolf commented on #27540
thanks !

[2019-03-19 22:45] tamram commented on #21423
@LeonB87 - These commands were updated sometime in December for the release of the new Az PowerShell module (which also happened in Dec). The commands do exist, and are now the recommended commands to use for PS.

#please-close

[2019-03-19 22:46] Alberto-Vega-MSFT commented on #27526
@cicorias @KingdomOfEnds Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-19 22:49] SaurabhSharma-MSFT commented on #27542
@Rabbit994 Glad to know that you are able to resolve it yourself.

[2019-03-19 22:49] atd80 commented on #23196
when you guys going to solve a simple thing , lot of people hanging on this issue. This not a logic this is just simple steps which you know and need to share.

[2019-03-19 22:52] nkwolf commented on #27208
@shashishailaj,

I'm supposed to register my apps to a specific, already existing tenant for my scenario.  Is Azure AD B2C still the best option ? Asking because, [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview) it says:

"_Before you start defining a user journey, **you need to create an Azure AD B2C tenant** and register your application and API i

[2019-03-19 22:53] TravisCragg-MSFT commented on #26494
@mjuza what issues are you having, and are you running the command from an ASDK or full Azure Stack deployment?

The commands are given to output to a file share. You can use the parameter -OutputPath to specify a local path, and you will not need the credential parameter.

[2019-03-19 22:56] Alberto-Vega-MSFT commented on #27534
@david-mcgillicuddy-ovo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-19 22:56] TravisCragg-MSFT commented on #27199
@jxfish2 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-03-19 22:56] #27199 closed

[2019-03-19 22:57] TravisCragg-MSFT commented on #27352
@cap273 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 22:57] #27352 closed

[2019-03-19 22:57] TravisCragg-MSFT commented on #27351
@cap273 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 22:57] #27351 closed

[2019-03-19 22:59] KingdomOfEnds commented on #27526
@cicorias - Yes thanks again for your help and input.

[2019-03-19 22:59] MGoedtel commented on #27323
@irwinwilliams - Did you follow the step in the article to extract the installation files from the MSI package before running the command line to install the agent with setup.exe?  The command-line provided in the article is valid and you can always verify the agent install using the cmdline without hiding the dialog box by removing /qn and replacing with /passive to see progress of the installer,

[2019-03-19 23:02] MGoedtel commented on #27328
@gorzilla - thanks for the suggestion and we will consider it for the article to install the Linux agent (dependencyagentlinux).  #please-close since this isn't a bug but a suggested method for installing the dependency agent.

[2019-03-19 23:05] hpsin commented on #26573
I can confirm Saurabh's statement.  The user.country field is only supported by Azure AD if it has a valid value.  Valid values are the 2-letter ISO codes.

[2019-03-19 23:06] NextTurn commented on #27522
Well... I'm referring to the links in Markdown articles in azure-docs repo.

[2019-03-19 23:12] mjgabriel opened #27555 "@Microsoft.KeyVault(...) not being replaced with secret value in vault"
I have an app service and have System assigned managed identity enabled. I have created an entry under Application Settings that uses `@Microsoft.KeyVault(...)`  for an app setting (call it ApiKey).

e.g.

`@Microsoft.KeyVault(SecretUri=https://myvault-int.vault.azure.net/secrets/Setting1/123456)`

In my key vault I have created an access policy with `Get, List` for secrets for my service.

App Se

[2019-03-19 23:15] chagen24 opened #27556 "Broken link"
The "Workspace" link under "Configure workspace" leads to a 404. This is the link which it directs to: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace(class)?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 503

[2019-03-19 23:18] ash2017 commented on #14582
1. Without partition key: Cosmos DB has changed the experience for this. Users will now have to add a partition key while creating a collection. We will update our doc to recommend using /id for this tutorial.
2. With partition key: We will update the doc to use "data.deviceId"-"data.moduleId" as the partition key in the Logic App.

[2019-03-19 23:19] KeiroKamioka0000 commented on #27478
Thanks!

[2019-03-19 23:19] #27478 closed

[2019-03-19 23:19] KeiroKamioka0000 commented on #18086
Thanks!

[2019-03-19 23:19] #18086 closed

[2019-03-19 23:26] ChrisFg opened #27557 "Is Resources/deployments template syntax consistent with template reference?"
In section "Specify a subscription and resource group" above,

the example "deploys two storage accounts - one in the resource group specified during deployment, and one in a resource group specified in the secondResourceGroup" template has a different syntax to the syntax shown in the template reference for Resources/deployments.

Is the template reference below up to date?
https://docs.microsoft

[2019-03-19 23:27] Karishma-Tiwari-MSFT commented on #26745
@laserninja Thanks for the feedback. We will have it added to the backlog items and get the doc updated with this information.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-19 23:27] #26745 closed

[2019-03-19 23:34] KS76 opened #27558 "App manifest size limit ?"
Is there a size limit to the application manifest ?. When we try to add more than 1255 application roles to the manifest, we get the following error.

"Failed to update application ABCD. Error details: The size of the manifest has exceeded its limit. Please reduce the number of values and retry your request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-19 23:37] KS76 opened #27559 "App manifest size limit ?"
Is there a size limit to the application manifest ?. When we try to add more than 1255 application roles to the manifest, we get the following error.

"Failed to update application ABCD. Error details: The size of the manifest has exceeded its limit. Please reduce the number of values and retry your request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-19 23:44] nonoxp commented on #27377
So far the only workaround I have for this is to:
- rename the Edge module project via the solution explorer (remove all the period chars)
- do the same with the $edgeAgent's modules' keys in the deployment.template.json file
- and also with the module name appearing in $edgeHub's routes table

The problem was not appearing in the previous versions of the VS extension.

[2019-03-19 23:52] sc-bperry commented on #25476
I agree with JobenNC. The parameters section is terribly confusing and therefore requires a lot of trial and error to get this critical component of CI/CD to work. In particular:

1. The section JobenNC mentioned about the arrays is inscrutable, even with the example. I'm confused about what exactly is happening with the second string object property/parameter rename situation.
2. In section 3a, w

[2019-03-20 00:10] MartinJaffer-MSFT commented on #27548
Thank you for bringing this to our attention @francisco-merizalde .  We will review the document and update you when we have more information.

[2019-03-20 00:10] RavennMSFT commented on #27353
This is not Alternate ID. We had named it Alternate ID in a previous version, and were corrected by several internal and external folks that Alternate ID is not the same as on-prem UPN. In fact, Alt Id is what you use instead of an on-prem UPN. So this is technically accurate

[2019-03-20 00:10] SiriusA7 commented on #26278
@Alberto-Vega-MSFT I am having this same exact issue, but it seems I am still missing something....
Could a list of dependent visual studio packages be provided to cross-reference?

[2019-03-20 00:16] peterennisrda opened #27560 "Typo"
Deallocated the VM using =&gt; Deallocate the VM using

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 1949dddb-5278-5271-4934-d3ace2758bf1
* Content: [Tutorial - Create custom VM images with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-m

[2019-03-20 00:17] femsulu commented on #27537
@bdschaap Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-20 00:22] peterennisrda opened #27562 "Typo"
Advance to the next tutorial to learn about how highly available virtual machines. =&gt; Advance to the next tutorial to learn about how to create highly available virtual machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 1949dddb-5278-5271-4934-d3ac

[2019-03-20 00:27] adhanuka commented on #18833
The accelerated networking can now be enabled without deallocation of the VM. Would appreciate that as well as support for RHEL 7.5, SLES 12SP4 and SLES15 can be updated asap.

[2019-03-20 00:32] tony-gutierrez commented on #26593
This issue is opened against a documentation page. That means that I am trying to tell you that your documentation page is lacking. It doesn't mention -1 at all. I don't need the answer, the page does.

[2019-03-20 00:39] avishnyakov commented on #27537
Examples on how to use these with ARM or az cli would also be great.

Currently, a few lengthy JSON examples on the page don't provide many clues on how to automate dashboard creation. That blocks automation scenarios at a larger scale, dozens and hundreds of apps and services.

[2019-03-20 00:39] liydu commented on #13951
The doc has been updated to conform with the latest DPS. So it's resolved now.

[2019-03-20 00:40] Sas002 opened #27563 "How to get Worker nodes VNET id using terraform output"
I have deployed AKS cluster using terraform. Now I want to install JumpHost on the same VNET as Worker nodes to connect to worker nodes using public key. I am not able to get worker node VNET as it is created inside MC_&lt;clusternode&gt; resource group which is deployed by Azure. I need the VNET details programmatically using terraform so install a new VM on same VNET. Thanks

---
#### Document D

[2019-03-20 00:41] liydu commented on #13951
#please-close

[2019-03-20 00:42] MarkusVi commented on #27353
#please-close

[2019-03-20 00:42] liydu commented on #11011
The `task` has been deprecated with new Azure IoT Device Workbench extension. So #please-close

[2019-03-20 00:42] hpsin commented on #6410
@paulgarn can you provide an update on this?

[2019-03-20 00:44] hpsin commented on #20953
A and B are both tenants.  The "B User" is a user in the B tenant. Agreed that this is confusing.  I'll post an update

[2019-03-20 00:48] cynthn commented on #13194
#please-close

[2019-03-20 00:49] cynthn commented on #13631
#please-close

[2019-03-20 00:50] cynthn commented on #13776
#please-close

[2019-03-20 00:52] cynthn commented on #15111
@gustavomcarmo Thanks for the feedback. I'm going to close the issue, which will still leave this available for other folks who are moving to 18.04. When I update the doc to use 18.04, I will be sure to make this change as well. Thanks :)

#please-close

[2019-03-20 00:54] cynthn commented on #15252
@Karishma-Tiwari-MSFT can you reassign this issue to @deosandeep to see if he can help? Thanks!

[2019-03-20 00:55] Juliako commented on #18463
@JackDnls, you can find a .NET sample here: https://github.com/Azure-Samples/media-services-v3-dotnet-tutorials/tree/master/AMSV3Tutorials/EncryptWithAES

thank you,
Julia

[2019-03-20 00:58] cynthn commented on #15418
@Karishma-Tiwari-MSFT can you reassign this issue to the current doc owner @genlin ? Thanks!

[2019-03-20 00:59] CelesteDG commented on #20953
@DMoonsinghe - Thank you for the feedback. I’m just waiting on an updated diagram that has A and B clearly labeled as tenants. Will post that too.

Thanks for the update, @hpsin

[2019-03-20 01:03] BillWagner commented on #17080
#please-close

This was addressed (but the issue wasn't referenced) some time ago. The current public contributor guide does not contain any links to the internal guide.

[2019-03-20 01:07] anirudhcavale commented on #14353
this article is no longer in the azure monitor tree #please-close

[2019-03-20 01:09] anirudhcavale commented on #14757
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-20 01:10] dcbrown16 commented on #13194
Thanks :)

[2019-03-20 01:10] #13194 closed

[2019-03-20 01:11] #14353 closed

[2019-03-20 01:13] anirudhcavale commented on #14804
@alohaninja please look at our article here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-understanding-settings
Specifically the "which profile will autoscale pick" section: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-understanding-settings#which-profile-will-autoscale-pick

[2019-03-20 01:15] anirudhcavale commented on #15703
#please-close

[2019-03-20 01:15] ellacroi commented on #14052
#please-close this has been updated

[2019-03-20 01:15] tysonn commented on #8731
Closing - the original feedback was in the correct repo. This is a platform request.

[2019-03-20 01:15] #8731 closed

[2019-03-20 01:16] ellacroi commented on #12975
@qianw211 I think Lu answered this by email, could you please update?

[2019-03-20 01:17] femsulu commented on #27511
@peterzdovc It appears a PR has been initiated to correct the typo in the visual. The change is currently pending approval by the content author. Once approved, you will see the change reflected in the public version in 24-48 hrs. thanks again for catching this.

[2019-03-20 01:17] #27511 closed

[2019-03-20 01:18] #21423 closed

[2019-03-20 01:18] #27398 closed

[2019-03-20 01:18] #22997 closed

[2019-03-20 01:18] #25290 closed

[2019-03-20 01:18] #27136 closed

[2019-03-20 01:18] #27328 closed

[2019-03-20 01:19] tysonn commented on #11144
@ggailey777 - Could you look at this request for a doc? It may be something to log as a request in the internal backlog.

[2019-03-20 01:19] #27449 closed

[2019-03-20 01:19] #16498 closed

[2019-03-20 01:19] #16499 closed

[2019-03-20 01:19] #26607 closed

[2019-03-20 01:19] anirudhcavale commented on #17169
@bsimser The cooldown period for each rule dictates how long after the previous scale action (whatever rule initiated was), the rule can be applied.
So in the case of CPU < 30%, that rule cannot be applied for 30min after any scale action.
For the CPU > 90%, that rule cannot be applied for 10min after any scale action.

[2019-03-20 01:20] #27310 closed

[2019-03-20 01:20] tysonn commented on #14634
Closing - the process was explained.

[2019-03-20 01:20] #14634 closed

[2019-03-20 01:20] #27179 closed

[2019-03-20 01:21] MicahMcKittrick-MSFT commented on #27560
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-20 01:22] MicahMcKittrick-MSFT commented on #27562
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-20 01:22] cogran commented on #27380
Hi Karthik,

As a networking guy it seems like it would would be obvious if I’m deploying an active-active resource…
However, I had an SR opened asking if it was required or possible to use just a single tunnel by an internal CSA. In that respect, I feel as thought the documentation could and should call out the configuration and utilization of both tunnels is expected and required for SLA. If our

[2019-03-20 01:23] anirudhcavale commented on #20196
#please-close

[2019-03-20 01:23] #13776 closed

[2019-03-20 01:24] tysonn commented on #14857
@Julia-Alexandrova - Sorry this took so long to respond to. Marketplace offerings need to post documentation on the site of the company that created the offering. It looks like your offer page includes links to your documentation.

[2019-03-20 01:24] #14857 closed

[2019-03-20 01:26] vladoram commented on #25273
I started to receive the following error after I have been working with the notebook. It was working well getting the data from ADLSV2:

StatusCode=403
StatusDescription=This request is not authorized to perform this operation using this permission.
ErrorCode=
ErrorMessage=
	at shaded.databricks.v20180920_b33d810.org.apache.hadoop.fs.azurebfs.services.AbfsRestOperation.execute

[2019-03-20 01:30] anirudhcavale commented on #20151
Addressing in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/70177

[2019-03-20 01:31] n0ttsweet opened #27567 "Script missing steps."
Running these steps "As Is" you encounter an error at Step 4.
First, we should be including this step more prominently :
$resourceGroup = Get-AzureRmResourceGroup -name "YourResourceGroupName"
Then, we cannot define $geoPolicy and create a new one in the same step. This needs to be 2 steps.

4. New-AzureRmFrontDoorFireWallPolicy -Name "geoPolicyAllowUSOnly" -resourceGroupName $resourceGroup.Resour

[2019-03-20 01:34] tysonn commented on #20288
@artemuwka + @seguler - Could you review this request for additional information after receiving these errors?

[2019-03-20 01:36] j-martens commented on #16646
@YutongTie-MSFT - What is the status of your investigation?

[2019-03-20 01:37] conceptdev commented on #21333
Hi @sunilprabha, please see the Xamarin.Forms documentation on [deploying your apps](https://docs.microsoft.com/xamarin/xamarin-forms/deploy-test/) for links on how to publish Xamarin apps to iOS and Google app stores.

#please-close

[2019-03-20 01:37] anirudhcavale commented on #20151
#please-close

[2019-03-20 01:38] ameetkonnur opened #27568 "First line mentions Adobe HDInsight Cluster instead of Azure HDInsight Cluster."
A typo in the docs. First line reads "Hadoop-based Adobe HDInsight clusters" while it should read "Hadoop-based Azure HDInsight clusters"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d392710-4a96-9ef4-45d3-08da93c56acf
* Version Independent ID: ceaeac12-07ed-d50f-c5de-58cc66832675
* Content: [Install Presto on Azure

[2019-03-20 01:44] conceptdev commented on #12396
Thanks again for the idea. We'll consider this approach for future documentation updates.

#please-close

[2019-03-20 01:44] dcaro commented on #12012
#please-close

[2019-03-20 01:44] conceptdev commented on #12337
#please-close

[2019-03-20 01:45] conceptdev commented on #11556
#please-close

[2019-03-20 01:46] tysonn commented on #23511
Thanks for letting us know.

[2019-03-20 01:46] #23511 closed

[2019-03-20 01:47] #27514 closed

[2019-03-20 01:47] hrasheed-msft commented on #27568
@ameetkonnur Thanks for your contribution. Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/70180

[2019-03-20 01:47] conceptdev commented on #11271
#please-close

[2019-03-20 01:47] KeiroKamioka0000 opened #27569 "Please consider to add actual up limit for the Event Hubs"
Please consider of 'Actual' limit of the following value please.
As my understanding the documnet only listing the 'Default' limit and not 'Actual uplimit'

Event Hubs limits
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#event-hubs-limits
Maximum throughput units
Number of partitions per event hub

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-20 01:48] KeiroKamioka0000 commented on #27569
Adding the document info.

Features and terminology in Azure Event Hubs#Partitions
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions

The number of partitions is specified at creation and must be between 2 and 32. The partition count is not changeable, so you should consider long-term scale when setting partition count. Partitions are a data organization mechanism th

[2019-03-20 01:54] j-martens commented on #26076
Thank you for your post. Please let us know if you need anything else. #please-close

[2019-03-20 01:55] conceptdev commented on #8111
Thanks @faceoffers28, the document linked above -
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started - was updated just a few weeks ago, in February 2019. You might also find the [Xamarin.Forms push notifications doc](
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/push-notifications/azure#android-1) useful

[2019-03-20 01:56] tonesandtones commented on #27485
@KalyanChanumolu-MSFT
Thanks for those instructions, creating a new database _from_ backup (as opposed to restoring the existing database _to_ a different server) has worked.

From reading the docs, it looks like in this case the correct PS cmdlet to use would be `New-AzSqlDatabaseCopy` instead of `Restore-AzureRmSqlDatabase`

[2019-03-20 01:57] kobulloc-MSFT commented on #27162
@woutervanranst Thank you again for reporting this!  I was able to reproduce the error that you saw (The client...with object id...does not have quthorization to perform action...over scope...").  It appears that the solution for the time being is to wait up to an hour before attempting to unclaim the machine.  **After an hour, a user with the "DevTest Labs User" role will be able to unclaim the m

[2019-03-20 01:57] #27162 closed

[2019-03-20 01:57] conceptdev commented on #7120
@rahulbpatel that is most likely a limitation of the scaffolding. Any custom APIs on the older service would probably have to be manually re-created.
#please-close

[2019-03-20 01:58] Alberto-Vega-MSFT commented on #25128
@davidmu1 the original link points to a private repository. So customers see 404 this is GitHub’s expected behavior for this case.

https://github.com/dear-github/dear-github/issues/162

[2019-03-20 01:58] j-martens commented on #27556
@chagen24 thanks for your post. try this: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?view=azure-ml-py

[2019-03-20 02:00] YutongTie-MSFT commented on #16646
@poojasaxena Hi Pooja, I want to check with you again since I got no response from you by Teams. Are you still suffering from this issue now, our author comes here to help. Please give us some update for this issue. Thank you a lot. ^^

[2019-03-20 02:02] conceptdev commented on #6418
Thanks both for your feedback. As the SDK suggests, and mentioned above, [App Center](https://docs.microsoft.com/en-us/appcenter) or [Notification Hubs](https://docs.microsoft.com/en-us/azure/notification-hubs/) might be a better choice for your app. We're working to make the options clearer in the products & documentation.
#please-close

[2019-03-20 02:03] j-martens commented on #25776
@Blackmist - can you check and correct please?

[2019-03-20 02:04] tysonn commented on #17582
@Philippepaiola - Je suis désolé de n’avoir pas répondu à votre suggestion pour un nouvel article sur docs.microsoft.com. Vous avez toute la raison, il semble qu’il n’y a pas d’article sur ce sujet. J’ai assigné le GitHub issue à la responsable de la documentation sur ce sujet pour évaluer une possible collaboration.

[2019-03-20 02:04] #8111 closed

[2019-03-20 02:05] j-martens commented on #25451
@nishankgu - please provide guidance here. Thanks.

[2019-03-20 02:06] j-martens commented on #27419
Hope this helps! #please-close.

[2019-03-20 02:08] gerisg opened #27570 "Portuguese - Brazil not detected"
I started a QnA Service and the first KB created was with Portuguese - Brazil data. But the analyzers stayed in Default value.
My workaround  was create a new QnA Service and I created a 'testkb' index with exactly same fields and the correct analyzers. After that, I proceed with the first KB creation and then the new index was created with the brazilian analyzers.
Could you check if the 'auto det

[2019-03-20 02:14] #16646 closed

[2019-03-20 02:17] Alberto-Vega-MSFT commented on #27390
@yzll111 Were you able to resolve your issue? If you are still facing this issue and you do not have support plan please reach out (see previous message) and we will enable the free one time support ticket for you.

[2019-03-20 02:38] Kelviny128 opened #27571 "Why the "Edit Test" in Availability Test cannot be edited sometimes?"
Service: Application Insight
Issue: Why I cannot edit the availability test? It Found that the "Edit" icon is grey out in some Application insight.
![AppInsight_Issue](https://user-images.githubusercontent.com/11627276/54655184-e625e280-4afb-11e9-9d55-4474eff24a3c.png)

[2019-03-20 02:45] YutongTie-MSFT commented on #26076
@rhpoon We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-20 02:45] #26076 closed

[2019-03-20 02:53] prashanthmadi opened #27572 "Plans to add documentation for partitioned collections"
with the push towards partitioned collections we should update this doc too

Ex: Here is a sample for creating partitioned collection
[code]

- Remaining would be to perform CRUD operations in partitioned collection
- retrieve list of partition keys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8

[2019-03-20 02:58] ChrisFg opened #27573 "Parent Child resource type deployment dependency."
Knowing the type of dependency, i.e. a deployment dependency, confirms the dependency was not an resource provider type inheritance dependency.

To Be:
It's important to note that an implicit [deployment] dependency isn't created between a child resource and the parent resource.

was
It's important to note that an implicit dependency isn't created between a child resource and the parent resource.

[2019-03-20 03:15] SteveBurkettNZ opened #27574 "Needs updating for GA"
Now that Azure Backup for SQL Server has gone GA, the !Note about being in Public Preview needs removing and the Before You Start and Preview Limitations sections updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7b40d1-bbe9-c938-b06c-8380ec17f262
* Version Independent ID: 3d3f8780-cf1e-a75a-ac24-0e9162cb4e56
*

[2019-03-20 03:22] cuntoulishifu commented on #11450
I encountered the same problem by document：
 System.InvalidOperationException : Environment variable IOTEDGE_WORKLOADURI is required.

[2019-03-20 03:23] cuntoulishifu commented on #11450
I encountered the same problem by document:

**Environment variable IOTEDGE_WORKLOADURI is required.**

What is the final solution?

[2019-03-20 03:24] mnshahare opened #27575 "unable to login Azure account"
unable to login to azure account, please help me get login in system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/billing/billing-how-

[2019-03-20 03:42] ecfan commented on #21207
@kevinlam1, @yotauber, as this issue has been open for some time without a doc action item, and unless there's an update on whether you can trigger a logic app immediately but only once after deploying with a template. we need to close this issue.

@yotauber, thank you very much for your question, if you'd like to submit a suggestion at the Logic Apps feature feedback site, please do so here: http

[2019-03-20 03:52] dikadali commented on #26251
yes. I've tested it by running PowerShell & CLI commands which run successfully to disable/enable Accelerated networking feature without rebooting VM. But, haven't tested latency/performance which might not be needed once this feature is disabled.

[2019-03-20 04:01] zikalino opened #27650 "Azure REST API - Resources - doesn't work as described"
https://docs.microsoft.com/en-us/rest/api/resources/resources/getbyid

There's a problem with API version "2018-05-01".
When using TRY response code will be 400 for most of the cases, as it expects specific API version for each resource.

So my impression is that generic API to get resource by id simply doesn't exist or requires different URL.

I think this document, and others generic resource AP

[2019-03-20 04:03] saveenr commented on #12077
Passing a dataframe is due to a fundamental goal of preview of the the R integration - which is to support a scenario of where many parallel sets of data - in the form of dataframes - are being distributed to many vertices. So, vonverting U-SQL rowsets to dataframes is required for that.

Two dataframes cannot be passed.

Since this feature was initially previewed, we've been prioritizing other ar

[2019-03-20 04:06] saveenr commented on #13220
Since we launched the preview of the R features, based on customer feedback we are prioritizing other areas and no plans exist to address any issues with the R integration.

[2019-03-20 04:10] saveenr commented on #17991
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

#please-close

[2019-03-20 04:12] KalyanChanumolu-MSFT commented on #27572
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-20 04:12] cg6 opened #27576 "RBAC scoped to ADLS Gen2 Filesystem?"
"You can assign RBAC roles scoped to a subscription, resource group, storage account, or an individual filesystem to a security principal or a managed identity for Azure resources. "

The Azure Portal does not provide an "Access Control (IAM)" pane for individual ADLS Gen2 Filesystems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-03-20 04:17] saathvikj opened #27577 "Restore VM from backup Recovery services vault to a different region"
Why isn't there an option to restore a VM from the backup from Recovery Services vault to a different region? I know we can use ASR to replicate a VM to a different region but it would be an easier process to use the restore option by backup snapshot. Any idea when can we expect this functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-20 04:20] CHEEKATLAPRADEEP-MSFT commented on #27568
@ameetkonnur Thanks for pointing out the issue. This issue has been addressed in the following PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/70180](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70180) .
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a P

[2019-03-20 04:21] #27568 closed

[2019-03-20 04:24] Rajeswari-Mamilla commented on #19334
@neerajvayu please refer to our guidance given under https://aka.ms/asr_how_to_upgrade on updates, reboot and our latest release notes.
You will receive notifications in Azure portal as soon as a new upgrade is available and it will prompt you to upgrade.
If you subscribe for receive email notifications on the portal(https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-monitor-and-tr

[2019-03-20 04:27] BhargaviAnnadevara-MSFT commented on #27571
@Kelviny128 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-20 04:27] CHEEKATLAPRADEEP-MSFT commented on #27552
Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/70185](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70185).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take communit

[2019-03-20 04:27] #27552 closed

[2019-03-20 04:28] Rajeswari-Mamilla commented on #20194
Thank you. Changes have been made and should be live by today. #Please-close

[2019-03-20 04:30] SadiqhAhmed-MSFT commented on #27575
@mnshahare Thanks for the comment! We would be more than glad to help you with your issue if you could provide more details on the same.

- What type of subscription you're using?
- Are you getting any error message while logging into the portal?

You may refer to this [link](https://docs.microsoft.com/en-us/azure/billing/billing-subscription-become-disable) to reactivate the subscription. If prob

[2019-03-20 04:34] jakaruna-MSFT commented on #27301
Sure. Try out and let me know.

[2019-03-20 04:43] shashishailaj commented on #27551
@knowpath Thank you for your query. We will investigate and update this thread further.

[2019-03-20 04:44] jakaruna-MSFT commented on #26847
@yuriwoof
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-20 04:44] #26847 closed

[2019-03-20 04:45] shashishailaj commented on #27554
@embee8 Thank you for your suggestion . We will have them reviewed and update this conversation.

[2019-03-20 04:46] shashishailaj commented on #27557
@ChrisFg Thank you for your query. We will investigate and update this thread further.

[2019-03-20 04:46] dikadali commented on #26247
@SubhashVasarapu-MSFT  - Thanks. Do we have any approx timeline for this pls?

[2019-03-20 04:47] georgewallace commented on #21014
@YvonneArnoldus and @koboltmarky I just tested the example you provided and it worked as expected.

Here is a screen grab of my config. I changed the path as I don't have an F drive.
![image](https://user-images.githubusercontent.com/6796566/54659736-4c751b80-4a90-11e9-8b59-51d949ea0b30.png)

And here is my cert on my machine.
![image](https://user-images.githubusercontent.com/6796566/54659758-691

[2019-03-20 04:50] shashishailaj commented on #27558
@KS76 Thank you for your query . We will investigate and update this conversation.

[2019-03-20 04:51] shashishailaj commented on #27559
@KS76 Thank you for your query. We will investigate and update the thread.

[2019-03-20 04:52] shashishailaj commented on #27563
@Sas002 Thank you for your query. We will investigate and update this thread.

[2019-03-20 04:55] shashishailaj commented on #27567
@n0ttsweet Thank you for pointing this out . We will investigate and update further.

[2019-03-20 04:57] shashishailaj commented on #27569
@KeiroKamioka0000 Thank you for your query . We will investigate and update this thread further.

[2019-03-20 04:58] shashishailaj commented on #27573
@ChrisFg Thank you for your query . We will investigate and update this thread further.

[2019-03-20 04:59] shashishailaj commented on #27574
@SteveBurkettNZ Thank you for your query . We will investigate and update this thread further.

[2019-03-20 04:59] shashishailaj commented on #27576
@cg6 Thank you for your query . We will investigate and update further.

[2019-03-20 05:00] RohitMungi-MSFT commented on #27389
@BeMor81 We will close this issue as our author is notified of this request.
If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 05:00] #27389 closed

[2019-03-20 05:02] shashishailaj commented on #27577
@saathvikj Thank you for your query . We will investigate and update this thread further.

[2019-03-20 05:05] RohitMungi-MSFT commented on #27321
@aashishb and @nishankgu Could you please confirm if there is a way to use Azure Machine Learning workspace to access on-prem network servers for compute without opening customers network to public internet?

[2019-03-20 05:05] SaurabhSharma-MSFT commented on #26573
@hpsin Thank you.
@rishtech We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 05:05] #26573 closed

[2019-03-20 05:11] BhargaviAnnadevara-MSFT commented on #27516
@seandonovancvx Glad to know, and thank you for reaching out!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-20 05:11] #27516 closed

[2019-03-20 05:11] RohitMungi-MSFT commented on #27405
@wilsonchua20 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 05:12] #27405 closed

[2019-03-20 05:15] RohitMungi-MSFT commented on #27419
@UtsaVakani We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 05:15] #27419 closed

[2019-03-20 05:18] DixitArora-MSFT commented on #27524
@vikguptaMS Azure Functions tracks this by storing blob receipts in a container named azure-webjobs-hosts in the Azure storage account for your function app (defined by the app setting AzureWebJobsStorage). Follow the [Trigger - blob receipts](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---blob-receipts) for more details.

[2019-03-20 05:22] msrini-MSFT commented on #27380
@cogran , Thank you for your comment. I will assign this issue to the author, so your suggestion will be reviewed and added.

[2019-03-20 05:34] Karishma-Tiwari-MSFT commented on #27046
@dlepow Would you be able to share your insights on this? Thanks :)

[2019-03-20 05:35] RohitMungi-MSFT commented on #27556
@j-martens Thanks for correcting the link. @chagen24 The correct link will be published in the document after the change is merged. Please use the link provided above for reference now.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 05:36] Sujittest1987 commented on #17325
I getting provider failed when I try to deploy windows nanoserver-iis usiing given nano-iis.yaml.I tried multiple time by creating new AKS and getting same issue.please help.
[nano-iis.yaml.txt](https://github.com/MicrosoftDocs/azure-docs/files/2986642/nano-iis.yaml.txt)

[2019-03-20 05:36] #27556 closed

[2019-03-20 05:39] kobulloc-MSFT commented on #27441
@Houuse I've been unable to reproduce what you are seeing.  Following the [.NET Core application quickstart](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/dotnetcore-quick-start), I was able to see data after waiting 5 minutes as noted in the steps:

_Note: It takes 3-5 minutes before data begins appearing in the portal. If this app is a low-traffic test app, keep in mind that most me

[2019-03-20 05:39] #27441 closed

[2019-03-20 05:40] ManojReddy-MSFT commented on #27356
@p33t I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-03-20 05:42] Sujittest1987 opened #27578 ""ProviderFailed" status"
I getting "provider failed" status when I try to deploy windows nanoserver-iis usiing given nano-iis.yaml.I tried multiple time by creating new AKS and getting same issue.please help.

PS Azure:\> kubectl get pod
NAME                                                              READY   STATUS           RESTARTS   AGE
aci-helloworld-7b9ffbf946-gtxxj                                   0/1     Provide

[2019-03-20 05:47] ManojReddy-MSFT commented on #27384
@varandian The authorize button normally gives a pop-up where you can sign in with admin credentials of G Suite. I was able to successfully authorize in my lab today. Can you confirm if you are getting a pop-up ? Are you failing after entering your G Suite credentials ?

[2019-03-20 05:53] KetanChawda-MSFT commented on #27350
@mganeshphani Checking in to see if the above post helped answering your question.

[2019-03-20 05:56] ManojReddy-MSFT commented on #27017
@gutjahr Yes. All the scenarios covered under "Microsoft Intune Enrollment" will be covered under "Microsoft Intune". On top of that "Microsoft Intune " also covers MAM scenarios like [app based conditional access.](https://docs.microsoft.com/en-us/intune/app-based-conditional-access-intune)

[2019-03-20 06:03] KetanChawda-MSFT commented on #27383
@zavr-1 Did you come across any official documentation to create a Function App on Linux with custom container on consumption plan? If yes please share it for review as the [wiki](https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-V2-hosting-options#deployments) clearly mentions it is not supported as of now.

This repo is scoped for documentation feedback and it would be best if you ca

[2019-03-20 06:07] CHEEKATLAPRADEEP-MSFT commented on #27548
@francisco-merizalde This has been already documented: [Azure Function activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-azure-function-activity).
Hope this helps.

[2019-03-20 06:08] CHEEKATLAPRADEEP-MSFT commented on #27548
@francisco-merizalde We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-20 06:08] #27548 closed

[2019-03-20 06:10] CHEEKATLAPRADEEP-MSFT commented on #26331
@nabhishek Could you please look into this issue?

[2019-03-20 06:10] KetanChawda-MSFT commented on #27489
@kazshi The meaning of data here is the Run History of your Logic App. You can monitor the metric [Billing Usage for Storage Consumption Executions](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftlogicworkflows) in your Logic App metric which will give you the number of storage consumption executions getting billed.

![image](https://user-images.githubuser

[2019-03-20 06:14] anssenfang1 opened #27580 "Add additional ADLS GEN2 storage"
Please add notes for adding ADLS GEN2 as a second storage:
No actions is needed, just assign the same MI to the additional ADLS GEN2 storage as the primary ADLS GEN2 storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f071d0f-f5cf-08bd-f7cc-e0a3ef25bd58
* Version Independent ID: bff1b6a5-24b9-4e27-7e76-0e8cb1633b4

[2019-03-20 06:16] anssenfang1 opened #27581 "ESP cluster does not support IO cache."
IO cache is not support in domain joined cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e5021f-3e10-816f-39e6-171724cc155a
* Version Independent ID: 94f8c735-a1e1-803e-7f2c-26526ff90bf9
* Content: [Improve performance of Apache Spark workloads using Azure HDInsight IO Cache (Preview)](https://docs.microsoft.

[2019-03-20 06:17] SnehaAgrawal-MSFT commented on #27555
@mjgabriel Thanks for the question! We are investigating and will update you shortly.

[2019-03-20 06:17] prasanthpul commented on #25776
https://github.com/MicrosoftDocs/azure-docs-pr/pull/70190

[2019-03-20 06:18] SadiqhAhmed-MSFT commented on #27574
@SteveBurkettNZ Thanks for the feedback! We have assigned this issue to the content owner/author to review further and update as appropriate.

[2019-03-20 06:22] SadiqhAhmed-MSFT commented on #27573
@ChrisFg Thanks for the feedback! We have assigned this issue to the content owner/author to review further and update as appropriate.

[2019-03-20 06:27] kiranjshetty commented on #27505
Below is the link,

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs

[2019-03-20 06:27] kazshi commented on #27489
@KetanChawda-MSFT Thanks for your explanation and clarification!

[2019-03-20 06:27] #27489 closed

[2019-03-20 06:29] SnehaAgrawal-MSFT commented on #27555
@mjgabriel Thanks again for the question! Application setting depends on which App service you are using Windows, Linux or Containers.
You can refer below link might be helpful
https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#app-settings

[2019-03-20 06:32] Eddieyc opened #27582 "What is the retention period for Office 365 users? Can we assume it is 90 days for O365 E3 and 365 days for O365 E5 users?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-20 06:33] AjayKumar-MSFT commented on #21014
@georgewallace, Thank you!

[2019-03-20 06:33] #21014 closed

[2019-03-20 06:34] #21333 closed

[2019-03-20 06:43] Eddieyc commented on #27582
Office 365 log retention policy is 90 days for E3 and 365 days for E5, is this applicable to the Directory audit, sing-in and Azure MFA under AAD?

[2019-03-20 06:51] xiaoharper commented on #20744
@ctrlaltdylan Sorry for late respond Dylan. I'm afraid we don't have enough resource in near recent to add the example json or non-200 responses. But I'd like to clarify a bit what are you looking for to see whether we can optimize in future.  If possible, can you take a screenshot and send to me (zhanxia@microsoft.com) of where you expect to see example json and what you see today when non-200 re

[2019-03-20 06:55] SadiqhAhmed-MSFT commented on #27557
@tfitzmac Could you please confirm if the document is update to date?

[2019-03-20 07:00] SadiqhAhmed-MSFT commented on #27569
@rothja Could you please review the document and update as appropriate?

[2019-03-20 07:00] deltadan commented on #26900
The SKU article needs to be updated with the SKU Names. thanks

[2019-03-20 07:03] CHEEKATLAPRADEEP-MSFT commented on #27576
@cg6 You can now change the owner and owning group when managing access for an ADLS Gen2 container, file, or folder using **Azure Storage Explorer.**

Note that the version of Storage Explorer that is embedded into the Azure Portal does not currently support viewing or managing Data Lake Storage Gen2 accounts with the hierarchical namespace feature enabled.

To view or manage Data Lake Storage Gen

[2019-03-20 07:12] CHEEKATLAPRADEEP-MSFT commented on #27580
@anssenfang1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-20 07:14] AshokPeddakotla-MSFT commented on #27379
@knowpath Please check the above suggestions and do let us know if you need further assistance. As mentioned, ARM support is in the roadmap. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 07:14] #27379 closed

[2019-03-20 07:25] jakaruna-MSFT commented on #27491
@gokul2018 A related MSDN thread is here https://social.msdn.microsoft.com/Forums/en-US/9c611c71-4904-4fc8-ac43-afca54166e34/need-to-resize-vmss-disk-in-azure-linux-vmss?forum=WAVirtualMachinesforWindows

[2019-03-20 07:26] jakaruna-MSFT commented on #27491
@gokul2018 You can increase the OS Disk size by setting this property `virtualMachineProfile.storageProfile.osDisk.diskSizeGb`

[2019-03-20 07:29] CHEEKATLAPRADEEP-MSFT commented on #27491
@gokul2018 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-20 07:29] #27491 closed

[2019-03-20 07:30] CHEEKATLAPRADEEP-MSFT commented on #27581
@anssenfang1 Thanks for the question! We are investigating and will update you shortly.

[2019-03-20 07:32] sachdevaswati commented on #27574
Hello,
Thanks for pointing out. That's an old document that somehow wasn't removed; we will fix it immediately. The new documentation could be found here - https://docs.microsoft.com/en-us/azure/backup/backup-sql-server-azure-vms

[2019-03-20 07:35] love2dishtech commented on #23789
Hi Team,

Would you be able to provide more details about how it operates and what is different from native Kubernetes engine. I am wondering if we could provide some support for the same. Also wondering, if dashboard can be configured to use the Azure AD via a proxy service?

[2019-03-20 07:37] simonlzn opened #27583 "Location doesn't work"
When I tried $location = "West US", it throws ErrorMessage: The source blob xxx.vhd does not belong to the same region as the disk. I tried with $location = "WestUS", it works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d62229-f4fb-481a-ed46-704e25334cb5
* Version Independent ID: 3fd579d5-51c6-642b-144a-f92a340141

[2019-03-20 07:46] RohitMungi-MSFT commented on #27570
@gerisg The first knowledge base created targeting a particular QnA Maker service sets the language of that service.  I was able to create a new KB in a new QnAMaker service and it detected the language automatically. Here is a screen shot of the same.

![image](https://user-images.githubusercontent.com/46958063/54667114-92be8f00-4b11-11e9-9f4b-8ce3319f0213.png)

If you have used an existing QnA s

[2019-03-20 07:55] msrini-MSFT commented on #27153
@dcbrown16 , This operation is possible with Cross-subscription. I will test with cross-tenant and let you know.

[2019-03-20 07:58] gutjahr commented on #27017
@ManojReddy-MSFT Actual real-world examples and highlighting the differences between the two in the documentation would probably be useful for everybody. I am not sure I fully understand the difference/overlap but can live with that for now. Thanks.

[2019-03-20 08:03] msrini-MSFT commented on #26251
@dikadali , The reason why it is mentioned that you need stop the VM before is to make sure the functionality is not affected. The command will run successfully, but you need to check the functionality to confirm.

[2019-03-20 08:05] ChiragMishra-MSFT commented on #27481
@sharonlo101 Can you please take a look at this one ?

[2019-03-20 08:14] SadiqhAhmed-MSFT commented on #27577
@saathvikj Thank you for the question! Currently cross-region backup and restore is not supported with IaaS VM backup. In case you've enabled GRS as storage replication option, you should be able to access recovery services vault, just as would do on a normal day, but the data in the background is obtained from the paired region after storage does a physical failover (Note:GRS is intended to be us

[2019-03-20 08:15] SumanthMarigowda-MSFT commented on #27578
@Sujittest1987  Can you provide more info on the above query and also share us document which you are  referring too

[2019-03-20 08:16] alenjalex opened #27584 "Can we have more keyboard shortcuts in Azure Portal for blade operations"
Can we have keyboard shortcuts for tasks such as:

1. Close a blade.
2. Traverse (move back or forth) (scroll through) through the blades.

[2019-03-20 08:16] bramvdklinkenberg opened #27585 "Autoscaling not enabled"
I created a cluster with the command below:

az aks create --resource-group RG20BRAM-DEV --name AKS20BRAMDEV --location westeurope --node-count 2 --node-vm-size Standard_E2s_v3 --dns-name-prefix bramdev --kubernetes-version 1.12.5 --service-principal ${SP} --client-secret ${SECRET} --aad-client-app-id ${AAD_CLIENT} --aad-server-app-id ${AAD_SERVER} --aad-server-app-secret ${AAD_SECRET} --aad-tenan

[2019-03-20 08:33] alenjalex commented on #27584
Closing this due to incorrect details provided

[2019-03-20 08:33] #27584 closed

[2019-03-20 08:34] ggailey777 commented on #11144
@hshokry since function proxies are simply defined as [proxies.json files in the root of the function app](https://docs.microsoft.com/azure/azure-functions/functions-proxies#advanced-configuration), we will track the additional VS documentation requirements in this issue: https://github.com/MicrosoftDocs/azure-docs/issues/24975.

#please-close

[2019-03-20 08:35] ggailey777 commented on #24975
@mike-urnun-msft please assign this to @ggailey777.

[2019-03-20 08:37] alenjalex opened #27586 "Keyboard shortcuts in Azure Portal for blade operations"
Can we have keyboard shortcuts for tasks such as:
1. Close a blade.
2. Traverse (move back and forth) through the blades.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f82699-cc31-072f-94a2-0dbebdf8b592
* Version Independent ID: b9f0c581-b671-abdb-5e44-7f0b2f3599bc
* Content: [Azure portal keyboard shortcuts](https:

[2019-03-20 08:40] DixitArora-MSFT commented on #27381
@zavr-1 At present Function App on Linux with custom container on consumption plan is not supported.Just checking if any chance did you come across any official documentation to create a Function App on Linux with custom container on consumption plan? If yes please share it for review as the [wiki ](https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-V2-hosting-options#deployments)clearl

[2019-03-20 08:44] madhanan opened #27587 "Error 400 : InvalidDataFormat "Message":null"
Dear Team,
I am facing error with $body, Invalid Data Format (Error 400)
Content of JSON is in a variable $json
{
"Subscription Name": "XXXXXX",
"Subscription ID": "ABC12345",
"Tenant ID": "12345ABCD",
"Location": "West Europe",
"Maximum Core": 100,
"Used Core": 20
}

So, when i use cmdlet
Send-OMSAPIIngestionFile `
-customerId 12345 `
-sharedKey abcXXXabc `
-body $json `
-logType "TestingRecordTy

[2019-03-20 08:47] msrini-MSFT commented on #27583
@simonlzn , Great find. I will look into this and update you.

[2019-03-20 08:50] RicksterCDN commented on #9376
I believe the localization team has taken this issue over now. #please-close

[2019-03-20 08:53] RicksterCDN commented on #17082
Command not relevant to this document or grouping of commands specifically related to VM state. #please-close

[2019-03-20 08:55] simonech commented on #24006
@yudomsft @SteveMSFT  first let me know if it makes sense to do it 😄

[2019-03-20 09:04] christophkarner opened #27588 "Missing information about Github Organization accounts"
Hi, please point out that repos of a Github Organization account are not discovered. After authentication, only personal repos (if any) are available for source control. This is a major drawback for using source control with Github repos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2e

[2019-03-20 09:06] vikguptaMS commented on #27524
Thanks for the info.

I wanted to know, when I upload a blob then there should be something which is being monitored by function app and based on that info it gets triggered, so what is that info?

e.g. If you want to monitor a folder for checking whenever a file arrive you extract the information and move it to other folder. For that you can create a window scheduler which will always running and

[2019-03-20 09:11] Anmolgan81 opened #27589 "How can I scale up a HDinsight cluster on the basis of high CPU metrics?"
How ca I scale up HDinsight cluster when the load on the cluster is high? is there a metrics to find this out and attempt the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66acaf29-6ebb-5688-d925-ab0a747bffe0
* Version Independent ID: b572597e-6a3c-bcd1-11c4-b8f24424849f
* Content: [Monitor cluster performance -

[2019-03-20 09:12] PanosPeriorellis commented on #20810
both indications are correct. I will correct and raise PR this week.

[2019-03-20 09:14] PanosPeriorellis commented on #20811
I am re-visiting open GitHub issues. this will also be addressed in a PR this week

[2019-03-20 09:15] imeya opened #27639 "How can we get the operation id for azure backup rest api?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
[Protection Policy Operation Statuses - Get](https://docs.microsoft.com/en-ca/rest/api/backup/protectionpolicyoperationstatuses/get?view=sqlallproducts-allversions)

**Problem:**
when use the api, we need provide an operationId, it

[2019-03-20 09:17] bramvdklinkenberg commented on #27585
I noticed that eventhough it seems that scaling is not enabled it actually does. I created a deployment and set some resource requests so I would be sure it needed extra resources and it actually scaled the amount of nodes.
So in the portal it seems to be disabled but it actually is enabled somewhere in the backend/background.

[2019-03-20 09:19] cg6 commented on #27576
Hi, my comment was referring to Azure RBAC, not ACL's on objects in the
filesystem.

Databricks appears to require at least Storage Blob Reader to mount a Gen2
filesystem. I was looking to apply this role to a specific filesystem
rather than the whole storage account.

On Wed, 20 Mar. 2019, 17:03 CHEEKATLAPRADEEP-MSFT, <notifications@github.com>
wrote:

[2019-03-20 09:19] msrini-MSFT commented on #27153
@dcbrown16 , This operation is not possible with different tenants. Closing this thread, please reopen if you have any further questions.

[2019-03-20 09:19] #27153 closed

[2019-03-20 09:22] jakaruna-MSFT commented on #27585
Thanks for the feedback! We are currently checking and will update you shortly.

[2019-03-20 09:34] OffColour commented on #23992
Hi, I've now tried this and it didn't work.
If I set the destination address in the rule to the public IP of the App Gateway, all traffic to it gets blocked.
Looking at the NSG logs, the IP addresses it's trying to hit are the Azure assigned internal IP addresses, not the public one. It appears that by the time the traffic gets to the NSG, the public IP of the AGW has gone.
If this is correct then

[2019-03-20 09:36] imeya opened #27590 "what's the difference and relation between log analytics / app insights / azure monitor?"
what's the difference and relation between log analytics / app insights / azure monitor?

can you explain more about this?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521c75f5-5d71-10b5-df71-a8a6c0204a2e
* Version Independent ID: 4343bd59-d34e-8d99-a723-292fc27b60bd
* Content: [Log Analytics FAQ](https://do

[2019-03-20 09:41] mcintyre321 opened #27591 "Need more info on behaviour and usage of stateful containers"
It's a bit unclear how a container which requires persistent state (e.g. a sql container) will behave - will the data be stored in a permanent fashion anywhere? How would one go about backing up the data from an instance like this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0615dff-cbdd-0583-739e-72eadbb629bf
* Ve

[2019-03-20 09:44] SANDEEPPILLUTLA opened #27592 "Issue on running above code in jupyter notebook (spylon-kernel)"
Hi, I am facing issue running the above code from jupyter notebook.  Gives the below error
"Intitializing Scala interpreter ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147e84ea-1def-dd8a-f562-4ce016138c62
* Version Independent ID: ec57e668-b86a-2c0e-4a20-04c17de1c23b
* Content: [Tutorial: Process data from Azur

[2019-03-20 09:45] bramvdklinkenberg commented on #27585
I am also wondering based on which metrics it scales. If you enable autoscaling in the portal you need to provide some metric based rules for scaling. These metric based rules is not something that be added to the az aks command.

Another things when I enable autoscaling via the portal it overides settings I provided with the cli.

[2019-03-20 09:47] thecpshah commented on #27420
Thank you @RohitMungi-MSFT

A question about `Mode` parameter. If an image has both `Handwritten` and `Printed` texts, does setting `Mode` to `Printed` will only detect `Printed` text?

[2019-03-20 09:51] CHEEKATLAPRADEEP-MSFT commented on #27576
@cg6 You may follow the below steps to work with Azure Databricks and ADLS Gen2:
•	Assign Blob Reader role the Application ID you use for Databricks at IAM in Storage Account setting portal
•	Use Storage Explorer to give object id (remember object id not Application id, you can get it using az ad sp show --id your_application_id) appropriate read/write/execute access to parent and sub folder. For

[2019-03-20 09:59] DixitArora-MSFT commented on #27550
@canoas When the package is installed it's loaded by the Functions Runtime to handle the binding. It's not one of the default NameSpace imports so you can't reference it via #r so you need to use bin with #r
Follow the [List of assemblies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referencing-external-assemblies) which are automatically added by the Azure Fu

[2019-03-20 10:01] SadiqhAhmed-MSFT commented on #27030
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 10:01] #27030 closed

[2019-03-20 10:02] SadiqhAhmed-MSFT commented on #25726
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 10:02] #25726 closed

[2019-03-20 10:02] Paul-Hadfield opened #27593 "Expected recommended approach for V2?"
In V1, the combined sign-up/in user flow is recommended over the individual sign-in and sign-up flows.  I had believed the later has only been left in for backward compatibility and new systems should not use them as they could be removed.   So it is a bit confusing to see V2 still contains these individual flows and you can now configure the sign in screens too (something documentation says you c

[2019-03-20 10:06] bramvdklinkenberg commented on #27585
So, some more findings...
Via the cli I enabled scaling, the portal doesn't show that but scaling works... so I thought let's try "enabling" it via the portal as well and then delete autoscaling via the cli. This has the opposite effect, in the portal it shows enabled but it is actually disabled on the background because it didn't scale anymore after I applied the deployment again.

[2019-03-20 10:09] #27218 closed

[2019-03-20 10:14] bramvdklinkenberg commented on #27585
So after I disabled it via the cli it still showed enabled in the portal, but scaling didn't work anymore. So I disabled it in the portal as well and after enabling it again via the az cli it also showed as enabled in the portal.

[2019-03-20 10:22] rkarlin commented on #25462
We removed the broken links. thanks for pointing it out.

[2019-03-20 10:22] rkarlin commented on #25462
#please-close

[2019-03-20 10:24] rkarlin commented on #22006
Hi @psoukal-ms thanks for pointing it out. we have corrected the article. You should see the fix go live in the next couple of days.

[2019-03-20 10:24] rkarlin commented on #22006
#please-close

[2019-03-20 10:26] DixitArora-MSFT commented on #27421
@PingPongSet Just following up here... Hope my previous comment helps.

[2019-03-20 10:26] DixitArora-MSFT commented on #27416
@PingPongSet  Just following up here... Hope my previous comment helps.

[2019-03-20 10:32] AmanGarg-MSFT commented on #27435
@liamfoneill I followed the steps provided in the document and was successfully able to see the launch.json file created under .vscode folder after performing the below step:

https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore#initialize-debug-assets-with-the-vs-code-extension

![image](https://user-images.githubusercontent.com/44466503/54677550-20f23f80-4b29-11e9-9467-fd8a167339

[2019-03-20 10:35] Philippepaiola commented on #17582
Merci ! it woul'd be great that i write an article on this subject.

Keep me inform plz,

Have a nice day

Le mer. 20 mars 2019 à 03:04, Tyson Nevil <notifications@github.com> a
écrit :

--

Cordialement,

Philippe PAIOLA
_______________________________________

Des questions sur Microsoft Azure ? Toutes les réponses sont dans mon 5ème
livre, disponible au prix de* 54 €
<http://fr.wikipedia.org/wi

[2019-03-20 10:39] SadiqhAhmed-MSFT commented on #27410
@PingPongSet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 10:39] #27410 closed

[2019-03-20 10:40] shashishailaj commented on #27593
@Paul-Hadfield Thank you for your query . We will investigate and update this thread.

[2019-03-20 10:43] rkarlin commented on #15000
Thanks @RickLanting You're right. I'll update it now.

[2019-03-20 10:43] rkarlin commented on #15000
#please-close

[2019-03-20 10:45] liamfoneill commented on #27435
Thank you I see the problem. The steps say to clone the entire Repo but your VS Code workspace only has the Web Frontend open, where I had the whole Repo open as my workspace.

Sent from Nine<http://www.9folders.com/>
________________________________
From: AmanGarg-MSFT <notifications@github.com>
Sent: Wednesday, 20 March 2019 10:32
To: MicrosoftDocs/azure-docs
Cc: liamfoneill; Mention
Subject: Re

[2019-03-20 10:46] arjantent commented on #27503
@SaurabhSharma-MSFT Thanks alot! Hope to hear back from you soon.

[2019-03-20 10:47] shashishailaj commented on #27582
@Eddieyc Thank you for your query . We will investigate and update the thread .

[2019-03-20 10:52] msrini-MSFT commented on #27484
@pranay-allanku , You can check [this ](https://github.com/Azure/azure-quickstart-templates/tree/master/201-application-gateway-2vms-iis-ssl)GitHub sample which creates Application gateway with 2 VMs and also creates end to end SSL and HTTP to HTTPS redirection in Application gateway. If you don't want the redirection part, please edit accordingly.

[2019-03-20 10:53] rajb865 commented on #27403
I understand that configedge.sh updates connection string in config.yaml file. So we have written an API for our iot edge solution which fetches the connection string. So if configedge.sh present on the device we ccan use that to update the config.yaml file.

[2019-03-20 10:54] SnehaAgrawal-MSFT commented on #27520
@k3vnj Thanks for the question!
IP Restrictions allow you to define a priority ordered allow/deny list of the IP addresses that are allowed or denied to access your app.
App service is not effected by making any changes to the IP Restrictions. You can check this when creating IP Restriction rule simultaneously open  Kudu and in Process explorer tab, check if the PID w3wp changes or not.

[2019-03-20 10:59] SadiqhAhmed-MSFT commented on #27586
@alenjalex Thanks for the feedback! Appreciate  if you could leave this feedback in our [feedback forum](https://feedback.azure.com/forums/223579-azure-portal?category_id=124981&filter=top&page=1) to get some traction from our product group and up votes from the community.

[2019-03-20 10:59] #27586 closed

[2019-03-20 11:03] rkarlin commented on #14285
Hi @kmchannon thanks for catching this. we'll update the link!

[2019-03-20 11:03] rkarlin commented on #14285
#please-close

[2019-03-20 11:08] rkarlin commented on #14566
@CHDAFNI-MSFT Hi, I tried to clarify this in the document , whether you use a new or existing workspace, storing data in log analytics might incur additional charges for data storage, see the pricing page for more details. I hope that's clearer.

[2019-03-20 11:08] rkarlin commented on #14566
#please-close

[2019-03-20 11:11] srikanthpkrm commented on #10062
Below issue is coming when we click add button . Please see the below console details

angular.js:13018 GET http://votingtest.southindia.cloudapp.azure.com:8080/api/Votes?c=1553078560258 500 (Internal Server Error)
angular.js:13018 PUT http://votingtest.southindia.cloudapp.azure.com:8080/api/Votes/burger 500 (Internal Server Error)
angular.js:15018 Possibly unhandled rejection: {"data":"<!DOCTYPE

[2019-03-20 11:13] rkarlin commented on #15316
Hi @andrewatfornax , thanks for reaching out. The purpose of this section was to explain how to connect Azure Security Center agents in order for you to send data back to our cloud service, and not on general Azure connectivity required for apps to properly work. Does that help? do you need me to change something in the article so that's clearer?

[2019-03-20 11:15] AjayKumar-MSFT commented on #27554
@embee8, This [document](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-nodejs-best-practices-and-troubleshoot-guide) outlines some of the advanced IISNODE configuration that you could achieve, and also highlights some of the best practices and troubleshooting guide for node application on Azure App Service. Kindly take a look and see if that helps.

Again, we greatly appreciat

[2019-03-20 11:15] rkarlin commented on #15746
Hi @declang Thanks for your feedback. We knew this article was out of date and instead created this one to replace it: https://docs.microsoft.com/azure/security-center/tutorial-security-policy. Let me know if you have any other questions. Thanks

[2019-03-20 11:15] rkarlin commented on #15746
#please-close

[2019-03-20 11:29] rs38 commented on #24795
@jakaruna-MSFT any updates? I run into exactly the same issues. some oracle docs are stating changes from 12.1 to 12.2 version of Oracle DB regarding "global ports"?!

[2019-03-20 11:37] mcurko opened #27595 "VMSS availability set vs availability zone"
Are VMSS availability zones a replacement for implicit VMSS availability set, or are they an addition to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5880e85-75e2-21b0-0f7e-b7541bdc04ae
* Version Independent ID: 762f79cf-563d-1bb7-ddae-8c53131abaf6
* Content: [Create an Azure scale set that uses Availability Zon

[2019-03-20 11:52] SadiqhAhmed-MSFT commented on #27588
@christophkarner Thanks for the query! I have assigned this to our Automation expert to help further.

[2019-03-20 11:56] shashishailaj commented on #27592
@SANDEEPPILLUTLA Thank you for your feedback . We will investigate and update this thread further.

[2019-03-20 11:59] shashishailaj commented on #27591
@mcintyre321 Thank you for your feedback . We will investigate and update this thread.

[2019-03-20 12:00] DeanB2015 opened #27597 "`keying a database`"
'keying a database' is mentioned in the documentation.  What does `keying a database` mean in this context?  Can an example be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Azure Active Directory I

[2019-03-20 12:01] sawansharma005 commented on #27504
I am using the below documents:
 - https://docs.microsoft.com/en-us/rest/api/cosmos-db/
 - https://github.com/MicrosoftCSA/documentdb-postman-collection

[2019-03-20 12:03] shashishailaj commented on #27589
@Anmolgan81 Thank you for your feedback. We will investigate and update this thread further.

[2019-03-20 12:12] jakaruna-MSFT commented on #27585
@bramvdklinkenberg Thanks for your interest in debugging this scenario.
Cluster autoscaler deploys a pod in the AKS. That pod monitors for the Pods which are in pending state due to no space in the existing cluster. If it finds any pods, Then it triggers the scaling process.
Please check this [link](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) for more information.

[2019-03-20 12:14] RohitMungi-MSFT commented on #27420
@thecpshah For the read [API ](https://docs.microsoft.com/en-gb/azure/cognitive-services/Computer-vision/concept-recognizing-text#read-api) I have tested this [image](https://www.researchgate.net/profile/Sitaram_R_N_V/publication/220927991/figure/fig1/AS:394135883272195@1470980725199/Samples-of-machine-printed-text-handwritten-text-and-overlapped-text.png) with printed and written text. Setting th

[2019-03-20 12:21] BhargaviAnnadevara-MSFT commented on #27394
@imeya Have you had a chance to check the above suggestion?

[2019-03-20 12:29] bramvdklinkenberg commented on #27585
Hi @jakaruna-MSFT , thanks for the info. But it also scales back when I scale down the deployment.
Does it check any metrics for that?

Curious about the other issues I found.

[2019-03-20 12:30] rkarlin commented on #18118
@faerynity Thanks for letting me know, sorry it's not more intuitive. I've forwarded your feedback to our UX team and have updated the text on the page as you suggested. You should see it live in the next couple of days. thanks!

[2019-03-20 12:31] rkarlin commented on #18118
#please-close

[2019-03-20 12:36] rkarlin commented on #21772
it's fixed, @pagrenin thanks so much for letting us know.

[2019-03-20 12:36] rkarlin commented on #21772
#please-close

[2019-03-20 12:47] rkarlin commented on #15993
@jpr2016git thanks so much for letting us know. I fixed it just now and it should be live soon

[2019-03-20 12:47] rkarlin commented on #15993
#please-close

[2019-03-20 12:50] jakaruna-MSFT commented on #27595
Thanks for the question! We are investigating and will update you shortly.

[2019-03-20 13:00] MikkelHegn commented on #12757
I suggest closing this case, as we haven't heard back regarding the proposed doc update.

[2019-03-20 13:01] MikkelHegn commented on #12757
@Karishma-Tiwari-MSFT Can you help close this?

[2019-03-20 13:02] MikkelHegn commented on #14130
@MicahMcKittrick-MSFT - I suggest closing as this has gone stale for a long time.

[2019-03-20 13:03] MikkelHegn commented on #16234
@MicahMcKittrick-MSFT - I suggest closing this issue.

[2019-03-20 13:04] MikkelHegn commented on #17032
@Karishma-Tiwari-MSFT - please clsose this issue.

[2019-03-20 13:05] SumanthMarigowda-MSFT commented on #27366
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-03-20 13:05] #27366 closed

[2019-03-20 13:05] JohnDoeKyrgyz opened #27598 "Does this work for Self Signed Certificates"
It is unclear whether this works for self signed certificates? If so, what are the elements that the certificate needs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2b0b-c19a1b873b64
* Content: [Configure TLS mutual authentication - Azu

[2019-03-20 13:06] MikkelHegn commented on #10299
I know this is an old one, but for the record, it's documented here which Compose directives is supported. Environment is one fo them: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose#supported-compose-directives

[2019-03-20 13:07] ibTnJohn opened #27599 "Polybase through Azure Data Factory"
Please clarify what is meant by "You can do Polybase using Azure Data Factory".  My assumption is that means Azure Data Factory can be used to get data from Blob storage into a Hyperscale database, but that we will not get the CTAS-like Polybase load performance that happens when you use Azure Data Factory to load into Azure SQL Data Warehouse.  In which case, it would be nice to get some metrics

[2019-03-20 13:13] SimonPuckeyAW commented on #14130
Yes it's fine to close this. We are no longer looking at Service Fabric or Service Fabric mesh for orchestrating our containers

[2019-03-20 13:13] #14130 closed

[2019-03-20 13:16] rothja commented on #27569
@SadiqhAhmed-MSFT @shashishailaj Could you please reassign to @ShubhaVijayasarathy who owns most of the Azure event hubs content. Thank you!

[2019-03-20 13:23] Blackmist commented on #25776
Thanks for reporting this problem @wintersteiger , and thanks for the quick fix @prasanthpul !

The fix isn't live yet, but should go live later today. #please-close

[2019-03-20 13:26] billmath commented on #13074
#please-close

[2019-03-20 13:27] billmath commented on #13424
This has been resolved.

#please-close

[2019-03-20 13:28] billmath commented on #18366
This has been updated.

#please-close

[2019-03-20 13:30] billmath commented on #18581
@darkgray Ping me on email and we can get you to the people who can answer this.  Thanks!

#please-close

[2019-03-20 13:30] billmath commented on #18989
@CHDAFNI-MSFT Ping me on email and we can get you to the people who can answer this. Thanks!
#please-close

[2019-03-20 13:33] craigcaseyMSFT commented on #7635
#please-close

Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. If your question still needs to be addressed, please open a new issue and it will be as

[2019-03-20 13:33] billmath commented on #19156
@MartinRinas I have created a work item for this and we are looking at adding this in the next few months.  For now, we can close this issue and I will let you know once it is live.  Thanks!

#please-close

[2019-03-20 13:34] roalexan opened #27600 "Error importing ComputerVisionAPI"
I'm running on a Windows 10 laptop with Python 3.6.2. I ran: pip install azure-cognitiveservices-vision-computervision. I get an error when trying to import ComputerVisionAPI:

&gt;&gt;&gt; from azure.cognitiveservices.vision.computervision import ComputerVisionAPI
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
ImportError: cannot import name 'ComputerVisionAP

[2019-03-20 13:36] sybrenstuvel opened #27601 "Unclear what "FTP and local Git deployment" means."
&gt; This deployment user is required for FTP and local Git deployment to a web app.

The documentation doesn't explain what `deploymentLocalGitUrl` is or what "local Git deployment" means. It also doesn't explain what that FTP connection would be used for. There is no use of neither Git nor FTP in this document, and still we're deploying something, so this is rather confusing.

---
#### Document

[2019-03-20 13:40] orspod commented on #27428
@TzviaGT, thanks for the answer.
@juho-hanhimaki,  More information re: cold storage and caching (https://docs.microsoft.com/en-us/azure/kusto/concepts/cachepolicy).
Pricing page and cost links above should help as well.

[2019-03-20 13:41] GauravLad12 commented on #24475
Is there any way to eliminate X-Forwareded-For header from the request ?

[2019-03-20 13:42] colinrippeyfinarne opened #27602 "Found two issues uploading the policy"
First issue:

policy "B2C_1A_TRUSTFRAMEWORKEXTENSIONS" of tenant "mytenant.onmicrosoft.com".Tenant "mytenant.onmicrosoft.com"
does not have CryptographicKey referenced by storageReferenceId "B2C_1A_AADAppSecret".

I resolved this by entering the value for the Policy Key I created in the section Create A Policy Key, step 6. in the following element:

Key Id="client_secret" StorageReferenceId="B2C_1

[2019-03-20 13:42] billmath commented on #19794
@jordi-j Good catch.  There used to be 2 URLs needed but now there is only 1.  This has been fixed and should be live in the next day or 2.  Thanks!

#please-close

[2019-03-20 13:44] billmath commented on #19911
This is not my experience.  The articles are correct.

#please-close

[2019-03-20 13:44] sybrenstuvel opened #27603 "Logging"
Where are the logs of the docker container sent to? Generally I'd use `docker logs {container name}` to see the logging. How does this work in Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd893b3c-4c5c-22af-c74a-31f0a2e48b89
* Version Independent ID: 651610b8-f5c4-e22a-271b-bdbf5e6b39ed
* Content: [Create Dock

[2019-03-20 13:46] billmath commented on #19964
@josuvil Thank you for the feedback.  I have created a work item to consider updating this in the next few months.  At this point we can close this issue and I will reach out once it has been update.  Thanks!

#please-close

[2019-03-20 13:47] jomolesk commented on #20347
This guidance is being transitioned to a new format, and we will take these comments into consideration during that process. #please-close

[2019-03-20 13:48] KetanChawda-MSFT commented on #27541
@mikeclymer When integrating Azure Functions with other Azure services like Cosmos DB, you may have errors raised that originate from the APIs of the underlying services. The Exceptions and Error codes are documented [here in this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#exceptions-and-return-codes).

[Reference Document](https://docs.microsof

[2019-03-20 13:48] CHEEKATLAPRADEEP-MSFT commented on #27589
@anmeng10101 Currently, Azure HDInsight don’t support this feature yet.

I would suggest you to vote up an idea submitted by another Azure customer.
[https://feedback.azure.com/forums/217335-hdinsight/suggestions/17033176-hdinsight-autoscale](https://feedback.azure.com/forums/217335-hdinsight/suggestions/17033176-hdinsight-autoscale)

All of the feedback you share in these forums will be monitored

[2019-03-20 13:49] billmath commented on #20043
@rfoust Thank you for the feedback.  I have a work item to update the TLS portion and will include this with it also.  At this point we can close this issue and I will follow up once it is live.  Thanks!

#please-close

[2019-03-20 13:50] sybrenstuvel opened #27604 "SSH port is remapped to HTTP port"
The documentation describes `docker run -p 2222:8000` to run the image, which maps host port 2222 to the container's HTTP port 8000. This is also shown in the browser screenshot, where it is connected to `localhost:2222`. However, port 2222 is used by the Docker container for the SSH server. What is the point in re-using that same port number for a different purpose? There are only two ports expos

[2019-03-20 13:51] mestew commented on #13472
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-20 13:51] billmath commented on #20123
@MikeDembek Thank you for your feedback.  I have created a work item for this.  At this point we can close the issue and I will reach out to you once it is updated.  Thanks!

#please-close

[2019-03-20 13:52] billmath commented on #20154
Unfortunately that is not something I can do.  It would be our publishing folks.

#please-close

[2019-03-20 13:54] billmath commented on #20287
@DeanGross this has been fixed and should be live later today.  Thanks!

#please-close

[2019-03-20 13:55] billmath commented on #20286
@DeanGross Thank you for your feedback.  I have created a work item for this.  At this point we can close the issue and I will reach out to you once it is updated.  Thanks!

#please-close

[2019-03-20 13:57] billmath commented on #20446
@beowulf005  Thank you for your feedback.  I have created a work item for this.  At this point we can close the issue and I will reach out to you once it is updated.  Thanks!

#please-close

[2019-03-20 13:58] billmath commented on #20723
@RomanNG Thank you for your feedback.  I have created a work item for this.  At this point we can close the issue and I will reach out to you once it is updated.  Thanks!

#please-close

[2019-03-20 13:59] billmath commented on #20751
@MikeDembek Thank you for your feedback.  I have created a work item for this.  At this point we can close the issue and I will reach out to you once it is updated.  Thanks!

#please-close

[2019-03-20 13:59] rs38 commented on #24795
it worked after some reboots, but many steps of course will fail with a different version of Oracle. also the login mask for EM Express looks different with a input form for container name.

[2019-03-20 14:01] #20347 closed

[2019-03-20 14:02] msrini-MSFT commented on #27484
I will go ahead and close this issue, please reopen if you have any further questions.

[2019-03-20 14:02] #27484 closed

[2019-03-20 14:02] billmath commented on #20772
@yadcam ping me on email.  That would be the easiest.  Thanks!

#please-close

[2019-03-20 14:05] mikeclymer commented on #27541
@KetanChawda-MSFT Thank you for the pointers. I am aware of the Cosmos DB error codes. I may be missing it, but I do not see any code examples, specific to the binding, for capturing those errors in either of the links you provided.

The links you provided do not answer my other question. How do I get the data, from the binding, for the newly created document in Cosmos DB? That data, like an autog

[2019-03-20 14:10] jasonarobinson commented on #21224
Is there a way to force clear (delete) this traffic view data?

I have recently built a "proof of concept" environment combining Geographic and Priority profiles.  In the process, I have made many changes and made several client connections (from many geographic areas) each time.  Traffic view has recorded all connections, however, this data is no longer reflective of my current configuration.

Ra

[2019-03-20 14:13] msmimart commented on #23124
Yes - please see the video starting at 5:05 and 5:45

[2019-03-20 14:17] ckarras opened #27606 "How do I create a bot for an existing LUIS app?"
In all tutorials I found, the LUIS app is created automatically when the bot is created. This doesn't work for me because the LUIS app is created with default settings that are inappropriate, for example the language of the bot is English and can't be changed. It's also reasonable to think people would typically build something with LUIS to validate the feasibility before building a full bot. Ther

[2019-03-20 14:21] varandian commented on #27384
Yes, that's correct.  The pop-up comes up and then:

1) I enter in the G Suite credentials that has Super Admin privileges on the G Suite side (I have tried this with a lower "minimum privileged" account as well)
2) It shows the consent screen, I click Allow
3) Then it gets stuck at "Redirecting..." in the title bar of that popup window and nothing happens.

[2019-03-20 14:22] aaronpcz opened #27607 "Dash js version"
The dash.js dependency has a number of releases after v1.0, I think the latest is v2.9.1.

Is this documentation suggesting to stick to an old release or just a case of old documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fee3830-8d03-9d6d-9c30-0ede9933a459
* Version Independent ID: 794397d3-b604-0c63-50b

[2019-03-20 14:23] chriskarkowsky commented on #19828
I have this same issue with Robo3t and Mongoose.

Here is a screenshot from Robo:
![Screen Shot 2019-03-20 at 10 22 16 AM](https://user-images.githubusercontent.com/24321869/54691731-25ebca80-4afa-11e9-84bf-1b9984774b3d.png)

Also from Mongoose:
`(node:75409) UnhandledPromiseRejectionWarning: MongoError: Shared throughput collection should have a partition key
console.pub.js:42
ActivityId: 7b53602

[2019-03-20 14:25] jurajgh commented on #23124
yes - between 5:05 and 5:45, the simplified account creation is demonstrated - **without** the birthdate prompt. the same experience I was used to with non-gmail consumer accounts.
currently, (with google federation not configured), gmail user is required to enter their birthdate, while non-gmail users' experience remains the same as in the video.
the above would imply simplyfied guest account cre

[2019-03-20 14:28] smithsson68 commented on #21602
@awickham10 Having the same problem. In your example x.z.web.core.windows.net which part is your custom domain? Is it x.z.web or just x.z? Thanks

[2019-03-20 14:28] diberry commented on #27606
@ckarras Thank you for your feedback. Have you looked at the [bot builder samples using LUIS](https://github.com/Microsoft/BotBuilder-Samples/blob/master/README.md)? They provide LUIS apps as part of the sample. I would suggest you start with [this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/12.nlp-with-luis).

[2019-03-20 14:33] gerisg commented on #27570
@RohitMungi-MSFT I appreciate your answer !! Thanks !!

[2019-03-20 14:35] daspo opened #27608 "This process fails when there are ghosted NICs"
If you have ghosted NICs in the Windows VM that used to have the primary IP address configured before, you get a warning about that when you try to assign the IP again to the new NIC. If you chose yes to the prompt "Do you want to remove the static IP configuration for the absent adapter?" you are disconnected and you can't RDP back to the VM. Rebooting or deallocating the VM doesn't solve it. You

[2019-03-20 14:36] keithl8041 opened #27609 "Incorrect sample code"
The article refers to auto-complete and explains how it differs from suggestions, but the sample code given is for suggestion rather than auto-complete. The correct auto-complete C# sample can be found in the referenced sample project under DotNetHowToAutocomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de445b1

[2019-03-20 14:42] ckarras commented on #27606
Hi @diberry, I'm looking for a sample that does not already include a LUIS app, and shows how I would integrate an existing LUIS app into the bot. I also want to understand all the pieces and not have a sample that provides all the pieces pre-built for me, without clarifying what's the role of each piece. So I can't yet answer your last question.

[2019-03-20 14:51] rkarlin commented on #20182
This fix is live.
#please-close

[2019-03-20 14:53] thecpshah commented on #27420
Thank you @RohitMungi-MSFT for your reply. So using `Handwritten` will detect both `Handwritten` and `Printed` texts as opposed to just `Handwritten` text. Same for using `Printed` mode.

[2019-03-20 14:56] ErikOnGitHub commented on #8850
I was just working my way through the ASR tutorial when I ran into the "ContosoHyperVSite" documentation issue that Phydeauxman originally reported. After some googling I ended up here and discovered that the documentation is (still) incorrect.

@rayne-wiselman: It is clear to me now that I can choose whatever name I want, but I would be nice if this is corrected in the tutorial itself. The follow

[2019-03-20 14:59] BhargaviAnnadevara-MSFT commented on #27571
@Kelviny128 This could be due to insufficient [privileges](https://docs.microsoft.com/en-us/azure/azure-monitor/app/resources-roles-access-control#access) over those resources. Can you confirm your Subscription permissions?

[2019-03-20 15:02] georgewallace commented on #27588
@christophkarner I can confirm that Organization repos are queried if you have access to them. I just verified and I see 100's of our Repos when I try to setup source control. If this is occurring make sure that you verify the credentials you are signing in with and also try it with using an InPrivate or Incognito session to ensure there are no cached accounts.  We only return the first 200, you w

[2019-03-20 15:04] shashishailaj commented on #27311
@raffiloch We investigated your recommendation however it is already mentioned in the section where we advise to [determine the exposure to password based sign-in protocols if the privileged admin accounts are using exchange online](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-admin-roles-secure#determine-exposure-to-password-based-sign-in-protocols-if-using

[2019-03-20 15:04] #27311 closed

[2019-03-20 15:09] joeljanke opened #27611 "You cannot disable MFA for highly privileged roles for Azure AD and Office365."
"You cannot disable MFA for highly privileged roles for Azure AD and Office365. "  - Why is this the case?   If we choose to use AAD authentication federation and handle our MFA through a third party, why are we being forced to use AAD MFA inside of PIM as a secondary MFA?   We should have the choice of using MFA or not here.  It makes no sense for you to take this choice away from us.

---
#### D

[2019-03-20 15:16] sybrenstuvel commented on #27601
As a followup, the documentation also states:

However, they are never used, and I could create the webapp with the `az webapp create ...` command without creating a username/password.

Unfortunately, there is no information on what to do get a redeploy after pushing a new version of the Docker image to Docker Hub.

[2019-03-20 15:16] LuisCabrer commented on #19440
I don't find the issue very actionable / specific. #please-close

[2019-03-20 15:19] #16234 closed

[2019-03-20 15:23] jakaruna-MSFT commented on #27585
@bramvdklinkenberg It also checks for the underutilized nodes.
It takes care of both scaling up and down as well.
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/README.md#introduction

[2019-03-20 15:23] biqas commented on #19440
Take this example:

[code]

Here the reference is to an structure people: "/document/people/*/lastname".
Where is the structure defined?? why is it not referenced in the document, so you can lookup the structure?

[2019-03-20 15:29] KetanChawda-MSFT commented on #27541
@brettsam @kashimiz  Can you please provide your inputs here.

[2019-03-20 15:29] sethmanheim commented on #15788
@Donnie-Zhang Very sorry for the slow response. We will remove this step from the documentation as it does not apply to Azure Stack. #please-close

[2019-03-20 15:30] #7120 closed

[2019-03-20 15:36] marabout2015 opened #27616 "Link text is wrong"
On this page there are two links that say they point to a classification tutorial, while in fact they point to a regression tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Create automated ML experim

[2019-03-20 15:38] asgpng opened #27617 "404 when accessing script on github"
The specified [script](https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet) does not seem to exist, so the example commands can't be executed. Is there a new script to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103

[2019-03-20 15:40] cherylmc commented on #26900
I can add a link to the SKU section in the overview that will link to the information in this article that is specific only to availability zone gateways.

[2019-03-20 15:40] cherylmc commented on #26900
#please-close

[2019-03-20 15:41] kazshi commented on #26518
@CHEEKATLAPRADEEP-MSFT @AjayKumar-MSFT @Juliako I cannot find information the hresult code  ("MPE_ENC_ENCRYPTION_NOT_SPECIFIED_IN_URL" and "MPE_ENC_ENCRYPTION_NOT_SET_IN_DELIVERY_POLICY") - where can I find?

[2019-03-20 15:43] #9376 closed

[2019-03-20 15:43] Brenduns commented on #15788
@Donnie-Zhang  Please reassign this to @sethmanheim who is the article owner.  This article changed ownership about the time this issue was submitted, and has remained untriaged.

[2019-03-20 15:43] #12012 closed

[2019-03-20 15:43] #12396 closed

[2019-03-20 15:43] #17082 closed

[2019-03-20 15:44] #18366 closed

[2019-03-20 15:44] #18989 closed

[2019-03-20 15:44] #19156 closed

[2019-03-20 15:44] #19964 closed

[2019-03-20 15:44] #20043 closed

[2019-03-20 15:44] #20123 closed

[2019-03-20 15:45] #20194 closed

[2019-03-20 15:45] #20287 closed

[2019-03-20 15:45] #20751 closed

[2019-03-20 15:45] #6418 closed

[2019-03-20 15:46] #11271 closed

[2019-03-20 15:46] #11556 closed

[2019-03-20 15:46] #13220 closed

[2019-03-20 15:46] sethmanheim commented on #15788
That should be @TravisCragg-MSFT to do the reassigning... Thanks folks!

[2019-03-20 15:46] #13472 closed

[2019-03-20 15:46] #13631 closed

[2019-03-20 15:47] #14566 closed

[2019-03-20 15:47] #15111 closed

[2019-03-20 15:47] #19334 closed

[2019-03-20 15:47] #19911 closed

[2019-03-20 15:47] #20154 closed

[2019-03-20 15:48] #27353 closed

[2019-03-20 15:48] #12077 closed

[2019-03-20 15:48] #14052 closed

[2019-03-20 15:48] #14285 closed

[2019-03-20 15:48] #15000 closed

[2019-03-20 15:49] #15746 closed

[2019-03-20 15:49] CeciAc opened #27618 "URL of Notebook is incorrect"
@dpserfaty commented on [Wed Mar 20 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/340)

Hello!
The URL to import the notebook in Databricks has a blank space in the middle of it. What could I do?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 91402667-4be2-ddaf-6b7a-d24d478e5cac
* Version

[2019-03-20 15:49] #15993 closed

[2019-03-20 15:49] #17080 closed

[2019-03-20 15:49] SergeyKanzhelev commented on #11507
@vgorbenko should be able to answer the question (and even read the original).

[2019-03-20 15:49] #17991 closed

[2019-03-20 15:49] #19794 closed

[2019-03-20 15:49] #20772 closed

[2019-03-20 15:50] #25462 closed

[2019-03-20 15:50] #25776 closed

[2019-03-20 15:50] #18118 closed

[2019-03-20 15:51] #18581 closed

[2019-03-20 15:51] #20286 closed

[2019-03-20 15:51] #20446 closed

[2019-03-20 15:51] #21207 closed

[2019-03-20 15:51] #21772 closed

[2019-03-20 15:52] #22006 closed

[2019-03-20 15:52] CeciAc commented on #27618
Hi team,
the contributor is reporting a space in the example URL
![imagen](https://user-images.githubusercontent.com/26746247/54698993-fdba9680-4b0e-11e9-9181-f86d9ec7529c.png)

[2019-03-20 15:52] #13074 closed

[2019-03-20 15:52] #13424 closed

[2019-03-20 15:52] #15703 closed

[2019-03-20 15:53] #20151 closed

[2019-03-20 15:53] #7635 closed

[2019-03-20 15:53] #11144 closed

[2019-03-20 15:54] #13951 closed

[2019-03-20 15:54] #20196 closed

[2019-03-20 15:54] #17032 closed

[2019-03-20 15:54] #14757 closed

[2019-03-20 15:54] #12757 closed

[2019-03-20 15:56] shashishailaj commented on #27587
@madhanan Thank you for your query . We will investigate and update the thread.

[2019-03-20 15:59] iainfoulds commented on #27585
From the doc:

![image](https://user-images.githubusercontent.com/17856069/54699476-4f065e00-4aee-11e9-88fa-adabeb32cb11.png)

The VMSS autoscaling is not what's used here. It's the Kubernetes cluster autoscaler. The two are quite different. The link to the Kubernetes cluster autoscaler that @jakaruna-MSFT shared provides information what's happening.

[2019-03-20 16:02] gerisg opened #27619 "Get different results when modify the top parameter in Generate Answer API"
I have a knowedge base created with data about hair dyes. It contains 1350 QnA pairs, and each pair contains many questions (~20). In addition, a list with approximately 200 synonyms were loaded by alterations api.

I sent requests to 'generateAnswer' service with the Postman tool. Here I share my real URL: https://tehi-br.azurewebsites.net/qnamaker/knowledgebases/d43e88f1-5fd3-4de3-aa3a-31d30a1c0

[2019-03-20 16:02] sqlazure commented on #27479
@Mike-Ubezzi-MSFT  Thank you for the review, yes. I'm good with the red arrow and placement of this information.

[2019-03-20 16:03] shashishailaj commented on #27597
@DeanB2015 Thank you for your query . We will investigate and update the thread.

[2019-03-20 16:03] mjgabriel commented on #27555
@SnehaAgrawal-MSFT That's not the issue, I have Application Settings available to me, it's the KeyVault references that appear not to be working.

[2019-03-20 16:04] sqlazure commented on #27477
@Mike-Ubezzi-MSFT  thank you for the review, yes I'm good with the red arrow as placement for this addition.

[2019-03-20 16:11] shashishailaj commented on #27598
@JohnDoeKyrgyz Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:12] sqlazure commented on #27472
@vainolo  1 - regarding the question - Add where?

The page https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing has following section towards bottom:
======================
Manage SQL database auditing using ARM templates
You can manage Azure SQL database auditing using Azure Resource Manager templates, as shown in these examples:

Deploy an Azure SQL Server with Auditing ena

[2019-03-20 16:14] shashishailaj commented on #27599
@ibTnJohn Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:14] MicahMcKittrick-MSFT commented on #27562
@peterennisrda thanks for the find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-03-20 16:14] #27562 closed

[2019-03-20 16:14] MicahMcKittrick-MSFT commented on #27560
@peterennisrda thanks for the find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-03-20 16:14] #27560 closed

[2019-03-20 16:19] mganeshphani commented on #27350
Hello,

I did went through the blog and setup my pipeline.. it would be great if
microsoft can integrate the guidance into docs, this would be more
appealing for the java and opensource users if microsoft starts having some
good documentation of other languages as well, so that the open source
community wont feel that they are not welcome.

On Wed, Mar 20, 2019 at 12:53 AM KetanChawda-MSFT <notifi

[2019-03-20 16:20] cherylmc commented on #13319
Doc was updated a while ago. #please-close

[2019-03-20 16:20] shashishailaj commented on #27600
@roalexan Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:20] sleebapaul commented on #25242
@ninghu What are the steps to create a custom environment for my experiment? Say,
1. PyTorch `0.4.0`
2. Cuda `9.1`

[2019-03-20 16:20] cherylmc commented on #15678
@anzaman

[2019-03-20 16:21] gorzilla commented on #27328
If the hash is already displayed on theb page, could you at least make sure the hash matches in between the `wget` and `sudo`?

[code]

[2019-03-20 16:22] cherylmc commented on #16181
Updated. Thanks! #please-close

[2019-03-20 16:22] Mike-Ubezzi-MSFT commented on #19828
The ONLY exception is for a fixed collection where a partition key is not required. As soon as you introduce partitioned containers, you must use a [partition key](https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#choose-partitionkey).

[2019-03-20 16:23] shashishailaj commented on #27601
@sybrenstuvel Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:24] shashishailaj commented on #27602
@colinrippeyfinarne Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:25] SubhashVasarapu-MSFT commented on #27397
@difanyi , Checking whether you were able to resolve the issue by listing the ports in NSGs. Please let us know whether you need more help on this.

[2019-03-20 16:25] jasonrmh opened #27621 "New-AzApiManagementVirtualNetwork no longer accepts -Location parameter"
New-AzApiManagementVirtualNetwork no longer accepts -Location parameter

$apimVirtualNetwork = New-AzApiManagementVirtualNetwork -Location $location -SubnetResourceId $apimsubnetdata.Id

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementvirtualnetwork?view=azps-1.5.0

is now:
$apimVirtualNetwork = New-AzApiManagementVirtualNetwork -SubnetResourceId $apimsubnetd

[2019-03-20 16:25] shashishailaj commented on #27603
@sybrenstuvel Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:26] SaurabhSharma-MSFT commented on #27429
@mhollismcgill We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 16:26] #27429 closed

[2019-03-20 16:26] SaurabhSharma-MSFT commented on #27427
@Palvag We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 16:26] #27427 closed

[2019-03-20 16:26] snyder-riley-pfg opened #27622 "Unable to sync github organization repos"
We seeing an error with syncing organization repos. When setting up the source control, we can see our organization repos after authenticating and have no problem setting the desired repo and a folder path. Then when a sync job happens we are hanging after "Logging in to Azure...". Viewing the sync job output shows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-20 16:26] shashishailaj commented on #27604
@sybrenstuvel Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:28] MicahMcKittrick-MSFT commented on #27595
For VMSS we use things called Placement groups instead of Availability Sets. They are essentially the same thing as an AV set but specific for Scale Sets. That being said, when using VMSS you have the option to use the standard placement groups in a single zone or for more redundancy you can spread those placement groups across multiple zones. This allows you even higher redundancy as each zone ha

[2019-03-20 16:28] shashishailaj commented on #27606
@ckarras we will get this investigated and update the thread.

[2019-03-20 16:28] cherylmc commented on #19228
I updated the article quite some time ago (per internal email). I didn't realize this was still open. #please-close.

[2019-03-20 16:30] shashishailaj commented on #27607
@aaronpcz Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:30] msmimart commented on #23124
@jurajgh thank you for identifying this; we're looking into the root cause of the behavior you're seeing.

[2019-03-20 16:30] MicahMcKittrick-MSFT commented on #27345
Thanks @naimco I am going to assign this to @genlin to work with the creator of this content to get it updated to make more sense and easier to follow.

@genlin please take a look

[2019-03-20 16:32] shashishailaj commented on #27611
@joeljanke Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:33] shashishailaj commented on #27609
@keithl8041 Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:33] SnehaGunda commented on #25524
@pdesmarets thanks for your feedback, Thomas updated the doc with mixed doc type examples. The PR referenced above should update the doc.

We will now close this issue if you don't have further questions.

#please-close

[2019-03-20 16:34] anzaman commented on #15678
@cherylmc - The gateway SKUs clearly state that basic does not support OpenVPN and IKEv2, which is needed for Mac and Linux. I'm not sure that it needs to be repeated here

[2019-03-20 16:35] SaurabhSharma-MSFT commented on #14066
@motowilliams I have checked with the products team and as per them The Set-ASCJITAccessPolicy and Invoke-ASCJITAccessPolicy cmdlets are non-official cmdlets that were deprecated long ago as documented in the project’s [github repo](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoft%2FAzure-Security-Center&data=02%7C01%7CSaurabh.Sharma%40microsoft.com%7C4a2d49

[2019-03-20 16:35] shashishailaj commented on #27608
@daspo Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:35] Mike-Ubezzi-MSFT commented on #27617
@asgpng Thank you very much for bringing this to our attention. We are currently investigating and will update the content as appropriate.

[2019-03-20 16:39] shashishailaj commented on #27616
@marabout2015 Thank you for your feedback . We will investigate and update further.

[2019-03-20 16:41] SaurabhSharma-MSFT commented on #27505
@kiranjshetty Thank you for providing the document details.  We will investigate and update as appropriate.

[2019-03-20 16:42] Mike-Ubezzi-MSFT commented on #27617
@srdan-bozovic-msft @CarlRabeler The PowerShell example in [Validate and modify an existing virtual network](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet#validate-and-modify-an-existing-virtual-network) has a bad URL for the `$scriptUrlBase` value.

That value currently being: `https://raw.githubusercontent.com/Microsoft/sql-server-samples

[2019-03-20 16:43] himanshusinha-msft commented on #27318
Since we have not heard back from you and we are unable to repro this on our side , we are going ahead & closing this issue . In the event if you feel appropriate , you can always open the issue again .

[2019-03-20 16:43] #27318 closed

[2019-03-20 16:48] s-leonard opened #27626 "SQL Injection"
I know this is a getting started demo, but surely all examples should advocate the use of parameters?
e.g.
var sqlQueryText = "SELECT * FROM c WHERE c.LastName = @name";
CosmosSqlQueryDefinition queryDefinition = new CosmosSqlQueryDefinition(sqlQueryText).UseParameter("@name", "Andersen");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-20 16:49] SaurabhSharma-MSFT commented on #27590
@imeya Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 16:49] SnehaGunda commented on #21823
@nealmcb apologies for the really long delay in getting back, SQL refers to the SQL API in Cosmos DB. Because we have a different language specific quickstarts and tutorials that work with Cosmos DB SQL API accounts, they are placed under that node.

We recently made some changes to the Table of Contents/Left nav, we defaulted all the top level QuickStarts and Tutorials to SQL API to provide a def

[2019-03-20 16:49] rayne-wiselman commented on #16501
@tFable Hi Tony. We can't comment on exact release dates. Since this isn't an issue with the document we won't reopen.

thanks - Rayne

[2019-03-20 16:53] JasonWHowell commented on #27589
Autoscale is in preview and is described in detail here:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-autoscale-clusters
Autoscale is currently only supported for Azure HDInsight Hive, MapReduce and Spark clusters version 3.6.

[2019-03-20 16:55] marcusclayton commented on #27293
An inline note or tip clarifying the use of Set-MsolDomainAuthentication vs. Convert-MSOLDomainToStandard would be helpful. As I understand it the first is a "cloud only" setting, which leaves the on-prem ADFS trust in place, the other makes changes to your ADFS farm. Seems like best practice is to use the former. I'll can submit a pull request to include an additional note.

[2019-03-20 16:56] AmanGarg-MSFT commented on #27435
You are welcome. Glad to hear that your issue was resolved.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-20 16:56] #27435 closed

[2019-03-20 17:04] ecfan commented on #9848
Hi @kpvnreddy,

Did you try Divya's suggestion to use "DividedBy" as the filter names are case sensitive?

[2019-03-20 17:04] pharring commented on #9754
It doesn't matter whether they're before or after. It works the same either way.

[2019-03-20 17:05] YutongTie-MSFT commented on #24006
@simonech Hi, I have contact the team for investigating and tracking this issue. I will get back to you as soon as I get any update from them. Thank you again for your help and feedback here. ^^

[2019-03-20 17:08] JonMarbach commented on #26014
Same issue here (same callstack in the Xorg log with RH7.6). I have to say I ran into similar issues about a year ago and became very discouraged on using NV+Linux+Azure. Someone on the product team needs to be regularly QC-ing this process as it seems to regress very frequently.

[2019-03-20 17:10] cherylmc commented on #15678
@anzaman  - Thanks! #please-close

[2019-03-20 17:13] SaurabhSharma-MSFT commented on #27584
@alenjalex Thanks for your feedback. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 17:13] georgewallace commented on #27622
@snyder-riley-pfg Thanks for reaching out.  Can you confirm you have your Run As Account configured properly in your Automation Account?  Also what state that the sync job show when you look at it?

[2019-03-20 17:13] richrundmsft commented on #21354
Ping for @jimdial  @bwren  and @MeirMen -- can you address or redirect to the current owner?

[2019-03-20 17:16] RyanHill-MSFT commented on #27036
Closing this thread as it's been picked up in StackOverflow.

[2019-03-20 17:16] #27036 closed

[2019-03-20 17:17] SubhashVasarapu-MSFT commented on #27567
@n0ttsweet , Thanks for your feedback. We are working on it to update the document.

[2019-03-20 17:17] gate502 opened #27628 "Azure AD Connect Sync Group Owners"
What attribute or is it possible to sync Group Owners from AD on Prem to Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a86aa3-3274-12eb-66a4-8147c0438ed2
* Version Independent ID: da45ec44-72ee-009c-4c0c-472b496f785c
* Content: [Add or remove group owners - Azure Active Directory](https://docs.microsoft.co

[2019-03-20 17:19] robinsh commented on #16613
This issue can be closed. The problem was that they were using a Free IoT Hub, and you can't do that for this tutorial, as it requires you to set up multiple endpoints.

[2019-03-20 17:21] vinothinidharmaraj opened #27629 "Domain join extension in virtual machine scale set"
Hi, trying to add the domain join extension to the existing vm scale set.  VM Scale set do support the extension, as per the document https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#extensions. When i try to add script for existing VM scale set im getting parser error. When add the domain manually it does work.

**Error details**

2019-03-20T00:55:4

[2019-03-20 17:23] Mike-Ubezzi-MSFT commented on #27626
@s-leonard Thank you very much for the insightful feedback. For the most part, all quickstarts and tutorials are based upon static values. Not sure if this is for simplicity or if there is a possibility to also include more advanced examples with these sample scripts. I am going to assign this to the content owner to evaluate and update as appropriate.

[2019-03-20 17:26] AlexFiala opened #27630 "Data Egress Charges with Virtual WAN"
Typically, all data egress from an Azure datacenter is charged at the default volume rate.  Is the same the case with Virtual WAN?  Basically, will customers still be charged the standard data egress rate when using Virtual WAN + S2S or Expressroute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-522

[2019-03-20 17:28] MarileeTurscak-MSFT commented on #27628
@gate502
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 17:29] krob527 opened #27631 "Is this still relevent?"
I was unable to find a "lab Account" as described above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef4a1f27-e5f4-25b8-b41a-731cb8880c44
* Version Independent ID: b1dfdcbb-57d8-70cc-0430-4291431da97c
* Content: [Set up a lab account with Azure Lab Services](https://docs.microsoft.com/en-us/azure/lab-services/classr

[2019-03-20 17:29] snyder-riley-pfg commented on #27622
I believe we has the run as account configured properly, we use it for many runbooks in this same automation account and have not had any issues. Is there anything beyond the basic run-as account creation that we would need to do?

The sync job shows as "Failed". and seems to have ran for about 60 seconds.

[2019-03-20 17:31] crshovrd41 commented on #15678
I don't think it's appropriate to assume this knowledge is common. Updating the document to clearly reflect that Standard SKU is required for Mac VPN would make this much easier to know.

[2019-03-20 17:36] tfitzmac commented on #27573
@ChrisFg - thanks for the suggestion. I have submitted an update.

[2019-03-20 17:41] #27573 closed

[2019-03-20 17:41] pbutlerm commented on #27344
It would be good to add this as a note. @v-miclar Could you please take a look and update?

[2019-03-20 17:41] banisadr commented on #27026
#please-close

[2019-03-20 17:45] TomArcher commented on #18894
@daniel-rocha I'm unable to find the verbiage you quote, and I do find the pom.xml file in the root. Has this article been updated since you opened the Issue?

[2019-03-20 17:47] TravisCragg-MSFT commented on #15788
@Brenduns @sethmanheim the article's owner it still showing as Brenduns. Future issues will be assigned to him until this is changed.

@Donnie-Zhang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 17:47] #15788 closed

[2019-03-20 17:47] TomArcherMsft commented on #18894
@daniel-rocha I'm unable to find the verbiage you quote, and I do find the pom.xml file in the root. Has this article been updated since you opened the Issue?

[2019-03-20 17:47] TravisCragg-MSFT commented on #13319
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 17:47] #13319 closed

[2019-03-20 17:48] TravisCragg-MSFT commented on #16181
@andrew-kelleher We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 17:48] #16181 closed

[2019-03-20 17:49] tfitzmac commented on #8905
I have opened an [issue](https://github.com/Azure/azure-resource-manager-schemas/issues/582) in the schemas repo which is where this work would need to be done.

[2019-03-20 17:49] TravisCragg-MSFT commented on #19228
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 17:49] #19228 closed

[2019-03-20 17:49] tfitzmac commented on #8905
#please-close

[2019-03-20 17:52] rupeshprasad commented on #27475
I figured it out, it was me being silly, i was calling api in another thread and because of that it was not working. I removed async and it started working.

[2019-03-20 17:52] #27475 closed

[2019-03-20 17:54] dlepow commented on #20894
@IanMercer - I am closing this issue because our policy is to close issues that have been inactive for the last 90 days. Thank you for taking the time to share your product and documentation feedback with us.  You point out an opportunity for us to enhance guidance for ACR and Azure Dev Ops in the future.
#please-close

[2019-03-20 17:54] himanshusinha-msft commented on #27618
@dpserfaty @CeciAc .  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-20 17:56] #20894 closed

[2019-03-20 17:57] polarapfel opened #27633 ""Passing messages from an Azure web role to an Azure worker role""
"Passing messages from an Azure web role to an Azure worker role"

Seems like this page is really really old. Maybe time for an update to remove obsolete references? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30921c17-f076-3747-00e4-0615e376a241
* Version Independent ID: d637355d-cb58-500f-f05c-d0b48fca4d7a
* Co

[2019-03-20 18:00] MarcLaf opened #27634 "Instructions seem incomplete - Missing MFA Trusted IPs"
Don't you have to also include the locations under MFA Trusted IPs (MFA Settings -&gt; Service Settings -&gt; Skip multi-factor authentication for requests from following range of IP address subnets ). Because if you don't do that, every location requires MFA by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2019-03-20 18:01] brettsam commented on #27541
There's no way to get the return value of an output binding today. If there's an error inserting, it'll be logged as a failure, but a success will log nothing.

If you need those details, you'll have to use the Cosmos SDK directly for your inserts. Note that if you're using .NET, you can use a `DocumentClient` as an input parameter and we'll give you one configured with your connection string: htt

[2019-03-20 18:08] mike-urnun-msft commented on #27621
Hi @jasonrmh Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-20 18:10] jasonrmh commented on #27411
There is:
Get-AzApiManagementCertificate
New-AzApiManagementCertificate
Remove-AzApiManagementCertificate

but no Import-AzApiManagementCertificate?

[2019-03-20 18:12] dlepow commented on #14332
@nizi1127 - Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. As you might know, the Batch AI service is being [retired](https://docs.microsoft.com/en-us/azure/batch-ai/overview-what-happened-batch-ai) and the capabilities are now available as part of the Azure Machine Learning service. Please see the AML [documentation](https://d

[2019-03-20 18:12] aquibqureshi26 commented on #20288
Issue still persist?

[2019-03-20 18:13] shirgoldbird commented on #17346
After investigating with the team, we've decided to leave the metadata in place and will instead work on determining a better formula for calculating it. Thank you again for the feedback and feel free to open a new issue if you notice anything else.

[2019-03-20 18:13] shirgoldbird commented on #17346
#please-close

[2019-03-20 18:13] SaurabhSharma-MSFT commented on #27630
@AlexFiala Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 18:15] SaurabhSharma-MSFT commented on #27629
@vinothinidharmaraj Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 18:16] TomArcherMsft commented on #25683
@CeciAc @zer0big The owner of that sample is at a conference and said that he will address this issue in the next few days. I'll follow up with him Friday to ensure that the sample gets moved to an official repo.

[2019-03-20 18:17] markkerins opened #27638 "Why are some api calls which return lists treated as a POST Call"
I'm trying to use PowerBI to get an overall view of our app services in azure.
I'm able to retrieve alot of information about it  as the natural behaviour of PowerBi web connectors operate under the default context of GET methods.

I've bumped into a couple of methods that I want to use , but are 'POST' methods
https://docs.microsoft.com/en-us/rest/api/appservice/webapps/listapplicationsettings
ht

[2019-03-20 18:17] Phydeauxman opened #27636 "Need connection examples"
Good article but it needs clear examples on how to construct the various types of connections. There is a lot of confusing documentation out there on this exact topic and so far, I have not been able to make any of it work. Additionally, we have had some success with using a Service Principal but we seem to have hit a bug where we are not able to use the Service Principal to create database logins

[2019-03-20 18:18] rolyon commented on #27254
Hi @artisticcheese
I have not tried to do this, so I'm not sure. Have you seen this documentation on how to assign a role at a scope within a subscription? This example uses a resource group scope, but I'm wondering if you can use a similar pattern for a resource scope.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/deploy-to-subscription#assign-role-at-scope
thanks

[2019-03-20 18:19] jasonrmh commented on #27411
As a work around, do you know which manual step can be done in the azure portal to complete this step?
Would this be a CA certificate or client certificate within Azure API Management Service?

[2019-03-20 18:20] artisticcheese commented on #27254
Yes it works via different method but not just with scope.

[2019-03-20 18:20] #27254 closed

[2019-03-20 18:26] TravisCragg-MSFT commented on #27630
@AlexFiala Yes, you are correct. Outbound data transfers apply, and at [the rate described Here](https://azure.microsoft.com/en-us/pricing/details/bandwidth/).

[2019-03-20 18:26] SaurabhSharma-MSFT commented on #17346
@rodsorbara We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-20 18:26] #17346 closed

[2019-03-20 18:27] dlepow commented on #13752
@ursqontis - Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. Please note also the announcement that the Azure Container Service is [retiring]9https://a

[2019-03-20 18:30] rolyon commented on #25930
Hi @miss-tech
I think the Microsoft Azure Management app essentially represents the Azure Resource Manager (ARM) API, so I think that apps that call the ARM API would be affected by a conditional access policy. I have not been able to track down an exact list of endpoints. I'm still investigating.
thanks

[2019-03-20 18:30] mikeclymer commented on #27541
@brettsam Thank you for the clarification. My functions are written in TypeScript. I am currently testing the Cosmos JavaScript SDK - https://github.com/Azure/azure-cosmos-js

Feel free to close this issue. Thanks again.

[2019-03-20 18:30] YutongTie-MSFT commented on #14332
@nizi1127 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-20 18:30] #14332 closed

[2019-03-20 18:32] asgpng commented on #27617
@Mike-Ubezzi-MSFT - I think I may have figured it out. After reading the script more closely, it looks like `prepareSubnet.ps1` is being added later on in the script (see the full script [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet#validate-and-modify-an-existing-virtual-network))

The full path is `https://raw.githubusercontent.com

[2019-03-20 18:34] sunilprabha opened #27637 "APP GATEWAY AND DEFAULT PROBE ip ADDRESS"
APP-GATEWAY IS IN this  SUB NET WITH PRIVATE fornt end IP ONLY AS 20.20.5.10 and backend pools are in different subnet VM. backend pool is IIS runnign on port 8081.  all of thes subnets are in the same vnet and under one NSG
I have configured custom probe to a file s.html and in the IIS  logs i see source address not as 20.20..5.10 it shows 20.20.5. 9 or sometimes 20.20.5.10. IS this correct. ? Wh

[2019-03-20 18:36] MicahMcKittrick-MSFT commented on #27629
In my opinion the simplest way to achieve this is via JSON as mentioned in the FAQ you opened this issue on

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-join-a-virtual-machine-scale-set-to-an-active-directory-domain

Else, another good option is DSC as asked and explained here

https://stackoverflow.com/questions/47761362/join-vmss-vms-

[2019-03-20 18:41] christianrondeau commented on #19424
This is still very unclear to me. I understand "Request cookie name" and "Request header name", but what is "Request attribute name"? What is an attribute in that context? The documentation talks about attributes by saying we can filter a querystring based on the header value only, which does not make any sense to me:

So how can I match something on the querystring for example? Or more specifical

[2019-03-20 18:43] MarileeTurscak-MSFT commented on #26377
Hi @pinyuko ,

The product team agrees that this is good feedback and has added this as a work item. I am closing out this thread but will update it when I receive any news around timelines.

Thanks for your contribution!

[2019-03-20 18:43] #26377 closed

[2019-03-20 18:44] aquibqureshi26 commented on #27209
Is that too difficult to share the comprehensive list of URLs to be whitelisted while using azcopy and azure storage

[2019-03-20 18:49] seguler commented on #27209
Azure Storage does not publish a set of public IP addresses for our services. They are not static, and they may change as we load balance, increase our capacity or fail over a cluster. You can look up the associated IP address for a Storage account using `nslookup` however note that the resolution may change at any time.

[2019-03-20 18:52] tchristiani commented on #27253
#please-close

[2019-03-20 18:56] cherylmc commented on #15678
This is contained in the configuration articles as a bold note. "The Basic SKU does not support IKEv2 or RADIUS authentication. If you are planning on having Mac clients connect to your virtual network, do not use the Basic SKU." I can add it here, but I don't think it's all that more helpful, as we do specify that you have to choose a tunnel in this article that is not supported by the Basic SKU

[2019-03-20 18:57] tfitzmac commented on #27557
@ChrisFg - thanks for making me aware of the missing properties. I have updated the deployments resource in template reference.

[2019-03-20 18:58] tfitzmac commented on #27557
#please-close

[2019-03-20 18:58] msrini-MSFT commented on #27637
@sunilprabha , When you create Application gateway, you choose number of instance to be deployed. Lets say you have chosen 2 instances, those 2 instances gets IP address from the subnet where the gateway is deployed. When Application Gateway sends traffic to backend resources, it is actually the instances that are transferring those packets. You will only see the instance IP, not the Frontend IP.

[2019-03-20 18:58] #27637 closed

[2019-03-20 19:01] sunilprabha commented on #27637
Thanks for clarifying.

[2019-03-20 19:06] cherylmc commented on #15678
I will add an additional note calling that out. #please-close

[2019-03-20 19:11] MGoedtel commented on #25269
@mattquinn & @artisticcheese - Thanks for your feedback. I'm working on a number of changes to the onboarding article in preparation for new changes being introduced to the solution, and addressing the ambiguity regarding LA workspace requirements between new/existing AKS cluster.  The point about creating the workspace manually under the existing section using ARM template is intended to make the

[2019-03-20 19:15] allencodes commented on #8850
+1

For those getting into ASR for the first time, it wastes a measurable
amount of time. In my case, I kept reading and re-reading the 'previous
tutorial' thinking I missed a step somewhere.

On Wed, Mar 20, 2019 at 7:57 AM ErikOnGitHub <notifications@github.com>
wrote:

[2019-03-20 19:16] CeciAc opened #27642 "P2S Option not existing"
@cyborg2k commented on [Tue Mar 19 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/266)

The P2S Option under Virtual WAN is not given for Choose and Create a P2S Connection.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: cb0224af-2059-f88c-bb14-926ef69bd835
* Version Ind

[2019-03-20 19:17] razvansalajan commented on #16061
Any updates ?

[2019-03-20 19:17] KingdomOfEnds opened #27643 "VM Deployment"
Hi! Great documentation - very easy and great to pair it with the GitHub code sample. I am getting a resource provisioning error when I try to make a new VM through the AI Toolkit for Azure IoT Edge Git repo. I've tried several different sizes now. Do you mind sharing which are presently available?

![datavm](https://user-images.githubusercontent.com/43044425/54712690-2ab87a80-4b0a-11e9-8cce-4d977

[2019-03-20 19:17] TravisCragg-MSFT commented on #18737
@tknerr try removing your "BlockAllOutbound" rule. The validation seems to be quite strange, and even though there is a higher priority AllowAll rule, it still does not like the block.

You should also go vote for Xenalite's feedback asking for the removal of the NSG validation.

[2019-03-20 19:18] himanshusinha-msft commented on #27470
@nageshsubramanian .Thanks for writing to us . The question which you have asked is more on how to implement a scenario and we suggest you to go ahead and use the MSDN or StackOverflow platform for this . Since these communities are strong there is a good possibility that someone has already solved this problem and will walk you through the solution .

[2019-03-20 19:20] TravisCragg-MSFT commented on #15678
@crshovrd41 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 19:20] #15678 closed

[2019-03-20 19:21] sethmanheim commented on #15788
@TravisCragg-MSFT I am looking at the metadata for the article and am only seeing my name listed as author. I'm wondering if there's a particular reason you think @Brenduns is the owner of this article, and if it's something we need to get corrected?

[2019-03-20 19:23] anigo333 opened #27644 "Is this for TLS inbound or TLS outbound"
The schannel settings are for blocking inbound TLS 1.0 and TLS 1.1, not allowing clients to talk over TLS 1.2 to the endpoints which are TLS 1.2 only. I don't think there's a registry setting that allows the clients to default to TLS 1.2 for outbound.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbd2045-3f96-0c47-00

[2019-03-20 19:23] CeciAc commented on #27642
Hi team,
I'm moving this here since the contributor is reporting an inaccuracy.
best

[2019-03-20 19:23] tknerr commented on #18737
@TravisCragg-MSFT thanks for the suggestion, I will try that and report back if that helped or not

Left my votes + comments on @xenalite's feedback.azure.com entry as well :)

[2019-03-20 19:24] YutongTie-MSFT commented on #27619
@gerisg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-20 19:25] tknerr commented on #23773
Having the same issue as @hisasima here.

There is an open Github issue here: https://github.com/MicrosoftDocs/azure-docs/issues/18737

Also feedback / feature request for removal of that rule here (please vote! :)): https://feedback.azure.com/forums/217313-networking/suggestions/36933709-remove-nsg-validation-from-app-gateway-v2-deployme

[2019-03-20 19:29] TravisCragg-MSFT commented on #15788
@sethmanheim I double checked and you are right! When this issue was created in Sept @Brenduns was listed as the author. Future issues will go to you without an issue.

[2019-03-20 19:33] qianw211 commented on #12975
#please-close

[2019-03-20 19:35] Karishma-Tiwari-MSFT commented on #27185
@cynthn @DCtheGeek Can either of you share your insights on this one? Thanks :)

[2019-03-20 19:37] muhammedyusuf-sermet commented on #27253
I think the issue is the unused variable, not the parameter. The parameter is given as a string, thus the variable is not used. Anyway, it's just nitpicking, nothing critical.

[2019-03-20 19:37] Mike-Ubezzi-MSFT commented on #27617
@asgpng We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-20 19:37] #27617 closed

[2019-03-20 19:41] bw-kforce-ms opened #27647 "How to add pattern based intents."
We have a case where user ids or ticket ids need to be an intent. These are alphanumeric and do not match a static list (as the list could be anything). The document says this is not regex, yet regex is exactly what we need.  For example a user id might be "VU03004" and a a ticket "ICM167752".

Our interface is Cortana, and the speech to text is not handling this case well.

---
#### Document Deta

[2019-03-20 19:44] StingyJack opened #27648 "Why does using the portal require a different user account than the one I'm already signed in as?"
I can use my current account to type the CLI in and it works. Why is the portal need the extra creds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc23-72a48fc46e1e
* Version Independent ID: dfb8cad9-6233-f97f-c849-1820ad642c7c
* Content: [Export a single or pooled an Azure SQL database to a BACPAC

[2019-03-20 19:46] sethmanheim commented on #7678
#please-close

[2019-03-20 19:47] derekadams32 commented on #25476
I got this working.  Here is an example Pipeline Activity that I wanted to parameterize the "url" element:

{
						"name": "NetPriceExpiringContractsReport",
						"type": "WebActivity",
						"typeProperties": {
							"url": "[parameters('ExecuteSPForNetPriceExpiringContractsReport_url')]",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},

[2019-03-20 19:50] cynthn commented on #27583
@msrini-MSFT can you please open a bug in the PowerShell repo to have them address inconsistencies between acceptable syntax for -location across the Az module?

@simonlzn Thanks for catching this! Looks like not all cmdlets allow spaces in the -location, so this is something we need to look at a little more broadly :)

[2019-03-20 19:50] DCtheGeek commented on #27185
Did you convert **domainNameLabel** to a parameter in the template and set it during blueprint assignment or change the hard-coded value in the template?

[2019-03-20 19:50] cynthn commented on #27583
@MicahMcKittrick-MSFT @jpconnock FYI

[2019-03-20 19:51] vinothinidharmaraj commented on #27629
Hey thanks for the reply.
I tried with DSC configuration, that works but the i want to use VM scale set extension when there is option to do so.

As you suggested, tried with Plain text password instead of converting to securestring it does work. I'm able to join the domain.

[2019-03-20 19:52] sergaz-msft commented on #16613
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 19:52] #16613 closed

[2019-03-20 19:54] justinhauer commented on #26361
this change gets the code further along, but in the block where the dataset is being created, this errors out:
[code]

[2019-03-20 19:54] MikeDodaro commented on #27253
Ok, I see your point.  I can change it.

[2019-03-20 19:58] v-wimarc commented on #15080
#please-close

[2019-03-20 19:59] CarlRabeler commented on #27648
@StingyJack please clarify - I do not follow exactly what you are asking

[2019-03-20 19:59] v-wimarc commented on #20345
#please-close or reassign to Julia Kornich <juliako@microsoft.com>.  She is the current content owner.

[2019-03-20 20:00] sethmanheim commented on #11899
@olitomlinson Looks like there is a resolution to this issue -- can you confirm whether or not this resolved your error as well? Otherwise we will proceed to close this issue.

[2019-03-20 20:02] asavaritayal commented on #23196
@atd80 Table storage binding is not yet supported for Python. Please note that the feature is still in preview.

[2019-03-20 20:03] patel-code commented on #27209
Thank You Seguler, I understand it changes overtime. Does the list on below link is what we can use though for testing our first upload?
https://www.microsoft.com/en-us/download/confirmation.aspx?id=41653

[2019-03-20 20:05] sethmanheim commented on #17817
@tomaszbiegacz I hope this helped resolve your issue -- if not, please feel free to open a new issue. #please-close

[2019-03-20 20:08] mikeharder opened #27649 "Premium Tier Billing Granularity"
Is the Premium Tier billed at hourly or daily granularity?  Say a Premium Tier is created and deleted after 2 hours.  Would the cost be for 2 hours or 1 day (24 hours)?

Both this document and https://azure.microsoft.com/en-us/pricing/details/service-bus/ suggest daily granularity, but according to https://stackoverflow.com/questions/51144712/need-help-to-understand-service-bus-message-unit it's a

[2019-03-20 20:09] vinothinidharmaraj commented on #27629
But one of the instance got failed with the below error (that instance already joined the domain)
VM has reported a failure when processing extension 'joindomain'. Error message: "Join failed for Domain 'prod.live' with the error: Failed to initiate system shutdown.".

When i look into the logs, it seems like it try to unjoin the domain and join again, but it doesnt give me more information.. How

[2019-03-20 20:14] diberry commented on #27647
@bw-kforce-ms Hi Bernie, thanks for asking this question. I suggest you create a regular expression entity for each reg ex pattern you need. Then create a pattern for each entity. This should be straightforward and return the specific intent you want. #in-progress

[2019-03-20 20:22] georgewallace commented on #27622
@snyder-riley-pfg If you successfully setup the source control previously no you shouldn't need to do anything else.  When you look at the **Source Control Sync Job Summary** check the **All Logs** option as well to see additional logging.
![image](https://user-images.githubusercontent.com/6796566/54716535-2cd30700-4b13-11e9-9f45-4fdcf743c2b2.png)

[2019-03-20 20:22] #15080 closed

[2019-03-20 20:24] MicahMcKittrick-MSFT commented on #27629
@vinothinidharmaraj thanks for that. DSC is the ideal route for this as it will run the extension only on new VMs that are added to the domain during a scale out operation. So for production workloads I would suggest continuing down that path.

From my understanding, if the VM is already domain joined the extension would not work. @cynthn do you happen to know who owns this extension and could she

[2019-03-20 20:25] rayne-wiselman commented on #8850
Hhm, these are tutorials that are intended to be followed in order. I'll add a note.

[2019-03-20 20:26] cynthn commented on #27629
@MicahMcKittrick-MSFT I've not worked with that extension before, but @roiyz-msft looks after the extensions and should know more about who owns it from the engineering side :)

[2019-03-20 20:37] j-martens commented on #23049
@yikei @MayMSFT

[2019-03-20 20:40] cijothomas commented on #14929
THis can be closed now. The changes are live and has explanation https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#frequently-asked-questions

[2019-03-20 20:42] snyder-riley-pfg commented on #27622
We have not been able to get any source control to work as of yet. When I go to all logs I can see "Setting AzureRmEnvironment." followed by a lot of "Loading module..." with no real error messages. I am confused as to what a silent failure can be caused by since we are not given any information.

[2019-03-20 20:45] georgewallace commented on #27622
@snyder-riley-pfg Yeah after that you should see some calls back to your Automation Account and then to your source control repo.. For example here is a snippet of my log at that same time. If there is no error, I would suggest deleting and recreating the source control connection and try again and if it doesn't work you may need to contact support who can look into it deeper.
![image](https://use

[2019-03-20 20:46] nacharya1 commented on #26882
hi @emres,
We are actively working on support for 3.7.x. and will be able to share more news in the coming weeks.
Regards,
Nilesh

[2019-03-20 20:48] j-martens commented on #27616
Good catch, @marabout2015. Just checked in a change that should go live later today to say 'regression'.  #please-close.

[2019-03-20 20:51] marabout2015 commented on #27616
Thank you!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Josée Martens <notifications@github.com>
Sent: Wednesday, March 20, 2019 4:48:16 PM
To: MicrosoftDocs/azure-docs
Cc: marabout2015@hotmail.com; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Link text is wrong (#27616)

Good catch, @marabout2015<https://nam06.safelinks.protection.outlook.com/?url=https%3A

[2019-03-20 20:55] vinothinidharmaraj commented on #27629
@MicahMcKittrick-MSFT as you said if we use the DSC extension, do i need to maintain the automation account instead of integrating with  VSTS pipeline? ex. VSTS pipeline supports to deploy application using custom script from the VSTS to Azure VM Scale set.

[2019-03-20 20:55] crshovrd41 commented on #15678
Thank you all for your consideration!

[2019-03-20 20:55] #23015 closed

[2019-03-20 20:56] rongduan-zhu commented on #23049
@Cody-Mansfield thank you for the feedback. The current recommended way to read data in data prep is using a Datastore. This requires an Azure Machine Learning Workspace. You can create a workspace on the Azure portal then in the azureml Python SDK, do
[code]

[2019-03-20 20:59] TravisCragg-MSFT commented on #17817
@tomaszbiegacz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 20:59] #17817 closed

[2019-03-20 21:08] MicahMcKittrick-MSFT commented on #27629
Thats a good question. I will let @roiyz-msft comment further or add the owner of that extension to clarify. I don't work with this extension that often so I would want to be sure before giving too much guidance :)

[2019-03-20 21:09] KingdomOfEnds opened #27652 "Concerned"
Hi! I've previously had a chance to refresh a couple articles in Azure maps and no longer have any responsibilities with it. I was reviewing the overall documentation and have to say that I'm a bit concerned about one of the examples I've found. To be clear it is not any page I've ever worked on.

On the main: https://azure.microsoft.com/en-us/services/azure-maps/ page I now see this:

![Example](

[2019-03-20 21:15] MikeDodaro commented on #27253
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/70275  Merged so it should publish today or tomorrow AM.

[2019-03-20 21:20] Mike-Ubezzi-MSFT commented on #27648
@StingyJack It would be helpful to detail the exact steps you are following and at what point(s) are you are being prompted for credentials. Even a screen capture that shows the behavior. Thank you!

[2019-03-20 21:23] #27618 closed

[2019-03-20 21:32] SaurabhSharma-MSFT commented on #27634
@MarcLaf Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 21:33] SaurabhSharma-MSFT commented on #27644
@krazineurons Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-20 21:34] KingdomOfEnds commented on #27652
@jinzh-azureiot - @dsk-2015 recommended I loop you in here.

[2019-03-20 21:34] dsk-2015 commented on #27652
Talked to @KingdomOfEnds offline. He was concerned with the type of cargo allowed on the trucks. It's actually a product feature. This should clarify things: https://docs.microsoft.com/en-us/rest/api/maps/route/getroutedirections#vehicleloadtype

[2019-03-20 21:36] dsk-2015 commented on #27652
@v-musehg fyi.

[2019-03-20 21:38] jwargo commented on #7500
#please-close

[2019-03-20 21:40] bdschaap opened #27653 "Provide More Information on Types of Diagnostic Logs for Service Bus"
Please provide more information on other types of diagnostic logs for service bus.  If there are no other types then please state that only "Create Queue" events are the only type supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23735779-3536-079f-9d5c-1b5780924dfc
* Version Independent ID: 9f358dfa-8bfc-38cd-

[2019-03-20 21:40] jwargo commented on #7520
@spelluru is this issue resolved? Have the WNS docs been updated since this went in?

[2019-03-20 21:41] jwargo commented on #7524
#please-close

[2019-03-20 21:43] jwargo commented on #7573
@spelluru has this issue been resolved?

[2019-03-20 21:44] Mike-Ubezzi-MSFT commented on #27636
@Phydeauxman Thank you for taking the time to provide feedback. This topic is surely a complex subject matter but, it can be broken down to be more easily digested.
The document you are referring to is an overview discussion. The following document walks you through the implementation process and has specific examples: [Configure and manage Azure Active Directory authentication with SQL](https://d

[2019-03-20 21:51] FallenGameR opened #27654 "Where are examples for Virtual Machine Scale Sets"
We are using VMSS, not individual VMs for manageability.
How to use extensions there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a01146cd-ccd3-210d-66ee-d097ba958061
* Version Independent ID: d3726453-07cd-414e-cac8-49497b1540d6
* Content: [Azure VM extensions and features for Windows](https://docs.microsoft.com/en

[2019-03-20 21:52] Adam-Smith-MSFT commented on #27633
@polarapfel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-20 21:53] KingdomOfEnds commented on #27652
Thanks, I don't mean to raise a fuss being relatively new here and all. Still, I could see how that could be misconstrued. Would strongly recommend changing that specific example to something more appropriate. Right, left, up, down, purple, orange, whatever. The growing instability of our national security situation is bad for everyone. Since some of our clients include the U.S. Government it seem

[2019-03-20 21:55] FallenGameR opened #27655 "Virtual Machine Scale Set explanation is needed"
How to use this extension on VMSS? The provided commands don't work there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension for Windows](https://docs.microsoft.com/en-us/azure/virt

[2019-03-20 21:57] LuisCabrer commented on #19440
#please-close

[2019-03-20 21:58] #19440 closed

[2019-03-20 22:00] MicahMcKittrick-MSFT commented on #27654
We have this

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq

also, many of the VM extensions can also be applied to scale sets. Check this for example

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-turn-on-antimalware-in-my-virtual-machine-scale-set

You can also get a list of available e

[2019-03-20 22:02] #12975 closed

[2019-03-20 22:03] #20345 closed

[2019-03-20 22:03] #25524 closed

[2019-03-20 22:03] gerisg opened #27657 "Synonyms - Enable simple contraction for Phrase Queries"
The multi-word synonyms appear to be quite straightforward. This is a known issue when use phrase synonyms and search by phrase queries.

The elastic team explained it much better than me:

https://www.elastic.co/guide/en/elasticsearch/guide/master/multi-word-synonyms.html#_use_simple_contraction_for_phrase_queries

The idea is to inject a single term that represents all synonyms.

Could you enabl

[2019-03-20 22:03] #27026 closed

[2019-03-20 22:03] erwelch commented on #27078
I deleted my resource group and started over following every step and still get the same error. How are you deploying the VM? I'm using the command from the file:

`az vm create --resource-group IoTEdgeResources --name EdgeVM --image microsoft_iot_edge:iot_edge_vm_ubuntu:ubuntu_1604_edgeruntimeonly:latest --admin-username azureuser --generate-ssh-keys --size Standard_DS1_v2`

[2019-03-20 22:03] #27557 closed

[2019-03-20 22:04] #7678 closed

[2019-03-20 22:04] rboy1 commented on #23166
@YutongTie-MSFT any update on this? 30th April is around the corner and I don't have any way to migrate my v2 service to the v3 service as yet. Can the MS SOAP service as explained here https://deanhume.com/microsoft-translator-api/ be extended so it internally uses the v3 API. That would ensure that clients using this SOAP service can continue and the service internally maps it to the v3 API's.

[2019-03-20 22:04] #27253 closed

[2019-03-20 22:05] #13752 closed

[2019-03-20 22:05] #20182 closed

[2019-03-20 22:05] #8905 closed

[2019-03-20 22:13] #27630 closed

[2019-03-20 22:15] erwelch commented on #27078
I ssh'd into the VM and I do see the configedge.sh file. I also see the config.yaml and installedge.sh files in the same directory.

[2019-03-20 22:17] mjgabriel commented on #27555
We turned off then re-enabled system assigned managed identity and key vault references started to work for the app service in question.

[2019-03-20 22:18] toddysm opened #27658 "Instructions fail at 'Get Entities' step"
The expression for filtering the table rows fails with the following error
`{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"Syntax error at position 7 in '2019-03-20T21:13:35.0173879Z'.\nRequestId:0ea15784-5002-0072-236a-dfa099000000\nTime:2019-03-20T22:13:35.4421851Z"}}}`

The above error is in case `Past time` is selected in the UI. In case the following expression is pa

[2019-03-20 22:23] vinothinidharmaraj commented on #27629
Hey, i have tried JsonADJoinDomain extension with combination of the below scenarios for the scale set with 2 instances,
1. 2 instances not added to the domain  --> it works
2. 2 instances are already added to the domain --> it works
3. 1 instance already added to the domain and another instance not added --> it works

Seems like the error which i got previously is probably random because of any n

[2019-03-20 22:24] dhmorrison opened #27659 "How About Some Real World Code Samples Please?"
Hi all,

Samples such as this from the above article are not especially helpful:
[code]

I have no clue what the semantics to use for the following values:
[code]
Do we surround with "" marks, or '' marks or simply insert a string?

Ironically you do provide an example for _resource-group_ and _plan-location_ and you even provide info on how to look up plan information.  Thanks for that.  Totally

[2019-03-20 22:26] MicahMcKittrick-MSFT commented on #27655
@FallenGameR please see my comment in your other issue #27654

Also, as you are an FTE feel free to ping me offline and I can provide you with better routes to answering such questions.

[2019-03-20 22:26] #27655 closed

[2019-03-20 22:32] bdschaap commented on #27653
Also, please provide information on the valid values for the Status field.  "Success" is shown in the example but in order to write queries (such as in Log Analytics) in advance of receiving a failure I need to know whether to filter on "Failure", "Failed", "Unsuccessful", etc.  Filtering out "Success" isn't ideal because there could be other values for Status that I don't want to include.

[2019-03-20 22:33] diberry commented on #26075
#please-close

[2019-03-20 22:33] SergeyKanzhelev opened #27660 "Better way to not sample individual event"
For this:
&gt; There are certain rare events I always want to see. How can I get them past the sampling module?

&gt; Initialize a separate instance of TelemetryClient with a new TelemetryConfiguration (not the default Active one). Use that to send your rare events.

Refer to this article https://msdn.microsoft.com/magazine/mt808502. It tesll how to override samplong decision for individual items

[2019-03-20 22:35] #14929 closed

[2019-03-20 22:39] MarileeTurscak-MSFT commented on #26377
@pinyuko this should go into production in about a week - thanks for your help in improving our products! :)

[2019-03-20 22:40] RickFrankel opened #27662 "Spelling mistake"
ab should be an I'm guessing.

Because physical structures are created in the service, dropping and recreating indexes is necessary whenever you make material changes to ab existing field definition. This means that during development, you should plan on frequent rebuilds. You might consider working with a subset of your data to make rebuilds go faster.

---
#### Document Details

⚠ *Do not edit t