[2018-07-10 15:51] hrumhurum opened #11497 "Is there a way to put QnA Maker app into existing app service?"
The current dialog flow insists on creating a new app service for a QnA Maker app.

However we already have a bunch of S1 app services in the regions of our interest. Thus we would like to deploy a new QnA Maker to an existing app service we already own and pay for.

Is there a way to achieve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-07-10 15:55] raymondlaghaeian commented on #9445
Thanks for your feedback. We plan to add other languages soon.

[2018-07-10 16:01] Mike-Ubezzi-MSFT commented on #11463
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 16:05] Mike-Ubezzi-MSFT commented on #11463
@CarlRabeler I think a small edit is warranted here in that there needs to be an explanation of the Max Log Size (unit of measure) and that the TempDB is either per App Database or per SQL Instance, etc.

[2018-07-10 16:41] seanmcne opened #11498 "D365 Article - needs clarification on page load timings - they don't represent actual end-user page load times"
We should add a note or clarification to this content clarifying page load times won't be accurate or represent the users actual experience.  I believe this is due to the page tracking is loaded inside of an iframe by customer provided JS it tends to report the page load time of the iframe and not the time it takes to actually render the dynamics form.

There is a trick to use the perf makers in D

[2018-07-10 17:03] Cherisle commented on #11458
@sergaz-msft Hi, yes I have completed the linked tutorial a little while back. However, I still don't believe I have a good idea of how to build a module which produces data due to simply using the provided image URI as the simulated temperature sensor. Also, I seem to get build errors if I try to add and use additional NuGet packages into the project (specifically, error NU1701). I am unsure whet

[2018-07-10 17:06] MicahMcKittrick-MSFT commented on #11475
Thanks for reaching out. Glad you were able to find the answer.

[2018-07-10 17:06] SaurabhSharma-MSFT commented on #11461
@ganeshthiagarajan Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-10 17:07] SaurabhSharma-MSFT commented on #11462
@rdr78 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-10 17:07] MicahMcKittrick-MSFT commented on #11470
Thanks for the question! We are investigating and will update you shortly.

[2018-07-10 17:08] MicahMcKittrick-MSFT commented on #11471
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:08] SaurabhSharma-MSFT commented on #11489
@jaarde Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-10 17:08] MicahMcKittrick-MSFT commented on #11473
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:09] SaurabhSharma-MSFT commented on #11469
@alvincrisuy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 17:09] MicahMcKittrick-MSFT commented on #11477
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-10 17:10] MicahMcKittrick-MSFT commented on #11482
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:11] SaurabhSharma-MSFT commented on #11488
@jaarde We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 17:11] MicahMcKittrick-MSFT commented on #11484
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-10 17:12] MicahMcKittrick-MSFT commented on #11492
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:12] MicahMcKittrick-MSFT commented on #11494
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:12] SaurabhSharma-MSFT commented on #11467
@shubham5526 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-10 17:13] MicahMcKittrick-MSFT commented on #11472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:14] cwhd opened #11500 "Works on new projects, but after updating project device no longer registers for notifications"
This is great, thanks for putting it together! One strange thing that's happening for me: if I follow this with a blank project everything works great. As soon as I do something as minor as add some styles to the app it stops registering with the notification hub when I run it. I'm not getting any errors, it just doesn't register so when I test from notification hubs I get :
Successfully sent test

[2018-07-10 17:15] SaurabhSharma-MSFT commented on #11476
@johnneycao Could you provide us with the link to the document you are referring to ?

[2018-07-10 17:16] SaurabhSharma-MSFT commented on #11483
@tienvv1234 Could you provide us with the link to the document you are referring to ?

[2018-07-10 17:16] SaurabhSharma-MSFT commented on #11493
@Sviatik Could you provide us with the link to the document you are referring to ?

[2018-07-10 17:16] nitinkhandelwal26 commented on #11494
Ok, i will be waiting for your reply..
________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, July 10, 2018 10:43 PM
To: MicrosoftDocs/azure-docs
Cc: nitinkhandelwal26; Author
Subject: Re: [MicrosoftDocs/azure-docs] writeAcceleratorEnabled is not working in ARM template. (#11494)

Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 17:17] MicahMcKittrick-MSFT commented on #10871
Thanks all. I have assigned to the content author to review and update the doc as needed.

[2018-07-10 17:18] #10339 closed

[2018-07-10 17:18] SaurabhSharma-MSFT commented on #10766
@rickrain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 17:18] #10766 closed

[2018-07-10 17:19] SaurabhSharma-MSFT commented on #11229
@tlisiecki We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 17:19] #11229 closed

[2018-07-10 17:20] SaurabhSharma-MSFT commented on #11417
@simonnuss We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 17:20] #11417 closed

[2018-07-10 17:20] linuxcat commented on #8227
Yup, .NetCore does not support it is there a workaround?

[2018-07-10 17:24] CaronteDemonio opened #11501 "Bug: uploading multiple images in one batch"
Hi, I think there might be a bug when you try to upload multiple images at once. I created a sample code https://github.com/CaronteDemonio/CustomVisionAPI to upload multiple images in one batch. BTW, this might be considered for the public sample repository as there is currently no sample on how to upload multiple images. If you change the constant MAX_IMAGES to a number greater than 30 you have a

[2018-07-10 17:28] vasivara-MSFT commented on #11481
@chasedai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 17:29] SnehaGunda commented on #11102
@msimecek hope wenbin's response helps, please look forward for the new release and use the workaround for now. We will now proceed with closing this issue. Feel free to reopen if you need additional assistance.

#please-close

[2018-07-10 17:29] TravisCragg-MSFT commented on #11495
@jeffpatton1971 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 17:31] TravisCragg-MSFT commented on #11486
@SirusT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 17:33] RenaShahMSFT commented on #11486
+ @wmgries(the original author on the script) - Please advise

[2018-07-10 17:33] RenaShahMSFT commented on #11486
@wmgries

[2018-07-10 17:36] vasivara-MSFT commented on #11464
@GagandeepS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 17:38] jeevansd commented on #11462
@rdr78 We will fix the typo here.
Also can you please make sure that you are assigning the roles to the user or groups when you are assigning the application to them? Same roles will be passed in the SAML token.
If still this is not working then please submit ticket with us (Microsoft Support) and then we will help resolve your issue.

[2018-07-10 17:39] jeevansd commented on #11462
@chetansriv Can you please fix the typo in the claim name here?

[2018-07-10 17:44] danieljsmarda opened #11502 "CSharpModule Not Sending/Receiving Data Properly"
I'm working with a Raspberry Pi 3B running Stretch. I went through all of the steps in this tutorial. The modules seem to be deploying just fine. When I run "iotedge list" everything looks like it's running properly. When I run "iotedge logs tempSensor", the tempSensor module seems to be outputting several messages. But when I monitor messages in VS Code, I don't see any of the temperature data fr

[2018-07-10 17:45] PatAltimore commented on #11444
Hello @ronsonntag54,

Azure Blockchain Workbench members need to be Azure AD users.  External users would need to be added as guests.  See https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b.  You can post questions like this to the support forum https://aka.ms/workbenchforum.

Thanks,
Pat

#in-process

[2018-07-10 17:51] daveba commented on #11335
@arsenvlad @saurabhsensharma I have created an item in our backlog to update this document.

[2018-07-10 17:53] kobulloc-MSFT commented on #11498
@seanmcne Thank you for bringing this to our attention.  I'll assign this to the document author so they can update the documentation accordingly.

[2018-07-10 17:58] kobulloc-MSFT commented on #11082
@joymon Thank you for the clarification!  I'm going to do some further investigation into this issue and will get back to you shortly.

[2018-07-10 17:58] femsulu commented on #11496
@jasoth Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-10 18:02] femsulu commented on #11490
@porrascarlos802018, can you please share the exact error? Is it something like: "cmdlet not recognized"?

[2018-07-10 18:10] SnehaGunda commented on #10382
@Lhdang88 Currently Azure Cosmos DB MongoDB API implementation of $sample does not return a random document. This is a bug we will fix in a future update. As a workaround, you could generate a random value on the client side and use it as part of the query to select a random document.

[2018-07-10 18:12] femsulu commented on #11466
@brianbunke thanks for the Kudos. Your comment has been shared with the Content owner for further review.

[2018-07-10 18:14] kobulloc-MSFT commented on #11082
@joymon Just to make sure we've covered our bases, have you looked at the documentation covering exceptions?

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-exceptions

Additionally, there is a blog which may be of some help:

https://blogs.msdn.microsoft.com/devops/2014/12/12/application-insights-exception-telemetry/

[2018-07-10 18:14] billmath commented on #8604
@cuixi1222 I can't proceed on this without additional details.  I am going to go ahead and close this issue.  If you want to re-open it and provide the info request we can continue.  Thanks!

[2018-07-10 18:14] billmath commented on #8604
#please-close

[2018-07-10 18:15] MicahMcKittrick-MSFT commented on #11003
Thanks @jmill269

@kashimiz any additional thoughts on this?

[2018-07-10 18:16] billmath commented on #10410
@KjetilEVRY thank you for the update.  This is being incorporated into an update of the document that should be published in the next 30 days.  Thanks!

[2018-07-10 18:16] billmath commented on #10410
#please-close

[2018-07-10 18:16] MicahMcKittrick-MSFT commented on #11184
Thanks @mukund1980!

@mukund1980 I will close this for now. Let me know if you need more information.

[2018-07-10 18:16] #11184 closed

[2018-07-10 18:18] billmath commented on #10526
@limjianan thank you for the feedback.  Can you provide some additional details.  I am not sure what the issue is.  Thank you!

[2018-07-10 18:18] dlapiduz opened #11505 "Discoverability of "Security" section need improvement"
The [Security](https://docs.microsoft.com/en-us/azure/security) section of the Azure docs has a lot of great content but it is hard to find it from the main navigation.

In order to find it today you need to:

1. Go to main Azure docs site
1. Click "Products"
1. Click "Security"
1. Click "Security Information"

Would it be ok if I send a PR to add a "Security" section to the getting started page?

[2018-07-10 18:19] jmill269 commented on #11003
Update:
I tried a fresh clone in a new directory just to see if I was messing anything up on my end. After running 'func host start' the first time, I noticed a message saying I needed to specify the worker runtime, either node or dotnet for JS/C# respectively. I found that when specifying node, the HttpStart function isn't found and when specifying dotnet, *only* the HttpStart function is found a

[2018-07-10 18:20] MicahMcKittrick-MSFT commented on #11330
Got it. If you go to the resource group that your AKS cluster is in you will see the Vnet that was created and is associated with it:

![image](https://user-images.githubusercontent.com/32313503/42529358-22547be4-8433-11e8-88a1-58f1acd73e26.png)

From there you can select the Vnet -> Subnets -> Select your subnet

Then you can associate whatever NSG you like to the Subnet.

[2018-07-10 18:21] MicahMcKittrick-MSFT commented on #11368
Thanks @iainfoulds!

@SteveAndrews I will close for now. If you need more information please let me know.

[2018-07-10 18:21] #11368 closed

[2018-07-10 18:22] MicahMcKittrick-MSFT commented on #11424
@jdogg89 I will close this for now. If you feel you need more information let me know and we can reopen and continue.

[2018-07-10 18:22] #11424 closed

[2018-07-10 18:22] davidmu1 commented on #10273
@cwienands @MohitGargMSFT: Unfortunately, there isn't anything to change in the article. In the future we will move away from relying as much on these samples for quickstarts, but for now, the issue seems to be with the sample itself, which is owned by the product team. Please open an issue with the product team.

#please-close

[2018-07-10 18:23] MicahMcKittrick-MSFT commented on #11468
Thanks @NicoThiemer!

I have fixed the script. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-10 18:24] iainfoulds commented on #11477
Thanks for the note, @kasunsjc, and sorry you ran into issues. I'll create a PR to update the doc accordingly.

#in-progress

[2018-07-10 18:28] rjoshi83 opened #11506 "VM getting stuck in reboot"
We have a deployed an instance of Linux on Azure VM. When we give command "reboot" within the VM, all the systemd services are shutdown and when control passes to kernel reboot remains stuck forever until VM is restarted from portal. Can you please provide some pointers that can be possibly causing shutdown to stuck?

These are the messages captured from Serial console

[  315.016374] systemd-shut

[2018-07-10 18:31] YutongTie-MSFT commented on #11501
@CaronteDemonio Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@areddish Hi, this is a doc-bug issue, can you please check the limitation of constant MAX_IMAGES and update the document as necessary? Thanks a lot!

[2018-07-10 18:31] raiye commented on #11494
Hi,
Could you please give us additional details about your deployment? i.e. What disks are you using WA on, are they Managed Disks on Premium Storage? What VM-Size are you using, etc.
Thanks!

[2018-07-10 18:31] YutongTie-MSFT commented on #11497
@hrumhurum Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 18:32] DavidPrio opened #11507 "Телеметрия метрик: модель данных Application Insights"
@astecenko commented on [Tue Jul 10 2018](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/62)

Опытным путем убедились что пользовательские метрики содержащие в своем названии сочетания символом "max" или "min" не отображаются в Application Insights. Т.е. например метрики my_custom_metric.max или my_custom_metric_min, и даже my_custom_metric_max2

Причем сервер принимает эти метрики без о

[2018-07-10 18:34] YutongTie-MSFT commented on #11312
@devenderA17010 Hi, I have created a work item for this bug, it should be fixed soon. Thanks for your feedback.We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 18:34] #11312 closed

[2018-07-10 18:35] YutongTie-MSFT commented on #11306
@grhuynh Thanks for your response.

@clementlrms Thanks for your feedback here. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 18:35] #11306 closed

[2018-07-10 18:38] tfitzmac commented on #11438
@hukun01 - thanks for this suggestion. I am moving some content about condition that was on a different article. I think this article is a better place to present the content.

[2018-07-10 18:39] DavidPrio commented on #11507
Hi @mrbullwinkle I'm moving this issue to en-Us repo as this is related to end-user requesting info to be added. This is his comment (auto-translation):

By experience, the user metrics that contain the "max " or "min " characters in their name are not displayed in Application insights. i.e. for example metrics my_custom_metric. Max or my_custom_metric_min, and even MY_CUSTOM_METRIC_MAX2

And the

[2018-07-10 18:39] hukun01 commented on #11470
Thanks @MicahMcKittrick-MSFT  During the cluster creation process, do we have to specify a random password and dispose it, and setup AAD afterwards?

[2018-07-10 18:45] #11468 closed

[2018-07-10 18:53] johnkemnetz commented on #11140
Hi @Steven-N -- the CLI does support providing a single event hub:
az monitor diagnostic-settings create -h

Command
    az monitor diagnostic-settings create: Create diagnostic settings for the specified resource.

Arguments
    --name -n  [Required]: The name of the diagnostic settings.
    --event-hub          : The name of the event hub. If none is specified, the default event hub

[2018-07-10 18:54] johnkemnetz commented on #11140
@femsulu , can we close this? This appears to be a misunderstanding of how to use the CLI rather than a doc issue.

[2018-07-10 18:56] Steven-N commented on #11140
It's possible I mistyped however I received an error (detailed at the start of this thread) when trying that command with Azure CLI @johnkemnetz

[2018-07-10 18:57] femsulu commented on #11140
@Steven-N We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 18:58] MicahMcKittrick-MSFT commented on #11471
@Brucius at which point in the doc is it failing? When you attempt to create the VM? Or when you create the Ansible Playbook?

[2018-07-10 19:01] MicahMcKittrick-MSFT commented on #11472
@ksemaev I ran through this doc just recently and it took a few minutes for the public IP address to get allocated. In fact, I had to stop the command using control C

$ kubectl get service -l app=nginx-ingress --namespace kube-system

and run it again and after 2-5 minutes the public IP was there:

![image](https://user-images.githubusercontent.com/32313503/42531459-ded688c0-8438-11e8-824c-002d1c

[2018-07-10 19:02] MicahMcKittrick-MSFT commented on #11473
@tysonn can you get this to the right team for the content idea?

CC @dlepow

[2018-07-10 19:03] Steven-N commented on #11140
hmm, never mind on this. I haven't tested yet but you can go ahead and close this (Didn't realize I need to specify auth rule of namespace not auth rule of eventhub).

Thanks!

[2018-07-10 19:05] MicahMcKittrick-MSFT commented on #11482
@SamirFarhat yes this is still true.

As per this doc: https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-service-principal

![image](https://user-images.githubusercontent.com/32313503/42531677-6e31ed84-8439-11e8-8ae6-ec9063d64eec.png)

This without contributor access the cluster would not function properly.

[2018-07-10 19:13] spottedmahn commented on #11324
FYI, [.gitattributes contents are here](https://github.com/MicrosoftDocs/feedback/issues/362#issuecomment-403932911)

[2018-07-10 19:14] MicahMcKittrick-MSFT commented on #11003
Thanks for the update @jmill269!

I will close this since the issue is resolved. If you see it pop up again or if someone else notices the same issue we can reopen and continue to dig into it :)

[2018-07-10 19:14] #11003 closed

[2018-07-10 19:15] MicahMcKittrick-MSFT commented on #11198
@aleonard763 FYI I am working offline to get an answer to this. Will update as soon as I have more information.

[2018-07-10 19:16] MohitGargMSFT commented on #11348
@grahambunce We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-10 19:16] #11348 closed

[2018-07-10 19:17] MicahMcKittrick-MSFT commented on #11275
Thanks @apwestgarth

@apercova any update on Andrew's questions?

[2018-07-10 19:17] MohitGargMSFT commented on #11359
@erapade We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-10 19:17] #11359 closed

[2018-07-10 19:17] MohitGargMSFT commented on #11430
@rpscott We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-10 19:17] #11430 closed

[2018-07-10 19:18] MicahMcKittrick-MSFT commented on #11374
@tkumark Any update on this?

[2018-07-10 19:19] MohitGargMSFT commented on #11435
@hartmg519 Thanks. We will now proceed to close this document feedback issue as we work on your query through MSDN thread.

[2018-07-10 19:19] #11435 closed

[2018-07-10 19:19] SaurabhSharma-MSFT commented on #11262
@FcrNah Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-10 19:22] SaurabhSharma-MSFT commented on #8604
@cuixi1222 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 19:22] #8604 closed

[2018-07-10 19:23] MicahMcKittrick-MSFT commented on #11470
I believe you need to have a local admin credential on the cluster regardless. Once you have AAD setup you can use those usernames and credentials to run applications however many of the services in SF will run under the admin account so it should present regardless. Just like you would always have a local admin account on Windows or a Sudo user in Linux.

[2018-07-10 19:23] SaurabhSharma-MSFT commented on #10410
@KjetilEVRY We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 19:23] #10410 closed

[2018-07-10 19:24] SaurabhSharma-MSFT commented on #11102
@msimecek We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 19:24] #11102 closed

[2018-07-10 19:32] femsulu commented on #11140
@Steven-N sounds good. Happy to re-open if you have any follow-up questions.

[2018-07-10 19:32] #11140 closed

[2018-07-10 19:33] marcurdy commented on #8765
It must at least bursts to 1200 baud... no idea.

[2018-07-10 19:33] MicahMcKittrick-MSFT commented on #11506
@rjoshi83 thanks for reaching out. The purpose of this GitHub repo is to report issues on documentation. If you are having a generic issue with your environment please open an issue on MSDN, Stack Overflow or if you have a support contract you can open a Technical Support Ticket so an engineer can assist you.

If this is related to a specific doc feel free to reference that and we can take a look.

[2018-07-10 19:33] #11506 closed

[2018-07-10 19:38] nitinkhandelwal26 commented on #11494
Yes, I am using premium managed  disks on M series vm, but using arm template for deployment not api or powershell

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rashmi Iyer <notifications@github.com>
Sent: Wednesday, July 11, 2018 12:01:36 AM
To: MicrosoftDocs/azure-docs
Cc: nitinkhandelwal26; Author
Subject: Re: [MicrosoftDocs/azure-docs] writeAccelerator

[2018-07-10 19:38] MicahMcKittrick-MSFT commented on #11426
@SamirFarhat we reached out to the product teams and confirmed it is not possible to enable after deployment.

@iainfoulds can we get this info added to the doc for future reference?

[2018-07-10 19:39] nitinkhandelwal26 commented on #11494
Does this attribute works with arm template?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: nitin khandelwal <nitin.khandelwal@hotmail.com>
Sent: Wednesday, July 11, 2018 1:08:00 AM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs
Cc: Author
Subject: Re: [MicrosoftDocs/azure-docs] writeAcceleratorEnabled is not working in ARM template. (#11494)

Yes,

[2018-07-10 19:54] hukun01 commented on #11470
I see. Please close this issue. Thanks!

[2018-07-10 19:57] iainfoulds commented on #11426
@MicahMcKittrick-MSFT Yep, I'll a note to the doc to make it clear.

[2018-07-10 19:59] MicahMcKittrick-MSFT commented on #11494
I am not finding any information that this works using ARM templates....

@raiye do you have any idea?

[2018-07-10 20:01] #11470 closed

[2018-07-10 20:10] MichaelSmyth184 commented on #6175
Hi, Could you provide a completed template with params? As the documentation is pretty bad when trying to apply the template. What format is the "eventHubAuthorizationRuleId" meant to be as I am getting issues passing the value "RootManageSharedAccessKey" to it, and also around nesting resources as the example given above only caters to dpeloying a webapp, how do hou enable logging for a NSG or a

[2018-07-10 20:11] MichaelSmyth184 commented on #6175
BTW the link MicrosoftDocs/azure-docs-pr#36324 does not work!

[2018-07-10 20:14] daveh101 opened #11509 "Maximum allowed point count per geometry is exceeded. Currently maximum supported number of points is 256"
I've run into the above error with Polygons, looks like the polygon is not capable of supporting more than 256 points.  I am in need of this number being a lot bigger!!  A small region currently being worked with used 455 points.

I've also logged this as an issue on GitHub: https://github.com/Azure/azure-documentdb-dotnet/issues/541

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-07-10 20:15] Mike-Ubezzi-MSFT commented on #11502
@danieljsmarda Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-10 20:24] airwolfnh commented on #11330
Sure, I also know that, I am asking how to do that with terraform :)

[2018-07-10 20:42] #11477 closed

[2018-07-10 20:45] jobevers opened #11511 "Why might AKS service principal not have access to ACR registry?"
The docs state "In some instances, the service principal being used by AKS cannot be scoped to the ACR registry."

What instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Authenticate with Azure Contai

[2018-07-10 21:01] Mike-Ubezzi-MSFT commented on #11502
@kgremban The instructions need an edit to include correct steps for publishing sensor output to VS Code. Please let me know if you need additional details. Thank you!

[2018-07-10 21:02] douglaslMS commented on #11410
@HemantChandurkar If you still have the StackOverflow URL in your history, could you please share it? Thank you!

[2018-07-10 21:04] douglaslMS commented on #10943
@don4of4 Please let us know whether the info provided by @nabhishek answers your question. Meanwhile I'll look at where and how we can best incorporate this into the documentation. Thanks!

[2018-07-10 21:06] #11426 closed

[2018-07-10 21:06] Mike-Ubezzi-MSFT commented on #11421
@kgremban An additional detail would be helpful that the 'vEthernet (DockerNAT)' address is the IP address to be used.

[2018-07-10 21:07] mmacy commented on #11511
Hi @jobevers, this is referring to organizational restrictions within your Azure AD. For example, within your directory, you might not have sufficient permission to assign the required role to the service principal that was created automatically when the cluster was created. In this case, you can fallback to the second method of creating a new service principal and using the K8s image pull secret.

[2018-07-10 21:13] Mike-Ubezzi-MSFT commented on #11509
@daveh101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. Additionally, the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) is the best forum for making formal feature/functionality enhancements.

[2018-07-10 21:34] SamirFarhat commented on #11482
Based on your answer, the SPN needs contributor permissions on the RG which the LB and the Route Table is belong to, and not the VNET. This is totally different. I think that to br more clear, you need to mention it this way. We have scenarios wherr the LB and the Route Table are within different RG than the VNET.

[2018-07-10 21:34] airwolfnh commented on #11330
Sorry for not making my self clear. Let's try again.
I know how to create a subnet and attach the security group to the subnet on terraform.
The problem is when you are using terraform to create the AKS cluster, it creates the subnet for you, so you can't attach the subnet to the security group because you can only do that when you are creating the subnet, that's when you attach the security group

[2018-07-10 21:37] SamirFarhat commented on #11426
This is not a good news. But, i think that you have to recommand tge following. "Because enabling RBAC after deployment is not supported, we recommand that you create an empty Security group and assign it permissions during the AKS clisyer creation. You can add users to this group on the future. IMHO, this is a good workaround. Thanks

[2018-07-10 21:41] raiye commented on #11494
WA is supported using ARM templates using the REST API. Please ensure chocolatey is installed for the armclient and your caching properties are compliant. Here is a sample [template].(https://github.com/AzureCAT-GSI/SAP-HANA-ARM/blob/master/Vms/extralarge.json)

[2018-07-10 21:49] jakereifer opened #11513 "missing "$""
In the "Configure the function app" section there is a missing $ in front of the storageConnectionString variable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure Event Grid to automate resizing uploa

[2018-07-10 21:55] Bartolomeus-649 commented on #8765
is this an official statement from microsoft?

[2018-07-10 22:02] deguhath commented on #8734
We are not going to add the content on R at this time. Issue can be closed.

[2018-07-10 22:09] Cherisle commented on #11458
@sergaz-msft Hi, I'm back with an update on some errors I've come across. My module that is intended for generating data throws an exit code 139 and has status "backoff." Upon further investigation within the docker logs, the issue is coming from:

Unhandled Exception: System.InvalidOperationException: Missing path to certificate file.

within method:  static void InstallCert(). Any ideas on how I

[2018-07-10 22:12] limjianan commented on #10526
@billmath for example, AADconnect was introduced build 1.1.105.0 (released February 2016). _but it has further improved in build 1.1.561.0 that accepted more scenario like

Then in your table, it should mark * for
UpgradeNotSupportedDeviceWritebackEnabled
UpgradeNotSupportedGroupWritebackEnabled
UpgradeNotSupportedInvalidPersistedState
UpgradeNotSupportedMetaverseSizeExceeeded
UpgradeNotSupportedM

[2018-07-10 22:15] TravisCragg-MSFT commented on #11505
@dlapiduz Thanks for the feedback! I have assigned the issue to be evaluated and updated as appropriate.

[2018-07-10 22:22] jeffhollan commented on #11408
I'd use an output binding with IAsyncCollector<Transaction> instead of as the return type.  Then if you don't have any data just don't add to the collection.

[2018-07-10 22:25] Phydeauxman opened #11515 "Path based routing on port 80"
This is a decent article but don't understand why you sent the other paths to a different port.  Is this necessary?  Is it not possible to configure this to use port 80 for all paths?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e72b72-f20c-8775-5026-caef1d1d2a01
* Version Independent ID: 62f50079-7903-91f2-f2c3-dc

[2018-07-10 22:29] telmer6 commented on #8765
@marcurdy With minimal empirical testing (_aka speedtest.net_), I get around 800-1600Mbps down and 100-800Mbps up from a West US 2 B1ms.

[2018-07-10 22:31] marcurdy commented on #8765
That's many times more then enough to choose B-series, but even a range is
nowhere to be found.   Thanks.

On Tue, Jul 10, 2018, 5:29 PM Timothy Elmer <notifications@github.com>
wrote:

[2018-07-10 22:32] SaurabhSharma-MSFT commented on #11461
@ganeshthiagarajan I do not see see any sample for you specific case but you can try using the links below to get more information on Rest API Claims -
- [Walkthrough: Integrate REST API claims exchanges in your Azure AD B2C user journey as an orchestration step](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/active-directory-b2c-rest-api-step-custom.md#walkt

[2018-07-10 22:32] SaurabhSharma-MSFT commented on #11336
@arsenvlad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 22:32] #11336 closed

[2018-07-10 22:36] Cherisle commented on #11458
@sergaz-msft I have fixed my issues by changing the connectionString value from Environment.GetEnvironmentVariable("EdgeHubConnectionString") to the given primary string on the Azure Portal's IoTEdge>Device Details. Lastly, I would just like to know whether there is a fix to the additional NuGet packages issue (error NU1701) within the IoT Edge Solution. Apologies for all the issues and thanks for

[2018-07-10 22:37] SaurabhSharma-MSFT commented on #11412
@waheedhussain Adding the actual document link - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure

[2018-07-10 22:42] kaiyoshino opened #11516 "Disabling RDP from the internet"
Is it possible to block the cluster's RDP ports from being access from the internet? Maybe limiting them to specific IP's. Are the ports necessary or can I disable them entirely? I have not been able to do so from the portal after I create the cluster and LB. I used one of the ARM templates and the instructions from [this](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluste

[2018-07-10 22:47] YutongTie-MSFT commented on #11303
@polarapfel Thanks for the research, I will contact to the author directly.

[2018-07-10 22:49] MicahMcKittrick-MSFT commented on #11330
I would assume you could just update the NIC using terraform and include the NSG settings
https://www.terraform.io/docs/providers/azurerm/r/network_interface.html

@TomArcher do you have any idea? I am not overly familiar with terraform.

[2018-07-10 22:51] MicahMcKittrick-MSFT commented on #11482
@SamirFarhat I will assign to the content author to review and see if we can make it more clear.

@mmacy can you take a look to see if we can add anything?

[2018-07-10 22:51] femsulu commented on #11513
@jakereifer Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-10 22:52] SaurabhSharma-MSFT commented on #11467
@shubham5526 You can refer to the below documentations:
- [Using ADFS as an Identity Provider for Azure AD B2C](https://blogs.msdn.microsoft.com/azuredev/2017/06/23/using-adfs-as-an-identity-provider-for-azure-ad-b2c/)
- [Using AD FS as a claims provider](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/Features%20part%204.md#using-ad-fs-as-a-claims

[2018-07-10 22:54] ranjanp opened #11517 "no pipeline() within dataset parameter"
don't use pipeline() within a dataset parameter here. while it is functional (our backend doesn't validate anything), it'll correctly give an error in the ui. datasets are supposed to pipeline independent, this makes them depend on a specific pipeline for data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd297884-89

[2018-07-10 22:54] brandonh-msft opened #11518 "How/why are Storage Blobs used?"
In the '[Storage and Scalability](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-overview#storage-and-scalability)' section, we mention "uses Azure Storage queues, tables, and blobs" but only elaborate on the usage of Queues and Tables, not Blobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-07-10 22:58] cgillum commented on #11518
@brandonh-msft Good point. I agree we should add information about how we use blob storage:

* Blobs are used to manage the ownership of partitions
* Blobs are used to store function parameter and/or return value data when when these payloads exceed 60 KB

[2018-07-10 23:01] YutongTie-MSFT commented on #11078
Hi, I have filed a work item for this bug, it will be fixed shortly. Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 23:01] #11078 closed

[2018-07-10 23:03] YutongTie-MSFT commented on #11382
@Paul-Lo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 23:03] #11382 closed

[2018-07-10 23:05] BryanTrach-MSFT commented on #11500
@cwhd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 23:13] femsulu commented on #11154
@akramwaseem Apologies on a delay. I am checking internally on this one and hope to have an update by end of week. Unfortunately, the primary owner of the action group feature is OOF so trying to find a backup to help with your question.

[2018-07-10 23:14] dcbrown16 commented on #6444
Excellent, thanks @snehithm !

[2018-07-10 23:14] #6444 closed

[2018-07-10 23:16] Bartolomeus-649 commented on #8765
cool, we know know more about the B-series than Microsoft does...

[2018-07-10 23:17] kelvinxia-MSFT commented on #9123
@gutjahr - the square logo is used exclusively in Windows authentication flows (see attached images). The dark theme version is deprecated and is no longer used anywhere.
![company branding square logo oobe](https://user-images.githubusercontent.com/41090488/42542618-8a859544-845c-11e8-9450-0af295f74757.jpg)
![company branding square logo post-oobe](https://user-images.githubusercontent.com/410904

[2018-07-10 23:18] polarapfel commented on #11303
@YutongTie-MSFT @v-jaswel I edited my above response.

This shows what's wrong here. Apparently, someone tried to move docs.microsofttranslator.com to docs.microsoft.com. What they did CNAME docs.microsofttranslator.com to docs.microsoft.com which also already is a CNAME (with an existing Akamai CDN configuration).

Now, when resolving docs.microsofttranslator.com, the first CNAME levels gets lost

[2018-07-10 23:20] telmer6 commented on #8765
To be fair to Microsoft, this range is **huge**, and likely very dependent on bandwidth usage at the providers, and which zone the instance lives in. I totally understand why they would be hesitant to publish numbers, but at least a low estimate would be nice.

[2018-07-10 23:22] MicahMcKittrick-MSFT commented on #8765
As mentioned, we are aware of the numbers but they do vary. So posting publicly can lead to false expectations. We are working internally to determine the best way to display this range. We appreciate all the feedback and rest assured it is being addressed.

[2018-07-10 23:32] tkumark commented on #11374
All the link you have sent is only related to service fabric nothing in specific to remote V2 improvments

[2018-07-10 23:34] kobulloc-MSFT commented on #11507
@DavidPrio I'm assigning this to the author to update as appropriate.

[2018-07-10 23:38] jillcary commented on #10887
@aftab-hassan, did that workaround work for you?

[2018-07-10 23:42] TravisCragg-MSFT commented on #11515
@Phydeauxman It is possible to use port 80 for all paths. In this example, it is also showing how to use different ports for path based routing.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-10 23:43] tfitzmac commented on #11438
@hukun01 - the article has been updated with a new section about condition.

[2018-07-10 23:43] tfitzmac commented on #11438
#please-close

[2018-07-10 23:45] jason-j-MSFT commented on #11517
@ranjanp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-10 23:46] lachie83 commented on #11492
@sachinkundu thanks for raising this. It is indeed a bug ONLY on k8s 1.10 at the moment that we are actively working on fixing. The current work around is to apply the following daemonset post provision then you will see nvidia.com/gpu as a schedulable resource. Please find the daemonset below

[code]

[2018-07-10 23:50] curtand commented on #10290
Hi @gutjahr I was too optimistic about what gets done around July 4th. I'm almost ready with an answer published in documentation. I'm adding this to link this to my work item DB.
https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/462056
but I do have a pull request too
https://github.com/MicrosoftDocs/azure-docs-pr/pull/46127

[2018-07-11 00:20] Phydeauxman commented on #11515
@TravisCragg-MSFT I have tried to modify this example to get the 3 different paths to use port 80 but am not having any luck in getting it to work.  Seems to me that there should be a single listener that all paths would come in on and then routing would be handled by a path based rule.  The real world scenario we are trying to address right now is that we have multiple Web Apps running inside of

[2018-07-11 00:23] vramanx commented on #11154
@akramwaseem - below is one sample for creating multiple action groups based on parameters. You can expand this to have more properties in the parameters.
[agtemplate.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/2182538/agtemplate.json.txt)

[2018-07-11 00:36] RobBarat opened #11519 "MSI Authentication"
There is an option for MSI in Authentication available through the GUI now. May we have an example of how this may work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory](http

[2018-07-11 00:56] Bartolomeus-649 commented on #8765
It won't lead to false expectations if you tell all the facts around what affect the network.
Now we know it is possible to get up to 1600 Mbps, which means the NIC is not a 100 Mbit or a 1Gbit. We didn't know that before.

[2018-07-11 00:57] telmer6 commented on #8765
@Bartolomeus-649 Maybe. Keep in mind that this is **ONLY** on my West US 2 instance. Other zones (or maybe other instances in the same zone) might be different.

[2018-07-11 01:00] Bartolomeus-649 commented on #8765
sure, but before we had ZERO bits of info on the network, Microsoft would only confirm that the B-Series indead had network cards, but that's it.
Beside the obscure statement "_It is safe to assume the networking capabilities of the B series should be sufficient._"

[2018-07-11 01:11] MarkusVi commented on #8977
90010 has been documented now.
#please-close

[2018-07-11 01:17] MicahMcKittrick-MSFT commented on #8765
As @telmer6 mentioned, that was just his zone. If you want to know for yourself in whatever zone I would suggest running a test as well until we can verify consistent speeds across all regions and make that public.

All your feedback is forwarded to the product teams.

Thanks.

[2018-07-11 01:20] MicahMcKittrick-MSFT commented on #11516
@kaiyoshino you could use a Network Security group on the subnet of your Vnet your cluster is using to block traffic. Simply add a list of allowed IPs or a range of IPs and the rest will be blocked.

[2018-07-11 01:22] MicahMcKittrick-MSFT commented on #11374
Correct. We don't have a specific announcement page for each feature of service fabric. There are many services and I am not sure how we would scale that out. Any announcements would be included in the general Service Fabric Announcements page.

[2018-07-11 01:23] MicahMcKittrick-MSFT commented on #11492
Thanks for confirming this @lachie83!

@sachinkundu I will close for now. If the above does not help just let us know.

[2018-07-11 01:23] #11492 closed

[2018-07-11 01:38] v-wimarc commented on #11182
Hi all,  MC Azure products available by region page is online now! With this table, you can see all MC available services/service series/features in the 4 datacenters. It’s just a start, and ACN will work with Mooncake operation team to maintain it from now on.

Chinese version: https://www.azure.cn/zh-cn/home/features/products-by-region
English version:  https://www.azure.cn/en-us/home/features/p

[2018-07-11 01:42] jlee-vi commented on #8826
Keen to know if this has been resolved yet also. Have a client who is deploying S2S VPN first, but end-state will be ExpressRoute with VPN failover.

[2018-07-11 01:54] hukun01 commented on #11438
Thanks Tom. I guess my confusion came from this line:

based on your updates, it looks like this should rather be

Am I understanding this correctly?

[2018-07-11 01:58] StefanoDeflorio commented on #5417
Quite new to docker and IoT Edge, Im trying to share a volumen between host and container, to do so I need to create and attach a volume when I create the container. How would I set the createOptios in the deployment.template.json to acieve that? The structure of my module "section" in the file is the following:
        "modules": {
          "pythonmodule": {
            "version": "1.0",

[2018-07-11 02:04] #11360 closed

[2018-07-11 02:05] BryanTrach-MSFT commented on #11360
@bogan Thank you for pointing this out. We have gone ahead and added clarity to the doc. This should be viewable within 24 hours.

In the meantime, when you run the below cmdlet, the output should have the Git Remote URL in the first 10 lines of the output.

`az webapp create --resource-group myResourceGroup --plan myAppServicePlan --name <app_name> --runtime "PHP|7.0" --deployment-local-git
`

We

[2018-07-11 02:21] tkumark commented on #11374
since in that page there is a specific mention of Remote V2 and code change related to it. If I need to do these code changes I need to get my managers permission and justify to him why I need to do these code changes and why Remote V1 is not good enough. It would have been nice to have such information.

[2018-07-11 03:08] pvanaarde commented on #11153
I can also not get this to work. In particular, I'm trying to share a KB with a guest user. I have added this user in Azure, but they still do not see any available services when logging into the QnA Maker portal.

[2018-07-11 03:10] pvanaarde commented on #8219
I'm having the same problem. The sharing for me works fine when sharing to other users in my AD, however when trying to share with someone outside of our AD (a guest user in Azure), this doesn't work. I am able to add the user in Azure, but they do not see any services when signing into the QnA Maker portal.

[2018-07-11 03:43] SunnyOswal commented on #10960
I was getting same error on VSCODE and CLI on windows 10. There were no errors reported for az aks use-dev-spaces ....... command.
Workaround/Fix: Restart VsCode and azds prep --public runs fine.

[2018-07-11 03:56] rsrinivasanhome opened #11523 "Creating an Application"
My understanding if we are to create a new application in the developer portal we should be getting the following details
-client id , secret to connect to the authorization server
-Subscription key to be used for billing purposes.

From the documentation it is not clear how to get the client and secret for the application to connect to the authorization server (Azure B2C in our case).

---
#### D

[2018-07-11 04:12] mmcla commented on #10309
@cloudinnovating Great question! We only support the listed providers today. We're working with other companies to onboard them as custom control providers for some targeted scenarios, primarily MFA, but we don't intend to open custom controls up to general development in the foreseeable future.

[2018-07-11 04:16] tienvv1234 commented on #11483
Here is what I am flowing
https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-node-backend-how-to-use-server-sdk#a-namepushpush-notifications (For create Azure Mobile App)

and push notification
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started (for android)

https://docs.microsoft.com/en-us/azure/no

[2018-07-11 04:29] HemantChandurkar commented on #11410
@douglaslMS
Here it is:
https://stackoverflow.com/a/49917623/3360223

[2018-07-11 04:38] marcelvandendungen commented on #11219
So why not track the update of the documentation via this or related ticket? How am I supposed to know when this issue gets resolved? Or how to integration Azure AD SCIM with a service provider that requires expiring tokens issued by the service provider (not Azure AD).

Thanks,
-- Marcel

[2018-07-11 04:40] rjoshi83 commented on #11506
@MicahMcKittrick-MSFT Appreciate your response. Sure I will find correct forum to ask this question as we are getting this issue across all the VMs deployed. Thanks

[2018-07-11 05:02] anwather opened #11524 "File share backup with firewall enabled"
Is it planned to allow the recovery service access to file shares protected by virtual network firewall?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee8b8f60-bffd-e6ec-5f21-bfd3208fc511
* Content: [Back up Azure File Shares](https://docs.microsoft.com/en

[2018-07-11 05:19] daxtonwilson commented on #8128
The raspbian-2017-07-5 image no longer boots correctly for the latest Raspberry Pi 3 B+, a newer version of Raspbian is required. This makes it impossible for anyone to follow these instructions without running into a wiringpi error. A fix would be great without needing a new feedback thread just to get it done.

[2018-07-11 05:40] SnehaGunda commented on #10382
#please-close

[2018-07-11 05:47] msvijayn commented on #10871
@akramwaseem<https://github.com/akramwaseem> – You don’t need different action groups for each alerts; if the actions are same. That is the entire utility and purpose of action group; see: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-action-groups

[cid:image001.jpg@01D41908.C9621C70]

We can add the snippet provided earlier in comments (for using multiple action gr

[2018-07-11 05:57] femsulu commented on #11154
@vramanx thanks for stepping in and helping with this.
@akramwaseem  please review and let us know if you have any followup questions.

[2018-07-11 05:58] Mitanshirathor commented on #11345
Hi, I am trying to deploy my own custom module on the edge device. The image is present in my azure container repository.The module is not being recognized by the device and is not reflecting as a container on the edge device. The logs show me the error that authentication is required to the repository.
i ran the docker login -u <ACR username> <ACR login server> command and the login was successfu

[2018-07-11 06:08] femsulu commented on #11311
@gadhiyanilesh54 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 06:08] #11311 closed

[2018-07-11 06:09] Bcedeno opened #11525 "Is there a way to get the first name initial and full last name and map to UPN?"
Is there a way to get the first initial of first name and full last name and map that to UPN? I've tried many different way but I run into

Error Code: SchemaInvalid

Message: Joining property userPrincipalName has more than one SourceName

I can get first name initial
Join("@", Mid([FirstName], 1, 1), DefaultDomain())

or full last name
Join("@", [LastName] , DefaultDomain())

But I can't seem to

[2018-07-11 06:11] Gimly commented on #11421
@alpinedelight yes, it's definitely the same address as the one took 2 steps above, that's what I added in the PR #11422.

[2018-07-11 06:13] ksemaev commented on #11472
@MicahMcKittrick-MSFT thank you for the response! What command did you have to stop with Ctrl+C?
The install comand "helm install stable/nginx-ingress --namespace kube-system" finished quickly without any hangs.
The show command "kubectl get service -l app=nginx-ingress --namespace kube-system" also shows output and quits.

So all I can do is - helm install or helm delete. I tried to edit service

[2018-07-11 06:18] gensobunya opened #11526 "doesn't matching title and code"
This page is for Node.js, but code sample is written in Python

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 37685dc4-229b-32d5-7926-d1ea3ccdf28b
* Version Independent ID: 91c8e2a4-5ffb-fff1-b088-a875a08a8ba1
* Content: [Publish Knowledge Base, Node.js Quickstart - Azure Cognitive Services](https://docs.microsoft.com/ja-jp/azure/cognitive-services/Q

[2018-07-11 06:32] Brucius commented on #11471
hello @MicahMcKittrick-MSFT I'm getting the error when i ran the ansible playbook to create the VM. I have double checked my ssh public key data and the directory too.
[code]

[2018-07-11 06:33] saifuddin123 opened #11527 "Error while installing moby-engine : Unable to locate package"
Hi,
Following https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux , i am trying to install IoT Edge runtime on Ubuntu 16.04 LTS over raspberry Pi 3. I am seeing below error while installing moby-engine.

"E: Unable to locate package moby-engine"

I was able to perform all the steps w/o issues in the same version of Ubuntu over a PC.

[2018-07-11 06:33] SunnyOswal opened #11528 ""azds list" command is unrecognized."
Version: Azure Dev Spaces CLI (Preview) 0.1.20180630.3
As described in documentation, i get error using "azds list" . On using help, list is also not in available commands list.
As per help tried "azds list-up" which works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84640735-75c0-096c-9469-e00fedcf147c
* Versi

[2018-07-11 06:38] sumanbikram opened #11529 "Consultant"
When we have public LB then why we need to open http from 0.0.0.0/0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af871177-05e5-4194-bbb1-69d765c475c2
* Version Independent ID: a4ed57d6-3d56-bf1d-1f72-c81b00556960
* Content: [Quickstart: Create a public Basic load balancer by using the Azure portal](https://docs.micr

[2018-07-11 06:46] TravisCragg-MSFT commented on #11523
@rsrinivasanhome Could you please post a link to the documentation that you are referring to?

[2018-07-11 06:51] toenie23 opened #11530 "Databricks App Error"
I try to run  val df = spark.read.json("adl://&lt;DATA LAKE STORE NAME&gt;.azuredatalakestore.net/small_radio_json.json") with my data lake store name and I keep getting an access control exception error. I got the application id, tenant id and key correctly

org.apache.hadoop.security.AccessControlException: GETFILESTATUS failed with error 0x83090aa2 (Forbidden. ACL verification failed. Either th

[2018-07-11 07:01] neilpeterson commented on #11472
@ksemaev assuming your AKS cluster does not already container a service with type `LoadBalancer`, the following (simplified) actions occur:

- Azure Public IP is create
- Azure Load Balancer is created
- PIP is configured on the LB
- Inbound NLB rule is created to route traffic to the AKS nodes

When creating the cluster, have you configured advanced networking (custom VNET)? If not can you confir

[2018-07-11 07:03] TravisCragg-MSFT commented on #11524
@anwather You can add a rule to the firewall to allow traffic to the destination storage account. If you would like to request that this feature be added, you can [give your feedback Here.](https://feedback.azure.com/forums/217298-storage)

[2018-07-11 07:07] Shachar1 commented on #11527
Hi, there is more steps when arm is concerned -
try this link - https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm

[2018-07-11 07:09] Brucius opened #11531 "How to view memory usage from the metrics blade?"
Hello, read through the doc and it stated that metrics for memory usage is supported but in the view your data section, there's no metrics for memory usage. Am I missing something here or is memory usage considered part of Disk Read/Write operation in this context?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1324902

[2018-07-11 07:34] Shachar1 commented on #11046
Hi, @sergaz-msft, @veyalla I'm having the same problem -
`iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled)
   Active: failed (Result: start-limit) since Wed 2018-07-11 07:18:30 UTC; 4s ago
     Docs: man:iotedged(8)
  Process: 30178 ExecStart=/usr/bin/iotedged -c /etc/iotedge/config.yaml (code=exited, status=127)
 Main PID: 30178 (code=exited

[2018-07-11 07:58] dominicbetts commented on #11487
@sergaz-msft @ampac28 - I added some links to further information in the article. The changes should be published later today.

[2018-07-11 07:59] dominicbetts commented on #11487
@ampac28 - I'm going to request this issue is closed. If you have further questions, please reopen it. Thanks!

[2018-07-11 07:59] dominicbetts commented on #11487
#please-close

[2018-07-11 08:23] LoganZhao opened #11532 "BEK-only VMs still not supported for Backup."
When we try to backup VM with BEK encrypted, it still throw out error with: Single-Pass encryption is not supported.
can we change the doc as it may confuse customer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63-be57-2c49-15fc-b9dc7fdda1b3
* Version Independent ID: 30777b2a-604d-ce18-c891-4d272632f039
* Cont

[2018-07-11 08:28] pvazure517 opened #11533 "AzureADUserAppRoleAssignment"
I am trying a PS scrip(Provided by MS) to give user admin access on one of my Enterprise application but its not working

$user = Get-AzureADUser -ObjectId 'username'
$sp = Get-AzureADServicePrincipal -Filter "displayName eq 'TestAPP'"
$appRole = $sp.AppRoles | Where-Object { $_.DisplayName -eq 'TestApp'}
New-AzureADUserAppRoleAssignment -ObjectId $user.ObjectId -PrincipalId $user.ObjectId -Resour

[2018-07-11 08:33] airwolfnh commented on #11330
To make it more easier to understand, think about how would you extend your terraform example by adding a security group and attaching it to the subnet that was created by aks?

[2018-07-11 08:52] MSIntuneRocks commented on #10805
Is that correct that no matter which MFA service is being used by a company (MFA in the cloud or on-premises MFA server) this new baseline policy will use Azure MFA in the cloud and all admins will be blocked, if the company does not opt out/turn off the baseline policy before it goes live?
When this new baseline policy goes live, the admins will be blocked by Azure MFA in the cloud and not by the

[2018-07-11 08:55] tsahi commented on #11058
You actually need to replace it with

    var client = new HttpClient();

Which will also save you a few lines of code. Why are you using a third-party package when you have an excellent client in the framework?

[2018-07-11 09:22] shalinasanga opened #11534 "Android using is depricated"
In which nuget should i get this  "using Microsoft.WindowsAzure.MobileServices"
This is https://www.nuget.org/packages/WindowsAzure.MobileServices/ Depricated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88-3c4d-a148-6288a7022f16
* Content: [Ad

[2018-07-11 10:14] shalinasanga opened #11536 "Android V7 is not available in SDK 26 +"
can not use "using Android.Support.V7" in project has 26+ android sdk compile version
ended up using "using Android.Support.V4.App" which has no some features.
Ex:- .SetSmallIcon(Resource.Drawable.ic_stat_ic_notification)

https://stackoverflow.com/questions/33209501/what-is-the-difference-between-v4-app-notificationcompat-and-v7-app-notification

---
#### Document Details

⚠ *Do not edit this sec

[2018-07-11 10:14] Sviatik commented on #11493
Here are
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-ip-addresses

[2018-07-11 10:28] tigerdeccan opened #11538 "How to I configure App Insight outside visual studio ?"
In dev enviornment it is ok If I configure via Visual studio . I promote my release to different environment and my service fabric cluster for that enviornment is pointing to different App insights resource . This is breaking .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0402be82-9542-9eb9-7c9f-278e16b59d66
* Versio

[2018-07-11 10:37] guvnor1972 opened #11539 "Entity path not created"
After creating an access policy there is no Entity path defined in the primary connection string - I only get this
"Endpoint=sb://xxxxx.servicebus.windows.net/;SharedAccessKeyName=Mypolicy;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx="

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2535ccd-140c-9935-352e-6574208f3c6b

[2018-07-11 10:39] ChrWeinert commented on #11478
Hello,
I didn´t tried it on the ISE, I tried it on the PowerShell Console

[2018-07-11 10:43] tsahi opened #11540 "How would this work?"
I'm quite experienced with LUIS, and learning QnA now. To the extent I know LUIS, for this scheme to work, you would have to add all your HR questions to the HR intent in LUIS as utterances, the Payroll questions to the Payroll intent, and so on. This looks like allot of duplication. Am I wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-11 10:44] #11527 closed

[2018-07-11 10:46] amandadebler opened #11541 "Example with custom domain name and SSL certificate"
I see that the addon-http-application-routing-nginx-ingress service has both port 80 and 443 exposed via the load balancer; could this be used with a custom domain name and certificate, or is it just to simplify using the automatically-generated FQDN as ingress?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c

[2018-07-11 10:50] amandadebler opened #11542 "Suggestion: Example with static public IP address and user-supplied certificate"
An example using a pre-defined (static) public IP address would be helpful, as would instructions for using a user-supplied certificate (from an external CA) retrieved from Azure Key Vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3

[2018-07-11 11:00] mattjhayes commented on #11406
I replicated by spinning up a new Ubuntu 18.04 VM.

Start by ensuring Ubuntu 18.04 system up-to-date
[code]

Download and unzip tutorial samples:
[code]

Zoltan recommendation to upgrade pip setuptools:

[code]

Install the pip package as specified by tutorial:

[code]

Received an error:

[code]

Retry with --user option:

[code]

Set up and run simulated device:

[code]

Error:

[code]

Note, I

[2018-07-11 11:09] sam-cogan opened #11543 "PowerShell Commands Not Present"
It seems that the latest version of the AzureRM.SQL modules, even with pre-release allowed is 1.10, these do not seem to have the elastic job commands. Can you confirm how to obtain these, as the steps in the article do not work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a93bc08-f5ce-c475-5fc8-7c515f28a0ee
* Vers

[2018-07-11 11:34] mpolski commented on #11042
Sorry @sergaz-msft , I was travelling. The issue was solved (don't deploy any models before creating certs first).
Many thanks.

[2018-07-11 11:37] dominicbetts commented on #11487
@ampac28 - in the tutorial you're looking at, the syntax you need to use is:

`targetCondition: deviceid=\'device01\' OR deviceid=\'device02\'`

[2018-07-11 11:48] Velmurugan-n opened #11546 "Uploading ISO file"
Hi Team,
In earlier version, we do have options to upload .ISO image.
Now the above steps talks about only uploading custom .VHD file...
How do we upload .ISO image these steps are missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5641816f-4687-3719-0edf-27624c2c6103
* Version Independent ID: 377a2b99-f77b-b408-8

[2018-07-11 11:57] pgsoub opened #11547 "Java"
Could you make a java example about it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6d7d1b-f159-2d1e-fc31-ac55f6a05a62
* Version Independent ID: 892adf56-55d4-cddc-94d8-d96ef7dd6cda
* Content: [What is Azure Cloud Services](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-choose-me)
* Content S

[2018-07-11 12:39] SamirFarhat opened #11548 "tags.tagName and tags[tagName] very confusing"
Hi,
On the section "Fields", the article mentions that we can define :
- tags.tagName
- tags[tagName]

The font used for tags and tagName is the same, so for me, tags.tagsName is the FIELD, and TagsName is not a variable. For example i have defined the following policy :
{
  "if": {
    "not": {
      "field": "tags.tagname",
      "equal": "costcenter"
    }
  },
  "then": {
    "effect": "deny"

[2018-07-11 12:41] jennyf19 commented on #8227
@judemars @linuxcat

Thanks for the information. You are seeing differences between .NetCore and .Net Framework `PlatformParameter` implementations because .NetCore does not provide UI, so there is no possibility for user interaction. See our [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-o

[2018-07-11 12:44] #11487 closed

[2018-07-11 12:46] frehnejc opened #11549 "Update for end to end SSL"
Can this example be revised for end to end SSL? No one should be using un-encrypted traffic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7b8bcd-b263-692e-6d14-1663cdedef03
* Version Independent ID: f2307954-8544-d820-cb76-f7fa0a9601db
* Content: [Protect web apps with Azure Application Gateway - PowerShell](https:

[2018-07-11 12:57] #11539 closed

[2018-07-11 12:57] sergaz-msft commented on #11546
Thanks for the feedback @Velmurugan-n  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-11 12:57] guvnor1972 commented on #11539
Ah - realised I hadn't created the event hub itself, just the namespace....

[2018-07-11 12:59] sergaz-msft commented on #11146
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 12:59] #11146 closed

[2018-07-11 13:09] #11353 closed

[2018-07-11 13:11] maticko commented on #10098
I hit the same issue.
Just to clarify, you need to edit the Role attribute, and replace
`user.assignedroles`
with
`arn:aws:iam::account-number:role/role-name1,arn:aws:iam::account-number:saml-provider/provider-name`.

Role ARN(Created in step 17) and Identity Provider ARN (Created in step 14) must be copied from respective pages. Also, make sure that the Value field has RoleARN and IdentityProvide

[2018-07-11 13:15] abhijeetgaiha commented on #11531
Hi @Brucius ,
If you've configured LAD correctly to provide metrics for memory usage, then they will show up in the metrics blade. You have to specify the memory related metrics listed here: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#builtin-metrics-for-the-memory-class
Thanks,
Abhijeet

[2018-07-11 13:33] mikeoleary opened #11550 "Automation?"
Hi, is there a way we can activate roles with Powershell or the REST api? Our users would like to be able to do this from the command line. We have 2-factor auth with the authenticator app when activating PIM roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a831056-b759-8539-ca86-9fbb84f331d7
* Version Independen

[2018-07-11 13:34] texfreddy opened #11551 "Build Errors"
I've downloaded and tried to build this solution using VS 2017 CE. However it's giving me about 15 errors, all in the LiveCameraSample project. Here are two samples of the errors. Has anyone got this to build successfully ever? Thank you -

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Vision' does not exist in the namespace 'Microsoft.Proje

[2018-07-11 13:51] cloudmelon opened #11553 "Need more details about availibity set in VMSS"
The doc https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview  mentionned the following :
VMSS  : Automatic distribution of VM instances across Availability Zones or Availability Sets

I also read a book said as below
![image](https://user-images.githubusercontent.com/4621560/42575870-a71220f4-8521-11e8-97d9-7e48db5c7fbc.png)

![image](https://user-images.githubusercontent.com

[2018-07-11 13:53] fablehouse opened #11554 "In Settings, click Disaster recovery."
It's in operations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94df3619-b79b-0ec3-ec94-5928c1458d94
* Version Independent ID: 18fdcc5a-f2d1-93ce-9053-458e1cf1dd36
* Content: [Replicate an Azure VM to another Azure region](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-quickstart)
* Content Sourc

[2018-07-11 13:54] scherrbe opened #11555 "Confusing wording - DNS on Different Machines"
Here's something that could be worded better:

DNS and domain controller on different machines
If DNS isn't on the same virtual machine as the domain controller, you must create a DNS virtual machine for the test failover. If DNS and the domain controller aren't on the same virtual machine, you can skip this section.

This section is all about having DNS and DS on different machines.  Wording shou

[2018-07-11 13:54] theotherpotter opened #11556 "Xamarin.Firebase.Messaging appears to be incompatible with Microsoft.Identity.Client - nuget conflict"
I've been trying to get this working using an app I have built (following these tutorials) which uses Azure AD B2C for authentication.  When I try to add push notifications I'm unable to add the Xamarin.Firebase.Messaging nuget package due to version conflicts.  Is it possible the sample needs updating?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-07-11 13:56] theotherpotter commented on #11556
NU1107: Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 TodoAzure.Droid -> Xamarin.Firebase.Messaging 60.1142.1 -> Xamarin.GooglePlayServices.Basement 60.1142.1 -> Xamarin.Android.Support.Compat (>= 26.0.2)
 TodoAzure.Droid -> Xamarin.Android.Support.Design 25.4.0.2 -> Xamarin.Android.Support.Compat (= 25.4.0.2).

[2018-07-11 14:04] sergaz-msft commented on #11406
@mattjhayes thank you so much for sharing all the details of the troubleshooting steps you've taken. I'm sure it will help others following this tutorial 👍 .

I will take a note of the errors you've got and share it with Product Group, even though the device is sending messages to IoTHub:

[code]

The [Prerequisites section](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-

[2018-07-11 14:32] akramwaseem commented on #10871
@msvijayn --  thanks for the info. I understand what you are suggesting above.
for us the whole purpose of having multiple action groups is to call different teams with different emails and webhooks.
We have single template which has multiple log analytics alerts and not all alerts goto all the action groups and each alert goes to its own action group in a single subscription.

As per my knowledge

[2018-07-11 14:32] akramwaseem commented on #11154
@vramanx -- thanks for the file. I will take a look and get back to you.

[2018-07-11 14:33] janefreakindoe opened #11557 "Error on this page?"
In the example above, "The stock price increase by 7 $ this year", the resulting json shows the entity value as " 7 % ".  Bug or feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5470819-3488-fb04-a111-fc5deba3e9d4
* Version Independent ID: 9787ae46-d1d7-de17-4deb-1477c735bf84
* Content: [LUIS Prebuilt entities

[2018-07-11 14:39] eross-msft commented on #10130
@Nilis312 Thank you for contacting us about this. I only recently took over the ownership of this article, so I'm trying to track the information down for you. I'll get back to you as soon as I can.

[2018-07-11 14:41] eross-msft commented on #10940
Closing issue. @ericjenouvrier if you have any additional questions, please open a new issue. Thanks!!

[2018-07-11 14:45] cdonke commented on #9103
Hi @PhantasmNZ ,

I talked to the team responsible for theses APIs.
The Train APIs are missing from V4 as they are re-designing the feature.

It's planned to be re-introduced in a future release. But without dates yet.

Tks.

[2018-07-11 15:00] sergaz-msft commented on #11458
Hello @Cherisle thank you for detailing the troubleshooting steps.

"Add and use additional NuGet packages into the project" is outside the scope of this doc, we would suggest you post your question to either [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-iot-edge). You can reply back to this thread wi

[2018-07-11 15:01] sergaz-msft commented on #11458
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 15:01] #11458 closed

[2018-07-11 15:07] jgoembel opened #11560 "How to access the Azure Site Recovery Dashboard"
It must be self assumed by "the three contributors" that everyone knows how to access this dashboard. Some folks, myself included, are very unfamiliar with all of this. Not asking for hand holding, but share all relevant details when you write an article. Out of three contributors I would think someone would have thought of this.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-07-11 15:16] v-geberr commented on #11557
@janefreakindoe Thank you for taking the time to log this issue. The table is incorrect. Please use this [page](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-reference-prebuilt-percentage) for information regarding JSON response for percentage. I will remove the table on the page you referenced as more complete information is on each prebuilt entitie's page. #in-progress

[2018-07-11 15:24] jackiems82 opened #11561 "GatewayTimeout"
Hi, we have an odd problem that we cannot seem to localize. We send data from sender to the listener and sometimes everything runs smoothly, but most of the time we get a GatewayTimeout with the message: 'The request was routed to the listener but the listener did not respond in the required time.'

Does anyone know where we could try to start to examine this? We followed the tutorial and I guess

[2018-07-11 15:45] cloudmelon opened #11562 "Got 302 error while download oms agent in linux"
Doc url :
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-quick-collect-linux-computer

After running the following Command :
wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w <YOUR WORKSPACE ID> -s <YOUR WORKSPACE PRIMARY KEY>

Here is the output

![image](https://user-images.githubuserconten

[2018-07-11 15:50] HowardEdidin commented on #11146
I tried factory reset but still have the same issue

[2018-07-11 15:51] stephaneey opened #11564 "Issuer validation failed. Issuer did not match."
Hi,

I must be missing something obvious but whether I try to use an access token obtained via delegate permissions or via client credential flow+RBAC, I always end up with a 403 error with  the following message:

Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.

with these extra details:

Issuer validation failed.

[2018-07-11 15:51] faraazc commented on #9103
Can you guys please put them back for now as it was there in old
release..And you can change them in future release so that it does not
hamper projects built using train api.. Since you guys have removed it
without notice and we deserve to get it back atleast a temporary one until
there is a permanent one.

On Wed 11 Jul, 2018, 8:15 PM Christiano Donke, <notifications@github.com>
wrote:

[2018-07-11 15:56] Mike-Ubezzi-MSFT commented on #11543
@sam-cogan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-11 15:58] Mike-Ubezzi-MSFT commented on #11561
@jackiems82 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-11 16:04] rsrinivasanhome commented on #11523
https://docs.microsoft.com/en-us/azure/api-management/api-management-application-templates

I could not find much documentation on the apim developer portal applications other than the above link.  Here I could not see any fields for providing a client id and secret

[2018-07-11 16:15] PatAltimore commented on #11444
#please-close

[2018-07-11 16:18] MarkusVi commented on #10309
#please-close

[2018-07-11 16:20] vhorne commented on #11392
Thanks @dcbrown16. That article should have been redirected to https://docs.microsoft.com/en-us/azure/application-gateway/create-ssl-portal, which is in the TOC.

I made that change and it should show up later today.

[2018-07-11 16:23] luleonpla commented on #11451
Thanks for the feedback. This article may clarify some of the confusion you have between applications showing up on Enterprise apps vs App registration: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-how-applications-are-added

[2018-07-11 16:31] tdykstra commented on #11408
I'm adding this recommendation to the C# and C# script language reference docs.  #please-close

[2018-07-11 16:40] HowardvanRooijen commented on #11408
Will that come with a worked example?

[2018-07-11 16:47] iainfoulds commented on #11022
Hi, @pdeva. Are you still having issues? I haven't been able to replicate the issue you encountered. Can you confirm your Helm version and share any errors in the output? Otherwise we can close this out and re-open if it comes up again.

[2018-07-11 16:47] tdykstra commented on #11408
The docs have an ICollector example that was designed to show writing multiple values in one function execution. This scenario differs only in that instead of adding multiple items you would not add even one item to the collector if you didn't have one to add.  Do you think we need a separate example to show that scenario? The current example is here: https://docs.microsoft.com/en-us/azure/azure-f

[2018-07-11 16:49] HowardvanRooijen commented on #11408
I guess it's just really the concept...and then the link as these are essentially recipes...

[2018-07-11 16:51] MohitGargMSFT commented on #11550
@mikeoleary Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-11 16:55] iainfoulds commented on #11228
Hi, @vlindhol. It doesn't look like we have anything more specific right now, but the engineering team has a backlog work item to scope this down. When they do, we'll provide a doc that outlines what they are (assuming there's not an API made available to query them).

@MicahMcKittrick-MSFT For now, #please-close

[2018-07-11 17:03] TravisCragg-MSFT commented on #11444
@ronsonntag54 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 17:03] #11444 closed

[2018-07-11 17:06] #11511 closed

[2018-07-11 17:10] jason-j-MSFT commented on #11519
@RobBarat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 17:13] SaurabhSharma-MSFT commented on #11525
@Bcedeno Could you provide us with the link to the document you are referring to ?

[2018-07-11 17:15] SaurabhSharma-MSFT commented on #11528
@SunnyOswal Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-11 17:16] SaurabhSharma-MSFT commented on #11533
@pvazure517 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-11 17:18] SaurabhSharma-MSFT commented on #11553
@cloudmelon Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-11 17:20] TravisCragg-MSFT commented on #11564
@stephaneey The purpose of GitHub Issues is to improve the documentation or answer general questions about Azure. It seems in this case you are having a specific troubleshooting issue. could you please post this question to the [Azure Storage forum on MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata&filter=alltypes&sort=lastpostdesc)? This will be the best place for

[2018-07-11 17:20] #11564 closed

[2018-07-11 17:20] SaurabhSharma-MSFT commented on #11562
@cloudmelon Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-11 17:21] TravisCragg-MSFT commented on #11560
@jgoembel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-11 17:22] MicahMcKittrick-MSFT commented on #11538
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 17:22] TravisCragg-MSFT commented on #11555
@scherrbe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-11 17:23] MicahMcKittrick-MSFT commented on #11541
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 17:23] MicahMcKittrick-MSFT commented on #11542
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-11 17:23] SaurabhSharma-MSFT commented on #8977
@GitHubMWJ We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 17:23] #8977 closed

[2018-07-11 17:23] SaurabhSharma-MSFT commented on #10273
@cwienands We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 17:23] #10273 closed

[2018-07-11 17:24] SaurabhSharma-MSFT commented on #10309
@cloudinnovating We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 17:24] #10309 closed

[2018-07-11 17:24] stcarley opened #11566 "LinkedIn Learning no longer offers SCIM provisioning"
LinkedIn Learning no longer offers SCIM provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddf9bf4-9203-9e10-5328-fab3c2fb52db
* Version Independent ID: 76cd3923-c687-4c7f-5cd1-1dacf2643def
* Content: [Tutorial: Configure LinkedIn Learning for automatic user provisioning with Azure Active Directory](https://

[2018-07-11 17:24] TravisCragg-MSFT commented on #11549
@frehnejc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-11 17:29] vasivara-MSFT commented on #11539
@guvnor1972 Thanks for closing the issue. If you have any issues with the document. Please let us know. We would be happy to help.

[2018-07-11 17:30] MohitGargMSFT commented on #11550
@mikeoleary Please note that you can use Microsoft graph API or Powershell for PIM. Please refer to below links to check available commands.
Powershell - [Microsoft.Azure.ActiveDirectory.PIM.PSModule](https://www.powershellgallery.com/packages/Microsoft.Azure.ActiveDirectory.PIM.PSModule/2.0.0.1513)
Graph API - [Azure AD Privileged Identity Management](https://developer.microsoft.com/en-us/graph/d

[2018-07-11 17:32] hukun01 opened #11567 "AggregateException from PS cmdlet when deploying using existing key valut"
Hi,

I got an aggregation exception when I tried to run this comand
`New-AzureRmServiceFabricCluster -ResourceGroupName $resourceGroupName -SecretIdentifier $secretID -TemplateFile $templateFilePath -ParameterFile $parameterFilePath`

The exception says

At line:1 char:1
\+ New-AzureRmServiceFabricCluster -ResourceGroupName $resourceGroupName ...
\+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-07-11 17:35] YutongTie-MSFT commented on #11526
@gensobunya Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 17:38] kaiyoshino commented on #11516
Okay. I will give this a shot. Thanks.

[2018-07-11 17:38] #11516 closed

[2018-07-11 17:42] mmacy commented on #11511
@jobevers I've added additional clarification to the line in question as well as a few clarifications in other parts of the doc. Thanks for the input!

[Authenticate with Azure Container Registry from Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks#access-with-kubernetes-secret)

[2018-07-11 17:44] vramanx commented on #11154
I fixed a small bug in the output section where I did not use the correct namespace for the resource
[agarraytemplate.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/2185607/agarraytemplate.json.txt)

[2018-07-11 17:45] iainfoulds commented on #11542
Thanks for the suggestion, @amandadebler. I agree this would be a good example to have. This existing doc is a great way to show how to quickly deploy a service and use Let's Encrypt, but there are valid scenarios for using an existing public IP and your own certs. I'll likely create an additional doc that covers this, and provide links between the two docs.

I've created a backlog work item for t

[2018-07-11 17:46] vasivara-MSFT commented on #11530
@toenie23 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-11 17:48] vasivara-MSFT commented on #11404
@ProteusTitan Since we haven't got any response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 17:49] #11404 closed

[2018-07-11 17:50] MicahMcKittrick-MSFT commented on #11374
There is nothing stating that V1 isn't good enough. We simply state what V2 is doing:

![image](https://user-images.githubusercontent.com/32313503/42590076-aad39062-84f7-11e8-930b-5bd2c972489b.png)

I will assign to the content author to review and see if there is more information we can add.

@vturecek can you take a look?

CC @dkkapur @masnider

[2018-07-11 17:52] #10940 closed

[2018-07-11 17:53] Phydeauxman commented on #11451
That is a great article but wish it would link you to articles that give you detail on HOW to actually do it.  And also, how this is impacted when using B2B invited accounts.  So we are developing an app that will be registered in our directory but needs to be used by accounts in other directories.  I originally thought (from reading a bunch of the multi-tenant app documentation out there) that ou

[2018-07-11 17:53] femsulu commented on #11547
@pgsoub Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-11 17:53] #11542 closed

[2018-07-11 17:53] TravisCragg-MSFT commented on #11529
@sumanbikram If you do not explicitly allow the traffic, it will be blocked by the NSG.

From the [Azure Standard Load Balancer Overview Documentation](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata&filter=alltypes&sort=lastpostdesc)

[2018-07-11 17:55] MicahMcKittrick-MSFT commented on #11275
@apercova I will close for now. When ready please come back and we can reopen and continue.

[2018-07-11 17:55] #11275 closed

[2018-07-11 17:56] femsulu commented on #11548
@SamirFarhat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-11 17:57] MicahMcKittrick-MSFT commented on #11494
Thanks @raiye!

@nitinkhandelwal26 I will close for now. If you have additional questions following the example provide please let us know.

[2018-07-11 18:03] BryanTrach-MSFT commented on #11536
@shalinasanga Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 18:03] BryanTrach-MSFT commented on #11534
@shalinasanga Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 18:07] YutongTie-MSFT commented on #11540
@tsahi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 18:08] YutongTie-MSFT commented on #11551
@texfreddy
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 18:09] SheridanLGrant opened #11568 "publishWebService Arguments Incorrect"
The way publishWebService is used in the tutorial appears to be old, you now provide a workspace object as the first argument which itself is constructed from wsID and wsAuth. Also, the function itself is passed, not its name as a character.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b9

[2018-07-11 18:10] mmacy commented on #11482
@SamirFarhat The statement within this article is still true. The article that @MicahMcKittrick-MSFT had linked is for Azure Container Service (ACS) clusters and the required SPN permission for general cluster operations. This article is in relation to Azure Kubernetes Service (AKS), and the line is in relation to the permissions required for AKS to manage resources within the VNet.

[2018-07-11 18:15] SamirFarhat commented on #11482
Hi,
What resources for exemple? The only resources involved in AND theorically are Subnets. What type of operations please, this is a big concern as this is a security issue in Shared environments.
Thanks

[2018-07-11 18:22] SaurabhSharma-MSFT commented on #11523
@rsrinivasanhome Please refer to the below documentations for registering application in Azure B2C and creating client id and secrets for the same -
1. [Azure Active Directory B2C: Register your application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration)
2. For v2 endpoint - [How to register an app with the v2.0 endpoint](https://docs.microsoft.c

[2018-07-11 18:24] SaurabhSharma-MSFT commented on #11429
@Powerhelmsman @allar7 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 18:24] #11429 closed

[2018-07-11 18:29] ig-sinicyn commented on #9912
Same issue here. Any updates are welcome:)

[2018-07-11 18:30] mmacy commented on #11482
Hi @SamirFarhat,

As @sauryadas mentions in [AKS issue #444](https://github.com/Azure/AKS/issues/444), Contributor permission is required to "*create resources like LB's, IP addresses, and NSG's in the VNET required for publicly accessible apps deployed in the cluster.*" You might also find the comment by @noelbundick in that same issue valuable for further limiting the scope of access to Network

[2018-07-11 18:30] efficienthacks commented on #10508
The issue was that the hostname in the code should look like this: "testgraphacct.gremlin.cosmosdb.azure.com" even though the Azure portal says "https://testgraphacct.documents.azure.com:443/"

I'm sure there's a good reason why there are 2 endpoints...  @SnehaGunda this might be worth explaining.

[2018-07-11 18:31] vasivara-MSFT commented on #11530
@toenie23 Thank you for the update. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 18:31] #11530 closed

[2018-07-11 18:37] SheridanLGrant opened #11570 "AzureML Web Service Code Needs Update"
consumeDataFrame is deprecated, it looks like you need to use endpoints() somehow though I can't figure out what my web service service ID is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independent ID: 2ba93dae-de6b-bc82-3f19-4ec3bfe7961b
* Content: [Data science with

[2018-07-11 18:37] hukun01 commented on #11567
I'm closing this issue as we would go through msft internal deployment process to be compliant with company policy.

[2018-07-11 18:37] #11567 closed

[2018-07-11 18:45] efficienthacks opened #11571 "Finding paths from one vertex to the other"
What if you don't know how many hops there are from one vertex to another?

Is there a general way to get all paths from one vertex to another (without the path containing loops)?  i.e. Thomas--person*--&gt;Mary

I think I found the answer in http://tinkerpop.apache.org/docs/current/reference/#repeat-step

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-07-11 18:46] TravisCragg-MSFT commented on #11554
@fablehouse Than you for the feedback. I have changed "Settings" to "Operations", and it should reflect in the document within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 18:46] #11554 closed

[2018-07-11 18:46] MicahMcKittrick-MSFT commented on #11567
Thanks for the update @hukun01

[2018-07-11 18:56] MicahMcKittrick-MSFT commented on #11330
@airwolfnh I will assign to the content author to review and see if we can get this info added to the examples.

@TomArcher can you take a look?

[2018-07-11 18:58] SnehaGunda commented on #10508
@efficienthacks if you see the conversation of this thread we suggested the user to update URI as it's different from the once shown in portal. Thanks for the feedback, I will update the doc with some description about the URI's.

[2018-07-11 18:58] mikeoleary commented on #11550
Great to know, thanks Mohit.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohit Garg <notifications@github.com>
Sent: Wednesday, July 11, 2018 1:31:02 PM
To: MicrosoftDocs/azure-docs
Cc: mikeoleary; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Automation? (#11550)

@mikeoleary<https://github.com/mikeoleary> Please note that you can use Microsoft graph API o

[2018-07-11 18:59] kgremban commented on #11345
@danieljsmarda It looks like a line was accidentally deleted from the tutorial, which installs/updates the Function template. I just created a new solution and it includes the run.csx file so my only guess is that you might not be using a clean template.

Try running `dotnet new -i Microsoft.Azure.IoT.Edge.Function` in the VS Code integrated terminal, and then follow the steps to create the new so

[2018-07-11 19:00] SnehaGunda commented on #10980
@joefeser hope Garrett's explanation helps, we will now proceed with closing this issue, feel free to reopen if you need further assistance.

#please-close

[2018-07-11 19:07] kgremban commented on #11345
@Mitanshirathor your comment seems like a separate issue, which you should create so that it gets triaged and worked on. But my guess is that you haven't given the IoT Edge runtime your registry credentials so that it can pull down containers form your private repository. Other templates have a .env file to hold your credentials, and I'm investigating why the Functions template currently does not.

[2018-07-11 19:11] kgremban commented on #11372
@HowardEdidin thank you for the suggestion. I made the update to the article, and the changes should be live in about 3 hours. Please check them out and close this issue if you think that it's resolved.

[2018-07-11 19:11] MicahMcKittrick-MSFT commented on #11471
can you post your code here? Just remove any private info

[2018-07-11 19:12] ams0 opened #11573 "a better way to cat kubelet logs"
Found a great way to isolate the logs from the last restart [here](https://serverfault.com/questions/768901/is-there-a-way-to-make-journalctl-show-logs-from-the-last-time-foo-service-ran):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
* Version Independent ID: 171f79d7-e1a6

[2018-07-11 19:19] MicahMcKittrick-MSFT commented on #11538
Are you changing your environment via Visual Studio as well? You could change the App Insights information prior to publishing again:

![image](https://user-images.githubusercontent.com/32313503/42594609-8fee8650-8504-11e8-8522-4a410e4f30b4.png)

Otherwise, are you looking for a way via the portal to point your cluster to the other app insights?

[2018-07-11 19:21] TomArcher commented on #11330
Thanks, @airwolfnh for your feedback, and @MicahMcKittrick-MSFT for helping out. I've sent an email to the Terraform provider PM to see what he thinks is the best way to proceed. He's out sick today, but I'll try to connect with him later this week, or early next week.

[2018-07-11 19:21] MicahMcKittrick-MSFT commented on #11541
@amandadebler once your DNS zone is created you should be able to go in and add additonal record sets to use custom domains and point it to the correct cluster.

https://docs.microsoft.com/en-us/azure/dns/dns-zones-records

@lachie83 please correct me if I am wrong.

[2018-07-11 19:32] #9436 closed

[2018-07-11 19:34] MicahMcKittrick-MSFT commented on #11553
1) The placement group is just a logical naming convention. When you have over 100 VMs then rather than sticking all the VMs into the same Availability set we will create multiple availability sets with multiple fault domains and update domains and spread your VMSS instances out across them. So it could be something like VMs 1-20 are in AVset1, 21-40 are in AVset2, etc... If we placed all the VMs

[2018-07-11 19:35] tigerdeccan commented on #11538
Hi

I have a set of SF cluster and app insight per environment . At creation
time I specified instrumentation key . Service fabric traces are getting
logged . After publishing application  It doesnt log events this way as It
does from visual studio.

Thanks
mumtax

On Wednesday, July 11, 2018, Micah <notifications@github.com> wrote:

[2018-07-11 19:35] MicahMcKittrick-MSFT commented on #11532
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-11 19:37] noelbundick commented on #11482
To add some detail here - the k8s azure cloud provider interacts with all of the things mentioned here

When new nodes are brought online, it needs the “join subnets” permission on the subnet the cluster is assigned to in order to add VMs (and Load Balancers, etc) to the subnet. It also seems to need “edit subnet” to assign an NSG to that subnet. This is why the docs call out adding permissions to

[2018-07-11 19:46] cloudinnovating commented on #10309
@mmcla is Okta one of the vendors you are actively working with?  And if so will they support custom controls in the near future?

[2018-07-11 19:53] SamirFarhat commented on #11482
Allow me some time before closing this ticket. I will test me scenarios and update here (2 days).

[2018-07-11 19:58] SaurabhSharma-MSFT commented on #11566
@stcarley Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-11 19:59] efficienthacks opened #11575 "Host Language Embedding"
https://tinkerpop.apache.org/gremlin.html says that Host Language embedding is supported in many languages.

In [this example](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet#review-the-code), the gremlin queries are strings, can they be made into C# functional statements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-07-11 20:00] CelesteDG commented on #11250
Hello @centromere and @SaurabhSharma-MSFT - Thank you both for the suggestion and the link. I'm happy to include this as a link. I'll link the PR to this issue once I've got that going. Thank you.

[2018-07-11 20:03] MohitGargMSFT commented on #11550
@mikeoleary We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-11 20:03] #11550 closed

[2018-07-11 20:05] rdwaite opened #11576 "Public IP and LoadBalancer SKU mismatch causes New-AzureRmLoadBalancer to fail"
Per (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#sku), the PublicIp and LoadBalancer need to have matching SKUs. The call to New-AzureRmPublicIpAddress without the -Sku argument creates a PublicIp with the "Basic" SKU. Additionally, a Standard Public IP requires the "Static" allocation method.

---
#### Document Details

⚠ *Do not edit this sect

[2018-07-11 20:06] rdwaite commented on #11576
To fix:

Either (https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-create-standard-load-balancer-powershell#create-load-balancer) needs to use  "-Sku Basic"

Or (https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-create-standard-load-balancer-powershell#create-a-public-ip-address) needs to use -AllocationMethod Static -Sku Standard

[2018-07-11 20:09] efficienthacks commented on #10508
@SnehaGunda - I'm not sure if @YuqiWWW understood you though.

@YuqiWWW, code should read as follows:
private static string hostname = "testforproj.gremlin.cosmosdb.azure.com"; //no https:// at the front

I was getting the same error as you until I changed the hostname to this string above.

[2018-07-11 20:14] YutongTie-MSFT commented on #11281
@seahorsevn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 20:14] #11281 closed

[2018-07-11 20:15] YutongTie-MSFT commented on #11309
@areddish Is there update for the follow-up? Thanks.

[2018-07-11 20:19] YutongTie-MSFT commented on #11387
@xiashaohua2010 Then I think it is not a document related question. Could you please post this issue in out [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help better? Thanks a lot!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 20:19] #11387 closed

[2018-07-11 20:30] areddish commented on #11309
@YutongTie-MSFT - it runs in the emulator so it may be a device / os mismatch. Need more info to try to diagnose.

@ksujanpaul - Which device/OS are you using and what is the error/exception you are getting?

[2018-07-11 20:35] jeevansd commented on #10098
@maticko You are trying to hard code the Role into it. We don't recommend to use it in this way. Can you please schedule meeting with me and we can help you to resolve the issue?
My calendar availability is published here https://freebusy.io/jeedes@microsoft.com

[2018-07-11 20:36] YutongTie-MSFT commented on #11551
@texfreddy Hi, this is not a document issue. Could you please post it in our [Face-API forum](https://cognitive.uservoice.com/forums/430315-face) so that the product group can help well? Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-11 20:36] #11551 closed

[2018-07-11 20:52] rolyon commented on #10387
Hi @croitor1,
Would you mind sending an email to the team's feedback channel at aadopauthfeedback@microsoft.com ?
The team would like to learn more about your scenario on why you see this error code.
thanks

[2018-07-11 20:55] kgremban commented on #11427
@dsk-2015 Can you investigate this issue?

[2018-07-11 21:01] kgremban commented on #11441
@veyalla I can't remember, did we settle on a resolution for this edge case? I think I tried manually updating my environment path, and cleaning out my environment path so that it was shorter than 1024 characters.

[2018-07-11 21:05] kgremban commented on #11441
@CIPop I also received this suggestion to just update the system path, and not affect the user path:

$sysenv = "HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
$path = (Get-ItemProperty -Path $sysenv -Name Path).Path + ";C:\ProgramData\iotedge"
Set-ItemProperty -Path $sysenv -Name Path -Value $path

[2018-07-11 21:06] DCtheGeek commented on #11548
@SamirFarhat Thank you for the feedback and I see and agree with your concern.  I've added some additional clarity around the text that should make this clearer.  It should publish this afternoon.  Thanks again!  #please-close

[2018-07-11 21:12] artisticcheese opened #11577 "Incorrect statement about support for Azure Active Directory"
In link (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-manifest#security) it mentions ` They can be set to either X509 for a certificate-based security or Windows for Azure Active Directory-based security`. Azure Service Fabric does not support `Azure` Active Directory,  it only supports Active Directory (not Azure)

---
#### Document Details

⚠ *Do not edit this sec

[2018-07-11 21:28] TravisCragg-MSFT commented on #10684
@aisog Doc Issues are designed for doc related questions or clarifications. It looks like you need assistance with troubleshooting on Azure Stack. If you need assistance with this issue, can you please post your question to the [Azure Stack MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alltypes&sort=lastpostdesc)? You will find better assistance in that ar

[2018-07-11 21:28] #10684 closed

[2018-07-11 21:29] TravisCragg-MSFT commented on #11072
@skmkzyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 21:29] #11072 closed

[2018-07-11 21:29] TravisCragg-MSFT commented on #11255
@jrichview We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 21:29] #11255 closed

[2018-07-11 21:30] TravisCragg-MSFT commented on #11529
@sumanbikram We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 21:30] #11529 closed

[2018-07-11 21:30] #10919 closed

[2018-07-11 21:35] SheridanLGrant commented on #11352
I can try that but I think this is an issue with the code in this document. I'm doing this all on a Linux data science VM and have been trying to use python 3.5, which is the default interpreter. For the Python section, when I try to publish the model, I get the error "module 'azureml' has no attribute '_get_workspace_info'." After digging further I tried creating my own workspace with azureml.Wor

[2018-07-11 21:38] jingjing-z commented on #10361
Thanks for the feedback! We have removed the "Relationship With Bing Maps" table.

[2018-07-11 21:38] tommy-mor opened #11580 "Typo? I think"
In the section Create a new solution template (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module#create-a-new-solution-template), I think there is a typo on this line:

A .env file lists your environment variables. If you are ACR as your registry, right now you have ACR username and password in it.

I think it should say "If you are using ACR as your registry" whereas no

[2018-07-11 21:44] franzzegarra opened #11581 "How to activate this feature in the Azure Portal?"
I'm not sure about this: `you must explicitly enable it when creating the database` and where to enable it. I activated the Premium account and only have the choice to activate the zone redundant. I don't think it is the same thing because the `ReadScale` setting was still Disabled. Did I miss something?

I was able to activate by the PS commands but I want to know where to activate this feature i

[2018-07-11 21:45] MicahMcKittrick-MSFT commented on #11577
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-11 21:46] MicahMcKittrick-MSFT commented on #11573
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-11 21:50] MicahMcKittrick-MSFT commented on #11577
.

[2018-07-11 21:52] bwren commented on #11070
I had a conversation with the engineering team about this.  Currently, that address is the only endpoint for the Data Collector API.  There is a consideration for enabling Azure applications to write data directly to Log Analytics without having to go to that endpoint, but nothing definite on that now.

[2018-07-11 21:52] bwren commented on #11070
#please-close

[2018-07-11 21:56] bakerCaleb commented on #9492
Azure AD will use the public IP address of the client, this is the IP address that internet addressable IP. The easiest way to check the client IP for a specific client is to check the all sign in report in AAD. Find a session from the device and click on that row. In details you'll see the IP address that was evaluated.

[2018-07-11 22:10] SteveL-CXP opened #11584 "Github requires TLS 1.2 invoke-webrequest fails if not set"
Powershell uses TLS 1.0 by default, need to add [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12 to the script so it uses TLS 1.2 which is required for the GITHUB site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7844350b-f5a2-2c2e-5085-38e65ab41077
* Version Independent ID: a0fd06d7-6

[2018-07-11 22:15] TravisCragg-MSFT commented on #11576
@rdwaite Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-11 22:19] #11548 closed

[2018-07-11 22:40] kgremban commented on #11421
@Gimly I approved your pull request, and made the same changes in a couple other articles that had the same wording. Your changes should be live now. Please check them out and close the issue if you think this is resolved.

[2018-07-11 22:44] MicahMcKittrick-MSFT commented on #11577
@artisticcheese SF supports AAD

https://blogs.msdn.microsoft.com/ncdevguy/2017/01/09/securing-an-azure-service-fabric-cluster-with-azure-active-directory-via-the-azure-portal-2

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-arm#set-up-azure-active-directory-for-client-authentication-optional-but-recommended

[2018-07-11 22:44] Mike-Ubezzi-MSFT commented on #11571
@efficienthacks Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-11 22:45] kgremban commented on #11502
@Mike-Ubezzi-MSFT The C# module template should by default route data from tempSensor to the C# module to the IoT hub. Did you discover something wrong with the template, or something additional that needs to be included in the deployment manifest?

[2018-07-11 22:46] Mike-Ubezzi-MSFT commented on #11575
@efficienthacks Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-11 22:46] #11438 closed

[2018-07-11 22:49] artisticcheese commented on #11577
The document asked to be modified is for stand alone cluster configuration. It shall list `Windows Active Directory` as in here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#connect-to-a-secure-cluster-using-windows-active-directory

[2018-07-11 22:51] kobulloc-MSFT commented on #11317
@HowardvanRooijen My attempt to reproduce this uncovered some areas of the documentation that we could improve upon, especially in the area of importing Azure Functions into APIM.  Assigning this to the document author to update accordingly.

@vladvino We're seeing increased traffic here, so my recommendation is that we escalate the priority on these docs.

[2018-07-11 22:54] femsulu commented on #11580
@tommy-mor Thanks for the catching this. We are actively investigating and will get back to you soon.

[2018-07-11 22:55] MicahMcKittrick-MSFT commented on #11577
hmmm @dkkapur can you take a look and see if we need to update docs?

[2018-07-11 22:56] mhvis commented on #10873
Hi, I have the same issue. I have been trying to assign Office 365 Enterprise E2 licenses to groups. These groups are security groups that are synced with an LDAP directory using Azure AD Connect. I have also tried using the instructions on [this page](https://blogs.technet.microsoft.com/askpfeplat/2017/08/07/assigning-office-365-licenses-automatically/), that is however similar to the instruction

[2018-07-11 23:05] Mike-Ubezzi-MSFT commented on #11502
@kgremban The issue pertains to getting messages to be viewed via VS Code. The customer had to follow some 'undocumented' steps to have the messages viewed in the VS Code application. I do not have the resources to reproduce this tutorial. The customer, in this case, appears to have been fairly thorough in terms of following the tutorial. The issue is viewing the data in VS Code, and the steps the

[2018-07-11 23:06] TravisCragg-MSFT commented on #9149
@TomCJones We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-11 23:06] #9149 closed

[2018-07-11 23:11] tfitzmac commented on #9912
The bug has been identified and is being fixed. I don't know when it will be available in production.

[2018-07-11 23:15] bwren commented on #10677
Added updates to the overview article.  Should be published tomorrow morning.

[2018-07-11 23:15] bwren commented on #10677
#sign-off

[2018-07-11 23:15] SaurabhSharma-MSFT commented on #9123
@kelvinxia-MSFT Thanks Kelvin.
@curtand Is it possible to get it added to the current documentation ?

[2018-07-11 23:15] bwren commented on #10677
#please-close

[2018-07-11 23:32] MarkusVi commented on #9492
#please-close

[2018-07-11 23:36] CelesteDG commented on #10028
Hello @Codefearingguy - Sincerest apologies for my delayed response. Yes, I have a work item to include more information around the diagram. We are working on an updated information architecture for the Azure AD developer docs as well. However, I don't explicitly have a work item for the sample that demonstrates logout of apps hosted on multiple services with single logout enabled. I'll follow up

[2018-07-11 23:46] SnehaGunda commented on #11509
@daveh101 the polygon currently supports a max of 256 points only. It's in our road map to increase this number, there isn't any ETA yet. Can you please file a feature request at [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db)

#please-close

[2018-07-11 23:48] SnehaGunda commented on #9980
@georgiosd Thanks for your response, I will work with our partner .Net teams to address this. For now we will close this issue.

#please-close

[2018-07-12 00:03] bsiva commented on #11560
@jgoembel, Thanks for the feedback. The first section of the article attempts to cover this detail. Quoting from the article:

"The Azure Site Recovery dashboard on the **vault overview** page consolidates all monitoring information for the vault in a single location. Start at the vault dashboard and dive deeper to get more details by navigating through the parts of the dashboard."

The above stat

[2018-07-12 00:06] jason-j-MSFT commented on #11519
@sharonlo101 we have a request for an enhancement regarding new MSI authentication support.

[2018-07-12 00:07] abcdino opened #11588 "Adding custom column didnt work"
The given instructions didnt work for me. I had to update the query to say:
Text.From([Document.Location.coordinates]{1})&","&Text.From([coordinates]{0})

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power B

[2018-07-12 00:10] mckelvj opened #11589 "Solution Architect"
Your link for "Integrate with Azure Data Factory" is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8f09f9-6e2c-1a2f-b782-9a31be72c843
* Version Independent ID: c521695a-d510-9a3e-3e79-9121ff493c43
* Content: [Build integrated solutions with SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-da

[2018-07-12 01:28] DazzleJim opened #11592 "Azure suitability analysis - Memory size"
Azure readiness staus, max supported memory should be 3,892 (Standard_M128m)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32332d8c-7955-abe8-d78e-9f93c124c60d
* Version Independent ID: 8d52a5a1-8cdd-4521-ac92-aebf1aeee796
* Content: [Assessment calculations in Azure Migrate](https://docs.microsoft.com/en-us/azure/mig

[2018-07-12 01:36] SnehaGunda commented on #10955
@algattik we are in the process of revamping the spark connector documentation. The content is currently under review, A sample to read change feed should be published to this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector in the next couple of days.

#please-close

[2018-07-12 01:57] itomek opened #11593 "Partition Key Format"
I just want to be clear on this, in reading this statement:

in the article: https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data

assuming this data model:

[code]
does this mean that the value of your "id" (assuming that is your primary id), should be something like:

`firstName-lastName-city-state-zip`

for example:

`"john-doe-silvertown-nv-12345"`

Or does it mean that you should u

[2018-07-12 02:17] KeiroKamioka0000 opened #11594 "Do with Portal?"
Is it possible to convert Unmanaged Disk to Managed Disk with Portal?
Is Powershell are the current only option to convert to managed disk????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018208b2-7479-746d-2d12-a9e3c78036d7
* Content: [Convert a Windows

[2018-07-12 02:53] Brucius commented on #11531
Thanks @abhijeetahuja , hope this helped others who are reading through the docs too.

[2018-07-12 02:53] #11531 closed

[2018-07-12 03:01] femsulu commented on #11592
@DazzleJim Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-12 03:11] nabhishek commented on #11410
this seems to be resolved. @HemantChandurkar I understand you are looking to pass the configs as key value pairs as explained in the stackoverflow link. This is also mentioned in the document under the JSON definition:
 "sparkConfig": {
            "ConfigItem1": "Value"
        }

So we should be good to close this issue here.

[2018-07-12 03:16] femsulu commented on #11379
@rthorn17 is it currently possible to define and assign a global policy at the management group level via PS. all the examples I found are based on subscription and/or resource group. would replacing the resource group variable with the mgmt. group name work the same?

[2018-07-12 04:28] tienvv1234 commented on #11483
after tried some test, there are clues
- My app is using the socket for the chat function so I need to enable the CORS.
- I tried to comment the CORS in code and log into Azure portal and set CORS under "API > CORS" of My mobile app then the Client IOS can register to notification hub so i can push notification, but but the socket raise up to me 2 error
1. cannot use wildcard in access-control-all

[2018-07-12 04:33] Brucius commented on #11471
Here you go.
[code]

[2018-07-12 05:12] #11580 closed

[2018-07-12 05:19] neilpeterson commented on #10754
We are tracking in and internal system and will get the docs updated once resolved. I am closing this doc issue for the time being.

#please-close

[2018-07-12 05:30] Mitanshirathor commented on #11345
@kgremban thanks for your help and i shall list down this issue separately.
I have specified the login credentials and ran the docker login command to login into my ACR. However, it does not work for me.

[2018-07-12 05:52] AakashMasand opened #11596 "Run command dependency on Azure VM Agent and access to Azure Storage"
I tried using the run command to run a simple 'ls' on a VM which has no external internal access and the script took an extremely long time to execute and returned the following:

VM has not reported status for VM agent or extensions. Please verify the VM has a running VM agent and can establish outbound connections to Azure storage.

It seems that the run command is dependent on the Azure  VM age

[2018-07-12 05:53] HemantChandurkar commented on #11410
Examples/hints in document would always help developers to do work faster. "ConfigItem1":"value" is very generic. These config parameters anyone can see on Pipeline design UI. My point is non-hadoop background MS developers are trying to get knowledge of Hadoop technology. If they get correct direction, they will be more efficient. Hope you got what I mean. Thanks!

[2018-07-12 06:00] saifuddin123 opened #11597 "Iotedge service fails to start - armhf"
Hi,
I installed iot edge following "https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm" on raspberry pi 3.

Iotedge service fails to start. Below is the log:

$ systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since

[2018-07-12 06:31] tkumark commented on #11374
Thanks for looking into it if more information can be given on "more performant" it would be nice

[2018-07-12 06:31] UmeshPandit opened #11598 "Is Microsoft Flow will Support AX 2012 R3 Approvals Workflows?"
Is Microsoft Flow will Support AX 2012 R3 Approvals Workflows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef9aec0-035e-2504-a62b-bf76ecb5173c
* Version Independent ID: 590e2151-3215-7d76-00ac-8894ebe8d64d
* Content: [Migrate from the Azure Access Control service](https://docs.microsoft.com/en-us/azure/active-direc

[2018-07-12 06:48] AlexanderTodorovic opened #11599 "Mount of new disk"
Hi All, it would be helpful to mention that the new disk needs to be mounted as described in the Azure CLI doc in "Connect to the Linux VM to mount the new disk". Otherwise there might by the expectation that the disk is available just by adding via the Azure portal. Thanks, Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-12 07:01] don4of4 commented on #10943
@douglaslMS @nabhishek Thank you for this information, it is very helpful.

That said, now that we are going through the effort, why don't we demystify this further: `The factors used to calculate this value **depends on RAM and CPU cores** of the machine. So more the cores/ memory, higher will be the default number.`

Is there a formula in the code that can be published about this default calcula

[2018-07-12 07:07] GagandeepS commented on #7042
Hey Guys,
Is there any example yet?

[2018-07-12 07:11] eggind opened #11601 "This code did not work for me."
This one worked:
function Get-NetworkFlowLog {
	[CmdletBinding()]
	param (
		[string] [Parameter(Mandatory=$true)] $StorageAccountResourceGroupName,
		[string] [Parameter(Mandatory=$true)] $StorageAccountName,
		[string] [Parameter(Mandatory=$true)] $NsgName,
		[string] [Parameter(Mandatory=$false)] $GoBackHours = 0

	)
	process {
        # Container always has this name for Network Flow Logs

[2018-07-12 07:18] amjad-Alhusseini opened #11602 "Wrong variable names in the "what your Program.cs file should look like""
in the "what your Program.cs file should look like" section, there are some mismatch variables from the one declared above: EhEntityPath and EhConnectionString. They should be: EventHubName and EventHubConnectionString.
please correct it accordingly. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5309d7-9a63-f

[2018-07-12 07:51] StevenTCramer commented on #10402
@fabiocav I got the QueueTrigger to work using the the new DI stuff referenced by @mathewc at

https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/Program.cs#L21.

But when trying to add TimerTrigger  I get the following:

"No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. ServiceBus, Timers, etc.) make sure you've ca

[2018-07-12 07:55] wolfma61 commented on #11281
we are updating the docs and preparing a refresh of the SDK(preview), This will be available in the next few days. The samples/documentation will also contain additional information about the use of auth-token.

@YutongTie-MSFT gave the correct initial recommendation. Please check that your keys are 'valid', also make sure you specified the correct 'region' with your request

thx
Wolfgang

[2018-07-12 08:01] HenrikBernhard opened #11603 "elaborate on kerberos token size and "other azure ad artifacts""
Could you please be a bit more specific than "needs to be much smaller"  in the below? Are "other Azure AD artifact" expected to take up 1KB - or 8 KB? It makes a huge difference when we have users with a token size which is approaching 16KB
---
If a user is part of too many groups in Active Directory, the user's Kerberos ticket will likely be too large to process, and this will cause Seamless SSO

[2018-07-12 08:04] girishkumarbk opened #11604 "FilterModule Freezes: The sample is now waiting for messages and will indefinitely."
Hi,
The sample filter module when loaded just halts at this message ...

------------------------
Python   2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609]

IoT Hub Client for Python
Entering HubManager ...

Starting the IoT Hub Python sample using protocol MQTT...
The sample is now waiting for messages and will indefinitely.  Press Ctrl-C to exit.
---------------------------

Why filt

[2018-07-12 08:16] pmdci opened #11605 "correction"
Where it says "If you log in with a Microsoft Account, Live ID, Yahoo, Gmail, etc., or you are required to sign in with multi-factor authentication, leave the password field blank. You are prompted for a password after clicking Next."

This is not entirely correct. The correct statement is that any 'Guest' account in the Azure Active Directory (AD), or an Azure AD account that requires multi facto

[2018-07-12 08:17] SuHwak opened #11606 "And all of this in PowerShell please..."
From heading 3 onward. Also, Heading 6 should link to a method using PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID: d2edf564-2c83-f1da-dbf0-dbc41c4948bf
* Content: [Generate and export certificates for Point-to-Site: PowerShell: Azure](https://d

[2018-07-12 08:41] anwather commented on #11524
Understood - I was wondering when support will be enabled to allow for Azure File Share backup with network firewall enabled.

[2018-07-12 09:01] Szer commented on #8142
Same problem. Using Web Activity for Azure Function orchestrations is impossible. Could you please add timeout setting to Web Activity? Thanks

[2018-07-12 09:03] sergaz-msft commented on #11420
@erwindemoel the best place to keep track of next releases of iotedge is here: https://github.com/Azure/azure-iotedge/releases . To provide feedback to Azure IoT Edge product and let others upvote the request please add your suggestion here: https://feedback.azure.com/forums/907045-azure-iot-edge .

Raspberry Pi does not have a TPM chip. Event though Microsoft provides a way to simulate a TPM chip

[2018-07-12 09:09] alguadam opened #11607 "Configuring a Service Principal with an Azure Active Directory administrator role"
We are interested in automating certain Azure Active Directory operations using Azure Automation Runbooks, specially creating new Service Principals with certain permissions that require AD Administrator approvals. For this need, the Application Administrator role is exactly what we need, but as far as I see, there is no any option to set an Azure Active Directory Group or Service Principal with r

[2018-07-12 09:16] tyro-2016 opened #11608 "Error CopyData for table Product"
Hi,

Everything is ok, except for the Product table
Returns the following error:
Error
{
    "errorCode": "2200",
    "message": "ErrorCode=FailedDbOperation,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Error happened when loading data into SQL Data Warehouse.,Source=Microsoft.DataTransfer.ClientLibrary,''Type=System.Data.SqlClient.SqlException,Message=Query aborted--

[2018-07-12 09:28] maurizioprazzoli opened #11609 "Detail about availability and release sheduled date"
In the section "Service quotas and limits", some items is marked with the following:
2 Windows support for this feature is planned.

Could you please provide more detail about availability and release sheduled date of the involved features?
I’ve try to search in Azure roadmap but I’ve not found the items.

Thank you very much

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-07-12 09:36] alguadam commented on #11607
Fixed. Even if the Portal does not allow it, we can use the REST API (https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/directoryroles-operations#AddDirectoryRoleMembers) or PowerShell (https://docs.microsoft.com/en-us/powershell/module/azuread/add-azureaddirectoryrolemember?view=azureadps-2.0) to configure a Service Principal with any of the roles. My suggestion: this info should be explained

[2018-07-12 09:44] genlin commented on #10709
@dcbrown16 A pull request has been submitted to fix this problem. We will process to close this issue when the pull request is merged. Feel free to reopen it if you have any addition questions or feedbacks.

[2018-07-12 09:44] sergaz-msft commented on #11478
Thanks for confirming it. What Values did you change here?

![image](https://user-images.githubusercontent.com/22173500/42625485-c5f7bfa8-85bf-11e8-8436-f8850fd61c81.png)

Also please provide the entire log of powershell error.
Thank you!

[2018-07-12 11:07] msmithwilliams-redstk opened #11611 "Errors generated reporting changing property osDisk.name is not allowed"
When executing the script the following error is encountered. Is this a known issue or is there a workaround ?

Update-AzureRmVM : Changing property 'osDisk.name' is not allowed.
ErrorCode: PropertyChangeNotAllowed
ErrorMessage: Changing property 'osDisk.name' is not allowed.
StatusCode: 409
ReasonPhrase: Conflict
OperationID : e06f180c-7a71-4252-a894-25ace75e062d

---
#### Document details

⚠ *Do

[2018-07-12 11:29] erwindemoel commented on #11420
Hi @sergaz-msft, thanks for the information. When I look on the website with certified IoT Devices for Azure, why is the Raspberry Pi 3 mentioned, if it doesn't have the required TPM chip to function with DPS?
https://catalog.azureiotsolutions.com/details?title=Raspberry_Pi3&source=home-page&kit=Raspberry-Pi-3

Is there an alternative solution available to use a Raspberry Pi running Raspbian (Linu

[2018-07-12 11:32] adeinde opened #11612 "Cant log in"
For hybrid joined devices, after Password reset do i need to be within Local AD network for new password to take effect (New password works on azure portal, but i cant login with it from windows logon screen)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0

[2018-07-12 11:36] Phydeauxman commented on #11451
@SaurabhSharma-MSFT thanks for the link...lots of good information in there.  I do have a few follow-up questions.
1. In the multi-tenant scenario, is the customer admin not able to "add" the provider application by using the Non-Gallery option in Enterprise Apps?  Or is the only way to have the custom admin do the initial consent?
2. Once the customer has the app in their AAD, can it be added to

[2018-07-12 11:51] msmithwilliams-redstk commented on #11611
Updating AzureRM module to the latest version has resolved this issue.

[2018-07-12 11:52] msmithwilliams-redstk commented on #11611
Updating AzureRM module to the latest version has resolved this issue.

[2018-07-12 11:52] #11611 closed

[2018-07-12 11:58] sergaz-msft commented on #11420
@erwindemoel thank you for opening and sharing the product feedback request.

Please note that X.509 is already enabled for Provisioning Device Client SDK ([C#](https://github.com/Azure/azure-iot-sdk-csharp#provisioning-device-sdk), [Node](https://www.npmjs.com/package/azure-iot-security-x509), [Java](https://github.com/Azure/azure-iot-sdk-java#provisioning-client-sdk), [C](https://github.com/Azur

[2018-07-12 12:04] maticko commented on #10098
@jeevansd No need for a meeting. After resolving this issue in a described way, I realised that I basically need to follow, https://docs.microsoft.com/en-gb/azure/active-directory/saas-apps/aws-multi-accounts-tutorial for my case. And I reverted the `Role` attribute to `user.assignedroles` and it followed those instructions. Now it is working.

[2018-07-12 12:08] vetrivelmp opened #11613 "Can we add CAPTCHA in signup policy of Azure B2C?"
Is there a way to add CAPTCHA inside sign-up and sign-in process of Azure B2C? can we add captcha using custom policy or any work around for this?

[2018-07-12 12:32] Maggern3 opened #11614 "Query implementation example for recommended data model"
Hi, can you provide a query implementation example for the last stocks example, where the model is optimized for stocks that changes rapidly and the stocks are being stored in separate documents from the person? The goal is to retrieve a person with the stocks he/she holds using the "SQL" API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-07-12 12:41] philippschaefer4 commented on #10341
I also got an error from nginx when callback was invoked. My app was a python flask app in a docker container. But I just did the tutorial on https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-python where you use a GIT-Repo. The real difference is that the example code implements a WSGI-interface. And I think nginx needs that to handle the authentication. With this cod

[2018-07-12 12:54] mhvis commented on #10873
It might have to do with that we don't have a paid license, only a non-profit Azure subscription.

[2018-07-12 13:06] thelious1974 opened #11616 ""Can I run Windows Server containers on AKS?" FAQ is incorrect"
Hi,

The FAQ item "Can I run Windows Server containers on AKS?" is incorrect.
With GA, it's possible to run mixed-mode clusters.

Can this documentation be corrected?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d7140

[2018-07-12 13:30] jrichview opened #11618 "Needs a section on managing connections for purposes of Entity Framework"
The data about this on the web is muddled. Clear documentation on how to use Entity Framework and have it find the connection in the configuration is badly needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content

[2018-07-12 13:36] andyjballgit opened #11620 "Cant his be used between Azure and On Prem (via Express Route or S2S VPN)"
thx
Andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft.com/en-us/azure/firewall/overview)
* Content Source: [articles/firewall/overview.md](https://github.com/

[2018-07-12 13:39] Logan-IN opened #11621 "Unable to add Gateway server as proxy in agent proxy settings"
Hi,
Not sure i am the one reporting this or doing wrongly. we are deploying OMS agent on gateway based model to all our locations. If i use OPINSIGHTS_PROXY_URL ="192.168.0.10:8080" in the agent cmd line getting an error with "Command line option syntax error. Type Command /? for help". Attached the cmd line using to deploy the agents.
MMASetup-AMD64.exe /C:"setup.exe /qn ADD_OPINSIGHTS_WORKSPACE=

[2018-07-12 13:41] joefeser commented on #10980
@ausfeldt @SnehaGunda This is for a large corporation. You are putting me in a bad spot that I have to defend using preview software in our production application. I have been fighting with the local Microsoft reps on this issue. You are not helping the argument of using Cosmos over MongoDB. Is this really the best that you can do?

[2018-07-12 13:46] Sunny-Sharma opened #11622 "Site Recovery Supports all operating systems that are supported by Azure"
I think that the statement that "Site Recovery supports all operating systems that are supported by Azure" to be misleading. It maybe true that Site Recovery for Hyper-V does support all Azure supported OSs (Windows 2003 R2, etc.) but when using Site Recovery for VMware/Physical then Site Recovery only supports: 2008 R2 with SP1, 2012, 2012 R2, 2016.   I think there should be some consistency betw

[2018-07-12 13:49] rayne-wiselman commented on #11622
@Sunny-Sharma Hi. This statement is only relevant for Hyper-V, and is in the Hyper-V support matrix. For VMware and physical the reqs are in the VMware support matrix at https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix

[2018-07-12 14:03] grayjeremy opened #11623 "Add a link on how to add a runbook to a gallery"
I think the sentence in the first paragraph
"You can also contribute to the community by sharing scenarios that you develop."
should be augmented with the following link:
https://docs.microsoft.com/en-us/azure/automation/automation-runbook-gallery#adding-a-runbook-to-the-runbook-gallery

it took me WAY to long to find that piece of info but this seems to be the main page linked to all runbook rela

[2018-07-12 14:24] rthorn17 commented on #11379
Yes, you can assign Policy on management groups via PS.  It is the same instructions on their docs page but the scope will be “/providers/Microsoft.Management/managementGroups/<MGGroupName>”.

[For example from the policy Docs but with management groups:](https://docs.microsoft.com/en-us/azure/azure-policy/assign-policy-definition-ps#create-a-policy-assignment)

$definition = Get-AzureRmPolicyDefi

[2018-07-12 14:29] rthorn17 commented on #9659
@diegor18 We do have a fix that we are rolling out now. We are looking for customers who would like to volunteer in previewing this ability which will help us test the capabiltiy.  If you are interested please email me @ rithorn@microsoft.com Thanks

[2018-07-12 14:35] NeighborGeek opened #11624 "Freshservice now requires a SHA256 fingerprint of the certificate, not SHA1"
In configuring SSO for freshdesk today, I found that the copying the certificate thumbprint from the application's sso settings in AzureAD and pasting it into Freshservice did not work.  Looking at their documentation, it appears that they require a certificate fingerprint based on the SHA256 algorithm, while the fingerprint shown in AzureAD is based on SHA1.

After following their documentation,

[2018-07-12 14:42] WilliamTIII opened #11625 "Set StrongAuthenticationUserDetails"
Is there any way to modify this property through powershell? Also, can we delegate the specific permission to a user or group besides global admins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae83fda-27b9-edca-1b59-1140de4cc3f5
* Version Independent ID: c93eb84b-f04b-de03-f3f5-57d4672b0559
* Content: [Azure AD SSP

[2018-07-12 15:01] girishkumarbk commented on #11604
The edgeHub repeatedly throws these exception ... Any idea ?

2018-07-12 15:00:16.193 +00:00 [INF] - Attempting to connect to IoT Hub for client netiot-edge-ga-02-0001/filterModule via AMQP...
2018-07-12 15:00:16.196 +00:00 [INF] - Connected to IoT Hub for client netiot-edge-ga-02-0001/filterModule via AMQP, with client operation timeout 60000.
2018-07-12 15:00:16.198 +00:00 [INF] - Closing receiv

[2018-07-12 15:14] shawnstengel opened #11628 "DataActions not listed."
The DataActions are not listed when converted to json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95758a00-426a-1306-cda0-1855ec524489
* Version Independent ID: 34fdb5c9-0da6-927a-d74f-bbe8a7dc530d
* Content: [Tutorial - Create a custom role using Azure PowerShell](https://docs.microsoft.com/en-us/azure/role-based-

[2018-07-12 15:16] davmhelm opened #11629 "Azure Support Plan Duration"
"If you cancel a paid Azure Support plan, you are still billed monthly for the rest of the 6-months term." -- is the term duration still accurate?
Azure Support Plans https://azure.microsoft.com/en-us/support/plans/ and FAQ https://azure.microsoft.com/en-us/support/faq/ used to mention the term duration being 6 months, but that is no longer listed.

---
#### Document Details

⚠ *Do not edit this s

[2018-07-12 15:20] mmacy commented on #11609
Sorry @maurizioprazzoli, at this time we have no additional information on release dates for the specified Windows container features in Azure Container Instances. I recommend that you continue to periodically check the road map, and we'll update this article as new features come on line.

You can also add or vote on ACI feature requests in [Azure Container Instances UserVoice](https://feedback.az

[2018-07-12 15:21] eross-msft commented on #10130
@Nilis312 It looks like this work was actually part of a rollback and is planned to be released in the next few days. Hopefully this helps.

[2018-07-12 15:22] tdykstra commented on #11618
@jrichview Thanks for the suggestion, and I agree this is a gap in our documentation.  I have added this to our backlog of documentation work for Functions, but I don't have an ETA on when it will be published. It might help us direct our efforts and produce something sooner if you can provide more specifics about the scenario you're trying to implement.

[2018-07-12 15:23] bakerCaleb commented on #8827
Thanks for the feedback. We're working on this documentation. It isn't always clear when a front end service will call some other service and be subject to its policy.

[2018-07-12 15:23] Bcedeno commented on #11525
The Docs l've looked at are:

https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-writing-expressions-for-attribute-mappings

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial

I have also tired to do FirstName.LastName@domain using [PreferredNameData] using the following expression but not getting what I except.

Expression I'm us

[2018-07-12 15:46] #10709 closed

[2018-07-12 15:47] artisticcheese opened #11631 "Volumes shall be supported in extended form to specify type of volume"
Right now compose file ingestion does not seem to be supporting specifying volumes in extended form (https://docs.docker.com/compose/compose-file/#volumes) and hence it's impossible to specify volume type to be `volume` as opposed to default `bind`. It's possible to do it via XML deployment via `Driver="local"` but not via compose file deployment since it defaults to `bind` and hence compose file

[2018-07-12 15:50] MicahMcKittrick-MSFT commented on #11611
Thanks for the update! Glad to hear you got it sorted out :)

[2018-07-12 15:55] MicahMcKittrick-MSFT commented on #11594
@KeiroKamioka0000 as of now we only have the option to convert to managed disk using PowerShell or CLI. We do not have the option to do this via the portal. If this is a feature you would like to see I would suggest leaving that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) so the product teams and see it and consider adding it as a feature

[2018-07-12 15:56] burstingninja commented on #11519
@jason-j-MSFT  I'm stuck with the same thing about MSI through the GUI, Thanks for support

[2018-07-12 15:57] MicahMcKittrick-MSFT commented on #11599
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-12 15:57] iainfoulds commented on #11573
Thanks, @ams0. That's a good way to show how to view the logs, too. In the future, we may expand this doc to showcase different ways to parse the logs, such as looking only for events since the last reboot like your example, or searching for specific issues within the logs. For now, this doc was more to show that the logs can viewed from `journalctl` and you don't need to use a specific Azure tool

[2018-07-12 15:57] #11609 closed

[2018-07-12 15:58] MicahMcKittrick-MSFT commented on #11616
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-12 15:59] Mike-Ubezzi-MSFT commented on #11614
@Maggern3 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-12 16:01] #11573 closed

[2018-07-12 16:01] Mike-Ubezzi-MSFT commented on #11581
@franzzegarra Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-12 16:03] sergaz-msft commented on #11597
@saifuddin123 thank you for the feedback. This issue #11046 is related with yours and some troubleshooting suggestions were suggested. What did you already tried from there?

This is how it was fixed: https://github.com/MicrosoftDocs/azure-docs/issues/11046#issuecomment-402361152

Thank you.

[2018-07-12 16:05] Mike-Ubezzi-MSFT commented on #11584
@SteveL-CXP Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 16:06] Mike-Ubezzi-MSFT commented on #11588
@abcdino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 16:06] SaurabhSharma-MSFT commented on #11593
@itomek Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:07] Mike-Ubezzi-MSFT commented on #11589
@mckelvj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 16:10] josere opened #11632 "Having more than one trigger"
Which is the correct way of having two triggers? Adding two &lt;ScalingPolicy&gt;&lt;...&lt;/ScalingPolicy&gt;?

I'm trying to enable triggers for both "servicefabric:/_CpuCores" and "servicefabric:/_MemoryInMB". They both work independently, but together I get error "System.Fabric.FabricException: An error occurred during this operation.  Please check the trace logs for more details. ---&gt; Syst

[2018-07-12 16:10] SaurabhSharma-MSFT commented on #11605
@pmdci Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:11] SaurabhSharma-MSFT commented on #11613
@vetrivelmp Could you provide us with the link to the document you are referring to ?

[2018-07-12 16:17] Powerhelmsman opened #11633 ""Azure DevOps Project for AKS" URL redirects to 404-Content/Page Not Found"
The issue was created by @SunnyOswal from https://github.com/MicrosoftDocs/feedback/issues/516
"Azure DevOps Project for AKS" URL redirects to 404-Content/Page Not Found
To Reproduce
Go to 'https://docs.microsoft.com/en-us/azure/aks/'
Click on 'How-to guides'
Under that click on "DevOps on AKS"
Under that click on "Azure DevOps Project for AKS"
See error
URL Broken:
https://docs.microsoft.com/en-u

[2018-07-12 16:19] sergaz-msft commented on #11604
@girishkumarbk  Thanks for the feedback! Can you please confirm that all prerequisites were met before starting the tutorial?

![image](https://user-images.githubusercontent.com/22173500/42646053-a652ff9a-85f7-11e8-9ba1-2d30da742638.png)

Thank you!

[2018-07-12 16:26] ToddTaylor opened #11634 "Certificate Authenication vs IP Restrictions"
Is there a reason why Microsoft is recommending certificate authentication over using IP restrictions?

When I setup my back-end service to have an IP restriction that only allowed requests from the API Management service's IP, the result was the same '403-Forbidden' response.  Setting up IP restriction is much, much easier than going through all the steps mentioned in this article, not to mention

[2018-07-12 16:30] SaurabhSharma-MSFT commented on #11598
@UmeshPandit Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:30] girishkumarbk commented on #11604
Yes. All the prerequisites were met.   If you see the edgeHub logs ...there are some rocksdb exceptions.  Any idea why those exceptions are happening ? What I realize is that the module twin call is not coming to edge ...and further no messages arrive to filter module.  As part of the docker file I create a local docker volume and then try to write into that volume from filter module receive-messa

[2018-07-12 16:32] SaurabhSharma-MSFT commented on #11598
@UmeshPandit Which document section you are referring to ? I do not see this related to Azure AD ?  Please let me know the document which are referring to ?

[2018-07-12 16:35] SaurabhSharma-MSFT commented on #11603
@HenrikBernhard Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-12 16:35] iainfoulds commented on #11616
Thanks for reaching out, @thelious1974. Sorry if there's some confusion running Windows containers within AKS. The FAQ entry is valid:

- You cannot currently run mix-mode nodes within an AKS cluster. You can, however, run Windows containers using Virtual Kubelet to schedule them on Azure Container Instances - https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet

- Upcoming support for Windo

[2018-07-12 16:49] GaretAnderson opened #11636 "Great but how to do this using Powershell, C# or any programmatic way"
This is good but how can this be scripted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c804e09a-5163-7f39-82ec-67734ffe9741
* Version Independent ID: 52757fd4-4c69-2a53-5b9c-f32404efbf13
* Content: [Import a Power BI Desktop file into Azure Analysis Services](https://docs.microsoft.com/en-us/azure/analysis-services/

[2018-07-12 16:49] SaurabhSharma-MSFT commented on #11607
@alguadam Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:50] SaurabhSharma-MSFT commented on #11612
@adeinde Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:50] artisticcheese opened #11637 "Per VSTS personell upgrades for compose applications are supported"
Please see (https://github.com/MicrosoftDocs/vsts-docs/issues/982) which mentions that deploying compose over existing service performs upgrades while this page mentions that it's not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6898cd0d-98c0-9c54-feed-93e5025c1eaf
* Version Independent ID: f31f4333-598d-2

[2018-07-12 16:52] SaurabhSharma-MSFT commented on #11625
@WilliamTIII Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 16:53] dsshon opened #11638 "Site categorization?"
Is there site categorization so that we can restrict gambling and adult sites?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft.com/en-us/azure/firewall/overview#

[2018-07-12 16:53] SaurabhSharma-MSFT commented on #11624
@NeighborGeek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-12 16:54] SaurabhSharma-MSFT commented on #11628
@shawnstengel Could you provide us with the link to the document you are referring to ?

[2018-07-12 17:07] georgewallace commented on #11496
@jasoth I tested the example and it works correctly. Using your param above of `$ADAdminCredential` won't work as the `Get-AutomationPSCredential` automation cmdlet doesn't take a pscredential parameter.. When you get the Credential asset not found message, were you compiling it locally or in Azure Automation, that cmdlet would not work locally as it needs to be run in the automation account.  The

[2018-07-12 17:08] cynthn commented on #11599
@AlexanderTodorovic thanks for the feedback! I reused the info from the CLI topic about connecting to the VM to add the disk within the OS. Should be live later this afternoon :)

#please-close

[2018-07-12 17:17] douglaslMS commented on #11410
@HemantChandurkar Thank you for the link and the suggestions!

[2018-07-12 17:17] douglaslMS commented on #11410
#please-close

[2018-07-12 17:17] spelluru commented on #8513
#please-close

Product team is tracking this issue in VSTS.
@jkwon2013

[2018-07-12 17:18] daveba commented on #11335
@arsenvlad @saurabhsensharma I added text that refers readers back to the editor portion of the article on how to use an editor to make updates.  #please-close

[2018-07-12 17:20] MohitGargMSFT opened #11640 "Support option in next Steps -> Contact Microsoft Support creates issue in dead queue of CSS"
Support option in next Steps -&gt; Contact Microsoft Support creates issue in dead queue of CSS and no engineer picks the case. This is causing dissatisfaction with customers as reported in this MSDN thread - https://social.msdn.microsoft.com/Forums/en-US/5f8672e7-976a-4523-ba74-b7d6e6d959be/how-do-i-remove-a-mfa-server-what-do-i-do-now?forum=windowsazureactiveauthentication
Please check on either

[2018-07-12 17:22] #11616 closed

[2018-07-12 17:22] #11599 closed

[2018-07-12 17:23] MohitGargMSFT commented on #11640
@MicrosoftGuyJFlo Please check on above issue as there are couple customers complain that the support option present in document creates ticket but no engagement happens. It seems the ticket created goes in some queue of CSS which is unmonitored hence no communication to customer is happening.

[2018-07-12 17:28] lisaguthrie opened #11641 "Turning on verbose logging in Visual Studio"
In Visual Studio, you can turn on verbose logging for Dev Spaces by going to Tools -&gt; Options and setting the MS Build build verbosity setting to Detailed or Diagnostic. This will request more detailed logs from Dev Spaces, which can help when troubleshooting failures.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-07-12 17:31] rayne-wiselman commented on #11622
I think we can close this. There doesn't seem to be an issue with the article. #please-close

[2018-07-12 17:36] SaurabhSharma-MSFT commented on #11476
@johnneycao Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@eross-msft The "DIY AD DS" on the current documentation page seems pointing to a wrong documentation page.  Can you please help updating the same.

[2018-07-12 17:37] jeevansd commented on #11624
@chetansriv and @v-nagta Can you please make changes in the doc as mentioned here?

@NeighborGeek Thanks for providing the valid feedback. We will make the changes in the doc as suggested. Also link the documentation on their side so that customer knows it how to use it.

[2018-07-12 17:37] SaurabhSharma-MSFT commented on #11523
@rsrinivasanhome We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 17:37] #11523 closed

[2018-07-12 17:39] vasivara-MSFT commented on #11602
@amjad-Alhusseini Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 17:42] slandsaw commented on #10960
Having the same issues. I've tried the command from @lisaguthrie, but azds.exe still doesn't seem to install.

[2018-07-12 17:43] eross-msft commented on #11476
@johnneycao @SaurabhSharma-MSFT  I just took over this topic, so I'm not familiar with it. But looking at the other, related content, it looks like this IS the topic that we've been pointing to. For more info, you can see this: https://docs.microsoft.com/azure/active-directory-domain-services/active-directory-ds-comparison#do-it-yourself-diy-ad-deployment-options. With that being said, I'm open to

[2018-07-12 17:45] berndverst commented on #10399
@flmarins
`az aks enable-addons -a http_application_routing -g $RESOURCE_GROUP_NAME -n $AKS_CLUSTER_NAME`

I just did this :)

[2018-07-12 17:45] ChefGillani opened #11646 "Cloud Architect"
when assigning UserAssigned MSI i am getting this error:

ResourceIdentity Type must be provided and set to  SystemAssigned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124a182c-d062-ae23-26c1-42acdbb05f81
* Version Independent ID: ed24bfbc-d1df-fdac-4677-95755ed918dc
* Content: [How to configure MSI on an Azure VM b

[2018-07-12 17:48] SaurabhSharma-MSFT commented on #11476
@eross-msft Thanks for looking into it. You can add the DIY link which you have shared to current documentation as highlighted in the document below if it makes sense to you -
![image](https://user-images.githubusercontent.com/38112130/42650293-dfd8b782-85c0-11e8-9d1d-3507f0d65d16.png)

[2018-07-12 17:48] vasivara-MSFT commented on #11608
@tyro-2016 Thank you for your question. We are resolving document gaps using github. Since this is an issue faced on development, Please try posting your question in this [forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) to help you better.

[2018-07-12 17:48] vasivara-MSFT commented on #11608
@tyro-2016 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 17:48] #11608 closed

[2018-07-12 17:49] #11022 closed

[2018-07-12 17:49] jeevansd commented on #10098
@maticko Thanks for the confirmation. We are happy to hear that you got it working as expected.

[2018-07-12 17:52] eross-msft commented on #11476
@SaurabhSharma-MSFT  Sure, I can change the existing link to this article.  @johnneycao  would that help?

[2018-07-12 17:52] MicahMcKittrick-MSFT commented on #11631
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-12 17:52] vasivara-MSFT commented on #11621
@Logan-IN Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-12 17:53] MicahMcKittrick-MSFT commented on #11632
Thanks for the question! We are investigating and will update you shortly.

[2018-07-12 17:54] MicahMcKittrick-MSFT commented on #11637
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-12 17:54] TravisCragg-MSFT commented on #11601
@eggind Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 17:55] TravisCragg-MSFT commented on #11606
@SuHwak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 17:56] dksimpson commented on #8596
@MicrosoftDocs/azure-cxp-triage Please assign to @KumudD. Thank you.

[2018-07-12 17:58] douglaslMS commented on #7042
@GagandeepS Not yet. We have added this item to our content backlog.

[2018-07-12 18:02] mjphotopro commented on #8513
This appears to be fixed. I tried logging in a few days ago and was able successfully log in with my other Microsoft accounts and create and access labs. Thanks everyone for getting this fixed. I look forward to trying this out for training lab sessions.

[2018-07-12 18:05] josere opened #11648 "Is the ResourceMonitorService configurable?"
I added the ResourceMonitorService to our ARM template for the cluster and the "servicefabric:/_CpuCores" and "servicefabric:/_MemoryInMB" metrics get reported approximately every 10 minutes or so. The values are displayed in the service cluster explorer, in the "Details" tab of the partition. I can see there a "Primary Load Metric Reports" table. The auto-scale triggers around that time, when the

[2018-07-12 18:12] femsulu commented on #11623
@grayjeremy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-12 18:13] femsulu commented on #11629
@davmhelm Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-12 18:13] cherylmc commented on #11606
@SuHwak - thank you for your suggestion! I will add it to the queue for the product team to evaluate.

[2018-07-12 18:13] cherylmc commented on #11606
#please-close

[2018-07-12 18:21] femsulu commented on #11379
@rthorn17 thanks for the update.
@girishgouda Please review the sample PS script above and let us know if you have any questions. We will now close this issue.

[2018-07-12 18:21] #11379 closed

[2018-07-12 18:24] gauchan183 opened #11649 "Filter Sign-In Activities by the 'Department' field"
We need to be able to filter the Sign-In Activity Reports/Logs by the DEPARTMENT field. We are currently utilizing the DEPARTMENT field in a User's Profile in Azure AD but there is no way to filter those Activity logs using that field. Can you add that capability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc77eed

[2018-07-12 18:25] sercast opened #11650 "No RTO listed."
The section "What is the RPO and RTO with GRS? Explains what RTO is, but doesn't list a number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf36d7c-e840-2e12-07d2-c8f31ebf2147
* Version Independent ID: d0eeb3fe-4b55-6ee4-0288-70c441a0d7db
* Content: [Geo-redundant storage (GRS) for cross-regional durability in Azur

[2018-07-12 18:34] jimdial commented on #11495
@jeffpatton1971 The application security groups are defined as part of an [IP configuration](https://docs.microsoft.com/rest/api/virtualnetwork/networkinterfaces/createorupdate#networkinterfaceipconfiguration) for the network interface. You're right, in the portal, you can't add a network interface to an application security group through the network interface. At this time, you can only add the n

[2018-07-12 18:38] bakerCaleb commented on #9006
Hi ,
The quarantine email, triggered by conditional access policy that directs the user to install Outlook, is just available in Exchange Online. The CA policy is not used by an on-prem instance of Exchange, which is what I think you are asking. If I misunderstood that let me know.

Thanks,
Caleb

[2018-07-12 18:40] Phydeauxman commented on #10322
@btardif, any update on the changes?

[2018-07-12 18:48] jason-j-MSFT commented on #8142
Hi all, lets focus feedback here:
https://feedback.azure.com/forums/270578-data-factory

[2018-07-12 18:50] malopMSFT commented on #11495
With respect to the API documentation on security rule, it's part of the roadmap to relax the constraint to allow multiple ASGs on source or destination this is the reason the spec is an array, as of today is documentated as single ASG on both on the description column
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networksecuritygroups/createorupdate#securityrule

On the Networking blad

[2018-07-12 18:51] jimdial commented on #11495
@jeffpatton1971 Let us know if your concerns haven't been addressed. Thanks. #please-close

[2018-07-12 18:53] TravisCragg-MSFT commented on #11495
@jeffpatton1971 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-12 18:53] #11495 closed

[2018-07-12 18:56] vasivara-MSFT commented on #11621
@Logan-IN Are you following the document and facing error somewhere specific. Can you please let me know where exactly in the document are you facing the problem?

[2018-07-12 18:58] jeffgilb commented on #10906
I've updated the docs for this issue.

#please-close

[2018-07-12 19:01] #8142 closed

[2018-07-12 19:01] josere opened #11652 "Is this info available thru an API?"
Is there an API that can be called to retrieve the list of VM Sizes and there properties (e.g. Core count, memory, etc.)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpos

[2018-07-12 19:04] MicahMcKittrick-MSFT commented on #11472
@n01d any update on Neil's ask?

[2018-07-12 19:07] YutongTie-MSFT commented on #11570
@SheridanLGrant  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@gopitk Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks.

[2018-07-12 19:07] avik-so opened #11653 "CCE link is not accessible"
https://nvd.nist.gov/cce/index.cfm  cannot be reached by us mere civilians.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28328ddf-1c4a-5659-419b-6d54df2ac653
* Version Independent ID: 13c0e735-f93f-be5e-050a-37132179f7d2
* Content: [Remediate security configurations in Azure Security Center](https://docs.microsoft.co

[2018-07-12 19:08] josere commented on #11652
Get-AzureRmVMSize -Location "Central US"

[2018-07-12 19:08] #11652 closed

[2018-07-12 19:08] MicahMcKittrick-MSFT commented on #11632
Currently there is a limit of only being able to have one scaling policy per service. So if you are trying to add multiple it will not work.

Are you trying to have one policy with multiple conditions that trigger it?

[2018-07-12 19:09] MicahMcKittrick-MSFT commented on #11553
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-12 19:09] #11553 closed

[2018-07-12 19:10] josere commented on #11632
Yes. That was the idea. To trigger auto-scaling based on CPU or Memory.

[2018-07-12 19:11] CelesteDG commented on #10646
@SaurabhSharma-MSFT - Yes, the diagram is incorrect. It should be access token going into the web API and not id_token. I'll get this updated.

[2018-07-12 19:11] cloudmelon commented on #11553
Hi thanks for your excellent explanation !!

On Thu, Jul 12, 2018 at 9:10 PM, Micah <notifications@github.com> wrote:

[2018-07-12 19:15] gkaleta opened #11654 "Add public static IP support guide"
Something along (or manually in the portal):

az network public-ip create \
--name TestPIP \
--resource-group TestRG \
--location centralus \
--allocation-method Static

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Co

[2018-07-12 19:17] MicahMcKittrick-MSFT commented on #11538
ah okay that makes sense. So when running on prem the app insights works but once you publish they are no longer displaying anything correct?

I found a few links which might help

https://stackoverflow.com/questions/38817452/how-do-you-integrate-application-insights-into-service-fabric

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-diagnostics-log

https://github.com

[2018-07-12 19:22] cynthn commented on #11594
@KeiroKamioka0000 actually, it is available! If you go to a VM that uses unmanaged disks in the portal, click on **Disks** section, you should have a button at the top of the page to **Migrate to managed disks**. I talked to the engineering team and they were going to whip up a blog post (since they now realize they haven't really advertised this change). I'll get it added to the docs ASAP as well

[2018-07-12 19:23] cynthn commented on #11594
@MicahMcKittrick-MSFT you can reassign this to me and I'll get it added to the docs and close it when I am done :)

[2018-07-12 19:28] chetansriv commented on #8285
This is done.

#please-close

[2018-07-12 19:31] chetansriv commented on #11462
This is fixed.

#Please-Close

[2018-07-12 19:31] YutongTie-MSFT commented on #11568
@gopitk  Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-12 19:31] MicahMcKittrick-MSFT commented on #11594
Thanks @cynthn! That's an exciting change! Thanks for letting us know!

[2018-07-12 19:34] MicahMcKittrick-MSFT commented on #11471
@cynthn do you have any thoughts on this one? I have only using ansible a bit but I am not seeing any issues with the code

[2018-07-12 19:34] chetansriv commented on #11391
Changes done.

#Please-Close

[2018-07-12 19:36] chetansriv commented on #10554
Changes are done.

#Please-Close

[2018-07-12 19:37] MicahMcKittrick-MSFT commented on #11648
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-12 19:37] chetansriv commented on #10163
Application name is updated.

#Please-Close

[2018-07-12 19:37] MicahMcKittrick-MSFT commented on #11652
Thanks for the update @josere

[2018-07-12 19:40] cynthn commented on #11471
@Brucius @MicahMcKittrick-MSFT I haven't walked through the Ansible content yet (Iain was the previous owner and he has moved on to containers). But, there are quite a few Ansible playbooks for Azure available here: https://github.com/Azure-Samples/ansible-playbooks and from what I can see, at least some of them refer to ssh keys with a slightly different format.

[2018-07-12 19:42] chetansriv commented on #9783
@WillFulmer - PagerDuty tutorial is fixed per suggestion. I think the Zoom tutorial is wrongly referenced here.

#Please-Close

[2018-07-12 20:00] jimdial commented on #11601
#in-process

[2018-07-12 20:11] vhorne commented on #11392
#please-close

[2018-07-12 20:12] TravisCragg-MSFT commented on #11524
@anwather Unfortunately I am unable to confirm any plans. I highly suggest you [give your feedback](https://feedback.azure.com/forums/217298-storage), as It helps us decide what to work on next.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-12 20:12] #11524 closed

[2018-07-12 20:14] TravisCragg-MSFT commented on #11392
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-12 20:14] #11392 closed

[2018-07-12 20:14] MicahMcKittrick-MSFT commented on #11648
@josere are you looking to get the reports back on a lower time interval? Or looking to modify the time interval before a scaling operation will trigger?

[2018-07-12 20:15] SaurabhSharma-MSFT commented on #11451
@Phydeauxman I suggest you please open a new MSDN forum post with the details and community will help address your query your query in not related to document content, MSDN forum could be better place to get help on your scenario . Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=Window

[2018-07-12 20:19] MicahMcKittrick-MSFT commented on #11632
Have you tried something like:

<LoadMetrics>
<LoadMetric Name="MetricB" Weight="High"/>
</LoadMetrics>
<ServiceScalingPolicies>
<ScalingPolicy>
    <AveragePartitionLoadScalingTrigger MetricName="MetricA" LowerLoadThreshold="1" UpperLoadThreshold="2" ScaleIntervalInSeconds="100"/>
    <AveragePartitionLoadScalingTrigger MetricName="MetricB" LowerLoadThreshold="1" UpperLoadThreshold="2" ScaleInter

[2018-07-12 20:22] josere commented on #11648
10 minutes sounds to me like a long time to act to a burst. If I could, I would probably reduced the time interval.

[2018-07-12 20:22] MicahMcKittrick-MSFT commented on #11654
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-12 20:24] vhorne commented on #11549
@frehnejc Thanks for the suggestion. I've created a work item #1302854 for this.

#please-close

[2018-07-12 20:28] PixelRobots opened #11657 "VM size wrong"
You have the VM size as B2ms (16 GB RAM, 32 GB storage). A B2ms is actually (8 GB Ram, and 16 GB of temp SSD storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Content: [Deploy and configure Azure Firewall using t

[2018-07-12 20:33] dixitsuneel opened #11658 "More explanation about durability"
So. I am bit confused. Let's say I have a stateless service which is running as guest executable in 5 nodes.

Now, there is VM reboot needed and one of the service is performing a tasks which is going to take few hours to complete. Even with the highest level it seems the machine will be rebooted and the work will be failed.

Is that my correct understanding?

---
#### Document Details

⚠ *Do not

[2018-07-12 20:36] TravisCragg-MSFT commented on #11549
@frehnejc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-12 20:36] #11549 closed

[2018-07-12 20:39] CIPop commented on #11441
Thanks @kgremban ! I worked around by manually editing the variable.
Instead of editing registry directly, we could change the guide to use the .NET API (admin access required):

`[Environment]::SetEnvironmentVariable(<env>,'Machine');`

[2018-07-12 20:55] TravisCragg-MSFT commented on #11638
@dsshon at this time, you can only [deny or allow specific FQDNS](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal#configure-application-rules).  If you would like to request this feature, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this mat

[2018-07-12 20:55] #11638 closed

[2018-07-12 20:59] TravisCragg-MSFT commented on #11650
@sercast In most cases, a number is not listed intentionally.

@tolandmike are you able to provide any insight on this?

[2018-07-12 21:00] MicahMcKittrick-MSFT commented on #11648
It looks like they put the 10 mins in by design as it takes time to add more VMs:
![image](https://user-images.githubusercontent.com/32313503/42658948-996dfefe-85db-11e8-8de3-d402133ec590.png)

@radicmilos @masnider @dkkapur do any of you know how to configure this time window?

[2018-07-12 21:02] TravisCragg-MSFT commented on #11657
@PixelRobots Thanks for the feedback! I will update the document to reflect the correct specs on a B2ms

[2018-07-12 21:02] SaurabhSharma-MSFT commented on #8513
@cdaniel96 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:02] #8513 closed

[2018-07-12 21:02] SaurabhSharma-MSFT commented on #8285
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:02] #8285 closed

[2018-07-12 21:03] SaurabhSharma-MSFT commented on #9492
@derekharkin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:03] #9492 closed

[2018-07-12 21:03] SaurabhSharma-MSFT commented on #9783
@WillFulmer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:03] #9783 closed

[2018-07-12 21:03] SaurabhSharma-MSFT commented on #9980
@georgiosd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:03] #9980 closed

[2018-07-12 21:10] SaurabhSharma-MSFT commented on #10163
@gdrapp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:10] #10163 closed

[2018-07-12 21:11] SaurabhSharma-MSFT commented on #10554
@albertociaramella We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:11] #10554 closed

[2018-07-12 21:13] SaurabhSharma-MSFT commented on #10677
@OlegAnaniev-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:13] #10677 closed

[2018-07-12 21:13] SaurabhSharma-MSFT commented on #10754
@jdogg89 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:14] SaurabhSharma-MSFT commented on #10955
@algattik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:14] #10955 closed

[2018-07-12 21:17] SaurabhSharma-MSFT commented on #11070
@gringosteve We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:17] #11070 closed

[2018-07-12 21:18] SaurabhSharma-MSFT commented on #11335
@arsenvlad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:18] #11335 closed

[2018-07-12 21:20] SaurabhSharma-MSFT commented on #11391
@adamfowlerit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:20] #11391 closed

[2018-07-12 21:21] Mike-Ubezzi-MSFT commented on #11441
@CIPop Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 21:21] SaurabhSharma-MSFT commented on #11408
@HowardvanRooijen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:21] #11408 closed

[2018-07-12 21:22] SaurabhSharma-MSFT commented on #11410
@HemantChandurkar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:22] #11410 closed

[2018-07-12 21:22] SaurabhSharma-MSFT commented on #11462
@rdr78 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:22] #11462 closed

[2018-07-12 21:22] SaurabhSharma-MSFT commented on #11509
@daveh101 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:22] #11509 closed

[2018-07-12 21:23] SaurabhSharma-MSFT commented on #11622
@Sunny-Sharma We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:23] #11622 closed

[2018-07-12 21:23] sergaz-msft commented on #11604
Thank you for validating that! What steps described [on this troubleshooting doc](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) did you follow already? If I understand correctly you have made some customizations on your modules. Through this issue we can help you if the tutorial is being followed exactly as described. Otherwise we can support you through an azure support ticket or

[2018-07-12 21:28] SaurabhSharma-MSFT commented on #11641
@lisaguthrie Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-12 21:30] MicahMcKittrick-MSFT commented on #11658
Thanks for the question! We are investigating and will update you shortly.

[2018-07-12 21:33] TravisCragg-MSFT commented on #11657
@PixelRobots This has been fixed, and it should update on the document within 24 Hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-12 21:33] #11657 closed

[2018-07-12 21:37] teskemj commented on #11049
@szarkos I think the + needs to be clearly defined. I found it a bit confusing as well until I read the comments.

[2018-07-12 21:38] kgremban commented on #5475
@BryanTrach-MSFT could you #please-close this issue as the article that it's tied to no longer exists, but has been replaced with a new tutorial that should resolve the original concerns.

[2018-07-12 21:38] kgremban commented on #5707
@MohitGargMSFT could you #please-close this issue as the linked article no longer exists, and has been replaced with a tutorial that should address the original concerns.

[2018-07-12 21:39] kgremban commented on #6413
@Adam-Smith-MSFT could you #please-close this issue.

[2018-07-12 21:40] kgremban commented on #8298
@Mike-Ubezzi-MSFT could you #please-close this issue for lack of engagement, and the Edge module template has been updated since this issue was created.

[2018-07-12 21:41] kgremban commented on #8466
@Mike-Ubezzi-MSFT Can you #please-close this issue because the IoT Edge runtime no longer uses the iotedgectl setup command.

[2018-07-12 21:42] Mike-Ubezzi-MSFT commented on #8298
@HowardEdidin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:42] #8298 closed

[2018-07-12 21:42] MarkusVi commented on #9006
#please-close

[2018-07-12 21:42] #5707 closed

[2018-07-12 21:42] Mike-Ubezzi-MSFT commented on #8466
@epocket We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 21:42] #8466 closed

[2018-07-12 21:42] tigerdeccan commented on #11538
yes thats correct.

On Thursday, July 12, 2018, Micah <notifications@github.com> wrote:

[2018-07-12 21:43] MarkusVi commented on #8827
#please-close

[2018-07-12 21:44] CelesteDG commented on #10646
Fix waiting to get merged to master and go live. #please-close

[2018-07-12 21:45] kgremban commented on #9315
Hi @Wintekso are you asking that in the code snippet in the article, we include what the `setinputmessagehandlerasync` call looks like in the template before you replace it. Is the confusion coming from the code itself, or from not knowing where to paste the code snippet and how much to overwrite?

[2018-07-12 21:46] kgremban commented on #9507
@prashantagone it sounds like you have a separate question, and I recommend that you create a new issue that can be tracked and referenced on its own.

[2018-07-12 21:47] kgremban commented on #9507
@davihar Are you still having template issues after the GA updates that went out last month or can @Mike-Ubezzi-MSFT close this issue?

[2018-07-12 21:47] CelesteDG commented on #10356
@colemickens - I updated the "Restrictions on protocols" section to call out that:
* Currently, the `email` claim is returned only if an optional claim is configured and scope is scope=email was specified in the request. However, this behavior will change as the v2.0 endpoint is updated to further comply with the Open ID Connect and OAuth2.0 standards.

Fix waiting to go to master and go live. #pl

[2018-07-12 21:48] iainfoulds commented on #11654
Thanks for reaching out, @gkaleta. Are you meaning in terms of showing how you could create a static public IP address and assign that to the NGINX ingress controller?

[2018-07-12 21:48] colemickens commented on #10356
Great to hear. Thank you for the followup and resolution!

[2018-07-12 21:48] #10356 closed

[2018-07-12 21:48] Mike-Ubezzi-MSFT commented on #11412
@waheedhussain Although there is no direct means for monitoring a specific back-up process, as part of PaaS and SaaS services, Microsoft is responsible for monitoring and proactively responding to issues that arise during the course of providing that service.
Additionaly, for any failed backup for a specific database, there will be a notification alert in the Notifications drop-down list in the Az

[2018-07-12 21:49] kgremban commented on #9618
@femsulu can you #please-close this issue as it seems that the problem is from regional support, not a doc bug.

[2018-07-12 21:50] CelesteDG commented on #10356
@colemickens Thank you very much for your feedback and your help in ensuring we've got accurate and useful docs. Please don't hesitate to provide us with further feedback.

[2018-07-12 21:51] cynthn commented on #11594
@KeiroKamioka0000 okay, added details to the CLI and PowerShell docs. Biggest thing to remember is that if your VM is in an availability set, you need to convert the AV set first (the portal warns you about this and walks you through it). Doc changes should go live sometime after 3:00PM PST. Thanks again!

#please-close

[2018-07-12 21:51] kgremban commented on #10079
@JensNordenbro Have you tried out the new IoT Edge runtime that was released last month? It no longer uses iotedgectl commands so many not even have idna as a dependency anymore.

[2018-07-12 21:53] kgremban commented on #10283
@timwieman Sorry that I forgot to come back and check on this issue when I published the fix. Step 9 now includes the default route in case someone has to overwrite a different route in this quickstart. Please check it out and close this issue if you feel that it's resolved.

[2018-07-12 21:56] SaurabhSharma-MSFT commented on #11525
@Bcedeno Please use "givenName" instead of using FirstName and "surname" instead of using LastName attributes.

[2018-07-12 21:59] #11594 closed

[2018-07-12 22:01] roneto commented on #8827
thanks @bakerCaleb for the response. If you need any extra info about this topic or if it wasn´t clear in any sense. I´m more than happy to work with you. But thanks for review and consider this Request for Change.

Closing Request.

[2018-07-12 22:01] #8827 closed

[2018-07-12 22:06] markgalioto commented on #11532
@LoganZhao , Thank you for raising this issue. Based on your information about the error message, **Single-Pass encrypted VM is not supported**, we realized there are conditions that require further explanation. We have created an internal tracking bug to update the article with additional information. We'll get this information published as soon as possible. I'm going to request closing this issu

[2018-07-12 22:06] markgalioto commented on #11532
#please-close

[2018-07-12 22:07] SaurabhSharma-MSFT commented on #11528
@SunnyOswal Have you followed all the steps as mentioned in the document - [Get Started on Azure Dev Spaces with .NET Core](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-nodejs).

[2018-07-12 22:09] SaurabhSharma-MSFT commented on #11533
@pvazure517 We will now proceed to close this thread as haven't heard back . If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 22:09] #11533 closed

[2018-07-12 22:10] timwieman commented on #10283
Looks good!

[2018-07-12 22:10] #10283 closed

[2018-07-12 22:14] josere commented on #11648
I was under the impression this feature should not create new VMs, but just add instances of the service to existent nodes in the scale set.

[2018-07-12 22:19] Mike-Ubezzi-MSFT commented on #11449
@pazhuo This is the import command you will want to use:

bcp DimDate2 in C:\Temp\DimDate2.txt --S <ServerName> -d <DatabaseName> -U <Username> -P <password> -q -c -t  ,

And you will run this from a cmd prompt as illustrated here with this screen capture:
![screenshot 96](https://user-images.githubusercontent.com/37126106/42662435-72590ce0-85e6-11e8-9715-e6c33ca85d85.png)

I used SSMS to create t

[2018-07-12 22:29] jtuliani opened #11661 "Resource Links"
I see that Resource Manager supports creating 'resource links' between resources. I got this from https://docs.microsoft.com/en-us/rest/api/resources/resourcelinks/createorupdate

I also see from the CLI documentation (https://docs.microsoft.com/en-us/cli/azure/resource/link?view=azure-cli-latest) that "Linking is a feature of the Resource Manager. It enables declaring relationships between resour

[2018-07-12 22:31] kgremban commented on #10958
@hansgschossmann have you had the chance to check the new versions? Can @sergaz-msft close this issue, or is there more to resolve?

[2018-07-12 22:32] #11532 closed

[2018-07-12 22:33] YutongTie-MSFT commented on #11540
@tsahi In this document, it means type messages from different intents to get the response from the corresponding knowledge base, which means that if it depends on if there is a lot of duplication between the two KBs.

[2018-07-12 22:36] Mike-Ubezzi-MSFT commented on #11543
@sam-cogan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate, as I am unable to proceed beyond the first set of instructions outlined in the [prerequisites](https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-powershell#prerequisites).

![screenshot 97](https://user-images.githubusercontent.com/37126106/42663130-25bfaf44-85e

[2018-07-12 22:37] kobulloc-MSFT commented on #11634
@ToddTaylor Thank you for reaching out to us.  We will review the documentation on certification authentication and get back to you shortly.

[2018-07-12 22:38] Bcedeno commented on #11525
I have tried and get and still get an error
![image](https://user-images.githubusercontent.com/8398705/42663215-d9ddd020-85f1-11e8-865a-17b7f943a8a8.png)

I did figure out how to do FirstName.LastName@domain (Period in between first and last name)"
Ex:
Ben.Cedeno@Domain.com

Join("", Replace([PreferredNameData], " ", , , ".", , ), StripSpaces(Append("@", DefaultDomain())))

[2018-07-12 22:40] TravisCragg-MSFT commented on #9569
@udubnate the screenshot & the given script are also different.

[2018-07-12 22:42] kgremban commented on #10530
Hi @ajaybha and thank you for the feedback. I'm also interested in improving the clarity for the tutorials. The article that you link to here should have almost no steps taking place on the IoT Edge device itself. Once you set up the device in the quickstart, everything should be handled from your dev machine or the cloud.

You specifically mention that the prerequisites are confusing. Would it he

[2018-07-12 22:43] kgremban commented on #10877
@femsulu can you #please-close this issue because I removed that broken link from the article?

[2018-07-12 22:46] CelesteDG commented on #10751
Hello @mganeshphani - Thank you for your question. I checked with our feature PMs and they confirmed that we do not have a library in Java that does token validation. However, there is a Spring boot starter built by the Azure team, which you may find useful. You can learn more about it here: https://azure.microsoft.com/en-us/blog/spring-security-azure-ad/. Thank you.

[2018-07-12 22:46] dixitsuneel opened #11663 "Reverse proxy load balancer"
If I have a stateless service running on 4 nodes and another service uses the reverse proxy to hit the endpoint, then can we safely assume that reverse proxy is doing the load balancer work  and is distributing the load? If not, then what's the alternative to keep the services internal and still have a load balancer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-07-12 22:46] CelesteDG commented on #10751
@SaurabhSharma-MSFT There's no change to the doc and answer to customer's question has been provided. Thank you. #please-close

[2018-07-12 22:55] MicahMcKittrick-MSFT commented on #11648
Ah I might have misread the doc... I am working offline to get a concrete answer for you. I will update as soon as I have more information.

[2018-07-12 22:56] tehshwann commented on #8461
Any update on this issue?

[2018-07-12 22:57] YutongTie-MSFT commented on #11497
@hrumhurum Hi, do you mean you want to add a new app service in your existing service plan? If so, I have two documents can guide you:
https://docs.microsoft.com/en-in/azure/app-service/azure-web-sites-web-hosting-plans-in-depth-overview#should-i-put-an-app-in-a-new-plan-or-an-existing-plan
https://docs.microsoft.com/en-in/azure/azure-resource-manager/resource-group-move-resources?toc=%2fazure%2fa

[2018-07-12 22:59] craigvphillips opened #11664 "Portal doesn't work in safari with the latest OS X update. 10.13.6"
Tried on multiple macbooks.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback c