[2022-01-10 18:02] asergaz commented on #51386
Relates with: https://docs.microsoft.com/en-us/answers/questions/687528/index.html

@qm13 can we update the status of the ARM implementation of body tracking ? Thanks

[2022-01-10 18:11] flang-msft commented on #86087
@AnuragSharma-MSFT - acknowledged. I will check on this.

[2022-01-10 18:14] flang-msft commented on #86087
#assign: @flang-msft

[2022-01-10 18:27] m60freeman opened #86195 "How can we identify what generation hardware an Azure SQL Database is running on?"
"For databases using Gen4 hardware, the number of visible online schedulers in sys.dm_os_schedulers may be double the number of vCores specified at database creation and shown in Azure portal."

How can we identify what generation hardware an Azure SQL Database is running on? The Portal just shows something like "Premium P6: 1000 DTUs".

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-01-10 18:27] tamram commented on #86191
#reassign: @tamram

[2022-01-10 18:27] ChaitanyaNaykodi-MSFT commented on #86187
Hello @ewouds
Thank you for your feedback! We will review and update as appropriate.

[2022-01-10 18:33] GiftA-MSFT commented on #86183
@jpzpj we'll review your feedback and get back to you shortly. Thanks.

[2022-01-10 18:35] rwike77 commented on #84801
@darrelmiller   Hi, sorry for the slow reply.  I'll try to look into it this week sometime.

[2022-01-10 18:39] AjayKumar-MSFT commented on #85939
balag0, Apologies for the delay! we'd been discussing on this internally (author and PG). Yes. The API version `2019-08-01` is supported now.
I have raised a PR to remove those two points( 1 and 2) that you highlighted, once the PR is merged the doc will reflect the changes published.
Thanks for taking time to report this issue and much appreciate your valuable feedback. We will close this thread

[2022-01-10 18:39] #85939 closed

[2022-01-10 18:41] LitKnd commented on #86195
Hi @m60freeman ,

Great question. You can query this with:

[code]

Good suggestion to add to the article, and also link to the related doc on [sys.dm_user_db_resource_governance](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-user-db-resource-governor-azure-sql-database).

I'll leave this issue going until I get a PR staged to incorporate this in

[2022-01-10 18:43] EmanueleGusso opened #86196 "ExtractSummaryAction class not found"
Hi everybody,
I tried the snippet of code here provided https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/text-summarization/quickstart?pivots=programming-language-python to try the text summarization.
But I receive the following error: 'ImportError: cannot import name 'ExtractSummaryAction' from 'azure.ai.textanalytics''
Besides, if I search through the azure package, I d

[2022-01-10 18:44] msalaman opened #86197 "Help for downloading zip file"
For enabling virtualization, the documentation says go to https://github.com and download repo. But when you go to that repo on internet explorer in the VM you cannot access the button to download the zip file (when you click on "Code" nothing happens)

Might help to Give them this link, which will directly download zip file of repo: https://github.com/Azure/azure-devtestlab/archive/refs/heads/mas

[2022-01-10 18:54] #86196 closed

[2022-01-10 18:55] msalaman opened #86199 "Typo in Setting up a lab to teach ethical hacking Class Doc"
In step 3.h in the "Set up an Ethical Hacking lab with Kali Linux Image" section of the Doc (https://docs.microsoft.com/en-us/azure/lab-services/class-type-ethical-hacking#set-up-a-nested-virtual-machine-with-kali-linux-image), it says browse for the "On the Connect Virtual Hard Disk page, select Use an existing virtual hard disk. Browse to the location for the Kali-Linux-{version}-vmware-amd64.vm

[2022-01-10 19:01] James-Hamil-MSFT commented on #86172
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-10 19:03] James-Hamil-MSFT commented on #86175
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-10 19:14] Grace-MacJones-MSFT commented on #86189
Thanks for your feedback! We will review and update this doc accordingly.

[2022-01-10 19:20] ronarieke commented on #85921
Hi,
I work with the policy support team, I think there is a need to update the
document, because deny policy does not get enforced when you delete a
resource, neither does audit.
In fact policy 8s enforced only on PUT operations, and that does not
include DELETE operations.
This is why I think the doc should be updated.
Thanks,
Ron

On Mon, Jan 10, 2022, 10:32 AM MonikaReddy-MSFT ***@***.***>
wrot

[2022-01-10 19:21] russgunther-rti opened #86200 "Automation Account Source Control Failure when Setting up VsoTfvc"
When trying to add a VsoTfvc repository to an automation account an error:

Create source control failed.
An error occurred while creating the source control named '[NameHere]'.
Error details:
The property 'branch' is required..

is generated and the instance is not created.

When selecting VsoTfvc the Branch dropdown is disabled with the text "Branch is not supported for VsoTfvc".

However I am a

[2022-01-10 19:25] PunditSharp opened #86201 "Docs have Bolivia in Europe region incorrectly"
Bolivia should be in Americas, not Europe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0adb2a8-6362-6cfd-4c94-92eff7f7f2db
* Version Independent ID: 733e11e0-44b2-f457-abae-cc1bc2d9fc56
* Content: [Routing coverage](https://docs.microsoft.com/en-us/azure/azure-maps/routing-coverage)
* Content Source: [articles/azur

[2022-01-10 19:28] georgewallace commented on #85921
I am addressing this update with @ronarieke offline. We will get the content updated.

[2022-01-10 19:31] MonikaReddy-MSFT commented on #85921
@ronarieke - Thanks for clarifying the request and like @georgewallace has mentioned, we will get the doc updated soon.
@georgewallace - Thank you for taking care of it.

[2022-01-10 19:40] Karishma-Tiwari-MSFT commented on #86199
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-10 20:07] JamesTran-MSFT commented on #86162
@mirekkukla
Thank you for your time and patience!

As mentioned within the [OAuth doc](https://www.oauth.com/oauth2-servers/access-tokens/access-token-response/) you linked, `error responses are returned with an HTTP 400 status code (unless specified otherwise), with error and error_description parameters.`

I tested this out to confirm, and received a `400 Bad Request` HTTP status code. I've crea

[2022-01-10 20:07] #86162 closed

[2022-01-10 20:10] j-martens commented on #86197
Thank you. We've added the link. It should go live later today.

#please-close

[2022-01-10 20:10] #86197 closed

[2022-01-10 20:12] aitchj commented on #85330
Thank you for getting back on this question @memildin - much appreciated.

[2022-01-10 20:14] SaiKishor-MSFT commented on #85835
@mscatyao Can you please help confirm the above?

[2022-01-10 20:17] SaiKishor-MSFT commented on #86114
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-10 20:17] #86114 closed

[2022-01-10 20:17] DerekHerman-MSFT commented on #86188
@jgross1031 Thanks for the feedback. I believe we intentionally leave out the legacy accounts to avoid confusion and having customers create these accounts when they shouldn't be. I am assigning the author to see if we should make any adjustments or add a note.

[2022-01-10 20:19] jgross1031 commented on #86188
Yes, I assume that the case and I remember even seeing that issue in training. As long as it is an option we should have it documented somewhere is all. I could not find it anywhere, even on different pages. Thanks for your help!

From: DerekHerman-MSFT ***@***.***>
Sent: Monday, January 10, 2022 3:18 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Justin Gross (INSIGHT GLOBAL INC) ***@***.***>;

[2022-01-10 20:43] ssivas commented on #86128
@janetslei , Yes are you right. Logically, It should be `-eq instead of -ne` for both conditions like: **device.trustType -eq "ServerAD" -or device.isCompliant -eq True**.

I will work with content author @MicrosoftGuyJFlo to get this validated. Thanks.

This example would create a policy that only allows access to Microsoft Azure Management from devices that are either **hybrid Azure AD joined**

[2022-01-10 21:27] EMaher commented on #86199
@Karishma-Tiwari-MSFT, Please assign this issue to me.  I'm already updated that doc.

[2022-01-10 21:30] thulasiramvalleru opened #86204 "point 9 to 12 doesn't appear"
[assigning user to virtual machine is not there as mentioned in 9 to 12 points]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aca2613-94aa-ea90-099f-625879914c4e
* Version Independent ID: 6b4fcb8e-5d64-826f-04fd-207530dda12f
* Content: [Azure Virtual Desktop personal desktop assignment type - Azure](https://docs.micr

[2022-01-10 21:47] James-Hamil-MSFT commented on #86161
Hi @Rashair, from my understanding these two are the same. While I am unsure why they are listed separately, I reached out for some more information. I will let you know when I hear back.

[2022-01-10 21:47] JackStromberg commented on #85537
Hello @JerryMWeeks,

Thanks for reaching out.  Can you please help clarify a few things?
1) For your App Service -- are you using the default certificate (yourwebsite.azurewebsites.net) certificate that comes with the app service or are you using a certificate you purchased from App Services Certificates?
2. Similarly, are you using your own domain name on the app service or leaving it as the your

[2022-01-10 21:49] EMaher commented on #86199
@Karishma-Tiwari-MSFT,  Fix has been merged.

[2022-01-10 22:00] James-Hamil-MSFT commented on #86161
I have confirmation that they are the same thing. I hope this helps!

Best,
James

[2022-01-10 22:00] #86161 closed

[2022-01-10 22:03] roygara commented on #85517
@Floriszz Thanks for bringing this to our attention, we appreciate it!

We've merged a fix that fixes the links, the changes will be live soon.

Accordingly, I'll close this out.

#please-close

[2022-01-10 22:03] #85517 closed

[2022-01-10 22:11] danimir commented on #64521
@MashaMSFT:
- I have addressed #1 above on the mentioned how-to page (articles/azure-sql/database/recovery-using-backups.md), so consider the first point taken care of.
- I will need you (or please work with Milan Lazic) to please address the other two comments (2 and 3) which are also valid, but these should be addressed on the main backup page. These two comments refer to the situation are NOT r

[2022-01-10 22:17] mike-urnun-msft commented on #86181
Hello @PiotrPerak - Thank you for your feedback! We will review and update as appropriate.

[2022-01-10 22:31] SQLSourabh commented on #75040
Hi @leswaters our apologies for the delayed response. have you looked at using a format file for both of these use cases?. Examples of usage of Format files is included below.
https://docs.microsoft.com/en-us/sql/relational-databases/import-export/use-a-format-file-to-map-table-columns-to-data-file-fields-sql-server?view=sql-server-ver15

[2022-01-10 22:45] vijayanand-msft opened #86206 "Does the secure webhook delivery supported for Logic app standard"
As a requirement the Service bus + Event grid + Logic app is implemented for the customer. Based on the docs, I am trying to authenticate event delivery to webhook endpoint - Logic app standard.

Based on the scripts on the docs, I am unable to retrieve webhookAppObjectId for the logic app standard. Without having the object id retrieved , further steps were blocked. I know based on the other gith

[2022-01-10 22:48] sethmanheim commented on #86101
Hi @gomateus -- thank you for the feedback. We've been aware of this issue for a while and it is now fixed. The link should be working. Please let us know if there are any further issues. Thanks again! #please-close

[2022-01-10 22:49] sethmanheim commented on #86101
Sorry, this was closed by mistake. Please re-open as investigation is ongoing.

[2022-01-10 22:51] MarkusVi commented on #69820
I have updated the article.

#please-close

[2022-01-10 22:51] #69820 closed

[2022-01-10 22:54] MarkusVi commented on #81267
This has been fixed.

#please-close

[2022-01-10 22:54] #81267 closed

[2022-01-10 22:56] rwike77 commented on #85534
@mrochon  I think you are correct that the custom domain examples should use contoso.com and not contoso.onmicrosoft.com.  Let me verify and get back to you.  Thanks.

[2022-01-10 22:57] MarkusVi commented on #80674
This has been fixed.

#please-close

[2022-01-10 22:57] #80674 closed

[2022-01-10 23:08] rwike77 commented on #85535
@mrochon  Maybe I'm not understanding your comment fully, please let me know.  The article is not saying that the app ID must be included in the application ID URI.  It's saying that the application ID URI must be in the default/API format (which can include the app ID) or in the HTTPS format (which includes the verified domain).  Does that answer your question?  Thanks.

[2022-01-10 23:20] myers-dev opened #86207 "NAT gateway is not required for PLS"
NAT gateway is not required for PLS, but provided in the article as one of the pre-requisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14
* Content: [Quickstart - Create a Private Link service by using the Azure port

[2022-01-10 23:25] mrochon commented on #85535
The portal UI accepts: _api://foo_ which does not conform to either rule (api://<app id> or verified domain).

[2022-01-10 23:34] johnsonkenneth opened #86208 "I believe this has a typo, "App3 uses msauth.com.contoso.app1://auth." It should say "App3 uses msauth.com.contoso.app3://auth.""
[Enter feedback here]
I believe this line has a typo, "App3 uses msauth.com.contoso.app1://auth."
It should say "App3 uses msauth.com.contoso.app3://auth."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53058555-f4fc-750d-dde6-d02c31cf684e
* Version Independent ID: 3170e634-c97c-769a-2840-848bcc283fa5
* Content: [Use r

[2022-01-10 23:36] MarileeTurscak-MSFT commented on #86208
@johnsonkenneth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-10 23:38] MarileeTurscak-MSFT commented on #86208
Thanks @johnsonkenneth ! I just made a pull request to fix the Redirect URI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/184673

[2022-01-10 23:38] #86208 closed

[2022-01-10 23:49] rishabv90 commented on #72527
#sign-off

[2022-01-10 23:51] prTrainreck opened #86210 "Metadata setting value info is incorrect"
The "forgotPasswordLinkOverride" metadata value is incorrect in this document. I tried to get this setting working in my custom policies for two days then luckily tried a shot in the dark and set the value to "setting.forgotPasswordLinkOverride" which does work with the custom policy code. These metadata values all need to be double checked for accuracy.

---
#### Document Details

⚠ *Do not edit

[2022-01-10 23:57] JimacoMS4 commented on #77185
#reassign JimacoMS4

[2022-01-10 23:57] PRMerger4 commented on #77185
GitHub user v-gpettibone has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-01-10 23:59] JimacoMS4 commented on #77185
Hi @algattik -- I left a comment for you in the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/182472. Can you please let me know your thoughts in there? I'll leave this open for a few more days for you to comment (in the PR) and then I'll push the PR and close this issue. Thanks!

[2022-01-11 00:00] tfitzmac commented on #81263
The default limit is 25 patterns per routing rule. It can be increased by contacting support.
#please-close

[2022-01-11 00:00] #81263 closed

[2022-01-11 00:01] tfitzmac commented on #85065
The default limit is 25 patterns per routing rule. It can be increased by contacting support. Perhaps your subscription had already been granted a larger number.
#please-close

[2022-01-11 00:01] #85065 closed

[2022-01-11 00:21] asudbring commented on #86207
Hi @myers-dev!

Thank you for the feedback.  We are starting to include total solutions and best practices in our quickstarts and tutorials.  NAT gateway is included in the instructions as a recommended solution when deploying any virtual machines in a VNET for outbound access.

#please-close

[2022-01-11 00:21] #86207 closed

[2022-01-11 00:27] MarkusVi commented on #79049
This has been fixed.

#please-close

[2022-01-11 00:27] #79049 closed

[2022-01-11 00:31] MarkusVi commented on #74844
#please-close

[2022-01-11 00:31] #74844 closed

[2022-01-11 00:48] JamesTran-MSFT commented on #86210
@prTrainreck
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-11 01:20] jinyu1122 commented on #86180
Sorry, I just checked the log. I'm using the company registry. That's why I can't get the 1.0 version.
Thanks

[2022-01-11 01:20] #86180 closed

[2022-01-11 01:58] EvanBasalik opened #86212 "Add converting to static to the script"
If the script has a hard requirement for the IP address to be static, let's incorporate that into the script. Otherwise, someone will miss doing that manual step. :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab6eefa3-52f8-4172-46d3-c5a6c1f95370
* Version Independent ID: 8a5653c5-158d-8154-451b-2840cf77b4d0
* Conte

[2022-01-11 02:15] #86128 closed

[2022-01-11 02:47] VikasPullagura-MSFT commented on #86190
@venugottemukkula I am not seeing any feedback provided on this document. However, based on the comment from you as close closing this feedback.
Assuming this was done for testing.

If you have a feedback that you want to share for this document, please feel free to do that.

[2022-01-11 02:47] #86190 closed

[2022-01-11 02:58] MayankBargali-MSFT commented on #85974
@monkeycoder99 It looks like there is an issue with the [vscode apimanagement extension ](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-apimanagement) where the debugging is not working as expected for self-hosted gateway. The product team is aware of this and working on this but unfortunately, there is no ETA for the fix.

For now, As this is not a document issue I will

[2022-01-11 02:58] #85974 closed

[2022-01-11 03:07] ehaslett opened #86213 "MakeCert is deprecated - update doc to use Powershell New-SelfSignedCertificate"
[Enter feedback here]
MakeCert is deprecated. To create self-signed certificates, use the Powershell Cmdlet New-SelfSignedCertificate.
https://docs.microsoft.com/en-us/windows/win32/seccrypto/makecert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44fa98af-834b-6e58-9162-abc3d62f97c4
* Version Independent ID: a04ffab8-

[2022-01-11 03:19] AshokPeddakotla-MSFT commented on #86201
[@PunditSharp](https://github.com/PunditSharp) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-11 03:40] shashishailaj commented on #86200
@russgunther-rti Thank you for your query . We use azure-docs repository for any feedback for documentation however we will try to help you with this issue. In case it requires deeper troubleshooting we will provide you with alternate support options.

[2022-01-11 03:43] shashishailaj commented on #86192
@Chris1234567899 Thank you for your query . We will investigate and update the thread.

[2022-01-11 03:47] shashishailaj commented on #86191
@jgross1031 Thank you for your feedback . This is being worked on by the content team and they will update the thread soon .

[2022-01-11 03:49] Karishma-Tiwari-MSFT commented on #86199
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-11 03:49] #86199 closed

[2022-01-11 03:50] shashishailaj commented on #86204
@thulasiramvalleru Thank you for your feedback . We will investigate and update the thread .

[2022-01-11 03:52] shashishailaj commented on #86212
@EvanBasalik Thank you for your feedback . We will investigate and update the thread.

[2022-01-11 03:53] shashishailaj commented on #86206
@vijayanand-msft Thank you for your query . We will investigate and update the thread.

[2022-01-11 03:55] shashishailaj commented on #86213
@ehaslett Thank you for the suggestion . We will check this with the content authors and see how best to incorporate the suggestion in the documentation  .

[2022-01-11 04:22] vineet-sharda-conduent commented on #56120
Hello Ju-Shim

Just to be clear, are you saying that at 1:10 PM, the autoscale engine polls for the metrics between 1:00 and 1:10 PM to make its decision?

Thanks and regards
Vineet

[2022-01-11 04:35] AnuragSharma-MSFT commented on #86022
@ohadschn Thanks for your response. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-11 04:36] AnuragSharma-MSFT commented on #86105
@beckojr Awaiting your response on this.

[2022-01-11 04:37] AnuragSharma-MSFT commented on #86127
@josere Awaiting your response on this.

[2022-01-11 05:00] magakman commented on #86111
The IP is for management traffic. It serves to manage, update, etc. It can not be used by anyone other than the Azure Platform.

[2022-01-11 05:01] VikasPullagura-MSFT commented on #86213
@ehaslett Thanks for poiniting this out. This document has to be replaced from [MakeCert](https://docs.microsoft.com/en-us/windows/win32/seccrypto/makecert) to [NewSelfSigned Certificate](https://docs.microsoft.com/en-us/powershell/module/pki/new-selfsignedcertificate?view=windowsserver2022-ps)

I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-11 05:02] VikasPullagura-MSFT commented on #86213
@lauradolan
Can you please check and add your comments on this doc update request as applicable.

[2022-01-11 05:10] rwike77 commented on #85535
OK, I see what you mean.  Thanks.   You're right, entering "api://foo" is accepted by the portal UI.  I'll investigate.

[2022-01-11 05:23] MayankBargali-MSFT commented on #86171
@jgarplind Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-01-11 05:23] #86171 closed

[2022-01-11 05:24] zjunsen opened #86214 "Unable to SSO login"
[Enter feedback here]
According to the deployment of the article, whether it is the method of sharing the key or the method of certificate, SSO cannot be logged in. When logging in, ADFS will first authenticate the login, then the AVD authentication dialog box, and finally log in to the desktop;
There is no record of automatic registration of the user's SSO certificate in the internal certificate

[2022-01-11 05:28] nitish-ntt-at commented on #85905
@VikasPullagura-MSFT could you please let us know if there is any update ?

[2022-01-11 06:55] KrishnaG-MSFT commented on #85085
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-01-11 06:55] #85085 closed

[2022-01-11 06:59] #85815 closed

[2022-01-11 07:11] GitaraniSharma-MSFT commented on #86212
@EvanBasalik , the script already contains the commands to update the Public IP to Static:

<img width="433" alt="image" src="https://user-images.githubusercontent.com/67630903/148896884-9125dd67-cb6b-4d03-964c-1be824dc750e.png">

Updating the IP address SKU to Standard means converting it to Static as Standard SKU IP addresses are static by default.
Refer : https://docs.microsoft.com/en-us/azure/

[2022-01-11 07:12] v-hagamp commented on #84432
@hkusulja, givenname, surname and displayname these are default attributes can't be removed. If you want to remove these fields, remove them manually.

[2022-01-11 07:14] AnuragSharma-MSFT commented on #86095
@dgpoulet Thanks for your patience. You can refer to below article that says, "_In some scenarios you need to manage this Session yourself; Consider a web application with multiple nodes, each node will have its own instance of CosmosClient If you wanted these nodes to participate in the same session (to be able read your own writes consistently across web tiers) you would have to send the Session

[2022-01-11 07:16] hkusulja commented on #84432
@v-hagamp , what I am saying is that they are by default there, and by your instructions/recommendation they should be manually removed during implementation. Since they contain characters which are not allowed, also those are not used by Google G-Suite.
Please revise and update docs.

[2022-01-11 07:32] Sikkesoft opened #86216 "Will a Windows Server 2019 Base image with SQL Express 2019 fail on Software Compliance"
For my employer, an ISV, I'm involved in preparing in an image which is going to be offered in Marketplace and we wish to use recent versions of Windows Server and SQL Server. For small customers SQL Express suits the needs .
While analyzing the requirements for the marketplace and browsing through the base-images offerings, the most 'recent' version that includes SQL Express is SQL Server Express

[2022-01-11 07:34] keijutan opened #86217 "Require Re-register MFA /"
[Enter feedback here]
It does not result in the following description.
"StrongAuthenticationMethod" will be reset when the phone number is registered and "Require Re-register MFA" is executed.
----------
The user's currently registered authentication methods aren't deleted when an admin requires re-registration for MFA. After a user re-registers for MFA, we recommend they review their security inf

[2022-01-11 07:51] Rashair commented on #86161
Thank you, it's good to know for sure.

[2022-01-11 08:45] MayankBargali-MSFT commented on #86167
@kiranpradeep Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-11 09:26] FladoToo opened #86219 "Common reasons for failure is OK, but how to deal with them?"
Hi, the page lists three common reasons for extension failures, but gives really no advice on how to deal with them. While with the first two it is more or less obvious, I've been struggling with the third one, which should be very common with Linux VMs:

Specifically, cloud-init always runs any requested package updates and installations _at the same time_ as terraform is installing extensions. I

[2022-01-11 09:39] njnuwjq opened #86220 "the definition of variable i, j should be provided, and the variable scope should be mentioned here, otherwise the reader can be quite dizzy :("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5180c2b-1ea6-3924-dc01-3f7c9296774b
* Version Independent ID: f040eee7-35fb-676c-ad36-d354af14ecc2
* Content: [Set Variable Activity - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-set-variable-a

[2022-01-11 09:48] Harikrishnan-M-B opened #86221 "Hyperlink points to wrong page"
Hyperlink after the sentence "To learn how to enable HTTPS for your custom domain, continue to the next tutorial" points to _https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-add-custom-domain_ instead of _https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-configure-https-custom-domain_

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-01-11 09:55] keremkambur opened #86222 "Optimizing Application Performance section is missing"
I was wishing to see more information about Host Caching which is stated to be detailed under section _Optimizing Application Performance_, however, this section does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d508e8ae-bbba-703d-e94e-c42520a4cad8
* Version Independent ID: 2a3bcae3-b889-f498-8de8-1481a4bcb

[2022-01-11 10:08] ssivas commented on #86128
I have double-checked with engineering team and below is the correct method. The document will be updated with the same information. Thank you for bringing this to our attention.

We should use include with -ne rather than exclude with -eq. With exclude using -eq does not work for unregistered devices and hence using **include with -ne** will be the right option.

In case of **Include filtered dev

[2022-01-11 10:23] memildin commented on #85999
Hi @sarah026, thanks for the question and for taking the time to help us improve the docs.

Enabling a framework does *assign* the initiative to the subscription, but the policies of compliance initiatives are always Audit or Disabled by default. So no, they won't cause any deployments to be blocked.

I'm going to close this issue, but feel free to comment again here or open a new one if you have

[2022-01-11 10:23] #85999 closed

[2022-01-11 10:48] GitaraniSharma-MSFT commented on #86221
@Harikrishnan-M-B , thank you for your feedback. We'll review this and get back to you shortly!

[2022-01-11 11:32] Dmitry-Me opened #86223 "December 2021 Guest OS available but not documented"
Guest OS WA-GUEST-OS-6.38_202112-01 is now available for selection but not documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8cc2c5-eb5f-edaf-f155-98e5ff1b252c
* Version Independent ID: 8e1a1933-e037-d682-5ba0-50d0f85f12e8
* Content: [List of updates applied to the Azure Guest OS](https://docs.m

[2022-01-11 11:46] ssivas commented on #86217
@keijutan , Thank you for your query . We will investigate and update the thread.

[2022-01-11 11:48] Karishma-Tiwari-MSFT commented on #86076
This has been fixed.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-11 11:48] #86076 closed

[2022-01-11 11:48] JerryMWeeks commented on #85537
We are using a *. certificate purchased through Azure portal.

[2022-01-11 11:51] Karishma-Tiwari-MSFT commented on #86023
We will now close this issue. Please share the documentation url and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-11 11:51] #86023 closed

[2022-01-11 11:59] Karishma-Tiwari-MSFT commented on #86038
Apologies for the delay. Can you please share what error you are getting on running this command?

[2022-01-11 12:03] SumanthMarigowda commented on #86222
@keremkambur Thanks for the question! We are investigating and will update you shortly.

[2022-01-11 12:07] gomateus commented on #86101
Link is still not working, thanks for continuing the investigation

[2022-01-11 12:10] Karishma-Tiwari-MSFT commented on #85998
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-11 12:11] Karishma-Tiwari-MSFT commented on #85718
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-11 12:16] hurtn opened #86224 "Clarification required"
The sentence "while Functions and Stored Procedures will produce lineage between Table/View with parameter_dataset and stored_procedure_result_set. " is not very clear, for example stored procedures return ref cursors not result sets, and function returns table type. Also will column level transformations be displayed if a column is produced as a result of a function?
---
#### Document Details

⚠

[2022-01-11 12:26] Karishma-Tiwari-MSFT commented on #86142
@mondragonsi To help me understand, can you please elaborate on your question or share the exact section in the document you are referencing?

[2022-01-11 12:38] kengaderdus commented on #84331
Dear @bitswise,

Thank you for your patience.

You can use custom domain in all the endpoints. We'll update our docs and thank you for bringing this up.

[2022-01-11 12:42] pohorely commented on #85966
Hello @kaumishra,

I mean that it would be nice to see a JMeter version inside the resource when it is listed by REST API or AZ CLI.

**For example:**
A command `az resource show --subscription 8acb3f42-dd94-44ff-90c3-7e1aa116fdb9 -g test --resource-type Microsoft.LoadTestService/loadtests -n myloadtest -o json` produces the JSON:
[code]

It would be nice to see a property `systemData.jmeterVersio

[2022-01-11 13:42] RyanHill-MSFT commented on #85901
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-11 13:42] #85901 closed

[2022-01-11 13:47] #86127 closed

[2022-01-11 13:49] #84331 closed

[2022-01-11 13:53] Jxlle opened #86225 "speech-to-text quickstart missing "import dependencies" section"
The speech-to-text quickstart for C++ seems to miss the "import dependencies" section that is present on other pages, like the [text-to-speech quickstart](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-cpp). This can cause confusion for people only following this specific tutorial as they

[2022-01-11 14:10] jd1984 opened #86226 "No mention of license requirement?"
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection#license-requirements

MFA registration policy:
Azure AD Free / Microsoft 365 Apps = No
Azure AD Premium P1 = No
Azure AD Premium P2 = Yes
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b

[2022-01-11 14:15] jd1984 opened #86227 "MFA registration policy license?"
There is no mention of the Multi-Factor Authentication registration policy which according to https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection#license-requirements
needs Azure AD Premium P2 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-1

[2022-01-11 14:26] hldgithub opened #86229 "Documented Instructions are Incorrect"
Please correct this command:
[code]
$hdiWorkerNodes is incorrect. It should be a capital-h based on the previous steps, like thus: $HdiWorkerNodes.

The following settings are invalid: DefaultStorageAccountName, DefaultStorageAccountKey, DefaultStorageContainer.

I never did figure out what the correct command should be. I was forced to switch to the portal to complete this step. Frankly, providin

[2022-01-11 14:34] RyanHill-MSFT commented on #86100
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-11 14:37] stevio-stack opened #86230 "Azure SQL DB"
Cannot find how to send you a simple email. Usually that is what Contact Us provides. I want info on obtaining an Azure SQL DB. How much will it cost? We already have Azure Blob Storage account. Please respond - stephen.staple@shirefoods.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc1b9f94-0697-7726-d678-1439a30

[2022-01-11 14:44] Michal-Ziemba opened #86232 "Wrong OData query"
In the article you wrote, to test the OData query for a specific personIdExternal you need to run the query:
[code]
If you run the OData query mentioned in the article and replace the personIdExternal with the ID of the user (i.e. '10000220'), and the SuccessFactorsAPIEndpoint with the correct URL, the query returns all users.

What I found out, to limit the result for the specific user you need t

[2022-01-11 15:05] MonikaReddy-MSFT commented on #86230
@stevio-stack - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-11 15:11] micuentadecasa commented on #11450
In my case no one of the solutions proposed worked, I don't understand how do you close without a solution.

[2022-01-11 15:12] anwarmahmood1 opened #86233 ""Customize group claim name" - what's the default?"
I'd only want to customize the claim name if the default wasn't right, but you don't specify what the default is.  What is the default claim name for the group claim?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Independent ID: 481c093b-6db3-c4e5-66

[2022-01-11 15:14] RyanHill-MSFT commented on #86100
@JerryMWeeks, the _Recommended record type column_ under DNS record types tells why CNAME records are preferred for sub domains:

This means if you ever scale your app service up or down, you don't have to go in your registrar and update the A record. If you're binding your mysuperdomain.com as root domain to your-app-service.azurewebsites.net, then you can configure A record to your app service I

[2022-01-11 15:14] #86100 closed

[2022-01-11 15:19] anwarmahmood1 commented on #86233
Is the default claim name
http://schemas.microsoft.com/ws/2008/06/identity/claims/groups
or
http://schemas.xmlsoap.org/claims/Group

[2022-01-11 15:28] sdg002 opened #86234 "Could not find the class 'MSGraphUser'"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fa9ea4-0739-235e-0422-75bbab9ae398
* Version Independent ID: 01013b89-b27b-73d6-8885-333d28be5257
* Content: [Tutorial - Web app accesses Microsoft Graph as the app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsof

[2022-01-11 15:33] PaulEdlund opened #86235 ""Continuous Access policy evaluation" is confusing"
[Enter feedback here]
I find this documentation confusing.  Under the section called "Continuous Access policy evaluation" it says that SharePoint Online and Exchange Online are supported via Outlook Web.  So I'm opening them via web browser.  However, in the next category SharePoint Online and Exchange Online are not supported using Office Web Apps.  It feels like I'm still opening them via a web

[2022-01-11 15:38] JamesTran-MSFT commented on #86226
@jd1984
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-11 15:39] JamesTran-MSFT commented on #86227
@jd1984
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-11 15:40] JamesTran-MSFT commented on #86232
@Michal-Ziemba
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-11 15:46] maybrittstoen opened #86236 "Sink must be binary when source is binary dataset."
[Enter feedback here]

There are no explaination of how to make the source binary. Please make a image showing how to set this option
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 584c1419-f888-8473-7a5c-f0e532869242
* Version Independent ID: 4cafb9e0-c27e-15b0-63c8-3712ef59e187
* Content: [Binary format - Azure Data F

[2022-01-11 15:59] MashaMSFT commented on #66638
Hi @alpkayaMSFT , thanks for your feedback! We've processed a change to update the documentation and will be closing out this Git Issue.

Please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:SQLSourabh

[2022-01-11 15:59] #66638 closed

[2022-01-11 16:02] MashaMSFT commented on #75890
Hi @francesco1119 , thanks for bringing this to our attention! After further investigation, we’d like to correct our statement and clarify that extended stored procedures are not currently supported, and you’re encountering a bug that we’ve added to our backlog. We will address this as resourcing and priority allows.

Since this is related to the product and not the documentation, we're going to c

[2022-01-11 16:02] #75890 closed

[2022-01-11 16:09] ShaikMaheer-MSFT commented on #86220
@njnuwjq Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-11 16:11] ShaikMaheer-MSFT commented on #86236
@maybrittstoen Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-11 16:16] JamesTran-MSFT commented on #86233
@anwarmahmood1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-11 16:16] vhorne commented on #61562
Article updated (https://docs.microsoft.com/en-us/azure/application-gateway/configure-application-gateway-with-private-frontend-ip)
#please-close

[2022-01-11 16:16] #61562 closed

[2022-01-11 16:16] claudiamariasarvas opened #86241 "Purview account creator does not automatically get Policy authors permissions"
Hello,

Please consider adding Policy authors permissions for Purview account creator, the same way the other permissions are granted during account creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb9ad75-5aa1-af3d-9f59-073015190950
* Version Independent ID: 467433dd-ade8-5109-eaa5-a2198146b769
* Content: [Un

[2022-01-11 16:23] eugene-lipsky opened #86242 "Data Box Archive Tier"
It's unclear from documentation here https://docs.microsoft.com/en-us/azure/databox/data-box-how-to-set-data-tier what would happen if importing data via data box and copying it to the databox using azcopy utility with the archive flag. Would this be possible? OR are we required to copy data without any tier flags into a Hot tier container and then either use a lifecycle policy or run a script to

[2022-01-11 16:24] StefanNetzer opened #86243 "Update of Docu required"
The Documentation mentions a WORKSPACES folder  right under the root folder. In the current version you will find the folder under samples and under training-materials. The LIBRARY folder does not exist here. Instead a BOMS folder was added. I would appreciate an update of the documentation.

Thank you
Stefan Netzer

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2022-01-11 16:26] mikedizzle commented on #85498
So....any update to this?

[2022-01-11 16:26] VikasPullagura-MSFT commented on #86223
@Dmitry-Me
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-11 16:26] VikasPullagura-MSFT commented on #86223
@ibthampy
Can you please check and add your comments on this doc update request as applicable.

[2022-01-11 16:28] VikasPullagura-MSFT commented on #86219
@FladoToo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-11 16:28] VikasPullagura-MSFT commented on #86219
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2022-01-11 16:41] tamram commented on #86191
This change is now live. Thanks for the suggestion!

#please-close

[2022-01-11 16:41] #86191 closed

[2022-01-11 16:42] James-Hamil-MSFT commented on #86214
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-11 16:43] James-Hamil-MSFT commented on #86216
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-11 16:46] JamesTran-MSFT commented on #86235
@PaulEdlund
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-11 16:56] MashaMSFT commented on #85649
Hi @moderor , thanks so much for reaching out! It looks like your issue has been addressed so I'm going to close out this Git Issue for the time being. However, please feel free to comment should you need anything further.

Thanks again for contacting Microsoft, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-01-11 16:56] #85649 closed

[2022-01-11 16:58] gmichaud commented on #67166
@codaamok @clairernovotny we're also in the process of getting a new EV code signing key through DigiCert and I'm trying to figure out if I'm understanding the pricing of Premium (HSM backed) Azure Key Vault instances. I recently had a call with a Microsoft Azure support agent who warned us about the pricing of Premium Key Vault instances. Am I reading correctly [here](https://azure.microsoft.com/

[2022-01-11 17:08] dreeves14 opened #86245 "ACU of the v5 generation VMs"
What is the ACU of the new v5's?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06761944-b658-9f22-05f4-f27a418a0221
* Version Independent ID: 8337da04-705d-a72e-6d75-b0b52c80195b
* Content: [Dv5 and Dsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/dv5

[2022-01-11 17:11] yowl commented on #67166
That doesn't sound right, we are not paying anywhere near that.  For the audit, we went to someone on fiverr who did it for a couple of hundred (GBP)

[2022-01-11 17:18] codaamok commented on #67166
It's definitely not costing us $3.20/hour. I tried looking at cost of resource in Azure just now but for some reason the resource isn't listing in the query, so while not 100% certain, I'm confident it's not as expensive as that.

As for the audit, we used an external security consultant that checked DigiCert's box.

[2022-01-11 17:19] SwathiDhanwada-MSFT commented on #86182
@Lekao77 For your requirement, you can create custom role  with permission "Microsoft.Portal/Dashboards/Write" to share or publish the dashboards.

I also would recommend you to navigate [here](https://feedback.azure.com/d365community/idea/e04256fd-f025-ec11-b6e6-000d3a4f06a4) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of yo

[2022-01-11 17:29] joelpelley commented on #86245
We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers.

[2022-01-11 17:30] g-martinse opened #86246 "AKS cluster - VM size change"
Within this page it is mentioned in 'Limitations' section:

Does this mean it is possible to change the VM size if not using node pools?
If yes, how can this be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb-9510-22e2cd56d16b
* Cont

[2022-01-11 17:33] nitinme commented on #85196
All the new development for Bing APIs are now being done outside of Cognitive Services. We updated the note in the article at the top to clarify that. You might want to look at the new Bing docs for latest info. The link to that should be in the note we updated in the article.

#please-close

[2022-01-11 17:33] #85196 closed

[2022-01-11 17:33] nitinme commented on #84616
All the new development for Bing APIs are now being done outside of Cognitive Services. We updated the note in the article at the top to clarify that. You might want to look at the new Bing docs for latest info. The link to that should be in the note we updated in the article.

#please-close

[2022-01-11 17:33] #84616 closed

[2022-01-11 17:33] tfitzmac commented on #74134
#assign:ggailey777

[2022-01-11 17:38] tfitzmac commented on #74134
#label:"azure-functions/svc"

[2022-01-11 17:40] Elangamban opened #86247 "Domain Join client machine"
For the below question it is mentioned that managed domain users can join VM using the valid credentials.

Is it possible to join Windows 10 client machines to Azure ADDS domain? If possible how to do it

**Question:** I've enabled Azure AD Domain Services. What user account do I use to domain join machines to this domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-01-11 17:40] squasta opened #86248 "Wrong information about Supported VMware vSphere versions"
Documentation said : "Azure Arc-enabled VMware vSphere currently works with VMware vSphere version 6.5 and above"

I am using vSphere 7.0.3 and I when I executed the installation script I got the following error message

**retrieving config
2022-01-11T18:26:36+01:00       INFO    vsphereProvider: createConfigHelper
Error: Vcenter version 7.0.3 is not supported**

Can you update doc with acurated a

[2022-01-11 17:41] dreeves14 commented on #86245
Anders CPA & Advisors - General Document

Sounds good! Thank you for the quick response, I look forward to the updated metrics.

-DR

Anders CPA & Advisors - General Document

    Dalton Reeves
    IT Senior Infrastructure Support Analyst
    P (314) 655-5523 | F (314) 309-3103
    ***@***.*** | anderscpa.com
    800 Market Street, Suite 500 | St. Louis, MO 63101

    ANDERS CPAs + ADVISORS
From:

[2022-01-11 17:52] jeanfrancoislarente opened #86250 "mysql creation instruction does not specify resource group which means cleanup instructions won't remove mysql"
The instruction `az mysql flexible-server create --public-access <YOUR-IP-ADDRESS>` does not include the resource group, which means it creates a new resource group for the deployment. In the cleanup section of this tutorial, `az group delete --name wordpress-project --yes --no-wait` will only delete the AKS resources and not the mysql resources deployed.

I imagine the easy solution is to add the

[2022-01-11 17:56] zr-msft commented on #77830
Thank you for the feedback.

The French translation appears to be up to date.

#please-close

[2022-01-11 17:56] #77830 closed

[2022-01-11 17:58] zr-msft commented on #79365
#please-close

[2022-01-11 17:58] #79365 closed

[2022-01-11 17:59] ivansurif opened #86251 "Python SDK Context class does not include trace_context or retry_context"
[Context](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python?tabs=azurecli-linux%2Capplication-level#context) indicates that

However, as explained in https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions.context, the Context class does not include either trace_context or retry_context. It would be very helpful if it did include at least the lat

[2022-01-11 18:03] RyanHill-MSFT commented on #86108
@amx-matt-clark, you can use `az webapp list-runtimes --linux` to list the available runtimes supported on App Service. For minor versions, the _-LTS_ moniker is used e.g. 12-lts. Therefore, you would set `WEBSITE_NODE_DEFAULT_VERSION` to one of these available values. This is preferred method to avoid any issues.

[code]

If you have any further questions, please feel free to comment below.

[2022-01-11 18:03] #86108 closed

[2022-01-11 18:05] MicrosoftGuyJFlo commented on #86235
Sent to PG for clarification

[2022-01-11 18:07] #82815 closed

[2022-01-11 18:08] amx-matt-clark commented on #86108
Great advice @RyanHill-MSFT ! Would it be worth updating the appropriate section on the page to reflect your suggestion? https://github.com/MicrosoftDocs/azure-docs/issues/86108#issuecomment-1010222970

[2022-01-11 18:08] dalemdb opened #86252 "The photo for the cluster settings is from AWS and not Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35bc9dfb-7101-9c9b-75d0-711355017291
* Version Independent ID: 35bc9dfb-7101-9c9b-75d0-711355017291
* Content: [IPython kernel - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/notebooks/ipython-kernel)
* Content Source: [databrick

[2022-01-11 18:10] amx-matt-clark commented on #86108
ah... you did, I just saw the update!

[2022-01-11 18:16] RyanHill-MSFT commented on #86234
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-11 18:22] lauradolan commented on #86213
Per our conversation @ehaslett will file this as an internal content request instead.

#please-close

[2022-01-11 18:22] #86213 closed

[2022-01-11 18:22] tfitzmac commented on #73650
I have confirmed that the resource type is defined as not supporting move. So, there is no doc update at this time. Any further investigation about whether a resource was moved would need to be handled by support.
#please-close

[2022-01-11 18:22] #73650 closed

[2022-01-11 18:49] MashaMSFT commented on #77134
Hi @jhampson-dbre , thanks so much for reaching out! Yes, the redirect connection for SQL Managed Instance enforces TLS encryption. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

I hope that helps and please let us know if we can help more. Thanks again for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha fr

[2022-01-11 18:49] #77134 closed

[2022-01-11 18:51] craigshoemaker commented on #82347
Moving to #please-close this issue per @scubaninja's comments.

[2022-01-11 18:51] #82347 closed

[2022-01-11 18:55] stack247 opened #86253 "Wrong Method `DetectChangePointAsync`"
The section "Detect change points in the data set" (https://docs.microsoft.com/en-us/azure/cognitive-services/anomaly-detector/quickstarts/client-libraries?pivots=programming-language-csharp&tabs=windows#detect-change-points-in-the-data-set) is no longer valid.

The method `DetectChangePointAsync` doesn't exists in Microsoft.Azure.CognitiveServices.AnomalyDetector NuGet version 1.0.0.
The closest

[2022-01-11 19:14] ramya-rao-a commented on #84616
@nitinme While the note is helpful, the code snippet is still wrong. It uses a class that does not exist. Anyone trying to use the code will see build errors

[2022-01-11 19:19] zr-msft commented on #86246
Thank you for the feedback.

With AKS, nodes are always part of a node pool and the VM size for nodes are set at the node pool.

#please-close

[2022-01-11 19:19] #86246 closed

[2022-01-11 19:24] clairernovotny commented on #67166
@gmichaud You don't need a Managed HSM Pool; a Premium Key Vault instance will do as that is backed by an HSM. Pricing that I see is $5/mo + pennies per 10,000 transactions (you need a key that's >3072 bit for code signing).

An audit letter does the trick and DigiCert should be able to provide you a template a qualified person can fill out/sign.

[2022-01-11 19:25] gmichaud commented on #67166
Thanks @clairernovotny, highly appreciated

[2022-01-11 19:26] zr-msft commented on #85293
Thank you for the feed back.

This information has already been added to
https://docs.microsoft.com/azure/virtual-machine-scale-sets/use-spot#limitations

#please-close

[2022-01-11 19:26] #85293 closed

[2022-01-11 19:28] JamesTran-MSFT commented on #86226
@jd1984
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-01-11 19:28] #86226 closed

[2022-01-11 19:28] JamesTran-MSFT commented on #86227
@jd1984
Thanks for your feedback!

When it comes to the MFA registration policy, this is a feature of [Identity Protection](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection), which is listed as requiring an [Azure AD Premium P2 license](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#feature-compar

[2022-01-11 19:28] #86227 closed

[2022-01-11 19:32] KranthiPakala-MSFT commented on #86229
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-01-11 19:36] darrenCampos opened #86254 "Azure AD Roles that will obtain the user notification without the custom URL under customization"
[Enter feedback here]
Hello Team, would be possible to add a line that mentioned the Azure AD Admin roles that will receive the email notification when a user that is not set for SSPR tries to reset the password and the company did not set any custom URL for the helpdesk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-11 19:36] KranthiPakala-MSFT commented on #86252
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-11 19:41] JamesTran-MSFT commented on #86254
@darrenCampos
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-11 20:00] ChaitanyaNaykodi-MSFT commented on #86007
Hello @martijn980, I could run the tutorial as described in the documentation.
![image](https://user-images.githubusercontent.com/67453298/149011648-1aafe1eb-f7f6-4cff-8494-d8f2652be6e1.png)

![image](https://user-images.githubusercontent.com/67453298/149012030-fed137dd-bec3-4981-8b63-fd980d2265a9.png)

Can you please revalidate the steps? or else try the tutorial again?.

As we primarily monitor

[2022-01-11 20:00] #86007 closed

[2022-01-11 20:17] EvanBasalik commented on #86212
Confused - if the script does it (which is a good thing), why do we call out converting as a caveat?

https://docs.microsoft.com/en-us/azure/load-balancer/upgrade-basic-standard#caveatslimitations

[A picture containing text  Description automatically generated]

From: Gitarani Sharma ***@***.***>
Sent: Tuesday, January 11, 2022 2:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Evan Basalik **

[2022-01-11 20:22] abdisa opened #86256 "Ho to Add new Language"
We want to include our widely spoken language(Oromo Language - the 3rd widely spoken language in East Africa with more than 70 Million People & the largest spoken on in Ethiopia.)

how we can do it?

[2022-01-11 20:28] vhorne commented on #51529
fixed
#please-close

[2022-01-11 20:28] #51529 closed

[2022-01-11 20:46] MarileeTurscak-MSFT commented on #86247
You can join any Windows 10 VM to the Azure ADDS domain (managed domain) if it can communicate with the VNet subnet assigned to the Managed Domain. For this purpose, you can:

Any user account that's part of the managed domain can join a VM. To join a Windows 10 device to Azure AD, you can go to  Settings > Accounts > Access work or school > Connect > Join this device to Azure Active Directory.

[2022-01-11 20:50] AngelosP opened #86257 "In 17.2 P1 creation of new Azure Functions in Visual Studio will be fully integrated into the NPD"
In 17.2 P1 creation of new Azure Functions in Visual Studio will be fully integrated into the NPD and will not require an additional dialog. This means that the screenshots on this page should be updated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7

[2022-01-11 21:01] chris2shehu opened #86258 "Unable to use Spark.Read() Example due to java.lang.ClassNotFoundException in Databricks."
The python example provided generates an error when attempting to run from a databricks notebook. Looking over possible solutions it appears a custom JAR file is expected?

java.lang.ClassNotFoundException: Failed to find data source: com.microsoft.sqlserver.jdbc.spark. Please find packages at http://spark.apache.org/third-party-projects.html

---
#### Document Details

⚠ *Do not edit this section

[2022-01-11 21:04] JamesTran-MSFT commented on #86247
@Elangamban
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-11 21:10] kristianjaeger opened #86259 "AAD Tenant ID section of command is incorrect"
[Enter feedback here]
The section of the document that is below incorrectly has brackets '[' and ']' around the "[--aad-tenant-id <id>" section of the az aks create command. Perhaps one could denote it differently if the writer was attempting to say that it's optional. Thanks.

Create an AKS cluster, and enable administration access for your Azure AD group
# Create an AKS-managed Azure AD cluster

[2022-01-11 21:15] rabbyn opened #86260 "Missing step to create Data access policy in purview"
Hello guys, I was strucking to enable "Data access policy" in purview but thanks to the Microsoft support agent we found out that 1 required step was missing in your article => user must be added manually in "Policy authors" section.

QED : even if my user was "owner" on the purview resource (+owner at subscription level too), this manual step to add the user in policy authors is required ,  if no

[2022-01-11 21:24] xianlongqin opened #86261 "Not sure if VNet1 and VNet7 can communicate"
[Enter feedback here]

Can VNet1 and VNet7 communicate with each other? It's not clear from the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 928d7a76-5472-0f2d-c6d9-100099ee5dff
* Version Independent ID: 78d77834-58eb-c0b6-197d-73e3af2dc469
* Content: [Scenario: Route traffic through a Network Virtual Appli

[2022-01-11 21:48] drattek commented on #47130
Hi, i have exactly the same issue running SQLite , it is mandatory for cubebackup container. Does anybody knows if this has been fixed or i need to migrate to another cloud? Thank you.

[2022-01-11 21:56] mardahl commented on #80163
Any traction on this?
It is a rather annoying bug in organizations with many hundred users using this to access their azure VNET seamlessly using P2S.
For security reasons, the certificates should expire every month, but right now we have to extend them to be for many years untill this bug is fixed.

[2022-01-11 22:04] dlepow commented on #86113
I updated the doc, so I'll close this issue. Thanks for pointing it out.
#please-close

[2022-01-11 22:04] #86113 closed

[2022-01-11 22:08] perktime opened #86262 "List of Azure Regions which support Zone-Redundant HA may be incomplete"
I was able to create a Zone Redundant HA configuration for Azure DB for Flexible Server in East US 2 which according to the table here should not be possible.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789139e9-15bb-58a9-7dc3-bd85c0bcfee5
* Version Independent ID: cda59fed-f3ff-aa09-a13c-027a54e4141a
* Content: [Azu

[2022-01-11 22:41] zr-msft commented on #80227
Thank you for the feedback.

The document appears to be updated to address your feedback.

#please-close

[2022-01-11 22:41] #80227 closed

[2022-01-11 22:45] zr-msft commented on #80305
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2022-01-11 22:45] #80305 closed

[2022-01-11 22:48] zr-msft commented on #80445
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2022-01-11 22:48] #80445 closed

[2022-01-11 22:56] PixelRobots commented on #80227
I guess that's what happens after 5 months of waiting...

[2022-01-11 22:57] ePpnqeqR commented on #86260
Hi. Thanks for giving Azure Purview data policies a try. That step is already in the documentation. Please see the permissions section of the document
![image](https://user-images.githubusercontent.com/72885645/149034640-f24aa41f-211a-42b0-8e5a-127cf9eaaf9d.png)

[2022-01-11 23:02] bennettnw2 opened #86263 "Typo Correction"
The title is missing a capital `C` for "Create" on the main page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb309d5a-11ab-d66e-41f5-55b446081df6
* Version Independent ID: aaff858d-796f-f0a5-2857-88ca6a1059e3
* Content: [Create tasks to prepare and complete jobs on compute nodes - Azure Batch](https://docs.microsof

[2022-01-11 23:10] zr-msft commented on #81030
Thank you for the feedback.

This article has been updated to address your feedback.

#please-close

[2022-01-11 23:10] #81030 closed

[2022-01-11 23:11] zr-msft commented on #81350
Thank you for the feedback.

The article has been updated to address your feedback.

#please-close

[2022-01-11 23:11] #81350 closed

[2022-01-11 23:12] mbukovich commented on #85713
Has there been any progress on this issue?

[2022-01-11 23:32] ikifar2012 commented on #86263
I can't seem to find it

[2022-01-11 23:39] James-Hamil-MSFT commented on #86224
Hi, we are investigating your issue and will update you shortly.

best,
James

[2022-01-11 23:54] JimacoMS4 commented on #72866
@rido-min @danhellem There's an open question in the PR for this here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183698/files#r779220215.  It has to do with reconnection flow for module clients and asks specific questions. This issue and the PR are blocked on answers. I'll wait 'til Friday 1/14 to hear back and then I'm going to push the PR as-is and close this issue.

[2022-01-11 23:54] JimacoMS4 commented on #85124
@rido-min @danhellem There's an open question in the PR for this here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183698/files#r779220215.  It has to do with reconnection flow for module clients and asks specific questions. This issue and the PR are blocked on answers. I'll wait 'til Friday 1/14 to hear back and then I'm going to push the PR as-is and close this issue.

[2022-01-11 23:55] James-Hamil-MSFT commented on #86233
Hi @anwarmahmood1 , would you like us to update the document with this link? https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/technical-reference/the-role-of-claims#what-are-claim-types

Best,
James

[2022-01-11 23:59] James-Hamil-MSFT commented on #86149
Hi @Ayanmullick , you can use this command in PowerShell with Azure Cloud Shell: https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell

[2022-01-12 00:09] CarylHenry opened #86265 "Confusing instructions --> combines Contoso example with directions"
Step 7 (lines 46-52) on setting up an AAD tenant is a bit confusing. Step 7 tells readers to input Contoso as if their company is Contoso when they should input information that's specific to their company. It's almost like this is a combination of an example where an employee of Contoso is setting up a new tenant with generic directions for an employee of any company to follow.

https://github.co

[2022-01-12 00:47] mike-urnun-msft commented on #86251
Hello @ivansurif - Thank you for your feedback! We will review and update as appropriate.

[2022-01-12 00:49] aramase commented on #86120
PRs to fix the issues have been merged. Closing the issue now.

[2022-01-12 00:49] #86120 closed

[2022-01-12 00:54] zjunsen commented on #86214
I update my test progress:

l  Using the shared key method, ADFS SSL must be a public network certificate to achieve SSO, which is not explained in the document;

l  In addition, I use certificates in Key Vault, but I don't quite understand whether this certificate is a certificate issued by an internal CA of the enterprise, or does it have to be a public network certificate? What domain name is r

[2022-01-12 00:57] Ayanmullick commented on #86149
@James-Hamil-MSFT, This is using an SSH key to login to the VM, not AzAD login?
https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell#using-ssh

[2022-01-12 01:02] mike-urnun-msft commented on #86257
Hello @AngelosP - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-12 01:39] kobulloc-MSFT commented on #86072
@davetapley Thank you again for bringing this to our attention!  There are a couple issues here so I wanted to make sure we address each one:

- **Is az container exec supported by Windows?:** It appears that documentation is outdated.  Azure Container Instances does support exec for Windows containers and @macolso has a PR out to address this.
- **PowerShell exits immediately with no feedback for

[2022-01-12 01:42] kobulloc-MSFT commented on #86141
@Bloodday Keep an eye out for an announcement regarding VM cache (the documentation should be updated shortly after it is made).  For the time being, there are no updates that can be made so we are going to close this issue as resolved.  If you have any additional questions about the documentation, please tag me in your reply and I would be happy to continue the conversation.

[2022-01-12 01:42] #86141 closed

[2022-01-12 02:01] himanshusinha-msft commented on #86077
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-12 02:11] GeethaThatipatri-MSFT commented on #86262
Hi, @perktimeThanks for your feedback! We will investigate and update as appropriate.

[2022-01-12 02:14] #86069 closed

[2022-01-12 02:16] kobulloc-MSFT commented on #86069
@dejan-shuki A PR has been created to address the unicode issue and should go live shortly.
@cynthn `instanceView` may be needed to be added as the parameter.  We can create a separate PR to address this if it is needed.

[2022-01-12 02:28] VikasPullagura-MSFT commented on #86263
@bennettnw2 Can you please share the exact location on this page, cannot find what you mentioned here.

[2022-01-12 02:38] FranNev opened #86266 "Product name"
Hello,

This page (and other related, such as https://docs.microsoft.com/en-us/azure/marketplace/dynamics-365-operations-offer-listing mentions "Dynamics 365 Operations", which seems to be some MS product. But in Term Studio (terminology database), the product name is "[Dynamics 365 **for** Operations](https://termstudio.azurewebsites.net/viewdata.aspx?tid=2451010&langCode=English)". I wanted to c

[2022-01-12 02:38] VikasPullagura-MSFT commented on #86259
@kristianjaeger Thanks for pointing this out, the document is updated and is currently under review with the author. Changes will go live once it is approved.

[2022-01-12 02:38] #86259 closed

[2022-01-12 02:41] VikasPullagura-MSFT commented on #86245
@joelpelley Thanks for sharing the information. Looking forward for updated documentation.

[2022-01-12 02:41] #86245 closed

[2022-01-12 02:42] MonikaReddy-MSFT commented on #86256
@abdisa -  Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-12 03:33] #85982 closed

[2022-01-12 03:43] ram-msft commented on #86253
@stack247 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-01-12 03:46] fekerr commented on #86151
Sure. Thanks. I was just giving a quick feedback on the initial quickstart. I just like to log everything and have everything be visible/transparent for troubleshooting.

[2022-01-12 03:49] rabbyn commented on #86260
indeed I didn't see that, my bad, I'm closing the issue. Thanks

[2022-01-12 03:49] #86260 closed

[2022-01-12 04:04] MayankBargali-MSFT commented on #86175
@chriswatsonaus Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-12 04:10] shashishailaj commented on #86242
@eugene-lipsky Thank you for your request here. We will investigate and update the thread .

[2022-01-12 04:10] RyanHill-MSFT commented on #86234
Hi @sdg002, `MSGraphUser` is a DTO object used to values from `IGraphServiceUsersCollectionRequest`. You can find [here](https://github.com/Azure-Samples/ms-identity-easyauth-dotnet-storage-graphapi/blob/main/3-WebApp-graphapi-managed-identity/Models/MSGraphUser.cs), the [sample repo](https://github.com/Azure-Samples/ms-identity-easyauth-dotnet-storage-graphapi/blob/main/3-WebApp-graphapi-managed-

[2022-01-12 04:10] shashishailaj commented on #86241
@claudiamariasarvas Thank you for your request here. We will engage with the content team and update the thread .

[2022-01-12 04:12] shashishailaj commented on #86243
@StefanNetzer Thank you for pointing this out. We will engage with the content team to pass on the feedback

[2022-01-12 04:13] shashishailaj commented on #86248
@squasta Thank you for your feedback . We will engage with the content team and update the thread.

[2022-01-12 04:22] CHEEKATLAPRADEEP-MSFT commented on #86258
@chris2shehu  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-01-12 04:28] SumanthMarigowda commented on #13195
 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. 

**
**

[2022-01-12 04:31] SumanthMarigowda commented on #29554
[@Ravi-Kashyap](https://github.com/Ravi-Kashyap) https://github.com/Azure/azure-storage-azcopy/issues/1650 

[2022-01-12 04:36] SumanthMarigowda commented on #53051
[@codermrrob](https://github.com/codermrrob) Thanks! 
# Azurite in Visual Studio 2022 Official Version : https://github.com/MicrosoftDocs/azure-docs/issues/83901 
**Please let us know if you have any further queries. I’m
happy to assist you further.**

[2022-01-12 04:43] AshokPeddakotla-MSFT commented on #85984
@pilcherd Neither EFLOW nor Windows are supported by Azure IoT Edge 1.2 currently. We will be starting a public preview of EFLOW with Azure IoT Edge 1.2 (non-LTS version) in late January and there is no exact ETA.
Does that answer your query?

[2022-01-12 04:57] ShaikMaheer-MSFT commented on #86092
@hophanms Could you please share your inputs on this

[2022-01-12 05:13] altho1 commented on #86038
Np, the error is that the command cannot (and shouldn't) return a password, but in the sample you have included it, as if it couldn't

[2022-01-12 05:38] AnuragSharma-MSFT commented on #86250
@jeanfrancoislarente Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-12 05:56] AnuragSharma-MSFT commented on #86105
@beckojr Thank you for responding back.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-01-12 05:56] #86105 closed

[2022-01-12 06:17] ChaitanyaNaykodi-MSFT commented on #81945
Hello @ivapplyr, just following up here. Any help in help in updating the documentation will be very helpful. Thank you!

[2022-01-12 06:47] mokabiru commented on #85392
@SuttyHoo Thanks for the feedback, much appreciated. I am one of the PMs in Azure Database migrations and acknowledge your comments. The migration guides are specifically curated to list out various options for database migrations to suit various scenarios. Topics like encryption, security, access controls and roles are baked into specific product documentation for individual tools / services wher

[2022-01-12 07:23] OzBob opened #86270 "RunBook description invalid"
On  [Target the start and stop actions against a subscription and resource group](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management-config#target-the-start-and-stop-actions-against-a-subscription-and-resource-group) step it refers to 'ScheduledStartStop_Parent' runbook , but having run this Resource 3 times the only runbooks created are called: 'AzureAutomationTut

[2022-01-12 07:26] PriyankaRudramaina commented on #85935
@mkleef,
Just wanted to keep you posted that i have forwarded this feedback to the document owner, and is currently being reviewed. We shall update you as soon as we have a solution or any quick workaround for this.

@macolso - Thank you for your response. We wait to hear from you on this.

[2022-01-12 07:32] SaiKishor-MSFT commented on #86261
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-12 07:35] zjunsen commented on #86214
The problem is solved, just use the public certificate，thanks.

Best regards
Junsen Zhang
Mobile: 18180845283

发件人: Junsen Zhang ***@***.***>
日期: 2022年1月12日 星期三 08:54
收件人: MicrosoftDocs/azure-docs ***@***.***>, MicrosoftDocs/azure-docs ***@***.***>
抄送: zjunsen ***@***.***>, Author ***@***.***>
主题: Re: [MicrosoftDocs/azure-docs] Unable to SSO login (Issue #86214)

I update my test progress:

l  Usi

[2022-01-12 07:43] anwarmahmood1 commented on #86233
can you establish what the default claim type is?  Is it definitely

http://schemas.xmlsoap.org/claims/Group

________________________________
From: James Hamil ***@***.***>
Sent: 11 January 2022 23:56
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Anwar Mahmood <LIS IT Solutions> ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] "Customize group claim name" - what's the de

[2022-01-12 07:53] SwathiDhanwada-MSFT commented on #86270
@OzBob Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-12 08:15] ciufudean opened #86272 "typo "add filters""
The dashboard button is "Add filter" and not "Add filters" as documented in https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards#set-and-override-dashboard-filters.

Additionally, it would be nice to explain the criteria behind making filters available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-12 08:40] YuichiTorigoe commented on #84285
Hello @SumanthMarigowda -san, Could you check this update ?

[2022-01-12 08:48] kobulloc-MSFT commented on #86072
@davetapley We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-01-12 08:48] #86072 closed

[2022-01-12 09:08] SwathiDhanwada-MSFT commented on #86272
@ciufudean Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-12 09:25] alicain opened #86273 "Further info"
[Enter feedback here]
I am curently trying to diagnose why an app an app is not visible in myapps that is configured with  "Assignment required" set to No and "Visible to users" set to Yes.

There is no further detail on these two setting.  Can more information be provided?

Select Yes or No to decide whether only user accounts that have been assigned to the application can sign in.

Select Yes or

[2022-01-12 09:26] olavt opened #86274 "Connection string are recommended, but docs and code is centered around instrumentation keys?"
There is a big note on the page:

Connection Strings are recommended over instrumentation keys.

But, still most of the docs and samples seems to be using instrumentation keys.

Why didn't we clean up the docs / samples to use connection strings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-88

[2022-01-12 09:39] SaiKishor-MSFT commented on #86111
@jorge-at123  Do you have any further questions? Thanks!

[2022-01-12 09:40] yahorsi opened #86275 "Add samples how to use HTTP variables in actions"
Hi Guys,

I'm trying to set up URL Rewrite rule to add .html extension for the all links that do not have it.
In order to do it properly I want to set up a single rule for all links and in this case, I need to use the HTTP variable.
According to the docs, at least how I understood them, I can use HTTP variables in the actions but it does no work.
When I add % symbol to the destination I get "/The

[2022-01-12 09:52] yahorsi opened #86276 "Clarify and add samples how to use HTTP variables in actions"
It's completely unclear is this possible, and how to use HTTP variables in actions.
E.g. if I can use variables in the URL rewrite/destination or URL rewrite/source

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7c75138-6957-23fd-b6d5-72360d846dd1
* Version Independent ID: f354f8ed-9302-d124-219e-344953fe84de
* Conten

[2022-01-12 10:13] Tosue commented on #54772
Can you please give details of how to avoid the sync of onPremisesUserPrincipalName? We've been trying to do it with Sync rules but with no success

[2022-01-12 10:37] EmanueleGusso opened #86277 "More information about the model"
Good morning,
First of all I'd like to thank you for the amazing work done.
I'm writing because I want to ask you if you can provide further information about the deep learning model which performs the text summarization task. Is there a paper or something similar?
In particular I'm interested in the kind of sentence segmentation which is performed as preprocessing step. Do you use an external sen

[2022-01-12 10:37] BartVB opened #86278 "ACU page is missing D_v5 instance type"
This page doesn't mention the (new) D_v5 instances. They seem to have quite a bit better performance than the previous generation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute

[2022-01-12 10:38] AnuragSingh-MSFT commented on #86160
@gjongeneel, This seems to be a transient error. I tried deployment using the mentioned ARM template and it worked without any issues. Are you getting this error every time you try to deploy this template? Can you please try again and see if it succeeds?

[2022-01-12 10:39] AnuragSingh-MSFT commented on #86160
.

[2022-01-12 10:40] EmanueleGusso opened #86279 "Information on the sentence segmentation used"
Good morning,
First of all I'd like to thank you for the amazing work done.
I'm writing because I want to ask you if you can provide further information about the deep learning model which performs the text summarization task. Is there a paper or something similar?
In particular I'm interested in the kind of sentence segmentation which is performed as preprocessing step. Do you use an external sen

[2022-01-12 10:41] #86279 closed

[2022-01-12 10:43] wUEZRs opened #86280 "How many servers for AD Connect?"
The article does not state if one can install Azure AD Connect on more than one server - all in all this was hard to find in the Microsoft documents across Azure AD?

I had a user ask about this and couldn't really answer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Inde

[2022-01-12 10:54] gjongeneel commented on #86160
@AnuragSingh-MSFT Seems like it. Strange, because it was reproducible with the ARM template. And when I tried it through the portal it worked flawlessly. But if both work now, it's perfect! Thanks!

[2022-01-12 11:03] hewisaurus opened #86281 "Authorize attribute role specification is incorrect"
Under the section `Verify app roles in APIs called by daemon apps`, the second example shows the following snippet:

[code]

This causes the application to throw an exception when the action is hit, with a message along the lines of the following:

System.InvalidOperationException: The AuthorizationPolicy named: 'role' was not found.

Changing the attribute to `[Authorize(Roles = "role")]` resolve

[2022-01-12 11:13] shashishailaj commented on #86265
@CarylHenry Thank you for your feedback on this. I see it surely appears like a contoso employee providing instructions. We will initiate a change request for this and update the thread once done.

[2022-01-12 11:14] ram-msft commented on #86253
@mrbullwinkle Could you please help to update the document.

[2022-01-12 11:14] shashishailaj commented on #86273
@alicain Thank you for your feedback . We will review this and update with our inputs further on this.

[2022-01-12 11:15] shashishailaj commented on #86281
@hewisaurus Thank you for your feedback . We will investigate and update the thread.

[2022-01-12 11:17] shashishailaj commented on #86280
@wUEZRs We are sorry for your experience . We will review this feedback and update the thread.

[2022-01-12 11:17] ram-msft commented on #86277
@EmanueleGusso Thanks for the question. We are investigating the issue and will update you shortly.

[2022-01-12 11:19] wUEZRs commented on #86280
We found this article in the end - https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies

Perhaps it should be listed as prework, since it's important to know that only one instance can run AD Connect, but you can have other servers in staging only

[2022-01-12 11:24] Jaws1990 opened #86282 "Possible screenshot error."
In the example, the text states "disjoint is false because the data goes to the first matching condition".

However the screenshot shows "All matching conditions" selected, which supposedly produces the script with "disjoint: false".

Should the screenshot show "First matching condition" being selected instead as I am confused which option produces true/false value for the disjoint attribute?

![i

[2022-01-12 11:32] shashishailaj commented on #86280
@wUEZRs Agreed . We will update the content accordingly after checking with the content team .

[2022-01-12 11:33] shashishailaj commented on #86266
@FranNev Thank you for your query . We will get this checked and update the thread .

[2022-01-12 11:35] AnnuKumari-MSFT commented on #86139
Unfortunately, the last PR could not update the page title . I have raised another PR for addressing the issue :
[https://github.com/MicrosoftDocs/azure-docs-pr/pull/184834](url)

[2022-01-12 11:45] Dmitry-Me opened #86284 "December 2021 Guest OS description contains broken links to KB"
This page https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases contains December 2021 Guest OS description. As usual this description is a large table which contains links to KB articles. Some of the links look like this:

    https://support.microsoft.com/kb/4578950%C2%A0%C2%A0

(note the trailing extra characters). This makes those links non-usable by clicki

[2022-01-12 11:45] Dmitry-Me commented on #86223
The image is now documented but contains a number of broken links https://github.com/MicrosoftDocs/azure-docs/issues/86284

[2022-01-12 11:53] AnuragSingh-MSFT commented on #86160
@gjongeneel, thank you for the update. I will close this thread now.

[2022-01-12 11:53] #86160 closed

[2022-01-12 11:56] PriyankaRudramaina commented on #86284
Hello @Dmitry-Me,

Thank you for bringing this to our attention. I am reviewing the document and will get the broken KB article links fixed. Please feel free to let me know if you see any consistencies in this doc.

[2022-01-12 12:02] ram-msft commented on #86279
Duplicate of the following issue https://github.com/MicrosoftDocs/azure-docs/issues/86277.

[2022-01-12 12:09] TheCodingCanal opened #86286 "Typo on Semantic Search documentation"
for page https://docs.microsoft.com/en-us/azure/search/semantic-search-overview there is a typo:
"Semantic search is collection of features"
should be
"Semantic search is **a** collection of features"
It's right under the "What is semantic search?" headline

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b38bed-e5a0-2

[2022-01-12 12:15] blessedwithsins opened #86287 "tcp-reset is deprecated but still in docs"
[Enter feedback here]

Option tcp-reset is still given in the document for LB annotation, but it doesn't work. Please update the doc accordingly.

![image](https://user-images.githubusercontent.com/26162427/149138094-4407f405-a8dd-4def-8b42-a45ecafaeadf.png)

`root@piyush-gaur 17:42:02:$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd

[2022-01-12 12:19] blessedwithsins commented on #86287
[ilb.txt](https://github.com/MicrosoftDocs/azure-docs/files/7854486/ilb.txt)

[2022-01-12 12:21] kaumishra commented on #85554
Hi @ToruMakabe  Thanks for the feedback. With the default metrics we thought that the list would be difficult to document and keep consistent as we add support for more and more services. Additionally users can see it in the UI while selecting the metrics in the dashboard page. While we do not support customization yet, users can still modify it for a given test run. We were hoping to improve the

[2022-01-12 12:28] jd1984 commented on #86227
Hi James,

Should this not be mentioned in the 'Feature comparison based on licenses' or 'Compare multi-factor authentication policies' sections, rather than having to go and find it on another page?

Thanks

[2022-01-12 12:33] jd1984 commented on #86176
@ssivas apparently no license is required?
but apparently it relies the Combined security information registration experience being turned on.
New tenants will have that on by default but old may not, so the instructions are somewhat lacking.
Thanks

[2022-01-12 12:44] kengaderdus commented on #85023
Dear @chadmcox,

I believe you mean we change every occurrence of the phrase **custom user flows** to be **custom policies**?

We'll fix it.

Thank you for bringing this to our attention.

[2022-01-12 13:01] PriyankaRudramaina commented on #86284
Hi @Dmitry-Me,

I have updated the document with the right links for azure KBs. This is currently pending for the author to review and merge. The changes will reflect after the merge is completed

[2022-01-12 13:08] PriyankaRudramaina commented on #86278
Hello @BartVB,

Thank you for your feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-12 13:11] PriyankaRudramaina commented on #86287
Hi @blessedwithsins,

Thank you for your feedback. We will investigate the content to be modified and update the thread further.

[2022-01-12 13:11] #85023 closed

[2022-01-12 13:15] PRMerger4 commented on #85747
The following users don't have valid GitHub IDs, or are not collaborators on this repo: jomondi

[2022-01-12 13:16] omondiatieno commented on #85747
#reassign:@omondiatieno

[2022-01-12 13:23] omondiatieno commented on #85747
@shekhar-jha, thank you for your feedback. I have addressed your feedback in PR: #184421
I Will proceed to close this issue.
Feel free to reach out in case you still have more concerns.

#please-close

[2022-01-12 13:23] #85747 closed

[2022-01-12 13:26] AshokPeddakotla-MSFT commented on #85984
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-12 13:26] #85984 closed

[2022-01-12 13:30] Norrch2 opened #86290 "Custom Policy Link for Age Gating Is Not Working"
Hello All,

The Age Gating Link is point to the azure ad b2c samples directory as a whole. It does not appear that this sample policy is hosted on github anymore. Please update the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdcd5bc9-a421-0d0c-d557-b437db008e9d
* Version Independent ID: 204d1423-da66-363b-f0cd

[2022-01-12 13:50] GitaraniSharma-MSFT commented on #86212
@EvanBasalik , the limitation mentioned in the doc is for upgrading a Basic Load Balancer to Standard. It is kind of a requirement or pre-req for the upgrade process and hence mentioned.
Also, you can see under [Upgrade overview](https://docs.microsoft.com/en-us/azure/load-balancer/upgrade-basic-standard#upgrade-overview) section:

<img width="437" alt="image" src="https://user-images.githubuserco

[2022-01-12 13:55] herbeck558 opened #86291 "What options are available for cache in mountOptions"
The example mountOptions shows a cache=strict
I've seen another page that showed cache=none is another option (https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems).
What values are possible for cache and what do they mean in terms of client implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-01-12 13:56] GitaraniSharma-MSFT commented on #86221
@Harikrishnan-M-B , We have assigned this to the content owner/author for updating the doc accordingly.

@duongau , could you please correct the Hyperlink for the sentence "To learn how to enable HTTPS for your custom domain, continue to the next tutorial" in the Next steps at the bottom of this doc to the below :
https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-configure-h

[2022-01-12 14:11] VikasPullagura-MSFT commented on #86243
@StefanNetzer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-12 14:11] VikasPullagura-MSFT commented on #86243
@KimForss
Can you please check and add your comments on this doc update request as applicable.

[2022-01-12 14:22] SigvK opened #86292 "Managed Identity prevents you from running the application locally"
After enabling my application to be able to use managed identity when deployed to Azure, it is no longer possible to run it locally in the development cluster. Deployment fails with: "Application managed identity PrincipalId cannot be null or empty.".
Is this just the way it works, or am I missing something?

If there is a solution to this problem it should be documented here, or at least linked t

[2022-01-12 14:36] nikki-c opened #86294 "Missing step to check that Azure Active Directory has been registered as a resource provider in Azure"
I tried to follow the instructions for Link your Azure AD tenant to a subscription and discovered there was a missing step between step 1 and 2 of the process.

The missing step to check that Azure Active Directory has been registered as a resource provider in Azure.

From the Azure Portal select the subscription you wish to assign the Monthly Active users excess subscription billing to. In this s

[2022-01-12 14:39] DeanGross opened #86295 "Requesting additional standards"
Please add some information about how we can submit requests for Microsoft to add additional standards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fbe6ca-1f70-657b-fc1a-c488335bdef6
* Version Independent ID: 4962534a-ec5a-bc9a-f0ec-2074cf446807
* Content: [The regulatory compliance dashboard in Microsoft Defender

[2022-01-12 14:56] SaiKishor-MSFT commented on #86276
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-12 14:57] SaiKishor-MSFT commented on #86275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-12 14:57] BzSpi opened #86296 "Broken link "Disabling public network access for IoT Hub disables access to built-in Event Hub endpoint""
In the section "Bug fix with built-in Event Hub compatible endpoint", the link "Disabling public network access for IoT Hub disables access to built-in Event Hub endpoint" is broken and its content may be very valuable by looking at its name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19394f15-785f-acc3-3be9-ad0639

[2022-01-12 14:58] SrijitBose-MSFT commented on #86291
@herbeck558 , thank you for your question.

Following the comment in [this example](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/7dab5b090ffdce8b800ea46dac8ce5a3f678d3e0/deploy/example/storageclass-azurefile-csi.yaml#L16) we can see per [mount.cifs(8) - Linux man page](https://linux.die.net/man/8/mount.cifs):

and

----
Hope this helps!

[2022-01-12 15:06] ltoddnelson opened #86297 "Why is it highly recommended to roll over the Kerberos decryption key at least every 30 days?"
[Enter feedback here]
Why is it highly recommended to roll over the Kerberos decryption key at least every 30 days?  It seems that if it is important, Microsoft would provide a script or an opt-in option to roll over per your recommendation automatically.

Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2022-01-12 15:08] wealthz01 commented on #86297
🚬

On Wed, Jan 12, 2022 at 4:06 PM Todd Nelson ***@***.***>
wrote:

[2022-01-12 15:28] GitaraniSharma-MSFT commented on #86212
@EvanBasalik , We have assigned this to the content owner/author for review.

@irenehua , could we remove the below statement from the limitations as it is already mentioned in the start of the doc in the 2 stages requirements and the script already does the IP address upgrade:

<img width="456" alt="image" src="https://user-images.githubusercontent.com/67630903/149170197-2fb46a46-683b-42fa-9744-6

[2022-01-12 15:32] JamesTran-MSFT commented on #86290
@Norrch2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-12 15:37] thecodetinker opened #86298 "This page erroneously links to Application Gateway configuration"
Hi

In the 'Next Steps' section, there is a link to "Learn about Web Application Firewall on Azure Application Gateway" which is confusing because that's completely different to the WAF on a Front Door. Could the link please be updated to point to the correct document for FD?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-01-12 15:40] #86263 closed

[2022-01-12 15:41] lauradolan commented on #86263
Thanks @bennettnw2 I just pushed a fix

[2022-01-12 15:46] omar-nav opened #86300 "Azure.Relay.AuthorizationFailedException"
In the sample provided for server application, I've encountered an AuthorizationFailedException. Is additional authentication required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5775eb9e-fb28-b8c5-f29c-41f02a11d600
* Version Independent ID: 76bc0e81-e447-36dc-ab7a-c31e88b50f89
* Content: [Azure Relay Hybrid Connec

[2022-01-12 15:47] MashaMSFT commented on #61496
Hi @mobaioum , thanks so much for bringing this to our attention! The script has been updated so this issue should be addressed. I will proceed with closing out this Git Issue but please feel free to comment should you need anything further.

Thanks again for contacting Microsoft, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-01-12 15:47] #61496 closed

[2022-01-12 15:57] omar-nav commented on #86300
In the documentation provided Key Name value is unclear. Explicit reference to "RootManageSharedAccessKey" could improve communication.

[2022-01-12 16:02] ShaikMaheer-MSFT commented on #86282
@Jaws1990 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-12 16:05] herbeck558 commented on #86291
That helps a lot thanks.  Would be good to have a link to this page in the docs.

[2022-01-12 16:12] yThomasS opened #86301 "AZCOPY_CONCURRENT_SCAN cannot be set to "true""
AZCOPY_CONCURRENT_SCAN cannot be set to "true" - you will get an error message.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1cf1fc8-28b2-3954-1b25-9a236fc11900
* Version Independent ID: 141ab4fe-3a0d-5bcc-6dd2-02fb1ada2d74
* Content: [Optimize the performance of AzCopy v10 with Azure Storage](

[2022-01-12 16:12] #86291 closed

[2022-01-12 16:26] SaiKishor-MSFT commented on #86298
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-12 16:42] mimckitt commented on #86278
@BartVB I am glad to hear you are enjoying the new series!

We are aware the ACU numbers are missing for these new v5 series. We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers. Hence, at this time we are omitting the ACU numbers while we reevaluate.

#plea

[2022-01-12 16:42] #86278 closed

[2022-01-12 16:43] #86143 closed

[2022-01-12 16:44] AV25242 opened #86304 "Documentation for Couchbase Spark Connector needs to be Revived"
The [documentation for Couchbase Spark connector](https://docs.databricks.com/data/data-sources/couchbase.html) on Databricks platform is outdated and needs to be updated ASAP.

The new _Notebook_ is attached and this needs to be made available going forward.

**Additionally the following note MUST be removed as its no longer valid as Couchbase Connector now supports Spark version 3.x**

[Couchbas

[2022-01-12 16:45] ChaitanyaNaykodi-MSFT commented on #86143
Hello @fdgit, Thank you for your feedback. I have made the suggested change in the kusto query and it will go live soon.

[2022-01-12 16:49] abdisa commented on #86256
Request: How we can new Language Afaan Oromoo(Oromo Language) Translation

*Dear MS Translate Team;*
We were working hard to include our widely spoken language(Oromo Language -
the 3rd widely spoken language in East Africa with more than 70 Million
People & the largest spoken in Ethiopia.) to Google and Microsoft
Translation. We succeeded in Google Translation and it's about to be
public(it's in B

[2022-01-12 16:51] kristianjaeger commented on #86259
Thanks @VikasPullagura-MSFT !

[2022-01-12 16:57] JamesTran-MSFT commented on #86247
@Elangamban
Based off the [FAQ](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/faqs#i-ve-enabled-azure-ad-domain-services--what-user-account-do-i-use-to-domain-join-machines-to-this-domain-) that you mentioned, and our [Join a Windows Server](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/join-windows-vm) documentation, you can only join a virtual

[2022-01-12 16:57] #86247 closed

[2022-01-12 17:23] JamesTran-MSFT commented on #86227
@jd1984
Thank you for following up on this! I've created a PR to add a reference to the Identity Protection docs, and it's currently waiting for the author to review and sign off.

Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-01-12 17:46] James-Hamil-MSFT commented on #86274
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-12 17:46] SwathiDhanwada-MSFT commented on #86274
@olavt Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-01-12 17:57] jmprieur commented on #86281
Thanks @hewisaurus for the heads-up
@shashishailaj do you mind applying this change?

[2022-01-12 18:06] SwathiDhanwada-MSFT commented on #86078
@saadsaiyed Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the document once approved by content author. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-01-12 18:07] MarileeTurscak-MSFT commented on #86297
It's a security best practice to rollover the Kerberos decryption keys. The reasoning is similar to why it's best practice to change out passwords when the same password has been used for a while.

There are some high access requirements to complete the task, and it's necessary to have Domain Admin privileges to execute the flow of the script. Because of the access requirements the task isn't as e

[2022-01-12 18:10] amanmcse commented on #86281
@jmprieur I have applied the change. Kindly sign off the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/184873.

[2022-01-12 18:11] MonikaReddy-MSFT commented on #86166
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-12 18:13] #86078 closed

[2022-01-12 18:16] bandersmsft commented on #86230
@stevio-stack Hi there. Check out https://docs.microsoft.com/azure/azure-sql/database/cost-management for general information. For estimated costs, see https://azure.microsoft.com/pricing/calculator > Databases > Azure SQL Database and then select details about your needs. You'll get a monthtly cost estimate there.

#please-close

[2022-01-12 18:16] #86230 closed

[2022-01-12 18:16] hophanms commented on #86092
This is on the roadmap to address first half of this year. We don't have ETA yet.

[2022-01-12 18:25] SwathiDhanwada-MSFT commented on #82039
@OverengineeredNetwork Here is a snapshot which helps to raise you request.

<img width="470" alt="image" src="https://user-images.githubusercontent.com/48976275/149199826-4e08bf32-e455-4f77-90a7-99b7b5bdf4d0.png">

[2022-01-12 18:44] #86281 closed

[2022-01-12 18:46] pettermoe95 opened #86305 "Token Store Challenges - Repost #84400"
Reposting this since I didn't get any answer on my previous issue #84400. Was it not the correct place to post this technical questions? If so, where should I go to get an answer?

Original issues/questions:

I would like to know if it is possible to configure the Authentication in Azure App Service with token store in such a way that it would give me access tokens to i.e. both Graph API and Power

[2022-01-12 18:48] GiftA-MSFT commented on #86183
@eric-urban can you please help with above inquiry? Thanks.

[2022-01-12 18:52] Anand-Moghe opened #86307 "Using Azure DevOps Service or TFS to deploy to Azure WebApp private link"
Can you please add some guidance or recommendation on how to setup CI/CD for web app which is protected with Private endpoint?
How to setup Azure DevOps Service/Server Pipeline to deploy into App Service protected with private endpoint and what are the prerequisites?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a477

[2022-01-12 19:01] JamesTran-MSFT commented on #86294
@nikki-c
Thank you for pointing this out!

I've created a PR to update the documentation with a link to the [Register resource provider](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#azure-portal) documentation, and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the a

[2022-01-12 19:01] #86294 closed

[2022-01-12 19:08] sumantmehtams commented on #13195
Enabling diagnostics logs (classic) via ARM templates is not supported. However, enabling diagnostics logs for Storage accounts through Azure Monitor via ARM templates is supported and the link below provides information on how to achieve this.

https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-manager-diagnostic-settings#diagnostic-setting-for-azure-storage

[2022-01-12 19:09] inknochen opened #86308 "Why are we referring to Windows Server RDS in this document?"
[Enter feedback here]
Is this stating that we need to deploy a License server for our AVD?
I believe this link is for non AVD env

https://docs.microsoft.com/en-us/azure/virtual-desktop/apply-windows-license#requirements-for-deploying-windows-server-remote-desktop-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-12 19:13] irenehua commented on #86212
Hi Evan. Thanks so much for the feedback. It's in our backlog. We are prioritizing other features such as the ability to upgrade with VMSS in the backend.
Will re-open this issue once we are actively working on incorporating IP allocation change into the script.
#please-close

[2022-01-12 19:13] #86212 closed

[2022-01-12 19:19] rajeshsetlem commented on #78306
@DreadfullyDespized Apologies for the delayed response. DNN for SQL FCI has been backported to SQL Server 2017 CU25 and SQL Server 2016 SP3 and so the DCOM related event log entries can be avoided.

[2022-01-12 19:24] RyanHill-MSFT commented on #86286
Thanks for pointing this out [@TheCodingCanal](https://github.com/TheCodingCanal). We a PR pending to fix the issue.

[2022-01-12 19:28] RyanHill-MSFT commented on #86305
Sorry you had to repost this [@pettermoe95](https://github.com/pettermoe95). We'll investigate and will update you shortly.

[2022-01-12 19:29] GiftA-MSFT commented on #86225
@eric-urban please review above feedback. Thanks.

[2022-01-12 19:31] #86286 closed

[2022-01-12 19:32] cburuzie commented on #86106
#reassign:thisisanniefang

[2022-01-12 19:35] SQLSourabh commented on #85479
@dianasm22 yes, the behavior remains the same for now. For storage issues, I would recommend opening a case and working with CSS to identify & rectify the issues.

[2022-01-12 19:35] cburuzie commented on #85800
Hi @asudbring, do you have any insights on how to fix the link. I tried making the changes too and it doesn't seem to work for me too.

[2022-01-12 19:40] DerekHerman-MSFT commented on #86301
@yThomasS
Can you confirm what error you are receiving? What distro of Linux are you using?

[2022-01-12 19:50] igorvt77 opened #86309 "Recommendation"
When my coworker and I were going through these steps, we could not find the legacy Azure AD Graph website so we tried to use PowerShell through an existing App Registration with Azure AD granted permissions to change Directory/Domain settings. After several hours or trying to get this to work we gave up and synced up the user's.  Unfortunately once we found the Azure AD Graph website and tried th

[2022-01-12 19:57] jlian commented on #86296
Is the link broken? I just tried it now and it takes me to https://azure.microsoft.com/en-us/updates/iot-hub-public-network-access-bug-fix/

![image](https://user-images.githubusercontent.com/2320572/149212462-6e5037f2-1ebf-4594-850b-0ee5a4175dd0.png)

[2022-01-12 20:05] SaiKishor-MSFT commented on #86298
@vhorne Can you please look into this?

[2022-01-12 20:08] MarileeTurscak-MSFT commented on #86297
The PG has replied that unfortunately there is no update for the automation at this point, but you are encouraged to create a feature request in the newly revised Ideas forum: https://feedback.azure.com/

[2022-01-12 20:08] #86297 closed

[2022-01-12 20:13] gollima opened #86311 "NSG Rules Revision - Service Tags"
Can you please revist the rules and check if there are new service tags (eg AzureCloud) that improves the rules restriction for inbound e outbound?
Any-Any rules is very disturbing and a lot of CSPM tools keeps pointing that the rules may be to open.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-918

[2022-01-12 20:25] duongau commented on #86221
@Harikrishnan-M-B This should be reflected later this afternoon. Thank you. #please-close

[2022-01-12 20:25] #86221 closed

[2022-01-12 20:30] dianasm22 commented on #85479
@SQLSourabh thank you for verifying that information.

[2022-01-12 20:30] #85479 closed

[2022-01-12 20:35] billmath commented on #46466
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-01-12 20:35] #46466 closed

[2022-01-12 20:36] billmath commented on #77166
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-01-12 20:36] #77166 closed

[2022-01-12 20:41] mrdenny opened #86312 "Problem with Update-AzSqlVM"
Update-AzSqlVM doesn't have -Location like the example shows.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f2e47a4-1781-8c55-c269-1946adbb46db
* Version Independent ID: ed091689-e342-2661-8b3a-5be2ad164b3a
* Content: [Register with SQL IaaS Extension (Windows) - SQL Server on Azure VMs](https:

[2022-01-12 20:42] rolyon commented on #84874
Hi @davokr
Thanks for your feedback. This should be updated.
Let us know if you notice anything.
thanks

[2022-01-12 20:42] rolyon commented on #84874
#please-close

[2022-01-12 20:42] #84874 closed

[2022-01-12 20:47] cdeil opened #86313 "Some ADT docs to MS learn links are broken"
Some ADT docs to MS learn links here are broken:

https://github.com/MicrosoftDocs/azure-docs/blob/fe9a358adbfa6e026613b69f02f6ff33d1801dab/articles/digital-twins/index.yml#L119-L134

E.g. if you go to https://docs.microsoft.com/en-us/azure/digital-twins/ and click the "learning path" link it doesn't link to a learning path page.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-01-12 20:54] styrmani commented on #55070
Should this issue be forwarded to some other repo as it seems to concern actual Azure problem? I run into the same using Javascript Functions App.

[2022-01-12 20:54] MicrosoftGuyJFlo commented on #86096
I guess I will assign this to me to do. #reassign@MicrosoftGuyJFlo

[2022-01-12 20:57] MicrosoftGuyJFlo commented on #85609
Yes the PG needs to be part of this

[2022-01-12 21:04] Grace-MacJones-MSFT commented on #86311
Hi @gollima,Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-12 21:05] curtand commented on #77856
Hi @kilasuit
I updated the screens and instruction per updated UI in roughly November. Thanks for your interest and your contribution!!!

#please-close

[2022-01-12 21:05] #77856 closed

[2022-01-12 21:06] whhender commented on #86092
If/As things are changed for Azure Purview in the upcoming year, documentation will be updated to reflect that information.

Thank you for your question!

[2022-01-12 21:06] whhender commented on #86092
#please-close

[2022-01-12 21:06] #86092 closed

[2022-01-12 21:13] JamesTran-MSFT commented on #86309
@igorvt77
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-12 21:15] #86096 closed

[2022-01-12 21:17] vhorne commented on #83923
Article updated
#please-close

[2022-01-12 21:17] #83923 closed

[2022-01-12 21:17] whhender commented on #86241
@claudiamariasarvas -  As we move forward with Purview and Policies, we will certainly consider updates like these.
As Policy is still in Preview, there are many things to come.

Thank you for your feedback!

For feature requests for Azure Purview, you can also use this feedback page: https://feedback.azure.com/d365community/forum/82d7bddb-fb24-ec11-b6e6-000d3a4f07b8

[2022-01-12 21:18] whhender commented on #86241
#please-close

[2022-01-12 21:18] #86241 closed

[2022-01-12 21:19] mkleef commented on #85935
Thanks. If you want any further insight, happy to get on a call and talk about it.

[2022-01-12 21:22] MicrosoftGuyJFlo commented on #84416
Non-persistent devices need instant join capabilities which is a feature of ADFS.

[2022-01-12 21:25] Grace-MacJones-MSFT commented on #86068
Hi @heinrich-ulbricht, apologies for the delay .Can you please specify which section of the doc you're referring to? Are you referring to this line of code in the doc
`az webapp deploy --resource-group <group-name> --name <app-name> --src-path ./<package-name>.war`

[2022-01-12 21:27] Grace-MacJones-MSFT commented on #86070
Hi @joshd-emergent ,Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-12 21:27] #86070 closed

[2022-01-12 21:32] MicrosoftGuyJFlo commented on #86149
There are no specific PowerShell commands for this procedure at this time. You can run Azure CLI inside of PowerShell though. #please-close

[2022-01-12 21:32] #86149 closed

[2022-01-12 21:37] ecfan commented on #86175
Hi @divyaswarnkar, could you help provide info about the output schema for Liquid? Thanks!

[2022-01-12 21:37] ecfan commented on #86175
#assign @divyaswarnkar

[2022-01-12 21:40] JimacoMS4 commented on #77185
Moved to this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/184917

[2022-01-12 21:43] MicrosoftGuyJFlo commented on #85593
This is something the Product Teams are aware of. No solution as of yet. Autopilot devices should be deleted from Intune first as that is the MDM provider as is noted. #please-close

[2022-01-12 21:43] #85593 closed

[2022-01-12 21:46] vhorne commented on #82956
@SaiKishor-MSFT At this point I have no idea what **specific** changes are being requested. I need a summarized list of change requests that can be acted on.

[2022-01-12 21:51] jorge-at123 commented on #86111
@SaiKishor-MSFT I have no more questions, thanks.
I would recommend putting this information in the document.
Although the purpose and functionality of the Mgmt PIP can be assumed, it's good to have the confirmation because we are allowed to create Azure Firewall with just the Mgmt PIP, without any regular Public IP that we would need for DNAT, for example.

[2022-01-12 21:59] #82130 closed

[2022-01-12 21:59] #84416 closed

[2022-01-12 22:10] randowat123 opened #86315 "Start VM on Connect limited by specific group of users"
The information below in the document appears to be incorrect.

"" Start VM on Connect is a host pool setting. If you only want a select group of users to use this feature, **make sure you only assign the required role to the users you want to add**. ""

The Azure RBAC role for the Start VM on Connect feature is assigned directly to the Azure Virtual Desktop service. There is no previous mention o

[2022-01-12 22:17] vaibhavgujral opened #86316 "Minor Grammatical correction"
[Enter feedback here]
In the "Nodes and tables" section, the following correction needs to be made ("the" should come instead of "a" before "following concepts") -

It is important to know about **"the"** following concepts to benefit the most from Azure Arc-enabled Postgres Hyperscale:
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-01-12 22:18] adbadram commented on #86312
Thanks a lot Denny. We fixed this

From: mrdenny ***@***.***>
Sent: Wednesday, January 12, 2022 12:42 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Aditya Badramraju ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Problem with Update-AzSqlVM (Issue #86312)

Update-AzSqlVM doesn't have -Location like the example shows.

[Enter feedback here]

______________________________

[2022-01-12 22:28] shrmal commented on #86235
#please-close

[2022-01-12 22:28] #86235 closed

[2022-01-12 22:32] #86234 closed

[2022-01-12 22:40] KranthiPakala-MSFT commented on #86304
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-12 23:09] OverengineeredNetwork commented on #82039
AMAZING. I'm a little embarrassed for not finding that myself.
I'll go ahead and close this.
Thanks @SwathiDhanwada-MSFT !

[2022-01-12 23:09] #82039 closed

[2022-01-12 23:09] PaulEdlund commented on #86235
@PRMerger4 I get that this is closed but at least explain why it's not being modified.  shrmal should have at least said why.  I've now read this page more than a dozen times and for the life of me, I have no idea what that section means.  So if I had to describe it to a customer, I'm basically going to say, "the PG can't tell me what it means so I dont have an answer for you"  Mind you, I only ta

[2022-01-12 23:14] shrmal commented on #86235
We've added clarification to the docs as requested - thanks for bringing this to our attention! This was closed because the  changes requested have been drafted, edited, and now merged on our end. They are now processing and you should see the changes published by tomorrow.

[2022-01-12 23:20] James-Hamil-MSFT commented on #86292
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-12 23:21] James-Hamil-MSFT commented on #86295
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-12 23:23] rolyon commented on #84352
Hi @alexandergray1973
Thanks for noticing this. We made some updates to the PowerShell commands in the doc:
https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-members-list
Let us know if you have any additional feedback.
thanks

[2022-01-12 23:23] rolyon commented on #84352
#please-close

[2022-01-12 23:23] #84352 closed

[2022-01-12 23:25] James-Hamil-MSFT commented on #86145
Hi @keithn , would you mind posting this to our QA forum? https://docs.microsoft.com/en-us/answers/questions/index.html

It helps us organize between doc issues and product bugs.

Thank you,
James

[2022-01-12 23:25] PaulEdlund commented on #86235
Thanks shrmal... the "please close" without any context made me think that it was just ignored.  :)  Thanks for the update.  Glad to see that it helped.  I thought perhaps I was just not getting it.

[2022-01-12 23:55] JimacoMS4 commented on #77185
Hi @algattik -- thanks for all your help on this! The changes are now live: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin#read-from-the-built-in-endpoint. Please have a look and let me know if there's anything else that needs to be changed. I'll leave this open until Friday for any additional feedback you might have, and then I'll close it.

Thanks again for

[2022-01-13 00:00] murrato1 opened #86318 "Clarity around secondary accounts for admin purposes"
The article should be more explicit around the licensing requirements for organisations that have employees with more than one account, i.e., one standard user account and a separate account used for administrative purposes. It is not clear whether both accounts need to be licensed in this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-01-13 00:00] natke opened #86319 "Should online-endpoint be endpoint?"
In the following command:

[code]

I get the following error:

[code]

The help for the command shows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bae69d4-d351-ba32-9d39-14ddcd973adc
* Version Independent ID: 9c8dfe10-81fe-87c2-ad13-2ce8f4037eb2
* Content: [High-performance model serving with Triton (previe

[2022-01-13 00:08] SamaraSoucy-MSFT commented on #85955
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-13 00:08] #85955 closed

[2022-01-13 00:08] SamaraSoucy-MSFT commented on #85957
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-13 00:08] #85957 closed

[2022-01-13 00:13] rajeshsetlem commented on #86142
@mondragonsi , the script has been thoroughly tested and a valid cluster-config.csv output file is generated. Can you please explain what issue you faced?

[2022-01-13 00:20] natke commented on #86319
Nvm, I upgraded the az ml extension. It might be good to say which version the doc applies to.

[2022-01-13 00:20] #86319 closed

[2022-01-13 00:28] JamesTran-MSFT commented on #86318
@murrato1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-13 00:34] tomschulz opened #86320 "Could we have a SwiftUI implementation please"
Hi everyone and thanks for the nice tutorial. Is there one that supports SwiftUI?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089256563f5
* Content: [Tutorial: Create an iOS or macOS app that uses the Microsoft identity platform f

[2022-01-13 00:36] mondragonsi commented on #86142
Hello Guys,

I tested today in my Dev environment and it worked. I had the impression
that the CSV had just one line but it generated a second line.

Sorry for the confusion.

On Wed., Jan. 12, 2022, 19:14 rajeshsetlem, ***@***.***>
wrote:

[2022-01-13 00:42] MarioArriaga92 opened #86321 "Enabling via Application Insights through auto-instrumentation or SDKs "Node.js" link redirects to "Application Insights for ASP.NET Core applications" page"
Clicking "Node.js" link under "Enabling via Application Insights through auto-instrumentation or SDKs" section
![Screen Shot 2022-01-12 at 18 40 43](https://user-images.githubusercontent.com/23443575/149245396-e506f1a6-7a48-4632-9275-74d53db23ecc.png)

Redirects to "Application Insights for ASP.NET Core applications" page:
![Screen Shot 2022-01-12 at 18 41 21](https://user-images.githubusercontent

[2022-01-13 00:46] sumeetmittal commented on #86104
LinkID is unique in a region, not across regions.

[2022-01-13 01:00] ToruMakabe commented on #85554
@kaumishra Thanks for your comment. I understand the difficulty. However, currently in the documentation, the user does not know what metrics are displayed by default. I think users will want to know in advance just the outline and policies. So, would you just explain in the documentation that "recommended metrics are displayed by default"?

And it is not the intention to customize the default set

[2022-01-13 01:42] anarchitect opened #86323 "Can Regional Gateway URL listen as private DNS?"
In the "access-on-default-host-names" section, it only list Gateway URL can by default listen to private DNS, though  can Regional Gateway URL listen as private DNS by default (<name of apim>-<region name>-01.regional.azure-api.net)?  If not, can anything be done in private DNS to enable it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-01-13 02:11] aakash-shah opened #86324 "Azure AD Connect Wizard Screenshots Are Out of Date"
The screenshot under Prerequisites is out of date. Please update this and the documentation on how to get here.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d87b17f9-38de-1acf-e18f-96bba2ae77ea
* Version Independent ID: 20c9770c-2c11-e172-e66c-76c9632fafce
* Content: [Azure AD Connect - Update the TLS/SSL ce

[2022-01-13 02:14] ChaitanyaNaykodi-MSFT commented on #86307
Hello @Anand-Moghe
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-13 02:25] GeethaThatipatri-MSFT commented on #86262
Hi, @perktime
I am seeing Zone-Redundant HA option is disabled when I select East US 2 region, can you please provide more information or retry once again if you are still able to create.
![image](https://user-images.githubusercontent.com/92763260/149254464-c237cbf9-ffda-487c-b3c8-45320915381a.png)

[2022-01-13 02:26] MonikaReddy-MSFT commented on #86316
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-13 03:01] m60freeman commented on #86195
@LitKnd Thanks for this great post! Nice to see you at Microsoft!

Would this get correct results in all cases?

[code]

[2022-01-13 03:18] tomo-msft opened #86325 "Reset time change example code also changes Cap value to 0"
After running example in the [Set the daily cap reset time], "Cap" and "WarningThreshold" values has been set to 0.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/powershell#set-the-daily-cap-reset-time

The example puts only "ResetTime":
'DataVolumeCap':{'ResetTime':12}}

But I need to set both Cap and WarningThreshold as follows to keep its values.
'DataVolumeCap':{'Cap':100, 'WarningT

[2022-01-13 03:19] gbms311 opened #86326 "AAD Consolidation options table, crops right hand data"
The table showing Scenario A,B,C - chops off options eight and nine , ie C8 and D9 are hidden. The table needs to be wider by default to show all the imfortmation
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/azure-active-directory-parallel-identity-options#consolidation-options-for-a-hypothetical-ma-scenario

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-01-13 03:27] OzBob commented on #86270
I modified the playbook to use a hardcoded tenantid and subscriptionid. When Test playbook result is:

"The provided account MSI@----2 does not have access to subscription ID xxxxx"

[2022-01-13 03:43] PramodValavala-MSFT commented on #86172
@sourabhkrishna Unfortunately, there is no public roadmap available to share but you can check for updates on [Azure Updates](https://azure.microsoft.com/en-in/updates/?category=integration&query=API%20Management).

Since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2022-01-13 03:43] #86172 closed

[2022-01-13 03:59] sideeksh commented on #86144
The policy is associated with the Recovery Services vault. It can be updated with your preferred values for app-consistent recovery points, duration of retention of recovery points but cannot be changed once associated.

[2022-01-13 04:18] VikasPullagura-MSFT commented on #86204
@thulasiramvalleru
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-13 04:18] VikasPullagura-MSFT commented on #86204
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-01-13 04:21] VikasPullagura-MSFT commented on #86312
@adbadram Thanks for fixing the issue.

[2022-01-13 04:21] #86312 closed

[2022-01-13 04:35] Karishma-Tiwari-MSFT commented on #86142
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-13 04:35] #86142 closed

[2022-01-13 04:36] VikasPullagura-MSFT commented on #86214
@zjunsen Thanks for confirming that the issue is resolved by using the public certificate.

[2022-01-13 04:42] VikasPullagura-MSFT commented on #86315
@randowat123
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-01-13 04:44] shashishailaj commented on #86326
@gbms311 Thank you for your feedback . We will engage with the content team to review the suggestions .

[2022-01-13 04:54] krishnakinnal opened #86327 "Conflicting information about Cosmos DB engine for replica sets"
It's unclear whether an instance of the Cosmos DB engine exists for an entire replica set, or for each replica.

On [this page](https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood), it says it exists per replica - "Each replica hosts an instance of Cosmos DB’s database engine, which manages the resources as well as the associated indexes."

On the [next page](https://docs.m

[2022-01-13 04:54] VikasPullagura-MSFT commented on #86308
@inknochen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-13 04:55] VikasPullagura-MSFT commented on #86308
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-01-13 05:02] AnuragSharma-MSFT commented on #86327
@krishnakinnal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-13 05:37] SaiKishor-MSFT commented on #82956
@azhar2005 Can you please suggest what needs to be added to the documentation exactly?

[2022-01-13 05:44] SwathiDhanwada-MSFT commented on #86321
@MarioArriaga92 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-13 05:46] SwathiDhanwada-MSFT commented on #86325
@tomo-msft Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-13 05:53] madsd commented on #86311
Hi @gollima Are there specific rules that you are concerned about? Many of the inbound rules are for application traffic and depend on what features in App Service you use - e.g. FTP and Remote Debugging can removed if you do not use these services. With App Service Environment v3 we no longer have these dependencies, and only require a single inbound rule to allow health probe traffic from the lo

[2022-01-13 05:54] #86258 closed

[2022-01-13 05:55] AnkurMadaan opened #86343 "Step 5 missing use of --storage-account."
Step 5 missing use of --storage-account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1ff97a-0ca7-c91b-5b45-370212407a51
* Version Independent ID: b60719ca-3e64-8a00-75bb-dda1d8119b21
* Content: [Create a Python function from the command line - Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions

[2022-01-13 06:33] azhar2005 commented on #82956
Hey @vhorne
Ask here is to add an example showcasing the concept as part of this document:

Path based rule processing when wildcard (*) is used:
**Example 1:**
/master-dev* to contoso.com
/master-dev/api-core/ to fabrikam.com
/master-dev/* to microsoft.com

Because the wildcard path _/master-dev*_ is present above more granular paths, all client requests containing _/master-dev_ will be routed to

[2022-01-13 06:46] gohsoonheng opened #86344 "Error: Quickstart: Run a Spark job on Azure Databricks Workspace using the Azure portal"
![error](https://user-images.githubusercontent.com/6184986/149278760-e681ac49-f69d-402b-8b88-f703c4af4c54.JPG)
when you follow the steps listed in this section. You get the error as attached "error.jpg" once you try to run the cell to read the data into dataframe.  I tried on US West 2 initially. I got the error.  I google for answer and most reply talk about time settings. I did try to restart th

[2022-01-13 06:53] ram-msft commented on #86319
Thanks for the feedback, We will review and update the doc to include the version.

[2022-01-13 07:55] pohorely commented on #85966
As the original question was answered I am closing the issue.

[2022-01-13 07:55] #85966 closed

[2022-01-13 08:04] AshokPeddakotla-MSFT commented on #86313
@cdeil Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-13 08:21] yThomasS commented on #86301
Hi,

azcopy --version

azcopy version 10.12.2

But I tried it also with

azcopy --version

azcopy version 10.13.0

The error message is

2022/01/13 08:57:02 error parsing the env AZCOPY_CONCURRENT_SCAN "true" failed with error strconv.ParseInt: parsing "true": invalid syntax

The Linux Version is

~/ cat /etc/*-release

PRETTY_NAME="Debian GNU/Linux 9 (stretch)"

NAME="Debian GNU/Linux"

VERSION_I

[2022-01-13 08:45] hemetz opened #86345 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89844ef3
* Version Independent ID: ef06c30a-be36-8b6a-d870-8f8199c6fc99
* Content: [Dasv5 and Dadsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/dasv5-dadsv5-series)
* Content So

[2022-01-13 08:45] hemetz opened #86346 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06761944-b658-9f22-05f4-f27a418a0221
* Version Independent ID: 8337da04-705d-a72e-6d75-b0b52c80195b
* Content: [Dv5 and Dsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/dv5-dsv5-series)
* Content Source: [a

[2022-01-13 08:45] hemetz opened #86347 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b040274d-e9e8-5ede-7ffe-2858dfeced77
* Version Independent ID: 681ed815-340e-0e50-2634-a7b29e3604a3
* Content: [Ddv5 and Ddsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/ddv5-ddsv5-series)
* Content Source

[2022-01-13 08:46] hemetz opened #86348 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c5ee8-895b-c1bf-86d0-40d5186368b8
* Version Independent ID: 9be6b903-d9e9-c224-cc45-28fa573d3c21
* Content: [Azure DCasv5 and DCadsv5-series confidential virtual machines (preview) - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vi

[2022-01-13 08:46] hemetz opened #86349 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c5ee8-895b-c1bf-86d0-40d5186368b8
* Version Independent ID: 9be6b903-d9e9-c224-cc45-28fa573d3c21
* Content: [Azure DCasv5 and DCadsv5-series confidential virtual machines (preview) - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vi

[2022-01-13 08:46] hemetz opened #86350 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88d7c5fb-3196-4bb8-1141-76f6b15a673c
* Version Independent ID: 18571a8a-502b-22d0-6025-b32918a31af2
* Content: [Ev5 and Esv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/ev5-esv5-series)
* Content Source: [a

[2022-01-13 08:46] hemetz opened #86351 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a25abf-5705-00bc-e619-d91a6de86df5
* Version Independent ID: a4cf7710-8d9c-9157-a9b8-0d14198af7df
* Content: [Edv5 and Edsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/edv5-edsv5-series)
* Content Source

[2022-01-13 08:46] hemetz opened #86352 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fc142b-6986-9fff-90b2-ad3e0e3a3bed
* Version Independent ID: 0842207f-90a4-e951-29a8-650d7233c328
* Content: [Easv5 and Eadsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/easv5-eadsv5-series)
* Content So

[2022-01-13 08:46] hemetz opened #86353 "ACU value range not specified - EOM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11526455-aa46-2c3a-5fa1-f72bd88ba75e
* Version Independent ID: 005395b3-3817-7403-0dba-bc81b776fbf3
* Content: [Azure ECasv5 and ECadsv5-series (preview) - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/ecasv5-ecadsv5-

[2022-01-13 08:52] ciufudean opened #86354 "typo "<grou-name>""
typo "grou-name"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Version Independent ID: 461fc0b5-ac32-54b8-cdb6-76a2c8e6052f
* Content: [Deploy files to App Service - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip?tabs=cli)
* Content Source: [arti

[2022-01-13 08:53] devudu commented on #64407
I think we need more clear documentation on what is not supported on Server less pool. Or at least the error message should say this. something like "'DISTRIBUTION' is not supported in serverless pool"

[2022-01-13 08:55] ladykraken commented on #86354
Fixed typo
"<group-name>"

***@***.***
________________________________
From: ciufudean ***@***.***>
Sent: Thursday, January 13, 2022 3:52:27 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [MicrosoftDocs/azure-docs] typo "<grou-name>" (Issue #86354)

typo ""

________________________________
Document Details

⚠ Do not edit this section. It is required for docs.mi

[2022-01-13 09:16] shashishailaj commented on #86353
@hemetz Thank you for your inputs . We will review and update the documentation as needed .

[2022-01-13 09:17] shashishailaj commented on #86352
It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Thank you .

[2022-01-13 09:19] #86351 closed

[2022-01-13 09:20] #86350 closed

[2022-01-13 09:20] shashishailaj commented on #86349
@hemetz Thank you for positing your query . It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Closing as duplicate of MicrosoftDocs/azure-docs/issues/86352 .

#please-close

[2022-01-13 09:20] shashishailaj commented on #86345
@hemetz Thank you for positing your query . It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Closing as duplicate of MicrosoftDocs/azure-docs/issues/86352 .

#please-close

[2022-01-13 09:20] #86345 closed

[2022-01-13 09:20] shashishailaj commented on #86346
@hemetz Thank you for positing your query . It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Closing as duplicate of MicrosoftDocs/azure-docs/issues/86352 .

#please-close

[2022-01-13 09:20] #86346 closed

[2022-01-13 09:20] shashishailaj commented on #86347
@hemetz Thank you for positing your query . It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Closing as duplicate of MicrosoftDocs/azure-docs/issues/86352 .

#please-close

[2022-01-13 09:20] #86347 closed

[2022-01-13 09:20] shashishailaj commented on #86348
@hemetz Thank you for positing your query . It seems you have already opened multiple issues with same information . We will consider this a duplicate of the original issue - 86353 in this repo and close all others.

Closing as duplicate of MicrosoftDocs/azure-docs/issues/86352 .

#please-close

[2022-01-13 09:20] #86348 closed

[2022-01-13 09:22] #86352 closed

[2022-01-13 09:25] shashishailaj commented on #86324
@aakash-shah Thank you for your feedback . We will investigate and update the thread.

[2022-01-13 09:39] Klaas- commented on #80205
@pvrk it's happening again :)
https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main

[2022-01-13 09:54] PriyankaRudramaina commented on #86287
@blessedwithsins
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as
appropriate.
@palma21 - Please review this and share an update on this.

[2022-01-13 09:57] PriyankaRudramaina commented on #86284
@Dmitry-Me,

The document has been update by removing the trailing spaces on azure KB links. The changes will reflect shortly on the public doc. I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. I will be glad to continue the discussion and we will reopen the issue.

[2022-01-13 10:07] PriyankaRudramaina commented on #86165
@haoxin,
Following up to check if the answer provided above on this thread by me has helped? If yes, please confirm, or if you still see the same issue, let me know what exactly is the error you are seeing

[2022-01-13 10:09] jayendranarumugam commented on #57096
Hi @MarileeTurscak-MSFT I'm facing the similar issue for the below role. Can you help on that ?

`Microsoft.Billing/billingAccounts/*/write`

Is this also deprecated ?

[2022-01-13 10:09] PramodValavala-MSFT commented on #86343
@AnkurMadaan Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2022-01-13 10:27] VikasPullagura-MSFT commented on #86353
@hemetz

We are aware the ACU numbers are missing for these new series VM. We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers. Hence, at this time we are omitting the ACU numbers while we reevaluate.

[2022-01-13 10:27] #86353 closed

[2022-01-13 10:37] SnehaAgrawal-MSFT commented on #86354
@ciufudean Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-13 10:40] shashishailaj commented on #86320
@tomschulz Thank you for your feedback . We will request this with the internal team .

[2022-01-13 10:43] CHEEKATLAPRADEEP-MSFT commented on #86344
@gohsoonheng  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-13 10:54] PriyankaRudramaina commented on #85935
@mkleef,

Product team is looking in to this and we shall keep you updated once we hear from them

[2022-01-13 11:02] PriyankaRudramaina commented on #85854
@michaeldevenney,

Since I have not heard back from you, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. I will be happy to reopen the issue and continue the discussion.

[2022-01-13 11:02] #85854 closed

[2022-01-13 11:32] Aman1999isak opened #86357 "how can you specify the "projectID"?? The method wont take a "string" as input."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-13 11:38] peternann commented on #34167
@shashishailaj - This thread continues to be an absolute disgrace.

Combined with noises like this: https://www.lastweekinaws.com/blog/azures-terrible-security-posture-comes-home-to-roost/

There is mounting evidence that 'Windowsazure' (your word, not mine) does not actually get security.

If you don't think this thread here is about a security problem, and is instead 'product feedback', you are

[2022-01-13 11:56] smedegaard opened #86358 "Wrong schema in example"
the line `"$schema": "https://schema.management.azure.com/schemas/2019-08-01/deploymentTemplate.json#"` in the example should be either on of the following:

[code]
 most likely `https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-01-13 12:10] ciufudean opened #86360 "Deploy WAR with Powershell does not work in Ubuntu"
My pipeline:

[code]

The error I get is

Line |
   2 |  Publish-AzWebapp -ResourceGroupName rg-prod-pim-01 -Name pim-01-prod  …
     |  ~~~~~~~~~~~~~~~~
     | The term 'Publish-AzWebapp' is not recognized as a name of a
     | cmdlet, function, script file, or executable program. Check
     | the spelling of the name, or if a path was included, verify
     | that the path is correct and try agai

[2022-01-13 12:23] ssivas commented on #86326
Thank you for your feedback.

I think table width is auto-adjusted based on page resolution, however I'm curious whether you see a slider on the page? Meanwhile, I'll collaborate with the content creator to review all possibilities. Thanks.

![image](https://user-images.githubusercontent.com/57458999/149328616-61daae09-80fb-4b84-98f1-b0fde80b192e.png)

[2022-01-13 12:47] AnnuKumari-MSFT commented on #86139
@asears The changes are live now. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-13 12:47] #86139 closed

[2022-01-13 12:54] RedlineTriad opened #86361 "WebApp Storage-Mount ARM template documentation is lacking"
This page lacks enough information to be able to write an ARM/Bicep template for storage mounts.
There is also no template in https://github.com/Azure/azure-quickstart-templates.
The only option left is trying to reverse engineer a template from a mount created in the browser or CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-01-13 13:01] mondragonsi commented on #86142
Thanks all!

We could make the listener work yet but it is not related to the Guide 🙂

Thanks!!

On Wed., Jan. 12, 2022, 23:35 Karishma Tiwari - MSFT, <
***@***.***> wrote:

[2022-01-13 13:32] kengaderdus commented on #86145
Dear @keithn,

Thank you for giving us feedback!

Could you confirm that you are following the instructions in this article: [Set up sign-up and sign-in with a Microsoft Account](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-microsoft-account?WT.mc_id=Portal-Microsoft_AAD_B2CAdmin&pivots=b2c-user-flow). This is is article, which this GitHub issues captured. If it's

[2022-01-13 13:35] pwalleni commented on #84768
Sounds reasonable. Thanks for replying to my inquiry 🙏🏼

[2022-01-13 13:35] kengaderdus commented on #86145
#reassign:kengaderdus

[2022-01-13 13:37] kengaderdus commented on #86145
#please-open

[2022-01-13 13:41] saiKrish13 opened #86362 "Add reverse DNS to an existing PublicIpAddresses for custom domains"
PowerShell commands give us details on how to setup reverse DNS for public IP DNS label.
https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services#add-reverse-dns-to-an-existing-publicipaddresses

However, we can do it for custom domains as well. As this detail is missing the document, customers are raising cases to check whether it can be done for custom domains as well.

====

[2022-01-13 13:42] PramodValavala-MSFT commented on #86323
@anarchitect the regional endpoints are primarily required to route requests when APIM is deployed across multiple regions and is accessible over the internet. But you should still be able to configure them in your private DNS zone if required and ensure the `Host` header is set to the gateway hostname.

[2022-01-13 13:43] #86343 closed

[2022-01-13 13:47] Feargalicious commented on #59008
How would I disable the log only locally in debug mode?
My issue is that I have 2 functionapps that depend on each other and must run at the same time.
This causes constant errors in Debug mode:
System.IO.IOException: 'The process cannot access the file
'C:\Users\{myusername}\AppData\Local\Temp\LogFiles\Application\Functions\Host\2022-01-13T12-43-40Z-fkh707010.log' because it is being used by anot

[2022-01-13 13:57] SaiKishor-MSFT commented on #86362
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-01-13 14:00] kabharati commented on #86262
Azure infrastructure has placed some restrictions which is prohibiting us to enable HA in that region. We are working on resolving this, but we do not have an ETA at this time. As soon as this is resolved we are going to update the documentation.

Until then please try a close region like East US to enable zone redundant HA

[2022-01-13 14:00] kabharati commented on #86262
Please feel free to re-open this if you require any further assistance.

[2022-01-13 14:01] kabharati commented on #86262
#Please-close

[2022-01-13 14:04] becke-ch-s0-v1 opened #86364 "Number of replica is contradictory: 2 or 4?"
The number of replica is contradictory specified:
"_Cosmos DB automatically mitigates replica outages by guaranteeing **at least two replicas** of your data at all times **in each Azure region** where your account is deployed._"
vs
"_If your Azure Cosmos account is distributed across **N Azure regions**, there will be **N x 4 copies** of all your data._"
which specification is correct?

---
#### D

[2022-01-13 14:08] gollima commented on #86311
Thanks for the clarification.
I'm testing here some more restricted rules.
For inbound my understanding is that the "must have" to work is 80, 443
from anywhere and 454-455 from AppServiceManagement.
FTP (21), FTPS(990), Debugging (4016-4022) is optional as you said.
FTP is used for deployment only?

For outbound, the must have is 80,443,12000 TCP to anyware, 53,123 UDP to
anyware.
I tried using S

[2022-01-13 14:08] olavt opened #86365 "Examples on how to use connection string from code is missing"
The page is all about the benefits of using a connection string with Application Insight rather than only the instrumentation key.

But examples on how to use the connection string from a .NET Core console application is missing. When clicking on the links from this page all the examples are using just an instrumentation key.

There should be more examples on how to use Application Insight with ju

[2022-01-13 14:12] KrishnaG-MSFT commented on #86357
@Aman1999isak Can you please share the Azure document link so we can try to take this feedback forward ?

[2022-01-13 14:56] chmagitt opened #86366 "diagram"
Could you add a diagram to make the documentation more clear.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73d3825-b1a2-df0e-7f8f-161f18b1c537
* Version Independent ID: 60b0d81b-5dd3-c45b-0d99-3198d5288a6a
* Content: [Publish and subscribe with Azure IoT Edge](https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-p

[2022-01-13 15:00] #86111 closed

[2022-01-13 15:01] kunjald13 opened #86367 "Simplify the concept"
The documentation on Joins in Cosmos SQL api is unnecessarily complex. I have 15+ experience in Databases, but even I struggled immensely to grasp the concepts explained on this page. A new developer has no chance of understanding it. We decided to adopt Mongo DB (Not cosmos with mongo api) simply because we never felt confident that our team will be able to write proper joins based on such vague

[2022-01-13 15:24] Mike-Crowley commented on #83575
What is the status here? This entire article is pointless without this link.

Is it this?
https://github.com/microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet/delegateSubnet.ps1

https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/delegate-subnet/delegateSubnet.ps1

[2022-01-13 15:29] wbplomp opened #86369 "The information is incorrect because the default behavior of a new Public IP Address is changed and going to change"
Dear Microsoft,

The information in the following links seems to be incorrect (or need to be updated):
https://docs.microsoft.com/en-us/azure/vpn-gateway/about-zone-redundant-vnet-gateways#pipskus
https://docs.microsoft.com/en-us/azure/vpn-gateway/create-zone-redundant-vnet-gateway#publicip

The document specifies that if you want to create a zone-redundant Azure VPN Gateway, you should not specif

[2022-01-13 15:31] kiranpradeep opened #86370 "Requesting for clearer specification of function (GetRoles) and it's relation to rest of the system"
Considering that this document is for programmatically adding roles, it is a little tough on readers unfamiliar with JavaScript Functions.

1. It is not clear that _rolesSource_ parameter in staticwebapp.config.json is corresponding to the function name (GetRoles) implemented in the backend. The reader has to arrive at that conclusion from the rest of the article.
2. Reader has to virtually learn

[2022-01-13 15:37] Kroppinator opened #86371 "Application specific MFA methods?"
Hi,
when using MFA with SSO, is it possible to require a specific MFA method for a specific application. Example: 1. When a user wants to access e.g. Salesforce from Azure SSO, they need to do MFA but SMS is not an accepted factor. 2. When a user wants to access e.g. Workday they need MFA and SMS is a valid option.
Thanks,
Felix

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-01-13 15:39] Boaz101 opened #86372 "Service Bus Retry Settings Clarity"
Regarding https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#retry-settings
_These settings determine whether a failed operation should be retried, and, if so, the amount of time to wait between retry attempts._

It is not clear that the retry settings do not pertain to the processing of the message by the azure function. Apparently, the retry settings pertain to

[2022-01-13 15:44] df-github-22 opened #86373 "Linux / UNIX"
FreeBSD is listed here under Linux VMs; BSD (Free- or otherwise), is not really Linux. It's not trademark UNIX either (Opengroup, Posix compliance etc.), but also _definitely_ not Linux. It's considered "genetic" UNIX because the code can be traced back to Berkley etc. So: maybe there should be a separate category for whatever UNIX versions are supported in Azure? Just sayin'...

---
#### Document

[2022-01-13 15:48] MonikaReddy-MSFT commented on #86166
@anujvarma-original - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-01-13 15:48] #86166 closed

[2022-01-13 15:49] MonikaReddy-MSFT commented on #86144
@sideeksh  - Thank you for providing your insights.
@eddypuck - I hope @sideeksh has answered your question.
At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-13 15:49] #86144 closed

[2022-01-13 15:54] dmytroett opened #86374 "Correct apple production server notifications url"
Hi there. The docs mention that correct values for the endpoint parameter are: `https://api.development.push.apple.com:443/3/device` or `https://api.sandbox.push.apple.com:443/3/device`. But I can see in [the docs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns#2947606) that it should be `Development server:

[2022-01-13 16:11] becke-ch-s0-v1 opened #86375 "Continuous backup: Restore: Missing RTO"
I cannot find the RTO i.e. how long it takes to restore a continuous backup. Can you pls specify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f97e4b07-cad6-3650-0434-78e2a09a7edb
* Version Independent ID: 122fc486-e88c-f7ea-2625-b653b0a12d3a
* Content: [Continuous backup with point in time restore feature in Azure C

[2022-01-13 16:12] MonikaReddy-MSFT commented on #86365
@olavt - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-01-13 16:14] JamesTran-MSFT commented on #86371
@Kroppinator
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-13 16:16] MicrosoftGuyJFlo commented on #86371
#reassign@MicrosoftGuyJFlo
@Kroppinator No that is not an option today. I will pass the feedback along to the product team. #please-close

[2022-01-13 16:16] #86371 closed

[2022-01-13 16:18] becke-ch-s0-v1 opened #86376 "Periodic backup: Restore: Missing RTO"
I cannot find the RTO i.e. how long it takes to restore a periodic backup. Can you pls specify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9011b1f-d923-d3a1-474e-c3431caac3d2
* Version Independent ID: c123745e-1b65-0726-8168-663fef81ea73
* Content: [Configure Azure Cosmos DB account with periodic backup](https://d

[2022-01-13 16:30] pauldotyu opened #86378 "Does the table listed under "Event Hub messages for activity logs" account for throughput based on Event Hub SKU?"
Does the table listed under "Event Hub messages for activity logs" account for throughput based on Event Hub SKU? Also, it seems that sign-in log calculation is based on each event sized at 2 KB; however, in the doc above it states that audit logs events are 2 KB while sign-in log events are 4 KB. Should the calculation for sign-ins be updated to account for the larger message size?

---
#### Docu

[2022-01-13 16:50] davidjb99 commented on #37847
Me too, it would be helpful if the docs were more consistent with naming, but then there are so many docs doing so would take a small army.

[2022-01-13 16:56] #80635 closed

[2022-01-13 16:56] #86020 closed

[2022-01-13 16:56] jasongroce commented on #83074
Hi @nbgyxi , thanks for your feedback. Unfortunately, we were unable to reproduce this issue and believe the best path forward is for you to raise a support request as there may be an issue with your account. #please-close

[2022-01-13 16:56] #83074 closed

[2022-01-13 16:58] GeethaThatipatri-MSFT commented on #86367
Hi, @kunjald13 Thanks for your feedback, I'm assigning this to the author for the feedback review

[2022-01-13 17:01] ChaitanyaNaykodi-MSFT commented on #86369
Hello @wbplomp
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-13 17:06] macolso commented on #85935
Hi @mkleef - can you confirm that you're using API version 2021-07-01 in your YAML?

[2022-01-13 17:15] Fleid commented on #86049
@eavanvalkenburg please let me know if that fixes your issue.
I'll close the issue next week if I didn't hear back.

[2022-01-13 17:24] JeroenvdBurg commented on #84094
would be great if this could be fixed. Took me a couple of hours to find the PR with the breaking changes in github.

Updated docs would prevent other users for having the same painfull experience.

don't forget also https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#secret-repositories

[2022-01-13 17:26] brockMorrison commented on #14254
+1 on this as well. At this point not having ARM support for Linux is a deal breaker for using MSSQL all together.

[2022-01-13 17:29] ggailey777 commented on #86343
Because this tutorial uses the `param-persist` option, you don't need to explicitly specify this persisted parameter.

Did you not enable persisted parameters as instructed?

[2022-01-13 17:35] stevemunk commented on #86201
[PR184954](https://github.com/MicrosoftDocs/azure-docs-pr/pull/18495) addresses this along with other updates. Just waiting on truck routing information.

[2022-01-13 17:37] rperezzamora opened #86381 "Rejected PR for important issue related to SSL problems when azure resources names have underscores"
Hello I had created a PR to update the Known Issues section in order to address a limitation on Azure resource names having underscores. Since the resource name becomes part of the URL for talking to azure services, and underscores are not accepted as valid characters for hostnames (See RFC 952), OpenSSL in Linux environments fail certificate validations using wildcard character (*) for hostname a

[2022-01-13 17:42] lipalath-ms opened #86382 "Execution time of functions"
Hi,

Is there a way to find out the execution time of durable function (activity functions) from Application Insights after deployment?

Does `requests` show the execution time of functions?

![image](https://user-images.githubusercontent.com/6519992/149423497-010f73b2-58a8-4057-a11e-e38fc76ccb10.png)

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-01-13 17:44] lipalath-ms opened #86383 "Execution time of Activity Functions"
Hi,

Is there a way to find out the execution time of durable function (activity functions) from Azure Portal after deployment? Would like to log these details.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a396a3be3e8

[2022-01-13 17:49] mkleef commented on #85935
Hey there Mackenzie, thanks for the response. I don't think I am. I think my code is using 2018-10-01. I will try again with the version above and see what happens. In the meantime, where can I find the schema of what is supported in YAML? The main Microsoft.ContainerInstance/containerGroups page only describes Bicep and JSON. FWIW I ended up getting it working in JSON with ARM templates. I would

[2022-01-13 17:50] Snickher opened #86384 "Missing information on how to set the sticky bit on an ADLSGen2 filesystem object"
This page contains a section on the Sticky bit and how it affects permissions, but doesn't give any information on how to set the sticky bit. Please add information on how to set the sticky bit with powershell on an ADLSGen2 filesystem object, I am in need of that functionality.

Thanks,
Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-01-13 18:02] Justinha commented on #67256
@OneMoreNate sorry for delay, I added a link to the script.

[2022-01-13 18:02] Justinha commented on #67256
#please-close

[2022-01-13 18:02] #67256 closed

[2022-01-13 18:02] ChaitanyaNaykodi-MSFT commented on #86187
Hello @ewouds, a option of selecting a storage account is mentioned on the Batch Service page on portal. As you can see in the screenshot below.
![image](https://user-images.githubusercontent.com/67453298/149384138-ebe21fed-850c-4ccd-be77-ea37f178b821.png)

Please tag me in your response if you additional questions regarding the same. Thank you!

[2022-01-13 18:04] Grace-MacJones-MSFT commented on #86374
Hi @dmytroett , Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-01-13 18:06] Grace-MacJones-MSFT commented on #86361
Hi @RedlineTriad , thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-01-13 18:21] himanshusinha-msft commented on #86384
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-13 18:22] bboycenteno opened #86387 "[Public Doc Update request] - Enable SSH in custom containers - Handshake Error: no matching host key format"
Hello Azure Docs team,

I'm getting this error when my custom Alpine container is deployed to Azure App Service and then try to SSH into it:

![image](https://user-images.githubusercontent.com/7483684/149360267-a3a87c23-c80f-413a-9eb2-42211e8bda0a.png)

It appears the current script for **_ssh_setup.sh_** does not meet the host key format required by KUDU SSH.

[code]

That issue can be resolved r

[2022-01-13 18:29] VikasPullagura-MSFT commented on #86373
@df-github-22
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-13 18:29] VikasPullagura-MSFT commented on #86373
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-01-13 18:35] mike-urnun-msft commented on #86358
Hello @smedegaard - Thank you for your feedback! We will review and update as appropriate.

[2022-01-13 18:36] mike-urnun-msft commented on #86372
Hello @Boaz101 - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-13 18:37] mike-urnun-msft commented on #86382
Hello @lipalath-ms - Thank you for your feedback! We will review and update as appropriate.

[2022-01-13 18:38] mimckitt commented on #86373
Fair feedback. At this time we don't have that kind of category but going foward we can keep this in mind and if we get more samples of non linux/ UNIX samples, we can look at updating the terms.

#please-close

[2022-01-13 18:38] #86373 closed

[2022-01-13 18:39] mike-urnun-msft commented on #86383
Closing as duplicate of: #86382

[2022-01-13 18:39] #86383 closed

[2022-01-13 18:43] #86117 closed

[2022-01-13 18:44] ebolton-cyber commented on #84897
#assign: @mathapli

[2022-01-13 19:02] ssivas commented on #86176
Hi @jd1984 ,

Sorry for the inconvenience caused.

Yes you are right, there is no license requirement, and have already engaged content author on this issue. Thank you for your time and patience with this matter.

[2022-01-13 19:04] ebolton-cyber commented on #84897
@mathapli FYI

[2022-01-13 19:09] ssivas commented on #72822
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

#Please-close

[2022-01-13 19:09] #72822 closed

[2022-01-13 19:13] scale-tone opened #86391 ""you should uncheck the implicit grant settings in the app registration" - what are those "implicit grant settings"?"
... and why (and how) should we uncheck them?

Is it about disabling **ID tokens**? But according to other docs and our real-life experience, ID tokens are still required even for auth code + PKCE...

Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2e35563-a9af-c235-f151-7771cee56326
* Version I

[2022-01-13 19:25] nibaccam commented on #82808
Hi @yuharucan circling back with you on this issue. Were you able to configure your new spark pool to use the azureml-core package =>1.36 using the doc: https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-python-packages that @QianqianNie suggested? Were you able to resolve the error by using the azureml-core package version =>1.36?

[2022-01-13 19:37] MarileeTurscak-MSFT commented on #86378
@pauldotyu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-13 19:50] ahalwright1 opened #86392 "Quickstart create Linux"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf395b11-607d-1421-3b71-4dc442535a1c
* Version Independent ID: c5f1f9fc-6b74-5cd4-b411-6676863e6d1a
* Content: [Quickstart: Use the Azure CLI to create a Linux VM - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/

[2022-01-13 19:53] roalexan opened #86393 "provide sample on how to pass environmental variables to azure cli shell script"
There's an example showing how to pass environmental variables to a powershell script, but not an azure cli shell script. Right now, I'm trying to figure out how to do this, and a sample would have been a great help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independe

[2022-01-13 19:54] ahalwright1 commented on #86392
The second step starting with "az vm create" runs for over 10 minutes.  I had to control-C to quit.  (The first step succeeded.)

I am running "az" on Centos-8 Linux.

[2022-01-13 19:54] #86392 closed

[2022-01-13 19:58] RonnieQuan opened #86394 "Shared Image Gallery Replication and Resilience Questions"
Hi,

I have two questions about the replication section in the document.

I have region A and Region B, shared image gallery is created in Region A resource group, and configured to replicated to both region A &B.
1) When region A outage, can I still create VM from region B using the image from this shared image gallery?
2) As far as I know, I use one identical resource ID no matter I create VM in

[2022-01-13 20:07] lipalath-ms opened #86395 "No logs after updating host.json"
I followed this doc and updated host.json as follows:

[code]

On running the following query, I don't see any results:

[code]

On checking Application Insights, I see the funtions:

![image](https://user-images.githubusercontent.com/6519992/149401518-ad456d10-ddd6-4982-b39c-547f97534272.png)

What am I missing in the query?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-01-13 20:16] memildin commented on #86295
The best place to make such feature requests is in our community forum here:
https://aka.ms/MDFCUserVoice

#please-close

[2022-01-13 20:16] #86295 closed

[2022-01-13 20:17] DeanGross commented on #86295
Thanks, please include this reference in the documentation also

[2022-01-13 20:29] martincoetzer commented on #86326
The docs platform is responsible for rendering the table and creating the slider. There is unfortunately a lot of information to highlight in the table. I will talk to some of my collaborators to come up with other ways to represent this information.

[2022-01-13 20:29] heckmanjim opened #86396 "Required sharepoint access"
The prerequisite for registering the app in sharepoint says you need to be site administrator.  I'm the site administrator but when I try to register I get the message "Sorry, only site collection administrators can add or give access to this app." on the page that displays after I try to create (the page asking if I trust the app).

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-01-13 20:32] ahalwright1 opened #86398 "Linux VM via az cli: ssh access fails."
[Enter feedback here] I am running "az" on Windows 10 Powershell.

"PS C:\Users\oldmtnbiker> az vm create --resource-group myResourceGroup  --name myVM  --image UbuntuLTS --admin-username azureuser   --public-ip-sku Standard   --generate-ssh-keys"   succeeded if I entered all on one line.

"az vm open-port --port 80 --resource-group myResourceGroup --name myVM" succeeded.

"ssh azureuser@40.68.254

[2022-01-13 20:39] asergaz commented on #86366
@chmagitt Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-13 20:42] asergaz commented on #86366
............

[2022-01-13 20:46] vhorne commented on #86112
text added
#please-close

[2022-01-13 20:46] #86112 closed

[2022-01-13 20:52] mahomedalid opened #86399 ""Allow access to Azure Event Hubs namespaces via private endpoints" does not specify that the Basic pricing tier cannot be used"
The networking section of an Event Hub namespace in the Basic tier does not exists, and we needed to upgrade the tier in order to access that option.  There is no mention to this on the document, or at least a link to the pricing/tier options in some point like the pre-requisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-01-13 20:54] lipalath-ms commented on #86395
Updated the screenshot. I see request telemetry not trace logs.

[2022-01-13 21:07] DavidAtImpactCubed opened #86400 "Explain how to use Options with Azure Functions Premium (use double underscore instead of colon)"
In the section on "[Working with options and settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings)" it mentions that you can use colons in app settings to then bind them to IOptions:
`{
  "IsEncrypted": false,
  "Values": {
    "MyOptions:MyCustomSetting": "Foobar"
  }
}`

However Azure Functions Premium plans don'

[2022-01-13 21:23] MarileeTurscak-MSFT commented on #86391
@scale-tone
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-13 21:58] RyanHill-MSFT commented on #86387
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-13 22:00] mkarmark commented on #85886
Hi! Do you mind sharing your app name so we can investigate what is going on on our side? If you don't feel comfortable posting about it here, feel free to open a support ticket and we can help you there!

[2022-01-13 22:02] alnvdl opened #86401 "SaaS fulfillment APIs v2 docs could improve explanations on renew webhook events"
The documentation is not clear about when the subscription term dates are updated:

A. Does it happen **before** the `Renew` operation is confirmed as successful by the webhook? This would mean the webhook can see the updated term dates if the "Get subscription" endpoint is called in the webhook handler.

B. Or does it only happen **after** the webhook successfully confirms the `Renew` operation?

[2022-01-13 22:11] mores opened #86402 "Error accessing NYCTripSmall.parquet"
NYCTripSmall.parquet was uploaded, but when you try to access it via the URL I get:

`{"error":{"code":"NoAuthenticationInformation","message":"Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\nRequestId:97244aeb-401f-0077-54c9-081d0b000000\nTime:2022-01-13T22:07:39.8043006Z"}}`

Select TOP 100 rows also errors out:
`File 'https://xyzdevlak

[2022-01-13 22:30] v-steveadams commented on #85869
#reassign v-steveadams

[2022-01-13 22:54] rwike77 commented on #85535
OK, I confirmed with engineering.  Historically, the app id uri could be any arbitrary string as long as it was unique in the tenant.  Now, if it's set to the domain scheme (with periods) the domain part must be in the list of verified domains.  Or, if you're using the default  api://{appId} scheme the *appId* property can still be an arbitrary string (doesn't have to be the actual app ID).

I rea

[2022-01-13 23:09] scyto opened #86404 "Dynamics Instructions are Terrible for new Dynamics User"
I have Dynamics as part of MAPS MPN benefit.
Thought i would configure it to capture leads from Azure Marketplace.
I have given up...

1. where is one supposed to get the URL of the instance?  It is not the URL i see in the browser bar
2. it says i need an application ID, secret ID and directory ID, well the bootstrap of dyanmics didn't create an app registration - am i supposed to create one, if

[2022-01-13 23:10] rwike77 commented on #85534
Yes, the custom domain examples are incorrect.  If your tenant had a verified domain of `contoso.com`, then a valid app ID URI would be `https://contoso.com/myapp` for example.  I'll update the article.

[2022-01-13 23:21] AtomicHaggis commented on #66498
This is still happening for me with an Open University student account.

[2022-01-13 23:42] #83082 closed

[2022-01-13 23:42] #83092 closed

[2022-01-13 23:42] javester opened #86405 "file share iops with lfs enabled shows 20k but it is really 10k ?"
large file shares increases iops from 1000 to 10,000
But this document is showing 20,000
This appears to be an error.
verify?  thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991338c0-1a61-99e1-41ea-45fd5d5fd63d
* Version Independent ID: f2dd8b70-29f2-bb22-38f5-097c5eb6b797
* Content: [Azure Files scalability and pe

[2022-01-13 23:44] GuyPaddock commented on #77097
Also related: https://github.com/Azure/AKS/issues/1517

[2022-01-13 23:44] BryanTrach-MSFT commented on #85961
@munkii Thank you for sharing this. Upon review, we agree that the doc needs to be brought up to match the experience with VS 2019/2022.

As a result, we have assigned the issue to the doc author to have them review if any additional changes are necessary.

[2022-01-13 23:47] GeethaThatipatri-MSFT commented on #86375
Hi @becke-ch-s0-v1 Thanks for your findings, We will investigate and update as appropriate.

[2022-01-13 23:50] GeethaThatipatri-MSFT commented on #86376
Hi @becke-ch-s0-v1 Thanks for your findings, We will investigate and update as appropriate.

[2022-01-13 23:52] kanshiG commented on #86375
Amount of time it takes to restore data is dependent on the size of the data which is anywhere between 45 minutes to 75 minutes per TB.
Key thing to understand is CosmosDB High availability does not depend on the backup restores, restores are only for scenarios where you have accidently deleted the container or done inadvertent crud operations.

​Warm Regards
Govind Kanshi
| My work hours are in P

[2022-01-14 00:03] BryanTrach-MSFT commented on #85711
@ezYakaEagle442 Thank you for the question.

OpenJDK support in coming in the current release, version 97.

To see what version you are currently using, navigate to your app service in the portal. Locate the "advanced tools" blade and then select "go." This should open up KUDU for your web app. From there, you should see something called Azure App Service
 and then a value with something like 96.0

[2022-01-14 00:03] #85711 closed

[2022-01-14 00:10] jun110 opened #86408 "The link the document for Japan is wrong."
Hi team,
The documentation for Update Management is wrong.

- https://docs.microsoft.com/ja-jp/azure/automation/update-management/plan-deployment

For example, the following figure shows a strange part.
The proper links are not reflected and the markdown format is still listed.

![image](https://user-images.githubusercontent.com/25476639/149428589-d095a6f3-e5c1-428b-aa1a-409322cdf2fd.png)

![image

[2022-01-14 00:16] BryanTrach-MSFT commented on #85688
@strueder This is likely an issue on your end if you have too tight of restrictions setup on some of the resources. Can you verify what platform you tried the tutorial for?

[2022-01-14 00:34] rwike77 commented on #85534
A little more info... In the api:// scheme you could add the app ID GUID or tenant ID GUID, only. No other GUID value is allowed directly after the "api://" scheme, though you can have some other non-GUID string.

If you did add api://{tenantIdGuid} as the app ID URI, no one else will be able to use that URI in any other app. So, the recommendation should be to first use the api://{appIdGuid} or i

[2022-01-14 00:35] BryanTrach-MSFT commented on #85574
@dhcgn Thank you for creating this blog for customers to use. We have documented it for our upcoming meeting with the product group to see if there are ways we can link/leverage your blog further.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-14 00:35] #85574 closed

[2022-01-14 00:36] lipalath-ms commented on #86395
@cgillum Does request include the duration (execution time) of each function?

![image](https://user-images.githubusercontent.com/6519992/149430958-b2a4fc20-12ab-449e-818f-0f916318ee43.png)

[2022-01-14 00:36] rwike77 commented on #85534
Doc update just merged, so I'll close this now.  Feel free to re-open if necessary.  #please-close

[2022-01-14 00:36] #85534 closed

[2022-01-14 00:37] rwike77 commented on #85535
A little more info... In the api:// scheme you could add the app ID GUID or tenant ID GUID, only. No other GUID value is allowed directly after the "api://" scheme, though you can have some other non-GUID string.

If you did add api://{tenantIdGuid} as the app ID URI, no one else will be able to use that URI in any other app. So, the recommendation should be to first use the api://{appIdGuid} or i

[2022-01-14 00:40] cynthn commented on #86398
@ahalwright1 Hello! Are you trying to create a Windows VM or a Linux VM? The article that this issue came through on is the quickstart for Windows using CLI. I think you are trying to create a Linux VM using CLI? The quickstart for Linux using CLI is written  to work using the Azure Cloud Shell.

I believe --generate-ssh-keys (as well as creating a new key in the portal) create .pem files. What we

[2022-01-14 00:44] BryanTrach-MSFT commented on #71370
closed

[2022-01-14 00:52] cgillum commented on #86395
It's very odd that parts of Application Insights shows the traces but parts don't. Are you able to see DurableTask-related traces if you remove the `customDimensions.Category` filter? I fortunately don't have an explanation for this, but the expectation is that they `traces` query you're doing should work just fine. If you want to have the product team dig into this further, I recommend opening a

[2022-01-14 00:53] MonikaReddy-MSFT commented on #86393
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-14 01:12] MonikaReddy-MSFT commented on #85980
@Plus3IT-Azure - I have head back from product team that we are not investing in Runas account anymore and the recommendation is to use Managed identities to overcome the cert management overhead.

[2022-01-14 01:12] #85980 closed

[2022-01-14 01:27] Degies opened #86411 "needs licensing comment"
The article is great, but it needs some wording around licensing. CA policies requires users to have CA license entitlement in some way so would the same be required for service principals ? Service Principals would typically not utilize a all the CA capabilities so how would this b licensed ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-01-14 01:42] strueder commented on #85688
I tried it for JavaScript on a windows pc with chrome browser.

[2022-01-14 01:48] euchungmsft opened #86412 "With Search Address API, requested query string in Thai is not the same with query string in response"
[Enter feedback here]

Dear Team,

If this repo is inappropriate to discuss the this issue, please let me know or forward this to appropriate one.

- Issue : With Search Address API, requested query string is not the same with query string in response in Thai

- How to reproduce

Command line
[code]

data1.json
[code]

Response
[code]

LANG is 'en_US.utf8' on my Azure Cloud Shell. I tried lang=th-

[2022-01-14 01:52] madewithsmiles commented on #77358
Hi @VikasPullagura-MSFT the PR's been merged. I think we can close this issue

[2022-01-14 01:58] kahopkin opened #86413 "screenshots are great, but would be nice to have the content pasted in the page as text also."
I love that there are screenshots of the steps, but what is really lacking is the text from the screenshots is not pasted on the page content, and since the screenshots are not high quality pictures and also the font color in Postman is light gray, therefore really hard to make out what the text is in the screenshots.
Can you please get the text from the screenshot and include them as text on the

[2022-01-14 01:59] James-Hamil-MSFT commented on #86364
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-14 03:40] yayongwang opened #86415 "Filter for devices condition in include mode should use -and rather than -or"
[Enter feedback here]

The above scenario, can be configured using All users accessing the Microsoft Azure Management cloud app with Filter for devices condition in include mode using the following rule device.trustType -ne "ServerAD" -or device.isCompliant -ne True and for Access controls, Block.
This example would create a policy that blocks access to Microsoft Azure Management cloud app from un

[2022-01-14 03:42] #77358 closed

[2022-01-14 03:48] VikasPullagura-MSFT commented on #86398
@ahalwright1 Can you please share requested details of error as requested to assist you better on this.

[Here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli) is the Linux VM quick start guide for your reference.

[2022-01-14 03:52] CHEEKATLAPRADEEP-MSFT commented on #86402
@mores  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-01-14 03:57] shashishailaj commented on #86411
@Degies Thank you for your feedback . We will investigate this and update the thread.

[2022-01-14 04:00] shashishailaj commented on #86413
@kahopkin Thank you for your inputs . We will engage with the content team and get this reviewed.

[2022-01-14 04:01] shashishailaj commented on #86413
@kenwith Could you please review the suggestions and see how best we can improve the article ? I am not sure but it may require some refinement .

[2022-01-14 04:02] shashishailaj commented on #86415
@yayongwang Thank you for your inputs . We will investigate and update the thread.

[2022-01-14 04:13] VikasPullagura-MSFT commented on #86405
@javester Thanks for the Feedback. The document is updated and changes will go live once the document author approves the changes.

[2022-01-14 04:16] #86405 closed

[2022-01-14 04:23] SnehaAgrawal-MSFT commented on #86020
@jgross1031 Thanks for the feedback! The update has been done.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-01-14 04:33] ahalwright1 commented on #86398
I have been trying to follow the directions in the website https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli.

I have been using the Azure CLI which has versions for both Linux and Powershell.

On Linux (CentOS8)

In Windows Powershell, I did the command:
az vm create --resource-group myResourceGroup  --name myVM  --image UbuntuLTS --admin-username azureuser   --public

[2022-01-14 04:37] mrsegen commented on #83092
@GiftA-MSFT @BryanTrach-MSFT  Is there any feedback you can offer?

[2022-01-14 04:54] memildin commented on #64467
#please-close

[2022-01-14 04:54] #64467 closed

[2022-01-14 05:05] xiaoyongzhu opened #86417 "The notebook download link is broken"
[Enter feedback here]
The notebook download link is broken:

https://opendatasets-api.azure.com/discoveryapi/OpenDataset/DownloadNotebook?serviceType=AzureNotebooks&package=azure-storage&registryId=microsoft-news-dataset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a29e87-b1d6-d1e8-6264-e6d504ce6260
* Version Indep

[2022-01-14 05:34] pnarsi opened #86418 "Is this feature now available in all regions"
The Azure Update post from November last year said that this feature was GA in East US and West US regions only and would become available in other regions by the end of December. It is now the new year, does this mean that the feature is available in all regions?

![image](https://user-images.githubusercontent.com/7891408/149457040-27bbf218-43ff-4b3a-b989-fa7eb6541cb7.png)

---
#### Document Deta

[2022-01-14 06:00] SnehaAgrawal-MSFT commented on #86399
@mahomedalid Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-14 06:05] oalieno commented on #34167
It's 2022 and I'm still here to check if this is legit domain LOL.

[2022-01-14 06:22] PriyankaRudramaina commented on #86394
Hi @RonnieQuan,

Thanks for the posting your question! I am reviewing it currently, I will post the answer shortly.

[2022-01-14 06:30] VikasPullagura-MSFT commented on #86418
@pnarsi
Thanks for your Question! I am checking with internal team to confirm on this.

[2022-01-14 06:58] lipalath-ms commented on #86395
@cgillum Thank you! Just to confirm the Response time (highlighted below) indicates the execution time of each function correct?

![image](https://user-images.githubusercontent.com/6519992/149464563-c95a0099-1cfa-4ee8-b137-cd0fefa246fc.png)

Also, duration (highlighted below) indicates the execution time of each function correct?

![image](https://user-images.githubusercontent.com/6519992/14946484

[2022-01-14 06:59] VikasPullagura-MSFT commented on #86315
@randowat123 The document is updated to reflect this feedback. This part is removed from the document now. The changes will go live soon.

[2022-01-14 06:59] #86315 closed

[2022-01-14 07:16] #86402 closed

[2022-01-14 07:23] ChaitanyaNaykodi-MSFT commented on #86187
Hello @ewouds we will now proceed to close this issue out. Please tag me in response if there are any additional questions. Thank you!

[2022-01-14 07:23] #86187 closed

[2022-01-14 07:24] AnuragSingh-MSFT commented on #85875
@saimachi, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-01-14 07:24] #85875 closed

[2022-01-14 07:27] AnuragSingh-MSFT commented on #86248
@squasta, thank you for bringing it to our attention. I am escalating this issue to our content team for review and update.

@JnHs can you please review this query, thank you

[2022-01-14 07:28] mronnlun commented on #85065
This is not correct. I have not requested to increase the limit but I'm still able to create more than 25 rules. At least when creating them with bicep/arm. Maybe it's only the Azure portal ui that is enforcing the limit?

[2022-01-14 07:44] KrishnaG-MSFT commented on #86404
@scyto Thanks for the feedback.
Assigning @trkeya for visibility, review and document enhancement consideration if appropriate.

[2022-01-14 07:45] KrishnaG-MSFT commented on #86408
@jun110 Thanks for the feedback.
Assigning @SGSneha for visibility, review and document enhancement consideration as appropriate.

[2022-01-14 07:56] becke-ch-s0-v1 commented on #86375
Hi @kanshiG , thank you for your reply. a) yes I understand that this is for scenarios where data has been accidentally deleted or corrupted b) I think it would be helpful to mention in the documentation that the RTO to restore backups is between TB*45m and TB*75m depending on the load where TB is the size of the backup in Terabytes.

[2022-01-14 08:18] v-amallick commented on #84981
@ctahok - Sorry for our late response. We are working on the documentation updates and will get back shortly. Appreciate your patience. Thanks.

[2022-01-14 08:23] #86182 closed

[2022-01-14 08:38] Svijay-msft commented on #86396
Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-01-14 08:41] SnehaAgrawal-MSFT commented on #86147
@cpdohert Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-01-14 08:47] ShaikMaheer-MSFT commented on #86163
@dhangerkapil "Auto-fill" option looks for any parameters in the Hive script that require values at runtime and automatically fetch those parameters.

Users can manually also enter parameters here by clicking New button below Auto-fill option.

It seems everything looking good to me. Kindly let me know if that is not the ask and share more details for better understanding.

[2022-01-14 08:50] bradleyisfluent commented on #40789
I've just experienced similar confusion. In particulare as I am trying to configure Application Insights but the runtime for Node.js is not being picked up.

![image](https://user-images.githubusercontent.com/32331352/149486473-0882f2b8-b994-4795-b9e5-bcbe9878272b.png)

[2022-01-14 08:54] ShaikMaheer-MSFT commented on #86220
@chez-charlie Could you please validate customer feedback and enhance document as appropriate

[2022-01-14 09:02] RutgerKosters opened #86420 "Add entry for Azure Service Health"
Hi team,

Can we please add an entry for Azure Service Health to this page?

Suggestion:

================================
**Azure Service Health**
Service Health keeps you informed about the health of your environment. It provides a personalized view of the status of your Azure services and regions, includes information about planned maintenance and current incidents and offers richer functionali

[2022-01-14 09:16] tecshogo commented on #40762
@souravmishra-msft Can't you see this thread. You should take a proper action.

[2022-01-14 09:24] SQLSourabh commented on #85037
hi @vlad610 the requested doc has been updated and should reflect within 24 hours

[2022-01-14 09:31] SadiqhAhmed-MSFT commented on #86401
@alnvdl Thank you for your post. We will look into the documentation and discuss your query with content owner. Shall update this thread if I hear back anything from them.

[2022-01-14 09:33] AnuragSharma-MSFT commented on #86250
@jeanfrancoislarente Thanks for your patience. The commands which are mentioned run in local context of resource group that we created in the steps mentioned in the document. In this specific cases, we need not to provide the resource group at the time of creating the server, and then when we delete the resource group the resources including MySQL server will be deleted as well.

Please let us kno

[2022-01-14 09:42] asergaz commented on #86412
Hello @euchungmsft, this issue falls out of the context of this How-To guide. I am  reaching out to you offline to guide you to the right place. We will post back here the solution after we resolve it. For now I will close it. Thanks!

[2022-01-14 09:47] asergaz commented on #86412
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.