[2019-03-20 22:49] sccjas commented on #27048
I am experiencing the same issue:

![Screen Shot 2019-03-20 at 3 49 12 PM](https://user-images.githubusercontent.com/48775147/54724294-bd1b4700-4b27-11e9-9dd1-970ed5749d59.png)

[2019-03-20 22:59] r-milne opened #27664 "Video edit required"
at the 1 minute mark the voices says "on-premise".

Please update to the correct language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b20c74-3d65-5747-39a0-77b3c2214e0e
* Version Independent ID: 8ea4321d-7500-fd4f-9235-1c0852f3d3fe
* Content: [Enterprise integration with Azure Logic Apps](https://docs.microsoft.c

[2019-03-20 22:59] YuriySamorodov commented on #27662
Fixed in #27663

[2019-03-20 23:03] HeidiSteen commented on #27662
Great, I appreciate the assist.
#please-close

[2019-03-20 23:05] MarileeTurscak-MSFT commented on #27602
As per the error, your <ClaimsProvider> is missing the socialIdpUserId claim. This is because either the <OutputClaim> entry which has a ClaimTypeReferenceId="socialIdPUserId" is missing or it's mapped to a PartnerClaimType that isn't being provided.

Ensure that it is defined in the policy files and try again. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-guide-

[2019-03-20 23:06] MarileeTurscak-MSFT commented on #27602
Try the steps in the troubleshooting document linked and see if it helps. If you still have questions feel free to reach out to me on MSDN. It is more appropriate to transfer this issue there since this is more of a product question than a document issue. I'll be sure to respond if you would like to continue the conversation. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-20 23:06] #27602 closed

[2019-03-20 23:10] MikeRayMSFT commented on #23563
@szolla - first - thanks for reaching out. Our Availability Group content is getting refreshed. We do mention availability zones in a few places: [Create an Azure load balancer](https://docs.microsoft.com/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tutorial#create-an-azure-load-balancer). I'll work with the content team to make sure we cover it more co

[2019-03-20 23:10] ThomasWeiss commented on #26117
@christopheranderson Do we have any code snippets showing how to filter on date ranges with node? Maybe something we could fit [here](https://github.com/Azure/azure-cosmos-js/blob/216672a679ab389e5b341280eeacab1cab3691e4/samples/ItemManagement/app.js#L97-L118).

[2019-03-20 23:10] olufea opened #27665 "RU Cost of TableOperation.Insert vs InsertOrMerge"
When I insert an entity using InsertOrMerge, the RequestCharge is get is about half of what I get when I use the Insert method. I have validated that I am always inserting a new entity in both cases. Is this expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27457010-fd1f-4a39-ca5e-93f118e4ac4e
* Version Independ

[2019-03-20 23:20] DrEsteban opened #27666 "Elaborate on the real meaning of the `essential` property of optional claims"
If set to true, does this mean AAD will fail to issue a token if the claim type cannot be found for whatever reason?  Or is it just a piece of metadata for the application operator's awareness?  Some additional details on the behavior differences of true/false for the `essential` property would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-20 23:25] conork20 commented on #26744
Great, thanks for updating Dominic.

[2019-03-20 23:26] cijothomas commented on #27660
[code]
  -- is this the trick required to ensure an item to be NOT dropped by sampling?

[2019-03-20 23:30] dlepow commented on #27046
@Abdulmanahtalib - Thanks for your question. As noted in this article, when you update the deployment, "Instead of pulling all image layers fresh from the registry as is done with new deployments, only modified layers (if any) are pulled." So if you call `az container create` again (with some modified property), only the modified layers in "containername:latest" should be pulled from your containe

[2019-03-20 23:31] TravisCragg-MSFT commented on #27642
@CeciAc Please make sure you have registered for the feature using [the instructions outlined Here](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal#register). also, make sure that you are using the [Azure Preview Portal](https://aka.ms/azurevirtualwanpreviewfeatures).

[2019-03-20 23:32] MikeRayMSFT commented on #25897
#please-close

[2019-03-20 23:41] jlian commented on #26870
Yeah, sorry we looked into this and yes it looks like adding these properties in the messages is a very time-consuming workaround.

Apologies for the runaround, I'll work on a docs update right away to capture the info we discovered through this issue and make it clear that it's far from trivial

Thanks though @murdockcrc and @francisco-ltech for filing the issue and trying this out!!

[2019-03-20 23:43] TravisCragg-MSFT commented on #23992
@OffColour what SKU of App Gateway are you using?

[2019-03-20 23:43] #23563 closed

[2019-03-20 23:46] dlepow commented on #26408
@brent-robinson - Brent, thanks for suggesting the enhancement, although there isn't a timeline at present. The product team is already tracking this suggestion in the Azure Feedback Forums. You can upvote it if you like at https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/36318796-deploy-container-group-with-log-analytics-from-pow
#please-close

[2019-03-20 23:48] #26408 closed

[2019-03-20 23:51] amsword commented on #27600
similar issue with Ubuntu 16.04

from azure.cognitiveservices.vision.computervision import ComputerVisionAPI
ImportError: cannot import name 'ComputerVisionAPI' from 'azure.cognitiveservices.vision.computervision' (/home/jianfw/anaconda3/lib/python3.7/site-packages/azure/cognitiveservices/vision/computervision/__init__.py)

[2019-03-20 23:57] BryanTrach-MSFT commented on #27609
@keithl8041 We have reassigned your feedback to the author to see if this was done intentionally.

[2019-03-21 00:00] Grace-MacJones-MSFT commented on #27662
We will now proceed to close this thread.

[2019-03-21 00:00] #27662 closed

[2019-03-21 00:06] rayne-wiselman commented on #12068
@theboymango Hi there. We've recently added matrix docs that I hope address this issue. Please review the docs under here and let us know if you think this is useful. https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix

[2019-03-21 00:07] rayne-wiselman commented on #13923
@Adam-Smith-MSFT Please assign to @saurabhsensharma

[2019-03-21 00:10] olavt opened #27670 "Mix of content about external / internal ASE"
The heading for this section of the documentation is "Create an external ASE", but the content is still a bit of mix between creating an external and internal ASE. I think it would be less confusing if the content matched the heading. There is another section of the document reserved for "Create internal ASE", so I don't think the content needs to be mixed.

---
#### Document Details

⚠ *Do not ed

[2019-03-21 00:12] BryanTrach-MSFT commented on #27601
We have engaged the doc author to have them review the feedback and determine if an edit of the doc is necessary.

[2019-03-21 00:15] cweining commented on #27438
For an azure app service, you can set app settings in an ARM template to enable snapshot debugger and profiler like this. You add a config resource that contains the app settings as a child resource of the website:

`
   // website resource

    {
      "apiVersion": "2015-08-01",
      "name": "[parameters('webSiteName')]",
      "type": "Microsoft.Web/sites",
      "location": "[resourceGroup().

[2019-03-21 00:34] kevinvngo commented on #14567
https://github.com/MicrosoftDocs/azure-docs-pr/pull/70329

[2019-03-21 00:35] ecfan commented on #27664
@r-milne, thanks for finding this terminology issue. I'll pass along your feedback to the team that created and owns this video, who can then triage your request.

#please-close

[2019-03-21 00:42] MicahMcKittrick-MSFT commented on #27650
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-21 00:43] #25897 closed

[2019-03-21 00:43] #27616 closed

[2019-03-21 00:43] #7524 closed

[2019-03-21 00:44] #26075 closed

[2019-03-21 00:44] #7500 closed

[2019-03-21 00:50] imeya commented on #27394
@BhargaviAnnadevara-MSFT , thanks for your answer, I tried the developer mode, but seams that it does not send the telemetry to azure portal more faster.

[2019-03-21 00:53] MicahMcKittrick-MSFT commented on #27650
@rloutlaw @fitzwop can either of you route this correctly? Since users cannot open issues directly on these types of docs they usually end up in this repo. Who handles the REST documentation all up?

CC @cynthn in case shes knows

[2019-03-21 00:56] vicperdana commented on #25812
Thanks @charwen for clarifying.  Is there a uservoice feedback for this feature?  If not happy to create one.

[2019-03-21 00:56] kevinvngo commented on #16374
Update is made here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/70332

[2019-03-21 01:05] marroema commented on #23468
Hi,
Service Tags for Australia Central and Australia Central 2 are not present.

[2019-03-21 01:07] marroema opened #27671 "Service Tags for Australia Central and Australia Central 2 are not present."
Service Tags for Australia Central and Australia Central 2 are not present. How am I going to add NSG Rules without those service tags?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-0970-db08-7adf-c51e06d89ad8
* Content: [About networking i

[2019-03-21 01:10] marroema commented on #23468
Hi,
XML located here: https://aka.ms/site-recovery-public-ips doesn't have Australia Central and Australia Central 2 IPs

[2019-03-21 01:10] marroema commented on #27671
Hi,
XML located here: https://aka.ms/site-recovery-public-ips doesn't have Australia Central and Australia Central 2 IPs

[2019-03-21 01:25] anushreeringne opened #27673 "Can we specify the SSL certificate and Ingress in the yaml file"
Is it possible to specify the SSL certificate and HTTPs ingress controller both in yaml file without having to run kubectl?

apiVersion: v1
data:
  tls.crt: base64 encoded cert
  tls.key: base64 encoded private key
kind: Secret
metadata:
  name: aks-ingress-tls
  namespace: default
type: Opaque
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: hello-world-ingress
  annotations:

[2019-03-21 01:37] rloutlaw commented on #27650
Tested this out and verified that you have to have the api-version of the resource in advance of using this operation.

The reference is correct in how you construct  the URL-it's just that the docs aren't clear on what you need to pass as api-version and there's no examples that lead you to how you'd track down the right API version for each resource provider.

@fitzwop for awareness if there's a

[2019-03-21 01:39] Brucius commented on #21476
Has this been resolved? Just tried to find that step in the doc and can't seem to find it anymore.

[2019-03-21 01:42] #27664 closed

[2019-03-21 01:44] mike-urnun-msft commented on #27659
Hi @dhmorrison Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-21 01:46] mike-urnun-msft commented on #27653
Hi @bdschaap Thank you for your feedback! We will review and update as appropriate.

[2019-03-21 01:47] zikalino commented on #27650
@MicahMcKittrick-MSFT i guess perhaps this could be raised in Azure REST API spec repo...

[2019-03-21 01:47] mike-urnun-msft commented on #27649
Hi @mikeharder Thank you for your feedback! We will review and update as appropriate.

[2019-03-21 02:01] kobulloc-MSFT commented on #27631
@krob527 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-21 02:13] justSteve opened #27674 "Add a section detailing DeploymentHelper.cs usage"
The downloaded template from my portal's Export resource group template (blade: 'Automation script' | Template) including deploy scripts for 4 platforms: .ps1, .sh, .rb, and .cs.

The .cs file (DeploymentHelper.cs) has a link that resolves to this page but here, I'm not finding usage details for the .cs approach to deploying. Its only missing the last mile (how to make 'F5' deploy the template)?

[2019-03-21 02:16] kobulloc-MSFT commented on #27438
@Japeth Thank you again for your question!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-21 02:16] #27438 closed

[2019-03-21 02:57] anosov1960 commented on #26860
For PiTR, SQL Database Contributor or SQL Server Contributor either at sub or rg level is required
For GeoRestore, SQL Server Contributor either at sub or rg level is required.
If it fails please open a CRI to investigate.

[2019-03-21 03:13] codefoster opened #27676 "Doesn't tell me what and endpoint is"
I'm trying to follow the steps in this guide, but it asks me to fill in the "endpoint URL" but does not give me any guidance about what that is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9229b6e1-4353-089c-b021-04d65d2ce46f
* Version Independent ID: ab4208fd-1151-4a18-27a1-3a6c750e3840
* Content: [Azure CLI script

[2019-03-21 03:19] ghclo commented on #25680
I have the same issue: Could not find a part of the path 'C:\Users\Profile\Downloads\custom-font-win-container\CustomFontSample\bin\roslyn\csc.exe'

1.

[2019-03-21 03:19] atd80 commented on #23196
I am looking for "Azure Function" using "python"  "Azure service bus queue" on "Linux container" , can you point me to right solution as I tried multiple solution but it is still not working .

[2019-03-21 03:21] ghclo commented on #25680
I have the same issue:
Could not find a part of the path 'C:\Users\Profile\Downloads\custom-font-win-container\CustomFontSample\bin\roslyn\csc.exe'

I have done the following to solve the issue:
1. nuget restore
2. build the solution

Then the folder 'roslyn' will be generated under '.\custom-font-win-container\CustomFontSample\bin' and can run the solution

[2019-03-21 03:33] djaus2 opened #27678 "Change Storage Explorer to Azure Storage Explorer"
Under Deployment:

In
- AzCopy
- **Storage Explorer**
- Azure Pipelines
- Visual Studio Code extension

Change
**Storage Explorer**
to
**Azure Storage Explorer**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content:

[2019-03-21 03:48] RohitMungi-MSFT commented on #27639
@imeya Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-21 03:51] RohitMungi-MSFT commented on #27657
@gerisg Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-21 04:05] AshokPeddakotla-MSFT commented on #27643
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-21 04:13] CHEEKATLAPRADEEP-MSFT commented on #27589
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 04:13] #27589 closed

[2019-03-21 04:14] CHEEKATLAPRADEEP-MSFT commented on #27576
@cg6 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 04:14] #27576 closed

[2019-03-21 04:16] SadiqhAhmed-MSFT commented on #27569
@rothja Thank you for sharing the right contact.

[2019-03-21 04:21] SadiqhAhmed-MSFT commented on #23468
@marroema Can you share the source link for the XML?

[2019-03-21 04:32] SumanthMarigowda-MSFT commented on #27678
@djaus2 Thanks for bringing this to our attention.  We are investigating and will update you shortly.

[2019-03-21 04:36] KetanChawda-MSFT commented on #27383
@zavr-1 Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 04:36] #27383 closed

[2019-03-21 04:40] KalyanChanumolu-MSFT commented on #27665
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-03-21 04:45] KetanChawda-MSFT commented on #27350
@mganeshphani I am glad that it worked. Thanks you for providing the feedback. We will definitely take it as a positive and improve the quality of the documents.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 04:45] #27350 closed

[2019-03-21 04:45] AshokPeddakotla-MSFT commented on #27377
@nonoxp Thanks for the additional information. @erich-wang Please have a look at his and provide your insights.

[2019-03-21 04:49] marroema commented on #23468
Sadiqh what do you mean?? I already shared the link in my previous comment. Didn't you see it??

[2019-03-21 04:50] KetanChawda-MSFT commented on #27541
@mikeclymer Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 04:50] #27541 closed

[2019-03-21 04:59] YASWANTHM-MSFT commented on #27495
@theheatDK, Please refer the following document to configure RBAC to a specific user.
Ref:- [https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac#rbac-roles-for-blobs-and-queues](url)
Kindly, let us know if you need any further assistance on this.

[2019-03-21 05:00] jakaruna-MSFT commented on #27673
@anushreeringne I hope you are mentioning about the `kubectl` command which created a secret [here](https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls#create-kubernetes-secret-for-the-tls-certificate).
We can create a secret from YAML file as well. Using command is easier for most users than constructing an YAML with Certificates. For simplicity we have provided with commands instead of YA

[2019-03-21 05:01] jakaruna-MSFT commented on #27371
@dipesharora is there any upadate

[2019-03-21 05:05] Thoemmeli opened #27679 "What is the meaning of Supported SDK?"
The documentation states "This feature is currently supported by the following Azure Cosmos DB APIs and client SDKs.".
I did not understand which part of the feature is meant by this paragraph. Is it about managing the feed, reading the feed or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6d

[2019-03-21 05:13] kobulloc-MSFT commented on #27631
@krob527 Sorry for the confusion!  It appears the document is a bit out of date.  **Lab Accounts** is now **Lab Services**.  We'll assign this to the content author so they can update the document accordingly.  If you run into any additional outdated pages, please don't hesitate to open another ticket.  Thank you again for bringing this to our attention!

![image](https://user-images.githubusercon

[2019-03-21 05:24] SadiqhAhmed-MSFT commented on #23468
@marroema Sorry I missed that XML file link from the document. I shall get that updated by the content owner. Thanks for bring this to our attention.

@asgang Could you please update the XML file as well?

[2019-03-21 05:26] walsehgal commented on #27652
@KingdomOfEnds, thanks for your concern. As @dsk-2015 said it is a product feature, but still we will look into it and talk to the marketing team about the change since they own this page.

[2019-03-21 05:30] veyalla commented on #27551
@knowpath - please see https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module#build-your-iot-edge-solution

In the green "tip":
_Are you building the same type of containers that your development machine is running? Visual Studio Code defaults to Linux amd64 containers. If your development machine is running Windows containers or Linux arm32v7 containers, update the platform on the

[2019-03-21 05:42] shashishailaj commented on #27638
@markkerins Thank you for your feedback. We will investigate and update further.

[2019-03-21 05:45] shashishailaj commented on #27666
@DrEsteban  Thank you for your feedback. We will investigate and update further.

[2019-03-21 05:49] shashishailaj commented on #27658
@toddysm Thank you for your feedback. We will investigate and update further.

[2019-03-21 05:49] CHEEKATLAPRADEEP-MSFT commented on #27581
@anssenfang1 Thanks for posting this question! Just to confirm for better assistance, do want to understand if ESP cluster does not support IO cache? Also, could you please let us know your specific requirement on domain joined cluster and if you’re facing any specific issues following document steps?

[2019-03-21 05:49] DixitArora-MSFT commented on #27676
@codefoster Thank you for your feedback! We will review and update as appropriate.

[2019-03-21 05:50] CHEEKATLAPRADEEP-MSFT commented on #27592
@SANDEEPPILLUTLA Could you share the steps which you are trying, along with the screenshot of the error message?

[2019-03-21 05:55] shashishailaj commented on #27660
@SergeyKanzhelev Thank you for your feedback. We will investigate and update further.

[2019-03-21 05:56] anssenfang1 commented on #27581
The background is one of our customer wants to use IO cache in a ESP cluster, but find it is disabled. And I verified the same on my cluster.
So I suggest to add related notes and background why it is not supported in ESP cluster.

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Thursday, March 21, 2019 1:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fa

[2019-03-21 05:58] SergeyKanzhelev commented on #27660
@cijothomas yes

[2019-03-21 06:00] RohitMungi-MSFT commented on #27570
@gerisg Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 06:01] #27570 closed

[2019-03-21 06:04] akulnev opened #27680 "Synchronization of the UPN changes between two federated domains"
Hello!
Is anyone aware of the recent change in AAD Connect behavior on synchronization of the UPN changes between two federated domains? Recently my colleagues have noted Azure AD Connect synchronizes changes made in AD from one federated UPN Suffix to another federated UPN Suffix. However, I have not managed to find any announcement about this change. Could someone comment on it? Has it been done

[2019-03-21 06:06] shashishailaj commented on #27670
@olavt Thank you for your feedback. We will investigate and update further.

[2019-03-21 06:08] SadiqhAhmed-MSFT commented on #27671
@marroema Thanks for the comment! I have already shared the feedback with the content owner to review and update as appropriate.

[2019-03-21 06:09] shashishailaj commented on #27671
@marroema Thank you for your feedback. We will investigate and update further.

[2019-03-21 06:14] shashishailaj commented on #27674
@justSteve Thank you for your feedback. We will investigate and update further.

[2019-03-21 06:16] SadiqhAhmed-MSFT commented on #27674
@tfitzmac Could you please help here?

[2019-03-21 06:16] shashishailaj commented on #27680
@akulnev Thank you for your query. We will investigate and update further.

[2019-03-21 06:16] KrishnaG-MSFT commented on #27387
@PingPongSet Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please reply and we will gladly continue the discussion.

[2019-03-21 06:16] #27387 closed

[2019-03-21 06:16] SumanthMarigowda-MSFT commented on #27246
@artisticcheese We will now proceed to close this thread.since reference thread as been closed   If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 06:16] #27246 closed

[2019-03-21 06:18] shashishailaj commented on #27679
@Thoemmeli Thank you for your feedback . We will investigate and update the thread further.

[2019-03-21 06:20] rbonestell commented on #13271
This is quite a catch-22 for us Visual Studio for Mac users, as the IDE automatically creates a .sln file when opening a project... @BryanTrach-MSFT

[2019-03-21 06:27] tknerr commented on #18737
@TravisCragg-MSFT thanks for the suggestion. By removing the lower prio "blockAllOutbound" rule I could indeed bypass the rule validation error and got the AppGateway v2 deployment to finally work.

Not ideal imho but it works for now and good enough to continue with evaluation of AppGw v2 on our end.

Maybe that would be worth a mentioning as a known issue in the docs though, maybe in https://git

[2019-03-21 06:29] sixcorners opened #27681 "Is it ok to delete custom domain txt verification records?"
After a custom domain has been verified is it ok the delete the verification txt or mx records?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 455c7ecb-4214-5ad1-dc68-88ff558e98c7
* Version Independent ID: 381e1b03-06cd-64ac-c811-9e15fa0c4457
* Content: [Add your custom domain - Azure Active Directory](https://docs.mic

[2019-03-21 06:33] mcurko commented on #27595
Simple and clear explanation. Thanks!

[2019-03-21 06:34] RohitMungi-MSFT commented on #27600
@roalexan @amsword I think for the latest release use
`from azure.cognitiveservices.vision.computervision import ComputerVisionClient`

The reference to the new documentation of the client is [here](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-vision-computervision/azure.cognitiveservices.vision.computervision.computervisionclient?view=azure-python).

I have filed an [issue

[2019-03-21 06:38] YutongTie-MSFT commented on #23166
@rboy1 Hi, thank you for the follow-up and sorry for the waiting, I am keeping eyes on it.

@Jann-Skotdal Hi Jann, could you please any insight on this issue? Documents or any guidance would help a lot for our customers. Please tell me if anything I can do, and also if there is other folk I should reach out, please tell me and I will do that. Thanks a lot.

[2019-03-21 06:40] YutongTie-MSFT commented on #26882
@nacharya1 Thank you, do you want me to keep this issue opening or you want me to close it if you already have work-item for this?

[2019-03-21 06:40] KrishnaG-MSFT commented on #27506
@kiranjshetty As stated in the article, "you can specify a path with a wildcard for the name" but not for the folder.

So you may go with standard directory structure (and dynamic file name structure as you have now) and have the log collection path something like /mnt/backupfileshare/tool/flow/0/xxxxxxx/*.log

It appears that there's no edits or updates needed for the current documentation but if

[2019-03-21 06:41] YutongTie-MSFT commented on #23049
@rongduan-zhu Thank you Rongduan, @codybushnell  does this help?

[2019-03-21 06:45] DixitArora-MSFT commented on #27524
@vikguptaMS There is a [watcher](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/IBlobWrittenWatcher.cs) and these are the attributes used to bind a parameter to an Azure Blob, causing the method to run [when a blob is uploaded](
https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/BlobTrig

[2019-03-21 06:56] RohitMungi-MSFT commented on #27420
Yes, I have seen high accuracy in both type of texts if mode is Handwritten.

[2019-03-21 06:57] vjrantal commented on #25007
@BryanTrach-MSFT @JasonWHowell @orspod The comments under this GitHub issue are useful and answers to the original question. I was wondering if this information is also captured in the documentation and if yes, could you add the link here as comment so that it is easy to find.

[2019-03-21 07:05] kiranjshetty commented on #27506
so in current state if its not possible with dynamic folder change,let me try with any other possibility.
I have logged feedback.You can close this discussion.

[2019-03-21 07:05] kiranjshetty commented on #27505
so in current state if its not possible with dynamic folder change,let me try with any other possibility.
I have logged feedback.You can close this thread.

[2019-03-21 07:08] KrishnaG-MSFT commented on #27506
For the benefit of broader audience, sharing the logged feedback which is [here](https://feedback.azure.com/forums/267889-log-analytics/suggestions/37161280-log-rotation-includes-dynamic-folder-name-change)

[2019-03-21 07:08] #27506 closed

[2019-03-21 07:08] SubhashVasarapu-MSFT commented on #27397
@difanyi , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-21 07:08] #27397 closed

[2019-03-21 07:10] ElliottZambo opened #27682 "mapping of service to BGP community value"
Hi There,
Could we add AAD 12076:5060 in the mapping of service to BGP community value?
Because I think we chose Other Office 365 Online services for AAD service in the past, but now we have AAD in the route filter. It will be more clear if we can add AAD 12076:5060 in the article.

Thanks for your attention

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-03-21 07:12] SadiqhAhmed-MSFT commented on #27574
@SteveBurkettNZ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 07:12] #27574 closed

[2019-03-21 07:21] KrishnaG-MSFT commented on #27590
@imeya, Azure monitor is a service under Management and Governance category. At high level, to collect and analyze telemetry data it includes Log Analytics suite and Application Insights. For more information, please refer https://docs.microsoft.com/en-us/azure/azure-monitor/ and https://docs.microsoft.com/en-us/azure/azure-monitor/overview

What kind of telemetry data is being handled by Log Anal

[2019-03-21 07:23] zarenner opened #27683 ""currently available for .NET Standard only" is incorrect"
The doc reads:
&gt; This library is currently available for .NET Standard only, it's not yet available for .NET Core.

This is incorrect - .NET Core implements .NET Standard, so if it was available for .NET Standard, it would be compatible with .NET Core.

I think the doc author confused .NET Standard with .NET Framework, and the text should read something similar to "... currently available for .

[2019-03-21 07:33] zarenner commented on #27683
Also, a new package https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table appears to have just hit 1.0.0 and supports .NET Standard/Core, so perhaps this sample is also out of date and references to Microsoft.Azure.CosmosDB.Table should be updated/removed?

[2019-03-21 07:38] SadiqhAhmed-MSFT commented on #27639
@imeya Could you please let us know the scenario? The flow for Azure VM backups is documented [here](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-userestapi-backupazurevms).

[2019-03-21 07:44] tudort-iquest commented on #21476
That part of the page (https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-to-azure-sql?toc=/azure/sql-database/toc.json#prerequisites) is still the same, no details on how to do that:
Prerequisites: "_Create an Azure Virtual Network (VNET) for the Azure Database Migration Service by using the Azure Resource Manager deployment model, which provides site-to-site connectivity to your on-p

[2019-03-21 07:49] MarkSFrancis commented on #13271
When I was working on this myself, I added the .sln to the. gitignore for a workaround, and kept the .sln file on a separate file share as it didn't change often.

I've since switched to using Kudu's ZipDeploy and publishing from a custom CI/CD process outside of Kudu rather than using the in built stuff. I'd recommend you do the same

[2019-03-21 08:00] wmengmsft commented on #27683
@zarenner, thanks for the feedback. We already have updated documentation for this page (as well as updated samples, already live in GitHub) in the pipeline that will be published very soon.
@SnehaGunda can provide more details.

[2019-03-21 08:02] falloutxAY opened #27684 "Setting Flask env on powershell is different"
https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-flask#run-the-web-app

Using Visual Studio code's powershell, instead of
set FLASK_APP = app.py
I had to use
$env:FLASK_APP = "app.py"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e178cd44-55d5-23ab-d965-94c47ada47dc
* Version Independent ID: c0f2ba6b-9c

[2019-03-21 08:02] imeya commented on #27639
@SadiqhAhmed-MSFT, I tried use the [api here](https://docs.microsoft.com/en-ca/rest/api/backup/protectionpolicyoperationstatuses/get?view=sqlallproducts-allversions), which has a parameter operationId, but I don't know how to get the operationId.

[2019-03-21 08:15] sasanmcp commented on #27293
I guess so too. But a confirmation from product group will be the best.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: marcusclayton <notifications@github.com>
Sent: Wednesday, March 20, 2019 9:55:54 AM
To: MicrosoftDocs/azure-docs
Cc: Sassan Hajrasooliha; Mention
Subject: Re: [MicrosoftDocs/azure-docs] why not convert domain? (#27293)

An inline note or ti

[2019-03-21 08:22] olitomlinson commented on #11899
We had to abandon this particular usage of Service Bus so I can't confirm nor deny if this ever got resolved.

[2019-03-21 08:31] KalyanChanumolu-MSFT commented on #27665
@olufea I tried to reproduce this for various document samples but wasn't successful
The insert was always cheaper in my case.

_Insert an Entity.
Request Charge of Insert Operation: **8.19**
Inserting a new Entity using the InsertOrMerge Upsert Operation.
Request Charge of InsertOrMerge Operation: **12.55**_

Could you please post a sample document with details of your PartitionKey and RowKey

[2019-03-21 08:32] AshokPeddakotla-MSFT commented on #27643
@KingdomOfEnds You receive this error when the resource SKU you've selected (such as VM size) isn't available for the location you've selected.

To determine which SKUs are available in a region, use the Get-AzComputeResourceSku PowerShell cmdlet. Filter the results by location. You must have the latest version of PowerShell for this command.

Ex: Get-AzComputeResourceSku | where {$_.Locations -ic

[2019-03-21 08:35] angoyal-msft commented on #27679
@Thoemmeli Thanks for bringing this up. As per my understanding, the feature we are talking about here is "Change Feed". But to clarify this further @SnehaGunda or @rimman Could you please comment on this.

[2019-03-21 08:37] timdagit opened #27685 "Broken link"
The link to further information on the JSON SerDe is broken:
https://blogs.msdn.microsoft.com/bigdatasupport/2014/06/18/how-to-use-a-custom-json-serde-with-microsoft-azure-hdinsight/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc92d9a-0e7d-e3f3-ee73-53748ae7da06
* Version Independent ID: 50127cc1-f642-41ce-9b5c-a18

[2019-03-21 08:39] aquibqureshi26 opened #27686 "Import and Export to Archive Tier"
Hi Team,
Can I directly put the data using import and export service to Azure storage archive tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63228b08-f4f2-36ca-4941-cb3ac92d6c09
* Version Independent ID: 228109d7-20cf-56cd-dc0d-86ff4f0cd7eb
* Content: [FAQ for Azure Import/Export service](https://docs.microsoft.c

[2019-03-21 08:41] colinrippeyfinarne commented on #27602
Hi @MarileeTurscak-MSFT my issue is directly related to this specific documentation page hence why I have raised them here and not on a product forum.

I have followed your steps and I have encountered these issues, and so I have provided feedback on this specific page.

If other users were to follow the exact same set of steps on this page they will likely encounter the same issues as I have, and

[2019-03-21 08:43] w0ut0 commented on #27046
Thank you for your insights @dlepow.

In my use case, we want to update the container image (with :latest tag), while the other properties of the containers don't change.

 We solved this by assigning a dummy environmentVariable in the yaml file, that we change every update ("az container create file.yaml"). This way Azure updates the container (and reuses the unchanged layers for faster deploymen

[2019-03-21 08:56] YASWANTHM-MSFT commented on #27686
@aquibqureshi26, Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-21 08:56] DixitArora-MSFT commented on #27676
@codefoster Follow the [az eventgrid event-subscription](https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription?view=azure-cli-latest#commands) doc which explain this with many examples.

[2019-03-21 09:01] OffColour commented on #23992
@TravisCragg-MSFT Standard_V2

[2019-03-21 09:08] SjoerdSlabbers opened #27687 "Profile containers introduction text"
in the first part of this page FSLogix is the preferred solution for Windows Virtual Desktop. But the second sentence states that this feature will be depreciated. Please clarify, doesn't make sense without mentioning that this will be integrated/rebranded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75645943-4897-b

[2019-03-21 09:09] pc87 commented on #27185
Sorry all...user error...after playing around some more today I have realized I have been making changes without publishing, therefore deploying on the original version(s)

[2019-03-21 09:12] CHEEKATLAPRADEEP-MSFT commented on #27685
Thanks for reporting this issue! We are investigating and will update you shortly.

[2019-03-21 09:14] #27185 closed

[2019-03-21 09:18] RohitMungi-MSFT commented on #27657
@gerisg It looks like this could be a feature request to the product group. We would recommend to raise a new idea at [cognitive services user voice page](https://cognitive.uservoice.com/forums/578689-qna-maker-api) for QnAMaker API.

[2019-03-21 09:18] DixitArora-MSFT commented on #27381
@zavr-1 Presently Function App on Linux with custom container on consumption plan is not supported, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 09:18] #27381 closed

[2019-03-21 09:21] RyanLWilliams opened #27688 "Documenatiation Mistake"
Hi. I think this line "A role assignment has three components: service principal, role definition, and scope." should say "A role assignment has three components: security principal, role definition, and scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1566f30c-a163-2d05-5b5f-f9a5bf2d9891
* Version Independent ID:

[2019-03-21 09:28] shashishailaj commented on #27681
@sixcorners Thank you for your query . We will investigate and update further

[2019-03-21 09:29] shashishailaj commented on #27684
@falloutxAY Thank you for your feedback . We will investigate and update further.

[2019-03-21 09:35] YASWANTHM-MSFT commented on #27686
@aquibqureshi26, Using Azure Import and Export service you can transfer large amounts of data to Azure blob storage quickly and cost effectively.
Please refer the following article to get more info on [Azure Import and export service use cases](https://docs.microsoft.com/en-us/azure/storage/common/storage-import-export-service#azure-importexport-usecases).
After transferring the data to Azure blob

[2019-03-21 09:45] KrishnaG-MSFT commented on #27587
@madhanan I have reproduced both the successful and failure scenarios. In your case, the invalid data format error is basically seen if $json is declared something like shown below.

[code]

But as instructed in the content article, you would have to declare $json something like shown below.

[code]

It appears that there's no edits or updates needed for the current documentation but if there are

[2019-03-21 09:49] #26641 closed

[2019-03-21 10:02] baglo opened #27690 "Small typo"
Under Key capabilities, the third bulleted list starts with a typo: "You can also also".

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desktop? (preview)  - Azure](https://docs.mic

[2019-03-21 10:13] wrende opened #27691 "Payload does not contain 'Device Properties' data on rule trigger"
In the telemetry rule example in the documentation we can clearly see properties in the payload:
[code]
However this is not the case with a telemetry rule in another IoT Central environment.
There we only get following data:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 055fffa9-81c0-eef2-bad5-149383e5ae1a
* V

[2019-03-21 10:18] aquibqureshi26 commented on #27686
I just wanted to know if this has to be by us or can be done using import and export service automatically. Thanks for all the help.

Thanks yashwanth for clarification. you can proceed ahead with closure of the thread.

[2019-03-21 10:18] #27686 closed

[2019-03-21 10:22] KetanChawda-MSFT commented on #27508
@githubavi The way you are trying will not work because the `LocalHttpPort` sets the default port used when running the local Functions host (func host start and func run) and the docker container has only function runtime and not func core tools hence it will not understand `LocalHttpPort`

You can try setting the port in your Dockerfile as shown below:

`ENV ASPNETCORE_URLS=http://*:8080`

https

[2019-03-21 10:30] CHEEKATLAPRADEEP-MSFT commented on #27688
@RyanLWilliams Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/70350](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70350).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2019-03-21 10:35] CHEEKATLAPRADEEP-MSFT commented on #27690
@baglo Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/70351](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70351).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-03-21 10:38] #27688 closed

[2019-03-21 10:39] CHEEKATLAPRADEEP-MSFT commented on #27687
@SjoerdSlabbers Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-21 10:42] #27690 closed

[2019-03-21 10:48] PanosPeriorellis commented on #20810
PR raised. good to close

[2019-03-21 10:52] AshokPeddakotla-MSFT commented on #20810
@PanosPeriorellis Thank you!
@wooters We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 10:52] #20810 closed

[2019-03-21 10:53] PanosPeriorellis commented on #20811
I raised PR. good to close

[2019-03-21 10:54] shashishailaj commented on #27691
@wrende Thank you for your feedback . We will investigate and update further.

[2019-03-21 10:56] PanosPeriorellis commented on #20812
raised Pr, good to close.

[2019-03-21 10:56] AshokPeddakotla-MSFT commented on #20811
@PanosPeriorellis Thanks for looking into this.
@wooters We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 10:56] #20811 closed

[2019-03-21 11:00] AshokPeddakotla-MSFT commented on #20812
@PanosPeriorellis  Thanks!
@wooters We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 11:00] #20812 closed

[2019-03-21 11:03] sergaz-msft commented on #24548
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 11:03] #24548 closed

[2019-03-21 11:18] julesman101 commented on #27687
In my opinion the second occurrence in that opening sentence of "FSLogix profile container" should be replaced with the words "User Profile Disk (UPD)".

[2019-03-21 11:19] vikaskumawat80 commented on #27192
It is very disappointing that Azure cannot compete with AWS in so many areas even today. Azure DDoS not going to help us here. We are running our own code for authorization and authentication using lamda@edge.

[2019-03-21 11:27] msrini-MSFT commented on #26251
@dikadali , I will go ahead and close this issue, Please check the functionality, and if it works then please report here.

[2019-03-21 11:27] #26251 closed

[2019-03-21 11:31] cicorias commented on #27519
I do agree - but ideally, we have complete scripts that encompass these commands - and can emit if a version isn't supported. Then all the bash commands up to the security daemon could be one script that verifies the version. If that's something useful, a script and place to host, I can certainly provide that part.

# Idea
To make life simpler for the copy/paste folks (me) can we have two code box

[2019-03-21 12:11] StefanIvemo opened #27693 "NSG using service tags"
Can you please update the documentation regarding the NSG to use service tags for Azure Services instead of Internet for the inbound and outbound dependencies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [N

[2019-03-21 12:12] julesman101 opened #27694 "Add check to confirm that role "Tenant Creator" is assigned to the selected user"
In the section called "Assign the TenantCreator application role to a user in your Azure Active Directory tenant" I recommend adding a 7th Step to confirm that the portal now shows the added user to have "TenantCreator" role assigned to it.

I initially skipped this section because I saw my user account was already added to the App, but it ONLY had "Default Access" role so tenant creation failed.

[2019-03-21 12:15] BhargaviAnnadevara-MSFT commented on #27394
@imeya Ok, I shall check with our internal teams about the existence of a better approach and get back to you.

[2019-03-21 12:32] PramodValavala-MSFT commented on #27411
@julesman101 @jasonrmh You are right. It seems the doc was updated from `AzureRm` to `Az` but some of the cmdlets don't exist anymore as you have already mentioned. We will review and update the docs.

For now, you should be able to set the certificates for the custom domain from the portal like below.
![image](https://user-images.githubusercontent.com/43602528/54752192-39cf2380-4c03-11e9-9ab5-25e

[2019-03-21 12:32] JasperCodes opened #27695 "workspaces can't be linked to automation accounts in other resource groups, but I can do this"
&gt; To be linked, the Log Analytics workspace and Automation account must be in the same resource group and region. The exception is a workspace in East US region and Automation account in East US 2.

Is this still valid? I have multiple workspaces linked to automation accounts in other resource groups (but still the same region).

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-21 12:51] snyder-riley-pfg commented on #27622
It turns out, we had our run-as account set up correctly for the tasks it was running, but it did not have contributor to our automation account (only had contributor in other resource groups). After giving it this access we were able to connect the source control right away.

[2019-03-21 12:51] #27622 closed

[2019-03-21 12:58] dipdeb commented on #9442
According to this document, **Attach Existing** should be there but I couldn't find it anywhere in the new portal,
![az3](https://user-images.githubusercontent.com/11044990/54752987-e4e0dc80-4c05-11e9-9441-2cd13c03b749.png)

also **Detach** is also missing or am I missing something?
![az4](https://user-images.githubusercontent.com/11044990/54753182-6f294080-4c06-11e9-854a-0a8880cd8a83.png)

[2019-03-21 12:58] mill5james opened #27696 "The example query for routing leaf messages is incorrect"
The example in the "Declare routes" to route messages from leaf devices is incorrect.

Incorrect
`FROM /messages/* WHERE NOT IS_DEFINED($connectionModuleId) INTO $upstream`

Correct
`FROM /messages/* WHERE NOT IS_DEFINED({$ConnectionModuleId}) INTO $upstream`

The instructions for using system properties states:

- System properties: `$<propertyName>` or `{$<propertyName>}`

but I have found the f

[2019-03-21 13:04] ilaizi commented on #17878
I am also facing this issue, can you guys reopen it please?

[2019-03-21 13:10] CHEEKATLAPRADEEP-MSFT commented on #27694
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-21 13:21] awickham10 commented on #21602
I used the Custom Origin option and a hostname from the Storage Account > Static Website > Primary Endpoint which is x.z.web.core.windows.net instead of the x.blob.core.windows.net URL you get when using an origin type of Storage.

Hopefully that helps.

[2019-03-21 13:27] DCtheGeek commented on #27185
@pc87 That was going to be my follow-up question.  Glad you figured it out.  Thanks for reaching out and confirming the solution.  If you have future questions or issues with the docs, please don't hesitate to open a new issue!

[2019-03-21 13:29] vishalaj1 opened #27697 "JSON - Supporting only single Array"
Hi Team,

For JSON format ADF is supporting only one Array. We cannot connect multiple arrays using paths. Can you put this in restrictions specific for JSON.

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c719f3-a6d9-2cca-9042-eec0b3a393ab
* Version Independent ID: 153103c7-4204-ff91-4b17-e75e451942

[2019-03-21 13:37] githubavi commented on #27508
Thanks Ketan,
I will try and confirm.

-Avijit
________________________________
From: KetanChawda-MSFT <notifications@github.com>
Sent: 21 March 2019 03:22
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to run Function App on different port than default port 80 (#27508)

@githubavi<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F

[2019-03-21 13:39] krob527 commented on #27631
My pleasure!

Kevin Robinson
President / CTO
RTriad Enterprises, LLC

     [Spec_Impl_Azure_InfraSol_BW]

[cid:image005.png@01D43978.2DF92B30]

Email: Kevin@RTriad.com<mailto:Kevin@RTriad.com>
Phone: 336-517-7479

[MCSA_Office365_Blk]

From: kobulloc-MSFT <notifications@github.com>
Sent: Thursday, March 21, 2019 1:14 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Robinso

[2019-03-21 13:48] byrneo opened #27698 "Wrong containergroup name specified in Resource Manager template example"
The following Azure CLI command under the Resource Manager template example:
az container logs --resource-group myResourceGroup --name gpucontainergroup --container-name gpucontainer

should read:
az container logs --resource-group myResourceGroup --name gpucontainergrouprm --container-name gpucontainer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-21 13:56] Benjiiim opened #27699 "Wrong section reference"
There is no section 6.2 in the "Participation Policies" document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42d0270d-7734-62c8-8373-bf675b3bfe1e
* Version Independent ID: 9aab8950-ada1-8cf9-2d61-7475709655fd
* Content: [Delete Marketplace Offers - Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketpla

[2019-03-21 13:58] mcurko commented on #21985
I confirm the reported problem. You need to add the access policy for the current user.

[2019-03-21 13:59] yehoshuadimarsky opened #27700 "Client connections from Linux"
Hi, is there a way to connect a client to Azure AS from Linux? I have an ETL workflow on Azure Databricks (which has an underlying Linux OS, Ubuntu to be exact) that needs to pull data from Azure AS for ML processing. How can I connect to Azure AS from Linux? Do these 3 client libraries support installation on Linux? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-03-21 14:02] kevinvngo commented on #14567
#please-close

[2019-03-21 14:03] kevinvngo commented on #16374
#please-close

[2019-03-21 14:06] shashishailaj commented on #27693
@StefanIvemo Thank you for pointing that out. We will have this reviewed and actioned accordingly.

[2019-03-21 14:06] charles-steinmetz opened #27701 "Security Info Page Sometimes Requires MFA Challenge"
When trying to access the Security Info page to reset their MFA Authenicator app, the user gets prompted with an MFA challenge. What is causing the MFA challenge? We need to ensure users whose Auth app is broken can access this page without MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9ff347-e8ff-e3e5-b053-fe2

[2019-03-21 14:08] nboettcher opened #27702 "Source Control sync fails when Azure modules are out of date"
I recently had an issue where I was trying to run a Source Control Sync and it said it was completing successfully, but it did not import any runbooks from source control. Looking at the 'All Logs' I could see the following error:

Logging in to Azure...

Parameter 'Environment' is obsolete. This parameter is only for backwards compatibility; users should use EnvironmentName instead.

System.Manag

[2019-03-21 14:11] pochiraju commented on #21476
hello,
Good feedback, we will make sure to add the guidance that helps you to create Virtual network.
For now, please use the link, https://docs.microsoft.com/en-us/azure/virtual-network/
Provide step-by-step guidance.
Thanks
Raj Pochiraju

[2019-03-21 14:13] shashishailaj commented on #27695
@JasperCodes Thank you for your feedback . We will investigate and update on this further.

[2019-03-21 14:14] nurleni opened #27703 "quality"
better

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0420c638-1d2b-0348-1106-ee51f3000c38
* Version Independent ID: c7be09e7-9c66-5c5f-6c5b-28164f14bc7d
* Content: [Azure CLI Samples](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-samples#feedback)
* Content Source: [articles/virtual-machines/linux/

[2019-03-21 14:17] kasunsjc commented on #27585
Hi Guys

Does anyone getting bellow error

`kasun@Azure:~$ az aks update   --resource-group promakscluster   --name promakscluster   --enable-cluster-autoscaler   --min-count 1   --max-count 10
az aks: 'update' is not in the 'az aks' command group. See 'az aks --help'.`

Check with following doc and can't find a update parameter
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest

[2019-03-21 14:18] jontowles opened #27704 "rdbroker.wvd.microsoft.com"
This doesn't work..

Basically shows that URL is down

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Create a host pool with Azure Marketplace (preview)  - Azure](https://docs.microsoft.com/en-us/azure/virtua

[2019-03-21 14:24] shashishailaj commented on #27696
@mill5james Thank you for pointing that out . We will have this reviewed and updated as required.

[2019-03-21 14:27] shashishailaj commented on #27697
@vishalaj1 Thank you for your feedback . We will investigate and update further.

[2019-03-21 14:29] shashishailaj commented on #27698
@byrneo Thank you for your feedback . We will investigate and update the thread.

[2019-03-21 14:43] StarkCaptain opened #27707 "Nested logical operators"
Can you provide more information on nesting logical operators. Using a combination of allOf and anyOf. There appears to be some re-parsing of the json when you save a definition in Azure that occurs when using nested logical operators.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b

[2019-03-21 14:45] KalyanChanumolu-MSFT commented on #27395
@gopala000 Sorry for the delay in getting back to you
You will have to use a custom dimension to acheive the above
Please use a Telemetry initializer to assign the properties you wish to populate per environment/application.

Sample code below

[code]
in Startup.cs,

[code]
You will them be able to query in Log Analytics using the below query

[code]
Please try and let us know

[2019-03-21 14:47] marroema opened #27708 "Service tags for Australia Central and Australia Central 2 not present"
Where are Service tags for Australia Central and Australia Central 2? If there are no Service tags for those regions, how can I add them in the NSG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure securi

[2019-03-21 14:48] shashishailaj commented on #27701
@charles-steinmetz Thank you for your feedback . We will investigate and update further.

[2019-03-21 14:51] bdschaap opened #27709 "Which Metric for Concurrent Receive Requests Quota?"
Which metric can be used to track the "Number of concurrent receive requests on a queue, topic, or subscription entity" quota listed in Service Bus Limits?  If there isn't one then I'll submit Product Feedback for an enhancement.

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#service-bus-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-03-21 15:00] msrini-MSFT commented on #27682
@ElliottZambo ,The community is not completely rolled out yet. It will be updated when it is ready. Closing  this thread for now.

[2019-03-21 15:00] #27682 closed

[2019-03-21 15:00] ecfan commented on #22570
@brandonsimmons, can you please confirm the requirement so we can get this work on the doc backlog? This issue is approaching the 90-day threshold and must be closed soon. Thanks!

[2019-03-21 15:01] ronortloff commented on #7899
This question was addressed in the MSDN post referenced by Matt.  #please-close

[2019-03-21 15:01] BhargaviAnnadevara-MSFT commented on #27571
@Kelviny128 Have you had a chance to check the above?

[2019-03-21 15:06] ronortloff commented on #8176
A fix for this was released.  #please-close

[2019-03-21 15:06] #27513 closed

[2019-03-21 15:08] Tiberriver256 opened #27710 "Performance Troubleshooting Guidance"
Hello,

Is there any good performance troubleshooting guidance available? The startup time on my multi-container docker-compose is pretty lengthy. Is there anywhere I can figure out what's causing the startup time to go so long?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Versi

[2019-03-21 15:10] BhargaviAnnadevara-MSFT commented on #27406
@haoxin Could you please confirm the version of Azure CLI that you're using?

[2019-03-21 15:11] JasonWHowell commented on #27277
@anssenfang1 the screenshot didn't come across. Maybe try pasting in the github site, instead of email reply. THanks for the help.

[2019-03-21 15:16] spelluru commented on #7520
@jwargo - No. Sorry. I have to take this as an action item.

[2019-03-21 15:19] JasonWHowell commented on #27685
@timdagit Here's a link for now: https://web.archive.org/web/20190217104719/https://blogs.msdn.microsoft.com/bigdatasupport/2014/06/18/how-to-use-a-custom-json-serde-with-microsoft-azure-hdinsight/

[2019-03-21 15:23] shashishailaj commented on #27708
@marroema Thank you for your feedback . We will investigate and update further.

[2019-03-21 15:26] georgewallace commented on #27702
@nboettcher Thank you for this feedback.. I will add this as a pre-requisite.. Once I get the changes merged, they will automatically close this issue.  Thank you for reaching out!

[2019-03-21 15:27] shashishailaj commented on #26743
@SunnyDeng Thank you for confirmation . We will close this one.

[2019-03-21 15:27] #26743 closed

[2019-03-21 15:29] shashishailaj commented on #14567
Thank you for the update @kevinvngo . Closing this one.

[2019-03-21 15:29] #14567 closed

[2019-03-21 15:30] ronortloff commented on #9040
Thanks for providing tip.  This is under consideration for adding to documentation.  #please-close

[2019-03-21 15:32] ronortloff commented on #14435
#please-close.  Thank you for posting to the forum.  Status will be tracked through the user voice request going forward.

[2019-03-21 15:33] MarcLaf commented on #27634
I've made a mistake - MFA Trusted IPs are not a requirement - this is a separate feature that was confusing me. Azure MFA included with O365 is not the same as Conditional Access MFA.

[2019-03-21 15:33] cchambers-cap opened #27711 "Are OATH hardware tokens reassignable?"
I asked Alex Simons via Twitter and was told yes, but I don't see how to reassign. Do I have to delete the token from Azure and re-add it, requiring me to save the password in a secure location and track which tokens are in and not in Azure? I was hoping I could change the UPN of a deactivated token to reassign. Could you lease update this documentation with details on what is or is not possible?

[2019-03-21 15:36] roygara commented on #26783
#please-close

[2019-03-21 15:39] brandonsimons commented on #22570
The connector relies on instances/databases being available, and is not dependent upon specific apps being installed.  I suspect there was a different issue that was hiding the instance, and not necessarily due to the specific app being installed.

[2019-03-21 15:39] valdasm opened #27712 "Azure Data Factory event-based triggers break Azure Data Lake Store Gen2"
Hi,

Azure Data Factory allows creating event-based triggers on Azure Data Lake Store Gen2. However, after publishing the pipeline with a BlobEventTrigger, I can no longer access the data lake store files and I get the below errors:

* Microsoft Storage Explorer

* Azure Portal (Data Lake Storage -> File systems)

I managed to get access back to Azure Data Lake Store Gen2 only after deactivating t

[2019-03-21 15:40] #27595 closed

[2019-03-21 15:48] MicahMcKittrick-MSFT commented on #27703
@nurleni please provide more specific information if you have any feedback on this specific doc

[2019-03-21 15:52] iainfoulds commented on #27585
@kasunsjc That command is part of the `aks-preview` CLI extension. From the doc:

![image](https://user-images.githubusercontent.com/17856069/54765365-9a843f00-4bb6-11e9-87a8-5c3da7ee2f73.png)

[2019-03-21 15:53] JohnBoncek commented on #24140
Is there a way to subscribe to this issue, either on Microsoft or GitHub?  Maybe this will subscribe me just by posting, but I know that's not ideal.

[2019-03-21 15:58] jheran007 commented on #27704
Worked for me. What's the actual error you are seeing?

[2019-03-21 15:59] JasonWHowell commented on #27685
I've added the link to the archived blog post, so it should publish later today. Unfortunately, that MSDN blog was retired. #please-close

[2019-03-21 16:01] MicahMcKittrick-MSFT commented on #27650
@zikalino I would agree that posting the concerns here https://github.com/Azure/azure-rest-api-specs/issues might be a better route. At least it would have the correct people involved to take a look.

And thank you @rloutlaw for getting back so quickly.

[2019-03-21 16:02] PramodValavala-MSFT commented on #27649
@mikeharder I believe hourly is how its done now and the [pricing](https://azure.microsoft.com/en-us/pricing/details/service-bus/) page seems to reflect the hourly price as well though the FAQ section still needs updating.

Some other docs also seem to require updating in a few places I think
- [Service Bus pricing and billing](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-b

[2019-03-21 16:02] #27685 closed

[2019-03-21 16:04] DaDug opened #27713 "The appplication "Visual Studio Code" must be installed befor the extenstions."
This was real confusing.  The app is named Visual Studio Code" one my think that Visual Studio Code is code in visual studio not an application.  Especially due to it is referred to in a heading were everything is typically capitalized.  In any case the order of installs won't work as directed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-21 16:04] charwen commented on #25812
@vicperdana  please create one and send me the link.

[2019-03-21 16:07] ecfan commented on #22570
@brandonsimons, thanks for the response! If something else caused this problem, is there any other doc-related action item here? If not, we can close this specific thread, but is there somewhere else better to surface the problem?

[2019-03-21 16:09] NextTurn commented on #27522
dotnet/docs#11438

[2019-03-21 16:09] PramodValavala-MSFT commented on #27411
@julesman101 @jasonrmh I believe the missing cmdlets were just aliases of sorts for setting the required properties and is probably why they were removed. Here is a way the same can be achieved using `Az`

[code]

[2019-03-21 16:11] MicahMcKittrick-MSFT commented on #27654
@FallenGameR I will close this for now. I noticed you are an FTE so please ping me offline if you have further questions :)

[2019-03-21 16:11] #27654 closed

[2019-03-21 16:12] dmarlow commented on #13398
I looked into the intelligent insights, and looked through the demo video, but it's not apparent on how to get the program/application name. The SPID is available only after drilling far down into a particular query. The program/application name needs to be a top level item that can be pivoted on to see how one particular application is utilizing the DB and how much so.

[2019-03-21 16:14] JasonWHowell commented on #25007
@vjrantal We have it in the plan, but I cannot add it inline in this doc. Quickstarts are meant to be short, single path forward to get started with a topic. We'll have to add a separate doc for the depths of the feature since this isn't the most "basic" scenario.  Thanks, Jason cc: @orspod

[2019-03-21 16:16] olufea commented on #27665
Here're the snippets below. Interestingly, the cost of the InsertOrMerge is not constant.. I get a different number every time i run it. 9.99, 10.15, 10.01. Insert is constant though.

var data = CustomerEntity.GetV1_AverageCase();
var w = table.ExecuteAsync(TableOperation.Insert(data)).Result.RequestCharge; // Result = 22.86
var data2 = CustomerEntity.GetV1_AverageCase();
var w2 = table.ExecuteAs

[2019-03-21 16:18] ronortloff commented on #18279
This was answered in an email thread.  Summarizing here... Polybase uses INSERT..SELECT which is what CTAS uses as well.  #please-close

[2019-03-21 16:19] ronortloff commented on #25657
#please-close

[2019-03-21 16:20] planeguy commented on #27495
any word on this yet?

[2019-03-21 16:20] olufea commented on #27665
Also this is a 2 region Multi-Master Write with Strong-Consistency

[2019-03-21 16:23] bsimser commented on #17169
Thanks for the clarification @anirudhcavale that helps. Also the content source link in the first post doesn't seem to be working now.

[2019-03-21 16:29] danimir commented on #13398
Intelligent Insights is not designed in mind to indicate which application/program is executing a query -- this would be unsupported scenario. Thanks.

[2019-03-21 16:32] Mike-Ubezzi-MSFT commented on #8176
@toenie23  @MohsineC @aceptra @hipejoe @kflili @mpiecyk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 16:32] #8176 closed

[2019-03-21 16:35] marvin06 opened #27715 "Zooming in Charts"
Hi,
is it possible to implement zooming in charts (as available in TSI preview portal)? E.g. utilizing that brushAction/or context menue?
Kr, Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691ee7f7-6ffa-1f2e-bc90-abaae2d6faec
* Version Independent ID: f8a60b14-3a2c-9e16-77a9-365c50e0ca03
* Content: [Tutorial: Ex

[2019-03-21 16:36] Mike-Ubezzi-MSFT commented on #14435
@jpchauhan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 16:36] #14435 closed

[2019-03-21 16:38] Mike-Ubezzi-MSFT commented on #18279
@AlexanderTodorovic We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 16:38] #18279 closed

[2019-03-21 16:38] mike-urnun-msft commented on #27709
Hi @bdschaap Thank you for your feedback! We will review and update as appropriate.

[2019-03-21 16:40] AjayKumar-MSFT commented on #27149
@dcbrown16, The ILB ASE cert can either be a wildcard cert or it can include every app that is in the ASE in the SAN. As a good practice you could always use the subject as *.<domain of the ASE>  It might work without the wildcard.  The trick is of course to include every app in the SAN of the cert.
We will close this out, but if you feel you need more information please just let us know.

[2019-03-21 16:40] #27149 closed

[2019-03-21 16:43] CeciAc opened #27716 "Error"
@andyjuang840502 commented on [Wed Mar 20 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/262)

$snapshotConfig = New-AzSnapshotConfig -SourceResourceId $snapshot.Id -Location $snapshot.Location -CreateOption Copy -SkuName Standard_LRS
這行的skuname那邊應該是輸入StandardLRS而非Standard_LRS

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: aaf8069a-d18b-a8b2-be13-002

[2019-03-21 16:44] PanosPeriorellis commented on #24930
Yes this is legit.

[2019-03-21 16:47] PanosPeriorellis commented on #22206
If you are using a free key there is limitation of the file size which is 1KB.
you should use UTF8 encoding and the format should be 'Display Form<TAB>Spoken Form<NEWLINE>'

[2019-03-21 16:51] himanshusinha-msft commented on #27470
I am closing the issue at this time , if you feel you can always open this in future .

[2019-03-21 16:51] #27470 closed

[2019-03-21 16:51] BhargaviAnnadevara-MSFT commented on #27406
@haoxin Also, do you see the same error while trying to create the cluster from Azure Cloud Shell?

[2019-03-21 16:51] CeciAc commented on #27716
Hi team
The contributor is reporting an error in the example

[2019-03-21 16:59] ChiragMishra-MSFT commented on #27712
@valdasm Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-21 17:02] Heidilohr commented on #27687
You're correct, it was the User Profile Disk that was supposed to be deprecated. We're working on fixing the text right now.

[2019-03-21 17:06] PramodValavala-MSFT commented on #23263
@andrewatfornax Sorry for not getting back sooner.

It is indeed true that the current instructions in the doc just provide an Application Gateway exposing APIM present in a private VNET.

But I believe that statement can still be true. While the doc doesn't have a sample for it yet, it does have a [note](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal

[2019-03-21 17:08] msrini-MSFT commented on #27716
@CeciAc , Can you share the error which you get?

It just works fine when I use "Standard_LRS"

![image](https://user-images.githubusercontent.com/47132998/54770815-fdfb8480-4c29-11e9-8875-dc494a8b7427.png)

[2019-03-21 17:12] jheran007 opened #27717 "Feed URL for HTML5"
Where do I find this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47fa31e-8e71-8bd4-eb12-7a0ceba6c1b8
* Version Independent ID: 209284ba-cf2b-59fd-0235-420bd99eb5ef
* Content: [Connect with the web client (preview)  - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-web#access-remote-resources-

[2019-03-21 17:16] KingdomOfEnds commented on #27652
Thanks @walsehgal - I appreciate it. I think it's wise to make those kinds of alterations. Furthermore, it's probably not too difficult to do from an engineering standpoint. Cheers!

[2019-03-21 17:18] kevinvngo commented on #13764
Hi Prashanth,

We’re looking into why the REST API doc was not automatically generated. If you are currently blocked, the REST call is exactly like the GET (https://docs.microsoft.com/en-us/rest/api/sql/restorepoints/listbydatabase) but in the PUT, in the request body, you provide the label name:

{"RestorePointLabel" : "myname"}

[2019-03-21 17:22] romankiss opened #27718 "Response from commands"
The document shows how to create a command for invoking a direct method on the device, https://docs.microsoft.com/en-us/azure/iot-central/tutorial-define-device-type#use-commands

But, there is missing a description about the response payload from the device direct method either its showing on the dashboard or mapping to the iotc app properties.

Does this feature is supported in the current Azure

[2019-03-21 17:23] BhargaviAnnadevara-MSFT commented on #27394
@imeya This should explain the slowness observed with the above approach:

Developer Mode in the .NET Application Insights SDK does a couple of things, primarily enabling debug messages and disabling batching of telemetry.

While the Node SDK doesn’t have a single setting that does this, you can get the same behavior by using both of the following settings together:

`appInsights.setup(...).setInt

[2019-03-21 17:24] kevinvngo commented on #13764
This is currently being tracked as a product defect as the REST API is automatically created.

[2019-03-21 17:24] Heidilohr commented on #27687
We've corrected the text and the change should appear soon.

[2019-03-21 17:25] Mike-Ubezzi-MSFT commented on #25956
@sladeedmonds Can you upgrade to 2.0.60, as I am currently walking through this tutorial in a Cloud Shell environment (via the docs) and I am not having any issues. The Cloud Shell is currently running 2.0.60).

[Script](https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/create-database-account-collections-cli?toc=%2Fcli%2Fazure%2Ftoc.json#sample-script) completed successfully after updating

[2019-03-21 17:25] kevinvngo commented on #13764
#please-close

[2019-03-21 17:27] AjayKumar-MSFT commented on #27670
@Olavt, That’s a good observation! Thanks for the feedback on this item. As you noticed in both the documents ‘Create external ASE’ and ‘Create internal ASE’; the first para highlights the same content just to provide a good comparison of the both. The ‘Create external ASE’ as it does provide extensive steps for creating an external ASE and also compares internal ASE for better clarity and also li

[2019-03-21 17:28] CeciAc opened #27719 "Status: Provider failed due to subscription is not registered to use namespace ‘Microsoft.ContainerInstance’"
@SamuelBering commented on [Thu Mar 21 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/143)

Just a little note that I think you should provide more info about in this great article:
If you don´t previously have added a container instances resource in the Azure Portal you will get status: "provider failed" when inspect your created pod with kubectl get pods -o wide. I search for sev

[2019-03-21 17:28] Robert-Kostecki commented on #25657
@ronortloff  Apologies I've missed your previous reply. I'm even more confused after reading your reply.

If "Static resource classes allocate a fixed number of concurrency slots." and "Concurrency slots are analogous to memory." and based on the article "Static resource classes allocate the same amount of memory (regardless of DWU level)” therefore logically "There is a fixed number of Concurrenc

[2019-03-21 17:29] joeljanke opened #27720 "Service Administrator vs Service Support Administrator"
The Azure GUI shows a role called "Service Administrator", but does not show "Service Support Administrator".   The documentation has "Service Support Administrator", but does not not have "Service Administrator".   Clearly the "Service Support Administrator" of the documentation is intended to be the "Service Administrator" in the GUI.   So can we get the GUI and the documentation aligned?    Whi

[2019-03-21 17:30] CeciAc commented on #27719
Hi team,
the contributor is suggesting an addition to the original documentation
best

[2019-03-21 17:32] Alberto-Vega-MSFT commented on #27390
@yzll111 Since we haven't heard back from you, we will be closing this issue for now. You can still reach for support ticket if you need to.  Also if there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 17:32] #27390 closed

[2019-03-21 17:32] MarileeTurscak-MSFT commented on #27720
@joeljanke
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-21 17:33] AjayKumar-MSFT commented on #27554
@embee8, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-21 17:33] #27554 closed

[2019-03-21 17:34] Karishma-Tiwari-MSFT commented on #27185
Thanks @DCtheGeek and @pc87

[2019-03-21 17:37] GhostAtom opened #27721 "custom voice web site is down"
the web site https://customvoice.ai/ is down

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f0fa35c-379f-a8e4-01ec-fb5658ea81e7
* Version Independent ID: a17d066a-0c65-b956-ed1a-8503e3e17f6f
* Content: [How to create a custom voice font](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-c

[2019-03-21 17:39] MarileeTurscak-MSFT commented on #27720
Hi @joeljanke ,

Thanks for your suggestion. The documentation here states,

So the product team is aware of this difference. @curtand , do you know how they are addressing this?

[2019-03-21 17:41] Karishma-Tiwari-MSFT commented on #26014
@wandhydrant @raidlman @JonMarbach Thanks for bringing this to our attention. The product team is working on getting this fixed. In the meantime, the workaround suggested is to use RHEL version 7.5.
I will share here as and when there is an update on this.

[2019-03-21 17:41] himanshusinha-msft commented on #27700
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-21 17:42] ronortloff commented on #25657
Yes, the number of concurrency slots available increases with more DWU.  A data warehouse instance has memory as called out in the table under the section "Data warehouse capacity settings" in the article you referenced.  That memory is divided into concurrency slots.  Resource classes are comprised of concurrency slots.  DW100 has 60 GB of memory spread across 4 concurrency slots.  DW400 and 4x t

[2019-03-21 17:44] SaurabhSharma-MSFT commented on #27704
@jontowles Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-21 17:46] stevenzelenko commented on #27717
Yes, that would be helpful.  I can only connect WVD using the generic feed URL and RD Apps.

[2019-03-21 17:50] v-miclar commented on #27699
#please-close
Thank you for your feedback.  This sentence has been updated to:
"and the [Participation Policies](https://azure.microsoft.com/support/legal/marketplace/participation-policies/) (section [Offering suspension and removal](https://docs.microsoft.com/en-us/legal/marketplace/participation-policy#offering-suspension-and-removal))."

[2019-03-21 17:51] SaurabhSharma-MSFT commented on #14066
@motowilliams We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 17:51] #14066 closed

[2019-03-21 17:52] SaurabhSharma-MSFT commented on #27415
@Trundlore We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 17:55] SaurabhSharma-MSFT commented on #27504
I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread

[2019-03-21 17:56] rwike77 commented on #24190
I've merged the change that @KaiWalter suggested, which is now live.  I'm closing the issue for now.  If there are still problems please reopen.  Thanks.  #please-close

[2019-03-21 17:56] JasonWHowell commented on #27497
@anssenfang1
Thanks for the suggestion. When you see a minor edit, you may click the edit link and the pencil icon to type in the proposal to notify us. That would help us optimize a lot. Thanks, Jason

[2019-03-21 18:01] StingyJack commented on #27648
Oh, sorry. The Azure SQL Database blade when viewing the Overall details, there is a button for Export.
![image](https://user-images.githubusercontent.com/15381181/54774192-8c97e380-4be1-11e9-8970-697346d7e38e.png)

Clicking that button brings me to this page, where I have to enter some other credential set.
![image](https://user-images.githubusercontent.com/15381181/54774230-a0434a00-4be1-11e9-85

[2019-03-21 18:02] SaurabhSharma-MSFT commented on #27025
@smudgecat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 18:02] #27025 closed

[2019-03-21 18:02] rwike77 commented on #19872
@robinmanuelthiel Apologies for the slow reply.  Thanks for the suggestion.  We have a backlog item for creating JSON and YAML files, we'll update the article at some point in the future.  #please-close

[2019-03-21 18:02] #19872 closed

[2019-03-21 18:03] rwike77 commented on #26290
@aljo-microsoft  Thanks, we have a back log item for this work.  We'll update the examples sometime soon.  #please-close

[2019-03-21 18:07] prashanthyv commented on #24140
@JohnBoncek - The fix should be available by tomorrow

[2019-03-21 18:07] #26290 closed

[2019-03-21 18:09] cogran commented on #27380
Get Outlook for Android<https://aka.ms/ghei36>

From: KARTHIK SRINIVAS
Sent: Wednesday, March 20, 12:22 AM
Subject: Re: [MicrosoftDocs/azure-docs] FAQ Addition (#27380)
To: MicrosoftDocs/azure-docs
Cc: Corey Grant, Mention

@cogran<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcogran&data=02%7C01%7CCorey.Grant%40microsoft.com%7C43bb64ab7aa146b52dde08d6acf41471%7C72

[2019-03-21 18:10] conceptdev commented on #27509
Yes, thanks for your feedback. While this page is from 2016, the theory behind offline sync seems still valid. Did you find any particular section that was misleading?

There is _also_ a [Cordova-specific page](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-cordova-get-started-offline-data) that covers implementation details, and it's possible this content is out-of-d

[2019-03-21 18:10] Trundlore commented on #27415
Hi,

That was my point as noted in the opening comment, it doesn't mention anywhere in the documentation that this is the case.

[2019-03-21 18:12] SaurabhSharma-MSFT commented on #27415
@MicrosoftGuyJFlo Can you please help.

[2019-03-21 18:15] JasonWHowell commented on #27277
@anssenfang1 if you are at Microsoft can you ping hrasheed and myself jasonh as needed.

[2019-03-21 18:16] #27497 closed

[2019-03-21 18:21] MarileeTurscak-MSFT commented on #27711
@cchambers-cap
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-21 18:21] prashanthyv commented on #25805
Hi @dcleblanc - You can use this tutorial - https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-windows-virtual-machine

[2019-03-21 18:21] davidbxss opened #27727 "PIM & Office 365 Admin Roles"
There is a similar comment already closed here with little feedback.
Are there plans to extend PIM to built in, and custom defined Office 365 admin roles?
For me, security & compliance center roles are very important, and often over the top, granting access with PIM would be a great way to achieve a balance of access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-03-21 18:23] mpsingh24 opened #27728 "text/csv is a supported source as well"
Please update the "In-memory only" section and add text/csv as a supported source. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea45d88b-212b-51ae-b902-6efd5873f6c5
* Version Independent ID: 6f86e171-7553-3d01-00fa-e0865d8d817b
* Content: [Data sources supported in Azure Analysis Services](https://docs.micros

[2019-03-21 18:25] hrasheed-msft commented on #27280
@anssenfang1 Thank you for the suggestion. This article discusses searching through different log types and setting up alerts. Perhaps by table you mean log types? The purpose of this article isnt to enumerate all of the log types that might be imported into OMS. Imported log types may differ between cluster types and can also vary greatly depending on the cluster setup. However, we will add an it

[2019-03-21 18:26] hrasheed-msft commented on #27280
#please-close

[2019-03-21 18:27] Benjiiim commented on #27699
Thanks Michael. I think that we have the same issue with "Section 7" of the Microsoft Publisher Agreement.

[2019-03-21 18:28] SaurabhSharma-MSFT commented on #27509
@shlemonz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 18:28] #27509 closed

[2019-03-21 18:29] SaurabhSharma-MSFT commented on #27280
@anssenfang1

[2019-03-21 18:29] #27280 closed

[2019-03-21 18:30] Mike-Ubezzi-MSFT commented on #27477
@MashaMSFT I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-21 18:32] DaDug commented on #14309
I am a new user to the MXChip and related tutorials.  I have setup an Azure IoT hub prior to this instruction.  I have found my connection string; however, I can not use it with the instructions.  It says the format is invalid.  It looks like it may be missing the DeviceId.

Any advice on what is wrong here would be helpful if you have any?

[2019-03-21 18:32] SaurabhSharma-MSFT commented on #26783
@sumptersmartt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 18:32] #26783 closed

[2019-03-21 18:35] SaurabhSharma-MSFT commented on #24190
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 18:35] #24190 closed

[2019-03-21 18:38] tamram commented on #27495
This article notes that:

Files in the $web container are:
- served through anonymous access requests

So you should only use static websites for hosting files that you want to make available through anonymous access.

[2019-03-21 18:39] tamram commented on #27495
#please-close

[2019-03-21 18:43] MashaMSFT commented on #27477
@sqlazure thanks for bringing this to our attention! @Mike-Ubezzi-MSFT , I have a work item to add this, either in this month, or the next. Thanks!

[2019-03-21 18:43] B4PJS commented on #9040
Just as an FYI, if it is in the loop waiting for replication completion and another table is marked for replication it will not complete. Still testing further updates to pick up these new tables and replicate them, but nothing solid yet. Generally works fine though, but am sure you guys can tweak it better than I.

[2019-03-21 18:43] #9040 closed

[2019-03-21 18:45] SaurabhSharma-MSFT commented on #27495
@theheatDK We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-21 18:45] #27495 closed

[2019-03-21 18:46] Karishma-Tiwari-MSFT commented on #27358
@sbtron Did you get a chance to take a look at this one?

[2019-03-21 18:49] ChristianMontoya commented on #27717
Addressing this now! The link should be:
https://rdweb.wvd.microsoft.com/webclient

[2019-03-21 18:50] rayne-wiselman commented on #27034
The versions supported by Site Recovery are up-to-date in the article. In this article we state what's supported rather than reasons for what's not supported.

Thanks!
#please-close

[2019-03-21 18:53] DaDug commented on #14309
I am getting an error when after I upload and the device displays DPS failed.

This is the error below.

Error: Time:Thu Mar 21 18:05:29 2019 File:C:\Users\douga\AppData\Local\Arduino15\packages\AZ3166\hardware\stm32f4\1.6.1\libraries\AzureIoT\src\DevkitDPSClient.cpp Func:DevkitDPSClientStart Line:222 DiceInit failed! Check UDS string provided or set on configuration mode

************************

[2019-03-21 18:54] hrasheed-msft commented on #27277
@anssenfang1 Thank you for the recommendation. This article was only intended to provide a few "basic scenarios" on searching through logs and alerting on logs. I think the scenario you are discussing is a more advanced scenario of changing the basic cluster configuration and then wanting to search through the new logs that are being imported.  This would fit really well in a new article that addr

[2019-03-21 19:00] hrasheed-msft commented on #27277
#please-close

[2019-03-21 19:03] rupeshprasad opened #27733 "Would like to deny login to user based on extension attribute"
I have a custom attribute which i would like to use while authenticating. For example i have another status extension attribute. Which can have possible values like expired/blocked/inactive/active. While creating the user i will ensure there is a value populated for this. Now at the time of login i would like to consider this extension attribute as well. It may very well be possible that user is e

[2019-03-21 19:08] DaDug commented on #18546
DPS Failed.

Am I doing something wrong or does the tutorial need an update?

This message is displayed on screen. After the upload complets.

This is the output from VSCODE with the error in it.

Wi-Fi Verizon Moto Z (2) 4597 connected.
Time from pool.ntp.org, now is (UTC): Thu Mar 21 18:08:54 2019

Info:    DPS Version: 1.2.12

Error: Time:Thu Mar 21 18:08:56 2019 File:C:\Users\douga\AppData\Loc

[2019-03-21 19:10] yevster opened #27734 "Example uses GPL-licensed JDBC library"
MySQL's JDBC connector is licensed under GPL, a viral licenses that will in many cases force customers to release the source code to their applications under the same license. Since customers often copy&paste samples into their code, we should avoid exposing them to this risk.

Consider switching demos to use the MariaDB JDBC connector and removing the link to MySQL's examples page at the bottom.

[2019-03-21 19:10] Juliako commented on #26518
@kazshi, i added https://docs.microsoft.com/en-us/azure/media-services/latest/content-protection-overview#troubleshoot

[2019-03-21 19:11] hrasheed-msft commented on #27580
@anssenfang1 Thank you for the suggestion! I will submit a PR shortly to update the article based on your suggestions.

[2019-03-21 19:12] JHerna17 commented on #10953
Found some documentation here: https://github.com/apache/hadoop/blob/65f60e56b082faf92e1cd3daee2569d8fc669c67/hadoop-tools/hadoop-azure/src/site/markdown/abfs.md

[2019-03-21 19:15] DaDug opened #27735 "DPS Failed"
I get this message on screen after upload.

This is the output

Wi-Fi Verizon Moto Z (2) 4597 connected.
Time from pool.ntp.org, now is (UTC): Thu Mar 21 19:13:53 2019

&gt;&gt;&gt; Failed to send telemetry data: Http fault.
Info:    DPS Version: 1.2.12

Error: Time:Thu Mar 21 19:13:53 2019 File:C:\Users\douga\AppData\Local\Arduino15\packages\AZ3166\hardware\stm32f4\1.6.1\libraries\AzureIoT\src\De

[2019-03-21 19:17] tysonn commented on #22319
The PDF link has been made available in the docs.microsoft.com mobile experience now.

![image](https://user-images.githubusercontent.com/1765561/54778993-55223a80-4bd3-11e9-9890-10ed02fe5362.png)

[2019-03-21 19:19] HJToland3 commented on #18388
#please-close

[2019-03-21 19:20] MandiOhlinger commented on #14599
#please-close Hybrid Connections created in BizTalk Services is deprecated. Use https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections.

[2019-03-21 19:21] MarileeTurscak-MSFT commented on #27720
I have escalated your request to the product team. This may already be in the pipeline but will I will reply once I have confirmation.

[2019-03-21 19:23] walsehgal commented on #27652
yes, its not.
#please-close

[2019-03-21 19:24] cmmdesai commented on #19083
@MohitGargMSFT please assign this to @jeevansd

[2019-03-21 19:25] twooley commented on #14467
@BryanTrach-MSFT Can you please reassign to @Juliako? My apologies as I didn't see this sooner.

[2019-03-21 19:26] cwatson-cat commented on #16065
#please-close

[2019-03-21 19:28] hrasheed-msft commented on #27580
#please-close

[2019-03-21 19:30] ronortloff commented on #7899
#please-close

[2019-03-21 19:31] cwatson-cat commented on #10914
#please-close

[2019-03-21 19:33] cwatson-cat commented on #11945
#please-close

[2019-03-21 19:35] MarileeTurscak-MSFT commented on #27354
Hi @tiny-k12-it-admin ,

I'm sorry to hear that the Azure pricing model is difficult for your funding needs!

Fortunately, you can run a free trial of Enterprise State Roaming if you enable an Azure AD Premium free trial. The Azure AD Premium P2 trial is free for one month and should enable you to do the testing you described.

You can enable the free trial from the portal. https://azure.microsoft

[2019-03-21 19:35] MarileeTurscak-MSFT commented on #27354
I hope this helps! If you have further questions feel free to tag me in the comments or reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-21 19:35] #27354 closed

[2019-03-21 19:37] walsehgal commented on #18190
@tomkuijsten, sorry for reaching back so late. The issue has been resolved.
@sergaz-msft, #please-close

[2019-03-21 19:37] walsehgal commented on #27652
#please-close

[2019-03-21 19:40] NumberByColors commented on #17408
#please-close

[2019-03-21 19:40] NumberByColors commented on #19386
#please-close

[2019-03-21 19:43] Powerhelmsman commented on #8797
@femsulu Since no way to contact the true user for clarification. I will close it.

[2019-03-21 19:43] #8797 closed

[2019-03-21 19:46] Powerhelmsman commented on #20763
@sudeepku Can you take a look at this one? @mike-urnun-msft please assign this work item to sudeepku.

[2019-03-21 19:51] Alberto-Vega-MSFT commented on #27713
@DaDug I am sorry about the confusion. I agree that the fact that we talk about the extensions before touching on VS Code makes it confusing. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-21 19:53] CawaMS commented on #10488
#please-close

[2019-03-21 19:55] CawaMS commented on #10488
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

[2019-03-21 19:56] rupeshprasad opened #27737 "Would like to deny login to user based on extension attribute"
I have a custom attribute which i would like to use while authenticating. For example i have another status extension attribute. Which can have possible values like expired/blocked/inactive/active. While creating the user i will ensure there is a value populated for this. Now at the time of login i would like to consider this extension attribute as well. It may very well be possible that user is e

[2019-03-21 19:57] cherylmc commented on #18958
We have a doc item to update this during next review. Thanks! #please-close

[2019-03-21 19:58] #10488 closed

[2019-03-21 19:58] SnehaGunda commented on #23792
@noelram @corneliussens Thanks for your feedback and the suggestions. Apologies for the delay in responding to this issue. I am working on fixing the sample and the doc.

[2019-03-21 19:58] jlian commented on #20924
Looks like we're good here? #please-close

[2019-03-21 20:00] cherylmc commented on #6335
Hi- we updated this quite a while a go. Didn't realize this was still open. #please-close

[2019-03-21 20:04] rdmagm062699 commented on #21382
Any update on when/if this will be brought up to date?  Or advice on where else to find the up to date method for calculating Azure AD B2C spend?

[2019-03-21 20:07] #18958 closed

[2019-03-21 20:08] Mike-Ubezzi-MSFT commented on #27734
@yevster Thank you very much for providing such great feedback. This not only applies to this specific quickstart example but to other `code samples` where GPL applies. I am engaging the content owner to evaluate and update as appropriate.

[2019-03-21 20:11] artemuwka commented on #20288
Hi @ckarras! Thanks for the feedback. Which version of AzCopyV10 are you using? We've made a few enhancements to upload/download experience which were recently released and I wanted to make sure you're using the latest version - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#latest-preview-version-v10.

[2019-03-21 20:12] rimman commented on #27665
@olufea - please send us questions like these to AskCosmosDB@microsoft.com. This is use-case-specific question. Thank you.

[2019-03-21 20:12] seanmck commented on #11759
#please-close

[2019-03-21 20:18] #11759 closed

[2019-03-21 20:18] #19386 closed

[2019-03-21 20:19] srrengar commented on #16299
#please-close

[2019-03-21 20:20] #16299 closed

[2019-03-21 20:21] markedwardssiemens opened #27738 "How to edit mappings?"
In "Create a target table in Azure Data Explorer" Step 3 we create a mapping  using ".create table TestTable ingestion json mapping 'TestMapping' "

How can this mapping be viewed/edited after creation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddf4599f-0e80-47fc-c919-be4434dcdffd
* Version Independent ID: 9ba8a22

[2019-03-21 20:25] abgreg commented on #6533
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-21 20:27] MicrosoftGuyJFlo commented on #27711
Yes you have to remove and re-add to reassign.

[2019-03-21 20:28] rwike77 commented on #8380
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-21 20:30] fefie opened #27739 "Wrong address space"
In the section "Path to on-premises Location 2" https://docs.microsoft.com/en-us/azure/networking/connectivty-interoperability-data-plane?toc=%2Fazure%2Fexpressroute%2Ftoc.json#path-to-on-premises-location-2-1

The destination address "C:\Users\rb&gt;tracert 10.2.30.10" belongs to Location 1 instead 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-03-21 20:33] Mike-Ubezzi-MSFT commented on #27599
@ibTnJohn In looking through this issue, there are a couple of items to be discussed. One of which is the ask to enhance the data with load metrics and, the second is just a point regarding CTAS-like Polybase load performance.

If [Polybase](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-guide?view=sql-server-2017#why-use-polybase) is a seamless and transparent runtime

[2019-03-21 20:34] turb0chrg opened #27740 "Manual Installation"
The code snippet references WindowsAzureVmAgent.2.7.1198.778.rd_art_stable.160617-1120.fre but the download provides a WindowsAzureVmAgent.2.7.41491.898_181105-0846.fre.msi (different file names) so it makes copy and pasting not work... Maybe drop the /quiet as well so it doesn't quiet the error message that it can't find the MSI?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-21 20:35] Mike-Ubezzi-MSFT commented on #27636
@Phydeauxman We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 20:35] #27636 closed

[2019-03-21 20:36] SeanFeldman opened #27741 "Remove specific versions"
Having specific versions of packages hard-coded in the documentation that is static is getting out of date.
Take `Microsoft.Azure.WebJobs`, `Microsoft.Azure.WebJobs.Extensions`, `Microsoft.Azure.WebJobs.Logging.ApplicationInsights`, and others for example. These packages already use outdated versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-03-21 20:39] jelmerS2 commented on #27422
Here are two errors in Visual Studio that appear at runtime on a hololens.
This does happen when I have a scene that uses spatial anchors SDK and mixed reality toolkit2
But this does not happen when the scene only contains mixed reality toolkit 2 stuff OR only spatial anchors stuff.
This is very strange, and naturally it is preferably to use spatial anchors with mixed relaity toolkit 2...
again: h

[2019-03-21 20:40] rimman commented on #27679
Correct. By "this feature" we meant Change Feed. @SnehaGunda  - could we please put it explicitly in the doc. Thank you.

[2019-03-21 20:44] ompal000 opened #27742 "Casting NotifyDictionaryChangedAction.Remove to NotifyDictionaryItemAddedEventArgs ?"
As mentioned in above document:
The DictionaryChanged event handler uses NotifyDictionaryChangedEventArgs to provide details about the event. NotifyDictionaryChangedEventArgs has five subclasses. Use the action property in NotifyDictionaryChangedEventArgs to cast NotifyDictionaryChangedEventArgs to the correct subclass:

NotifyDictionaryChangedAction.Rebuild: NotifyDictionaryRebuildEventArgs
Notif

[2019-03-21 20:46] rwike77 commented on #12810
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-21 20:47] Mike-Ubezzi-MSFT commented on #27648
@StingyJack Thank you for the additional detail. There are two authentication challenges happening here. There is your Azure SQL credential and the second is your Azure portal credential. If you perform these actions in SSMS you are only being challenged by your SQL credential and the role-based access your credential has been established with, which might exclude being able to back-up a database.

[2019-03-21 20:49] Mike-Ubezzi-MSFT commented on #18388
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 20:49] #18388 closed

[2019-03-21 20:49] rwike77 commented on #17630
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-21 20:49] #7899 closed

[2019-03-21 20:50] rwike77 commented on #19882
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.
#please-close

[2019-03-21 20:50] fhryo-msft commented on #13147
It's resolved.

[2019-03-21 20:50] fhryo-msft commented on #13147
#please-close

[2019-03-21 20:51] Alberto-Vega-MSFT commented on #27715
@marvin06 Thanks for the feedback! Can you post this as a feedback at https://feedback.azure.com/forums/170024-additional-services/suggestions/19728310-time-series-insights-additional-retention-options This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropr

[2019-03-21 20:53] #6533 closed

[2019-03-21 20:56] craigg-msft commented on #26114
@hmayer1980 thank you for your patience.  I will remove this topic from our live content for now.  Thank you for your feedback.

#please-close

[2019-03-21 20:57] #8380 closed

[2019-03-21 20:57] #19882 closed

[2019-03-21 20:58] YutongTie-MSFT commented on #27721
@GhostAtom Hi Thomas, could you please try again? It works for me well.

[2019-03-21 20:58] MicahMcKittrick-MSFT commented on #27740
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-21 20:59] patricklee2 commented on #26454
port 2222 is not exposed the the public internet, We connect via a kudu container via port 2222, on the same bridge network.  Webssh run on the kudu container

Include port 2222 in the EXPOSE instruction for the Dockerfile. Although the root password is known, **port 2222 cannot be accessed from the internet. It is an internal only port accessible only by containers within the bridge network of a

[2019-03-21 20:59] SteveLasker commented on #17845
@dlepow perhaps we can converge some of this into our docs?

[2019-03-21 21:00] MicahMcKittrick-MSFT commented on #27742
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-21 21:04] ChristianMontoya commented on #27717
Issue addressed in #27731 . Should be updated live shortly.

[2019-03-21 21:04] fhryo-msft commented on #27359
Addressing in https://github.com/MicrosoftDocs/azure-docs-pr/pull/70428

[2019-03-21 21:05] kasparks commented on #11256
Thanks for the feedback! This recommendation has been removed from Advisor and from the documentation.

[2019-03-21 21:05] alkohli commented on #20931
@anoobbacker This has already been included for GA docs. These docs will go live on 3/25. I am going to close this as this already came through the regular content channel. Thanks!

#please-close This request came through a PM for this product but this is a part of GA content task list. And will be addressed via the regular content updates.

[2019-03-21 21:06] kasparks commented on #11256
#please-close

[2019-03-21 21:07] alkohli commented on #20994
@anoobbacker The signup is no longer relevant for GA docs. The new resource creation is already a part of the GA doc updates. These docs will go live on 3/25. I am going to close this as this already came through the regular content channel. Thanks!
#please-close This request came through a PM for this product but this is a part of GA content task list. And will be addressed via the regular conten

[2019-03-21 21:09] jofrance commented on #26725
List of the packages that the ADE extension needs in order to work :

cryptsetup
lsscsi
psmisc
cryptsetup-reencrypt
lvm2
uuid
at
patch
procps-ng
util-linux
pyparted

[2019-03-21 21:12] #27580 closed

[2019-03-21 21:13] fhryo-msft commented on #27359
#please-close

[2019-03-21 21:13] lmazuel commented on #27600
Yes, the doc needs update, sorry it wasn't in sync with the SDK release...

[2019-03-21 21:21] YutongTie-MSFT commented on #15833
@BiGuRuNot
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.

Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you. Thank you.

[2019-03-21 21:21] #15833 closed

[2019-03-21 21:29] ghogen commented on #19104
It appears those topics were deleted.  I restored the content and added them to the main topic. This change should show up within a day.

[2019-03-21 21:29] ghogen commented on #19104
#please-close

[2019-03-21 21:29] peledins commented on #27359
Cannot open the link somehow.

Peteris

From: fhryo-msft <notifications@github.com>
Sent: Thursday, March 21, 2019 2:05 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peteris Ledins <peledins@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] storage account diagnostics log format missing (#27359)

Addressing in MicrosoftDocs/azure-doc

[2019-03-21 21:31] JasonWHowell commented on #27734
@Mike-Ubezzi-MSFT this need to go to the Azure DB for MySQL team. @ajlam Please reassign.

[2019-03-21 21:44] tannersatch opened #27745 "Fails to join domain"
The Azure Marketplace offering deployment failed for me. Looks like it created the vm for me (I only provisioned one), but the vm can't join the domain.

"VM has reported a failure when processing 'joindomain'."
"Exception(s) occured while joining Domain 'mydomain.com'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97

[2019-03-21 21:45] MicahMcKittrick-MSFT commented on #27742
@ompal000 I see you are an MSFT FTE. I will close this and ping you offline.

[2019-03-21 21:45] #27742 closed

[2019-03-21 21:45] fhryo-msft commented on #27359
The PR is commit and I will let you know once the change goes live.

[2019-03-21 21:49] ibTnJohn commented on #27599
It is a best practice to load Azure Data Warehouse using Polybase, which is supported either through the CTAS T-SQL syntax, ADF using Polybase staging and loading, or SSIS Azure SQL DW Upload task. Using Polybase with any of these drastically improves the performance over traditional bulk insert. My question is: "Does using Polybase in ADF to load data into a Hyperscale database provide ANY perfor

[2019-03-21 21:52] TravisCragg-MSFT commented on #11256
@fixx220 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 21:52] #11256 closed

[2019-03-21 21:55] chrispadgettlivecom commented on #27733
Hi @rupeshprasad

If you are creating a user flow, then you can customize the error message using [language customization](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-language-customization). The string identifier that you must override is **UserMessageIfUserAccountDisabled**.

If you are creating a custom policy, then you use [localization](https://d

[2019-03-21 21:55] Robert-Kostecki commented on #25657
I agree with you and with that, the statement: "Static resource classes allocate the same amount of memory regardless of the current performance level, which is measured in data warehouse units."  does not seem to be correct. The more DWU is added to say Staticrc80 the more slots/memory my system are assigned and ultimately more memory to parallel processing of the same workload.

On a similar not

[2019-03-21 21:57] jaypatrick opened #27746 "All Kinds Of Problems--Not Working"
I've gotten through most of the steps, but having multiple problems:

- After doing the server/client registration, when navigating back to the Consent page, there is no "accept" option, it's still asking me to do the server/client registration.
- I moved on, but there is no "Windows Virtual Desktop" option in the Enterprise Apps list (there is a Windows Virtual Desktop client" option, but I doubt

[2019-03-21 21:59] #17408 closed

[2019-03-21 21:59] #27034 closed

[2019-03-21 21:59] #27699 closed

[2019-03-21 21:59] #14599 closed

[2019-03-21 22:00] #18190 closed

[2019-03-21 22:00] #16374 closed

[2019-03-21 22:00] #10914 closed

[2019-03-21 22:00] #20924 closed

[2019-03-21 22:00] #6335 closed

[2019-03-21 22:01] mbialecka opened #27747 "Azure Blob MD5 Overview link doesn't work"
Please update the link (in the FAQ section) or the page to provide more information about MD5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 732eb4b2-7efe-02a0-b905-fe03f9c94e84
* Version Independent ID: 64b0f82c-2d46-92c5-37f7-5e06596171b9
* Content: [Azure Storage security guide](https://docs.microsoft.com/en-us/azu

[2019-03-21 22:01] #27277 closed

[2019-03-21 22:01] #11945 closed

[2019-03-21 22:01] #13764 closed

[2019-03-21 22:01] #16065 closed

[2019-03-21 22:01] kevinvngo commented on #23930
Updated the github. Thanks!

[2019-03-21 22:01] kevinvngo commented on #23930
#please-close

[2019-03-21 22:03] brandonh-msft opened #27748 "'Restrict incoming IP addresses' jumplink doesn't work"
Under the '[Secure access to request triggers](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#secure-access-to-request-triggers)' area the 'Restrict incoming IP addresses' link doesn't jump to the appropriate section of the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b48753

[2019-03-21 22:09] MarileeTurscak-MSFT commented on #27356
@p33t We will now proceed to close this thread. If you have further questions please feel free to tag us in the comments or open a thread on MSDN, and we will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-21 22:09] #27356 closed

[2019-03-21 22:12] ronortloff commented on #25657
Regarding MPP, there are distribution databases that each get a piece of memory from the concurrency slot allocated to hold the data for the query.  When more nodes are added, the slots are still constant for static resource classes, the same memory is spread over more nodes.

[2019-03-21 22:13] Mike-Ubezzi-MSFT commented on #23930
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 22:13] #23930 closed

[2019-03-21 22:18] Robert-Kostecki commented on #25657
Ok, thank you!

[2019-03-21 22:19] ronortloff commented on #25657
You are welcome.

[2019-03-21 22:20] ronortloff commented on #25657
#please-close

[2019-03-21 22:21] Mike-Ubezzi-MSFT commented on #27738
@markedwardssiemens Thank you very much for your interest in Azure cloud. You can use the following cmd to show tables + details:

`.show tables details`

More information: .[show tables](https://docs.microsoft.com/en-us/azure/kusto/management/tables#show-tables)

[2019-03-21 22:24] Mike-Ubezzi-MSFT commented on #25657
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-21 22:24] #25657 closed

[2019-03-21 22:25] mattyweb commented on #26454
Hi Patrick,

Thanks for getting back to me.

I added a new file called AzureDockerfile which I'm now using in the DayAxe
Web Docker Build. It now has the EXPOSE 2222 command in it.

However, I'm still getting the same result. The build and release steps all
look fine (everything is green), but browsing the site (
https://dayaxe-web-stage.azurewebsites.net/) brings up an error. And the
application

[2019-03-21 22:26] Robert-Kostecki commented on #25657
That makes sense - thanks for your help!

[2019-03-21 22:35] tomkuijsten commented on #18190
Was it a doc fix or a js lib fix?

[2019-03-21 22:39] himanshusinha-msft commented on #27728
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-21 22:42] mosharafMS opened #27749 "Role Assignment on Management Groups"
Hi, the docs and API docs doesn't show how to apply this when doing role assignment on management groups. can you please address that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version Independent ID: 7484bf47-59da-5eaf-17c3-ccaecf45f185
* Content: [Manage access to Azure res

[2019-03-21 22:43] v-piwijs commented on #25385
@Karishma-Tiwari-MSFT should this be assigned to me?  I am not the author for this page:
articles/cloud-services/cloud-services-dotnet-install-dotnet.md

[2019-03-21 22:51] patricklee2 commented on #26454
This that the complete docker file?
You are missing the following
1. install openssh-server
2. copy a sshd_config
3. start the ssh service
See
https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support#use-ssh-support-with-custom-docker-images
https://github.com/Azure-App-Service/node/tree/master/6.9

[2019-03-21 22:51] v-piwijs commented on #15377
@Karishma-Tiwari-MSFT I am not the owner of the below page, could @jpconnock take care of updating the doc?   I can help in finding the right contacts in Cosine/Host.
cloud-services/cloud-services-update-azure-service#impact-to-drive-data-during-cloud-service-upgrades

[2019-03-21 22:55] patricklee2 commented on #26454
alternatively you can use our blessed image as a base image
FROM appsvc/node:10.14_1903081107

[2019-03-21 22:58] jgallucci32 opened #27750 "Add note about differences between online and offline marketplace"
A note should be added explaining there is a different in content between the connected and disconnected marketplaces. For example, a connected Azure Stack has over 20 variants of F5 BIG-IP load balancers, but the marketplace syndication tool shows only 3 of the 20 are available. Several other items from the marketplace are missing as well.

It would be useful to explain why there is a difference

[2019-03-21 23:03] veyalla commented on #27519
@kgremban -
I agree with @cicorias
Getting an error after pasting is bit jarring. I have received this feedback from another user also. He suggests:

_instead of using <release>, export a variable, set it to default let us say 16.04. Folks can basically copy and paste instead of getting "release" no such a file or a directory._

This may be a good compromise until we can use code tabs :)

[2019-03-21 23:03] mattyweb commented on #26454
Got it. Will try the MS image first and revert to the OpenSSH approach if
that works.

On Thu, Mar 21, 2019 at 3:55 PM Patrick <notifications@github.com> wrote:

[2019-03-21 23:13] MartinJaffer-MSFT commented on #27700
All signs indicate that these libraries are not available for Linux.  You can request this feature on [UserVoice](https://feedback.azure.com/forums/556165-azure-analysis-services).

[2019-03-21 23:13] #27700 closed

[2019-03-21 23:14] fhryo-msft commented on #27359
@peledins , it's live now:
https://docs.microsoft.com/en-us/azure/storage/common/storage-monitoring-diagnosing-troubleshooting?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#next-steps

[2019-03-21 23:16] MarileeTurscak-MSFT commented on #27467
@beigewell you will need to speak with your licensing account rep about this. These are not documentation-related questions so your licensing rep will be the best person to speak to.

Note that your licensing agreement states that you need a Premium license assigned to any user with MFA enabled.

[2019-03-21 23:16] #27467 closed

[2019-03-21 23:18] rupeshprasad commented on #27733
Hi @chrispadgettlivecom -
Thanks for the reply.

I am more concerned about the first problem that i have,  using custom attributed as one criteria for authentication.

[2019-03-21 23:18] mattyweb commented on #26454
Still not working. Same error.

2019-03-21 23:14:22.419 INFO  - Issuing docker pull: imagename
=dayaxe/dayaxe-web:21
2019-03-21 23:14:22.922 INFO  - Issuing docker pull: imagename
=dayaxe/dayaxe-web:21
2019-03-21 23:14:23.415 INFO  - Issuing docker pull dayaxe/dayaxe-web:21
2019-03-21 23:14:24.403 ERROR - docker pull returned STDERR>> Error
response from daemon: pull access denied for dayaxe/dayax

[2019-03-21 23:19] SaurabhSharma-MSFT commented on #27384
@varandian Can you please send an email to <a href="&#109;a&#105;l&#116;&#111;:&#65;&#122;&#67;&#111;&#109;&#109;&#117;&#110;&#105;&#116;&#121;&#64;&#109;&#105;&#99;&#114;&#111;&#115;&#111;&#102;&#116;&#46;&#99;&#111;&#109;">AzCommunity</a> with the Support Case Number and providing this GitHub Issue link so that we can check internally with the team on your issue as it could be some environment s

[2019-03-21 23:19] MartinJaffer-MSFT commented on #27700
There may be a work around, however.  Perhaps, install a self-hosted integration runtime on your VM for Data Factory, and have Data Factory use the Analysis services connector and Data Bricks connector to move the data.  This way you do not have to install the libraries directly. @yehoshuadimarsky

[2019-03-21 23:20] patricklee2 commented on #26454
CMD [ "yarn", "start" ], you still need to start the ssh service
the blessed image uses init_container.sh as an entrypoint to accomplish this

[2019-03-21 23:21] cicorias commented on #27519
@kgremban  @veyalla  - just created a PR for the two code boxes for now.

[2019-03-21 23:25] SaurabhSharma-MSFT commented on #27597
@CelesteDG Can you please help to adding more clarity to these wordings.

[2019-03-21 23:28] mike-urnun-msft commented on #27748
Hi @brandonh-msft Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-21 23:29] Alberto-Vega-MSFT commented on #27735
Hi @DaDug Were you able to add your connection string? Please see https://github.com/Microsoft/vscode-iot-workbench/blob/master/docs/iot-devkit/devkit-get-started.md

[2019-03-21 23:31] Alberto-Vega-MSFT commented on #27718
@romankiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-21 23:31] dcbrown16 commented on #20154
@MicahMcKittrick-MSFT shouldn't this be reassigned to "publishing folks" instead of just closed? Nothing was fixed.

[2019-03-21 23:31] varandian commented on #27384
@SaurabhSharma-MSFT, done!  Yes, it could very well be some sort of environment setup issue or maybe the version of the Azure AD tenant but what's interesting is that the behavior is the same in two completely different environments, both with a dedicated/clean Enterprise Applications for G Suite Provisioning.  Definitely looking forward to finding out what the root cause of this issue is.  Thanks

[2019-03-21 23:34] Niglb opened #27753 "Template Failure"
Unsure why but I keep getting failures using the deployment template 'Windows Virtual Desktop - Provision a host pool' - {"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {

[2019-03-21 23:37] zchia commented on #7641
#please-close

[2019-03-21 23:38] ytthuan commented on #27365
Hi.

Do we have any update on this please.

[2019-03-21 23:44] #26870 closed

[2019-03-21 23:45] jlian commented on #26870
Docs updates are merged and should be live tomorrow morning

[2019-03-21 23:46] MicahMcKittrick-MSFT commented on #20154
@billmath who can I assign this to that can look into it further?

[2019-03-21 23:50] #12810 closed

[2019-03-21 23:51] femsulu commented on #27702
Hi @georgewallace I assume you have this in your enhancement backlog so closing this thread.
@nboettcher  If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-21 23:51] #27702 closed

[2019-03-21 23:52] mbnshtck commented on #27430
will add lxml to the Kqlmagic dependencies in next release, so it will be installed automatically with Kqlmagic.
Thanks.

[2019-03-21 23:53] Karishma-Tiwari-MSFT commented on #15377
@v-piwijs Thanks. I have assigned it to him.

[2019-03-21 23:53] femsulu commented on #27707
@StarkCaptain Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-21 23:54] julieMSFT commented on #27476
@sqlazure Thank you for your suggestion. I have submitted the change to the document.

[2019-03-21 23:55] Karishma-Tiwari-MSFT commented on #25385
Since you mentioned This page https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix will be updated with these instructions as well at the next build (2/21 morning), if this is already incorporated in this doc, we can close this issue.

[2019-03-21 23:55] #25385 closed

[2019-03-21 23:56] EstherGaddindla opened #27755 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0420c638-1d2b-0348-1106-ee51f3000c38
* Version Independent ID: c7be09e7-9c66-5c5f-6c5b-28164f14bc7d
* Content: [Azure CLI Samples](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-samples#feedback)
* Content Source: [articles/virtual-machines/linux/cl

[2019-03-21 23:57] EstherGaddindla commented on #27755
testing

[2019-03-21 23:57] #27755 closed

[2019-03-21 23:57] julieMSFT commented on #27476
#70464

[2019-03-21 23:58] julieMSFT commented on #27476
#please-close

[2019-03-21 23:59] cijothomas opened #27756 "Modify console app example to do flush"
The console app example used as such will not send any data to Azure backend, as the app dies before telemetry is flushed from channel. Need to modify the example to avoid issues like this SO issue.
https://stackoverflow.com/questions/55289534/why-is-ilogger-not-logging-to-azure-app-insights/55290922#55290922

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-21 23:59] Alberto-Vega-MSFT commented on #26278
@SiriusA7 Sorry I missed your message. Would you please open a new issue? Also all the dependencies should be listed. Can you please check that you have successfully installed all the [prerequisites ](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices#prerequisites) including ASP.NET workload and web development workload see https://tutorials.vis

[2019-03-22 00:00] peledins commented on #27359
The link is not correct –
Instead of
https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-metrics-table-schema.md
should be without .md at the end.

Peteris

From: fhryo-msft <notifications@github.com>
Sent: Thursday, March 21, 2019 4:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peteris Ledins <peledins@microsoft.com>; Mention <mention@noreply.githu

[2019-03-22 00:02] sbtron commented on #27358
Sorry I haven't worked on this in ages not sure who the new doc owner should be.

Does the diagnostics xmlCfg exist for the VM this was run on? That particular snippet is only needed if you had a xml config that you wanted to decode. For Wadcfg you can directly read the json.

[2019-03-22 00:05] BryanTrach-MSFT commented on #27693
@StefanIvemo Since this would require a larger rewrite if approved, I have assigned your feedback directly to the author for review.

[2019-03-22 00:14] Karishma-Tiwari-MSFT commented on #27698
@byrneo The PR has been created with the correct container group name and changes will be live shortly.

[2019-03-22 00:15] Adam-Smith-MSFT commented on #27747
@mbialecka Thanks for your feedback, what specific information are you looking for regarding MD5 and storage?

[2019-03-22 00:17] Karishma-Tiwari-MSFT commented on #27719
@SamuelBering Thanks for the feedback.
 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-22 00:18] Alberto-Vega-MSFT commented on #27503
@arjantent I am sorry to hear you are facing this issue. I found an issue on the code sample repo https://github.com/Azure-Samples/digital-twins-samples-csharp/issues/63

[2019-03-22 00:22] kgremban commented on #27078
Yes, I just double double checked by copying all the commands directly from the article and only changing resource names.

When you SSH'd into the VM, did you try running the command directly on the machine? From the iotedge directory, run `configedge.sh "<your_iothub_edge_connection_string>"`. This will help us narrow the troubleshooting down to either the VM/script or the RunShellScript connecti

[2019-03-22 00:23] kgremban commented on #27078
@gregman-msft Did you ever see anything like this when you were creating the solution?

[2019-03-22 00:28] alvipeo opened #27758 "Can't upload file to container with SAS"
I need to upload just a single file to a container with container SAS (read and write, but PREFERABLY with Write permission only):

AzCopy /Source: /Dest:https://someacc.blob.core.windows.net/container/ /DestSAS:[Read-write container SAS] /DestType:Blob /V:./AzCopy with SAS.log

ALWAYS gives me error 'Server failed to authenticate the request'.

Can you guys give me the correct command? Thanks.

-

[2019-03-22 00:31] hahazeMSFT commented on #27358
@sbtron @Karishma-Tiwari-MSFT

There is diagnostic configuration in the variable `$publicsettings`, it the conversion that doesn't work.

![https://i.imgur.com/F9w351F.png](https://i.imgur.com/F9w351F.png)

If its not a working solution document needs to be pulled to avoid confusion.

[2019-03-22 00:31] #27698 closed

[2019-03-22 00:38] SaurabhSharma-MSFT commented on #27407
@skgitti  Unfortunately, I do not think that is possible. There is already a user feedback available for the same [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36352885-enable-alerts-for-problems-with-licensing-users-gr).  Please up vote the same so that Product team can prioritize and include it into their plans.

[2019-03-22 00:38] SaurabhSharma-MSFT commented on #27407
@skgitti We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 00:38] #27407 closed

[2019-03-22 00:39] sbtron commented on #27358
There is no xmlCfg in the public configuration returned, only Wadcfg. Note that the snippet is only needed if you have a xml configuration....
Right about the snippet it says -

Would it be helpful to add more text in there to clarify that you only need to use this script if you are using Xmlcfg ?

[2019-03-22 00:39] SaurabhSharma-MSFT commented on #27490
@gowthamsans We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 00:39] #27490 closed

[2019-03-22 00:41] SaurabhSharma-MSFT commented on #27504
@sawansharma005 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 00:41] #27504 closed

[2019-03-22 00:43] SaurabhSharma-MSFT commented on #27634
@MarcLaf sure. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 00:43] #27634 closed

[2019-03-22 00:43] kobulloc-MSFT commented on #27756
@cijothomas Thank you for the feedback!  We will assign this to the document author so the can update the documentation accordingly.

[2019-03-22 00:47] SaurabhSharma-MSFT commented on #27733
@rupeshprasad Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:48] SaurabhSharma-MSFT commented on #27737
@rupeshprasad Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:49] smichelotti commented on #10157
It's technically an OR but the contractual one requires them to be a prime specifically. We do not allow just a contract - so an AND interpretation is easy to arrive at.  We do not call that out to avoid confusion - it is enforced in process and in our criteria reqs.

[2019-03-22 00:49] smichelotti commented on #10157
#please-close

[2019-03-22 00:49] SaurabhSharma-MSFT commented on #27727
@davidbxss Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:50] KingdomOfEnds commented on #27643
Thanks @AshokPeddakotla-MSFT - I appreciate it. I'll try again here.

[2019-03-22 00:50] SaurabhSharma-MSFT commented on #27753
@Niglb Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:51] SaurabhSharma-MSFT commented on #27746
@jaypatrick Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:52] SaurabhSharma-MSFT commented on #27745
@tannersatch Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:54] imeya commented on #27394
@BhargaviAnnadevara-MSFT, thanks very much for your response.

[2019-03-22 00:54] SaurabhSharma-MSFT commented on #27749
@mosharafMS Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 00:55] SaurabhSharma-MSFT commented on #27476
@sqlazure We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 00:55] #27476 closed

[2019-03-22 00:56] #10157 closed

[2019-03-22 01:01] MicahMcKittrick-MSFT commented on #27755
@EstherGaddindla thanks for closing out the issue.

[2019-03-22 01:02] TravisCragg-MSFT commented on #27750
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-22 01:02] georgewallace commented on #27702
Yes it is already live. I just didn’t tag the PR correctly to close the issue! Thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Thursday, March 21, 2019 4:51:59 PM
To: MicrosoftDocs/azure-docs
Cc: George Wallace; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Source Control sync fails when Azure modules are ou

[2019-03-22 01:05] alvipeo commented on #27758
asked on SO too - https://stackoverflow.com/q/55291430/2896495

[2019-03-22 01:05] TravisCragg-MSFT commented on #27739
@fefie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-22 01:06] alvipeo commented on #19798
Yeah, update the docs for SAS tokens! See my new question above!

[2019-03-22 01:07] kobulloc-MSFT commented on #27465
@mgfink Can you describe your scenario in a bit more detail?  If you create the resource (as I've done below), you should be able to create a URL ping test as described in the documentation.

![image](https://user-images.githubusercontent.com/37556655/54794347-325c4a00-4c04-11e9-80b0-be35dbeffbfb.png)

[2019-03-22 01:11] chrispadgettlivecom commented on #27733
@rupeshprasad Can you please move the first question to StackOverflow with the **azure-ad-b2c** tag? It's a better place to go with questions like this.

[2019-03-22 01:16] KingdomOfEnds commented on #27643
I think that resolved my issue. Thanks again!

[2019-03-22 01:16] #27643 closed

[2019-03-22 01:22] tamram commented on #21874
@karthick3d - Please see [this section](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-script?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#call-powershell-commands-using-azure-ad-credentials), which shows how to use the `-UseConnectedAccount` parameter with the **New-AzStorageContext** cmdlet.

#please-close

[2019-03-22 01:23] BhargaviAnnadevara-MSFT commented on #27394
@imeya Happy to help! Thanks for reaching out!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-22 01:23] #27394 closed

[2019-03-22 01:25] mattyweb commented on #26454
Hi Patrick,

I'm still beating my head against the wall here. The builds and deploys
look like they are working but I'm still getting the same error. I'm also
still not able to use the webssh portal to connect to my image.

It's likely my script has something wrong with it. I'm not using PM2 so
trying to extract the key bits from those examples. Also, I'm not super
comfortable with bash scripts an

[2019-03-22 01:27] rupeshprasad commented on #27733
I just did, thanks for suggestion.  Reason i posted on github because i was not able to find any solution any where on web.
 https://stackoverflow.com/questions/55291570/prevent-deny-login-to-user-based-on-extension-attribute

[2019-03-22 01:34] anssenfang1 commented on #27280
Agree with you, it takes time to list all of the tables for each cluster type. But, it is really helpful other than every user guessing the tables.

From: Hassan Rasheed <notifications@github.com>
Sent: Friday, March 22, 2019 2:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fang <Anssen.Fang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2019-03-22 01:34] anssenfang1 commented on #27280
Yes ,this is also how our customers are using the HDI cluster. They will create their own queues in Yarn to better manage the resources and want to monitor the queue usages.
If we only support monitoring those built in queues, it is a big limitation.
Thanks for working on that!

From: Hassan Rasheed <notifications@github.com>
Sent: Friday, March 22, 2019 2:25 AM
To: MicrosoftDocs/azure-docs <azure

[2019-03-22 01:38] ElliottZambo commented on #27682
What is ETA?

[2019-03-22 01:38] KingdomOfEnds commented on #27643
PS - I used Azure's "create" rather than the deployment template.

[2019-03-22 01:43] patricklee2 commented on #26454
Docker files don't start the start of running processes.  So RUN service ssh start won't work.  You need an init script to start ssh and yarn.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Webster <notifications@github.com>
Sent: Thursday, March 21, 2019 6:25:29 PM
To: MicrosoftDocs/azure-docs
Cc: Patrick Lee; Comment
Subject: Re: [MicrosoftDocs/azure

[2019-03-22 01:53] femsulu commented on #23564
@GeethalakshmiG  - any update pls?

[2019-03-22 01:54] femsulu commented on #26567
@mayurigupta13 any update on this please? Also curious if you are tracking this on your end or if we should keep this ticket open?

[2019-03-22 02:01] badcop666 opened #27760 "Typo"
"letting you can access your resources"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bc5c22-d6e7-ad50-5d1f-1ba43cef7b2d
* Version Independent ID: d35d96d9-bc33-80c7-60bb-78a9020320d2
* Content: [Join your work device to your organization's network - Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2019-03-22 02:06] femsulu commented on #27217
@Ananthyogesh i assume you are talking about CPU threads which is dependent on the appservice tier you pick. The way to increase the max number is by [scaling up](https://docs.microsoft.com/en-us/Azure/app-service/web-sites-scale) to a higher App service trier. I hope this helps.
@cephalin  - feel free to chime in on the above .

[2019-03-22 02:06] #27217 closed

[2019-03-22 02:07] femsulu commented on #27336
@ravisha22 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-22 02:07] #27336 closed

[2019-03-22 02:12] jasonkatz424 opened #27761 "Is a Windows Virtual Desktop required for Remote App?"
Hello,

I'm curious if in order to publish a remoteapp, must a WVD exist first?  Can I create the default app group, which according to the documentation also publishes the full desktop, and then simply publish my remote app and delete the desktop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-

[2019-03-22 02:16] femsulu commented on #27505
Thanks for the update, @kiranjshetty . Would you mind sharing the uservoice link for the feedback?
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-22 02:16] #27505 closed

[2019-03-22 02:17] amrikmahal commented on #11759
Thanks. for the clarifiction.

[2019-03-22 02:36] jackbond commented on #19798
It's always nice when you report an issue that would literally take TWO F*****G MINUTES to resolve, and it's completely ignored. Never mind the fact that the issue should have never existed in the first place.

Seriously, generate a F*****G token, format it correctly, and update the F*****G document.

[2019-03-22 02:38] j-martens commented on #23977
@YutongTie-MSFT is there a forum for technical support issues? @lmiroslaw are you still having this problem?

[2019-03-22 02:40] j-martens commented on #25148
@YutongTie-MSFT @SeaDude Is this still an active issue?

[2019-03-22 02:54] femsulu commented on #25909
@rayne-wiselman closing this out as I assume you already have this in your backlog or most likely complete. please confirm.

[2019-03-22 02:54] #25909 closed

[2019-03-22 02:55] way2arun commented on #25770
upgraded to 2.0.60, now getting new error - WARNING: Role "id" is missing. Look for the role in the current subscription...

[2019-03-22 03:07] ericgrover opened #27763 "Code is obsolete for .net core"
This sample code is completely out of date (and confusing).  The sample code is written with an old nuget package that does not work with .net core.  There is a new Nuget package called Microsoft.Azure.Management.Media that works with AMS v3 and .NET Core.  There is a sample project here:  https://github.com/Azure-Samples/media-services-v3-dotnet-core-tutorials/blob/master/NETCore/EncodeHTTPAndPub

[2019-03-22 03:13] dcbrown16 commented on #25909
@femsulu I don't see the fix yet and ideally I don't think issues should be closed until the document is updated publicly so I can verify it.

[2019-03-22 03:40] CHEEKATLAPRADEEP-MSFT commented on #27687
@julesman101 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-22 03:40] #27687 closed

[2019-03-22 03:43] #26114 closed

[2019-03-22 03:46] YASWANTHM-MSFT commented on #27758
@alvipeo,Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-22 03:49] DCtheGeek commented on #27707
@StarkCaptain I'm unclear on what additional information you are looking for?  I'm also not sure what the re-parsing you are seeing is.  Can you explain this and also what the impact of it is to your use of **allOf** and **anyOf**?

The Samples have some pretty complex examples for using the logical operators.  The recently added **Guest Configuration** sample for the deployIfNotExists policy has

[2019-03-22 03:54] YASWANTHM-MSFT commented on #21874
@karthick3d, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 03:54] #21874 closed

[2019-03-22 03:54] shashishailaj commented on #27502
We will now close this issue. Should you have any further queries , feel free to tag me to your reply and we can continue the conversation.

[2019-03-22 03:54] #27502 closed

[2019-03-22 03:55] hahazeMSFT commented on #27358
Here is a collapse version.

![https://i.imgur.com/dfwB18g.png](https://i.imgur.com/dfwB18g.png)

I think I am getting it now. So the document is only if the diagnostic for an ARM VM is configured using xmlcfg, then you can use steps to export that configuration to another VM.

So steps won't work on ARM VMs where diagnostics was enable via the portal because that uses WadCfg.  General thought was

[2019-03-22 03:57] dinu99 commented on #26247
This issue seems to be duplicate of #11205, #21006
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-vm-instances

[2019-03-22 03:58] shashishailaj commented on #27741
@SeanFeldman  Thank you for your query . We will investigate and update this thread.

[2019-03-22 04:02] shashishailaj commented on #27760
@badcop666 Thank you for your feedback . We will investigate and update this thread.

[2019-03-22 04:03] liydu commented on #14309
@DaDug, could you double check that you have set the UDS format correctly?

[2019-03-22 04:12] eringreenlee commented on #27068
@juhap this is good feedback and we will incorporate it into our doc updates soon. thanks!

[2019-03-22 04:17] imeya opened #27765 "How to link to an existing workspace during create log analytics workspace?"
When I create an log an log analytics workspace, I select Link existing instead of create new, but there is a message occurs: It looks like you have no workspaces to link.

I already have a workspace, I don't know how to link to it. Could you please provide some details how to do it? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-22 04:21] shashishailaj commented on #27761
@jasonkatz424 Thank you for your feedback . We will investigate and update further.

[2019-03-22 04:25] DCtheGeek commented on #15340
@ediazrod I meant to come back and close this.  The schema for Activity Log Policy events was published here: https://docs.microsoft.com/azure/azure-monitor/platform/activity-log-schema#policy

I still have it in my backlog to create an article on the topic, but this should provide the information you are looking for and unblock you.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage #plea

[2019-03-22 04:27] #15340 closed

[2019-03-22 04:37] jakaruna-MSFT commented on #27301
@lefrog  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-22 04:37] #27301 closed

[2019-03-22 04:51] SupporterMan opened #27767 "Why the documents for exception message length are different"
According to this document, the exception message length is 10000:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#limits-summary

But if I click the type schemas for Exception message length, it shows, the length is "Max length: 32768"：
https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Docs/ExceptionData.md

Why there are in different length?

[2019-03-22 04:57] shashishailaj commented on #27765
@imeya Thank you for your feedback . We will investigate and update further.

[2019-03-22 04:59] shashishailaj commented on #27763
@ericgrover Thank you for your query . We will investigate and update further.

[2019-03-22 05:03] anilpras opened #27768 "a positive feedback.."
One of the best article i have ever come across, flawless, thank you..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart create an Azure IoT Edge device on Windows](https://docs.microsoft.com/en-us/az

[2019-03-22 05:04] #27768 closed

[2019-03-22 05:11] chunsiongtan opened #27770 "Solution: AADSTS50020 User account 'xxxxxxxx@live.com' from identity provider 'live.com' does not exist in tenant 'MS Azure Cloud' and cannot access the application 'fa4345a4-a730-4230-84a8-7d9651b86739'"
If you encounter the below error when running the powershell command
Add-RdsAccount -DeploymentUrl “https://rdbroker.wvd.microsoft.com”

The solution would be to use a domain account or tenant domain account with global administrator rights
Example xxxxx@yourdomain.com or xxxxx@yourdomain.onmicrosoft.com

AADSTS50020: User account 'xxxxxxxx@live.com' from identity provider 'live.com' does not exis

[2019-03-22 05:25] kazshi commented on #26518
@Juliako I verified the updates. Thank you!

[2019-03-22 05:28] AshokPeddakotla-MSFT commented on #27551
@knowpath Have you had a chance to see the above suggestions? Do let us know if you need further help.

[2019-03-22 05:31] bespinfw commented on #27753
same error here. I followed all the steps from 1. Tutorial and set up a Tenant and used that information for creation of the pool. I tried it in region: Korea Central

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "cod

[2019-03-22 05:50] rwike77 commented on #10274
The article was updated with this info.  #please-close

[2019-03-22 05:54] angoyal-msft commented on #27679
@Thoemmeli I believe your query has been answered. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-22 05:54] #27679 closed

[2019-03-22 05:56] CHEEKATLAPRADEEP-MSFT commented on #27592
@SANDEEPPILLUTLA Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-22 05:56] #27592 closed

[2019-03-22 05:59] CHEEKATLAPRADEEP-MSFT commented on #26869
@nitinme Could you update the document as appropriate?

[2019-03-22 06:09] AshokPeddakotla-MSFT commented on #27768
Kudos. Closed

[2019-03-22 06:10] imeya commented on #13015
@kobulloc-MSFT , any update on this thread?

[2019-03-22 06:12] RohitMungi-MSFT commented on #26261
Yes it is 23

[2019-03-22 06:21] BhargaviAnnadevara-MSFT commented on #27767
@SupporterMan Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-22 06:21] msrini-MSFT commented on #27708
@marroema , As of now, you will not be able to add Australia Central tag via Portal as they are new regions that got added.(Will be updated soon in portal)

You can go ahead and use PowerShell or CLI to update it.

[2019-03-22 06:21] #27708 closed

[2019-03-22 06:21] SnehaAgrawal-MSFT commented on #27555
@mjgabriel Its great to know that issue resolved. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-22 06:21] #27555 closed

[2019-03-22 06:26] SnehaAgrawal-MSFT commented on #27520
@k3vnj Since we have not heard back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-22 06:26] #27520 closed

[2019-03-22 06:35] ChiragMishra-MSFT commented on #27697
@vishalaj1 We are assigning the issue to the content author to review and update as appropriate.

@linda33wj Can you please have a look at this ?

[2019-03-22 06:36] kobulloc-MSFT commented on #13015
@imeya This is currently in the queue for @mrbullwinkle, who has been aggressively updating documents and should be able to get to this in the near future.

[2019-03-22 06:48] TessFerrandez commented on #27430
Thank you much!!!

[2019-03-22 06:48] DixitArora-MSFT commented on #27621
@jasonrmh I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/70488)which will correct the New-AzApiManagementVirtualNetwork command . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-03-22 06:53] DixitArora-MSFT commented on #27421
@PingPongSet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 06:53] #27421 closed

[2019-03-22 06:54] DixitArora-MSFT commented on #27416
@PingPongSet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 06:54] #27416 closed

[2019-03-22 06:55] DixitArora-MSFT commented on #27550
@canoas Just following up here... Hope my previous comment helps.

[2019-03-22 06:55] PramodValavala-MSFT commented on #27653
@bdschaap We have assigned this issue to the content author to investigate and update accordingly.

[2019-03-22 06:56] DixitArora-MSFT commented on #27524
@vikguptaMS Just following up here... Hope my previous comment helps.

[2019-03-22 06:57] DixitArora-MSFT commented on #27676
@codefoster Just following up here... Hope my previous comment helps.

[2019-03-22 07:08] skmkzyk commented on #24196
Hi,

Sorry, but XML file isn't what I'm interested in.
Since I already created a PR to update screenshot as above, please check it.
Once merged, let this issue closed.

[2019-03-22 07:31] mayurigupta13 commented on #26567
Please keep this open. I will get back early next week.

[2019-03-22 07:35] andersgidlund opened #27773 "Deployment failure"
Got this error when I tried to provision a host pool. Followed the guide exactly...

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\

[2019-03-22 07:43] chiemix opened #27774 "sign-in accout for configuration AD Connect"
[Enter feedback here]

is what' written, but I got error on wizard with  a local administrator account.
(https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-express)
Error massage is same as following URL:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-adconnectivitytools.

If I re-sign in with domain user, then setup went well witho

[2019-03-22 07:47] SamuelBering commented on #27719
Thanks Karishma.
All the best..

[2019-03-22 07:55] klabir commented on #11417
Hello, any news on "Data connector doesn't support OAuth." ?

[2019-03-22 08:01] MasterKuat commented on #25793
Same error here when deploying with portal. Enrollement done.
Location tested : west europe and east US same error both.

Template :
`
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "accountName": {
            "type": "String"
        },
        "location": {
            "type": "Stri

[2019-03-22 08:06] insankim opened #27776 "Document should guide customer NOT TO DISABLE CD/DVD-ROM Drive"
Azure platform mounts ISO file to a dvd-rom when a Windows VM is created from generalized image.
For this reason, dvd-rom must be enabled in guest OS VM.
If it is disabled, guest VM is stuck at OOBE even a user believes he did everything correctly.

This issue can happen under following conditions:
1) User uses a newly provisioned Windows VM (not have been deallocated yet)
2) User disables DVD-ROM

[2019-03-22 08:19] jakaruna-MSFT commented on #27776
@insankim  Thank you very much for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-22 08:21] MartinHannemann commented on #27746
I get the same problems

1. After doing the server/client registration, when navigating back to the Consent page, there is no "accept" option, it's still asking me to do the server/client registration.

2. I have the "Windows Virtual Desktop" option in the Enterprise Apps list

3. But this still gives me the same error when executing the final PS command to create the tenant, I get the following e

[2019-03-22 08:23] chunsiongtan commented on #27773
@Diwiton, I'm getting the same error. I was thinking if it was caused by lack of "administrative access" on the created host pool, or Set-TargetResource is casuing a conflict

[2019-03-22 08:23] algattik opened #27778 "Source is not called "Upload Python Egg or PyPI""
In the current version of the Databricks UI, the source is not called "Upload Python Egg or PyPI" but just "PyPI".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b9a9a
* Version Independent ID: 734d767b-f22d-2ba6-aabf-98b07bf5abfc
* Content: [Set up a Python development environment - Azur

[2019-03-22 08:25] arjantent commented on #27503
I have placed an comment on the other issue. Hope to hear back from  you soon

[2019-03-22 08:30] MartinHannemann commented on #27746
Nevermind.

If I go into the Enterprise Application and manually change my user to TenantCreator, then the PS script runs successfully.

If you don't have the Windows Virtual Desktop option in Enterprise Applications it probably because you didn't run through the consent page twice, once for the Server and once for Client option. Or because your user isn't global admin.

[2019-03-22 08:37] kazshi commented on #21360
@SaurabhSharma-MSFT My understanding is that Security Alerts from Windows Defender ATP in VMSS is currently supported, correct? I'd like to make sure that.

Upgrade to Security Center's Standard tier for enhanced security | Microsoft Docs
https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing#pricing-tiers

[2019-03-22 08:37] chunsiongtan commented on #27773
@Diwiton, I've added "domain computers" to my AD Account. It works now when i tried it for the 2nd time.

Not sure it this was the fix, or it was just an intermittent error the 1st time around.

[2019-03-22 08:39] chunsiongtan commented on #27773
@Diwiton, I've also added Windows Virtual Desktop tenant name as xxxxxxxxx.onmicrosoft.com for the 2nd time attempt.

[2019-03-22 08:45] DixitArora-MSFT commented on #27748
@skmkzyk Thanks for your contribution!. The author has been notified to review your proposed change.
@brandonh-msft Reference [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/27775)will fix the issue.

[2019-03-22 08:48] Benjiiim opened #27779 "Wrong section reference"
There is no "Section 7" in the Microsoft Publisher Agreement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42d0270d-7734-62c8-8373-bf675b3bfe1e
* Version Independent ID: 9aab8950-ada1-8cf9-2d61-7475709655fd
* Content: [Delete Marketplace Offers - Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/c

[2019-03-22 08:49] Diwiton commented on #27773
@chunsiongtan, I do not follow exactly. I cant see how I can add ".onmicrosoft.com" to my WVD Tenant Name. My WVD Tenant name is "Diwitest Virtual Desktop".

Im also using Azure AD Domain Services in my test setup and Im not sure how to assign the "Domain Computers" group to my admin account.

[2019-03-22 08:52] linda33wj commented on #27697
@vishalaj1 to confirm your specific case, could you share the sample JSON you have and the expected output from it?

[2019-03-22 08:55] linda33wj commented on #5893
#please-close

[2019-03-22 09:06] sergaz-msft commented on #27313
No, you can use leaf devices connected to an IoT Edge. I am not sure if I understood your question...? [Here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway) is how.

That is correct. We don't support provisioning a leaf device using DPS yet. Please vote for that feature on UserVoice.

I will close this case now, please if you would like to have a broader and mor

[2019-03-22 09:06] #27313 closed

[2019-03-22 09:11] Loreno10 opened #27780 "Reply URL section does not exist on the Portal"
"In Reply URL, add https://localhost:44321/signin-oidc, and select Register" - in Step 1 (Manual way) there is no "Reply URL" - there are "Redirect URLs". Also, there isn't any "Register" option to be selected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID:

[2019-03-22 09:12] smoms commented on #27313
@sergaz-msft thanks but for sure you have NOT answered the question. The link you refer is for transparent gateway and NOT for identity translation as clearly stated in this thread. So your information is mis-leading for the community. I suggest you remove that and eventually this question is discussed in another place.

[2019-03-22 09:17] PanosPeriorellis commented on #21183
the following doc clearly states what is supported for each locale
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support

[2019-03-22 09:18] chunsiongtan commented on #27773
My bad, I meant something like this.
Existing tenant group name: "Default tenant group"
Existing Tenant Name: xxxxxx.onmicrosoft.com <--- this is based on my Azure Active Directory Name.

Let me try to run the template again without the "domain computers" group

[2019-03-22 09:24] chunsiongtan commented on #27773
By the way @Diwiton, I'm using AD DS on VM.
I've checked the requirement,
The Azure virtual machines you create for Windows Virtual Desktop must be:
Standard domain-joined or Hybrid AD-joined. Virtual machines can't be Azure AD-joined. <--- that might be the issue

https://docs.microsoft.com/en-us/azure/virtual-desktop/overview#requirements

[2019-03-22 09:26] sffamily commented on #18512
The current App Service Authentication uses the Google+ API for this purpose, but this is being deprecated now. There will be new instructions on this. So we won't suggest the current method for now and any fix to it.
pls refer to "[Google+ APIs Deprecated- How to migrate to Google sign-in? #21520](https://github.com/MicrosoftDocs/azure-docs/issues/21520)"

Thanks for the comments though!
#please-

[2019-03-22 09:29] MartinHannemann opened #27781 "WVD Desktop App problems"
If I try to access a resource in the new WVD Desktop app I get a prompt saying Enter Credentials, but there's nowhere to actually enter the credentials, the only option is to cancel and when I press that, the App crashes.
Works fine in the web app, I get the prompt and I'm able to log in.

Any help appreciated. Thanks.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkr

[2019-03-22 09:30] PanosPeriorellis commented on #21183
good to close

[2019-03-22 09:32] RohitMungi-MSFT commented on #27778
@algattik Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-22 09:41] Diwiton commented on #27773
No I do not mean Azure AD joined. The session hosts VM's will be joined to Azure AD Domain Services, Microsofts hosted ADDS.

Of course ADDS on VM is an option, but I like the concept of Azure ADDS because you do not need to worry about updates and backup and do not need to install Azure AD Connect, its built in to the service.

It would be stupid (in my opinion) for Microsoft not to support WVD o

[2019-03-22 09:55] joeakim opened #27782 "Why Global Administrator or a User Administrator"
Hi,

would you please clarifiy why we Teams Admin can create his own Office365 groups and decide to choose the assigned or dynamic membership at creation time, but cannot change the type within Azure AD, once created?
I understand that you documentation says he needs to be "Global Administrator or a User Administrator", but why? Especially why, when he can create them with any type at the first pl

[2019-03-22 10:03] Artnabaz commented on #27745
Got the same error, using a Service Principal and and AAD Domain Services.

[2019-03-22 10:09] Diwiton commented on #27773
I read the link you supplied with the requirements now and it says:

"A Windows Server Active Directory in sync with Azure Active Directory. This can be enabled through:
Azure AD Connect
Azure AD Domain Services"

Azure AD Domain Services is what I run so it seems thats not the problem at least. However, in my directory I can not add user accounts (or any members at all) to the Domain Computers gr

[2019-03-22 10:10] crmhh opened #27784 "On-Premises Flowchart"
I have two remarks to the flowchart:
- in the on-premises part there are redundant decisions for SAML.
- in the on-premises part the decision for password-based should be after SAML and IWA (and maybe Header?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID:

[2019-03-22 10:18] sergaz-msft commented on #27403
Hey @rajb865, you could use it though it wouldn't be a supported scenario in production. Let me share here what the script does so others can learn as well, feel free to reuse it.

[code]

[2019-03-22 10:19] sergaz-msft commented on #27403
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 10:19] #27403 closed

[2019-03-22 10:21] RohitMungi-MSFT commented on #27778
@algattik I think the table mentions the sources options as Upload a Python Egg or PyPi repository with the SDK azureml-sdk

Source: Upload python egg
![image](https://user-images.githubusercontent.com/46958063/54816401-20d57980-4cba-11e9-90c3-5bef16ce558c.png)

Source: PyPi
![image](https://user-images.githubusercontent.com/46958063/54816450-3f3b7500-4cba-11e9-8182-395a78eb4f70.png)

I hope this

[2019-03-22 10:22] sergaz-msft commented on #27501
@cingh-jasdeep can you please validate if you followed the [Prerequisites](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-monitor#prerequisites)?

Please share more details of what you tried and what is the error that you get?

Adding @dominicbetts to review this and check if we have known issues on documentation or the tutorial.

Thanks!

[2019-03-22 10:23] DeepaThiruna opened #27786 "How to unmark prebuilt entity - personName"
Why personName prebuilt entity is marked for question “Status of my po”.
Even though it is a sentence, why it is mapping to personName and how can i remove or unmark from prebuilt entity.
{
    "query": "status of my po",
    "topScoringIntent": {
        "intent": "PurchaseOrder",
        "score": 0.9952432
    },
    "intents": [
        {
            "intent": "PurchaseOrder",
            "scor

[2019-03-22 10:23] sergaz-msft commented on #27696
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-22 10:25] ChristofDC commented on #27745
Got the same error as well, using an all-round administrator user account for testing with AAD Domain Services.

[2019-03-22 10:25] stefan-schweiger opened #27787 "Include information that Azure AD v2.0 is not supported for Azure Function Apps"
There is no offical documentation stating that Azure Function Apps don't support v2.0, and it's the most tedious process ever to figure this out yourself. This Information should not only be highlighted in the how-to article in my opinion but also the [Azure AD Endpoint comparison](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison) and probably even in so

[2019-03-22 10:30] AjayKumar-MSFT commented on #27741
@SeanFeldman, We understand you’re referring to the version release and the package dependencies - https://www.nuget.org/packages/Microsoft.Azure.WebJobs/  - That’s a good observation! Thanks for the great feedback. Your suggestions has been shared with the content owner (@ggailey777) for further review.

[2019-03-22 10:33] RudyCo opened #27788 "404"
https://github.com/Azure/Azure-DataFactory/tree/master/Samples/ADFv2CustomActivitySample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independent ID: 9ec244a7-d939-3918-fc87-34ab1eec5293
* Content: [Use custom activities in an Azure Data Factory pipeline](https://docs.mi

[2019-03-22 10:35] shashishailaj commented on #27782
@joeakim Thank you for your query . We will investigate and update the thread further.

[2019-03-22 10:40] shashishailaj commented on #27779
@Benjiiim Thank you for your query . We will investigate and update the thread further.

[2019-03-22 10:48] shashishailaj commented on #27770
@chunsiongtan Thank you for trying out the Windows virtual desktops preview product . We thank you for your contribution and sharing the solution for an issue you encountered. We appreciate the contribution.  Please let us know if you have any further query on this preview feature and we would love to help you.

[2019-03-22 10:54] shashishailaj commented on #27773
@Diwiton Thank you for your query . We will investigate and update further.

[2019-03-22 10:56] shashishailaj commented on #27784
@crmhh Thank you for pointing that out . We will have this reviewed and updated accordingly.

[2019-03-22 11:08] shashishailaj commented on #27780
@Loreno10 Thank you for your query . We will investigate and update this thread further.

[2019-03-22 11:11] marxxxx commented on #19489
@freakyfriday  @CHEEKATLAPRADEEP-MSFT I tried the samples provided with Version 1.0.0.0 of the library https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table.

However, as soon as i apply the OrderBy method, i get the following error:

[code]

When i omit the OrderBy method, the result set is returned without error.

My CosmosDB Table API Instance is running in the West Europe region. Could i

[2019-03-22 11:11] StingyJack commented on #27648
I'm using the same user account (AAD) in all cases, and interactive auth in SSMS. I wouldn't expect a secondary auth challenge with this arrangement.

I'll file a support request in the portal. It would be great if there was a button that transferred this issue automagically.

[2019-03-22 11:11] #27648 closed

[2019-03-22 11:13] shashishailaj commented on #27774
@chiemix Thank you for your query . We will investigate and update further.

[2019-03-22 11:13] kaareschmidtalso opened #27791 "User is not authorized to query the management service"
I am trying to join the machines to an ADDS domain.

I have entered the global admin everywhere a user ID is required - for testing purposes, of course.

Any idea what and where this management service is and why the global admin cannot query it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c4

[2019-03-22 11:24] tsrob50 commented on #27745
I got this error also, turned out to be a silly mistake on my part.  When the option to specify a domain or OU is selected in step 3 of deployment, the domain is pre-populated with contoso.com.  I overlooked that and left it as default.  As you can imagine, that didn't work.

[2019-03-22 11:24] RohitMungi-MSFT commented on #27786
@DeepaThiruna Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-22 11:26] raidlman commented on #26014
@Karishma-Tiwari-MSFT I just tried with RHEL7.5. Same problem here. Could you please check with the product team which exact version of the RHEL image they are using?

Could you please add a link to the bug tracker where this issue is tracked by the product team?

**OS version**

    # hostnamectl
       Static hostname: XYZ
             Icon name: computer-vm
               Chassis: vm

[2019-03-22 11:36] abhiSakhuja commented on #26361
@justinhauer You have to use LinkedServiceReference module as:

LinkedServiceReference(reference_name=ls_name)

[2019-03-22 11:40] pardha100 opened #27792 "Is there any challenge in using SQL Setup file from one SQL Azure VM on another Windows VM?"
I have a customer who has created only Windows VM from Azure Gallery and wants me to install SQL in it. Is it ok to use SQL Setup file from another Azure VM on this VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d86e3c45-59a4-c483-5b14-380981d25c50
* Version Independent ID: a9c023c3-6478-dbc2-0717-45b2f90008aa
* Co

[2019-03-22 11:51] HardToChoose opened #27793 "Sample query inconsistent with sample query result"
[Enter feedback here]
Examples for IS_NULL, IS_NUMBER and other functions are inconsistent: sample query returns an object with 7 properties, but result set listed right after the query is an object with 6 properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fe839e-e108-404c-03b7-3e93efc0af65
* Version Independ

[2019-03-22 11:52] ChiragMishra-MSFT commented on #27788
@RudyCo Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-03-22 12:04] Jothi3125 opened #27794 "Weak ciphers for TLS 1.2 is reported"
While running a Security check using the following link, Weak Ciphers for TLS 1.2 is reported.
https://entrust.ssllabs.com/

What will be the procedure to strengthen the Weak Ciphers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae11bd8c-20f5-dccc-45c6-694542e6e36b
* Version Independent ID: e39f8e43-304b-b345-add9-5a

[2019-03-22 12:09] wandhydrant commented on #26014
@raidlman I think you may have started out with RHEL 7.5 but then you installed the latest Xorg packages (from 7.6). On 7.5 you should have Xorg 1.19.5, not 1.20.

To stay inside 7.5, I force the version inside the repository URLs like this:
[code]

[2019-03-22 12:13] RohitMungi-MSFT commented on #27786
@DeepaThiruna I have noticed that your query does return "status of my po" as person.Name built in entity.
![image](https://user-images.githubusercontent.com/46958063/54821750-26868b80-4cc9-11e9-9244-90965c2408c3.png)

To train my app to not recognize this as a name I did the following:

1. Delete the utterance "status of my po" if it is already entered as sample utterance.
2. Train your app after

[2019-03-22 12:25] KalyanChanumolu-MSFT commented on #27793
@HardToChoose Thank you for pointing out the issue, I have updated document. The changes should be live EOD or tomorrow.
We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love to take community contributions. 

[2019-03-22 12:34] MohitDhingra-MSFT commented on #27780
Hi @Loreno10,
I checked the same and I think you are referring to the "New registration" option on the App Registration (Preview ) page.
![image](https://user-images.githubusercontent.com/47346772/54823030-921e2800-4ccc-11e9-8522-aa7dd7fb5ca5.png)

Once you click this one , it will take you a page where you require to provide the relevant details for your applications.
![image](https://user-images

[2019-03-22 12:34] #27793 closed

[2019-03-22 12:38] shashishailaj commented on #27781
@MartinHannemann Thank you for your feedback . We will investigate and update further.

[2019-03-22 12:40] canoas commented on #27550
the servicebus reference has this in the table:
Service Bus	Microsoft.Azure.WebJobs.ServiceBusAttribute, Microsoft.Azure.WebJobs.ServiceBusAccountAttribute	#r "Microsoft.Azure.WebJobs.ServiceBus"

and it did not work with me. maybe there are differences in de way the current environment is pre configured. the dll reference in stackoverflow did work

[2019-03-22 12:42] shashishailaj commented on #27787
@stefan-schweiger Thank you for contributing to Azure Documentation. We appreciate the feedback . We  will have this investigated and updated accordingly.

[2019-03-22 12:49] shashishailaj commented on #27791
@kaareschmidtalso Thank you for your feedback . We will investigate and update further .

[2019-03-22 12:53] shashishailaj commented on #27794
@Jothi3125 Thank you for your query . We will investigate and update further.

[2019-03-22 13:04] shashishailaj commented on #27792
@pardha100 Thank you for your query . We will investigate and update further.

[2019-03-22 13:07] #10274 closed

[2019-03-22 13:08] shashishailaj commented on #27761
@Heidilohr Could you please look into this thread ?

[2019-03-22 13:09] anish714 commented on #27756
Please update this.. I spent hours pulling my hair hour before finding an answer on stack overflow.

[2019-03-22 13:10] dominicbetts commented on #27501
Hi @cingh-jasdeep - can you confirm that you deployed the solution from https://www.azureiotsolutions.com? Which region did you choose when yo deployed the solution? If you navigate to the Device Explorer page, which devices are listed?
I just deployed the solution in the West Europe region and I'm seeing the trucks as expected.
Thanks, Dominic

[2019-03-22 13:11] echanfin opened #27795 "Powershell Import command returns error"
Following the "download and import the Windows Virtual Desktop module" powershell lines gives an error on the import line.

PS Azure:\&gt; Install-Module -Name Microsoft.RDInfra.RDPowershell
Azure:/
PS Azure:\&gt; Import-Module -Name Microsoft.RDInfra.RDPowershell
Import-Module : The specified module 'Microsoft.RDInfra.RDPowershell' was not loaded because no valid module file was found in any modu

[2019-03-22 13:12] shashishailaj commented on #27384
@varandian Thank you for your patience on this.  . We will be closing this today as a support ticket has been opened on this and will be further looked into .

[2019-03-22 13:12] dominicbetts commented on #25456
Hi @eifinger - thanks for pointing this out. We've updated the article to reflect the new UI for Azure Functions. I'm going to request that this article is now closed.
#please-close

[2019-03-22 13:13] msrini-MSFT commented on #27794
@Jothi3125 , Can you list the Ciphers which you found Weak under TLS 1.2 ?

[2019-03-22 13:15] alvipeo commented on #27758
ok, I'm sorry, my bad. I used this command in a .CMD file and I didn't know I had to escape %. That's the reason the SAS token was invalid.

[2019-03-22 13:15] #27758 closed

[2019-03-22 13:21] justinhauer commented on #26361
Do any of you that put out this code actually test it? even as @abhiSakhuja has pointed out to get this piece to work, your code still doesn't run, and this is the reference material you put out for your customers.

[2019-03-22 13:26] bonksnp commented on #27746
Thank you Martin for taking the time to reply with your fix to manually change update your user role to TenantCreator.

For those who need a little extra guidance, as mentioned by julesman101 there should be a 7th step.  After you assign your user account under users and groups, select your account and then click Edit.  Click Select Role >> TenantCreator.  This will allow you to run the PS command

[2019-03-22 13:36] tiktb8 commented on #27791
Did you grant the proper role to the global admin on the app registration?

[2019-03-22 13:37] tiktb8 commented on #27773
I received this error yesterday and after investigating the dsc package I uncovered that I had not correctly following the pre-reqs of creating the tenant with powershell and also granting the proper role on the app registration.

[2019-03-22 13:41] diberry commented on #27786
@DeepaThiruna @RohitMungi-MSFT

Another method, instead of deleting the example utterance, you could remove the PersonName from the app. As long as the prebuilt entity isn't part of a composite entity, the app won't be affected. Because it is pretrained, it is easily added and removed without issue. Label all example utterances, than add back.

[2019-03-22 13:42] Diwiton commented on #27773
Ok, tenant is created with PowerShell and the role TenantCreator is assignee to the service principal per the dokumentation.

Dora the user adding the CM’s to the domain need to have the TenantCreator role as well?

[2019-03-22 13:46] robertdj opened #27796 "Trigger by commits"
This is great stuff. But I have a problem builds triggered by commits.

I have the Dockerfiles for both the base image and the application image in the same repository. When I start the base image build manually it triggers the application build upon completion.

When I push to the repository both builds start at the same time. The base image build succeeds and the application image build fails be

[2019-03-22 13:47] judyanndixon opened #27797 "Default request interval time defined in the backendHttpSettingsCollection is 20 seconds not 30"
Default request interval time defined in the backendHttpSettingsCollection is 20 seconds not 30

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c070b6-1c47-4c7f-b928-317a8c8b452f
* Version Independent ID: 903191b7-6a01-1381-bf34-7353c2a8ece6
* Content: [Troubleshoot Azure Application Gateway Bad Gateway (502) errors](

[2019-03-22 13:52] tiktb8 commented on #27773
The user I used for domain join in my deployment did NOT have the TenantCreator role.

[2019-03-22 13:56] tiktb8 opened #27799 "Session Host Troubleshooting Guidance"
I've got a successful deployment and am able to see resources via the web client.  However, upon connection I am met with a general error.  Investigating through Get-RdsDiagnosticActivities shows no session hosts available.  The result of Get-RdsSessionHost shows my registered session host with a status of unavailable.

Is there some guidance on where to start troubleshooting this? Session host lo

[2019-03-22 14:10] Mr-Pepper commented on #27745
I've changed the domain and specified an OU with no luck. Failing on joindomain. Documentation is terribly lacking,

[2019-03-22 14:14] georgewallace commented on #27588
@christophkarner Were you able to confirm that you were using the correct account?

[2019-03-22 14:15] mjuza commented on #26494
Travis - I am running these commands against a full Azure Stack.  The command listed on the page "Get-AzureStackLog -FilterByRole SeedRing -OutputSharePath "<path>" -OutputShareCredential $cred" does not work in the PSSession as written.

[2019-03-22 14:18] mjuza commented on #26494
In order to run the Get-AzureStackLog on the ERCS you need to use the process outlined on this page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-stack/azure-stack-diagnostics.md

[2019-03-22 14:19] checkso commented on #27745
I have the same issue:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \"message\": \"The resource operation completed

[2019-03-22 14:21] Liam3851 commented on #11216
I'd like to second (now third) the request for the standard-parameter example (can now be replaced with Set-AzVMSourceImage for the newer Az module) to be added to the main document. The above comment finally solved by problem, but having it buried down here at the end of a hidden comment thread is no good and lost us some hours of productivity.

[2019-03-22 14:23] colinrubbert commented on #27753
After getting the same issue here is what I've come to understand and the work around to get it working.

Assumption/observations on why it's failing:
The template doesn't create and validate the appropriate vnet and subnet before creating the virtual nic. The error is occurring because the there isn't an existing vnet to create the virtual nic. There is something that is broken with the template

[2019-03-22 14:29] BhargaviAnnadevara-MSFT commented on #27395
@gopala000 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-22 14:29] #27395 closed

[2019-03-22 14:30] kaareschmidtalso commented on #27791
I followed the instructions here: https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory
I might have missed it - where should I check?

[2019-03-22 14:32] BhargaviAnnadevara-MSFT commented on #27571
@Kelviny128 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-22 14:32] #27571 closed

[2019-03-22 14:39] SubhashVasarapu-MSFT commented on #27797
@judyanndixon , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-22 14:42] #26577 closed

[2019-03-22 14:46] #5893 closed

[2019-03-22 14:46] tannersatch commented on #27791
I had this issue too, make sure you follow all the steps to assign the TenantCreator application role to a user in your Azure Active Directory tenant on the previous tutorial. I got to the Azure Active Directory Portal, went to the WVM app, selected "Users and Groups" and already saw my user there, so I moved on. Turns out, you have to add your user again anyway, and assign the TenantCreator role.

[2019-03-22 14:47] rbergertd commented on #27773
When WVD was first released the documentation did not have the link to create the tenant, this caused a lot of confusion and led to that DSC failure on deployment. Follow the below links:

https://docs.microsoft.com/en-us/powershell/windows-virtual-desktop/overview - install WVD PS Module
https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory - create the WVD te

[2019-03-22 14:49] vishalaj1 commented on #27697
Hi,

Attached is the file which i am trying to process.

[JSON-Sample-MultiArray.txt](https://github.com/MicrosoftDocs/azure-docs/files/2996993/JSON-Sample-MultiArray.txt)

Here I have two arrays in JSON however in the join directly from ADF I can give only one json path.

In real life json files it is very difficult to work with just one array. We have always more then one array in JSON which mak

[2019-03-22 14:55] ShiChen872 commented on #27314
Thank you all !

[2019-03-22 15:06] GhostAtom commented on #27721
Works now thanks

[2019-03-22 15:23] #7332 closed

[2019-03-22 15:25] mstastic opened #27800 "Getting 2 login prompts"
I'm using the web client at https://rdweb.wvd.microsoft.com/webclient
I get the Azure SSO login prompt then I see my published apps.
When I click on a Remote App it then starts connection and prompts again (web client popup).
Is there a way to pass through credentials and avoid 2 logins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-03-22 15:28] SubhashVasarapu-MSFT commented on #27797
@judyanndixon , Could you please let us know the source where it has been listed as 20 seconds. Thank you.

[2019-03-22 15:35] dominicbetts commented on #27718
Hi @romankiss - the IoT Central UI shows any payload returned from the device when a command is invoked. For more information about direct methods (this is the mechanism used by IoT Central commands), see https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-direct-methods.

Would it be useful to include a screenshot in this article showing how the UI displays return values from a command?

[2019-03-22 15:36] cynthn commented on #27776
@insankim Thank you for the feedback!

@jakaruna-MSFT and @JarrettRenshaw - this probably belongs in the "Preparing to upload" topic and also in Troubleshooting. @JarrettRenshaw can you work with @jakaruna-MSFT to get this reassigned to the proper writer? I'm not sure if it is @genlin or @glimoli. Thanks :)

[2019-03-22 15:51] spelluru commented on #27631
Fixed the issue. Thanks @krob527

https://docs.microsoft.com/en-us/azure/lab-services/classroom-labs/tutorial-setup-lab-account

#please-close

[2019-03-22 15:52] spelluru commented on #18818
#please-close

[2019-03-22 15:53] rbergertd commented on #27773
I guess I spoke too soon. Even after adding the tenant, following the guide step by step, I am still getting the same DSC failure. It's joining my Active Directory domain, but still failing on the DSC with the same error.

https://i.imgur.com/K8TGL4K.png

[2019-03-22 15:56] jtuliani opened #27802 "Clarify network port requirements"
Doc says: Ensure that your VNET Network Security Group rules don't block the following communication ports 443, 53, 9354, 445, 12000

To where? The source database? The target? The Internet? What?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a49a982-613b-76a9-4a0a-7132d6058dcb
* Version Independent ID: b2a280d2-ea2c

[2019-03-22 15:58] carloreggiani commented on #27791
Same error also for me....

`New-RdsTenant -Name <TenantName> -AadTenantId <DirectoryID> -AzureSubscriptionId <SubscriptionID>`

Reponse:
`New-RdsTenant : User is not authorized to query the management service`

[2019-03-22 16:03] curtand commented on #27720
Hi @joeljanke
This will all be reconciled at some point, but proibably not any time soon. Currently we're developing new built-in roles for ease of delegation, developing custom roles, and integrating with Microsoft 365. This is why we included it where appropriate with role descriptions. I'll take a work item I can use to work this issue with my engineering team. I'm the writer.

@MarileeTurscak-

[2019-03-22 16:04] MicahMcKittrick-MSFT commented on #27796
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-22 16:09] chiemix commented on #27774
Thank you!! Docs helps me a lot and I really appreciate frequently update of documents. I hope docs will be better!

[2019-03-22 16:09] #27774 closed

[2019-03-22 16:15] judyanndixon commented on #27797
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-troubleshooting-502#request-time-out

When a user request is received, Application Gateway applies the configured rules to the request and routes it to a back-end pool instance. It waits for a configurable interval of time for a response from the back-end instance. By default, this interval is 30 seconds . If Applicatio

[2019-03-22 16:15] MicahMcKittrick-MSFT commented on #27650
@zikalino I will close this for now but please open that issue in the REST api github and feel free to link this issue to it. You can also CC me in that new issue

[2019-03-22 16:15] #27650 closed

[2019-03-22 16:16] MicahMcKittrick-MSFT commented on #27703
@nurleni I will close for now. Please let me know more details if you have any feedback on this particular doc.

[2019-03-22 16:16] #27703 closed

[2019-03-22 16:17] dataify opened #27804 "Too long"
Resources take forever to load in this tutorial, why don't use simplified set of examples?

I have wasted more than half-an hour and still I'm not done. This is the perfect example of MS inefficiency, when it comes to cost of time and money.

BigQuery is much simpler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26e

[2019-03-22 16:17] cijothomas commented on #27756
@anish714 surely. I opened this from the SO post only.

[2019-03-22 16:19] #27411 closed

[2019-03-22 16:19] PramodValavala-MSFT commented on #27411
@julesman101 @jasonrmh Hope my previous comments have helped. I have raised a PR which addresses these changes and should reflect in a few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 16:21] MicahMcKittrick-MSFT commented on #27792
@pardha100 in Azure we have a few routes for you to use SQL.

You can run a SQL database without the need to manage an Azure VM.

https://azure.microsoft.com/en-us/services/sql-database/

This route allows you to get all the benefits of SQL without actually managing the infrastructure of the underlying VM.

Apart from that, you can deploy a SQL VM image from the Azure Gallery. These images have SQ

[2019-03-22 16:25] tfitzmac commented on #14491
You define how your managed app interacts with data through [policies](https://docs.microsoft.com/en-us/azure/managed-applications/overview#azure-policy).

[2019-03-22 16:25] tfitzmac commented on #14491
#please-close

[2019-03-22 16:29] jakaruna-MSFT commented on #27371
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-22 16:29] #27371 closed

[2019-03-22 16:34] MicahMcKittrick-MSFT commented on #27796
@dlepow @iainfoulds would either of you have anything to comment on this?

[2019-03-22 16:37] eross-msft commented on #27760
@badcop666  @shashishailaj  Thank you for catching this typo. I've fixed it and it should show up correctly in the text this afternoon.

[2019-03-22 16:37] eross-msft commented on #27760
#please-close

[2019-03-22 16:38] pardha100 commented on #27792
"I am not 100% sure what you mean by taking a file from another VM though"
I was talking about the SQL setup file in C:\ drive of any SQL Azure VM.

[2019-03-22 16:41] erwelch commented on #27078
@kgremban - I was able to run the command when I ssh'd!

[2019-03-22 16:45] MicahMcKittrick-MSFT commented on #27792
Got it. I am not sure if that would cause a problem or not. Generally we suggest using a SQL image.

@MikeRayMSFT @v-shysun @Mike-Ubezzi-MSFT could either of you comment further?

[2019-03-22 16:46] #18818 closed

[2019-03-22 16:53] CMDRMiley commented on #27770
Hi, I had this issue when trying to deploy using my Visual Studio MSDN subscription, which is a personal microsoft account.
Before starting the tutorial, make sure your AAD is correctly set up and create a user with global admin permissions. Create an office 365 tenant and associate it to your subscription with the new account having an E3/E5 licence.
Once you've done this, sign in to Azure Portal

[2019-03-22 16:56] alex-frankel commented on #27312
Hi Kalzi,

Can you send me an email at alfran@microsoft.com?

I'd like to collect some more debugging information so we can track down what might be happening.

Thanks.

[2019-03-22 17:01] MicahMcKittrick-MSFT commented on #27629
Thanks for the update @vinothinidharmaraj glad to hear it is working now :)

As per the VSTS and DSC integration that is a bit outside of my knowledge base. I would suggest you reach out to the VSTS forums to get more information on this

https://developercommunity.visualstudio.com/topics/Azure+DevOps.html

Here you will find people who integrate the two items together and should be able to help y

[2019-03-22 17:04] BhargaviAnnadevara-MSFT commented on #27406
@haoxin Just following up to check if you're still facing issues working with the Cluster creation command.

[2019-03-22 17:07] Mike-Ubezzi-MSFT commented on #27804
@bfgr Thank you very much for sharing the user experience. We are investigating this and will evaluate the tutorial for improvement.
Regards,
Mike

[2019-03-22 17:08] SaurabhSharma-MSFT commented on #27795
@echanfin Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-22 17:08] matta576 commented on #26752
@shannonjk I chose not to follow the recommendation about using the same and and type of integration runtime in my dev, test, and prod data factories.  This presented a problem with the need to edit the IR names in the template.  I didn't want to manually edit the ARM Template json file so I used a powershell script in the pipeline to modify the arm template.  It was pretty easy.

[2019-03-22 17:08] SaurabhSharma-MSFT commented on #27799
@tiktb8 Thanks for your feedback! We will investigate and update as appropriate.