[2020-05-01 00:17] CloudTechTravel commented on #53687
Its available via an ARM - but not in the portal.

[2020-05-01 00:18] #53730 closed

[2020-05-01 00:19] djpmsft commented on #52805
Thank you for your feedback. The tumbling window trigger documentation was added to reflect this information:

https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-tumbling-window-trigger#tumbling-window-trigger-type-properties

Thanks,
Daniel

#please-close

[2020-05-01 00:19] #52805 closed

[2020-05-01 00:30] NavtejSaini-MSFT commented on #53687
@CloudTechTravel Please do let us know any further help needed with this thread.

[2020-05-01 00:33] mike-urnun-msft commented on #53765
@Adikota Thank you for your feedback. Everything you describe is possible. If you already have an existing Data Gateway, you can certainly leverage it in your Logic App workflow. Once you create a Logic App and choose one of the connectors that support OPDG connection, you'll be prompted with Windows authentication which will then be stored as an API Connection in your Logic App. If you have a spe

[2020-05-01 00:42] mike-urnun-msft commented on #53775
@mcalnd70 Thank you for your feedback. This appears to be doc-bug so I'll create a PR that'll address it. The correct guidance for the Redirect URI is communicated at steps 16 & 17 of the [Enable OAuth 2.0 user authorization in the Developer Console](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#enable-oauth-20-user-authorization-in-the-develop

[2020-05-01 00:44] djpmsft commented on #48155
Hey @sfilipi

Sorry for the delay in response here. Your issue was the service principal you are using to connect to your AML instance doesn't have read permission on the AML workspace ('Microsoft.MachineLearningServices/workspaces/read).

To add permissions, got to your machine learning workspace in the azure portal and grant the service principal you are using to connect the appropriate permissi

[2020-05-01 00:44] #48155 closed

[2020-05-01 00:46] julieMSFT commented on #24239
#reassign:julieMSFT

[2020-05-01 00:47] mike-urnun-msft commented on #53269
Hey @dapathy - Usage quota by bandwidth applies to the requests made to the APIM, not the requests/responses that APIM makes. @miaojiang could you confirm?

[2020-05-01 00:48] khoang76 opened #53785 "Cannot Logged In - Replaced Mobile Phone & Had to Reinstall New MS MFA app"
I cannot access my Partner portal since I replaced my phone, but with the same mobile phone number. I had to re-install MS Authenticator app, but lost the setting for MFA. When I tried to use other methods, MFA is the only option I prompting me all the time. Need to know who I should contact to disable MFA or use my mobile phone numbers to authenticate.
Please advise.

---
#### Document Details

⚠

[2020-05-01 00:49] julieMSFT commented on #24239
@Nikos-K @stephenjust Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product.  To get further assistance with your issue, we'd recommend engaging the community, or opening a ticke

[2020-05-01 00:49] julieMSFT commented on #24239
#please-close

[2020-05-01 00:49] #24239 closed

[2020-05-01 00:53] djpmsft commented on #53667
@zbourdeau Data Flows do not support the use of fixed IP Ranges right now. The documentation has been updated to reflect this. To connect to a data store under a firewall using data flow, it is recommend that you use MSI auth and 'Allow trusted services'.

#please-close

[2020-05-01 00:53] #53667 closed

[2020-05-01 01:01] jonwbstr commented on #38005
Awesome, that is perfect!

On Thu, Apr 30, 2020, 5:33 PM Curtis Love <notifications@github.com> wrote:

[2020-05-01 01:13] TravisCragg-MSFT commented on #53778
@RonnieQuan There should be no difference in the Log Analytics functionality between the WAF SKU and the normal SKU, but there [are some logging differences in the V1 vs V2 SKU](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#differences-with-v1-sku).  All V2 SKUs should be able to use Diagnostic Logs.

[2020-05-01 01:24] KosukeHosoda opened #53786 "Example could be helpful to understand the necessary rule"
I would say that an example figure as below would help customers to understand the necessary rule for BastionSubnet.
![bastion-nsg](https://user-images.githubusercontent.com/46177050/80773852-24fae880-8b96-11ea-90d6-0cdfa14906e6.png)

I suggest that this page have an example as above regarding the NSG rule on BastionSubnet.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-01 01:26] julieMSFT commented on #50646
#reassign:julieMSFT

[2020-05-01 01:30] Niteesh commented on #32900
@ybuasen even after enabling  AKS Preview Features
[code]

[2020-05-01 01:33] allenzhang83 commented on #51554
The change above works after the underscore problems are fixed - the underscores are missed in a few places.

[2020-05-01 01:42] dcbrown16 commented on #53103
Appears to have been addressed, thanks!

[2020-05-01 01:42] #53103 closed

[2020-05-01 01:54] MarileeTurscak-MSFT commented on #53781
@MarileeTurscak-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 01:55] MarileeTurscak-MSFT commented on #53781
Can you please clarify what your ask is?

[2020-05-01 01:55] MarileeTurscak-MSFT commented on #53783
@RhomGit
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 01:56] MarileeTurscak-MSFT commented on #53742
Thanks @gbaeke ! Which document did you want to update? Are you seeing this incorrectly referenced somewhere?

[2020-05-01 02:00] MarileeTurscak-MSFT commented on #53745
Hi @ToddPowers ,

Thank you for this detailed description. This is good feedback. I have shared this feedback with the product team and will update this thread when I have a response.

In the meantime, I recommend also sharing this feedback on User Voice. The product team monitors these requests and adds then into their backlog. https://feedback.azure.com/

[2020-05-01 02:01] MarileeTurscak-MSFT commented on #53745
Authenticator does support TOTP and you can add non-Microsoft accounts. https://support.microsoft.com/en-us/help/4026727/microsoft-account-how-to-use-the-microsoft-authenticator-app

[2020-05-01 02:02] MarileeTurscak-MSFT commented on #53745
Fingerprint authentication can be done through authenticator if you have a device that supports it. (I currently authenticate this way.)

[2020-05-01 02:03] MarileeTurscak-MSFT commented on #53745
I'm not sure about custom labels and groups but think that would be a good feedback request.

I've forwarded your feedback to the PG but if you would like to discuss this further feel free to email me at AzCommunity@microsoft.com

[2020-05-01 02:03] #53745 closed

[2020-05-01 02:04] MarileeTurscak-MSFT commented on #53713
Thanks for this feedback, @MohamedWaly !

Can you please link the article you are leaving this for? Is this referenced incorrectly in one of the docs?

[2020-05-01 02:05] MarileeTurscak-MSFT commented on #53772
@alex-mason-jdas
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 02:10] Mike-Ubezzi-MSFT commented on #53761
@xyz92 Thank you for bringing this to our attention. The use of `PersonnelNumber` for a partition key is appropriate. I think your RUs are set too low and because you have a good partition key, there shouldn't be an issue with a hot partition. Please see the [Physical Partitions](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#physical-partitions) information and navigate to the st

[2020-05-01 02:22] xyz92 commented on #53761
Thank you!

I tried setting RUs to 5000 and I still see the same issue.

On Thu, Apr 30, 2020 at 7:10 PM Mike Ubezzi <notifications@github.com>
wrote:

[2020-05-01 02:30] xyz92 opened #53787 "Issue with left outer join in Azure Data Factory"
I have created a simple ADF pipeline that has two sources (S1, S2) and stores data from these sources into Azure Cosmos DB sink using left outer join (condition: s1.abc = S2.abc). After running this pipeline, I can see all columns from S1 and none of the columns from S2 in the database. Why is that? Please help me understand.

This is how my pipeline looks like:

![image](https://user-images.githu

[2020-05-01 02:32] kriti218 opened #53788 "Will this functionality work for "hybrid runbook worker"?"
I wanted to know if these events are extendable to on-premise machines and not just azure resources. Is it possible to use this solution for hybrid runbook worker by using powershell scripting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632e6b6a-f7ec-ebd2-2014-4f9160906b11
* Version Independent ID: 83a85ada-d3cb-3f

[2020-05-01 02:33] xyz92 opened #53789 "Issue with inserting data in container"
I have created a simple ADF pipeline that has two sources (S1, S2) and stores data from these sources into Azure Cosmos DB sink using left outer join (condition: s1.abc = S2.abc). After running this pipeline, I can see all columns from S1 and none of the columns from S2 in the database. Why is that? Please help me understand.

This is how my pipeline looks like:

![image](https://user-images.githu

[2020-05-01 02:38] Mike-Ubezzi-MSFT commented on #53653
@migee For this to work, your data source Location Prefix and LOCATION must be: abfss://<container>@<storage_account>.dfs.core.windows.net

But for the above to work the TYPE value must be HADOOP and this type is only supported by SQL Data Warehouse.

The following location path equates to Azure Data Lake Store Gen2 and this storage service is the only one that support AAD MSI.

If you moved your

[2020-05-01 02:42] MSNina123456 commented on #52990
similar comment here and need update this doc after confirmed: in this doc, it mentioned, we need only access workspace permission, but in fact, we need contributor role in workspace. so please update doc here, thanks!

[2020-05-01 02:46] jublair opened #53790 "maxPollingInterval documentation inconsistencies"
There are a few inconsistencies with how the default configuration of `maxPollingInterval` is documented on this page, versus this one: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp#polling-algorithm.

This page states that the default value for `maxPollingInterval` is 1 second, though the linked document states that this value is two s

[2020-05-01 02:50] Mike-Ubezzi-MSFT commented on #53789
@xyz92 Thank you for the detail but can you please provide the query you are executing and examples of each document from S1 and S2 as they exist in Cosmos DB? My assumption here is that you are using Query Explorer and running a query directly against the container without Data Factory in the picture.

[2020-05-01 03:00] BharathNimmala-MSFT commented on #53731
@mqunbar Thank you for your query, our team will look into and get back to you at the earliest.

[2020-05-01 03:14] #53256 closed

[2020-05-01 03:24] mrbullwinkle commented on #49433
The change to address this issue is merged internally and will go-live between 10-11 AM UTC-7 tomorrow, I confirmed with the PG that the REST API IPs are also included in the service tags. The IPs that I found that were not present were out-of-date and have been removed from this doc.

[2020-05-01 03:24] mrbullwinkle commented on #49433
#please-close

[2020-05-01 03:24] #49433 closed

[2020-05-01 03:26] ElanShudnow opened #53791 "Sso methods"
The article has this statement, “ Seamless SSO needs the user's device to be domain-joined only, but it is not used on Azure AD Joined or Hybrid Azure AD joined devices. SSO on Azure AD joined and Hybrid Azure AD joined works based on the primary refresh token.”

What about Azure AD Registered Devices that also use PRT?

There’s Azure AD Join, Hybrid Join, and Registered Devices. The statement onl

[2020-05-01 03:31] dcbrown16 commented on #49433
Awesome, thanks!

[2020-05-01 03:32] VikasPullagura-MSFT commented on #53716
@sndpkj
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 03:34] ElanShudnow opened #53792 "Azure AD Registered Devices"
Does this work with Azure AD Registered Devices or only Azure AD Join/Hybrid Joined devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d912434-0693-e158-f371-51b010f8a533
* Version Independent ID: 51892e2c-8bd5-df84-28a1-548bbf0d8d96
* Content: [How SSO to on-premises resources works on Azure AD joined devices](h

[2020-05-01 03:35] Karishma-Tiwari-MSFT commented on #53728
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-01 03:36] Adikota commented on #53765
Initially this setup is fine and I understand this but if i want to
redeploy using an ARM template i have store the secure string variables as
release variable in my cd pipeline and i was trying to see if this can be
eliminated if the data source is setup on OPDG and i would just
reference/map that in my logicapp. I was hoping the functionality like
powerbi datasource mapping using the OPDG.

On T

[2020-05-01 03:36] Karishma-Tiwari-MSFT commented on #53749
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-01 03:39] VikasPullagura-MSFT commented on #53725
@Mexicoder
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 03:39] VikasPullagura-MSFT commented on #53725
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 03:41] VikasPullagura-MSFT commented on #53684
@nanditavalsan Can you please check and add your comments on this issue.

[2020-05-01 03:41] slsu0424 opened #53793 "Latest Resource Groups API version?"
When trying to execute this command above - curl https://management.azure.com/subscriptions/{your-subscription-id}/resourceGroups?api-version=2019-11-01 -H "Authorization:Bearer {your-access-token}"

I took the latest Resource Group API version located here: https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups.   Latest version = 2019-10-01

However, when I try to execute this comman

[2020-05-01 03:42] tamram commented on #53716
@sndpkj - The documentation is correct.

The primary region may use either LRS or ZRS. The secondary region always uses only LRS. Within the secondary region, data is replicated three times synchronously, as it always is with LRS.

The only asynchronous replication takes place between the primary and secondary region.

#reassign: @tamram

[2020-05-01 03:43] tamram commented on #53716
#please-close

[2020-05-01 03:43] #53716 closed

[2020-05-01 03:43] VikasPullagura-MSFT commented on #53735
@b0cephus Thank you for your question!
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-01 03:44] VikasPullagura-MSFT commented on #53777
@dontmesswithbill Thank you for your question!
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-01 03:46] gallogiulia opened #53794 "Create Azure SQL Datastore to connect to Azure ML Studio to read SQL tables in workspace"
Hello,
I have an Azure SQL Database and an Azure ML Workspace, and have been trying to create an Azure SQL datastore in the ML workspace, but haven't succeeded.

This is the error I am getting:
AzureSqlError: Azure SQL Database: Please check the correctness of the datastore information.

Here are the steps I followed, based on the information I found on different posts.

1) I have assigned the Act

[2020-05-01 03:47] VikasPullagura-MSFT commented on #53757
@sandervandevelde
Thanks for the Question! We are currently investigating and will get back on this.

[2020-05-01 03:47] mrbullwinkle commented on #11507
Apologies for the delay in response on this one. I tried reproducing this issue and was unable to:
![Screenshot indicating max and min custom metrics can appear in App Insights](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/2020-04-30.png)

I am guessing this issue was fixed since the time you opened the issue. I am going to close out the issue, but if you are still experienc

[2020-05-01 03:48] mrbullwinkle commented on #11507
#please-close

[2020-05-01 03:48] #11507 closed

[2020-05-01 03:48] VikasPullagura-MSFT commented on #53782
@MattHartz
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 03:49] VikasPullagura-MSFT commented on #53785
@khoang76
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 03:51] VikasPullagura-MSFT commented on #53786
@KosukeHosoda
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 03:51] VikasPullagura-MSFT commented on #53786
@charwen
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 03:53] VikasPullagura-MSFT commented on #53787
@xyz92
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 03:54] VikasPullagura-MSFT commented on #53788
@kriti218
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 03:56] VikasPullagura-MSFT commented on #53790
@jublair
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 03:56] VikasPullagura-MSFT commented on #53790
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 03:58] VikasPullagura-MSFT commented on #53791
@ElanShudnow
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 03:59] VikasPullagura-MSFT commented on #53792
@ElanShudnow
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 04:03] VikasPullagura-MSFT commented on #53794
@gallogiulia
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 04:05] VikasPullagura-MSFT commented on #53793
@slsu0424
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 04:15] MarileeTurscak-MSFT commented on #53713
Based on the Absorb documentation XML appears to be supported and in their samples they use XML metadata to ensure a secure transaction between an identity provider and a service provider. https://support.absorblms.com/hc/en-us/articles/222446087-Incoming-SAML-2-0-Single-Sign-On

I'm closing this out but if you have further citations for this feel free to make a new issue linking the article that

[2020-05-01 04:15] #53713 closed

[2020-05-01 04:16] mrbullwinkle commented on #50209
I've updated the doc to reflect Mikhail's clarification above. The change is merged internally and will go live in the docs between 10-11 AM UTC-7 tomorrow. Thanks for bringing this to our attention.

[2020-05-01 04:17] mrbullwinkle commented on #50209
#sign-off

[2020-05-01 04:17] mrbullwinkle commented on #50209
#please-close

[2020-05-01 04:17] #50209 closed

[2020-05-01 04:21] jacobt123 commented on #53510
@SubhashVasarapu-MSFT Is there any way this can be documented correctly ? Thanks !

[2020-05-01 04:21] MarileeTurscak-MSFT commented on #53742
Thanks for the feedback! I think you may have been referring to this article: https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-pod-security

I made a pull request to remove those references. https://github.com/MicrosoftDocs/azure-docs-pr/pull/113493

If you think more needs to be done or were referring to a specific article, feel free to create an issue linking the exact documen

[2020-05-01 04:21] #53742 closed

[2020-05-01 04:25] Mike-Ubezzi-MSFT commented on #53761
@xyz92 What does the Throughput Tab look like? See the following blog to identify heatmaps: [Get insights into your Azure #CosmosDB: partition heatmaps, OMS, and more](https://azure.microsoft.com/en-us/blog/get-new-insights-into-your-azure-cosmos-db-partition-heatmaps-azure-monitor-oms-and-audit-log/)
It looks like you are only showing a single partition. Are there any metrics being captured by Da

[2020-05-01 04:27] hisasima opened #53795 "About error of "SNI TLS extension was missing.""
Sometimes I can not connect to web site because of "SNI TLS extension was missing." but I could not find any limitation in public document about that issue. I hope you to add that https access needs to use SNI to identify FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Versio

[2020-05-01 04:35] #37672 closed

[2020-05-01 04:40] VikasPullagura-MSFT commented on #53527
@bendubuisson
We will now close this issue. You can either open a new issue by providing Feedback directly on the document or If you have the document URL then please share so that we can reopen this issue.

[2020-05-01 04:40] #53527 closed

[2020-05-01 04:40] mrbullwinkle commented on #41584
@stuarthallows I updated the doc to help clarify that section and cross link to the Azure App Service monitoring article to make things a little more clear. The change is merged internally and will go-live in the public docs between 10 AM - 11 AM tomorrow (UTC-7). Thank you for helping us to improve our docs!

[2020-05-01 04:40] mrbullwinkle commented on #41584
#please-close

[2020-05-01 04:40] #41584 closed

[2020-05-01 04:41] #53368 closed

[2020-05-01 04:41] #53475 closed

[2020-05-01 04:44] VikasPullagura-MSFT commented on #53301
@payiAzure I have reached to internal team on this. I am yet to hear back on this. Once I have an update, I will keep you posted.

[2020-05-01 04:49] VikasPullagura-MSFT commented on #53795
@hisasima
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 04:49] VikasPullagura-MSFT commented on #53795
@vhorne
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 04:50] mrbullwinkle commented on #15542
We neglected to close out this issue when we updated the availability docs previously. I am going to close out this issue now.

[2020-05-01 04:50] mrbullwinkle commented on #15542
#please-close

[2020-05-01 04:50] #15542 closed

[2020-05-01 05:13] mrbullwinkle commented on #38133
This update is merged internally and will go live tomorrow morning.

[2020-05-01 05:13] mrbullwinkle commented on #38133
#please-close

[2020-05-01 05:13] #38133 closed

[2020-05-01 05:22] xyz92 commented on #53761
Here is my throughput tab:

![image](https://user-images.githubusercontent.com/6519992/80784193-09112b80-8b31-11ea-9942-67b994916d10.png)

Data Factory doesn't capture any metrics.

[2020-05-01 05:24] DixitArora-MSFT commented on #53467
@qfyra I have assigned this to content author for further review and update as appropriate.

[2020-05-01 05:25] DixitArora-MSFT commented on #53511
@adesmet For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-01 05:25] #53511 closed

[2020-05-01 05:30] KranthiPakala-MSFT commented on #53751
@tjlagrimas The expected behavior of Lookup activity is to read and return the content of a single file or table. It also returns the result of executing a query or stored procedure. This activity is not intended to read multiple datasets (multiple files/tables) at once.

Could you please elaborate in detail about your use case business scenario which justify the need of wildcard naming in lookup

[2020-05-01 05:30] mrbullwinkle commented on #44977
For Azure Functions it is now recommended to use [connection strings](https://docs.microsoft.com/azure/azure-monitor/app/sdk-connection-string?tabs=net) set in the Function's Application settings. To access Application settings for your function from within the functions pane select **Settings** > **Configuration** > **Application settings**.

Install the following packages in your function projec

[2020-05-01 05:31] mrbullwinkle commented on #44977
#please-close

[2020-05-01 05:31] #44977 closed

[2020-05-01 05:35] Mike-Ubezzi-MSFT commented on #53761
It look like you are experiencing some 429 throttling events. Looks like you ran it with 2000 RUs and then bumped it up to 5000 RUs but still there are some 429 event. Please see: [Comparison – Containers configured in manual mode vs. autoscale mode](https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autoscale)

When you deploy a container you can enable the auto pilot mode, whi

[2020-05-01 05:37] 0ooops commented on #49256
Hi @KrishnaG-MSFT, @tfitzmac, is there an update on this request for configuring retention period? Or do we still need to work on our own automation to delete old deployments?

[2020-05-01 05:39] DevendarReddyK commented on #33139
I am trying to connect to US gov cloud using command line but it is not working:
<cmd>
setup.exe /qn ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=1 OPINSIGHTS_WORKSPACE_ID=<WorkspaceId> OPINSIGHTS_WORKSPACE_KEY=<WorkspaceKey> AcceptEndUserLicenseAgreement=1
</cmd>

If I remove "OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=1" and run above command, It is working fine, but it is trying

[2020-05-01 05:43] evmoreno opened #53797 "Appliance Menu has changed 1911and Screen Shot needs to be updated on this doc"
Compute Settings option no longer available under Configuration Blade the Local UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbd63dfd-be36-c9f0-445d-bf2ca493c5a1
* Version Independent ID: da2b1661-8061-b048-e0e6-b8e96592611b
* Content: [Manage compute network on Azure Stack Edge to access modules](https://docs.mic

[2020-05-01 05:44] mrbullwinkle commented on #30910
These IPs were recorded in this separate article for action groups: https://docs.microsoft.com/azure/azure-monitor/platform/action-groups#webhook

I have added the IPs to this article as well to make their discovery easier. These changes will go-live tomorrow between 10-11 UTC-7

[2020-05-01 05:45] mrbullwinkle commented on #30910
#please-close

[2020-05-01 05:45] #30910 closed

[2020-05-01 05:48] DevendarReddyK opened #53798 ""OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=0" is not working"
We are trying to install in Azure US Gov environment using command line below:
MMASetup.exe /Q:A /R:N /C:"setup.exe /qn OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=1 ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_ID=<WorkSpaceId> OPINSIGHTS_WORKSPACE_KEY=<WorkSpaceKey> AcceptEndUserLicenseAgreement=1"

But nothing is happening, If i remove "OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=1" and run above command

[2020-05-01 06:18] SwathiDhanwada-MSFT commented on #53680
@rolyon Can you please review the request and update the document ?

[2020-05-01 06:27] roberbr opened #53800 "More info on mapping please"
I run into an error with mapping because the source has two columns and the sink has 3, so it doesn't work smoothly as described in this article. It seems like it wants me to map something to the ID column. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe64944-749a-68bd-36a3-011dd8e33fa9
* Version Independent

[2020-05-01 06:32] jhua18 opened #53801 "./sideload-createuidef.sh open browser tab with 400 response "Bad Request - Invalid URL""
I am encountering an issue when using the script to upload to azure portal for testing the "createUiDefinition.json".
I have checked storage account and can confirm that the blob container does have the file uploaded by the script, however, the browser keeps getting 400 response "Bad Request - Invalid URL".
Below is the command and outputs in console:
 ./sideload-createuidef.sh -l West Europe
Chec

[2020-05-01 06:54] dem108 opened #53803 "Add sample repos here (MLOps and MLOpsPython)"
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where#continuously-deploy-models has great additional GitHub repos at the end of the section: https://github.com/Microsoft/MLOps and https://github.com/microsoft/MLOpsPython

Can we add these git repos under Samples / Jupyter Notebooks (this page).
Make this page a go-to-page for every useful repo for Azure ML.

---
#### Doc

[2020-05-01 07:03] RobMcZag commented on #52917
Thank you Daniel,
  now this makes it clear !

It would be great to have the info as clear in the docs.

I have already opened up a bug (120042122002358 - ADF / Flatten not removing empty items) connected with this discussion, as it was clear that behavior 2B was wrong (nothing returned when unroll by = unroll root and there are elements that are not null - 255 x 2 of them).

Despite the obvious b

[2020-05-01 07:10] evmoreno commented on #53797
Please close I need glasses

[2020-05-01 07:11] evmoreno commented on #53797
Closing i need glasses

[2020-05-01 07:11] #53797 closed

[2020-05-01 07:12] tomleetaiwan opened #53806 "Incorrect example for Create an image pull secret"
the sample command can't deploy pod into Virtual node properly

kubectl create secret docker-registry \<secret-name\> \
  --namespace \<namespace\> \
  --docker-server=**https://\<container-registry-name\>.azurecr.io** \
  --docker-username=\<service-principal-ID\> \
  --docker-password=\<service-principal-password\>

It should remove protocol of docker-server as below:

kubectl create secret dock

[2020-05-01 07:25] AjayKumar-MSFT commented on #53312
@orion1900, Apologies for the delay. You can [customize build automation](https://docs.microsoft.com/azure/app-service/containers/how-to-configure-python#customize-build-automation) and container start-up process with custom container.  You could add a [startup script ](https://docs.microsoft.com/azure/app-service/containers/app-service-linux-faq#built-in-images) -These commands or scripts are exe

[2020-05-01 07:34] stuhad commented on #52940
I'm not really sure why you are asking me this as we ** absolutely do not** want to us PAP, but yes if we set PAP as an Authentication Method then we see successful connections from the Azure Virtual Network Gateway (VNG) OpenVPN Peer to Site (P2S) VPN.

If we set any other Authentication Method such as MS-CHAP-v2 then the NPS server rejects the authentication attempt because the Azure VNG OpenVPN

[2020-05-01 07:36] ixtlanian opened #53807 "Outdated reference to Microsoft Azure Datacenter IP Ranges"
The page cross-references a deprecating page (https://www.microsoft.com/en-us/download/details.aspx?id=41653) for Microsoft Azure Datacenter IP Ranges.
The new pages are:
- Public: https://www.microsoft.com/en-us/download/details.aspx?id=56519
- US Gov: http://www.microsoft.com/en-us/download/details.aspx?id=57063
- Germany: http://www.microsoft.com/en-us/download/details.aspx?id=57064
- China: ht

[2020-05-01 07:40] AjayKumar-MSFT commented on #53147
@jishansiddique, Apologies for the delay! I have been checking on this internally and will respond back shortly.

[2020-05-01 08:04] cmenzi opened #53808 "Storing Images in Private Registry does not work"
We successfully mirrored the system modules from the MCR to our ACR, because the customer network does not allow us to use all the wildcard urls.

* https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#store-runtime-containers-in-your-private-registry

The problem is now that even when all system modules (edgeAgent and edgeHub) are stored in our ACR, the first layers are still poin

[2020-05-01 08:05] MohamedWaly commented on #53713
If you looked at the documentation at the step 5.c of **Configure Absorb LMS Single Sign-On**, you will note that it is looking for the certificate not the XML file which makes the step of the XML file useless in this case

[2020-05-01 08:07] roschly opened #53809 "Outdated way to create Tabular dataset"
According to your documentation, the Dataset.Tabular.from_delimited_files is outdated, since the Tabular class is now for internal use only. The docs recommend using the TabularDatasetFactory.from_delimited_files method instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Versi

[2020-05-01 08:17] VikasPullagura-MSFT commented on #53800
@roberbr
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 08:19] VikasPullagura-MSFT commented on #53798
@DevendarReddyK
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 08:21] VikasPullagura-MSFT commented on #53801
@jhua18
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 08:23] VikasPullagura-MSFT commented on #53807
@ixtlanian
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 08:24] VikasPullagura-MSFT commented on #53803
@dem108
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 08:24] VikasPullagura-MSFT commented on #53803
@sdgilley
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 08:29] VikasPullagura-MSFT commented on #53806
@tomleetaiwan
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 08:31] VikasPullagura-MSFT commented on #53809
@roschly
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 08:31] VikasPullagura-MSFT commented on #53809
@MayMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 08:32] benmillaneasos opened #53810 "Grammatical Errors"
This entire page is written in broken English. Which is pretty awful considering this is a Microsoft product. To call out but a few examples, and improvements: (I'm not doing the whole page, I'll be here all day)

"Definition of an alert rule is in three parts:" - Incomplete and incorrect
"Alert rules are defined by three components:" - Correct, and easy to understand

"Target: Specific Azure reso

[2020-05-01 08:32] VikasPullagura-MSFT commented on #53808
@cmenzi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 08:34] scottrsimms73 commented on #51499
Can you please publish an updated version of "RegisteredForRemoteNotifications" method to address callback issue either here in the comments or update the document? Thanks.

[2020-05-01 08:35] VikasPullagura-MSFT commented on #53810
@benmillaneasos
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-01 08:35] VikasPullagura-MSFT commented on #53810
@yanivlavi
Can you please check and add your comments on this doc update request as applicable.

[2020-05-01 08:51] sayanghosh123 opened #53811 "Azure Resource Graph query | get VM license benefit type"
I can get a no of things about VMs from "resources | where type =~ 'Microsoft.Compute/virtualMachines'" and then expanding the properties. What I am looking for is the Windows license type. The same information is available on the portal under "Virtual Machines" - add Columns - "OS licensing benefit". The values are of type "Azure hybrid benefit", "Not enabled" etc.

I can get the same information

[2020-05-01 08:54] pergerch commented on #16003
This solution also works very well and is easy to understand
https://stackoverflow.com/a/59974770/2311105

In short: Just rewrite all requests without a file extension to index.html

[2020-05-01 08:54] ezYakaEagle442 opened #53812 "Add CLI snippet"
Could you please add CLI snippet examples and state what permissions are required to have the correct privileges to run this CLI command :

ADM_USR_ID=$(az ad user create --display-name "MY Admin user " --user-principal-name "adm@groland.onmicrosoft.com" --password "NoPassIsBad" --query objectId -o tsv)
echo "ADMIN USER ID: " $ADM_USR_ID
az ad user show --id $ADM_USR_ID

---
#### Document Details

[2020-05-01 09:01] ezYakaEagle442 opened #53813 "Add CLI snippet"
Could you please add CLI snippet examples and state what permissions are required to have the correct privileges to run this CLI command :

ADM_GRP_ID=$(az ad group create --display-name my-adm-grp --mail-nickname my-adm
--query objectId -o tsv)
echo "ADMIN GROUP ID: " $ADM_GRP_ID
az ad group show --group $ADM_GRP_ID

az ad group member add --member-id $ADM_USR_ID --group  $ADM_GRP_ID

---
#### Do

[2020-05-01 09:19] danijam opened #53814 "Per User MFA overriding conditional access MFA. "The sign-in method you're trying to use isn't allowed.""
I tried testing this out using a Windows 10 Azure AD Joined PC (Virtual Machine) hosted on my local Hyper-V. However I encountered the "The sign-in method you're trying to use isn't allowed. Try a different sign-in method or contact your system administrator." message. This docs page indicates that is because of MFA. I followed the advised steps to exclude that cloud app from my conditional access

[2020-05-01 09:21] DmitrySikorsky commented on #20701
@CrazyBaran Unfortunately I had to move away from Azure, there is no way to fix it using existing CDN tools there.

[2020-05-01 09:23] simon-says-test commented on #53436
Hi,
I'm experiencing the same issue on our Node app services and would be grateful for an update when possible. Thanks in advance.

[2020-05-01 09:36] Fokko commented on #47048
I run into the same issue. With Databricks you need to have a public and a private subnet, and you want to expose the private subnet to your internal storage account. However, I run into the same issue. Link to blog: https://databricks.com/blog/2020/03/27/data-exfiltration-protection-with-azure-databricks.html

[2020-05-01 09:50] blueww commented on #52473
Have contact the doc owner with mail.
We can update the scirpt to update all items in filesystem:

[code]

[2020-05-01 09:50] ngyongkad opened #53815 "Instructions on "Use Jupyter Notebook" is incorrect"
I found the instructions given on this page is incorrect on the Jupyter Notebook section.  Basically, just nothing happens after clicking on the Jupyter icon on desktop or the icon on the task bar in my DSVM.  I am not sure whether this guide is not updated or the DSVM environment was not set up correctly.

The DSVM I used was set up 2 days ago, which I think is based on Windows 2019.

---
#### Do

[2020-05-01 10:04] JuliaHazelwood commented on #46215
This documentation link references AS 12076: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#autonomous-system-numbers

[2020-05-01 10:07] KrishnaG-MSFT commented on #53453
Assigning @rboucher for visibility, review and to provide insights.

[2020-05-01 10:13] flatproject commented on #46207
Same problem here.

[2020-05-01 10:13] KrishnaG-MSFT commented on #53595
Assigning @bwren for visibility, review, to provide insights and for document enhancement consideration as appropriate.

[2020-05-01 10:35] arijit-nanda commented on #53613
@VikasPullagura-MSFT Many many thanks for your help...I will surely try.. Can you help me one another,Now i don't have valid subscription,is there any other platform to practice this environment.

[2020-05-01 10:59] kratoch-dig-it-ally commented on #48921
I am also facing the problem with usage of Event Grid as output binding in Azure Function. According to information in document https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings is should be Event Grid supported as output binding in Azure Functions. But when I try to create output binding then I see only following options: Azure Queue Storage, Azure Blob Storage, H

[2020-05-01 11:06] jcarney4 opened #53816 "Broken links"
In the last paragraph of "Token cache for a web app (confidential client application)" the links for TokenCacheProviders and Microsoft.Identity.Client.Extensions.Web are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6b0d71-daf8-e75a-5157-a8a3c1c8bf1a
* Version Independent ID: 64d94165-c058-3867-fc63-6d816399

[2020-05-01 11:14] blendsdk commented on #48902
Any idea when this bug is going to be fixed?

[2020-05-01 11:18] KrishnaG-MSFT commented on #53811
@sayanghosh123 AFAIK below is the query you can use to fetch license type information.

`resources | where type =~ 'Microsoft.Compute/virtualMachines'| extend licenseType = tostring(properties.['licenseType'])`

If you opt ' Yes' as shown below then 'licenseType' property is provided in 'properties' column of the query's output.

![image](https://user-images.githubusercontent.com/45988031/80801560

[2020-05-01 11:52] cjjohansen opened #53817 "How do I monitor hov many events has been raised for a specific event type ?"
How do I monitor hov many events has been raised for a specific event type ?
The page doesn't seem to explain any thing about that. That would be very usefull.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ed2449-4122-2660-56be-78ceebd0de66
* Version Independent ID: b5b1c94e-3efe-b234-5366-79823678f237
* Content: [M

[2020-05-01 12:12] jreinhardtiv4 opened #53818 "ActiveSync and Legacy Authentication"
I'm questioning the reason for including Exchange ActiveSync in this article. The reason being that both the Gmail app on Android and the iOS app on Android now support modern authentication. Can you confirm that including Exchange ActiveSync in this conditional access policy will only block Exchange ActiveSync that uses legacy authentication but allow the modern auth clients of Exchange ActiveSyn

[2020-05-01 12:14] SumanthMarigowda-MSFT commented on #53311
@hh23485
    I'm curious about what you mean by "concurrent number options"

    If you mean like, the # of files being transferred in parallel, those options live under our environment variables (azcopy env)

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up

[2020-05-01 12:26] jishansiddique commented on #53147
@AjayKumar-MSFT, thanks for replying.

[2020-05-01 12:30] HoCGeek opened #53819 "Scoping of Enable-ADSyncExportDeletionThreshold is global"
I haven't yet found any technical documentation to support this, but based on our experience the ADSyncExportDeletionThreshold is a global setting, not local to the instance of AAD Connect.  We found this out by reducing the value as a precaution in preparation for the promotion of an AAD Connect secondary or standby server.  We set the threshold to 1 on the secondary server, and a couple of hours

[2020-05-01 12:42] VikasPullagura-MSFT commented on #53816
@jcarney4
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 12:51] BordsJann commented on #13291
I am having the same issue on this

[2020-05-01 12:51] VikasPullagura-MSFT commented on #53813
@ezYakaEagle442
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 12:52] BenMitchell1979 commented on #17029
This entire documentation needs to be reviewed and redone.  It is nearly impossible to understand.

[2020-05-01 12:53] VikasPullagura-MSFT commented on #53814
@danijam
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-01 12:58] mrbullwinkle commented on #47441
Thanks for bringing this to our attention. The doc has been updated to reflect the new CLI based alert creation experience. This change will go-live today between 10-11 AM UTC-7.

[2020-05-01 12:58] mrbullwinkle commented on #47441
#please-close

[2020-05-01 12:58] #47441 closed

[2020-05-01 12:59] dhulme commented on #53227
Thanks, looks good

[2020-05-01 12:59] #53227 closed

[2020-05-01 13:02] VikasPullagura-MSFT commented on #53677
@mandiaya Any update on the issue? Can you please share the document link as requested.

[2020-05-01 13:03] VikasPullagura-MSFT commented on #53689
@NickSevens Any update on the issue? Can you please share the document link as requested.

[2020-05-01 13:03] VikasPullagura-MSFT commented on #53690
@agassijoelbrio Any update on the issue? Can you please share the document link as requested.

[2020-05-01 13:14] MarkDordoy opened #53820 "You can only add new roles after msiam_access"
Hello

You state in this document that new roles need to be added to the json payload after the msiam_access role. Why is this the case. It does not state this in another Microsoft document found here: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

Does the order of the roles created make a difference? For Example am I ok to add more roles but

[2020-05-01 13:33] AshokPeddakotla-MSFT commented on #53197
Glad to hear that it was helpful and your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-01 13:33] #53197 closed

[2020-05-01 13:36] perkops opened #53821 "Section: What is the best way to apply ACLs?"
There is a superfluous ')' in the sentence, that should be removed.

....entire directory structure. ) Instead, you ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d29fd9c-d764-3d15-bff3-2d61ec9f757f
* Version Independent ID: 58503de5-d10f-eb43-34f9-6f72a0fa1f9b
* Content: [Overview of access control in Azure Data

[2020-05-01 13:36] cedricfronteau opened #53822 "Broken link to System.Diagnostics.Activity User Guide"
Activity User Guide was moved to runtime repo:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version Independent ID: ebf938ec-1d97-1cfd-ad28-5e616990d658
* Con

[2020-05-01 13:37] NavtejSaini-MSFT commented on #53582
@PerFlodin We checked with our Product Team, and they have conveyed Maven is the source of truth https://search.maven.org/artifact/com.microsoft.azure/azure-cosmosdb-spark_2.4.0_2.11 and current version is 2.1.5.
Hope this helps.

[2020-05-01 13:40] pheu commented on #52606
@Grace-MacJones-MSFT I don't have the error when creating db anymore, but I have another one while trying to create an app service plan:

"This region has quota of 0 instances for your subscription. Try selecting different region or SKU."

[2020-05-01 13:47] helloyesthisisdave opened #53823 "How can these steps be automated via Powershell?"
Being able to manually see which runs have failed and then restart from the point of failure is not a viable option for enterprise level solutions.  It is possible to identify which pipelines and activities failed using powershell, though I cannot see how to initiate a "Rerun from failed activity"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-01 13:51] deltadan opened #53824 "Sample doesn't work"
New-AzApplicationGateway : Cannot attach Firewall policy
/subscriptions/XXXXXX/resourceGroups/CustomRulesTest1/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/wafPolicy to the
Application Gateway /subscriptions/xxxxx/resourceGroups/CustomRulesTest1/providers/Microsoft.Network/applicationGateways/WAFCustomRules, since the former is
not in sync with WebApplicationFirewal

[2020-05-01 13:51] AshokPeddakotla-MSFT commented on #53501
@larsonmpdx Do let us know if you have any further queries.

[2020-05-01 13:52] aydeisen opened #53825 "cloud-init enabled images"
The document last modified timestamp says January 2019, and there's a note for the RHEL images that says:

Are the marketplace images now updated to natively include cloud-init?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb132b-0dc3-d493-69bc-dc28b5bfd5e1
* Version Independent ID: ba5cb476-3e32-911f-0395-0cc8087d

[2020-05-01 13:56] NickSevens commented on #53689
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted this could be the one, maybe.

[2020-05-01 13:56] ToddBowman opened #53826 "Number of storage accounts?"
Is this correct?  Has the number of storage accounts changed from 250 per subscription to 250 per region per subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Content: [Scalability and performance targets fo

[2020-05-01 14:03] tjlagrimas commented on #53751
I have an event based trigger that watches for a text file that is dropped in a specified container/subfolder. Only one file is uploaded to the blob at a time. Then, the text file content is extracted to a logic app via lookup activity. I was looking for a simple way to pick up any **single** file that has an identical filename format, but has a different datetime stamp (part of the filename) each

[2020-05-01 14:04] tamram commented on #53826
@ToddBowman - Yes, that is correct.

#reassign: @tamram

#please-close

[2020-05-01 14:04] #53826 closed

[2020-05-01 14:10] ayprof commented on #51401
I understand that there is only 'success' or 'failure' for these kinds of events, but calling this a failure makes it difficult to filter for true failed authentications when you have an application that requires MFA via conditional access and has several hundred users.  When I'm searching for failed authentications, I would expect to find true failures, not events that occur as a matter of course

[2020-05-01 14:13] danobri commented on #16587
Looks like this doc was never updated.  Should probably have a cross link to:

https://docs.microsoft.com/en-us/azure/storage/common/storage-advanced-threat-protection?tabs=azure-portal

[2020-05-01 14:17] DeanGross opened #53827 "Broken Link"
the link to the Deployment 30,90 and beyond is broken, does that content still exist somewhere? can the link be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8763efcd-d2ef-6547-e33d-c250d97020f6
* Version Independent ID: d8969bd7-a35d-e21d-ec43-ba6028ccbc5f
* Content: [Azure AD deployment checklist](https://doc

[2020-05-01 14:20] MonikaReddy-MSFT commented on #53822
@cedricfronteau , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-01 14:39] jmprieur commented on #53816
Thanks for the feedback, @jcarney4
fixing it by PR above

[2020-05-01 14:40] dedvds opened #53828 "Is Conditional Access on single sql server/db possible?"
Currently, it seems you can only set CA with MFA on all Sql databases within the tenant. Is that correct? Is it possible to set a CA policy like MFA on a single SQL server or DB. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62c741f-9de3-0c62-a8ac-6606e5f1a879
* Version Independent ID: 4cba5607-6372-1d91-8aa1-00c7e

[2020-05-01 14:41] imyourdba opened #53829 "Cross-Subscription Geo-Replication Example"
The Cross-Subscription Geo-Replication example above (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication#cross-subscription-geo-replication) does not actually give the commands to run to set it up across subscriptions.  The code above is just the simple ALTER DATABASE ADD SECONDARY ON SERVER code but doesn't show how to supply the subscription of the "Cross-Sub

[2020-05-01 14:56] dheerajkumar-solanki commented on #52431
Yeah, I tested further and found that cache is not working in a particular scenario and I am trying to replicate that scenario in a simplified version and will update you.

I am using Databricks runtime version 5.5
Below are the spark details.
Also in my local machine python version is 2.7.17 and in databricks cluster 2.7.12, so is there might be any problem due to this.
[code]

[2020-05-01 14:59] azahran007 commented on #53780
Hi @RyanHill-MSFT,
That's helpful, thank you. I am new to Azure and was only following the tutorial to get a taste of it. Everything worked fine up to that point, so maybe a Note section is warranted there to ensure no one stumbles at that point since the migration is not meant to happen automatically for the remote DB.

[2020-05-01 15:01] basseldamra opened #53830 ""The trusted IP address ranges can be private or public.""
The article claims that you can use either private or public IPs in the trusted IPs section but in fact you must use the public IP of your network to skip MFA.

How and When can we use private IP range?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727

[2020-05-01 15:07] mpryandds opened #53831 "Spending more precious time on worthless pursuits"
I set up a VM and it failed to start.  I read on search that 0.5 gb is not enough.  i set up another vm with 3.5 gb and it ran.  you put stumbling block in front of stumbling block.  you will regret the full bore complexity you barrage every level of user.  i am through wasting my time.  I have no idea what my costs are again.  This is UNPRODUCTIVE ! ! ! !

---
#### Document Details

⚠ *Do not edi

[2020-05-01 15:08] RyanHill-MSFT commented on #53780
That's a fair point @azahran007. I've looped in the content author to investigate further and update the document as appropriate.

[2020-05-01 15:11] lmmarsano opened #53832 "Missing Data Action Operations/Permissions"
An enumeration of Data Action operations/permission definitions is missing from the [expected section](https://docs.microsoft.com/en-us/azure/key-vault/general/secure-your-key-vault#data-plane-and-access-policies).
Please provide them or link to the relevant page defining all available Key Vault data operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-05-01 15:29] SaurabhSharma-MSFT commented on #53827
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-01 15:31] SaurabhSharma-MSFT commented on #53820
@MarkDordoy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-01 15:32] SaurabhSharma-MSFT commented on #53832
@lmmarsano Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 15:37] javester opened #53833 "email address "AzureFilesMigration@microsoft.com" is restricted and not a valid contact"
ERROR:
Your message to the group AzureFilesMigration@microsoft.com couldn't be delivered.
The group AzureFilesMigration only accepts messages from people on its allowed senders list, and your email address isn't on the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85596de7-35df-052e-577d-91113e780798
* Version I

[2020-05-01 15:44] Blackmist commented on #53588
Thanks for reporting this @artsheiko . An update to the document to fix this will be published later today.

#please-close

[2020-05-01 15:44] #53588 closed

[2020-05-01 15:44] henriquebelotto commented on #52549
I found the same issue, so I had to revert my selfAsserted back to 1.2.0

Thank you

[2020-05-01 15:50] al128128 commented on #40081
How often does the 'My Insights Dashboard' get updated?  It seems stale.  Thanks!!

[2020-05-01 15:56] Agazoth opened #53834 "Azure AD auth on Android"
How do I use Azure AD Authentication on an Android Device?

No doubt, this is an extremely powerful and effective technology on Windows devices, but how do I connect Android devices? There are no guides or manuals describing modern auth to the Azure Gateway for Android - must admit, that IOS is not my thing, bur they might need the same feature.

I have a bunch of production Android endpoints, tha

[2020-05-01 15:58] cynthn commented on #53613
@arijit-nanda You might want to try some of the learning modules like this one: https://docs.microsoft.com/en-us/learn/modules/automate-azure-tasks-with-powershell/. They have a "sandbox environment" online to practice with while you learn more about using PowerShell with Azure.

[2020-05-01 16:00] MarileeTurscak-MSFT commented on #53816
Thanks! Closing this out since the PR will fix this.

[2020-05-01 16:00] #53816 closed

[2020-05-01 16:05] kennethvs opened #53835 "Please update screenshot to reflect the usage of non-private ip address - this is very confusing"
Even though mentioned earlier, the screenshot of a new name location still shows a 192.168.1.1/24 example, while in the portal this is already 40.77.182.32/27. Please update the screenshot since this confuses people on whether to use the private IP or the WAN IP they have when accessing the internet. Another remark is that when multiple networks within the company (guest network and corporate netw

[2020-05-01 16:10] SaurabhSharma-MSFT commented on #53830
@MarileeTurscak-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 16:12] SaurabhSharma-MSFT commented on #53819
@HoCGeek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-01 16:13] SaurabhSharma-MSFT commented on #53818
@jreinhardtiv4 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 16:13] davekats opened #53836 "App Service Environment connection and SNAT port limits"
The doc mentions "Consider moving to App Service Environment (ASE), where you are allotted a single outbound IP address, and the limits for connections and SNAT ports are much higher."

Where can I find the exact connection and SNAT port limits for an ASE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8650b7-1fd8-86

[2020-05-01 16:14] SaurabhSharma-MSFT commented on #53835
@kennethvs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-01 16:15] hpsin commented on #51401
Thanks @ayprof, I agree with you completely.  We're updating the sign in logs to show this as an interrupt as well.

[2020-05-01 16:23] djpmsft commented on #52917
Hey Roberto,

Appreciate the feedback! I will try to clear up the examples. As this is being tracked as a support ticket, I will go ahead and close this issue.

Feel free to continue asking questions on this forum!

Thanks,
Daniel

#please-close

[2020-05-01 16:23] #52917 closed

[2020-05-01 16:31] markjbrown commented on #53577
#please-close

[2020-05-01 16:31] #53577 closed

[2020-05-01 16:38] lujiangfeng666 commented on #51589
We are aiming to have sign in frequency apply to MFA soon, in the next several months.

For the other scenarios that require MFA for sensitive apps every time, we do not think sign in frequency is the right solution and we are looking into having a new feature for it in the future.

[2020-05-01 16:40] v-kydela opened #53837 "Unclear whether timezoneOffset is supported in LUIS V3"
The [sample V3 prediction endpoint request](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-data-alteration?tabs=V3#daylight-savings-example) has a timezoneOffset parameter:

`https://{region}.api.cognitive.microsoft.com/luis/v3.0-preview/apps/{appId}/slots/production/predict?query=Turn the lights on?**timezoneOffset=60**&spellCheck={boolean}&bing-spell-check-subscripti

[2020-05-01 16:50] cnadler-MSFT opened #53838 "Remove default domain policy as example"
I have a customer that added the trusted intranet and toolbar script update setting to their default domain policy because of this verbiage:

"Edit the group policy that's applied to some or all your users. This example uses Default Domain Policy."

The screenshot shown doesn't include the actual GPO name being edited and therefore think there's no value in providing the name of an example GPO as

[2020-05-01 16:51] karolz-ms commented on #53806
@tomleetaiwan thanks for bringing this to our attention

@dlepow FYI
I am not exactly sure why virtual nodes do not work with protocol added to Docker registry server name (sounds like a bug to me). My suggestion would be to just mention virtual nodes (or [Virtual Kubelet](https://github.com/Virtual-Kubelet/Virtual-Kubelet), upon which AKS virtual nodes are based) as an exception and provide the a

[2020-05-01 16:55] Mike-Ubezzi-MSFT commented on #53789
Customer initially opened issue against Cosmos DB but issue is being experienced in Azure Data Factory. Closing this issue and referencing second issue created against ADF: #53787

If there are further questions specifically for Cosmos DB as it relates to Azure Data Factory queries against Cosmos DB, we can continue the dialog.

[2020-05-01 16:55] #53789 closed

[2020-05-01 17:01] julieMSFT commented on #35212
@eoq Thank you for your input on this article. I have made the changes and you should see them later today in the content. I will close this issue.

[2020-05-01 17:01] habeebtc opened #53840 "Add some working examples az vmss update, and a HOWTO on the inputs"
I had a customer ask how to enable boot diagnostics for a VMSS via the CLI.

This should be easy for a support engineer to look up and provide, but they provided it in Powershell instead.

Eventually a colleague and I worked it out, but it took a good long time, and some clues from internet forum posts.  It shouldn't be this hard.  Here's what I'm talking about, imagine you're the customer and you

[2020-05-01 17:01] julieMSFT commented on #35212
#please-close

[2020-05-01 17:01] #35212 closed

[2020-05-01 17:02] VikasPullagura-MSFT commented on #53815
@ngyongkad
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 17:03] RyanHill-MSFT commented on #53836
Thanks for the feedback @davekats! We are currently investigating and will update you shortly.

[2020-05-01 17:03] SaurabhSharma-MSFT commented on #49933
@Dustefan Apologies for the delay.  The product team has logged a bug against this issue and they are analyzing this issue and will work on the fix.

[2020-05-01 17:03] KrishnaG-MSFT commented on #53811
@sayanghosh123  Closing this issue for now. If there are further questions or feedback regarding referred Azure document then please let us know so that we will gladly continue the discussion.

[2020-05-01 17:03] #53811 closed

[2020-05-01 17:03] VikasPullagura-MSFT commented on #53817
@cjjohansen
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-01 17:04] KalyanChanumolu-MSFT commented on #53329
@gmantri I am checking this and will follow up internally on updating the documentation.

[2020-05-01 17:04] dalton478 commented on #47256
I have the same problem but I am dealing with many hundreds of databases. Support for the Authentication keyword would make scripting processes on them much easier.

[2020-05-01 17:05] djpmsft commented on #53823
Hey @helloyesthisisdave ,

We actually just added rerun functionality to our powershell module and it is current awaiting deployment. In the next az module update, you should see it there as part of the [Invoke-AzureRmDataFactoryV2Pipeline](https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/invoke-azurermdatafactoryv2pipeline?view=azurermps-6.13.0) cmdlet

Thanks,
Daniel

[2020-05-01 17:06] mimckitt commented on #53840
@habeebtc Thanks for this. This is good feedback. I will take a look at the best way to go about adding this information.

[2020-05-01 17:06] djpmsft commented on #53823
As this is not a doc issue, I am going to go ahead and close it. Feel free to comment and ask additional questions on this thread!

#please-close

[2020-05-01 17:06] #53823 closed

[2020-05-01 17:09] ROSMITHJ-MSFT opened #53841 "Install the VMInsights solution"
Howdy,

Would this be considered more of a script than a Solution, as Solutions are visualizations enabled on a Log Analytics Workspace, whereas this seems to be a script to install the Windows Azure Diagnostic Agent and the Dependency Agent en masse on virtual machines?

I know this may merely be a nomenclature issue, but I want to ensure we're all on the same page.

Many Thanks~

---
#### Docume

[2020-05-01 17:09] stgeorgi commented on #53749
$asTask = ([System.WindowsRuntimeSystemExtensions].GetMethods() | Where {
$_.ToString() -eq 'System.Threading.Tasks.Task1[TResult]AsTaskTResult,TProgress'})[0]

$asTask = ([System.WindowsRuntimeSystemExtensions].GetMethods() | Where {
$_.ToString() -eq 'System.Threading.Tasks.Task`1[TResult]
AsTask[TResult,TProgress](Windows.Foundation.IAsyncOperationWithProgress`2[TResult,TProgress])'})[0]

[2020-05-01 17:10] stgeorgi commented on #53749
Customer is performing a bad copy/paste of the multi line

[2020-05-01 17:11] btardif commented on #53676
The use the -L paramater is part of the dock,

You can optionally include the argument -l <location-name> where <location_name> is an Azure region such as centralus, eastasia, westeurope, koreasouth, brazilsouth, centralindia, and so on. You can retrieve a list of allowable regions for your Azure account by running the az account list-locations command.

[2020-05-01 17:13] mmacy commented on #51992
Closing issue per @jmprieur https://github.com/MicrosoftDocs/azure-docs/issues/51992#issuecomment-618975182

#please-close

[2020-05-01 17:13] #51992 closed

[2020-05-01 17:14] GiftA-MSFT commented on #53837
@v-kydela we will review your feedback and get back to you shortly. Thanks.

[2020-05-01 17:15] Mike-Ubezzi-MSFT commented on #53286
@dlewissandy We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-01 17:15] #53286 closed

[2020-05-01 17:19] chrisluedtke opened #53842 "Incorrect link: Storage Blob Data Contributor"
Link "Storage Blob Data Contributor" directs to [Storage Queue Data Contributor](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#storage-queue-data-contributor) instead of [Storage Blob Data Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-contributor).

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-01 17:20] markjbrown commented on #53548
Yes the JSDocs you referred to above are the only docs we have for collection.queryDocuments.
http://azure.github.io/azure-cosmosdb-js-server/Collection.html

This interface has not changed and these docs pre-date when we moved to the new Microsoft Docs platform. We will take a look at migrating these docs to MS Docs. But in the meantime this link above is what we have for now.

Thanks.

#please-c

[2020-05-01 17:20] #53548 closed

[2020-05-01 17:24] rwike77 commented on #44988
#reassign @hpsin

[2020-05-01 17:28] saquibm6 opened #53843 "SSMS not showing all data while connecting using Public endpoint for managed instance"
Hello all,

I am facing a strange problem wherein if I use SSMS to connect to my Managed instance DB using public endpoint, it connects fine but it does not show everything. The only thing that I see under the server is 1. Databases & 2. Security. Nothing else is present. No jobs or storage objects or anything but those two.

If I connect to same managed instance using SSMS that's present on a VM

[2020-05-01 17:42] rustyautopsy opened #53844 "Extend Trusted Services to include Azure DevOps Pipelines"
As far as I understand, modifying (CRUD) Key Vaults via CI/CD would currently require whitelisting the IP ranges (published weekly) for the correct region where your Azure DevOps Pipelines are executing from. This is brittle for a variety of reasons.

Does it make sense to add Azure DevOps Pipelines as a trusted service? Somehow...

Thanks in advance.

---
#### Document Details

⚠ *Do not edit thi

[2020-05-01 17:49] YvonneArnoldus opened #53845 "No data available in the blob container, while data was uploaded"
Hi,

I have uploaded data with azure storage explorer and that went without a error.
When I view the container in the Azure Portal it has content but when I view the same container in azure storage explorer it says: No data available in the blob container.

Might be nice to have a section trouble shooting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-01 17:49] JeremyWeir commented on #24239
Does everyone agree that this is the correct product issue that relates to what is being discussed here?
https://feedback.azure.com/forums/908035-sql-server/suggestions/32899126-enable-query-store-for-collection-on-a-read-only-r

[2020-05-01 17:49] MarileeTurscak-MSFT commented on #53838
@cnadler-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-01 17:51] theheatDK commented on #35558
Hi @jnoller,
Do you still plan to clarify the wording in the article or should I close it? :-)
Regards Peter

[2020-05-01 17:58] nezoic opened #53847 "What is an application?"
You say, "Our recommendation is to use a vault per application per environment"

But how does Microsoft define an application? I'm having discussions where, we have many API's for a single application, should every API have it's own vault or should every piece of the solution share a vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-01 18:01] o-o00o-o commented on #45738
Our SQL Server backs up to our gen2 Storage Account and creates as Page Blobs. We of course want to clean these up regularly. When will Page Blobs be supported for lifecycle management?

It does seem an arbitrary limitation as we are talking about simply calling a delete operation on a file based on a date!

[2020-05-01 18:07] veyalla commented on #53387
We haven't seen much demand for it yet, so no current plans. Can u please reach out me at veyalla@microsoft.com with some details about your scenario which requires Windows container support?

Thanks!

[2020-05-01 18:09] jmprieur commented on #52971
@keithnicholson : do you mind opening an issue on the MSAL.NET repo?
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBug%5D+

[2020-05-01 18:11] veyalla commented on #53808
@cmenzi

You're on the right track here. Note, this option should be set on the docker daemon that is *pushing* to your private ACR, and not the docker daemon on the edge device that is pulling the images. Can you please confirm that on your side?

[2020-05-01 18:21] milope opened #53849 "There appear to be more DNS names required now"
While putting API Management behind Azure Firewall (forced tunnel), we were able to discover additional DNS required via the Azure Firewall logs, including one that would block deployment until it was allowed:

**Required (my provisioning failed unless allowed):**

- azurewatsonanalysis-prod.core.windows.net

**Additional Azure Monitor DNS:**

- shared.regionname.prod.warm.ingestion.monitoring.azu

[2020-05-01 18:28] larsonmpdx commented on #53501
hi I turned on activity logs and didn't see any output corresponding to the error 503003 my client gave me.  here are some screenshots

error message in my PC client:
![image](https://user-images.githubusercontent.com/12436438/80830144-53c88d00-8b9d-11ea-822e-905b105f371c.png)

log analytics logs with nothing corresponding to this time:
![image](https://user-images.githubusercontent.com/12436438/8

[2020-05-01 18:29] GinoLock opened #53850 "Under Linux section - Configure agent communication typo"
Command line should only be in the following format
azcmagent connect --resource-group "&lt;resourceGroupName&gt;" --tenant-id "&lt;tenantID&gt;" --location "&lt;regionName&gt;" --subscription-id "&lt;subscriptionID&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6036c6de-a2e8-ffd7-50e9-44ae32bf1682
* Version Indep

[2020-05-01 18:29] lzchen commented on #53768
@dennis-yemelyanov
Is there some dashboard you are using for cross-resource correlation or are you simply checking whether the required fields are populated in App Insights telemetry?

[2020-05-01 18:30] erikerikson opened #53851 "How do we reconcile query limitation guidance with API limits?"
We show a list of devices to our users.  Of note is that we show whether a device is online or offline.
 Naturally we retrieve the list of devices and information about them from a [registry query](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language#device-twin-queries).  However, users have noticed the persistent lag between query data and twin data (specifically, our l

[2020-05-01 18:33] mike-urnun-msft commented on #53269
@dapathy Since this doesn't require a doc change, I'm going to close the issue but we can continue our discussion if you had any further questions.

[2020-05-01 18:33] #53269 closed

[2020-05-01 18:39] ggailey777 commented on #53552
#reassign:ggailey777

[2020-05-01 18:40] jdemaree opened #53853 "Gap in custom rule handling explanation"
The tooltip in the portal states setting the Deny Public Network Access to "Yes" allows connections via private endpoint AND disables any existing firewall rules. Then provides a link to this page, however there is no mention here of how custom rules are handled, previously my understanding was that the Allow public access button effectively put an Any Any Allow at the bottom of the custom rules,

[2020-05-01 18:45] bashscr commented on #40523
Is there any update on this for CSP with Offer: MS-AZR-0145P ?

I would love to hear about upcoming updates on this. It has been awhile since we have heard anything. Thanks!

[2020-05-01 18:46] jlian commented on #53437
Fixed with https://github.com/MicrosoftDocs/azure-docs/commit/747780b6185a3200a01920c5918127c06216cfa3

[2020-05-01 18:46] jlian commented on #53437
#please-close

[2020-05-01 18:46] #53437 closed

[2020-05-01 18:47] dennis-yemelyanov commented on #53768
@lzchen , no, I'm just looking at dependency call details in Application Insights UI, and, as described on this page, it should work fine and should show correlated logs from multiple AI resources: https://docs.microsoft.com/en-us/azure/azure-monitor/app/transaction-diagnostics

And I noticed that for other projects that use Application Insights .NET SDK on both caller and receiver cross-resource

[2020-05-01 18:58] jnoll21 commented on #46763
I've also run into this. Commenting to track.

[2020-05-01 19:07] afield1235 commented on #46763
That setup works and is in production. Not sure what you mean by it's not supported. What should we be using then? There shouldn't be discrepancies between documentation. I don't think I've done ONE Azure AD SSO implementaiton was 100% accurate in terms of documentation. Very frustrating..

[2020-05-01 19:07] normesta commented on #52473
Thx @blueww! I updated the article with this example. That change should appear live in this afternoon's build (3ish)

[2020-05-01 19:08] normesta commented on #52473
#please-close

[2020-05-01 19:08] #52473 closed

[2020-05-01 19:19] IanDTM opened #53854 "Suggest using dig to prove the NAT is in use"
After you have connected to the VM use dig to find your public ip address:
dig +short myip.opendns.com @resolver1.opendns.com

The value returned will either be the the public IP of the NAT or one of the addresses prefixes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097ac552-9741-9ece-7e68-9fa95b3cc9fe
* Version In

[2020-05-01 19:20] SaurabhSharma-MSFT commented on #53609
@vboyev-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-01 19:20] #53609 closed

[2020-05-01 19:27] cmenzi commented on #53808
On the local registry `localhost:5000` the foreign layers gets downloaded and the manifest does not pointing to the MCR. But when they are pushed to ACR the foreign layers pointing again to the MCR.

What value(s) do I need to set to the dockerd settings, so that the foreign layers are also pushed to ACR.

There is also a statement regarding license issues when doing this on the docker documentati

[2020-05-01 19:35] swanderz commented on #37025
@MarileeTurscak-MSFT #please-reopen!

[2020-05-01 19:39] Bloodyairtimer opened #53855 "Can't switch Facebook app from development to live. 404 on redirect uri"
I followed the steps on this page https://docs.microsoft.com/en-gb/azure/active-directory-b2c/identity-provider-facebook to configure my facebook app for B2C login.

When trying to switch my app from development to live I get the error that the valid redirect uri is not returning a valid HTTP status code. When I use the https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/

[2020-05-01 19:41] SaurabhSharma-MSFT commented on #53739
@tjoyce-admin I have followed the documentation and able to get the SecretNearExpiry event as mentioned in the document.
![image](https://user-images.githubusercontent.com/38112130/80835994-bbd0a080-8ba8-11ea-912a-be70cdaa071d.png).

[2020-05-01 19:44] chetan3434 opened #53856 "Unable to find Azure function base Docker image for Java runtime"
I want to create Azure Function in Java and run it on Docker locally.
As mentioned in 'Build the container image and test locally' (https://hub.docker.com/_/microsoft-azure-functions-base) step in this article. I checked Azure Function base image page (https://hub.docker.com/_/microsoft-azure-functions-base), But this page doesn't have image for Java runtime.

---
#### Document Details

⚠ *Do not

[2020-05-01 19:48] gewarren opened #53857 "Please correct the documentation mistake"
_From @go-shinyashiki on Thursday, April 23, 2020 1:53:40 AM_

**Is your feature request related to a problem? Please describe.**
The documentation states that "the app will be restarted if the app's memory quota is exceeded."
But actually it stops without restarting the app

https://docs.microsoft.com/ja-jp/azure/app-service/web-sites-monitor#quota-enforcement

**Describe the solution you'd like*

[2020-05-01 19:48] gewarren commented on #53857
_From @welcome[bot] on Thursday, April 23, 2020 1:53:41 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-05-01 19:53] janecosham opened #53859 "Unable to RDP following these instructions"
I created the scale set following these instructions and saw the correct NAT connection information. I was able to find the IP address but RDP failed to connect.
I saw the closed issue #28077 which explained that a network security group is needed to allow access and linked to a different tutorial that showed how to set that up for port 80. I was able to use those instructions to open RDP and then

[2020-05-01 19:57] Minewiskan commented on #40848
I'm sorry, we just haven't had enough asks for this type of article (this is the only one). We have limited resources and need to focus our documentation efforts on higher priority articles for new features. Thanks for suggesting though.
#please-close

[2020-05-01 19:57] #40848 closed

[2020-05-01 20:08] Minewiskan commented on #52755
@RonnieQuan - When you scale-out, query replicas should be in the same region as the primary server, so FQDN should be the same. Are  you saying when you scale-out, query replica servers are being created in a different region from the primary?

[2020-05-01 20:10] TravisCragg-MSFT commented on #53824
@deltadan Thanks for the feedback! There was a recent breaking change to Azure PowerShell that made these cmdlets incompatible.

To get this working, you will need to replace the last 3 lines of the script

`$wafPolicy = New-AzApplicationGatewayFirewallPolicy -Name wafPolicy -ResourceGroup $rgname -Location $location -CustomRule $rule`
`$wafConfig = New-AzApplicationGatewayWebApplicationFirewallCo

[2020-05-01 20:12] faizankhan1995 opened #53860 "Generate thumbnails using node.js"
Any useful resource or tutorial for generating thumbnails using node.js, Sadly most of the samples are in C# and i struggling with node.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d4fa18-bf99-b8b6-2be5-b421ca10d562
* Version Independent ID: ef3ae9cd-7c75-c09a-5752-96c001fb2a84
* Content: [Stream video files wit

[2020-05-01 20:17] AjayKumar-MSFT commented on #53147
@jishansiddique, There is no ETA on when limits will be lifted everywhere, so the current documented limit is what you should assume, especially on a production service.

Typically, when there is any update in the product, we will make it a point to quickly refresh/update the associated document to reflect the up-to-date information. This is a great question. Thanks again for taking time to share

[2020-05-01 20:25] TravisCragg-MSFT commented on #53834
@anzaman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-01 20:26] SaurabhSharma-MSFT commented on #53766
@Shorinsean ok, got it. The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-01 20:26] #53766 closed

[2020-05-01 20:27] TravisCragg-MSFT commented on #53854
@IanDTM Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-01 20:27] rick-man commented on #52610
@ju-shim This was addressed in the above PR that went live today. I think we can close this issue.

[2020-05-01 20:32] kromerm commented on #53697
Can you please try to clear your browser cache and reload your factory? This sounds like some UI libraries were changed and put your browser into an inconsistent state.

[2020-05-01 20:35] YutongTie-MSFT commented on #53850
@GinoLock
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-01 20:46] YutongTie-MSFT commented on #53843
@saquibm6
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provide

[2020-05-01 20:49] MarileeTurscak-MSFT commented on #53599
I've reported this issue to the product team to ask if there is an outage. @negwood, was it also working for you before like it was for Amita? Amita, at what time did it stop working? Do you have any error logs you can share?

[2020-05-01 20:53] jeevacodepro opened #53862 "url path regex"
It is very time-consuming to submit a regex and find out that it doesn't work after 2 to 3 hours. Is there a quick way of testing the regex in the Verizon CDN interface? Also for a paid service, the interface is very slow and web interface performance is not up to the standards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-01 20:59] bergerpascal commented on #32886
Found this blog post that helps:
https://www.microcloud.nl/create-a-wim-file-from-the-wvd-vhd-file/#_First,_we_need

[2020-05-01 21:01] divlja-guska opened #53863 "Unable to run sample"
The prerequisites told me to set up an env var called FORM_RECOGNIZER_KEY. When I ran the sample I got auth related errors. I thought this was due to SAS token issues - it was actually because the sample code references an env var called FORM_RECOGNIZER_SUBSCRIPTION_KEY

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23

[2020-05-01 21:01] bhalbright commented on #49988
+1 On clarity as well...I've played around this and it ranges from seeming to work right away to still not working after a few hours

[2020-05-01 21:03] YutongTie-MSFT commented on #53862
@jeevaeastpoint
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-01 21:05] YutongTie-MSFT commented on #53855
@Bloodyairtimer
Thanks for the feedback! We are currently investigating and will update you shortly.

@MarileeTurscak-MSFT  FYI

[2020-05-01 21:14] mrbullwinkle commented on #53822
I found 2 other broken links when I checked the doc, so thank you so much for bringing this to our attention. The fix is merged internally and will go-live in the public docs between 3-4 PM UTC-7 later today.

[2020-05-01 21:14] mrbullwinkle commented on #53822
#please-close

[2020-05-01 21:14] #53822 closed

[2020-05-01 21:15] SaurabhSharma-MSFT commented on #53748
@henriquebelotto Sorry, unfortunately, we do not have any timelines to share with you.  I would suggest you to keep watch on [Azure updates](https://azure.microsoft.com/en-us/updates/?category=identity) page for GA notifications.

[2020-05-01 21:17] lzchen commented on #53768
@dennis-benzinger-hybris
Have you tried correlation with OpenCensus Python? App Insights UI might be using a different field if the source is coming from an SDK using w3C (since the traceId can be used as a global unique id for correlation instead) instead of `target`. I am not sure if this is the case however. The service team is also looking to remove the use of `target` functionality for correl

[2020-05-01 21:18] SaurabhSharma-MSFT commented on #53747
@henriquebelotto Sorry, unfortunately, we do not have any timelines to share with you.  I would suggest you to keep watch on [Azure updates](https://azure.microsoft.com/en-us/updates/?category=identity) page for GA notifications.  Also, public preview items are not recommended for production as few things might change until it goes GA.

[2020-05-01 21:20] AjayKumar-MSFT commented on #53513
@jasonyslai, Apologies for the delay! We wish to engage with you offline for a closer look and provide a specialized assistance on this issue, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you. In the interim, you could also review [some tips](https://adrianhall.github.io/develop-m

[2020-05-01 21:20] #53513 closed

[2020-05-01 21:23] yoghcl opened #53864 "How to integration Application Insights with .NET Framework based webjobs."
Please add instructions on how to add Application Insights logging in .NET Framework based webjobs. Also link https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/ServerTelemetryChannel/ServerTelemetryChannel.cs is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4d

[2020-05-01 21:26] buildtrue commented on #44375
same question as @msrini-MSFT's latest

[2020-05-01 21:26] BharathNimmala-MSFT commented on #53841
@ROSMITHJ-MSFT Thank you for sharing the feedback on this. I am assigning this issue to our document author @bwren to further evaluate the feedback and update the document accordingly.

[2020-05-01 21:34] julieMSFT commented on #52588
reassign:julieMSFT

[2020-05-01 21:36] julieMSFT commented on #52588
@rcabr Thank you for submitting this feedback. I have updated the document and the changes will be viewable soon. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-05-01 21:36] julieMSFT commented on #52588
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/113601

[2020-05-01 21:37] julieMSFT commented on #52588
#please-close

[2020-05-01 21:37] #52588 closed

[2020-05-01 21:40] AjayKumar-MSFT commented on #53360
@shaunakv1, The product team is aware of this issue and actively working on it. I will post back as soon as I have more update. Apologies for any inconvenience with this, much appreciate your patience and co-operation. Thank you!

[2020-05-01 21:46] bwren commented on #53841
@ROSMITHJ-MSFT I'll admit that the term solution has been confusing for some time.  Log Analytics solutions are prepackaged queries and visualizations in a Log Analytics workspace. They have a history with Log Analytics before it was integrated with Azure Monitor. With View Designer being deprecated, most of the solutions are in the process of being phased out.

Azure Monitor for VMs is an Insight

[2020-05-01 21:46] HemendraSingh opened #53867 "Allow Let's Encrypt as a CA"
Look into the possibility of allowing Let's Encrypt as valid CA.
Buying SSL Certificate is an expensive affair and having Let's Encrypt as valid CA would increase Front Door's adoption.
One situation it will be really helpful is while using an Apex domain with Front Door.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-01 21:49] SaurabhSharma-MSFT commented on #52811
@Bibekg001 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-01 21:49] #52811 closed

[2020-05-01 21:49] KumudD commented on #52147
#reassign: amitsriva

[2020-05-01 21:49] KumudD commented on #52127
#reassign: amitsriva

[2020-05-01 21:50] KumudD commented on #52124
#reassign: amitsriva

[2020-05-01 21:50] KumudD commented on #52123
#reassign: amitsriva

[2020-05-01 21:50] KumudD commented on #52122
#reassign: amitsriva

[2020-05-01 21:50] KumudD commented on #52122
#reassign: amitsriva

[2020-05-01 21:51] KumudD commented on #51284
#reassign: amitsriva

[2020-05-01 21:51] KumudD commented on #50968
#reassign: amitsriva

[2020-05-01 21:51] KumudD commented on #49991
#reassign: amitsriva

[2020-05-01 21:52] KumudD commented on #49663
#reassign: amitsriva

[2020-05-01 21:52] KumudD commented on #48198
#reassign: amitsriva

[2020-05-01 21:52] KumudD commented on #49211
#reassign: amitsriva

[2020-05-01 21:52] KumudD commented on #48184
#reassign: amitsriva

[2020-05-01 21:53] KumudD commented on #48177
#reassign: amitsriva

[2020-05-01 21:53] KumudD commented on #28495
#reassign: amitsriva

[2020-05-01 21:53] KumudD commented on #34152
#reassign: amitsriva

[2020-05-01 21:53] KumudD commented on #35170
#reassign: amitsriva

[2020-05-01 21:54] KumudD commented on #39681
#reassign: amitsriva

[2020-05-01 21:54] KumudD commented on #41486
#reassign: amitsriva

[2020-05-01 21:54] KumudD commented on #44981
#reassign: amitsriva

[2020-05-01 21:54] KumudD commented on #47403
#reassign: amitsriva

[2020-05-01 21:55] KumudD commented on #47403
#reassign: amitsriva

[2020-05-01 21:55] KumudD commented on #44009
#reassign: amitsriva

[2020-05-01 21:55] SaurabhSharma-MSFT commented on #52167
@vbatr My url is like below and it is v2 only. only difference is I am not using the common endpoint.
https://login.microsoftonline.com/tenant.onmicrosoft.com/oauth2/v2.0/authorize?client_id=xxxxxxxx-xxxx-xxxx-xxxx-6d0b6eabf543&response_type=code&scope=api://testwebapi/act_as_user+offline_access&redirect_uri=https%3a%2f%2flocalhost:44326/%2f.auth%2fweb%2fredirect&state=6f7dea317cb547ffbbda0b914c44

[2020-05-01 21:55] KumudD commented on #46278
#reassign: amitsriva

[2020-05-01 21:56] KumudD commented on #43869
#reassign: amitsriva

[2020-05-01 21:56] KumudD commented on #43594
#reassign: amitsriva

[2020-05-01 21:56] KumudD commented on #42215
#reassign: amitsriva

[2020-05-01 21:57] KumudD commented on #19930
#reassign: amitsriva

[2020-05-01 21:57] KumudD commented on #15745
#reassign: amitsriva

[2020-05-01 21:59] OneConsutlantsDemo opened #53868 "Access Inheritance in Databricks"
Just wanted to quick confirmation on the access control in Databricks. If we have an Owner access at resource group level, then if we restrict the access at workspace level would the user be restricted or it would be still inheriting the parent privilege. Inheritance is a typical way access flows down in other Azure services. So want to know if putting a granular level access could really restrict

[2020-05-01 22:04] andresbarcenas opened #53869 "SSH access to Web App With Containers (VNET Integrated) not working"
I am using a Web App service (Containers) in a Virtual Network and I cannot use the web interface to SSH onto a container. Based on the documentation, I should be able to just use env vars SSH_PORT but it does not work. In my Dockerfile, I have the following:

ENV PORT=80 ENV PORT_SSH=2222 EXPOSE $PORT $PORT_SSH

Also, SSH is configured to listen on port 2222, the Web App Configurations settings h

[2020-05-01 22:11] MarileeTurscak-MSFT commented on #52690
This is by design. SAML restricted claim set (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#table-2-saml-restricted-claim-set)  cannot be added as the default attribute.  As a workaround, you can try optional claims to emit the UPN restricted claim. (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) .

[2020-05-01 22:11] #52690 closed

[2020-05-01 22:12] deltadan opened #53870 "Script doesn't work"
Get-AzApplicationGatewayFrontendPort : Sequence contains no matching element
At line:5 char:16
+ $backendPort = Get-AzApplicationGatewayFrontendPort `
+                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Get-AzApplicationGatewayFrontendPort], InvalidOperationException
    + FullyQualifiedErrorId : Microsoft.Azure.Commands.Network.GetAzureApplicatio

[2020-05-01 22:19] dkattan commented on #48825
I am also receiving the error
[code]
The documentation linked to by @yuemlu (https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability) shows:

Regional availability
Azure Files authentication with AD DS (preview) is available in all Public regions and Azure Gov regions.

But the post made more recently (March 12) by @SumanthMari

[2020-05-01 22:28] BharathNimmala-MSFT commented on #53064
@jtuliani Apologies for delayed response on this, assigning this issue to our document author @bwren to further evaluate and update the document accordingly.

[2020-05-01 22:36] yorek commented on #52763
Temporal Tables can be used on Secondary Replicas, while Change Tracking is not available on Secondary Replicas at the moment,

[2020-05-01 22:38] NavtejSaini-MSFT commented on #52763
@yorek Thanks for the reply.
@srini1978 Let us know if you need any further help.

[2020-05-01 22:45] NavtejSaini-MSFT commented on #53829
@imyourdba We are checking this and will get back to you.

[2020-05-01 22:53] NavtejSaini-MSFT commented on #53853
@jdemaree We are checking this and we will get back to you.

[2020-05-01 22:55] jonwbstr opened #53874 "This section is misleading 'View MFA reports'"
The MFA reports it is referring to is more of a "View MFA Server reports".

Also, the screenshots are out of date.

"Server status" is under "Manage MFA Server" and,
"Activity report" is under "Reports"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c695a366-7220-081a-8e04-ab84c6f201b7
* Version Independent ID: bec8555

[2020-05-01 23:01] JonathanPalmerGD opened #53876 "Unity Rest API"
Note: This page despite being C# does not provide useful resources for Unity developers looking to utilize LUIS.

I know we have speech reco resources for Unity, but if someone wanted to do Rest API LUIS in Unity, they do not have any recourse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be71dfe5-fd72-f093-4fd5-b9af

[2020-05-01 23:07] tikicoder commented on #35170
This looks like it has been added already.
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https

[2020-05-01 23:16] MarileeTurscak-MSFT commented on #53599
We have reached out to the product team to see if there was a recent outage. Tpically this issue happens when the permissions on the ProxyIdentityExperienceFramework aren't set properly. I'd say doublecheck that ProxyIdentityExperienceFramework has Admin consent for Azure Active Directory Graph: User.Read and IdentityExperienceFramework: User_Impersonation. In the meantime if I hear back from the

[2020-05-01 23:25] SaurabhSharma-MSFT commented on #53530
@mmushatt I have followed the steps mentioned in the document and I am able to see correct results.
![image](https://user-images.githubusercontent.com/38112130/80848075-ce59d280-8bc6-11ea-8d86-b2aacf1c7ef8.png)
You may have missed something in the configuration. Please can you make sure that you have added permissions correctly in web API and configured apiConfig.js correctly -
![image](https://us

[2020-05-01 23:31] Tubbie commented on #28140
I encountered the same issue. I suspected the local.settings.json file was disregarded when running locally. I found a hint here: -https://stackoverflow.com/questions/52194154/unable-to-read-local-settings-json-file-when-running-azure-function-locally

I guess this issue is because author used VS and I was using VS Code.

Then I created/copied the whole app (JS one) to a new project then it worked

[2020-05-01 23:34] jonwbstr commented on #53874
It is also worth noting the "Azure AD sign-ins report" section is essentially an "MFA report" for AzureAD

[2020-05-01 23:38] Mike-Ubezzi-MSFT commented on #52633
@Cephei Thank you for the additional detail. This issue is being tracked internally and I will close this specific item but, I will update this when a final update is made available for your awareness. If there are further updates you would like to make please feel free to continue the dialog.

[2020-05-01 23:38] #52633 closed

[2020-05-01 23:41] amapleson opened #53877 "AzCopy switches out of date"
Current version AzCopy does not support the switches mentioned in this article.
https://docs.microsoft.com/en-gb/azure/storage/common/storage-use-azcopy-blobs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b4c16f-e4ec-d093-8435-f1c4252b4612
* Version Independent ID: b56c07db-b3d2-e20f-57f6-fa90546af418
* Content: [Az

[2020-05-01 23:43] jonwbstr opened #53878 "Confusing terminology"
This article talks about users either being Registered, Unregistered or Disabled . However, if you go into the [MFA portal](https://account.activedirectory.windowsazure.com/UserManagement/MultifactorVerification.aspx) it uses the termonology "Enabled", "Enforced" and "Disabled"

Unregistered includes both "Enabled" and "Disabled" users while,
Registered is users where MFA is "Enforced".

On a side

[2020-05-01 23:44] TravisCragg-MSFT commented on #53867
@HemendraSingh Thanks for the feedback! As this is a feature request ,the best place to post this is on [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking). This is a common ask across Azure Networking, but I was not able to find a specific post for Azure Font Door with Lets Encrypt.

We will now proceed to close this thread. If there are further quest

[2020-05-01 23:44] #53867 closed

[2020-05-01 23:44] Karishma-Tiwari-MSFT commented on #53797
Thanks.

[2020-05-01 23:46] Karishma-Tiwari-MSFT commented on #53825
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-01 23:49] payiAzure opened #53879 "How to config multiple application insights in a service fabric cluster?"
What if I have multiple application insights used separately by multiple applications running a a single cluster, how to set up the profiler for each application insights in the template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98acbcd-3d9a-cc4e-390a-c2f1886d30bb
* Version Independent ID: 687b9b92-f23b-3ff6-2c2

[2020-05-01 23:50] Karishma-Tiwari-MSFT commented on #53859
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-01 23:54] Karishma-Tiwari-MSFT commented on #53831
Apologies for your inconvenience.
Can you please elaborate on your end goal so that we can assist you better and resolve the issue you are seeing. Thanks. :)

[2020-05-01 23:54] dennis-yemelyanov commented on #53768
@lzchen , I only tried Opencensus Python on the client and Application Insights .NET Core on the server, haven't tried Opencensus Python on the server. But I'm not sure what fields Application Insights backend expects, couldn't find any documentation...

If there is ongoing work to remove the `target` field requirement, I think will be great and should fix this issue. I think it's better if Applic

[2020-05-02 00:01] Karishma-Tiwari-MSFT commented on #53375
Can you please check if this resolves the error you are seeing:
https://github.com/Azure/azure-cli/issues/9585#issuecomment-502542000

[2020-05-02 00:02] jonwbstr commented on #53878
I noticed the **Identify users and output methods registered** section touches on the state.

Not sure about "Enabled" but it might be...
[code]

MFA Status is Enforced
[code]
MFA Status is Disabled
[code]

My assumption when looking at the list of users who registered, is that it was a list of registered users where MFA is enabled. However, after looking at the **Identify users and output methods

[2020-05-02 00:03] TravisCragg-MSFT commented on #53870
@deltadan If you ran this script before the App Gateway had fully completed, you might get this error. Try logging into your Azure Subscription and trying this command again.

If it does not work, verify that the App Gateway is in your subscription with that name by running

`$appgw = Get-AzApplicationGateway -ResourceGroupName myResourceGroupAG  -Name myAppGateway`

and then verify that a front e

[2020-05-02 00:04] Mike-Ubezzi-MSFT commented on #45324
Update from the REST API Docs Team:

[2020-05-02 00:06] Karishma-Tiwari-MSFT commented on #53375
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-02 00:09] hbrown664 commented on #53697
Yes. That seemed to do it. Thanks.

Sent from Yahoo Mail on Android

  On Fri, May 1, 2020 at 1:32 PM, Mark Kromer<notifications@github.com> wrote:

Can you please try to clear your browser cache and reload your factory? This sounds like some UI libraries were changed and put your browser into an inconsistent state.

—
You are receiving this because you commented.
Reply to this email directly, vie

[2020-05-02 00:13] Karishma-Tiwari-MSFT commented on #53384
It is caused by using uppercase letters in the storage file name. Please use lowercase for azure file share name.

For more information, please refer to https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-shares--directories--files--and-metadata#share-names

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment.

[2020-05-02 00:13] #53384 closed

[2020-05-02 00:34] lzchen commented on #53768
For now I don't think there is any work on the OpenCensus side. Can we close this issue?

[2020-05-02 00:44] mike-urnun-msft commented on #53277
@Bpoe Looks like the sample was removed by Azure/azure-functions-durable-extension#989, so I've made updates referencing an earlier commit where the sample is available.

cc: @cgillum @anthonychu fyi above

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-02 00:44] #53277 closed

[2020-05-02 00:45] Karishma-Tiwari-MSFT commented on #53469
@jluk Multiple customers are seeing this issue, discussed here as well: https://github.com/Azure/azure-cli/issues/13121
Can you please share your insights on this issue? Thanks :)

[2020-05-02 00:46] dennis-yemelyanov commented on #53768
Not sure if it might be helpful to keep this (or some other) issue open for tracking until the service side fix is released? If not, I'm fine to close it

[2020-05-02 00:49] Karishma-Tiwari-MSFT commented on #53469
@nboeckmann @msfreaks @john-adkins I am reaching out to the product team.

Meanwhile, please follow the workaround shared in the comment above: https://github.com/MicrosoftDocs/azure-docs/issues/53469#issuecomment-621248236

or Deploy AKS Cluster with Windows node-pool via Azure Portal.

[2020-05-02 00:50] Karishma-Tiwari-MSFT commented on #53490
We will now close this issue. Please share the details when ready and tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-05-02 00:50] #53490 closed

[2020-05-02 00:52] Karishma-Tiwari-MSFT commented on #53735
@b0cephus Is there any update?

[2020-05-02 00:56] Karishma-Tiwari-MSFT commented on #51368
This has been fixed. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-02 00:56] #51368 closed

[2020-05-02 01:19] lamek commented on #53604
Really appreciate the feedback @dkypuros. I tried spinning up a few clusters this evening and had a similar issue with this command on both Linux and OSX, so I'll circle back with the team about updating this.

To help keep you moving, I was able to copy/paste the defaults with the following modifications:
- delete the line for using a custom domain (assuming you're not using one for your cluster)

[2020-05-02 01:27] Relent97 commented on #53676
Thanks it seemed to work.
For anyone else experiencing this problem this is the command I put in
"az webapp up --location  northeurope" since the location of my app is in North Europe

[2020-05-02 01:28] lamek commented on #53610
+1. I also hit this. My turnaround time was very fast, but I did struggle correlating what I needed to request in my support ticket to what the error message called for. Also, I **expected** a support request like this to take a few days, so I didn't even bother checking for 24 hours.

[2020-05-02 01:43] ecfan commented on #52956
Hi @GiantCrocodile,

Unless I'm interpreting your question differently, when the trigger uses the GET method rather than POST, the callback URL looks like the same one that's used for the POST method:

`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}/triggers/manual/paths/invoke/address/{postalCode}?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={shared-ac

[2020-05-02 01:44] Mike-Ubezzi-MSFT commented on #53280
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-05-02 01:44] #53280 closed

[2020-05-02 01:49] Karishma-Tiwari-MSFT commented on #53604
Thanks @lamek
Looks like this command was updated few days ago here: https://github.com/MicrosoftDocs/azure-docs/commit/8d07d97df51b01e01bc65bb9e1ed74439d506f6b
Before this update, it said

`--pull-secret 'Pull secret from https://cloud.redhat.com/openshift/install/azure/installer-provisioned/' # [OPTIONAL] `

[2020-05-02 02:04] VikasPullagura-MSFT commented on #53821
@perkops
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:04] VikasPullagura-MSFT commented on #53833
@javester
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:07] KranthiPakala-MSFT commented on #53751
@tjlagrimas Thanks for your response. For your requirement, you can pass the folder path and file name from Event trigger parameters to pipeline parameters and then use the pipeline parameters to pass the value to data set parameters of your lookup dataset.

EventTrigger parameters (as shown in my sample below):

`sourceFile = @trigger().outputs.body.fileName`
`sourceFolder = @trigger().outputs.bo

[2020-05-02 02:07] #53751 closed

[2020-05-02 02:08] dkypuros commented on #53604
Does the new command work? Has anyone tested it?

I'm referring to the command here: 8d07d97

``` # --pull-secret 'Pull secret from https://cloud.redhat.com/openshift/install/azure/installer-provisioned/' ```

[2020-05-02 02:09] dkypuros commented on #53604
@lamek I'll spin up a cluster tonight and test both methods mentioned in this thread.

[2020-05-02 02:14] VikasPullagura-MSFT commented on #53842
@chrisluedtke Thanks for pointing this out. I have updated the document and changes will go live soon.

[2020-05-02 02:14] #53842 closed

[2020-05-02 02:17] VikasPullagura-MSFT commented on #53847
@nezoic
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:18] VikasPullagura-MSFT commented on #53844
@rustyautopsy
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:19] #44009 closed

[2020-05-02 02:20] taminta commented on #44009
Let’s me correct info again then raise issue as needed

[2020-05-02 02:23] VikasPullagura-MSFT commented on #53845
@YvonneArnoldus
Apologies for your inconvenience. Please check [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1904) Storage Explorer troubleshooting guide.
This issue will be looked by one of our Storage Engineer for further troubleshooting.

[2020-05-02 02:24] VikasPullagura-MSFT commented on #53849
@milope
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:27] VikasPullagura-MSFT commented on #53851
@erikerikson
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:28] dkypuros commented on #53604
First test - based on changes from: 8d07d97

[code]

*Failed:* The update from 8d07d97 is not accurate from my test.

...CLI OUTPUT (Fedora 31)...
[code]
*Note:* It looks like it's continuing to install the cluster despite the "--pull-secret" error.

PS. Curious what happens if I cancel the cluster creation while in "running" status. Will the "az openshift delete" command still work. Wondering if

[2020-05-02 02:28] VikasPullagura-MSFT commented on #53856
@chetan3434
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:32] VikasPullagura-MSFT commented on #53857
@gewarren
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-02 02:33] VikasPullagura-MSFT commented on #53863
@divlja-guska
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:34] VikasPullagura-MSFT commented on #53860
@faizankhan1995
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:36] VikasPullagura-MSFT commented on #53864
@yoghcl
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-02 02:36] VikasPullagura-MSFT commented on #53864
@ggailey777
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 02:37] VikasPullagura-MSFT commented on #53868
@OneConsutlantsDemo
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:39] VikasPullagura-MSFT commented on #53874
@jonwbstr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 02:39] VikasPullagura-MSFT commented on #53874
@iainfoulds
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 02:40] VikasPullagura-MSFT commented on #53869
@andresbarcenas
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:41] VikasPullagura-MSFT commented on #53879
@payiAzure
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:43] VikasPullagura-MSFT commented on #53878
@jonwbstr
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 02:44] VikasPullagura-MSFT commented on #53877
@amapleson
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 02:44] VikasPullagura-MSFT commented on #53877
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 02:46] VikasPullagura-MSFT commented on #53876
@JonathanPalmerGD
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-02 02:49] sayanghosh123 commented on #53811
Thanks @KrishnaG-MSFT - you are awesome! That seems to work. Just one final clarification -

This seems to show "Windows_Server" where AHB is used, and blank elsewhere.
Portal shows

- "Not supported" for Linux (I assume query will show blank)
- "Not enabled" for Windows where AHB is not used (I assume query will show blank)
- "Azure hybrid benefit" for Windows where AHB is used (I assume query wi

[2020-05-02 03:00] femsulu commented on #37249
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-02 03:00] #37249 closed

[2020-05-02 03:05] sudharsank commented on #46581
@mabeyer you have to use Application Customizer to add the script to the modern pages for monitor.

[2020-05-02 03:44] viju2008 commented on #53280
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=stt%2Ccsharp%2Csimple-format

[2020-05-02 03:47] viju2008 commented on #53280
However i still need information on how to increase the level of detail..

I got the issue as TLS verify fail... but the reason for TLS verify fail not mention.... how do i make it more detailed

[2020-05-02 04:25] KrishnaG-MSFT commented on #53811
@sayanghosh123 Sure. Below is my response.

- > "Not supported" for Linux (I assume query will show blank)

Yes, query will show blank under 'licenseType' column

- > "Not enabled" for Windows where AHB is not used (I assume query will show blank)

Yes, query will show blank under 'licenseType' column

- > "Azure hybrid benefit" for Windows where AHB is used (I assume query will show "Windows_Serv

[2020-05-02 04:28] TheAlmIT opened #53880 "PublicIP has been assigned in both places"
Public IP Created above has been already assigned to NIC, So while Creating Azure VM for Frontend, it is giving error saying that, Public IP has been already assigned to NIC, so you can't assign it to VM.
Public IP Address Created Here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-virtual-network#create-a-public-ip-address
This IP Associated with NIC Here:
https://docs.

[2020-05-02 05:20] nishantrajmitra commented on #53558
Thank you for your response.

Regards,
Nishant

On Thu, 30 Apr 2020 at 7:30 PM, SwathiDhanwada-MSFT <
notifications@github.com> wrote:

--
Thanks & Regards,
Nishant Kumar
Contact- +91-9972755448

[2020-05-02 05:54] UnsnappedKhan8 commented on #53558
What is this for

[2020-05-02 05:55] VikasPullagura-MSFT commented on #53828
@dedvds
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 06:19] VikasPullagura-MSFT commented on #53880
@TheAlmIT
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-02 06:20] GreenReaper commented on #45228
@aquibqureshi26: The note earlier says: "Azure CDN from Verizon and Azure CDN from Akamai are subject to the rates described below." - i.e. you have to pay. Zero-rated transfer is only for listed MS services to MS CDN.

[2020-05-02 06:32] UnsnappedKhan8 commented on #53524
I just signed up for Azure on microsoft it has alot of base apps

[2020-05-02 06:34] UnsnappedKhan8 opened #53881 "Issues Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-02 06:44] UnsnappedKhan8 commented on #53880
There prolly like 4 different ips

[2020-05-02 06:44] UnsnappedKhan8 commented on #53880
#53881

[2020-05-02 06:45] UnsnappedKhan8 commented on #53880
@UnsnappedKhan8

[2020-05-02 06:49] aquibqureshi26 commented on #45228
considering note.

hi Green, I agree. From Azure Region to CDN POP there is no bandwidth charges when we use MS CDN (to bill caches on POP location, i. e. everytime there is a update to my orignal content so POP are also updated and for that we don't have to pay) . but what about data transfer from POP to Users. In case of MS or in case of Akamai and Verizon? Do we incur egress network bandwidth c

[2020-05-02 07:00] GreenReaper commented on #45228
Transfers from the POP to the users is included in the Azure CDN charge for the relevant service provider. That's why that charge varies similarly based on location - though it is not identical, and in some cases this is beneficial.

For example, as I understand it Africa is currently much cheaper to serve via MS CDN than it is direct from an Azure VM, because for CDN charges it is included in EME

[2020-05-02 07:09] JasonWHowell commented on #50383
#please-close

[2020-05-02 07:09] #50383 closed

[2020-05-02 07:09] UnsnappedKhan8 commented on #45228
@GreenReaper  do u work form green dot bank?

[2020-05-02 07:13] JasonWHowell commented on #48169
#reassign:@JnHs

[2020-05-02 07:13] andrewcrayden opened #53882 "Web API changed from .NET Core to Node.js"
Really happy to see that this documentation was recently updated, but I do have some friendly feedback to offer. When I was reviewing this documentation a few months ago it was all based on a .NET Core web API, but now references a Node.js backend. Why the change to Node.js? Isn't Microsoft wanting to promote .NET Core especially in anticipation for the release of 5.0 later this year?

Just saying

[2020-05-02 07:15] JasonWHowell commented on #52617
FYI @JnHs

[2020-05-02 07:16] JasonWHowell commented on #47378
#reassign:@JnHs

[2020-05-02 07:19] JasonWHowell commented on #51925
#please-close

[2020-05-02 07:19] #51925 closed

[2020-05-02 07:19] JasonWHowell commented on #47290
#reassign:@JnHs

[2020-05-02 07:19] JasonWHowell commented on #47289
#reassign:@JnHs

[2020-05-02 07:20] JasonWHowell commented on #46355
#reassign:@JnHs

[2020-05-02 07:20] JasonWHowell commented on #45894
#reassign:@JnHs

[2020-05-02 07:21] JasonWHowell commented on #45202
#reassign:@JnHs

[2020-05-02 07:22] JasonWHowell commented on #45035
#reassign:@JnHs

[2020-05-02 07:23] JasonWHowell commented on #44562
#reassign:@JnHs

[2020-05-02 07:24] VikasPullagura-MSFT commented on #53881
@UnsnappedKhan8 Thanks for opening issue. As you have pointed the original issue https://github.com/MicrosoftDocs/azure-docs/issues/53880 we will close this duplicate issue.

[2020-05-02 07:24] #53881 closed

[2020-05-02 07:25] VikasPullagura-MSFT commented on #53882
@andrewcrayden
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 07:25] VikasPullagura-MSFT commented on #53882
@msmimart
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 07:26] JasonWHowell commented on #29449
#reassign:@JnHs

[2020-05-02 07:35] sayanghosh123 commented on #53811
Thanks @KrishnaG-MSFT - you are awesome!

[2020-05-02 07:40] aquibqureshi26 commented on #45228
Thanks Mr. Green. I've few queries from your reply.

"If you do not use MS CDN, but Akami or Verizon, both charges would be applied, making it expensive to serve from an Azure VM."

1) both charges would be applied : _Meaning from Origin to CDN POP and also the bandwidth charges which is already included in the Service Charges of CDN._

2) making it expensive to serve from an Azure VM : _Does it m

[2020-05-02 07:41] myalla commented on #48506
Unable to add Azure portal URLs for proxy bypass list for Safari on MacOS. As this listed urls start with STAR *.azure.com etc., which is not accepted as this has to be the full URL https://azure.com - please help with steps to add safelist.

[2020-05-02 07:48] ckgu541 opened #53883 "Getting the same error while creating windows virtual desktop... VM is created but deployment is failed with domain joining error."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-02 08:41] GreenReaper commented on #45228
1: Yes - as I understand it. Bear in mind, I'm not a Microsoft employee, and this is not official support. If you want to be sure about any of this you should file a support case to clarify the costs.

2: This part of my reply was in the context of transfer costs in South Africa. For that region, using current costs, I believe this is correct:
* Serving the user directly from the public IP of an A

[2020-05-02 08:42] SeaDude opened #53884 "Please provide python connection examples"
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b2499482-1101-4937-7f34-ad7b9fd9fdc4
* Content: [Authorize access to data with a managed identity - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi)
* Content

[2020-05-02 08:43] SeaDude opened #53885 "Please provide python examples"
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a4bd03-9c86-4c9b-5834-c2966c2f3720
* Version Independent ID: a070cc29-15aa-c072-b90b-64c616ef51cc
* Content: [Authorize access to blobs and queues using Active Directory - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad)
*

[2020-05-02 08:47] Jhamox19 opened #53886 "Conditional Access Status"
When you configured Conditional Access by blocking location or IP address it will report as "Failure" on the Sign-in Activity. May i know why? On this document it says "Failure: One or more conditional access policies applied and was not satisfied during sign-in". The report should state as "Success" because it had successfully blocked the access via Conditional Access policy and not "Failure" as

[2020-05-02 09:18] UnsnappedKhan8 opened #53887 "Commons"
So its a open hybrid cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be84-432f99ec4d8f
* Content: [Sign-in activity reports in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monito

[2020-05-02 09:22] yejiyang commented on #51639
@kraigb I tried to set SCM_DO_BUILD_DURING_DEPLOYMENT both in App Service or VS Code (Linux version).
By default, the variable SCM_DO_BUILD_DURING_DEPLOYMENT does not exist. I manually add one through App Service.
This does not help. It still got the same page "Hey, Node developers! Your app service is up and running. Time to take the next step and deploy your code".

[2020-05-02 09:26] nwipfli commented on #53375
Hi @Karishma-Tiwari-MSFT , this issue is not resolved.
This comment https://github.com/Azure/azure-cli/issues/9585#issuecomment-502542000 seems to be unrelated.
This issue #53375 is specific to the procedure to create an AKS cluster to integrate AAD. Please see all the steps and you will see that this is different than just using an AKS cluster with a simple SP.

So, this issue #53375 is still unr

[2020-05-02 09:40] aquibqureshi26 commented on #45228
Thanks Mr. GreenReaper. I think still Microsoft should confirm and clarify the above points in the article. Because when i reached out to support guys their answer was something else which is opposite.

I think better way to identify the cost is to test this. but due to the complexity of the environment and multi geo location of servers and their bandwidth consuption i couldn't gather the details

[2020-05-02 10:22] simonvane commented on #42106
@deborahc Thanks very much for clarifying/confirming.

Please could the documentation be updated with this clarification?

[2020-05-02 10:55] pratiksharma-dev opened #53889 "Issue while passing Environment variable as secret as discussed in https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI"
Hi Team,

I am currently trying to pass a secret value using environment variable property for Microsoft.Resources/deploymentscripts as mentioned in the docs at https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI

But this leads to the value being blank and cannot access it in the container instance create by runtimePowerShell resource. PFB t

[2020-05-02 11:13] Negwood commented on #53599
@MarileeTurscak-MSFT I cannot tell if it had been working before, as this was the first time I have tried working with custom policies.

Thanks for the tips and the attention!

[2020-05-02 11:21] Pavan2019 opened #53890 "Please correct the statement in the second para."
The below statement in the second para, is not correct.
"Additional regions can be added to the Primary or Secondary regions."

The correct statement should be like below.
"Additional units can be added to the Primary or Secondary regions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b2624c-40ea-c23c-3af5-79953d4c

[2020-05-02 12:24] neilmcalister commented on #53775
Thanks - I would suggest that step 16 be re-worded also to..

16 - Go back to your client-app registration in Azure Active Directory and select Authentication.

There is a lot of throwing items backwards and forwards into different elements in different places, so needs to be clearer to assist the cause.

[2020-05-02 12:31] GiantCrocodile commented on #52956
Hi @ecfan,

I think you misunderstood what I'm looking for. My question is not about POST or GET methods but how I can use GET parameters (which only work with GET method) in the URL.

See the  `postalCode=12345` part of this example here:

`https://prod-25.westus.logic.azure.com/workflows/{logic-app-resource-ID}?postalCode=12345&api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig={sha

[2020-05-02 12:35] SharmaHarsh7 opened #53891 "Skip some chars while OCR and Merge two fields some times"
Hi,

I have been exploring Azure Form Recognizer for one of my project where we wants to perform OCR on some hand written texts.

1. The problem is that when we give scanned images to the tool to process, it some time doesn't even recognize the text written on it (even if it is clearly written). I tried multiple type of images by performing enhancement on it and also the B/W or colored copy of it

[2020-05-02 12:49] viju2008 opened #53892 "Property to define: Max Audio Recognition time for Android Microphone. Stopping Audio Recognition after 15 seconds"
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-microphone?tabs=dotnet%2Cx-android%2Clinux%2Cjava-runtime&pivots=programming-language-java

https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech?view=azure-java-stable

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-configur

[2020-05-02 12:56] FreddyMcRay opened #53893 "'TCP segments sent' metric"
Can't find this metric among available ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234b983c-0247-0da1-636f-88083477b0d1
* Version Independent ID: 58766a89-9fe0-e0fb-8195-9d659351d814
* Content: [Use packet capture to do proactive network monitoring with alerts - Azure Functions - Azure Network Watcher](https:/

[2020-05-02 12:59] LifeRyuto opened #53894 "Only one record was returned for PTR query using an Azure DNS private zone."
Is the below information correct? When I issued reverse DNS query (PTR query), only one record was returned.

Executed command:

Server:  UnKnown
Address:  168.63.129.16

Address:  10.6.0.5

For your reference,

Server:  UnKnown
Address:  168.63.129.16

Name:    sqlvm1919link4.ifwggme2fgduna4m3zfpeum2oh.cx.internal.cloudapp.net
Address:  10.6.0.5

Server:  UnKnown
Address:  168.63.129.16

Name:

[2020-05-02 12:59] DixitArora-MSFT commented on #53890
Hi @Pavan2019 Thanks for your feedback. We will review and update as appropriate.

[2020-05-02 13:04] LifeRyuto commented on #53894
The virtual network which has the vm(sqlvm1919link4) is linked to the private zone with auto-registration enabled.

[2020-05-02 13:10] LifeRyuto commented on #53894
Renewing DHCP lease and flushing dns cache don't resolve this issue.

[2020-05-02 13:21] flying-falcon opened #53895 "Sendgrid mail documentation is not up-to-date"
Documentation link : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/store-sendgrid-nodejs-how-to-send-email.md
https://docs.microsoft.com/en-us/azure/store-sendgrid-nodejs-how-to-send-email

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c2a0c-7d23-bf1f-dc35-93b4eb08c624
* Version Independent ID: a9

[2020-05-02 13:40] VikasPullagura-MSFT commented on #53883
@ckgu541 Apologies for the inconvenience.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-02 13:43] VikasPullagura-MSFT commented on #53884
@SeaDude
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 13:43] VikasPullagura-MSFT commented on #53884
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 13:45] VikasPullagura-MSFT commented on #53885
@SeaDude
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 13:45] VikasPullagura-MSFT commented on #53885
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 13:47] VikasPullagura-MSFT commented on #53886
@Jhamox19
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 13:49] VikasPullagura-MSFT commented on #53887
@UnsnappedKhan8
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 13:50] VikasPullagura-MSFT commented on #53891
@SharmaHarsh7
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 13:54] VikasPullagura-MSFT commented on #53892
@viju2008
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 13:57] VikasPullagura-MSFT commented on #53889
@pratiksharma-dev
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 13:59] VikasPullagura-MSFT commented on #53893
@FreddyMcRay
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 14:00] VikasPullagura-MSFT commented on #53894
@LifeRyuto
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 14:04] VikasPullagura-MSFT commented on #53895
@nnkteja
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 14:04] VikasPullagura-MSFT commented on #53895
@Erikre
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 14:06] VikasPullagura-MSFT commented on #53831
@mpryandds Can you please share the requested details.

[2020-05-02 14:06] DeanGross opened #53896 "Missing step"
these instructions don't include the Assign Control action that is necessary for this policy to work. Please add the missing steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2195c05-13ee-5f82-d5dd-93a36ce0191d
* Version Independent ID: 300ffcd7-1ec7-d610-bf4b-49ea4cd0f1b7
* Content: [Require MFA from untrusted ne

[2020-05-02 14:07] VikasPullagura-MSFT commented on #53896
@DeanGross
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-02 14:07] VikasPullagura-MSFT commented on #53896
@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2020-05-02 14:25] viju2008 commented on #52904
Any update ??

[2020-05-02 14:40] zbachore opened #53897 "Is this still true?"
Is the following statement still true?
"You cannot assign a role scoped to a container or queue if your storage account has a hierarchical namespace enabled"

Because I am able to assign a role assignment to a container to a data lake storage gen2. I don't know if I am missing something.

Thanks!
Zewde

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-02 14:55] yoyotam commented on #50642
??

[2020-05-02 15:05] VikasPullagura-MSFT commented on #53897
@zbachore
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-02 15:06] VikasPullagura-MSFT commented on #53777
@dontmesswithbill Any update on the issue. Can you please share the document URL.

[2020-05-02 15:07] VikasPullagura-MSFT commented on #53690
@agassijoelbrio I will proceed to close this issue. You can either open a new issue by providing Feedback directly on the document or If you have the document URL then please share so that we can reopen this issue.

[2020-05-02 15:07] #53690 closed

[2020-05-02 15:55] StingyJack commented on #47256
@KalyanChanumolu-MSFT This is what I get when trying to login to that uservoice page.
![image](https://user-images.githubusercontent.com/15381181/80868538-555f8700-8c69-11ea-9166-9d6df9764d24.png)

@dalton478  - i figured out how to do this by using the Authentication keyword but the option has to be for "Active Directory Password".

Here is an example of how to use this and run through each Azure

[2020-05-02 16:15] Hema1605 opened #53898 "Page is not loading"
Couldnt able to load the page Enterprise applications -> all applications.
![Capture](https://user-images.githubusercontent.com/40828177/80869312-5fab7080-8cbd-11ea-85d9-ba50f8432c49.PNG)

[2020-05-02 16:40] rstamp opened #53899 "Re-assigning special role called "Directory Synchronization Accounts""
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#azure-ad-connector-account
….
This special built-in role cannot be granted outside of the Azure AD Connect wizard.
=&gt; this information is incorrect. you can add the member to the role any time you want. Consider a case where the account was removed from the role. To restore the functionality, y

[2020-05-02 17:05] AshokPeddakotla-MSFT commented on #53359
We hope that answers your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-02 17:05] #53359 closed

[2020-05-02 17:15] NowinskiK commented on #53444
**azure.datafactory.tools** module
I have spent several days and built a brand new PowerShell open-source module to publish the whole Azure Data Factory code from your *master* branch or directly from your local machine. The module resolves all pains existed so far in any other solution, including:
- deployment part of objects, deleting objects not existing in the source any longer, stop/start tri

[2020-05-02 17:17] AshokPeddakotla-MSFT commented on #53387
@omarine As suggested, please reachout Venkat with your scenario for further assitance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-02 17:17] #53387 closed

[2020-05-02 17:47] shaunakv1 commented on #53360
Thanks for the update @AjayKumar-MSFT . This is basically complete road block for Ruby (on Rails) community. Would really appreciate some expedited update on this repo: https://github.com/Azure-App-Service/ruby which is seriously lagging now.

[2020-05-02 17:48] amrragab8080 opened #53900 "Missing expected network bandwidth"
The narrative explains the "Expected network bandwidth" however the network bandwidth is missing in the table. What is aggregate network bandwidth of NVv4 series VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab91be7-f262-4258-aa73-64a35e3d9ae4
* Version Independent ID: 93dc517e-720e-60bd-57b9-63a374d62a1f
* Cont

[2020-05-02 17:54] NowinskiK commented on #53093
@ChiragMishra-MSFT, could you please reopen this ticket?

[2020-05-02 18:12] teapotestac opened #53901 "WebApp not displaying any data"
Hello,

I'm using an Arduino board to send temperature and humidity data on my Azure Web App.
Everything is working locally, but when migrating to Azure WebApp I have no device to display anymore.

I commented 'return' in chart-device-data.js to make it work locally (as suggested in the issue #52495)
I tried to change the data model (as suggested in issue #37707) but it didn't work.

I've noted th

[2020-05-02 18:24] drmauro opened #53902 "Shut down compute-target using AML SDK"
I couldn't find a way to shut down compute-target using AML SDK. Can please someone give a clue about it, tks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b4be5-1978-ad95-4c40-30e8b52e8cb7
* Version Independent ID: eb8b1d57-70c6-7cf0-2ebd-a43dede30bb9
* Content: [What are compute targets - Azure Machine Learning](

[2020-05-02 18:32] mananshah19 opened #53903 "Client Access Point Creation"
Hi,

Does the "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/availabilityGroupListeners" in ARM template help to also set the Client Access Point or that is going to be manual?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8719583b-9225-b70a-089e-2bdec3cd3246
* Version Independent ID: a9de7dd4-848b-40e3-6bc2-27b

[2020-05-02 18:55] AjayKumar-MSFT commented on #53312
Michel, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-05-02 18:55] #53312 closed

[2020-05-02 19:01] pk2311 opened #53904 "About Destage Script"
Destage script doesn't un-mount the vhd, is this expected behavior ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Independent ID: 21322b77-a2e0-41a2-b128-7681d2d62577
* Content: [Windows Virtual Desktop MSIX app attach - Azure](https://docs.microsoft.com/en-us/azure/virt

[2020-05-02 19:02] jluk commented on #53469
@MikkelHegn for awareness on windows impact from the preview version. The engineering team is investigating the impacted of the preview-extension, but the work around above are valid. The is to remove the preview-extension.

[2020-05-02 19:14] msfreaks commented on #53469
although the workaround  in [https://github.com/MicrosoftDocs/azure-docs/issues/53469#issuecomment-621248236 ](comment) is valid, it prevents you from assigning a custom resource group name for the nodes.

[2020-05-02 19:25] TurtleBeach opened #53905 "Multiple versions of Core Tools on one machine"
I (and I believe many others) have multiple V2 Java Functions. I understand that they should run fine on V3. However, since I would like to confirm that myself, that means I need to install V3 core tools. The question is, can V3 and V2 coexist, or does installing V3 wipe out V2. Or what happens?
Frankly, I do not understand why MS does not routinely state explicitly when (if) prior versions must b

[2020-05-02 19:29] YutongTie-MSFT commented on #53898
@MarileeTurscak-MSFT FYI

@Hema1605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 19:51] YutongTie-MSFT commented on #53899
@MarileeTurscak-MSFT FYI
@rstamp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 19:58] YutongTie-MSFT commented on #53900
@Karishma-Tiwari-MSFT FYI

@amrragab8080
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 19:59] martinlarosa opened #53906 "What is the first app we register here used for?"
The app that we create under: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications#register-an-application
What is it user for? It says we should create it in a specific AAD tenant, does this have to be done in the tenants that wish to login to our B2C, or is this just another app in our B2C tenant?

---
#### Document Details

[2020-05-02 20:00] SaurabhSharma-MSFT commented on #53807
@ixtlanian The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-02 20:00] #53807 closed

[2020-05-02 20:02] YutongTie-MSFT commented on #53901
@asergaz  FYI

@teapotestac
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 20:08] YutongTie-MSFT commented on #53902
@drmauro
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 20:11] YutongTie-MSFT commented on #53903
@mananshah19
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 20:12] atrauzzi opened #53907 "Can I upload charts created with `helm package`?"
If I've already created a helm package `.tgz` using `helm package`, is there any way I can use that instead? I would prefer to avoid having to manipulate my project files using hand-rolled scripts to update their versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Ind

[2020-05-02 20:24] YutongTie-MSFT commented on #53906
@martinlarosa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 20:27] YutongTie-MSFT commented on #53904
@pk2311
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-02 20:28] YutongTie-MSFT commented on #53905
@TurtleBeach
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-02 20:30] YutongTie-MSFT commented on #53907
@atrauzzi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-02 21:04] dharmaturtle commented on #49531
https://aws.amazon.com/about-aws/whats-new/2020/03/amazon-rds-now-supports-postgresql-12/

Well... I guess this answers what cloud provider I'll be using :/

[2020-05-02 21:21] mslot commented on #45228
And this is exacly why I am asking for clarification in the first place: it is hard to test, thus I could potentially bringing the cost of my project way up, and I dont want that. I want to have a feeling, beforehand, on the cost, before implementing this.

[2020-05-02 21:28] hypertrends opened #53908 "How To: DRM with Live Streaming"
Hello,
We have been able to create the Live Streaming without Encryption by following the tutorials in the Live Streaming section. There is confusion on how Live Streaming is used with DRM. Do we have a tutorial from start-to-finish on Live Streaming + DRM? Do we need an encoding Transform? If so, how does it relate to the Live Stream Assets? If not, do we directly create the Content Key Policy an

[2020-05-03 00:37] JiriZidek commented on #49531
Im afraid we too...

Omlouvám se za formu a překlepy, psáno z mobilu.
Jiří Zídek

________________________________
From: Rawr <notifications@github.com>
Sent: Saturday, May 2, 2020 11:05:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jiří Zídek <zidek@atlantis.cz>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Timeline for planned support of c

[2020-05-03 00:46] dkypuros commented on #53604
SUCCESS!!=========================

Environment. Fresh install; Fedora 31. Latest version of ARO (as of today).

This command successfully works:

az aro create \
  --resource-group $RESOURCEGROUP \
  --name $CLUSTER \
  --vnet aro-vnet-2 \
  --master-subnet master-subnet-2 \
  --worker-subnet worker-subnet-2 \
  --pull-secret '0LXJc2-THIS-IS-A-FAKE-EXAMPLE-key-xUtZGV2K2Rhdmlka3lwdGV2K2Rhdmlka3lwd

[2020-05-03 01:45] TonywalkerCN opened #53912 "Does MFA NPS Extension support for AzureChinaCloud?"
Hi, Does the MFA NPS Extension support for AzureChinaCloud？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Provide Azure MFA capabilities using NPS - Azure Active Directory](https://docs.microsoft.com/en-us/a

[2020-05-03 01:50] stevemachacz opened #53913 "Dead link"
"comparison table" link in first sentence is a dead link. https://docs.microsoft.com/azure/load-balancer/concepts-limitations#skus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab6eefa3-52f8-4172-46d3-c5a6c1f95370
* Version Independent ID: 8a5653c5-158d-8154-451b-2840cf77b4d0
* Content: [Upgrade from Basic Public to S

[2020-05-03 02:21] mootpointer commented on #53360
@shaunakv1 - A work-around I've been using in the mean-time has been to use GitHub Actions to build and deploy a Rails 6 application to App Service. I'm working on a series of blog posts to document it, but I can point you to a repo with a workflow and Dockerfile if that's helpful

[2020-05-03 03:14] gorankuk opened #53914 "Issue with generated PDF"
Generated PDF are missing sequence diagrams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content: [Microsoft identity platform and OAuth2.0 On-Behalf-Of flow](https://docs.microsoft.com/en-us/azure/active-directory/d

[2020-05-03 03:15] VikasPullagura-MSFT commented on #53908
@hypertrends
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 03:16] VikasPullagura-MSFT commented on #53912
@TonywalkerCN
Thanks for your Question! We are currently checking on your ask and will get back on this.

[2020-05-03 03:17] agrabhi opened #53915 "The instruction do not work"
The instruction do not work -&gt; couldn't locate the Properties blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31fba959-95a2-6eab-4755-cba9bc4b67cc
* Version Independent ID: 787dbb04-2205-ef45-315f-750a551456a9
* Content: [Enable age gating in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/a

[2020-05-03 03:19] VikasPullagura-MSFT commented on #53913
@stevemachacz Thanks for pointing this out.
I have assigned the issue to content author to check and update the document.

[2020-05-03 03:35] VikasPullagura-MSFT commented on #53913
@irenehua
Can you please check and update the document.

[2020-05-03 03:36] VikasPullagura-MSFT commented on #53914
@gorankuk
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-03 03:37] VikasPullagura-MSFT commented on #53915
@agrabhi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 04:26] erjosito commented on #48758
@batanun The application gateway is a reverse proxy, it only works for inbound connections to the application workloads. If you need to inspect outbound connections, you should look to products such as the Azure Firewall or forward proxies.

[2020-05-03 04:46] JacksonHong opened #53916 "Documentation incorrect says the client app needs to have Owner permission"
The documentation says the App id must have Owner permission of the resource group, which is incorrect. I tried it out and confirmed that the App id only need to have Contributor permission of the Service Bus namespace in order to manage it.

This makes sense because from a least privilege POV, requiring Owner permission to the entire Resource Group in order for an app to manage Service Bus namesp

[2020-05-03 04:49] SwathiDhanwada-MSFT commented on #53558
@nishantrajmitra  We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

@UnsnappedKhan8 Thanks for your comment. Normally,this channel is mainly used for documentation changes. For product feedback, I would recommend to provide feedback [here](https://feedback.azure.com/)  and for technical questions, I would suggest you post your reque

[2020-05-03 04:49] #53558 closed

[2020-05-03 04:52] larsonmpdx commented on #44935
I need connection updated time without the complication of tracking connect/disconnect events.  I'm able to get what I need by looking at the device identity, thanks.

[2020-05-03 04:56] paulmcg-iio opened #53917 "Recommendations for system resource requirements"
Any suggestions for cpu/number of cores/memory/disk resource requirements to run Azurite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version Independent ID: db1fe92d-d22b-8a32-7061-d7960f41311e
* Content: [Use Azurite emulator for local Azure Storage development](https://docs.

[2020-05-03 04:57] paulmcg-iio commented on #53917
Planning on running in a VM running Ubuntu 18

[2020-05-03 04:58] mike-urnun-msft commented on #53529
@averkinderen Just following up here, let me know if you're still having issues accessing the dev portal. Otherwise, we'll proceed to close this issue.

[2020-05-03 05:40] VikasPullagura-MSFT commented on #53916
@JacksonHong
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-03 05:41] VikasPullagura-MSFT commented on #53917
@paulmcg-iio
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 06:33] AshokPeddakotla-MSFT commented on #53324
@dbartz Since I'm unable to repro your issue, as suggested please check the supported versions and prerequisites. Also, since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-03 06:33] #53324 closed

[2020-05-03 07:15] UnsnappedKhan8 commented on #53887
ok thanks

[2020-05-03 07:18] eyast opened #53919 "links to github projects are broken"
the links are broken and lead to 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-547a-a434-7002c056b3b9
* Content: [Real time Conversation Transcription (Preview) - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us

[2020-05-03 07:25] taysco commented on #51296
@banisadr I certainly can next week. I've set myself a reminder.

[2020-05-03 07:47] ThairAbdalla opened #53920 "Incorrect Syntax"
Incorrect syntax at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-windows-install#powershell-deployment

{
    "PublicConfig": {
        "WadCfg": {
            "DiagnosticMonitorConfiguration": {
                "overallQuotaInMB": 10000
            },

Should be:

{
    "PublicConfig": {
        "WadCfg": {
            "DiagnosticMonitorConfiguration": {

[2020-05-03 08:11] souvik-ausnet opened #53921 "Add cosmos Db as source and deployment step less informative"
In step (3) , it is mentioned that "You can now see the data from Azure Cosmos container is imported into Power BI.". How is that possible at this step when we are at analysis service?

I also tried connecting cosmos db as source in VS 2019 and have tried deploying on AAS which is on a S0 plan. But it fails with the error-
----- Build started: Project: TabularProject4, Configuration: Development x

[2020-05-03 08:20] ParthiKarnan opened #53922 "Can not able to run Azure BlobTrigger Function Automatically in Azure Function App Services"
I have written a function (i.e ImageResize) with this [Azure Blob storage output binding for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output?tabs=csharp) for image resize functionalities. It works fine in my local environment. When I deployed the code to azure function app services from my visual studio 2019. I could not able to run th

[2020-05-03 08:31] ezYakaEagle442 opened #53923 "CLI snippet outdated"
azure network public-ip set is wrong :
azure command is wrong, should be az
set argument is not supported
I guess it should start with something like :
az network public-ip update --ids $public_ip_id --dns-name $my_dns_zone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61fbc38e-8756-1ce6-e73d-38bbe2a47a5b
* Version In

[2020-05-03 08:46] lucarv commented on #51296
120042021000847

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Scott Taylor <notifications@github.com>
Sent: Sunday, May 3, 2020 9:25:30 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tayo Carvalhal <Tayo.Carvalhal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Following documentation for W

[2020-05-03 09:54] SnehaAgrawal-MSFT commented on #53463
@Bangarraju1005 Thanks for asking question! Could you please elaborate on what are you trying to do to help you better on this. To add to this AAD provides built in Authentication and Authorization support for Azure App Service, so you can sign in users and access data by writing minimal or no code in your web app while TLS mutual authentication is used to set up your app to use client certificate

[2020-05-03 10:51] alexandre-spieser commented on #27135
Haha we're in May 2020... and same issue here. I am not interested in Cosmos DB and I am using MongoDB Atlas (using the non C# Legacy UUID type btw...), just want a simple cheap Azure Table pay as you go option to store logs and as secondary backup not to lose data... for which it seems hard to find any docs. A search for "azure table" on the Azure portal points me to Azure CosmosDB... it seems im

[2020-05-03 10:57] navidarry commented on #25817
use simaulated-device_2 istead of simualted-device app

[2020-05-03 11:42] FatimaBasheer opened #53926 "Not able to open the page to create an IoT simulation"
I am having a student subscription with azure with 100 USD credit. However when I open this link https://www.azureiotsolutions.com/Accelerators#sdssolutions/new/device-simulation , I get a blank page with the headers alone. When I checked the errors in the webpage, there was an error 400/ Instrumentation error. I think it is the problem of the Appinsights key but I do not know how to change it. Th

[2020-05-03 11:49] louiealmeda opened #53927 "context.df.callHttp does not have a statusCode property"
I've been trying to make this work for a full day now, but despite everything I can't get it to work for the javascript azure function.

I believe the sample code on this [part of Consuming HTTP APIs](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/durable/durable-functions-http-features.md#javascript-1) is incorrect, as the return value of the `context.df.callHttp

[2020-05-03 12:57] mayurigupta13 commented on #53148
We don't support attaching to public load balancers yet.

[2020-05-03 12:59] shekhag opened #53930 "SAP ENSA2 support for SUSE"
Dear Author,

As per SUSE documentation "https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html", the ENSA2 is supported now for SLES. However, the section "Multi-SID SAP Central Services failover clusters" still states that it only supports ENSA1. Please have a look into this.

Regards,
Shekhar

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-03 13:04] shekhag commented on #53930
Also, note that SUSE now supports more than 2 nodes cluster. Please verify and adjust the doc accordingly. Thanks.

[2020-05-03 13:21] paramoti opened #53931 "Olá"
Bom dia tenho esse site https://icservicos.com.br a mais de 10 anos e não indexa com palavras chaves aceito uma ajuda de uma pessoa generosa que queira ajudar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ff1531-133d-4e3f-9b75-6e150b023d04
* Version Independent ID: 24ae69e2-5584-14ba-84a8-ed0f32840ca1
* Content: [A

[2020-05-03 13:52] souravmishra-msft commented on #53337
@curtand, Can you please take a look into this.

[2020-05-03 13:54] souravmishra-msft commented on #53339
@curtand, Can you please take a look into this.

[2020-05-03 13:59] souravmishra-msft commented on #53532
@sayanghosh123, I apologize for the delay in my response. You are correct, for Key Vault, RBAC roles are the only once that are tied up with Subscription like other Azure Resources.

Hope this helps

[2020-05-03 14:01] KrishnaG-MSFT commented on #53920
@PRMerger17 Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-03 14:04] VikasPullagura-MSFT commented on #53926
@FatimaBasheer Thank you for your question!

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-03 14:06] VikasPullagura-MSFT commented on #53930
@shekhag
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-03 14:06] VikasPullagura-MSFT commented on #53930
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-05-03 14:07] VikasPullagura-MSFT commented on #53919
@eyast
Thanks for pointing this out. I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-03 14:07] VikasPullagura-MSFT commented on #53919
@markamos
Can you please check and add your comments on this doc update request as applicable.

[2020-05-03 14:09] VikasPullagura-MSFT commented on #53921
@souvik-ausnet
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 14:10] VikasPullagura-MSFT commented on #53922
@ParthiKarnan
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 14:11] VikasPullagura-MSFT commented on #53927
@louiealmeda
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-03 14:14] VikasPullagura-MSFT commented on #53923
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-03 14:14] VikasPullagura-MSFT commented on #53923
@rohinkoul
Can you please check and add your comments on this doc update request as applicable.

[2020-05-03 14:24] YassineSOUABNI opened #53932 "Staged rollout feature getting disabled"
Dear,
while testing the feature again a couple of days ago in a Testing tenant, although all worked fine, I noticed that the feature got disable by itself days after.

I don't see this in the documentation - should this be expected ?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef

[2020-05-03 15:48] RonnieQuan opened #53934 "Federated Authentication"
Do you have more detail information documented for federated authentication.
Looks like in security page, it only talks about SAS.
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-security
Is the SAS key stored in device backend? what about when the SAS expires?
for device client and backend, when do registration and send notification, is federated authe

[2020-05-03 15:50] pratiksharma-dev commented on #53889
@VikasPullagura-MSFT
Have created a support ticket for this as well (SR #120050223000279 | Issue with secret value for Environment variables). If you need any info you can reach me out at <prashar@microsoft.com>

[2020-05-03 15:52] RonnieQuan opened #53935 "Netowrk Isolation"
Is network security feature for Notification Hub documented anywhere?
So it's a public endpoint and open to all network?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4be410ed-6f1a-639c-aa40-39937e284d97
* Version Independent ID: b452b1ee-a46c-9896-bfac-da792b94c2b7
* Content: [What is Azure Notification Hubs?](https:

[2020-05-03 16:08] saikrishna-v opened #53936 "PublicIpAddressCombo"
Unable to select None from the type Microsoft.Network.PublicIpAddressCombo. It says "The value must not be empty"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c1d2711-db81-cdd6-115b-73b0ce49edcd
* Version Independent ID: 8dc651de-a085-08cb-c295-e83d323ab50a
* Content: [PublicIpAddressCombo UI element - Azure Managed

[2020-05-03 16:21] FatimaBasheer commented on #53926
I have attached the documentation and a screenshot of my response webpage.

[2020-05-03 16:58] BharathNimmala-MSFT commented on #53936
@saikrishna-v Thank you for your query, we will look into and get back to you at the earliest.

[2020-05-03 17:27] BharathNimmala-MSFT commented on #53931
@paramoti  Thanks for reaching out ,  please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues)channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please

[2020-05-03 17:27] #53931 closed

[2020-05-03 17:32] danijam commented on #53814
@VikasPullagura-MSFT Good News. I was able to trace down the root cause.

The Windows 10 Azure AD Joined Device does not need to be Physical it can be Virtual. I've provided my feedback to Azure Support via my support ticket as this information was inaccurate.

The root cause was actually MFA. The docs page in question here does mention in the troubleshooting section that if you don't have Windows

[2020-05-03 17:39] shashishailaj commented on #49896
@shashishailaj This has been reported internally and it is being worked on . This will take some time to be fixed . AS of now the workaround is to use the Azure Powershell 5.x with Azure AD powershell module which is present on your machine by default . Powershell 7 provides a different module which interfaces with .net Core however Powershell 5.x interfaces with full .net framework and hence will

[2020-05-03 17:39] #49896 closed

[2020-05-03 17:44] kobulloc-MSFT commented on #53768
@dennis-yemelyanov We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-03 17:44] #53768 closed

[2020-05-03 17:46] bgelens commented on #41694
Thanks for the info @MikkelHegn! I'll close this issue

[2020-05-03 17:46] #41694 closed

[2020-05-03 17:55] RonnieQuan commented on #53778
Thank you so much for the confirmation!

[2020-05-03 17:55] #53778 closed

[2020-05-03 18:01] FatimaBasheer commented on #53926
Can we use IoT simulation with a student subscription?

[2020-05-03 18:05] julie-wins opened #53938 "Line 31 syntax error"
I get the following error running the BackendApplication; it seems to be an issue with parsing line 31. The only thing I've changed in the script is adding the key for my IoT device.

  File "BackendApplication.py", line 31
    deviceMethod = CloudToDeviceMethod(method_name=METHOD_NAME, payload=METHOD_PAYLOAD)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-03 18:13] codydiehl opened #53939 "Pacemaker Cluster Azure Fence Agent Requirements"
This is in regard to the documentation for setting up a pacemaker cluster With Red Hat Enterprise Linux:

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker

This fence agent requires external network connectivity, and it is not documented anywhere that I have found what exactly it is hitting externally.

The doc does point to how to achiev

[2020-05-03 18:19] BharathNimmala-MSFT commented on #52714
@jwisener , @oising  Apologies for the experience  and we really appreciate you reaching out and sharing your feedback. Our internal product team is aware of the feedback. We do have [open feedback item](https://feedback.azure.com/forums/915733-azure-data-explorer/suggestions/38965165-more-datetime-functions) in our feedback  channel. Request you to please up vote and share any comments you have a

[2020-05-03 18:19] #52714 closed

[2020-05-03 18:31] BharathNimmala-MSFT commented on #53249
@MGoedtel Thanks a lot for helping on this thread.

@jamcguire Hope the information shared by @MGoedtel has helped you. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank yo

[2020-05-03 18:31] #53249 closed

[2020-05-03 19:06] eduardohl opened #53940 "The IP addresses listed under AzureActiveDirectoryDomainServices aren't correct"
Hello,

I've setup the integration between AAD and Snowflake through SCIM and am getting constance notified of synchronization errors as the list of IPs under AzureActiveDirectoryDomainServices isn't enough, there are many requests being done through other IPs that get blocked resulting in constant errors. Can you please help clarify this?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-03 19:08] eduardohl commented on #53940
For example, Azure AD tried to provision using the IP 40.76.90.35, which failed with the error below because I've only whitelisted the IPs under AzureActiveDirectoryDomainServices following this documentation.

{"statusType":"FORBIDDEN","entity":"client ip-address is blocked by network policy","entityType":"java.lang.String","metadata":{"Content-Type":[{"type":"application","subtype":"json","param

[2020-05-03 20:21] msjuergent commented on #53930
We deliberately limited the document to describe ENSA2 with a two node cluster since we did not perform the setup and  tests with more than two nodes. We did not have any requests for it yet. Hence no adjustment of documentation yet.

[2020-05-03 20:39] zababahin commented on #47611
@RyanHill-MSFT +1 on update request

[2020-05-03 20:50] dsv591 opened #53942 "Add firefox instructions"
Just to be sure this doc can be used for all our customers, it should cover Firefox too! Ping me internally if you need help with the steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f9ad7f-cf04-3030-9f71-511e5d603713
* Version Independent ID: e43fa6b7-536d-1bca-b2ad-4223e2a18101
* Content: [Capture a browser tra

[2020-05-03 20:53] Grace-MacJones-MSFT commented on #52777
Hi @balivo, Thanks for your patience!

You can get this information from the headers without having to call /.auth/me but depending on what information you're looking for, it might be required. In regards to authorization to other resources (outside of the function app), this is not something we can surface, as it’s captured in AAD itself.

We will now proceed to close this thread. If there are fu

[2020-05-03 20:53] #52777 closed

[2020-05-03 21:01] BharathNimmala-MSFT commented on #53942
@dsv591 Thank you for your query and reaching out to us, our team will look into it and get back to you at the earliest.

[2020-05-03 21:18] BharathNimmala-MSFT commented on #53397
@craigeaw Apologies the delayed response here. Thanks for creating a [Stack Overflow thread](https://stackoverflow.com/questions/61468542/azure-automation-runbook-randomly-occurring-error-resource-group-resource-g) as well for this issue. One of our colleagues  have been interacting with you on the same thread. We would will continue to interact with you on the Stack Overflow thread , please let u

[2020-05-03 21:18] #53397 closed

[2020-05-03 21:20] djpmsft commented on #52806
Hey all,

Apologies for the confusing doc. We made some updates to clarify. If it wasn't clear, when referenced, pipeline parameters are evaluated and then their value is used in the data flow expression language.

I have also added an example of the behavior of passing in a pipeline parameter: https://docs.microsoft.com/en-us/azure/data-factory/parameters-data-flow#pipeline-parameter-example.

Fo

[2020-05-03 21:21] djpmsft commented on #52806
As the doc update has been done, I am going to go ahead and close this issue. If you have further questions feel free to comment on this thread.

Thanks,
Dan

#please-close

[2020-05-03 21:21] #52806 closed

[2020-05-03 21:30] brendonlobo123 opened #53943 "reached alerts limit threshold"
how can this be optimized. i have set it currently per resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d3740fc1
* Version Independent ID: 42af845a-aed7-a035-33ee-66077d7efc57
* Content: [Template to create Resource Health alerts - Azure Service Health](https://docs.microsoft.c

[2020-05-03 21:40] Grace-MacJones-MSFT commented on #52952
@MasayukiOzawa   I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly. Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-03 21:40] #52952 closed

[2020-05-03 21:46] YutongTie-MSFT commented on #53406
@gluk64 Hi Alex, sorry you can not do that. Azure FPGAs are integrated with Azure Machine Learning. Microsoft uses FPGAs for DNN evaluation, Bing search ranking, and software defined networking (SDN) acceleration to reduce latency, while freeing CPUs for other tasks.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-

[2020-05-03 21:46] #53406 closed

[2020-05-03 21:48] edyoung opened #53944 "Needs a newer version of az than listed in doc"
--functions-version parameter appears to have been removed. This is with AZ CLI 2.0.81

PS&gt; az functionapp create --resource-group edyoungtest --consumption-plan-location westeurope --runtime powershell --functions-version 2 --name edyoungfunctest --storage-account edyoungfuncstorage

az: error: unrecognized arguments: --functions-version 2
usage: az [-h] [--verbose] [--debug]
          [--outp

[2020-05-03 21:52] YutongTie-MSFT commented on #53414
@mediharsini
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 21:52] #53414 closed

[2020-05-03 21:52] YutongTie-MSFT commented on #53441
@jamesbannan
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 21:52] #53441 closed

[2020-05-03 21:56] YutongTie-MSFT commented on #53602
@oh001738
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 21:56] #53602 closed

[2020-05-03 21:57] YutongTie-MSFT commented on #53759
@jahan2001
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 21:57] #53759 closed

[2020-05-03 21:59] edyoung commented on #53944
Looks like I wasn't quite correct. Installing a newer version of az cli (2.5.1) resolved the issue. But note that the doc states minimum version as 2.0.76. That version doesn't work and doc needs an update to indicate whatever the real minimum version is.

[2020-05-03 21:59] AfroDigital commented on #53785
I am still waiting on a response on a similar issue for 7 days. I cannot access my partner account. My business is crippled

[2020-05-03 22:00] YutongTie-MSFT commented on #53843
@saquibm6
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-05-03 22:00] #53843 closed

[2020-05-03 22:02] karabasosman opened #53945 "Typo in next steps section"
There is a typo in Next steps section at bottom of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78fc931a-ed1e-13bb-034d-617471ba2f18
* Version Independent ID: 56c9fbfc-c6c0-d70c-712e-f83e68faa9b8
* Content: [Overview of Live streaming with Azure Media Services v3 - Azure Media Services](https://docs.microso

[2020-05-03 22:03] bestreaction commented on #53940
Hi folks,

We have the same issue. I think The IP list in the JSON file which Microsoft shared on download center is not including some ranges.

[2020-05-03 22:24] dikokob opened #53947 "secret "regcred" not found"
I ran this `az aks update -n myAKSCluster -g myResourceGroup --attach-acr &lt;acrName&gt;` and my pods still give me the following error `secret "regcred" not found`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Conte

[2020-05-03 22:46] reveation-labs opened #53949 "Enable Kafka option is missing"
As per step 4c,  "Enable Kafka" option is automatically enabled. When I try to create EH namespace with standard tier, I don't see  "Enable Kafka" option anymore (not even auto selected checkbox) . Can someone help here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460a9e7d-edf1-c112-349d-378d0456d09d
* Version Indep

[2020-05-03 22:48] YutongTie-MSFT commented on #53623
@PatrickFarley FYI

[2020-05-03 23:41] mikaelweave commented on #53915
I also see the same issue in my tenant. Thanks for investigating!

[2020-05-04 00:25] anandchugh opened #53950 "How to get credentials for aks during cd pipeline?"
If I create an aks cluster with service principal, then in cd pipeline I can do below and deploy my service
[code]

This works fine, but now I would like to use aks cluster with manager identity and for that how can I get service principal and secret for logging into az?

Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-04 00:38] jianyeliu opened #53951 "issue when query a single CSV file using SQL on-demand in Azure Synapse Analytics"
Dear Sir:
   I followed the doc https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-single-csv-file?toc=/azure/synapse-analytics/toc.json&bc=/azure/synapse-analytics/breadcrumb/toc.json
to test the feature. however  I encountered this error
Failed to execute query. Error: Content of directory on path 'https://sqlondemandstorage.blob.core.windows.net/csv/population/*.csv' cannot be l

[2020-05-04 00:45] mandiaya commented on #53677
Hi @VikasPullagura-MSFT  Sure! Here are the link : https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/confluencemicrosoft-tutorial

[2020-05-04 00:55] bradpicone opened #53952 "ARM Template behavior not consistent with Azure Portal"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template

The supplied template used to provision a DiagnosticSetting for Activity Logs at the Subscription scope, requires that all 3 destinations types are specified as part of the request - StorageAccount, Workspace and EventHub meaning I cant choose just a single destination. Using "none",  empty strings or null

[2020-05-04 00:57] harishmahadevan opened #53953 "Error on this page"
INCORRECT: Data transactions are permitted because those operations aren't sent to https://management.azure.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e7af209-7240-dd2a-7130-e7fb3143986a
* Version Independent ID: a653b0d1-877d-09f7-17fa-11bf06c37cc9
* Content: [Lock resources to prevent changes - Azure Resour

[2020-05-04 01:01] dkypuros commented on #53604
Let me know when you guys update the docs, or need help changing the docs.

[2020-05-04 02:07] HughKu commented on #50652
@djpmsft Thanks for the clarification, and so it makes sense now.

Where can I find this info in the doc or should it be put on the doc somewhere?

[2020-05-04 02:16] AshokPeddakotla-MSFT commented on #53938
@julie-wins Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 02:31] AshokPeddakotla-MSFT commented on #53388
@manojkrishs Please see the updated sample list [here](https://github.com/microsoft/vscode-iot-workbench/tree/master/docs/iot-devkit). Also, do let us know if any specific link is not working in this doc.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue

[2020-05-04 02:31] #53388 closed

[2020-05-04 02:37] doug-kells commented on #53785
I'm having a similar issue: when i turned on MFA for my org, I authenticated myself with an alternate email and my phone. I can reset my password with phone and alternate email but after resetting and logging in with the new password, the MFA's only second validation is another old phone number. I've been unable to access email since last Tuesday and have literally spend hours on hold with support

[2020-05-04 02:38] AshokPeddakotla-MSFT commented on #53576
Adding author @kgremban for further review and update the doc.

[2020-05-04 02:46] AshokPeddakotla-MSFT commented on #53585
@ManuelGWT Are you using Raspberry Pi online simulator Raspberry Pi 2 or Raspberry Pi 3 board ?
I would suggest you please check the prerequistes and retry the sample. Do let us know if you are still facing the issue.

[2020-05-04 02:47] CHEEKATLAPRADEEP-MSFT commented on #53949
@reveation-labs When you create a **standard** tier Event Hubs namespace, the Kafka endpoint for the namespace is automatically enabled. That's the reason you won't see the enable button now.

@spelluru Could you please review further and update the document as appropriate?

[2020-05-04 02:55] SwathiDhanwada-MSFT commented on #53591
@ricohomewood As per my understanding, when you upgrade VMInsights , all the data will be stored in InsightsMetrics. For more information, kindly refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-ga-release-faq).

@bwren Can you please provide your insights on this issue?

[2020-05-04 02:56] #53617 closed

[2020-05-04 02:56] SwathiDhanwada-MSFT commented on #53617
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-05-04 02:57] SwathiDhanwada-MSFT commented on #53620
@o-l-a-v  Just following up to check if you had chance to check my previous comment.

[2020-05-04 03:08] CHEEKATLAPRADEEP-MSFT commented on #53868
@OneConsutlantsDemo It will not inheriting the parent privilege. Granular level access will restrict access at workspace level.

Hope this helps.

[2020-05-04 03:09] CHEEKATLAPRADEEP-MSFT commented on #53683
@emshimon  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-04 03:09] #53683 closed

[2020-05-04 03:17] Mike-Ubezzi-MSFT commented on #27135
@alexandre-spieser You are looking for stand alone [Azure Table Storage](https://docs.microsoft.com/en-us/azure/storage/) instance. If you are looking to create a Table Storage instance, search for Azure Storage and Table will be deployed along with Blob, Queue, and File based storage options.

[2020-05-04 03:21] VikasPullagura-MSFT commented on #53883
@ckgu541 Any update on the issue.
Can you please share the document url that you are following?

[2020-05-04 03:31] Mike-Ubezzi-MSFT commented on #27135
This document explains both options and in how Azure Table Storage is aligned as a product, it is part of the Cosmos DB service. If you are looking to see the differences: [Table API in Azure Cosmos DB Vs Azure Table storage](https://docs.microsoft.com/en-us/azure/cosmos-db/table-api-faq#table-api-vs-table-storage). If you are seeking a non Cosmos DB Table instance, see [Azure Storage documentatio

[2020-05-04 03:32] Mike-Ubezzi-MSFT commented on #27135
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-04 03:32] #27135 closed

[2020-05-04 03:36] BharathNimmala-MSFT commented on #53953
@harishmahadevan Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-05-04 03:38] MarileeTurscak-MSFT commented on #53392
Hi @AfroDigital,

I'm sorry to hear about your phone! If you've lost your phone, you can either sign in using a different method or you can ask your organization's help desk to clear your settings. It is encouraged to let your organization's help desk know if your phone was lost or stolen, so the appropriate updates can be made to your account. After your settings are cleared, you'll be prompted t

[2020-05-04 03:38] #53392 closed

[2020-05-04 03:39] BharathNimmala-MSFT commented on #53943
@brendonlobo123 Thank you for reaching out to us, we will look into it and get back to you at the earliest.

[2020-05-04 03:40] AfroDigital commented on #53392
I am the administrator of the account and that is my admin account

[2020-05-04 03:41] jwisener opened #53954 "Utc answer is crappy"
There was already a link for feedback provided and was closed by the product manager for app insight, basically stating it’s too hard to implement. (See link below). My question is why do all other Microsoft products, sql server, windows, power bi, c#, (list goes on) have the ability to do this, but the appinsight team chooses to dismiss this as too complex to implement?

https://feedback.azure.co

[2020-05-04 03:41] AshokPeddakotla-MSFT commented on #53641
@stewart2020 There are no changes in the doc. Are you using IoT Hub free tier?  free tier is meant for testing and evaluation. It has all the capabilities of the standard tier, but limited messaging allowance. Each IoT hub is provisioned with a certain number of units in a specific tier. The tier and number of units determine the maximum daily quota of messages that you can send. The message size

[2020-05-04 03:43] AfroDigital commented on #53785
They keep giving me the format answer while I am losing customers. This really sucks I am thinking of moving to another provider

[2020-05-04 03:53] PramodValavala-MSFT commented on #53633
@rameshjanjyam Just following up... Could you share more details on your development setup?

[2020-05-04 03:54] PramodValavala-MSFT commented on #53662
@abhishek0220 Just following up here... Hope my previous comment helps.

[2020-05-04 03:59] neeleshray-msft commented on #53448
@zachsaltzman We would be closing this issue now. Let us know if you need further help.

[2020-05-04 03:59] #53448 closed

[2020-05-04 04:01] v-nagta commented on #51548
@IryKuz We have updated the doc with the new images, please review

#please-close

[2020-05-04 04:01] #51548 closed

[2020-05-04 04:02] neeleshray-msft commented on #53479
@iainfoulds Could this be checked ?

[2020-05-04 04:08] v-nagta commented on #53149
@Lt-P-Mitchell  We have updated the article with the new reply URL pattern, please review

#please-close

[2020-05-04 04:08] #53149 closed

[2020-05-04 04:09] PramodValavala-MSFT commented on #53769
@akbarrasool I believe the current implementation doesn't allow for separate endpoints. Please feel free to open a [feature request on UserVoice](https://feedback.azure.com/forums/248703-api-management) to support the same.

In the meantime, a workaround would be to have a proxy endpoint that parses the query parameters it receives and redirects to the appropriate endpoint. This proxy could be bui

[2020-05-04 04:11] v-nagta commented on #53464
@ynorvo We have updated the article, please review

#please-close

[2020-05-04 04:11] #53464 closed

[2020-05-04 04:13] JackHorlock opened #53955 "404 'Not Found' Error"
In the closed issues for this page there is reference to a 404 'Not Found' error when trying to use the query generated by Time Series Insights in Power BI Desktop. A fix is shown and comments made about permission levels.
I am experiencing this error using the March 2020 version of Power BI Desktop. My IoTHub, Time Series Insights environment and Power BI Tenant are all located in South East Aust

[2020-05-04 04:15] mike-urnun-msft commented on #53580
@danmi20 Thanks again for your feedback! Since this particular documentation is a Quickstart in scope, I opted to raise a PR that adds the below in the "[Service Bus libraries for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus?view=azure-python)" documentation instead.

We will now proceed to close this thread. If there are further questions regarding this matter, pl

[2020-05-04 04:15] #53580 closed

[2020-05-04 04:16] SubhashVasarapu-MSFT commented on #52227
@johnpudd , Appreciate your patience. We would request you to send a mail at azcommunity@microsoft.com with your subscription details so that we can work with Verizon in closing this issue.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-04 04:16] #52227 closed

[2020-05-04 04:19] SnehaAgrawal-MSFT commented on #53945
@karabasosman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 04:21] SnehaAgrawal-MSFT commented on #53935
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 04:22] neeleshray-msft commented on #53559
@timmmay No. This script is for moving the AADDS within the same subscription from Classic to ARM template.
Also, Domain Services can not be moved from one Subscription to another. Ref - [Move operation support for resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftaad).
Let us know if you need further help.

[2020-05-04 04:22] SnehaAgrawal-MSFT commented on #53934
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 04:24] neeleshray-msft commented on #53565
@iainfoulds Are these limitations listed in a different document ?

[2020-05-04 04:41] AshokPeddakotla-MSFT commented on #53955
@JackHorlock Thanks for the feedback! We are currently investigating and will update you shortly.
@lyrana Please check this issue and provide your feedback.

[2020-05-04 04:46] AshokPeddakotla-MSFT commented on #53650
I have assigned the issue to the content author @wesmc7777  for further review and update the doc as appropriate.

[2020-05-04 04:48] SnehaAgrawal-MSFT commented on #53547
@razvansalajan We will now close this out but if you feel you need more information please just let us know.

[2020-05-04 04:48] #53547 closed

[2020-05-04 04:54] srini1978 commented on #52763
@NavtejSaini-MSFT @yorek  Thanks for helping me but let me post the original question. @yorek  you have answered for the secondary replica however the question was on the read scale out.
If we enabled Read scale out on Azure hyperscale db, can the read only copy access change tracking and temporal db information ?

[2020-05-04 05:01] VikasPullagura-MSFT commented on #53939
@codydiehl
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-04 05:01] VikasPullagura-MSFT commented on #53939
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2020-05-04 05:04] PramodValavala-MSFT commented on #53856
@chetan3434 Thanks for catching that! I believe the description there hasn't been updated to include the `java` images.

You can find the available ones here for [`3.0`](https://github.com/Azure/azure-functions-docker#java) and [`2.0](https://github.com/Azure/azure-functions-docker#java-1)`.

@ggailey777 @craigshoemaker Can we get the page on docker hub updated with the `java` images as well?

[2020-05-04 05:05] SubhashVasarapu-MSFT commented on #53006
@jjindrich , Appreciate your patience. It looks like the bug got resolved. I can now see the IP-address group under Destination Address drop down box.
![image](https://user-images.githubusercontent.com/44890829/80937449-d302ce80-8df2-11ea-9bca-d25d9526057a.png)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2020-05-04 05:05] #53006 closed

[2020-05-04 05:12] PramodValavala-MSFT commented on #53916
@JacksonHong Thanks for bringing this up! From the perspective of least privilege, this does make a lot of sense and I believe we can also restrict it further to "at-least [`Azure Service Bus Data Owner`](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-service-bus-data-owner)".

@axisc @spelluru Could you confirm if this would be acceptable for this doc?

[2020-05-04 05:13] adityabalaji-msft commented on #53015
Hi @jtuliani - to clarify, we have a legacy event called AzureBackupReport (sent to AzureDiagnostics table) which contains records for both V1 and V2 schema. To distinguish schemas in this table, we have to use SchemaVersion_s=="V1". The link provided above focusses on the data model for this legacy event only.

Later on, we introduced new diagnostics events which are sent to different tables. The

[2020-05-04 05:19] neeleshray-msft commented on #53655
@iainfoulds Could this be verified ?

[2020-05-04 05:19] rsoni-git commented on #53365
Any response on this ? Is this a bug in the system or am I missing something?

[2020-05-04 05:20] ChiragMishra-MSFT commented on #53932
@YassineSOUABNI Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-04 05:21] ChiragMishra-MSFT commented on #53940
@eduardohl Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-04 05:21] PramodValavala-MSFT commented on #53927
@louiealmeda The sample is indeed incorrect. Apologies for that.

The `yield` keyword is missing before `context.df.callHttp`, similar to how its required before calls to other asynchronous methods like when calling activities.

We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-05-04 05:35] brenwebber commented on #52657
Thanks for posting this comment. I was experiencing the same thing and could not understand why.

[2020-05-04 05:36] RohitMungi-MSFT commented on #53470
@strikene We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-04 05:36] #53470 closed

[2020-05-04 05:36] o-l-a-v commented on #53620
Will see if I can try that today.

[2020-05-04 05:41] RohitMungi-MSFT commented on #53590
@artsheiko An update of issue [53588](https://github.com/MicrosoftDocs/azure-docs/issues/53588) by @Blackmist addressed this question too.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-04 05:41] #53590 closed

[2020-05-04 05:51] KrishnaG-MSFT commented on #53954
@jwisener Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-04 05:54] DixitArora-MSFT commented on #53944
Hi @edyoung Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 06:09] hkusulja commented on #27135
@Mike-Ubezzi-MSFT Lot of technical docs for Azure Table Storage are pointing to CosmosDB technical docs. Explainaition is that this is same product group/team inside Microsoft hower. Azure Table storage is poorly documented.

[2020-05-04 06:14] KrishnaG-MSFT commented on #53952
@bradpicone Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-04 06:26] htoomik opened #53956 "Page refers to old nuget packages"
The page refers to the Microsoft.Azure.Storage.Queue nuget package. This package has been superseded by Azure.Storage.Queues. Links and references in this page need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78c

[2020-05-04 06:33] mike-urnun-msft commented on #53619
Hi @kspoojary - This doesn't appear to be supported yet: https://github.com/Azure/azure-powershell/blob/dev/src/EventGrid/EventGrid/EventSubscription/NewAzureEventGridSubscription.cs

I'll double-check with the Event Grid team, and update you here. Have you tried using the CLI command above in your Powershell though?

[2020-05-04 06:39] PekkaJalonen commented on #53869
We have noticed the same. For some reason App Service is not setting these environment variables. We set PORT and SSH_PORT with default values 80 and 2222, and last week everything worked fine as App Service overwrite those values when starting. Now when App Service starts, it will use ports 80 and 2222 when VNET integration is in use. Looking at environment variables from Kudu shows the same.

[2020-05-04 06:44] marwanad commented on #53469
The issue only impacts enabling the monitoring addon. You can still run all the commands normally with extensions enabled apart from:

[code]
There's a fix out for the extension pending merge.

[2020-05-04 06:51] ChiragMishra-MSFT commented on #53950
@anandchugh Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-04 06:51] ChiragMishra-MSFT commented on #53461
@nabhishek