[2020-05-14 15:52] davenull311 opened #54866 "Error: "Analyze PDF form : Operation returned an invalid status code 'NotFound'""
This code initially worked, so I expanded the training documents to 30, and am now getting this error:
"Analyze PDF form : Operation returned an invalid status code 'NotFound'"

Each document is in the same directory as the program file. Each is called with these two lines of code:
private const string pdfFormFile1 = @"TrainingDoc1.pdf";
await AnalyzePdfForm(formClient, modelId, pdfFormFile1);

In

[2020-05-14 15:58] djpmsft commented on #54696
Hey all,

We found a bug in a recent change to the script and are in the process of fixing the doc. The changes cannot be merged until 5/19 due to MSBuild though.

The below script should not hang

[code]

[2020-05-14 15:58] djpmsft commented on #54696
Closing as a fix is signed off and provided. Please reopen/comment if this doesn't work

#please-close

[2020-05-14 15:58] #54696 closed

[2020-05-14 16:03] Ayanmullick opened #54868 "Change recovery account to M365 id"
How can one change one's recovery account from one's live id to one's M365 id on the authenticator app settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and recover accounts with the Microsoft

[2020-05-14 16:05] GiftA-MSFT commented on #54837
@damochiz we will review your feedback and get back to you shortly. Thanks.

[2020-05-14 16:05] MikeDodaro commented on #54795
Please note: Spring Cloud is in public preview, and by Azure policy, preview services are without SLA obligations.

[2020-05-14 16:09] GiftA-MSFT commented on #54851
@AndreasDL we will review your feedback and get back to you shortly. Thanks.

[2020-05-14 16:09] aholler2 commented on #54447
@Grace-MacJones-MSFT I understand that this is the syslog scenario for VMs. However, this does not address my question regarding syslogs for linux app services. Is it possible to install the Log Analytics agent on a linux app service?

[2020-05-14 16:10] derisen commented on #42462
@mcqueene @sydneyvert I'm unable to reproduce this error, your `loginRequest` object does seems to be correct -could you please check out one of [our samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#single-page-applications) to compare with your code?

It does seem that the way you use `userAgentApplication` is incorrect. You should first initialize a new obj

[2020-05-14 16:11] GiftA-MSFT commented on #54855
@Arash-Sabet we will review your feedback and get back to you shortly. Thanks.

[2020-05-14 16:11] hadyni opened #54869 "Missing property isPrimary"
The property isPrimary is mandatory for creating the email address in SuccessFactors. Writing back the email results in the following error:

"ERROR", "editStatus" : null, "message" : "isPrimary is a required field and cannot be blank

The field cannot be added in the UI and if I try to add it in the JSON I get this message:

"message": "No attribute named 'isPrimary' is defined in the object 'Use

[2020-05-14 16:12] MaranVerweij opened #54870 "Redeploy in case of ephemeral disks"
Referring to: "Redeploy: The Virtual Machine is scheduled to move to another node (ephemeral disks are lost). "
What happens to VMs and VMSS instances configured with an ephemeral OS disk that also use (VM) Extensions  in the case of redeployment? Are they (Extensions) run again after a redeployment? Considering that the VM or VMSS instance will effectively be in a reimaged state.

---
#### Docume

[2020-05-14 16:17] greggbjensen opened #54871 "So one issue is that Build Helm Chart does not yet support Helm 3"
I posted this issue to https://github.com/microsoft/DockerTools/issues/256

microsoft.visualstudio.azure.kubernetes.tools.targets\1.1.0\build\Helm.targets gives the following error when helm 3 is installed and you run `Build Helm Chart` from Visual Studio.

`EXEC : error : unknown flag: --save`

This is because of this line, where `--save` is not a supported flag in helm 3.

[code]
Can this be upd

[2020-05-14 16:19] DCtheGeek commented on #48169
#reassign:DCtheGeek

[2020-05-14 16:22] DCtheGeek commented on #48169
@jakaruna-MSFT is correct.  The original use for `$configuration` created a `PSVirtualMachineConfiguration` type. Since this specific example uses the parameter **CloudServiceConfiguration**, the definition of `$configuration` should be a `PSCloudServiceConfiguration` type instead. I'll update the doc to add that for clarity.  When the update gets merged, this issue will automatically be closed.

[2020-05-14 16:23] c-mccutcheon commented on #47707
Hello, I realise this is an older thread but I believe I understand the OP's question and have run into the same thing so I am commenting to re-open.

According to the MS Docs around private link and azure SQL failover groups, after creating private links to the primary and failover SQL server instances, subsequently creating the failover group should add an entry to the private DNS zone so that a

[2020-05-14 16:23] jeffthink commented on #54622
Thanks, I'm curious if this use case is supported out of the box (but just not documented well enough yet), or whether it's not yet supported.

[2020-05-14 16:24] kraigb commented on #21044
@MarcSkovMadsen - I believe your case is similar to https://github.com/MicrosoftDocs/azure-dev-docs/issues/142. To run "panel" as a command, the container would have to recognize it as such. However, because panel isn't installed by default, and would be installed through requirements.txt only, then the container won't have it in the PATH. In that case, run it with python -m panel instead, which s

[2020-05-14 16:25] LuisCabrer commented on #10331
The skillset is correct...

If you set "/document" as the context for that skill, that means that the outputs (in this case "organizations", will be become a childe of "/document"  --> document/organizations.

If you set "/document/content" as the contentxt, the organizations element will become a child of "document/content" --> "/document/content/organizations"

Since the rest of the skills assum

[2020-05-14 16:28] shashishailaj commented on #51754
@gdmeann Thank you for your patience till now. We have obtained some details . The save button is not provided as it is not required in this case. This section is for the ASC system to create recommendations for the azure asset (in this case VM) and it does not make sense for a user to create recommendations for themselves. The recommendations are generated by the system and pertain to the specifi

[2020-05-14 16:28] #51754 closed

[2020-05-14 16:32] derisen commented on #41911
seems like @tnorling's detailed explanation [here ](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1535#issuecomment-618502501) has been found satisfactory by the original poster. We also have a ticket open to add an explanation for redirect callback to [msal.js wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki) and related documentation. On t

[2020-05-14 16:32] #41911 closed

[2020-05-14 16:43] SiddhanthUnnithan commented on #53616
Hey @PapillonZ ! Thanks for bringing this to our attention. Do you mind sharing what version of the extension you're using? Were you able to create the compute node through the Portal / AML Studio (ml.azure.com)?

[2020-05-14 16:45] jrudley opened #54872 "Kubernetes service address range"
Delete me
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4a9b969a3ade
* Content: [Configure Azure CNI networking in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/configure-azure-

[2020-05-14 16:51] jmoralesv commented on #38563
Is there any update for this documentation? More than 8 months to update content is strange.

[2020-05-14 16:51] poochwashere commented on #39902
^ @palma21 Did this feature ever get implemented? This auto assigned egress IP has been causing major headaches for me as we need to have ingress/egress using the same Public IP address. I have caused our clusters to go into failing states when I manually remove the auto assigned IP from the SLB.

[2020-05-14 16:52] SaurabhSharma-MSFT commented on #54869
@hadyni Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-14 16:54] SaurabhSharma-MSFT commented on #54847
@BukeMan Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 16:54] Seddy24 opened #54873 "Accidentally deleted b2c-extensions-app"
So I just accidentally deleted b2c-extensions-app from my b2c tenant, while cleaning up test apps.  I tried looking for using the Azure AD Graph Explorer but don't see it.  I just deleted it today.  How can I recover this?

Thanks,
Dan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de278669-8936-37ff-9a5d-b6a3cf01642e

[2020-05-14 16:55] SaurabhSharma-MSFT commented on #54868
@Ayanmullick Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 16:55] SaurabhSharma-MSFT commented on #54873
@Seddy24 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 16:57] jrudley commented on #34446
Any update on this?

[2020-05-14 16:59] herrhamilton commented on #54857
As I understood it, this is only locally and Azure will only be interesting from the next step forward:
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-authenticate-oauth#deploy-the-app-to-azure

[2020-05-14 16:59] herrhamilton commented on #48979
As I understood it, this is only locally and Azure will only be interesting from the next step forward:
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-authenticate-oauth#deploy-the-app-to-azure

[2020-05-14 17:02] mazedlx commented on #13291
So, it's either a bug in Catalina or my setup is wrong but I can't seem to get DNS and/or routing to work properly.

I've added a file under /etc/resolver called internal.domain with the following content:
domain internal.domain
search internal.domain
nameserver ip.of.the.company.dns

I can now ping server.internal.domain and ssh into that machine and also surf to web.domain.internal.

I can also

[2020-05-14 17:04] Grace-MacJones-MSFT commented on #54781
Awesome! Glad to hear its working now. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-14 17:04] #54781 closed

[2020-05-14 17:05] shashishailaj commented on #54569
@JeroenMvS Yes , You are correct . The only activity data that is pulled through O365 Connector is for Sharepoint and Exchange . The teams audit data type is not available at the moment and I could not get any ETA for that . However if you are interested , there is a workaround of getting the [Teams audit data to Azure Sentinel workspace using O365 Management API](https://techcommunity.microsoft.c

[2020-05-14 17:05] #54569 closed

[2020-05-14 17:05] KranthiPakala-MSFT commented on #34981
@xyz92 , No, currently Azure Table Storage is not supported in Data Flow.

I would recommend you to please up-vote/comment on below feature request feedback threads.

https://feedback.azure.com/forums/270578-data-factory/suggestions/37953937-support-azure-table-storage-in-data-flows

https://feedback.azure.com/forums/270578-data-factory/suggestions/38036644-add-datasets-to-data-flows-that-can-supp

[2020-05-14 17:05] rolyon commented on #32115
Hi @dmaterowski
Thanks for the reminder. I've sent a message to the team to see if they can take a look.
thanks

[2020-05-14 17:10] sporter83 commented on #54548
Sorry, can you expand a little on what you mean by the last comment? you say tags are not supported in budgets but that's not what I'm asking to do?
the issue is with filtering within the budgets on tags, which does work in the portal/UI but have been unable to figure out how to get it into the arm template/deployment.

[2020-05-14 17:10] Torxsmind opened #54874 "Automated report"
Please include information on how to automate these reports.  A onetime export is ok most of the time.  Our policies state this information needs to be reviewed weekly.  Having the report emailed out to our ticketing system and key mailboxes will give proper tracking and reminders.  I see no information / documentation on how to accomplish this.

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-14 17:11] TravisCragg-MSFT commented on #54844
@michaelthyregod can you post a link to the doc you are following?

[2020-05-14 17:11] Grace-MacJones-MSFT commented on #54834
Hi @cat-mucius , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-14 17:12] sporter83 commented on #54547
I'm not sure how the API helps? this is about setting a budget filter on a tag, which is achievable in the portal/UI but haven't figured out how to do it via ARM template/deployment etc

[2020-05-14 17:12] jluk commented on #48416
Closing as a result, thank you!

#please-close

[2020-05-14 17:12] #48416 closed

[2020-05-14 17:12] TravisCragg-MSFT commented on #54846
@alamoiker can you post a link to the doc you are referring to?

[2020-05-14 17:14] himanshusinha-msft commented on #54832
@Joe8908  : Thanks for the great feedback . @linda33wj  for visiblity

[2020-05-14 17:14] #54832 closed

[2020-05-14 17:17] himanshusinha-msft commented on #54839
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-14 17:20] himanshusinha-msft commented on #54852
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-14 17:25] himanshusinha-msft commented on #54850
Thanks for the feedback . At this we  have assigned the issue to the content author .

[2020-05-14 17:25] KranthiPakala-MSFT commented on #54858
@SQLArchitect Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@mamccrea Could you please have a look at this? - Thank you.

[2020-05-14 17:30] #54563 closed

[2020-05-14 17:36] #54546 closed

[2020-05-14 17:37] xyz92 commented on #34981
Thank you!

[2020-05-14 17:38] acomley commented on #48921
@kratoch-dig-it-ally
`TopicEndpointUri` should be the App Setting that contains the uri, not the uri itself.

The metadata was added to the 2.X branch recently.
https://github.com/Azure/azure-functions-extension-bundles/issues/10

I get the following error locally and when deployed:
`The 'XXXXXX' function is in error: The binding type(s) 'eventGrid' are not registered. Please ensure the type is co

[2020-05-14 17:43] metoule commented on #53696
I ended up creating custom Docker images to deploy my webapp.

Dockerfile for a webapp:

[code]

Dockerfile for an Azure function:

[code]

[2020-05-14 17:47] ClaudioRifo commented on #43271
MFA Enforcement on this case depends on your conditional access rules.

From: urduitacademy <notifications@github.com>
Sent: Thursday, May 14, 2020 10:02 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Claudio P. Rifo Wahl <claudio.rifo@marcaria.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Errors (#43271)

I was wonder if anyone can help me

[2020-05-14 17:49] nexxuno commented on #54529
https://stackoverflow.com/questions/58308141/how-to-use-customvision-ai-to-create-object-detection-model-for-tensorflow-lite

[2020-05-14 17:49] KranthiPakala-MSFT commented on #54589
@youcc The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-14 17:49] #54589 closed

[2020-05-14 17:50] BryanTrach-MSFT commented on #54865
@cephalin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-14 17:51] khmerforce commented on #54794
@TravisCragg-MSFT https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0 V4 and Javascript version. I picked Node.JS for Basic Bot. PLease help. Thanks!

[2020-05-14 17:53] khmerforce opened #54875 "How do you fix Azure Luis Response 403: Total monthly key quota limit exceeded?"
Hi my bot got error 403. How would I fix this issue? Thanks!

[2020-05-14 18:16] SubhashVasarapu-MSFT commented on #54388
@frehnejc , Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-14 18:16] memildin commented on #54727
I'm discussing with the product team and will report back here.

[2020-05-14 18:17] pvrk commented on #54754
@marinnedea : Thanks for your response.
Yes, customers can probably can change VG, PV, UUIDs but we didn't actively recommend that. That is because if customers did something wrong, it may affect the original data itself. Hence we didn't document this aspect.

So, customer can choose to run on any other machine. I understand that this already covers the "different base image" point too.

So, can y

[2020-05-14 18:21] MonikaReddy-MSFT commented on #54871
@greggbjensen , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-14 18:21] memildin commented on #36997
There are two relevant answers to this:

For threat protection, the ATP workload is carried outside of the SQL Server Engine, and therefore has a negligible performance impact on the SQL Server Process.

For vulnerability assessment, the scan runs a series of queries (under 100) on the database and will, therefore, consume some server resources during the scan. Scans are executed once a week and u

[2020-05-14 18:21] #36997 closed

[2020-05-14 18:23] DylanYoung commented on #51459
@VikasPullagura-MSFT  Any further word on this?

[2020-05-14 18:23] laultman opened #54876 "The listings very old"
The links and the data on this page is over a year old and may be misleading to some government customers who are unable to locate a partner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb5aabb-d415-ca88-35e8-5024b4b5573f
* Version Independent ID: 0fa69cdd-7d81-6dfb-d31f-a020fd067e34
* Content: [Azure Government au

[2020-05-14 18:26] SenthuranSivananthan commented on #36997
@memildin thanks for the background on the impact.  Is there a doc update that can be made so this information is not lost?

[2020-05-14 18:27] dloder0 opened #54877 "UserType can be changed by AADConnect"
I don't know if the multiple callouts about AADConnect not being able to change UserType for existing users was true at some point, but current versions of AADConnect (May 2020) are quite capable of switching UserType between Guest and Member for existing users. The doc should reflect this new capability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-05-14 18:28] roygara commented on #54432
@pascal-hauser I heard back from the product team, Azure AD DS registered devices are not supported with Azure file share authentication. We will update the docs to reflect that, thanks for reaching out. :)

Did you have any related questions? If not, I'll go ahead and close this out.

@SumanthMarigowda-MSFT if you could swap this to product-question, we'd appreciate it!

[2020-05-14 18:28] rboucher commented on #54822
Hi @kazshi. The descriptions in this article (metrics supported) are correct. But they don't seem that different to me.  They say essentially the same thing. Are you looking at translated versions of the two articles? Adding @normesta for visibility.

[2020-05-14 18:34] KranthiPakala-MSFT commented on #45574
Hi @linda33wj , we have multiple users reporting this issue.  Could you please have a look at this? - Thank you.

[2020-05-14 18:37] SaurabhSharma-MSFT commented on #54751
@jshwong I had an internal discussion on the duplication and this operation appears to be duplicated in the role. So, we plan to leave the docs as is for now. We’ll give this feedback to the team that manages this role.  Thank you for reporting this.

[2020-05-14 18:40] dsindona commented on #54682
Hi @santhoshbomma9 , yes you can change or update your configuration for lead management. Please let us know if you have additional questions.
#please-close

[2020-05-14 18:40] #54682 closed

[2020-05-14 18:41] aahill commented on #54382
Hi @jgtellez1 - thanks for reaching out with this issue. I'll update this article, and have out with our content publish next week.

#please-close

[2020-05-14 18:41] #54382 closed

[2020-05-14 18:42] SaurabhSharma-MSFT commented on #54758
@GiantCrocodile The PR for the fix has been created and it will be merged once approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-14 18:42] #54758 closed

[2020-05-14 18:45] SteveLasker commented on #51230
Hi folks,
We have heard the feedback that determining the required FQDNs for registries is increasingly difficult as customers wish to tighten their clients. We've also heard feedback the multiple endpoints are confusing and the domains don't align with trusted Microsoft domains. As a result, we've been rolling out changes to better support trust and clarity.

Microsoft and Azure run two registry

[2020-05-14 18:45] Hasil-Sharma commented on #54464
Hey @MartinJaffer-MSFT . Thanks providing a response. If you are not sure about corruption part, I believe it would be better for me to execute sequentially. My scenario can live with that, though it would be definitely worthwhile if this can be investigated further and correct behavior can be added to documentation. 😄

[2020-05-14 18:45] #54464 closed

[2020-05-14 18:46] SubhashVasarapu-MSFT commented on #54393
@hisasima , Appreciate your patience. It looks like there is a limitation on certificate password. Make sure your password is 4 - 12 characters long. Password incorrect is mostly occurred while violating this rule.

[2020-05-14 18:48] GiftA-MSFT commented on #54529
@nexxuno thanks for your feedback. I am following up internally to gather information. Will followup once I have more details. Thanks.

[2020-05-14 18:51] nishshah1 commented on #50471
question about Metadata
If the Metadata is stored in US regions only

Does that mean that when any end user (across the globe) hits WVD URL  they are routed to US region for broker service (PaaS service offered by MS for WVD)  ?

[2020-05-14 18:54] JKauff opened #54878 "ARM template"
Is it possible to configure Key Vault managed Storage Accounts via ARM template?  If not, when can we expect that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e90b309-baac-4f6b-c48b-e395f897b870
* Version Independent ID: 375e2262-7ad2-3638-9864-7e2421f51942
* Content: [Azure Key Vault managed storage account - Powe

[2020-05-14 18:57] CoHealer opened #54879 "Managing Issues in Developer Portal."
I'm trying to find documentation on how a developer is supposed leave feedback on our portal. This templates documentation says "New issue or comment - The specified email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal." How does one set up the "issues" page and how do we expose it to devs?

---
#### Document Details

⚠ *Do no

[2020-05-14 19:01] SubhashVasarapu-MSFT commented on #54310
@cat-mucius , Yes, you should be able to deploy in a single tunnel but this is a non-recommended way and BGP is optional here. Two tunnels will be more seamless and reduce the blip when Azure gateways go through planned maintenance.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-14 19:01] #54310 closed

[2020-05-14 19:07] Karishma-Tiwari-MSFT commented on #54831
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-14 19:11] Karishma-Tiwari-MSFT commented on #54800
Created a PR for the update. Changes will be live shortly.

[2020-05-14 19:11] #54800 closed

[2020-05-14 19:12] nishshah1 opened #54880 "WVD Confusion!"
What does it mean that Metadata is stored only in US Geography from End user perspective ?

Does this have any thing to do with WVD PaaS broker service ?
When a user from Asia hits the WVD URL , does it go to nearest PaaS Broker service in Asia Azure region or does it come to US to access PaaS broker service ?

Please advise !
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-05-14 19:14] dlepow commented on #53754
@taguada @CeciAc - The documentation now points out that global VNet peering is not supported in a subnet delegate to ACI. The limitations are provided in a [linked article](https://docs.microsoft.com/azure/container-instances/container-instances-virtual-network-concepts#unsupported-networking-scenarios).

Since I believe this addresses the issue I will now close it. Thanks for your feedback!
#ple

[2020-05-14 19:14] #53754 closed

[2020-05-14 19:17] djsly commented on #54831
@azilber could you elaborate which pod you deployed ?

are you trying to deploy the `--source docker.io/library/nginx:latest --image nginx:v1` image that you pushed to your own ACR instance ?

[2020-05-14 19:18] cpwood commented on #54357
Thanks - no further questions.

[2020-05-14 19:18] #54357 closed

[2020-05-14 19:20] djsly commented on #54831
from the error you got, it seem you are trying to run a self container AzureDevOPs image.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops

this would mean that you will need to configure your. .yaml file with proper ENV settings

https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#define-an-environment-variable-fo

[2020-05-14 19:21] palma21 commented on #39902
Yes: https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype

[2020-05-14 19:22] subodhpatil commented on #50071
@VikasPullagura-MSFT
I am not sure why you are suggesting to use Remove-RdsSessionHost ?
The article now talks about Update-AzWvdSessionHost
So for removing if we use Remove-AzWvdSessionHost then the sessionhost is removed from the pool, and unfortunately, there is now Add-Az.... so how do I add this.

Basically, the requirement is to change the user for a particular session host for direct assign

[2020-05-14 19:26] ritika1901 commented on #53205
Any updates on this?

[2020-05-14 19:26] sonampanchmiya opened #54882 "Function app tls authentication"
Hi Team,

I have a java function app. The example in the document says we have to create object to certificate validator class and in the object we need to pass certificate and thumbprint. I get the certificate from request header. Where will I get the thumbprint from? Do I need to check with the client for thumbprint? If I keep it specific to client will I be able to access the function app from

[2020-05-14 19:27] KranthiPakala-MSFT commented on #54755
@helloyesthisisdave Thanks for the feedback and bringing this to our notice. The "Recursively" property shouldn't be shown in UX as it is not supported in get metadata activity.

I have escalated this to ADF engineering team, and a fix will be applied soon to remove this property.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-05-14 19:27] #54755 closed

[2020-05-14 19:30] sonampanchmiya commented on #54882
Hi Team,

I have a java function app. The example in the document says we have to create object to certificate validator class and in the object we need to pass certificate and thumbprint. I get the certificate from request header. Where will I get the thumbprint from? Do I need to check with the client for thumbprint? If I keep it specific to client will I be able to access the function app from

[2020-05-14 19:31] mslot commented on #45306
But that is not what i want. I want to be able to specify api/*, and then all subpaths is going to be included. As I understand the documentation you refer to then "api/* test" will match either "api/*" literly the * resource, or "test". I want to match all "api/*/test" eg "api/test/test", api/hello/how/are/you/test etc.

Generally i want to be able you use * in paths. The documentation i am refer

[2020-05-14 19:36] jasonzio opened #54884 "Storage Profile metadata should include uniqueId for data disks"
When a data disk is created, it is assigned a uniqueId (uuid). When a Linux VM with that disk attached is booted, the specific device file associated with that data disk is variable and can change from boot to boot. The only way to consistently reference a specific attached disk for the purpose of mounting is via the uuid. Unfortunately, that uuid is not exposed to the VM via IMDS.

It seems to me

[2020-05-14 19:37] Grace-MacJones-MSFT commented on #53696
Hello @metoule,  thanks for sharing the solution that worked for you. This will be helpful to others.

We will close this out, but if you feel you need more information please just let us know.
Thanks again for the follow-up and for raising this good feedback!

[2020-05-14 19:37] #53696 closed

[2020-05-14 19:41] mamccrea commented on #54610
Thank you @foldesizsombor for bringing this to our attention, and @ChiragMishra-MSFT for making the update. The changes will go live next week.

#please-close

[2020-05-14 19:41] #54610 closed

[2020-05-14 19:45] cpa862 opened #54885 "Scheduled Refresh error"
After configuring Azure Cost Analysis app, manual refresh works just fine. But scheduled refresh does not work and gives the following error:

Data source error:	{"error":{"code":"ModelRefresh_ShortMessage_ProcessingError","pbi.error":{"code":"ModelRefresh_ShortMessage_ProcessingError","parameters":{},"details":[{"code":"Message","detail":{"type":1,"value":"We cannot convert the value null to type

[2020-05-14 19:57] Karishma-Tiwari-MSFT commented on #54782
Thanks for sharing the update. If you have any question specific to Azure Spot VMs, please feel free to post to the respective doc or on the forum [here](https://docs.microsoft.com/en-us/answers/topics/azure-spot.html).
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we w

[2020-05-14 19:57] #54782 closed

[2020-05-14 19:58] Karishma-Tiwari-MSFT commented on #54791
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-14 19:58] #54791 closed

[2020-05-14 19:59] Karishma-Tiwari-MSFT commented on #54428
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-14 19:59] #54428 closed

[2020-05-14 20:03] Karishma-Tiwari-MSFT commented on #54842
Thanks for sharing the update.

[2020-05-14 20:06] Karishma-Tiwari-MSFT commented on #54853
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-14 20:07] Karishma-Tiwari-MSFT commented on #54856
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-14 20:09] sirdank commented on #54690
Hi @MarileeTurscak-MSFT, I sent you an email. Thank you.

[2020-05-14 20:09] Karishma-Tiwari-MSFT commented on #54860
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

Please post this as a product feedback [here](https://windowsvirtualdesktop.uservoice.com/forums/921118-general). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our

[2020-05-14 20:11] Karishma-Tiwari-MSFT commented on #54872
@jrudley Can you please elaborate on your question/feedback?

[2020-05-14 20:13] Karishma-Tiwari-MSFT commented on #54884
@KumariSupriya Can you please share your insights on this customer's query. Thanks. :)

[2020-05-14 20:13] ewilson opened #54886 "How to edit existing function"
I'm sure it's obvious, but I'm struggling to find how to edit existing functions in VS Code.

I've successfully deployed a function, but now all of the files are in a "Read Only" folder, so I don't know how to proceed with changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ac735e-3c90-8ba4-2d19-55099d03a1e4
* Ve

[2020-05-14 20:14] Karishma-Tiwari-MSFT commented on #54870
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-14 20:15] Karishma-Tiwari-MSFT commented on #54845
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-14 20:15] Levridge-Tory opened #54887 "References to HttpContext.User is no longer correct"
It appears that in Core 3.1 the claims are now under HttpContext.User.Claims and the text for roles is no longer  "http://schemas.microsoft.com/identity/claims/roles" but "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" or can be referenced using the ClaimTypes.Role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-05-14 20:21] MGoedtel commented on #53712
@YassineSOUABNI - Thanks for bringing this to our attention.  I'll bug this article and verify because according to the Azure AD [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#check-azure-subscription-permissions) for configuring app registrations, it states "if the app registrations setting is set to No, only users with an adm

[2020-05-14 20:21] #53712 closed

[2020-05-14 20:23] GiftA-MSFT commented on #54613
@cwcorbin you'll only see the output it you specify a code to print/dowload the output. In step 5, you are calling the experiment variable to fetch a link to the experiment in the studio.

![image](https://user-images.githubusercontent.com/51332022/81979759-7b870e80-95fb-11ea-9b75-8b0e6dbc9d7a.png)

Similarly, in Step 6-8 (Get the best model), you can view outputs because you have printed them out

[2020-05-14 20:23] #54613 closed

[2020-05-14 20:24] mikeTsubasa1 commented on #54765
user provising using SCIM seems to be the solution to my problem.Found out about SCIM in the azure portal after registering a third party SAML app with active directory using SAML.
Microsoft documentations are elaborated and very helpful but if that information is provided in this page as a reference or link,it might help.Thank you.

[2020-05-14 20:27] Mike-Ubezzi-MSFT commented on #54838
@unagaraju88 Thank you for your inquiry. If you are using the REST API ([Databases - Create Or Update](https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#creates-a-database-from-recoverabledatabaseid)) directly a TAG is not used. In the ARM template you are looking for a property called [createMode](https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#createmo

[2020-05-14 20:27] femsulu commented on #54450
Hello @pamstat ,
Yes, Log Analytics workspaces can be moved across resource groups - ref [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/move-workspace#move-your-workspace)
This is also included in the above doc under "next step" section.
![image](https://user-images.githubusercontent.com/34327711/81982428-a74bc980-95e6-11ea-81f0-92e61b7fa964.png)

Hope this helps.
Cheers.

[2020-05-14 20:27] #54450 closed

[2020-05-14 20:30] MarileeTurscak-MSFT commented on #54887
@Levridge-Tory
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 20:34] jmprieur commented on #42720
thanks @derisen. yes, let's do that.

[2020-05-14 20:35] CeciAc opened #54888 "SAS für Blob Container im ADLS Gen2"
@darayavah commented on [Wed May 13 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/656)

Hallo,
für ein Storage Account im ADLS Gen2 kann man ein Shared Acces Signature erstellen.
Dies kann man jedoch nicht für ein Blob Container im Storage Account machen.
Bei einem normalen Storage Account (nicht in ADLS Gen2 ist dies jedoch möglich)
Warum ist das so?
Vielen Dank im Voraus

=====>

[2020-05-14 20:39] tomMisson opened #54889 "SharedKeyCredential isn't a constructor"
Azure Blob - NodeJS v10

[Documentation I am following](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=nodejsv10)

I am getting an error saying that `SharedKeyCredential is not a constructor`, causing the app to crash

## Current configuration

[code]

I have followed the documentation but don't see why this is producing an error

---
#### Document Details

[2020-05-14 20:42] mike-urnun-msft commented on #54830
Thank you for your feedback! We will review and update as appropriate.

[2020-05-14 20:43] jodus-max commented on #36505
Yeah @SiobhanBaynes . I defaulted tried that out in one of my deployment and it worked.
Thanks for pointing that.

[2020-05-14 20:44] kgremban commented on #54095
@shizn can you take a look at these questions about tools/process?

[2020-05-14 20:45] #54765 closed

[2020-05-14 20:48] Jain-Garima commented on #54862
thanks, i will update the link for Scheduler.

[2020-05-14 20:48] manish-jain-1 opened #54890 "Calling a SOAP service that requires a mutual SSL cert"
Can this documentation also includes a scenario for calling/consuming a third party SOAP API that requires a SSL cert? I think above scenario is when API is a receiver and requires a SSL cert from a caller (like IIS etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-4b97-0a48-3031-cbcea10ca714
* Version Indep

[2020-05-14 20:52] Jain-Garima commented on #54862
#please-close

[2020-05-14 20:52] #54862 closed

[2020-05-14 20:55] ju-shim commented on #54625
@tFable that is a good point and I believe we are looking into streamlining information across all of these VM size articles, but we want to make sure we communicate information/data we can back. I'll bring this up to my engineering team for reconsideration. Thank you for your time!

[2020-05-14 20:57] DCtheGeek commented on #44562
#reassign:DCtheGeek

[2020-05-14 20:58] Jain-Garima commented on #54607
Hello, the May 2019 is the ms.date when this page was created. There is another date above the services table which shows when the services were updated(Last Updated: April 2020)

[2020-05-14 20:59] DCtheGeek commented on #44562
@tinod Thanks for pointing this out!  I've created a PR to correct it in the related samples rep at Azure-Samples/azure-cli-samples#287.  As such, I'm going to close this issue.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-05-14 20:59] #44562 closed

[2020-05-14 21:01] BrianLevenson commented on #54607
That makes sense, but it's not what's being shown on the public article.

![image](https://user-images.githubusercontent.com/40701897/81985702-74f09b00-95eb-11ea-8bd9-e0603caac9af.png)

https://docs.microsoft.com/en-us/azure/azure-government/compliance/azure-services-in-fedramp-auditscope

[2020-05-14 21:04] nezoic opened #54891 "IP Address Whitelist"
Can you provide any information on which ports/IP Address Ranges need to be white listed in order to use this for each region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](

[2020-05-14 21:05] Jain-Garima commented on #54607
Please see the date highlighted below. The date under article topic is when it was created.
[cid:image003.png@01D629F8.BB6699E0]

From: Brian Levenson <notifications@github.com>
Sent: Thursday, May 14, 2020 2:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Garima Jain (AZURE) <gjain@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] La

[2020-05-14 21:05] JustinMcCauley commented on #54090
Just to confirm, we were getting the same error as steele6599.  Adding the account to the permissions to the Work Contact Change web service portion of the BP resolved the issue.  My question is around that it was working just fine before with the Maintain Contact Info BP.  So what changed?  I know Workday is moving to Work Contact Change, but was there some change in the App that caused this to o

[2020-05-14 21:06] CeciAc opened #54892 "Limit of Enviroment Variables"
@Voteax commented on [Thu May 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/657)

I get an 'InternalServerError' if I pass more than 15 Enviroment Variables into the DeploymentScript.
Is this a known limitation?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b5c4c8c5

[2020-05-14 21:07] boachim opened #54893 "hasgroups - Shouldn't the graph query be against memberOf?"
Under payload claims, we have the explanation for hasgroups: Indicates that the client should use the Microsoft Graph API to determine the user's groups (https://graph.microsoft.com/v1.0/users/{userID}/getMemberObjects).

Shouldn't the call be against https://graph.microsoft.com/v1.0/users/{userID}/memberOf?

This call is documented under common operations for users: https://docs.microsoft.com/en-

[2020-05-14 21:08] BrianLevenson commented on #54607
oh, yep! interestingly, the Docs in my team's repo use that field differently. either way, my mistake. thanks for the quick responses!

[2020-05-14 21:08] dougsilva1 opened #54894 "Update UDR Information"
Hello,

The section covering BGP route advertisement could use an update:

Scenario 1: UDR to disable Border Gateway Protocol (BGP) Route Propagation to the Application Gateway subnet

It turns out, there is a limitation in the Azure portal that prevents App Gateway v2 from being created if there is any UDR associated with the gateway subnet (confirmed by PG), this configuration only works from Po

[2020-05-14 21:09] #54607 closed

[2020-05-14 21:12] Sandip-Raiyani commented on #53955
Thanks @JackHorlock . Happy to know that it worked out. Feel free to provide feedbacks and improvements required anytime.

@PRMerger9 @lyrana @deepakpalled  Can we close this issue? Who can close this issue? I can't see it from my side. Thanks.

[2020-05-14 21:12] DCtheGeek commented on #52617
#reassign:DCtheGeek

[2020-05-14 21:13] DCtheGeek commented on #52617
@mtarng and @Mikkel-Gram Sorry you are impacted by this change.  As noted, the doc has been updated with a note about the cause for this temporary change in behavior. If have alternative recommendations for the behavior, the best path is an item on Batch's [UserVoice](https://feedback.azure.com/forums/269742-batch). Thank you again for the feedback.

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-05-14 21:13] #52617 closed

[2020-05-14 21:15] DCtheGeek commented on #47290
@jj-moore This appears to be due to a recent change. Details and a path to request a quota increase are available in the note [here](https://docs.microsoft.com/azure/batch/batch-quota-limit#resource-quotas). Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-05-14 21:15] #47290 closed

[2020-05-14 21:19] MarkusVi commented on #44668
Fixed.

#please-close

[2020-05-14 21:19] #44668 closed

[2020-05-14 21:33] NavtejSaini-MSFT commented on #54843
@yqxiaxia We are checking this and will get back to you.

[2020-05-14 21:35] mhopkins-msft commented on #53917
#assign:xiaonlimsft

[2020-05-14 21:35] PRMerger15 commented on #53917
xiaonlimsft is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-05-14 21:36] Johnnybu opened #54895 "Use the Correct Helm Chart for the NGINX Ingress Controller"
Assuming this is the NGINX Ingress Controller to use: [https://kubernetes.github.io/ingress-nginx](https://kubernetes.github.io/ingress-nginx)
The command for doing so using helm 3 according to that project's documentation is:
[code]
Yet, this article uses the following helm command:
[code]
It's not clear this chart is from the helm hub repo: [https://hub.helm.sh/charts/stable/nginx-ingress](https

[2020-05-14 21:39] CeciAc opened #54896 "Reusing responses is not supported?"
@LockTar commented on [Thu May 14 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/590)

If you read the following documentation about spec (in particular section "Reusing Responses"):
https://swagger.io/docs/specification/describing-responses/

You can define responses separately that are equal for multiple operations. But if you upload that spec then new schemas will be generated.

[2020-05-14 21:41] mhopkins-msft commented on #53917
Hi @paulmcg-iio,

I'm not aware of any specific resource requirements. I couldn't find anything in the readme at the Azurite GitHub project that Sumanth mentioned above. I've asked the product team to respond here. Considering you are using this for development testing, I believe you could proceed with the resources you'd expect to find on a modern dev box.

Thanks,
 ~ *Mark*

[2020-05-14 21:41] MarileeTurscak-MSFT commented on #54877
@dloder0
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 21:43] mhopkins-msft commented on #54675
Hi @manish-jain-1,

Could you please share the specific connection string that is failing?

Thanks,
 ~ *Mark*

[2020-05-14 21:47] MarileeTurscak-MSFT commented on #54877
Thanks! I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115306

[2020-05-14 21:47] #54877 closed

[2020-05-14 21:54] MartinJaffer-MSFT commented on #54804
@dckfnuance  There area few things going on here.
First I would like to clarify that `Update-AzDataLakeGen2Item`  works by overwriting/replacing the existing ACL properties.  It does not make incremental changes.
This means to make an incremental change, you need to:

1. Get the pre-existing properties
2. Add your own changes
3. Commit the change

The following excerpt is taken from [Example 3 in

[2020-05-14 22:03] hisasima commented on #54393
I've aleady checked password is 8 characters and correct. I think you can easily repro this issue if you use AES256 to export certificate. Could you check this behavior ?

[2020-05-14 22:03] mhopkins-msft commented on #54889
Hi @tomMission,

Can you please verify which version of the Azure Storage client libraries you have installed? In the v10 librarires, SharedKeyCredential is located in @azure/storage-blob. However, in the latest version (v12) it is located in @azure/core-amqp. This article is referring to the v10 libraries.

Thanks,
 ~ *Mark*

[2020-05-14 22:04] JnHs commented on #47378
@georgeAccnt-GH Thanks for the feedback, and apologies for the delay in responding. We've reviewed this issue and determined that it's not an issue specific to this doc, but about the Azure CLI command.  Please open an issue in the appropriate repo, which is the Azure CLI repo at https://github.com/Azure/Azure-cli (https://docs.microsoft.com/en-us/cli/azure/batch/account?view=azure-cli-latest#az-b

[2020-05-14 22:04] #47378 closed

[2020-05-14 22:08] lyrana commented on #53955
#please-close

[2020-05-14 22:08] #53955 closed

[2020-05-14 22:10] omarecd opened #54897 ""One or more documents did not resolve into a value""
Dear team.
I'm not sure if this is the right place to ask you:
Despite my multiples tries and many research, I still don't manage to access correctly to your API. I'm using the Python code sample shared by you (https://westeurope.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c9) however each time I get the same error. Any idea what the issue could be

[2020-05-14 22:12] MarileeTurscak-MSFT commented on #54887
Thanks! I made a pull request to update the claim name. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115314

CC: @jmprieur to confirm

[2020-05-14 22:12] #54887 closed

[2020-05-14 22:24] kobulloc-MSFT commented on #54891
@nezoic Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-14 22:28] TravisCragg-MSFT commented on #54875
@khmerforce can you post a link to the doc you are referring to?

[2020-05-14 22:29] TravisCragg-MSFT commented on #54882
@sonampanchmiya can you post a link to the doc you are referring to?

[2020-05-14 22:29] tomMisson commented on #54889
Hi there,

Turns out I was using the v12 library, have since sorted the issue. Might be worth replacing the snippets for this tutorial with what is in [this repo of yours](https://github.com/Azure-Samples/azure-sdk-for-js-storage-blob-stream-nodejs/blob/master/v12/routes/index.js)

Seem as though the most recent (and default) install is v12...

Thanks,
Tom

[2020-05-14 22:31] TravisCragg-MSFT commented on #54885
@cpa862 can you post a link to the doc you are referring to?

[2020-05-14 22:35] SaurabhSharma-MSFT commented on #54878
@JKauff Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 22:37] SaurabhSharma-MSFT commented on #54893
@boachim Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-14 22:39] SaurabhSharma-MSFT commented on #54874
@Torxsmind Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-14 22:43] kromerm commented on #54852
No behavior change. The doc update was an added section talking about handling updates against identity and distribution keys.

https://docs.microsoft.com/en-us/azure/data-factory/data-flow-alter-row#merges-and-upserts-with-azure-sql-database-and-synapse

[2020-05-14 22:45] Heidilohr commented on #54860
@the-blesss Thanks for your feedback. I'm going to update the doc to make the URL clearer. The update should go live by next week.

[2020-05-14 22:45] TravisCragg-MSFT commented on #54894
@dougsilva1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-14 23:08] #54872 closed

[2020-05-14 23:12] MrAusnadian opened #54898 "Docker logs are not readable warnings in omsagent.log"
I installed the omsagent docker container and shown in the "Install and configure Linux container hosts" section of this document, however, the logs are not showing up in Log Analytics (Heartbeat is working fine).

When I look in the omsagent.log file, I see lines like this:
[code]

If I manually try to view the docker logs as the omsagent user, it works fine:
[code]

---
#### Document Details

⚠

[2020-05-14 23:14] Karishma-Tiwari-MSFT commented on #51498
Thanks @andyzhangx for sharing the update.

[2020-05-14 23:14] MarileeTurscak-MSFT commented on #54527
This is explained in the sign-in section, but you just need to go to Azure Active Directory > App Registrations > Select the app > Overview > Authentication > Implicit Grant

I made a pull request to add these instructions to that section. Thanks for the feedback.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/115323

[2020-05-14 23:14] #54527 closed

[2020-05-14 23:14] #51498 closed

[2020-05-14 23:15] Karishma-Tiwari-MSFT commented on #53059
@zr-msft Can you please help confirm on this? Thanks :)

[2020-05-14 23:22] MarileeTurscak-MSFT commented on #54744
@leon8154

B2C allows for basic customization of emails sent by Azure AD B2C through Azure AD's Company Branding feature. Customization of the template is not supported yet, though you can vote for that ask in User Voice: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15334335-fully-customizable-verification-emails

 Hope this helps! If you have further questions feel

[2020-05-14 23:22] #54744 closed

[2020-05-14 23:27] Mike-Ubezzi-MSFT commented on #54864
@rgosling Thank you for bringing this to our attention. The topics and concepts discussed in this article apply to what is now called Azure Synapse Analytics, which is still an Azure SQL (logical) Server instance. This document is also under the Synapse Analytics document tree and is not shared by Azure SQL Database from what I can tell. I am going to assign this to the content owner to review and

[2020-05-14 23:27] GiftA-MSFT commented on #54837
@damochiz Yes, if you created and deployed your model as real-time pipeline, you should be able to follow these [instructions](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-deploy#test-the-real-time-endpoint) to test the real time endpoint. Hope this helps. Thanks.

[2020-05-14 23:33] Jain-Garima commented on #53524
#please-close

[2020-05-14 23:33] #53524 closed

[2020-05-14 23:49] MarileeTurscak-MSFT commented on #54566
Hi @damienbod,

Thanks. Based on that doc there does appear to be a discrepancy. I have reported this and requested a fix.

[2020-05-14 23:49] #54566 closed

[2020-05-14 23:50] SaurabhSharma-MSFT commented on #54585
@tx5westmt I am internally checking with the product team on this and update you with my findings.

[2020-05-14 23:53] SaurabhSharma-MSFT commented on #54774
@agrabhi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-14 23:53] #54774 closed

[2020-05-14 23:53] RyanHill-MSFT commented on #54429
That's correct @werkilla. Web Apps for Containers do not support virtual directory apps. There isn't a way to create that mapping between container and the app service. One option though is using a windows based server [parent image](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-windows-container#use-a-different-parent-image), copy your apps to the image, and confi

[2020-05-14 23:53] #54429 closed

[2020-05-15 00:00] MarileeTurscak-MSFT commented on #54509
From the [Troubleshooting Guide](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-troubleshoot-point-to-site-osx-ikev2):

The VPN client in Mac for IKEv2 is very basic and does not allow for much customization. There are only four settings that need to be checked:

Server Address
Remote ID
Local ID
Authentication Settings
OS Version (10.11 or higher)

**Troubleshoot certificate-based

[2020-05-15 00:00] #54509 closed

[2020-05-15 00:00] GiftA-MSFT commented on #54851
@PatrickFarley can you please provide guidance here on the above workflow? Thanks.

[2020-05-15 00:10] GiftA-MSFT commented on #54576
@emelus will proceed to close this thread, please refer to my response on this [thread](https://github.com/MicrosoftDocs/azure-docs/issues/54319). Thanks.

[2020-05-15 00:10] #54576 closed

[2020-05-15 00:16] lisaguthrie commented on #54891
Hi @nezoic - App Configuration has its own service tag, which you can utilize within Azure Firewall, etc. You can also download or query for the current IP address ranges used, if you need to poke firewall holes outside of Azure. More information is available at [Azure service tags overview](https://docs.microsoft.com/azure/virtual-network/service-tags-overview).

[2020-05-15 00:38] BharathNimmala-MSFT commented on #54468
@christianse2 Apologies for delayed response on this , working with our internal team to get an answer for your query. Will keep you updated. Thanks

[2020-05-15 00:41] dcbrown16 opened #54899 "Missing from ToC"
This seems to be a recent article but it's not showing in the ToC. Please check if it should be in the ToC somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747b9d5c-5785-2c35-11b1-7d4ea65cfa71
* Version Independent ID: 087270c1-9c2f-80d0-38c0-1fa5926d9683
* Content: [Use Azure AD in Azure Automation to authent

[2020-05-15 00:49] Karishma-Tiwari-MSFT commented on #53740
UAM is not part of GA for the MSI feature on AKS. This will be part of a future release.

[2020-05-15 00:51] Karishma-Tiwari-MSFT commented on #54500
Can you please elaborate on your question?

[2020-05-15 00:57] btardif commented on #54796
I haven't personally tested this out. @panchagnula can we include folks form Function CLI to try out their scenarios with `Restore-AzDeletedWebApp` .

[2020-05-15 01:16] #54562 closed

[2020-05-15 01:34] femsulu commented on #54876
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-15 01:35] Grace-MacJones-MSFT commented on #54861
Hi @vijayraavi, apologies for any frustration this issue may have caused. We are currently investigating and will update you when we have accurate information to provide.

[2020-05-15 01:36] cindywang1990 commented on #54814
@shashishailaj , yes, this is the doc: https://docs.microsoft.com/en-us/azure/active-directory/b2b/invite-internal-users#use-powershell-to-send-a-b2b-invitation, try to use the powershell cmdlet and return error

[2020-05-15 01:39] SatishBoddu-MSFT commented on #54859
@brthurr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-15 01:41] femsulu commented on #54892
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-15 01:49] Mike-Ubezzi-MSFT commented on #54525
@rohitpant55 Please let me know if you have any additional questions with regard to this deployment scenario. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-15 01:49] #54525 closed

[2020-05-15 01:49] femsulu commented on #54898
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-15 01:55] jlichwa commented on #24140
Code is updated with retries. #please-close

[2020-05-15 01:55] #24140 closed

[2020-05-15 01:55] BharathNimmala-MSFT commented on #53798
@DevendarReddyK  Post validation with our internal teams, it has been called out that you can use the installation approach documented [here ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows#install-the-agent-using-the-command-line )which is to first extract the installation files using step 1 and then install using step 2 and it has been verified that agent installs su

[2020-05-15 01:55] #53798 closed

[2020-05-15 02:10] femsulu commented on #54899
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-15 02:14] BharathNimmala-MSFT commented on #54574
@PhilPeters304 Glad to hear that the docs are helpful, we really appreciate your feedback. Will share this feedback with our document authoring teams and Product teams to keep this into consideration where possible for future enhancements of Azure documentation. Thank you

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this

[2020-05-15 02:14] #54574 closed

[2020-05-15 02:15] jlichwa commented on #41609
@joslat those variables are automatically read behind the scenes by DefaultAzureCredential
https://docs.microsoft.com/en-us/dotnet/api/azure.identity.environmentcredential?view=azure-dotnet

[2020-05-15 02:20] ArvindHarinder1 commented on #46510
#please-close

[2020-05-15 02:20] #46510 closed

[2020-05-15 02:20] Mike-Ubezzi-MSFT commented on #54630
@durairajasivam Can you please be more specific with the desired functionality you are seeking? I can make an assumption from your ask that you have an Azure SQL Database Managed Instance. You also appear to have a MySQL server instance on-premise. Is this correct? Additionally, you have 100 users with a MySQL client making updates to one or more tables hosted on the MySQL server instance. You are

[2020-05-15 02:21] jourdant commented on #8454
Hi Mike - I appreciate the response.

I have applications using both configurations and can confirm that the Web App backups work with both too. I more pointing out that the messaging in relation to In-App MySQL was unclear in the Web App > Backups pane in the Azure Portal (or it confused me at least).

[2020-05-15 02:34] TravisCragg-MSFT commented on #54849
@artisticcheese Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 02:45] shivanissambare commented on #54455
Hi @bigdatamoore
Which step in the documentation were you unable to repro?

[2020-05-15 02:47] BharathNimmala-MSFT commented on #54575
@aidanfinn Thanks again for bringing this to our notice, assigning this issue to our document author  @mumian to further evaluate the feedback and update the document accordingly.

[2020-05-15 02:50] MarcSkovMadsen commented on #21044
Hi @kraigb

Thanks for your reply. Yes `python -m panel ...` solved this problem. BUT

But then the web sockets do not work

![image](https://user-images.githubusercontent.com/42288570/82006046-34cefe00-9667-11ea-835a-6a7bd017fbdc.png)

I have turned the web sockets on under configuration but still it does not work

![image](https://user-images.githubusercontent.com/42288570/82006198-8c6d6980-9667

[2020-05-15 02:58] BharathNimmala-MSFT commented on #54510
@Ayanmullick  Thank you for reaching out, to my understanding this not currently possible. However i have reached out to our internal teams to confirm the same. Will keep you updated.

[2020-05-15 02:58] shonohs commented on #54529
Hello, you can look into a sample python script in the exported zip package, which describes how to parse the [1, 13, 13, 35] output vector. Another option is to use "General (compact) [S1]" domain, which has better output format. The detail of the format is in its exported zip file.

[2020-05-15 03:00] kraigb commented on #21044
Hmmm. Sockets are too far out of my experience, unfortunately, so I can't be of further help. If it's something to do with the behavior of the App Service container, then you're best off asking Azure support directly through the Help & Support center on the Azure portal. Sorry I don't have more to offer.

[2020-05-15 03:01] MarcSkovMadsen commented on #21044
@kraigb . I solved the web socket problem by adding `--allow-web-socket-origin` to the command. The command that works for me is

[code]

[2020-05-15 03:04] MarcSkovMadsen commented on #21044
To me the Python Web App experience is always confusing and troublesome. I know you are doing your best but the things that are problematic for me is

- Assuming your web app is Django or Flask run by gunicorn. Well sometimes I'm running Panel, Voila or Streamlit.
- I imagine some users would be using uvicorn.
- And some users have other use cases.

For me the name `Python Web App` is confusing wh

[2020-05-15 03:07] kraigb commented on #21044
I agree; naming is often problematic. Part of the trouble comes from running everything in a pre-defined container, which is primarily targeted at Django and Flask due most likely to prioritization for testing only a limited number of frameworks. But I'm glad you got it working.

[2020-05-15 03:13] jlichwa commented on #37247
There is an issue around refreshing tokens with AD Groups with MSI, it may take 8hr for MSI to refresh and AD group to be effective. I've updated document with warning. #please-close

[2020-05-15 03:13] #37247 closed

[2020-05-15 03:13] DixitArora-MSFT commented on #54886
Hi @ewilson Thanks for reaching out. We will review and update as appropriate.

[2020-05-15 03:16] DixitArora-MSFT commented on #54890
@manish-jain-1 I have assigned this to content author for further review and update as appropriate.

[2020-05-15 03:17] likebupt commented on #54330
Hi @lingfengdk, Sorry that currently we don't support change the parameters of deployment by UI, but you can change it through python SDK. Please refer to this [doc](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aks.akswebservice?view=azure-ml-py).

[2020-05-15 03:17] jlichwa commented on #41609
#please-close

[2020-05-15 03:17] #41609 closed

[2020-05-15 03:19] femsulu commented on #54534
hello @sanketpandia  - can you share the information requested by @anirudhcavale?

[2020-05-15 03:20] DixitArora-MSFT commented on #54896
Hi @@LockTar Thanks for reaching out. We will review and update as appropriate.

[2020-05-15 03:21] DixitArora-MSFT commented on #54879
@vladvino Any inputs in this ?

[2020-05-15 03:23] DixitArora-MSFT commented on #54863
@deyanp I have assigned this to content author for further review and update as appropriate.

[2020-05-15 03:24] vipulsparsh commented on #54734
@olamer Thanks, we have engaged the content team and will update as we make some progress.

@kkern13  I have created a pull request but I do not have merge permission, can you please look into it and update.

[2020-05-15 03:28] XiaoningLiu commented on #53917
Hi @paulmcg-iio, this is Xiaoning from Azurite team. If you are using Azurite as part of testing automation. You should not worry too much about the hardware. It actually depends on your workload (ingress/egress/TPS). Recommendation is to take a try based on your existing hardware and workload. We'd like to help in case any questions about the performance.

[2020-05-15 03:29] CHEEKATLAPRADEEP-MSFT commented on #54888
@darayavah An account SAS is secured with the storage account key. An account SAS delegates access to resources in one or more of the storage services. All of the operations available via a service or user delegation SAS are also available via an account SAS. Additionally, with the account SAS, you can delegate access to operations that apply at the level of the service, such as Get/Set Service Pr

[2020-05-15 03:30] e7866c opened #54900 "The az command is wrong."
The az command is "az group deployment ...", instead of az  deployment group ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c195d-22dc-a381-dedd-b829d6a3e82f
* Version Independent ID: eed3f4f4-98b3-f47e-07d4-d146085cfc68
* Content: [Deployment quota exceeded - Azure Resource Manager](https://docs.microsoft.com/e

[2020-05-15 03:35] milope commented on #53849
I can try and file that ICM for the watson one. Regarding the port 1886, I guess the question was more centered around if the Service Tag for 1886 really needs to be AzureCloud and not something more narrow like AzureMonitor or the Azure Monitor FQDNs?

[2020-05-15 03:36] femsulu commented on #54686
@Rajani-Janaki-Ram & @mayurigupta13  - is there any plan to routinely update the deployment planner so it's on par with the supported OS's

@rayne-wiselman  - fyi

[2020-05-15 03:50] femsulu commented on #54242
Hi @maertendMSFT  - would it be possible to update the doc with the appropriate unit of measure?

thanks in advance.

[2020-05-15 03:52] GiftA-MSFT commented on #54837
Hello @damochiz sorry, I probably didn't understand your question. From what I've gathered from the product team, this is a bug and a fix has been deployed. Can you try again? It may take a while to reach all regions, let us know if you're still experiencing any more issues. Thanks.

[2020-05-15 03:56] damochiz commented on #54837
Thanks for confirming. I could see Test tab now. There is no problem to close this ticket. :)

[2020-05-15 03:57] GiftA-MSFT commented on #54837
Awesome, glad it's working now, thanks for confirming as well :).

[2020-05-15 03:57] #54837 closed

[2020-05-15 03:58] BharathNimmala-MSFT commented on #54900
@e7866c  Thank you for bringing this to our notice, we will look into and fix the document accordingly.

[2020-05-15 04:00] DCtheGeek commented on #47289
#reassign:DCtheGeek

[2020-05-15 04:01] DCtheGeek commented on #47289
@jj-moore Thanks for reporting this. I've worked through the sample and had no issue. When you added the application package through the portal, it should have been activated at that point. After that step, I tried this:

`az batch application package list --application-name ffmpeg --name dcthegeekbatch --resource-group BatchDoc`

With results:

[code]

I'm going to go ahead and close this.  If yo

[2020-05-15 04:01] #47289 closed

[2020-05-15 04:09] panchagnula commented on #54796
@Grace-MacJones-MSFT in general Az Powershell does not have good support for function apps. However, I believe Restore DeletedApps is not supported on function apps. I checked CLI and see that this functionality is available on web apps only & not for function apps https://docs.microsoft.com/en-us/cli/azure/webapp/deleted?view=azure-cli-latest#az-webapp-deleted-restore

@ruslany do you know if Del

[2020-05-15 04:15] ram-msft commented on #54897
@omarecd Thanks for the question. We are investigating the issue and will update you shortly.

[2020-05-15 04:23] PramodValavala-MSFT commented on #54591
@phillipdwright Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-15 04:23] #54591 closed

[2020-05-15 04:38] xaxxon opened #54901 "What stops someone else from writing a managed app that accesses your key vault?"
Is the Appliance Resource Provider tied to a specific managed app definition?  if so, how?

It seems like anyone could just write a managed app that points at your key vault and get right in.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82
* Version Independent ID: e5b2d1

[2020-05-15 04:43] leon8154 commented on #54744
Well, you see after you've done this on on the link
https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization

After accessing this page, we have this in the chrome dev tools where in it contains the scripts and behavior of the elements inside page.
![image](https://user-images.githubusercontent.com/10827823/82012030-4afdae00-96a9-11ea-8054-c8a8b609ba39.png)

Now,

[2020-05-15 04:51] SumanthMarigowda-MSFT commented on #54572
@InstanceFactory Apologies for delay in responding here!

  Can you share the screenshot? I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2020-05-15 04:51] #54572 closed

[2020-05-15 04:51] SadiqhAhmed-MSFT commented on #54880
@nishshah1 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-15 04:53] VikasPullagura-MSFT commented on #54895
@Johnnybu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-15 04:54] VikasPullagura-MSFT commented on #54895
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-15 04:56] SadiqhAhmed-MSFT commented on #54889
@tomMisson Thanks for the feedback and update on the issue.

@mhopkins-msft To review and update the documentation.

Closing this issue for now.

[2020-05-15 04:56] #54889 closed

[2020-05-15 05:03] kazshi commented on #54822
@rboucher Thanks for your comment. I'm looking at English page, the description of QueueMessageCount in this page says "The approximate number of queue messages in the storage account's Queue service.", but the description of QueueMessageCount in the Storage page says "The number of unexpired queue messages in the storage account." - which is accurate?

[2020-05-15 05:06] dheerajkumar-solanki opened #54902 "Question regarding deleted files after deletedFileRetentionDuration period"
When we specify Delta Table properties like delta.deletedFileRetentionDuration=&lt;interval-string&gt;, so the logically deleted files will be automatically deleted after the defined time period?

If yes, how these files are deleted through any external process or any other process or we have to manually delete it?

Also, what is the best practice to define this property at the Table level or over

[2020-05-15 05:17] VikasPullagura-MSFT commented on #54473
@sowmyavenkat86 Can you please add your comments on this.

[2020-05-15 05:18] uprightbass360 commented on #30656
Thanks for that! I like that a lot better as an option over just testing for nulls.

[2020-05-15 05:41] VikasPullagura-MSFT commented on #54592
@MatthewSteeples Apologies in delayed response, I was checking with internal team on this.

In the VirtualMachineConfiguration section of the Add Pool API [here](https://docs.microsoft.com/en-us/rest/api/batchservice/Pool/Add#virtualmachineconfiguration), you will see licenseType which will allow you to utilize AHUB.

![image](https://user-images.githubusercontent.com/48944027/82015606-c3aa3d80-96

[2020-05-15 05:41] VikasPullagura-MSFT commented on #54592
@MatthewSteeples
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. we will continue the discussion.

[2020-05-15 05:41] #54592 closed

[2020-05-15 05:43] VikasPullagura-MSFT commented on #54880
@stgeorgi @RoopChevuri can you please add your comments.

[2020-05-15 06:00] chandra9787 commented on #54696
I dont find the below command in Az.DataFactory. I sure the module Az.DataFactory is added and imported and despite I don't find anything on

Get-AzDataFactoryV2TriggerSubscriptionStatus
-----------------------------------------------
Stopping deployed triggers
Disabling trigger
Remove-AzDataFactoryV2TriggerSubscription : The 'Remove-AzDataFactoryV2TriggerSubscription' command was found in the mod

[2020-05-15 06:02] RohitMungi-MSFT commented on #54875
@khmerforce The most probable issue for this error is your monthly transactions per month or TPS would have been reached. Here are [limits](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/language-understanding-intelligent-services/) of the free tier. Could you please upgrade the current tier and check if the requests are successful.

[2020-05-15 06:12] KranthiPakala-MSFT commented on #54530
Hi @djpmsft, Could you please assist on above requirement from @kirikintha ? - Thank you.

[2020-05-15 06:15] CHEEKATLAPRADEEP-MSFT commented on #54902
@dheerajkumar-solanki Azure Databricks automatically triggers VACUUM operations as data is written.

Delta lake provides a vacuum command that deletes older versions of the data (any data that’s older than the specified retention period).

**Case1:** If you have a delta table without any changes, when you use vacuum command does not do anything.

**Case2:** If you have a delta table with any chang

[2020-05-15 06:17] SnehaAgrawal-MSFT commented on #54549
@SudeshSharma Just checking in to see if you have chance to see previous response.

[2020-05-15 06:18] SnehaAgrawal-MSFT commented on #54556
@JoseFMP Just checking in to see if you have chance to see previous response.

[2020-05-15 06:21] KranthiPakala-MSFT commented on #54503
Hi @Prasy12 ,  When using copy activity to decompress ZipDeflate file(s) and write to file-based sink data store, files will be extracted to the folder : <path specified in dataset>/<folder named as source zip file>/.

For example: I have a zip file (LatestZipped.zip - This is a Zip File ) with 3 CSV files in it.
![image](https://user-images.githubusercontent.com/50185738/82017772-c07d6600-9638-11

[2020-05-15 06:21] #54503 closed

[2020-05-15 06:27] dhanabalan1986 opened #54903 "The resource operation completed with terminal provisioning state 'Failed'"
Can you help me on this error ( dscextension)
![image](https://user-images.githubusercontent.com/65157088/82018513-15ee5d00-96a3-11ea-9852-e8bf9a1d1bf0.png)

error

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","messa

[2020-05-15 06:28] JeroenDaniels opened #54904 "Azure Storage Lifecycle Management - Remove Folders Rule"
We use continuous export from Application Insights to a ADLS Gen2 Storage Account. This creates folders per data type item with the date and hour (e.g. {container}/Exceptions/05-02-2020/12/{guid}.blob). With a rule set to remove blob files we are left with empty folders. Is there a option to remove these empty folders within a rule?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-15 06:28] VikasPullagura-MSFT commented on #54611
@tomaszms I have reached to internal team on this, and the information for ARO 4.3 will be added to the document soon.

[2020-05-15 06:34] sonampanchmiya commented on #54882
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#enable-client-certificates

[2020-05-15 06:34] VikasPullagura-MSFT commented on #54611
@jimzim can you please share any insights on this ask.

[2020-05-15 06:40] djpmsft commented on #54696
@chandra9787 that cmdlet is what was causing the issue. The updated script (what I posted in two comments up) does  not have it

[2020-05-15 06:46] damienbod commented on #54566
@MarileeTurscak-MSFT So will the Azure B2C implemention be fixed, because it has a bug, this is NOT a docs bug, but an Azure B2C server implementation bug. Where is the issue which fixes this?

Greetings Damien

[2020-05-15 06:48] alamoiker commented on #54846
Sure! https://docs.microsoft.com/en-us/azure/data-factory/connector-sap-table#supported-capabilities
Thanks

[2020-05-15 07:01] davidlyw89 commented on #54826
hi Dixit.
https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/anchor-relationships-way-finding

Below of this documentation have the link to the sample, but is not way-finding sample.

Thank you

[2020-05-15 07:03] omarecd commented on #54897
Dear Ram.
Actually, I found some extra documentation, also on your Microsoft site (https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/text-analytics-sdk) the examples there are indeed a bit more complete. Based on that I could work with the API without any issue. All is Ok now.
Thanks for the great work. Let's close the case.

[2020-05-15 07:14] rohitpant55 commented on #54525
Nope. I am good for now. Thank you for your inputs and help.

[2020-05-15 07:23] pascal-hauser commented on #54432
@roygara thanks for the clarification! No further questions on this.

[2020-05-15 07:24] cg6 opened #54905 "New Files Created Remotely and Invoke-StorageSyncCloudTiering"
Please provide more detail on the function of Invoke-StorageSyncCloudTiering

If Invoke-StorageSyncCloudTiering is first run on a directory and then new subfolders are created directly on the Azure File Share with SMB, will the new files be downloaded by the Sync Agent, or will they be created as Tiered Files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-15 07:30] hisasima commented on #54393
If you use following option, you will encounter the password error. I think this message is not correct.

![image](https://user-images.githubusercontent.com/37136042/82023410-34ffe580-96c9-11ea-9781-4d5831ba9503.png)

[2020-05-15 07:34] jeremytcorp opened #54906 ""port" should be integer, not string"
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289fc6e1-bd82-0127-2b40-57e55c5b1452
* Version Independent ID: 45842a1e-fff5-9eda-e3d0-131000cc9f3a
* Content: [Tutorial - Deploy multi-container group - template - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instan

[2020-05-15 07:37] VikasPullagura-MSFT commented on #54840
@spartacusX Any update on the issue?
Can you also share the region detail where it failed.

[2020-05-15 07:40] nelsonmorais opened #54907 "Missing info regarding the Data Endpoint (*.cdn.mscr.io to be *.data.mcr.microsoft.com starting June 15 2020)"
The page below presents another relevant endpoint, the Data Endpoint, which FQDN will change on June 15, 2020 from *.cdn.mscr.io to *.data.mcr.microsoft.com.

It would be good to have this information on this page also.

Reference: https://github.com/microsoft/containerregistry/blob/master/client-firewall-rules.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-05-15 08:04] dheerajkumar-solanki commented on #54902
Thank you.

So, we have to manually run vacuum command periodically to remove logically deleted files, right?

[2020-05-15 08:07] VikasPullagura-MSFT commented on #54906
@jeremytcorp
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-15 08:16] dharmendramiet opened #54908 "These commands are not working"
I have connected to graph DB using tinker pop console and cosmos quick start console as well. But commands mentioned on this page are not working.

gremlin&gt; g.V().count()
No such property: g for class: groovysh_evaluate
Type ':help' or ':h' for help.
Display stack trace? [yN]N

gremlin&gt; g.addV('person').property('firstName', 'Thomas').property('lastName', 'Andersen').property('age', 44).prop

[2020-05-15 08:17] sonampanchmiya commented on #54882
The error after enabling client certificate setting:

X3j1kQXnpPKI.js:9 [WebsitesExtension]  12:50:28 PM AppSvcIFrame AppSvcIFrame: {"resourceId":"removed this","message":"The function runtime is unable to start."}

[2020-05-15 08:18] sonampanchmiya commented on #54882
Also now I cannot open the app normally. The default url of the app gives error Error 403 - Forbidden: Client Certificate Required.
The web app you have attempted to reach requires a client certificate and does not accept any requests without one.

In the portal I see the error:

 Client certificates have been enabled on your function app which may affect your ability to manage it from the portal.

[2020-05-15 08:21] prajyot2909 commented on #54850
One more question that I have w.r.t to execution of  the DataBricks Unit test cases is that if I am executing the Unit Test cases as described in the article

**Where exactly do my unit tests run ?

- in the databricks cluster that I connected to or
- in the python environment that we have set up installing the Python Versions**

If I am to execute my test cases on the Databricks Cluster is there

[2020-05-15 08:28] ram-msft commented on #54897
@omarecd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-15 08:28] #54897 closed

[2020-05-15 08:33] ntziolis commented on #54160
Understood thank you for the clarification. The reason there that this might not be 100% clear is the a sentence in the next paraprgaph:

The ambiguous part being _"send replies on a sessions enabled queue"_, this might be understood as to another session enabled queue.

Instead of _a session enabled queue_ it I would suggest to use _the session enabled queue_ to not leave any doubt.

[2020-05-15 08:35] amanmcse commented on #54732
@shereen-yong Yes, you can configure App Proxy for on-premises deployment of Microsoft Dynamics 365 and configure pre-auth to be done by Azure AD. If Azure MFA is enabled for the users, they will have to perform MFA as part of pre-auth.

[2020-05-15 08:46] akshit-srivastava commented on #53335
Hi @likebupt , I have replied to the mail regarding the meeting. Request you to please check and let me know if the time is suitable.
Thanks for all the help.

[2020-05-15 08:52] SeaDude opened #54909 "Is an AppService Plan required to add a Managed Identity to Azure Functions?"
I'm trying to keep credentials out of my (python) Azure Function. I've stored API keys for the function to make external calls in Azure Key Vault.

In order to authenticate my function to Key Vault to get these keys, I need to supply a Client_ID, Client_Secret and Tenant_ID in my code OR use a Managed Identity.

Do I need to setup an AppService Plan to use a Managed Identity for my Azure Function?

[2020-05-15 08:59] Telsho commented on #43808
Still no update ?

[2020-05-15 08:59] SeaDude opened #54910 "Is an AppService plan required in order to use Managed Identities with Azure Function?"
From the docs here: https://azure.microsoft.com/en-us/blog/keep-credentials-out-of-code-introducing-azure-ad-managed-service-identity/

  - It appears I want to use a Managed Identity for my Azure Function.

From the docs here: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-azure-ad-authenti

[2020-05-15 09:00] chrisalexander opened #54911 "Raw data"
Please could you provide the raw data (CSV, XLS) rather than just a screenshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round trip latency statistics](https://docs.microsoft.com/en-us/azu

[2020-05-15 09:05] CHEEKATLAPRADEEP-MSFT commented on #54660
@normesta Could you please look into the issue?

[2020-05-15 09:05] CHEEKATLAPRADEEP-MSFT commented on #54731
@poonamnimje01  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-15 09:05] #54731 closed

[2020-05-15 09:06] diepes commented on #51498
Just a note on how to reset ssh key and random password all in one.

[code]

[2020-05-15 09:06] CHEEKATLAPRADEEP-MSFT commented on #54902
@dheerajkumar-solanki, yes are correct.

[2020-05-15 09:07] evenlan1990 opened #54912 "MsalServiceException: invalid_request;AADSTS50194"
my msal json config file is:
{
  "client_id" : "xxxxxxxxxxxxxxx",
  "authorization_user_agent" : "DEFAULT",
  "redirect_uri" : "msauth://com.xxx.xxx.xxx/(my sign hashkey)",
 "account_mode" : "SINGLE",
  "authorities" : [
    {
      "type": "AAD",
      "authority_url": "https://login.microsoftonline.com/(my tenant_id)"
    }
}

I am set Single-tenant configure in Azure portal website.when i use s

[2020-05-15 09:23] Dan-cws commented on #41294
I have the same issue using Powershell shell. Removing --credential-description does the trick

[2020-05-15 09:27] vishalaj1 opened #54913 "nullValue - ADLS - Blobl - csv"
Hi,

We are trying to load data from csv which has blank value.

for eg:

Col1,Col2,Col3
1,2,3
4,5,6
7,,8
9,7,8

When nullValue is left blank the column where we do not have any data is loaded as NULL in SQL database.

Which is incorrect behaviour as per documentation.

We had to put value "\N" which then actually loaded data correctly as blank.

Is it correct behavior?

Regards,
Vishal

---
####

[2020-05-15 09:28] amanmcse commented on #54365
@doc-rj-celltrak I understood your requirement. If you refer to our [app manifest documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest) there is only **keyCredentials** attribute can contain certificate information which is to request access token and not to store signing certificate.

Another thing is **B2C** relies on samlMetadataUrl attribute to

[2020-05-15 09:29] PayamK1 commented on #54841
Hi,

I tried the same process and this time all looks fine, I managed to creat my ChatBot and tested it.

However, I have another issue. As I use "Command Prompt" to instruct "az login" to get access to the Azure website, there is a non-stop circle within the sign-in account. After a long time and several tries, it is still the same. Do you have any suggestions for it?

Best regards,
Payam Kaywan

[2020-05-15 09:30] jbarrancos commented on #48264
Is this still needed as a limitation or is this fixed?

[2020-05-15 09:41] sarah026 opened #54914 "No scan when storage is locked"
Hi

I have the storage locked to specific networks and MS trusted services is ticked. But it still fails to scan, it only works when it is open to all networks.

We're using SQL server with elastic pool (not managed instance). Please check and update the documentation

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-15 09:41] VikasPullagura-MSFT commented on #54906
@jeremytcorp Thanks for pointing this out, I have updated the document and changes will go live soon.

[2020-05-15 09:41] #54906 closed

[2020-05-15 09:42] EsaFazal72 commented on #54443
@Karishma-Tiwari-MSFT It's true that PVC is not supported by ACI as of now. Thank you.

[2020-05-15 09:44] EsaFazal72 opened #54915 "Unable to use GPU in AKS virtual-node(ACI)"
I created an AKS cluster with the virtual-node option enabled and my goal was to run training in the virtual-node(ACI) that requires GPU resources. It turned out that, usage of GPU resources in the virtual-node was only upon request. So I submitted a Support Request and got a Tesla K80 GPU approved. Yet the deployment failed and I'm not sure where I went wrong. **Please help.**

Below is the YAML

[2020-05-15 09:47] VikasPullagura-MSFT commented on #54870
@mimckitt Can you please add your comments on this.

[2020-05-15 09:48] amanmcse commented on #54809
@jsantanders
The OrchestrationStep 8 in this document should be added before and the OrchestrationStep 9 should be added after below OrchestrationStep step in the signuporsignin user journey within the TrustFrameworkExtension.xml file.

`<OrchestrationStep Order="6" Type="SendClaims" CpimIssuerTechnicalProfileReferenceId="JwtIssuer" />`

Make sure you change the orchestration step order number as

[2020-05-15 09:50] LifeRyuto opened #54916 "Private IP address cannot be added to IP rules"
"You can work around this limitation by obtaining a static IP address for your VM. For details, see Configure private IP addresses for a virtual machine by using the Azure portal. "
This description may be confusing. We cannot add private IP address of a VM to the IP rule of Azure SQL Database to allow access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-15 09:51] shashishailaj commented on #54910
@SeaDude Thank you for your query. We will investigate and update this thread.

[2020-05-15 09:59] amanmcse commented on #54809
#please-close

[2020-05-15 09:59] #54809 closed

[2020-05-15 10:00] amanmcse commented on #54810
@jsantanders Closing this thread. Feel free to tag me in your reply if you have any question.

[2020-05-15 10:00] #54810 closed

[2020-05-15 10:04] amanmcse commented on #54786
@Norrch2  Please change the input parameter for UserId to an email address. If you still face the issue, try without default value.

[2020-05-15 10:06] LifeRyuto commented on #54916
I guess the link should be
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-deploy-static-pip-arm-portal

[2020-05-15 10:21] osygroup opened #54917 "Correction"
On creating a role with Graph API, I don't think the line with "templateId": "&lt;GUID&gt;" in the body of the HTTP request. With that line, the role cannot be created because it requires a templateId (which no one has).
Removing the line with  "templateId": "&lt;GUID&gt;" in the body of the HTTP request works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-05-15 10:24] akshit-srivastava commented on #53335
Thanks @likebupt .
Appreciate all the help provided for the resolution of the ticket.
Closing the ticket.

Thanks.

[2020-05-15 10:24] #53335 closed

[2020-05-15 10:52] akbarrasool commented on #54392
Hi, Can you kindly provide a response? We are challenged at the moment to get Delegation working following this document in the new developer portal while trying to implement it at a customer site.

[2020-05-15 11:07] itsorch opened #54918 "User Administrator rights"
The description for User Administrator rights reads as "Can manage all aspects of users and groups, including resetting passwords for limited admins." But I have just discovered that User Administrators cannot upload profile images without additional Exchange Admin rights. Can this be investigated or added into the description please.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-15 11:09] kmoore-riphaina opened #54919 "missing section?"
the table of contents list a real-time speech to text section, the page doesn't provide any information about real time speech to text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2fcd39-a2d6-0a3a-1235-1aae45cae26d
* Version Independent ID: db227248-d6d1-b1d3-05bc-522cd1435da2
* Content: [Speech-to-text - Speech se

[2020-05-15 11:31] jtuliani opened #54920 "List policy initiatives, not definitions"
My understanding of Azure Policy for VMs is that you should only assign the policy initiatives (which typically contain a pair of definitions, one to deploy pre-requisites and the other to gather data). You shouldn't deploy the definitions alone. So I think it would make more sense if this page listed the initiatives rather than the definitions.

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-15 11:37] RohitMungi-MSFT commented on #54919
@kmoore-riphaina Thanks for the question. @trevorbye Could you please help to update the index on the page as it indicates a section for real time speech to text but contains details about speech to text service introduction.

[2020-05-15 11:44] Feday commented on #52549
Hello @amanmcse I still see strings that are not localized, for example, the email address placeholder and invalid email error message.

[2020-05-15 11:53] ChiragMishra-MSFT commented on #54587
@Nagarc For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to AzCommunity@Microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

Thread URL: https://github.com/MicrosoftDocs/azure-docs/issues/54587
Subscription ID

[2020-05-15 12:03] andrewCluey opened #54921 "Azure Firewall and Application gateway reference architecture"
Hi, I've not been able to find any documentation that shows how best to integrate Azure Application gateway with the Azure firewall. I'm sure it's not rocket science, but a brief overview of some of the key things to consider would be useful.

There is a document that shows how to integrate a standard load balancer with Azure Firewall (https://docs.microsoft.com/en-us/azure/firewall/integrate-lb)

[2020-05-15 12:03] alexdrenea commented on #30062
sorry to reopen a year old case but I've struggled for a couple hours to get this going. I got to this docs page relatively quickly but the page itself did not help me. Wasn't until I opened this closed thread and looked at the sample policy in that random gist that I managed to get it working.

Can that sample be added to the official doc? There's no reference nowhere on this page on how to use t

[2020-05-15 12:19] ewilson commented on #54886
I figured it out -- it works, but wasn't obvious to me, probably just because I'm new to both VSCode and Azure.

[2020-05-15 12:21] DixitArora-MSFT commented on #54560
@steveculshaw For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-15 12:21] #54560 closed

[2020-05-15 12:24] APIWT commented on #41177
@ConnorMcMahon I just realized something that could simplify it if it is an option. Am I allow to use a setting like this in `host.json`?

[code]

Then in my staging slot define the value for `%TaskHubNameSuffix%` but in my production slot leave it undefined?

[2020-05-15 12:39] vipulsparsh commented on #54813
@nprieto95  We are looking into this. Please have a look [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-dotnet). Let me know if user delegated SAS with v12.NET is something which fits your need.

[2020-05-15 12:42] SafwanHussain opened #54922 "Composite Index Unused by a query"
Hi,

I am creating a composite Index on a container to cater to queries with multiple filters ex:
SELECT value count(1) FROM c where c.uId="12445" and c.la>= 1585076195

Details:
uId is the  partitionKey

Custom Index :

`{
		"indexingMode": "consistent",
		"automatic": true,
		"includedPaths": [
			{
				"path": "/uId/?"
			},
                       {
				"path": "/la/?"
			}
		],
		"excludedPath

[2020-05-15 12:51] vishalaj1 commented on #52392
Hi,

There are two issues that we found:

1. When we are using Additonal Columns and if the number of columns are 20 in all rows and last row for example it is footer with only 5 columns this FilePath is not generated for last row it is mapped to 6th column with file name value.

2. When we are using this property with Source "Null Value = \N" it behaves extremely weired. It loads all data randoml

[2020-05-15 12:59] gehudd-MSFT opened #54923 "Edit Connection String format"
Mentioned format: Server=tcp:&lt;servername&gt;.database.windows.net,1433;Database=&lt;databasename&gt;;
Correct format: Data Source=&lt;servername&gt;.database.windows.net;Initial Catalog=&lt;databasename&gt;;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09dd1d03-ae28-c5a2-7c64-2f51675f6b09
* Version Independent ID:

[2020-05-15 13:14] mvfolino68 opened #54924 "Hero Image"
When I create an offer, I do not see where I can add a 'Hero' image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0ce426-a720-24d2-35e6-6c63f68e47a8
* Version Independent ID: e993bc40-5837-3b76-ea5a-fe07002d3c2c
* Content: [Create a new SaaS offer for the Microsoft commercial marketplace](https://docs.microsoft.com

[2020-05-15 13:14] sblair01 opened #54925 "Type Handler Version in Powershell command up to date?"
I was not able to get the powershell going, but I was able to do this with the AzureCLI
https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-cli-sample-create-vm-iis

  -TypeHandlerVersion 1.4 `

Is this because the handler version should be 1.8 instead of 1.4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-15 13:17] invirtuteDei commented on #54126
Same problem as reported here as well. WS2019 Datacenter in Azure with W10 1909 (With latest Updates) not letting me connect via AAD crednetials

[2020-05-15 13:19] PixelRobots opened #54926 "Unable to edit page 404"
Would like to edit the page to make the error message more clear at the end of the document, but when I click edit I get a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ae1fa5-2cf8-a2a9-91d9-8b7d3f559b34
* Version Independent ID: ae48aa71-fc31-7202-2bb6-785305aff412
* Content: [Use Azure AD in Azure Kubernetes

[2020-05-15 13:23] dennis-benzinger-hybris commented on #54845
It's the `sku.tier` field:
https://docs.microsoft.com/en-gb/azure/templates/microsoft.containerservice/2020-03-01/managedclusters#managedclustersku-object

[2020-05-15 13:26] Badgerswork commented on #16407
Yes clarification please - I have set CORS on the CDN but not on the blob. Assets such as fonts and JS are being blocked. I dont want to set the CORS globally on the blob until I've moved certain stuff into separate blob

[2020-05-15 13:37] NavtejSaini-MSFT commented on #54541
@timsander1 Please check and provide insight. Let us know if you need anything from our end.

[2020-05-15 13:39] Isotop7 opened #54927 "Is this info still accurate?"
Is this the recent state? We are trying to fill a list of blocked domains using an api but I dont know if the module AzureAD is still used and recommended.
Are we able to do this within graph api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e4ee507-3d48-d93b-8f6c-59279b1c0eda
* Version Independent ID: 60683a55-6e81

[2020-05-15 13:43] VikasPullagura-MSFT commented on #54926
@PixelRobots Thanks for your feedback on improving the Microsoft Azure documentation.

Can you please share the details, on how you want to improve the error message.

[2020-05-15 13:46] PixelRobots commented on #54926
If I could do a pull request on the document that would be awesome.

[2020-05-15 13:53] VikasPullagura-MSFT commented on #54926
@mlearned can you please help on this and add your comments.

[2020-05-15 14:00] fedehermida opened #54928 "Add a custom attribute for log-in."
As seen in this example we can log in either with our Phone Number or an Email account. In order to sign in/sign up with another attribute, Would it be possible to add a custom attribute to the signInNames?

[2020-05-15 14:02] sblair01 opened #54929 "--encryption deprecated?"
--encryption blob should be --encryption-services  blob
[--encryption-services {blob,file,table,queue} [{blob,file,table,queue} ...]]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3bd4c2d-241e-8607-da8f-8903e95d7037
* Version Independent ID: 39cbd014-bb0b-3666-6e28-b1bd621b8cb9
* Content: [Enable Web Application Fire

[2020-05-15 14:05] VikasPullagura-MSFT commented on #54812
@msfcolombo

Currently connecting to a VM in a VMSS is not recommended. Based on the scaling configuration the VM's in scale set can be scaled in and out, so identifying a VM in VMSS is tricky.

Based on your ask of sharing data between VM's below are few suggestion you can consider:
- You can have a file share attached to all VM's and share data over that share.
- Try placing the VMSS behind a se

[2020-05-15 14:06] lawrenceong001 commented on #52500
hi @derisen  -- I haven't had the chance to look into this in more details. however, what I recall is that if I followed the instructions to do this without downloading the source, I get this issue.

tks
Lawrence

[2020-05-15 14:21] pacorreia opened #54930 "Invalid/invisible characters on code snippets"
Hi,

When testing code made available on this page, and after contacting support, we realized the code samples here, have invalid/invisible characters, not accepted by the SQL parser.

Please remove them.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0466515e-5991-99a2-8f60-bb5b21521873
* Version Independent I

[2020-05-15 14:27] mikeclearbank opened #54931 "Image Security Patching"
Under the section that lists the commonly used windows images. What is the timeline for these images will be updated with security patches?

Is there a source (e.g. RSS, email mail list, website) that indicates when these images have been updated with the latest security patches (e.g. Patch Tuesday).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-15 14:38] VikasPullagura-MSFT commented on #54761
@MikeRayMSFT Can you please add your comments.

[2020-05-15 14:39] lukenny commented on #54615
Roadmap and timeline for other Azure regions?

[2020-05-15 14:40] #54928 closed

[2020-05-15 14:45] fedehermida opened #54932 "Add a custom attribute for log-in."
As seen in this example we can log in either with our Phone Number or an Email account. In order to sign in/sign up with another attribute, Would it be possible to add a custom attribute to the signInNames?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee37da0-0b30-b160-ddce-5c3f1b65148b
* Version Independent ID: ff7

[2020-05-15 14:55] gustavobmichel commented on #36458
Hi, not sure if there's been any development on this. I am still struggling to use ARM templates with WEBSITE_CONTENTSHARE flag. @paulbatum how can I omit a configuration from the ARM template? I had to completely disable the step in order to get it working, but as @ggirard07 said I think that also defeats the purpose of the ARM template.

[2020-05-15 14:55] SadiqhAhmed-MSFT commented on #54901
@xaxxon Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-05-15 15:01] joergrenn opened #54933 "Details Missing or wrong to calculate cost"
I spent a considerable amount of time to estimate the billing of Application gateway / WAF v2. As others have pointed out, some of the examples are wrong.
There are details missing what actually is a persistent connection and what is a billing intervall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d

[2020-05-15 15:01] SadiqhAhmed-MSFT commented on #54903
@dhanabalan1986 Thanks for posting the query. We are actively investigating and will get back to you soon.

[2020-05-15 15:03] asinitson commented on #54095
**Issue is resolved.** Thank you for the help!

-----------------------------------

Will reply to my own question: yes, it is possible to generate manifest on a Azure DevOps CentOS Linux build agent as a separate task:

![image](https://user-images.githubusercontent.com/13285303/82062814-56fe6580-96d3-11ea-943d-9b7a942413a0.png)

![image](https://user-images.githubusercontent.com/13285303/8206185

[2020-05-15 15:03] SadiqhAhmed-MSFT commented on #54904
@JeroenDaniels Thanks for the question/ We are actively investigating and will get back to you soon.

[2020-05-15 15:04] SadiqhAhmed-MSFT commented on #54905
@cg6 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-15 15:05] MGoedtel commented on #54920
#assign @DCtheGeek who wrote this article and manages the all-up Policy content to review and respond.

[2020-05-15 15:08] SubhashVasarapu-MSFT commented on #54911
@chrisalexander , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-15 15:09] SubhashVasarapu-MSFT commented on #54925
@sblair01 , We are looking into this query and will update you as soon as possible.

[2020-05-15 15:11] davidsmatlak commented on #54713
Requested clarification from the Networking documentation owner. I'll post an update when more information is available.

[2020-05-15 15:12] anuxps opened #54934 "Azure Function is not working with HttpResponseMessage and HttpRequestMessage.CreateResponse"
# Azure Function is not working with HttpResponseMessage

I have created an Azure functions and import the nugget package for Durable Functions. The moment I have imported the package, my Azure function start throwing the following error:

 Error	CS0121	The call is ambiguous between the following methods or properties: 'System.Net.Http.HttpRequestMessageExtensions.CreateResponse<T>(System.Net.Http

[2020-05-15 15:14] nprieto95 commented on #54813
That's a slightly different scenario... in that article, the SAS token creation is being requested by user code; the scenario this is supposed to be covering is about key vault managed sas, which means Key Vault handles the token creation and it simply provides the token to the application via the Key Vault configuration provider for .net core.

[2020-05-15 15:16] SidGrundfos commented on #16473
I have run to the same problem, we need this feature. Any updates please?

[2020-05-15 15:17] porrascarlos802018 opened #54935 "Rereference MIssing how outgoing communication works."
please consider adding references on how outgoing networking works in kubernetes / AKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Independent ID: 064f4a10-bd74-f554-9550-781dd3e838cb
* Content: [Concepts - Networking in Azure Kubernetes Services (AKS) - Azure Kubernet

[2020-05-15 15:36] SubhashVasarapu-MSFT commented on #54393
@hisasima , I did observed the same result when I set the -CryptoAlgorithmOption to AES256-SHA256. Whereas, TripleDES_SHA1 works fine. Let me confirm with the respective product owner and  if needed will update the doc.

[2020-05-15 15:42] djpmsft commented on #54530
Hey @kirikintha,

The CI/CD process just creates or updates a data factory, it does not delete it. Does the 'CreateOrUpdateResourceGroup' command not work for your organization?

Thanks,
Daniel

[2020-05-15 15:42] asergaz commented on #54523
I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 15:44] ckssaas opened #54936 "Please elaborate on license requirements"
Under the Licensing section: "Using this feature requires an Azure AD Premium P1 license. "

I believe either the statement regarding licensing is false or require elaboration. The article mentions many features. Which feature? An Azure AD Premium P1 license is certainly not required to register or join a device. At least not technically. Is it a matter of remaining in compliance? If you are going

[2020-05-15 15:48] #54561 closed

[2020-05-15 15:49] reginbald commented on #54561
https://feedback.azure.com/forums/34192--general-feedback/suggestions/40422157-managed-identities-for-app-service-to-app-service

[2020-05-15 15:50] DCtheGeek commented on #54920
@jtuliani Currently, there are no policy definitions or initiative definitions that use a _Category_ specific to **Azure Arc for servers**. So instead, we are dynamically building this list by finding ones that relate to this service through it's RP (_Microsoft.HybridCompute_).  You are correct that the Guest Configuration policy definitions should be assigned via their initiative. These page are

[2020-05-15 15:50] #54920 closed

[2020-05-15 15:50] dsindona commented on #54924
@mvfolino68 Sorry for the confusion: we are in the process of updating and correcting this documentation. "Hero" image is an outdated term. Instead, in **Offer listing > Marketplace media** you will see an option to upload a "Wide" image. Let me know if you have additional questions.
#please-close

[2020-05-15 15:50] #54924 closed

[2020-05-15 15:57] dresden47 opened #54937 "Slack SP Issuer Not Referenced in KB"
In order to make this config correctly work, you must click on "Expand" next to Advanced Options in the SAML configuration page. In the "Service Provider Issuer" box, enter the workspace URL. The default is slack.com. If you do not do this, the following error will appear:

Sorry, but we’re having trouble signing you in.

AADSTS650056: Misconfigured application. This could be due to one of the fol

[2020-05-15 16:00] KrishnaG-MSFT commented on #54924
@dsindona Thanks for the super quick response. 👍

[2020-05-15 16:03] timsander1 commented on #54541
Hi @rockboyfor, thanks for spotting this! There's a small typo in the example JSON, it should really be:

{
  "id": "AndersenFamily",
  "order":
     {
         "orderId": "12345",
         "productId": "A17849",
         "price($)": 59.33
     },
  "creationDate": 1431620472,
  "isRegistered": true
}

I'll fix this so the doc is correct.

But your workaround for the existing JSON is correct, you'

[2020-05-15 16:03] timsander1 commented on #54541
#please-close

[2020-05-15 16:03] #54541 closed

[2020-05-15 16:05] ConnorMcMahon commented on #41177
In general, you may want to avoid using environment variable resolution in your host.json, as TaskHubs are an excellent way to [version your application](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning).

If you make your taskhub names slot sticky, you are going to run into many problems if you have any breaking changes in your two versions of your appli

[2020-05-15 16:09] sartoris opened #54938 "Link to expressions"
Can you add a link to more details about writing valid expressions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d678cb66-3b9e-3ade-fe25-15957b6b2537
* Version Independent ID: 76e7e206-4da3-f543-8766-d157eb57c03e
* Content: [If Condition activity in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/

[2020-05-15 16:09] KrishnaG-MSFT commented on #54158
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-05-15 16:09] #54158 closed

[2020-05-15 16:14] Molx32 opened #54939 "Pricing - First 100 domains free"
Hello,
I need clarification regarding pricing. According to the pricing information page, the first 100 frontend domains are free, then we need to pay XXX per domain.

Are those first 100 domains calculted for each Front Door instance separately ? Or is it calculated accross all Front Door instances ? I'm asking this because if I have 200 frontend domains to route using Front Door, I would deploy

[2020-05-15 16:18] jtuliani opened #54940 "Missing step"
Under collect-event-and-performance-data you need to select the workspace and select 'advanced settings', between steps 1 and 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012c35ae-69e3-dfe3-6d99-077915f5f555
* Version Independent ID: f29da76c-d984-e218-570e-06ac68d2c550
* Content: [Quickstart: Collect data from a h

[2020-05-15 16:22] dharmendramiet commented on #54908
The same commands are working when run from the data explorer in the cosmos DB account.

[2020-05-15 16:27] KrishnaG-MSFT commented on #54817
Assigning @MGoedtel for visibility, review, document enhancement consideration as appropriate and for additional insights if any. Thanks.

[2020-05-15 16:28] djpmsft commented on #54938
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions Does this help out?

[2020-05-15 16:31] hzpc-joostk opened #54941 "Databricks DNASeq pipeline docs: filename error in example script"
In the last Bash script, as a workflow example, there is a error in the filename for uploading the manifest file.

This fixes the error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 796846ea-4dff-5c31-15f7-63fb61faccd0
* Version Independent ID: 79c141f4-790b-4d18-6a04-7270e9f3438c
* Content: [DNASeq pipeline -

[2020-05-15 16:36] agileramblings commented on #18204
This seems to not work again. I've tried the exact `helm install ` from above and it didn't set the DNS label name in my resources. Where do I find the documentation for all annotations that are supported with examples? I can't find this definitive list anywhere in documentation.

[2020-05-15 16:38] mgbadr opened #54942 "is it feasible to include the VMSize in the report?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-15 16:39] shashishailaj commented on #54912
@evenlan1990 Thank you for your query. We use the github channel for documentation improvement . Did you get this issue while following any tutorial on Azure documentation? If yes , please let us know the doc url . In case this is a general question we would request you to post it on [Microsoft QnA](https://docs.microsoft.com/answers) . We will wait for your response and in the meanwhile try to fi

[2020-05-15 16:39] CeciAc opened #54943 "False cli command: "az deployment group" should read: "az group deployment""
@GeorgeWieggers commented on [Fri May 15 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/591)

Please fix this page.

The command: az deployment group
Should read: az group deployment

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c195d-22dc-a381-dedd-b829d6a3e82f
* Version Independent ID:

[2020-05-15 16:40] shashishailaj commented on #54917
@osygroup Thank you for your feedback . We will investigate and update the thread.

[2020-05-15 16:42] shashishailaj commented on #54918
@itsorch Thank you for your feedback . We will investigate and update the thread further.

[2020-05-15 16:45] shashishailaj commented on #54927
@Isotop7 Thank you for your query. We will investigate and update this thread.

[2020-05-15 16:50] shashishailaj commented on #54936
@ckssaas Thank you for your query. We have engaged the content team on this for further clarification.

@MicrosoftGuyJFlo Could you please review this request and see what can be done here ?

[2020-05-15 16:54] VikasPullagura-MSFT commented on #54880
@nishshah1 I checked with internal team on this and below are the details:

In the case you mentioned when user in Asia hitting the WVD URL will point to an endpoint in Asia based on AFD logic. However, the admin is doing management and user assignment that data lives in US and is used by the service to route the user to a VM.

Our service has metadata that is used to store the configuration for e

[2020-05-15 16:54] VikasPullagura-MSFT commented on #54880
@nishshah1
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. We will continue the discussion.

[2020-05-15 16:55] SubhashVasarapu-MSFT commented on #54911
@chrisalexander , We are working on the doc to provide a hyperlink for XLS or CSV format file soon. Meanwhile, I used Microsoft AI feature of Excel sheet to convert a picture into data and created a XLS file. Please check your mailbox.

[2020-05-15 16:57] mhopkins-msft commented on #53917
#please-close

[2020-05-15 16:57] #53917 closed

[2020-05-15 16:57] VikasPullagura-MSFT commented on #54935
@porrascarlos802018
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-15 16:57] sartoris opened #54944 "And function only takes 2 arguments"
While defining the expression for an 'If Condition' activity, the 'Add dynamic content' panel tells me "function 'and' does not accept x argument(s)" when I give the 'And' function more than 2 arguments. The documentation here shows the 'And' function allows any number of arguments. While it would be good to correct this document, it would be better to either fix the validation routine in the  'Ad

[2020-05-15 16:58] VikasPullagura-MSFT commented on #54935
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-15 17:03] mhopkins-msft commented on #54889
Hi @tomMisson,

Thanks for the input. I am actually right in the middle of updating this tutorial. I'll get it published as soon as I'm done.

Thanks,
 ~ *Mark*

#please-close

[2020-05-15 17:07] blessedwithsins opened #54945 "can't set an autoscaler profile per node pool."
just a quick question regarding this statement,

The cluster Autoscaler profile affects all node pools that use the cluster Autoscaler. You can't set an Autoscaler profile per node pool.

Does it mean that Cluster Autoscaler profile will be applied to all Node Pools available to the cluster? or to all the Node Pools for which Cluster Autoscaler profile has been applied?

---
#### Document Details

[2020-05-15 17:12] jtuliani opened #54946 "Scope of auto provisioning"
Doc states: "Security Center collects data from your Azure virtual machines (VMs), virtual machine scale sets, IaaS containers, and non-Azure (including on-premises) computers"

Doc also states: "When automatic provisioning is on, Security Center deploys the Log Analytics agent on all supported Azure VMs and any new ones that are created."

Does that mean that automatic provisioning does NOT work

[2020-05-15 17:18] APIWT commented on #41177
We are okay with breaking changes in this case because we are going to wait for the task hub to "drain" so to speak before we deploy the new version of the application. My primary concern is ensuring the slot has a different task hub name since it shares a storage resource.

[2020-05-15 17:19] mmacy commented on #46469
@hpsin Hirsch, wondering if perhaps you can take a look at this one?

[2020-05-15 17:22] APIWT commented on #41177
If we were to eventually version the task hubs, I assume we would just need to change the `host.json` file to have a new name (ie: `TaskHubV2`) and allow the executions of V1 to finish before deploying the new version anyway, correct? I'm not sure how we would even allow for V1 to finish in the context of our pipeline before performing the swap of slots.

[2020-05-15 17:30] VikasPullagura-MSFT opened #54947 ""ports" in yaml file should be integer, not string"
ipAddress:
    type: Public
    ports:
    - protocol: tcp
      port: '80'
    - protocol: tcp
      port: '8080'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03e645be-5677-9b0b-049e-4b579a5da1af
* Version Independent ID: 36f94f65-128d-f973-ec19-3f3e11b2a405
* Content: [Tutorial - Deploy multi-container group - YAML

[2020-05-15 17:30] erikerikson commented on #53851
Thank you Vikas and Ashok, I will look forward to hearing from @robinsh when they have time.  Thank you in advance!

[2020-05-15 17:34] VikasPullagura-MSFT commented on #54947
Document updated, changes will go live soon.

[2020-05-15 17:34] #54947 closed

[2020-05-15 17:35] nishshah1 commented on #54880
Hi Vikas

Thanks for the quick follow up and appreciate the feedback from product team

As you know there are many data restricted countries in the world which has data regulations that none of the data for its users Can go or reside outside of their countries

So In this case if user specific details are stored only in USA region those countries may have an issue

Another problem the global servi

[2020-05-15 17:39] js8080 opened #54948 "Jwt.Audience property is incorrect"
The description of the Jwt type says the Audience property exists and is an IEnumerable&lt;string&gt;. Through trial and error I actually found the property is called "Audiences" (plural).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-df

[2020-05-15 17:43] js8080 opened #54949 "Context variable functions are not well documented"
For example, this method:
bool TryParseJwt(input: this string, result: out Jwt)

It is not all clear how to call this function.
Through trial and error I found that it appears to work as an extension method on a string type. So using your example that reads the context.Request.Headers via TryGetValue("Authorization, out values), you can attempt to parse a JWT from a particular authorization header

[2020-05-15 17:43] nofield opened #54950 "Documentation of the fact that Key Vault secrets are cached MUST be added to this page!"
My team has been facing many bizarre issues with azure functions due to the fact that key vault referenced secrets are cached on the app service. We use key vault referenced secrets to retrieve secrets like SAS keys, that expire after a few hours. Because this behavior was not referenced in this doc, my team has wasted hours of several engineers' time trying to debug this issue. This behavior HAS

[2020-05-15 17:53] DCtheGeek commented on #29449
#reassign:DCtheGeek

[2020-05-15 17:55] DCtheGeek commented on #29449
@wickste I see the issue and am working on fixing it.  Thanks for pointing this out! Once the code to fix this issue is merged, this issue will automatically be closed.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #in-progress.

[2020-05-15 17:57] roygara commented on #54432
Alright, thanks again for reaching out. I'll close this out now.

#please-close

[2020-05-15 17:58] #54432 closed

[2020-05-15 18:03] VikasPullagura-MSFT commented on #54812
@msfcolombo As you are FTE, we will continue the discussion over email.
I will now proceed to close this issue.

[2020-05-15 18:03] #54812 closed

[2020-05-15 18:05] CeciAc opened #54951 "Link broken"
@Theragus commented on [Fri May 15 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/658)

Link for the Environmental sensor capability model under Create a device template section is broken.
I think it has been moved to :
https://raw.githubusercontent.com/Azure/IoTPlugandPlay/master/samples/EnvironmentalSensor.interface.json
Please update.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie

[2020-05-15 18:06] BharathNimmala-MSFT commented on #54940
@jtuliani Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-05-15 18:14] dertdog opened #54952 "Does the AccessTokenLifetime apply to service principal without Azure AD Premium?"
I have applied a policy to a service principle and it appears that the AccessTokenLifetime has been unchanged while retrieving a token using this service principle. However, when I apply the same policy as an organization default, the token lifetime matches the policy.

I am questioning if applying the policy at the service principal is an Azure AD Premium feature?

---
#### Document Details

⚠ *D

[2020-05-15 18:14] vladvino commented on #54879
Please assign to @mikebudzynski

[2020-05-15 18:20] axisc commented on #54160
@ntziolis yes, that is great feedback. We will get that done.

@spelluru  could you make the edits per @ntziolis recommendation.

[2020-05-15 18:24] ChadNedzlek opened #54953 "Why the Sleep(5000)"
Looking at the code, Flush is blocking, and experimentation locally proves the sleep isn't necessary and suggesting people programs just sleep for 5 seconds isn't a good idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-8803a18f9b65
* Version Independent ID: aec54012-dae3-ce18-0f8c-30749c46a7

[2020-05-15 18:25] Mike-Ubezzi-MSFT commented on #54577
@sladeedmonds Please take a look at the following Blog regarding Azure Government Storage accounts: [Getting Started with Storage in Azure Government](https://devblogs.microsoft.com/azuregov/getting-started-with-storage-in-azure-government/). The item I would like to point out is that Government has a unique endpoint FQDN versus Azure public cloud. I also want to make you aware of an [information

[2020-05-15 18:27] tomMisson commented on #54889
Thanks very much. Sounds great!

[2020-05-15 18:37] Mike-Ubezzi-MSFT commented on #54908
@dharmendramiet Thank you for bringing this to our attention. The document likely needs an update but I will step through this an identity the updates that need to be made and have that corrected.

[2020-05-15 18:41] spelluru commented on #54160
@axisc - sure. will do. Thanks.

[2020-05-15 18:43] mrbullwinkle commented on #54953
The relevant GitHub Issue explaining that flush is not always blocking is here: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407

[2020-05-15 18:45] sladeedmonds commented on #54577
@Mike-Ubezzi-MSFT The fact that Azure Gov has a unique FQDN versus the public cloud is completely irrelevant to the issue.  Perhaps you should read up on what a [Virtual Network Service endpoint](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview) actually is, and additionally, the [High Level Connectivity Architecture for Managed Instance](https://do

[2020-05-15 18:46] Mike-Ubezzi-MSFT commented on #54914
@sarah026 Thank you for bringing this to our attention. Let me walk through this and see what is occurring. What region are your services deployed?

[2020-05-15 18:50] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto Thank you for bringing this to our attention. Did you configure a private or public endpoint for your Azure SQL Database instance when you initially deployed it?

[2020-05-15 18:52] VikasPullagura-MSFT commented on #54880
@nishshah1 I will have the WVD team provide details on your ask.

[2020-05-15 18:52] VikasPullagura-MSFT commented on #54880
@stgeorgi @RoopChevuri can you please add your comments.

[2020-05-15 18:57] tobystic opened #54954 "Subnet information supplied"
`
    myVNet - for the name of the virtual network.

    10.0.0.0/16 - for the virtual network address space

    myBackendSubnet for the first subnet name

    10.0.1.0/24 - for the subnet address space.

    myAGSubnet - for the second subnet name.

    **10.0.0.0/24** - for the subnet address space.
`
[Enter feedback here]

It appears the second subnet was meant to be 10.0.2.0/24 in the exercis

[2020-05-15 19:01] stgeorgi commented on #54880
This is not the right channel to ask roadmap question and raise feature ask. What the service currently supports is well stated in our documentation. If a customer cannot use it due to compliance requiring data to stay in their geo I am sorry to say but that is it. They subscribe to our update/roadmap channel and wait until the feature is released,

Roadmap: https://www.microsoft.com/en-US/microso

[2020-05-15 19:01] Mike-Ubezzi-MSFT commented on #54577
@sladeedmonds Thank you for the update. I will have the content owner review this and update the documentation as necessary.

[2020-05-15 19:19] tebeco commented on #51447
Hello again,

As `.net5` is going to land (we all hope) in ~6month, we are begining to cross target few repositories to have a small "friction" on release date.
As I understood from
https://github.com/aspnet/Announcements/issues/408
https://github.com/aspnet/Announcements/issues/409
We will have few things to update for our libraries to be fully running on `.net 5`.

As the docs on https://docs.mi

[2020-05-15 19:20] peterwie opened #54955 "Errors in the Create a user-assigned identity and set permissions on the resource group code snippet"
two errors typing in this code snippet:

1. $idenityName should be $identityName.  The typo is consistent across the entire snippet though
2. in the `az role assignment create line` at the end, the $imageRoleDefName provided to --role has to be quoted, since it contains spaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-15 19:21] michaelthyregod commented on #54844
Yes. Thought it would automatically track it when reporting from the page, but here is the link

https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

[2020-05-15 19:22] scott1138 commented on #54894
@TravisCragg-MSFT I'd like to piggy-back on this to ask that the scenarios be made more clear.  For instance, the UDR with AKS seems more like a requirement for use, not a narrowly supported use-case.  It would seem that the only unsupported scenario is sending internet bound traffic to a VNA.  Can we add UDR to VNA as a supported scenario with the caveat it doesn't violate the one unsupported sce

[2020-05-15 19:30] VikasPullagura-MSFT commented on #54955
@peterwie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-15 19:30] VikasPullagura-MSFT commented on #54955
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-05-15 19:31] Norrch2 opened #54956 "List of Available Claims That Azure AD B2C Has Access To?"
Hello,

Recently I was playing around with IEF and was using PowerShell to browse the claims that are listed for any given user of a B2C tenant. What was interesting, is that when I tried to read the claim "PasswordProfile" and got an error saying that it wasn't supported.

Can you provide a list of claims that are available by default to IEF?

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-15 19:48] julieMSFT commented on #50646
@homeworryfree Thank you for contacting Microsoft. I am now closing this issue due to no response from you. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2020-05-15 19:48] julieMSFT commented on #50646
#please-close

[2020-05-15 19:48] #50646 closed

[2020-05-15 19:48] julieMSFT commented on #50647
@homeworryfree Thank you for contacting Microsoft. I am now closing this issue due to no response from you. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2020-05-15 19:49] julieMSFT commented on #50647
#please-close

[2020-05-15 19:49] #50647 closed

[2020-05-15 20:00] melzoghbi opened #54958 "What is availability for Azure Gov Regions for ACI"
Hi,

i am trying to deploy a Windows OS container in usgovvirignia or usgovarizona and i am getting resource is not available error when i deploy my container.

Could you update this page (Azure Container Instances availability) to provide availability for azure gov regions?

Thanks.

[2020-05-15 20:02] patrickjlee opened #54959 "This page is out of date (more than a year old): please update for Azure functions v 3.1"
The example code you give didn't compile for me. specifically.
builder.Services.AddHttpClient();

It is frustrating to find that samples don't work with the latest code.
Please will you add a new version for Azure functions 3.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Versi

[2020-05-15 20:04] melzoghbi opened #54960 "What is the availability in Azure Gov Regions"
I am trying to deploy a windows container in ACI Azure Gov in usgovvirignia or usgovarizona and i get the resource requested is not available error.

Could you update this page by providing which regions are available for ACI in US Gov Azure?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4153e809-a854-ff58-3d1

[2020-05-15 20:16] peterwie opened #54961 "Install-Module calls should probably be scoped to current user or session"
One of the script blocks calls:

Install-Module -Name Az.ManagedServiceIdentity

Which fails when you don't have admin rights.  So you should probably scope the install to the current user or session.

Though when i do that, the installation fails in this way:

PackageManagement\Install-Package : The following commands are already available on this system:'Login-AzAccount,Logout-AzAccount,Resolve-

[2020-05-15 20:17] peterwie opened #54962 "$idenityName is mispelled"
I assume this should be $identityName (with an extra t)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a82eb4-6023-683b-50ad-eb5d5ffd9f4c
* Version Independent ID: 672e6918-aa05-3f03-2497-1d3a6ac1488d
* Content: [Use Azure Image Builder with an image gallery for Windows VMs (preview) - Azure Windows Virtual Machines]

[2020-05-15 20:32] derisen commented on #52500
@lawrenceong001 I understand. Presumably there was a mistake in the authority string, I made a PR to correct a slightly misleading example, which will close this issue. Let us know if you have any further issues.

[2020-05-15 20:34] Mike-Ubezzi-MSFT commented on #54577
@srdan-bozovic-msft Closing this and escalating internally as the issue is with regard to service availability within a specific region and not with this specific document. There is nothing being communicated in the docs that let's the customer know which regions have full service availability. Neither [Azure Government storage](https://docs.microsoft.com/en-us/azure/azure-government/documentation

[2020-05-15 20:34] #54577 closed

[2020-05-15 20:56] #54510 closed

[2020-05-15 21:08] ckssaas opened #54963 "Please add instructions for iOS, Android, and macOS"
Purple box states: "you can also register devices running iOS, Android, or macOS." Unfortunately I cannot find instructions anywhere describing how to register any of these OS/devices types. There are lots of articles about MDM enrollment, but that's not the same topic. This is the topic of Azure AD registration. Please provide instructions for these platforms. Thanks!

---
#### Document Details

[2020-05-15 21:10] ChadNedzlek commented on #54953
It seems like the documentation could be a bit clearer about when and why the sleep is necessary (also, it would be awesome if that issue would be resolved, since a 5 second sleep isn't acceptable in a lot of scenarios... and also not necessary if you use the InMemoryChannel)

[2020-05-15 21:12] markjbrown commented on #54730
Thanks. I have a PR to fix. Can track from here
https://github.com/Azure-Samples/azure-cli-samples/pull/288

Thanks for reporting.

#please-close

[2020-05-15 21:12] #54730 closed

[2020-05-15 21:13] SaurabhSharma-MSFT commented on #54946
@jtuliani Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-15 21:15] ronortloff commented on #54930
Thanks for raising this @pacorreia.  pr 115424 is being deployed with cleaned up samples.

[2020-05-15 21:15] ronortloff commented on #54930
#please-close

[2020-05-15 21:15] #54930 closed

[2020-05-15 21:17] galapagosfinch opened #54964 "Old Visuals"
The images are of the old portal, they need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6efe38-d526-ddfa-0cab-3f3c453e2a67
* Version Independent ID: f8c8a602-30e2-e2ef-4ba8-78bb65f03e49
* Content: [Monitor the health of Azure CDN resources](https://docs.microsoft.com/en-us/azure/cdn/cdn-resource-hea

[2020-05-15 21:47] Mike-Ubezzi-MSFT commented on #54599
@ramakoni1 Is this an error that needs to be added to the documentation. I would add this but given the Build event, the PR process is locked.

[2020-05-15 21:48] iainfoulds commented on #53874
Thanks for the feedback, @jonwbstr

This doc was already lined up for updates, which have now been completed. These changes should go live next week.

#please-close

[2020-05-15 21:48] #53874 closed

[2020-05-15 21:51] erikerikson opened #54965 "Clarification about Twin Update Notifications"
I raised a question with my team about using device twins, particularly as a mechanism for reporting the last known state of device alarms that can occur.  I was pointed to the linked page.  There are a few notes about twin use that I couldn't sufficiently understand.  The first is:

I think I understand this and why it might be suggested and how I should decide between twins and device-to-cloud m

[2020-05-15 21:52] SeaDude opened #54966 "AppService Plan is not a prerequisite"
This is not true:

[code]

An Azure Function running on a Consumption Plan is enough to create a managed identity.

Recommend you add "...or an Azure Function" in there. Also recommend you change the left nav title of this topic to "Provide Key Vault authentication with a managed identity" (remove the words "App Service") as the URL slug (https://docs.microsoft.com/en-us/azure/key-vault/general/ma

[2020-05-15 21:53] mamccrea commented on #54212
Hi @CharmanderJieniJieni! We link to the article because you need [Azure Active Directory Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso) to use SSO with Azure Databricks. Please see this note in the article about hybrid identity:

![image](https://user-images.githubusercontent.com/38858737/82099244-bb152f80-96bb-11ea-8388-d8eebb961418.pn

[2020-05-15 21:58] sarah026 commented on #54914
West EU plz

[2020-05-15 22:04] iainfoulds commented on #53479
Sorry you ran into issues, @mardahl

For the password write permissions, the doc does currently note:

I've added info to check individual account inheritance if problems are encountered. This doc update should go live next week.

#please-close

[2020-05-15 22:04] #53479 closed

[2020-05-15 22:05] iainfoulds commented on #54559
Thanks, @vipulsparsh

This doc update has been approved and should go live next week.

#please-close

[2020-05-15 22:05] #54559 closed

[2020-05-15 22:06] TravisCragg-MSFT commented on #54913
@vishalaj1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:08] TravisCragg-MSFT commented on #54909
@SeaDude Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:09] TravisCragg-MSFT commented on #54907
@nelsonmorais Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:12] TravisCragg-MSFT commented on #54915
@EsaFazal72 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:15] TravisCragg-MSFT commented on #54921
@andrewCluey Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 22:16] TravisCragg-MSFT commented on #54922
@SafwanHussain Can you post a link to the doc you are referring to?

[2020-05-15 22:17] TravisCragg-MSFT commented on #54923
@gehudd-MSFT Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:23] TravisCragg-MSFT commented on #54929
@sblair01 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 22:24] bkieffer-VE opened #54967 "Impossible to configure the trigger with properties"
I am trying to do something simple. When one csv file is added to my blob container, I want its content to be copied in a SQL database. My pipeline is ok, when I trigger it manually, it works fine.
Now I want to set up an event-based trigger, so that the pipeline runs everytime a blob is created. But I can't figure out how to use the properties to run the pipeline only on the new file which fired

[2020-05-15 22:26] jcbrooks92 opened #54968 "Using Azure PowerShell Functions in other clouds (non-public)"
It may be helpful to document when using another cloud you'll need to specify the -Environment parameter in the profile.ps1.

if ($env:MSI_SECRET -and (Get-Module -ListAvailable Az.Accounts)) {
    Connect-AzAccount -Identity -Environment AzureUSGovernment
}

https://docs.microsoft.com/en-us/powershell/module/az.accounts/get-azenvironment?view=azps-3.8.0

---
#### Document Details

⚠ *Do not edit

[2020-05-15 22:26] TravisCragg-MSFT commented on #54931
@mikeclearbank Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:28] TravisCragg-MSFT commented on #54932
@fedehermida Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:29] mpiliotis commented on #20742
This behavior is still the case with all VMs in the patch management solution in Azure US Government.  Very frustrating.

[2020-05-15 22:29] TravisCragg-MSFT commented on #54933
@joergrenn To help us out with a direction on what exactly to fix, can you provide some details about how it is wrong? If you have a Support Request #(SR#) to go along with it please provide that as well.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 22:31] TravisCragg-MSFT commented on #54934
@anuxps can you post a link to the doc you are following?

[2020-05-15 22:33] TravisCragg-MSFT commented on #54937
@dresden47 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 22:35] julieMSFT commented on #52372
#assign:julieMSFT

[2020-05-15 22:39] stomilson opened #54969 "Link to PingAccess documentation is old version"
The link to "Configure PingAccess for Azure AD to protect applications published using Microsoft Azure AD Application Proxy" (https://support.pingidentity.com/s/document-item?bundleId=pingaccess-52&topicId=agents/azure/pa_c_PAAzureSolutionOverview.html) is old (v5.2) and should be updated to the most recent version of the documentation (v6.0), here: https://docs.pingidentity.com/bundle/pingaccess-

[2020-05-15 22:39] paulbatum commented on #36458
@gustavobmichel Sorry, I dont understand your question. The ARM template is JSON, you edit it as required. It appears as part of the appsettings section, e.g:

[code]

[2020-05-15 22:50] cwiederspan opened #54970 "Does this work with Windows node pools?"
I'm trying to go through these instructions, but my cluser has a Windows node pool, and the azure-proxy pod is getting spun up on a Windows node, and is stuck in the ContainerCreating stage. I'm assuming this pod should be running on a Linux node...? And, if so, how can I adjust the steps above to ensure that it's going to spin up properly?

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-15 22:50] sartoris commented on #54938
That's a great link! now add it to the page somewhere

[2020-05-15 22:52] julieMSFT commented on #52372
@clarkmac Thank you for contacting Microsoft. I have updated the document and you will see the changes in a few days.

I will proceed to close out this issue. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2020-05-15 22:53] julieMSFT commented on #52372
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/14986

[2020-05-15 22:53] julieMSFT commented on #52372
#please-close

[2020-05-15 22:53] #52372 closed

[2020-05-15 23:06] TravisCragg-MSFT commented on #54939
@Molx32 I am unable to tell from this as well, let me reach out for clarification regarding the pricing.

[2020-05-15 23:09] mike-urnun-msft commented on #54948
@js8080 Thank you for your feedback! We will review and update as appropriate.

[2020-05-15 23:15] julieMSFT commented on #54692
#assign:julieMSFT

[2020-05-15 23:17] julieMSFT commented on #54692
@rcabr Hello, thank you for contacting Microsoft.  I have update the document and you should see the update soon.

I will proceed to close out this issue. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2020-05-15 23:20] julieMSFT commented on #54692
#please-close

[2020-05-15 23:20] #54692 closed

[2020-05-15 23:21] DCtheGeek commented on #54970
#assign:DCtheGeek

[2020-05-15 23:22] DCtheGeek commented on #54970
@cwiederspan Thanks for the feedback. I'm looking into this with the engineers and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-05-15 23:22] NavtejSaini-MSFT commented on #54632
@santoshadithya30 Please let us know if you need further help wit this.

[2020-05-15 23:22] TravisCragg-MSFT commented on #54941
@hzpc-joostk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:24] TravisCragg-MSFT commented on #54942
@mgbadr can you post a link to the doc you are referring to?

[2020-05-15 23:25] julieMSFT commented on #54694
@atrauzzi Hello, thank you for contacting Microsoft. I think you may find more of the information you are looking for from this link on the page [Explore the Azure Synapse (workspaces preview) documentation.](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-what-is). Please take a look and see if this answers your questions about Azure Synapse Analytics.

[2020-05-15 23:27] julieMSFT commented on #54694
#assign:julieMSFT

[2020-05-15 23:27] TravisCragg-MSFT commented on #54943
@GeorgeWieggers Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:29] TravisCragg-MSFT commented on #54944
@sartoris Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:31] TravisCragg-MSFT commented on #54945
@blessedwithsins Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:35] TravisCragg-MSFT commented on #54949
@js8080 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:38] TravisCragg-MSFT commented on #54950
@nofield Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:38] TravisCragg-MSFT commented on #54951
@asergaz Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:39] TravisCragg-MSFT commented on #54952
@dertdog Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:45] TravisCragg-MSFT commented on #54954
@tobystic While it is strange to give the 10.0.1.0 subnet first, there is no functional issue with this lab.

The 10.0.0.0/24 subnet is the Application Gateway subnet
The 10.0.1.0/24 subnet is the VM subnet .

The routing is done by assigning the VM names to backend pools, so it does not matter what subnets the VM are in.

We will now proceed to close this thread. If there are further questions re

[2020-05-15 23:45] #54954 closed

[2020-05-15 23:47] rayluo opened #54971 "Device Flow statement seems incorrect"
&gt; Device code flow doesn't work with personal Microsoft accounts.

Is this line outdated? A customer tested this, and it seemed working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd4f98b7-3d87-6a84-8247-20a8893f7e98
* Version Independent ID: 01482485-7e2b-5621-897b-850618ef3f1e
* Content: [Supported account typ

[2020-05-15 23:47] TravisCragg-MSFT commented on #54928
@fedehermida I see you have closed this issue, let me know if you need further assistance.

[2020-05-15 23:47] MicrosoftGuyJFlo commented on #54936
As it says in the doc "To find the right license for your requirements, see [Comparing generally available features of the Free, Basic, and Premium editions](https://azure.microsoft.com/pricing/details/active-directory/). That page is the source of truth for detailed licensing. For the best results with other parts of Azure AD we are recommending at least Azure AD Premium P1.

[2020-05-15 23:47] MicrosoftGuyJFlo commented on #54936
#please-close

[2020-05-15 23:47] #54936 closed

[2020-05-15 23:48] TravisCragg-MSFT commented on #54958
@melzoghbi can you post a link to the doc you are referring to?

[2020-05-15 23:49] TravisCragg-MSFT commented on #54964
@galapagosfinch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 23:51] TravisCragg-MSFT commented on #54956
@Norrch2 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:52] TravisCragg-MSFT commented on #54959
@patrickjlee Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:54] TravisCragg-MSFT commented on #54958
@melzoghbi closing as a duplicate of #54960

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-15 23:54] #54958 closed

[2020-05-15 23:54] TravisCragg-MSFT commented on #54960
@melzoghbi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 23:55] TravisCragg-MSFT commented on #54961
@peterwie Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:56] TravisCragg-MSFT commented on #54962
@peterwie Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:57] TravisCragg-MSFT commented on #54963
@ckssaas Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-15 23:58] TravisCragg-MSFT commented on #54965
@erikerikson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 00:15] EklipZgit opened #54972 "Clarify the "100 available addresses" requirement, which does not appear to be true."
https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#private-network-connectivity “When assigning a subnet to your function app in a Premium plan, you need a subnet with enough IP addresses for each potential instance. We require an IP block with at least 100 available addresses.”

does not appear to be true, or at least not enforced. I have several ElasticPremium ASPs lin

[2020-05-16 00:29] EklipZgit opened #54973 "Better documentation needed around what an App Service Plan is, and clearer differentiation of the 3 options in Function App creation."
This page fails to clearly talk about the App Service Plan that you have to create for Premium. https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan
“Hosting plan that defines how resources are allocated to your function app. Select Premium, and then select the defaults for Windows Plan and Sku and size.”

The fact that all 3 Function App UI options (Consumption, Premium,

[2020-05-16 00:44] RamyasreeChakka commented on #54970
@cwiederspan Thanks for trying out Azure Policy add-on and reporting the issue. At this time, Azure Policy Add-on is supported only on Linux node pool.

@DCtheGeek will update the documentation regarding the support.

We are also looking into fixing the issue by setting the affinity for Azure Policy pods to deploy on Linux node pool.

[2020-05-16 01:17] nthewara opened #54975 "ExpressRoute - Internet User Defined Route"
0/0 UDR for internet traffic shouldn't be required if we are already using NVA's and NVAs can route traffic out to the internet without doing any inspection / filtering. This will allow central monitoring / logging for all ISE related traffic rather than having to route traffic out to the internet directly. Can we please get the document updated to make sure this is an optional configuration.

---

[2020-05-16 02:14] LifeRyuto commented on #54916
@Mike-Ubezzi-MSFT
I configured both of them to test it. If you configure private endpoint, all resources within vnets that can connect to the vnet azure sql database(or private link?) belongs can connect to it without ip firewall rule. Could you please test the ip firewall rule with private ip and with public endpoint of Azure Sql Database?

[2020-05-16 02:28] gunner007ccd opened #54976 "Enabled 2FA with phone/email but Authenticator app is only option"
So using Azure AD and was looking to enable 2FA. I figured I had set it up and given options to phone/e-mail/authenticator app. Now when I attempt to login, I only get the 2FA app option. I was never able to set it up because my browser had crashed when trying to save the features. Now I cannot get into my admin portal and I'm the only admin.

I use the app for my personal account, when I try to s

[2020-05-16 04:07] rjisom commented on #54509
"Verify that the Certificate is selected from the dropdown."

This is not the case as my recently downloaded certificate is not displayed in the dropdown. I have tried numerous trust setting for the certificate itself but it still refuses to reveal itself within the dropdown.

[2020-05-16 04:30] heresabya opened #54977 "Download Blob from a (nested)Azure Container Folder Path"
Tried with following configuration and code
Azure Container : input
Folder Path : 2020\05\14\15 (inside the container input)
File Name : nmapips.json (inside the above folder path).

Used following code :
import os
import uuid
import sys
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient, PublicAccess ,ContentSettings ,BlobProperties

def run_sample():
    try:
        c

[2020-05-16 04:37] avinash-singh816 commented on #53749
Hi phannybawz

Can you try to install the MSIX package directly and see what happens? I think the MSIX package install will fail because it might not be Trusted.
![image](https://user-images.githubusercontent.com/65436150/82110568-05022200-975d-11ea-831b-f51ef9720e90.png)

[2020-05-16 04:40] avinash-singh816 commented on #53749
Hi,
Can Anyone help with this
I can confirm I have Win 10 Enterprise insider, domain joined, build version 19041, the package is duly signed as well

![image](https://user-images.githubusercontent.com/65436150/82110590-409cec00-975d-11ea-91df-cebe8c415ff7.png)

[2020-05-16 05:10] heresabya commented on #54977
ONE SOLUTION :

import os
import uuid
import sys
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient, PublicAccess ,ContentSettings ,BlobProperties

def run_sample():
    try:
        _blob_url="https://XXXX.blob.core.windows.net/input/2020/05/14/15/nmapips.json"
        _credential="XXXXX"
        blob_client = BlobClient.from_blob_url(blob_url=_blob_url,credential=_cred

[2020-05-16 05:15] mohankrr commented on #18508
Another potential fix: I had the domain name in camel case.... I added another CORS entry with lower case and it worked..

[2020-05-16 05:25] MarcSkovMadsen commented on #21044
FYI.

I've contributed a guide on deploying Panel to the reference documentation of Panel.

See https://twitter.com/MarcSkovMadsen/status/1261527586477309953?s=20

When the PR is approved it will be available at https://panel.holoviz.org/user_guide/Server_Deployment.html

[2020-05-16 05:26] #54976 closed

[2020-05-16 05:44] amanmcse commented on #54557
@kkern13 Thank you for updating the document. I am closing the issue now.

[2020-05-16 05:44] #54557 closed

[2020-05-16 05:54] amanmcse commented on #54732
@shereen-yong Closing the issue now. Feel free to tag me in your reply if you have any question.

[2020-05-16 05:54] #54732 closed

[2020-05-16 05:55] amanmcse commented on #54786
@Norrch2 Have you had a chance to test this out?

[2020-05-16 05:56] SadiqhAhmed-MSFT commented on #54967
@bkieffer-VE Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 05:58] SadiqhAhmed-MSFT commented on #54968
@jcbrooks92 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-16 06:00] SadiqhAhmed-MSFT commented on #54969
@stomilson Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-16 06:02] SadiqhAhmed-MSFT commented on #54971
@shashishailaj Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 06:04] SadiqhAhmed-MSFT commented on #54972
@EklipZgit Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 06:06] SadiqhAhmed-MSFT commented on #54973
@EklipZgit Thanks for the feedback. We are looking into this and will get back to you shortly.

[2020-05-16 06:08] SadiqhAhmed-MSFT commented on #54975
@nthewara Thanks for the feedback. We are looking into this and will get back to you shortly.

[2020-05-16 06:11] BharathNimmala-MSFT commented on #53936
@tfitzmac Can you please help on this thread, if you have any further pointers ? thank you

[2020-05-16 06:31] SadiqhAhmed-MSFT commented on #54976
@ghost Sorry for the delay in response to your query. Were you able to resolve the issue? Let us know if you need any assistance in this matter.

[2020-05-16 07:10] stgeorgi commented on #53749
1) Are store updates turned off?
2) 3cf9 usually indicates bad install which is tied to a packaging error (especially since Notepad has been done many times based on telemetry and articles in the community)

Was installing the MSIX package prior to putting in VHD and MSIX app attaching tried?

[2020-05-16 07:29] nprieto95 opened #54978 "Collections supported?"
I'd like to have my cors allowed origins defined in named values;
Since the cors policy does not allow comma-separated origins and instead requires one node per origin, I was wondering how I can manage dynamically setting origins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 336f4e1b-62f2-fde1-d31f-a7cc30fc857c
* Ver

[2020-05-16 08:19] shashishailaj commented on #54264
@RescueWhale This may give you error in Powershell ISE but it works in normal powershell (x64) window on Windows 10. We have this reported to the team internally and this is being looked into for powershell ISE . I would suggest you to check thi sagain on any windows 10 machine in your environment . It must work. We will close this issue now Should you have any further queries , please tag me to y

[2020-05-16 08:19] #54264 closed

[2020-05-16 08:40] ajsing opened #54979 "Similar docs for ARM VM Architecture/Workflow"
Hi Team,

This document provides great insight about Azure Classic VM / VM role architecture and deployment workflow but I'm looking for something similar VM architecture details ARM as well because there have been many changes with ARM in last few years but couldn't find any deep dive architecture like this one documented. Could you please have that documented as well that would be really helpful

[2020-05-16 08:40] steve-homer commented on #26197
Did the commenters here even read the original question? The "answers" certainly suggest they didn't.

[2020-05-16 08:42] arida2200 opened #54980 "python"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 884b5e88-48eb-c3ad-1995-7cd87339783b
* Version Independent ID: e06cfd58-46d0-200a-5967-c6a1a7276997
* Content: [Quickstart: Use the Anomaly Detector client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/a

[2020-05-16 08:57] thomaux commented on #49245
@JennyLawrance Any update on this? I emailed you the app's URL

[2020-05-16 09:37] DixitArora-MSFT commented on #54886
@ewilson I am glad that the issue is resolved. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-16 09:37] #54886 closed

[2020-05-16 09:38] DixitArora-MSFT commented on #54848
@Kitwradr Since we haven't heard back from you. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-16 09:38] #54848 closed

[2020-05-16 09:50] umeshbarapatre commented on #45378
@rwike77 - would you be able to get this issue confirmed with PG as when i wrote this article the scope of SAML bearer assertion flow was with a third party idp. What i can understand from keith and dominic is they want to use azure as an idp and use the v2.0 endpoint.
@keithdv and @dominic1904 - Unfortunately i do not have this info and would let MS team confirm

[2020-05-16 10:13] SafwanHussain commented on #54922
Hi @TravisCragg-MSFT  , I am referring to Microsoft docs and some other links online for CosmoDB Indexing Policies,
[https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-indexing-policy?tabs=dotnetv2%2Cpythonv3](url)
[https://azurecosmosdb.github.io/labs/dotnet/labs/04-indexing_in_cosmosdb.html](url)

Note: I observed that the index size on the container in the Metric section ,doesn't ch

[2020-05-16 10:20] harouny opened #54981 "When auto forwarding Subscription DLQ via "ForwardDeadLetteredMessagesTo" and destination is disabled, deleted or at maximum capacity"
What's the behaviour when auto forwarding subscription DLQ is turned On via "ForwardDeadLetteredMessagesTo" property and destination is disabled, deleted or at maximum capacity?
Will the message stay in subscription DLQ? And will there be a property in the message that tells us about the error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-16 11:23] Kitwradr commented on #54848
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-cli?tabs=bash%2Cbrowser&pivots=programming-language-csharp Here is the link for the docs

[2020-05-16 11:23] shankarpandala opened #54982 "Example to receive feed using python"
I am looking for an example to receive interactive brokers realtime quotes using python.

I am actually looking to build a high frequency trading application using Azure machine learning, this is one thing that is stopping me to even start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b6ba63-6a6f-470e-33fc-01d7fa89

[2020-05-16 11:30] DixitArora-MSFT commented on #54631
@NoahLangenwalter I have assigned this to content author for further review and update as appropriate.

[2020-05-16 11:42] DixitArora-MSFT commented on #54667
@w0ut0 Follow this [Github](https://github.com/Azure/Azure-Functions/issues/210) issue. This has been discussed in detail.

For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-16 11:42] #54667 closed

[2020-05-16 11:48] DixitArora-MSFT commented on #54681
@ianphil Thanks for putting this up. Will really appreciate if you can contribute to the PR and author will verify those. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-16 11:48] #54681 closed

[2020-05-16 11:55] si-chan opened #54983 "Cache storage"
This section clearly says that GP v2 accounts are "supported" but "not recommended".
However, there is no line which says what the recommendation is (which I understand to be GPv1 storage accounts at this time).
It would be good for this line to be added, since this helps with Google / Bing searches (it took me a while to find this page today as I was searching on GP v1 accounts)

---
#### Documen

[2020-05-16 11:56] DixitArora-MSFT commented on #54728
@balukantu I have assigned this to content author for further review and update as appropriate.

[2020-05-16 12:11] atrauzzi commented on #54694
Sorry, no. A generic explainer is not really what I'm asking for here. I'm looking for much more detail with practical examples.

[2020-05-16 13:16] nexxuno commented on #54529
Ok, I'm using Xamarin, I've tried the compact S1 but as far as I understand it needs a Flex delegate for the tensorflow.lite interpreter to be parsed. Unfortunately it's not available in the Microsoft tensorflow library for Xamarin as far as I know, I've opened a new request here:

https://github.com/xamarin/XamarinComponents/issues/867

I'll try and see if I can port the python post processing in

[2020-05-16 13:58] bestreaction commented on #53940
Any update on this issue?

[2020-05-16 14:43] gjbdebug commented on #54500
Sure. A statement under the "Set up your PowerShell environment" heading reads "Windows Virtual Desktop cmdlets currently only work with PowerShell Core.". However, my post's content demonstrates following the instructions, including importing the  Az.DesktopVirtualization module and executing AzWvd cmdlets, under regular PowerShell, not PS Core.

[2020-05-16 14:45] DCtheGeek commented on #54970
@cwiederspan Thanks for pointing this out.  I'm updating the doc to add this information.  When that PR merges, this issue will automatically close. Thanks again!

[2020-05-16 15:20] elmt1 commented on #48346
There were breaking changes in V2 of the Application Insights SDK. In particular, the signature changed for some JavaScript calls like trackPageView and trackException. The examples on this page are still showing the old way of calling. For example this page shows the following example, which will not work with V2:

appInsights.trackPageView("tab1");

It should be something like:

appInsights.trac

[2020-05-16 15:23] mcsinghbisht opened #54984 ""after completion" in "source option""
When will the action under "after completion" in "source option" will execute.
Will it only execute if all the components in the data flow completes successfully? please also consider the case when there are more than one sink in the data flow. Just want to understand when this action will trigger(say if I have move option selected)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-16 15:33] mdbill opened #54985 "Hosts assigned to partitions"
I don't see any way (using this high level change feed processor) to set up a host instance to process only specific partitions as shown in your diagram (cities A-E).
Your code example is missing where/how changefeedbuilder would set that up.   The API doesn't seem to have .options any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-05-16 15:47] saifeemustafaq opened #54986 "ERROR: Could not find a version that satisfies the requirement azure-functions"
After doing F5 to run the function locally, I get the following error:
--------------------------------------------------------------------------------------------------
&gt; Executing task in folder azfunc: .venv\Scripts\python -m pip install -r requirements.txt &lt;

WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting azur

[2020-05-16 15:55] qJake commented on #39711
I am in the same boat. Someone in my org erroneously *named* the IP address using an IP address, but they are different. So I have a scenario like this:

**Name:** 1.2.3.4
**IPv4 Address:** 5.6.7.8

This hosts a production resource and we cannot lose this static IP address.

How can I rename this resource so that the *name* isn't set to "1.2.3.4"?

[2020-05-16 16:24] vipulsparsh commented on #54927
@Isotop7  What API are you using ? It uses another API and not the Graph API. Have a look :
![image](https://user-images.githubusercontent.com/63580915/82124874-9efab680-97bf-11ea-8dec-0beab8128930.png)

Are you using the same ?

[2020-05-16 16:57] anuxps commented on #54934
It is not mentioned in any documentation but whenever you just create an Azure function v1 or v2 type and after that import the nugget package of Durable Function, we are getting this error. I am not having any custom code. All default code itself is breaking.

[2020-05-16 16:59] SadiqhAhmed-MSFT commented on #54977
@heresabya Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 17:00] w0ut0 commented on #54667
Hi @DixitArora-MSFT
it is clear that you need to sync triggers if you want to "sync the triggers" (eg. you change the url of the blob you are watching).

Can you confirm that we also need to "sync triggers" when we change some internal code of the function, without touching the bindings (eg. add a log line)?

[2020-05-16 17:01] SadiqhAhmed-MSFT commented on #54978
@nprieto95 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 17:02] SadiqhAhmed-MSFT commented on #54979
@ajsing Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 17:07] SadiqhAhmed-MSFT commented on #54980
@arida2200 Thanks for the comment. Would be glad to help you, if you could provide more details about your ask.

[2020-05-16 17:09] SadiqhAhmed-MSFT commented on #54981
@harouny Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 17:10] SadiqhAhmed-MSFT commented on #54983
@rayne-wiselman Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-16 17:17] SadiqhAhmed-MSFT commented on #54982
@shankarpandala Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-16 17:20] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto With public endpoint only public IP address/ranges are accepted to the firewall allow list. As you stated with a private endpoint, all resources within VNET or [private link](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview) can connect. You will need to add a private link or add the VM to a VNET and allow that VNET access to your Azure SQL Database. You cannot

[2020-05-16 17:42] ezYakaEagle442 opened #54987 "Private cluster doc not completed"
The goal of this page is described with "Setup the prerequisites and create the required virtual network and subnets. Deploy a cluster with a private API server endpoint and a private ingress controller" but it looks like a copy/paste of the public cluster tutorial https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster , what about apiserver visibility & ingress visibility ?
Also

[2020-05-16 18:22] veler commented on #39152
@jerm I'm facing the same issue. Postman and Chome indicates the content type is "application/json". Did you find a workaround?
Ping @FrankHu-MSFT

[2020-05-16 18:24] WilliamXieMSFT opened #54988 "Add "URL Authorization Rules" details under "Allow Anonymous requests (no action)" section"
This [blog](https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html) discusses the ability to customize the authorization of an App Service's subdomains. Would it be possible to include information from that blog onto this page or redirect to a page that discusses the URL authorization rules if it exists?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-16 18:25] veler commented on #35934
Hi @FrankHu-MSFT, I'm facing the same issue. Postman and Chome indicates the content type is "application/json". I tried creating a new user in the portal as you suggested but that doesn't fix the issue.
My file is hosted on a Apache server.

[2020-05-16 18:39] FrankBurmo opened #54989 "Expanding Language support for chit-chat?"
Are you planning to expand the supported languages for chit-chat? It's no realistic to create a qna-bot in another language, as long as the chit-chat support is not there. I'm waiting for Norwegian langauage-support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d0609c-6004-24ad-5446-88bdddd41b70
* Version Independe

[2020-05-16 19:09] balaji830 commented on #51706
I don't want to speak for the OP. I think architectural diagrams would be lot better when you are describing a concept. Probably y'all need to take a leaf out of AWS documentation.

[2020-05-16 19:30] arijit-nanda opened #54990 "#Unable to install AZ Module on Windows 7 OS"
![AZ Error](https://user-images.githubusercontent.com/64497133/82128547-a5962780-97d9-11ea-827e-4f930092dd4a.JPG)

Kind give a solution solution for this..I have also proper internet connection,still showing this error.

[2020-05-16 19:31] crisansou opened #54991 "How to delete a group after removing ACL permissions?"
Hello,

I created the script below to assign ACL permissions to a group. I can give access to the group, but when I remove access, eg. ---, the group remains there. Does anyone know how to delete the group from the directory when the permission is removed?

![image](https://user-images.githubusercontent.com/29444086/82128446-ac994780-9791-11ea-988a-ec680fc1e204.png)

`
<# Example
resourceGroup: rg

[2020-05-16 19:49] blueelvis opened #54992 "How do assets like secrets, certificates etc. are managed and handled on the Hybrid worker?"
Hi,

Could you please add some information on how the assets like secrets, certificates are stored and transferred by a Hybrid Worker which is connected to the Azure Automation Account?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b5a07

[2020-05-16 20:16] EsaFazal72 commented on #54915
@TravisCragg-MSFT @Karishma-Tiwari-MSFT  One more thing to add to the issue. I realized I did not install Nvidia drivers to the virtual-node(ACI) because I read somewhere that they come preinstalled in the virtual-node. I followed this [article](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#install-nvidia-drivers) to install the drivers. According to the article the YAML file installs GPU

[2020-05-16 21:13] mulasien opened #54993 "Invalid Connect Monitor title"
For naming your connection manager 'myVm1-myVm2(22)', parenthesis are not a valid character. I had to modify the name compared to the source documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-acb4-6d93-62ee9ff60d43
* Content: [Tutor

[2020-05-16 21:22] jcarney4 opened #54994 "Broken link"
In the following sentence the "view" link is broken.
"Let’s now step through the hotel reviews skillset, you can follow the tutorial to create the skillset or view the skillset. We are going to look at:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5166a12-d1d2-3330-b283-85f32215636a
* Version Independent ID: 4740c5

[2020-05-16 21:30] artisticcheese opened #54995 "How do dates work with query input?"
Hello,

I'm trying to execute valid SQL query to pull Products based on `updated_at` column but it fails with error below

[code]

Source
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881dd250-a14d-23c2-09e1-bb0d9cf4344a
* Version Independent ID: 9b21f0d1-7827-9805-8e3e-50ac98ce5b4d
* Content: [Copy data from S

[2020-05-16 21:35] TravisCragg-MSFT commented on #54984
@mcsinghbisht Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:36] TravisCragg-MSFT commented on #54985
@mdbill Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:37] TravisCragg-MSFT commented on #54986
@saifeemustafaq Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:37] TravisCragg-MSFT commented on #54987
@ezYakaEagle442 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:38] TravisCragg-MSFT commented on #54988
@WilliamXieMSFT Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:39] TravisCragg-MSFT commented on #54989
@FrankBurmo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:42] TravisCragg-MSFT commented on #54995
@artisticcheese Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:43] TravisCragg-MSFT commented on #54994
@jcarney4 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:44] TravisCragg-MSFT commented on #54993
@mulasien Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:44] TravisCragg-MSFT commented on #54992
@blueelvis Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:45] TravisCragg-MSFT commented on #54991
@crisansou Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-16 21:48] TravisCragg-MSFT commented on #54990
@arijit-nanda please [follow the instructions listed Here](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-3.8.0), making sure your Powershell version is up to date. also, is there a doc you are trying to follow? If so, link it here.

[2020-05-16 22:10] rjisom opened #54996 "Cert won't display under Authentication Settings (macOS Catalina)"
After adding the certificate to my keychain the certificate is not a selectable certificate under "Choose An Identity".

I tried reinstalling the cert but it still won't show up as an option.

I was redirected to this page: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-troubleshoot-point-to-site-osx-ikev2 , but this was a waste of time as it did not answer my original question.

"

[2020-05-16 22:24] pablolaurin opened #54997 "When I get access token from /{tenant}/oauth2/v2.0/token, I get "expires_in" as string"
If I use this token endpoint:  /{tenant}/oauth2/token
I get "expires_in" as a string:  "expires_in": "3599". I'm using my own tenant and app id in this case.

However, if I use this endpoint: /common/oauth2/v2.0/token
I get "expires_in" as an integer: "expires_in": 3599. I'm using the Postman  Samples provided in the document in this case.

Why?

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-17 00:02] wdspider commented on #44467
For others that stumble upon this after me, this comment:
https://github.com/Azure/AppConfiguration/issues/221#issuecomment-602113631
points to a sample that I was able to get working:
https://github.com/Azure/AppConfiguration/blob/master/examples/DotNetCore/AzureFunction/FunctionApp/Startup.cs

[2020-05-17 00:47] b0naf1de opened #54998 "Encoding change to UTF-32 breakes Stream Analytics Job"
Latest device application code changed message format from ASCII/UTF-8 to UTF-32. Stream Analytics Job only accepts UTF-8 encoding, so it produced deserializaition errors on the contosoinput.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d2af37f-a62d-13c8-2bce-626231e12824
* Version Independent ID: 557bcb4d-855a-22f1

[2020-05-17 01:07] ssharmaz commented on #54850
Any update on this ? Also looking for
**from dbxdemo.spark import get_spark
from dbxdemo.appendcol import with_status**

[2020-05-17 01:42] imstbilisim commented on #34451
I have a simillar issue. On linux server I am using startup.sh to run my java solr service which run on port 80. But azure says it could not ping http 80. I could not figure it out.

[code]

[2020-05-17 02:25] dondumitru commented on #53073
I haven't tried this yet, but it seems like there is a race condition if you want to use a custom VNet in a different resource group, combined with using a managed identity for managing networking:
- You create the VNet.
- You need to do a role assignment for the managed identity, applied to the the VNet.
- Since it is a system assigned managed identity, the identity isn't created until you create

[2020-05-17 02:33] JJ11teen opened #54999 "How to interpret score?"
Would be good to have a section detailing how to interpret the "score" of returned entities (or if it already exists a link to it).
Thanks :)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe556b84-8429-ced1-e5fb-f9f567e72b3b
* Version Independent ID: 2e40c5db-f3ca-b816-3f17-60492bd11606
* Content: [Use entity recognit

[2020-05-17 03:52] arvind-dhariwal opened #55000 "CLI 2.5.1 does not have sub group fs"
C:\Users\arkum&gt;az storage fs file list -f container-123 --account-name testsas12345 --auth-mode login
az storage: 'fs' is not in the 'az storage' command group. See 'az storage --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overvi

[2020-05-17 04:11] SadiqhAhmed-MSFT commented on #54996
@rjisom Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 04:12] dheerajkumar-solanki commented on #54902
okay, got it.

[2020-05-17 04:13] SadiqhAhmed-MSFT commented on #54997
@pablolaurin Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 04:18] SadiqhAhmed-MSFT commented on #54998
@b0naf1de Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 04:20] SadiqhAhmed-MSFT commented on #54999
@JJ11teen Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-05-17 04:22] SadiqhAhmed-MSFT commented on #55000
@SumanthMarigowda-MSFT Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 04:24] dheerajkumar-solanki commented on #54902
In the [Previous_Reply](https://github.com/MicrosoftDocs/azure-docs/issues/54902#issuecomment-629050204), you mentioned in the first line that

What do you mean by that, Is automatic Vacuum possible?

[2020-05-17 04:49] dlech opened #55001 "WindowsAzure.Storage .NET SDK link out of date"
This links to https://www.nuget.org/packages/WindowsAzure.Storage/ which says:

&gt; NOTE: As of version 9.4.0, this library has been split into multiple parts and replaced:  See Microsoft.Azure.Storage.Blob, Microsoft.Azure.Storage.File, Microsoft.Azure.Storage.Queue, and Microsoft.Azure.Storage.Common.
&gt;     For table support, see Microsoft.Azure.CosmosDB.Table.

---
#### Document Details

⚠

[2020-05-17 06:40] AdamCoulterOz commented on #52880
really would like this extension to utilise managed identity instead of SAS token... this is not a great experience considering this is the native linux diagnostics extension for azure vms. Should default to use managed identity if no sas token is specified.

[2020-05-17 06:58] neobie commented on #39665
Download fresh from Azure and put in my domain, but still failed. Any update on this?

[2020-05-17 07:20] oshihirii opened #55002 "Redirect URI options"
The `Redirect URI` area has more than the two options described in the documentation, for example `Single Page Application`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Quickstart: Register apps with Micro

[2020-05-17 07:47] mc0re opened #55003 "Please clarify the limits"
If I understand correctly, a streaming locator defines the actual key ID used for content protection. When creating a streaming locator, one needs to attach a content key policy - which is created separately on the account.
The key in the streaming locator is bound to "cencKeyDefault" in the content key policy, `StreamingLocatorContentKey` class. I can't see how to create additional key names with

[2020-05-17 07:49] bhavanikp84 opened #55004 "xhr request fails unless remove space near function paranthesis"
setAuth: function (token) {
    $http.defaults.headers.common['Authorization'] = 'Bearer ' + token;
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02b6-8f510d8059b0
* Version Independent ID: 24d09b70-d144-d152-ac5a-c49219a5d8e8
* Content: [Tutorial: Authenticate users E2E - Azure App Service](https

[2020-05-17 08:39] Isotop7 commented on #54927
Right now I'm not using anything. As I try to update this list in a c# program, I wanted to use a simple request to the Graph API. Sadly this setting is not implemented right now.

I read that I could use this undocumented API but is this a proper thing to do?

[2020-05-17 09:37] Vdevtest opened #55005 "Recovery email clarification"
Hello. Say for example I have a personal Microsoft account (test@outlook.com). I install Microsoft Authenticator on iOS (with an iCloud account etc), and use the app for passwordless/2FA access to test@outlook.com. I also have iCloud Backup enabled in the app, and the recovery account is also test@outlook.com.
Is this setup correct and appropriate? If I lose my iOS device, get a new one, can I rec

[2020-05-17 10:43] durairajasivam commented on #54630
@Mike-Ubezzi-MSFT Thank you for your response and advice. sorry for not too specific with functionalities.

 I will post the question in Stack Overflow.

[2020-05-17 10:51] v-mohaly opened #55006 "VAlidation error with Hyper-V appliance"
Am trying to use Hyper-v migrate assessment appliance, but during the validation i receive the below error
Request processing failed due to reason:
'The WS-Management service cannot process the request.
The CIM namespace root/virtualization/v2 is invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ae98c62-5ab8-9d1a

[2020-05-17 11:29] voteopolis opened #55007 "Azure, xamarin, signalr, connections issues"
Hello
Starting new xamarin signalr project.
Had much trouble installing/uninstalling the various signalr nuget packages to get the basics operating...
now have and all sample code/methods compiles correctly. Deploys to Samsung-Android. Only connection string throws exception - time out...
these are the packages installed:
base dependency packages -> using aspnetcore.signalr.client
web dependecies

[2020-05-17 11:36] devlife opened #55008 "Cannot load file or assembly"
I'm having an issue running `Import-Az.ApplicationMonitor`. Any ideas?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e5b161-ef9e-41a7-8eff-14202a9556f6
* Version Independent ID: 90a657f8-a6c5-def6-1f4b-fd3081da1493
* Content: [Azure Application Insights Agent - getting started - Azure Monitor](https://docs.m

[2020-05-17 11:55] over2under42 opened #55009 "Github entity ID"
In the page (Configure Azure AD SS - Step 4) there are directions to add a URL with an 'entity ID' but there are no steps where to pull that information from. I have looked at the GitHub directions and still don't see this. Since Microsoft also owns GitHub where do I get the 'entity id' from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-05-17 12:29] MonikaReddy-MSFT commented on #55008
@devlife ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-17 12:31] MonikaReddy-MSFT commented on #54665
@cocowalla - I'm going to assign this to the document author so they can update the document accordingly.

[2020-05-17 12:34] MonikaReddy-MSFT commented on #54689
@ronikurnia1 -Thanks for bringing this to our attention. I have confirmed the same with PG and the doc stands accurate.

So at this moment, since there are no doc changes, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-17 12:34] #54689 closed

[2020-05-17 12:49] MonikaReddy-MSFT commented on #54825
@brunis - I hope you have raised the issue in the above mentioned Github issue.

At this moment, since there are no doc updates, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-17 12:49] #54825 closed

[2020-05-17 13:04] luisjmlky opened #55010 "Error reviewing in the portal the InputDataset"
Hi, I create the input dataset in power shell. When I went to review the object in the Azure portal show me an error "Could not load resource 'InputDatasetPowerShell'. Please ensure no mistakes in the JSON and that referenced resources exist. Status: UnknownError, Possible reason: Fetch failed for named: dataset$inputdatasetpowershell. Adapter not found. Type: dataset."

The json structure is diff

[2020-05-17 13:14] kappmeier commented on #47130
I can confirm that the same Problem also occurs when Pypicloud us set up as Azure App Service and the solution mentioned by @TynThordin works as well.

Just as reference, the db has to be initialized already before the service is stated like this:
[code]

[2020-05-17 14:05] m-malik15 commented on #30802
@MohitDhingra-MSFT I am facing the same issue. Can you kindly help?

[2020-05-17 14:17] benbucksch commented on #30802
This is the project for MS documentation, but it appears that this is a software bug. Does anybody have a way to report bugs to Microsoft, in a way that MS listens and actually fixes them?

[2020-05-17 14:19] saifeemustafaq commented on #54986
@aprilspeight helped me solve this issue. So this issue can be closed.
The solution is given by @aprilspeight:
Have you tried running the function while the __init__.py file is active on the screen?

There shouldn't be a need to modify anything in the function.json file if you're trying out the Quickstart. Therefore, ensure that you're looking at the __init__.py file when you Start Debugging (F5).

[2020-05-17 15:23] NavtejSaini-MSFT commented on #54630
Thank you @durairajasivam . We are going ahead and closing this request for now.

[2020-05-17 15:23] #54630 closed

[2020-05-17 15:25] gustavobmichel commented on #36458
Hi @paulbatum, thanks for coming back to me. I thought you mentioned about programatically omitting the settings from JSON template, so that was my question.

As others stated I also thought these two settings were required, so I removed the two from my ARM template.

To test this feature with zero-downtime I created a simple test with the bare mininum infrastructure to test it. I removed all the

[2020-05-17 16:16] amp64 opened #55011 "Make each keyword a link"
This is a great summary of operators, but each name needs to link to its actual documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 641bdba6-a2e2-640a-abab-2535734271c5
* Version Independent ID: e7973dd0-9d2f-846d-0724-4d44be81cda8
* Content: [Useful operators in Azure Monitor log queries - Azure Monitor](htt

[2020-05-17 16:32] SadiqhAhmed-MSFT commented on #55001
@dlech Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@sakash279 FYI.

[2020-05-17 16:34] SadiqhAhmed-MSFT commented on #55002
@oshihirii Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 16:36] SadiqhAhmed-MSFT commented on #55003
@mc0re Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 16:38] SadiqhAhmed-MSFT commented on #55004
@bhavanikp84 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 16:40] SadiqhAhmed-MSFT commented on #55005
@Vdevtest Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 17:01] CelesteDG commented on #30802
We apologise for the lack of response. The issue is marked Close so this hasn’t been bubbling up to the top. Our small team can help address doc issues but for software issues, here are the various ways to get help: https://docs.microsoft.com/en-us/azure/active-directory/develop/developer-support-help-options

Thank you.

[2020-05-17 17:04] Yamank opened #55012 "Missing Qyzylorda Standard Time Zone."
Why **Qyzylorda Standard Time** is missing from **"List of supported time zones"** Section in [Time zones in Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-timezone#list-of-supported-time-zones)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd48a

[2020-05-17 17:12] SadiqhAhmed-MSFT commented on #55006
@v-mohaly Thanks for the question!
This seems to be an issue with WinRM configuration on the Hyper-V host/Cluster node. If this VM is part of a cluster, if possible you can remove this node from the cluster and then run the appliance.

References:
Prepare the Hyper-V hosts for assessment:
https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-hyper-v#prepare-hyper-v-for-assessment

Assess

[2020-05-17 17:15] SadiqhAhmed-MSFT commented on #55007
@voteopolis Could you share the document you are referring to?

[2020-05-17 17:16] vipulsparsh commented on #54927
@Isotop7  : Since that is an undocumented API, any use case scenario will be unsupported by us. Many other customers might have used it but again, since its unsupported you never know when this will be changed/removed.

[2020-05-17 17:16] SadiqhAhmed-MSFT commented on #55009
@over2under42 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 17:18] SadiqhAhmed-MSFT commented on #55010
@luisjmlky Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-05-17 17:56] njenekar opened #55013 "Provide instructions on how to save .yaml file after vi edit."
For windows user it's different to work on vi commands. It will be useful if provides commands to save and exit yaml file after vi edit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart: Deploy an Az

[2020-05-17 18:11] pablolaurin commented on #54997
I found my mistake. It works as documented.

I'm using the [V1 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-protocols-oauth-code) in the first case and the [V2 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) in the second. The documentation for V1 shows examples with expires_in as string. For V2, expires-in is