[2021-12-06 14:37] peterbud opened #84862 "Resource naming: name cannot contain '-'"
Documentation says that
_The Azure Data Factory team recommends using \'\_\' or \'\-\' characters instead of spaces_

Howevr '-' is not available for names, ADF gives an error message:
"name should only contain letters, numbers, underscores (_), or spaces."

The documentation should be updated to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-12-06 14:41] LitKnd commented on #73978
Thanks @SQLSourabh !

And thank you @nielsheeren for bringing this to our attention.

Kendra Little
Content Developer on the SQL Docs team

#please-close

[2021-12-06 14:41] #73978 closed

[2021-12-06 14:45] mkdeegan opened #84863 "Workload Zone Tutorial"
This tutorial does not say that is it to be run from the Deployer.

I have not seen any information about how to log on to the deployer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f7ba018-0432-78cd-9870-9931940ff1d0
* Version Independent ID: 4b2449b3-0eaf-de95-72a5-78ce4ba31f5e
* Content: [About workload zone deplo

[2021-12-06 14:50] rushifaldu opened #84864 "Support for Windows 2008 R2 referenced on this page needs to be updated?"
This article "Plan hybrid Azure Active Directory join - Azure Active Directory | Microsoft Docs" has reference of Windows Server 2008 R2 for Windows 10 Hybrid Azure AD join and we no longer support Windows 2008 R2 as per this (Windows Server 2008 R2 - Microsoft Lifecycle | Microsoft Docs) so wondering if this is still correct or someone needs to update this article? Customer is asking for this.

-

[2021-12-06 14:50] asukumar22 opened #84865 "This document does not have the NAT rule step mentioned which is mentioned for the same steps done using Azure Portal."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c64503a-ff41-c7cd-cdf6-a1def0de7642
* Version Independent ID: b0f38454-6858-0a64-9fbd-b0aada0b8e2e
* Content: [Deploy and configure Azure Firewall policy using Azure PowerShell](https://docs.microsoft.com/en-us/azure/firewall/deploy-ps-policy?source=

[2021-12-06 14:52] asukumar22 opened #84866 "Deploy and configure Azure Firewall policy using Azure PowerShell"
This document does not have the NAT rule step mentioned which is mentioned for the same steps done using Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c64503a-ff41-c7cd-cdf6-a1def0de7642
* Version Independent ID: b0f38454-6858-0a64-9fbd-b0aada0b8e2e
* Content: [Deploy and configure Azure Firewall policy

[2021-12-06 14:52] yelevin commented on #84696
@vipulsparsh @dragoscosma The correction has been submitted. The change should appear over the next 24 hours. Thanks for your feedback!

[2021-12-06 14:52] yelevin commented on #84696
#please-close

[2021-12-06 14:52] #84696 closed

[2021-12-06 14:55] asukumar22 commented on #84865
closing as duplicate opened a new one with the feedback

[2021-12-06 14:55] #84865 closed

[2021-12-06 15:06] MonikaReddy-MSFT commented on #84663
@gossets - As informed by the product group, the pricing details will soon be updated with our next release.

As there is no doc update needed currently, we are closing this issue. If you have any queries, please get back to us; will continue our conversation.

[2021-12-06 15:06] #84663 closed

[2021-12-06 15:13] asukumar22 commented on #84866
Please compare the portal steps https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal-policy and PowerShell steps. Deploy and configure Azure Firewall policy using Azure PowerShell - The create NAT rule after the network rule step is missing in the PowerShell document.

[2021-12-06 15:17] ghost opened #84867 "what is the format of this parameter mdsdHttpProxy?"
Reading the documentation it is not clear how to pass the proxy configuration.
Please can you clarify it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux diagnostic extension 4.0 - Azure

[2021-12-06 15:22] domingo-gomes-northern opened #84868 "Error while deploying Azure template"
I'm getting the follow error while deploying the template given -

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Failed","message":"ARM-MSDeploy Deploy Failed: 'Microsoft.Web.Deployment.DeploymentDetailedException: Object of ty

[2021-12-06 15:29] gerbermarco opened #84869 "Wrong variable name $pip"
In the code section of section "Migrate a VNET Hub Firewall" > "Allocate Firewall Premium" is the wrong variable used for the public ip address.

Line:
[code]

should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-4053-40bd-f7c0-9a8f9dc3

[2021-12-06 15:29] MashaMSFT commented on #84649
Hi @yorek , would you be able to assist with this?
Thanks!
Masha from the SQL Docs team
#reassign:yorek

[2021-12-06 15:42] MonikaReddy-MSFT commented on #84667
@akn9050 - I have reached out to Product team and awaiting their response. I will keep you posted as soon as I hear back from them. Thank you for your patience.

[2021-12-06 15:43] Lepkem commented on #27848
this link doesn't work anymore :(

[2021-12-06 15:50] JamesTran-MSFT commented on #84859
@chintanr97
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-06 15:51] SrijitBose-MSFT commented on #84855
@tbuchi888 , thank you for your questions.

Yes, AKS virtual nodes can be used with Azure file shares from Standard General-Purpose V2 storage accounts.

The AKS virtual node currently does not support persistent volumes. [[Reference](https://github.com/MicrosoftDocs/azure-docs/issues/36947)]

If you need to use an Azure File Share with a pod created on AKS virtual node please mount the Azure File

[2021-12-06 15:51] JamesTran-MSFT commented on #84861
@ACSirus
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-06 16:09] MonikaReddy-MSFT commented on #84687
@FahimFBA - The pull request doc link just works fine without any issues -https://docs.microsoft.com/en-us/contribute/how-to-write-workflows-major#pull-request-processing

Please let me know if you still face any issues.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply

[2021-12-06 16:11] ChaitanyaNaykodi-MSFT commented on #84869
Hello @gerbermarco
Thank you for your feedback! We will review and update as appropriate.

[2021-12-06 16:24] ChaitanyaNaykodi-MSFT commented on #84866
Hello @asukumar22
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-06 16:25] twimmers commented on #75273
The Citrix Sharefile app is currently in an unsupported state, documentation will be added once the app is again in a stable state.

[2021-12-06 16:29] ShaikMaheer-MSFT commented on #84868
@domingo-gomes-northern Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-06 16:30] ShaikMaheer-MSFT commented on #84862
@peterbud Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-06 16:42] twimmers commented on #83341
These are hidden by default until the credentials have been saved

[2021-12-06 16:53] kabharati commented on #72446
This is added now. Closing the PR

[2021-12-06 16:53] kabharati commented on #72446
#please-close

[2021-12-06 16:53] #72446 closed

[2021-12-06 17:07] Oury-MSFT commented on #84826
@timsander1 Please see customer feedback above. Can we raise a PR to update the doc?

[2021-12-06 17:11] JimacoMS4 commented on #71265
Hi @Mansoormahfoud -- thanks again for your feedback. As mentioned above, the topic has been updated. At this time, I'm going to close this issue. If you have additional feedback, please feel free to open another issue or @comment me here. Thanks for taking the time to help us improve our documentation.

-Jimaco

[2021-12-06 17:11] JimacoMS4 commented on #71265
#please-close

[2021-12-06 17:11] #84666 closed

[2021-12-06 17:11] #71265 closed

[2021-12-06 17:17] twimmers commented on #49366
#please-close

[2021-12-06 17:17] #49366 closed

[2021-12-06 17:18] twimmers commented on #75273
#please-close

[2021-12-06 17:18] #75273 closed

[2021-12-06 17:18] twimmers commented on #58372
The Citrix Sharefile app is currently in an unsupported state, documentation will be added once the app is again in a stable state.

[2021-12-06 17:18] twimmers commented on #58372
#please-close

[2021-12-06 17:18] #58372 closed

[2021-12-06 17:19] twimmers commented on #83341
#please-close

[2021-12-06 17:19] #83341 closed

[2021-12-06 17:19] twimmers commented on #82403
#please-close

[2021-12-06 17:19] #82403 closed

[2021-12-06 17:32] JnHs commented on #84711
Hi @yutaro113 - Thanks for your question. We review and update this article from time to time, and the list of URLs may be updated for various reasons. This article reflects the current guidance as of today.

[2021-12-06 17:48] mairaw commented on #77936
I'm not the author of this article. Shouldn't this be assigned to @lauradolan?

[2021-12-06 17:50] rifaterdemsahin commented on #84744
Here is the master document i am following up
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu

[2021-12-06 17:57] DarkMonkDev commented on #84834
https://github.com/ADefWebserver/BlazorSimpleSurvey/

Is an already built example using .net 6 and b2c. Best one I have found so far.

Chad

Chad Bennett
Equipment Engineer | Dark Monk

Cell: +1.978.766.5315
Email: ***@***.***

Skype: Dark.Monk.Support

From: Svijay-msft ***@***.***>
Sent: Sunday, December 5, 2021 12:36 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: DarkMonkDev ***@***.***>; Aut

[2021-12-06 18:00] curtand commented on #84382
Hi @mrdenny
My investigation showed only one screenshot with more than minor cosmetic differences from the current UI ("select approvers"). I updated the screenshot and published the article.
#please-close

[2021-12-06 18:00] #84382 closed

[2021-12-06 18:08] JamesTran-MSFT commented on #84864
@rushifaldu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/144898812-e04d041c-b0ee-44d3-b087-7657cd9cabf3.png)
https://docs.microsoft.com/en-us/lifecycle/products/windows-server-2008-r2

[2021-12-06 18:14] HeinA commented on #47611
'ello

I have an App Service Running Windows, but I also get a 401 when trying to authorize

I would really appreciate some help with this

Cheerz!

[2021-12-06 18:16] yutaro113 commented on #84711
@JnHs , thanks for the confirmation but actually this url is still called so i think it should be listed here. (when you open app service diagnostics and solve blade, you should be able to confirm)

so why its removed? or its moved to another page? user cofigure allowed domains based on this list so i think it will cause confusion.

thank you very much in advance!

[2021-12-06 18:20] sujitks opened #84872 "App service can't access certificate from KeyVault with RBAC permissions"
[Enter feedback here]
Hi, You need to add this into the limitation where app service cannot access certificates from the KeyVault using Azure RBAC. App Service can only access certificates in a Key Vault if access policy based permission has been setup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe2188c-d08d-be91-b

[2021-12-06 18:37] scarter-brighthealth commented on #70172
Any update on this? Thanks.

[2021-12-06 18:39] JamesTran-MSFT commented on #84872
@sujitks
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-06 18:47] GiftA-MSFT commented on #84858
@joshivinod we'll review your feedback and get back to you shortly. Thanks.

[2021-12-06 18:48] normesta commented on #83901
Hi all - we've updated the article to make clear the various options for starting Azurite. There are two VS project templates that automatically start Azurite. For other VS projects, you can start Azurite from the command line. Thank you for your patience!

[2021-12-06 18:49] RyanHill-MSFT commented on #47611
@HeinA which [authentication flow](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization#authentication-flow) are you using? At what point are you getting the 401?

[2021-12-06 18:49] dcrreynolds commented on #84573
Hi @MonikaReddy-MSFT, thank you for the response. I am aware of the Power Bi app, but I think it serves a separate purpose from this request. The Emissions Impact Dashboard can be setup to see current emissions, but as far as I am aware, it doesn't offer any planning capacity for estimating future deployments or tips on how to reduce emissions. It is also quite difficult to setup requiring Azure a

[2021-12-06 18:51] ReedRobison opened #84873 "GET Request on new DNS Resources can take up to 1 min to fully enumerate due to data replication"
A troubleshooting effort recently surfaced that a GET request on a new DNS resource can take up to 1 minute to fully enumerate due to data replication.   Support advised to query the individual recordsets within the DNS zone directly as those results will be immediately available.    API reference: https://docs.microsoft.com/en-us/rest/api/dns/record-sets/get

I don't see this articulated anywhere

[2021-12-06 18:52] allamMSFT commented on #36709
Hi I have created a StorageManagementClient then attempted to set a legal hold in the way @kweebtronic described but I get the below exception. I have contributor access to the subscription. Going through the details of the exception does not provide any leads on how to debug this issue.

Microsoft.Rest.Azure.CloudException: The server was unable to complete your request.\
   at Microsoft.Azure.Ma

[2021-12-06 18:57] davokr opened #84874 "CustomSecAttributeDefinition Graph Permissions missing from Delegated permissions with App Registration"
CustomSecAttributeAssignment.ReadWrite.All & CustomSecAttributeDefinition.ReadWrite.All are not available under Application permissions, only Delegated permissions when trying to configure permissions on an application in App Registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896aa11-53c5-722b-aabf-e59dda55c

[2021-12-06 19:26] kenwith commented on #83955
Thank you for the catch and opening the issue. I know it takes time to provide feedback when you find something, and I appreciate it.

I checked with the PM and confirmed the article describing getting a new app in the gallery for SCIM. I submitted a PR and it should be live shortly.

#please-close

[2021-12-06 19:26] #83955 closed

[2021-12-06 19:38] mimckitt commented on #70172
No updates at this time. In the meantime, there is a template that deploys a VM and configures WinRM you can use: https://azure.microsoft.com/en-us/resources/templates/vm-winrm-windows/

[2021-12-06 19:43] cherylmc commented on #84780
@SaiKishor-MSFT - taking a doc bug on this. Thanks!

[2021-12-06 19:48] DaveConn opened #84877 "Feedback to improve Customer Satisfaction survey scores"
ASK:
Above the following text on this page/article - please add the following (in quotes) as an additional sentence/bullet.

If you cancel a paid Azure Support plan, you're billed for the rest of the subscription term. For more information, see Azure support plans.

"You will receive a final invoice from your current billing cycle for any Pay as you Go usage incurred, after cancelling your subscri

[2021-12-06 20:00] dlepow commented on #84418
The link to the PDF download has been removed. We are also planning further content updates to this article in an upcoming sprint. Thank you @MGodfrey50 for letting us know of the issue.
#please-close

[2021-12-06 20:01] RyanHill-MSFT commented on #84860
Thanks for the feedback [@olafmaas](https://github.com/olafmaas)! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-06 20:01] MarileeTurscak-MSFT commented on #84874
@davokr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-06 20:02] SaiKishor-MSFT commented on #84873
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-12-06 20:04] diegora-ms opened #84878 "Consider empty selections in drop-down"
I think it would be really helpful to know how to deal with empty selections in drop-down menus in a way that doesn't fire an error message due to a parsing error when trying to resolve an empty parameter in a Kusto query. E.g., for the example provided:

[code]

If the drop-down menu has no active selections, this query will throw an error. From the solution I found here https://stackoverflow.com

[2021-12-06 20:07] RyanHill-MSFT commented on #84863
Thanks for the feedback [@mkdeegan](https://github.com/mkdeegan)! We are currently investigating and will update you shortly.

[2021-12-06 20:11] timsander1 commented on #84826
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/181963

[2021-12-06 20:16] ts-62020 opened #84879 "No bean named 'Microsoft.Targeting' available when using Feature Flag with targeting filter"
Following closely the documentation here, I've set up a minimal spring sample application, where I'm using feature flags. Simple feature flags which toggle on/off can be loaded by the application as expected.

But if a feature flag has a filter criteria, I'm getting an exception:

The following value was generated via App Configuration in Azure Portal
[code]
In the application, I call the endpoint

[2021-12-06 20:25] MonikaReddy-MSFT commented on #84877
@DaveConn - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-06 20:28] MonikaReddy-MSFT commented on #84878
@diegora-ms - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 20:28] #84878 closed

[2021-12-06 20:46] MicrosoftGuyJFlo commented on #84864
It still works. It is still a scenario that some customers may be using. Larger updates are planned for this doc in the near future. Closing this out for now. #please-close

[2021-12-06 20:46] #84864 closed

[2021-12-06 20:48] Dburke225 opened #84880 "Does the Filter Apply to the properties of the User Signing in or the Device?"
Does the Filter Apply to the properties of the User Signing in or the Device?
My policy that is supposed to apply to Devices that aren't AD Registered is not working for my test user. The Device is AD Registered but for a different user than the one signing in now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc7993

[2021-12-06 20:51] lauradolan commented on #77936
#reassign: @paterasMSFT

[2021-12-06 20:53] briancovingtonhsv opened #84881 "Doesn't work with Windows 11 VHD"
Hello,
  Thanks for the wonderful examples here and on the Azure pages, many have been very helpful.  We have been using this example script almost verbatim for a while now with Windows 10 and it works beautifully.  We just created our first Windows 11 vhd and the script generates a custom image without error, however that image will not boot.  Will not even get to the point where you can ping it

[2021-12-06 20:56] surabhi512 opened #84882 "Elevation to SPN detail missing in doc"
Hello,

I am from the Infrastructure & Security team in TEAMS and we repeatedly get requests from service teams that even though they did the elevation, the powershell commands are throwing unauthorized errors. Most people usually elevate on the AAD app, however after the change in process, they are now required to elevate to the SPN instead.

Sample error message:
New-AzureADServiceAppRoleAssignm

[2021-12-06 20:58] MicrosoftGuyJFlo commented on #84566
Correct, but this is why we have the policy as configured in report-only mode. Customers should target specifically what they need in their environment then confirm the settings apply as they intend.

[2021-12-06 20:58] MicrosoftGuyJFlo commented on #84566
#please-close

[2021-12-06 20:58] #84566 closed

[2021-12-06 20:59] MicrosoftGuyJFlo commented on #84416
@SanDeo-MSFT can you explain the difference here?

[2021-12-06 21:02] Dbakevlar commented on #82042
Oracle no longer certifies any solutions on any third-party cloud.  They use the term of "support" for the interconnect.

[2021-12-06 21:05] rushifaldu commented on #84864
I understand that it still works but is it officially supported?

[2021-12-06 21:10] #84814 closed

[2021-12-06 21:11] JamesTran-MSFT commented on #84880
@Dburke225
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-06 21:12] KranthiPakala-MSFT commented on #84814
@srazasyed
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-12-06 21:16] cherylmc commented on #84780
You should see the updated page published this week.

[2021-12-06 21:21] JamesTran-MSFT commented on #81940
@technion
Thank you for following up with this! I've reached out to @Justinha internally for any updates on this since Justin is the author assigned to this doc and issue.

[2021-12-06 21:27] Aegrum commented on #84566
Doesn't it bear mentioning in the documentation? Especially considering this is the basis for which the corresponding CA template is formed and deployed.

Perhaps you could update this line to highlight why one might want to do this?

Select Done.
Note that this will apply to **all** mobile applications using Azure AD for authentication, even those which may lack the [Intune App SDK](https://docs.

[2021-12-06 21:33] ngbrown commented on #75465
The API query as described at https://docs.microsoft.com/en-us/azure/virtual-machines/ephemeral-os-disks is also returning incorrect results as the B series are showing with `EphemeralOSDiskSupported=True`. Also, since I'm guessing this is driving the [vm selector](https://azure.microsoft.com/en-us/pricing/vm-selector/), those results are also wrong.

[code]

[code]

[code]

[code]

[2021-12-06 21:34] RyanHill-MSFT commented on #84867
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-06 21:35] bandersmsft commented on #84877
@DaveConn Thanks for the feedback. I'll make the update you suggest.

[2021-12-06 21:35] ogitds commented on #84843
I eventually found the answer.
It was literally Show/Hide Title in the notebook drop-down menu.
One of those _how did I miss that_ moments.

[2021-12-06 21:35] #84843 closed

[2021-12-06 21:36] DaveConn commented on #84877
Awesome, thank you!  When will I see it live on the site?

From: Bill Anderson ***@***.***>
Sent: Monday, December 6, 2021 1:35 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Dave Conn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Feedback to improve Customer Satisfaction survey scores (Issue #84877)

@DaveConn<https://nam06.safelinks.protection.outlook.com/?url=http

[2021-12-06 21:42] bandersmsft commented on #84877
https://github.com/MicrosoftDocs/azure-docs-pr/pull/181988

[2021-12-06 21:43] bandersmsft commented on #84877
@DaveConn The update should go live today around 3:30 PM PST.

[2021-12-06 21:44] DaveConn commented on #84877
Great, thank you

From: Bill Anderson ***@***.***>
Sent: Monday, December 6, 2021 1:43 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Dave Conn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Feedback to improve Customer Satisfaction survey scores (Issue #84877)

@DaveConn<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDaveConn&data=04%7

[2021-12-06 21:45] RyanHill-MSFT commented on #84116
Hi @John-HLC, glad to hear you got some time off. I'm sure it was much needed.

In response to your question, MSAL shouldn't be framework dependent. Unless you're utilizing an MSAL feature that is dependent on .NET 6 API set.

What errors are you getting?

[2021-12-06 21:54] tcsougan opened #84886 "No need to add the VNET to the Key Vault Firewall if it has a Private Endpoint enabled"
[Enter feedback here]
At this level https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#verify-firewall-permissions-to-key-vault:
It is important to mention that the customer doesn't have to follow those steps if he has a private Endpoint enabled on the KV, since the  AppGW will be accessing the KV using it private IP

---
#### Document Details

⚠ *Do not edit this section.

[2021-12-06 22:00] bandersmsft commented on #84877
@daveconn Again, thanks very much for your useful suggestion! The updated article will get refreshed live today around 3:30 PM PST.
#please-close

[2021-12-06 22:00] #84877 closed

[2021-12-06 22:39] hpsin commented on #84446
Thanks for the note, will add this to the upcoming PR. Much obliged.

[2021-12-06 22:40] sefriend commented on #84847
Hi @edlaguni. This is not a documentation update request, this is a feature redesign request. I have made a note of it and will certainly relay this information to the team since I have heard similar feedback before. Thank you for your feedback!

[2021-12-06 22:56] DerekHerman-MSFT commented on #84728
If you are sill facing issue I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-06 22:56] #84728 closed

[2021-12-06 23:07] Britt-Henderson commented on #82853
Not heard back on this. I will assume it's >= 2 vCPU's.

[2021-12-06 23:18] ChaitanyaNaykodi-MSFT commented on #84886
Hello @tcsougan
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-06 23:19] mrm9084 commented on #84879
@ts-62020 it looks like you need to follow https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-spring-cloud-feature-management#targetingfilter. And name the TargetingFilter Bean `Microsoft.TargetingFilter`.

The name of the bean matches the name field.

[2021-12-06 23:31] vaughn-pworx opened #84889 "Timespan documentation issue?"
I'm confused on the documentation for Timespans. How can this mean every 1 hour?
"01:00:00"

And this mean every 25 days?
"25:00:00"

Wouldn't that be every 25 hours instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e4

[2021-12-07 00:13] kobulloc-MSFT commented on #84881
@briancovingtonhsv Thank you for reaching out to us!  We are reviewing this and will get back to you shortly.

[2021-12-07 00:27] JamesTran-MSFT commented on #84859
@chintanr97
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/)

[2021-12-07 00:27] #84859 closed

[2021-12-07 00:28] JamesTran-MSFT commented on #84861
@ACSirus
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by

[2021-12-07 00:28] #84861 closed

[2021-12-07 00:32] JamesTran-MSFT commented on #84880
@Dburke225
Thank you for your time and patience!

Based off our documentation, the condition filter for devices apply to devices.
For more info - [Supported operators and device properties for filters.](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-condition-filters-for-devices#supported-operators-and-device-properties-for-filters)

When it comes to troubleshoo

[2021-12-07 00:32] #84880 closed

[2021-12-07 00:41] JamesTran-MSFT commented on #84620
@jaulates
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-07 00:41] #84620 closed

[2021-12-07 00:50] tbuchi888 commented on #84855
@SrijitBose-MSFT ,
Thank you for your prompt response.
I see that The AKS virtual node currently does not support PV.
Also, I used the Mount file share as an inline volume method you gave me and it worked.
Thank you very much.

However, I think the [Known limitations](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes#known-limitations) in this document should be changed to the following.

+

[2021-12-07 00:57] pmozbert opened #84890 "Missing information on how to update throughput in the portal"
[Enter feedback here]
The page mentions that you can update throughput in the portal, but it does not say how to do it.  In the portal, I also don't see a way to modify the throughput on a container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-6

[2021-12-07 01:25] VikasPullagura-MSFT commented on #84847
@sefriend Thanks for commenting on this and putting this feature request to the team.

@edlaguni
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-12-07 01:25] #84847 closed

[2021-12-07 01:55] kobulloc-MSFT commented on #84747
@bsaxbergMS Thank you again for bringing this to our attention!  For steps 5 and 6, the order is indeed now different in the portal.  I see Snapshot type as well and it looks like the HDD/SSD selection is now in Storage type.  When creating the managed disk, name follows resource group again and we see Size for HDD/SSD.

![image](https://user-images.githubusercontent.com/37556655/144948700-b4b454f

[2021-12-07 02:41] SnehaGunda commented on #83068
@AbhinavDAIICT Yes Physical partitions are inside a container, you can read more about how the RU/s charge allocated to a container in this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/scaling-provisioned-throughput-best-practices

[2021-12-07 02:42] SnehaGunda commented on #83068
We will close this issue now.

#please-close

[2021-12-07 02:42] #83068 closed

[2021-12-07 02:43] SnehaGunda commented on #84826
#please-close

[2021-12-07 02:43] #84826 closed

[2021-12-07 03:29] maniv2013 commented on #69414
Kindly let me know the resource group permission which is required to solve this problem?

[2021-12-07 03:37] teraco opened #84893 "About monthly active users (MAU) billing"
I am an administrator of Office 365 and I am inviting guest users.
My Azure AD license plan is for Office 365, not Azure Active Directory Premium P1 or Azure Active Directory Premium P2.

According to this guide.

https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/

Azure Active Directory Premium P1 and Azure Active Directory Premium P2 are free for up to 50,000

[2021-12-07 04:03] AnuragSharma-MSFT commented on #84890
@pmozbert Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-12-07 04:05] AnuragSharma-MSFT commented on #84849
@radhe65gupta There is no direct way to do that. What we can do is to create a blank database in azure and then generate the schema scripts from existing database and run in the blank database. This can easily be achieved using management studio.

[2021-12-07 04:25] SamaraSoucy-MSFT commented on #84738
I've sent a PR to the doc author for review. It will go live once they have approved it.

[2021-12-07 04:25] mufeedusman opened #84894 "Word duplication in a section."
Under section "Before you begin", starting of the third paragraph there is duplication of words - "The AKS cluster cluster ...."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb22-8b70-fa84fd785f38
* Content: [Create an internal load balancer

[2021-12-07 04:25] SamaraSoucy-MSFT commented on #84805
I have assigned the issue to the doc author to update appropriately.

[2021-12-07 04:26] MayankBargali-MSFT commented on #84882
@surabhi512 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-07 04:27] SamaraSoucy-MSFT commented on #84889
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-07 04:41] amanmcse commented on #84893
@teraco Thank you for your feedback. We will investigate and update the thread further.

[2021-12-07 04:43] amanmcse commented on #84840
@lakshmikanthKGit Closing out the issue.

[2021-12-07 04:43] #84840 closed

[2021-12-07 04:46] tomatsue opened #84895 "IssuerUri is described in a wrong page"
IssuerUri is described in [this page](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/saml-identity-provider-technical-profile.md) where B2C works as SAML SP. But it looks weird.

It seems that the parameter should be in [articles/active-directory-b2c/saml-issuer-technical-profile.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-dire

[2021-12-07 04:57] MarileeTurscak-MSFT commented on #84788
Thanks @jasonbisson! I made a pull request to change the name throughout the article and update the URLs to match the current Google Workspace URLs.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/182041

@twimmers when possible, please review the PR that I tagged you in.

[2021-12-07 04:57] #84788 closed

[2021-12-07 05:00] Sharmistha-Rai commented on #84857
@jonnybugaloo - we don't expose the Mobility Agent link for downloading older agents in Azure to Azure replication scenario.

[2021-12-07 05:03] madhu-pixel opened #84896 "modules"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-12-07 05:11] AnuragSharma-MSFT commented on #84823
@gorankuk Could you please highlight the part of document you are referring to?

[2021-12-07 05:27] AnuragSharma-MSFT commented on #84890
@pmozbert Please refer to below link for the same and check the note:

[Enable autoscale on existing database or container](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-provision-autoscale-throughput?tabs=api-async)

![image](https://user-images.githubusercontent.com/66360845/144971745-6cbc69a9-2e0a-4c72-8e81-43518e4a2160.png)

[2021-12-07 05:39] BhargaviAnnadevara-MSFT commented on #84896
@madhu-pixel Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-12-07 05:46] radhe65gupta commented on #84849
Thanks @AnuragSharma-MSFT

[2021-12-07 06:05] HeinA commented on #47611
Hey.  This happen when I try to post the id_token to /.auth/login/apple from a Unity app (client directed flow)

[2021-12-07 06:05] AnuragSharma-MSFT commented on #84849
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-07 06:05] #84849 closed

[2021-12-07 06:15] AjayKumar-MSFT commented on #84865
asukumar22,  No worries. Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate the follow-up.

[2021-12-07 06:26] zeeshaanali opened #84897 "VM image test doc not useful"
I think there are couple of information missing in the doc like in [this ](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#on-linux-os) section -

1. From Entire doc `Self Test` API endpoint is missing. What API to call?
2. What is `<Application ID>`? Is it App registration's ClientID?
2. What is `URL` here?
3. Should the accessToken be generated using the same ApplicationID

[2021-12-07 06:37] cengxiye opened #84898 "Deploy and configure Azure Firewall Premium FAILED"
Deployment FAILED

There was an error downloading the template from URI 'https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.network/azurefirewall-premium/azuredeploy.json'. Ensure that the template is publicly accessible and that the publisher has enabled CORS policy on the endpoint. To deploy this template, download the template manually and paste the

[2021-12-07 06:49] SubhashVasarapu-MSFT commented on #84898
@cengxiye , Thanks for reaching out. We will investigate and update this thread.

[2021-12-07 06:59] HeinA commented on #47611
Got it sorted out.  It was a miconfiguration on the App Service side.

Thanx for your prompt response though!

Regards

[2021-12-07 07:18] SadiqhAhmed-MSFT commented on #84897
@zeeshaanali Thank you for your feedback. We will review the doc with content owner and update as appropriate.

@emuench FYI

[2021-12-07 07:31] jiajzhan commented on #81507
@bobsort Thanks for the feedback. For you third question, do you mean when you give de-DE sapi phone input like 'IY - R A : 1 N', the MS TTS output will generate wave like 'eeraan' ? Which voice are you using?

[2021-12-07 08:13] shashishailaj commented on #84895
@tomatsue Thank you for your feedback . We will investigate and update the thread.

[2021-12-07 08:24] kobulloc-MSFT commented on #84797
@dreeves14 The screen protection just makes the AVD session window black and doesn't allow you to share the contents from your local machine. Screen sharing anything else from your local machine would still work but if you had AVD open as a part of the screen it will be a blank window.

The same is for sharing screens within a Teams meeting performed within the session host. It doesn't stop someon

[2021-12-07 08:28] krkanth commented on #84894
Thanks, @mufeedusman, for your feedback. We have made the necessary changes and it will take some time to reflect the changes in the document.

[2021-12-07 08:29] krkanth commented on #84894
.

[2021-12-07 08:35] gpitzalis opened #84899 "Synapse Link example"
Dear all,

can you describe a new example of cost estimation when reading data from an Azure Synapse CosmosDB link?

Thanks,
JP

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b0d2f7-186d-0a74-b25c-2784bae2705f
* Version Independent ID: 4e3e9d47-9a15-fec0-01e0-2b324cc22eb2
* Content: [Cost manag

[2021-12-07 08:41] cgwcool commented on #42933
@WilkoSki  I use below code to get token;

[code]

[2021-12-07 08:57] salmanazmat666 opened #84900 "AKS: Develop with Helm - az aks create command doesn't work."
While following the [Develop with Helm](https://docs.microsoft.com/en-us/azure/aks/quickstart-helm#create-an-aks-cluster) QuickStart, the following command
`az aks create -g MyResourceGroup -n MyAKS --location eastus  --attach-acr MyHelmACR --generate-ssh-keys`

gives following error.
`No service principal provided to create the acrpull role assignment for acr.`

---
#### Document Details

⚠ *Do n

[2021-12-07 08:59] ts-62020 commented on #84879
Thanks, so I guess the missing piece was

[2021-12-07 08:59] #84879 closed

[2021-12-07 09:08] filippopovic commented on #84899
reassign:jocaPC

[2021-12-07 09:09] filippopovic commented on #84899
#reassign:jocaPC

[2021-12-07 09:09] PRMerger8 commented on #84899
The following users don't have valid GitHub IDs, or are not collaborators on this repo: jocapc

[2021-12-07 09:09] filippopovic commented on #84899
#reassign:jovanpop-msft

[2021-12-07 09:17] Digiroka opened #84901 "Incorrect name of Service"
The article specifies the below:

--
If you're using Azure Virtual Desktop (classic), choose these apps:

Azure Virtual Desktop (App ID 5a0aa725-4958-4b0c-80a9-34562e23f3b7)
Azure Virtual Desktop Client (App ID fa4345a4-a730-4230-84a8-7d9651b86739), which will let you set policies on the web client
After that, skip ahead to step 11.

If you're using Azure Virtual Desktop, choose this app instead:

[2021-12-07 09:55] JBines opened #84902 "Unlimited number of objects per AD domain"
Hello Folks,

I noted that below that Cloud sync does not have support for an 'Unlimited number of objects per AD domain' I cannot find what the limit currently but I'd recommend that it is added as a known limitation in this article.

https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/what-is-cloud-sync

Thank you for your help.

Br.
Joshua

[Enter feedback here]

---
#### Documen

[2021-12-07 10:04] andriikut opened #84903 "These generally available recommendations don't support exemption list"
[[Enter feedback here]](https://docs.microsoft.com/en-us/azure/defender-for-cloud/exempt-resource#are-there-any-recommendations-that-dont-support-exemption)
These generally available recommendations don't support exemption :

Missed:
-Remediate security configurations:
    - Machines should be configured securely
not able to create exclusions
![image](https://user-images.githubusercontent.com/4568

[2021-12-07 10:20] AshokPeddakotla-MSFT commented on #84643
I have assigned the issue to the content author @kgremban  to evaluate and update the doc.

[2021-12-07 10:41] amanmcse commented on #84893
@teraco MAU is determined based on unique user authentications per month. All authentication requests are handled by Azure AD. So, this is only for Azure AD P1/P2 and not for office 365 plans.

[2021-12-07 10:46] Karishma-Tiwari-MSFT commented on #84901
The name has been updated officially to Azure Virtual Desktop. The update happened ~June 2021.
Azure Portal also shows :
![image](https://user-images.githubusercontent.com/20851144/145014990-70dfe1b4-ef86-45ce-9354-6a673ed5d843.png)

The screenshot in the document needs to be updated. I will share this feedback with the author to have the document updated.

Thanks for bringing this to our attentio

[2021-12-07 10:46] #84901 closed

[2021-12-07 11:01] Digiroka commented on #84901
I know mthe product has been updated but if you had actually followed the process in the article you would find that the **Azure Virtual Desktop** service does **NOT** exist as a selectable service in the portal. The only option is **Windows Virtual Desktop.**
![image](https://user-images.githubusercontent.com/26280877/145017481-8a7ac7ae-de1d-42e9-991f-7d38c7a81c68.png)

[2021-12-07 11:11] SrijitBose-MSFT commented on #84900
@salmanazmat666 , can you please check the version of Azure CLI that you are using?

Please run the following command:
[code]

[2021-12-07 11:18] teraco commented on #84893
@amanmcse

I understand.

I understand.

Does this mean that the MAU billing model will not be used for office 365 plans and the 1:5 model will be used?

I understand that if I don't sign up for Azure AD P1/P2 and only use Office 365 plans, the invited guest will be authenticated by Azure AD but will not be able to use Azure AD P1/P2 functions. So, I understand that the Azure AD P1/P2 pricing stru

[2021-12-07 11:24] SnehaAgrawal-MSFT commented on #84710
@przemos We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-12-07 11:24] #84710 closed

[2021-12-07 11:27] SConnellSwordGroup opened #84904 "Reconnecting GIT"
[Enter feedback here]

In the steps listed in this section:https://docs.microsoft.com/en-us/azure/data-factory/source-control#:~:text=Remove%20your%20current,the%20collaboration%20branch
Step 2 suggests importing existing resources an choosing a new branch.  This option does not appear possible in our configuration (see below). Has there been a change or is there some nuance not made clear in the

[2021-12-07 11:55] salmanazmat666 commented on #84900
@SrijitBose-MSFT
[code]

[2021-12-07 12:22] salmanazmat666 commented on #84900
@SrijitBose-MSFT Cloud shell runs 2.30.0, but on my machine I tried with 2.31.0 and it worked.

[2021-12-07 12:22] #84900 closed

[2021-12-07 12:29] desmond80in opened #84906 "The example are a waste. Cant do anything with the examples given. To throws CROSS erros"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b899e1-9ccb-3649-d075-fb2e07e00f4d
* Version Independent ID: 4a4709ff-3023-38c4-155b-53ccafbf8ee7
* Content: [Quickstart: Azure Blob storage library v12 - JavaScript in a browser](https://docs.microsoft.com/en-us/azure/storage/blobs/quickstart-blobs

[2021-12-07 13:39] SrijitBose-MSFT commented on #84855
@tbuchi888 , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-12-07 13:46] PramodValavala-MSFT commented on #84693
@eloisaebona Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-07 13:46] #84693 closed

[2021-12-07 13:51] Klaas- commented on #83997
@cynthn I can not find updated docs on how to enable it for existing VMs. Could you maybe point me towards them?

[2021-12-07 14:00] pmozbert commented on #84890
Hi,
It does not directly address the issue with the page.  The link you gave is
for a different page and discusses enabling of autoscaling.

On Tue, Dec 7, 2021, 00:27 AnuragSharma-MSFT ***@***.***>
wrote:

[2021-12-07 14:20] Bafff commented on #46309
it's just works

[2021-12-07 14:22] 2ATCaroline opened #84910 "System.Net.WebException: The remote name could not be resolved: '**guid**.agentsvc.we.azure-automation.net'"
Hi,

I've registered hybrid workers in the past without problem, but now I keep getting this error on a newly created Virtual Machine: Windows Server 2019:  (I replaced the actual guid with **guid** for security measures)

Add-HybridRunbookWorker : System.Net.Http.HttpRequestException: An error occurred while sending the request. --->
System.Net.WebException: The remote name could not be resolved:

[2021-12-07 14:26] RiaanVR commented on #46309
@Bafff  thanks, I haven't been able to get authed not in the portal or via the SDK thus the question and assumption on my part that it isn't enabled for my subscription or tenant

[2021-12-07 14:27] RyanHill-MSFT commented on #84902
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-07 14:28] RyanHill-MSFT commented on #84903
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-07 14:28] dominicbetts commented on #84661
Thanks!

#please-close

[2021-12-07 14:29] #84661 closed

[2021-12-07 14:30] RyanHill-MSFT commented on #84904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-07 14:32] mprentice22153 opened #84912 "Broken Link to 1.6 download"
It appears the link for accessing the 1.6 version is broken.

If you are still using an older version of Windows Server you should use Azure AD Connect V1.6. You can download the latest version of Azure AD Connect V1 using **this link**. Release notes for the latest V1.6 release.

Please review and correct the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-12-07 14:33] yuharucan commented on #82808
@QianqianNie
My env was azureml-core 1.32.0 on this error.
I created new spark pool and check the azureml-core version, but it is still 1.32.0 and this error happen again.

[2021-12-07 14:34] RyanHill-MSFT commented on #84906
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-07 14:36] Bafff commented on #46309
I think that it's smth simpler than we think

I have such rights assignment on my storage with tables
![image](https://user-images.githubusercontent.com/26187677/145048623-37807eed-394b-49dd-a18b-a95dac0a1e75.png)
and all is working like a charm

[2021-12-07 14:44] yuharucan commented on #82879
@whhender
Any update?

[2021-12-07 14:45] Bafff commented on #46309
You know, @RiaanVR forget that currently, we are not using this for table storage access itself, just for management of storage account itself (without knowing its key)

So if you would find why you cannot access table data - please post a solution :) Soon I can need that :)

[2021-12-07 14:46] wlongxiang opened #84913 "Is there a python version of the listFile functionality?"
[Enter feedback here]

Is there a python version of the listFile functionality described here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9af8856-e830-d0bc-e465-67ef69dfdf89
* Version Independent ID: 34173e27-70d7-f998-5e7e-84636e00f65e
* Content: [How to list and delete files faster in Azure Databricks - Azure Da

[2021-12-07 14:50] asukumar22 opened #84915 "Need NAT rule steps to be added in this document as it is explained in Portal method for the same document."
Need NAT rule steps to be added in this document as it is explained in the Portal method for the same document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d58f3af-c6a3-a545-48b0-fce69629b3f5
* Version Independent ID: dec57aa6-0836-76d3-3701-13ee1ef379b7
* Content: [Deploy and configure Azure Firewall using Azure C

[2021-12-07 14:52] asukumar22 opened #84916 "This document talks about the Firewall in hybrid hub spoke architecture with On-premises but only with BGP enabled, we need a document for the scenario where BGP is not enabled."
This document talks about the Firewall in hybrid hub-spoke architecture with On-premises but only with BGP enabled, we need a document for the scenario where BGP is not enabled in the Site-to-Site VPN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54e37aa-a45b-989e-5adf-e0f2212815f4
* Version Independent ID: a957e018

[2021-12-07 15:03] Svijay-msft commented on #84807
@ashishmgofficial -

You are receiving a 403-error meaning there is a permission issue. The connector is built on top of the Salesforce Marketing Cloud REST API.  My understanding at this point of time is that there may be a restriction/permission had not been granted at the Salesforce end.

I had been researching and found a similar issue at my end. The resolution was adding/granting necessary cl

[2021-12-07 15:03] #84807 closed

[2021-12-07 15:07] ashishmgofficial commented on #84807
@Svijay-msft Shouldn't the docs specify the minimum permissions required at Salesforce end for the connector to work ?

[2021-12-07 15:08] StephenWBertrand opened #84917 "Does the custom domains support a Wildcard setup?"
Can I add  *.mydomain.com as a custom wildcard domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-ff59fb3cbb7b
* Content: [Set up a custom domain in Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/cu

[2021-12-07 15:20] scorpionlion opened #84918 "Channel 9 links are broken"
Channel 9 links in the page are all broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2-a10795161d04
* Version Independent ID: d2b59e0c-0c35-a335-b523-64f4d6f29d09
* Content: [Introduction to ASEv2 - Azure App Service Environment](https://docs.microsoft.com/en-us/azure/app-service/environment/

[2021-12-07 15:24] JamesTran-MSFT commented on #84912
@mprentice22153
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-07 15:31] halabap opened #84923 "View in Log Analytics for selected Container from Controllers tab will show logs from all containers running on the node"
Hi all,

We found a bug in the AKS Insights feature "View in log analytics".

Steps to reproduce:
1. Go to AKS resource / Insights menu item
2. Select tab "Controllers" - this is important, because it works properly on other tabs
3. In the list of Controllers, unfold some ReplicaSet / unfold Pod and select a container
4. In the Overview pane opened on the right side, click button "View in Log Anal

[2021-12-07 15:35] BhargaviAnnadevara-MSFT commented on #84918
@scorpionlion Thank you for the feedback. As [announced recently](https://docs.microsoft.com/en-us/teamblog/channel9joinedmicrosoftlearn), Channel 9 is now a part of Microsoft Learn. In order to best address your feedback, could you provide us with the URL of the MS Doc that you were following?

[2021-12-07 15:51] AzChrisMelendez opened #84924 "Conflicting answers in two different FAQs. 3rd FAQ listed provides correct answer."
Hello Team,

I'm a Microsoft CSA and I'm preparing for a customer meeting in a few hours, and I think I've come across a discrepancy. I'm reading the question **"Is there a network throughput or connection limit when using Azure Virtual WAN?"** and in that answer section it says _"While you can have as many virtual WANs as you like, each Virtual WAN allows 1 hub per region."_ That differs from the

[2021-12-07 15:51] mprentice22153 commented on #84912
It's working now.  Don't know if you fixed it or if it was a transient
failure.

Thanks,

Matthew

On Tue, Dec 7, 2021 at 10:24 AM James Tran-MSFT ***@***.***>
wrote:

[2021-12-07 16:01] MonikaReddy-MSFT commented on #84910
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-07 16:20] Svijay-msft commented on #84813
We will now close this issue in GitHub but hope to engage with you via our technical forums shared above.

[2021-12-07 16:20] #84813 closed

[2021-12-07 16:38] shashishailaj commented on #84388
@BenjaminCharlton Could you please confirm if this works for you . https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-blazor-webassembly .

[2021-12-07 16:56] #84681 closed

[2021-12-07 16:58] MonikaReddy-MSFT commented on #84667
@akn9050 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-07 16:58] #84667 closed

[2021-12-07 17:01] MonikaReddy-MSFT commented on #83870
@rnedosekin - PowerShell command support requires us to make changes to the PowerShell commandlet for AzConnectedKubernetes, which will take couple of weeks' time. we have provided the feedback to PowerShell team. Once they make the changes and the new updates are released in a few weeks, the doc author @shashankbarsin will update the documentation.
Till then the note will be added that all comman

[2021-12-07 17:01] #83870 closed

[2021-12-07 17:02] gjongeneel opened #84925 "Names of Azure Virtual Desktop apps"
Hi,
The names of Azure Virtual Desktop apps in the portal are still referenced to as 'Windows Virtual Desktop'. All names on this page are renamed automatically after Windows Virtual Desktop became Azure Virtual Desktop, but the actual names of the apps are not changed. So the names on this page are incorrect.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-12-07 17:11] #82885 closed

[2021-12-07 17:17] tamram commented on #46309
@Bafff @RiaanVR - There's nothing special about a managed identity in terms of RBAC. It's just like any other security principal (e.g., like a user). So whether your security principal is a user or a managed identity, just assign that security principal one of the Storage Data Table roles. You should then be able to access the table with that security principal.

[2021-12-07 17:58] JamesTran-MSFT commented on #84912
@mprentice22153
Thank you for following up with this!

I'll go ahead and close this thread.
Thank you for your time and patience throughout this issue.

[2021-12-07 17:58] #84912 closed

[2021-12-07 18:06] mayurpuli commented on #84816
Hello there, Any updates on this?

[2021-12-07 18:11] rolyon commented on #84829
Hi @jfharden
Thanks for your feedback. We've added code blocks for the code that is used in the images.
https://docs.microsoft.com/en-us/azure/role-based-access-control/conditions-format
Let us know if you have additional feedback.
thanks

[2021-12-07 18:12] rolyon commented on #84829
#please-close

[2021-12-07 18:12] #84829 closed

[2021-12-07 18:13] ecfan commented on #84816
Hi @mayurpuli,

I reviewed the [connectors list for Azure Logic Apps](https://docs.microsoft.com/connectors/connector-reference/connector-reference-logicapps-connectors), and I couldn't find anything that seemed relevant. Feel free to review the list yourself: https://docs.microsoft.com/connectors/connector-reference/connector-reference-logicapps-connectors

[2021-12-07 18:17] mayurpuli commented on #84816
Thank you Esther for the response!

[2021-12-07 18:19] SaiKishor-MSFT commented on #84915
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-12-07 18:19] ecfan commented on #84816
@Svijay-msft: #please-close

[2021-12-07 18:19] #84816 closed

[2021-12-07 18:20] kobulloc-MSFT commented on #84925
@gjongeneel Thank you for your feedback!  We've assigned this to the document author for further review.

[2021-12-07 18:22] MartinJaffer-MSFT commented on #84913
Thank you for bringing this issue to our attention, we will reply when we have more information.

[2021-12-07 18:22] jonwbstr opened #84927 "Example and steps missmatch?"
The steps say to check BrokerURIGlobal and BrokerURI (which are the same address in my AVD Host). However one of the examples is using the BrokerResourceIdURI format.

![image](https://user-images.githubusercontent.com/15677312/145084909-2439ac04-e5d1-4e21-97cb-52012f4add49.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-07 18:22] SaiKishor-MSFT commented on #84916
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-07 18:23] willfiddes opened #84928 "Azure AD Directory Schema custom extensions"
We need to migrate the following articles into the existing Azure AD documentation and updated to use Microsoft Graph API:
https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-directory-schema-extensions
https://docs.microsoft.com/en-us/powershell/azure/active-directory/using-extension-attributes-sample?view=azureadps-2.0

[2021-12-07 18:23] SaiKishor-MSFT commented on #84924
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-07 18:31] laujan commented on #84273
@MayankBargali-MSFT .

[2021-12-07 18:38] bandersmsft commented on #84635
@erbalaji Hi there. Sorry for the delay. I'm updating the article for clarity, based on your issue.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/182104

Here's the update:

- [**Management groups**](https://docs.microsoft.com/en-us/azure/governance/management-groups/overview) - Hierarchical containers, used to organize Azure subscriptions. A management group tree can support up to six leve

[2021-12-07 18:38] #84635 closed

[2021-12-07 18:53] kmcguinn-caravan opened #84929 "Streaming Supported in Serverless Azure SignalR?"
I am attempting to move a SignalR implementation from a dedicated .NET Core web app into a serverless Azure SignalR implementation. I have followed the documentation for configuring this and am able to see a successful negotiation and normal message send. However, when I try to implement a streaming hub, I am not able to get the Azure SignalR service to call my function app. I see the client call

[2021-12-07 18:56] Fleid commented on #81247
Hi @Davidswinkels,

Another quick update, following-up on your feedback:

- We added an [overview doc](https://docs.microsoft.com/en-us/azure/stream-analytics/visual-studio-code-local-run-all) to local runs. It should clarify what's possible or not in VS Code. Note that we just released live outputs from VS Code to Blob/SQL/EH. It should be announced shortly
- We updated the [testing doc](https://

[2021-12-07 18:57] anhlqn commented on #54233
@TravisCragg-MSFT the link to vote is now page not found. Do you have another place where I can check for the status of this feature request?

[2021-12-07 18:57] Bafff commented on #46309
@tamram thanks for clarification

[2021-12-07 19:03] Fleid commented on #84461
@clementratel thanks a lot for catching that!

I've changed the query on all the tutorials that needed it. I'll try to update the screenshots shortly.

[2021-12-07 19:04] markjbrown commented on #84890
It's the same page. It changes depending on whether you use manual or autoscale throughput.

[2021-12-07 19:21] JamesTran-MSFT opened #84930 "Update Per-user MFA steps"
Under the section [View the status for a user](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#view-the-status-for-a-user).

**Update Steps:**
1 - Needs to be Sign into the Azure portal as a Global administrator.
3 - Select Per-user MFA
![image](https://user-images.githubusercontent.com/36619112/145091272-306a3e5a-1612-438d-9337-8aaef2e21e13.png)

I trie

[2021-12-07 19:21] anhlqn opened #84931 "Rule name in Azure Firewall Network Rule log"
Hi,

I'm looking for a place to check if there's any updating on when Azure will include the rule names in the Azure Firewall Network rule logs?

It's really useful for us to see which rules are being triggered for allow/denied network rules.

Network rule log

Application rule log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-12-07 19:22] pmozbert commented on #84890
When you say the page changes, I think you're referring to the PMC, not the doc page.

In the PMC, there is no Scale option for the container (see screen capture).  I am using serverless capacity mode.  Is this option available for this serverless?  If this is the issue, then the doc page that this ticket is about should mention it.

![image](https://user-images.githubusercontent.com/46055651/1450

[2021-12-07 19:22] amanmcse commented on #84893
@teraco MAU and 5:1 billing models are only for Azure AD P1/P2 and not for O365 plans.

[2021-12-07 19:24] simonkurtz-MSFT opened #84933 "Add Specific Access Rights App Services Needs for Key Vault"
The [documentation](https://review.docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate?branch=master#authorize-app-service-to-read-from-the-vault) reads:

While that tells the reader to add read access, can we spell out the exact permissions (key, secret, certificate) that should be set for the App Service SPN, please? The less ambiguous we are, the more confidence the reader will

[2021-12-07 19:26] SaiKishor-MSFT commented on #84780
Thank you so much @cherylmc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-07 19:26] #84780 closed

[2021-12-07 19:27] JamesTran-MSFT commented on #84930
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-07 19:27] #84930 closed

[2021-12-07 19:48] tjprescott opened #84935 ".NET Form Recognizer Quickstart does not work"
I could not get this to build and run at all. It seems like the body was ripped out of tests and that these were not run as written.

I was trying to follow this: https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-v3-csharp-sdk

I am using 4.0.0-beta.2 instead of beta.1 because beta.1 was not available to me on NuGet. Otherwise, I have tried to match the qui

[2021-12-07 20:07] dianasm22 commented on #84376
Thank you @NikaKinska for the clarification.  I also noticed that there is a link "increasing the file size" (https://techcommunity.microsoft.com/t5/azure-sql-blog/increase-data-file-size-to-improve-hammerdb-workload-performance/ba-p/823337) under the "File IO characteristics in General Purpose tier" that references a table which includes the P15 storage tier.  Should that be the table that has to

[2021-12-07 20:14] JimacoMS4 commented on #68680
Hi @pnarsi I checked with the product team. Basically, we ran a private preview that we published the topic for, and now the private preview is closed. We don't currently have an ETA for the next preview, so we'll be removing the topic.

Thanks very much for your feedback. The topic should be removed within the next day or two, so I'm going to go ahead and close this issue. Please @ comment me her

[2021-12-07 20:14] JimacoMS4 commented on #68680
#please-close

[2021-12-07 20:14] #68680 closed

[2021-12-07 20:18] rdeltcheva commented on #84819
Thanks for the feedback. We have adjusted the instructions in the documentation.

[2021-12-07 20:18] jfharden commented on #84829
That is excellent, thank you for the swift resolution.

[2021-12-07 20:32] Damag3d commented on #84428
I do not get it. Documentation tries to document the scenario. I have provided you with info showing that documentation is incorrect. I am not saying that I cannot fix ODATA connector problem. I am showing that documentation is wrong.

[2021-12-07 20:35] k-mehta opened #84937 "ReactPlugin extension config initialization is missing parameter documentation"
Source code provided on the page:
[code]

The `basename` property has been removed from createBrowserHistory's input parameter as of v5 of the history package.

It's also unclear how ReactPlugin uses the history property that is passed through the extensionConfig since there's no documentation about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-12-07 20:54] bengavin opened #84938 "Elastic Query - Run Elastic Query Head Node and Shard Map from same database"
The documentation appears to indicate that the Elastic Query head node and Shard Map can both be contained in the same database.  I am unable to get this working properly (giving the 'external' data sources the server/database name of the current database) and have verified most everything I can from a connectivity standpoint.  I am unable to find any documentation that outlines how to properly ru

[2021-12-07 21:00] alisonOCT commented on #83750
Hi there,
This has not been fixed. When client pull this App from the gallery, the entity ID continues to be incorrect.

[2021-12-07 21:02] Ayanmullick opened #84939 "Fetch AzFunctions API output and display on an HTML page"
How should one parse the output of a PowerShell Azure function while using the [fetch function in an HTML page](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch)? The object shows up in the console of the browser. PFB example code and Codepen link.

[code]

https://codepen.io/ayanmullick/pen/WNZQOqa?editors=1011

But how can one display the output on the web page while consum

[2021-12-07 21:04] jeevansd commented on #83750
@v-hagamp  and @v-rant Have we published this change for the application in the gallery?

[2021-12-07 21:06] MladjoA commented on #84938
@bengavin : Ben, can you please share sample code that doesn't work? As stated in the document, head node and shard map can share a database.

[2021-12-07 21:07] MladjoA commented on #84938
cc: @scoriani

[2021-12-07 21:12] hf-farmqa opened #84941 "Cannot find Azure Maps Licensing and Terms Of Use"
The links on the page to the Azure Maps [Terms Of Use](https://www.microsoftvolumelicensing.com/DocumentSearch.aspx?Mode=3&DocumentTypeId=31) are broken.

It looks like they rolled out a new licensing and terms website 'https://www.microsoft.com/licensing/docs' and forwarded the request to this new location. Unfortunately, this new site doesn't seem to accept the same deep-linking query params and

[2021-12-07 21:14] SysAdminforCoffee opened #84942 "Azure US Government SQL Gateway IPs"
Do you have the Azure US Government SQL Database Gateway IPs?  I've reviewed the Azure Service Tag JSON for the SQL Service Tags, but it doesn't designate the gateway IPs.  Is there another document for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2

[2021-12-07 21:15] Minewiskan commented on #83216
@JohnLBevan - We can make some minor clarifications to this article. However, please keep in mind, this particular article gets relatively low page views, and we have not had other requests for additional information. While we want to do our best to answer your questions and improve the article, no environments will be created for additional testing. Regarding your questions and suggestions:

_- I

[2021-12-07 21:18] bengavin commented on #84938
Sure, I've created the Shard Map with the Elastic SQL tools from a .NET Core app, and then configured the database server with the following script:

`
/*
Create the Shard Map User here, as the 'external' data source
*/
IF NOT EXISTS(SELECT 1 FROM sys.database_principals WHERE [name] = '$ShardUserId$') BEGIN
    CREATE USER $ShardUserId$ WITH PASSWORD = '$ShardUserSecret$';
END
GO

EXEC sp_addrole

[2021-12-07 21:27] andrePKI opened #84943 "Screenshots outdated"
Screenshots on this page are outdated and don’t match the current blades where “MS dependency agent (preview)” is shown below Auto provisioning - Extensions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069802b7-9db6-f5d6-b1aa-52ebc42e96f8
* Version Independent ID: 7b011f8a-0a1c-5066-5d20-3cedcdfc7403
* Content: [Auto

[2021-12-07 21:31] DerekHerman-MSFT commented on #84906
@desmond80in Sorry to hear you are having issues. Could you share the specific example that is giving you problems and the exact errors you are receiving?

[2021-12-07 21:31] andrePKI opened #84944 "Permissions required?"
This is another page which does not provide information about the permissions or roles required to perform these actions. We are not always global admin….
Please add what is required on the subscription, workspace etc to perform these actions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069802b7-9db6-f5d6-b1aa-52ebc4

[2021-12-07 21:33] porkamizeria commented on #84842
Thanks @VikasPullagura-MSFT!
Just thought to add that since in this scenario we are looking for a specific disk, for the query to be equally specific, it would need to look like this:

Cheers!

[2021-12-07 21:40] andrePKI opened #84945 "Enabling extensions mutually exclusive?"
Please add the prerequisites for enabling the extensions. I found (but don’t know why) I can enable LA agents for Azure VMs, but not the others. Also, in one instance I could only enable one of the two: LA agent for Azure VMs or LA agents for ARC VMs, but not both. Please add an explanation why (if this is correct)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-12-07 21:57] James-Hamil-MSFT commented on #84786
Hi @marcgoff , I wasn't able to find the link on the article. Do you have the link itself or a screenshot / line number of where it's located?

[2021-12-07 21:58] Davidswinkels commented on #81247
Hi @Fleid great to hear that more documentation was added for testing with stream-analytics and really great to hear that an object based comparison is being worked on instead of row approach. I think that should fix our tests randomly failing :)

A suggestion to improve the documentation still would be to split the [current documentation page](https://docs.microsoft.com/en-us/azure/stream-analyti

[2021-12-07 21:58] SnehaGunda commented on #84211
@varunrai you are viewing the source files in GitHub, they don't work in the Git source but they have redirects set up so they work in the live doc. for example, they work here: https://docs.microsoft.com/en-us/azure/cosmos-db/choose-api.

I fixed the paths in the above PR so that they work in GitHub too. We will close this issue now.

#please-close

[2021-12-07 21:58] #84211 closed

[2021-12-07 22:04] jgudmundson-RETSD opened #84946 "Domain Validation"
[Enter feedback here]
Step 9 is not possible.  Google requires verification (DNS TXT, HTML, etc) to verify that the domain belongs to us.  The domain belongs to MS, so we can't pass this step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d96be0-1470-eb2

[2021-12-07 22:11] SnehaGunda commented on #84302
@JPMarais-Inscorep thanks for the suggestion, Above PR fixes the doc.

#please-close

[2021-12-07 22:11] #84302 closed

[2021-12-07 22:19] jgudmundson-RETSD commented on #84946
![image](https://user-images.githubusercontent.com/11094546/145114700-23177c01-1144-41a8-91c8-9d71993f36e8.png)
Links:
Learn More - https://support.google.com/cloud/answer/7072069
Search Console - https://www.google.com/webmasters/tools

[2021-12-07 22:27] JohnLBevan commented on #83216
That's great - thanks @Minewiskan .
I'm happy to update the document with additional examples / will create a PR for this as soon as I have capacity in the next few days.

I can confirm that blob storage and the hostname (instead of FQDN) solutions both work for this feature.  I'd not been sure when posting this question as our setup wasn't working as expected; but it turned out that the tester wa

[2021-12-07 22:41] RyanHill-MSFT commented on #84778
Thanks for the feedback @Cedric-Bravo. I've updated the doc removing the language about _common tags_. However, the doc does link over to [service tags](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview) that has a column indicating traffic direction the service tag applies to.

[2021-12-07 22:50] kobulloc-MSFT commented on #84927
@jonwbstr Thank you for bringing this to our attention!  We will review this and get back to you shortly.

[2021-12-07 22:51] #84778 closed

[2021-12-07 23:00] #84747 closed

[2021-12-07 23:02] spelluru commented on #84882
@surabhi512 - I have sent an email to you. I will work with you to add relevant information to the article. Thanks.

[2021-12-07 23:18] JamesTran-MSFT commented on #84946
@jgudmundson-RETSD
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

When it comes to troubleshooting your issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or

[2021-12-07 23:21] JimacoMS4 commented on #81864
Hi @Master-Oliveira, thanks for your feedback! We cleaned up the text in this topic to specify a JSON object in the payload. Please have a look. Hopefully, that will add provide clarity for customers. I'll leave this open for a couple more days if you want to provide additional feedback.

FYI: There's also a sample available here: https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/main

[2021-12-07 23:22] xps233 commented on #84819
Thanks for your guy's quick check on this, this call could be closed.

[2021-12-07 23:22] #84819 closed

[2021-12-07 23:25] JimacoMS4 commented on #51275
Hi @markrad -- thanks for your feedback! We have updated the topic to specify that the **payload** property must be a JSON object. Please have a look when you get a chance. As this is a fairly old issue, I'm going to close it, but you can always @comment me here if you feel that additional changes are warranted. Thanks again for taking the time to contribute to our documentation.

-Jimaco

[2021-12-07 23:25] JimacoMS4 commented on #51275
#please-close

[2021-12-07 23:26] #51275 closed

[2021-12-07 23:28] wealthz01 commented on #51275
?
On Wed, Dec 8, 2021 at 12:26 AM Jimaco Brannian ***@***.***>
wrote:

[2021-12-07 23:32] JimacoMS4 commented on #51275
@wealthz01 - do you have a question?

[2021-12-07 23:41] kobulloc-MSFT commented on #84797
@dreeves14 Thank you again for your question!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-07 23:41] #84797 closed

[2021-12-07 23:43] jonwbstr opened #84949 "Azure Image Gallery verbiage suggestions"
The article says,

Two things,

First, as I'm sure you are aware the Azure Image Gallery aka Shared Image Gallery, has a new name now. The "Azure Compute Gallery". Oddly enough I can also find images under "VM image definitions" in the azure portal. But, whatever I'm sure that will disappear at some point too.

The articles below reads as follows:

https://docs.microsoft.com/en-us/azure/virtual-ma

[2021-12-07 23:47] dkapadia6 opened #84950 "Video link broken"
The video link seems broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbc6de0d-a717-3340-9e88-fdf18a559e1c
* Version Independent ID: b02f8517-e05f-b955-201c-62bea86d04fa
* Content: [What is Azure Chaos Studio?](https://docs.microsoft.com/en-us/azure/chaos-studio/chaos-studio-overview#feedback)
* Content Source: [a

[2021-12-07 23:53] BryanQuigley opened #84951 "Quickstart: Deploy an Azure Kubernetes Service doesn't work on Free plan as is"
I'm trying to follow [the K8S quickstart|https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-portal?WT.mc_id=APC-Kubernetesservices#feedback] but it doesn't work due to a quota restriction (which also doesn't have a very good error message...)

The demo is to showcase 3 nodes - but I can't deploy that many apparently.

Work around: just give a warning that you can only deploy a 2 nod

[2021-12-07 23:53] kobulloc-MSFT commented on #84949
@jonwbstr Thank you for your feedback!  We've assigned this to the document author for further review.

[2021-12-07 23:56] jonwbstr opened #84952 "Does the Disk Type matter?"
Hello,

The question is related to this step

In addition to the replica count and region, is the setting "Storage account type" it defaults to Standard HDD, and offers Premium SSD and Zone Tolerant options. How does one choose what storage account type and number of replicas to create for an image?

This question is coming up a lot more frequently due to AVD deployments. I created an image using

[2021-12-07 23:59] jonwbstr commented on #84952
To clarify further, I am looking for an article that answers these three questions:
1 replica using Standard HDD supports creating xx machines simultaneously
1 replica using Premium HDD supports creating xx machines simultaneously
1 replica using Zone Redundant storage supports creating xx machines simultaneously

[2021-12-08 00:04] mingshen-ms commented on #84069
@DougPetrole, thank you for your feedback.  You're correctly for pointing out the certification flow for some offer types have been updated, such as SaaS offer, and is no longer matching the content in the documentation.  As the documentation is meant to be offer agnostic, we'll look into how to best revise it to reflect the current true state for all offer types in the coming weeks.  Please keep

[2021-12-08 00:04] #84069 closed

[2021-12-08 00:16] msjees opened #84954 "The lines to install the telegraph is missing"
Hi Team the lines to install the telegraf is slightly missing from the pages,
The commands should be

[code]
this is from [this page ](https://docs.influxdata.com/telegraf/v1.20/introduction/installation/?t=curl)
I tried this and worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b9aacb-357c-90fc-1804-756d3d6f512

[2021-12-08 00:31] MonikaReddy-MSFT commented on #84923
@halabap - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 00:33] MonikaReddy-MSFT commented on #84954
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 00:35] wealthz01 commented on #84923
Most of mine are open but have no login

On Wed, Dec 8, 2021 at 1:32 AM MonikaReddy-MSFT ***@***.***>
wrote:

[2021-12-08 00:36] emuench commented on #82116
This issue is being actively addressed; update coming soon.

[2021-12-08 00:42] kobulloc-MSFT commented on #84952
@jonwbstr Thank you for your question!  We are investigating this and will get back to you shortly.

[2021-12-08 00:57] cynthn commented on #84720
I've fixed the parameters and the images used were also not Gen 2. I'll need to check with engineering about whether you need to have Trusted Launch enabled on the VM in order to change the settings or if there is a way to take a non-Trusted VM and make it a Trusted VM. My understanding is that you can do it through the API, but it looks like the parameter is missing from az vm update.

[2021-12-08 00:57] cynthn commented on #84720
#reassign cynthn

[2021-12-08 01:01] #84720 closed

[2021-12-08 01:02] stinkyfriend opened #84956 "Finding SSL certificates missing link (href)"
[Enter feedback here]
Under "SSL certificate issues" > "Finding SSL certificates" point #3, last sentence, it says "You can find a list of hostnames that are frequently accessed by Storage Explorer here." Is "here" supposed to be a link (href) to a list of hostnames?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6c

[2021-12-08 01:07] santhoshb-msft commented on #82116
Thank you Eric!

[2021-12-08 01:10] wealthz01 commented on #82116
Can I get help with my Microsoft
On Wed, Dec 8, 2021 at 2:08 AM SANTHOSH B ***@***.***> wrote:

[2021-12-08 01:18] gary918 opened #84957 "Prerequisite for ACR for securing an Azure Machine Learning workspace with virtual networks"
Hi, experts,
In the doc of https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet?tabs=pe#prerequisites, it says "Your Azure Container Registry must be in the same virtual network and subnet as the storage account and compute targets used for training or inference."
Does it really have this constraint? I think AML WS (in VNet) can still use the ACR in another VNet.

T

[2021-12-08 01:45] marcgoff commented on #84786
It's the "Migrate to Azure file shares" link.

On Tue, Dec 7, 2021, 4:57 PM James Hamil ***@***.***> wrote:

[2021-12-08 01:55] ChaitanyaNaykodi-MSFT commented on #84931
Hello @anhlqn, Thank you for reaching out. The product team is currently working on this feature and there is no ETA yet on when it will be deployed. Reference:- https://docs.microsoft.com/en-us/answers/questions/629026/index.html
We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-12-08 01:55] #84931 closed

[2021-12-08 02:00] torumakabe opened #84958 "Differences between add-ons and extensions"
AKS have many add-ons such as Azure Policy, OSM, etc to add extra features. What is difference between add-ons and extensions? I have not found the information related to it.

I'm confused about its position and proper use. Is the extension the successor to the add-on? Could you please explain in this document? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-12-08 02:30] hisasima opened #84959 "We don't need to add Global Reach to both Circuit."
I know that we don't need to add Global Reach to both of the Circuit. After I added Global Reach to one Circuit, the routing will be advertised each other. I can not find this behavior in this document. It is a little confusing. I thought both of the circuit have a Global Reach setting like Vnet Peering. I want you to add the behavior in this document. Because it cause errors, after I added Global

[2021-12-08 02:38] ChaitanyaNaykodi-MSFT commented on #84869
Hello @gerbermarco, Thank you for pointing this issue out to us. The document is updated now.
![image](https://user-images.githubusercontent.com/67453298/145138498-dc951c97-c191-4c82-925a-99ba15b5ee8a.png)
We will now proceed to close this issue out. Please tag me in your response if there are any additional questions. Thank you!

[2021-12-08 02:38] #84869 closed

[2021-12-08 02:41] kobulloc-MSFT commented on #84952
@jonwbstr I reached out to the product group and the recommendation remains at a maximum of [20 VMs for every replica](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries#scaling), regardless of the disk type.  HDD and SSD should support the same number of replicas however there is a note that [some images may not be suited for standard HDD disks](https://docs.microsoft.

[2021-12-08 02:50] wealthz01 commented on #51275
Json code.. can you tell me what to do

[2021-12-08 03:00] #84893 closed

[2021-12-08 03:06] #83251 closed

[2021-12-08 03:12] AshokPeddakotla-MSFT commented on #84941
[@hf-farmqa](https://github.com/hf-farmqa) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-08 03:32] teraco commented on #84893
@amanmcse
Thank you!
I was told by Microsoft sales that the Office 365 plan is also a 1:5 model, so I should buy as many licenses as I want to invite guest users. I will check with Microsoft sales.

[2021-12-08 03:38] mundayn opened #84962 "License"
Can you please clarify if you need two licenses or one in this scenario and why? It is not clear to me. I think this scenario is OK to use the one license based on "Ensure that your directory has at least as many Azure AD Premium P2 licenses as you have employees that will be performing the following tasks".

bob.smith@contoso.com has an E5 + Azure AD Premium P2 - this is Bob's daily account for e

[2021-12-08 03:50] AnuragSharma-MSFT commented on #84823
@gorankuk Awaiting your response on it.

[2021-12-08 03:53] AnuragSharma-MSFT commented on #84942
@SysAdminforCoffee Thank you for the detailed feedback. This is being assigned to the content author to evaluate further.

[2021-12-08 03:56] inputoutputcode opened #84963 "The service tag AzureDevOps is available in portal since May."
The service tag AzureDevOps is available in portal since May.
Please remove: "Note: This tag is not currently configurable via Azure portal."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags

[2021-12-08 04:02] RohitMungi-MSFT commented on #84935
@tjprescott Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-12-08 04:07] ram-msft commented on #84957
@gary918 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-12-08 04:11] darrenjoycenz opened #84964 "Log Analytics coverage?"
Should using Log Analytics be covered here as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f16616-4848-55f3-f6aa-f95f566811e9
* Version Independent ID: 34898e71-b8af-6d9d-ee53-49f34e2e4033
* Content: [Azure Key Vault logging](https://docs.microsoft.com/en-us/azure/key-vault/general/logging?tabs=Vault)
* Conte

[2021-12-08 04:23] sashizaki opened #84965 "Replace the placeholders and run the below command to set the environment variables used in this document"
[Enter feedback here]
Replace the placeholders and run the below command to set the environment variables used in this document:
In the above line, there is no "$" indicating a variable.
Isn't it correct that it should look like the following?

$CLUSTER_NAME=<cluster-name>
$RESOURCE_GROUP=<resource-group-name>
$ARM_ID_CLUSTER=$(az connectedk8s show -n $CLUSTER_NAME -g $RESOURCE_GROUP --query id -o

[2021-12-08 04:40] vipulsparsh commented on #84945
@andrePKI Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-08 04:41] SnehaAgrawal-MSFT commented on #84929
@kmcguinn-caravan Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-08 04:42] SnehaAgrawal-MSFT commented on #84933
@simonkurtz-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-08 04:42] AjayKumar-MSFT commented on #84917
@StephenWBertrand,   Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-08 04:43] SnehaAgrawal-MSFT commented on #84939
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-08 04:46] SrijitBose-MSFT commented on #84958
@ToruMakabe , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog(s).

[2021-12-08 04:47] AjayKumar-MSFT commented on #84928
@willfiddes, Thanks for taking time to share your feedback and the URLs of the docs. We are taking a look into this and will get back to you soon.

[2021-12-08 04:51] AjayKumar-MSFT commented on #84950
@dkapadia6, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-12-08 04:53] AjayKumar-MSFT commented on #84943
@andrePKI,  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-12-08 04:55] AjayKumar-MSFT commented on #84944
@andrePKI,  Thanks for taking time to share your valuable feedback. Your feedback has been shared with the content owner for further review.

[2021-12-08 04:56] JoshLove-msft opened #84967 "Azure Functions Extensions - Add details for all Identity configurations"
This [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#common-properties-for-identity-based-connections) lists a few of the possible Identity configurations that can be used with the functions extensions supporting Identity-based connections. It should provide an exhaustive list of all the settings and their behavior.
See https://github.com/Azure/azure-sdk-

[2021-12-08 05:01] BhargaviAnnadevara-MSFT commented on #84896
@madhu-pixel Please elaborate your feedback so it can be actioned appropriately.

[2021-12-08 05:16] AnuragSharma-MSFT commented on #84890
@pmozbert Thanks for responding back. If we look into [article](https://docs.microsoft.com/en-us/azure/cosmos-db/serverless) it mentions that we don't configure the throughput in case of serverless account **_"In serverless mode, you don't have to provision any throughput when creating containers in your Azure Cosmos account. At the end of your billing period, you get billed for the number of Requ

[2021-12-08 05:16] damochiz opened #84968 "AutoML's datastore APIs do not support identity-based access method"
[Enter feedback here]
If you change the default data store (workspaceblobstore) to identity-based access, AutoML will fail. Please consider appending it to the note or the prerequisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e863fc67-64c9-267a-fd52-f537eb608cb0
* Version Independent ID: 99e69d82-4b52-dfd0-0322

[2021-12-08 05:43] hegao15 commented on #63118
@MayankBargali-MSFT , thanks for the information about jwks cache, could I find the definition of cache/refresh strategy from some public documentation ?

[2021-12-08 05:44] AnuragSingh-MSFT commented on #84965
[@sashizaki](https://github.com/sashizaki), The "$" at the start of the line would be part of "prompt string" which marks or delimits the command line (which can be different depending on the shell environment being used). In the given example, the "$" is not required to set the environment variable. It will be required, when using the set environment variable as mentioned in line 3 or when printi

[2021-12-08 05:51] KrishnaG-MSFT commented on #84937
@k-mehta Thanks for the feedback.
Assigning @lgayhardt @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-12-08 06:11] MughundhanRaveendran-MSFT commented on #84836
Closing this issue as the note provides sufficient information about the SKU
![image](https://user-images.githubusercontent.com/56299140/145157532-6f021d57-29df-4e5a-915e-dc4297464762.png)

[2021-12-08 06:11] #84836 closed

[2021-12-08 06:12] agamemnen opened #84972 "Add the possibility of using the Russian language!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d0609c-6004-24ad-5446-88bdddd41b70
* Version Independent ID: 94baa464-93b0-efa8-1d6a-8d09c29dbd87
* Content: [Adding chit-chat to a QnA Maker knowledge base - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamak

[2021-12-08 06:18] xuegao112 opened #84973 "Will AzureActivity and Usage data be chaged after 90 days?"
Hi team,

I understand AzureActivity and Usage are free for ingestion. But if I change data retention more than 90 days, will both of them be charged retention fee or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed35a55-0db9-4afa-9a80-fe9adac1e7d7
* Version Independent ID: 67af640b-9a6c-bf24-3a99-14ad8dab849f
*

[2021-12-08 06:30] SaiKishor-MSFT commented on #84959
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-12-08 06:34] NikkiChang715 opened #84975 "Invalid Links Direction"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/marketplace/co-sell-configure?tabs=workspaces-view#enter-your-contacts
Table 2: Documents that support co-sell
Solution/offer one-pager and Solution/offer pitch deck template links were redirecting to Partner Network Resources which unable to locate the template to be downloaded.
The page is combining all resources but not able to find r

[2021-12-08 06:41] SaiKishor-MSFT commented on #84963
@inputoutputcode Thank you! We have updated the document accordingly. This should reflect soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-08 06:41] #84963 closed

[2021-12-08 06:43] SaiKishor-MSFT commented on #84924
@cherylmc Can you please look into this?

[2021-12-08 06:49] kobulloc-MSFT commented on #84341
@danielsollondon has been added for review.

[2021-12-08 06:52] #84894 closed

[2021-12-08 07:21] mshyatsu opened #84976 "Some contents we can jump via links are broken"
[Enter feedback here]
For example, see the section "How do I troubleshoot a high memory-consumption scenario?". We can see many broken images via "Capture and analyze a dump file for intermittent high memory for Web Apps." in this section. We need to introduce other pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-12-08 07:25] SadiqhAhmed-MSFT commented on #84975
@NikkiChang715 Thank you for bringing this to our attention. We will review the document with the content owner and update as appropriate.

@emuench For assistance!

[2021-12-08 07:30] kobulloc-MSFT commented on #84765
@skyline75489 This appears to be working in Bash.  What are you seeing when you run the command?

![image](https://user-images.githubusercontent.com/37556655/145166819-41cbae47-83dd-4ce8-9ae9-2c902c68bb12.png)

[2021-12-08 07:46] Karishma-Tiwari-MSFT commented on #84951
Thanks for sharing the feedback. Apologies for the confusion caused.
The screenshot in the doc says: For test & development workloads, only 1 node is required. For productions workloads, 3 nodes are recommended. Since yours is a testing scenario, you can use 1 node.

![image](https://user-images.githubusercontent.com/20851144/145168314-edbb99a3-8edb-4043-b803-dbf34a6287da.png)

While I understand

[2021-12-08 07:54] BryanQuigley commented on #84951
The goal (for me) was to test scaling K8s in a simple case (ideally from 1->5), but yes for many just deploying with 1 or 2 nodes would be fine.

I went through the support options and it said multiple times I can't request a quota increase on the Free plan.

Thanks for taking a look!

[2021-12-08 08:20] SaiKishor-MSFT commented on #84916
@vhorne Can you please look into this?

[2021-12-08 08:28] RiaanVR commented on #46309
@tamram  indeed I've understood that as well but even with a regular user when I switch the Auth in the portal to be Azure AD-based it gives me the above error, that I don't have permission.

Perhaps I'm on the wrong issue but seems that Azure AD authentication for table storage doesn't work on my subscription, thus the question.

[2021-12-08 08:30] IanKemp opened #84978 "Durable functions HTTP APIs page doesn't specify the base URL that the endpoints work against"
Example:

[code]

What am I supposed to do with that path? What is the base URL I should combine it with to generate a full URL that will execute and provide the desired result? A full example is necessary here.

For the record, the answer is:

* For local development, use `http://localhost:<port>` as the base URL
* When the function app is hosted in Azure, use the URL field from the function app'

[2021-12-08 08:33] jovanroy opened #84979 "authentication request contains http redirect URI, while text refers to https."
The first Tip and the authentication request says the browser will be redirected to **https**://localhost/myapp/ while the authentication request just above it refers to **http**. Also, the redirect_uri in the link in the tip contains http instead of https.
Further down (Getting access tokens silently in the background) the redirect_uri is again http, but the GET requests contain https.
The sign-o

[2021-12-08 09:33] magic-happenz opened #84980 "Related resources Information seems outdated"
Hello,

the [related resources](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/overview#related-resources) information seems outdated. With the ability to use managed disks there is no storage account required to create a virtual machine. In general this is not a standard setup from how I understood it. Is this outdated or do I get this wrong?

Best,
Mario

---
#### Document Detai

[2021-12-08 09:33] ctahok opened #84981 "Re: "Deploy an HTTP proxy server to route traffic""
[Enter feedback here]
You mentioned another option is to deploy an HTTP proxy server to route traffic.

Can you please give more details or context on where to install it, in DMZ or on the SQL VM itself, how to configure it and what to set up, IIS rewrite etc. or Nginx?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5

[2021-12-08 09:59] ShadabHasan-MCT opened #84984 "Export to SQL from Application Insights | diagnostic settings using Stream Analytics"
Looking for another "Walkthrough: Export to SQL from Application Insights using Stream Analytics" post **using diagnostic settings** for exporting telemetry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0ab8bf-8b57-4bc7-ca33-3ed602aca5c8
* Version Independent ID: d1c79cae-05e7-6b40-2023-c82acd7667c6
* Content: [Exp

[2021-12-08 10:24] AjayKumar-MSFT commented on #84976
@mshyatsu,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-08 10:41] damianfijorek opened #84986 "Wrong package for `TimerTrigger`."
Wron package is mentioned. Should be `Microsoft.Azure.Functions.Worker.Extensions.Timer`. See [AZFW0001: Invalid binding attributes](https://dotnet-worker-rules.azurewebsites.net/rules?ruleid=AZFW0001).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7

[2021-12-08 10:55] gbeaud opened #84988 "Need to add /providers/ in commands otherwise it fails"
[Enter feedback here]

Your commands to create the image are:

az resource create \
    --resource-group $imageResourceGroup \
    --properties @helloImageTemplateWin.json \
    --is-full-object \
    --name helloImageTemplateWin01 \
    --resource-type Microsoft.VirtualMachineImages/imageTemplates

But it fails; you should add /providers/ before Microsoft... in the resource-type variable, like th

[2021-12-08 11:06] shashishailaj commented on #84956
@stinkyfriend Thank you for catching this . We will investigate and update the thread.

[2021-12-08 11:10] shashishailaj commented on #84962
@mundayn Thank you for your query . We will investigate and update the thread.

[2021-12-08 11:12] shashishailaj commented on #84964
@darrenjoycenz Thank you for your feedback . We will investigate and update the thread.

[2021-12-08 11:14] rwaal opened #84989 "az bicep publish command incorrect"
The az cli command for publishing a Bicep module to Azure Container Registry seems incorrect. When I try to run the command as it's described, I get the following error:

[code]

The parameter `--file` is mandatory, which should be reflected in the documentation.

My version of az cli and bicep:
[code]
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-12-08 11:21] shashishailaj commented on #84979
@jovanroy Thank you for your feedback . We will investigate and check with the author on this.

[2021-12-08 11:31] BhargaviAnnadevara-MSFT commented on #84918
@scorpionlion Are there any further updates here?

[2021-12-08 11:40] paggarwalmsft commented on #17764
Hi @dani3lheidemann , we are working on policy and noticed that remediation task only works once when it deploys. We are getting non compliant status after 24 hours however "deployifnotexist" remediation is not working. We need to manually create a remediation task again to remediate the same.

Is it still manual?

[2021-12-08 11:41] Mina69 commented on #59921
Any update on this case?

[2021-12-08 11:46] scorpionlion commented on #84918
links on this page and other in MS docs still referring to channel 9 - when clicked on them they just redirect to MS learn home page

https://docs.microsoft.com/en-us/azure/app-service/environment/intro

[2021-12-08 11:53] dani3lheidemann commented on #17764
Hi @paggarwalmsft, as far as I know, auto remediation only works on new resources.
@YutongTie-MSFT do you have any update for us on auto-remediation of existing resources?

[2021-12-08 11:53] take-4c commented on #84836
Hi @MughundhanRaveendran-MSFT -san,

Thank you for the response! I understood that virtual network-supported SKUs meant VNet integration supported SKUs.
I recommend to replace it with "VNet integration supported" because I could not understand the meaning of "virtual network-supported".
VNet integration is explained in the public document so we can understand the meaning of "VNet integration suppo

[2021-12-08 11:55] NikaKinska commented on #84376
Hi Diana,

I've already asked @Jovan ***@***.***> to do so (remove P15), but he hasn't been very willing to change the blog and it's his blog. @***@***.***> - would you mind correcting this please?

Nevena
From: dianasm22 ***@***.***>
Sent: Tuesday, December 7, 2021 9:08 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Nevena Nikolic ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/a

[2021-12-08 12:05] paggarwalmsft commented on #17764
Hi @dani3lheidemann  Policy do not get retrigger after 24 hours. We applied policy and created a remediation task. It fixes all existing with reference to time we created remediation task. After 24 hours we get a new non compliant data however remediation do not trigger itself. It even allow us to create resources with non complaint configuration and do not remediate after 24 hours

[2021-12-08 12:05] scoriani commented on #84938
@bengavin i just followed the steps described in our doc here https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-query-horizontal-partitioning#stored-procedure-for-remote-t-sql-execution-sp_execute_remote using standard ElasticScaleStarterKit sample and i can confirm that hosting the ShardMap in the Elastic Query endpoint database works perfectly. I can only assume that you're hitti

[2021-12-08 12:19] ram-msft commented on #84968
@damochiz Thanks for the feedback! We will review and update accordingly.

[2021-12-08 12:19] MonikaReddy-MSFT commented on #84981
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 12:20] ram-msft commented on #84972
@agamemnen Thanks for the question. We are investigating the issue and will update you shortly.

[2021-12-08 12:21] RohitMungi-MSFT commented on #84935
@tjprescott I have tried to use this document to run these scenarios and the attached file with the changes worked for me.
[newform.txt.txt](https://github.com/MicrosoftDocs/azure-docs/files/7675942/newform.txt.txt)
@laujan FYI.. could you please review the document as per changes in the file and update the document as required?

[2021-12-08 12:21] MonikaReddy-MSFT commented on #84989
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 12:24] Bafff commented on #46309
@RiaanVR Can you start with assigning to yourself Reader and Data Access role and try to access your table data

[2021-12-08 12:28] ShaikMaheer-MSFT commented on #84862
@peterbud ADF allows '-' in data factories. I tried same. Its working fine. Please check below screenshot. Kindly review same and share updates. Thank you.
![image](https://user-images.githubusercontent.com/84302758/145208231-ceddc57a-00a1-4a18-acfd-cea06f5a0597.png)

[2021-12-08 12:37] peterbud commented on #84862
@ShaikMaheer-MSFT the document and the issue at hand is NOT about the naming of the data factory itself, but the **resources** within the data factory. Try to create a pipeline in ADF where the name contains a '-', it won't work.

Here is the lisleading paragraph:

[2021-12-08 12:38] ShaikMaheer-MSFT commented on #84868
@domingo-gomes-northern These types of errors will occur when you dont have access on the sources. Kindly check below link to know more about this error.
https://docs.microsoft.com/en-us/iis/publish/troubleshooting-web-deploy/web-deploy-error-codes#error_exception_while_creating_object

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we

[2021-12-08 12:38] ishita-malik1 opened #84992 "Wrong naming convention"
[Enter feedback here]
The page comes up as "public load balance- portal" rather than "internal load balancer - portal" on the left pane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad513378-d88f-8ef9-c07e-dd5d73d3410c
* Version Independent ID: 520b73ae-f8e1-6750-35d2-b808836dcd8c
* Content: [Move Azure internal Load

[2021-12-08 12:47] BhargaviAnnadevara-MSFT commented on #84918
@scorpionlion Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-08 12:50] GitaraniSharma-MSFT commented on #84992
@ishita-malik1 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-08 12:59] dani3lheidemann commented on #17764
@paggarwalmsft yeah that's exactly what I know about auto remediation so far. There's no retrigger based on events or time configured. Remediation only works on new resources. I hope that Microsoft will fix this.

[2021-12-08 12:59] ShaikMaheer-MSFT commented on #84862
@peterbud Thank you for updates. I tried even pipeline names with - symbol. Its working fine. I published also pipeline.
![image](https://user-images.githubusercontent.com/84302758/145212235-d5321eb0-51ba-456b-b5e5-cf3cb45649b3.png)

Having - Symbol at starting or ending of pipeline is not allowed. Otherwise - symbol to use instead of space is working good as per document.
![image](https://user-im

[2021-12-08 13:04] #75037 closed

[2021-12-08 13:08] Oddleif opened #84993 "How to run this app on your local dev environment?"
It's a nice feature to have all the authentication configured on the Azure App Service, but when using this what is the recommended way to deal with authentication during development on our local dev environments?

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independe

[2021-12-08 13:15] peterbud commented on #84862
Looks like it's not very consistent: you are right, pipelines can contain '-', but **datasets** cannot:
![image](https://user-images.githubusercontent.com/7863452/145213914-e8eee877-910b-4edc-95d0-9f0e33fc8292.png)

Same goes for **linked services**, no '-' allowed:
![image](https://user-images.githubusercontent.com/7863452/145214072-b74f4395-8735-4f9b-838a-0dc93566b6fe.png)

I'm not sure what's s

[2021-12-08 13:15] #84862 closed

[2021-12-08 13:32] andrePKI commented on #84944
Hi,
I found the following:
- One should be owner of the subscription (i.e. Contributor is not enough)
because the enabling of the extensions auto provisioning is implemented via
Azure Policy and one must be able to create the policies on the subscription
- Also, for Arc (but that is not specific to auto provisioning) the
Resource provider Microsoft.HybridCompute must be registered

Maybe the doc c

[2021-12-08 13:35] andrePKI commented on #84945
Hi,

I found another issue which was covering this one. It *is* possible to
enable both
* Log Analytics agent for Azure VMs as well as
* Log Analytics agent for Azure Arc Machines (preview)
at the same time, even on the same Log Analytics workspace.

As mentioned in another thread about this page, one must have Owner
permissions on the subscription to make it work.

Thank you.

Op wo 8 dec. 2021 o

[2021-12-08 13:43] andrePKI commented on #84681
@MonikaReddy-MSFT Hi Monika, Yes, thank you, the docs were helpful.
 Although it would be nice to have some figures about the limits of this particular solution, some of which are already present on this page, maybe this is not the place for it. Anyway, we find that we can handle our requirements with this solution (not to mention I was a factor 1000 off - 1,8 TB instead of 1860 TB ;-)).

[2021-12-08 13:49] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , so when you try to create the peering via ARM template, you already have assigned the Network Contributor role to userA (guest) in vnetB?

[2021-12-08 13:52] jsquire opened #84994 "Document Translation: code snippet is broken"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#25795](https://github.com/Azure/azure-sdk-for-net/issues/25795).

### Please be aware that @catalinaperalta is the author of the original issue and include them for any questions or replies.

## Details

The code in the example below doesn't run immediately for me. I might be missing something when attempti

[2021-12-08 13:54] YusakuIto-yui opened #84995 "Add "Storage" for the list of necessary service tags"
Currently, it says you need to use the service tag "GuestAndHybridManagement" and "AzureMonitor".
However, it should include "Storage" as well. So, please add the service tag to the list of necesasry service tags.

_When you create network group security rules or configure Azure Firewall to allow traffic to the Automation service and the Log Analytics workspace, use the service tags GuestAndHybrid

[2021-12-08 14:03] PramodValavala-MSFT commented on #84986
@damianfijorek Thanks for the feedback! The package that you mention is only for the C# Isolated Worker while the rest of the languages including in-process C# use the packages listed here. Either way, I believe it would be best to include this information in the reference docs as well. I am assigning this issue to the content author for further review.

[2021-12-08 14:04] PramodValavala-MSFT commented on #84978
@IanKemp Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-12-08 14:15] soelchma opened #84997 "Please add info why Azure storage firewall is not wokring for Cloud Shell storage accounts"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage)
* Content Source: [article

[2021-12-08 14:18] madsd commented on #84918
Thank you for making us aware of this. I have removed the links. The docs should be updated by tomorrow.

[2021-12-08 14:41] twimmers commented on #73158
Sorry about the long delay here, this got lost. I've made the update to the screenshot, thanks again for reporting this issue!

[2021-12-08 14:41] twimmers commented on #73158
#please-close

[2021-12-08 14:42] #73158 closed

[2021-12-08 15:08] GitaraniSharma-MSFT commented on #84815
@mayurpuli , below are some Azure services that you can use:

You can use Connection Monitor from Azure Network Watcher to monitor the end-to-end network connectivity:
Refer : https://docs.microsoft.com/en-us/azure/network-watcher/connection-monitor-overview

Or, you can use Azure Monitor, which is a service in Azure that provides performance and availability monitoring for applications and servic

[2021-12-08 15:08] #84815 closed

[2021-12-08 15:10] MonikaReddy-MSFT commented on #84995
@YusakuIto-yui - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 15:12] MonikaReddy-MSFT commented on #84995
@YusakuIto-yui - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-08 15:12] #84995 closed

[2021-12-08 15:13] vhorne commented on #57500
We do not include private preview content in our Application Gateway documentation.
#please-close

[2021-12-08 15:13] #57500 closed

[2021-12-08 15:14] #84988 closed

[2021-12-08 15:14] AIGARSJ commented on #84291
Yes, I have

[2021-12-08 15:24] MonikaReddy-MSFT commented on #84989
@rwaal - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-08 15:24] #84989 closed

[2021-12-08 15:24] SteveT2020 opened #85000 "Databricks - Seattle Safety Data tutorial"
This code segment fails:

**df = spark.read.parquet(wasbs_path)**
print('Register the DataFrame as a SQL temporary view: source')
df.createOrReplaceTempView('source')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent ID: 7fe76247-c969-2068-2c3c-bf327fbbe39e
* Cont

[2021-12-08 15:25] MonikaReddy-MSFT commented on #84793
@glennlafollette - Thanks for reaching out. I have reached out to product team and awaiting their response. I will keep you posted as soon as i hear back from them.

[2021-12-08 15:27] bengavin commented on #84938
@scoriani - Ok, I've updated my ShardQueryCredential to be the server admin and this seems to allow the query to proceed properly.  Is the potential issue that the user I want to use for the query credential is not a server-level user, but rather a database level user not associated with a server login?

[2021-12-08 15:27] vhorne commented on #65110
fixed
#please-close

[2021-12-08 15:28] #65110 closed

[2021-12-08 15:28] rp-msft opened #85001 "VNET reigon availability"
This document needs verification of VNET ACI avialability for accuracy as it is not avialable in all regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4153e809-a854-ff58-3d1e-31770c36a1f9
* Version Independent ID: e37b5834-9174-5ea2-567c-7b2628ed9eeb
* Content: [Resource availability by region - Azure Container I

[2021-12-08 15:30] pettermoe95 commented on #84400
What is the status on this? :)

[2021-12-08 15:40] davidsandbrand opened #85003 "command-line issue in code sample"
The very last code sample in point 6 shows two commands on the same line. A line break needs to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23cafb82-93a6-178f-0932-c844f9af42b2
* Version Independent ID: bc7c7935-2f13-2b38-e315-e920376f026f
* Content: [Onboard to Microsoft Defender for Cloud with PowerShell

[2021-12-08 15:52] VikasPullagura-MSFT commented on #84980
@magichappens89
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-08 15:52] VikasPullagura-MSFT commented on #84980
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-12-08 15:53] VikasPullagura-MSFT commented on #85001
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-08 15:54] VikasPullagura-MSFT commented on #85001
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-12-08 16:01] bengavin commented on #84938
@scoriani @MladjoA - As a follow-up to this, is there documentation somewhere on the minimum permissions required for the 'shard manager' and 'shard reader' users across both the shard map and individual shard databases?  I've worked out a bit of the requirements from trial-and-error from a shard management perspective, but having this documented somewhere, along with appropriate SQL sample script

[2021-12-08 16:01] vhorne commented on #54295
Doc updated
#please-close

[2021-12-08 16:01] #54295 closed

[2021-12-08 16:09] inexorous commented on #55630
@cherylmc / @SubhashVasarapu-MSFT I don't think this is typical of any RDP connection. In a non-full-screen connection this may be true. On a full-screen RDP connection I can use shortcuts such as Alt+Tab, Windows+R, F11, Esc and more and these are directed to the remote machine. In a full-screen Bastion connection if I use Alt+Tab this switches the window from the Bastion connection, Windows+R op

[2021-12-08 16:16] AjayKumar-MSFT commented on #84988
@gbeaud,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us (@Karishma-Tiwari-MSFT)  know.

[2021-12-08 16:33] AshokPeddakotla-MSFT commented on #84812
@faceoffers28 I've also not found this information on docs.  I would suggest you, please post your query on the [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questions). We have our engineers and other community members who will be happy to assist. Forums have a better suited audience for such queries. Once your issue is posted in forum

[2021-12-08 16:36] AshokPeddakotla-MSFT commented on #84941
@hf-farmqa Since this needs a validation and update, I am adding author @stevemunk for further assistance.

[2021-12-08 16:44] davidsandbrand opened #85004 "invalid value in example code"
In point #2, the 2nd command includes
-Name "default"
which is not a valid value for this field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23cafb82-93a6-178f-0932-c844f9af42b2
* Version Independent ID: bc7c7935-2f13-2b38-e315-e920376f026f
* Content: [Onboard to Microsoft Defender for Cloud with PowerShell](https:/

[2021-12-08 16:54] vhorne commented on #84003
Localization work item created for the Japanese content. https://ceapex.visualstudio.com/CEINTL/_workitems/edit/529863
#please-close

[2021-12-08 16:54] #84003 closed

[2021-12-08 16:56] v-hagamp commented on #83750
@alisonOCT,
Will you please raise the request for update?
 please submit the update request in our [portal](https://microsoft.sharepoint.com/teams/apponboarding/apps/SitePages/Default.aspx) as below –
![image](https://user-images.githubusercontent.com/59013559/145249813-e53eb1d1-24e0-42d5-91f0-36ab66fa3429.png)

Thanks,
Hamsika

[2021-12-08 17:02] alisonOCT commented on #83750
@v-hagamp
I get the following error when trying to access that portal:
![image](https://user-images.githubusercontent.com/94127456/145251151-6f4245d4-50ce-45c3-bb81-935d61391cd1.png)

[2021-12-08 17:13] v-hagamp commented on #83750
Let me give you the access for your email.

[2021-12-08 17:13] v-reroed opened #85006 "Co-sell BOM links are no longer working"
Links for co-sell BOM templates are no longer re-directing to the correct location. It directs me to the generic library but does not actually point to a OnePager, Customer Presentation or Case study template like it used to.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9673979c-146c-81c7-1fb8-

[2021-12-08 17:23] JimacoMS4 commented on #51275
@weathz01 I need to know what you're trying to do before I can help you. There is an example of using a custom allocation policy: https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-custom-allocation-policies?tabs=azure-cli. I am going to add a link in the topic.

[2021-12-08 17:39] lmf-mx commented on #24870
While this doesn't appear to need a doc change, I'll add what I found here, since this is where I landed searching for answers and may help others that land here themselves.

Part of the problem I've found is that the relevant emails for deprecations go to subscription administrators only. The users with access to AKS get portal notifications, but may not see these. Many accounts will have owners

[2021-12-08 18:14] CalvinRodo opened #85008 "Lack of examples of how to setup a repo"
I'm trying to setup a repo using sentinel repositories and would like a simple "Hello World" example that shows how to get at least one resource from a repo into Sentinel.

It's very difficult to see what the required format is for the files I have yet to find a link from this page that shows exactly how you need to structure things to get it to work.

---
#### Document Details

⚠ *Do not edit thi

[2021-12-08 18:15] stevemunk commented on #84941
@hf-farmqa thank you for letting us know that this link is no longer working, they moved this information to this site: https://www.microsoft.com/licensing/terms/productoffering/MicrosoftAzure/MCA

Once there, you can navigate down to (or search for) the section titled Azure Maps.

I will update the docs asap.

[2021-12-08 18:15] himanshusinha-msft commented on #84984
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-08 18:18] himanshusinha-msft commented on #85000
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-08 18:24] kobulloc-MSFT commented on #84952
@jonwbstr We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-08 18:24] #84952 closed

[2021-12-08 18:27] v-gpettibone commented on #42615
Hi  @ramandeep-singh-1983, thanks for bringing this to our attention. I've updated the paragraph. Please review the documentation at https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview. If there are no other problems, please close this issue.

[2021-12-08 18:29] MonikaReddy-MSFT commented on #84973
@xuegao112  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update you accordingly.

[2021-12-08 18:55] MughundhanRaveendran-MSFT commented on #84818
@bichuga , Its not required to be run twice. I will change the documentation. Thanks for your feedback

[2021-12-08 18:56] jmsteinbrunner commented on #78146
@kobulloc-MSFT @AlexandraKemperMS Any update on this?  I'd like to pull configuration based on namespaces and labels but I believe this is still not working as documented.

[2021-12-08 19:05] cfizz34 opened #85013 "How to control the workspaces as the admin?"
[How do I do this? Workspaces may be added, changed, or removed based on changes made by your administrator.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17be4454-e9d7-a43c-4a07-45d7d4760ce0
* Version Independent ID: 421a7982-47d5-348c-8a3a-d8308a74242d
* Content: [Connect to Azure Virtual Desktop with the Microsoft

[2021-12-08 19:09] anthfuller opened #85015 "CISA Archived website"
[On the MS Docs page, "Security guidelines for cross-organizational apps" the link to the CISA website has been archived and stated the information on their site may be outdated. I think we should remove this link, or update it with another security site for our clients.

**Defense in depth**
"Today's threat landscape requires designs with security approaches in mind. Ideally, you'll want to build

[2021-12-08 19:13] cgillum commented on #84978
Indeed, it looks like we never actually mention this! This information is only obvious to those that are more deeply familiar with how Functions webhooks work, which probably aren't a lot of people. I've created a PR in the docs repo (the MS internal version) that adds the following towards the top of the article:

[2021-12-08 19:17] ChristianJBergstrom opened #85016 "About the FAQ"
[If possible the FAQ section should be updated and rephrased so people in general understand the content. As it's described in the FAQ is just too much information. Perhaps use information from Message center, together with the already existing text "when does a guest user get at OTP" (which is really clear) combined with the info banner-text in Azure AD (which is brief but one get the picture) wh

[2021-12-08 19:17] hf-farmqa commented on #84941
Thanks, that's what I was looking for.

[2021-12-08 19:17] #84978 closed

[2021-12-08 19:20] porkamizeria opened #85017 "small typos"
Hello Guys,

There seems to be two "small typos" on this page.
Under **Expand the disk volume in the OS** section, point 4, the PowerShell code looks like the following and errors when attempted to run:

The reason is the trailing backtick character in the first two lines. For the code to run correctly it should be amended to the below:

Hope this helps! Stay safe!

---
#### Document Details

⚠ *D

[2021-12-08 19:23] JamesTran-MSFT commented on #85016
@ChristianJBergstrom
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-08 19:38] JimacoMS4 commented on #72866
#reassign v-gpettibone

[2021-12-08 19:43] gabriel-alcantara commented on #29197
as @patriziobruno said, I needed the admin consent in my api permissions and it works perfectly on msdal lib to angular

[2021-12-08 19:45] JimacoMS4 commented on #73641
#reassign v-gpettibone

[2021-12-08 19:46] JimacoMS4 commented on #73641
@ash2017 Can you please assign another PM to work with Greg on this?

[2021-12-08 19:52] JimacoMS4 commented on #77185
#reassign v-gettibone

[2021-12-08 19:52] PRMerger14 commented on #77185
The following users don't have valid GitHub IDs, or are not collaborators on this repo: v-gettibone

[2021-12-08 19:53] JimacoMS4 commented on #77185
#reassign v-gpettibone

[2021-12-08 20:21] dianasm22 commented on #84376
Thank you again @NikaKinska and everyone for the help.  You may already close this issue.

[2021-12-08 20:22] MonikaReddy-MSFT commented on #85006
@v-reroed - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-08 20:46] laujan commented on #84273
Hi @SidneyPhoon, We are going to close this issue for now. However, if you are having challenges with the List Model feature, please reopen this ticket. Thank you!

#please-close

[2021-12-08 20:46] #84273 closed

[2021-12-08 20:54] GitaraniSharma-MSFT commented on #84992
@ishita-malik1 , I've updated the TOC title for this page to "Internal load balancer - Portal".
The change will take some time to reflect.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-08 20:54] #84992 closed

[2021-12-08 20:59] bearmannl opened #85018 "Integration page screenshot is now export page in the nav bar"
Hi,

The screenshot for configuring the Export storage account in the Azure API for FHIR menu, specifically shows an 'Integration' menu, which has now been moved out of 'Settings' and into 'Transfer and transform data', and the nav page itself is renamed to 'Export'.

Cheers,
Mike

![image](https://user-images.githubusercontent.com/29874229/145283468-af21b2d4-f731-4b64-9ab8-3728a4ba5acf.png)
![ima

[2021-12-08 21:06] jonwbstr commented on #84952
This is the article I was looking for. Guess I was just super unlucky.

Thanks!
-jon

On Wed, Dec 8, 2021, 1:25 PM kobulloc-MSFT ***@***.***> wrote:

[2021-12-08 21:35] vhorne commented on #50411
fixed
#please-close

[2021-12-08 21:35] #50411 closed

[2021-12-08 21:38] GeethaThatipatri-MSFT commented on #85018
Hi @bearmannl Thanks for your findings, I'm assigning this to the author for the feedback review.

[2021-12-08 21:44] vhorne commented on #52646
done
#please-close

[2021-12-08 21:44] #52646 closed

[2021-12-08 21:53] ravergarab opened #85020 "Invalid Query ID for OrdersV2 and same Query ID for different reports"
The query id for [Revenue report query](https://docs.microsoft.com/en-us/azure/marketplace/analytics-system-queries#revenue-report-query) and [Marketplace insights report query](https://docs.microsoft.com/en-us/azure/marketplace/analytics-system-queries#marketplace-insights-report-query) is both `6fd7624b-aa9f-42df-a61d-67d42fd00e92`.
Also, queryId `bd1b0cc1-ce45-4578-beba-6fe5a69fd421` for `Order

[2021-12-08 22:06] tom-fredricksonDM opened #85021 "Any updates on when the amr claim will be available in v2.0?"
It looks like this has been brought up for awhile. #62154

I'm raising this issue again because in a few months it will affect any Azure instance that uses v2.0 SSO to log into Salesforce. Beginning February 1, 2022, Salesforce will require customers to use MFA in order to access Salesforce products. When logging in with SSO, Salesforce checks the headers of OpenID and SAML assertions for an attri

[2021-12-08 22:09] mayurpuli commented on #84815
Thank you Gitarani Sharma!

[2021-12-08 22:17] spelluru commented on #84882
Working internally with Surabhi on this. Will update the article as needed.

#please-close

[2021-12-08 22:17] #84882 closed

[2021-12-08 22:24] eugen-nw commented on #61554
The sample is still missing.  Please see below the script that I'm using.  You'll get the idea of which certificates you want to remove by checking their layout in https://resources.azure.com  Look for "Microsoft Compute" -> virtualMachineScaleSets.  You can remove several of them in one shot, for example do the 3 calls in this sequence to remove the first 3: ```RemoveAt(2), RemoveAt(1), RemoveAt(

[2021-12-08 22:32] vhorne commented on #65841
#please-close

[2021-12-08 22:32] #65841 closed

[2021-12-08 22:33] chadmcox opened #85023 "custom user flows"
can you please update all references to **custom user flows** to be **custom policies**?

I have spent hours trying to customize something that isn't possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc7261c-bd34-03ef-cdff-4a994b8113a1
* Version Independent ID: 5d5f976e-bc4c-e256-18b5-d6262b9646ab
* Content: [M

[2021-12-08 22:34] stevemunk commented on #84941
This has been fixed in the docs, which should be available in the live site soon.

[2021-12-08 22:35] stevemunk commented on #84941
#please-close

[2021-12-08 22:35] #84941 closed

[2021-12-08 22:37] Grace-MacJones-MSFT commented on #84751
Hi @mirsaeedi , can you please elaborate on what you mean by "AddAzureStorage does not exist anymore"?

@ggailey777  can you please confirm this?

[2021-12-08 22:39] dozienwankwoh opened #85024 "Cognitive Search: Odata Filter or Search across multiple Edm.String fields in Collection(Edm.ComplexType)"
I have the following Index:

[code]

I am able to filter across all the application/L1 using:
`$filter=application/any(a: a/L1 eq 'House')`

In order to search across all "L's" (L1,L2,L3,L4), I am using:
[code]

Questions:
- Is there a more elegant way to filter across all the "L" fields? Maybe in one line?
- Am I able to search across the fields or am I limited to using filter?

[2021-12-08 22:41] Grace-MacJones-MSFT commented on #84801
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary.

[2021-12-08 22:47] DerekHerman-MSFT commented on #85017
Thanks for reporting this. I created a PR to fix the error and the changes should go live soon.

[2021-12-08 22:47] #85017 closed

[2021-12-08 23:01] JasonWHowell commented on #84984
The team is aware of the request for using diagnostic settings to export telemetry. It's in the backlog.

CC: @sidramadoss

[2021-12-08 23:01] JasonWHowell commented on #84984
#please-close

[2021-12-08 23:01] #84984 closed

[2021-12-08 23:19] JamesTran-MSFT commented on #85023
@chadmcox
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-08 23:22] dbona75 opened #85026 "Please include a troubleshooting section"
Please include a troubleshooting section to find out what logs to control,  etc, etc.
I couldn't make it work

Thanks
dabona@microsoft.com

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e38d28db-82a5-1222-3025-9487cc85f96f
* Version Independent ID: b298e6b4-c28c-68f4-ba24-397b7c98a0bb
* Content:

[2021-12-08 23:25] Garhag opened #85027 "Add a link to the required documentation"
In this document, it says, "When a server is upgraded to AADConnect 1.6, then the customer should reapply the rule changes that they applied when initially increasing the group membership limit to 250k before they enable sync for the server."

There should be a link to the instructions for this. If the person who made the rule changes is not available, then how is another person supposed to know w

[2021-12-08 23:29] dbona75 opened #85028 "OS Requirements"
Please also include a tested matrix :
I think this was not sufficiently tested

on what host pool / Os version is this supported ?

Windows Server : what version ?
Windows 10, 11 , all ??

------

Please include a troubleshooting section to find out what logs to control,  etc, etc.
I couldn't make it work

Thanks
dabona@microsoft.com

[Enter feedback here]

---
#### Document Details

⚠ *Do not edi

[2021-12-08 23:30] ggailey777 commented on #84751
The most recent version of Storage SDK, I believe, has broken each Storage service into separate packages. I will need to confirm and clarify this for extension versions 5+. @mirsaeedi thanks for the heads-up!

[2021-12-08 23:30] JamesTran-MSFT commented on #85027
@Garhag
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-08 23:31] ggailey777 commented on #84751
#assign:ggailey777

[2021-12-09 00:02] zmmille2 opened #85029 "Form Recognizer GA status inconsistent across Azure REST API and Azure Form Recognizer Documentation"
In [the Azure Form Recognizer Documentation](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-sample-label-tool), 3.0 is listed as a preview:

![3.0 is listed as a preview](https://user-images.githubusercontent.com/5898768/145310298-c65e4b9e-5e97-49a8-b7f0-f1f219cfd0d5.png)

However, in [the Azure REST API Documentation](https://docs.microsoft.com/en-us/re

[2021-12-09 00:03] MarileeTurscak-MSFT commented on #85003
@davidsandbrand
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-09 00:09] MarileeTurscak-MSFT commented on #85003
Thanks! I made a pull request to add a line break.

@memildin please review https://github.com/MicrosoftDocs/azure-docs-pr/pull/182318

[2021-12-09 00:09] #85003 closed

[2021-12-09 00:10] MarileeTurscak-MSFT commented on #85004
@davidsandbrand
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-09 00:16] MarileeTurscak-MSFT commented on #85004
Thanks! I made a pull request to update this with a valid example. https://github.com/MicrosoftDocs/azure-docs-pr/pull/182319

CC @memildin

[2021-12-09 00:16] #85004 closed

[2021-12-09 00:17] MarileeTurscak-MSFT commented on #85008
@CalvinRodo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-09 00:25] kiwibayer opened #85030 "IPs in multiple IP Class ranges within the same article"
the pictures in this article show different non related IP addresses and ranges.

e.g. it starts with addresses in the 192.168.x.x range
but then continues with IPs in the 10.x.x.x range

event though might be possible from a technical perspective it's still very confusing for a client.
ideally we would have a table on this page outlining the different IP addresses for the cluster and the roles.

[2021-12-09 00:26] SamaraSoucy-MSFT commented on #84727
I've put a PR to add a note that the quickstart isn't currently available with 2022. It will go live once it has been approved by the doc author.

[2021-12-09 00:26] #84727 closed

[2021-12-09 00:27] JimacoMS4 commented on #81864
Hi again @Master-Oliveira -- I just updated the topic to include links to the custom allocation tutorial and also linked to a couple of SDK samples.

[2021-12-09 00:30] #84738 closed

[2021-12-09 00:39] yutaro113 commented on #84711
Hi @JnHs , do you have any updates? We need this information to decide which urls should be allowed.
If It's better to discuss directly with PGs, could you please involve? Thank you very much!

[2021-12-09 00:40] SamaraSoucy-MSFT commented on #84808
I've submitted a PR to update the messaging. It will go live once the doc author has approved it.

[2021-12-09 00:40] #84808 closed

[2021-12-09 00:49] SamaraSoucy-MSFT commented on #84889
As mentioned in the doc, when the first two digits are 24 or greater, the format is dd:hh:mm otherwise it is hh:mm:ss. Since the "25:00:00" timestamp is above 24, it is measured in days. "01:00:00" is less than 24, so it is read in the hh:mm:ss format.

[2021-12-09 00:50] SnehaGunda commented on #84451
@BMichaelJ The "BackupPolicy" object from the "Get-AzCosmosDBAccount -ResourceGroupName {resourceGroupName} -Name {databaseAccountName}" command shows the type of backup mode supported by the account. However, this command currently doesn't expose the Migration state as CLI does. It will be released with the next version of PowerShell that could happen in late Jan or Feb.

I noticed an issue with

[2021-12-09 00:50] #84451 closed

[2021-12-09 01:04] zezha-msft commented on #84558
@normesta yes it's supported.

[2021-12-09 01:14] VikasPullagura-MSFT commented on #85030
@kiwibayer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-09 01:14] VikasPullagura-MSFT commented on #85030
@rajeshsetlem
Can you please check and add your comments on this doc update request as applicable.

[2021-12-09 01:15] VikasPullagura-MSFT commented on #85028
@dbona75
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-09 01:16] VikasPullagura-MSFT commented on #85026
@dbona75
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-09 01:16] VikasPullagura-MSFT commented on #85026
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-12-09 01:28] tdihp opened #85031 "OSM on Ingress configuration always replies 502 following this article."
If we follow the current article, nginx-ingress cannot access the bootstore API.

Adding below items makes it work:

[code]

Please note that this is already documented at the OSM project's nginx-ingress example: https://release-v0-11.docs.openservicemesh.io/docs/guides/traffic_management/ingress/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-09 01:33] jiajzhan commented on #81507
@bobsort For input IPA phone sequences "ʊɪ̯", "ʊɪ", it will generated the same audio. So I only put the phone "ɪ" on the doc. You could keep the "ʊɪ̯",  it is supported, but will be same with the input "ʊɪ".

[2021-12-09 01:36] gorankuk commented on #84823
You are correct, that was intention.

On Wed, Dec 8, 2021 at 8:08 PM Sneha Gunda ***@***.***> wrote:

[2021-12-09 02:27] SnehaGunda commented on #81851
@Shaun-Cox I made some updates in the above PR to remove duplicates.

#please-close

[2021-12-09 02:27] #81851 closed

[2021-12-09 02:56] tarunkumar01 commented on #14317
Is it still the same ? There isn't any extra cost associated with downloading VHD from a VM in Azure.
Please confirm.

[2021-12-09 03:08] kobulloc-MSFT commented on #84952
No worries!

[2021-12-09 03:23] BhargaviAnnadevara-MSFT commented on #84896
@madhu-pixel We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-09 03:23] #84896 closed

[2021-12-09 03:26] ecout opened #85032 "Azure API Management - Security Baseline - Section 1.4 has the same content and meaning as section 1.3 providing no new, necessary information"
This section:

- [1.4: Deny communications with known-malicious IP addresses](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/api-management-security-baseline?toc=/azure/api-management/TOC.json#14-deny-communications-with-known-malicious-ip-addresses) has the content of section [1.3: Protect critical web applications.](https://docs.microsoft.com/en-us/security/benchmark/azure/b

[2021-12-09 03:53] AjayKumar-MSFT commented on #84997
@soelchma, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-09 03:55] AjayKumar-MSFT commented on #84993
@Oddleif, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-09 04:03] #84760 closed

[2021-12-09 04:07] AjayKumar-MSFT commented on #84994
@catalinaperalta,  Thanks for bringing this issue to our attention! We are taking a look into this and will get back to you soon.
 -Thanks for raising this feedback here, jsquire.

[2021-12-09 04:16] kobulloc-MSFT commented on #84765
@skyline75489 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-09 04:16] sashizaki commented on #84965
I see.
I understood that this is the command to run from the command prompt.
Thank you for your comment.

[2021-12-09 04:24] AnuragSingh-MSFT commented on #84965
Thank you @sashizaki for the reply.

[2021-12-09 04:24] #84965 closed

[2021-12-09 04:28] GitaraniSharma-MSFT commented on #84291
Thank you for the update @AIGARSJ .

I checked internally and found the same issue reported by another customer and below is the investigation & solution provided by the product group teams:

Since this operation deals with 2 tenants (2 active directory trees), ARM needs 2 authentication tokens in the request. So when you submit an ARM template using PowerShell or CLI (where you log in only once),

[2021-12-09 04:34] AnuragSharma-MSFT commented on #84823
@gorankuk As mentioned by Sneha, we have limited control of exposing the libraries through this doc page, please let us know if any other details are needed wrt this.
@SnehaGunda Can we anyway escalate this to marketing team?

[2021-12-09 04:35] AnuragSharma-MSFT commented on #84890
@pmozbert Please let us know if you have any other queries and we will be delighted to help you there.

[2021-12-09 04:41] shashishailaj commented on #85021
@tom-fredricksonDM Thank you for bringing this to our notice. We will investigate and update the thread.

[2021-12-09 05:22] MayankBargali-MSFT commented on #85032
@ecout Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-09 05:25] RohitMungi-MSFT commented on #85029
@zmmille2 Thanks for spotting this. There seems to be inconsistency in the Azure REST API spec documentation which is part of a different [repo ](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/cognitiveservices/data-plane/FormRecognizer)on github. This document is actually correctly updated for v3.0 as preview. I will go ahead and raise a issue in the REST API spec doc repo

[2021-12-09 05:33] FaustoMendezcom commented on #49245
It worked on B1 for me.  Websocket on (settings ) default values on socket.io

[2021-12-09 05:46] SadiqhAhmed-MSFT commented on #85020
@ravergarab Thank you for reaching out to us. Please note that this channel (the [Azure Docs](Thank you for reaching out to us. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.) repository) is only for driving improvements related to the Azure documentation.

If you think this is a doc bug then we can review with the con

[2021-12-09 05:54] AshokPeddakotla-MSFT commented on #83662
@prabirkrsarkar We hope that address your query. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-09 05:54] #83662 closed

[2021-12-09 05:54] LuShuai commented on #61862
+1 same issue

[2021-12-09 05:58] georgeOsdDev opened #85033 "Question about Azure function slot settings"
There are `WebJobs content` in Non slot-specific settings list in this article.
But I think that we cannot create WebJobs in Function App. So it is confusing.

Also, the representation of this list is little bit different from the that of App Service documentation.
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped

---
#### Document Details

⚠ *Do n

[2021-12-09 06:03] bobsort commented on #81507
@jiajzhan No, What I meant was example doesn't seem to be correct for iy. but I checked and it is correct for `i:` thus Iran is correct example.  I'm not sure why SAPI elected to use 'iy' for `i:` and thus source of confusion as 'iy' is pronounced 'aey' which was the reason I left the comment.

For second table I was pointing at the curve under the alphabet ɪ̯, ʏ̯ and ʊ̯ and not the sequence itsel

[2021-12-09 06:05] HeinA commented on #47611
Hey @RyanHill-MSFT

I'm now also having difficulty in refreshing the Apple token.  May I also contact you at the above mentioned email address to resolve this issue?

Thanx

[2021-12-09 06:25] AjayKumar-MSFT commented on #85013
@cfizz34, Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-09 06:26] AjayKumar-MSFT commented on #85024
@dozienwankwoh, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-09 06:35] kate66666 opened #85034 "Update on "Authentication Step""
[Enter feedback here]
HI! I no longer see the "Authentication" tab on the left for the primary keys. It looks like things may have been updated - where can I find the new version of the authentication tab to proceed with the quickstart?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e

[2021-12-09 06:46] Karishma-Tiwari-MSFT commented on #85031
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-09 06:58] jiajzhan commented on #81507
@bobsort  It's a Diacritics in IPA, it's supported by MS TTS. You could try it with phoneme tag or custom lexicon. Bug as I have said, "ʊɪ̯", "ʊɪ" will have the same effect for the generated audio.

Could you share me cases doesn't work with phone 'ɪ'? Do you mean the generated audio is not as expected?

[2021-12-09 07:13] AshokPeddakotla-MSFT commented on #85034
[@kate66666](https://github.com/kate66666) Thanks for your feedback. Could you share the screenshot? UI is not changed and it still shows the authentication tab. 
![](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL8AAAG1CAIAAAAnZLKDAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAASdEVYdFNvZnR3YXJlAEdyZWVuc2hvdF5VCAUAADCYSURBVHhe7Z0LfBTVucC91arUB6wBwjsBkxAICQtBIoTwBkXegvGJtsR

[2021-12-09 07:17] ilikeyi opened #85035 "Languages overview Some paragraphs are not necessary and should be removed."
en-US
---------------------------
Languages overview
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/languages-overview

Considerations
-
   Important
-
   After you install a language pack, you have to reinstall the latest cumulative update (LCU). If you do not reinstall the LCU, you may encounter errors. If the LCU is already installed, Windows Update does not offer it agai

[2021-12-09 07:42] vlad610 opened #85037 "update storage account firewall requirements"
Neither the export feature or the import feature support storage accounts that have a fireall. The Export documentation mentions this: https://docs.microsoft.com/en-us/azure/azure-sql/database/database-export. But the Import documentation does not: https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import?tabs=azure-powershell. We got this feedback from engineering in internal IcM

[2021-12-09 08:43] eyoh5 opened #85041 "Host Encryption Enablement seems removed from Portal UI."
[Enter feedback here]
It seems host encryption enablement was removed from portal UI.
I could'nt find the host encryption enable option on preview portal, but creating a host encrypted VM is possible with CLI command.
![image](https://user-images.githubusercontent.com/42968991/145363013-3afb7dfe-225f-4bc8-a5a6-a0077c68a869.png)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-12-09 08:55] damianfijorek commented on #84986
Thank you. You make me aware that there are differences between in-process and isolated functions. [This](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#dependency-injection) makes it clearer. One big difference is that it's hard to make isolated work and most of the documentation or SO answers won't help you. _When you use cutting edge technology be prepared

[2021-12-09 09:15] AjayKumar-MSFT commented on #84769
yuriwoof, Apologies for the delay! Thanks for sharing the related Azure doc. We will get back on this shortly.

[2021-12-09 09:27] christianb7 opened #85042 "URL's for UK South"
Hi,

Please could you check URL's for **UK South**. I think they are incorrect as they refer to UK West for the following.

<html>
<body>

Log Blob storage | dblogprodukwest.blob.core.windows.net
-- | --
Event Hub endpoint | prod-ukwest-observabilityeventhubs.servicebus.windows.net

</body>
</html>

Thanks,
Chris
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-12-09 09:33] cpinotossi opened #85043 "More details about the Encryption at Host flow"
Hello,
would it be possible to provide more details about the flow in case of encryption at host [EAH].
My current understanding:
OS- and Data-Disk are stored on a Storage Host
Temp, Cache and Ephermel are stored on a VM Host
If I turn on EAH the Temp, Cache and Ephermel disk will be encrypted on the VM Host (Cache=CMK or PMK, Temp,Ephermel=CMK).

I believe it will be encrypted by both (just guess

[2021-12-09 09:43] cpinotossi commented on #85043
I missed to mention why this details are needed at all, even if it would be helpfully.
There is a documentation which does mention:

Encryption at host ensures that data stored on the VM host is encrypted at rest and flows encrypted to the Storage service. **Disks with encryption at host enabled are not encrypted with SSE**; instead, the server hosting your VM provides the encryption for your data

[2021-12-09 09:51] shelly-goel commented on #38625
We are having the same concern that we need the group name instead of group id. These groups will be synced with SSO external system and based on these groups users will get relevant permissions. With these meaningless names, this is not possible. The page to upvote is no longer available.

[2021-12-09 09:55] AnuragSharma-MSFT commented on #85037
@vlad610 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-09 10:25] Stevie-LeeTech commented on #42392
To avoid re-creating the VM you can remove the Azure AD extension,
Go to the VM, in the Settings section go to Extensions + Applications and remove the extension AADLogin.

[2021-12-09 10:27] AjayKumar-MSFT commented on #85035
@ilikeyi, Thanks for taking time to leverage Azure docs feedback channel to raise this question.
- This channel is reserved for ‘**Azure docs**’ feedback- for sharing doc feedback and suggesting content improvements.

Since your question is pertaining to Windows doc, you may leverage the "Email author" feature within the document, to send your feedback. So, we will close this thread.

Again, much

[2021-12-09 11:13] win32-shintaka opened #85046 "What does "servers" mean?"
[Enter feedback here]
In the first section, servers are mentioned as a target where Azure Monitor can detect. But it doesn't look correct in the context and I guess it should be "devices" rather than "servers". Can you clarify it?

Each Surface Hub has the Microsoft Monitoring Agent installed. Its through the agent that you can send data from your Surface Hub to a Log Analytics workspace in Azure

[2021-12-09 11:15] AjayKumar-MSFT commented on #85024
@dozienwankwoh, Adding more:

Because the granularity of your index is at the parent level rather than the child level, currently it is not possible pull only the child item from the list.
Alternatively, you could change the granularity of your index. Another option could be to keep your existing schema and then do a second layer of filtering of the */child at the application layer, to have only r

[2021-12-09 11:34] odee30 opened #85047 "Where can we find the Azure AD Domain Join artifact for dev/test labs"
[Enter feedback here]
Step 6 of the documentation references an Azure AD Join artifact however I cannot find this.  There is only a AD join artifact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d411465-b3f4-4ddb-4a3c-649fc86f21e0
* Version Independent ID: 61ddc008-e16e-7381-6d22-b7aeb10e5792
* Content: [Use Azure D

[2021-12-09 11:39] SrijitBose-MSFT commented on #84769
@yuriwoof , Did you mean that the file `/etc/udev/rules.d/75-persistent-net-generator.rules` already exists which is blocking creation of a symbolic link?

[2021-12-09 11:40] scoriani commented on #84938
There's no need for using a server login, a contained database user will work as well but db_datareader role is not enough for reading shard map metadata on the Elastic Query endpoint (although it is ok for accessing target tables in individual shards). Only on that database where your shard map resides, the contained user must have "ALTER ANY EXTERNAL DATA SOURCE" or be part of db_ddladmin or db_

[2021-12-09 12:39] xboxeer opened #85050 "Sample code miss ILogger log in function arguments"
sample code here
<img width="661" alt="image" src="https://user-images.githubusercontent.com/5089150/145397619-6e713510-0354-487d-bfec-30b411ae3e6b.png">
arguments are missing ILogger, add ILogger in arguments
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b610110-f417-3565-bbd6-35e90a567a2d
* Version Independe

[2021-12-09 13:01] KrishnaG-MSFT commented on #85046
@win32-shintaka Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-09 13:07] verboompj opened #85052 "Zone / Pool typo"
[Enter feedback here]
Line : https://docs.microsoft.com/en-us/azure/virtual-desktop/faq#can-i-set-availability-options-when-creating-host-pools-

If you select a zone for the VM you create in a host pool, the setting automatically applies to all VMs you create in that **zone**. --> last word of sentence: **zone** should be Pool , right?

Tnx

---
#### Document Details

⚠ *Do not edit this section.

[2021-12-09 13:07] Vipin-Sharma opened #85053 "What is Approximate GA date for integrating Kafka Connect with an event hub?"
As per document this feature is in preview, when can we expect GA for this feature?
I want to use Debezium in Azure. If we don't even have a rough guess/date I don't want to choose event hubs for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a585d03f-fa14-f78f-65d7-c8a92b6f1c1f
* Version Independent ID: 7420d0da

[2021-12-09 14:01] Svijay-msft commented on #84744
Hello @rifaterdemsahin

I had a quick check at the support ticket you had mentioned. From the backend logs, it appears like you've reached your Quota limit.

Reference : https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas

As suggest by the engineer, you could increase your Quota limit. You'll have to provide further information that has been requested on the Supp

[2021-12-09 14:01] #84744 closed

[2021-12-09 14:03] SimonF-MSFT opened #85057 "Skew Calculation"
Disclaimer - I am a Synapse CE, with deep background in MPP DW - APS and now SQL Pools.

The documented Skew calculation is a low value metric, meaning the level of uncertainty in the calculation result significantly reduces the value of the metric.

Comparing the documented calculation ((MAX - MIN) / MAX) to alternate calculation ((MAX - MIN) / SUM).

The legacy skew calculation that is still use

[2021-12-09 14:06] Svijay-msft commented on #84807
Hello @ashishmgofficial - Since there is mention that the connector is built on top of the Salesforce REST Api . I am assuming the referenced documentation of the Salesforce REST API should have the necessary permission requirement.

However, just checking with the author of the document - @jianleishen for thoughts on this.

[2021-12-09 14:13] ashishmgofficial commented on #84807
@Svijay-msft Sure, but the api is accessible when tested via Postman, which means it's ADF , who specifically requires some relevant permission. So technically, if it's any specific permission is required for ADF connector to work, it should be mentioned in the ADF Connector doc as prerequisite

[2021-12-09 14:13] Svijay-msft commented on #84428
@Damag3d - From your screenshot - I see that you have made use of Azure Integration runtime.

I checked for a SQL Connector and it works as expected as per the existing documentation.

From my testing and & Like mentioned in the below documentation.

https://docs.microsoft.com/en-us/azure/data-factory/connector-odata?tabs=data-factory

One of the pre-requisite for the ODATA connector to work from

[2021-12-09 14:13] Svijay-msft commented on #84428
@Damag3d - From your screenshot - I see that you have made use of Azure Integration runtime

Like mentioned in the documentation.

https://docs.microsoft.com/en-us/azure/data-factory/connector-odata?tabs=data-factory

[2021-12-09 14:16] RyanHill-MSFT commented on #85033
[@georgeOsdDev](https://github.com/georgeOsdDev), thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-09 14:18] RyanHill-MSFT commented on #85041
[@eyoh5](https://github.com/eyoh5), thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-09 14:18] Bafff commented on #46309
Can you add for your user account

Does that say that to successfully be able to Read/Contribute table data - there are 2 roles that are using AAD auth and not account  keys under the hood?

[2021-12-09 14:20] RyanHill-MSFT commented on #85050
[@xboxeer](https://github.com/xboxeer), thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-09 14:22] ThomasVandenbon opened #85058 "Classes replaced on .NET v3 SDK: What is the replacement for Microsoft.Azure.Documents.Document?"
On the [Migrate your application to use the Azure Cosmos DB .NET SDK v3](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dotnet-v3) there is the following section:

The word _"replaced"_ normally means that there is a replacement.
I'm looking for the replacement for `Microsoft.Azure.Documents.Document`, but cannot find it.

I have noticed that there is an **internal** `

[2021-12-09 14:23] AjayKumar-MSFT commented on #84976
mshyatsu, Thanks again for bringing this to our attention.
I have assigned the issue to the content author to review further and update the document as appropriate.

@genlin, Requesting your review and comments on this.
The following topics/blogs/article linked in this FAQs pointed to archived blog and the screenshots are broken

_Capture and analyze a dump file for high CPU consumption for Web Ap

[2021-12-09 14:46] #84812 closed

[2021-12-09 14:55] ravergarab commented on #85020
Hi @SadiqhAhmed-MSFT , I understood this as a documentation issue since two different reports have the same query ID. After requesting the report for that query ID, it appears that it's the correct one for Marketplace insights, making the Revenue report query impossible to request:
![Screen Shot 2021-12-09 at 7 54 32 AM](https://user-images.githubusercontent.com/12400227/145419289-0d82bf0c-11af-44

[2021-12-09 15:12] barclayn commented on #79364
#please-close

[2021-12-09 15:12] #79364 closed

[2021-12-09 15:15] dozienwankwoh commented on #85024
Thank you @AjayKumar-MSFT

[2021-12-09 15:15] #85024 closed

[2021-12-09 15:16] shanecastle-osharp commented on #82042
Thanks for the update. Will the content page be updated to reflect that? We refer customers to the official docs when questions like this come up. It would help us to have the current state in the document.

[2021-12-09 15:17] wealthz01 commented on #85024
Dozie.. 🥺
On Thu, Dec 9, 2021 at 4:16 PM dozie ***@***.***> wrote:

[2021-12-09 15:19] barclayn commented on #80423
@mmaitre314 thank you for your feedback. I split the article into two. One that lists services that support managed identities and one that lists services that support Azure Active Directory authentication https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-azure-active-directory-support

[2021-12-09 15:19] barclayn commented on #80423
#please-close

[2021-12-09 15:19] #80423 closed

[2021-12-09 15:28] j-martens commented on #85047
@sagarlankala - can you assist here please? thanks!

[2021-12-09 15:34] bengavin commented on #84938
@scoriani - Thanks for the update, I was able to get it working (thus far) without the 'alter any external data source', but it seemed to require the server level login for some reason (but to your point, I can't verify that something like a permissions setting didn't solve the problem).  I ended up with code that looks like this, setting up two different database roles, one for shard management a

[2021-12-09 15:42] GitHubUser1339 opened #85060 "Add examples of effect properties"
It would be very helpful when examples are provided for each of the effect properties. Not only how the json structure looks like, but also how an evaluation works.

The [document](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/author-policies-for-arrays) that explains the use of arrays for example does contain these kinds of examples.

---
#### Document Details

⚠ *Do not edit th

[2021-12-09 16:02] otero16 commented on #40680
Azure Front Door has certificate name(CN) check enabled, which leads the backend is unhealthy if the CN doesn't match. Is this intended to work with one Wildcard CN in the certificate?

For example: *.contoso.net

[2021-12-09 16:12] WilliamDAssafMSFT commented on #85057
Hi @SimonF-MSFT, as this is product feedback as opposed to documentation feedback, I'll close this issue and pass this along a note to the product team. You might also consider posting this feedback to the [Synapse Feedback](https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8#) site where this could be socialized and discussed more appropriately.

#please-close

[2021-12-09 16:12] #85057 closed

[2021-12-09 16:12] VikasPullagura-MSFT commented on #85052
@verboompj Thanks for the Feedback.
We will update the document.

[2021-12-09 16:17] barclayn commented on #80520
@ajaych-ms thank you for your feedback. We have created a DevOps work item to track it and make the necessary changes to the article.

[2021-12-09 16:17] barclayn commented on #80520
#please-close

[2021-12-09 16:17] #80520 closed

[2021-12-09 16:30] mikeblakeuk opened #85061 "Is reserved: true in the correct place?"
Should reserved be under **appSettings** or **siteConfig**
[code]
be
[code]

(Based on bicep.)
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate function app resource deployment to Azure](https://docs.mi

[2021-12-09 16:37] ShaikMaheer-MSFT commented on #85042
@christianb7 Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-09 16:56] zmmille2 commented on #85029
Sounds great, didn't know that documentation was also a GitHub repo. Thanks!

[2021-12-09 16:56] #85029 closed

[2021-12-09 17:37] MartinJaffer-MSFT commented on #84913
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-12-09 17:41] MartinJaffer-MSFT commented on #84913
The short answer, is that there is not currently a python version in the docs.  I _think_ it is possible to make a python version, but it will take a while to get it approved by the Databricks team and added to the docs.

[2021-12-09 18:05] vaughn-pworx commented on #84889
So, why the special case there for timepans? I think it would help to clarify a lot with some more examples related to this. For example, are these equivalent?
25:00:00
1.1:00:00

[2021-12-09 18:10] vaughn-pworx commented on #84889
Another example would be an odd number of hours, over one day. Let's say we are trying to schedule something every 36 hours. In this case we cannot specify this:
36:00:00
because this would translate to 36 days.

Instead we would need to specify something like this?
1.12:00:00

[2021-12-09 18:18] himanshusinha-msft commented on #85053
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-09 18:41] RyanHill-MSFT commented on #47611
Yes you can @HeinA

[2021-12-09 18:42] SnehaGunda commented on #83823
@Robert-Lauriston-at-Striim Thanks for sharing this info. I see the "v 3.10.3.2" is available as a marketplace solution in the Azure portal. This version is probably the same as "v 3.10.2". I will remove the JDBC instructions from the doc as this is the default supported version.

[2021-12-09 18:45] Robert-Lauriston-at-Striim commented on #83823
That's correct, thanks.

On Thu, Dec 9, 2021 at 10:42 AM Sneha Gunda ***@***.***>
wrote:

--
*This message contains information that may be privileged or confidential
and is the property of Striim, Inc. and its subsidiaries.  It is intended
only for the person to whom it is addressed.  If you are not the intended
recipient, you are not authorized to read, print, retain, copy,
disseminate, distribu

[2021-12-09 18:49] johnem-msft opened #85063 "Move-AzureReservedIP -ReservedIPName"
This is a great post and should be utilized as more customers are forced off of Classic this next year.

One of the things I noticed:
$validate = Move-AzureReservedIP -ReservedIPName 'Group CLASSIC1 IP' -Validate
$validate.ValidationMessages

The output is actually in $validate.Result ... or perhaps it's better to just output $validate as there are only 3x total fields:
OperationId
Result
Validati

[2021-12-09 18:53] kollimouni30 opened #85064 "Private Endpoint gets destroyed and recreated when terraform state file is refreshed"
Hello everyone,

I have deployed storage account and Private endpoint to storage restricting the public access through a single tfvars file.
If the same tfvars file is used for creating one more storage account, existing Private endpoint is getting destroyed and recreated though there are no changes in terms of configuration. Please help.

Need to understand what is the root cause of this issue. T

[2021-12-09 18:59] mronnlun opened #85065 "Azure Front door Path patterns limitation seems different from documentation"
The page says for Azure Front Door that "Path patterns to match for a routing rule" has a limit of 25 but I managed to add over 30 paths as described here [https://stackoverflow.com/questions/70292167/how-many-path-patterns-can-be-set-for-a-route-in-azure-front-door](https://stackoverflow.com/questions/70292167/how-many-path-patterns-can-be-set-for-a-route-in-azure-front-door) What is the correct

[2021-12-09 19:04] SnehaGunda commented on #83823
@Robert-Lauriston-at-Striim I submitted a PR above to address this issue. I don't think you can access the PR because it's a private repo. But changes will go live by EOD today.

We will now close this issue.
#please-close

[2021-12-09 19:04] #83823 closed

[2021-12-09 19:05] sagarlankala commented on #85047
Hi @odee30 ,

Thank you for reaching out. The artifact that we have in the repository is an AD domain join and not specific to the AAD domain join. Are you looking for AAD domain join or does AD domain join suffice?

Hi @j-martens - we should correct the documentation in Step 6 to say 'Active Directory domain join' and not 'Azure Active Directory domain join'

[2021-12-09 19:11] anaypurohit commented on #85021
IRT

[2021-12-09 19:22] SnehaGunda commented on #81756
@stephlocke @AnuragSharma-MSFT the Bulk executor library is GA'ed within the Java V4 SDK. It's best to migrate to this latest SDK to get the built-in bulk support. I will add a note at the beginning of the doc to mention this.

[2021-12-09 19:23] SnehaGunda commented on #81756
The above PR adds a note. Changes will be live by EOD. we will close this issue now.

#please-close

[2021-12-09 19:23] #81756 closed

[2021-12-09 19:23] sefriend commented on #84927
The BrokerResourceIdUri and BrokerResourceIdUriGlobal have been recently introduced for a new feature, but the feature has yet to be turned on so this is expected. When the feature turns on, you will see a difference between the BrokerUri and BrokerUriGlobal.

[2021-12-09 19:39] SnehaGunda commented on #83456
Looks like this issue is addressed and it doesn't result in a doc update. Closing it now.

#please-close

[2021-12-09 19:40] #83456 closed

[2021-12-09 19:42] GeethaThatipatri-MSFT commented on #85058
Hi, @ThomasVandenbon Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-09 19:52] ssghoda commented on #85024
Wow, I am surprised people are keeping track of closed issues @AjayKumar-MSFT :)

I am in the same boat. The problem is our schema is it is very tough to change the granularity of our index. Secondly, having a second filter at the application level doesn't make much sense too. Considering the index has around a million documents, if we first check at index level whether any document has particular

[2021-12-09 19:57] MonikaReddy-MSFT commented on #85065
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-09 20:03] stevelsd opened #85066 "Leaving an Organization as a guest user"
This issue has come up a number of times supporting Azure customers:
Regarding MS Article https://docs.microsoft.com/en-us/azure/active-directory/external-identities/leave-the-organization
1. "A guest user can't leave an organization if their account is disabled in either the home tenant or the resource tenant"

Because of this "disabled state":

"the guest user will need to contact the tenant adm

[2021-12-09 20:07] MonikaReddy-MSFT commented on #84910
@2ATCaroline - Looks like your account got restored but the DNS entries may not be restored properly hence you might have landed into this issue.

You can try to create a new automation account and it should work as expected. If not, please let me know.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this ma

[2021-12-09 20:07] #84910 closed

[2021-12-09 20:14] lobrien commented on #84968
#assign @nibaccam

[2021-12-09 20:15] rwike77 commented on #84198
@cveld   Sorry, I haven't been able to get to this yet.  Adding some more info/examples is a good idea, I'll try to get to it end of this month or early next month.  I've opened up an internal work item 1697649 for this work.  Closing this issue for now, will update the issue when the work is done.  #please-close

[2021-12-09 20:15] #84198 closed

[2021-12-09 20:15] lobrien commented on #84957
#assign @Blackmist

[2021-12-09 20:36] minnieshi opened #85067 "possible mismatch information"
[at the beginning of the article, it says below

but i think the details shows the secret scope was created using databricks-backed scopes, see below section (step 2)
Notice the screen shot which says "homepage/create secret scope", it is in databricks not in azure portal for keyvault

[see the details on the page step 2: Key Vault-backed secret scope](https://docs.microsoft.com/en-us/azure/databr

[2021-12-09 20:38] j-martens commented on #85047
The documentation has been corrected.

#please-close

[2021-12-09 20:38] #85047 closed

[2021-12-09 20:40] lobrien commented on #84122
#assign laobri

[2021-12-09 20:40] PRMerger14 commented on #84122
The following users don't have valid GitHub IDs, or are not collaborators on this repo: laobri

[2021-12-09 20:40] lobrien commented on #84122
#assign lobrien

[2021-12-09 20:43] MarileeTurscak-MSFT commented on #85066
@stevelsd
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-09 20:45] lobrien commented on #83793
Documentation workitem created https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1894883

#please-close

[2021-12-09 20:45] #83793 closed

[2021-12-09 20:51] MarileeTurscak-MSFT commented on #85066
This is valuable feedback. I created an internal work item to bring this up with the product team as a feature request. You are also encouraged to create your own feature request in the newly revised Ideas forum. https://feedback.azure.com/d365community

I'll update this thread when there is traction on the issue. You can also tag me here or send me an email if you create your own work item so tha

[2021-12-09 20:52] lobrien commented on #82813
#please-close

[2021-12-09 20:52] #82813 closed

[2021-12-09 20:53] lobrien commented on #82244
#please-close

[2021-12-09 20:53] #82244 closed

[2021-12-09 20:59] lobrien commented on #81906
#please-close

[2021-12-09 20:59] #81906 closed

[2021-12-09 21:00] dannyevers commented on #85020
Emailed the PM doc owner for assistance.

[2021-12-09 21:02] lobrien commented on #80968
@assign lobrien

I will create a documentation workitem for this, and coordinate with Bala and Sethu.

[2021-12-09 21:03] lobrien commented on #80968
@assign lobrien

[2021-12-09 21:08] lobrien commented on #80968
WI created https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1901499

#please-close

[2021-12-09 21:16] SnehaGunda commented on #80824
@haripraghash Yes periodic backup can also be updated using PowerShell, CLI, & ARM templates. I updated the doc in the above PR. Changes will go live by EOD today.

#please-close

[2021-12-09 21:16] #80824 closed

[2021-12-09 21:24] Nikash opened #85071 "Data Factory with Private Endpoint docs update"
The section for `Private DNS integration` needs to be updated to say `privatelink.datafactory.azure.net` instead of `privatelink.azurewebsites.net`. Additionally if being accurate, it's also missing the section about resource group selection for private DNS zone (only talks about subscription).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-12-09 21:31] v-asymes opened #85072 "email notification"
Can we sign up for email notifications when new update is roll out.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5cd9ff6-a28b-8e40-83b5-7ef4fd24db48
* Version Independent ID: bb50c22c-c945-0ec9-17bf-6921e87c41a4
* Content: [What's new in Azure Site Recovery - Azure Site Recovery](https://docs.m

[2021-12-09 21:32] v-asymes opened #85073 "email notifications"
Can we sign up for email notifications when new update is roll out.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5cd9ff6-a28b-8e40-83b5-7ef4fd24db48
* Version Independent ID: bb50c22c-c945-0ec9-17bf-6921e87c41a4
* Content: [What's new in Azure Site Recovery - Azure Site Recovery](https://docs.m

[2021-12-09 21:35] AbeOmor commented on #84117
@pnarsi Can you clarify what you are trying to achieve? Are in trying to clone internal Git Repos only available on a company-specific VNET? This should be possible.  Are you running into any issues?

[2021-12-09 21:35] JustinGrote opened #85074 "Latte.exe is no longer available as the link goes to Technet"
Latte.exe is no longer available as the link goes to Technet
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a77eb3-1f6d-0fee-7d77-44a56fdb78b0
* Version Independent ID: 66f67a40-fcb3-9549-63fc-295e330a9c56
* Content: [Validate VPN throughput to a virtual network - Azure VPN Gateway](https://docs.microsoft.com/en-us/az

[2021-12-09 21:39] SnehaGunda commented on #84823
@AnuragSharma-MSFT I don't know who the point of contact is, probably start with someone on the Cosmos DB marketing side or another marketing contact you know. I am closing this issue as it doesn't result in a doc update. Feel free to reopen if it needs attention.

#please-close

[2021-12-09 21:39] #84823 closed

[2021-12-09 21:46] minnieshi commented on #85067
I think I now understand it better; I am guessing the 'databricks secret scope' is about a scope named ```abc``` which is linked to a backend keyvault such as az keyvault. and this 'scope' is to control which keyvault to access, am i right?

[2021-12-09 22:00] robhalevt opened #85076 "Schema appears incomplete"
The portal provides the option of a **Secure Webhook** action which doesn't appear to be covered by the schema on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3857ba93-4cb3-88db-c678-754fcb8e49f5
* Version Independent ID: 53bde45e-aa04-3db9-54a5-f97f7c7d762d
* Content: [Create action groups with Resource M

[2021-12-09 22:19] v-gpettibone commented on #72866
Hi @rido-min, I updated the documentation with an additional note. Please go to https://github.com/MicrosoftDocs/azure-docs-pr/pull/182445 to see the changes.
Thanks,
Greg

[2021-12-09 22:19] DerekHerman-MSFT commented on #85041
@eyoh5 I investigated but was able to select the option using the same VM type and region. Could you try a different browser and confirm you are using the appropriate URL?
![image](https://user-images.githubusercontent.com/65573242/145484693-ae29827b-3559-4feb-aa19-1e2d92a06fb6.png)
https://portal.azure.com/?feature.enabledoubleencryption=true&feature.enablehostbasedencryption=true#create/Microsof

[2021-12-09 22:33] bml1g12 commented on #82701
I was looking to make a simple application whereby the user can speak things in Japanese and entities and intents are recognised. I can train the appropriate entity and intent recognition in LUIS, but could not see how to integrate it into custom commands. As the prebuilt entities for Japanese are limited, I would often need to create my own and cannot rely on the prebuilt ones.

[2021-12-09 22:54] bsantacruzms opened #85077 "Rephrasing document"
Under the following section:
Reservation scoping options

The current paragraph says
"You have three options to scope a reservation, depending on your needs:"

However, there is a list of four items after, I would suggest rephrasing this to:
"You have **four** options to scope a reservation, depending on your needs:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-12-09 23:02] James-Hamil-MSFT commented on #84768
Hi @pwalleni I'm awaiting a response from the product team. I will let you know when I have an answer.

Best,
James

[2021-12-09 23:08] James-Hamil-MSFT commented on #84786
Are you sure you have the right article linked? Nothing is coming up for me here:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/69171367/145489934-d997fca7-9b40-4b8c-8972-0f5a9747437d.png)

[2021-12-09 23:11] quanster opened #85078 "Application Logging requires greater clarity"
table comparision for Application Logging shows Filesystem and Blob for both Windows/Linux.

in the example showing linux only Filesystem is shown.  The table should clarify any restrictions with Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c43

[2021-12-09 23:25] v-gpettibone commented on #73641
Hi @jakereifer, per our email exchange and your agreement about the changes I made previously, I am closing this issue.

[2021-12-09 23:26] v-gpettibone commented on #73641
#please-close

[2021-12-09 23:26] #73641 closed

[2021-12-09 23:33] pnarsi commented on #84117
Thanks @jpe316 @AbeOmor for clarifying that it is the AML Compute Instance that needs connectivity to the git repo in order to enable the cloning. We are in the middle of deploying our first AML instance and working out the required network connectivity between the different components (so that we can lock it down it get it reviewed by our Security team) has been a quite a challenge.

[2021-12-09 23:33] #84117 closed

[2021-12-09 23:45] GeethaThatipatri-MSFT commented on #85058
@ThomasVandenbon I'm assigning this to the author for the feedback review.

[2021-12-09 23:54] ChaitanyaNaykodi-MSFT commented on #85074
Hello @JustinGrote
Thank you for your feedback! We will review and update as appropriate.

[2021-12-10 00:14] ChaitanyaNaykodi-MSFT commented on #85063
Hello @johnem-msft
Thank you for your feedback! We will review and update as appropriate.

[2021-12-10 00:28] ChaitanyaNaykodi-MSFT commented on #85074
Hello @JustinGrote, thank you for pointing this issue out to us. I have updated the link to point to -> https://github.com/microsoft/latte/releases/download/v0/latte.exe (Just FYI "Latte.exe" will get downloaded when you click this link). We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-12-10 00:28] #85074 closed

[2021-12-10 00:30] James-Hamil-MSFT commented on #84798
Do you have the support ticket number? What did the support engineer say? This is definitely something that needs support. I can reach out to the person you spoke with to see if I can find you a fix.

Best,
James

[2021-12-10 00:30] xujiongda opened #85082 "Hit 1000 core limit when increase workspace-level quota"
Our customer tried to increase vcore more than 1000.
But they had the issue that the quota request only support value under 1000.
I checked with Azure Synapse Analytics support team.
They said customers can talk with case owner and increase it manually.
And it looks like this kind of misleading happened several times in other countries too.
I think we should improve the document that avoids this k

[2021-12-10 00:43] deangarcia opened #85083 "Problem in instructions"
I am getting the following error when trying to run the docker compose up

cannot use ACI volume, required driver is "azure_file", found ""

can this page provide context on this type of error

thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version In

[2021-12-10 00:54] aazeez442 commented on #82701
@bml1g12 To integrate your custom built entities into Custom Commands, you can use "String" as the parameter type and set configuration as "Accept predefined input value from internal catalog" and create your own parameters. Including screenshot.

For .lu file integration with CC, we currently do not provide support for that at the moment but do let us know if you require any further assistance. T

[2021-12-10 00:59] laujan commented on #84935
Hi @tjprescott,

Thank you for your feedback. I will refactor the quickstart code and submit the changes via a PR today. I will let you know when the changes are available on our live site.

Thanks again!

cc: @RohitMungi-MSFT

[2021-12-10 01:09] psierak opened #85084 "Disable Verification is missing"
[Enter feedback here]

I made mistake. The "local account sign up page" in the pages table did not look like a clickable link.. it is.
Docs are good!

Select User flows.
Select the user flow for which you want to disable email verification.
Select Page layouts.
Select Local account sign-up page.
Under User attributes, select Email Address.
In the Requires Verification drop-down, select No.
Select

[2021-12-10 01:09] bmansf commented on #84798
James,

The ticket is 28700825.  I have already gotten control over the domain.  It would probably be good if the documentation was updated to specify what conditions are needed to perform the forced take over, or update the process so it works correctly.

Bryan G. Mansfield
Technician / System Administrator
PC Colorado, Inc.
1725 North Weber Street
Colorado Springs, Colorado 80907
Phone - 719-475

[2021-12-10 01:11] tamram commented on #84792
@ojintoad - Thanks for the suggestion. This change is now live.

[2021-12-10 01:16] chshihMSFT commented on #83456
(Offline discussing)
Hi @ThomasWeiss,
Do we have any update from eng team? Thanks.

[2021-12-10 01:19] MonikaReddy-MSFT commented on #85072
@v-asymes -
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-10 01:21] tamram commented on #84792
#please-close

[2021-12-10 01:21] #84792 closed

[2021-12-10 01:22] MonikaReddy-MSFT commented on #85073
@v-asymes - Thanks for bringing this to our attention. I see that you have raised the same issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/85072). We are going to answer it there, hence closing the issue here.

Thank you,

[2021-12-10 01:22] #85073 closed

[2021-12-10 01:23] ThomasWeiss commented on #83456
@chshihMSFT Not yet, I've verified through some tests that it works, but I need to confirm that this is intended or accidental.

[2021-12-10 01:24] MonikaReddy-MSFT commented on #85077
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-10 01:26] MonikaReddy-MSFT commented on #85077
@bsantacruzms - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-10 01:26] #85077 closed

[2021-12-10 01:26] #85084 closed

[2021-12-10 01:57] bsantacruzms commented on #85077
Thank you for the follow-up, I will keep contributing to improve our documentation.

[2021-12-10 02:22] rockboyfor opened #85085 "Confirm the Maximum nested conditionals count of Azure policy rule on Azure China(https://portal.azure.cn)"
Hi colleague,

Our customer encounter the following issue when creating azure policy in Azure China portal(**`https://portal.azure.cn`**):

Name: **Creating policy assignment failed**
![image](https://user-images.githubusercontent.com/4704301/145503553-712c1e8d-0459-4693-bd09-67b5dd366a18.png)

Actually, we check the Azure Policy limits and find it describe the Maximum count equal to 512.
`https:/

[2021-12-10 02:29] SnehaGunda commented on #84729
#reassign:@SnehaGunda

[2021-12-10 02:30] SnehaGunda commented on #84823
#reassign:@SnehaGunda

[2021-12-10 02:30] SnehaGunda commented on #84302
#reassign:@SnehaGunda

[2021-12-10 02:31] SnehaGunda commented on #83823
#reassign:@SnehaGunda

[2021-12-10 02:34] SnehaGunda commented on #84729
@mjanofsky The above PR fixes the screenshot and some text. Changes will go live in a day. We will close this issue.

#please-close

[2021-12-10 02:34] #84729 closed

[2021-12-10 02:34] SnehaGunda commented on #83327
#reassign:@SnehaGunda

[2021-12-10 02:35] SnehaGunda commented on #83068
#reassign:@SnehaGunda

[2021-12-10 02:36] SnehaGunda commented on #82438
#reassign: @SnehaGunda

[2021-12-10 02:37] SnehaGunda commented on #81756
#reassign:@SnehaGunda

[2021-12-10 03:40] CHEEKATLAPRADEEP-MSFT commented on #85071
@Nikash  Thanks for the feedback! We are investigating and will update you shortly.

[2021-12-10 03:42] CHEEKATLAPRADEEP-MSFT commented on #85082
@xujiongda  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-10 03:46] AnuragSharma-MSFT commented on #84890
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-10 03:46] #84890 closed

[2021-12-10 03:49] CHEEKATLAPRADEEP-MSFT commented on #85067
@minnieshi Yes, your understanding is correct.

![image](https://user-images.githubusercontent.com/79183421/145514211-03bc5281-3394-4525-8084-481e648a1b36.png)

Hope this helps.

[2021-12-10 03:56] AjayKumar-MSFT commented on #85043
cpinotossi, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 03:57] AjayKumar-MSFT commented on #85060
@GitHubUser1339, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 04:00] AjayKumar-MSFT commented on #85078
@quanster,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 04:02] AjayKumar-MSFT commented on #85064
@kollimouni30, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

-This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-10 04:10] AjayKumar-MSFT commented on #85061
@mikeblakeuk, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 04:12] jcetina opened #85087 "Output binding using python list is not supported"
The suggestion that you can output to a service bus topic using a list with your output parameter from python seems to be inaccurate. Please review attached screenshots.

From this page:
![Screen Shot 2021-12-09 at 7 56 16 PM](https://user-images.githubusercontent.com/2524571/145515744-9975e7ad-acb2-4829-bc66-4b2b69e04ab4.png)

From my function app logs:
![Screen Shot 2021-12-09 at 7 56 27 PM](htt

[2021-12-10 04:17] SrijitBose-MSFT commented on #85083
@deangarcia , thank you for sharing your concern with us.

This article mentions the supported volumes for Azure Container Instances.

----
Hope this helps!

[2021-12-10 04:30] KrishnaG-MSFT commented on #85060
Assigning @georgewallace for visibility, review and document enhancement consideration as appropriate.

[2021-12-10 04:38] johnstaveley commented on #76269
Completely agree, I thought I was missing a NuGet package or namespace. There are no details on how to implement these classes or what they do.

[2021-12-10 05:05] vipulsparsh commented on #85021
@tom-fredricksonDM Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-10 05:13] John-HLC commented on #84116
@RyanHill-MSFT  - I updated to .NET 6.. and as you said no change.
Thank you for checking in on this every now and then but I've been trying this now for 3 months (since mid October).  I'm about to scrap the whole Static Web App thought and go back to standard hosting in a classic storage account.

I'm thinking it might be a good idea to update the documentation saying Static Web Apps are NOT reco

[2021-12-10 05:14] ojintoad commented on #84792
awesome - ty

[2021-12-10 05:27] shashishailaj commented on #84388
I hope the above recommendation provided by the content team works for you . The team have been informed about adding it on the page and they will take action accordingly .

[2021-12-10 05:27] #84388 closed

[2021-12-10 05:34] nitinkhandelwal26 opened #85088 "Can we implement Global VNet Peering instead of a virtual network gateway When availability group replicas are on Azure virtual machines in different Azure regions?"
Can we implement Global VNet Peering instead of a virtual network gateway When availability group replicas are on Azure virtual machines in different Azure regions while configuring Always on in different Azure regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e51bc6-b077-a976-c890-a02e7d71b88e
* Version Indepe

[2021-12-10 05:38] madsd commented on #64660
All regions except for West Europe and South Central US now have the fix deployed. I'll update the issue once we have the last two regions done.

[2021-12-10 06:10] SnehaAgrawal-MSFT commented on #84713
@mshyatsu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.